[2020-01-02 23:30] cathyxz commented on #26176
IIRC, the experiment never launched. I advocated directly removing it after we removed the documentation, but not sure what the current process is anymore. I was mostly joking about the "approve". =P

Re: @newmuis, we implemented / intend to implement the following:
- Swipe to dismiss (ported back to 0.1)
- `amp-nested-menu` as a child of `amp-sidebar`.
- @wassgha 's port of a11y changes, minimal,

[2020-01-02 23:35] cathyxz opened #26196 "Add an example for always-open sidebar in documentation"
For example: https://codepen.io/leafsy/full/RwbgWVe

[2020-01-02 23:59] zhouyx opened #26197 "amp-consent: Allow fullScreen prompt only with user interaction"
Based on recent discussion, the `<amp-consent>` is applying the new check to only allow `fullScreen` API after user interaction.

The decision was made because of two reasons
1. Security Concern. Avoid full screen embedded iframe without user interaction.
2. UX Concern, Better user experience. A non blocking prompt that takes up to 30vh is recommended based on our UX study. (Having the initial pro

[2020-01-03 05:18] wassgha commented on #26176
/cc @caroqliu
Thanks @cathyxz !

[2020-01-03 07:44] andrejoblakceltra commented on #24542
Hey @micajuine-ho, thanks for looking into the issue

For me the behavior is very different across different browsers. In Firefox clicking on a video pauses / resumes the video, but does not send an analytics event. While in Chrome clicking on the video send the analytics event, but does not pause / resume video. Very inconsistent behavior. That's with dev tools closed at all times.

We already ex

[2020-01-03 08:29] jawadst commented on #26197
@zhouyx
Thanks for keeping us updated! Chiming in here as Maxime is OOO this week.

Fullscreen consent collection (ie dialog / popin) is a very important feature for publishers as it forces users to make a choice (whether positive or negative) and has a direct impact on publishers' revenue. A fair amount of our publishers use this option and it would be very disappointing to them and a big limit i

[2020-01-03 12:22] demil opened #26199 "AMP timer to auto load javascript for PWA after page loaded"
I know how to use service workers and to make AMP page entry page and every other link as entry to PWA, but why we should not have possibility to have all of AMP  which will load our PWA script to rehydrate all html after everything has loaded, so we will have best of both worlds in single request, fast loading AMP page and then rehydrate to PWA after everything has loaded.

It can be simple as si

[2020-01-03 13:59] andresilveirah commented on #26197
Hi @zhouyx thank you for the heads up.

I'm with @jawadst in that one. Since some publishers rely entirely on revenue coming from ads, and those publishers are taking the right path of informing the user about it, it'd be fair to allow them to block users from navigating further without a concrete decision (consent or reject).

I believe, if `<amp-consent>` enforces the "bottom message" as default

[2020-01-03 16:31] Joelsz opened #26200 "amphtml-validator does not work behind a proxy"
## What's the issue?

The amphtml-validator does not work behind a corporate proxy, it fails with general proxy error which could easily be resolved when using curl, however, amphtml-validator does not support those options.

Please fix by accepting more arguments or provide a usable workaround.

## How do we reproduce the issue?
[code]
Using local validator JS
[code]

## Which AMP version is affe

[2020-01-03 16:34] honeybadgerdontcare commented on #26200
@Joelsz would you be willing to provide the workaround? It would be great to have you contribute to the AMPHTML Validator.

[2020-01-03 17:24] Joelsz commented on #26200
I guess the easiest workaround would be to accept proxyHost and proxyPort (and credentials?) and pass it along to the [clientModule.request()](https://github.com/ampproject/amphtml/blob/master/validator/nodejs/index.js#L118).

I have not contributed to an open source project yet, if you can guide me on how to get started I can look into this.

[2020-01-03 18:39] honeybadgerdontcare commented on #26200
This may the place to start [contributing code](https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md). If it's overwhelming that's okay, we can work with you through the Pull Request process.

[2020-01-03 18:59] zhouyx commented on #26197
Add @yoannOgury @PierigOgury as well.

[2020-01-03 19:12] zhouyx commented on #26197
Thank you both for the feedback! I do understand that blocking consent dialog is a common pattern (I see that a lot), and I agree with both of you that it should eventually be publishers call.

The two reasons we want to put restrictions on fullScreen are 1. security concern, 2. bad user experience due to flicker UI from initial height to fullscreen. To add on top of that, AMP does support blockin

[2020-01-03 19:57] sparhami opened #26203 "Look into using touch-action instead of gestures code"
We currently use some custom JavaScript for handling gestures like left/right swipes, double tap, etc.:

https://github.com/ampproject/amphtml/blob/master/src/gesture.js
https://github.com/ampproject/amphtml/blob/master/src/gesture-recognizers.js

There have been some bugs with the code in the past, and there is currently at least one issue: https://github.com/ampproject/amphtml/issues/22533

Anot

[2020-01-03 22:04] Gregable opened #26205 "I2I: Change AMP Cache Origins"
## Summary

A small number of document origins on the AMP Cache will change to a new origin to improve readability of AMP Cache origns.

## Background

See [AMP Cache URL Format](https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cache-urls/), specifically the section "Domain Name Prefix" for the current AMP Cache origin mapping.

When a document is served on the AMP

[2020-01-03 22:15] rcebulko opened #26206 "I2I: Publishing LTS Release Schedule"
Per https://github.com/ampproject/amphtml/issues/25578 , we're introducing a new "LTS" release channel which is updated once approximately every 4 weeks, adjusting for code freezes where needed. We should have some way to publicly provide the weeks in which releases will be promoted to LTS.

Ideas:
- Calendar/table of weeks, manually updated (infrequently) to account for code freezes
- RSS feed

I

[2020-01-03 22:15] rcebulko commented on #25452
If there's time, we'd like to get some input on [how to publicize the LTS promote schedule](https://github.com/ampproject/amphtml/issues/26206)

/cc @ampproject/wg-infra

[2020-01-04 16:12] Malvoz commented on #24821
While this is feature specific, there's also #20433. FYI.

[2020-01-04 16:23] Malvoz commented on #20433
There's a "force reduce motion" snippet in https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites (that CSS snippet was the result of discussion in https://github.com/mozdevs/cssremedy/issues/11).

[2020-01-05 22:48] suntong opened #26211 "amp-iframe won't render if positioned before first visible viewport threshold (72vh/600px)"
## What's the issue?

Please take a look at
https://output.jsbin.com/guyigetegi

Which contains several `amp-iframe`s.

The problem is that, there are huge gaps between them, and while looking at the source, https://jsbin.com/guyigetegi/edit?html,js,console, I don't see anything that might have caused the huge gaps.

How to make the `amp-iframe`s next to each other without gaps? Thx.

[2020-01-05 23:17] micajuine-ho opened #26214 "Fix amp-consent e2e flakey test"
fix test-amp-consent-server-side-expire-cache.js from flaking on travis.

[2020-01-06 00:16] takien commented on #25194
Any fix for this problem?

[2020-01-06 16:09] rcebulko commented on #25937
Where should something like this live? I'm not too familiar with the structure of `amphtml`. Something standalone like `src/releases.js`? Is that accessible from `ads`?

[2020-01-06 16:33] danielrozenberg commented on #26206
I think a simple listing of dates that we update once a year would be fine, with an asterisk saying that those dates might change at the decision of the TSC for emergencies, etc (basically same asterisk that we have for the stable channel). I think it should be easy enough to figure out the listing for the whole year, and shift +1 weeks when we have release freezes (e.g. because of holidays or con

[2020-01-06 18:14] cramforce commented on #26205
I'm not 100% sure this needs to be approved by the AMP Project. But it definitely LGTM.

CC @ampproject/tsc for awareness.

[2020-01-06 18:19] jpettitt commented on #24651
I've been working on the implementation of this, it's mostly as the design doc with the exception of the data format.  The new format looks like this:

[code]

By keying on the button ID it simplifies the code to just pass the element ID to the action the platform code.  In addition by having the `carousel` object be the params for the `showOffers()` it allows the publisher maximum flexibility in

[2020-01-06 18:24] jpettitt commented on #24651
@alin04 PTAL and let me know if you see any problems with updateSubscription on this data model.   It would be fairly easy to add the oldsku sku and proration model to this design to allow users to create dynamic update buttons in AMP.

[2020-01-06 18:33] #25343 closed

[2020-01-06 19:42] micajuine-ho commented on #26186
Hi @thedotedge. Thank you for your issue report.

After looking into it, it seems that you are trying to add a click event to an anchor element inside amp-story, and also attach analytics triggers to it.

The correct way to do this is to use [`<amp-story-cta-layer>`](https://amp.dev/documentation/components/amp-story-cta-layer/). An example can be seen [here](https://github.com/ampproject/amphtml/

[2020-01-06 19:42] #26186 closed

[2020-01-06 19:53] kristoferbaxter opened #26224 "Error: failed to build: amp-analytics#3: a.getPlaceholder is not a function"
https://go/ampe/CLfd-KWxtZ2nOg

[code]

[2020-01-06 20:08] Gregable commented on #22543
This thread stalled a bit on determining the best timeout value for the CSS animation. I'd like to revisit the `onerror` handler. I recommend that if folks are still interested in the timeout we start a new issue for that discussion.

To add some more detail, I did some testing with the following setup. I added to a document head the following:

[code]

This doesn't execute due to CSP as mentioned

[2020-01-06 20:24] mrjoro commented on #25449
@sebastianbenz did y'all put together the Outreach WG update for this design review?  Can you add a link to it here?

[2020-01-06 20:45] samouri commented on #25476
The documentation has been updated and we've been emitting warnings since early Nov (https://github.com/ampproject/amphtml/pull/25454). I think its fair to fully remove support for the older method of opting in to amp-script dev mode now.

I'll open a PR

[2020-01-06 20:53] iparamonau opened #26226 "I2I: AMP-Iframely component"
Please refer to PR #26151. This I2I describes the component in the PR.

## Summary

AMP support of the widgets provided and hosted by Iframely service (https://iframely.com).

## Motivation

Iframely is SaaS that aggregates widgets and embed codes from third party publishers. We support over 2000 rich media providers, and generate card previews for other URLs.

Our users include top media companie

[2020-01-06 20:55] #26004 closed

[2020-01-06 21:11] amaltas commented on #26170
seems to be working.

[2020-01-06 21:11] #26170 closed

[2020-01-06 21:21] alanorozco commented on #26226
Thanks for filing this issue.

Some more thoughts coming later, but could you please specify what this component does, that [`amp-iframe` doesn't?](https://go.amp.dev/c/amp-iframe)

[2020-01-06 21:31] alanorozco commented on #26226
Thanks for filing this issue. More details needed.

What kind of widgets? Apart from URL construction and resizing, is there any sort of integration with AMP documents specific to the use cases of the widgets?

Could you specify which, or are these mentioned here already?

Which scenarios? AMP denies resize requests unless the component is not in viewport to prevent content shifts. This should be

[2020-01-06 21:39] rsimha commented on #26087
It turns out that there was no new canary cut during the holiday release freeze. Release 1912180046560 is still out to 1%, and should be promoted to stable this week.

Reopening this and assigning to @kristoferbaxter, who is on-duty.

[2020-01-06 21:41] kristoferbaxter commented on #26226
Following up on @alanorozco's comment, I'd like to see this go to design review.

This appears from my quick glance to violate the 2nd principle listed here (https://amp.dev/about/how-amp-works/) "Size all resources statically".

[2020-01-06 21:45] kristoferbaxter commented on #26087
Thanks @rsimha! Makes sense.

[2020-01-06 21:49] brycesteinhoff commented on #25344
We also would like to be able to dynamically create `amp-iframe` from `amp-script`. We need some control over which iframe is loaded.

[2020-01-06 22:27] kristoferbaxter commented on #25987
https://github.com/ampproject/amphtml/releases/tag/1912201827130 has been promoted to LTS.

[2020-01-06 23:21] iparamonau commented on #26226
Thanks @alanorozco. The suggested component doesn't need to integrate with any other AMP components.

One of the main Iframely features is ability to find embed code with only canonical URL and API key. So, it's in no way a duplicate of `amp-iframe`.

We'll need to review what cloud features are missing at the moment and add them in v0.2 as needed. For now, sizing and decorating of the iFrames is

[2020-01-06 23:26] kevinkimball commented on #23575
The referenced code in the trace (`mode.js`) sets variables on the `window`, not the document, which starts to explain how this might happen. We set an `originalHash` variable during bootstrap that might not yet be set, causing the error.

@Joelsz can you provide more information about the PWA router you are using?

[2020-01-06 23:55] jridgewell commented on #22543
Sounds fine to me.

Nit: This is likely the shortest solution, and requires no changes if we update the boilerplate CSS with something else later on.

[code]

[2020-01-06 23:57] Gregable commented on #22543
@jridgewell as far as I could determine, the CSP sha256 stanza doesn't work with strings inside an `onerror` attribute. It's possible I made some other mistake, but it didn't work with my quick tests.

[2020-01-07 00:07] dvoytenko commented on #22543
@Gregable @jridgewell even if we can't shad256 an inline `onerror` handler, we could combine these two ideas:

[code]

It kind of has a logic feel to it and it looks similar to script/noscript. Though in reality the difference is probably pretty small.

[2020-01-07 01:23] zhouyx opened #26229 "[Discussion] <amp-consent> TCFv2 Support"
The Transparency and Consent Framework (TCF) is an effort to manage user consents, and have all parties understand the users consent information from regulations like GDPR.

Consent Management Platforms (CMP) helps sites to collect and manage user consent information in the TC data format. Today AMP allows a CMP to integrate with some limitations.
The `<amp-consent>` CMP integration was designed t

[2020-01-07 02:52] jridgewell commented on #22543
I was using `'unsafe-hashes'`, but it seems Safari doesn't support it: https://humdrum-olivine.glitch.me/

Let's do @dvoytenko's https://github.com/ampproject/amphtml/issues/22543#issuecomment-571370680.

[2020-01-07 05:19] #24558 closed

[2020-01-07 11:37] KompiAjaib opened #26231 "amp-ad support for sidebar with position sticky or fixed"
## amp-ad support for sidebar with position sticky or fixed

Can amp-ad support for sidebar with position sticky or fixed? We know that Adsense now supports sticky ads, but not for amp-ad yet.

[2020-01-07 13:29] yoannOgury commented on #26197
Thanks @zhouyx !

I concur with both @jawadst and @andresilveirah . From our experience with publishers, a requirement is often to be able to block the navigation until the user has given an answer to the consent in order to inform the end-user and limit their legal risk regarding the data collection they (or their partners) are using.
But still, the proposition to manage this case, publisher side

[2020-01-07 14:37] massa1240 commented on #12342
I am getting similiar behaviour on version `1912201827130` but the value on `window.name` is `amp_iframe1`

[2020-01-07 15:52] jpettitt commented on #24651
Open question: what log events should this generate?

[2020-01-07 16:25] nainar commented on #26206
Can't make the design review so voicing off here:

So the following would have my vote:
- Promote LTS the Nth of every month
- Promote LTS the 1st ___day of each month

Between these depends on which aligns closest to our current workflow of releasing. I suspect it's "Promote LTS the 1st ___day of each month".

Based on this we can use Daniel's idea of having a static list that we push to once a y

[2020-01-07 16:25] alanorozco commented on #26226
This is ergonomics, not functionality, e.g:

[code]

These can be constructed manually with `amp-iframe`. This is not necessarily a big deal but it's important to consider since we would like to prevent maintaining one-offs if unnecessary.

This is not related to them being 3p, but because of the constraints of the service provided and how it resizes. We can discuss further for the specifics of th

[2020-01-07 16:34] mrjoro commented on #26232
/cc @ampproject/wg-ui-and-a11y

[2020-01-07 16:36] choumx opened #26233 "Clean up 'intersect-resources' experiment"

[2020-01-07 16:41] #22001 closed

[2020-01-07 16:46] alanorozco commented on #26226
(Making a note of the iframe `allow` policy in the code for the open PR:)

[code]

We'll have to discuss each of these and their use cases during design review to prevent abuse. This policy is a contract of trust so we need to clarify the potential problems and how the Iframely service handles them in order to allow them.

[2020-01-07 17:00] estherkim commented on #26206
I'm for "Promote LTS the 1st ___day of each month" for simplicity and predictability, but one caveat is that it confines us to a monthly schedule. Do you foresee publishers wanting to extend the cadence to more than ~4 weeks?

Of course we can start with it, and iterate as we go.

[2020-01-07 17:10] alanorozco commented on #26211
@suntong Could you draw on a screenshot which gaps you're referring to?

From my look at it the 2nd of the 3 frames won't load and therefore leave an empty box, but I don't see any margins on the individiual frame components.

[2020-01-07 17:17] alanorozco commented on #26211
Digging deeper, the second frame is not loaded since you can't have frames before the first visible portion of the document, defined as `75% of viewport height or 600px, whichever is smaller`.

<img width="1096" alt="Screen Shot 2020-01-07 at 9 12 07 AM" src="https://user-images.githubusercontent.com/254946/71914160-e09e9500-312d-11ea-9ae6-35064df4e912.png">

I'm unsure as to why this rejects the

[2020-01-07 17:18] rcebulko commented on #26206
Promote __day of the each month has predictability for publishers, which is an advantage.

There are a few drawbacks I see, the first being related to the actual day that the LTS release is promoted. For a few reasons, it makes sense to do this promote Monday:
- the release on-duty has less on their plate on Monday vs. the day of the **stable** promote
- since **lts** is promoted from the current

[2020-01-07 17:24] cramforce commented on #22543
We will need to enforce that the onerror handler is added immediately after the script element in the source. Otherwise this would be subject to race conditions where the parser halts between loading the script and parsing the doc, and then fails to load the script before the onerror handler can be added.

[2020-01-07 17:27] gremz commented on #19030
@torch2424 I noticed this issue stopped occurring around 11/13/2019. Any chance some sort of release occurred around this time? If so, would you have any idea what fixed this? Thank you.

[2020-01-07 17:34] alanorozco commented on #25252
Support for viewer is additional¹ and still **pending** since it was rolled back early on and wasn't resumed due to some underlying `FixedLayer` work occurring at the same time.

I'll prioritize this due to demand, it's mainly a refactor of previously written code.

---

¹For context on why the viewer needs additional support, it's mainly due to a [workaround of an iOS WebKit bug where iframed doc

[2020-01-07 17:34] #26211 closed

[2020-01-07 17:56] #26175 closed

[2020-01-07 18:04] alin04 commented on #24651
That should work just fine (adding oldsku and proration mode). My concern is support for contributions. The API supports:
subscribe()
showOffers()
contribute()
showContributionOptions()

How would this real-time config differentiation offers from contributions?

[2020-01-07 18:09] wassgha commented on #25865
Closing in favor of #26203

[2020-01-07 18:12] Gregable commented on #22543
@cramforce My understanding is that the worst that happens if out of order is that the onerror doesn't happen, so we're no worse than today.

I'm tempted not to validate the ordering out of simplicity. The validator doesn't have support for rules regarding sibling ordering, so that would complicate implementation a tiny bit. I imagine most implementations will pick this up through a cache transfor

[2020-01-07 18:15] dvoytenko commented on #22543
Hmm. I think the ordering check is relatively unavoidable here. This script has to be after both `amp-boilerplate` and `v0.js` if use do `style[amp-boilerplate].textContent = ''` and just `v0.js` if we use `body.style.X = ''`. That's partially why `onerror` would be very attractive but since we can't do hash in that case...

[2020-01-07 18:23] wassgha opened #26235 "Requesting orientation permission for interactive `amp-story` experiences"
Starting iOS 13, it is now required to request user permission to use the device orientation sensor (gyroscope/accelerometer), see https://medium.com/flawless-app-stories/how-to-request-device-motion-and-orientation-permission-in-ios-13-74fc9d6cd140 .

Many experiences that live inside `amp-story` need this permission, including 360 photos, 3D parallax #24299 , VR, etc. so there needs to be suppor

[2020-01-07 18:31] #25525 closed

[2020-01-07 18:53] kevinkimball commented on #9461
I'm going to close this issue. As @dvoytenko explained this is the expected behavior. While there are bugs related to components/services behaving badly in a multidoc environment, that's different from the initial intent of this issue, and separate issues need to be created with examples so we can attempt to track down and fix them.

[2020-01-07 18:53] #9461 closed

[2020-01-07 18:57] kevinkimball commented on #9621
This seems like a case for server-side rendering of the PWA which would need to be handed individually by the developer. I'm not clear what changes if any are being requested here to shadow AMP to support the use case, as routing is not provided by the library.

[2020-01-07 18:57] #9621 closed

[2020-01-07 18:59] kevinkimball commented on #9871
@choumx did you have something in mind you wanted to do about this, e.g. logging a warning or preventing error reporting? Otherwise I am inclined to close this issue.

[2020-01-07 18:59] jpettitt commented on #24651
I think I need to put a type enum in the data structure to define contributions vs subscriptions

[2020-01-07 19:28] kevinkimball commented on #11992
@prateekbh was there any work done as a result of the referenced discussion ?

[2020-01-07 19:32] prateekbh commented on #11992
Hi!
We were not able to conclude on any solid implementational detail while I was working with AMP.
@rsimha/ @kristoferbaxter can update on this more if in case some thing has changed in this area

[2020-01-07 19:34] nixtka opened #26237 "<amp-stories-widget> - tag for AMP-pages to include stories"
The idea is to implement a new tag for AMP-pages to show special Stories widget among AMP-pages.

Current solution for AMP-Stories are based on canonical links to pages (page to story) but if publisher wants to promote stories instead of waiting while Google crawler download and cache AMP-Story there is no solution for showing Stories among AMP pages. For typical pages there are a lot of custom so

[2020-01-07 19:36] #25608 closed

[2020-01-07 19:37] torch2424 commented on #19030
@gremz Glad to hear the issue got fixes! So I am no longer on the AMP team at Google, so I wouldn't know why / or have access to why it may have gotten fix. You may be able to get some help from @jridgewell or @dvoytenko on why it stopped occurring 😄

Hope that helps! Thanks!

[2020-01-07 19:37] choumx commented on #9871
Hm, could we verify the arguments to `attachShadowDoc` and fire a "user" error (which are heavily throttled in reporting)?

[2020-01-07 20:20] iparamonau commented on #26226
@alanorozco sounds good. Will dig the review process doc in a bit and see how to navigate it.

I see we might need a comment for the review meeting. So here it is for the reference.

Frankly, I am having hard time understanding the design issue. If 3p vs regular iFrame is not a problem, than our design is not conceptually any different from the one of [this component](https://amp.dev/documentation

[2020-01-07 20:53] kevinkimball commented on #26199
@demil Can you elaborate a bit more on this feature suggestion? If I understand correctly, you would like to have your PWA script loaded into an AMP document directly (for example, an AMP document served from the Google cache?). Currently the assumption is that your PWA is not itself an AMP document, but a wrapper around AMP document. Just want to understand the feature request correctly. Thanks!

[2020-01-07 21:18] Gregable commented on #22543
Talked with @dvoytenko offline and understand the problem better.

1) If the inline script executes before the `v0.js` script tag is parsed, attaching onerror will fail. This can be avoided by placing the inline script after `v0.js`.

1) If the onerror event occurs before the inline script is executed, the onerror handler won't run. This can be avoided by placing the inline script before `v0.js` b

[2020-01-07 21:53] westonruter commented on #18775
@caroqliu That sounds promising. How would that work in practice?

[code]

Like so? Doesn't seem the _most_ ergonomic, when I'd think the `message` being sent from the server should actually populate the `span` by default, IMO.

What if there was a new attribute on the `span` to opt-in to server-populated messages, like so:

[code]

Or better, what if the `span` took a `template` as a child and th

[2020-01-07 22:03] twifkak commented on #22543
Could this be solved with Mutation Observer to wait for the script and body
nodes to be created?
https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver

On Tue, Jan 7, 2020, 1:18 PM Greg Grothaus <notifications@github.com> wrote:

[2020-01-07 22:13] Gregable commented on #22543
`onerror` does work in Chrome with the `unsafe-hashes` that @jridgewell pointed out and I had initially missed. Also works in Firefox. I'll trust @jridgewell that it doesn't work in Safari as I don't have a device to test.

[2020-01-07 22:17] cramforce commented on #22543
@twifkak MutationObserver is a bit overkill.

I think moving the script element right after v0 and then adding a small `DOMContentLoaded` listener to execute the body change will be fine.

[2020-01-07 22:31] jyn15 opened #26241 "I2I: amp-ad-exit indirect target"
## Summary

Enable stateful exit behavior in `<amp-ad-exit>`, by adding variable exit target that can be changed at runtime.

## Motivation

Many HTML5 ads display multiple products using a swipeable image gallery. These ads usually have a header/footer area or a click-to-action button that exits, when clicked, to the URL of currently displayed product. This behavior is hard to reproduce in AMPHTM

[2020-01-07 23:17] newmuis commented on #26235
Yep.  In my opinion, we should do this on the first page of a story that needs the feature.

[2020-01-07 23:22] alanorozco commented on #26226
@iparamonau Before we go into further discussion, are you familiar with the `attemptChangeHeight` API? Does it fulfill your use case?

[2020-01-07 23:34] gmajoulet commented on #26235
Wassim, do you know if the permission is per subdomain? If a user gives permission for `foo.cdn.ampproject.org`, do we have to request it again for `bar.cdn.ampproject.org`, or is it already granted?

[2020-01-07 23:46] morsssss commented on #24326
Just pinged b/140420052, letting people know that this issue persists

[2020-01-07 23:49] morsssss commented on #24326
Just pinged b/140420052, letting people know that this issue persists

[2020-01-07 23:51] micajuine-ho commented on #24542
@andrejoblakceltra thanks for your response.

The inconsistent results between different browsers is caused by the fact that these videos are natively implemented by each browser. So Chrome and Firefox will have differences in their`<video>` including the look, implementation, and how they handle events.

So in this example, what's happening is that the `<video>` is receiving the click signal, and

[2020-01-07 23:53] #25368 closed

[2020-01-07 23:58] suntong commented on #26211
Thank you @alanorozco,

So I put an element of `.spacer-before-first-frame` before the first frame, and it looks good within jsbin editor:

![image](https://user-images.githubusercontent.com/422244/71938865-c4771400-317e-11ea-9b27-97d4fab1e1d5.png)
-- https://jsbin.com/wevelug/edit?html,output

However, when viewing it without editor, I got this:
![image](https://user-images.githubusercontent.com/

[2020-01-08 00:27] iparamonau commented on #26226
@alanorozco I remember we did try `attemptChangeHeight`, but can't tell why we dropped it. Will ask the team to deploy the component with attemptChangeHeight tomorrow and let you know how it goes.

[2020-01-08 00:43] zhouyx commented on #26224
The occurrences seems pretty low. Also I noticed it occurs with the build of different components. Wonder if it's related to custom-element.
to @ampproject/wg-runtime

[2020-01-08 04:18] caothang53 opened #26248 "AMP.navigateTo issue on AMP Cache page"
## What's the issue?

I need to make a link opened in a new tab and navigate the original tab to another page (exactly the same as https://github.com/ampproject/amphtml/issues/6221) using AMP.navigateTo with on:tap event. It's worked in the site while testing, but it's not working on AMP Cache.

## How do we reproduce the issue?

Sample URL: https://uc-browser-test-iprice-id.iprice.mx/coupons/kfc/

[2020-01-08 04:24] merakmarey opened #26249 "AMP-Carousel - Fast swiping cause image to jump/skip on mobile"
Open full screen mode, swipe "aggresively" and image will skip.

Chrome mobile/Samsung Mobile

try https://us.trapichero.com/a/miami/florida/housing/houses-for-sale/2034-sw-22-terr-miami-fl-33145-silver-bluff/1578449427-63.html

[2020-01-08 10:49] marcomow opened #26250 "amp-email from GAS (Google Apps Scripts) - possible?"
## What's the issue?
I'm building an internal request-approval system for my company, and the best scenario I'd like to develop is using the amp dynamic emails in Gmail (our company relies on G Suite services).

I made some few tests, and while sending through https://amp.gmail.dev/playground/ is working fine, when I try to send from GAS the amp content is not showing (Developer settings already e

[2020-01-08 15:33] #26137 closed

[2020-01-08 16:10] Joelsz commented on #23575
@kevinkimball we are using the [Backbone Router](https://backbonejs.org/#Router)

[2020-01-08 16:33] nightpool opened #26252 "AMP components not working in android & ios webviews"
## What's the issue?

AMP embedded content (iframes, youtube, some images) doesn't work in android & iOS webviews.

## How do we reproduce the issue?

Requires an android or iOS app that uses a WebView to display an "amp first" web page. I've created a test webpage here that reproduces the issue with very simple code: https://wiggly-pulsar.glitch.me/

## What browsers are affected?

Tested on
`Moz

[2020-01-08 16:34] nightpool commented on #26252
seems similar to https://github.com/ampproject/amphtml/issues/24489—does AMP have regression tests that target these browsers?

[2020-01-08 16:47] rsimha commented on #25452
## LTS promote schedule (led by @rcebulko)

Exactly N weeks: Simple to implement, can provide a static calendar
1st Monday of the month: Easier for publishers to know when the next LTS is forthcoming

@mrjoro: Pick second Monday of the month instead of first (doesn't coincide with any common holidays). Picking a schedule exactly 4 weeks apart can coincide with holidays and release freezes. It's un

[2020-01-08 16:50] #24493 closed

[2020-01-08 16:50] rcebulko commented on #26206
Update: During design review, Joey suggested 2nd __day of the month would avoid the ambiguity of a week split over two months (pretty much all present agreed). It would also avoid common days off (4th of July, Thanksgiving, etc.). jridgewell pointed out that Tuesday is when **beta** is promoted to **stable**, which is another point in favor of doing promotes Monday so there's no risk of accidental

[2020-01-08 17:37] #25476 closed

[2020-01-08 17:37] kristoferbaxter commented on #26252
@Kevinkimball tested this and was unable to reproduce.

[2020-01-08 17:40] erwinmombay commented on #26252
@nightpool would you mind providing more details on how to replicate?

I tried it on my android device and the `amp-youtube` component seems to be working
![Screenshot_20200108-093921](https://user-images.githubusercontent.com/354746/72001768-f332d000-31fa-11ea-8656-e7ca8c528b32.png)

[2020-01-08 17:42] nightpool commented on #26252
@erwinmombay  the triple dot in the top left corner there makes me think that's an embedded chrome activity (shows "Powered by chrome" and "open in Chrome in the menu"), rather then a WebView.

[2020-01-08 17:54] kevinkimball commented on #26252
I was also unable to reproduce in iOS webview. Here's a screenshot:
![IMG_1024](https://user-images.githubusercontent.com/6886483/72002741-dbf4e200-31fc-11ea-97b4-42053902f2c9.jpg)

[2020-01-08 17:57] nightpool commented on #26252
okay, will circle back with better reproducion steps and try to figure out
if it's something specific to my app.

On Wed, Jan 8, 2020, 12:54 PM Kevin Kimball <notifications@github.com>
wrote:

[2020-01-08 18:03] erwinmombay commented on #26252
double checked with webview instead of CCT on android
![Screenshot_20200108-100242 (1)](https://user-images.githubusercontent.com/354746/72003397-20cd4880-31fe-11ea-89c4-2a357da179d9.png)

[2020-01-08 18:04] erwinmombay commented on #26252
@nightpool does the reduction work for you though on your device? want to make sure nothing else is interfering like blockers/addons etc

[2020-01-08 18:13] nightpool commented on #26252
@erwinmombay the reduction I posted doesn't work in my app, but I was able to get it to work in https://play.google.com/store/apps/details?id=com.snc.test.webview2. I'm going to dig in to see if there's anything different we need to be doing on our side.

[2020-01-08 18:16] jpettitt commented on #24651
Decisions form internal design review:

We will disable button until we know what they are going to do.  This means that if there is a remote config url the button will not be live until we receive the config.  On a timeout of config error we will either fallback to the server side amp offers carousel (default behavior) or leave the button disabled bset on a fallback mode flag.

Regarding login th

[2020-01-08 18:21] erwinmombay commented on #26252
thanks for confirming @nightpool. let us know if you can find any more details and if theres anything we can help with. closing for now

[2020-01-08 18:21] #26252 closed

[2020-01-08 19:36] iparamonau commented on #26226
@alanorozco so `attemptChangeHeight` has the same bugs that we are trying to fix, therefore we switched to `changeHeight` that many other components use. But what we missed is an option to catch errors and write callbacks with `attempt...`, which is great. Also, I see that more 3rd party plugins are not using `attemptChangeHeight` then the ones using `changeHeight` directly.

We'll be more than ha

[2020-01-08 19:40] zhouyx commented on #26229
@AmazonPublisherServices @leonardlabat @bretg @wroberts-comscore for feedback since you have dealt with CONSENT_STATE and CONSENT_STRING in AMP.

@yoannOgury @PierigOgury @andresilveirah @jawadst @tla-sirdata for feedback from CMP

Thank you!

[2020-01-08 19:48] zhouyx commented on #26197
Hi @yoannOgury, yes I can confirm that 30vh is the default size, but we allow a height range from 10vh to 60vh.

Can I summarize the request here to two 1. FullScreen. 2. Blocking prompt. Based on the discussion we agree that it's OK to allow fullScreen after some sort of user interaction as long as the initial prompt is blocking.

If everyone is OK with the proposal, the AMP team is going to chan

[2020-01-08 20:13] Malvoz opened #26259 "[amp-script] Should `text/javascript` be allowed?"
`<amp-script>` requires a content-type of `application/javascript` when `src` is same-origin, which is documented in https://amp.dev/documentation/components/amp-script/#security-features. Should this be extended to allow `text/javascript` as well?

https://amp.dev serve scripts with `text/javascript`, and [this HTTP Archive post](https://discuss.httparchive.org/t/can-you-get-a-list-of-non-standar

[2020-01-08 20:26] choumx commented on #26224
Weird bug. Only seems to happen on a single page on Android Chrome 74. Possibly a one-off client issue.

[2020-01-08 20:36] westonruter opened #26260 "Apparently conflicting methods to install service worker: amp-install-serviceworker and amp-web-push"
## What's the issue?

Normally when wanting to install a service worker, the way to do so is to use the aptly-named [`amp-install-serviceworker`](https://amp.dev/documentation/components/amp-install-serviceworker) component.

However, if wanting to then add push notifications, the [`amp-web-push`](https://amp.dev/documentation/components/amp-web-push/) component needs to be used.

This introduces

[2020-01-08 20:57] kevinkimball commented on #23575
@Joelsz I am not able to reproduce the issue given the code sample you have provided, which is just the boilerplate for shadow AMP, and which it appears you have implemented correctly. I suspect the issue is probably related to state leaking out of the embedded AMP docs (could be related to the `close()` function or incorrect references to `window`, etc.), but it's hard to say without additional i

[2020-01-08 22:24] #24038 closed

[2020-01-08 22:25] lannka commented on #25845
@levyblue could you also provide a link to reproduce the issue?

[2020-01-08 22:26] lannka commented on #25194
dup of  #25845

[2020-01-08 22:26] #25194 closed

[2020-01-08 22:28] kristoferbaxter commented on #26087
Closing, as this is now pushed to production.

[2020-01-08 22:28] #26087 closed

[2020-01-08 22:48] fstanis commented on #26104
Just a quick update, Gmail now supports `-webkit-appearance` and `appearance`.

[2020-01-08 22:48] lannka commented on #24219
IE support is not a priority anymore

[2020-01-08 22:48] #24219 closed

[2020-01-08 22:49] #21599 closed

[2020-01-08 23:24] lannka commented on #22961
Fix is coming.

[2020-01-08 23:56] kristoferbaxter opened #26268 "🚄Release tracking issue for release 2001071857360"
# Release tracking issue

- [x] Release [2001071857360](https://github.com/ampproject/amphtml/releases/tag/2001071857360) is cut as a new canary release
- [x] Release 2001071857360 pushed to dev channel (<CL submit time>)
- [x] Release 2001071857360 pushed to 1% (<CL submit time>)
- [x] Release 2001071857360 pushed to production (January 15, 2020, 1:12:13 PM GMT-8)

See the [release documentation]

[2020-01-09 00:11] rsimha commented on #11992
I think this falls under wg-performance. Assigning to Kris to triage.

[2020-01-09 00:13] rsimha commented on #25937
I'd imagine this should live somewhere in `src/`. I think it can be added to `src/mode.js`, which contains other AMP config related stuff, but we should check with @ampproject/wg-runtime in case they have a better idea.

[2020-01-09 02:57] nguyendev opened #26270 "Cannot use login example"
![image](https://user-images.githubusercontent.com/10234503/72033994-69503900-32c6-11ea-9f80-e27da2417619.png)

[2020-01-09 06:36] levyblue commented on #25845
Sure, the issue is happening on my [personal finance blog](https://personalfinance.leblonblue.com/)

[2020-01-09 08:17] Nerone95 commented on #26104
perfect
thank you ;)

[2020-01-09 10:15] Joyining opened #26273 "[amp-autocomplete] should fire DOM `change` event on select"
## What's the issue?

amp-autocomplete doesn't seem to fire `input` event.
I tried to combine `amp-autocomplete` and `amp-script` to get current input value. But the autocomplete action didn't trigger the `input` event, therefore I can only get the user original input (eg. user input 'o' and it's autocompleted to 'orange', but I only get 'o').

## How do we reproduce the issue?

Here is the sample

[2020-01-09 13:32] massa1240 opened #26274 "I2I: dynamic variable macros on amp-iframe[src]"
## Summary

Enable dynamic variable macros (ie: PAGE_VIEW_ID) on `amp-iframe` `src` attribute.

## Motivation

We are moving our in-house ads server to Google Ad Manager and I have to integrate creative information that is generates on-the-fly by Google with an in-house tracker that requires some set of specific requirements to track those ad impressions.

We display 4 creatives per page (3 from a

[2020-01-09 17:05] rcebulko opened #26279 "Validator web UI build.py using Python 2.7"
@danielrozenberg noticed that there are occasionally warnings about Python2.7 in use. It seems like the only offender is https://github.com/ampproject/amphtml/blob/master/validator/webui/build.py , which has a `python2.7` hash-bang. The only Python 2 code in the file appears to be a single `print >> sys.stderr, msg` line, which could likely be replaced by `print(msg, file=sys.stderr)`. Since Pytho

[2020-01-09 17:05] rcebulko commented on #26279
/cc @ampproject/wg-caching

[2020-01-09 17:17] honeybadgerdontcare commented on #26279
This was supposedly fixed according to issue #22555 but it looks like it wasn't. @amaltas please look at implementing @rcebulko feedback.

[2020-01-09 17:19] honeybadgerdontcare commented on #26279
@rcebulko there were other files but we addressed them. They are mostly internal to Google; see cl/279395963.

[2020-01-09 17:20] alabiaga commented on #25735
So this is an issue with all non visible, no layout supported components. Issue is pointed out by @westonruter in https://github.com/ampproject/amphtml/issues/25735#issuecomment-561530969. Components get around it by just overriding isLayoutSupported and returning true. The fix in #26280 will follow suit and I will defer to the runtime folks for the proper fix. Thanks

[2020-01-09 17:31] lannka commented on #24657
As now we have RequestBank in e2e, @powerivq do you think it's a good time to migrate these integration tests to e2e?

[2020-01-09 17:36] #24653 closed

[2020-01-09 17:49] lannka commented on #26274
@massa1240 thank you for the feature request with all these details.

IIUC, you want your creatives served from GAM to read PAGE_VIEW_ID. As you already noticed, the `window.context` API doesn't work because it is designed for ad tags but not creatives.

using amp-iframe to relay the message seems like an interesting work around, but it definitely abuses the purpose of amp-iframe. we should have a

[2020-01-09 18:06] maciejmackowiak commented on #25715
We are experiencing the exact same issue with our icon font:
https://www-androidpolice-com.cdn.ampproject.org/r/s/www.androidpolice.com/wp-content/themes/ap2/fonts/icomoon.woff?cachebust=1234
is 22 803 bytes
vs
https://www.androidpolice.com/wp-content/themes/ap2/fonts/icomoon.woff?cachebust=1234
is 19 616 bytes

https://www-androidpolice-com.cdn.ampproject.org/r/s/www.androidpolice.com/wp-content/

[2020-01-09 18:27] twifkak commented on #25715
@maciejmackowiak Did you fix it after posting this? When I change the cachebust param on the AMP Cache URL, it appears to have the correct size.

[2020-01-09 18:33] maciejmackowiak commented on #25715
@twifkak thanks for quick replay,

I'm aware that changing cachebust "solves" the issue but the fun part is we didn't change anything on our end to fix it. So that's the problem - why did it happen? And how to avoid it in the future?
We didn't touch icon font in some time so the issue looks random.

[2020-01-09 18:49] westonruter commented on #25715
Also, changing the cachebust query param would not even be a good quick fix as it would also require invalidating the AMP Cache of every single AMP page for androidpolice.com.

[2020-01-09 18:50] fellyph commented on #26160
Olá @marianaaraujoo você tem a saída do console no chrome devtools?

[2020-01-09 18:53] masihjahangiri opened #26282 "Is there popState to back browser history stack in AMP?"
Is there Any way to back browser history when use `AMP.pushState()`?
Is the `AMP.popState()` (or `window.history.back()`) function implemented in AMP project?

[2020-01-09 19:26] #22961 closed

[2020-01-09 20:04] morsssss commented on #25715
The result is that their icon font is corrupted on the cache, and icons don't display.

[2020-01-09 20:31] rcebulko commented on #25989
As of about a week ago I removed the part of the release script that copies `validator.js` into the RTV directory. Marking this as resolved.

[2020-01-09 20:32] mattwomple commented on #25989
Could you check the text in the original bug report below the text "Slack chat" to verify this really should be closed?

[2020-01-09 20:38] rcebulko commented on #25989
@mattwomple My eyes passed right over that gray text! Re-opening until I can dig in, thank you

[2020-01-09 20:52] caroqliu commented on #26270
@mrjoro to transfer this to amp.dev please 😄

[2020-01-09 20:52] #25987 closed

[2020-01-09 21:21] alanorozco commented on #26226
`attemptChangeHeight` doesn't require exceptions to be made, so the pushback comes from employing `changeHeight` directly. So that change unblocks that problem, that sounds good!

_However_, there's two other blocking issues I've mentioned which we haven't addressed. **These need to be taken to design review.**

### 1. Async defined styling props

Those that only affect visually (`box-shadow` and

[2020-01-09 21:35] #26015 closed

[2020-01-09 21:38] micajuine-ho commented on #19598
Tracked in #26091

[2020-01-09 21:38] #19598 closed

[2020-01-09 21:39] micajuine-ho commented on #21751
Tracked in #26271

[2020-01-09 21:39] #21751 closed

[2020-01-09 21:44] caroqliu commented on #26250
cc @zhangsu @fstanis

[2020-01-09 21:47] micajuine-ho commented on #15654
Cookie linker issue closed via #23207

[2020-01-09 21:47] #15654 closed

[2020-01-09 21:56] lannka commented on #20338
Not sure if this is still needed.

[2020-01-09 21:56] #20338 closed

[2020-01-09 22:26] alanorozco commented on #26226
**3rd issue: dynamic domain**, which I just noticed.

_This is very important to discuss during design review._

[code]

Domain is consumed from `data-domain` attribute. There's no allowlist, all are allowed.

Consequently, `amp-iframely` can be used generically for any page regardless of origin. It allows anything to get around any `amp-iframe` guarantees, including those that `attemptChangeHeigh

[2020-01-09 22:29] alanorozco commented on #26226
(Noting also that the previous issue is **blocking**.)

[2020-01-09 22:42] alanorozco commented on #26226
(Noting also that this may be where some of the confusion is coming from other widget components using 3p nested frames.)

Those other components are under the same guarantees as `amp-iframe`, they don't override the `allow` policy and the additional layer creates other security guarantees. The reason other services which use 3p frames are allowed to `changeHeight` directly is related to how the f

[2020-01-09 23:18] archon810 commented on #25715
I'm seeing the issue with AP fixed now in Incognito as well as a desktop browser, but my main Chrome for Android, it's still not loading the font right. I bet it's the local browser cache.

So yeah, this happened the 2nd time now, and it's unclear why - it seems something on the CDN side corrupts the file.

@maciejmackowiak Did you happen to save the corrupted versions for examination here? Could

[2020-01-09 23:20] archon810 commented on #25715
@twifkak We are also using CF Real URL, but I believe the first time it happened was before AMP launch and to our dev version of the site, which would have been before CF Real URL was even available to us.

[2020-01-09 23:24] archon810 commented on #25715
Just looked into our ticket history. CF told us AMP Real Url was turned on for androidpolice.com on July 24.

On July 26, I created the original ticket about dev:
![image](https://user-images.githubusercontent.com/469543/72112996-09708700-32f4-11ea-8fd3-ba06f5a85833.png)

One thing I'm not clear about is if the AMP Real URL feature applies to just the main domain or subdomains too. If it's subdoma

[2020-01-09 23:41] fstanis commented on #26250
I believe Apps Script's GmailApp doesn't support custom MIME types which are required in order to have the `text/x-amp-html` part. The [docs for `sendEmail`](https://developers.google.com/apps-script/reference/gmail/gmail-app#sendemailrecipient,-subject,-body,-options) have this:

I suggest reaching out to [Apps Script support channels](https://developers.google.com/apps-script/support) to potenti

[2020-01-09 23:41] #26250 closed

[2020-01-09 23:46] morsssss commented on #25715
@archon810 , I think we've got something for you here. Please stay tuned...

[2020-01-09 23:55] gmajoulet commented on #26020
We're implementing a new `getDocumentState`/`setDocumentState` viewer API, that will allow you to check if the attachment is open.
I just sent the first PR #26285 and I'll ping/close this ticket once it supports retrieving the page attachment open/closed state.

[2020-01-10 00:37] cory-work opened #26289 "Add linker to ADOBEANALYTICS_CONFIG"
## What's the issue?

I'd like to update the Adobe analytics config to take advantage of the linker. I'll also refresh the configuration to use xhrpost and clean up some other issues.

## How do we reproduce the issue?

I'll add something like this to both extensions/amp-analytics/0.1/vendors/adobeanalytics.js and extensions/amp-analytics/0.1/vendors/adobeanalytics.json

'linkers': {
  'enabled':

[2020-01-10 00:38] maciejmackowiak commented on #25715
For further investigation those are the corrupted and original files:
[corrupted.fonts.zip](https://github.com/ampproject/amphtml/files/4043199/corrupted.fonts.zip)

Maybe it will help somehow.

[2020-01-10 01:09] #24970 closed

[2020-01-10 01:28] zhangsu opened #26292 "Confusing and incomplete documentation/validator behavior about banned CSS classes and tag names"
**Please only file reports about bugs in AMP here.**

## What's the issue?

Briefly describe the bug.

 https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/style_pages/#disallowed-styles

There are multiple things that seem wrong or incomplete about this documentation.

1. The documentation says that class names cannot start with the string `-amp-`, but then the AMP validat

[2020-01-10 01:42] honeybadgerdontcare commented on #26292
I agree this documentation appears to be out of date.

The validator disallows class names with the following regex `(^|\W)i-amphtml-`, per [validator-main.protoascii](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L6503). Code isn't great documentation, so hopefully we can get this updated.

@CrystalOnScript fyi

[2020-01-10 01:45] honeybadgerdontcare commented on #26292
There was a time where several variations mentioned in your post and the documentation were disallowed, but we ended up normalizing on `i-amphtml-`. Thank you for surfacing this so we can get it current.

[2020-01-10 02:01] xiekun09 commented on #25845
I'm having the same issue, my website is https://www.yourzodiacsign.com.
amp-auto-ads worked on this website before, but now it can't work.

[2020-01-10 02:42] iparamonau commented on #26226
This is great and constructive, thanks @alanorozco.

- Good catch regarding the CDN domain. We'll switch to a whitelist of the biggest distributions we need.
- Autoplay value isn't really required in v0.1 - we make sure everything has click-to-play. We'll remove it for now.
- Border styling - we'll try and test what works for various cards design templates we have. In worst case, I think we'll jus

[2020-01-10 02:46] twifkak commented on #25715
Hi all - thanks for the reports. I believe I've diagnosed the issue (has to do with SXG), and have an idea for a fix. I'll run some tests & have an update tomorrow.

[2020-01-10 06:14] massa1240 commented on #26274
Hi @lannka ! Thanks for your reply

I totally agree with this statement, which made me not feel very comfortable implementing this solution in the beginning... due the circunstances, I decided to give this a shot, as it was the solution that made me closer to achieve what I had to.

I actually tried this (I will be giving another shot to make sure I am not crazy here), but this didn't work. Whenev

[2020-01-10 09:22] Beethoven opened #26293 "Display Sidebar Mask on Amp Story "i-amphtml-story-opacity-mask" when using Button event to open it."
## What's the issue?
When using button event button on="tap:sidebar.open" or toggle
to open a sidebar on Story the mask element class="i-amphtml-story-opacity-mask" don't display.

## How do we reproduce the issue?
Tap on menu on page 2
https://viagem.page/fabiovilela/

## What browsers are affected?
All

[2020-01-10 12:08] Xuffasch opened #26295 "amp-sidebar does not display in Chrome and Firefox"
## What's the issue?

Following the websites advanced features tutorial-guide, I tried to add the sidebar menu in the demo News site. The hamburger button does not open the sidebar.

## How do we reproduce the issue?

I just followed the tutorial for advanced features about "Navigating your site". I wrote the code that I ran in browsers.

## What browsers are affected?

The same code operates corr

[2020-01-10 15:33] caroqliu commented on #26292
Thanks for filing this--this issue is definitely good to reach consistency on, both in documentation and in practice. Speaking for UI `i-amphtml-` is the prefix for new features, though there are many instances from components that predate this practice. Renaming these would be a breaking change for live pages, so I wouldn't recommend it. It's also worth noting that we occasionally expose CSS clas

[2020-01-10 15:40] jackbsteinberg commented on #26292
Stories similarly uses the `i-amphtml-` prefix for specifically restricted CSS classes

[2020-01-10 15:41] caroqliu commented on #26295
Can you provide more information on how you are running and sampling the code? I tested out the following code copied from the ["Navigate with a sidebar" section in the tutorial](https://amp.dev/documentation/guides-and-tutorials/start/add_advanced/navigating/?format=websites) in playground.amp.dev on Chrome and Firefox and was able to open and close the sidebar as expected:

[code]

[2020-01-10 15:50] caroqliu commented on #26273
Thanks for reporting this issue! I was able to reproduce the issue. This should be resolved by firing a `change` event on the nested input element upon selection of an item in the `amp-autocomplete` suggestion menu. It is also worth considering setting a flag from the selection handler in the extension binary so the event listener can consume the native `change` event on the blur from the selectio

[2020-01-10 16:01] caroqliu commented on #26249
Hi @merakmarey, thanks for filing the issue! I tried this out on the Chrome mobile app on iPhone X iOS 13.3 and Pixel 3 XL on Android 10 and was not able to reproduce. Can you provide a video of the unexpected behavior you are experiencing?

[2020-01-10 16:29] Xuffasch commented on #26295
First thank you for your answer and your code as I tried it and it worked on Chrome.

I've push a commit in my repo ("amp-advanced") where I compare :
- the working code you gave me ("amp.article.html")
- the bugged code I wrote ("article.amp.html")

My code is quite long as it has all the code I tested with the advanced features of the guide.

A rapid comparison does not show differences in the w

[2020-01-10 16:42] newmuis commented on #26292
Agreed with @jackbsteinberg; just want to additionally weigh in that stories [migrated from `i-amp-` to `i-amphtml-`](https://github.com/newmuis/amphtml-story/pull/184/files) before being publicly released, so no there's no concern there.

[2020-01-10 16:57] mrjoro commented on #12342
/cc @ampproject/wg-ads

[2020-01-10 17:13] rcebulko commented on #25989
The following files are present in the RTV directory but absent from `files.txt`:
- `amp_preconnect_polyfill_404_or_other_error_expected._Do_not_worry_about_it`
- `sw/service-worker-remover.js`
- `sw/amp-sw.js`
- `sw/optional-modules.js`
- `ping.html`
- `v0/experiments.js`
- `v0/amp-viewer-integration-a2.js`
- `v0/experiments.js.map`
- `v0/amp-viewer-integration-gmail-0.1.js`
- `robots.txt`
- `pre

[2020-01-10 17:19] honeybadgerdontcare commented on #26292
@dvoytenko and I worked together on unifying the internal class names to be all `i-amphtml-`, so I'm surprised to hear some are still using other prefixes. @caroqliu are you sure about this?

[2020-01-10 17:24] AndrewKGuan commented on #26131
Hi,
any thoughts on this issue?

Thanks

[2020-01-10 17:38] kristoferbaxter commented on #26131
@choumx This appears to be an issue with `AMP.setState` from within a `WorkerDOM` context.

[2020-01-10 17:49] alanorozco commented on #26226
@iparamonau

Unfortunately hardcoding the border won't work. Defining a border that's applied on runtime (directly to the `<amp-iframely>` box) can still a) break runtime sizing calculations and b) shift content on the client (there aren't guarantees about the time during the page load that the extension will execute).

I'm confused about why the intermediate container proposal requires design cha

[2020-01-10 17:53] rsimha commented on #25989
One way to trace the origins of these files is to look at the commit history of the release scripts. Might be worth doing an initial pass, after which we can reach out to whoever added them and ask if they're still in use.

[2020-01-10 18:10] alanorozco commented on #26226
@iparamonau Please also make sure to take this to design review. It's good to have these few issues settled now but they need to be exposed to the larger set of contributors regardless.

This one in particular needs to be greenlit by @ampproject/wg-security-privacy since it involves iframes.

[2020-01-10 18:11] caroqliu commented on #26292
I should rephrase: there are instances of classes not using the `i-amphtml` pattern in our codebase without clear indication of the intention for them to be internal or exposed.

For example the [z-index](https://github.com/ampproject/amphtml/blob/master/css/Z_INDEX.md) list includes class names not prefixed with `i-amphtml-`. [`amp-video-docking`](https://amp.dev/documentation/components/amp-vide

[2020-01-10 18:45] rcebulko commented on #25989
The three service worker files in `/sw` are pulled from the `amp-sw` npm package in code added by @erwinmombay

The `amp-viewer-integration-a2.js` script appears to have been added by @erwinmombay  as a "temporary fix for" a bug with "AMP loaded via AGSA not requesting ads" (AGSA == Android Google Search Application). This was back in August of 2018; it looks like the underlying issue may have bee

[2020-01-10 18:57] newmuis commented on #26292
Reading it this way, there are absolutely styles that we enforce in `amp-story` that apply to elements without an `i-amphtml`-prefixed classname.  AFAIK, we don't have any prefix that means "please style this," just a prefix that means "don't style this"

[2020-01-10 19:33] micajuine-ho opened #26302 "Project Tracker: Improve test-vendors"
- [x] Mock variable service #26300
- [x] Handle parameters in mocked variable service #26300
- [x] Handle parameters in global url-replace-service mock #26828
- [x] Handle nested macros #26271

[2020-01-10 19:49] jyn15 commented on #26078
@caroqliu Hello Caroline, could you help take a look at the issue? Thanks!

[2020-01-10 20:25] morsssss opened #26304 "Request to include channel in <amp-youtube>"
This probably won't be on the top of anyone's list of things to fix... but I imagine it wouldn't be hard to implement!

I wanted to implement a YouTube embed that linked to a YouTube channel. AFAIK you can't do this with a param, but you can do it with the method described [on the support forum](https://support.google.com/youtube/forum/AAAAiuErobUTOLiiakr_-g/?hl=en&gpf=d/category-topic/youtube/how

[2020-01-10 21:28] rsimha commented on #25989
This is done in two steps (during `gulp dist`):

https://github.com/ampproject/amphtml/blob/abd20891fc5df50e19c833b6d36b87ecc2ee1649/build-system/tasks/dist.js#L209
https://github.com/ampproject/amphtml/blob/abd20891fc5df50e19c833b6d36b87ecc2ee1649/build-system/tasks/dist.js#L115

[2020-01-10 21:35] powerivq opened #26307 "Enable some form of protected/package/private access control in check-type"
The access check in check-type is currently disabled (see https://github.com/ampproject/amphtml/blob/master/build-system/compile/compile.js#L334)

It renders `@protected`, `@private` and `@package` decorators not useful today, and as a result, there are increasing violations. I can think of two ways.
1. Re-enable the check and find a way to exempt those that have to violate the rule.
2. Use the pr

[2020-01-10 21:36] powerivq commented on #26307
Here is my run
[code]

[2020-01-10 21:40] rsimha commented on #26307
To add some context here, `accessControls` is ignored during type-checking, but it is a warning during actual compilation (`gulp dist`):

https://github.com/ampproject/amphtml/blob/abd20891fc5df50e19c833b6d36b87ecc2ee1649/build-system/compile/compile.js#L341

Tagging @jridgewell and @erwinmombay for comment on whether all those errors being detected are valid, and if so, how feasible / easy it is

[2020-01-10 21:49] caroqliu commented on #26295
Thanks for directing me to your sample code! It looks like the sidebar is not opening because there is an element (`div.site-name`) covering the button (`div[role=button]`) that toggles the sidebar open. When you go to click on the button, you are actually clicking on an element above it.

One way to fix this is by replacing the CSS property:
[code]
with one that does not cover the button element:

[2020-01-10 21:51] caroqliu commented on #26295
@CrystalOnScript -- Is there a file with all of the steps in [this tutorial](https://amp.dev/documentation/guides-and-tutorials/start/add_advanced/navigating/?format=websites) pieced together that we can look at? It might need the same CSS modification described above.

[2020-01-10 22:15] rcebulko commented on #25989
Since `experiments.html` & friends are indeed distributed, `dist` seems like an appropriate destination for them :thinking:

[2020-01-10 22:27] rsimha commented on #25989
No objections to moving this if it helps, but you'd have to do some coordination to make sure the release scripts are changed soon after this change is made in open source. I'll let @danielrozenberg / @erwinmombay comment on whether there are good reasons for not doing this.

[2020-01-10 22:31] Enriqe opened #26308 "[Issue tracker] 👓 amp-story-player"
### Overview

Open Source Story Player: a container for embedding and playing AMP Stories on the web. A player can have multiple stories within it, and supports capabilities like “swipe-to-next” and social sharing options. Existent players can be found in native apps and on the web in the Google Search results.

### Goals

* Support in both AMP and non-AMP websites.
* Open source
* Support the fol

[2020-01-10 22:33] caiotomazelli commented on #7980
+1

Just had the same issue, Chrome Linux Desktop with the URL:

https://www-vestibulares-com-br.cdn.ampproject.org/c/s/www.vestibulares.com.br/anhanguera/amp/index.html

Console message:

Blocked form submission to '' because the form's frame is sandboxed and the 'allow-forms' permission is not set.

Trying in a new tab solved the issue.

[2020-01-11 00:35] samouri commented on #26131
@AndrewKGuan, did you modify the example and comment out the suppressed AMP.setState() call? I'm seeing this:

![Screen Shot 2020-01-10 at 7 31 24 PM](https://user-images.githubusercontent.com/4656974/72195370-f2a75e80-33df-11ea-899d-70eae4cdc989.png)

Have you seen the docs related to [User Gestures](https://amp.dev/documentation/components/amp-script/?format=websites#user-gestures)? I think the

[2020-01-11 00:46] choumx commented on #26093
Conclusion is we can remove `AMP-Same-Origin` and enable NOXHR+POST if we offer an opt-in CSRF protection (e.g. CSRF tokens) for IE. The risk is that publishers will ignore IE and leave it vulnerable.

[2020-01-11 00:53] choumx commented on #25803
Closing in favor of a bug fix in Lighthouse: https://github.com/GoogleChrome/lighthouse/issues/2832#issuecomment-560940332.

[2020-01-11 00:53] #25803 closed

[2020-01-11 00:58] choumx commented on #26307
Do we fail compile on warnings in `gulp dist`? I thought not.

[2020-01-11 01:24] #25735 closed

[2020-01-11 01:47] newmuis commented on #26308
For "Add JS Library" milestone, I think there may still be more work to do.  We need to refine the experience when the JS and/or iframe are not yet loaded.

[2020-01-11 19:11] powerivq commented on #26307
@choumx I've tried it once, and everything passed. Not sure if I've seen the warning.

[2020-01-11 22:24] CrystalOnScript commented on #26295
Thanks for reporting this @Xuffasch!

Good call @caroqliu - the culprit is [here](https://amp.dev/documentation/guides-and-tutorials/start/add_advanced/navigating/?format=websites#link-back-home).

I've opened a [PR to resolve it](https://github.com/ampproject/amp.dev/pull/3364).

[2020-01-12 01:04] merakmarey commented on #26249
Video shows that when you swipe faster from right to left the image will skip

Samsung Internet 10.2.00.53 & Chrome 79.0.3945.116

Samsung Galaxy A50, Android 9

[WhatsApp Video 2020-01-11 at 7.42.00 PM.zip](https://github.com/ampproject/amphtml/files/4050101/WhatsApp.Video.2020-01-11.at.7.42.00.PM.zip)

[2020-01-12 13:45] megane9988 commented on #25845
I'm having the same issue too.
https://megane-blog.com/

[2020-01-12 19:56] joshm33333 opened #26312 "Wordpress plugin: Can't add fit text feature inside reusable Gutenberg blocks"
Perhaps this applies to more than just the fit text feature, but that's the one I noticed.

If you edit a reuseable block on a parent page, you can add the fit text feature, however, if you go to manage reusable blocks, and open that block in its own editor, the fit text feature doesn't show up.

This isn't impossible to work around, but it is inconsistent and would cause the feature to break in s

[2020-01-13 07:50] modernwarfareuplink opened #26314 "amp-mustache falsy conditional blocks are displayed in email"
Mustache documentation says that the zero values 0 will be treated as false and the corresponding block will not be shown. But it appears in the amp email. While i checked in playground.amp.dev, the block is hidden as expected. Please have a look into this.

Steps to reproduce:
1. Have a sample template and add a variable with value zero (0) [preferably fetch that variable's value from API call wi

[2020-01-13 07:52] Alucard17 commented on #26304
Can i take this issue

[2020-01-13 07:57] #26295 closed

[2020-01-13 11:49] Xuffasch commented on #26295
Thanks @caroqliu for your analysis and solution.
I'm kind of new in CSS so let me summarise how I understand my bug:
- the ".site-name" setting for my News Site text is covering my hamburger button because margin is -36px
- changing that css setting to "margin: auto" will set the start of the text at least after the end of the hamburger button.

Using the dev tools, I've been able to see the sizes

[2020-01-13 12:27] sebastianbenz opened #26315 "[amp-video-docking] Readme: broken link for elligible targets"
See section on amp.dev: https://amp.dev/documentation/components/amp-video-docking/#attributes

This link is broken: https://github.com/ampproject/amphtml/blob/master/extensions/amp-video-docking/amp-video-docking.md#support

[2020-01-13 15:40] choumx commented on #26259
Reasonable and a quick change. Interested in contributing a PR? :)

Note that `text/javascript` is technically marked obsolete.

[2020-01-13 15:44] choumx commented on #26292
I think OP is simply asking to update documentation. Transferring to amp.dev repository which contains the [referenced page](https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/guides-and-tutorials/develop/style_and_layout/style_pages.md).

[2020-01-13 15:49] ericfs commented on #25989
@zhangsu may know more about this. I am not familiar with this file.

[2020-01-13 15:52] choumx commented on #26307
Most of these are actually related to accessing `@private` variables, not `@package`. We should definitely look into fixing this.

[2020-01-13 16:13] gmajoulet opened #26316 "Bookend relative links should be resolved when served from an AMP Cache"
Bookend relative links should be resolved when served from an AMP Cache.

1. Open https://beautifuldestinations-com.cdn.ampproject.org/c/s/beautifuldestinations.com/products/iceland and trigger the bookend
2. Click on the first bookend item

[code]

The `url` relative URL should be resolved to an absolute URL pointing to the canonical domain.

[2020-01-13 16:13] gmajoulet commented on #26316
cc @Enriqe do you have bandwidth to take this one on since you've also been working on https://github.com/ampproject/amphtml/pull/25614?

[2020-01-13 16:21] Enriqe commented on #26316
Yep sure, I can take on this one.

[2020-01-13 16:52] rsimha commented on #26307
+1 to fixing this.

**Additional context, in case it's relevant:** We have a custom rule called `unused-private-field` to catch cases where a `@private` variable isn't used in the class. Not sure if that rule needs to be changed to accommodate this fix. (The rule was enabled in #22626.)

[2020-01-13 17:55] cpauwels opened #26319 "Stories images w/ transparency rendering a white background while loading"
## What's the issue?

Images with transparency (pngs, svgs, webps and gifs) render a white background while being loaded. This is especially noticeable on slow connections, and disables the ability to see any content behind the image until is has loaded.

### Example:

![white-images-transparency](https://user-images.githubusercontent.com/4594196/72279247-01874e80-3636-11ea-9e13-93e6d5c44346.gif)

[2020-01-13 18:16] caroqliu commented on #26314
Thanks for filing this issue! I would appreciate some help understanding the issue further. Can you include sample markup, as well as where in the [amp-mustache documentation](https://amp.dev/documentation/components/amp-mustache/
) it describes the expected behavior with `0`?

[2020-01-13 18:25] caroqliu commented on #26314
Thanks for filing this issue! I was able to reproduce with the following sample:
[code]

In the email playground, the following is displayed:
Defrost the fridge 1
Breathe 2

whereas in the sent email (tested in Gmail client) displays the following:
Book the hairdresser appointment 0
Defrost the fridge 1
Breathe 2

Can you tell me more about the email clients you are using? It would be helpful to h

[2020-01-13 19:02] alanorozco commented on #26315
You mean the anchor link to the section? It seems to be working for me.

[2020-01-13 19:28] erwinmombay commented on #26307
@choumx is right, seems like almost all of these are related to accessing exported functions/variables that have been marked `@private`.

@powerivq could you post the exact command you ran? I'd like to look at what triggered this one warning. (I know it is related to some transformation we do for code elimination, but curious why it started to show up)
[code]

[2020-01-13 19:31] micajuine-ho commented on #21224
Closed via #26157

[2020-01-13 19:31] #21224 closed

[2020-01-13 19:43] powerivq commented on #26307
I did a `gulp check-types` after turning on the access check. @erwinmombay

[2020-01-13 21:00] AndrewKGuan commented on #26131
hi, sorry for the accidental change.  It's reverted now.

[2020-01-13 21:05] twifkak commented on #26248
cc @ampproject/wg-caching

[2020-01-13 21:06] AndrewKGuan commented on #25460
I also changed the layout to 'fixed'.  The error still exists.

[2020-01-13 21:07] AndrewKGuan commented on #26131
I also changed the layout to 'fixed'. The error still exists.

[2020-01-13 21:19] rsimha commented on #26307
Those warnings at the top have always been present. However, if there are zero errors, warnings are not surfaced.

I did some homework on the errors, and it does indeed look like they can all be fixed by using the correct private / public / protected annotations. I also noticed that fixing a single annotation can eliminate multiple errors, so we should have considerably fewer than 300ish errors to

[2020-01-13 21:30] samouri opened #26327 "Request for merge access"
I've submitted [21 PRs](https://github.com/ampproject/amphtml/pulls?q=is%3Apr+is%3Aclosed+author%3Asamouri).

Thank you!

cc @jridgewell, @choumx

[2020-01-13 22:03] Gregable commented on #21723
@zhouyx I think this got forgotten. Is this still important to you?

[2020-01-13 22:06] Gregable commented on #25149
@rsimha I feel this is an infra feature request, not validation. Feel free to re-label if you disagree.

[2020-01-13 22:09] Gregable commented on #26033
This bug is stated as more of a question than a specific feature request. I'm not sure when we would consider it closed as a feature request. Since the question is answered, closing this.

[2020-01-13 22:09] #26033 closed

[2020-01-13 22:10] jridgewell commented on #26327
👍 @mrjoro

[2020-01-13 22:24] Gregable commented on #26248
@caroqliu for further triage, I'm not sure where to route from here. Here's what my debugging turned up:

This appears to be unrelated to the cache directly. The "link" here is an `on` attribute unmodified by the cache:
[code]

When I click that element, Chrome console lights up with errors:
[code]

This may have something to do with the fact that the AMP Cache origin is not the standard rewrite,

[2020-01-13 22:31] mrjoro commented on #26327
Done!  Congrats on becoming a Reviewer @samouri. :)

[2020-01-13 22:31] #26327 closed

[2020-01-13 22:31] rsimha commented on #26307
We only needed ~25 fixes to eliminate all 350+ errors. Sending out a PR with a fix.

[2020-01-13 23:25] rsimha opened #26331 "Several E2E tests are red on `master`"
There are about a dozen regularly failing E2E tests on `master`.

https://travis-ci.org/ampproject/amphtml/jobs/636572193#L537

[code]

[2020-01-13 23:26] rsimha commented on #26331
/cc @erwinmombay who is build cop this week
/cc @estherkim for comment on whether this is an infrastructure level problem or a problem with flaky tests

[2020-01-13 23:28] erwinmombay commented on #26331
its weird, @estherkim in what situation would there be no `driver` instance? all of these are related to `driver` being undefined

[2020-01-13 23:36] twifkak commented on #25715
I believe this is due to an interaction between the Google AMP Cache and the Cloudflare AMP Real URL worker.

When a request is made to an AMP Real URL-enabled site with SXG + crawler headers, then the response is sent through a UTF-8 round-trip. AMP documents are UTF-8 so this is fine, but for non-UTF-8 resources (like fonts), this results in corruption.

Currently, the Google AMP Cache sends SXG

[2020-01-13 23:52] Gregable commented on #22543
If we use the `textContent` solution Justin proposed, we don't care when the `<body>` loads. The minimal solution then is:

[code]

Pretty print:

[code]

And ensure all of:

1. `sha256-v5GILL6vYnmgSPupWB8RrkBejUN8fsnyUZVQAjXGwx8=` is in the CSP header.
1. `<style amp-boilerplate>` comes before `<script src=v0.js>`.
1. `<script src=v0.js>` comes **immediately** before `<script amp-onerror>`.

We m

[2020-01-13 23:58] jridgewell commented on #22543
SGTM.

Should we also allow Pubs to include this script in their pages? Or only as a cache transformation?

[2020-01-14 00:02] #26214 closed

[2020-01-14 00:29] Gregable commented on #22543
Good Question: The validator has two modes (transformed vs. not). Transformed validation handles documents in cache, signed exchanges, and amp optimizer output. The AMP transform code paths already output `<style amp-custom>` before `<script v0.js>`.

Forcing the ordering is fairly easy in the transform code paths, so we'll add them to the AMP Cache, Optimizer, and Packager. However, validator imp

[2020-01-14 00:35] jyn15 commented on #26241
Hi Hongfei, Caleb, do you have any comments, especially on defining default value for an indirect target? We slightly prefer the second option.

[2020-01-14 00:41] zhangsu commented on #25989
Yes, that's still the case.

[2020-01-14 01:03] jridgewell commented on #22543
I'd be fine with Option A.

[2020-01-14 01:17] newmuis commented on #26319
@cpauwels which operating system was this on?

[2020-01-14 02:02] zhangsu commented on #26314
Could you point us to the documentation that says "zero values 0 will be treated as false and the corresponding block will not be shown"? I couldn't find this behavior documented in https://mustache.github.io/mustache.5.html, nor https://amp.dev/documentation/components/amp-mustache.

The official [Mustache documentation](https://mustache.github.io/mustache.5.html) only says:

Here it mentions spe

[2020-01-14 04:43] jaspersorrio commented on #24929
Hi all, facing the same issue here.

Steps to reproduce:

1. Visit https://eezee.sg/m/brand/loctite on mobile
2. Try to scroll the categories to the right
3. Images will not load for cards outside viewport.

When can we expect a fix?

![798F1CC7-5AAA-4DE8-975E-9ACACB96C152](https://user-images.githubusercontent.com/10573718/72314796-48735380-36cb-11ea-811d-d8a694527a65.png)

[2020-01-14 06:28] modernwarfareuplink commented on #26314
Please refer to the mustache documentation here -> https://github.com/janl/mustache.js#sections

[2020-01-14 06:42] modernwarfareuplink commented on #26314
I have checked only in gmail web version on google chrome (79.0.3945.117) and firefox (70.0.1), I faced the same issue in both browsers. cc @caroqliu

[2020-01-14 07:56] cpauwels commented on #26319
@newmuis Tested on macOS, but the issue is also present on Chrome and Firefox for Android.

[2020-01-14 09:25] tla-sirdata commented on #24879
Hi @zhouyx,
We fixed our issue with the CLA. Is there anything else required from us to review the pull request?
Thanks

[2020-01-14 12:34] Avdhoot05 opened #26334 "In AMP stories, the CTA button in Publisher Served Ad doesn't display in Firefox."
Check this in latest version of Firefox:
https://ampbyexample.com/stories/monetization/publisher_served/preview/embed/
In this AMP story example, look for ad. You won't see CTA button in the ad, while you'll see one when you check on Chrome and Edge.

[2020-01-14 12:57] hongy20 commented on #21045
This issue is valid, I can still reproduce it

[2020-01-14 13:19] sebastianbenz commented on #26315
Sorry for the false alarm. No idea why it didn't work before...

[2020-01-14 13:19] #26315 closed

[2020-01-14 16:28] #25697 closed

[2020-01-14 17:22] morsssss commented on #26009
A note: I do like the `amp-state:` protocol, since it looks very clear and unambiguous! However, about the comment above:

As the humble suggester of the `#` idea: doesn't in fact always point to an `id` on the page? We name each `<amp-state>` variable by giving it an `id`.

[2020-01-14 17:25] morsssss opened #26339 "<amp-script> outputting warnings to console"
When I use `<amp-script>`, I see this warning in the console in Chrome:

[code]

While this is not the end of the world, it could confuse people. (Unless I'm doing something to cause this error...)

[2020-01-14 17:53] calebcordry commented on #26241
I think I also prefer the API for option 2, but I am not super familiar with the actions code, @choumx I think is the expert. Will, do you have a preference here?

[2020-01-14 17:53] samouri commented on #26009
Each `<amp-state>` element will surely have an `id`. And for the purposes of being able to SSR initial values for amp-list, I'd expect `<amp-state>` elements to exist every time.

This stops holding true in the protocol adapters use-case. Users may call `AMP.setState` in an `<amp-script>`, and they may set keys which have no corresponding `<amp-state>` elements in the HTML.

For example:
[code]

-

[2020-01-14 18:09] dvoytenko commented on #22543
I think option c might be a bit better, but option a is ok as well.

On Mon, Jan 13, 2020, 5:03 PM Justin Ridgewell <notifications@github.com>
wrote:

[2020-01-14 18:19] morsssss commented on #26009
I see your point! So, essentially, we're decoupling state variable names from HTML IDs.

I'm excited to see your `<amp-script>` use case there too :)

[2020-01-14 18:21] zhouyx commented on #24879
Thank you! Left comments to the PR.

Re: discussion here, we had recently created an issue to collect feedback from vendors and CMPs.
https://github.com/ampproject/amphtml/issues/26229

One of the proposal is to allow the CMP iframe to run in the background, which I believe would resolve the issue above. However that comes with performance concern, so it's still under discussion. Thanks.

[2020-01-14 18:27] micajuine-ho commented on #26289
Hi @cory-work, these sound like good improvements.

Please reference this issue when you create a PR with the changes.

[2020-01-14 18:28] morsssss opened #26341 "amp-script: Decouple disabling script hash from data-ampdevmode"
When you use the `data-ampdevmode` attribute with `<amp-script>`, the validator outputs the following warning:

`Tag 'html' marked with attribute 'data-ampdevmode'. Validator will suppress errors regarding any other tag with this attribute. Debug.`

It sounds to me like the validator might be choosing to ignore other AMP validation errors in the HTML, though I don't think that's what it means. Als

[2020-01-14 18:42] zhouyx commented on #21723
I think the issue still exist. But I think not urgent because there's no incentive for one to include two components either from different service provider (amp-skimlink vs amp-smartlink) or designed for the same purpose (amp-access vs amp-subscriptions).

[2020-01-14 18:55] Gregable commented on #21723
Thanks for the update. I'll keep it around, but let it remain at P3 for now. Would be nice for a fixit.

[2020-01-14 19:32] lannka commented on #26241
I will try to avoid introducing a new "glue" (indirectTarget), and use existing ones such as amp_state.
or, we should introduce specific action for amp-selector that can pass the selected option out.

@choumx knows better in this space.

[2020-01-14 19:44] Gregable commented on #22318
As a quick update, the `<title>` tag has been deprecated in AMP4EMAIL since June 2019. The remaining open question is if and when to move from deprecated to disallowed.

[2020-01-14 20:21] morsssss commented on #26341
Alternately, the warning that's output to the console is quite clear to me:

`[amp-script] JavaScript size and script hash requirements are disabled in development mode.`

Although, as it's more compact, it conveys less information than what I proposed.

[2020-01-14 22:02] jyn15 commented on #26241
We have considered using AMP state, e.g.
[code]
where `currentExitTarget` is an AMP state variable. But actions do not support passing AMP state variable value as argument.

Or add a bindable attribute to `<amp-ad-exit>`:
[code]
and an action that reads this attribute and exits to the bound target name `exitCurrent()`.
This approach is limited to our single use case, i.e. exit to the URL of curren

[2020-01-14 22:27] gmajoulet commented on #16626
I found various chromium tickets but it looks like it won't be fixed, eg: https://bugs.chromium.org/p/chromium/issues/detail?id=600120

What we could try is making sure the width is always rounded in CSS pixels, using some JavaScript.

[2020-01-15 03:36] micajuine-ho commented on #26197
Hi all, just wanted to follow up with this discussion.

To echo @zhouyx, the main takeaways are as follows:
- Disallow the consent prompt **immediately** going full screen
- Only allow full screen **after** the user has interacted with the consent prompt
- This behavior is acceptable as long as the consent prompt is blocking with `overlay: true`

If there are no objections, we will begin to implem

[2020-01-15 08:13] Nerone95 commented on #22318
ok

[2020-01-15 15:46] danielrozenberg commented on #25989
No objections either, but do note that basically every time in the past when we made a change that needed both an amphtml and a release process coordination, things broke because there was a cherry-pick that week that was using the pre-change amphtml code (mod the cherry-pick) with the post-change release script.

That is to say, if you are going to make this change, work closely with the release

[2020-01-15 16:30] catherinehoule opened #26347 "aria-expanded capabilities for amp-nested-menu"
## Describe the new feature or change to an existing feature you'd like to see

Could we have `aria-expanded` capabilities for expendable UI elements in `amp-nested-menu`?

## Describe alternatives you've considered

For accessibility purposes, we want to add `aria-expanded=true/false` to menu-items with submenus. I added `amp-status` & `on:tap` on the open/close button since it was not implemente

[2020-01-15 16:38] glevitzky commented on #19312
The problem is that fluid slots issue a request when hidden, while regular slots issue a request once they become visible. This is because we keep fluid slots hidden until render time (since we don't know their size in advance), and so have to issue a request before they are made visible.

Somehow we must be able to detect cases in which the fluid slot will never become visible, and ensure request

[2020-01-15 16:58] mrjoro commented on #25452
@kevinkimball provided a verbal update for the Performance WG during this meeting; do y'all have a written update we can link to here and on the [WG updates page](https://github.com/ampproject/meta/wiki/Working-Group-Updates)?

/cc @ampproject/wg-performance @kristoferbaxter

[2020-01-15 17:01] mrjoro commented on #25995
The Runtime Working Group was scheduled to provide their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review, though since there are no topics we are cancelling it.  @jridgewell can you provide a written update only and link to it here?

/cc @ampproject/wg-runtime

[2020-01-15 17:03] mrjoro commented on #25995
Since there are no topics other than the WG update, we'll cancel this design review.

[2020-01-15 17:40] mrjoro commented on #25996
The Stories Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-stories @newmuis

[2020-01-15 17:41] mrjoro commented on #25997
The UI & Accessibility Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-ui-and-a11y @nainar

[2020-01-15 17:44] mrjoro opened #26348 "Design Review 2019-02-05 21:00 UTC (Americas)"
Time: [2019-02-05 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=05&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190205T210000Z/20190205T220000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-01-15 17:44] mrjoro opened #26349 "Design Review 2019-02-13 01:00 UTC (Asia/Oceania)"
Time: [2019-02-13 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=13&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190213T010000Z/20190213T020000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-01-15 17:44] mrjoro opened #26350 "Design Review 2019-02-19 16:30 UTC (cancelled)"
Time: [2019-02-19 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=19&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190219T163000Z/20190219T173000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-01-15 17:46] zhouyx commented on #26197
cc @zewenliang

[2020-01-15 17:46] mrjoro commented on #26348
The Validation & Caching Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-caching @Gregable

[2020-01-15 17:47] mrjoro commented on #26349
The Viewers Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-viewers @ericfs

[2020-01-15 17:58] mrjoro commented on #26350
The Access & Subscriptions Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-access-subscriptions @jpettitt

[2020-01-15 18:49] samouri commented on #24265
I've actually run into this as well and was confused. I was attempting to populate the `<amp-script>` element completely by the script's js as without having initial contents.

Forcing a nonzero width is fine, but I'd at least expect a dev warning.

[2020-01-15 19:15] samouri commented on #18207
@jridgewell  / @choumx: this is still marked P1 and yet hasn't had activity since 2019. Is there action for us to take here?

I see this recent message in our error logs:
[code]

[2020-01-15 19:31] samouri commented on #25370
@jridgewell: can you link to the two bugs and fixes?

[2020-01-15 20:01] instanano opened #26353 "Custom Javascript Not Working"
I am using AMP on blogger template and custom javascripts are not working properly. I want to create my custom scientific calculator, which should have sin cos value calculations also. Please help me.

[2020-01-15 20:17] #26307 closed

[2020-01-15 20:43] Enriqe opened #26354 "Expanded mode in interactive elements blocks navigation in desktop view"
When expanding a tweet, the navigational arrows on desktop panels view aren't clickable. One has to close the expanded tweet and then navigate.

![image](https://user-images.githubusercontent.com/5449100/72469541-9fe9f000-37ad-11ea-92aa-bb2b06382de6.png)

[2020-01-15 21:22] calebcordry opened #26356 "🚄Release tracking issue for canary release 2001141706210 (Canary)"
# Release tracking issue

- [x] Release [`2001141706210`](https://github.com/ampproject/amphtml/releases/tag/2001141706210) is cut as a new canary release
- [x] Release 2001141706210 pushed to dev channel (January 15, 2020, 1:48:55 PM GMT-8)
- [x] Release 2001141706210 pushed to 1% (<CL submit time>)
- [ ] Release 2001141706210 pushed to production (<CL submit time>)

See the [release documentatio

[2020-01-15 21:23] #26268 closed

[2020-01-15 22:08] jridgewell commented on #18207
Wanna investigate it? 😉

[2020-01-15 22:08] zhouyx opened #26361 "Analytics: Cookie writer to support custom SameSite value"
@ryanashcraft @pierre-b @leazus @misteryeo @colmsnowplow
Please let us know if there's request to change the `SameSite` value when setting cookie using the AMP provided cookie writing feature. Thanks.

[2020-01-15 22:59] zhangsu commented on #26314
Yeah, the documentation you linked is for the JavaScript implementation of Mustache, and the behavior it documents is non-standard and should not be relied on. Different AMP for Email clients
 (Outlook, Yahoo Mail, mail.ru, Gmail, etc.) may use different Mustache implementations (e.g., [Mustache Java](https://github.com/spullara/mustache.java)), so you should only rely on behaviors defined in the

[2020-01-15 23:10] choumx commented on #24265
We could do that by overriding `onLayoutMeasure()` or `onMeasureChanged()` in amp-script.js and warning if the layout box has a zero size and hasn't been laid out.

[2020-01-15 23:18] choumx commented on #18207
https://github.com/ampproject/amphtml/blob/1912180046560/src/service/resources-impl.js#L627

Looks like there's more than one cause. How prominent is the error? E.g. top N.

[2020-01-15 23:52] westonruter opened #26364 "Consider allowing input[type=button] and input[type=image]"
I'm coming across some WordPress themes that are using `input[type=button]` and `input[type=image]`. Are there specific reasons for why are not allowed in AMP?

![image](https://user-images.githubusercontent.com/134745/72481218-b04e9a80-37ae-11ea-98b2-ac8c2ec17976.png)

https://github.com/ampproject/amphtml/blob/a81762bd82cac406c3341a02908e45ed9448c560/validator/validator-main.protoascii#L4509-L45

[2020-01-15 23:53] westonruter commented on #26364
/cc @ampproject/wg-security-privacy per @honeybadgerdontcare in [Slack](https://amphtml.slack.com/archives/C4J8SLKMH/p1579128753000700).

[2020-01-16 06:29] modernwarfareuplink commented on #26314
Yeah, I have updated it to use a boolean value, but it would be better to have the exact implementation in playground.amp.dev and in gmail client. Also would be better, if we could either have same functionality between them or add some information in the AMP documentation about this difference. Thanks a lot for the quick response. @zhangsu @caroqliu

[2020-01-16 10:35] josewhitetower commented on #24929
Can anybody try to zoom in out the images. I have the same problem in a vertical carrousel and doing it shows the images, only iOS.

[2020-01-16 13:38] pierre-b commented on #26361
Hi @zhouyx , thanks for asking, we don't need this feature at the moment. We use the AMP cookie to persist the AMP cid until the user exits the Google CDN and lands on the real domain with the linker (cid in URL).

[2020-01-16 16:47] samouri commented on #24763
@sebastianbenz, can you help me understand the use case for: "(1) Actions calling into amp-script
"?

Specifically I'm trying to figure out what kind of amp-script behaviors a publisher would want to call via [on] handlers, and is it more ergonomic than alternatives. In which situations would this remove the need for `amp-bind`?

I'm probably missing something, but all the situations I'm thinking

[2020-01-16 17:46] westonruter commented on #26364
Per @Gregable in the [Slack thread](https://amphtml.slack.com/archives/C4J8SLKMH/p1579138629001900?thread_ts=1579128753.000700&cid=C4J8SLKMH):

[2020-01-16 17:55] dvoytenko commented on #26364
The issue with `<input type="image">`, AFAIR, that we can't control its loading time it jumps the layout once loaded. And at this point we can't even apply `layout` rules to it. Is there a discernable difference between using `<input type=image src="...">` vs `<input type=submit><amp-img src="..."></input>`?

[2020-01-16 18:05] samouri commented on #18207
While there are a few others, this is the most prominent cause of this error by far. In terms of this error vs. others, this one is pretty low on the occurrences list.

The problem snippet is this:
[code]

While `getElementsByClassName` returns a live-list, I don't think an element removal (making `ampElements[i]` undefined), could be a cause for this. Mostly because no other code could run in bet

[2020-01-16 18:24] zhouyx commented on #26361
Thank you @pierre-b

All, I'm going to label this issue P2 for now. But please do let us know if this feature is important for your business. We can prioritize it with the Chrome 80 launch approaching. Thanks.

[2020-01-16 19:14] choumx commented on #24763
Could be helpful to augment preexisting pages with a little "amp-script magic". Also composing AMP components with `[on]` actions might be easier than writing code depending on the developer's expertise.

[2020-01-16 19:24] westonruter commented on #26364
An `input[type=image]` can have a `width`/`height`, so that would prevent layout shifting.

The only thing that `input[type=image]` doesn't support is `loading=lazy`, so that would prevent deferring of the image loading.

With styling it doesn't appear so.

[code]

So transforming `input[type=image]` to `button > amp-img` seems like a viable option if it remains invalid AMP.

[2020-01-16 19:40] sebastianbenz commented on #24763
Use cases:

* trigger an action in the backend that's not possible via amp-form
* add a todo item to a todo list (this makes it possible for the todo list to be rendered without any of the amp-script layout constraints
* Use amp-script to implement complex domain logic that's used by the whole page (

Not requiring amp-state is not the main use case, but a positive side-effect in a few cases.

[2020-01-16 20:28] samouri commented on #24763
Thank you both for the replies!

I'm still struggling to understand the use cases, so I'm going to think-out-loud through the three use cases to try an understand how the alternative implementations would stack up.

---

So this would involve creating a new action via `amp-script` js, and then calling it via [on] actions. Seems to me like it would be more concise (and involve no new APIs) to do th

[2020-01-16 20:38] sebastianbenz commented on #24763
There's a subtree/nesting problem (more below). You might want to be able to fire the same action from different elements on the page.

How would you fire a repeatable action using amp-state? E.g. send out a request every time a button is clicked?

This could work in some cases, but would mean that you couldn't have a small self-updating amp-script on the same page.

[2020-01-16 21:29] gmajoulet commented on #26020
We added some code to forward vertical touch events, so you can build a "swipe down to close" feature in your viewer if you want to (https://github.com/ampproject/amphtml/pull/26303).

We also implemented this `getDocumentState`/`setDocumentState` API, and added an option to retrieve the `PAGE_ATTACHMENT_STATE`, which will allow you to do exactly what you expect (https://github.com/ampproject/amph

[2020-01-16 21:29] #26020 closed

[2020-01-16 21:47] drtchops commented on #26020
Awesome, thank you so much for your help on this!

[2020-01-16 22:12] choumx opened #26375 "amp-script: Size-changing DOM mutations on initial load"
Height-changing mutations can occur during worker-dom's "hydrating" phase (the first set of mutations), which can violate content jumping rules for `amp-script[layout=container]`.

IOW, this line is wrong:
https://github.com/ampproject/amphtml/blob/4180199fb37b57e69214250bf2306e6b72afd3e9/extensions/amp-script/0.1/amp-script.js#L363-L364

Instead, it should check whether the set of mutations conta

[2020-01-16 22:56] CrystalOnScript commented on #26051
After a few discussions around Actions and Events, I think the best form of discoverability is to migrate the list and description of each components specific actions and events into that components reference documentation. Each component should have inline executable code samples that demonstrate the actions and events. If we did this in the AMP Actions and Events document, it would be much too l

[2020-01-16 23:01] creativefold opened #26377 "Unable to use the Chrome AMP Validator extension"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-01-16 23:20] danielrozenberg opened #26378 "amp-script: Support layout=nodisplay (or zero width/height)"
@choumx mentioned that `nodisplay` will cause issues if set as the layout for `<amp-script>` elements. Should this be removed from the validator, or added as a supported layout in the extension?

[2020-01-17 08:51] sebastianbenz commented on #26051
SGTM

[2020-01-17 09:07] rares-mihai-preda opened #26381 "changeSize and attemptChangeSize call - stops responsive layout"
I created a custom amp html component that inherit from BaseElement. Our component support just responsive layout.

By design, our component that is embedded in an iframe supports two layout types: portrait and landscape. When orientation change, we call this.element.changeSize(height, width) which will resize the component. The bad part is that after resizing, if the viewport change, the componen

[2020-01-17 13:21] kishanugc opened #26382 "copy text without using iframe in AMP"
iframe affect the page load time and is there any alternative for iframe copy button.

Please release amp-copy extension  as soon as possible.

[2020-01-17 17:02] wassgha commented on #26382
Duplicate of https://github.com/ampproject/amphtml/issues/4853

[2020-01-17 17:02] #26382 closed

[2020-01-17 18:55] mdmower commented on #25873
@sebastianbenz I have an idea of how we could handle the difficulties `amp-geo` presents when self hosting a runtime.

If a cache is not able to support [dynamically generated amp-geo](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md#guidelines-adding-a-new-cache-to-the-amp-ecosystem), then fallback to fetching the country when `amp-geo` loads. Given that `/v0/amp-geo

[2020-01-17 19:04] estherkim commented on #26331
Believe this was fixed in https://github.com/ampproject/amphtml/pull/26336. Closing.

[2020-01-17 19:04] #26331 closed

[2020-01-17 19:18] sebastianbenz commented on #25873
@mdmower I like this idea!

@Gregable would speak anything against providing such an API endpoint?

[2020-01-17 20:55] gmajoulet opened #26390 "All amp-story visual diff tests including amp-video tags fail."
All amp-story visual diff tests including amp-video tags fail. Hard to figure out when it started breaking as the Percy's UI doesn't let you go too far back in time without melting your computer, but it's been over 3 months.

Affected tests include amp-story bookend.

[2020-01-17 21:11] powerivq commented on #26274
@massa1240 I just tested on my side, and could confirm that the child PAGE_VIEW_ID is the same as parent's when both are firing through amp-pixel. What is your setting? Are they cross domain?

[2020-01-17 22:04] Gregable commented on #25873
@jridgewell and @zhouyx might have more state than me.

@mdmower I'm not sure I understand what returning JSON from `https://cdn.ampproject.org/geo-api-0.1.json` improves over returning JS from `https://cdn.ampproject.org/v0/amp-geo-0.1.js'. It does not appear to change anything with regards to @sebastianbenz 's comments about independence, control, or performance.

[2020-01-17 22:13] newmuis commented on #18559
AFAIK, the way to prevent this from happening is to always keep a video playing.  We would need to experiment with it, but I would guess you could allocate a video (if the page does not have one) and play some default video on loop, while hidden.

[2020-01-17 22:30] Enriqe commented on #18559
I tried this and it's not working on iOS, also tried restarting the video in case it finished playing (causes device to go to sleep), but that didn't make the trick either...

[code]

[2020-01-17 23:17] Enriqe commented on #18559
Poking and asking around it sounds like this is impossible in iOS 13+. The [Wake Lock API](https://web.dev/wakelock/) seems to be underway, though.

[2020-01-17 23:39] Stefany93 opened #26396 "amp-carousel's arrows are keyboard inoperable (inaccessible)"
## What's the issue?

Arrows are not operable by keyboard (no effect on pressing Spacebar or Enter)

## How do we reproduce the issue?

Just test any `amp-carousel`

## What browsers are affected?

I guess all? I tested on Chrome and FireFox on Windows 10

So, to remedy the issue, I had to write custom JS code to make the arrows operable by a keyboard. I am not a good JS developer, so please don't

[2020-01-17 23:45] kristoferbaxter opened #26397 "Reduce need for FixedLayer"
Fixed Layer setup is executed in the next available microtask when an AMP document is 'ready'. `ampdoc.whenReady().then(() => this.fixedLayer_.setup());`

There are a few things we could do to reduce its impact on initial document performance:
1. Do no work in `setup` if the document is not inside an AMP Viewer.
2. Remove the need for its complexity by performing transforms on source document as p

[2020-01-18 00:03] morsssss opened #26398 "<amp-script> outputs error to console for layout != 'container'"
Whenever I use <amp-script> with a layout that's not `container` - e.g., `fixed` or `responsive`, the following error is output to the console:

`Expected height to be available:  null` - `error.js:195`

While this may seem trivial, I've already seen examples where AMP developers reached out to Googlers for help because they couldn't figure out how to debug their code, and they assumed this bug wa

[2020-01-18 00:08] kristoferbaxter commented on #26397
Per offline conversation with Dima:

We could split this work into different buckets and raise the priority of the first:
1. Participate with scheduler to execute `setup`, and disable when the document is not in the viewer.
2. Move to CSS Variables for the entire system, including changes to ingestion of documents and the generation of signed exchanges.

[2020-01-18 01:00] choumx commented on #26398
Can you share an example page?

[2020-01-18 01:14] micajuine-ho commented on #25514
Hi @benwfreed, thank you for your issue report.

Looking at your jsfiddle, it seems that you do no have the `data-crossorigin` attribute in your `<amp-ima-video>` tag (instead you have `crossorigin`).

You will need this attribute since your .vtt [is from a different origin than your video](https://amp.dev/documentation/components/amp-ima-video/#attributes).

[2020-01-18 01:39] jridgewell commented on #26397
Prior work at
https://github.com/jridgewell/amphtml/commit/8fd33d1b5677dbe352ae2083d0792309667d9d97

[2020-01-18 01:54] twifkak opened #26402 "Allow AMP to be HTML-valid"
It would be nice if there were a way to express every AMP capability in an HTML valid way (doesn't make something like https://validator.w3.org/ upset). Provide `data-` alternatives for attributes like `<script custom-element>`, `on`, etc. I note that [amp-bind already does this](https://amp.dev/documentation/components/amp-bind/#bindings) and that's great, but I'm not sure that's true across the

[2020-01-18 02:05] morsssss commented on #26398
Sure! This simple HTML does it. (I've removed the AMP boilerplate for simplicity)

[code]

[2020-01-18 02:40] newmuis commented on #18559
Hmm, so on iOS 13+, if you try a story like this one, does the device sleep?

[2020-01-18 03:40] mdmower commented on #25873
@Gregable From the start of my involvement in trying to find a solution for self-hosting, I've been advocating for publishers who would like to self-host the AMP runtime but do not have fancy CDNs that can perform modifications to components based on country (see [Guidelines: Adding a new cache to the AMP ecosystem](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md#gui

[2020-01-18 05:12] kalyie opened #26405 "Urgent help required - How to do automatic copy to clipboard"
Hi Team,

we are developing a coupon website which will have multiple coupons for stores
like below
![image](https://user-images.githubusercontent.com/60026306/72658973-7237bd80-39de-11ea-96ea-2b1bca83d771.png)

now problem is when user click on get code we want the coupon to be copied automatically to clipboard and this copying to clipboard should happen in new window which opens when user click

[2020-01-18 05:23] westonruter opened #26406 "Add @-moz-document to the CSS at-rule allowlist"
A few WordPress themes I've been evaluating for AMP compatibility are making use of the [experimental `@document` CSS at-rule](https://developer.mozilla.org/en-US/docs/Web/CSS/@document) (more specifically, `@-moz-document`).

Specifically, there are ~69 instances~ [275 instances](https://wpdirectory.net/search/01EH39MRBKSD5S1QXBAT2KSHRT) I've found across ~4,000 themes.

Every instance I've seen

[2020-01-18 06:13] mdmower commented on #25873
My suggested changes to `amp-geo` are in draft PR #26407.

[2020-01-18 06:48] mdmower commented on #25873
If I understand this suggestion correctly, I think it should only be implemented for AMP pages served from the Google AMP cache. Otherwise, you're telling publishers they are not allowed to take snapshots in history to record the way in which a page was rendered by a specific version of the runtime.

[2020-01-18 08:08] farnabaz opened #26408 "`amphtml-validator` Support Node 13"
Is there any specific reason to not support node 13 on `amphtml-validator`?

https://github.com/ampproject/amphtml/blob/master/validator/nodejs/package.json#L12-L14

[2020-01-18 12:16] jamescridland commented on #26339
I'm seeing four errors in my `amp-script` implementation:

Cannot delete property 'undefined', 'TEMPORARY', and 'PERMANENT' as well as my own JavaScript function name.

All works fine though. I was confused; thanks to @morsssss for this initial report.

[2020-01-18 20:35] newmuis commented on #26334
/cc @ampproject/wg-stories @calebcordry

[2020-01-19 05:15] honeybadgerdontcare commented on #26408
@rsimha  @sebastianbenz thoughts?

[2020-01-19 08:37] dkhan11 commented on #25682
Any update on this? after investing tons of efforts in google AMP, our SEO is at its lowest level due to incorrect page rank. BTW - there is the same problem with loading fonts.

[2020-01-19 08:57] massa1240 commented on #26274
Hi, @powerivq just a quick question, are you using `iframe` for this test? Because it could be slightly different from what I am testing. My ultimate goal is to send impression events from my Google DFP creative, so yes, they are cross-domain. However, any `amp-analytics` or `amp-pixel` I place on my creative doesn't get fired at all. I haven't tested firing pixels from an `iframe` because it does

[2020-01-19 15:50] westonruter commented on #25682
I synced with the Lighthouse team last week about this. It appears to be a bug with the Lighthouse audit, but they are going to investigate.

[2020-01-19 16:54] levyblue commented on #25845
Hello team, does anyone have an update on this issue?

[2020-01-20 03:20] morsssss commented on #25682
@dkhan11 , you do know that AMP isn't a ranking factor in Google Search?

Of course, speed is a ranking factor, so but hopefully you're investing in AMP because you want an improved user experience? 😎

[2020-01-20 06:50] dkhan11 commented on #25682
Hi @morsssss and thanks for the response,
Yes - we are aware of it. But we had high hopes that building our service ONLY with AMP will provide great user experience and high performance as well.

[2020-01-20 08:00] rahuljs commented on #14928
@blerimkrosi this issue is happening due to an incorrect image size declaration.

[2020-01-20 08:03] RuChuanLin opened #26410 "[iGA, iOS 13] AMP components fail to bootstrap on page"
## What's the issue?

We have observed that when opening AMP pages from Google APP for the first load, every AMP related tag is not working well.

We have tested for the following devices:
- iPhone XR (iOS 13.3)
- iPad Air (iOS 12.1.1)
- XiaoMi 9T (Android 9)

Only iPhone XR has this issue.

## How do we reproduce the issue?

1. Open Google App
![image](https://user-images.githubusercontent.com/22

[2020-01-20 08:18] RosSpa95 commented on #26105
up

[2020-01-20 09:22] magadetejas5 opened #26411 "Bootstrap"
Plese add Bootstrap

[2020-01-20 11:00] RafalOddslife opened #26412 "amp-form: AMP Validation doesn't allow value 'tooShort' for 'visible-when-invalid' attribute"
## What's the issue?

When using amp-forms AMP Validation doesn't allow value 'tooShort' for 'visible-when-invalid' attribute. It returns an error:

'tooShort' is correct value and should be supported (https://developer.mozilla.org/en-US/docs/Web/API/ValidityState/tooShort). For other attribute values like 'tooLong' it works fine.

Issue was already spotted here: https://github.com/ampproject/amph

[2020-01-20 19:31] morsssss commented on #25682
Very good!

I'd be interested in hearing more about your experience, but off this bug thread.

[2020-01-21 06:45] c0b41 commented on #24929
@jridgewell any update for this feature?

[2020-01-21 09:34] bishrulhaq commented on #25845
I'm still having the issue, :(

[2020-01-21 11:54] Beethoven opened #26416 "Validation - Allow The tag ‘template’ in Amp Story elements"
## Components that uses template tags is allowed but the tag template not
Ex: Amp-list is allowed but tag template not
The tag ‘template’ may not appear as a descendant of tag ‘amp-story-page-attachment’.

Another example:
tag: “AMP-DATE-COUNTDOWN”
tag: “AMP-LIST”
is amp-story-grid-layer-allowed-descendants but template not

## Describe alternatives you've considered
Allow tag: "TEMPLATE"

[2020-01-21 12:36] sebastianbenz opened #26418 "Validator: transformed AMP does not support script nonce"
I've noticed a few cases were AMP Optimizer would turn a valid AMP doc into invalid AMP when the original file defined script nonces. The validation error is triggered by the presence of `transformed="self;v=1"`. Is this intentional?

For example, this file is not considered valid:

[code]

but it's non-transformed version is:

[code]

//cc @honeybadgerdontcare @Gregable

[2020-01-21 17:08] Gregable commented on #26418
tl;dr: The optimizer should probably strip nonces, the same way that the packager does: https://github.com/ampproject/amppackager/blob/e4bf0430ba152cfe82ccf063df92021dfc0f26a5/transformer/transformers/nodecleanup.go#L64

`nonce`s cannot be present in the AMP Cache output, since the AMP Cache will not emit the matching CSP header to enable the nonce. The AMP Cache implements security of the `<scrip

[2020-01-21 17:20] calebcordry commented on #26334
@Avdhoot05 Thanks for reporting, will look into this later today.

[2020-01-21 17:26] Enriqe commented on #18559
Yep, and I have that snippet above where a video is playing on repeat in the background.

[2020-01-21 17:44] rsimha commented on #26408
We originally supported only even numbered versions of `node` in order to restrict the versions to those that would eventually become an LTS version.

Given that the `amphtml-validator` package is used externally, I'm supportive of expanding the list of versions.

If the folks on @ampproject/wg-caching are fine with it, I'm open to simply removing the `engines` section from the `package.json` file

[2020-01-21 17:48] kristoferbaxter commented on #26408
How about specifying a minimum version corresponding with the lowest supported LTS version? This could assist with removing some boilerplate code in the module too (like wrapping fs.readFile in a promise).

[2020-01-21 17:52] Gregable commented on #25873
@mdmower Hopefully @jridgewell or someone else on this thread can address version locking and the possible need to upgrade the client-side implementation over time.

From my read of the cache code, I don't see why patching the country into the .json document would be any different than patching it into the .js document. The cache implementation would probably be straightforward.

Otherwise, I'm no

[2020-01-21 17:59] Gregable commented on #26408
I have no problem with this.

[2020-01-21 18:06] Enriqe commented on #18559
Investigating a bit more since I can keep it awake by visiting sites with real videos

[2020-01-21 18:15] newmuis commented on #18559
The snippet you pasted above looks like:

(1) It doesn't have a source?  You could try settings its source to the default source we use in stories if that helps: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/default-media.js#L21

(2) I'm not sure why you need the `timeupdate` listener?  Seems like you should just be able to have a muted, autoplay, looping video and it

[2020-01-21 18:21] cramforce commented on #25873
Just very generally: We'd like to avoid providing an easily usable general purpose geo location API that folks would easily starting to rely on outside of amp-geo. This is for numerous reasons.

So, I'd strongly prefer a solution that is directly tried to amp-geo in some fashion.

[2020-01-21 18:24] #25828 closed

[2020-01-21 18:24] rsimha commented on #26331
Agreed. I peeked at the E2E test runs since this was closed, and all of them were green.

[2020-01-21 18:24] Gregable commented on #26364
Sounds like the conclusion is:

- Add `button` / `file` to the supported list.
- Modify the AMP transformers to rewrite images found in `<input src>` using the same logic as `<img src>`.
- After the above has been released, create a new validator rule for `<input type=image>` that also requires `src`, `width`, *and* `height.

It doesn't sound like there is demand for `type=password`, so for simpli

[2020-01-21 18:31] dvoytenko commented on #26364
Yep. Exactly. As long as we rewrite the `src`, we can allow `<input type=image>` with the required `width` and `height` values.

[2020-01-21 18:35] mattwomple commented on #25873
To play devil's advocate, doesn't the API already exist for outsiders?
[code]

[2020-01-21 18:37] Enriqe commented on #18559
Yeah I omitted the source since it was a local video, and the `timeupdate` listener was there since I heard some devices might go to sleep when a video has finished playing (even though video was set to loop).

For the prototype I'm just adding an `amp-video` behind the story using `z-index: -1000`.

[code]

this still doesn't seem to do the trick.. doing more investigations...

[2020-01-21 18:37] Gregable commented on #26364
One other FYI. In addition to not supporting `loading=lazy`, we also lose support for `srcset` (at least I didn't find any reference to `<input srcset>`). The AMP cache applies this automagically to images. The cache and transformers will need to simply rewrite `src` only I think this is a reasonable tradeoff.

[2020-01-21 18:38] cramforce commented on #25873
@mattwomple I think this is a good example of the line. If we break that regex and somebody files a bug here, then I would not in any way feel bad about just closing it.

[2020-01-21 18:43] Gregable commented on #26364
The cache transforms were filed internally at Google as `b/148083520`.

[2020-01-21 18:43] dvoytenko commented on #26364
@Gregable, is there no `srcset` in `<input type=image>`?

[2020-01-21 18:45] Gregable commented on #26364
I didn't test it, but quick reference checks didn't see a reference to it, such as [here](https://www.w3schools.com/tags/tag_input.asp).

[2020-01-21 18:47] dvoytenko commented on #26364
I suppose it doesn't make me like `<input type=image>` anymore than I already didn't like it. But I just checked, it's not deprecated, so let's do.

[2020-01-21 18:53] sebastianbenz commented on #26408
SGTM as well. For lower version we should stick with Node 8 at least until end of this year (it's official EOL).

[2020-01-21 18:55] micajuine-ho commented on #23365
Hi @dzuendorf, thank you for your issue report.

Your example actually demonstrates two issues:

1. The video controls (play/pause) are not visible on the ima-video
2. When the controls are visible (possible by using a different video), the video still didn't pause

The first issue should be fixed by #23660, and I have fixed the second issue in the PR above.

[2020-01-21 18:55] kristoferbaxter commented on #26408
Good news, Node 8 EOL was Dec 2019.
You need only support 10+.

See https://nodejs.org/en/about/releases/

[2020-01-21 18:57] sebastianbenz commented on #26408
🤦 it's already 2020

[2020-01-21 18:57] micajuine-ho commented on #24542
Closing this issue now. Feel free to reopen if you have any questions or concerns.

[2020-01-21 18:57] #24542 closed

[2020-01-21 19:12] sebastianbenz commented on #26418
This means we block publishers from using nonces for optimized AMP pages served from their own origin. I'm not an CSP expert, but this sounds like a serious limitation to me.

[2020-01-21 19:21] powerivq commented on #26274
@massa1240 I am using `<amp-ad type=fake>` to include an AMPHTML ads that has amp-pixel and amp-analytics on it. The parent page also has amp-analytics and amp-pixel.

I tried both cross domain and same domain, both are able to send out the same `PAGE_VIEW_ID`.

[2020-01-21 19:31] lannka commented on #26274
@massa1240 do you have a demo that we can play with?

[2020-01-21 20:05] rsimha commented on #26408
The Internet told me that we're now closer to 1/1/2050 than we are to 1/1/1990.

[2020-01-21 20:20] eduardogoncalves commented on #25845
Hello team, does anyone have an update on this issue?

[2020-01-21 20:25] rsimha commented on #26408
When I spoke to @MylesBorins at Open JS last month, he mentioned to me that the `engines` section is likely to be deprecated soon, and that a better way of enforcing `node` versions in a repo is to have tests / CI return an error for incompatible versions. We already do this for `amphtml` via [build-system/common/check-package-manager.js](https://github.com/ampproject/amphtml/blob/master/build-sys

[2020-01-21 20:26] vidhu opened #26424 "instanceOf HTMLElement returns false due to polyfill"
## What's the issue?

`HTMLElement` is overridden by a polyfill. This causes the `instanceOf` operator to return `false` in cases where it should return `true`

## How do we reproduce the issue?
Here is a minimal reproducible example

[code]
The console should log out `true` since `<div id="test"></div>` is an instance of `HTMLElement` however it logs out false.

[Running example](https://codesand

[2020-01-21 20:28] danielrozenberg opened #26425 "`gulp dist` does not work on Python 3"
Tangentially related: #26279

[2020-01-21 20:33] rsimha commented on #26425
`gulp dist` uses [Nailgun v1.0](https://github.com/ampproject/amphtml/blob/master/third_party/nailgun/nailgun-runner), which is a python script used to launch a reusable instance of closure compiler.

Nailgun is technically supposed to be python 3.0 compatible (https://github.com/facebook/nailgun/pull/128), but there's likely something else wrong.

Happy to investigate at some point.

[2020-01-21 21:06] Gregable commented on #26418
I suppose we could also just allow transformed AMP to have nonces. We'd still strip them in the packager/cache, but it wouldn't be verified for SXG in the cache.

Worst case, if a publisher modified the packager code / implemented their own and didn't strip nonces, a document would fail to load AMP javascript.

cc @ampproject/wg-security-privacy

[2020-01-21 21:10] Gregable commented on #26412
This isn't typically an attribute _set_ by users, it's instead read. However, I agree that there is no reason to disallow it, so let's implement. Thanks for the report.

[2020-01-21 21:14] Gregable commented on #26364
@fstanis if possible, it would be nice to support proxying this for consistency in formats as much as we can. It should follow the exact same code path as `<img src>`, which makes me think implementation would be straightforward.

[2020-01-21 21:22] alankent opened #26429 "Background audio spanning groups of pages instead of whole story"
## Describe the new feature or change to an existing feature you'd like to see

I would like to have background audio span a subset of pages without restarting when navigating between those pages. Currently audio is the whole story or a single page.

## Describe alternatives you've considered

Having background audio per page is an option, but restarts when you go to another page (forward and back

[2020-01-21 21:37] #25209 closed

[2020-01-21 21:39] jridgewell commented on #24929
Opened #26430 to launch

[2020-01-21 21:42] rsimha commented on #26408
Reopening this issue because I realized we still need to push a new version of `amphtml-validator` for the fix to take effect.

[2020-01-21 22:04] #26412 closed

[2020-01-21 22:05] Gregable commented on #26412
This will roll out within about a week.

[2020-01-21 22:16] micajuine-ho opened #26432 "CMP consent prompt UX and a11y redesign"
Project tracker for #26197 (related to #17257)
[Design doc is here](https://docs.google.com/document/d/1VQ9qqOhGznS_5ySrusBBz_GFEfsLjHYUJSketwq9-9I/edit)

- [x] Create feature flag & remove focusing on iframe (document.activeElement) #26437
- [x] SR a11y changes (through role alertDialog) #26456
- [x] Restrict fullScreen before user interaction #26461
- [x] dev error and postMessage messages (& do

[2020-01-21 22:58] jridgewell commented on #25873
I cannot make a decision on providing a amp-geo JSON API. That's way above my authority.

There's a very real risk that the locally compiled `v0.js` will **not** be compatible with the `amp-geo-0.1.js` file served by the AMP JS CDN. That's one of the reasons we version lock to begin with.

But what are the chances the locally compiled version will match one of the official versions (say, `/rtv/123

[2020-01-21 23:01] micajuine-ho commented on #26197
Hi all.

Work on this project will be tracked here #26432.

The timeline for implementation should be around 2 weeks. All changes will be guarded under a `feature flag` that you can opt into using so that you can test behavior, etc.

Once all the changes have landed in production, we will communicate any changes that you need to make (should be minimal, if any). Then after about 2 weeks, we will r

[2020-01-21 23:31] micajuine-ho commented on #26432
cc @lannka

[2020-01-22 03:16] mdmower commented on #25873
Separate topic from `amp-geo`:

I have been revisiting my original suggestion to use a `<meta>` tag to update `config.urls.cdn` when an AMP document is loaded in `singleDoc` mode.  See PR #25028 and section "Full self-hosting" in the [design doc](https://docs.google.com/document/d/1Wv7jlnTlLYgo9b841W88yblcHJjLI7GhdBKF60IWaWc/edit#). This may not be the best path forward. Consider this...

Several

[2020-01-22 07:50] andrejoblakceltra commented on #24542
@micajuine-ho sorry for late response. Workaround with overlay is not acceptable. In this case the developer has to handle a lot of edge cases. For instance you cannot just assume to display "play button" overlay and replace it with "pause button" overlay on the first click. If video is set to autoplay, it would need to be the opposite. What about if autoplay is blocked by browser? In this case th

[2020-01-22 08:34] dkhan11 commented on #25682
I would love to. Feel free to contact me at elad@deal.guide or let me know how to reach you.

[2020-01-22 10:21] lazharichir commented on #23166
@lannka hello! I am an Amazon Associates myself and you announced the discontinuation of AALB's WP plugin... so I am planning on transitioning to the Native Shopping Ads Cards (from SiteStripe)...

But... Adding the two `<script>` tags in WordPress (in a `Custom HTML` block) doesn't then show the product card on the AMP page.

Any temporary fix for that?

[2020-01-22 11:23] sebastianbenz commented on #26418
That'd be even better!

Sounds like the better compromise which could be easily solved by documenting the constraints for implementing a packager.

[2020-01-22 14:58] rcebulko commented on #25989
With cases where files are built internally and copied into `dist/`, or when they are static files copied in via the release script, I think the plan will be to append those explicitly copied files to `files.txt` within the release script.

With regards to `experiments.html` & pals, could we:
1. Output to both `dist/` and `build/` initially within `gulp dist`
2. Update all references to `build/` t

[2020-01-22 16:20] iparamonau commented on #26226
The  PR #26151 has been updated. All the comments and implementation concerns should be incorporated and addressed.

[2020-01-22 16:22] fstanis commented on #26364
I agree, but the issue is that:

- We need to make sure all email clients supporting AMP are (1) aware of this and (2) are appropriately handling it. We can use the WG meeting to coordinate this effort, but I don't want to block this issue on it, so it's best to just skip email support for now.

- More things to proxy raises the bar to support AMP for new email clients.

[2020-01-22 17:13] choumx commented on #26398
Some layouts (including `responsive`) requires a `width` and `height` to be set on the AMP element.

https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/control_layout/#supported-values-for-the-layout-attribute

[2020-01-22 17:19] #26334 closed

[2020-01-22 17:22] micajuine-ho commented on #24542
Hi @andrejoblakceltra, thanks for your follow up.

The link provided above demonstrates how you can use an overlay to track clicks. With some minor changes, you can remove the play/pause button, change the overlay to be transparent, and trigger `click` events (i.e. clicking on the video will create an analytics event but also play/pause the video if that is supported natively by the video player).

[2020-01-22 18:02] mrjoro commented on #25452
Friendly ping to @kristoferbaxter for the wg-performance quarterly update.

[2020-01-22 18:02] mrjoro commented on #25995
Friendly ping to @jridgewell for the Runtime quarterly update.

[2020-01-22 18:05] mrjoro commented on #25996
Since there are no topics other than the WG update, we'll cancel this design review.

@newmuis can you provide a link to your quarterly update here and then close the issue?

[2020-01-22 18:16] wassgha commented on #26405
Related to #4853

[2020-01-22 21:31] samouri commented on #26411
@magadetejas5, can you please provide more details about what you are asking for?
I'm assuming you are referring to [this bootstrap](https://getbootstrap.com/).

We don't allow for 3p js on the page (except for in a sandboxed iframe),and we also have limits on the size of included CSS.

See the answers to a similar question here: https://github.com/ampproject/amphtml/is.

[2020-01-22 21:31] #26411 closed

[2020-01-22 22:17] mattwomple commented on #25650
I'm opting to drop this FR and associated PR since the only use case (in `amp-mustache`) would be better covered by a "data massaging" feature: #25719.

[2020-01-22 22:17] #25650 closed

[2020-01-22 22:32] morsssss commented on #26398
Good point!

However, with other AMP elements, when dimensions are missing, the validator throws an error, like this:

`The mandatory attribute 'height' is missing in tag 'amp-img'.`

So, ideally, I think the validator would do the same for `<amp-script>`. Otherwise, I fear that developers who don't realize they need to specify dimensions, or who forget to, will simply be confused.

Further, if th

[2020-01-22 22:55] choumx commented on #26398
Ah, it does throw the same validator error but such errors are silenced by `data-ampdevmode` on the amp-script element.

Agree on the friendlier runtime error.

[2020-01-22 23:30] morsssss commented on #26398
Oh, interesting!

Then should I amend #26341 to ask that the validator only silence warnings about the hash or the size of the JS? Or, really, my impression is that it would always be useful to get warnings about JS size. Just that it would be useful to not have to calculate the hash until we get nearer to production.

[2020-01-22 23:50] lannka commented on #23166
@lazharichir sorry you might find wrong person. I don't even know what AALB is.
If you find an issue with AMP, please create a separate issue. This thread is about amp-amazon-onetag

[2020-01-23 01:16] choumx commented on #26341
`data-ampdevmode` was originally implemented to disable all validation on elements that have the attribute. amp-script reuses the attribute for the use case you mentioned.

[2020-01-23 01:17] choumx commented on #26398
Yea, so we used to have a separate `development` attribute that only disabled the script hash behavior and then combined it when `data-ampdevmode` when we found out about it.

Sounds like you'd like it to be separate again?

[2020-01-23 01:32] jyn15 commented on #26241
@choumx Hi William, could you help take a look? We want to have this feature soon for building dynamic AMPHTML ads. Thanks!

[2020-01-23 02:17] alankent commented on #26429
Paul Bakaus shared separately [Mono by madefire](https://www.madefire.com/studio/mono/) which is an online comic that includes music across pages like I describe here. Adds a lot of drama to the comic!

[2020-01-23 03:15] newmuis commented on #25996
The stories working group update is here: https://github.com/ampproject/wg-stories/issues/24

Closing this since there are no other topics for the design review.

[2020-01-23 03:15] #25996 closed

[2020-01-23 07:52] photocoder opened #26452 "FR: allow doc level opt-out of amp-auto-lightbox"
## What's the issue?
My website use AMP. And home page doesn't have any "lightbox" pluggins added.
even more, I put "data-amp-auto-lightbox-disable" tag everywhere I can, but, I still see in information, that it's loaded.
"amp-auto-lightbox-0.1.js"
You can see full stat with Waterfall Chart of request-by-request visualization of the page load here: https://gtmetrix.com/reports/dimasfrolov.com/bR3v

[2020-01-23 13:50] staceyfenton opened #26453 "JavaScript error in Google AMP Viewer"
## What's the issue?

We have been experiencing an intermittent issue in the Google AMP Viewer. Navigating away from the AMP page to a non-AMP page and then clicking the browser's back button to return to the AMP page sometimes results in a JavaScript error which prevents the AMP page from being displayed.

## How do we reproduce the issue?

1. Perform a Google search with AMP results
2. Click on

[2020-01-23 14:28] jandolezal71 commented on #25481
I am unable to develop on this repo anymore, because i cannot see ads in Firefox or Chrome now :( Any suggestions?

[2020-01-23 15:31] vishaldodiya commented on #25481
@jandolezal71 Would you please share what is in ads.amp.html?

[2020-01-23 16:30] morsssss commented on #26341
Got it! AFAIK we've never documented this attribute, and I didn't know about it. We only mention it in the [<amp-script> documentation](https://amp.dev/documentation/components/amp-script/). I feel like we should document it and keep its behavior as is. As far as I'm concerned we can close this.

@CrystalOnScript WDYT?

[2020-01-23 16:33] morsssss commented on #26398
I feel like what we need here is something that disables the script hash behavior, exactly as you used to do with `development`. That's the thing a developer would want to disable while working on a script. I don't think it's worth suppressing any other errors, since the developer would want to catch those during development.

So I like what you used to do 😃 But /cc @fstanis , @patrickkettner , @s

[2020-01-23 16:59] calebcordry commented on #25481
Taking a look, checked out clean master, Chrome 79.0.3945.130 on Mac worked fine for me, but was able to repro on FF 72.0.2 Mac

[2020-01-23 17:54] sebastianbenz commented on #26418
What's the next step here? Should I submit a PR for the validator or do we need further review?

[2020-01-23 18:09] #26347 closed

[2020-01-23 18:21] Gregable commented on #26418
@twifkak for thoughts on Signed Exchanges.

[2020-01-23 18:38] calebcordry commented on #25481
Ok I think I know whats going on here. Our 3p ads wrapper is served from `ads.localhost.com`, chrome seems to resolve this to `127.0.0.1` while firefox does not. If you edit your `etc/hosts` file (on unix based systems) it will fix the issue.

@powerivq is looking into adding some documentation to avoid this in the future. @powerivq could you also add how to do this on windows? Thanks!

[2020-01-23 18:47] calebcordry commented on #25481
Windows host file appears to be at `C:\Windows\System32\drivers\etc\hosts`

[2020-01-23 19:11] #25205 closed

[2020-01-23 19:35] lannka opened #26457 "The launch of macro-after-long-task caused ads performance regression on inabox"
was launched by #25797

we need to disable it for inabox.

[2020-01-23 20:07] alexandr-kazakov opened #26458 "amp-lightbox-gallery add Autoplay button"
So far, I don't see an option to add an autoplay button to amp-lightbox-gallery. I think this would be a good option. It is implemented in many lightboxes, such as fancybox-3:

![chrome_PgJuefwcAi](https://user-images.githubusercontent.com/20513262/73019185-29479500-3e34-11ea-9223-a72324768f30.png)

When you click, an automatic slide show occurs, which can be stopped by clicking on pause:

![7fBwM

[2020-01-23 20:19] lannka commented on #26457
/cc @kristoferbaxter

[2020-01-23 20:27] Gregable commented on #26418
I sync'ed offline with @twifkak. I think we're good to go to modify the validator. You can create the PR or I can if you'd rather.

[2020-01-23 20:37] twifkak commented on #26418
For posterity, the SXG decision is based on:
 - These nonces are only being applied to AMP runtime scripts.
 - The nonces are [stripped by amppkg](https://github.com/ampproject/amppackager/blob/e4bf0430ba152cfe82ccf063df92021dfc0f26a5/transformer/transformers/nodecleanup.go#L64).
 - The AMP runtime scripts are otherwise still valid given the [CSP provided by amppkg](https://github.com/ampproject/a

[2020-01-23 21:09] AndrewKGuan commented on #24008
+1 on this FR

[2020-01-23 21:10] #24929 closed

[2020-01-23 21:19] #26457 closed

[2020-01-23 22:30] micajuine-ho commented on #24006
closed by #26059

[2020-01-23 22:30] #24006 closed

[2020-01-23 23:09] erakor opened #26462 "Document that "The tag 'svg' may not appear as a descendant of tag 'amp-nested-menu'.""
Currently, the document only provides [one example of "Disallowed tag ancestor" error](https://amp.dev/documentation/guides-and-tutorials/learn/validation-workflow/validation_errors/#disallowed-tag-ancestor):

It seems that the `svg` tag is not allowed within `amp-nested-menu` either.
Are there any other examples?

[2020-01-23 23:11] #26462 closed

[2020-01-23 23:15] erakor opened #26463 "Allow 'svg' as a descendant of of tag 'amp-nested-menu'."
Currently, the documentation only provides [one example of "Disallowed tag ancestor" error](https://amp.dev/documentation/guides-and-tutorials/learn/validation-workflow/validation_errors/#disallowed-tag-ancestor):

However, it seems that the [`svg` tag is cannot be nested under `amp-nested-menu`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-nested-menu/validator-amp-nested-menu

[2020-01-23 23:17] #24265 closed

[2020-01-23 23:36] samouri commented on #25961
This is now fixed! And with no changes to AMP Camp necessary 🎉 .

[2020-01-23 23:36] #25961 closed

[2020-01-23 23:56] morsssss commented on #25961
Wow!

One more thing that AMP takes care of for me automatically :)

On Thu, Jan 23, 2020, 6:36 PM Jake Fried <notifications@github.com> wrote:

[2020-01-24 00:47] kristoferbaxter opened #26466 "I2I: Relax CSS Limit from 50000 bytes to 75000 bytes"
## Summary

Increase the allowed bytes for a valid AMP document from 50000 to 75000.

## Design document

The change itself is quite straightforward, change `max_bytes` from `50000` to `75000` [here](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii).

[code]

## Motivation

Many web developers have encountered the existing limit of 50000 with even quite [advanc

[2020-01-24 00:49] nainar commented on #26466
This addresses https://github.com/ampproject/amphtml/issues/4555

[2020-01-24 01:54] morsssss commented on #26466
Woo hoo!

😀😀😀😀😀😀😀

[2020-01-24 03:38] photocoder commented on #26356
https://dimasfrolov.com
Today I see on my page a lot of errors :

error.js:202 a.getResources(...).mutateElement is not a function
hf @ error.js:202
amp-auto-lightbox.js:321 Uncaught (in promise) TypeError: a.getResources(...).mutateElement is not a function
    at amp-auto-lightbox.js:321

[2020-01-24 08:13] SimonHogstromRonbol opened #26469 "Amp-call-tracking - ability to return html rather than strictly returning text."
## Describe the new feature or change to an existing feature you'd like to see

The formattedPhoneNumber returned by amp-call-tracking is only allowed to return as text, but i would like it to be able to return html to make more complex things like buttons with icons and other neat gadgets, easier to make with amp-call-tracking.

## Describe alternatives you've considered

Our solution right now i

[2020-01-24 08:14] SimonHogstromRonbol commented on #26469
@morsssss this is the one i emailed about. :)

[2020-01-24 09:38] sebastianbenz commented on #26466
//cc @patrickkettner

[2020-01-24 10:35] PlayOncontent opened #26471 "I2I: amp-playon NEW MEDIA component"
**## Describe the new feature or change to an existing feature you'd like to see**

We are a Spanish video company who provide video technology to the biggers newspapers, networks and sites in Spain and LATAM.

We have our own HTML5 and JS videoplayer, IAB & IMA full compliant, and we need a way to help our customers to implement it in their AMP sites, like they can do with the amp-youtube or amp-

[2020-01-24 11:59] dkhan11 opened #26472 "amp-list rendering FID issue: longer than 300ms (mobile)"
Hello all,
I apologize for adding this ticket here. From my experience, I cannot get an answer to the following issue in stackoverflow or google's webmaster community.

About two weeks ago, or so, in the search console, our Mobile Usability and AMP countdown was dropped suddenly. After that, our page search impressions count dropped as well. All the pages pass all AMP verification tests, including

[2020-01-24 14:06] cramforce commented on #22151
This has shipped on the AMP Cache. I think that in general, whether an optimization is implemented on the AMP Cache should not block that it can be valid.

[2020-01-24 14:33] MaximePlancke commented on #26197
Hi @micajuine-ho

Sounds good, thank you!

[2020-01-24 14:37] morsssss commented on #26469
Great! I'm glad you're contributing :)

[2020-01-24 14:56] sebastianbenz commented on #26472
//cc @kristoferbaxter

[2020-01-24 14:58] cramforce commented on #26466
I had one follow-up question: Could we do a quick evaluation as to whether switching to a selector-count limit may be a better strategy?

[2020-01-24 15:54] adamsilverstein commented on #26259
Hi @choumx & @Malvoz - Thanks for the bug report, we were seeing this issue as well. I took a first pass at fixing this in https://github.com/ampproject/amphtml/pull/26465.

[2020-01-24 16:17] samouri commented on #26009
There was some good discussion here. I'm going to close this issue though in favor of multiple more specific I2Is (one just for initialization, and another for the more general protocol adapters use-case)

[2020-01-24 16:19] kristoferbaxter commented on #26472
@dkhan11 Can you provide an example URL?

[2020-01-24 16:23] samouri opened #26473 "I2I: Allow amp-list to render from amp-state initially"
**summary**

Initially proposed in https://github.com/ampproject/amphtml/issues/15647, this I2I is about allowing `amp-list` to render from `amp-state` for its first render, instead of only subsequent ones.  In order to support this, we can create a new [uri scheme](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Definition), `amp-state:`. The path that follows would then refer to an amp

[2020-01-24 16:34] samouri commented on #26348
If there is time, I'd like to present [initializing amp-list from amp-state](https://github.com/ampproject/amphtml/issues/26473).

[2020-01-24 16:34] kristoferbaxter commented on #26466
Chatting with @westonruter offline to see if we can capture this from Wordpress examples.

[2020-01-24 16:41] alanorozco commented on #24008
Important point: cannot do DOM mutations without explicit user interaction (a hover action is not considered this type of interaction under our definition, this is to avoid reflows/content shifting.)

We could make a `hover` event low-trust, but that would limit its functionality. I don't think the use case described here can be handled by a low-trust event (hence without mutations).

[2020-01-24 16:42] alanorozco commented on #26226
@iparamonau Have you scheduled a design review session?

[2020-01-24 16:51] kristoferbaxter commented on #26356
@alanorozco and @jridgewell are looking into this.

[2020-01-24 17:03] kristoferbaxter commented on #26356
@gmajoulet - Let's rollback, and get this issue fixed with a cherry pick.

[2020-01-24 17:05] samouri opened #26474 "I2I: "protocol adapters" for client side data massaging."
**summary**
Create a mechanism for developers to perform arbitrary client side transformations to an api response.

I actually think we need _very few_ changes to be able to use `amp-script` for this purpose. For example, in the case of a basic data transformation, this should work (I've left out some boilerplate).

[code]

The main missing pieces (assuming `amp-state:` init lands (https://github.

[2020-01-24 17:05] #26009 closed

[2020-01-24 17:28] iparamonau commented on #26226
@alanorozco not yet. I'll have to read through the process doc first and try to figure it out.

[2020-01-24 17:50] iparamonau commented on #25997
This would be a good time to review  I2I: AMP-Iframely component #26226, which is accompanied by PR #26151

/cc @alanorozco
Also per Alan's comment:

[2020-01-24 17:58] jridgewell commented on #26356
Rollback is submitted, waiting for propagation. Should be about 30min.

[2020-01-24 18:55] jridgewell commented on #26356
Rollback was successfully pushed (a while ago, just forgot to comment).

[2020-01-24 19:08] micajuine-ho opened #26477 "🌸 Cherry-pick request for #26478 into #2001141706210 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Production?  |     RC?      | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :----------: | :----------: | :-----------------------------------------------------------------------------: |
| #26478| #26324 | **YES** | **NO** |                               #26356

[2020-01-24 19:14] lannka commented on #26477
Should create a separate issue to describe the bug in production. My understanding is that the fix to a long standing issue (#21224) introduced a new regression?

[2020-01-24 19:15] micajuine-ho commented on #26477
I will create a new issue

[2020-01-24 19:19] micajuine-ho opened #26478 "Numbers in arrays vars breaks amp-analytics"
Issue for cherry-pick #26477

In prod, analytics request that uses numbers in arrays breaks it:
[code]

Bug is caused by: #26157

The fix is in RC/Beta/Experimental: #26324

[2020-01-24 20:18] dkhan11 commented on #26472
Hi, I apologize, I thought that it was clear from the page speed insight link. Here is the URL used in the above speed test: https://deal.guide/category/smartwatch.html

[2020-01-24 20:29] powerivq opened #26483 "🌸 Cherry pick request for 26484 into 26356 (cherry-picked)"
# Cherry-pick request

|       Issue       |       PR       | Production?  |     RC?      | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :----------: | :----------: | :-----------------------------------------------------------------------------: |
| #26484 | #26479 | **YES** | **YES** |                               #2635

[2020-01-24 20:34] powerivq opened #26484 "amp-auto-lightbox emitting error messages on prod"
[code]

[2020-01-24 20:36] powerivq commented on #26483
/cc @gmajoulet

[2020-01-24 20:58] westonruter commented on #26466
From analyzing all ~4,000 WordPress.org themes:

* Average initial selector count: 3,640
* Average selector count after minification: 2,733
* Average reduction: -30%

For the CSS byte size:

* Average initial size: 244KB
* Average minified size: 64KB
* Average reduction: -70%

This data obtained from rendering a single post in a WordPress theme that is maximally-populated with all the content from

[2020-01-24 21:06] cramforce commented on #26483
Prod rolled back already right?

Is there a second cherry-pick coming? I thought that was the case.

[2020-01-24 21:11] gmajoulet commented on #26483
The other cherry-pick is here: #26477

Both should be cherry-picked into prod before it is rollforwarded

[2020-01-24 21:12] #16626 closed

[2020-01-24 21:13] cramforce commented on #26483
Approved

[2020-01-24 21:21] lannka commented on #26478
I assume we are not seeing same error messages in our current RC? (which has the fix already).

[2020-01-24 21:29] micajuine-ho commented on #26478
That is correct

[2020-01-24 21:30] kristoferbaxter commented on #26466
Spoke offline with @cramforce and @Gregable about "a quick evaluation as to whether switching to a selector-count limit may be a better strategy."

We did a quick analysis and didn't find a compelling correlation worth pursuing.

As a result, we agreed that a straight increase to 75KB makes the most sense right now.

[2020-01-24 21:34] morsssss commented on #26466
@westonruter , that data is super interesting to me - particularly the bit about excluded selectors.

I assume those selectors are what was excluded by dead-CSS elimination? If so, the savings is far less than what's implied by Chrome's Code Coverage tool.

[2020-01-24 21:39] choumx commented on #26424
Can you share a sample use case on a valid AMP page? AMP doesn't allow `<script>` as written above.

[2020-01-24 21:43] lannka commented on #26477
LGTM

[2020-01-24 21:45] westonruter commented on #26466
@morsssss yes, the AMP plugin determines whether a given selector will match the current document, and if not, it is removed from the `amp-custom` stylesheet. We actually just merged the ability to inspect the result of tree shaking in a view similar to the code coverage in DevTools: https://github.com/ampproject/amp-wp/pull/4026#issuecomment-571849650

[2020-01-24 22:08] jridgewell commented on #24862
Closed by #26046

[2020-01-24 22:08] #24862 closed

[2020-01-24 22:23] #26398 closed

[2020-01-24 22:25] cramforce commented on #26477
LGTM

[2020-01-24 22:37] jridgewell commented on #21901
This seems like something that could be important, given how frequently amp-list is used. What's left to finish?

[2020-01-24 22:51] samouri commented on #14095
@choumx, can this be closed seeing as amp-script is live?

[2020-01-24 23:07] jridgewell commented on #12555
Layers is dead. Long live Layers.

[2020-01-24 23:07] #12555 closed

[2020-01-24 23:07] jridgewell commented on #12556
Layers is dead. Long live Layers.

[2020-01-24 23:07] #12556 closed

[2020-01-24 23:08] jridgewell commented on #12748
Layers is dead. Long live Layers.

[2020-01-24 23:08] #12748 closed

[2020-01-24 23:08] jridgewell commented on #12780
Layers is dead. Long live Layers.

[2020-01-24 23:08] #12780 closed

[2020-01-24 23:15] jridgewell commented on #14788
Closing this, since iOS 13 has fixed the scroll issues that required transfer.

[2020-01-24 23:15] #14788 closed

[2020-01-24 23:15] jridgewell commented on #15058
Layers is dead. Long live Layers.

[2020-01-24 23:15] #15058 closed

[2020-01-24 23:16] jridgewell commented on #16459
Closing this, since iOS 13 fixed the scroll issues that required transfer.

[2020-01-24 23:16] #16459 closed

[2020-01-24 23:28] westonruter commented on #4555
See #26466 for I2I to increase limit from 50K to 75K. PR: #26475.

[2020-01-24 23:38] morsssss commented on #26466
Code Coverage often tells me a given site's CSS is 85% unused, 90% unused, or even higher. Your quite advanced dead-code eliminator doesn't get rid of anything near that percentage of selectors. This leads me to believe that the gains we'd get from creating a publicly available, easy to use, highly reliable dead-code eliminator are significant, but not as great as we'd hoped. And that's assuming w

[2020-01-24 23:59] westonruter commented on #26466
Right, it doesn't remove that percentage of selectors. But it does remove on average ~70% of the overall CSS. When all selectors for a declaration block are removed, then the declaration block is also removed. I suppose this is why the overall code reduction is 70% even though only 30% of the selectors were removed (as removing the last selector from a declaration block causes a lot more to be rem

[2020-01-25 00:01] kristoferbaxter commented on #14095
Closing, `amp-script` and `WorkerDOM` have shipped.

[2020-01-25 00:01] #14095 closed

[2020-01-25 00:18] jpettitt commented on #26466
The other thing to look at is class renaming.   When I was building the CSS compressor for Relay Media renaming classes was a huge win.   It's tricky to get right because you have to make exceptions for things that might get manipulated by extensions but both renaming and merging identical css blocks can be a big win.  [Class renaming is a bit easier if you just add the new short classes to the ht

[2020-01-25 00:37] Gregable commented on #26466
It's worth noting that class renaming doesn't help much with the actual problem that the byte limit tries to fix because of compression. It helps you meet the AMP metric, but the user experience is only minimally improved.

[2020-01-25 00:41] westonruter commented on #26466
Some drawbacks I see to CSS class renaming:

1. Added difficulty for devs to debug CSS issues. Overall this makes CSS more opaque and is a detriment to view source and copy/paste.
2. Increased opportunities for CSS selectors to fail to apply to the document for dynamic content. I'm thinking of `amp-live-list` where the elements in updates would need to make sure they had the class names renamed th

[2020-01-25 00:44] jridgewell commented on #16042
@choumx Should this be made a priority for us? Better perf metrics is probably good.

[2020-01-25 00:49] jridgewell commented on #18473
ios-embed-sd is [dead](https://github.com/ampproject/amphtml/pull/24273)

[2020-01-25 00:49] #18473 closed

[2020-01-25 00:54] cramforce commented on #14788
Is FixedLayer deactivated in iOS13?

[2020-01-25 01:06] dvoytenko commented on #14788
Transfer is deactivated.

On Fri, Jan 24, 2020, 4:54 PM Malte Ubl <notifications@github.com> wrote:

[2020-01-25 01:10] jridgewell commented on #19439
I don't think there's anything we can do on our (Runtime) end. Should we close this for https://github.com/ampproject/amphtml/issues/19479?

[2020-01-25 01:22] kristoferbaxter commented on #26472
Awesome! I'll take a look.

[2020-01-25 03:45] stephengardner commented on #26466
This is a big help for more complex themes that we're developing/have developed with [AMP for Shopify](shopsheriff.com/apps/amp).

To add to @westonruter's point, we have considered class renaming, but this does present a hurdle if a user wants to do something like copy/paste their existing theme CSS into the AMP theme CSS, or debug the AMP theme CSS in a way that seems parallel to their existing

[2020-01-25 04:39] merakmarey commented on #26249
Hi Caroline! No news for this?

[2020-01-25 14:18] choumx commented on #21901
Just some developer hints on how to use the `binding` API. I can wrap that up quickly.

[2020-01-25 14:41] choumx commented on #16042
I think this is a good fix-it task.

[2020-01-25 14:44] choumx commented on #19439
Well, this fell off the radar. For runtime, there's the small matter of adding some instrumentation (e.g. `dev().error`) to get some data on the number of impacted pages. That can be tracked as part of the I2I though.

[2020-01-25 19:55] mattwomple commented on #24927
Closing in favor of #25873.

[2020-01-25 19:55] #24927 closed

[2020-01-25 21:30] gmajoulet opened #26494 "Bookend images receive HTTP 200 but appear broken"
Bookend images appear broken for this publisher, even though the request return a HTTP 200 code and the src seems valid:

https://www.washingtonpost.com/graphics/2020/world/amp-stories/mapping-coronavirus/

cc @ampproject/wg-stories

[2020-01-25 21:57] gmajoulet commented on #26477
We decided to not cherry-pick production and skip this week's production release. Canary is unaffected by this issue and will be pushed to production next Tuesday.

[2020-01-25 21:57] #26477 closed

[2020-01-25 21:58] gmajoulet commented on #26483
We decided to not cherry-pick production and skip this week's production release.
Canary has been patched, is available as of a few minutes ago, and will be pushed to production next Tuesday.

Reassigning to @powerivq for the mini post mortem.

[2020-01-25 22:51] asadkn commented on #26466
It's quite odd to continue using an arbitrary bytes size limit. One of the most basic thing almost everyone does lately is to have gzip compression active, if not brotli.

Is there a reason why the compressed size can't be considered? 400KB of CSS can be 40KB gzipped.

[2020-01-26 16:16] cramforce commented on #26466
We care about a proxy for browser render time, not so much time on the wire. In any case compressed size is relatively proportional to non-compressed size, so it really doesn't matter so much which you pick.

[2020-01-26 16:53] asadkn commented on #26466
Thanks for the comment. I am aware of the reason for the metric but the way it is now, using good development practices like BEM is punished, unnecessarily.

Even on something that doesn't use BEM, for example T20 WordPress theme, the style.css goes down from 123KB to 98KB by minifying the class names. However, with BEM usage, I have seen results from 80KB to 45KB by just minifying class names to

[2020-01-27 00:02] westonruter opened #26496 "Meta viewport properties cause validation error when extra whitespace is present"
During work on the [AMP plugin](https://github.com/ampproject/amp-wp) for WordPress, @pierlon [discovered](https://github.com/ampproject/amp-wp/pull/4137#issuecomment-578467681) that a meta viewport tag formatted with whitespace surrounding the equals signs resulted in a validation error (as [seen in the Postmag theme](https://themes.trac.wordpress.org/browser/postmag/1.1.7/header.php#L15) for Wor

[2020-01-27 00:04] westonruter commented on #26496
cc @ampproject/wg-caching

[2020-01-27 02:11] merakmarey opened #26497 "AMP-Social Share svg ignore color attribute"
According to https://amp.dev/documentation/examples/components/amp-social-share/?format=websites, icons colors can be styled using a css color attribute, same as the background-color attribute, however on the invoke of registerElement in amp-social-share-0.1.js the svg fill attribute of the default icons is fixed to '#fff' making the color attribute  useless.

@paul-matthews

[2020-01-27 09:40] Beethoven commented on #26494
It's working for me here:

<img width="665" alt="Screen Shot 2020-01-27 at 06 38 51" src="https://user-images.githubusercontent.com/81638/73164053-e6a1e900-40cf-11ea-860b-9e90bb9942d6.png">

[2020-01-27 10:52] SimonHogstromRonbol opened #26499 "Actions and Events - Ability to add on="stuck:.." and on="unstuck:.." to elements"
## Describe the new feature or change to an existing feature you'd like to see

I would like to see the ability to react to when an element with position: sticky gets stuck to the page, or unsticks from the page on scroll.

The usecase for us is whenever we create a website with elaborate header elements, some of the content from said header elements, menu, logo (dependent on screensize) and so on

[2020-01-27 11:41] sebastianbenz commented on #23657
The fix only removed the validator constraint, but did not address the root problem that amp-autocomplete does not work without an enclosing form and will fail at runtime.

[2020-01-27 13:57] RosSpa95 commented on #23411
Is there any news regarding this feature? Our latest tests show that the tel protocol is not yet supported:

![image](https://user-images.githubusercontent.com/51668307/73180270-48387680-4115-11ea-9640-37c408fbe607.png)

Thanks

[2020-01-27 15:27] Enriqe commented on #26494
I don't seem to be able to repro either. Can you share the steps / device / browser where you see this?

[2020-01-27 15:29] rcebulko commented on #24550
Does @ampproject/wg-security-privacy have any opinions/thoughts on this? Renovate PRs frequently update our dev dependencies and are generally approved without intense scrutiny.

[2020-01-27 15:42] caroqliu commented on #26497
Thanks for filing this issue. It is possible to override the default styles using the [SVG data](https://github.com/ampproject/amphtml/blob/master/third_party/optimized-svg-icons/amp-social-share-svgs.css).

Here is a sample with a non-white fill for the icon through custom styling:
[code]

Closing the issue for now, feel free to re-open.

[2020-01-27 15:59] zhangsu commented on #23411
We will discuss this in the next AMP for Email WG meeting in 2 weeks to get a consensus among all the email clients on whether to proceed.

[2020-01-27 16:10] flixwatchsupport commented on #25845
Having similar issues on my website - https://www.flixwatch.co/
Some of the sample pages are-
https://www.flixwatch.co/movies/hush/
https://www.flixwatch.co/country/usa/
https://www.flixwatch.co/lists/100-best-movies-on-netflix/

[2020-01-27 16:12] #19312 closed

[2020-01-27 16:16] gmajoulet commented on #26494
1. Open Chrome Devtools and emulate an iPhone
2. Open https://www.washingtonpost.com/graphics/2020/world/amp-stories/mapping-coronavirus/ and navigate to the bookend
3.
![image](https://user-images.githubusercontent.com/1492044/73192023-75296100-40f6-11ea-96bb-0474572263d7.png)

[2020-01-27 16:26] bretg commented on #26229
Prebid Server receives RTC calls from AMP. We find it sub-optimal to have to introspect CONSENT_STRING, which could be formatted as a TCF1.0 or CCPA string.

Would it be possible to add a "CONSENT_TYPE" attribute which the CMP can add to provide a clear signal on how the string is formatted? Valid CONSENT_TYPE values could be: TCF1, TCF2, USP, etc.

Speaking for Prebid, if we had CONSENT_TYPE, we'

[2020-01-27 16:53] micajuine-ho commented on #26478
Closed via #26477

[2020-01-27 16:54] caroqliu commented on #26452
The `data-amp-auto-lightbox-disable` tag disables behavior of the lightbox but not inclusion of the script in the first place. This seems like a feature request to be able to do the latter. /cc @ampproject/wg-runtime @alanorozco

[2020-01-27 16:58] caroqliu commented on #26499
/cc @ampproject/wg-performance @ampproject/wg-runtime

[2020-01-27 17:25] morsssss commented on #24326
Update: the team that works on the AMP Cache is actively investigating this to see if there's an issue.

[2020-01-27 18:00] kristoferbaxter commented on #26499
Thanks @caroqliu, assigning @kevinkimball who is working on a proposal for refactoring the `FixedLayer` system. This work ties in nicely.

[2020-01-27 18:18] danielrozenberg commented on #25720
We can also do three runs - `prod` config, `canary` config, and a specialized `all-experiments` config. This would of course add 50% to the execution time of integration tests and visual diff tests. wdyt?

[2020-01-27 18:20] danielrozenberg commented on #25560
What's still missing to mark this as fixed?

[2020-01-27 18:21] danielrozenberg commented on #25550
Looks like @ampproject/wg-infra has qualms about this feature request. @honeybadgerdontcare does the solution Ryan suggested work for you instead?

[2020-01-27 18:23] rcebulko commented on #25560
AFAIK this has been updated in `ampproject/amphtml` everywhere except https://github.com/ampproject/amphtml/blob/master/tools/experiments/experiments.js#L63

[2020-01-27 18:26] #9871 closed

[2020-01-27 18:26] danielrozenberg commented on #25468
We discussed this in a @ampproject/wg-infra meeting, and we think we should do the following:
1. Every 3 months delete all the RTV files for versions older than 6 months
2. Delete any RTV files for versions that have a P0 in them (within reason of having an on-duty engineer bisect older versions if the P0 was long standing) once a cherry-pick is in place and has been available for a week

@ampproj

[2020-01-27 18:28] #26463 closed

[2020-01-27 18:28] alanorozco commented on #26471
@PlayOncontent

Thank you for your I2I.

Have you looked into using [`amp-video-iframe`](https://amp.dev/documentation/components/amp-video-iframe/#for-third-party-video-vendors)?

It will give you the harnesses you need. I believe you only need need to create a hosted document that can dynamically insert videos from URL using the code snippet you included.

[2020-01-27 18:29] danielrozenberg commented on #25403
Percy only supports one execution of visual diff tests against a PR, so running multiple tests in different shards will not work. I can't think of a reasonable workaround at the moment but I'll keep thinking about it

[2020-01-27 18:31] danielrozenberg commented on #25105
@zhouyx @micajuine-ho any progress on this?

[2020-01-27 18:33] danielrozenberg commented on #25227
This sounds like a perfect fixit week/GFI task, agree @rsimha?

[2020-01-27 18:35] rsimha commented on #25468
I have some questions / comments below, but no answers :)

One aspect we haven't discussed is what this will do to websites that use versioned AMP. Today, they aren't considered valid, but the pages still work. When we start deleting older RTVs, the websites will stop working if they fetch the versioned runtime from the CDN URL.

If we delete every 3 months, the age of the oldest available RTV wil

[2020-01-27 18:37] danielrozenberg commented on #23307
Fixed

[2020-01-27 18:37] #23307 closed

[2020-01-27 18:40] danielrozenberg commented on #20903
This has been formalized in #25578 and for the most part is now implemented. Closing this in favour of finalizing this in #25578

[2020-01-27 18:40] #20903 closed

[2020-01-27 18:41] danielrozenberg commented on #20744
This is no longer as big an issue as it used to be when this I2I was added. The test-status bot exposes the status of the various tests but does not let the buildcop actually bypass the Travis checks. I doubt we'll ever get to that point again, so closing this. Feel free to reopen if you think we should do this

[2020-01-27 18:41] #20744 closed

[2020-01-27 18:42] danielrozenberg commented on #20142
This is now handled in #25616. Closing this as a duplicate.

[2020-01-27 18:42] #20142 closed

[2020-01-27 18:45] danielrozenberg commented on #19898
Looks reasonably good on mobile now :)

[2020-01-27 18:45] #19898 closed

[2020-01-27 18:45] danielrozenberg commented on #19897
Looks reasonably good now!

[2020-01-27 18:45] #19897 closed

[2020-01-27 18:47] danielrozenberg commented on #18551
Closing because this is tracked elsewhere (and also almost done)

[2020-01-27 18:47] #18551 closed

[2020-01-27 18:52] danielrozenberg commented on #25560
Cool. I sent PR #26489 to fix this along with other related changes. Let's close this issue!

[2020-01-27 18:54] zhouyx commented on #25105
I believe we can remove all the visual tests here now that we have added e2e tests? @micajuine-ho what do you think? Thanks.

[2020-01-27 18:56] danielrozenberg commented on #25468
@ampproject/wg-caching do you know if we can check whether some websites are version-locked to old RTVs?

I actually like that. This seems to be a pretty safe thing to do automatically, if coupled with a validation check

Yes, delete the entire RTV directory and be done with it

Might require some special handling when we get started, but once this becomes part of the automation we wouldn't have a

[2020-01-27 19:12] samouri commented on #26353
Hi @instanano, currently AMP has specialized support for JS in the form of [amp-script](https://amp.dev/documentation/components/amp-script/). Beyond that, custom 3p js in the main thread is explicitly not allowed.

Closing since AMP is functioning as desired/expected, but feel free to leave more comments if you have further questions.

[2020-01-27 19:12] #26353 closed

[2020-01-27 19:20] nainar commented on #25997
Link to UI and A11y WG update: https://github.com/ampproject/wg-ui-and-a11y/issues/38

[2020-01-27 19:21] samouri commented on #5225
Is there any reason the action for `AMP.windowBack` wasn't added? If this is something we still want, I'd be happy to work on it

[2020-01-27 19:24] PlayOncontent commented on #26471
Hello @alanorozco

Yes, we tried but it´s not possible: we have problems with demand platforms (ads).

We need a component like brightcove, jw-player or dailymotion use (as we do quite the same, but free for our publishers).

Thank you.

[2020-01-27 19:28] Enriqe opened #26505 "Navigation is stuck after tapping quickly in an amp-story"
1. Go to any story (e.g. https://www.telegraph.co.uk/visual-stories/anna-mellor-singapore-story/)
2. Tap quickly to navigate forward.
3. Tap quickly to navigate backwards.

After some combination of steps 2 and 3 I've found that navigation is stuck. The progress bar is not updated and I can't leave the current page.

Tested on iOS 13.3 with Chrome and Safari.

Maybe related to #25020

/cc @ampproj

[2020-01-27 19:38] rcebulko commented on #25560
Let's add "Closes #xxxx" to the above PR and let GitHub close it when that PR goes in

[2020-01-27 19:39] jridgewell commented on #19439
I don't understand how we'd do that? How do we detect that an img has been broken by Cache's rewritting, and it's not just some 404?

[2020-01-27 19:42] rcebulko commented on #25468
I could see baking this into the release automation process, ie "We're adding release X, and clearing out all releases < X - 90 days" (though obv would have to be in a separate set of CLs)

[2020-01-27 20:08] Enriqe commented on #26505
Testing on a real device and monitoring the console I've found the following error:

[code]
After which, navigation is frozen until (I suspect) 30 secs have passed. After which, navigation is unblocked again.

[2020-01-27 20:14] gmajoulet commented on #26505
Cool! Great catch!

Let's throttle this to make sure it doesn't trigger more than 100 times every 30s?

https://github.com/ampproject/amphtml/blob/244d6476cae989c9e3219e9a9c5a637ab6914bac/extensions/amp-story/1.0/utils.js#L269-L278

[2020-01-27 20:23] gmajoulet commented on #26505
Can you also double check why we call `setHistoryState` that often? You'd need to change page every 330ms for 30s straight to hit this limit, we shouldn't be able to repro that easily.

[2020-01-27 20:48] Enriqe commented on #26505
Yep, I think debouncing/throttling the call should fix this. I think we just have to make sure to call `replaceState` before a `pushState` is performed.

Re. why it's firing that often, I've been playing around with it a bit and it seems that it has to do with the fact that we're calling it both from [onCurrentPageIdUpdate_](https://github.com/ampproject/amphtml/blob/1c5d54b5e3e4a2c108a558fa66b9cc

[2020-01-27 20:55] gmajoulet commented on #26505
Cool thanks for investigating!

1. I think throttle would be preferable over debounce so the history says as accurate as possible. The operation isn't expensive so that should be fine.
2. Could we stop storing `HistoryState.PAGE_ID` and rely on the last item of `HistoryState.NAVIGATION_PATH` instead? (1) would fix the issue but it's always cool to kill some. (Might be a diff PR)

[2020-01-27 20:59] Enriqe commented on #26505
Sounds good, I'll send out a PR soon 👍

[2020-01-27 21:02] zhouyx commented on #26229
Thank you @bretg for the feedback.
TCF1.0 and 2.0 should be easy to interpret as the version number is included in the TC string. But I agree that the US privacy string make things more difficult.
Is there a standard name that the AMP team can follow? Could you please let us know how CMPs are passing this information in non AMP page today? Thank you

[2020-01-27 21:40] gmajoulet opened #26510 "🚄 Release tracking issue for release 2001251659540"
# Release tracking issue

- [x] Release [2001232119410](https://github.com/ampproject/amphtml/releases/tag/2001232119410) is cut as a new canary release
- [x] Release [2001232119410](https://github.com/ampproject/amphtml/releases/tag/2001232119410) promoted to Experimental and Beta (opt-in) channels (11:29 AM, Jan 24, 2020 UTC-5)
- [x] Release [2001232119410](https://github.com/ampproject/amphtml/

[2020-01-27 21:40] #26356 closed

[2020-01-27 21:50] morsssss opened #26511 "<amp-script>: "Illegal mutation" error should provide more information"
Currently, if I try to use `setInterval()` or `setTimeout()` on load, or if I try to make mutations >5 seconds after a user gesture, I get an error message like this:

`[amp-script] amp-script[script="myscript"].js was terminated due to illegal mutation.`

* Most importantly, it would be much more useful to know what the illegal mutation was. Otherwise, as a developer, I don't know what I've done

[2020-01-27 22:32] rcebulko commented on #25560
Correction, there is still more work to be done on this, please do not close.

[2020-01-28 00:03] gacontre commented on #25845
Following this. having the same issue.
[amp-auto-ads] No ad placements found for publisher ID 'ca-pub-

[2020-01-28 00:04] gacontre commented on #25845
January is almost over. any progress on this? please advise

[2020-01-28 00:18] gacontre commented on #25845
Try this?

https://isabelcastillo.com/auto-ads-amp-wordpress

[2020-01-28 01:02] alanorozco commented on #26471
@PlayOncontent

Could you specify these problems in more detail and file issues if appropriate?

This requires more details:

- What's the HTML API for the proposed component?
- What does this `//domain/file.min.js` script do? AMP does not allow embedding third-party Javascript, this would require an intermediate 3p frame to embed it.
- Is this is an intent for you/your team to implement this, or

[2020-01-28 01:05] photocoder commented on #8439
Hello.
I have this issue.
I have images hidden in different slides.
And they don’t appear after slide show.
Here is you can see my page with this issue:
dimasfrolov.com
Block with reviews.

[2020-01-28 01:11] dvoytenko opened #26516 "Consider switching to the new private-var style for all private class-instance vars"
E.g. `this.privateVar_` -> `this.#privateVar`.

Updating it sooner in Closure compiler could be helpful to migrate our old style. We just need to ensure that our obfuscation logic supports this.

/cc @jridgewell
/cc @ampproject/wg-infra
/cc @kristoferbaxter

[2020-01-28 03:11] merakmarey commented on #26497
So, basically in order to have style applied to this icon I would need to recreate the whole svg?...wow...

[2020-01-28 03:39] flixwatchsupport commented on #25845
Have you tried it? It's from 2018 and no recent comments on the post.

[2020-01-28 06:44] matiullah31 commented on #4482
@avimehta Hi, Any news regarding gtag implementation

[2020-01-28 12:17] JoyceBabu opened #26522 "Autocomplete does not work correctly when the src url contains an existing query parameter"
## What's the issue?

The dynamic loading option of the autocomplete plugin is not working, when the `src` url already containers a query string. For example, If I set the `src` to 'https://amp.dev/search.json' and the `query` attribute to `q`, then the requested url is
[code]

But if I change the `src` to `https://amp.dev/search.json?param=1`, then the queried url is
[code]

## How do we reproduc

[2020-01-28 13:45] Beethoven commented on #26494
Emulating an iPhone same problem here.

[2020-01-28 14:41] caroqliu commented on #26522
Hi, thanks for filing this issue! This is definitely not desired behavior--I'll work on a fix shortly.

[2020-01-28 16:13] wassgha commented on #26497
We have three options here:
- With the current implementation, we can only change the color is either by replacing the `background-image` or by using a filter (for example `filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);` for a blue tone).
- We can expose the `<svg>` as a child instead of a `background-image` which will allow developers to use `color` and `fill` on it but that's a

[2020-01-28 17:13] Gregable commented on #19479
For the cache piece of this, do we want to disable all URL rewrites inside a `<template>` tag, or should we try to be smarter? For example, we could rewrite if the URL does not contain `{{`.

Disabling all is easier to reason about, so is what I recommend.

[2020-01-28 18:07] Gregable commented on #26466
@asadkn We considered compressed size very early in the validator spec:

- As Malte points out, the compressed and non-compressed size are nearly proportional.
- Compression is less predictable for developers. For example, it is possible that adding new CSS could reduce compression size. It's simpler to work with an uncompressed length limit.
- The actual amount that CSS is compressed depends on o

[2020-01-28 18:10] Gregable commented on #26466
My understanding is that the primary reason AMP implements CSS limits is to encourage CSS hygiene rather than just copy/pasting lots of potentially unused CSS into a document.

[2020-01-28 18:10] bretg commented on #26229
In non-AMP pages, there are different IAB functions in the page that serve as the interface. For GDPR, the ad tech javascript infrastructure calls window.__cmp(). For CCPA it's window.__uspapi(). So because these separate interfaces exist, it's quite clear to the ad ecosystem how to parse the results of the call.

Being on the vendor end of RTC is quite different - we're not making the call to the

[2020-01-28 18:15] rcebulko commented on #20120
This error is still occurring, appears to have started back up January 21st

[2020-01-28 18:23] #26316 closed

[2020-01-28 19:10] dkhan11 commented on #26472
My search console enhancement report recognizes fewer and fewer pages as AMP or Mobile. Might this error explain this situation?

[2020-01-28 19:30] morsssss opened #26524 "<amp-script> forbids mutations in a way that's confusing"
### Preamble

[amp.dev](https://amp.dev/documentation/components/amp-script/?format=websites#user-gestures) says:

The rules for mutations are as follows:

1. For amp-script elements with non-container layout, mutations are always allowed.
1. For amp-script elements with container layout, mutations are allowed for five seconds following a user gesture. This five second window is extended once if a

[2020-01-28 19:48] JoyceBabu opened #26525 "Expose the entire selected item on the autocomplete select event"
## Describe the new feature or change to an existing feature you'd like to see

When a select event is fired by an autocomplete component, `event.value` contains the value specified in the `data-value` attribute of the selected item. When the source item was an object, there is no option to get the entire original object.

In the following code example, I want to set the value of the `input[name=s

[2020-01-28 19:59] Enriqe commented on #20120
To add more info, we've had 38k occurrences on the last day.

[2020-01-28 20:02] Enriqe commented on #25764
Any updates here? Still seeing a high number of occurrences on the last day in the current canary `2001251659540`.

[2020-01-28 20:04] Enriqe commented on #22533
@ampproject/wg-ui-and-a11y Can you please reassign this issue? Seeing 8k occurrences in the current canary `2001251659540` in the last day.

[2020-01-28 20:12] Enriqe commented on #25642
@jridgewell wasn't this an error message you wrote a while back? 😂 Not sure if this should go to you or if someone from @ampproject/wg-ui-and-a11y could update this please?

Seeing 6.6k occurrences in the last day in the current `2001251659540` canary.

[2020-01-28 20:14] Enriqe commented on #23935
@ampproject/wg-analytics @dvoytenko any updates here?

Still seeing 5.9k occurrences in the current 2001251659540 canary.

[2020-01-28 20:37] jridgewell commented on #25642
This goes to @ampproject/wg-ui-and-a11y, I wrote the errors to debug the issue. I'm not sure how to fix it.

[2020-01-28 20:59] paulirish commented on #25803
Based on https://github.com/ampproject/amphtml/issues/25803#issuecomment-560566740 it sounds like these stylesheets are indeed render blocking.

Given that, I believe Lighthouse is correctly flagging these requests.

[2020-01-28 21:11] morsssss commented on #26524
Trying `fetch`, I get similar results to the above. Except:

**with layout="responsive", dimensions not set:** fetch() fails on load. fetch() works >5 seconds on user event.

[2020-01-28 21:17] stephengardner commented on #26466
Your understanding seems correct.  I wasn't inferring lots of unused CSS.  This CSS can either be optimized beforehand, or optimized by the afformentioned tree-shaking after the user copy/pastes it.  All CSS on the pages we generate is tree-shaken before rendering, regardless of how much it started with.  If you clobber the CSS , then the user has no mapping during debug time.  If they want to cop

[2020-01-28 21:28] jridgewell commented on #26516
Closure doesn't currently class fields (and likely, private methods): https://github.com/google/closure-compiler/issues/2731

Also, private fields are not equivalent to public properties. For one, access is scoped only to the class lexical scope, and nothing outside (eg, the rest of the file or a test file) can access it.

[2020-01-28 21:34] #26478 closed

[2020-01-28 21:36] micajuine-ho commented on #25105
Yes, I will make sure that visual tests have been fully migrated to e2e tests.

[2020-01-28 21:37] micajuine-ho opened #26526 "Migrate amp-consent visual tests to e2e tests"
Follow up for #25105

[2020-01-28 21:38] #26526 closed

[2020-01-28 21:46] rsimha commented on #25560
+1 to adding a "Closes #XXXX" or "Fixes #XXXX" to the pull request and letting GH do its thing. Makes it easier to trace related PRs / issues in future.

[2020-01-28 21:49] rsimha commented on #25720
This isn't acceptable because we already spend huge amounts of Travis CPU time running integration tests.

At a minimum, I think it makes sense to replace fractional numbers in the prod config with 1.0 while running integration tests. This can be accomplished by changing the behavior of `gulp dist --fortesting`. Can solve this along with #24817.

[2020-01-28 22:25] alanorozco commented on #25997
@ampproject/wg-security-privacy for mention

[2020-01-28 22:35] lannka commented on #22264
Template ads deprioritized.

[2020-01-28 22:35] #22264 closed

[2020-01-28 22:37] samouri commented on #26524
Ah, so the actual two cases aren't `fixed` vs. `!fixed`, but `container` vs. `!container`. According to the [layout docs](https://amp.dev/documentation/guides-and-tutorials/learn/amp-html-layout/), a few of the cases you listed should flatten into the same case. Specifically the "dimensions not set" for cases are actually violations (and you should be seeing errors in the console for missing heigh

[2020-01-28 22:49] samouri commented on #26524
Just used the AMP Playground to test this out. I believe that `setInterval` actually does work, but will cause `worker-dom` to terminal pretty quickly (on its first mutations outside of hydration phase) if:
1. the callback is performing mutations
2. `layout=container`

If you either have the interval not perform mutation (e.g. console.log) OR give it a fixed layout, then setInterval works.

[2020-01-28 23:00] cramforce opened #26528 "Story bot render mode: Force text to be visible"
The text inferred from slide titles and video alt attributes should be forced to be readable.

This could e.g. be achieved by setting the background color of the text and the color of the text to different, high contrast colors. Today it can happen that a story e.g. sets a white background color and a white text color which works, because the text is usually not shown directly over the page backgr

[2020-01-28 23:06] gmajoulet commented on #26528
Did you notice that on a specific story?

We already have some CSS that should prevent this from happening, I'd be curious to see what kind of publisher provided CSS overrode it:

https://github.com/ampproject/amphtml/blob/0b9623cbc43521e28e395a58b9ab3613044cda14/extensions/amp-story/1.0/amp-story-vertical.css#L66-L68

[2020-01-28 23:27] kristoferbaxter commented on #25997
I'd like to discuss the [I2I for relaxing CSS limits](https://github.com/ampproject/amphtml/issues/26466).

PR: [26475](https://github.com/ampproject/amphtml/pull/26475)

[2020-01-28 23:45] cramforce commented on #26528
Interesting. I thought I saw it, but I must have been mistaken. Will keep an eye out for it!

[2020-01-29 01:03] jyn15 commented on #26241
@lannka Hi Hongfei, it seems William is on vacation. Do you have other comments? Does the proposal look good to you? In the meantime, I've created a PR that implemented option #2.

[2020-01-29 01:06] Gregable commented on #22151
I think the real problem might be that the inserted image src is actually an SVG. So, to do this, we'd need to decode the url-encoded SVG, and then run an SVG parser to ensure that the contents of this string really are a blurry image, rather than something with an http network leak.

I've only briefly guessed at the requirements a bit, so I could be off.

[2020-01-29 01:21] #25773 closed

[2020-01-29 03:37] mdmower opened #26534 "amp-script meta hash tags not recognized in PWA"
## What's the issue?

amp-script `<meta>` tags, e.g. `<meta name="amp-script-src" content="sha384-YCFs8k-ouELcBTgzKzNAujZFxygwiqimSqKK7JqeKaGNflwDxaC3g2toj7s_kxWG">`, are not imported into the `<head>` of a PWA, nor are they recognized when manually inserted into the `<head>` of a PWA appshell.

## How do we reproduce the issue?

This AMP page includes a small amp-script:
[https://ampdemo.cmphys.c

[2020-01-29 03:38] mdmower commented on #26534
/cc @choumx @samouri

[2020-01-29 06:56] kristoferbaxter commented on #26472
Sorry, I don't have an answer on how search identifies documents. However, I can look into any issues causing the page to have a lower FID measurement.

[2020-01-29 08:32] dkhan11 commented on #26472
Please do. I just thought that the two issues might be related.

[2020-01-29 10:18] jaygray0919 commented on #23675
@nainar I see that amp-list v2 is under development: https://github.com/ampproject/amphtml/issues/16507 and https://amp.dev/community/roadmap/. Would it be appropriate to solve our problem as part of that project?

[2020-01-29 11:50] j3ll3yfi5h opened #26536 "amp-lightbox-gallery adds also amp-img with non matching media attribute"
## What's the issue?

I'm using at least two different amp-img with different `media` attributes and the `lightbox` attribute (from `<amp-lighbox-gallery>`). The lightbox also "takes" the `<amp-img>` with the non-matching media attribute.

## How do we reproduce the issue?

See [example](http://amp-lighbox-gallery-bug.jelley.fish/)

1. Add at least two different `<amp-img>`
2. Open lightbox
3. Get

[2020-01-29 12:28] Avdhoot05 opened #26537 "In amp-story ,the Get Link in share option for http (Without SSL Certificate) website, it copies wrong url"
In amp-story ,the Get Link in share option for http website, it copy wrong url for all browser. Here are some examples:-
http://learn.travclan.com/how-to-sell-maldives
http://learn.travclan.com/learn-to-sell-singapore-easiest-way

but it works fine for website with SSL certificate(https)
https://travel.visualstories.com/10beautiful-buddhist-temples-in-thailand-worth-a-trip

Please see attached scr

[2020-01-29 13:21] joakimkm commented on #9862
How to solve this with load-more="auto" attribute set?
I need a way to access new automatic fetched JSON-data.

[2020-01-29 15:17] apsavin commented on #9177
## What's the issue?

We receive thouthands of such errors from our monitoring tool (Sentry): `Cannot read property '__AMP_TOP' of null`. It's started at January, 16.

I can't find a way to reproduce the issue, but Sentry shows the following stack trace, maybe it will help:

[code]

It affects mostly chromium-based browsers (43% Chrome 79.0.3945, 31% Yandex Browser 19.12.4), mostly mobile devices.

[2020-01-29 15:31] Avdhoot05 commented on #26334
@calebcordry Ok.Thanks !Hoping this issue will be solve asap in production .

[2020-01-29 15:52] gmajoulet commented on #26334
@Avdhoot05 you can look at the labels on the actual PR to see if it is available in production. Right now it says "In beta / experimental", so it should go to production today.
https://github.com/ampproject/amphtml/pull/26438

[2020-01-29 16:36] iparamonau commented on #25997
Is there anything special to be done to join a meeting? It says "you'll join when someone let's you in"

[2020-01-29 16:37] kristoferbaxter commented on #25997
@iparamonau We're logging in now.

[2020-01-29 16:40] newmuis commented on #26537
I believe this is a bug in the page.  The canonical URL for the page is:

[code]

The colon after the `http` protocol is missing.  It should be:

[code]

@Avdhoot05 can you try fixing this and seeing if it corrects the issue?

[2020-01-29 16:53] AndrewKGuan commented on #25977
Also what would be nice is that each SHA code is indicated which script it's generated from.  Sometimes having more than 3 codes gets confusing and makes it hard to replace anyone among them without guessing.

[2020-01-29 17:19] kristoferbaxter commented on #25997
### Notes

#### Agenda
- UI and a11y WG Update
- amp-Iframely component
- CSS Size Limit Change

#### UI and a11y WG Update
Skipped since no members of the TSC or Approvers Working Group were present. Will distribute via comment on this issue.

#### amp-Iframely component
- Wraps a iframe, aggregates 3rd party embeds
- URL Preview for things not known to its systems
- 2000 Embedding Partners

**On

[2020-01-29 17:38] Avdhoot05 commented on #26537
@newmuis Thanks! It's working.

[2020-01-29 17:38] #26537 closed

[2020-01-29 18:03] lannka commented on #26241
@jridgewell to take a look

[2020-01-29 18:20] merakmarey commented on #26497
If we replace the fill color value in the string passed to the registerElement call...that would affect all the amp-social-share elements in the page?..btw, is not registerElement deprecated?

[2020-01-29 18:26] merakmarey commented on #26497
Don't really understand why the background-image has any relation with the svg... can we just replace the fill attribute value with the color value of the element at the moment of the element creation?

[2020-01-29 18:35] zhouyx commented on #24879
Closed by #26040

[2020-01-29 18:35] #24879 closed

[2020-01-29 18:53] morsssss commented on #26524
Yep, you're right - the cases do collapse:

**layout=="container":** immediate mutation allowed. setInterval() disallowed on load. setInterval() works for 5 seconds after user event.

**layout!="container", dimensions set:** immediate mutation allowed. setInterval() works forever on load or on user event.

**layout!="container", dimensions not set:** immediate mutation allowed. setInterval() fails

[2020-01-29 18:57] morsssss commented on #26524
Oh, and one more:

**layout!="container", dimensions not set: fetch() fails on load. fetch() works >5 seconds (probably forever) on user event.

So, the question is, why do we allow some mutations forever, but others for 5 seconds?

[2020-01-29 18:58] wassgha commented on #26497
It's not as straightforward because the the svg is currently added as a `background-image` (not as a child `<svg>` element). If we change to the latter implementation, we'd break websites that used to rely on styling `background-image` (hence the need for a version bump).

[2020-01-29 19:23] jpettitt commented on #25149
Yes the intent was that people making examples should make valid ones.

[2020-01-29 19:45] colmsnowplow commented on #26361
Thanks for asking @zhouyx , and apologies for late response.

We've instrumented our design around avoiding dependence on cookies as far as possible. As long as the AMP client ID is reliable, we're all good!

[2020-01-29 20:31] kristoferbaxter opened #26544 "Remove Purification for Valid Templates"
## Change you'd like to see

Remove JavaScript driven purification for valid `amp-mustache` templates. This reduces execution time to render templates significantly.

**AMP Mustache with 44 single depth DOM items**

| Before | After |
| --- | --- |
| 670ms ![image](https://user-images.githubusercontent.com/61764/73393540-adfd3d80-4290-11ea-8ef1-603571317ac4.png) | **270ms** ![image](https://user-i

[2020-01-29 20:32] caroqliu commented on #25997
### Notes on relaxing CSS size limits

- **Why did we have a limit in the first place?** To encourage CSS hygiene—hard to figure out when to remove CSS when they’re all globally scoped styles. AMP intentionally limited the number of bytes to 50,000, which was only one way to help with hygiene. This limit was the simplest to implement among options.
- **Why change this now?** Today, more and more d

[2020-01-29 20:41] kristoferbaxter opened #26545 "Enforce format functions are cached"
## Describe the new feature or change to an existing feature you'd like to see

Inside [format.js](
https://github.com/ampproject/amphtml/blob/master/src/format.js
) methods request attributes from the `documentElement`, and return an unchangeable return value. (An AMP document cannot change formats during browser execution).

**Example**
[code]

These methods are used in the codebase without cach

[2020-01-29 20:55] rcebulko commented on #25844
PR template has been updated in #25841; closing.

[2020-01-29 20:55] #25844 closed

[2020-01-29 21:24] rcebulko commented on #25989
Our release scripts have now been updated to generate the files.txt list at the very end, once all static and other files are pulled into the final serving directories. Marking closed.

[2020-01-29 21:24] #25989 closed

[2020-01-29 21:28] rcebulko commented on #26206
Addressed with documentation changes and releasing 2nd Monday each month. Closing.

[2020-01-29 21:28] #26206 closed

[2020-01-29 21:32] mattwomple commented on #25989
Thanks so much for wrapping up this task @rcebulko .

[2020-01-29 21:36] rcebulko commented on #25989
The changes should be visible starting with next week's releases, (current experimental/beta/stable all were built with the previous release script version)

[2020-01-29 21:38] jridgewell commented on #26241
Sorry, I don't really have context on what any of this means. A few questions to get me up to speed:

- What does amp-ad-exit actually do? I read the documentation and my eyes glaze over.
- What is an exit target?
- What does making one "indirect" mean? How is this different than what is currently possible?
- What needs to change in runtime to support this?

[2020-01-29 21:57] rsimha opened #26550 "Delete `build-system/tasks/release-tagging.js` and remove `gulp release:tag`"
The code is ancient, and we no longer need it in light of the new release tagger.

[2020-01-29 22:02] elijahsoria opened #26551 "amp-subscriptions has error upon null entitlements"
#23247  What's the issue?

We are checking for "entitlements.granted" before checking to see if entitlements is not null in amp-subscriptions.js. This causes errors to be thrown, like the following.

Uncaught (in promise) TypeError: fetch entitlements failed for subscribe.google.com: Cannot read property 'granted' of null
    at amp-subscriptions.js:284

## How do we reproduce the issue?

Issue wa

[2020-01-29 22:15] dvoytenko commented on #5225
I think `goBack` or other `history.back` or any other should be ok. The main requirement for this action is to require user gesture.

[2020-01-29 22:16] elijahsoria opened #26552 "🌸 Cherry pick request for 26551 into 26510 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Production? | Release Issue |
| :---------------: | :------------: | :------------------: | :------------------: |
| #26551  | #26288 |     **YES**     | #26356 |

## Why does this issue meet the [cherry-pick criteria]

This error is causing breakages for multiple publishers, including the Washington Post. This cherry-pick fixes their p

[2020-01-29 22:23] samouri commented on #26524
I think explaining some of the rationale behind how/why the cases collapse can help (and why container is important here).
- `layout==container` elements can change their size after being laid out (dynamic sizing). Therefore we are restrictive about allowing mutations because we don't want it to cause objects to jump around.
- `layout!=container` elements will have fixed size after their first tim

[2020-01-29 22:27] dvoytenko commented on #26552
Approved

[2020-01-29 22:39] kristoferbaxter commented on #26472
@dkhan11 - Would it be possible to move over to use [@ampproject/toolbox-optimizer](https://www.npmjs.com/package/@ampproject/toolbox-optimizer) on the canonical domain here?

Tracing thru the site, it looks like some early work could be avoided.

[2020-01-29 22:53] mattwomple commented on #25074
@mrjoro Account @mattwomple will become inactive after Jan 30 when I finish up my work at WompMobile. I still work on AMP under my personal GitHub account @mdmower. If possible, it would be great to replace mattwomple with mdmower in the Collaborators group, otherwise, just removing mattwomple will be fine. Thanks!

[2020-01-29 23:00] dkhan11 commented on #26472
It won't be easy. Do you think it might reduce the time it takes to render amp-list items?

[2020-01-29 23:02] #22270 closed

[2020-01-29 23:03] jyn15 commented on #26241
Hi Justin, thanks for taking a look!
- amp-ad-exit is an element that handles all exit events in an ad, where `exit` means redirecting to advertiser's page after user clicks on something. It provides many features like fast-click protection, border protection to eliminate unintentional clicks.
- in the simplest case, an exit target gives a name to a URL, e.g. `product_0:"http://test.com/product0"`

[2020-01-29 23:10] Enriqe commented on #26552
This fix is included in the soon-to-be released version `2001251659540`. It will be live momentarily.

[2020-01-29 23:11] #17829 closed

[2020-01-29 23:11] #26550 closed

[2020-01-29 23:12] kristoferbaxter commented on #26472
Converting a static document over to try it out will give you a good idea.

It wont fix all the performance concerns, but it puts you on the right path for #26544 which I just filed.

[2020-01-29 23:19] kristoferbaxter commented on #26472
As for the time spent in amp-list right now, here's the vast majority on a Nokia 2 (my low-end hardware of choice).

![image](https://user-images.githubusercontent.com/61764/73405891-0260e700-42aa-11ea-9ffc-37e85ce9ae92.png)

This method is called during the microtask loop here.

![Screenshot from 2020-01-29 15-15-14](https://user-images.githubusercontent.com/61764/73406066-6388ba80-42aa-11ea-98f6

[2020-01-29 23:23] jridgewell commented on #26241
Thanks! I don't think this requires any runtime changes, so @lannka's approval is enough. We do need to review the PR, but I think it'll be fine.

[2020-01-29 23:46] cramforce commented on #26528
One tiny change: Should we made `width: auto` instead of `width:100%`. Right now, because of the padding, the text runs over the right screen.

[2020-01-29 23:52] chvillanuevap commented on #24787
Will I basically see these commits in a future version of Google Chrome? I noticed that the Pinterest button is still not working as expected. Thanks!

[2020-01-30 00:56] jyn15 commented on #26241
Thanks Justin!

@lannka Hi Hongfei, as I mentioned in the previous comment, amp-state is not a good option for this feature, also adding an action to amp-selector to return a value would require a big change to the AMP runtime, it seems that right now no action can have a return value.