[2017-04-11 18:03] muxin commented on #8479
From the webkit bug description, it seems that it also provide wrong values during orientationchange event. So the temp fix could be the timeout.

[2017-04-11 18:22] aghassemi commented on #8648
I also like (2). We probably also need a `ampState.refresh()` action in cases where dev wants to refresh data but `src` does not change.

[2017-04-11 18:27] mrjoro commented on #8582
Since we pushed out the design reviews for @clawr and @derekcecillewis from last week, let's cover those first this week.  We'll do @cvializ and @dvoytenko's if time permits, else push those to next week.

[2017-04-11 18:27] aghassemi commented on #8693
@imparvez we are actually in the design phase for supporting sort/filter/pagination use-cases in AMP. Client-side and server-side approaches are fairly different so we are tracking them under different issues.

Please subscribe to https://github.com/ampproject/amphtml/issues/8368 for client-side filter support and to https://github.com/ampproject/amphtml/issues/6054 for server-side support.

Desig

[2017-04-11 18:27] #8693 closed

[2017-04-11 18:36] adelinamart commented on #3233
@mrsufgi @dvoytenko can we take this out of experiment?

[2017-04-11 18:39] aghassemi commented on #8699
@dvoytenko Have you been able to repo the error locally? (I can't) @cramforce believes this error comes from a Chrome extension.

[2017-04-11 18:45] choumx opened #8700 "Server-side sorting & filtering"
Borne by discussion: https://github.com/ampproject/amphtml/issues/8368#issuecomment-291588864

May also solve the use case in: #6054

/to @kmh287 /cc @ericlindley-g @aghassemi

[2017-04-11 18:46] dvoytenko opened #8701 "Unknown "The requested operation is unsupported" error"
No error stack. Most likely related to WebCrypto according to Google Search.

[2017-04-11 18:48] dvoytenko commented on #6541
Still a problem intermittently.

[2017-04-11 18:59] #8479 closed

[2017-04-11 19:08] dvoytenko opened #8702 "Risk condition in action queue flush"
The PROD error looks like this:
[code]

Refers to this line: https://github.com/ampproject/amphtml/blob/b38e4c973c00932a737e5ed6db7e0278a5419c8a/src/service/action-impl.js#L289

The most likely culprit is risk condition. It's tested in this line: https://github.com/ampproject/amphtml/blob/b38e4c973c00932a737e5ed6db7e0278a5419c8a/src/service/action-impl.js#L275

However, since `dev.assert`-s are re

[2017-04-11 19:13] choumx commented on #8393
Validator changes have now been deployed and verified that web worker WAI on pages served by cache.

[2017-04-11 19:17] dvoytenko opened #8703 "Risk condition in the ad resize code"
A common PROD error:
[code]

Points to this line of code: https://github.com/ampproject/amphtml/blob/b38e4c973c00932a737e5ed6db7e0278a5419c8a/extensions/amp-ad/0.1/amp-ad-xorigin-iframe-handler.js#L305

It looks like a latent resize event arrives either after iframe has been destroyed or vsync arrives after iframe has been destroyed.

If this is confirmed to be the case the simple fix would be sim

[2017-04-11 19:17] dvoytenko commented on #6541
Closed in favor  of https://github.com/ampproject/amphtml/issues/8703

[2017-04-11 19:17] #6541 closed

[2017-04-11 19:24] dvoytenko commented on #8699
/cc @camelburrito

[2017-04-11 19:25] dvoytenko commented on #8699
I see it primarily on Android so extension seems unlikely. And, yes, it's not reproduceably easily.

[2017-04-11 19:29] kmh287 commented on #8394
[Enjoy](https://gist.github.com/kmh287/621e88fe000c5bf7ebe6f3969e5af973)

[2017-04-11 19:37] cramforce commented on #8699
Do you have a UA string? Sure it isn't firefox?

How could this be anything but a browser extension?

[2017-04-11 19:56] #8393 closed

[2017-04-11 20:13] choumx commented on #8394
Seems reasonable compared to parsing cost, but I'm not sure why parsing seems to be a lot slower now. Parsing the expression `{state: state}` should not take so long.

[2017-04-11 20:16] kmh287 commented on #8394
How slow was parsing on your end?

[2017-04-11 20:28] muxin opened #8709 "Wrong measurement in resize event in ios 10.3"
Brought up in https://github.com/ampproject/amphtml/issues/8479
Related webkit bug: https://bugs.webkit.org/show_bug.cgi?id=170595
Figure out a way to measure the sizes correctly after resize/orientationchange event in 10.3

[2017-04-11 20:39] levidurfee commented on #8688
@threesided it appears this has been resolved by Instagram.

## Instagram page

![image](https://cloud.githubusercontent.com/assets/10798199/24929816/5316d688-1ed5-11e7-8dfb-4805b09cecf7.png)

## AMP By Example page

![image](https://cloud.githubusercontent.com/assets/10798199/24929808/489ddb02-1ed5-11e7-8e15-b0769b5f16c4.png)

Can you confirm you are no longer seeing this issue?

[2017-04-11 20:39] dvoytenko commented on #8699
The most common user agent is:
[code]

Not sure if we rethrow any errors from YouTube, e.g. via postMessage.

[2017-04-11 20:49] zhouyx commented on #8694
Hmmmm Window 7. I wonder how can I reproduce it 😕
@aghassemi you mentioned I can use saucelab? Do you have more info on that? 😄

[2017-04-11 20:53] jasti commented on #8695
@GoldenCrystal thoughts on supporting?
Also, could you support render start if you haven't already? Thanks.

[2017-04-11 20:55] muxin commented on #8709
@dvoytenko I don't know which measurement methods are essential for key resource management while orientation changes. I checked `viewport.getSize()`, `viewport.getRect()`, `viewport.getScrollTop()` when orientationchange occurs and they all return the correct values. If those methods are fine, it seems that the bug is not affecting key resource management.

Strangely only `imageLightboxViewer./*O

[2017-04-11 21:14] aghassemi commented on #8694
@zhouyx yea, "Manual Test" on SauceLabs ( https://saucelabs.com/beta/manual ) lets you create a Windows 7 VM with IE 11. (limited to 10 minute sessions though)

[2017-04-11 21:15] muxin commented on #8709
/cc @aghassemi

[2017-04-11 21:24] krogersforbes opened #8713 "amp-ad not rendering in amp-carousel"
## Short description of your issue:

For an amp-carousel that is visible on the initial load, an amp-ad in the first slide does not (regularly) trigger. Very occasionally it does load (it is more frequent when dev tools is open) so it seems to be a race condition between amp-ad and amp-carousel. All other slides after the inital load render the ad correctly, and going back to the first slide after

[2017-04-11 21:37] aghassemi commented on #8699
They all seem to be Chrome 30 too. Honestly my bet is that the error is coming from Chromecast related integration in old Chrome

[2017-04-11 21:44] aghassemi commented on #8709
@dvoytenko So the only wrong measurement is for `block` elements that extends the full width. For us to fix this at a higher-level (like before triggering onChange) we probably need to measure `body` (or if `body` somehow reports correct values too, need a fake `div` to keep measuring).

Moving this a level up has some cons however. It means we will delay sending `onChange` for ~500ms to **every c

[2017-04-11 21:58] choumx commented on #8331
Bumping to P2.

[2017-04-11 22:00] mhmgdk opened #8715 "Amp-ad placeholder in browser language (feature request)"
Would it not be nice if the amp-ad placeholder text would follow the browser language?

I have placed a proof of concept below of how this could be applied with help of javascript and a SVG image with an onload call (could be the placeholder).

(copy paste all code below into one html file for viewing in a browser)

[code]
[code]
[code]
[code]

[2017-04-11 22:12] choumx opened #8716 "amp-bind: [class] verification in dev mode broken"
http://stackoverflow.com/questions/43331218/amp-bind-error-default-value-for-variable-does-not-match-first-expression-res

[2017-04-11 22:23] #8446 closed

[2017-04-11 23:39] jpettitt commented on #8715
You can do this in CSS

[code]

[2017-04-11 23:40] dvoytenko commented on #8699
Ok. I'll drop to P3 and monitor it a bit more.

[2017-04-11 23:48] choumx opened #8719 "amp-bind: Print state to console for debugging"
Top-level `AMP.printState()` with a pretty-print of current state would be useful for debugging. Should handle circular references gracefully.

[2017-04-12 07:11] mhmgdk commented on #8715
Hi John,

Excellent solution.

Is there a kind of API documentation on AMP-AD anywhere?

Med venlig hilsen/Best regards

Martin Hansen
/Support/

*Media Group Denmark ApS*
Haslegårdsvej 8-10
DK-8210 Aarhus V
Tlf.: +454182 6663(direkte)
Tlf.: +457220 6663 (hovednr.)
www.mediagroupdenmark.dk <http://www.mediagroupdenmark.dk>
/Øget trafik, øget omsætning og et stærkt sammenhold!/
Følg os på LinkedIn

[2017-04-12 11:08] imparvez commented on #8693
Sure @aghassemi I would love to provide a feedback and looking forward to your email.

[2017-04-12 15:06] ronakrathod18 commented on #8199
@jasti @cramforce any idea when would this feature be out and live?

[2017-04-12 15:07] ronakrathod18 commented on #8199
@jasti do you know if anything changed with ad viewability reporting on or after 04/05?

[2017-04-12 15:36] derekcecillewis commented on #8582
It's unfortunate, but as I've mentioned, I have a schedule conflict with design reviews for the rest of this semester. As @aghassemi intends on proposing a separate component, mine will not be directly implicated. As much as I'd like to attend, it would mean being absent from a session that I cannot afford to miss. I hope that many of the design decisions that we worked through with `amp-sortable-

[2017-04-12 15:44] keithwrightbos commented on #8199
Visibility v3 was launched that day which I do believe caused AV rate to increase

cc/ @dvoytenko

[2017-04-12 15:51] jasti commented on #8199
@ronakrathod18, you can expect this feature to be production by first or second week of May.

[2017-04-12 16:27] adelinamart commented on #300
@niallkennedy are you still working on this? Thanks.

[2017-04-12 16:30] adelinamart commented on #2224
@mister-ben any updates here? thanks.

[2017-04-12 16:31] adelinamart commented on #2139
@rudygalfi is this something we are still looking into? Thanks

[2017-04-12 16:38] niallkennedy commented on #300
I have no current plans to develop this component.

[2017-04-12 16:51] newmuis opened #8727 "Add support for multiple custom elements in a single extension"
Conceptually, custom elements and extensions are different, but we currently require a 1:1 mapping between them.  We should lift this requirement and allow extensions that specify multiple custom elements (but not a single custom element split across multiple extensions).

[2017-04-12 17:05] aghassemi opened #8730 "Component does not get layout using `AMP.show()` action in A4A case"
1. Visit: https://ampbyexample-com.cdn.ampproject.org/c/s/ampbyexample.com/amp_ads/video_ad/preview/?exp=a4a:-1
2. Tap "Watch Video", notice that video does not play.
3. Inspect the DOM, notice that `amp-video` never got layed out.

This pages uses `show` action to make the video container visible.

It works 100% of the time locally or when served locally through A4A envelope ( e.g. localhost:8000

[2017-04-12 17:18] dvoytenko opened #8731 "Some browsers cannot apply fromCharCode"
A recurring error:

[code]

This points to: https://github.com/ampproject/amphtml/blob/d2cf16f2fd5eae37dbc0f488e1d6b302e7b3890e/src/utils/bytes.js#L113

Some example user agents:
[code]

This appears to be mostly native Android WebKit browser?

[2017-04-12 17:41] src-code opened #8733 "AMP cache spec doesn't mention subdomains"
Currently the spec for 3rd party AMP caches makes no mention of the use of subdomains for isolating publisher origins.  It seems that Cloudflare is subdomaining in the same manner that  `cdn.ampproject.org` does, but this isn't called out explicitly in the spec, so it's not clear that future caches will use the same methodology.  Would be good to formalize this convention if it's expected to be co

[2017-04-12 17:49] newmuis commented on #8727
/cc @dvoytenko

[2017-04-12 17:49] dvoytenko commented on #8515
@clawr

For now it's relatively heavyweight. We can expose it anyway, but let's start with simpler option and enhance as needed.

Custom Chrome Tabs

[2017-04-12 17:50] #7516 closed

[2017-04-12 17:54] keithwrightbos commented on #8551
Proposing that instead of a meta tag to define the publisher end point, we use a script declaration within the head:

`<script type="application/json">
{
   "amp-ad-rtc": {
      "url": "https://foo.your-domain.com/realtimeconfig.get?a=b&url=CANONICAL_URL"
}
</script>`

The reason being that we may want to allow for more tuning capability long term such as the ability for a publisher to indicate h

[2017-04-12 17:55] choumx commented on #8727
Is this not already possible with multiple `AMP.registerElement` calls in the extension's entry point, (e.g. `amp-ad.js`)?

[2017-04-12 18:05] adelinamart commented on #300
@ericlindley-g to decide what to do with this FR.

[2017-04-12 18:07] adelinamart commented on #1941
@alvin-milton is this still an issue? Thanks

[2017-04-12 18:07] adelinamart commented on #1814
@ericlindley-g it seems this is something to consider dropping.

[2017-04-12 18:09] alvin-milton commented on #1941
It was when I reported it @adelinamart, but I'm afraid I haven't tested this in some time.

[2017-04-12 18:14] cramforce commented on #1814
This was implemented recently!

[2017-04-12 18:14] #1814 closed

[2017-04-12 18:14] adelinamart commented on #1275
this was fixed accordingly to the PR.

[2017-04-12 18:14] #1275 closed

[2017-04-12 18:17] adelinamart commented on #412
@erwinmombay shall we assign this to Raghu?

[2017-04-12 18:27] dvoytenko commented on #3233
Yes. This issue can be closed I believe.

[2017-04-12 18:50] kmh287 commented on #7557
@ericlindley-g Sorry I just saw this. :sweat_smile:
#7990 introduced that functionality as part of work on this issue.

[2017-04-12 18:50] #3233 closed

[2017-04-12 18:51] ericlindley-g commented on #7557
Perfect—thanks @kmh287 !

[2017-04-12 19:31] #8647 closed

[2017-04-12 19:32] kmh287 commented on #8653
Fixed by #8661

[2017-04-12 19:32] #8653 closed

[2017-04-12 19:40] mrsufgi commented on #3233
Thanks everyone for helping us with this effort ! Much obliged :) happy holidays

[2017-04-12 19:49] #8716 closed

[2017-04-12 19:49] adelinamart commented on #1941
Thanks @alvin-milton . It will be great to reproduce this when you have the chance.

[2017-04-12 19:53] aghassemi commented on #8709
I am removing this from April H1 sprint and lowering to P2 per previous comment.

[2017-04-12 19:56] aghassemi commented on #8195
We should not do this until a permanent solution is in place after the fate of the related Webit Bug is decided. (we need the flag to be able to quickly turn it off if Apple ships a fix for the bug)

[2017-04-12 20:00] aghassemi commented on #8713
/to @camelburrito

[2017-04-12 20:10] #8571 closed

[2017-04-12 20:23] camelburrito commented on #8515
Could we simplify the format to

[code]

[2017-04-12 21:28] dvoytenko commented on #8691
@aghassemi This looks great. Couple notes/questions:

We'd need to document clearly that we do not do initial reshuffling, right? In other words, if it says `sort-by="date"`, we expect the DOM already be presorted by date at the page gen time. Right?

The default value is often sensitive to value type. E.g. strings default to "asc" and numbers "desc". Maybe we can come up with some coding for this

[2017-04-12 21:39] dvoytenko commented on #8709
SG. I'm ok with P2. But one thing to confirm. Is this possible due to iOS issue on resize/orientationchange, that an AMP element (e.g. amp-img or amp-video) would be measured incorrectly by the scheduler pass?

[2017-04-12 21:55] dvoytenko commented on #8515
@clawr One variation is to setup global click handler and avoid `on=tap` actions. E.g.

[code]

This model might be a bit more explicit and more compact depending on how many vars you may have.

/cc @cramforce Is this what you meant?

[2017-04-12 22:00] ericlindley-g opened #8736 "Forms: async input validation (design)"
Breaking down https://github.com/ampproject/amphtml/issues/8369

[2017-04-12 22:09] ericlindley-g opened #8737 "scroll-bound amp-animation (part 1)"
Broken down from: https://github.com/ampproject/amphtml/issues/8411

Limit (for now) to:
a4a case
non-configurable visibility

[2017-04-12 22:17] ericlindley-g opened #8738 "Support UI for *filtering* items on a page (client-side — design and prototype)"
Piece of https://github.com/ampproject/amphtml/issues/8368

[2017-04-12 22:27] ericlindley-g opened #8739 "Lightbox 2.0 — fullscreen carousel"
piece of https://github.com/ampproject/amphtml/issues/4152

• Tap on image in carousel — goes into light-boxed version of carousel
• Includes swiping
• Does not include image-specific functionality (e.g. zoom)
• Just includes amp-img

[2017-04-12 22:33] dvoytenko commented on #8727
Registration is definitely possible. But this system works two ways:

1. An extension when loaded registers elements. This already works. As soon as elements are registered, they have static layout applied (if not applied yet) and processed otherwise.
2. All extension elements are initially preregistered _before_ extension is even downloaded. This is done by searching for `<script custom-element="

[2017-04-12 22:37] dvoytenko commented on #3233
@mrsufgi Thanks a lot for the contribution!

[2017-04-12 22:43] alanorozco opened #8740 "Scroll position is not reported to ads embedded using inabox"
Scroll-bound animation (#8411) and `amp-fx-parallax` (#1443) depend on scroll reporting.

A viewport binding exists for inabox that will request the scroll position from the top-level document. However, it was originally implemented only for observing object intersections, so it's been disabled (#6787) for cases in which a native `IntersectionObserver` can be used.

1. The position needs to be req

[2017-04-12 23:01] dvoytenko commented on #8740
I still consider element position and scroll offset to be somewhat sensitive and would like to hear arguments why it's not. On the other hand, there's relatively little that the embed can do with the parent scroll info by itself - it does need to know it's relative position in viewport. So, what I suggest we explore first is the special "viewport position" (vp) value that will be reported to the e

[2017-04-12 23:09] alanorozco commented on #8740
@dvoytenko

I agree that element position and scroll offset are sensitive.

Your approach sounds good. It won't work for cases in which the integration needs to calculate behavior based on 1:1 pixel offsets. But if we're okay with that then I think that should be the way to go.

[2017-04-12 23:12] nandosangenetto commented on #8450
Can I take it? I could finish by tomorrow.

[2017-04-12 23:15] dhulwells commented on #8450
@nandosangenetto Yes sir, sorry got busy with work.

[2017-04-12 23:17] aghassemi commented on #8691
Yes, no initial sorting however there is no requirement that initial order matches `sort-by`.

Good point. I like the format you have, reads nicely too "toggle or descending"

I don't think we need `reset()`, reset can be done as just another `amp-sort` with initial sorting criteria.

We probably need to support compound sorting to allow breaking ties in meaningful ways maybe: `sort-by="data-price

[2017-04-12 23:25] muxin commented on #8709
I tested `amp-img` on ios 10.3 upon orientation change. The `layoutbox_` of `amp-img` is accurate.

[2017-04-12 23:39] jasti opened #8741 "Audit window.context and ensure all info & API are available for AMP ads"
Because of the lack of JavaScript, we want to ensure that all AMP creatives served as friendly iframes have access to all the parent information and APIs like any 3P creative does.
Specifically, does the creative need to use amp-analytics/ amp-pixel? Would an AMP ad need to trigger the available APIs?

CC @ampproject/a4a @zhouyx @alanorozco

[2017-04-12 23:44] nandosangenetto commented on #8450
@dhulwells ok, thanks. I'm starting right now :)

[2017-04-13 00:22] zhouyx commented on #8740
I agree that scroll offset is sensitive. How sensitive is element position to the doc?

@dvoytenko In your example, are we sending raw scroll pos data?

[2017-04-13 03:20] nandosangenetto commented on #8450
@jridgewell should I change strings to use include as well? When the return might be true or false?

[2017-04-13 13:26] tdrl commented on #8741
So when you say "parent information and APIs like any 3p creative does", what are you looking for?  A 3p creative (in a cross-domain iframe) can execute any JS, so in some sense, no, an AMP creative can't have all its APIs.  But I _think_ (correct me if I'm wrong) that you're getting at "the same information offered by window.context to a 3p creative"?

The AMP creative's "API" is, as you say, `am

[2017-04-13 13:26] keithwrightbos commented on #8741
I'm not sure I follow the intent of this issue.  Preferentially rendered AMP creatives are friendly to and utilize the publisher page AMP runtime and therefore can access it directly via AMP extensions.   Are you proposing there are capabilities provided by the window context API that are not available via AMP extension?  I'm not sure they're really comparable as I would argue the motivation aroun

[2017-04-13 14:13] #8702 closed

[2017-04-13 14:56] nlamming commented on #2931
Just as a footer to this for anyone else that comes across this thread. This is what Slideshare Support shared with me today:
13/04/17 15:50pm
"Thanks for contacting us about this error you are getting when embedding. What you've encountered is a known issue and I'm very sorry for the inconvenience. Our engineering team is working on it but there's no estimate as to how long that might take. We'll

[2017-04-13 16:37] aghassemi commented on #8284
Thanks all for helping with the question.

[2017-04-13 16:37] #8284 closed

[2017-04-13 16:38] aghassemi commented on #8439
Closing, please feel free to reopen if still having issues.

[2017-04-13 16:38] #8439 closed

[2017-04-13 16:39] aghassemi commented on #8144
Closing since #7705 is in production now.

[2017-04-13 16:39] #8144 closed

[2017-04-13 16:40] aghassemi commented on #8069
Closing per previous comments, please feel free to reopen if still having issues.

[2017-04-13 16:40] #8069 closed

[2017-04-13 16:43] aghassemi commented on #7786
Closing in favour of https://github.com/ampproject/amphtml/issues/8515

[2017-04-13 16:43] #7786 closed

[2017-04-13 16:45] aghassemi commented on #7597
Closing since https://github.com/ampproject/amphtml/pull/7320 is in production.

[2017-04-13 16:45] #7597 closed

[2017-04-13 17:51] #8654 closed

[2017-04-13 17:55] mrjoro commented on #8582
amp-ad-exit (#8515)

- will help developers with navigation from ads & provide a good user experience
- when the filter is matched, you don't actually execute the click?  yes
- race condition: should we provide the link immediately so it can happen if the user clicks before the JS loads?  most of the time we expect the JS to load within the 1 second we'd reject anyway, so preference would be to to

[2017-04-13 17:59] mrjoro commented on #8582
amp-form asynchronous validation (#8369)

- motivation was validating ZIP codes based on city name/rest of address which can't be done on the client
- would form request be JSON?  probably can't do that with CORS; most consumers would be okay with default form request format; we already do form AJAX submissions so it's probably the same thing as that
- should we restrict async validation for the "

[2017-04-13 18:00] mrjoro commented on #8582
amp-sort (#8691)

- originally a design for sortable tables, but realized maybe it could apply to things other than tables
- can you nest sorts?  yes, or you can change what you're sorting by (via bind or at the time you call .sort())
- general mutation algorithm?  insert before; did we try to minimize the elements that need to be moved?  we haven't yet, but should make sure it's not an issue, and

[2017-04-13 18:01] #8582 closed

[2017-04-13 18:02] mrjoro commented on #8583
we pushed the [responsive ads with width-based layout](https://docs.google.com/document/d/1jUkRxFUJGccJV7w1HVavY3Daldi_SVJ_MooA8FfaRzc/edit#) to this week; @dvoytenko does this work for you?

[2017-04-13 18:27] jasti commented on #8235
Still had an open question for @Gregable.

[2017-04-13 18:31] bradfrizzell opened #8750 "Linter complains when import lines over 80 chars"
Can we fix the linter so that it does not complain about the length of an import? I had:

[code]

and it was complaining.

[2017-04-13 19:16] choumx commented on #8331
/to @kmh287

[2017-04-13 19:34] bradfrizzell opened #8751 "Can we add import order enforcing to the linter?"
Currently the linter does not enforce that imports be sorted alphabetically. Is there a reason that is not the case, or has it just never been a top priority to add? As the project grows, the import sections are getting messier and messier.

[2017-04-13 19:44] ayumihamsaki commented on #8016
@levidurfee sorry late reply, up to you.

[2017-04-13 21:32] dvoytenko opened #8752 "Ad analytics are not triggering in amp-sticky-ad"
This is due to the combination of the following race conditions:
 1. Ad toggling in sticky ad and subsequent children relayout
 2. Conflict in analytic's `position:fixed` and sticky-ad's `position:fixed`.
 3. The fact that some signals may need to be collected before display is toggled.

[2017-04-13 21:43] jasti opened #8754 "Create new AMP ad samples that are created in AMP formats"
Combination of Scroll bound animations , time bound animations and amp-bind.

[2017-04-13 21:56] jasti opened #8755 "Have scroll bound animations work for inabox"
For AMP ads in AMP pages and inabox cases

[2017-04-13 21:59] jasti opened #8756 "Create Google Web Designer Shell Extension"
For supporting GWD

[2017-04-13 22:24] Gregable commented on #5981
The `<amp-slides>` tag was removed from validation in October 2015. I don't see any remaining usage of it in my sampling. For reasons I cannot seem to find, we did leave in validation of the javascript extension, for example:

[code]

There is some usage of this script tag still on the web, though it's very small.

[2017-04-13 22:31] camelburrito commented on #5981
if amp-slides is invalid amp we should just delete it?

CC @cramforce @dvoytenko

[2017-04-13 22:52] rudygalfi commented on #8202
@zhouyx Can you close? Let's document the remaining items that aren't done, but which will be considered upon request.

[2017-04-13 23:37] #8016 closed

[2017-04-13 23:39] jasti commented on #8741
@tdrl @keithwrightbos Right, you are both on point.
Basically, I'd like to verify we support everything listed here https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-information and https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-apis available for AMP ads as well.

For e.g. reg APIs, can AMP ads call render start? can AMP ads set no content? getHt

[2017-04-13 23:52] #8648 closed

[2017-04-14 00:55] cramforce commented on #5981
I thought the decision was to

- undocument `<amp-carousel type=slides>`
- and make `amp-slides` to what the above does

?

[2017-04-14 03:17] #8752 closed

[2017-04-14 04:19] lannka commented on #8741
amp-analytics inside FIE AMP creative has slightly set of available vars:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/a4a-variable-source.js#L27
but should be covered well already. @vamsee, let us know if you want
something more.

Regards,

Hongfei

On Thu, Apr 13, 2017 at 4:39 PM, Vamsee Jasti <notifications@github.com>
wrote:

[2017-04-14 05:36] dvoytenko commented on #8583
@mrjoro Yes.

[2017-04-14 06:02] ryanpoplin opened #8761 "Search Carousel moves to the next page when opening a sidebar - `side=right` - on a result page that in the middle of other results pages"
I noticed a few 'major' UI/UX bugs in the AMP Carousel in conjunction with CNN's AMP Article's via the Safari browser on iOS 10.3.x

1.) Type in a popular news topic such as 'Syria' into your mobile Google Search
2.) Find a CNN AMP Article and tap it
3.) Press the hamburger nav icon on the top right of the article header
4.) See the UI/UX bugs

## What browsers are affected?

iOS 10.3 via iPhone 6

[2017-04-14 06:07] ryanpoplin commented on #8761
Scrolling around at this point shows some seriously funky stuff going on with dragging.

[2017-04-14 09:53] GoldenCrystal commented on #8695
Hello,

I confirmed that this is a regression on our side.
It will be fixed during our next deployment.

[2017-04-14 11:26] gitfriend1 commented on #8695
what do about it

[2017-04-14 13:36] kmh287 opened #8762 "amp-bind: Function invocations on null objects should return null instead of throw"
Context: https://github.com/ampproject/amphtml/pull/8729#discussion_r111412381

[2017-04-14 16:25] Gregable opened #8764 "Replace default hello world AMP document v0.js file"
In validator.ampproject.org, if one [selects html format AMP4ADS](https://validator.ampproject.org/#htmlFormat=AMP4ADS), the example document uses:

```<script async src="https://cdn.ampproject.org/v0.js"></script>```

It should use the preferred version of this script:

```<script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>```

The same is true in each of our testdata examples

[2017-04-14 16:26] Gregable commented on #8764
@lannka @jasti

[2017-04-14 16:27] jasti commented on #8741
great, and the APIs?

[2017-04-14 16:28] camelburrito commented on #8761
This seems to be on the google search carousel ?
On Fri, Apr 14, 2017 at 9:14 AM ericlindley-g <notifications@github.com>
wrote:

--
-- Sriram

[2017-04-14 16:28] Gregable opened #8765 "End allowing v0.js in validator rules for AMP4ADS html format"
The current validator rules allow AMP4ADS format documents to contain either:

```<script async src="https://cdn.ampproject.org/v0.js"></script>```
-or-
```<script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>```

In the document head. We should retire the former from validator rules and allow only the latter. @lannka for making any necessary announcements.

[2017-04-14 16:29] ryanpoplin commented on #8761
Yes, it's live on the search carousel.

[2017-04-14 17:16] glevitzky opened #8767 "AmpA4A should only remove child iframe on unlayoutCallback()"
Currently, along with removing the child iframe in which the creative is rendered, we also remove the child placeholder and fallback divs, and possibly other important children. We should amend this to only remove the iframe and analytics elements.

[2017-04-14 17:20] clawr commented on #8515
@camelburrito I think that makes it more complex in a couple ways:
1. Potential duplication of URLs, vars, and filters. One change might require updates in multiple places.
2. Putting the config parts and content parts of the ad together could make it harder to programatically insert/rewrite and could interfere with CSS (e.g. a direct child selector).

[2017-04-14 17:32] clawr commented on #8515
@dvoytenko I like that too. I guess it would work by the amp-ad-exit element looking at the click event's `target` element and recursing up its parents until it finds a `data-exit-target` attribute. One interesting option then is to allow a hierarchy of vars, like

[code]

One downside with a global click handler is that only one amp-ad-exit element would be allowed (or at least all target names a

[2017-04-14 17:42] keithwrightbos opened #8768 "Ensure ad request is not delayed on scroll when using amp-sticky-ad with Fast Fetch"
Fast Fetch enabled ad units within amp-sticky-ad elements are delaying their ad request until scroll.  Steps to reproduce:

- go to https://genius-com.cdn.ampproject.org/c/s/genius.com/amp/Ed-sheeran-shape-of-you-lyrics?#exp=a4a:2  Note that ad request is not made for slot within amp-sticky-ad element (it will contain "act" request parameter)
- scroll and request is made

Request should be made im

[2017-04-14 18:19] aghassemi commented on #8730
@dvoytenko I am running into similar A4A layout scheduling issues with `amp-animation` as well. For example `layoutCallback` of `amp-animation` is called fine for http://localhost:8000/examples/animations.amp.max.html but it is not ever called for http://localhost:8000/a4a/examples/animations.amp.max.html

[2017-04-14 18:27] dvoytenko commented on #5981
Correct. I believe we need to bring `amp-slides` back and deprecate `<amp-carousel type=slides>`

[2017-04-14 18:29] dvoytenko commented on #8730
I see. I'll take a look.

[2017-04-14 18:30] dvoytenko opened #8770 "Expose visibility API access"

[2017-04-14 18:59] dvoytenko opened #8771 "Native InOb intersectionRatio is regularly arrives higher than 1"
:(

/cc @lannka @zhouyx @keithwrightbos @tdrl

[2017-04-14 19:36] jonkeller commented on #8671
DoubleClick done in https://github.com/ampproject/amphtml/pull/8728
Still need to do the AdSense part.

[2017-04-14 21:05] #8771 closed

[2017-04-14 21:06] aghassemi opened #8775 "Create GFI - Ali"

[2017-04-14 21:07] aghassemi opened #8776 "Create GFI - Sriram"
As discussed, this one will be in AMPStart

[2017-04-14 21:07] aghassemi opened #8777 "Create GFI - Yuxi"

[2017-04-14 21:07] aghassemi opened #8778 "Create GFI - Carlos"

[2017-04-14 21:10] dvoytenko opened #8780 "Investigate possibility of duplicate triggers"
Currently appears to be impossible. But some reports indicate that there might be occurrences.

/cc @keithwrightbos

[2017-04-14 21:44] dvoytenko opened #8784 "A4A: Add additional CSI pings"
(Setting highest priority to ensure this makes the next canary)

We'd like additional pings to thoroughly investigate and understand all phases of embed instrumentation. I'd like these pings for both FIE and XOrigin cases (fast vs delayed).

Additional pings I'd like are:

1. Immediate 1% visibility ping regardless loading state: `{on: visible, visibilitySpec: {visiblePercentageMin: 1, waitFor: no

[2017-04-14 21:47] dvoytenko opened #8785 "Investigate pushHistory failures"
The error looks like this:
[code]

Another stack:
[code]

Internally tracked via b/37330338

[2017-04-14 22:12] zhouyx commented on #8585
closed by #8744

[2017-04-14 22:12] #8585 closed

[2017-04-14 22:12] zhouyx commented on #8703
closed by #8714

[2017-04-14 22:12] #8703 closed

[2017-04-14 23:03] dvoytenko commented on #8784
The sample of how to use the visibility API can be found [here](https://github.com/ampproject/amphtml/pull/8788/files#diff-ba655557663735d2bb090f707f986bcc). It's somewhat manual, but also pretty extensible.

[2017-04-14 23:46] jasonpang opened #8791 "Intent to Implement: amp-web-push Web push notifications"
At [OneSignal](https://onesignal.com), we'd like to allow AMP page visitors to subscribe to web push notifications. Here's a [demo of web push notifications](https://onesignal.com/webpush) (regular page, not an AMP page). This AMP extension integrates with our notifications platform service.

### Overview

1. Is the visitor subscribed? Create a hidden iFrame to the site's canonical origin to query

[2017-04-15 00:08] dvoytenko commented on #8770
Closed via #8787.

[2017-04-15 00:08] #8770 closed

[2017-04-16 19:32] cramforce opened #8793 "Possible bug in image display in carousel"
See here http://www.sfgate.com/aboutsfgate/amp/Boy-8-drives-sister-4-to-McDonald-s-for-a-11068868.php

![screenshot_20170414-061927](https://cloud.githubusercontent.com/assets/89679/25073675/4f3e4504-22a0-11e7-8114-82a078783f51.png)

Removing the `overflow: hidden!important` from the container fixes it. I kind of assume this is WAI, but the article CSS does something weird. But what is it?

[2017-04-16 22:02] mrjoro opened #8794 "Weekly Status 2017-04-17"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-04-16 22:14] mrjoro commented on #8794
- merged #8783 to add OWNERS.yaml to most extensions directories
- created [new form](https://goo.gl/forms/T65peVtfQfEoDWeD3) for people to request membership in the AMP Project on GitHub (#8676)
- #8667 to make the new issue template a bit more clear

[2017-04-16 22:20] camelburrito commented on #8793
You mean the jitter ?

[2017-04-17 12:52] kmh287 commented on #8794
- Working on cleaning up `service.js` (more eyes would be appreciated) #8698
- Working on PR for supporting binding to `src` attribute on `amp-list`

[2017-04-17 14:36] keithwrightbos commented on #8784
Re-assigning to @bradfrizzell.  The requirements are for Fast Fetch AdSense and Doubleclick we need to generate CSI beacons for the following.  The idea is to use these in comparison with our AMP Analytics based CSI pings to determine possible causes of signal loss.  As such, we should make sure we can easily compare across the two different methods and that pings exist for both methods of generat

[2017-04-17 14:38] bradfrizzell commented on #8784
cc @glevitzky

[2017-04-17 14:48] kmh287 commented on #8719
How about something like this?:

[code]
Granted, it doesn't provide any information about where the circular references lead.

[2017-04-17 14:56] cramforce commented on #8793
No, that would be a different bug. See screenshot. Only the lower right 25% of the image is shown.

[2017-04-17 15:49] ericlindley-g commented on #7512
Closed w/ example here: https://ampbyexample.com/advanced/tab_panels_with_amp-selector/

[2017-04-17 15:49] #7512 closed

[2017-04-17 15:59] dvoytenko commented on #8784
@keithwrightbos No way to do this for iframe at this time reliably. But it'd be better if we were to do a reverse - used the same APIs against `amp-ad` for delayed case as well.

[2017-04-17 16:46] lannka commented on #8794
- Working on the "layout delay metric" for content elements (to be compared with ad elements). #7789
- Support "referrerPolicy" in amp-pixel. #8372

[2017-04-17 16:49] dvoytenko commented on #8794
* Rotation complete
* Debugging iOS GPU bugs
* CSS Animation support
* Ad analytics follow through for full analysis and launch

[2017-04-17 16:53] dvoytenko commented on #8740
Not too sensitive. It's expected that the element has a pretty good idea of what's going on in the page when it's in viewport. However, once it's out of viewport, the information stream should be restricted.

In my example it's not - it's relative data. We could send the raw data, but we still need to restrict when we can send it.

[2017-04-17 17:00] zhouyx commented on #8202
Closing this for now. Will create separate issue to address the customEventTracker issue

[2017-04-17 17:00] #8202 closed

[2017-04-17 17:02] zhouyx commented on #8261
The new placeholder is alive in canary. Please goto [https://cdn.ampproject.org/experiments.html](url) opt into AMP dev channel, and opt into **either** 'ad-loader-v1' or 'ad-loader-v2' to see the new design.

[2017-04-17 17:13] jridgewell commented on #7488
Reverted.

[2017-04-17 17:36] jridgewell commented on #8794
- Catching up with everything
- AMP Layers

[2017-04-17 17:40] erwinmombay commented on #8794
- out 2 days
- fixing owners tests
- migrate owners bot to new server

[2017-04-17 17:44] edhollinghurst commented on #8794
- AMP Timeago extension [#8557](https://github.com/ampproject/amphtml/pull/8557)

[2017-04-17 17:45] rsimha-amp commented on #8794
- Fixed issue #8188 (prevent experiment clean up errors) with PR #8448
- OOO 4/6-4/14

[2017-04-17 17:52] rsimha-amp commented on #5647
Working on it during this week's sprint.

[2017-04-17 17:52] rsimha-amp commented on #8340
Working on it during this week's sprint.

[2017-04-17 18:07] dvoytenko opened #8798 "Overflow elements trigger iOS GPU bugs that could make page blank"
An example page: http://jsbin.com/nufemar/quiet

[2017-04-17 18:15] aghassemi commented on #8736
Closing since design is done and presented.

[2017-04-17 18:15] #8736 closed

[2017-04-17 18:19] aghassemi commented on #8206
moving out of sprint

[2017-04-17 18:22] jridgewell commented on #8418
I'm not able to reproduce this anymore. Was there a fix on your side?

[2017-04-17 18:22] alanorozco commented on #8794
- Audited ad network usage of `window.context` and reconciled missing APIs in new impl (#8790)
- Added call tracking example in ABE https://github.com/ampproject/amp-by-example/pull/736 and updated docs (#8563)
- Allowed `IframeMessagingClient` to support multiple callbacks for the same response type (#8591)
- Some CSS animation pausing research / hair-pulling.

[2017-04-17 18:24] cramforce commented on #8794
- `pump-early-frame` experiment should launch this week. Better time to first paint.
- decreased time until we install ServiceWorker from the cache #8679
- started working on IO talk

[2017-04-17 18:29] muxin commented on #8794
- Fix image-lighbox image does not resize on orientation change issue
- Resolve more flake tests in error logging
- Working on bug fix that some browsers cannot apply fromCharCode

[2017-04-17 18:31] camelburrito commented on #8794
- Release/On Call rotation
- AMPStart
- - Preview modals on home page
- - Investigate ways to do CSS configurations
- - Set up wordpress for porting themes.

[2017-04-17 18:41] dvoytenko opened #8799 "Error reporter: produces too long URLs that are rejected"
The result status is 400

Sample URL:
[code]

[2017-04-17 18:59] #8467 closed

[2017-04-17 19:07] aghassemi commented on #8794
- `amp-sort` design, prototype and presentation #8691
- Fix for disable3pfallback https://github.com/ampproject/amphtml/pull/8753
- A11Y chat with Rob Dodson to review https://github.com/ampproject/amphtml/pull/6333 and push for a fix to https://bugs.chromium.org/p/chromium/issues/detail?id=667833
- PositionObserver discussions and 60FPS prototype for scroll-bound animations
- Debugging (mostly he

[2017-04-17 19:45] aghassemi commented on #8761
@ericlindley-g @camelburrito Since this is a pretty bad regression, setting to P0 for this sprint. Let's work with the viewer team to fix it.

[2017-04-17 19:52] ericlindley-g commented on #8761
Agreed — Can't repro on other sites for sidebar, but it affects the entire search results carousel when the issue occurs.

[2017-04-17 19:56] camelburrito commented on #8761
Looks like it is happening on IOS 10.3 (we tested on @chenshay s older ios and it fine).

[2017-04-17 19:58] ryanpoplin commented on #8761
Yea we've seen it not be an issue for 10.2 just 10.3 as of now.

[2017-04-17 19:59] camelburrito commented on #8761
CNN  SIDEBAR works fine if it is the only article in the viewer, the issue is occurs only when there are multiple articles. So far issue is reproable with cnn articles only.

[2017-04-17 20:07] camelburrito commented on #8761
confirmed - issue happens only with `side=right` sidebar.

[2017-04-17 20:39] camelburrito commented on #8761
cc @ericfs

[2017-04-17 20:57] ericfs commented on #8761
Tracking internally: b/37430671

[2017-04-17 21:13] camelburrito commented on #8793
Not happening on latest chrome - (or other browsers)

[2017-04-17 21:35] levidurfee commented on #8688
Hi @threesided , are you still having this issue?

[2017-04-17 21:37] levidurfee commented on #8794
* Looked into #8688
* Browse the issues and see if there is anything I can help with

[2017-04-17 22:13] adewale commented on #8791
What would it take to generalise this to work for other services that provide push notifications on the web?

[2017-04-17 22:25] jerimiah-welch commented on #4038
We have a client that just asked for this as well.

[2017-04-17 23:22] dvoytenko opened #8804 "Cleanup getPageLayoutBox availability"

[2017-04-17 23:50] #8450 closed

[2017-04-18 00:02] ericlindley-g commented on #8653
@kmh287  —  do you know if this is in canary?

[2017-04-18 01:03] zhouyx commented on #8794
- Added support for `waitFor` value in `visibilitySpec`
- Worked on providing position API to ad (still in discussion)

[2017-04-18 01:42] dvoytenko opened #8806 "Provide 3p ads the page layout rect of the ad"
/cc @keithwrightbos @cramforce

[2017-04-18 07:55] sebastianbenz commented on #8791
Why does this need to be a custom component? It sounds like all use cases are already covered by amp-access.

[2017-04-18 09:27] mhmgdk commented on #8715
... Except that applying this style tag in <head> does not have any
effect at all.

Med venlig hilsen/Best regards

Martin Hansen

[2017-04-18 14:11] andscova commented on #8501
Hi all,

I double Marco's request.
Thanks for taking a look into this.
Regards,

a.

[2017-04-18 16:18] bradfrizzell opened #8809 "I2I - Test Suite relies on test order and test leakages"
Currently, the test runner in the AMP project is exhibiting behavior that indicates that multiple tests are leaking state to each other, and that there is some unexplained jank in the overall infrastructure. This can be seen due to the following scenarios that are repeatedly observed:

- A test file will pass when run in isolation, but fail when run with the entire suite.
- A test file will fail w

[2017-04-18 16:20] kmh287 commented on #8394
Arrays are difficult to work with if more than one element is being updated at once. See  https://github.com/ampproject/amphtml/pull/8729#discussion_r111408010. Maybe we should add a custom function that shallow or deep merges two arrays?

[2017-04-18 16:57] aghassemi opened #8810 "[A11Y] enter and space keys should activate anything that has `on:tap` or a tap handler"
Examples of what's **_broken_** currently and does not activate with enter/space keys:
- [x] amp-selector options
- [x] amp-carousel next/previous buttons
- [x] anything with `on:tap` that's not a `button` or `a` (e.g. `<div role="button" on='tap:...` tabindex=0>`)
- [x] social-share
- [x] amp-accordion (also should support up/down to expand/collapse)

[2017-04-18 16:57] aghassemi commented on #8810
/cc @ericlindley-g

[2017-04-18 17:10] erwinmombay commented on #8809
from that code it randomizes file level (describe level) but not at the "it" level correct?

[2017-04-18 17:15] bradfrizzell commented on #8809
Yes, this is only randomizing at the file level. Randomizing at the 'it' level would be much more complicated due to the beforeEach and afterEach blocks.

[2017-04-18 17:19] camelburrito commented on #8501
CC @lannka @zhouyx @jridgewell

[2017-04-18 17:36] aghassemi commented on #8613
Also to update https://ampbyexample.com/advanced/tab_panels_with_amp-selector/preview/ sample to use this when ready (with `keyboard-support='select'`)

[2017-04-18 17:57] #7720 closed

[2017-04-18 18:00] kmh287 commented on #8613
@aghassemi Do we want to restrict the `select` option to single-select amp-selectors? I'm not sure how this would work with multi-select.

[2017-04-18 18:03] aghassemi commented on #8613
good point, yeah `select` does not make sense for multi-select case. If possible to restrict through validator, that would be great but I am not sure if validator support co-dependent rules. If not, just runtime `assert` should be good enough.

[2017-04-18 18:03] kmh287 opened #8812 "amp-bind shouldn't expect the ampform service to exist"

[2017-04-18 18:14] dvoytenko opened #8814 "Canary regression on amp-list: many responses might be newly failing"
The error:
[code]

Most likely cause is absence of AMP CORS headers in responses (CORS headers are fine). Are AMP CORS a new requirement? Are they absolutely necessary for CURLS case?

Some common pages:
https://allrecipes-com.cdn.ampproject.org/c/s/allrecipes.com/recipe/219066/coconut-cheese-flan-flan-de-coco-y-queso/amp/
https://amp-tubiba-com-tr.cdn.ampproject.org/c/s/amp.tubiba.com.tr/ozer-kar

[2017-04-18 19:07] src-code commented on #8545
👍  I've also noticed that `amp-iframe` won't honor `embed-size` messages received from same-origin content, which is frustrating...

https://output.jsbin.com/repeqaf/

I'll open an issue to track this separately.

[2017-04-18 19:15] src-code opened #8819 "amp-iframe ignores AMP postmessages from same-origin content"
Same-origin content may be loaded into amp-iframes if the `allow-same-origin` sandbox flag is omitted.  However, any amp messages received from the iframe will be silently ignored by amp-iframe.

Perhaps relevant to issue #8545?

## How do we reproduce the issue?

**Demo:** https://output.jsbin.com/repeqaf/

## What browsers are affected?

All

## Which AMP version is affected?

Tested with v14920

[2017-04-18 19:19] #8806 closed

[2017-04-18 19:25] keithwrightbos commented on #8784
Meaning somehow have delayed fetch visibility integration get load of the amp ad element?  Given its outside of the creative frame, how would we do that?

[2017-04-18 19:45] dvoytenko commented on #8784
Basically, I'm asking we do the exact same thing for both: FIE and XOrigin. Just as we do for `renderStart`.

[2017-04-18 20:06] keithwrightbos commented on #8784
sure that works for me

[2017-04-18 20:23] zhouyx commented on #8261
The text "advertiser" is implemented by publisher

[2017-04-18 20:59] dvoytenko commented on #8814
/cc @choumx @cvializ

[2017-04-18 22:04] dvoytenko commented on #8814
It looks like at least some examples indeed have broken JSON returned on way or another. So it might be mostly publisher issue. However, the splash of recent errors seems suspicious.

[2017-04-18 22:15] #8814 closed

[2017-04-18 22:15] dvoytenko commented on #8814
Confirmed: the issue is fixed by #8818

[2017-04-18 22:33] ericlindley-g opened #8824 "Autocomplete: provide throttled change event (as you type) on text input"
breaking down: https://github.com/ampproject/amphtml/issues/6625

[2017-04-18 22:33] ericlindley-g opened #8825 "autocomplete: list overlay (design & impl)"
breaking down: https://github.com/ampproject/amphtml/issues/6625

As user types, results of autocomplete show up as overlay that can be navigated by keyboard arrows and tap

**UX**
How does it close?
Width?
etc...

uses amp-list behind the scenes

Should also think about caching (if requested from same source)

[2017-04-18 22:36] ericlindley-g opened #8826 "update multiple input elements based on autocomplete selection"
enhancement on
https://github.com/ampproject/amphtml/issues/6625

[2017-04-18 22:37] ericlindley-g commented on #8824
(should also enable filtering & sorting based on partial input — may need to configure to fire more/less often)

[2017-04-18 23:15] ericlindley-g commented on #4904
This may have already been closed with a recent fix. Please re-open if you're still seeing the issue. Thanks!

[2017-04-18 23:15] #4904 closed

[2017-04-19 00:26] pbakaus opened #8828 "<amp-youtube> is not being lazy loaded"
1. Go to https://www.ampproject.org/learn/overview/#video on a Desktop resolution
2. Scroll down
3. Observe that the three little loading dots appear, but the video is not loading

Now:

1. Reload the page with the scroll position on the video
2. Observe how the video now loads correctly

Looks like there's an ugly, urgent error here.

[2017-04-19 00:36] aghassemi commented on #8828
able to reproduce. looking.

[2017-04-19 00:59] zhouyx opened #8829 "Test fail on test-error.js"
master is red after #8800
See [travis build](https://travis-ci.org/ampproject/amphtml/builds/223349975)

[2017-04-19 01:28] zhouyx commented on #8799
reopen is #8800 is reverted

[2017-04-19 02:13] #8828 closed

[2017-04-19 02:16] #8761 closed

[2017-04-19 02:43] cramforce commented on #8829
Fixed by #8830

[2017-04-19 02:43] #8829 closed

[2017-04-19 04:01] dvoytenko commented on #8809
Yeah, we are still not yet entirely hermetic...

[2017-04-19 04:15] aghassemi commented on #8828
@pbakaus fixed and prod patched already thanks to @erwinmombay and @zhouyx

[2017-04-19 04:43] jasonpang commented on #8791
Hey @sebastianbenz,

I think `amp-access` checks for a JSON `{ success: true }` response from an authorization URL a developer defines, but we need to access client-sided storage data, so the authorization URL the developer defines needs to be a page that runs some JS to check the storage and then `postMessage()` the result back. A server-only response wouldn't allow JavaScript to access the site'

[2017-04-19 06:30] camelburrito commented on #8793
Closing for now, feel free to re-open if required,

[2017-04-19 06:30] #8793 closed

[2017-04-19 14:51] kmh287 commented on #8613
Another edge case that comes up is initial selection with the `select` option. If the amp-selector starts with no initial selection and a user navigates to it with TAB, the first option will receive focus but won't be selected. In `select` mode, the user would need to navigate to another option and then navigate back to select the first option.

[2017-04-19 15:30] pbakaus commented on #8828
@aghassemi excellent, thanks!

[2017-04-19 16:37] alanorozco commented on #7952
[Design here](https://docs.google.com/a/ampproject.org/document/d/1C-bz2qlo52VZH39pIoR0mLYu6fC4USOpaWnGBwWn3-4/edit?usp=sharing). Will present during review meeting today.

[2017-04-19 17:08] aghassemi opened #8836 "amp-video-ima: Support support `track` children for CC"
[code]
should work.

Validation rules for `<track>` also need to be updated to allow `amp-video-ima` as parent. Rules live in `validator-main.protoascii`

[2017-04-19 17:31] alanorozco opened #8838 "AMP ads are partially displayed before ini-load"
Ad placeholders have a subtle transparency, which is intended. However, A4A iframes are visible under the placeholder before ini-load, which means that the partially rendered elements bleed through.

[2017-04-19 17:41] kmh287 commented on #8810
This definitely isn't working on desktop. Have you seen this fail on mobile?

[2017-04-19 17:46] zhouyx commented on #8838
For 3p ads iframe, we make them visible after `iframeLoadPromise/RenderStart/Timeout`. Should have similar feature for friendly iframe.

[2017-04-19 18:30] keithwrightbos commented on #8838
renderStart is sent by the ad tag and could easily be triggered well before the creative is fully loaded.  The argument for currently flow is that we unhide after renderStart in A4A. We need to be careful to not delay friendly frame causing a disadvantage.

[2017-04-19 18:46] aghassemi opened #8841 "amp-ima-video: Use native controls."
With using native controls we will get UX consistency, built-in accessibility,Volume, Chromecast, AirPlay, Closed Caption, etc..

There are issues with using native controls in IMA, that need addressing however:

1- Initially native controls need to be hidden and a custom "play" icon for click to play need to be present to capcture user-intent and initialize IMA.
2- During Ad play, controls need t

[2017-04-19 18:48] aghassemi opened #8842 "amp-ima-video: Support `source`"
[code]
should work.

Validation rules for <source> also need to be updated to allow amp-video-ima as parent. Rules live in validator-main.protoascii

This means `data-src` no longer needs to be required either.

[2017-04-19 18:52] aghassemi opened #8843 "amp-ima-video: Send `AD_START` , `AD_END` events"
For `autoplay`, currently we put a "shim" div on top of the player to capture the first click to unmute the video. This does not work well during ad play as user's clicks should go to the ad.
We need to:
- [ ] Update video-manager to listen for two new `VideoEvents.AD_START` and `VideoEvents.AD_END` events.
- [ ] Video manger to remove the "shim" between AD_START and AD_END.
- [ ] Have `amp-ima-vi

[2017-04-19 18:56] cvializ commented on #6089
If I understand correctly, this task is to rewrite existing statements of the form...

[`3p/3p.js`](https://github.com/cvializ/amphtml/blob/master/3p/3p.js#L39)
[code]
in favor of...
[code]
and then add a build check to forbid the static form.

[2017-04-19 19:04] kmh287 opened #8844 "amp-state: JSON descendant and src attribute should not be mutually exclusive"
Now that we allow binding to `[src]` on `amp-state` components with or without the `src` attribute, we should probably remove the requirement that an amp-state has a JSON descendant or the `src` attribute, but not both.

/cc @choumx

[2017-04-19 19:08] cvializ commented on #6089
If I understand correctly, this task will forbid and replace statements of the form...

[code]

in favor of...
[code]
and add a build-time check to enforce it.

The linked special case is no longer available, or I am just having trouble seeing it. @jridgewell / (@cramforce ?) is my understanding correct, or is something missing?

[2017-04-19 19:19] #8799 closed

[2017-04-19 20:05] alanorozco commented on #8583
I will be presenting [Blocking A4A display until essential resources have loaded](https://docs.google.com/a/ampproject.org/document/d/1C-bz2qlo52VZH39pIoR0mLYu6fC4USOpaWnGBwWn3-4/edit?usp=sharing).

[2017-04-19 20:16] sebastianbenz commented on #8791
@jasonpang you can check notification state via cookies in the auth endpoint. The auth request can return arbitrary JSON, e.g. `{ "notification":  "permission_denied" }`. You can set the cookie in the subscribe popup, which you can trigger via amp-access login action.

[2017-04-19 20:56] rudygalfi opened #8847 "Allow variation of Client ID based on display context"
AMP's client ID currently has these behaviors:
* On the publisher origin, the "scope" parameter is used as a cookie name stored on the client.
* On an AMP cache, the "scope" is used as part of a hash to compute a client ID based on a single stored value.
* In an AMP viewer, the "scope" is used as part of a hash to compute a client ID based on a single stored value.

This issue proposes to enable s

[2017-04-19 21:04] #8372 closed

[2017-04-19 21:18] lannka commented on #8583
## Meeting notes - Responsive ads
- what’s the use case? AdSense responsive ads
- We might give this new layout a different name, other than reusing “responsive".
- how is it different from CSS media query?  container width vs device width, think about margin padding etc.
- how about stick with CSS media query, and we provide a developer tool for them to easy detect any bad layout? This will make

[2017-04-19 21:19] lannka commented on #8583
## Meeting notes - Block ad display by resource load
- problem: right now ad display waits for ini-load (resources in the rect). there's animation
- proposal: ad author mark essential resources.
- how about just wait everything in ad? we don't want to wait all resources for widgets like carousel.
- amp-animation should be blocked by ini-load
- currently we hide default placeholder when both render

[2017-04-19 21:28] aghassemi commented on #8810
No sure about mobile, don't have physical keyboard to test. I suspect same issue as desktop although not as important, main point of this issue is fixing it for Desktop for canonical AMP websites

[2017-04-19 21:41] jasti commented on #8261
@zhouyx The implementation doesn't match the mocks. Specifically, the corner angles on the ad logo are more acute than in the mocks.
See original
![original](https://cloud.githubusercontent.com/assets/2366341/25203437/216eb882-250e-11e7-8ce2-af78df87139f.png)

See Implementation
<img width="415" alt="screen shot 2017-04-19 at 2 37 17 pm" src="https://cloud.githubusercontent.com/assets/2366341/2520

[2017-04-19 21:42] aghassemi commented on #7981
/to @alanorozco

[2017-04-19 21:44] zhouyx commented on #8261
I think @spacedino and I adjust the border-radius a little bit. I am very happy to adjust it.

[2017-04-19 21:52] cramforce opened #8849 "Switch error reports to POST requests."
CC @dknecht

Today we often need to shorten the URL because we run against URL limits (See #8834)

[2017-04-19 21:56] jasti commented on #8261
@spacedino reasoning behind the change?

[2017-04-19 22:04] zhouyx opened #8850 "TypeError: Cannot call method 'isAlwaysFixed' of undefined"
at c.Qf.b.isAlwaysFixed (https://cdn.ampproject.org/rtv/001492571781980/v0.js:159:455)
    at Wg.f.measure (https://cdn.ampproject.org/rtv/001492571781980/v0.js:237:444)
    at Ih (https://cdn.ampproject.org/rtv/001492571781980/v0.js:269:479)
    at h (https://cdn.ampproject.org/rtv/001492571781980/v0.js:278:320)
    at Sg.setState (https://cdn.ampproject.org/rtv/001492571781980/v0.js:230:601)

[2017-04-19 23:11] cvializ commented on #6089
Oh I see, the special case is the boolean expression below the comment in [build-system/eslint-rules/no-export-side-effect.js:29](https://github.com/ampproject/amphtml/blob/d23c4fb/build-system/eslint-rules/no-export-side-effect.js#L29)

[2017-04-19 23:31] jpettitt commented on #8715
Weird should work if the doc is tagged with a language.  If you know the document language and you just want to replace the text then this will do it.

[code]

[2017-04-20 01:03] #7789 closed

[2017-04-20 01:39] sztojka opened #8851 "Amp analytics visibility selector fires only once even though selector matches multiple items"
I have a list of images, and I would like to track what images were actually seen by users. I added an "element-track" class to each image, then I use the following trigger:

[code]

Even though the selector matches all the elements, it only fires when the first one is seen. In an ideal world it should fire for every matched element when each individual element is first seen.

The only workaround

[2017-04-20 01:46] sztojka opened #8852 "Error when trying to track amp adsense ad visibility with amp analytics and using data variable(s)"
I would like to track with amp analytics when an adsense ad is seen. To be able to do this I added a data var for amp-ad:

`<amp-ad data-vars-event-category="list1" layout="fixed-height" height=100 type="adsense" data-ad-client="..." data-ad-slot="...">`

And I got this error message:

[2017-04-20 01:57] zhouyx opened #8853 "Unskip amp-pixel test"
Need to fix the amp-pixel test and unskip integration test.
related to #8597
Please fix change from #8862, #8859 .
https://travis-ci.org/ampproject/amphtml/builds/223723995
https://travis-ci.org/ampproject/amphtml/builds/224049453

[2017-04-20 04:07] jasonpang commented on #8791
Hey @sebastianbenz,

As you mentioned, `amp-access` checks subscription state by making a request to the origin server, and we could have the server detect a "user is subscribed" cookie passed along with the request.

But tracking subscription state using cookies isn't as accurate and can't reflect the user's actual subscription state.

- A visitor successfully subscribed to web push notifications

[2017-04-20 12:59] gpirie commented on #2586
Was this progressed at all?

We use Gigya for our single sign-on implementation and looking to integrate with AMP.

[2017-04-20 15:17] amphtml-team commented on #8853
Thx Yuxuan. Would you skip the test for now? I'll fix that ASAP when I'm in
office.

On Apr 19, 2017 6:57 PM, "Yuxuan Zhou" <notifications@github.com> wrote:

[2017-04-20 16:14] #8767 closed

[2017-04-20 16:39] dvoytenko commented on #6444
Reopening. Please update documentation.

[2017-04-20 16:52] jasti commented on #7921
@dvoytenko, @alanorozco - since we've decided not have 'required' as part of the assets - how do we accomplish this?

[2017-04-20 17:33] keithwrightbos commented on #8852
You will need to create a dedicated amp-analytics element for this and place a unique identifier on the amp-ad element.  Something like the following though I'm not sure if visiblePercentageMin 0 is more correct:

`<amp-ad id='adsenseAd1' ....></amp-ad>
<amp-analytics>
<script type=application/json>
{
  "transport": {"beacon": false, "xhrpost": false},
  "requests": {'firstVisible': 'https://mysit

[2017-04-20 17:51] honeybadgerdontcare commented on #6444
I'll update [this document](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md). Not sure if that'll automatically update [ampproject.org's document](https://www.ampproject.org/docs/reference/spec) and if not I'll file an issue with amphtml/docs for it.

[2017-04-20 18:14] lannka commented on #8847
The 2nd case can go away once CURLs launches to everywhere. We will be able to use a cookie instead. @cramforce this is the plan, right?

An alternative markup:
[code]

we provide an optional 3rd param, which specifies a cookie name. It will be used only when a cookie needs to be written. By default, it will take the same value as `scope`.

[2017-04-20 18:24] cramforce commented on #8847
Unfortunately the case will still be needed for viewers.

I like the simple `CLIENT_ID(scope, opt_notificationId, opt_cookieName)` better.

[2017-04-20 18:25] lannka commented on #8847
Yes. I was saying we will have 2 cases, not 3.

[2017-04-20 18:33] #5647 closed

[2017-04-20 18:34] honeybadgerdontcare commented on #6444
Fixed in #8861.

[2017-04-20 18:34] #6444 closed

[2017-04-20 19:17] jridgewell commented on #6089
That's exactly it. The build-time checks are already in place, we just need to remove the exception for `map`.

Or, we can figure out why Closure Compiler doesn't respect the [`@nosideeffects`](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler#nosideeffects-modifies-thisarguments) annotation.

[2017-04-20 19:54] rudygalfi opened #8863 "Binding to ensure element is fully in viewport"
There are some use cases where it would be neat to have a binding that will automatically change the scroll position of some region of the page to ensure a subelement of that region is fully visible.

Inspiration for this is an amp-carousel with thumbnails. As you swipe through the carousel, the thumbnail selection changes (awesome!). However, if you go far enough without changing the scrollable t

[2017-04-20 19:54] rudygalfi commented on #8863
/ to @ericlindley-g @choumx

[2017-04-20 20:25] ericlindley-g commented on #8863
/cc @aghassemi @sebastianbenz   (related to a potential .focus() method, https://github.com/ampproject/amphtml/issues/7626)

[2017-04-20 20:51] jridgewell commented on #6569
164,282 occurrences in the latest release.

[2017-04-20 21:05] aghassemi commented on #8863
yeah #7626 is the right solution for this.

[2017-04-20 21:43] dvoytenko commented on #7780
Just heads up. It looks like the fix is in PROD now. PTAL.

[2017-04-20 21:49] jridgewell commented on #8851
/to @lannka

[2017-04-20 22:12] jridgewell commented on #8852
Closing with https://github.com/ampproject/amphtml/issues/8852#issuecomment-295826775.

[2017-04-20 22:29] kschmidtdev commented on #8692
You are correct, `eventValue` is an `integer` according to GA, so the amp-analytics docs and sample code need to be updated.

[2017-04-20 23:03] jridgewell commented on #3216
This should be possible now with `signals`:

[code]

[2017-04-20 23:43] jridgewell commented on #8784
Fixed by #8796.

[2017-04-20 23:43] #8784 closed

[2017-04-20 23:46] jridgewell commented on #8692
/to @bpaduch

[2017-04-20 23:47] joshcp commented on #8692
Thanks @kschmidtdev for suggesting the use of `eventLabel` as a workaround for now.

[2017-04-21 00:35] lannka commented on #8215
I got an IndexedDB error on latest desktop Safari (10.1) inside a xorigin iframe.

See [jsbin example](http://jsbin.com/lijagic/edit?html).

[2017-04-21 00:45] cramforce commented on #8215
:(

I updated https://bugs.webkit.org/show_bug.cgi?id=168631
Lets see what their feedback is.

[2017-04-21 00:45] cramforce commented on #8215
Maybe try WebSQL :)

[2017-04-21 02:36] jasti opened #8871 "Explore adding a betterads.org mode to an AMP document"
Although all ad implementations are inline with the https://www.betterads.org/standards/, there are two cases where the publisher could violate the better ads standard when using AMP/ non-AMP ads on AMP pages.

1. Ad Density Higher than 30% - https://www.betterads.org/mobile-ad-density-higher-than-30/
Consider a document mode, which when turned on will not render any ads that covers > 30% of the d

[2017-04-21 08:24] ChrisHoman opened #8872 "Problem with flex settings in .carousel-slide"
When I set .carousel-slide to the following css, the 'align-self' is causing a problem on mobile browsers (not desktop).
.carousel-slide {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: flex-start;
	height: initial;
}

![nearme1_jpeg-1](https://cloud.githubusercontent.com/assets/2571694/25269230/a931e742-2673-11e7-8a68-823a1e65bce1.jpg)
![nearme2_jpeg-1](https://cl

[2017-04-21 09:51] sztojka commented on #8852
@keithwrightbos you are right, actually there is no need to add a separate analytics tag, it can be done with an existing analytics by adding a dedicated trigger AND a dedicated request.

The request would be totally unnecessary when the data-var attributes were working for amp-ad elements (assuming I am using data-vars for what they are intended for: creating one request for multiple items and in

[2017-04-21 10:34] matAtWork commented on #6234
We also have an on-going issue with tracking events from a proprietary video player in an <amp-iframe>. There seems to be two possible approaches:

1) Allow variable substitution into <amp-iframe>, including key values like DOCUMENT_REFERER, CANONICAL_URL and CLIENT_ID (since without them it's near impossible to relate the video in the iframe to it's container)
2) Allow the creation of customer an

[2017-04-21 12:04] riyaz95 opened #8873 "PHP Warning: Invalid argument supplied for foreach() in /home/user/public_html/wp-content/plugins/amp/includes/utils/class-amp-html-utils.php on line 11"
Hi
my error_log is growing with:
[19-Apr-2017 09:14:10 UTC] PHP Warning: Invalid argument supplied for foreach() in /home/user/public_html/wp-content/plugins/amp/includes/utils/class-amp-html-utils.php on line 11

I know it’s just a waring but it grow up every minute… 🙁

(I’m using PHP 7)

Thanks

PS: The error_log file is generated by the server

[2017-04-21 14:25] kmh287 commented on #8810
Did some limited testing on an emulator. Just using TAB navigation with talkback turned off and then pressing enter/space does not act as a click.

As for mobile. talkback generates a click at the center of its focus whenever the user presses either space or enter, (I believe other screen readers behave similarly)  so it's WAI when talkback is on.

[2017-04-21 14:48] #8762 closed

[2017-04-21 15:24] eduardcotmrf opened #8874 "Double-click multiSize restrictions"
Right now the amp-ad doubleclick implemention restricts multisize based on height and width, giving you an error in the console if the width it's bigger than the previous.

For example:

![screen shot 2017-04-21 at 16 55 20](https://cloud.githubusercontent.com/assets/23262331/25283230/5864e5fe-26b3-11e7-9ab2-b33bfd39bae1.png)

In our case it's very common to have configurations like 300x250,320x50

[2017-04-21 16:04] congyun opened #8875 "Invalid URL protocol 'file:' for attribute 'src' in tag 'amp-img'."
Hello AMP team,

I've discovered that the validator currently doesn't allow `file:` URI schemes in the href tag, similar to #4242, #4094 and #4784;

This can be reproduced by the below AMP HTML doc

[code]

We are working on custom creative AMP ads in DRX, which is an important step for A4A. Could you please help us adding the `file:` ?

More info for our project can be found:  [here](https://goto

[2017-04-21 16:14] congyun commented on #8875
Note that we are using the AMP4ADS spec instead of the regular AMP html spec, though this looks like a generic issue.

[2017-04-21 17:03] dvoytenko commented on #7921
@jasti We will force dependent elements to be loaded when they are off-screen when required by the animation.

[2017-04-21 17:39] jridgewell commented on #8875
Is this just for local testing?

[2017-04-21 17:44] jridgewell commented on #8872
/cc @dvoytenko. You know the most about flex-box.

[2017-04-21 17:47] jridgewell commented on #8873
This is an issue with Wordpress's `amp-wp` plugin. I've cross posted the issue [here](https://github.com/Automattic/amp-wp/issues/687).

[2017-04-21 17:47] #8873 closed

[2017-04-21 17:58] jasti commented on #8874
@eduardcotmrf have you considered setting the primary size to 320x250? if what's returned is a 300x250, it's just centered anyway?

[2017-04-21 18:13] dvoytenko commented on #8872
/to @camelburrito could you ptal?

[2017-04-21 18:14] taymonbeal commented on #8871
Would it make sense to do the first one through offline analysis rather than including it in the AMP runtime? That seems like it could be better for performance.

[2017-04-21 18:25] #8812 closed

[2017-04-21 18:46] alanorozco commented on #7921
See [amp-animation enhancement notes](https://docs.google.com/a/ampproject.org/document/d/1-NXfuCB56-Mb-VrHp9AqTw6lo_t4zpWfim7ZbR_KnwU/edit?usp=sharing).

[2017-04-21 19:05] dvoytenko commented on #8780
No duplicates this week. Will continue monitoring next week.

[2017-04-21 19:31] #8316 closed

[2017-04-21 19:48] kmh287 commented on #8394
Closing for now.

[2017-04-21 19:48] #8394 closed

[2017-04-21 20:16] rsimha-amp commented on #5294
I just picked up this bug, and am seeing the following imports of loadPromise in the code base. From reading the original comments in this bug from Sep 2016, it seems like we wanted amp-analytics/transport.js and amp-ad-api-handler.js to no longer import loadPromise, and instead, use the instance from amp-ad-api-handler. It looks like the imports have changed significantly since then, and / or the

[2017-04-21 20:59] zhouyx commented on #8768
fixed by #8815

[2017-04-21 20:59] #8768 closed

[2017-04-21 21:10] zhouyx commented on #8346
feature alive in prod.

[2017-04-21 21:10] #8346 closed

[2017-04-21 21:42] cvializ opened #8880 "Forbid creating `map`s at module-load time"
# Great First Issue: forbid creating `map`s at module-load time

## First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

## What you will need to know

Basics:
- HTML5

[2017-04-21 21:57] cvializ commented on #6089
Great, thanks : ) I'll close this issue now since it's superseded by #8880 in the Great First Issue format

[2017-04-21 21:57] #6089 closed

[2017-04-21 21:57] dvoytenko opened #8882 "Late-upgrading extensions receive onLayoutMeasure late and failures could arrest the pass"

[2017-04-21 21:59] rudygalfi opened #8883 "Add console warning for `googleanalytics-v2` config"
Since we are not planning to support nor document this config, could we add a console error to notify developers that it may be deprecated at any time?

Also, we should consider to rename to something like `googleanalytics-alpha` instead. v2 implies next version, but since an in-place upgrade is the current plan, this is not accurate.

cc @avimehta

[2017-04-21 22:10] #6578 closed

[2017-04-23 20:22] Download commented on #7424
In the meanwhile... Is it possible to do simple (non animating) sprites? E.g. combine a series of icons in a single .png and select the right icon using CSS?

The implications of all the rules of AMP aren't completely clear to me yet... Can we just use sprites with the `amp-img` element like we would with a normal `img`? Can we use `background-image` on any element?

Sorry but I searched the docs

[2017-04-23 20:24] Download commented on #7158
That sprite! Transparent pixels are actually pretty 'expensive' in PNG...

[2017-04-24 05:05] jasti opened #8891 "Disable multi-size ad requests when inside of a ad container - Sticky/ Flying Carpet"
Since ad containers like sticky and flying carpet ads only perform well at certain sizes, we should avoid multi-size in these containers to prevent bad user experiences.

[2017-04-24 07:46] oliverfernandez opened #8894 "AMP Cache s-maxage header"
AMP Cache documentation says:

Is header `s-maxage` (meant for shared caches) also used?

[2017-04-24 07:55] eduardcotmrf commented on #8874
@jasti This is not possible as we are trying to get from adex ads in the standard sizes or the ones that generate more revenue for our clients. It's not the same requesting a 320x250 than a 300x250, as the last tag is more popular and mostly used within the industry.

[2017-04-24 13:18] quarterto opened #8896 "amp-video placeholder behaviour"
According to the [`amp-video` documentation](https://www.ampproject.org/docs/reference/components/media/amp-video):

However, in practice, it's behaving as just the default `placeholder` from `BaseElement`, i.e. the placeholder is removed as soon as the element gets layout. I see nothing in `amp-video.js` or `video-manager-impl.js` that suggests the tap-to-play behaviour.

Is this a bug in the imp

[2017-04-24 15:31] mrjoro opened #8899 "Weekly Status 2017-04-24"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-04-24 15:31] #8794 closed

[2017-04-24 15:36] #8583 closed

[2017-04-24 15:38] mrjoro opened #8900 "Design Review 2017-05-03"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-04-24 15:38] mrjoro opened #8901 "Design Review 2017-05-10"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-04-24 15:41] mrjoro opened #8902 "Design Review 2017-05-24"
**Note that we will skip the 2017-05-17 design review.**

The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be

[2017-04-24 16:14] camelburrito commented on #8899
AMP HTML
- P0 fix and rollout for amp-sidebar - https://github.com/ampproject/amphtml/issues/8761

AMP Start
- Configurator design discussions
- Made some progress with WP theme.

[2017-04-24 16:37] aghassemi commented on #8899
- PositionObserver design discussions and pseudo-prototyping with @zhouyx
- amp-video-ima discussions and review.
- testing and reviewing amp-3q-player
- amp-youtube P0 fix

[2017-04-24 16:44] adelinamart commented on #7158
Thank you for the comment. The issue is still being tracked internally.

[2017-04-24 17:12] dvoytenko commented on #7424
@Download This component (while uses similar name) is specific to animations. To answer your question - you can certainly use `background` sprites in your CSS.

[2017-04-24 17:16] kmh287 commented on #8899
- Working on adding keyboard support for amp-selector: #8835
- Working on adding keyboard support for "tapping" by pressing the enter or space keys: #8879
- Working on small bind improvements #8773 #8876

[2017-04-24 17:19] timBrockman commented on #8899
AMP Start
(theme 3)
- home (featured) page HTML and content json
- started css
... will continue with css and article page/content

[2017-04-24 17:19] gustavopaes opened #8906 "amp-live-list not loading amp-img"
## What's the issue?

`amp-img` is not loading images when inside at `amp-live-list`, unless you resize your window.

## How do we reproduce the issue?

1. Open [`amp-live-list` AMP Playground example](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fsamples_templates%2Flive_blog%2Fsource%2F)
    1.1 If image is visible, reload the page.

2. Add `amp-accordion` component,

[2017-04-24 17:22] keithwrightbos commented on #8874
cc/ @ampproject/a4a
@eduardcotmrf to be clear, you're saying that you actually get less demand from AdX if you specify 320x250 than 300x250?

[2017-04-24 17:23] keithwrightbos commented on #8891
Assigning to @glevitzky for changes to Fast Fetch flow

[2017-04-24 17:28] cvializ commented on #8899
Continuing carousel a11y - #8822
Created a Great First Issue - #8880
Continuing async form validation

[2017-04-24 17:44] muxin commented on #8899
- Discussing lightbox viewer improvement
- Working on lightbox viewer - use amp-carousel for swiping content

[2017-04-24 17:49] Download commented on #7424
@dvoytenko Thanks!

[2017-04-24 18:00] lannka commented on #8847
We'll also provide similar config to Ad CID in [_config.js](https://github.com/ampproject/amphtml/blob/master/ads/_config.js):
[code]

[2017-04-24 18:06] superbaddude opened #8908 "client-id scope for Ezoic Ad"
## What's the issue?

currently do not receive the client-id for the ezoic ad.

## What browsers are affected?

all browsers.

[2017-04-24 18:09] superbaddude commented on #8908
#8909

[2017-04-24 18:14] #8882 closed

[2017-04-24 18:16] alanorozco commented on #7981
Expanding about [the ramifications of this here](https://docs.google.com/document/d/1-NXfuCB56-Mb-VrHp9AqTw6lo_t4zpWfim7ZbR_KnwU/edit#).

Open question is whether we will deprecate or fallback to the target ID behavior.

[2017-04-24 18:16] alanorozco commented on #8756
This will be ongoing work that hasn't been fully defined yet.

Closing this in favor of more specific issues that pop up in upcoming sprints.

[2017-04-24 18:57] zhouyx commented on #8899
- On duty stuff
- PositionObserver Design related @aghassemi
- Support `hidden` trigger for visibility-v3
- `waitFor` support for visibility-v3 is alive.

[2017-04-24 19:52] dvoytenko opened #8910 "Ensure animations auto-start even if amp-animation is positioned at the bottom"

[2017-04-24 20:25] #8910 closed

[2017-04-24 20:46] jridgewell commented on #8899
- On duty this week
- AMP Layers work

[2017-04-24 20:57] jridgewell commented on #8894
/to @vitaliybl

[2017-04-24 21:05] lannka commented on #8899
Ads & Analytics
- support "referrerPolicy" in `amp-pixel`
- collect content element layout delay stats

[2017-04-24 21:12] vitaliybl commented on #8894
Yes, Google AMP Cache will honor s-maxage when deciding when to refresh your document. I believe we don't send it to the client, though.

[2017-04-24 21:15] #8894 closed

[2017-04-24 21:27] dvoytenko opened #8915 "Error transformer: remove some common errors thrown by extensions and ad blockers"
These errors have no value, but only spamming our error monitoring.

Some examples:
- `null is not an object (evaluating 'elt.parentNode')`
- `window.stop_youtube is not a function`

[2017-04-24 21:34] dvoytenko opened #8916 "Carousel: errors with "object doesn't support this action""
It looks like this mostly happens on IE11. The error typically looks like this:
[code]

An example page: https://www-engadget-com.cdn.ampproject.org/c/s/www.engadget.com/amp/2017/04/20/mastercard-biometric-fingerprint-card/

An example user agent: `Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko`

Setting to P1 until we confirm the scope of the error and impact.

[2017-04-24 21:59] dvoytenko opened #8917 "Errors: steady "string did not match pattern" errors"
We are seeing a steady ~50K/day errors from iOS webviews. Most likely iGSA.

The link to the error: p/2606060847449554900

The error typically looks like this:
[code]

The stack looks like this:
[code]

It appears that the code intends for this error to go into user channel here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/analytics-root.js#L445

Not clear yet wh

[2017-04-24 22:11] jridgewell opened #8918 "null is not an object (evaluating 'L.body.appendChild')"
[code]

Unminified:
[code]

Seems like we should [redefine](https://github.com/ampproject/amphtml/blob/6bf3259810c7d293e29f7afcd43e06b19b0c6dd4/src/service/viewport-impl.js#L1578) `document.body` before [appending](https://github.com/ampproject/amphtml/blob/6bf3259810c7d293e29f7afcd43e06b19b0c6dd4/src/service/viewport-impl.js#L1575) the body element to the wrapper.

[2017-04-24 22:27] jridgewell opened #8919 "undefined is not an object (evaluating 'a.indexOf')"
This seems to be the `location` object not having a `href`. Maybe private mode? All seem to be iOS Safari.

[code]

Unminified:
[code]

[2017-04-24 22:27] dvoytenko opened #8920 "Carousel: appears to try to show an undefined slide"
p/5092538114734130307

A typical error:
[code]

This appears to hit the line: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/slidescroll.js#L539 where it passes `undefined` to `updateViewport` method.

[2017-04-24 22:32] choumx commented on #8397
Another option is to add a new custom element:
[code]
Slightly less powerful and more explicit than chaining `AMP.setState` actions.

[2017-04-24 22:40] choumx opened #8921 "amp-bind: Change number of slides in amp-carousel"
Would be nice for the e-commerce use case, e.g. different product SKUs have a different number of detail images.

Some possibilities, in rough order of preference:
- Use `[class]` binding to show/hide nested images and change `amp-carousel` to ignore hidden images.
- Add new `[slides]` binding to `amp-carousel` that changes the max number of displayed slides.
- Use `amp-mustache` to template the c

[2017-04-24 22:41] dvoytenko opened #8922 "Service registration: clarify constructor-vs-factory instantiation"
It appears that [Viewer](https://github.com/ampproject/amphtml/blob/6bf3259810c7d293e29f7afcd43e06b19b0c6dd4/src/service/viewer-impl.js#L958) registration the factory is passed in place of constructor. It looks like Viewport has the same issue and probably some others. Please clarify and address. Feel free to drop from P0 if cherry-pick is not needed into PROD. But if it is - please let us know AS

[2017-04-24 23:19] joshcp opened #8925 "Preserve URLs when sending to Google Analytics via amp-analytics"
## What's the issue?

We're using event tracking to capture the URL when a user clicks an outbound link. However, the data is urlencoded - which is a problem when trying to compare with non-urlencoded data from the primary (non-amp) property.

## How do we reproduce the issue?

Currently collecting event data as outlined in the [Google Analytics AMP documentation](https://developers.google.com/ana

[2017-04-24 23:27] lannka commented on #8883
Can you think of the exact warning message you want to show to user?

[2017-04-24 23:29] camelburrito commented on #8872
@ChrisHoman - The issue here is `.carousel-slide {height:initial}`,in order have  smooth snapping and responsive behavior we would need to center the slides. This is why we made the slides default width and height 100%  you could use the slide as your base and then align items however you want inside of it. I guess in this case you would be able to solve it by enclosing your slide contents inside

[2017-04-24 23:30] camelburrito commented on #8872
Closing this for now , please feel free to re-open if needed.

[2017-04-24 23:36] kmh287 commented on #8922
Viewer was changed over to the new service registration code path in #7896, but before that PR the service was also created via factory. I believe a factory is used here and in some of the other services in order to pass additional args into the service's constructor besides a window or ampdoc.

[2017-04-24 23:37] kschmidtdev commented on #8925
We've been experiencing the same thing - `${outboundLink}` ends up url-encoded and if we send it as an `eventLabel` to GA, our data people are staring at not-human-friendly URLs 😆

[2017-04-24 23:56] jridgewell opened #8926 "Error: viewport has zero dimensions"
[code]

Unminified:
[code]

[2017-04-24 23:56] jridgewell commented on #8701
Dupe of https://github.com/ampproject/amphtml/issues/6676.

[2017-04-24 23:56] #8701 closed

[2017-04-24 23:57] jridgewell commented on #6676
Ping. This is still coming up.

[2017-04-24 23:59] #8918 closed

[2017-04-25 00:40] amedina opened #8928 "Attribute 'href' may not appear in tag 'use'"
## What's the issue?
HTML page with the following content fails to validate:
[code]
Validation error:
<img width="941" alt="svg-validation-error" src="https://cloud.githubusercontent.com/assets/506089/25364132/f278433a-2914-11e7-8447-639d5d6a672f.png">

Could not find explanation/rationale for validation failure in docs; not sure if it is a bug or a feature.

## What browsers are affected?
All bro

[2017-04-25 05:05] ericlindley-g opened #8929 "FR: Expose results from HTML5 Geolocation API to AMP"
Expose results from HTML5 Geolocation API to AMP: e.g. for bindings to amp-list[src], once the user has consented, give developers the ability to send lat/long information along with the server call so as to provide personalized results in response, based on geo

/cc @aghassemi   @choumx

[2017-04-25 05:07] ericlindley-g commented on #8929
/cc @dandv  (this is a narrow version of your earlier issue, to specify it just to be the API itself, separate from larger questions of geo-variation on AMP caches)

[2017-04-25 05:42] ericlindley-g commented on #8896
@quarterto , I think your guess of this being the result of out-of-date documentation is correct. Is that right, @aghassemi ? Can we just remove the "click or tap" language in this section?

[2017-04-25 06:47] eduardcotmrf commented on #8874
I'm saying that asking for a 320x250 gets diferent advertisement than asking for a 300x250. You can see here that 320x250 it's not a standard size and 300x250 it's the top performer: https://support.google.com/adsense/answer/6002621?hl=en

[2017-04-25 07:40] oliverfernandez commented on #8894
Thanks for the quick answer @vitaliybl

After several tests, I agree with you that AMP Cache does not send the original cache headers to the client, but different ones (no s-maxage, and usually a Max-Age very small)

[2017-04-25 08:34] quarterto commented on #8896
@ericlindley-g it's a shame if that's the case, I was hoping to be able to use our [standard video placeholder](https://www.ft.com/__origami/service/build/v2/demos/o-video@2.5.0/placeholder). How about if I opened a PR implementing the documented behaviour?

[2017-04-25 08:58] andrejoblakceltra opened #8930 "continuousTimeMin analytics doesn't trigger for A4A in Firefox"
## What's the issue?

`continuousTimeMin` analytics doesn't trigger for A4A pages, but it works as expected on AMP pages. This happens only in Firefox (version 53.0 32-bit), it works fine in Chrome.

## How do we reproduce the issue?

### AMP example (works OK in both Firefox and Chrome)
[code]

### A4A example (works only in Chrome but not in Firefox)
[code]

## What browsers are affected?

Only

[2017-04-25 09:45] karsten-eger opened #8931 "FR: event to trigger/prevent loading for amp-list"
Right now amp-list is only firing the remote request when it is visible in the "scope of amp" itself. I get the idea behind it and it is a great solution for most cases. Unfortunately we stumbled across a case where it would be great to have the option to fire the request even if the list is still not visible.
It doesn't matter if the amp-list is inside a collapsed accordion or if it is hidden via

[2017-04-25 09:47] karsten-eger commented on #8931
/cc @sebastianbenz  @mirsch

[2017-04-25 11:21] kul3r4 opened #8933 "amp-bind validator clashes with default styling with empty class"
I was trying to fix the validation errors that I get from [product page](https://ampbyexample.com/samples_templates/product_page/#development=1) in development mode as @rudygalfi noted that the page has a lot of errors. I pushed my changes [here](https://github.com/ampproject/amp-by-example/commit/cb29f109e4c37110c6592ec2f6b350f066b5836c). However I noticed that some errors are still there in case

[2017-04-25 13:21] kmh287 commented on #8397
Once #8678 is in, won't users be able to chain `setState`?

[2017-04-25 13:25] kmh287 commented on #8922
#8923 #8927

@dvoytenko can I close this issue?

[2017-04-25 13:54] karsten-eger opened #8934 "FR: json object with all available components and their dependencies"
It would be great to have a generated (in build process perhaps) json file with all available amp components and their dependencies to other components for further usage.

To make it easy for our frontend developers we provide a function to load the script snippet of a given amp component when they want to use it. With this we prevent double includes and include of only those components that are n

[2017-04-25 14:12] jonkeller opened #8935 "amp-ad-network-fake-impl is broken"
When including &lt;amp-ad type="fake" ...additonal attrs...&gt; it just doesn't work. With some CSS hackery and setting the src attribute to a file which ends with .json yet contains only HTML, you can make it work for testing purposes. But let's fix it so that it works as advertised.

[2017-04-25 14:16] kmh287 commented on #8933
@kul3r4 This looks like a bug on our end. Thanks for catching this! I'm looking into a solution now.

[2017-04-25 14:36] bpaduch commented on #5276
@alanorozco - friendly ping; it's still not in the JS - validation fails.

[2017-04-25 16:57] dvoytenko commented on #8922
Yes

[2017-04-25 17:01] taymonbeal commented on #6676
I did some initial investigation. Our StackDriver logs indicate that the errors are coming from Chrome 37. Caniuse.com and MDN indicate that this was the first version of Chrome to support Web Crypto, but I downloaded an old binary and checked, and it doesn't seem to. I have no idea what's going on there, but I wouldn't be surprised if it was related to the problem. At any rate, with my current Ch

[2017-04-25 17:05] #8922 closed

[2017-04-25 17:24] jridgewell commented on #6676
We just need to put catch blocks in the promise tree. When it hits, it fails A4A and goes through the normal 3p path.

[2017-04-25 17:31] choumx opened #8939 "amp-bind: Support <select>"
We should support setting state vars from drop-down menus. One way to do this is add support for `<select>`'s change event, as we currently do for `<input>`:
[code]
/to @kmh287

[2017-04-25 17:47] avimehta commented on #7983
hi! We have a new team member who needs some startup tasks. Do you mind if I assign this to him?

[2017-04-25 17:52] #4986 closed

[2017-04-25 18:07] keithwrightbos commented on #8874
Unfortunately, you cannot actually guarantee changing the width will not potentially trigger reflow because it is possible the publisher is using float for their layout.  However, I still don't understand why you cannot indicate a primary size of 320x250 with 300x250 as a possible multi-size?

[2017-04-25 18:12] dvoytenko commented on #8926
This is filed internally to Google News.

[2017-04-25 18:21] jridgewell commented on #8935
/cc @zhouyx

[2017-04-25 18:22] glevitzky commented on #8874
As far as I am aware, the ad returned is not biased toward the primary dimensions. So setting the primary width and height to their largest respective values and adding the others to the multi-size attribute should accomplish what you're trying to do.

[2017-04-25 18:25] jonkeller commented on #8935
Example of aforementioned hackery: https://github.com/ampproject/amphtml/pull/8887

[2017-04-25 18:38] safster opened #8941 "amp-ad 'Ad' attribution does not collapse if no ad returned"
## What's the issue?
amp-ad 'Ad' attribution does not collapse when no ad returned

Briefly describe the bug/feature request.
amp-ad allows publishers to collapse the iframe if no ad is returned. However, the 'Ad' attribution element does not collapse with the iframe, thus leaving an ad attribution with no ad in the page.

## How do we reproduce the issue?
The below URLs have an amp-ad setup that

[2017-04-25 18:47] jridgewell commented on #8930
/to @lannka, @tdrl

[2017-04-25 18:48] jridgewell commented on #8896
I think this is referring to the `poster` attribute, right?

[2017-04-25 18:50] jridgewell commented on #8928
/to @Gregable

[2017-04-25 18:52] jridgewell commented on #8925
/to @lannka

[2017-04-25 18:54] jridgewell commented on #8941
/to @zhouyx

[2017-04-25 19:02] jasti commented on #8941
@zhouyx Can you think of a way to allow a publisher provided "ad label" that can be loaded as part of the same iframe that collapses when there is no ad?
@safster Thanks for the issue - we'll prioritize this.

[2017-04-25 19:22] aghassemi commented on #7981
Since `amp-animation` is experimental and a point of experimental features is to allow for API changes, I prefer deprecation. How about:

- deprecate `target`, start throwing warnings.
- add `targetSelector` (to be consistent with `querySelector` in naming)
- error if both specified.
- remove `target` after a few weeks.

(`amp-bind` has done this sort of deprecation before)

[2017-04-25 20:17] kmh287 opened #8946 "Further cleanup of service.js"
As discussed on #8698 there are a few more ways to cleanup/simplify service.js

1. Remove the opt_factory param to `getService` to force usage of the register codepath
2. Eliminate constructor vs factory difference by making all service builders factories. (Dima and I discussed this on hangouts) One potential drawback is that all calls to register services will need to pass in closures.
3. Add `ge

[2017-04-25 20:20] aghassemi commented on #8896
@quarterto @ericlindley-g Documentation is wrong in this case, definitely not how `placeholder` works. Given the `poster` support, `placeholder` does not make much sense for `amp-video`. (and I rather leave the behaviour of `placeholder` consistent across components instead of special casing it here). I will update the documentation.

Good news is click-to-play custom overlay is already possible u

[2017-04-25 20:39] aghassemi opened #8947 "Create amp-video custom click-to-play sample in amp-by-example"
essentially turn http://codepen.io/aghassemi/pen/QvGgbr into a PR for amp-by-example.

[2017-04-25 20:47] choumx opened #8948 "amp-bind: Cycles with amp-state's [src] binding"
### Issue

`amp-state`'s ability to trigger `setState` from a `[src]` binding causes a possible cycle:
[code]
If the `/myEndpoint?foo=` XHR returns `{foo: <random number>}`, then the XHRs will trigger incessantly: `[src]` mutation -> `setState` -> `[src]` mutation

Should only be an issue with `amp-state` since it's essential behavior is updating the state. Hitherto, no element calls `setState` vi

[2017-04-25 20:49] jridgewell commented on #8948
👴

[2017-04-25 20:51] kmh287 commented on #8948
For option 2, could a developer still combine refreshing the state into one action with

<foo on="event:AMP.setState({myAmpStateSrc=bar});myAmpState.refresh">

[2017-04-25 20:55] zhouyx commented on #8941
With our current code, I can't think of a good way to collapse an element in response to another element collapses. 😢

[2017-04-25 21:01] jridgewell commented on #8948
Could we restrict certain bindings to require user action?

[2017-04-25 21:01] jridgewell commented on #8941
Use a `amp-ad:before` selector? When the ad collapses, the before will too.

[2017-04-25 21:14] jasonpang commented on #8791
If this proposal looks good, should we continue working on getting out a small proof of concept?

[2017-04-25 21:35] choumx commented on #8948
Yea, would require #8678.

[2017-04-25 22:19] rudygalfi commented on #7983
SGTM!

[2017-04-25 22:32] zhouyx commented on #8261
New design (Note: size may appear different due to different resolution):
![image](https://cloud.githubusercontent.com/assets/5419904/25410465/cbd60b74-29cb-11e7-8a5e-44cf0ee9a241.png)
The text is closer to top in Nexus 6p.  Can't center the text perfectly unless using svg : (
Or please go to [link](https://zhouyx.herokuapp.com/test/manual/fakead3p.amp.html) to see placeholder in real device.

[2017-04-25 22:51] spacedino commented on #8261
![unnamed](https://cloud.githubusercontent.com/assets/7339798/25411001/f3333ac2-29ce-11e7-9dfc-484ca79812d0.png)
am i crazy? it looks like the word "Ad" is too light....

[2017-04-25 22:53] alfredmyers opened #8950 "amp-ad not working on Safari"
## What's the issue?

amp-ad does not show intermittently on Safari for macOS

## How do we reproduce the issue?

1. Navigate to https://alfredmyers.github.io/sampaguide/regioes/zona-central/centro/
2. Scroll to the end of the page.
3. Check if ad is shown at the bottom of the page.
4. Navigate randomly to another page
5. Goto step 2.

## What browsers are affected?

Works on Chrome on macOS and A

[2017-04-25 22:59] alfredmyers commented on #8950
Navigated around a little bit.
It seems to be working intermittently.
Ads don't load randomly. When I refresh the page, it appears.

Here's a log taken from Safari's dev tools:

[Error] Origin https://alfredmyers.github.io is not allowed by Access-Control-Allow-Origin.
[Error] Failed to load resource: Origin https://alfredmyers.github.io is not allowed by Access-Control-Allow-Origin. (amp_preconne

[2017-04-25 23:28] rudygalfi commented on #8692
cc @avimehta

[2017-04-25 23:32] rudygalfi commented on #8925
Do we know if this needs to be addressed at the AMP layer or the GA layer? Does the same encoding of the data go over the network from both pages but then it just get handled differently on the GA side for AMP vs. non-AMP?

cc @avimehta

[2017-04-26 00:01] jridgewell commented on #8950
This is an issue with your adsense ad filling, not with AMP inserting the ad. Verified by inspecting the contents of the ad (there's an iframe inside the `<amp-ad>` element that gets inserted).

[2017-04-26 00:01] #8950 closed

[2017-04-26 00:01] kschmidtdev commented on #8925
It looks like the `amp-analytics` is url-encoding some parameters, but everything already gets url-encoded, so it's double-encoded. Illustrated here:
<img width="637" alt="screen shot 2017-04-25 at 4 56 41 pm" src="https://cloud.githubusercontent.com/assets/2383700/25412599/c8daf4d6-29d8-11e7-8b15-906391a6624c.png">

[2017-04-26 01:14] choumx opened #8955 "Clean up "web-worker" experiment"
- Remove "web-worker" experiment checks and fallback from code.

Follow-up: Once above is in prod for awhile, remove "web-worker" experiment itself.

[2017-04-26 03:45] #8756 closed

[2017-04-26 04:25] #6254 closed

[2017-04-26 06:33] ecoron commented on #7984
Hi, how goes it on? seems it's still in review...

[2017-04-26 07:25] eduardcotmrf commented on #8874
The problem it's that I cannot have 300x250 and 320x50 in the same multisize array because one has bigger width and the other bigger height.

[2017-04-26 07:28] Glorfunzel commented on #8941
When the ad collapses the height will be set to 0. This means amp-ad:before will still be shown. It would be better if amd-ad is set to display:none. Then amp-ad:before will be invisible, too. Is it possible to change the collapsing behaviour to display:none instead of height:0?

[2017-04-26 07:55] TimLohmann commented on #8941
@jridgewell
Sorry, I think I was mistaken by an earlier test. I have retested my amp-ad implementation with you suggestion and it works.
Sorry for my wrong comment before.
I will notify our clients to change the ad attribution to amp-ad:before

Thank you for your help!

[2017-04-26 13:19] michaelkleber commented on #8874
@eduardcotmrf I think the suggestion is to use the artificial size 320x250 as the width/height of the ad unit (to reserve the full space needed for either ad), and then have both 300x250 and 320x50 in the data-multi-size array.

[2017-04-26 13:25] eduardcotmrf commented on #8874
Ok, thanks! Sorry I didn't undertand that. I'll try it and report back. Thanks!

[2017-04-26 16:02] #8939 closed

[2017-04-26 16:13] aghassemi commented on #4928
@erwinmombay I am making this a P2 and changing type to feature request, let me know if you disagree.

[2017-04-26 16:16] aghassemi commented on #5527
I am changing this to P2 to align with [issue priority guidelines ](https://github.com/ampproject/amphtml/blob/master/contributing/issue-priorities.md). If this is truly a P1, we should try to get it fixed in 2 weeks. @jridgewell

[2017-04-26 16:17] aghassemi commented on #6900
I am changing this to P2 to align with [issue priority guidelines ](https://github.com/ampproject/amphtml/blob/master/contributing/issue-priorities.md). If this is truly a P1, we should try to get it fixed in 2 weeks. @tdrl

[2017-04-26 16:20] aghassemi commented on #8694
@zhouyx could we do a quick triage for this and see if 1- It is reproducible and 2- what the severity is (e.g. reproducible for all ads or just a few).

[2017-04-26 16:21] mrjoro commented on #8584
Since we have no topics for this week I am cancelling this design review.  If you have a topic you would like to discuss please add it to [next week's design review issue](https://github.com/ampproject/amphtml/issues/8900).

[2017-04-26 16:21] #8584 closed

[2017-04-26 16:33] kitwestneat opened #8961 "amp-sticky-ad: there should be a way to load different ad units based on media queries"
## What's the issue?

amp-ads outside of amp-sticky-ad accept the media attribute, which allows users to select an ad based on the device size (eg 320x50 on a small width vs 728x90 on a larger screen). However, the amp-sticky-ad doesn't respect the media attribute, either on the amp-sticky-ad tag or the child amp-ad tag.

## How do we reproduce the issue?

This example renders on a large width dev

[2017-04-26 17:11] jpettitt commented on #6174
bump.

[2017-04-26 17:22] zhouyx commented on #8694
Hi @eike-hass Thanks for filing the issue! However I am not able to reproduce it. Could you confirm if this is fixed? Or you have more information on how to repro the bug?
I just tested on SauceLabs with Windows 7 and IE 11, and the ad loads for me. Please see the screenshot.
![image](https://cloud.githubusercontent.com/assets/5419904/25447421/fe1958f4-2a69-11e7-99f1-9cb4d78f75a0.png)

[2017-04-26 17:29] jpettitt commented on #8961
+1 for gating multiple ad tags within an `amp-sitcky-ad` via css this would let us use `amp-experiment` here too.

[2017-04-26 17:38] rudygalfi commented on #7984
@lannka Can you take another look at the PR and complete the review?

[2017-04-26 17:42] ericlindley-g commented on #8713
@camelburrito , have you had a chance to check this out at all? I'm wondering if this is something to solve in amp-carousel or if there's a core issue at play.

[2017-04-26 17:59] zhouyx commented on #8941
Thanks @jridgewell for the great suggestion.
I don't know about the :before selector, just played with it. One question I have is with it would the ad label be placed inside the `<amp-ad>` element?

[2017-04-26 18:00] erwinmombay commented on #3433
closed by https://github.com/ampproject/amphtml/pull/8560

[2017-04-26 18:00] #3433 closed

[2017-04-26 18:05] jridgewell commented on #8941
Technically, yes. But, you can move the psuedo-element with absolute positioning, etc.

[2017-04-26 18:09] zhouyx commented on #8941
Hmmm, I do believe amp-ad has `overflow: hidden` though

[2017-04-26 18:35] camelburrito commented on #8713
wasn't there another bug opened like this (i could not find it now due to my poor search skills). The ad is display:block and in fact i see the ad loader on the page , not sure if something is wrong with the tag , routing to @lannka

[2017-04-26 18:43] honeybadgerdontcare commented on #8928
Thank you for the report. Looks like `xlink:href` (which is allowed) has been deprecated in favor of just `href`. We'll update the validation to allow `href` with local (within document) links where `xlink:href` is also allowed.

[2017-04-26 18:44] jridgewell commented on #8920
Unminified stack trace (note this is a different RTV):

[code]

[2017-04-26 18:51] jridgewell opened #8962 "AMP Messaging Error"
p/5799690541038127307
p/3492912829351125334

[code]

Unminified:
[code]

Seems to be happening on Newsstand's Android client. Can you open an internal issue once you look into it a bit?

[2017-04-26 18:58] jridgewell opened #8963 "Error: null is not an object (evaluating 'b.body.cloneNode')"
p/6587378783059647586

[code]

Unminified:
[code]

Definitely something with `FixedLayer`.

[2017-04-26 19:03] jridgewell opened #8965 "Ads test failures"
[code]

[2017-04-26 19:18] lannka commented on #8965
it passes locally. seems to be flaky tests on travis. shall we skip the tests to unblock release now?

[2017-04-26 19:45] jridgewell opened #8966 "Forbid node-style done callback in mocha it tests"
Imagine code like this:

[code]

But, there's a trap! If that expectation does not pass, we never hit the `done` callback **and the assertion error will be swallowed!**

The **only** appropriate way to use `done` callbacks in tests are:

[code]

[code]

[2017-04-26 19:47] camelburrito commented on #8920
do you have the error desc in the unminified version

[2017-04-26 19:51] jridgewell commented on #8920
It's the same.

[2017-04-26 19:56] jridgewell commented on #8966
[code]

[2017-04-26 20:22] honeybadgerdontcare commented on #8928
This is checked in but it'll take up to 2 weeks to reach production.

[2017-04-26 20:22] #8928 closed

[2017-04-26 21:08] lannka opened #8970 "Turn experiments.js into a service"
2 reasons:
1. `experiments.js` right now is a shared code between extensions. Each extension toggles experiments independently to each other, and the results are not shared, which can be an issue that different extension will have different experiment on/off status.
1. `experiments.js` is now 300+ lines of code. Due to its popularity, it's compiled into almost half of the extensions, which is a wa

[2017-04-26 21:13] lexandera opened #8971 "Expose video playback events on amp-video"
We are looking into supporting video playback in amp ads and have discovered that there are some missing features which would allow us to support some common patterns which appear in video ads:
* Custom "play" buttons (or other interactive elements) which are hidden on playback start and cannot be "baked" into the video poster image for various reasons
* Product shot/details appearing when the vid

[2017-04-26 21:17] aghassemi commented on #8929
One idea is to expose these through [variable substitution](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md):  e.g. `GEO_LAT`, `GEO_LON`

Since these values are not always available, values could be empty. First time AMP runtime sees these variables, that's when user will be prompted for granting permission (variable substitution supports async values, so we don't n

[2017-04-26 21:19] jridgewell commented on #7307
Would have caught this bug: https://github.com/ampproject/amphtml/blob/master/src/iframe-helper.js#L249-L250

[2017-04-26 21:23] lannka commented on #8883
@rudygalfi this will be a trivial change that I can make when we launch this new config. At that time, I'd also remove the current warning comment in the code.

So, this task is blocked by the Google Analytics side change.

[2017-04-26 21:40] #8619 closed

[2017-04-26 21:41] oliy opened #8973 "Support Cloudflare Fast Fetch Ad Signing for Celtra"
Simple configuration change to add Celtra for ad signing.

[2017-04-26 21:47] lexandera opened #8975 "Issues with using percentage values with transforms in responsive a4a ads"
We have a use case for building responsive ads - clients have asked about a possibility of building a single ad which adapts to several placement sizes, or always fills a responsive amp-ad element, so we are currently exploring what can be done in terms of responsive design support for a4a ads inside our tool.

Producing a responsive ad usually involves using positioning and sizing in %, or positi

[2017-04-26 21:52] gilbox opened #8976 "Support AMP.navigateTo action"
## What's the issue?

This is a feature request. We'd like to be able to have a drop-down menu that triggers going to a new URL as if you'd clicked on a link.

Here's the [non-AMP version](https://www.airbnb.com/s/sf/homes?s_tag=XWeKjiWv&allow_override%5B%5D=) of the page and the options (you must use small viewport to see them) are at the bottom of the page and they allow you to change the langua

[2017-04-26 21:54] dvoytenko commented on #8315
@zhouyx Is this done via #8805?

[2017-04-26 21:55] oliy commented on #8973
@jasti Can you assign this to the appropriate reviewer?

[2017-04-26 21:56] irtefa commented on #8973
@lexandera

[2017-04-26 21:59] dvoytenko commented on #8929
The user permission seems a pretty drastic ask to personalize a generic `amp-list`? Typically this would be done as a coarse fidelity via IP address.

Technically, some issues we'd run with when AMP is embedded in an iframe - which is faire amount of impressions. The only way would be to ask the viewer I believe, but I don't see how the viewer can pass it on to the document properly.

[2017-04-26 22:03] zhouyx commented on #8315
#8805 add support on existing `on: hidden` trigger and makes it possible to expand the visibilitySpec to support `reportWhen`(or whatever naming) keyword.
But I haven't started on supporting the new format or new values.

[2017-04-26 22:04] dvoytenko commented on #8970
I think we can make it a service. Duplication over extensions is definitely problematic especially b/c the set of toggles can diverge. One possible nuance that we may need to work around - the same library is used also `experiments.html`, which is not otherwise governed by an AMP Runtime. So, that might cause some compilation issues.

[2017-04-26 22:05] dvoytenko commented on #8315
Let's close this issue and re-open "new format" issue and put it in backlog.

[2017-04-26 22:06] zhouyx commented on #8315
sounds good.

[2017-04-26 22:06] #8315 closed

[2017-04-26 22:13] zhouyx opened #8977 "Analytics: add reportWhen field for visibility"
follow up of #8315

something like

[code]

`"reportWhen" : "hidden"` would equals `"on": "hidden"` now.
several potential values we can support are `hidden` `detach` `unlayout`

cc @dvoytenko @lannka

[2017-04-26 22:14] dvoytenko commented on #8963
Is this still an issue after we pushed the fix for `body.appendChild`?

[2017-04-26 22:17] jridgewell commented on #8963
Yes.

[2017-04-26 22:20] Gregable opened #8978 "Produce a release file artifact for releases of the javascript AMP Validator"
We should update a file with release information whenever a new amp validator version is released to cdn.ampproject.org, since these releases are not in sync with the state in github.

[2017-04-26 22:25] ericlindley-g commented on #8929
For context: the rationale for this request was because IP address wasn't offering enough fidelity for their purposes.

That's a good point about the viewer — does sound like a pretty big hurdle

[2017-04-26 22:28] dvoytenko commented on #8929
If we were to proceed, I can imagine we could have an extension that would request geo permissions when the page is executed on the direct origin - this could be useful for AMP as canonical and other cases. But we'd disable this extension when executed from proxy. Which means, GEO_ vars would also have to "understand" that they may not be available.

[2017-04-26 22:28] jridgewell commented on #8961
/to @zhouyx, /cc @jasti

[2017-04-26 22:29] jridgewell commented on #6174
@cramforce is on vacation, unfortunately. He'll be back next month.

[2017-04-26 22:32] lannka commented on #8204
This is its twin: #8602

[2017-04-26 22:34] aghassemi commented on #8929
@dvoytenko Geo location permission can be requested by iframes (tested with Android and iOS) so I don't believe we need viewer integration for this (which is a good thing considering with CURLS user is giving the permission to a single publisher and not everyone in AMP)

[2017-04-26 23:19] aghassemi commented on #7307
Must be a rare race-condition (well, at least of ads as I assume they normally don't cache) otherwise #2942 would have been noticed again.

[2017-04-26 23:31] #8908 closed

[2017-04-26 23:41] jmadler opened #8979 "amp-pixel referrerpolicy invalid"
amp-pixel's docs claim that the tag supports referrerpolicy, but it is considered invalid in the validator.

[2017-04-26 23:43] jmadler opened #8980 "amp-pixel layout="fixed" useful?"
The amp-pixel tag supports layout=fixed, but I'm not sure that makes sense.  Is there a valid use case in which we'd want to display the contents of the pixel tracker URL?

[2017-04-27 00:03] jridgewell commented on #8980
They actually [support all layouts](https://github.com/ampproject/amphtml/blob/1b5ccaa7f288ed85ac0da1e89404f6ae8ab5c185/builtins/amp-pixel.js#L42-L45) (in JS, at least), though they'll [never be displayed](https://github.com/ampproject/amphtml/blob/1b5ccaa7f288ed85ac0da1e89404f6ae8ab5c185/css/amp.css#L498-L501).

[2017-04-27 00:06] zhouyx commented on #8961
This is a bug. It happens when an element toggle display in `#buildCallback()`.

[2017-04-27 00:07] jridgewell commented on #8979
`referrerpolicy` was just [added](https://github.com/ampproject/amphtml/pull/8597), but we forgot validator support.

[2017-04-27 00:08] rudygalfi commented on #8883
Assuming we change the name to `googleanalytics-alpha`, then I would make this the warning:

"amp-analytics: `googleanalytics-alpha` configuration is not planned to be supported long-term. Avoid use of this value for amp-analytics `config` attribute unless you plan to migrate before deprecation"

Feel free to reformat the message if there's a specific pattern that needs to be used. For instance, I

[2017-04-27 00:10] lannka commented on #8979
ah, forgot that part. @honeybadgerdontcare could you help on that? see the [spec](https://github.com/ampproject/amphtml/blob/master/builtins/amp-pixel.md#attributes)

[2017-04-27 00:11] dvoytenko commented on #8980
Yeah, layouts are not useful for amp-pixel - a nondisplayable element.

[2017-04-27 00:14] dvoytenko commented on #8929
@aghassemi There are two problems with this:

1. The origin requesting permission will be that of proxy cache. That might not be clear for a user.
2. I believe both browsers are considering deprecating geo location in 3p iframes.

[2017-04-27 00:14] choumx commented on #8976
Seems reasonable since anchor tags don't work inside `select` or `option`. We already have a [AMP.goBack](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#amp-target) action.

Changing title since this isn't really specific to `amp-bind`.

/cc @ericlindley-g @dvoytenko

[2017-04-27 00:21] dvoytenko commented on #8976
I can see this. @choumx is our user-action control strong enough however for this use case (asking because I have no idea)?

[2017-04-27 00:22] honeybadgerdontcare commented on #8979
Sure, I'll add it. Takes about two weeks for validation changes to make it to prod.

[2017-04-27 00:46] jasti commented on #5295
I'd like to reopen this based on some client feedback. Had a discussion with @powdercloud and @dvoytenko and we converged on making unused extensions emit an error instead of a warning.
Right now, the errors are flagging publisher docs as invalid and therefore don't appear on Search.
As @ericlindley-g mentioned above - it's not reasonable to expect every publisher to apply this logic  whenever pus

[2017-04-27 01:12] jasti commented on #8973
TO @lannka

[2017-04-27 01:51] dvoytenko commented on #5295
My thoughts on this:

1. The `amp-live-list` case where the new update can require new extensions should be supported directly and I would consider it a bug: the new updates should automatically install newly required extensions. This is typically also a rather easy fix.
2. I don't see how we can require the unused scripts to be cleaned up in most of cases at this time. The tools that are typicall

[2017-04-27 01:53] dvoytenko commented on #5295
To add to this: the point (2) is about "most of extensions". There could be some extensions that we maybe more strict about - those that change the nature of the page. But that's an exception, not the rule.

[2017-04-27 02:13] dvoytenko commented on #8946
I think the fact that it's not currently used is a bug :)

[2017-04-27 08:54] eduardcotmrf commented on #8874
It Works setting the primary size with maxWidth and maxHeight and the array with the real sizes.

Thanks!

[2017-04-27 08:54] #8874 closed

[2017-04-27 09:36] eike-hass commented on #8694
We saw some script errors in a VM
<img width="1158" alt="bildschirmfoto_2017-04-27_um_11 16 18" src="https://cloud.githubusercontent.com/assets/3441319/25477426/c144dab4-2b3d-11e7-8d1c-3983ef7df436.png">

[2017-04-27 10:47] cramforce commented on #6174
Folks on this thread have agreed on a design I believe.

[2017-04-27 13:39] kmh287 commented on #8946
Which services should be using that code path?

[2017-04-27 14:08] keithwrightbos commented on #8975
/cc @ampproject/a4a

[2017-04-27 14:20] keithwrightbos commented on #8713
/cc @ampproject/a4a

FYI from local testing with Fast Fetch enabled, I never see onLayoutMeasure execute.

[2017-04-27 14:22] keithwrightbos opened #8986 "Add AMP carousel as container type sent in AdSense/Doubleclick requests"
Augment container types parameter in both delayed and fast fetch to include if element is wrapped in amp-carousel given it may lead to different behavior (see #8713).

Code pointer:  https://github.com/ampproject/amphtml/blob/master/ads/google/a4a/utils.js#L48

/cc @ampproject/a4a

[2017-04-27 14:51] ChrisHoman commented on #8872
Hi,

Unfortunately that doesn't seem to solve the problem. The issue still exists with the height:intial removed from css. What we try to accomplish is to have the flex items in the carousel slide align vertically to the top - regardless of height. Normally the following css should solve the problem (and does on desktop) but it fails on mobile:
`.carousel-slide {
	padding: 10px;
	display: flex;
	f

[2017-04-27 14:57] ChrisHoman opened #8987 "Reopening issue 8872"
Couldn't see how to reopen a closed issue so just reporting the link here. I added the rationale on the issue thread.

https://github.com/ampproject/amphtml/issues/8872

[2017-04-27 15:22] #8719 closed

[2017-04-27 15:49] aghassemi opened #8992 "amp-selector - keyboard-focus-mode post-launch changes"
**When https://github.com/ampproject/amphtml/issues/8835 is fully launched (e.g. validator changes are in too)**
Update:
- [x] Update documentation file for `amp-selector` MD file
- [ ] https://ampbyexample.com/advanced/tab_panels_with_amp-selector
- [x] https://ampbyexample.com/components/amp-selector/

@sebastianbenz If you know of other places `amp-selector` is used that can use keyboard suppor

[2017-04-27 15:50] honeybadgerdontcare commented on #8979
Fixed, should be live in prod in about two weeks.

[2017-04-27 15:50] #8979 closed

[2017-04-27 16:05] aghassemi commented on #8992
<Blocked until Mid May>

[2017-04-27 16:46] lannka commented on #8847
Given the new rollout plan from GA discussion, we can depriortize this work. @rudygalfi  Let me know if you disagree

[2017-04-27 16:55] kmh287 commented on #4393
Based on the conversation on #7557 (starting at https://github.com/ampproject/amphtml/issues/7557#issuecomment-290585911), I don't think bind will be able to accomplish this as we don't want to mutate state without explicit user interaction.

[2017-04-27 17:07] dvoytenko commented on #7231
This should be a very straightforward fix. I'd like to have it done in the next sprint.

[2017-04-27 17:16] erwinmombay commented on #7231
@dvoytenko OK

[2017-04-27 17:28] #8915 closed

[2017-04-27 17:39] jridgewell commented on #8965
Whoot, #8969 points in the right direction now (instead of failing with a timeout)!

[code]

[2017-04-27 17:47] jridgewell opened #8995 "Error: Cannot handle request because handshake is not yet confirmed!"
p/5799690541038127307

Few thousand Chrome Android reports:
[code]

My only Safari iOS report:
[code]

[2017-04-27 18:04] jridgewell opened #8997 "amp-auto-ads: Cannot read property 'placements' of null"
[code]

/to @tlong2

[2017-04-27 18:05] jridgewell opened #8998 "amp-auto-ads: JSON Syntax errors"
Nearly 40,000 (sampled) reports!

[code]

This leads into the next [bug](https://github.com/ampproject/amphtml/issues/8997).

/to @tlong2

[2017-04-27 18:16] lannka commented on #8199
To summarize the discussion here:
- We will reuse the existing attribute `data-loading-strategy`, which currently only supports 1 value `prefer-viewability-over-views`. We will make it to accept a float number within range of `[0, 3]`.
- To follow the current behavior, we ignore the attribute if it has an invalid value.
- We keep the default value to 3 (if the attribute is not specified).

I will

[2017-04-27 18:21] zhouyx commented on #8965
should we skip those tests to unblock release. @lannka @jridgewell They passed locally with oldchrome, will need time investigating.

[2017-04-27 18:24] kmh287 opened #9000 "Create keycodes.js to include an enum of all used key codes"
This should increase the readability of keyboard listeners which presently just check keydown events' keycodes against expected keycodes.

/cc @aghassemi

[2017-04-27 18:25] rudygalfi commented on #8847
@lannka I think we should put it into the next sprint.

[2017-04-27 18:31] aghassemi opened #9002 "Use local validator for test-example-validation.js"
from `test-example-validation.js`:
[code]

validator is now open-source so we can use the local version.

Ran into this with: https://github.com/ampproject/amphtml/pull/8632#discussion_r113650888

Not sure
/cc @erwinmombay @rsimha-amp @honeybadgerdontcare

[2017-04-27 18:52] congyun commented on #8875
Sorry, didn't see the comment...Not really just for testing, it's a function we need on our Prod FE. We need to allow users to upload images, etc, as part of the AMP ads creative.

Happy to talk in GVC or provide more info if needed.

[2017-04-27 19:15] jridgewell commented on #8987
Reopened original issue.

[2017-04-27 19:15] #8987 closed

[2017-04-27 19:47] camelburrito commented on #8872
@ChrisHoman
Just removing the height is not sufficient (as i had outlined above)

I have modified the code as i had mentioned, here is how it looks

http://output.jsbin.com/nobison/quiet

The code can be found in.
http://jsbin.com/nobison/5/edit?html,css,js,output

(let me know once you have taken a look at this i can delete the bin if you dont want it floating around)

[2017-04-27 19:47] #8872 closed

[2017-04-27 19:53] ericlindley-g commented on #4393
Makes sense — sounds like this will have to be built directly into amp-list, then. Maybe we can just expose a variable that gets updated when the updates come in? I imagine the risk is low for just updating a single number without user interaction (can't think of any abuse cases off the top of my head)

[2017-04-27 19:57] lannka commented on #8883
@rudygalfi @honeybadgerdontcare do you think validator is a better place to surface such a warning message?

So we don't add extra bytes to AMP binaries. And also in long term there is no urgent to remove such a warning message, which we should if it's in AMP runtime.

[2017-04-27 20:13] honeybadgerdontcare commented on #8883
Typically we try to avoid putting too many warnings in the validator as it lowers the value of such warnings as we add more. Not sure on which side this would fall on in that equation.

By `no urgent to remove such a warning message` is that a particular time frame? Having a date of removal would be good to assess putting it in the validator.

cc @Gregable @powdercloud for thoughts.

[2017-04-27 20:14] honeybadgerdontcare commented on #8883
@rudygalfi just to be clear, this would be a temporary value for `config` in `<amp-analytics config="..."></amp-analytics>`?

[2017-04-27 20:21] lannka commented on #8965
let's get this in to unblock release. while @jridgewell can still help to fix the root

[2017-04-27 20:23] kmh287 commented on #4393
Still using bind, right? I'm still concerned about a `setState` that isn't triggered by user interaction since that will cause (re-)evaluation of all bind expressions.

[2017-04-27 20:27] zhouyx commented on #8965
merged #8968

[2017-04-27 20:28] ericlindley-g commented on #4393
Sorry, I said "amp-list" above but meant "amp-live-list". Because of the issue you point out, I was thinking of a document-level variable that doesn't necessarily use bind.  Though I'm totally out of my depth with how the nuts and bolts of the implementation works, so that might not be a reasonable path.

[2017-04-27 20:32] rudygalfi commented on #8883
Yes, it's intended to be temporary. This strikes me more as a runtime #development=1 message, though. It doesn't have to do with validity.

[2017-04-27 20:35] jasti commented on #8875
@powdercloud why do we disallow file:? CC @Gregable
Is it possible to allow it?

[2017-04-27 20:35] zhouyx opened #9009 "Analytics: support element selector for customEvent trigger"
amp analytics customEvent trigger doesn't not support element selector right now.
for example:
[code]
there's no way to track carousel scroll on a specific carousel.
We need to add support to element selector like all other event tracker.

This customEvent trigger can be used by 3p inserted analytics.
config would look like
[code]
trigger API will reuse existed `#triggerAnalyticsEvent`

[2017-04-27 20:40] #8973 closed

[2017-04-27 20:44] lannka commented on #8883
re: @rudygalfi #development=1 message will go to validator.

re: @honeybadgerdontcare I meant such a warning message probably cost less in validator than in runtime (mainly because of binary size). what you think?

[2017-04-27 20:58] choumx commented on #8976
Fair point. Since navigation is such a big action, maybe we should restrict its usage to certain elements/events. I'll bring this up during next design review.

[2017-04-27 21:05] honeybadgerdontcare commented on #8883
#development=1 means the validator would run and output it's results to console. Could the Runtime also output a warning message each time to console or even just when #development=1 is present?

[2017-04-27 21:14] dvoytenko commented on #8995
#8913 added more debug info.

[2017-04-27 21:15] jasti commented on #7782
Closing since there hasn't been a response in a while. Please reopen if you'd like to continue the discussion.

[2017-04-27 21:15] #7782 closed

[2017-04-27 21:18] jasti commented on #7630
Closing since merged.

[2017-04-27 21:18] #7630 closed

[2017-04-27 21:20] jasti commented on #8006
Closing for now - please reopen once requirements are finalized.

[2017-04-27 21:20] #8006 closed

[2017-04-27 21:21] jasti commented on #6240
@lannka, closing for now - Please reopen if need more details.

[2017-04-27 21:21] #6240 closed

[2017-04-27 21:23] jasti commented on #8891
@glevitzky can you please also take care of it for delayed fetch flow as well? Thanks.

[2017-04-27 21:32] ChrisHoman commented on #8872
@camelburrito
I misinterpreted your earlier comment - thanks so much for your clarification.
And yes, please delete the bin.

[2017-04-27 21:33] lannka commented on #8883
Either runtime or validator prints a message will be enough. and i slightly prefer validator :-).

[2017-04-27 21:35] zhouyx opened #9012 "presubmit check fail on travis with unrelated error"
See https://travis-ci.org/ampproject/amphtml/builds/225136538 from #8609
presubmit check is complaining

while #8609 only changes two non-config files.

Not sure if it's a bug. cc @rsimha-amp

[2017-04-27 21:40] rsimha-amp commented on #9012
From the error message, check-pr.js seems to think your PR also contains the file .github/ISSUE_TEMPLATE.md. When was your branch last synced to master? The file in question was edited 3 days ago, so it's possible that an out of date branch would cause this.

Could you sync up and see if the error goes away?

[2017-04-27 21:50] honeybadgerdontcare commented on #8875
@jasti what is the use case for allowing it? AMP pages shouldn't be trying to load local files.

[2017-04-27 21:53] jasti commented on #8875
@honeybadgerdontcare  These are not pages, this is being used by an ad server to construct an AMP ads by fetching assets that reside locally.

[2017-04-27 22:10] lannka commented on #8740
I believe we have a solution and @zhouyx  is working right? Is this still an active tracker for that? Or we moved to somewhere else?

[2017-04-27 22:15] honeybadgerdontcare commented on #8875
Understood. We don't want to allow `file:` as a protocol as that isn't a working AMP page or AMP Ad if given to a browser (e.g. the OP's html would not work on my computer). If this is being used as a placeholder in the ads frontend, then I recommend the ads frontend to do a best intended insertion of what the actual serving URL will be. So instead insert `https://{ads-server-best-guess}/` instead

[2017-04-27 22:20] mrjoro opened #9016 "Request for contact info for contributor appreciation"
We have some upcoming plans for showing appreciation to people who have contributed to AMP but it requires an email address.

If you're cced on this issue I wasn't able to find an email address for you; I'm using this issue to reach you since GitHub doesn't have a way of sending DMs.  Can you please send me a quick note with your preferred email address?  You can email it to me at my GitHub userna

[2017-04-27 22:20] erwinmombay opened #9017 "implement sourcemap generation in the errorreporting code"
Right now we have to debug minified + obfuscated code, lets use our hosted sourcemaps to get back the unminified non obfuscated stack

[2017-04-27 22:21] lannka opened #9018 "I2I: amp-analytics for AMP Viewer"
To be filled.

[2017-04-27 22:26] alanorozco commented on #8838
@keithwrightbos This is merely a styling issue :)

[2017-04-27 22:28] honeybadgerdontcare commented on #8883
If this config is relevant only to amp-analytics, shouldn't this belong there? :) That way when amp-analytics knows it's done with this config it can remove the warning at the same time. Then there is no need to coordinate validator and runtime releases.

As Rudy mentions this doesn't have to do with validity. Further the validator does not have an implementation to do this. All warnings currently

[2017-04-27 22:30] zhouyx commented on #9012
Thanks @rsimha-amp I've asked the author to rebase.

[2017-04-27 22:30] #9012 closed

[2017-04-27 22:34] dvoytenko opened #9019 "Cleanup old CID format"

[2017-04-27 22:50] #7228 closed

[2017-04-27 22:51] jasti commented on #8755
@alanorozco can you confirm status on this?

[2017-04-27 22:59] dvoytenko commented on #8935
@jonkeller Can you try this: https://github.com/ampproject/amphtml/blob/master/contributing/DEVELOPING.md#a4a-envelope-a4a-a4a-3p

Basically, using this, you can essentially run any AMP doc as an embed. E.g. `http://localhost:8000/a4a/examples/article.amp.max.html`. Just don't try "nested embeds".

If that works and you want, e.g., test with multiple embeds - you can just copy the document generat

[2017-04-27 23:27] zhouyx opened #9021 "Make sure analytics behave correctly when parent element reload."
Analytics have no idea on other elements' reload.
For example a config like this
[code]
Assume during first layout, test-ele takes 2s to ini-load, then it's visible for 3sec. Then user switch to another page in viewer carousel. When user comes back to this page, the test-ele will be laid out again, where this time it will take another 2s to ini-load. Analytics however will have no idea that the te

[2017-04-27 23:53] #8883 closed

[2017-04-28 00:16] choumx opened #9022 "`attachShadowDoc` fails when reusing shadow root"
Context: https://github.com/choumx/amp-pwa/issues/8

/cc @dvoytenko

[2017-04-28 01:00] luigi commented on #8906
I'm seeing this behavior as well with `amp-twitter` components inside an `amp-live-list`.

With `amp-instagram` and `amp-youtube` inside `amp-live-list`, the image loads, but none of the chrome for the component loads. Then when the browser window is resized, events fire and everything looks and works correctly.

[2017-04-28 01:06] luigi commented on #8906
I've discovered that an `amp-img` element _outside_ the `amp-live-list` but on the same page will fix the error. So that's a workaround if this is affecting you in production: insert a transparent 1x1 PNG somewhere else on the page.

[2017-04-28 01:48] dvoytenko commented on #9022
Let's see if we can reuse shadow root reuse. I'm actually not sure what's best here. I think the SD spec allows even multiple shadow attachments and that could work better?

[2017-04-28 02:22] dvoytenko commented on #8946
I believe all `getServiceForDoc` in https://github.com/ampproject/amphtml/blob/master/src/services.js should instead be `getExistingServiceForDoc`. There might not be currently a case for `getExistingServiceForDocOrNull`, in which case we can forgo. But `getServiceForDoc` in `services.js` seems wrong, no?

[2017-04-28 02:38] dvoytenko commented on #7981
Yes, I think we'll move with `selector` in some form and deprecate `target`.

[2017-04-28 05:45] dvoytenko opened #9023 "amp-auto-ads fails with config parse"
This seems a quite common error:
[code]

A sample page: https://www-tabletwise-com.cdn.ampproject.org/v/www.tabletwise.com/vitrol-d-tablet/amp?amp_js_v=9

[2017-04-28 06:11] #8997 closed

[2017-04-28 06:11] #8998 closed

[2017-04-28 06:11] #9023 closed

[2017-04-28 06:38] camelburrito commented on #8920
Added extra logging and some preventive checks - move 2 sprints ahead to checkback

[2017-04-28 14:19] kmh287 commented on #8946
I think there are only two different expectations when trying to access a service:

- The service should definitely exist, so you access it through `getService{,forDoc}`. If the service doesn't exist, a dev assertion will fail.
- The service might not exist, so you access it through `getService{,forDoc}orNull` If the service doesn't exist, the function will return null.

Previously we had three fu

[2017-04-28 14:25] jonkeller commented on #8935
Thanks, Dima.

I'm sure that would work. I would still like for the fake ad network to be
fixed, though, to make my amp-analytics documentation match up as closely
as possible with a real-world use case. I'm happy to do the work myself
since I'm the only "customer" that I'm aware of.

On Thu, Apr 27, 2017 at 6:59 PM, Dima Voytenko <notifications@github.com>
wrote:

[2017-04-28 14:31] gustavopaes commented on #8906
@luigi as a workaround I am adding `amp-accordion` component in my live pages.

[2017-04-28 14:42] kmh287 commented on #4393
In order to give developers control over the contents and styling of the button and the new item count, I think we would need to either allow templating of the update button (which seems like extreme overkill) or find some way to do this with bind. @choumx any thoughts on this?

[2017-04-28 14:51] congyun commented on #8875
Thanks guys. I'll talk to our eng team to see if anyone of the two options is ok. Will ping this thread if more help is needed.

[2017-04-28 15:25] kmh287 commented on #8673
@choumx Do you see a benefit to using events vs just having each element with dynamic content call some method directly on the bind service to inform it of updates?

[2017-04-28 15:41] choumx commented on #8673
Events are more flexible (can have multiple listeners) and simpler since you won't need to check for existence of the `amp-bind` extension.

[2017-04-28 15:43] kmh287 commented on #8673
We're only creating these events for bind to listen to them, right? Also, won't `bindForDoc` just return a promise that never resolves if bind isn't installed?

[2017-04-28 15:45] niutech commented on #498
What I have recently [suggested on the AMP HTML Discuss forum](https://groups.google.com/d/topic/amphtml-discuss/dooT9czqJ1I/discussion) is to add the `Link <....>; rel="amphtml"` response header alongside the existing `<link href="..." rel="amphtml">` tag, so that a user agent does not have to download the whole response body in order to redirect to the AMP version of a web page. Please consider

[2017-04-28 16:07] rsimha-amp commented on #9012
With PR #9014, this issue is mitigated by printing the full list of files in the PR in case of a failure. The error message indicates that the developer's branch may be out of sync.

[2017-04-28 16:16] lannka commented on #8977
Can I suggest "hidden" -> "pageHidden". Since this is a trigger for element visibility, people might think "hidden" is "element hidden".

[2017-04-28 16:19] choumx commented on #4393
What does "# of updates" mean wrt insertion/replace/tombstone? Just insertion count? Insertion + replace?

Templates seems like the best fit since the `update` reference point is not necessarily a button and we may have multiple values as mentioned above. To do this with `amp-bind` we'd need to introduce mutation scoping.

Also, is this a highly requested feature?

[2017-04-28 16:22] choumx commented on #8673
Yes and yes. Abstractly, loose coupling is a better fit here.

[2017-04-28 16:28] #7983 closed

[2017-04-28 16:29] kmh287 commented on #8673
Which is an argument for continuing to use mutation observers, really. (Don't remember if we've discussed this) The current implementation relies on a MutationObserver to tell us which elements have been added or removed. Switching to custom events would require individual elements to fire events that include which elements have been added and removed, pushing bind business logic out to other elem

[2017-04-28 16:29] avimehta commented on #7983
@1987yama3 This should go out in production in a couple of weeks. As shown in the example, you can disable anonymizeIP by adding a variable to your config:

`'anonymizeIP': ''`

[2017-04-28 16:47] dvoytenko commented on #8977
I agree. Let's, as a first step, add `page-hidden` or `pagehidden` event that will alias to `hidden` and we'll deprecate `hidden`, update docs, etc.

[2017-04-28 16:57] #6945 closed

[2017-04-28 17:19] honeybadgerdontcare opened #9025 "Review amp-sidebar disallowed children"
Doing a sanity check on AMP components that have a disallowed ancestor of amp-sidebar. @camelburrito should any of these be allowed? Are there missing components that should be disallowed?

Currently disallowed to have amp-sidebar as an ancestor:

- amp-ad
- amp-analytics
- amp-anim
- amp-audio
- amp-auto-ads
- amp-bind
- amp-brid-player
- amp-brightcove
- amp-carousel
- amp-dailymotion
- amp-expe

[2017-04-28 17:24] erwinmombay commented on #8906
looking into it

[2017-04-28 17:25] erwinmombay commented on #8906
anyone got another live example besides ampbyexample?

[2017-04-28 17:26] aghassemi commented on #6234
I suggest we do this regardless of `amp-video-iframe` work. Doing https://github.com/ampproject/amphtml/issues/6234#issuecomment-296156703 for both `amp-iframe` and `amp-video-iframe` (same underlying code) makes more sense to me than just doing it for `amp-video-iframe` as it enables analytics for other types of embeds (e.g. an interactive data visualization iframe that similar to a video player,

[2017-04-28 17:34] gustavopaes commented on #8906
@erwinmombay yes, this one https://entretenimento.uol.com.br/ao-vivo/2017/02/26/amp-live-list-bug.htm

[2017-04-28 17:39] aghassemi commented on #8971
@lexandera
As you mentioned (1) is already possible. We actually have a sample for it on [AmpByExample](https://ampbyexample.com/advanced/click-to-play_overlay_for_amp-video/) as well.

As for exposing events, there are not technical hurdles in doing so the issue we need to deal with is potential abuse. AMP does not expose events that do not come from direct user actions. Video events like `end`,

[2017-04-28 17:40] aghassemi commented on #8971
@rudygalfi @jasti to you guys for prioritization.

[2017-04-28 17:58] erwinmombay commented on #5294
@rsimha-amp sorry for delay, looking.

[2017-04-28 18:02] dvoytenko commented on #8935
sg

[2017-04-28 18:02] erwinmombay commented on #6973
so this is caused because the viewers header is hidden before the scroll and then visible after the scroll up (so the calculation is incorrect). @dvoytenko suggested that we probably shouldn't display the header again on programmatic scrolls (non user initiated).

wdyt @ericlindley-g

[2017-04-28 18:09] jridgewell commented on #8977
We already have `pageHidden` in Ads, should we keep the casing the same?

[2017-04-28 18:25] #9000 closed

[2017-04-28 18:25] #5512 closed

[2017-04-28 18:40] dvoytenko commented on #8977
Cool. RE: casing, though, it looks like currently event casing is dash-based, or all lowercase. Have we seen camel-case events anywhere?

[2017-04-28 18:47] jridgewell opened #9030 "Re-enable SauceLab's Chrome 45"
Re: https://github.com/ampproject/amphtml/pull/9028

[2017-04-28 18:55] aghassemi commented on #8947
https://ampbyexample.com/advanced/click-to-play_overlay_for_amp-video/

[2017-04-28 18:55] #8947 closed

[2017-04-28 19:28] choumx opened #9032 "amp-bind: Don't initialize until viewer is visible"
To avoid costs of DOM scan, expression and JSON parsing, etc. while in prerender mode.

[2017-04-28 19:48] cvializ commented on #8778
https://github.com/ampproject/amphtml/issues/8880

[2017-04-28 19:48] #8778 closed

[2017-04-28 20:16] jridgewell opened #9036 "amp-youtube: Cannot read property 'contentWindow' of null"
[code]

Seems we're getting a message before the iframe has been laid out. We should probably check all those other message handlers in the other players.

Also, we're registering the youtube message listener twice. WTF?

[2017-04-28 20:18] aghassemi commented on #7357
@csculley From what I can find, YouTube Live Videos get their own `VideoId` (https://www.youtube.com/watch?v=s8SwlaqDrdM) which should be embedable via `amp-youtube`. Is what you have in mind a different case @csculley ?

[2017-04-28 20:21] cpapazian commented on #6992
@honeybadgerdontcare @Gregable @devinlundberg reading this thread, it sounds like we are allowed to use `strict-dynamic` + `nonce` attribute? it will work locally b/c of `nonce` and it will work fine in the cache even though `nonce` is stripped b/c it's same domain?

[2017-04-28 20:22] dvoytenko commented on #8946
That would be nice, but currently there are three in our code:

* `getService[ForDoc](node, id)` - the service must exist and if not, we will assert.
* `getService[ForDoc]OrNull(node, id)` - it's ok if service is not there.
* `getService[ForDoc](node, id, _factory_)` - the service must exist or it will be created otherwise.

The first two is as you describe. The one that I was "complaining" about

[2017-04-28 20:29] rsimha-amp opened #9038 "Refactor execOrDie in pr-check.js into a shared library"
We need to use execOrDie in build-system/tasks. Refactor execOrDie into its own js file that can be shared across directories.

[2017-04-28 20:38] aghassemi commented on #442
Updated the feature to be a GFI.

[2017-04-28 20:40] aghassemi commented on #8775
https://github.com/ampproject/amphtml/issues/442

[2017-04-28 20:40] #8775 closed

[2017-04-28 20:50] aghassemi commented on #9036
We _were_ listening to messages twice, https://github.com/ampproject/amphtml/pull/8981 fixed that.

We couldn't be getting messages before it was laid out, but we were still receiving messages after it was unlaid out (because of the double listen). Should not happen anymore after https://github.com/ampproject/amphtml/pull/8981 since the only listener is also removed same time as `this.iframe_` = n

[2017-04-28 20:50] #9036 closed

[2017-04-28 20:53] kmh287 commented on #8946
I think we're in agreement. I would like to remove the factory param entirely from those methods. :smile: A majority of uses I've found are in tests and should be easily replaceable.

I think that handles points 1 and 3, how about point 2? (Making all service builders factories)

[2017-04-28 20:58] dvoytenko commented on #8946
I'd like to resolve #2 and I don't like duality here. And factories are more universal. But I think we need to (a) get the current stats of what we do factory-vs-constructor; and (b) run some jsperf tests. I see that many services are in critical path of rendering so it'd be nice to have it as fast as possible. But I'm not sure what benefit is and how often we'd be able to take advantage of it.

T

[2017-04-28 21:02] zhouyx commented on #8261
#9037

[2017-04-28 21:03] zhouyx commented on #8261
Close this issue for now. Will wait until the change hit canary and we choose which design to go with later.

[2017-04-28 21:03] #8261 closed

[2017-04-28 21:05] jmadler commented on #8980
Makes sense.  As a proposal: invalidate all layouts except "nodisplay", and update the docs to reflect that "fixed" isn't an acceptable layout, and clarify that amp-pixel will never be displayed.

[2017-04-28 21:11] aghassemi commented on #8825
/cc @spacedino

[2017-04-28 21:13] dvoytenko commented on #8980
I think it'd be enough to just document that only `layout=nodisplay` supported. I think the confusion comes from the fact that we wanted to allow `amp-pixel` w/o any specification of `layout`, which is still ergonomically good.

[2017-04-28 21:28] #9032 closed

[2017-04-28 21:28] ericlindley-g opened #9043 "AMP Uncss"
design √
implementation - php, npm

[2017-04-28 21:28] dvoytenko opened #9044 "ALP: add support for `#replaceUrl` for cache hit improvement"
ALPs have many client-resolvable query parameters which greatly reduce cache-hit by multiplying cache keys. E.g. `https://host/alp?adpos=X` will multiply on the possible space of `adpos` query parameter, even though it's never used by the page itself.

The proposal is to use `https://host/alp` as the cache URL/key and replace it when AMP runtime starts up to `https://host/alp?adpos=X`. The replaci

[2017-04-28 21:35] zikas commented on #4752
@dvoytenko, @avimehta  I'm working on this issue, so would like to sum up the desired behavior so everybody's on the same page.

`"enabled"` attribute is introduced on tag and trigger level that allows a user to conditionally skip a call
  * if omitted call is enabled
  * if present then corresponding expression needs to be evaluated. Now it's enough to have the simplest expression support: _if va

[2017-04-28 21:35] ericlindley-g opened #9045 "amp-carousel: Dynamic slide content"

[2017-04-28 21:38] dvoytenko commented on #4752
@zikas Yes. This sounds good to me. I'd even apply the same `enabled` property/logic for top-level as well. E.g.

[code]

Thus, the actual trigger enabled will be an AND of condition1 and condition2.

[2017-04-28 21:40] zikas commented on #4752
Great, thank you!

[2017-04-28 21:45] aghassemi opened #9047 "Publish 3 scrollbound animation formats on AmpByExample"

[2017-04-28 21:47] choumx opened #9048 "Check viewer visibility for CORS in xhr.js"
- Would help catch privacy issues due to CORS XHR during prerender.

/cc @dvoytenko @jridgewell

[2017-04-28 21:48] ericlindley-g opened #9049 "lightbox 2.0 - apply gallery to new impl"
- [x] Go to target slide when clicking on the thumbnail
- [x] Toggling top-right icon between gallery view and slide view

[2017-04-28 21:49] jridgewell commented on #9048
I'd say P1?

[2017-04-28 21:56] ericlindley-g opened #9050 "lightbox 2.0 - apply caption to new impl"
rel: https://github.com/ampproject/amphtml/issues/9049

[2017-04-28 22:54] glevitzky commented on #8891
Sorry, just noticed this. Will put something out for the next cut.

[2017-04-28 23:38] aghassemi commented on #7972
Chatted with @dvoytenko we decision is to go ahead with this component. Will turn it into a GFI.

[2017-04-28 23:54] aghassemi commented on #8775
and https://github.com/ampproject/amphtml/issues/7972

[2017-04-29 01:58] richardrabbat opened #9055 "autoplaying video: using custom controls (e.g. play(), pause() actions) are not considered user interaction."
**Please only file bugs/feature requests for AMP here.**

## What's the issue?

Paused video with autoplay attribute starts playing after switching browser tabs, should stay
paused according to docs:

“if the user has interacted with the video (e.g., mutes/unmutes, pauses/resumes, etc.), and the video is scrolled in or out of view, the state of the video remains as how the user left it. For exampl

[2017-04-29 12:26] #8916 closed

[2017-04-29 19:59] choumx opened #9057 "Web worker CSP errors on publisher domains"
'web-worker' experiment can cause CSP errors for pages using `amp-bind` served on publisher domains. We should do either/both:
- Instruct publishers using `amp-bind` to add `default-src: blob:` directive to their CSP policy, as AMP and Cloudflare caches currently do.
- Add fallback if web worker creation is blocked by CSP.

Note that [`worker-src` directive only works in Chrome](https://www.google

[2017-04-30 13:28] sztojka commented on #8852
@jridgewell can you please reopen the issue? Or should I open a new issue?

[2017-04-30 16:03] aghassemi commented on #9055
@richardrabbat Thanks for reporting. Looks like currently using `custom controls` to interact with autoplaying video is not considered a user action (wrongly) same way tapping the video it. They should be however.

[2017-04-30 17:49] cramforce commented on #9057
Since this is a new thing, putting a hint towards this into the docs seems best.

[2017-04-30 21:12] #8899 closed

[2017-04-30 21:12] mrjoro opened #9058 "Weekly Status 2017-05-01"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-05-01 10:41] awsomedesigner opened #9062 "How to get Medium Blog post in AMP html website?"
Hello all,

I working on AMP for my new website.
I want to get medium blog post in [AMP-carousel ](https://ampbyexample.com/components/amp-carousel/).Medium gives me RSS feed in .json format.
So how to get json and convert it in to html for AMP website?
First thing is it possible?
if yes then
Can you please give me some documents or tutorial for same ?
Any kind of help is appreciated.

Thank you
A

[2017-05-01 12:26] Traveller198 opened #9063 "How to assign server response to AMP html?"
I am using amp-live-list for my blogs,
I followed this https://ampbyexample.com/components/amp-live-list/
I am not sure about how to append my server response to my view[$scope.blogResults].Can anyone please help me.Thanks.

[2017-05-01 14:06] kmh287 commented on #8946
a: Very few services are constructed by factory. [Ampdoc](https://github.com/ampproject/amphtml/blob/master/src/service/ampdoc-impl.js#L485), [History](https://github.com/ampproject/amphtml/blob/master/src/service/history-impl.js#L870), [Viewer](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L961), [Viewport](https://github.com/ampproject/amphtml/blob/master/src/servi

[2017-05-01 15:08] taymonbeal commented on #8018
This is still needed (specifically for some changes to A4A Fast Fetch that are doing complicated things with error handling). Is anyone working on it?

[2017-05-01 15:42] #8700 closed

[2017-05-01 15:48] choumx opened #9064 "Unit test for amp-state[src] in prerender"
Add unit test for #9032.

[2017-05-01 16:34] mrjoro commented on #9058
- Added Git workflow scripts to our documentation (PR #9029)

[2017-05-01 16:41] camelburrito commented on #9058
AMP HTML
- Collaboration on Webkit bugs and helping replicate them (reduced test cases) with multiple JS bins
- Fixes for 2 p1 issues #8920, #8916
- Review for keyboard support on selector
- AMP Carousel enhancements discussion (Will  follow up with a design discussion)
AMP Start & AMP WP
- UnCSS Design
- Configurator discussions
- Minor progress in the WP Theme

[2017-05-01 16:46] choumx commented on #9058
- Fixed a small bug with `amp-bind` verification of classes
- Fixed a privacy issue with amp-state[src] in prerender
- Fixed an `amp-pwa` issue with shadow root reuse

[2017-05-01 16:46] aghassemi commented on #9058
* 2 new [Great First Issues](https://github.com/ampproject/amphtml/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Great+First+Issues%22): https://github.com/ampproject/amphtml/issues/7972 and https://github.com/ampproject/amphtml/issues/442
* amp-video [click-to-play overlay sample ](https://ampbyexample.com/advanced/click-to-play_overlay_for_amp-video/)on ampbyexample.com
* more progress on scroll-

[2017-05-01 16:50] rsimha-amp commented on #9058
- Created new gulp task for visual diffs + integration with Percy #9052

[2017-05-01 16:52] erwinmombay commented on #9058
- fixed sort time issue with amp-live-list
- added error filtering in errortracker.go

[2017-05-01 16:52] #8199 closed

[2017-05-01 16:55] spacedino commented on #9058
- [AMP by Example redesign updates](https://github.com/ampproject/ampstart/issues/422)
AMP Start Config
-[ flow](https://github.com/ampproject/ampstart/issues/422)
-[ wireframes](https://github.com/ampproject/ampstart/issues/424)
-[ sketching](https://github.com/ampproject/ampstart/issues/423)

[2017-05-01 17:07] lannka commented on #9058
AMP ads & analytics
- Made viewport distance for prefer-viewability-over-views configurable #8199
- GA cookie migration discussion and follow up PR

Misc
- filed experiments.js issue #8970

[2017-05-01 17:10] zhouyx commented on #9058
- The gulp server change finally : ) #8559
- Implement an initial version of position observer #8940
- Redesign of ad loading tag

[2017-05-01 17:13] zhouyx commented on #7581
closed by #8559

[2017-05-01 17:13] #7581 closed

[2017-05-01 17:19] ericlindley-g commented on #6973
Is this the same regardless of context? That is, does it behave the same in browser/platform combos that don't hide the header? I ask because I agree that we probably shouldn't display the header on programmatic scrolls (though it may depend on what triggers the scroll — this amp-live-list case feels pretty clear that we shouldn't re-show the header) — but this one fix may not fix the bug across a

[2017-05-01 17:19] jonkeller commented on #8900
https://docs.google.com/document/d/1mCW7HbQBWQONTWA2q_rKNJyTEdqGOyhX-x-ces4JHWc/edit?usp=sharing
Modify amp-analytics tag to accept a URL to a third-party cross-domain iframe to which the analytics events will be sent.

[2017-05-01 17:25] ericlindley-g commented on #4393
I think that we can probably ignore content replacement & tombstone for update count, as I don't think those trigger the update button at all.

Insertion also doesn't seem like it wants an update button, but I'm unsure exactly what the current behavior is in this case. @erwinmombay, do you know if insertion triggers the update button? (and do inserted items get popped to the top of the document if

[2017-05-01 17:25] muxin commented on #9058
- Work on lightbox viewer 2.0: use amp-carousel for swiping content
- Limit saucelabs concurrent browsers launched

[2017-05-01 17:26] cvializ commented on #9058
- amp-form verification (async validation) - #9054
  - Updated some form tests to `describes`
- continuing carousel mobile a11y, documenting efforts for blog post
- next sprint beginning autocomplete in form

[2017-05-01 17:56] erwinmombay commented on #4393
@ericlindley-g yes currently we only show the update button/ui on insert. with the current fix of the sort-time issue, it should be in place now.

[2017-05-01 18:09] rsimha-amp commented on #8340
This issue should ideally be split into 3 issues:

1. Create and configure a Percy account and associate it with ampproject/amphtml
2. Create a new task "gulp visual-diff" and integrate it with the Percy toolchain
3. Integrate "gulp visual-diff" with the Travis CI workflow

Status as of May 1: #1 is complete, #2 is complete* (under final review), and #3 is blocked by additional quota requirements

[2017-05-01 18:11] rsimha-amp opened #9067 "Create and configure a Percy account and associate it with ampproject/amphtml"

[2017-05-01 18:11] rsimha-amp commented on #9067
Created at https://percy.io/ampproject/amphtml

[2017-05-01 18:11] #9067 closed

[2017-05-01 18:12] rsimha-amp opened #9068 "Create a new task "gulp visual-diff" and integrate it with the Percy toolchain"
Refer to issue #8340

[2017-05-01 18:12] jridgewell commented on #9058
- On duty
  - Fix logging errors: #9046, #9001
  - Fix flake: #9013, #9011, #8969
- A bit of Layers, but not nearly enough

[2017-05-01 18:14] rsimha-amp opened #9069 "Integrate "gulp visual-diff" with the Travis CI workflow"
This requires additional quota on Percy, possibly via a paid account.

Refer to #8340

[2017-05-01 18:15] rsimha-amp commented on #9068
Status: This work is complete*, working, and out for final review. See PR #9052

[2017-05-01 18:23] aghassemi commented on #8731
@muxin Can you please update this issue with investigations you have done so we will have some starting point when this issue is planned again.

[2017-05-01 18:28] aghassemi commented on #8290
@muxin Could you please verify that iOS fix is live for `amp-app-banner` and update the doc if so?

[2017-05-01 18:46] keithwrightbos commented on #8838
FYI #9056 addresses this issue

[2017-05-01 19:01] jridgewell commented on #8946
We can rewrite any factories as curried constructors.

- - -

Your perf test is faulty. You're creating a closure in every loop of the factory test, where as the the constructor test you never create anything. A more realistic tests would involve:

1. Instantiation performance of constructor (your current constructor test, with constructor created in setup)
2. Instantiation performance of factory

[2017-05-01 19:05] aghassemi commented on #8078
moving this out of H1 May given you are on-call @muxin

[2017-05-01 19:41] kmh287 commented on #8946
@jridgewell I think I follow your suggestions. PTAL.

[2017-05-01 19:42] #8387 closed

[2017-05-01 19:45] jridgewell commented on #8946
Almost. "Factory Created in Test" should be creating a `Foo2`, not a `Foo`.

[2017-05-01 19:48] choumx commented on #8948
I'm currently leaning towards option 3 which would most preserve the convenience of using the `src` attribute.

[2017-05-01 19:50] kmh287 commented on #8946
@jridgewell yup, thanks

[2017-05-01 19:58] rudygalfi commented on #8852
Is there an unresolved question on whether there's support for `data-var` attributes for `amp-ad`, or is that confirmed to be the case? I know this got added for supporting click events, so maybe they're only supported on `<a>` tags right now?

[2017-05-01 20:32] dvoytenko commented on #9058
* Animations
* Misc cleanups

[2017-05-01 20:33] dvoytenko commented on #8900
Animations enhancements: #8975, #7952, #7846

/cc @lexandera please join if you can

[2017-05-01 20:34] dvoytenko commented on #7846
I'd like to discuss this during this week's design review. There are some overall animation changes I'd like to do an wrap them behind `amp-animation` extension.

[2017-05-01 20:39] choumx opened #9070 "Express.js serves images as text/html"
[This line](https://github.com/ampproject/amphtml/pull/8559/files#diff-3f91747d1c67c54a132a6720d8ff6120L597) from #8559 needs to be reverted to correctly serve non-HTML files.

/to @zhouyx

[2017-05-01 20:57] rudygalfi commented on #8403
I think this could be solved by visibility triggers, but it also makes a great deal of sense as a spec attached to the `scroll` trigger. For instance, we could defined a `scrollSpec` that has a field called `selector`.

[2017-05-01 21:12] lannka opened #9072 "Clean up amp-ad-ui.js code"
No need to manage a state in this class now, since custom-element supports render-start natively now.

[2017-05-01 21:34] rudygalfi commented on #3855
Closing out since this needs a bit more detail. Please re-open if still needed and you can give some more context.

[2017-05-01 21:34] #3855 closed

[2017-05-01 21:35] rudygalfi commented on #4114
Closing this out since #1298 should largely address this.

[2017-05-01 21:35] #4114 closed

[2017-05-01 21:38] aghassemi opened #9074 "Allow invocation of arbitrary 3p methods inside iframes using standard AMP actions."
Sample use-case
[code]

inside `some-map-embed.html`:
[code]
context is [AMP Context ](https://github.com/ampproject/amphtml/blob/master/3p/ampcontext.js#L23)

The real use-case that motivated this FR is using iframes to handle Web Payments. Ideally the iframe that uses the Web Payment API to show the native payment sheet is already loaded and when users taps a "buy" button on the AMP page, it can

[2017-05-01 21:38] jridgewell commented on #8290
Ping. There's a message in Slack.

[2017-05-01 21:41] #2139 closed

[2017-05-01 21:44] rudygalfi commented on #2139
Will close this for now and wait for a specific use case to come along. Note that #3135 does this for a very specific use case (share tracking).

[2017-05-01 21:49] rudygalfi commented on #1701
This hasn't been discussed in awhile. Closing since it's pretty low in priority but we can reopen if anyone has a specific need for this.

[2017-05-01 21:49] #1701 closed

[2017-05-01 21:50] rudygalfi commented on #8594
@rajkumarsrk Can you provide any updates on this?

[2017-05-01 21:52] rudygalfi commented on #7927
Not seeing any further traffic on this, I'll close this out since it doesn't seem essential. Feel free to re-open if there's interest in proceeding with this.

[2017-05-01 21:52] #7927 closed

[2017-05-01 21:53] jridgewell commented on #8731
Oh wow, super old Chrome can't handle generic array-likes in `Function#apply`. Fix is to convert it manually to an array:

[code]

We should also add a presubmit check to test this. @erwinmombay?

[2017-05-01 21:56] jridgewell commented on #9063
Hi @Traveller198: These kind of "how do I use AMP" questions are better answered on StackOverflow. Github is for code issues in the AMP library.

[2017-05-01 21:56] #9063 closed

[2017-05-01 21:57] jridgewell commented on #9062
Hi @awsomedesigner: These type of "how do I use AMP" questions are better asked on Stack Overflow.

[2017-05-01 21:57] #9062 closed

[2017-05-01 21:58] rudygalfi commented on #7096
I think there's a lot of cases where amp-analytics provides an override opportunity that could mess up the integration with the vendor. The design we have allows a vendor to conceal the implementation detail into a config and the publisher should be instructed not to touch `transport` in this situation.

I think this would be a fine idea as part of an overall project to define the ways the vendor

[2017-05-01 22:05] lexandera commented on #8971
@aghassemi What about using an approach similar to what mobile browsers do where they allow certain actions from user initiated events only (and calls cannot be deferred), while allowing others in all cases? A "video ended" event in that case would allow things like showing/hiding/animating of existing objects, but not also automatic replaying of videos, or page redirects.

Once amp-animation beco

[2017-05-01 22:06] rudygalfi commented on #8323
@cramforce @cvializ Can you describe the amp-analytics cases you think would be impacted?

[2017-05-01 22:11] rudygalfi commented on #1797
Closing this out. Ideally we'll have a partner who's interested in this to help us drive the spec and test it. Until then, we'll defer doing this.

[2017-05-01 22:11] #1797 closed

[2017-05-01 22:12] rudygalfi commented on #7168
@aghassemi Can you take a look at this and figure out a course for next steps?

[2017-05-01 22:20] rudygalfi commented on #1597
@aghassemi I'm shifting this over to you, but I'm not sure of next steps. Perhaps prioritization discussion between us and @ericlindley-g ?

[2017-05-01 22:21] rudygalfi commented on #2745
@ericlindley-g Since you've been looking at this most recently, shifting this over to you.

[2017-05-01 22:22] rudygalfi commented on #7744
Related to #1597?

[2017-05-01 22:22] ericlindley-g commented on #4393
Gotcha — I think the ideal behavior would be:

* Update button only shows for insertions that are timestamped after all items loaded on page
* Update button should show count of insertions that are timestamped after all items loaded on page

So to give three different examples:

1.
[new item]
[new item]
[old item]
[old item]
..... etc

triggers the update button with the count of 2 new items

2.
[

[2017-05-01 22:23] rudygalfi commented on #7744
cc @ericlindley-g I think we should discuss scheduling this

[2017-05-01 22:24] rudygalfi commented on #8478
It looks like this thread resolved, so I'm going to close. Please re-open if not.

[2017-05-01 22:24] #8478 closed

[2017-05-01 22:26] aghassemi commented on #8971
@lexandera even `show`, `hide` are important to be tied to direct user actions or they can introduce _page jumps_ which AMP has been trying very hard to avoid. We have realized CSS and AMP animation can be used to get around it and actually have discussed approaches to prevent it (it is a fairly hard problem as you would imagine). However we still don't want to have "official" ways to allow abuses

[2017-05-01 22:28] muxin opened #9077 "amp-app-banner: doesn't open in chrome ios"
Repro:
open https://amphtml-nightly.herokuapp.com/examples/article.amp.html
clicking on the `Open in App` button doesn't open the deep link
/cc @ericlindley-g

[2017-05-01 22:29] rudygalfi commented on #7607
@aghassemi Is there anything special to know about supporting this, or does it just need prioritization guidance?

[2017-05-01 22:33] SashkaDev opened #9078 "Forms with xhr action do not work in IE11 neither get or post"
https://raw.githubusercontent.com/ampproject/amphtml/1493417419433/node_modules/promise-pjs/promise.js element specified in the source map https://cdn.ampproject.org/v0.js could not be found

Try to suscribe in your own example in https://ampbyexample.com/components/amp-form/preview/
The form do nothing.

The same error throws with amp-carousel type slides if in IE11 have enabled the script debugg

[2017-05-01 22:38] muxin commented on #8290
The bug for embedded ios is fixed. But I just found out that non-embed chrome ios is not working. https://github.com/ampproject/amphtml/issues/9077

[2017-05-01 22:44] #8613 closed

[2017-05-01 22:49] aghassemi commented on #1597
I believe m3u8 is part of the HLS architecture. Supporting MPEG-DASH for adative streaming makes more sense in AMP than HLS since Chrome has also picked DASH over HLS ( https://bugs.chromium.org/p/chromium/issues/detail?id=54198, https://bugs.chromium.org/p/chromium/issues/detail?id=109652 ).

Closing this in favor of #7744

[2017-05-01 22:49] #1597 closed

[2017-05-01 22:53] aghassemi commented on #7607
@rudygalfi no, just needs prioritization. Ideally goes in the same bucket as https://github.com/ampproject/amphtml/issues/7695

[2017-05-01 23:03] rudygalfi commented on #7118
What's the difference between this and the template support that amp-form currently has?

[2017-05-01 23:06] jasti commented on #8971
@aghassemi  +1 for supporting custom events based on timeline because of ad size restrictions.
Also like the idea of only allowing certain actions depending on the type of event. e.g. videoEnded --> Show controls.

[2017-05-01 23:10] lexandera commented on #7424
@dvoytenko Is this component likely to support sprites spread out over more than one sheet? We've been using JPEG sprite sheets as a more efficient animated GIF replacement for years and in the past we had to split sprites into multiple files to get around mobile device resource limits. Video frames and cinemagraphs compress very well as JPEGs, but quickly add up to a lot of pixels. Is there a pla

[2017-05-01 23:29] jridgewell commented on #7118
External templates, looks like.

[2017-05-01 23:48] jasti opened #9082 "Ads are sometimes unloaded immediately after loading"
Reproducible when you scroll down fast and stop at the second ad.
http://www.stanleycupofchowder.com/platform/amp/2017/4/26/15433196/bruce-cassidy-officially-named-head-coach-of-boston-bruins

Internal: b/37746311

[2017-05-01 23:48] jasti commented on #9082
CC @ampproject/a4a

[2017-05-01 23:54] #9068 closed

[2017-05-02 00:08] #9070 closed

[2017-05-02 00:14] jasti commented on #8971
CC @ampproject/a4a for heads-up if anyone has any concerns.

[2017-05-02 00:16] zhouyx commented on #9082
Ad server hide themselves when get resize fail response.

[2017-05-02 00:24] dvoytenko commented on #8713
This is definitely scheduling fault. Looks like a race condition b/w built phase of an Ad and a carousel.

[2017-05-02 00:29] #9064 closed

[2017-05-02 01:37] rajkumarsrk commented on #8594
@rudygalfi I should be able to send PR by tomorrow

[2017-05-02 02:07] richardrabbat opened #9084 "amp-bind does not honor 'autoplay' in code example"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?

autoplay of the amp-video element is not honored.

## How do we reproduce the issue?

1. Go to:
https://ampbyexample.com/components/amp-bind/#binding-attribute-values

2. set to enable experiment

3. Use a large monitor to make sure the video of the dogs is showing, along with the "Set to Cat" button.

4. Click "Set to

[2017-05-02 02:16] choumx commented on #9084
Thanks for the bug report! Kevin, can you take a look please?

/to @kmh287 /cc @aghassemi

[2017-05-02 02:19] richardrabbat opened #9085 "amp-bind does not replace the video when amp-bind is used to bind to <source>"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?

One of our video elements has multiple video sources (primary and fallback)
we want to use amp-bind to replace the video src in <source>
When we implement it, the video src is successfully replaced, but the video still displays the old video source and the new video is not loaded

Briefly describe the bug/feature reque

[2017-05-02 02:47] dvoytenko commented on #9082
We research the reason. What happens is that a YieldMo ad is requesting a resize that's denied by AMP b/c the ad is in the viewport currently and cannot be resize w/o disruption. Based on that rejection, the ad hides itself. That by itself is WAI. However, the nuance here is that the ad actually asks to be resized to a smaller size, so the resize rejection appears to be benign and it could simply

[2017-05-02 02:51] dvoytenko commented on #8975
@lexandera Thanks a lot for feedback. This is certainly the problem I've dealt with in a number of projects very often. My typical solution (which is not always portable) would be to calculate couple `--var` in CSS and use them throughout keyframes and other positioning using `calc()`.

However, I do like your proposal and wanted to see if we can work some good approach for animations. I've includ

[2017-05-02 03:36] choumx commented on #9085
One more. 😄

/to @kmh287 /cc @aghassemi

[2017-05-02 04:04] rajkumarsrk commented on #8594
@rudygalfi The PR is available for review https://github.com/ampproject/amphtml/pull/9086

[2017-05-02 04:31] aghassemi commented on #7168
/to @cvializ
Let's investigate first why variable substitution was limited to origin ( can't find any info in the design doc and can't really think of a reason), may need to check with reviewers of the PR that added it.

After we figure out why, then we can consider relaxing it.

[2017-05-02 04:37] aghassemi commented on #8290
@muxin ok since the common case (Safari Ios embed) is fixed, I merged #8579

[2017-05-02 04:37] #8290 closed

[2017-05-02 04:38] awsomedesigner commented on #9062
I already posted this question on stackoverflow but no one responded so as a last resort i posted directly on AMP github.
http://stackoverflow.com/questions/43717545/how-to-get-medium-blog-post-in-amp-html-website

Thank you

[2017-05-02 04:42] aghassemi commented on #9078
@cvializ let's do a quick test and see how broken form is in IE11, I am worried this might be due to some deeper IE11 regression in the platform.
/cc @ericlindley-g

[2017-05-02 04:48] aghassemi commented on #9084
@kmh287 The issue is when `src` changes, video reloads but `video-manager` which handles `autoplay` has not idea this happened.

I suggest:
- [ ] Add a new `RELOAD` event to `VideoEvents` in `video-interface.js`
- [ ] Have `amp-video` dispatch the RELOAD event when `src` is changed with `bind`
- [ ] Have `video-manager-impl` react to the RELOAD event by adding:
[code]
to `maybeInstallVisibilityObs

[2017-05-02 04:56] aghassemi commented on #9085
Haven't tests it but we may need to call `video.load()` after `src` change to fix this issue.

On a related now, we should never support bindable `src` on `<source>` per W3C:

[2017-05-02 08:51] matAtWork commented on #4154
Is the nascent `<amp-video-iframe>` documented anywhere? We (dailymail) are also struggling with analytics, etc. (see https://github.com/ampproject/amphtml/issues/6234#issuecomment-296156703)

[2017-05-02 12:15] cramforce commented on #9074
AMP Context is not available in normal iframes.

On Mon, May 1, 2017 at 11:38 PM, Ali Ghassemi <notifications@github.com>
wrote:

[2017-05-02 12:19] #8896 closed

[2017-05-02 12:53] sztojka commented on #8852
@rudygalfi: it appears there is no support for `data-var` attributes for `amp-ad`, since I get the following error when I try to do it
`Unknown attribute for adsense: varsEventCategory`

The support is not bound to `a` tags, it is defined here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md

[2017-05-02 13:20] gustavopaes commented on #8906
I don't know if it's the same bug, but [in this pages](https://www.heramodas.com.br/), If I remove the `amp-accordion` component, `amp-iframe` are not loaded, unless I resize the screen.

[2017-05-02 13:26] kmh287 commented on #9085
@richardrabbat Are you changing the `src` on the `amp-video` element or on one of its `<source>` children?

[2017-05-02 14:12] dpetrieldn commented on #8088
Hey @aghassemi, we tried using scale on non amp pages with the Brightcove player but it had an impact on the player controls that proved to be unworkable, however we didn't go into it in much depth past an initial attempt.

As per @bjalford 's comment, its a Brightcove player 99% of the time, but in very rare instances we have other players in use, typically across your standard embeds like youtub

[2017-05-02 14:24] bjalford commented on #8088
+1 for early adopter and testing.

[2017-05-02 14:41] ericlindley-g commented on #8971
+1 To this idea of whitelisting certain behaviors only for A4A — it seems like a low-risk way to enable a set of features that we just couldn't do in AMP. Would be good to review this with a larger group to get consensus. One tradeoff is the possible loss of semantics—do we care if developers use A4A not for ads at all, but only for some set of features that can only happen in the A4A context? Is

[2017-05-02 16:03] cvializ commented on #7168
I found a doc ["URL replacements for links and form inputs in AMP documents"](https://docs.google.com/document/d/1P1drdXrbZGKvMuLWQIAfJ_ceBHCH1tPRnHLnqjupt2I/edit#) (not sure if it's shared publicly) which shows that the restriction was requested, and it aimed to avoid leaking the values to third parties by accident.

In that doc I found [#7344 "Allow variable substitution for whitelisted origins"

[2017-05-02 16:26] jaygray0919 commented on #4919
Thank you for progress with RDFa support. From our perspective, there are two remaining issues:
support for `rel=""` and `rev=""`

Consider this structure:

[code]
According to the current validator, we can successfully declare `about=""`, `resource=""` and `property=""`.
That is good!
`rev=""` is not essential, but `rel=""` is very useful for building graphs of related terms.

Should we provide a

[2017-05-02 16:35] aghassemi commented on #8992
/cc @sebastianbenz @kul3r4

[2017-05-02 16:36] honeybadgerdontcare commented on #4919
@jaygray0919 We'll look into adding it. Please open a new issue for this request.

[2017-05-02 16:39] aghassemi commented on #4154
@matAtWork `<amp-video-iframe>` doesn't exist yet :) but planned. Please subscribe to #8524for updates.
For your analytics needs, a solution similar to your and my comments on  #6234 (independent of  `<amp-video-iframe>`) should work. Let's continue the discussion on #8524.

[2017-05-02 16:40] #9057 closed

[2017-05-02 16:43] jaygray0919 opened #9091 "RDFa in AMP"
Comments below are an update to this issue:
https://github.com/ampproject/amphtml/issues/4919

Thank you @Gregable and @honeybadgerdontcare for progress with RDFa support.

From our perspective, there are two remaining issues: support for `rel=""` and `rev=""`

Consider this structure:
[code]

According to the current validator, we can successfully declare `about=""`, `resource=""` and `property="

[2017-05-02 16:43] aghassemi commented on #6234
@rudygalfi looks like both DailyMail and RelayMedia can benefit from this. Let's see where it fits in our priorities. @matAtWork PRs welcomed for this as well if this is something you are interested in contributing.

[2017-05-02 16:47] kmh287 commented on #9085
Some things we can do here:

1. Forbid binding to `src` and `type` on `<source>` elements entirely and only allow changes to `amp-video`'s video source by mutations on its `src` attribute
2. Do everything in 1 AND  add support for canPlayType somehow in bind
3. Add special casing for `<source>` elements in to bind that figures out which `<source>` to use and notifies the parent element accordingly

[2017-05-02 16:56] dvoytenko commented on #8975
See https://docs.google.com/presentation/d/1z-a6Hxy3XIjRCAb4ExuFTe3AsLUsRRBezGyU3cVvwC0/edit# for tomorrow.

[2017-05-02 16:56] dvoytenko commented on #7846
See https://docs.google.com/presentation/d/1z-a6Hxy3XIjRCAb4ExuFTe3AsLUsRRBezGyU3cVvwC0/edit#

[2017-05-02 16:58] aghassemi opened #9093 "Create `amp-oembed`"
- [ ] creates a 3p iframe based on the response of an oembed URL
  - Ideally If embed result's HTML is already an iframe, we can use `amp-iframe` instead of a `3p iframe` so we do't end up with iframe in 3p iframe.
- [ ] handles resizing automatically when possible.

/cc @jpettitt @ericlindley-g

[2017-05-02 16:59] honeybadgerdontcare commented on #9091
@Gregable  Per [comment](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L1117) on `a` tag's `rel` attribute, we'll need to blacklist some values for `rel`. We should do a second review that we've covered all values that need to be blacklisted for other tags. I don't see any issues with allowing `rev`.

[2017-05-02 17:02] ericlindley-g commented on #9093
@aghassemi :  looks promising—do you have more context on the use-cases for this?

[2017-05-02 17:12] jpettitt commented on #9093
There are a couple of services https://iframely.com/ and http://embed.ly/ that provide a uniform oembed based API for embedding 3rd party content.  `amp-oembed` would enable publishers to use these services easily on AMP pages.  Iframely already supports amp via `amp-iframe` (append &oembed=amp to their iframe url)

[2017-05-02 17:20] aghassemi commented on #8228
@ericlindley-g let's prioritize this for soon?

[2017-05-02 17:24] ericlindley-g commented on #8228
Agreed — let's consider docs part of the feature itself (in terms of when we can call it "done").

[2017-05-02 17:28] aghassemi commented on #9074
@lannka mentioned we compile amp context to an external JS file that can included in any 3p page. His opinion (which I really like) is to use this JS object to add APIs for AMP and 3P communication instead of relying on documented postMessage formats.

on a related note, @lannka we should start namespacing amp context object. we don't want everything at top level.

[2017-05-02 17:35] aghassemi commented on #8088
@bjalford @dpetrieldn Thanks for more info. Our initial design assumed we hide the player controls and instead puts our own controls on top of the video (limited controls with large tap targets) when minimized.

Brightcove needs to fully implement the `video-interface` before it can be part of this UX. There has been some work done already by @mister-ben  here: https://github.com/ampproject/amphtm

[2017-05-02 17:58] lannka commented on #9074
This totally makes sense to me. It's very like our existing API such as `context.observeIntersection(callback)`.

Just want to point out that the proposal is only one way communication, i.e. it does not wait for a response. Would that limit the usages? Of course, designing a 2-way communication will be quite complicated, and probably would have involved amp-bind.

Re namespacing:

Right now, the e

[2017-05-02 18:03] jasti commented on #9082
Actually CC @yieldmo-rao

[2017-05-02 18:03] jridgewell commented on #8852
@rudygalfi This issue is that we have a conflict between `<amp-ad>` `data-*` var gathering (which it uses to create the ad iframe), and `<amp-analytics>` `data-var-*` var gathering (which is uses for URL manipulations).

Since none of the ad tags currently depend on any `data-var-*` to set themselves up (they'd have to declare it in their AMP ad code), we should probably just not pass those vars t

[2017-05-02 18:12] cvializ commented on #9078
IE11 is throwing when `amp-form` calls `event-helper.js#createCustomEvent`. IE11 [doesn't support](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent#Browser_compatibility) the `CustomEvent` constructor, and `#createCustomEvent` checks for the presence of `window.CustomEvent`, but IE defines this variable despite not supporting it 😦

Looks like @camelburrito merged a fix for this in #905

[2017-05-02 18:12] #9078 closed

[2017-05-02 18:19] jpettitt opened #9098 "Identify size imits for images and animation in AMP Cache spec"
The google cache limits images and animations to 12mb and responds 404 for larger images.  The cloudflare cache also has a limit but I'm unaware of it's size.

This is a request to document the limits as part of the AMP spec and require that all approved AMP caches MUST use the same limits.

In addition caches SHOULD fallback to the source url if it is https for objects larger than the limit.

[2017-05-02 18:20] camelburrito commented on #9078
Yay!

[2017-05-02 18:43] aghassemi commented on #7168
@cvializ Cool! thanks for the details. So looks like a quick hit to remove the restriction and document in #8132. Tentatively planning for the next sprint.

[2017-05-02 19:48] dvoytenko commented on #9019
As of today, some viewers still use the old format, including news.google.com.

[2017-05-02 20:13] dvoytenko commented on #4752
/to @zhouyx ptal in H2.

[2017-05-02 20:19] dvoytenko commented on #9048
P1 would make sense. Updated. To clarify: this would be only a dev assert to start with. Specifically asserting any non-current requests.

E.g. for a x.cdn.ampproject.org, we can allow x.cdn.ampproject.org and cdn.ampproject.org. Etc.

[2017-05-02 21:07] SashkaDev commented on #9078
Thank you!! But, what about de node_modules/promise-pjs/promise.js  not found??

[2017-05-02 21:25] taymonbeal opened #9106 "gulp test fails without running any tests"
Test log:

[code]

[2017-05-02 21:30] jridgewell commented on #9106
The issue is that everything under `/build-system` is not compiled from ES6 to ES5.

[2017-05-02 21:31] dvoytenko commented on #8946
Curried constructors is an interesting idea. Slightly weird, but I think it'd be overall better comparing to what we have with two args.

[2017-05-02 21:31] jridgewell commented on #9078
That's just the stack trace, but not where the error comes from.

[2017-05-02 21:35] SashkaDev commented on #9078
OK, it is another bug?

[2017-05-02 21:40] dvoytenko commented on #7424
@lexandera I see. That's a good feedback. My initial proposal does indeed allow multiple spreadsheets. But everyone thought that was crazy. Can you take a look at the doc above? Maybe you can suggest a better configuration?

Do you combine this a lot with device-pixel-ratio/srcset sources as well?

[2017-05-02 21:43] jridgewell commented on #8946
I think overall, it wouldn't matter if we moved everything to a factory closure. A curried constructor is itself just a closure.

[2017-05-02 21:49] jridgewell commented on #9078
No

[2017-05-02 22:16] pdufour opened #9108 "Using VARIANTS can cause silent failures"
## What's the issue?

Using the `VARIANTS` variable in a `amp-analytics` block with:
`amp-experiment` JS file included but
**no** `amp-experiment` block added
causes the amp-analytics requests to never fire without logging any errors.

If you have:
**no** `amp-experiment` JS file
**no** `amp-experiment` block added causes the requests to never fire

This triggers the error `runner-3.41.10.min.js:1

[2017-05-02 22:27] #9106 closed

[2017-05-02 22:40] amphtml-team commented on #8946
Only for those that require factory, right? Others will just use normal
constructor. But API will be simpler.

On May 2, 2017 2:43 PM, "Justin Ridgewell" <notifications@github.com> wrote:

[2017-05-02 22:54] #6999 closed

[2017-05-03 00:46] richardrabbat commented on #9085
FYI, we have multiple sources of video.
We prefer WebM, but allow fallback on MP4 for Safari for example.
We also have an HD version of the video for people looking to play very high res (on newer devices)

Our need for amp-bind is for one of these 2 usecases on our page:
- we change the src to toggle the video source to either HD/non-HD
- we toggle the mp4 to a video mp4 playing backwards

the HD

[2017-05-03 02:12] dvoytenko commented on #4752
Sorry, I'm confusing everyone. The work has already been started in #9061.

[2017-05-03 02:27] aghassemi commented on #9085
@richardrabbat I assume toggling `HD` has the additional requirement of seeking to the previous position in the timeline. To support these cases, we may need a different approach such as allowing several source groups and using bind to switch between them.

Something like:
[code]

[2017-05-03 04:42] #7534 closed

[2017-05-03 05:16] richardrabbat commented on #9085
this would be amazing. love it

[2017-05-03 06:54] singuyen commented on #3337
any progress on this?

[2017-05-03 07:21] aghassemi opened #9113 "Intent to Implement: amp-filter"
## Background
Ability to perform client-side filtering in AMP is needed to support several use-cases such as product filters in eCommerce AMP pages.

https://github.com/ampproject/amphtml/issues/8368 lays down the requirements for client-side sort/filter which is distinct from server-side sort/filter that is handled by https://github.com/ampproject/amphtml/issues/6054.

## Proposal
`amp-filter` is

[2017-05-03 07:22] aghassemi commented on #8738
https://github.com/ampproject/amphtml/issues/9113

[2017-05-03 07:22] #8738 closed

[2017-05-03 07:23] aghassemi commented on #8900
`amp-filter` design https://github.com/ampproject/amphtml/issues/9113 if there is time (needs 15-20 mins)

[2017-05-03 11:03] ithinkihaveacat commented on #9113
On most e-commerce sites, when a filter is applied (e.g. `brand:nike AND size:10`), the URL is updated, and the result can be bookmarked/shared/emailed etc. Is that user behavior compatible with this proposal? (Am wondering especially about the "Filters can only be applied via user actions since only triggers are actions or amp-bind" constraint.)

[2017-05-03 11:52] sebastianbenz commented on #9113
@ithinkihaveacat what'd be nice to have is an action to update the URL. The initial filtering could then be done server-side based on the URL.

[2017-05-03 12:15] ithinkihaveacat commented on #9113
@sebastianbenz Maybe bind the URL to the filter state?

[code]

(Where `myFilterState` is a JSON object.)

This would also work without `<amp-filter>`.

[2017-05-03 12:48] paper1111 opened #9114 "Responsive amp-image not centering when max-width is set"
## Issue

The `amp-img`'s `layout` property is set to `responsive`. As it makes the image too big when the browser is wide, a `max-width` is set on the image. The image is also centered with `text-align`. But, the image no longer centers.

## Reproduce

[Complete working code in jsbin](https://jsbin.com/luvenehipa/edit?html,output)

1. Create an `amp-img` whose `layout` property is set to `respons

[2017-05-03 13:26] kmh287 commented on #8946
Also currying constructors works on the assumption that you know what all the arguments are going to be at registration time.

[2017-05-03 13:32] jasti opened #9115 "Ability to request multiple ads on a single ad request"
At the moment all amp-ad implementations are only able to make a single ad request per ad slot. Larger publishers often like to correlate ad slots for ad roadblocks or competitive exclusions. This feature request is to allow a way for ad networks to do that.

[2017-05-03 14:23] matAtWork commented on #6234
Apologies for the silence - been inundated with (unrelated) tasks, but I'll try to focus on it next week

[2017-05-03 14:29] keithwrightbos commented on #8838
Fixed by #9056

[2017-05-03 14:29] #8838 closed

[2017-05-03 15:53] aghassemi commented on #9085
@kmh287 @choumx  I am taking this issue to be part of video work. For now I recommend not allowing `src` changes on `source` via bind.

@ericlindley-g video related FR for prioritization.

[2017-05-03 16:23] dpetrieldn commented on #9115
Hi @jasti , in terms of comparing this behaviour to an existing GPT implementation, would this just be keeping the correlator the same for each request, running with Single Request Architecture (SRA), or a mixture of both?

Thanks

[2017-05-03 16:55] aghassemi commented on #9113
@ithinkihaveacat @sebastianbenz history management came up with server-side sort/filter as well and a suggestion, similar to yours, was to use history push to keep state: https://github.com/ampproject/amphtml/issues/6054#issuecomment-292251951

I believe a generic solution that supports pushing a subset of the current bind state into history (and optionally in the URL as well) can solve both clien

[2017-05-03 17:05] ericlindley-g commented on #9113
Very excited about all of this — and also very interested in how to handle getting state from and pushing state to the URL.

+1 to considering these features orthogonal for now (if that's possible), so we can tackle the more controversial page-load case in its own time, without blocking general filtering/sorting, or the less controversial push-to-URL-state feature.

[2017-05-03 17:08] imparvez commented on #9113
@aghassemi On initial page load, the content can get loaded from server-side. Once the content is listed, we can go for client side sort/filtering.

[2017-05-03 17:19] lannka commented on #8900
@jonkeller @dvoytenko what's your time estimate.
@aghassemi are you OK to move to next week if time does not allow?

[2017-05-03 17:21] jonkeller commented on #8900
I've not attended an AMP design review before, so somewhat difficult to
estimate. But I would guess around 15 min.

On Wed, May 3, 2017 at 1:20 PM, Hongfei Ding <notifications@github.com>
wrote:

[2017-05-03 17:37] lannka opened #9120 "amp-inabox host window handshake improvements"
amp-inabox needs to talk to the host page window to access APIs like scroll position. Right now it simply assume the top window is the right window, which might not be always true. E.g.: AMP cache served in Viewer.

Instead, we can broadcast the handshake requests to all ancestor window, and wait for the first respondent.

[2017-05-03 17:49] jasti commented on #9115
@dpetrieldn , @keithwrightbos will be posting an ITI on this in the next week or two with details.
This will be only for the 'Fast Fetch' flow - so it will be an implementation similar to GPT but will not use the underlying GPT.js library.

[2017-05-03 18:13] jridgewell commented on #6569
Closing in favor of https://github.com/ampproject/amphtml/issues/9108.

[2017-05-03 18:13] #6569 closed

[2017-05-03 18:16] jpettitt commented on #8961
Does `amp-sticky-ad` allow multiple `amp-ad` children yet?  Otherwise a media query just lets us turn it on and off when we really want to select between ad sizes.

In a perfect world we'd either be allowed multiple `amp-sticky-ad` tags, where only the first one that is enabled by CSS media queries renders ... or multiple `amp-ad` children in an `amp-sitcky-ad` where again only one renders based o

[2017-05-03 18:25] uniquelygeneric commented on #3337
We are rolling out a solution this month and hope to have support soon.

[2017-05-03 18:29] jridgewell commented on #9114
Use `margin: 0 auto` on the element you're setting `max-width` on. https://jsbin.com/lalovo/1/edit?html,output

[2017-05-03 18:29] #9114 closed

[2017-05-03 18:37] zhouyx commented on #9072
I checked the code and realized not all state can be removed.  In the no-content case we toggle fallback to true, we will need to revert that in `unlayoutCallback`. Because all are async, we will need to keep the state to prevent from displaying fallback after element has been unlaid out.

[2017-05-03 18:37] camelburrito commented on #8900
I have one for carousel slides improvements - ~20 mins  - Design Document : [goo.gl/GKXHJR](goo.gl/GKXHJR) . I would like to go before Ali (since i would be OOO next week).

CC @kmh287 @choumx @aghassemi

[2017-05-03 18:39] aghassemi commented on #8900
ok I can go next week.

[2017-05-03 18:58] muxin opened #9123 "Sticky ad whenBuilt is not a function"
[code]

[2017-05-03 18:59] muxin commented on #9123
Related PR https://github.com/ampproject/amphtml/pull/8815

[2017-05-03 19:13] yieldmo-rao commented on #9082
Cool! Thanks for the update and solution @jasti and @dvoytenko . @harquail , FYI.

[2017-05-03 19:35] jridgewell opened #9124 "Warn when measure/mutates happen outside vsync"
There's a whole log of spaghetti in our extensions, where it's not clear if we're in a measure or mutate phase. Let's add some dev logs (in development only) to:

- [ ] Warn when a measure is requested inside a measure phase
- [ ] Warn when a mutate is requested inside a measure phase
- [ ] Warn when an element measurement API is used outside a measure phase (Prototype kung fu)
- [ ] Warn when an

[2017-05-03 19:58] choumx commented on #9085
There's a similar FR for dynamically changing the number of images in an `amp-carousel` (#8921, https://github.com/ampproject/amphtml/issues/4626#issuecomment-279108353). @camelburrito actually suggested a similar "grouping" markup for `amp-carousel`.

One approach we discussed that may solve the general case is templating children (not necessarily with `amp-mustache`). Create `<source>` elements

[2017-05-03 20:00] harquail commented on #9082
@yieldmo-rao Making a Yieldmo ticket for the two issues: 1. format resize request does not account for adChoices iframe height.  2. We should not fail on rejected resize change if format's body fits within window.innerHeight and window.innerWidth is greater than the minimum format width.

It may be that we are accounting for format size + adChoices size + margin on resize failure, but only account

[2017-05-03 20:11] #8804 closed

[2017-05-03 21:05] zhouyx commented on #9123
Working on a fix.

[2017-05-03 21:16] aghassemi commented on #8900
# Meeting Notes - AMP Analytics for Vendors Requiring Obfuscation
- allow third-party analytics vendors to obfuscate and keep their secret sauce.
- Idea is to allow 3p x-domain iframe url in the config which is loaded and then receives the strings and can do whatever it wants with them after (e.g. changes them and pings them to whereever)
- the content of the 3p iframe has a `onNewAMpAnalyticsInst

[2017-05-03 21:16] aghassemi commented on #8900
# Meeting Notes - Animation Improvements
- demo of rain drop animation
- how do we make them random or pseudo-random? nth-child, odd css psuedo-selectors, JS random()
- amp-animation is a wrapper for Web Animation API
- What's wrong with CSS animations? Hard to wait for load events of target elements. Controlling life-cycle is hard, hard to extend CSS language.
- Proposal:
1- Drop CSS animation, a

[2017-05-03 21:16] aghassemi commented on #8900
# Meeting Notes - Slides Carousel Improvements
- requirement: a product page which changes carousel to a whole different set of slides when user switches to another product.
- Option 1: multiple carousels: hide and show them. Need to know all Urls ahead of time.
- Proposal: groups under the same carousel and an attribute to switch between groups.
- Adding dynamic content: we already have some comp