[2016-06-21 15:56] senthilp commented on #1298
Option 1: "Prescribe only one attribute that can be specified by markup that amp-analytics reads and fills in" that @avimehta proposed looks like a good solve. But it should also have [var substitutions](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md) as a part of it. Something like this would also work
[code]
Here the variables would be substituted an

[2016-06-21 16:22] keithwrightbos commented on #3665
Great.  Do you have an opinion about the offset issue identified in item 2 above?

[2016-06-21 16:24] #3418 closed

[2016-06-21 16:57] dvoytenko commented on #3663
That line of code comes after several other attempts. Generally resize will be allowed unless the ad is currently directly in the viewport and cannot be resized without disrupting the viewport. If breakpoints can be described via media queries - most of elements support `sizes` and `heights` attributes as described in https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md

I'll

[2016-06-21 17:59] dvoytenko commented on #3674
The right move IMO is to move it to `./service` and mark it as package-private there.

[2016-06-21 18:00] dvoytenko commented on #3578
Sounds good. @Gregable can we do it then?

[2016-06-21 18:00] #3196 closed

[2016-06-21 18:14] Gregable commented on #3578
NP

[2016-06-21 18:16] mkhatib commented on #3667
Just chatted about this, basically we wanna look and see how the fetch API handles this currently and see how to act on it. If it fails we need to start reporting this in production to see if this is already being "misused" widely and figure out a way to address this.

[2016-06-21 18:44] cramforce opened #3690 "Use crypto.subtle instead of closure's sha384 where available"
And late load closure implementation when needed (none of the current major browsers).

The resulting strings must by byte-for-byte compatible.

CC @lannka

[2016-06-21 18:46] mkhatib opened #3691 "Ad rendering integration test fails"
This could be flakey rerunning.

[code]

[2016-06-21 18:53] rajkumarsrk commented on #1298
@rudygalfi @avimehta Senthil and I liked option 2
`<a href="#menu" data-track="event=click,label=menu,value=1234">Link</a>`. Considering the below example provided on
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md

`<amp-analytics>
<script type="application/json">
{
  "requests": {
    "pageview": "https://example.com/analytics?url=${canonicalUrl}&title

[2016-06-21 19:14] mkhatib opened #3692 "Ad rendering integration test saucelabs on travis"
[code]

[2016-06-21 20:29] mkhatib opened #3695 "Integration Saucelabs flakey test extensions"
[code]

[2016-06-21 20:30] mkhatib commented on #3692
[code]

[2016-06-21 20:39] Gregable commented on #2040
This is fully fixed now. Closing.

[2016-06-21 20:39] #2040 closed

[2016-06-21 20:46] Gregable commented on #3578
One other concern. Is it possible to add CSS to an inline style tag which we wouldn't normally validate. For example, additional AT-Rules or http scheme URLs? If so, we may not want to allow this as we probably don't want the additional overhead of validating the CSS in every style attr on the page.

[2016-06-21 20:54] cramforce commented on #2426
Wanted to ping this. I think this is pretty important for certain pages.

[2016-06-21 20:59] jpettitt opened #3697 "Validator fails on cdn.ampproject.org"
The both the Chrome AMP validator plugin and the built in #development=1 validator generates errors on  AMP pages served via cdn.ampproject.org

Example:
Valid https://dailydot.relaymedia.com/amp/lifestyle/where-is-marijuana-legal/
Invalid https://cdn.ampproject.org/c/s/dailydot.relaymedia.com/amp/lifestyle/where-is-marijuana-legal/

This it is confusing to non engineering users who have installed

[2016-06-21 21:00] erwinmombay commented on #3697
routing to @Gregable @powdercloud

[2016-06-21 21:48] mkhatib commented on #2426
Not sure where do we stand with this now. What is the wanted behavior here?

[2016-06-21 21:51] mkhatib opened #3698 "extensions loading tests flake on travis saucelab"
[code]

[2016-06-21 22:01] rudygalfi commented on #1298
@rajkumarsrk One concern I have with what you're proposing is that

[code]

requires AMP to parse out name/value pairs.

I do, however, like that there's a way to fallback to other variables defined as part of the config.

I propose going with (2) mentioned previously, which is separate data-* attributes:

[code]

The part of the attribute name after the "data-" part will be interpreted as a local

[2016-06-21 22:01] cramforce commented on #2426
- Render posters only in `layoutCallback`
- Render embeds when element enters viewport and layoutCallback has been called already (or is in viewport during layoutCallback)

[2016-06-21 22:07] Gregable commented on #3697
This is largely working as intended since the AMP Cache makes some non-legal transformations. In particular: the usage of versioned runtime files.

I'd like to get a better feel for how confusing this is to folks. Whitelisting special behavior for amp caches could be somewhat difficult to maintain if other third-party transforming-caches are created later.

Another possibility would be stripping t

[2016-06-21 22:09] avimehta commented on #1298
+1 to Rudy's comment. To recreate the example that @senthilp  mentioned, we would do it as follows:

[code]

This ensures that any values provided by the publishers are opaque to AMP and AMP can just encode and add the values to the URL. With this format, the values can contain `,`, ` ` and whatever else pubs would like.

[2016-06-21 22:35] mkhatib commented on #3692
[code]

[2016-06-21 22:54] jpettitt commented on #3697
@Gregable stripping the `<html amp>` sounds like a perfect solution as at that point the page is no longer valid amp.

In terms of confusion our some of our non-technical customers have installed the validator plugin as a way of seeing their own AMP pages and as a way of seeing who else has pages that are AMP enabled.  If they see their own content on the cdn and it's doesn't validate engineering

[2016-06-21 23:01] ericlindley-g commented on #3690
@cramforce — slotting in backlog, but please correct/update as needed

[2016-06-21 23:03] ericlindley-g commented on #3673
@erwinmombay  — slotting in Current (I think someone mentioned they were actively working on this), but please correct/update as needed

[2016-06-21 23:05] ericlindley-g commented on #3668
@cramforce — slotting in backlog, but please correct/update as needed

[2016-06-21 23:31] pdufour commented on #3663
So would a height adjustment while the amp ad is in view be considered under this rule?

[2016-06-21 23:37] #3632 closed

[2016-06-22 01:01] jpettitt opened #3705 "Validator considers "#" to be a valid amp-img url"
The validator considers this valid

`<amp-img layout=responsive height=1 width=1 src="#" ></amp-img>`

The spec says

"#"  is not a publicly-cacheable image file.  :-)

[2016-06-22 02:56] mkhatib opened #3707 "Development Server very slow on first load"
It takes a *full 17 seconds to serve amp.js* file among other files. On subsequent reloads the load time is much better. Weirdly, I noticed that responses with HTTP statues 304 - Not Modified has the slowest response times!

This might be related to the recent change of web server we're using in development.

![image](https://cloud.githubusercontent.com/assets/2647/16253221/90a6ac4a-37e9-11e6-80df

[2016-06-22 03:04] mkhatib opened #3708 "Consider Renaming style.js/styles.js files to reflect what they're about"
I Always make the mistake of importing `setStyles` from `styles.js` and end up finding that it's in `style.js` This is very confusing as the `s` doesn't really communicate the idea behind each file.

I suggest `document-styles.js` or `styles-installer.js` instead `styles.js` and `element-style.js` or `style-helpers.js` instead of `style.js`.

Any other suggestions?

[2016-06-22 03:28] cramforce opened #3709 "Resource scans happen in test iframes after they are removed"
Because they get timed on the parent window.

They might just need to check whether the respective document still has a `defaultView`.

CC @muxin

[2016-06-22 04:47] patHyatt commented on #3505
Believe this can be closed (correct?), PR #3520 has addressed it.

[2016-06-22 04:49] dvoytenko commented on #3708
I think style.js and style-installer.js would be good, or asking these
lines.
On Jun 21, 2016 8:04 PM, "Mohammad Khatib" <notifications@github.com> wrote:

[2016-06-22 05:15] dvoytenko commented on #2426
Hmm. I'd rather much avoid using `layoutCallback` for managing posters. Isn't this already accomplished overall? Maybe we just need to fine-tune thee priority a bit with numeric `rendersOutsideViewport` that @jridgewell implemented?

[2016-06-22 05:18] dvoytenko commented on #3705
@Gregable wdyt?

[2016-06-22 05:25] dvoytenko commented on #3663
@pdufour Correct, under this rule, the resize would be not be allowed. The embed should receive back `embed-size-denied` event. There are other rules under which it could still be allowed later, such as when resize event is triggered by the user action.

I'm not sure why you need to parse CSS. I understand that in many cases, ad description in a amp document would not be able to foresee why size v

[2016-06-22 05:49] dvoytenko commented on #3578
No AT-Rules in inline styles. But http URLs might be possible. Let's dig a bit around SVG-specific CSS. I'll take a look. @Gregable please take a look as well.

[2016-06-22 05:57] dvoytenko commented on #1298
Given the complexity of values, +1 to option (2) with a per-var attribute. One question I have: should it be a `data-varName` or a `data-track-varName`? I'm looking for a way to ensure that tracking `data-` attributes never overlap unintentionally with other `data-` attributes.

[2016-06-22 06:26] rudygalfi commented on #1298
I guess a couple things to consider are:
* possibility of use case collision as @dvoytenko points out (i.e. using `data-*` for non-analytics purposes and then being required to use the same format to take advantage of this feature)
* `data-` requirement to use hyphens and be all lowercase.

Perhaps something so clearly non-standard for the usual `data-` case would be good, like `data-track_varName

[2016-06-22 12:57] ericfs opened #3712 "Pages scroll horizontally in iOS Safari"
Some pages have a small amount of horizontal scrolling. For example:
https://amp.businessinsider.com/obama-game-7-air-force-one-nba-finals-2016-6
It happens with some other publishers too.

This does not happen when the document is loaded in a web Viewer. In that case, it uses ViewportBindingNaturalIosEmbed_ and overflow-x:hidden is set on the body.

This is a problem for native AMP Viewer impleme

[2016-06-22 14:02] cramforce commented on #1298
Some thoughts:

- casing should follow html5 rules for converting data attribute names to camelcase. So, it would not be `data-track-varName` but rather `data-track-var-name`.
- `data-var-var-name` might be a bit more semantic.

QQ: This is only for user event based analytics, right? So, the algorithm is:

- on event inspect the target
- walk up the DOM from the target
- collect `data-var-` (or wh

[2016-06-22 14:32] cramforce commented on #2426
Right now we render all posters for YT/Instagram for the entire page in pre-render mode. That should be fixed.

[2016-06-22 15:35] sidkshatriya opened #3713 "[Validator] [htmlparser.js] Lack of end tags is possibly misleading"
In various tests across the validator, one comes across various amp tags which don't have end tags.

e.g.

https://github.com/ampproject/amphtml/blob/569fb55a9c9f0724c06155543282f766780472fe/validator/testdata/feature_tests/mandatory_dimensions.html#L114-L120
[code]
Notice the lack of `</amp-img>`

https://github.com/ampproject/amphtml/blob/de471567c924ce51e401248ef69c001cee599cfc/validator/testda

[2016-06-22 16:01] jridgewell commented on #3505
Whoops.

[2016-06-22 16:01] #3505 closed

[2016-06-22 16:17] jridgewell commented on #2426
`#renderOutsideViewport` is just for managing when `#layoutCallback` is called. We could move calling `#createPlaceholder` into the resource lifecycles, so that it's only called when within (some larger) distance declared by `#renderOutsideViewport`:

[code]

[2016-06-22 16:34] mkhatib commented on #2426
@cramforce I don't think this is true anymore - at least for instagram. Now that we use `createPlaceholderCallback` to create an `amp-img` (instead of img) placeholder, its left to the `resources` to schedule layout for the placeholder - this includes not scheduling if outside viewport in prerender mode. Does this not match what you expect?

For YouTube we have #3216

[2016-06-22 16:38] jridgewell commented on #3712
Re: https://github.com/ampproject/amphtml/issues/3318

[2016-06-22 16:38] jmadler opened #3714 "Missing components from extensions/README.md"
amp-ad
amp-form
amp-live-list
amp-slides
amp-sticky-ad

[2016-06-22 16:39] mjangda opened #3715 "Mismatch in amp-video autoplay attribute between docs and validator"
The `amp-video` docs state that:

However, the validator complains if you set `autoplay="desktop"` or any of the variations noted above. Using just `autoplay` or `autoplay="autoplay"` or `autoplay=""` do validate.

There was some discussion on this in #2381. Do the docs need to be updated for this attribute or is still considered a bug?

[2016-06-22 17:10] mikelax opened #3716 "Facebook provider for amp-social-share does not default to rel=canonical URL"
## Short description of your issue:

It appears the default Facebook provider is not reading the link `rel=canonical` value to use for the URL to share. According to the docs all default providers such as twitter, facebook, pinterest, etc should all use `rel=canonical` by default.

## How do we reproduce the issue?

I noticed in the [test cases for amp-social-share](https://github.com/ampproject/a

[2016-06-22 17:16] cramforce commented on #2426
Perfect!

[2016-06-22 17:39] mkhatib commented on #3716
Hey @mikelax I believe this has been fixed in #3541 - The change should already be in Canary you can test it if you'd like by [opting into the Canary experiment](https://cdn.ampproject.org/experiments.html) and hard refreshing the demo page.

[2016-06-22 17:40] #3716 closed

[2016-06-22 17:40] mkhatib commented on #3716
Please reopen if you're still seeing the issue.

[2016-06-22 17:41] mkhatib commented on #2426
Should we close this one? We're tracking the YouTube issue in #3216

[2016-06-22 17:46] mkhatib commented on #3715
Currently, the docs should be updated to reflect the validator. However, this might be still worth discussion, it seems one of the reasons we invalidate these values was the fact that there were no way we can support `autoplay=mobile` due to browsers limitations.

This is quickly changing, [WebKit 10 is introducing some support for auto playing on mobile](https://developer.apple.com/library/prerel

[2016-06-22 17:47] #2426 closed

[2016-06-22 17:47] jridgewell commented on #2426
Closing 'cause @cramforce emoted instead of closing. 😛

[2016-06-22 18:03] Gregable commented on #3705
The validator can't really enforce that the URL is a publicly-cacheable image file. It could be private cache or an html file or whatever. We might consider changing the spec since this is unenforceable anyway.

Technically "#" is a valid URL, and without fetching it we don't technically have any way of knowing that it's not an image. I don't think it's necessarily worth it to special case this on

[2016-06-22 18:13] mikelax commented on #3716
ahh, nice @mkhatib I saw that commit but must have missed the change in the config from url to href.
As part of that change should [the documentation](https://github.com/ampproject/amphtml/blame/master/extensions/amp-social-share/amp-social-share.md#L98) be updated to use the correct attribute.

[2016-06-22 18:28] erwinmombay commented on #3714
won't do amp-slides since its actually deprecated

[2016-06-22 18:29] cramforce commented on #3715
Hmmm, Chrome is also switching to the same policy as WebKit 10.

I think we should fix the docs. Those values don't make any sense. It should be just `autoplay` (and support for the values to make XHTML fanatics happy :)

[2016-06-22 18:30] jridgewell opened #3718 "Use VSync state instead of anonymous closures"
We currently create a lot of anonymous closures when using the `VSync` service.

Examples:

[code]

There are 4 different function allocations in that method. Instead, we can use the `state` param and hoist these functions out.

[code]

[2016-06-22 18:44] mkhatib commented on #3716
Yes. Forgot to update the docs, can you send a PR?

[2016-06-22 18:47] mkhatib commented on #3715
Sounds good. @mjangda would you be able to send a PR to update the docs?

[2016-06-22 18:47] #3587 closed

[2016-06-22 19:05] poscar opened #3719 "app_id not being included in Facebook amp-social-share component"
amp-social-share button does not work for Facebook. It is not picking up the `app_id` which is already specified in the document:

[code]

Clicking on the facebook share button results in the following dialog:
![screen shot 2016-06-22 at 3 04 13 pm](https://cloud.githubusercontent.com/assets/128726/16279816/b6d2eef0-388a-11e6-96ed-017c2aa748d7.png)
## How do we reproduce the issue?

jsbin: [here](

[2016-06-22 19:11] mkhatib commented on #3719
We haven't considered reading `fb:` meta tags as source of data before. Might be worth considering adding meta name as a config for the amp-social-share. The workaround that you mentioned is actually the correct intended usage of the `amp-social-share`.

The documentation should probably be updated to mention data-param-app_id as required for Facebook.

[2016-06-22 19:13] poscar commented on #3719
Thanks @mkhatib !

[2016-06-22 21:12] Gregable commented on #1242
This variant is deprecated, so we won't be doing anything to support this version beyond the current state.

[2016-06-22 21:12] #1242 closed

[2016-06-22 21:14] Gregable commented on #1877
The recent improvements to whitespace allowances for these variants seem to resolve most issues people are running into. Supporting arbitrary css variants reduces performance, which we are trying to control, so I'm going to close this for now. If folks run into specific variants that are difficult to work around, let me know and we can revisit.

[2016-06-22 21:14] #1877 closed

[2016-06-22 21:39] startef opened #3727 "Invalid URL protocol 'threema:' for attribute 'href' in tag 'a'."
The validator throws the following error when a share link for Threema, an alternativ to WhatsApp, is used on a page:

Since "whatsapp:" is allowed, "threema:" should be considered valid as well. After all, it is basically the same thing.

The issue can be reproduced by simply testing the following two links in the validator:

`<a href="whatsapp://send?text=https%3A%2F%2Fvalidator.ampproject.org">

[2016-06-22 21:39] lannka commented on #3622
The issue seems to be mitigated by applying retries after disconnection.

[2016-06-22 21:39] #3622 closed

[2016-06-22 21:49] startef commented on #3165
I would like to add threema to the whitelist regarding custom protocols. Reference: https://github.com/ampproject/amphtml/issues/3727

[2016-06-22 21:51] jridgewell commented on #3663
Not when you're making it [smaller](https://github.com/ampproject/amphtml/blob/90837fe/src/service/resources-impl.js#L759-L761), that'll only happen when making it [bigger](https://github.com/ampproject/amphtml/blob/90837fe/src/service/resources-impl.js#L762-L766). I think this is a legitimate bug (not that we deny it, but that we don't notify you that we denied it).

[2016-06-22 22:00] Gregable commented on #3727
@honeybadgerdontcare, can you add this protocol to our url lists where appropriate?

[2016-06-22 22:05] Gregable commented on #3165
When selecting the current list, I looked at a large sample of amp docs to find what was being used in amp links in the wild and basically whitelisted everything. So, in some ways, this was already done.

I didn't see `threema:` in use at that time. I have no problem adding anything that we see usage for in amp documents, but it's not scalable to add every protocol imaginable either. The reason fo

[2016-06-22 22:05] #3165 closed

[2016-06-22 22:20] powdercloud commented on #3713
Hi Sidharth, I think your diagnosis as to how the code behaves is correct, as in, htmlparser.js emits a tag stream that nests the tags. Further, it is good that the amp php library agrees with that. Thank you.
I think the tag nesting behavior and so on is or should be tested with htmlparser_test.js - just like you did. If you see some gap, I think that'd be a good contribution as it ties down the

[2016-06-22 22:33] erwinmombay opened #3730 "don't fade buttons on carousel on desk when it is supposed to be always visible"

[2016-06-22 22:33] erwinmombay opened #3731 "don't fade buttons on carousel on desktop when it is supposed to be always visible"

[2016-06-22 23:11] lannka commented on #3707
MK and I looked at it offline. It is actually not the server slow, but actually the build.
In pasted screenshot, the line "All current JS updates done." is after many GET request, meaning the first page load is before the build being completed.

We could file another bug to trace the slow build.

[2016-06-22 23:11] #3707 closed

[2016-06-22 23:15] lannka commented on #3561
The continuous build is still failing from time to time, but that's different issues causing the flakiness. Tracked elsewhere.

[2016-06-22 23:15] #3521 closed

[2016-06-22 23:17] jpettitt commented on #3705
Nothing in the wild.  I just noticed it while I was messing around with the web based validator.  I was surprised it didn't squawk about the url not being [http, https, data] given how picky other pars of AMP are about sources.

[2016-06-22 23:35] Gregable commented on #3705
`<amp-img>` allows relative URLs as well. We squawk more for URLs that the amp cache can't rewrite to itself. If the cache can rewrite, we can make the URLs https.

[2016-06-22 23:35] #3705 closed

[2016-06-22 23:37] lannka commented on #3560
Do we have an ampproject official account on Heroku? If not yet, what email should I use to register? How the form should be filled up ;-)? @cramforce

![Heroku signup](https://cloud.githubusercontent.com/assets/8496897/16287345/3dd4ce4e-3897-11e6-94a0-71ade1b3cf6b.png)

[2016-06-23 00:17] cramforce commented on #3560
Use whatever email address and put the credentials into our credentials store.

[2016-06-23 00:25] mkhatib commented on #3348
@powdercloud any update on when can we get the validation stuff in for forms?

[2016-06-23 02:32] dvoytenko commented on #1298
If @cramforce 's flow is what we'd like, we should consider performance of scanning data attributes. In this case, a cheaper approach would be to:

1. Have a single (JSON encoded) `track` attribute. This will allow us to optimize DOM navigation using closest.
2. The `track` attribute should be lazily parsed and saved on the instance of the element. This would have good savings as well on parsing.

[2016-06-23 02:56] dvoytenko commented on #3663
@sriramkrish85 Let's make sure the iframe gets notified in either case when the size is denied.

[2016-06-23 04:39] erwinmombay commented on #3560
you can also use the admin@ampproject.org email which is in our credentials store

[2016-06-23 06:40] mkhatib opened #3736 "Form submission fail when using GET and native Fetch API"
GET requests can't have bodies. `amp-form` should use proper way to pass data (in body through FormData for POST, or as query params for GET) depending on method used.

[code]

[2016-06-23 06:55] sidkshatriya commented on #3713
@powdercloud Thanks for your detailed response.

I'm somewhat conflicted about the future (suggested) course of action. The main thing I was worried about is our html parser nesting the tags. Since `htmlparser.js` does the same and you've confirmed that it works as intended I think we can leave it at that. I also tried an experiment on Google Chrome without the ending tags and there too I can conf

[2016-06-23 07:07] sidkshatriya opened #3738 "[Validator] [Question] Moving to upper case tags in validator necessary?"
I noticed that in the validator source code base and in the protoascii file you seemed to have moved to upper case for tag names i.e. `BODY` instead of `body`, `HEAD` instead of `head` etc. Most of html written nowadays has the tags in lowercase. So, moving from lowercase as default to upper case as default has led to a lot of case conversions in the code. Long term, I feel this could be a source

[2016-06-23 09:21] bansalUdit opened #3740 "mean of this benefit"
I am brainstorming around AMP but not getting the mean of below Line

**In addition to this, Google SERPs have also started to display AMP content within visually dominating carousels that include large images**

[2016-06-23 09:38] bansalUdit commented on #3686
thanks !!!

[2016-06-23 09:40] #3686 closed

[2016-06-23 14:20] cramforce opened #3742 "1st class support for PWAs that load AMP docs."
Make it easy to build progressive web apps (PWAs) that load AMP documents as their primary content source. AMP documents in this model, would be the perma links, but a ServiceWorker can intercept them and instead deliver an app shell, which then loads the AMP document inside of it. Subsequent navigations would happen inside the app shell

- Support rendering AMP documents into Shadow DOM, where ea

[2016-06-23 14:21] cramforce commented on #3742
Implementation in

- #3728
- #3729
- #3725
- #3641
- #3525

[2016-06-23 14:43] poscar commented on #3719
@mkhatib Actually looks like ```'data-param-href'``` is required, otherwise the dialog automatically closes itself. Maybe it's is not properly picking up canonical rel <link>?

[2016-06-23 15:08] poscar opened #3743 "Protected and Deleted tweets do not embed properly"
When using the `<amp-twitter>` component, if we embed a tweet that has been protected or deleted, nothing gets displayed. The component should be graceful and render a deleted/protected tweet message instead.
## How do we reproduce the issue?

http://jsbin.com/pefawakuru/
## What browsers are affected?

All browsers
## Which AMP version is affected?

At least: `Version 1466016447690`
## Remarks

I

[2016-06-23 15:48] dvoytenko commented on #3743
/cc @rudygalfi

[2016-06-23 15:52] Gregable commented on #3738
The change was made because `element.nodeName` in the DOM APIs of browsers return upper case tag names. This is a performance optimization, exploring the use of DOM APIs in some contexts.

We have sufficient tests in our release process to catch any tag names not being upper case in the rules file, so as to avoid actual bugs.

Error messages are still being emitted in lower-case form, unchanged.

[2016-06-23 16:39] #3738 closed

[2016-06-23 17:01] #3610 closed

[2016-06-23 17:15] cramforce opened #3746 "Disallow resizing amp-iframe to below certain threshold"
It should not be allowed to sometimes hide `amp-iframe`. That is not what they are for. I think minimum resize height should be `100px`.

We should also deny resize requests that start out small.

[2016-06-23 17:36] jridgewell commented on #3740
![screen shot 2016-06-23 at 1 35 16 pm](https://cloud.githubusercontent.com/assets/112982/16313489/6ba3eeda-3947-11e6-88bb-c0edb3349cf7.png)

You can see the "visually dominating" AMP Carousel, vs a normal web result (the result under the carousel) when searching Google for [clinton].

[2016-06-23 17:36] #3740 closed

[2016-06-23 18:11] arajay opened #3749 "Whitelist Typography.com fonts"
Typography.com is a custom font provider. Their basic licensing agreement prohibits the download of their custom fonts; the only option for font embedding (without paying a hefty licensing fee) is to link to their cloud hosted stylesheet.

Example:
`<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6256354/724768/css/fonts.css">
`

This is a request to whitelist Typography.com CD

[2016-06-23 19:47] jpettitt opened #3753 "Chrome Validator extension stops working if left idle"
1. Open a page that is AMP enabled and then leave the tab for a period.
2. Continue doing other things in chrome with lots of tabs open.
3. Eventually chrome kills the background page belonging to the validator extension.
4. When you switch back to the tab with the original page and click the blue validator icon to get the AMP version nothing happens.

You can fix this by setting `"persistent": tr

[2016-06-23 19:49] dvoytenko commented on #3753
/to @Gregable

[2016-06-23 20:39] poscar opened #3754 "amp-iframe does not work for certain embeds"
amp-iframe does not work for certain types of embeds, even when specifying ```sandbox="allow-scripts allow-same-origin"```

How can we make this type of embeds work?

## How do we reproduce the issue?

http://jsbin.com/qodorurugu

The following errors are produced;
[code]

## What browsers are affected?

All browsers.

## Which AMP version is affected?

``` Version 1466016447690 ```

[2016-06-23 20:52] honeybadgerdontcare commented on #3753
Thanks for the suggestion. The change is pushed in v.1.0.6 which is now live on the [Chrome Web Store](https://chrome.google.com/webstore/detail/amp-validator/nmoffdblmcmgeicmolmhobpoocbbmknc). Your extension should update automatically in time, or you can force an update by enabling Developer Mode at chrome://extensions and then clicking "Update extensions now."

[2016-06-23 20:52] #3753 closed

[2016-06-23 20:56] jpettitt commented on #3753
Now that's a fast bug fix. Thx.

[2016-06-23 23:34] zhouyx opened #3758 "cannot read property 'classList' of null"
![image](https://cloud.githubusercontent.com/assets/5419904/16323506/24fc259c-3960-11e6-8872-e50b1d14fe1b.png)

[2016-06-23 23:35] cramforce opened #3759 "Experiment with applying sandbox to amp-ad iframe"
I think allowing everything except
- `allow-modals`
- `allow-orientation-lock`
- `allow-pointer-lock`

should work. The change would need to be limited to browsers that support `allow-popups-to-escape-sandbox` since the sandbox should not be applied to landing pages.

[2016-06-24 00:15] #3616 closed

[2016-06-24 00:37] muxin commented on #3492
#3616 is the same issue and is closed.

[2016-06-24 00:37] #3492 closed

[2016-06-24 04:22] erwinmombay opened #3770 "investigate error in amp accordion"
Error: D@https://cdn.ampproject.org/rtv/011466185787499/v0/amp-accordion-0.1.js:12:287 buildCallback@https://cdn.ampproject.org/rtv/011466185787499/v0/amp-accordion-0.1.js:10:179 build@https://cdn.ampproject.org/rtv/011466185787499/v0.js:245:386 build@https://cdn.ampproject.org/rtv/011466185787499/v0.js:121:106 upgraded@https://cdn.ampproject.org/rtv/011466185787499/v0.js:182:440 upgrade@https://c

[2016-06-24 12:58] annapareddy opened #3773 "Add mParticle"
## Objective
Add the built-in configuration tag for mParticle.
PR #3774

## Overview
We would like to add mParticle as an amp-analytics plug-in. The query string support for our APIs has already been shipped and ready to handle requests.

## Sample Client Implementation
Here are the examples that tracks pageview and click event

To send a pageview to mParticle:

[code]

To send a click event to mP

[2016-06-24 16:19] dvoytenko commented on #3554
@jaygray0919 Ok, I think I got what you'd like to do here. Wasn't quite sure whether you wanted to transform JSON for the purposes of `amp-list`, but it now sounds like you do. A follow up question here: how often would this be needed inside of the template? E.g. if we expanded the `<amp-list items="...">` protocol to allow something like this: `items="@type:PropChem"` - would that be sufficient?

[2016-06-24 16:42] jridgewell opened #3776 "Add state to VSync #measure and #mutate"
Currently, only `VSync#run` and `#runPromise` have the state param. We should add it to `#measure` and `#mutate` so we can avoid repeated closure allocations.

Re: https://github.com/ampproject/amphtml/issues/3718

[2016-06-24 16:54] dvoytenko commented on #3773
/cc @rudygalfi @avimehta

[2016-06-24 17:58] jridgewell commented on #3758
Please post the text next time.

[code]

[2016-06-24 18:06] erwinmombay commented on #3770
hmm looks like this is the sessionStorage issue

cc @zhouyx

[2016-06-24 18:06] jridgewell commented on #3758
Coming from:

[code]

Somehow, that `document`'s `body` isn't present yet.

[2016-06-24 18:11] erwinmombay commented on #3758
this should have been fixed in https://github.com/ampproject/amphtml/pull/3647/files i think

[2016-06-24 18:11] #3758 closed

[2016-06-24 18:12] erwinmombay commented on #3758
dupe of https://github.com/ampproject/amphtml/issues/3637

[2016-06-24 18:24] erwinmombay opened #3777 "update button in amp-live-list sometimes display even though it shouldn't be visible yet"
this is probably because styles are getting installed late or if the script is loaded late

[2016-06-24 18:26] erwinmombay commented on #3244
should be fixed through https://github.com/ampproject/amphtml/pull/3606

[2016-06-24 18:26] #3244 closed

[2016-06-24 18:27] avimehta commented on #1298
@senthilp @rajkumarsrk Do you think traversing up the tree and collecting all the variables along the way is needed for you use?

I was looking at the [instrumentation code](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/instrumentation.js#L286) and I feel like we shouldn't do any traversal other than what is already done. We should look at only the element whose se

[2016-06-24 19:32] senthilp commented on #1298
@avimehta We do not need to traverse the tree and our use case doesn't require it. We will only look at the target element on which the event triggered and extract the `data` attribute out of it. Hope this will reduce the complexity.

[2016-06-24 20:20] dvoytenko commented on #1298
@avimehta @senthilp While it might be better to use `data-` attributes when traversal is not needed, I'd still like to see if we can do a single `track` instead to be able to extend it in the future, since this seems like a natural thing. I'll loop in @cramforce to help make this decision.

[2016-06-25 01:27] jmadler opened #3780 "Update 3P/embed guidance docs"
Update [3P/embed guidance](https://github.com/ampproject/amphtml/blob/master/3p/README.md) docs, specifically to:
- Use more concise language
- Clarify that semantic AMP tags for embeds are preferred over amp-iframe
- Provide guidance on creating an AMP tag API
- `<please suggest others>`

[2016-06-25 01:28] jmadler commented on #909
Does amp-live-list cover this use case?

//cc @ericlindley-g, @erwinmombay

[2016-06-25 01:35] ericlindley-g commented on #909
Yes—thanks for pinging this thread. [amp-live-list](https://github.com/ampproject/amphtml/blob/master/extensions/amp-live-list/amp-live-list.md) covers the live blog use case for instances that aren't a third-party widget (which in most cases can just be shown in amp-iframe)

[2016-06-25 02:10] cramforce commented on #3780
I think the one thing we've learned is that we want

- concrete tags (e.g. a particular video player)
- but orthogonal semantics (it is a video player)

[2016-06-25 06:12] mkhatib opened #3782 "Avoid double hide/show calls on validation bubble"
This to track avoiding calling hide or show when we're already at the exact same state that we'll end up with after the call. Following up on [this PR discussion](https://github.com/ampproject/amphtml/pull/3734#discussion_r68446226).

[2016-06-25 22:11] dvoytenko opened #3783 "Confirm `on` action support multiple events and update docs"
`amp-html-format.md` documents `on` attribute and actions. However, it omits the fact that mutliple events can be defined this way via `;` separator. Please confirm this is the case and update the docs.

[2016-06-25 22:11] dvoytenko commented on #3783
/cc @rudygalfi @ericlindley-g

[2016-06-25 22:20] mkhatib commented on #3783
haha - will try it, I actually tried `,` but that didn't work, didn't try `;`

[2016-06-26 18:40] itsmsc commented on #3298
The change of the functionality on a stable component without backward compatibility mode is not a good idea...  While using amp-accordion as a navigation element, i will not return to the previous state. How can i prevent store the state?

[2016-06-26 21:12] jasti opened #3788 "Clarify Embed README documentation"
Under Embed https://github.com/ampproject/amphtml/blob/master/3p/README.md#embeds, provide an example of developing direct iframe embeds instead of using amp's 3p iframe mechanism for embeds.

"Direct iframe embeds not using our 3p iframe mechanism (used e.g. for ads) are preferred."

This statement can be interpreted incorrectly to suggest using amp-iframe instead of amp-ad.

[2016-06-27 05:16] mkhatib commented on #3783
Confirmed. Using `;` as a separator allows listening to multiple events.

[2016-06-27 10:05] juliantoledo commented on #3586
@cramforce We still have the issue, is it out in prod? could it be something on our side?
https://ampbyexample.com/components/amp-access/

[2016-06-27 14:02] mlb7687 commented on #3381
Fixed

[2016-06-27 14:59] cramforce commented on #3586
That appears to be unrelated to the bug fix.

@sriramkrish85 PTAL

[2016-06-27 16:59] cramforce commented on #1298
One more question: Which events would this apply to? I suppose it is urgent for click tracking, but I'm wondering if it would need to be supported elsewhere.

[2016-06-27 20:23] zhouyx opened #3792 "amp-sticky-ad: move close button content to CSS"
https://github.com/ampproject/amphtml/pull/3605#issuecomment-228126359

[2016-06-27 21:33] avimehta commented on #3459
If there are well defined actions, I would be interested in exposing those as part of analytics.

[2016-06-27 21:42] erwinmombay opened #3795 "RangeError: Maximum call stack size exceeded for amp-ad.js"
not sure if this is related to https://github.com/ampproject/amphtml/issues/3519

[code]

user agent: `Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-G920F Build/MMB29K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/4.0 Chrome/44.0.2403.133 Mobile Safari/537.36 `

page: https://cdn.ampproject.org/v/m.faz.net/aktuell/feuilleton/kino/goetz-george-der-verhinderte-kinosuperstar-14311718.amp.htm

[2016-06-27 21:51] cramforce commented on #3795
@erwinmombay How about adding a label for bugs created from production bug reports.

This definitely looks similarly weird. `w` is not recursive. The call where it fails is to `string.trim()`.

CC @jridgewell

[2016-06-27 22:23] jridgewell commented on #3795
What luck! I happen to have this exact phone at my desk.

[2016-06-27 22:31] jridgewell commented on #3795
But, it seems we're not reporting the hash fragment that lead us to this error. 😞

[2016-06-27 22:37] erwinmombay opened #3796 "June 27 2016 Meeting Notes"
## Google's AMP team weekly notes

2016-06-27
@cramforce
- Fixed regression in resource preloading with `<link rel=preload>` (was blocked by CSP)
- Build prototype for very deep linking. https://github.com/ampproject/amphtml/pull/3790
  - @jridgewell notes that he had to solve a similar question in his Google interview :)
- Build prototype for chunked rendering https://github.com/ampproject/amphtm

[2016-06-27 22:51] cramforce commented on #3795
Maybe we should start collecting it in error reports. But it can be
misleading as things can get transitioned by `postMessage`.

On Mon, Jun 27, 2016 at 3:31 PM, Justin Ridgewell <notifications@github.com>
wrote:

[2016-06-27 23:04] zhouyx opened #3797 "Error: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document."
[code]

[2016-06-27 23:07] zhouyx commented on #3797
from `amp-accordion.js` line 102.
   ` try {
      const sessionStr = this.win_./*OK*/sessionStorage.getItem(this.id_);
      return JSON.parse(sessionStr);
    }`

[2016-06-27 23:08] zhouyx commented on #3770
#3797

[2016-06-28 00:37] cramforce opened #3799 "Support autoplay video in AMP"
This is just a placeholder ticket for now :)

[2016-06-28 01:11] erwinmombay commented on #3795
here's another one, different stack

[code]

[2016-06-28 01:16] erwinmombay commented on #3797
@zhouyx can you mark one as dupe and close the other one? we don't need to keep both

[2016-06-28 01:20] erwinmombay commented on #3795
[code]

agent: `"Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-G920F Build/MMB29K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/4.0 Chrome/44.0.2403.133 Mobile Safari/537.36`

page: https://cdn.ampproject.org/v/s/amp.marca.com/futbol/eurocopa/2016/06/27/57713ef1ca474104478b45ad.html?amp_js_v=5

[2016-06-28 01:27] #3770 closed

[2016-06-28 01:27] zhouyx commented on #3797
close #3770

[2016-06-28 01:28] zhouyx opened #3801 "Cannot read property 'defaultView' of undefined"
[code]

[2016-06-28 01:30] erwinmombay commented on #3801
@zhoresh please also add user agent and the page the error occurred on

[2016-06-28 01:31] erwinmombay commented on #3801
@zhouyx please also add user agent and the page the error occurred on

[2016-06-28 01:34] zhouyx commented on #3801
Request
https://cdn.ampproject.org/c/www.repubblica.it/economia/finanza/2016/06/26/news/meridiana_al_via_la_trattativa_decisivatra_sindacati_e_qatar-142865954/amp/
Referrer
https://cdn.ampproject.org/c/www.repubblica.it/economia/finanza/2016/06/26/news/meridiana_al_via_la_trattativa_decisivatra_sindacati_e_qatar-142865954/amp/
User agent
Mozilla/5.0 (Linux; U; Android 4.2.2; it-it; SM-G350 Build/J

[2016-06-28 07:32] #3715 closed

[2016-06-28 07:33] BenDz commented on #3585
@avimehta Have you been able to add this extra & to our integration?
Do you want me to add it?
A few customers are waiting for this improvement, the faster we can have it, the better it will be.
Thank you

[2016-06-28 10:02] amans1690 opened #3802 "Update AMP Validator to understand amp-ad as an extension"
## Short description of your issue:
AMP Validator reporting Issue on `<script src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" custom-element="amp-ad" async></script>`

The error message as reported by AMP Validator is

.

## How do we reproduce the issue?
URL: http://m.timesofindia.com/amp_articleshow_test/52948167.cms#development=1
See the console tab in developer tools in chrome

## Which AMP

[2016-06-28 10:22] RossMcMillan92 opened #3803 "amp-facebook has a minimum-width of 350px, causing overflow issues on small devices"
## Short description of your issue:

Text posts in an amp-facebook tag have a minimum-width of 350px applied to the iframe, causing overflow issues on small devices. This is regardless of what you manually set as the width on the amp-facebook tag.

## How do we reproduce the issue?

Visit the amp-facebook by example page and resize the browser to 350px and under. Notice MZ's text post is cut off a

[2016-06-28 10:46] jaygray0919 opened #3804 "Nested accordion"
Accordions can be nested in other accordions.
Nice work.

[2016-06-28 12:38] jaygray0919 commented on #3554
@dvoytenko Really appreciate your attention to this issue. Would it make sense to have a quick concall to make sure we are on the same page? Lemme know.

WRT your question. JSON-LD documents can be deeply nested (highly recursive). I've looked at several of our schema.org JSON-LD documents; several are 4 levels (`{@type-1 {@type-2 {@type-3 {@type-4}}}}`). But we have others that are deeper (using

[2016-06-28 13:38] jaygray0919 commented on #3796
very helpful.

[2016-06-28 13:46] braraujo opened #3805 "Amp-social-share doesn't open email agent on IOS"
When using amp-social-share the email agent is not being opened on IPhone and IPOD 6 using Safari browser.

## How do we reproduce the issue?
1. Open the safari browser in an Iphone 5 or 6.
2. Open the AMP page http://app.eltiempo.com/contenido/politica/partidos-politicos/ARTICULO-WEB-AMP-16624792.html
3. Click in the email icon between gplus and whatsapp..
4. It will open a blank screen and no em

[2016-06-28 14:15] cramforce commented on #3554
Could you attach a few sample data files to this issue?

[2016-06-28 14:27] cramforce opened #3806 "404 images fail to terminate loading animation"
See
E.g. https://cdn.ampproject.org/c/s/www.yahoo.com/amphtml/style/uh-oh-did-luke-skywater-203831242.html
that has a bunch of images that 404 and continue to show the 3 dots. it should be clearly communicated to the user that something went wrong. I think just showing the default broken image is fine.

[2016-06-28 16:12] Gregable commented on #3802
I can't access the URL, but I suspect what is going on is that you have this tag in your HTML body, either explicitly, or by including a tag not allowed in the head before including this tag.

[2016-06-28 16:33] amans1690 commented on #3802
@Gregable You can open the url on chrome
1. for opening the url you have to first set the user agent in chrome dev tools to iphone4 or nexus4/5
2. Then try to access the url

I have already looked to the advice provided by in the previous issues but that wasn't the issue here. Please look into this.

FYI: I have included the `<script src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" custom-element

[2016-06-28 16:35] amans1690 opened #3807 "AMP Validator reporting Issue on <script src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" custom-element="amp-ad" async></script>"
## Short description of your issue:
AMP Validator reporting Issue on `<script src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" custom-element="amp-ad" async></script>`

The error message as reported by AMP Validator is

.

## How do we reproduce the issue?
URL: http://m.timesofindia.com/amp_articleshow_test/52948167.cms#development=1
See the console tab in developer tools in chrome

@Gregable You

[2016-06-28 17:55] jridgewell commented on #3807
`<amp-ad>` is special in that you do not have to explicitly include it on the page for it to be loaded.

@cramforce, should we allow users to explicitly include it? If so, @zhouyx, we'll need to detect if it's already included.

[2016-06-28 18:03] cramforce opened #3808 "JSCompiler_prototypeAlias virtual variable isn't getting minified"
Nice code size win to be picked up with little work :)

[2016-06-28 18:16] #3804 closed

[2016-06-28 18:17] jridgewell commented on #3805
@mkhatib, were you the one testing `target=_blank`?

[2016-06-28 18:19] mkhatib commented on #3805
Yes will take a look. I think we've seen this before but I remember we addressed it. Will check to see why this is no longer working.

Thanks for filing!

[2016-06-28 18:20] rudygalfi commented on #3807
The current documentation calls for this in usage of `amp-ad`. Seems like the validator needs to accept this?

[2016-06-28 18:24] erwinmombay commented on #3808
I don't think that that was there before, what changed?

[2016-06-28 18:25] avimehta opened #3809 "Update Analytics Documentation"
AMP analytics documentation needs to be updated. Things to be changed:

- Move vendor list to a separate file to make documentation easier to read.
- Document a way to sample requests
- Document various places where url expansion occurs.

[2016-06-28 18:26] cramforce commented on #3808
This is a flag I turned on (Prototype aliasing). I thought I fixed this before, but it must have regressed.

[2016-06-28 19:03] amans1690 commented on #3807
@rudygalfi You are correct. That is why I included `<script src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" custom-element="amp-ad" async></script>` in the head tag.

@jridgewell It is mentioned in [https://www.ampproject.org/docs/reference/amp-ad.html](https://www.ampproject.org/docs/reference/amp-ad.html) under **Required Script** field.
This confuses the developers.

I have removed the explic

[2016-06-28 19:47] Gregable commented on #3802
Ah, yes. The validator doesn't know about the amp ad extension. In the past, the code was built into the main runtime, but it appears that it was refactored recently into a separate file (https://github.com/ampproject/amphtml/pull/2902).

As a temporary workaround, removing the `<script src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" custom-element="amp-ad" async></script>` for now should work.

[2016-06-28 19:48] jridgewell commented on #3807
Dupe of https://github.com/ampproject/amphtml/issues/3802#event-706841605.

[2016-06-28 19:48] #3807 closed

[2016-06-28 19:49] Gregable commented on #3807
Copying my comment from the other thread:

[2016-06-28 19:50] Gregable commented on #3807
Oops, I misread which one you duped where.

[2016-06-28 21:20] #3599 closed

[2016-06-28 21:21] #3594 closed

[2016-06-28 21:30] jasti opened #3812 "Fix Viewability for amp-fx-flying-carpet component"
The problem with the current amp-fx-flying-carpet is that the viewability reported is that of the container and not the ad inside the container.
CC @jridgewell @kashyapnitin

[2016-06-28 21:30] ericlindley-g opened #3813 "Provide state-storage opt-out for amp-accordion"
Provide attribute to opt out of preserving state of `amp-accordion`— currently collapsed/expanded state is preserved as the session level

Addresses issue identified in #3298

[2016-06-28 21:31] ericlindley-g commented on #3298
Good point—there's no way to prevent the storage of state right now, but I've opened a new issue as a feature request [here](https://github.com/ampproject/amphtml/issues/3813)

[2016-06-28 21:47] Gregable commented on #3578
I took a read through https://www.w3.org/TR/SVG/styling.html#StylingWithCSS and didn't find anything referencing URLs in style attributes. Of course you can have a `<style>` tag in there, but we won't allow that anyway. @dvoytenko Have you found anything?

[2016-06-28 21:50] jasti opened #3815 "Expose AMP extension name when embedding amp-ad"
amp-ad can be embedded within AMP extensions like amp-sticky-ad and amp-fx-flying-carpet. AMP should expose the extension housing the amp-ad, so ad networks can expose this information to bidders. Bidders can then use this information to price the ad requests appropriately.
CC @cramforce @michaelkleber @kashyapnitin

[2016-06-28 21:53] cramforce commented on #3578
`style="background: url(…)"` would definitely work. If we allow this, we'd have to apply the CSS rules here in the validator.

[2016-06-28 22:20] jasti opened #3817 "Show default fallback when no ad is available to serve"
On AMP pages when an adserver doesn't respond with an ad, the AMP runtime will collapse the ad as long as it doesn't affect the user scroll position. amp-ad also supports a fallback attribute which is shown when ad isn't available for the slot.

In cases where the ad slot can't be collapsed and the publisher hasn't provided a [fallback] we show blank boxes, which is not good UX. Instead, we should

[2016-06-28 22:25] jridgewell commented on #3817
Should show prioritize the provided `[fallback]` element, falling back to one of the defaults you've suggested, when we can't resize?

[2016-06-28 22:32] cramforce commented on #3817
@jridgewell Yeah, the idea is to make a fallback for the fallback if the page does not provide one.

[2016-06-28 22:35] jasti commented on #3817
Yup, I've also updated the issue with case. Priority is
Try to show ad > Publisher provided fallback > Try to collapse > Default fallback (this issue)

[2016-06-28 22:41] jridgewell commented on #3817
Whoops, I misread.

[2016-06-28 22:46] avimehta commented on #3585
Hi @BenDz, sent out #3818

[2016-06-28 22:50] jasti commented on #3806
Same as #2585?

[2016-06-28 22:52] erwinmombay commented on #3806
@jasti yes. looking into this too since high priority

[2016-06-29 00:07] cramforce commented on #3817
It is worth reconsidering whether collapse should have higher priority over
pub-supplied fallback.

On Tue, Jun 28, 2016 at 3:41 PM, Justin Ridgewell <notifications@github.com>
wrote:

[2016-06-29 00:29] Gregable commented on #3578
I recommend not allowing this, considering.

[2016-06-29 01:00] muxin commented on #3746
If the resize height is less than 100px, do we still update the width? or we just deny the whole resize request?

[2016-06-29 01:03] cramforce commented on #3746
Deny all.

On Tue, Jun 28, 2016 at 6:00 PM, Yuxi Chen <notifications@github.com> wrote:

[2016-06-29 03:41] #3662 closed

[2016-06-29 05:29] erwinmombay commented on #2585
closing this as new work is being done in #3806 by @zhouyx

[2016-06-29 05:29] #2585 closed

[2016-06-29 05:39] erwinmombay commented on #3777
closed by https://github.com/ampproject/amphtml/pull/3816

[2016-06-29 05:39] #3777 closed

[2016-06-29 05:42] erwinmombay commented on #3516
closed by https://github.com/ampproject/amphtml/issues/3516

[2016-06-29 05:42] #3516 closed

[2016-06-29 05:52] erwinmombay commented on #1846
fixed in https://github.com/ampproject/amphtml/commit/7a49b0bfaee866a2b71430316623e1d7aa7f3f46

[2016-06-29 05:52] #1846 closed

[2016-06-29 07:02] erwinmombay commented on #3191
closed via https://github.com/ampproject/amphtml/pull/3198

[2016-06-29 07:02] #3191 closed

[2016-06-29 07:04] erwinmombay commented on #3330
closed via https://github.com/ampproject/amphtml/commit/ce933b65f7c862359957940aa31441d0de710d8b

[2016-06-29 07:04] #3330 closed

[2016-06-29 07:06] erwinmombay commented on #3308
#3249 is in prod

[2016-06-29 07:06] erwinmombay commented on #3307
#3249 is in prod

[2016-06-29 07:11] erwinmombay opened #3824 "remove `no-auth-in-prerender` flags and switches"

[2016-06-29 08:12] Jxck commented on #3517
@dvoytenko  that seems `<amp-picture>` with source, not `<amp-select-one>`.

[2016-06-29 16:18] jasti opened #3829 "Support serving A4A creatives in non-AMP pages"
#3133 AMP Ads for AMP Pages will have great performance for AMP ads in AMP Pages.

Can we get any performance benefits when serving AMP Ads to non-AMP pages?
Placeholder issue to explore.
CC @cramforce @michaelkleber

[2016-06-29 16:46] jasti opened #3830 "Switch loading animation from 3 dots to something else"
Extensions like amp-img show '3 dots' animation when loading. We could have a better animation. Need UX guidance. This should also apply to all other extensions while loading, as well.
CC @cramforce if there is more background.
CC @rudygalfi

[2016-06-29 16:52] jasti opened #3831 "For amp-ad, provide placeholder animation while ad is loading"
Ads can take longer to render compared to content in the article. When ad is loading, there is no indication to the user and AMP will simply show a blank when loading. We should show a placeholder animation while ad is loading. Apply same animation as #3830.

One issue is that we have no idea how long it takes to load the ad. We use the onload event of the ad iframe, but that often fires within mi

[2016-06-29 17:19] cramforce commented on #3830
This is just my taste, but I find the default a bit weak. UX people should chime in.

[2016-06-29 17:20] cramforce commented on #3831
@jasti The idea is a good one, except that I'd be worried that we keep paying the price of the animation when it is no longer visible.

[2016-06-29 17:21] cramforce commented on #3831
It would also mean that iframe would need to be transparent, which may or may not work; and that if no ad ever loads but also doesn't tell us, it would keep spinning.

[2016-06-29 19:03] jasti commented on #3831
@cramforce Sounds like worth experimenting with a different solution then.
The case where "if no ad ever loads but also doesn't tell us, it would keep spinning." - suggestion to set a reasonable timeout and replace with pub or default fallback.

Still think deterministically showing something, animation or fallback is better than blank white space.

[2016-06-29 19:24] sebastianbenz opened #3835 "Prevent links in standalone web apps opening Mobile Safari"
The default behavior for iOS web apps in [standalone mode](https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html) to open links in mobile safari and leave the standalone modus. This is unwanted behavior for AMP sites in standalone mode.
## How do we reproduce the issue?
1. Add https://ampbyexamp

[2016-06-29 19:32] camelburrito opened #3836 "Lightbox pinch and zoom causes scroll leak on IOS"
open
https://www.google.com/amp/www.sfgate.com/news/amp/A-s-reinstate-Josh-Reddick-from-DL-8330664.php?client=ms-android-google#

on IOS Safari,

Click on the 'Read full caption' link on the carousel -> lightbox opens up , play with pinch and zoom and some how you will be able to scroll the page with the light box on and you will see higher z-indexed items on top of the lightbox.

![img_1436](http

[2016-06-29 19:34] sriramkrish85 commented on #3836
cc @cramforce @dvoytenko @ericlindley-g @rudygalfi

[2016-06-29 19:42] avimehta commented on #1298
This would apply to click targets for now. I think it could be applied to selectors in viewability trigger as well(We can implement this in future though if a request for it comes along).

[2016-06-29 20:30] cramforce commented on #3835
Do we do anything special with these links right now?

[2016-06-29 20:31] cramforce commented on #1298
Cool, then lets just implement the `data-var-` scheme.

[2016-06-29 20:39] rudygalfi commented on #1298
Thanks @cramforce. `data-var-` SGTM.

@senthilp @rajkumarsrk Do you have all of the decisions you need to put together a PR?

[2016-06-29 20:44] rajkumarsrk commented on #1298
@rudygalfi Some clarification needed here is can we have all the vars as one group like `data-vars="{"eventId":"42","eventLabel":"clicked on a link"}"
`
or is it has to be of `data-var-eventId="42" data-var-eventLabel="clicked on a link" `

[2016-06-29 20:46] mkhatib commented on #3835
I don't believe we are. The global document listener is only added on iframe'd documents. These don't look iframe'd.

We're sure this is not Safari's default behavior with standalone web apps? Will test this out a bit and see what's happening.

[2016-06-29 20:55] avimehta opened #3837 "Analytics: Expand extraUrlParams in vendor-requests.json"
In amp-analytics text names `vendor request tests`, we check for all the requests generated by the vendors. Currently the extraUrlParams variable in the requests shows up as `$extraUrlParams`.  Expanding the variable to contain all the extra parameters will make the test more meaningful.

[2016-06-29 20:57] rudygalfi commented on #1298
I prefer `data-var-eventId="42" data-var-eventLabel="clicked on a link"`

[2016-06-29 20:57] lannka commented on #3690
Did some experiments.

- Latest Chrome, FireFox, Edge, Opera have full support of `window.crypto.subtle.digest()`;
- Safari supports it with `window.crypto.webkitSubtle.digest`.
- IE11 supports it with `window.msCrypto.subtle.digest()`; however, `SHA-1` is not supported; and the return is not a `Promise`

Basically all browsers AMP supports have usable implementations except Android 4.x system bro

[2016-06-29 21:02] cramforce commented on #3690
What I think we should do is:

- create a `CryptoService` or similar
- use that across this, analytics, CID, etc.
- have it use builtin by default
- and late load closure otherwise.

[2016-06-29 21:05] mkhatib commented on #3835
Ok, just created this [jsbin to test this out](https://output.jsbin.com/kufigor/quiet) - try adding it to homescreen and open it from there. It does seem iOS opens links in Safari regardless (tried setting `target=_self` or `target=_top` but it still opens them in Safari when in standalone.

@sebastianbenz do you have an example where this is not happening and instead links are navigated in the st

[2016-06-29 21:08] sebastianbenz commented on #3835
This is actually the normal behavior on Safari. The [workaround](https://gist.github.com/kylebarrow/1042026) I've linked is a common approach to solve this problem.

[2016-06-29 21:10] PaulKinlan commented on #3835
I wrote this a short while ago to handle a lot of the edge cases for what iOS does in standalone mode. https://gist.github.com/PaulKinlan/d66f777f5bde04926f29fc5c7ff345e7

[2016-06-29 21:15] jpettitt commented on #3743
Adding to this if you do have a placeholder the element doesn't resize to hold it.

http://jsbin.com/wopayu/edit?html,output

[2016-06-29 21:15] mkhatib commented on #3835
Ah I see. I totally misread this at first - rereading the issue clarify what you meant. Thanks both! We could definitely use the global click handler in AMP to make sure this happens. Thanks for the links.

@cramforce I think we should do this for sure for same-origin or relative links, let me know what do you think.

[2016-06-29 21:38] cramforce commented on #3835
SGTM

[2016-06-29 21:55] rudygalfi commented on #1298
Confirmed with @cramforce and @avimehta off-thread. We will go with `data-var-eventId="42" data-var-eventLabel="clicked on a link"` as I wrote above.

[2016-06-29 21:57] rajkumarsrk commented on #1298
@rudygalfi  Thanks for confirming

[2016-06-29 22:09] ericlindley-g commented on #3788
@jasti:  I'm putting this in the Backlog milestone, but please correct/update as needed

[2016-06-29 22:10] ericlindley-g commented on #3780
@jmadler:  I'm putting this in the Backlog milestone, but please correct/update as needed

[2016-06-29 22:14] muxin commented on #3795
[code]

agent: Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-G920F/G920FXXS3DPD2 Build/MMB29K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/4.0 Chrome/44.0.2403.133 Mobile Safari/537.36

page: https://cdn.ampproject.org/v/internacional.elpais.com/internacional/2016/06/28/actualidad/1467141517_210077.amp.html?amp_js_v=5

[2016-06-29 22:17] ericlindley-g commented on #3754
@poscar  It looks like the specific embed not working inside an iframe here is [The Platform](https://www.theplatform.com/). Are you seeing this with other embeds as well?

@cramforce FYI — added this into the Backlog

[2016-06-29 22:18] jasti commented on #3788
Should be a 2 second doc update. @cramforce, if you can quickly look or assign to someone for a quick update here.

[2016-06-29 22:22] ericlindley-g commented on #3743
@rudygalfi @dvoytenko  — adding this to the Backlog milestone; please correct/update as needed

[2016-06-29 22:24] ericlindley-g commented on #3712
@jridgewell   — adding this to the Backlog milestone; please correct/update as needed (not sure if this folded entirely into the "next" work in #3318)

[2016-06-29 22:26] ericlindley-g commented on #3636
@erwinmombay Assuming this goes in "next", but please correct/update as needed

[2016-06-29 22:27] ericlindley-g commented on #3697
Adding this to the backlog milestone; please feel free to update/correct

[2016-06-29 22:32] ericlindley-g commented on #3709
@cramforce  — slotting this in the Fixit milestone, but please correct/update as needed

[2016-06-29 22:58] ericlindley-g opened #3840 "Improve clarity of swipe affordance for <amp-carousel>"
Given the plans to improve amp carousel UX as its own project later on, I favor a short-term stop-gap of just increasing the time that the affordance is shown before hiding it.

@sriramkrish85 currently, how long after coming into view is the arrow shown, before it hides?

[2016-06-29 23:05] sriramkrish85 commented on #3840
The arrows are shown as soon as viewportCallback is triggered i.e as soon as the carousel is in viewport.
From when the arrow is show to when it is hidden - it is 1second (1s css animation on opacity + toggle visibility)

[2016-06-29 23:07] rudygalfi commented on #3812
Is this blocking to fix before amp-fx-flying-carpet goes out of experimental?

[2016-06-29 23:07] ericlindley-g commented on #3831
@cramforce @jasti  — slotting this in Backlog, given this is under discussion, but please correct/update as needed

[2016-06-29 23:08] ericlindley-g commented on #3830
@cramforce @jasti  — slotting this in Backlog, given this is under discussion, but please correct/update as needed

Adding @edlea-g for UX input

[2016-06-29 23:15] #3788 closed

[2016-06-29 23:17] rudygalfi commented on #3797
Putting in Current — assume this is in progress?

[2016-06-29 23:19] rudygalfi commented on #3713
@Gregable Do you want to keep this open or close it out?

[2016-06-29 23:22] rudygalfi commented on #3792
Can this be closed because of #3811?

[2016-06-29 23:27] senthilp commented on #1298
I think we have most of the information to begin implementation. We will work on it starting next week.

[2016-06-29 23:39] zhouyx commented on #3792
yes😄

[2016-06-29 23:39] #3792 closed

[2016-06-30 00:16] Gregable commented on #3713
Let's close the issue. I'm also fine with a PR for making our test cases more tidy, but I don't see this as an issue that needs to remain in the backlog.

[2016-06-30 00:16] #3713 closed

[2016-06-30 01:49] pbakaus opened #3842 "amp-sidebar: Allow display of sidebar content based on media query"
Currently, it's not possible to re-use the same markup within the sidebar and show the content on Desktop, then hide it and show it as sidebar on mobile.

This forces us on https://amproject.org/docs to replicate the menu content in two places in the markup.

Would be great to be able to hide/show the sidebar's content based on media queries.

[2016-06-30 11:22] jaygray0919 commented on #3554
@cramforce Yes; BBTY with a range of examples.

[2016-06-30 14:31] poscar commented on #3754
@ericlindley-g So far this is the only one we've bumped into, but we'll update this issue if we notice others.

[2016-06-30 14:45] cramforce commented on #3754
We cannot and will not support Flash. If the embed doesn't actually rely on Flash it will need to be updated to correctly handle the case where the load fails.

[2016-06-30 14:45] #3754 closed

[2016-06-30 15:00] SetTrend opened #3845 "Is there an Amp forum? (Gitter perhaps?)"
Please pardon me for being sort of off-topic (and then, not being off-topic again).

I can't find a link to a forum at https://www.ampproject.org/ nor here where to talk to Google staff to discuss the impact of utilizing AMP on my client's website.

Is there some forum for this?

Do I need to join a Google Hangout session?

[2016-06-30 15:24] erwinmombay commented on #3845
@SetTrend howdy, take a look at https://github.com/ampproject/amphtml/blob/master/DEVELOPING.md to join our mailing lists and/or join our slack channel.

@rudygalfi should we have a contact us page on the site?

closing this, feel free to open if you have more questions.

[2016-06-30 15:24] #3845 closed

[2016-06-30 15:30] jasti commented on #3812
No, not blocking on beta. Technically it's not a bug and a FR because this format on non-AMP pages don't really report on viewability either.

[2016-06-30 15:59] cramforce commented on #3845
https://groups.google.com/forum/#!forum/amphtml-discuss is great for this.

On Thu, Jun 30, 2016 at 8:24 AM, erwin mombay <notifications@github.com>
wrote:

[2016-06-30 16:28] Gregable commented on #3348
How important is the "at least one `<input type=submit>` child" constraint. We noticed that forms could be submitted even without a submit button, such as a text input field and pressing `<enter>`.

[2016-06-30 16:35] SetTrend commented on #3845
Thanks for all your valuable ansers.

@cramforce:
I wouldn't want to discuss my issues with users. I'm more interested in Google's point of view on utilizing AMP on commercial sites etc. in regard to ranking. There's some competition relevant issues I need to know about which I wouldn't want to be discussed with users.

[2016-06-30 16:35] benjamingram opened #3847 "Support multiple requests per trigger"
It would be nice to be able to fire multiple requests from a single trigger. One use case is registering a single click trigger as both a "click" and a "conversion".

One way to accomplish this would be to accept an array for the value of the "request" property of the trigger. For simple use cases and backwards compatibility, accepting a string literal should still be supported.

## Original (Stil

[2016-06-30 16:56] cramforce commented on #3845
Ah, this is not a good place to ask Google related questions as AMP is an
independent project. Google does have a forum for AMP questions
https://goo.gl/utQ1KZ

On Thu, Jun 30, 2016 at 9:35 AM, Axel D. <notifications@github.com> wrote:

[2016-06-30 17:58] michaelkleber commented on #3829
Once we're ready to serve ads in AMP format, we will indeed run experiments with placing them on both AMP and non-AMP pages.

[2016-06-30 18:18] rudygalfi commented on #3847
It seems reasonable to me to be able to parse `request` as either a single value or an array of single values.

[2016-06-30 18:27] honeybadgerdontcare commented on #3697
The [AMP Validator Chrome extension](https://chrome.google.com/webstore/detail/amp-validator/nmoffdblmcmgeicmolmhobpoocbbmknc) now identifies cdn.ampproject.org as a cache and uses @jpettitt advice to show a link icon instead of trying to validate. The [extension's code](https://github.com/ampproject/amphtml/tree/master/validator/chromeextension) is also now public.

[2016-06-30 18:27] #3697 closed

[2016-06-30 18:31] rudygalfi commented on #3697
Nice! Landed on a page today I was hoping/expecting to be valid AMP but wasn't. Then I realized the cache was serving it and it was actually fine.

The new behavior is a much better UX.

[2016-06-30 18:33] erwinmombay commented on #3697
super happy to see the extension is now open source 👍

[2016-06-30 18:36] erwinmombay opened #3848 "run copyright presubmit checks on chromeextensions code"
we can exclude this code from runtime presubmits but we definitely still want to run things like copyright check on it etc.

https://github.com/ampproject/amphtml/pull/3839/files

[2016-06-30 18:41] zhouyx commented on #3797
#3813

[2016-06-30 19:20] mattc1176 commented on #2504
Hi there...I stumbled across this thread as I'm having issues trafficking an interscroller unit on mobile and was hoping for some help. It is a celtra tag, and I'm trying to get it up on several publishers that all use DFP. One has made it work using the out-of-page inventory size. However, not all sites use that placement. Does anyone have any insight on how to get this to serve using a different

[2016-06-30 19:31] jasti commented on #2504
@mattc1176 Do you have a link to the publisher that made it work?

[2016-06-30 19:50] mattc1176 commented on #2504
Thanks for the reply, the one pub it's running on has a ton of sites so to try and find it live will not really work. The basic instructions from them are below:
1-	set it up as an out-of-page with the custom OutOfPage creative.
2-	Make sure to add the impression macro as follow : <img src="%%VIEW_URL_UNESC%%data:image/png,celtra"
3-	remove the checkmark in Serve into a SafeFrame otherwise the cre

[2016-06-30 20:10] mkhatib commented on #3348
Not very important. This was mainly trying to make sure publishers include a submit button (specially on mobile). We can do with runtime error or warning for now.

[2016-06-30 20:58] andyrusiecki opened #3851 "Intent To Implement: Kargo ad network for amp-ad"
# Overview

Adding support for the [Kargo](http://kargo.com) Ad Network to `<amp-ad>` elements.

## Comments

Kargo will submit a PR for a `kargo/amp-ad` branch from Kargo's `KargoGlobal/amphtml` fork.

[2016-06-30 21:02] #3773 closed

[2016-06-30 21:13] cramforce commented on #3851
LGTM.

Looking forward to the PR!

[2016-06-30 21:15] sriramkrish85 commented on #3298
@itsmsc the state retention is only for that particular session (if you kill and open another window/session expires then state would be gone). The state is not retained for ever.

[2016-06-30 21:24] poscar opened #3854 "amp-soundcloud embeds with secret tokens fail to validate."
amp-soundcloud embeds that contain a secret token fail to validate even though they render correctly.

## How do we reproduce the issue?

http://jsbin.com/godizahapo#development=1

Validation produces the following:
[code]

## What browsers are affected?

All browsers

## Which AMP version is affected?

``` Powered by AMP ⚡ HTML – Version 1466185787499 ```

## Remarks
I believe the rules for valid

[2016-06-30 21:30] honeybadgerdontcare commented on #3348
Are all other* [input attributes](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input) optional?

What about [textarea](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea), [select](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select) and [option](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option)?

*everything except type=”file|password|imag

[2016-06-30 21:52] honeybadgerdontcare commented on #3348
I noticed in the [amp-form documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md) that the example includes `fieldset` and `label`. We currently do not allow these. Are we intending to allow them here only as children of `form` and only if `amp-form` extension is included?

[2016-06-30 22:09] Gregable commented on #3854
@mkhatib, the original request for this was in https://github.com/ampproject/amphtml/issues/1732 . Do you have a preference on how we validate this?

[2016-06-30 22:11] cramforce commented on #3298
It is also only for a particular URL. Every other page won't have the state
memorized. The primary use case is that a mobile browser reloads a page
after it ran out of memory and it still looks the same.

On Thu, Jun 30, 2016 at 2:15 PM, Sriram Krishnan <notifications@github.com>
wrote:

[2016-06-30 22:16] pdufour opened #3855 "Support for tracking visibility of elements not in the DOM yet"
## Short description of your issue:

It would be great if you could add a visibility tracker for an element that is not in the DOM yet. Is this something that you see being added in the future?
## How do we reproduce the issue?
1. Add visibility-spec with selector for element not in DOM yet
2. Throws error.
## What browsers are affected?

All browsers
## Which AMP version is affected?

Latest

[2016-06-30 22:32] djamrozik opened #3857 "<amp-analytics> not possible to be added inside of <amp-list>"
## Short description

Inside of the `<template>` tag of `<amp-list>`, I have items which I need to track using some of the features of `<amp-analytics>` (I'm adding this tag inside of the template). However, whenever added inside of this tag, the following errors occur and the template does not render at all.

[code]
## How do we reproduce the issue?

This can be reproduced by pasting a basic `<am

[2016-06-30 23:10] rudygalfi commented on #3857
`"on": "visible"` wouldn't work this way in any case since it's keyed on page visibility. By the time the amp-list is working, the page visible event has already passed. I suppose an exception to this would be the newly added `visibilitySpec` features that were added.

Can you elaborate on the use case? I'm curious what kind of setup requires bringing in the `amp-analytics` functionality within a

[2016-06-30 23:26] djamro2 commented on #3857
@rudygalfi Sorry, I was just using that as a sample script in amp-analytics. (which works outside `amp-list` but produces that error inside)

An actual use case would be rendering a long list of items through `amp-list` and adding a visibility trigger based on the item's id (selector based visibility, added recently in #3512). I.e. when the item has been in viewport for enough time, fire the reque

[2016-07-01 00:18] src-code commented on #3857
It seems like this is more of an issue for vars, which would be addressed by upcoming analytics support for vars in custom data attributes.  @djamro2's viewability example could be addressed by putting a blanket trigger on each element of a certain type, and then the data attributes could be used to provide item-specific data for the beacon as each item becomes viewable.

[2016-07-01 09:14] itsmsc commented on #3298
Thank you @ericlindley-g for opening the new issue.

@sriramkrish85 / @ cramforce: I'm undestand the intention and functionality of this change. But i'm working the last weeks on an project to deliver a whole website with AMP-Pages (Unfortunately not public yet). The TopLevel-Navigation (Burger-Style) and other navigation-elements on Subpages using amp-accordion. A expanded Navigation-element on r

[2016-07-01 10:15] sebastianbenz opened #3861 "In standalone mode use target="_blank" on anchors to external pages"
Automatically open anchors to external pages with target="_blank" in Chrome on Android. This avoids  getting stuck in the external page on devices without native back button:

[code]

[source](https://developers.google.com/web/updates/2015/10/display-mode?hl=en)

On mobile safari this happens automatically (there we have the opposite problem #3835).
## How do we reproduce the issue?
1. Mobile Chro

[2016-07-01 13:25] kul3r4 opened #3862 "amp-sticky-ad should enforce style for close button"
## Short description of your issue:

amp-sticky-ad generates a html button element to give the user the chance to close the ad. It should enforce min-width=0 !important on the class associated to the button otherwise it will not work when user has specific css for the button already defined.
## How do we reproduce the issue?

[Example](https://ampbyexample.com/components/amp-sticky-ad/). In this c

[2016-07-01 13:26] kul3r4 commented on #3862
@zhouyx @jasti

[2016-07-01 16:30] cramforce opened #3864 "Compiler warning: Failed to load module "../../../src/action-impl""
This might be bad. No idea :)

[2016-07-01 16:45] erwinmombay commented on #3864
@cramforce this consistently triggers on `gulp dist` ?

[2016-07-01 16:58] cramforce commented on #3864
Yeah

[2016-07-01 16:58] cramforce opened #3865 "amp-iframe tests fail locally"
This seems to be related to service discovery.

[2016-07-01 18:19] djamro2 commented on #3857
I believe the custom data attributes will work exactly for this use case.

On another point, I'm not sure if maybe the error logs or documentation should be updated about the case where `amp-analytics` is inside `amp-list`. If so, I'll be happy to make the pull request, but would need some direction on how to update this.

And if not, feel free to close this issue, thanks.

[2016-07-01 18:24] cramforce opened #3870 "Fix unknown define warnings"
[code]

See e.g. https://travis-ci.org/ampproject/amphtml/builds/141683450

These are, of course, harmless, but really annoying :)

[2016-07-01 18:24] #3864 closed

[2016-07-01 18:30] zhouyx opened #3871 "amp-sidebar: scrolling issue, scroll content below"
When you scroll and reach the end of the sidebar, the content below scrolls.

There's another issue caused by this is: when you scroll the body, the top url bar will hide. So after you reach the end of the sidebar and start to scroll the content below, there will be a gap introduced by the disappearance of the top bar.

<img width="394" alt="topbar-no-gap" src="https://cloud.githubusercontent.com/

[2016-07-01 18:35] erwinmombay commented on #3870
so this was the only way to pass in arguments w/o doing any additional work. I could splice this out of the arguments array before passing it into the base constructor call.

[2016-07-01 18:35] erwinmombay commented on #3870
will it also work if just create dummy vars in our codebase for it to swap out?

[2016-07-01 18:44] cramforce commented on #3870
Both sound good.

[2016-07-01 18:55] dmochak opened #3872 "Bubbles appear after the form for screenreader users"
If a screen-reader user accesses the page, the bubble indicating that the form is valid or invalid appears after the form. If it appeared near the invalid field, it would be more clear which field is in error.

https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html
1. Enter information into one or both of the edit fields on the page.
2. Navigate the page with a screen reader.
3. The info

[2016-07-01 19:06] dmochak opened #3873 "XHR demo success text not announced by screen reader"
If a screen-reader user completes the XHR demo, the text that confirms this is not read automatically.

https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

1. Fill out the XHR demo (bottom of page) correctly with a screen reader active.
2. select subscribe.
3. The page is updated with the success text, however the screenreader does not read it. You must manually navigate to the end o

[2016-07-01 19:13] dmochak opened #3875 "Non-XHR demo success page is untitled"
https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

1. Fill out the Non-XHR demo (top of page) correctly.
2. select subscribe.
3. Observe that the title bar of the browser is empty.

repros in Firefox/Chrome, likely effects all browsers.

Powered by AMP ⚡ HTML – Version 1467182714735

[2016-07-01 19:13] rudygalfi commented on #3873
/to @mkhatib

[2016-07-01 19:14] dmochak commented on #3875
Whoops: you don't need a screenreader active for this one!

[2016-07-01 19:16] rudygalfi commented on #3875
Just a demo artifact and not forms specific.

[2016-07-01 19:16] #3875 closed

[2016-07-01 19:18] erwinmombay commented on #3872
/to @mkhatib

[2016-07-01 19:22] dmochak opened #3877 "Non-XHR demo success text is an H1 for no reason"
https://amp-mk-1.herokuapp.com/form/html/post
 View source and  observe that "Thanks undefined!" is an H1. There is no practical reason for headings on a page this small.

Affects all browsers.
Powered by AMP ⚡ HTML – Version 1467182714735

[2016-07-01 19:36] rudygalfi commented on #3877
This is just a demo artifact and not specific to forms. A publisher would determine this on their own.

[2016-07-01 19:36] #3877 closed

[2016-07-01 19:36] poscar commented on #2510
@enatork Thanks for that example. I simplified it to make it a "tap-image-to-view-caption" flow using figure and figcaption. Works pretty well!

[2016-07-01 19:36] harshamulpuri2913 opened #3880 "[Accessibility issue] Click on subscribe button with empty Name and email does not read out as value missing from both text boxes"
## Short description of your issue: within iOS device (IPAD / IPOD), observe "value missing" is not read out by voice over from Name & email text boxes when clicked on subscribe button.

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Open IPAD--> Settings --> General --> Accessibility --> Voiceover , Set to ON
## How do we reproduce the issue?
1. Logon t

[2016-07-01 19:38] erwinmombay commented on #3880
/to @mkhatib

[2016-07-01 19:40] erwinmombay commented on #2510
@enatork thats pretty awesome!

[2016-07-01 19:45] cramforce commented on #3315
I think this is because of #3709

[2016-07-01 19:50] harshamulpuri2913 opened #3881 "[Accessibility issue-iOS] Contradictory message displayed when click on Subscribe button for xhr."
## Short description of your issue: within iOS device (IPAD / IPOD), a contradictory message is displayed as "Everything looks good, you can submit now!

Oops!, We apologies something went wrong. Please try again later"

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Open IPAD--> Settings --> General --> Accessibility --> Voiceover , Set to ON
## How do

[2016-07-01 20:47] jridgewell opened #3884 "Size Formatting Issues"
The CSV [won't pretty print](https://github.com/ampproject/amphtml/blob/master/test/size.csv) in Github because of the space alignment we're doing.

[2016-07-01 20:57] erwinmombay commented on #3884
ooh interesting didn't know this was supported. will fix, thanks

[2016-07-01 21:01] honeybadgerdontcare commented on #3348
Added `fieldset` and `label` as required children of `form` and only if `amp-form` extension is included.
Added all attributes for `input` except type="file|password|image|button" and those related to type="image" such as "src" and "usemap". Added all attributes for `textarea`, `select` and `option`. Let me know if we should exclude any others.

[2016-07-01 21:15] lannka commented on #3690
The work is done except the lazy loading part. Can open a separate issue if wanted.

[2016-07-01 21:15] #3690 closed

[2016-07-01 21:21] jridgewell commented on #3690
Please.

[2016-07-01 21:31] muxin commented on #3865
Which test is failing? My local tests all passed.

[2016-07-01 21:32] lannka opened #3886 "Analytics sampling has biases"
See discussion [here](https://github.com/ampproject/amphtml/commit/558a176608421d60852fe33e44bdb5f7c40a40e2#commitcomment-18101814
).

The plan is to introduce a method in [CryptoService](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/crypto-impl.js) api:
[code]

It'll be shared by amp-analytics and amp-experiment.

@avimehta @cramforce @jridgewell

[2016-07-01 21:50] lannka opened #3888 "Lazy load closure sha384 lib when browser native Crypto API is not available"
This is a further enhancement to #3690
It reduces binary size of amp-analytics by 9K under most of browsers.
As a trade-off, it introduces a HTTP round trip for some old browsers, such as IE11 and Android 4.x system browser.

Plan:
- Have a local implementation of base64()
- Strip out base64 code from closure sha384 lib
- Serve the closure lib in CDN (@cramforce any example how do we host such a f

[2016-07-01 21:54] Gregable commented on #3727
Resolved. This will be deployed to cdn.ampproject.org next week.

[2016-07-01 21:54] #3727 closed

[2016-07-01 21:54] Gregable commented on #3460
Resolved. This will be deployed to cdn.ampproject.org next week.

[2016-07-01 21:54] #3460 closed

[2016-07-01 21:55] Gregable commented on #3348
Resolved, but still waiting to deploy to cdn.ampproject.org.

[2016-07-01 21:55] #3348 closed

[2016-07-01 22:00] Gregable commented on #2975
This was fixed here (https://github.com/ampproject/amphtml/pull/3676/commits/c3b0b6eb03189b7c2948dc16d60d638674987671), but the issue didn't get updated. This should be live on cdn.ampproject.org next week.

[2016-07-01 22:00] #2975 closed

[2016-07-01 22:01] jridgewell commented on #3886
Hmm, I always hated statistics.

We can try treating the first four items as an integer in base 256:

[code]

That's equivalent to `17,564,271` in decimal.

We can represent any 32bit interger with this, from [0, 4,294,967,295]. And, that's very close to being divisible by 100. So we have an almost perfect distribution with a <sup>1</sup>/<sub>1073741824</sub> (0.000000000931322574615478515625) sk

[2016-07-01 22:01] Gregable commented on #3802
This has been fixed in github, but not yet rolled out.

[2016-07-01 22:02] Gregable commented on #3578
Closing for now as working-as-intended. Feel free to reopen if you disagree.

[2016-07-01 22:04] Gregable commented on #3510
@dvoytenko, we allow relative URLs in `<amp-pixel>`, though not `http`. Changing this constraint breaks a lot of pages.

[2016-07-01 22:06] Gregable commented on #3477
This is fixed (https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/svg.html)

[2016-07-01 22:06] #3477 closed

[2016-07-01 22:07] Gregable commented on #3455
This is fixed in github. Will be released to cdn.ampproject.org next week.

[2016-07-01 22:07] #3455 closed

[2016-07-01 22:07] #3802 closed

[2016-07-01 22:09] jridgewell commented on #3888
😁🎆

[2016-07-01 22:09] Gregable commented on #3409
None of these were disallowed in the first place.

[2016-07-01 22:09] #3409 closed

[2016-07-01 22:10] Gregable commented on #3127
This is out of date and fixed. Closing. Some corrupt data made it's way into search console reports for a small number of pages.

[2016-07-01 22:10] #3127 closed

[2016-07-01 22:11] lannka commented on #3886
Sounds good.

2 bytes might be actually enough for our use case. But not sure if there's any fast calculation for this kind of division (dividing a binary by a large decimal).

[2016-07-01 22:12] Gregable commented on #3083
@zhouyx , @sriramkrish85 Is this ready for validation?

[2016-07-01 22:13] sriramkrish85 commented on #3083
the only thing pending is the whitelisting - seems to be working without any changes needed.
#3876

[2016-07-01 22:14] Gregable commented on #2025
Fieldset is now supported as part of the forms validation, but we'll still need to do legend separately. I've updated the issue subject accordingly.

[2016-07-01 22:14] harshamulpuri2913 opened #3889 "[Accessibility issue] Invalid input to your email text box and click on subscribe Voiceover does not announce the error message correctly"
## Short description of your issue: within iOS device (IPAD / IPOD), entering invalid format of email as input to your email textbox voiceover does not read out valid error message

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Open IPAD--> Settings --> General --> Accessibility --> Voiceover , Set to ON
## How do we reproduce the issue?
1. Logon to IPA

[2016-07-01 22:14] avimehta commented on #3886
if the number is going to be `[0, 1)`, how does `[0,255]/2.55` not result in a uniform distribution? Seems like we could go with the simpler and easier solution.

Analytics can multiply by 100 and do sampling while amp-experiment can multiply by 1000.

[2016-07-01 22:17] Gregable commented on #1722
This was added some time ago. The attribute value must be one of: `none`, `metadata`, `auto` or no value.

[2016-07-01 22:17] #1722 closed

[2016-07-01 22:19] nbeloglazov commented on #3578
Sorry, I didn't get the final decision. Is "style" attribute allowed or not in svg?

[2016-07-01 22:21] lannka commented on #3886
Ideally what we need is a continuously uniform distributed float.
Dividing a integer is a reasonable simulation, but the result is discrete. 255 doesn't provide enough granularity. We need a large number.

[2016-07-01 22:22] jridgewell commented on #3886
What do you mean?

I ignored the `[0, 1)` part because of floating point math. You can do `[1, 12, 2, 111] % 100 === 71` without any precision loss.

[2016-07-01 22:32] Gregable commented on #1496
Closing. We've made several improvements to the boilerplate matching, and this is referring to the deprecated boilerplate.

[2016-07-01 22:32] #1496 closed

[2016-07-01 22:33] sriramkrish85 opened #3890 "CSS only lightbox using :target"
Lets try

https://developer.mozilla.org/en-US/docs/Web/CSS/%3Atarget

as a CSS only alternative for amp-lightbox

[2016-07-01 22:33] sriramkrish85 commented on #3890
@cramforce @dvoytenko @jridgewell

[2016-07-01 22:36] Gregable commented on #3578
Not allowed.

[2016-07-01 22:39] Gregable commented on #1205
The requirement for text/css is no longer present.

[2016-07-01 22:39] #1205 closed

[2016-07-01 22:40] honeybadgerdontcare commented on #2025
The `fieldset` does require amp-form extension script to be included and to be a child of a form element. Should we relax those requirements for both `fieldset` and `legend`?

[2016-07-01 22:42] Gregable commented on #2025
Probably.

[2016-07-01 22:46] nbeloglazov commented on #3578
:( I stopped paying close attention after https://github.com/ampproject/amphtml/issues/3578#issuecomment-227296112

Is additional validation overhead is major concern here? I feel like you already parse everything and extracting and validating rare style attributes shouldn't be long? And I guess it's important only for a4a where validation must be done while ad being served.

[2016-07-01 22:51] amphtml-team commented on #3886
On Fri, Jul 1, 2016 at 3:22 PM, Justin Ridgewell <notifications@github.com>
wrote:

Ha, I think it is actually a problem of converting a binary fraction number
to decimal fraction number.

Assume we pick the 2  leading ints of the input, and try to normalize it to
a float in range [0, 1)

float = (256 * a + b) / (256 ^ 2)

This way, we convert everything from binary form to decimal before doing
th

[2016-07-01 23:21] #3808 closed

[2016-07-01 23:30] A11yravi opened #3893 "[Accessibility issue] Numbers and Emoticons are accepted as valid values in name field"
![amp form name field bug](https://cloud.githubusercontent.com/assets/20249603/16536629/0e328460-3fa9-11e6-8b2f-18857d9bf25e.png)
## Short description of your issue:
Numbers and Emoticons are accepted as valid input values in Name field

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Turn on Talkback from Settings >> Accessibility >>Talkback

## How do w

[2016-07-01 23:33] cramforce commented on #3888
Steps:

- Build custom binary. See `function buildAlp` in gulpfile.js
- Write a more generic version of `calculateExtensionScriptUrl` to get the URL.
- Insert script and attach load handler.
- Ping @erwinmombay to smooth over the rollout issues we have every time we introduce a new file :)

Maybe we can still support IE11 directly with some extra work.

This is definitely worth the effort. `amp-an

[2016-07-01 23:34] cramforce commented on #3886
#GoogleInterviewQuestion

[2016-07-01 23:35] cramforce commented on #2025
CC @mkhatib

[2016-07-01 23:36] cramforce commented on #3865
It might only happen when putting `descripe.only` into `test-amp-iframe`.

[2016-07-01 23:45] zhouyx opened #3895 "`layoutCount_` and `layoutAttemptCount_` duplicate"
To fix #3806, I introduce a `layoutAttemptCount_` value to custom-element. so that loading indicator will be turned off and disabled after `layoutCallback` being called regardless of success or failure.  #3821

However `layoutAttemptCount_` is somehow a duplicate of `layoutCount_`. The only reason that prevents me from adding `layoutCount_` by one after layout fails is that we need to check `layou

[2016-07-02 08:38] #3884 closed

[2016-07-02 09:49] mkhatib opened #3898 "fieldset.checkValidity always returns true"
This seems to be the expected behavior on FF. Chrome seems to actually recursively check inputs and only return true if all inputs in the fieldset are valid. We might want to polyfill this to make sure it behaves the same way on all browsers.

[2016-07-02 10:05] mkhatib commented on #3348
Thanks so much!

This doesn't mean that publishers have to have label and fieldset inside form? It only means that if they use them in their AMP Doc they must be a descendant of form, right?

[2016-07-02 10:23] mkhatib commented on #2025
Let's definitely whitelist `legend` inside `fieldset`.

I am not entirely sure about relaxing supporting fieldset/legend outside of form context. It probably is not harmful and I believe its valid HTML but semantically it doesn't make sense specially that both `fieldset` and `legend` are always described and defined in the context of `form` and its controls.

I don't feel strongly against it thoug

[2016-07-02 10:27] mkhatib commented on #3861
Thanks for investigating these and filing with detailed description! This sounds good to me.

[2016-07-02 10:28] mkhatib commented on #3880
Thanks @harshamulpuri2913 for filing this! Definitely wanted to address this and thanks for the detailed description.

[2016-07-02 15:25] cramforce commented on #3709
Yeah, here is what happens:

- Resource manager is per window.
- but we have a single timer that we use across all windows.
- that timer in tests belongs to main iframe
- when test iframe gets removed, timers belonging to parent iframe still fire (because that wasn't removed)

Fixing might be as simple as giving resource manager its own timer. Likely the timer should just be a real per-window serv

[2016-07-02 15:29] honeybadgerdontcare commented on #3348
Yes, that's correct. If `label` or `fieldset` appear in the doc, then they must be a descendant of `form` and also include the amp-form extension script.

[2016-07-02 16:09] cramforce commented on #2025
If it is allowed in HTML and the elements do not have harmful side effects, we should allow it.

[2016-07-03 01:48] lukebjerring opened #3907 "style amp-custom tag in head is reported as being in the body"
If you have 2 style amp-custom tags (illegal), the error message is:

The parent tag of tag 'style amp-custom' is 'body', but it can only be 'head'. (see https://www.ampproject.org/docs/reference/spec.html#stylesheets)

Should be something like

Only one amp-custom style tag is allowed.

[2016-07-03 01:55] lukebjerring commented on #3907
Actually, on removal of the extra tag, I still get the same error. My amp-custom style tag is in definitely in the <head> tag.

[2016-07-03 17:21] adactio commented on #596
I'd like to re-open this issue please. I don't know if it's a regression or if this slipped through the cracks, but the AMP validator is currently flagging up rel="canonical" on A elements as errors.

Example: https://adactio.com/journal/9646/amp#development=1

So this is the experience on Android:
https://twitter.com/m_ott/status/749649802036666368

It's like XHTML2 all over again.

[2016-07-03 18:34] erwinmombay commented on #596
/to @Gregable to check for regression

[2016-07-03 19:41] cramforce commented on #596
Lets fix.

@adewale Could you talk to Medium that they keep their links up-to-date. For their type of linking it might be better if they have the cache emit a 302 when the doc is invalid. I think we should look at building that to avoid the XHTML2 mess.

[2016-07-03 20:46] cramforce opened #3909 "Youtube cover image is sized incorrectly"
See first example in http://localhost:8000/examples.build/youtube.amp.max.html

I thought we used the `cover` display to make it work previously.

[2016-07-03 20:53] cramforce commented on #3909
Just realized we still use a direct `img` tag and that only instagram was converted. Any reason besides time?

[2016-07-03 21:18] cramforce opened #3911 "Rendering with viewport limitations may have a bug"
To repro:

- Go to http://localhost:8000/examples.build/instagram.amp.max.html
- Fling down really fast to the bottom of the page
- See how it takes 5 seconds (until the next pass) to load the full instagram iframe.

This doesn't only happen for fast flings, but it is easier to repro this way.

Setting to critical right now, but please lower to high priority if this is rare in practice.

[2016-07-03 22:41] adewale commented on #596
Done.

[2016-07-04 02:33] kzap commented on #1292
#3630 implements this already :D

[2016-07-04 02:33] #1292 closed

[2016-07-04 05:04] m0sagal opened #3913 "Prohibited or invalid use of HTML Tag"
How to remove html tag from AMP pages , i got that from google webasters " Prohibited or invalid use of HTML Tag" and the disallowed tag is 'comments-count' , how to fix it?

[2016-07-04 08:17] #3913 closed

[2016-07-04 11:27] neodatagroup opened #3915 "Intent To Implement: NeodataGroup ad networks for amp-ads"
Support for the Neodata Groups ad-networks (adagio, 4w, 4wppn) added to <amp-ad> elements.
Sent a pull request
https://github.com/ampproject/amphtml/pull/3914
Thanks,
Salvo Nicotra (CTO)

[2016-07-04 23:57] Gregable commented on #3517
It would also be nice if this would work in all image scenarios, such as `amp-carousel`, `amp-image-lightbox`, `amp-anim`, etc. A high level `amp-select-one` would work, but I'm `amp-picture` would only solve one.

[2016-07-05 04:02] triblondon commented on #3453
Thanks for the detailed response.  It is a neat idea to serve article pages using AMP and then add script on the front end to enhance if in an app context, but that's quite a specific architectural opinion, and may not suit the design goals of many sites.  For those where it does, it does sound like a great solution.

My own approach will be to use AMP as a benchmark for good performance, and buil

[2016-07-05 18:57] annapareddy opened #3921 "mParticle vendor availability on amp analytics cdn"
mParticle was recently added as vendor to amp analytics extension. The code has been reviewed and merged into master.
In our documentation, to send data to mParticle from AMP pages, we are recommending developers to create script tag with src https://cdn.ampproject.org/v0/amp-analytics-0.1.js.

I can't find mParticle in that file. Can someone please let me know what need to be done for mParticle t

[2016-07-05 20:35] avclicky opened #3922 "Clicky Web Analytics transport issue"
## Short description

Analytics data for Clicky users are sometimes being sent via the xhrpost machinery. Because the destination doesn't reply with the correct headers, it generates a CORS violation and the request fails.

## Proposed fix

Changing the object ANALYTICS_CONFIG in ./extensions/amp-analytics/0.1/vendors.js such that clicky.transport.xhrpost is set to false. It's currently set to tru

[2016-07-06 16:00] cramforce commented on #3911
@dvoytenko should also take a look.

[2016-07-06 16:26] rudygalfi commented on #3893
@mkhatib should confirm, but I think this is OK since the validation logic is very simple and accepts these characters in the forms demo, so this is working as intended.

[2016-07-06 16:26] #3893 closed

[2016-07-06 16:30] rudygalfi commented on #3921
Code that's merged needs to be included into a release. It looks like you were included into the canary last week, so presumably in the production version this week, but as Avi noted, things may be a bit messed up due to US holidays (https://github.com/ampproject/amphtml/pull/3774#issuecomment-229507723).

If you opt into the AMP dev channel at https://cdn.ampproject.org/experiments.html, the vers

[2016-07-06 16:30] #3921 closed

[2016-07-06 16:31] rudygalfi commented on #3922
Do you want to send a pull request for this fix?

[2016-07-06 16:36] annapareddy commented on #3921
@rudygalfi Thank you.

[2016-07-06 16:59] Gregable commented on #2025
Perhaps, unless you think it's likely to indicate that the developer made an unintentional mistake (ex: indicates that the form was intended, but the page is thus broken in some way).

[2016-07-06 17:07] jridgewell opened #3930 "Use Crypto for CID Generation"
Use `Crypto#getRandomBytes` to generate our CID instead of SHA-384. We can fallback to the old way if `Crypto` isn't available.

Ties in with https://github.com/ampproject/amphtml/issues/3888

[2016-07-06 17:10] Gregable commented on #3907
This error is likely correct, but leading you in the wrong direction. Difficult to tell for sure without seeing an example. The issue is that only certain tags are allowed inside the <head> section of a document. If encountered, these tags result in html5 parsers to close the head and open the <body> section. You likely have a tag before the <style amp-custom> tag in your head which is not allowed

[2016-07-06 17:14] cramforce commented on #3930
The current algorithm is here:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/cid-impl.js#L363

It is using `getRandomValues` if available. We could remove a single hashing in this case, but this only optimizes the creation path, not anything else. The hashing of the base id is required in the fallback path to destroy potential user data in fallback values.

[2016-07-06 17:17] Gregable commented on #596
Looks like this regressed in March when we switched rel= values from whitelists to blacklists. Will fix.

[2016-07-06 17:23] A11yravi opened #3931 "[Accessibility issue] Touch Target issue for Subscribe button"
Short description of your issue:

Touch Target issue for Subscribe button

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Turn on Accessibility Scanner from Settings >> Accessibility >> Accessibility Scanner

How do we reproduce the issue?

Steps to reproduce:
1. Logon to Nexus 9 and open chrome browser
2. Open test URL provided above
3.  Tap on Accessib

[2016-07-06 17:27] mkhatib commented on #3909
For YouTube it's because of #3216 and the hack we use to fallback between `sddefault` and `hqdefault`. If we give up that hack we can convert to using `amp-img` and proper `createPlaceholderCallback` instead.

Not sure why the `cover` is not taking effect. I remember we originally waited a bit because there seem to  be a delay for the cover to be applied. Will look into it.

[2016-07-06 17:28] mkhatib commented on #3893
Yes. We don't really do anything special here so yes this works as intended.

[2016-07-06 17:30] mkhatib commented on #2025
If we keep the restrictions on input controls to have a form ancestor then we should mitigate that unintentional mistake. Reading online it seems that using legend and fieldset outside of the form context seems to be valid HTML though I haven't tested it. If needed I can test it out.

[2016-07-06 17:33] mkhatib commented on #3931
This is up to the publisher really. I am not sure if we want to enforce specific sizing for fields. This might be a good idea in the default styling effort

cc/ @rudygalfi @ericlindley-g

[2016-07-06 17:39] ericlindley-g commented on #3931
Defer to @rudygalfi , but an easy short-term fix before the styling efforts come in could be defaulting to at least 48px

[2016-07-06 17:40] EnigmaSolved commented on #2025
Running a page with a fieldset-legend combo (without a form tag) through the html5 validator yields no errors related to those tags (though admittedly there's some unrelated errors):
https://validator.w3.org/nu/?doc=https%3A%2F%2Ftransitionsmft.org%2Fblog%2F851%2Fforgiveness-is-the-foundation-for-reconciliation%2F

[2016-07-06 17:41] mkhatib commented on #3854
Thanks for filing. @poscar are their documentation in soundcloud of `?secret_token=s-CYqsZ` in their embedded player, couldn't find any. I'd prefer we expose a `data-secret-token` attribute and validate that separately instead.

[2016-07-06 17:47] poscar commented on #3854
@mkhatib no problem.  Yea, I guess it's not in their documentation, but the URL with secret token is produced if you try to embed a private track :/

[2016-07-06 17:59] #3783 closed

[2016-07-06 18:13] dvoytenko commented on #3895
@zhouyx I think the numeric value is better in this case and it's totally appropriate to have a boolean `isFirstLayoutComplete` flag.

[2016-07-06 18:13] #3709 closed

[2016-07-06 18:24] dvoytenko commented on #3578
@Gregable @cramforce `style` in SVG containing an URL is not a very typical thing. I can't think of any SVG specific styles that do that. I think we should allow, but prohibit any sort of URLs in the `style`.

[2016-07-06 18:25] dvoytenko commented on #3890
We enabled `:target` for this specific reason in the pre-sidebar days. But what's the reason for this now?

[2016-07-06 18:35] cramforce commented on #2025
Lets not be stricter than HTML5!

On Wed, Jul 6, 2016 at 10:40 AM, Sean Slevin <notifications@github.com>
wrote:

[2016-07-06 18:38] zhouyx opened #3933 "Error: this.attemptChangeHeight is not a function"
Get this error when trying to resize amp-ad
![image](https://cloud.githubusercontent.com/assets/5419904/16630156/00fd4eec-436e-11e6-9d1c-3c7d3f6ea420.png)

[2016-07-06 19:26] jrf0110 opened #3934 "Make URLs configurable at runtime"
Notably:

* 3p.ampproject.net
* d-*.ampproject.net
* cdn.ampproject.org
* amp-error-reporting.appspot.com

This is following discussion from an email thread with @cramforce @erwinmombay @dknecht.

I suppose we could simply replace all of the URL strings sprinkled throughout the codebase with references to corresponding keys in `window.AMP_CONFIG`. I'm somewhat new to the codebase, but if that's th

[2016-07-06 19:45] cramforce commented on #3934
For implementation strategy:

Create an ES6 module that exposes these values and which itself reads from `window.AMP_CONFIG`.

[2016-07-06 19:51] Gregable commented on #3455
This change is now live on cdn.ampproject.org.

[2016-07-06 19:52] Gregable commented on #3727
This change is now live on cdn.ampproject.org

[2016-07-06 19:53] Gregable commented on #2975
This change is now live on cdn.ampproject.org

[2016-07-06 19:53] Gregable commented on #3609
This change is now live on cdn.ampproject.org

[2016-07-06 19:54] Gregable commented on #3559
This change is now live on cdn.ampproject.org

[2016-07-06 19:57] startef commented on #3727
Confirmed. Thank you very much!

[2016-07-06 20:00] cramforce commented on #3933
Haven't checked, but that might be due to the new A4A code.

@tdrl @bobcassels @keithwrightbos

[2016-07-06 20:12] jridgewell commented on #3911
I'm not able to get 5 second delays, the most I've seen is 700ms after I stop scrolling to start layout and 1300ms to finish (the first `<amp-instagram>` takes a similar amount of time to finish). About 600ms is waiting for the next pass, and I think this is due to the initial run of other JS though maybe it is due to [`Resources#calcTaskTimeout`](https://github.com/ampproject/amphtml/blob/master/

[2016-07-06 20:18] dvoytenko commented on #3911
This sounds like the initial penalty we have in `calcTaskScore`.

[2016-07-06 20:22] Gregable commented on #2025
Will be in the next validator roll-up.

The direction is confusing though. We are stricter than HTML5 to help folks catch errors in other places (disallowing relative URLs, requiring amp-foo-0.1.js if `<amp-foo>` is present, requiring tabindex for on="tap:", light validation of mustache syntax, etc.)

[2016-07-06 21:29] cramforce commented on #1035
Switched to async API

[2016-07-06 21:29] #1035 closed

[2016-07-06 21:32] cramforce commented on #3909
@aghassemi please take a look!

[2016-07-06 21:38] cramforce commented on #3749
Absolutely possible. Steps:

- whitelist in validator
- update CSP

@arajay Are you with typography.com?

[2016-07-06 21:40] #3933 closed

[2016-07-06 21:49] zhouyx commented on #3817
One thing I find is `attempchangeHeight` to `<amp-ad-3p-impl>` won't trigger a resize to its parent `<amp-ad>`? that's a bug right? @cramforce @jridgewell

[2016-07-06 21:50] cramforce commented on #3817
Right. One we need to fix before we ship A4A

[2016-07-06 21:51] arajay commented on #3749
I do not work for typography.com but many of my clients use their CDN hosted fonts; in the meantime I have been using alternate web-safe fonts for my AMP pages instead.

[2016-07-06 21:54] Gregable commented on #3749
Do you know what the range of possible URLs here would be?
Would `https://cloud\.typography\.com/[0-9]*/[0-9]*/css/fonts.css` work?

[2016-07-06 22:00] zhouyx opened #3936 "amp-ad: doesn't collapse when there's no content"
`noContentHandler_` is called in `amp-ad-3p-impl.js`.
When `amp-ad-3p-impl` collapse by calling `attemptChangeHeight`, it won't trigger a resize on its parent `amp-ad`. Thus `amp-ad` does not collapse correctly.

[2016-07-06 22:13] arajay commented on #3749
Affirmative @Gregable ; the stylesheet links for all my clients are formatted in that manner.

[2016-07-06 22:14] sriramkrish85 commented on #3890
@dvoytenko if :target can do this , can we make lightbox take advantage of this? or may be anything that needs a mask?

[2016-07-06 22:16] cramforce commented on #3749
@arajay Could you try to get somebody from typography.com to comment here. Many font providers do referrer checking which may require additional work for AMP.

[2016-07-06 22:18] dvoytenko commented on #3890
To take advantage of this we simply need to set hash string to the ID of the lightbox. That, however, will cause some jumps in iOS. Overall, there's no huge benefit from this. It might be more interesting to support a hash parameter in AMP to automatically open the lightbox. E.g. when `#target=lightbox1` is specified we may automatically open lightbox with `id=lightbox1`.

[2016-07-06 22:35] A11yravi opened #3937 "Alert messages and User friendly messages not read by Talkback when any valid or invalid values entered in input fields."
Short description of your issue:
Alert messages and User friendly messages not read by Talkback when any valid or invalid values entered in input fields.

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Turn on Talkback from Settings >> Accessibility >>Talkback

How do we reproduce the issue?

Steps to reproduce:
1. Logon to Nexus 9 and open chrome browse

[2016-07-06 22:54] mkhatib opened #3938 "AMP Elements ID enforcement will never work"
AMP automatically generate IDs and sets them to the element **before** build is called on the element. Hence logic that tries to enforce ID to be provided, like in `amp-user-notification` will never trigger because all AMP elements will have IDs by the time their `buildCallback` is called.

in `amp-user-notification.js`:

[code]

in `resources-impl.js`

[code]
## Potential Solutions
- Enforce publ

[2016-07-06 22:55] mkhatib opened #3939 "Elements built out of order on every reload"
When we introduced the change of how we build "ready" elements, elements are not always being built in the exact order with every reload. This was brought up and we didn't see a clear problem of out of order element build.

One issue that I am seeing now is with the automatically generated incremental IDs `AMP_${counter}` that resources assign to elements that doesn't have an ID.

Because of that

[2016-07-06 23:10] cramforce commented on #3817
CC @ampproject/a4a

[2016-07-06 23:15] cramforce commented on #3939
Maybe we should stop giving a dynamic ID or not name it `id`. We don't look these up using `document.getElementById`, do we?

[2016-07-06 23:16] cramforce commented on #3938
Commented on other issue. As a quick fix, we should probably set a property on the DOM node when we generate an id.

[2016-07-06 23:16] mkhatib commented on #3939
I don't believe so, any idea why we assign dynamic IDs currently?

[2016-07-06 23:18] cramforce commented on #3939
Just to make debugging easier.

[2016-07-06 23:22] mkhatib opened #3942 "Consider abstracting a way to halt element build-layout-cycle at any point"
Currently the only way to do this is by throwing an error (including using `assert` statements). However, in some cases, throwing an error is not the intended behavior.

We currently add duplicate checks in both `buildCallback` and `layoutCallback`. For example, experiment checking.

[code]

This become more and more cumbersome the more soft-halts an element need to do depending on different check

[2016-07-06 23:23] mkhatib commented on #3938
I am worried this might break current usages, if we start enforcing publisher IDs now. Do we just add that and just report soft warnings for now?

[2016-07-06 23:26] cramforce commented on #3938
I think that is sufficiently unlikely. I'd definitely prefer if we changed the auto generated attributes to something like `amp-id` or just stop doing it.

[2016-07-06 23:27] #3865 closed

[2016-07-06 23:49] dvoytenko commented on #3510
@Gregable I see. What happens is that our runtime rules are stricter - they require URL to, at least, contain hostname, but allows protocol-relative URLs. I agree, requiring this now in validator will be difficult as it will invalidate lots of docs that are currently valid (although with nonfunctional `amp-pixel`). I see two options:

1. Ask publishers to change and update validator
2. Allow non-h

[2016-07-06 23:53] dvoytenko commented on #3510
Filed an internal b/30000906 against Cache to rewrite pixel URLs against the origin.

[2016-07-07 00:10] michaelkleber commented on #3817
@tdrl See comment about `attemptchangeHeight` not playing well with `<amp-ad-3p-impl>`?

[2016-07-07 00:12] #3796 closed

[2016-07-07 00:14] erwinmombay opened #3943 "July 6, 2016 Meeting Notes"
## Google's AMP team weekly notes

2016-07-06

@cramforce
- Profiled amp runtime and made improvements. #3925 #3910
- Added --pseudo_names for `dist` command for profiling and debugging. #3908
- Fixed long standing bug that caused random test failures because of timers not being owned by context. #3904
- Fix `JSCompiler_` not getting optimized. #3887
- Working on standardizing video interface betw

[2016-07-07 00:23] cramforce commented on #3817
Tracking in #3936

[2016-07-07 00:23] cramforce commented on #3936
CC @ampproject/a4a

Related to #3133

[2016-07-07 00:31] cramforce commented on #3578
Seems like a great compromise to me!

[2016-07-07 00:33] michaelkleber commented on #3936
@tdrl

[2016-07-07 01:05] cramforce opened #3945 "Request for comments: Shared video interface across AMP video players"
The AMP project is aiming to provide a better experience for consuming video in AMP documents. This includes features such as auto playing video, detaching videos from the scroll position and supporting analytics for video.

The planned features require a better awareness of AMP of the video playing status across all AMP elements that support video.

AMP supports a wide variety of video players, a

[2016-07-07 01:15] cramforce commented on #3945
CCing list of AMP video player authors/maintainers @zeno @itaykinnrot @Em-PredragMilosevic @DarXector @esboyd @johnluther @mikepmtl @mister-ben @mkhatib @niallkennedy @pablos1

[2016-07-07 02:59] keithwrightbos commented on #3817
Definitely appears to be related to A4A change.  Please feel free to re-assign to me.

What is the best way to pass reference to the parent element (amp-ad) to allow for calling attemptchangeHeight?  Or would it be sufficient to call the following (after verifying parent element is amp-ad):

[code]

[2016-07-07 04:22] #3886 closed

[2016-07-07 09:34] peternofelt opened #3946 "Question about https requirement in AMP-VIDEO vs AMP-IMG"
Curious to know the need for HTTPS requirement for amp-video when amp-img does not have the same requirement.

From a content perspective, both content formats are static resources (thought video is more recent day to day occurrence on the web). Genuinely curious to understand the HTTPS requirement for video and then not for image. Seems arbitrary.

Thanks,
Pete

HTTPS reference requirement in amp

[2016-07-07 15:49] arajay commented on #3749
"Sarah," a representative from Typography.com replied to my request with: "We do not allow for the white listing of domains."

[2016-07-07 16:02] dvoytenko commented on #3946
/cc @Gregable

@peternofelt , this is because when https image is not available we can always proxy it via https via our CDN. But we cannot proxy videos.

(I'll close this issue for now, but please feel free to comment back to reopen)

[2016-07-07 16:02] #3946 closed

[2016-07-07 16:13] dvoytenko commented on #3938
Not sure why we are setting an ID on AMP elements, besides possibly debug. A quick cheap fix might be to use `-amp-` prefix instead of current `AMP_` and when requiring IDs check that ID does not have `-amp-` prefix - or in other words it's a pub-generated ID. But I agree. We should see if we can stop doing that.

[2016-07-07 16:16] dvoytenko commented on #3939
I likewise believe this is only for debugging and should go.

[2016-07-07 16:45] jridgewell commented on #3942
I believe we can change from `user.warn` to `user.assert`. If you throw during `#buildCallback`, it'll blacklist the element.

[2016-07-07 16:45] peternofelt commented on #3946
@dvoytenko thank you for the reply. This very much makes sense from from the technical perspective of Google assisting with content proxying. I agree proxying video would come with a host of problems.

As clarification: Google will proxy https videos if they are not available?

A Case For HTTP Video
Independent of Google (as AMP is open source and can be used by a variety of services/companies), m

[2016-07-07 16:58] dvoytenko commented on #3942
Good point. Blacklisting an element is likely the best option and then no need to duplicate code in `layoutCallback`

[2016-07-07 17:19] cramforce opened #3949 "Whitelist additional attributes on resource loading tags."
The attribute `referrerpolicy` should be allowed on

- `amp-img`
- `amp-iframe`
- `link`
- `a`

[2016-07-07 17:20] cramforce opened #3950 "Support `referrerpolicy` on `amp-iframe`"
Just need to propagate the attribute from `amp-iframe` node to `iframe`.

[2016-07-07 17:25] cramforce commented on #3749
I'm not sure what that means :)

So, lets go ahead here.

@Gregable I think just going for the prefix `https://cloud.typography.com/`is fine.

[2016-07-07 17:34] jridgewell commented on #3911
Ok, I think I've found it:

 - `<amp-instagram>` will [not render outside the viewport](https://github.com/ampproject/amphtml/blob/master/extensions/amp-instagram/0.1/amp-instagram.js#L57-L59).
 - We queue things to layout/preload as [step 3](https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L934-L949) of the "discover work" phase.
 - We set whether an element is in t

[2016-07-07 18:19] zhouyx opened #3953 "amp-ad: getting width and height directly from supplied attributes, not computed values"
https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L51

We are getting width and height directly from supplied attributes here. this won't work if a value is not provided by user, also we cannot ensure those are correct numbers . Should we use a computed value instead?

[2016-07-07 18:19] zhouyx commented on #3953
@cramforce @dvoytenko

[2016-07-07 18:27] A11yravi commented on #3873
Hello Team,

Same issue appear when tested on Android tablet
OS : Android 6.0
Device: Nexus 9 (tablet)
Browser: Chrome (Version 51.0.2704.81)

but, worked fine when tested on Android phone
Device: Nexus 5x
OS: Android 6.0.1
Build Number MHC19T

Please let me know for any more information needed.

Thanks,
Ravi

[2016-07-07 19:20] cramforce commented on #3953
I believe those values should just not be set if they were not supplied.

[2016-07-07 21:00] zhouyx commented on #3936
My current approach is:
1. Set `<amp-ad-3p-impl>` with `layout=fill`.
2. replace current resize functions with parents' resize.

[2016-07-07 21:00] zhouyx commented on #3936
#3944

[2016-07-07 22:06] mkhatib commented on #3942
This might work for the example above, but some usage we need to try to avoid throwing errors to avoid publishers confusion when they see errors in the console for things that are not actually errors. For example, in `amp-app-banner` depending on the current platform the user is viewing an AMP doc on we might want to halt the element cycle (for example, if on android chrome and not embedded we wan

[2016-07-07 22:10] harshamulpuri2913 opened #3958 "[Accessibility issue] "Everything looks good, you can submit now !" message should be read out once the edit boxes have been filled with necessary format details."
## Short description of your issue: within iOS device (IPAD / IPOD), observe "Everything looks good, you can submit now !" message  is not being read out by voice over once Name & email text boxes have been filled with necessary format

Test URL: https://amp-mk-1.herokuapp.com/examples.build/forms.amp.max.html

Pre-requisite: Open IPAD--> Settings --> General --> Accessibility --> Voiceover , Set

[2016-07-07 22:52] dvoytenko opened #3961 "Provide a delegated upgrade approach for elements with mutliple implementations"
/cc @cramforce @zhouyx @bobcassels

This approach is becoming more frequent with the following examples:

- amp-carousel splitting into slides and scroller
- amp-ad splitting into amp-ad-3p and amp-a4a
- a host of v2 implementations triggered by experiment

A better approach would be to support redirected implementation via a separate callback as part of the runtime. This way we'll avoid a number

[2016-07-07 22:58] cramforce commented on #3961
CC @ampproject/a4a

[2016-07-07 23:10] erwinmombay opened #3963 "amp-analytics#13: 'undefined' is not a function (evaluating 'Number.isNaN(parseFloat(e))')""
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/amp-analytics.js#L411

getting large number of errors of this, looked like somebody started using sampling.

looked at a few user agents and they seem to be on ios 7/8 which might not have these es2015 features yet.

/to @avimehta

[2016-07-07 23:31] dvoytenko commented on #3953
@cramforce To clarify, in a case of:
[code]

The actual `width` and `height` at layout time could be different for the same aspect ratio. E.g. `400` and `300` respectively.

What's the expectation here? Should we forward `200,150` or `400,300`?

[2016-07-07 23:34] cramforce commented on #3953
This is what the user asked for. The inner iframe can measure its dimensions if it wants to know or just use responsive design.

[2016-07-07 23:48] dvoytenko commented on #3942
I don't think an error is a huge deal or a warning - since it will give a clear reminder: "do not publish this yet". If you do want a warning, you can throw a dev error and report `user.info`. DEV errors are not reported to the console, I don't believe.

[2016-07-07 23:53] dvoytenko commented on #3953
Sounds good. Then it's a non-action. Although, I'd still prefer not to send around `NaN` values. So, perhaps the fix is to just update `getLengthUnits` to return `undefined` instead? /to @zhouyx

[2016-07-08 00:41] cramforce commented on #3953
+1

On Thu, Jul 7, 2016 at 4:53 PM, Dima Voytenko <notifications@github.com>
wrote:

[2016-07-08 00:52] dvoytenko commented on #3946
@peternofelt

No. We can't really proxy video streams - that would cause very big performance issues.

The problem here is that AMP is always served via HTTPS. So, in some environments (strict mode) the http video simply won't play. In others - we'll be breaking https promise.

We certainly try to be very conscious of this, hence we do proxy images when needed. However, I believe, at this point it

[2016-07-08 07:09] Shahanfarid opened #3966 "ValidationErrors with AMP"
Hello,
    Please help me to fix the following errors,
AMP validation had errors:
aD @ validator.js:412(anonymous function)
 @ validator.js:423
f.Aa @ validator.js:336
UB @ validator.js:339
JB.Ed @ validator.js:
339IB @ validator.js:334
validator.js:412

 http://www.football5star.com/berita/top-3-berita-bola-hari-ini-dwigol-griezmann-bawa-prancis-kalahkan-jerman/77884/amp/:87:0 The tag 'script' is

[2016-07-08 15:34] avimehta commented on #3963
Looking into this.

[2016-07-08 15:56] erwinmombay commented on #3963
@avimehta let me know if you need more information

[2016-07-08 15:57] erwinmombay commented on #3963
`Number.isFinite` probably also needs to be polyfilled

[2016-07-08 16:29] cramforce commented on #3946
We believe pretty strongly that very soon all content on the internet will be HTTPS and it is definitely a nice "feature" of AMP that it is pushing multiple ecosystems such as ads and video serving in that direction.

We do proxy HTTP images because it was easy to do, but we cannot proxy video and hence video must be HTTPS like all other non-proxied resources. This definitely makes adoption a bit

[2016-07-08 17:13] #3746 closed

[2016-07-08 17:14] #3338 closed

[2016-07-08 17:15] dvoytenko commented on #3966
/to @Gregable

[2016-07-08 17:21] jridgewell commented on #3963
Ooo, how'd that get through? There's `window.isNaN` and `window.isFinite` which are _almost_ the same as the `Number.*` variants (which are ES6 only), but the must be proceeded by a `typeof X === 'number'`.

[2016-07-08 17:35] Gregable commented on #3966
You have custom javascript (`<script>` tags) on your page, which is not valid AMP. Take a look at the [AMP docs](https://www.ampproject.org/docs/get_started/about-amp.html) to learn more.

[2016-07-08 17:35] #3966 closed

[2016-07-08 17:39] Shahanfarid commented on #3966
Dear Sir,
   Thank you for your prompt response, I'm trying to figure it out but i've failed many times, could you kindly explain in more details, even AMP document isn't showing me clearly where am i doing wrong?
/amp shows no error
but when i do /amp/#development=1 i see the errors i've sent you.

Thank you once again.

Sent from Mailbird [http://www.getmailbird.com/?utm_source=Mailbird&amp;utm_

[2016-07-08 17:42] Gregable commented on #3966
The following script tag is at the bottom of your document:

[code]

You'll need to remove that in order to validate.

[2016-07-08 17:46] #3911 closed

[2016-07-08 17:47] jridgewell opened #3969 "Test that inViewport is set before scheduling layouts"
Followup to https://github.com/ampproject/amphtml/pull/3952#issuecomment-231179746.

[2016-07-08 17:47] avimehta commented on #3963
would that work on ios 7/8?

[2016-07-08 17:48] Shahanfarid commented on #3966
Well noted. Thank you so much. 

I need to remove Google Analytics code then. 

I will do the required and revert back if i have any issue, thanks allot

Sent from Mailbird [http://www.getmailbird.com/?utm_source=Mailbird&utm_medium=email&utm_campaign=sent-from-mailbird]
On 07/09/16 12:43:09 AM, Greg Grothaus <notifications@github.com> wrote:
The following script tag is at the bottom of your docum

[2016-07-08 17:50] jridgewell opened #3970 "Forbid ES6 Number things in Presubmit"
They are not in every browser, and they're [causing](https://github.com/ampproject/amphtml/issues/3963) [errors](https://github.com/ampproject/amphtml/pull/3968#discussion_r70111258).

[Reference](http://www.2ality.com/2015/04/numbers-math-es6.html)

[2016-07-08 17:56] Shahanfarid commented on #3966
Thank you. Your support has helped me to fix the issue. I do see allot of errors in Webmaster tools 

1. The attribute 'src' in tag 'amp-analytics extension .js script' is set to the invalid value 'https://cdn.ampproject.org/v0/amp-analytics-0.1.js' defer='defer'.

2. The tag 'script' is disallowed except in specific forms
.

3. The mandatory tag 'amphtml engine v0.js script' is missing or incorre

[2016-07-08 18:05] lannka commented on #3970
Shall we do a polyfill or presubmit check?

[2016-07-08 18:11] avimehta commented on #3963
@erwinmombay I can also remove usage of sampleOn from googleanalytics config if that will reduce the risk of this release getting through. lmk.

[2016-07-08 18:15] erwinmombay commented on #3963
not sure if that's necessary. do you know why this suddenly cropped up in yesterdays release when this code has existed for a while now? just trying to figure out how it got turned on suddenly

[2016-07-08 18:16] #3961 closed

[2016-07-08 18:19] avimehta commented on #3963
I started using it in google analytics with #3744. Before this, no one used that config afaik.

[2016-07-08 18:22] jpettitt opened #3972 "Add elementId variable to amp analytics visibility trigger"
Can we an `elementId` variable to the visibility trigger in `amp-analytics`?

Use case - allow tracking visibility of all ads without having to know the id of each one, particularly useful when you have a variable number of ad units depending on content length.

[code]

[2016-07-08 18:23] erwinmombay commented on #3963
@avimehta that makes sense! thanks

[2016-07-08 18:43] zhouyx commented on #3936
issue solved by #3962 @dvoytenko

[2016-07-08 18:43] #3936 closed

[2016-07-08 18:48] tdrl opened #3976 "Update A4A to incorporate upgradeLayout"
#3962  changes how delegation is handled in `amp-ad` for A4A.  The A4A code needs to be adapted to it.  Specifically, we need a mechanism to create an instance of a dynamically-loaded (from an extension) class within the `amp-ad.layoutCallback`.  (More precisely, a promise that resolves to an instance....)

[2016-07-08 19:19] cramforce opened #3977 "Avoid lazy parsing of AMP extension implementations"
This same issue applies to us:
https://github.com/rollup/rollup/pull/774

There is a question with respect to #3775 whether this might be what we want eventually, but for now lazy parsing functions meant for immediate execution is bad and might reduce the benefits of background parsing for these async scripts.

[2016-07-08 19:20] jridgewell commented on #3970
Most of them are available as `window.X`, so I think polyfilling them is overkill.

[2016-07-08 19:38] #3963 closed

[2016-07-08 20:04] #3977 closed

[2016-07-08 21:14] zhouyx commented on #3663
+1

[2016-07-08 21:39] Gregable commented on #3966
Yes, these are validation errors. They will need to be addressed. If you are using the AMP Wordpress plugin (https://wordpress.org/plugins/amp/), you may want to raise issues at that URL rather than here. This is primarily for issues with AMP itself, not a support channel for developing with AMP. There is also some useful discussion over at [StackOverflow](stackoverflow.com/questions/tagged/amp-ht

[2016-07-08 21:48] dvoytenko commented on #3976
that is within `amp-ad.upgradeCallback`

[2016-07-08 22:43] Gregable commented on #596
Fixed, will roll out to cdn.ammproject.org soon.

[2016-07-08 22:43] #596 closed

[2016-07-08 22:44] Gregable commented on #2025
Fixed, will roll out to cdn.ammproject.org soon.

[2016-07-08 22:44] #2025 closed

[2016-07-09 00:06] EnigmaSolved commented on #2025
Awesome--thanks! :)

[2016-07-09 16:23] cramforce opened #3986 "Reduce memory allocations during AMP's operation"
Just an issue to collect all the work going into this.

[2016-07-09 19:05] DanielHerr commented on #2492
Is there an open Chrome issue for this?

[2016-07-09 19:56] cramforce opened #3989 "SlideScroll test relies on amp-img being display inline"
It should at least work with `display: inline-block`

[2016-07-10 15:37] r-d-master commented on #1205
`The attribute 'href' in tag 'link rel=stylesheet for fonts' is set to the invalid value`
error because external stylesheets are not permitted.

[2016-07-10 20:10] cramforce opened #3991 "Support vega visualizations in AMP"
See https://vega.github.io/vega/

It should be relatively easy to build this component and provide super powerful native visualization capabilities for AMP.

Vega would need to be bundled with the `amp-viz-vega` component and then accept JSON config in our standard manner (similar to e.g. `amp-analytics`).

See the vega tutorial here: https://github.com/vega/vega/wiki/Tutorial

<details>
<summary>

[2016-07-10 20:13] nardholio opened #3992 "Please provide an opt-out"
Please provide a way to opt out or disable AMP. My mobile browser of choice, Opera, already optimizes pages and provides me an easy way to switch to the full site if I want. It is also one of the few browsers to support forced pinch-zoom on Android ever since Google intentionally killed that feature in Chrome and the AOSP browser.

In short, AMP simply cannot provide the following things:
1. Choic

[2016-07-10 22:01] erwinmombay commented on #3991
@cramforce would we just need vega in our `third_party` folder?

[2016-07-10 22:16] cramforce commented on #3991
@erwinmombay yep.

[2016-07-10 22:38] erwinmombay commented on #3991
@cramforce taking this, unless its already assigned to somebody then feel free to reassign

[2016-07-11 01:28] cramforce commented on #3991
I thought it would have been a nice 1st component for @aghassemi to push through end-to-end, but we'll find another one.

[2016-07-11 01:31] erwinmombay commented on #3991
@cramforce gotcha, no that sounds great. assigning it to @aghassemi

[2016-07-11 04:05] cramforce commented on #3992
@nardholio AMP is a JavaScript library. You cannot make an opt out for it, just like you cannot make an opt out for jQuery, except by disabling JavaScript.

[2016-07-11 04:05] #3992 closed

[2016-07-11 05:49] erwinmombay opened #3995 "remove `amp-share-tracking` experiment"
remove experiment flag and guards.

[2016-07-11 05:50] erwinmombay opened #3996 "remove `amp-google-vrview-image` experiment"
remove experiment flags and guards

[2016-07-11 05:51] erwinmombay opened #3997 "remove `amp-sidescroll` experiment"
remove experiment flags and guards

[2016-07-11 05:52] erwinmombay opened #3998 "remove `amp-form` experiment"
remove experiment flags and guards

[2016-07-11 05:53] erwinmombay opened #3999 "remove `form-submit` experiment"
remove experiment flags and guards

[2016-07-11 05:53] erwinmombay opened #4000 "remove `amp-access-server` experiment"
remove experiment flags and guards

[2016-07-11 05:54] erwinmombay opened #4001 "remove `amp-live-list` experiment"
remove experiment flags and guards

[2016-07-11 05:55] erwinmombay opened #4002 "remove `amp-sticky-ad` experiment"
remove experiment flags and guards

[2016-07-11 05:56] erwinmombay opened #4003 "remove `amp-fx-flying-carpet` experiment"
remove experiment flags and guards

[2016-07-11 05:57] erwinmombay opened #4004 "remove `amp-experiment` experiment"
remove experiment flags and guards

[2016-07-11 05:57] erwinmombay opened #4005 "remove `alp` experiment"
remove experiment flags and guards

[2016-07-11 08:00] weeblr commented on #3802
Hi @Gregable

Any estimate on when this should be rolled out? We are about to release a new version of our AMP extension (for Joomla) and would like to know if we should or should not include the ad script.

Cheers

[2016-07-11 12:43] jaygray0919 commented on #3554
@cramforce and @dvoytenko

Here are 7 non-AMP data access scenarios that may help guide upgrades to `amp-list` and `amp-mustache`.

**1**   JSONP accessing a JSON file
  http://ontomatica.com/test_amp/data_access_protocols/AMP_using_JSONP/index_JSON-P_-_Dropbox-URL_.html

The JSON file is served by HTTPS from Dropbox:
  https://dl.dropboxusercontent.com/u/3094317/bisonapi_original_subset_.json

Sc

[2016-07-11 14:51] cramforce commented on #2975
Enables #3742

[2016-07-11 14:51] cramforce commented on #3742
@dvoytenko Quick ping on request for a better project description above :)

[2016-07-11 15:00] aghassemi commented on #3991
:+1:

[2016-07-11 15:18] zergnetjake opened #4009 "Intent To Implement: ZergNet Content Recommendation for amp-embed"
# Overview

Adding support for the [ZergNet](http://www.zergnet.com) Content Recommendation unit to <amp-embed> elements.
## Comments

ZergNet will submit a pull request for a zergnet/amp-embed branch using the ZergNet fork from here: https://github.com/zergnetjake/amphtml

[2016-07-11 15:53] dvoytenko commented on #3972
/to @avimehta
/cc @rudygalfi

[2016-07-11 15:53] cramforce commented on #4009
![LGTM](https://camo.githubusercontent.com/c13eeb81b1485ccc0d2b248f19360c7ba2419167/687474703a2f2f6a756e6b796172642e64616d6f776d6f772e636f6d2f353633)

[2016-07-11 16:09] cramforce commented on #3945
For more direct communication we'd like to create a video related discussion list (super low traffic). Please sign up here http://goo.gl/forms/fC09XfeLU5b2jXJr2

<details>
<summary>Mentions</summary>
<p>@zeno @itaykinnrot @Em-PredragMilosevic @DarXector @esboyd @johnluther @mikepmtl @mister-ben @mkhatib @niallkennedy @pablos1</p>
</details>

[2016-07-11 17:51] MrMuzik opened #4013 "Increase timeout setting for authorzation endpoint"
It would be very useful to increase the maximum time for an authorization request before timeout or to make this configurable as a part of the request. I currently have a valid request returning from an endpoint and authorization is failing due to timeout. If it can not be configurable as a part of the request I suggest a timeout of 6 seconds instead of the current 3 seconds.

[2016-07-11 17:51] Gregable commented on #3802
This is live in the AMP cache and Google search already and will rollout to the javascript validation (which is only for debugging) in an hour or two.

[2016-07-11 18:10] cramforce commented on #4013
Since this is in the critical path to the user seeing the doc, the timeout must be low.

[2016-07-11 18:23] MrMuzik commented on #4013
@cramforce How high could we go without issue? 3 seconds is just too short.

[2016-07-11 18:24] zhouyx opened #4014 "Make `attemptChangeSize` `attemptChangeHeight` promises"
Currently `attemptChangeSize` `attemptChangeHeight` only accept callback functions that get called when size changed successfully. There's no way to tell if `attemptChangeSize` fail. Making it a promise should be able to solve this.

[2016-07-11 18:28] cramforce commented on #4013
3 seconds is the established timeout for things like fonts on the web. Why would one need longer? We might be able to go a bit higher if the user is on 2G, but on 3G, LTE, WIFI 3 seconds is an eternity already. Typically servers should respond in about 100ms.

[2016-07-11 18:49] MrMuzik commented on #4013
I typically see my authorization response received around 3.14s - 3.56s. I don't have any other issues,the page validates, and all other assets load from 2ms - 410ms.

[2016-07-11 18:50] cramforce commented on #4013
Why does it take so long?

[2016-07-11 18:55] MrMuzik commented on #4013
Currently a mystery. I am exploring possible issues causing the slowdown internally though I am not seeing any issues so I opened this ticket to explore the possibility of an external issue.

[2016-07-11 19:57] ericlindley-g commented on #3848
@erwinmombay  Not sure when this work is planned for, but assuming it's soon, so putting in "Next"

[2016-07-11 20:04] ericlindley-g commented on #3855
FYI @cramforce (+ @jridgewell, as I recall you've worked on visibility-related issues). Slotting in backlog for now, but please feel free to update/correct

[2016-07-11 20:21] cramforce commented on #3855
@ericlindley-g You don't really recall correctly with either of us :).

Over to @rudygalfi who has the most context!

[2016-07-11 20:21] ericlindley-g commented on #3934
@cramforce FYI: slotting in the Backlog for now, but please feel free to correct/update as needed

[2016-07-11 20:25] cramforce commented on #3934
@ericlindley-g @jrf0110 is already working on this. See PR above.

[2016-07-11 20:27] ericlindley-g commented on #3976
@dvoytenko Slotting in backlog for now, but please update as needed

[2016-07-11 20:27] ericlindley-g commented on #3989
@cramforce Slotting in backlog for now, but please update as needed

[2016-07-11 20:29] ericlindley-g commented on #4014
@zhouyx  Assuming this is currently being worked on, but please correct/update as needed

[2016-07-11 20:34] ericlindley-g commented on #3934
Thanks @cramforce  — slotting into Current

[2016-07-11 20:35] ericlindley-g commented on #3934
Scratch that—putting into "Pending 3P Implementation"

[2016-07-11 21:11] ericlindley-g commented on #3842
Would be nice to figure out an approach that handles both mobile and desktop well, to avoid this duplication work when the developer wants the sidebar always to be visible. If we enable something like this, we'll also have to consider scrolling behavior (does the sidebar scroll with the rest of the page or not), and will have to disable the transparent scrim (and associated click behavior) over th

[2016-07-11 21:33] #3806 closed

[2016-07-11 21:57] rudygalfi commented on #3972
@jpettitt Will #1298 cover this? As https://github.com/ampproject/amphtml/issues/1298#issuecomment-229501177 describes, we're imagining a way for you to have a `data-var-*` attribute on elements which would provide a variable value to analytics.

[2016-07-11 22:00] aghassemi opened #4017 "Add `amp-pokemon-go` extended component"
Allow for embedding and capturing Pokemon in AMP pages.

[2016-07-11 22:03] erwinmombay commented on #4017
💯 to celebrate I am changing my picture to this:

![13620816_10153516842152811_6805801261464515458_n](https://cloud.githubusercontent.com/assets/354746/16748377/9bc74262-4778-11e6-969e-9448f3589d02.jpg)

[2016-07-11 22:08] jridgewell commented on #4017
![y tho](https://cdn.meme.am/instances/500x/61561297.jpg)

[2016-07-11 22:28] j-e-shaw opened #4018 "Apply AMP analytics ad tracking events to an ad without requiring a selector"
Currently, AMP analytics tags for ads require a selector (e.g. "selector": "#anim-id"). However, the amp-ad's id isn't necessarily known when the analytics tags are generated. Instead of requiring a selector, when the analytics events are added to the page as the result of an ad request, they should apply to the ad with which they are served.

Along with that, when shadow-DOM isn't supported, the

[2016-07-11 22:30] #4002 closed

[2016-07-11 22:33] cramforce commented on #4017
Would the component need to ship with an Android emulator?

[2016-07-11 22:59] #3950 closed

[2016-07-11 23:29] rudygalfi opened #4020 "Support low-res placeholder/preview for amp-img (progressive image loading)"
A recent design pattern has been to support progressive image loading: Where an image will be presented on a page, a blurred lower-res version (consuming just 100s of bytes) is first displayed and then gracefully animated into the full-res version that's intended to show. This issue is tracking adding such a feature to AMP.

Key design questions:
- Markup and opt-in/out (i.e. is this a default beh

[2016-07-12 00:21] dvoytenko commented on #4013
@MrMuzik Correct. The 3s timeout is currently selected to coincide with fonts. Industry-average we've seen is definitely much lower than this. What authorization service are you using? Could you go into more detail or possibly share some examples? Is this a PROD or DEV system?

[2016-07-12 10:05] weeblr commented on #3802
Thanks. This is working now as expected.

[2016-07-12 13:29] MrMuzik commented on #4013
I do not have it on a production server anymore. I am doing the authorization through amp-access. Is there another option you would recommend @dvoytenko?

[2016-07-12 14:48] cramforce opened #4022 "Improvements to ad load behavior"
Currently we consider an ad loaded when the iframe loaded. For some networks (such as DFP) we can observe when actual ad render start and potentially keep showing the fallback until this time.

Similarly we can expose a promise from `amp-ad` that resolves when an ad was rendered and whether the slot was filled. This could be used by `amp-sticky-ad` to only ever show the banner at this time.

CC @j

[2016-07-12 16:49] ericfs commented on #3323
Thanks for taking this. It looks like only scrollTop is sent and not scrollHeight. Is it possible to get the height too?

[2016-07-12 17:03] cramforce commented on #3323
Hmm, when @muxin and I looked at this, it seemed we sent this already, but now I can't find it. We certainly can.

@dvoytenko ScrollHeight is currently not cached. Could we start only recalculating it when we mutated the doc or the viewport changed?

[2016-07-12 17:25] zhouyx commented on #3895
#3821

[2016-07-12 17:25] #3895 closed

[2016-07-12 17:31] dvoytenko commented on #3323
@cramforce We used to do it and I asked it to be removed (/cc @jridgewell) due to some problems in the way we implemented it. We can bring this back if it's really necessary, but we need to see how. We used to do it in each runtime pass and that was fairly expensive. I think, a better option might be to do it for scroll events specifically, but only calculate `scrollHeight` once for scroll series.

[2016-07-12 17:38] ericfs commented on #3323
scrollHeight would be helpful, if it's available, particularly to know when the scroll reaches the bottom, but I think we can manage without it.

[2016-07-12 17:40] dvoytenko commented on #3323
@ericfs but what would be the most applicable target message for this info? `scroll` message?

[2016-07-12 17:41] aghassemi commented on #3169
Chatted with @muxin, I will take the issue.

[2016-07-12 17:41] ericfs commented on #3323
Yes, that would be fine.

[2016-07-12 17:42] jridgewell commented on #3323
Re: https://github.com/ampproject/amphtml/issues/3515. If we do reintroduce it, we need to cache.

[2016-07-12 17:47] #3943 closed

[2016-07-12 17:48] cramforce commented on #3323
Can we update scroll height:

- after we build an element
- after resize
- after mutate

Are there other situations where it might change?

[2016-07-12 17:48] cramforce commented on #3323
@ericfs Do you need a precise value?

[2016-07-12 17:50] erwinmombay opened #4027 "July 11, 2016 Meeting Notes"
2016-07-11

@cramforce
- Out on paternity leave from 7/25 to 8/25ish.
- Sent RFC: Proposal for unified video interface in AMP #3945
- Gave talk to user group in Los Angeles
- Submitted PR’s for optimizations
- Reduce closure allocations for retrieval of services to zero (formerly 3-4)
- Heavily optimized event helper.
- amp-img optimization - not allocate image until it is actually needed
- Parent

[2016-07-12 17:54] ericfs commented on #3323
I think it would be preferable, but I think I can work with whatever you can provide. Ideally a Viewer would know when the page is scrolled to the bottom, but an estimate may be ok.

[2016-07-12 18:01] dvoytenko commented on #4013
@MrMuzik This is the only option in AMP. But I was asking what endpoint you use for authorization (`authorization` configuration parameter). The questions I asked are about this endpoint.

[2016-07-12 18:09] dvoytenko commented on #4020
One approach we have is to do this automatically based on the `srcset`. `amp-img` will calculate two versions: optimal (as is now) and lowres. Two images will be created for both versions: lowres above optimal and both images are loaded. As soon as optimal is loaded, lowres is removed.

Expected issue: progressive images return "loaded" message often way before the image can be rendered in a meani

[2016-07-12 18:11] dvoytenko commented on #4018
/cc @rudygalfi @kashyapnitin

[2016-07-12 18:28] cramforce opened #4029 "Support providing the client id to the viewer for storage"
This allows viewers to not have any logic regarding how to generate IDs.

Tracked at Google under b/30089828

[2016-07-12 19:34] cramforce commented on #4020
First thing would be to support `lowsrc` (which is an actual thing) on `amp-img`

For this to be widely used we'd need to auto-populate it in the cache. It is then typically inlined into the document to avoid the HTTP request overhead.

[2016-07-12 19:46] dvoytenko commented on #4020
Oh. That's really cool. Should we to start enable `lowsrc` in the validator and propagate it to `img`?

[2016-07-12 19:52] dknecht commented on #4020
+1.

CloudFlare did this in the past by using a few pixel image that gets stretched on canvas element and the replaced

https://blog.cloudflare.com/mirage2-solving-mobile-speed/

[2016-07-12 20:35] rudygalfi opened #4031 "Scrolling jank - page is only scrollable a few pixels with gentle swipes"
Please walk through the following steps for reporting an issue about AMP:

## Short description of your issue:

The following page exhibits scrolling jank: https://www.google.com/amp/www.dailymail.co.uk/tvshowbiz/article-3686840/amp/Adriana-Lima-sizzles-skimpy-red-bikini-lounges-Mykonos-beach-German-footballer-Sami-Khedira-following-team-s-disappointment-Euros.html#

If you try a gentle swipe to s

[2016-07-12 21:11] MrMuzik commented on #4013
Thanks for all the help. My issues appears to be completely internal and I am working on a fix. Thanks for helping me figure it out.

[2016-07-12 21:11] #4013 closed

[2016-07-12 21:27] ericlindley-g commented on #3840
@edlea-g, do you have any opinions here? Tripling the time to 3 seconds seems to be about right, but it would be worth playing a range of values to test, before pushing to prod

[2016-07-12 21:48] cramforce commented on #4031
Strange case. I collected a timeline and it looks clean, even though the page is super janky.

Removing the sticky ad doesn't make a difference.

[2016-07-12 21:55] cramforce commented on #4031
Trace https://drive.google.com/file/d/0B4IOxKkr6fGqWHQ0QTdqaVhOZ3c/view?usp=sharing

[2016-07-12 22:16] erwinmombay opened #4034 "TypeError: c.win.postMessage is not a function. (In 'c.win.postMessage(d,c.origin)', 'c.win.postMessage' is undefined)"
Version: 1467308799816
iOS 9.3.2

article: https://cdn.ampproject.org/v/www.dailymail.co.uk/news/article-3685252/amp/Jeb-says-Trump-never-build-Mexico-wall-believers-feel-betrayed-think-Donald-win-White-House.html?amp_js_v=5

user agent: Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_2 like Mac OS X) AppleWebKit/601.1 (KHTML, like Gecko) CriOS/51.0.2704.104 Mobile/13F69 Safari/601.1.46

error seems to be

[2016-07-12 22:26] #3468 closed

[2016-07-12 22:26] cramforce opened #4035 "IntersectionObserver needs to be properly cleaned up"
Currently we just null it. Instead we should call `destroy` or similar. In this we need to e.g. cancel the timeout if we have one scheduled. Otherwise we might post messages to windows which no longer exist.

Similarly, we fail to deregister on `detachedCallback`. Because `amp-sticky-ad` removes the ad, we never learn about this.

We should consider calling `unlayoutCallback` from `detachedCallbac

[2016-07-12 22:36] erwinmombay commented on #4034
caused by https://github.com/ampproject/amphtml/issues/4035

[2016-07-12 22:40] cramforce commented on #4035
Ah, yes, and because we never get a `viewportCallback` that unregisters the scroll handler, we create an error on every scroll.

[2016-07-12 22:41] dvoytenko commented on #4031
The problem with the following CSS:
[code]
This implicitly sets `overflow-y: auto`, which AMP doesn't allow, but misses this implicit case. The solution for us would be to override this value.

[2016-07-12 22:42] dvoytenko commented on #4031
@rudygalfi We will fix this on our side, but given the deployment cycle, please feel free to reach out to Daily Mail to fix as well.

[2016-07-12 22:43] cramforce commented on #4031
I pinged them on an existing thread, but we should generally fix it.

[2016-07-12 22:47] zhouyx commented on #4035
Oh I only remove the the `amp-sticky-ad` component from dom, and doesn't take care of the ad. To confirm, the fix for now would be to deregister `amp-ad` element first before remove `amp-sticky-ad`?

[2016-07-12 22:59] cramforce commented on #4035
Nope, the right fix would be to either implement `detachedCallback` in `amp-ad` (or `amp-ad-api-handler`) or for us to decide to always call `unlayoutCallback` and `viewportCallback` from `detachCallback` in `custom-element.js`.

[2016-07-12 23:45] jasti commented on #3272
@parisholley Did you get a chance to send a PR for this? @cramforce would be good to prioritize for ads.

[2016-07-12 23:47] jasti opened #4038 "Ability for amp-ad to refresh itself after declared time"
At the moment amp-ad doesn't have a way to refresh itself. Some ad servers would like the ability to refresh themselves after the user has stayed on the page for a certain time period.
@cramforce

[2016-07-12 23:59] jpettitt commented on #3972
That would do it.  As long as the selector can match more than one element and the `data-var-*` identifies the element in the output that meets my use case.

[2016-07-13 00:02] lannka commented on #4038
I suppose this is speaking about a4a?

For the current amp-ad, it's up to the ad network's SDK to do periodical refresh.

[2016-07-13 00:05] jasti commented on #4038
No, don't mean A4A.
At an amp-ad level, we should allow publishers to set how frequently they'd like an ad to refresh. So the runtime can take care of invoking this across any ad server. Any downsides?

[2016-07-13 00:42] cramforce commented on #4038
I think it makes sense to implement on the AMP level as this is something that could be implemented as a cross cutting thing, independent of the ad network.

It be interesting to know how many publishers would use it.

[2016-07-13 00:59] cramforce opened #4040 "Don't instantiate N MutationObservers for N calls for waitForBody"
Instead we should somehow coalesce them.

The relevant code is here
https://github.com/ampproject/amphtml/blob/e013458a339e4121319b3a9d165fbc333c69d4b2/src/dom.js#L58

When we wait for the body, we are very likely to do so in many places at once. These should all be queued behind one mechanism actually waiting for it.

This may be generalizable for the underlying `waitForChild` function.

[2016-07-13 01:08] zhouyx opened #4041 "amp-sticky-ad: Need to handle cases when ad has no content"
Currently if ad inside `amp-sticky-ad` collapse, the `body-borderBottom` would not be reset, and the close button would still be there at the very bottom of the page.

One option: fix the size of `amp-sticky-ad` and not collapse with its child.
Another option: when ad collapse, reset `body-borderBottom` to 0, and remove close button.

I personally feel the second option is more optimal.

[2016-07-13 01:11] parisholley commented on #3272
@jasti no, I haven't looked into it yet.

[2016-07-13 01:13] zhouyx commented on #4041
What would be a good way to detect `amp-ad` collapse?

[2016-07-13 01:14] RByers commented on #4031
To clarify, the problem is not that this was "janky" but that there are two distinct scrollers involved - one nested in the other.  In Chrome and Safari, each touch gesture [scrolls at most one scroller](https://bugs.chromium.org/p/chromium/issues/detail?id=526462).

[2016-07-13 01:15] cramforce commented on #4031
Yep, well, but that is still jank, just for very different reasons from our day-to-day of business of finite speed CPUs and such :)

[2016-07-13 02:46] cramforce commented on #4041
I think @jridgewell is handling this in flying carpet.

[2016-07-13 02:49] cramforce opened #4044 "Update 3p master selection to handle deletion of master"
If the master goes away we need to select a new one.

[2016-07-13 03:23] cramforce opened #4046 "Make CID generation handle non-viewer iframing"
Currently if AMP docs are iframed, and the viewer is not trusted, they will never produce a CID.

We should instead fall back to internal generation for untrusted viewers.

[2016-07-13 07:16] #4031 closed

[2016-07-13 07:19] ithinkihaveacat opened #4047 "Safari Technology Preview displays no content for ~8 secs"
On seemingly all AMP pages, the [Safari Technology Preview](https://developer.apple.com/safari/technology-preview/) browser displays a completely blank page for around 8 seconds. (Presumable content only becomes visible at all because the AMP boilerplate kicks in.)

For example:

- https://www.ampproject.org
- http://www.bbc.co.uk/news/amp/science-environment-36780756

Loading these pages with `#d

[2016-07-13 09:20] guyra1 opened #4048 "ObserveIntersection in AMP Flying Carper returns ad visible even when ad is not visible"
ObserveIntersection object in AMP Flying Carpet ad returns wrong data under intersectionRect
I am getting height 514 also most of the ad is hidden

to reproduce it register to ObserveIntersection under Flying Carpet test page
https://ampbyexample.com/components/amp-fx-flying-carpet/

window.context.observeIntersection(function(changes) {
                    changes.forEach(function(c) {

[2016-07-13 12:49] d3netxer commented on #2931
I am getting this same error with my github page

[2016-07-13 14:48] cramforce commented on #4048
This is in a way a known issue, but also correct with respect to `IntersectionObserver` as it does not account for occlusion and the ad is technically in viewport, just not visible.

We are considering to fix it, though, by instead reporting the intersection with the window.
Not sure what the latest is: @jasti @jridgewell

[2016-07-13 16:47] rudygalfi commented on #4018
I'm not sure I'm following this. Is it related to A4A? Can you provide an example page that demonstrates the difficultly with how amp-analytics currently works.

cc a bunch of people who may also be aware of the gap here @jasti @avimehta @cramforce

[2016-07-13 17:06] zhouyx commented on #4041
Found it to be in `collapsedCallback(child)`. However I am surprised that the `amp-ad` will collapse, because for a fix position, shouldn't it always be in viewport and `attemptChangeHeight(0)` should never succeed?

[2016-07-13 17:22] cramforce commented on #4041
@zhouyx I think it is because it is at the bottom of the screen, so no content is being pushed. @dvoytenko to confirm. I think allowing it here is correct.

[2016-07-13 17:30] jridgewell commented on #4048
We need to report the intersection with respect to the `<amp-fx-flying-carpet>`, not the `<amp-ad>`. Should be as simple as changing the [root](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-api-handler.js#L75) to the parent when inside an [allowable fixed-position element](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-3p-impl.js#L30

[2016-07-13 17:47] zhouyx commented on #4041
I did some test, was able to reproduce the case where `amp-ad` collapse. However the measurement result was `elements above the viewport`. Looking into this

[2016-07-13 18:13] dvoytenko commented on #4047
/to @erwinmombay could you please take a look?

[2016-07-13 18:26] j-e-shaw commented on #4018
Yes, this is related to a4a. I don't have a sample page but I have been discussing with avimehta and he's aware of it.

1. If I want to add analytics tags to a creative that I don't own/serve (e.g. 3P verification services), I don't know what the selector should be. In that case, the AMP runtime should be able to associate the analytics tag with the creative with which it is served.

2. When shado

[2016-07-13 18:47] Gueorgi opened #4055 "Usage of variables in selectors gets the wrong URI encoding"
The new capability of using AMP vars in triggers, namely in the CSS selector of click triggers is great and could be very useful, but has critical shortcoming - the values get URI encoded in the end, making the CSS selector invalid for majority of the selectors.

Simple selectors like 'img' or 'div' works but anything more complex does not.
For example the following combined selector "img,div" if

[2016-07-13 19:14] jasti commented on #4018
@michaelkleber FYI

[2016-07-13 22:14] erwinmombay opened #4058 "scroll issue in chrome ios emulation"
## Short description of your issue:

Cannot scroll in localhost:8000/examples.build/ads.amp.min.html on iphone emulation. Most likely caused by https://github.com/ampproject/amphtml/pull/4039

[2016-07-13 22:41] cramforce commented on #4018
I think we should probably discuss the hoisting separately.

The summary of the other feature request is basically:

Support a "closest" selector coming from the `amp-analytics` tag instead of a document level selector.

How about

[code]

[2016-07-13 23:12] ericlindley-g commented on #4038
Slotting into the backlog for now, but please correct/update as needed

[2016-07-13 23:14] ericlindley-g commented on #3851
@cramforce Can this be closed? (putting into "Pending 3P implementation" for now)

[2016-07-13 23:15] rudygalfi commented on #3871
@sriramkrish85 Can you take a look?

cc @ericlindley-g

[2016-07-13 23:18] ericlindley-g commented on #3871
Possibly related to the scroll leak issue in the lightbox as well?

[2016-07-13 23:23] ericlindley-g commented on #3930
Slotting in backlog for now, but please correct/update as needed

[2016-07-13 23:23] ericlindley-g commented on #3888
Slotting in backlog for now, but please correct/update as needed

[2016-07-13 23:24] #3851 closed

[2016-07-13 23:25] ericlindley-g commented on #3907
Slotting in backlog for now, but please correct/update as needed

[2016-07-13 23:25] ericlindley-g commented on #3854
@Gregable — can this be closed?

[2016-07-13 23:27] rudygalfi commented on #3972
Let's close this and consider a duplicate of #1298.

[2016-07-13 23:27] #3972 closed

[2016-07-13 23:30] sriramkrish85 commented on #3871
@ericlindley-g yes!

[2016-07-13 23:31] sriramkrish85 commented on #3871
@zhouyx can you also add the - device, os (version) and browser version?

[2016-07-13 23:38] dvoytenko commented on #4058
Does it work out of emulator?

[2016-07-13 23:39] dvoytenko commented on #4058
On an actual device?

[2016-07-14 00:08] cramforce commented on #4058
@dvoytenko this issue only affects using Chrome with a Safari user agent. No users are affected, but because this is annoying and confusing during development we should still fix it.

[2016-07-14 02:25] michaelkleber commented on #4018
A selector targeting the closest amp-ad parent seems fine to me.  I think that plays nicely with hoisting too, as long as we place the hoisted amp-analytics config right outside the iframe (but still within the enclosing amp-ad element).

[2016-07-14 04:08] cramforce commented on #4018
@michaelkleber we can make `closest` inclusive :)

[2016-07-14 04:41] cramforce opened #4060 "Rename from prefetch to preload was not backward compatible."
Should we patch the current canary with a prefetch method that points at the new name?

Otherwise we run into problems outside the cache during rollout.

CC @erwinmombay

[2016-07-14 05:13] erwinmombay commented on #4060
@cramforce will do

[2016-07-14 05:15] erwinmombay commented on #4060
@cramforce can you confirm fix was in https://github.com/ampproject/amphtml/pull/3994 ?

[2016-07-14 05:16] erwinmombay commented on #4060
ah nevermind, just reread your statement, that makes sense for unversioned.

[2016-07-14 06:38] erwinmombay commented on #4060
see https://github.com/ampproject/amphtml/pull/4062

[2016-07-14 07:33] amoad-amoe opened #4063 "add support for AMoAd to amp-ad"
Hi,

We have an ad network service in Japan. (http://www.amoad.com/)
We'd like to add a support to your amp-ad.

Previously, our director contacted you, so we have the corporate CLA now. Can we send a pull-request from my github account anytime soon?

Our CLA name is "AMoAd, Inc.".

Best regards,
Amoe

[2016-07-14 08:02] triblondon opened #4064 "Allow custom script after first render when AMP page is top level context"
Apologies for reassuming the role of boat rocker in chief.

Would it be feasible to allow custom script to run on an AMP page, in the following circumstances:
- Script URL is declared in a special link tag
- Page is the top level context, i.e. is not being displayed as part of the Google search carousel or in gmail or whatever.
- Custom script is loaded asynchronously by the amp runtime once rende

[2016-07-14 09:51] amans1690 opened #4066 "The tag 'script' is disallowed except in specific forms occurs intermittently"
![screenshot_2](https://cloud.githubusercontent.com/assets/10262551/16835460/70c4a9aa-49d6-11e6-9700-6f07b33ca4a3.png)
![screenshot_1](https://cloud.githubusercontent.com/assets/10262551/16835461/70c50846-49d6-11e6-9aa5-fcc488196ae2.png)

##Issue:
The tag 'script' is disallowed except in specific forms occurs intermittently by the AMP validator. On refresh the validation error doesn't show

## How

[2016-07-14 14:21] cramforce commented on #4064
CC @dvoytenko

I've been thinking about this, but slightly differently.

This is where we are now:

- AMP already supports SW installation (both same origin and from remote origin)
- #3742 is working towards an app shell model for same origin docs, where the PWA displays and enhances the AMPs.
- The SW based system would essentially allow free customization for the N > 1st page view (user lifetime

[2016-07-14 15:37] rowan-m opened #4068 "Mustache tags in docs interpreted by Mustache.js on ampproject.org"
## Short description of your issue:
Documentation is in Markdown, but when this is published to the site (where Mustache.js is included) the tags are interpreted and therefore don't show in the docs.

## How do we reproduce the issue?
https://www.ampproject.org/docs/reference/extended/amp-mustache.html
Should display:
[code]
Renders as:
[code]

https://www.ampproject.org/docs/reference/extended/am

[2016-07-14 15:49] aghassemi opened #4069 "amp-sidebar: Noticeable delay between tap and sidebar animation starting"
There is a noticeable delay between tapping an open sidebar action and the animation for the sidebar starting.

To reproduce:
Go to https://www.ampproject.org/ and tap on the menu action, notice the main page is semi-transparently shimmed immediately but it takes a noticeable amount of time before the edge of sidebar appears and starts animating.

Looks like there is very long frame with low FPS a

[2016-07-14 16:04] rudygalfi commented on #4066
cc @powdercloud @Gregable

[2016-07-14 16:26] #4060 closed

[2016-07-14 16:33] cramforce commented on #4060
@erwinmombay Can you merge this into the canary?

[2016-07-14 16:38] erwinmombay commented on #4060
@cramforce yes, i just started a build

[2016-07-14 16:39] erwinmombay commented on #4060
build here https://travis-ci.org/ampproject/amphtml/builds/144783302

[2016-07-14 16:59] rudygalfi commented on #4068
cc @pbakaus

[2016-07-14 17:32] zhouyx commented on #3871
I tested on Chrome with a Nexus 6P running Android 6.0.1
But you can also reproduce it on a emulator.

[2016-07-14 18:14] cramforce commented on #3930
Already implemented

[2016-07-14 18:14] #3930 closed

[2016-07-14 18:14] cramforce commented on #3795
This seems to be a browser bug.

[2016-07-14 18:14] #3795 closed

[2016-07-14 18:14] cramforce commented on #3665
LGTM

[2016-07-14 18:15] #3519 closed

[2016-07-14 18:15] #3379 closed

[2016-07-14 18:15] #3220 closed

[2016-07-14 18:15] #2934 closed

[2016-07-14 18:15] #2832 closed

[2016-07-14 18:17] cramforce commented on #2446
Not going there until https://github.com/w3c/beacon/issues/22 is resolved

[2016-07-14 18:18] #2081 closed

[2016-07-14 18:18] jridgewell commented on #3888
Can we prioritize this for for next? This is a 9kb (4kb gzipped) savings for Safari and Chrome.

[2016-07-14 18:18] #2042 closed

[2016-07-14 18:19] cramforce commented on #1822
@muxin You kind of did this, right?

[2016-07-14 18:19] #1692 closed

[2016-07-14 18:20] rudygalfi commented on #3888
Bumped into Next. @jridgewell assigned you.

[2016-07-14 18:20] #545 closed

[2016-07-14 18:20] powdercloud commented on #4066
I tried looking at the URL, but it 404s. So I think I'm left with making some guesses for now:
- I think it's very unlikely that the validator code itself would not consistently produce this error message given the same input.
- So I think the input is probably changing. This could be due to a cache or CDN or multiple webservers etc., configured in such a way so that multiple different copies are

[2016-07-14 18:20] #4066 closed

[2016-07-14 18:22] cramforce commented on #3888
Assigned to @lannka. Lets to this as a "on the side" project. It'll be much easier after @dvoytenko's work for more direct late loading of JS lands.   #4025

[2016-07-14 18:25] powdercloud commented on #4066
Update: the original URL 404s intermittently for me; originally I couldn't see the AMP version of the article but after retrying a few times, I actually got to see it. So, there must be something misconfigured at this site or its CDN for sure.

[2016-07-14 18:55] jridgewell commented on #4063
Ping @cramforce.

[2016-07-14 18:58] poscar commented on #3854
Was this really fixed? Specifying the data-secret-token attribute doesn't actually load the track....

http://jsbin.com/mikozuvuxo/

[2016-07-14 19:00] jridgewell commented on #3854
It might not be live on the

[2016-07-14 19:03] Meggin opened #4071 "Does an amp-search-bar extension make sense?"
I'm currently working on a dictionary definition AMP sample, and one thing very common to dictionary definitions is the ability to easily change the word you are looking at.

It occurred to me that the same could be said if I am in an article, I may want to search for another article on a different topic.

The search box for a dictionary definition could be straight forward-- a simple bit of javas

[2016-07-14 19:25] avimehta commented on #4018
what about siblings? If the dom structure is something like:

[code]

What would https://github.com/ampproject/amphtml/issues/4018#issuecomment-232508277 select in this case?

[2016-07-14 19:30] cramforce commented on #4063
LGTM.

CLA looks good.

[2016-07-14 19:39] aghassemi opened #4073 "amp-sidebar: Scrolling the sidebar, scrolls the main page"
When sidebar is visible, one can not scroll the main page since it is masked but scrolling the sidebar will scroll the page when it reaches the end of sidebar scrolling area.

[2016-07-14 19:58] powdercloud opened #4074 "Validator Warnings or Errors when unexpected HTML5 parsing behavior is triggered."
I'd like to propose that we notify users for any of these:
- Something is encountered by the HTML parser in the head section of the document (or after it) which doesn't belong there according to HTML5. The parser starts the body. This can be confusing if the original body tag had attributes.
- The closing tag of `<amp-img>` is omitted, which means that content after that belongs inside the HTML el

[2016-07-14 20:28] lannka opened #4075 "Render delaying extensions should call resources.schedulePass() after DOM mutation"
As pointed out by @cramforce and @dvoytenko here:
https://github.com/ampproject/amphtml/pull/3983/files/e25e1b372db0963379f08b9f84c37fc73d2cf8f1..91bfc574cd3ef180ebad3895f2a4e58d23f897e8#r70861329

[2016-07-14 21:06] erwinmombay commented on #4047
looking

[2016-07-14 21:08] zhouyx commented on #3871
#4073

[2016-07-14 21:22] avimehta commented on #3986
@cramforce curious about how you are measure the impact here. Would be interested in improving amp-analytics as well.

[2016-07-14 21:44] erwinmombay commented on #4047
looks like safari is no longer respecting just doing:

`document.body.style.animation = 'none';`

you have to now explicitly also do:

`document.body.style.webkitAnimation = 'none';`

to overwrite the amp-boilerplate animation

[2016-07-14 21:45] erwinmombay commented on #4047
/cc @cramforce @dvoytenko @ithinkihaveacat

[2016-07-14 22:00] cramforce commented on #3986
@avimehta We don't yet over time. Just profile based. Trying to hire someone to build the infra.

[2016-07-14 22:04] cramforce commented on #4047
Wow, bizarre.

Lets add workaround, of course, but please file a https://webkit.org/reporting-bugs/ I think they probably want to fix this.

[2016-07-14 22:05] cramforce commented on #4018
`#parent`. I don't think siblings are needed. We certainly don't support `amp-ad` nesting.

[2016-07-14 22:40] cramforce opened #4077 "SubtleCrypto available on secure origins only"
There is a non-fatal error that occurs during our attempt to use SubtleCrypto whenever we want to use it outside of secure (which includes localhost) origins.

We should probably avoid the attempt to use the API under these circumstances and immediately fall back to the closure implementation.

This may affects the feasibility of late loading the closure implementation (#3888).

[2016-07-14 22:49] erwinmombay commented on #4047
webkit bug reported here https://bugs.webkit.org/show_bug.cgi?id=159791, working on work around in `style.js`

[2016-07-14 22:49] lannka commented on #4077
What is `secure origin`?

I found this [article](https://www.chromium.org/Home/chromium-security/prefer-secure-origins-for-powerful-new-features) but not sure if that's relevant.

[2016-07-14 22:54] cramforce commented on #4077
https://www.chromium.org/Home/chromium-security/prefer-secure-origins-for-powerful-new-features

[2016-07-14 22:55] cramforce commented on #4077
That is the right article. The error thrown points to that URL.

You can easily repro, by trying AMP on a non-secure origin.

[2016-07-14 23:01] lannka commented on #4077
Thanks god we catch all exceptions. :-)

[2016-07-14 23:04] cramforce commented on #4077
Yep :)
Not a high priority, but I prefer bailing out without exceptions. Otherwise they can obfuscate debugging.

[2016-07-14 23:11] rudygalfi commented on #4071
The searchbox itself should be implemented with forms (#3343) once that's available. There's also a feature request for autocomplete in #3403 that could let you jump from AMP page to AMP page via a suggest experience.

Search results pages themselves are out of scope for AMP because they are fundamentally not cacheable experiences.

[2016-07-14 23:21] jasti commented on #4048
@jridgewell  If it's not too much work, we should go ahead and do it. It'll be required for launch.

[2016-07-14 23:28] jasti commented on #3272
@parisholley thanks. Any chance you could in the next couple of weeks? Lot of publishers would benefits from this!

[2016-07-14 23:32] cramforce commented on #4048
This is definitely an interesting case, where we can easily do the right thing, but native IntersectionObserver cannot. CC @mpb

[2016-07-14 23:36] jpettitt opened #4078 "Variable substitution in href of <a> tags?"
I'd love to see the ability to do at least simple variable substitution in the `href` of an `<a>` tag.  specifically if I could get `CLIENT_ID` transmitted it would let me track sessions between the a cdn and regular site.  One of the big gripes we're getting from publishers is they have no idea if AMP is generating more or longer sessions or if users are just swiping in the carousel to another pu

[2016-07-14 23:56] erwinmombay commented on #4047
@cramforce looks like its been fixed, do we still need to do the workaround?

[2016-07-15 00:01] jasti commented on #4022
@cramforce two things.
1. "for showing fallback until this time" - since a fallback can be basically anything, including "We have no ads to show for you" - I don't know if we can do this by default.

2. I like the promise idea - do ad networks have to implement some some sort of ad render start callback to invoke to trigger this promise?

[2016-07-15 00:07] jridgewell commented on #4048
Isn't that part of the `IntersectionObserver` spec? It explicitly mentions [`clip-path`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-fx-flying-carpet/0.1/amp-fx-flying-carpet.css#L39-L40) in [Section 3.2.4:3.2](https://wicg.github.io/IntersectionObserver/#calculate-intersection-rect-algo)

[2016-07-15 00:09] aghassemi opened #4080 "Components outside of viewport on the x-axis still get scheduled"
[code]
gets scheduled but

[code]
does not get scheduled.

I have a fix for this already but wanted to have discussion to make sure this is indeed a bug and not intentional. Also the fix for this will potentially break users who may have intentionally or unintentionally expected this behaviour ( e.g. putting their `amp-pixel` in an offscreen div for whatever reason).

**Details**
The issue is that

[2016-07-15 00:12] cramforce commented on #4080
Yeah, I think we should fix it, since it is so simple.

[2016-07-15 00:13] mpb commented on #4048
Yes, that was intentionally left out of V1 Intersection Observer.
CC @szager-chromium

[2016-07-15 00:14] parisholley commented on #3272
@jasti o why not :) i'll see what I get knocked out tonight

[2016-07-15 00:16] cramforce commented on #4022
Not all ad network do this. But we can make it work only where we know it is supported. Your new Team will help to announce this being supported.

[2016-07-15 00:16] jasti commented on #3272
Thank you monsieur!

[2016-07-15 00:20] szager-chromium commented on #4048
@cramforce Could you explain what IntersectionObserver can't do, that you can do with your existing code?  We want to cover all bases.

[2016-07-15 00:24] cramforce commented on #4048
@jridgewell Could you explain the exact case?

Basically we have a fixed positioned iframe which wants to detect that sometimes something is on top of it. We are using `clip-path` for the occlusion. Example above.

[2016-07-15 00:32] dvoytenko commented on #4080
That's weird. Is transform misreported in the `getBoundingClientRect`? I'm pretty sure runtime checks on that.

[2016-07-15 00:35] dvoytenko commented on #4047
Depends on when next preview is out. If long time - we may want to fix it still. However, let's not do it in `style.js`. If it's a specific bug, let's just fix directly in `makeBodyVisible` by adding `webkitAnimation: none` statement to the setStyles.

[2016-07-15 00:38] cramforce commented on #4078
Exposing on the URL is definitely problematic. We'd definitely only do it for links to the source origin of an article. Not sure about insecure destinations, probably not.
@jpettitt Would putting it on the URL fragment be enough?

The primary risk is that a user shares the destination page and leaks their client id. Destination pages can avoid that, by clearing the ID from the URL, but there is no

[2016-07-15 00:39] cramforce commented on #4080
I believe we are simple not checking horizontal at all.

[2016-07-15 00:41] dvoytenko commented on #4080
We definitely do. But it could easily be a bug.

[2016-07-15 00:41] jridgewell commented on #4080
`-10000px` is used as a sentinel value for "unmeasured".

[2016-07-15 00:45] dvoytenko commented on #4075
There's no API for this yet. And we should be careful opening it. It should definitely be restricted via presubmits. But here's what needs to be done in the `Resources` class:
[code]

[2016-07-15 00:48] dvoytenko commented on #4073
Scrolling leaking is really hard to solve fully on iOS. Usually the cost is too high. If you find a way - definitely please share. But please keep one nuance in mind: in the iframed mode (our main mode) the scroll leaking shouldn't happen.

[2016-07-15 00:49] jridgewell commented on #4048
Essentially, we have:

[code]

Right now, we use `<amp-ad>` as the `IntersectionObserver` `root`, so it never encounters the clipping element. If instead we set root to be the `<flying-carpet>`, the `IntersectionObserver` would encounter the clipping element, and [hopefully](https://github.com/ampproject/amphtml/issues/4048#issuecomment-232828002) calculate the correct bounds.

[2016-07-15 00:52] erwinmombay commented on #4047
@dvoytenko that sounds good.

[2016-07-15 01:04] aghassemi commented on #4080
@jridgewell Not a special-case issue, exists with other values as well. Updated the description not to use 10000

[2016-07-15 01:06] cramforce commented on #4073
In which browser does this happen?

[2016-07-15 02:21] pbakaus commented on #4068
Just fixed it here, will be rolled out soon: https://github.com/ampproject/docs/commit/9116cc590787b68340aa29f7367ddf568ac3bd29 thanks for reporting!

[2016-07-15 03:29] cramforce opened #4086 "Optimize getMode()"
Our `getMode()` function currently computes work that we know cannot be true (such as being in test mode). This code should be compiled away and replaced with simple `true`, `false`.

The function does come up in profiling.

[2016-07-15 03:35] cramforce opened #4087 "Optimize FixedLayer"
Or get rid of it :)

It does take significant time in profiles. E.g. on this sample page
http://localhost:8000/min/m.huffpost.com/us/entry/us_5788012ce4b08608d333ca52/amp#prerender=1

[2016-07-15 03:46] dvoytenko commented on #4087
With transfer or w/o transfer? I.e. is it with Safari user agent emulation?

[2016-07-15 04:00] cramforce commented on #4087
I tested without

[2016-07-15 04:01] dvoytenko commented on #4087
In that case I assume most of cost is processing the stylesheet model and testing position:fixed.

[2016-07-15 04:33] aghassemi commented on #4073
Happens in Chrome, haven't tried others yet.

[2016-07-15 04:39] erwinmombay commented on #4086
weird, this should be the case. checking for regression

[2016-07-15 04:54] erwinmombay commented on #4086
@cramforce did you use --fortesting? i currently suppress dce'ing them with the flag

[2016-07-15 06:26] amans1690 commented on #4066
URL: http://m.timesofindia.com/city/goa/Traffic-snarls-mark-rath-yatra-in-city/amp_articleshow/53088037.cms#development=1

@powdercloud @Gregable You can open the url on chrome
1. for opening the url you have to first set the user agent in chrome dev tools to iphone4 or nexus4/5
2. Then try to access the url

[2016-07-15 06:31] aghassemi commented on #4073
Thanks @dvoytenko. I was hoping this would be as simple as changing overflow to hidden on body while sidebar is open but yeah after reading your comment, found that doesn't work on iOS version of Safari because of https://bugs.webkit.org/show_bug.cgi?id=153852 :(
We probably should not do anything crazy for this, maybe we just do the simple fix for non-iOS and wait hope for https://bugs.webkit.org

[2016-07-15 06:42] erwinmombay commented on #4086
double checked again, and yes if i do the replace with --fortesting a few tests start breaking
https://travis-ci.org/ampproject/amphtml/builds/144914926

[2016-07-15 06:47] dvoytenko commented on #4073
@aghassemi Correct. And there are many other issues, such as:

- In some browsers/versions the `scrollTop` is reset as soon as `overflow:hidden` is set.
- In some browsers/versions history restores scroll position because you try to manipulate as of these properties
- Setting `overflow:hidden` may actually cause full-page relayout.

[2016-07-15 07:57] jpettitt commented on #4078
Fragment might work, I'd have to think about how that would work if the page being linked to is AMP where we can't run JS.  If FRAGMENT were also a substitution value we could use in an `amp-pixel` or `amp-analytics` tag I think that would work.  As long as we can tie the cdn id we get on our amp-pixel to the user session on our domain we're good.

[2016-07-15 08:26] yevheniiminin opened #4090 "amp-o2-player extension readme broken link"
The link is https://github.com/ampproject/amphtml/blob/master/examples/o2-player.amp.html
But should be https://github.com/ampproject/amphtml/blob/master/examples/o2player.amp.html

[2016-07-15 10:13] szager-chromium commented on #4048
The native IntersectionObserver implementation should honor clip-path correctly.  If it does not, please file a bug at https://crbug.com/new.

The native implementation does not account for paint occlusion, transforms, filters, or opacity.  To my knowledge, there is no existing alternative way to detect those things.

We want to make sure that IntersectionObserver is capable of replacing existing

[2016-07-15 10:14] amans1690 opened #4093 "The load time in AMP page is increased to 7 to 10 seconds"
## Description of your issue:
Load time is increased 7 to 10 seconds.

## How do we reproduce the issue?
URL: http://m.timesofindia.com/sports/football/top-stories/Lionel-Messi-quits-international-football-after-Copa-loss/amp_articleshow/52933632.cms
You can open the url on chrome
1. for opening the url you have to first set the user agent in chrome dev tools to iphone4 or nexus4/5
2. Then try to

[2016-07-15 12:52] mdziekon opened #4094 "Invalid URL protocol 'skype:' for attribute 'href' in tag 'a'."
I've discovered that ``skype:`` URI protocol is not supported by the validator.
It throws on hrefs like this:

with the following error:

Since there was a similar request to support Threema, should the Skype URI API (described here: https://msdn.microsoft.com/en-us/library/office/dn745882.aspx) be supported as well?

[2016-07-15 14:05] tdrl opened #4095 "Update A4A to improve handling of amp-runtime style"
It turns out that AMP uses the `amp-runtime` style tag to maintain critical element styling and lifecycle information _and_ that this information doesn't penetrate Shadow DOMs.  The consequence is that the A4A Shadow DOM rendering path breaks the lifecycle of AMP elements in ad creatives rendered in Shadow DOM.

#4070 introduces a short-term fix that clones the `amp-runtime` style from the host do

[2016-07-15 14:35] cramforce commented on #4086
Yeah, we should not DCE with `--fortesting`. Just wanted to make sure we are on the same page:

I want to make sure that this line:
https://github.com/ampproject/amphtml/blob/master/src/mode.js#L71

is being killed, because it is pretty expensive to evaluate.

[2016-07-15 14:44] cramforce commented on #4078
@jpettitt Do you need this at all on browsers that support 3p cookies or if you already have a cookie with the user?

One way would be to do this:

- We call an endpoint early in page lifecycle that tells us whether the following is necessary
- If yes, outbound links to the origin of the doc are instead POSTed to a given URL with two post params:

    1. CLIENT_ID
    2. Actual destination URL

-

[2016-07-15 14:51] erwinmombay commented on #4086
@cramforce checking

[2016-07-15 14:56] cramforce commented on #4094
Yes, if we don't yet.

[2016-07-15 14:57] erwinmombay commented on #4086
looks like that line isnt killed, working on it

[2016-07-15 15:08] jpettitt commented on #4078
That would work too. I was just looking for a simple answer since we already have variable substitution.  I think if we're going the the POST solution I'd like to be able to pass other variables (time on page spring to mind as does the ampdoc and canonical urls).  If this become a generalize "redirect via post" and works for link on both the ampdoc origin and the canonical origin I think we'd be g

[2016-07-15 15:41] cramforce commented on #4093
- What is your measuring methodology?
- Did this regress between 2 particular AMP versions?

Note that the `load` event is meaningless for AMP. Its results are pretty random, because the requests are counted towards it depend on network order.

[2016-07-15 16:04] #4090 closed

[2016-07-15 16:16] amoad-amoe commented on #4063
Thanks a lot!
I'm looking forward to see our Ads via amp-ad.

but, when can I...

[2016-07-15 16:26] cramforce commented on #4063
See https://github.com/ampproject/amphtml#releases

- Next Friday you can start testing.
- One week later everybody can use it.

[2016-07-15 16:34] amoad-amoe commented on #4063
I see. That's great!

[2016-07-15 17:02] #4063 closed

[2016-07-15 17:02] jridgewell commented on #4063
Closed by #4084.

[2016-07-15 17:14] dvoytenko commented on #4094
/to @Gregable

[2016-07-15 17:58] dvoytenko opened #4096 "Compiler: rewrite some instances of `serviceFor`"
/cc @erwinmombay @cramforce

Two instances I have in mind that will be the most sensitive: `extensionsFor` and `ampdocFor`. We can think about these services as "meta-services" - they are what makes other services work. I'm totally open to actually using a completely different API for them to make them inline-able to compiler/JIT. Suggestions welcome. The bottom line is that calling `ampdocFor` sh

[2016-07-15 18:07] julien51 commented on #1797
I'd love to see this happening. I understand that getting all "scrolls" posted is not trivial and may likely create a lot of events. in the same vein as the %age based scrolls inside the doc, do you think we could have something like every X pixels?

The main problem with %ages for is that this may create overlong period without events during which we would consider the user as inactive while she

[2016-07-15 18:22] cramforce commented on #4096
I think `getWin()` might be a better first target. Inlining makes sense, though.

`window.services.ampdoc.obj` is still 3 hash lookups.

[2016-07-15 18:23] Gregable commented on #4074
We should compute some numbers, but for many of these, I suspect they are too common to make into errors unless they are an problem that commonly causes rendering issues. Most of these the browser handles just fine ultimately.

As warnings, I suspect they could also be too noisy. Warnings which are not eventually escalated to errors run the risk of getting ignored.

I think the idea is good though

[2016-07-15 18:31] erwinmombay opened #4097 "cleanup safari tech preview workaround for killing animation timeout"
https://github.com/ampproject/amphtml/pull/4089

[2016-07-15 19:19] rudygalfi commented on #1797
Would pixel-specified boundaries on the existing `scroll` feature be sufficient (i.e. batched scrolling data proposed in this issue wouldn't be necessary)?

I'd be fine with augmenting the amp-analytics spec to enable a pixel-based definition instead of %-based. We would need to establish a minimum interval between the boundaries.

@cramforce @avimehta Do you think there's a way to make this work

[2016-07-15 19:42] dvoytenko commented on #3554
@jaygray0919 @cramforce

I've reviewed all examples and scripts. I can now break down what you'd like to accomplish into the following set of hypothetical tasks/solutions:

1. Inline data: support, e.g. `<script id="inline1" type="application/(ld+)json">{}</script>`.
2. Root selector: `amp-list` author can choose a different array root. Currently it's always `items` field. The new format is `root=

[2016-07-15 19:51] Gregable commented on #3907
Closing. I'm confident my explanation is the correct one, though not certain unless given a reference to the page. If so, https://github.com/ampproject/amphtml/issues/4074 tracks better reporting for this.

[2016-07-15 19:51] #3907 closed

[2016-07-15 20:04] #4047 closed

[2016-07-15 20:12] #4080 closed

[2016-07-15 20:25] avimehta commented on #1797
@julien51 I am not sure I understand the disadvantage of % based scroll events. If the approximation to nearest 5% the cause of missed data? or is it something else?

As for the sampled scroll data, I think it is probably useful to provide this. What format and what kind of configuration to support is an open question. Can you give examples of how the data would look on a page for https://github.c

[2016-07-15 21:30] powdercloud commented on #4066
@amans1690 Yes. I can see the page and at the moment the error you initially posted doesn't reproduce for me. My theory is still that the flaky behavior has something to do with the server / dns / cdn configuration for m.timesofindia.com, so it may be that the input to the validator changes. Please see my earlier posts.

[2016-07-15 22:44] #4069 closed

[2016-07-15 23:32] jaygray0919 commented on #3554
TY for thoughtful analysis. Will get back to you within a day.
/jay

[2016-07-16 05:13] #3307 closed

[2016-07-17 01:38] klemy202 opened #4102 ""FLEX_ITEM" is not described in the online doc"
## Short description of your issue:

On the [page of `amp-img.md`](https://github.com/ampproject/amphtml/blob/master/builtins/amp-img.md) we can find a `FLEX_ITEM` in the list of *Supported Layouts*, but It is not described in the [online documentation](https://www.ampproject.org/docs/guides/responsive/control_layout.html).

## How do we reproduce the issue?

Read the doc!

## What browsers are af

[2016-07-17 05:13] erwinmombay commented on #4102
@klemy202 thanks for reporting! do you mind filing this issue against https://github.com/ampproject/docs/issues/new instead?

cc @Meggin

[2016-07-17 07:17] nguyenlan113 opened #4103 "amp-Product"
amp-Product

[2016-07-17 09:55] triblondon commented on #4064
Ok, so you're saying I request an article, and service worker instead responds with an app shell that makes a fetch for the article, and does some deconstruction of the AMP to create a view.

That's a very specific application architecture to support in the platform. Reminds me of app cache! What if that doesn't suit my application? What I'm suggesting leaves the architecture up to the developer,

[2016-07-17 16:10] aghassemi opened #4104 "Remove NoInline compiler rule when TryCatch optimization is shipped in Turbofan"
Currently Inline TryCatch statements deoptimize the entire function containing them. https://github.com/ampproject/amphtml/pull/4028 was created to move TryCatch out of a few functions and a new rule (if name ends with "NoInline") was added to Closure Compiler to ensure CC does not inline them again at compile time.

We should remove this rule after V8 ships the TryCatch optimization for Turbofan.

[2016-07-17 16:20] aghassemi commented on #4104
https://codereview.chromium.org/1996373002 is the latest attempt to ship it. So it might be finally in soon

[2016-07-17 16:43] cramforce commented on #4064
Well, it was just one example. As soon as you have a ServiceWorker you can do whatever you want.

[2016-07-17 19:11] cramforce commented on #3101
@mkhatib Welcome back from vacation. Fixing this would be super valuable. Otherwise even our SC tests look good now :)

[2016-07-17 19:34] cramforce commented on #4103
Closing for lack of detail.

[2016-07-17 19:34] #4103 closed

[2016-07-18 06:56] mkhatib commented on #3101
@cramforce not even back yet 😄 . I did mostly experimentation in this, if anyone want to take this over  or I can take a look when I get back.

[2016-07-18 15:02] zhouyx commented on #4041
#4056

[2016-07-18 15:02] #4041 closed

[2016-07-18 15:28] aghassemi commented on #3169
This is due to a bug in resource and affects multiple components that do manual pause scheduling (`amp-sidebar`, `amp-lightbox` and `amp-carousel`) so a video inside all of those components will suffer from the same bug.

The issue is trivial to fix but wondering what you think about the two possible approaches. The issue is that manual calls to `schedulePause` put a component in a permanent* paus

[2016-07-18 15:41] zergnetjake commented on #4009
There was an issue with the previous pull request, I had accidentally pushed some commits using my personal github information.

New pull request is here: https://github.com/ampproject/amphtml/pull/4108

[2016-07-18 16:10] cramforce commented on #3101
Get back to your vacation! I meant for you to read this after!

[2016-07-18 16:21] RonanDrouglazet opened #4109 "amp-ad / onResizeDenied and onResizeSuccess not called anymore"
## Short description of your issue:

Hi AMP Team !

As we can see here https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing
when an ad ask for a resize, they should get a response with onResizeDenied OR onResizeSuccess

It's not the case anymore since the July 14 Release (https://github.com/ampproject/amphtml/releases/tag/1468017284333)

## How do we reproduce the issue?

You can repr

[2016-07-18 17:03] dvoytenko commented on #4109
/to @sriramkrish85 PTAL

[2016-07-18 17:06] dvoytenko commented on #3169
I think only option (1) would work at this time. Subsequent layouts will not be called second time, e.g. when a carousel is swiped back again.

[2016-07-18 17:43] jpettitt opened #4111 "Allow one ad to have a higher priority?"
We'd like to be able to designate one ad on a page as a higher load priority.  The current model of having all ads be priority 2 is creating a bad user experience.

Typically our publishers have a 320x50 ad at the top of the page.  On a page where the main content renders in ~600ms the ad doesn't fill until around 3.2 seconds.  Part of that is the nature of waterfall and ad exchanges but a good ch

[2016-07-18 17:44] jpettitt commented on #4111
Example page if you want to observe it https://wesh.relaymedia.com/amp/national-news/how-a-freedom-fighter-became-a-lion-king-star/40416072

[2016-07-18 18:00] jpettitt commented on #4071
@rudygalfi you wrote "Search results pages themselves are out of scope for AMP because they are fundamentally not cacheable experiences." - is that the scope definition you are working to?

It seems a bit narrow to me.  Yes you want cacheable for the carousel/cdn.  However there are plenty of cases where having a really fast mobile page, with a cached javascript framework that manages load priorit

[2016-07-18 18:07] sriramkrish85 commented on #4109
![screen shot 2016-07-18 at 11 07 28 am](https://cloud.githubusercontent.com/assets/1037311/16925177/d7d736c2-4cd7-11e6-9985-715e911cba65.png)

[2016-07-18 18:26] lannka commented on #4111
@jpettitt I suppose you were not talking about a position jump after the ads loaded. It's just loaded very late, right?

[2016-07-18 18:26] rudygalfi commented on #4111
cc @jasti

[2016-07-18 18:36] sriramkrish85 commented on #4109
@RonanDrouglazet , Thanks for filing the bug.

 i am seeing the ad turn to red. (when  i inspect on chrome). But never seeing it turn green when below viewport.

I dont see any changes to the API in the said release. Will continue to investigate and check if this is really an issue.

[2016-07-18 18:49] jpettitt commented on #4111
@lannka yes just a really late load.

[2016-07-18 19:15] jasti commented on #4111
@jpettitt We'll definitely do early requests for A4A ads #3133 and considering for all ads. Please stay tuned.

[2016-07-18 19:49] cramforce opened #4113 "Implement shared video interface for amp-video and youtube"
Lets see how far we get with implementing #3945 against `amp-video` and `amp-youtube` as a blackbox.

This should help as a reference implementation for #3945 for other players.

[2016-07-18 20:13] zhua1989 opened #4114 "Var Substitution or Way to pass in URL and HTML of a Link Dynamically to event Label and Action in Click Event"
Hi All,

Apologies in advance if this isn't the right place to post this.  I guess it's more of a request/ feature type.  I'm trying to figure out if there is some way to pass in the href and html or text of a link into the event label and event action variables in an event trigger for a click.  I've combed through all the docs/ git hub examples pages but haven't found anything like that.  Is this

[2016-07-18 21:04] RonanDrouglazet commented on #4109
Thanks for your time @sriramkrish85  ! Yes i know, i have checked the changelog but does not see anything related either

But if i use the previous release (July 7), everything is ok !

Also, we really don't have the same result with this sample page. I always have an orange ad, i tried on iphone / android / desktop (@work) and just now, at home, on a chrome desktop (mac os) and iPhone simulator,

[2016-07-18 21:23] #3431 closed

[2016-07-18 21:24] RonanDrouglazet commented on #4109
When i load this page on the top, no scroll, i never get any response from requestResize

When i load this page OVER our amp-ad component, resize is denied (normal) but as you can see in my attached screen record, i have a response ! Denied (red), but still, it's a response

So in the "classic" use case, it never work for me :(

[amp-resize.mp4.zip](https://github.com/ampproject/amphtml/files/3701