[2018-09-17 21:48] nainar opened #18107 "[ACS - Beginner codelab only - 2] Spelling inconsistencies in examples/visual-tests/amp-by-example/components/amp-accordion/source/index.html"
### AMP Contributor Summit - Day 0 Beginner codelab use only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to do:
- Change "behaviour" to "behavior"

### St

[2018-09-17 21:48] nainar opened #18108 "[ACS - Beginner codelab only - 3] Spelling inconsistencies in examples/visual-tests/amp-by-example/components/amp-experiment/embed/index.html"
### AMP Contributor Summit - Day 0 Beginner codelab use only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to do:
- Change "behaviour" to "behavior"

### St

[2018-09-17 21:49] nainar opened #18109 "[ACS - Beginner codelab only - 4] Spelling inconsistencies in examples/visual-tests/amp-by-example/components/amp-experiment/index.html"
### AMP Contributor Summit - Day 0 Beginner codelab use only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to do:
- Change "behaviour" to "behavior"

### St

[2018-09-17 21:50] nainar opened #18110 "[ACS - Beginner codelab only - 5] Spelling inconsistencies in examples/visual-tests/amp-by-example/dynamic_amp/mixing_dynamic_and_cached_data/source/index.html"
### AMP Contributor Summit - Day 0 Beginner codelab use only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to do:
- Change "behaviour" to "behavior"

### St

[2018-09-17 21:50] nainar opened #18111 "[ACS - Beginner codelab only - 6] Spelling inconsistencies in examples/visual-tests/amp-by-example/introduction/amp_for_e-commerce_getting_started/source/index.html"
### AMP Contributor Summit - Day 0 Beginner codelab use only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to do:
- Change "behaviour" to "behavior"

### St

[2018-09-17 22:20] addieachan opened #18113 "Blurred image placeholders have transparent edges in some browsers"
On some browsers, when an amp-img or amp-video has a blurry image placeholder, the edges of the placeholder are transparent as the image loads.
<img width="541" alt="screen shot 2018-09-17 at 6 12 06 pm" src="https://user-images.githubusercontent.com/39060570/45653543-5cdb1800-baa6-11e8-8767-6d85b72df904.png">

[2018-09-18 07:35] bjalford opened #18123 "[Master Feature] Allow ads to be position fixed on desktop canoncial"
We have a requirement to make an ad sticky in an article template for a publisher in the right hand column on desktop (AMP as canonical). If we add a position fixed the ad doesn't render.

In the same way the amp-sticky-ad has a height restriction, could amp-ads on desktop (or media query great than x pixels) that are position fixed have a max width. Our specific requirement is to render MPUs and

[2018-09-18 12:09] JTLR commented on #15100
Hi, I am using an older version of FontAwesome (4.7) which gets supplied at this URL: `https://use.fontawesome.com/{random string of 10 letters and numbers}.css`
Is it possible for this to be whitelisted also?

[2018-09-18 13:47] cramforce commented on #13766
Shipped yesterday 🎉

[2018-09-18 13:47] #13766 closed

[2018-09-18 16:02] aghassemi opened #18138 "amp-video-iframe : Allow custom analytics events"
`amp-video-iframe` should support all of AMP's predefined video analytics events but additionally should allow publishers to do custom events that is very specific to their use-case/player. (For example  'related video clicked')

/to @alanorozco
/cc @sebastianbenz @jeffjose

[2018-09-18 16:09] cramforce commented on #17924
Let's talk about the new governance model!
https://github.com/ampproject/meta/pull/1

[2018-09-18 17:08] choumx commented on #18073
Does this help? https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#amp-state

[2018-09-18 17:40] rsimha opened #18141 "Visual diff tests frequently failing with `bad_request` errors"
This has happened on a few PR builds today (I've had to restart all of them)

[code]

[2018-09-18 18:10] rsimha commented on #17105
Update: The tests now take ~12 minutes, and are greatly slowing down Travis builds. The good news is that this time will be halved once #18009 is merged, and further reduced once #17139 is merged.

[2018-09-18 18:40] choumx commented on #10571
Is this still an issue?

[2018-09-18 18:41] #8333 closed

[2018-09-18 19:06] rsimha commented on #10571
Obsolete, IMO.

[2018-09-18 19:06] #10571 closed

[2018-09-18 19:52] dvoytenko commented on #17974
@itjl The thing is that `amp-access` has never launched on Google News due to this fundamental incompatibility. `amp-subscriptions` and `amp-subscriptions-google` address it. I can connect you to the right folk to support this. Would you mind pinging my [on slack](https://github.com/ampproject/amphtml/blob/81262411085754eb3e978fb68e87b5e8fa307d80/CONTRIBUTING.md#discussion-channels)? `amp-subscrip

[2018-09-18 19:54] zhouyx commented on #17742
@consentmanager @oliverfernandez @jawadst @jeffnordlund-ghost
Thanks for joining the meeting last week. It was really helpful! We would like to schedule a 30 mins follow up meeting this week to talk about technical details and timeline. Thanks.

Time: [2018-09-20 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=09&day=20&iv=0) ([add to Google Calendar](http://www.goog

[2018-09-18 19:58] jawadst commented on #17742
@zhouyx There is an IAB Techlab call at that time that a lot of us are likely to attend. Can we do Friday instead?

[2018-09-18 20:38] danielrozenberg opened #18155 "Preemptively stop a running/pending Travis builds when a new commit is pushed to a PR"
Every commit for a PR creates a new Travis build. If the contributor pushes a new commit to a PR while there are still running/pending Travis builds/shards, those will continue to be queues and "hold hostage" a VM that is no longer going to provide any valuable feedback to the build. We should consider stopping the previous commits' builds in this case

(Related to #18156)

[2018-09-18 20:38] danielrozenberg opened #18156 "Preemptively stop a running/pending Travis builds when the other shards fails"
Every PR creates a Travis build with two shards, one for unit tests and one for integration tests. To release Travis VMs faster, we can consider stopping one shard if the other in the same build already failed

(Related to #18155)

[2018-09-18 20:41] danielrozenberg commented on #18156
Personally I'm not in favour of doing this: the feedback I get from the two shards is different. My PR can fail on a unit test, but succeed on all integration tests. Or it could fail on a unit test, and also fail on an integration test.

If we stop the integration shard before it gives me feedback, I might waste time fixing the failing unit test and starting 2 new VMs, and then later fail the inte

[2018-09-18 20:43] rsimha commented on #18155
There is a way to cancel a build using the command line: https://blog.travis-ci.com/2013-08-21-abort-mission-cancel-running-builds

The missing ingredient is to figure out which of the running builds are associated with the same PR.

[2018-09-18 20:53] rsimha commented on #18156
There is a way to cancel a build using the command line: https://blog.travis-ci.com/2013-08-21-abort-mission-cancel-running-builds.

@choumx @erwinmombay @jridgewell for your thoughts on https://github.com/ampproject/amphtml/issues/18156#issuecomment-422546154

[2018-09-18 20:56] adelinamart opened #18159 "🚄Release tracking issue for canary release <1809202142050> (Canary)"
# Release tracking issue

- [x] Release `[1809181624140](https://github.com/ampproject/amphtml/releases/tag/<RELEASE_NUMBER>)` is cut as a new canary release
- [x] Release 1809181624140pushed to dev channel (<CL submit time>)
- [x] Release 1809181624140 pushed to 1% (<CL submit time>)
- [ ] Release 1809181624140 pushed to production (<CL submit time>)

If you perform cherry picks, add/update the c

[2018-09-18 21:06] rsimha commented on #18155
There's an open FR on Travis for exactly this: https://github.com/travis-ci/travis-ci/issues/8712

[2018-09-18 21:13] choumx commented on #18156
SGTM

[2018-09-18 21:18] omar84 opened #18162 "Intent to Implement Pressboard Analytics"
Hi,

We'd like to add Pressboard analytics to the vendors list, PR: #18169

[2018-09-18 21:37] #17105 closed

[2018-09-18 21:41] jasti commented on #17723
Thanks for clarifying. Please note that although Google supports the AMP project, given the size of the company, not all Google products are supported in AMP.
I don't believe this support is available today but to summarize your requirement: You'd want the Google Ads team (previously Google AdWords) to provide an AMP version of the dynamic remarketing tag that you can implement on your AMP site. T

[2018-09-18 21:49] zhouyx commented on #17742
Thank you @jawadst for the heads up. Would the same time on Friday, 2018-09-21 15:30 UTC work for everyone? If so I'll go ahead and change the invitation.

Please let us know. Thanks

[2018-09-18 21:54] torch2424 commented on #18065
After reading through the context of issues and PRs leading up to this, it seems that, in my opinion, creating selectors for inabox vs. regualr amp documents should be fine.

Restricting the height makes sense for our standard amp documents, but inabox is restrained by the iframe. The parent document has control over the iframe is displayed, and the content inside the iframe tends to take up that

[2018-09-18 21:56] MalikIshtiaqHussain opened #18163 "Can any body tell me how i can create a AMP contact us form how i send the values to my personal email"
Can any body tell me how i can create a AMP contact us form how i send the values to my personal email

<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>My AMP Page</title>
  <link rel="canonical" href="self.html" />
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz

[2018-09-18 21:59] jawadst commented on #17742
Works for me

[2018-09-18 22:35] choumx commented on #18012
One issue: AJV minified is 27KB but amp-bind-0.1.js is 21KB. So if we want to put this in AMP land, it should be a separate extension which is its own problem.

[2018-09-18 23:02] cathyxz commented on #10230
You can track the release issue https://github.com/ampproject/amphtml/issues/18159 for when  #16564 lands in production.

[2018-09-18 23:34] zhouyx commented on #18073
Great! Didn't know we have support for `AMP_STATE`.

@bthomas16 you should be able to apply `data-vars-product-id=AMP_STATE(productState, productId)` the the clickable element. Or simply appending the param `productId=AMP_STATE(productState, productId)` to the `extraUrlParams` or the request itself.
Please let us know if that works for you. Thanks.

[2018-09-18 23:34] #18073 closed

[2018-09-18 23:59] mrjoro commented on #18064
# UI
contact: @aghassemi

## What was accomplished

- Carousel V2 req started
- PWA bugs
- Default loader iteration
- pan-zoom desktop bug
- video fallback in Stories bug
- gulp make-extension fixes
- amp-image-slider fully launched
- amp-list resize merged (under `resizable` attribute)

## What's next

- Carousel tests
- animation-worklet
- Default loader another iteration
- PWA bugs
- Rebase and

[2018-09-19 00:00] mrjoro commented on #18064
# Conduit ⚡🔌
contact: @Gregable

## What was accomplished
- Announced end of support for old AMP boilerplate in Nov.

[2018-09-19 00:01] mrjoro commented on #18064
# AMP Stories
contact: @newmuis

## What was accomplished

- Implementation for custom navigation menus in stories
- Continue implementation of clickable elements in amp-story-grid-layer
- Fix loading delay for ads within stories
- Fix for text overflow on "share" button
- Fix for tooltip on story

## Lessons learned
- Extensions were hardcoded to load 0.1 whenever there was a version skew between

[2018-09-19 00:02] omar84 commented on #18162
#95fd70911c1446950f656cf8285c68249b8111a1

[2018-09-19 00:04] mrjoro commented on #18064
# Ads & analytics
contact: @lannka

## What was accomplished

- Analytics linker
  - Increase linker coverage by matching base domain
  - Enable linker on Safari12 for CID API users
- Amp-consent
  - Met CMPs over VC
  - Placeholder UI prototype
  - PR merged: CMP configuration
  - PR merged: promptUISrc
- Amp-recaptcha
  - PR merged: amp-recaptcha service
  - PR merged: amp-recaptcha-input
- Amp-

[2018-09-19 00:05] mrjoro commented on #18064
# UX
contact: @spacedino

## What was accomplished
- Keep working on :  loading states

## Lessons learned
- Getting feedback directly from publishers is extremely helpful. Invite UX if you are getting requirements from a dev / pub! :)

## What's next
- Keep working on :  loading states ; infinite-list ; amp-next-page v2

[2018-09-19 00:09] mrjoro commented on #18064
# Infrastructure / Runtime
contact: @rsimha & @choumx

## What was accomplished
- Published design doc & PR for unified canary / prod configuration
- Deflaking visual tests: missing images issue fixed by Percy
- Layers mostly compatible with friendly iframe embeds
- Cleaned up all imports in AMP src
- Display toggle system nearly switched to hidden attribute
- Bundle size (contact: @kristoferbaxte

[2018-09-19 00:10] mrjoro commented on #18064
# amp-script
contact: @kristoferbaxter

## What was accomplished

- Empty Hydration for Angular
- Minor release 0.1.2

## What's next

- Bugs, Security Bugs
- Comment Nodes for Angular
- Integration Tests
- AppVeyor Integration

[2018-09-19 00:10] #18064 closed

[2018-09-19 00:22] ithinkihaveacat opened #18172 "<amp-story> not compatible with <amp-install-serviceworker>"
A page which contains both `<amp-story>` and `<amp-install-serviceworker>` is not valid:

https://confused-harmony.glitch.me/
https://validator.ampproject.org/#url=https%3A%2F%2Fconfused-harmony.glitch.me%2F

Potentially caused by:

https://github.com/ampproject/amphtml/blob/dce61786fdabfed5b5c92bbef6f046ceaebb740e/extensions/amp-story/validator-amp-story.protoascii#L97

[2018-09-19 02:05] tiffting opened #18177 "Structured data not detected by Google Search Console"
## What's the issue?

After switching to AMP, our website took a 40% nose dive in clicks. Our structured data also doesn't get picked up in Google Search Console.

## How do we reproduce the issue?

We are switching back to HTML to mitigate the damage the AMP migration has done, so there will be no live site on which to repro the issue.

## What browsers are affected?

Browser independent.

## Whi

[2018-09-19 03:57] bthomas16 commented on #18073
This is great! I was looking for the wrong things online, but now I don't know how I missed it.

Thank you so much for the help!

[2018-09-19 05:42] OmriKeret opened #18180 "Intent to Implement: amp-apester-media selectively show display ad"
## What's the issue?
Allowing amp-apester-media to bring the publisher's unit monetisation setting (set using Apester CMS) and selectively show a display ad below the amp-apester-media unit.

## Proposed design

1. Use the current XHR request Apester servers to receive the monetisation settings as we don't want to create another request that might effect the Apester Media load time.

2. Use amp-ad

[2018-09-19 05:43] OmriKeret commented on #18180
@lannka

[2018-09-19 08:08] consentmanager commented on #17742
works

[2018-09-19 08:44] consentmanager commented on #17742
re: "CMP and publishers will NOT be able to customize the size and the placement of the iframe. AMP will create a modal layer and place the iframe with default aspect width and height ratio in the center."
--> why the downgrade? currently we are able to resize the iframe, which is necessary when many information is shown ...

[2018-09-19 09:12] jaygray0919 commented on #10230
is there documentation on the arguments for `amp-list`? For example: `height="auto-resize"`

[2018-09-19 09:28] psdtomanythings commented on #16532
Hey @newmuis ,

How is this sidebar feature coming ? Really excited to see this.

[2018-09-19 11:02] tomayac opened #18181 "WebP image generated by AMP Cache bigger than original JPEG image"
## What's the issue?

The AMP cache [transforms images](https://developers.google.com/amp/cache/overview#cache-optimizations-and-modifications) in `image/jpeg` format into `image/webp`, which for some cases results in bigger than the original images.

## How do we reproduce the issue?

I have created one such example:
- **Self hosted:** https://band-theater.glitch.me/index.html
- **AMP Cache hoste

[2018-09-19 11:58] tomayac commented on #18181
Internally tracked as b/116086866.

[2018-09-19 12:23] jaygray0919 opened #18182 "errors with amp-viz-vega"
Example 1: https://afdsi.org/vega-amp/
Success: bar chart; nodes; geography
Fail: Stacked-pie. All other fails are commented on the page (e.g radial, matrix, etc.)

Example 2: https://afdsi.org/test/vega_amp_3/
Success: Node success
Fail: Circle packing

`amp-viz-vega` throws the following error:

`Error: "stratify" is not a valid transformation`
`Error: "treelinks" is not a valid transformation`

[2018-09-19 13:51] cramforce commented on #17974
Let's have the discussion here rest for a bit, as we can't really comment on the behavior of Google News. Among other things it sometimes has partnerships in place with individual publishers that may influence things (concretely speaking, AMP has an ecosystem expectation "amp-access should work", but two private companies can, of course, have an agreement between them that supersedes that).

I ask

[2018-09-19 14:23] jasonconway-williams opened #18183 "amp form action-xhr does not work in IE 11"
## What's the issue?

Amp form action-xhr does not work in Internet Explorer

## How do we reproduce the issue?

1. Navigate to the https://ampbyexample.com/components/amp-form/ page in Internet Explorer 11 (11.0.9600.19002).
2. Scroll down to the "Form Submission with Page Update" section.
3.  Insert valid values into the inputs and click "Subscribe".

The form does not submit.

## What browsers

[2018-09-19 14:27] jasonconway-williams opened #18184 "Date picker does not open in IE 11"
## What's the issue?

The date picker does not open in Internet Explorer 11. The following error is thrown in the console:

SCRIPT438: Object doesn't support property or method 'from'
File: v0.js, Line: 10, Column: 275

## How do we reproduce the issue?

If this is a bug please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else.

[2018-09-19 14:38] #17848 closed

[2018-09-19 14:38] #17849 closed

[2018-09-19 14:38] #17850 closed

[2018-09-19 14:38] #17851 closed

[2018-09-19 14:38] #17852 closed

[2018-09-19 14:38] #17853 closed

[2018-09-19 14:38] #17854 closed

[2018-09-19 14:38] #17855 closed

[2018-09-19 14:38] #17856 closed

[2018-09-19 14:38] #17857 closed

[2018-09-19 14:38] #17858 closed

[2018-09-19 14:38] #17859 closed

[2018-09-19 14:38] #17860 closed

[2018-09-19 14:38] #17861 closed

[2018-09-19 14:38] #17862 closed

[2018-09-19 14:39] danielrozenberg commented on #17862
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17861
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17860
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17858
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17859
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17856
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17857
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17855
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17852
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17851
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17850
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17849
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:40] danielrozenberg commented on #17848
I will be removing Amp By Example pages from visual diff tests soon, so this issue is no longer relevant

[2018-09-19 14:44] choumx commented on #17849
@danielrozenberg 😱 What's the new hotness?

[2018-09-19 14:50] danielrozenberg commented on #17849
email soon ;)

[2018-09-19 15:51] ro2ni3 opened #18185 "amp-state is not persisted across page reloads or page redirects"
## What's the issue?

When we submit a form and redirect the user away and then the user hits the back button on the browser, the amp state is lost.

I have an option select for selecting numChildren [1-4]. When selecting option 4, 4 more option selects will appear with the childrenAges. If we select childrenAges option selects 1,2,3,4 and then submit the form, when I click back, the state will ha

[2018-09-19 16:19] adelinamart commented on #17997
I can still test this in the current production and new canary also. @jridgewell please check. Thank you.

[2018-09-19 16:42] jasti commented on #17764
@glevitzky has this launched in canary?

[2018-09-19 17:03] bthomas16 commented on #18073
Last question,

Above I was providing a simple example for "skuState.skuId". In reality, I am now struggling to target the actual sku id's because the state looks like this:

[code]

As a user clicks on a different sku, we change the currentSku value, which then updates that newly selected sku's properties across the pdp. However, tracking the selected sku's properties is proving difficult with da

[2018-09-19 17:07] erwinmombay commented on #15100
cc @Gregable to triage @JTLR 's request

[2018-09-19 17:30] Gregable commented on #15100
Happy to implement, but @cramforce for approval of the change.

[2018-09-19 17:37] choumx commented on #18073
`AMP_STATE()` only takes JSON expressions (e.g. `x.y.z`), so you'll need to copy whatever data you need to track such that it can be referenced by a JSON expression.

[2018-09-19 17:42] jridgewell commented on #17997
It's still there. Fix will involve moving to a new Custom Elements polyfill, which I'll be doing testing in the next week.

[2018-09-19 17:56] cramforce commented on #15100
Ship it.

[2018-09-19 17:56] Gregable commented on #18172
`<amp-story>` conceptually replaces the `<body>`, so `<amp-install-serviceworker>` should be nested within it. However, `<amp-story>` disallows `<amp-install-serviceworker>` as a child.

The change should probably be made [here](https://github.com/ampproject/amphtml/blob/dce61786fdabfed5b5c92bbef6f046ceaebb740e/extensions/amp-story/validator-amp-story.protoascii#L100) instead, but I don't know if

[2018-09-19 18:10] cathyxz commented on #10230
Our documentation tends to land earlier than our code (generally resulting in a lot of confusion), so I was waiting for the code to land first, but the usage is just `<amp-list ... auto-resize>`.

[2018-09-19 18:12] pancham348 commented on #15647
Hi, has this been implemented already ? If not, is there a workaround we could use for the time being ?

[2018-09-19 19:03] rsimha commented on #15119
This is obsolete. We already have instructions in our dev docs for installing the prerequisite version of the JRE (version 8): https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-e2e.md#building-amp-and-starting-a-local-server

[2018-09-19 19:03] #15119 closed

[2018-09-19 19:05] Enriqe commented on #15119
Ran into this issue. Solved it by installing Java 8 JDK and updating the `JAVA_HOME` variable.

1. Install Java 8 SDK: http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
2. Open a new command line window and verify you have Java 8 installed
[code]

3. Update `JAVA_HOME` on your bash profile / zshrc:

```export JAVA_HOME=`/usr/libexec/java_home -v 1.8```

That shoul

[2018-09-19 19:07] rsimha commented on #15119
@Enriqe Was the `JAVA_HOME` workaround essential to get things to work on your laptop? If so, could you add that to the developer docs?

[2018-09-19 20:37] aghassemi commented on #15647
@pancham348 Note yet, you could potentially use `<div placeholder>` to render some slate items until amp-list loads, similar to https://ampbyexample.com/components/amp-list/#using-a-placeholder-animation but imagine placeholder were real items.

[2018-09-19 20:54] nainar commented on #17921
Notes:

<describes the issue>
Current status: use canary and prod config json files.
When new canary cut in week 0 - generate build with canary-config.json
Week 1 - when this is promoted to prod - we rebuild with prod-config.json
The configs in canary and prod can be different. This causes issues as the binaries used in canary aren't the same as the one in prod.

New suggestion:
Overall new sugges

[2018-09-19 21:37] calebcordry opened #18201 "Bottom of Stories cut off in new Chrome iOS"
Steps to repro:
Search for any query that triggers stories (ie `wapo`)
Click on first result
See that there is hidden content behind bottom bar

Iphone X iOS 12 Chrome version 69.0.349791

![image](https://user-images.githubusercontent.com/16087874/45782919-296cca80-bc19-11e8-9715-747935c80508.png)

[2018-09-19 21:38] calebcordry commented on #18201
@gmajoulet Following up to our conversation offline, I think it might not be a chrome issue because it seems to work correct when no viewer is involved.

[2018-09-19 21:39] Enriqe commented on #15119
Sure, I'll send out a PR.

[2018-09-19 21:41] choumx commented on #18185
Thanks for the report. I think this is a dupe of #12360. We're planning on adding this soon.

[2018-09-19 21:41] #18185 closed

[2018-09-19 21:53] erwinmombay opened #18203 "Cannot read property 'getComputedStyle' of null at install$$module$src$polyfills$math_sign"
```Error: Cannot read property 'getComputedStyle' of null at install$$module$src$polyfills$math_sign (https://raw.githubusercontent.com/ampproject/amphtml/1809181624140/src/polyfills/math-sign.js:41:7) at https://raw.githubusercontent.com/ampproject/amphtml/1809181624140/src/service/fixed-layer.js:734:16 at matches (https://raw.githubusercontent.com/ampproject/amphtml/1809181624140/src/service/fix

[2018-09-19 21:57] erwinmombay commented on #18203
cc @jridgewell for visibility

[2018-09-19 22:01] jridgewell commented on #18203
The unminified stack traces are never correct....

[2018-09-19 22:02] choumx commented on #18162
/cc @zhouyx

[2018-09-19 22:05] choumx commented on #18177
Do you have an archive of the old markup that we can look at?

Did it pass the [Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool/u/0/)?

[2018-09-19 22:06] choumx commented on #17878
/to @zhouyx

[2018-09-19 22:09] adelinamart commented on #18203
Was just looking at the spike. @erwinmombay assigning it to you, but feel free to reassign. we need to check it out before pushing this version to production next week.

[2018-09-19 22:11] choumx commented on #17935
Filed `b/116154021` internally with Cache team.

[2018-09-19 22:18] adelinamart commented on #17604
@jridgewell  I still see the issue in the current production: https://pantheon.corp.google.com/errors/CNn3ibCt3fHXMA?service=default-cdn-1p-canary&time=P1D&project=amp-error-reporting

[2018-09-19 22:25] adelinamart opened #18206 "Error: rejected promise [object PromiseRejectionEvent]"
@newmuis can you check the following error? Seems to be thrown from amp stories.

Error: rejected promise [object PromiseRejectionEvent]
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/element-service.js:182)
Referrer
https://www-washingtonpost-com.cdn.ampproject.org/v/s/www.washingtonpost.com/graphics/2018/national/amp-stories/florence-from-above/?amp_js_v=a2&amp_gsa=1

[2018-09-19 22:26] #15100 closed

[2018-09-19 22:26] Gregable commented on #15100
Resolved.

[2018-09-19 22:28] adelinamart opened #18207 "Error: Cannot call method 'requestMeasure' of undefined"
@aghassemi can you check the following production error. Thanks.

Error: Impossible d’obtenir la propriété « requestMeasure » d’une référence null ou non définie
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/focus-history.js:120)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/viewport/viewport-impl.js:559)
at animateScrollIntoViewInt

[2018-09-19 22:28] jridgewell commented on #18203
And confirmed:

[code]

[2018-09-19 22:41] adelinamart opened #18208 "Error: The operation was aborted."
@choumx there's this production error if you cna have a look:

Error: The operation was aborted.
at (the-operation-was-aborted.js:1)

https://pantheon.corp.google.com/errors/CNyH5IiB-Ij_xAE?service=default-cdn-1p&time=P1D&project=amp-error-reporting

[2018-09-19 22:44] erwinmombay commented on #18208
the-operation-was-aborted.js isn't an amp script, so this isn't our issue anymore.

[2018-09-19 22:44] #18208 closed

[2018-09-19 22:44] adelinamart opened #18210 "Error: Unexpected token ;"
@jridgewell can you have a look at this production error:

Error: Unexpected token ;
at (unexpected-token.js:1)

https://pantheon.corp.google.com/errors/CM7U_K-nvc-BFg?service=default-cdn-1p&time=P1D&project=amp-error-reporting

[2018-09-19 22:48] adelinamart opened #18212 "Error: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'."
@aghassemi can you have a look at this production error:
Error: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'.
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/variable-source.js:253)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/layout.js:420)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809

[2018-09-19 22:58] newmuis commented on #16532
Hi @psdtomanythings, #17836 has the implementation, but there are still some outstanding API decisions to be made. Due to the AMP contributor summit next week, this might not be decided until the following week, then the changes will take ~two weeks to roll out.

[2018-09-19 22:58] zhouyx commented on #18123
to @jasti Regarding how sticky ad works on desktop.

@bjalford that's right, AMP won't render an ad if it is position fixed unless it is positioned inside flying-carpet/lightbox/sticky-ad container.
The request here is to have the sticky-ad sticky to the side of the page (rather than bottom) on desktop? And then maybe a max width restriction can be applied.

[2018-09-19 23:01] aghassemi commented on #18212
reassigning to @jridgewell

[2018-09-19 23:02] aghassemi commented on #18207
reassigning to @jridgewell

[2018-09-19 23:09] adelinamart commented on #17837
@jridgewell this appeared again in the new canary:
https://pantheon.corp.google.com/errors/CNmyjfOTjs_TggE?service=default-cdn-1p-canary&version=001809181624140&time=PT6H&project=amp-error-reporting

[2018-09-19 23:58] dvoytenko commented on #17974
@itjl (i think you misspelled my username) To clarify, `amp-access` protocol has run into some fundamental issues when used within native apps. This is something we tried to workaround for awhile, and is one of the key reasons the `amp-subscriptions` exists: it's built on top of `amp-access`, looks very similar, and uses most of the same tools, but it has some key differences that allow propagatio

[2018-09-20 00:29] zhouyx commented on #17878
@ro2ni3 I am able to reproduce this. The reason behind is that the `<option>` doesn't fire click event when been clicked, but only `onchange` event.

Few ideas I had. @aghassemi @cvializ
1. Have the form listen to the onchange event and fire a customized analytics event. Would that be possible?
2. Introduce a new `onchange` trigger.
3. Is it possible that we can implement the `<select><option></op

[2018-09-20 00:33] rudygalfi commented on #17935
What is the URL you used?
At what stage did the url become cdn-content.ampproject.org, before hitting amp-cache or after?

[2018-09-20 00:39] aghassemi commented on #17878
yeah `select` does not fire `onclick` (rightly so since there are different UIs to chose an option. e.g. the wheel on iOS).

`amp-selector` can be used to mimic `select` to some extend but native is always preferred when possible.

`onchange` trigger seems reasonable.

[2018-09-20 01:03] lisaychuang commented on #18111
I can work on this issue!

[2018-09-20 04:49] lisaychuang commented on #18111
Fix issue in pr [18218](https://github.com/ampproject/amphtml/pull/18218)

[2018-09-20 04:56] lisaychuang commented on #18110
Fix issue in pr [18219](https://github.com/ampproject/amphtml/pull/18219)

[2018-09-20 05:54] TWsky opened #18220 "amp-carousel rendered without the right position and make amp-state break"
## What's the issue?

amp-carousel rendered without the right position and make amp-state break

## How do we reproduce the issue?

[See this video.](https://drive.google.com/file/d/15V37zcJQe65VDj2zQUEAQWtpKTwoUPcr/view?usp=sharing)

And here's is the [url ](https://cashier.ecpay.com.tw/store/kpop.star.tour)of the can-reproduce-error page.

## What browsers are affected?

Chrome 69.0.3497.81 on M

[2018-09-20 08:27] jarek-gilewski commented on #10230
When it goes on production (auto-resize for AMP-list component)?

[2018-09-20 09:58] loratov opened #18221 "Conversion tracking"
## What's the issue?

Does AMP track conversions and if not can this be added?

[2018-09-20 12:32] kul3r4 opened #18222 "[amp-pan-zoom] Support multiple svgs as children"
I tried to have 2 svgs inside `amp-pan-zoom` [here](https://amp-demos.glitch.me/seatmap.html), it works but the default size is super small, it seems amp-pan-zoom is not calculating the size correctly.

@cathyxz could you help me figuring out how I can achieve this effect?

[2018-09-20 13:14] ithinkihaveacat commented on #18172
It would be nice if `<amp-install-serviceworker>` were supported as a child of `<body>`, because a lot of AMP templating systems are going to expect that to just work, and it will be a bit awkward to switch on `isStory`.

(ampbyexample.com's templates [are affected by this](https://github.com/ampproject/amp-by-example/blob/5899ba52a1fa873366fbf53e94c2cc68292eb706/templates/preview.html#L56), which

[2018-09-20 13:56] tiffting commented on #18177
Yep, it did pass the structured data testing tool, which is why we were puzzled:
[index.html.zip](https://github.com/ampproject/amphtml/files/2401586/index.html.zip)

[2018-09-20 14:18] choumx commented on #18177
Hmm, the page looks like valid AMP and passes SDTT. Sorry, a few more questions:

- Was the page deployed as a "paired" AMP with a non-AMP page, or did it replace the original page?
- Do you have an archive of the original, non-AMP page? I'm wondering if the content has changed.
- Do you know which source of traffic dropped in click volume (e.g. Search, Maps)? Did you notice a change in search ran

[2018-09-20 14:37] choumx commented on #18163
This isn't AMP-specific, but maybe try `<form action="mailto:me@email.com">`. Note that this only opens a local mail client with certain fields prepopulated.

[2018-09-20 14:37] #18163 closed

[2018-09-20 14:48] bjalford commented on #18123
@zhouyx correct. My exact requirements would be for it to be inside a sidebar container (max-width) and be the bottom item inside that container which would then stick.

Example can be seen here: https://www.independent.co.uk/news/uk/home-news/northern-ireland-abortion-pill-mother-prosecuted-daughter-belfast-court-a8546936.html
- Under 'Popular Videos' an ad (JS DFP) is rendering which we then sti

[2018-09-20 15:00] tomleadbettermsm commented on #14017
I had to stick a transparent button over the top the input, which when 'tapped' would open the datepicker. This removed the 'done' option from iOS.

[2018-09-20 15:00] choumx commented on #18220
I'm able to reproduce this sporadically on some of the product detail pages.

It looks like the `<amp-carousel layout=responsive>` sometimes has double its correct height due to incorrect reparenting of the child `<amp-img>`. Race condition?

Problematic case:
[code]

Correct case:
[code]

Note how in the problematic case, the `amp-img` is not reparented to inside the `div.i-amphtml-slides-contain

[2018-09-20 15:02] choumx commented on #18221
Can you be more specific?

[2018-09-20 15:33] Enriqe commented on #11574
Is this a duplicate of #15119?

Should we close it? @rsimha

[2018-09-20 15:37] aghassemi commented on #18220
@choumx Interesting. In the problematic case, it looks like amp-carousel is half-built. buttons are there but amp-img is not moved to its container. Both of these happen during `builtCallback`, one possible explanation is that `this.getRealChildren()` which is used to discover `amp-img` returns nothing due to a race.

@jridgewell Can a parent ever be built before its children are attached?

[2018-09-20 15:41] #17732 closed

[2018-09-20 15:42] jpettitt commented on #17678
Closing this issue

[2018-09-20 15:42] #17678 closed

[2018-09-20 15:43] jpettitt commented on #17239
@epulga is this still a problem?

[2018-09-20 15:57] rsimha commented on #11574
Yes, it is. Thanks @Enriqe!

[2018-09-20 15:57] #11574 closed

[2018-09-20 15:57] rudygalfi commented on #17723
Is this documentation helpful for what you're looking to implement? https://developers.google.com/google-ads/amp/landing-pages#google_ads_remarketing_example

[2018-09-20 16:14] checkup45 opened #18226 "amp-call-tracking extension .js script"
Tracking number is listed twice on a page and also covered with the amp-call-tracking container. Google search console sees this as a duplicate saying it appears more than once.

What needs to be done to prevent it showing up as an error?

[2018-09-20 16:45] mikedidthis opened #18227 "Error in required structured data element"
![mosaic capture 2018-09-20 at 17 43 57](https://user-images.githubusercontent.com/910412/45833600-f3087b80-bcfc-11e8-9ae5-92fc735de682.png)
![mosaic capture 2018-09-20 at 17 43 52](https://user-images.githubusercontent.com/910412/45833617-f7cd2f80-bcfc-11e8-8066-1f7165ab949b.png)

## What's the issue?

Google Search Console is reporting the following error:

However Structured Data Testing Tool v

[2018-09-20 16:45] zhouyx commented on #17787
Weird. Sounds like the parent page is affecting the animation performance within the FIE. I'll create an example and try to find some clues later today.

[2018-09-20 17:17] pancham348 commented on #15647
ah that works! Thanks @aghassemi !

[2018-09-20 17:27] Gregable commented on #18172
We have the same thing going on with `amp-analytics`, `amp-consent`, `amp-geo`, etc. I don't see a reason to treat this differently.

[2018-09-20 17:42] erwinmombay opened #18230 "babel pre pro/postcessing checklist"
- [x] remove assert code from java
  - [x] transform removal needs to be a post process since types are affected by these
- [ ] error transformation

[2018-09-20 17:48] zhouyx commented on #15216
@lexandera We can have some workaround to get the parent doc viewportHeight within the iframe. However there is another issue that is difficult to deal with.

The background viewport height can be changing because the top header display/hide itself when the user scrolls. Without compensating the height change there, it is difficult to provide a relatively smooth visual effect.

I am going to explo

[2018-09-20 18:33] adelinamart opened #18231 "Failed to process trigger "ad-request-start""
@lannka please look at this error asap. It started with the current production

Error: AmpAnalytics <unknown id> Failed to process trigger "ad-request-start": null is not an object (evaluating 'a.na.addTrigger')
at addTrigger (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/extensions/amp-analytics/0.1/amp-analytics.js:388)
at addTriggerNoInline_ (https://raw.githubusercontent.c

[2018-09-20 18:35] cathyxz commented on #10230
You can follow #18159 for when it lands in production (it's targeted for next Tuesday).

[2018-09-20 18:39] adelinamart opened #18232 "SubtleCrypto failed, fallback to closure lib"
@jridgewell can you look at this one? We have a lot of occurrences in production

Error: SubtleCrypto failed, fallback to closure lib.: The requested operation is unsupported
at (subtlecrypto-failed-fallback-to-closure-lib-the-requested-operation-is-unsupported.js:1)

https://pantheon.corp.google.com/errors/CLjSxs7_xJzDwAE?service=default-cdn-1p&time=P1D&project=amp-error-reporting

[2018-09-20 18:40] adelinamart commented on #18232
And this might be related:
**https://pantheon.corp.google.com/errors/CNLplI_3rcP5dw?service&time=P1D&filter=text:SubtleCrypto%20failed,%20fallback%20to%20closure%20lib&project=amp-error-reporting**

[2018-09-20 19:05] adelinamart opened #18233 "Error: undefined is not an object (evaluating 'b.createElementNS')"
Since stacktrace is different #17916 from @lannka  can you have a look at this error:

Error: undefined is not an object (evaluating 'b.createElementNS')
at createElementNS (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/node_modules/web-animations-js/web-animations.install.js:17)
at c (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/node_modules/web-animatio

[2018-09-20 19:12] adelinamart opened #18234 "Error: Cannot read property '__AMP_TOP' of null"
@jridgewell these 2 errors appeared with the new canary

Error: null is not an object (evaluating 'a.__AMP_TOP')
at CREATED_CALLBACK (https://raw.githubusercontent.com/ampproject/amphtml/1809181624140/node_modules/document-register-element/build/document-register-element.patched.js:462)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809181624140/node_modules/document-register-element/bu

[2018-09-20 19:27] choumx commented on #18113
In that example, it's a bit weird that we're blurring a map. I guess it's ok.

[2018-09-20 19:49] lannka commented on #18231
@calebcordry can you please take a look? It is from the AMP story analytics triggers.

[2018-09-20 19:53] erwinmombay commented on #18156
👍

[2018-09-20 20:03] calebcordry commented on #18231
Looking now.

[2018-09-20 20:03] Faison commented on #10864
Hello, I was wondering what was left to do here? This would be extremely helpful for CMSs, like WordPress, where you have years of content with links that you can't easily go back and add `data-vars-outbound-link` to. So if I knew what needs to be done, I can see if I can take up the reins.

[2018-09-20 20:04] dandv commented on #1497
Is this restriction still in place? I don't see it at https://www.ampproject.org/docs/design/responsive/style_pages.

[2018-09-20 20:12] rsimha commented on #18156
In that case, there's nothing to do here.

[2018-09-20 20:12] #18156 closed

[2018-09-20 20:12] addieachan commented on #18113
The header image of the article is a picture of someone pointing to a map.
![3](https://user-images.githubusercontent.com/39060570/45844278-efbac300-bcef-11e8-976a-2698b46af5ab.jpg)

[2018-09-20 20:26] Gregable opened #18246 "Intent to Implement: CSS @media query validation"
**Current behavior**

The AMP Validator currently emits validation parse errors on malformed CSS in custom stylesheets (`<style amp-custom>` and `<style amp-keyframes>`). For example, publishers may see an error with attached line/column information such as:

[code]
The validator does not currently parse @media query strings, for example, the string `screen and (max-width: 500px)` within the CSS b

[2018-09-20 20:28] #17944 closed

[2018-09-20 20:30] jridgewell commented on #18232
Crypto is @lannka's library. I think this is an [acceptable](https://github.com/ampproject/amphtml/blob/master/src/service/crypto-impl.js#L89-L92) error though.

[2018-09-20 20:35] jridgewell commented on #18233
Real stack trace is:

[code]

go/ampe/CJnh6MyfnsD6Iw

[2018-09-20 20:41] jridgewell commented on #18233
I think this is an amp-animation happening inside an FIE that gets disconnected.

[2018-09-20 20:46] jyn15 opened #18253 "Whitelisted properties for keyframes not enforced in CSS animation"
## What's the issue?

Properties like "width", "height", "left" etc are not whitelisted in amp-animation JSON config, but they can be used in CSS animation, i.e. animating using the CSS "animation" property.

This generates confusion as both the docs of [amp-animation](https://www.ampproject.org/docs/reference/components/amp-animation#whitelisted-properties-for-keyframes) and [Supported CSS](https

[2018-09-20 20:59] calebcordry commented on #18231
Upon further investigation it seems like this error is coming from https://github.com/ampproject/amphtml/blob/ec06c78ce6c61bd9e33fafd08964f6fb12284d7d/ads/google/a4a/utils.js#L542-L546

Tagging a few people that were involved in the original PR @warrengm @keithwrightbos @glevitzky

Seems like the frequency has increased a bit recently. Bumping to p1 for now. The a4a team will be able to prioritize

[2018-09-20 20:59] jasti commented on #17618
For 2) Updated the original description. (Sorry). It's the amp-next-page component.

3) Publishers often use this as a technique for sending additional params to destination URLs that are surveys. On non-AMP, their page would probably just use custom JS to reach the param and append to the destination URL.

[2018-09-20 21:03] rsimha commented on #18156
This was already discussed in #16918. Travis lacks native support for this.

[2018-09-20 21:04] calebcordry commented on #16124
These have also been acting up a bit today. cc/ @rsimha

https://travis-ci.org/ampproject/amphtml/jobs/431103300
[code]

[2018-09-20 21:06] lannka commented on #18231
It failed at [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/amp-analytics.js#L340) that `this.analyticsGroup_` is null.

@zhouyx could you take a look if this is something to do with extension analytics.

[2018-09-20 21:07] #17837 closed

[2018-09-20 21:08] choumx opened #18254 "Layers: Unit test for multiple child add"
Please add unit test for #18245.

[2018-09-20 21:16] jridgewell opened #18255 "🌸 Cherry pick request for #18203 into #18159 (Approved)"
**GitHub issue your cherry pick is fixing:**

Issue #18203

**PR that you are requesting a cherry pick for:**

PR #18245

**Release(s) you requesting this cherry pick into:**

Production Release? No

Canary release? Release Issue #18159

*Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)?  Be

[2018-09-20 21:50] torch2424 opened #18257 "🏗Move 3p Boostrap frames into `config.js`"
Currently the code is just repeated for both `frame.html`, and `nameframe.html`. Since we are adding [recaptcha support](#2273), we should take the time to refactor this for more incoming 3p APIs that need their own lightweight frames.

cc @erwinmombay

[2018-09-20 21:56] tygavin opened #18259 "Tealium - Intent to implement for AMP Analytics"
This issue created following the instructions as documented here:
https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contributing-features

## A high-level description of the feature.

Add support for Tealium Collect as a built-in AMP Analytics component.

## A description of the API you plan to create.

Tealium provides server-side data integrations for events received on the "coll

[2018-09-20 21:56] rsimha commented on #16124
Can we disable this test while it's fixed? It's currently blocking several unrelated PRs from being merged.

[2018-09-20 22:29] choumx commented on #18246
Which media query types/features will no longer be valid?

[2018-09-20 22:32] choumx commented on #16124
Looks like different tests in the same `describe` block. I'd like to monitor the new breakages for a few days to see if there's a pattern first -- please post the failing tests in this issue.

[2018-09-20 22:41] rsimha commented on #16124
Good observation, @choumx. Here are some failures from today:
https://travis-ci.org/ampproject/amphtml/jobs/431130238#L1473
https://travis-ci.org/ampproject/amphtml/jobs/431103300#L2931
https://travis-ci.org/ampproject/amphtml/jobs/431041217#L1461

[2018-09-20 22:57] aghassemi commented on #17750
Hi @artemf. This is working as intended. `resize` from an iframe is a `request` that may not be honored if it adversely impact UX by causing content shifting on the page.

Per: https://www.ampproject.org/docs/reference/components/amp-iframe#iframe-resizing

Once this message is received, the AMP runtime tries to accommodate the request as soon as possible, but it takes into account where the reade

[2018-09-20 22:57] #17750 closed

[2018-09-20 23:06] Gregable commented on #18246
Anything not in the whitelist. However, any type/feature we find used with any significance on the AMP corpus will be added to the AMP whitelist. Some of the ones in that list fall in that category, such as "-sass-debug-info".

[2018-09-20 23:11] shimonenator opened #18261 "Invalid key presence check in amp-consent"
`amp-consent` configured with `checkConsentHref` throws the following error when `promptIfUnknown` is set to `false`:

I believe the check in the code should be `!remoteConfigResponse.hasOwnProperty('promptIfUnknown')` instead of `!remoteConfigResponse['promptIfUnknown']`:

https://github.com/ampproject/amphtml/blob/eb5e7417c8b1492bee752fd30eac0c9980b8b96d/extensions/amp-consent/0.1/amp-consent.js

[2018-09-20 23:13] shimonenator commented on #18261
cc @zhouyx seems like this issue was introduced in #17991

[2018-09-20 23:16] aghassemi commented on #18246
few older types to add: `tty, tv, projection, handheld, braille, embossed, aural`. otherwise LGTM

[2018-09-20 23:19] Gregable commented on #18246
@aghassemi 	I updated the first post to add those 7 to the list.

[2018-09-20 23:22] aghassemi opened #18262 "amp-audio: Support PlayList part of media session API"
Individual `amp-audio` components already support mediaSession API however it would be great to support the playlist feature as well.

We would need a simple audio-manager to keep track of all `amp-audio` components to create and navigate the playlist.

/@gilbertococchi @iwoak

[2018-09-20 23:29] aghassemi commented on #18253
@jyn15 In AMP4Ads we also enforce this in CSS, just not for main AMP documents. I don't believe there is a good reason for not enforcing these rules in CSS for documents other than we initially didn't and now it is too late without breaking many pages.

We are not planning to add non GPU friendly properties to `amp-animation` however.

[2018-09-20 23:31] jasti commented on #18123
@bjalford unfortunately large sticky ads on desktop are not approved by the better ads standard as a good ad/ user experience, so we have had to limit the height of the sticky ad on both desktop & mobile. https://www.betterads.org/desktop-large-sticky-ad/

[2018-09-20 23:40] jyn15 commented on #18253
I checked in AMP4Ads, the validator did report the unsupported properties. We are actually using animations in ads, so CSS animation and amp-animation are consistent in our use case. Thank you for the reply!

[2018-09-20 23:42] zhouyx commented on #17787
Thank you @robmurtagh for reporting. I can verify this. The delay is pretty obvious.

Given that it only happens to Safari, I assume it is related to how we polyfill the IntersectionObserver. I'll dig deeper and keep you updated.

[2018-09-20 23:53] #18253 closed

[2018-09-20 23:53] OptimumGraph commented on #18227
Hi @mikedidthis
This is a Structured Data error. Although you have 0 Errors and 0 Warnings in the Structured Data Testing Tool, there is also no green preview button.
For your example url [https://www.care.com/c/stories/10250/pet-care-options/amp/](url) if you change your structure data to this:

`<script type="application/ld+json">
[{"@context":"http://schema.org","@type":"BreadcrumbList","itemLi

[2018-09-20 23:55] zhouyx commented on #18261
Ahhh! @shimonenator Thank you for looking into the code. I've created #18264 to fix it.

Fortunately, in this case, the fallback value is `false`, which lead the correct behavior.

[2018-09-21 01:15] #18261 closed

[2018-09-21 01:16] shimonenator commented on #18261
Thank you @zhouyx for a quick fix!

[2018-09-21 02:34] choumx commented on #18246
LGTM

[2018-09-21 05:57] azizhk commented on #1497
The restriction was removed in https://github.com/ampproject/amphtml/pull/6111

[2018-09-21 06:36] zhouyx commented on #17742
@oliverfernandez  @jeffnordlund-ghost in case you didn't see, we scheduled a meeting Friday to talk discuss the integration work. Thanks

Time: [2018-09-21 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=09&day=21&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=amp-consent%20CMP%20integration&dates=20180921T153000Z/20180921T1

[2018-09-21 07:16] christian-felix commented on #15394
@zhouyx, thank you for the link. This seems to be a good substituion for our use case.

[2018-09-21 08:03] mikedidthis commented on #18227
Hi @OptimumGraph.

Thank you so much for the quick response! The changes / comments make sense so this issue is now resolved.

Out of interest is the "preview" button documented anywhere? I had no idea the Structured Data Testing Tool had one.

[2018-09-21 08:03] #18227 closed

[2018-09-21 10:52] alexmaurizio opened #18265 "Amp Ad Custom Domain Boostrap iFrame single-ad scoping"
## What's the issue?

We are trying to implement custom tracking for our hosting network which uses Teads (Inread) technology for a specific ad position, which is a supported Ad Network in AMP.

We are having success implementing all other type of ads we have on page (Adsense/Outbrain), but these ads do not require a specific tracking.

For inread, we are using a custom script on our normal, non-a

[2018-09-21 11:14] Suneet-M commented on #18106
I'm pretty new to HTML, CSS and JS. I'd like to give this a try.

[2018-09-21 16:45] zhouyx commented on #18231
I've definitely seen the errors before. The reason is mostly because a race condition between the analytics initialization and parent element got remove from the page. We can verify it by introducing a new param, this.hasDetached_ and check on that before proceeding. Once we can verify that's the root cause, we can then remove the new param and simply check the existence of analytics group.

One t

[2018-09-21 16:59] jawadst commented on #17742
@zhouyx Apologies as I missed the call. Let me know if you need anything from us.

[2018-09-21 17:18] jeffnordlund-ghost commented on #17742
Sorry, looks like I missed the call.  Please let me know if I can provide any information or answer any questions from how we are using the IAB.

From: Yuxuan Zhou <notifications@github.com>
Reply-To: ampproject/amphtml <reply@reply.github.com>
Date: Friday, September 21, 2018 at 12:36 AM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Jeff Nordlund <jeff.nordlund@crownpeak.com>, Mention <

[2018-09-21 17:33] zhouyx commented on #18123
@bjalford As Vamsee said. Large sticky ads on desktop is not something we are planning to build for better ad/user experience. Close as not intent to implement.

[2018-09-21 18:36] aghassemi commented on #18265
to @lannka

[2018-09-21 19:22] zhangsu opened #18266 "Better error message for using `AMP.setState` without importing amp-bind script"
## What's the issue?

The error message for using `AMP.setState` without importing `amp-bind` is a stacktrace.

## How do we reproduce the issue?

Just put the following button in the doc without having a script tag to import `amp-bind`:

[code]

This results in the following error:

[code]

Consider making the error more friendly.

[2018-09-21 19:59] Enriqe commented on #18089
I can take this one.

[2018-09-21 21:20] #11049 closed

[2018-09-21 21:32] erwinmombay opened #18268 "remove single pass export hack"
remove the erroneous export added to:

third_party/react-dates/bundle.js
src/polyfills.js

to get around single pass run issue where modules with no export are not visible

[2018-09-21 21:55] zhouyx commented on #17787
To @aghassemi

I did some investigation on the issue. It is not related to how we polyfill the IntersectionObserver. The delay only occurs on Safari even if I disable the native InOb.
I found that there is no delay from our implementation. The last place that I can track to is
https://github.com/ampproject/amphtml/blob/542ab96e940ec8f7dbf71c3cf7888d0c6748564d/extensions/amp-animation/0.1/web-anima

[2018-09-21 22:10] zhouyx commented on #17878
After talking to the team, we decide it is reasonable to introduce a customizable trigger that allows tracking of events like `onchange` or `onblur`..
cc @lannka @jeffjose

[2018-09-21 22:59] OptimumGraph commented on #18227
Hi @mikedidthis

I'm not aware of any in depth documentation for just the preview button apart from this link from Google [https://support.google.com/webmasters/answer/6398748#__RICH_CARD_HC](url)

If you follow the guides provided by Google here [https://developers.google.com/search/docs/guides/search-features](url) your structured data should work as expected.

[2018-09-21 23:24] adelinamart opened #18270 "Canary Error Signing service error for google: Failed to import key"
@lannka if this is an expected error, please mark as needed, otherwise please have a look.

Error: Signing service error for google: Failed to import key ({"alg":"RS256","e":"AQAB","ext":true,"kid":"1","kty":"RSA","n":"z43rjaJ9PLk1FHMEL31_ILXGtUTN03rxJ9amD9y3BRDpbTA-GkUKiQM07xAd8OXPUZRqcjvXQfc7b1RCEtwrcfx9oBRdF78QMA4tLLCqSHP0tSuqYF0fA7-GyTFWDcYzey90jRFNNWxjzKrvSazacE0TvJ8S_AVP4EV67VdbByCC1tpBzLhhy

[2018-09-21 23:31] adelinamart commented on #18203
I still see the error the new canary after the cherry pick. @jridgewell

[2018-09-22 02:24] jridgewell opened #18272 "A4A doubleclick fails to destroy FIE when inside amp-sticky-ad"
Steps:
1. https://www-newsweek-com.cdn.ampproject.org/c/s/www.newsweek.com/donald-trump-jr-and-girlfriend-kimberly-guilfoyle-denied-service-montana-1127418
2. Scroll down to reveal sticky-ad
3. Refresh and start over until you get a A4A doubleclick using FIE ad
   - `$$('amp-sticky-ad iframe').filter(i => i.__AMP_EMBED__)` to test if you have an FIE
4. Put a break point at `AmpAdNetworkDoubleclick

[2018-09-22 14:32] keithwrightbos commented on #18272
This is intentional to allow for AMP creatives to survive when users swipe between tabs in the viewer and the result is an increase in CTR as the creative still exists if/when the user swipes back.  FWIW - I've been meaning to remove the SRA carve-out as it no longer relevant now that we launched maintaining creative pageview state in the client.

[2018-09-22 21:38] jridgewell commented on #18272
Ha, forgot to put the "close the sticky-ad" step. This `unlayoutCallback` is happening because the `<amp-sticky-ad>` is being removed from the DOM tree. In this case, you **must** destroy the FIE because the iframe's context window itself is going to be destroyed when the it's removed from the tree.

[2018-09-23 00:42] Suneet-M commented on #18106
Can I claim this please?

[2018-09-24 03:39] aghassemi opened #18276 "amp-3d-gltf: Expose seekToX/Y/Z(percent) method"
@mixtur would it be possible for `amp-3d-gltf` to expose a `seekTo(percent)` for each axis?
This would allow integration with `amp-position-oberserver` and `amp-orientation-observer` for some cool scrollbound and tilt-based experiences.

For instance see how `amp-position-observer` can be used with animations (or anything that exposes `seekTo(percent`):

https://ampbyexample.com/visual_effects/bas

[2018-09-24 07:40] opusdei opened #18277 "In Spanish, the word "Twitter" should not be translated."
In Spanish, the word "Twitter" should not be translated. In these two files is translated "Twitter" by "Gorjeo", which sounds very strange.

https://github.com/ampproject/amphtml/blob/4eb87bbbe956a6ee9f393c6df8b3318fd0a470ad/extensions/amp-story/1.0/_locales/es.js

https://github.com/ampproject/amphtml/blob/4eb87bbbe956a6ee9f393c6df8b3318fd0a470ad/extensions/amp-story/1.0/_locales/es-419.js

INCOR

[2018-09-24 13:00] mcmd opened #18280 "amp-analytics: Add support for trigger on change"
### Feature request

Scenario: site has a for with an input text field (like a destination for a travel site). Site owner wants to be able to track what the users start typing, even if they later amend the text. For instance, if the users a) types "Rome", b) deletes it before submitting the form, c) and then types "London" and d) submits the form, the client would like to have fired an analytics r

[2018-09-24 14:14] slocka opened #18282 "CustomEventReporter API not auto-loading amp-analytics extension."
## What's the issue?

When trying to implement analytics for `amp-skimlinks` using the [customeventreporter-api](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-components-analytics.md#customeventreporter-api)  (see https://github.com/ampproject/amphtml/pull/17907) the `amp-analytics` extension is not automatically loaded on the page.

@lannka  mentioned in the comme

[2018-09-24 14:53] #14833 closed

[2018-09-24 14:58] choumx opened #18284 "amp-carousel: Control hints broken on mobile"
Previous/next controls are not "hinted" for carousels on mobile.

Looks like `hintControls()` is being called correctly and the CSS class is added as expected, but the controls themselves are positioned incorrectly, maybe because they're hidden on load.

Reproducible on desktop Chrome/Safari with device emulation: https://ampbyexample.com/components/amp-carousel/

`b/116233759`

[2018-09-24 15:04] keithwrightbos commented on #18272
Ah that does make a difference!  Is there a way we can differentiate unlayoutCallback being called for sticky close vs user swipe between pages?

[2018-09-24 15:27] choumx commented on #18226
/to @alanorozco

[2018-09-24 15:32] #17715 closed

[2018-09-24 15:51] choumx opened #18285 "amp-form: "clear" action resets button "disabled" state"
If the button has a `[disabled]` binding, it can become out of sync.

Looks like this was added a long time ago to prevent duplicate form submissions: https://github.com/ampproject/amphtml/pull/3582. Perhaps we can change that to a programmatic check to avoid mucking with the disabled attribute.

`b/115780963`

[2018-09-24 15:54] brianjihoonlee commented on #17995
+1 https://github.com/ampproject/amphtml/pull/16049
Also causing AMP Consent components impossible to interact with and readers are unable to read content

[2018-09-24 16:01] gmajoulet opened #18286 "Replace "Whatsapp" with "WhatsApp""
In all amp-story translation files, we should replace "Whatsapp" with "WhatsApp".

[2018-09-24 16:30] cvializ commented on #17768
Hi @felerticia thanks for asking about this feature! This is possible using amp-form and the `AMP-Redirect-To` header. The server response can set the value of the header based on the form values after the user submits. Then AMP will redirect the user to the URL in the header.

Here's a link to the documentation: https://www.ampproject.org/docs/reference/components/amp-form#redirecting-after-a-sub

[2018-09-24 16:30] #17768 closed

[2018-09-24 16:39] cvializ commented on #17950
Hi @Felixbachmann, thanks for making this request. Your use-case makes sense, and we should add this ability to the date picker.

[2018-09-24 17:00] calebcordry opened #18288 "A4A Error: Referrer Timeout!"
1700+ Errors in latest canary starting 9/22/18

[code]

Stack trace appears to be a bit off.    Real error is generated here https://github.com/ampproject/amphtml/blob/146cde48394b09fe89da72bd696690acc9b6a554/ads/google/a4a/utils.js#L254

[2018-09-24 17:01] calebcordry commented on #18288
cc/ @lannka

[2018-09-24 17:17] cvializ commented on #17936
Hey thanks for opening this @xiekun09! I am able to reproduce, and this shouldn't be happening. We'll take a look at fixing it soon.

[2018-09-24 17:18] newmuis commented on #18277
Looks like @mcmd will be taking this on 😄

[2018-09-24 17:34] cvializ commented on #18022
Hi @gingerhead thanks for opening this issue! Since this is a Safari bug and not an AMP bug, I'll log this issue as a feature request to workaround the browser bug. We've prioritized it and we'll address it soon.

[2018-09-24 17:35] lannka commented on #18288
looked at #18002 , seems this error message is expected.

Should we change it to `expectedError`? @keithwrightbos

downgrade to P2

[2018-09-24 17:50] techhtml commented on #18016
Hello demo!

[2018-09-24 18:01] jridgewell commented on #17995
@brianjihoonlee: Are you also using a large fixed-position background element to display an image?

[2018-09-24 18:11] nhunsaker opened #18291 "amp-video: auto advance after a video has ended (feature request)"
I'm working on a project where we want to advance from one video to the next similar to this example:
https://www.buzzfeed.com/videos

<img width="1133" alt="banners_and_alerts_and_buzzfeed_videos" src="https://user-images.githubusercontent.com/3289500/45970129-b8a42480-c003-11e8-9982-c2feb976d8ea.png">

Unfortunately I don't see way to auto-advance from one video selection to another in amp witho

[2018-09-24 18:12] keithwrightbos commented on #18288
Hmmm... do we have any idea how often this occurs?  I'll create a PR that wraps this in an experiment so I can determine how often the delay occurs and pick an optimal value

[2018-09-24 18:16] torch2424 commented on #18016
Haha! I forgot to close this. Thank you! 😄

[2018-09-24 18:16] #18016 closed

[2018-09-24 18:33] IamAlta commented on #17615
Thank you, Carlos @cvializ.

I hesitate opening windows because (1) some people have a hard time figuring out a new one opened and (2) It's not really professional.

I think I'll store the search terms in a session variable then if they go back, at least that can cue them in on the last searched.

Make it a wonderful day!

[2018-09-24 18:33] #17615 closed

[2018-09-24 18:42] cvializ commented on #17615
You're welcome. Alternatively, if you haven't yet considered this, you could have the form submit navigate to a search results page rendered by the server, then when the user navigates the back button will return them to the rendered results instead of to the dynamic form. Thanks again!

[2018-09-24 18:43] jridgewell commented on #18272
No, unfortunately not.

[2018-09-24 19:00] jridgewell commented on #17604
This seems to have disappeared again.

[2018-09-24 20:00] choumx commented on #18291
/to @ericlindley-g /cc @aghassemi

[2018-09-24 20:13] IamAlta commented on #17615
Hi Carlos @cvializ,
That'll work. Thanks for the good idea.

[2018-09-24 20:17] newmuis commented on #18286
The strings can be found in [extensions/amp-story/1.0/_locales](https://github.com/ampproject/amphtml/tree/master/extensions/amp-story/1.0/_locales).  I would think this change is applicable to all locales.

[2018-09-24 20:43] erwinmombay opened #18297 "boxRect never defined on Object"
<img width="676" alt="screen shot 2018-09-24 at 1 42 34 pm" src="https://user-images.githubusercontent.com/354746/45977908-bcce4300-bfff-11e8-8268-4d88a139af71.png">

should boxRect be accessed through bracket notation?

`this.updateBoxRect_(response['boxRect']);`

[2018-09-24 20:48] zhouyx commented on #17742
Thank you all for attending the meetings.

Here's the notes from the meetings we have

9/13 Understand the requirement
1. Consent string standard
- Supposedly all ad vendors will eventually support the IAB standard. Analytics vendors however don’t have incentive to do so.
- Vendor configuration is done on CMP server side
- AMP support the IAB use case. And also the global boolean consent decision

[2018-09-24 20:52] zhouyx commented on #17742
9/21 Discuss technical details

1. UI
- AMP will provide iframe ready API that show the iframe and hide placeholder.
- Initial size is always 30vh, and can’t be changed **Is this OK with everyone??**
(Feedback from the meeting: 30 vh may not be enough because clients can defined the text. Accept button is usually below the text. Also text on the button can be very long with certain languages. But

[2018-09-24 21:05] techhtml commented on #18085
I got this.

[2018-09-24 21:05] lisaychuang commented on #18075
I'd like to take this on!

[2018-09-24 21:05] curseagain commented on #18082
I'm taking this!

[2018-09-24 21:06] rowhawn commented on #18095
i'm taking it!

[2018-09-24 21:06] zhouyx commented on #18280
#17878
Yes. We are planning to add an customized browser event trigger to amp analytics.
cc @jeffjose @lannka for prioritization.

[2018-09-24 21:07] atl-love commented on #18094
I'll take this issue!

[2018-09-24 21:07] tchon commented on #18086
claim

[2018-09-24 21:10] nickFalcone commented on #18110
I'm taking it!

[2018-09-24 21:10] bharrigan commented on #18104
Claiming this issue

[2018-09-24 21:11] lisaychuang commented on #18075
Submitted [PR 18300](https://github.com/ampproject/amphtml/pull/18300), thanks @nainar

[2018-09-24 21:12] AjSchaff commented on #18097
I'll take this one!

[2018-09-24 21:12] eduardogoncalves commented on #18096
I'll take this one. 😀

[2018-09-24 21:14] sethusathyan commented on #18102
I'll take this one.

[2018-09-24 21:15] juanchaur1 commented on #18079
I'm taking it

[2018-09-24 21:16] alex-magana commented on #18078
I'm taking it.

[2018-09-24 21:27] samjacoby commented on #18105
I've got this!

[2018-09-24 21:31] jhoeltzel commented on #18108
Will fix this!

[2018-09-24 21:38] bharrigan commented on #13262
@cvializ I've looked into this some, and have a thought as to how to accomplish this.

`amp-form` uses the same high level interface for submitting form data over XHR for both verify and submit actions, with the only difference being `[FORM_VERIFY_PARAM]: true` passed as an extra body parameter in the request for server verification.

Passing a blacklist to exclude no-verify elements when creating

[2018-09-24 21:45] edhollinghurst opened #18316 "Maintainers for amp-timeago"
No OWNERS.yaml file exists for the amp-timeago extension.

[2018-09-24 21:52] #18104 closed

[2018-09-24 21:52] #18096 closed

[2018-09-24 21:56] atl-love commented on #18101
I'll work on this one too!

[2018-09-24 22:01] alanorozco commented on #18226
Hi @checkup45

Are you seeing this as a validation error or an indexing error?

[2018-09-24 22:02] dvoytenko opened #18319 "amp-subscriptions: change fallback protocol"
Fallback, as before, should be used for local service. The change, however:

1. Instead of requiring _all_ services to fail - it's enough for local service to fail.
2. However, before we resolve local service to fallback, we should wait for other services to respond.

E.g.

[code]

[2018-09-24 22:03] nickFalcone commented on #18107
I'll take this one!

[2018-09-24 22:09] alex-magana opened #18322 "Add a missing command to fetch the upstream/master ref"
## What's the issue?
Step `11` of the [Getting Started: Quick Start](https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-quick.md) is missing the command to fetch the `upstream/master` ref.

## What you will need to do:

To correct this, we need to add `git fetch upstream master` above `git branch -u upstream/master master`

To introduce this change, please follow the st

[2018-09-24 22:10] sanchezedgar commented on #18106
I'm taking it.

[2018-09-24 22:12] atl-love commented on #18081
I'll do this one!

[2018-09-24 22:13] alex-magana commented on #18322
I'm taking it.

[2018-09-24 22:23] jridgewell opened #18328 "Brid player test flake"
[code]

[2018-09-24 22:28] #18105 closed

[2018-09-24 22:30] nainar commented on #18094
Closed by https://github.com/ampproject/amphtml/pull/18313

[2018-09-24 22:31] #18094 closed

[2018-09-24 22:31] nainar commented on #18108
Fixed by #18312

[2018-09-24 22:32] nainar commented on #18085
Closed by https://github.com/ampproject/amphtml/pull/18299

[2018-09-24 22:32] #18085 closed

[2018-09-24 22:32] nainar commented on #18095
Closed by https://github.com/ampproject/amphtml/pull/18304

[2018-09-24 22:32] #18095 closed

[2018-09-24 22:33] nainar commented on #18102
Closed by https://github.com/ampproject/amphtml/pull/18307

[2018-09-24 22:33] #18102 closed

[2018-09-24 22:34] lannka commented on #18259
@tygavin thanks for filing this. Make sure you look at the [integration guidelines](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md) before you start.

[2018-09-24 22:36] gmajoulet opened #18331 "Improve amp-story mobile navigation performance."
- [x] **Enable fast taps**
Tap events are currently throttled

- [x] **Improve responsiveness of story navigation**
Each tap should advance by one page: three taps should advance to the n+3 story page

- [ ] **Improve image, video, and audio loading over average 3G internet connections**
Cancel image, video, and audio loading if they’re not completed as the user navigates, to avoid loading past pa

[2018-09-24 22:37] lisaychuang commented on #5509
Hi @aghassemi @erwinmombay, I'll take this for today's codelab!

[2018-09-24 22:40] prateekbh commented on #18319
`it's enough for local service to fail` always?

I think if this is the case the `fallbackEntitlement` should be a part of local service config in
`<script id="amp-subscriptions" type="application/json">....` instead of a global fallback

WDYT?

[2018-09-24 22:41] lisaychuang commented on #5509
Fixed in [PR 18332](https://github.com/ampproject/amphtml/pull/18332)

[2018-09-24 22:43] dvoytenko commented on #18319
I think this is really what `fallback` really means to me: a page author cannot really do much about other services failing. So `fallback` really applies to local. I think we had it in the global level only b/c it looked "flatter". Looking at the code - it definitely currently applies as local. At this point, I'd rather fix/address, but not yet move where it is in config.

[2018-09-24 23:02] juanchaur1 commented on #17376
I'm taking it

[2018-09-24 23:04] #18107 closed

[2018-09-24 23:14] demianrenzulli commented on #18098
I'm taking this one.

[2018-09-24 23:32] prateekbh commented on #18319
Cool makes sense

[2018-09-24 23:34] prateekbh commented on #18319
Here's a problem though:
By design we only give a platforms config to the platform. Anything outside will require some change in design.

[2018-09-24 23:39] dvoytenko commented on #18319
I think it's fine to keep `fallback` logic in the platform-store - this is where we assign it to local anyway. We just need to change sequence a little to avoid race condition.

[2018-09-24 23:50] checkup45 commented on #18226
Validation error

On Mon, Sep 24, 2018, 3:01 PM Alan Orozco <notifications@github.com> wrote:

[2018-09-25 00:03] twifkak opened #18337 "AMP-Cache-Transform: Clarify interaction with other content negotiation headers"

[2018-09-25 00:08] #18328 closed

[2018-09-25 00:09] bharrigan commented on #17426
Taking this issue

[2018-09-25 00:33] #18108 closed

[2018-09-25 01:39] zhouyx commented on #18297
Good point. I'll have a quick fix.

[2018-09-25 05:13] #18045 closed

[2018-09-25 07:05] opusdei opened #18342 "In Spanish, "This page has no sound", "Sound on" and "Sound off" should be translated."
These three messages appear (AMP Stories) when interacting with the "sound" icon and appear in English. See screenshot taken in a browser in Spanish.

**Proposed translations:**

_This page has no sound_
Esta página no tiene sonido

_Sound on_
Sonido activado

_Sound off_
Sonido desactivado

<img width="320" alt="image-1" src="https://user-images.githubusercontent.com/5907868/45997938-821ce700-c0a

[2018-09-25 07:11] loratov commented on #18221
Can the amp-analytics element, https://developers.google.com/analytics/devguides/collection/amp-analytics/, track conversions for amp articles? I am not seeing conversions for the amp articles in google analytics.

[2018-09-25 07:14] Gartengestaltung commented on #7145
amp it the most scheat option on entire google!! ...

[2018-09-25 08:19] Suneet-M commented on #18106
@sanchezedgar  How did you claim it? I commented as stated in instructions but didn't get any option to claim.

[2018-09-25 13:56] choumx commented on #18221
If by "conversion" you mean tracking users that navigate from the CDN-origin AMP page to a publisher-origin non-AMP page, then the answer is yes. :)

`CLIENT_ID` is a user identifier that is important here. These articles might help:
https://www.ampproject.org/docs/analytics/analytics_basics#user-identification
https://developers.google.com/analytics/devguides/collection/amp-analytics/client-id

[2018-09-25 14:24] mcmd opened #18345 "Performance of amp-date-picker & amp-lightbox"
A date picker inside a lightbox takes a very long time to load in iOS (couldn't reproduce in Chrome or Firefox, both desktop and Android), when the number of months to show increases. For instance, I've been able to consistently observe ~2 seconds loading time in a iPhone 6s for showing a calendar of 12 months.

This is the timeline with two months:
![ootadbf9jpd](https://user-images.githubusercon

[2018-09-25 14:35] newmuis commented on #18342
@mcmd please feel free to add them if you are willing!

[2018-09-25 14:47] jridgewell commented on #18272
Fixed by https://github.com/ampproject/amphtml/pull/18344.

[2018-09-25 14:47] #18272 closed

[2018-09-25 14:48] jridgewell commented on #18203
Should be fixed now by https://github.com/ampproject/amphtml/pull/18344

[2018-09-25 14:48] #18203 closed

[2018-09-25 14:49] jridgewell commented on #18255
This was released.

[2018-09-25 14:49] #18255 closed

[2018-09-25 14:49] jridgewell commented on #18234
Should be fixed by https://github.com/ampproject/amphtml/pull/18273

[2018-09-25 14:49] #18234 closed

[2018-09-25 14:54] #18254 closed

[2018-09-25 15:25] opusdei opened #18349 "Story-navigation-help-overlay (Bug in Spanish, French and Italian; and Feature request for all languages)"
(From https://github.com/ampproject/amphtml/pull/18278/files/f1925eaec3376f4df58f8066496de958092b08b4#diff-b85c8cabea68995ec44cdcf9d1e2f88c)

(Suggestion from @mcmd, cc @gmajoulet and @newmuis)

I think it would be preferable to simply translate "Toque" (Tap) in both cases, because "Toque Volver" (Tap Back) does not fit on some devices (see capture of an iPhone 6/7/8 in zoom mode, which shares vie

[2018-09-25 15:49] gmajoulet commented on #18349
Thanks for filing this one!

We'll have to ask our designers, there are many possible solutions that would work, like the one you're suggesting, but I think they wanted to try something more visual like a "finger tapping the screen" animation, so we don't have to use any text.

[2018-09-25 15:56] opusdei commented on #18349
Thank you. Something visual and without text, as you say, would be great, because the left column is narrow and there will always be some language in which the text does not fit.

[2018-09-25 15:58] dvoytenko commented on #18345
/to @choumx @jridgewell

[2018-09-25 16:14] #16904 closed

[2018-09-25 16:32] #18316 closed

[2018-09-25 16:44] cscheini commented on #16566
We (a bigger german publisher) see the same development since mid May 2018, but can't see there was any change or improvement with the possible fix end July.

Chrome went from close to 100% Organic to less than 30%, Direct went up about the same. on Safari, organic is quite stable at high level.

There's other publishers in our group, where status is about the same - change mid may, no improvement

[2018-09-25 16:55] addy5 commented on #10041
Can re-open this issue, noticing this is still happening under the same conditions as the OP?

[2018-09-25 16:57] #18084 closed

[2018-09-25 17:04] digitalmaniak commented on #11133
The workaround worked like a charm. I've been having this issue for some time. Thank you so much for this ^____^

[2018-09-25 17:18] choumx commented on #18345
I think xhr-utils.js is a red herring -- there's no `trigger()` function nor anything that would be invoked after a click event. The sourcemap is likely wrong again.

It looks like all of the latency is in amp-lightbox's `activate()` function. Some of this is the runtime entering lightbox mode and I suspect some of it is amp-date-picker's initialization.

@cvializ What is the typical load and rend

[2018-09-25 17:40] #18086 closed

[2018-09-25 17:57] nainar commented on #18106
Just commenting in an issue would claim it for yourself @sanchezedgar

[2018-09-25 17:57] #18106 closed

[2018-09-25 17:57] #18109 closed

[2018-09-25 17:57] #18110 closed

[2018-09-25 17:57] #18111 closed

[2018-09-25 17:58] #18103 closed

[2018-09-25 17:58] #18101 closed

[2018-09-25 17:59] #18075 closed

[2018-09-25 18:00] #18079 closed

[2018-09-25 18:00] #18082 closed

[2018-09-25 18:00] #18098 closed

[2018-09-25 18:03] nainar commented on #18081
Hi @atl-love are you still working on this?

[2018-09-25 18:03] nainar commented on #18078
Hi @alex-magana  are you still working on this?

[2018-09-25 18:03] nainar commented on #18097
Hi @AjSchaff are you still working on this?

[2018-09-25 18:08] uskay opened #18352 "amp-carousel cropping the item DOM height in desktop UA"
## What's the issue?

When using amp-carousel in **desktop UA** && adding carousel item as non-`amp-img` DOM, since `i-amphtml-slides-container` has `overflow-x: auto !important`, `height: 100% !important` will be calculated minusing the scroll bar's height, which will end up to shorter container height and item being cropped.

**An image like this...**
![abc](https://cdn.glitch.com/98e724d1-70f9-

[2018-09-25 18:28] jasminenoack opened #18353 "Ad doesn't load when you go back to a page in Safari."
## What's the issue?

We are seeing a bug with an ad in safari. If you click the ad then you click back in safari the ad doesn’t reload when you come back.

you have to be mobile emulating to get the ad.

I’m logging when the script runs on the page in these samples and in safari it never executes when you navigate back to the page.

Chrome:
![chrome](https://user-images.githubusercontent.com/9314

[2018-09-25 18:30] rudygalfi commented on #18221
cc @jeffjose

[2018-09-25 18:31] ericlindley-g commented on #18291
Relates to some discussions @aghassemi and I were chatting about with a developer yesterday, as well as a project that @alanorozco has been thinking about.

At the moment, this functionality isn't directly supported outside of amp-iframe, in part because we can't trust that a user reaching the end of a video is a high enough trust event to hook into amp-bind.

However, I believe one option for mak

[2018-09-25 18:43] jeffjose commented on #18221
Additional clarification - incase you're referring to conversion in terms of purchase flows, that is also possible in AMP but you might have to instrument them yourself.

Let us know what you're trying to accomplish and we can guide you the right path.

[2018-09-25 18:45] AjSchaff commented on #18097
Hey @nainar - I believe it is completed, and has been merged

[2018-09-25 18:57] #17376 closed

[2018-09-25 19:03] #18097 closed

[2018-09-25 19:03] nainar commented on #18097
Perfect thank you!

[2018-09-25 19:03] nainar commented on #18097
Perfect thank you!

[2018-09-25 19:07] nainar commented on #18078
Yup I'll close the issue! Thanks a lot! :)

[2018-09-25 19:07] #18078 closed

[2018-09-25 19:36] choumx commented on #18284
I'm not sure this is related to a canary experiment. I can reproduce this on prod (1809142227020).

[2018-09-25 20:18] aghassemi opened #18357 "Move standard actions and action-service out of core"
We should be able to move standard-actions and action service out of core and create a separate extension for it.

To keep backward compatibility we should consider:
1- throwing a warning in validation if script for actions is not included
2- dynamically load the extension if not included for at least 1 year before we can consider making the warning into an error.
3- have SSR inject the script for

[2018-09-25 20:39] #11622 closed

[2018-09-25 20:43] atl-love commented on #18081
It's finished and merged! --> https://github.com/ampproject/amphtml/pull/18323

[2018-09-25 20:48] rsimha commented on #11385
@danielrozenberg Good news! We now have the required support from Percy to fix this. See https://github.com/percy/percy-client/issues/27#issuecomment-424006034, which adds a new `PERCY_TARGET_COMMIT` environment var.

[2018-09-25 20:49] lucasjrd opened #18360 "amp-date-countdown: Support 'template' attribute"
amp-date-countdown inside an amp-list generates this alert: The tag 'template' may not appear as a descendant of tag 'template'.

The fact is: in this case it works fine. I can fill end-date attribute inside a amp-counterdown tag with a custom end date of a READER_ID and amp-date-countdown tag generates the correct counterdown.

Two ways to solve this question:
1. Allow tag template as descendat o

[2018-09-25 21:00] choumx commented on #18357
According to source-map-explorer, action-impl.js + standard-actions-impl.js comprise about 5% of v0.js: https://choumx.github.io/amphtml/sme_0403.html

That analysis is from April but I just reran and it's still about there.

[2018-09-25 21:05] #17582 closed

[2018-09-25 21:22] cathyxz opened #18364 "[amp-pan-zoom] TransformEnd should not trigger on set"
Regression introduced by https://github.com/ampproject/amphtml/pull/17920 is causing the transformEnd event to fire while panning / pinch zooming. It should only fire after the zoom / pan event has finished, and not while it is happening.

Should be able to fix this by deleting: https://github.com/ampproject/amphtml/blame/78c92bf20b82f7c7f083276f5ed963c479a79379/extensions/amp-pan-zoom/0.1/amp-pan

[2018-09-25 21:40] cathyxz opened #18365 "[amp-pan-zoom] Panning jumps if momentum panning is interrupted"
Repro steps:
1. Zoom in on the content in `<amp-pan-zoom>` using whichever form of zooming.
2. Pan with momentum.
3. Before the momentum panning stops, pan again (in the same direction).
Observe that on the second pan, the content jumps.

I think this is due to a mistake in calculating the pan zoom bounds. Possibly a case where the startX, startY are not correctly updated to reflect the actual val

[2018-09-25 22:02] erwinmombay commented on #17348
i don't know if this is still occurring but this is a concern of https://github.com/ampproject/error-tracker/blob/master/app.js#L26. closing this for now as it is not relevant to ampproject/amphtml

[2018-09-25 22:02] #17348 closed

[2018-09-25 22:04] tygavin commented on #18259
https://github.com/ampproject/amphtml/pull/18366

[2018-09-25 22:12] Enriqe opened #18367 "Test in "Creating your first AMP component" codelab doesn't work"
[Following the tutorial](https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/#3) and running `gulp test --files extensions/amp-hello-world/0.1/test/test-amp-hello-world.js` on the 4th step  throws `TypeError: element.build is not a function` when running `element.build();`

[2018-09-25 22:16] Enriqe commented on #18367
Importing the component itself and calling `buildCallback` instead of `build()` seems to work, but not sure if this is the approach we want to take.

[code]

[2018-09-25 22:22] MohammedNoh opened #18369 "Mohammed Nob"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-09-25 22:57] dandv opened #18371 "Document the datepicker RRULE property"
Blocked dates are a common use case, yet [the documentation is scant](https://www.ampproject.org/docs/reference/components/amp-date-picker#blocked), simply mentioning "RRULE". After reasonable effort (5 minutes), I wasn't able to figure out the correct syntax for the easiest pattern, blocking out X days starting on YYYY-MM-DD. The best I could come up with was

    blocked="DTSTART;2018-10-10 RRUL

[2018-09-25 23:16] calebcordry opened #18374 "🚄Release tracking issue for canary release 1809251804390 (Canary)"
# Release tracking issue

NOTE: This is week of AMP Contributor Summit. Due to this, we will not be pushing last weeks canary to production. We will be cutting and releasing a new canary.

- [x] Release [1809251804390](https://github.com/ampproject/amphtml/releases/tag/1809251804390) is cut as a new canary release
- [x] Release 1809251804390 pushed to dev channel (Tuesday)
- [x] Release 1809251804

[2018-09-25 23:49] choumx opened #18376 "amp-list: auto-resize should only apply on first mutation"
Not sure how I missed this but as-is `auto-resize` causes content jumping. We only should apply container layout on the invocation of `mutatedAttributesCallback` rather than render.

I hope nobody is using this in production yet.

[2018-09-25 23:51] prateekbh commented on #18319
if the fallback entitlement says granted:true then by our rule "subscriber always and immediately wins", the fallback entitlement wins immediately.

Even if there are more services saying that the user is s subscriber.

That'd also be why we waited for every one to fail.

[2018-09-25 23:58] kristoferbaxter commented on #18357
Another item to ensure, what the performance impact of this change in the following scenarios:
1. Document doesn't require `standard-action` and `action` services.
2. Document requires `standard-action` and `action` services, but the document ensures they are loaded as extensions.
3. Document requires `standard-action` and `action` services, they are not present in the document, and must be lazily

[2018-09-26 02:48] uskay commented on #18352
TIL, it is also defined here that height percentage will be calculated based on the `padding box` height when the element itself is `absolute`
https://www.w3.org/TR/CSS22/visudet.html#the-height-property

I guess the definition `padding box` here is the same as `Element.clientHeight`?

https://developer.mozilla.org/en-US/docs/Web/API/Element/clientHeight

Which makes a lot of sense regarding this

[2018-09-26 03:09] meistudioli opened #18377 ""AMP-Redirect-To" header doesn't work in cdn cache"
To Whom it may concern:

I like to  implement redirect action after amp-form submit. It's kind of strange with CORS header and always occur the following error message:

![Console log](https://blog.lalacube.com/mei/img/amp/amp_redirect_console.png)

I am sure the CORS is correct (I've already use it in different feature, such as "like" and it works well).

Here comes some information about this is

[2018-09-26 03:16] amedina opened #18378 "Intent to Implement: <amp-wordpress-embed> Embedding WordPress Posts"
## What's the issue?
Embedding WordPress posts in AMP WordPress content does not work. The issue described here has three parts.

### `iframe` Resizing
WordPress post embeds are designed to securely render WordPress post excerpts in iframes that size themselves to the appropriate dimensions. This is achieved by sending a [height message](https://github.com/WordPress/wordpress-develop/blob/5d477aa7

[2018-09-26 05:12] dandv opened #18379 "amp-datepicker: support specifying date ranges up to the present"
# Use case

Specify a time range for historical charts (e.g. rainfall, # of AMP pages, stock quotes).

This can be done by setting the `max` attribute to today's date.

## Issues

* with `number-of-months="2"`, an extra calendar month is displayed, filled with disabled dates
* the user can still navigate past the `max` date, even though `allow-blocked-ranges` is not present.

![image](https://user

[2018-09-26 05:34] aghassemi commented on #18376
Idea behind `auto-resize` is to be triggered the very first time `amp-list` is resized, whether because it was allowed to via `attemptChangeHeight` or whether user manually clicked the overflow button.

If it is causing content-jumping, that's definitely a bug to fix, but it should still be allowed outside of `mutatedAttributesCallback`.

[2018-09-26 06:03] aghassemi commented on #18376
I can repro content shifting even without `auto-size` attribute: https://codepen.io/aghassemi/pen/NLQNMZ?editors=1000 this sample should be showing the "show more" button instead of resizing, but it is not.

Interestingly if I change the height from `30` to `20`, it works correctly. There is something going on with `attemptChangeHeight`.  ABE's overflow sample is also broken: https://ampbyexample.

[2018-09-26 07:49] aladaghlou opened #18381 "How to use Shamsi or Hijri or others types of calendars on date picker component ?"
Hi.
How to use Shamsi date or Hijri date or others types of calendars on date picker component ?
Are there solution for this problem?
This is not small problem !

Best regards.

[2018-09-26 09:49] Suneet-M commented on #18100
I'm working on this!

[2018-09-26 10:45] opusdei opened #18384 "Allow customizing bookend content based on desktop vs. mobile"
In the Desktop view, when the Bookend is displayed, the  top "share" bar disappears.

The title and other data that do appear on the top of the Bookend on mobile are not shown.

(version amp-story-0.1.js shows the "share" bar; no tittle)
(version amp-story-1.0.js no "share" bar; no tittle)

[2018-09-26 10:58] mcmd commented on #18342
I will, feel free to assign to me.

[2018-09-26 12:14] leonalicious opened #18385 "[amp-date-countdown inside amp-list] - 'template' may not appear as a descendant of tag 'template`"
Hey guys, we are currently facing an issue, we are getting `The tag 'template' may not appear as a descendant of tag 'template` validation error when we are trying to wrap a `<template>` of `<amp-date-countdown>` inside the `<template>` of `<amp-list>`

![image](https://user-images.githubusercontent.com/4065175/46078464-cc4bb880-c1c6-11e8-83fd-5bc54b1b7a35.png)

Everything works fine besides the v

[2018-09-26 13:37] alex-magana commented on #18322
Raised https://github.com/ampproject/amphtml/pull/18388

[2018-09-26 13:42] alex-magana commented on #18077
I'm taking it.

[2018-09-26 13:55] #17951 closed

[2018-09-26 14:03] alex-magana commented on #18087
I'm taking it.

[2018-09-26 14:10] alex-magana commented on #18087
This issue was resolved by [this](https://github.com/ampproject/amphtml/commit/150ebff25f8f85afa2b68fd01da5dd6e08d0a9f3) commit. It can now be closed.

[2018-09-26 14:18] choumx commented on #18376
Good call on clicking the overflow button, forgot about that.

The original logic was to allow resize the element is in the bottom 15% of the document. However, it wasn't working in some cases due to a bug (#14791).

So your example (and ABE) probably needs to put more content below the amp-list to trigger the overflow now that the bug is fixed.

[2018-09-26 14:35] #18369 closed

[2018-09-26 14:37] choumx commented on #18352
Thanks for the detailed report and investigation!

[2018-09-26 14:38] choumx commented on #18353
/to @lannka

[2018-09-26 14:40] choumx commented on #18360
There's a known validation issue with nested `<template>` elements. Instead, you can reference the templates by ID via the `template="<id>"` attribute. E.g.
[code]

[2018-09-26 14:45] choumx commented on #18371
/to @cvializ /cc @aghassemi @CrystalFaith

[2018-09-26 14:52] cvializ commented on #18371
Thanks @dandv for calling out this missing depth in our documentation! Let's prioritize adding more examples of RRULEs to our date picker documentation.

For now, you might find this tool useful for creating RRULE dates. https://jakubroztocil.github.io/rrule/

[2018-09-26 14:57] choumx commented on #18377
/to @cvializ /cc @aghassemi

[2018-09-26 15:02] #18159 closed

[2018-09-26 15:20] cvializ commented on #17951
This change is merged and will be live in production following our [release schedule](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md). Thanks again for reporting!

[2018-09-26 15:27] choumx commented on #18379
/to @cvializ /cc @aghassemi

[2018-09-26 15:27] cvializ commented on #18377
Hi @meistudioli thanks for opening this issue! `Access-Control-Expose-Headers` needs to contain all non-standard headers that need to be exposed. Both `AMP-Redirect-To` and `AMP-Access-Control-Allow-Source-Origin` must be in the list of `Access-Control-Expose-Headers` for the server to receive them both correctly.

e.g.
[code]

It looks like only `AMP-Redirect-To` is present above. Try adding that

[2018-09-26 15:27] choumx commented on #18381
/to @aghassemi /cc @cvializ @ericlindley-g

[2018-09-26 15:28] choumx commented on #18384
/to @Enriqe /cc @newmuis

[2018-09-26 15:29] choumx commented on #18385
Try using the `template` attribute instead. https://github.com/ampproject/amphtml/blob/master/extensions/amp-mustache/amp-mustache.md#nested-templates

Related: #18360

[2018-09-26 15:48] cvializ commented on #18381
Hi @aladaghlou, thanks for opening this issue! amp-date-picker doesn't have a feature to display non-Gregorian calendars, but we do allow for parsing those dates using the `locale` attribute. We'll use this issue as a feature request to track non-Gregorian calendar systems.

[2018-09-26 16:03] #18077 closed

[2018-09-26 16:05] aghassemi commented on #18376
@choumx Is there still a case you saw that `auto-resize` causes content shifting that's outside of the normal considerations?

[2018-09-26 16:09] aghassemi commented on #18068
@lannka I like that idea, would be able to run synchronously as opposed to the event approach. I am +1 for this approach, /cc @cvializ for approval. Carlos, in short, discussions have been around finding the best way to inject a `input hidden` into forms as needed by the linker.

[2018-09-26 16:20] choumx commented on #18376
Yes. https://github.com/ampproject/amphtml/issues/18376#issuecomment-424732871 was in response to your comment about behavior without `auto-resize`.

[2018-09-26 16:37] lannka commented on #18068
Thanks @aghassemi

@calebcordry already had a draft PR for approach 1, but the part I don't like is:
- it listens to DOM_UPDATE events (which are mainly from amp-list) to re-scan the page for forms.
- because the re-scan, to avoid injecting duplicated hidden input, we had to keep state and remember which form has been treated (had to introduce ID etc)

Approach 2 would resolve those 2 problems.

[2018-09-26 17:13] cvializ commented on #18379
Hello @dandv, thanks for the feature request! If I understand correctly, you would like the date picker to display an unlimited number of dates in the past up to today or another point. Is that correct? Right now that is not possible, but can be practically accomplished by specifying an arbitrarily distant point in the past. And right now we don't have plans to prevent users from viewing months th

[2018-09-26 17:30] atl-love commented on #5294
Hey, I'll look into this one.

[2018-09-26 17:33] hhhjort commented on #15653
Good to see AMP moving in the direction of the IAB consent framework. One use case I haven't seen explicitly mentioned is an RTC call to a vendor that will then proxy additional calls to additional vendors. (Example: prebid) That will require passing the IAB consent string (or the same information in some other format) in the RTC call so the vendor can properly support the GDPR requirements in wha

[2018-09-26 17:45] jeffnordlund-ghost commented on #15653
I was under the impression that forwarding the consent string through to downstream calls is the responsibility of the vendor.  So an auction vendor would be responsible for sending the string to the auction winner.  I don't think there is anything special that would be required in AMP to support that.

[2018-09-26 17:51] newmuis commented on #18384
This was an intentional UI change between 0.1 and 1.0, since sharing on desktop generally happens via URL more than anything else.

[2018-09-26 17:55] erwinmombay commented on #5294
thanks @atl-love , please ping me directly if you need anything

[2018-09-26 18:02] hhhjort commented on #15653
Well, the vendor needs the consent string to be able to forward it. If the vendor is being called via AMP RTC, then AMP needs to be able to provide the consent string in the RTC call for the vendor to have it.

[2018-09-26 18:05] calebcordry opened #18395 "amp-analytics `this.transport_` is null in unexpected places"
Large volume of new errors.

[code]

[2018-09-26 18:07] calebcordry commented on #18395
appears that `this.transport_` is `null`  https://github.com/ampproject/amphtml/blob/a608589ae9acb7e91dcb13eb2a51d1ecf38a2602/extensions/amp-analytics/0.1/amp-analytics.js#L182

[2018-09-26 18:08] calebcordry commented on #18395
also a separate but related stacktrace
[code]

[2018-09-26 18:16] calebcordry commented on #18395
cc/ @zhouyx @torch2424

[2018-09-26 18:49] curseagain commented on #8841
@aghassemi, what is the status on this?  We spoke earlier and it would be great to just make a quick fix to add some missing controls in amp-ima-video.

There are some other buggy things about amp-ima-video that may or may not need to have issues assigned.

- missing controls (mute/unmute, replay)
- unable to loop - and unable to determine when video or ad has ended so that we can trigger replay
-

[2018-09-26 18:54] calebcordry commented on #18395
more :(

[code]

[2018-09-26 18:57] choumx commented on #18376
Yes. I modified your codepen to make this clear: https://codepen.io/choumx/pen/yxmdaa?editors=1000

- Expected: The amp-list does not resize on page load.
- Actual: The amp-list resizes on page load.

Removing `auto-resize` results in the correct behavior.

[2018-09-26 18:57] torch2424 commented on #8841
This was brought up during AMP Contributor Summit 😄

@curseagain is interested in splitting this up to smaller tasks that we can split amongst our teams to ease the bandwidth.

@aghassemi Let us know if this sounds good.

[2018-09-26 19:00] mcmd opened #18398 "amp-form: validation tooltip not showing properly in IE11"
### What's the issue?
validation tooltip in a form not showing properly in IE11 when trying to submit with invalid input

### How do we reproduce the issue?

- Navigate to the https://ampbyexample.com/components/amp-form/ page in Internet Explorer 11-
- Scroll down to the "Form Submission with Page Update" section.
- Insert invalid values into the inputs and click "Subscribe".
- The form does not

[2018-09-26 19:00] mcmd commented on #18183
I can't reproduce, the form is sent for me:

<img width="727" alt="form-submission-with-page-update-ie11-success" src="https://user-images.githubusercontent.com/868584/46102032-4418e380-c1c5-11e8-9009-b1df3f7bac21.PNG">

@jasonconway-williams: I think that what you might be experiencing is #18398, could you please doublecheck?

cc @camelburrito , because of PR #9053 , which fixed this issue

[2018-09-26 19:18] lucasjrd commented on #18360
Choumx,

Referencing the templates by ID via the `template="<id>" `is not the solution to the problem.
Here the code I wrote:

`'<amp-list width="50" layout="fixed-height" src="https://foo.com/get-end-date.php?ird=READER_ID">`
`'     <template type="mustache">`
`'     '     <amp-date-countdown end-date="{{end-date}}" layout="fixed-height" height="50">`
`'     '     '     <template  type="amp-musta

[2018-09-26 19:28] lucasjrd commented on #18385
Just reference templates by ID via the ` template="<id>" ` do not change the state of things.
Besides this the tag amp-count-down do not accept attribute `template="templateid"` -> `The attribute 'template' may not appear in tag 'amp-date-countdown'`
So this issue keep with no workaround.

[2018-09-26 19:29] lucasjrd commented on #18360
Just reference templates by ID via the ` template="<id>" ` do not change
the state of things.
Besides this the tag amp-count-down do not accept attribute
`template="templateid"` -> `The attribute 'template' may not appear in tag
'amp-date-countdown'`
So this issue keep with no workaround.

Em qua, 26 de set de 2018 às 16:27, William Chou <notifications@github.com>
escreveu:

[2018-09-26 19:37] lucasjrd commented on #18360
Just reference templates by ID via the ` template="<id>" ` do not change
the state of things.
Besides this the tag amp-count-down do not accept attribute
`template="templateid"` -> `The attribute 'template' may not appear in tag
'amp-date-countdown'`
So this issue keep with no workaround.

[2018-09-26 19:38] choumx commented on #18360
Ah, we need to allow the `template` attribute in the validation rules for amp-date-countdown. Thanks, reopening.

[2018-09-26 19:40] choumx commented on #18385
Reopened #18360 to track the support of `template` attribute in amp-date-countdown. Closing this issue as a duplicate.

[2018-09-26 19:40] #18385 closed

[2018-09-26 19:42] choumx commented on #18360
@cvializ We should also support this in amp-date-picker.

[2018-09-26 19:51] cvializ commented on #18360
How would this best apply to `amp-date-picker`? I see some incompatibility with a single template attribute, since `amp-date-picker` allows multiple template elements as children which can apply to different calendar days, as well as the info area.

[2018-09-26 19:54] cvializ commented on #18398
I did a quick investigation. First, it looks like there are 2 bugs here.

1. Polyfill standard validation bubbles. For some reason these are not appearing in IE11. They are currently working in Safari. Here's an example.
<img width="480" alt="screen shot 2018-09-26 at 15 44 28" src="https://user-images.githubusercontent.com/2363700/46105088-1753d480-c1a3-11e8-8c84-257dea62aa65.png">

2. Custom val

[2018-09-26 20:11] ssantosms commented on #17549
Right. This addresses the issue

[2018-09-26 20:57] choumx commented on #18360
Just generally. E.g. supporting `info-template` and `date-template` attributes.

[2018-09-26 22:13] dandv opened #18403 "Validator incorrectly flagging non-errors when attribute quote is mising"
## What's the issue?

If an attribute value is missing the closing double quote, the validator may display spurious errors.

## How do we reproduce the issue?

Paste the code below at https://validator.ampproject.org/. Note the missing `"` after `min="0`.

[code]

![image](https://user-images.githubusercontent.com/33569/46112202-a7dbe600-c19e-11e8-93ec-c1faf16ac4b8.png)

[2018-09-26 22:13] dandv commented on #18379
Correct, and displaying a (practically) unlimited number of dates in the past is possible by setting `min` to way in the past, as you said. That solution is perfectly acceptable, especially if setting `min` to "0" were documented to work (it seems it does).

[2018-09-27 00:19] lannka opened #18404 "FR: Disposable interface to avoid race conditions when freeing resources"
(Background bug: #18400)

Here is a buggy code:

[code]

Most of time, we fix it by:

[code]
This could end up not cleaning up `this.something_` if `loadSomethingAsync()` is back after `unlayoutCallback`.

A better fix is:

[code]

Things can be more complicated if there are multiple things need to be cleaned up:

[code]

The above code has a bug that if `loadBAsync()` promise gets rejected. It fa

[2018-09-27 00:32] lannka commented on #18404
We could avoid repeating the above code everywhere by introducing a method `addDisposable` to base-element. The argument has to implement the `Disposable` interface. Resources service should be responsible to dispose them correctly during the document state change.

So we end up writing something:

[code]

/cc @dvoytenko @choumx @zhouyx thoughts?

[2018-09-27 00:33] #18395 closed

[2018-09-27 00:38] lannka opened #18405 "Cherry pick canary release to fix a race condition in amp-analytics unlayout (Approved)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #18395

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR with a fi

[2018-09-27 01:03] meistudioli commented on #18377
Hi, @cvializ:

I checked my code and figure out I rewrite the "Access-Control-Expose-Headers" orz. Everything is fine after I add `AMP-Access-Control-Allow-Source-Origin` in the `Access-Control-Expose-Headers`.

Here is my code:

[code]

Kind of stupid about this orz.

By the way. Is it possible to make it more clear in amp-form document about redirect section ? I think other developers may just c

[2018-09-27 01:14] #18377 closed

[2018-09-27 02:12] Felixbachmann opened #18407 "Performance issue with date picker"
## What's the issue?

When you create a date picker which displays several month, e.g. 12 month then clicking a date requires a long time to display the selection. In my example on a very fast Mac the time was 1.6 seconds (see performance screenshot below)

## How do we reproduce the issue?
Here the date picker configuration

`<amp-date-picker
  type="range"
  mode="static"
  layout="fixed-height"

[2018-09-27 05:12] honeybadgerdontcare commented on #18403
I'm not really sure how one could expect the validator to do something differently. The attribute value was started with a quote and not ended with a quote, therefore the value of that attribute would be whatever it is till the next quote. Then the next attribute name would be from there. So I believe the validator handled this correctly, showing that an attribute was not properly closed with a qu

[2018-09-27 05:12] #18403 closed

[2018-09-27 07:36] leonalicious commented on #18360
hey guys, appreciate your guys help on this as we will be having an promotion event at 11.11 (Double 11) globally, and it meant quite a lot to us, could your guys please help to support this `nested <template>` feature for `<amp-date-countdown>` in this 2 weeks time please ?

[2018-09-27 07:41] dandv commented on #18403
I expected the validator to parse `min` as `"0\nmax=`, but the attributes before `min` should have been parsed as `mode="static". That made it strange to see an error mentioning `[mode=overlay]`, while other attributes preceding `min` were apparently parsed correctly (`layout 'FILL'`). Then later, the 3rd error suggests that `mode` was `'static'` after all.

[2018-09-27 11:49] mcmd commented on #18407
I think this might be the same as #18345

[2018-09-27 11:51] opusdei commented on #18384
Sorry. Maybe I did not explain it well.

The "share" button is present in Desktop, in all pages of the story. For example, there is an [active issue ](https://github.com/ampproject/amphtml/issues/17631) to fix the layout.

The problem is that this button disappears when the "Bookend" is shown, which is perhaps the best moment to share the story.

Another issue, related to what you say, is that the

[2018-09-27 12:47] Felixbachmann commented on #18407
Not sure. I am working on MacOs not iOS and it is not loading the date picker that is slow, it is the selection of a date that is very slow

[2018-09-27 13:42] cvializ commented on #18377
That's a great idea, we should update that documentation. Thanks for letting us know how you fixed it and suggesting an improvement 😃

[2018-09-27 14:05] choumx commented on #15752
These errors have spiked tremendously in 031809251804390. Possibly related to: #17988

[2018-09-27 14:12] cramforce commented on #18405
Approved

[2018-09-27 15:41] newmuis commented on #18384
Makes sense @opusdei!

The "share" pill is intentionally hidden when the bookend is open, but your higher level point of thinking through the sharing options when the story ends on desktop may make sense.

/cc @vinaymahag and @hongwei1990

[2018-09-27 16:07] jridgewell opened #18421 "NODISPLAY elements are never unhidden"
goto: https://www-washingtonpost-com.cdn.ampproject.org/v/s/www.washingtonpost.com/amphtml/news/morning-mix/wp/2018/09/27/hello-this-is-mr-kurd-reporter-wears-trumps-moniker-proudly/?amp_js_v=0.1

If you scroll down, the amp-sticky-ad should appear. However, it has an inline `display: none` style that is never unset. This is caused by https://github.com/ampproject/amphtml/pull/17988, which switche

[2018-09-27 16:09] jridgewell opened #18422 "🌸 Cherry pick request for 18421 into 18374 (Approved)"
**GitHub issue your cherry pick is fixing:**

Issue #18421

**PR that you are requesting a cherry pick for:**

PR #18419

**Release(s) you requesting this cherry pick into:**

Production Release? No

Canary release? Release Issue #18374

*Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)?  Be

[2018-09-27 16:15] jridgewell commented on #18422
@cramforce approved through chat.

[2018-09-27 16:34] #11385 closed

[2018-09-27 16:42] ewagstaff commented on #15087
Just worked around this issue -- it does work in the 1.0 format if app_id key is used with an underscore, not a hyphen.

E.g. {"provider": "facebook", "app_id": "1234567890"}

[2018-09-27 18:59] choumx commented on #18284
@nainar Can you provide more context on the fix? I also don't see any code guarding the "amp-carousel-new-arrows" experiment.

[2018-09-27 19:34] cvializ commented on #14017
It looks like adding the `readonly` attribute prevents the keyboard from appearing. Intended solution: automatically adding `readonly` when a mobile platform is detected.

[2018-09-27 20:28] aghassemi commented on #18376
never mind, I can repro in Canary

@cathyxz let's treat as P0.5?

[2018-09-27 20:33] aghassemi commented on #18376
seems like `changeToLayoutContainer_` is called regardless of whether `attempChangeHeight` succeeds. During initial render, it should only happen if `attempChangeHeight` does not fail.

[2018-09-27 21:15] choumx commented on #18407
Thanks for the report. Going to merge this with #18345 and add a referencing comment there.

[2018-09-27 21:15] #18407 closed

[2018-09-27 21:16] choumx commented on #18345
Another reported performance issue: #18407

[2018-09-27 22:18] alanorozco commented on #8841
@curseagain @torch2424

Our current plans is to support IMA via a third-party video plugin, and be able to use something like Video.JS. That way we ease our maintenance load and we also provide a much better player at the same time.

Maybe adding mute/unmute would be fine, since that seems simple enough for a temporary fix. Be aware that the approach will change to use Video.JS (which will include

[2018-09-27 23:06] #18100 closed

[2018-09-27 23:06] #18087 closed

[2018-09-27 23:06] #18081 closed

[2018-09-27 23:07] #18099 closed

[2018-09-28 00:40] stephengardner opened #18428 "Support for Snap Pixel"
In my understanding of amp-pixel, and amp-analytics, the Snap Pixel is not adequately supported.  Here's documentation for the Snap Pixel and a Page View event: https://businesshelp.snapchat.com/en-US/article/pixel-page-view

[2018-09-28 00:43] nainar commented on #18284
#18303 and #18287 remove all code regarding new arrows for AMP Carousel.

I can't seem to repro the issue on prod on master (can on prod).

Attached are screenshots taken on Chrome on Android:
![screenshot_20180927-174029](https://user-images.githubusercontent.com/7919520/46181813-c57f7d00-c27c-11e8-8160-604d5843d48f.png)
![screenshot_20180927-174035](https://user-images.githubusercontent.com/7919

[2018-09-28 01:58] nightpool opened #18430 "Viewers should allow 'encrypted-media' in Feature Policy"
## What's the issue?

When using an iframe or amp embed that makes use of Encrypted Media Extension APIs, things will work fine locally but fail in the players. This is because player iframes have to explicitly whitelist Feature Policy features that are allowed to child iframes. When the `allow` attribute was added to amp-iframe, it was suggested that players allow `payment`, `geolocation`, `micro

[2018-09-28 02:35] cramforce commented on #18430
@ericfs Could you take this on for the Google viewer?
@ssantosms for Bing.

[2018-09-28 07:08] quangduc505104 opened #18432 "Error: The flying carpet ad overriding the page content"
## What's the issue?

Dear all, please help me: I implement the flying carpet ad on my site, but it overrides the page content,
This error only occurred about a week ago

## How do we reproduce the issue?

Please check with AMP page (IOS iphone + chrome): https://www.google.com/amp/s/amp.24h.com.vn/nhip-song-tre/top-3-dia-diem-an-choi-khong-so-mua-roi-cho-gioi-tre-sai-thanh-dip-trung-thu-c685a9868

[2018-09-28 11:58] GildenAntonySIA commented on #17005
How do we add category?

[2018-09-28 13:43] dna2018 opened #18436 "Ourdna"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-09-28 13:45] #18436 closed

[2018-09-28 15:58] prateekbh commented on #18319
should be fixed by #18363

[2018-09-28 15:58] #18319 closed

[2018-09-28 16:26] westonruter commented on #1410
I've opened https://github.com/ampproject/amphtml/pull/18440 to support the `details` element. I couldn't find a stated reason for why it isn't allowed, even though `amp-accordion` is more powerful.

[2018-09-28 16:30] sanchezedgar opened #18441 "amp-timeago: allow bind on datetime attribute"
## What's the issue?

I mentioned this to @edhollinghurst at the AMP Contributor Summit... It would be helpful to allow `datetime` attribute to be "bindable" so that a new _time ago_ value can be rendered on state changes. Example:
[code]

[2018-09-28 16:35] cramforce commented on #1410
@Gregable pinged me about this. Indeed, I cannot see any conceivable reason why this shouldn't be allowed. Only real downside is non-support in Edge.

[2018-09-28 16:36] cvializ commented on #18183
Thanks for reporting @jasonconway-williams! And thanks for your suggestion @mcmd. I'll try to reproduce this myself soon and give an update if I discover anything

[2018-09-28 16:42] westonruter commented on #1410
I see `details` is marked as being high priority to implement in Edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/detailssummary/?q=details

Even so, in Edge support can be done at the author level via some CSS and with an `open` being controllable with `amp-bind`.

[2018-09-28 16:43] cramforce commented on #1410
Yeah, and it certainly isn't a reason not to support it in AMP.

[2018-09-28 17:12] ssantosms commented on #18430
@nightpool if you can provide a test document, it would be helpful for us

[2018-09-28 19:13] twifkak opened #18445 "AMP-Cache-Transform: specify how stale caches.json may be"
It is impossible for servers to have an exactly up-to-date copy of caches.json, for the purpose of identifying valid ids and performing appropriate URL rewrites. Specify an allowed staleness. Maybe 60 days, to coincide with Google's proposed allowed staleness of transforms.

[2018-09-28 19:38] edhollinghurst commented on #18441
Hi @sanchezedgar thanks for creating this issue.

I've created pull request #18444 - if you could let me know whether you think this would resolve your issue that would be great.

[2018-09-28 19:56] sanchezedgar commented on #18441
This looks great! Would definitely resolve the issue and help us simplify some of our code 👍

[2018-09-28 20:16] jridgewell opened #18446 "Perform Visual Diff Tests on CDN and Origin pages"
Context: https://github.com/ampproject/amphtml/pull/18419

The `display: none` bug wasn't caught during review because I forgot to test AMP docs that have Server Side Rendering through the AMP Cache CDN. Having the visual diff tests run on both the origin pages (eg, https://www.ampproject.org/) and the CDN pages (eg, https://www-ampproject-org.cdn.ampproject.org/c/s/www.ampproject.org) might have

[2018-09-28 20:29] #18360 closed

[2018-09-28 20:31] choumx commented on #18360
Runtime fix will be in dev-channel next Tuesday and production the following week.

Validation changes are rolled out independently, but likely 1-2 weeks turnaround as well.

[2018-09-28 21:53] edhollinghurst commented on #18441
Thanks @sanchezedgar. One issue I've just thought of is that the `title` attribute of the `amp-timeago` element will be wrong after the `datetime` attribute is mutated (this is set based on the original text content set by the user).

Do you have any thoughts on how this could be handled?

[2018-09-28 22:14] hongwei1990 opened #18449 "audio hint bug in viewer"
## What's the issue?

The audio hint in viewer has a weird spacing cap due to the "i" icon on cover page. Hint works fine on 3rd party platforms or pub's O&O.

## How do we reproduce the issue?
https://www.washingtonpost.com/graphics/2018/national/amp-stories/inside-the-room-during-christine-blasey-ford-s-testimony/ Open any STAMP from SRP viewer

## Which AMP version is affected?
STAMP 1.0

![201

[2018-09-28 22:14] aghassemi commented on #18428
/to @jeffjose

[2018-09-28 22:27] jeffjose commented on #18428
I'm not familiar with what a Snap Pixel is but from reading their documentation you can [setup Snap Pixel through GTM?](https://businesshelp.snapchat.com/en-US/a/formatting-pixel)

Does that not work?

[2018-09-28 22:36] stephengardner commented on #18428
@jeffjose I'm similarly not familiar - this is for a client asking for integration.  I believe GTM is possible, and that's what is likely going to happen here, but I'm not sure if the answer should be just to use GTM.  Perhaps that's fine.  The issue seems to be resolved for me at least.

[2018-09-28 22:42] jeffjose commented on #18428
If you're running into issues, please dont hesitate to reach out again! Closing this issue for now.

[2018-09-28 22:42] #18428 closed

[2018-09-28 22:50] sparhami commented on #17328
The "No ampdoc found for" error should no longer appear. I am unsure if all the issues are ironed out however (e.g. audio icon) since the test account I have does not appear to have an active subscription. Are there still issues that you see?

[2018-09-29 00:17] tmdoit opened #18452 "Lack of component "amp-facebook-page-events""
Like to have it in format like "amp-facebook" or "amp-instagram".

[2018-09-29 04:38] twifkak opened #18454 "AMP-Cache-Transform: explain caches registry"
Explain the security requirement for caches.json, and offer signature-based SRI as a possible (yet unvetted) future alternative.

[2018-09-29 10:19] tmdoit commented on #18452
My use case is that I want to create "Events" page, where my client can manage it via Facebook. It's already done with "News" page, where he can manage it via multiple social media services.

[2018-09-29 20:38] amedina commented on #14059
Is this capability going to be implemented by removing the limitations of `amp-next-page`?

[2018-09-30 07:02] psdtomanythings opened #18458 "Background color of slide not picking up"
When you have an image as a background for a slide, the story picks up the image, blurs it and then adds it behind the slide. But the same behavior does not happen while using gradients or color as a background. Following is an example

Story slide  taking up the image and blurring it 👌

![my story](https://user-images.githubusercontent.com/22929187/46254404-9a7b7000-c4ac-11e8-8dfc-86825305731f.jp

[2018-09-30 11:08] newmuis commented on #18458
Great suggestion!  Should be an easy fix 🙂

[2018-09-30 11:11] middle-way-approach commented on #7379
I implemented a todo app with just `amp-bind` to show that it is possible. The only caveat is that the max number of todos is determined by the html structure and can not be dynamically increased.
[See yourself](https://middle-way-approach.github.io/amp-html-todo/)

[2018-09-30 13:52] tmdoit opened #18459 "FR: Facebook "page reviews" and "events" components"
Should work like ie. "amp-facebook" component.

[2018-09-30 14:02] mrjoro opened #18460 "Status Update 2018-10-01"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-09-30 18:49] DamonHD opened #18461 "Support for details / summary tags"
## What's the issue?

The HTML5 details and summary tags are apparently disallowed by AMP and amphtml-validator.

Please add support for them.  They do seem to work in every browser I interact with.

## Which AMP version is affected?

(NPM) amphtml-validator 1.0.23

eg:

    % amphtml-validator amp/sitemap.html
    amp/sitemap.html:4:391 The tag 'details' is disallowed.
    amp/sitemap.html:4:400

[2018-09-30 19:10] ericlindley-g commented on #14059
Yep — the implementation of this feature is amp-next-page. It's available to use as an experiment now, and when we've fixed some bugs that have been identified (analytics in particular, as well as signaling the "active" document so the display & sharing URLs can be updated to match), then the feature will launch.

[2018-10-01 01:58] sebastianbenz commented on #7379
FWIW, we lack two things before we can submit an AMP version to ToDoMVC:

1. reading/writing localStorage
2. support for URL fragments

[2018-10-01 03:44] atl-love commented on #5294
Thanks all for your help. Since PR #18396 has been merged and closed, how do I close this issue?

[2018-10-01 08:05] PepeLopez opened #18462 "Boilerplate style code doesn't verify against Google AMP check"
## What's the issue?

Boilerplate code (https://www.ampproject.org/docs/fundamentals/spec/amp-boilerplate) does not  get verified by google amp check.

Given error:

The document itself contains the code, which is placed within the <head> section.

## Solution ##
Add a whitespace after the style tag like this:
`<style amp-boilerplate> body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal b

[2018-10-01 08:54] dhanendrannewscorp commented on #17997
@jridgewell did you managed to test this last week? Did it worked well? Thanks

[2018-10-01 09:40] mofidsky opened #18463 "amp-mustache new version remove the href attribute"
amp-mustache-0.2.js automatically remove the href from a tag inside the amp-list

[2018-10-01 10:37] iwoak commented on #17328
Thanks a lot! We no longer have the error "No ampdoc found for" and so we can close this issue.

PS yes in this moment there are some error on audio, but they are ours and we just fixed :)

[2018-10-01 10:37] #17328 closed

[2018-10-01 13:33] #14017 closed

[2018-10-01 14:59] adelinamart commented on #5294
Thank you for solving this issue. I can close it for now. You can use the following keywords for your PR for closing issues: https://help.github.com/articles/closing-issues-using-keywords/

[2018-10-01 14:59] #5294 closed

[2018-10-01 15:01] atl-love commented on #5294
Will do and thanks!

[2018-10-01 15:17] choumx commented on #18462
Which validation tool is showing you that error? I can't reproduce this on [validator.ampproject.org](https://validator.ampproject.org/).

[2018-10-01 15:18] choumx commented on #18461
Will be fixed by #18440.

[2018-10-01 15:19] choumx commented on #18459
/to @ericlindley-g

[2018-10-01 15:27] yajiv185 opened #18466 ""#ampf=undefined" appended in url when opening amp-lightbox."
## What's the issue?

Whenever we are opening any amp-lightbox, `#ampf=undefined` is appended in URL. (When comes from google).

## How do we reproduce the issue?

You can check for the following sites.
- https://www.google.co.in/amp/s/www.carwale.com/amp/used/cars-in-jamnagar/ (filter, Get Seller Detail, Check right price, etc will open lightbox)
- https://www.google.co.in/amp/s/www.makaan.com/li

[2018-10-01 15:29] choumx commented on #18432
Looks like amp-fx-flying-carpet is not clipping its contents which causes the contained ads to block page content. Did we change this code recently?

I was able to easily repro this with Chrome desktop on prod (1809142227020). Canary (1809272228320) also seems buggy but in a different way.

/to @jridgewell /cc @aghassemi

[2018-10-01 15:30] choumx commented on #18452
Combining with #18459.

[2018-10-01 15:30] #18452 closed

[2018-10-01 15:33] #18445 closed

[2018-10-01 15:38] choumx commented on #18466
@ericfs Looks like the Google viewer adds `ampf` query param on history push. Is there more context on what the query param is for?

I can repro on the second link above (doesn't happen on non-viewer URL of same page).

[2018-10-01 15:46] choumx commented on #18463
@mofidsky I can't reproduce this on the [ABE example](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-list%2Fsource%2F) after changing version to 0.2. Can you provide a URL or code snippet that shows the buggy behavior?

[2018-10-01 16:39] addy5 opened #18469 "Scroll event flicker on position:sticky element in Safari iOS"
Similar to issue: https://github.com/ampproject/amphtml/issues/10343

When there is an element with `position: sticky`, and user scrolls down on the page, the sticky element is a few pixels behind -being partially scrolled out of view, and eventually flickers back to the correct position when the scrolling is halted.

The same conditions as the linked issue above (Safari iOS only), but `position:

[2018-10-01 16:54] newmuis opened #18470 "Pull AMP story background from largest image over some threshold"
We currently pull the AMP story background from `fill` layers:

https://github.com/ampproject/amphtml/blob/617b7e4e25aa578756c5af941c2748c50abd8004/extensions/amp-story/1.0/amp-story.js#L1401-L1427

Instead, we should consider measuring all assets on the page and taking the largest one over some threshold.  This decouples the visual appearance from the publisher implementation.  For example, this

[2018-10-01 17:12] jridgewell commented on #17997
The test suite fails due to a difference in the old polyfill (which depended on the V0 native in our test suite, because we run our tests in Chrome), and the polyfill. We have a way to fix it, and I'll be working on it soon.

[2018-10-01 18:29] ericfs commented on #18466
Thanks for the report. Filed internal issue: b/117103357

[2018-10-01 18:41] jridgewell commented on #18432
Tracked this down to https://github.com/ampproject/amphtml/pull/16049. It's now transferring the container element, which breaks the clipping (which happens on a direct parent).

[2018-10-01 19:03] jridgewell opened #18473 "ios-embed-sd: Cannot slot arbitrary elements into fixed-layer"
`ios-embed-sd` uses a Shadow DOM with a two slots. The main slot inherits all children, and `fixed-layer` service manually transfers certain elements over to the second slot (the fixed-layer slot). This is to fix iOS scroll flickering.

But the problem is, only **direct** children of the `<body>` can be transferred to a slot defined inside the Shadow Tree on the `<body>` element. So if I have a ne

[2018-10-01 19:55] cvializ commented on #18183
I am not able to reproduce. @jasonconway-williams are you still able to repro, or can you please provide any more details that will help me reproduce?

[2018-10-01 20:00] cvializ commented on #18183
@jasonconway-williams I am unable to reproduce. As @mcmd mentioned there is a bug fix in progress for the validation bubbles to provide error messages, but I am able to successfully submit the form in IE11. Are you still able to reproduce, or are you able to provide any additional steps to help us reproduce?

[2018-10-01 20:01] newmuis opened #18478 "Add localization section to amp-story documentation"
We should explicitly call out how to use the localization features of `amp-story`, specifically the `lang` attribute for message translations and the `dir` attribute for right-to-left.

[2018-10-01 20:21] aboekhoff opened #18479 "[Viewer, iOS] Scroll jitter of fixed element gated by amp-experiment"
If I scroll down on the google hosted version the white CTA appears underneath the button.
I want to confirm if this is a viewer bug or an issue with our AMP code:

[correct layout](https://amp.reddit.com/r/scriptedasiangifs/comments/7ze2v4/best_soccer_goal_of_all_time/)

[incorrect layout](https://www.google.com/amp/s/amp.reddit.com/r/scriptedasiangifs/comments/7ze2v4/best_soccer_goal_of_all_time

[2018-10-01 20:41] newmuis commented on #18478
We should also document which locales are supported by the `lang` attribute, currently:

- ar
- de
- en-GB
- en
- es-419
- es
- fr-CA
- fr
- hi
- id
- it
- ja
- ko
- nl
- no
- pt-BR
- pt
- ru
- tr
- vi
- zh-TW
- zh

[2018-10-01 20:52] nainar opened #18480 "Error: localStorage not supported"
Error: localStorage not supported.
at scheduleTime (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/resources-impl.js:2116)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/resources-impl.js:2167)
at i (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/node_modules/document-register-element/build/document-register-el

[2018-10-01 20:53] nainar opened #18481 "Error: Illegal invocation"
Error: Illegal invocation
(https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/custom-element.js:415)

[2018-10-01 20:54] nainar commented on #18481
https://pantheon.corp.google.com/errors/CN3UivOC-ZCkpgE?time=P1D&project=amp-error-reporting

[2018-10-01 20:57] nainar opened #18482 "Error: [Exception... "Unexpected error" nsresult: "0x8000ffff (NS_ERROR_UNEXPECTED)" location: "JS frame :: https://cdn.ampproject.org/rtv/011809142227020/v0/amp-ad-exit-0.1.js :: .f/U.prototype.onLayoutMeasure/< :: line 13" data: no]"
Error: [Exception... "Unexpected error" nsresult: "0x8000ffff (NS_ERROR_UNEXPECTED)" location: "JS frame :: https://cdn.ampproject.org/rtv/011809142227020/v0/amp-ad-exit-0.1.js :: .f/U.prototype.onLayoutMeasure/< :: line 13" data: no]
at Error (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/log.js:528)
at createErrorVargs (https://raw.githubusercontent.com/ampproject/amphtm

[2018-10-01 21:04] nainar opened #18483 "Error: undefined is not an object (evaluating 'Z(c[k]).requestMeasure') (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/focus-history.js:121)"
Error: undefined is not an object (evaluating 'Z(c[k]).requestMeasure')
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/focus-history.js:121)
at getElementScrollTop_ (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/viewport/viewport-impl.js:559)
at animateScrollIntoViewInternal_ (https://raw.githubusercontent.com/ampproject/amphtml/18091422

[2018-10-01 21:05] nainar opened #18484 "Error: Viewer does not provide cap=cid"
Error: Viewer does not provide cap=cid
at Error (https://raw.githubusercontent.com/ampproject/amphtml/1809272228320/src/log.js:528)
at createErrorVargs (https://raw.githubusercontent.com/ampproject/amphtml/1809272228320/src/log.js:244)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809272228320/src/log.js:272)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809272228320/src/cu

[2018-10-01 21:07] Gregable commented on #18462
That prefix whitespace is optional, not required. I also cannot reproduce.

[2018-10-01 21:08] Gregable commented on #18462
Closing, but I'm happy to reopen if you provide more information. For example, a publicly accessible URL that I can test out.

[2018-10-01 21:09] PepeLopez commented on #18462
validator.ampproject.org passes the test succesfully, GoogleSearchConsole gives that that error:

See attached 2 images from GoogleSearchConsole.
The first one is the indexed one - the first fun fact. On the one hand it's indexed, on the other hand the validator says it won't appear in search results.
However, the mentioned error is shown, it will be highlighted in the source code on the right pna

[2018-10-01 21:13] sparhami commented on #18055
So after thinking about this a bit more, I'm not sure we can remove the origin check. Otherwise, this could be used as a way of creating `<iframe>`s, but getting around the restrictions that `<amp-iframe>` imposes.

[2018-10-01 21:14] Gregable commented on #18462
Can you send me the URL via private message, in https://amphtml.slack.com for example. I have the same username there.

[2018-10-01 21:17] nainar opened #18485 "Error: Failed to fetch (failed-to-fetch.js:1)"
Stacktrace:

Error: Failed to fetch
    at failed-to-fetch.js:1:1

Can't repro by cicking around on sites. Shows up first on 011809142227020

 go/ampe/CIi5vfGzl_jHpgE

[2018-10-01 21:19] nainar opened #18486 "Error: Unspecified error"
Error: Unspecified error.
at getLayoutRect (https://cdn.ampproject.org/v0.js:425)
at getLayoutRect (https://cdn.ampproject.org/v0.js:459)
at $b (https://cdn.ampproject.org/v0/amp-ad-latest.js:89)
at onLayoutMeasure (https://cdn.ampproject.org/v0/amp-ad-latest.js:88)
at updateLayoutBox (https://cdn.ampproject.org/v0.js:260)
at measure (https://cdn.ampproject.org/v0.js:238)
at Kk (https://cdn.amppro

[2018-10-01 21:21] nainar opened #18488 "Error: Cannot read property 'getBoundingClientRect' of null"
Error: Cannot read property 'getBoundingClientRect' of null
at state (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/fixed-layer.js:361)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/viewport/viewport-binding-ios-embed-sd.js:191)
at schedulePass (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/resou

[2018-10-01 21:22] nainar opened #18489 "Error: IndexSizeError: The index is not in the allowed range. (indexsizeerror-the-index-is-not-in-the-allowed-range.js:1)"
Error: IndexSizeError: The index is not in the allowed range.
at (indexsizeerror-the-index-is-not-in-the-allowed-range.js:1)

go/ampe/COjuxcO8lopN

[2018-10-01 21:25] nainar opened #18490 "Error: undefined is not an object (evaluating 'a.nodeType')"
Error: undefined is not an object (evaluating 'a.nodeType')
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/node_modules/document-register-element/build/document-register-element.patched.js:477)
at o (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/node_modules/document-register-element/build/document-register-element.patched.js:584)
at getRaf_ (https://ra

[2018-10-01 21:26] nainar opened #18491 "Error: Invalid resize values. Error (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/log.js:528)"
Error: Invalid resize values.
at Error (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/log.js:528)
at createErrorVargs (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/log.js:244)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/log.js:257)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/extensions/amp-

[2018-10-01 21:40] nainar opened #18493 "Error: Unexpected identifier"
Error: Unexpected identifier
at changeSize (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/resources-impl.js:865)
at (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/resources-impl.js:889)
at getViewport (https://raw.githubusercontent.com/ampproject/amphtml/1809142227020/src/service/resources-impl.js:462)
at (https://raw.githubusercont

[2018-10-01 22:29] PepeLopez commented on #18462
Thanks - but I can't join there, it's for google members only.

However, I figured it out what happened while writing a reproducable procedure:

* first things first: a serverside plugin generated on each amp page _once a day_ (!) a text output like "1" or "2" in the head section - which is an syntax error.
* This error disappears on the second call (per day) of that amp site, which causes that GS

[2018-10-01 22:47] Gregable commented on #18462
Got it.

Re slack, it looks like the sign up link is [here](https://docs.google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877) if you do want to engage in the future.

This makes sense. The Google Search Console shows you issues from the Google crawl, so it's a cached result. Recrawling most sites live when you load the Search Console is n

[2018-10-01 22:47] #18462 closed

[2018-10-01 22:53] techhtml commented on #18262
Can I got this feature?

[2018-10-01 23:02] #18337 closed

[2018-10-01 23:19] techhtml commented on #18056
Close this please :)

[2018-10-01 23:19] techhtml commented on #17303
Close this please :)

[2018-10-01 23:30] #18004 closed

[2018-10-01 23:32] sparhami commented on #18056
Sure. For future reference, if you do "Fixes #18056" or "Closes #18056" in your Github comment for a pull request, it will automatically close the issue once your PR lands.

[2018-10-01 23:32] #18056 closed

[2018-10-01 23:34] techhtml commented on #18056
@spacedino Oh! Thanks :)

[2018-10-01 23:35] cathyxz commented on #17303
Yup! Thank you for your contribution.

[2018-10-01 23:35] #17303 closed

[2018-10-02 00:01] #18454 closed

[2018-10-02 00:20] sparhami opened #18496 "Support removing `<iframe>` created by `<amp-install-serviceworker>`"
When creating an `<iframe>` through `<amp-install-serviceworker>` (i.e. when serving from the AMP cache), the `<iframe>` persists on the page, even once the service worker has been installed. We should ideally remove the `<iframe>` once the service worker has been installed to free up memory.

Lower memory usage should reduce the chance the page will be unloaded (and subsequently reloaded) when sw

[2018-10-02 02:38] quangduc505104 commented on #18432
Hi choumx,

Recently, we didn't change any relevant code

[2018-10-02 02:42] quangduc505104 commented on #18432
Thank jridgewell,

If there is any idea to fix it, please tell me

[2018-10-02 03:28] #17983 closed

[2018-10-02 03:28] lannka commented on #17983
@zhouyx I know you have meeting notes, could you share a link?

[2018-10-02 03:42] lannka commented on #18265
This seems to be a bug. Can we not force it [here](https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L316)? If remote frame is disallowed for an ad network, it should just be ignored. @keithwrightbos

[2018-10-02 04:33] ssantosms commented on #17549
@rsimha I think this issue may be closed

[2018-10-02 06:16] DamonHD commented on #18461
Great!

Rgds

Damon

[2018-10-02 06:45] cathyxz commented on #18376
Here's one way to deal with this problem:
1. Call `changeToLayoutContainer` iff `attemptChangeHeight` succeeds.
2. Override `overflowCallback` for `<amp-list>` so that if `auto-resize` is on, it does a `changeToLayoutContainer`, and call `this.implementation_.overflowCallback` in `custom-element.js` in a similar way to what is done for all the other overridden callbacks. But I noted that  `overflo

[2018-10-02 07:54] mofidsky commented on #18463
i test it again its doesn't work in local.
but worked when upload to server...
![mustache](https://user-images.githubusercontent.com/41105577/46335774-7008ee80-c635-11e8-9f5c-61fe50f532b2.png)
but the same code worked in code pen
[codepen](https://codepen.io/mofidsky/pen/zmvzjx)

[2018-10-02 07:58] jasonconway-williams commented on #18183
@cvializ I can confirm that the amp by example form does work in IE11 and it does seem to be a problem with the validation message not being displayed when an invalid value has been inserted into the email field. The fields don't seem to display placeholders in IE11 specifying that the fields are for name and email.

The issue that I am having is that I am experiencing a problem with the form subm

[2018-10-02 08:24] younissensetv opened #18498 "amp"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-10-02 09:14] cipix2000 commented on #17995
👍 I also hit this bug with a div, positioned fixed, fully transparent and with pointer-events: none. When   moving the element the "pointer-events: none;" was not preserved thus making the AMP page unusable on iOS devices.

[2018-10-02 09:48] siddiqrahman opened #18499 "What is the issue when open amp stories in mobile version and desktop version"
![af50eeec-61dd-4184-9ec4-5ad5107b70b1](https://user-images.githubusercontent.com/43777424/46341651-5fb53b80-c656-11e8-88d0-edecb05b6b32.jpg)
![070fb472-2505-48f9-94db-6b7c504c6e64](https://user-images.githubusercontent.com/43777424/46341652-5fb53b80-c656-11e8-9ba0-c3d015fec3a7.jpg)

[2018-10-02 11:28] oliverfernandez opened #18500 "AMP-YOUTUBE not working when AMP page is loaded in Google carousel"
I have an AMP page that has a Youtube video that does not work when seen in Google Search carousel.

The video works fine when:

1. Visting the AMP page itself: https://amp.economiadigital.es/politica-y-sociedad/el-idilio-de-los-cdr-y-quim-torra-da-alas-a-la-aplicacion-de-un-nuevo-155_580583_102.html

2. Visiting the AMP page in the AMP cache: https://amp-economiadigital-es.cdn.ampproject.org/c/s/

[2018-10-02 11:57] newmuis commented on #18499
Thanks for the report @siddiqrahman.  It's definitely intended for Chrome mobile to work.  It's would be very helpful if you could share the following:

- Your Chrome version
- Your device
- What version of `amp-story` you are using

[2018-10-02 12:29] kul3r4 opened #18501 "[amp-pan-zoom] reset-on-resize miscalculates dimensions with padding"
`amp-pan-zoom` supports `reset-on-resize` attribute that should help resizing when rotating with different landscapes.
Try to open this [page](https://amp-demos.glitch.me/seatmap2.html ) in portrait mode, then rotate to landscape and the corners are cut. Attached screenshot made on iPhone 7.
![seatmap-landscape](https://user-images.githubusercontent.com/820891/46348543-33de8980-c647-11e8-842e-fab8

[2018-10-02 13:42] ireinhart commented on #18432
Hello, we have the same problem and need a fix :-/
It looks like an error at amp-fx-flying-carpet with Safari.

Working version:
https://www.chefkoch.de/amp/recipe/745721177147257
![image](https://user-images.githubusercontent.com/481299/46352215-845ee280-c659-11e8-9efe-d1ca19bacc5e.png)

Defect (relevant case):
https://www.google.com/amp/s/www.chefkoch.de/amp/recipe/745721177147257
![image](https

[2018-10-02 14:05] #17549 closed

[2018-10-02 14:35] gui-poa commented on #18432
Same here.
We only reproduce accessing on AMP Cache.
![image](https://user-images.githubusercontent.com/1610365/46355415-23261780-c637-11e8-8ea5-16bb29165e4e.png)

[2018-10-02 14:50] siddiqrahman commented on #18499
it's not for only chrome, it's not working in firefox also,

- chrome Version 69.0.3497.100 (Official Build) (64-bit)

- device, all device, like Samsung , appo, xiaomi

- amp_story version 1809142227020

[2018-10-02 15:57] newmuis commented on #18499
Is this amp-story-0.1.js or amp-story-1.0.js?

[2018-10-02 16:00] choumx commented on #18432
Bumping to P0. Let's cherry-pick this into prod today. /cc @nainar on duty this week.

[2018-10-02 16:04] cvializ commented on #18183
I was able to reproduce in that document. It looks like the autosuggest `amp-list` has a `<template>` with an `<amp-selector>`, and somehow the elements inside the `<template>` are being treated like real elements and not just template content.

<img width="442" alt="screen shot 2018-10-02 at 12 00 13" src="https://user-images.githubusercontent.com/2363700/46361290-3509b980-c63b-11e8-96ad-fc04131b

[2018-10-02 16:51] siddiqrahman commented on #18499
0.1.js

[2018-10-02 17:44] #18422 closed

[2018-10-02 17:45] nikse commented on #16052
I'm still seeing this issue constantly in a lot of my articles. could it be affecting ad views?

urls:
https://www.inverse.com/amp/article/49479-why-do-elephants-have-wrinkled-cracked-skin
https://www.google.com/amp/s/www.inverse.com/amp/article/49479-why-do-elephants-have-wrinkled-cracked-skin

<img width="1196" alt="screen shot 2018-10-02 at 1 42 40 pm" src="https://user-images.githubusercontent

[2018-10-02 17:47] jridgewell opened #18504 "🌸 Cherry pick request for 18432 into 17970 (Approved)"
**GitHub issue your cherry pick is fixing:**

Issue #18432

**PR that you are requesting a cherry pick for:**

PR #18474

**Release(s) you requesting this cherry pick into:**

Production Release? Release Issue #17970

Canary release? Release Issue #18374

**Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-

[2018-10-02 17:51] jridgewell commented on #16052
@nikse: It won't affect views. The error in this case is because a polyfill is trying to re-polyfill, so when it fails it continues to be ok.

[2018-10-02 17:54] nikse commented on #16052
Interesting, thanks for the quick response. We've actually noticed an ad fill issue since early september and digging in to everything we can to see what the issue could possibly be, which led me here. Unfortunately it is proving to be extremely difficult to figure out what is happening. I've tried manually looking at the ad responses but can't see anything. Any advice? Thought this issue might be

[2018-10-02 17:57] jridgewell commented on #18504
Approved by @cramforce in chat.

[2018-10-02 17:59] jridgewell commented on #16052
Do you have a reproduction page? I'm not able to look into why ads don't fill, but I can investigate up to the point where AMP decides to inject the iframe. After that, it's up to the bidding process and normal 3p ads code.

[2018-10-02 18:05] aghassemi commented on #18376
Using Signals could be another approches. I suspect most cases we don't want to actually override overflow but rather do something after it is done making Signals a good option.

[2018-10-02 18:08] newmuis commented on #18499
The first screenshot is not expected.  Chrome should be supported, so I'm not sure why you are getting this screen.

However, it's strongly encouraged that you use version 1.0 of amp-story.  The second screen is due to the fact that using version 0.1 requires whitelisting your domain.  However, the whitelist has been closed (since July), as version 1.0 does not require whitelisting.

[2018-10-02 18:09] nikse commented on #16052
Awesome thank you! It really seems to be happening on any of our amp article pages, like this one

direct link: https://www.inverse.com/amp/article/49498-kyrie-irving-flat-earth-apology-education
google cache link: https://www.google.com/amp/s/www.inverse.com/amp/article/49498-kyrie-irving-flat-earth-apology-education

[2018-10-02 18:27] jridgewell commented on #16052
Chrome? Safari? iOS?

[2018-10-02 18:29] nikse commented on #16052
sorry about that. i am seeing this in chrome, either emulating an iphone or just loading up the non google cache link in desktop mode

Google Chrome is up to date
Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-02 18:41] jridgewell commented on #16052
Ok, so `layoutCallback` is being called appropriately. But, when it tries to render the iframe, it's apparently already `isCollapsed`. Can you file a new issue and tag @lannka?

[2018-10-02 18:43] nikse commented on #16052
yup! thanks a lot

[2018-10-02 18:52] nikse opened #18507 "Error: "Cannot read property 'create' of undefined""
## What's the issue?

Please see thread starting here for discussion with @jridgewell: https://github.com/ampproject/amphtml/issues/16052#issuecomment-426366677

Amp-ad `type="doubleclick"` fails to render because it is already collapsed.

## How do we reproduce the issue?

direct link: https://www.inverse.com/amp/article/49498-kyrie-irving-flat-earth-apology-education
google cache link: https://w

[2018-10-02 18:54] nikse commented on #18507
posting last comment from @jridgewell here

```Ok, so layoutCallback is being called appropriately. But, when it tries to render the iframe, it's apparently already isCollapsed. Can you file a new issue and tag @lannka?```

[2018-10-02 18:56] atl-love commented on #17308
Is this one free for the taking?

[2018-10-02 18:56] nightpool commented on #18430
Had some time to get to the test document today. Here you go: https://nightpool.github.io/amp-eme/

works standalone:
![image](https://user-images.githubusercontent.com/233815/46369886-2bd81700-c652-11e8-9299-3b3fdf71c6db.png)

fails in players:
https://search.google.com/test/amp?view=search-preview&id=2BZpGcopYn2fIAeWoW2PDA
![image](https://user-images.githubusercontent.com/233815/46369900-31cdf8

[2018-10-02 19:10] cathyxz commented on #18376
On second thought, to clarify that approach, what we want to override isn't actually `overflowCallback`, but rather the onclick function registered to the overflow element on showing the overflow element here:

https://github.com/ampproject/amphtml/blob/dca4483004b4d9cd3069e8fa67df433284587b73/src/custom-element.js#L1696-L1702

So we would add `overflowClickedCallback` to `BaseElement`:

[code]

A

[2018-10-02 19:22] alex-magana opened #18508 "amp-next-page wrongly rewrites recommendation box URLs when relative URLS are used in the script json"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-10-02 19:50] caiotomazelli opened #18509 "SVG image being mistakenly cached as resource"
## What's the issue?

SVG image on an AMP page is being cached as a resource instead of image.

## How do we reproduce the issue?

1. Access https://m.posthaus.com.br/amp/ and verify that the logo (posthaus at the center top) is being normally loaded from https://m.posthaus.com.br/assets/icons/ic-posthaus-logo.svg
2. Access the cached AMP page on https://m-posthaus-com-br.cdn.ampproject.org/c/s/m.

[2018-10-02 19:57] jarek-gilewski commented on #18159
Is this already on production? AMP-list still keeps initial height - see example https://produktsuchmaschine.de/search.html?sq=red (go to page 2 and scroll down)

[2018-10-02 19:58] newmuis commented on #13159
After looking at @juanlizarazo's investigation, I think we actually don't want the behavior mentioned in the original report at all.  Closing this issue.

[2018-10-02 19:58] #13159 closed

[2018-10-02 20:09] cathyxz commented on #18376
Okay, another way to handle this is to add a `'overflow-clicked'` signal, which we trigger in `custom-element.js:overflowCallback`, inside the onclick handler, also here:
https://github.com/ampproject/amphtml/blob/dca4483004b4d9cd3069e8fa67df433284587b73/src/custom-element.js#L1696-L1702

[code]

And then within amp-list render, we can have

[code]

[2018-10-02 20:14] aghassemi commented on #18376
Yep, I recommend the latter. Signals are nicer for this usecase than callbacks.

[2018-10-02 20:28] #18364 closed

[2018-10-02 20:46] calebcordry commented on #18159
@jarek-gilewski This cut will never be in production. You can follow the current release at #18374

[2018-10-02 20:48] sparhami opened #18512 "Cannot read `navigateToAmpUrl` of null"
`this.navigation_` is always null when read here:

https://github.com/ampproject/amphtml/blob/a348bbc5f2e4e3640ac4f84afadc6ad9e7de5f43/extensions/amp-next-page/0.1/next-page-service.js#L317-L318

The private field is declared here:

https://github.com/ampproject/amphtml/blob/a348bbc5f2e4e3640ac4f84afadc6ad9e7de5f43/extensions/amp-next-page/0.1/next-page-service.js#L91-L92

But the field is never i

[2018-10-02 21:04] IamAlta opened #18513 "amp-accordion loses expand-single-section on page refresh"
## What's the issue?

amp-accordion with expand-single-section seems to work on the first load of the page.
Then, open a section.
Then, refresh the page and more than one section is open.

## How do we reproduce the issue?

See above and see
https://www.gardecor.com/a.checkout.payment2.php

## What browsers are affected?

Recent vers of firefox developer and chrome.

## Which AMP version is affect

[2018-10-02 21:11] torch2424 commented on #18065
Discussed offline with @lannka :

Solution is to not override the existing CSS with more CSS, but to reduce the scope of the existing CSS. The `position: relative` causes the bug on inabox pages, thus making a better selector to not include inabox would solve the issue.

[2018-10-02 21:11] nainar commented on #18504
Closing this cherry pick request since the PR has been pushed to prod and the fix was verified by @jridgewell in prod.

[2018-10-02 21:11] #18504 closed

[2018-10-02 21:18] cathyxz commented on #18501
The issue here is with the `padding-top: 30px`. After you shift from portrait to landscape mode, it fits if you adjust `padding-top` to something like `38px`. If you remove `padding-top: 30px`, it doesn't have the same problem either. Or if you straight up add `padding: 30px`.

The`<amp-pan-zoom>` element works with aspect ratios. Adding padding forces the `<svg>` element to shrink within the defi

[2018-10-02 21:45] nainar opened #18515 "Add new label "Help wanted""
What is it?
Help wanted indicates that these issues are more involved than your average Good First Issues. These are issues that we don't need to directly mentor someone through.

Why not just use Good First Issue?
Good First Issues are intended to be trivial fixes that are mostly meant to get someone acclimated with the process of contribution rather than the technical rigors of contributing to A

[2018-10-02 21:46] AndrewKGuan opened #18516 "AMP accordion and accessibility on Lighthouse audit"
amp-accordion is failing Lighthouse's accessibility test. The message from the test is the following:

<id> attributes on the page are not unique
The value of an id attribute must be unique to prevent other instances from being overlooked by assistive technologies.

How to reproduce:
run Lighthouse audit against any AMP that has an accordion.

[2018-10-02 21:47] kul3r4 commented on #18501
Thanks for explaining! What is the alternative when a space around is
needed?

On Tue, 2 Oct 2018 at 22:19, Cathy Zhu <notifications@github.com> wrote:

[2018-10-02 21:54] cathyxz commented on #18515
I would propose this as an alternative to the GFI Candidate label. It isn't really a standard thing for github users to be looking for a "GFI Candidate" label to contribute to, even though these are usually issues that we mark as something relatively simple to be converted to a "Good First Issue". Usually the only thing that happens to a "GFI Candidate" issue is that it goes into the pool of issue

[2018-10-02 22:05] cathyxz commented on #18501
Can you pad both width and height? You can probably play with the values to find some that work with your content aspect ration + amp-layout dimensions combination

[2018-10-02 22:20] cathyxz commented on #18501
Alternatively, try changing your svg `preserveAspectRatio` value to "meet" instead of "slice". https://codepen.io/jonitrythall/post/preserveaspectratio-in-svg

[2018-10-02 22:36] nainar opened #18518 "🚄Release tracking issue for canary release 1810052256480 (Production)"
# Release tracking issue

- [x] Release [1810022028350-old](https://github.com/ampproject/amphtml/releases/tag/1810022028350) is cut as a new canary release
- [x] Release 1810022028350-old pushed to dev channel (Tuesday - 2 Oct 2018 at 4:54 pm PT)
- [x] Release 1810022028350-old pushed to 1% (Wednesday - 3 Oct 2018 at 10:56 am)
- [x] Release 1810052256480 pushed to 1%
- [x] Release [1810052256480]

[2018-10-02 22:48] #18374 closed

[2018-10-02 22:54] lsarni opened #18519 "AMP Validator adds an extra rel="nofollow" to some links"
## What's the issue?

I'm getting this warning for many of my amp pages:

But what I see on the AMP Validator doesn't match the HTML on my page.
In all the pages the issue is the same.

## How do we reproduce the issue?

1. Go to [https://www.chefsfeed.com/amp/experts/1735](https://www.chefsfeed.com/amp/experts/1735)
2. Inspect the HTML for the link in blue
![screen shot 2018-10-02 at 19 46 43](ht

[2018-10-02 23:01] honeybadgerdontcare commented on #18519
If one does a view source on the page it'll show that there are two `rel` attributes. The first is `noopener` and the second is `nofollow`. Perhaps Chrome is only showing the first when inspecting as it's selecting the first attribute as being the one intended and ignoring the second (this is speculation). The validator message is correct since the webpage does have two `rel` attributes.

[code]

[2018-10-02 23:01] #18519 closed

[2018-10-03 00:01] nainar commented on #18498
Closing this issue since it doesn't include an error report. Please open a new issue with details regarding any problems you come across.

[2018-10-03 00:01] #18498 closed

[2018-10-03 10:10] jorakaraivanov commented on #11455
Hello @codewiz

Could you flush my next keys:

1. https://www-tv2nord-dk.cdn.ampproject.org/r/s/www.tv2nord.dk/.well-known/amphtml/apikey.pub
2. https://www-tvmidtvest-dk.cdn.ampproject.org/r/s/www.tvmidtvest.dk/.well-known/amphtml/apikey.pub
3. https://www-tveast-dk.cdn.ampproject.org/r/s/www.tveast.dk/.well-known/amphtml/apikey.pub
4. https://www-tvsyd-dk.cdn.ampproject.org/r/s/www.tvsyd.dk/.wel

[2018-10-03 11:01] usman601 opened #18522 "The tag 'amp-recaptcha-input' is disallowed"
**getting error ,The tag 'amp-recaptcha-input' is disallowed**
## What's the issue?

The tag 'amp-recaptcha-input' is disallowed,when using amp-captcha

## How do we reproduce the issue?
1.include amp-captcha script  as given in example

## What browsers are affected?

All browsers

[2018-10-03 13:34] roelvanhoof opened #18523 "amp-image-lightbox inside a amp shadow (pwa)"
## What's the issue?

When you load an amp page inside a pwa as described here (https://www.ampproject.org/docs/integration/pwa-amp/amp-in-pwa), the amp-image-lightbox will behave different than when the not in a shadow dom.

What happens (see gif below) is that the image is invisible and you see the black background until the image is at the correct position, then all of a sudden it displays the

[2018-10-03 13:50] atl-love commented on #17308
Perfect! Thanks for the code snippets, I'll check it out.

[2018-10-03 14:23] lucasjrd opened #18524 "Validator do not recognize timeleft-ms attribute on amp-date-countdown tag."
I set up an amp-date-countdown to hide a section div in 15 seconds.
Here the code:
`<amp-date-countdown layout="fixed-height" timeleft-ms="15000"	height="25" on="timeout:section1.hide"  when-ended="stop" locale='en'>`
`     <template type="amp-mustache">`
`     {{s}} seconds to close.`
`    </template>`
`</amp-date-countdown>`

But I got this message on validator:` "One of end-date, timestamp-ms,

[2018-10-03 14:34] honeybadgerdontcare commented on #18524
@lucasjrd 	the timeleft-ms was recently merged to the codebase (#18415) and validation changes can take up to 2 weeks to go live in production. I'd check again in a week to see if it is live. Please reopen in a week if there is still an issue with using this feature.

[2018-10-03 14:34] #18524 closed

[2018-10-03 14:46] Enriqe opened #18525 "[amp-story] Video in last page will resume even when bookend is open"
1. Use an amp-story with a video in the last page.
2. Navigate to open the bookend.
3. Go to another tab.
4. Return to the story.

Video will be playing in the background even when the bookend is open.

This is probably caused because `onPausedStateUpdate_` in `amp-story.js` is not checking if the activePage is behind an open bookend.

[2018-10-03 15:29] #17921 closed

[2018-10-03 15:29] #17922 closed

[2018-10-03 15:30] SandiSuran opened #18529 "Intent-To-Implement adding UpScore to the analytics vendors list"
Hi,

We'd like to add UpScore to the analytics vendors list,
[www.upscore.com](url)

**Objective**
Add configuration tag for UpScore.

**Overview**
PR to follow shortly including implementation.

**Proposed Vendor Configuration**

[code]

[2018-10-03 16:11] rsimha commented on #17924
I'd like to present the results from last time's discussion on Canary releases. This should take 10-15 mins.

[2018-10-03 17:27] aghassemi commented on #18508
/to @peterjosling

[2018-10-03 17:38] #18398 closed

[2018-10-03 18:39] torch2424 opened #18531 "amp-ima-video: Missing Mute/Unmute Controls"
relates to #8841

# Issue Context

* Issue is visible on the [`amp-ima-video` AMP By Example](https://ampbyexample.com/components/amp-ima-video/).

* Source code for the `<amp-ima-video>` can be found in [ads/google/imaVideo.js](https://github.com/ampproject/amphtml/blob/master/ads/google/imaVideo.js).

* Currently, we are designing/considering a rebuild of video within AMP to use Video.js, so sma

[2018-10-03 18:42] torch2424 opened #18532 "amp-ima-video: Unable to loop / restart a video"
relates to #8841

# Issue Context

* Issue is visible on the [`amp-ima-video` AMP By Example](https://ampbyexample.com/components/amp-ima-video/).

* Source code for the `<amp-ima-video>` can be found in [ads/google/imaVideo.js](https://github.com/ampproject/amphtml/blob/master/ads/google/imaVideo.js).

* Currently, we are designing/considering a rebuild of video within AMP to use Video.js, so sma

[2018-10-03 18:46] torch2424 opened #18533 "amp-ima-video: Controls Hidden when Ad is Playing"
relates to #8841
relates to #18531

# Issue Context

* Issue is visible on the [`amp-ima-video` AMP By Example](https://ampbyexample.com/components/amp-ima-video/).

* Source code for the video player of `<amp-ima-video>` can be found in [ads/google/imaVideo.js](https://github.com/ampproject/amphtml/blob/master/ads/google/imaVideo.js).

* Currently, we are designing/considering a rebuild of video

[2018-10-03 18:53] torch2424 commented on #8841
So I've created three issues to Granularlize new requests from @curseagain:

#18531
#18532
#18533

Let's continue discussion there, and figure out what we can do fix small bugs on the existing `amp-ima-video`.

@aghassemi @alanorozco

Is there any issue open for the rebuild? I feel like it would be good to close this, and just start referring new discussion of `<amp-ima-video>` there, since we now

[2018-10-03 19:46] newmuis commented on #18499
Closing this issue since it's based on the deprecated v0.1; feel free to reopen if necessary.

[2018-10-03 19:46] #18499 closed

[2018-10-03 19:55] hongwei1990 commented on #18449
https://www.washingtonpost.com/graphics/2018/world/amp-stories/indonesian-tsunami-earthquake/
go to page 4, the hint message is wrong, showed "page has no sound, but there is a audio playing"

[2018-10-03 20:50] cathyxz commented on #18501
Here's a static repro: https://codepen.io/cathyxz/full/aRNdbO/ that shows the SVG shrinking if you toggle between portrait and landscape mode a few times. Details added to comment above.

[2018-10-03 21:10] #17361 closed

[2018-10-03 21:56] #18516 closed

[2018-10-03 22:15] #18523 closed

[2018-10-03 22:20] aghassemi commented on #18523
Yay! Thanks for the quick fix!

[2018-10-03 22:29] cathyxz commented on #18500
/cc @Gregable re: the AMP cache transformation?

[2018-10-03 23:09] cathyxz commented on #18376
There's a slight problem with this approach. For the two test cases of changing the size of amp-list due to toggling accordion or toggling CSS classes, these two will not result in a call to attemptChangeSize, and will therefore not result in a call to overflowCallback and will therefore not trigger our logic to resize the container. It seems like we would then need some way to detect if the heigh

[2018-10-04 00:06] cathyxz commented on #18322
This has been done.

[2018-10-04 00:06] #18322 closed

[2018-10-04 00:07] torch2424 commented on #18353
Hello!

So I tested this with our examples using the `examples/ads.amp.html`. And singled out another provider:

http://localhost:8000/examples/ads.amp.html?type=widespace

They also don't open in a new tab/window, and when clicking back they do reload.

However I was able to reproduce in the link your provided as well as the example that we have:

http://localhost:8000/examples/ads.amp.html?type=

[2018-10-04 00:10] cathyxz commented on #1445
This has been done with the launch of `<amp-image-slider>`.

[2018-10-04 00:10] #1445 closed

[2018-10-04 00:11] torch2424 commented on #18353
Also after investigating a bit more, I think @lannka is correct that Safari's back / forward cache may be causing the issue. I'd suggest looking into that? Though please feel free to comment back and discuss if you are certain it is on our end 😄

[2018-10-04 02:03] Gregable commented on #18500
The `google.es/amp/` page is actually just the AMP viewer, so it iframes the doc. If you right click and view frame source, you'll see the custom-element script present, so it's not being removed from the cache.

In fact the cache document in the frame is the same content as your `#2` link. This must be a bad interaction between the viewer and the document. I'm not sure how to debug further myself

[2018-10-04 02:29] Gregable commented on #18500
Agreed, I got a different usqp parameter. Tracked internally as `117243263`

[2018-10-04 02:53] jridgewell commented on #18500
We have ramped down the experiment. Testing the [SERP viewer version](https://www.google.es/amp/s/amp.economiadigital.es/politica-y-sociedad/el-idilio-de-los-cdr-y-quim-torra-da-alas-a-la-aplicacion-de-un-nuevo-155_580583_102.html), I now get a different `usqp` parameter. I think that means this is now resolved.

[2018-10-04 02:56] jridgewell commented on #18500
Sorry, too soon. The configuration change is still propagating.

[2018-10-04 03:11] jridgewell commented on #18500
Ok, now propagation is done.

[2018-10-04 03:11] #18500 closed

[2018-10-04 05:07] alex-magana commented on #18508
Happy to take this on but I may not be available to pick it for the next 2 days. If the urgency allows it, I'd like to help resolve this.

[2018-10-04 06:49] musen34 opened #18546 "Custom URI Problem (Validator)"
Hello,

We working to add bip:// deeplink to our AMP site but there is getting an error 'Invalid URL protocol 'bip:'

Could you add BiP Messenger deeplink (bip://) to whitelist?

KR
Murat

[2018-10-04 07:44] oliverfernandez commented on #18500
Thanks everyone for fixing this! :)

[2018-10-04 11:11] mcmd opened #18548 "amp-date-picker: allow amp-bind binding to property src in amp-date-picker"
For a travel website, the availability of dates may vary depending on the selection of other options in the page (route, number of people, discounts, etc).

In order to only show the suer valid dates combinations, the date picker need to dynamically refresh the availability based on the previous selection. This could be achieved by refreshing the remote configuration available in amp-date-picker.s

[2018-10-04 13:05] Littlemad commented on #2564
I am sorry to comment I am a developer looking for better understanding and use AMP, but the example on https://github.com/ampproject/amphtml/issues/2487#issuecomment-234050096 about using "visibility" instead of "focus" / "blur" as event it is absolutely not clear related to tracking events in amp-analytics. I want to track how many time an user is focusing on an input or checkbox, and his relati

[2018-10-04 15:04] aghassemi commented on #18376
That might be fine for now. If list has not resized yet (i.e. showing the overflow button) it is fine and maybe even expected to stay as is when something inside of it expands.

[2018-10-04 17:25] shishirm opened #18549 "Recent change causing regression/changes in some features"
## What's the issue?

Around the 18th of September, we noticed a few features behavior has changed causing our AMP sites to be broken. Both of these are around usage of amp-mustache,. The two specific instances are,

* Previously the disabled attribute on a select input tag was ignored, but after September 18th, this is now working.
* We are trying to open a new tab using an <a> tag that binds its

[2018-10-04 19:03] choumx commented on #18549
Thanks for the report. Will take a look today. Possibly related to #18463.

[2018-10-04 19:18] lsarni commented on #10230
Was this released? I got a bit lost after #18159 was delayed and closed

[2018-10-04 19:33] cathyxz opened #18551 "A better way to answer "Is my PR in Production Yet?""
It's a bit of a pain that our PRs close issues when they merge to master, but that does not indicate that the PR has made it to production. It's becoming more and more common for developers to comment on a PR and ask "when will this be in prod"? Suggestion is to have some kind of a github script / bot add a comment to each PR after a given PR makes it to canary release or production release.

For

[2018-10-04 21:04] #17553 closed

[2018-10-04 21:51] #18349 closed

[2018-10-04 23:48] ewagstaff commented on #13485
When I try this method, the video does get the "hidden-by-media-query" class, but it's set to autoplay (per AMP Story spec) and it plays despite being hidden. This leads to a kind of stadium effect where the audio of both videos plays slightly offset.

Ideally, hidden video would be prevented from playing altogether.

[2018-10-05 00:08] choumx opened #18558 "amp-carousel: Janky on iOS 12"
Seems mostly problematic on iframe-embedded AMP pages e.g. viewers and the ABE playground.

Repro cases:
- https://www.google.com/amp/s/www.mysanantonio.com/news/texas/amp/No-free-lunch-for-renewables-More-wind-power-13282311.php
- https://www.google.com/amp/s/ampbyexample.com/components/amp-carousel/
- https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-caro

[2018-10-05 00:11] choumx commented on #18558
Possibly related: New scroll-related jank with `amp-lightbox` with iOS 12 in `b/116602931`.

[2018-10-05 01:41] jasti commented on #17905
CC @torch2424 @alanorozco as well.
@aghassemi is this related to the video analytics integration or the IMA implementation?

[2018-10-05 02:04] torch2424 commented on #17905
@jasti

I'll look into to this 😄

[2018-10-05 04:44] newmuis opened #18559 "Device screen should stay on during amp-story auto-advance"
Some stories have the experience of being more lean-back style, with auto-advance on every page.  We should keep the screen on during this, if possible.

[2018-10-05 08:13] dev7ch commented on #4988
+ 1 for: Expose `object-fit:cover|contain|etc..`

[2018-10-05 10:10] kul3r4 commented on #18501
Thanks for the detailed explanation.
I am not sure what is the best way of documenting this, I have made an attempt in #18560 .

[2018-10-05 11:16] kul3r4 commented on #17183
Maybe related to this, I cannot get the multiple selections when using `amp-selector` and `svg` with `amp-bind`. Is the syntax I am using correct?

You can reproduce https://amp-demos.glitch.me/amp-selector-with-svg.html

@choumx FYI

[2018-10-05 13:35] bjalford opened #18562 "Using RTC-like system to add targeting data in amp-brightcove"
We use permutive for analytics and also ad targeting using RTC.

Docs here: http://support.permutive.com/getting-started/installing-on-web/accelerated-mobile-pages-integration

We'd also like to pass the targeting data through to Brightcove (and therefore to video ads). We use the  amp-brightcove component.

Will amp-brightcove support RTC or similar to enable this?

[2018-10-05 13:56] psdtomanythings commented on #16532
@newmuis  - What are the plans for the AMP Sidebar's look and feel in desktop ?

[2018-10-05 14:15] iwoak opened #18563 "amp-iframe with video player blocked when fixed on top"
Hi, we are trying to put an amp-iframe element on page by absolute and fixed position at the bottom of the window.
This amp-iframe contain ours video-audio player, without ad contents, but with the audio spoken version of the visited article.
We receive error and so the iframe content blocked on a lot of devices:

`dom.js:645 amp-iframe is not used for displaying fixed ad. Please use amp-sticky-ad

[2018-10-05 16:07] newmuis opened #18564 "Debounce amp-story navigation events"
It's possible that the user could tap immediately before or after an auto-advance navigation, and the result is that the story will navigate twice.  We should debounce these events within a reasonable amount of time, to ensure that only one navigation happens in this case.

It's probably safe to NOT debounce two auto advancements, or two manual advancements; we should only debounce in the case of

[2018-10-05 16:12] newmuis commented on #16532
@psdtomanythings on desktop, the plan is to place this next to the share pill in the top right corner:

![Screenshot of the sidebar while closed](https://user-images.githubusercontent.com/1651960/46546711-e2790900-c897-11e8-88ca-28a9ef6bb64c.jpg)

![Screenshot of the sidebar while open](https://user-images.githubusercontent.com/1651960/46546715-e7d65380-c897-11e8-8682-7df29a35581c.jpg)

[2018-10-05 17:49] cathyxz commented on #18501
There are two separate things here. 1 is the usage of the `SVG` `preserveAspectRatio` property, and 2 is a bug in `<amp-pan-zoom>` that I isolated here https://codepen.io/cathyxz/full/aRNdbO/ and am fixing in https://github.com/ampproject/amphtml/pull/18557. It's not necessarily the case that all SVG users inside `<amp-pan-zoom>` will want to use meet instead of slice (even though meet is usually

[2018-10-05 18:09] ericfs commented on #18430
Filed b/117329765 internally

[2018-10-05 18:23] newmuis opened #18566 "layout="nodisplay" not supported by amp-audio"
Ideally, the `<amp-audio>` element should support playback even with `layout="nodisplay"` specified.

We should investigate creating the `<audio>` element in `buildCallback` (once the document becomes visible, for privacy-preserving prerender).

[2018-10-05 18:32] newmuis opened #18567 "Improve story-page-visible analytics variables"
We should include:

- What page the user was coming from (if any)
- What AdvancementMode was used (manual advancement, time-based auto-advancement, media-based auto-advancement)

[2018-10-05 18:36] newmuis opened #18568 "Pause the story while the user's finger is on the screen"
While the user's finger is on the screen, we should trigger the paused state, and potentially a paused UI.

Mocks and timing TBD

[2018-10-05 18:41] jpettitt commented on #18563
The code that attempts to check if an iframe is an ad is [here](https://github.com/ampproject/amphtml/blob/2dc29639a6c86844f69935d8c9d4b18ce1ebdfca/src/iframe-helper.js#L484) .  If you make your iframe < 300px wide or < 50px high it will work.

[2018-10-05 18:41] psdtomanythings commented on #16532
Looks pretty cool.

[2018-10-05 18:42] newmuis commented on #18568
We will need to devise an alternative user experience for desktop UIs.  @hongwei1990 @gmajoulet
 what do you think about an actual pause button next to the speaker icon for desktop?

[2018-10-05 18:49] torch2424 commented on #18522
Hello!

Yes this is currently disallowed, as the component hasn't been completed yet, and is still in experiment.

We are getting close to having it ready, and are almost code complete in the client, but now we are working with Caches to make sure we get domains right before we release this to be used.

I'm going to close this issue, but feel free to comment back. Once this gets released I'll be s

[2018-10-05 18:49] #18522 closed

[2018-10-05 19:01] aghassemi commented on #18548
/to @cvializ

[2018-10-05 19:03] #18501 closed

[2018-10-05 19:08] cathyxz commented on #18376
A third strategy proposed by @choumx is to use to listen to taps and add a MutationObserver to trigger resize when contents inside of amp-list mutate. This covers the accordion use case and tapping things inside amp-list that cause css class toggles. In order to cover tapping elements outside of `<amp-list>` that cause CSS class changes impacting height, expose a `resize` action.

[2018-10-05 20:48] eduardogoncalves opened #18575 "Codelabs: Creating your first AMP Component | Add new requirement"
When creating PRs **travis-ci** runs `gulp check-types`, and this is time consuming if something wents wrong, but without **Java SDK 8** on my local machine I was unable to run `gulp check-all` or `gulp check-types` before sending PRs. I tried to install **Java SE Development Kit 11**, but didn't work, so on Slack @erwinmombay  asked me to try **Java SDK 8** and it worked.

What about to add [Java

[2018-10-05 20:58] adelinamart commented on #18515
Hi,

I see 2 topics here:
1. Good first issues labels (and there are currently 3 types of labels) have not been used consistently correct. @cathyxz if you can propose refactoring them, please let @mrjoro about the proposal also and then you will need to change the documentation related to them also.
2. New label 'Help wanted".
@nainar it's not clear to me who will be using this label and who will

[2018-10-05 21:28] eduardogoncalves opened #18577 "Codelabs: Creating your first AMP Component | Add new Slide for sending PRs"
What do you think about add a slide on [Codelabs: Creating your first AMP Component](https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/index.html#4) after **Slide 4**, about [Running all the Travis CI checks locally](https://github.com/ampproject/amphtml/blob/81262411085754eb3e978fb68e87b5e8fa307d80/contributing/getting-started-e2e.md#running-all-the-travis-ci-check

[2018-10-05 21:40] erwinmombay commented on #17995
@jridgewell can you set priority level, just so we know urgency. (i dont know how to assess but im guessing p0)

[2018-10-05 21:56] eduardogoncalves commented on #8929
Can we check at load-time if user has been prompted to allow/deny geolocation?
[code]
that can show:
[code]

- If user has not been prompted yet, we wait until user taps a button;
- if user has already allowed we get lat/log;
- if user has denied we bind this info so the component that needs lat/log can use it's defaults.

[2018-10-05 21:58] aghassemi commented on #17924
If time allows: I like to discuss how to expose accurate geo-location lon/lat values: https://github.com/ampproject/amphtml/issues/8929#issuecomment-427457837

[2018-10-05 22:02] aghassemi commented on #8929
@eduardogoncalves load-time is instant in AMP due to Server-side rendering, without making an extension render-blocking, by the time we get to `navigator.permissions.query`, page is already shown.

[2018-10-05 22:13] #18405 closed

[2018-10-05 22:15] jridgewell opened #18579 "🌸 Cherry pick request for 18578 into 18374"
**GitHub issue your cherry pick is fixing:**

Issue #17995

**PR that you are requesting a cherry pick for:**

PR #18578

**Release(s) you requesting this cherry pick into:**

Production Release? Release Issue #18374

Canary release? Release Issue #18518

**Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-

[2018-10-05 22:15] jridgewell commented on #18579
@cramforce has already approved via email.

[2018-10-05 23:18] alanorozco opened #18581 "I2I: A better `localhost:8000` homepage"
## Background

The top-level page under the development server (`localhost:8000`) shows the directory contents of the top-level path of the repo. This is useful when browsing the directory itself (e.g. going to an `/examples/` page), but doesn't allow for discoverability or easy use of hidden server features.

## Goal

To provide a more usable interface for the top-level path on the AMP server.

#

[2018-10-05 23:30] jshau commented on #18012
My proposed solution is to have the validator logic in a new amp-json-schema extension.

In order to define the premutate schema, a script element with id = “amp-json-schema-premutate should be added.

We will then add a function into the validator service called validate(field,data) (ex: validate(‘premutate’, premutateData);
This will parse the premutate schema, store it, and validate it against

[2018-10-05 23:47] torch2424 commented on #2273
Hello!

Currently we have no "set date" estimate, but I can let you know on what's been happening at a high level:

So the component is definitely making its way along! We've had a few PRs make it into Master, e.g #17971 . Which makes significant progress on the component 😄 However, after working with the recaptcha team, we had to find a solution for supporting both Cannonical (`https://example.co

[2018-10-06 01:16] torch2424 commented on #18531
Found a previous discussion where this was brought up but never implemented: https://github.com/ampproject/amphtml/issues/5233

Hence the unused code. 😄

[2018-10-06 10:43] siddiqrahman commented on #15845
@newmuis could you kindly explain the code?

[2018-10-06 12:46] newmuis commented on #15845
Hi @siddiqrahman, this feature has not yet been implemented and the API has not yet been decided.  Once those pieces are decided, this issue will be updated with the details (as will the documentation).

Due to the feature backlog and the complexity of this feature, it is likely that this will not be available for use for a few months.

[2018-10-06 16:12] choumx opened #18582 "Centralize browserify config"
Good starter bug.

Right now there are four places where we configure browserify/babelify transforms. Search for "compact: false" in these files:

- dep-check.js
- karma.conf.js
- runtime-test.js
- gulpfile.js

It would be nice to centralize these so new parameters can be added once.

[2018-10-06 16:47] rsimha commented on #18582
This will be fixed by #18574

[2018-10-06 19:23] AutadeJS opened #18585 "amp-story-consent: Accept button stuck"
While accepting amp-story-consent, the Accept button is getting stuck. User is not able to view the story at all.

Error in console in:
"AMP-CONSENT.accept is not whitelisted"
Here's a snapshot:
![consent-error](https://user-images.githubusercontent.com/32076611/46575008-ac887180-c9ca-11e8-8c82-6f71dcf12388.PNG)

This problem occurs randomly. It's probably associated with either internet connectio

[2018-10-06 20:46] choumx opened #18586 "Type paths to missing files in swg.js"
New versions of Closure Compiler upgraded "module not found" from warnings to errors. For example:

https://github.com/ampproject/amphtml/blob/6b112a74dbab7a6269fae43d3b041a5829448cc7/third_party/subscriptions-project/swg.js#L2272-L2278

`!../model/doc.Doc` doesn't exist in the bundled SWG binary.

Unfortunately don't seem suppressible with `@suppress {moduleLoad}`, individually or at the `@fileov

[2018-10-07 01:43] tiffting commented on #18177
1. The page was deployed as a replacement for the original page.
1. I've added you as a member to our organization, so you should be able to see [this diff](https://github.com/cttcomedy/cttwebsite/commit/14c857a98e58b8aa46181954b8e8e5dd1d6582f8#diff-eacf331f0ffc35d4b482f1d15a887d3b) when I switched from HTML to AMP.
1. Search impressions and clicks went down by about 20-40%, and search position we

[2018-10-07 02:50] aghassemi opened #18587 "amp-story: allow pan and zooming of full-bleed images"
I was viewing https://www.washingtonpost.com/graphics/2018/lifestyle/magazine/amp-stories/capturing-washington-city-life-through-street-photography/ and really wanted to pinch zoom the images in there. I think this would be a great feature.

amp-pan-zoom can handle that, it can either be whitelisted or maybe wrapped around an amp-story specific attribute on amp-img.

[2018-10-07 12:54] newmuis commented on #18587
Hmm, pinch zoom might just be the only gesture left that doesn't interfere with navigation (as we can distinguish a pinch zoom from a swipe based on the number of fingers on the screen).

@hongwei1990 are we okay to enable pinch zooming in content within the page?  Or should we only allow this capability within a lightbox/swipe up?

[2018-10-07 13:04] newmuis commented on #18587
Oh, wait.  Once the user has zoomed on a photo, they (may) need to pan, which is largely indistinguishable from a swipe.

We could try the lightbox approach, keeping the API the same, where <amp-pan-zoom> adds a CTA to open in the lightbox, much like our plans for YouTube, Twitter, etc.

Or, we could try this inline, and disallow swiping while the image is zoomed, but this seems like it could get

[2018-10-07 13:12] newmuis commented on #18585
@gmajoulet do we dynamically add the action to the whitelist lazily? Can we hardcode it into the initial amp-story JS?

[2018-10-07 21:03] gmajoulet commented on #18585
The actions are added to the whitelist right when the consent element is appended in the DOM, so that should work...

Could you please send us the code you're using so we can help debugging? Thanks!

[2018-10-08 03:54] jpettit commented on #18586
![](https://media1.tenor.com/images/ab363f8b0739046917f1051c4d26ee57/tenor.gif?itemid=12213479)

[2018-10-08 06:12] xiaotong-z opened #18592 "amp-carousel jitters at the end of transition on iOS"
## What's the issue?

amp-carousel jitters at the end of each transition.

## How do we reproduce the issue?

1. Visit m.aliexpress.com
2. Manually swipe the slides.
3. At the end of every transition, there will be jitters.

This cannot be reproduced on Android.

## What browsers are affected?

Safari and Chrome on iOS 11.3

## Which AMP version is affected?

1810052220151

[2018-10-08 06:28] xiaotong-z commented on #18592
[ScreenRecording_.MP4.zip](https://github.com/ampproject/amphtml/files/2454853/ScreenRecording_.MP4.zip)

[2018-10-08 07:00] AutadeJS commented on #18585
Thank you for taking this up. Here's an example:
https://animalsake.com/interesting-facts-about-dolphins

[2018-10-08 07:09] Guilemon opened #18593 "Amp-ad not appending scp for doubleclick on slow networks"
## What's the issue?

`amp-ad` tag for type `doubleclick` does not append `scp` on slow networks even when targeting data is getting returned from server

## How do we reproduce the issue?

go to url:  https://output.jsbin.com/yubucoj

To test in Chrome:

1. Go to chrome developer tools.
2. In network tab, select Disable Cache and select throttling to Slow 3G. set filter type to xhr
3. Confirm tar

[2018-10-08 07:30] AutadeJS commented on #18585
![amp-consent](https://user-images.githubusercontent.com/32076611/46596426-1eaba400-cafa-11e8-974b-031aa732000d.PNG)

When the error occurs the visitor cannot move beyond the consent screen at all.

The error doesn't always occur. It seems related to Internet connection speed. It may also be related to our heavy use of animations and/or CSS gradients.

If you need to see more of our AMP Stories, p

[2018-10-08 07:32] AutadeJS commented on #18585
![allerrors1](https://user-images.githubusercontent.com/32076611/46596490-5c103180-cafa-11e8-9aca-bc84f206cd6f.PNG)
Here's one more snapshot

[2018-10-08 08:27] loratov commented on #18221
Thanks. I am specifically trying to track Goal Urls that are reached from AMP articles. Is this included in the Amp analytics tag or do I need to take additional steps in order to track these?

[2018-10-08 09:26] ro2ni3 opened #18594 "Firefox desktop non-AMP site redirects to AMP version of page (other browsers don't)"
## How do we reproduce the issue?

Open Firefox Quantum and navigate to https://www.comparethemarket.com/car-insurance/ (a non AMP page)
You will notice that you will get redirected to the AMP equivalent page.
If you do this from other browsers, the redirect never takes place and the proper desktop page is loaded.

## What browsers are affected?

Firefox Quantum 62.0.3

## What browsers are NOT af

[2018-10-08 09:48] AcidRaZor opened #18595 "CORS - CDN - Google - Another change with no communication and breaking changes"
Hi,

In reference to CORS: https://www.ampproject.org/docs/fundamentals/amp-cors-requests

Nowhere does it mention having to white-list **all** google sites (depending on country of origin)

Have our website listed on Google, ready with the AMP, the link is:

https://www.google.co.za/amp/s/*REDACTED*

So, Google is indexing and showing our site, AMP ready and in the cache, however, none of my API

[2018-10-08 11:47] gilbertococchi commented on #18563
@jasti do you think we can fix the Amp-Iframe fixed validation positioning to avoid this false positive?

[2018-10-08 11:56] kul3r4 commented on #18501
Thanks for explaining.
What is "anything" when you say "Therefore when anything tries to manipulate the dimensions or aspect ratio of the content inside of it, it will result in clipping or unwanted space", can we complete a list?

[2018-10-08 15:20] aghassemi commented on #18587
Lightbox sounds good to me as well

[2018-10-08 15:37] aghassemi opened #18599 "amp-img: short circuit webp fallback for iOS"
if `src` of an `amp-img` points to a `.webp` file, we should be able to short circuit to fallback immediately without waiting for `img` load to fail. This will remove one extra download in iOS case.

There will be cases where file extension is not present which this won't support. Also supporting `srcset` requires parsing and even in that case a mixed srcset will not work so skipping `srcset` all

[2018-10-08 15:45] aghassemi commented on #18577
SGTM, to @alanorozco

[2018-10-08 15:46] aghassemi commented on #18575
agreed. to @alanorozco to update.

[2018-10-08 15:47] #17018 closed

[2018-10-08 15:48] #18449 closed

[2018-10-08 15:52] aghassemi commented on #18593
to @lannka

[2018-10-08 17:00] rsimha opened #18601 "Fix all remaining lint warnings in `validator/`"
There are still about 200 lint warnings in `ampproject/amphtml`, and a large number of these are in `validator/`. This is a tracking bug to eventually eliminate all of them (or selectively disable rules that don't make sense).

See https://travis-ci.org/ampproject/amphtml/jobs/437867216#L660 for a list of validator warnings (search for `ampproject/amphtml/validator`)

[2018-10-08 18:28] Gregable commented on #18599
There is a related old issue for this: https://github.com/ampproject/amphtml/issues/3517

[2018-10-08 18:44] #18512 closed

[2018-10-08 19:06] sparhami commented on #16578
Since the consumer version of [Google+ is being sunset](https://www.blog.google/technology/safety-security/project-strobe/), I'm not sure it makes sense to implement this anymore.

[2018-10-08 19:47] tmdoit opened #18607 "Non-iframe social sharing components"
**Why?**
Because many business websites are just created once and not updated once (year in footer doesn't count).
Business lives in social services like Facebook, Twitter, Instagram etc. There are daily updates. With social AMP components we could treat social services as CMS for our content ie. facebook-event, facebook-post, twitter-message, instagram-post, youtube-video etc.
What if those websi

[2018-10-08 19:50] alanorozco commented on #16578
Maybe for GMB it would make sense but I don't know off the top of my head what's available to embed.

[2018-10-08 19:50] cvializ commented on #18548
@mcmd Thanks for the feature request! This one makes sense to me especially for e-commerce use cases.

[2018-10-08 19:54] westonruter commented on #7628
It would be ideal if the online/offline detection could also account for the lie-fi state, that is, to show offline even though the WiFi is connected. This could conceivably be connected with the XHR service, yes? Any time that an `amp-list` or `amp-live-list` etc. tries to load content from the server, it could update some state as to whether requests are failing.

I wonder if having a new `amp-o

[2018-10-08 20:02] aghassemi commented on #18595
@AcidRaZor there isn't a (new or existing) requirement to list `google.*` sites in CORS headers.

Could you please provide a working link to a page that's broken for you so I can debug?

Here is a working example of `amp-list` served from `https://www.google.co.za` which makes an API call:

https://www.google.co.za/amp/s/ampbyexample.com/components/amp-list/

The headers are only:
[code]

as it wo

[2018-10-08 20:10] torch2424 commented on #2273
You are welcome! Sorry for the slower reply this time around, had a busy weekend 😄

So, would this work?
Add a random image with the recaptcha characters to the form input.
Have visitors enter the chars into a text input.
Submit the form with submit-success and submit-error.
If the recaptcha doesn't match, then send a submit-error back.

By "recaptcha characters", are you referring to the older re

[2018-10-08 20:13] aghassemi commented on #18594
@ro2ni3 Very interesting! Unfortunately I am not able to reproduce. Going to https://www.comparethemarket.com/car-insurance/ in FF Quantum 62 on Mac desktop, does not take me to the AMP page.

Few things to check on your side:
1- Do you have an AMP extension install in FF that might be doing that?
2- If you own the server, could be redirecting based on some cookie or IP that may have been setup fo

[2018-10-08 20:14] fueledbymarvin commented on #11455
@codewiz Would really appreciate it if you helped me out by flushing the key here: https://genius-com.cdn.ampproject.org/r/s/genius.com/.well-known/amphtml/apikey.pub.

[2018-10-08 20:23] gmajoulet commented on #18585
Thanks for the info, I'll investigate. Please let us know if you find a way to consistently reproduce it

[2018-10-08 20:31] jridgewell commented on #18469
Hi @addy5,

So this is a core issue with trying to scroll an iframe in iOS. We actually have several technical articles about approaches to solve this ([1](https://medium.com/@dvoytenko/amp-ios-scrolling-and-position-fixed-b854a5a0d451), [2](https://hackernoon.com/amp-ios-scrolling-and-position-fixed-redo-the-wrapper-approach-8874f0ee7876), [3](https://medium.com/@dvoytenko/amp-ios-scrolling-redo-

[2018-10-08 20:31] #18469 closed

[2018-10-08 21:05] choumx commented on #18177
That URL gives me a 404. :(