[2019-07-25 18:13] cvializ commented on #23356
Anything that interacts with the state changed by `video-manager-impl#videoPlayed_` is affected by the `playing` event. It seems like sometimes playing is what we want, and sometimes it isn't, so I don't think we can replace it with `play` in all cases.

I agree that throttling the network requests is probably a good idea since in poor network conditions, emitting more network requests probably ma

[2019-07-25 18:15] #23487 closed

[2019-07-25 18:34] AndrewKGuan opened #23530 "String template evaluation capability in amp-mustache"
Very often client-side text templating is very useful.  It is consisted of a string template and key-value map fetched in the form of json objects.
Example:
{"template" : { "message" : "Hello [name], today's weather is [weather]!"}}

{"values" : {"name" : "Mickey", "weather" : "sunny"}}

The outcome: "Hello Mickey, today's weather is sunny!"

Currently this is not doable using amp-list and amp-mus

[2019-07-25 20:18] kaewka commented on #23411
@fstanis Currently, Yahoo Mail doesn't support this in any of our mail clients.  I believe It is well supported in all modern browsers (mobile and desktop).  I am not against supporting it, but I totally understand if we don't want to support this at this point if it is unclear whether it is widely adopted as a standard or not.

[2019-07-25 20:24] kaewka commented on #23411
By the way, I would not tag this as a bug (git label).  This is more like a feature request.

[2019-07-25 20:26] Gregable commented on #23453
@jridgewell Is the fix something the AMP cache needs to implement?

[2019-07-25 20:34] zhouyx opened #23534 "Improve navTiming to resolve earlier"
Right now all `navTiming` metrics waits for the window load event, which is not necessary.
This delays request pings, one optimization we could have is to resolve `navTiming` earlier

![image](https://user-images.githubusercontent.com/5419904/61906577-82b02500-aee0-11e9-87a1-c1526913b82f.png)

cc @jonkeller @jeffkaufman and @lannka

[2019-07-25 20:37] lannka commented on #23534
Cool chart, we could convert this chart to a map so every metric only wait the event they need to wait.

I hope all browsers implemented this standard.

[2019-07-25 20:53] #23012 closed

[2019-07-25 21:04] zhouyx commented on #23534
Good point, I don't know about individual browser support. But I'm a bit concern about the value of mapping each metric to their corresponding timestamp. It requires us to understand all navTiming supported metrics in the future which could lead a code increase as well.

@jridgewell and @choumx Do you know if runtime expose these signals? Thanks

[2019-07-25 21:50] wassgha commented on #12717
@cvializ I am currently working on this issue and I took the first route of adding `describedby` to the invalid element, however I ran into a problem related to the fact that `describedby` is expecting element IDs where as the error description elements might not necessarily have an ID. Is there a way to reinforce an ID on all error description elements or should we generate unique IDs on the fly?

[2019-07-25 23:04] zhouyx commented on #23534
The current plan is to only have `loadEventStart` wait for the `onload` event.
This changes the current behavior. I'm a bit concerned that we may resolve the rest metrics too early.

@ampproject/wg-runtime Right now all triggers happen after `viewer.whenFirstVisible()`. Is that sufficient for metrics like `domContentLoaded`? If not, what do you think is the best signal to wait for each stage? Than

[2019-07-26 00:40] #22945 closed

[2019-07-26 02:38] jridgewell commented on #23453
No, it's purely client side.

[2019-07-26 06:04] RajinderKaurIndialends opened #23541 "Update title and metas"
Hi,
Can we create dynamic pages with updated title and metas with this feature??

[2019-07-26 12:32] DenyHF opened #23542 "RESIZE_REJECT in console amp-ad"
Hello!
After implementing requestResize, errors appeared in the console.
https://prnt.sc/okdgrz
https://prnt.sc/olk5rw
In the screenshot you can see that with each resizing request console.error appears.

[2019-07-26 15:54] choumx commented on #23530
If I understand correctly, the FR is for "client-side templating inside client-side templating"? :)

Can you provide more context on why it's hard to do this server-side?

[2019-07-26 16:07] jpettitt commented on #23422
I think this is an amp.dev issue more than an amp-access issue assigning to Paul

[2019-07-26 16:13] wassgha commented on #17780
more info: behavior is consistent across all video elements supporting autoplay, not only `amp-video`, investigating now.

[2019-07-26 16:47] sebastianbenz commented on #18995
Yay! I can't either. Thanks for trying.

[2019-07-26 16:47] #18995 closed

[2019-07-26 16:54] lannka commented on #17780
thanks @wassgha for looking at this. this is very important as we have some DSP partners wanting this autoplay feature.
let me know if anything I can help

to test under inabox, you should use the `/inabox/` envelop.

[2019-07-26 16:56] lannka commented on #17780
I don't know why it fails in inabox, but one possible solution is to refactor the autoplay logic to use IntersectionObserver, that's how amp-analytics visibility tracking working in inabox.

[2019-07-26 17:27] jpettitt opened #23544 "Show and link current build #'s on experiments page."
Can we add the current build # for each channel to the https://cdn.ampproject.org/experiments.html page - preferably linked to the release on github?

[2019-07-26 17:36] cvializ commented on #12717
We should generate IDs. I think somewhere there might be a generic method to generate unique IDs for a11y, but if not we should create one. I found a specific one in `media-pool.js` but a general one would follow a similar strategy.

https://github.com/ampproject/amphtml/blob/bb5a459521d87a2677ade71a02d969035cd625ac/extensions/amp-story/0.1/media-pool.js#L264-L270

[2019-07-26 17:41] alabiaga commented on #23332
validator changes will rollup. This bug will keep track of the client changes required in order to support the validator engine changes.

[2019-07-26 18:13] lannka commented on #23307
@zhouyx do you want a size check for amp-analytics-0.1.js ? :-)

[2019-07-26 18:16] rsimha commented on #23307
Adding @erwinmombay who is going to work on some of the bundle-size feature requests.

[2019-07-26 18:42] zhouyx commented on #23307
I'm trying to think what's the value for such a check for amp-analytics.js. I could definitely see the value if later on we lazy load feature bundles, but not right now.

It would be great to introduce such check for amp-analytics.js, but I also don't think that's super urgent right now. Really based on the effort and the cost on adding such check.

[2019-07-26 20:43] wassgha commented on #17780
As per @lannka , the behavior is expected for standalone pages using `amp4ads` (because they rely on a different mechanism to measure whether the video is visible or not) but it should work under `inabox` (and it currently does) so @heather162 if you can provide a case where the autoplay doesn't work while the ad is embedded inside a page (whether amp or non-amp) please let us know and reopen this

[2019-07-26 20:43] #17780 closed

[2019-07-26 21:38] jridgewell commented on #23534
What signals?

Do you mean does `viewer.whenFirstVisible()` resolve after `domContentLoaded`?

Note that waiting for `viewer.whenFirstVisible()` is done for privacy (you cannot send analytics during prerender, only after user intent).

[2019-07-26 22:06] zhouyx commented on #23534
Thanks @jridgewell

Honestly I'm not very familiar with the different stages in the chart above.

1. Can I assume that all events before and includes `responseEnd` (from the chart) are always before `viewer.whenFirstVisible()`? In that case I can remove the wait for `onload` event for those.

2. Currently we are resolving all events after `onload` event. But we think it's unnecessary, and want  to

[2019-07-26 22:27] sparhami commented on #23108
# Background

#20237 for the loaders feature.

The code for displaying the loaders has traditionally lived in AMP. This has not been a major problem since the code has been relatively small and asynchronously loading it would likely provide little benefit when considering the extra logic to asynchronously load the code itself.

Unlike the existing loader, the new loader delays showing up by 600ms

[2019-07-26 22:34] jridgewell commented on #23534
It [appears](https://w3c.github.io/navigation-timing/#processing-model) so.

https://github.com/ampproject/amphtml/blob/cfb9330c5cb7abcaea75c96c87ab723cccb58762/src/service/ampdoc-impl.js can fire before `onload`, but is guaranteed to be after `domComplete`. `onload` _may_ be several seconds after `domComplete` because it has to wait for all network resources to be done. For large pages (lots of H

[2019-07-26 23:17] westonruter commented on #22855
@wassgha sorry for the delay and you're right, I see the flash of the video title appears momentarily on the non-AMP version as well. I didn't see it before because the top/bottom of the video was obscured from view. Sorry for the false alarm.

You've replicated the functionality _exactly_. Thank you 😄

[2019-07-27 00:44] #22994 closed

[2019-07-27 01:10] zhouyx commented on #23534
Awesome! Thanks @jridgewell. Will switch to  the `ampdoc.whenReady()` instead of `onload`

[2019-07-27 02:26] jridgewell commented on #23534
Sorry, I meant to link to  https://github.com/ampproject/amphtml/blob/e705649863aca1c5b9bcc00c65dc408ea21de9af/src/document-ready.js#L84

[2019-07-27 15:29] abester101 commented on #23020
@choumx Thank you for your reply

Would scanning and manipulating the DOM of the entire page something that would be allowed in an amp extension, if we only operated on elements at least ~600px away from the top of the page (the amp-iframe component, for example, has to be 600px or 75% of the first viewport down).

Best,

[2019-07-27 16:15] eduardogoncalves opened #23560 "AMP.pushState() allow change URL as history.pushState(stateObj, title, URL);"
At `history.pushState` we can pass `URL` `history.pushState(stateObj, title, URL);` to change URL in browser without navigating away from page.

Could AMP implement it?

Ex.: In a SPA, an user select Tweets tab, and url change to `/tweets`, then select Agenda and url change to `/agenda`.

![image](https://user-images.githubusercontent.com/4308648/61996787-7ce44c00-b066-11e9-87a9-d0b6c36735d4.png)

[2019-07-28 14:20] Karolyna84 opened #23561 "🚄 Release tracking issue for release <RELEASE_NUMBER>"
# Release tracking issue

- [x] Release `[<RELEASE_NUMBER>](https://github.com/ampproject/amphtml/releases/tag/<RELEASE_NUMBER>)` is cut as a new canary release
- [x] Release <RELEASE_NUMBER> pushed to dev channel (<CL submit time>)
- [x] Release <RELEASE_NUMBER> pushed to 1% (<CL submit time>)
- [x] Release <RELEASE_NUMBER> pushed to production (<CL submit time>)

See the [release documentation](

[2019-07-28 16:08] jalpamathukiya commented on #11735
HI,

I need to open amp-lightbox once user scroll down or I need to open amp-light box after some interval in page.

And this page's amp-lightbox popup have one form.

My purpose is once user visit some specific page that time need to open amp-lightbox with one form and user need to fill required details then user can move next in page.

I am trying to find solution but not able to figure out with

[2019-07-28 16:11] jalpamathukiya commented on #11735
@aghassemi , Sir do you have any idea on my point?

Thank you

[2019-07-29 06:36] aferrandini commented on #23181
Thank you @jpettitt we're going to try the header `Cache-Control`.

[2019-07-29 11:25] hubbrokeraps opened #23564 "How to solve AMP errors?"
Hi Coders!!

I'm new here and I hope I will get your support whenever I stuck.

I have a website and I tried to implement AMP code, but there are so many errors after implementing AMP code.

Could anybody helps me to solve these errors?
[https://validator.ampproject.org/#url=https%3A%2F%2Fhubbroker.com%2Fcontact%2F](url)

I use AVADA theme and I don't know, where can I find Google Fonts in the Wor

[2019-07-29 11:37] tomerlevy1 commented on #23542
+1
I also see the same issue with amp-embed

[2019-07-29 13:20] gurodrigues commented on #22916
Hi @lannka ,

As requested follows below the design doc:
https://drive.google.com/file/d/1sT80MW1i9Z1PkXycNkGFoBc5gaw57NPJ/view?usp=sharing

Thanks,

[2019-07-29 13:43] coreybyrnes commented on #21857
@lannka Is this potentially being considered as a new component? Let me know if this has been deemed feasible. Thanks!

[2019-07-29 15:00] choumx commented on #23020
My sense is that the feedback you'll receive in design review is it'll need to be out of viewport entirely, though you're free to state your case. :)

[2019-07-29 16:15] rsimha opened #23567 "Remove the need to always cast from `Object` to `JsonObject`"
This came out of the discussion at https://github.com/ampproject/amphtml/pull/23559#discussion_r308034580

The AMP codebase contains [hundreds of casts](https://github.com/ampproject/amphtml/search?q=%22%40type+%7B%21JsonObject%7D%22&unscoped_q=%22%40type+%7B%21JsonObject%7D%22) from `Object` to `JsonObject`.

I'd imagine we can remove many of them by changing the declaration of `JsonObject` in `a

[2019-07-29 16:19] rsimha commented on #23567
Tagging @ampproject/wg-runtime @ampproject/wg-infra @ampproject/wg-performance for visibility.

[2019-07-29 16:32] riklund opened #23568 "I2I: Allow AdSense ad size optimization for <amp-ad>"
## Summary
AdSense [allows](http://go/adsense-help/answer/9139818) a per publisher server side setting for changing the ad size to responsive on mobile. We'd like to support this on AMP too.

## Design

### Retrieving server side settings
An ad creative returned from the AdSense ad server may contain the publisher opt in status to this feature. It will then be sent to the parent window, from the c

[2019-07-29 16:51] lannka commented on #21311
@zombifier we recently fixed a couple of issues (#23519 #23512 #23543) that might have caused those flakiness. I also added some extra request-bank error message to ease the debugging.

That said there is a good chance that those tests are easier to deal with now. There are 4 remaining tests need to be unskipped. Would you take another look?

[2019-07-29 17:10] lannka opened #23569 "I2I: better local development tooling support for AMPHTML ads"
AMPHTML ads can be served and rendered in couple of different ways.

We currently have the following "envelopes" to preview an AMPHTML ad in those different env:
- `/inabox/ad.html`: served to non-AMP page, rendered inside a cross-domain iframe w/ inabox-host.js loaded.
- `/a4a/ad.html`: served to AMP page, rendered inside a friendly iframe sharing runtime w/ the AMP page.
- `/a4a-3p/ad.html`: ser

[2019-07-29 17:28] sparhami commented on #23523
Dupe of #22381. We could potentially change this, but I do not have the context of why it is the way it is and changing it could break something.

[2019-07-29 17:28] #23523 closed

[2019-07-29 17:30] cvializ opened #23570 "Investigate conformance check for forEach calls on NodeList"
There have been a number of bugs that have been caused by calling `forEach` on `NodeList`. e.g. #23566

I'm unsure of the exact implementation this would take, but it could be valuable to have in the long term.

/cc @jridgewell if there has been existing work done for this

[2019-07-29 17:55] jridgewell commented on #23570
Duplicate of https://github.com/ampproject/amphtml/issues/21234?

[2019-07-29 17:57] cvializ opened #23572 "Cannot read property 'hiddenElementInfos' of undefined"
[code]

It looks like `setModalAsClosed` can get called when the `modalEntryStack` does not have any elements to pop.

go/ampe/CNmerbKst4CwWw

[2019-07-29 17:58] cvializ commented on #23570
Ah you're right, I'll close as duplicate.

[2019-07-29 17:58] #23570 closed

[2019-07-29 18:00] powerivq opened #23573 "Disable load chunking for inabox runtime"
Currently, we split load sequences in inabox runtime into multiple callbacks, allowing the browser to context switch and work on other tasks. However, in an iframe, this behavior might not be necessary since the browser might be throttling.

The goal here is to experiment with disabling the load chunking and seeing what kind of effect it brings.

[2019-07-29 18:14] newmuis opened #23574 "Allow AMP viewers to suppress story info button/dialog with a URL parameter"
Currently, the [info button and dialog](https://github.com/ampproject/amphtml/issues/14923) ("(i) icon") are shown whenever stories are embedded in any viewer, however some viewers may wish to opt-out of this feature.  Since there are already viewers live that are depending on this, but no such API to control the feature exists, I propose we add an optional URL parameter with the following semanti

[2019-07-29 18:18] Joelsz opened #23575 "AMP Shadow popstate navigation: Cannot read property 'originalHash' of undefined"
## What's the issue?
We're working on implementing the AMP Shadow functionality into our existing PWA.

The page is loading successfully and being attached to the DOM with the `AMP.attachShadowDocAsStream()` method, however, when navigating away from the AMP Shadow page to another (non-AMP) page and then hit the back button to get back to the shadow page, we get this error from the `attachShadowDo

[2019-07-29 18:25] sparhami commented on #23572
Seems like the current sidebar logic uses an attribute for the open state, and uses that to guard against closing when already closed (and opening when already opened). This attribute is set asynchronously, so it is still possible for open or close to get called twice in a row.

[2019-07-29 18:29] sparhami commented on #23264
I would like to briefly talk about #23108

[2019-07-29 18:33] cathyxz commented on #23504
I see. So there is a rather valid use case for this. I'll defer to @nainar as to whether and when we'd like to scope this for implementation.

[2019-07-29 18:47] #23332 closed

[2019-07-29 19:13] alabiaga opened #23579 "Canvas support in amp-script"
There are popular charting/visual JS libraries that make use of the [canvas](https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API) element. [worker-dom](https://github.com/alabiaga/worker-dom) has recently added support for canvas. Is there any reason why we haven't allowed the usage of it within the context of amp-script?

e.g.

    <amp-script src="http://example.com/my-script.js" width=3

[2019-07-29 19:19] zhouyx commented on #23534
Thank you @jridgewell. Created #23580 to wait for documentComplete instead of onload event.

[2019-07-29 20:06] nainar commented on #23560
@cvializ worthy to keep in mind as part of stateful AMP pages.

[2019-07-29 20:15] cvializ commented on #23560
I think some aspects of this FR are already implemented in amp-bind with the `AMP.pushState` and `AMP.popState` actions. https://amp.dev/documentation/components/amp-bind/?referrer=ampproject.org#modifying-history-with-amp.pushstate()

[2019-07-29 20:18] Gregable commented on #7217
My understanding is that the client side implementation was here: https://github.com/ampproject/amphtml/pull/8381

And this has been implemented for a long time, but was never closed. Feel free to reopen if I am missing something.

[2019-07-29 20:18] #7217 closed

[2019-07-29 20:30] #23108 closed

[2019-07-29 20:55] choumx commented on #23579
Ah, it fails validation right?

[2019-07-29 20:55] choumx commented on #23579
Note you can still create and add canvas elements via JS. But we should fix this.

[2019-07-29 20:58] choumx commented on #23560
That's correct. Also we'd need viewer coordination to update title and hash.

[2019-07-29 21:01] alanorozco commented on #21542
Works for me. Will re-open on report.

[2019-07-29 21:01] #21542 closed

[2019-07-29 21:02] cathyxz commented on #23453
I think layout `intrinsic` doesn't like it when you try to force override it to `position: absolute` (as you can see in an isolated vanilla repro here: https://codepen.io/cathyxz/pen/qeNOow?editors=1000).

You can get it to go back to the correct size by removing the `position: absolute` on the `<amp-img>`, but that un-centers the image. You can recenter it via other means (e.g. https://codepen.io

[2019-07-29 21:04] rsimha opened #23582 "Add missing `@return` types across AMP code"
There were several missing `@return` annotations in the AMP codebase. #23559 added a whole bunch of them, and inserted `@return {*}` placeholders for the rest.

This is a tracking bug, and can be closed when [all missing return types](https://github.com/ampproject/amphtml/search?q="%40return+%7B*%7D+TODO%2823582%29"&unscoped_q="%40return+%7B*%7D+TODO%2823582%29") are specified. See https://github.

[2019-07-29 21:20] alabiaga commented on #23579
Sounds good. Yes validation fails. I can make the change Will. Thank you

On Mon, Jul 29, 2019, 4:55 PM William Chou <notifications@github.com> wrote:

[2019-07-29 21:37] jridgewell commented on #23453
The test page is flawed in some way, but I don't know what. Toggling `position: absolute` on the CDN page doesn't change the size of the image. Removing the `sizes` attribute does, though.

[2019-07-29 22:04] jeffjose commented on #23509
Do we have stats on how many sites/pages are currently using this?

[2019-07-29 22:14] cathyxz commented on #23453
You're right. I'm missing this piece of CSS:

[code]
Okay, a few things are happening here.
1. Layout Intrinsic doesn't play nice with `position: absolute`.
2. We generate `srcset` on the cache, and `sizes` on the client, so it's possible to have smaller images than the original.
3. There is a line of CSS here (width and height auto) forcing the `<img>` to display at its actual size (i.e. the size

[2019-07-29 22:18] lannka commented on #22916
Thanks @gurodrigues for getting this out.

Since you're already on Google drive, do you mind move it to a Google doc so we can comment and discuss on it?

[2019-07-29 22:22] gurodrigues commented on #22916
@lannka I just updated the link above.

[2019-07-29 23:19] cathyxz commented on #23453
Layout Intrinsic:

https://amp.dev/documentation/guides-and-tutorials/learn/amp-html-layout/layouts_demonstrated/

The definition of Layout Intrinsic, since it depends on the image's natural size, is inherently incompatible with autogenerated `srcset` and `sizes`, since what we do is generate smaller versions of the image, which prevents the image from growing to its intended full size. It's proba

[2019-07-30 00:06] cathyxz commented on #23264
I'd like to talk about dynamic resizing in `<amp-list>` and `<amp-render>` [design doc](
https://docs.google.com/document/d/1pJdFeTF8WEGvOQGLctVD1ZxX074FmDxF8m1erElQgKw/edit#heading=h.ndhx1j7yz52o)

[2019-07-30 00:22] cathyxz opened #23587 "I2I: <amp-render>"
Design doc link: [go/amp-render-design](https://docs.google.com/document/d/1KOfU1199vXCgPAAFT5qcCOiTepzf3uLgF8FUES3V2n8/edit#heading=h.84y1zb6jbi6o)
It's also copy-pasted inline.

# Overview
<amp-render> will be a component that renders JSON from a server endpoint or <amp-state> and renders it into a static template using <amp-mustache>, without list-specific features like pagination, load-more, o

[2019-07-30 01:14] powerivq commented on #23573
Experiment change was merged. https://github.com/ampproject/amphtml/pull/23576

[2019-07-30 01:55] zhouyx commented on #23568
Thank you @riklund

Based on the design, all value will be calculated client side. The proposal LGTM.

[2019-07-30 07:35] danieltxok opened #23594 "amp-date-picker select event not working for range picker"
Hi,

thanks for looking into this. You can find the example code [here](https://jsfiddle.net/anL5037x/1/).

When selecting the range, the whole array of dates is saved in the state correctly, but then both the start and the end date are set as the end date (checked this with AMP.printstate() as well). I am following instructions [here](https://amp.dev/documentation/components/amp-date-picker/#sele

[2019-07-30 08:10] fabienbrouillaud commented on #23170
lightboxes are useful to easily display additional information without asking the user to leave the email (product details for exemple). They are also useful to display forms (user profile for exemple)

[2019-07-30 10:06] ild0tt0re opened #23596 "Add passive event listeners support to improve amp-position-observer and amp-animation performance"
Can you add support for passive listener to amp-position-observer and amp-animation  as made for amp-carousel here:  https://github.com/ampproject/amphtml/issues/21047

[2019-07-30 12:48] jimmyko commented on #13823
I am looking for the same feature. P3 sounds like it will never come ...

[2019-07-30 14:23] alabiaga commented on #23579
cc\ @choumx @kristoferbaxter

[2019-07-30 14:29] #12717 closed

[2019-07-30 14:34] cvializ commented on #13823
Thanks for your interest! As a workaround, server code can render the query param into the input value so that it is present when the client loads the document. This solves the problem with client-side code adding it and causing the text to flash in when it appears. That is a reason why the priority is low for this issue.

[2019-07-30 15:14] cvializ commented on #23509
I ran a query and these appear to have a lot of usage. I can send you a link to some data if you like

[2019-07-30 15:19] cvializ opened #23597 "🚄 Release tracking issue for release 1907301630320"
# Release tracking issue

- [x] Release [1907301630320](https://github.com/ampproject/amphtml/releases/tag/1907301630320) is cut as a new canary release
- [x] Release 1907301630320 pushed to dev channel (9:02 PM, Jul 30, 2019 UTC-4)
- [x] Release 1907301630320 pushed to 1% (2:55 PM, Jul 31, 2019 UTC-4)
- [x] Release 1907301630320 pushed to production (2019-08-08 18:19 UTC)

See the [release docume

[2019-07-30 15:46] mcmd commented on #13823
Thanks for looking into this. It is true that a server-side solution solves the issue, but in many cases it would require adding logic were there wasn't any. Many of the pages in need of this functionality (landing pages with forms, for instance) are generated with tools or CMS that are incapable of this, and that's why this logic lived in the page.

[2019-07-30 15:46] rsimha commented on #23484
After a few days of observation, the running times of recent builds have been fairly consistent. Closing this for now.

[2019-07-30 15:46] #23484 closed

[2019-07-30 16:06] jeffjose commented on #23509
Yes please. Thanks!

[2019-07-30 16:15] fstanis commented on #23579
Related: ampproject/worker-dom#255

[2019-07-30 17:40] archon810 commented on #21177
@dmvjs Any updates on this?

Also, what's the suggested use case for when you want more buttons on wider mobile screens but you still want smaller screens to fit and not do this? Is there a best practices recommendation?

![image](https://user-images.githubusercontent.com/469543/62151866-2c632d80-b2b6-11e9-877c-a9c6d06d3a12.png)

Ideally, we'd like to match our production non-AMP site in the foote

[2019-07-30 17:52] abester101 commented on #23020
Got it - thank you :)

[2019-07-30 17:52] rsimha commented on #23567
@jridgewell @erwinmombay Do you know of a way to provide an implicit conversion from `Object` to `JsonObject`?

For example, this code will currently fail `gulp check-types`:
[code]

[code]

However, adding a cast fixes it:
[code]

[2019-07-30 18:06] sparhami commented on #23541
You should be able to use [`<amp-bind>`](https://amp.dev/documentation/components/amp-bind/) to change the title (and meta tags) like you can change any other element. This will need to be initiated from a user request (e.g. clicking a button) like any other bindings change.

This could look something like:

[code]

Is something like that what you are looking for or do you have something else in m

[2019-07-30 18:13] jridgewell commented on #23567
Cast is the only way.

[2019-07-30 18:22] sparhami commented on #23596
Do you have an example page where non-passive events are being added (that have a `passive` version, like `touchstart`, `wheel`, etc.)? My understanding of amp-position-observer is that it uses a scroll listener internally, which is always `passive` (`preventDefault()` in a scroll event has no effect), so making it `passive` should have no effect.

[2019-07-30 18:37] kristoferbaxter commented on #23567
Agree with @jridgewell, these are cases where casting makes sense.

[2019-07-30 18:59] Joelsz commented on #21680
+1 This is really filling up the logs

[2019-07-30 19:25] erwinmombay commented on #23567
we also have `dict` which is a helper function that does this

[2019-07-30 19:26] erwinmombay commented on #23567
we also have `dict` which is a helper function that does this but the extra call might not be worth it (im not sure if it is completely optimized and erased in all cases for closure since it is a pass through call). maybe in these cases there needs to be a `dictAssign` helper

[code]

[2019-07-30 19:29] rsimha commented on #23567
@jeffkaufman, you recently pointed out casts that seemed unnecessary in ads code. Would `dict()` help in those cases?

[2019-07-30 20:46] wassgha commented on #20640
@devignerforhire could you please provide more information about this issue? I don't see it occurring on the provided link.

[2019-07-30 21:15] Gregable commented on #23151
Sorry for the delay in responding. I think this is a good suggestion. Implementation is a little involved.

The AMP Cache will probably need to carefully consider lifetime issues, since documents are typically modified in this manner when ingested, not when served.

For example, the font you mentioned seems to be served with headers indicating it should not be cached publicly at all:

[code]

It i

[2019-07-30 21:31] choumx commented on #23567
Stepping back a bit, are we sure we want to use `JsonObject` for this use case instead of an extern? You avoid unintentional obfuscation but you lose property typing.

IMO we should extern structs whose shape we definitively know. And only use `JsonObject` for truly arbitrary data e.g. objects that are actually parsed from JSON.

[2019-07-30 21:33] CrystalOnScript commented on #16552
All boxes are checked!

[2019-07-30 21:33] #16552 closed

[2019-07-30 21:49] rsimha commented on #23567
Good question. The `JsonObject` type was added by @cramforce in #9875 ([link](https://github.com/ampproject/amphtml/pull/9875/files#diff-910f96dd88ed4190c977ebfdc4b7538b)) as a way to prevent property obfuscation.

Today, we have about ~1000 instances of `JsonObject` in our code, more than 200 of which are in `@param` annotations. Not sure how many of these can be converted to known structs.

I be

[2019-07-30 22:04] zhouyx commented on #23568
Looks like we need at least three approvers approval. https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#process-for-significant-changes

I believe we've already got @cramforce's approval on this usage offline. @lannka Could you please take a look give this is ad related. Then we can proceed with the change. Thanks.

[2019-07-30 23:02] Hovspian commented on #22610
Hi everyone, Disqus engineer here. @raquelyustemrf thanks for bringing up this bug.

Like others mentioned in this thread, the resize will sometimes not execute so you're best off adding an `overflow` child element to the `amp-iframe`. We updated our [installation instructions](https://github.com/disqus/disqus-install-examples/tree/master/google-amp) to include an overflow div. The styling provide

[2019-07-30 23:36] CrystalOnScript opened #23643 "Update amp-story migration section"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
Update documentation to state `0.1` is invalid AMP and will be deleted in the near future. If possible, quantify what "near future" is.  At that point it will be aliased to `1.0` and explain that that means.

**Which part of the site would that content live at?**
https://amp.dev/documentation/

[2019-07-30 23:38] CrystalOnScript opened #23647 "Remove all instances o new"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
Update documentation to reflect these features are no longer new, but now standard.

**Which part of the site would that content live at?**
https://amp.dev/documentation/components/amp-story/?format=websites#migrating-from-0.1-to-1.0

[2019-07-30 23:41] CrystalOnScript opened #23646 "Move overview section to top of amp-story"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
The overview should be the first thing developers read to understand context of an AMP component. This section should come after the table.

**Which part of the site would that content live at?**
https://amp.dev/documentation/components/amp-story/?format=websites#overview

[2019-07-30 23:43] CrystalOnScript opened #23649 "Update amp-story version note date"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
Version notes states `0.1` will be deprecated and removed on March 3rd of 2019. This date has passed and should be updated.

**Which part of the site would that content live at?**
https://amp.dev/documentation/components/amp-story/?format=websites#version-notes

[2019-07-30 23:51] CrystalOnScript opened #23648 "Migrate amp-story attributes into a table"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
Similar to [amp-carousel](https://amp.dev/documentation/components/amp-carousel/?format=websites#attributes), amp-story attributes should be organized into a table and given code samples where needed.

**Which part of the site would that content live at?**
https://amp.dev/documentation/compone

[2019-07-30 23:53] CrystalOnScript opened #23645 "Add documentation and code sample for posters"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
We explain what a poster is and what its used for, but we do not include a code sample or instructions on how to use it.

**Which part of the site would that content live at?**
https://amp.dev/documentation/components/amp-story/?format=websites#posters

[2019-07-31 00:00] CrystalOnScript opened #23644 "Create new reference document for `amp-story-page`"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
`amp-story-page` is a separate amp component from `amp-story`. It should be migrated to its own page and include a code samples and a top table with description, required script, ect.

https://amp.dev/documentation/components/amp-story/?format=websites#children-(of-amp-story)

[2019-07-31 00:03] CrystalOnScript opened #23642 "Create new reference document for `amp-story-grid-layer`"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
`amp-story-grid-layer` is a separate amp component from `amp-story`. It should be migrated to its own page and include a code samples and a top table with description, required script, ect.

https://amp.dev/documentation/components/amp-story/?format=websites#layers

[2019-07-31 00:05] CrystalOnScript opened #23641 "Create new reference document for `amp-story-cta-layer`"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
`amp-story-cta-layer` is a separate amp component from `amp-story`. It should be migrated to its own page and include a code samples and a top table with description, required script, ect.

https://amp.dev/documentation/components/amp-story/?format=websites#amp-story-cta-layer

[2019-07-31 00:07] CrystalOnScript opened #23640 "Create new reference document for `amp-story-page-attachment`"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
`amp-story-page-attachmente` is a separate amp component from `amp-story`. It should be migrated to its own page and include a code samples and a top table with description, required script, ect.

https://amp.dev/documentation/components/amp-story/?format=websites#page-attachments

[2019-07-31 00:11] CrystalOnScript opened #23639 "Move "new bookend capabilities" into bookend section"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
The new bookend capabilities are no longer new and should be under the larger [bookend header](https://amp.dev/documentation/components/amp-story/?format=websites#bookend:-amp-story-bookend). Language should be updated to remove instances of "new".

https://amp.dev/documentation/components/amp

[2019-07-31 00:14] CrystalOnScript opened #23636 "Update amp-consent frontmatter to include "stories""
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
When filtering component documentation [`amp-consent`](https://amp.dev/documentation/components/amp-consent/?format=websites#prompt-ui-for-stories) does not appear for stories in the sidebar. The frontmatter should be updated so when developers filter for stories they see the component is usab

[2019-07-31 00:19] CrystalOnScript opened #23638 "Update amp-sidebar frontmatter to include "stories""
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
When filtering component documentation [`amp-sidebar`](https://amp.dev/documentation/components/amp-sidebar/?format=websites#sidebar-for-stories) does not appear for stories in the sidebar. The frontmatter should be updated so when developers filter for stories they see the component is usable

[2019-07-31 00:21] CrystalOnScript opened #23637 "Update amp-twitter frontmatter to include "stories""
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
When filtering component documentation [`amp-twitter`](https://amp.dev/documentation/components/amp-twitter/?format=websites) does not appear for stories in the sidebar. The frontmatter should be updated so when developers filter for stories they see the component is usable.

[2019-07-31 04:40] pbakaus commented on #23422
@sebastianbenz could you take a look at this?

[2019-07-31 07:32] ild0tt0re commented on #23596
Thanks @sparhami i understood the problem.
Lighthouse gave me this error "Does not use passive listeners to improve scrolling performance" after added amp-position-observer and amp-animation but at the same time, I have installed a chrome plugin which was the cause of the problem.

[2019-07-31 07:32] #23596 closed

[2019-07-31 09:50] sonia75birdeye opened #23616 "Css psuedo selectors issue in Gmail amp"
Css Pseudo selectors like :after, :before are not working in gmail amp but its working in gmail playground.

[2019-07-31 11:45] ShahJay147 opened #23617 "amp-form: Runtime error when rendering non-element node (SSR)"
**Please only file reports about bugs in AMP here.**

## What's the issue?
I am using AMP-email playground to develop search box which shows list of dynamic options when search. The question has been asked how to achieve this which can found [here](https://stackoverflow.com/questions/57182931/how-to-make-search-box-which-shows-list-of-dynamic-option-according-to-data-ret). I have written this in a

[2019-07-31 15:09] choumx commented on #22610
@Hovspian Ah great, thanks. I'll close this issue then.

[2019-07-31 15:09] #22610 closed

[2019-07-31 15:33] cramforce opened #23618 "Improve AMP's TTI/FID and generally reduce continuous main thread time"
@kristoferbaxter submitted a first step in this direction in #22532

I noticed that we still have a quite large continuous block along the lines of

<img width="582" alt="Screen Shot 2019-07-31 at 8 28 52" src="https://user-images.githubusercontent.com/89679/62225576-925ebc00-b36d-11e9-912a-42c510966020.png">

These are CE upgrades. Those are scheduled as a `StartupChunk` and things should just wo

[2019-07-31 15:41] oste opened #23619 "RESIZE_REQUEST error log"
## What's the issue?

I am seeing `RESIZE_REQUEST` errors in the console. It seems to be coming from [log.js](https://raw.githubusercontent.com/ampproject/amphtml/1907231757120/src/log.js) file

![AMP_Widget_Template](https://user-images.githubusercontent.com/350275/62226455-41a88c80-b388-11e9-8267-bacdba2a5948.jpg)

## How do we reproduce the issue?

Visit this test url and view console http://co

[2019-07-31 16:01] keithwrightbos commented on #22215
The ad request includes a parameter indicating it is a refresh and so this should be unnecessary.  I suggest reaching out to GAM reporting to determine if/how is refresh can be included.

[2019-07-31 16:01] #22215 closed

[2019-07-31 16:10] keithwrightbos commented on #21787
Already fixed

[2019-07-31 16:10] keithwrightbos commented on #21116
Is this still occurring?

[2019-07-31 16:12] keithwrightbos commented on #20962
Is this still relevant?

[2019-07-31 16:58] ratana opened #23621 "amp-subscriptions: support conditional rendering based on scoring factors"
## Describe the new feature or change to an existing feature you'd like to see

Add the ability to conditionally display dialogs and buttons based on items currently used in scoring factors, such as with amp-subscriptions-google "ready to pay"; example, if user is ready to pay, show button, if not, don't show button.

## Describe alternatives you've considered

N/A
## Additional context

N/A

[2019-07-31 16:59] AndrewKGuan commented on #23530
In many cases things are doable on server side, but we also need to understand publishers would have business requirements which are hard to work around because reasons like "APIs are shared between AMP and non-AMP",  "endpoints are controlled by a different team/org/company", "it is just much more flexible to have client-side template evaluation capabilities for some situations".

Please consider

[2019-07-31 17:06] cramforce commented on #23618
Good news. From my testing: The initial change is

- working as intended (modulo the issue above)
- I haven't seen over-painting (extra CPU wasted by painting when yielding to the event loop)

[2019-07-31 17:45] wassgha commented on #20181
Hey @cathyxz ! I'd like to work on this but I have a few questions after I've investigated this a little,
1. Focusing on the `amp-list-load-more` itself doesn't really work, we need to focus on the internal `button` element, so how do we handle this for custom load-more buttons? (do we let users specify which element receives the focus or do we simply focus on the element they give us?)
2. What be

[2019-07-31 18:38] oste commented on #23619
Update: the log is coming from here https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-ui.js#L203 but still not too sure why.

[2019-07-31 18:42] oste commented on #23619
here is a recent change that seems to be related https://github.com/ampproject/amphtml/pull/23239

[2019-07-31 19:00] #23372 closed

[2019-07-31 19:00] #23496 closed

[2019-07-31 20:13] alabiaga commented on #23450
Alexandr, I was at some point able to reproduce this using your end point yesterday but have not been able to do so today because perhaps you are making changes. But I suspect this to be the issue with the constraint in place for the size limit set on the json payload. A 200K limit on the raw HTML, 300K after sanitization. I will confirm locally and just copy the json you sent.

[2019-07-31 20:32] cvializ commented on #23264
# new loaders note
Load the loaders code after main runtime.

- @cramforce: can we give it a more internal name or prefix to prevent users thinking it's something they should use directly?
- @sparhami: brainstorming, we could create a separate extensions-internal directory or something similar. there are various strategies
- @dvoytenko amp-subscriptions also installs CSS and uses a good pattern
-

[2019-07-31 22:28] sparhami commented on #23264
# dynamic resizing

- Context: amp-list layout container action
    - Make this API better for amp-render, amp-listv2
    - amp-list is required to specify height, placeholder
        - do not allow resize when bottom is in viewport
        - show overflow button to resize on click
    - current behavior is problematic
        - size not known up front, since number of items is dynamic
        - c

[2019-07-31 23:14] lannka commented on #23568
LGTMed

[2019-07-31 23:28] cramforce commented on #23264
Clarifying what I mean with systematic: I'd like us to behave consistently across all elements that can request resize and may get that request denied (amp-iframe, now amp-list, anything else?). And if we want to have different behavior, we need to define the rule that leads us toward differing.

[2019-07-31 23:35] wassgha commented on #21783
/cc @andrewwatterson

[2019-07-31 23:47] nainar commented on #23504
I think that is definitely something to consider and scope highly for amp-list. I am sure there are security issues that we will have to consider here.
Paging @choumx

[2019-08-01 00:33] lannka opened #23629 "Re-organize AMPHTML ads examples and add more examples"
As part of inabox-lite effort (#22867), we need more examples to cover all the supported extension usages in AMPHTML ads for local testing purpose.

[2019-08-01 00:39] lannka opened #23630 "More e2e tests for AMPHTML ads"
inabox lite (#22867) project is going to introduce different implementations of various services for inabox runtime. It will be very different from regular AMP runtime. We will need specific test coverage for various extensions to make sure they continuously working for inabox.

Ideally, we should have one e2e test for every ad listed in this example page:
https://github.com/ampproject/amphtml/blo

[2019-08-01 02:33] huuvan20 commented on #23504
In some cases, the templates are very long & somehow heavy. If we could load it remotely, that would speed up the site load a lot.

[2019-08-01 13:05] jaygray0919 commented on #23579
d3.js also please. published an experiment here: https://afdsi.org/amp-script/amp-index.html

[2019-08-01 13:43] oste commented on #23619
@dvoytenko I thought you might be able to provide some insight. Is this something I am doing that is causing that log to show? I would think it should only show in dev mode.

Thanks for any information you can provide.

[2019-08-01 14:37] alexandr-kazakov commented on #23170
Today I saw a warning on the https://amp.gmail.dev/playground/
![chrome_2019-08-01_17-34-42](https://user-images.githubusercontent.com/20513262/62302338-d5f71a00-b482-11e9-995c-b4a3c27956fc.png)
http://bit.ly/2SVPZoK

Maybe you will save amp-image-lightbox after all? Such functionality would be useful to me.

[2019-08-01 15:50] alexandr-kazakov commented on #23450
Thank you **alabiaga** for your reply.

I haven't made any edits to that code since this topic was created. I have specially prepared this example for this topic.
***
Here I have prepared a second example for seven passengers: https://alexkazakov.info/layout/amp4email-test-multiselector-2/
It works locally, but Gmail doesn't show colored blocks.

When I take this json for this email: https://alexk

[2019-08-01 17:02] mguerra10128 commented on #17742
@zhouyx Im in the process of supporting amp consent in our cmp (will be utilizing the iframe based approach), read over the following two docs:

https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/amp-consent.md
https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md

I do see in the docs any mention detailing where/how the consentString

[2019-08-01 17:17] dvoytenko commented on #23619
This error is tagged as "expected" error - it's there temporarily for measurement needs as we are trying to assess new user activation APIs. Sorry for inconvenience.

/cc @lannka

[2019-08-01 18:31] cvializ opened #23634 "Remove or explain usages of unload and beforeunload listeners"
These listeners prevent the browser from adding documents to the back/forward cache when they are added to the `window` object.

[2019-08-01 20:37] newmuis commented on #16866
The docs for this have been updated, but we should still see what the behavior is when publishers use a v0.1-style bookend in 1.0 and make sure that the behavior is reasonable.

[2019-08-01 20:42] newmuis commented on #17023
#22099 claims to have experienced similar issues in Chrome 73.0.3683.

[2019-08-01 20:42] newmuis commented on #22099
Label for Line was added in #22639.

Let's use #17023 to track issues with the "Get Link" button.

[2019-08-01 20:42] #22099 closed

[2019-08-01 20:52] lannka commented on #8970
@kristoferbaxter what do you think about prioritizing this in the upcoming fixit summit? It's going to save quite a lot bytes in each extension.

[2019-08-01 21:21] CrystalOnScript commented on #23641
I think the component should still have it's own reference document, since `<amp-story-cta-layer>` can only be used once per page. However, I think we could add a section that states "Additional linking options" that routes users to these other options - where are those documented? Are they documented? This also might be appropriate for an update to the `<amp-story>` doc - maybe a section for "pro

[2019-08-01 21:27] jpettitt commented on #23621
The design I'm working on creates a new SwG object that can be used to control dialog behavior.  It provides for any score factor to be used in rendering.  The format is `scores.[factor].[service]`

Example `scores.isReadyToPay.subscribe_google_com` would be the ready to pay score factor from the `subscribe.google.com` service (also known as `amp-subscriptions-google`).  Similarly `scores.isReadyT

[2019-08-01 23:13] choumx commented on #23504
I don't see why this is desirable yet. Can you share a concrete use case e.g. URL to a live AMP page?

[2019-08-01 23:32] alexandr-kazakov opened #23651 "AMP4EMAIL: mobile support"
Type: Discussion/Question

Hey, guys. Now AmpEmail does not support mobile devices. I would like to know if you plan to add support in the future, if so, when?

Thanks.

[2019-08-02 00:11] morsssss commented on #23530
Yes, sadly, at larger organizations, people who work on the front end sometimes have no control over the back end. Either the back-end people say it will take months to change a data format, or sometimes data comes from a third party over which they have no control.

Personally, I'd like it if it was possible to introduce a bit of logic into templates. Either via lambda functions in mustache, or b

[2019-08-02 08:37] matthieuberger opened #23653 "I2I: ✨ Add ContentSquare Analytics to AMP analytics vendors"
Hi everyone !

Add [ContentSquare](https://contentsquare.com) Analytics to AMP analytics vendors list.

[2019-08-02 10:34] matthiasrohmer commented on #23587
@cathyxz, the design doc is not publicly available 🙂

[2019-08-02 10:40] matthiasrohmer commented on #23527
Will this also enable updating the URL with `AMP.pushState`? Otherwise sharing a state that could then be server-side rendered for a first-time visitor would still be impossible.

Specifically thinking of the category filtering on [amp.dev](https://amp.dev/documentation/components/?format=websites). 😉

[2019-08-02 13:45] rajdri commented on #20734
Required--validation is not working

[2019-08-02 14:18] tharders opened #23657 "Support amp-autocomplete without form"
**Together with amp-bind amp-autocomplete should work without a form tag.**

The following example shows how amp-autocomplete can be used to select the content of an amp-list without the need to submit a form.
This example will run in https://playground.amp.dev/

[code]

This shows that the form should never be submitted and therefore should be removed.
But currently amp-autocomplete will not work

[2019-08-02 14:49] fstanis commented on #23398
@pbakaus assigning to you per our discussion - depending on the scope of work, it might make sense to hide some of these docs until we reach a solution.

[2019-08-02 15:13] dfabulich commented on #20848
I was thinking about this bug today, and I think a workaround might be possible without adding a new feature to the web platform.

What if the AMP SXG validator required the SXG to have a `Content-Security-Policy` `frame-src` explicitly allowing all and only the origins of its `<amp-iframe>` elements?

That way, an `example.com` SXG could have an `<amp-iframe>` pointing to `iframe.example.com`, bu

[2019-08-02 15:29] gmajoulet opened #23659 "amp-accordion images not loading within page attachments"
From Slack:

"amp-accordion is not loading images when a section is hidden... You can see it in this story (second page):  https://storiestests.netlify.com/traveltips2"

[2019-08-02 15:30] gmajoulet commented on #23659
cc @newmuis this should be a good candidate for the fixit week :))

[2019-08-02 15:36] newmuis commented on #22747
/to @johanna08

[2019-08-02 15:39] newmuis commented on #17023
Doesn't seem to repro in Chrome, but still seems problematic in FF

[2019-08-02 15:42] newmuis commented on #22065
/to @johanna08

[2019-08-02 15:52] newmuis commented on #22329
/to @johanna08

[2019-08-02 15:58] cramforce commented on #20848
I think a problem with such an approach is that it can be extremely difficult to enumerate iframe origins.

In general, AMP would really like to allow same-origin iframes. It also wants to avoid them scripting the parent. Not for security or compliance reasons, but because it would break on the cache in unexpected ways, and AMP aims to avoid documents breaking on the cache in unexpected ways.

Tha

[2019-08-02 16:33] newmuis commented on #23659
Agreed!  Added.  @gmajoulet are you willing to take this on?

[2019-08-02 16:40] gmajoulet commented on #23659
Of course :)

[2019-08-02 18:13] alabiaga commented on #23450
@alexandr-kazakov

Right, this is actually an action item for the working group to be discussed, determined and proposed and set in the spec. Thanks for bringing this up.

I will investigate this again on Monday. Apologies for the delay.

[2019-08-02 18:21] newmuis opened #23661 "amp-story boilerplate is invalid"
The [boilerplate](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story.md#boilerplate) code for `amp-story` doesn't validate.  We should update this and fix the errors pointed out by the validator.

[2019-08-02 18:21] newmuis commented on #23661
/cc @CrystalOnScript

[2019-08-02 18:30] newmuis opened #23662 "Only one corner of the stories domain info dialog is rounded"
The info dialog, for some reason, only has one rounded corner:

![rwieNNCzfPX](https://user-images.githubusercontent.com/1651960/62390817-2cbb2d00-b531-11e9-80d6-03ffb118ec69.png)

You can open this experience by opening any story in any viewer and clicking on the (i) icon.  For example:

1. Do a Google search on mobile (or mobile emulation) for [Washington Post]
2. Click on a one of the stories i

[2019-08-02 18:42] newmuis opened #23663 "Domain info dialog does not have style isolation"
Publisher styles seem to be able to impact the domain info dialog, despite it being in a separate shadow DOM.  For example, these two pages are using the same version of the runtime:

Correct:
![Screenshot with heading, and text aligned to the left](https://user-images.githubusercontent.com/1651960/62391707-9805fe80-b533-11e9-93ee-92f284aa7eb4.png)

Incorrect:
![Screenshot with no heading, and tex

[2019-08-02 20:18] newmuis opened #23664 "Stories sidebar is too thin on desktop"
The sidebar currently has a maximum width of `320px`.  We should increase the width.

[2019-08-02 20:24] curseagain commented on #20787
Hello all! Somehow I missed this, but I'll pick this ticket up next.  Thanks!

[2019-08-02 21:21] sparhami commented on #23659
This may be related to #23449, which @cathyxz is taking a look at. Fixing one may fix the other as well.

[2019-08-03 00:29] andrewwatterson commented on #21783
Hey there @Binipro - sorry it's been such a slog to get this resolved!

**tl;dr**
Can you provide some more details about what kinds of clicks you care the most about capturing? It looks like the learn more link is directly below the close button. Is there any solution where leaving the close button where it is solves this issue?

In more detail, my understanding is that the issue here is:

`amp-v

[2019-08-03 04:27] karansapolia commented on #23664
Hey @newmuis, may I work on this issue?

[2019-08-03 06:27] rajsite commented on #20142
Is there a public way to access the artifacts from [tagged releases](https://github.com/ampproject/amphtml/releases)? I wasn't able to use gsutil to list the contents of `gs://amp-travis-builds`.

[2019-08-03 10:52] jaygray0919 opened #23672 "conflict between amp-list and GSDTT"
Google Structured Data Testing (`GSDTT`) validates `JSON-LD` and is a proxy for Google Knowledge Graph. Our goal is to inject an AMP document with `JSON-LD` using `amp-list` and `amp-mustache`.

Here is sample `JSON-LD`:
[code]
And as a string:
[code]
`JSON-LD` string is valid on `GSDTT`

Our conventional technique uses `jQuery`. Here is a working example in a non-AMP page:
  https://afdsi.org/ind

[2019-08-03 10:54] jaygray0919 opened #23673 "amp-script does not execute d3.js"
Our goal is to run JavaScript data visualization libraries using `amp-script` -- avoiding need to use `amp-iframe`.

This example implements `canvas.js` with `amp-script`
  https://afdsi.org/amp-script-03/
Source is Weston Ruter and his experiment here:
  https://github.com/westonruter/javascriptforwp-conference-amp-examples
using this technique:
[code]
We would like to implement our `d3.js` appli

[2019-08-03 10:57] jaygray0919 opened #23674 "amp-list causes SVG to re-render for each item"
Our goal is to label nodes in an SVG document using `amp-list` and `amp-mustache`
Inspiration is a @sebastianbenz Sebastian Benz example:
  https://amp.dev/documentation/examples/interactivity-dynamic-content/seatmap/preview/
SVG's label selectors are sourced from an`amp-list`

Here, labels are "baked-into" the SVG.
  https://afdsi.org/amp-list-04/flavonoids.svg

Now see result when rendered using

[2019-08-03 11:01] jaygray0919 opened #23675 "amp-list cause line-break that cannot be reversed with CSS"
Our goal is to implement a tool-tip similar to this Washington Post example:
  https://www.washingtonpost.com/sports/2019/03/19/blake-bortles-signs-with-rams-one-year-deal-back-up-jared-goff/?utm_term=.6657442a70fc

Here are three scenarios to illustrate our issue:
  https://dailyfood.io/amp/tooltip/question.html
A quick explanation of the 3 scenarios:
1  inline but *no* `amp-list` (to prove that

[2019-08-03 14:38] newmuis commented on #23664
Sure!  @hongwei1990 is still coming up with the right numbers of what the width *should* be

[2019-08-03 15:10] petekip commented on #23664
Looking forward to the new dimension! Hopefully it will be flexible and accomodative enough

[2019-08-04 15:31] kristoferbaxter commented on #23673
Currently each amp-script element is self-contained.

This example would not work as written, however if the second resource was a combination of the first and second then it should.

We're investigating a method to declare mutual shared dependencies for amp script elements, would this be an interesting option for you?

[2019-08-04 20:44] jaygray0919 commented on #23673
@kristoferbaxter we'll go with whatever solution works for AMP. As you know, D3 works similarly to a jQuery "main" and a local JavaScript app: initialize jQuery, then load the app. Per your comment, that ain't gonna work using the current design. Combining the D3 preq libs with the app-logic is not impossible, but it means that we would have to re-write all of out D3 apps. So i'm not sure how "to

[2019-08-05 06:02] karansapolia commented on #23664
@newmuis Thank you. Sure, I'll wait for when we have the right width number.

[2019-08-05 06:23] SimonHogstromRonbol commented on #20640
@wassgha i have a real world example here, on https://www.capidea.dk/virksomheder where the clicking the thumbnail logos only renders the amp-img inside the amp-selector the first time a thumbnail is clicked, not subsequent times:
https://www.capidea.dk/virksomheder

i've made a codepen that reproduces this issue:
https://codepen.io/sunturion/pen/QRxMoa

the code in the pen is taken directly from

[2019-08-05 08:18] sebastianbenz commented on #23674
You should be using amp-list's `single-item` mode instead. By default, amp-list will add additional markup which is breaking your svg.

Instead, manually iterate over the items inside the amp-list template:

[code]

Closing this for now, feel free to re-open in case it's an issue with the AMP runtime.

[2019-08-05 08:18] #23674 closed

[2019-08-05 09:39] oliverfernandez commented on #23367
Is there any chance this could be discussed?

@zhouyx @lannka @jasti

[2019-08-05 10:23] DenyHF commented on #23619
Ticket #23542 with the same problem has already been created 10 days ago.

[2019-08-05 13:19] newmuis commented on #23664
For viewports that are from 320px to 1023px, we should use a width of 75%, with a max width of 360px.

For viewports that are 1024px and above, we should use a width of 25%, with a max width of 600px.

@karansapolia let me know if you have any questions or need any help!

[2019-08-05 13:34] romeuflores commented on #23449
It is also worth noting that the same happens for an amp-list inside an amp-selector inside an amp-accordion.

[2019-08-05 15:18] gmajoulet commented on #23659
Thanks Sepand, will wait for this fix to land before we take on this one.

[2019-08-05 15:48] gmajoulet commented on #13833
Hey Enrique, I don't have much to do this week, do you mind if I take on this one?

[2019-08-05 15:57] lannka opened #23679 "I2I: Refactor & remove viewport service from amp4ads runtime"
The plan is

 - [x] Refactor viewport-impl.js, reduce the number of its public methods.
 - [x] Extract interfaces.
 - [x] Provide a simpler impl of the interface in amp4ads runtime.

This is a subtask of #22867

[2019-08-05 15:58] kristoferbaxter commented on #23618
I'll add this to the fixit list for the performance working group.

[2019-08-05 16:16] mguerra10128 commented on #17742
@zhouyx we are currently blocked on the above question, any details you can share would be greatly appreciated.

[2019-08-05 16:17] johannaperez commented on #22747
/to @johannaperez

[2019-08-05 16:17] johannaperez commented on #22065
/to @johannaperez

[2019-08-05 16:17] johannaperez commented on #22329
/to @johannaperez

[2019-08-05 16:20] mrjoro opened #23680 "AMP Fixit Week 2019"
Many of the AMP Working Groups are holding a fixit week the week of August 5 to tackle a lot of smaller bugs that don't always get prioritized.  The GitHub projects below track the issues the groups will be focusing on.

If you're interested in helping out during the fixit week, reach out on one of the fixit issues or in the [WG channel](https://github.com/ampproject/meta/tree/master/working-group

[2019-08-05 16:38] cramforce commented on #22834
I think the behavior is correct. Placeholders should load eagerly.

[2019-08-05 16:38] #22834 closed

[2019-08-05 17:01] lannka commented on #21998
I think `e2e` tests might be more helpful now.

[2019-08-05 17:13] Enriqe commented on #13833
Sure 👍

On Mon, Aug 5, 2019 at 11:49 AM Gabriel Majoulet <notifications@github.com>
wrote:

[2019-08-05 17:15] cramforce commented on #21357
It would be possible to load by toggling format on the client side with a picture element. However, youtube doesn't appear to use webp for their player right now and it is more important to match their URL, since otherwise the sum of bytes will be bigger.

For reference, here is the URL pattern for webp thumbs https://gist.github.com/bojanvidanovic/0b31443827c2c424469da754376180d4

[2019-08-05 17:15] #21357 closed

[2019-08-05 17:19] welkie commented on #1612
I see this issue was referenced from https://github.com/ampproject/amphtml/issues/12674 but I don't think grouping events from a particular page view helps with this. I work at an analytics vendor and we also currently use client side session stitching using cookies with a timeout set by a JS tracker. Because this isn't supported by AMP, we proceeded with adding AMP support by switching to group A

[2019-08-05 17:19] welkie commented on #1612
@cramforce Tagging for visibility.

[2019-08-05 17:27] cramforce commented on #10261
Somebody had already done this. Hard to tell when because the file has been edited a lot.

[2019-08-05 17:27] #10261 closed

[2019-08-05 17:28] newmuis commented on #22329
I was just looking at some other rotation-related stuff, and I wonder if we fail to take the `transform-origin` into account; if the origin is the center of the element, then how far we have to move it offscreen would be dependent on the size of the element

[2019-08-05 17:59] zhouyx commented on #17742
Thank you @mguerra10128 for the question.

consentString is generated by the CMP, and passed to the AMP doc from the CMP iframe using a post message.

For example:
[code]

The `info` here can be used to pass the consentString. The AMP doc will handle the string and store it using the localStorage API afterwards.

The post message API is documented at https://github.com/ampproject/amphtml/blob/mast

[2019-08-05 18:00] Gregable opened #23685 "Evaluate the potential use of Javascript Set in validator codebase"
The AMP Validator uses JS objects as sets in a number of places, with `hasOwnProperty` to evaluate set membership. Now that [Set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set) seems to have wide browser support and we've abandoned the idea of making the Validator performant enough to run in the AMP runtime, it is probably worth switching to use Set in the va

[2019-08-05 18:07] zhouyx commented on #21419
Thank you @zikas for the information. Closing the issue. @arunke1 feel free to reopen if this doesn't work for you.

[2019-08-05 18:07] #21419 closed

[2019-08-05 18:34] alankent commented on #23530
Thanks for the mention Ben!

It is a very common problem. A/B testing platforms are frequently selected on the basis of zero developer effort required to make a test (so it injects JavaScript onto the page) solely because any developer effort is almost impossible to get access to. It is very common for it to be much easier to change the frontend HTML than backend services.

Also, headless backends

[2019-08-05 18:36] lannka opened #23689 "Test state leakage due to the use of Object.defineProperty w/o restore"
[code]

Running the above 2 tests on master branch will fail some tests:

[code]

issue is first found here: https://github.com/ampproject/amphtml/pull/23671#issuecomment-518346305

[2019-08-05 18:39] zhouyx commented on #20607
@jonathantyng-amp FYI: I added this issue to our fixit week todo list. Thanks.

[2019-08-05 18:43] jridgewell commented on #23340
Initial tests for iOS 13 look very good. It's possible we'll be able to disable our hack entirely and still get perfect fixed-position scrolling.

[2019-08-05 18:44] eduardogoncalves commented on #23529
It's working
![image](https://user-images.githubusercontent.com/4308648/62487285-6b4e2300-b78f-11e9-8bfb-f828f780e67c.png)

[2019-08-05 18:44] #23529 closed

[2019-08-05 18:48] pstricker commented on #10546
Any updates on this issue? We are experiencing this issue in production currently.

[2019-08-05 19:02] erwinmombay commented on #22384
We probably need a follow up task for this where `dist` just does the right thing without the other instructions.

other caches still need to know and understand how to deploy AMP since we have multiple directories under root that are part of the AMP "library". (i wish it was just 1 directory, ideally dist but i think its a little too late)

[2019-08-05 19:08] powerivq opened #23694 "AMP PWA example broken on local"
http://localhost:8000/pwa/examples/a4a.amp.html?exp=a4a:-1&force_a4a_ctypes=1,2

This page failed to load amp-shadow.js locally, causing the example not to work.

[2019-08-05 19:19] mauricionr commented on #10546
🎂

[2019-08-05 19:54] cathyxz commented on #23659
I think they might actually not be related, since the `amp-selector` issue repros with `<amp-selector>` only, and seems to be an issue isolated to children of `<amp-selector>` not laying out correctly when the `selected` attribute is toggled.

[2019-08-05 19:56] sparhami commented on #14552
Seems like this may have been fixed at some point during our rework of the lightbox captions.

[2019-08-05 19:56] #14552 closed

[2019-08-05 19:57] cathyxz commented on #23449
I think this is an issue with `<amp-selector>` not laying out its children correctly when `display` is toggled via the `selected` attribute. I tested a few things:

`<amp-iframe>`:
- correctly lays out when display is [toggled via the `hidden` attribute](https://codepen.io/cathyxz/pen/MNvJZx)
- correctly lays out when display is [toggled via `toggleClass` action](https://codepen.io/cathyxz/pen/BXJ

[2019-08-05 20:22] zombifier commented on #23569
I wrote the implementation for the first 2 envelopes at #23699. PTAL.

[2019-08-05 20:26] lannka commented on #23689
Culprit is here:
https://github.com/ampproject/amphtml/blob/c7604ffa65b6ea70a85886229d18b67c601de4ea/test/unit/test-viewport.js#L1686-L1689

You might ask: but this is not changing the global window.Element
It actually is:
https://github.com/ampproject/amphtml/blob/c7604ffa65b6ea70a85886229d18b67c601de4ea/testing/fake-dom.js#L54

[2019-08-05 20:32] newmuis commented on #23641
SGTM!

[2019-08-05 20:36] kristoferbaxter commented on #8970
I'll add it to the performance wg list for fixit and see if we can do it.

[2019-08-05 21:07] dvoytenko commented on #16640
Experiment is still tracked and needed until #23379 and #22220 are addressed.

[2019-08-05 21:15] danielrozenberg commented on #21275
My work plan on changing this is as follows:
1. Modify the reporter for **push builds** to double-write the bundle size on each commit to `bundle-size/[SHA]` (gzip) and `bundle-size/[SHA].br` (brotli), do this for 1 month
2. 1. Modify the reporter for **pull requests** to report both gzip and brotli bundle-sizes to the app
    2. Modify the bundle-size app to read the `[SHA].br` instead of the `[S

[2019-08-05 21:17] choumx opened #23704 "Unit tests in extensions subfolders don't run"
- `extensions/amp-foo/0.1/test/test-foo.js` will be run.
- `extensions/amp-foo/0.1/test/unit/test-foo.js` will not be run.

https://github.com/ampproject/amphtml/blob/4727ad1f28764f53e21ea0e47f0518372e1cf41a/build-system/config.js#L78-L82

Looks like amp-script and amp-addthis are affected, maybe others. Let's either run all tests in subfolders or error at runtime.

/to @ampproject/wg-infra

[2019-08-05 21:20] lannka commented on #23689
We have other 40 usages of `Object.defineProperty` in tests. Most of them don't restore properly. Will clean up in follow-up PRs.

[2019-08-05 21:36] rsimha commented on #21070
This was related to Travis caching, and has since been fixed.

[2019-08-05 21:36] #21070 closed

[2019-08-05 21:38] sparhami commented on #22381
@cathyxz Adding Cathy, who has context. We may want to add a warning message here if this is working as intended.

[2019-08-05 21:40] rsimha commented on #23704
I'll send out a PR to fix the globs in `unitTestPaths`.

For a long-term fix, there's an outstanding task to standardize the location of test files across the repo. See #20197 (/cc @estherkim)

[2019-08-05 21:40] zombifier commented on #21311
Made #23605 to try reenabling the test and see what happens, but they weirdly enough still fail on Travis. Local testing with Firefox and Chrome works fine.

[2019-08-05 21:46] nainar commented on #23653
Hi, Please follow the following instructions here :https://github.com/ampproject/amphtml/blob/47d8f204b1546b0ab7eff07be6757a198c68538d/extensions/amp-analytics/integrating-analytics.md

[2019-08-05 21:49] cathyxz commented on #22381
This is working as intended. The intention here is to have headings trigger the expand / collapse action for `<amp-accordion>` on click. A valid workaround is as @sparhami described above, to use the `expand` and `collapse` actions.

We haven't really seen any valid use cases that require a tap action on the accordion header. Most of the use cases has been to toggle the styling of the accordion it

[2019-08-05 21:50] lannka opened #23708 "Create e2e/visual tests for AMPHTML ads"
- [ ] video ads (video-ad.a4a.html)
- [ ] carousel ads (slides-ad.a4a.html)
- [ ] lightbox ads (lightbox-ad.a4a.html)
- [ ] amp-bind ads (form-ad.a4a.html)
- [ ] ad-choices icon (adchoices-1.a4a.html)

[2019-08-05 21:57] lannka commented on #19765
@rsimha @estherkim any tips how to identify those tests?

[2019-08-05 21:57] sparhami commented on #22381
In that case, lets add a warning message when people try to add a tap handler to the header itself.

[2019-08-05 21:58] lannka commented on #19766
Ads team is working on it

[2019-08-05 22:00] cramforce commented on #22975
@Enriqe Are you picking up work on this?

[2019-08-05 22:03] rsimha commented on #19765
@lannka, you can [search for](https://github.com/ampproject/amphtml/search?utf8=%E2%9C%93&q=%22this.timeout%22) all tests that override the default timeout.

[2019-08-05 22:03] choumx commented on #23651
The AMP4EMAIL spec has no restriction on mobile support. I assume you're asking about a specific email provider launch?

[2019-08-05 22:06] calebcordry opened #23710 "Refactor Story Ads and Improve test coverage"
Story ads is a single file over 1000 lines, this should be broken down into smaller classes with separate concerns.

Once this is completed, many tests are needed to test all public APIs for good test coverage.

[2019-08-05 22:06] calebcordry commented on #23710
Test coverage before starting
![image](https://user-images.githubusercontent.com/16087874/62498021-a140d680-b792-11e9-9538-636f9cd4175e.png)

[2019-08-05 22:24] #22509 closed

[2019-08-05 22:25] danielrozenberg commented on #22509
The idea of putting the "pending" check early on is to let PR authors know what to expect. I'd rather not move them to the same shard as the actual test runner. If the Travis checks fail and the status stays as "pending", the PR's total status is still going to be red because of the Travis failure

[2019-08-05 22:28] kristoferbaxter opened #23711 "🏗 Use Brotli-Size Directly"
As we start to move from using `gzip` size to `brotli` size to determine the fluctuation a PR is introducing, we can lower our dependency count by switching to [brotli-size](https://github.com/erwinmombay/brotli-size#readme) directly.

Benefits:
1. Uses Node's builtin Brotli compression.
2. Reduces external dependency count.

[2019-08-05 22:28] jridgewell commented on #23572
Isn't attribute setting sync?

[2019-08-05 22:45] sparhami commented on #23572
To clarify, the attribute is set via a `mutateElement`, which is async to where the open call is made. As a result, you can call open twice in a row prior to the attribute actually being set.

[2019-08-05 22:46] #23572 closed

[2019-08-05 22:54] calebcordry opened #23713 "JSON XHR Flaky Test"
https://github.com/ampproject/amphtml/blob/305ef32a5752a3ee1c0470f2fb046fc6bbacafaf/test/unit/test-xhr.js#L378-L387

Seems to be failing in "native" mode. 3+ times on master today. Maybe related to @lannka 's changes to sandbox?

cc/ @rsimha

Skip incoming...

[2019-08-05 22:57] choumx commented on #23340
Can you share how we'd ship this (disabling the hack) to users?

[2019-08-05 22:58] choumx commented on #23672
This isn't validation related.

One possible workaround is to use `script[type=text/plain][template=amp-mustache]` instead of `template[type=amp-mustache]`, which SDTT may not parse.

[2019-08-05 23:05] cathyxz commented on #21397
Based on our `collapse` constraints, I think the `collapse` functionality that we are able to implement will have the same restrictions as the current iframe resizing feature, which I think you can use as a workaround:

https://amp.dev/documentation/examples/components/amp-iframe/#resizable-iframe

One important feature of amp-iframe is the ability to resize the iframe at runtime. For this to work

[2019-08-05 23:17] cathyxz commented on #20828
I did some research into this. What `<amp-ad>` has isn't exactly `collapse`, but `embed-resize`. It allows you to try to resize the ad, following AMP's constraints (e.g. no resizing within the viewport etc). So you can get it to "collapse" by resizing it to height zero.

For `<amp-iframe>`, the way to do this is https://amp.dev/documentation/examples/components/amp-iframe/#resizable-iframe.

[2019-08-05 23:18] sparhami commented on #21397
I believe you cannot collapse an iframe by setting the size to zero, we currently have a check that prevents you from doing so and deny the resize. We do this in part to prevent so called "tracking" iframes from living on.

So we will want to have a separate API, and remove the iframe when collapsed.

[2019-08-05 23:20] jridgewell commented on #23340
It's controlled by the viewer: https://github.com/ampproject/amphtml/blob/e01933c4758e7441f38662ac7082ed44d48db5e1/src/service/viewport/viewport-impl.js#L1405-L1439

[2019-08-05 23:23] lannka commented on #23689
Let's clean the remaining Object.defineProperty and ban the usage.

[2019-08-05 23:24] nainar commented on #17698
The change needed is as follows:

Change data-iframe-src to mention optional but needed for the AMP Cache.

[2019-08-05 23:28] nainar commented on #18615
Assigning this to @choumx since we need the ability to pass messages between threads for amp-script too.

[2019-08-05 23:37] nainar commented on #15125
Closing due to inactivity

[2019-08-05 23:37] #15125 closed

[2019-08-05 23:38] nainar commented on #10544
Duplicate of #11983

[2019-08-05 23:38] #10544 closed

[2019-08-05 23:39] #21743 closed

[2019-08-05 23:40] #17122 closed

[2019-08-05 23:40] nainar commented on #4479
Close per last comment

[2019-08-05 23:40] #4479 closed

[2019-08-05 23:42] prateekbh commented on #20804
We initially saw a performance dip when using priority hints instead of link prefetch.
@erwinmombay and @jridgewel can provide more solid results once the release performance dashboard has the complete data

[2019-08-05 23:43] prateekbh commented on #15706
This is a WIP and @erwinmombay, @kristoferbaxter has more context now

[2019-08-05 23:45] prateekbh commented on #16589
To be tracked under https://github.com/ampproject/amp-sw/

[2019-08-05 23:45] #16589 closed

[2019-08-05 23:45] prateekbh commented on #15710
@alanorozco has taken this over

[2019-08-05 23:46] prateekbh commented on #21649
probably can be closed as duplicate of #18615

[2019-08-05 23:50] nainar commented on #13436
Unable to reproduce. Please file a new issue if this is still a problem.

[2019-08-05 23:50] #13436 closed

[2019-08-06 00:44] Enriqe commented on #22975
Yes. I was planning on putting time on it this week for the fixit!

On Mon, Aug 5, 2019 at 3:00 PM Malte Ubl <notifications@github.com> wrote:

[2019-08-06 00:50] wassgha commented on #22739
@nainar the link is not working, could you update it please?

[2019-08-06 01:16] drewroberts commented on #21743
@cramforce Thank you for your help.

Don't forget me in the new world order:

<img width="524" src="https://user-images.githubusercontent.com/24581081/62504390-4032f600-b7c6-11e9-9faf-abf6df072098.png">

[2019-08-06 04:53] petekip commented on #23661
@newmuis Can you assign me this problem?

[2019-08-06 06:24] firmanpolyrific commented on #20959
does anyone here has solved this issue yet? I got the same issue

[2019-08-06 07:27] sebastianbenz commented on #23657
This is a must for being able to combine amp-autocomplete with infinite scrolling. Currently, this will result in the same search request being fired twice:

1. dummy form submission
2. amp-list src request

//cc @nainar

[2019-08-06 08:45] alexandr-kazakov commented on #23651
@choumx thanks for your reply

I just logged in from my Android 9 phone to my gmail and from my phone with the latest iOS. The html version is displayed everywhere instead of the amp version.
I have tried and through the app to go to gmail and just through the browser from mobile.

Also, I do not see in the settings how I can activate the display of the amp-version of email.

If the amp version of

[2019-08-06 09:16] romeuflores commented on #23449
Hi Cathy,

Our reproduction doesn't involve toggling/toggle actions.

The amp-iframe isn't displayed at all on first load.

Expected beahviour is that the amp-iframe is displayed without any user actions.

[2019-08-06 09:24] danieltxok opened #23725 "AMP Linker decorating anchor that points to elem in same page"
Hi,

we have a page with a form element at the bottom which has the attribute _id="contact-form"_. Above the fold there is a _"More info"_ CTA that takes the user to the form. This CTA has an anchor element and an attribute _href="#contact-form"_. This has traditionally worked.

However, with the linker, the URL is decorated when clicking on that anchor and the browser identifies that as a complet

[2019-08-06 09:44] matthieuberger commented on #23653
I followed the instructions, according to the document first step is

Can you reopen the issue please ?

[2019-08-06 10:00] vishal-taboola commented on #23619
@dvoytenko  any insight/info on when can we expect it to be closed/fixed ?

[2019-08-06 11:04] newmuis commented on #23661
@petekip done!

[2019-08-06 14:03] andresilveirah commented on #17742
@zhouyx thank you for your quick reply, it was definitely helpful. I'm working with @mguerra10128 to integrate our CMP solution to AMP and there's still one piece of the consent puzzle missing.
We're trying to pass some info to the iframe (according to https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md#client-information-passed-to-iframe) but the value

[2019-08-06 15:16] #23704 closed

[2019-08-06 15:27] dritter opened #23731 "`amp-date-display` inside `amp-list` does not render correctly"
There are multiple problems with `amp-date-display` inside an `amp-list`:

1. The validator fails to detect `amp-date-display` in mustache templates ("The extension 'amp-date-display' was found on this page, but is unused. Please remove this extension."):
[code]

2. `amp-date-display` fails to render if written inside of an `amp-list`:
![Screenshot_20190806_172540](https://user-images.githubuserco

[2019-08-06 15:41] prateekbh commented on #21945
The result of the data is to be shared by @erwinmombay and @jridgewell.
However in early results we saw a dip in performance when using priority hints vs `link rel=prefetch`

[2019-08-06 15:52] prateekbh commented on #17112
Closing as a duplicate of #19905

[2019-08-06 15:52] #17112 closed

[2019-08-06 15:56] prateekbh commented on #15703
This is completed and published behind an experiment.

@kristoferbaxter has more context on this

[2019-08-06 15:56] #15703 closed

[2019-08-06 15:58] prateekbh commented on #18055
adding @jridgewell (owner of amp-install-serviceworker) to be re-assigned

[2019-08-06 16:38] wassgha commented on #19914
@sebastianbenz could you please fix the demo for this one?

[2019-08-06 16:39] #23689 closed

[2019-08-06 16:40] #21527 closed

[2019-08-06 17:38] powerivq commented on #19650
Re-enabled test. Issue is now closed.

[2019-08-06 17:38] #19650 closed

[2019-08-06 17:49] #22376 closed

[2019-08-06 17:57] choumx commented on #23651
Gmail hasn't launched AMP4EMAIL on mobile yet.

https://gsuiteupdates.googleblog.com/2019/06/dynamic-email-in-gmail-becoming-GA.html

[2019-08-06 17:57] #23651 closed

[2019-08-06 18:01] powerivq commented on #23694
Fixed by https://github.com/ampproject/amphtml/pull/23705

Closing.

[2019-08-06 18:01] sparhami commented on #23097
Closed via #23328

[2019-08-06 18:01] #23097 closed

[2019-08-06 18:01] #23694 closed

[2019-08-06 18:06] calebcordry opened #23732 "apt get failing on travis builds"
Happened on last 3 consecutive master builds.

https://travis-ci.org/ampproject/amphtml/jobs/568456673

`The command "sudo -E apt-get -yq --no-install-suggests --no-install-recommends $(travis_apt_get_options) install expect-dev google-cloud-sdk openssl protobuf-compiler" failed and exited with 100 during .`

[2019-08-06 18:07] calebcordry commented on #23732
full log
[code]

[2019-08-06 18:07] sebastianbenz commented on #19914
Hm - the demo fails because amp-autocomplete is not wrapped in an amp-form:

[code]

This should be a validation error. Is it possible that this got introduced later causing the demo to break?

[2019-08-06 18:12] cathyxz commented on #23449
The `<amp-iframe>` from your original code is in a tab that is shown via the `<amp-selector>` `toggle` action on `select` by the following code from the tab that is clicked.

[code]

It's a duplicate of #20640, which will be fixed by #23688.

[2019-08-06 18:19] ayumihamsaki commented on #21945
Interesting, we been getting increased performance using a combination of rel-preload and priority hints api. However, we got a few people reporting about issues with the loading order when we were using:

[code]

With their custom scripts, the `importance="low"` and `async` seems to not work the exact way it's expected.

[2019-08-06 18:20] ayumihamsaki commented on #21945
Interesting, we're been getting increased performance using a combination of rel-preload and priority hints api. However, we got a few people reporting about issues with the loading order when we were using:

[code]

With their custom scripts, the `importance="low"` and `async` seems to not work the exact way it's expected.

[2019-08-06 18:21] ayumihamsaki commented on #21945
Interesting, we're been getting increased performance using a combination of rel-preload and priority hints api. However, we got a few people reporting about issues with the loading order when we were using:

[code]

The `importance="low"` and `async` seems to not work the exact way it's expected in the rendering order.

[2019-08-06 18:23] #23662 closed

[2019-08-06 18:23] erwinmombay opened #23734 "module build should be run under strict mode"
seeing a few errors:
Error: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
Error: Use of const in strict mode.

double check that module builds is ran under strict mode

[2019-08-06 18:25] #22384 closed

[2019-08-06 18:29] estherkim commented on #23732
Looks like network connections timing out, might be related to this - https://twitter.com/traviscistatus/status/1158798680264044544

[2019-08-06 18:42] sebastianbenz opened #23737 "[amp-autocomplete] Support toggle action"
In order to implement a ComboBox using amp-autocomplete, we need a way to hide the suggestion box via an action. We can use the `focus` action to show the suggestions, but there's no way to hide it when clicking the button.

See `<button on="tap:combo-input.toggle">` in the following example:

[code]

related: #19914

[2019-08-06 18:45] powerivq commented on #9679
@jasti It has been tested, and there are no delay on both types of ads on PWA.

@choumx The layout prioritization has been changed to 1 for ads on PWA and that might explain the sequencing.
https://github.com/ampproject/amphtml/issues/12232

I think it's in a fine state now. Feel free to reopen if there's anything concerning.

[2019-08-06 18:45] #9679 closed

[2019-08-06 18:53] zhouyx commented on #17742
Hello @andresilveirah and @mguerra10128

You mentioned that you are integrating with AMP as a CMP. I have a question on how you want to work with publishers. The example you provide (with inline `<amp-iframe>`) is the solution we provide to publishers who want to manage their own consent. There are some restrictions with this approach, including not allowing consent string.

If you are providing s

[2019-08-06 19:04] slsimon commented on #23356
Hi @torch2424 and @alanorozco - any updates on getting this fixed? We are getting more reports on it occurring so just wanted to check in

[2019-08-06 20:09] CrystalOnScript commented on #1316
@cramforce does [this PR](https://github.com/ampproject/amphtml/pull/15948) resolve this issue?

[2019-08-06 20:14] sparhami commented on #16160
One use case where version specific rules would be useful is for `<amp-carousel>` 0.2. We want enable some features that were previously not allowed under 0.1, like `layout="responsive"`. Currently, we will need to enable the option for all carousels, and fail at runtime for the old version.

[2019-08-06 20:15] CrystalOnScript commented on #5866
@erwinmombay - is this still an issue? Any suggested documentation updates to make this more clear for publishers?

[2019-08-06 20:16] #22463 closed

[2019-08-06 20:34] CrystalOnScript commented on #6369
@rudygalfi - is this still necessary? If so, should we set up a sync to discuss what this would look like?

[2019-08-06 20:40] CrystalOnScript commented on #7270
@cramforce @jpettitt - any updates on this terminology? Should we clarify `canonical ` vs `sharelink`?

[2019-08-06 20:53] #13753 closed

[2019-08-06 20:55] cvializ commented on #19914
Reopening since the bug is not fixed

[2019-08-06 21:00] CrystalOnScript commented on #11408
@nainar are you able to provide any insight on this issue? Is this still happening? I'm unsure where it would be documented.

[2019-08-06 21:01] CrystalOnScript commented on #13579
@newmuis - can you cross out whats been documented from the table? Thanks!

[2019-08-06 21:04] CrystalOnScript commented on #16272
@kristoferbaxter I see a lot of checked boxes! Can this issue be closed?

[2019-08-06 21:37] #23465 closed

[2019-08-06 21:44] cdwalls-washpost commented on #22215
@keithwrightbos if you are referring to the 'rc' key parameter, then I'm pretty sure that 'rc' is a "reserved key" in GAM/DFP and thus it is NOT available for targeting in the GAM/DFP targeting widget and it is also not reportable.  Therefore, it cannot be used for our use-case and we still need what we asked for:  the ability to enable a unique key-value for ad refresh v. non-refresh
(like we can

[2019-08-06 22:05] #23189 closed

[2019-08-06 22:11] CrystalOnScript commented on #17511
@pbakaus any chance you can address this for the fixit summit this week :)

[2019-08-06 22:16] CrystalOnScript commented on #18058
@nainar @Enriqe  - I see there's been a related PR, can this issue be closed?

[2019-08-06 22:17] choumx commented on #11213
I tried this again and couldn't reproduce the bug. I suspect the `{{next}}` data contained `?__amp_source_origin=...`.

[2019-08-06 22:17] #11213 closed

[2019-08-06 22:20] #23449 closed

[2019-08-06 22:24] CrystalOnScript commented on #20092
@Gregable - any suggestions on what to do with this one?

[2019-08-06 22:25] CrystalOnScript commented on #20159
@cathyxz - mind taking this one?

[2019-08-06 22:35] cramforce commented on #1316
It would probably be good to tell folks about this file.

On Tue, Aug 6, 2019 at 1:09 PM CrystalOnScript <notifications@github.com>
wrote:

[2019-08-06 22:36] cramforce commented on #7270
I think we can declare this obsolete.

[2019-08-06 22:36] #7270 closed

[2019-08-06 22:37] cramforce commented on #1612
@zhouyx Do you want to reconsider this?

[2019-08-06 22:39] nainar commented on #20456
@westonruter yes it is!

[2019-08-06 22:40] nainar commented on #22527
Deduping in favour of #12360

[2019-08-06 22:40] #22527 closed

[2019-08-06 22:51] romeuflores commented on #23449
Whether it will fix our issue I can't be sure.

But this is definitely the same as reported in #20640.

Whilst we do have a toggle action on our amp-selector, I'd like to stress the fact that the amp-iframe isn't displayed at all on first load.

There are no toggle actions involved. Any tests shouldn't involve user actions which trigger the toggle event.

[2019-08-06 22:52] cathyxz commented on #23731
I think this is because you cannot have nested templates in `<amp-mustache>`. See: https://amp.dev/documentation/components/amp-mustache/#nested-templates.

You can workaround this by referencing a template via its `id`.

For example, altering your above code to:

[code]

Live codepen: https://codepen.io/cathyxz/pen/vodZZQ?editors=1000

[2019-08-06 22:53] rsimha commented on #6242
The JAVA version is specified here: https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-e2e.md#building-amp-and-starting-a-local-server

[2019-08-06 22:53] #6242 closed

[2019-08-06 23:00] cathyxz commented on #15310
It's a bit silly, but I wonder if you could get this to work by putting `<amp-accordion>` inside of `<amp-list>` instead.

[2019-08-06 23:09] rsimha commented on #21457
Marking this as closed now that #22146 has been merged. Please reopen if you see any stray `%s`s in the wild.

[2019-08-06 23:09] #21457 closed

[2019-08-06 23:10] choumx commented on #20405
Ah, this actually has nothing to do with the bind expression syntax. The error is caused by trying to convert a prototype-less object to string via `String(obj)`.

[2019-08-06 23:10] lannka opened #23753 "Unskip tests in test-inabox-viewport.js"
https://github.com/ampproject/amphtml/blob/d7216cb2d4621783c94b2b054db46228a19bc1ed/test/unit/inabox/test-inabox-viewport.js#L343

[2019-08-06 23:11] choumx commented on #20405
https://github.com/ampproject/amphtml/blob/12541179f76ee25f8385a3ae2be81148da7c5b4e/extensions/amp-bind/0.1/bind-evaluator.js#L268

[2019-08-06 23:13] #17646 closed

[2019-08-06 23:15] lannka opened #23755 "Dedup/unskip test-amp-ad-fake.js & test-amphtml-ads.js"

[2019-08-06 23:17] lannka opened #23756 "Unskip test in test-ads-config.js"

[2019-08-06 23:18] lannka opened #23757 "Unskip test in test-amp-context.js"

[2019-08-06 23:26] nainar opened #23760 "amp-carousel should support no swipe in AMP for Email"
Using this to understand the requirements for `<amp-carousel>` in AMP for Email.

Do we disable swipe actions on the carousel on mobile and always show arrows?

The reason to do this could be to allow the swipe actions in the email client to run without hijacking the swipe action.
cc @choumx

[2019-08-06 23:26] newmuis commented on #13579
Done! (nothing has been documented 😟)

[2019-08-06 23:28] cvializ commented on #23429
The central challenge for this problem is this

1. How do we type the return value of `requireExternal('react')` and
2. How do we extend a class that is referenced from the namespace

Things I have tried:

1. Casting `const Component = /** @type {React.Component} */ (React.Component)` on an assignment and extending that value

[2019-08-06 23:37] #23629 closed

[2019-08-06 23:46] zhouyx commented on #1612
From my understand, we need a solution to recognize request from the same session. Right now we have the `PAGE_VIEW_ID` and the high entropy `PAGE_VIEW_ID_64` that's under active development. One should be able to group requests on the server side. Which in my opinion is preferred because by doing that server side, it improves the client side performance.

The only thing that I don't see here is t

[2019-08-07 00:07] Gregable commented on #20092
I'll assume @stephengardner doesn't want to take this one on. We can just fix it in the validator. No need for documentation change.

[2019-08-07 00:30] choumx commented on #21457
This is still an issue for `assert()` I think.

[2019-08-07 01:32] #23579 closed

[2019-08-07 06:46] omar-a-toma commented on #23504
@choumx we are using multiple templates in our website here for example [iprice.my](https://iprice.my/phones-tablets/)

[2019-08-07 06:49] dritter commented on #23731
@cathyxz Thanks. This works, but _only_ if the outer template is written as `<script type="text/plain"`, otherwise the validator shows:

[2019-08-07 09:59] dritter opened #23769 "Reveal hidden amp-list after button click with layout container does not work"
Hi there!

We would like to reveal an amp-list after a button was clicked. Unfortunately this does not work. The request to the backend is never made. If I remove the `changeToLayoutContainer()` (Button "Just Show List" in example) this works. I also tried to bind hidden and set a state without success.

Here is an example from the playground:

[code]

[2019-08-07 11:11] dritter commented on #23769
A workaround for that problem would be to wrap the list and make the wrapper invisible. Making that wrapper show/hide still does not work.

[code]

[2019-08-07 11:55] vineeth22 commented on #17308
@cvializ Can I take this up?

[2019-08-07 14:41] dritter opened #23771 "[amp-access] access attributes are stripped in amp-list"
We want to render a list of comments and give the user the opportunity to reply. If the user is not logged in, the reply link (which shows the form) should redirect to the login. We want to use `amp-access` for that matter, but that does not work in the `amp-list`. Below is a stripped down demo ready for copy & paste into the playground.

Disclaimer:
I am aware that this issue is a duplicate of #1

[2019-08-07 14:46] welkie commented on #1612
@zhouyx So in our case, session plays a role that may be different compared to most analytics vendors.

We group received beacons into sessions before storing them to perform analysis on them. This is where grouping them server side is simple. We would just maintain a database of `CLIENT_ID`s seen so far, where we generate a session ID for each `CLIENT_ID`, expiring in 30 minutes or whichever time

[2019-08-07 14:58] VMBindraban opened #23772 "amp-autocomplete does request on page load"
## What's the issue?

Loading a page with amp-autocomplete will make a request to the given `src` without user interaction

## How do we reproduce the issue?

The following code will make autocomplete make a request to `/suggest` without user interaction.

[code]

## What browsers are affected?

Chrome, not sure about other browsers

## Which AMP version is affected?

- amp V0
- autocomplete-0.1
-

[2019-08-07 15:12] #22473 closed

[2019-08-07 15:16] andresilveirah commented on #17742
Hi @zhouyx our intention was to make sure our consent UI (which will be wrapped in the iframe) is complete and working well with the AMP APIs **before** opening a PR to change the https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/0.1/cmps.js adding our configuration.
But it seems to me that we'll first have to add our CMP as a valid type and then make sure our code is workin

[2019-08-07 17:22] #20405 closed

[2019-08-07 17:25] zhouyx commented on #17742
Hello @andresilveirah I see, that's commonly asked question. I should definitely document it better. All configuration can be inlined. When you work on the development, you can simply inline the configuration to test locally. Could you please try inline your configuration? For example:

[code]

[2019-08-07 17:29] cvializ commented on #17308
Sure feel free to take it

[2019-08-07 17:31] gmajoulet commented on #22804
I think the original idea behind having a fixed font size was that it wouldn't take too much space over the publisher's story. On most phones and three panels desktop UI I'd say it's fine, but it's true that on fullbleed desktop or some tablets, the button is very small.

@hongwei1990 could you please help us here? Should we simply increase the font size on full bleed desktop / large touch screens

[2019-08-07 17:33] newmuis commented on #22804
This idea came from the fact that the responsive font size would take up the same percentage of space across different stories.

A fixed size font gets continually smaller as the device size gets larger (and vice versa, it will get larger as the device gets smaller)

[2019-08-07 17:41] #21895 closed

[2019-08-07 17:41] gmajoulet commented on #22804
Good point, thanks, let's start with that and revise if Hong comes with better ideas. :)

[2019-08-07 17:42] Joelsz commented on #23575
Though it doesn't always happen, but when happening the page doesn't show up at all, so this prevents us from going live with AMP Shadow.

It's more than just Performance, If this could be prioritized it would be appreciated. Thank you.

[2019-08-07 17:42] rudygalfi commented on #6369
@CrystalOnScript Yes, it's still relevant.

[2019-08-07 17:52] CrystalOnScript commented on #13579
Hahahahaha, thanks for the update!😂

[2019-08-07 17:52] CrystalOnScript commented on #20092
Thanks so much @Gregable :)

[2019-08-07 18:07] choumx commented on #10207
Related: #11470. Looks like this regressed #16404.

[2019-08-07 18:33] #23711 closed

[2019-08-07 18:44] choumx commented on #23760
Swipe gesture is allowed in AMP4EMAIL.

[2019-08-07 18:55] #23544 closed

[2019-08-07 19:06] ivanionut commented on #23225
Hi @lannka
do you have any idea how to solve this problem?

[2019-08-07 19:42] JoshuaGrimm opened #23784 "Critical info for AMP users"
You know how to make high ranking websites: this is critical info.
Good stuff:
Youtube "Shroud of Turin 2014 Wayne Phillips" and Shroudresearch.net
Forensic proof of Jesus...  Yep.

Scary:
AE911 (Architects and Engineers for 911 truth)
Denver airport is shaped like a swastika with murals of genocide, horse statue "blucifer, Anubis statue (God of death), a mural of a dead Jewish girl with a bible a

[2019-08-07 19:50] p2er opened #23785 "AMP-lightbox with custom transition"
## Describe the new feature or change to an existing feature you'd like to see

amp-lightbox only supports a fixed set on transitions which do not allow animation customization. A new animate-in attribute value like "custom" could allow for custom transition animations to be created (animate-in="custom"). This property should set a class after removing the [hidden] attribute instead of triggering

[2019-08-07 19:52] ellemit opened #23786 "Enable vendors to provide page level targeting for amp-ads"
DFP (Google Ads) provides a way for page-level customized targeting in regular JS tags.
This lets the developer define targeting common to all ad slots, once on the page, and be reused by all ad units.

Could we enable vendors to provide page-level targeting / ad parameter functionality, possibly as a meta tag in the head of the page?

Examples of page-level targeting:
Page level targeting guide i

[2019-08-07 20:04] #10207 closed

[2019-08-07 20:11] choumx commented on #9648
Closing as obsolete.

[2019-08-07 20:11] #9648 closed

[2019-08-07 20:13] choumx commented on #17353
Couldn't find a reasonable fix for this unfortunately. We'll need to wait for an upstream fix in Samsung Internet.

[2019-08-07 20:13] #17353 closed

[2019-08-07 20:16] powerivq opened #23787 "Add @powerivq to reviewers"
The requirement for being a reviewer has been met for @powerivq :

https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#reviewers

It is requested that @powerivq be added to https://github.com/orgs/ampproject/teams/reviewers-amphtml

[2019-08-07 20:18] lannka commented on #23787
@powerivq has merged 13 PRs https://github.com/ampproject/amphtml/pulls?q=is%3Apr+author%3Apowerivq+is%3Aclosed

LGTMed

[2019-08-07 20:21] lannka commented on #23787
@mrjoro could you help with this?

[2019-08-07 20:21] #19914 closed

[2019-08-07 20:24] mrjoro commented on #23787
Done!  I've invited you to the Reviewers team.  You'll have to join the ampproject org first, but then you should be automatically added to the team after you accept the invitation.

[2019-08-07 20:24] #23787 closed

[2019-08-07 20:27] cathyxz commented on #23785
This is actually something we are considering working on.

For better context, do you have demos / examples of the kind of experience you are trying to support?

[2019-08-07 20:33] #22381 closed

[2019-08-07 20:49] powerivq commented on #10982
https://github.com/ampproject/amphtml/pull/23782 fixed.

[2019-08-07 20:49] #10982 closed

[2019-08-07 21:00] powerivq opened #23791 "Unit tests and integration tests do not pass locally"
Some unit/integration tests, when running locally, encountered timeout failure while passing on travis. A sample console output is attached.

[code]

[2019-08-07 21:10] #23784 closed

[2019-08-07 21:21] powerivq opened #23793 "Visual-test failed to run because of build timeout"
I was running `gulp dist` and it appeared to have timed out.

[code]

[2019-08-07 21:22] powerivq commented on #23793
@zhouyx is this the same issue you encountered 7/1?

[2019-08-07 21:26] zhouyx commented on #23793
Looks very similar. @rsimha @erwinmombay is this because of the max invocation problem. And how can we fix it. Thanks.

[2019-08-07 21:32] #1316 closed

[2019-08-07 21:34] rsimha commented on #23793
I assume this is during local dev?

In any case, this should've failed reliably. Let me send out a PR that reduces parallelism to 1 during local dev.

[2019-08-07 21:35] lannka opened #23795 "Start a doubleclick experiment to collect data for new-loaders experiment"
related to #23780

[2019-08-07 21:42] cvializ commented on #23772
I don't think this violates any of AMP's guarantees or principles. As long as it happens after the component is laid out. What do the other @ampproject/wg-ui-and-a11y folks think?

[2019-08-07 21:42] lannka commented on #15329
closed by #23782

[2019-08-07 21:42] #15329 closed

[2019-08-07 21:59] cathyxz commented on #23772
I think it doesn't violate any of our principles, but it would probably be a nice attribute-gated feature to not fetch until user interaction, or even default behavior. Why do we currently prefetch it?

[2019-08-07 22:06] andrewwatterson commented on #23772
There are cases when merely focusing the autocomplete displays the currently fetched results (`min-characters=0`) though it isn't the default.

I can't think of a reason why an initial set of results would be useful if `min-characters>0`, so I'm fine getting rid of that request.

cc @caroqliu if she's still engaged though. :)

[2019-08-07 22:06] cvializ commented on #23772
It's prefetched so the user sees a result as soon as they interact

[2019-08-07 22:06] zhouyx commented on #23793
Talked to @rsimha offline. This seems to only happen during local dev. Will reduce the parallelism to 1 in local dev

[2019-08-07 22:12] rsimha commented on #23238
This has popped up again in a different local dev scenario. Let's just disable parallelism for local dev.

[2019-08-07 22:15] andrewwatterson commented on #23772
Hmm, I guess I was describing the `filter=none` case, where we assume the `[src]` includes the autocomplete value as a parameter.

In that case I can see it being desirable to explicitly remove the first request since it may cause endpoints to calculate a bunch of results based on the empty string, which could cause a lot of server thrash.

[2019-08-07 22:22] gmajoulet opened #23798 "AMP Stories video "controls" attribute should not be allowed."
Within an `amp-story`, `<amp-video controls` attribute should not be allowed.

The AMP Stories runtime code already handles video playback, and it creates confusing UI to the user.

We will go through the deprecation process before making this attribute invalid AMP.

[2019-08-07 22:33] #20167 closed

[2019-08-07 22:40] wassgha opened #23801 "`gulp dist` fails because of nailgun"
## What's the issue?

Ran `gulp dist` on a newly set up Macbook Pro, got this error

[code]

## Which AMP version is affected?

Latest master at the time of writing

[2019-08-07 22:44] #13833 closed

[2019-08-07 22:52] #23238 closed

[2019-08-07 22:52] #23793 closed

[2019-08-07 23:04] cathyxz commented on #23731
Okay, given that workaround, I think there are a few separate bugs here:

1. `<amp-date-display>` does not render correctly if you put the reference `<template>` in the page below the `<amp-list>`.

### Does NOT Render

[code]

<img width="418" alt="Screenshot 2019-08-07 at 4 01 26 PM" src="https://user-images.githubusercontent.com/1528181/62663529-b2bde600-b92c-11e9-8781-9889ef8b3df9.png">

### D

[2019-08-07 23:13] #18958 closed

[2019-08-07 23:30] dritter commented on #23731
#### Error 1
I can hardly see any difference between your examples.. I assume in the latter one the `<template>` Tag should be replaced with the `<script>` tag version?

Btw there is a mistake in the closing `</template>` tag (`<template/>`).

#### Error 2
Agreed.

#### Error 3
Agreed x2

Additionally the validator should discover `amp-date-display` inside of the `script` version of the template t

[2019-08-07 23:33] westonruter opened #23804 "amp-vimeo: Add support for unlisted videos"
## Describe the new feature or change to an existing feature you'd like to see

Normal Vimeo URLs look like `Such unlisted video URLs look like: https://vimeo.com/172355597`

But Vimeo also has the ability to create unlisted videos: https://vimeo.com/blog/post/share-unlisted-videos-with-private-links/

Such unlisted video URLs look like: https://vimeo.com/172355597/abcdef0123

However, the `amp-vi

[2019-08-07 23:33] westonruter commented on #23804
/cc @alanorozco

[2019-08-07 23:43] #22430 closed

[2019-08-07 23:57] zhouyx commented on #23793
Thank you for the fix!

[2019-08-08 00:21] choumx commented on #17863
This is because the expression parser builds string tokens one character at a time, and won't generate special string chars like line breaks etc.

This is not an issue for amp-state which processes special chars since it just does `JSON.parse(element.textContent)`.

We can replicate this behavior for amp-bind expressions.

[2019-08-08 04:01] #23791 closed

[2019-08-08 05:13] rsimha commented on #23732
This was resolved earlier today: https://www.traviscistatus.com/incidents/hl4vqb7hvv5n

[2019-08-08 05:13] #23732 closed

[2019-08-08 05:38] eRen4ik opened #23812 "AMP pages on desktop"
On https://informburo.kz/novosti.html (news website) AMP pages shows on desktop browsers ignoring canonical url. Both the URLs (AMP and non-AMP) are redirecting to the AMP. Problem usually affects all fresh "news" or articles on website.

For example, if you open any freshly posted article on informburo.kz you will see AMP page on desktop browser (all browsers Mozilla, Chrome, Edge, etc) and in mo

[2019-08-08 05:53] zhouyx commented on #1612
I see. Thank you @welkie for the explaination.

I'm a bit curious about the implementation here. Specifically how long is each session. Also how to figure out the session their beacons are going to be grouped into?

You can think of AMP Viewer as a container to display one or many AMP documents. The viewer determines what's a session for the embedded AMP documents. Here is a good [doc](https://git

[2019-08-08 08:48] antoinebisch commented on #13823
+1 to this. Some sites use CMS and server-side logic is not possible. This is an issue on this AMP-first site for instance: https://masterfulmobile.withgoogle.com/ where the desired user experience would be to keep the region choice across different verticals when navigating through pages from the top menu. At the moment, the country choice is reset when navigating as there is no way to pass this

[2019-08-08 09:00] VMBindraban opened #23814 "Dynamic properties in autocomplete JSON response"
## Describe the new feature or change to an existing feature you'd like to see

Currently `autocomplete` requires the `items` property on the datasource as hardcoded [here](https://github.com/ampproject/amphtml/blob/54a576f763f0816d9e24185fbe314780dfec771d/extensions/amp-autocomplete/0.1/amp-autocomplete.js#L269).

My suggestion is to add an option to select the name of the property.

An other sug

[2019-08-08 09:30] xiaotong-kk9 commented on #22381
Thanks Cathy!

[2019-08-08 10:29] MRBalbuena commented on #11133
What this solution proposed in [StackOverslow](https://stackoverflow.com/questions/23083462/how-to-get-an-iframe-to-be-responsive-in-ios-safari)

`iFrame {
  width: 1px;
  min-width: 100%;
}`

[2019-08-08 10:51] andresilveirah commented on #17742
Hello @zhouyx that's great! By inlining the CMP's config like you suggested I'm able to test our solution 🎉
At the moment everything seem to be working fine with one exception. Entering fullscreen.
In our consent UI I'm calling:
[code]
But the iframe is still displayed at the bottom of the screen:
<img width="720" alt="Screenshot 2019-08-08 at 12 44 27" src="https://user-images.githubusercontent.c

[2019-08-08 11:04] dritter opened #23815 "[amp-list] loading-indicators shown not long enough"
If the List is changed to a layout container and the request takes quite long, the loading indicators disappear too early. The request is still running, but the indicators fade away.

In the below example, clicking on the "Show List (broken)"-Button demonstrates the problem.

This is loosely related to #23769

[code]

[2019-08-08 11:24] dritter commented on #23769
That workaround is not flawless as well: Fetching the list endpoint is only triggered on scroll. If you have a huge container in between the button and the list, the list won't show up on click (and won't even if you scroll down afterwards):

[code]

[2019-08-08 12:40] VMBindraban commented on #23814
Figured out that `amp-list` is the correct component for this.

[2019-08-08 13:32] Homskiy opened #23816 "[amp-imgur] refused to display because "X-Frame-Options: deny""
When i try insert imgur gallery
`<amp-imgur data-imgur-id="a/XXtVaie" height="350" layout="fixed-height"></amp-imgur>
`
i get this error:

`"Refused to display 'https://imgur.com/a%2FXXtVaie/embed?pub=true' in a frame because it set 'X-Frame-Options' to 'deny'."`

But earlier it worked ...
Looks like the problem is that Imgur recently added the `x-frame-options: DENY` header

AMP Version: 19072317

[2019-08-08 14:32] MaximePlancke commented on #17742
Hi @zhouyx

We have some feedbacks about a problem with the AMP validator using amp-consent with the `type` attribute.
Here is the issue: `The tag 'meta name=amp-consent-blocking' is missing or incorrect, but required by 'amp-consent [type]'.`
We are trying to find where this error message comes from but we can't find any documentation about it. Adding `<meta name="amp-consent-blocking" content=""

[2019-08-08 14:57] VMBindraban commented on #23812
Correct me if i am wrong but isn't the canonical url only used by search engines?

[code]

[2019-08-08 15:24] #14246 closed

[2019-08-08 15:24] #18091 closed

[2019-08-08 15:24] #21673 closed

[2019-08-08 15:25] #18059 closed

[2019-08-08 15:36] sebastianbenz commented on #17686
I've started looking into this for AMP Optimizer (and to unblock SSR for WP). What's the problem with resize events?

https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L691

[2019-08-08 15:41] Enriqe commented on #18058
I think my branch got messed up at the time and pushed that commit by accident. Other than that I don't have context on this, sorry!

[2019-08-08 16:11] welkie commented on #1612
How we implement this right now for non-AMP sites is we have a JavaScript tracker client which sets cookies when its functions are called by the page's scripts (cookies set on that sites domain, not ours). The functions relate to sending beacons like `sendViewProduct()` and `sendAddToCart()`. One cookie is our "Visitor ID" which tracks who the visitor is, the cookie expires in 5 years. The other c

[2019-08-08 16:24] nainar commented on #23815
@andrewwatterson do you think the new loaders will also have this problem?

[2019-08-08 16:38] nainar commented on #23814
In your case the link rel="canonical" is also pointing to the AMP page. It should be pointing to the non AMP page.

I took a look at this page: https://informburo.kz/novosti/v-kyzylordinskom-sadike-detyam-davali-prosrochennye-i-protivopokazannye-lekarstva-.html

[2019-08-08 16:39] nainar commented on #23812
In your case the link rel="canonical" is also pointing to the AMP page. It should be pointing to the non AMP page.

I took a look at this page: https://informburo.kz/novosti/v-kyzylordinskom-sadike-detyam-davali-prosrochennye-i-protivopokazannye-lekarstva-.html

[2019-08-08 16:39] #23812 closed

[2019-08-08 16:45] sparhami opened #23817 "Support setting initial carousel slide via query param"
Hoping this can be also be considered into the feature request.

_Originally posted by @TWsky in https://github.com/ampproject/amphtml/issues/11734#issuecomment-420883898_

[2019-08-08 16:48] lannka commented on #23755
Took a closer look, the 1st test is a dup of test-amphtml-ads.js

the remaining amp-bind related tests should be migrated to an e2e test.

[2019-08-08 17:07] sparhami commented on #10313
Closing this as we do not have any plans to support swiping via dragging on desktop. For amp-carousel 0.2, we use a regular scrolling container. This allows users on laptops to swipe the carousel using a trackpad (two fingers left/right on MacOS).

/cc @nainar

[2019-08-08 17:07] #10313 closed

[2019-08-08 17:13] rsimha commented on #23801
@wassgha I've added the `--disable_nailgun` flag to mitigate the error you were seeing. If you can help me find a reliable repro that can be further debugged, I'm happy to see if there's something else at play that we can fix.

/cc @jridgewell who saw something like this, and knows how to debug the `gulp` process and extract the nailgun call stack.

[2019-08-08 17:18] rsimha commented on #23514
We're now left with two functions in `git.js` that identify branch points:

https://github.com/ampproject/amphtml/blob/4db22cf82e1b5f7671bc8665e56b907bced56bdd/build-system/git.js#L47-L56

https://github.com/ampproject/amphtml/blob/4db22cf82e1b5f7671bc8665e56b907bced56bdd/build-system/git.js#L174-L181

The first one is used on Travis, and the second one for local development. They both use `git me

[2019-08-08 17:18] #23514 closed

[2019-08-08 17:19] jridgewell commented on #17686
He's talking about https://github.com/ampproject/amphtml/blob/22467233e8e80336d164984ed2afa60ddb6e4d24/src/custom-element.js#L691. It needs to be set on the sizer in case the element's size changes before we initialize the custom element.

[2019-08-08 17:19] lannka commented on #22418
Inabox CSS cleanup experiment results turned out to be neutral. Ready to launch

[2019-08-08 17:25] wassgha opened #23820 "Create e2e tests for `amp-selector`"
Related #20640,  #23449 and #23688

Create e2e tests that would've caught those two race conditions.

[2019-08-08 17:37] erwinmombay opened #23822 "🚄 Release tracking issue for release 1908162035200"
# Release tracking issue

- [x] Release [1908061758110](https://github.com/ampproject/amphtml/releases/tag/1908061758110) is cut as a new canary release
- [x] Release 1908061758110 pushed to dev channel (2019-08-07 22:45 UTC)
- [x] Release 1908061758110 pushed to 1% (2019-08-08 21:28 UTC)
- [x] Cherry-pick (#23869) applied, new release: 1908121824440
- [x] Cherry-pick (#24020) applied, new release

[2019-08-08 17:38] erwinmombay commented on #23597
This is currently blocked from getting into production. We are seeing issues in the RC channel.

[2019-08-08 17:44] choumx commented on #21715
@patrickkettner Closing for now, please give more detail and I'll reopen.

[2019-08-08 17:44] #21715 closed

[2019-08-08 17:49] twifkak commented on #18059
(fixed by d97c0d93 of #23802)

[2019-08-08 18:13] cvializ opened #23824 "Investigate supporting Chrome standalone in addition to Safari"
Currently amp-stories change their behavior when loaded in a safari standalone page. This issue is to track a conversation about supporting Chrome standalone mode, or other browsers.

I didn't want to put this in the platform service in case the code that currently runs for Safari standalone does not work in the Chrome standalone mode

/to @ampproject/wg-stories

[2019-08-08 18:16] cvializ commented on #23824
I misread the code, this is not needed : )

[2019-08-08 18:16] #23824 closed

[2019-08-08 18:23] wassgha commented on #23816
Related to #10490 , the problem comes from the fact that we use `encodeURIComponent` on the ID, however, with IDs that are in the `a/xxxx` format this breaks because the slash is encoded. Essentially #10517 didn't fix it and I'm not sure how nobody complained about it for two years.

[2019-08-08 18:24] CrystalOnScript commented on #19320
Over to @zhouyx - thanks! :)

[2019-08-08 18:25] newmuis commented on #23640
Fixed by #23701

[2019-08-08 18:25] #23640 closed

[2019-08-08 18:25] newmuis commented on #23641
Fixed by #23701

[2019-08-08 18:25] #23641 closed

[2019-08-08 18:25] newmuis commented on #23644
Fixed by #23701

[2019-08-08 18:25] #23644 closed

[2019-08-08 18:25] newmuis commented on #23642
Fixed by #23701

[2019-08-08 18:25] #23642 closed

[2019-08-08 18:29] zhouyx commented on #17742
Hi @andresilveirah Great to hear that the inlining configuration works.

Just tested your example page. And I can confirm that the `enter-fullscreen` doesn't work well.

Implementation wise, there's a delay between AMP receives the `ready` message and actually set the UI visibility to true. If the `enter-fullscreen` is received between this period, the message will be discarded. Which is what happ

[2019-08-08 18:37] diantekyrie opened #23828 "Error on page: amp-ad-network-doubl…ick-impl-0.1.js:519"
##What's the issue?
Error looks it suggests an issue on Amp-Ad

Briefly describe the bug.
Error looks it suggests an issue on Amp-Ad

## How do we reproduce the issue?

1. Opt into Canary/RC
2. Open JavaScript Console
3. Open https://www.google.com/amp/s/www.mlb.com/amp/news/ian-happ-grand-slam-lifts-cubs-past-a-s.html

## What browsers are affected?
macOSX Chrome Version 76.0.3809.87

## Which AM

[2019-08-08 18:50] choumx commented on #23089
We can allow `itemprop` but `meta` is a bit more sensitive in AMP usage. Is `meta` necessary for your use case?

[2019-08-08 20:18] #23429 closed

[2019-08-08 20:18] newmuis commented on #18564
Actually, we should also not bounce a manual advancement followed by an automatic advancement; the manual advancement would trigger a page change, which would then reset the auto advance timeline.

[2019-08-08 20:25] nainar commented on #23815
Hi @cathyxz this seems to be an issue with the loading logic in `changeToLayoutContainer()` could you take a look when you get the chance?

The normal loading logic should cause this to keep looping.

[2019-08-08 20:30] erwinmombay commented on #23828
i can replicate this in stable/production (1907301630320) so ill proceed with 1%

[2019-08-08 21:18] #23082 closed

[2019-08-08 21:19] #22804 closed

[2019-08-08 21:35] CrystalOnScript commented on #16779
@jgluk - Does the update to the AMP URL API change this URL hashing issue in any way? Is a documentation update still needed?

[2019-08-08 21:41] theAdmiralNelson opened #23833 "Type Error: undefined is not a function"
## What's the issue?
We're getting a typeError inside of https://raw.githubusercontent.com/ampproject/amphtml/1907231757120/src/utils/rate-limit.js that's overwhelming our Sentry.io report.

undefined is not a function (evaluating 'a.setTimeout(e,c)')

Here's the code that's blowing up: ```
  function fire(args) {
    nextCallArgs = null;
    // Lock the fire for minInterval milliseconds
    locke

[2019-08-08 21:49] #20998 closed

[2019-08-08 22:00] lannka commented on #23828
I feel the stack trace is a red herring . but still @keithwrightbos in case he sees something.

BTW, I couldn't reproduce on my machine.

[2019-08-08 22:08] #19320 closed

[2019-08-08 22:33] lannka opened #23837 "_init_tests.js should not change global DOM"
In a Utopia world, no AMP code should mutate global karma window. All AMP services / mutations should only apply to `describes` iframe window.

[2019-08-08 22:37] lannka opened #23838 "Should ban the usage of document.body.appendChild in tests"
Many tests are adding elements to global document.

[2019-08-08 22:41] lannka opened #23839 "Get rid of the side effect of importing amp-abc.js"
[code]

The above line in tests would have a side effect causing amp-analytics custom element registered on global window. We should consider split all extension js to

in `amp-analytics/0.1/amp-analytics.js`
[code]

in `amp-analytics/0.1/main.js`
[code]

No unit test should ever import `main.js`, `amp.js` etc.

[2019-08-08 22:49] Gregable commented on #23190
Are you passing in a local validator rules file? Otherwise, the NPM pacakage autoupdates the validator rules by fetching them from https://cdn.ampproject.org/v0/validator.js, making the package evergreen.

[2019-08-08 22:49] #23190 closed

[2019-08-08 22:49] lannka opened #23842 "Don't use global sinon sandbox"
use env.sandbox instead. `env.sandbox` has custom `setUp` & `tearDown` logic baked in for `describes` tests.  Which sometimes can be critical to cause state leaks. see https://github.com/ampproject/amphtml/pull/23512#issuecomment-515806161 for example

[2019-08-08 22:50] #20092 closed

[2019-08-08 22:53] #19816 closed

[2019-08-08 22:54] #17935 closed

[2019-08-08 23:03] #23816 closed

[2019-08-08 23:04] #20640 closed

[2019-08-08 23:05] Gregable commented on #22555
Fixed.

[2019-08-08 23:05] #22555 closed

[2019-08-08 23:06] Gregable commented on #17519
Fixed (as release rolls out).

[2019-08-08 23:06] #17519 closed

[2019-08-08 23:11] Gregable commented on #20974
Fixed. You can see how this works here:
https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/dev_mode.out

The requirement is that you add `ampdevmode` to the `<html amp ampdevmode>` tag, with any other attributes. This will *always* emit a single error on the `<html>` tag. The validator code for that error is DEV_MODE_ONLY and the string version is exactly:

[code]

[2019-08-08 23:26] lannka commented on #23367
@oliverfernandez it does not seem right to me to use `fallback` to do another ad request. If the feature request is to retry with a different ad network (what so called mediation chain), I'd rather implement a feature for that. Having another dynamic element inside `fallback` can be abuse of `fallback`.

since @jasti is out, @nainar what you think from UI's perspective? The decision here can affec

[2019-08-08 23:27] lannka commented on #23367
@ampproject/wg-ui-and-a11y

[2019-08-08 23:34] erwinmombay commented on #23597
this has been promoted to production

[2019-08-08 23:34] #23597 closed

[2019-08-08 23:34] choumx commented on #18053
Deduping with #18053.

[2019-08-08 23:34] #18053 closed

[2019-08-08 23:38] newmuis commented on #23664
Sorry for the confusion; this was actually already fixed by #23773

[2019-08-08 23:38] #23664 closed

[2019-08-08 23:39] Gregable commented on #23259
Fixed

[2019-08-08 23:39] #23259 closed

[2019-08-08 23:39] choumx commented on #18586
Closing as status quo is acceptable by both AMP and SWG.

[2019-08-08 23:39] #18586 closed

[2019-08-08 23:40] choumx commented on #10478
Closing as obsolete.

[2019-08-08 23:40] #10478 closed

[2019-08-08 23:53] #19644 closed

[2019-08-08 23:59] Gregable commented on #15888
This was implemented a while ago by @honeybadgerdontcare

See example output in https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/0.1/test/validator-amp-geo.out

[2019-08-08 23:59] #15888 closed

[2019-08-09 00:04] Gregable commented on #19429
This _specific_ issue is now resolved. However, the fix is simply that the `<amp-sidebar>` no longer has a mandatory parent. The underlying issue is the poor HTML parser in the Javascript HTML Validator. That is tracked elsewhere though.

[2019-08-09 00:04] #19429 closed

[2019-08-09 00:08] sparhami commented on #20374
This is no longer relevant with amp-carousel 0.2 and #23840, since both types support the same layouts.

[2019-08-09 00:11] #19428 closed

[2019-08-09 00:24] sparhami commented on #23817
Closing as a dupe of #12659

[2019-08-09 00:24] #23817 closed

[2019-08-09 00:25] sparhami commented on #20617
Closing as a dupe of #20617, please re-open if there is a different feature requested.

[2019-08-09 00:25] #20617 closed

[2019-08-09 00:26] sparhami commented on #18911
Closing as this feature is already live.

[2019-08-09 00:26] #18911 closed

[2019-08-09 00:33] sparhami commented on #15181
Closing as this appears to be a dupe of #14505

[2019-08-09 00:33] #15181 closed

[2019-08-09 00:42] choumx commented on #21396
I see the following console error on Safari which looks like amp-bind's worker failing to load:

Need to update CSP per instructions here: https://amp.dev/documentation/components/amp-bind/?referrer=ampproject.org#errors

Curious why Chrome and Safari apply CSP differently though.

[2019-08-09 01:19] karansapolia commented on #23664
Oh! okay. Thanks for the heads up @newmuis . Do you have any other potential GFIs in mind for me to work on :slightly_smiling_face:?

[2019-08-09 01:26] wassgha commented on #23801
Solved this by switching from `python` 3 to `python` 2.7. Essentially a lot of the internal stuff is incompatible with `python` 3 and since my default `python` command is linked to `python` 3, I had to change some lines in `build-system/tasks/validator.js` and `third_party/nailgun/nailgun-runner` to point it to `python2.7` and had to install `protobuf` on the `python2.7` using `sudo python2.7 -m p

[2019-08-09 01:26] #23801 closed

[2019-08-09 01:58] newmuis commented on #23661
@petekip are you still interested in working on this?

[2019-08-09 04:02] eRen4ik commented on #23812
That's the problem. Canonical points at normal non-amp page, it's the amp-page showing on the desktop browser. If you refresh this page again or look at incognito mode then you'll see normal page. Please look again.

AMP url must be this:
<link rel="amphtml" href="https://informburo.kz**/amp/**novosti/v-kyzylordinskom-sadike-detyam-davali-prosrochennye-i-protivopokazannye-lekarstva-.html"/>

[2019-08-09 05:07] petekip commented on #23661
Yes @newmuis I am on it, thanks

[2019-08-09 05:32] #21396 closed

[2019-08-09 05:33] #23089 closed

[2019-08-09 06:14] jeffj6123 commented on #22961
I also see this issue. We use Google AdSense and this is breaking some of our pages

[2019-08-09 06:46] gaborszita commented on #20959
@firmanpolyrific which rsa key are you asking? public or private? The public key is at yourwebsite.net/.well-known/amphtml/apikey.pub You need to keep the private key locally on your own machine and don't show it to ANYONE. And also make sure the apikey.pub has content type "text/plain". You can check this by entering yourwebsite.net/.well-known/amphtml/apikey.pub in chrome. If chrome will want to

[2019-08-09 10:00] firmanpolyrific commented on #20959
hi @gaborszita

I checked it and it's text/plain.
however, I'm a bit confused about the steps here:
https://developers.google.com/amp/cache/update-cache#rsa-keys

I understand the step no. 1 but when I go to step 2, where is apikey.pub comes from?
is it when I'm on my web server, then generate private-key.pem and public-key.pem and just directly rename public-key.pem to apikey.pub ?

[2019-08-09 10:05] gaborszita commented on #20959
Yes, exactly. Rename public-key.pem to apikey.pub and upload it to yourwebsite.net/.well-known/amphtml/apikey.pub Then generate the link and update the cache. If you don't have an automated link generator, you can use myn, which is at https://github.com/gaborszita/amp-c-cache-update

[2019-08-09 10:08] firmanpolyrific commented on #20959
@gaborszita
wait did you say upload? so do i have to generate private and public key from our local instead on my webserver?

i use this for link generator
https://github.com/enteresanlikk/amp-cache-update

[2019-08-09 11:26] gaborszita commented on #20959
I don't know how generating on webserver works, but I generated the keys locally and uploaded the public key to /.well-known/amphtml/apikey.pub, and it worked. So... Can you please tell me how you generated the keys on the webserver? By the way can you tell me your website (so I can investigate, isn't there a problem.)

[2019-08-09 11:35] mufaddal7 opened #23854 "amp live"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-08-09 11:36] #23854 closed

[2019-08-09 11:40] firmanpolyrific commented on #20959
@gaborszita just like generate from local actually, I was tried to generate it from local or web server but still no luck.

the website is **nerdist.com**, if you search **the boys nerdist** on your chrome smartphone, it will shows 2 result that served as amp, we would like to change the template (from blue color) to red color just like the website is look.

article with title **Everything You Nee

[2019-08-09 11:47] timneutkens commented on #20974
Awesome @Gregable! Will have my team implement :+1:

[2019-08-09 12:26] mufaddal7 opened #23855 "AMP-List is supported in AMP stories , however while adding <template> it throws an error"
## What's the issue?

The demonstration in the amp.dev shows it's possible to use `<AMP-LIST>` with `<Template>` in **AMP stories** however, it displays an error.

**The tag 'template' may not appear as a descendant of tag 'amp-story-grid-layer'.**

## How do we reproduce the issue?

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fcomponents%2Famp-list.example.1.htm

[2019-08-09 12:39] mufaddal7 commented on #23798
Users should be encouraged to use the attachment feature. For keeping base UI simple

[2019-08-09 13:05] yunabe commented on #17803
Hi @jridgewell,

I'm facing the same issue with [this PR](https://github.com/ampproject/amphtml/pull/23853). Here is [the log of the lint job](https://travis-ci.org/ampproject/amphtml/jobs/569743109). I think `local/unused-private-field` rule fails to detect the usages of fields which are accessed with Destructuring assignment.

What is worse, another lint rule enforces me to rewrite

[code]

into

[2019-08-09 14:17] leafsy commented on #23453
@cathyxz Thinking of picking this up first. Would it simply involve adding a check for intrinsic layout in the `maybeGenerateSizes` method of `amp-img.js`?

[2019-08-09 14:36] #23637 closed

[2019-08-09 14:40] #23636 closed

[2019-08-09 14:40] #23638 closed

[2019-08-09 15:26] newmuis commented on #23645
@CrystalOnScript I think we should just remove this, since we talk about them extensively in the [metadata](https://amp.dev/documentation/components/amp-story/?format=websites#new-metadata-requirements) section.  WDYT?

@sebastianbenz it would be hard to preview because it's not actually a feature of the format; it's metadata provided for other platforms to take advantage of (which, I don't believ

[2019-08-09 15:36] sebastianbenz commented on #23645
@newmuis got it, yeah - you're right.

[2019-08-09 15:46] #3835 closed

[2019-08-09 15:46] #3861 closed

[2019-08-09 15:52] newmuis commented on #22747
Fixed by #23744

[2019-08-09 15:52] #22747 closed

[2019-08-09 16:09] #17686 closed

[2019-08-09 16:10] jridgewell commented on #17803
@yunabe: Whoops, I don't think I handled destructuring. I'll fix it, for now just mark the field as `@visibleForTesting`

[2019-08-09 16:12] newmuis commented on #23574
We're having additional conversations around this, which might affect the API design.  The "(i) icon" experience itself is going to be changing to better accommodate platforms that allow swiping between stories, and I want to make sure we have solidified plans for what that experience will look like before making API design choices.  While it's still up in the air, I think the API I proposed above

[2019-08-09 16:15] erwinmombay opened #23858 "Error: Cannot read property '__AMP__RESOURCE' of undefined at Z"
elevated levels of this error occurring on RC/canary

(https://cdn.ampproject.org/rtv/031908061758110/v0.js:226:24) at zj.f.scheduleLayout (https://cdn.ampproject.org/rtv/031908061758110/v0.js:309:40) at HTMLElement.b.toggleFallback (https://cdn.ampproject.org/rtv/031908061758110/v0.js:280:345) at Km.f.toggleFallback (https://cdn.ampproject.org/rtv/031908061758110/v0.js:104:103) at https://cdn.amp

[2019-08-09 16:31] #4642 closed

[2019-08-09 16:31] #5977 closed

[2019-08-09 16:31] #9882 closed

[2019-08-09 16:31] #11797 closed

[2019-08-09 16:31] #14505 closed

[2019-08-09 16:31] #15822 closed

[2019-08-09 16:31] #17318 closed

[2019-08-09 16:31] #17741 closed

[2019-08-09 16:31] #20374 closed

[2019-08-09 16:31] #20685 closed

[2019-08-09 16:51] zhouyx commented on #23858
Looking

[2019-08-09 17:03] zhouyx commented on #23858
I'm able to reproduce this locally. This is a regression affecting all `scheduleLayout()` I think.

https://github.com/ampproject/amphtml/blob/4d577afeb5c8a60262c0c04700fb3321d00136af/src/custom-element.js#L1636-L1639
I'm going to test with other `scheduleLayout` usage other than the schedule fallback element. My guess is that `this.element` is not persisted in the owner.scheduleLayout() context.

[2019-08-09 17:10] lannka commented on #23858
@powerivq let's revert the PR(s) and patch to RC/canary . hope it will still be a clean revert.

[2019-08-09 17:17] zhouyx commented on #23858
took a quick look, this could affect `<amp-consent>` and `<amp-carousel>`. I propose let's rollback 1% canary/RC before the patch.

[2019-08-09 17:31] gmajoulet commented on #23798
Good point, thanks for bringing it up!

Videos with `controls` enabled can be displayed in `amp-story-page-attachments`.

[2019-08-09 17:31] zhouyx commented on #23858
@powerivq and I figured the fix. it's not a bout the context 😄

`this.element` for `CustomElement` doesn't exist, the fix should be changing it to pass `this` instead.

[2019-08-09 17:38] sparhami commented on #11734
Closed via #23840

[2019-08-09 17:38] #11734 closed

[2019-08-09 17:38] diantekyrie opened #23862 "Amp Animation on AMP-Brightcove shows still processing"
##What's the issue?
Amp Animation on AMP-Brightcove shows still processing

Briefly describe the bug.
The loading animation is continuously going while video is playing.

## How do we reproduce the issue?
1. Opt into Canary/RC
2. Open JavaScript Console
3. Open https://www.google.com/amp/s/amp.si.com/nfl/2019/08/09/nfl-preseason-2019-week-1-highlights-takeaways

## What browsers are affected?

mac

[2019-08-09 17:39] powerivq commented on #23858
Looked more into this. I think that was caused by me mistreating a `Resources.scheduleLayout` as `BaseElement.scheduleLayout` so it changed the behavior. I believe we have high confidence of the fix and could roll forward instead.

[2019-08-09 17:40] estherkim opened #23863 "[amp-story] Share button is broken in Safari"
Seen in Safari 12.1.2, clicking on the share button in the top right corner does not open a modal as expected.

Can be seen in `examples/visual-tests/amp-story/basic.html`

[2019-08-09 17:41] #17863 closed

[2019-08-09 17:41] #22265 closed

[2019-08-09 17:42] #22802 closed

[2019-08-09 17:43] powerivq opened #23864 "Unit test to prevent #23858 from happening"
## Describe the new feature or change to an existing feature you'd like to see
https://github.com/ampproject/amphtml/issues/23858 is a regression from resources refactoring. We should also add unit tests to cover users of resources-impl from such regressions.

[2019-08-09 17:50] estherkim commented on #23863
Closing because nvm it's working

[2019-08-09 17:50] #23863 closed

[2019-08-09 17:51] #17023 closed

[2019-08-09 17:53] #20181 closed

[2019-08-09 18:02] newmuis commented on #23663
I actually cannot figure this one out for the life of me.  It's inheriting styles that were put on the `<amp-story>` element, but I don't know why it would do that.  The shadow root is definitely in place, but even if I write custom styles that target e.g. `<div>`, they leak through.

This doesn't appear to happen for other shadow roots we have in stories (at least the ones I tested, including sys

[2019-08-09 18:02] cathyxz commented on #23769
I was going to take a closer look at this, but for now:

The reason why your initial code didn't work is because `<amp-list>` shouldn't be changed to layout container prior to load by design. Technically, it doesn't work because layout container sizes to its contents and a hidden `<amp-list>` has size 0x0. Elements with dimensions 0x0 will not have their layout callback called, which for `<amp-lis

[2019-08-09 18:02] newmuis commented on #23663
/cc @gmajoulet not sure if you're still offering to look into things, but maybe you can verify I'm not crazy?

[2019-08-09 18:10] cathyxz commented on #23453
Yup! You can send a PR and tag me (@cathyxz) in the PR description for review. You should also add a unit test (in `test-amp-img.js`) to verify that sizes are are not generate for layout intrinsic.

[2019-08-09 18:15] powerivq opened #23869 "🌸 Cherry pick request for 23858 into 23822 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23858 | #23868 | **NO** | **YES** | #23822 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-08-09 18:22] #22787 closed

[2019-08-09 18:35] #23639 closed

[2019-08-09 18:35] #23643 closed

[2019-08-09 18:35] #23645 closed

[2019-08-09 18:35] #23646 closed

[2019-08-09 18:35] #23647 closed

[2019-08-09 18:35] #23649 closed

[2019-08-09 18:48] dvoytenko commented on #23619
@vishal-taboola Should be gone with the next release or the following one.

[2019-08-09 19:55] lannka commented on #23858
Please also check all the other places. Could this be caught by `gulp check-types`?

[2019-08-09 19:59] gaborszita commented on #20959
Hey, I think I found the problem. I found that your robots.txt file blocks indexing the apikey.pub You have to allow the crawlers to crawl it, then it'll work.

[2019-08-09 20:06] cramforce commented on #23869
LGTM

[2019-08-09 20:30] #18664 closed

[2019-08-09 20:42] powerivq commented on #23858
Checked thru my PRs and had no other findings.

[2019-08-09 20:55] calebcordry commented on #23732
This just happened again https://travis-ci.org/ampproject/amphtml/jobs/570000657 sounds like it's on travis side, I will leave it up to @rsimha how to handle.

[2019-08-09 21:30] zhouyx commented on #1612
Thanks for the detailed explanation!
cc @jeffjose. Jeff let's sync on this requirement next week.

If I get it correctly, here you are talking about non AMP pages. The session id is set by an AMP doc and passed to the NON AMP page via Linker param? Custom JS is only allowed with many restrictions on AMP. Thanks.

[2019-08-09 21:32] lannka commented on #23858
SGTM to patch the fix given the rollback PRs are big and also risky

we might investigate more why `gulp check-types` didn't catch the issue. @erwinmombay @jridgewell you have any insights?

[2019-08-09 21:45] choumx commented on #23858
It's due to the `@suppress` annotation on the class. Seeing if there's a way to remove it.

[2019-08-09 21:47] kristoferbaxter commented on #23862
@sparhami – Is this a regression with the recent loaders changes?

[2019-08-09 21:48] powerivq commented on #23858
Keeping this open till after cherry picking.

[2019-08-09 22:13] choumx commented on #23858
#23877 fixes the underlying type checking issue.

[2019-08-09 22:41] ghost opened #23879 "Is it possible to do WAI-ARIA to a list of social buttons in AMP-HTML"
I have a list of social share image link butttons on my amp-html page, on my desktop version (non-amp-html) I have created a jQuery script to allow the keyboard navigation to work.

I have already spoken to the w3c team and they told me to create the following `role="toolbar"`.

An example of what I'm talking about can be found here: https://www.w3.org/TR/wai-aria-practices-1.2/examples/toolbar/to

[2019-08-09 23:31] dritter commented on #23769
Thanks for the insights. That was very interesting and helpful.

Yes, I do think the user intent is clear here. The user clicks a button and IMHO showing an element that was hidden before is in the interest of the user..

Awesome! That indeed fixes the problem. I added `<div placeholder>Loading ...</div>` to my initial example (even without a fixed size) and it worked. For a better DX it would be

[2019-08-09 23:50] Enriqe opened #23882 "Error: Illegal invocation"
[code]

https://github.com/ampproject/amphtml/blob/d433dd449a203d2a2d4214cf73a1c985cc4be1a5/src/service/platform-impl.js#L138

[2019-08-10 00:23] welkie commented on #1612
Yep, this is how we do it on non-AMP pages. First party cookie is the source of truth, and it's mutated and retrieved with first party JS.

For our new system which will accept that a journey may begin on an AMP page and move to a non-AMP page, we're planning on using Linker param for our "visitor ID" (CLIENT_ID), which just so happens to write to a cookie as its generated, if you use an argument.

[2019-08-10 00:31] pbakaus commented on #17511
@CrystalOnScript sorry, didn't get to this! I wonder if @sebastianbenz could help?

[2019-08-10 02:02] cathyxz opened #23885 "[amp-img] auto-sizes generates wrong viewport ratio calculation"
It was observed in https://github.com/ampproject/amphtml/issues/23453#issuecomment-516182725 that auto-sizes can sometimes generate an incorrect viewport ratio. Investigate if this is layout intrinsic only (in which case this issue is resolved by https://github.com/ampproject/amphtml/pull/23880, or if this error occurs with other layouts.

[2019-08-10 02:40] firmanpolyrific commented on #20959
@gaborszita

is this will make crawlers do their job?

User-agent: *
Disallow: /wp-admin/
Allow: /wp-admin/admin-ajax.php
Allow: /.well-known/apikey.pub

[2019-08-10 03:19] designgrill commented on #23089
`meta`, inside the body, is definitely something we use on our regular website for things which are difficult to express using `itemprop`. Awaiting more details from our team regarding the criticality though. Will reopen or raise a new issue in case it is critical. Thanks!

[2019-08-10 07:03] gaborszita commented on #20959
Well, there is one problem: It is not in /.well-known/apikey.pub, it's in .well-known/amphtml/apikey.pub. So modify the line to:
`Allow: /.well-known/amphtml/apikey.pub`

[2019-08-10 11:57] petekip commented on #23661
@newmuis I have pushed the updates on my fork! Boilerplate now validates properly

[2019-08-10 21:28] mzrahmani opened #23886 "internationalized domain name - (IDN) show up in bookend as ASCII Punycode"
Hey,

I am using IDN for my website ( كلالوصفات.com ) in bookend all links to my website appear as ASCII Punycode ( xn--mgbaj6b6cjhb0b.com ).

check this link :
https://xn--mgbaj6b6cjhb0b.com/recipe/%D9%81%D9%88%D9%84-%D8%A3%D8%AE%D8%B6%D8%B1-%D8%A8%D8%A7%D9%84%D9%84%D8%A8%D9%86-%D9%85%D8%B9-%D8%A7%D9%84%D8%A3%D8%B1%D8%B2/recipe_story/

[2019-08-10 22:22] rsimha commented on #18748
This is now truly done, and future updates should be automatic modulo breaking changes. See https://github.com/ampproject/amphtml/pull/23759#issuecomment-520162085

[2019-08-11 15:26] rifqimulyawan commented on #15502
Sorry to ask, is there a fix to this problem, cant find the solution for my site till now

[2019-08-11 17:06] rsimha commented on #22452
This is now truly done, and future updates should be automatic (modulo breaking changes). See https://github.com/ampproject/amphtml/pull/23759#issuecomment-520162085

[2019-08-11 19:36] SKhasheva commented on #18076
Hello!
Is it still relevant?

[2019-08-11 21:54] #23663 closed

[2019-08-12 09:08] sebastianbenz commented on #17511
Just to be sure: we want this for amp.dev? If yes, I can help.

[2019-08-12 12:21] dritter opened #23891 "amp-bind: Parameterized AMP.navigateTo for SEO"
Hi!

The `AMP.navigateTo` action does not work with `amp-bind-macro` or even with `amp-state` (See demo below). [Related  documentation](https://github.com/ampproject/amphtml/blob/ab581081c76851f9e31e1558c9d06f8b4b4fbc52/examples/standard-actions.amp.html#L60-L64).

Context:
We want to display a list of comments and link to an edit page in a new tab. We build this with a button instead of a link,

[2019-08-12 13:46] #22975 closed

[2019-08-12 14:44] Enriqe opened #23892 "Document how to track anchor links in stories"
e.g.

[code]

[2019-08-12 15:13] Enriqe opened #23893 "Track clicks in amp-story-bookend"
Currently it isn't possible to track clicks coming from the `amp-story-bookend`. We should enable this behavior.

[2019-08-12 16:16] mrjoro commented on #23680
The Fixit was a success!

We had about [200 PRs merged during the week](https://github.com/search?q=org%3Aampproject+is%3Apr+is%3Amerged+closed%3A2019-08-05..2019-08-09&type=Issues) (not including the automated renovate-bot ones), with about [130 in amphtml alone](https://github.com/ampproject/amphtml/search?q=is%3Apr+is%3Amerged+closed%3A2019-08-05..2019-08-09&type=Issues).

If you had a small is

[2019-08-12 16:16] #23680 closed

[2019-08-12 16:19] radzhome opened #23896 "Template tags parsed by search crawlers causing 404 links etc."
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-08-12 16:37] Gregable commented on #20974
After consultation with @kristoferbaxter we will change the attribute from `ampdevmode` to `data-ampdevmode`. I'll update this issue when that is complete.

[2019-08-12 17:31] petekip commented on #23661
Hi @newmuis , did you get a chance to confirm the fix?

[2019-08-12 17:32] #23731 closed

[2019-08-12 17:50] dritter commented on #23731
Thanks @cathyxz

[2019-08-12 17:59] sparhami commented on #23862
The gif appears to show a loader rendered by `<amp-brightcove>` itself and not our new loader. I wasn't able to reproduce on canary/rc, so I'm not sure if there is anything about the new release that would cause a difference in behavior. Since the extension is basically just an iframe, the issue is likely on their end.

[2019-08-12 18:15] #22012 closed

[2019-08-12 18:15] cathyxz commented on #22524
Closed by https://github.com/ampproject/amphtml/pull/23866.

[2019-08-12 18:15] #22524 closed

[2019-08-12 18:19] AndrewKGuan commented on #22963
but that's not what happens if someone just drops the code snippet provided by the example into their source code, right? In this case, which I think a lot of folks won't suspect too much, there's no browser safety feature to prevent evil.com from taking advantage of the endpoint?  I understand the users themselves should make sure their endpoints won't get exploited that way, but as a message del

[2019-08-12 18:24] cramforce opened #23899 "Error on example pages"
Caused by #23844
May need a try-block.
<img width="428" alt="Screen Shot 2019-08-12 at 11 24 06" src="https://user-images.githubusercontent.com/89679/62888247-b74f1980-bcf3-11e9-9dcf-337c37736736.png">

[2019-08-12 18:27] ericandrewlewis opened #23900 "Support First Input Delay changes in Chrome 77"
The `entryType` for the first input delay PerformanceEntry is changing from `firstInput` to `first-input` in Chrome 77 (see [chrome commit](https://github.com/chromium/chromium/commit/8bae97ee230d843dc27336679257348f0a66a44c#diff-012ea1d48b2f80f230c99f48d06eeca2)).

We should follow these changes while supporting both names across the new version release.

[2019-08-12 18:27] dvoytenko commented on #22963
@AndrewKGuan no, that's pretty much what the code snippet does. The preflight requirements would ensure that `amp-same-origin` wouldn't make it this far from an `evil.com` domain.

[2019-08-12 18:31] #23882 closed

[2019-08-12 18:32] sparhami commented on #23899
Duplicates #23882
Fixed via #23882

[2019-08-12 18:32] #23899 closed

[2019-08-12 18:43] #18845 closed

[2019-08-12 19:25] newmuis commented on #23661
Hey @peterkip, can you create a pull request to pull the changes from your fork into the main amphtml repository?

[2019-08-12 19:45] jonasmarco opened #23903 "amp-facebook-comments do not warn on invalid `data-href`"
## What's the issue?

I implemented amp-facebook-comments on a page of my site, but it's not loading.

https://i.imgur.com/DveB8Zb.jpg

## What browsers are affected?

Google Chrome

## Which AMP version is affected?

1907301630320

A page example where it is implemented
https://blog.appegada.com/blog/149/a-causa-do-refluxo-em-pets-pode-ser-a-altura-do-comedouro/amp

[2019-08-12 20:01] cathyxz commented on #302
I think we don't need to do this anymore because lighthouse already has a check for image optimization and oversized images will result in docked points.

[2019-08-12 20:01] #302 closed

[2019-08-12 20:18] #23264 closed

[2019-08-12 20:47] sparhami commented on #23879
You can do something like the following jsbin: https://jsbin.com/ledopojawe/edit?html,output

This uses `<amp-selector>` with keyboard-select-mode="focus" to move focus over as you navigate with arrow keys. It does not have support for the home/end keys, which is something we can look into adding.

[code]

You probably want to cancel out the selected styling since it doesn't make sense to keep vis

[2019-08-12 21:02] sparhami commented on #23903
The problem seems to be with the `data-href`, it is `data-href="https://http://blog.appegada.com.br/blog/149/a-causa-do-refluxo-em-pets-pode-ser-a-altura-do-comedouro"`. The extra `https://` (or `http://`) seems to confuse the Facebook comments code.

It looks like the validation for the extension currently does not validate that this is a validly formed URL. I'm not sure if that is a change we ca

[2019-08-12 21:07] sparhami opened #23905 "Support home/end keys in amp-selector"
_Originally posted by @sparhami in https://github.com/ampproject/amphtml/issues/23879#issuecomment-520589015_

[2019-08-12 21:19] #1347 closed

[2019-08-12 22:48] ayumihamsaki commented on #23879
@sparhami

Thank you that is prefect. Good to see it's gonna be mentioned in the doc's. 👍

[2019-08-12 22:56] #23352 closed

[2019-08-12 23:20] #22435 closed

[2019-08-13 00:01] leafsy commented on #23905
I'd like to pick up this issue; my assumption is that home key would bring focus to the first element in the selector (leftmost one if document is LTR) and end key to the last element?

[2019-08-13 00:46] cathyxz opened #23912 "Request for @leafsy to become a collaborator on amphtml"
https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#roles

Relevant PRs: #23880, #23906.

/cc @leafsy

[2019-08-13 00:57] mrjoro commented on #23912
@leafsy congrats on becoming a Collaborator!  I've sent you an invite to join the ampproject org and the Collaborator GitHub team.

Note that this doesn't quite yet give you write access to the amphtml repo while we work on getting a bot in place to ensure Reviewer approval of PRs.  @rsimha / @erwinmombay is there an issue tracking that work?

[2019-08-13 00:59] wassgha opened #23913 "Request to add wassgha@ to the reviewers group"
- Previously a core contributor
- 45+ PRs
- Owner of multiple extensions
- Satisfied the [Reviewers](https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#reviewers) requirements
- Will review code for food.
 ![image](https://user-images.githubusercontent.com/591655/62907979-8d651980-bd2a-11e9-8f0c-5464f367d820.png)

List of PRs [here](https://github.com/ampproject/am

[2019-08-13 01:00] mrjoro commented on #23913
Approved and added!

[2019-08-13 01:00] #23913 closed

[2019-08-13 01:26] pbakaus commented on #17511
@sebastianbenz yep, amp.dev! thanks!

[2019-08-13 02:03] yunabe commented on #17803
Thank you for the feedback, Justin. I suppress the lint error with @visibleForTesting for a while.

[2019-08-13 05:27] psdtomanythings opened #23915 "Allow <amp-form> in <amp-story-page-attachment>"
Currently, only certain components are allowed to be used in <amp-story-page-attachment>. amp-form is not the one that can be used. Allowing amp-form in page attachments can open up a whole new array of opportunities when it comes to lead generation / sign-ups, etc. Currently, there is no data collection point available anywhere in AMP-Story. We plan to experiment AMP Stories as an alternative for

[2019-08-13 05:37] petekip commented on #23661
@newmuis  I have created the pull request.

[2019-08-13 06:56] vigneshcamar commented on #23166
@lannka @choumx

Hi Guys,
We have starting replicating our JS in the new extension, using the AMP components which you guys have mentioned for link-swapping and analytics events. Is there any process to be followed for this? Or just a simple CR will do for the contribution?

[2019-08-13 07:59] sebastianbenz commented on #17511
Can someone who is an owner of the amp project organization please run through steps described here and send me the code: https://help.github.com/en/articles/verifying-your-organizations-domain. I'll update the TXT records then.

[2019-08-13 09:13] nitzanj commented on #21500
Following the design review, here are the main takeouts:
* Minimize client side Javascript as much as possible. Current solution requires a bit of client side processing however it's built in generic way, as to support future implementations with leaner (or not at all) client side code.
* Currently there's an issue with the amp cache that severely affects delivered image size. Images are delivered

[2019-08-13 09:32] VMBindraban opened #23916 "amp-carousel not showing loading indicator in firefox"
## What's the issue?

`amp-carousel` is not showing the loading indicator when loading the images.
It shows the `alt` of the image until the images is loaded.

In chrome the `alt` text is not shown but the loading indicator is (which is correct).

## How do we reproduce the issue?

[code]

## What browsers are affected?
Firefox 68.01 Desktop

## Which AMP version is affected?

amp-carousel-0.1
amp

[2019-08-13 10:14] mufaddal7 commented on #23915
The main focus of AMP Stories is to create full-screen visual experiences, which are super fast in speed, adding forms to it would be a negative feature cause it will **interfere with the tappable interactions**.

[2019-08-13 10:47] newmuis commented on #23661
@petekip can you provide a link to the pull request here? I am unable to find it.

[2019-08-13 11:36] alabiaga commented on #23450
@alexandr-kazakov

Apologies for the delayed update but as suspected this is related to the restrictions mentioned. We are in the process of increasing the cap size as well as improving the error message propagated to the user. Thanks

[2019-08-13 11:36] alabiaga commented on #23450
cc\ @GoTcWang

[2019-08-13 11:44] umuur opened #23919 "amp-story-auto-ads not working"
## What's the issue?

amp-story-auto-ads component not rendering the ads. It fires:
"utils.js:60 Uncaught TypeError: Cannot read property 'contentDocument' of undefined"

This was working fine with the ads before. Yesterday, I realized that the ads not working anymore. Also, the public test page which shows the ad not working anymore.

## How do we reproduce the issue?

examples/amp-story-auto-ads

[2019-08-13 12:17] jonasmarco commented on #23903
Hi @sparhami, I removed 'https: //' from the url and resolved, thank you very much.

The CORB message continues, but does not affect rendering.

But once thanks :)

[2019-08-13 13:13] machal commented on #22430
@CrystalOnScript I don't think [this](https://github.com/ampproject/amp.dev/pull/2730/commits/e4bc36daed6e2a0cf7f3729847b3570357e9feeb) solves the issue. This is solution for [multiple images downloading problem](https://github.com/ampproject/amphtml/issues/22430#issuecomment-495886710) mentioned by @robinpokorny.

I've [suggested](https://github.com/ampproject/amphtml/issues/22430#issue-447096777

[2019-08-13 13:47] ericfs opened #23921 "Update PerformanceObserver to use buffered flag"
##  What's the issue?
AMP does not use the `buffered` flag for `PerformanceObserver` because it was not supported in Chrome.
https://github.com/ampproject/amphtml/blob/a72928c4285524c049958ea334dd3be12ddc4414/src/service/performance-impl.js#L297
https://github.com/w3c/performance-timeline#buffered-flag

Support for `buffered` is now targeted to Chrome M77:
https://bugs.chromium.org/p/chromium/issu

[2019-08-13 13:48] ericfs commented on #23921
/cc @ericandrewlewis @tdresser @npm1

[2019-08-13 14:09] petekip commented on #23661
@newmuis here you go:  https://github.com/newmuis/amphtml/pull/1/commits/347afef1dbd920ecbdb25205211261b337313689

https://github.com/newmuis/amphtml/pull/1

[2019-08-13 14:17] ghelapratik commented on #23915
@mufaddal7 - In that case, the page attachment itself shall be not allowed. I am requesting a feature where we can implement form inside a page attachment. Page attachment has no tap interaction. Please find more details at https://github.com/ampproject/amphtml/issues/20209

Hope this makes more sense now ?

[2019-08-13 15:54] choumx commented on #23891
Can you elaborate on this?

[2019-08-13 16:00] choumx commented on #23896
This sounds like a crawler issue. Not sure how this is actionable by AMP.

[2019-08-13 16:01] #23541 closed

[2019-08-13 16:06] dritter commented on #23891
Sure, to save crawl budget, we try to point the bot only to the links that are worth it. In our case we have some admin links in the markup that are not relevant to the bot. Plus the admin links showed up in the cached text version of the site, so we assumed the bot crawled all `href` attributes..
So long story short: To avoid this we changed the internal admin links to buttons with `navigateTo`.

[2019-08-13 16:11] choumx commented on #23542
Duplicate of #23619.

[2019-08-13 16:11] #23542 closed

[2019-08-13 16:16] mrjoro commented on #17511
I've followed the steps and sent you the info.

[2019-08-13 16:34] #20049 closed

[2019-08-13 16:47] CrystalOnScript commented on #22430
@machal the spec [does state that `picture` is disallowed](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/#html-tags), [addressed in this PR](https://github.com/ampproject/amphtml/pull/22481).

I apologize, but I'm confused by the phrasing of your second bullet,  It is unclear what your request update is. Would you mind expanding?

[2019-08-13 17:04] #13282 closed

[2019-08-13 17:09] lannka commented on #23492
we should support [macro substitution](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#page-and-content) in `<amp-ad-custom src="https://example.com/getad?location=CANONICAL_URL">`

@glevitzky do you have bandwidth to work on this?

[2019-08-13 17:30] jaygray0919 commented on #23672
Tested proposal here: https://afdsi.org/amp-list-07/. Also shared on Slack (https://amphtml.slack.com/archives/DCCSEK06A/p1565088453000200).

[2019-08-13 17:37] sparhami commented on #23905
Yes, I think that is all that needs to be done here.

[2019-08-13 17:50] samparnell opened #23925 "ampUrls.batchGet returns inconsistent results"
## What's the issue?

My customer (Hearst publishing) has live, valid, amp pages that are present in the amp cache. The Google ampUrls.batchGet api fails to report that they are present in the cache.

This issue has been hard to pin down but I have consistently seen the ampUrls.batchGet api misreport content, that is valid and present in the cache, for the majority of this year.

## How do we repr

[2019-08-13 17:56] samparnell commented on #23925
Additional note: I just retested this using the single link in the request. I have two browser windows open on the google api test. One window consistently returns a valid response, the other one consistently returns the NO_AMP_URL response. So the exact same request is giving inconsistent responses.

Request:
[code]
Response in window 1:
[code]
Response in window 2:
[code]

[2019-08-13 17:57] choumx commented on #23672
Thanks for sharing those. Looks like the first two cases should work:

[code]

[code]

The second one should not cause SDTT errors.

[2019-08-13 17:59] dvoytenko opened #23926 "Integrate user activation for resize events"

[2019-08-13 18:11] samparnell commented on #19516
Still seeing this on a consistent basis.
https://github.com/ampproject/amphtml/issues/23925

[2019-08-13 18:16] erwinmombay commented on #23912
the system will still be relying on the "reviewers" team that we've established on github (this is for reliability purposes)

[2019-08-13 18:18] cathyxz commented on #23912
Does that mean Collaborators will have permissions to merge their authored PRs after said PRs have been approved by Reviewers?

[2019-08-13 18:19] sparhami commented on #23916
I could not reproduce the issue locally. Do you have a demo page (e.g. on jsbin) where you see the issue?

[2019-08-13 19:08] rsimha commented on #23912
We have a [few issues](https://github.com/ampproject/amp-github-apps/issues?q=is%3Aissue+is%3Aopen+label%3A%22Category%3A+Owners%22) in the `amp-github-apps` repo to track this work. @rcebulko is taking over this work from @erwinmombay, and will begin working on it very soon.

[2019-08-13 19:18] #23621 closed

[2019-08-13 19:19] cathyxz opened #23927 "[amp-sidebar] Swipe to dismiss sidebar"
We currently support swipe to dismiss in `<amp-lightbox-gallery>` and the `video-docking` feature. Implement swipe to dismiss for `<amp-sidebar>`.

If possible, refactor the common aspects of this feature out of amp-lightbox-gallery, video-docking, amp-sidebar into a library function (e.g. in the gestures library or a standalone class).

[2019-08-13 19:32] #17803 closed

[2019-08-13 19:40] choumx commented on #23869
Cherry-pick is complete.

/to @powerivq for the post-mortem.

[2019-08-13 19:45] samparnell commented on #23925
Additional note:
I just retested this and noticed that my single link example was using the publisher amp url not the html url.

Please see the two examples below, using the amp url is successful, using the html url is not.
The html page does have the correct amphtml tag present.
The canonical tags match.

AMP Request:
[code]
Response:
[code]
HTML Request:
[code]
Response :
[code]

[2019-08-13 19:59] #23203 closed

[2019-08-13 20:04] mrjoro commented on #23266
We've cancelled the live design review; the AMP4Email WG will provide a written update.  @choumx please link to that here when it's ready.

[2019-08-13 20:04] #23266 closed

[2019-08-13 20:05] #23619 closed

[2019-08-13 20:30] Pateriack commented on #15891
"We are definitely considering ways to improve upon the interactivity in stories"

@newmuis any updates on this?

[2019-08-13 20:30] Pateriack commented on #21746
@newmuis Any updates on this?

[2019-08-13 20:36] choumx commented on #22970
Looks like this can be closed with #22999.

[2019-08-13 20:36] #22970 closed

[2019-08-13 20:36] newmuis commented on #21746
We're in the midst of a reviewing this from a security perspective and working through some changes to the engineering design as a result of that.  We are probably targeting end of Q3 for this to hit production.

Sorry I missed your previous comment; our plans did not include the ability to mix iframes with inline content.  We'll almost certainly launch the iframe-only case first, but can also thi

[2019-08-13 20:39] newmuis commented on #15891
This feature is not one that we have yet; we think we've identified some of the pieces we'd need to put in place to make this work, but it's probably still several months out.

But, for interactivity more generally, we've implemented an experimental feature called "branching" (enabled with the `amp-story-branching` experiment) that allows constructing non-linear stories (e.g. tap targets can jump

[2019-08-13 20:43] choumx commented on #18208
UA looks like Mobile Safari UIWebview with a high number of reports from spammy sites. Going to silence this on our reporter.

[2019-08-13 20:45] choumx commented on #22357
@jridgewell Is this issue still outstanding?

[2019-08-13 20:49] jridgewell commented on #22357
Yah, it's gonna be a **big** change to fix this.

[2019-08-13 21:11] MkVII opened #23934 "AMP-Experiment Support Text Changes"
We can currently experiment with the CSS styling of elements as per: https://amp.dev/documentation/examples/components/amp-experiment/?format=websites

However there does not appear to be a mention about experimenting with text elements.
For example, if I want to experiment with different button texts, I currently can't.
Sure I can test different CSS styles, but having text experiments would be ep

[2019-08-13 21:13] choumx opened #23935 "Error: null is not an object (evaluating 'new a.Image')"
[code]

My guess is the `window` is destroyed by the time `Transport.sendRequest` is called. A null check may fix it.

/cc @ampproject/wg-analytics

[2019-08-13 21:27] choumx opened #23936 "Move FRAGMENT_PARAM out of amp-viewer-integration"
`FRAGMENT_PARAM` is needed for stories analytics on some viewer-less embed cases, whose pages naturally won't have the `amp-viewer-integration` extension.

Let's move it into the default set of variables in `url-replacements-impl.js`. We can leave `ANCESTOR_ORIGINS` where it is since it still makes sense being coupled to a "viewer".

/to @ampproject/wg-stories

[2019-08-13 21:34] choumx commented on #15883
This variant doesn't seem to be happening anymore but #9177 still is. Closing this and reopening that issue.

[2019-08-13 21:34] #15883 closed

[2019-08-13 21:38] choumx commented on #9177
As of writing, there are three separate code paths that cause this error:

[code]

[code]

[code]

[2019-08-13 21:48] cathyxz commented on #23879
/cc @CrystalOnScript is there a reasonable place in our documentation / amp.dev to add this? For example, is there a generic way to add searchable examples with component and area tags (e.g. this example could be tagged with amp-selector, amp-social-share, accessibility, keyboard navigation, etc.).

Would we want to be more proactive and consider documenting this as a best practice under `amp-soci

[2019-08-13 21:51] cathyxz commented on #23912
Hmm, so it looks like it'll be a race between getting merge permissions as a reviewer vs. waiting for these issues to land in production.  @leafsy +oil! xD

[2019-08-13 21:51] #23912 closed

[2019-08-13 22:06] choumx commented on #17969
UA is Mobile Safari UIWebView (go figure).

100 replaces within 30s sounded weird until I looked at the page, which featured a 40-image carousel with `on="slideChange:AMP.setState(...)"`. If users tap really quickly through the images, I can see how this quota is hit.

Should be fixable by debouncing replace(). Need to be careful to flush when push() is called though.

[2019-08-14 01:13] choumx opened #23939 "🚄Release tracking issue for release 1908162134430"
# Release tracking issue

- [x] Release [1908131750340](https://github.com/ampproject/amphtml/releases/tag/1908131750340) is cut as a new canary release
- [x] Cherry-picks (#23948, #23965, #23967) applied, new version: 1908150025400
- [x] Release 1908150025400 pushed to dev channel (11:12 PM, Aug 14, 2019 UTC-4)
- [x] Release 1908150025400 pushed to 1% (2:48 PM, Aug 15, 2019 UTC-4)
- [x] Cherry-pi

[2019-08-14 04:24] ghelapratik commented on #23915
@choumx  - This being assigned to WG: stories means that this issue needs to be discussed in the Working Group first and then assigned priority?

[2019-08-14 06:13] newmuis commented on #23661
Hi @petekip, can you instead make a pull request to the ampproject/amphtml repository?  Please also make sure that the only commits from the pull request are your own, and that other changes aren't being pulled in mistakenly

[2019-08-14 08:08] petekip commented on #23661
Hi @newmuis ,
I see, I have done as you advised. Kindly check https://github.com/ampproject/amphtml/pull/23940

[2019-08-14 10:59] mbelchin opened #23941 "AMP4EMAIL: Polling component for chat feature"
## Describe the new feature or change to an existing feature you'd like to see

I would like to know if there's any plan on add support for **amp-live-list** for **Amp4Emails**.

## Additional context

We're experimenting with this technology and we are right now thinking about to use it in production.

Basically we are using amp-form to send data to our servers, but we need to get data coming bac

[2019-08-14 11:13] rrjanbiah commented on #2745
@aghassemi @darkbluewalrus

As @paulrobillard account is currently not available, his comment is not available here. Do you remember his solution and possibly share them again? TIA

[2019-08-14 12:00] machal commented on #22430
@CrystalOnScript So, my first point is solved, thank you!

Second point was suggestion to update these pages (or one of them):

- https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/art_direction/
- https://amp.dev/documentation/components/amp-img/

When I was looking for the information about `<picture>`, those pages were first I've visited. I think this is really common s

[2019-08-14 12:18] ayumihamsaki commented on #23879
@cathyxz @sparhami

p.s. There is an error with the `<amp-selector>` it doesn't work for `Home` and `End` buttons.

- `Home` button should go to the first item.

- `End` button should go to the last item.

Should I open another github issue for that?

[2019-08-14 14:46] gmajoulet commented on #23915
Thanks for filing this feature request! We've been discussing this as part of another bigger feature. We've had some security concerns (phishing, since the domain is not always clearly visible to the user) in the past that prevented from enabling `amp-forms` within `amp-story`, but we might have a way to solve this now.

I'll take on this feature request and will update this thread with more infor

[2019-08-14 16:06] radzhome commented on #23896
Is it possible that the <template> that now is rendered in its own DOM, can be pulled from the DOM itself so the raw unrendered template is no longer available? Not sure if that is possible or the effort involved. That would indeed prevent the crawler from seeing it.

[2019-08-14 16:08] newmuis commented on #23919
@calebcordry can you take a look?

[2019-08-14 16:17] andresilveirah commented on #17742
Hi @zhouyx thank you for all your support. The `enter-fullscreen` wasn't clear to me. I understand the intention behind showing the message on the bottom by default, I believe it's less intrusive than the fullscreen. However, the way we implemented our UI, the publisher will be able to choose which experience best suit their needs, hopefully the user needs will be their 1st priority :)

Regarding

[2019-08-14 16:30] calebcordry commented on #23919
@umuur I don't see an amp-story-auto-ads tag on that page. I assume you have changed it. Could you share a broken page?

[2019-08-14 17:22] cathyxz commented on #23879
@sparhami already filed https://github.com/ampproject/amphtml/issues/23905, which will be resolved by https://github.com/ampproject/amphtml/pull/23929/.

[2019-08-14 17:56] choumx commented on #23896
I don't think so because a template may shared by multiple elements and be used after page load. Also, even if we tried that there'd be unpredictability due to the race between page render and crawl.

[2019-08-14 18:40] lannka opened #23948 "🌸 Cherry-pick request for #23947 into #23939 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23946 | #23947 | **NO** | **NO** | #23939 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)

[2019-08-14 18:43] lannka commented on #23948
/cc @choumx

[2019-08-14 18:48] dvoytenko commented on #23948
Approved

[2019-08-14 18:53] cramforce commented on #23948
Approved

[2019-08-14 20:44] rsimha commented on #23839
@lannka Some preliminary results below.

1. I moved the `AMP.extension()` call for `amp-youtube.js` into a new `main.js` in `extensions/amp-youtube/0.1/`
2. This initially caused all unit tests for `amp-youtube` to fail, because the extension is never installed
3. Importing `main.js` from `test-amp-youtube.js` defeats the purpose, so I didn't do that
4. I added a `before()` section to `test-amp-yo

[2019-08-14 20:49] rsimha commented on #23837
Update: Took a stab at eliminating the global call to `adopt(window)` in `_init_tests.js` by making it so that importing an extension doesn't automatically register it with the global window. However, this didn't work because the extension files are imported before Mocha runs its `before()` routine, and things like `AMP.BaseElement` are not yet established.

See https://github.com/ampproject/ampht

[2019-08-14 20:53] #23905 closed

[2019-08-14 21:54] rsimha commented on #23842
@lannka Can you point out where this must happen? Currently, we create a new sandbox and assign it to `window.sandbox` in the global `beforeEach()`.

https://github.com/ampproject/amphtml/blob/12e4ada55c87979b1486e5f5d734adb193f6b4cd/test/_init_tests.js#L407

[2019-08-14 22:10] nainar commented on #20685
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #20374
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #17741
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #17318
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #15822
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #15181
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #14505
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #11797
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #11734
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #9882
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #5977
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:10] nainar commented on #4642
This issue is fixed for all users who upgrade their `<amp-carousel>` version to 0.2.

For more details please see documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2019-08-14 22:17] zhouyx commented on #15502
Hello @rifqimulyawan The issue should have been fixed by #15645. Could you explain more on why you think this is still a problem? Thank you very much.

[2019-08-14 22:48] rsimha opened #23960 "Not all assert calls are being removed from v0.js by babel transforms"
#23377 updated the babel transforms to remove `assert` calls. This should have paved the way for the removal of `AmpPass.java` from the custom closure compiler runner. However, removing `AmpPass.java` increases the number of instances of `assert` in `v0.js` from 20 to 80.

Before removing `AmpPass.java`: [20 instances](https://gist.github.com/rsimha/058ebb2bc6c189dff109ead7caa54de5#file-v0-master-

[2019-08-14 23:10] choumx opened #23964 "Race condition in new loader placeholders"
The new loader adds a default placeholder if the AMP element doesn't already have one: https://github.com/ampproject/amphtml/blob/9d90a6addea6a405fb2b8cd6361e90a85d6c6936/extensions/amp-loader/0.1/amp-loader.js#L186-L205

AMP elements like `amp-img` hide the placeholder via `togglePlaceholder(false)` on layout: https://github.com/ampproject/amphtml/blob/9d90a6addea6a405fb2b8cd6361e90a85d6c6936/bui

[2019-08-14 23:20] sparhami opened #23965 "🌸 Cherry-pick request for #23964 into #23939 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23964 | #23963 | **NO** | **YES** | #23939 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-08-14 23:20] sparhami commented on #23965
/cc @choumx

[2019-08-14 23:21] choumx opened #23966 "amp-carousel-0.2: Compilation error in dist build"
http://localhost:8000/examples/carousel.amp.html

[code]

[2019-08-14 23:21] cramforce commented on #23965
Approved. Such a revert should not need approval.

[2019-08-14 23:23] choumx commented on #23966
Looks like `amp-base-carousel` isn't being bundled: https://github.com/ampproject/amphtml/blob/9d90a6addea6a405fb2b8cd6361e90a85d6c6936/extensions/amp-carousel/0.2/amp-carousel.js#L20

[2019-08-14 23:36] jridgewell commented on #23966
This should have caused a presubmit error. You're not supposed to import another extension's code (even another version of the same extension).

[2019-08-14 23:42] sparhami commented on #23966
Yeah there is a whitelist, but I assumed that we could actually add to it since other extensions seem do it. Since there is no comments on why it exists, I assumed it was to prevent double inclusion of code (which I was okay with in this case) rather than the build failing to include the code.

[2019-08-15 00:22] jridgewell commented on #23966
In multipass builds, each extension is compiled individually with just `extensions/FOO/VERSION` and `src/` included for closure. If you import code like this, the closure invocation has to be updated as well.

[2019-08-15 00:49] rifqimulyawan commented on #15502
Hello @zhouyx, on some mobile default browser, you can see the ads still cover the ad content.
This is the example url:

https://amp.kaskus.co.id/thread/5951f5f0c0d770b55a8b4569/mengenal-amp-dan-kaskus-rekanan-pertama-amp-di-indonesia-gan

This is the screenshoot, on Vivo Browsers:

http://prnt.sc/ostq7c

Correct me if i am wrong, i think i cant find the solution till now, on this issues, thank fo

[2019-08-15 02:06] #23820 closed

[2019-08-15 08:30] dritter opened #23975 "amp-bind: Bindings not evaluated in amp-form templates"
Hi there!

After submitting a form that has a `submit-success` or `submit-error` block with a mustache template, bindings won't get evaluated initially in that block. This works if I remove the `<template>` tag from that block. Luckily the example does not need that mustache template anyway, but it is still surprising.

#### Steps to reproduce
- Copy the code below in playground.amp.dev
- Click on

[2019-08-15 15:46] AndrewKGuan commented on #4573
why are ad serving and analytics undesired purposes?

[2019-08-15 15:58] nainar opened #23977 "Be able to measure how much CSS is on the page"
Currently we don't give developers any indication of the amount of CSS on the page. They only know that they are below or above the limit.

We should be giving developers more feedback here.

I know @Gregable has a change out for this but creating an issue to track the change and related documentation.

[2019-08-15 17:24] mkonikov commented on #13891
Would love to see this implemented

[2019-08-15 18:16] zhouyx commented on #15502
Thank you @rifqimulyawan for the screenshot and the example page. To @lannka and @ampproject/wg-ads to take a look.

[2019-08-15 20:05] andyblackwell opened #23983 "amp-ad not rendering on amp-next-page when served from google cdn/cache"
## What's the issue?

When using `<amp-next-page>`, the ads inside the appended articles render fine when self-hosted, but don't render when in the google cache.

I've also seen intermittent issues with `<amp-img>` as well, so may be a lazy loading issue causing both?

similar behavior was mentioned in #15807
I've seen this happen on the popsugar article linked in #15807 as well, to a lesser exten

[2019-08-15 20:21] lannka commented on #14949
This is finally launched in China. Please verify.

[2019-08-15 20:21] #14949 closed

[2019-08-15 21:14] gmajoulet opened #23987 "Add a visual test for amp-story-consent."
Add a visual test for amp-story-consent.

[2019-08-15 21:17] choumx opened #23988 "Error: Cannot read property 'obj' of undefined"
Started seeing these in [1908150025400](https://github.com/ampproject/amphtml/releases/tag/1908150025400). A top 10 error report in the first day of 1%.

[code]

Stack trace implies that `"extensions"` service is not registered on the given window, which is confusing.

UA appears to be always "Miui Browser".

[2019-08-15 21:50] diantekyrie opened #23989 "Uncaught (in promise) TypeError: Cannot read property 'contentWindow' of null"
##What's the issue?
Error with Amp-video-iframe

Briefly describe the bug.
Cannot read property 'contentWindow' of null.

## How do we reproduce the issue?
1. Opt into Canary/RC
2. Open javascript console
3. Go to page https://www.google.com/amp/s/www.cnet.com/google-amp/news/iphone-11-pro-11r-max-new-specs-features-price-expect-apple-every-rumor-2019-pro/
4. Hit back button on browser

## What br

[2019-08-15 22:03] choumx commented on #23989
This is because the iframe's `contentWindow` is cleaned up by the time the promise chain is invoked.

[2019-08-15 22:04] #23964 closed

[2019-08-15 22:13] mrjoro opened #23990 "Design Review 2019-09-11 20:00 UTC (wg-performance, reviewer bot selection, email viewer, amp-img source)"
Time: [2019-09-11 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=09&day=11&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190911T200000Z/20190911T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-08-15 22:13] mrjoro opened #23991 "Design Review 2019-09-19 00:00 UTC (amp-sidebar)"
Time: [2019-09-19 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=09&day=19&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190919T000000Z/20190919T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-08-15 22:13] mrjoro opened #23992 "Design Review 2019-09-25 15:30 UTC (wg-runtime, wg-stories)"
Time: [2019-09-25 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=09&day=25&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190925T153000Z/20190925T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-08-15 22:15] mrjoro commented on #23990
The Performance Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-performance @kristoferbaxter

[2019-08-15 22:15] mrjoro commented on #23991
The Runtime Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-runtime @choumx

[2019-08-15 22:16] mrjoro commented on #23992
The Stories Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-stories @newmuis

[2019-08-15 22:23] andyblackwell commented on #23983
Seeing these errors associated with the issue:
<img width="1175" alt="console-errors" src="https://user-images.githubusercontent.com/372590/63130778-3d33c480-bf81-11e9-9a9d-50ef5054c18b.png">

error refers to this line of code:
<img width="893" alt="error-line" src="https://user-images.githubusercontent.com/372590/63130777-3d33c480-bf81-11e9-97c8-5228deaefa65.png">

[2019-08-15 22:30] jridgewell commented on #23983
Duplicate of https://github.com/ampproject/amphtml/issues/22357.

[2019-08-15 23:54] pbakaus opened #24001 "Feature request: Add video support to <amp-img>"
## Describe the new feature or change to an existing feature you'd like to see

It would be super duper awesome if AMP supported Safari's syntax of sticking videos into an `<img>` tag, like so:

[code]

## Describe alternatives you've considered

The alternative is using `<amp-video>`, removing controls, making it autoplay and loop. But I think the above is a much easier way to adopt as developer

[2019-08-16 00:04] zhouyx commented on #17742
Hello @andresilveirah

Thanks for the feedback. The decision was made along with our UX engineer after studying a list of existing CMP solutions. We are hoping to not break user experience too much by limiting the size of the consent UI. Please let us know if you can workaround with this. We're also open to any change as long as we can ensure good user experience. Thanks

That's right. You will ei

[2019-08-16 00:53] ChrisThorn10 opened #24003 "The attribute '[href]' may not appear in tag 'A (AMP4EMAIL)'."
## What's the issue?
I am using `amp-bind` to update the href attribute of an anchor, however, I am getting an error message when input my code into amp.gmail.dev/playground. According to the documentation at https://amp.dev/documentation/components/amp-bind/?format=email#element-specific-attributes [href] is a valid attribute to use with binding.

## Briefly describe the bug.
When I input code wi

[2019-08-16 02:57] #23966 closed

[2019-08-16 03:21] CrystalOnScript commented on #23879
Hi @ayumihamsaki - thanks for pointing this out! I think this would be great to mention in the `amp-social-share` documentation and include it under [examples](https://amp.dev/documentation/examples/). I know we've been pushing to include more accessibility documentation, so we may make it a part of that push :)

[2019-08-16 06:35] James-Qi commented on #14949
I've verified, amp-ad can be displayed in China now, thanks a lot✌
真是一个大好消息👍希望AMP广告以后可以在中国大陆稳定显示哦🤝

[2019-08-16 06:41] xiekun09 commented on #14949
It works in China, Thanks for your hard work. ✌

[2019-08-16 08:29] sebastianbenz commented on #17511
TXT record is updated. @mrjoro can you trigger the verification via Github?

[2019-08-16 08:32] andresilveirah commented on #17742
Hi @zhouyx I have the feeling every time you answer me I come up with 2 new questions 😅

That makes sense. But what happens if the user has given consent to only _some_ vendors in the page? In our case, that'd trigger an `accept` action and the consent string would be encoded to include which vendors and purposes were consented by the user. However, if the ad vendor did not declare to handle conse

[2019-08-16 14:21] max-tgam opened #24006 "I2I: "Snowplow V2" amp-analytics vendor"
# Summary
Current snowplow tracker provides a very limited functionality that does not meet modern analytics requirements. The changes needed for that would not be backward-compatible for  anyone running current snowplow tracker. As a result new tracker version is required.

## Design document
This implementation will closely follow Snowplow's [Canonical Event Model](https://github.com/snowplow/sn

[2019-08-16 15:07] mrjoro commented on #17511
It looks like can't see the TXT record yet, though it says it can take up to 72 hours.  I'll try again later.

[2019-08-16 15:31] morsssss opened #24008 "Create hover event for all elements"
Creating a tooltip feature for amp.dev, I realized, to my surprise, that AMP has no `hover` event. `tap`, yes... but not `hover`.

Of course, we can create this tooltip with pure CSS, but, if it would be simple, would you consider adding `hover` to AMP?

[2019-08-16 15:57] estherkim opened #24009 "Add Safari support to e2e tests"
There's a lot of Safari-specific logic in AMP core services. Having Safari coverage for E2E tests will be very beneficial.

[2019-08-16 15:58] rifqimulyawan commented on #15502
Found the solution!, its on the ads setting, changed the ad size from responsive to the fixed size (320x50) solved the problem, sorry for the trouble by the way

[2019-08-16 16:00] lannka commented on #24009
@dvoytenko and I are doing a bunch a refactoring of core services at this moment. Having test coverage on Safari will be very helpful.

@rsimha is this something we can prioritize?

[2019-08-16 16:51] wassgha commented on #23428
Hello @pstricker, thank you for filing the issue! I am looking into this however I do not see the banner on the desktop browser as well and I can't seem to find any usage of the `amp-user-notification` extension on the page even though the extension script and styles are included. Has the page changed since you filed the issue? Thank you.

[2019-08-16 17:09] pstricker commented on #23428
Hi @wassgha! Yes, we removed the component a few weeks ago because of the issue. I will take a look and see if we can programmatically include the component for a single product page and will update this ticket if I can get it released.

[2019-08-16 17:19] wassgha commented on #23428
Sounds good, thank you :)

[2019-08-16 17:31] zhouyx commented on #15502
Great you found the solution on your side! Thanks for letting us know.

@lannka I think it's still worth investigating. Even with the incorrect size setting, it should not lead to the behavior above. to @ampproject/ads

[2019-08-16 17:52] jonathantyng-amp opened #24015 "Cleanup ANALYTICS_VENDOR_SPLIT experiment"
- Convert all vendor JS files to JSON
- Delete `build-system/tasks/generate-vendor-jsons.js` and related code in `gulpfile.js`
- Search for my LDAP (jonathantyng) and delete any code related to it
- Search for experiment constant `ANALYTICS_VENDOR_SPLIT` and delete any code related to it
- Change `test-vendors.js` to use the new JSON files instead of JS files
- Remove experiment from `experiments-

[2019-08-16 17:58] zhouyx commented on #24015
Woohoo! Thank you for the detailed clean up guide. This is going to be super helpful 🎉

[2019-08-16 18:02] Enriqe opened #24017 "Some analytics for stories are broken"
Early analytic events (e.g. `story-page-visible` when visiting the first page) aren't being logged correctly since the `amp-analytics` service isn't ready to handle these events properly.

This has been happening when #23030 was pushed since it stopped buffering early events and delaying its handling.

[2019-08-16 18:08] #23534 closed

[2019-08-16 18:12] calebcordry opened #24019 "Add marginheight=0 and marginwidth=0 to FIE"
The amp runtime contains CSS that will set `body: margin 0 !important`. These styles used to also apply to FIEs rendered by `amp-ad` as well as inabox.

Advertisers had valid complaints about this logic, as there was no way for the creative to override this rule.

A few months ago, as part of the amp inabox CSS refactor we changed this logic so that we no longer are injecting the unnecessary amp r

[2019-08-16 18:18] calebcordry commented on #24019
to/ @jeffkaufman @keithwrightbos @ampproject/wg-ads Does anyone have questions/concerns about doing this?

[2019-08-16 18:21] Enriqe opened #24020 "🌸 Cherry pick request for #24017 into #23939 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24017 | #24013 | **YES** | **YES** | #23939 #23822 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-

[2019-08-16 18:28] calebcordry commented on #24019
cc/ @sushan04

[2019-08-16 19:16] #24017 closed

[2019-08-16 19:41] rsimha commented on #24009
It'd be useful to understand how much work this requires on the infra side. @estherkim could you comment on what this might involve?

[2019-08-16 19:48] wassgha commented on #23804
Hey @westonruter , do we have a private video we can use for testing this? (or a premium vimeo account?)

[2019-08-16 20:02] dvoytenko commented on #24020
Approved.

[2019-08-16 20:02] dvoytenko commented on #24020
Back to @Enriqe for postmortem.

[2019-08-16 20:14] #22065 closed

[2019-08-16 20:14] #23965 closed

[2019-08-16 20:15] #23948 closed

[2019-08-16 20:50] rsimha commented on #23839
Just chatted with @jridgewell and @choumx about migrating all existing tests that use a top-level `describe` to using `describes.realWin`. I found about ~200 such instances across ~150 test files, so it should be possible to do this in a refactor.

This should pave the way for making extension imports free of global side effects at the infrastructure level.

[2019-08-16 20:56] sparhami commented on #24001
Just some notes from some reading I did (e.g. from https://calendar.perfplanet.com/2017/animated-gif-without-the-gif/)

- There are some performance benefits in Safari for going down the`<img>` route with a video compared to `<video>`
    - Avoids issues of `<video>` needing the main thread to be free before starting playback (no equivalent of decoding=`async`?)
    - Avoids extra round trips for

[2019-08-16 20:59] sparhami commented on #24001
@nainar Do you think this is something that might be worth pursuing? It seems like Chromium does not want to go down this path, but there would be some benefit for Safari. We could fallback to `<video autoplay loop muted>` for non-Safari browsers. One thing that is not clear to me is if there are any user activation requirements ever for muted autoplay (e.g. battery saving mode) and how the `<img>

[2019-08-16 21:05] gaborszita commented on #20959
@firmanpolyrific Are you trying to solve the problem? I just still didn't get a reply. If you don't understand something feel free to reply. I'm here to help.