[2021-04-15 16:00] gmajoulet commented on #1463
We do for Stories, and do it a different way:

1. When opening the overlaying component, we push a new history entry, and:
a. add some data to the history entry so we remember it's open in case of page reload.
b. register a method to close it when that entry is popped

https://github.com/ampproject/amphtml/blob/8058170ddaa961f82f9d0baefbdbf081e34f4c75/extensions/amp-story/1.0/amp-story-page-attach

[2021-04-15 16:12] gmajoulet commented on #33758
Thank you for fixing the Player one @Enriqe, do you think you could look into the bot rendering one as well? If we break it that could be very bad for our publishers, and that test is our only safeguard. I believe it's ok to cut corners and remove/hide whatever was flaky on the test, enabling it back is important though.

[2021-04-15 16:52] dvoytenko commented on #1463
@gmajoulet it sounds like you're trying to keep the overlay UI on refresh of the page? This doesn't always work well with all types of overlaying UI. Though it might be ok for us here.

@caroqliu, yes, that's the one I mean. We could always do it differently, of course, e.g. closer to what @gmajoulet, which avoids popping history on navigation. I think that could be ok as well for this use case. B

[2021-04-15 17:02] kristoferbaxter commented on #33689
For the next set of images I've switched to Slow3G and removed the additional critical DNS resolution for the image (like it would be in the Optimized version of the document by default).

Default
<img width="1142" alt="Screen Shot 2021-04-15 at 10 00 21 AM" src="https://user-images.githubusercontent.com/61764/114908905-6a2d2000-9dd1-11eb-9487-b2395eb26f73.png">

Minimal
<img width="1144" alt="Scr

[2021-04-15 17:14] #33820 closed

[2021-04-15 17:36] samouri commented on #33689
@hmarsili: can you speak more to the performance experiments you ran and the LCP win you were able to see by delaying the load of JS scripts? Were they in line with what @kristoferbaxter measured/estimates (10%) or did they indicate a greater win?

FWIW, I just measured the page's LCP locally with JS completely disabled vs. enabled over 10 runs with "Fast 3G" and CPU 4x Throttle and saw a 25% decr

[2021-04-15 18:37] rsmith4321 commented on #33405
Thanks, I'm still not getting data-hero on my home page image for some
reason here https://www.ryansmithphotography.com/

On Thu, Apr 15, 2021 at 2:42 AM Weston Ruter ***@***.***>
wrote:

[2021-04-15 18:43] westonruter commented on #33405
Please add this plugin so we can turn off SSR to debug that: https://gist.github.com/westonruter/8d52c0b807e6dfbbdf2219622d0f4a7e

[2021-04-15 18:50] choumx commented on #33709
I assume #33656 is the candidate fix for this. Curious if this bug is a regression and why P1 vs. P0?

[2021-04-15 18:52] westonruter commented on #33405
Actually, I see why it isn't getting prerendered. It's because the original image had `loading=lazy`. The `DetermineHeroImages` transformer in the plugin will prerender header images which are not marked with `loading=lazy`. As noted in [wpcore#50425](https://core.trac.wordpress.org/ticket/50425), images in the initial viewport shouldn't have `loading=lazy`. So that's something you should remove f

[2021-04-15 19:00] gmajoulet commented on #33709
It is not a regression, the technical details are complicated but the TLDR is that the proprietary viewer used in the iOS Google app doesn't handle JavaScript triggered navigation well, only clicked anchors, which is pretty hacky but does work around these limitations.
It's very specific to this one implementation, which has been broken for months. Do you want to try applying for same day shipping

[2021-04-15 19:30] rsmith4321 commented on #33405
I don't manually add that to any images, it's just.a standard cover image
block, wordpress just seems to add loading=lazy to all images. Is there a
way to remove that?

On Thu, Apr 15, 2021 at 2:52 PM Weston Ruter ***@***.***>
wrote:

[2021-04-15 19:37] choumx commented on #33709
Shucks I canceled Prime but let's see if we need to expedite next week.

@mszylkowski How likely is it that we'll have the fix in next week's cut?

[2021-04-15 19:49] mszylkowski commented on #33709
The fix to this is working in that PR, we need to make a P3 work with the swipe ups as well, but we could do it in another PR if we want to merge this faster

[2021-04-15 19:52] westonruter commented on #33405
Yes. Something like this should do the trick, to prevent lazy-loading the first cover image on the front page:

[code]

[2021-04-15 20:06] rsmith4321 commented on #33405
Hmm I tried that and it still doesn't seem to be working. I also notice on
other pages like here
https://www.ryansmithphotography.com/myrtle-beach-wedding-photography/  it
adds data-hero-candidiate to the hero image but not data-hero. However
data-hero does work on just standard blog posts with a featured image. I
think the problem is on a lot of my custom pages I'm not using a
standard featured i

[2021-04-15 20:13] mszylkowski opened #33860 "Amp Story outlink doesn't work with the linker since it's a click on a shadow dom"
Similar to #32240 and #32060

Clicking or swiping up on an outlink should `triggerClickFromLightDom`

cc @ampproject/wg-stories

[2021-04-15 20:15] choumx commented on #33709
Can you elaborate on this? "Swipe ups" is distinct from external link page attachments?

[2021-04-15 20:19] mszylkowski commented on #33709
Yes! We were thinking to fix a P3 on this PR as well but decided to leave it for later (tracked on #33860), meaning we can merge the PR #33656 and close this issue as soon as the checks pass.

Also, external page attachments are activated with a swipe up, that's why those terms are used interchangeably

[2021-04-15 20:24] choumx commented on #33709
Ah ok, an analytics bug fix follow-up is fine for us.

[2021-04-15 20:33] westonruter commented on #33405
My filter code removed `loading="lazy` from the Cover image block in content for me locally in a core theme. You'll have to adjust the conditions in the `if` statement based on how your theme templates are set up.

[2021-04-15 21:10] choumx opened #33862 "🌸 Cherry-pick request for #33709 into #33809 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33709 | #33656 |     **YES

[2021-04-15 21:11] choumx commented on #33862
Hello 👋  haven't made one of these in awhile, thoughts? :)

[2021-04-15 21:31] estherkim commented on #33862
Looks ok, will wait for PR to land and an approval from wg-approvers. Confirming this request is just for Beta and not Stable or LTS?

[2021-04-15 21:37] kristoferbaxter commented on #33862
Approved!

[2021-04-15 22:00] choumx commented on #33862
Correct, just beta. Thanks!!

[2021-04-15 22:33] rsmith4321 commented on #33405
I was able to move some things around on my home page to get the hero image
inside of the_content, I couldn't figure out how to do it with the hook it
was added in. Now it's getting data-hero-candidate added to the image like
with my other pages with cover blocks, however I'm still getting the
recommendation to add data-hero to my images in the page experience test,
so I'm thinking it's still not

[2021-04-15 22:56] westonruter commented on #33405
You have your homepage's featured image set to be hidden entirely:

[code]

Nevertheless, it is the second image on the page. So it is getting `data-hero` in addition to the logo.

If you eliminate the featured image from being output on the page at all instead of just hiding it, then the cover image should get `data-hero` as well.

The Optimizer is not able to evaluate CSS to know whether or not

[2021-04-15 22:58] ampprojectbot opened #33863 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CJaf-ZfrvJfKngE)
**First seen:** Apr 14, 2021
**Frequency:** ~ 59/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at message (<a href="https://github.com/ampproject/amphtml/blob/2104132215000/src/log.js#L669">src/log.js:669</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/21041

[2021-04-15 23:58] rsmith4321 commented on #33405
Great that is working now. I just liked having a featured image for other
reasons like sharing but it doesn't seem possible to have the featured
image set in Wordpress without it including the image in the html, at least
not with my theme it just hides it with css.  I'll just remove the featured
image from pages that don't use it.

On Thu, Apr 15, 2021 at 6:56 PM Weston Ruter ***@***.***>
wrote:

[2021-04-16 00:05] westonruter commented on #33405
You can use the Yoast SEO plugin to set the image that will show up when sharing on social media.

[2021-04-16 00:08] rsmith4321 commented on #33405
Ok thanks, I'm contacting the theme developer as well to see if there is a
way to filter the featured image output as well.

On Thu, Apr 15, 2021 at 8:05 PM Weston Ruter ***@***.***>
wrote:

[2021-04-16 14:22] Enriqe commented on #33758
Yep, I can take a look today.

[2021-04-16 14:59] rcebulko commented on #33631
Total bundle size reduction of 9.4KB across all binaries

Bundle-size highlights:
[code]

[2021-04-16 15:09] #30193 closed

[2021-04-16 15:42] samouri commented on #33581
After discussions with @joshfg and @ampproject/wg-monetization, we've discussed scoping this down from all `amp-ad` support, to just RTC (fast fetch ads).

[2021-04-16 16:41] raxsha commented on #33812
Test with swiping on the phone

[2021-04-16 18:39] rsimha commented on #33843
One possible approach towards solving this is to include a CI check for all protoascii files using [`prototool`](https://github.com/uber/prototool#prototool). Can I ask someone from @ampproject/wg-caching to take a look at the [linter documentation](https://github.com/uber/prototool/blob/dev/docs/lint.md) and let me know if this will work for you? (Are the right rules in there? If not, what are th

[2021-04-16 19:06] gmajoulet commented on #33783
I'm a bit late to the party, but Enrique's plan SGTM as well

[2021-04-16 20:18] #32718 closed

[2021-04-16 21:45] choumx commented on #33862
#33656 is now merged.

[2021-04-16 22:07] morsssss opened #33882 "amp-consent: discourage developers from leaving granular consent purposes in an unresolved state"
Here's my concern. Typically, when making granular consent choices, the user will see a form-like area with checkboxes, like this:

[code]

Let's say the user checks one of the boxes, leaves the other blank, and taps "Save". They may well think that they've accepted one consent choice but denied the others. However, this is not really a `<form>`. `siteConsent.setPurpose()` has only been called on

[2021-04-17 07:45] nguyendev commented on #33402
Hi @rcebulko, @dvoytenko  @samouri,

Thank you for your help.
I hope you will have it done soon.
This will be very useful for use on more complex websites
when you finish it, can you tell me?

[2021-04-17 19:47] hugoteam-demo commented on #33833
i think the problem is Same-site (Feb 2020, Enforcement rollout for). how do you think? @nainar

[2021-04-17 20:36] #25058 closed

[2021-04-17 20:36] #24789 closed

[2021-04-17 20:36] #24156 closed

[2021-04-17 20:36] #25108 closed

[2021-04-18 08:14] Francisco-AM opened #33885 "Href lang problem"
__ONE PAGE__
&lt;html ⚡ lang="es">
  &lt;head>
    &lt;meta charset="utf-8">
    &lt;link rel="canonical" href="__URL__">
&lt;link rel="alternate" href="__OHTER_URL__" hreflang="eu" />
__SECOND PAGE__
&lt;html ⚡ lang="eu">
  &lt;head>
    &lt;meta charset="utf-8">
    &lt;link rel="canonical" href="__OTHER_URL__">

This is correct? o Is it incompatible?

alternate and canonical are not compatible

[2021-04-18 12:08] kristoferbaxter commented on #33402
We should move forward with documenting the space delimited nature of it if possible. This is similar to other DOMTokenList approaches like ClassList.

[2021-04-18 13:48] #12191 closed

[2021-04-18 13:48] #24894 closed

[2021-04-18 14:37] #33405 closed

[2021-04-18 16:45] pewgeuges commented on #33625
@milindmore22 @westonruter I could free up some time to make a PR based on this, would that fit the workflow and meet expectations? As a more elaborate fix both mouse and keyboard access modes would make a step towards each other by uniting on double-tap / double keypress to enable defaults, and single tap / keypress to prevent them, out of an abundancy of security precautions protecting users aga

[2021-04-18 22:44] bilalmalkoc opened #33886 "`ampdoc.getUrl()` is empty on page loaded by `<amp-next-page>`"
When new page append, Addthis buttons not sharing current url. It is sharing `https://s7.addthis.com/dc/amp-addthis.html?_amp_=2104022034000`. And share counts not showing true results.

[2021-04-18 23:37] estherkim commented on #33862
Cherry-picked into beta (opt-in and 1%).

[2021-04-19 05:28] mersica opened #33887 "amp-autocomplete on change event unable to call form submit"
## What's the issue?

When the change event is executed in amp-autocomplete, I get the following javascript error:

Uncaught (in promise) TypeError: a.h.submit is not a function
    at Ec (amp-form.js:1102)
    at vc (amp-form.js:637)
    at amp-form.js:526

## How do we reproduce the issue?
I just use standard amp form with autocomplete:

        <form id="searchForm" class="searchForm" method="g

[2021-04-19 10:54] adp-developer opened #33889 "I2I: <your change/update>"
## Summary

AdPlayer.Pro provides an ability to manage video/banner ads through InBanner format

## Design document
https://adplayer.pro/solutions/inbanner

## Motivation

A lot of users are using Ad.Player.Pro as an advertising solution and most of these publishers have AMP pages and require using adplayer.pro solution to improve their revenues

## Launch tracker

/cc @ampproject/wg-approvers

@a

[2021-04-19 12:58] micajuine-ho commented on #33556
@lluerich This occurs because `click` trigger requires a `selector`. The other triggers you mentioned do not need a selector (i.e. `visible` will work fire on page load not just an element if no selector is defined, and `carousel-change` will fire whenever any carousel on the page is changed). Thus it only makes sense that the `click` trigger guards against selectors that are not found.

[2021-04-19 14:00] #33887 closed

[2021-04-19 14:02] #33540 closed

[2021-04-19 14:09] caroqliu commented on #33885
Hello @Francisco-AM , thanks for filing the issue! [Our guide on `hreflang` and Internationalization](https://amp.dev/documentation/examples/guides/internationalization/) should help address this. I'll close the issue now, feel free to re-open if you have additional questions with example pages.

[2021-04-19 14:09] caroqliu commented on #33863
Dedup with #30616

[2021-04-19 14:09] #33863 closed

[2021-04-19 14:36] Francisco-AM commented on #33885
The documentation does not explain how to use hreflang on AMP⚡ pages. Is combining hreflang and canonical on the same page correct?

![image](https://user-images.githubusercontent.com/69035383/115253715-eeaed400-a12c-11eb-8704-3d3146b1b3e9.png)

![image](https://user-images.githubusercontent.com/69035383/115253787-01290d80-a12d-11eb-8bdb-d8d2393693fe.png)

[2021-04-19 14:42] caroqliu commented on #33885
amp.dev documentation pages should focus explicitly on AMP pages, can you please give more advice what is lacking here so we can be more helpful in the future?

Following [example #1](https://amp.dev/static/samples/internationalization/basic/index.amp.html) on the previously linked documentation, that looks correct to me.

[2021-04-19 14:59] Francisco-AM commented on #33885
I have modified your documentation example to reflect my question.
Can you have canonical and hreflang in an amp page?
The documentation does not emphasize that question.
It is very important for the integration of my page

![image](https://user-images.githubusercontent.com/69035383/115257361-4ef34500-a130-11eb-871b-229f12c73f0b.png)

@caroqliu

[2021-04-19 15:10] rcebulko commented on #33402
Using space-delimited list of hashes as described above should provide a solution for your needs. In the case of `https://sosanhgiakhoahoc.com/bai-viet/khoa-hoc-dinh-duong-online`, I believe it would look something like:

[code]

I'll see if I can find docs for similar features and follow up with a first-pass at updating them, then pull in Jake and maybe either Naina or Crystal

[2021-04-19 15:15] samouri commented on #33402
I agree with this. Thank you @rcebulko for taking it on!

[2021-04-19 15:18] choumx commented on #33862
Thank you!

[2021-04-19 15:56] alanorozco commented on #33889
This is not a design document. You need to include:

- The name of the new tag.
- Its attributes.
- An example of how the tag is used.
- What it does:
  - Does it load an iframe?
  - Is there a `postMessage` interface?

Please explain how this is different from using [amp-video-iframe](https://amp.dev/documentation/components/amp-video-iframe/). See the [3rd party video policy.](https://github.com

[2021-04-19 16:18] caroqliu commented on #33885
Can you clarify the question? You can have multiple `link` tags on your AMP document, one `rel="canonical"` and any amount of `rel="alternate"` with different `hreflang`. From the example I would assume that the document assumes the canonical document's `hreflang` would match the `html lang` of the current document. For instance, the [French version of the AMP document](https://amp.dev/static/samp

[2021-04-19 16:21] alanorozco opened #33891 "Support `form` attribute in `<amp-selector>` & friends"
## Background

Fields to a form are usually its descendants:

[code]

A less common usage is a field outside the form's tree, associated via the [`form` attribute.](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#htmlattrdefform)

[code]

AMP may define elements like `<amp-selector>`, `<amp-date-picker>` (etc) that act as form fields. These elements are always **descendants**:

[co

[2021-04-19 16:42] alanorozco commented on #33891
My personal opinion is that we should **not** do this.

The `form` attribute on native elements is also supported by browser APIs natively, in that we get `O(1)` references in Javascript also:

[code]

Since we enhance native input elements, these references are particularly useful for selecting subject elements:

[code]

[2021-04-19 17:03] Francisco-AM commented on #33885
Only using amp pages, and amp pages in other languages. my project is only amp it does not have normal html.
I don't need to use the rel="amphtml" tag, because as I tell you my project is amp only.
As I am telling you the documentation does not explain the use of hreflang in this situation.

look example
![image](https://user-images.githubusercontent.com/69035383/115274583-20319a80-a141-11eb-8ab9-

[2021-04-19 17:03] Gregable commented on #33843
@antiphoton to take a look

[2021-04-19 17:04] #33731 closed

[2021-04-19 17:07] alanorozco commented on #33891
The `form` attribute on native elements is also supported by browser APIs natively, in that we get `O(1)` references in Javascript also:

[code]

Since we enhance native input elements, these references are useful for selecting subject elements and re-scoping event handlers.

Supporting AMP elements outside a form is less trivial since we lack these references. Reconstructing them affects performa

[2021-04-19 17:09] Gregable commented on #32277
Dropped priority as all fonts except for early-access are resolved.

[2021-04-19 17:14] Gregable commented on #33801
@schlessera As Alan pointed out, this risks breaking pages using amp-access-scroll. As a result of the extra effort required to assess the risk, I'm bumping the priority down. One thing that would help as a first step would be to add a test case for this that should return a validator error. Would you be interested in making that PR?

[2021-04-19 17:20] #33046 closed

[2021-04-19 17:27] #33758 closed

[2021-04-19 17:32] westonruter commented on #33625
@pewgeuges Neither Milind nor I are on the AMP core team which owns this component so we would not be best suited to review.

@samouri I understand you are the best to review? Thoughts on this and proposed fixes in #33892 or #33893?

[2021-04-19 18:03] samouri commented on #33689
@hmarsili: can you provide information on how to reproduce your tests that demonstrated the 15-20% decrease. We need to be able to replicate these experiments on our end. At this point we've performed what experiments we could think of, and haven't seen anything to indicate such a drastic improvement is likely. To be clear: I would _love_ to be wrong.

One of AMP's highest priorities is to be as p

[2021-04-19 18:16] mszylkowski opened #33896 "Support `<amp-video src="...">` for video cache"
When using a video that is specified with `<amp-video src>`, `amp-video` will use that source directly with the underlying `video` element, not allowing the video cache to use the cached sources.

Fix: When using the video cache, it should use the `src` attribute to retrieve the cache videos but it should not play the origin video.

cc @ampproject/wg-stories

[2021-04-19 18:20] #33169 closed

[2021-04-19 18:21] gmajoulet commented on #33896
I think the fix would be to, within `amp-video`:
1. Remove all `source` elements, if any, as the browser behavior is to ignore them (cf: https://html.spec.whatwg.org/#concept-media-load-algorithm)
2. Propagate the `src` of the HTMLMediaElement on a newly created HTMLSourceElement
3. Remove the `src` of the HTMLMediaElement (otherwise the Story media pool will ignore the HTMLSourceElements)
4. fetc

[2021-04-19 18:24] Francisco-AM commented on #33885
I think that the documentation does not provide the correct way to do it, if we could report it for them to look at it, I would appreciate it even if you answer me in a few days or weeks.

I believe that several related link tags conflict.

rel = "canonical"
rel = "amphtml"
rel = "alternate" hreflang = ""

It is a luxury that you provide a cdn worldwide and I would like to take advantage of it wit

[2021-04-19 18:32] mszylkowski opened #33898 "Add `amp_video_host_url=...` on the video cache request"
When requesting the video cache, we need to add the queryParam `amp_video_host_url=...` with the canonical URL of the story so backends can track videos back to the story.

Eg:
[code]

cc @ampproject/wg-stories

[2021-04-19 18:42] #32730 closed

[2021-04-19 19:13] pewgeuges commented on #33625
@westonruter @samouri Thanks for looking into these. Reviewing the mutually exclusive https://github.com/ampproject/amphtml/pull/33892 and https://github.com/ampproject/amphtml/pull/33893 and making a decision either way is all about policy making and might require feedback on a broad basis, so I think @milindmore22 and @westonruter are in a good position to know about end-user expectations as of

[2021-04-19 19:17] caroqliu commented on #33885
@ampproject/wg-caching Could you advise on this issue? I fear I've been creating more confusion in my attempts to help out 😅

[2021-04-19 19:19] caroqliu commented on #33891
Can't speak for other input-like components but `form` attribute is [already supported on `amp-selector`](https://amp.dev/documentation/components/amp-selector/#attributes-on-%3Camp-selector%3E) on both 0.1 and 1.0 versions.

[2021-04-19 19:20] alanorozco commented on #33896
Could you please provide a snippet that exemplifies this the problem? As I understood by using `amp-orig-src` we already are treating this correctly.

[2021-04-19 19:27] mszylkowski commented on #33896
We're adding a functionality where videos that specify the `cache` attribute (eg: `cache="google"`) will be able to use a cache on origin, which requires the component to fetch the cache video urls (check #33466 for this impl). Currently it fetches the video urls and adds them to the `video` element, but if `amp-video` has `src` specified, the children `source` tags will be ignored, so publishers

[2021-04-19 19:48] Gregable commented on #33885
This does not seem to be a caching related issue. Caches ignore hreflang. This may be a search or documenation issue. @pbakaus might be able to help. Or consider asking your question at (Bing / Google / Other Search Engine) search support forums.

[2021-04-19 19:54] Francisco-AM commented on #33885
There is no documentation support for hreflang for amp-only pages

In the amp documentation it says that if you have a problem with the link element that you contact in github or in stack overflow, this is a problem that many content developers will have to face in the future,

 I propose to try to give you a solution Now, if possible, the problem doesn't have to be solved quickly, but if we can l

[2021-04-19 20:02] antiphoton commented on #33843
[protocol](https://github.com/uber/prototool) and [buf](https://docs.buf.build/tour-3/) are too much more than what we need. The current issue is Critique is rejecting changes with trailing whitespaces, hence I propose we something like `git diff main -g \ $` in pull request checks.

[2021-04-19 20:15] rsimha commented on #33843
Can you provide a pointer to the linter being used by Critique to validate `.protoascii` files? If there's an open-source version of it, we can create an `amp` task that runs it against all validator changes. (If that's too much as well, I'm open to creating a task that does what you suggest for `.protoascii` files.)

[2021-04-19 20:16] hmarsili commented on #33689
Let me create a couple of TEST pages with my team and we will share the
results. To be 100% honest, test results sometimes are erratic. You get A A
A A and then the other day is all B B B B :)

+Martin Juzefiszyn ***@***.***> can we create test pages for the
same site with 5 extensions and with the complete set?

Saludos,
Hernán.

[image: Logo]
Hernán Marsili
Director, TECHNOLOGY FOR SOLUTIONS.
Te

[2021-04-19 20:36] antiphoton commented on #33843
The linter rule is declared [here](http://google3/third_party/javascript/amp_validator/METADATA?l=42-44&rcl=367704706), which links to some google3 internal tools.

[2021-04-19 22:09] samouri commented on #33625
I'm not familiar with this flow, and why we usually call `event.preventDefault`. Will need some extra time to ramp up here

[2021-04-19 23:26] #33404 closed

[2021-04-20 04:35] pewgeuges commented on #33625
@samouri, @westonruter

@dvoytenko You might tell more about the ins and outs since you are the author or assignee of a nearby todo item (`src/service/action-impl.js:304`).

@erwinmombay You are assigned twin https://github.com/ampproject/amphtml/pull/33892 and may wish to team up since at least one out of this and https://github.com/ampproject/amphtml/pull/33893 will need to be ditched anyway.

[2021-04-20 08:14] kkloc-smi commented on #26657
@alanorozco we've tested 3 different AMP components, none of them is valid for our business.

- AMP Iframe was the most promising. We've successfully ported our current player to run inside this component.
However, most of the functionality is based on user interactions & user data (for example current scroll area, current viewed element of page) is not working.
Communication between iframe <=> pa

[2021-04-20 13:12] alanorozco commented on #26657
You haven't mentioned using `amp-video-iframe` which it should be enough.

This is not a thing.

It's been a year because you haven't followed the process correctly.  **You need to sign up for design review to approve any component.**

[2021-04-20 14:14] alanorozco commented on #26657
You can get the element's [intersection area.](https://amp.dev/documentation/components/amp-video-iframe/?format=websites#getintersection(callback))

A new component **would not be allowed to send an iframe information from other elements in the page**, since that's a potential privacy issue. (No existing components do this, either.)

What do you mean by "communication"? Do you have a code snippet

[2021-04-20 14:45] kkloc-smi commented on #26657
Most of configuration is located in our servers and is served by JSON API endpoints. This values can't be static or provided as AMP parameters. Based on website, we are enabling / disabling some of player functionality.

We need this to: fetch intro image for video, get logo or dedicated images, fetch current page position (to show or hide video player), detect adblock, detect if container was vie

[2021-04-20 14:53] alanorozco commented on #26657
You can make whatever JSON requests inside an `amp-video-iframe`.

Specify which dynamic values do you need.

You can get the host document's URL in an `amp-video-iframe`: [`getMetadata`](https://amp.dev/documentation/components/amp-video-iframe/?format=websites#getmetadata())

You can do this inside the iframe, but you haven't specified which values you need.

You can get the intersection with `a

[2021-04-20 15:00] alanorozco commented on #33886
Repro case: https://amp-next-page-addthis.glitch.me/

[code]

If I click on the first **`+`** button, the shared URL is correct:

If I click on the second **`+`** button, we see that it uses `https://s7.addthis.com/dc/amp-addthis.html...`, because the passed URL is empty.

I can add a logpoint here and see that `this.getAmpDoc().getUrl()` is empty on the second page.

https://github.com/alanorozco

[2021-04-20 15:39] #33767 closed

[2021-04-20 15:40] goonydev opened #33912 "[amp-story-player] Can't rewind when on the last page"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2021-04-20 15:41] processprocess opened #33913 "[Page attachments] [inline] Background contrast protection for text"
Add themed contrast protection for inline CTAs with text.

To match Mocks:
<img width="1470" alt="Screen Shot 2021-04-21 at 2 54 13 PM" src="https://user-images.githubusercontent.com/3860311/115606255-7b829a80-a2b1-11eb-863d-4168b21ae2b0.png">

@ampproject/wg-stories

[2021-04-20 15:50] goonydev commented on #33912
My recommendations are whether:

- give a rewind button on the last page
- allow the next button to loop back to the first page (less intuitive but still better than what's currently happening)
- if none of the above then at least hide the button to let the user know the only option is to go back

[2021-04-20 15:55] mszylkowski commented on #33709
Analytics fix is #33911. Closing this bug since #33656 is merged.

[2021-04-20 15:55] #33709 closed

[2021-04-20 16:21] mszylkowski commented on #32514
This seems to be a problem with the actual examples rather than the story format (you could say that not including `lang` on the `html` goes against a11y on any website, not just stories). Checked on WP editor, Makestories, Join and NWS, and they all add the `lang="en/en-US/fr"` in the `html`, but not sure if these can be customized per story or they are hardcoded.

The possible fixes are:
- Add t

[2021-04-20 17:41] powerivq commented on #33803
https://github.com/ampproject/amphtml/pull/33867

[2021-04-20 17:56] #33860 closed

[2021-04-20 18:04] alanorozco commented on #33912
cc @ampproject/wg-stories

[2021-04-20 18:23] mszylkowski commented on #32498
Update on this issue: `amp-twitter` will be fixed by #33919, now we just need to fix the `amp-story-player` issue.

@Enriqe do you have this tracked somewhere / did you check this still occurs?

[2021-04-20 18:23] #33803 closed

[2021-04-20 19:11] gmajoulet commented on #32514
We default to English for the UI, so I think it's OK for us to also have the screen reader in English to avoid mixed languages with our system controls.

[2021-04-20 20:07] krdwan commented on #33548
I will be discussing designs for the `Toolbar` feature for `amp-sidebar`.

[2021-04-20 20:15] mszylkowski commented on #32504
We're already adding buttons for navigation, I think we'd be ok by adding some visual hint that these buttons are for navigation (eg: background-image of a chevron) when the class `amp-mode-keyboard-active` is present on the page.

Current buttons are transparent but focusable on mobile, and they are properly labeled for screen readers:
[code]

[2021-04-20 20:30] #31747 closed

[2021-04-20 20:39] calebcordry opened #33925 "🚄 Release tracking issue for release 2104170104001"
# Release tracking issue

This issue tracks release [2104170104000](https://github.com/ampproject/amphtml/releases/tag/2104170104000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2104081613001...2104170104000).

- [x] Release 2104170104000 promoted to Experimental and Beta (opt-in) channels (April 20, 2021, 1:46:54 PM GMT-7)
- [x] Release 2104170104000 pr

[2021-04-20 21:48] rsimha commented on #33843
I've sent out a more generic solution for this problem that uses the built-in invalid whitespace detection in [`git diff --check`](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---check). This can be applied on any file-types we choose. Let me know what you think of #33926.

Also, could someone in @ampproject/wg-caching comment on what effect this will have on the existing validator

[2021-04-20 22:15] #33843 closed

[2021-04-21 00:01] dmanek commented on #33886
Thanks for the repro case @alanorozco.

This reason for this bug is that when `amp-next-page` appends new content, it does so in a shadow dom. Thus, calling `getAmpDoc().getUrl()` returns an empty string. This issue will affect any component that calls `getAmpDoc` within `amp-next-page`. One fix would be to update `getAmpDoc` in custom-element.js to return the root amp doc when called from within

[2021-04-21 00:04] github-actions[bot] opened #33928 "Design Review 2021-05-12 20:00 UTC (Americas)"
Time: [20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=05&day=12&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210512T2000Z/20210512T2100Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly engine

[2021-04-21 02:29] goonydev commented on #33912
I don't get it. You left this flaw intentionally just to push us to stack multiple stories in one player? Well this is not what I need. I am frustrated and as a developer surprised that you guys are content with this inactive button sitting there with no purpose. If I understand correctly, adding a rewind button myself means it will sit on the top of the player on every page, which I don't want. A

[2021-04-21 08:16] cheluskin commented on #24621
It's a shame. Google Analytics does not work in Google AMP. And the development team didn't have enough 2 years to fix it

[2021-04-21 08:17] powerivq commented on #33803
amp-auto-ads currently rely on amp-a4a responsive to changeSize, therefore it does not do `scroll` after insertion. Therefore the CLS won't affect ad resizing. We will be running a holdback experiment to examine the monetary affect of the fix.

[2021-04-21 12:12] Enriqe commented on #32498
I haven't checked yet. I'll assign myself to this issue and take a look when I get a chance, though.

[2021-04-21 13:35] processprocess commented on #32716
Looks like this broke before merging. Re-opening.
<img width="413" alt="Screen Shot 2021-04-21 at 9 33 53 AM" src="https://user-images.githubusercontent.com/3860311/115562768-d225af80-a284-11eb-909d-70bce024a866.png">

[2021-04-21 14:11] #32716 closed

[2021-04-21 14:45] rcebulko commented on #33402
@nguyendev As mentioned above, space-delimited script-hashes should solve your issue and are already supported. #33902 includes documentation updates and support for newline-delimited hashes as well; that change should roll out to production in about two weeks time.

[2021-04-21 15:36] samouri commented on #33402
Closing as the fix has been merged (and is on its way to production)

[2021-04-21 15:36] #33402 closed

[2021-04-21 15:55] xavierleune commented on #31673
Hi there,

As it seems that this bug had a lot of traction from CMP and publishers (including the one I'm working for: CCM Benchmark - Le Figaro) but not much from the AMP Project, I created a pull request with a target of 7000 chars. Feel free to add a comment on the pull request to discuss the target storage length,

Thanks,

[2021-04-21 16:17] #33020 closed

[2021-04-21 16:39] micajuine-ho commented on #31673
HI all, sorry for the delayed response. We are actively looking for solutions to this problem. We understand that it is a very large problem for CMPs and are looking to remedy ASAP.

As for increasing the limit to 7kb, as seen from this comment https://github.com/ampproject/amphtml/issues/24464#issuecomment-627531413, it needs coordination with the viewer team or else it won't work either.

[2021-04-21 16:41] nguyendev commented on #33402
This is a good solution. Thank you

[2021-04-21 17:25] mszylkowski commented on #32506
Closing this since amp-twitter was handled on #33919, and the original issue was closed

[2021-04-21 17:25] #32506 closed

[2021-04-21 19:59] #33110 closed

[2021-04-21 19:59] #33109 closed

[2021-04-21 20:00] #33451 closed

[2021-04-21 20:27] stephengardner commented on #24621
Google Analytics now defaults to GA4. You have to click "Advanced Options" and then Google notifies you that GA4 is the recommended approach.
![image](https://user-images.githubusercontent.com/7368566/115616628-695b2900-a2be-11eb-8e11-7d1232b66654.png)
This is no longer an issue of "GA4" is not fully launched.
We really need a solution here, it's been a long time.

[2021-04-21 21:05] #23725 closed

[2021-04-21 22:47] #33581 closed

[2021-04-21 22:49] hmarsili commented on #33689
Hi!

I share the tests that we have created to share the results later.

- https://koko.news/.tests/ssr/ampplugins/basic.html = Contains the basics
that the site needs, analytics, ads, basic components.
- https://koko.news/.tests/ssr/ampplugins/simple.html = contains the
minimum that the design would need, adding to the basic some components to
make the content dynamic
- https://koko.news/.tests/s

[2021-04-22 01:35] kristoferbaxter commented on #33689
Thanks for making the samples! I'll run tests against these.

[2021-04-22 03:40] sujay2306 commented on #26304
can i take this issue

[2021-04-22 05:48] saurabh230197 commented on #32802
@newmuis @gmajoulet
Can you please look into this. The bug is causing us issues when using Google AMP cache in our feeds like

- https://visualstories.com/?app=pwa
- https://visualstories.com/feed/quizgame
- https://visualstories.com/feed/showcase

[2021-04-22 07:30] spormeon opened #33945 "AMP-IMA-Video "origin trial controlled feature not enabled""
This has started appearing in the last few days, anyone got any idea what it is/ why its happening?  I cant tell at the moment if it actually breaks anything or not but it cant be a good thing?

![DevTools_-_cheftalk_com_ads_final_-4](https://user-images.githubusercontent.com/8503167/115673781-e6c97c80-a344-11eb-9b9d-76bfee29e99e.png)

[2021-04-22 08:34] adp-developer opened #33947 "I2I: <your change/update>"
## Summary

Ad.Player.Pro module provides an ability to play, control video ads in a different ways on AMP pages

## Design document

[AMP & AdPlayer.Pro_ Design document.pdf](https://github.com/ampproject/amphtml/files/6356751/AMP.AdPlayer.Pro_.Design.document.pdf)

## Motivation

A lot of users are using Ad.Player.Pro as an advertising solution and most of these publishers have AMP pages and req

[2021-04-22 08:52] alanorozco commented on #33947
Please do not create a second I2I. Add link to #33947

[2021-04-22 08:52] #33947 closed

[2021-04-22 08:54] alanorozco commented on #33889
This is still not sufficient.

- Please use Markdown on this issue, there's no use making this a PDF.
- What **is** the postMessage interface?
  - What's the shape of the messages?
  - What operations does it do?

This is the most important part. [**You also need to sign up to a design review.**](https://github.com/ampproject/amphtml/issues?q=is%3Aissue+is%3Aopen+label%3A%22Type%3A+Design+Review%2

[2021-04-22 09:02] alanorozco commented on #33889
Clarifying also that this blurb on #33947 **does not explain why you cannot use `amp-video-iframe`**.

You can't hide the player dynamically since it would cause [CLS](https://web.dev/cls). Sorry.

You can do all of this with `amp-video-iframe` via document URL, e.g (I took `data-param-placement` from your example on the PDF.)

[code]

This is not specifying how it needs to be "more flexible". Fro

[2021-04-22 09:13] alanorozco commented on #33912
@gmajoulet Regardless of a `rewind` button, is it intentional that the `next` button is ineffective?

[2021-04-22 09:16] alanorozco commented on #33945
@spormeon This is a warning, not an error. It doesn't appear you need to worry about it.

It also seems to come from IMA's side, [as you'll see that this message cannot be found in this repository](https://github.com/ampproject/amphtml/search?q=trust-token-redemption).

[2021-04-22 09:16] #33945 closed

[2021-04-22 10:15] eduardcotmrf commented on #33316
Same happens inside an amp-iframe: https://jsbin.com/rekoxisero

[2021-04-22 10:19] adp-developer commented on #33889
Hello @alanorozco  ,

Got you about "hiding player dynamically" and further bad CLS score, we won't implement it in this case even in future.

But how to be with outstream cases when users want to run video ad + banner ad (as a fallback) without any video file? As we understand, amp-video-iframe allows to run instream only?

[2021-04-22 11:48] goonydev commented on #33912
Thank you for still considering my request. My use of the web story player is to add a web story inside an article. The web story illustrates that article. I do not want to put multiple stories in the player, I only need this one. I would like my visitors to know when they are done with the web story so they can move on to the rest of the page with no confusion.

[2021-04-22 11:49] alanorozco commented on #33889
You point the element to a **document** URL that adplayer-pro controls, and then you can have whatever logic inside it. All that `amp-video-iframe` cares about is getting events like `play`, `pause`, `ad_start`, etc. This can come from multiple videos or however you want to do inside the frame.

I don't know what you mean by "instream", but I should clarify that `amp-video-iframe` does not know ab

[2021-04-22 12:36] caroqliu commented on #26304
@sujay2306 Sure thing!

[2021-04-22 12:38] #33913 closed

[2021-04-22 14:13] Enriqe commented on #33912
Thanks for the report @goonydev! For some context, the reasoning behind changing the "replay" button with a "next" was to avoid getting users trapped inside a player with multiple stories, with no way of navigating forward to the next one.

You bring a valid point though, the unresponsive "next" button of the last page of the last story should be replaced with a better solution. Either by 1) hidin

[2021-04-22 14:56] processprocess commented on #33812
note:
This should follow theme of the CTA.

[2021-04-22 15:12] gmajoulet commented on #32802
Can you try adding a `crossorigin` attribute on your images/svgs? I think that should fix it.
cf: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-crossorigin

[2021-04-22 15:41] gmajoulet opened #33954 "[Page attachments][inline] Open attachment UI doesn't preload images"
The images in the UI to open the attachment aren't preloaded, cf page 3 here: https://philipbell-stamp-ui.web.app/examples/amp-story/attachment.html

cc @ampproject/wg-stories

[2021-04-22 16:05] lluerich commented on #33556
@micajuine-ho Thanks for pointing that out to me.
I believe this can be closed then as the 'bug' that I found was not really a bug but intentional design.

[2021-04-22 16:05] processprocess opened #33955 "[Page attachments] Add component for `amp-story-page-outlink`"
`amp-story-page-attachment` covers two different UX patterns (inline and outlink) and isn't semantic.
A new component name for outlinks will help communicate function.

The new name will be: `amp-story-page-outlink`

`amp-story-page-outlink` will point to the code in `amp-story-page-attachment` for backwards compatibility.

To do this:
1. Register element in `amp-story.js`
2. Create validation rul

[2021-04-22 16:08] gmajoulet commented on #33955
Just a nit, the name can stay `amp-story-page-attachment` for the inline one.

[2021-04-22 16:11] processprocess commented on #33955
Got it. Description updated.

[2021-04-22 16:55] #33556 closed

[2021-04-22 17:09] saurabh230197 commented on #32802
@gmajoulet
Ok we we will add crossorigin attribute and let you know if it works.

[2021-04-22 17:21] morsssss opened #33958 "[amp-consent] Post-prompt UI doesn't appear in sample"
## What's the issue?

In [the new granular amp-consent sample on amp.dev](https://amp.dev/documentation/examples/user-consent/granular_user_consent), the post-prompt UI never appears.

## Briefly describe the bug.

It doesn't appear! Its `hidden` attribute is never removed:

[code]

However, it does appear in [the demo version with the same code](https://amp.dev/documentation/examples/user-consent

[2021-04-22 17:21] rsimha opened #33959 "Streamline package updates for `amphtml`"
**Background:**

Today, `amphtml` uses https://github.com/apps/forking-renovate to regularly update all `devDependencies` (and some `dependencies`) listed in the root `package.json` file and various sub-package level files. As of today, there have been close to [~1500 update PRs](https://github.com/ampproject/amphtml/pulls/renovate-bot), all of which have been merged manually. Other than a very sm

[2021-04-22 17:23] rsimha commented on #33959
@kristoferbaxter @jridgewell @dvoytenko Since y'all are top-level owners, please comment if you have any concerns, and thumbs-up if the plan SGTY.

/cc @ampproject/wg-infra

[2021-04-22 17:29] dmanek commented on #33886
Per conversation with @alanorozco, the fix is to include the url for documents in the shadow dom, that way `getAmpDoc().getUrl()` does not return an empty string. Also lowering to P2 since this is not a regression.

[2021-04-22 18:05] micajuine-ho commented on #32911
@adamsilverstein Do you know who we can loop in from the gtag team to see if they have experience handling this problem of large configs being sent to their configRewriter?

[2021-04-22 18:12] caroqliu opened #33961 "Bento: Can component builds remove `displayName`?"
[Relevant thread.](https://github.com/ampproject/amphtml/pull/33852#discussion_r617593755)

This property on components appears to come from using `ForwardRef`... we only rely on the value in some unit tests. Can we safely remove it from the build?

Examples:
- `b.displayName="ForwardRef("+(a.displayName||a.name)+")"` in [`amp-fit-text:1.0`](https://cdn.ampproject.org/v0/amp-fit-text-1.0.js)
- `Xb

[2021-04-22 18:14] micajuine-ho commented on #33958
@morsssss Is this not it?
![image](https://user-images.githubusercontent.com/30711678/115765619-da9ce980-a35b-11eb-8cd1-272d8a812b21.png)

[2021-04-22 18:45] isaac-tru commented on #8929
I am also getting a 404, any update as to where this has moved to? All I am getting is amp-geo.

[2021-04-22 18:58] #30680 closed

[2021-04-22 18:58] rsimha opened #33964 "Shall we consolidate all repo-level documentation in `amphtml` in one place?"
Today, the repo-level documentation in `amphtml` lives in two locations:

[code]

**Two issues:**
- Other than `README.md` and `CODE_OF_CONDUCT.md` (the two default doc files for all GitHub repos), it's not clear why some files are in the root dir and some are in `contributing/`.
- The choice between all-caps and lower-case names seems arbitrary.

@ampproject/wg-outreach I recognize that renaming

[2021-04-22 19:06] gmajoulet commented on #26180
This has been fixed as part of our accessibility work: https://github.com/ampproject/amphtml/projects/102

[2021-04-22 19:06] #26180 closed

[2021-04-22 19:28] rsimha commented on #27386
@erwinmombay bumping https://github.com/ampproject/amphtml/issues/27386#issuecomment-783446044.

[2021-04-22 19:47] Beethoven commented on #24621
It's a huge issue for customers using webstories.

[2021-04-22 19:47] rebeccanthomas commented on #18880
@micajuine-ho @jridgewell

I was taking a look at this issue and it seems as though this is the expected behavior of the timer trigger. The documentation states that `The timer trigger will continue to send out requests regardless of document state (inactive or hidden), until the maxTimerLength has been reached or stopSpec has been met.`

Is there a way to get an `inactive` state from the top stor

[2021-04-22 19:54] rebeccanthomas commented on #19030
Closing this issue  as it appears to be fixed.
However this could be due to the fact that we are unable to scroll and therefore unable to complete the repro steps, feel free to reopen with an updated example if this is still a problem.

[2021-04-22 19:54] #19030 closed

[2021-04-22 20:01] caroqliu commented on #19176
I can't reproduce with [this playground example](https://playground.amp.dev/?_gl=1*ql4539*_ga*YW1wLS05NVB4WndUVnNXODFUdHlWWkdpUFE.#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoSBsYW5nPSJlbiIgaS1hbXBodG1sLWxheW91dCBpLWFtcGh0bWwtbm8tYm9pbGVycGxhdGUgdHJhbnNmb3JtZWQ9InNlbGY7dj0xIj4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDxtZXRhIG5hbWU9InZpZXdwb3J0IiBjb250ZW50PSJ3aWR0aD1kZXZpY2Utd2lkdGgiPgogIDxsaW5rIGF

[2021-04-22 20:14] jridgewell commented on #18880
This seems like something @ampproject/wg-monetization should answer.

[2021-04-22 20:46] morsssss commented on #33958
That's the reprompt UI, in all its glory! Unfortunately, on my machine, I never see it, whether I clear the localStorage key before visiting the page or whether I don't.

Actually, looking very closely, I do notice it is shown for a fraction of a second before `<amp-consent>` loads up and marks it as `hidden`.

Here's what I see in localStorage:

![image](https://user-images.githubusercontent.com/

[2021-04-22 20:50] rsimha commented on #25403
_[Infra triage]_ Is this something we'd like to do? If not, can this be closed?

[2021-04-22 20:57] Enriqe opened #33968 "🌸 Cherry-pick request for #33948 into #33925 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33948 | #33948 |     **YES

[2021-04-22 21:01] jridgewell commented on #33959
As long as they're devDeps, seems fine.

[2021-04-22 21:03] kristoferbaxter commented on #33959
This seems fine to me.

[2021-04-22 21:04] rsimha commented on #33959
Yes, this will be enabled only for renovate [groups](https://github.com/ampproject/amphtml/blob/e5c57a647118dfff7f6a2e81bcf5a624550504f1/.renovaterc.json#L23-L97) that cover `devDepdendencies`, so there's no risk of default-merging regular `dependencies` or having this auto-applied to new groups added in future.

[2021-04-22 21:06] kristoferbaxter commented on #33968
Approved, but can we quickly add a test to prevent accidental regressions?

[2021-04-22 21:07] Enriqe commented on #33968
Will do.

[2021-04-22 21:13] calebcordry opened #33969 "✨ Auto-advancing story ads"
We would like to test auto advancing story ads at various time intervals.

We think auto-advancing is good for user experience but we need to ensure that it does not drastically affect things like CTR which will hurt publisher revenue.

cc/ @ampproject/wg-monetization

[2021-04-22 21:17] rsimha commented on #26750
_[Infra triage]_ @samouri Is this something that can be fixed as part the changes you're making to AMP's type-checker?

[2021-04-22 21:20] rsimha commented on #26754
_[Infra triage]_  A lot has changed since this issue was filed. Assigning to @rileyajones for visibility and to decide if / how / when to solve this.

[2021-04-22 21:22] rsimha commented on #27044
_[Infra triage]_ Putting this on the back-burner in light of the comments above. This can be revisited if / when are able to move cross-browser testing to CircleCI.

[2021-04-22 21:23] rsimha commented on #26948
_[Infra triage]_ @alanorozco is this still a valid issue?

[2021-04-22 21:30] rsimha commented on #26762
_[Infra triage]_ It has been a year since this was filed. Given that https://cdn.ampproject.org/experiments.html has this dialog available, I'm not sure if it's worth the engineering effort to add new opt-in button(s).

![image](https://user-images.githubusercontent.com/26553114/115787569-6892c780-a390-11eb-8987-39d635f9cc4a.png)

However, it may be easy / useful to hyperlink the "previously relea

[2021-04-22 21:32] rsimha commented on #27726
_[Infra triage]_ Do recent changes to CI / release automation make this easier to do?

[2021-04-22 21:34] rsimha commented on #19544
_[Infra triage]_ Closing this issue as stale. Please reopen if required.

[2021-04-22 21:34] #19544 closed

[2021-04-22 21:34] rsimha commented on #19899
_[Infra triage]_ Closing this issue as stale. Please reopen if required.

[2021-04-22 21:34] #19899 closed

[2021-04-22 21:34] gmajoulet commented on #33912
It's not that easy, let me clarify.

Our vision is to push for users to experience Stories as an infinite feed, where one Story leads to another one. This is why we decided to replace the "replay" button with a "next Story" button, when in the context of a Player.
When there is a next Story, the behavior is straight forward: navigate to it.

When there is no next Story, it's no longer obvious. Som

[2021-04-22 21:34] rsimha commented on #21646
_[Infra triage]_ Closing this issue as stale. Please reopen if required.

[2021-04-22 21:34] #21646 closed

[2021-04-22 21:35] rsimha commented on #18446
_[Infra triage]_ Closing this issue as stale. Please reopen if required.

[2021-04-22 21:35] #18446 closed

[2021-04-22 21:36] rsimha commented on #20466
_[Infra triage]_ I think this is still a P3, but putting this on the radar or @rileyajones for visibility.

[2021-04-22 21:38] rsimha commented on #20465
_[Infra triage]_ Curious if this functionality has been requested / missed at any point in the past two years. If not, close as stale?

[2021-04-22 21:42] rsimha commented on #22682
_[Infra triage]_ Some progress has been made towards accurately measuring coverage during integration / e2e tests since this issue was filed. See #30463, #30129, #31787 (abandoned). Putting this on the radar of @rileyajones in case there is other low-hanging fruit that will allow us to get coverage numbers during CI.

[2021-04-22 21:46] rsimha commented on #19765
_[Infra triage]_ Now that we have a way to detect slow tests during CI, perhaps it has become easier to speed up tests that are egregiously slow? Assigning to @rileyajones who is already driving this effort.

[2021-04-22 22:01] rsimha commented on #24234
_[Infra triage]_ Closing this as stale. Please reopen if required.

[2021-04-22 22:01] #24234 closed

[2021-04-22 22:03] rsimha commented on #25551
_[Infra triage]_ Is this something we'd like to do? If not, can this be closed?

[2021-04-22 22:04] rsimha commented on #19997
_[Infra triage]_ Is this something we'd like to do? If not, can this be closed?

[2021-04-22 22:05] rsimha commented on #25214
_[Infra triage]_ Is this something we'd like to do? If not, can this be closed?

[2021-04-22 22:07] rsimha commented on #17846
_[Infra triage]_ Closing this as stale given that most updates we wanted to make are in. Please open a new issue if there's a specific request.

[2021-04-22 22:07] #17846 closed

[2021-04-22 22:08] rsimha commented on #27771
_[Infra triage]_ Is this already addressed by recent release changes? If not, is this something we'd like to do?

[2021-04-22 22:09] rsimha commented on #28525
_[Infra triage]_ Closing because #28627 didn't work out.

[2021-04-22 22:09] #28525 closed

[2021-04-22 22:10] rsimha commented on #29723
_[Infra triage]_ Closing because it looks like this has been fixed.

[2021-04-22 22:10] #29723 closed

[2021-04-22 22:11] jeffjose commented on #8929
We deprecated `amp-user-location` due to lack of usage. See https://github.com/ampproject/amphtml/issues/25573 for details.

[2021-04-22 22:12] rsimha commented on #26990
_[Infra triage]_ Is this something we'd like to do? If not, can this be closed?

[2021-04-22 22:16] rsimha commented on #29439
_[Infra triage]_ Given that IE 11 was sunsetted by Microsoft [in November 2020](https://en.wikipedia.org/wiki/Internet_Explorer_11#cite_note-9), I think this issue can be closed. Please reopen if there's good reason to solve this.

[2021-04-22 22:16] #29439 closed

[2021-04-22 22:18] rsimha commented on #32755
_[Infra triage]_ This is still a useful idea. Closing this issue as a duplicate of ampproject/amp-github-apps/issues/985, which has since been transferred to `amphtml`.

[2021-04-22 22:18] #32755 closed

[2021-04-22 22:23] rsimha commented on #25040
_[Infra triage]_ Since this issue was filed two years ago, the OpenJS migration was completed. See https://github.com/ampproject/wg-caching/issues/13#issuecomment-597297041 for more details.

However, the offending lines are still in our codebase.

https://github.com/ampproject/amphtml/blob/e5c57a647118dfff7f6a2e81bcf5a624550504f1/src/config.js#L97-L112

Assigning to @jridgewell for comment on if

[2021-04-22 22:25] rsimha commented on #12747
_[Infra triage]_ Closing this issue as stale. Please reopen if this still remains a problem.

[2021-04-22 22:25] #12747 closed

[2021-04-22 22:26] rsimha commented on #24144
_[Infra triage]_ Putting this on the radar of @rileyajones for comment / prioritization.

[2021-04-22 22:28] rsimha commented on #14360
_[Infra triage]_ Assigning this uber-issue to @rileyajones for visibility. It may no longer be useful to keep this issue around since most ideas have already been split off into separate efforts. Feel free to close if this is the case.

[2021-04-22 22:31] rsimha commented on #30353
_[Infra triage]_ Closing this issue in light of the comment above. This can be reopened if / when we move cross-browser testing to CircleCI and / or support is added for more launchers.

[2021-04-22 22:31] #30353 closed

[2021-04-22 22:32] rsimha commented on #19766
_[Infra triage]_ Putting this on the radar of @rileyajones. We recently added analytics for our tests via CircleCI. I wonder if the reporters can be made to enumerate skipped tests in the results, and if we can do anything with that information.

[2021-04-22 22:43] #33548 closed

[2021-04-23 04:53] #25076 closed

[2021-04-23 04:53] #25077 closed

[2021-04-23 04:53] #25031 closed

[2021-04-23 04:53] #25196 closed

[2021-04-23 04:53] #24932 closed

[2021-04-23 04:53] #24827 closed

[2021-04-23 06:17] saurabh230197 commented on #32802
@gmajoulet

We already added `access-control-allow-origin: *` and I verified again.
PFA screenshots and see ![crossorigin_allsite](https://user-images.githubusercontent.com/64782640/115824386-79414d00-a425-11eb-8fa6-6844a4bc918a.PNG) this is original path and ![crossorigin_onesite](https://user-images.githubusercontent.com/64782640/115824390-7a727a00-a425-11eb-89c3-f84575d3737b.PNG) this is AMP ca

[2021-04-23 09:41] goonydev opened #33975 "amp-story-player snippets on docs are incorrect"
## What's the issue?

Sorry if this is the wrong place. I would like to point out some errors in the doc that make it more difficult for us to use.

Documentation I am reffering to:

https://github.com/ampproject/amphtml/blob/main/spec/amp-story-player.md

**1. Many examples like this one will cause Javascript errors:**

[code]

-> There has to be a concatenate sign "+" between the variables and t

[2021-04-23 09:43] oliverfernandez commented on #33316
I've investigated this issue, and it seems that the problem is [here](https://github.com/ampproject/amphtml/blob/e5c57a647118dfff7f6a2e81bcf5a624550504f1/extensions/amp-analytics/0.1/events.js#L346)

[code]

The problem is that inside a Shadow DOM (used by `<amp-next-page>`) the pseudo selector `:root` does not exist, and the promise `targetReady` never fulfills

When no `selector` is defined, doe

[2021-04-23 11:05] goonydev commented on #33912
I am trying to call the "noNextStory" event with no success. Other events work fine so I don't think my implementation of the documentation is bad, although I had to fix some of the examples provided:

https://github.com/ampproject/amphtml/issues/33975

Anyways, I don't want to use a "next" icon to close the player. This would be unexpected by the user. He needs to know when he reaches the end so

[2021-04-23 12:06] yulya9060 opened #33976 "I2I: rcmwidget extension for amp-ad"
### Summary
Hi.
I added support for amp-ad type=rcmwidget

Widget is used to place dynamic blocks with the most relevant materials on Rambler sites.

/cc @ampproject/wg-approvers

[2021-04-23 12:07] yulya9060 commented on #33976
https://github.com/ampproject/amphtml/pull/33888

[2021-04-23 12:44] xavierleune commented on #31673
Hi @micajuine-ho and thanks for your feedback. Can you make sure to raise the real needs up to the viewer team ? I'm sure it's a pretty small change for the team, all we need here is goodwill from Google. This issue has an impact on revenues for publishers & for Google.

[2021-04-23 13:11] Vatsalya123 opened #33977 "<amp-iframe embeds another iframe with no width or height attribute?"
unable to find the root where the <amp-iframe attribute gets added, also the code is not present when we do a view source(initial page load)

Briefly describe the bug.
<amp-iframe embeds another iframe with no width or height attribute which leads to amp error>

## How do we reproduce the issue?

https://www.nasdaq.com/articles/markets-work%3A-how-bolsa-de-valores-de-colombia-is-navigating-covid-1

[2021-04-23 13:52] goonydev commented on #33912
Rectification: I just managed to make "noNextStory" work. I did not realize i had "circular-wrapping" activated.

[2021-04-23 13:59] micajuine-ho commented on #33958
Have you tried it on an incognito window without any browser extensions?

[2021-04-23 14:50] alanorozco commented on #33976
cc @ampproject/wg-monetization

[2021-04-23 14:57] alanorozco commented on #33977
Your code is wrong. I can see the amp-iframe on view-source: https://www.nasdaq.com/articles/3-favorite-stocks-spiritual-billionaire-guru-2014-05-22?amp on line 885:

[code]

See that the last `</amp-image>` + `<amp-iframe>` is wrong: you want `amp-img` and you want to close the `<amp-iframe>`, not open it. In combination, that's why you get an incorrect nested frame.

[code]

[2021-04-23 14:57] #33977 closed

[2021-04-23 15:00] alanorozco commented on #33975
My 2c is that we probably want a comma instead of concatenating.

[code]

For the incorrect functionality of the snippets, I'll let @Enriqe or @gmajoulet comment.

[2021-04-23 15:07] calebcordry commented on #33976
Hi @yulya9060 could you please give some more details about this widget? This sounds like it might be different that a normal ad implementation? If so, what information does it need? What sort of api calls will it make? Thanks

[2021-04-23 15:19] estherkim commented on #27771
This is still pending and worth doing 👍

[2021-04-23 15:48] powerivq commented on #33976
@calebcordry It's not different. I'm reviewing their PR>

[2021-04-23 15:49] calebcordry commented on #33976
Oh, never mind then :)

[2021-04-23 16:00] alanorozco commented on #33961
One effect of removing the `displayName` is that [the Preact devtools extension](https://github.com/preactjs/preact-devtools) will not properly identify it on the tree.

This would remove `~10B` from every binary at best, I think the benefit of tagging it for debug tools outweighs this.

(Also, we set `displayName="Instagram"` explicitly, I wonder where `displayName="ForwardRef(...` comes from.)

[2021-04-23 16:25] gmajoulet commented on #33975
This is all great feedback, thank you @goonydev for taking the time to file an issue!
@Enriqe should be able to take this on :))

[2021-04-23 18:08] #33463 closed

[2021-04-23 18:54] micajuine-ho opened #33990 "[amp-analytics] Session analytics in AMP"
To support GA4 in AMP (#24621), AMP will create the idea of a sessions per user per domain per vendor.
We will support the following session related information (see below). We can transmit this data via macros (information is in regards to the session) within our analytics requests. Session information should be able to be linked on navigation from Cache to Origin.

Goal is to create these macros

[2021-04-23 19:53] calebcordry opened #33993 "🐛 Test unable to run due to build error?"
Unit tests fail when trying to run `amp unit --files=extensions/amp-story/1.0/test/test-amp-story-bookend.js` on clean `main`. Seems like something to do with the build step?

Error message:
[code]

Discovered in `amp unit --local_changes` failure when trying to merge #33884

cc/ @ampproject/wg-stories @jridgewell @samouri

[2021-04-23 20:06] samouri commented on #33993
So it turns out this is just a part of JS eval of circular dependencies. In this case something tried to use `DraggableDrawer` before it was defined.

[2021-04-23 21:41] #33993 closed

[2021-04-23 23:25] alankent opened #33998 "Safe zone support to simplify cropping and letterboxing"
## Describe the new feature or change to an existing feature you'd like to see

Proposal: Add "safe zone" support to making sizing of images and videos easier in web stories to make them cover as much of the screen as possible with a guarantee that "essential" content (e.g. text) is never cropped.

This is not a problem for text layers in a story - it is only a problem when the text or similar is

[2021-04-23 23:50] #33783 closed

[2021-04-24 00:39] #30907 closed

[2021-04-24 00:59] samouri commented on #30907
I am very excited you managed to track this down :)

[2021-04-24 01:21] #25240 closed

[2021-04-24 01:21] #24989 closed

[2021-04-25 10:37] tiagorangel2011 commented on #8214
Template is always hidded

[2021-04-25 19:57] saurabh230197 commented on #32802
@gmajoulet
Hi please help me with this issue.

[2021-04-25 20:06] joblog opened #34003 "Scrolling Options for Paginated Infinite Scroll (and Google Indexing)"
The Google indexing bot does not scroll.
So if you want the content of an amp component with infinite scroll to be indexed by Google that scrolled content must be paginated.
i.e. It must be possible to link directly to each page or group of items in the scroll.
This is the case with amp-next-page (and can also be implemented in amp-list - with a bit of work)

Unfortunately, in both cases, having l

[2021-04-26 06:24] rolero commented on #31606
We also have this issue: https://www.bizzlibrary.com/Template/PMMNX/purchase-sales-agreement-chinese/

Please reopen.

![image](https://user-images.githubusercontent.com/2805313/116037705-0e994700-a69b-11eb-9920-3b9e4a2e4615.png)

[2021-04-26 08:16] greghuet commented on #30999
Does anyone have any updates regarding Funding Choices CMP for AMP ? Most solutions are expensive (the free ones are limited and share users' data...), therefore, we are looking forward to getting ready to get it implemented on our sites. Thanks you in advance.

[2021-04-26 13:01] processprocess commented on #33998
cc @mszylkowski for context

[2021-04-26 13:51] mszylkowski commented on #33998
Actually this might be already implemented with these new [responsiveness presets](https://amp.dev/documentation/components/amp-story-grid-layer/#modern-aspect-ratio). They optimize the layers' aspect-ratio for mobile devices and the background layer crops or letterbox, but can only crop up to 7.1% of the background image on each side (so the safe zone is the center 85.8%). The guarantee of these

[2021-04-26 14:13] kristoferbaxter commented on #33964
Don't see any compelling reason to preserve what we have today. If you believe this can make things easier in some way, please move things as you find helpful.

[2021-04-26 14:18] stephengardner opened #34006 "amp-sidebar is breaking the playground, and iframe'd AMP page builders."
A rather critical issue, breaking the AMP playground, and also our AMP page-builder.

[See here](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiIC8+CiAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICA8bGluayByZWw9ImNhbm9uaWNhbCIgaHJlZj0ic2VsZi5odG1sIiAvPgogIDxtZXRhIG5hbWU9InZpZXdwb3J0IiBjb250ZW50PSJ3aWR0aD1kZXZpY2Utd2lkdGgiIC8+CiAgPHN0eWxlIGFtc

[2021-04-26 14:21] morsssss commented on #33964
/cc @patrickkettner who no doubt knows more than I do about the import process

[2021-04-26 14:30] samouri commented on #25546
@mborof / @jpettitt: what is the status of this? Can it be closed?

[2021-04-26 14:31] samouri commented on #25415
@dvoytenko: is there more to do here?

[2021-04-26 14:31] kristoferbaxter commented on #13597
Since this conversation and discussion appears to have reached a conclusion, I am closing this issue. If there are new items to discuss in this matter, please consider [opening a new issue](https://github.com/ampproject/amphtml/issues/new), or bringing the topic to the [AMP Advisory Committee](https://github.com/ampproject/meta-ac).

[2021-04-26 14:31] #13597 closed

[2021-04-26 14:33] samouri commented on #25694
@fstanis / @alabiaga: is duplication of viewer files still the status quo here or have there been updates?

[2021-04-26 14:33] caroqliu commented on #33961
@alanorozco Thanks for looking into this. I thought it might be a meaningful property for developers. WDYT about removing for AMP custom element builds but not for Preact builds?

re: `displayName="ForwardRef(...`, this looks like the default value assigned to `displayName` when we don't set one explicitly (which we don't for `FitText`). This one likely comes from the component using `ContainWrapp

[2021-04-26 14:34] kristoferbaxter commented on #34006
@alanorozco, can you take a look at this? I'm not sure if its a recent regression or not.

[2021-04-26 14:36] samouri commented on #15827
Is there still more work to do here? Did we end up making the presubmit check and/or removing the `amp-next-page` doc level experiment? What are the blockers?

[2021-04-26 16:04] mrjoro commented on #15827
@lannka is the `amp-next-page` experiment still active?

@rsimha do you know if a presubmit check was ever added for this?

Once that is removed, it should be a matter of adding a presubmit check to ensure no new `allow-doc-opt-in` experiments are added in [prod-config.json](https://github.com/ampproject/amphtml/blob/main/build-system/global-configs/prod-config.json).

We'd also want to update the

[2021-04-26 16:06] dvoytenko commented on #25415
IMHO, the timeout should just go. The error logging could still be kept for monitoring though.

[2021-04-26 17:39] sanggonlee commented on #33218
Hi @mszylkowski , am I correct in assuming that `story-bookend-enter`, `story-bookend-exit`, and `story-bookend-click` analytics events will no longer be fired for `amp-story-bookend` and `amp-story-social-share` after this?

[2021-04-26 18:10] alankent commented on #33998
I don't fully understand the rules from the description (never letterboxes, but max cropped off), but it does sound like what I was after. Thanks!

[2021-04-26 18:10] #33998 closed

[2021-04-26 18:31] alankent commented on #33998
Ah, I am going to suggest a doc change. It does letterbox if it crops more than 7%. Just needs some tweaking to the wording.

[2021-04-26 18:40] #33898 closed

[2021-04-26 18:42] alankent opened #34011 "Documentation on 2021-background preset slightly inaccurate for web stories"
## What's the issue?

Documentation for https://amp.dev/documentation/components/amp-story-grid-layer/#modern-aspect-ratio says "This preset covers the entire screen ... without letterboxing". That is not correct - it can still letter box. What happens is it resizes to cover the screen, cropping at most 7% (as mentioned). If more than 7% is required then it resorts to letterbox still.

Just need t

[2021-04-26 18:49] rsimha commented on #26561
_[Infra triage]_ It has been a year since this was proposed in https://github.com/ampproject/amphtml/pull/26549#discussion_r373019460, during which time there have been changes to AMP's documentation backend, membership of working-groups, and team priorities. @rcebulko @sebastianbenz Do either of you see reason to keep this around? If there's no strong reason, I'm okay with closing.

[2021-04-26 19:00] danielrozenberg opened #34013 "I2I: support for controlled experiment launches"
## Summary

Add runtime support for deploying AMP experiment configuration updates faster, via the CDN and cache pages.

## Motivation

An AMP experiment configuration update takes an average of two weeks to be deployed and reach end users.

An experiment controlled launch to 1%, looking at metrics, and then 10%, 100%, would take a minimum of 6 weeks to complete.

Unlaunching a buggy feature requi

[2021-04-26 19:00] newmuis commented on #20465
@gmajoulet would know if this is useful better than I would at this point

[2021-04-26 19:02] danielrozenberg commented on #33819
I would like to discuss #34013 — support for controlled experiment launches

[2021-04-26 19:07] gmajoulet commented on #34013
cc @ampproject/wg-stories it's happening 😍

[2021-04-26 19:18] dylanfpaul commented on #13882
@choumx You're example where you go `selected="{{selected}}"` I don't think this applies for all attributes. Some attributes seem to be unaffected by this and are stripped from the resulting markup. Would you be able to point me to a list of attributes that can be dynamically set via variables, and ones that can't?

[2021-04-26 19:19] rsimha commented on #29902
_[Infra triage]_ The `no-unused-vars` lint rule is configured to not complain about interfaces (ending in `Interface`) or typedefs (ending in `Def`).

https://github.com/ampproject/amphtml/blob/3a4f018bea2e3aac973bf07fa906ac6f2c910efc/.eslintrc.js#L208-L214

Looking at the `no-unused-vars` [rule details](https://eslint.org/docs/rules/no-unused-vars#rule-details) in the `eslint` documentation, ther

[2021-04-26 19:25] rsimha commented on #31409
_[Infra Triage]_ Assigning to @rileyajones who has been looking into E2E failures recently.

[2021-04-26 19:38] #26561 closed

[2021-04-26 19:44] rsimha commented on #29216
_[Infra triage]_ This was (and still is) a good idea that slipped my attention when it was filed last year. I'm supportive of any action that could make our tests easier to read, provided they can be done at scale without the need for a large time investment. Luckily, as pointed out in the OP, there are ways to do this via VSCode and npm tooling.

Reassigning this to @rileyajones for some quick-an

[2021-04-26 19:47] processprocess opened #34015 "[Page attachments] [Outlink] Anchor link for bot rendering."
The CTA is now an anchor element so the `remote-content` element does not need to be:
https://github.com/ampproject/amphtml/blob/2f6158b665b180194eb0b85e151319e2b4eaad8d/extensions/amp-story/1.0/amp-story-page-attachment.js#L210-L214

This was originally done for bot rendering when the CTA was not an anchor element.

When converting this to a div we will need to confirm that bots will be able to c

[2021-04-26 19:49] #33862 closed

[2021-04-26 19:55] gmajoulet commented on #34011
cc @mszylkowski can you help?

[2021-04-26 19:56] rsimha commented on #32110
_[Infra triage]_ Pinging this issue to ask for more clarity on the plans you're referring to re: publishing AMP to `npm`.

**Some general context:** As of today, all of AMP's core runtime and extension JS binaries are built using `amp dist`. If someone wishes to use AMP without the CDN for some reason, they can use the open-sourced `amp release` workflow, which uses `amp dist` under the covers, to

[2021-04-26 19:58] gmajoulet commented on #20465
It would allow us to turn some manual QA tests into E2E ones. We're trying to expand our E2E test coverage so that'd be useful.

[2021-04-26 20:07] mszylkowski commented on #34011
Yes, will create a PR with improved wording. The doc is confusing but it says "it covers the entire screen **on all mobile devices** ... without letterboxing", which is right. The iPhone X preset on the Chrome Devtools is not accurate on viewport sizes for the story (it's too tall) but the `#development=1` mode should have a better representation of the iPhone X if you check the iPhone 11 Pro, whi

[2021-04-26 20:18] rsimha commented on #19767
_[Infra triage]_ I scanned through several of the TODOs in `build-system/` and noticed that the reasons behind adding most of them haven't entirely gone away. It's probably okay for them to remain and serve as documentation that will help during future rewrites / refactors of code.

While I acknowledge the original intent of this issue (to inventory and fix as many TODOs as possible), I think it's

[2021-04-26 20:18] #19767 closed

[2021-04-26 20:23] alankent commented on #34011
Cool. Using "iPad" on Chrome in Dev Tools considers it mobile - iPad Pro it does not consider mobile - but not sure if the same error there. But I used it on a story and it is a nice mid point between the two extremes of zero crop and zero letterbox.

[2021-04-26 20:26] alankent commented on #34011
Hmmm. Sorry, just looking closer, is this expected? DevTools in chrome again. It has cropped at top and sides at the same time. Does that mean it always crops? I was hoping it would only crop if needed.

![image](https://user-images.githubusercontent.com/5702163/116146036-e4438b80-a692-11eb-939a-beb44425f5d5.png)

[2021-04-26 20:32] hamax opened #34016 "I2I: amp-story-captions"
## Summary

To make captions more customizable and more consistent across browsers, we would like to introduce a new component that implements custom caption rendering, instead of relying on the native caption rendering.

## Motivation

Currently in AMP stories we can only use native captions rendering that comes with the video and track HTML tags. Format support and styling is largely browser dep

[2021-04-26 20:48] mszylkowski commented on #34011
Yes, it will always crop since it's meant to be a background layer. The feature makes it so that either you have a layer that doesn't get cropped at all (background), or a layer that will cover the phone screens but get cropped (background). The main functionality of the preset layers is that you can add any elements on the foreground, and then have a background that will stay perfectly aligned wi

[2021-04-26 20:48] rsimha commented on #32195
Closing out this top-level issue now that the default branch of `amphtml` and almost every other repo under `amppproject` have been renamed. There are two or three repos left, and their issues are linked above.

[2021-04-26 20:48] #32195 closed

[2021-04-26 20:58] gmajoulet commented on #32802
The response headers are great but the request headers are not. Please try adding a `crossorigin` parameter to your image, that will fix it.
Repeating the link from above if you want to learn more about how this works: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-crossorigin

[2021-04-26 21:19] alankent commented on #34011
So it is more of a "reveal" mode. It reserves 7% off the sides and tops so it can reveal more of the image if on a taller or wider display. So not exactly what I had in mind, but it achieves the same purpose. Basically that 7% should be considered "pretty but not important" so it can always be cropped.

[2021-04-26 21:26] tobie commented on #32195
Amazing. Congrats.

[2021-04-26 21:28] mszylkowski commented on #34011
Yes, the difference is that the current preset logic tries to always maximize the size of the safe-area, while what you explain is trying to minimize the background cropping. The reason for using what we have is that the foreground elements are the most important things to show on the page, so maximizing their size is key. For use-cases like yours, usually creating an aspect-ratio layer with the r

[2021-04-26 21:57] newmuis commented on #34016
This is fantastic, and will provide so much more flexibility in terms of appearance of captions.

I know there is also desire to use this for audio components (for voiceovers and speech to text), so maybe we take the `-video-` infix out and call it `amp-captions`?

[2021-04-26 23:15] #33886 closed

[2021-04-27 07:36] Francisco-AM opened #34023 "amp-next-page"
changes according to screen size
Look image load title2
![image](https://user-images.githubusercontent.com/69035383/116202807-48218f00-a73b-11eb-8f64-62dc21d9e5d2.png)

And
![image](https://user-images.githubusercontent.com/69035383/116203371-ea417700-a73b-11eb-99d8-aede3873200c.png)

This behavior is quite unpredictable
And here load title 1
![image](https://user-images.githubusercontent.com/6903

[2021-04-27 08:25] cpauwels opened #34024 "`amp-story` swipe up doesn't escape `amp-story-player`"
## What's the issue?

When swiping up on a story that is embedded in an amp-story-player, the destination used to "escape" the player and redirect the user. Now the amp-story-player shows the destination within the player itself.

## How do we reproduce the issue?

Here's an example: https://codepen.io/capauwels/full/KKaEEjN
To reproduce, simply add a story containing a swipe up in an amp-story-pl

[2021-04-27 13:05] #32305 closed

[2021-04-27 13:07] micajuine-ho commented on #34023
@Francisco-AM Can you please provide a minimal example so that we can debug? Either via jsbin or something similar?

[2021-04-27 13:27] patrickkettner commented on #33964
SGTM! Let me know when. you want to proceed and I can coordinate a PR for amp.dev to go out

[2021-04-27 13:47] alanorozco commented on #34006
Looks similar to #33579 but I'm not familiar with the root cause.

[2021-04-27 13:52] alanorozco commented on #34006
@stephengardner Are you still experiencing the issue? I can't repro it. Your affected version would be useful.

[2021-04-27 14:44] kristoferbaxter commented on #34024
This appears to be a regression, adding @Enriqe to investigate.

[2021-04-27 14:49] demil opened #34027 "No javascript amp pages"
## Why amp validator don't allow no javascript amp pages without any custom amp element and with all css amp guidelines respected

If we have clear html and inline css page with no images or any other custom amp tag, with just text, why we should include amp javascript to make page heavier just to pass amp validation? Amp javascript should be mandatory only if there is need for custom amp elements

[2021-04-27 15:17] Enriqe commented on #34024
Thanks for the report @cpauwels, we recently made some changes to how the `amp-story-page-attachment` navigates inside the `amp-story` format, which might explain the change in behavior. I'm taking a look.

/cc @ampproject/wg-stories

[2021-04-27 15:24] Enriqe commented on #34024
My quick initial investigation thinks this is caused by https://github.com/ampproject/amphtml/pull/33656, which is an important fix for another bug. Going to confirm before thinking of next steps.

[2021-04-27 15:35] Enriqe commented on #34024
Confirmed that reverting f19ff64c6316d369d3a26845a969861f170a5b6d fixes this particular issue. Going to discuss with the team what the best path forward is.

[2021-04-27 15:47] gmajoulet commented on #34024
Good catch Enrique, the target was `_top` and has been switched to `_self`. The fix should be easy, but let's test it on Safari before shipping it, to make sure that a navigation using `_top` doesn't require a trusted user gesture, which "swipe up" is not.

[2021-04-27 16:19] danielrozenberg commented on #33040
Fixed by @Enriqe in #33878

[2021-04-27 16:19] #33040 closed

[2021-04-27 16:32] #33976 closed

[2021-04-27 16:33] Francisco-AM commented on #34023
Any block of amp next page is going to give you that problem, it is necessary that the block occupies more than the graphic window so that it does not give you that problem, I do not know if this will be fixed but it could be warned in the documentation for new developers. you can try modifying the height of the window and reloading the page.
![image](https://user-images.githubusercontent.com/6903

[2021-04-27 16:36] rsimha opened #34033 "`amp-story-dev-tools` visual tests are flaky"
These tests have failed for the past several builds

**Example builds:**
https://percy.io/ampproject/amphtml/builds/10100887/changed/568693551
https://percy.io/ampproject/amphtml/builds/10100267/changed/568660037

[2021-04-27 16:54] Francisco-AM commented on #34023
Look here you can test its behavior without having to test my example
https://preview.amp.dev/documentation/examples/components/amp-next-page
![image](https://user-images.githubusercontent.com/69035383/116281173-b8ef9800-a789-11eb-85fa-2447c4837ba4.png)

![image](https://user-images.githubusercontent.com/69035383/116281225-c6a51d80-a789-11eb-883c-b526d863e101.png)

![image](https://user-images.git

[2021-04-27 16:58] samouri commented on #29902
I'm personally ok with our current mechanism

[2021-04-27 17:03] rsimha commented on #29902
I suppose one thing we can do is to clean up existing interfaces that don't end in `Interface` and typedefs that don't end in `Def`. (There are [~20 instances](https://github.com/ampproject/amphtml/search?q=eslint-disable-line+no-unused-vars&type=code) in code right now.) This can be done organically as code is maintained / refactored.

[2021-04-27 17:03] #29902 closed

[2021-04-27 18:20] #34024 closed

[2021-04-27 18:26] #33975 closed

[2021-04-27 18:30] ZachNusbaum opened #34038 "I2I: Add Bandsintown Amplified ad network to amp-ad"
We intend to add support for the Bandsintown Amplified (https://publishers.bandsintown.com) ad network to amp-ad.

We plan to submit a pull request sometime this week or early next week.

Thanks!

[2021-04-27 19:09] #31795 closed

[2021-04-27 19:20] morsssss commented on #33958
Yes - I don't have browser extensions enabled in incognito.

I also just tried this on Safari. Same result - no reprompt UI.

Strange...

[2021-04-27 21:25] rileyajones opened #34044 "I2I: Cache network requests dispatched from tests"
## Summary

Network requests dispatched from tests both slow down test suites and cause instability. By routing these requests through a proxy server which caches the responses we can speed up test runs and reduce flakes.

## Motivation
AMP developers spend a lot of time waiting for tests to run and are forced to repeat this process when flakes occur.
[amphtml Pipelines](https://app.circleci.com/p

[2021-04-27 21:48] rileyajones commented on #34044
This seems like a fairly straightforward solution to a problem that has affected a lot of us so I wouldn't be surprised if I am not the first person to consider such an idea. I'm very interested to know if anyone else has spent any time thinking about or has come up with a reason that this could not work.

[2021-04-27 21:52] jridgewell commented on #34044
Do you have an example of network requests being made?

This needs to be controlled at the Browser level, it can't be done in JS. Eg, we could have Karma spin up Chrome with `--proxy-server`: https://www.chromium.org/developers/design-documents/network-settings

[2021-04-27 22:07] rileyajones commented on #34044
The `--proxy-server` flag is a great suggestion.
Most of the examples occur in the e2e tests and often take the form of the fixture loading remote assets, for example the `amp-img` tag in `test/fixtures/e2e/amp-bind/bind-amp4email.html` loads `https://foo.com/foo.jpg` and while that is not a real image, the runner will still wait for it to be loaded.

While it isn't a great metric for a variety of

[2021-04-27 23:15] AutadeJS commented on #32802
@gmajoulet
Hi Gabriel,

There is one SVG being used by 2 stories:

- **Original story 1**: https://pets.visualstories.com/reasons-why-cats-are-better-than-dogs
- **Original story 2**: https://travel.visualstories.com/most-beautiful-medieval-towns-that-still-exist
- **Original SVG**: https://media.visualstories.com/uploads/svges/9304945.svg
 - original SVG has access-control-allow-origin: *

While

[2021-04-27 23:25] jridgewell commented on #32802
CCing myself to this thread, I'm going to look into it tonight.

[2021-04-27 23:25] samouri commented on #34044
Why are our tests making network request? Shouldn't we be mocking that dep out? This would be even faster than than caching

[2021-04-27 23:27] jeffersoncustodio820 commented on #24621
+1

[2021-04-28 00:05] github-actions[bot] opened #34048 "Design Review 2021-05-19 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=05&day=19&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210519T000000Z/20210519T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-04-28 00:56] jridgewell commented on #34044
Yah, my first thought is to reject any request that isn't to a local dev server. But we could also cache the foreign requests into a local response blob, and read that from disk when serving (anything uncached would be rejected).

[2021-04-28 01:26] jridgewell commented on #32802
Investigated this, and it's an Google AMP Cache issue. It's easily visible by doing:

1. Open new tab: https://thrilling--bubble--feast-glitch-me.cdn.ampproject.org/c/s/thrilling-bubble-feast.glitch.me
2. Hard refresh
3. Observe the page has a black circle with white text, and that the [9304945.svg](https://media-visualstories-com.cdn.ampproject.org/i/s/media.visualstories.com/uploads/svges/930494

[2021-04-28 01:32] jridgewell commented on #32802
Internal bug: b/186585381

[2021-04-28 03:56] saurabh230197 commented on #32802
@jridgewell
Thanks for helping to understand issue.

[2021-04-28 12:42] vahandev commented on #24353
It would be nice to have in AMP way to detect scroll direction. For example we would like to show sticky navigation when one scrolls up and hide when scrolls down e.g. while reading by freeing up space on mobile screen.

[2021-04-28 13:11] processprocess opened #34050 "[Page attachments] Update cta-text and title attributes in docs"
The [amp-story-page-attachment](https://amp.dev/documentation/components/amp-story-page-attachment/?format=stories#data-cta-text) docs need to be updated to reflect the work in #34026.

To summarize:
- `data-cta-text` will now be `cta-text`
- `data-title` will now be `data-title`

Sidenote for context:

@ampproject/wg-stories

[2021-04-28 13:22] #32504 closed

[2021-04-28 14:36] #32333 closed

[2021-04-28 14:36] kristoferbaxter commented on #32333
Pinterest was able to fix the issue on their endpoint.

[2021-04-28 16:35] jpettitt commented on #25546
Yes close for now, the underlying design is obsoleted by the death of 3p cookies, will re-open if needed later.

[2021-04-28 16:35] #25546 closed

[2021-04-28 16:39] ioweb-gr opened #34059 "amp-img won't render when nested in a hidden element"
If you have a bug for AMP please fill in the following template. Delete everything except the headers (including this text).

## What's the issue?
amp-img won't render

## How do we reproduce the issue?

Try the following example on the playground https://playground.amp.dev/amp/

[code]

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue a

[2021-04-28 16:58] micajuine-ho commented on #31673
After chatting with the Google Viewer team, it looks like they have changed their implementation and no longer have this 2KB per domain localStorage restriction.

Therefore, I think we can remove the client-side storage restriction as long as other viewer teams are on board (@ssantosms for Bing Viewer).

We are looking to implement this change in a few weeks to give other Viewer teams time to disc

[2021-04-28 17:04] xavierleune commented on #31673
Thanks for the update @micajuine-ho. However, 2kb is not enough. My pull request changed the limit to 7kb. Is there anything wrong with the numbers I provided ?

[2021-04-28 17:07] summercms commented on #13716
@jeffjose @lannka

Bump, as still waiting for an answer...

[2021-04-28 17:13] micajuine-ho commented on #31673
Hi @xavierleune, I think you might have misunderstood my comment:

therefore, we would remove the current client-side restriction entirely. Does that make sense?

[2021-04-28 17:16] xavierleune commented on #31673
Yes indeed, sorry about that. That's a great news! Thanks for your help 👍

[2021-04-28 17:20] goonydev opened #34062 "[amp-story] Animation does not work on IOS 14"
## What's the issue?

My web story works everywhere I had a chance to test it except on an iphone 12 with ios V14.4.2
Only the image of each page shows but not the text. But when I remove the animation (fly-in) it seems to work.

Here is a test page, where I alternate pages with and without the animation:

https://www.topspeed.com/stories/motorcycles/motorcycle-reviews/triumph/2018-triumph-speed-t

[2021-04-28 17:33] processprocess commented on #32499
Making a note to look at the following before closing this:
- inline page attachments
- amp-consent
- social share
- tooltip

[2021-04-28 18:00] jeffjose commented on #13716
Apologies for the delay here. Mica, would you mind taking a look at this?

[2021-04-28 18:09] micajuine-ho commented on #13716
Sure, @summercms would you mind making a new GH issue with the feature request/bug/question? This one is quite long and closed, and it'll be easier to have a separate discussion on a new issue. Please tag me when you do.

[2021-04-28 18:38] rileyajones commented on #34044
Mocking the network would be better, but there are so many existing requests that it seems nearly impossible to stub them all.

[2021-04-28 20:29] alankent commented on #29508
Here is an example web story if useful showing the problem on my iPhone X and iPad Pro. I can get it to repeat on Mac desktop in Chrome using DevTools in iPhone X mode fairly often, but I suspect device and network speed are such that you don't notice as much (the flicker is shorter).

https://alankent.github.io/extra-ordinary-amp-stories/vseries1/Ep1/Ep1back.html

To repeat:

- Open up the above

[2021-04-28 21:02] samouri commented on #28438
I also ran into this issue today. Tracked it down to a bug in `karma-esbuild`: https://github.com/karma-runner/karma-mocha/issues/236.

[2021-04-28 21:03] rsimha commented on #27386
_[Infra triage]_ @erwinmombay I'm closing this issue as stale given that it is more than a year old. Please reopen or file new issues if you want to track any remaining items on the original list.

[2021-04-28 21:03] #27386 closed

[2021-04-28 23:31] jridgewell commented on #32802
cl/370994902 has been merged, so we should see this fix roll out next Thurs.

[2021-04-28 23:47] kristoferbaxter commented on #33666
Cancelling today's design review since there are no topics to discuss.

[2021-04-28 23:47] #33666 closed

[2021-04-29 08:35] lenkaborshch commented on #23833
@theAdmiralNelson Did you manage to solve the error?

[2021-04-29 10:04] adp-developer commented on #33889
Hello Alan,

The difference between instream and outstream ads is that instream requires video content after ad but outstream runs ads without video content afterward. The main point is that we want to run that kind of ads (outstream) but according to the Policy it's not allowed https://prnt.sc/128w4qm
https://amp.dev/documentation/components/amp-video-iframe/#usage-of-amp-video-iframe-for-adverti

[2021-04-29 11:08] Francisco-AM commented on #34059
This is not an error, it is that if the element is hidden it is not necessary to load it. Until you do an action that serves to show it. @ioweb-gr
Try to do an action with event.show and the image will load normally

[2021-04-29 11:23] Francisco-AM commented on #34027
First you would lose all the benefits that amp gives you.

asynchronous script loading,
asynchronous iframe loading
asynchronous images and lazy loading
cache in images, scripts and css.
global cdn

The v0.js 80 kb download file will only be uploaded once to the user then it is cached.
page 1 80kb page 2 0kb cache file

amp js is not a validator it is an enhancer.
Scripts do not run in a single th

[2021-04-29 11:29] demil commented on #34027
But with:

No scripts
No iframes
No images

Why should my page contain amp js to be cached and amp valid?

[2021-04-29 11:30] ioweb-gr commented on #34059
I do understand this could be modified to use an action like

[code]

However in my case the element is indirectly exposed on a CSS level and although initially hidden (properly not loaded), at the point of checking the input box, it becomes a visible area. Shouldn't AMP still detect that it's now in a visible status to render it?

I'm pretty confused about this

[2021-04-29 12:13] Francisco-AM commented on #34059
Look in time real the power amp in min 4 sec 40
https://youtu.be/nrZZdsyCF20?t=282

It is the same page but until the element is displayed it is not loaded, a hidden element becomes visible and then the content is downloaded.

[2021-04-29 12:21] Francisco-AM commented on #34027
ok wait and let me explain, watch the first seconds of this video so you can see how the cache works
1:35 to 1:45
https://youtu.be/vo7X65f2elg?t=97

ok once the script is cached the client will not need to download it again

To take advantage of the maximum power of this behavior you need all your pages and all the navigation in your pages to be amp

If you have two pages amp and 9 pages no amp, y

[2021-04-29 12:23] demil commented on #34027
You dont get it.

My all pages DOESNT HAVE IMAGES OR JAVASCRIPT, and why should I require v0.js just to be cached on google amp servers when I dont use javascript at all nor images nor iframes, just html and css which follows amp guidelines?

[2021-04-29 12:32] #33812 closed

[2021-04-29 12:34] Francisco-AM commented on #34027
If your pages are just text then you don't need amp, your pages are already fast enough and you won't benefit from amp

https://developers.google.com/search/docs/advanced/crawling/overview-google-crawlers?hl=es-419&visit_id=637552963195052049-3212108798&rd=1

Anyway I think you are posing your problem on the wrong site, this git is not for seo or positioning, if you have doubts you can take a look

[2021-04-29 12:37] demil commented on #34027
I can benefit from amp with amp cache and if my page is compatible with all amp guidelines it should have benefit of amp cache without including unnecessary script that actualy doesnt do anything on page without amp custom elementa.

[2021-04-29 12:38] ioweb-gr commented on #34059
It's the way the element becomes visible that's in question though. In the video the user is clicking on the menu item on the bottom. I think that button has an on:tap event that triggers the update and that's why it works.

My example though only involves pure css, not any other type of events or javascript and amp doesn't handle it correctly.

For all purposes the correctly invisible image befor

[2021-04-29 12:50] Francisco-AM commented on #34027
You for example have it very simple if your pages are so simple you could use amp to create a pwa.

Then you could pre-cache all the documents when a user visited your web page and the navigation would be extremely fast you only need to include amp js and also a service worker.
https://amp.dev/en/documentation/guides-and-tutorials/learn/combine-amp-pwa/

the js of amp I already told you that it is

[2021-04-29 12:56] Francisco-AM commented on #34059
Ok, I understand you
amp handles javascript the only thing that does it in a multithreaded way could not go into details if this was done very extensive.
I think what you need are amp events

https://amp.dev/es/documentation/guides-and-tutorials/learn/amp-actions-and-events/?format=websites

No, the example that I passed to you is a single page, you can do it, you also pass the amp doc with the li

[2021-04-29 13:10] processprocess opened #34080 "[amp story] Flaky visual test for amp-story-tooltip"
[Percy screenshot](https://percy.io/ampproject/amphtml/builds/10131235/changed/570360299?browser=chrome&browser_ids=16&subcategories=unreviewed%2Cchanges_requested&viewLayout=side-by-side&viewMode=new&width=320&widths=320)

`updateEmbedStyleEl` in `amp-story-embedded-component` may be getting called and resizing the component causing the flaky diff.

The `amp-twitter` element on page 2 of `amp-sto

[2021-04-29 13:15] demil commented on #34027
It ia not about loading and local caching, it is about dobt want to use or execute javascript but i want to my pages be cached on AMP CDN. I think that whole this time you dont understand point while in first comment Kristofer agreed that amp scriot should be mandatory only if there is need to use amp custom element. Amp is paradigm and convention, not a javascript framework as you present.

[2021-04-29 13:23] processprocess commented on #34062
Thanks for filing this @goonydev
Just to clarify, which ios are you seeing this on?
Under `What's the issue`, `14.4.2` is stated. Under `what browsers are effected`, `12.4.2` is stated.

[2021-04-29 13:39] goonydev commented on #34062
Sorry for the typo. The problem occurs on IOS 14.4.2

Just edited it.

[2021-04-29 13:46] processprocess commented on #34062
cc @alanorozco for context.

[2021-04-29 14:04] processprocess commented on #34062
This test story has examples of all of the animation presets:
https://preview.amp.dev/documentation/examples/visual-effects/amp_story_animations

When viewing the test story on your iphone 12, do the animations run?

[2021-04-29 14:26] alanorozco commented on #33889
@adp-developer If you require to determine  on the backend whether you show a video or only a banner ad, I suggest you still use `amp-video-iframe`.

It's not ideal when it only shows a banner ad, but it would be **worse** to create a new component that does the exact same things as `amp-video-iframe`, but with a different name and a specific src.

[2021-04-29 14:41] goonydev commented on #34062
Nothing from the test page works on the iPhone 12:

https://www.youtube.com/watch?v=IgdoRb_CG5A&ab_channel=PhilippeDaix

[2021-04-29 14:47] processprocess commented on #34062
Interesting. Can you confirm that `reduced motion` on your device is `off`?
https://support.apple.com/en-us/HT202655

[2021-04-29 15:02] alanorozco commented on #34062
@goonydev The animation preset (like `fly-in`) sets up some styling before starting the animation.

In this case, it hides it off-page before animating it. If the browser refuses animations, it will stay hidden. **We should detect animation support, and bail out from styling if so.**

[2021-04-29 15:40] alanorozco commented on #34016
This looks like a good idea. Has this been registered to go through [Design Review](https://github.com/ampproject/amphtml/issues?q=is%3Aissue+is%3Aopen+label%3A%22Type%3A+Design+Review%22)?

Also, one suggestion. Instead of:

[code]

I would suggest that the captions element wraps the element instead, to make sure that captions are displayed on top of the element ('z-index, pointer-events: none, e

[2021-04-29 16:02] kristoferbaxter commented on #34027
For reference, I've started a PR here for supporting `img` elements within AMP documents so long as they contain either a `loading=lazy` or `loading=eager` attribute.

https://github.com/ampproject/amphtml/pull/34028

[2021-04-29 16:32] summercms opened #34084 "Update `<amp-consent>` component to use CSRF protection as it's sending a POST request"
Update `<amp-consent>` component to use CSRF protection as it's sending a POST request.

Link to previous conversation: https://github.com/ampproject/amphtml/issues/13716#issuecomment-828669021

@micajuine-ho

Thanks.

[2021-04-29 17:17] newmuis commented on #34016
Good idea to bring it to design review.  @hamax and @gmajoulet, can you make that happen?

This actually might make certain layouts harder to achieve, given the layer system in stories.  It's quite possible that you don't actually want the captions and the video to be positioned similarly (and is, in fact, one of the things I'm excited to have solved by this new syntax).

[2021-04-29 17:22] alanorozco commented on #34016
@newmuis Could we make sure that we present what we want this to look like? An HTML interface that would suit both Stories and standard Documents would be ideal, so we might need a mockup of what's wanted on Stories to understand that better.

[2021-04-29 17:26] #25415 closed

[2021-04-29 18:30] #34062 closed

[2021-04-29 18:46] kristoferbaxter commented on #33815
Made necessary changes.

[2021-04-29 18:46] #33815 closed

[2021-04-29 18:54] rcebulko opened #34096 "I2I: Restoring AMP’s Type Checking"
### Overview

For the past year, type checking has been [accidentally disabled](https://github.com/ampproject/amphtml/issues/32868) for the `amphtml` repository. Unfortunately, flipping the switch back on is not so simple because during this time period a _very large_ number (1000s) of type errors have organically been created. Restoring type-checking would help avoid bugs and potentially allow fo

[2021-04-29 19:19] samouri opened #34099 "Clean up type declarations in amp.extern.js"
**summary**

While adding files to typechecking, I had to comment out parts of `amp.extern.js` that depended on files outside of itself. This issue is to track that we should uncomment those lines.

[2021-04-29 19:45] iparamonau commented on #26226
The PR is now merged (thanks!) Shall we close this I2I as well @alanorozco ?

[2021-04-29 20:36] cschieffer opened #34106 "Linker ID Issue: Device_ID on AMP not the same as Device_ID on non-Amp page"
## What's the issue?

We're trying to track who completes, or doesn't complete, a subscription purchase when the funnel originates on AMP pages. We've been trying to implement a [Linker ID](https://github.com/ampproject/amphtml/blob/main/extensions/amp-analytics/linker-id-receiving.md#receiving-linker-params-on-amp-pages) so we can tie our events together - the flow is:

1. Reader lands on AMP pag

[2021-04-29 21:59] mrjoro commented on #33815
Thanks!  I completely missed this one...

[2021-04-30 00:17] calebcordry opened #34115 "🐛 [story-ads] Google ads are not serving on desktop"
This is due to a change in ad serving infrastructure along-side the RDA format launch. There is a server side fix merged cl/371233469 but will likely take ~2 weeks to reach prod.

We will update this issue when fix is live.

[2021-04-30 00:43] rsimha commented on #25149
The primary feature requested by this issue has been implemented. Existing invalid fixtures can be fixed piecemeal by following the instructions at https://github.com/ampproject/amphtml/pull/34000#issue-622395727.

[2021-04-30 00:43] #25149 closed

[2021-04-30 06:21] abhiz10 commented on #32653
@calebcordry I hope this is the same issues we discussed https://github.com/ampproject/amphtml/issues/34115

[2021-04-30 06:34] #14278 closed

[2021-04-30 06:34] #25310 closed

[2021-04-30 06:34] #15700 closed

[2021-04-30 06:34] #15193 closed

[2021-04-30 07:08] SPH73 opened #34124 "Firefox browser validation reports amp errors vs chrome validation is successful"
![browser-comparison_30-04-21](https://user-images.githubusercontent.com/48051095/116658754-5dd7c400-a988-11eb-8c53-1033a86328f8.png)

## Difference of validation Success vs Fail
Following the News Article tutorial, I used VS Code and the live server extension as well as the Chrome on macOS resulting in a validation success on Chrome and a fail on Firefox

## How do we reproduce the issue?
[News A

[2021-04-30 15:49] micajuine-ho commented on #34084
What sort of CSRF protection do you have in mind?

[2021-04-30 15:54] micajuine-ho commented on #34106
@cschieffer Have you tried setting destinationDomains within your linker config?
https://github.com/ampproject/amphtml/blob/main/extensions/amp-analytics/linker-id-forwarding.md#destination-domain-matching

[2021-04-30 16:04] krdwan opened #34137 "Bento NPM Publishing Tracker Issue"
Tracker Issue for Bento NPM Publishing

[Lastest Status](https://docs.google.com/spreadsheets/d/1JnCfYzgEojX_vPVy6h0fOnOLIHOcfPl4FCOZUDpclfE/edit#gid=0)

- [x] Manually Publish First Batch of Components Including:
- amp-accordion
- amp-inline-gallery
- amp-date-countdown
- amp-date-display
- amp-fit-text
- amp-instagram
- amp-lightbox
- amp-selector
- amp-timeago
- amp-youtube
- [x] NPM Definition

[2021-04-30 16:05] Beethoven opened #34138 "🐞 <amp-facebook> stop working"
## What's the issue?

<amp-facebook> stop working

## How do we reproduce the issue?

Go to https://amp.dev/documentation/components/amp-facebook/
none of the examples works

## What browsers are affected?

MacOs Catalina
Google Chrome - Version 90.0.4430.93 (Official Build) (x86_64)
Safari - Version 14.0.3

[2021-04-30 16:15] samouri opened #34141 "Ads: move from sync to async initialIntersection"
**summary**
Currently, ads uses manual sync calculation of [intersections](https://github.com/ampproject/amphtml/blob/bf40033effc47334141215222ef512f0f1100cb6/src/utils/intersection-observer-3p-host.js#L81-L87) to hand it off to frames when they load. It would be ideal to remove all the helpers and switch to using a native `IntersectionObserver` instead. I experimented with it in https://github.co

[2021-04-30 19:38] calebcordry opened #34152 "🕵️[story-ads] Heavy ads investigation"
As Chrome's [heavy ads intervention](https://developers.google.com/web/updates/2020/05/heavy-ad-interventions) ramps up we should determine the best course of action. The criteria for intervening is as follows:
- Uses the main thread for more than 60 seconds in total
- Uses the main thread for more than 15 seconds in any 30 second window
- Uses more than 4 megabytes of network bandwidth

These app

[2021-04-30 20:00] caroqliu commented on #34138
Re-opening this issue to provide context in case others are experiencing this same issue -- looks like FB is having an outage affecting `amp-facebook-*` components.

https://developers.facebook.com/status/issues/492652922187445/

[2021-05-01 00:05] kristoferbaxter commented on #34138
Thanks Caroline! Closing again since Facebook has resolved the outage on their end.

If there are other issues, please re-open or create a new ticket.

[2021-05-01 00:05] #34138 closed

[2021-05-01 05:56] Thieyagarajan opened #34163 "my amp is showing error when validating ,The mandatory attribute '⚡' is missing in tag 'html'. similar to this there 6 others error showing , please guide me ,"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2021-05-01 06:50] summercms commented on #34084
Going to close this issue, since I last tested this component over a year ago, it seems to not be sending a post request anymore when updating the consent options and so no csrf protection is needed.

[2021-05-01 06:50] #34084 closed

[2021-05-01 07:46] SMPlay opened #34164 "Adding class from amp-access"
I have a case when I need to add a class if amp-access is true.

[code]

As I understand, now we can just hide our elements.

I think it would be cool if we could add css class based on amp-access condition

For Example:

[code]

[2021-05-01 22:28] ampprojectbot opened #34165 "🚨 Error: Cannot read property 'init' of null"
Details
---
**Error report:** [link](http://go/ampe/CIWJ2Mmfj_D3Gw)
**First seen:** Mar 11, 2021
**Frequency:** ~ 3,882/day

Stacktrace
---
<pre><code>Error: Cannot read property 'init' of null
    at init (<a href="https://github.com/ampproject/amphtml/blob/2104170104001/extensions/amp-analytics/0.1/amp-analytics.js#L587">extensions/amp-analytics/0.1/amp-analytics.js:587</a>:26)
    at fn_ (<a hr

[2021-05-02 06:51] neonithinar commented on #23170
Hi, we are currently developing an instant messaging service using amp-lightbox. can you suggest an alternative to amp-lightbox in this use case?
PS I am just a beginner any tips and suggestions are heartily appreciated

[2021-05-02 22:27] #25365 closed

[2021-05-03 06:52] #18490 closed

[2021-05-03 09:07] PHCCorso opened #34167 "Microsoft Edge redirection mistakenly considered as HTTP protocol"
## What's the issue?

Similar to: https://github.com/ampproject/amphtml/issues/26061

I get a validation error when I'm trying to redirect the user to Microsoft Edge, like in the example below:

[code]

[2021-05-03 13:32] samouri commented on #13791
Turns out DevTools did something very similar in 2020. They also had a Closure Compiler-based JS repo and migrated to TS: https://docs.google.com/document/d/1qpa5QSSHrvvo_w73GV0hOJRug4N0_9JfFDw01d-NaCE/edit

[2021-05-03 14:47] alanorozco commented on #34167
cc @ampproject/wg-caching

[2021-05-03 14:49] #26226 closed

[2021-05-03 15:18] mszylkowski opened #34172 "Preconnect amp-video to video cache when `cache` is set"
When amp-videos specify `<amp-video cache="google">`, we can preconnect to the cdn and video provider to load the requests faster.

Check `getVideoSourcesForPreconnect_` on `amp-video.js`

[2021-05-03 15:47] mszylkowski commented on #34080
Another issue on that same visual test: Tooltip changes the text content and icon
![image](https://user-images.githubusercontent.com/22420856/116898316-368d2b00-ac04-11eb-82f8-131c1d225efc.png)

[2021-05-03 16:22] micajuine-ho commented on #33819
I would like to discuss https://github.com/ampproject/amphtml/issues/33990 -- Session Analytics in AMP

[2021-05-03 16:24] gmajoulet commented on #34165
cc @ampproject/wg-analytics

[2021-05-03 16:41] micajuine-ho commented on #34165
@jridgewell @samouri Have there been any changes to `detachedCallback` recently?

What I think is happening is that we're chunking the work done by the LinkerManager, but the detached callback is occurring before the chunk is executed, resulting in the LinkerManager being null.

https://github.com/ampproject/amphtml/blob/89725b83e24dc09db1c4fe55022bf39b35c65db5/extensions/amp-analytics/0.1/amp-ana

[2021-05-03 16:47] Gregable commented on #34167
@PHCCorso can you provide a link to official documentation / spec for this protocol? It would be helpful to add that to the comments in your PR as well.

[2021-05-03 16:55] processprocess opened #34175 "[Page attachments][Inline] Elements without href are not tabbable"
Inline page attachment elements are anchors but are not tabbable since they do not have an `href` attribute.

cc @ampproject/wg-stories

[2021-05-03 17:17] processprocess opened #34177 "[Page attachments][Outlink] Option to get domain favicon"
A service can be used to fetch the outlink domain's favicon.
This could be a value for `cta-image` like `cta-image="favicon"`

If the domain does not have a favicon configured, this could fallback to the default link icon.

[prototype](https://discovery-ec239.web.app/examples/amp-story/attachment.html?faviconURL=www.twitter.com)
Replace the `faviconURL` param with any domain to preview the feature

[2021-05-03 17:26] newmuis commented on #34177
I think we should seriously consider making this the default, instead of an additional parameter.

/cc @hongcatlover @raovs @gmajoulet

[2021-05-03 17:31] processprocess commented on #34177
I'm leaning in that direction also.

- It feels like it would align with expectations of what the image's function is.
- It would give a story with multiple outlink buttons more variation by default without configuration.

[2021-05-03 17:31] MathiasLerche commented on #30999
Amen! Please, please, please make Funding Choices available for AMP!

[2021-05-03 17:33] MathiasLerche commented on #30999
Now Funding Choices is moving into Ad Manager. Thanks for that, but what is that good for? My traffic is 70% AMP!

[2021-05-03 17:35] #34011 closed

[2021-05-03 19:32] #33724 closed

[2021-05-03 19:41] #34050 closed

[2021-05-03 19:42] twifkak commented on #34167
I'm not @PHCCorso but I was curious so I did some quick digging. LMK what I missed (probably a lot :).

Here's some [Windows-specific documentation](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-default-app#microsoft-edge-uri-scheme).

On iOS, it apparently doesn't work; the alternative is [`microsoft-edge-https://`](https://stackoverflow.com/questions/51025950/is-there-a-url-s

[2021-05-03 19:57] Mike-At-WompMobile commented on #18280
Is this still being worked on?

[2021-05-03 20:03] #33954 closed

[2021-05-03 20:07] caroqliu opened #34181 "FR: `sandbox` iframes in `amp-facebook` components"
We currently exclude `amp-facebook`, `amp-facebook-comments`, `amp-facebook-like`, and `amp-facebook-page` from applying `sandbox` attributes to their generated `iframe` element:
https://github.com/ampproject/amphtml/blob/36e818946a3231685e407297b8180a48f869f626/src/3p-frame.js#L158-L161

This is a tracking issue to introduce `sandbox` attributes for these components, which _may_* no longer be cri

[2021-05-03 20:12] Gregable commented on #34167
I'd be happy with your first link. This doesn't look like it'll work most of the time, but it won't be a security risk either. I'll add the comment in the PR review as well.

[2021-05-03 20:30] processprocess commented on #34177
I'm not sure how we could detect if we need to default to a fallback if we use this service though.
The request seems the same when it [successfully gets a favicon](https://www.google.com/s2/favicons?domain=www.twitter.com&sz=64) and when [it doesn't](https://www.google.com/s2/favicons?domain=www.raddndodndoddom.com&sz=64).

[2021-05-03 20:47] mszylkowski commented on #34177
The size of the icon when it fails is independent of the variable, maybe it's possible to catch this? Check the document title also, it says (16x16) even if the `?sz=64`

[2021-05-03 20:57] mszylkowski commented on #30889
What we need:
- Publishers that currently implement navigation buttons for next and previous should not have their animation removed. They use `go(1)` and `go(-1)`
- When entrypoints open the player with a user clicked story, they will call `show` and it should not be animated.
- Pages that are further away can be displayed with `go(5)`, but it doesn't make sense to animate these since they are no

[2021-05-03 21:00] hamax commented on #34016
Like @newmuis said, amp-video and amp-video-captions being positioned independently is one of the features of this new component (the main motivation). I agree that it would be good to make it easy to use for the simple use case as well, where we don't need to reposition the captions. That could be the API that @alanorozco proposed, or even just amp-video automatically using this component instead

[2021-05-03 21:10] gmajoulet commented on #30889
Having some level of magic behind a parameter makes it very hard for a developer to predict its behavior.

Having a second (or third I forgot) parameter like `go(offset, options = {animate: bool})` sounds much more easy to understand and use.

[2021-05-03 21:13] hamax commented on #33819
I would like to discuss #34016 -- amp-video-captions

[2021-05-03 21:51] Enriqe commented on #30889
There are some edge cases where this wouldn't work (e.g. with `circular-wrapping` and calling `go(2)` on story 2 of 3).

Unfortunately we can't know for sure if they are using `go()`, they could also be using `show()`.

👍🏽

I also think having mixed logic across different methods would confuse developers. I think we should get rid of the animation when calling `go()` or `show()` by default and onl

[2021-05-03 21:56] eligrey commented on #32139
@bokand fragment directives are still accessible, albeit in a slightly-convoluted manner. See https://github.com/WICG/scroll-to-text-fragment/issues/128#issuecomment-831546941 for some utils that can help web devs interoperate with these directives.

[2021-05-03 23:55] jridgewell commented on #34165
I'm not aware of anything. Especially because the errors started last Friday, and I don't think we released anything then.

[2021-05-04 01:01] estereofonico commented on #30999
Funding Choices are still not available for AMP for implementation. When will this happen?

[2021-05-04 06:30] PHCCorso commented on #34167
Thanks!

[2021-05-04 07:39] oliverfernandez opened #34190 "I2I: Make pageViewId64 variable available for delayed fetch amp-ad"
## Summary

Both `pageViewId` and `pageViewId64` are available for fast-fetch ad networks. However only `pageViewId` is available for delayed-fetch ad networks.

I'd like to make `pageViewId64` also available for delayed-fetch ad networks that render inside a 3p frame.

## Motivation

`pageViewId64` has a higher entropy, and it's very useful for ad serving on sites that may have  thousands of page

[2021-05-04 08:06] WagneRaz18 opened #34192 "Add src/config attribute to amp-story-auto-ads element"
As a developer I want to pass the JSON configuration object as an external path.
For example:
**instead of**
[code]

**I want to be able to write**
[code]

Just like amp-analytics element have a `config` attribute

[code]

[2021-05-04 12:15] Scaleya opened #34193 "<amp-ima-video> Progress bar 'click' broken"
## Actual behaviour

Right now in Chrome when you click in the progress bar, the video get reseted to 0:00 instead to go updated with the new time.

![ima](https://user-images.githubusercontent.com/61817665/117001572-1ac57a00-ad15-11eb-8b4d-b731723fae6a.png)

[code]

see that on [mywebsite](https://none.blue)

[2021-05-04 14:59] mszylkowski commented on #30889
This feature request doesn't necessarily need to change the defaults, but providing the options in the API SGTM. Seems like the player currently animates only when navigating to a story that is already built, which means it's only navigating for +1 and -1. Is this problematic in any way? To me this current default makes sense and if we provide users with the API way of configuring whether to show

[2021-05-04 15:55] micajuine-ho commented on #34193
Can you post a video of this behavior? Clicking on the progress bar on the ima-video on your website does not produce the same result, but I may be doing it wrong.

[2021-05-04 16:12] alanorozco commented on #34192
cc @ampproject/wg-monetization

[2021-05-04 16:13] alanorozco commented on #34190
cc @ampproject/wg-monetization

Did this go through Design Review?

[2021-05-04 16:15] micajuine-ho commented on #34165
@Enriqe Any chance this could be story related since stories recently incorporated linker?

[2021-05-04 16:23] gmajoulet commented on #34165
cc @mszylkowski who enabled the linker on some actions

[2021-05-04 16:26] morsssss commented on #33958
I don't suppose you can reproduce this?

[2021-05-04 16:49] micajuine-ho commented on #33958
I think it has to do with this bar. Whenever I load up a brand new incognito window, I see that bar, and no consent prompt. Then if I click that prompt, I see some the reprompt UI.

When I refresh the page, I don't see the bar, but I do see the consent prompt UI.

I'm not sure what the bar is.
![image](https://user-images.githubusercontent.com/30711678/117039526-ba571e00-acbd-11eb-94e4-85a68a826a4

[2021-05-04 16:55] morsssss commented on #33958
Hmm. And I don't see that bar (which seems to be something about choosing the AMP format that will henceforth be passed along in the query string - AMP for websites, stories, email, etc.) And I still don't see the reprompt UI 😭

Asking some more folks for their experience... @CrystalOnScript , @patrickkettner , @sebastianbenz , when you open [this sample](https://amp.dev/documentation/examples/use

[2021-05-04 16:55] mszylkowski commented on #34165
There were 2 changes to linkers on stories: #33922 and #33911 (both in beta). Do we know of any wey to repro this?

[2021-05-04 17:04] honeybadgerdontcare commented on #33694
It uses the htmlparser now anyhow so those comments were out of date. Updated to reflect `htmlparser`.

[2021-05-04 17:27] sebastianbenz opened #34206 "Provide type definitions for AMP and Bento components"
This would make live a lot easier for all developers using React + Typescript. Type definitions should include:

* AMP specific attributes defined for standard HTML tags (e.g. `amp-fx-fade-in`).
* AMP tags with their attributes (`<amp-img layout=...`)
* Bento component APIs.

Related work: last year I [played around with generating type definitions for AMP components based on the validation rules]

[2021-05-04 18:01] Enriqe commented on #34165
Looking at the error logs from Pantheon. All the referrers are non-stories. They look like regular AMP pages embedded in a viewer.

The errors also seem to appear in `2104170104001`, which is stable, so  #33922 and #33911 couldn't have been the cause.

I'm pretty certain this has nothing to do with recent story changes.

[2021-05-04 18:43] micajuine-ho commented on #33958
Yeah, really not sure what's happening here.

I can reproduce sometimes, in an incognito window, but when I refresh the page the behavior is not there. Then if I close out the window and wait a few minutes, and try again, I can repro. But if I don't wait a few minutes, the behavior is again not there.

I have a hunch that maybe the browser is caching the v0 files? and then you have to wait a bit b

[2021-05-04 19:19] #33261 closed

[2021-05-04 20:13] calebcordry commented on #34192
Thanks for filing!  Is this because it's easier for you all to update this endpoint than to rewrite the documents? Or are you envisioning that a third party might offer this service?

Either way I can bring it up in this weeks monetization team sync.

[2021-05-04 20:48] WagneRaz18 commented on #34192
The first option. It's much easier to update this endpoint the html itself.
Thank you very much!

On Tue, 4 May 2021 at 23:14 Caleb Cordry ***@***.***> wrote:

[2021-05-04 21:08] samouri commented on #33819
I would like to discuss [server-rendering amp components](https://docs.google.com/document/d/1GUSWYMjDMVOM2thvYB3QEvrHjwnoj2dk8Sr7yO-9-nQ/edit).

[2021-05-04 23:23] brunolemos opened #34216 "Allow running amphtml-validator programmatically in the browser environment"
## Describe the new feature or change to an existing feature you'd like to see

Allow validating amp programmatically in the browser.
Currently it expects the **nodejs** environment and give compile errors like:

[code]

## Additional context

Our product is a no-code editor and we want to show the amp validation status and errors realtime, without having the call any server.

[2021-05-04 23:31] Scaleya commented on #34193
https://user-images.githubusercontent.com/61817665/117082070-d61cfb80-ad73-11eb-9fee-9432abff3202.mp4

[2021-05-05 00:01] github-actions[bot] opened #34217 "Design Review 2021-05-26 15:30 UTC (Africa/Europe/western Asia)"
Time: [15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=05&day=26&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210526T153000Z/20210526T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-05-05 00:30] Scaleya opened #34220 "[amp-auto-ads] No placements in config & unable to fulfill ad strategy"
## Reproduce
click this [link](https://none.blue/#development=1) in Chrome browser and press F12 to open Console, logs are below:

![image](https://user-images.githubusercontent.com/61817665/117085021-45e2b480-ad7b-11eb-8ac0-495a1f2a271d.png)

[code]

See config which auto generate from adsense, `Network`->`XHR`->`ama?client=ca-pub-....`->`Response`,No placements in config

![image](https://user-i

[2021-05-05 03:54] #25406 closed

[2021-05-05 06:41] Francisco-AM opened #34224 "Intent-to-Deprecate: Third-party amp providers"
![image](https://user-images.githubusercontent.com/69035383/117103346-7bd36900-ad7a-11eb-952a-6aa289388ee0.png)

All these extensions in amp don't work the amp.dev examples

![image](https://user-images.githubusercontent.com/69035383/117103428-a32a3600-ad7a-11eb-98a9-4ce68362b1ac.png)

The media category is full of external providers, which for me the only thing that has given me is confusion in t

[2021-05-05 07:50] oliverfernandez commented on #34190
I didn't go through a Design Review, because it seems a small change, and it's something already available for ad networks implemented via fast-fetch.

I'm really sorry if I should have gone through it

[2021-05-05 12:46] swissspidy commented on #31389
@Enriqe This still seems to be an issue. The player doesn't load and closing the lightbox causes JS errors. Any chance this could be prioritized?

With the latest version of the Web Stories WordPress plugin, which uses amp-story-player within amp-lightbox on AMP sites, this usage is increasingly more common.

Unfortunately we didn't spot this during development, which means this is now already in

[2021-05-05 13:07] alanorozco commented on #34190
@oliverfernandez It's no problem, I'm only keeping track. I'll let @ampproject/wg-monetization weigh in to whether it needs a review.

[2021-05-05 13:51] processprocess opened #34228 "[Page attachments] [Inline] Update visual tests for open state UI"
Test for when `amp-story-outlink-page-attachment-v2` is active and the inline page attachment is open.

- light theme
- dark theme
- content less than 80% height
- content larger than 80% height

@ampproject/wg-stories

[2021-05-05 14:48] mszylkowski commented on #19868
In case anyone else needs to know how to do this, `amp-story-animation` is the story version of [amp-animation](https://amp.dev/documentation/components/amp-animation/) and is configured similarly.
[code]

[2021-05-05 16:02] danielrozenberg commented on #34013
Summary of design review discussions:

* Feature is a go
* Ideally we should be able to make these configuration changes directly into the repo and have it affect the CDN within ~minutes. This might be difficult or even impossible to implement - we'll explore this option
  * I can implement this feature initially on the CDN only and later attempt to implement configs on GitHub
* `AMP_EXP` is prefe

[2021-05-05 16:33] samouri commented on #33928
I'd like to discuss: https://docs.google.com/document/d/1GUSWYMjDMVOM2thvYB3QEvrHjwnoj2dk8Sr7yO-9-nQ

[2021-05-05 16:58] gmajoulet commented on #34013
Two points to keep LTS exempt from these quick experiment changes:
1. One of the key point is for us to be able to launch/test things fast, so having to wait 1 month for the code to get to LTS is a deal breaker
2. LTS is meant to be more stable, so it makes sense to keep them exempt to these newer experimental experiences that can potentially break. LTS publishers will get the experiences once we

[2021-05-05 18:18] Enriqe commented on #31389
@swissspidy do you have a sample to repro in? The [sample here](https://webstories.page/player.html) seems to be working. More info with repro steps would be helpful. Thanks!

[2021-05-05 20:11] hamax commented on #34016
In the design review we discussed the additional issues this would have when used outside of stories, and decided it would be best to make this story only for now. For posterity, one of the issues is alignment with native video controls. Combined with the suggestion from @newmuis above, I propose we change the name to *amp-story-captions*.

Another thing brought up was the name of the *captions-id

[2021-05-05 20:17] swissspidy commented on #31389
Huh, that's very strange! When I tested that sample 8 hours ago it was not working. Now it does.

Will test again...

[2021-05-05 23:34] brunolemos commented on #34216
I got it working by using the following script instead of `amphtml-validator`:

`<script src="https://cdn.ampproject.org/v0/validator.js"></script>`

and calling `window.amp.validator.validateString(html, htmlFormat)`.

If there's any npm package for that, so I can `import` instead of using the script tag, please let me know.

[2021-05-05 23:34] #34216 closed

[2021-05-06 04:30] #33662 closed

[2021-05-06 04:30] #33809 closed

[2021-05-06 04:31] #33925 closed

[2021-05-06 04:34] powerivq opened #34244 "🚄 Release tracking issue for release 2104240357000"
# Release tracking issue

This issue tracks release `[2104240357000](https://github.com/ampproject/amphtml/releases/tag/2104240357000)`.

- [X] Release 2104240357000 promoted to Experimental and Beta (opt-in) channels (<CL submit time>)
- [X] Release 2104240357000 promoted to Experimental and Beta (1% traffic) channels (<CL submit time>)
- [X] Release 2104240357000 promoted to Stable channel (May

[2021-05-06 04:35] #34244 closed

[2021-05-06 04:36] powerivq opened #34245 "🚄 Release tracking issue for release 2104302228000"
# Release tracking issue

This issue tracks release `[2104302228000](https://github.com/ampproject/amphtml/releases/tag/2104302228000)`. See what's new compared to stable `[here](https://github.com/ampproject/amphtml/compare/<LATEST_STABLE_RELEASE_NUMBER>...<RELEASE_NUMBER>)`.

- [x] Release 2104302228000 promoted to Experimental and Beta (opt-in) channels (May 4, 2021, 3:09:59 PM GMT-7)
- [x] Rel

[2021-05-06 08:11] jono-alderson commented on #26452
Also keen to see this not load, when not needed/used. This waterfall is so very _nearly_ perfect.
![image](https://user-images.githubusercontent.com/11629607/117264148-dcca7200-ae4a-11eb-8f4d-48aecda28502.png)

[2021-05-06 09:22] swissspidy commented on #31389
Can confirm that this was broken in the previous release (`2104170104001`), but in the current stable release (`2104240357000`) it works again.

So, all good now! Sorry for the false alarm. This can be closed now :-)

[2021-05-06 09:48] MrMooky commented on #2277
Seeing that there are over 1.5k issues currently open, AMP seems to be a big mess. And not be able to have an actual url inside the base tag is just one of the smaller "WTFs". More than two years later and this is still not possible.

[2021-05-06 15:26] #31389 closed

[2021-05-06 16:25] #31673 closed

[2021-05-06 16:58] xavierleune commented on #31673
Thanks a lot @micajuine-ho !

[2021-05-06 17:54] Enriqe opened #34260 "🌸 Cherry-pick request for #34024 into #34244 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #34024 | #34030 |     **NO*

[2021-05-06 17:57] kristoferbaxter commented on #34260
Can you add some additional language for these tests to ensure we do not regress? The added tests ensure there are specific attributes with known field values but without explanation or E2E tests.

[2021-05-06 17:57] kristoferbaxter commented on #34260
Also approved to resolve the production issue.

[2021-05-06 20:23] danielrozenberg commented on #34013
I agree with @gmajoulet on these points. In addition, adding these experiments to LTS complicates things in terms of implementation, and the added value isn't worth the potential dangers it can introduce

[2021-05-06 21:22] powerivq commented on #34260
Cherry pick is completed.

[2021-05-06 21:46] thomasgreen opened #34266 "Lightbox/Carousel not working as expected"
## What's the issue?

Lightbox / Carousel aren't working, images are printed inline and not into a gallery lightbox. A console error reads `Error: amp-carousel is already registered. The script tag for amp-carousel is likely included twice in the page.​​​`

## How do we reproduce the issue?

[AMP Playground Link](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KCjxoZWFkPgogIDx

[2021-05-07 09:30] CraigBusfield commented on #34266
We've created a page to show the broken functionality in situ: https://www.gaborshoes.co.uk/product-broken-zoom.html

As far as we can tell it's because we're using `amp-carousel-2.0.js` but initiating the lightbox gallery injects `amp-carousel-1.0.js` that then causes the functionality to break and the console error mentioned above to show.

[2021-05-07 12:55] Enriqe opened #34271 "Render timeout waiting for service amp-story-render to be ready"
We still see `Uncaught Error: Render timeout waiting for service amp-story-render to be ready.` in certain cases with the web player. We tried to mitigate them with #22774 but it seems like it's not enough. We should try to either change these to warnings or at least allow developers using the `amp-story-player` to catch them.

/cc @ampproject/wg-stories

[2021-05-07 14:28] thomasgreen commented on #34266
@micajuine-ho the console error does not show once the page has loaded, the issue only shows in the dev console once you click on the product image.

I still see the error once I have clicked on the main product image:
![image](https://user-images.githubusercontent.com/25429407/117464685-d15d7080-af48-11eb-8e0f-a9c8bf8560a0.png)

[2021-05-07 14:31] goonydev opened #34272 "[amp-story-player] Scrolling away from a web story player is very laggy."
## What's the issue?

Including a web story using the amp-story-player disrupts the scrolling through the main page on mobiles for me. If I ignore the web story at the first place and scroll down passed it everything's fine. If I try to use the player and move through the story, then try to scroll up or down to move on to the rest of the parent page, it gets very laggy. The viewport vibrates up an

[2021-05-07 15:37] #33955 closed

[2021-05-07 16:26] micajuine-ho commented on #34266
/cc @caroqliu I don't think it's a recent regression, I checked past release and this error is still there.

[2021-05-07 16:51] caroqliu commented on #34266
It looks like the issue is exactly how @CraigBusfield describes - `amp-lightbox-gallery` calls `installExtensionForDoc` with amp-carousel:0.1 but there is already 0.2 on the page: https://github.com/ampproject/amphtml/blob/865ef77ff4fd900eb9a93b0c606fd050d6ac1467/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js#L373-L385

The extension service isn't aware of the component tag collision

[2021-05-07 16:54] gmajoulet opened #34278 "[a11y] Consider adding empty alt attribute on <img when none is provided"
On regular AMP pages, when publishers don't provide an `alt` attribute on their `amp-img`, the underlying `img` doesn't get any `alt`.
Most screenreaders will fallback on reading the `href` of the `<img` tag, which might or might not be useful.

For AMP Stories specifically, we decided that we'd rather have screenreaders remain silent than reading the image's source URL, and add an empty `alt` att

[2021-05-07 16:55] kristoferbaxter commented on #34278
@caroqliu This seems to be a decent default behaviour, should we apply this to `amp-img` globally?

[2021-05-07 17:16] caroqliu commented on #34266
Do you have a repro link? Note that the amp.dev playground link in the original post auto-adds the script for amp-carousel:0.2 if you remove it -- you will have to also remove the <amp-carousel> usage instance in the document.

[2021-05-07 18:29] caroqliu commented on #34278
I can see why silencing screen readers for unlabelled image content is sensible for Stories format since there are already known issues with verbosity, in addition to a reasonable assumption that images in a Story or more likely to be [decorative](w3.org/WAI/tutorials/images/decorative/) than those on regular AMP pages.

It seems like appending `alt=""` can be preferred to the alternative reading

[2021-05-07 18:54] PeterSaathoff-Harshfield commented on #34278
Another consideration is that screen readers already announce an element type for images, with some saying "image" and some saying "graphic", at least for English, so we want to avoid  providing a redundant element type in the image alt tag. The unlabeled label should only say "unlabeled", otherwise screen readers will say "unlabeled image, image". Similarly if we try to strip off the beginning of

[2021-05-07 19:03] caroqliu commented on #34278
You mean something like "unlabelled filename" could make a good default `alt`?

[2021-05-07 19:24] kristoferbaxter commented on #34278
Like these suggestions as we can also include this as the default for SSR of these components in the Optimizer and on Caches.

This means we should not need to ship the logic for the client in the module build.

[2021-05-07 20:44] PeterSaathoff-Harshfield commented on #34278
Sounds good to me.

[2021-05-07 21:31] gmajoulet commented on #34278
Is there any precedent to solve the i18n considerations here?

[2021-05-07 21:47] rebeccanthomas commented on #34163
Hi,

Please give me some more context on the error you are seeing and add a jsbin link with reproduction steps.

Thanks!

[2021-05-07 22:12] gmajoulet commented on #34271
Do you know how to repro this?

[2021-05-07 22:47] rebeccanthomas commented on #34224
You can find the list of upcoming design review sessions at [this link](https://github.com/ampproject/amphtml/issues?q=is%3Aissue+is%3Aopen+design+review+review+label%3A%22Type%3A+Design+Review%22)

When you find a session which works for you comment in that issue that you would like to bring this intent to deprecate to the session and tag this issue  in your comment using #34224 (which can be fou

[2021-05-08 03:28] nainar opened #34287 "Enable <amp-live-list> in AMP Emails"
Enable <amp-live-list> in AMP Emails

[2021-05-08 06:45] Francisco-AM commented on #34217
Hello, I would have to review differentiation aspects in the amp documentation between external providers and amp core, also after reviewing all the amp-web extensions I discovered that the external video extensions may be giving problems.

[#34224](https://github.com/ampproject/amphtml/issues/34224#issuecomment-834834681)

[2021-05-08 06:46] Francisco-AM commented on #34224
ok, i already made an order in one of the design threads
[designamp](https://github.com/ampproject/amphtml/issues/34217)

[2021-05-10 00:49] camelburrito commented on #32447
any idea when we can expect this PR to be merged  ?

[2021-05-10 09:06] Mrowa96 commented on #34266
@micajuine-ho Are you able to predict (more or less) when fix for this issue may be released? End of this month is feasible?

[2021-05-10 10:28] kristoferbaxter commented on #25464
Yes, this is intentional. When AMP documents are included in a Viewer, they may be swiped between document level units.

Horizontal swiping is only enabled for components that send a signal for canceling propagation to the Viewer.

[2021-05-10 13:53] kristoferbaxter commented on #34278
There is not a precedence for the i18n consideration, but we should cross the bridge.

[2021-05-10 14:25] adamsilverstein opened #34291 "amp-ad: show fallback when ad blocker present"
## Show fallback when ad load blocked

When a user visits a page containing amp-ad elements with an ad blocker enabled, the page should instead show the amp-ad fallback component.

## Additional context

Currently the fallback appears to only work when the ad request fails to retrieve an ad unit for some reason, for exampled no ad is available from the ad manager to fill the request. Instead, the

[2021-05-10 15:51] gmajoulet commented on #34278
Happy to help with the context the Stories team has on the localization service/process. Should we add this into some team's roadmap? It likely will be a bit more than just a few lines of code. cc @nainar

[2021-05-10 16:21] alanorozco commented on #33826
@rsimha Have you taken this on? It will be fixed collaterally as part of #34274

[2021-05-10 16:36] newmuis commented on #34278
+1 to additional localization support being needed to resolve this.  There are a few unsolved challenges there including:

1. *No placeholder support.*  A string like the `unlabelled <stripped filename>` suggestion from @caroqliu above is simple in English; it's simply concatenate the filename after `unlabelled`.  But the order and placement will not be the same in every language.  Most mature loc

[2021-05-10 17:13] estherkim commented on #33928
I'd like to discuss AMP's publishing strategy for Bento components on npm:
https://docs.google.com/document/d/1hUmJl-NkpujkJyVpRRARTeoXHSiSf3VvMm5ujv5D10A

[2021-05-10 17:41] omerr132 commented on #34266
We're also experiencing issues with this collision.
@caroqliu will turning on the experiment as you described render the page amp-invalid?

[2021-05-10 20:09] demianrenzulli opened #34300 "AMP Google Analytics and AMP Ids do not match"
## What's the issue?

Forbes reported that sometimes GA client_Id expands to a different value when it gets sent to GA vs DFP.
This is related to FR #25190, which landed in prod earlier this year.

## How do we reproduce the issue?

@kbarneyforbes could you provide some details around it?

cc // @micajuine-ho

[2021-05-10 20:30] micajuine-ho commented on #34300
A URL exhibiting this behavior would be very helpful.

[2021-05-10 21:31] kbarneyforbes commented on #34300
We are sending client_id both to Google Analytics and DFP. The same ID should be sent to both, but it appears that frequently the IDs don't match. Unfortunately, we can't reproduce this consistently.

For GA, the value is sent as CD43. For DFP it's the fvid key/value in the scp parameter.

We noticed that we are using "CLIENT_ID(_ga)" for DFP and "${clientId}" for GA. We tried changing GA to use "

[2021-05-11 03:41] rebeccanthomas opened #34306 "Create Working Group page for wg-components on amp.dev"
## Describe the new feature or change to an existing feature you'd like to see

The ["Working Groups"](https://amp.dev/community/working-groups/access-subscriptions/) page on amp.dev currently does not include wg-components. This is an oversight and this should be updated to show parity with the git working group page (https://github.com/ampproject/wg-components).

[2021-05-11 06:53] Francisco-AM commented on #34224
Solving it is difficult since they are third-party paid modules, so if they do not provide a free trial, the block will never work, they must be in charge of maintaining those modules, they should be the first interested parties.
amp-connatix-player ==> example no run
amp-delight-player   ==> example no run
amp-hulu ==> This video is currently not available in the browser on your device.
amp-minut

[2021-05-11 07:23] oliverfernandez commented on #34190
Any news on this? @ampproject/wg-monetization

[2021-05-11 09:42] adp-developer commented on #33889
Hello Alan,

Got you, thanks! We'll follow your suggestions and hope everything will be working properly regarding Policies.

[2021-05-11 14:26] #30889 closed

[2021-05-11 15:40] #34266 closed

[2021-05-11 15:56] alanorozco commented on #33889
@adp-developer Sure. Feel free to ask any questions regarding how to connect your standalone document to the `<amp-video-iframe>` host, I'd be happy to help.

[2021-05-11 17:07] AndrewKGuan commented on #34300
Hi Ken,
is the prod version (link in #3) exactly the same as the internal test one?  If so, perhaps Micajuine could try with that one?

[2021-05-11 17:44] micajuine-ho commented on #34300
Yeah, I'm not able to repro with the prod link. Does the page have to be served from the cache for it to occur?

[2021-05-11 17:47] raxsha opened #34314 "[Page attachments] Manual QA Tests"
Add manual QA testing documentation for new inline & outlink CTA

[2021-05-11 17:47] AndrewKGuan opened #34315 "CLS collected from AMP via Google Analytics (Universal Analytics) missing data"
When collecting CWVs on AMP following [this example](https://github.com/ampproject/amp.dev/blob/future/examples/source/advertising-analytics/Tracking_Core_Web_Vitals.html), some floating points seem to be incompatible with either/both Universal Analytics (GA) or/and BigQuery.  CLS seems to be the most affected metric due to the nature of the values reported by the underlying web_vitals.js.  The ma

[2021-05-11 17:48] raxsha opened #34316 "[Page attachments] CSS code cleanup"
Code cleanup:
Duplicating the files instead of overriding the CSS as we have today.

[2021-05-11 17:48] samouri opened #34317 "Fix all of our tests to be ESM compatible."
**summary**
As discovered by @jridgewell  and `esbuild`, our tests are all using `import`/`export` and yet some of them still do things that are technically illegal. They modify the namespaced import. For the full list see https://github.com/ampproject/amphtml/pull/33443#issuecomment-825229373.

Once all incorrect usages of `esm` are fixed, we can turn off module transpilation from our pre-esbuild

[2021-05-11 17:48] sudointellectual opened #34318 "🚨 Error: Uncaught Error: failed to call initLogConstructor"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2021-05-11 17:49] sudointellectual commented on #34318
@jridgewell cc'ing you, thanks!

[2021-05-11 17:49] raxsha opened #34319 "[Page attachments][Outlink] Migrate cta-layer"
Write a new experiment that migrates cta-layer into a page-outlink
Launch it in 3 months

[2021-05-11 18:31] samouri opened #34321 "🚄 Release tracking issue for release 2105072136000"
# Release tracking issue

This issue tracks release [2105072136000](https://github.com/ampproject/amphtml/releases/tag/2105072136000).
 See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2104302228000...2105072136000).

- [x] Release 2105072136000 promoted to Experimental and Beta (opt-in) channels (2:38 PM, May 11, 2021 UTC-4)
- [x] Release 2105072136000 promot

[2021-05-11 18:43] samouri commented on #34260
@Enriqe: don't forget to fill out the post-mortem while it is still fresh!

[2021-05-11 19:29] processprocess opened #34323 "[Amp story] [Page attachments] [Outlink] Clicks not opening URL"
`amp-story-page-outlink` Clicks do not open the link.
<img width="222" alt="Screen Shot 2021-05-11 at 3 27 45 PM" src="https://user-images.githubusercontent.com/3860311/117873134-7475f900-b26d-11eb-8d55-3beda1096a9f.png">

This is appearing in `2105111751000`.
Appears to be related to #33982.

@ampproject/wg-stories

[2021-05-11 20:55] alanorozco opened #34332 "[testing, remove]"
[testing, remove]

[2021-05-11 20:55] #34332 closed

[2021-05-11 21:01] #34323 closed

[2021-05-11 22:56] jridgewell commented on #34317
[code]

This is a little too overzealous, but would prevent every bad use.

[2021-05-11 22:58] jridgewell commented on #34317
There's also a slightly less zealous https://github.com/benmosher/eslint-plugin-import/blob/HEAD/docs/rules/namespace.md, but that doesn't catch `sandbox.stub(ns, 'export')` indirections.

[2021-05-12 00:01] github-actions[bot] opened #34335 "Design Review 2021-06-02 20:00 UTC (Americas)"
Time: [20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=06&day=02&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210602T200000Z/20210602T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-05-12 02:02] #34318 closed

[2021-05-12 02:39] seanjallen commented on #27691
Update: This was fixed with an AMP cache side update back in February.

google.com should now load the publisher's version of the AMP page in response to a load failed message from the cache when this happens. You might see a brief 404 flash from the cache during this process. We might make this more robust on the google.com viewer side in the future, but for now the main user facing error of not

[2021-05-12 08:55] dianomi-mjs commented on #33159
Hi @calebcordry sorry to nag - I take it this is still a little way off? Thanks

[2021-05-12 10:10] saurabh230197 commented on #32802
@jridgewell
It seems this issue haven't fixed yet. Open the attached page URL and open console you will see some ACAO header issues.

https://animals-visualstories-com.cdn.ampproject.org/v/s/animals.visualstories.com/why-are-flamingos-pink?amp_js_v=0.1

[2021-05-12 13:58] micajuine-ho commented on #34315
Related to https://github.com/ampproject/amp.dev/issues/5570

This can be done in AMP via `$CALC(${cumulativeLayoutShift}, 1000, multiply)`.

[2021-05-12 14:28] micajuine-ho commented on #34300
I think it's interesting that `fvid=1831....`. If I'm not mistaken, this indicates that its a non-amp generated CID. I'm thinking perhaps Linker/Cookiewriter might be used to propagate an amp-generated CID (maybe from cached page to origin page), but the Cookie already exists on origin, and amp-ad uses it before Linker/Cookiewriter has a chance to update? this could explain why the googleanalytics

[2021-05-12 15:10] alanorozco commented on #34224
@Francisco-AM Thanks for a very thorough report. It's immensely useful.

The way I see it, there are three parts to this issue.

### 1. Some 3p examples throw errors and warnings, but they work.

Since all of these load a secure iframe, errors may occur from it. Unfortunately, we don't have a way to suppress these warnings. The best we can do is notify the vendors and hope for a resolution.

- amp

[2021-05-12 15:29] davidstrauss commented on #33928
Hi. This document doesn't appear to be publicly available.

[2021-05-12 15:43] calebcordry commented on #33159
@dianomi-mjs No-signing is now fully launched! Sorry for the delay on updating.

[2021-05-12 15:53] alanorozco commented on #34224
I investigated stale ids, and I found that the following have at least one working example, so I crossed them out above. We may include a link to an example file on the `.md` guide, or include the valid id symmetrically.

amp-connatix-player
- GOOD: `examples/connatix-player.amp.html`
- BAD: `extensions/amp-connatix-player/0.1/amp-connatix-player.md`

amp-delight-player
- GOOD: `examples/amp-delig

[2021-05-12 15:55] samouri opened #34340 "build-system: use esbuild for production builds"
**summary**
`esbuild` is orders of magnitudes faster than closure compiler. I have previously [explored this](https://github.com/ampproject/amphtml/pull/32834#issuecomment-789166489), but failed to get it past the finish line.

Today, I measured the bundle size difference of `v0.mjs` when using `terser` + `esbuild` vs. `closure`:

- esbuild+terser with mangle props off: 66kb
- esbuild+terser with

[2021-05-12 16:31] samouri commented on #33928
@davidstrauss: sorry about that.
I just created a new document that should be publicly commentable: https://docs.google.com/document/d/1j32BNERR43ItI5lywCBo4Z7VFbMqvrZWtnngZHvfV2I/edit#heading=h.c0uts5ftkk58

[2021-05-12 16:34] rsimha commented on #14360
Closing this now that all AMP unit and integration tests are sandboxed by `describes`. Issues related global state will be tracked by #23837.

[2021-05-12 16:34] #14360 closed

[2021-05-12 16:38] dianomi-mjs commented on #33159
Thanks @calebcordry is there any documentation beyond the design doc above? The demo didn't work for me.

[2021-05-12 17:34] jridgewell commented on #32802
The server push that was supposed to happen last week was reverted due to an unrelated bug. We're still waiting for this week's push, which should happen again on Thursday.

[2021-05-12 19:40] ampprojectbot opened #34347 "🚨 Error: Failed to execute 'define' on 'CustomElementRegistry': the name "amp-consent" has already been used with this registry"
Details
---
**Error report:** [link](http://go/ampe/CMH7iOXy2NqfkAE)
**First seen:** Mar 4, 2021
**Frequency:** ~ 557/day

Stacktrace
---
<pre><code>Error: Failed to execute 'define' on 'CustomElementRegistry': the name "amp-consent" has already been used with this registry
    at define (<a href="https://github.com/ampproject/amphtml/blob/2104302228000/src/service/custom-element-registry.js#L181"

[2021-05-12 19:49] rcebulko opened #34349 "Tracking issue for general code modernization efforts"
Includes using features like for...of, null coalescing, core helpers, etc.

[2021-05-12 19:52] ampprojectbot opened #34350 "🚨 Error: Failed to execute 'define' on 'CustomElementRegistry': the name "amp-consent" has already been used with this registry"
Details
---
**Error report:** [link](http://go/ampe/CMH7iOXy2NqfkAE)
**First seen:** Mar 4, 2021
**Frequency:** ~ 557/day

Stacktrace
---
<pre><code>Error: Failed to execute 'define' on 'CustomElementRegistry': the name "amp-consent" has already been used with this registry
    at define (<a href="https://github.com/ampproject/amphtml/blob/2104302228000/src/service/custom-element-registry.js#L181"

[2021-05-12 20:29] #34260 closed

[2021-05-12 21:03] kbarneyforbes commented on #34300
The dev90 link is internal only. I figured out a way to reproduce the issue consistently on prod.

1. Open a private window
2. Search on desktop Google for "pfizer ceo albert bourla helped save the world can he save his companys stock"
3. Click on the article
4. Go back to the search results
5. Open up devtools and emulate mobile.
6. Refresh.
7. Click on the amp link to the same article

The IDs I

[2021-05-12 22:54] #33928 closed

[2021-05-12 23:09] calebcordry commented on #33159
@dianomi-mjs just the design doc for now. The general idea is that a valid amphtml ad can now be rendered without needing the cryptographic signing. Let's move this conversation off this thread. I am happy to set up a time to sync about the changes. Feel free to ping me on slack `@caleb`.

[2021-05-13 00:27] roshanjonah commented on #29813
It would be awesome to have live chat support via custom javascript allowing because no chat provider I encountered so far is supporting Amp.dev because the adoption rate is too small. If you guys allow it, it will definitely increase the amp.dev adoption rate.

[2021-05-13 02:18] matt-walker-aib commented on #24621
This does seem like another nail in the coffin for AMP right now...

[2021-05-13 07:03] amanintech commented on #29813
Hey @roshanjonah
I was surprised to stumble again on this thread.
Unfortunately, there isn't any inbuild AMP-compatible solution for this yet. But I was able to find a workaround that made it possible for us to use intercom live chat while still keeping the AMP validated.
Here it goes -
1. We use a server-side script logic that detects what kind of user agent is trying to access AMP.
2. For User a

[2021-05-13 07:53] jaygray0919 opened #34357 "amp-list breaks on large SVG"
Here is reference SVG-1
link: SVG-1
https://afdsi.com/_amp-issues/list/pizza_1_1.svg

**Success**: using `amp-list`, `amp-state` and `template` as a data source
link: AMP-1
https://afdsi.com/_amp-issues/list/pizza_1_2.html

Here is reference SVG-2
link: SVG-2
https://afdsi.com/_amp-issues/list/pizza_2_1.svg

*Failure*: using `amp-list`, `amp-state` and `template` as a data source
link: AMP-2
https

[2021-05-13 09:47] Francisco-AM commented on #34224
I am currently working on a hierarchy of amp blocks so I will open a suggestion later in case it could help you, I support moving all provider extensions to at least the video ones for the moment as the middle zone gets quite confusing .

![image](https://user-images.githubusercontent.com/69035383/118108329-27666400-b3e0-11eb-8266-386434b9a6e7.png)

look to find amp-video and amp-video-docking tha

[2021-05-13 13:53] alanorozco commented on #34357
You're doing something wrong.

Your working example references keys without quotes: `{{101}}`.

[2021-05-13 13:55] alanorozco commented on #34357
It's not the SVG.

- Your working example references keys without quotes: `{{101}}`.
- Your failing example adds quotes: `{{"101"}}`.

Remove the quotes, [it works fine.](https://amphtml-issue-34048.glitch.me)

[2021-05-13 13:55] #34357 closed

[2021-05-13 14:37] jaygray0919 commented on #34357
@alanorozco am humiliated. thank you for the quick analysis.

[2021-05-13 14:42] rcebulko opened #34362 "Rename core/types to core/primitives"
Right now, `src/core/types` contains helpers for primitive types: function, string, array, date, enum (honorary primitive), object
This was probably not the best choice of directory naming, since it can cause confusion with type declarations. I'd suggest renaming it to `src/core/primitives`.

The actual change itself is a fairly trivial find/replace, but since it touches many files and is an overa

[2021-05-13 15:19] alanorozco commented on #34357
Happy to help. All I did was compare the docs side by side.

[2021-05-13 15:42] alanorozco commented on #34224
Don't worry about doing design work. The decision to change grouping or unlisting should be done on a consensus. Particularly, @ampproject/wg-outreach should have an opinion on this.

[2021-05-13 15:42] micajuine-ho commented on #34300
Tracing your code in the prod environment, I'm seeing that both `amp-ad` and `amp-analytics` are using the CLIENT_ID macro and utilizing the GOOGLE_CID_API, with the same scope and apikey.

Unless the Viewer's GOOGLE_CID_API is returning different things based on identical calls (I don't think that's the case), then something is happening with DFP value.

@calebcordry  After the json targeting is

[2021-05-13 15:43] samouri commented on #34362
definitely slightly better than `types`. When I see `types` I immediately think of externs.

[2021-05-13 15:51] samouri commented on #34350
cc @jridgewell: could this be related to recent changes by @dvoytenko around multi-version support?

[2021-05-13 15:51] alanorozco opened #34363 "Office Hours (wg-components) 2021-05-18 18:00 UTC"
Time: [18:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=05&day=18&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Office%20Hours%20(wg-components)&dates=20210518T180000Z/20210518T18.50000Z&details=https%3A%2F%2Fmeet.google.com%2Fspd-oowj-ndo))
Location: [Video conference via Google Meet](https://meet.google.com/spd-oowj-

[2021-05-13 16:28] choumx opened #34364 "getMode().development missing from *.mjs"
## What's the issue?

Looks like `getMode().development` is missing from `*.mjs` binaries.

This results in features like AMP story's preview mode being inaccessible on pages that use `*.mjs` binaries.

## How do we reproduce the issue?

Search for "development" in:
- https://cdn.ampproject.org/v0/amp-story-1.0.js
- https://cdn.ampproject.org/v0/amp-story-1.0.mjs

The origin URL (js) triggers AMP

[2021-05-13 16:30] choumx commented on #34364
/cc @ampproject/wg-stories

[2021-05-13 17:42] gmajoulet commented on #34364
@mszylkowski can you investigate and re-assign to other team(s) if needed?

[2021-05-13 18:09] samouri commented on #34347
Dupe of https://github.com/ampproject/amphtml/issues/34347

[2021-05-13 18:14] mszylkowski commented on #34364
Seems like this is the intended behavior, but we want to allow triggering the development mode on mjs as well, so we need to use `win.location.hash` to determine if the development mode is being triggered.

[2021-05-13 18:15] jridgewell commented on #34364
/cc @rcebulko, who refactored this recently.

[2021-05-13 18:25] rsimha commented on #23837
With #34346, what remains of this issue has been distilled to one place:

https://github.com/ampproject/amphtml/blob/162d7544f7246c26bcd012c443225c53c60a455c/testing/init-tests.js#L137-L149

I'd imagine we can get rid of this function if we move the necessary initialization from the global `window` object to the internal `win` object in `describes.js`. Of course, this will need some experimentatio

[2021-05-13 18:27] rcebulko commented on #34364
I've poked around in that area, but `mode.js` is a bit of a hairball so I haven't submitted any major changes. I think the crux is that it's compiled away for ESM, which I think is WAI. For now `parseQueryString_(win.location['originalHash'] || win.location.hash)['development'] == '1'` is probably the simplest solution to fetch the hash param independent of `getMode()`. Even better, make it a help

[2021-05-13 18:41] samouri opened #34369 "Add documentation for new features built out for permutive"
**summary**
Now that they all have launched, we should add documentation for the three new features added around `amp-script`:

1. ability for `amp-analytics` to send events to `amp-script`
2. ability for amp-ad to request RTC data from `amp-script`
3. amp-script sandboxed security mode, which removes the need for csp hash and creates a proxy iframe for a security boundary.

[2021-05-13 18:46] alanorozco commented on #34347
@samouri The issue linked is this one. What's the dupe?

[2021-05-13 19:54] #24372 closed

[2021-05-13 19:54] #21658 closed

[2021-05-13 19:54] #25315 closed

[2021-05-13 19:54] #25316 closed

[2021-05-13 19:54] #16160 closed

[2021-05-13 19:54] #25506 closed

[2021-05-13 19:54] #25518 closed

[2021-05-13 20:27] micajuine-ho commented on #34300
I did some more digging, it looks like `amp-analytics` is using a config from GTM via `config="https://www.googletagmanager.com/amp.json?id=GTM-MNSBDX&amp;gtm.url=SOURCE_URL"`. This config contains `CLIENT_ID(AMP_ECID_GOOGLE,,_ga,true)`

Then within your `amp-ad type="doubleclick"` in the JSON attribute (for RTC callouts) you have "fvid":"CLIENT_ID(_ga)".

I feel like this maybe the issue?

@jeffk

[2021-05-13 21:11] samouri commented on #34347
meant to link to https://github.com/ampproject/amphtml/issues/34350

[2021-05-13 21:18] Enriqe opened #34375 "[amp-story-player] Audit public API methods for layout state"
We should audit the public methods of the player for layout state.

In #34360, I found that by calling `play()` under certain circumstances (player hidden, and no user scroll), the player can break. We should investigate other [public methods](https://github.com/ampproject/amphtml/blob/main/spec/amp-story-player.md#programmatic-control) to see if they will work correctly (e.g. `show()`, `add()`, e

[2021-05-14 00:35] otsuky opened #34378 "scroll-padding and scroll-margin won't work in AMP page"
## What's the issue?

The CSS property scroll-padding and scroll-margin won't work, when used on AMP page.

## How do we reproduce the issue?

[Try the example on the playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiIC8+CiAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICA8bGluayByZWw9ImNhbm9uaWNhbCIgaHJlZj0iYW1wcy5odG1sIiAvPgogIDxtZXR

[2021-05-14 10:32] roshanjonah commented on #29813
@amanintech That sounds really good! Thank you for sharing this. I want to give it a go - just need to do it for Hugo (the CMS we are using at the moment).

[2021-05-14 14:18] diasflack opened #34383 "Wrong LargestContentfulPaint for direct page visits"
## What's the issue?

 LCP metric for directly visited AMP pages is entirely wrong.

## How do we reproduce the issue?

1. Open /test/manual/amp-analytics/core-web-vitals.html from this project
2. Open dev tools performance tab
3. Reload the page with profiling
4. Make tab inactive, then active (to send metric)
5. Look at the network requests; you'll find something like this - 'https://fake.com/we

[2021-05-14 15:44] diasflack commented on #34383
I looked at the performance-impl module code and found some strange things from my perspective.

**LCP metric uses by default LoadTime, not RenderTime**

I can't say that I understand why it is done like this. I think it is connected to the main use case of AMP pages as embedded in google search, but it definitely should work another way for direct AMP pages.

renderTime is prioritized in LargestC

[2021-05-14 15:49] kristoferbaxter commented on #34383
@erwinmombay can you take a look at this and help to drive to a resolution?

[2021-05-14 15:50] kristoferbaxter commented on #34364
Marking this issue as resolved since it is by design.

[2021-05-14 15:50] #34364 closed

[2021-05-14 15:55] kristoferbaxter opened #34385 "Gesture Library Attempts to Cancel Events in Passive Handlers"
This is not allowed by spec.

Changes to fix are the following:
<img width="1641" alt="Screen Shot 2021-05-14 at 8 53 18 AM" src="https://user-images.githubusercontent.com/61764/118296466-dca52480-b491-11eb-841a-b4bf6b5cfd29.png">

There are several tests that rely on this behaviour that need addressing too.
[code]

[2021-05-14 15:55] samouri opened #34386 "Reduce size of v0.mjs"
**summary**
Writing this issue to capture reasonable steps we could take to further reduce the size of the primary binary, `v0.mjs`.  When measuring locally, the size goes from 61kb --> 48kb (20% drop).

1. Move `HistoryBindingVirtual` from v0.mjs to viewer-integration: 2kb saving.
2. Move `Performance` and `Viewer` services to viewer-integration: 3kb savings.
3. Completely migrate from `R0` to `R

[2021-05-14 17:05] processprocess commented on #34323
It doesn't since `amp-story-page-outlink` isn't currently in use.

[2021-05-14 17:19] rsimha opened #34389 "Storybook build throws a deprecation warning and recommends the adoption of `@storybook/addon-postcss`"
See [logs](https://app.circleci.com/pipelines/github/ampproject/amphtml/9261/workflows/36ebf513-29e2-43d1-b794-cb588554ddab/jobs/141693?invite=true#step-112-605).

![image](https://user-images.githubusercontent.com/26553114/118306012-c78ebc80-b4b6-11eb-8d42-b6fe4c5f8197.png)

This probably needs to be added to https://github.com/ampproject/storybook-addon-amp.

[2021-05-14 22:59] rsimha opened #34400 "Convert all AMP issue templates to forms"
### Description

`amphtml` was recently provisioned to use GitHub's new yaml-based [issues forms](https://gh-community.github.io/issue-template-feedback/welcome/) feature that allows for [structured templates](https://gh-community.github.io/issue-template-feedback/structured/).

### Alternatives Considered

Staying with `.md` templates means terrible usability

### Additional Context

_No response

[2021-05-14 23:42] samouri commented on #27918
@stephengardner, I'm surprised the fix mentioned by choumx didn't work. I'm out for the next few weeks but will investigate in early June when I'm back

[2021-05-15 00:41] westonruter opened #34402 "🖍 Styles from `ampcustom.css` can apply unexpectedly to `img` elements on “pre-valid” AMP pages"
### Description

In two cases recently, users of the AMP plugin for WordPress have reported issues with `ampshared.css` applying `position:relative` to `img` elements in part unexpectedly, although also expectedly since the pages are not valid AMP. However, the pages are using `img` elements in a way that they should _eventually_ be valid once https://github.com/ampproject/amphtml/issues/30442 is

[2021-05-15 00:42] westonruter commented on #34402
cc @jridgewell

[2021-05-15 00:44] westonruter commented on #34402
cc @dkoo who has some more examples from Newspack

[2021-05-15 19:41] kristoferbaxter commented on #34402
Thanks for sharing Weston, we'll try to get this resolved as we add official support for HTMLImageElements.

[2021-05-15 22:28] #25582 closed

[2021-05-15 22:28] #25475 closed

[2021-05-15 22:28] #25474 closed

[2021-05-15 22:28] #25437 closed

[2021-05-15 22:28] #25542 closed

[2021-05-15 22:29] #25508 closed

[2021-05-16 06:02] kumar-360 opened #34405 "Push notifications in AMP pages."
### Description

When we add push notifications for non-amp pages via pushEngage then there comes a prompt on the same page for allowing or blocking the notifications but for AMP pages when we implement this there comes a button king of thing on the page for accepting the notifications, also when it is clicked then the popup opens in a new page which isn't a good user experience. Can the push noti

[2021-05-16 10:35] mfainshtein commented on #31884
I would like to kindly follow up and see if there is any update or expected SLA for the review and approval.

[2021-05-16 12:57] jaygray0919 opened #34406 "Problem with html-table in amp-list/template"
### Description

The topic: `<table>` in `<template>` using `triple braces`

Issues and workarounds are discussed here: https://github.com/ampproject/amphtml/issues/11205

Here is our example: https://afdsi.com/__amp-issues/list-script

note: we will move JSON from amp-state to a server endpoint. But we use amp-state for analysis and testing (error message:
The inline script is 356906 bytes, which

[2021-05-17 11:51] leonardobravi opened #34411 "Error: amp-carousel is already registered"
When I use `amp-carousel-0.2` together with `amp-lightbox-gallery-0.1`, when opening the lightbox this message appears in the console:

`Uncaught (in promise) Error: amp-carousel is already registered. The script tag for amp-carousel is likely included twice in the page.​​​`

Using the `amp-carousel-0.1` version instead everything works correctly.

Tested with Chrome 90.0.4430.93 (64 bit) on Windo

[2021-05-17 12:21] gabriellcp commented on #24621
+1

[2021-05-17 14:43] alanorozco commented on #31884
@mfainshtein

1. Components need to be approved  during Design Review. You have not booked a session.
2. You haven't specified how you can't use `amp-video-iframe`/etc. Please clarify.

[2021-05-17 15:13] processprocess opened #34413 "[Amp story] [Page attachments] [Inline] Resolve scrolling beyond end of attachment"
### Description

Story behind attachment is visible when scrolling beyond attachment content.
Background color could be extended below attachment.

![May-17-2021 11-09-07](https://user-images.githubusercontent.com/3860311/118511880-52162c80-b700-11eb-9ade-1acbf6916307.gif)

cc @ampproject/wg-stories

### Alternatives Considered

NA

### Additional Context

_No response_

[2021-05-17 15:30] #34245 closed

[2021-05-17 15:36] powerivq commented on #31513
![Screen Shot 2021-05-17 at 8 29 33 AM](https://user-images.githubusercontent.com/1321403/118515358-e667aa00-b767-11eb-9659-e5ecc1c29e79.jpg)

This is the profiling results. Performance does not seem like the biggest issue, however, there still is CLS. DevTools still count it as a CLS. I can see two ways forward:

1. Accept the CLS and continue on adjusting padding top;
2. Do not adjust the paddin

[2021-05-17 16:02] rsimha commented on #33964
This is done. All repo-level docs now live under https://github.com/ampproject/amphtml/tree/main/docs. The `amp.dev` repo has been updated with the new locations, and the document import workflow [has been verified](https://github.com/ampproject/amp.dev/pull/5843#issuecomment-842355362) as working.

[2021-05-17 16:02] #33964 closed

[2021-05-17 16:40] jaygray0919 commented on #34406
Will use the fallback method. This approach is too complicated.

[2021-05-17 16:40] #34406 closed

[2021-05-17 17:47] Enriqe opened #34414 "[amp-story-player] End of carousel rewind button"
### Description

We would like to add support for rewinding to the beginning of the carousel when reaching the end.

In desktop, the "next" button could be replaced with a "replay" button. On mobile, we could show a "rewind" control.

/cc @ampproject/wg-stories

### Alternatives Considered

1. Use the "tap on the last page hook" and do your own action (e.g. show your own custom bookend, close the

[2021-05-17 17:48] jridgewell commented on #32802
The server push is live now, and my tests pages are passing.

[2021-05-17 17:48] #32802 closed

[2021-05-17 19:39] mhdfasilwyd commented on #4853
Any updates?

[2021-05-17 20:23] #33218 closed

[2021-05-17 20:33] gmajoulet commented on #33218
@mszylkowski can you link to the official documentation for `amp-story-social-share`?

[2021-05-17 20:59] EMamichev opened #34419 "CORB error"
### Description

https://github.com/ampproject/amphtml/blob/main/ads/vendors/zen.md

this block doesn't render and shows warning

![image](https://user-images.githubusercontent.com/51496906/118555723-a7d3ee80-b76b-11eb-8171-e6f56bc2b05d.png)

### Reproduction Steps

add block to playgroung or any amp page

### Relevant Logs

_No response_

### Browser(s) Affected

Chrome

### AMP Version Affected

[2021-05-17 21:20] gmajoulet commented on #33912
Hey @goonydev, we just filed a ticket to eventually allow you to customize the "end of carousel" button. You could provide your own button so its design matches what happens when clicked. You could change the icon into a "rewind" or "close" or anything else depending on the behavior you implement on `noNextStory`.

https://github.com/ampproject/amphtml/issues/34414

[2021-05-17 22:24] jridgewell commented on #34419
We do not control the URL `https://zen.yandex.ru/widget-loader`, so  it's impossible for us to fix this. I'd suggest reaching out to your contact at Zen to have them fix the problem.

[2021-05-17 22:24] #34419 closed

[2021-05-18 04:56] goonydev commented on #33912
Thank you guys.

[2021-05-18 16:24] ampprojectbot opened #34424 "🚨 Error: null is not an object (evaluating 'a.style')"
Details
---
**Error report:** [link](http://go/ampe/CNu2vd--wu_4GA)
**First seen:** Nov 15, 2019
**Frequency:** ~ 976/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.style')
    at style (<a href="https://github.com/ampproject/amphtml/blob/2104302228000/src/style.js#L147">src/style.js:147</a>:10)
    at iframe (<a href="https://github.com/ampproject/amphtml/blob/21043022

[2021-05-18 16:46] ampprojectbot opened #34426 "🚨 Error: null is not an object (evaluating 'a.style')"
Details
---
**Error report:** [link](http://go/ampe/CNu2vd--wu_4GA)
**First seen:** Nov 15, 2019
**Frequency:** ~ 976/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.style')
    at style (<a href="https://github.com/ampproject/amphtml/blob/2104302228000/src/style.js#L147">src/style.js:147</a>:10)
    at iframe (<a href="https://github.com/ampproject/amphtml/blob/21043022

[2021-05-18 20:11] jridgewell commented on #34402
We could add `width`/`height` support for validator, and add `:not(img)` to the selectors.

[2021-05-18 22:44] Enriqe opened #34437 "🚄 Release tracking issue for release 2105150310000"
# Release tracking issue

This issue tracks release [2105150310000](https://github.com/ampproject/amphtml/releases/tag/2105150310000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2105072136000...2105150310000).

- [x] Release 2105150310000 promoted to Experimental and Beta (opt-in) channels (May 18, 2021, 5:09:25 PM GMT-4)
- [x] Release 2105150310000 prom

[2021-05-18 22:47] #34321 closed

[2021-05-19 00:03] github-actions[bot] opened #34439 "Design Review 2021-06-10 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=06&day=10&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210610T000000Z/20210610T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-05-19 16:33] mszylkowski opened #34443 "[Story a11y] Reduced motion breaks layouts with animate-in"
### Description

When a story is viewed with a `prefer-reduced-motion` device, the `amp-story-animation` animations are not triggered. In many cases, these animations are used to introduce elements into the view. Since the animations don't run, the animated elements don't show up on the story at all.

Eg:
[code]

### Reproduction Steps

1. Activate reduced motion in your OS
2. Go to https://slashe

[2021-05-19 17:29] nainar opened #34445 "amp-anim should show the fallback/placeholder when the user prefers reduced motion"
### Description

amp-anim should show the fallback/placeholder when the user has [prefers reduced motion](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) set?

Also maybe adding support for all Level 5 User Preference Media Features

### Alternatives Considered

None.

### Additional Context

None.

[2021-05-19 19:35] #32447 closed

[2021-05-19 19:47] processprocess opened #34449 "Web Stories CTA Updates I2S"
### Summary

We're updating CTAs within Web Stories with more features for customization while creating a more consistent UX.

Web Stories enable creators to link to additional content (either arbitrary external links or additional content in a page attachment) in a few different ways today: tap targets that open a tooltip, tap targets that directly open an external link (`<amp-story-cta-layer>`)

[2021-05-19 19:58] processprocess opened #34450 "amp-story-cta-layer I2D"
### Summary

The `<amp-story-cta-layer>` allows the placement of multiple CTAs on the bottom of the page but in practice very few Stories make use of this freedom. In almost all cases, Stories use a single CTA at the bottom of the page. Further, it is easy to create poor user experience situations using the cta-layer (e.g. a wide invisible tap target at the bottom of the page).
In order to make ou

[2021-05-19 20:27] kristoferbaxter opened #34453 "Intent to Deprecate: IE11 Support"
### Summary

Microsoft has announced a final date for IE11 support: https://blogs.windows.com/windowsexperience/2021/05/19/the-future-of-internet-explorer-on-windows-10-is-in-microsoft-edge/

I'd like to propose we deprecate IE11 support on an aggressive schedule to coincide with the official timings from Microsoft.

### Motivation

The AMP codebase contains a significant number of workarounds for

[2021-05-19 20:28] nainar commented on #34453
Let's do it!

[2021-05-19 20:39] #27691 closed

[2021-05-19 22:39] rsimha commented on #34453
+1 to deprecating IE11 as soon as is feasible. Doing so will also help eliminate a large number of special case code paths in  test and infrastructure code and simplify our CI workflows.

[2021-05-19 23:30] jridgewell commented on #34453
🎉💯🎊

[2021-05-19 23:45] kristoferbaxter commented on #34048
Cancelling today's design review since there are no topics.

[2021-05-19 23:45] #34048 closed

[2021-05-20 00:31] cramforce commented on #34453
What data do we have to inform this decision?

[2021-05-20 00:32] cramforce commented on #34453
Also, CCing @ampproject/tsc

[2021-05-20 06:40] cellular-jreis commented on #34266
hi, does this fix affect all supported browsers
and will it be live next Tuesday?

[2021-05-20 14:45] processprocess opened #34464 "[Page attachments] [Inline] `drawer-theme` attribute"
### Description

Currently the drawer `theme` is set to the `theme` on `amp-story-page-attachment`.
This may not work for all designs.

Adding a `drawer-theme` attribute will allow a publisher to specify the theme of the drawer.
It will accept the same values as `theme`.
If not defined it will default to `theme` (current behavior).

This will need to be hidden behind the experiment flag.

Document

[2021-05-20 14:50] micajuine-ho commented on #34266
Yes and yes

[2021-05-20 15:46] cpauwels commented on #34449
While I do like this new direction, I feel like there are still too many unanswered questions.

External attachments have been notably finicky, and oftentimes slow. Even today, on the most recent generation of iPhones, swiping up to open a CTA takes over a second to even start loading the page, with a weird graphical bug at the top of the page. And returning to the story currently removes some of

[2021-05-20 16:45] davidstrauss commented on #34453
The only counterpoint I think I can think of is to consider whether this affects any marginalized populations who, for any reason, have access to IE11 but not alternatives. I suspect that's not the case because I think IE11 is only available versions of Windows that are new enough to support alternatives as well. This was definitely a major issue for older IE versions, which remained in broad use

[2021-05-20 16:55] dvoytenko commented on #34453
I think Edge and Chrome both available everywhere where IE11 is. I roughly remember this was one of the reasons Edge switched to Blink. One of the major sources of holdovers might actually be enterprise-like users with the enterprise apps hardcoded to IE features and where a browser upgrade might be disabled by admins. This still might be a relatively important segment of userbase, however. For in

[2021-05-20 17:12] cramforce commented on #34453
Another nail in the coffin is that Edge support "IE11 frame" where admins can designate certain domains to use MSHTML (legacy IE11 renderer) to render certain domains within Edge (so legacy apps that needs IE11 are not a problem). I've also heard that IE11 already opens Edge for certain domains by default where Microsoft determined that IE11 cannot render them (like youtube).

From Google's data (

[2021-05-20 17:39] zshnr opened #34469 "Cannot interact with LocalStorage from amp-script"
### Description

I was trying to follow [this official example](https://amp.dev/documentation/examples/components/amp-script/?format=websites#local-storage) to setup a simple interaction between `amp-script` and `localStorage`

However, when I try to use it on amp playground, I see a bunch of console errors related to some node dependency.

I have pasted the logs from the console as well as the li

[2021-05-20 18:36] processprocess opened #34470 "[Page attachments] [Outlink] open-attachment animation does not cover top of screen on iOS"
### Description

On iOS, the post-tap outlink overlay does not cover the top of the screen.

<img width="368" alt="Screen Shot 2021-05-20 at 2 31 05 PM" src="https://user-images.githubusercontent.com/3860311/119030755-4cc31700-b978-11eb-8219-eb11d390f75d.png">

### Reproduction Steps

1. Load a story on an iOS device using safari.
2. Open a story with an outlink CTA.
3. Click the CTA.

### Browser

[2021-05-20 18:55] kristoferbaxter commented on #34453
@jridgewell is working on getting data from `cdn.ampproject.org` which we can share.

[2021-05-20 19:44] jpolanco91 opened #34471 "<amp-consent> user's preference not saving in local storage."
### Description

Hi folks, I have a GDPR consent flow set up with `<amp-consent>` which is set up with a `consentRequired: ‘remote’` and an API endpoint to handle the consent in the `checkConsentHref`, and as the docs say if the user either accept or reject consent, the user’s preference should be stored on local storage. However, when on prod, we have the following scenarios:

- On Chrome (Androi

[2021-05-20 20:03] processprocess commented on #34449
Thank you for this feedback @cpauwels.

These are regressions. #34330 fixes these and we're working to get it into production.

Filed #34470 for tracking this.

Agreed that it's not ideal. We're looking for the best solution for this. Please see comment below about the "swipe" gesture.

@raovs for analytics context.

The `a` tag will not be removed. `amp-story-page-outlink` wraps an `a` tag. The S

[2021-05-20 21:08] kristoferbaxter commented on #34453
Percentage of Requests for AMP JavaScript Resources for IE11 from `cdn.ampproject.org`
Weekday – 0.001%
Weekend – 0.04%

[2021-05-20 21:10] cramforce commented on #34453
@kristoferbaxter Is this both AMP Cache and origin traffic? Could you break it out?

[2021-05-20 21:45] kristoferbaxter commented on #34453
This is both the Google AMP Cache and Origin traffic. We can split it out, but it will take a little bit.

[2021-05-20 22:39] #34400 closed

[2021-05-20 22:42] rsimha commented on #34400
All our legacy issue templates are now fillable yaml forms.

/cc @kristoferbaxter @jridgewell

[2021-05-21 00:00] alankent commented on #15920
This get finalized? I just noticed makestories.io released some tutorials where they recommend 4:3, 3:4, and 1:1. https://university.makestories.io/lesson/preparing-your-stories-for-publishing/ at 5:30 shows the poster size images they create (696x928, 928x696, and 696x696). It shows https://amp.dev/documentation/components/amp-story/#poster-portrait-src-(required) so I assume this is the final re

[2021-05-21 09:44] mayger13 opened #34475 "amp-lightbox-gallery isnt working in amp-carousel 0.2"
### Description

Hi,
I don´t know what happened, but amp-lightbox-gallery suddenly stop working in amp-carousel 0.2. When i click on the picture nothing happen or pictures are shown in wierd way. It was working fine week ago.

### Reproduction Steps

I think that everything is shown on this website i created.

https://ukazka-amp.cz/test.html

### Relevant Logs

_No response_

### Browser(s) Affect

[2021-05-21 17:46] processprocess opened #34479 "Amp Story Desktop One Panel I2I"
### Summary

Desktop panels mode was initially created as a visually rich UI to display stories on large landscape screens. Since then we’ve introduced new features such as the [`amp-story-player`](https://amp.dev/documentation/components/amp-story-player/?format=stories), [amp story animations](https://amp.dev/documentation/examples/visual-effects/amp_story_animations/?format=stories) and [`amp-s

[2021-05-21 19:33] micajuine-ho commented on #34471
Hi @jpolanco91 is it possible to create a test site where this behavior is present always (without having to VPN)?

[2021-05-21 19:43] jpolanco91 commented on #34471
@micajuine-ho do you mean a test site in prod (this is visible to the entire world) ? If that's the case I'm not sure if we're able to do this.

[2021-05-21 19:48] micajuine-ho commented on #34471
What is the payload that `checkConsentHref ` is returning on both Chrome (Android 9 and iOS 14.1) and Safari (iOS 14.1)?

[2021-05-21 19:49] micajuine-ho commented on #34471
Additionally, are you in a viewer setting? Or on your origin?

[2021-05-21 20:14] jpolanco91 commented on #34471
On Android 9 I was unable to get the payload, however in Safari (iOS 14.1) I get this:

Before expressing a preference (accept or reject):

[code]

After expressing a preference (accept):

[code]

And the consent prompt shows up again.

About the viewer setting, I didn't understood what you mean there

[2021-05-21 20:22] micajuine-ho commented on #34471
An AMP viewer is a page that can bring up multiple ampdocs, i.e. the Google AMP viewer accessible from google.com, i.e. search for a NYT article and then click on an AMP link and then the Google AMP Viewer will display the AMP doc in an iframe.

This is the payload your are getting from on your endpoint form the  `checkConsentHref` request?

[2021-05-21 20:26] jpolanco91 commented on #34471
@micajuine-ho yes this is the payload I get from our endpoint on the `checkConsentHref`

[2021-05-21 20:30] jpolanco91 commented on #34471
@micajuine-ho btw I confirmed that the article that is shown in my phone (iOS) is shown on a google amp viewer.

[2021-05-21 22:16] ampprojectbot opened #34484 "🚨 Error: can't access dead object"
Details
---
**Error report:** [link](http://go/ampe/CKmt1bjW6e6aeg)
**First seen:** Apr 4, 2020
**Frequency:** ~ 8,715/day

Stacktrace
---
<pre><code>Error: can't access dead object
    at iframe_ (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-iframe/0.1/amp-iframe.js#L509">extensions/amp-iframe/0.1/amp-iframe.js:509</a>:14)
    at <a href="https://github.com/amp

[2021-05-21 22:16] ampprojectbot opened #34485 "🚨 Error: can't access dead object"
Details
---
**Error report:** [link](http://go/ampe/CKmt1bjW6e6aeg)
**First seen:** Apr 4, 2020
**Frequency:** ~ 8,715/day

Stacktrace
---
<pre><code>Error: can't access dead object
    at iframe_ (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-iframe/0.1/amp-iframe.js#L509">extensions/amp-iframe/0.1/amp-iframe.js:509</a>:14)
    at <a href="https://github.com/amp

[2021-05-22 00:30] elswork commented on #24621
It seems that Google AMP era has ended 🎉 https://developers.google.com/search/blog/2021/04/more-details-page-experience

[2021-05-22 00:41] westonruter commented on #24621
That's not correct. See [Core Web Vitals & Page Experience FAQs](https://support.google.com/webmasters/thread/104436075/core-web-vitals-page-experience-faqs-updated-march-2021).

[2021-05-22 07:34] ampprojectbot opened #34487 "🚨 Error: undefined is not an object (evaluating 'a.querySelectorAll')"
Details
---
**Error report:** [link](http://go/ampe/CP--r87Mu-HvCA)
**First seen:** Dec 1, 2020
**Frequency:** ~ 232/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'a.querySelectorAll')
    at querySelectorAll (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-next-page/1.0/service.js#L709">extensions/amp-next-page/1.0/service.js:709</a>

[2021-05-22 08:20] ampprojectbot opened #34488 "🚨 Error: undefined is not an object (evaluating 'a.querySelectorAll')"
Details
---
**Error report:** [link](http://go/ampe/CP--r87Mu-HvCA)
**First seen:** Dec 1, 2020
**Frequency:** ~ 232/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'a.querySelectorAll')
    at querySelectorAll (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-next-page/1.0/service.js#L709">extensions/amp-next-page/1.0/service.js:709</a>

[2021-05-22 10:09] #25690 closed

[2021-05-22 10:09] #25438 closed

[2021-05-22 10:09] #25657 closed

[2021-05-22 10:09] #16110 closed

[2021-05-22 10:09] #25658 closed

[2021-05-22 10:09] #20832 closed

[2021-05-22 10:09] #25675 closed

[2021-05-22 11:30] ampprojectbot opened #34489 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CIGEo4LnkqGKJQ)
**First seen:** Mar 22, 2021
**Frequency:** ~ 756/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at message (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/src/core/error.js#L60">src/core/error.js:60</a>:22)
    at <a href="https://github.com/ampproject/amphtm

[2021-05-22 21:20] ampprojectbot opened #34490 "🚨 Error: Cannot read property 'sourceElement' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CNWIhYbq8pezxQE)
**First seen:** Jul 23, 2019
**Frequency:** ~ 2,108/day

Stacktrace
---
<pre><code>Error: Cannot read property 'sourceElement' of undefined
    at <a href="https://github.com/ampproject/amphtml/blob/2105150310000/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js#L646">extensions/amp-lightbox-gallery/0.1/amp-lightbox-gal

[2021-05-23 06:52] hisureshkumar opened #34491 "AMP Pages not loading on Iphone on Google Search App"
I am facing peculiar problem. I posted this on wordpress support forum and I heard this is known problem with Google Search App and asked me to post it on Github.

I have installed AMP two weeks back on my blog [myinvestmentideas.com](myinvestmentideas.com)

1) When I go through google search (through Google search App), the AMP pages are not loading on some mobiles. e.g. Iphone.  When I type myin

[2021-05-23 07:04] Chutanee opened #34492 "tweet-amp"
<template type="amp-mustache">

  <div class="item">{{item}}</div>
  <div class="price">{{price}}</div>
</template>
amp-list div[role='list'] {
  display: grid;
  grid-gap: 0.5em;
}
<amp-list
  width="auto"
  height="100"
  layout="fixed-height"
  src="/static/inline-examples/data/amp-list-urls.json"

  <template type="amp-mustache">

    <div class="url-entry">
      <a href="{{url}}">{{title}}</

[2021-05-23 17:04] westonruter commented on #34491
Thanks for posting here. This may end up being an issue with the Google Search app for iPhone, but I can't confirm since I don't have an iPhone.

[2021-05-23 20:28] #34492 closed

[2021-05-24 05:51] ampprojectbot opened #34493 "🚨 Error: No ampdoc found for [object HTMLImageElement]"
Details
---
**Error report:** [link](http://go/ampe/CIPby5aHgM-VlQE)
**First seen:** May 21, 2021
**Frequency:** ~ 214/day

Stacktrace
---
<pre><code>Error: No ampdoc found for [object HTMLImageElement]
    at message (<a href="https://github.com/ampproject/amphtml/blob/2105210438000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampproject/ampht

[2021-05-24 11:46] zshnr commented on #34469
And its working now even with the `data-ampdevmode` and no hash provided. Clearly I just needed the weekend to get this to work 😂

Sorry for the bother. Thanks for looking into this. I'll close it for now since the playground stuff is fixed. If this turns into a problem again I'll open the issue.

[2021-05-24 11:46] #34469 closed

[2021-05-24 14:01] goonydev opened #34496 "[amp-story-player] Not firing analytics when web story is loaded by story-player"
### Description

I am assuming that GA tracking is fired just the same when my web story is loaded through the amp-story-player. But this is not valuable information to me, it actually makes it difficult for me to know how many times people viewed the web story in standalone version.

When the web story is loaded through the amp-story-player, it is just a widget in another page. This is not what t

[2021-05-24 14:21] Enriqe commented on #34490
/cc @caroqliu @micajuine-ho

[2021-05-24 14:21] Enriqe commented on #34489
/cc @rcebulko @jridgewell

[2021-05-24 14:25] Enriqe commented on #34493
/cc @rcebulko @alanorozco

[2021-05-24 14:41] rcebulko commented on #34489
Closing as dupe of #30616

[2021-05-24 14:41] #34489 closed

[2021-05-24 14:43] rcebulko commented on #34493
Closing as dupe of https://github.com/ampproject/error-reporting/issues/4

[2021-05-24 14:43] #34493 closed

[2021-05-24 16:03] #34470 closed

[2021-05-24 16:34] VorticonCmdr opened #34498 "variable substitutions ${canonicalUrl} cutting off urls at a comma"
### Description

"$DEFAULT(${canonicalUrl}, notSet)" doesn't seem to report the URLs correctly in amp-analytics. It looks like for some reason the reported urls get cut of at the comma (,)

### Reproduction Steps

e.g. https://amp.tvspielfilm.de/news/tv/tatort-neugeboren-neues-bremer-team-macht-so-weiter-wie-das-alte-aufgehoert-hat,10428438,ApplicationArticle.html

look for rt.tvspielfilm.de/colle

[2021-05-24 16:52] caroqliu commented on #34490
Swiped around on my iPhone and nothing is standing out... @micajuine-ho any ideas?

One note - I'm surprised that we are getting `undefined` here when the helper uses `devAssert`, shouldn't we be able to expect to see logs for those assertion failures as well? cc @rcebulko
https://github.com/ampproject/amphtml/blob/2dd14e5aa7abfa66a23e88a1beda0a1f2cc5bb90/extensions/amp-lightbox-gallery/0.1/amp-li

[2021-05-24 17:11] kristoferbaxter commented on #34469
No worries, thanks for reporting and happy it was an easy fix.

[2021-05-24 17:22] rcebulko commented on #34490
Duplicate of https://github.com/ampproject/amphtml/issues/26914 that was seen as a new error because `observable.js` was moved, so the stacktrace appears distinct.

@caroqliu all `devAssert` calls are removed from builds during compilation, so nothing would be logged.

[2021-05-24 17:23] #34490 closed

[2021-05-24 17:31] newmuis commented on #34449
Thanks @processprocess!  Agreed on most fronts.

I do think it's worth us evaluating the usage of the `<a>` tag, as they are slightly different.  `<amp-story-cta-layer>` requires a publisher-specified `<a>` tag.  `<amp-story-page-attachment>` and `<amp-story-page-outlink>`, on the other hand, build an `<a>` tag with JavaScript, when the AMP component is built.  The result for (human) end users is