[2021-05-24 17:48] #34402 closed

[2021-05-24 18:11] ampprojectbot opened #34499 "🚨 Error: Cannot read property 'removeEventListener' of null"
Details
---
**Error report:** [link](http://go/ampe/CIjMpN7X27_EcA)
**First seen:** Apr 18, 2019
**Frequency:** ~ 67/day

Stacktrace
---
<pre><code>Error: Cannot read property 'removeEventListener' of null
    at removeEventListener (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js#L1127">extensions/amp-lightbox-gallery/0

[2021-05-24 18:20] ampprojectbot opened #34500 "🚨 Error: Cannot read property 'removeEventListener' of null"
Details
---
**Error report:** [link](http://go/ampe/CIjMpN7X27_EcA)
**First seen:** Apr 18, 2019
**Frequency:** ~ 67/day

Stacktrace
---
<pre><code>Error: Cannot read property 'removeEventListener' of null
    at removeEventListener (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js#L1127">extensions/amp-lightbox-gallery/0

[2021-05-24 18:24] honeybadgerdontcare opened #34501 "amp.dev#development=1 is not invoking console validator"
### Description

The validator is [invoked in the console](https://amp.dev/documentation/guides-and-tutorials/learn/validation-workflow/validate_amp/?format=websites) by appending `#development=1`.

Due to a change in how to determine if in development mode, the validator is not invoked for module versions of the runtime (v0.mjs).

Background: [getMode().development missing from *.mjs #34364](http

[2021-05-24 18:33] kristoferbaxter commented on #34491
@jridgewell – this appears to be a runtime level question, but if you'd like someone else to take a look let me know.

[2021-05-24 18:34] processprocess opened #34504 "[Amp Story] [Page attachments] [Inline] Attachment header doesn't stick to top of viewport"
### Description

The header does not stick to the top of the viewport.

Tested in iOS Chrome, & iOS Safari.

https://user-images.githubusercontent.com/3860311/119391948-0aae1400-bc9d-11eb-9f18-9e33c6cb352c.mov

### Reproduction Steps

1. Navigate to [this demo](https://000623720.deployed.codepen.website/) in iOS chrome
2. Open the CTA BUTTONS V2 story
3. Navigate to page 25
4. Swipe up or click th

[2021-05-24 18:38] #33184 closed

[2021-05-24 18:38] #33185 closed

[2021-05-24 18:44] processprocess opened #34505 "[Page attachments] [Inline and Outlink] Visual tests for post-tap state"
### Description

Visual tests for:

Inline attachment:
- light theme
- dark theme

Outlink attachment:
- light theme
- dark theme
- custom theme

Outlinks are in constant motion and then open a new page.
Making a visual test for them would require the page not to open.

### Alternatives Considered

N/A

### Additional Context

_No response_

[2021-05-24 18:58] processprocess opened #34507 "[amp-story] [amp-story-page-outlink] Child anchor element"
### Description

Based on the conversation & feedback in [Web Stories CTA Updates I2S ](https://github.com/ampproject/amphtml/issues/34449#issuecomment-847903894)

Change:
[code]

to:
[code]

All navigations would be triggered by a programatic click on this <a> tag to be fully compliant with all analytics or other tracking mechanisms.

Validation will need to be updated for this.
The API updates i

[2021-05-24 20:46] mszylkowski opened #34511 "[Story Interactive] Use `index`property in backend response to show responses"
### Description

If the backend responds with `[{index: 2, count: 5, selected: true}]` it will mark as selected the first option instead of the third option. When some option indices are missing, the results don't get properly matched to the options.

### Reproduction Steps

Set up a server that answers `[{index: 2, count: 5, selected: true}]`
Connect interactive component to backend
Component wil

[2021-05-24 21:05] mszylkowski opened #34513 "[Story devtools] Debug tab crashes if opening devtools from the preview tab"
### Description

When there are multiple errors in the debug tab and the tab is inactive (eg: when starting from the Preview tab), it errors:

![image](https://user-images.githubusercontent.com/22420856/119406730-2fac8200-bcb1-11eb-9d6d-a697a3fa0113.png)

### Reproduction Steps

Go to https://wsdemos.uc.r.appspot.com/homewarrior#development=1 and click the Debug tab

### Relevant Logs

_No respons

[2021-05-24 21:27] #34501 closed

[2021-05-24 22:03] #28387 closed

[2021-05-25 03:59] westonruter commented on #29489
Example support topic where a user with `amp-audio` is confused about why SSR cannot be performed: https://wordpress.org/support/topic/error-in-amp-audio-pages/

[2021-05-25 04:22] westonruter commented on #22543
Yes, as for AMP pages optimized with ESM scripts, the current `script[amp-onerror]` will do absolutely nothing for modern browsers. Only IE11 will get the error handling since only it will attempt to load `v0.js`. Other browsers will attempt to load `v0.mjs`.

It's not just a matter of adding a selector, though. We'd need to create a loop. So instead of:

[code]

We'd need to do:

[code]

The use

[2021-05-25 04:33] westonruter commented on #22543
I'm not sure how this would be achieved in the validator while maintaining validity for the current `v0.js` script:

https://github.com/ampproject/amphtml/blob/735b7cbc40fbe702dff2821d44f479b7a389e0c4/validator/validator-main.protoascii#L3370-L3387

Instead of `mandatory_cdata` it seems we could use an `allowed_cdata_regex` constraint use and `|` the patterns together like is common for `value_reg

[2021-05-25 08:04] cpauwels commented on #34449
One more question around this: will the new outlink support Apple's [Private Click Measurement](https://github.com/privacycg/private-click-measurement) and Google's [Conversion Measurement API](https://github.com/WICG/conversion-measurement-api) ? This would be especially important for conversion tracking on marketing-focused stories.

[2021-05-25 10:55] abhiz10 opened #34516 "amp-story-social-share Not working"
### Description

@mszylkowski Is this feature <amp-story-social-share> Live ?
Because I have Implemented this locally, I'm passing the old bookend.json in which the share provider is present.
But locally it's not showing any share provider at the end of the story.
I also provide a demo file in the attachment below.
Is my Implementation is correct? Please help.
Thank You

### Reproduction Steps

[s

[2021-05-25 11:20] abhiz10 opened #34517 "Update Consent is not working in Granular Consent"
### Description

Hi...
With Reference to https://blog.amp.dev/2021/04/29/preserving-user-privacy-with-granular-consent-in-amp/
I have implemented this Granular consent feature on my website https://humor.visualstories.com, I am saving the analytics consent by default and not allowing the user to change it. I have added only analytics in the "purposeConsentRequired".
"purposeConsentRequired":["purp

[2021-05-25 13:55] mszylkowski commented on #34516
Hi! Seems like the server has an internal error when fetching the bookend.json with the parameters passed by AMP. Make sure that the server succeeds when sending the request. Also, with a properly configured social-share, the share providers will be shown properly when clicking on the share icon on the story, but it should not trigger the share dialog automatically when reaching the end. For that

[2021-05-25 14:10] newmuis commented on #34449
More good points, @cpauwels!

After my comment yesterday, we discussed offline and believe we can change the API (without great impact to the user-facing feature) such that publishers specify an `<a>` tag with text content.  This would enable leveraging systems (browsers, crawlers/bots, etc) that utilize information from `<a>` tags.

It will involve some changes to get there, but we will circle ba

[2021-05-25 14:15] processprocess opened #34520 "[Amp story] [Interactives] [Binary polls] Overlay on selected answer not spanning entire height"
### Description

Tested on iOS Safari and iOS Chrome.

<img width="292" alt="Screen Shot 2021-05-25 at 10 09 47 AM" src="https://user-images.githubusercontent.com/3860311/119512639-7ea1f800-bd41-11eb-95d6-65c2ff637d91.png">

### Reproduction Steps

1. open a story with a binary poll like [Home Warrior](https://wsdemos.uc.r.appspot.com/homewarrior#page=p3) on iOS Safari or iOS Chrome
2. Tap the bin

[2021-05-25 15:06] micajuine-ho commented on #34471
I'm able to repro now, strangely it doesn't occur when I'm in incognito. Investigating futher.

[2021-05-25 15:22] abhiz10 commented on #34516
@mszylkowski Thank you so much for the help.

[2021-05-25 15:55] micajuine-ho commented on #34517
Hi @abhiz10 it looks like your config is incorrect.

                    {
                       "consentInstanceId":"world-wide-consent",
                       "consentRequired":false,
                       "promptUI":"gCnst-dialog",
                       "promptIfUnknownForGeoGroup": "mylist",
                       "postPromptUI":"repromptDialog",
                          "uiConfig":{

[2021-05-25 16:01] calebcordry commented on #34115
The fix has hit production on the google ads side. Please let us know if you are still seeing issues.

[2021-05-25 16:01] #34115 closed

[2021-05-25 16:48] dmanek opened #34526 "Mutating bound src from a url to amp-state does not work"
### Description

In amp-render, I'm mutating the [src] from a url to amp-state, but there is no effect. The issue seems that the amp-state id is being interpreted as a URL and being appended to the base URL as such.

### Reproduction Steps

1. Check out PR https://github.com/ampproject/amphtml/pull/34512 and run `amp`
2. Go to http://localhost:8000/examples/amp-render-bind.html
3. Verify that all

[2021-05-25 16:49] jridgewell commented on #22543
Yes, this is related to b/163852894. The official (Google internal) module/nomodule variant is:

[code]

@honeybadgerdontcare: How would you suggest we add this to validator?

[2021-05-25 16:54] gmajoulet commented on #34449
I'd be adding one extra requirement on what @newmuis just said about switching to a `<a>` tag to configure the `amp-story-page-outlink`: all navigations would be triggered by a programatic click on this `<a>` tag. This would be fully compliant with all analytics or other tracking mechanism.

[2021-05-25 16:57] ewagstaff opened #34527 "[amp-story] Replay button disappears after finished story is returned to"
### Description

Expected behavior:

When a user finishes a Web Story and navigates away using a link in the bookend.json, clicking a link back to the Web Story should return them to the bookend page with a replay button.

Actual behavior:

When a user finishes a Web Story and navigates away using a link in the bookend.json, clicking a link back to the Web Story returns them to the bookend page, h

[2021-05-25 17:49] rcebulko opened #34529 "I2I/Discussion: Absolute or aliased imports in AMP code"
### Summary

# Absolute import paths in AMP

## Overview

AMP code has a wide range of dependencies, some of which can be unclear. These imports are referenced using relative paths like `../../../src/utils/math`. This can be annoying to read and type, and can obscure some of the relationships between a source file and its dependencies (related: [#32693](https://github.com/ampproject/amphtml/issues

[2021-05-25 17:50] rcebulko commented on #34217
Howdy,

I'd like to talk briefly about the pros and cons of supporting absolute/aliased import paths in AMP code (https://github.com/ampproject/amphtml/issues/34529) to get a sense if it's worth pursuing further

[2021-05-25 18:11] abhiz10 commented on #34517
@micajuine-ho Thank you so much. I have updated the config locally, can please check once it will be a great help.
amp-geo: [For testing I have added "in" in "usca" group]
 {
  "ISOCountryGroups": {
  "eea": ["preset-eea"],
  "usca":["preset-us-ca","in"]
  }
  }

amp-consent:
{
   "consentInstanceId":"world-wide-consent",
   "consentRequired":false,
   "purposeConsentRequired":[
      "purpose-ana

[2021-05-25 18:15] micajuine-ho commented on #34517
You can further simplify:
[code]

Additionaly if both geo overrides are just changing `consentRequired` to `true`, maybe you want to squash them in your `ISOCountryGroups`

[2021-05-25 18:24] abhiz10 commented on #34517
@micajuine-ho Great, Thank you so much.
w.r.t ~ "Additionaly if both geo overrides are just changing consentRequired to true, maybe you want to squash them in your ISOCountryGroups".
Do you like this

"geoOverride": {
    "ISOCountryGroups": {
      "consentRequired": true
    }

[2021-05-25 19:53] inidaname commented on #34513
Hello @mszylkowski I will like to take this up

[2021-05-25 20:01] rileyajones commented on #13791
I did some exploration into using TypeScript to type check the `src` directory to get a picture of the scope of the undertaking using this `tsconfig.json`
![image](https://user-images.githubusercontent.com/78179109/119560538-e9aaf900-bd58-11eb-8973-e84ce6f634d4.png)

The compiler options are identical to those used in `build-system` and could probably be tuned to reduce the number of errors output

[2021-05-25 20:14] mszylkowski commented on #34513
Hi @inidaname! I have been digging a bit more on this issue and there's some context on the validator and lazy-loading of scripts that may be needed to solve this, so marking it as not a GFI anymore. Feel free to take it if you want, just wanted to notify of this change.

[2021-05-25 20:23] Enriqe commented on #24195
More flaky tests are blocking main from being green:

https://app.circleci.com/pipelines/github/ampproject/amphtml/9854/workflows/e0bd0a95-2391-49cf-b7ce-2ad4e236b4af/jobs/152844

[2021-05-25 20:38] westonruter commented on #22543
PR opened to update PHP Optimizer: https://github.com/ampproject/amp-toolbox-php/pull/211.

[2021-05-25 20:47] #34437 closed

[2021-05-25 21:17] micajuine-ho commented on #34517
i.e.

[code]

[2021-05-25 21:23] danielrozenberg opened #34542 "`amp release` with no flags fails to build"
### Description

Running `amp release` with no flags fails to build. Running it with `amp release --flavor base` works. I haven't tested specific experiments yet.

### Reproduction Steps

On a clean repository, run `amp release`

### Relevant Logs

[code]

### Browser(s) Affected

Chrome, Firefox, Safari, Edge, UC Browser

### OS(s) Affected

n/a

### Device(s) Affected

n/a

### AMP Version Affec

[2021-05-25 21:32] krdwan opened #34543 "🚄 Release tracking issue for release 2105210438000"
# Release tracking issue

This issue tracks release [2105210438000](https://github.com/ampproject/amphtml/releases/tag/2105210438000). See [new commits](https://github.com/ampproject/amphtml/compare/2105150310000...2105210438000) since the previous Stable channel release.

- [x] Release 2105210438000 promoted to Experimental and Beta (opt-in) channels (May 25, 2021, 4:59:55 PM GMT-4)
- [x] Release

[2021-05-25 21:35] abhiz10 commented on #34517
@micajuine-ho  Ok great, I got it now, Thank you so much.

[2021-05-25 21:45] mszylkowski opened #34545 "[Amp optimizer] Import `amp-animation-0.1.js` when story contains `animate-in` attribute"
### Description

Stories run `animate-in` elements using [`amp-animation`](https://amp.dev/documentation/components/amp-animation/) but the component is lazy loaded if not imported in the document head. We want the amp-optimizer to add the script tag importing it.

[code]

### Alternatives Considered

Lazy loading `amp-animation` is what currently happens, but on throttled connections and slow dev

[2021-05-25 21:46] caroqliu commented on #24195
Skipped in #34541. When I went to block, I wasn't able to reproduce the failures locally (running `amp e2e --files=`). We will have to be able to get them to fail on test runs to investigate, fix, and unskip these tests without re-blocking master on accident. @rileyajones is it possible to run tests on Circle CI for investigation purposes? I suppose we could do it via pushing commits to a PR, but

[2021-05-25 23:37] dmanek commented on #34526
Based on offline conversation with @caroqliu this is an unsupported use case that we haven't needed so far. Closing.

[2021-05-25 23:37] #34526 closed

[2021-05-26 00:07] github-actions[bot] opened #34552 "Design Review 2021-06-16 15:30 UTC (Africa/Europe/western Asia)"
Time: [15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=06&day=16&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210616T1530Z/20210616T1630Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly engine

[2021-05-26 02:26] alanorozco commented on #29489
I think this is the logic for `getNaturalDimensions`, for which `amp-audio` is allowlisted:

https://github.com/ampproject/amphtml/blob/b1538b3c929edb6ae702543640d3445dc6f2b956/src/layout.js#L81-L87

In combination with validator rule `defines_default_height`:

https://github.com/ampproject/amphtml/blob/b1538b3c929edb6ae702543640d3445dc6f2b956/extensions/amp-audio/validator-amp-audio.protoascii#L7

[2021-05-26 02:27] jridgewell commented on #29489
Sounds good to me.

[2021-05-26 02:49] alanorozco commented on #34217
I'd like to present some possible changes related to `<amp-audio>`'s layout treatment: #29489

[2021-05-26 02:50] alanorozco commented on #29489
## Action items

- [ ] Allow `<amp-audio layout="container"><audio controls></amp-audio>`
- [ ] SSR `<amp-audio>` into the former.
- [ ] Remove layout logic specific to `<amp-audio>`, independently of the items above.

[2021-05-26 03:00] rcebulko commented on #13791
@rileyajones See #34096 and #32693
Have you found any benefits to TS over Closure typechecking?

[2021-05-26 05:59] abhiz10 commented on #34517
@micajuine-ho Can I implement granular consent in amp-story format ???

[2021-05-26 09:17] inidaname commented on #34513
Thank you, but I will not be working on it,

[2021-05-26 10:54] SimonHogstromRonbol opened #34556 "Amp-lightbox-gallery - Thumbnails showing the wrong image when clicked."
### Description

I've come across a bug when making an amp-image-gallery with thumbnails, connected to the action on the thumbnail itself. The 2rd time the gallery is opened, the image that shows up in the lightbox, is the one prior to the image the thumbnail depicts.

Note: this issue only comes up when using thumbnails, and everything works fine if you just use full-size images with the lightbox

[2021-05-26 11:18] ciprianrusen commented on #24621
AMP support for GA4 is really important. I own two sites, full AMP for all traffic, and I can't use GA4 and other services that depend on it. Any timeline please?

[2021-05-26 12:09] kristoferbaxter commented on #24621
Hello all,

Support for GA4 is under active development and we'll give an updated timeline for support soon.

[2021-05-26 13:09] kristoferbaxter commented on #29489
Sounds good to me as well.

[2021-05-26 13:27] Francisco-AM commented on #29489
We can customize it in two ways, one by giving amp-audio support so that it supports css.
The second way is to create the events to be able to create a player.

![image](https://user-images.githubusercontent.com/69035383/119666856-0832f200-be36-11eb-9529-0ba3ddaf1906.png)

One of the things that I have been thinking about in terms of design is the graphics, currently amp supports 3d images, images

[2021-05-26 13:48] micajuine-ho commented on #34517
Granular consent for stories is not currently supported. What is the use case?

[2021-05-26 14:15] alanorozco commented on #29489
@Francisco-AM This issue doesn't refer to styling custom controls. Please file a separate feature request.

[2021-05-26 15:43] abhiz10 commented on #34517
@micajuine-ho I haven't updated the config in amp-story. I will update it in the upcoming release.
https://travel.visualstories.com/quizzes/is-your-knowledge-of-greenland-evergreen

[2021-05-26 15:48] rcebulko commented on #34529
Notes:
- @alanorozco - Exclude extensions from this; those should be very explicit and rare
- @jridgewell - Another advantage is clear visibility into what is being imported/pulled into the binary; clear what is a sub-module vs external import
- possibility to sort by import path instead of identifier
- definitely want to avoid **Absolute Paths** approach, as conflicts with `node_modules` would be

[2021-05-26 16:14] abhiz10 commented on #34517
I'm attaching a local demo file in which I have only updated the config
[Story_Consent.zip](https://github.com/ampproject/amphtml/files/6548148/Story_Consent.zip)

[2021-05-26 17:43] rgomezp opened #34564 "Push Notifications not working in Firefox due to user gesture requirement"
### Description

Due to Firefox's user-gesture requirement described [here](https://developer.mozilla.org/en-US/docs/Web/API/Push_API/Best_Practices#browser_mitigations), AMP push notifications are currently broken on Firefox sites.

When attempting to subscribe in Firefox, you will see the popup flash. This is due to the window opening and immediately attempting to trigger the native notification

[2021-05-26 17:59] powerivq commented on #31513
The alternative option is to hide (or close) the top sticky ad when scrolled back to the top of the page. It avoids overlapping with the content on top while not causing CLS.

[2021-05-26 18:21] jridgewell commented on #31513
That sounds OK with me.

[2021-05-26 18:40] krdwan opened #34565 "🚄 Tracking issue for release 2105210438000"
### Release Version

2105210438000

### Previous Release Version

2105150310000

### Release Progress

This issue tracks release [2105210438000](https://github.com/ampproject/amphtml/releases/tag/2105210438000). See [new commits](https://github.com/ampproject/amphtml/compare/2105150310000...2105210438000) since the previous Stable channel release.

- [x] Release 2105210438000 promoted to Experimen

[2021-05-26 18:41] #34543 closed

[2021-05-26 18:48] kristoferbaxter commented on #34564
Thanks for the bug report, adding @dmanek to take a look.

[2021-05-26 18:48] rgomezp opened #34566 "Push Notification Prompting on Page Itself"
### Description

The current `<amp-web-push>` [implementation ](https://amp.dev/documentation/examples/components/amp-web-push/) requires two script attributes 1) `helper-iframe-url` and 2) `permission-dialog-url` that I believe could be streamlined into either a single script or none at all. It all boils down to the following:

**Proposal:** the ability to subscribe to push notifications directly

[2021-05-26 18:50] rgomezp commented on #34564
Thanks @kristoferbaxter ,
I propose that we detect the browser and instead of prompting programmatically in Firefox, provide a link or button to trigger the native prompt instead.

[2021-05-26 20:23] rsimha commented on #28387
With #34544, we have started type-checking `build-system/` during CI. Nice work @rileyajones!

[2021-05-27 00:22] rsimha commented on #34529
I'm curious about which mode works best with VSCode under three common uses cases:
1. Cmd (or Ctrl) + hover on an import to view intellisense
2. Cmd (or Ctrl) + click on an import to open the file it points to
3. Start typing an import statement and let the subdirectories auto-complete

Here's how the modes compared when I tried them locally:

**Absolute:** 1, 2, and 3 worked okay

<img width="974

[2021-05-27 00:53] jridgewell commented on #34529
@rsimha Did you configure VSCode's `jsconfig.json`? See https://code.visualstudio.com/docs/languages/jsconfig#_using-webpack-aliases

[2021-05-27 02:19] rsimha commented on #34529
I did configure it, but might've forgotten to restart VSCode that one time. Edited my comment above. 👍

[2021-05-27 06:26] anbarasiu opened #34577 "[AMP Validator] `params` missing in the output"
### Description

After the upgrade to the latest version (1.0.35) of `amphtml-validator` node package, the validator's error output is missing the `params` array and is `undefined`.

Below's a sample output we were getting in the previous version(1.0.34). We're reliant on the `params` for some pre-processing to the final template, wherein we add the missing extensions.
[code]

### Reproduction Ste

[2021-05-27 12:42] honeybeecnc commented on #28638
I used the wordpress AMP plug-in and tested AMP, but it feels slow. I don’t know what the problem is? I’m currently switching back to using the theme for mobile adaptive.Here is an example:https://www.honeybeecutting.com/

[2021-05-27 14:37] gmajoulet opened #34580 "CircleCI failed unit test reports a noisy test name"
### Description

The failed test name looks off, like it's nested in some `describe` blocks it should not be into:

![image](https://user-images.githubusercontent.com/1492044/119845435-3fa5ab00-bed7-11eb-9712-ccc014ee1154.png)

cc @ampproject/wg-infra

### Reproduction Steps

https://app.circleci.com/pipelines/github/ampproject/amphtml/10027/workflows/ce0ac44b-2c61-40d9-b114-5250fa1286ce/jobs/1559

[2021-05-27 14:51] gmajoulet opened #34581 "Some stories don't get marked as loaded even when they are"
### Description

These Stories don't get marked as loaded even when they are, until it timeouts after a few seconds. This leads to extremely slow loads on Players relying on Story load events before displaying the content.

cc @ampproject/wg-stories

### Reproduction Steps

Examples:

- https://www.google.com/amp/story/s/www.topspeed.com/stories/cars/hennessey/2021-ford-mustang-shelby-gt500-by-hen

[2021-05-27 15:03] rsimha commented on #34580
This could be due to how `testing/describes.js` keeps track of suite / test names as it wraps and sandboxes inner `describe` blocks. Assigning to @rileyajones to see if this theory makes sense. (Happy to provide more context offline.)

[2021-05-27 15:03] rcebulko commented on #34529
@rsimha the # is the "standard" in that it's what's natively supported by node package.json subpath imports. Buuuut we can't actually use any of the native bits due to our compilation toolchain, so it's a bit moot.

We could support any prefix; I'm happy to bikeshed that bit if you have suggestions. I've seen ~ used elsewhere

[2021-05-27 15:18] rsimha commented on #34529
Since the purpose of this I2I is to see if the idea is worth pursuing, I'll provide a thumbs up and let others comment :)

[2021-05-27 15:23] #17538 closed

[2021-05-27 15:27] rsimha commented on #17538
For posterity, the [documentation](https://github.com/ampproject/amphtml/blob/main/docs/getting-started-e2e.md#building-amp-and-starting-a-local-server) has been updated as follows:

![image](https://user-images.githubusercontent.com/26553114/119853709-6f0be600-bede-11eb-84e7-dd33e1547b5a.png)

[2021-05-27 15:29] #34581 closed

[2021-05-27 15:35] westonruter commented on #22543
Reopening per https://github.com/ampproject/amphtml/pull/34531#issuecomment-849733408:

[2021-05-27 16:06] honeybadgerdontcare commented on #22543
The issue here is the transformed AMP document does not have the updated amp-onerror that handles both v0.js and v0.mjs. It's also not adding module/nomodule support. I'll take a look later today to support the old amp-onerror for transformed AMP. The work around is for the publisher to use the new amp-onerror script content.

[2021-05-27 16:31] westonruter commented on #22543
The story page is transformed AMP, but it doesn't include the ESM scripts (context: https://github.com/google/web-stories-wp/issues/7649). The Optimizers allow individual transformers to be disabled, and we've seen cases where site owners need to turn off ESM due to incompatibilities with caching layers that aren't yet aware of `type="module"` on `script` tags. So really the new `script[amp-onerro

[2021-05-27 16:44] #34542 closed

[2021-05-27 17:05] westonruter commented on #22543
But both should be valid at least for now since we haven't pushed out the Optimizer updates to add the new version yet.

[2021-05-27 18:24] abhiz10 commented on #34517
@micajuine-ho As you asked for the "What is the use case?"
I have only changed the config locally ~  https://vs-subdomain-appsites.azurewebsites.net/travel.visualstories.com/quizzes/is-your-knowledge-of-greenland-evergreen

Is the config correctly implemented?

[2021-05-27 18:26] MrCsabaToth commented on #28638
There can be many reasons for a site to feel slow. If you want to be seriously fast then you either want to get closer to the bare metal (a.k.a. use a framework on your own instead of WordPress), or seriously restrict and cherry pick WordPress plugins to cut your footprint, optimize images, etc.
Looks like there's much more than just AMP: https://www.webpagetest.org/result/210527_BiDc1H_9d74899605

[2021-05-27 19:59] calebcordry opened #34595 "AMPHTML ads using gwd-animation are broken"
### Description

Regression introduced with the launch of no-signing rendering path. `amp-gwd-animation` was not added to the allowlist.

### Reproduction Steps

Example page that will render as a blank ad: https://output.jsbin.com/jabosaxusa

### Relevant Logs

_No response_

### Browser(s) Affected

Chrome, Firefox, Safari, Edge, UC Browser

### OS(s) Affected

All

### Device(s) Affected

All

[2021-05-27 20:09] calebcordry opened #34596 "🌸 Cherry-pick request for #34595 into #34565 (Complete)"
### Issue (P0 Bug)

#34595

### Pull Request(s)

#34593

### Release Tracker(s)

#34565

### Channels

Beta / Experimental

### Justification

Ads created with google web designer using animation will not animate, leading to broken appearance.

### Verification Steps

https://output.jsbin.com/jabosaxusa should render ad like this
![image](https://user-images.githubusercontent.com/16087874/11989020

[2021-05-27 20:20] gmajoulet opened #34597 "Time based auto advancement broken on beta."
### Description

Time based auto advancement broken on beta.

Bug introduced by https://github.com/ampproject/amphtml/pull/34354

### Reproduction Steps

- opt-in into beta from https://cdn.ampproject.org/experiments.html
- https://www.gstatic.com/amphtml/stamp/qa/navigation.html#page=page7 will not auto advance

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) A

[2021-05-27 20:21] gmajoulet commented on #34597
cc @ampproject/wg-stories

[2021-05-27 20:24] gmajoulet opened #34599 "🌸 Cherry-pick request for #34597 into #34565 (Complete)"
### Issue (P0 Bug)

#34597

### Pull Request(s)

#34598

### Release Tracker(s)

#34565

### Channels

Beta / Experimental

### Justification

Time based auto advancement is broken on all Stories.

Repro steps:
- opt-in into beta from https://cdn.ampproject.org/experiments.html
- https://www.gstatic.com/amphtml/stamp/qa/navigation.html#page=page7 will not auto advance

### Verification Steps

http

[2021-05-27 20:43] antiphoton commented on #34577
Fixed by internal change (cl/376179721).

[2021-05-27 20:43] #34577 closed

[2021-05-27 20:46] honeybadgerdontcare commented on #34577
@anbarasiu thank you for filing this issue! It should be fixed now, but please reopen if you're still having problems.

[2021-05-27 20:47] #34597 closed

[2021-05-27 21:11] westonruter opened #34600 "`amp-date-display` v1.0 (Bento) is shown as default version on amp.dev, but `latestVersion` in `bundles.config.extensions.json` is still 0.1"
### Description

On the docs page for `amp-date-display` at  https://amp.dev/documentation/components/amp-date-display/ the Bento version is shown as the default (stable) version:

![image](https://user-images.githubusercontent.com/134745/119897044-ba30f380-bef4-11eb-9f5c-d5d7542f5d51.png)

Nevertheless, the `latestVersion` is still `0.1`:

https://github.com/ampproject/amphtml/blob/5f85683a58fbad

[2021-05-27 23:11] rgomezp opened #34604 "`amp-web-push` support on Safari"
### Description

It would be great to support `amp-web-push` on Safari.

### Reproduction Steps

1. Open the [AMP demo site](https://amp.dev/documentation/examples/components/amp-web-push/preview/?format=websites) on Safari
2. See that it doesn't work

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Affected

_No response_

### Device(s) Affected

_No response_

[2021-05-27 23:54] kristoferbaxter commented on #34604
Are you referring to desktop Push notifications for Safari?

[2021-05-28 01:03] kristoferbaxter commented on #34529
As discussed during design review, this seems mostly agreed on as good for the AMP developers and of no impact to output or users.

So, let's move forward.

[2021-05-28 07:16] gps08 opened #34607 "Allow multiple link-rewriter configs"
### Description

Allow for the amp-link-rewriter to be configured for multiple input/output objects. This would allow for more customization for sites with multiple vendors.

Currently the amp-link-rewriter is expecting a singular config and throws error if missing output. If the rewriter is updated to take an array of configs, then the user would be able to add additional customization.

For exam

[2021-05-28 07:48] #25738 closed

[2021-05-28 07:48] #23617 closed

[2021-05-28 07:48] #25563 closed

[2021-05-28 07:48] #15658 closed

[2021-05-28 07:48] #18705 closed

[2021-05-28 07:48] #25684 closed

[2021-05-28 07:48] #24696 closed

[2021-05-28 07:48] #25726 closed

[2021-05-28 07:53] #25834 closed

[2021-05-28 09:25] Francisco-AM opened #34608 "amp-graphics something desirable"
### Description

https://developers.google.com/chart/interactive/docs/quick_start?hl=es

amp-graphics

What I need?
1 - Provide graphics using html5 code and attributes.

2 - Purpose of achieving this functionality

If this graphics api could be implemented in amp, the admin amp part could grow a lot since it would make things much easier in the administration part.
You have already achieved 80% w

[2021-05-28 12:34] joblog commented on #34411
This seems to have resolved itself now.

[2021-05-28 15:45] micajuine-ho commented on #34517
It looks to be right. Have you tested it on your own?

[2021-05-28 15:54] abhiz10 commented on #34517
@micajuine-ho Thank you so much for your help.
The latest config currently working at my end.
I will update the code once Granular consent will be supported for stories.

[2021-05-28 16:33] kristoferbaxter commented on #34599
Approved. Thanks for adding in testing.

[2021-05-28 16:35] kristoferbaxter commented on #34596
Approved.

[2021-05-28 17:47] rgomezp commented on #34604
I'm referring to Web Push notifications

[2021-05-28 19:11] micajuine-ho commented on #34517
Could you explain why you need granular consent for stories? Would an example be letting a user block certain amp-analytics vendors?

[2021-05-28 20:04] ampprojectbot opened #34612 "🚨 Error: Cannot read property 'requestMeasure' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CMTsqYX1hLS_9QE)
**First seen:** Mar 20, 2021
**Frequency:** ~ 9,034/day

Stacktrace
---
<pre><code>Error: Cannot read property 'requestMeasure' of undefined
    at requestMeasure (<a href="https://github.com/ampproject/amphtml/blob/2105150310000/src/service/mutator-impl.js#L232">src/service/mutator-impl.js:232</a>:12)
    at ret (<a href="https:

[2021-05-28 20:49] ampprojectbot opened #34614 "🚨 Error: Cannot read property 'requestMeasure' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CMTsqYX1hLS_9QE)
**First seen:** Mar 20, 2021
**Frequency:** ~ 9,034/day

Stacktrace
---
<pre><code>Error: Cannot read property 'requestMeasure' of undefined
    at requestMeasure (<a href="https://github.com/ampproject/amphtml/blob/2105150310000/src/service/mutator-impl.js#L232">src/service/mutator-impl.js:232</a>:12)
    at ret (<a href="https:

[2021-05-29 06:45] pandeytom opened #34615 "Unsecured code found in plugin"
### Description

When I login to my wordpress site on mobile is shown an error, where as when I open it on desktop or laptop its working fine.
error shown on mobile is "Your submission failed. The server responded with (code ). Please contact the developer of this form processor to improve this message. Learn More"

### Reproduction Steps

1. open on mobile https://citysuperfast.com
2. click on me

[2021-05-29 11:04] bnainar commented on #34445
Are you planning to implement this?

[2021-05-29 14:43] kristoferbaxter commented on #34604
Since push notifications are not enabled in iOS Safari, is there an experience you're looking for?

Websites and frameworks can't add this functionality, it would need to be supported by Safari on iOS first.

[2021-05-29 15:05] #34596 closed

[2021-05-29 15:05] #34599 closed

[2021-05-29 17:29] westonruter commented on #34491
Another apparent instance of this issue: https://wordpress.org/support/topic/my-amp-urls-return-a-blank-screen-when-i-click-on-google-serps-mobile/

[2021-05-29 23:55] kristoferbaxter commented on #34491
Adding Erwin and Greg, as this appears to be more than a singular document.

[2021-05-29 23:57] kristoferbaxter commented on #34615
@westonruter should we auto transfer issues like this to the AMP Wordpress Plugin?

[2021-05-30 01:03] westonruter commented on #34615
Yes, although this will be resolved by https://github.com/ampproject/amp-wp/issues/4191.

[2021-05-30 05:52] westonruter commented on #34615
It's not an issue with unsecured code. The issue is the endpoint is not sending back JSON nor an an `AMP-Redirect-To` response header. The form submission proxy in the plugin will make sure one or the other is sent back.

[2021-05-30 05:58] westonruter opened #34616 "Bento: components fail to hide `placeholder` content once loaded"
### Description

When using `amp-twitter` 1.0 (Bento) with `placeholder` content as follows:

[code]

The placeholder content fails to be hidden when the component initializes, causing overlapping text:

![image](https://user-images.githubusercontent.com/134745/120093755-249e8b00-c0d1-11eb-80ac-d8cb575de85e.png)

See [example on playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+Cjx

[2021-05-30 14:11] #25760 closed

[2021-05-30 14:11] #25302 closed

[2021-05-30 14:11] #25132 closed

[2021-05-31 03:26] LinhMai90 commented on #23277
my site is also experiencing the same amp error, please give me advice other than trimming the content. Please!
[](https://automexico.com/mercedes-benz-clase-c-precio-mexico/amp)
[](https://automexico.com/bmw-series-2-precio-mexico/amp)

[2021-05-31 03:27] LinhMai90 commented on #23277
y site is also experiencing the same amp error, please give me advice other than trimming the content. Please!
[https://automexico.com/mercedes-benz-clase-c-precio-mexico/amp](url)
[https://automexico.com/bmw-series-2-precio-mexico/amp](url)

[2021-05-31 03:31] LinhMai90 commented on #23277
My site is also experiencing the same amp error, please give me advice other than trimming the content. Please!!
[https://automexico.com/mercedes-benz-clase-c-precio-mexico/amp](url)
[https://automexico.com/bmw-series-2-precio-mexico/amp](url)

[2021-05-31 07:14] Tudmotu commented on #27091
Hi @powerivq @honeybadgerdontcare, are there any updates here?
We (Taboola) would love to see this merged, so if there is anything we can do to help push this forward, please let us know! 🙂

[2021-05-31 08:34] abhiz10 commented on #34517
@micajuine-ho Hi... Actually, I was thinking of uniformity of amp-consent throughout my website which includes [AMP Home Page/AMP Articles Page/ AMP-Story].

I have a question regarding ~Would an example be letting a user block certain amp-analytics vendors?

[2021-05-31 10:00] klipstein commented on #30385
@micajuine-ho we successfully tested reading the consent string when amp-video-iframe is used. What are the next steps so that this feature gets released officially (including documentation)?

[2021-05-31 13:11] medozeus opened #34621 "Cannot read property 'replace' of undefined"
### Description

how did I use it

in the head tag

`  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>`

and in the body
[code]

index.js:108 Uncaught (in promise) TypeError: Cannot read property 'replace' of undefined
    at ta (index.js:108)
    at pf (amp-analytics.js:546)
    at lf.push.f.l.ed (amp-analytics.js:291)

### Reproduct

[2021-05-31 13:31] abhiz10 commented on #34621
@medozeus Hi...if you are looking for pageview data, then I have implemented amp-analytics on https://visualstories.com/

<amp-analytics type="googleanalytics" id="analytics1">
            <script type="application/json">
                { "vars":
                { "account": "UA-XXXXXXXXX-1"},
                "triggers":{
                "trackPageview":{
                "on": "visible",

[2021-05-31 13:57] scaledrop opened #34623 "Tracking Core Web Vitals in AMP using Google Analytics doesn't work"
### Description

I added web vitals tracking in code but since then page-views tracking stopped working.
Created a test page, please let me know where the issue is.

https://m.economictimes.com/amp_test.cms **(PV tracking working)**
https://m.economictimes.com/amp_test.cms?web_vital=1 **(PV tracking not working)**

The only difference in the second url is, extraUrlParams has been added to track co

[2021-05-31 14:33] xavierleune commented on #31673
Hi, for the records I don't see any errors related to the consent string storage in the viewer now :) Thanks for your help

[2021-05-31 17:26] abhiz10 commented on #34623
@scaledrop Hi...
When you hit this URL

**Reproduction Steps**
If you go to another tab and then come back to your original tab analytics data is present in Dev Tool> Network
v=1&_v=a1&ds=AMP&aip&_s=1&dt=%7B%7Btitle%7D%7D&sr=320x568&_utmht=1622481493821&cid=amp-QHLBUAD9Q3EAOfz7PnLBYw&tid=&dl=https%3A%2F%2Fm.economictimes.com%2Famp_test.cms%3Fweb_vital%3D1&dr=&sd=24&ul=en-us&de=UTF-8&t=pageview&jid

[2021-05-31 17:36] trby commented on #22543
I'm currently dealing with this error that popped up in my search console 3 days ago: **The mandatory text inside tag ‘script amp-onerror’ is missing or incorrect.** It’s affecting all my amp pages. I'm not sure how to fix this problem. Any help is appreciated.

[2021-05-31 17:57] westonruter commented on #22543
@trby Hi there. I see you opened a support topic for the WordPress AMP plugin as well: https://wordpress.org/support/topic/the-mandatory-text-inside-tag-script-amp-onerror-is-missing-or-incorrect-4/

Other users have also reported this problem:

* https://wordpress.org/support/topic/script-amp-onerror-2/
* https://wordpress.org/support/topic/the-mandatory-text-inside-tag-script-amp-onerror-is-miss

[2021-05-31 18:12] trby commented on #22543
Thanks for your quick reply. I installed the mini plugin but when I try to revalidate an AMP page, the error still persists. I'll wait for the permanent fix. Again thanks for your help.

[2021-06-01 00:20] sarahlovelily opened #34625 "Invalid ARIA role="text" in <amp-timeago/>"
This tag has the Lighthouse Accessibility issue, which will throw [role] values are not valid.

This is a related material https://github.com/dequelabs/axe-core/issues/1597, So "role = text" was adding to the axe-core last year, but is only valid in span and div elements.

[2021-06-01 11:03] goonydev opened #34626 "[amp-story] reset amp-anim/gif when we go back to a page."
### Description

When we have an animated gif in a web story using the amp-anim tag, it would be nice if the gif could reset everytime we go back to the page. The web story waits for us to reach the page to start playing the gif, which is nice, but when we leave the page, and go back to that page, we are:

- stuck with a still image if the gif is meant to play once.
- not seeing the gif anymore, i

[2021-06-01 13:43] micajuine-ho commented on #30385
Experiment is fully launched, need to do documentation and clean up now.  Glad it was successful!

[2021-06-01 14:25] caroqliu commented on #34600
The `latestVersion` for `amp-date-display` **should be 0.1** given that `amp-date-display:1.0` is not yet launched (and still in experimental mode).

Regardless of which version is displayed by default on amp.dev, the `1.0` version of `amp-date-display` should have the experimental label on it. Would that clear things up in the documentation? Or does "default" imply "stable" in all cases?

[2021-06-01 14:30] micajuine-ho commented on #34623
Hi, I would recommend splitting up these CWV tracking into separate requests, i.e. create a new request for each CWV. This is because FID is only tracked once user input has been detected, so it can stall the whole request being sent.

[2021-06-01 14:43] westonruter commented on #34600
I think default implies stable. That's the way it has been historically for other components as I recall. Maybe the Bento version is being shown as the default because it lacks `experimental` being `true` in this file: https://amp.dev/static/bento-components.json

[2021-06-01 14:50] schlessera commented on #22543
I think it might be good to have an attribute on the `<html>` tag set to cheaply detect whether ESM is used or not (without regexing the content or iterating over the nodes).

This should probably be `i-amphtml-module`/`i-amphtml-esm` to denote ESM support, instead of denoting no ESM support, as the modules are only added by the optimizer, and hand-coding AMP (which would have no ESM) should not n

[2021-06-01 14:51] schlessera commented on #22543
Adding the above extra attribute would also mean the validation rules can easily distinguish between ESM/no-ESM, just as they do with transformed/not-transformed right now.

[2021-06-01 16:35] mszylkowski opened #34632 "[Story tooltip] Pointer events don't get triggered if upper grid-layer covers page"
### Description

Introduced in #18945 there is a CSS rule that should allow clicking on a grid-layer that's not first in the stack of layers on a page. However, if the foreground layer has anything (eg: a `div`) covering the whole page, then it will block the clicks, even if that element should not be clickable. The properties have `!important` so they cannot be overriden by publishers.

[code]

[

[2021-06-01 16:45] newmuis commented on #34632
FWIW, it should also be possible to work around this by not wrapping the elements in `div` tags, but rather directly having the `a` tags as children of the `amp-story-grid-layer`.

It would be quite difficult (impossible?) for us to tell what stories will break if we remove the `!important` from `amp-story-grid-layer * { pointer-events: auto !important }`.  I don't think we should need to remove t

[2021-06-01 16:49] newmuis commented on #34626
This will have substantial performance implications.

Could you instead [replace the gif with a video](https://web.dev/replace-gifs-with-videos/)?  They're way better.

[2021-06-01 16:53] processprocess commented on #34626
Just for reference, stories that use `amp-anim` will not pass validation.  `amp-img` can be used for gifs but the limitations are the same.
+1 to @newmuis comment about using video if playback control is desired.

[2021-06-01 16:57] mszylkowski commented on #34632
Given how most of the storymaking tools use a lot of divs to surround the elements (for positioning / creating layouts), I don't think that asking them to remove all the divs is a feasible solution in the short term. Also, the problem is not with the `a` tags themselves but with all the layers that could go on top of them. Removing the divs would mean that it could be impossible to create any layo

[2021-06-01 17:16] goonydev commented on #34626
I use videos as much as possible. Can't have the transparent background on a video though. So I know you are going to tell me I should put my elements together first and make a video out of it. But that's a lot of work. I understand gifs are heavy and lame. I guess I'll just forget about it.

[2021-06-01 17:32] honeybadgerdontcare commented on #22543
There are two components to validation: the JavaScript validator released publicly and internal versions that AMP caches use. The Google AMP Cache has added the validation change for Transformed AMP today and will be in production within the week. The JavaScript validator has added the same change in #34634. The JavaScript validator served on cdn.ampproject.org will be updated today with this chan

[2021-06-01 17:32] #22543 closed

[2021-06-01 18:24] newmuis commented on #34632
Agree it's the most promising solution so far, but I still am not certain this would work without additional considerations.  Assume you added the following to the example you provided in the initial report:

[code]

This anchor will still not be clickable if obscured by the `div` in the foreground layer, as that `div` will _also_ have `pointer-events: auto`, due to this rule:

[code]

[2021-06-01 18:29] mszylkowski commented on #34632
There are 2 problems that we'd need to solve. One of them is that any div/element currently blocks the clicks to elements behind (which is solved by removing the snippet you referenced `amp-story-grid-layer * {pointer-events: auto !important;}`) and the other problem is that we need to set `pointer-events: auto/all` on elements that should be clickable (because removing the rule we're mentioning w

[2021-06-01 18:33] newmuis commented on #34632
+1.

But, I don't think that it's sufficient to remove this block...

[code]

...since the [initial value is `auto`](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events).  So, most cases (including this `div`), will need to be explicitly set not to receive pointer events (e.g. `* { pointer-events: none }`).

[2021-06-01 18:37] mszylkowski commented on #34632
That is set on `amp-story-grid-layer {pointer-events: none !important}`, I can check if that attribute is not propagated

[2021-06-01 18:55] processprocess commented on #34626
Gifs are cool! They're typically heavier than video and do have playback limitations which makes them not ideal sometimes.
Putting all content in a video is bad for SEO. We don't recommend doing that!

We're doing our best to build a format that can be used in lots of different ways and cover as many use-cases as possible while being lean and fast.
We appreciate your suggestions a lot @goonydev!

[2021-06-01 19:49] #34217 closed

[2021-06-01 20:04] micajuine-ho opened #34639 "amp-form validation breaks dynamic email validation"
`amp-form` validation appears to be broken in beta - b/189835363

[2021-06-01 20:12] alanorozco commented on #34529
@rcebulko: Apologies if this has been addressed before, but does [`require.resolve`](https://nodejs.org/api/modules.html#modules_require_resolve_request_options) still work properly with aliased paths?

[2021-06-01 20:15] processprocess commented on #34335
I'd like to present 3 documents:
[Web Stories CTA Updates I2S](https://github.com/ampproject/amphtml/issues/34449)
[amp-story-cta-layer I2D](https://github.com/ampproject/amphtml/issues/34450)
[Amp Story Desktop One Panel I2I](https://github.com/ampproject/amphtml/issues/34479)

[2021-06-01 20:24] rcebulko commented on #34529
I believe it can, but that may be moot. IIUC, AMP code is module `import` which can't be used in conjunction with `require`. So, out-of-the-box, this would work in AMP code but not ex. build-system code. I believe there are ways to configure package.json so it would work for `require`, but it's unclear to me atm if that's necessary/useful

[2021-06-01 20:39] micajuine-ho opened #34641 "🌸 Cherry-pick request for #34639 into #2105210438002"
### Issue (P0 Bug)

#34639

### Pull Request(s)

#34640

### Release Tracker(s)

#34565

### Channels

Beta / Experimental

### Justification

Breaks dynamic email validation

### Verification Steps

Use this snippet:
[code]
in any format
Expected: type in "a" into the first field and red text appears showing invalid input
Broken: type in "a" into the first field and nothing happens - only on blur

[2021-06-01 20:56] rcebulko opened #34642 "`describes.` tests weird namespace error"
![image](https://user-images.githubusercontent.com/6694512/120389125-ffd92c00-c2f9-11eb-9170-0a6ec3193127.png)

`math - LayoutRect` is in `test/core/math/test-layout-rect.js`, but for some reason (locally and in CI) it seems like the test context is still active for other tests that run. I believe I've seen this bug with other tests, but I don't recall which ones. Seems like maybe the `describes`

[2021-06-01 21:06] jpolanco91 commented on #34471
@micajuine-ho So this means that the issue where the cookie banner appears after 2 reloads (even if before the second reload the user expressed its consent/preference) it's more a Safari related issue (new features for enforcing user privacy) ? My other question is, in the case the viewer evicts the stale information (and causes the issue seen on the 2 reloads) is this only supposed to happen when

[2021-06-01 21:06] rsimha commented on #34642
Looks like a dupe of #34580. I think there's merit in the theory about `describes`. Will investigate.

[2021-06-01 21:07] rsimha commented on #34580
Another report of the same issue can be found in #34642.

[2021-06-01 21:27] alanorozco commented on #34529
We don't use `require` in source, that's true. However, we do use `require.resolve` in the build system. It's currently the only way to use `node`'s resolution algorithm to find the path of an imported module, regardless of the source being ESM or not.

One example:
https://github.com/ampproject/amphtml/blob/68cb336718039ba757d7daea549b4eda77616ea7/build-system/babel-plugins/babel-plugin-transform

[2021-06-01 21:37] rcebulko commented on #34529
Each Babel config gets a new import resolver plugin early-on in the compilation pipeline, so any other babel plugins should see "normal" import paths by the time this transform is being run

[2021-06-01 21:40] caroqliu commented on #34600
cc/ @sebastianbenz @CrystalOnScript

[2021-06-01 21:53] calebcordry commented on #34115
Adding some more context here, there are two different cases surfacing the same error.

1. Adwords ads choosing not to serve ads to desktop. This is working as intended for now, as this team has chosen not to serve these ads to desktop until they can do some more work on making them render correctly at these sizes. If these are the only ads serving to your site on mobile everything is likely worki

[2021-06-01 22:35] ampprojectbot opened #34646 "🚨 Error: history trace for replace: SecurityError: Attempt to use history.replaceState() more than 100 times per 30 seconds"
Details
---
**Error report:** [link](http://go/ampe/CM778um18Yj4zQE)
**First seen:** May 24, 2021
**Frequency:** ~ 6,371/day

Stacktrace
---
<pre><code>Error: history trace for replace: SecurityError: Attempt to use history.replaceState() more than 100 times per 30 seconds
    at Xh (https://cdn.ampproject.org/rtv/012105150310000/v0.js:196:110)
    at https://cdn.ampproject.org/rtv/012105150310000

[2021-06-02 00:19] github-actions[bot] opened #34649 "Design Review 2021-06-23 20:00 UTC (Americas)"
Time: [20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=06&day=23&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210623T200000Z/20210623T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-06-02 00:29] #34595 closed

[2021-06-02 01:45] rlsmileg commented on #32030
This is still an issue almost three months later. Is there a work around?

[2021-06-02 06:23] westonruter commented on #34615
@pandeytom actually, the error message which appears when the form is submitted has a Learn More link:

![image](https://user-images.githubusercontent.com/134745/120433172-c3c0be00-c32f-11eb-96e4-b79bfa7e62d3.png)

This is pointing to https://amp-wp.org/documentation/playbooks/handling-form-submissions/

When looking at the network log, I can see the server is responding with a 406 status code. Th

[2021-06-02 06:23] #34615 closed

[2021-06-02 11:01] goonydev commented on #34626
Let me give you an example of what I was trying to do:

The page of the story was referring to a confusing situation. So, I have my background picture as well as my text illustrating this. But as a little extra I wanted to try having John Travolta walking in the frame, looking around, like in Pulp Fiction (you know, that famous meme).

I still don't know Google's position on popular memes usage, b

[2021-06-02 15:00] caroqliu commented on #34449
For `amp-story-page-attachment` use with `cta-image`,  I see from the demo that it's provided via `background-image` property on a generated `<div>` element. Can you provide more context as to why this approach might be preferred to creating an `<img>` element? Do you anticipate users wanting to style/transform or label the underlying image?

One accessibility recommendation would also be to add a

[2021-06-02 15:28] #34580 closed

[2021-06-02 15:28] #34642 closed

[2021-06-02 15:45] micajuine-ho commented on #34471
`expireCache` is a built in mechanism to `amp-consent` for developers who don't want to cache any of the consent information. If `false` then it won't be expired by amp-consent.

The viewer's expiration policy is separate from `amp`, and also take precedence.

[code]
Looking into it some more, I think the problem here is that you are always returning `unknown` in your response from your `checkCons

[2021-06-02 16:03] processprocess opened #34651 "[Amp story] [Page attachments] Focused state"
### Description

Currently the focused state's outline isn't clear since it's full bleed on all edges except the top.
<img width="475" alt="Screen Shot 2021-06-02 at 11 55 58 AM" src="https://user-images.githubusercontent.com/3860311/120513418-454d3600-c39a-11eb-8a59-2edd2a298bba.png">

Having a visible outline around all edges will help accessibility.

### Alternatives Considered

N/A

### Additi

[2021-06-02 16:04] caroqliu commented on #34625
For reference, `role=text` was introduced due to #32398. FYI @TomerAberbach

[2021-06-02 16:05] processprocess commented on #34449
The images are children within an `a` element and we're thinking the screen reader experience is smoother if it doesn't iterate over content in the button. From this perspective the images are decorative and would not require labels.

Thank you for pointing this out and providing the reference.
Currently the focused state's outline isn't clear since it's full bleed on all edges except the top. I f

[2021-06-02 16:21] TomerAberbach commented on #34625
Thanks for the FYI. Where did you find that it's only valid for `span` and `div` elements? I didn't get that impression from https://github.com/dequelabs/axe-core/pull/2702.

[2021-06-02 16:34] #34507 closed

[2021-06-02 17:25] newmuis commented on #34641
Approved

[2021-06-02 18:13] pandeytom commented on #34615
How to solve it... And if possible please send update...

[2021-06-02 18:14] pandeytom commented on #34615
How to solve it... And if possible please send update...

[2021-06-02 18:14] westonruter commented on #34615
As I said above, please see https://amp-wp.org/documentation/playbooks/handling-form-submissions/#dealing-with-modsecurity-failures

You have to contact your host.

[2021-06-02 18:21] pandeytom commented on #34615
I am not developer, it will be more helpful for me to give update, after
running update on site problem solve .

On Wed, 2 Jun 2021, 11:45 pm Weston Ruter, ***@***.***> wrote:

[2021-06-02 18:25] westonruter commented on #34615
Sorry, we cannot help you further. Your host host to make the required change to not block requests with the `__amp_source_origin` query parameter. Please reach out to your website hosting company's support.

[2021-06-02 20:52] newmuis commented on #34641
This was cherrypicked and released as part of [2105210438003](https://github.com/ampproject/amphtml/releases/2105210438003).

[2021-06-02 20:52] #34641 closed

[2021-06-02 21:03] micajuine-ho commented on #34639
CP was added into 2105210438003 before promotion to stable.

[2021-06-02 21:03] #34639 closed

[2021-06-02 21:16] kristoferbaxter commented on #34449
As discussed during design review, this looks great. Thanks for presenting such a clear plan.

[2021-06-02 21:17] kristoferbaxter commented on #34479
Discussed during design review today and there was agreement for going down this path. Thank you for presenting!

[2021-06-02 21:52] westonruter commented on #27638
Yes, we need this very much.

At present, it is almost impossible to use existing POST forms on AMP pages. For example, if you have a newsletter form for something like Mailchimp which:

1. Does not send CORS headers.
2. Does not do any redirect, let alone send `AMP-Redirect-To`.
3. Responds with an HTML page and not JSON.

These make such existing form submission endpoints completely incompatible

[2021-06-03 01:28] #34335 closed

[2021-06-03 04:37] dmanek opened #34664 "[amp-iframe] iframe height is being miscalculated"
### Description

On https://www.google.com/amp/s/www.nytimes.com/2021/04/20/us/black-history-continued-events.amp.html the iframe height is miscalculated, causing content to be chopped off.

Additional context: https://amphtml.slack.com/archives/C9HPA6HGB/p1622575649072900

### Reproduction Steps

1. Go to https://www.google.com/amp/s/www.nytimes.com/2021/04/20/us/black-history-continued-events.am

[2021-06-03 04:52] dmanek commented on #34664
The console error only occurs on the AMP viewer due to the page trying to set `document.domain`, which is only allowed for [same or parent domain](https://developer.mozilla.org/en-US/docs/Web/API/Document/domain#:~:text=It%20can%20only%20be%20set%20to%20the%20same%20or%20a%20parent%20domain.). It does not occur when accessing the page directly.

[2021-06-03 05:32] oannao opened #34665 "Prevent downloading images by right-click"
### Description

To avoid contents abuse, many media services prevent downloading images by right-click on their sites. For non-AMP pages, publishers use background_image CSS property to protect it and prevent right click download. However, for AMP pages, they need to implement the property for each image, and their CSS volume is growing up. Any plans to support the feature in <amp-image>?

### Al

[2021-06-03 07:26] claudiucelfilip opened #34666 "Add option to keep the linker for exact domain matches"
### Description

The [Don't append linker for exact domain match PR](https://github.com/ampproject/amphtml/pull/32100) can affect tracking in situations where more platforms use the same domain. The request is to provide a way to opt-out of this behaviour.

Ex:  In the case of WordPress.com, the linker is used to transition from the AMP Landing Pages to Calypso; which are 2 platforms with the same

[2021-06-03 11:24] Ichigo3d opened #34668 "AMP feature of the STAMP - bookend doesn't work on 2105210438003"
### Description

Bookend should appear after tapping on the last slide, but on 2105210438003 it doesn't appear. Production version 2105150310000 is not affected.

### Reproduction Steps

1) Go to https://www.google.com/search/static/gs/animal/m096mb.html or https://www.gstatic.com/amphtml/stamp/qa/bookend.html
2) go to the last slide
3) tap again

Actual result: After tapping on the last slide, bo

[2021-06-03 11:51] newmuis commented on #34668
This is expected, add the bookend has been [removed](https://github.com/ampproject/amphtml/issues/33218).

[2021-06-03 11:51] #34668 closed

[2021-06-03 12:57] kristoferbaxter commented on #34453
From @jridgewell here are the stats for Google AMP Cache and Origin traffic.

| Day         | Cache? | IE    |
| ----------- | ------ | ----- |
| 5/27/2021   | FALSE  | 0.24% |
|             | TRUE   | 0.03% |
| 5/28/2021   | FALSE  | 0.22% |
|             | TRUE   | 0.04% |
| 5/29/2021   | FALSE  | 0.21% |
|             | TRUE   | 0.02% |
| 5/30/2021   | FALSE  | 0.22% |
|             | TRUE   |

[2021-06-03 13:58] renovate[bot] opened #34671 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] 📦 Update core devDependencies (`karma-firefox-launcher`, `posthtml`)
 - [ ] 📦 Update dependency rollup to v2.50.6
 - [ ] 📦 Update core devDependencies (major) (`@jest/core`, `sinon`)
 - [ ] 📦 Update dependency

[2021-06-03 14:20] micajuine-ho commented on #34666
Hi @claudiucelfilip , thank you for your issue report.

Since we went with #32100 as default behavior, would it be acceptable to have this be an opt-in feature: `allowInternalLinking`?

[2021-06-03 14:27] ekatysheva commented on #34666
Hello @micajuine-ho , we have the same issue on our website, we use next.js and have a lot of AMP pages on the same domain meanwhile using google analytics and amplitude for tracking. Previously we used internal linking to pass params everywhere and keep session unbroken between non-AMP and AMP pages, but currently I cannot find how to do it.
`allowInternalLinking` would help I believe 🙏

[2021-06-03 14:32] claudiucelfilip commented on #34666
Sounds good to me.

[2021-06-03 14:33] micajuine-ho opened #34675 "Enable a quicklink like implementation without a Service Worker"
### Description

Brough up from https://github.com/ampproject/amphtml/pull/32100#issuecomment-783563518

Based on https://github.com/ampproject/amphtml/issues/19905, it seems like a a basic design would be create a new amp component, that uses a `quicklink`-like configuration to enable prefetching of the link.

2 things to note here would be that this feature would not be valid for Cached document

[2021-06-03 14:56] TomerAberbach commented on #33521
Hey! Just wanted to check in on the status of this. Any updates?

[2021-06-03 15:42] micajuine-ho commented on #34666
Hi @claudiucelfilip @ekatysheva, I'd like to understand a little more about what you need the linker for? Are you trying to get the CLIENT_ID when a user navigates from an AMP page to a non-AMP page (on the same domain)?

/cc @kristoferbaxter

[2021-06-03 16:02] dmanek commented on #34664
After debugging the amp-iframe code, the `updateSize_` callback receives `height` argument that is smaller than what is required for the iframe. I believe this is coming from the runtime. Any ideas @jridgewell?

[2021-06-03 16:17] #33409 closed

[2021-06-03 16:17] #33446 closed

[2021-06-03 16:50] ekatysheva commented on #34666
I think so. I don't deeply undestand what is going on when linking is working (though I've tried to read docs many times), but e.g. this portion of configuration
[code]
helped me to link sessions between AMP and non-AMP pages with google analytics. It was done quite some time ago and I found out just today that this behaviour is broken when tried to do so with amplitude.

[2021-06-03 17:07] micajuine-ho commented on #34666
I'm sorry that the change occurred so abruptly (we were not aware of these use cases, additionally, we decided that linkers should only be different domain, since you should have access to both pages and be able to access the information via AMP or non-AMP).

Were there any parts in particular with the documentation that you found confusing? If so we can look to improve it.

My thought here is tha

[2021-06-03 17:35] dvoytenko commented on #34453
The higher percentage on non-cached pages make sense. The numbers are actually better (that is worse for IE) than I expected.

[2021-06-03 19:16] ChrisAntaki opened #34690 "Add @ChrisAntaki to @ampproject/reviewers-amphtml"
I would like to apply as a member of @ampproject/reviewers-amphtml

After working with AMP for two years, I feel pretty confident in my abilities to review my team's AMP PRs, for our `amp-subscriptions` and `amp-subscriptions-google` extensions

Of my AMP PRs, I think these 18 are the best examples:
https://github.com/ampproject/amphtml/pull/32590
https://github.com/ampproject/amphtml/pull/27631
h

[2021-06-03 19:30] jridgewell commented on #34690
Approval

[2021-06-03 19:42] mrjoro commented on #34690
Added!

[2021-06-03 19:42] #34690 closed

[2021-06-03 19:51] ChrisAntaki commented on #34690
Thanks!

[2021-06-03 19:58] jridgewell commented on #34664
The iframe is responsible for requesting a size, and we're just granting it. It's not our responsibility to guess the correct size of the iframe.

[2021-06-03 21:08] rlsmileg opened #34693 "amp-subscription: Entitlement filed for local / No messaging channel errors"
### Description

We are noticing that the Google News App (iOS) does NOT call our auth / pingback service endpoints and existing users have to click the login button on every article to bypass. Have you had or are you having a similar issue with your implementation?
I believe I have tracked down the cause of the issue but do not have a solution. The issue is related to the “#webview=1” parameter t

[2021-06-03 21:18] ChrisAntaki commented on #34693
Hey @rlsmileg, thanks for this detailed report! I reached out to the iOS app team, and we'll keep you posted with updates in this issue

[2021-06-03 21:22] rlsmileg commented on #34693
@ChrisAntaki Thanks. Is this a amphtml bug/issue or an app implementation issue? Since I can replicate the same behavior in Mac OS Chrome as the IOS Google News App I was not sure.

[2021-06-03 21:28] ChrisAntaki commented on #34693
So I think it's an app issue. You'll see the same behavior if you open the link directly in any web browser, since the web browser won't do an AMP viewer handshake

[2021-06-03 21:38] calebcordry commented on #32603
Consolidating some conversations into this issue

[code]

``js
if (document.feautrePolicy && document.featurePolicy.features().includes("attribution-reporting"))
[code]

[2021-06-03 21:55] #30366 closed

[2021-06-03 22:21] powerivq commented on #27091
Hi @Tudmotu

We want to launch this. Unfortunately since this domain is owned by Google, we need to go through some internal process and it is taking way too long. I do not have an exact ETA but we are working on it.

[2021-06-04 01:44] tahanzania opened #34699 "Amp Stories Generated Programmatically"
Hi Amp team, can amp-web stories be generated programmatically using existing content?

[2021-06-04 06:52] claudiucelfilip commented on #34666
That's correct, the problem is that the AMP pages (ie. WordPress) are on one platform and the non-AMP pages (ex. signup) are on another (ie. Calypso).
Both platforms, however, are on the same domain and the CLIENT_ID is processed on the 2nd platform. Therefore, If a user lands on the non-cached version of the AMP Landing Page, and transitions to signup, then there's no CLIENT_ID passed.

[2021-06-04 06:53] naveen-iiit opened #34700 "amp-carousel when we are using this with selector after clicking on next slide the next image was not showing facing issue still"
### Description

The problem occurring in all browsers we have specifically checked for chrome.

we are using amp-carousel along with amp-selector for showing an indicator below the slider but unfortunately we are not able to go to next slider after 2.
Carousel:
<amp-carousel id="carouselWithPreview" type="slides" layout="responsive" width="350" height="197" autoplay on="slideChange:

[2021-06-04 07:58] #25791 closed

[2021-06-04 07:58] #25606 closed

[2021-06-04 07:58] #25815 closed

[2021-06-04 07:58] #23198 closed

[2021-06-04 07:58] #25717 closed

[2021-06-04 07:58] #25199 closed

[2021-06-04 07:59] #25019 closed

[2021-06-04 07:59] #25035 closed

[2021-06-04 07:59] #25312 closed

[2021-06-04 07:59] #25881 closed

[2021-06-04 09:09] claesbengtsson opened #34701 "Scroll freeze/lag gmail app (AMP-email)"
### Description

Hi, this is my first Bug report so bear with me. We currently have an issue when sending an email to the Gmail APP for iOS. We have created an AMP mail with an interactive menu, where content gets showed depending on what menu-item you click. Unfortunately when interacting with one of the menu-items the email scroll tends to get stuck. The weirdest part about this issue is that it

[2021-06-04 09:32] scaledrop commented on #34623
@micajuine-ho Tried to do that, still getting fired after user switches tab. Let me know the issue in the following snippet.
[code]

[2021-06-04 09:39] Francisco-AM opened #34702 "amp form changes link href _blank to href _top"
### Description

Backend url endpoint
![image](https://user-images.githubusercontent.com/69035383/120781190-1c0ee000-c529-11eb-8f9e-9408dbed8122.png)

Response json
{"section":[{"message":"Ir al borrador <a class=\"link\" target=\"_blank\" href=\"https:\/\/aliceblue.developer\/admin\/editor\/eraserpost\/htmlnosubcategoryseccionhtml.html\" >Borrador<\/a>"}]}

And form response
![image](https://user

[2021-06-04 14:08] micajuine-ho commented on #34666
So landing page is AMP and then signup page is Calypso?

CLIENT_ID can still be generated on the non-cached AMP page, and stored in cookies, which should be accessible on your Calypso signup page. Is that not the case?

[2021-06-04 14:16] micajuine-ho commented on #34623
in this example, you've only moved out LCP to a different trigger. Since `${firstInputDelay}` is still in the `extraUrlParams` for the second trigger, the request will wait to be sent until the FID score is calculated.

From https://web.dev/fid/:
[code]

therefore there has to be user interaction for a FID score to be calculated (and thus the request to be sent).

[2021-06-04 14:16] micajuine-ho commented on #34623
/cc @patrickkettner

[2021-06-04 14:49] newmuis opened #34705 "🚄 Tracking issue for release 2106030132000"
### Release Version

2106030132000

### Previous Release Version

2105210438003

### Release Progress

This issue tracks release [2106030132000](https://github.com/ampproject/amphtml/releases/tag/2106030132000). See [new commits](https://github.com/ampproject/amphtml/compare/2105210438003...2106030132000) since the previous Stable channel release.

- [x] Release 2106030132000 promoted to Experimen

[2021-06-04 14:52] raxsha commented on #33826
Just as an FYI, this is also blocking a fix for #34464

[2021-06-04 14:56] kristoferbaxter commented on #33826
@raxsha how is this blocking a fix? A restart of the CLI should allow everything to work as expected. (And even with a restart this is faster than the before state.)

[2021-06-04 15:13] scaledrop commented on #34623
@micajuine-ho I added another use case where we are sending the ga event on user action "Click" still there is no event getting triggered on click, but when we switch back to tab there are as many many events getting triggered as number of clicks on button "My Element 2"
Please check the [updated url](https://m.economictimes.com/amp_test.cms?web_vital=2).
Can you please share a change in snippet w

[2021-06-04 15:17] newmuis commented on #34699
Hi @tahanzania!  Yes, web stories can definitely be generated programmatically, and I've seen multiple examples of folks over the years who have done so.  Ultimately, the story is "just" an HTML document, so you're free to use whatever data you like for the content.

Hope this helps!  Please feel free to reopen this issue with any further questions you may have.

[2021-06-04 15:17] #34699 closed

[2021-06-04 15:21] micajuine-ho commented on #34623
[code]

[2021-06-04 15:38] Brandons42 opened #34706 "Broken Link in README.md"
### Description

On the main README for the repository, the link to AMP's governance under "Other useful information" leads to https://github.com/ampproject/meta/blob/main/docs/governance.md, which gives a 404 error. I believe it should be changed to  https://github.com/ampproject/meta/blob/main/GOVERNANCE.md. I'll be fixing this issue.

### Reproduction Steps

Navigate to the repository's main RE

[2021-06-04 15:57] erwinmombay commented on #34491
Looking into this

[2021-06-04 15:59] erwinmombay commented on #34383
Update on this, I'm going to add the `Timing-Allow-Origin` on image subresources. This should give us the opportunity to switch over to render time while we are on the Google AMP cache

[2021-06-04 16:31] dmanek commented on #34706
Thanks in advance for fixing this issue.

[2021-06-04 16:33] dmanek commented on #34702
Hey @micajuine-ho can u look into this issue?

[2021-06-04 16:35] dmanek commented on #34665
Thanks for filing this FR.

@kristoferbaxter Would like to hear your thoughts?

[2021-06-04 16:48] Francisco-AM commented on #34702
I can provide more data, but javascript is not my strong suit

![image](https://user-images.githubusercontent.com/69035383/120835669-e8ea4200-c564-11eb-828b-4260c73fc1e1.png)
console errors
![image](https://user-images.githubusercontent.com/69035383/120835889-38c90900-c565-11eb-90b4-17e51aa4e110.png)

This is the form, remove the sanitation if it worked like that but also clean on = "" attribute

[2021-06-04 18:00] caroqliu commented on #34700
Thanks for filing @naveen-iiit! Do you have sample markup I can look at to reproduce/investigate?

[2021-06-04 21:01] calebcordry opened #34719 "✨[amp-a4a] Enable `attribution-reporting` for 3p fallback"
### Description

While working on #32603 it was determined that we should probably also allow attribution reporting for 3p ad frames as the feature roles out.

This involves adding `attribution-reporting 'src'` to any nameframe or safeframe created by A4A

@ampproject/wg-monetization we may eventually need to consider how to add this attribute to ad networks not using fast-fetch, but for now only

[2021-06-04 21:03] calebcordry commented on #34719
cc/ @jshamble

[2021-06-04 21:21] calebcordry commented on #29604
Closed by #33190

[2021-06-04 21:33] twifkak commented on #34649
I would like to discuss a recommendation to [put AMP caches on the public suffix list](https://docs.google.com/document/d/1nrUsknpBIipcke9FjjGj6im31kzSJE5ilCTbVPTzwoc/edit) along with the experimental mechanics for this on the Google AMP Cache. Summary from the doc:

Getting an AMP cache on the PSL leads to a _TON_ of changes in how browsers and other web clients interpret them. It mostly falls in

[2021-06-05 03:31] tahanzania commented on #34699
Thanks @newmuis

[2021-06-05 05:04] naveen-iiit commented on #34700
Yes caroqliu

You can check the same at  [](https://amp.indiaherald.com/)

with mobile view

[2021-06-05 05:04] naveen-iiit commented on #34700
https://amp.indiaherald.com/

[2021-06-06 08:12] Tudmotu commented on #27091
@powerivq Thanks for the update :)

[2021-06-06 18:05] #25855 closed

[2021-06-06 18:05] #17889 closed

[2021-06-06 18:05] #12132 closed

[2021-06-06 18:05] #15094 closed

[2021-06-06 18:05] #24491 closed

[2021-06-06 18:05] #25345 closed

[2021-06-06 18:05] #25874 closed

[2021-06-07 01:44] gmajoulet commented on #26022
Reassigning to @mszylkowski who has this on his roadmap.

[2021-06-07 03:11] ampprojectbot opened #34726 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CKP79qfVkMazrQE)
**First seen:** Jun 2, 2021
**Frequency:** ~ 3,886/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at message (<a href="https://github.com/ampproject/amphtml/blob/2106030132000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/21060301

[2021-06-07 03:11] ampprojectbot opened #34727 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CKP79qfVkMazrQE)
**First seen:** Jun 2, 2021
**Frequency:** ~ 3,886/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at message (<a href="https://github.com/ampproject/amphtml/blob/2106030132000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/21060301

[2021-06-07 03:11] ampprojectbot opened #34728 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CKP79qfVkMazrQE)
**First seen:** Jun 2, 2021
**Frequency:** ~ 3,886/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at message (<a href="https://github.com/ampproject/amphtml/blob/2106030132000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/21060301

[2021-06-07 08:18] abhiz10 commented on #34516
@mszylkowski Will this JSON work?
https://testweb.visualstories.com/test-auto-advance-release/bookend.json?utm_source=visualstories.com

[2021-06-07 09:18] claudiucelfilip commented on #34666
That is the case, and this was something we looked into initially. Since Calypso signup is not the only affected platform/flow, we felt this approach would cause extra overhead, and went with another direction.
However, being able to go back, to the previous behaviour would save us from this work-around and it'd ensure us we haven't missed anything.

[2021-06-07 13:25] caroqliu commented on #34700
It looks like the error is due to the fact that there is no element with the id `carouselPreview` on the page. Do you perhaps mean to use `carouselWithPreview`? If so, that should be unnecessary to do given it is in response to the carousel `slideChange` event (meaning, i.e. if the carousel transitions to slide `2` and fires the event, this action would then `goToSlide` of index `2` in response, w

[2021-06-07 14:07] mszylkowski commented on #34516
Yes, both JSONs should work. You can tell if a JSON would work if you add it to the story inline like so:

[code]

The problem seems to be that when you make the HTTP request to your server, it returns `500 - Internal Server Error` at least when I tested that URL on a test story I made (it works when I open the URL on the browser directly though). If you check on the Network tab of your browser, t

[2021-06-07 14:28] abhiz10 commented on #34516
@mszylkowski Thank you so much. I will check the inline part at my end and also solve the 500 - Internal Server Error issue.

[2021-06-07 16:30] dmanek commented on #34664
Thanks @jridgewell. Looks like the postMessage to resize the iframe is sending the wrong height. @callihiggins check out https://amp.dev/documentation/components/amp-iframe/#iframe-resizing and retry with a larger height?

[2021-06-07 16:43] pradeep910 opened #34734 "I2I: Create a bento component for soundcloud [amp-soundcloud:1.0]"
### Summary

For the Non-AMP pages, we will need `amp-soundcloud` as a bento component. As per [this onboarding document](https://docs.google.com/document/d/1sgwzmWQV-XmBtCV_vkXmngoKFe2DZMaQNr_dhbf2EPY/edit#) amp-soundcloud is one of the components to be started with, to grow our bento components list.

### Design Document

_No response_

### Motivation

This will allow developers to use `amp-soun

[2021-06-07 18:01] arush123 commented on #22167
Hi @zhouyx,

FYI, we can obviously parse the **text/plain** data to **application/json**, but its an additional process of maintaining multiple API's handling different content type data, as most of the frameworks accept  request content type **application/json** then using
**"transport": {
        "xhrpost": true,
        "useBody": true
    }**
must set the Request Header **content-type: applica

[2021-06-07 18:53] caroqliu opened #34737 "[amp-lightbox-gallery:1.0] Bento tracking issue"
## High-level requirements
| Consideration  | Ready when | Status |
| ------------- | ------------- | ------- |
| Component compatibility | [Conformance with 0.1 (see below)](https://amp.dev/documentation/components/amp-lightbox-gallery/) | ✖️ |
| Testing | Unit tests and e2e tests from 0.1 | ✅ |
| Internationalization | n/a | n/a |
| Analytics | n/a | ✖️ |
| Accessibility | Audit performed, [0.1

[2021-06-07 19:07] caroqliu commented on #34737
Whoops, dedupe with #32759

[2021-06-07 19:07] #34737 closed

[2021-06-07 19:08] #30928 closed

[2021-06-07 19:14] caroqliu commented on #30928
Dedup with #31052

[2021-06-07 19:26] mattwelke commented on #22167
@arush123

As they stated above, it's not a bug. It's intentional because it gets around some CORS requirements. It avoids the need for pre-flight OPTIONS requests.

[2021-06-07 19:28] mattwelke commented on #22167
In my original report of this, I mentioned that I did have some concern about it:

My concern was that AMP wouldn't carefully remember that it would be a breaking API change to change this behavior. It seems for the past few years, they never changed it. It seems stable and well-understood. I wouldn't worry about it.

[2021-06-07 19:31] nickFalcone commented on #34556
I made an [example](https://github.com/nickFalcone/amphtml/blob/bc9ce8ab9f61d8e2f4ad2457c2e50bcfbec4a890/examples/lightbox-gallery-linked.amp.html) on my fork and can reproduce the issue.  Setting a breakpoint on [enter_()](https://github.com/ampproject/amphtml/blob/65a6e3a3c0fd6837858a5600f0ee62a22ba4ee68/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js#L1030) reveals the expected `sou

[2021-06-07 20:11] caroqliu opened #34739 "Provide an issue template for "Bento tracking issue""
### Description

It would be very helpful to @ampproject/wg-bento contributors to have a "Bento tracking issue" template. We already have many existing such issues following identical templates which are manually filled in and filed.

## Template requirements
- Title in the format of `[amp-component-name:version] Bento tracking issue`
- High-level requirements
  This is a matrix of considerations

[2021-06-07 20:17] erwinmombay opened #34740 "🌸 Cherry-pick request for #34589 into #34641, #34705"
### Issue (P0 Bug)

https://github.com/ampproject/error-reporting/issues/90

### Pull Request(s)

#34589

### Release Tracker(s)

#34641, #34705

### Channels

Beta / Experimental, Stable

### Justification

errors related amp-img-gallery have increased.

see `Error: b.signals is not a function` errors. we should patch prod and experimental as soon as possible.
Also see https://github.com/ampproje

[2021-06-07 20:32] rileyajones opened #34743 "🏗 🐛 Failed CircleCI workflows show as canceled"
### Description

When running workflows on CircleCI have been canceling the workflow when any job fails. Unfortunately this results in the workflow being marked as "Canceled" which is misleading as it should really be "Failed".

Example of failed job showing as "Canceled"
![image](https://user-images.githubusercontent.com/78179109/119880595-43d6c600-bee1-11eb-9045-ed7c47bcdf84.png)

### Reproducti

[2021-06-07 20:43] kristoferbaxter commented on #34740
Cherry pick approved. Let's also (and this is on me) ensure we add additional tests coverage for the revert of this revert.

Confusing, but important.

[2021-06-07 20:48] rileyajones commented on #34743
I've tried fixing this in two different ways.
1) [Cancel all running jobs on failure](https://github.com/ampproject/amphtml/pull/34551).
2) [Poll the circle ci api and kill the running job when a failure is detected](https://github.com/ampproject/amphtml/pull/34590).

The first approach straight up doesn't work. As soon as a job within a workflow is canceled, the whole workflow will show as cancel

[2021-06-07 20:51] rileyajones commented on #34743
I did try using the `circleci agent` command to halt the step rather than simply killing the job, but that did not seem to work
https://github.com/ampproject/amphtml/pull/34590/commits/a5923a3c2a2a4337a9821b120d8924d0c6c12e50

[2021-06-08 02:39] syydneyyhardister opened #34749 "Broken Link in CONTRIBUTING.md"
### Description

Currently when you click on the first link on the CONTRIBUTING.md file page, it sends you to https://github.com/ampproject/amphtml/blob/main/CONTRIBUTING.md, and you receive a 404 error. I plan to correct this issue by changing the link to https://github.com/ampproject/amphtml/blob/main/docs/contributing-code.md.

### Reproduction Steps

Navigate to ampproject/meta, select the CON

[2021-06-08 06:26] jkasten2 commented on #34604
Safari doesn't support the [Push API
](https://developer.mozilla.org/en-US/docs/Web/API/Push_API) however Safari on macOS does have it's own [push notification api](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/NotificationProgrammingGuideForWebsites/PushNotifications/PushNotifications.html).
   - Apple's docs looked dated here but they are current and sti

[2021-06-08 07:40] jkasten2 commented on #28717
@kevinkimball  I believe there is an improvement that can be made here to fix the accuracy of the permission display state reflected in `<amp-web-push-widget>`.

It is possible to query notification permission without displaying a popup, it can be done via the iframe instead. This is already available via [`queryNotificationPermission`](https://github.com/ampproject/amphtml/blob/b6313e372fdd129892

[2021-06-08 09:55] powerivq commented on #31513
![Screen Shot 2021-06-08 at 2 54 25 AM](https://user-images.githubusercontent.com/1321403/121165207-ac7b5680-c882-11eb-8878-a58914fdbf97.jpg)

Attached the profiling from a Nokia device. The long tasks appear to be the ads itself, not the sticky ad framework.

[2021-06-08 14:27] kristoferbaxter commented on #34439
I'd like to present on dropping support for IE11: https://github.com/ampproject/amphtml/issues/34453

[2021-06-08 14:33] claesbengtsson commented on #34701
1. This only occurs on the gmail app on phone iOS. Just tried https://mail.google.com on my phone, and it doesn't recognize AMP so it shows HTML version. Not sure if this is what you meant.

2. Sure, I've attached it.
[test-menus-bsft-4.html.zip](https://github.com/ampproject/amphtml/files/6617385/test-menus-bsft-4.html.zip)

[2021-06-08 14:48] micajuine-ho commented on #34666
Hi @claudiucelfilip, looking at our documentation, I don't think we explicitly wanted to support same domain linking, (even though it was allowed).

However, I understand that this can be a headache, so why don't we bring discussion to design review to get feedback from the broader AMP team.

My general concerns are around maintaining this feature long-term, when it was not supposed to be used thi

[2021-06-08 14:49] micajuine-ho commented on #34439
I'd like a few minutes to talk about support for same-domain matching for linker. https://github.com/ampproject/amphtml/issues/34666

[2021-06-08 14:53] #34739 closed

[2021-06-08 15:06] rsimha commented on #34739
New issue template is available for use [here](https://github.com/ampproject/amphtml/issues/new?assignees=&labels=WG%3A+bento&template=bento-component-tracker.yml&title=%F0%9F%8D%B1+%5Bamp-component-name%3Aversion%5D+Bento+tracking+issue).

[2021-06-08 15:23] alanorozco commented on #34701
Try it on Desktop.

[2021-06-08 15:26] claesbengtsson commented on #34701
Yes this I have tried before, on desktop it works without any issues. I've only run into this issue on gmail app iOS mobile

[2021-06-08 16:53] #34600 closed

[2021-06-08 17:19] caroqliu commented on #33885
Could someone from @ampproject/wg-outreach help out here?

[2021-06-08 17:20] #34749 closed

[2021-06-08 17:21] syydneyyhardister commented on #34749
.

[2021-06-08 17:56] Francisco-AM commented on #33885
They sure have a lot of work to do.

[2021-06-08 18:25] processprocess opened #34760 "Don't trigger viewport warnings when `amp-story-desktop-one-panel`is active"
Viewport warnings will not be necessary in the one panel desktop UI.
They can be disabled when `amp-story-desktop-one-panel`is active.

[2021-06-08 18:25] sebastianbenz commented on #33885
Do I understand correctly that you are creating an, what we call, 'AMP First' or 'canonical AMP' site? In this case you should **not** use `rel = "amphtml" href = "url2"` as it is only needed in the case that your canonical page is non-AMP, but you still want to get the benefits of AMP by providing a second (or paired) AMP version of your page.

That's also the reason why we are not documenting ho

[2021-06-08 18:28] processprocess opened #34761 "`amp-story-desktop-one-panel` Responsive story panel"
Add CSS for the responsive story panel.

[2021-06-08 18:30] processprocess opened #34762 "`amp-story-desktop-one-panel` pagination arrows"
Add pagination arrows. These can be the existing pagination arrows that are used on desktop but re-skinned.
This will give all A11y and i18n benefits.

<img width="1511" alt="Screen Shot 2021-06-15 at 3 12 59 PM" src="https://user-images.githubusercontent.com/3860311/122110124-3039c380-cdec-11eb-8ebf-dad63a1bea7d.png">

[2021-06-08 18:45] Francisco-AM commented on #33885
Well, matter solved, thank you very much, you can close the topic if you want.

[2021-06-08 18:49] #33885 closed

[2021-06-08 19:29] processprocess opened #34764 "`amp-story-desktop-one-panel` blurred background"
This will find the largest image on the active page and apply a blurred treatment of it to the background of the window.

This needs to be able to work in the context of `amp-story-player` or `amp-story`.

[2021-06-08 19:30] processprocess opened #34765 "`amp-story-desktop-one-panel` Integrate player into desktop one panel experience"
Integrate player into desktop one panel experience.

[2021-06-08 20:54] #34556 closed

[2021-06-08 20:56] gmajoulet commented on #31276
Closed by https://github.com/ampproject/amphtml/pull/31716

[2021-06-08 20:56] #31276 closed

[2021-06-08 21:21] erwinmombay commented on #34740
we promoted the latest experimental branch which already had the fix to stable to fix the lightbox-gallery issue.
went ahead and stopped the cherry pick process.

[2021-06-08 21:21] #34740 closed

[2021-06-09 00:10] github-actions[bot] opened #34777 "Design Review 2021-07-01 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=06&day=30&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210701T000000Z/20210701T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-06-09 01:33] kristoferbaxter commented on #34439
@alanorozco not sure why this auto closed.

[2021-06-09 02:21] alanorozco commented on #34439
@kristoferbaxter it's a bug :( The date for this event is wrong, it should be `2020-06-10 00:00 UTC`. The bot thought the session had ended.

[2021-06-09 03:19] github-actions[bot] opened #34779 "Design Review 2021-06-30 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=06&day=30&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210630T0000Z/20210630T0100Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly engine

[2021-06-09 03:50] diwakaran1dan opened #34781 "Error : Response must contain an array or object at "feed.entry". amp-list"
### Description

I am getting this error while making amp list with _CORS proxy_
https://cdn.nixs.in/cdn/cors/?url=https://www.nixs.in/feeds/posts/default?alt=json
my code
`<amp-list items='feed.entry'
layout="fixed-height"
height="100"
src="https://cdn.nixs.in/cdn/cors/?url=https://www.nixs.in/feeds/posts/default?alt=json"
binding="no">
    <template type="amp-mustache">
      <div>{{#title}}{{$t

[2021-06-09 03:59] #34779 closed

[2021-06-09 06:51] vornet84 opened #34783 "AMP plugin settings button suddenly disappeared"
### Description

AMP plugin suddenly disappeared from my dashboard and I can only find it in plugins list. I cannot also find the button to enable/disable AMP between articles. I cannot change settings for AMP plugin, this is not on my left list on Dashboard. It had just disappeared.

### Reproduction Steps

https://www.bet3.gr/

### Relevant Logs

_No response_

### Browser(s) Affected

_No respo

[2021-06-09 14:49] processprocess opened #34785 "`amp-story-desktop-one-panel` confirm display of `amp-story-auto-ads`."
Be sure that `amp-story-auto-ads` displays correctly in the `amp-story-desktop-one-panel` UI.

[2021-06-09 15:12] spormeon opened #34786 "AMP-Video-ima add support for AdsRenderingSettings"
### Description

can AMP-Video-ima add support for AdsRenderingSettings , so as we can limit bitrate to e.g 1000, this is so that we try to limit "heavy ad intervention' taking place, as the SDK can choose ones over this rate with the default -1 (i think) setting.

Could help alot of people who basically have no clue how many ads are being blocked by HAI due to -1 setting choosing higher bitrates

[2021-06-09 15:17] #34565 closed

[2021-06-09 15:39] alanorozco commented on #34786
A few thoughts from looking at [`AdsRenderingSettings`](https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/reference/js/google.ima.AdsRenderingSettings).

1. We'd likely want to exclude certain properties from being configurable. `uiElements` in particular should be kept as-is for consistency between ad controls and content controls.

2. I'm not sure what the best mark

[2021-06-09 15:43] erwinmombay opened #34788 "🚄 Tracking issue for release 2106072053000"
### Release Version

2106072053000

### Previous Release Version

2106030132000

### Release Progress

This issue tracks release [VERSION](https://github.com/ampproject/amphtml/releases/tag/VERSION). See [new commits](https://github.com/ampproject/amphtml/compare/PREVIOUS_VERSION...VERSION) since the previous Stable channel release.

- [x] Release VERSION promoted to Experimental and Beta (opt-in)

[2021-06-09 15:52] #21945 closed

[2021-06-09 15:52] #23116 closed

[2021-06-09 15:52] #15623 closed

[2021-06-09 15:52] #25888 closed

[2021-06-09 15:52] #23879 closed

[2021-06-09 15:52] #6973 closed

[2021-06-09 16:46] raxsha opened #34790 "[Page Attachments] Write amp.dev docs"
### Description

Write updated page attachment docs for amp.dev

### Alternatives Considered

Largely pulling from IS2, need to be ready for Canary launch

### Additional Context

_No response_

[2021-06-09 17:06] danielrozenberg opened #34792 "`<amp-font>` visual diff test is flaky"
### Description

The "Fonts" visual diff test that uses the deprecated `<amp-font>` component is flaky ("Fonts 404" is not flaky, for what it's worth), causing the entire visual diff test runner to hang sometimes. Percy still completes the build without it, which causes the test to appear and disappear from the base build

### Reproduction Steps

e.g., it's missing from this build: https://percy.i

[2021-06-09 18:09] spormeon commented on #34786
whichever way works would be my vote

[2021-06-09 19:32] rishnarang opened #34795 "[amp-analytics] Potential Issues with pageVisible events"
### Description

Suspected issue with amp analytics tags with GA.

Story URL: https://stories.wnba.com/games-staging/1042000403.html

1. In the live report, the page visible events are not logged several times, even when we move within pages on this URL.

![2021-06-09](https://user-images.githubusercontent.com/82465478/121419562-f155ca80-c920-11eb-90e6-ae9afcc609f5.png)

2. Another thing that rais

[2021-06-09 19:53] #34706 closed

[2021-06-09 20:13] #25469 closed

[2021-06-09 20:13] #25954 closed

[2021-06-09 21:01] gmajoulet commented on #34795
We've been checking the configuration and that the events are sent correctly (they are) so we're out of options to debug this.

Can someone from @ampproject/wg-analytics help us investigate?

[2021-06-10 00:11] jridgewell commented on #34453
After design review, I approve this change.

[2021-06-10 01:14] #34439 closed

[2021-06-10 02:40] #25962 closed

[2021-06-10 06:48] naveen-iiit commented on #34700
The issue was not resolved even after removing that.

the error showing in console was gone but the actual issue was still there.

check the video for more clarity

forward was not working but backward is.

https://user-images.githubusercontent.com/48469343/121477749-dc8f3a80-c9e5-11eb-9a77-65e2e61774ba.mp4

[2021-06-10 06:49] naveen-iiit opened #34807 "It looks like the error is due to the fact that there is no element with the id `carouselPreview` on the page. Do you perhaps mean to use `carouselWithPreview`? If so, that should be unnecessary to do given it is in response to the carousel `slideChange` event (meaning, i.e. if the carousel transitions to slide `2` and fires the event, this action would then `goToSlide` of index `2` in response, which would be noop since that is already the current slide state). You should be able to remove the `carouselPreview.goToSlide(index=event.index)` line and the error will go away. this issue was still there"
It looks like the error is due to the fact that there is no element with the id `carouselPreview` on the page. Do you perhaps mean to use `carouselWithPreview`? If so, that should be unnecessary to do given it is in response to the carousel `slideChange` event (meaning, i.e. if the carousel transitions to slide `2` and fires the event, this action would then `goToSlide` of index `2` in response, w

[2021-06-10 09:20] edoudou commented on #34632
Any news on this subject ?

What are the next steps ?

[2021-06-10 13:42] adekbadek commented on #26231
Possibly a duplicate of https://github.com/ampproject/amphtml/issues/18123

[2021-06-10 13:43] adekbadek commented on #18123
Looks like the feature is proposed in more detail here: https://github.com/ampproject/amphtml/issues/31513

[2021-06-10 13:52] caroqliu commented on #34807
Closing to continue the thread in #34700

[2021-06-10 13:52] #34807 closed

[2021-06-10 13:56] caroqliu commented on #34700
Yes, I see what you mean from the video. I'm not able to reproduce on mobile view on Chrome on the given page myself, but it looks like the slides are updating to the incorrect index after a slide change completes. Can you see if updating to version `0.2` of `amp-carousel` will make a difference?

[2021-06-10 14:13] micajuine-ho commented on #34795
@rishnarang Are you using GA Universal Analytics?

[2021-06-10 15:19] rishnarang commented on #34795
@micajuine-ho The partner using this set up uses GA Universal Analytics.

[2021-06-10 16:46] processprocess commented on #33826
I noticed that changes in `extensions/amp-story/1.0/amp-story-desktop-one-panel.css` require a restart even with the `jsify-css.js` patch.

It uses an entrypoint here:
https://github.com/processprocess/amphtml/blob/main/build-system/tasks/css/index.js#L72

It's injected into shadow dom on the document here:
https://github.com/ampproject/amphtml/blob/main/src/amp-story-player/amp-story-player-impl.

[2021-06-10 16:52] #34760 closed

[2021-06-10 17:28] processprocess opened #34815 "`amp-story-desktop-one-panel` Page tap targets"
Tap targets should match the following:
<img width="1270" alt="Screen Shot 2021-06-10 at 1 27 27 PM" src="https://user-images.githubusercontent.com/3860311/121570174-a060d780-c9ef-11eb-9bf2-988882175cde.png">

This issue is for page clicks only.
Pagination arrow clicks will be part of #34762

[2021-06-10 17:38] micajuine-ho commented on #34666
@claudiucelfilip Took this question to Design review yesterday. The team agreed that we can support this. I will work on making the changes with a new opt in API.

[2021-06-10 18:13] #25806 closed

[2021-06-10 19:19] processprocess opened #34823 "`amp-story-desktop-one-panel` System layer positioning"
### Description

Position the system layer so they are overlaid on story.
CSS code will be repeated from `amp-story-page` positioning.

### Alternatives Considered

We considered a wrapper element for the pages and system layer but that would require reparenting all pages and runtime. This would be a performance hit and would require a re-measure of essentially the entire story.

It also effects a

[2021-06-10 21:36] gmajoulet commented on #34632
@edoudou can you clarify why this is a Story specific problem, over a web platform problem? Can you provide examples of things you absolutely cannot achieve in Stories because of it? Code samples would be highly appreciated.

[2021-06-11 07:01] naveen-iiit commented on #34700
Hi caroqliu

Thanks for your response as you have said I have updated the latest version to 0.2 it's working fine but another issue was raised.

As you see in the video once  I have moved to next slide by drag auto play was stopped.

can you check that once.

https://user-images.githubusercontent.com/48469343/121644662-ea5dc200-cab0-11eb-844f-1a5c0ad6fe73.mp4

[2021-06-11 08:45] #25985 closed

[2021-06-11 08:53] edoudou commented on #34632
@gmajoulet Here is an exemple of a story where this is causing troubles : https://join-dev.my.join-stories.com/test-oy0Btw2Mn/?t=703
As you can see, you can't click on the start because of the pointer event on the div in the Layer above.

We are using div's as main child in the layer to help use place Items (even if it might not be that usefull in this case), but it is a downer that we can't preve

[2021-06-11 12:37] processprocess opened #34829 "`amp-story-desktop-one-panel` Revise breakpoint to mobile view"
Currently this is possible:
<img width="1022" alt="Screen Shot 2021-06-11 at 8 35 28 AM" src="https://user-images.githubusercontent.com/3860311/121687264-26345f80-ca90-11eb-8d50-6b2a3243faf8.png">

Revise breakpoints of UI types.

[2021-06-11 12:58] processprocess opened #34830 "`amp-story-desktop-one-panel` resolve non-active page position on load"
With the new panel positioning the last page is positioned below the active page on story load:
<img width="1417" alt="Screen Shot 2021-06-11 at 8 56 23 AM" src="https://user-images.githubusercontent.com/3860311/121689840-1ff3b280-ca93-11eb-946d-c8b72b73f164.png">

[2021-06-11 13:38] caroqliu commented on #34700
This is working as intended because after a user engages with the carousel, they could be engaging with the content. Therefore if autoplay resumes, it would potentially disrupt the interaction.

From the [component documentation](https://amp.dev/documentation/components/amp-carousel-v0.2/?format=websites#autoplay-(optional)):

[2021-06-11 13:38] #34700 closed

[2021-06-11 14:06] aramin opened #34831 "`amp-ima-video` shows `Infinity:NaN` as duration for livestreams"
### Description

When `amp-ima-video` is used with a livestream the control bar shows `Infinity:NaN` for the duration.

<img width="374" alt="amp-ima-video-bug" src="https://user-images.githubusercontent.com/7523087/121698403-408d2e00-cace-11eb-9ec4-568ed5bfcd17.png">

### Reproduction Steps

The issue can be seen on this [demo page (https://playground.amp.dev)](https://playground.amp.dev/?format=

[2021-06-11 14:42] processprocess opened #34833 "`amp-story-desktop-one-panel` Confirm calculation of `--story-page-` CSS variables"
Confirm calculation of `--story-page-` CSS variables when the `amp-story-desktop-one-panel` experiment is active.

[2021-06-11 14:54] micajuine-ho commented on #34795
One question I have is why do you have two amp-analytics elements on the page?

[2021-06-11 15:30] claudiucelfilip commented on #34666
That's excellent news. Thank you!

[2021-06-11 15:32] Brandons42 commented on #34511
I can work on this since it's a good first issue

[2021-06-11 16:17] mszylkowski commented on #34632
I'll also add that this affects any type of tappable component (quizzes, polls, amp-twitter, tooltips, etc).

So this could fail if you have a story with a centered component and an anchored component, independently of the order:

[code]

or

[code]
both fail.

[2021-06-11 17:03] gmajoulet commented on #34632
Can you double check your example @edoudou plz? I don't have any problem clicking the button on the one you sent

[2021-06-11 17:15] caroqliu opened #34839 "Intent-to-Remove: <amp-viz-vega>"
### Summary

`<amp-viz-vega>` displays visualizations created by using Vega visualization grammar. See the [reference documentation](https://github.com/ampproject/amphtml/blob/main/extensions/amp-viz-vega/amp-viz-vega.md).

This issue is a proposal to remove the component given the following:
- The component is not and was never valid AMP.
- There has not been interest in the component for ~1.5 ye

[2021-06-11 17:17] gmajoulet commented on #34833
+1, thank you for double checking, feel free to close this ticket :))

[2021-06-11 17:36] cramforce commented on #34839
Approved

[2021-06-11 20:03] micajuine-ho commented on #30860
Assigned to @kalemuw

[2021-06-11 20:59] caroqliu commented on #24881
All attributes listed in the email-view of amp.dev should work: https://amp.dev/documentation/components/amp-autocomplete/?format=email

[2021-06-11 22:15] jridgewell commented on #34839
Approved.

[2021-06-11 22:51] dvoytenko commented on #34839
Approved

[2021-06-13 02:02] mgggytfyyhgg opened #34856 "Page experience issue"

[2021-06-13 02:02] #34856 closed

[2021-06-13 10:17] abhiz10 commented on #34516
Hi... @mszylkowski
- I have changed the code as to said ~ https://testweb.visualstories.com/test-auto-advance-release
- It's showing an AMP Error "The mandatory attribute 'layout' is missing in tag 'amp-story-social-share'"
- So, I added layout="nodisplay" ~ https://vs-subdomain-appsites.azurewebsites.net//testweb.visualstories.com/test-auto-advance-release
- Now the AMP Error issue is solved.
-

[2021-06-13 18:18] #25974 closed

[2021-06-13 18:18] #25967 closed

[2021-06-14 08:22] edoudou commented on #34632
Sorry forgot to explain the case. The start has a tooltip on, but the layer of the button prevent us to click on it

[2021-06-14 23:02] mszylkowski commented on #34516
Yes! I can see all the share providers when clicking on the share icon, so seems like the configuration is working

[2021-06-15 09:53] praditha-hidayat opened #34859 "`amp-yotpo` with `data-widget-type="ReviewsTab"` displays nothing"
### Description

### Expected Result
On the AMP page, I should see the Review tabs and SEO page like what I see on the HTML version.
Here is the working version on the HTML version: https://www.backpackerdeals.com/reviews

### Current Behavior
I don't see any generated content on our AMP page to display the Review tabs and SEO page like what we have in HTML version.

Here is how I do the implement

[2021-06-15 12:23] #34830 closed

[2021-06-15 13:26] claesbengtsson commented on #34701
@alanorozco Any update on this? :)

[2021-06-15 14:22] caroqliu commented on #34859
Hi @praditha-hidayat, thanks for filing this issue! I am able to reproduce on Chrome that the component displays nothing after loading. I'm going to mark this P1 instead of P0 because this issue does not appear to be a regression—I'm able to reproduce on current LTS as well as multiple prior LTS RTVs.

I'll continue investigating and update here with updates. It's worth noting that the amp.dev exa

[2021-06-15 15:36] mlapeyre3 opened #34863 "Fast Fetch pre-requisite for RTC support"
### Description

Hello,

I am looking for supporting RTC as an Adserver which does not support Fast Fetch yet.
In https://github.com/ampproject/amphtml/blob/main/extensions/amp-a4a/rtc-documentation.md RTC is introduced as an optional feature of Fast Fetch but I was wondering what is the link between Fast Fetch and RTC.

Wouldn't it be possible to implement RTC and let our Adserver receive targeti

[2021-06-15 16:15] rcebulko commented on #34552
I'd like to discuss the idea of moving all AMP source code under `src`: `3p`, `ads`, `builtins`, and `extensions`. I2I incoming.

[2021-06-15 16:22] rcebulko opened #34866 "I2I: Consolidate source code under `src/`"
In the earlier days of amp, the root directory was fairly sparse. "Top-level" directories like `3p`, `ads`, `builtins`, and `extensions` had separate functions, while `src` was synonymous with the AMP runtime. IIUC, one motivation for this at the time was so external contributors could easily view the repo and understand where to contribute an ad provider, 3p integration, or new component/extensio

[2021-06-15 16:24] caroqliu commented on #34859
It looks like only `data-widget-type="ReviewsTab"` is affected, and nothing is rendered due to this line:
https://github.com/ampproject/amphtml/blob/1f2308befa3015c84f0c8839357884dff36880d2/3p/yotpo.js#L28

We should be able to expect a "Reviews tab" to be rendered, but given that the above line has been with the component since its inception, I'm not sure we have ever been able to expect this fea

[2021-06-15 16:57] kristoferbaxter opened #34870 "Google's AMP Viewer Displaying App Install Banners over Content."
### Description

From: https://twitter.com/DinaSrinivasan/status/1404795551154012160

![image](https://user-images.githubusercontent.com/61764/122092894-509f5900-cdbf-11eb-9416-3ba4ea6d5c57.png)

It appears that Google's AMP viewer started displaying content above AMP documents loaded from a Google Search Results Page.

This is a tracking issue to follow the progress of a fix from the AMP perspect

[2021-06-15 17:00] kristoferbaxter commented on #34870
From Google: "This appears to be a bug rather than any intended behavior. We're investigating it now and expect it will be cleared up shortly."

https://twitter.com/dannysullivan/status/1404841454820724737?s=20

[2021-06-15 17:02] weirdian2k3 opened #34871 "wunderkind extension for amp-ad"
### Summary

Provides support for `<amp-ad type="wunderkind" />`

[Wunderkind](https://wunderkind.co) provides configurable ads for our clients using an auction system

### Design Document

_No response_

### Motivation

AMP is a large portion of our clients' traffic and they have been requesting that we support AMP

### Alternative Solutions

We didn't consider any other options to bring our ads

[2021-06-15 17:28] askmeoffers opened #34874 "AMP Moustache variables for image is adding 404 link to all page"
### Description

Hi Team,

First of all, thank you for providing us such a robust framework for speeding up the website.

So we are using amp-mustache with amp-list to render search results, and by default, also we display some data on the search window on your site.
Example : [Aliexpress Coupon Store](https://askmeoffers.com/aliexpress-coupons/)

So how we will image in the search result is using

[2021-06-15 17:47] #34831 closed

[2021-06-15 18:06] askmeoffers commented on #34874
Hi @caroqliu  Thank you for the quick revert we used https://ahrefs.com site audit

and as you see below images our site health score is zero as this is present on all pages

![A4ECDC02-7FBE-4DC2-8D03-6516A403AE61_1_105_c](https://user-images.githubusercontent.com/55142548/122101794-5bdf9c80-ce32-11eb-8bb0-02e63a76de0a.jpeg)

![FD498E3D-B240-4CD8-B005-C2BE2365A001_1_105_c](https://user-images.gith

[2021-06-15 18:17] caroqliu commented on #34874
It looks like your audit tool is identifying an issue with the `img` tag inside your `amp-img`: `<noscript><img src="{{image}}" height="59" width="143"></noscript>`.

Does removing the `noscript`/`img` tags resolve the issue? If not, an alternative option could be to provide your template via a [`<script type="text/plain" template="amp-mustache">`](https://amp.dev/documentation/components/amp-must

[2021-06-15 18:36] samouri commented on #34866
In general I'm in favor of moving all of our code that gets bundled/distributed to `src`.
Note though that some of the examples above (i.e. `.babel-cache` and `.css-cache`) aren't actually part of our git repo.

[2021-06-15 18:36] erwinmombay commented on #34866
+1 on this. this would help infra code quite a bit i think. generally when we add a new directory we would need to add a new glob to some rule or transformer which always seemed very brittle. with this change there would most likely a reduction in the globs for linters and compilers which should reduce a little bit of complexity

[2021-06-15 18:39] askmeoffers commented on #34874
Hi, @caroqliu, I added the below code in the dev environment as you suggested, and it worked perfectly, and I see there is no more 404 broken link issue Thanks a ton for this !!!
<script type="text/plain" template="amp-mustache">

Also, It will be beneficial if you can give your input on one question we have since along.

Can we defer the amp-list and amp-mustache library loading until the user ha

[2021-06-15 19:11] #34833 closed

[2021-06-15 20:10] #34815 closed

[2021-06-15 21:07] caroqliu opened #34878 "FR: Release extension-specific CSS files separately from extension binaries"
### Description

Bento AMP components provide "pre-upgrade" styles that are made available to ensure layout stability inside the component before it is defined and upgraded. Because v0 and the AMP boilerplate provide this level of layout stability already on AMP documents, the pre-upgrade styles are only needed for Bento components used on non-AMP pages.

The way this is documented on amp.dev is f

[2021-06-15 21:17] abhiz10 commented on #34516
@mszylkowski Great,
Can you share the screenshot of share icon ?

[2021-06-15 21:23] mszylkowski commented on #34516
![image](https://user-images.githubusercontent.com/22420856/122125282-46e91600-cdfe-11eb-91ff-72d1d8bdcd9a.png)
=>
![image](https://user-images.githubusercontent.com/22420856/122125337-56685f00-cdfe-11eb-86fc-23b9a8539cdd.png)

[2021-06-15 21:26] abhiz10 commented on #34516
@mszylkowski Thank you so much for your support.

[2021-06-15 22:09] alanorozco commented on #34831
@aramin Thanks for reporting this issue. The fix has been merged and should be released on stable [within the next two weeks](https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/)

[2021-06-15 23:23] cormacncheese opened #34881 "amp-embedly-card not working"
### Description

I'm using the amp-embedly-card to embed tik tok videos in my website. It was working a few months ago however now nothing shows up on the page.

### Reproduction Steps

[code]

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Affected

_No response_

### Device(s) Affected

_No response_

### AMP Version Affected

_No response_

[2021-06-16 00:19] #26012 closed

[2021-06-16 00:19] #26052 closed

[2021-06-16 00:44] #34788 closed

[2021-06-16 00:44] #33968 closed

[2021-06-16 00:44] #34705 closed

[2021-06-16 00:47] jridgewell opened #34882 "🚄 Tracking issue for release 2106120107000"
### Release Version

2106120107000

### Previous Release Version

2106072053000

### Release Progress

This issue tracks release [VERSION](https://github.com/ampproject/amphtml/releases/tag/VERSION). See [new commits](https://github.com/ampproject/amphtml/compare/PREVIOUS_VERSION...VERSION) since the previous Stable channel release.

- [x] Release 2106120107000 promoted to Experimental and Beta (o

[2021-06-16 01:19] #26049 closed

[2021-06-16 07:00] danielstockton commented on #31653
The `<a>` actually has a `data-vars-story-page-id` attribute.
This makes it possible to send the `${storyPageId}` as long as you select the `<a>` and not `amp-story-cta-layer`.
Closing.

[2021-06-16 07:00] #31653 closed

[2021-06-16 13:55] caroqliu opened #34885 "Tracking Issue: Flaky (Bento?) unit tests"
### Description

This is a tracking issue to organize information all in one place. We have recently seen an occasional unit test run fail with ~160 failing test cases. From what I can tell these are almost always Bento (1.0) components or their Preact counterparts.

Failures usually occur:
- for PRs making unrelated changes, indicating likelihood of flakiness rather than a code change causing the

[2021-06-16 13:59] goonydev opened #34886 "[amp-story][amp-video] Videos get randomly blocked on IOS devices"
### Description

We are struggling when it comes to include videos in our web stories. We are getting very unstable results on IOS devices. Sometimes it will work, sometimes it will not. We will get the message in the corner "**Video failed to play (!)**". See attachment 1. This is regardless of the browser we use (tested on Safari and Chrome, on iPhones 6/X/12).

I see many websites using videos

[2021-06-16 14:00] caroqliu commented on #34881
Hello, I copied your code snippet into the [AMP playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8aGVhZD4KICAgIDxtZXRhIGNoYXJzZXQ9InV0Zi04IiAvPgogICAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICAgIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoIiAvPgogICAgPHN0eWxlIGFtcC1ib2lsZXJwbGF0ZT5ib2

[2021-06-16 14:00] #34881 closed

[2021-06-16 14:32] caroqliu commented on #34866
One concern is that this will make it more difficult to view the blame of the moved directories, whose original paths will be effectively treated as deleted. It's still possible by calling `git blame` with a commit hash prior to the relocation, but retrieving this is slightly more friction than not and could be hard for new contributors as time goes on. For me, being able to do this is valuable fo

[2021-06-16 14:44] rcebulko commented on #34866
As long as I used `git mv` properly (which I intend to), history/blame still works naturally within GitHub. For example, when I moved `src/utils/string.js` to `src/core/types/string/index.js`, you can still [see the blame from 6 years ago on the "new"/moved file](https://github.com/ampproject/amphtml/blame/main/src/core/types/string/index.js). So, I think that may not be an issue, unless I'm missi

[2021-06-16 14:51] rcebulko commented on #34866
Follow-up: For those with active open branches, _merging_ may not play nice with the moved files, while _rebasing_ should apply the local changes to the moved directories without issue. Since this still has the potential to cause disruption to developers, each directory should be moved separately and with (~1wk?) advanced notice, to make sure anyone actively working in those directories (especiall

[2021-06-16 14:58] samouri commented on #34874
delaying certain extension scripts is something [we are exploring](https://github.com/ampproject/amphtml/issues/33689) but are not yet convinced about the relative performance gains vs. other initiatives we are pursuing.

[2021-06-16 15:24] #34859 closed

[2021-06-16 15:25] caroqliu commented on #34874
Closing this issue as resolved; feel free to follow up in the issue linked above!

[2021-06-16 15:25] #34874 closed

[2021-06-16 15:56] alanorozco commented on #34783
Bugs related to the [AMP WordPress Plugin](https://wordpress.org/plugins/amp/) can be reported at the [support forum](https://wordpress.org/support/plugin/amp/) or at the [`amp-wp`](https://github.com/ampproject/amp-wp/issues) repository.

cc @westonruter

[2021-06-16 15:56] #34783 closed

[2021-06-16 16:39] rcebulko commented on #34552
I2I from today: https://github.com/ampproject/amphtml/issues/34866

[2021-06-16 16:45] github-actions[bot] opened #34890 "Design Review 2021-07-07 15:30 UTC (Africa/Europe/western Asia)"
Time: [15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=07&day=07&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210707T153000Z/20210707T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-06-16 16:57] #34829 closed

[2021-06-16 19:54] inidaname commented on #34719
Hello @calebcordry I will love to take a go at this, will be happy if you could point me to the right file

[2021-06-17 11:16] amitinsan commented on #34623
@micajuine-ho Thanks for the update.
But with the above code snippet, the issue is same.
PV event gets initiated after user interaction and seconds event goes only in case of user tab switch back to the current page.
[Sample Link](https://m.economictimes.com/amp_test.cms?web_vital=4)

[2021-06-17 12:16] #34761 closed

[2021-06-17 14:22] micajuine-ho commented on #34623
This is due to the CLS metric being calculated by `The aggregate layout shift score when the user leaves the page (navigation, tab switching, dismissing application) for the first time`.

https://wicg.github.io/layout-instability/#cumulative-layout-shift

Again, I recommend splitting out the CLS metric into it's one trigger if you don't want the current trigger to be bottlenecked by it.

[2021-06-17 16:58] #34823 closed

[2021-06-17 16:58] edoudou commented on #34632
Hi @gmajoulet ,

Is my example more coherent to you knowing that the star should have a tooltip ?

We are waiting to see how this issue is elvolving in order to fix some bug on our side.

[2021-06-17 17:06] mauricengo-revolve commented on #30838
Hi @bartesn, @dvdyakonov, @flaviori , @choumx and @ericfs.

We want to fully launch our AMP site, however we're still seeing the link freezing issue. We observe this issue on other AMP sites as well. I believe It persist on most iPhone devices using Safari.

[2021-06-17 17:13] gmajoulet commented on #34632
Why do you need this extra `div` layer that's just height/width: 100%? You should be able to position items within the `-grid-layer`, right?

[2021-06-17 17:42] Ichigo3d opened #34912 "The side bar button doesn't work on mobile version of amp.dev"
### Description

The side bar button doesn't work on mobile version of amp.dev.

### Reproduction Steps

1) launch any browser on your mobile device
2) go to amp.dev
3) tap on the hamburger button
4) observe result

Actual result: Side menu doesn't appear after tapping on hamburger button.
Expected result: Side menu should appear on the screen.

https://user-images.githubusercontent.com/37351864/1

[2021-06-17 19:09] newmuis commented on #34886
@alanorozco or @gmajoulet, do you know if the [`crossorigin`](https://amp.dev/documentation/components/amp-video/#crossorigin) attribute is required for `<source>` tags on different domains (in addition to `<track>` tags on different domains, that are referred to in the docs)?

[2021-06-17 19:22] gmajoulet commented on #34886
The (undocumented) `cache="google"` attribute for videos is current being tested and not yet ready for full launch. If you remove it things will work just as before.
We should launch it in the coming months with a broad announcement through our blog/Slack/documentation/email lists.

[2021-06-17 19:22] gmajoulet commented on #34886
Closing this ticket, please ping us on Slack if you want more details!

[2021-06-17 19:22] #34886 closed

[2021-06-17 19:38] ericfs commented on #30838
@jridgewell @samouri Can this issue be reopened? It looks like the problem is happening again. I can reproduce in iOS Simulator 14.4 but not 13.4 with the previous example: https://www.google.com/amp/s/akiba-pc.watch.impress.co.jp/docs/sp/1160/581/amp.index.html

It looks like #31750 is no longer mitigating the issue.

[2021-06-17 19:55] ericfs commented on #30838
Filed b/191386761 as an internal issue in case there is anything that can be done on the Google side.

[2021-06-18 02:27] praditha-hidayat commented on #34859
Hi @caroqliu

Thanks for the fixes. Is there anything I should change for now?
Or I must wait for the next release?

Thanks

[2021-06-18 04:50] goonydev commented on #34886
If I remove it then, things will work just as before, which means they **won't**

[2021-06-18 05:01] gmajoulet commented on #34886
I assume this is some encoding issue for your specific content. I can help
you debug tomorrow.

On Fri, Jun 18, 2021 at 12:50 AM goonydev ***@***.***> wrote:

--
Gabriel Majoulet  | Software Engineer | ***@***.***

[2021-06-18 05:05] goonydev commented on #34886
Thank you for helping. For the encoding, I pretty much followed this tutorial:

https://www.youtube.com/watch?v=JNU5GPNW5R0&t=99s

If the encoding was wrong, I believe the videos would either always work or never work. But right now it works only sometimes. I will change my test page and remove the cache="google" for when you will check it out.

[2021-06-18 05:40] kamblenavnath opened #34949 "[amp-story-page-attachment]: Link text placed at extreme left or right does not behave as clickable inside of page"
I tried adding a link on page in page attachment. But found that when that specific link is right/ left aligned (approx within gap of 30px from right or left), it remains idle even though if you click on it. It does not redirect to given URL site. It works only when it's somewhere at center.

Here is an amp story, I am sharing. Please check and let us know how can we resolve? Or if it is a bug, th

[2021-06-18 08:28] edoudou commented on #34632
Because whatever template attribute I am using on the grid layer, I can't manage to position my items as their position are overwritten :
With template="fill" : https://join-dev.my.join-stories.com/story-amp-do-delete-xjDjbvE/?t=353
With template="vertical" : https://join-dev.my.join-stories.com/amp-do-not-delete-2-69I0rmg/?t=966

Or maybe their is just another kind of template not documented ?

[2021-06-18 14:19] #29324 closed

[2021-06-18 17:06] Ichigo3d opened #34921 "Animation of the STAMP stops to work after long hold and release in Chrome IOS 15"
### Description

Animation stops to work after long hold and release in the STAMP example in Chrome browser under IOS 15, AMP version 2106120107000

### Reproduction Steps

1) Make sure that you enable “Allow Cross-Website Tracking” feature in chrome.
2)  launch Chrome in incognito mode.
3) Opt-in to 2106120107000 in cdn.ampproject.org/experiments.html
4) open in new tab  https://www.gstatic.com/a

[2021-06-18 17:24] gmajoulet commented on #34632
There isn't, but shipping a new template that lets you do anything you want is much much easier and safer than making changes to pointer-events. Would that work for you?

[2021-06-18 17:27] gmajoulet commented on #34921
cc @ampproject/wg-stories

Have you seen similar issues with `amp-animation`, or is it contained to Stories?

[2021-06-18 17:58] gmajoulet commented on #34886
I just checked the encoding settings with both `ffprobe` and `mediainfo` in great details and they look good.

here's what I found tho:
- Does NOT play in Safari (even Desktop) https://pictures.topspeed.com/IMG/mp4/202106/it-took-more-than-40-29-4.mp4#t=0.001
- However, downloading the file and playing it directly in Safari DOES work
- Playing the file directly from my local server within a Story

[2021-06-18 18:12] #31513 closed

[2021-06-18 19:56] Ichigo3d opened #34928 "Page attachment feature doesn't work on mobile device under IOS15 and IOS14"
### Description

Page attachment feature doesn't work on real device on IOS 15.  Issue affects Safari and Chrome
PS: devices on IOS14.6 aren't affected this issue

### Reproduction Steps

1) go to https://www.gstatic.com/amphtml/stamp/qa/page-attachment.html
2) swipe from bottom to top
3) observe result

Actual result: Page attachment doesn't start after swipe.
This issue appear on Chrome and Safa

[2021-06-18 20:32] #34511 closed

[2021-06-18 20:53] #34762 closed

[2021-06-18 21:01] gmajoulet commented on #34928
cc @ampproject/wg-stories

[2021-06-19 03:17] #25820 closed

[2021-06-20 23:03] #19138 closed

[2021-06-20 23:03] #25572 closed

[2021-06-21 07:08] omerr132 opened #34934 "Navigation of top window from within iframe doesn't work in IOS"
### Description

When viewing an AMP page from the Google search results on IOS, navigating the top window from within iframes does not work, as if the 'allow-top-navigation' permission is not set (and it is).
This only happens in IOS, when viewing AMP pages from the Google search results app (not via the browser).
Tested on several iphones.

### Reproduction Steps

1. Use an iphone, and open the

[2021-06-21 09:22] edoudou commented on #34632
I need to check if this solution is ok for us, but I don't see any evident reason why not.

I'll try to get back to you with an answer before the end of the day.

[2021-06-21 10:24] ak1929 opened #34935 "Videos using amp-video-docking doesn't show docking controls when used with amp-next-page"
### Description

AMP videos, when used with amp-next-page, don't show docking controls or docking overlays. However, if a video is present before the amp-next-page setup, the subsequent videos in the list work fine.

### Reproduction Steps

Here's a Glitch example made using an existing amp-next-page example: https://obsidian-evergreen-november.glitch.me
Code: https://glitch.com/edit/#!/obsidian-e

[2021-06-21 11:12] goonydev commented on #34886
After deep digging into this, I found out my CDN provider has problem with videos on IOS devices. Thank you for your help, @gmajoulet  and sorry for taking some of your time for a non AMP related issue.

[2021-06-21 13:03] #34785 closed

[2021-06-21 13:31] Gott50 opened #34937 "[amp-analytics] missing Support for Session cookies"
### Description

Currently it is not possible to create Session cookies, because cookieMaxAge is only implemented to handle Number

Example:
<amp-analytics><script type="application/json">
{
        'cookies': {
          'cookieMaxAge': 604800, // 1 week in seconds
          'aCookie': {
            'value': 'testValue',
          },
        },
}
</script></amp-analytics>

I would like to create

[2021-06-21 14:19] micajuine-ho commented on #34937
@Gott50 Are you proposing to make the session expiration time indefinite? What is the use case?

[2021-06-21 14:31] micajuine-ho commented on #34934
@omerr132 When I try to load the page I get a 403 error, for the section of the page where I'm supposed to make the selections (I am in US).

If I'm understanding correctly, clicking the blue button should remove the iframe?

What mechanism are you using within the iframe to try to remove itself?

[2021-06-21 14:55] omerr132 commented on #34934
@micajuine-ho  Clicking on the blue button doesn't remove the iframe, it redirects the top window. You can see it in play here: https://www.google.com/amp/s/www.eshet.com/domestichotels/amp/. This is the exact same page,  only when you view it not in the context of IOS AMP viewer - it works.

[2021-06-21 15:37] micajuine-ho commented on #34934
![image](https://user-images.githubusercontent.com/30711678/122789093-cbf38580-d26b-11eb-9239-1edeacf9b10b.png)

I cannot see it.

[2021-06-21 15:42] omerr132 commented on #34934
I'll get them to open it.

As for your 2nd question - this is what's taking place when the blue button is clicked.

window.open(`${pathname}?${stringify(searchQuery)}`, "_top")

[2021-06-21 15:46] micajuine-ho commented on #34934
cc @ampproject/wg-components  @ampproject/wg-performance Does anyone have any ideas as to why this wouldn't work in the google results app?

[2021-06-21 16:29] omerr132 commented on #34934
+ it happens only on IOS. Here's a video of it working as expected in Android chrome https://drive.google.com/file/d/1Q28qXSVHjfDAlTyL8Ax9quXEWdhfxj8T/view?usp=sharing

[2021-06-21 16:32] alanorozco commented on #34934
This fails on the Viewer since the Google-level iframe that holds the AMP document lacks `allow-top-navigation`. (The `<amp-iframe>` has it set, but it has to be set throughout the whole nesting chain.)

It's a security concern why the top-level iframe cannot have the `allow-top-navigation` sandbox setting, so I'll defer to @ampproject/wg-security-privacy for that question.

@omerr132 Have you con

[2021-06-21 16:54] omerr132 commented on #34934
@alanorozco  -
+ Is this new? We encountered this issue for the first time last week even though the site has been live for longer.
+ As for amp-script, any solution that can't be implemented with an iframe will be a deal breaker unfortunately.
+ iframes are a versatile solution for many AMP sites, especially those who weren't built straight into AMP. Blocking this use case is a serious limitation

[2021-06-21 17:00] Gott50 commented on #34937
@micajuine-ho Yes, I would like to set a cookie without an `expires` value. This is called a session cookie.
https://www.cookiepro.com/knowledge/what-is-a-session-cookie/

Usually I would just set it with JS, like this:
`document.cookie = "cname=cvalue"`
but that is not possible in AMP :/

[2021-06-21 17:30] honeybadgerdontcare commented on #34934
@molnarg could you please address the question of why the top-level iframe cannot have the `allow-top-navigation` sandbox setting?

[2021-06-21 18:13] micajuine-ho opened #34942 "[amp-geo] Support iOS 15 Region level IP"
### Description

`amp-geo` will no longer be able to use the users' IP address on Safari to determine their country/state code. This will be large problem since `amp-geo` needs to be able to supply country code information for processes such as consent.

Safari proposes [`Sec-CH-GeoHash`](https://tfpauly.github.io/privacy-proxy/draft-geohash-hint.html) as a solution where IP addresses will be grou

[2021-06-21 18:15] micajuine-ho commented on #34649
Hi, I'd like to discuss how we being to use iOS 15 GeoHash Client Header to support `amp-geo` for Safari users: https://github.com/ampproject/amphtml/issues/34942

[2021-06-21 18:27] micajuine-ho commented on #34937
Is using the default 1year expiration period not desirable?

[2021-06-21 18:40] omerr132 commented on #34934
How do AMP elements which redirect into new pages, like Facebook, Twitter, etc. behave under this restriction?

[2021-06-21 18:43] alanorozco commented on #34934
@omerr132 I'd like to verify this difference by debugging your document.
Could you please let us know once the document inside the `<amp-iframe>` is accessible?

[2021-06-21 18:54] omerr132 commented on #34934
@alanorozco I will. Hopefully by tomorrow. I suspect it's an IP thing - so in the meanwhile please try to use a proxy.
Until then, I'd like to stress the significance of this restriction - even though iframe is not the optimal way to go about AMP, it is in fact used a lot, not only by us. This will break a whole lot of AMP sites, if it hadn't already.

[2021-06-21 19:17] alanorozco commented on #34934
@omerr132 I agree that this would ideally just work. Please be patient, I'm trying to understand the details.

I can't make an assessment without verifying the problem on a working page. I don't think it's advisable for me to configure a VPN on my personal iOS device in order to look at a single document, which I hope you understand.

Looking forward to debugging more once the document is accessib

[2021-06-21 19:34] gmajoulet commented on #34886
Glad you found the source of your issue! Can you let us know how you end up fixing it? Curious as to why it's not working since the content-type etc looks correct.

[2021-06-21 19:45] ericfs commented on #30838
It looks like this issue is resolved in iOS 15 which is still in beta.

[2021-06-21 20:11] Gott50 commented on #34937
unfortunately only Session cookies are allowed without asking the user, because of GDPR
https://en.wikipedia.org/wiki/General_Data_Protection_Regulation

[2021-06-21 20:17] micajuine-ho commented on #34937
I'm sorry, I'm a little confused. Are you only supposed to set the session cookie after you have consent from the user? Are you using amp-consent?

[2021-06-21 21:40] Gott50 commented on #34937
No, if the user has not consented yet we can only use session cookies, because they are not persistent.
After we have the consent of the user we can use "regular" cookies that last longer than the session (e.g. 1 year)

[2021-06-22 05:01] MadisonMiner opened #34946 "Self host entire specific runtime"
### Description

We use AMP across many projects.

Testing everything with the weekly release, or even monthly with LTS, is challenging.

When using AMP in PWA, we self host the AMP runtime, to ensure a more reliable and stable environment.

However, even when we self host the runtime and set `<meta name="runtime-host">,` some files (like ww.js) are always served from the AMP cache.

We would like

[2021-06-22 05:14] rebeccanthomas opened #34947 "[`amp-tiktok`] Fix race conditions and fix skippped text in amp-tiktok"
### Description

There are currently skipped test in amp-tiktok. These tests seem to be failing due to a race condition inside the test which is preventing the clock.tick() function from working as intended.

### Reproduction Steps

These issues in the amp-tiktok unit tests. They can be reproduced by removing the skip calls and running the unit tests.

### Relevant Logs

_No response_

### Browser

[2021-06-22 09:05] edoudou commented on #34632
Sorry for the tardiness of my response.

I don't think it is acceptable, as we are using divs to position other elements, so those divs will still be in the way :
For example, in this story, we use a div to make sure our border is always inside the screen, but never overflows outside the bleedzone : https://join-test.my.join-stories.com/bug-amp-do-not-change-OauFxLz/?t=072

What would be the other

[2021-06-22 13:36] omerr132 commented on #34934
@alanorozco This page shouldn't have access limitation:
https://convert.ampify.io/5f12e587a2a85c002884bfe5?u=https://www.eshet.com/domestichotels/

[2021-06-22 13:42] micajuine-ho commented on #34937
So you want to set a session cookie that is reset every time a user that has not consented enters a page?

What information do you want to store in the cookie?

[2021-06-22 13:48] sebastianbenz commented on #34949
//cc @ampproject/wg-stories

[2021-06-22 13:50] micajuine-ho commented on #34946
/cc @ampproject/wg-infra Is this something we offer/can offer?

[2021-06-22 14:16] caroqliu commented on #34859
It will be available in the next release.

[2021-06-22 14:28] samouri opened #34951 "I2D: Remove examiner.js (#development=2 mode)."
### Summary

**summary**
In https://github.com/ampproject/amphtml/pull/9260, we introduced a utility for easily seeing Long Tasks initiated by 3p frames. By adding `#development=2` to the address bar, we run the  "Examiner" script. It logs all of the Long Tasks occurring on 3p frames.

See removal draft here: https://github.com/ampproject/amphtml/pull/34941#issuecomment-865296448

### Motivation

[2021-06-22 14:37] processprocess opened #34953 "[Amp story player] [Desktop panels player] Experiment setup"
Set up experiment flag and file structure to code the desktop panels player feature.

[2021-06-22 14:39] cramforce commented on #34951
Approved

[2021-06-22 15:00] processprocess commented on #34949
Thanks for filing this @kamblenavnath and tagging us @sebastianbenz

This appears to be a regression in the page attachment due to the work in #31320.

Suggested fix, Don't run [this method](https://github.com/ampproject/amphtml/pull/31320/files#diff-2978d455c7ebcad28c69459ca8ad11d05a6ce6af1f68c55b5d23a3bd970ee96eR576) when the attachment is open.

Screenshot:
<img width="436" alt="Screen Shot 202

[2021-06-22 15:13] processprocess commented on #34949
Another idea would be to check if the clicked element is inside a page-attachment.

[2021-06-22 16:34] processprocess opened #34959 "`amp-story-desktop-one-panel` blurred background, get largest page image"
### Description

Get image on page that is intended to be a background image.
This could default to the story poster image for all pages.

This could be based on the [legacy method](https://github.com/newmuis/amphtml/blob/fb0e393f8c19dfcc997d93514a0d8817ccc7dc9a/extensions/amp-story/0.1/amp-story.js#L1124-L1145)

### Alternatives Considered

1. We could only trigger this if there is a `[template="

[2021-06-22 16:36] processprocess opened #34960 "`amp-story-desktop-one-panel` blurred background, scaffold class"
Create an empty class for blurred background logic.
This will need to be callable from the context of an amp-story or amp-story-player.

[2021-06-22 16:49] samouri commented on #34937
@Gott50: supporting a Session cookie sounds reasonable to me.
@micajuine-ho, do you think this FR should require an I2I or is it small enough to not need one?

[2021-06-22 16:58] processprocess opened #34962 "`amp-story-desktop-one-panel` blurred background, method to create and attach canvas"
Write method to create and attach the canvas element.
This method could receive a parent node as an argument.
It could save a reference to the canvas element for updating the image on the canvas.

[2021-06-22 18:16] processprocess opened #34967 "`amp-story-desktop-one-panel` blurred background, update canvas method"
Method to update the image on the canvas.
This method could receive an image as an argument.

It could be called in the switchTo_ method if we want to follow the same pattern as the [previous implementation](https://github.com/newmuis/amphtml/blob/fb0e393f8c19dfcc997d93514a0d8817ccc7dc9a/extensions/amp-story/0.1/amp-story.js#L861).

[2021-06-22 18:33] rsimha commented on #34946
@MadisonMiner I suspect this is due to AMP's 6 month retention policy for runtime versions. Any hard links to releases older than that are redirected to the current LTS version. You can find more details at the I2I at https://github.com/ampproject/amphtml/issues/25468, and the design review summary at https://github.com/ampproject/amphtml/issues/27071#issuecomment-600842762. Would it be possible f

[2021-06-22 18:34] Gott50 commented on #34937
This use case is really necessary in the EU because of GDPR and we need that feature ASAP. That's why I have also implemented the solution already. It is a really simple and short fix.
https://github.com/ampproject/amphtml/pull/34938

Please let me know, if there is anything else I can do to help with the Release of this Feature.

[2021-06-22 18:47] micajuine-ho commented on #34937
@Gott50  I'm still confused about what this feature entails, looking at your PR, you're setting a cookie with no expiration, and that doesn't really make sense to me, within the context of the CookieWriter module and your use case.

Can you please explain what information do you want to store in the cookie?

@samouri It would at least need to be taken to design review, since we're dealing with sto

[2021-06-22 18:55] caroqliu opened #34969 "I2I: Consolidated `1.0` `amp-facebook`"
## Summary

This I2I proposes consolidating `amp-facebook:0.1`, `amp-facebook-comments:0.1`, `amp-facebook-like:0.1`, and `amp-facebook-page:0.1` into a single `amp-facebook:1.0` component.

## Design Document

### API impact
The `amp-facebook` component currently supports a required `data-embed-as` attribute with value `post|video|comment`. This proposal involves allowing three more embed types:

[2021-06-22 18:56] samouri commented on #34937
@micajuine-ho, according to [mdn docs on cookie.set](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/cookies/set#parameters), a cookie without an `expirationDate` is a "session cookie".

I agree that this should be brought to design review though, even if just to formalize/agree upon the API.

[2021-06-22 18:58] caroqliu commented on #34649
Hello, I would like to get feedback on #34969!

[2021-06-22 19:13] honeybadgerdontcare commented on #34946
@sebastianbenz regarding self hosting.

[2021-06-22 19:20] Ichigo3d commented on #34928
I've checked it on mobile views of desktop browsers and this feature doesn't work

[2021-06-22 19:29] #26823 closed

[2021-06-22 19:37] samouri commented on #34649
I'd like to discuss https://github.com/ampproject/amphtml/issues/34951

[2021-06-22 19:42] samouri opened #34971 "Self-hosted AMP using CDN version of ww.js"
### Description

When on self-hosted AMP, the Runtime should use the self-hosted version of `ww.js` instead of deferring to the CDN

### Reproduction Steps

1. Create a test page
2. Set Runtime host via `<meta name="runtime-host">`

[2021-06-22 19:49] samouri opened #34972 "🚄 Tracking issue for release 2106182132000"
### Release Version

2106182132000

### Previous Release Version

2106120107000

### Release Progress

This issue tracks release [2106182132000](https://github.com/ampproject/amphtml/releases/tag/2106182132000). See [new commits](https://github.com/ampproject/amphtml/compare/2106120107000...2106182132000) since the previous Stable channel release.

- [x] Release `2106182132000` promoted to Experim

[2021-06-22 20:03] Francisco-AM commented on #33990
The arrival of ga4 would be incredible, does it have a date?

[2021-06-22 21:13] processprocess commented on #34928
Hi Matvei, thank you for testing and reporting this.

The page-attachment is working as expected.
The page-attachment now opens to the max height of the content.
In this example there is one line of text so the attachment only opens a small amount.
We will update the example story to explain this behavior.

[2021-06-22 21:23] #34928 closed

[2021-06-22 21:39] MadisonMiner commented on #34946
@rsimha, we did upgrade to a new version last night. That did correct the issue. Thank you for checking on questions #1 and #2.

[2021-06-22 21:53] rsimha commented on #34946
That's excellent to hear, @MadisonMiner. Thanks for letting us know, and sorry about the additional trouble.

Meanwhile, I do have an update on the questions raised by this bug.
1. We've identified the cause of the incorrect `ww.js` redirect to `amp-geo.js`. It due to how our serving redirections for deprecated AMP /rtv/ requests worked, and a fix has already been checked in. It will be a few days

[2021-06-22 22:10] mszylkowski opened #34976 "`amp-story-desktop-one-panel` make share menu consistent between mobile and desktop"
### Description

When on mobile, the share menu is a draggable drawer. When on desktop, the share menu is a modal.
For the unified one-panel experience, we should make the share button behave consistently.

![image](https://user-images.githubusercontent.com/22420856/123005878-d48baf00-d384-11eb-9387-efffcc45049e.png)
![image](https://user-images.githubusercontent.com/22420856/123005895-da819000-d3

[2021-06-22 22:17] alanorozco opened #34977 "wg-components Office Hours 2021-07-20 18:00 UTC / 11:00 PST"
Time: [18:00 UTC / 11:00 PST](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=05&day=18&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Office%20Hours%20(wg-components)&dates=20210518T180000Z/20210518T18.50000Z&details=https%3A%2F%2Fmeet.google.com%2Fspd-oowj-ndo))
Location: [Video conference via Google Meet](https://meet.google.c

[2021-06-22 22:29] kristoferbaxter commented on #34946
It looks like #34971 covers the remaining work on this item. Closing this issue.

@rsimha – Should we add some additional guidance regarding the 6 month timeline for allowed access to releases from the Google CDN?

[2021-06-22 22:29] #34946 closed

[2021-06-22 22:37] MadisonMiner commented on #34946
@rsimha, can you share any more information regarding fixing ww.js redirecting to amp-geo.js? A link to reference would be helpful.

Thank you!

[2021-06-22 22:39] samouri commented on #34971
@MadisonMiner: do you have any sample documents to help me reproduce this issue?
I just created one locally and am seeing `ww.js` get requested from example.com as expected (yes, using shadow-v0.js as well).

![Screen Shot 2021-06-22 at 6 38 24 PM](https://user-images.githubusercontent.com/4656974/123008555-13236880-d389-11eb-833b-8c736ce17dd8.png)

Note: the reason it is a `307` on my machine is

[2021-06-22 22:40] #34882 closed

[2021-06-23 00:01] MadisonMiner commented on #34971
@samouri,  here is a sample page:
https://www.bedbathandbeyond.com/

![image](https://user-images.githubusercontent.com/13069628/123014601-74443f80-d37b-11eb-8828-26ecc98d033d.png)

[2021-06-23 00:03] MadisonMiner commented on #34971
@samouri, also, I should mention that ww.js being served from the cache is new. Not sure when it started, but was not happening in v 011911062056110.

[2021-06-23 00:19] newmuis commented on #34977
(nit: should this be in the https://github.com/ampproject/wg-components repo?)

[2021-06-23 00:20] newmuis commented on #34928
/cc @raxsha who is working on updating the manual QA test cases for the new CTA features

[2021-06-23 00:56] #15502 closed

[2021-06-23 11:19] samouri commented on #34971
@MadisonMiner, is this happening on all of your apps or just this one specifically?

After some debugging, I noticed an issue in how bedbathbeyond.com loads. As the `shadow-v0.js` script executes, the `<meta name=runtime-host ...>` node is present. By the time `amp-bind-0.js` executes, it appears as if the `<head>` has been modified and the meta tag is missing. I'm not sure which JS on the page is

[2021-06-23 14:25] processprocess opened #34982 "`amp-story-page-outlink` fallback for invalid `cta-image` attribute URL"
### Description

The default link icon could show and a warning could display in the console.
When it's currently empty, an empty space displays:
<img width="257" alt="Screen Shot 2021-06-23 at 10 20 50 AM" src="https://user-images.githubusercontent.com/3860311/123114376-40195f00-d40d-11eb-9a17-945d21818095.png">

### Alternatives Considered

alternate 1. No image could display. This might be a go

[2021-06-23 14:31] processprocess opened #34983 "`amp-story-page-outlink` default value for `cta-accent-color` attribute"
### Description

When `theme="custom"` is specified without a `cta-accent-color` value, color values are null and this is the result:
<img width="353" alt="Screen Shot 2021-06-23 at 10 27 03 AM" src="https://user-images.githubusercontent.com/3860311/123115358-0c8b0480-d40e-11eb-9e83-1d6918eb4a80.png">

We could give default values to the css variables and throw a warning.
<img width="531" alt="Scr

[2021-06-23 15:04] rcebulko opened #34986 "Changes to `forbidden-terms.js` now get checked during `check-owners --local_changes` and fail"
![image](https://user-images.githubusercontent.com/6694512/123120901-b2407280-d412-11eb-9260-db5c8762dbc0.png)
Link: https://app.circleci.com/pipelines/github/ampproject/amphtml/11859/workflows/1e993bd7-06fe-4004-88fd-d7125f23fd85/jobs/188124

/cc @ampproject/wg-infra

[2021-06-23 15:15] natoinet commented on #6222
Any update on that matter? I tried hiding the horizontal scrollbar with the css styling as stated but it is still visible (it actually looks like an iframe in the middle of a -beautiful- page...)

[2021-06-23 15:50] rsimha commented on #34986
Looks like the `forbidden-terms.js` logic should live in `lint.js` and not in the helper function.

Assigning to @rileyajones.

[2021-06-23 15:59] Ichigo3d opened #34990 "AMP-carousel v 0.2 and 0.1 doesn't slide while user try to swipe it on IOS15"
### Description

When user try to swipe slides in any the left or the right directions, carousel works unstable: sometimes user have to swipe from edge to edge the screen, or carousel try to switch to next slide but unexpectedly coming back on previous slide.   On IOS 14.6, this behavior doesn't appear.

### Reproduction Steps

1) go to https://www.sfgate.com/warriors/amp/Klay-Thompson-D-Angelo-Ru

[2021-06-23 16:06] goonydev commented on #34886
Our CDN provider is Cloudflare, which does not support sending video files using byte-stream. They do not want you to use their regular services to host video files unless you subscribe to specific plans.

IOS devices seem to block videos without the byte-stream, while other devices don't seem to care and will just download each video fully. This is why we had the bug on IOS devices only. Why was

[2021-06-23 16:15] MadisonMiner commented on #34971
@samouri, thank you for pointing out that race condition. We will investigate.

[2021-06-23 16:29] processprocess opened #34991 "`amp-story-page-attachment` min height for drawer"
### Description

Set a minimum opening height on the drawer so that it doesn't look broken when there is a small amount of content:
<img width="446" alt="Screen Shot 2021-06-23 at 12 29 13 PM" src="https://user-images.githubusercontent.com/3860311/123134283-a0fd6300-d41e-11eb-9306-272ab482d351.png">

[2021-06-23 16:35] #34870 closed

[2021-06-23 16:35] kristoferbaxter commented on #34870
This was resolved with a change by the Google Search Team.

[2021-06-23 16:42] github-actions[bot] opened #34992 "Design Review 2021-07-14 20:00 UTC (Americas)"
Time: [20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=07&day=14&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210714T200000Z/20210714T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-06-23 16:52] #34991 closed

[2021-06-23 17:03] gmajoulet commented on #34886
Thanks for updating us. Let's do the following to move forward:
- Plz use any other video CDN or host that works on iOS
- Plz contact us/me on Slack to get early docs on the `cache="google"` (if anyone else sees this comment feel free to reach out as well) so it reduces your bandwidth costs

[2021-06-23 17:15] goonydev commented on #34886
I don't know what Slack is and how to reach you there. But I am interested in the cache="google" feature.

[2021-06-23 18:00] gmajoulet commented on #33896
Closed by https://github.com/ampproject/amphtml/pull/34570

[2021-06-23 18:00] #33896 closed

[2021-06-23 20:30] morsssss opened #35004 "amp-render doesn't accept "template" attribute"
### Description

The new `<amp-render>` includes a `template` attribute, allowing developers to render data using a `<template>` element referenced by `id`, like this:

[code]

When I tried this, though, the template didn't render. And I got a validation error:

`The attribute 'template' may not appear in tag 'amp-render'.`

/cc @dmanek

### Reproduction Steps

Try the HTML above!

### Relevant Lo

[2021-06-23 20:47] eavonius opened #35005 "Add amp-analytics support for activecampaign"
### Description

The popular email marketing software, [activecampaign](https://www.activecampaign.com/), allows [site tracking via a javascript snippet](https://help.activecampaign.com/hc/en-us/articles/221493708-How-to-set-up-Site-Tracking) added to the page.

It offers typical parameters for event tracking as well.

This is a request to add support for it in amp-analytics.

If this is the wrong

[2021-06-23 20:55] honeybadgerdontcare commented on #34951
Do it.

[2021-06-23 20:58] kristoferbaxter commented on #34951
Great idea, let's move forward.

[2021-06-23 20:59] caroqliu commented on #34969
Resolution from design review:
- `amp-facebook:1.0` will add support for `data-embed-as=post|video|comment|comments|like|page` to simplify usage.
- `amp-facebook-{comments|like|page}` will be exposed with 1.0 versions and registered with a consolidated `amp-facebook` extension binary, so upgrading versions will look as follows:
[code]
- We will not be making any modifications to cache behavior to

[2021-06-23 21:05] #34649 closed

[2021-06-23 21:55] twifkak commented on #34649
Notes on the PSL experiment on Google:
1. Concern that that entries are cached at the first serving tier and not sufficiently at the second tier. The experiment adds the query param to the URL but doesn't remove it until the second tier, so it's subject to confounds from the lower first-tier cache hit rate in the experiment arm. As a post meeting follow-up, I forgot to mention that we'll disable f

[2021-06-23 22:58] #34986 closed

[2021-06-23 23:03] #34951 closed

[2021-06-23 23:04] samouri commented on #34951
Closed via #34941

[2021-06-24 02:19] fewcentsdev commented on #31854
Hi @dvoytenko  / @lannka , @mbarinov has left the project and we will be taking over this intent to implement. Please change the assignee accordingly if required. Thanks for your help so far. We will reach out to you in case we have any questions or we want to raise a PR

[2021-06-24 03:50] #35004 closed

[2021-06-24 12:49] processprocess opened #35016 "[Amp story] [Animation presets] pan-down, pan-up portrait ratio image position not displaying correctly"
### Description

This appears to be happening with portrait images with `layout="responsive"` for the `pan-up` and `pan-down` presets.

[Demo story](https://stories.nws.ai/amp/1288491817/test-pan-effect-adrian/#page=201c9eb1-9347-4ad2-92f7-f4833fb61984
<img width="490" alt="Screen Shot 2021-06-24 at 8 46 23 AM" src="https://user-images.githubusercontent.com/3860311/123265153-bdee7080-d4c8-11eb-87e

[2021-06-24 15:39] numannaufal opened #35018 "amp-youtube performance"
### Description

We implement <amp-youtube /> but it makes performance drop indicated by low score web-vital, specifically LCP. 480 KB /base.js (youtube.com) with just potential saving to 358 KB. embed-player.js (64KB), potential saving 33.5KB. I expect everything module I use from the AMP site should give the best performance. So the request is: Improve the module performance so It doesn't give a

[2021-06-24 16:45] newmuis commented on #34982
+1 to using the default link icon + warning

[2021-06-24 17:14] erwinmombay commented on #35018
@numannaufal would you mind giving me a specific page that i can inspect?

[2021-06-24 17:36] erwinmombay commented on #34491
@hisureshkumar would you mind confirming this is still an issue? i tried reproducing the steps and `myinvestmentideas.com` seems to be loading for me

[2021-06-24 17:46] erwinmombay commented on #34491
also if possible would you mind giving me your iOS version as well as the version of the the Google Search App

to get the iOS version:
Settings > General > About > Software Version

to get the Google Search App version:
Settings > General > iPhone Storage > Google > Version

[2021-06-24 18:13] #34839 closed

[2021-06-24 18:19] ychsieh commented on #30631
Closing this issue since we are no longer pursuing assistjs extension.

[2021-06-24 18:19] #30631 closed

[2021-06-24 18:34] hisureshkumar commented on #34491
IOS verison 14.6Google Search App 159.1
    On Thursday, June 24, 2021, 11:16:17 PM GMT+5:30, erwin mombay ***@***.***> wrote:

also if possible would you mind giving me your iOS version as well as the version of the the Google Search App

to get the iOS version:
Settings > General > About > Software Version

to get the Google Search App version:
Settings > General > iPhone Storage > Google > Vers

[2021-06-24 18:34] hisureshkumar commented on #34491
Its still not loading
    On Thursday, June 24, 2021, 11:06:50 PM GMT+5:30, erwin mombay ***@***.***> wrote:

@hisureshkumar would you mind confirming this is still an issue? i tried reproducing the steps and myinvestmentideas.com seems to be loading for me

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-24 18:39] jessikakamila commented on #24621
Hello everybody!
Any news about the timeline or any updates on this? It's really important for my business.

[2021-06-24 18:52] ychsieh opened #35024 "Intent-to-Remove: assistjs extension"
### Summary

We've been running an experiment for the assist.js project and based on the results have recently decided not to move forward with it. At this point we're starting to turn things down.

See details of this feature in I2I:  #30631

### Intent-to-Deprecate (I2D) Issue

The issue is never launched or used.

### Rollout Plan

Should be okay to do a one-time removal for all relevant code.

[2021-06-24 19:19] #34734 closed

[2021-06-24 19:22] kristoferbaxter commented on #34946
@MadisonMiner The redirect issue was an internal Google issue impacting requests for versions >6 months old.

@danielrozenberg might be able to answer additional questions.

[2021-06-24 19:35] MadisonMiner commented on #34971
@samouri, thanks again for pointing our the race condition. We've ensured the `meta name=runtime-host` tag is always present and that fixed the issue!

[2021-06-24 20:03] kristoferbaxter commented on #35024
Approved.

[2021-06-24 21:02] samouri commented on #34971
Glad to hear it :). I'll close this now, since I wouldn't quite call the current behavior a bug -- but instead it is veering into an area with undefined behavior. I'll continue to followup with aligning all the extensions with the version of `cdn` decided by shadow-v0.js in https://github.com/ampproject/amphtml/pull/34980

[2021-06-24 21:02] #34971 closed

[2021-06-25 05:36] tarun7886 commented on #24492
Still facing the same issue in normal AMP pages.
Link https://public.app/amp_video/sp_elvdrim4x2h0s

[2021-06-25 11:33] erwinmombay commented on #34491
@hisureshkumar do you happen to have any content blockers installed?

[2021-06-25 14:32] hisureshkumar commented on #34491
No. I did not installed any content blockers
    On Friday, June 25, 2021, 05:03:46 PM GMT+5:30, erwin mombay ***@***.***> wrote:

@hisureshkumar do you happen to have any content blockers installed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-25 15:38] Ichigo3d opened #35039 "Url box overlaps the "Activate 360" button on Safari IOS 15"
### Description

Apple changed UI on Safari mobile browser and moved the URL box from the top to the bottom of page. And this movement overlaps "Activate 360" button for amp stories with 360 degrees videos.

### Reproduction Steps

Preconditions: Make sure that you have IOS 15 on board on real device. Simulators and emulators or mobile view of desktop browsers don't have physical gyroscope.

Steps

[2021-06-25 16:04] processprocess commented on #35039
Thanks for filing this Matvei,
We will have a similar problem with out CTA buttons. As a format we will need to decide on a pattern for how we want to approach UI that's positioned at the bottom of the screen on iOS15. The "Activate" button will follow this pattern once we nail it down.

[2021-06-25 16:19] danielrozenberg commented on #30954
The change I made yesterday to add this to the CDN broke our release build, as the CDN refuses to serve files that include a `~` character - would it be easy to change the names of output files to not include a tilde?

[2021-06-25 17:21] processprocess commented on #34316
The demo story in [this PR](https://github.com/ampproject/amphtml/compare/main...processprocess:cta-demo-story?expand=1) Has use-cases of each configuration and can be used for cleanup.
It's the files from the [cta demo story](https://wsdemos.uc.r.appspot.com/cta-buttons)

[2021-06-25 17:43] rsimha opened #35042 "Consider enabling `forceReturnsWithAsync` for the `require-returns` lint rule"
This is something I noticed a while ago while fixing type check errors.

We use the [`require-returns`](https://www.npmjs.com/package/eslint-plugin-jsdoc#require-returns) jsdoc lint rule to enforce return types. However, this does not apply to async functions. Last I checked, there were ~100 such spots.

I wonder if this lowers the effectiveness of type checking. If so, can we set the `forceReturn

[2021-06-25 20:04] AaronMLB commented on #32477
Hi @dmanek and any other `amp-render` contributors.

I was fearing I've been trying to do something that is inherently impossible, but having now seen the `template` attribute validation issue and newness of `amp-render` generally, I wonder if I may have found a bug? Or both. Or a.n. other.

I have documented my problem at [StackOverflow](https://stackoverflow.com/questions/68070690/amp-html-amp-r

[2021-06-25 23:22] #23176 closed

[2021-06-26 14:00] AaronMLB opened #35054 "amp-render stuck at zero height"
### Description

I was fearing I've been trying to do something that is inherently impossible, but having now seen the `template` attribute validation issue and newness of `amp-render` generally, I wonder if I may have found a bug? Or both. Or a.n. other.

**If it's not a bug and I'm just being an idiot, please feel free to delete/close/whatever this issue!**

I have documented my problem at [Stac

[2021-06-26 20:19] heydarkatz commented on #34795
@micajuine-ho

Hi. The issue posted here happens to us.

We have two separate UA accounts per story as we put our tracking and our clients tracking in the story. 
The events don't appear in both accounts. 

Let me know if you want me to add any more information to help identify the issue here.

[2021-06-27 05:46] #26163 closed

[2021-06-27 06:48] ampprojectbot opened #35055 "🚨 Error: No ampdoc found for [object HTMLHtmlElement]"
Details
---
**Error report:** [link](http://go/ampe/CM_k97Pz35OC-AE)
**First seen:** Jul 30, 2020
**Frequency:** ~ 154/day

Stacktrace
---
<pre><code>Error: No ampdoc found for [object HTMLHtmlElement]
    at error-no-ampdoc-found-for-object-htmlhtmlelement.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-06-27 16:30] omerr132 commented on #25755
@jridgewell Any update on this? As of now we still get iframes blocked with this error message.

I'm not sure why - but this happens only to iframes that are inside lightboxes. The same iframe on the page itself doesn't get blocked .

[2021-06-28 04:23] CesarApodaca1 opened #35056 "Allow Fluid size as secondary size larger than primary size"
### Description

Not sure if this should be a new feature request or bug request (or if I'm missing something), but currently when I set fluid as secondary size, the size is limited by the primary size.

I have something like this:
`<amp-ad
      width="300"
      height="250"
      data-multi-size="fluid"
      ...
</amp-ad>`

When the Fluid size is returned it takes the width of the primary size

[2021-06-28 07:29] Themwhiskers opened #35057 "Overflow issue with an amp compatible theme"
### Description

Hey there, me and my company recently launched a new news-website using the buyad Smart-Mag theme. The theme is amp-compatible and comes with the proprietary buyad amp-plugin pre-installed, the amp pages it produces look amazing, save for the fact that the page has a terrible overflow issue. Me (the SEO of the company) and our programmer are at a loss as to how to fix this issue,

[2021-06-28 08:27] edoudou commented on #34632
Hi guys,

Any more ideas to consider so we can move on on this issue ?

[2021-06-28 08:56] icann2005 commented on #34491
No any

[2021-06-28 09:49] aeroplanejane opened #35060 "Deferred loading of AMP advertising with AMP-GEO check is impacting CWV score"
### Description

We currently display ads to users on WS pages outside of the UK only. e.g. https://www.bbc.com/afrique
We use amp-geo to determine the location of the use, before we display advertising.

- On AMP pages for WS we have to wait for the amp-geo script to load in which removes the amp-geo-loading class, which in turn stops hiding the ad component
- We can’t make the amp-geo script blo

[2021-06-28 16:45] #35042 closed

[2021-06-28 20:15] dmanek commented on #35054
Hi @AaronMLB thanks for reporting this. From your description and the thread on [stack overflow](https://stackoverflow.com/questions/68070690/amp-html-amp-render-is-rendering-content-at-zero-height) it seems like your trying to place amp-render in the middle of the page and have the runtime size it correctly, This is not possible as it will cause layout shift.

However, there is another approach y

[2021-06-28 20:17] estherkim opened #35065 "Automate status page updates for on-duty"
This tracks the effort to sync status.amp.dev with the progress of cherry-picks, which will be recorded on cherry-pick requests.
- [x] #35141
- [x] #35145
- [x] Create repo environment and tokens for status page, ampprojectbot
- [x] #35166

[2021-06-28 20:32] micajuine-ho commented on #35005
Hi @eavonius  thanks for your issue report.

Please see this guide on how to integrate an analytics vendor. https://github.com/ampproject/amphtml/blob/main/extensions/amp-analytics/integrating-analytics.md

Is this something that you would be able to contribute?

[2021-06-28 21:28] dmanek commented on #34664
Closing this issue since it's not on AMP.

[2021-06-28 21:28] #34664 closed

[2021-06-28 21:42] ericfs commented on #34491
Filed Google internal: b/192285255

[2021-06-28 22:08] eavonius commented on #35005
Hey @micajuine-ho maybe at some point, but not currently. I don't work for activecampaign (just to clarify).

Reading that article, it sounds like working directly with the vendor is how you would get this done?

I could reach out to activecampaign and ask them if they are considering it as a feature request too.

[2021-06-28 23:00] adamsilverstein commented on #18123
@adekbadek - The feature discussed in #31513 is more about the top sticky on mobile unit, where a thin ad unit sticks across the top of the mobile viewport, right?

This issue and [discussion](https://github.com/ampproject/amphtml/issues/18123#issuecomment-429694809) are about an ad in the side bar/rail that sticks to the top as the user scrolls down the page. Generally this can be achieved by pla

[2021-06-28 23:01] rileyajones commented on #34992
I would like to discuss my design document on [Keeping AMP Tests Fast](https://docs.google.com/document/d/1o9AaJ8-eKMRxcrLrqLQwF5ZUJeV8AELu4uT8mdec9wI)

[2021-06-29 07:04] erwinmombay commented on #35060
cc @ampproject/wg-monetization for visibility

[2021-06-29 08:24] adekbadek commented on #18123
Yes, looks like it.

[2021-06-29 11:35] AaronMLB commented on #35054
Thanks @dmanek, that's what I feared - but it feels like such a common thing to want to do, I wanted to double check.

The `amp-render` is indeed in the middle of the page, although sufficiently far enough down that it will be below the fold on all but the most extremely elongated portrait viewport, so I'd hoped maybe there was a calculation to allow the (potential) shift of what is out of view.

[2021-06-29 11:51] cpauwels opened #35067 "Enable Private Click Tracking, Attribution Reporting API and Ping on `a` tags"
### Description

As the web is transitioning to becoming more private, new technologies are emerging to enable private click tracking and click attribution. This is done with attributes on `a` link tags. Unfortunately, implementing these private click tracking methods invalidates AMP pages.

Please consider enabling the following attributes on `a` tags:

* `impressiondata`
* `conversiondestination

[2021-06-29 14:09] VelinGeorgiev opened #35068 "amp-date-picker src does not send TIMEZONE"
### Description

When I attempt to sent TIMEZONE in the src of the amp-date-picker the TimeZone does not get picked from amp variables. Instead "TIMEZONE" as plain string is passed to the request. This will not allow me to identify user's timezone and will not allow me to send back the exact blocked, highlighted dates.

[code]

### Alternatives Considered

Make amp-date-picker src attribute recogn

[2021-06-29 16:49] samouri commented on #34383
I think [this PR](https://github.com/ampproject/amphtml/pull/35070) will fix the issue

[2021-06-29 18:07] dmanek commented on #32477
The above issue is being tracked in #35054.

[2021-06-29 18:11] dmanek commented on #35054
@AaronMLB perhaps you can try `layout="container"` once it's rolled out in the next couple of weeks. In the meanwhile, do u have a sample on glitch or jsbin I can take a look at?

[2021-06-29 18:23] micajuine-ho commented on #30860
Closed in https://github.com/ampproject/amphtml/pull/34841

[2021-06-29 18:23] #30860 closed

[2021-06-29 18:59] AaronMLB commented on #35054
Thanks @dmanek. I've not used either before so bear with me. Hopefully this is what you need, referring to the 'key details' section in the middle of the page:
https://jsbin.com/calalohobo/edit?html,output

The returned JSON would be something like:
`)]}\*{"isAuthorised":true,"array":[{"urlTag":"page-one","title":"Another Page"}]}`

[2021-06-29 19:33] micajuine-ho commented on #32748
@ptrickney  I believe this is the same issue:
https://github.com/ampproject/amphtml/issues/30049

It was fixed in https://github.com/ampproject/amphtml/pull/30402, which allows the iframe to run in the background for 1 second after it is closed. This should give you enough time to send the response back to your servers.

Please let me know if it is sufficient.

[2021-06-29 19:34] micajuine-ho commented on #35005
Yes that would be best.

[2021-06-29 19:35] micajuine-ho commented on #34471
Closing now.

[2021-06-29 19:35] #34471 closed

[2021-06-29 19:39] micajuine-ho commented on #34300
Closing now.

[2021-06-29 19:39] #34300 closed

[2021-06-29 19:48] micajuine-ho commented on #26229
Hi @opencmp, this sounds reasonable, can we create a separate GH issue for it?

[2021-06-29 20:06] rcebulko opened #35074 "🚄 Tracking issue for release 2106260436000"
### Release Version

2106260436000

### Previous Release Version

2106182132000

### Release Progress

This issue tracks release [2106260436000](https://github.com/ampproject/amphtml/releases/tag/2106260436000). See [new commits](https://github.com/ampproject/amphtml/compare/2106182132000...2106260436000) since the previous Stable channel release.

- [x] Release 2106260436000 promoted to Experimen

[2021-06-29 20:13] MohammedMamunurRashid opened #35075 "Online Time Travel News Net"

[2021-06-29 22:38] Gregable commented on #35067
@alanorozco @kristoferbaxter The validation change is easy to do. Would like your approval on the policy of whether or not we want these.

[2021-06-30 00:57] #26166 closed

[2021-06-30 00:57] #26167 closed

[2021-06-30 00:57] #21337 closed

[2021-06-30 00:57] #26150 closed

[2021-06-30 02:23] #35075 closed

[2021-06-30 02:59] kristoferbaxter commented on #35067
Need a chance to review the spec and ask a few questions. I'll try to respond tomorrow.

[2021-06-30 06:09] #25022 closed

[2021-06-30 06:32] hugojay commented on #34666
@micajuine-ho Hi, we use linkers for our e-commerce site tracking conversions from ad to transactions. This change break our conversion report recently since our amp page no longer pass params through linkers to non-amp shopping cart page. We look forward to https://github.com/ampproject/amphtml/pull/34821 that should bring our tracking code back by `sameDomainEnab`. 🙏

btw, you shall also update

[2021-06-30 10:12] lokesh14v commented on #24621
+1

[2021-06-30 13:31] omar-dulaimi commented on #24073
Hello @wassgha
Is there any documented reason why the new tab gets blocked on firefox(but working on chrome)?

[2021-06-30 14:33] Francisco-AM opened #35084 "amp live no update"
### Description

I already know that amp live has a limit to be valid of 16 seconds and that it can be updated every 8 seconds but I am creating a live form and I need it to update every less time it is for an AMP page within the account section I do not need that let amp be valid because I am not going to index it

### Reproduction Steps

amp-live-list data-poll-interval="3000" data-max-items-per

[2021-06-30 15:54] erwinmombay commented on #35060
met with the ads team briefly to discuss this. had a few questions @aeroplanejane, are y'all generally OK with doing the reserve spacing? and 2nd, while tracing we saw the ad render twice and it collapsing briefly while rendering the 2nd time (we're looking into this). This doesn't seem to be the desired behavior so we're looking if this is a bug on our end or if this triggered by something on the

[2021-06-30 16:25] aeroplanejane commented on #35060
@erwinmombay we're looking at reserved spacing as temporary solution. About 1.4% of our total amp traffic to WS is in the UK (1.5m visits in the last 30 days) An empty space where we could be showing our content _is not ideal_  We do also want to look at a solution for our News and Sport AMP pages e.g. https://www.bbc.com/sport/football/56671015.amp The volume of traffic is significant and UK acco

[2021-06-30 16:39] rishnarang commented on #34795
Thanks @heydarkatz

@micajuine-ho does the previous comment help? Appreciate any help on this.

[2021-06-30 16:43] github-actions[bot] opened #35085 "Design Review 2021-07-22 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=07&day=22&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210722T000000Z/20210722T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-06-30 16:47] gmajoulet commented on #34795
@micajuine-ho could you assign a new owner for this please? This is an important issue for us

[2021-06-30 16:59] micajuine-ho commented on #34795
@heydarkatz Thanks for explaining the context, that helps a lot.

@rishnarang or @heydarkatz do either of you have a minimal reproducible case? i.e. something in Jsbin?

@gmajoulet I'll keep working on it and assign a new owner if it is not solved by the time I depart.

[2021-06-30 17:51] dmanek commented on #35054
@AaronMLB thanks for sample jsbin. `layout="container"` works in this case when `amp-render` is below the fold.

[2021-06-30 18:13] AaronMLB commented on #35054
Great! I'll look forward to the rollout. Thanks @dmanek, your time is appreciated.

(As an aside, if it's helpful to anyone of the context of the problem, the site is being being AMP-first and AMP-only, without a regular HTML variant - self-canonical.)

[2021-06-30 19:43] micajuine-ho commented on #33430
@eduardcotmrf In the link you provided, the `amp-analytics` element in the `amp-next-page`'s child page contains this config:
[code]
Which does not have a `${documentReferrer}` variable, so it's hard to test.

However, even when I do test it out locally, the document referrer works on both the host page and the child page.

I'm curious, is this happening with a viewer context?

[2021-06-30 20:15] honeybadgerdontcare commented on #30954
Given that this is a test framework, is there a reason it needs to be served from `cdn.ampproject.org` as opposed to something like `amp.dev`?

Should all AMP caches serve this directory as well?

[2021-06-30 20:56] dmanek commented on #32477
Code complete. Closing.

[2021-06-30 20:56] #32477 closed

[2021-06-30 21:24] heydarkatz commented on #34795
@micajuine-ho
https://stories.wnba.com/games/1022100092.html

[2021-06-30 21:54] micajuine-ho commented on #34795
@zikas Do you you think you could take a look at this?

@gmajoulet  and I have confirmed that the `Page Visible events` are being sent from the client, but it seems like they aren't being picked up by GA. Do you have any idea why this might happen?

[2021-06-30 23:20] kristoferbaxter commented on #34777
Cancelling this occurrence, there are no topics to discuss.

[2021-06-30 23:20] #34777 closed

[2021-07-01 01:24] Taylor341 opened #35096 "Veteran Token Website in Google Search Uses AMP and looks totally wrong"
### Description

When I search "veteran token" in google search on google chrome on a mobile device, the correct website comes up, theveterantoken.com, but it is the amp version, and when I pull it up, it looks completely messed up. I am the owner of the website and want to fix the AMP or have the AMP removed from the google search result so people won't see a broken version of my website.

### Re

[2021-07-01 04:12] philipwatson opened #35097 "Support parameters in amp-script RTC fetching"
### Description

So the javascript function can get a bit of context information regarding the amp-ad. For example, a slot id.

Macro support will also help.

Not sure what the URL would look like. Perhaps:
[code]

### Alternatives Considered

Can get the info via analytics.

But info for a specific amp-ad element, like slot id, will not work when working with more than one ad. At least when wanti

[2021-07-01 09:17] madan-mayank opened #35099 "Master frame selection for amp-ad 3p vendors"
### Description

## Expected Behavior
One of the frames should be selected as master frame
## Actual Behavor
All the frames are selected as master frames in chrome v91

https://github.com/ampproject/amphtml/blob/main/3p/ampcontext-integration.js#L39 throws a security error even if the frame of the passed name is present in chrome v91. This causes every frame to become master frame

### Reproductio

[2021-07-01 17:22] kristoferbaxter commented on #35067
Only one question for @alanorozco, can we verify these attributes do not break linker behaviour for analytics purposes?

Everything else seems like a nice win for privacy on the web.

[2021-07-01 17:28] ychsieh commented on #35024
The removal PR is merged. Closing this.

[2021-07-01 17:28] #35024 closed

[2021-07-01 19:06] jpettitt commented on #24651
Implemented in #26223

[2021-07-01 19:06] #24651 closed

[2021-07-01 19:30] mszylkowski opened #35109 "[Story interactive] Rewrite image URL for image components to AMP cache images"
### Description

Rewrite image URL of image quizzes and polls on the AMP cache to use the cached urls

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-01 19:31] mszylkowski opened #35110 "[Story interactive] Make image components RTL compliant"
### Description

We will need to update the ABCD circles and margins to make the component work well with RTL layouts

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-01 19:32] mszylkowski opened #35111 "[Story interactive] Make image components display the post-tap state on interaction"
### Description

We want to transition to the end state for image quizzes and polls when clicked on the options

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-01 19:37] mszylkowski opened #35112 "[Story interactive] Add slider bubble with percentage"
### Description

When users swipe on the slider, we want to show a bubble that shows the percentage currently selected. When released, the selected option will be sent to the backend.

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-01 19:38] mszylkowski opened #35113 "[Story interactive] Add support for emojis on the slider"
### Description

Users should be able to specify an emoji in the component, and the bubble should be filled up with the emoji instead of the percentage, with an increasing size as users slide to the right. When the slider is released, the emoji should land on the track

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-01 19:40] mszylkowski opened #35114 "[Story interactive] Add RTL support for sliders"
### Description

Sliders need to be RTL compliant by filling the correct side of the thumb, having the bubble in the correct place, alternate the size increase of the bubble depending on the direction, and have the min and max on the correct size.

[2021-07-01 21:31] #34190 closed

[2021-07-02 05:27] NgoTraOtoman commented on #24706
I met the same problem as this
![image](https://user-images.githubusercontent.com/85274343/124223835-73f83100-db3f-11eb-8fcc-2091fc33d3c9.png)
This is my code
` <div class="homepage-social-group-carousel-sec">
      <amp-base-carousel id="homepage-social-group-carousel" class="homepage-social-group-carousel" height="92.75vw"
          width="100vw" style="margin-left: -15px;" layout="fixed" snap="

[2021-07-02 09:40] ColombiaOnline opened #35117 "Unable to push code from local to remote Repository"
### Description

Unable to push code from local to remote Repository. Facing permission denied as below :-

Username for 'https://github.com': adtech.appservices@timesinternet.in
Password for 'https://adtech.appservices@timesinternet.in@github.com':
remote: Permission to ampproject/amphtml.git denied to ColombiaOnline.
fatal: unable to access 'https://github.com/ampproject/amphtml.git/': The reque

[2021-07-02 12:29] #26181 closed

[2021-07-02 14:12] AntoninaEvdokimenkova opened #35118 "How can I reset amp-states after submitting form or on click to go back to the page (Safari)?"
### Description

I am using amp-states on jsp page. I change text of button to 'Loading...' on submitting form, then redirects me to another page. When I click to go back, I see that the button text is still 'Loading...'. That is, the state is not reset to the initial value. I use submit-success for reseting state(isLoading), but it is not work. This bug is reproducible in Safari and Firefox, it i

[2021-07-02 15:33] dougscher commented on #10997
I would also like to find some documentation on this added feature

[2021-07-02 15:38] #34443 closed

[2021-07-02 15:55] kalemuw commented on #17878
Hello @choumx @stephengardner @RonnieWinter. I am currently working on a customizable trigger list that will serve as a fix for the issue discussed in this thread.
Below are some of the implementation details. I would appreciate any feedback.

<b style="font-weight:normal;" id="docs-internal-guid-390728e8-7fff-da5a-4745-49919243b1a1">
<h1 dir="ltr" style="line-height:1.38;margin-top:24pt;margin-bo

[2021-07-02 16:19] alanorozco commented on #35067
This works fine for me.

✅ Linker query param is added.
✅ Conversion is seen on `chrome://conversion-internals/`

[code]

However, I'm trying to confirm the actual attribute names to allow in validation, since there [was likely an API change](https://github.com/GoogleChromeLabs/trust-safety-demo/commit/2f42d75b109041295db6d11f887241c31aa5d311#diff-3a6b6986045d6320a698e6fcd77626b3c917dce25b8d58533d

[2021-07-02 16:46] alanorozco commented on #35067
[Chrome will be renaming some of these attributes in version 92,](https://developer.chrome.com/docs/privacy-sandbox/attribution-reporting-migration/) and we should expect the previous naming to stop working.

before | after
-- | --
conversiondestination | attributiondestination
impressiondata | attributionsourceeventid
impressionexpiry | attributionexpiry
reportingorigin | attributionreportto

I'm

[2021-07-02 17:00] processprocess commented on #35110
Check out this [Logical Properties](https://web.dev/learn/css/logical-properties/) article.
It has some great information and concepts regarding the differences between "physical" properties such as "left" and "right" and "logical" properties such as "start" and "end". These can be very helpful when thinking about RTL support.

[2021-07-02 17:00] processprocess commented on #35114
Check out this [Logical Properties](https://web.dev/learn/css/logical-properties/) article.
It has some great information and concepts regarding the differences between "physical" properties such as "left" and "right" and "logical" properties such as "start" and "end". These can be very helpful when thinking about RTL support.

[2021-07-02 21:03] samouri commented on #34992
I'd like to discuss an updated design for server rendering bento components (link to be included in the coming week)

[2021-07-02 21:31] #20679 closed

[2021-07-02 21:36] jridgewell commented on #35060
Hi @aeroplanejane, thanks for the report!

On the BBC's Origin, amp-geo can be SSR'd to allow perfect CLS: https://amp.dev/documentation/components/amp-geo/#pre-rendering

By inserting a `amp-iso-country-${CC}` class name into the `<body>` element, BBC could use a bit of CSS to ensure the ads are hidden for UK users and visible for everyone else. This should still be paired with @erwinmombay's [su

[2021-07-02 23:02] #34960 closed

[2021-07-04 23:24] wayneglicc opened #35126 "I wonder if we should add a second CSS query as a fallback, e.g. `[template=fill] img, amp-story-grid-layer img`"
I wonder if we should add a second CSS query as a fallback, e.g. `[template=fill] img, amp-story-grid-layer img`
If there's a template=fill it's obv a better pick, but if it's not found whatever img we can find might be good?
Some stories don't have a `template=fill`, like https://wp.stories.google/stories/web-stories-sharing-on-social-media/

_Originally posted by @gmajoulet in https://github.com

[2021-07-05 12:49] ilanb1996 opened #35127 "IntersectionObserver API not accepting specific element"
### Description

As we can see [here in the proposed API](https://github.com/w3c/IntersectionObserver/blob/main/explainer.md#proposed-api), the `IntersectionObsserver` accepts options when created and accept a specific element to observe when we want to begin observe (which also decoupled from the initialization of the observer, but in the AMP observer API we cant specify which element we want to

[2021-07-05 16:04] opencmp commented on #29939
We are also facing this issue and are getting complaints. Who would be responsible for this component?

[2021-07-06 07:34] maudnals commented on #35067
(hi there, Chrome web DevRel here, I'm working on this API)

* `ping` is not part of Chrome's Attribution Reporting spec and it looks like it's not part of WebKit's latest PCM spec, either ([see spec](https://privacycg.github.io/private-click-measurement/)). You can safely ignore it.
* `attributeon` has been deprecated in favor of `attributiondestination`. I can confirm with certainty that `attrib

[2021-07-06 09:48] #24821 closed

[2021-07-06 09:48] #20433 closed

[2021-07-06 09:48] #26200 closed

[2021-07-06 09:48] #26203 closed

[2021-07-06 11:48] pradeep910 commented on #18123
@adamsilverstein

I think we can add `sticky="left"` and `sticky="right"` attribute to achieve it.

Since https://github.com/ampproject/amphtml/issues/31513 already has support for top sticky ad, we can keep `left` and `right` values just for desktop devices and limit sizes in CSS.

This would essentially be used for skyscraper ads on desktop such as:
- 160x600
-  125x600
-  300x600
-  and probabl

[2021-07-06 13:27] aeroplanejane commented on #35060
Great @jridgewell Thanks for this! I think the majority of our pages (roughly 83% over the last 30 days) are being served from google's cache, so let us know if the fix above may be possible... We can implement from bbc origin, but will wait to see if there's anything else you might think of. In the interim we're going to reserve space for WS amp pages.

[2021-07-06 13:49] kristoferbaxter commented on #35067
On the `ping` attribute, it's also part of the WhatWG html specification.

https://html.spec.whatwg.org/multipage/links.html

Making it valid, and potentially ensuring it's a valid space-separated token list of https urls seems like a good idea.

[2021-07-06 15:14] abhisheksoni27 opened #35129 "Where can I download the Web Story Icon for my website?"
### Description

This is the icon featured in the playbook : https://services.google.com/fh/files/events/web_stories_playbook_external.pdf#page=39

### Alternatives Considered

N/A

### Additional Context

N/A

[2021-07-07 02:32] #26006 closed

[2021-07-07 02:32] #17474 closed

[2021-07-07 06:17] ColombiaOnline commented on #35117
Gentle reminder . Please share updates.

[2021-07-07 10:27] Beethoven commented on #35129
Export the SVG from Figma design kit
https://www.figma.com/community/file/972549350664888470

[code]

[2021-07-07 12:24] processprocess commented on #35129
@newmuis I wonder if we want to post a link to this somewhere like https://amp.dev/documentation/guides-and-tutorials/?format=stories

[2021-07-07 12:40] processprocess opened #35131 "`amp-story-desktop-one-panel``background-blur` Include videos in selector"
### Description

Many story pages feature full bleed video but no image or an icon.
In these cases the `background-blur` does not render an image, or renders the icon.

Instead, it could render the first frame of the video by including it in the  [selector](https://github.com/ampproject/amphtml/blob/main/extensions/amp-story/1.0/background-blur.js#L125).

[Sketch PR](https://github.com/processproc

[2021-07-07 12:43] processprocess commented on #35126
Hi @wayneglicc, thanks for reading the PR and commenting on this!

It currently does what you describe by [selecting all images within a grid layer and finding the largest](https://github.com/ampproject/amphtml/blob/main/extensions/amp-story/1.0/background-blur.js#L125-L128).

We are looking into including videos in the selector. #35131 is filed to track that.

I'm going to close this since it's w

[2021-07-07 12:43] #35126 closed

[2021-07-07 12:47] #34962 closed

[2021-07-07 12:47] #34959 closed

[2021-07-07 12:47] #34967 closed

[2021-07-07 13:00] processprocess commented on #35117
Hi @columbiaonline, thank you for following up.

From the logs it appears the commit is attempting to push to the [core repo](https://github.com/ampproject/amphtml).
Please be sure to commit to a branch on [your forked repo](https://github.com/ColombiaOnline/amphtml).

Our [quick start guide](https://github.com/ampproject/amphtml/blob/main/docs/getting-started-quick.md) is a good resource for setu

[2021-07-07 13:04] #35117 closed

[2021-07-07 14:27] kristoferbaxter commented on #35096
Am unable to reproduce this, the domain doesn't appear to support an AMP valid output.

[2021-07-07 15:01] kristoferbaxter commented on #34890
Cancelling this session since there are no pending topics.

[2021-07-07 15:01] #34890 closed

[2021-07-07 15:05] abhisheksoni27 commented on #35129
Thanks a lot, @Beethoven!

[2021-07-07 16:23] claudiulodro commented on #18123
I'm curious, with this approach will it be possible to do sticky sidebar ad on desktop viewports **and** sticky footer ad on mobile viewports? Currently there's a one sticky-ad-per-page restriction in AMP, so it would be ideal if sites didn't need to choose between sticky desktop sidebar **or** sticky mobile footer ads.

[2021-07-07 16:41] #35129 closed

[2021-07-07 16:44] github-actions[bot] opened #35140 "Design Review 2021-07-28 15:30 UTC (Africa/Europe/western Asia)"
Time: [15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=07&day=28&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210728T153000Z/20210728T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-07-07 17:39] dmanek commented on #33430
@eduardcotmrf can u respond to the comment above?

[2021-07-07 17:41] dmanek commented on #30953
Hey @iingato can you respond to my comment above?

[2021-07-07 18:10] spormeon commented on #34786
any more thoughts on implementing this?

[2021-07-07 19:12] estherkim opened #35144 "Update cherry-pick request template"

[2021-07-07 19:12] #35144 closed

[2021-07-07 19:53] #34666 closed

[2021-07-07 20:28] dmanek opened #35147 "🍱 [amp-iframe:1.0] Bento tracking issue"
### High-Level Requirements

_To be updated as information becomes available._

| Consideration           | Ready When                                 | Status  |
| ----------------------- | ------------------------------------------ | ------- |
| Component Compatibility | [Conformance with 0.1](https://amp.dev/documentation/components/amp-iframe/)              | ✖️ |
| Testing                 | U

[2021-07-08 01:47] #18775 closed

[2021-07-08 01:47] #26235 closed

[2021-07-08 07:08] Corfucinas commented on #24621
+1

[2021-07-08 12:57] kamblenavnath commented on #34949
@processprocess Hey any updates? Is it yet to resolve?

[2021-07-08 13:05] processprocess commented on #34949
Thanks for following up @kamblenavnath I'm pinging my team for review on #34958 :)

[2021-07-08 15:08] #18378 closed

[2021-07-08 15:40] processprocess opened #35154 "Overlapping `<amp-layout>` content"
### Description

Overlapping content due to `<amp-layout>`.
Discovered in the [pre-release diffs](https://percy.io/ampproject/real-world-pages/builds/11358899/changed/638244626?browser=chrome&browser_ids=14%2C16&subcategories=unreviewed%2Cchanges_requested&viewLayout=side-by-side&viewMode=new&width=411&widths=375%2C411)

<img width="835" alt="Screen Shot 2021-07-08 at 11 37 42 AM" src="https://use

[2021-07-08 15:41] #35154 closed

[2021-07-08 15:45] processprocess opened #35155 "🌸 Cherry-pick request for #35154 into #2107030008000"
### Issue (P0 Bug)

#35154

### Pull Request(s)

#35146

### Release Tracker(s)

N/A I will create the release tracker once the beta is promoted.

### Channels

Beta / Experimental

### Formats

Websites

### Justification

Document renders incorrectly with overlapping content.

### Verification Steps

1. Start dev server
2. Run [this story](https://www.axios.com/border-democrats-migrants-vaccinat