[2016-10-13 14:19] cramforce opened #5575 "AMP sometimes fails to load when serving from SW"
Repro URL
https://www.google.com/amp/s/amp.cnn.com/cnn/2016/10/12/politics/donald-trump-women-new-york-times-report/index.html

I'm seeing this with the current Android Chrome Dev Channel.

Extensions are failing to load
[code]

- Interestingly `v0.js` appears to succeed.
- This does not repro when "bypass for network" is active in Dev Tools.
- Note, that there are 2 versions in those logs.
- I ve

[2016-10-13 14:37] ericlindley-g commented on #5020
@eike-hass Ah, I see—thanks for clarifying. As the user scrolls down the page, the scrollable menu anchors to the top of the viewport, and as new sections come into view, the corresponding link to those sections is scrolled-to and highlighted in the menu. For this I think we'd need the bind protocol to trigger the "goto" behavior described in https://github.com/ampproject/amphtml/issues/5210, exce

[2016-10-13 14:56] cramforce commented on #5549
@camelburrito had an example that was working as expected, so this doesn't appear to be a fundamental issue.

The next slide (at least eventually) does have dimension, so it should definitely pass the `isDisplayed` check.

[2016-10-13 15:36] cramforce commented on #5549
This actual cause is that these resources fail this check https://github.com/ampproject/amphtml/blob/master/src/service/resource.js#L466

Possibly some carousels somehow make this by 1px. We definitely need to make this more liberal
CC @jridgewell

[2016-10-13 15:37] cramforce commented on #5549
Ah, this probably always happens if the carousel is as wide as the screen.

[2016-10-13 15:58] ericlindley-g commented on #4771
Hi @senthilp — I just wanted to follow up to make sure you have everything you need to evaluate an approach. We're happy to talk through some of our thoughts on this as needed.

[2016-10-13 17:00] tdrl commented on #5557
Doesn't AMP set / create element IDs in some cases?  (It looks to me like AMP will set them if they're not already present, but that's empirical -- I don't know what the real behavior is.)  Will this impact your algorithm?  In particular, I don't know how stable AMP's algorithm for this assignment is -- if the ID changes for the same slot over multiple runs, that will mess up your hash, won't it?

[2016-10-13 17:41] dvoytenko commented on #5406
An element with `top == auto` most likely has `bottom == X`. If we offset `top`, we'd essentially override `bottom`position. E.g. a footer element that was positioned flush with the bottom of the viewport will be instead positioned from the top. We have to calculate our own version of `top:auto` because there's no other way to test whether the user set an explicit `top` or not. This is because `.x

[2016-10-13 18:11] jridgewell commented on #5563
Does `viewerUrl` actually matter? I don't see it actually used anywhere.

Not setting `referrerUrl` might mess up some analytics, but doesn't seem like it'll break anything.

I don't know if iGSA is using `google.cat` (I actually don't know what they use, I'd love to find out). I was just seeing related errors because our `TRUSTED_ORIGIN_HOSTS` regex is a bit too strict, and it may also be causing

[2016-10-13 18:35] muxin commented on #5406
OK, cool. This bug only happens in extreme cases. Closing the issue.

[2016-10-13 18:35] #5406 closed

[2016-10-13 18:42] cramforce opened #5580 "Add integration test for shadow-amp startup"
We can just use an existing test and adopt it to use our Shadow DOM path.

[2016-10-13 18:55] #5517 closed

[2016-10-13 18:56] jridgewell commented on #5549
Looking into this now, I think I have a fix.

[2016-10-13 19:03] zhouyx opened #5582 "Clean up ads.extern.js file"
I found that the file is getting super long. Also we are not documenting it anywhere so 3p ad developer don't know if they should update the file.
I think the file is added to enable type check @cramforce Can you explain why we need the file?
And as @lannka suggest, we can at least get rid of all the `data.xxx` from this file and instead enforce  using `data['xxx']`.
If we still need this file, we

[2016-10-13 19:06] muxin commented on #5301
This might be related to the `border-top` added to body in ios mode. @mkhatib What example page were you testing?

[2016-10-13 19:24] jridgewell commented on #5573
No idea who to give this to, so @rudygalfi gets it. Maybe @cramforce?

[2016-10-13 19:47] muxin commented on #4440
@ericlindley-g Is this still reproducible?

[2016-10-13 19:54] lannka commented on #5582
It was to avoid those strings get minified/obfuscated. But as I remember from @erwinmombay, this is not necessary for most cases now as we don't obfuscate public variables?

[2016-10-13 19:58] cramforce commented on #5582
The compiler doesn't like unknown properties. This makes them known.

The alternative is for them to use `foo['name']` notation.

[2016-10-13 20:00] ericlindley-g commented on #4440
Nope—this works perfectly now! (I'm closing the bug, but incidentally, do you know what fixed this?)

[2016-10-13 20:00] #4440 closed

[2016-10-13 20:15] dvoytenko commented on #5563
To my knowledge, `viewerUrl` is currently mostly used for error identification on our end. E.g. to explain "this error happens in this environment". E.g. this is how we've been notifying clients that do not enable local storage.

`referrerUrl` is pretty serious - it affects analytics, but also access features such as FCF and metering.

I'll follow up with iGSA.

[2016-10-13 20:18] #5488 closed

[2016-10-13 20:20] muxin commented on #4440
This might have something to do with the `border-top` change in viewport I recently made for hide/show viewer header but I'm not exactly sure.

[2016-10-13 20:52] muxin commented on #5564
/cc @dvoytenko

[2016-10-13 21:07] zhouyx opened #5587 "Saucelab integration test flaky"
![image](https://cloud.githubusercontent.com/assets/5419904/19367009/3ea9b806-914e-11e6-96cc-ebce3f9beb5d.png)

[2016-10-13 21:16] ericlindley-g commented on #5337
@oleggromov I don't think there are other options being considered for Ads integrations right now (aside from AMP for Ads, where the ads themselves are implemented in AMP), but @jasti can confirm

[2016-10-13 21:17] #5549 closed

[2016-10-13 21:24] zhouyx commented on #5582
I would suggest using `foo['name']` notation to prevent this file from getting super long. Then we can also update our doc asking 3p ad contributor to stay with this notation.

[2016-10-13 21:27] mkhatib opened #5589 "Add unit tests for amp-anim"
`amp-anim` has 0 tests.

[2016-10-13 21:29] jridgewell commented on #5563
Issue is https://github.com/ampproject/amphtml/blob/f28e1169aaf7732d26a17cab469cd377a0374265/src/service/viewer-impl.js#L300. `ancestorOrigins` is present, and it's length is zero.

For webviews, we shouldn't check it. Maybe trust the origin set instead?

I have an iGSA dev investigating if this is new to iOS 10. Maybe 9 didn't have `ancestorOrigins` yet.

[2016-10-13 21:34] zhouyx commented on #5582
Asked @erwinmombay about this. Now I don't have a preference. Since putting everything in `ads.extern.js` can help us to do type checking things easier.  If we decide to keep everything here I would suggest we organized it a little bit (group them by ad network?) and update our doc

[2016-10-13 21:45] #5501 closed

[2016-10-13 21:45] #5207 closed

[2016-10-13 21:50] #5502 closed

[2016-10-13 21:59] mkhatib commented on #5301
I've seen this happen on the `everything.amp.html` example when you click the panorama photo to open it in a lightbox. @muxin might be what you mentioned.

[2016-10-13 22:08] mkhatib commented on #5565
On it. @choumx would you happen to have a link or an example locally I can run to test this out when I am working on a fix?

[2016-10-13 22:41] Gregable commented on #5324
Fixed. Not live yet.

[2016-10-13 22:41] #5324 closed

[2016-10-13 22:41] cramforce commented on #5573
As you can see in your screenshots without the boilerplate, this results in a FOUC, because AMP didn't get to run yet.

One thing that is interesting (and that you might want to look into) is that your ServiceWorker starts pre-caching items right away. Maybe we should consider to wait a bit with the installation to get it out of the critical path.

On the good news

- when people come from Google

[2016-10-13 22:42] Gregable commented on #5055
Fixed. Not live yet.

[2016-10-13 22:43] cramforce opened #5597 "Delay amp-install-serviceworker installation until after the load event of the window"
Currently ServiceWorkers that are newly installed may get in the way of loading the current page. Lets delay installation until the current page fully loaded.

[2016-10-13 22:44] Gregable commented on #5268
Fixed. Live everywhere except the javascript validator, which should be live in a couple hours.

[2016-10-13 22:44] #5268 closed

[2016-10-13 22:48] dvoytenko commented on #5563
Yes. We have to trust webview's origin set.  In a webview all bets are off, so we might as well trust what they tell us.

[2016-10-13 22:49] dvoytenko commented on #5565
To run locally, you can just go to
http://localhost:8000/pwa/examples/article.amp.max.html

Or any other example URL with `/pwa/` prefix.

[2016-10-13 22:56] cramforce opened #5599 "Chunked AMP startup"
We will split AMP's startup phase (the code that runs when a page renders) into distinct chunks.

This will enable us to yield the UI thread. When rendering in background (into an invisible document), we can use this to reduce impact on the stuff that is actually visible.

Initial PR: #5536

Further optimizations:
- [ ] Wait for `requestIdleCallback` to produce a "long" available timeslot. The ini

[2016-10-13 23:09] cramforce opened #5600 "Optimize: Defer amp-lightbox build"
I think the `buildCallback` in `amp-lightbox` can be deferred until it is actually opened.

[2016-10-13 23:11] cramforce opened #5601 "Optimize: Defer amp-image-lightbox build"
I think the `buildCallback` in `amp-image-lightbox` can be deferred until it is actually opened.

[2016-10-13 23:36] lannka commented on #5557
@bobcassels thanks for your good example which does explain the problem!

@jridgewell sure it can. Right now  `amp-ad` of type doubleclick and adsense relies on `amp-analytics` to load CryptoService and generate ad CID.

However, I do think we should remove such a dependency. It's easy to miss. Right now, we don't even tell the publishers that they need to have <amp-analytics> for their doubleclic

[2016-10-13 23:38] lannka commented on #5582
Yep, we should just be consistent with `data['name']` pattern. Yuxuan, do you want to fix them in one shot? That will make our future PR review easier :-).

[2016-10-14 00:39] cramforce opened #5603 "Stop using IntersectionObserver polyfill in ads if native support is present"
Now that stable Chrome has IntersectionObserver we should use it instead of the postMessage mechanism.

CC @lannka

[2016-10-14 00:47] cramforce commented on #5557
The auto generated ids would be a problem if you want to find the same ad slot in "similar" pages.

[2016-10-14 00:48] lannka commented on #5603
Should we just leave it to 3p creative to handle? Or you are thinking about us doing it in `integration.js`?

[2016-10-14 00:48] cramforce commented on #5603
I was thinking to do it in `integration.js`. The 3ps are unlikely to do the right thing across the board.

[2016-10-14 01:59] zhouyx commented on #5582
I can definitely do that. The question is that do we really want to do this way. I am kind persuaded by @erwinmombay that the other approach is better...

[2016-10-14 04:10] mkhatib commented on #1941
I couldn't find any documentations around embedding vevo videos. Do you have a sample page where you have embedded a vevo video using normal iframes?

[2016-10-14 04:15] mkhatib commented on #5268
@Gregable does this include the custom validations bit as well?

[2016-10-14 05:04] honeybadgerdontcare commented on #5268
@mkhatib If you're referring to `custom-validation-reporting` then yes. See https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L2140

[2016-10-14 05:49] sebastianbenz opened #5607 "amp-form: omit target attribute for POST requests"
POST requests are only allowed via XHR ([link](https://github.com/ampproject/amphtml/blob/553247b6a408a06e144e05eeb7dcfa96bfce0335/src/document-submit.js#L72). However, the validator still requires `action` and `target` to be set.

=> If this is the intended (no JS fallback) behavior, we should make this explicit in the documentation (and samples).
=> If this is not the intended behavior, we shoul

[2016-10-14 08:03] adtechnology opened #5608 "requestResize gives wrong dimensions"
RenderStart sets width of 300000 and height of 250000 by using values 300,250 on emulated desktop chrome

When I open an AMP page in actual desktop Chrome using emulation to iPhone and open e.g. [this](https://www.google.de/amp/www.bild.de/news/aktuelles/news-aktuell/zahl-der-hurrikantoten-in-haiti-steigt-auf-48282604,view=amp.bild.html) page, there is an adslot (first one) of 300x250.

In return

[2016-10-14 08:30] xgretsch commented on #5541
OK, so I'm making good progress and I have a basic ad object working, albeit still missing a bunch of stuff. I'm not using A4A, which would in any case be way too complex for me to learn. I need a steer on a few things, however:

(1) I'm trying to provide the facility that when an ad is clicked on, a call is made to Google Analytics to record the event. I can do this from cold easily enough, but I

[2016-10-14 08:44] tonyruscoe commented on #5055
Great, thanks everyone!

@Gregable, does your change allow `<label>` and `<input>` elements without a form ancestor to be used without the `amp-form` extension script? (It doesn’t seem to, but I’m not sure whether I’m missing something…)

[2016-10-14 11:51] adewale commented on #5032
Sorry but we haven't made any progress with the Instagram folks. I'll ping them again.

[2016-10-14 14:57] cramforce commented on #5582
I like the extern file, because it at least provides for some form of spell checking and networks could choose to add real types there.

[2016-10-14 15:52] aghassemi opened #5611 "Tests failing on Chrome 54"
Tests don't run on Chrome 54 erroring with
[code]

Seems related to Chrome 54 shipping with Custom Elements v1

[2016-10-14 15:52] aghassemi commented on #5611
/cc @dvoytenko  @choumx

[2016-10-14 16:20] dvoytenko commented on #5564
The issue with padding in top is that an element with style `{position: absolute; top: 0}` will be behind the header because reference box for `position:absolute` includes the padding box. And unlike a fixed element, it will be very hard to offset `top` of a `position:absolute` element.

I'd say let's start with margin - it's possible that margin would work faster than border. If not - we can also

[2016-10-14 16:26] dvoytenko commented on #5557
I think this all sounds good.

Couple of notes:

1. As others noted, our autogenerated IDs would cause issues. FYI, we added auto-gen IDs because we hoped we could move `media` and `sizes` attribute implementations to a pure CSS. That didn't work. Here we have two options: either we can try to remove our auto-gen IDs, or you can simply ignore them when generating path.
2. I'd like to know what's p

[2016-10-14 16:54] lannka commented on #5541
No code needed for this purpose. Publisher can just setup `<amp-analytics>` and [hook on the anchor click event](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md#click-trigger-on-click).

No external server needed for this case. We can use the local gulp server. Changes [in this file](https://github.com/ampproject/amphtml/blob/master/build-system/server.j

[2016-10-14 18:00] #5563 closed

[2016-10-14 18:06] Gregable commented on #5055
Ah, good catch. It does not. It only removes the parent restriction, not the amp-form.js requirement.

[2016-10-14 18:09] tdrl opened #5614 "A4A: Handle iOS iframe cache miss better"
A4A currently writes non-AMP creatives into a cross-domain iframe via the `src=` attribute, assuming that the browser cache will retain/serve the same creative from the original XHR request for it.  This appears to be problematic on iOS, where iframe `src=` appears to skip cache and go directly to a network request, resulting in a second network request for the same resource, increased cost on ad

[2016-10-14 18:11] tdrl commented on #5614
/cc @ampproject/a4a

[2016-10-14 18:35] jridgewell commented on #5608
This is working perfectly for me. @lannka?

[2016-10-14 18:42] tcorley opened #5615 "gradientTransform attribute misspelled in validation"
I'm looking to support SVGs in my AMP page and I'm seeing that I get a validation error:
`The attribute 'gradienttransform' may not appear in tag 'lineargradient'`

I'm no svg wizard, but I'm sure that's the correct attribute name (via https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/gradientTransform)

It looks like the attribute is misspelled in the validator as `gradientransform` http

[2016-10-14 19:10] dandv commented on #5607
Ran into the same error - https://github.com/ampproject/amp-by-example/issues/426

It doesn't quite make sense to specify a `target` for XHR requests that update the same page.

[2016-10-14 19:18] jridgewell commented on #5614
Seems this changed sometime in iOS 9. Simple test server:

[code]

My server only logs "ad request" once, and the browser (iOS 8.4 Safari) shows a cached result being used as the iframe:

[code]

iOS 9 makes two requests. 😢

[2016-10-14 19:24] tdrl commented on #5614
Possibly.  I've gotten conflicting results about this when I've asked around and tried it myself.  More importantly, we're seeing server-side statistics that are consistent with _lots and lots_ of repeated A4A ad requests from iOS.  We want to do this experiment in part to see whether it makes a difference in those statistics (thus validating the cache-miss story).

[2016-10-14 19:25] dandv opened #5617 "Expand the documentation for "on" attributes / event handlers"
Arrived at https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#on from https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#events and was unable to figure out how to use events on the form submission.

Some questions:

1. What is the targetId? The id of a DOM element?
2. How are methods defined on the target?

Linking to [amp-lightbox](https://gi

[2016-10-14 19:41] jridgewell commented on #5617
/to @mkhatib

[2016-10-14 19:45] cramforce commented on #5614
@keithwrightbos Was looking into SRA, right? I haven't seen the design yet, but wouldn't that need something like the mechanism proposed here anyway?

[2016-10-14 19:48] muxin commented on #5564
OK, I can try it out. But I still doubt that manipulating css properties on hide/show header operation will still make the content jitter a little bit.

[2016-10-14 19:53] mkhatib commented on #5617
Thanks for filing @dandv will expand the docs but just to answer your questions. Yes target ID is be DOM ID of an element

Each target define and expose its own methods. For example, amp-lightbox exposes activate and close methods that you can trigger.

Each element should document the methods it exposes if you find any missing docs for undocumented methods please send a PR or just file an issue f

[2016-10-14 19:58] keithwrightbos commented on #5614
Apologies for not getting the SRA design out sooner... had other priorities.  In any event, no I actually was not planning on requiring a safeframe-like mechanism.  Instead I was planning to wrap the array of creatives (and their potential signatures) with javascript.  If the creative is missing/fails signature, then the iframe would be attached with the src equal to the ad request and a hash woul

[2016-10-14 20:02] keithwrightbos commented on #5614
To be clear, we do not intend to implement the safeframe API at this time but are still pursuing supporting window.context within cross domained creatives (JS library for #3019)

[2016-10-14 20:13] megankj opened #5618 "window.context.referrer returning empty"
## Description of the issue

According to the [README](https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-information) for amp ads, window.context.referrer is available to access.  It contains the origin of the referrer value of the primary document if available.

This value used to to contain the correct referrer value.  Now it does not.  It only contains an empty string.

[2016-10-14 20:27] jridgewell commented on #5618
/to @lannka

[2016-10-14 20:40] mkhatib commented on #5607
Agreed. @Gregable I am not sure if we discussed this before, but would conditional requirement of an attribute be possible in the validator? So only require `target` for `method=GET`?

This also needs to be updated in runtime.

[2016-10-14 20:43] dandv commented on #5617
Thanks, will do. I was trying to get an `<amp-form>` to change the styling of a given `<div>` and the best I've come up with was to use the CSS hooks to [hide the submit button and show a the `submit-success` div](https://github.com/dandv/amp-by-example/blob/favorite/src/30_Advanced/favorite.html#L49-L93).

[2016-10-14 20:47] dandv opened #5619 "Relax the requirement for loading amp-mustache with amp-form"
I'm working on a [very simple `<amp-form>` sample](https://github.com/ampproject/amphtml/issues/5617#issuecomment-253914401) that [doesn't use Mustache templates at all](https://github.com/dandv/amp-by-example/blob/988b53be02215a36a3eb024779fa218baba8bfe7/src/30_Advanced/favorite.html#L91-L98).

However, when the form is submitted, I get this message in the console if I don't load `amp-mustache-0.

[2016-10-14 20:51] jridgewell commented on #5614
Would Blobs work with this? The response should already be one.

[2016-10-14 20:52] jridgewell commented on #5619
/to @mkhatib

[2016-10-14 20:53] lannka commented on #5618
@megankj `document.referer` in the AFS example page is actually empty.

I found this in Stack Overflow, which matches the case here. Can you try an example on pure HTTP or HTTPS?

[2016-10-14 20:55] jridgewell commented on #5615
/to @Gregable

[2016-10-14 20:56] dandv opened #5620 ""See the documentation for a specific extended template on the syntax and restrictions""
Found that line at the docs for [extended templates](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#extended-templates). Is it a placeholder? (otherwise a link would be better) https://github.com/ampproject/amphtml/blob/master/spec/amp-html-templates.md#templates says "None yet. Coming soon."

[2016-10-14 20:58] keithwrightbos commented on #5614
They appear to be supported for both iOS and Android (http://caniuse.com/#search=blob%20url).  Definitely worth pursuing and we know for a fact that it will cause the content within the iframe to be cross domained?

[2016-10-14 20:59] lannka commented on #5618
Actually, an easier way is to add this in your referrer page:
[code]

[2016-10-14 20:59] mkhatib commented on #5619
Thanks for filing @dandv will look into getting this in soon

[2016-10-14 21:01] jridgewell commented on #5620
/to @bpaduch

[2016-10-14 21:03] mkhatib commented on #5617
Yeah I think that's one way to do it.

You could also use the global method that should work on any element - `hide`. I have not tried this before so if you try it let me know if it works or not 😄

[code]

Not sure if we document the `.hide` method anywhere. Will get on documenting these now.

[2016-10-14 21:05] megankj commented on #5618
Yes, I verified that this worked.

HTTPS -> HTTPS: correct value
HTTPS -> HTTP: empty
HTTP -> HTTPS: correct value
HTTP -> HTTP: correct value

Thanks!

[2016-10-14 21:05] #5618 closed

[2016-10-14 21:12] dandv commented on #5617
@mkhatib That did work, thanks!

[2016-10-14 21:39] mkhatib commented on #5268
@honeybadgerdontcare awesome! Thanks so much 👍

[2016-10-14 22:34] jridgewell opened #5625 "False negatives with ampExtendedElements"
This comes from discussion in #5453.

After #5454, we no longer assert that `ampExtendedElements` is already defined when checking if an element is scheduled.

Regardless of who creates the `ampExtendedElements`, we still have a race condition. When there's no scheduled element, we wait until the body is available (head has been parsed) then check again. However, there's no guarantee that an eleme

[2016-10-14 22:42] muxin commented on #5564
I tried setting `top` instead of `border-top` on body but it's still behaving the same: when hide/show the header, the content jumps up and down a little bit.

[2016-10-14 22:43] zhouyx commented on #5587
Seen it multiple times today!
https://travis-ci.org/ampproject/amphtml/builds/167749813

[2016-10-14 23:30] cramforce commented on #5205
Duplicate of #4078

[2016-10-14 23:30] #5205 closed

[2016-10-14 23:30] cramforce opened #5627 "Clean up link-url-replace experiment"
It implements #4078

[2016-10-14 23:34] pbakaus commented on #4479
Looks like we can move this from triage to the next step? Can somebody implement this?

[2016-10-14 23:55] muxin commented on #5564
OK, this proposal is not working. @dvoytenko is coming up with another possible solution that wraps the `body` inside a wrapper element and add `padding-top` to the wrapper element.

[2016-10-14 23:55] #5564 closed

[2016-10-14 23:59] honeybadgerdontcare commented on #5495
I have a draft of this already and it's awaiting clarification in #5283 for validation details.

[2016-10-15 00:03] erwinmombay commented on #5495
thanks @honeybadgerdontcare !

[2016-10-15 09:00] xgretsch commented on #5541
Hi folks - I'm ready to do my first PR (which is also my first ever PR on Github). I'm trying to do it from Github on the Mac, which is telling me "Authentication Failed - You may not have permission to access amphtml". Can someone give me the appropriate permission?

btw Will be away from tomorrow for a week, but will try again on my return.

@lannka - any more detail on how to amend the server.j

[2016-10-15 17:25] theefer commented on #3742
Having toyed with it a little now, I find this design working really well, especially the use of ShadowDOM root that enables SW intercepting requests, which allows seamless offline caching of AMP content.

The one hurdle I've encountered is that the AMP Cache doesn't allow CORS requests to AMP docs, so I had to rely on a CORS-enabled proxy to fetch the content from the client. Is this a strict lim

[2016-10-15 18:02] cramforce commented on #3742
It is definitely an option for the future. I'm not 100% sure about the security implications.

[2016-10-15 21:33] lannka commented on #5541
@xgretsch there's no permission check if you do
1. [fork](https://help.github.com/articles/fork-a-repo/) amphtml repo
2. make changes to your own fork,
3. send out a pull request to us.

server.js is using [express.js](https://expressjs.com/). You'll do something like:

[code]

then, you should be able to get the JSON response in your browser: http://localhost:8000/path-to-your-ad

[2016-10-16 00:06] bobcassels commented on #5557
@dvoytenko -- my code contains limits in case docs are huge. On my Mac laptop / Chrome, the max is 1ms.

[2016-10-16 10:52] qike74 opened #5634 "google fill slot type of ad"
Hello,
I'm trying to covert the following google ad type into AMP but either trying the adsense and the doubleclick versions I'm not able to get it work.
Any ideas how this should be converted into AMP?

Thanks

Standard script:
`<script type='text/javascript'>
GA_googleFillSlot("viajablog-300-250");
</script>
<script type='text/javascript'>
GA_googleFillSlot("viajablog-300-250");
</script>`

Adse

[2016-10-16 11:55] adactio commented on #2862
I'm running into this same issue where Webmaster Tools tells me there are errors with my AMP pages but when I then run those AMP pages through Webmaster Tools' own validation, there are no errors or warnings to be found.

Here's an example URL:

https://thesession.org/recordings/3732/amp

Google Webmaster Tools says there's an error: "Info: Missing structured data element"

And here's the result o

[2016-10-16 13:56] jasti commented on #5634
AFAIK, Google Ad Manager isn't supported. If you have directly created adunits in Adsense or Doubleclick, they will work in AMP. Please do reach out directly to you existing support channels at Adsense and Doubleclick for more help.

[2016-10-16 13:56] #5634 closed

[2016-10-16 16:00] xgretsch commented on #5541
@lannka OK, thanks. I thought that's what I did, so I must have got something misconfigured. I'm out of town until Friday, will investigate then. Probably need to try git from the command line without using the Github app.

[2016-10-16 16:59] qike74 commented on #5634
Thanks Jasti. I will get in contact with them. Maybe I should use an updated code for this even in standard web

[2016-10-16 17:07] cramforce commented on #2862
I filed this as b/32193984 with the Search Console team. I know that they used to conflate AMP with the requirements of the "Top Stories Carousel" meta data, but that was supposed to be fixed.

[2016-10-17 03:27] #3742 closed

[2016-10-17 08:28] jtangelder commented on #4000
When will this experiment go to production? The company I work for has a lot of restricted content (lots of large newspapers and magazines) and the amp-access-server module is the only way for us to get started with AMP. Embedding the content with the amp-access-client setup is not an option for us.

[2016-10-17 12:26] jaygray0919 commented on #1866
In non-AMP configurations, we use a conventional lightbox with two images.
The first image is the preview - think of it being the upper left area of the full image.
The second image is the full image that is displayed with the preview is clicked.

For AMP, would you consider supporting such as solution where we specify two URLs:
  the URL for the image in the carousel - the preview image
  the ima

[2016-10-17 13:04] tdrl commented on #5614
Yeah, I've considered Blobs a couple of times.  They're definitely more attractive than SafeFrame.  As Keith notes, though, the open question is whether they would cause the frame to be cross-domain or not?  It's important both for safety of the pub page and creative and to enable advertiser cookies.  I haven't found clear docs on how same domain policy is treated in the blob case, and haven't yet

[2016-10-17 14:28] cramforce commented on #5614
@tdrl I'm not sure about blobs, but data-URIs are same-origin ONLY in Firefox (which is a major gotcha). Otherwise they should work great if you don't rely on `document.cookie` inside of that iframe.

[2016-10-17 15:59] oleggromov commented on #5337
@ericlindley-g Thanks.
@jasti please confirm.

[2016-10-17 16:02] cramforce opened #5637 "Allow referrerpolicy on AMP script tags."
We should allow the `referrerpolicy` attribute on the AMP JS. This way, pages can make sure that user traffic (if it doesn't hit the cache anyway) can be correlated to their page.

This might be allowed already, so just making sure :)

[2016-10-17 16:42] erwinmombay commented on #4000
/to @dvoytenko for question

[2016-10-17 17:21] dvoytenko opened #5639 "Cleanup "ios-embed-wrapper" experiment"

[2016-10-17 17:55] dandv commented on #4272
This feature would make it much easier to implement favoriting indeed. I've realized that after hacking together [the sample linked above](https://github.com/ampproject/amp-by-example/issues/427):

* submitting the form on the first input change is easy enough
* displaying the Submit button with a style that reflects the item/page was favorited/bookmarked requires hiding the submit button and draw

[2016-10-17 17:56] #4628 closed

[2016-10-17 18:11] #5489 closed

[2016-10-17 18:19] lannka commented on #5337
@oleggromov adding support to `amp-ad` is right now the fastest way (we didn't tell you about [A4A](https://github.com/ampproject/amphtml/issues/3133) :-)). And there are already 60+ ad networks added their support. Please take a look at the [developer guidelines](https://github.com/ampproject/amphtml/blob/master/ads/README.md#developer-guidelines-for-a-pull-request), and we are ready to help if y

[2016-10-17 18:45] #5518 closed

[2016-10-17 18:46] mkhatib opened #5641 "Consider exposing an explicit `open` action on lightbox"
Having `close` action but relying on the default `activate` trigger for an `open` feels weird sometimes. The expectation is if I can do `close` I should be able to do `open`.

This is pretty simple to do. Just need to add an alias `open` for activate method.

[2016-10-17 18:47] dvoytenko commented on #4820
/cc @RByers @cramforce @ericlindley-g

This has been launched last week.

[2016-10-17 18:47] #4820 closed

[2016-10-17 21:25] #5471 closed

[2016-10-17 21:52] #5567 closed

[2016-10-17 21:52] erwinmombay opened #5645 "Meeting Notes 2016-10-17"
### 2016-10-17

@cramforce
- Working on a design for geo variation of AMP docs
- Send PR for “chunking” AMP startup https://github.com/ampproject/amphtml/pull/5536
- Started working on outgoing link variable replacement https://github.com/ampproject/amphtml/pull/5628
- Posted Starter issues for optimizing AMP.

@dvoytenko
- Working on synthetic iOS Embed root wrapper to improve scrolling issues.
-

[2016-10-17 22:28] cramforce opened #5647 "Report step timings in pr-check.js"
It is very useful to be able to see how long each step takes, so we can optimize that over time.

[2016-10-17 22:46] dvoytenko commented on #4000
@jtangelder This has not launched yet.

/to @rudygalfi to confirm the schedule.

[2016-10-17 22:52] dvoytenko commented on #5557
Sounds great!

[2016-10-18 06:23] smeder commented on #4078
Hmm, that doesn't really allow us to deal with session attribution after deeplink. Those URLs tend to be non-origin and I'm not sure we can easily bounce through our systems in that case. Any thoughts on how to best handle that? Our primary goal is to evaluate the impact of experiments on downstream behavior so open to other idea for how to make that happen.

[2016-10-18 10:29] oleggromov commented on #5337
@lannka We will look at A4A and use `amp-ad` for our integration. Thank you.

[2016-10-18 10:29] #5337 closed

[2016-10-18 10:33] rohit030 opened #5653 "rel="stylesheet" is not working and script also"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-10-18 11:24] jasti opened #5654 "Ability to put variables into hidden form fields"
For XHR requests on a page with amp-form, have the ability to pass custom vars (using variable substitutions) via hidden input.

[2016-10-18 14:09] cramforce commented on #4078
@smeder Could you give an example of the type of URL flow a user would go through in that case.

Also, I didn't really want to close this, so reopening, since the feature hasn't launched.

[2016-10-18 15:05] smeder commented on #4078
We're currently using Branch.io for this so a URL might look something like:

https://bnc.lt/a/key_live_eifqPbvhIRnKEb1T0MSFpipgsCenSDRu?%24deeplink_path=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F574631233686186958&%24ios_deeplink_path=pinterest%3A%2F%2Fpin%2F574631233686186958&%24android_deeplink_path=pinterest%3A%2F%2Fpin%2F574631233686186958

I believe that using Firebase would result in somethin

[2016-10-18 15:18] cramforce commented on #4078
We could, of course, add a way to add additional origins. Sigh. The real bug here is, of course, that services like branch.io and Firebase have to exist for something that should just be a browser API. AMP has traditionally been very hostile against such unneeded redirects.

[2016-10-18 15:26] cramforce commented on #5653
Please open new issue with additional detail

[2016-10-18 15:26] #5653 closed

[2016-10-18 17:44] avimehta opened #5657 "Tracking Bug: amp-analytics in friendly iframes"
This bug tracks all the work for enabling amp-analytics in friendly iframe components (currently A4A).

Things to be done:
- [ ] Provide additional variables for amp-ads
- [x] Restrict and override URL replacements implementation for embed
- [x] Allow iframe host as an element whose visibility can be measured.
- [x] Restrict selectors to only select elements within embeds. (#5749)
- [x] Disallow s

[2016-10-18 17:51] justforfun opened #5659 "404 error on images when AMP pages are delivered by Amp project CDN"
## How do we reproduce the issue?
When our AMP pages are delivered via AMP CDN images are not displayed due a 404 error.
You can find an example here:
https://cdn.ampproject.org/c/www.repubblica.it/esteri/2016/10/18/news/renzi_e_obama_alla_casa_bianca-150018863/amp#development=1
Where the main image of the article and all the images of the gallery fail to load:

error.js:75task failed: amp-img#4#L

[2016-10-18 18:12] dvoytenko opened #5660 "Cleanup "make-body-relative" experiment"

[2016-10-18 18:28] cramforce commented on #5659
Tracked at Google as b/32241988

[2016-10-18 18:56] keithwrightbos commented on #5614
I've done some testing in chrome (admittedly I should be doing so in Safari) and it appears that either data-URI or srcdoc+sandbox will work (can guarantee cross domain) but with a couple of caveats:

1. PostMessages have a null origin which makes sense given we have no src attribute (and allowing the iframe creator to specify one would allow any JS to run under a given domain).  We can likely get

[2016-10-18 19:13] cramforce commented on #5659
@justforfun This happens because you use a protocol relative URL for the image (Starting with `//`), but you fail to serve them on `https`. The easiest fix would be to prefix the URLs with an explicit `http:`

[2016-10-18 19:13] #5659 closed

[2016-10-18 19:15] cramforce commented on #5614
@keithwrightbos This sounds good if you use srcdoc+sandbox in Firefox (which makes data-URI same origin).

[2016-10-18 19:16] jridgewell opened #5662 "Viewer "get" Fragment return value"
We should validate that the [return value](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L875) from the viewer "get" fragment method does not include the `#` symbol, to keep it in line with our [non-embedded behavior](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L868).

[2016-10-18 19:17] mkhatib commented on #5607
@cramforce does this make sense? I remember we wanted to enforce having target all the time at first, but since our implementation changed - do you mind if we just drop the requirement for target for xhr requests?

[2016-10-18 19:18] mkhatib commented on #5619
So thinking of this some more, you can already use non-template responses to show content using the classes we add on forms `.amp-form-submit-success`.

Though doing it through the `[submit-success]` might provide a better accessible responses. Looking into allowing this.

[2016-10-18 19:20] cramforce commented on #5607
@mkhatib no target seems fine, even better.

[2016-10-18 19:27] tdrl opened #5663 "A4A: amp4ads-boilerplate setting hidden and not getting cleared"
The [A4A format spec](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md) calls for an [`amp4ads-boilerplate`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md#boilerplate) block of the style:

[code]

This is currently inserted by A4A code [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/amp-a

[2016-10-18 19:40] keithwrightbos commented on #5614
Discussed with @michaelkleber and decided that potential breakage of creatives using document.cookie or local/session storage (triggering DOMException) is insurmountable at this time as it would be impossible to gauge if/how it breaks the creative.  Will instead focus on safeframe implementation being persuded by @tdrl while I focus on creating an AMP-specific safeframe implementation (reads from

[2016-10-18 20:00] mkhatib commented on #5607
Ok so thinking of making `target` only required for non-XHR `GET` requests. So only if `action-xhr == undefined` and `method=GET`

[2016-10-18 20:43] lannka commented on #5663
Please revert the temporary fix and fix it in a good way.

[2016-10-18 20:44] cramforce commented on #5607
No target, just means target is _top. No need to make it explicit I think.

On Tue, Oct 18, 2016 at 1:00 PM, Mohammad Khatib <notifications@github.com>
wrote:

[2016-10-18 20:49] tdrl commented on #5663
Will do.  Thanks for getting the temporary fix in.  We have a couple of other high-priority things that we're hoping to get for this week's cut, so we'll probably work on the real fix for this issue for next week's cut.  Thanks!

[2016-10-18 21:28] dvoytenko opened #5667 "Absolute positioned elements inside body are offset incorrectly."
When viewer header is shown, AMP sets padding on the `<html>` to offset content so that it doesn't fall under the header. However, `{position: absolute; top: 0}` is currently does fall under the header because, by default, `body` is styled as `position:static`. This can be changed by setting `position:relative` on the body.

[2016-10-18 21:30] #5667 closed

[2016-10-18 21:51] aghassemi commented on #5493
https://github.com/ampproject/amphtml/pull/5590 closes this.

[2016-10-18 21:51] #5493 closed

[2016-10-18 21:57] mkhatib opened #5670 "Make action optional for method=GET when action-xhr is provided"
This is a follow up for both validator and runtime.

[2016-10-18 22:48] dvoytenko commented on #5625
I made a comment on https://github.com/ampproject/amphtml/issues/5453. The right solution is to initialize `win.ampExtendedElements` immediately in the runtime. However, even if that's fixed, it's still not correct. The right approach would be remove `ampExtendedElements` completely and instead implement this check via `Extensions` service - it should be the only and final authority on which exten

[2016-10-18 22:49] devongovett commented on #5396
Our liveblogs allow insertions to occur anywhere in the liveblog, not just at the top or bottom. Ideally, amp-live-list would look at the `data-sort-time` attribute on the inserted posts and insert them at the correct positions, rather than all together at the top or bottom.

[2016-10-18 22:59] jridgewell commented on #5625
That's no different than just checking if `win.ampExtendedElements` is present.

- If `win.ampExtendedElements` isn't present:
  - The element's script may not have downloaded yet
  - the element's script may not be present on the page at all
- If `win.ampExtendedElements` is present:
  - The element's script may not have downloaded yet
  - the element's script may not be present on the page at al

[2016-10-18 23:04] dvoytenko commented on #5625
Correct. That's why we should just remove this property and move implementation into `Extensions` service.

[2016-10-18 23:14] cramforce opened #5674 "Make form submission an amp-analytics trigger"
Submitting a form and the success state of the submission should be amp-analytics triggers.

@rudygalfi probably has more requirements.

[2016-10-19 00:17] honeybadgerdontcare commented on #5495
Done in #5677.

[2016-10-19 00:17] #5495 closed

[2016-10-19 00:29] cramforce opened #5678 "Optimize log output for user errors"
We should use `console.log` with a color instead of using `console.error` (and `.warn`, etc.). The stack trace that gets generated for the `.error` calls is unhelpful and confusing.

[2016-10-19 02:40] mkhatib opened #5681 "Implement automatic package sorting in gulp lint --fix"
We enforce sorting packages in reviews which sometime can be a daunting task. Sorting is the kinda of thing that computers are good at 😄 we should automatically fix this for us.

[2016-10-19 02:50] #5611 closed

[2016-10-19 05:06] ping opened #5682 "amp-twitter takes up large blank space before loading"
The Twitter embed takes up a disproportional amount of space before it is loaded/rendered completely. This pushes content after the embed too far down and sometimes completely below the fold.

In the filmstrip below, you can see the content pushed almost beyond the bottom edge of the screen.
![image](https://cloud.githubusercontent.com/assets/104607/19506179/cf32357c-95fb-11e6-84d2-0b28eecf3bb8.pn

[2016-10-19 08:43] davidfilat opened #5684 "Amp-img attribute ”width” error on half of my post pages"
When I submitted my sitemap to Google Search Console and it started indexing my amp pages, more that half of them got this error:

Can it be fixed somehow? Thank you!  You are doing a great job!

[2016-10-19 08:52] twins16 commented on #5684
the problme is with schema go to https://validator.ampproject.org/#url=https%3A%2F%2Fwww.cheri3a.com%2Fedu%2F4062-2%2Famp%2F

and go to data high lighter or code it
https://search.google.com/structured-data/testing-tool?url=https%3A%2F%2Fwww.cheri3a.com%2Fedu%2Flessons-11-evel-3%2Famp%2F#url=https%3A%2F%2Fwww.cheri3a.com%2Fedu%2Flessons-11-evel-3%2Famp%2F

make shur your add some apm-img
and test

[2016-10-19 09:40] piyushpatil027 opened #5685 "Image is not showing in amp in mobile browser but pass in validation ."
Hi,

Hope you are doing great .
I have implemented amp pages in my site . When I check amp pages in amp validatior show pass ,
But when i show that link in mobile , its not showing images and in console is showing error .

Below  link pass in validatior ...

http://reacho.in/amp/happy-birthday-swwapnil-joshi-a-brief-chronicle-of-the-beloved-marathi-superstar-journey

But image is not showing in mo

[2016-10-19 11:10] dandv opened #5686 "Offer a mechanism to collapse <amp-list>s with no items"
[`<amp-list>`](https://www.ampproject.org/docs/reference/components/amp-list) does not support `layout=container`, presumably so that dynamically rendered items don't cause reflow.

That has an unfortunate side effect: if the list is empty, the publisher has to provision vertical space anyway, which can't be hidden if the list turns out to be empty. I've played with all the possible layout combina

[2016-10-19 14:43] cramforce commented on #5682
This is because of the `width` and `height` you are providing together with `layout=responsive`. The values are used to reserve space prior to finding the real space.

Choosing more correct initial values (such as in http://output.jsbin.com/sudadet/quiet) prevents this from happening.

[2016-10-19 14:54] cramforce commented on #5685
The reason is that your image such as http://reachov3.reacho.in/httpimages/181016/img_201606100718515806179fa3c80.jpg claim to be JPEG images (both in the file extension and in the mime type), but they are in fact PNG images. Please fix the mime type or (that would be better for this type of image) actually deliver JPEG images.

I filed a ticket to handle this more gracefully on the cache end, but

[2016-10-19 14:54] #5685 closed

[2016-10-19 15:12] keithwrightbos commented on #5663
@dvoytenko do you want to persue the "correct" fix mentioned by @lannka or shall we?

Ideally we could get the "emergency" fix in ASAP given AMP creatives are currently broken.
FYI - if you look at a text add (force_a4a_ctypes=1), you'll notice that visibility:hidden on body does not actually cause the arrow to disappear as it is an SVG.  You may want to use opacity instead given that's what some

[2016-10-19 16:13] ericlindley-g commented on #5396
@devongovett Agreed — it would be good to have flexibility for inserting new items, rather than the current behavior, which inserts new items at the top, and allow changes to existing items in place.

cc/ @erwinmombay

[2016-10-19 16:36] lannka commented on #5663
I can take a look. Given that we had the the temporary fix, I suppose this is not that emergent now?

Do you know how did this bug get in? Was it working before?

[2016-10-19 16:49] keithwrightbos commented on #5663
It is only emergent in the sense that it will take >1 week for the fix to be live.

I do not know how this bug occurred... I had tested locally when adapting A4A to friendly iframe and it was not present.  I will go ahead and update our selenium tests to include the most recent changes (in parallel we are working on building them from github head/production).

[2016-10-19 17:09] dvoytenko commented on #4449
/cc @jridgewell, @cramforce

As we are proceeding with underlying tech implementation, it'd be good to confirm visibility vs state question. Should we report an element's visibility regardless its "loaded" state? Consider this example:

[code]

And let's assume we added 50% visibility reporting to both `section1` and `ad1` (both elements are essentially equivalent). However, the big difference in

[2016-10-19 17:20] dvoytenko commented on #5663
To confirm, is this for a "friendly iframe" a4a case or 3p iframe? If it's "friendly iframe" - we don't really need this boilerplate since we control the complete lifecycle and can easily flip visibility bits. If we still want it - feel free to send a PR to force visibility on the body of the iframe. It'd go here: https://github.com/ampproject/amphtml/blob/master/src/friendly-iframe-embed.js#L155

[2016-10-19 17:36] keithwrightbos commented on #5663
It is the friendly iframe case.   I'm indifferent about leaving the boilerplate so let's go with what's simplest (not including it).  SG?

[2016-10-19 17:48] dvoytenko commented on #1572
@Wadekone to provide the recap: I'm following up with the sanitizer library to address this issue.

[2016-10-19 17:51] dvoytenko commented on #5663
Sounds great! But for posterity, it is needed for 3p case though. Right?

[2016-10-19 17:54] jvelis opened #5689 "Intent To Implement: Kixer ad network for amp-ads"
# Overview
Adding support for the [Kixer](http://kixer.com) Ad Network to `<amp-ad>` elements.

## Comments
Kixer will submit a PR for a `kixer/amp-ad` branch from Kixer's `kixer-com/amphtml` fork.

[2016-10-19 17:56] tdrl commented on #5663
/cc @Gregable FYI

The root issue is that the [A4A format spec](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md#boilerplate) says that the boilerplate line should be there in all A4A creatives, which may cause problems in the future.  So, for the moment, not inserting the boilerplate in that line of the client code is fine.  But for the future, we'll be seein

[2016-10-19 18:04] dvoytenko commented on #5663
I'd say the best course depends on 3p case because we control friendly iframe case very well - as well as boilerplate would know. In 3p case I think the boilerplate is necessary. So I see two important cases here:

1. When AMP shows a4a as 3p, e.g. because validation fails.
2. When a non-AMP document is showing a4a.

I think both of these warrant boilerplate. But I'm not 100% if my assumptions her

[2016-10-19 18:10] keithwrightbos commented on #5663
I would leave it in the spec for the 3p case but I also think it is ok to
remove for the friendly iframe (have the validator group it with other
content to be removed).

On Oct 19, 2016 2:04 PM, "Dima Voytenko" <notifications@github.com> wrote:

[2016-10-19 18:13] lannka commented on #5663
+1 to leave it in the spec and validation rule.

It can be removed at runtime for the case of friendly iframe, just like how we remove v0.js.

[2016-10-19 18:16] lannka commented on #5663
Which actually means the current fix is the correct fix.

[2016-10-19 18:20] keithwrightbos commented on #5663
Agreed

On Oct 19, 2016 2:17 PM, "Hongfei Ding" <notifications@github.com> wrote:

[2016-10-19 18:28] jridgewell commented on #5625
Could you explain? Do you mean doing DOM queries for the scripts from `Extensions`?

[2016-10-19 18:29] dvoytenko commented on #5625
Yes. `Extensions` contains the internal structures of loading state for all extensions. Thus, this should be a natural fit. Although it's fully async state as far as API concerned, as opposed to the sync `ampExtendedElements` semi-public variable.

[2016-10-19 18:30] dvoytenko commented on #5625
And whatever problems we may have with risk conditions, should be easily solvable behind `Extensions` service's API

[2016-10-19 18:55] lannka opened #5691 "[A4A] return versioned script in A4A creatives"
Right now A4A creatives are returned with `<script async src="https://cdn.ampproject.org/v0.js">`. (I did it on my local server with the force A4A flag, let me know if this is wrong).

To leverage infinite caching, we should use versioned script:
`https://cdn.ampproject.org/rtv/001476486609642/v0.js`

This is only useful for 3P iframe case (either in AMP, or in non-AMP), as the whole script is rem

[2016-10-19 19:03] mkhatib opened #5692 "Refactor all called expectations .to.be.calledX - and blacklist pattern usage in presubmit"
Throughout AMP test code we use `expect(func.calledOnce).to.be.true` and similar patterns. This works but really hard to debug. If this fails, the error message will be `expected false to be true`, with no indications to if the `func` was called 0-times or more than once.

This becomes even more troublesome when using expectations like `calledWithArgs`.

Instead, changing usage to be:

[code]

Thi

[2016-10-19 19:40] #5691 closed

[2016-10-19 19:44] mkhatib commented on #4942
Closing this since we weren't able to repro.

[2016-10-19 19:44] #4942 closed

[2016-10-19 19:49] #5384 closed

[2016-10-19 19:51] #5575 closed

[2016-10-19 19:55] cramforce opened #5695 "Consider only running full compilation and compiled test post-submit"
- it would make PR travis runs much faster
- some issues would be only caught later
- it isn't as bad anymore since we now run typecheck, so at least things compile together

[2016-10-19 20:53] lannka opened #5697 "[amp-analytics] Use IntersectionObserver to do visibility tracking"
Use the native IntersectionObserver when available, so that visibility can be tracked when AMP document is inside an xorigin iframe, such as the case of `amp-inabox` (#5700).

Note: IntersectionObserver only fires when the intersection is crossing a list of pre-specified thresholds, hence we will not have accurate value for metrics `minVisiblePercentage` and `maxVisiblePercentage`. We decided to a

[2016-10-19 20:55] lannka opened #5698 "[amp-video] Use IntersectionObserver for autoplay"
when IntersectionObserver is available.

[2016-10-19 22:22] lannka opened #5700 "I2I: Implement amp-inabox, an AMP page living inside a non-scroll-able x-origin iframe"
`amp-inabox` is an AMP page living inside a x-origin iframe with scrolling disabled. So the whole iframe scrolls with the host document. The major use case is to display A4A in such an iframe in a non-AMP document.

The AMP runtime inside the iframe needs to communicate to the host doc, so that it can
- get viewport position which is essential for visibility tracking, resource scheduling and video

[2016-10-19 22:34] #5641 closed

[2016-10-19 22:34] #5617 closed

[2016-10-19 22:37] jridgewell commented on #5149
Fixed by #5624.

[2016-10-19 22:37] #5149 closed

[2016-10-19 22:48] mkhatib opened #5702 "Consider implementing debounced-input event for text-type inputs"
As a followup for #4272 - `change` event for text-based inputs might not provide the full experience for cases like an autocomplete or search result as-you-type.

We might be good with just `change` but this is to track this and to catch use cases for a different event.

[2016-10-19 22:51] ericlindley-g commented on #1866
@jaygray0919 — that sounds interesting. Do you have a sample page you could point to, in order to make sure we understand the full behavior you're describing?

[2016-10-20 00:50] ping commented on #5682
@cramforce That indeed fixed the problem. I copied the values from the ampbyexample example code and didn't look carefully at those values. Thanks!

[2016-10-20 00:50] #5682 closed

[2016-10-20 05:06] lannka commented on #5603
I noticed several differences between the polyfill and native impl:

1. IntersectionObserverEntry.time in the spec is the elapsed time in ms since page load. Our polyfill uses Date.time()
2. Our polyfill triggers whenever the intersection has a change, and throttled to 10/s. The native impl only triggers when the intersection ratio cross some predefined thresholds.
3. As shown in the [README](http

[2016-10-20 05:46] Wadekone commented on #1572
@dvoytenko Appreciated, we are so excited to see the update!

[2016-10-20 07:42] piyushpatil027 commented on #5685
Hi Malte,

Thanks for reply .

This image content type is jpeg .

https://s3-ap-southeast-1.amazonaws.com/reacho/post/httpimages/201016/img_2016111027200258085caeb6c95.jpg

But still is showing same error in this amp link .

http://reacho.in/amp/the-trailer-for-dangal-signals-a-tide-of-change

Sorry for in convince.

On Wed, Oct 19, 2016 at 8:24 PM, Malte Ubl <notifications@github.com> wrote:

--

[2016-10-20 09:14] VictorVO opened #5710 "Google AMP Cache 404 for PNG images"
## Google AMP cache is not able to cache some PNG images from our content.

Visit https://cdn.ampproject.org/c/www.tiendeo.com.co/amp/Tiendas/bogota/colsubsidio-cra-c/3438

Expected: see png logo image (below the red bar on the top)

Actual: This logo image is not being displayed, it is a png image of 15 kb

If we check it at https://cdn.ampproject.org/i/static300.tiendeo.com.co/upload_negocio/neg

[2016-10-20 09:36] Siton-Systems commented on #4716
What about this issue?...its problem to use the lightbox for clients with this bug (its very outstanding on desktop).

![image](https://cloud.githubusercontent.com/assets/16711871/19554507/9d37d920-96c1-11e6-998d-608d3ea58cf3.png)

[2016-10-20 09:47] Siton-Systems opened #5711 "Outstanding lightbox problem - distort proportion"
What about this issue?...(click --> zoom + distort proportion)
https://github.com/ampproject/amphtml/issues/5301

I understand their is a lot of issues but this is very **outstanding** bug especially on desktop / big screen.

Its problem to use the lightbox for real clients with this issue. I use modern browsers. For now i disable the lightbox option.

![image](https://cloud.githubusercontent.com/

[2016-10-20 11:23] jtangelder commented on #4000
Anyway for me to help finishing this feature?

[2016-10-20 11:53] Siton-Systems opened #5712 "Q: How to add dots to AMP carousel?"
Without dots the user have no clue "This is a slider". In most sliders the most basic is - three options: "dots" "arrows" "dots and arrows".

I saw this issue from feb-2016.
https://github.com/ampproject/amphtml/issues/1963

[2016-10-20 12:53] eike-hass opened #5714 "<amp-carousel>: <amp-image> with media attribute fails to load image"
We are building a `amp-carousel` with different aspect ratios on different breakpoints. We utilize the heights attribute on the `amp-carousel` and the media attribute on `amp-image` elements to load optimized images.
When another breakpoint is triggered (e.g by switching from portrait to landscape) `amp-image` fails to load the image and stays blank. A carousel navigation fixes the issue.
## How d

[2016-10-20 13:58] tdrl commented on #5663
I admit that I don't understand the boilerplate functionality terribly well, so help me out.  In the 3p case (either 3p iframe in AMP page or amp-inabox on non-AMP page), how does the `hidden` attribute get removed?  Is that done by the AMP runtime when it boots?

[2016-10-20 15:56] congyun commented on #2952
Hello AMP folks,

I'm seeing the issue in #2952 again in our DFP FE with AMP ads preview support. I'm wondering is there any recent change made here for the sandboxed-iframe?

The same reproduce procedure is still applied. I saw error in dev console as below:
![screen shot 2016-10-20 at 11 51 51 am](https://cloud.githubusercontent.com/assets/490849/19567555/1ef17058-96bc-11e6-9979-3fa4dcfda43c.png

[2016-10-20 16:31] lannka commented on #5663
@tdrl yes, as I pointed out in the PR review, it happens [here](https://github.com/ampproject/amphtml/blob/master/src/style-installer.js#L112)

[2016-10-20 16:36] cramforce commented on #2952
Closing in favor of other issue.

[2016-10-20 16:37] cramforce commented on #2952
@zhouyx The `this.isLocalStorageSupported_ = 'localStorage' in this.win;` line in `storage-impl.` needs to be wrapped in a try block. We should probably add an integration test for this.

[2016-10-20 16:37] emphaticsunshine commented on #5560
@jasti , that makes a lot more sense. But I have been recently observing that the ads below the fold are not resizing sometimes if ad is not loaded before I scroll to it. Is that an expected behavior too?

[2016-10-20 16:40] lannka commented on #5560
@emphaticsunshine ads starts load when it's within 3 viewports away. Your case can happen if the ad sits at the bottom, and you scroll very fast to it.

[2016-10-20 16:43] jasti commented on #5560
@emphaticsunshine would be great to have a sample page!

[2016-10-20 16:44] cramforce opened #5716 "Add integration test for rendering amp in a sandboxed iframe"
To avoid regressing #3005

Also see that bug for concrete sandbox attribute value.

The actual test can just run our basic integration test and add the sandbox. No need to an actual new test.

[2016-10-20 17:09] aghassemi commented on #4716
@Siton-Systems Fix is in review (https://github.com/ampproject/amphtml/pull/5717)

[2016-10-20 17:44] emphaticsunshine commented on #5560
@jasti , I will try to get something for you as the stuff I am working is in development phase so it's not public yet.

@lannka thanks for clarifying it

Can you guys explain the purpose of `prefer-viewability-over-views` value for `data-loading-strategy` as it's documentation on AMP site is not very clear.

[2016-10-20 18:06] #3812 closed

[2016-10-20 18:46] jridgewell commented on #2952
Damn, I left that but forgot to submit the review. 😢

[2016-10-20 18:51] jridgewell commented on #5714
/to @camelburrito

[2016-10-20 18:57] src-code opened #5721 "I2I: Rendering native/simple ads outside amp-ad iframe"
Carried over from discussion in PR #5122.

I'd like to implement a small but useful change to `amp-ad` which would allow native advertising rendered without a call to an ad network to still be managed by `amp-ad` with minimal effort.
## Problem

Currently `amp-ad` generally assumes that ad content will be rendered from an ad network call, which implies iframes and a network request.  It doesn't gr

[2016-10-20 19:14] jridgewell commented on #5712
I don't think we currently have that, just the arrows. @camelburrito?

[2016-10-20 19:15] nbeloglazov commented on #5324
What's ETA of it being live?

[2016-10-20 19:16] jridgewell commented on #5711
Dupe of #5301, as you noted. Please comment on there to ping.

[2016-10-20 19:16] #5711 closed

[2016-10-20 19:17] jridgewell commented on #5710
I get the image? Did you change something on your end?

[2016-10-20 19:17] #5710 closed

[2016-10-20 19:20] jridgewell commented on #5685
The file extension is `jpg`, but the content is `png`. Here's the (first bit of) raw bytes in the image

[code]

[2016-10-20 19:26] camelburrito commented on #1963
@erwinmombay - the bugs reported here should have been fixed with slidescroll launch.

[2016-10-20 19:26] camelburrito commented on #5712
I think we might have something like this in the next version of carousel
@ericlindley-g might be able to fill-in or point to a roadmap

[2016-10-20 19:34] mkhatib opened #5723 "Increase or allow controlling timeout for hiding carousel controls hinting on mobile"
Carousel controls disappear on mobile pretty quick (currently hard-coded to 1 second). This is not enough time for the user to pay attention to the side of the page most of the time. I rarely notice a carousel exists and usually just thinks its an image and scroll past it.

Can we increase the default (maybe 3-5s) and possibly allow overriding this through an attribute if the publishers choose?

[2016-10-20 19:35] jridgewell commented on #5603
1. We're not even generating a `DOMHighResTimeStamp`.
2. Maybe allow them to pass the thresholds they're interested in?
3. I don't understand this change.

[2016-10-20 19:59] jridgewell commented on #5686
/to @erwinmombay

[2016-10-20 20:01] jridgewell commented on #5684
You need to set a specific width. See the [docs](https://www.ampproject.org/docs/guides/responsive_amp#layout-elements-responsively).

[2016-10-20 20:01] #5684 closed

[2016-10-20 20:27] lannka commented on #5603
@jridgewell
1. `performance.now()` will give the value. It has a [good browser coverage](http://caniuse.com/#search=performance).
2. sure, we can allow a param passed in. To keep the backward compatibility, we can make the current behavior as default (no param given).
3. which part? the problem or the proposed solution?

[2016-10-20 20:30] camelburrito commented on #5714
@eike-hass - Thats cool :) Could you try using srcset attribute on the images instead - i think that would solve your issue .

[2016-10-20 20:30] MsXLabs opened #5725 "Accelerated Mobile Pages for vBulletin"
Hello, you can download AMP for vBulletin mod here: http://www.vbulletin.org/forum/showthread.php?t=323668

Ps. sorry, I couldn't find elsewhere to send this link

[2016-10-20 20:32] jridgewell commented on #5603
1. With that, we don't need any relative stuff (`performance.now()` is already)
2. Sure, that'd simplify some of the IntersectionObserver code
3. The solution. Why install an observer if none is requested? Or anything else in it.

[2016-10-20 20:33] jridgewell commented on #5725
/cc @rudygalfi

[2016-10-20 20:37] camelburrito commented on #5723
5 seems pretty long, and it would actually lead to a broken UX (worse than existing) -

Dup of https://github.com/ampproject/amphtml/issues/3840

[2016-10-20 20:38] #5723 closed

[2016-10-20 20:51] cramforce opened #5726 "Stop reporting 404s via error reporting"
It is just spammy and not useful.

[2016-10-20 20:55] Gregable commented on #5324
Next week.

[2016-10-20 20:56] jridgewell opened #5728 "Guard Visibility States"
Viewer might be sending down a `prerender` vis state after setting it to something else. Would this break things?

[2016-10-20 21:01] pdufour opened #5729 "Allow `.` in clientId fallback cookie"
## Short description of your issue:

**TL;DR: Can `.` be added as an allowed character for clientIds?** (https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/cid-impl.js#L115-L117)

Snowplow has an `amp-analytics` integration https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js#L811, that we are migrating to from JS tracker. But to ret

[2016-10-20 21:19] jridgewell opened #5730 "AMP Sidebar: "open" but not visible"
1. https://ampbyexample.com/components/amp-sidebar/
2. Scroll down to the toggle sidebar buttom
3. Mash it a bunch

![screen shot 2016-10-20 at 5 17 49 pm](https://cloud.githubusercontent.com/assets/112982/19578358/60b5e4d8-96e9-11e6-85c2-492d0aed28f3.png)

I'm able to trigger in iOS safari and desktop chrome (both normal and android emulation mode).

[2016-10-20 21:22] camelburrito commented on #5730
@jridgewell so where is the issue ?

[2016-10-20 21:22] cramforce commented on #5721
Is visibility tracking the only thing you need the backing iframe for? Any reason `amp-analytics` doesn't work for that?

[2016-10-20 21:23] lannka commented on #5603
3. it's to provide the `initialIntersection`. I reconsidered this, my proposal won't work. We have to pass the info from host doc via URL fragment.

1. the starting time is different though. in host doc, it's relative to the page load. inside iframe, it's relative to the iframe load. though most likely the creative only cares about the duration, it might still be good to consolidate. 3) requires t

[2016-10-20 21:31] camelburrito commented on #5730
@jridgewell - happens when an earlier vsync finishes later than a recent vsync - will fix it :) Thanks for filing

[2016-10-20 21:35] lannka commented on #5721
This sounds great to me.
[code]

This can be our TRUE native solution @jasti

[2016-10-20 21:50] cramforce commented on #5721
I understood the original proposal to not want any type of special AMP think. Just any regular AMP markup. I'd like to avoid introduces concepts if possible.

If this would get away without the `amp-ad` that would have many benefits I imagine (in terms of blockability for example).

[2016-10-20 21:50] jridgewell commented on #5729
/to @cramforce

[2016-10-20 21:55] lannka commented on #5721
@cramforce I thought we want to unify the ad experience in AMP.

[2016-10-20 22:02] cramforce opened #5732 "Don't report errors on pages with non-AMP JS"
Because there is too many of them and all bets are off.

Something like `document.querySelector(script[src^='https://cdn.ampproject.org'])` should work to guard not submitting a report.

[2016-10-20 22:03] erwinmombay commented on #5732
+1, this would cut down on noise a lot

[2016-10-20 22:10] jasti commented on #5721
With @cramforce on this one. Details [here](https://github.com/ampproject/amphtml/pull/5122#issuecomment-254371749) but basically @src-code needs viewability for different sections inside of the main element. amp-analytics only provides element level viewability.
@lannka there is no need for data-url because the "ad" is already there alongside content.

[2016-10-20 22:18] yavorm opened #5734 "Amp-accordion - Ability to tag a section as collapsed by default."
We'd like to use an amp-accordion for an expandable list of filtration options on top of a page which contains a list of items. Our accordion has a single section which does not have the `expanded` attribute.

The problem is that while clicking from one page to another, sometimes the accordion will be displayed expanded on page load (while other times it's collapsed).

Please add a `collapsed` att

[2016-10-20 22:23] jridgewell commented on #5678
Taking this one, I've wanted to do a Log cleanup anyways.

[2016-10-20 22:25] ericlindley-g commented on #5734
Thanks for the request, @yavorm. Currently the accordion stores state, so that if you open it, then navigate to another page, then navigate back, the accordion will still be open. https://github.com/ampproject/amphtml/issues/3813 has a request to not store this state, so it is always either expanded (if you have included the `expanded` attribute) or collapsed (if not). Would this solve your proble

[2016-10-20 22:25] jridgewell commented on #5734
This is due to local storage persisting, right?

[2016-10-20 22:26] cramforce commented on #5678
Working on it right now

[2016-10-20 22:28] camelburrito commented on #5734
session storage.

[2016-10-20 22:37] #5726 closed

[2016-10-20 22:39] lannka commented on #5721
hm I'm actually thinking about something different, which does not really solve @src-code's problem. I wanted to expand the [imagead](https://github.com/ampproject/amphtml/issues/5541) concept to nativead. We let publisher to render a JSON response to an ads without an iframe. Implementation wise, it will be actually the very close to `amp-list`.

[2016-10-20 22:54] src-code commented on #5721
@cramforce There were a few problems I was seeing while playing with an `amp-analytics`-based approach, please correct me if I'm misunderstanding on any of these:

   * Only works with `amp-*` elements, so I'd likely still need something like `amp-ad` to wrap my ad content anyway.  But not clear what element I'd actually want to use (an `amp-ad` fallback most likely?)  Seems better to keep the tra

[2016-10-20 22:57] yavorm commented on #5734
Yes, that is correct

[2016-10-20 22:58] yavorm commented on #5734
Closing this bug, thank you for the explanation @ericlindley-g

[2016-10-20 22:58] #5734 closed

[2016-10-20 23:02] src-code commented on #5721
@lannka Yeah, I was envisioning something more like:

[code]

Or maybe you could go more generic on the plugin and have a `native` type, and let the developer link to their own JS for tracking or what-not:

[code]

[2016-10-20 23:15] dvoytenko commented on #1572
@Wadekone Once @5738 is merged, the `_top` target will be allowed and will also be default.

[2016-10-20 23:35] ericlindley-g commented on #5712
The current plan for the next version of the carousel is to use more of a "film strip" at the bottom of the carousel to indicate the number of items in the carousel, and make it easy to go between them, but I'm not averse to having a "dots" affordance that can be toggled instead. The trouble with "dots" is that it starts to break with many items—but then again, it's standard to have a small number

[2016-10-20 23:36] #5712 closed

[2016-10-20 23:58] #5663 closed

[2016-10-20 23:59] lannka commented on #5663
Removing the boilerplate in friendly iframe was the correct fix.

[2016-10-21 00:19] lannka commented on #5513
hi @kul3r4 do you want to take a look at the ABE issue?

[2016-10-21 00:34] aghassemi commented on #5513
Closed by https://github.com/ampproject/amphtml/pull/5740

[2016-10-21 00:34] #5513 closed

[2016-10-21 00:36] lannka commented on #5513
@aghassemi to track the ABE bug, you might want to open an issue [here](https://github.com/ampproject/amp-by-example)

[2016-10-21 01:02] #1572 closed

[2016-10-21 01:49] zhouyx opened #5744 "A4A ad config won't work when render via cross domain iframe"
in `amp-ad-api-handler` we  check `this.baseInstance_.config` however A4A never set a variable like this. So when A4A fallback to render via cross domain iframe, it can never be treated as a supported render-start ad. (mainly doubleclick will break when fallback from A4A to render-start.

[2016-10-21 02:24] zhouyx opened #5747 "AmpAdApiHandler creates listener too late, and never receives `bootstrap-loaded`"
When I test with `everything.html` I found that when A4A fallback to render via iframe, we never receive `bootstrap-loaded`. I found that's because when we create iframe, `integration.js` sent out the `bootstrap-loaded` msg. And only after that `apiHandler` set up the listener to that msg, thus it can never receive it.

[2016-10-21 02:33] smeder commented on #4078
Agreed that would be really nice to have a browser API. Not the world we line in today though...

[2016-10-21 02:46] zhouyx commented on #5747
Oh! actually I think it's because A4A ad never calls `bootstrap-loaded`

[2016-10-21 02:48] dandv opened #5748 "Add cross-reference and/or comparison between amp-analytics variables and HTML URL Variable Substitutions"
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md

vs.

https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md

[2016-10-21 03:29] lannka commented on #5541
Per discussion in the other thread (#5721), I'm thinking of expanding the use case to beyond pure image ad. It's still an XHR request returning a JSON object, but we let publisher to render the ad using a template (such as amp-mustache).

The image ad use case becomes:
[code]
We can allow pub compose the adrequest `data-url` using URL replacement.

There shouldn't be new security concern since all

[2016-10-21 03:31] cramforce commented on #5729
Yeah, no problem. @pdufour Could you send a PR that extends the regex here? https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/cid-impl.js#L115

[2016-10-21 04:37] saurabhdixit123456 commented on #5220
thanks

[2016-10-21 05:51] avimehta commented on #5657
/cc @michaelkleber

[2016-10-21 07:56] eike-hass commented on #5714
@camelburrito We would like to have different aspect ratios for the images on certain breakpoints. Do you think that would be possible with srcset?

[2016-10-21 07:59] mkhatib commented on #4880
This is probably has been fixed. @Gregable to confirm.

[2016-10-21 08:11] camelburrito commented on #5714
@eike-hass - i have not tried it myself - but i just read that you could use srcset with sizes and make this work with just one image

http://ericportis.com/posts/2014/srcset-sizes/

Let me know how this goes.

[2016-10-21 08:54] eike-hass commented on #5714
@camelburrito as i see it the picture element would be the thing we are trying to go for. Is the current behavior intended?

[2016-10-21 09:50] erwinmombay commented on #5686
@dvoytenko any easy fix for this?

[2016-10-21 11:10] elie195 opened #5750 ""Find" feature in mobile Safari does not work as expected"
"Find" feature in mobile Safari does not work as expected.
## How do we reproduce the issue?

https://www.google.com/amp/appleinsider.com/articles/16/09/09/apples-wide-color-screen-on-the-iphone-7-will-lead-to-more-faithful-color-reproduction/amp/?client=safari
1. Enter "true tone" in Safari address bar and select "On This Page (2 matches)"
2. Press down/up arrows a few times

Expected: Match will

[2016-10-21 12:45] Wadekone commented on #1572
@dvoytenko  Thanks for the heads up!
Side question if I may - is there any information on the amp availability by countries? I know there was a page with websites by countries [here](https://www.ampproject.org/) like 3 weeks ago, but now it's gone. Also, the last update on this was posted by Elena [here](http://searchengineland.com/google-amp-listings-feature-live-12-countries-246328) back in Marc

[2016-10-21 14:34] adtechnology commented on #5608
The problem now also appears on iPhones, you can investigate this on [this domain](https://www-test.wieistmeineip.de/anbieter/telekom/amp/)

[2016-10-21 14:40] xgretsch commented on #5541
@lannka As you've seen, I've just managed my first PR. I hadn't understood the requirement to fork the project first.

I have no objection to imagead being changed to implement a template engine - in which case it would make sense to call it "custom" instead of "imagead". However, I don't how much work it would take to do: I've never used mustache before. I'll take a quick look at it, but it would

[2016-10-21 15:29] cramforce commented on #5541
@xgretsch I'm wondering: Did you take a look at `amp-list`? I'd be interested if that would work for you out of the box.

[2016-10-21 15:35] evdoks commented on #5608
I am experiencing similar issue. Often the ad is displayed as a huge grey rectangle making the page unreadable.
<img width="723" alt="screen shot 2016-10-21 at 16 12 39" src="https://cloud.githubusercontent.com/assets/1532773/19604242/b6e24240-97b4-11e6-8722-00554c80e009.png">

[2016-10-21 15:43] xgretsch commented on #5541
@cramforce I have to admit, I hadn't - `amp-list` sounds like some kind of list box! A quick look suggests that it would work for single ads, but wouldn't give me a way of making a single call to the ad server to fill multiple ad slots (thus ensuring that the same ad doesn't get repeated twice on the same page, as well as improving performance.) Since I've now implemented a working solution (bar t

[2016-10-21 15:47] cramforce commented on #5541
@xgretsch Sorry about that. Yeah, the name is stupid. Could you take the time to take a deeper look? Introducing concepts to AMP is very expensive to us (docs, maintenance, developers have to  understand them), so if an existing concept can work, that would be great.

We will rename `amp-list` at some point. It works totally fine for non-lists :)

[2016-10-21 15:48] cramforce commented on #5608
CC @lannka @zhouyx

[2016-10-21 16:08] cramforce commented on #2952
I actually accidentally fixed this in #5602 :)

[2016-10-21 16:08] #2952 closed

[2016-10-21 16:28] cramforce opened #5754 "Bring AMP cache origin checks in alignment with CORS spec"
The AMP CORS spec requires that the AMP Cache origin may be either 'cdn.ampproject.org' or '*.cdn.ampproject.org'.

We need to change all places that check for the proxy origin (such as `isProxyOrigin`) to respect both patterns.

[2016-10-21 16:29] ericlindley-g commented on #1963
Reopening — some of the "bugs" in the thread have been fixed, but the primary feature request for an affordance indicating the number of items in the carousel has not been addressed, and there have been a few nice proposals that would be good to preserve.

[2016-10-21 17:03] zhouyx commented on #5608
@adtechnology @evdoks I still can't reproduce this. @adtechnology I tried the page you gave me, it  looks good to me. @evdoks Can you also share the page you are testing with?
Does this happen all the time?

[2016-10-21 17:06] zhouyx commented on #2952
LOL 😄

[2016-10-21 17:07] #5744 closed

[2016-10-21 17:08] jridgewell commented on #2952
@cramforce: How? It's the same `'localStorage' in this.win`?

[2016-10-21 17:36] commanderfun opened #5756 "Highlight how you can have a non-AMP and an AMP version of the same page."
This is an issue I have with the AMP documentation.

The information on the page below should be explained and highlighted "front and center" in the docs.  Right now it's kind of buried in the docs.

"In some cases, you might want to have both a non-AMP and an AMP version of the same page, for example, a news article. Consider this: If Google Search finds the non-AMP version of that page, how does

[2016-10-21 19:49] cramforce commented on #5608
I also tried reproing on iOS and Chrome and everything seemed to work fine.

[2016-10-21 19:50] cramforce commented on #2952
The code used to actually read the property as in `!!this.win.localStorage`. I changed it, because reading the `localStorage` is as slow as actually reading a value in Chrome.

[2016-10-21 20:01] jridgewell commented on #5608
They've turned off the ad campaign. @adtechnology said he'd get a test environment for me on Monday.

[2016-10-21 20:40] cramforce commented on #4078
@smeder Could you file a separate issue for white listing target domains for this feature?

[2016-10-21 20:42] cramforce commented on #4078
@avimehta had a crazy idea for how to pass the client id in a more secure fashion and it is working.

See this example http://output.jsbin.com/gifejef/quiet?ref=123

This passes the client id via referrer. The main benefit is that this cannot accidentally leak via sharing the destination URL.

How would people feel about this?

[2016-10-21 20:44] dvoytenko commented on #4000
@jtangelder I think the implementation is done, but it's going through security reviews. But do please clarify what you have in mind and if the proposed protocol works well for you.

[2016-10-21 20:50] dvoytenko commented on #1572
I'll refer to @rudygalfi to answer these questions.

[2016-10-21 21:02] jridgewell commented on #4078
You just leaked the referrer 😉. I assume you hit back then copied the URL?

[2016-10-21 21:51] jridgewell commented on #5750
/to @dvoytenko

This might be fixed by the new iOS Viewport Binding.

[2016-10-21 22:01] jpettitt commented on #4078
So if I'm following @cramforce a link (presumably to a whitelisted origin) could contain an client ID url param `ref=blah` in the referrer.  Since our CDN is on varnish I could parse that at the edge and turn it into a `set-cookie: blah` to set the same ID on the next page.  When the next page loads analytics will see the new cookie id and presto we've linked the sessions without leaking it in the

[2016-10-21 22:10] rudygalfi commented on #1572
I think the page you're referring to was https://www.ampproject.org/learn/who, but it's been changed since. Are you asking specifically about where Google is driving traffic to AMP content (because of course there's nothing about AMP that's country specific).

In terms of countries, I think the article you linked is a majority. I don't have a list, but I think Australia, Canada, Argentina, Colombi

[2016-10-21 22:11] adrianhaurat commented on #1816
Having same issue as @derekpeterson. Was there a solution or workaround?

[2016-10-21 22:14] cramforce commented on #4078
@jpettitt you can read the value via `document.referrer` on the destination just like a query param from `location.href`. HTTPS is actually not an issue because the AMP cache uses `<meta name=referrer content=always>` unless you override it.

@jridgewell LOL, yes. The correct URL is http://output.jsbin.com/gifejef/quiet. The leakage is easy to fix, though, because the same logic that adds it on na

[2016-10-21 22:36] jasti opened #5761 "Have GA set the same client ID as in non-AMP"
Right now, GA sets the client ID as GA1.N.MMM.MMM (when loading AMP page from publisher domain) which is measured as a user being bounced even though the user lands on the same domain. This is because GA sets the client ID as  MMM.MMM on non-AMP pages.

Note that this is only applies to the case when using below in the GA config.
    'vars': {
      'clientId': 'CLIENT_ID(_ga)',
    },

CC @rudyga

[2016-10-21 22:50] sachiyos opened #5764 ""{position:relative}" is disallowed"
**TL; DR: Is {position:relative} disallowed?**

**Short description of your issue**
A couple of people on [Google Product Forum](https://productforums.google.com/forum/?utm_medium=email&utm_source=footer#!msg/webmasters/HvGyqquk-nY/EyrLF-vpAAAJ) mentions that their AMP validated successfully and it's included in search carousel. But when clicking on the AMP article, that includes "{position:relati

[2016-10-21 22:55] jridgewell commented on #5764
Which browser are you seeing the blank page on? There's nothing wrong with using `position: relative`.

[2016-10-21 22:57] muxin commented on #5754
I only found `isProxyOrigin` implementing the checking logic of proxy origin.

[2016-10-22 00:16] jpettitt commented on #4078
@cramforce I was presuming the next page would also be AMP and wanted to get the same ID in before the amp runtime assigned a new one, hence manipulating it on the edge.  Could you make the amp runtime use the id in the referrer param if it's there and set it as a cookie on the domain it's running on?  That would mean AMP to AMP links would have the same ID everywhere ...

(and not do any of that

[2016-10-22 06:57] muxin opened #5766 "Share tracking fragment vs. fragment navigation"
Share tracking feature and fragment navigation feature both use fragment in the url. It's not clear what we should do when they conflict with each other. There are several cases:
### Case 1

The url only contains one fragment such as `www.google.com/amp/some-publisher/some-page.html#ElementId` and the `ElementId` doesn't start with `.`
#### Option A

Disable the share tracking url generation (no s

[2016-10-22 22:11] #5516 closed

[2016-10-22 23:13] Sungodragon commented on #3403
Guys what can we do for this in search for products

[2016-10-23 11:01] Wadekone commented on #1572
@rudygalfi
Rudy, thanks for your answer! My apologies for being slightly off-topic here.
Basically, we've created AMP magento extension, and our clients are asking us, is AMP results are already being served in their countries. There's no strong knowledge of AMP among ecommerce stores owners yet, since there's only 1 major player in this area right now - the Ebay. But that's one of the main questi

[2016-10-23 11:50] sonyarianto commented on #1939
totally agree and AMP (MUST) support the unknown size

[2016-10-23 16:51] cramforce commented on #1939
It isn't going to happen. What stops you from fetching the image and getting its size? That is what the browser will do eventually – but it will have to do it over a a shitty high latency 2g connection as opposed to your server in a data center with a 10ms ping.

[2016-10-24 08:47] Sidney-Dev opened #5772 "amp"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-10-24 13:05] FabienU commented on #4464
Could you check my previous question?

[2016-10-24 15:17] cramforce commented on #5608
I discovered what is going on. This happens when the ad requests to resize itself to a string :)

We then run code like this `250 + "250" - 250` which in JavaScript equals ` 25000`.

Advertisers can easily fix this on their side by sending numbers instead of strings, but we should probably run a `parseInt(…, 10)` on the incoming dimension to avoid this type of problem.

[2016-10-24 15:55] #5772 closed

[2016-10-24 16:16] cramforce commented on #5754
Excellent. Please send PR to fix.

[2016-10-24 16:24] cramforce commented on #4078
@jpettitt Lets track AMP picking these values up separately (I think that is also independent of how we transport them).

[2016-10-24 17:29] jridgewell commented on #4464
/cc @konakk

[2016-10-24 17:33] #5729 closed

[2016-10-24 17:36] rudygalfi commented on #1572
With the Top Stories question, we're getting into Google Search behavior here, and this isn't really the right place for those questions, but [this](https://productforums.google.com/forum/#!topicsearchin/webmasters/category$3Aaccelerated-mobile-pages-amp%7Csort:relevance%7Cspell:false) is.

https://developers.google.com/search/docs/data-types/articles says: "Top Stories with AMP is a Google Search

[2016-10-24 17:46] #5747 closed

[2016-10-24 17:52] camelburrito commented on #5714
@eike-hass - I think your usage is a super edge case (which i would still like to investigate). I was trying yo unblock you by suggesting alternatives.

The problem might be more of a repaint not happening when a particular dimension is reached. (when one image is hidden and another is shown). Ill still try to investigate this.

[2016-10-24 17:55] jridgewell opened #5775 "AMP Form Flake"
[code]

[2016-10-24 17:55] aghassemi opened #5776 "YouTube does not dispatch a `pause` event after video ends (unlike HTML5 video)"
This means the animation keeps playing after video ends.
YouTube might be dispatching a different event for video end that can help us fix this issue.

[2016-10-24 17:56] mkhatib commented on #5776
Yes that would be ENDED or STOPED

[2016-10-24 17:59] jridgewell opened #5777 "AmpAdApiHandler: opt_defaultVisible is always true"
In both calls, `opt_defaultVisible` is set to true. We should remove the parameter.

[2016-10-24 18:00] rudygalfi commented on #5766
I think we agreed on the policy that the user should win, meaning we shouldn't do anything that would break the user's experience. I had a few questions:

- Does 1B still enable the internal document navigation to work properly?
- It doesn't make sense to be what benefits 2B has. Can you clarify?

[2016-10-24 18:14] #5689 closed

[2016-10-24 18:16] jridgewell commented on #5775
Ha, this is because I [made](https://github.com/ampproject/amphtml/pull/5758) `timer` code run faster.

[2016-10-24 18:27] rudygalfi commented on #3403
@Sungodragon Supporting features like product search is a use case envisioned for a feature like this.

[2016-10-24 18:28] jridgewell commented on #5766
I don't see why we can't just detect the `ElementId` in each of

1. `#ElementId`
2. `#ElementId&key1=value1`
3. `#.share&ElementId`
3. `#.share&ElementId&key1=value1`

then scroll to `ElementId` element. We shouldn't have to disable share tracking to get the normal experience.

[2016-10-24 18:30] muxin commented on #3561
Seems like the test is still failing
`Edge 14.14393.0 (Windows 10 0.0.0) error page "before each" hook for "should show the body in error test" FAILED`
Shall we skip this test on Edge too?

[2016-10-24 19:56] jridgewell opened #5778 "Release Notes Formatting: Details should have ul"
![screen shot 2016-10-24 at 3 55 35 pm](https://cloud.githubusercontent.com/assets/112982/19661603/5699e1e0-9a02-11e6-9fb6-200d706b3220.png)

The details section should include a `<ul>` list.

[2016-10-24 20:11] jridgewell opened #5779 "ALP bug"
https://github.com/ampproject/amphtml/blob/master/ads/alp/handler.js#L142

[code]

Is this supposed to be `eventualUrl.indexOf(`${urls.cdn}/c/`) != 0`?

[2016-10-24 20:19] jridgewell commented on #5754
These need to be investigated, too:

- https://github.com/ampproject/amphtml/blob/master/3p/integration.js#L524-L526
- https://github.com/ampproject/amphtml/blob/master/ads/alp/handler.js#L142
- https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/a2a-listener.js#L79
- https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/0.1/amp-form.js#L105
- https://github.com

[2016-10-24 20:21] cramforce commented on #5779
Weird.

[2016-10-24 20:27] muxin commented on #5766
@rudygalfi
- We can still scroll to the `ElementId` element. Instead of using the browser's default scrolling, we will scroll to it ourselves.
- For 2B, I'm just thinking that it might be easier for the browser to perform default scrolling to the `ElementId` element operation without extra work to be done.

[2016-10-24 20:43] zhouyx commented on #4328
closed by #5356

[2016-10-24 20:43] #4328 closed

[2016-10-24 20:58] tdrl commented on #4770
Just checking in on the status of this.  I know that the friendly iframe machinery is now in place and (?) solid.  What else needs to be done on this?

[2016-10-24 20:59] avimehta commented on #5748
The two are betting combined in near future. @bpaduch has a PR that I need to review.

[2016-10-24 21:15] cramforce commented on #5754
Yep, all of these should be replaced with a function like `looksLikeProxyUrl` that centralizes the logic and does the domain suffix match.

[2016-10-24 21:24] dvoytenko commented on #5750
This is a known issue for iOS Safari. I thought I saw the bug before, but couldn't find it now. So I created a new one here: https://bugs.webkit.org/show_bug.cgi?id=163911

[2016-10-24 21:29] dvoytenko commented on #5686
@dandv Why is vertical space has to be provisioned anyway? We normally stress that `amp-list`'s primary goal is NOT to provide a client-side rendering substitute. But rather to allow pages to bring in some auxiliary (possible 3p) content, such as related articles or products.

[2016-10-24 21:30] dvoytenko commented on #5686
For more context: collapsing empty space is as bad for UX as resizing non-empty space. Visible jumps in the viewport would be similarly disrupting.

[2016-10-24 21:37] #5662 closed

[2016-10-24 21:43] cramforce commented on #5766
For now, lets keep it simple (we can make it more complicated bast on feedback):

- if incoming fragment is non-empty and doesn't start with dot, don't override it with an outgoing fragment
- when the user clicks a fragment link **always** update the outer URL to simple #fragmentValue

[2016-10-24 21:53] #5779 closed

[2016-10-24 22:37] #5748 closed

[2016-10-24 22:38] avimehta commented on #4770
Tracking all the items required for this in https://github.com/ampproject/amphtml/issues/5657.

[2016-10-24 22:58] muxin opened #5787 "loadExtension tests failed"
[code]

[2016-10-24 23:01] #5645 closed

[2016-10-24 23:02] erwinmombay opened #5788 "Meeting Notes 2016-10-24"
### 2016-10-24

@cramforce
- no longer report load errors to server
- better error messages to users
- chunking went in (in newest canary)

@dvoytenko
- Working on animations spec
- Working on bind spec
- First version of LaterPay merged.
- Working on iOS and relative-body viewport launches

@bpaduch
- Doc fixes: code blocks, PR 5718

@choumx
- Merged PWA updates (new look & feel), working on PWA

[2016-10-24 23:10] cramforce commented on #5787
@muxin Could you track this down?

[2016-10-24 23:11] muxin opened #5789 "amp-form user-valid tests failed"
[code]

[2016-10-24 23:53] jridgewell commented on #5789
Probably related to https://github.com/ampproject/amphtml/issues/5775.

[2016-10-25 00:29] cramforce opened #5792 "Audit of code that could be removed or moved from v0.js"
- [ ] We could remove the definitions of the `assert*` functions. Might not be worth it and be dangerous.
- [x] Remove `var process =` boilerplate. We don't use `process` as far as I can see.
- [x] Replace usages of `(new Date).getTime()` with `Date.now()`. I think the latter is recognized as side effect free.
- [ ] There are IIFEs that should be inlined.
- [ ] Move XHR/URLReplacements out of core

[2016-10-25 06:05] erwinmombay commented on #5792
is there a convenience method inside closure to do the iife inlining?

[2016-10-25 08:01] ram-you commented on #2851
Out of box support for animation. Support for flex and flex layout. Support for svg icons (à la Angular Material)

[2016-10-25 13:47] kevinSuttle commented on #2851
It would make more sense to aim for something like Safari's Reader Mode stylesheet.

[2016-10-25 13:59] cramforce commented on #5792
@erwinmombay If I see it correctly it never inlines them. And it definitely doesn't inline functions that contain functions. For AMP it would be better to always inline them.

[2016-10-25 14:01] cramforce commented on #2851
@kevinSuttle AMP's goal is not for every page to look the same. The design will need to make obvious affordances for page authors to make it feel their own (Logo, colors, typography, etc.).

[2016-10-25 14:09] ithinkihaveacat opened #5799 "Add support for native sharing via amp-social-share"
The [`amp-social-share`](https://www.ampproject.org/docs/reference/components/amp-social-share#types) component supports a few different providers, but none of them make it easy to see or share the canonical URL. (This is an issue because in many cases the URL that appears in the browser alongside an AMP is not the canonical URL, so the systems provided by the browser for sharing URLs produce unex

[2016-10-25 14:13] kevinSuttle commented on #2851
Right, but isn't that what Bootstrap does too?

[2016-10-25 14:16] cramforce commented on #2851
@kevinSuttle Totally, no intention to re-invent the wheel. Just adopting the feel to fit onto the AMP axle :)

[2016-10-25 15:09] cramforce commented on #5799
yes, please!!!!!!

[2016-10-25 15:16] cramforce commented on #5792
Added a few more.

[2016-10-25 16:21] erwinmombay commented on #5792
ill work on removing process and getMode removal. For the getMode removal, do we go the install module route or the global route (similar to log)?

[2016-10-25 16:23] cramforce commented on #5792
@erwinmombay I think the log route applies here.

[2016-10-25 16:28] jridgewell commented on #5792
There shouldn't be any need for an `Object.keys` polyfill, every browser has it.

[2016-10-25 16:39] cramforce commented on #5792
Do you know which version of Android WebKit added it?

[2016-10-25 16:58] lannka opened #5801 "Make amp-iframe tolerant to string numbers in resize request"
Similar to what's done in #5795

[2016-10-25 17:12] jridgewell commented on #5792
[Kangax](http://kangax.github.io/compat-table/es5/#test-Object_static_methods_Object.keys) reports at least Android 4.0 (Ice Cream Sandwich) had it. If we're worried about even older versions, it's extremely easy to sham (key sorting will be undefined).

[2016-10-25 17:50] muxin commented on #5787
Looking

[2016-10-25 18:09] aghassemi opened #5803 "First item in carousel does not finish loading"
First item of carousel does not finish loading if carousel is not initially visible.
I have tried this with `<amp-youtube>` and `<amp-instagram>`.

To repro:
- Go to: https://output.jsbin.com/fubuka/quiet
- Scroll down to see the carousel
- Note the instagram image in carousel still have the amp dot-dot-dot animation. It never goes away.
- Notethe instagram image outside of carousel load fine.

Ha

[2016-10-25 18:15] konakk commented on #4464
Supporting channel is not on the roadmap yet.

On Mon, Oct 24, 2016 at 2:05 PM, FabienU <notifications@github.com> wrote:

[2016-10-25 18:17] cramforce commented on #5541
I mean, it is a good question as to whether we should do this, if amp-list
(renamed to amp-render) is all we need.

On Thu, Oct 20, 2016 at 9:20 PM, Malte Ubl <malte.ubl@gmail.com> wrote:

[2016-10-25 18:23] camelburrito commented on #5803
@jridgewell  - can you help take a look. I think layout callback is not being called for the iframe (instagram) the first time

![screen shot 2016-10-25 at 11 22 27 am](https://cloud.githubusercontent.com/assets/1037311/19698750/677d4206-9aa5-11e6-8f7a-37754144d9a5.png)

[2016-10-25 18:25] cramforce commented on #5721
If something is just non-iframe markup I don't care.

On Thu, Oct 20, 2016 at 2:55 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-10-25 18:38] cramforce commented on #5541
amp-list (badly named, I repeat myself) can already do that, no?

On Thu, Oct 20, 2016 at 8:29 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-10-25 18:39] camelburrito commented on #5803
Here is what is going on -

Layout callback for slides is being called even when it is outside the viewport (expected)

Which in turn calls the layout callback of its first slide - which happens to be instagram - but instagram says - do not render me outside the viewport.

Ideally run time should see if an element is owned and should layout regardless of the setting if the layoutCallback is being

[2016-10-25 18:41] dvoytenko commented on #5803
I believe @jridgewell fixed this. No? We allow owned elements to override "outside viewport" restriction.

[2016-10-25 18:42] jridgewell opened #5806 "Cannot postMessage from a data: URI iframe"
Noticed this while doing some debugging. This is because we the iframe's "origin" is `null`, but we record it as `data:...`. When trying to figure out what listeners are registered for the iframe, we do a check for `origin == event.origin`, which doesn't pass.

/cc @cramforce

[2016-10-25 18:43] src-code commented on #5721
@lannka I've taken a stab at a simplistic approach, which you can see here:

https://github.com/src-code/amphtml/commit/3d1f3e66beaa151e477fba600ab38ac3443f3e54

Basically introducing support for `content` node similar to `fallback`, except when `no-content` is handled (thanks to the amp-ad plugin calling `context.noContentAvailable()`), I check for the presence of the `content` node and give pref

[2016-10-25 18:45] dvoytenko opened #5807 "Header transition may conflict with the custom transition styles"

[2016-10-25 18:45] dvoytenko opened #5808 "Fixed layer: top=auto determination may be incorrect when the actual value of top is 0 in static layout."

[2016-10-25 18:47] lannka commented on #5541
`amp-list` can do most of the thing already. For @xgretsch's use case, the only thing missing is the requests batching functionality.

But regardless to it, I still think we should recommend all ads content displayed in `amp-ad`, including this "house ads" use case.

[2016-10-25 18:59] webdados commented on #1939
The browser will fetch the image anyway. And only one time.

Webdados
[image: Webdados - Tecnologias de Informação] <http://www.webdados.pt/>
Tel.: (+351) 21 466 93 00
Fax: We lost it in the 90s
Email: marcoalmeida@webdados.pt
www: http://www.webdados.pt
Address: Av. da Ponte 100
Pinhal de Frades
2840-167 Seixal
Portugal

On 23 October 2016 at 17:52, Malte Ubl <notifications@github.com> wrote:

[2016-10-25 19:00] piyushpatil027 commented on #5685
Thanks for reply. Got it.

On Fri, Oct 21, 2016 at 12:50 AM, Justin Ridgewell <notifications@github.com

--
Thanks & Regards
Piyush Patil

Software Engineer
Sky Id : piyushpatil27
Email Id : piyushpatil027@gmail.com
Mobile No : 09096871715

[2016-10-25 19:01] zhouyx opened #5809 "amp-sticky-ad: NOT allow background transparency."
This is a note to sticky-ad UI improvement work.
Since there are multiple approaches here, I open an issue for #5432 for better discussion.
Approach 1

[code]

Approach 2

[code]

Approach 3

[code]

Approach 4
calculate background-color value for amp-sticky-ad during runtime.

[2016-10-25 19:08] dvoytenko commented on #5787
This is probably due to #5625 - at least not being helped by...

[2016-10-25 19:08] fletc3her opened #5810 "Amp-ad for AdSense needs data-ad-format parameter"
## Short description of your issue:

Google AdSense "Ad Links" placements require an insert tag with a `data-ad-format="link"` parameter. This is not listed as supported by the amp-ad tag. Without the "format" parameter AdSense is unable to serve link units and instead places another text/image ad on the page.

AdSense documentation suggests code like this for an "Ad Links" placement:

[code]

Thi

[2016-10-25 19:09] dandv opened #5811 "Nested templates, e.g amp-list inside div <amp-access>"
Would it be possible to render an `<amp-list>` from a `src` whose URL has a variable substituted by an outer template? For example:

[code]

I've tried this with the [amp-access sample](https://github.com/ampproject/amp-by-example/blob/master/src/20_Components/amp-access.html) by making the `authorization` endpoint return

[code]

but I get the following error:

[code]

![image](https://cloud.gith

[2016-10-25 19:10] jridgewell commented on #5803
I only overrode the restriction for the x-axis (the element may be entirely to the left or right of the viewport). The y-axis restriction still applies.

This is being caused (I think, there's so many damn carousel classes I can't keep track) because:

- The carousel receives `#layoutCallback` when 3 viewports out of screen (normal)
  - The carousel tells the first item to preload
    - The first

[2016-10-25 19:11] camelburrito commented on #5803
yup :) isn't that what i wrote above :)

[2016-10-25 19:11] jridgewell commented on #5803
Also, this behavior probably never worked, even before my change in https://github.com/ampproject/amphtml/pull/5583. 😞

[2016-10-25 19:15] camelburrito commented on #5803
right now this happens only if the first slide is instagram or youtube hence this might not have been notice.

[2016-10-25 19:15] jridgewell commented on #5803
Ha, I didn't read yours. 😛

[2016-10-25 19:18] jridgewell commented on #5810
/to @jasti

[2016-10-25 19:19] jridgewell commented on #5811
/to @dvoytenko

[2016-10-25 19:27] jridgewell commented on #5803
Ok, so I see two possible solutions:

- We ignore `#rendersOutsideViewport` for owned elements. The owner says to prerender, do it.
  - Easy
  - Expensive, since `<amp-instagram>` and `<amp-youtube>` are heavy elements.
  - Owner doesn't really know best here, it just doesn't get the signals that maybe you should try prerendering again.
- We send the owner a signal when we encounter an `NOT_LAID_O

[2016-10-25 19:29] zhouyx commented on #5582
OK! Let's keep extern file. But is there anyway to keep this file clean and more organized? 3p ad contributors get merge conflict on that file because everyone add new lines at the bottom of it. Also I found that we never check if there're duplicate variables. For example there are two `data.slot` in that file.

[2016-10-25 19:45] aghassemi commented on #5803
Note that Carousel is already breaking the `rendersOutsideViewport` rules on the x-axis by always pre-rendeing (+/-) 1 slide ignoring the child's `rendersOutsideViewport`  value. (e.g. eventhough `<amp-instagram>` says never render me outside of viewport, it is getting rendered when it is invisible but next in line in the slides queue) so option 1 may not be too bad for now.

[2016-10-25 19:59] sachiyos commented on #5764
I got a below response on [Google Product Forum](https://productforums.google.com/forum/?utm_medium=email&utm_source=footer#!msg/webmasters/HvGyqquk-nY/EyrLF-vpAAAJ):

Please let me know if you need more info.
--
In my case, it was happening on **Safari** and **Chrome**. The page would work fine stand-alone (and validate), but when linked from Google (so inside the iFrame) it would look empty.
I d

[2016-10-25 20:00] sachiyos commented on #5764
I got a following response on [Google Product Forum](https://productforums.google.com/forum/?utm_medium=email&utm_source=footer#!msg/webmasters/HvGyqquk-nY/EyrLF-vpAAAJ):

Please let me know if we need more info.

[2016-10-25 20:24] xgretsch commented on #5541
So in theory, either `amp-list` or, for that matter, `amp-iframe` or `amp-img` would do the job, particularly with the addition of the batching class I've just created. But any of these would be just sleight of hand to avoid the policy which says explicitly that you should only use `amp-ad` for ads. So it seems to me that anything other than putting this into `amp-ad` only makes sense if you rever

[2016-10-25 20:26] jridgewell commented on #5764
Is this on iOS?

[2016-10-25 21:55] cramforce commented on #1939
Right, but it cannot know the space before fetching it. That is why the
server should fetch it first.

On Tue, Oct 25, 2016 at 11:59 AM, webdados <notifications@github.com> wrote:

[2016-10-25 22:05] #5608 closed

[2016-10-25 22:10] rudygalfi commented on #4997
Any estimate on when we could prioritize and work on this?

[2016-10-25 22:26] rudygalfi commented on #4449
I think it's wrong to claim visibility when it's still not loaded. I would, however, entertain the idea that the loading of any subcomponent of an element that's being tracked for visibility is sufficient to say it's visible. This is also true at the page level with the `visible` trigger: Some part of the page has to be loaded, but that doesn't imply that every ad has been loaded.

[2016-10-25 22:47] #5507 closed

[2016-10-25 23:25] cramforce commented on #5806
That is working as intended I think. Was this for `amp-iframe`? We only want to receive messages from real origins.

[2016-10-25 23:27] cramforce commented on #4997
I was thinking it would be a great second project for @chenshay

[2016-10-25 23:31] jridgewell commented on #5806
👍

[2016-10-25 23:33] cramforce commented on #5806
As a note, for why this requirement:

We want people to not redirect the contents of the iframe. Because we don't want them to be same origin as the parent page and we cannot enforce post-redirect. So, if they do any type of redirect, the origin will be different and we ignore their messages :)

[2016-10-25 23:59] zhouyx commented on #5777
We are not setting `opt_defaultVisible` for 3P ad case.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-3p-impl.js#L230
However with the new `opt_isA4A`, it's true that we can get rid of `opt_defaultVisible`. I'll remove it.

[2016-10-26 00:58] zhouyx opened #5822 "Cleanup 'amp-sticky-ad-better-ux' experiment"

[2016-10-26 01:07] jpettitt commented on #5809
I'm not following here. Are you suggesting the  `div#extra` be used to set the BG color of the ad unit?

What's wrong with just going with whatever gets inherited and letting the page author override in CSS if they choose?

[2016-10-26 05:54] #5807 closed

[2016-10-26 06:18] dvoytenko commented on #4449
@rudygalfi And what about the example I give? Are we ok with the possibility that, while `section1` and `ad1` layouts are one and the same (same position, same size), the visibility even will trigger on `section1` immediately and `ad1` will wait for some form of "loaded" signal?

[2016-10-26 10:41] eike-hass opened #5828 "<amp-carousel>: layout responsive and type slides breaks in some cases"
## Short description of your issue:

In some cases on pageload the `<amp-carousel>` fails to initialize with error `AMP-CAROUSEL# Layout not supported for: responsive` although the correct parameters are supplied.
## How do we reproduce the issue?

https://ampbyexample.com/components/amp-carousel/
1. Load Page
2. Click on outgoing link
3. Use Browser "back"
4. Repeat until error surfaces
## What b

[2016-10-26 15:44] cramforce commented on #5582
It would be great if we (manually) alpha sorted it

On Tue, Oct 25, 2016 at 12:29 PM, Yuxuan Zhou <notifications@github.com>
wrote:

[2016-10-26 17:40] jridgewell commented on #4449
Should we be waiting for all children to "load" before reporting visibility on `section1`?

[2016-10-26 18:07] dvoytenko commented on #4449
@jridgewell - yes, this is certainly one possible interpretation as well.

[2016-10-26 18:16] dvoytenko commented on #5811
@dandv The reason for this is because currently AMP disallows nested `<template>` tags. I can look if I can change that, though it'd require an additional security review. That being said, I believe you can achieve something similar with this code:

[code]

[2016-10-26 18:33] jridgewell commented on #5828
/to @camelburrito

[2016-10-26 18:35] #5808 closed

[2016-10-26 19:49] camelburrito commented on #5828
@eike-hass thanks for reporting - looking into this!

[2016-10-26 19:55] rudygalfi commented on #4449
Can we enumerate the elements that we could give a loading signal for? Presumably it includes amp-img, amp-ad, amp-iframe. Are there any non AMP elements this applies to?

I think it could make sense to call out a certain set of elements that have a loaded requirement before they will report visibility. (Usually visibility analytics hinges on the object actually being visible; otherwise it's worth

[2016-10-26 20:17] ScotsScripts opened #5838 "Jumping/twitching/jittering carousel images"
I'm still getting jumping carousel images. I don't think it has anything to do with old GPU hardware because it happens on my surface pro 3 in all browsers to some extend and my nexus 5. Here's a live URL:

https://scotsscripts.com/SMS/amp/category/modules.html

Any ideas on how to get rid of the jitter? I'm trying to get a plugin for an ecommerce system I work with out. Everything else is working

[2016-10-26 20:33] jridgewell commented on #5838
/to @camelburrito

[2016-10-26 21:32] camelburrito commented on #5838
@ScotsScripts i just tested your site on nexus5/Chrome, iPhone 6s/Safari , Mac osx/chrome - no jitters (even tested the machines where we were able to reproduce jitters before).

Could you may be record a video and give more specifics?

[2016-10-26 21:34] muxin commented on #5754
@jridgewell Thanks a lot!! Working on it

[2016-10-26 21:54] #5801 closed

[2016-10-26 21:58] dandv commented on #5686
@dvoytenko: in the use case illustrated by the screenshot, the partner wants to show auxiliary content (a list of 1+ local offers related to a recipe ingredient, determined by geolocating the user based on their IP address [for now](https://github.com/ampproject/amphtml/issues/5499)) - does this fit the purpose of amp-list, or is there a better mechanism?

With amp-list, sometimes there are no ava

[2016-10-26 22:05] #5787 closed

[2016-10-26 23:07] lannka commented on #3749
We saw a bug that
cloud.typography.com is doing a 302 redirect to a different domain, and the css is then blocked by CSP.

See [example](
https://cdn.ampproject.org/v/heatst.com/entertainment/major-spoilers-the-entire-plot-of-game-of-thrones-season-7-may-have-been-leaked-on-reddit/amp/?amp_js_v=5).

It works fine on the canonical page, but has problem on CDN.

[2016-10-26 23:12] lannka opened #5844 "CSP error on cloud.typography.com fonts"
We saw a bug that
cloud.typography.com is doing a 302 redirect to a different domain, and the css is then blocked by CSP.

See [example](https://cdn.ampproject.org/v/heatst.com/entertainment/major-spoilers-the-entire-plot-of-game-of-thrones-season-7-may-have-been-leaked-on-reddit/amp/?amp_js_v=5).

It works fine on the canonical page, but has problem on CDN.

[2016-10-26 23:19] jridgewell commented on #5844
Trying to spoil GoT?! :rage1:

[2016-10-26 23:25] ScotsScripts commented on #5838
Here's a link: https://drive.google.com/open?id=0BzpRWT3TYZ-1TzhXWFp2M1FBZUU

Looks like it's just doing it in Chrome now, and it works in other browsers for me now, so maybe it's just  chrome thing. I had turned off/on hardware acceleration and in the last thread they mentioned there could be an issue in that area. Maybe a coincidence but one of my beta testers gets the "oh snap" page error in ch

[2016-10-26 23:29] camelburrito commented on #5838
@ScotsScripts - can you give us the the os & browser information and your graphics chipset information.

[2016-10-26 23:46] rudygalfi commented on #5674
cc @avimehta

Will submit button clicks get tracked as amp-analytics `click` events? (I'm guessing no.)

Let's just start with something simple like a trigger for form submission and a variable that will tell whether it succeeded or failed.

How soon could we get to this?

[2016-10-26 23:49] pbakaus opened #5846 "Disclose employer in Governance.md"
We should prepare for outside core committers and add transparency to GOVERNANCE.md by disclosing the employer after each committer name. This was an idea from a third party, and I think it's a small, but important change.

/cc @cramforce

[2016-10-27 00:00] cramforce commented on #5844
CC @arajay

[2016-10-27 00:01] cramforce commented on #5846
Makes sense. Lets do this when our OWNERS mechanism is in place.

[2016-10-27 00:07] ericlindley-g commented on #5756
cc/ @pbakaus

[2016-10-27 00:40] aghassemi opened #5848 "Let's not skip running tests for doc-only changes"
Two problems:
1- Doc only changes will return 0 and make the master build green without actually running tests, despite build actually being red ( e.g. https://travis-ci.org/ampproject/amphtml/builds/170956232 )
2- Doc only changes can still fail tests! For instance there are tests that check validity of `example/*.amp.html` but presubmit is not run against changes in `example/*` (e.g. https://git

[2016-10-27 00:45] aghassemi commented on #5848
/cc @erwinmombay

[2016-10-27 00:48] aghassemi commented on #5848
assigning to @erwinmombay since he seems to know exactly what to change for this ;)

[2016-10-27 01:02] ScotsScripts commented on #5838
Windows 10, latest Chrome (also latest Canary), Surface pro 3, Intel(R) HD Graphics 5000. All system software should be up to date. I'm leaning towards an issue in my Chrome environment (this was working until around 4 weeks ago), but no luck tracking it down.

[2016-10-27 03:27] cramforce commented on #5674
@mkhatib should be able to do this quickly. Similar to #5388 (But please refactor into a common utility to abstract away that async complicated).

Click tracking should work just fine really. And maybe that is what most people would use? I still think it makes sense to emit something like `form-submit-success` and `form-submit-failed` as more semantic events.

[2016-10-27 05:41] heiwen commented on #3287
Just stumbled upon this, a user case from an e-commerce perspective is to show the main navigation menu in the left side bar and a filter experience in the right side bar.

[2016-10-27 13:52] bobcassels commented on #4464
We will support it, as "data-ad-channel". I will add it to one of the branches I'm working on. So "real soon now."

[2016-10-27 15:15] arajay commented on #5844
Be sure the domain is properly whitelisted at typography.com, including the https version if it exists and any sub-domains. However I did not get the 302 when I checked your site, so maybe you've already resolved the issue.

[2016-10-27 15:35] cramforce commented on #5844
This definitely still repros on
https://cdn.ampproject.org/v/heatst.com/entertainment/major-spoilers-the-entire-plot-of-game-of-thrones-season-7-may-have-been-leaked-on-reddit/amp/?amp_js_v=5

Check the Chrome console for the CSP violation.

On Thu, Oct 27, 2016 at 8:15 AM, Arajay <notifications@github.com> wrote:

[2016-10-27 16:09] dvoytenko commented on #4449
@rudygalfi Your interpretation, I think, makes the most sense. Generally, each AMP element produces its own loaded signal. `amp-img`, `amp-iframe`, `amp-youtube`, etc - all depend on a fairly comprehensive loading; `amp-ad` signals as soon as it's rendered; `amp-video` - as soon as playback can be started. Composite elements, such as `amp-carousel`, signal almost immediately without waiting for ch

[2016-10-27 16:09] aghassemi opened #5850 "Run integration tests on presubmit"
We should run integration tests on presubmit ( just Chrome/Travis not SauceLabs ). I have several PRs in review to make integration tests stable on Travis, so hopefully we can enable this soon and see how it works out.

//cc @erwinmombay

[2016-10-27 16:38] jpettitt opened #5852 "amp-sticky-ad fails with 'amp-sticky-ad must have a single amp-ad child' even if one ad is disabled with amp-experiment"
If I create an `<amp-sticky-ad>` with two `<amp-ad>` tags controlled by an `<amp-experiment>` the `amp-sticky-ad` code sees them both as active and refuses to render.

Expected behavior: Only enabled tags should be counted.

This is preventing us from deploying `<amp-sticky-ad>` on several production sites.  Is there any workaround you can think of?

[2016-10-27 16:47] jpettitt commented on #5852
Update: putting the experiment on the `<amp-sticky-ad>`seems to work so this is no longer blocking us.

This fails
[code]

This works

[code]

[2016-10-27 16:50] aghassemi commented on #5850
never-mind they do run as part of `gulp test` just not on saucelabs which is what we want for PR.

[2016-10-27 16:50] #5850 closed

[2016-10-27 16:59] jridgewell commented on #5852
`<amp-sticky-ad>` has very tight restrictions for now. I'd like to see it loosened to support arbitrary children. @zhouyx?

[2016-10-27 17:05] arajay commented on #5844
Usually I see this problem when a site has been changed to use https from http OR when a redirect is in place that conflicts with the whitelist on typography.com (e.g. redirecting to www, but on typography.com whitelist you have not included www). Be sure your domain is properly whitelisted with typography.com including https and any www/non-www instances.

In any case this is not really an issue

[2016-10-27 17:06] fletc3her commented on #2663
I think the automatic rewriting of URLs would work well for us, helping to ensure that users stayed on AMP pages when possible, and continuing to serve traffic from the CDN.

I've implemented links to AMP content from within the AMP pages on my sites. If the user arrives at the site through AMP they will continue to be served AMP pages. There is an option in the footer which allows them to return

[2016-10-27 17:15] jpettitt commented on #5852
Arrg.  Spoke too soon.  The runtime validator accepts the solution with two `<amp-sticky-ad>` tags but the cdn one doesn't.  So I'm still blocked on this.

[2016-10-27 17:18] jpettitt commented on #5852
I'd call this a bug not a discussion.  Elements enabled/disabled by `<amp-experiment>` should work inside any other amp tag.

[2016-10-27 17:24] cramforce commented on #5844
@arajay There is actually nobody here from the original site, I think. We'd just like typography.com to not issue these redirects if possible.

[2016-10-27 17:26] lannka commented on #5844
@arajay the [example](https://cdn.ampproject.org/v/heatst.com/entertainment/major-spoilers-the-entire-plot-of-game-of-thrones-season-7-may-have-been-leaked-on-reddit/amp/?amp_js_v=5) here causes a redirect to publisher's own domain:
302 https://cloud.typography.com/6585494/7054952/css/fonts.css
blocked:csp https://heatst.com/wp-content/themes/heatstreet/static/fonts/447427/B9F7943C510994129.css

J

[2016-10-27 17:55] zhouyx commented on #5852
Interesting, so I assume validator checks that there must be only one `<amp-sticky-ad>`  in a page.
Not supporting `amp-experiment` sounds like a bug to me. How would we like to fix this? Do we want to fix style one (2 ads in sticky-ad) or style two (2 sticky-ads)?

[2016-10-27 18:04] jridgewell commented on #5848
2) doesn't apply anymore after #5851.

I'd really like to keep this kind of mechanism to keep doc updates as simple as possible.

But, we have a bug with the `$TRAVIS_COMMIT_RANGE`. I guess I assumed it be something similar to `HEAD...master`, but apparently it's `HEAD...HEAD~` which is useless for our PR tests. We should alert the react and babel folks about this, too.

[2016-10-27 18:12] zhouyx commented on #5809
We decided to use approach 4. I believe there's a UX study about this.
@jasti

[2016-10-27 18:14] msroberts opened #5855 "Validator CLI: The system cannot find the path specified."
When I install the Validator Command Line Tool, it appears to install correctly, but when I try to use it, I get the following error:

[code]

It's entirely possible this is a problem with my system, but all other node modules I have tried work.
## How do we reproduce the issue?

[code]

I am using 64-bit Windows 7 with the following:
- **node**: v6.9.1
- **npm**: 3.10.9
- **amphtml-validator**: 1

[2016-10-27 18:17] jridgewell commented on #5855
/to @powdercloud

[2016-10-27 18:48] powdercloud commented on #5855
I think for starters the issue here is that https://github.com/ampproject/amphtml/blob/master/validator/nodejs/index.sh won't run on Windows. Sorry about this. There may be a work-around, by looking for the index.js file which should be somewhere in the node_modules amphtml-validator directory, and executing that with node directly. But I'm not familiar enough with nodejs on Windows to say how tha

[2016-10-27 19:04] msroberts commented on #5855
Thanks for letting me know.  For now I'll just keep using the browser extension (my work computer's OS is not likely to be updated any time soon!)

[2016-10-27 19:12] Wleyba opened #5859 "Misalignment on AMP carousel pictures"
Short description of your issue:
Misalignment on AMP carousel pictures for Android JB device. (See links)

How do we reproduce the issue?
1. Turn on Opt ins
2. Open AGSA and query "Trump"
3. Observe AMP carousel

What browsers are affected?
AGSA version 6.5.35.16.arm
Android JB version 4.3

Which AMP version is affected?
"dev-channel" and "make-body-relative" AMP experiments

![ampjb1](https://clo

[2016-10-27 19:29] kscoulter opened #5860 "Validator Error on Boilerplate: mandatory text (CDATA) inside tag 'head > style[amp-boilerplate]' is missing or incorrect."
## Short description of your issue:
The validator throws an error `he mandatory text (CDATA) inside tag 'head > style[amp-boilerplate]' is missing or incorrect.` event though I copy/pasted from amp project.

Here's my amp-related code in the head:

[code]
I looked at other issues with this validator message, but was not able to find anything that relates to my problem.

[Link to validator](https:/

[2016-10-27 19:35] jridgewell commented on #5860
/to @Gregable

[2016-10-27 19:36] jridgewell commented on #5859
/to @camelburrito, @dvoytenko

[2016-10-27 19:38] powdercloud commented on #5855
OK, I found a Windows machine (normally used for gaming in the office haha ...). After installing node.js with the binary installer, I was able to install amphtml-validator with npm -g amphtml-validator, just like you did. And my versions are node v6.9.1 and npm v3.10.8. The error message that I see when running amphtml-validator directly is also exactly what you saw ("The system cannot find the p

[2016-10-27 19:41] msroberts commented on #5855
@powdercloud That worked, thanks!

[2016-10-27 19:41] Gregable commented on #5860
The example does not match the string here:
https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md

In particular `0` is replaced by `0s` in several places.

[2016-10-27 19:41] #5860 closed

[2016-10-27 19:41] camelburrito commented on #5859
This is a search issue not amp's

[2016-10-27 19:42] jridgewell commented on #5859
I couldn't see the picture... 😬

[2016-10-27 19:48] kscoulter commented on #5860
@Gregable, not sure what you mean. When I copy and paste from the link you provided, my text editor tells me there is no difference between the "old" string and the new one (no new changes to commit).

[2016-10-27 19:57] ericlindley-g commented on #5859
@Wleyba Is this issue present only with the "dev-channel" and "make-body-relative" experiments activated, or does it happen without, as well?

[2016-10-27 20:14] kscoulter commented on #5860
@Gregable, fwiw this issue was caused by google CSS minifier. It removed the `s` characters for some reason.

[2016-10-27 20:20] #4004 closed

[2016-10-27 20:37] #5789 closed

[2016-10-27 20:38] jasti opened #5862 "amp-sticky-ad fails to load sometimes on Safari 10"
Fails about 1 in 3 times.
Sample URL: https://fresnobee.relaymedia.com/amp/news/local/education/article61889207.html
Note that browser emulation works fine - only when tried from an iPhone using Safari 10.

CC @zhouyx

[2016-10-27 20:43] lannka commented on #4264
Do we want to force `<a target=_top|_blank>` ? Otherwise it will load the destination page inside the iframe.

[2016-10-27 20:48] jpettitt commented on #5862
Additional info: If you scroll down and reload the page from the scrolled position the sticky ad appears 100% of the time.  If you reload from top of page and then scroll some % of the time it doesn't appear.  It smells like a race condition becasue it's very unpredictable - sometimes it will fail 5 in a row then work for 10.

[2016-10-27 20:55] dvoytenko commented on #5859
Can't see a screenshot. Could you please repost?

[2016-10-27 21:01] Wleyba commented on #5859
Not sure why the screenshot is not uploading properly

[2016-10-27 21:06] Wleyba commented on #5859
I did notice this issue without the experiments activated so it might be a search issue and not AMP related

[2016-10-27 21:19] lannka commented on #4183
This needs to be solved for `amp-inabox` (#5700) to work without console errors.

Here is an example of viewer URL:
[code]

@dvoytenko @cramforce can you confirm **origin** always exists? How about **viewerUrl**? Sounds like more semantically correct, and less chance for false positive?

[2016-10-27 21:22] camelburrito commented on #5859
@Wleyba are you seeing in the search page ? Here ?
![screen shot 2016-10-27 at 2 21 54 pm](https://cloud.githubusercontent.com/assets/1037311/19786023/c4443f06-9c50-11e6-9caa-b53faf763d46.png)

Or are you seeing it inside the actual page itself?

[2016-10-27 21:23] Wleyba commented on #5859
@camelburrito I see it on the search page

[2016-10-27 21:25] camelburrito commented on #5859
Cool - so ill close this issue here and @ericlindley-g will follow up on the bug with the search team.

[2016-10-27 21:25] #5859 closed

[2016-10-27 21:39] cramforce commented on #4183
I think so, but deferring to @dvoytenko

[2016-10-27 21:40] #4716 closed

[2016-10-27 21:45] megankj commented on #5351
Are there any updates on this?

[2016-10-27 21:48] lannka commented on #4183
`channelid` will be a safer bet, which is included in every message sent to viewer for viewer to identify sender.

[2016-10-27 21:49] cramforce commented on #5351
I don't think so, but lets get it done!

[2016-10-27 21:50] cramforce commented on #4183
I think `origin` is a bit better, because I don't know what channelid is :) I think that is very specific to their out-of-AMP communication layer.

[2016-10-27 21:52] dvoytenko commented on #4183
I believe currently `#origin` always exists. However, it's not documented anywhere in our code and not used anywhere in our code directly. It's set by a viewer and read by handshake code deployed from viewer. This is something that we will standardize as we move the messaging itself into AMP Runtime. I think overall, `#origin` is a good value. But one thing to emphasize: we'd normally never use it

[2016-10-27 21:53] cramforce commented on #4183
Right, I think @lannka only cares about some sentinel to infer that there **might** be a viewer.

[2016-10-27 21:55] dvoytenko commented on #4183
Ok. Yes then. The `origin` should help then for iframe'd case. I don't think it's set in a webview case though. So please keep that in mind.

[2016-10-27 22:05] #4272 closed

[2016-10-27 22:06] mkhatib commented on #4272
Just merged! Should be out in couple of weeks!

[2016-10-27 22:07] sebastianbenz commented on #4272
Nice! Thanks!
On Thu, 27 Oct 2016 at 23:06, Mohammad Khatib <notifications@github.com>
wrote:

[2016-10-27 22:09] jridgewell commented on #4183
Would `visibilityState` be a good sentinel? By including it, you've guaranteed that you intend to control the AMP document with a viewer.

[2016-10-27 22:12] zhouyx commented on #5862
Looking into it. @jasti does this happen only on ios10?

[2016-10-27 22:20] #3840 closed

[2016-10-27 22:25] jasti commented on #5862
Tested only on 10. Didn't have an older device.

[2016-10-27 22:36] erwinmombay commented on #5351
apologies. will work on it today

[2016-10-27 22:50] zhouyx commented on #5862
Something I found here is that though sticky-ad take owner of the child ad, it will sometimes be laid out before sticky-ad schedule layout for them. @dvoytenko any ideas why?

[2016-10-27 23:02] erwinmombay opened #5866 "update amp-live-list docs for publisher origin ajax response"
right now most publishers are returning 200 even with no changes. This should be 304s and with the correct headers.

also need to double check how amp-live-list component will handle 304

[2016-10-27 23:48] rudygalfi commented on #3287
@heiwen Great feedback. I've observed that as well.

[2016-10-27 23:53] camelburrito commented on #3287
@heiwen - FYI  - https://github.com/ampproject/amphtml/issues/3320 -

[2016-10-28 00:03] zhouyx commented on #5862
OK  it seems this happens because `#getResourcesInViewport` run before `sticky-ad` build. During that time we haven't declare ownership for the ad yet, and the ad will be laid out. However sticky-ad assumes its child ad can only be laid out with it manually call `#scheduleLayout`. And  it will never receive [load:end event](https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad

[2016-10-28 00:06] jridgewell commented on #5862
`#getResourcesInViewport` doesn't layout any elements, though?

[2016-10-28 00:11] zhouyx commented on #5862
This exact function won't layout any elements, but those elements will be laid out since they are in viewport. And if that ad makes to this list, we will layout it eventually w/o sticky-ad `#scheduleLayout` for it

[2016-10-28 00:50] #4586 closed

[2016-10-28 01:08] #3343 closed

[2016-10-28 01:15] rohitverma007 opened #5869 "template tag is currently required under the submit-success or submit-error tags in amp-form"
Is there a reason why we need to include a `template` tag under the `submit-success` or  `submit-error` tags in `amp-form`? It is entirely possible that the content within submit-success or submit-error is static and does not require any templating. Moreover, using the template tag requires the addition of the amp mustache javascript file unnecessarily.

[2016-10-28 02:01] mkhatib commented on #5869
Thanks for filing @rohitverma007

We agree and will be fixing this, dupe of #5619

[2016-10-28 02:01] #5869 closed

[2016-10-28 03:16] Bijunairzamp commented on #3343
HI.. Why is this closed?

On Fri, Oct 28, 2016 at 6:38 AM, Mohammad Khatib <notifications@github.com>
wrote:

[2016-10-28 09:58] mhchu commented on #5862
Not sure if this information helps, but, in my testing of amp-sticky-ad, I am also getting the situation where the ad does not show when scrolling down. (However, reloading the page after scrolling down, does reveal the sticky ad.) This occurs both on Safari with iOS 9 (did not upgrade to 10 yet) and in the Chrome emulator. In the emulator/inspector I saw that an ad did load in the amp-sticky-ad t

[2016-10-28 10:09] mhchu commented on #5862
Upon further testing, I see that the `visible` attribute is never added to `amp-sticky-ad` after the scroll is triggered and the `border-bottom: 50px` is added to `body`. In addition, the class `amp-sticky-ad-loaded` is not added to `amp-sticky-ad`. (Both the `visible` attribute and the class are properly added if the page is reloaded after scrolling down.)

[2016-10-28 11:22] jamescridland opened #5871 "A FORM element needs an input type=submit; uncaught console log error"
My AMP page validates, but on load has an uncaught error in the JavaScript console saying:

[code]

It is entirely correct. The form in question (the first FORM element in the page) has no INPUT TYPE=SUBMIT.

My expected behaviour is that this should have failed validation. Or, it should not have kicked up this error.

## How do we reproduce the issue?

When visiting https://media.info/radio/data/

[2016-10-28 14:09] cramforce commented on #5799
I think we should bump version number, and make this the only displayed option when available :)

[2016-10-28 14:29] jasti commented on #5809
Hey @jpettitt. UX research has suggested that having sticky ads that don't span the entire width of the device is bad user experience. Showing that there _could be_ content behind the ad is considered bad.
This will be a change to ensure that the sticky ad container always spans the entire width of the device even if the width of ad is smaller than the device width.
Please expect an announcement o

[2016-10-28 15:05] cramforce commented on #3343
Because it shipped :)

On Thu, Oct 27, 2016 at 8:16 PM, Biju Nair <notifications@github.com> wrote:

[2016-10-28 16:09] #4183 closed

[2016-10-28 16:12] wstovermdp opened #5875 "Misaligned amp-sticky-ad"
## Short description of your issue:

Vertical centering misalignment inside the amp-sticky-ad iframe. We have seen low viewability numbers from this unit on iOS, where Andorid has no issues.
## How do we reproduce the issue?

https://www.google.com/amp/amp.parents.com/parenting/better-parenting/advice/ways-to-be-fantastic-parent/
With Safari on iOS 10.0.1, scroll down to trigger the sticky ad. Mus

[2016-10-28 16:34] smeder commented on #4078
Do you still want me to create a separate item for passing the client id?

[2016-10-28 16:47] cramforce commented on #4078
@smeder I meant for configuring additional "trusted destination hosts".

[2016-10-28 17:01] zhouyx commented on #5862
Thanks @mhchu for the info. This is caused by sticky-ad never receive ad loaded event and thus never apply the `amp-sticky-ad-loaded` class. We will have a fix for it soon.

[2016-10-28 17:04] shakaran opened #5877 "form action attribute is invalid for method=POST; uncaught console log error. log.js:248"
My AMP page validates, but on load has an uncaught error in the JavaScript console saying:

[code]

I don't undertand the error since the forms action could be used in method=POST (as far I did for years in HTML)
## How do we reproduce the issue?

When visiting http://iberopistacho.com/registro this error should appear on load in the Javascript console.

I'm running ChromeOS Version 54.0.2840.59 (

[2016-10-28 17:19] zhouyx commented on #5875
@wstovermdp There's a known issue with sticky-ad that I am working on a fix for it. #5862. The low viewability numbers from iOS should come from that.
Otherwise I tested your page with 10.0.1 on device, and didn't see a mis-alignment issue with ad inside sticky-ad, seems to be the ad iframe itself is mis-aligned to me sometimes.

[2016-10-28 17:30] aghassemi opened #5878 "Old chrome test failures"
Last hurdle to green is bunch of chrome 37 failures, some may be actual bugs.

[code]

[2016-10-28 17:34] mkhatib commented on #5871
Thanks for filing @jamescridland this is WAI, we didn't enforce this in the validator but kept it in runtime to make sure there's always a submit button.

However, this requirement will go away from runtime once #5707 is deployed. This allows you to not have a submit button and instead you can trigger `form.submit` action on any AMP-event you'd like. This will be deployed to production in 2 weeks.

[2016-10-28 17:35] #5871 closed

[2016-10-28 17:37] mkhatib opened #5879 "Ensure async-thrown errors are actually thrown during tests"
Follow up to discussions on #5835, async-thrown errors are super flakey during testing, sometimes they cause a test to fail and sometimes the test passes.

We need to develop a way to make sure they're always thrown so tests can properly catch and expect them.

cc/ @cramforce @jridgewell

[2016-10-28 17:38] #5775 closed

[2016-10-28 17:42] devSamuel commented on #5877
same for me in safari and chrome version 2.0

[2016-10-28 17:44] jridgewell commented on #5862
Hm, I wonder if it's due to https://github.com/ampproject/amphtml/pull/3595...

[2016-10-28 17:59] dvoytenko commented on #5686
@dandv I think the best option here is to start with minimal reserved space and grow the `amp-list` automatically when new data arrives, as it already does. If it fails to resize, it should be possible to have an `overflow` element inside the `amp-list` that will advise to "see related listings" or such.

Alternatively, we could look into some user-action behavior where a reader is asked to click

[2016-10-28 18:03] dvoytenko commented on #5862
@zhouyx It's somewhat unlikely that an `amp-ad` is loaded independently since it's shown my the `amp-sticky-ad`. There reason is most likely something else.

That being said, I don't see why an independent loading would cause a risk condition. The state of an `amp-ad` is always known.

[2016-10-28 18:05] zhouyx commented on #5862
Well another fix I think would be check the amp-ad laid out state before I call `#scheduleLayout` for it.

[2016-10-28 18:08] dvoytenko commented on #5862
We probably just need to add `whenFirstLayout()` promise-based API to custom-element.

[2016-10-28 18:09] dvoytenko commented on #5862
But first we need to confirm the reason why this bug is happening. Even if the reasoning here is right, this is most likely a symptom and not the underlying reason.

[2016-10-28 18:12] zhouyx commented on #5862
Sure, I'll investigate more

[2016-10-28 18:18] mkhatib commented on #5877
Hey @shakaran the page should not validate, are you seeing the page passing validation on https://validator.ampproject.org ? or which tool?

This is working as intended. As [per the docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#attributes), `action` is an invalid attribute for `POST`.  Read some more on [security considerations](https://github.com/ampproje

[2016-10-28 18:19] mkhatib commented on #5877
btw, both https://validator.ampproject.org and #development=1 validation seem to throw a validation error for this. Are you using one of these or something else?

[2016-10-28 18:42] wstovermdp commented on #5875
Thanks for the response @zhouyx. Here is a little bit more information. I'm not sure if this will make a difference, but what device  did you test on? We have noticed the issue on the iPhone 6+ with iOS 10.0.x.

Also, when I removed the positioning rules on `div#c`, the centering looked correct. This is what led me to believe the issue is inside the amp-ad iframe, and not related to any site CSS r

[2016-10-28 18:53] zhouyx commented on #5862
I researched more and  start to agree with @jridgewell. #3595 seems to be a reason.
Here's what I found, after `amp-sticky-ad` `#buildCallback`, we remove `amp-sticky-ad` `display:none` and set ownership of `amp-ad`. Then in our `resources-impl` `discoverWork` it schedule layout for `amp-sticky-ad` and succeed.   Because `amp-ad` inside also get `display:block` now, our resources move on to try to

[2016-10-28 18:57] cramforce opened #5883 "amp-youtube doesn't show loading indicator"
The normal loading indicator should be shown while the player is loading.

I vaguely remember we tried to fix this before, but I might misremember.

[2016-10-28 18:58] cramforce opened #5884 "amp-youtube may preload the wrong document URL"
`amp-youtube` preloads the return value of `getVideoIframeSrc_()`, but then later in `layoutCallback` it sometimes appends a few params.

That logic should move into the `getVideoIframeSrc_()` function, so we use a consistent value.

[2016-10-28 19:01] dvoytenko commented on #5862
Why do we remove `display:none` in build callback when it's really not visible until layout?

[2016-10-28 19:03] zhouyx commented on #5862
Oh! that's a long time ago issue. I compromise with remove `display:none` in buildCallback to solve the ios blink issue.

[2016-10-28 19:47] zhouyx commented on #5862
`#getResourcesInViewport` is kind of related to this issue because that is where `#hasOwner()` is first called for `amp-ad` before sticky-ad `#buildCallback`.
https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L248
we call `hasOwner()` before `isDisplayed()` here

[2016-10-28 19:51] mkhatib commented on #5883
This worked before, probably a regression.

[2016-10-28 19:59] megankj commented on #5351
Any updates?  Eager to see this fixed. :)

[2016-10-28 20:17] mjangda opened #5885 "Validator UI: Detect when canonical URL submitted"
Minor UX improvement.

If you put in the non-AMP canonical URL in the validator UI (https://validator.ampproject.org/), it correctly errors out since the page isn't valid AMP.

However, it would be nice if the validator could detect the `amphtml` meta inline and offer to validate that the AMP version of the page instead.

This is something that the AMP Bench tool does, e.g. https://ampbench.appspo

[2016-10-28 20:19] erwinmombay commented on #5351
@megankj hoping to get a PR out by EOD. 💨

[2016-10-28 20:20] megankj commented on #5351
@erwinmombay Thanks!

[2016-10-28 20:26] jridgewell commented on #5885
/to @powdercloud

[2016-10-28 20:53] dvoytenko opened #5888 "Cleanup "amp-animation" experiment"

[2016-10-28 21:00] jridgewell opened #5889 "A4A: Should Signature Validation be a Failure"
/cc @lannka @ampproject/a4a

[2016-10-28 21:54] #5485 closed

[2016-10-28 22:05] #5506 closed

[2016-10-28 23:13] pbakaus opened #5897 "AMP throwing errors when scripts are higher than the CSS in <head>"
To reproduce:

1. Grab a copy of https://github.com/ampproject/docs and run it locally
2. In `views/partials/head.html`, move the `<style amp-custom>` block below the script inclusions
3. Emulate a "Normal 3G" connection in the Network panel in Chrome DevTools
3. Reload the homepage

You'll notice the following:

1. Console shows `AMP-CAROUSEL# Layout not supported for: flex-item`
2. The "Publishe

[2016-10-28 23:16] jridgewell commented on #5897
@camelburrito: Related to https://github.com/ampproject/amphtml/issues/5828?

[2016-10-28 23:16] cramforce commented on #5897
yeah, I think this is the same bug.

[2016-10-28 23:17] cramforce commented on #5828
@camelburrito Could you give an update on this one?

#5897 is likely a dupe, but that seems like it could happen all the time.

[2016-10-28 23:21] camelburrito commented on #5828
yes i think it is because of using constructor instead of upgradeCallback here https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/amp-carousel.js#L25 - working on a fix now.

[2016-10-28 23:27] aghassemi commented on #5878
ugh there is A LOT MORE.

[code]

[2016-10-28 23:27] #5519 closed

[2016-10-29 00:19] #5897 closed

[2016-10-29 00:55] cramforce commented on #5828
@camelburrito I left a comment on the PR. It didn't fix the problem. My comment has the proposed fix.

[2016-10-29 01:00] shakaran commented on #5877
@mkhatib well, validate or not, it doesn't should throw a exception and break totally my submit button form. I mean, why is not showing a normal error console instead a exception breaking all the javascript flow?

Also, if action is invalid attribute in a POST, how I should rewrite this, since it is not a XHR request?

And this is build using Symfony and twig template as:

    {{ form_start(form,

[2016-10-29 02:19] dandv opened #5904 "amp-live-list docs: server-side filtering link broken"
At https://www.ampproject.org/docs/reference/components/amp-live-list#server-side-filtering, the link to `Server side filtering` is broken - https://www.ampproject.org/docs/reference/components/components/amp-live-list-server-side-filtering.html

However, the Markdown appears correct at https://github.com/ampproject/amphtml/blob/master/extensions/amp-live-list/amp-live-list.md#server-side-filterin

[2016-10-29 02:46] dandv opened #5907 "Clarify which server is polled by amp-live-list"
The [amp-live-list docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-live-list/amp-live-list.md) (or the [server filtering section](https://github.com/ampproject/amphtml/blob/master/extensions/amp-live-list/amp-live-list-server-side-filtering.md)) should specify if the Google AMP cache stays involved when the server is polled for updates.

Scenario:
1. The AMP document is serv

[2016-10-29 06:23] mkhatib commented on #5877
I am not familiar with these frameworks. But non-xhr POST is invalid in AMP.

You'd have to try to figure out a way to do this through XHR through `action-xhr` attribute.

As for the exception vs error it might be possible to relax this, I don't see any reason why not.

[2016-10-29 14:14] derat opened #5909 "Document that <link rel="amphtml"> must appear within X bytes of beginning of canonical file"
I recently noticed that the AMP versions of my pages were no longer being returned as Google search results. Google's <a href="https://developers.google.com/amp/cache/reference/acceleratedmobilepageurl/rest/v1/ampUrls/batchGet">ampUrls.batchGet</a> API similarly reported not knowing about the AMP versions of my canonical URLs. This was confusing to me, as all of my AMP pages continued to validate

[2016-10-29 14:20] derat commented on #5909
Specifically, https://www.ampproject.org/docs/guides/discovery doesn't say anything about where &lt;link rel="amphtml"&gt; needs to appear besides "in the &lt;head&gt;". https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#amp-document-discovery may also be a good place to mention this.

[2016-10-29 15:39] derat commented on #5909
And a few more examples of people hitting this:
https://productforums.google.com/forum/#!topic/webmasters/Y61R-w53yHE
https://productforums.google.com/forum/#!topic/webmasters/Wi2EkSEAXMI

[2016-10-29 17:37] afiugud commented on #5877
Hi there! I'm sorry about my english
Ok, I agree that more security is better, but, why needed to marking images or videos or wherever with special tags and not necesary for mark forms tag? I don't want to match my forms tag so why AMP manage it? Last days I'm changing my entire projects with xhr-post forms and only because all post methods break submit events. I'm using AMP on third party CMS and

[2016-10-29 17:49] cramforce commented on #5828
@lannka We need to merge @camelburrito's and @dvoytenko's changes into the current canary.

[2016-10-29 22:38] dvoytenko opened #5910 "Intent to implement: AMP multi-element animations component"
Create an `amp-animation` element that combines multiple keyframe effects for multiple targets into a single synchronized animation.

Some notes:
- Will be based on top of [Web Animations API](https://www.w3.org/TR/web-animations/)
- Optimizable on GPU. Enforces performance constraints to ensure predictable runtime performance.
- Allow AMP runtime to control animations: stop or pause when the targ

[2016-10-30 17:59] cramforce commented on #5909
We can ping the team at Google. Maybe they have a bug. AMP has no placement
requirement for the link tag.

On Sat, Oct 29, 2016 at 8:39 AM, Daniel Erat <notifications@github.com>
wrote:

[2016-10-30 18:02] cramforce commented on #5909
Google is tracking this as b/32529163

I will close this issue, because the AMP Project GitHub is not a place to discuss Google specific questions, but will comment when that issue resolves.

[2016-10-30 18:02] #5909 closed

[2016-10-31 05:16] jpettitt commented on #5809
@jasti Hmm, when did AMP become the UX police?  While you may be right about the research surely that's a publisher call on how to render their content?  Is there a doc someplace that declares what is and isn't in scope for AMP? Might I suggest that at a minimum you link the supporting research for this breaking change?

[2016-10-31 10:10] shakaran commented on #5877
@mkhatib sorry, but force that all our forms would be XHR is a bad idea, as suggested by @afiugud a simple way to skip this is from console or via JS submit.

I have that website more than 4 days break it, any client could register because this error, so that means losses to my client. I will have to remove fully AMP, since if it is forcing me to rewrite all the forms, it is not a good deal to me.

[2016-10-31 11:28] jasti commented on #5809
@jpettitt I agree that publishers should have the freedom to decide how to render their content but should that be the case if it promotes bad experience to the user?
The research unfortunately is not going to be public until January, but will link it as soon as it is. The reason we suggest making the changes now, is so we group them with some other UX changes like improvements to the close button

[2016-10-31 14:15] cramforce commented on #5909
Feedback is that there is no such limit.

Note, that HTML5 is strict as to what elements can appear inside `<head>`. If you accidentally use an element that cannot be in `<head>`, then the head is implicitly closed and everything following it appears to the parser as part of the body.

[2016-10-31 14:44] wafcio opened #5912 "Invalid content inside style[amp-boilerplate]"
## Short description of your issue:

I have extracted `style[amp-boilerplate]` content to separated sass file. I use sass compiler to minify style. Difference between your `style[amp-boilerplate]` and minified by sass is only one:

Your code:

[code]

Sass compiler output:

[code]

I think is doesn't have big difference exists this extra space inside each step. But your validator says that it is i

[2016-10-31 15:55] #5862 closed

[2016-10-31 16:39] lannka commented on #5889
It depends on if we want to report a validation failure as dev error and tracked in our error reporting.
@tdrl @keithwrightbos in what cases and how often do you see such a failure right now?

[2016-10-31 16:54] code-girl opened #5914 "AMP and PHP"
How do we include PHP  in AMP HTML?

[2016-10-31 16:56] rudygalfi commented on #4292
FYI: Documentation PR is here: #5724.

Is there anything left on this?

[2016-10-31 16:59] sebastianbenz commented on #4292
Update the sample on ABE.

On Mon, Oct 31, 2016 at 4:57 PM Rudy Galfi <notifications@github.com> wrote:

[2016-10-31 16:59] keepitsimple commented on #5225
Ping :)

[2016-10-31 17:04] camelburrito commented on #4292
Nope. This is all done!

[2016-10-31 17:04] #4292 closed

[2016-10-31 17:27] jridgewell commented on #4003
Unblocked now, and live for everyone. Should clean this up in a week or two.

[2016-10-31 17:37] lannka opened #5916 "[amp-analytics] elementY is not really the Y coordinate"
According to the spec, [elementY](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#elementy) should be the Y coordinate of the element specified in visibility tracking. However, the code [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/visibility-impl.js#L495) calculates it as

[code]
which is wrong because `rootBound

[2016-10-31 17:49] aghassemi commented on #5233
@shawnbuso FYI that `<amp-youtube>` now supports the video-interface and we have a compliance test suite in place. Please see https://github.com/ampproject/amphtml/blob/master/extensions/amp-youtube/0.1/amp-youtube.js and https://github.com/ampproject/amphtml/blob/master/test/integration/test-video-players.js or #5765 for details.

[2016-10-31 17:52] jridgewell opened #5917 "Recursively un-cache Resource Owner"
A follow up to https://github.com/ampproject/amphtml/pull/5898.

Imagine:

[code]

When `<grandchild>` first check if it's "owned", it will cache the result on its `Resource`, as does `<child>`. When we mark `<owner>` as the owner of `<child>`, we update `<child>`'s cache owner (https://github.com/ampproject/amphtml/pull/5898). But, `<grandchild>` is unaware of this change, because it has cached a

[2016-10-31 18:17] avimehta commented on #5916
looks like this might have broken on [Sept 22nd by #5131](https://github.com/ampproject/amphtml/pull/5131). Since there were no tests(or were they not testing the right thing?), this was never flagged. When you are fixing this, can you add tests for this?

Also, other variables/calculations might also have gotten screwed up because of that. We'll need to look at those as well.

/cc @jridgewell

[2016-10-31 18:20] zhouyx opened #5918 "Improve amp-ad loading experience"
This is a tracker issue for related work on improving default ad loading experience.

- [x] Add experiment guard to the new UX
- [x] Add default placeholder/fallback, apply/remove at right time
- [x] Create ad tag
- [x] Create new loading indicator, animate/remove loading dot at right time.
- [x] Enable a way to customize ad tag
- [ ] Customize behavior for ad in special container
- [x] support i1

[2016-10-31 18:37] poscar opened #5919 "Pinterest amp-social-share button does not work on iOS"
## Short description of your issue:

The `amp-social-share` Pinterest button does not work on iOS. Tapping the button opens the Pinterest app, but we're not able to share the content.

Tapping on Pinterest buttons on other regular sites (e.g. http://www.allure.com/story/real-men-exfoliate) allows us to share content without any issues.

## How do we reproduce the issue?

Try the Pinterest share bu

[2016-10-31 18:46] cramforce commented on #5600
Over to @chenshay as a starter bug. Happy to talk through this in person.

[2016-10-31 18:46] #4329 closed

[2016-10-31 18:47] zhouyx opened #5921 "upgrade amp-sticky-ad to 1.0"
- [x] move code + css to make it work
- [x] validator change
- [x] tests
- [x] Actual change to V1
- [x] new README

[2016-10-31 18:47] #1055 closed

[2016-10-31 18:47] #1304 closed

[2016-10-31 19:23] jpettitt commented on #5809
Understood, my concern is AMP is getting mixed press (see the recent WSJ article) and the more of an "opinionated framework" (to use @cramforce phrase) it appears to be, without data to backup the opinions the more pushback we get from publishers.  When changes are made based on unpublished, private, research it starts to look a lot like a dictatorship.

[2016-10-31 19:36] jridgewell commented on #5828
Fixed by #5899 and #5908.

[2016-10-31 19:36] #5828 closed

[2016-10-31 19:41] jridgewell commented on #5916
#5131 actually fixed a bug I introduced two weeks prior in #4826.

When you say the Y coord of the element, which Y are you talking about? We can either give you the viewport-relative Y coord, or the absolute (from the top left corner of the document) Y coord. We're currently giving you the first one, which may not be "wrong". If you want the absolute coord, call `element.getLayoutBox()`.

[2016-10-31 19:57] lannka commented on #5916
@avimehta which `elementY` should it be? I suppose this is something also available in Google Analytics? We just need to be consistent then.

[2016-10-31 20:13] jridgewell commented on #5919
/to @mkhatib

[2016-10-31 20:14] jridgewell commented on #5914
You can still render on the server using PHP, whatever is finally sent to the browser has to be valid AMP.

[2016-10-31 20:14] #5914 closed

[2016-10-31 20:16] jridgewell commented on #5907
/to @bpaduch
/cc @erwinmombay

[2016-10-31 20:17] jridgewell commented on #5904
/to @bpaduch

[2016-10-31 20:33] ZigZagIL commented on #5051
The solution was evaluated by a few customers, and is now being deployed globally.

[2016-10-31 20:49] #5273 closed

[2016-10-31 20:49] #5472 closed

[2016-10-31 21:08] #5788 closed

[2016-10-31 21:13] erwinmombay opened #5926 "Meeting Notes 2016-10-31"
2016-10-31

@cramforce
- Everyone: Distribute code reviews more! Get a first review, before sending to Dima or me.
- Welcome @chenshay & @bpaduch to the team!
- Introducing timeout for font stylesheet loading #5911
- Moved document-info into shared service and other code size improvements. See #5792
- URL opt-in experiments #5823
- Fixed a11y bug :)

@dvoytenko
- <amp-animation> format work and pr

[2016-10-31 21:17] avimehta commented on #5916
I think we want the absolute value. The documentation (which I wrote) is not clear at all but the intent seems to say that I wanted to provide absolute values. That is another thing that'll need to fix.

@jridgewell Thanks for pointing it out. So were the rootbounds.{x,y} always 0? I am probably reading the code wrong but looks like the value of {x,y} was non-zero before [the change](https://githu

[2016-10-31 21:33] jridgewell commented on #5916
Maybe? 😬

[2016-10-31 21:41] jridgewell opened #5927 "Size bot should update size CSV"
Our last update was from August.

[2016-10-31 21:48] erwinmombay commented on #5927
good point, ill add it to the weekly cron job

[2016-10-31 22:11] cramforce commented on #5809
I'd also prefer to publish the data. There are 2 changes here

1. Non-transparent background: This is strongly preferred by users.
2. Close button optics: Pubs can still override it, we are just making the default non-ugly, so that they don't have to.

[2016-10-31 22:44] Siton-Systems opened #5929 "RTL bug: amp-carousel ->type="carousel". Please Add rtl support or "warning""
**WHAT:** https://ampbyexample.com/components/amp-carousel/  || type="carousel"
**RTL bug:** white space / not work well.

I fix this by override my html style in specific spot : "`.some-div{direction:ltr;}`". but for other users please fix this (or add notes in the docs).

Also in general it would be nice to get RTL direction of this component.

See codepen bug example:
<a  target="_blank" title=

[2016-10-31 23:53] muxin opened #5931 "Implement updated history api with fragment"
`History` class
- `push(opt_onPop)` --> `push(opt_onPop, opt_fragment)`
  - use `viewer.pushHistory` with optional fragment
- (not implemented) --> `replace(opt_onPop, opt_fragment)`
  - use `viewer.replaceHistory` with optional fragment
- `onHistoryPopped_(event)` --> `onHistoryPopped_(event)` with optional fragment in event
  - when viewer send `historyPopped` message with optional fragment

[2016-10-31 23:55] #5916 closed

[2016-10-31 23:56] muxin commented on #5931
@dvoytenko I'm not sure what should we do in the last case when we get message `historyPopped, {stackIndex, hash}`. What should we do with the `hash`?

[2016-11-01 00:18] keithwrightbos commented on #5889
@tdrl can confirm but I believe recent analysis showed it to be very
infrequent

On Oct 31, 2016 12:40 PM, "Hongfei Ding" <notifications@github.com> wrote:

[2016-11-01 01:52] dvoytenko commented on #5931
We may want to do the same as we currently do in `document-click.js` which is do `location.replace('#hash')`

[2016-11-01 05:17] lannka opened #5934 "[amp-analytics] the "visible" and "hidden" triggers are a bit confusing"
By looking at the name, I would think that they're the opposite counterpart to each other. Especially, they share the same `VisibilitySpec` to select an element and specify the conditions to meet.

However, the "visible" trigger fires when the **selected element** enters viewport; but the "hidden" trigger fires when user leaves the **page** (vs selected element leaves viewport).

It will be more s

[2016-11-01 05:59] lannka commented on #5934
Further more, seems the `continuousTimeMax` & `totalTimeMax` conditions don't apply to "visible" trigger.  While `visiblePercentageMin` & `visiblePercentageMax` conditions don't apply to "hidden" trigger. @avimehta please correct me if I have any mis-understanding here.

[2016-11-01 08:49] eike-hass commented on #5407
Should the fix have landed by now? We still see that issue

[2016-11-01 10:12] #4463 closed

[2016-11-01 13:36] poscar commented on #5407
@eike-hass we haven't seen this issue after the fix went live weeks ago.

[2016-11-01 14:15] sebastianbenz commented on #5407
@eike-hass which platforms/browsers are affected? Which AMP runtime version are you using?

[2016-11-01 14:16] cramforce commented on #5407
@eike-hass Could you make a video of the problem? Seems like this is something else from what @poscar is seeing.

[2016-11-01 14:36] eike-hass commented on #5407
https://gfycat.com/HeartfeltSecondaryGermanpinscher
this is what i am seeing on https://www.ampproject.org/ with Chrome Version 54.0.2840.71 m and AMP Version 1477334765771

[2016-11-01 14:41] cramforce commented on #5407
@eike-hass Wow :)

[2016-11-01 14:46] mrsufgi commented on #3233
@dvoytenko long time no see, had to put my resources elsewhere but I'm back on track with our plugin, I'll push a commit with changeHeight for normal medias soon.

[2016-11-01 14:46] cramforce commented on #5407
@eike-hass Are you seeing this on other pages? I can repro a less dramatic effect, that seems to be related to buggy `border-radius` render in Chrome (pretty bizarre, compare how the page looks on Safari).

Are you seeing the same problem on other carousels? Just want to make sure this is not just a Chrome bug related to this particular HTML setup.

[2016-11-01 15:01] mrsufgi commented on #3233
In addition, how do we request changing apester-media from experimental to stable?

[2016-11-01 15:08] kul3r4 opened #5937 "Use CLIENT_ID inside amp form as hidden input field"
A way to implement a shopping cart would be using amp-form. We should be able to do a POST with an hidden field containing the CLIENT_ID and add a shopping cart button where the href should be built based on the CLIENT_ID. By clicking on this button, the used should be redirected to his own shopping cart.
At the moment we can't use CLIENT_ID variable substitution as a value for an hidden field ins

[2016-11-01 15:12] cramforce commented on #5937
Discussed this with @mkhatib the other day. For `POST` submissions we can support all variable substitutions on the values.

For GET we can run the existing code (under experiment) that I built for links.

Something like this should work then

`<input type=hidden value=CLIENT_ID>`

[2016-11-01 15:14] cramforce commented on #5407
@pbakaus for the `border-radius` Chrome bug. I think we should just remove the radius (it never renders in Chrome anyway), but should likely also file a crbug.com

[2016-11-01 15:29] aghassemi commented on #5929
/to @camelburrito RTL support for carousel and slides.

[2016-11-01 15:53] eike-hass commented on #5407
@cramforce i see the same jittering on https://ampbyexample.com/components/amp-carousel/ on the second and third carousel

[2016-11-01 15:57] camelburrito commented on #5407
What is the OS ?

[2016-11-01 16:04] eike-hass commented on #5407
@camelburrito Windows 10.0.14393

[2016-11-01 16:24] lannka opened #5939 "[amp-analytics] "hidden" trigger throws exception when visiblePercentageMin is configured"
A sample configure as shown below can reproduce the issue. Try to switch browser tab and check console errors:

[code]

Root cause is at this [line of code](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/visibility-impl.js#L516), where `state[MIN_VISIBLE]` can be `undefined` if the element is never visible before user leaving the tab.

[code]

A simple fix will be d

[2016-11-01 16:27] lannka commented on #5939
The code [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/visibility-impl.js#L476-L477) also looks suspicious to me:
[code]
why didn't we set the first time value to `visible` instead of `101` and `-1`?

[2016-11-01 16:37] dvoytenko opened #5940 "Extensions service sometimes creates wrong "rtv" URLs"
For instance, this URL is missing a minor version: "https://cdn.ampproject.org/rtv/1477334765771/v0/amp-analytics-0.1.js"

[2016-11-01 17:05] senthilp commented on #4449
@dvoytenko Does this mean in the [visibilitySpec](https://github.com/ampproject/amphtml/blob/2eb26fea7d6fb93750543372eeb9b1c25e6a0216/extensions/amp-analytics/amp-analytics.md#visibility-spec) config we would have a flag like `week`, which indicates that the trigger should happen as soon as the `selector` is visible, irrespective of the loaded signal generated by its children which may be AMP elem

[2016-11-01 17:24] e2corporation commented on #5351
@cramforce I am also encountering issues on Heroku and wanted to know if this is related, mainly with Safari and iOS w/ Safari. When using a custom v0.js Dist URL, Chrome and FF work fine, Safari on the other hand seems to hang at the placeholder "Loading...." and won't complete render.

The 3p-meta tag has been set to the Heroku URL, and the remote.html has a custom draw3p function with our netwo

[2016-11-01 17:24] dvoytenko commented on #5940
The reason is that the `shadow-v0.js` is not bootstrapped correctly with the `AMP_CONFIG`.

/to @erwinmombay to fix/deploy.

[2016-11-01 17:29] lannka opened #5942 "[amp-analytics] problem of supporting minVisiblePercentage & maxVisiblePercentage"
We plan to move the visibility tracking to IntersectionObserver based implementation (#5697). However, because [IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) only fires at a list of pre-specified thresholds, metrics like [minVisiblePercentage](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#minvisiblep

[2016-11-01 18:13] cramforce commented on #5351
Doesn't ring a bell unfortunately. Never heard of that happening before.

On Tue, Nov 1, 2016 at 10:24 AM, Julien Chinapen <notifications@github.com>
wrote:

[2016-11-01 18:16] cramforce commented on #5942
Using fine grained thresholds seems OK to me.

On Tue, Nov 1, 2016 at 10:29 AM, Hongfei Ding <notifications@github.com>
wrote:

[2016-11-01 18:26] lannka commented on #5942
Great. What granularity shall we start with. I'll go with 0.05 if no objection.

[2016-11-01 18:28] bpaduch commented on #5904
This link is generated through the importing of reference docs into the ampproject.org via [import.js](https://github.com/ampproject/docs/blob/master/scripts/import_docs.js#L82).

I'll submit a fix to correct this link. I've checked the reference docs and this is the only occurrence using this pattern that got messed up.

[2016-11-01 18:32] e2corporation commented on #5351
@cramforce Here is the URL in question, [https://shogun-amp.herokuapp.com/examples/revcontent-theatlantic.min.html](https://shogun-amp.herokuapp.com/examples/revcontent-theatlantic.min.html)

Running it through the validation service the only errors shown refer to the use of the custom script sources.

[2016-11-01 18:40] camelburrito commented on #5929
@muxin can you look at the type="carousel"

[2016-11-01 18:43] lannka commented on #4449
Does it make sense for those elements that have loaded signal to`display=none` before the signal?

[2016-11-01 18:51] dvoytenko commented on #4449
@senthilp I think `weak` property would make sense.

@lannka Why `display:none`?

[2016-11-01 19:04] cramforce commented on #5351
I looked into this and it is not clear to me why it is happening.
Unfortunately its hard to debug in Safari. Maybe ads are just broken in
Safari in general? Could you file a separate issue?

On Tue, Nov 1, 2016 at 11:32 AM, Julien Chinapen <notifications@github.com>
wrote:

[2016-11-01 19:10] #5620 closed

[2016-11-01 19:17] mkhatib opened #5947 "Consider supporting <datalist> and its related attributes in inputs"
[datalist](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist) allows publishers to define a pre-defined list of items to list in an input. This needs to whitelist it in validator as well as polyfill support in non-supporting browsers - Possibly Safari and IE.

[2016-11-01 19:23] e2corporation commented on #5351
@cramforce Thanks Malte for checking into this, I have an open pull to get renderStart() implemented, with this release we are making updates on the service code on our end to resolve the broken status on the examples. I am delayed in staging as we cannot safely pass the test page when using iPhone devices with Chrome and Safari on a non-production endpoint.

Opening separate ticket for the issue.

[2016-11-01 19:27] mkhatib commented on #5937
We've another issue to track this as well #5654 - closing this in favor of the other one.

I'll be starting work on this very soon

[2016-11-01 19:27] #5937 closed

[2016-11-01 19:35] e2corporation opened #5948 "Safari Desktop and iOS Devices not loading amp-ads when using Development Builds"
This issue maybe partially related to #5351. When using a development build of AMP on a non-production endpoint, **Safari** fails at the "loading..." placeholder and does not complete render.

iOS/**iPhone** devices also experience the same issue when using Safari and sometimes Chrome. The test page below points to the amp rollup on the heroku instance, the amp-ad tag is also specified. 3p/remote.

[2016-11-01 19:36] e2corporation commented on #5351
@cramforce Issue #5948 Submitted.

[2016-11-01 19:44] #5904 closed

[2016-11-01 19:45] dvoytenko commented on #3233
@mrsufgi We can take it out of experimental when you are ready and validator has been updated.

/cc @Gregable could you please confirm that these validator changes have been rolled out? https://github.com/ampproject/amphtml/blob/master/extensions/amp-apester-media/0.1/validator-amp-apester-media.protoascii

[2016-11-01 19:54] cramforce opened #5949 "Race condition on initial fragment navigation"
See https://www.ampproject.org/learn/who/#analytics

- sometimes this works fine and jumps to the analytics section.
- sometimes it jumps to the wrong place.

[2016-11-01 20:02] #5600 closed

[2016-11-01 20:35] lannka commented on #4449
@dvoytenko ah, never mind. I think we're already doing this, hiding unloaded resources and showing a placeholder, which doesn't solve the problem.

[2016-11-01 20:35] cramforce commented on #5949
@pbakaus I looked at this and it really appears to be a Chrome issue where the scroll position is calculated too early in the page lifecycle. This is likely an issue for many pages with web components.

I wonder what we should do? Manually call `scrollIntoView()` when we know it is safe to do so?

[2016-11-01 20:46] avimehta commented on #5939
the value of state[MIN_VISIBLE] can be undefined or a number. Using `log().assertNumber` causes the error message but it doesn't affect actual working of the code. Actual metrics are set to `0` or correct value based on what you are measuring.

Consider the modified configuration below:

[code]

Note that when visible2 is fired, min, max visible are set to 0. When visible fires, the values are set

[2016-11-01 20:52] muxin commented on #5929
@Siton-Systems Currently we only support slides displayed from left to right according to our resource loading mechanism. I will create a feature request for RTL situation. For now, I can have a temporary fix to add `direction: ltr` on all carousel by default. Does this sound good?

[2016-11-01 21:00] muxin opened #5950 "Support RTL (right-to-left) for amp-carousel"
It would be nice to allow displaying slides in rtl mode.
Brought up in https://github.com/ampproject/amphtml/issues/5929

[2016-11-01 21:04] camelburrito commented on #5950
@muxin - explore `unicode-bidi` css property and see if we can leverage something from there without having to change code.

[2016-11-01 21:18] muxin commented on #5929
OK, maybe it's not a good idea to force set the default direction to ltr. Let me add the support for rtl directly.

[2016-11-01 21:21] camelburrito commented on #5929
@Siton-Systems thanks a lot for filing the bug!

what @muxin means is - "we will try and work on a fix" - meanwhile you can use dir="ltr" on your carousel (by adding it manually in your HTML for now).

[2016-11-01 21:25] cramforce commented on #5949
@muxin I think you can fix this as follows

- we need to get the `scrollIntoView` for initial fragment anyway, when it is coming from the viewer.
- lets factor the "scroll to fragment" code from `document-click.js` into common utility
- and then just add something like this to the viewer:

[code]

I'm not sure we have something like the `whenFirstBuilt` promise yet, but we need that. CC @dvoytenko

[2016-11-01 21:28] cramforce commented on #5929
@mkhatib for additional LTR expertise.

[2016-11-01 21:45] muxin commented on #5949
We want to put the history update inside the `scrollToFragment` logic, right?

[2016-11-01 21:45] avimehta opened #5955 "[amp-analytics] `minVisiblePercentage` and `maxVisiblePercentage` are incorrect in some cases"
`amp-analytics` sets values for `minVisiblePercentage` and `maxVisiblePercentage` to 101 and -1 for following configuration. They should probably not be set to any value if the element is never visible.

Example:

[code]

The hit sent out is: `http://localhost:8000/?visible&0.7989398755903641&101&-1`

[2016-11-01 21:47] cramforce commented on #5949
On initial fragment update there is never a history update. I think it is probably better to handle that separately, but I defer to @dvoytenko

[2016-11-01 22:48] lannka opened #5958 "[amp-ad] Shifted amp-ad on Android 4.2.2 system browsers"
Same error has been seen on desktop Safari 7 as well.

![screenshot_20161101-154454](https://cloud.githubusercontent.com/assets/8496897/19910444/3d7e8302-a04a-11e6-882c-1cb4fcaf1d3a.png)

[2016-11-01 23:18] lannka commented on #5958
It only happens to doubleclick ads.

@tdrl @keithwrightbos can it caused by the centering doubleclick is doing?

![screenshot_20161101-161611](https://cloud.githubusercontent.com/assets/8496897/19911090/8a0cfcea-a04e-11e6-9513-461054222998.png)

[2016-11-01 23:19] dvoytenko commented on #5949
`whenFirstBuilt` is probably ok, but why? I'm pretty sure we just need to wait for `Promise.all` of:
 1. Fragment is known
 2. Document "ready" signal
 3. `makeBodyVisible` fired. Or rather _right_ before it's fired.

[2016-11-01 23:54] pbakaus commented on #5940
Note this has high prio from my side, as I the CDS talk is coming up next week.

[2016-11-02 00:01] lannka commented on #5942
Closing for now, as we reached a consensus.

[2016-11-02 00:01] #5942 closed

[2016-11-02 00:14] erwinmombay commented on #5940
this should get fixed in prod and canary in the next hour or so

[2016-11-02 00:24] dvoytenko commented on #5940
I can confirm. It's fixed in Canary. Subject to browser cache.

[2016-11-02 00:24] #5940 closed

[2016-11-02 00:27] rudygalfi commented on #5934
Let's deal with `visible` and `hidden` first. I don't think I understand why there's confusion. It's important to understand that these two triggers pull double duty. If they are specified without `visibilitySpec` then they will simply fire when the page becomes either visible or hidden, respectively. The naming in this case seems intuitive to me. @lannka I think you might have missed that you can

[2016-11-02 00:42] pbakaus commented on #5940
Excellent, thanks Erwin and Dima!

[2016-11-02 00:42] cramforce opened #5962 "No items in amp-list response throws non-user error"
See this URL
https://cdn.ampproject.org/v/s/allrecipes.com/recipe/19165/creme-brulee/amp/?amp_js_v=5

I don't understand why this happens, as we do have a `user().assert` for this. Do we accidentally remove it?

CC @lannka @dvoytenko @erwinmombay

[2016-11-02 00:43] cramforce commented on #5962
This is the `null is not an object (evaluating 'c.items')` error

[2016-11-02 00:54] cramforce opened #5963 ""No request strings defined. Analytics data will not be sent from this page." should be a user error"
This is polluting our prod logs.

[2016-11-02 00:58] cramforce opened #5964 "Do not report an error for session storage exceptions"
This is in `amp-accordion`. I think the `dev().error` could be `fine` instead.

[2016-11-02 01:10] cramforce commented on #5949
Waiting for `makeBodyVisible` to have fired sounds good to me.

[2016-11-02 01:10] erwinmombay commented on #5962
double checked and the assert is definitely there. but yeah we do a `typeof null == "object" // true` and try to access the property

[2016-11-02 01:11] erwinmombay commented on #5962
<img width="975" alt="screen shot 2016-11-01 at 6 08 48 pm" src="https://cloud.githubusercontent.com/assets/354746/19913296/95af3eb8-a05e-11e6-9db8-6ea9211add71.png">

[2016-11-02 01:35] dejandex opened #5966 "Amp pages and html5 games"
What about html5 games and iframe and amp pages

In amp reference i see The 600px away from the top constraint can be avoided by adding a placeholder image.

 It does not make sense to me. Html5 games is for full screen like this one

[http://m.fishinggames.us/lets-fish2.php](url)

How to make valid html5 iframe amp page?

[2016-11-02 03:10] #5962 closed

[2016-11-02 03:12] lannka commented on #5934
The confusion comes with the 2nd duty.

[code]
The above config will trigger as soon as `amp-img` enters viewport (visible > 10). This is not hard to understand, except that I can argue `visiblePercentageMax` is probably useless in real world.

-------------------

The config below simply changed "on: vidible" to "on:hidden". The behavior is totally out of my expectation.

[code]
A: triggers when

[2016-11-02 03:35] drdamour commented on #5607
i was confused by the docs on form because the example has method=POST but also has an action attribute which is defined as invalid, is the sample wrong?

[2016-11-02 04:13] Eastegg opened #5970 "The chinese versions of tutorials page's "Continue to Step 1" URL is wrong."
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

The chinese versions of tutorials page's

[2016-11-02 13:08] tdrl commented on #5958
Do you have an AMP version number and repro page for this?  (Looks like you could repro on the a4a.amp.html example page?)

[2016-11-02 13:15] tdrl commented on #5958
@glevitzky -- Trying to assign you to this Issue, but the assignment box isn't allowing me to. :-P

[2016-11-02 13:54] top10quotes commented on #5670
now amp-xhr  form post method cant submit. amp form now difficult. i want to implement here somebody guide me.

[](https://www.top10quotes.in/packers-and-movers-in-pune.html)

[2016-11-02 14:06] mattpramschufer commented on #2380
Has there been any update on this yet?

[2016-11-02 14:14] Incaprules commented on #2380
Yes, Incapsula now avoids injections in AMP pages automatically for all sites on all accounts

[2016-11-02 14:21] weeblr commented on #2380
This was tracked on #5051.

[2016-11-02 14:47] glevitzky commented on #5958
Are there any more details on how to reproduce this? I'm not seeing anything unusual in a4a.amp.html.

[2016-11-02 15:10] Siton-Systems commented on #5929
Thanks :)!

[2016-11-02 15:20] glevitzky commented on #5958
Okay, I was able to reproduce using my personal phone's default browser. Now to figure out a way how to debug this...

[2016-11-02 16:28] lannka commented on #5958
Reproducible on `ads.amp.html`. You should be able to see it on desktop Safari 6 and 7 as well. We used [Saucelabs](https://saucelabs.com/) to have older version of Safari (remember to turn on developer option in Safari preference).

For Android 4.2.2 system browser, I honestly don't know how to debug :-(. Chrome cannot attach to it.

@cramforce do we need to whitelist @glevitzky so that we can as

[2016-11-02 16:42] aghassemi commented on #5970
Thanks for reporting @Eastegg . Moved the issue to the docs repo: https://github.com/ampproject/docs/issues/251

[2016-11-02 16:42] #5970 closed

[2016-11-02 16:57] aghassemi commented on #5966
@dejandex a single full-screen iframe page will not benefit from the performance optimizations that AMP  provides so AMP may not be the right tool for your case. Please see _"What type of content works best using Accelerated Mobile Pages?"_ on https://www.ampproject.org/support/faqs/

[2016-11-02 16:57] #5966 closed

[2016-11-02 17:07] zhouyx commented on #5777
fixed by #5882

[2016-11-02 17:07] #5777 closed

[2016-11-02 17:14] Gregable commented on #5670
@mkhatib This essentially means that for method=GET forms, you want either action or action-xhr or both, correct?

Do we need to wait on validator changes until runtime changes are in place?

[2016-11-02 17:33] #5939 closed

[2016-11-02 17:51] zhouyx commented on #5917
Are there real cases that we have two layers of ownership? remove cached value and figure out ownership info every time is  correct. But If we never have this kind of use cases (two layers of ownership), I feel it can be a waste of resources.

[2016-11-02 18:16] aghassemi opened #5977 "Support layout `responsive` for `carousel type=carousel`"
I am not clear why layout `responsive` is not supported for `carousel` same way it is for `slides`. Seems like something we should be able to support.

/cc @dvoytenko @muxin @camelburrito

[2016-11-02 18:16] jridgewell commented on #5917
Neither case is very common (we only have a few owner extensions). I don't think this necessary to optimize yet.

[2016-11-02 19:42] jridgewell opened #5980 "Clean up CustomElement#connectedCallback"
Re: https://github.com/ampproject/amphtml/pull/5976#discussion_r86209297

`#connectedCallback` attempts to verify the layout type of the element. However, now that we can delay the upgrade, this seems wrong. Additionally, the upgrade itself verifies the layout type. So:

- Upgrade is sync
  - upgrade verified layout type, so `#connectedCallback` is duplication
- Upgrade is async
  - `#connectedCal

[2016-11-02 19:45] cramforce commented on #5958
@lannka I invited them.

[2016-11-02 19:50] cramforce opened #5981 "Revive amp-slides"
It should be the same as `<amp-carousel type=slides>`. Having the type turned out to be a terrible idea.

We should then stop documenting the `type` attribute and eventually make a new version of `amp-carousel` that no longer supports it.

[2016-11-02 19:55] dvoytenko commented on #5225
@ericlindley-g Let's schedule it soon?

[2016-11-02 20:01] mkhatib commented on #5670
Yes @Gregable that's correct. Yeah let's wait for runtime to get this first and then we can update validator.

[2016-11-02 20:01] mkhatib commented on #5670
@top10quotes please file a separate bug if you're having issues so we can help.

[2016-11-02 21:04] lannka commented on #5958
@glevitzky not sure if you need to accept any invitation. i still can't assign to you yet.

[2016-11-02 21:06] glevitzky commented on #5958
Is this something I would get via email or github? I don't see anything in either.

[2016-11-02 21:10] jridgewell commented on #5958
You would have to join the [ampproject](https://github.com/ampproject). Go there, you should see a notification at the top of the page.

[2016-11-02 21:20] glevitzky commented on #5958
Ah, thanks! Invitation accepted.

[2016-11-02 21:42] #5855 closed

[2016-11-02 21:49] mkhatib commented on #5607
Yes apologies for that, I think we had a PR to update the examples in the docs but was not followed up on, will go ahead and update the docs in another PR.

[2016-11-02 21:54] dvoytenko commented on #5977
The problem there is that we can't do it via CSS. With our CSS hacks we can only condition height to be a ratio of width, not the other way around. This works well with slides because width is known - it's equal to container width. However, with scrollable carousel, we can't rely on anything like this for width - width is variable. Instead, we want to fix height and have width follow the aspect ra

[2016-11-02 22:06] dvoytenko opened #5987 "AMP.extension: a formal _second_ argument for version"
1. Existing instances of `AMP.extension`
2. Runtime.js `AMP.extension` global
3. _init_tests.js: `AMP.extension` global
4. Compiler changes

[2016-11-02 22:07] aghassemi opened #5988 "amp-accordion: getSessionState_ should not assert `sessionStr`"
Currently `getSessionState_` asserts the `sessionStr` it gets from `sessionStorage` but it is not expected to have any value in session storage for an accordion until the header is clicked. This is causing unnecessary error logging (but is not causing a bug)

[2016-11-02 22:10] glevitzky commented on #5958
Alright, after spending most of the day rewiring things so that I can test my local code changes in a locally running instance of Android, I can confirm that the issue is in fact the ad centering code that was added as part of the multi-size feature.

As for the solution, should we do some sort of carve out by user agent? I.e., if we detect that the user is on an Android system browser, don't cent

[2016-11-02 22:28] #5964 closed

[2016-11-02 23:07] lannka commented on #5958
So it's this piece of code? Do you know which one is badly supported?

[code]

BTW, can you teach me how did you get to the browser console of such an Android system browser. :-)

[2016-11-02 23:19] powdercloud commented on #5855
Wanted to update since the npm is updated now. The workaround posted above is no longer necessary. After installing with `npm install -g amphtml-validator` on a Windows machine, running `amphtml-validator` in cmd.exe should just work.

[2016-11-02 23:29] cramforce commented on #5958
I'm sure our CSS experts can get the desired result to work on older
Androids.

On Wed, Nov 2, 2016 at 4:07 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-11-03 00:06] aghassemi commented on #5977
@dvoytenko I don't fully understand. Considering `layout=responsive` applies to the carousel itself not the items in it, I don't see how it is different than slides. Any layout that is `isLayoutSizeDefined` would end up creating a presized box, all carousel needs to do is to have the `<div>` that contains the items to fill the parent `<anp-carousel>` similar to how slides does it and we should be

[2016-11-03 00:12] aghassemi commented on #5977
@dvoytenko @camelburrito @muxin I am suspicious not allowing `layout=responsive` on carousel might have been a misunderstanding. I understands we can't support layout responsive for `items` inside the carousel the same way we can for `slides`, but that has nothing to do with `layout=responsive` on carousel itself.

[2016-11-03 00:22] ericlindley-g commented on #5875
cc @jasti

[2016-11-03 00:25] ericlindley-g commented on #5852
cc @rudygalfi as this relates to `amp-experiment`

[2016-11-03 00:39] rudygalfi commented on #5934
Oh, I see the problem now. With `visible` it kind of makes sense to just fire things as soon as the visibility condition is reached. With `hidden` we wanted to introduce the idea of: watch this element during the whole page lifecycle and ping if it meets a particular set of conditions. So, to summarize, when we were discussing this [here](https://github.com/ampproject/amphtml/issues/2487#issuecomm

[2016-11-03 00:46] camelburrito commented on #5977
layout=responsive on the carousel - kills the fixed height aspect of carousel  - which is required to guarantee layout="responsive" on the inner items - (because the responsive resize happens with width changing and the runtime/css computing the height - and does not work the other way).

@dvoytenko is this what you meant?

[2016-11-03 01:00] cramforce commented on #5949
I filed https://bugs.chromium.org/p/chromium/issues/detail?id=661359 to get this fixed in Chrome

[2016-11-03 01:17] powdercloud commented on #5885
Thank you for bringing this up. I think for now I'd like to pass on it. Reason being, I think it's something that the users can figure out by themselves and there's some complexities for doing this well. ampbench covers some things that are thus far beyond the scope of the validator, so it fits more easily there.
E.g., I think a solution should probably inform the user and perhaps be interactive,

[2016-11-03 01:17] #5885 closed

[2016-11-03 04:14] sonylifull opened #5995 "[amp-form] proper action-xhr"
I have a page with form let say https://domain.com/myform.php
Inside there is markup like below:
[code]
My problem, if I submit the form and I analyze with Firebug network, it always doing POST to https://domain.com/myform.php not to https://domain.com/myform-submit.php

Any advise for this?

[2016-11-03 04:51] #5995 closed

[2016-11-03 12:49] msroberts commented on #5855
@powdercloud Looks like it's working!

[2016-11-03 14:19] glevitzky commented on #5958
@lannka That's the right piece of code. I don't have a comprehensive list of systems where this is broken, as I only tested on Android.

To test my changes I ran an Android instance through: /google/data/ro/teams/mobile_eng_prod/crow/crow.par

I also had to make some modifications for how script source URLs are generated, which you can find on my test branch here: https://github.com/google/amphtml

[2016-11-03 14:59] glevitzky commented on #5958
Someone with more experience with CSS please correct me if I'm wrong.

It seems like the issue is that CSS 'transform' property is not supported for Chrome versions 31 and below (the Android system web browser is apparently built on top of Chrome 30 according to useragent data), nor is it supported by Safari version 8 or below. Source: http://www.w3schools.com/cssref/css3_pr_transform.asp.

If tha

[2016-11-03 15:46] aghassemi commented on #5977
`layout=responsive` on inner items does not currently work at all.

Responsive width for items inside carousel is somewhat meaningless but we can actually support it if we wanted to by giving it some documented meaning, such as width of responsive inner items will be 100% of carousel width (which would make carousel similar to slides without the snapping) or we could even say width of responsive i

[2016-11-03 16:08] camelburrito commented on #5977
It won't be 100% because there is a set height on the parent , width varies with respect to height.

[2016-11-03 16:09] rudygalfi commented on #5852
cc @lannka

This is an interesting case. Will it be possible for the validator to discern how an experiment will affect visibility of elements? Even so, an experiment could be configured to attempt to show two items within an element that spec'd to permit just one, so it seems like this is something that's only enforceable at runtime.

The enforcement by the validator of how many elements can be n

[2016-11-03 16:24] lannka commented on #5958
Great investigation.

It sounds reasonable to fail for older browser if no good CSS alternative available.

[2016-11-03 16:27] aghassemi commented on #5977
Sure, it may makes more sense to want to vary width based on height for responsive inner items in the case of carousel (different than what responsive does in other places however) but I think this is Dima's point that our CSS tricks can only vary height with respect to width and so it will be hard to support this.

Regardless, supporting or not supporting responsive items inside carousel is fine

[2016-11-03 16:41] jpettitt commented on #5852
In the case of sticky ad the validator constrains dimensions so limiting whats in the element seems excessive.  Example I'd like to be able to put a carousel of stories in a sicky ad with one or two native ad links.  Can't do that eight now becasue ads can't be in a fixed layer and stick only allows one ad.

[2016-11-03 16:42] jpettitt commented on #5852
see https://github.com/ampproject/amphtml/issues/4874

[2016-11-03 16:47] j1wilmot commented on #2659
Any update on when this will be available? Thanks!

[2016-11-03 17:16] lannka opened #6000 "Remove auto generated element ID."
It was introduced only for debugging purpose. And there's no such need anymore.

Since this auto ID is not documented, no pub should be relying on it. They shouldn't rely on such an auto incremental ID to do any CSS styling or element selection, as there's no guarantee the same element will have the same ID in new AMP releases.

@dvoytenko

[2016-11-03 17:42] cramforce commented on #5958
So, just add
`container.style.transform = container.style.webkitTransform = 'translate(-50%, -50%)';`
?

[2016-11-03 17:44] #5732 closed

[2016-11-03 17:46] #5351 closed

[2016-11-03 17:54] erwinmombay commented on #5351
**here**: to get it to work on heroku you will need get the latest code and set `AMP_TESTING_HOST` environment variable with the hostname.

`heroku config:set AMP_TESTING_HOST=my-heroku-subdomain.herokuapp.com`

[2016-11-03 18:11] glevitzky commented on #5958
That appears to work, at least for Android. Will confirm and put out a PR shortly.

[2016-11-03 18:16] jridgewell commented on #5958
There's going to be other places affected by this. We should make a `centerInParent` helper function.

[2016-11-03 18:17] glevitzky commented on #5958
Any suggestion as to where that function should live?

[2016-11-03 18:25] jridgewell commented on #5958
Probably the `style.js` module.

[2016-11-03 18:25] jridgewell commented on #5958
Or, or we could use the `getVendorJsPropertyName` in there to get the right name.

[2016-11-03 18:48] cramforce commented on #5958
Yes, much better!

On Thu, Nov 3, 2016 at 11:25 AM, Justin Ridgewell <notifications@github.com>
wrote:

[2016-11-03 18:48] cramforce commented on #5958
Just use setStyle (better anyway) and it magically starts working.

On Thu, Nov 3, 2016 at 11:48 AM, Malte Ubl <malte.ubl@gmail.com> wrote:

[2016-11-03 19:04] choumx opened #6004 "Valid `<link rel=` values cause errors in Shadow AMP"
`mergeShadowHead` in runtime.js generates errors for Shadow AMPs with `<link>` elements with valid `relation` values, e.g. `rel="alternate"`.

We should probably just `dev().fine` instead of `user().error` in these cases.

[2016-11-03 20:13] #5958 closed

[2016-11-03 20:20] jridgewell commented on #4097
Ping.

[2016-11-03 20:24] megankj commented on #2659
We are targeting 11/18.

[2016-11-03 20:29] zhouyx opened #6009 "Clean up `amp-ad-loading-ux` experiment"

[2016-11-03 20:34] erwinmombay commented on #4097
tested. should be fixed in latest safari tech preview.

@chenshay just need to revert #4089

[2016-11-03 20:47] jridgewell opened #6010 "Forbid multiple versions of same extension"
Now that we have `<amp-sticky-ad>` v1, we need to forbid an author including both `v1` and `v0.1` at the same time.

[2016-11-03 20:47] jridgewell commented on #6010
/to @Gregable

[2016-11-03 21:26] #5532 closed

[2016-11-03 21:46] megankj commented on #5351
For some reason this only works if I remove "&& gulp dist --fortesting" from "heroku-postbuild" on line 22 in package.json.  Am I missing something?

[2016-11-03 22:01] chenshay opened #6013 "Cleanup "amp-messaging-protocol" experiment"

[2016-11-03 22:09] megankj commented on #5351
Nevrmind, haven't updated that file, please ignore.

[2016-11-03 22:21] dvoytenko commented on #5977
It was mostly expectation. Because on the surface, this sounds easy enough: we have all the necessary data to calculate the right heights and widths correctly. It's just that it's really hard to do in runtime. So we wanted to avoid the expectation that an author sets `layout=responsive` on the carousel, tests on one screen size, deploys and then it turns out we can't correctly resize children.

Th

[2016-11-03 22:24] oude3c opened #6015 "https://ouderoc.freshdesk.com/support/home"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-11-03 22:24] dandv commented on #2691
Forms were released to production. Holding off until these are releases as well:

* [ ] #5654 - Use CLIENT_ID inside amp form as hidden input field
* [ ] #4272 - submit form on input change

See also #5540.

[2016-11-03 22:25] dandv commented on #58
[Forms are now supported in AMP](https://amphtml.wordpress.com/2016/10/31/forms-now-supported-in-amp/).

[2016-11-03 22:27] #6015 closed

[2016-11-03 22:38] camelburrito commented on #5981
does this mean we would have to increment the version of the carousel? - or should we just remove slides documentation from there and move it to amp-slides?

[2016-11-03 22:42] cramforce commented on #5981
For now we'd just remove the docs. `amp-carousel-0.1` will need to keep supporting `type=slides`. Version 1.0 can drop the support.

[2016-11-03 22:58] aghassemi commented on #5977
@dvoytenko Isn't layout `responsive` just `fixed-height width=auto` where height is calculated from `width/height` ratio (and recalculated when width changes)? As far as `amp-carousel` is concerned, the height is already fixed by runtime regardless of `fixed-height` or `responsive` so I still fail to see why carousel can't support `responsive` same way it supports `fixed-height`. Exactly where in