[2018-02-22 22:06] #13452 closed

[2018-02-22 22:37] #13528 closed

[2018-02-22 23:34] aghassemi commented on #13451
/to @lannka

[2018-02-22 23:35] aghassemi commented on #13450
/to @danielrozenberg
/cc @cvializ

[2018-02-22 23:36] aghassemi commented on #13444
Closed by #12475

[2018-02-22 23:36] #13444 closed

[2018-02-22 23:44] aghassemi commented on #13407
@weeblrpress For question related to AMP in Google Search, please try the [AMP category in the Webmaster Central Help Forum](https://productforums.google.com/forum/#!topicsearchin/webmasters/category$3Aaccelerated-mobile-pages-amp)

[2018-02-22 23:44] #13407 closed

[2018-02-22 23:45] aghassemi commented on #13402
@danielrozenberg @rsimha This is done right? Closing.

[2018-02-22 23:45] #13402 closed

[2018-02-22 23:45] ldstevens opened #13623 "Conflicts of interest and the AMP Project"
Yesterday I attempted to get some answers to pertinent questions regarding AMP here: #13597. (For background this came from earlier discussion in #13457, and that spawned #13600 & #13603.)

Since then I've been reflecting on @cramforce's [response](https://github.com/ampproject/amphtml/issues/13597#issuecomment-367525276), particularly:

I’ve also been reflecting on the AMP 2018 keynote where @cra

[2018-02-22 23:48] aghassemi commented on #13398
@atishaybaid If you find any particular performance issues with AMP framework please file a bug. Overall, AMP designed in a way that you can not make you page slow and therefore there isn't much you can do to speed it up either. If there are perf issues, we would need to handle them in the framework.

[2018-02-22 23:48] #13398 closed

[2018-02-22 23:51] aghassemi commented on #13366
Closing the issue since it's a GPU bug caused by interaction of user-land CSS with `-webkit-overflow-scrolling: touch`. Debugging and fix requires figuring out exactly what user CSS is causing the issue and finding an alternative way of doing the same thing with a different CSS rule.

[2018-02-22 23:51] #13366 closed

[2018-02-22 23:51] aghassemi commented on #13345
Closed by #13386

[2018-02-22 23:51] #13345 closed

[2018-02-22 23:52] aghassemi commented on #13332
Closing since the solution mentioned by @cathyxz will be in production in a week and will resolve the issue.

[2018-02-22 23:54] aghassemi commented on #13308
/cc @cvializ

[2018-02-22 23:58] aghassemi commented on #13178
Closing, based on the Design Review linked above, decision was just to polyfil `sizes` instead which will be done as part of #11575

[2018-02-22 23:58] #13178 closed

[2018-02-23 00:02] danielrozenberg commented on #13555
@cramforce and just to make sure we're on the same page, the descriptive one is what @choumx suggested? :)

[2018-02-23 00:03] aghassemi commented on #13105
API mostly looks good to me. Just one suggestion: `data-image-url` -> `data-image-src` unless that's what is called in your API that your customers are familiar with.

[2018-02-23 00:08] cramforce commented on #13555
Yes :)

[2018-02-23 00:44] aghassemi commented on #12964
Closing as dup of #8545 as there will be a single solution for both.

[2018-02-23 00:44] #12964 closed

[2018-02-23 00:45] nainar commented on #13609
Thanks for filing the issues @GeekTNT! :)

Re: Problem 2 -
The issue is here: https://github.com/ampproject/amphtml/blob/master/3p/facebook.js#L85
`container.setAttribute('data-show-facepile', data.showFacePile);` should read
`container.setAttribute('data-show-facepile', data.showFacepile);` (note the change in capitalization on `data.showFacepile`)

Fixing this and adding tests. Will look at the

[2018-02-23 00:47] cramforce commented on #13623
My [response from yesterday](https://github.com/ampproject/amphtml/issues/13597#issuecomment-367525276) is largely relevant here. Given [that previous issue](https://github.com/ampproject/amphtml/issues/13597) and other comments, I judge this issue as an instance of [sea lioning](https://en.wikipedia.org/wiki/Sea_lioning) and will consequently close this issue and lock it for further comments. Ple

[2018-02-23 00:47] #13623 closed

[2018-02-23 00:50] aghassemi commented on #12823
that video simply has no audio track.

[2018-02-23 00:50] #12823 closed

[2018-02-23 00:58] aghassemi commented on #12639
Closing due to inactivity. @iamHXQ Please feel free to reopen and provide us with a trace so we can debug and find the bottleneck. Thanks.

[2018-02-23 00:58] #12639 closed

[2018-02-23 01:02] aghassemi commented on #12548
Closing since fixed by #12901

[2018-02-23 01:02] #12548 closed

[2018-02-23 01:03] cpapazian commented on #13575
Thanks @aghassemi

My main motivation for the trigger-via-action mechanism was simplicity. It seemed like a way to break up the work (though my tendency to favor simple primitives and composition is also factor). To your specific points:

6. Because of they way the resize rules were set up, and specifically how FocusHistory works, it appears (from reading code and rudimentary tests) that actions o

[2018-02-23 01:04] aghassemi commented on #12540
de-duping in favour of https://github.com/ampproject/amphtml/issues/13575 which has more technical discussions in regards to the same functionality.

[2018-02-23 01:04] #12540 closed

[2018-02-23 01:06] aghassemi commented on #12519
@cathyxz can we close this in favour of #13602?

[2018-02-23 01:08] TristanTheKnightAway commented on #13510
I am clicking the arrow button displayed in the browser, or UI, yes. Pressing the keyboard arrow key also does nothing. =)

[2018-02-23 01:10] TristanTheKnightAway commented on #13510
`<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>UC Davis vs. Evil</title>
    <link rel="canonical" href="pets.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for p

[2018-02-23 01:10] TristanTheKnightAway commented on #13510
where did I go wrong?

[2018-02-23 01:24] TristanTheKnightAway commented on #13510
oops. it was in the <head>. Lots of USER ERROR here. ok Close this please - works as designed!

SO SORRY. =/

[2018-02-23 01:35] cathyxz commented on #12519
So revisting https://afdsi.org/test/amp_carousel/ after https://github.com/ampproject/amphtml/pull/12636, @jaygray0919 how do you feel about the current experience? It will always open the image in full view, and you can double tap / pinch zoom on mobile, as well as browser zoom on desktop. `<amp-lightbox-gallery>` will offer the same UX. Does that work for you, or do you still explicitly want the

[2018-02-23 01:49] cathyxz commented on #12993
Closing in favor of https://github.com/ampproject/amphtml/issues/11215 for the last checkbox.

[2018-02-23 01:49] #12993 closed

[2018-02-23 02:08] newmuis commented on #13510
Glad you figured it out! Let us know if you run into any other issues.

[2018-02-23 02:08] #13510 closed

[2018-02-23 02:16] aghassemi commented on #12384
I have verified on https://ampbyexample.com/components/amp-list/ that it is case-insensitive. Likely what @jridgewell mentioned is the root cause of the issue.

Closing, @Aerlinger please feel free to reopen if you believe this is still an issue.

[2018-02-23 02:16] #12384 closed

[2018-02-23 02:19] aghassemi commented on #12368
Agree with @nainar, browser's we officially support have position:sticky implemented. IE is best effort anyway.

@ericlindley-g Did this request come from a particular partner?

[2018-02-23 02:23] aghassemi commented on #12339
Closing based on @AmazonPublisherServices's comment [here](https://github.com/ampproject/amphtml/pull/12438#discussion_r158399112).

Please feel free to reopen if/when you plan to integrate your service with AMP again.

Thanks!

[2018-02-23 02:23] #12339 closed

[2018-02-23 02:24] aghassemi commented on #12336
Closing as it does not have a lot of context.

Feel free to reopen with more context.

[2018-02-23 02:24] #12336 closed

[2018-02-23 02:31] aghassemi commented on #12280
moved to https://github.com/ampproject/docs/issues/858

[2018-02-23 02:31] #12280 closed

[2018-02-23 02:33] aghassemi commented on #12279
Closing due to inactivity. @minamoto19 please feel free to reopen providing more details on your particular usage of the API if this is still an issue. Thank you.

[2018-02-23 02:33] #12279 closed

[2018-02-23 02:51] aghassemi commented on #12244
Closing due to inactivity. @flortardittimrf please feel free to reopen with more details of what attribute `amp-playbuzz` is not supporting for your use-case.

[2018-02-23 02:51] #12244 closed

[2018-02-23 02:58] aghassemi commented on #12226
For anyone removed from the project due to lack of 2FA, please enable 2 factor authentication for your account and follow this [link to request to join again.](https://docs.google.com/forms/d/e/1FAIpQLSeF1PN4Ee7Ke5Hvn4uN_oznV3isr-tfFg7cFRLX2F2OJGhXpw/viewform?c=0&w=1)

Closing the issue as it has been implemented.

[2018-02-23 02:58] #12226 closed

[2018-02-23 03:12] nainar commented on #13609
Re: Problem 1.

The 3p plugin isn't propagating the user provided `width` and `height` to the SDK.

[2018-02-23 04:08] aghassemi commented on #12222
Closing due to inactivity. @88kbbq please feel free to reopen and provide details on:

[2018-02-23 04:08] #12222 closed

[2018-02-23 04:10] aghassemi commented on #12209
We likely need to take the video player approach and do `amp-x-map` as API and feature set is different across map providers. We could implement a common interface across them if needed similar to video-interface.

[2018-02-23 04:26] aghassemi commented on #12144
Closing since PR is open but inactive.

[2018-02-23 04:26] #12144 closed

[2018-02-23 04:34] aghassemi commented on #12138
Likely a `sanitizer.js` issue

[2018-02-23 04:37] aghassemi commented on #12082
Closing due to inactivity. @ftudlong please feel free to reopen with more details on how to reproduce the issue. Thank you.

[2018-02-23 04:37] #12082 closed

[2018-02-23 05:08] lannka commented on #13451
@rquilliet AMP does not allow custom javascript code in header of the page. Can you give a concrete example what dynamic value do you want to pass along with the amp-ad tag?

/cc @jasti

[2018-02-23 07:43] lanneret888 opened #13628 "lanneret888@163.com"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-02-23 07:53] weeblr commented on #13407
Hi @aghassemi

For the record, I discussed the matter with Dave Besbris at AMPConf in Amsterdam, and the outcome is as follow:

- the image has to be present on the page
- but it's best to offer alternate versions with different aspect ratio
- and that's sort of loosely enforced anyway

I guess that is consistent with the accuracy of the documentation :)

[2018-02-23 08:44] the-mj opened #13629 "Amp validator validates the html but search console shows critical issue"
I have an amp page purely based on the amp project template.
The amp vaildator validates the amp page perfectly but the search console reports show that the page has "critical" issue. More specifically, the User Authored custom java script issue.
AMP TEST: https://search.google.com/test/amp?id=A_6NemxnbUpdu9kLwpwDaA
The validator should not validate such page in the first place.
On examining the p

[2018-02-23 09:41] monish-chhadwa commented on #12374
Hi @bradfrizzell can we also support canonical url in the macro list? This would allow us to send the correct publisher URL in the bid request.

[2018-02-23 13:59] #13628 closed

[2018-02-23 14:10] jdevalk commented on #13508
So the way to exclude yourself from caching is by not using the standard? That feels _very_ odd to me.

[2018-02-23 15:07] matthewgcallahan commented on #13174
@newmuis Want to bump this. Any resolution? We're hearing from people in and out of house that this is cropping up and are getting asked questions about it.

[2018-02-23 15:44] aghassemi commented on #13407
@weeblr thanks for sharing your findings here.

[2018-02-23 15:45] ericlindley-g commented on #9471
Thanks!  /cc @lswang1618 as she might have more insight into what e-comm developers need in this area

[2018-02-23 15:55] newmuis commented on #13174
Tentatively, let's use the string "Expand your window to view this experience" and the white version of this icon :
![icon](https://user-images.githubusercontent.com/1651960/36603118-ca52ac98-1887-11e8-8a4b-2b04e7abbeee.png)

Here's the SVG of the icon:
[code]

/cc @hongwei1990 Feel free to give input on the choice of icon and the string

[2018-02-23 15:56] newmuis commented on #13174
@sanjsanj or @staceyfenton would this be something you'd be interested in contributing?

[2018-02-23 15:57] renebaudisch commented on #12345
This seems not to happen anymore...
Maybe some update the last two weaks affected this and solved this already?

[2018-02-23 16:07] aghassemi commented on #13629
@the-mj , you would need to configure your hosting service not to inject JS into your AMP pages as that makes them invalid.

[2018-02-23 16:20] newmuis commented on #13254
Fixed by #13590

[2018-02-23 16:20] #13254 closed

[2018-02-23 16:31] gmajoulet opened #13632 "Bookend animation performance"
The bookend is slow to open and the animation stutters a lot, even on recent phones.
Scrolling within the bookend is also slow and in some cases buggy: the scroll stops at certain thresholds.

[2018-02-23 16:44] cramforce commented on #13508
The ⚡️does nothing else, but opt-into participation in the AMP ecosystem. Leaving it out is the way to go to avoid caching, embedding, etc.

[2018-02-23 16:54] jdevalk commented on #13508
The fact that you can't opt out of caching without opting out of other features is what we're questioning here...

[2018-02-23 16:58] cramforce commented on #13508
@jdevalk The other features this opts out of rely on caching (mostly for privacy reasons).

What features of AMP are you specifically referring to?

[2018-02-23 17:03] jdevalk commented on #13508
Search highlights and everything related to that. I don't see how privacy is affected by this.

[2018-02-23 17:06] cramforce commented on #13508
@jdevalk Google Search's AMP implementation relies on privacy-preserving pre-rendering (both for performance and swiping in carousels) that allows rendering a page without the publisher of the page knowing that it happens until the user actually goes to the page. This is ensured by only serving content from the cache until the moment the user goes to the page.

[2018-02-23 17:19] the-mj commented on #13629
@aghassemi thank you for responding. I talked with the guys at yahoo small business hosting.
They said the script is a tracking script injected in every page hosted on their platform. That means it is by default and I cannot reconfigure that. Is there a possibility that amp project can allow the custom scripts from np.lexity.com

I mean if it doesn't affect the performance it is doable, right? It

[2018-02-23 18:01] gui-poa opened #13634 "amp-youtube remove source querystring"
## What's the issue?
As happened in amp-twitter (already solved: https://github.com/ampproject/amphtml/issues/11770) the youtube's video does not work when the URL has a quetrystring.

"The attribute 'data-videoid' in tag 'amp-youtube' is set to the invalid value 'aNi1jjtFdao?rel=0' "

## How do we reproduce the issue?
https://www.terra.com.br/amp/diversao/geek/lutadora-dos-maiores-seios-dos-games

[2018-02-23 18:01] choumx commented on #13446
This isn't clearly spelled out in the [cache modifications spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md#anchor-tags-must-have-a-target-of-_blank-or-_top), but the cache probably doesn't add `target=_top` to `<a>` tags if it's a hash-link. Since amp-bind can change a hash link to a non-hash link, it should also change the `target` (if served from CDN).

[2018-02-23 18:13] matthewgcallahan opened #13635 "Page-level background-audio only playing on desktop"
## What's the issue?

Inserting background-audio on the `amp-story` tag of an amp story will play on desktop, but does not play on iOS mobile web.

## How do we reproduce the issue?

Visit [this story](https://www.washingtonpost.com/graphics/2018/national/amp-stories/fentanyl-the-deadly-drug-haunting-america/) on desktop. Audio plays automatically.

Visit [this story](https://www.washingtonpost.co

[2018-02-23 18:15] cramforce commented on #13446
I think what needs to happen is that `amp-bind` needs to add/remove the `target=_blank` when a link changes from or to `#`.

[2018-02-23 18:18] choumx commented on #13446
Yes, but if the link had `target=_top` we should preserve that, right?

[2018-02-23 18:45] cramforce commented on #13446
You may not be able to tell whether it originally had `target=_top`. Certainly if it has it and the `href` is `#`

[2018-02-23 18:45] ericlindley-g commented on #12368
@aghassemi this came up as a result of talking w/ developers in e-comm, but I think they found a workaround, so this is a more general request for the ecosystem (and low priority)

[2018-02-23 19:43] bradfrizzell commented on #12374
Sure, I'll add that.

[2018-02-23 20:03] jasti commented on #13451
One way to do this is by adding your own RTC endpoint: https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/rtc-documentation.md

[2018-02-23 20:03] jasti commented on #13512
@tlong2 Could you please take a look?

[2018-02-23 20:44] cvializ commented on #13450
Hello @serchserch! What are you trying to accomplish? `v0.js` must only be included in valid AMP documents, and this document violates the AMP validation requirements by including external scripts and is missing the ⚡️attribute on the HTML tag. Are you trying to use AMP in a PWA?

[2018-02-23 20:52] cathyxz commented on #13634
@gui-poa out of curiosity, is there a reason that you must add query strings to the `data-videoid` attribute? =)

The API was originally designed to [take a clean video-id only without query strings](https://www.ampproject.org/docs/reference/components/amp-youtube).

[2018-02-23 20:57] gui-poa commented on #13634
Actualy we import content from many sources/publishers. I don't know why they use it.

But I found a good use case here: the start time video.
<amp-youtube data-videoid="Y9ugii4tBis?start=179" height="270"...

[2018-02-23 21:11] #12856 closed

[2018-02-23 21:39] #2916 closed

[2018-02-23 22:25] cvializ commented on #7368
Go ahead, I'll assign you! Thanks for contributing, and let me know if you have any questions.

[2018-02-23 22:27] jasti commented on #8480
There might be a simpler solution. What if we provided an option to only start the refresh timer to start once the ad is in view? Would that solve the low visibility problem?

When the ad is in the carousel, AMP triggers the ad request only once the ad slide comes into view - which might be too late for it to load in time.

@lannka Could you confirm the second scenario - if true, what are your tho

[2018-02-23 22:28] cvializ commented on #13491
I was able to reproduce. I'll investigate soon

[2018-02-23 23:49] choumx opened #13642 "Support delegating navigations to viewer"
In certain embed situations, it's necessary to delegate all navigations (`<a>` click, etc.) to the viewer for special out-linking UX.

/cc @mrjoro

[2018-02-23 23:56] choumx commented on #13635
/to @newmuis

[2018-02-23 23:58] choumx commented on #13629
Unfortunately, we can't make an exception here. Yahoo can support AMP by injecting an `amp-analytics` tag instead: https://www.ampproject.org/docs/reference/components/amp-analytics

/cc @rudygalfi

[2018-02-23 23:58] #13629 closed

[2018-02-24 00:04] choumx commented on #5597
Closing in favor of #12473.

[2018-02-24 00:04] #5597 closed

[2018-02-24 00:06] choumx commented on #13317
Update: This is not a security concern, just a consistency issue between runtime and validator.

/cc @aghassemi

[2018-02-24 00:34] jamesshannon commented on #8480
Assuming that we're talking about scenario 1 ("ad outside of the carousel but within a standard viewport") then I don't think that the 'start the refresh timer' would really solve the problem.

While there are situations in which a different screensize might prevent that ad from being seen, and you definitely don't want to keep refreshing an unseen slot, this is probably unlikely in the carousel s

[2018-02-24 00:35] #11563 closed

[2018-02-24 01:58] cpapazian commented on #13575
@aghassemi I've updated the description based on your suggestions. I removed the trigger-via-action stuff and included a way to specify automatic load-more (infinite scroll) directly. I also took another stab at naming, but happy to defer to you and @choumx on that. Let me know if this looks good to run in the design review ...

[2018-02-24 02:33] cathyxz commented on #12857
Closed by #13604.

[2018-02-24 02:33] #12857 closed

[2018-02-24 02:34] cathyxz commented on #12519
Closing in favor of #13602. Feel free to reopen if you feel like a different solution is necessary. =)

[2018-02-24 02:34] #12519 closed

[2018-02-24 02:50] cathyxz commented on #4152
I think we no longer need this tracking issue, since most of this is done and the remainder is tracked via individual issues. E.g. video player support will be tracked in https://github.com/ampproject/amphtml/issues/12980.

[2018-02-24 02:50] #4152 closed

[2018-02-24 09:42] OmriKeret commented on #13531
Hi guys,
I will gladly fix it with our next PR (ETA - end of next week).

@aghassemi Is it soon enough?

[2018-02-24 14:55] matthewgcallahan opened #13652 "Ability to hide unmute/mute button on Amp Story if video has no audio"
## What's the issue?

Amp stories with videos that have no sound display an unmute icon which can be misleading to readers and make something appear broken, when in fact that's the preferred/default experience.

## How do we reproduce the issue?

Vist [this page](https://www.washingtonpost.com/graphics/2018/food/amp-stories/how-to-make-cold-brew-coffee/). Notice that the unmute button appears and

[2018-02-24 15:18] matthewgcallahan commented on #13588
We've been hearing some reports of this as well

[2018-02-24 15:39] calebcordry commented on #13652
@newmuis I will need this functionality too for ads and could work on it.

Do we want to expose a public API for showing/hiding this element? (similar Q for progress bar)  Or is using the existing CSS the preferred method?

[2018-02-24 16:00] newmuis commented on #13652
@matthewgcallahan There is a plan for this; we'll show an equalizer icon on videos containing sound, and only show the mute/unmute icon for stories where at least one page has sound.  We will also show hints that pop up informing the user of whether or not the page has sound.  This underwent user research studies and performed better than the idea of having the mute/unmute icon disappear and re-ap

[2018-02-24 16:05] calebcordry commented on #13652
Got it thanks for the clarification!

[2018-02-24 16:10] HitoriSensei opened #13653 "feature request: amp-audio events for reacting to playback state changes like pausing or reaching an end of the file"
## Motivaion

I'm creating a site that plays audio with <amp-audio/>, but I need to react to the state of the media, when it is paused, played, has reached an end and when the current play position changes.

For position updates, event similar to the low precision timeUpdate from amp-video is good enough.

## The Feature request
state change/timeUpdate events for amp-audio

## Contribution
I would

[2018-02-24 17:50] sanjsanj commented on #13174
@newmuis Sure let me have a look!  @staceyfenton is off skiing for a week but I'm hoping she'll pick up a GFI when she's back 😄

[2018-02-24 22:09] dmitriid commented on #13600
@cramforce

Also @cramforce:

Can you or @choumx explain how is it that you're "interested" in the discussion?

[2018-02-25 08:59] dev-drprasad commented on #7368
Hey @cvializ @sebastianbenz @kul3r4 I am working on this issue. i need little help.
* do we need `clear` action only for `submit-success` and `submit-error` states ?
* once form submitted, form and its children has lot of extra classes, var substitutions added. do we need to remove those all extra classes and  var substitutions ? if yes, my approach is to clone the form element as `this.initForm_`

[2018-02-25 16:23] psdtomanythings opened #13655 "AMP Story not opening properly in Desktop Chrome"
Briefly describe the bug/feature request.

The AMP Stories when opened in Desktop Chrome browser have stories only 50% of the screen height. The issue is because of a <span> tag being added just before the closing body tag. The span tag takes up 50% of the height leaving the rest 50% for Amp story. The issue can be resolved removing the **height:100% !important for "amp-story[standalone]"**

## Wh

[2018-02-25 19:10] newmuis commented on #13655
Thanks for the report @psdtomanythings.  Do you have any browser extensions installed?  Does this happen when using a guest profile or incognito window in Chrome?  Does the `<span>` have any ID or classname that may indicate where it is from?

[2018-02-26 07:29] avinash-collegedekho opened #13656 "Traffic Source issue in GA"
Hi AMP Team, recently i started using amp cache url to In-link my amp content.. now i have two concern for this, which are:
1. Is it a legitimate thing in terms of  SEO?
2. when users click on those cached and visit those pages, GA put that traffic into referral instead organic traffic which increases bounce rate of that page and cut down Pages per session of my organic traffic.

you can check it

[2018-02-26 07:42] sanjsanj commented on #13174
@newmuis I've made good progress in the little time I had last night and I think it might be working(ish), I need to have another look tonight and possibly come back with a question.

[2018-02-26 08:45] spinmar opened #13659 "amp-live-list update problem with google amp cache"
Hi,
we have a problem in our amp live football soccer page related to google amp cache.
We have the live of italian serie A and serie B football games The user can follow the live without refresh the page: in non amp page we handle it with javascript while in the amp one we use the tag amp-live-list with refresh time of 20 seconds.
If the user call the amp page directly there is no problem and the

[2018-02-26 09:38] psdtomanythings commented on #13655
@newmuis - There was a span tag before the closing body tag. It had a specific ID. I just did update my chrome and the span tag is gone. The new version is 64.0.3282.167 . All the CSS is loaded from /extensions/amp-story/0.1/amp-story.css

[2018-02-26 10:09] leonalicious commented on #11434
@gtonysam you may use `amp-list` to call REST service as `amp-state` will not fetch upon initial page load.

[2018-02-26 12:47] seomaz opened #13660 "amp-ima-video don't work when adblock is active"
You can see this example: https://ampbyexample.com/components/amp-ima-video/ using chrome with adblock.

the video does not play, the normal situation would be to play the video without ads.

[2018-02-26 13:47] shaibo10 opened #13661 "amp-playbuzz the Show More button is on top instead of bottom"
## amp-playbuzz the Show More button style

The button is stick to the top of the item, it should be on the bottom, it looks bad when the item is above the fold

1. go to a page with an amp-playbuzz scroll to amp-playbuz component
2. after the iframe is displayed, you will see the button in a wrong placement

[example](https://s3.amazonaws.com/playbuzz-cdn/amp/amp-playbuzz-bug-example.html)
[scree

[2018-02-26 14:41] psdtomanythings commented on #13655
So here is the span element "<span id="sbmarwbthv5"></span>". This span tag was may be added by some extension. We are trying to find the extension.

[2018-02-26 15:35] gtonysam commented on #11434
@choumx  @leonalicious  Thanks for your suggestions. I have called REST service using amp-list to form the url string. But I am facing a new issue as the client side validation is not working proper;y. Even though it is fired, the click event is still triggering.

[2018-02-26 15:35] newmuis commented on #13174
Sounds good!  Thanks @sanjsanj!

[2018-02-26 16:11] Enriqe commented on #8022
This worked for me! @erwinmombay I think we should really add this to the documentation :)

[2018-02-26 16:20] choumx commented on #11434
Not sure what this means, can you elaborate?

[2018-02-26 16:35] choumx commented on #12994
We can look into supporting a different delimiter. One possible workaround in the meantime is to pass curly brace character in your JSON data and render it with your other templated data.

[2018-02-26 16:51] QES commented on #13655
This doesn't seem to be a generic issue it works fine on my amp stories on Chrome (64.0.3282.167)
https://amp.sportsmole.co.uk/stories/

[2018-02-26 16:55] QES commented on #13659
I'm not sure what issue you are seeing we have been running this for over 6 months on Sports Mole and it seems to work fine (some past examples can be found at https://amp.sportsmole.co.uk/football/live-commentary/ but only live when matches are live)

We use the amp-live-list element extensively and checked it was working when we first set it up, I haven't checked recently though.

[2018-02-26 17:58] cvializ commented on #7368
The clear action may be triggered at any time, not only after `submit-success` or `submit-error`. Consider a button on the page that the user could press at any time

[code]

Great question, the form state should be reset to the state it was at when the page loaded, as if the user had entered no data. I do no think your method will work best, since there are event listeners etc bound to the form e

[2018-02-26 18:22] newmuis commented on #13655
This seems like a duplicate of #12140; we should take measures to defend the layout of the page against browser plugins randomly injecting things.  @psdtomanythings please feel free to reopen if you feel this is indeed not caused by a browser plugin.

[2018-02-26 18:22] #13655 closed

[2018-02-26 18:35] erwinmombay commented on #8022
@Enriqe oops. i always thought we added this... ill send out a PR

[2018-02-26 18:35] reinhardmohr opened #13670 "macOS Safari displays burger icon als question mark"
## What's the issue?

The safari browser on mac displays the burger icon as a question mark. This happens on my own validated AMP page s well as on ampstart.com
Chrom displays everything properly.
I tried to substitute the burger icon ☰ by codes like &#x2630; &#9776; but it does not help.

## How do we reproduce the issue?

1. Probably: Use Safari 11.0.3 and go to the templates on ampstart.com and

[2018-02-26 18:45] Gregable commented on #13353
This is probably the one requiring the most work, we don't have a rule type to express this. Is it necessary?

Are you sure you don't want to separate these? I would imagine that there will be stories without ads, including the extra javascript unconditionally seems unnecessarily expensive.

Template doesn't technically have descendants (except in really ancient browsers). It's contents are inert

[2018-02-26 18:46] #5716 closed

[2018-02-26 18:47] #7438 closed

[2018-02-26 18:48] zhouyx commented on #13206
closed by #13583

[2018-02-26 18:48] #13206 closed

[2018-02-26 18:50] iRouge opened #13672 "Binding [slide] on amp-carousel doesn't display correctly when the value is 0"
## Binding [slide] on amp-carousel doesn't display correctly when the value is 0

In some situations, carousel with [slide] binding to amp-states doesn't display the correct slide when the value is 0

## How to reproduce
With two galleries -one for previews thumbnails, the other as a slide carousel- if you select the slide[0] after having selected another one, the selected slide on the carousel st

[2018-02-26 18:50] zhouyx commented on #12830
close and track in #13044

[2018-02-26 18:50] #12830 closed

[2018-02-26 18:52] cathyxz commented on #13357
Nicely done! Closed by #13654.

FYI @inidaname, if your PR states "closes #13357", it will automatically close this issue. =)

[2018-02-26 18:52] #13357 closed

[2018-02-26 18:56] erwinmombay commented on #13659
@spinmar that's interesting. The google AMP cache should at least be 1 behind the origin content and get's updated once a user hits the cache page. (and is up to date from then on there)

[2018-02-26 18:57] cathyxz commented on #13442
The test flakes, so we need to fix it so that it doesn't flake. =)

[2018-02-26 18:58] ithinkihaveacat commented on #12173
Here's an (invalid) demo that uses `<amp-animation>` to pan-and-zoom (i.e. Ken Burns effect):

https://rhetorical-feet.glitch.me/

There are six parameters for the pan-and-zoom:

- a starting point (x1, y1) + zoom level (zoom1)
- an end point (x2, y2) + zoom level (zoom2)

So something like the following will initially display the entire image, before panning and zooming 3x into the top right. ((0

[2018-02-26 19:03] alanorozco opened #13673 "<amp-video> DOM is mutated by two unknowing modules"
`<amp-video>` content is being manipulated by `AmpVideo` (component implementation) and `MediaPool`.

Execution control should be inverted so that `AmpVideo` provides component configuration to `MediaPool` through a clear interface.

Sibling issue for video refactoring: #13674

- [ ] Create a sane API for rewriting automatic playback policies. (Part of #13674)
- [ ] Invert `MediaPool` control so t

[2018-02-26 19:06] sanjsanj commented on #13174
When exactly do we wish to show the desktop size warning?  The description above says to make the width much larger than the height but that doesn't trigger the existing overlay for me.  On desktop only reducing the height of the browser window below the min height of 550px does.

e.g.:

Width just over 550px

![desktop-minwidth](https://user-images.githubusercontent.com/4478671/36689063-3d26da5a-

[2018-02-26 19:11] alanorozco opened #13674 "Video API components can't opt out of behaviors"
In its current form, `VideoManager` is a good idea. It provides components several pieces of tooling out-of-the-box as long as they implement a simple, general `VideoInterface`.

It's also monolithic. It makes an all-or-nothing deal with every registered component into:

- Autoplay behavior.
   Loosely installed when the `autoplay` attribute is set on the component).

- Docking. Ditto `dock`.

- F

[2018-02-26 19:15] iRouge commented on #13672
I could have a staging url for you if you need.

[2018-02-26 19:16] choumx commented on #13672
@iRouge That would be helpful, thanks.

[2018-02-26 19:16] pbakaus commented on #6477
pinging @dvoytenko and @Gregable and this would need to be addressed by the validator/amp rules first.

[2018-02-26 19:17] pbakaus commented on #5846
no updates from me, I'll reassign to @mrjoro :)

[2018-02-26 19:20] pbakaus commented on #9421
Just confirmed that these arrows appear for me fine. @bpaduch can you confirm as well before I close this bug?

[2018-02-26 19:28] bpaduch commented on #9421
Yep, I fixed them in an update.

[2018-02-26 19:28] #9421 closed

[2018-02-26 20:13] aghassemi commented on #13661
@shaibo10 Looks like you have a fix for it already, could you please send that to us as a PR and cc me and @buzzdan?
Thanks!

[2018-02-26 20:16] aghassemi commented on #13660
/to @shawnbuso
/cc @jasti

[2018-02-26 20:19] MarkkiPiho commented on #6243
Hi, adding .i-amphtml-slides-container {height: auto !important;} fixes the issue but makes the page not valid. I wonder why there is height: 100%!important; in /extensions/amp-caruosel/0.1/amp-carousel.css:1 in the first place? For upscaling smaller-than-container images?

[2018-02-26 20:21] aghassemi commented on #13670
@reinhardmohr Please use the `svg` version of the hamburger icon same way the "Bike Shed" template in ampstart does: https://ampstart.com/templates#commerce

[2018-02-26 20:22] aghassemi commented on #13670
Closing since this is not an AMP-specific issue and a browser issue . work-around mentioned above.

[2018-02-26 20:22] #13670 closed

[2018-02-26 20:24] jridgewell commented on #13531
That's fine.

[2018-02-26 20:44] shaibo10 commented on #13661
It's an old fix, It merged to my master in a mistake, I'll test it and then
I'll make a PR

בתאריך 26 בפבר' 2018 22:14,‏ "Ali Ghassemi" <notifications@github.com> כתב:

[2018-02-26 20:49] pbakaus commented on #9421
Woohoo, awesome :)

[2018-02-26 21:07] shawnbuso commented on #13660
Hey all, I may need a hand with this one - I'm having trouble replicating exactly in a debug environment because my plugin is being loaded from ads.localhost, so instead of the IMA library being blocked like in prod, the whole plugin gets blocked in dev. Is there a modification I can make to avoid loading the plugin from ads.localhost?

[2018-02-26 21:11] fedgrant opened #13676 "amp-list layout issue"
[code]

This structure above does not trigger a call to the amp-list source. In the documentation it doesn't say that there are limitation on what layout properties a list can have. What is the correct layout to use on amp-list with `display: flex` on the parent?

[2018-02-26 21:27] gmajoulet commented on #13588
More testing revealed that it actually works, but it's (very) slow. I could find cases where it took more than five seconds using an iPhone 5.

Current flow is:
1. Bless all story media elements
2. Unmute current page media elements

A better flow could be:
1. Bless current page media elements
2. Play current page media elements
3. Bless other elements

[2018-02-26 21:27] MarkkiPiho opened #13677 "amp-carousel: bug #6243 still unresolved - "dirty" height of slides-container"
height: 100%!important; in /extensions/amp-caruosel/0.1/amp-carousel.css:1 makes .i-amphtml-slides-container height "dirty" - if there are more than 1 slides in caruosel, an unwanted bottom gap/margin is formed.

Adding .i-amphtml-slides-container {height: auto !important;} fixes the issue (pretty much all modern browsers and OS's) and leaves slide scroll intact, but makes the page not valid.

Pos

[2018-02-26 21:50] lannka commented on #13353
Is it valid to have 2 amp-story on a page? How hard is it to do so? It can be solved in runtime if this is a too special requirement.

It's open to debate. All other story tags don't have separate extensions. Given the code is small, having it in same extension is probably cheaper now.

The same problem will apply to cashapona?

[2018-02-26 21:55] newmuis commented on #13353
It may be valid in the future to have multiple `amp-story` tags in the same document.

re: extension: I think we may eventually want this to be its own extension; the amp-story extension is already getting pretty large.  We definitely shouldn't make any decisions that would *prevent* us from making amp-story-auto-ads its own extension.

[2018-02-26 22:10] lannka commented on #13353
We can apply the same rule for amp-story-auto-ads for now. Because amp-story-auto-ads has to be child of amp-story, they add up and meet our requirement here.

To not slow down the current work of @calebcordry , I suggest we move it out as extension before the public launch of AMP. How does that sound?

[2018-02-26 22:11] Gregable commented on #13353
Not requiring having it's own extension effectively prevents us from requiring it in the future as it would invalidate documents. We largely can't make backwards incompatible changes to the validator, unless very very few documents in the wild would be affected. In this case, we're talking about all documents using `amp-story-auto-ads`.

So, we should make the call now.

One way you could do it is

[2018-02-26 22:25] #13446 closed

[2018-02-26 22:51] zhouyx commented on #13086
Talk about the new `<amp-consent>` component proposed for GDPR.

[2018-02-26 23:19] cathyxz commented on #13677
I came across a similar issue to this when trying to make `<amp-lightbox-gallery>`, mostly I took issue with the `height: 100% !important` that's applied to `.i-amphtml-slide-item`. This actually overrides the default height on the item inside the carousel slide.

I think we want to keep the height 100% on `.i-amphtml-slides-container`, since that guarantees that the slide container will have full

[2018-02-26 23:27] cathyxz commented on #13676
@choumx are you the right person to triage this? =)

[2018-02-26 23:29] choumx commented on #13676
Tossing potato to @aghassemi since it sounds layout-related. 😄

[2018-02-26 23:40] cvializ commented on #13450
I'm going to close this since it does not look like the document provided is an AMP document, and AMP documents do not allow external libraries. If you are trying to use a PWA shell, you will need to use AMP shadow. If I am mistaken, feel free to comment and we can reopen!

[2018-02-26 23:40] #13450 closed

[2018-02-26 23:49] cathyxz commented on #13321
### Results of perf profiling on Chrome Devtools

Here's a rough list of perf bottlenecks on open lightbox:
- `getBoundingClientRect`
- animation `add`
- Gestures
- `updateDescriptionBox` (the use of `innerText`)?

[2018-02-27 00:13] MarkkiPiho commented on #13677
Hi Cathy,

Thank you for your quick response. I tried your solution, but unfortunatelly it does not work for me. Then I discovered .i-amphtml-slide-item already has height: 100% !important specified in /extensions/amp-carousel/0.1/amp-carousel.css

I assume 100% height for .i-amphtml-slides-container is there for the case where slide image is smaller than container or there is no images/videos/etc

[2018-02-27 00:17] rquilliet commented on #13451
Thanks @jasti and @lannka

@lannka : the idea would be to pass a random value as a key-value targeting in the amp-ad tag. One potential (and useful) use case would be to split traffic based on that value and perform AB tests.

@jasti - I've looked at your documentation - not sure I get it completely.
Would that mean that I should first define my JS function in the file where the getCustomRealTimeC

[2018-02-27 00:27] cathyxz commented on #13677
@MarkkiPiho which carousel on your website contains the `<amp-youtube>` or repro? Sorry, I could not find it.

What I meant was that instead of adding `.i-amphtml-slides-container {height: auto !important;}` to your CSS, add `.i-amphtml-slides-item {height: auto !important;}` instead. This will have the same invalid amp page problem as your original solution, but I think (of course pending investi

[2018-02-27 00:32] jasti commented on #13451
@bradfrizzell do we have publisher integration examples for RTC?

[2018-02-27 00:34] MarkkiPiho commented on #13677
For example https://expo.online/en/vehicles/cars/mercedes-benz/#vision-mercedes-maybach-6 (first slide) or

https://expo.online/en/work/forestry-woodworking/forest-harvesting/#fr28-compact-forwarder (last slide)

Yes I did and the gap did appear. I can change it again for some time so you can check, if needed.

[2018-02-27 00:53] seomaz commented on #13659
CORS problem https://www.ampproject.org/docs/guides/amp-cors-requests

[2018-02-27 01:14] aghassemi commented on #13575
@cpapazian Sorry for the delay, responsed below:

Aside from resize, there is also the problem that a low-trust action can now cause network requests.

Position observer only reports when it comes into viewport regardless of where it is placed, so it can never be used to load items earlier than end of list coming to viewport which is too late.

Anyways, seems like we are in agreement with this app

[2018-02-27 01:16] nainar commented on #12309
Hi folks, I would like to claim this issue. This comment covers the proposed design for this Intent to Implement:

# Background

[Bodymovin](https://aescripts.com/bodymovin/) is an After Effects extension to export animations designed in Adobe After Effects for playing on the web/other platforms. Animations are exported as .json files that use a player to then render the animation on the web.

# P

[2018-02-27 03:49] cathyxz commented on #13677
Hmm. I can indeed verify that this is an issue on your website, but I'm having quite a bit of trouble finding an isolated repro. I've coped your carousel and full page CSS here, but there's no gap: https://codepen.io/cathyxz/full/aqQZgR/

On your page specifically, `<amp-youtube>` is correctly sized, and `<amp-carousel>` is correctly sized. Oddly, the div for `i-amphtml-slides-container` (`height:

[2018-02-27 10:06] cryogenic-ric opened #13685 "Official CDN for Font Awesome 5 has changed"
Font Awesome is whitelisted via https://maxcdn.bootstrapcdn.com host.
I cannot find the latest releases (v5.x.x) anywhere on the above host.

The [Official](https://fontawesome.com/get-started/web-fonts-with-css) CDN link is: https://use.fontawesome.com/releases/v5.0.7/css/all.css

[2018-02-27 12:19] reinhardmohr commented on #13670
Hi, thanks for helping. Using the svg helped – but the closing x also rendered as a question mark in Safari. And there was no svg available.
So I looked a bit deeper. The problem was: In the HTML code the opening burger icon and the closing x were inserted from a different font. And this font obviously was not available for Safari.
Solution:
I looked in the custom css where I could find "font-fami

[2018-02-27 12:59] MarkkiPiho commented on #13677
Thanks. There is a gap at https://codepen.io/cathyxz/full/aqQZgR/ using Chrome or Firefox on Windows 10.

[2018-02-27 13:04] MarkkiPiho commented on #13677
Also with Edge.

[2018-02-27 14:16] Adventive commented on #13419
@javiergarzac
As per `amp-iframe` documentation:
[code]
So you can pass in those variables via the url hash and re-parse within the iframe.
[code]

[2018-02-27 14:17] jasti commented on #12912
@cvializ is there an update on this please?

[2018-02-27 14:31] bradfrizzell commented on #13451
@jasti This is the [Publisher Implementation Guide](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/rtc-publisher-implementation-guide.md)

@rquilliet  I don't believe there should be any need to run experiments this way. If you need to run an experiment within DFP, you can already do this directly in DFP https://support.google.com/dfp_premium/answer/6333031?hl=en

If this doe

[2018-02-27 16:04] lannka opened #13688 "I2I: AMP template ads"
**Overview**

To have more ad networks enjoy the benefit of [AMPHTML ads](https://amphtml.wordpress.com/2018/02/14/ads-and-amp/) and [fast fetch](https://amphtml.wordpress.com/2017/08/21/even-faster-loading-ads-in-amp/), we propose a template based ads solution as a simpler approach to integrate AMPHTML ads.

A big blocker for ad networks to adopt AMPHTML Ads is the need for  AMP validation and si

[2018-02-27 16:04] gmajoulet commented on #13635
Thanks for filing this!

It is not possible to autoplay audio or unmuted videos on mobile as it is blocked by most browsers. To provide a consistent experience across the platforms, all the media elements should be muted by default.

The bug here is that the story wide ``background-audio`` should not be playing unless you click the "unmute" sound icon in the top right corner.

[2018-02-27 16:24] dev-drprasad commented on #7368
got it

[2018-02-27 16:47] nicholasbg opened #13689 "Maximum Number of Days for Range Type"
It would be useful to have a maximum number of days for the range type of datepicker. For example if using the datepicker for a rental, there may be a maximum (or minimum, for that matter) length of time you can rent for.

[2018-02-27 16:52] OmriKeret commented on #13531
Hi @aghassemi @jridgewell,
I’ve encountered a dead end, wondered if you could suggest the AMP way of solving it.
In order to construct the unit we need to know what media to display and in order to figure it out we do an api call (“queryMedia_()“).
I could initiate the call earlier but I won’t be sure that it’s finished before the layout callback.
WDYT?

[2018-02-27 16:56] aghassemi commented on #13689
/to @cvializ

[2018-02-27 17:05] aghassemi commented on #13575
/cc @ericlindley-g @lswang1618

[2018-02-27 18:48] QES commented on #13659
I have now checked and our pages are also not reloading on the google cache in the timely way they used to:

https://www.google.co.uk/search?ei=FaSVWqjLCYKvgAaM4YFI&q=live+commentary+espanyol+vs+real+madrid&oq=live+commentary+espanyol+vs+real+madrid&gs_l=psy-ab.3..35i39k1j0i30k1j0i8i30k1l3.7521.15040.0.15415.10.10.0.0.0.0.97.790.10.10.0....0...1c.1.64.psy-ab..1.7.541...0i7i30k1j0i8i7i30k1.0.vxSMuH

[2018-02-27 18:53] aghassemi commented on #13677
GWD ran into the same issue.

[2018-02-27 18:56] cvializ commented on #12912
Unfortunately the test credentials are not working now to load the article with ads.

[2018-02-27 19:05] cathyxz commented on #13677
@MarkkiPiho I think a temporary workaround is to add a class / id to your `<amp-carousel>` and use the css descendant selector to apply `height: auto !important` to the `.i-amphtml-slides-container` class. We can try setting `.i-amphtml-slides-container` to `height: auto`, but will have to rollback if this breaks anyone else.

[2018-02-27 19:14] QES commented on #13659
This is definitely a CORS issue having looked at a debug session on my phone:

![image](https://user-images.githubusercontent.com/249748/36749348-6a1a029a-1bf2-11e8-90b2-371278d51276.png)

[2018-02-27 19:30] seomaz commented on #13659
@QES my current headers working:

`access-control-allow-credentials:true
access-control-allow-origin:https://www-cibercuba-com.cdn.ampproject.org
access-control-expose-headers:AMP-Access-Control-Allow-Source-Origin
amp-access-control-allow-source-origin:https://www.cibercuba.com
amp-same-origin:true`

[2018-02-27 19:34] erwinmombay commented on #13659
I dont believe CORS plays a part in this as amp-live-list requests are proxied through the cache. Looking into this right now.

[2018-02-27 19:38] cvializ commented on #12912
Can reproduce, no root cause found immediately, but I will investigate. /cc @danielrozenberg

[2018-02-27 19:43] imwm opened #13695 ""totalTime" property on amp-analytics events occasionally empty"
## What's the issue?

For each time spent event (using `timer`), we attempt to log the ["totalTime" property](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#total-time).

## How do we reproduce the issue?

This issue is most noticeable for us on AMP Stories, for which we want to get a granular time spent count.

1. Public URL to reproduce this: https://mic.com/stor

[2018-02-27 20:38] MarkkiPiho commented on #13677
Thank you. I tried that - carousel got class .carousel and css .carousel div {height: auto !important;}. It did work, gap went away, but messed up prev & next button height, that are on the same css level as .i-amphtml-slides-container. And because of !important rule, it still did not validate.

[2018-02-27 21:19] newmuis opened #13698 "amp-story MediaPool does not propagate <track> elements"
Currently, we only propagate `<source>` elements and `src` attributes.  We should also propagate `<track>` elements for publishers to specify subtitles.  We can use a construct similar to what we do for [Sources](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/sources.js).

[2018-02-27 21:42] twd3 commented on #2273
Can we please get this going? I am using iframe so I can have captcha and it sucks.

[2018-02-27 21:44] lswang1618 commented on #2273
Work for this is in progress! Current time frame is to have support in April - will update this issue if that changes.

[2018-02-27 22:01] rsimha opened #13700 "Selenium frequently times out while loading test pages during Percy builds on master"
This is causing `master` to go red often.

For example, see https://travis-ci.org/ampproject/amphtml/jobs/346992913#L656

[code]

[2018-02-27 22:04] newmuis commented on #13353
I think we should separate this out.

I don't think I care whether we do it the hacky way (like returning an empty file from the CDN) or the real way (actually moving the code), but neither option (leaving this coupled to amp-story forever, or invalidating all stories at some point in the future) is a good one.

[2018-02-27 22:18] alabiaga opened #13701 "Banned styles -moz-binding and behavior pass on validation"
According to the docs related to styles, -moz-binding and behavior are banned styles, though I can use them and they are not flagged as so.

## How do we reproduce the issue?

https://validator.ampproject.org/

1. Add the following style in the validator web ui

 <style amp-custom>
   .test {
     -moz-binding: inherited;
     behavior: url(http://www.msn.com/blah.htc);
    }
  </style>

[2018-02-27 22:19] alabiaga commented on #13701
/cc powdercloud

If this is valid, please assign to me and I can fix. Thanks

[2018-02-27 22:21] #12352 closed

[2018-02-27 22:22] honeybadgerdontcare commented on #13701
Yes, this is valid now per #12352 conversation with Dima. Documentation needs to be updated.

[2018-02-27 22:34] Gregable commented on #13353
OK, then the plan will be to create a new extension. In terms of separating this out, I recommend the hacky way for a short term, since we don't want folks including a js file that 404s.

[2018-02-27 22:48] alabiaga commented on #13701
Great. Thanks

On Tue, Feb 27, 2018, 5:22 PM honeybadgerdontcare <notifications@github.com>
wrote:

[2018-02-27 22:48] lannka commented on #13353
Empty amp-story-auto-ads.js for now SGTM.

[2018-02-28 01:14] rsimha commented on #13700
/cc @timhaines in case he's aware of the root cause. I suspect this has to do with how selenium / chrome behave on Travis CI in the presence of `xvfb` (?). There are so many moving parts here that I'm not yet sure where the problem lies.

[2018-02-28 01:18] rsimha commented on #13700
Here are a couple of things [we do](https://github.com/ampproject/amphtml/blob/master/.travis.yml#L12-L15) in `.travis.yml`:

[code]

And here are [the flags](https://github.com/ampproject/amphtml/blob/master/build-system/tasks/visual-diff.rb#L229-L230) we use to launch Chrome during the visual diff tests:

[code]

[2018-02-28 01:20] timhaines commented on #13700
@rsimha this is something that's just started happening recently, and it's intermittent.  Is that correct?  So we don't know how to get a reliable reproduction right now?

[2018-02-28 01:21] timhaines commented on #13700
My first thought is to try running some old builds and see if the run successfully, and then try bisecting to find a change that broke things.  That will be difficult if this is intermittent though.

[2018-02-28 01:22] aghassemi commented on #12309
Thanks for the detailed write up! Comments below in bullet form:

### Name and Attributes
- The name `amp-bodymovin` vs `amp-lottie` may need some vetting. I feel like `amp-lottie` is more accurate but `amp-bodymovin` would let us change the player to something elsein the future. Good to discuss in the review meeting.
- `src` instead of `path` for consistency (and enforce HTTPS as we do with major

[2018-02-28 01:22] rsimha commented on #13700
@timhaines Yes, this started recently, and is intermittent, but happens often enough that we rarely have a few successful builds in a row.

The solution in https://stackoverflow.com/a/46165690 looks promising. I'll try to switch from the `chromedriver-helper` ruby gem to the one built in to `selenium-webdriver`.

[2018-02-28 01:25] aghassemi commented on #13695
/to @zhouyx
/cc @rudygalfi

[2018-02-28 01:26] nainar commented on #13086
Time permitting I would like to talk about `<amp-bodymovin>` -> https://github.com/ampproject/amphtml/issues/12309

[2018-02-28 01:27] aghassemi commented on #13685
/to @Gregable Looks like we need to whitelist `https://use.fontawesome.com` as well.

[2018-02-28 01:33] aghassemi commented on #13676
@fedgrant, What's the size of the `amp-list` if you inspect it with developer tools? If it is 0 by 0, it won't work. If using flex-layout, you need to make sure the flex-item is given a proper width/height by its parent. If you have Url it will help debugging as well.

[2018-02-28 01:35] aghassemi commented on #13656
/to @zhouyx @rudygalfi

[2018-02-28 01:41] aghassemi commented on #13653
@HitoriSensei Adding those events is fine, but they have to be low-trust events which means they can not trigger most actions such as `setState` (they can only low-trust actions). `timeUpdate` is low-trust as well.

If this still helps you with your use-case and given other priorities, it would be great if you can take a stab at it. I will be available on Stack and GitHub to help and looking at ht

[2018-02-28 01:43] nainar commented on #12309
Replying to Ali's comments:

# Name and Attributes

1. `<amp-bodymovin>` vs `<amp-lottie>` your point of changing the player in the future + the fact that Lottie calls the player hosted on the webcdn bodymovin makes me lean towards `<amp-bodymovin>`. Maybe `<amp-bodymovin-player>` to make sure people understand that this is the player and not the After Effects plugin?
2. `src` instead of `path` (a

[2018-02-28 01:53] djones commented on #13700
@rsimha I'm skeptical you'll see things improve by moving to those options.

That is just swapping the driver to use these built in ones: https://github.com/teamcapybara/capybara/blob/63a12e7ba064fe326b36d014ede8c9269855a6af/lib/capybara.rb#L465-L482

If they do work, it might be because you're currently setting some `add_emulation` options and `no-sandbox` and `disable-extensions` browser flags h

[2018-02-28 01:57] timhaines commented on #13700
@rsimha I'm not sure if it's related, but I did see [this comment thread](https://github.com/teamcapybara/capybara/issues/1305#issuecomment-112535264) about people having issues on the first test run due to the browser trying to request a page, and the server still spinning up.

[2018-02-28 02:01] rsimha commented on #13700
@djones yeah, looks like swapping drivers won't really help. I do wait for the server to fully spin up and fetch `/` from the server before trying to fetch any webpages with assets, so I'd have imagined that will avoid server timeout issues. Anyhow, I'll dig in some more tomorrow.

[2018-02-28 07:10] powdercloud commented on #13572
This is done (and released). And btw I was wrong about (2), just fixing the English text triggers retranslations. Apparently our system improved since I last touched it consciously. :-)

[2018-02-28 07:10] #13572 closed

[2018-02-28 08:10] spinmar commented on #13659
Thanks very much to look at it.

[2018-02-28 08:48] QES commented on #13659
@seomaz thanks that is exactly what I have (I think - but with my domains)

When this is cached by the cache the browser needs to know that it is OK - how do you include the Google Cache domains in the headers so that the browsers know to include them?

I think I remembered when this may have stopped working or what has changed since I cofirmed it was working last year.

Since then we have added -

[2018-02-28 08:57] QES commented on #13659
So I have worked out there are generic issues which I can now see caused by the amp-access element in the google cache so:

```https://www.google.co.uk/amp/s/amp.sportsmole.co.uk/football/arsenal/league-cup/live-commentary/live-commentary-arsenal-vs-man-city_319529.html```

I get the error:

```Failed to load https://amp.sportsmole.co.uk/amp_ping/82adlfDUPAWVBF7dAF0JXu7hPOhd8yjH9UV4EbGEvImp6oD518g

[2018-02-28 11:26] davisshaver opened #13708 "Discrepancy between CDN & non-CDN version of AMP ads (CORS)"
## What's the issue?

AMP template validates and serves Ad Sense units successfully here: https://www.onwardstate.com/2018/02/27/movin-on-older-mysterious/amp/

But in the CDN version, we see JS errors and the unit does not load: https://www.google.com/amp/s/www.onwardstate.com/2018/02/27/movin-on-older-mysterious/amp/

Here is example console output:
<img width="1272" alt="screen shot 2018-02-28

[2018-02-28 11:35] QES commented on #13708
This looks similar to the discussion in #13659 which has ended up discussion the CORS differences between the origin and the google cache. in both cases the curiosity to me is that the errors you (and I in #13659 shows a discrepancy between the Cache URL www.google.com/amp/s/ and the cache orgin cdn.ampproject.org

![image](https://user-images.githubusercontent.com/249748/36785617-57a1ab52-1c7b-11

[2018-02-28 11:42] davisshaver commented on #13708
@QES Interesting... We did just change the amp-ads implementation, do you think this is a content (page source) mismatch? Or it's CORS headers?

I am just confused bc our DFP implementation w/ amp-ads was working fine, this only cropped up when I switched to AdSense type.

[2018-02-28 12:43] davisshaver commented on #13708
Still confused what's goin on here...

@QES are you still struggling with it?

It would be nice if there were a CORS validator in the same way there is a markup validator.

[2018-02-28 13:01] davisshaver commented on #13541
@seomaz Can you provide some more information on this ticket? I don't believe the plugin implements `amp-ad` directly so this could be done through customizing template files.

[2018-02-28 13:07] davisshaver commented on #13656
@aghassemi @avinash-collegedekho This is expected behavior. If for instance a user shares the cached AMP URL on social, we would expect a desktop user clicking the link to be forwarded to the desktop site.

One option might be setting up CloudFlare's Accelerated Mobile Links feature to enable this functionality at the edge. https://www.cloudflare.com/website-optimization/accelerated-mobile-links/

[2018-02-28 13:29] newmuis opened #13710 "Add a base class for amp-story layers"
We currently have `AmpStoryGridLayer` and `AmpStoryCtaLayer`, which share no implementation.  We should add a common base class `AmpStoryLayer` that applies a CSS class name like `i-amphtml-story-layer` so that other components that need to get all layers have a way of doing so.

One concrete example of this is the page scaling service; it should get all layers and (maybe) apply a scaling factor t

[2018-02-28 13:38] QES commented on #13708
@davisshaver Yes I'm still struggling with this.  I agree having some way to validate CORS would be nice but better still documentation that gave some real world examples would be useful.

To me there are discrepancies in the way the documentation talks about the cache and the way it works, it took me a long time to understand how the CORS stuff worked locally with my own domains and amp-list and

[2018-02-28 13:39] davisshaver commented on #13708
@QES Thanks... totally agreed! :)

Did you end up adding any headers to resolve your issue?

[2018-02-28 13:45] spinmar commented on #13659
Meanwhile I updated the response header cors.
Let's see if it solves the problem

[2018-02-28 13:45] mcginnis92 commented on #12977
Hello! I'd like to claim this issue if it is still available. Thanks!

[2018-02-28 14:15] seomaz commented on #13659
@QES you need to add this domain https://amp-sportsmole-co-uk.cdn.ampproject.org look my example

[2018-02-28 14:57] shawnbuso commented on #13660
Scratch that - uBlock Origin will let me configure it to allow localhost connections through but block other connections. Taking a look at this now.

[2018-02-28 15:15] Sitanderkumar opened #13711 "How to Add validation in single date picker"

[2018-02-28 15:29] BarrBrian commented on #2685
@avimehta - I'm actually experiencing the same issue as @johnnyshankman. And tested in in Real Time as you suggested.

Example:
I posted a link to Facebook:
www.example-site.com/article?utm_source=facebook-group&utm_medium=group1

I went on my phone and opened the link in Chrome. It automatically redirects to:
www.example-site.com/article/amp/

In Real Time it shows a hit on wwww.example-site.com/

[2018-02-28 15:37] BarrBrian commented on #2685
@avimehta - quick update.

I have an idea of what's happening: The UTM parameters **do pass** through if you link straight to the /amp/ document.

Example:
www.example-site.com/article/amp/?utm_source=facebook-group&utm_medium=group1

I believe the problem is that this is not the standard use case for a lot of people who share the standard link of their site and let mobile redirect to AMP but serv

[2018-02-28 15:59] QES commented on #13659
@seomaz but does that still work on the original origin?

access-control-allow-credentials:true
access-control-allow-origin:**https://www-cibercuba-com.cdn.ampproject.org**
access-control-expose-headers:AMP-Access-Control-Allow-Source-Origin
amp-access-control-allow-source-origin:https://www.cibercuba.com
amp-same-origin:true

my AMP pages are served on amp.sportsmole.co.uk and users view them at

[2018-02-28 16:24] QES commented on #13659
I have just checked and if I set it to

`access-control-allow-origin: https://amp-sportsmole-co-uk.cdn.ampproject.org`

Then it breaks when loaded from amp.sportsmole.co.uk

[2018-02-28 16:27] QES commented on #13708
@davisshaver no it seems that if I want to be able to use the unit on my own origin I need:

access-control-allow-origin: https://amp.sportsmole.co.uk

But if I want it to work on the Google AMP Cache it needs to be:

access-control-allow-origin: https://amp-sportsmole-co-uk.cdn.ampproject.org

But it is the same data and I can't see if there is way to have them both active at the same time (plus

[2018-02-28 16:41] newmuis commented on #13698
Actually, I think we can just add this directly to [Sources](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/sources.js).

1. Add a `this.tracks_` field to `Sources` constructor:
https://github.com/ampproject/amphtml/blob/a97d6110ef54acf45676bb41ece1c30e6ed6cdcc/extensions/amp-story/0.1/sources.js#L28-L34

2. Get all the `<track>` elements from the element, like we curre

[2018-02-28 16:42] aghassemi commented on #13711
/to @cvializ

[2018-02-28 17:10] aghassemi opened #13714 "[MASTER FEATURE] Explore AnimationWorklet and co. in AMP's scrollbound animations."
Explore using ScrollTimeline and AnimationWorklet (Chrome Origin Trial feature) in AMP's scrollbound animations.

Mostly tracked via email, Just adding a GitHub tracker issue for it.
/cc @nainar @majido

[2018-02-28 17:24] cvializ commented on #13711
Hi @Sitanderkumar, could you give a little more detail about what you're trying to accomplish? Are you referring to form validation https://www.ampproject.org/docs/reference/components/amp-form#custom-validations ?

[2018-02-28 17:37] ericlindley-g commented on #9423
/cc @spacedino

[2018-02-28 17:38] ericlindley-g commented on #13575
/cc @spacedino

[2018-02-28 17:43] mrjoro commented on #12977
Thanks @mcginnis92!  I've invited you to become a member of AMP Project so we can assign this issue to you officially, but feel free to start working on it.

Please let me know if you have any questions.

[2018-02-28 17:50] sanjsanj commented on #13174
When you have time have a look pls @newmuis cheers!

[2018-02-28 17:56] #4405 closed

[2018-02-28 17:56] sebastianbenz commented on #4405
yes - that solves my problem. Thanks!

[2018-02-28 18:24] zhouyx opened #13716 "[Master feature] Enable user choice using <amp-consent> component"
#### Overview ####
A new <amp-consent> component that enables publisher to get consents from readers and manage their consents.

#### Format ####
[code]

#### Consent instance ####

##### config #####
Each unique consent instance keeps a list of endpoints to get and update consent states. Initially, the configuration is simple:
* checkConsentHref: An endpoint to use to check the consent status
* p

[2018-02-28 18:29] cpapazian commented on #13086
[Built-in see-more for amp-list](https://github.com/ampproject/amphtml/issues/13575) /cc @aghassemi

[2018-02-28 18:33] dev-drprasad commented on #7368
HI @cvializ , i guess we can't use `this.validator_.hideAllValidations()` because it works only with `custom-validation-reporting` option. correct me if i am wrong.

Since we can't remove validations , i am thinking of removing classes in `handleClearAction_` method.
method looks like

[code]

One drawback of this approach is,  if user|dev adds class names  `.user-valid` or `.user-invalid` by him/

[2018-02-28 18:47] zhouyx commented on #13526
@kushal
`totalEnagedTime` seems to contain user information. We will need a privacy review in order to add it to the whitelist.
To your second question. I think an `<amp-access>` will still be used right? Could you provide me an example on how your extension will be used? Thanks

[2018-02-28 19:18] josh313 opened #13717 "Refresh action for amp-list"
It's sometimes necessary to refresh an amp-list's data if the server data changes. An example use case would be a product page that has an "Add to Cart" button as well as an in-page cart rendered in an amp-list. When the user clicks "Add to Cart", the amp-list for the cart should be refreshed. The only way to do this currently is by using amp-bind to change an unused query param anytime the list n

[2018-02-28 19:25] josh313 opened #13718 "amp-list should show loading indicator and placeholder during refetch"
When an amp-list refetches its data due to the src changing via amp-bind or the soon-to-be-implemented refresh action being triggered (#13717), the amp-list just shows the previous data until the new data is returned by the server. This can create a weird user experience in lots of cases, because the user taps some button which should change the data but the page seems to not react at all until th

[2018-02-28 19:26] josh313 commented on #13717
cc @choumx @aghassemi

[2018-02-28 19:37] newmuis commented on #13174
Whoops, sorry!  Missed that notification.  I think there are two criteria that must both be met to trigger this:

1. The width of the viewport must be less than 1024px.
2. The height of the viewport must be less than the width.

I do agree; I think the warning is shown appropriately for those screen sizes, but you're right that we may not be able to use `isDesktop_()` to determine when to change t

[2018-02-28 19:44] cwisecarver commented on #13354
@rudygalfi @zhouyx Any word on this? What we're trying to avoid is firing the unnecessary HTTP requests. We could filter the `inc=0` on our side without too much trouble but if we can find a way around using battery or data that would be our preferred approach.

[2018-02-28 19:59] aghassemi commented on #13531
@OmriKeret

Would something like this work (pseudo-code)

[code]

[2018-02-28 20:54] spinmar commented on #13659
@QES
I think that access-control-allow-origin should be set to origin request header value (when amp-same-origin is not set and origin is in the allowed domains)

https://www.ampproject.org/docs/guides/amp-cors-requests

[2018-02-28 21:53] cvializ commented on #7368
Ah good call, your understanding is correct. However, if a custom validator _is_ used, you will need to make sure the custom validator's state is reset when the form is cleared.

That code looks mostly correct, feel free to start implementing and testing!

It would be unusual for a developer to add `.user-valid` or `.user-invalid` classes themselves, and I think the existing code already assumes t

[2018-02-28 21:56] rudygalfi commented on #13716
Some feedback:

We should avoid the term revocation to talk about the full list management flow. Maybe some terminology like "consent prompt" vs. "consent management" would sufficiently differentiate them.

In the "config" section, could you clarify the two options that are presented? It looks like the 2nd one just uses more fields.

Could you add a section talking about data persistence (viewer c

[2018-02-28 21:56] newmuis opened #13721 "Allow embedders to disable system UIs"
Embedding platforms will want to disable some system UIs.  We should think through which system UIs may make sense to parameterize, e.g:

- Bookend
- Sharing icon in system layer
- Mute/unmute icon in system layer
- Hint layer
- Progress bar

[2018-02-28 21:57] nainar commented on #13087
I would like to talk about `<amp-bodymovin>` -> https://github.com/ampproject/amphtml/issues/12309

[2018-02-28 22:02] mrjoro commented on #12941
Notes for the sizes discussion were recorded in the issue.

[2018-02-28 22:02] #12941 closed

[2018-02-28 22:10] aghassemi commented on #11945
/cc @cpapazian

[2018-02-28 22:14] ericlindley-g commented on #13287
Checking in: is this work speculative at this point, or do we have a timeline in mind?

[2018-02-28 22:18] lswang1618 commented on #11945
--- wait until it isn't anymore, then resize and correct scroll accordingly (e.g. if the viewport is below amp-list)

^doesn't this mean that whatever is in the viewport can move around without user interaction?

[2018-02-28 22:18] aghassemi commented on #13718
Also needed for infinite scroll case: https://github.com/ampproject/amphtml/issues/13718
/cc @cpapazian

[2018-02-28 22:18] choumx commented on #13708
Hey folks, I assume you've seen [these docs](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md)? There are specifics and example implementations there.

[2018-02-28 22:19] aghassemi commented on #13575
@cpapazian thanks for presenting today. Summary of feedback from Design Review meeting:
1- Forgo the defaults for paging and expect full Url to be in the JSON response.
2- Expose the `how-far-from-viewport` as a configuration and limit to a max (maybe 3 as max? with a default of 0.5?). Name for this: `load-more-auto-distance=<number between 0-3>`?
3- Let's do more bike shedding on the names. /cc @

[2018-02-28 22:24] aghassemi commented on #11945
@lswang1618 if we correct for scrolling properly (Chrome has actually started doing this recently under their [Scroll Anchoring initiative](https://blog.chromium.org/2017/04/scroll-anchoring-for-web-developers.html)), it won't be noticed by the user.

[2018-02-28 22:29] ericlindley-g commented on #13575
Thanks @cpapazian for presenting and @aghassemi for the notes!

FWIW I think the names are solid as is, but want to make sure that @spacedino can take a look for feedback from a UX perspective. We avoid the term "infinite scroll" and are pretty directly descriptive, so I'm optimistic we're in good shape.

The proposal for (2) also SGTM.

One additional bit I wanted to bring up was failure states:

[2018-02-28 22:30] cpapazian commented on #13575
@aghassemi
4- preserve json responses. should this be a single json response with the extra pages merged into `items`? or should each page be preserved separately?

[2018-02-28 22:35] aghassemi commented on #13575
@cpapazian oh yeah, thanks. I think just an array of responses would do. Also out of scope until we actually want to handle DOM recycling.

[2018-02-28 22:38] aghassemi commented on #13717
LGTM! I assume implementation would be pretty much same as `[src]` changing with `amp-bind`. Also I assume it can be ignored if `src` is a state and not a Url given refreshing from `amp-state` is pointless since `amp-bind` is reactive.

[2018-02-28 22:40] davisshaver commented on #13708
@choumx I have read those docs but to be honest I feel like everything is setup right. I am coming at this as a contributor to the AMP WordPress project.

If you would be able to analyze a sample setup as mentioned at the top (a generic WordPress instance backed by Cloudflare), I could make upstream contributions to AMP WordPress documenting the best practice setup for CORS. This issue has come up

[2018-02-28 23:14] rsimha commented on #13700
On further investigation, it turns out that the Chrome flags were not being set up correctly. We must use `Selenium::WebDriver::Chrome::Options.add_argument` instead of  `Selenium::WebDriver::Remote::Capabilities.chrome`, based on the documentation in  https://github.com/teamcapybara/capybara/blob/master/lib/capybara/selenium/driver.rb#L46. I'll try this and see if the flakiness goes away.

[2018-02-28 23:19] cpapazian commented on #13575
@ericlindley-g existing failure state for amp-list is the `<div fallback>` which we obviously don't want to use here, as is. i could see
- do nothing, fail silently
- `<div fallback>` with an extra css class to indicate a different failure state
- some sort of limited retry capability

[2018-02-28 23:21] mrjoro commented on #13086
*built-in see more for amp-list*

- does it cause issues with the resize policy?
  - if end of list is still in viewport and the auto load more triggers, it might cause problems
  - there may be user experience issues with it, but the blanket AMP platform policy about resize doesn't really apply since it's post user action (this is assuming scrolling is a user action)
  - most of the times when au

[2018-02-28 23:22] mrjoro commented on #13086
**AMP template ads**

- when an AMP page is loaded from a publisher origin, does the ad still load from the CDN?
  - friendly iframes on a publisher page?
  - will discuss more offline
  - especially with web packaging we need to consider the world where there are no cache URLs any more; this is a more general problem to think about beyond this project
- 302 redirect are painful on low end network

[2018-02-28 23:23] mrjoro commented on #13086
**amp-consent**

- do we add "content-instance-id" to all components?
  - any that might collect user data or send requests
- is there consent callback on the component?
  - makes sense so it can wait to find out what the consent state is
- by default "if you require consent for a component and you don't have consent, don't call layout callback"
  - this is the default behavior, but then individua

[2018-02-28 23:24] #13086 closed

[2018-02-28 23:53] #12517 closed

[2018-02-28 23:58] ericlindley-g commented on #13575
Some way to indicate a different failure state would be ideal, to avoid leaving users hanging — `<div fallback>` with an extra css class sounds like a lightweight way to do that to me. WDYT?

We're looking into doing a bit of a re-thinking around loading and failure states for amp-list generally, so we could, as an alternative, punt for now (just fail silently and hide the loading state).

[2018-03-01 00:22] rsimha commented on #13700
The selenium options fix in #13705 didn't work: https://travis-ci.org/ampproject/amphtml/jobs/347529170#L651 (although it now ensures that we correctly use headless Chrome)

On to trying the suggestion in https://github.com/ampproject/amphtml/issues/13700#issuecomment-369094066

[2018-03-01 01:59] rizalpascual commented on #12349
@choumx, Our use case needs this one to be fixed:
[1, 2, 3].reduce((x, y) => x + y, 0) is not accepted.

We use that approach to sum/total the items of our array.
e.g.

<span [text]="' $' + shoppingCart.items.map((item, index) => item.price).reduce((x, y) => x + y, 0)"></span>

Is there a workaround to avoid the validation issue. Our use case needs the array to be empty initally.

Thanks.

[2018-03-01 05:09] seomaz commented on #13718
See my example https://www.cibercuba.com/actualidad clic on see more button

[2018-03-01 05:15] cpapazian commented on #11881
@choumx any thoughts on whether this could support media queries? IIRC, inline styles don't normally support media queries, but since it looks like this is actually going to be implemented as a style tag, that isn't necessarily a constraint.

alternatively, we would scoped style tags be a possible alternative?

[2018-03-01 05:25] bodymovin commented on #12309
Hi, I'm part of the Lottie team and I wanted to make a clarification regarding the SVG renderer.
Since it doesn't rely on SMIL for animations, an eventual deprecation of the SMIL support on browsers shouldn't affect the player.
My advise would be to go with the svg renderer which supports more features, allows manipulation of properties via css, and is supported by the light version of the player.

[2018-03-01 09:09] QES commented on #13708
Hi @choumx I had seen https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md but the explanation isn't backed with how you actually do it for example:

The question is not that we don't understand what is required but we are not sure how to get it to work - once something is in one of the caches I have no control over the code, the JSON endpoints loaded in the code work for my

[2018-03-01 09:28] QES commented on #13708
Apologies I just noticed that https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md has been updated taking into account some of my comments from last year.

If I read it correctly the CORS HEADERS delivered need to change based on the ORIGIN but only so if the ORIGIN is one of the allowed origins?

Looking into the example and my code I think the issue is that:

From LOCAL

[2018-03-01 09:41] eduardcotmrf opened #13734 "GA being remove when a a4a it's loaded"
In a non-amp website like www.periodistadigital.com (mobile version) we load ads using doublick third-party creatives (https://support.google.com/dfp_premium/answer/1746123?hl=en).

When a creativity that it's amp4ds loads, our analytics breaks cause it changes the ga variable in window.

1. We load analytics the standard way:
  https://developers.google.com/analytics/devguides/collection/analytic

[2018-03-01 10:50] QES commented on #13708
So on further investigation the issue seems to be that my amp-access and amp-list elements inside of the cached object are being called and rejected because the file is not changing the header to allow the origin to be from the cache (I think).

But what I don't know is how I make my script know that it is coming from the cache and act accordingly I am already checking and thought I was doing that

[2018-03-01 11:02] QES commented on #13659
Reading more about this the problem is that I have to change the

access-control-allow-origin

depending on if it is loaded from

amp.sportsmole.co.uk
OR
amp-sportsmole-co-uk.cdn.ampproject.org
OR
amp.sportsmole.co.uk.amp.cloudflare.com
etc

Now I think this should be set in the __amp_source_origin element sent from the cache on the URL but in the example I looked at that did not seem to be the ca

[2018-03-01 11:37] MohammedKaludi commented on #12197
We are also facing the same issue. Fonts not loading via Google CDN

https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1735

Any update on this issue?
Mohammed Kaludi

[2018-03-01 13:46] gmajoulet opened #13739 "Story copy link to clipboard success message z-index"
The success message when copying a link to the clipboard is under some other elements.

[Screenshot](https://user-images.githubusercontent.com/1492044/36847609-e53ca88e-1d2c-11e8-82c4-c140ffb192f4.png)

[2018-03-01 13:50] gmajoulet opened #13740 "WhatsApp sharing does not work"
Some publishers use a WhatsApp sharing option, that does not seem to work in some cases (Android? When the app isn't installed?).

See: www.cnn.com/ampstories/health/yes-sitting-too-long-can-kill-you-even-if-you-exercise

Sample code:
[code]
Generates:
[code]

Repros on: MacOS Chrome, Android Chrome (Pixel 2), feel free to add more.

[2018-03-01 14:22] OmriKeret commented on #13531
Thanks @aghassemi looks perfect.
fix is included in the following PR: #13741

[2018-03-01 14:27] Sitanderkumar commented on #13711
Hi,

i have one form widget there i have implemented this single date picker for selecting return and depart date which cannot be black for initiating search. If i add required on another input attribute its working fine but not with the single date picker.

[2018-03-01 15:20] #13739 closed

[2018-03-01 15:20] #13588 closed

[2018-03-01 15:24] #13587 closed

[2018-03-01 16:02] juanlizarazo commented on #12908
@aghassemi I can start working on this. Would you please assign it to me?

#10661 can apparently be closed.

[2018-03-01 16:33] mrjoro commented on #12977
Thanks for making the AMP documentation better @mcginnis92!

We'd love to have your help with other fixes/additions to AMP.  If you're interested take a look through our [open issues](https://github.com/ampproject/amphtml/issues) and feel free to claim anything that looks interesting.  I'm also happy to help you find one; you can reach me on the [AMP Slack](https://docs.google.com/a/google.com/for

[2018-03-01 16:46] dev-drprasad commented on #7368
Thanks for clarification. I will start implementing.

[2018-03-01 16:56] choumx commented on #11881
We're trying to implement this using the normal `style` attribute for now. The idea is we want graceful fallback and to avoid diverging from HTML if possible.

Hmm, why doesn't putting them in `<style amp-custom>` work?

[2018-03-01 17:09] sebastianbenz opened #13745 "[docs] Update outdated screenshots in story documentation"
Context: https://stackoverflow.com/questions/49049053/amp-stories-close-button-on-last-page-bookend-json

//cc @bpaduch

[2018-03-01 17:32] cvializ commented on #13711
The date picker API is changing after #13643 that will make this possible and should be available experimentally in a few weeks. I'll close this for now since that should resolve your problem. Thanks for opening this issue!

[2018-03-01 17:32] #13711 closed

[2018-03-01 17:47] cvializ opened #13747 "amp-date-picker i18n and customization for a11y phrases"
The `amp-date-picker` experimental MVP supports a11y phrases that are read by screen readers, as seen in `defaultPhrases.js`. However the MVP lacks support for customizing these phrases for publisher-specific wording or i18n. This issue will allow publishers to specify their own phrases in the HTML or JSON API for `amp-date-picker`.

[2018-03-01 17:53] aghassemi commented on #13745
/cc @newmuis

[2018-03-01 17:57] aghassemi commented on #13740
@gmajoulet Since we like every issue to have an owner, assigning to you for now until you all decide who will work on it.

[2018-03-01 17:57] aghassemi commented on #13734
/to @lannka

[2018-03-01 18:25] cpapazian commented on #11881
makes sense. 👍

for context, `<style amp-custom>` see: https://github.com/ampproject/amphtml/issues/11881#issuecomment-351826881. we're using the `<style amp-custom>`, but it is preventing us from positioning content (with `position: absolute`) that loads after the initial render of the page (with amp-list, for instance).

[2018-03-01 18:32] seomaz opened #13748 "amp-facebook embed as video now include the card/caption"
From today amp-facebook embed as video now include the caption/card information, for this you have the "post" options and "video" option is only for embed video without caption o card

[2018-03-01 20:13] choumx commented on #13419
I don't think that'll work without supporting `QUERY_PARAM` variable substitutions on `amp-iframe[src]`.

Is there a way to render this content without `amp-iframe`? E.g. `amp-list` supports URL variable substitutions and is lighter weight than an iframe.

[2018-03-01 22:22] aghassemi commented on #13748
/to @nainar

[2018-03-01 22:24] aghassemi opened #13753 "expose AD_START and AD_END events in video analytics"
1- trigger analytics events for them in video-manager
2- document the new events in video analytics documentation.

/cc @shawnbuso @jasti

[2018-03-01 22:27] choumx commented on #13708
Correct, "source origin" is the origin of the published AMP page on your domain.

[2018-03-01 22:42] cvializ opened #13755 "Cannot call open action on amp-lightbox until lightbox has already been opened"
This is because `amp-lightbox` doesn't register the actions until the `initialize_` function is called, which is only called after the lightbox has been opened.

This hasn't been an issue so far because our docs say to call the `open` action by calling using the default action syntax e.g. `on="tap: my-lightbox"`.

Should be resolvable by moving the registerAction calls into `buildCallback` like `a

[2018-03-01 22:46] jasti commented on #13541
@tlong2 @keithwrightbos is this something the tagging team looking into?

[2018-03-01 22:58] cathyxz commented on #12980
Mostly done by https://github.com/ampproject/amphtml/pull/13639. Remainder tracked by https://github.com/ampproject/amphtml/issues/13565.

[2018-03-01 22:58] #12980 closed

[2018-03-01 23:57] #13755 closed

[2018-03-01 23:59] nainar commented on #13748
Hi, this is an intentional change in behaviour to make sure that we were zooming in on videos correctly (See change [here](https://github.com/ampproject/amphtml/pull/13454/files)).

Given that I would suggest that you specify `data-embed-as` attribute to be `post`. This will make sure that we don't render the caption text.

[2018-03-02 00:41] aghassemi commented on #13747
:+1:  I vote for an optional `<script>JSON<script>` child (and no remote option)

[2018-03-02 01:25] aghassemi commented on #12309
Hi @bodymovin! Thanks for the clarification and really appreciate reaching out to us!

Regarding SVG/Canvas/HTML, what we really hope is removing the need for developers to "worry about" what to pick so even if we make it configurable, it is important for us to pick the best default. With your insights, svg + light player looks pretty promising as the right defaults. I will defer the final decisio

[2018-03-02 01:33] nainar commented on #12309
Yup, thank you for sure for reaching out! :)

Light + SVG sounds good. We can always expand and give people the option to pick the renderer they have if needed. But giving developers a well lit performant path is the way to go for AMP. :)

[2018-03-02 02:50] aghassemi commented on #12197
@MohammedKaludi I am pinging the folks working on AMP Cache infra, thanks for your patience.

[2018-03-02 03:08] cathyxz commented on #12979
This no longer repros after we set `slide-item..` css to `height: auto`.

[2018-03-02 03:08] #12979 closed

[2018-03-02 03:08] cathyxz commented on #13311
Addressing this as part of https://github.com/ampproject/amphtml/issues/13321.

[2018-03-02 03:08] #13311 closed

[2018-03-02 03:08] aghassemi commented on #12197
@MohammedKaludi The issue is the `ttf` font on your site is being served with `x-font/ttf` `content-type` which is not whitelisted in our end given it is not standard (but we will add it to the list soon).

As a workaround please change the `content-type` to `application/octet-stream` and use the [AMP Cache](https://developers.google.com/amp/cache/update-cache) API to refresh the cache for your pa

[2018-03-02 03:12] aghassemi commented on #12197
Closing the issue since workaround is documented above and a fix has been done on our end for future cases where non-standard `x-font` content type is used. Fix will take a few weeks to make it to production however.

[2018-03-02 03:12] #12197 closed

[2018-03-02 03:15] aghassemi commented on #10661
Closing in favour of #12908

[2018-03-02 03:15] #10661 closed

[2018-03-02 03:15] aghassemi commented on #12908
@juanlizarazo Thanks! done.

[2018-03-02 04:01] seomaz commented on #13748
@nainar working fine on mobile, but in desktop using data-embed-ads = video and data-show-text = false its showing like a post not only video: example: https://www.cibercuba.com/videos/noticias/2018-03-01-u192519-e192519-s27061-maria-elvira-salazar-se-postula-oficialmente?1

[2018-03-02 04:01] seomaz commented on #13748
@nainar by the way, when you click on play the video always start without audio (mute options on)

[2018-03-02 05:15] RByers opened #13766 "Disable sync-xhr in amp-iframe/amp-ad"
## What's the issue?

Chrome 65+ [allows](https://www.chromestatus.com/feature/5154875084111872) synchronous XHR to be disabled.  Blocking the UI thread on the network is a perf anti-pattern and so should probably not be allowed in AMP documents or embeds.

## How do we reproduce the issue?

1. Create an amp page with an amp-iframe to a site doing a sync-xhr
2. View in the top stories carousel
3.

[2018-03-02 05:37] cathyxz commented on #12245
@kul3r4 not currently scoped for our v1 launch, but I'm open to exploring this as an additional FR for `<amp-lightbox-gallery>`. From the example you linked, it looks like it's a desktop only feature. Is that accurate? Are there similar but slightly different use cases of this feature? I'd like to collect a few examples (esp variations if any) to scope what API / feature set would satisfy the need

[2018-03-02 07:50] spinmar commented on #13659
It seems that I have solved my problem with a correct handle of amp response header.
I follow the instructions in this page [https://www.ampproject.org/docs/guides/amp-cors-requests](url) and now it seems that Google amp cache has the updated version of page.

[2018-03-02 10:46] kul3r4 commented on #12245
@lswang1618 in case she knows more use cases for this feature on e-commerce pages

[2018-03-02 13:23] sryze opened #13768 "Null reference error in Internet Explorer 10"
## What's the issue?

When I open my AMP page in Internet Explorer 10 it doesn't fully load because of:

[code]

## How do we reproduce the issue?

1. Use code from the [Hello World](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fintroduction%2Fhello_world%2Fsource%2F&mode=Responsive) example
2. Put it in hello-world.html
3. Run a web-server (e.g. `php -S 0.0.0.0:9000` f

[2018-03-02 14:22] Enriqe commented on #11574
Had this same issue recently. Changing the Java version fixed the issue.

https://stackoverflow.com/a/46517346/2103724

[2018-03-02 14:52] cramforce commented on #13766
I think we should launch this for `amp-ad` and `amp-iframe`.

@lannka Could you take this on?

[2018-03-02 15:45] QES commented on #13708
So I'm still confused.

I can get this to work on my domain

https://amp.sportsmole.co.uk and the CORS elements all work perfectly.

However when this sits in the Google Cache it no longer works.

What I don't know is have I got the config the wrong way round or is the Google Cache not doing what it should?

I have looked at this over the last day or so and checked that I am doing what I think I s

[2018-03-02 16:19] jpettitt opened #13770 "Font Awesome validation regex need to be updated."
FA have introduced a new font domain and url structure that is failing validation

Old format

`https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css`

new format

`https://use.fontawesome.com/releases/v5.0.7/css/all.css`

@Gregable

[2018-03-02 16:20] QES commented on #13659
Hi @spinmar can you access your amp pages direct as amp pages off an origin and does it work both on the origin and on the amp google cache - if so how have you collected the info needed to modify the headers that are different between these two scenarios?

[2018-03-02 16:43] QES commented on #13708
Well after a great deal of playing I think I have it working but I'm not sure which solution is working not sure which is the correct one or which is actually working but it seems that the

Allow Origin needs to be set to the "Request Header" Origin or domain part of the Referer

[2018-03-02 17:07] #13745 closed

[2018-03-02 17:11] choumx commented on #12189
This is obsolete since we're going with the hard-coding of obfuscated origins.

[2018-03-02 17:11] #12189 closed

[2018-03-02 17:23] QES commented on #13659
Hi @spinmar @seomaz @erwinmombay after much playing I think I have worked this out, I do think the documentation at https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md while improved could be better, not because it is wrong but because it maybe isn't made clear in the text that you need to use the "Request Header" Origin to check and use for this.

With the benefit of hinds

[2018-03-02 17:36] #13549 closed

[2018-03-02 17:37] mrjoro opened #13771 "Status Update 2018-03-05"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-03-02 17:40] jpettitt commented on #13770
Never mind, dupe of #13685

[2018-03-02 17:54] QES commented on #13659
Having solved the CORS issues - looking at the amp-live-list issue which this originally was about.

This is STILL an issue looking at a page that updates with the amp-live-list page an example is:

https://www.google.co.uk/amp/s/amp.sportsmole.co.uk/live-scores/

when there are games active there will be updated times every minute or so.  These update seamlessly on the origin version:

https://am

[2018-03-02 17:59] choumx opened #13772 "URL replacements in <a> don't work for "open in new tab""
Context: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/amphtml-discuss/pzC2_HVmYZY

[2018-03-02 18:06] josh313 commented on #13718
@aghassemi Are you saying that this change to show the loading indicator on refresh should be opt-in, or just that the other feature you mentioned to should be opt-in?

[2018-03-02 18:22] cpapazian opened #13774 "Click events don't always fire from overflow div"
## What's the issue?

When click events bound to the overflow div do not fire in desktop browsers. This includes amp-bind actions and the internal onclick event registered in the overflowCallback.

## How do we reproduce the issue?

Run AMP locally in development and add this file to the examples directory:
[code]

When in normal desktop mode, clicking the "Show more" button expands the amp-list,

[2018-03-02 18:29] cpapazian commented on #13774
It looks like the onclick event that is set in the overflowCallback method never fires in a regular desktop browser. Rather, the `checkPendingChangeSize_` method in [resources-impl.js](https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L267-L269) fires instead, and handles the overflow/resize, but doesn't propagate the event.

I ran into this while working on https://g

[2018-03-02 18:30] cpapazian commented on #13774
/cc @aghassemi

[2018-03-02 18:30] lannka commented on #13772
I'm confused by code in [anchor-click-interceptor.js](https://github.com/ampproject/amphtml/blob/master/src/anchor-click-interceptor.js) and [navigation.js](https://github.com/ampproject/amphtml/blob/master/src/service/navigation.js)

it might not be related to the bug, but the code should be consolidated.

[2018-03-02 18:39] #13174 closed

[2018-03-02 18:42] QES commented on #13659
Looking further at this the called URL

https://amp-sportsmole-co-uk.cdn.ampproject.org/v/s/amp.sportsmole.co.uk/live-scores/?usqp=mq331AQECAEYAQ%3D%3D&amp_js_v=0.1&amp_latest_update_time=1520015843&__amp_source_origin=https%3A%2F%2Famp.sportsmole.co.uk

is containing an empty page with no data when loading from the cache but

https://amp.sportsmole.co.uk/live-scores/?usqp=mq331AQECAEYAQ%3D%3D&amp

[2018-03-02 19:13] #13685 closed

[2018-03-02 19:13] #13770 closed

[2018-03-02 20:01] newmuis opened #13775 "Always overwrite target attribute for amp-story-cta-layer a to _top"
Any `<a>` tags descending from `<amp-story-cta-layer>` should have their `target` attribute set/rewritten to `_top`in the `AmpStoryCtaLayer` `buildCallback()`.

[2018-03-02 20:18] choumx commented on #11251
This is a dupe of #10230.

[2018-03-02 20:20] choumx commented on #12002
Related: #12372

[2018-03-02 20:33] jpettitt commented on #13716
Where variable replacement is overridden in the case of no consent, for example client id, it would be useful for the publisher to be able to specify a default value rather than just returning blank.

[2018-03-02 21:35] #9209 closed

[2018-03-02 22:00] Adventive commented on #13768
Just as a note:

see [supported browsers](https://www.ampproject.org/support/faqs/supported-browsers)

[2018-03-02 22:12] vamshi5889 commented on #10230
@choumx

We made homepage with AMP for one of the e-commerce channel www.tatacliq.com for responsive and it's live since one month.

We are planning to go for AMP to change the Listing and Detail pages of products.

I agree that we could use amp-state with height multiplication but, this won't work in cases like showing multiline texts.

So, the dynamic height for amp-list would really help over t

[2018-03-02 22:22] choumx commented on #10230
@vamshi5889 Thanks for the input. We're actively discussing how to implement this right now, stay tuned!

[2018-03-02 22:25] rudygalfi commented on #12968
@Malvoz: Please see further discussion in #13716 around offering support to manage collection of consent. We are also thinking through how various AMP elements could be configured to behave (e.g. send a non-personalized request vs. a personalized one) and will include details soon. cc @zhouyx

[2018-03-02 22:27] Gregable commented on #13353
https://www.ampproject.org/docs/reference/components/amp-story-auto-ads is a 404.

Is there a reference doc somewhere for linking to in validation error messages?

[2018-03-02 22:32] sryze commented on #13768
Yeah, I saw that after creating the issue. I made a PR that seems to fix this, at least the page mostly loads with it: https://github.com/ampproject/amphtml/pull/13779.

[2018-03-02 22:57] vamshi5889 commented on #10230
Thanks a ton @choumx

[2018-03-02 23:35] lannka commented on #13353
https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story-auto-ads.md

[2018-03-03 00:59] Gregable commented on #13353
A few more comments as I work through this:

Why do we use a json config element for `<amp-story-auto-ads>` which specifies HTML tag attributes for the amp-ad tag? Wouldn't it make more sense for these to just be HTML attributes on the `<amp-story-auto-ads>` tag as well? It's simpler for the author to convert between these two ad tags in this case.

For example, rather than:
[code]

Just use:
[cod

[2018-03-03 01:03] calebcordry commented on #13353
@Gregable there are a few typos in the `.md` we haven't had the chance to fix yet. That one you noticed. Also one example says `data-url` and another says `data-src`.  `data-url` is correct.

[2018-03-03 01:26] cathyxz opened #13789 "<amp-lightbox-gallery>: validation rules"
Add validation rules for `<amp-lightbox-gallery>`. It is not currently possible to validate that the `lightbox-exclude` attribute should only be present on children of `<amp-carousel>` with the `lightbox` attribute. We should add runtime validation to this effect instead.

[2018-03-03 03:36] calebcordry commented on #13775
So, we are currently using `_blank` in ads until we work out `pageHistoryStack` stuff. 🤔

[2018-03-03 17:10] choumx opened #13791 "[Master feature] TypeScript in AMP"
Add TypeScript support to AMP and allow new extensions to be written in TypeScript.

# Motivation

Given the increasing maturity and popularity of TypeScript and potential developer productivity benefits, we'd like to experiment with TypeScript support in AMP.

# Requirements

- Supports existing toolchain, particularly Closure Compiler usage
- Supports piecemeal adoption (with a rollback plan in

[2018-03-03 17:10] choumx commented on #13791
/cc @kristoferbaxter @cramforce @rsimha @erwinmombay @jridgewell

[2018-03-03 23:12] AndrewKGuan commented on #12372
Hi,
is it possible to use an amp-state (json), rendered directly on the AMP's html, to be the initial src of amp-lists?  Here are a several use cases, I'm sure there'll be more that I can't think of at the moment:

- as the initial values to supply the amp-lists' rendering instead of waiting for a server fetch (xhr).  Think about eCommerce's product listing/filtering, if nothing applied to the fil

[2018-03-04 18:34] cpapazian commented on #13575
This would be interesting beyond just end-of-list cases. Any list with heterogeneous content would be simpler to implement. The implementation could be pretty simple: the list item object could set some sort of `type` attribute which matches against an expression on the template.

[2018-03-04 21:29] bodymovin commented on #12309
Hi, makes sense. If I can help in anything, please let me know.

[2018-03-05 02:39] sryze commented on #13527
I made an example implementation of Google Places powered autocomplete if anybody is interested:

https://github.com/sryze/amp-google-places-autocomplete

[2018-03-05 07:22] gtonysam commented on #11434
@choumx  Apologies for late message. I have suppressed the Bind issue using Amp-list rest service call. On button click, the parameters are passed to REST service and actual url is formed at the service and on button click, the url is called. I have used client side validation here. On tap I have used showerrors:true, eventhough the validation fails, the url is being called

[2018-03-05 09:11] leonalicious opened #13797 "is it a way in AMP to get current date and its timezone ? example (GMT+0800)"
in javascript, we can write something like`new Date().toTimeString();`
and it will display ***"17:08:21 GMT+0800 (CST)"***

is there any component/ way that we can use to get similar result related to above ?

[2018-03-05 09:39] htrex commented on #11408
this creates a huge number of 404 on the webserver logs, is this really necessary?

[2018-03-05 13:21] bpaduch commented on #11408
@aghassemi - see comment above.

[2018-03-05 15:55] mario-lorenzen commented on #10902
@cramforce Will the password input be implemented in the future? We are currently (mis)using the input type text for password for our freemium model, e.g. https://www.shz.de/sport/fussball/kopf-hoch-dino-so-wurschtelt-sich-der-hsv-in-die-relegation-id19250156-amp.html

[2018-03-05 16:01] cramforce commented on #10902
@mario-lorenzen I'd say: Yes, it will be. Just subject to prioritization of the work.

[2018-03-05 16:05] shawnbuso commented on #13660
FYI I sent #13713 for review, which will fallback gracefully to content when adblock is being used.

[2018-03-05 16:28] lannka commented on #13771
## Ads & Analytics

### Past sprint
- I2I: AMP template ads #13688
- I2I: amp-consent (GDPR in AMP) #13716
- amp-story-auto-ads: basic functionalities implemented

### Next sprint
- AMP template ads generic extension
- Implement amp-consent core
- Launch publisher served ads in Story
- Clean up work for amp-story-auto-ads, write tests
- inabox fix position bug #13496

[2018-03-05 17:05] Enriqe commented on #13775
What do you think @newmuis ? Should we still use `_top`?

[2018-03-05 17:07] calebcordry commented on #13775
Whats the timeline for this? I will be working on the page history stuff this sprint, so it might be a non-issue.

Race condition? 😎

[2018-03-05 17:20] newmuis commented on #13775
+1, we should definitely still use `_top`, but it's fine to just wait until the history stuff gets in so that we don't need to do any extra work.

[2018-03-05 17:27] aghassemi commented on #13797
@leonalicious Do you need the data for display on the client-side or to send to the server?

If client-side, `amp-bind` currently does not support `date`. Please subscribe to the FR https://github.com/ampproject/amphtml/issues/11901.

If need this data to send to server, you can get `TIMEZONE` and `TIMESTAMP` via variable substitution ( https://github.com/ampproject/amphtml/blob/master/spec/amp-va

[2018-03-05 17:28] aghassemi commented on #13797
Closing the issue since dup of #11901 and server-side workaround documented above.

[2018-03-05 17:28] #13797 closed

[2018-03-05 17:30] nainar commented on #13768
Hi @sryze! Thank you so much for sending through the PR. I have assigned the issue to you and will take a look at the PR inline.

Also @Adventive is right - support for browsers like IE10 - is best effort but since the fix and the issue aren't adding security issues and low risk - we are happy to accept the PR. :)

[2018-03-05 17:34] nainar commented on #13609
Sorry both the issues should be fixed now - I just forgot to close this issue.

[2018-03-05 17:34] #13609 closed

[2018-03-05 17:49] aghassemi commented on #13774
@cpapazian Do you know if `tap` on descendants of `overflow` work fine? (trying to assess priority)

[2018-03-05 17:56] cpapazian commented on #13774
Same behavior for descendants of the `overflow` div.

[2018-03-05 18:13] keithwrightbos opened #13803 "amp-analytics continuous visible trigger account for elements larger than viewport"
Continuous viewability trigger based on percentage currently uses the size of the element as the denominator.  Allow for ability to use the minimum of slot size OR viewport size to support elements that are larger than the viewport.  Recommend new new variable 'viewportPercentageMin' in addition to current 'visiblePercentageMin'.

[2018-03-05 18:15] jasti commented on #12968
Closing in favor of #13716

[2018-03-05 18:43] aghassemi commented on #12309
suggestion by @cramforce to drop `player` from the name as not to confuse with video players.

[2018-03-05 18:46] gonzaga8200 opened #13804 "Amp tracking debug"
Hi anyone

I'm implementing Event Tracking for AMP pages and I would like to know what is the best way
to debug these event tracking.

I'm using Wasp inspector which is a chrome extension. https://chrome.google.com/webstore/detail/waspinspector-analytics-s/niaoghengfohplclhbjnjheodgkejpih

I'm asking this because I have problems to track click events in anchor with href ( the event is not fired ac

[2018-03-05 18:48] Gregable commented on #13353
Typos are fine.

Still curious about the use of JSON config rather that tag attribute config, which would be more consistent w/ usage of `<amp-ad>`?

Note also that the validator has no way currently to validate the json contents, while it can trivially introduce validation rules on the tag parameters.

[2018-03-05 18:56] aghassemi opened #13805 "amp-date-picker: validation rules"

[2018-03-05 19:01] lannka commented on #13353
@Gregable we went with a JSON config because very soon we will introduce other configuration for publishers to have some control over the ad scheduling. You can imagine the JSON config later to become something like this:

[code]

[2018-03-05 19:27] jasonsturges opened #13806 "Floating point rounding errors on cached version of page from HTML whitespace sanitization"
## What's the issue?

AMP cache version of our page suffers from math floating point rounding errors.

HTML rendered from [our AMP page](https://www.magazine.store/the-magnolia-journal/amp/) lists product prices as: $29.99 and $20.00

However, [Google's cached version of our AMP page](https://www.google.com/amp/s/www.magazine.store/the-magnolia-journal/amp/) seems to suffer from floating point rou

[2018-03-05 19:48] aghassemi commented on #13806
@honeybadgerdontcare, we don't sanitize textNodes, specially parse numbers, do we?

This may be an issue with origin servers responding differently to cache UA than user or maybe at the time of cache the value of wrong.

[2018-03-05 19:54] jasonsturges commented on #13806
@aghassemi This site doesn't have any special logic per user agent, and the front-end code explicitly formats for prices:

JSPF fragment:
[code]

Though I realize it's a stretch, but I do not believe there is any possible way for the page to render this value unless JSTL format number is in error.

[2018-03-05 20:18] alanorozco commented on #12728
Decided offline to make this feature a special-case for pool-bound elements, tracked on #13673

[2018-03-05 20:29] Gregable commented on #13353
Sounds good. I'll leave my remaining comment as a suggestion that we later support configuring `<amp-ad>` with json as well, since these differing formats seem a little confusing to me.

[2018-03-05 20:41] choumx commented on #11434
@gtonysam Glad to hear you were able to solve the issue. Sounds like you're having an issue with `amp-form` client-side validation?

[2018-03-05 20:59] choumx commented on #13772
Huh, didn't know that existed. Definitely should be de-duped. Thanks!

[2018-03-05 21:01] #13698 closed

[2018-03-05 21:18] aghassemi commented on #13087
https://github.com/ampproject/amphtml/issues/13718

[2018-03-05 21:27] aghassemi commented on #11415
/cc @nainar

[2018-03-05 23:39] aghassemi commented on #13575
@cpapazian we met with our UX (@spacedino) regarding some open UX questions, please see below the summary and please add your feedback/questions.

## UX Meeting Notes

**A) In "auto" mode, what if user scrolls and reaches the end of the list while load more has been triggered but results have not been rendered (e.g. Fetch is in progress)**.
two options:
1- User sees the `loading` indicator.
2- We

[2018-03-06 01:44] gtonysam commented on #11434
@choumx  I am not using amp-form, but yes I am facing client side validation. Is there a way to perform client side validation in amp-list.

[2018-03-06 04:47] jasti opened #13819 "amp-ad in amp-access caused UI reflow"
We don't, in theory, but looks like this slipped through the cracks using remote.html.
https://www.theatlantic.com/amp/article/554906/

First 300x250 slot from
[code]

[2018-03-06 04:49] choumx commented on #11434
@gtonysam I'd highly recommend using `amp-form` for client-side validation. `amp-bind` can also hook into the validation events. See details here: https://www.ampproject.org/docs/reference/components/amp-form#custom-validations

[2018-03-06 06:13] gtonysam commented on #11434
@choumx  As I mentioned,I am using Amp-list and used Get request to fetch the  url from rest service. I have seen amp-form used for POST . Will this still work ?

[2018-03-06 12:34] shreeshkatyayan opened #13822 "amp-carousel issue after recovering from display:hidden"
## What's the issue?

I am developing a product landing page, only using AMP base JS and Carousel plugin. In the page, I populate list of products programmatically via AJAX request and it works fine. On product selection, I add display = none to the parent element. Now, the initial state is recovered to enable user to choose product again from the carousel. After this, in mobile devices if we swip

[2018-03-06 13:41] jorenham opened #13823 "Prepopulate non-hidden input from query parameters"
I would like to populate my form based on query parameters.
However, according to the [docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#variable-substitutions), this is currently only possible for `input type="hidden"`.
Is it currently possible to do so for other form elements (other `<input>` types,  `<select>` etc)?

Example:

[code]

Related: https://githu

[2018-03-06 14:06] alex-magana opened #13824 "AMP validator fails with `The attribute 'referrerpolicy' may not appear in tag 'a'`"
## What's the issue?
AMP Validator reports the following when you set a `referrerpolicy` on an anchor tag `<a>`.
`The attribute 'referrerpolicy' may not appear in tag 'a'`

**Example**
[code]

Briefly describe the bug/feature request.

## How do we reproduce the issue?
**Sample Page**
`https://a-referrer.000webhostapp.com/`

**Steps**
1. Add a referrer policy to the anchor tag.

**Example**
[code]

[2018-03-06 15:33] #13710 closed

[2018-03-06 16:24] honeybadgerdontcare commented on #13824
`referrer-policy` is allowed on `amp-iframe` per #3973. @aghassemi do we also want to add it to anchor tags?

[2018-03-06 16:47] cramforce commented on #13791
I wish I had done this July 22nd 2015 :)

[2018-03-06 16:57] aghassemi commented on #13718
for design review, discuss:
1- attribute to turn loading+placeholder behaviour on (what should the default be).
2- do we need two attributes so loading and placeholder can be separated.

[2018-03-06 17:04] nikoviedo opened #13828 "Change header class on scroll"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-03-06 17:15] spinmar commented on #13659
@QES
Sorry for the late answer but I didn't see your request.
In my live amp page I solved the problem setting correctly the amp response header.
It works in google amp cache and directly too.
I followed the pseudo code here:

[https://www.ampproject.org/docs/guides/amp-cors-requests](url)

to set the response header.

[2018-03-06 18:00] lannka commented on #13819
<img width="691" alt="screen shot 2018-03-06 at 9 57 25 am" src="https://user-images.githubusercontent.com/8496897/37049146-d5840de6-2124-11e8-963f-331765d6e73f.png">

Caused by the use of `amp-access`. Pub has put the `amp-ad` inside an `amp-access` guarded container.

Not sure if it's pub's intention or a bad configuration. + @dvoytenko for more input.

[2018-03-06 18:06] nikoviedo commented on #2911
how header change class on scroll??

[2018-03-06 18:18] ericlindley-g commented on #2911
@nikoviedo — it's not possible to change the class of an element on scroll.
However, [amp-position-observer and amp-animation](https://ampbyexample.com/visual_effects/basics_of_scrollbound_effects/) may help achieve the same goal.

What are you trying to achieve by changing the header class on scroll?

[2018-03-06 18:24] aghassemi commented on #13824
@honeybadgerdontcare I don't see any issue with supporting `referrerpolicy` on `a`. We already support for `amp-iframe`, `amp-img` and `amp-pixel`.

[2018-03-06 18:31] aghassemi commented on #2911
@nikoviedo This codepen https://codepen.io/aghassemi/pen/GOEWEz may also help.

[2018-03-06 18:34] nikoviedo commented on #2911
Hey! @aghassemi thanks for that! But, i need change all the content inside header!

[2018-03-06 18:40] ericlindley-g commented on #2911
@nikoviedo — amp-position-observer is not designed to do that, but I would like to understand your need here. Do you have an example webpage that shows what you'd like to do?

[2018-03-06 19:10] nikoviedo commented on #2911
@ericlindley-g - www.viapais.com.ar whitout AMP

[2018-03-06 19:17] ericlindley-g commented on #2911
Thanks!  I don't see any scroll-bound effects on mobile, but on desktop it looks like:

• the "Via Pais" logo text shrinks
• the header itself reduces in size
• the white bar below shifts up so it remains under the header
• the black bar below slides up to hide behind the header.

This all seems possible with amp-position-observer and amp-animation— @aghassemi do you see any issues? Would it be pr

[2018-03-06 19:17] #13768 closed

[2018-03-06 19:37] newmuis opened #13832 "Create amp-story example for subtitle usage"
After #13751, subtitles should now be working in `amp-story`.  We should add an example to examples/ that showcases this feature.

[2018-03-06 19:38] newmuis opened #13833 "Add swipe down gesture to close the amp-story bookend on mobile"

[2018-03-06 20:30] Arthanari commented on #13282
Hi @lannka ,

I am Artha. I am pretty new to Github and would like to take up this task. I will get started at 6 PM EST today.

Let me know if i need to look into anything else for this task.

Thanks.
https://www.linkedin.com/in/arthanaric/

[2018-03-06 20:37] lannka commented on #13282
thanks @Arthanari, let me know if you have any questions.

[2018-03-06 20:44] lannka commented on #12014
Still seeing this errors a lot (8k per day):

[code]

[2018-03-06 20:47] taymonbeal commented on #12014
Same set of User-Agents as before?

[2018-03-06 20:48] taymonbeal commented on #12014
Also this is still a duplicate of #6676.

[2018-03-06 20:48] #12014 closed

[2018-03-06 20:54] jridgewell opened #13838 "Introduce AbortController/AbortSignal"
Should clean up async code that re-runs before work is done, eg:

- https://github.com/ampproject/amphtml/pull/13729
- https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/amp-a4a.js#L625-L825

[2018-03-06 21:16] aghassemi commented on #2911
@nikoviedo @ericlindley-g yeah that all seems doable.
Hardware accelerated properties like `opacity` and `visibility` and `transform` can be changed via `amp-animation` so you can use `transform:scale` to change the size of the logo and `transform:translate` to shift the headers as per header.

[2018-03-06 21:19] jonkeller commented on #12954
Seems like what we want is (from the point of view of the amp-analytics tag): getParentWindowFrameElement(this.element, getTopWindow(this.win)).clientHeight;

[2018-03-06 21:50] cjdeleon62 commented on #13280
@aghassemi I would like to take a shot at this issue if it is free.

[2018-03-06 22:04] matthiasrohmer opened #13841 "amp-analytics breaks in amp-shadow"
## What's the issue?

The use of the amp-analytics component inside a in other respects valid AMP document throws errors ("No ampdoc found for [object HTMLElement]") as soon as it is appended via AMP.attachShadowDoc. This is similiar and possibly related to #10717 but sadly not reproducable with the provided isolated test cases.

## How do we reproduce the issue?

The issue can be seen on the foll

[2018-03-06 22:19] cheneytsai commented on #13805
Will this include situations like not selecting a negative range? Mar 8th - > Mar 5th?

[2018-03-06 22:19] choumx commented on #11094
Forwarding a request for `<table>` and related elements `<tr>`, `<td>`, etc.

[2018-03-06 22:55] juanlizarazo commented on #12908
@aghassemi @jpettitt @ericlindley-g

I created PR #13843  of what I have implemented so far.

As this is my first contribution to this project, I'd like to get some feedback if I am on the right path and on best amp-project practices in case I am hacking around things I shouldn't so I can make those changes early on.

Also, when it comes to writing integration tests and examples, what approach sho

[2018-03-06 23:30] cathyxz commented on #13822
Sorry, misclick. I'm having trouble finding the `<amp-carousel>` on your webpage. Could you paste a stable link or a codepen with the repro?

[2018-03-07 00:04] lannka commented on #13708
@QES Glad it finally worked. Any part of the doc you felt confusing? You can certainly help us improving the doc.

[2018-03-07 01:16] aghassemi commented on #13280
@cjdeleon62 Thanks! Assigned to you.

[2018-03-07 01:52] aghassemi commented on #12908
Thanks @juanlizarazo. Adding @alanorozco who will help you through the contribution and will review your PRs. We can also contact Embedly to get a test key for AMP examples later.

Thanks again for taking this on!

[2018-03-07 02:18] cjdeleon62 commented on #13280
@aghassemi awesome! I'll start working on it tonight 👍

[2018-03-07 03:14] cathyxz commented on #13002
+1 for trimming whitespace or at least adding a Travis log output to this effect. This is like 3 hrs of life for everyone that writes another .out file. >.<

[2018-03-07 04:20] #13660 closed

[2018-03-07 09:42] matthias-erl commented on #13740
I was even wondering wether the implementation of WhatsApp sharing via the `whatsapp://` protocol is still the way to go as `https://api.whatsapp.com/send?text=I'm%20inquiring%20about%20the%20apartment%20listing` seems to be the official according to [the docs](https://faq.whatsapp.com/en/android/26000030/?category=5245251).

[2018-03-07 10:37] babakhoo commented on #1768
I got the problem solved !
Actually you should put your custom style in HEAD but not anywhere that you choose.
In my case, I put the amp-custom style BEFORE the amp-boilerplate.

[2018-03-07 11:36] QES commented on #13659
@spinmar hi thanks - I managed eventually to work out the correct incantation for this which seems to be overly obfuscated in the documentation it boils down to:

**amp-access-control-allow-source-origin**        must be YOUR origin the publisher domain
**access-control-allow-origin**                              must be the location of the file is loaded from (and that must be from an approved li

[2018-03-07 11:58] QES commented on #13708
Thanks @lannka I think

https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md

Could be improved the issue is that

amp-access-control-allow-source-origin must be YOUR origin the publisher domain 
access-control-allow-origin must be the location of the file is loaded from (and that must be from an approved list of domains)

However the complication is working out how the cach

[2018-03-07 12:00] QES commented on #13659
@spinmar are you seeing your pages load the amp-live-list updates successfully on the google cache?

I'm still not seeing pages being loaded (and I'm not getting underlying CORS errors any more) :)

[2018-03-07 14:19] Manugal commented on #13044
Hi,
I am a new contributor on GitHub and I would like to take care of this issue.

Best Regards,
Emanuele

[2018-03-07 16:27] nainar commented on #12309
Just some updates since the last design discussion:
* Potential name: `<amp-animation-bodymovin>`
* We fetch JSON object and pass it to the Bodymovin player

Implementation plan:
* V0: Basic load and play animation (without being able to trigger autoplay off)
* V1: More actions and attribute to control autoplay

[2018-03-07 16:41] nainar commented on #12309
Name we are going with: `<amp-bodymovin-animation>` as the prefix implies that this is a feature of `amp-animation` n-> which is incorrect. `<amp-bodymovin-animation>` also implies that this is a bodymovin produced animation.

Shipping this! :)

[2018-03-07 16:54] aghassemi commented on #13718
@josh313 Suggestion is to add a `reset-on-refresh` attribute and unless that attribute is set, this behaviour will not kick in.

[2018-03-07 16:57] aghassemi commented on #13087
### amp-body-moving
- Initially we decided canvas vs SVG but later Lottie team suggested SVG since it can use the light player.
- We want to pick the format for developers.
- We fetch the JSON and pass the object to Lottie.
- Name: initially `amp-animation-bodymovin`, new preference is  `amp-bodymovin-animation`

### amp-list loading
- Another alternative is having 'reset()' action. Concerns are:

[2018-03-07 17:24] ayumihamsaki opened #13854 "AMP Blog is hard to read"
Went to read an article in the AMP blog and it's so hard to read, see screenshot:

![1](https://user-images.githubusercontent.com/17784082/37107406-2bd29cc8-222c-11e8-8a88-be916b3010cc.png)

Can't you just add some nicer CSS to make it readable, for example see here:

![2](https://user-images.githubusercontent.com/17784082/37107451-408009f8-222c-11e8-8bb8-9c14502c57f9.png)

All I did was do this f

[2018-03-07 18:40] jridgewell commented on #13854
@bpaduch @pbakaus: Who owns the blog? I can't find a repo for it.

[2018-03-07 18:47] lannka opened #13856 "amp-embed failed to build"
[code]
Suspicious PR: #13250

This is blocking release.

/cc @jridgewell

[2018-03-07 18:50] lannka commented on #13856
Root cause: `addDefaultUiComponent_ ` returns `null` for `amp-embed`.

[2018-03-07 18:59] bpaduch commented on #13854
Imported from Wordpress - original WP article here: https://amphtml.wordpress.com/2018/03/05/faster-ads-with-render-on-idle/

[2018-03-07 19:12] zhouyx commented on #13044
Hi @Manugal Thanks for contributing.

To test the change manually you can start a local server with our gulp server. And then create your own page that has a [`<amp-pixel>`](https://github.com/ampproject/amphtml/blob/master/builtins/amp-pixel.md) component. Then you can configure your `<amp-pixel>` component to send a request that contains the timezone code information you added. To check the valu

[2018-03-07 19:14] lannka commented on #12954
Can you take a look at code [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/requests.js#L78)
[code]
it is always using the replacement service for the parent doc.
we might change it to
[code]

[2018-03-07 19:50] rudygalfi commented on #2685
@BarrBrian Is it possible to carry through the params on the redirect?

[2018-03-07 20:00] jridgewell commented on #11786
First, this has to do with `preconnect`, not `preload`. The linked polyfill is only used when `preconnect` is not supported.

Which means, when iOS Safari 11.3 ships (which supports `preconnect`), the polyfill won't be used. Everything will work as intended. https://github.com/ampproject/amphtml/blob/78b17216c8066818a528a76df27c2254eb69aea5/src/preconnect.js#L267-L269

[2018-03-07 20:00] #11786 closed

[2018-03-07 20:04] BarrBrian commented on #2685
@rudygalfi - let me check on that. I may have overlooked that on my end.

[2018-03-07 20:06] cwisecarver commented on #13354
@rudygalfi @zhouyx We had a request from a customer about the status on this. Any word yet?

[2018-03-07 20:32] #13856 closed

[2018-03-07 20:57] cschieffer commented on #13354
Hello, I'm from Slate Magazine. We're very interested in this ticket too. Looking forward to an update!

[2018-03-07 22:21] dmitriid commented on #13600
@cramforce commented on this issue 13 days ago:

[2018-03-07 22:57] mattwomple commented on #9891
I assumed this was fixed with https://github.com/ampproject/amphtml/pull/12219 but pinch-zoom doesn't appear to be working at all right now in AMP version 1519774160068 .

Samples:

* [amp-image-lightbox playground](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-image-lightbox%2Fsource%2F)
* [minimal example](https://android.cmphys.com/temp/lightbox.html

[2018-03-07 23:24] cathyxz commented on #9891
Yep, we added it to the new lightbox component `<amp-lightbox-gallery>`. Didn't backfill it to `<amp-image-lightbox>` yet. You can implement it in pretty much the exact same way as #12219 (the `<amp-image-lightbox>` component has an internal `ImageViewer` class. I'm trying to wrap up and launch `<amp-lightbox-gallery>` soon, which should deprecate `<amp-image-lightbox>`, but happy to take a contri

[2018-03-08 05:05] choumx opened #13867 "Error forwarding: Document format and send minimal set"
For `report-errors-to-viewer` feature, we should:
1. Only send the minimal subset of parameters required
2. Document this minimal subset format somewhere
3. Add a regression test

/cc @raywainman @zhangsu

[2018-03-08 05:49] sryze commented on #13005
I'm experiencing the same issue, even though it was said that the fix has been released. Do I need to change something in Google Tag Manager configuration?

[code]

[2018-03-08 06:03] TWsky opened #13868 "Suggestion for the amp-ad no available ad collapse document"
Recently our client has feedback us about their amp-ad above the fold didn't collapse when it's non-filled.
<img width="446" alt="screen shot 2018-03-08 at 1 37 25 pm" src="https://user-images.githubusercontent.com/4546841/37135132-c61f76d4-22d6-11e8-9083-cf0850061875.png">

And the document is confused to me as it wrote:
(https://www.ampproject.org/docs/reference/components/amp-ad#no-ad-available

[2018-03-08 06:06] cathyxz opened #13869 "<amp-ad> over https results in mixed-content requests dist.3p from http"
I don't know if this is related to https://github.com/ampproject/amphtml/issues/7038, but in my lightbox ads tests, I'm noticing strange behavior of `<amp-ad>` over https.

Demo URL here: https://amp-cathyxz.herokuapp.com/test/manual/amp-lightbox-gallery-launch.amp.html

Observe that in the test carousel titled `Lightbox Carousel Ad Support Test`, the second slide in the carousel is an amp-ad. Und

[2018-03-08 07:27] cathyxz opened #13872 "Support object-fit in layout FILL"
Currently, `layout="responsive"` is sized to 100% width of parent and height auto per aspect ratio; `layout="fill"` defaults to `object-fit: cover`-like behavior. There's a gap in this feature set for satisfying use cases where the component dynamically resizes itself (e.g. `<amp-facebook>`, `<amp-instagram>`, `<amp-twitter>` and iframe components who do not know their height beforehand). A specif

[2018-03-08 14:39] valalukas opened #13874 "DFP/AdX for AMP: broken lazy load?"
Hello,

recently I've come across an unexpected behaviour of a BTF ad unit on AMP.

## What's the issue?

I tested 2 different setups on our AMP pages:

1. AdSense
2. DFP/AdX with 3rd party line items

The problem occurred when I was comparing the performance reports of both setups. In [the AdSense report](https://drive.google.com/open?id=1TvEvVA9AkfTt62GdcEs634Zx8MuqMCeP), you can clearly see the

[2018-03-08 15:14] sryze opened #13876 "Autosuggest list doesn't work 100% of the time"
## What's the issue?

I implemented an autocomplete feature based on the autosuggest example but sometimes the list of suggestions doesn't populate, even though I can see the corresponding network request returning some entries. After I refresh the page the autocomplete begins working again.

Also I noticed that even if I continue typing characters into the input field it doesn't re-request predic

[2018-03-08 15:15] sryze commented on #12303
I think I might be experiencing the same problem with `input-debounced`, please have a look: https://github.com/ampproject/amphtml/issues/13876

[2018-03-08 15:29] sryze opened #13877 "404 errors in Edge on AMP pages"
## What's the issue?

When I visit an AMP page in Edge 16 I see a lot of 404 errors in the network tab. Here are some examples:

[code]

## How do we reproduce the issue?

Visit [this page](https://www.upnest.com/re/buysell3).

## What browsers are affected?

Edge

## Which AMP version is affected?

1519774160068

[2018-03-08 15:53] Manugal commented on #13044
Ok, thanks.

Which is the fallback string that I have to use in case of Internationalization API is not defined?

[2018-03-08 16:20] ericlindley-g commented on #12817
Got it — thanks for explaining. If placeholder + loading overlay show up anyway, then the proposal before my comment SGTM!

[2018-03-08 16:37] lannka opened #13879 "CORS error with Google Tag Manager"
Reported by  _Tyler G_ via email:

I'm having some trouble getting remote config to work for amp-analytics.

Here's the sample page I'm testing on:  http://usdev-amp.businessinsider.com/why-barbara-corcorans-wrong-about-rich-kids-2014-12?abc=gah

I'm trying to integrate a GTM AMP container onto this test page, and I've found to add:

[code]

However this is giving me a CORS issue because its tryin

[2018-03-08 16:44] jasti commented on #13819
Hey @dvoytenko, any chance you'd be able to help take a look please?

[2018-03-08 17:10] bpaduch commented on #12945
Tried this out but needs CORS as I received the error "Response must contain the AMP-Access-Control-Allow-Source-Origin header".  Please add to the documentation for this component or rework it like amp-story did for their bookend.json file as in https://github.com/ampproject/amphtml/issues/11846.

[2018-03-08 18:07] closer01 opened #13881 "amp-pinterest embedPin character problem"
**I use amp pinterest for amp page for english characters its ok , but if user name chinese or another language display like image below :**

I use this embed code
`<amp-pinterest`
`width="345"`
`height="678"`
`data-do="embedPin"`
`data-url="https://www.pinterest.com/pin/192740059037785029/">`
`</amp-pinterest>`

And my  `<meta charset="utf-8">` on header.

![2018-03-08_21h00_47](https://user-imag

[2018-03-08 18:16] tyler-g commented on #13879
thank you for looking into this

[2018-03-08 18:45] cathyxz commented on #13872
So on further investigation, `<amp-facebook>` and `<amp-instagram>` both take a width and dynamically resize the height. This means that `layout="fixed-height"` won't make particular sense, and also `layout="responsive"` doesn't work as intended (it currently sizes to 100% width and auto height).

We can implement both by first sizing width to something standard and getting the height, back-calcul

[2018-03-08 19:16] zhouyx commented on #13005
@sryze I checked with the example provided in slack channel

And it works. Could you please provide me your example page to further test with. Thanks.

[2018-03-08 19:27] nainar commented on #13881
The codepen using the embed Pinterest pin API seems to get the characters right, so this definitely sounds like an issue on our end: https://codepen.io/anon/pen/QmWdZd

[2018-03-08 19:30] choumx commented on #13708
/cc @bpaduch for docs improvement.

[2018-03-08 19:46] AndrewKGuan opened #13882 "Mustache template HTML attributes not allowed by amp validation"
Hi,
it seems to be a valid use case:

    {{#options}}
    <option value="{{value}}" {{selected}}>{{name}}</option>
    {{/options}}

But the amp validator doesn't like it, it throws an error:
Mustache template syntax in attribute name '{{selected}}' in tag 'option'.

In fact, if one whats to use a json to render any arbitrary combinations of element attributes, the validation will fail.  For exam

[2018-03-08 19:55] jshmllr commented on #13635
It is possible to play background-audio if you map the transition event action intent of the user to the playback listener. Not sure how to accomplish this on the initial load <cover> of the experience but subsequent pages it can be accomplished.

[2018-03-08 19:58] jshmllr commented on #13470
@QES "Why no left / right swipe to next previous." —> because you have to deal with the swipe back/forward gestures of mobile Safari.

[2018-03-08 20:01] #13635 closed

[2018-03-08 20:02] gmajoulet commented on #13635
That would work for transitions initiated by a user action, but unfortunately would not work for auto-advance transitions, or first page load. To be consistent, we decided to always mute the story by default.

[2018-03-08 20:30] jonkeller commented on #12954
@lannka Even with that change, we are still ending up [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/visibility-manager.js#L707) where ```this.embed.host``` is hard-coded. I think maybe that should be ```const rootElement = dev().assertElement(getParentWindowFrameElement(ampAnalyticsElement, this.ampdoc.win));```

[2018-03-08 20:39] jridgewell commented on #13881
Tracked this down to use using `textContent` property to set the text content. But, Pinterest returns these attributes already HTML entity sanitized (eg. `plakat/&#28023;&#22577;`). When using `textContent`, the `&` is transformed into `&amp;`, making the actual text content `plakat/&amp;#28023;&amp;#22577;`, hence our problem.

We need a way to unsanitize the values before setting with `textConte

[2018-03-08 20:42] kushal commented on #13526
@zhouyx
- Got it. What's the process for that privacy review? Is that a feature request? Pull request? Can I do that at the same time as adding the `timer` event?
- Yes, <amp-access> is used, but it's not really "ours." Is the idea that the element passed into `useAnalyticsInSandbox` is just a hook for detecting when it loads?  https://github.com/ampproject/amphtml/blob/master/examples/scroll.amp.

[2018-03-08 20:49] zhouyx commented on #13869
As talked offline. Please set AMP_CONFIG.thirdPartyUrl: to use `https` instead of `http`

[2018-03-08 20:49] #13869 closed

[2018-03-08 21:36] #13824 closed

[2018-03-08 23:10] zhouyx commented on #13526
@rudygalfi for the privacy review.

[2018-03-09 00:50] cjdeleon62 commented on #13280
Hi @aghassemi, this is my first time contributing to this repo and I just have a question about the unit tests. Some are consistently failing because they are trying to match the updated scrollTop values and the difference between the actual and expected is off by decimal places. Just wondering if this is only happening to me or is this expected to flake sometimes?

[2018-03-09 01:20] sryze commented on #13005
@zhouyx See [this page](https://www.upnest.com/amp-gtm-test.html) for example.

[2018-03-09 02:29] AndrewKGuan opened #13891 "FR: Handlebars.js templating"
Now there's no way to output the loop index or keys using mustache.
Use case:
[code]
I'm sure there are many more use cases for having access to the loop index(for arrays) and keys(for objects)

[2018-03-09 04:05] aghassemi commented on #13280
@cjdeleon62 they are flakes. If your own newly written tests pass, I recommend submitting a PR. All tests would run again on Travis as part of the PR and they are less flaky than localhost runs.

[2018-03-09 04:13] cjdeleon62 commented on #13280
@aghassemi okay, that is good to know, will submit a PR soon. Thanks!

[2018-03-09 05:53] cjdeleon62 commented on #13280
#13892

[2018-03-09 06:09] psdtomanythings commented on #13471
@donohoe - We built a website using Native AMP HTML. So, we didn't have to build 2 versions of the same site ( Normal Desktop & AMP ). It did work for us. I think that if AMP allows 3P integration, then may be AMP can be a new web standard altogether.

[2018-03-09 07:52] juanlizarazo commented on #12908
Thanks @alanorozco for the review. I addressed all comments except testing and component documentation/spec. Working my way through those now.

now the component api looks like this:

[code]

[2018-03-09 09:13] djavet opened #13893 ""aria-label" and "aria-hidden" is not correctly interpreted"
## What's the issue?
"aria-label" and "aria-hidden" is not correctly interpreted

## How do we reproduce the issue?
1. Add in the code an aria-hidden:  <i class="user fas fa-user" aria-hidden="true"></i>
2. open your chrome browser and look at the interpreted code in dev console
3. Code is rendered like: <i class="user fas fa-user" aria-hidden>
4. Same with <div class="logo" aria-label="my string

[2018-03-09 09:13] djavet commented on #13893
![capture1](https://user-images.githubusercontent.com/5485253/37199632-7fe8b43a-2382-11e8-962b-71f6065a1333.PNG)
![capture2](https://user-images.githubusercontent.com/5485253/37199634-7fffff8c-2382-11e8-88aa-877eb3fb16cd.PNG)

[2018-03-09 09:20] minhruhr opened #13894 "amp-carousel padding bug on windows chrome"
This issue https://github.com/ampproject/amphtml/issues/6243 has been closed but it is not fixed.

You can still see it on https://ampbyexample.com/components/amp-carousel/

![image](https://user-images.githubusercontent.com/36200731/37199890-443d87a2-2383-11e8-8560-0016db5e497c.png)

The workaround to use overflow hidden on the container isn't a good solution as it breaks the swipe functionality.

[2018-03-09 10:19] Manugal commented on #13044
Sorry for the previous Pull Request, but I had to close it because the CLA was signed by a different user. I apologize for that.

[2018-03-09 11:23] Jade05 opened #13897 "amp-date-picker height is not correct"
#### Environment

windows chrome 63.0.3239.108

#### Description

![issue1](https://user-images.githubusercontent.com/5029635/37205094-5dbd7796-23ce-11e8-9fd2-0195bd894779.png)

amp-date-picker's height is set with a specific value when it is initialized. But the height isn't enough with some particular months.

[2018-03-09 12:35] weylandjung opened #13898 "amp-ad Render on Idle not honoring data-loading-strategy"
## What's the issue?

The new Render on Idle feature for Doubleclick <amp-ad> placements does not honor the `data-loading-strategy` attribute.

## How do we reproduce the issue?
1) Generate a long page with multiple Doubleclick ad placements throughout.
2) Add a `data-loading-strategy = "3"` to each placement
3) Notice on page load, that the ad requests for all placements are made, not just those

[2018-03-09 13:18] babakhoo opened #13900 "Amp story transition button not working"
I tried to work with amp story via https://www.ampproject.org/docs/design/visual_story
My webserver app is chromebeat.com and no problem of hosting.
by lunching 'peps-completed.html' from the source file, I see the first page correctly and the button in the right for going to the next page.
Unfortunately clicking the buttons doesnt change the page or do any action.

[2018-03-09 14:40] jfallis commented on #8214
@travishoki @dvoytenko - Was unable to pass AMP-IMG or SVG tags through amp-list/amp-mustache, however, you can render AMP-IMG using the standard HTML IMG tag.

[2018-03-09 15:03] babakhoo commented on #13900
sorry it was not a correct place

[2018-03-09 17:21] sanchezedgar commented on #9902
I'm wondering about the **P1** and **P2** triggers. Were the remaining features moved into new issues? I could not find open issues tracking them anywhere else. Thank you!

[2018-03-09 17:31] dev-drprasad commented on #7368
@cvializ I raised pull request. But i am facing issue in signing CLA. My github  account associated with aol mail. when i visited cla.developers.google.com/clas there is no option to change email (it is taking my gmail account id). but my commits associated with aol mail id. should i use only gmail id ??

[2018-03-09 17:55] zhouyx commented on #13044
Yes, an empty string is good.

No worry. So I'll be reviewing #13896 Please let me know when it's ready for review.

[2018-03-09 18:09] lannka commented on #12903
POC work is done. Closing this. New work tracked here: #13688

[2018-03-09 18:09] #12903 closed

[2018-03-09 18:29] cathyxz commented on #13872
Rewriting this issue per discussion. It turns out that `layout="responsive"` is behaving as expected, but what we actually want here is the concept of `object-fit` in `layout="fill"`.

[2018-03-09 18:32] aghassemi commented on #12908
/cc @artgibson from Embedly. Art, we are making (PR an #13843) `amp-embedly` component in [AMP](https://www.ampproject.org/). Please let us know if any concerns or feedback from your side.

Also, would it possible for AMP to get a test/developer API key to use in examples and samples on ampbyexample.com?

Thanks!

[2018-03-09 18:33] zhouyx commented on #13005
Hi @sryze I ran your page and was able to see the ` __amp_source_origin` setted correctly.
I then ran your page locally but replaced the GTM id with another one. Then I was able to get the GTM response correctly. Could you please double check with GTM that you have configured it correctly.  Thanks a lot! Please let us know if it still doesn't work.

[2018-03-09 18:45] aghassemi commented on #13897
/to @cvializ

[2018-03-09 18:47] aghassemi commented on #13898
/to @lannka

[2018-03-09 19:02] nainar commented on #5164
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
* Read up on the [amp-carousel markdown file](https://ampbyexample.com/component

[2018-03-09 19:18] aghassemi opened #13902 "`map` files seems to be broken."
/to @erwinmombay

Developer tools can find the `map` file but nothing in minified src is able to de-minified.

[2018-03-09 19:22] camelburrito commented on #5164
The easiest way to do looping is to duplicate the 2 slides again making 4 slides in total and enable looping, but it might affect analytics and ads.

A safe way to proceed with this is will be to special case autoplay for carousel with 2 slides and not touch looping

[2018-03-09 19:22] aghassemi opened #13903 "amp-carousel: in Chrome it is easy to do double-slide swipes and slides can still get stuck half-way"
Might be regression of https://github.com/ampproject/amphtml/pull/13290, it is worse than what it used to be in Chrome and better in iOS

[2018-03-09 19:30] nainar commented on #5164
Let's go with the latter approach? Like you said much easier.

[2018-03-09 19:42] rsimha commented on #13700
@timhaines @djones Unfortunately, we're still seeing timeouts during Selenium load. See this build from today, for example: https://travis-ci.org/ampproject/amphtml/jobs/351431084

Looks like the suggestion in https://github.com/ampproject/amphtml/issues/13700#issuecomment-369094066 didn't do the trick.

[2018-03-09 20:04] danielrozenberg commented on #12849
Investigating this with the help of @choumx and @jridgewell. This seems to be related to the reparenting of the child nodes of the flying carpet. the `connectedCallback` of the child node (`<amp-img>` in that case) is being called in the flying carpet's build callback, despite it not being connected to the DOM at that point. We're still not sure why this only happens in the second shadow doc being

[2018-03-09 20:14] aghassemi commented on #13893
@djavet Thanks for reporting! Unfortunate bug. working on a fix now.

[2018-03-09 20:16] alanorozco opened #13906 "AMP components lack a template rendering solution"
### Background

`amp-story` creates some components with a lot of dynamic DOM that gets built manually or with an arbitrary single-render solution we call `SimpleTemplate`s.

`amp-lightbox-gallery` runs into similar issues of manipulating/creating a lot of DOM manually.

This is problematic:

- Template rendering for amp-story is bloated: allocating memory for an arbitrary strings/object hierarchy

[2018-03-09 20:16] djavet commented on #13893
Thx for the feedback!

[2018-03-09 20:17] alanorozco commented on #13089
- Proposals for component rendering solutions #13906

[2018-03-09 20:34] aghassemi commented on #13891
Agree it would be useful. We currently use https://github.com/janl/mustache.js which does not have builtin support for this.

/to @choumx
/cc @lannka @Gregable

[2018-03-09 21:37] choumx commented on #13906
Thanks for filing this. /cc @newmuis for `amp-story`.

Publisher HTML templates is a separate use case vs. internal JS usage right? Also, where do we use JSX?

Also, size of template libs range from <1KB to over 10KB -- we should make sure this only increases binary size of the extensions that use it and not v0.js

[2018-03-09 21:47] kristoferbaxter commented on #13906
A first use-case for this is JS in extension components like `<amp-story>`.

JSX is used today in `<amp-date-picker>`.

The approach of a compiled output is interesting for this use-case, since it wouldn't require additional runtime code in the payload. This would allow extensions to author markup using familiar syntax, but the code output would be vanilla JS DOM mutation only present in the exten

[2018-03-09 22:34] alanorozco commented on #13906
Thanks both for commenting, I think @kristoferbaxter tightened the loose ends.

/cc @cathyxz for `amp-lightbox-gallery`

[2018-03-09 23:23] #13893 closed

[2018-03-09 23:29] rsimha commented on #13047
See https://blog.algolia.com/travis-encrypted-variables-external-contributions/ for a possible solution

[2018-03-09 23:39] alanorozco commented on #13906
@kristoferbaxter sketched out a design that looks pretty great. Some additions/changes mine:

[code]
Assignment of `MyTemplate` then gets compiled into something like:
[code]
What's cool about this:

- we can explicitly set references to elements contained in the template with no cost and keep our current after-render logic.
- we can expand further down the line (e.g. use JSX with the same API).
-

[2018-03-09 23:53] lannka commented on #13089
@Gregable shall we also talk about the cashapona thing?
/cc @zhouyx

[2018-03-10 05:29] mikelambert commented on #11995
Wow, so this deviates from the other <amp> ads, in that it doesn't work on desktop? That caught me off-guard too (was debugging breakages and ended up here)

I still don't see this documented on https://www.ampproject.org/docs/reference/components/amp-ad or on https://github.com/ampproject/amphtml/blob/master/ads/google/adsense.md . Though given this seems to be a Google-Adsense-only restriction (

[2018-03-10 06:13] jamescridland commented on #11995
Hi, Mike - yes, they only work on mobile, unlike every single other AdSense implementation within AMP.

The [amp-auto-ads implementation guide](https://support.google.com/adsense/answer/7334859) now says _"Amp Auto ads will currently only show for users using a mobile device. Please test your site in a mobile device to see AMP auto ads."_ (though you can also test it in Chrome's mobile emulator).

[2018-03-10 06:15] jamescridland commented on #11995
I'd add for @tlong2 's benefit: if standard AdSense auto-ads are now released to all and are seemingly the preferred style for AdSense going forward (and, in my experience, pay more), it seems nonsensical to restrict amp-auto-ads to mobile devices. I would welcome the opportunity to be able to feed this back higher-up the AdSense chain, if only I knew how; site feedback from AdSense's website fall

[2018-03-10 07:28] djavet commented on #13893
Brillant !
Thank you.

Dom

Le sam. 10 mars 2018 à 00:23, Ali Ghassemi <notifications@github.com> a
écrit :

[2018-03-10 16:48] asfarmed opened #13916 "How to share a YouTube video with a specific start and end time on AMP ?"
Hi
How to share a YouTube video with a specific start and end time on AMP ?

[2018-03-10 20:34] ApeNox commented on #11408
Any way to disable this ? its filling our logs with 404s.

[2018-03-11 07:57] Listinghard opened #13917 "amp html"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-03-11 11:40] QES commented on #13470
@jshmllr don't disagree but this is what people asked also if you look at Google's AMP Cache it does a left and right swipe between stories.

[2018-03-12 02:22] Jade05 opened #13919 "Range-date-picker: "cannot read property 0 of 0; returning null. " warning"
Description:

As shown below, there are several warnings when choosing the first date on range-date-picker.
![555](https://user-images.githubusercontent.com/5029635/37262409-f70663fc-25dd-11e8-98a4-3bebab548f6e.png)

In fact, they are caused by the below code snippet. We cann't get the date value when we choose the first date on range-date-picker(bacause date picker doesn't return this value).
![6

[2018-03-12 06:18] cathyxz commented on #13916
I think you can just pass in `start` and `end` params via `data-param-start` and `data-param-end`.
E.g.

[code]

Sample codepen here: https://codepen.io/cathyxz/pen/XEbBgK

[2018-03-12 06:31] juanlizarazo commented on #12908
@aghassemi @alanorozco  I need some guidance with resizing. How should I implement that?

These are some questions I have (none of the following is part of the PR yet):

**When a resize should occur?** (e.g. Is this just with the responsive layout?)

**If I add a `listenFor` event, where does the message originates from?**

  I created an `embedly.js` file and I registered it in `integration.js` a

[2018-03-12 08:34] renebaudisch commented on #12345
I now have an other example where this still happens:
https://amp.welt.de/amp/article/171310795

[2018-03-12 14:52] sensaetions opened #13922 "AMP-sidebar show up on larger screens"
When using AMP-sidebar, the layout required is `nodisplay`. This works great and as expected on smaller screens. But how can I make it so that the sidebar is shown on larger breakpoints? I understand AMP pages are meant for mobile/small screens. But if we're going to use this for a fully responsive site, is it possible and how would we adapt the AMP-sidebar code so that it displays the sidebar at

[2018-03-12 14:56] rsimha opened #13923 "Upgrade to `fetch-mock` version 6"
The `fetch-mock` dev dependency used by the AMP runtime now has version 6 available for use. However, this needs some work on the runtime side due to API changes.

See `greenkeeper` PR #13692 for Travis failures: https://travis-ci.org/ampproject/amphtml/jobs/346919863

[2018-03-12 14:56] rsimha commented on #13923
/to @choumx @jridgewell

[2018-03-12 17:15] ayumihamsaki opened #13928 "Need to Whitelist in Validator"
Hi,

Should this meta-tag should be whitelisted in the Validator Tool:

[code]

If we can use the rel-dns-prefetch link tags now, we should be add to use the above as well.

I attach a screenshot to show more of what I mean:

![untitled](https://user-images.githubusercontent.com/17784082/37298930-bb529286-2619-11e8-875b-72607bec5d3d.png)

[2018-03-12 17:50] Manugal commented on #13044
Hi @zhouyx
the PR #13896 is ready to be reviewed.

[2018-03-12 17:53] honeybadgerdontcare commented on #13928
@aghassemi thoughts?

[2018-03-12 18:12] #12487 closed

[2018-03-12 18:12] Tonsil opened #13930 "Intent to implement: Add Lotame as a vendor to RTC config"
Add Lotame Solutions, Inc. as a vendor in the RTC config. Lotame had been using the remote.html approach to retrieve targeting data to apply to ad network calls. This approach has been deprecated, so we would like to include Lotame as a vendor to be referenced by the rtc-config attribute in an amp-ad tag.

[2018-03-12 18:59] #13087 closed

[2018-03-12 19:00] choumx commented on #13718
Related: #12212 proposes a general approach with CSS.

[2018-03-12 19:51] kushal commented on #13526
Thanks! We'd also be interested in `scrollTop` and `scrollHeight` which I think will also require review?

[2018-03-12 20:37] TimoRuetten commented on #13734
We are facing the same problem so we had to remove adsense for now.

[2018-03-12 20:45] choumx commented on #13891
[Handlebars-like syntax](https://handlebarsjs.com/reference.html) e.g. `@index` is out of scope for `amp-mustache`. This doesn't preclude implementing an `amp-handlebars` extension in the future.

The Mustache-idiomatic way to do this is add an `index` property to the objects in your array of items.

[2018-03-12 20:46] jpettitt commented on #13922
You could use `amp-bind` to control your sidebar by adding/removing classes which would then let you use a media query to force it open on wider screens.  See the "slightly more complex example" on this page https://www.ampproject.org/docs/reference/components/amp-bind

[2018-03-12 20:50] jridgewell commented on #12847
Closing this as a dupe of #12849. Thanks for reporting both, though!

[2018-03-12 20:50] #12847 closed

[2018-03-12 20:51] jridgewell commented on #12849
Woo, this is a fun browser bug. I'll be reporting to both Chrome and Safari (it's a twofer!), and implementing a mitigation in our `CustomElement` class. More details to come!

[2018-03-12 20:53] jpettitt opened #13938 "Bad link in amp-img.md making gulp check-links fail"
`https://www.ampproject.org/docs/guides/responsive/control_layout#what-if-the-layout-attribute-isn’t-specified?`

should be

`https://www.ampproject.org/docs/design/responsive/control_layout#what-if-the-layout-attribute-isn%E2%80%99t-specified?`

[2018-03-12 21:00] choumx commented on #12849
Same root issue as https://github.com/ampproject/amphtml/issues/9291#issuecomment-302545836.

[2018-03-12 21:37] westonruter commented on #9423
Using `amp-list` would not be feasible for a lot of content which we may want to infinite-scroll. Since `amp-list` renders via mustache templates, and since mustache templates restrict the markup to just basic formatting, it would prevent infinite scroll from including images, videos, and any other arbitrary rich content that would be required. Extending an `amp-live-list` to support infinite scro

[2018-03-12 22:32] jridgewell commented on #12849
Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=821195

[2018-03-12 22:44] jridgewell commented on #12849
Safari Bug: https://bugs.webkit.org/show_bug.cgi?id=183583

[2018-03-12 23:56] #13917 closed

[2018-03-13 00:07] kushal commented on #13526
Also, I tried using `useAnalyticsInSandbox` with the amp-access element, but it seems to fail on signals() being not defined, since it's just a script tag. Just to be clear, I want analytics on _the entire document_, I just want to enable them wherever my access extension is used (and my extension has no real corresponding element). @zhouyx

[2018-03-13 00:39] aghassemi commented on #9423
@westonruter `templates` in `amp-list` support pretty much everything supported at document level including `amp-image`, `amp-iframe`, `amp-video`, etc.. Is there a particular component you could not use in `amp-list`? If so, please file an issue for us and we can look into fixing it.

[2018-03-13 00:46] westonruter commented on #9423
@aghassemi I'm referring to:

https://www.ampproject.org/docs/reference/components/amp-mustache#restrictions

So specifically content output via triple-mustache. For example, a use case is:

[code]

Where `content.rendered` includes arbitrary amphtml.

[2018-03-13 01:00] aghassemi commented on #9423
@westonruter Oh I see, yeah that's by design since without having static template, we can't validate the end result would be valid AMP. `amp-live-list` won't have that issue since updates are done in the AMP page itself.

@ericlindley-g Looks like we may need a separate infinite scroll solution for `amp-live-list` (FR #8314) as not all cases can be handled with `amp-list`.

@westonruter What are s

[2018-03-13 01:40] aghassemi commented on #13718
@choumx This came up as an additional feature we can add in case someone does not want both `placeholder` and `loading` feature this feature provides.

CSS-only approach can mostly work to mimic the initial loading stage (e.g. placeholder + our default loading icon) which this feature provides with two caveats:
1- CSS would need to account for  showing and hiding of `placeholder` and content.
2- I

[2018-03-13 02:00] westonruter commented on #9423
I'm not sure what else there is to elaborate on. The use case is to list the most recent posts or comments from a REST API endpoint, where the data returned can include amphtml markup which needs to be rendered in an AMP document.

[2018-03-13 02:07] aghassemi commented on #9423
Thanks @westonruter, just wanted to make sure your use-case is different than infinite scrolling for whole AMP documents which is getting its own component. Infinite scroll for rich comments is definitely a compelling use-case.

[2018-03-13 02:09] aghassemi commented on #8314
(Additional comments regarding this FR on can be found https://github.com/ampproject/amphtml/issues/9423#issuecomment-372471242)

[2018-03-13 07:04] Jade05 opened #13947 "How to make date-picker fit the small screen"
As below, date-picker can't fit the small screen well, such as iphone 5. What should i do to make it performance well? Thank you.

![666666](https://user-images.githubusercontent.com/5029635/37326993-81da2f30-26cf-11e8-9668-82bda37dcab4.png)

[2018-03-13 08:31] candyYan opened #13948 "Why is it wrong that the attribute 'expand-single-section' may not appear in tag 'amp-accordion'?"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-03-13 10:21] TimoRuetten opened #13951 "amp4ads is breaking our website"
We are using google adsense and sometimes (for me most of the time) AMP ads are loaded.

When an AMP ad is loaded I get this log in my console:

`
Powered by AMP ⚡ HTML – Version 1519774160068#
`

Everytime I  get this log I know that the website is now broken.

**Why**
This file will be loaded in head by google (we dont have added this script):

https://cdn.ampproject.org/rtv/011519774160068/amp4

[2018-03-13 11:13] RonanDrouglazet commented on #11834
Hi @bradfrizzell ! The Safeframe API seems to work pretty well in the AMP environnement (Good job !) but I still have one annoying issue... currently when I call any Safeframe method (collapse / expand for example), I never had any response on the status handler given during the "register" phase. I only have "geom-udpate" event coming in this handler. Is this normal ? Or did I miss something ? Tha

[2018-03-13 12:23] #13506 closed

[2018-03-13 13:55] Tonsil commented on #13930
The implementation has been approved and merged:
https://github.com/ampproject/amphtml/pull/13933

[2018-03-13 13:55] #13930 closed

[2018-03-13 14:50] jorenham opened #13953 "pushState change URL"
The [History API](https://developer.mozilla.org/en-US/docs/Web/API/History_API) supports changing the URL along with the history using `pushState`. I would like to use this feature in AMP as well.
It might be best to limit it to setting hashes and/or query parameters only.

[2018-03-13 15:10] gmajoulet commented on #13740
Thanks!

Closed by #13942

[2018-03-13 15:10] #13740 closed

[2018-03-13 15:12] rsimha opened #13954 "`gulp dist` is timing out on Travis"
When `gulp dist` was last instrumented, it used to take ~13 mins to run on Travis during `master` builds. Since then, the running time went up to ~18 minutes, and as of today, it takes ~22 minutes. This is causing it to frequently time out on Travis, resulting in redness on `master`.

See https://travis-ci.org/ampproject/amphtml/jobs/352664009#L632 for a recent failure
See https://travis-ci.org/am

[2018-03-13 15:13] rsimha commented on #13954
/cc @cramforce @choumx @aghassemi @lannka @kristoferbaxter for visibility, in case someone know why this is happening.

[2018-03-13 15:16] rsimha commented on #10277
@erwinmombay Any updates on the work you were doing to speed up `gulp dist`? It's now taking ~22 minutes, and is timing out on Travis. See #13954

[2018-03-13 15:34] cvializ commented on #13897
This bug occurs because of differences between React and Preact, and there is a race in the react-dates library that causes height adjustment to happen one click late when switching between months. More investigation is needed to resolve. The bug does not occur if React is used instead.

[2018-03-13 15:36] alanorozco opened #13955 "Cleanup `video-service` experiment"
`video-service` flags the use of a new implementation of the current [`VideoManager`](https://github.com/ampproject/amphtml/blob/a1b7ab690312bf3432e84abc39af4993ae44758b/src/service/video-manager-impl.js).

Will be ramped up to 100% and then removed.

[2018-03-13 16:17] rsimha commented on #13954
Here's a trace of `gulp dist` on my 6 core workstation. This should give an idea of the time for which each task remains queued. I see several that are queued for almost a minute, which should explain why `gulp dist` takes so long on a single core Travis VM.

[code]

[2018-03-13 16:17] kamijha commented on #970
[code]

Not sure why this is occurring, i just followed this doc: https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-quick.md#one-time-setup

[2018-03-13 16:51] Kist221 opened #13958 "No ALT tags on amp-YouTube cover images hurting Google SEO/Accessibility Score"
So I have an AMP page with some Youtube embeds using the documented amp-youtube tag.

My AMP code:

<amp-youtube data-videoid="XXPNAEoX70w" layout="responsive" width="480" height="270"></amp-youtube>
Rendered child code:

<div class="ytp-cued-thumbnail-overlay-image" style="background-image: url(&quot;https://i.ytimg.com/vi_webp/XXPNAEoX70w/maxresdefault.webp&quot;);"></div>
A background image is

[2018-03-13 17:00] lannka commented on #13898
@keithwrightbos should we only do 12 viewports when `data-loading-strategy` is not specified?

[2018-03-13 17:14] zhouyx commented on #13879
#13005 was fixed. @tyler-g Could you confirm that the issue still exist? I tested with the example page provided http://usdev-amp.businessinsider.com/why-barbara-corcorans-wrong-about-rich-kids-2014-12?abc=gah, and was able to get the GTM config correctly.

Please let us know if the issue still exist. And if there's an example page to reproduce the issue. Thanks!

[2018-03-13 17:19] mbacete opened #13959 "Intent To Implement: amp-mediateca-player"
We would like to build a custom component that would allow our press publishers of Prisa (www.prisa.com) to embed our own Mediateca Player in our AMP Pages.

Prisa has their own video CDN, called Mediateca, to manage videos and audios and we will use our embed player internally to playback media.

![mediateca_cdn](https://user-images.githubusercontent.com/26262744/37358287-fa1cb1f0-26ea-11e8-99db-

[2018-03-13 17:27] lannka commented on #13734
All AMP vars in amp4ads-host-v0.js are leaked to window object. We need a function wrapper to namespace it.

How was it done for v0.js? I thought closure compiler would automatically do it? @erwinmombay

[2018-03-13 17:47] lannka commented on #13734
Found the reason. Here is the fix: #13960

/cc @keithwrightbos @bradfrizzell

[2018-03-13 17:57] lannka commented on #13288
Closing it for now.

[2018-03-13 17:57] #13288 closed

[2018-03-13 17:59] lannka commented on #13541
@keithwrightbos @tlong2 a kind ping

[2018-03-13 18:05] kristoferbaxter commented on #13954
@rsimha Is there any historical data to compare against?

[2018-03-13 18:06] choumx commented on #12372
@AndrewKGuan Thanks for explaining your use case. Sounds like you want #12002.

[2018-03-13 18:08] rsimha commented on #13954
@kristoferbaxter See the linked issue #10277 at the top. There are several linked Travis builds. You can also look at the past few days worth of Travis push builds on `master` at https://travis-ci.org/ampproject/amphtml/builds (however far back it will let you go)

[2018-03-13 18:09] kristoferbaxter commented on #13954
Thanks! I'll take a look.

[2018-03-13 18:35] mdiblasio opened #13964 "amp-date-picker: Toggle single date and range dates"
## What's the issue?

A common use-case for search widgets on travel sites is to toggle between "round trip" and "one way" when entering search parameters. [See this example](https://m.cheapoair.com/flights/amp?preview=1):

![image](https://user-images.githubusercontent.com/17748781/37362511-c279a5ec-26cb-11e8-9a13-b5567bec5b06.png)

Right now it appears there is no way to switch between the range

[2018-03-13 18:40] alexandr-kazakov opened #13965 "amp-iframe iOS Bug from Google AMP Cache"
## What's the issue?

The script in the iframe works badly when you go to the site through google search(iOS device).

## How do we reproduce the issue?

Page: it.html5maps.com
Search through google-search is possible on request: «mappa interattiva html5maps.com»

Video work(for testing is used browserstack - Iphone 8 Plus safari):

**1).** When we go directly to the site it.html5maps.com: [youtub

[2018-03-13 18:41] rsimha opened #13966 "Include validator code in lint and presubmit checks"
The code in validator is currently exempted from `gulp lint` and `gulp presubmit`. It's probably worth removing these exemptions, so that the validator code can benefit from all the new checks we've recently put in place (to the extent it makes sense to do so).

See https://github.com/ampproject/amphtml/blob/master/build-system/config.js#L125-L158

[2018-03-13 18:41] rsimha commented on #13966
/to @Gregable @honeybadgerdontcare @powdercloud

[2018-03-13 18:48] jridgewell commented on #13288
Whoops, missed this.

Chrome canary shipped the bugfix that will lower memory usage. Given that Safari probably doesn't follow, and it'll take 6+ weeks for canary to become stable (and everyone to update), I don't think this should be done now.

[2018-03-13 19:34] #12169 closed

[2018-03-13 19:41] josh313 commented on #12372
+1 to this feature. Was a final agreement about how to relax this requirement ever reached? I'm in favor of options (1) or (2). I think a placeholder element seems unnecessary because the main use case I see for this is when the amp-list is hidden (so the placeholder wouldn't show up anyway).

[2018-03-13 19:43] kristoferbaxter commented on #13954
I think @choumx is correct. Some recent extensions (amp-mathml.js, amp-fx-collection.js) are taking nearly a minute a piece.

For temporary relief, can we increase the timeout?

@erwinmombay perhaps we can do a deep dive here with a few folks to debug?

[2018-03-13 20:31] aghassemi commented on #13964
/to @cvializ
/cc @lswang1618

[2018-03-13 20:35] cathyxz commented on #11215
This seems like bad UX, so not implemented. But it is easy to go either way.

[2018-03-13 20:42] aghassemi commented on #13959
Thanks @mbacete. Given this is not a custom player and really just a component that decides between `amp-video` and `amp-ima-video` based on some data, I suggest having your publishers explore using `amp-list` to dynamically load the appropriate video player based on server data instead of creating a new component.

For instance something such as the following (pseudo-code) may work for the use-ca

[2018-03-13 20:47] aghassemi commented on #13958
Hi @Kist221. Thanks for raising the bug. Please see https://github.com/ampproject/amphtml/issues/5508 which is same as your issue.

We have made https://github.com/ampproject/amphtml/issues/5508 into a "good first issue" with plenty of instructions on how to contribute a fix to AMP, if this is something that you are interested in contributing, we would appreciate it!

[2018-03-13 20:47] aghassemi commented on #13958
Closing as dup of https://github.com/ampproject/amphtml/issues/5508 lets have follow up conversations there.

[2018-03-13 20:47] #13958 closed

[2018-03-13 20:51] choumx commented on #12372
(2) is not possible with current validator's features. [`mandatory_oneof`](https://github.com/ampproject/amphtml/blob/1002eaf6735cfc37588f16361c6e6ca5e1223c57/validator/validator-main.protoascii#L4887) is close but is exclusive, we need something like `mandatory_atleastoneof`.

I think (1) is fine. We can add a runtime user error if neither `src` or `[src]` are present.

[2018-03-13 21:58] aghassemi commented on #13948
@candyYan Production has not been updated with the change, should be soon after which this will be usable.

@honeybadgerdontcare The change is from 25 days ago (https://github.com/ampproject/amphtml/pull/13364) is validator pushes running later than normal?

[2018-03-13 22:09] #13734 closed

[2018-03-13 22:11] lannka commented on #13734
FYI, this will be out on canary for testing today, and roll out to prod next week.

[2018-03-13 22:12] rsimha commented on #13700
It turns out this issue is no longer restricted to just push builds (with >100 snapshots). It has started rearing its head during PR builds (12 snapshots total). See https://travis-ci.org/ampproject/amphtml/jobs/353015572#L688 for example.

@timhaines @djones Any idea what I could try next to debug / work around this issue? Right now, the Percy workflow for AMP is fairly problematic due to this is

[2018-03-13 22:18] rsimha commented on #13954
Deep dive done earlier today. @erwinmombay is working on the closure compiler upgrade in #12558, which should set us on the path to a single invocation of the closure compiler. Any other work than can be done on the side will be spun off into separate issues.

[2018-03-13 23:07] aghassemi opened #13973 "Add a LOW-trust `setStyle()` action that only allows non-disruptive styles changes"
Currently `amp-animation` is the only way to do this from LOW trust events but it is sort of hacky and undiscoverable to create an animation and play it just to change visibility of an item for instance. `amp-bind` is, by design, not triggerable via LOW trust event.

I believe the following should be allowed to be changes via low-trust actions:
- `visibility`
- `display` of `position: fixed/sticky

[2018-03-13 23:19] jridgewell commented on #13973
`transform` cause style recalc, so it's not very low priority.

`display` and `opacity` are used to see if a resource is being used, so they also incur runtime costs.

[2018-03-13 23:30] aghassemi commented on #13973
@jridgewell are changes to `opacity` and `display` auto-detected with layers or we need to signal? ( I guess same with `transform` as it can move something out of view)

[2018-03-13 23:31] jridgewell commented on #13973
No mutations are auto-detected, everything has to send a signal to layers.

[2018-03-13 23:33] aghassemi commented on #13973
would signalling layers every rAF be too much? we have low trust events that can trigger every raf (`position-observer`).

[2018-03-13 23:38] jridgewell commented on #13973
Depending on the layering, absolutely. Say you were to mutate the `transform` of an element in the root layer. Now everything must be invalidated an remeasured.

[2018-03-13 23:43] aghassemi commented on #13973
I see. Looks like we may need a more granular control over what events can run what actions than just low/high trust.

[2018-03-13 23:54] cathyxz opened #13974 "<amp-lightbox-gallery> no ads in thumbnail grid"
Remove ads from the thumbnail grid. Correctly calculate carousel slides by remembering that ads do not count in thumbnail navigation as well as exit.

[2018-03-14 00:27] shishirm opened #13976 "'expand-single-section' inside amp-validator incorrectly throws a validator error"
## What's the issue?

'expand-single-section' inside amp-validator incorrectly throws a validator error. This is likely because the code requires that the 'expand-single-section' attribute is present on the internal section but the actual requirement is that this attribute is present on the top level container i.e. <amp-accordion>. This is invalidating the pages and hence will not allow them to be

[2018-03-14 00:29] jeffjose commented on #13948
Looks like changes are in production?
![selection_076](https://user-images.githubusercontent.com/173044/37376816-747292d8-26e3-11e8-943f-a621c7d84623.jpg)

I noticed that the validator rules are setup incorrectly. The rules say expand-single-section should be inside <section> when it should have been inside <amp-accordion>
![selection_077](https://user-images.githubusercontent.com/173044/37376856-

[2018-03-14 00:30] timhaines commented on #13700
@rsimha Thanks for the update.  I emailed through a short message earlier.  Do you know off hand if this error is happening on the first test, or if it's a subsequent test run?  Would we be able to setup a branch that reduces the CI run to one test/snapshot, and loop that a few times to see if the error occurs in that scenario?

[2018-03-14 00:32] nainar commented on #13948
Yup, you are right. That is on me. Assigning this to myself, should have a PR up soon. Sorry for the inconvenience!

[2018-03-14 00:35] cramforce opened #13977 "Allow as attribute in validation for link-rel-preload"
We allow `<link rel=preload>` but we don't allow the `as` attribute which is now mandatory (spec was changed). Please add support.

[2018-03-14 00:36] nainar commented on #13976
Not exactly a duplicate but will be fixed by the PR I intend to put out for #13948. Closing as such.

Sorry for the inconvenience!

[2018-03-14 00:36] #13976 closed

[2018-03-14 00:47] aghassemi commented on #13928
@honeybadgerdontcare after some research and chat with @cramforce, I believe we can not allow this (privacy preserving nature of prerendering) until we make sure cache actually removes it (same way it does with `<link rel="preconnect">` by changing it to `<link disabled-rel="preconnect">`). After that change is in, it should be alright to allow it.

(Currently I can not test to see what cache does

[2018-03-14 00:53] honeybadgerdontcare opened #13980 "Caches strip http-equiv="x-dns-prefetch-control""
Per #13928 there is interest in allowing `<meta http-equiv="x-dns-prefetch-control" content="on">` and `<meta http-equiv="x-dns-prefetch-control" content="off">`. To preserve privacy AMP caches will need to strip this `meta` tag.

Currently this is not stripped per the [modifications guidelines.](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md#remove-non-whitelist

[2018-03-14 00:54] honeybadgerdontcare commented on #13928
Currently the cache would [allow this link](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md#remove-non-whitelisted-meta-tags) and not remove it. I have created issue #13980 to track changing the cache behavior.

[2018-03-14 00:58] honeybadgerdontcare commented on #13948
Thanks for debugging @jeffjose

[2018-03-14 00:59] #13948 closed

[2018-03-14 01:41] choumx opened #13981 "Builds fail with "TypeError: Cannot read property 'value' of undefined""
Only affects "integration_tests" shard which fails during run of integration tests on SL:

    at /home/travis/build/ampproject/amphtml/node_modules/wd/lib/webdriver.js:134:85
    at Request._callback (/home/travis/build/ampproject/amphtml/node_modules/wd/lib/http-utils.js:88:7)
    at Request.self.callback (/home/travis/build/ampproject/amphtml/node_modules/wd/node_modules/request/request.js:186:

[2018-03-14 01:44] choumx commented on #13981
Rollback (#13975) doesn't fix it: https://travis-ci.org/ampproject/amphtml/jobs/353123579

Top line on stack trace is this:
[code]
https://github.com/admc/wd/blob/724dd5566e8d27de7a54af7d5fec5992ad486537/lib/webdriver.js#L134

Looks like a Selenium misconfiguration. Current guess is that launching one of the SL browsers is failing.

[2018-03-14 01:50] choumx commented on #13981
Same failure also happens when running tests locally with Sauce Connect.

[2018-03-14 02:05] choumx commented on #13981
Isolated it to the `SL_iOS_9_1` SL configuration. Now to figure out why it's fubared.

[2018-03-14 02:26] #13981 closed

[2018-03-14 03:07] choumx commented on #13981
For posterity: https://wiki.saucelabs.com/display/DOCS/2018/02/09/End-of-Life+for+iOS+versions+9.2+and+below+on+Simulators

Other notes:
- `wd` fixed the "Cannot read property 'value' of undefined" bug about one week ago in version 1.6.1. Not sure why it doesn't receive the environment config data for output though, which would've made isolating this bug a lot easier.
- Our SL configurations are q

[2018-03-14 06:35] leonalicious commented on #13332
Hi we have tried
[code]
and it is still not working. Here is a simple demo coding [here](https://github.com/aemsite/ampdemo/blob/master/amp-ios-input.html)

[2018-03-14 09:20] eduardcotmrf commented on #13734
We noticed that our AMP canonical websites were working fine but all of our non-AMP canonical websties were afected by this bug and lost a lot of pageviews.

Every time a a4a ad loaded basically broke our ga metrics.

Thanks for fixing the problem as it had a huge impact on metrics for all publisher loading a4a ads.

[2018-03-14 13:15] bradfrizzell commented on #11834
hey @RonanDrouglazet
Just want to let you know that I've seen your messaging and I'll have an answer later today hopefully :)

[2018-03-14 13:23] ayumihamsaki commented on #13928
Sorry can I ask an extra thing, related to this issue. I was reading the comments and following the links and saw that all resource hints are removed - see link below:

[Remove <link> resource hints](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md#remove-link-resource-hints)

I thought support for pre-connect has been added to amp-html now see old issue: [Issue: 1

[2018-03-14 13:34] bradfrizzell commented on #11834
Hey @RonanDrouglazet

The problem is that you are calling collapse on an unexpanded safeframe.

A common misconception about Safeframe is that $sf.ext.collapse means to literally collapse, i.e. shrink the safeframe to size 0x0. That would be too obvious and useful! Instead, sf.ext.collapse() actually means that if the safeframe is currently in an expanded state, i.e. sf.ext.expand() has already be

[2018-03-14 13:46] RonanDrouglazet commented on #11834
Thanks for your answer @bradfrizzell ! But that's not my point :(

Currently I know this command (collapse) will fail here, but my point is, I never receive any response from this command (success / fail), or for the expand command. So we never know if our command is successful or not . We've been using SafeFrame for a long time and, usually, when we call these methods, because it's asynchronous,

[2018-03-14 13:50] bradfrizzell commented on #11834
Hey Ronan,
I'll look into it some more, but that's actually not controlled by the AMP safeframe implementation. The message never even gets sent, it dies within the safeframe script running within the safeframe itself, which is the same on AMP pages as anywhere else. Do you typically use GPT safeframe or a different sf implementation?

[2018-03-14 14:07] RonanDrouglazet commented on #11834
GPT on some publishers, custom on others

it's really the first time I never receive any "callback" from collapse or expand
cf the section 5.1 of the official IAB SafeFrame doc (p.54/55)

"SafeFrame methods that are used to execute interactions are asynchronous so that any success or
failure can only be determined using callbacks from the API."

and the status event can be expanded / collapsed / f

[2018-03-14 14:15] bradfrizzell commented on #11834
Hm, this is strange. Perhaps errors are not being properly routed. I'm going to continue going through this today and will have a solution for you today or tomorrow.

- Brad

[2018-03-14 15:40] mbacete commented on #13959
Hi @aghassemi, we've been investigating about `<amp-list>`, and although it is very interesating the way list works with json, it is not useful for us right now.

On the other hand, Prisa is thinking about doing a really custom player, with our skins and functionalities like `<amp-brid-player>`, `<amp-3q-player>`.. are doing.

Is there any especification we should have in mind to do that. Could we

[2018-03-14 16:26] keithwrightbos commented on #13898
render on idle does not effect when ad requests are made but rather when their creatives are rendered.  Fast Fetch separates the two allowing for the ad response to be fetched immediately while enforcing AMPs constraints about when content is allowed to execute (the default being within 3 viewports and render on idle extends this to 12 viewports for ad creatives when the AMP scheduler is idle).

[2018-03-14 16:30] aghassemi commented on #13959
@mbacete I see, so it is a custom player, sorry based on the description, it looked like `youtube` or `ima` players are being used as actual players and component was just deciding between which one to use.

Prisa could currently integrate your custom player using `amp-iframe` however creating a custom element since you have multiple publishers would be great as well.

Overall the API you have loo

[2018-03-14 16:59] nikoviedo commented on #5219
Hi! Counter comments?

[2018-03-14 17:28] cathyxz commented on #13332
There was a bug with the original fix for this, fixed by @cvializ in https://github.com/ampproject/amphtml/pull/13756.

[2018-03-14 17:28] aghassemi commented on #13332
@cathyxz Could you investigate? iOS may have strict requirements on when `.focus()` is allowed and might not be happy if `.focus()` is called without a direct user action. It also won't be happy if called on hidden elements which makes thing more complicated. We may need to work some crazy workarounds for this.

@leonalicious Do you know of any non-AMP implementations where a similar functionality

[2018-03-14 17:41] ayumihamsaki opened #13989 "Question: Are Resource Hints link rel-tags allowed or not now?"
I am a bit confused here and just need to double check something, are Resource Hints link rel-tags allowed now in amp-html or not? I have read in past issues that some are allowed now and some pass in Validator also. I would like to get confirmation, before I update my amp-html pages.

The way I see it as follows:

1. rel=subresource = Dead don't use
2. rel=prefetch = Can use now
3. rel=dns-prefet

[2018-03-14 17:45] honeybadgerdontcare commented on #13989
We're going to allow `as` attribute with `rel=preload` per #13977 and we're also going to allow `http-equiv=x-dns-prefetch-control` per #13928.

[2018-03-14 17:48] ayumihamsaki commented on #13989
@honeybadgerdontcare Thanks for quick reply, I guess that just leaves the documentation needing to be updated.

[2018-03-14 18:19] alanorozco opened #13992 "Proposal: Use `mustache` as template language in amp-story"
Our current templating [approach is problematic](https://github.com/ampproject/amphtml/issues/13906).

Benefits:

- Easily statically analyzable.
- Familiar (akin to HTML).
- We can easily plug-in a basic build step (we would *not* do runtime template interpretation).

/cc @newmuis @kristoferbaxter @choumx @jridgewell

[2018-03-14 18:19] ayumihamsaki opened #13993 "Add Full Support for Dublin Core meta-tags"
Hi,

Dublin Core is also part of the [MicroFormats Spec](http://microformats.org/wiki/existing-rel-values#Dublin_Core) and the AMP Project claims to support all the tags etc. with MicroFormats2. I have done a check with the issues and Dublin Core has been added to the AMP project white list but when I did a quick test it fails as you need to add `scheme` attribute, below is the test in Validator:

[2018-03-14 18:30] choumx commented on #13327
Still seeing this in RTV 1519774160068.

at Error (https://raw.githubusercontent.com/ampproject/amphtml/1519774160068/src/log.js:504)
at apply (https://raw.githubusercontent.com/ampproject/amphtml/1519774160068/src/log.js:219)
at apply (https://raw.githubusercontent.com/ampproject/amphtml/1519774160068/src/log.js:233)
at (https://raw.githubusercontent.com/ampproject/amphtml/1519774160068/src/servi

[2018-03-14 18:43] jridgewell commented on #13898
Reopening.

This addresses the network logs, but doesn't change that the creative can be rendered 12 viewports away when `data-loading-strategy` is specified. Likely the latter should take precedence, right?

[2018-03-14 18:57] zhouyx commented on #13327
#13842 was another attempt to fix the issue. But doesn't seem to help.

@jridgewell Could you help me with the bug here.

I make sure to toggle sticky ad display [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad/1.0/amp-sticky-ad.js#L77)
And then only add it to fixed layer after that happens https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad/

[2018-03-14 19:50] choumx commented on #13089
- Quick followup to `amp-story` metadata: #11989

[2018-03-14 19:50] #13938 closed

[2018-03-14 20:06] bradfrizzell commented on #11834
Hey Ronan, are you available to chat on the AMP slack? I am not able to replicate this issue and would find it helpful to talk with you with a faster feedback loop. When I tried with $sf.ext.expand, I do see the callback trigger. Also, on non-AMP pages I see the same behavior from GPT safeframe so I'm curious where you're seeing something different.

[2018-03-14 20:28] #13101 closed

[2018-03-14 20:39] SergeyBl opened #13998 "Imonomy network refactoring and adjustments"
Fixed problems after release of first version:

problem with access to top window context for getting page url.
other small adjustments in imonomy.js file.
disable imonomy external prefetch request.
imonomy.js refactoring

#13986

P.S. Haven't access to set up Issue category.
It should have  **## Category:Ads**

[2018-03-14 21:00] aghassemi commented on #13089
## Notes

### AMP Content Rendering by @alanorozco
#### Problem:
- manually creating DOM in Stories is complex and non performant

#### Goals:
- reduce overhead in Stories
- define how templating can be used internally

#### Non-Goals
- don't need a whole new component workflow like react+flux
- not for user-authored templates.

@jridgewell `handlebar` is not statically analyzable, `mustache` is.

[2018-03-14 21:43] josh313 commented on #12372
Sounds good. I can make this change this week if you'd like. Or do we need to discuss/get approval from anyone else first?

[2018-03-14 21:52] choumx commented on #12372
Actually we could do this in the validator by duplicating the tag and make the new one have a mandatory `[src]` and optional `src`.

Validator tests can be tricky though so I think it'll be faster if I do it quickly now. Thanks for volunteering!

[2018-03-14 22:58] choumx opened #14006 "mandatory_atleastoneof attribute spec"
Nice-to-have: validate that an element has one or more attributes in a given list. Similar to `mandatory_oneof: "['foo', 'bar']"` but would allow both attributes `foo` and `bar` to exist.

Name suggestions: `mandatory_atleastoneof`, `mandatory_oneoformore`

Current workaround is to duplicate the tag spec. Context: https://github.com/ampproject/amphtml/issues/12372#issuecomment-372814132

[2018-03-14 23:03] zhouyx opened #14007 "Ads not working on wapo with third party cookies disabled"
When having third party cookies disabled. All ads on cached wapo page are blank slots.

To reproduce:
Disable third party cookies with your browser
Search for wapo news, and open in search carousel.
You'll see all ad slots empty.

Related Error:
[code]

cc @jasti

[2018-03-14 23:19] jasti commented on #14007
Reached out to WaPo folks over email pointing to this. Thanks Yuxuan.

[2018-03-14 23:52] lannka opened #14010 "inabox visible trigger broken for nested friendly iframe"
in case that frame windows are nested in the following way:

host window -> friendly child iframe -> friendly ad iframe

PR #12541 changed host script to observe the position of `friendly ad iframe` instead of `friendly child iframe`.

It caused a bug in [this code](https://github.com/ampproject/amphtml/blob/master/ads/inabox/position-observer.js#L91) when we trying to measure the position of the

[2018-03-15 00:04] lannka commented on #13819
Talked to @dvoytenko . It's a valid use case that the publisher is using amp-access to hide/show ads depending on user's subscription status.

It's challenging for AMP to prohibit this. Because the major use case of amp-access is to hide critical content of the page from user before making an XHR. The content is so critical so that we should show it event it will cause a UI reflow.

The best we ca

[2018-03-15 01:27] meistudioli opened #14011 "amp-ad[type=["adsense"] doesn't work"
To whom it may concern:

Hi, I used amp-ad[type=["adsense"] to display an AD section. It used to display an AD section as usual but doesn't  work for these days.

Here comes my code

[code]

You can click the following link and scroll to check it out.
[Demo page](https://blog.lalacube.com/mei/yahoo_mall_item_amp.php?merchandiseId=p0164145230006)

Paul

[2018-03-15 01:34] #13974 closed

[2018-03-15 01:45] InDesignWeTrust opened #14012 "Hiding elements with data-hide for amp-instagram | feature request"
The only controllable data attribute seems to be Captions. Can we see more control such as hiding the .Header class?

The amp-instagram embed is broken down really simply. And of course there is no way to select anything.

Will we see this soon? All I want is the ability to hide '.Header'.

[2018-03-15 02:03] aghassemi commented on #14012
@InDesignWeTrust Thanks for telling us your feature request. Sounds good to me and should be easy to add. Is this something you might be interested in contributing to AMP? We have streamlined contributions setup and guidelines to get started quickly. Here are some step by step details if you like to tackle this:

### Step by step
- [ ] Claim this issue by adding a comment below.  Please only claim

[2018-03-15 04:23] #12372 closed

[2018-03-15 04:50] cpapazian commented on #13575
@aghassemi this all sounds good. Agree that there is no need to use a loading indicator for "auto" mode, since if used properly, it should be below the viewport. For the default `load-more-loading` div, is this the same as the `placeholder` div?

[2018-03-15 08:14] stan0714 commented on #11995
Any updates for  "Unexpected end of JSON input" error even when emulating a mobile browser (using Chrome Dev Tools)
My Error detail as blow
amp-auto-ads config xhr failed: SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data
log.js:162:6
pa
log.js:162:6
f.Pe
log.js:217:6
f.error
log.js:233:18
ea/<
amp-auto-ads.js:99:10

[2018-03-15 12:00] StevenX911 opened #14017 "amp-date-picker: Clicking date on the phone will bounce the keyboard."
![20180315195719](https://user-images.githubusercontent.com/7801675/37462030-7a12702e-288b-11e8-91fe-cdcf2301f188.png)

[2018-03-15 12:27] StevenX911 commented on #14017
`<input **readonly** type='text' id='end-date' />` ,  could I add the attr "readonly"?

[2018-03-15 13:22] vamshi5889 opened #14018 "How to set/change CSS properties from amp-list response"
Good day All,

Currently I'm working on creating a Product Listing Page (E-Commerce) with AMP.

As part of this i have a requirement of showing variant options of each product as shown in the picture below (color boxes),
![image](https://user-images.githubusercontent.com/31621020/37465348-e7f7dd0a-2880-11e8-8f5b-dac5cdb0c6f7.png)

I'm getting the color codes (Ex. **#0000FF** for blue) in the respo

[2018-03-15 13:23] valalukas commented on #13874
Dear all, may I ask you to let me know, if some more informations on the issue should be provided in order to describe it comprehensively or whether this is not a right place to bring it up?

Thank you and Best Regards,

Lukas

[2018-03-15 13:40] sebastianbenz commented on #13602
This is great! Two questions:

1. how are we going to support tap events on specific parts of an image/svg (e.g. a seat)?
2. how are we going to support pulling in dynamic content? e.g. a seatmap needs to dynamically update seat availability. We can't use amp-list, as svgs currently are filtered and cannot be rendered inside an amp-list.

[2018-03-15 13:52] sebastianbenz commented on #13602
...and a third question:

3. will it be possible to update seat availability without hitting the 50 amp-bind expressions limit (e.g. if there are more than 50 available seats)?

[2018-03-15 13:54] vamshi5889 commented on #14018
I also tried to use SVG's but amp-mustache is blocking SVGs and below is the thread tracked for that.
https://github.com/ampproject/amphtml/issues/1156

[2018-03-15 15:09] Bonjugal commented on #5219
How can I add **comment moderation tool** in amp-facebook comments?

[2018-03-15 16:07] jeromemacias commented on #13047
You can add environment variable to your travis project settings like this:
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/582446/37475473-1921dbfa-2873-11e8-8d34-8c5d9e458df5.png">

I just updated one of my open source project and it works without publicaly show the env var value: https://travis-ci.org/jeromemacias/nodium/jobs/353888114#L444

[2018-03-15 16:12] lannka commented on #14010
The bug can be reproduced by the 2nd ad slot in `examples/inabox.host.html`.
The symptom is that for any ad in nested friendly iframe, it will trigger visibility immediately after page view.

/cc @keithwrightbos

[2018-03-15 16:29] rsimha commented on #13047
@jeromemacias That won't help, since Travis does not allow pull requests to use secure environment variables. We have a different solution in the works.

[2018-03-15 16:45] jeromemacias commented on #13047
@rsimha My job is on a pull request, but maybe I missed something

[2018-03-15 16:57] aghassemi commented on #14017
/to @cvializ

[2018-03-15 16:58] rsimha commented on #13047
@jeromemacias I don't think that was a pull request from a fork of the main branch.

[2018-03-15 17:08] jeromemacias commented on #13047
@rsimha You're right, that what I missed, I'm on a branch on the main repo!

[2018-03-15 18:09] keithwrightbos commented on #14011
Hello, this appears to be an AdSense configuration issue.  I suggest you contact support there directly.

[2018-03-15 18:09] #14011 closed

[2018-03-15 20:41] Gregable opened #14030 "Audit amp-viewer-integration-0.1.js to ensure that it is safe to include on AMP documents not loaded on the AMP Cache or embedded in the AMP Viewer"
For the AMP web packaging effort, we need to produce non-mutable transformed AMP documents which might be served from within the amp viewer or not. At the time of forming the document, it is not possible to determine which case we will be in when the document is served to a user.

The plan is to unconditionally include amp-viewer-integration-0.1.js into these transformed documents, however this re

[2018-03-15 20:53] zhouyx commented on #13354
Hi @cwisecarver @cschieffer
The feature SGTM. We are open to a design proposal. However we can't prioritize implementation on our side at this time. Would you be interested in proposing something and contributing! Please let me know, thanks!

[2018-03-15 20:59] cwisecarver commented on #13354
@zhouyx In the [comment above](https://github.com/ampproject/amphtml/issues/13354#issuecomment-367436183) I asked a question about the implementation you suggested. You asked me not try attempt another solution until I'd looked into the `REPLACE` macro. If my assumption is correct, which I asked you to confirm, then the `REPLACE` macro wouldn't actually solve our problem so we'd have to go forward