[2015-10-19 04:22] #675 closed

[2015-10-19 05:26] kzap commented on #675
Hi, thanks, not sure though where to pose topics and questions as Stackoverflow doesnt like open ended questions.

Let me know if theres a better venue for discussion. or if this discussion is a repeat :)

- So if its the responsibility of the referrer to send users to the AMP, then only those sites/app who put in the effort to find AMP pages can deliver traffic?

- The majority of referral traffi

[2015-10-19 09:00] NataliaLKB commented on #657
@cramforce love the look of the `amp-template` suggestion. It makes a lot more long term sense.

@dvoytenko certainly pursuing a different way for publishers to show related content is important. It would be my preference to develop other options other than a carousel. Having the flexibility of a template would solve a lot actually. I had been brainstorming other component ideas which would be ren

[2015-10-19 09:11] NataliaLKB commented on #655
I think that rather than swiping to the next page, an infinite scroll would be more effective. The slightly revised overview could be:

[2015-10-19 10:13] johnduffell commented on #655
Yes as @NataliaLKB said, the feature we had in mind was continuous scrolling, but I was trying to describe it in a more abstract way just in case people wanted to implement it another way in different contexts.

Perhaps the component in the amp runtime (without viewer) would be just a thing to use the rel next/prev to continuously scroll, but if it's running in a viewer that uses vertical swiping

[2015-10-19 12:25] cramforce commented on #675
s/guys/folks please :)
StackOverflow works great!
AMP pages are just web pages. Everyone can send traffic. It doesn't always
have to be a choice: Maybe there is only an AMP version? Maybe all you know
is the AMP version? Its all just URLs.
On Oct 18, 2015 10:26 PM, "Andre Marcelo-Tanner" <notifications@github.com>
wrote:

[2015-10-19 12:52] kzap commented on #675
ok thanks, maybe Quora :)

[2015-10-19 15:45] cramforce commented on #657
With respect to the template tag: The one thing we would need to find is a good, ideally tiny templating language. And it should be as "mainstream" (read already used and known by lots of people) as possible. Mustache.js and handlebars.js are probably prime candidates. Rendering performance for AMP is likely less important than size of the implementation (since rendering will be relatively rare).

[2015-10-19 15:59] cramforce opened #677 "Explain behavior of layout values"
https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md

is currently missing a simple table saying: "responsive does this".

[2015-10-19 17:12] jeffposnick commented on #586
In case it's useful: I'm thinking about a similar use case for a sample that I'm putting together. I wasn't sure about the cleanest way to register a top-level SW from within an article page that might be served a few levels down in the URL hierarchy. After some experimentation, I ended up with this approach that seems to work:

[code]

Within `/register-service-worker.html` you'd make the actual

[2015-10-19 20:29] dvoytenko commented on #657
I think mustache.js is quite a bit smaller. Both allow non-escaped HTML so that's a bit of a concern since they can do some damage and possible XSS. Although CSP should take care of this in most of cases.

[2015-10-19 20:40] erwinmombay commented on #657
mustache should have less features too (no logic operations as far as i can remember, which should be a positive)

[2015-10-19 20:55] cramforce commented on #657
@dvoytenko I was gonna mention escaping. Good point. We need a very good story there. I think escaping everything would work for this use case.

@erwinmombay That is also kind of weird, but mustache is probably the way to go.

[2015-10-19 22:34] dvoytenko commented on #657
@erwinmombay Agree. This is a positive for us.

@cramforce We need to see if we can disable triple-mustache. Not sure though they allow this level of configuration. Also, some very basic HTML maybe useful, e.g. style-only HTML with `<b>` and `<i>`. So maybe we can go with whitelist.

[2015-10-19 23:04] erwinmombay opened #686 "create `gulp --help`/`gulp -h` to list all tasks and options."

[2015-10-19 23:46] dvoytenko commented on #569
Here's the issue that tracks Phantom2 upgrade on Travis: https://github.com/travis-ci/travis-ci/issues/3225

[2015-10-20 00:31] sriramkrish85 commented on #611
I updated Youtube and Instagram - rest of the stuff is fine/already updated.

[2015-10-20 00:31] #611 closed

[2015-10-20 01:30] dvoytenko commented on #569
Another related issue on Travis: https://github.com/travis-ci/travis-ci/issues/2046

[2015-10-20 11:45] cramforce opened #690 "Disallow `<amp-ad>` within position:fixed elements"
This should be a runtime check, runtime error and deny rendering. Docs need to be updated.

This may be relaxed in the future, but we do not want full page over lays on AMP pages, because users don't like them.

[2015-10-20 15:28] erwinmombay commented on #686
task taken by @jaboc83

[2015-10-20 17:05] erwinmombay commented on #686
closed via #692

[2015-10-20 17:05] #686 closed

[2015-10-20 18:39] systemaddict opened #695 "Why use AMP instead of a carefully crafted html/css page?"
I'm about to embark on a pretty ambitious AMP project. As many others I'm thrilled with this initiative and I really feel there's some global traction that could make this project important.

However, I'm struggling with arguments against building the site using just native html/css (but extremely carefully crafted). Following the Google PageSpeed Insights 100% would make the site insanely fast an

[2015-10-20 18:42] cramforce commented on #695
The big one is that platforms can easily reason about your AMP file and know it is cheap to prerender (see https://medium.com/@cramforce/why-amp-html-does-not-take-full-advantage-of-the-preload-scanner-7e7f788aa94e#.dqf3xvxnj)

This is impossible for general web content.

But generally you can optimize beyond what AMP does. The problem AMP is trying to solve is that a lot of sites don't.

[2015-10-20 18:42] #695 closed

[2015-10-20 22:15] Gregable commented on #690
Would you mind adding the 'validator' label as well. This should *also* be a validator error, so that toolchains will eventually be able to notice this.

[2015-10-20 22:40] dvoytenko commented on #690
@Gregable I don't think we can cover this via validator - style calculation is a client-specific task.

[2015-10-20 22:49] mterenzio opened #700 "Turn AMP off for select posts"
I'm implementing a way to turn AMP off for select posts. Default would be on, but a check that a meta value of 'amp_enabled' exists and that value is false will result in a pass.

What do y'all think?

https://github.com/Automattic/amp-wp/compare/master...mterenzio:mterenzio-patch-1?expand=1

[2015-10-20 23:01] Gregable commented on #690
Good point, we're probably a good ways off from computing the full style of each element in validation at this point. It's possible, but may not be worth the hassle.

I had originally interpreted Malte's 'deny rendering' as denying the rendering of the entire page which would be unfortunate to validate, but upon further reflection, I suppose he intends to deny the amp-ad element.

Consider my sugg

[2015-10-21 00:47] mterenzio commented on #700
My bad. This was meant for the Automattic amp-wp project.

[2015-10-21 01:44] erwinmombay commented on #700
@mterenzio np. closing.

[2015-10-21 01:44] #700 closed

[2015-10-21 03:39] sriramkrish85 commented on #648
will the css still contain the  @font-face declaration

@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
  }

or should i get the url as an attribute in <amp-font> ?

[2015-10-21 03:42] sriramkrish85 commented on #648
how should glyphs be passed in - would it be another attribute?

glyphs: "\uE600\uE601\uE602\uE605"

[2015-10-21 06:01] Niresh12495 opened #704 "Adsense"
Im a blogger i just want to use amp to load adsense how can i make it working
 i tried to combine all adsense requirements but it didnt work

/**
 * Copyright 2015 The AMP HTML Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      h

[2015-10-21 06:10] erwinmombay opened #705 "add a way for a performance timer to be installed to the runtime (e.g. `setPerformanceFunction`)"

[2015-10-21 06:21] erwinmombay commented on #704
@Niresh12495 hi! can you explain what you mean by `combine all adsense requirements`? did you include the required `script` tags and use the `amp-ad` tag like so:

[code]

sorry for the questions just want to cover the bases :smile_cat:

[2015-10-21 07:18] Niresh12495 commented on #704
Hi thanks for the quick reply
i used the amp-ad tag but im not sure which scripts to include make only adsense work
i checked ads.amp.html it have
  <script async src="https://cdn.ampproject.org/v0.js"></script>
but it contain scripts to load all ad network i just want to load adsense, how can i make it working?

[2015-10-21 07:29] erwinmombay opened #707 "backfill default placeholder for ads doesn't seem to show in examples/ads.amp.html"
we need to make sure this isn't broken on live pages as well. (which it could possibly be)

[2015-10-21 07:42] erwinmombay commented on #704
so you are correct, you currently need to load our core library to be able to use `amp-ad` and it will load the `adsense` integration for you.

[code]

[2015-10-21 11:44] cramforce commented on #586
@slightlyoff @jeffposnick So https://foo.com/bar/ cannot install https://foo.com/serviceworker.js?

In that case the iframe is fine.

I did not want to go towards installing service workers for the "home origin" when servings AMPs from a proxy domain although that would be an interesting future addition.

[2015-10-21 14:28] jeffposnick commented on #586
Right, by default, `https://foo.com/bar/` can't register a service worker that has an effective scope of `/`. The maximum effective scope (which is also the default scope) for a service worker registered at `https://foo.com/bar/` is `/bar/`.

https://github.com/slightlyoff/ServiceWorker/issues/468#issuecomment-60276779 has some background, along with a reference to a `Service-Worker-Allowed` respo

[2015-10-21 15:27] cramforce opened #709 "Whitelist fonts.com for link tag based inclusion and @font-face non-proxying"
Their prefix for font link tag and @font-face is https://fast.fonts.net.

Requires update of

- docs
- validator
- cache ingestion

[2015-10-21 18:51] cramforce opened #714 "Provide referrer as a variable to amp-pixel"
Should be called DOCUMENT_REFERRER and be implemented here
https://github.com/ampproject/amphtml/blob/master/builtins/amp-pixel.js#L47

[2015-10-21 20:10] #690 closed

[2015-10-21 21:37] #491 closed

[2015-10-22 00:06] dvoytenko commented on #648
To confirm, we are not directly downloading `@font-face` here, but rather monitoring when the existing CSS `@font-face` has been downloaded.

[2015-10-22 00:51] cramforce commented on #648
Yes, what @dvoytenko says: This is not about triggering font loads, just controlling their effect on the page.

`font-face` is unaffected, but users need to guard usage of the family with the respective classes.

[2015-10-22 00:54] erwinmombay commented on #704
@Niresh12495 closing this. feel free to open if you have more questions :smile_cat:

[2015-10-22 00:54] #704 closed

[2015-10-22 06:43] tigt opened #717 "Whitelist SVG's <foreignObject>"
If I want to use SVG with raster images, I'm fine with using `<amp-img>` to do so. But in order for that, the `<foreignObject>` tag is required.

Is its flaky IE support problematic, or is AMP more future-facing than that? Edge supports it.

[2015-10-22 13:16] cramforce commented on #493
Done

[2015-10-22 13:16] #493 closed

[2015-10-22 13:18] #176 closed

[2015-10-22 15:30] cramforce opened #720 "Implement IntersectionObserver polyfill for 3p iframe"
Spec is here
http://rawgit.com/slightlyoff/IntersectionObserver/master/index.html
More info: https://github.com/slightlyoff/IntersectionObserver

- The data would come from the parent iframe / AMP resource manager.
- Only polyfill data we have easily available
- Need to decide poll interval
- Need to decide whether to actually polyfill OR just make a very similar API.
- Probably the latter, expose

[2015-10-22 16:13] dvoytenko commented on #717
Ok. Makes sense. For some reason I convinced myself that it was deprecated. I will send along to validator.

[2015-10-22 16:17] dvoytenko commented on #717
/cc @powdercloud @Gregable

[2015-10-22 18:03] dvoytenko commented on #638
Time wise I see a lot of references that IFrame creation takes about 100ms on mobile. This http://jsperf.com/iframe-creation-cost shows that creating an iframe is about 40-50 times slower than any other DOM element.

[2015-10-22 18:43] zohf commented on #495
Hi y'all. Just wanted to chime in with some thoughts.

Here is an example of a sortable table that we've iframed into a story: http://www.theverge.com/tldr/2014/11/13/7213879/how-much-would-it-cost-to-buy-everything-advertised-in-an-nfl-game. You can see that by interacting with some of the elements, the entire interactive resizes, and this is achieved with PYM. I'm unsure if a 'click-to-play' but

[2015-10-22 18:53] dvoytenko commented on #649
Let's close this for now until other considerations are clear.

[2015-10-22 18:53] #561 closed

[2015-10-22 18:54] dvoytenko commented on #560
So, this is fixed in the standalone mode. In the Viewer mode - this is really up to the viewer.

[2015-10-22 18:54] #560 closed

[2015-10-22 18:55] dvoytenko commented on #396
Let's close this for now and reopen if this resurfaces.

[2015-10-22 18:55] #396 closed

[2015-10-22 18:56] dvoytenko commented on #322
Dupe of #302.

[2015-10-22 18:56] #322 closed

[2015-10-22 19:42] cramforce opened #724 "Experiment with delaying some resource loading to only happen in idle times"
Based on requestIdleCallback available in Chrome 47.

[2015-10-22 20:21] cramforce opened #726 "amp-pixel should document all available variables."
Spec is up to date: https://github.com/ampproject/amphtml/blob/master/builtins/amp-pixel.md

CC @jmadler

[2015-10-22 20:53] cramforce opened #728 "Intent to implement: Iframe resizing"
The following applies to both `amp-iframe`, `amp-ad` and a future `amp-template` tag.

We are planning to allow resource resizing in a way that is not disruptive to UX. In this new world

- iframes that the user interacted with may resize themselves.
- iframes below the the current viewport may resize themselves.
- other iframes can show a button to execute the resizing.

This represents an altern

[2015-10-22 20:53] cramforce commented on #495
@zohf I think #728 should cover your use case.

[2015-10-22 20:58] zohf commented on #495
Thanks @cramforce :+1:

[2015-10-22 21:02] cramforce commented on #495
Will close this as we now have implementation bugs for all aspects.

[2015-10-22 21:02] #495 closed

[2015-10-22 21:29] banderson623 commented on #728
:+1:

[2015-10-22 22:07] dvoytenko commented on #569
Now we can run manual screenshot diffs using `gulp make-golden` and `gulp test-screenshots`.

Still working on Travis integration. It's currently blocked by https://github.com/ampproject/amphtml/pull/697 to switch to Ubuntu 14 and Phantom2.

The https://github.com/ampproject/amphtml/pull/685 demos how Travis integration can work but we still need to push results to the cloud (S3 or GCS). For that

[2015-10-23 02:00] #237 closed

[2015-10-23 05:53] erwinmombay commented on #707
tested on production, still works so looks like this is just a local dev problem.

[2015-10-23 05:53] #707 closed

[2015-10-23 16:18] #642 closed

[2015-10-23 16:19] cramforce commented on #621
Fixed by #626

[2015-10-23 16:19] #621 closed

[2015-10-23 16:20] cramforce commented on #480
Removed most restrictions

[2015-10-23 16:20] #480 closed

[2015-10-23 16:36] jmadler opened #737 "Clarify that amp-pixel is not currently functional for GA"

[2015-10-23 16:37] jmadler opened #738 "Create a "Known Issues" doc"

[2015-10-23 16:38] jmadler commented on #738
See also #737 and possibly others

[2015-10-23 16:43] Meggin commented on #737
Do we also want to remove amp-pixel from samples?

[2015-10-23 16:58] jmadler commented on #737
I don't think so - it should work long-term.

[2015-10-23 18:41] wnda opened #740 "EU-required cookie notifications"
Will an AMP component be developed to display a notification of the use of cookies?

I personally think the EU can go to hell and I hate having to implement said notifications on websites, but still...

[2015-10-23 21:02] cramforce commented on #709
Validator change at Google ~~b/25215117~~
Cache change b/25214422

[2015-10-23 23:00] cramforce commented on #720
Update ads/README.md when completed.

[2015-10-24 00:29] #677 closed

[2015-10-24 06:40] powdercloud commented on #717
http://www.w3.org/TR/SVG/extend.html#ForeignObjectElement:
[...] The ‘foreignObject’ element allows for inclusion of a foreign namespace which has its graphical content drawn by a different user agent. The included foreign graphical content is subject to SVG transformations and compositing.
The contents of ‘foreignObject’ are assumed to be from a different namespace. [...]
==
Will it actually work

[2015-10-24 06:47] powdercloud commented on #246
Sorry to sit on it. Any preferences for a format?
testfile:1:25 DEPRECATED_ATTR foo in tag bar - use x instead
testfile:1:25 DEPRECATED_ATTR bar.foo - use x instead
testfile:1:25 DEPRECATED_ATTR bar::foo - use x instead
testfile:1:25 DEPRECATED_ATTR bar[foo] - use x instead

[2015-10-24 16:40] petetnt opened #743 "Navigating to AMP-enabled sites on IE/Edge adds "undefined" to the url"
Steps to reproduce:

1. Navigate to https://ampproject.org/
2. After loading the page the url / `document.location.href` is now https://ampproject.org/undefined

Tested on Edge, IE11, Windows Phone 8.1 IE11.

This creates some unwanted effects, such as reloading leading to a 404 page.

[2015-10-24 17:10] Tigt commented on #717
Yeah, inline HTML5 SVG comes with its own set of rules. Whenever you open an SVG `<title>`, `<desc>`, or `<foreignObject>`, it auto-switches to HTML, regardless of any `xmlns` you have on them.

[2015-10-24 19:42] erwinmombay commented on #743
thanks for reporting! will take a look

[2015-10-24 21:41] riking commented on #655
Make sure that this, or similar, works:

    <amp-next-page href="?amp&page=2"></amp-next-page>

[2015-10-25 06:13] erwinmombay commented on #743
@petetnt confirmed. ANY amp page right now seems to trigger a url change to /undefined

/cc @cramforce @dvoytenko

[2015-10-25 09:35] erwinmombay commented on #743
looks like this is caused by https://github.com/ampproject/amphtml/blob/master/src/history.js#L285 (call to the browsers native replace state). unsure yet *why* it's happening

[2015-10-25 09:54] erwinmombay commented on #743
looks like passing in `undefined` as the `url` (3rd argument), even though its marked as [optional](https://msdn.microsoft.com/en-us/library/hh771932(v=vs.85).aspx), really screws it up. not passing in `undefined` fixes the issue.

[2015-10-25 11:32] petetnt commented on #743
@erwinmombay cool, I though it could be something that affected all the AMP sites but didn't have the time to check yesterday :+1:

I noticed something else too: it coerces Booleans to strings too so `replaceState({foo: "bar"}, foo, true})` results in `foo.org/true` :ghost:

It's not AMP's job to work around browser bugs, but I guess all of those kinds of weird behaviors (like someone accidentally

[2015-10-25 14:37] erwinmombay commented on #743
@petetnt thanks. that scenario should be caught once we get the closure compiler running so the only things that should come through as `opt_url` is of type `{string|undefined}` (on that cause i'll probably change my code to only check for `undefined`)

[2015-10-25 15:11] petetnt commented on #743
Sounds good to me :+1:

[2015-10-25 16:03] erwinmombay commented on #743
landed in https://github.com/ampproject/amphtml/commit/f268934d346bd15a59f7eb38902e82f39b5fa3cc

thanks again @petetnt!

[2015-10-25 16:03] #743 closed

[2015-10-25 16:19] cramforce opened #748 "Make `gulp` automatically run a dev HTTP server"
Should make overall dev setup easier.

Update docs accordingly.

[2015-10-25 18:14] miguelcolomer opened #750 "Issue using AMP"
Hi,
i have a Blogger's page and i'm trying to use it with AMP. This is the problem that i have and the steps:

1) I've included the <script async='true' src="https://cdn.ampproject.org/v0.js"></script> before the </head>

2) When i'm using the <amp-img> code, i have to use the width and the height. But those values are "calculated" and they are responsive.

- So if i write this for my logo:

<div

[2015-10-25 18:24] erwinmombay commented on #750
hi @miguelcolomer so assigning a height and width doesn't mean its fixed. you can add for example `layout=responsive` and it will scale gracefully. The reason why we need the original width and height is so we can reserve the space for the image (so that we don't cause any reflows when the image actually arrives). There are other options that might fit your need more which you can find in the link

[2015-10-25 18:33] erwinmombay commented on #750
btw @miguelcolomer if you could repost your code (it doesn't look like its showing), we'd be able to help you out more if you still need it. thanks

[2015-10-25 18:50] miguelcolomer commented on #750
Ok,
sorry, i'm veru newbie with this. This is my code, i'll try to summarize it to be more effective:

i've added the kayout=responsive but it's not working with my header logo.

I'm using this css to my header inner:
#header-inner {
background-position: center;
margin-left: auto;
margin-right: auto;
}

And then i'm usign this code to use the amp-img tag:

This works ok but it's not responsive:

<

[2015-10-25 18:55] erwinmombay commented on #750
@miguelcolomer np, thank you for your patience as well. so i don't see your code still (github must be doing some sort of escaping)

could you go to http://codepen.io/anon/pen/Qjmvmv?editors=100, fork it and then add the problematic scenario you're running into? Thanks again!

[2015-10-25 19:05] miguelcolomer commented on #750
Ok, how can i save my code to explain it there?, i have to sign there and then give you a link? or can i wirite there directly my problematic code?

Thanks again!

[2015-10-25 19:09] erwinmombay commented on #750
@miguelcolomer so you need to fork the code (theres a fork button at the top), add your code (css and problematic markup/am-img scenario) and just press save again, grab the new link from the url and send me the link here so we can investigate. :smile_cat: Thanks!

[2015-10-25 19:23] miguelcolomer commented on #750
Ok, i've done it!:

https://gist.github.com/anonymous/6f70e57b681b2c15479a

Please review lines 2909 to 2912. If i include "layout=responsive" it not works and i have to add manually the value for widht and height due to amp img specification. I need that image to be responsive. What can i do?

Thank you very much again!!!!

[2015-10-25 20:07] erwinmombay commented on #750
@miguelcolomer so having the `width` and `height` + `layout=responsive` should make it responsive. does it not resize properly? see http://jsbin.com/gixizerufe/1/edit?html,output (try resizing your browser screen). the gist you pasted is a little hard to parse through since its pretty big, would make it easier if the problem was in isolation.

also make sure to close the `amp-img` tag.

wrong:
[co

[2015-10-25 20:18] dvoytenko commented on #750
@miguelcolomer another easy way for us to advise you on this is if you can send us a link to a working (though assuming incorrectly working) page. That way we can dig through it using devtools.

[2015-10-25 20:38] miguelcolomer commented on #750
Ok, i've add the

the closing markup for ```<amp-img>``` with ```</amp-img>```:

[code]

Now the image it's correct for resolutions for more than 637p but if i try to make the image for resolutions lower than 637p the logo it doesn't fit the container and i have to use @media query instead "layout=responsive".

When i add the layout=responsive code to the amp-img, the image doesn't work.

[code]

[2015-10-25 20:53] miguelcolomer commented on #750
Hi again,
i've fixed using media queries instead of using layout='responsive' but i don't know why it's not working that attribute in Blogger... You can investigate it with the previos code that i have published in the comments and comparing with the actual code in my web.

Anything you need to discover the problem, please, let me know.

I'll continue applying amp with the Ads in my blog.

Let's c

[2015-10-25 21:08] miguelcolomer commented on #750
Let me isolate the problem making a summary:

Issues detected in Blogger  when trying to use amp-img:

1) The Blogger's source code it's like this without amp-img tag:

This "Blogger's code" (XHTML) display the logo for my header-inner's page:
[code]
This is the HTML code for the previous Blogger's code:
[code]
2) To make the amp code, i've included the .js before the </html> tag of my Blogger's c

[2015-10-25 21:20] dvoytenko commented on #750
@miguelcolomer I see the issue. The problem is with this definition:
[code]
The `layout=responsive` (described in https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md) work by taking the width available to it and resizing its height proportionally to the aspect ration defined by `width:height` attributes. The problem with `float:left` is that it communicates `0` available widt

[2015-10-25 23:17] miguelcolomer commented on #750
Great!, i'll do that and i'll update here my results.

Thank you very much!!!

[2015-10-25 23:17] #750 closed

[2015-10-25 23:24] miguelcolomer opened #752 "Three dots in my amp-img images"
I have a " three-backgruond-dots" in the images where i'm using the ```<amp-img>``` tag. It's difficult to see it because it's like a "watermark" or something, but in my logo and in the footer images are alwas those Three dots... i don't know why.

Check it at this URL: http://goo.gl/BvdYzD

i don't know if i have those three dot in my CSS and i can't found them but they've appeared since i'm usin

[2015-10-25 23:31] miguelcolomer opened #753 "Pagespeed and AMP"
When using the Google's pagespeed insight service i have foud two minor-issues:

1) In the mobile scrennshot of the mobile analysis, the "image preview" with the mobile's screenshot it's unable to display my logo because i'm using amp-img for thay image.

2) As Pagespeed insisghts said: The https://cdn.ampproject.org/v0.js, could be save 720 B (2 % reduction) after the compression.

You can test i

[2015-10-25 23:50] miguelcolomer opened #754 "Below the AMP-AD are a more "space" than with the standard ad"
I'm using AMP-AD in my web and below them there are more "padding" or "margin-bottom" or "space" than the rest of the page. It happens with responsive and non-responsive AdSense's ADs.

You can see it here: http://goo.gl/8ecmHb

It's like the "ad iframe" take more space than needed.

[2015-10-25 23:55] erwinmombay commented on #752
@miguelcolomer you can add `noloading` on `amp-img` to remove the loader.

[2015-10-25 23:55] #752 closed

[2015-10-26 00:01] miguelcolomer commented on #752
Excelent it's fixed!!!

[2015-10-26 00:10] miguelcolomer opened #755 "How can i disable the Chrome's console developer output?"
Hi, i don't know if it's possible to disable the output to the Chrome developer's console or any browser... i don't know if this affects the performance and we can enable when we are making changes in the page and disable it when we publish the page for the rest of the people.

Thank you!

[2015-10-26 00:52] amphtml-team commented on #755
Logging output is only on in dev mode. I.e. when you have a "development"
attribute on script or a "development=1" hash argument.
On Oct 25, 2015 5:10 PM, "miguelcolomer" <notifications@github.com> wrote:

[2015-10-26 16:24] #714 closed

[2015-10-26 18:17] Gregable commented on #755
Yes, only in development mode will you get most of the logging. Development mode should be disabled for your final pages as it does have a negative performance impact, although somewhat minor.

Note that even in non-development mode, the AMP runtime will still log a little bit to the console, at a minumum, you'll see something like "Powered by AMP ⚡ HTML – Version 1445032534119"

[2015-10-26 19:34] jeffposnick commented on #586
As it turns out, I'm giving out bad advice, and was implementing things incorrectly in my own project.

https://foo.com/bar/ **can** install https://foo.com/serviceworker.js without requiring the `<iframe>` hack I suggested. I thought that the scope restriction was relative to the registering page, but it's actually relative to the service worker script.

[2015-10-26 20:39] behdad commented on #588
/sub

[2015-10-26 22:10] miguelcolomer commented on #755
Ok, i have this message: "Powered by AMP ⚡ HTML – Version 1445032534119" and the errors or warnings (for example if i use amp-img without height or width values).

Is this the development mode?

I notice a little performance drop when i use amp-img or the adsense code (very little).

Thank You!

[2015-10-26 22:23] miguelcolomer opened #759 "How to combine mobile amp code and non-mobile code"
In Blogger 's template (like the "CMS" that i'm using) i can use sentences to write the HTML for mobiles different than for the standard desktop pc (it's like xhtml or something ). Using sentences like "if cond mobile" all the following code only executes in mobiles and the other code outside of the "}" applies only for desktop pc.

So if i use the "if cond" for mobiles and i write an amp-ad with

[2015-10-26 22:25] Gregable commented on #755
You'll see the "Powered by AMP" message in development or not, but the errors/earnings that you mention mean you are in development mode.

You can trigger development mode in the browser in one of two ways. One is to append `#development=true` to your URL documented [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#amp-runtime). The other is to add the `development`

[2015-10-26 22:43] miguelcolomer commented on #755
Amazing, yes i'm doing that.  I'll continue applying amp changes to my blogger's blog. Thank you very much!

[2015-10-26 22:44] #755 closed

[2015-10-27 02:23] dvoytenko commented on #759
This is definitely up to you. But there's a number of ways AMP can help you and we definitely recommend creating fully-responsive documents in AMP.

To start with all AMP elements support `media` attribute that follow `@media` CSS syntax and control whether or not the element is displayed in a particular scenario. See the https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md#me

[2015-10-27 07:59] miguelcolomer opened #760 "AMP with Blogger - The header with xmlns"
When i try to use the AMP specification with my Blogger's code i have found some errors in my console with the development mode activated: ´´´<script async='true' src='https://cdn.ampproject.org/v0.js' development='true'></script>´´´ :

AMP validation had errors:
validator.js:154 http://www.diariosdelanube.com/:1:0 DISALLOWED_ATTR xmlns (see https://github.com/ampproject/amphtml/blob/master/spec/a

[2015-10-27 08:28] miguelcolomer commented on #759
Ok, thank you very much!

[2015-10-27 08:28] #759 closed

[2015-10-27 12:14] adactio commented on #493
:+1:

[2015-10-27 14:36] cramforce commented on #586
Ah, that is what I though. Great. Makes this much simpler :)

Can https://bar.com/ install https://foo.com/serviceworker.js ? The modern equivalent of cookie dropping :)

[2015-10-27 16:00] jmadler commented on #760
Can you post to StackOverflow with the "amp-html" tag and I'll answer there?  Thanks!

[2015-10-27 16:01] #760 closed

[2015-10-27 16:12] erwinmombay commented on #748
this is taken by @jaboc83

[2015-10-27 17:04] dvoytenko commented on #657
@NataliaLKB is this something you are working on?

I have one question on infinite loading. I've seen in some cases the content of story cards being continuously lazy-loaded. I'm not sure how common or useful this is. Is this something you had in mind as well?

I think everything here sounds great. I think Mustache.js is probably a better starting point - it looks like it's about 9K size. Let me k

[2015-10-27 17:18] dvoytenko commented on #657
For comparison, it looks like Handlebars is at least 20K in size.

[2015-10-27 17:46] erwinmombay commented on #754
so you could add a `max-width` / `max-height` here. its probably growing because of `layout=responsive`.

[2015-10-27 17:49] #754 closed

[2015-10-27 17:56] dvoytenko commented on #754
Only max-width. `layout=responsive` fixes the aspect ratio. For instance, `max-width: 320px` would instruct an element to be as small or as large as available space, but not larger than `320px`. At the same time height is automatically resized given the aspect ratio. This is often what one would want.

But there are other layouts as well. For instance, `layout=fixed-height` would fix the height an

[2015-10-27 20:53] miguelcolomer commented on #760
Done!: http://stackoverflow.com/questions/33378225/amp-with-blogger-the-header-with-xmlns

[2015-10-28 14:11] cramforce commented on #753
Not sure about #1.
#2 is a constant concern for us. I believe PageSpeed is just plain wrong here, but we will soon significantly undercut those 720B.

[2015-10-28 14:11] #753 closed

[2015-10-28 16:01] johnduffell commented on #728
This sounds a great refinement of the previous behaviour!  I was just wondering if this would cope with the situation where
* an element is expanded for whatever reason
* you scrolled below it
* you click a link elsewhere
* you hit the back button
Will it remember the size of the element when you left the page and make sure you are still in the same place or will the element revert to the placehol

[2015-10-28 16:08] cramforce commented on #728
@johnduffell It very much depends on the browser *and* on whether an onunload handler is installed. If we can get the analytics people to not do that, we are good :)

[2015-10-28 16:11] johnduffell commented on #728
great thanks @cramforce

[2015-10-29 00:34] nonproftechie opened #782 "AMP demo HTML code does not validate"
The HTML code provided on the front page of this project won't validate.

[2015-10-29 00:36] nonproftechie commented on #782
![image](https://cloud.githubusercontent.com/assets/13720633/10807216/26ffa07e-7dab-11e5-9b89-080234432089.png)

[2015-10-29 00:38] nonproftechie commented on #782
My source code, in case you need it.  I believe the only difference was the canonical tag:
[code]

[2015-10-29 00:40] dvoytenko commented on #782
Thanks for the report! The validator is a bit behind. We recently relaxed viewport values here https://github.com/ampproject/amphtml/issues/592. This is the correct `viewport` value and it will be reported as such by the validator very soon.

[2015-10-29 00:43] cramforce commented on #782
The JS error is, however, pretty worrying.

What Chrome version is this? Could you expand the stack trace?

[2015-10-29 00:44] nonproftechie commented on #782
Thanks @dvoytenko!  I'm excited about this project!  @cramforce, I will give you the Chrome version and expanded stack trace momentarily.

[2015-10-29 00:46] cramforce commented on #782
Also: We'll soon have public docs that won't trail the release validator. Its kind of temporary situation now :)

[2015-10-29 00:46] nonproftechie commented on #782
@cramforce, here is the stack trace shown when I hit the expand arrow:
![image](https://cloud.githubusercontent.com/assets/13720633/10807342/84082a6a-7dac-11e5-9720-8bd9bd89c6aa.png)

My Chrome version is 46.0.2490.80 (64-bit) running on Mac OS X El Capitan.

[2015-10-29 00:47] erwinmombay commented on #782
content.js, doesnt seem like our script anyways.

[2015-10-29 00:48] nonproftechie commented on #782
I think it's part of the WebKit engine in Chrome itself, but I may be wrong.

[2015-10-29 01:12] cramforce opened #783 "Allow serving ads and other 3p embeds from custom origins"
Useful for access to 1p cookies from origin sites among other things.

[2015-10-29 01:18] cramforce commented on #782
Ah, some random Chrome extension likely. They are the root of all evil.

[2015-10-29 01:18] #782 closed

[2015-10-29 07:34] miguelcolomer commented on #760
I don't have any response about this... someone could help?

[2015-10-29 15:55] erwinmombay opened #787 "refactor gulpfile to build custom babelhelpers during `build` and `dist` runs"

[2015-10-29 23:27] #666 closed

[2015-10-30 00:11] cramforce commented on #404
I'm a bit scared about srcdoc, because it presents an XSS vector if there is a bug in sandbox enforcement.

Would you be happy with data-uri only support?

[2015-10-30 01:02] cramforce commented on #404
Decided to implement it.

[2015-10-30 09:13] johnduffell commented on #404
yep data uri is fine, either way is fine, thanks Malte

[2015-10-30 13:17] cramforce commented on #404
Implemented srcdoc with a data uri for now, but also check for non-presence of allow-same-origin on sandbox attribute, so we can switch later to native srcdoc if there is a problem.

[2015-10-30 14:06] cramforce opened #800 "Create native app install/launch button"
A new element like `amp-app-install` that takes app store URLs and other information that is needed to figure out whether an app in installed on a device.

The element adds CSS classes to itself based on device platform (iOS, Android, …) and based on whether the app is installed already. It has not UI itself, just allows CSS based content toggling.

If the element manages to determine that the app

[2015-10-30 14:58] NataliaLKB commented on #657
@dvoytenko apologies for the delayed response! Was away from my computer on holiday.

I hadn't thought about infinite loading story cards, but it is a fun idea. I can certainly think of interesting use cases for this, though possibly not overly useful use cases ... I will have a think, but in the meantime I thinking keeping this as a finite number of cards is best.

Agreed that Mustache.js is the

[2015-10-30 14:59] #783 closed

[2015-10-30 17:23] #405 closed

[2015-10-30 17:23] #404 closed

[2015-10-30 20:23] #241 closed

[2015-10-30 22:20] cramforce opened #806 "Code like document.querySelectorAll('link[rel= trigger presubmit against destructuring"

[2015-10-30 22:27] erwinmombay commented on #806
@cramforce can you clarify what you mean here by `destructuring`? thanks

[2015-10-30 22:27] cramforce commented on #806
[foo, bar] = fn()

[2015-10-30 23:25] erwinmombay opened #808 "create eslint rule to catch destructuring"

[2015-10-30 23:47] #728 closed

[2015-10-30 23:49] dvoytenko opened #811 "IFrame Resizing: adjust scroll position when applicable"
The the element being resized is above the current viewport, for the best reading experience we can explore adjusting the scrolling position.

[2015-10-30 23:50] dvoytenko opened #812 "IFrame Resizing: allow resize to reduce height"
Currently we do not allow automatic resizing to reduce height. This is to avoid cases where iframes overshoot the height requirements to simply lower them later. We can explore when this can be done safely.

[2015-10-30 23:51] dvoytenko commented on #728
Follow up items: #811 and #812

[2015-10-31 00:06] cramforce opened #814 "Implement iframe resizing for amp-ad"
Same behavior as amp-iframe. See #728

[2015-10-31 00:06] cramforce commented on #728
Also #814

[2015-10-31 00:08] erwinmombay commented on #806
removed from presubmit regex rules via https://github.com/ampproject/amphtml/pull/809

actual fix tracked in https://github.com/ampproject/amphtml/issues/808

[2015-10-31 00:08] #806 closed

[2015-10-31 01:47] dvoytenko commented on #566
This requirement has been removed as per #481.

[2015-10-31 01:48] dvoytenko commented on #495
As per #728 the next release will see the first version of resizable iframes. There are a few more separate requests in the queue to improve it, but this version should be fully functional. The docs have been updated here:
https://github.com/ampproject/amphtml/blob/cbaeb24969a4c4dd650e53d5e82b78c27f754030/extensions/amp-iframe/amp-iframe.md

[2015-11-01 16:07] dvoytenko opened #823 "Implement gulp test for binary sizes control"
A new gulp test will check if any binary has a big change in size. It will work as following:

First: add `sizes.json` file which will list minified (not gzipped) binary sizes. E.g.:

[code]

Second: add `gulp check-sizes` task that will
1. Build all binaries
2. Calculate their minified sizes similar to how `gulp size` does it now - these are new sizes
3. Read `sizes.json` - these are old sizes
4.

[2015-11-01 16:08] dvoytenko commented on #823
/cc @cramforce @erwinmombay

[2015-11-01 16:09] rahmanmustafa commented on #823
363636
On 2 Nov 2015 00:07, "Dima Voytenko" <notifications@github.com> wrote:

[2015-11-01 16:09] rahmanmustafa commented on #823
363636
On 2 Nov 2015 00:09, "Rahman Mustafa" <amanmustafa90@gmail.com> wrote:

[2015-11-01 17:07] erwinmombay commented on #823
:+1:

[2015-11-01 17:08] erwinmombay opened #824 "create module dependency graph with sizes"

[2015-11-01 18:20] erwinmombay commented on #824
can help us make a decision if wether importing a module is not worth it. if it increases an extensions file size significantly for 1 helper function for example.

[2015-11-01 18:58] rudygalfi opened #826 "Feature request: Ability to vary or remove page content based on geo"
There are several use cases for needing to vary or remove content (including ads) that is displayed on a page depending on the location of the reader:

-- When somebody views a page in the UK, don't show ads. When viewed outside the UK, the ads should show.
-- When presenting a page in the US, there should be a "Sports" menu that includes links for "NFL", "MLB", "NBA", etc. When presenting the men

[2015-11-01 19:06] rudygalfi opened #827 "Feature request: Support for menu to display triggered by button tap"
Menus can help drive circulation. This request covers the ability to show a menu once the user has clicked/tapped on a button presented on the page. The most common patterns for presenting a menu seem to be:
- Upon pressing the menu button, the menu overlays the content on the page. There's some way to get rid of the menu either by clicking/tapping another button/link (likely in the same place as

[2015-11-01 20:36] erwinmombay commented on #823
tasks:

- [x] output json instead of txt file. (#825)
- [ ] refactor `build` task to be fully async and have correct task completion
- [ ] refactor `dist` task to be fully async and have correct task completion
- [ ] add gulp `check-size` that applies the applies the recommendation from @dvoytenko above

[2015-11-01 23:47] dvoytenko commented on #827
Rudy, wouldn't this be a viewer's function?

[2015-11-02 01:12] rudygalfi commented on #827
@dvoytenko I could see this behavior in the viewer, but that still raises the question of how that would work. Would there be some way of being able to define the menu content and, upon seeing that, a viewer provide a button that exposes the menu?

What I'm trying to reflect with this issue is some feedback I've heard from some publishers around enabling menus in some way. If you look at some mobi

[2015-11-02 03:26] cramforce opened #829 "Create a GitHub gist extension"
### Background
The AMP HTML library includes many [extended components](https://www.ampproject.org/docs/reference/components) that bring third-party functionality as first-class components in AMP.

### Motivation
We like to introduce a new component to integrate [Github gist](https://help.github.com/articles/about-gists/) in AMP. This would allow developers to include their code from Github in the

[2015-11-02 03:50] dvoytenko commented on #827
One approach would be to leave it completely up to the viewer implementation which is currently responsible for the header itself. That could work well in the publisher sites (e.g. Publisher.com viewer would show the Publisher.com's menu), but the question will be: should the menu be shown when the same story is displayed by, e.g. Google Search or by Twitter or others. The issue here might be that

[2015-11-02 11:22] johnduffell opened #832 "url substitutions for amp-pixel use $ which isn't allowed in urls"
According to the amp-pixel spec we should use $DOCUMENT_REFERRER in the url to put in the actual referrer.  Unfortunately $ is a reserved character in URLs, so [play](https://www.playframework.com/) automatically escapes it as %24 when I put it in the href - this then means that the amp pixel code doesn't find it.

Since it's not technically a link until the substitution is done, is it right to re

[2015-11-02 12:50] edlea opened #834 "Client behaviour when AMP page page is unavailable"
I can't see anything in the specifications detailing what a client should do if an AMP page is unavailable for some reason.

For example, what should a client do if the request for AMP returns an HTTP status of 500 or 204?

[2015-11-02 15:25] dvoytenko commented on #832
Good point @johnduffell . The tools would be in their right to escape '$' in these URLs. Let me see what's up there with tests. But looks great. Thanks a lot!

[2015-11-02 16:18] cramforce commented on #827
There isn't always a viewer.
The most basic request here is to change layout based on whether there is.

I don't really understand the feature request, though. Whatever we do with menus must be responsive, so it does something reasonable on phone, tablets and desktop.

[2015-11-02 16:37] rudygalfi commented on #571
Side question: Could we call this element something that doesn't have "click" in it? amp-tap-to-play would be appropriate, but that's mobile only. Not sure if there's some more generic name that would cover desktop + mobile. amp-interact-frame?

[2015-11-02 16:38] everyplace commented on #657
We have a spec that is extremely similar to this that we've called the [dynamic inset spec](https://docs.google.com/document/d/1NQ0UZYnyq89RFg3-Y7WxmYr7qVhsVBIrNPDpmgF66JA/edit#heading=h.acx9ul3ukfr9) that we've used in production for over a year, with a number of sample rendering libraries and examples: [client-side js renderer](https://github.com/dowjones/dynamic-inset-renderer), [php renderer](

[2015-11-02 16:43] cramforce commented on #571
@rudygalfi: Nice bikeshed :)
I think click-to-play is the common industry term for this class of
behavior, so I see no real reason to diverge.

On Mon, Nov 2, 2015 at 8:37 AM rudygalfi <notifications@github.com> wrote:

[2015-11-02 18:03] #832 closed

[2015-11-02 18:14] johnduffell commented on #832
Just for anyone who comes across this later - $ is indeed reserved in URLs but actually it wasn't play escaping it, our code was url encoding the parameters.  However $ isn't required any more anyway.

[2015-11-02 21:27] rudygalfi commented on #827
Let me know how I can clarify things. One thing I can say is that in creating this request I had the standalone (i.e. non-viewer) case in mind, so you should read everything that way: assuming no viewer. (I agree that it's interesting to consider menus in the context of a viewer as well.) I also agree that whatever we have should be responsive.

The current behavior we see is that publishers are p

[2015-11-02 22:03] sriramkrish85 opened #839 "Fix vsync issue when document is not visible."
-- better Title and desc to be provided for this bug.

[2015-11-02 22:38] cramforce commented on #839
We need to decide what that means. Default vsync should **NOT** fire when the tab is invisible (including our pseudo invisibility.).

[2015-11-02 23:23] cramforce opened #841 "Add simple polyfill for requestAnimationFrame"
This gets us a lot of browser compat for very little work.

[2015-11-02 23:29] cantrell opened #842 "Validator incorrectly flags @keyframe rules"
The specs seem to indicate that this is legal (@keyframes and opacity):

[code]

But the validator throws an error:

`CSS_SYNTAX Invalid rule of type: @keyframes`

[2015-11-02 23:30] dvoytenko commented on #839
Absolutely agree. This is just a reminder for me to review these cases and
make a decision on how to address it best. But we definitely won't be doing
RAF fallback.
On Nov 2, 2015 5:38 PM, "Malte Ubl" <notifications@github.com> wrote:

[2015-11-03 01:37] cramforce commented on #839
So @sriramkrish85 should not be using vsync in his case, because he wants these to fire.

[2015-11-03 01:46] dvoytenko commented on #839
I think it's solvable in follow-up. But we can certainly address in the
current pull request.
On Nov 2, 2015 8:37 PM, "Malte Ubl" <notifications@github.com> wrote:

[2015-11-03 01:51] Gregable commented on #842
The spec is correct here: the validator is a bit behind on the CSS rules. We're working to implement a more general css parsing scheme rather than a few regexps that we're relying on at the moment and should have this fixed soon.

[2015-11-03 17:07] #748 closed

[2015-11-03 19:03] #841 closed

[2015-11-03 19:05] dvoytenko commented on #839
I'd like to keep this issue open a little longer. I'm still planning some review on this.

[2015-11-03 20:16] dvoytenko commented on #657
@everyplace thanks a lot for sharing your spec. I think we definitely would like to have local case for the template and likely data as well. However, the remote template case has a problem of circumventing all of AMP rules, such as, e.g. inserting scripts, direct iframes without sandbox, etc. And sanitizing template results on the client side would be very expensive and error-prone.

[2015-11-03 20:57] Stormjack commented on #639
Presently I'm seeing the behavior that @alxlu reported as well.  In addition to the #development=1 approach, is there also an online validator that we can paste markup into to perform the validation? Thanks.

[2015-11-03 22:15] cramforce opened #853 "Support directory listing when serving from gulp serve"
So that, e.g. http://localhost:8000/examples.build yields a good result.

CC @jaboc83

[2015-11-03 22:24] cramforce opened #854 "Race condition that sometimes ad placeholders aren't shown."
To repro, scroll down on this article to the ad and hit reload a few times
https://cdn.ampproject.org/v/the-atlantic-amphtml.googleusercontent.com/amphtml/pages/CAIiEE4J6Ym89uCPwuAuG1NMgyEqFAgEKg0IACoGCAowm_EEMKAiMMta?amp_js_v=0

I believe this happens when the paceholder is invoked before the promise for the iframe resolves and the toggling of the placeholder here
https://github.com/ampproject/am

[2015-11-04 12:03] niutech opened #858 "AMP Directory & Conversion Tool"
Is there a directory of Accelerated Mobile Pages, like [SpecificFeeds](http://www.specificfeeds.com) for RSS feeds? And is there a tool to convert HTML pages to AMP format, like [Feed43](http://feed43.com/) for HTML to RSS?

If not, are there any plans to do so?

[2015-11-04 15:06] cramforce commented on #858
There is no directory and no plans to do that. AMP pages are just part of the open web.

With respect to conversion: Transcoding entire pages is a non-goal. What would be super helpful and nice is an independent tool that takes pure content HTML fragments (basically just text, images and video; the logical body of a web page) and turns them into AMP HTML which could then be put into an AMP specifi

[2015-11-04 15:06] #858 closed

[2015-11-04 21:14] erwinmombay opened #861 "create listenOnce helper for 3p frame listener"
add a helper for https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L114 that calls the unregister function after 1 invocation.

[2015-11-04 23:35] #854 closed

[2015-11-04 23:46] erwinmombay commented on #861
@dvoytenko making this a starter if anyone wants to pick it up :smile_cat:

[2015-11-05 16:24] cramforce opened #866 "Fire viewportCallback when document becomes invisible"
and the other way around.

The `viewer` object knows about document visibility (including iframes that are hidden). We need to combine that knowledge with whatever is firing viewportCallback.

CC @dvoytenko

[2015-11-05 16:31] dvoytenko commented on #866
It should do so today - if not it must be a bug. I'll take a look. It also should fire `documentBecameInactive` callback.

[2015-11-05 16:52] cramforce commented on #866
Nice. Didn't check!
On Nov 5, 2015 8:31 AM, "Dima Voytenko" <notifications@github.com> wrote:

[2015-11-05 17:06] #866 closed

[2015-11-06 18:58] cramforce opened #870 "Improvements to preconnect"
- Add a method that elements can use to register what they **connected** to, so we don't preconnect after
- If we connected, don't preconnect ever again
- Let preconnects expire after 5s (Confirm)
- Move all preconnects into `BaseElement.preconnectCallback`
  - This should be called only when the doc is/becomes visible.
  - Should be called just after layoutCallback to parallelize requests.
- Once

[2015-11-06 23:09] avimehta opened #871 "Intent to Implement: Analytics APIs for AMP"
# Analytics APIs for AMP

## Objective

Define a vendor-neutral method for adding analytics to an AMP document.

## Overview

A new tag, `<amp-analytics>`, defines which events to measure and how the measured data is sent to an analytics vendor.

This tag provides built-in support for most widely used analytics services. For example, the following tag will send measurement requests to XYZ when the

[2015-11-07 01:30] igrigorik commented on #870
Why do you want to defer preconnects until visible? If the page is being prerendered it still makes sense to preconnect early to accelerate the prerender itself. Also, not sure what you mean here by 'parallelize requests'?

I think you get this for free? All modern browsers maintain their own socket pools that are independent (modulo some corner cases on client auth) of any particular renderer (e.

[2015-11-07 03:27] cramforce commented on #870
@igrigorik Most of the above was in the context of there being a timeout for preconnect. If there is not we can keep having a simpler solution.

With "parallelize requests" what I mean is that, in particular for ads (but also for but also for tweets) we see a deep request waterfall. Since host names are predictable we try to preconnect concurrently, so that some of the costs of the waterfall gets

[2015-11-07 03:30] cramforce commented on #871
CC @rudygalfi

[2015-11-07 04:43] #861 closed

[2015-11-07 04:48] #853 closed

[2015-11-07 05:00] cramforce opened #873 "Increase report frequency of ad viewability changes"
Research standard and then follow it within technical capability.

This refines #872

[2015-11-07 17:05] cantrell opened #875 "Validator should flag missing script tags"
I've run into a couple of cases where I've used AMP HTML tags without their corresponding `script` "imports," but the validator doesn't catch it. For example, in you insert an animated GIF using amp-anim (without the corresponding amp-amin JavaScript tag), the placeholder will be rendered (presumably since the amp-img implementation is in AMP core), but the validator doesn't flag the missing JavaS

[2015-11-07 17:24] cramforce commented on #875
Yes! We were tracking this already, but I can't find the issue.

[2015-11-09 14:41] eddhannay commented on #875
@cramforce Is there any estimate for when the validator will be open sourced?

[2015-11-09 14:53] cramforce commented on #875
No, but before Christmas :) Maybe in a few days.
On Nov 9, 2015 6:41 AM, "Edd Hannay" <notifications@github.com> wrote:

[2015-11-09 19:43] igrigorik commented on #870
Right, makes sense. Here's the logic we have in Chrome (can't speak for other browsers.. /cc @mcmanus):

1. Unused socket timeout is [set to 10s](https://code.google.com/p/chromium/codesearch#chromium/src/net/socket/client_socket_pool.cc&q=unused%20file:%5Esrc/net/socket/&sq=package:chromium&type=cs&l=15)
1. Once socket is 'used' the timeout is [bumped to 300s](https://code.google.com/p/chromium/c

[2015-11-09 22:27] cramforce opened #879 "Run integration test only on sauce labs"
* Create `gulp test --integration` which runs integration tests only (ideally also has faster bundling)
* Run that target on SauceLabs on a wide variety of browsers.

[2015-11-09 22:27] cramforce commented on #879
Assigning myself, but feel free to take away.

[2015-11-09 23:12] dvoytenko opened #880 "Create vsyncFor and cleanup uses"

[2015-11-10 01:01] cramforce opened #884 "Lost coverage of old chrome"
When we switched to trusty on Travis we lost coverage of Chrome 37 which was really helpful.

Lets instead turn on testing old Chrome on SauceLabs. Should be an easy change and skip all currently broken tests.

We might also be able to remove most tests marked as `skipOnTravis` because many of them were only broken on Chrome 37 and not newer versions.

[2015-11-10 01:32] #880 closed

[2015-11-10 01:34] erwinmombay opened #886 "create amp-soundcloud"

[2015-11-10 01:35] erwinmombay opened #887 "sweep tests and change all class existence checks to `expect(elem).to.have.class('class')`"

[2015-11-10 01:45] cramforce commented on #886
Shortest INTENT TO IMPLEMENT ever :)

LGTM

[2015-11-10 04:08] jmadler commented on #814
Does this cover 3p embeds as well, or will we need a separate issue to track that?

[2015-11-10 04:22] cramforce commented on #814
@jmadler Basically yes. For non-generic embeds there will be a small bit of code in the element implementation. Single function call should do it.

[2015-11-10 04:23] #720 closed

[2015-11-10 05:24] dvoytenko opened #892 "Support template validation"
As part of supporting dynamic content we will be rolling out `<template>` support and we need it to validate.

The `template` element is described in some detail here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template

Our first target is Mustache.js: https://github.com/janl/mustache.js/, but there could be any number of template languages. They are all fairly similar. One critica

[2015-11-10 18:37] erwinmombay opened #894 "investigate upgrading to latest babel and update all peer dependencies"

[2015-11-10 18:53] Gregable commented on #892
Interesting.

How will we prevent layout reflows with templates? Even simple text replacements will have their width determined by the actual text string. Will the rendering engine block on the loading of the json blob?

[2015-11-10 20:22] dvoytenko commented on #892
Templates do not render themselves. The target AMP elements call templates to render some part of their content, so it depends on each element. For instance, a carousel can call JSON service and template to render slides. But no relayout is needed there since all the slides a positioned behind each other in the fixed space. Some other elements might need to be more creative with space. We also hav

[2015-11-10 23:04] cramforce opened #895 "Get integration tests to run on iOS and IE"
iOS currently goes into an endless loop for some tests, IE times out inside the test.

[2015-11-10 23:05] erwinmombay commented on #895
@cramforce this is in saucelabs?

[2015-11-10 23:40] erwinmombay commented on #271
obsolete. `noloading` is implemented.

[2015-11-10 23:40] #271 closed

[2015-11-10 23:42] erwinmombay commented on #281
obsolete. current classes should all be prefixed with `amp-${state}`

[2015-11-10 23:42] #281 closed

[2015-11-10 23:43] erwinmombay commented on #292
closed via https://github.com/ampproject/amphtml/pull/578

[2015-11-10 23:43] #292 closed

[2015-11-10 23:52] erwinmombay commented on #297
closed via https://github.com/ampproject/amphtml/pull/381

[2015-11-10 23:52] #297 closed

[2015-11-10 23:53] erwinmombay commented on #366
fixed via https://github.com/ampproject/amphtml/pull/555

[2015-11-10 23:53] #366 closed

[2015-11-10 23:54] erwinmombay commented on #338
obsolete via the new placeholder/fallback/loading features implemented in custom-element

[2015-11-10 23:54] #338 closed

[2015-11-11 00:36] dvoytenko opened #897 "Create a basic experiment system"
A basic experiment system will be comprised of:

1. experiments.html document
2. experiment control library for AMP runtime and extensions

Both parts will employ `amp-exp` cookie to toggle and control experiments.

**experiments.html**

This file will be hosted in the GitHub and deployed to AMP Project's CDN. It will list all available experiments with their descriptions and provide a button to t

[2015-11-11 01:55] #648 closed

[2015-11-11 02:02] erwinmombay opened #898 "investigate creating lint rule that scans through a file and checks for unused exported"

[2015-11-11 15:19] cramforce commented on #871
I'm working on a related doc to create the "client identifier". Will publish in the coming days and link here.

[2015-11-11 16:24] cramforce opened #902 "Intent to implement: Non-modal dismissable user notifications"
Implement a tag that can be shown conditionally for applicable users and that can be dismissed by users.

Usage
[code]
## Showing the dialog
The new tag `amp-user-notification` always starts out in layout mode `nodisplay` (isn’t shown). Upon page load it makes a POST CORS XHR request to the URL given as `data-show-if-href`. It posts an `ExternalCID` that is specific for the string given as `data-d

[2015-11-11 16:25] cramforce commented on #902
See #871 for one possible use of this.

[2015-11-11 16:34] cramforce commented on #740
Should be covered by intent to implement #902
Closing this. Feel free to comment with more questions!

[2015-11-11 16:34] #740 closed

[2015-11-11 18:38] Gregable commented on #709
This is live at Google and will be live in the amp runtime development more in an hour or so when the cache picks it up.

[2015-11-11 19:21] Gregable commented on #596
rel=canonical is now allowed on `a` as well as `link` tags. I don't have rights to close this, so, @cramforce  to do the honors.

[2015-11-12 00:17] joshcp commented on #498
From the perspective of parsing the canonical page to find an AMP version, would a <link> inserted via JavaScript be acceptable?

[2015-11-12 01:07] rudygalfi commented on #871
Is data like geo and device type accounted for in some way?

[2015-11-12 01:14] cramforce commented on #498
@joshcp Very good question!
Pinging @amplesample

[2015-11-12 01:24] rudygalfi opened #909 "Liveblog support"
I see a few paths to explore:
- Embedding through amp-iframe or (eventually) amp-click-to-play
- Potentially using amp-template with some modifications and/or wrapped in another component (that would handle the updating)
- New extended components built by liveblog platform providers

[2015-11-12 01:47] jmadler commented on #909
In my mind, a Live Blog, as represented in AMP, would be a static AMP doc using the LiveBlogPosting markup, and an <amp-template update="X"> tag to pull new data.

After each new post, the document should be updated by the CMS to include the update in the body of the document, as well as the new BlogPosting data as children of the LiveBlogPosting structured data.

In order to maintain the freshnes

[2015-11-12 02:35] dvoytenko commented on #657
We now support `amp-mustache` templates for Mustache.js-based templates. There are no yet elements that use them - this is our next step. For the time being the template itself is only available via experiment until our security/XSS review is complete and validator is updated.

[2015-11-12 02:58] niutech commented on #858
I think I can do that, but it would be much better combined with something like [Readability](https://github.com/mozilla/readability).

[2015-11-12 02:59] kzap commented on #871
Would be great to get the segment guys to use this as that would be one gateway to support many platforms without each analytics platform needing to create their own

[2015-11-12 03:00] niutech commented on #829
From what I see, the work has started in https://github.com/jmadler/amphtml/tree/amp-github

[2015-11-12 07:51] avimehta commented on #871
@rudygalfi geo is usually calculated from IP address. Apart from that, the timezone (which is part of spec) is another hint. There is the option of asking browser for location but I am not aware of any vendor that uses that API.

I'll look into the device type a little more. So far the signals available for device type inference are the useragent and the screen resolution.

[2015-11-12 18:06] igrigorik opened #916 "Enable Client-Hints by default?"
If you provide the meta opt-in then we'll emit Width, DPR, and Viewport-Width headers that can be used by backends to optimize resources -- e.g. return scaled images based on specified width, etc.

More details: https://developers.google.com/web/updates/2015/09/automating-resource-selection-with-client-hints?hl=en

The opt-in is: `<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">`

[2015-11-12 18:42] cramforce commented on #916
@jmarantz We discussed stuff like this yesterday. I suppose we'll go with a solution that works in Safari first.

[2015-11-12 18:50] dvoytenko commented on #916
@cramforce @igrigorik But how much these hints will be proxy-able for AMP Cache? It seems this would be rather limited unless we also bake this into "Vary-By".

[2015-11-12 18:53] cramforce commented on #916
The plan we discussed yesterday was to support

[code]

and let the client make the decision which one to download and have image URLs encode type and size.

We can also support `Vary-By`, though, for this case. Main issue is Safari non-support for the hints.

[2015-11-12 19:30] julien51 commented on #498
Hum. My hunch would be that it would be quite ambitious to expect *everyone* consuming HTML pages to be able to execute Javascript to identify an AMP version of the document. After all, even today, Google isn't 100% able to execute javascript from all pages it crawls.

[2015-11-12 19:58] joshcp commented on #498
@julien51 my expectation wouldn't be that everyone consuming HTML pages would execute JavaScript. The HTML page is canonical, so if a visitor doesn't execute JS they still get served the content. I see AMP as an enhancement of user experience, not core to the user experience.

The question is more with regard to Google's parser in particular, and generally speaking how future implementations of AM

[2015-11-12 20:04] julien51 commented on #498
Well, for what it's worth [I run an API which aims at being able to consume AMP](http://blog.superfeedr.com/bridging-amp-and-rss/) pages but is completely unable to execute JavaScript. Putting JS as a way to detect/identify AMP pages would completely block us from doing so.

I'm not 100% sure what the benefit is to allow JS to specify AMP resources, compared to other commonly used methods such as

[2015-11-12 20:46] cramforce commented on #498
Pretty much agree with everyone here. Lets just decide that JS injection is not OK. We want AMP to be usable by lots of platforms and while Google might be able to handle JS not everyone can.

[2015-11-12 20:51] joshcp commented on #498
@julien51 according to the link you shared, your app would still be able to consume the content via HTML. If a `<link>` is inserted into the HTML via JavaScript, that is an enhancement to the experience made available to parsers that execute JavaScript.

@cramforce For what it's worth, I run a Javascript-adaptive mobile platform that would like to be able to inject a `<link>` to external AMP page

[2015-11-12 20:56] cramforce commented on #498
@joshcp I would not say that crawlers should ignore JS based injection of the meta tag, but I would not mandate support for it. Do you use fragment URLs or actual URLs (based on pushState) for your permalinks?

[2015-11-12 21:21] joshcp commented on #498
@cramforce our platform generates mobile views of [existing](http://www.wompmobile.com/Websites-Converted-to-Mobile-Results) [websites](http://www.wompmobile.com/showcase-websites-converted-to-mobile), using a small JS snippet to reconfigure the page for mobile. We're not generating URLs with JS, just re-configuring the content at any given URL.

[2015-11-12 21:37] erwinmombay opened #918 "add ticks for when amp prerending is done and when user requests page to become visible"
- [ ] tick when amp prerender is done (Generally tick when the first round of resource requests are done.)
- [ ] tick when user requests page to become visible
- [ ] tick 0 when user requests page to become visible and prerender is already done.
- [ ] otherwise tick when initial viewport is ready.

/cc @cramforce please correct any incorrect statements. thanks

[2015-11-12 21:51] joshcp commented on #498
@cramforce to clarify, are you saying that JS injection of the meta tag *is* OK, and crawlers that support JS should recognize that there's a `<link>`? Acknowledging that not all crawlers/parsers support JS?

[2015-11-12 21:54] dvoytenko commented on #916
If it's a client side solution - we can do this today. Client hits, I think, would be helpful if we did server-side/prescanner.

[2015-11-12 22:08] cramforce commented on #498
@joshcp We're happy AMP pages to be discovered any way they can. But I would not expect the JS solution for work with most AMP platforms.

[2015-11-12 22:31] cramforce commented on #918
Made some edits to your comment. /creepy.

[2015-11-12 23:12] rudygalfi opened #921 "Support for fallback poster and click-to-play behavior in amp-iframe"
Discussed this with @cramforce: One issue I see with amp-iframe is that in the cases where it violates the positioning rules, it will break with no fallback. The request is to make amp-iframe behavior more predictable overall by being able to gracefully fall back to click-to-play behavior when it wouldn't show due to the position limitations.

For example, if amp-iframe won't show due to where it'

[2015-11-13 01:20] igrigorik commented on #916
AMP cache should proxy the client hints down to the origin. Knowing the Width of the image resource on the server allows servers to deliver appropriately scaled images, etc. For other subresources (e.g. CSS) the server can elide unnecessary data based on advertised DPR, Viewport-Width. Lots of different use cases here. The server, in turn, responds with `Vary: <used hint>` to indicate that AMP cac

[2015-11-13 18:17] cramforce commented on #902
@erwinmombay Assigned you. OK?

[2015-11-13 18:38] erwinmombay commented on #902
@cramforce :+1:

[2015-11-13 19:13] cramforce opened #930 "gulp lint-fix command fails"
`Command failed: /bin/sh -c node_modules/eslint/bin/eslint.js {src,3p,ads,builtins,extensions,testing,test}/**/*.js gulpfile.js -c .eslintrc --fix --plugin google-camelcase`

Running it manually returns usage statement.

Lets run it on travis to avoid regressions.

[2015-11-13 19:21] erwinmombay commented on #930
ack, yeah fixing it.

[2015-11-13 20:35] #930 closed

[2015-11-14 02:32] matcarey opened #937 "Validating outside the browser - command line tool"
Hi guys, I've released a command line tool for validating AMP pages.  I'm working on an AMP implementation for a client and we've found the browser console validator useful for exploring but not so good for automation.  I've published a tool to NPM https://www.npmjs.com/package/amp-validator which gives the validation results available on the command line.  For example:

[code]

It works with loca

[2015-11-14 11:45] mister-ben opened #938 "New components"
What process should be followed for contributing new components for consideration? The [components documentation](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-components.md) and [third party services guide](https://github.com/ampproject/amphtml/tree/master/3p) states that there's a vetting procedure but does not detail the process.

Is a pull request into this repository enough

[2015-11-14 17:26] cramforce commented on #937
Very cool! We're in the process of open sourcing the validator and we were definitely planning to publish it on NPM. This would be JS only, so likely a bit faster and easier to install.

One nice thing about your solution is that it is guaranteed to be in-sync with the prod validator (since it is using it). It comes at a cost of spinning up a browser and talking to the internet.

Would be great to

[2015-11-16 15:39] cramforce commented on #921
Assigning to @sriramkrish85 as kind of a special case to click-to-play.

CC @dvoytenko as well. We need to discuss whether we want to implement this very important special case.

[2015-11-16 15:43] cramforce commented on #938
@mister-ben Let me know whether this helps
https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contributing-features

We recommend to start the intent to implement issue first. Of course, you are free to do whatever you want :)

Our experience is that a quick discussion really helps with doing things the right way for AMP's long term direction. Also always feel free to hop onto our S

[2015-11-16 15:44] cramforce commented on #897
LGTM

[2015-11-16 15:45] #879 closed

[2015-11-16 15:45] #870 closed

[2015-11-16 16:23] cramforce opened #941 "Reduce code duplication between runtime and extensions"
I think the right approach is to export functionality from the runtime (through a lightweight mechanism, not the manual runtime.js stuff) and then have little facades that expose these functions to extensions as regular typed imports.

[2015-11-16 17:16] dvoytenko commented on #941
At this point, I think, we barely need any as is. We just need to switch them to services. The only meaningful "exports" that I see are registration and devmode exports. I'll start refactoring others one by one.

[2015-11-16 17:18] cramforce commented on #941
Right, still e.g. viewer service could have a facade, so its implementation
never loads in the extension.

I suppose all we need to do is put the factory like `viewerFor` into its
own file and we're done.

On Mon, Nov 16, 2015 at 9:16 AM Dima Voytenko <notifications@github.com>
wrote:

[2015-11-16 17:29] dvoytenko commented on #941
Yes. Somehow come up with a way to export services without creators.

[2015-11-16 18:54] cramforce opened #943 "Provide a clear way to log messages to developers (when development mode is on)"
Our logging isn't really the right tool. Nor is calling `console.foo` directly.

CC @dvoytenko

[2015-11-16 18:56] dvoytenko commented on #943
I think our logging should be the right tool - I think most of messages are in this category today. Instead, we need to add a "prod" logger for non-dev issues.

[2015-11-16 19:02] cramforce commented on #943
First we need to get our terminology right :)

When I said developers I meant people writing AMP docs. We should almost never show them a log message, except in rare circumstances.

[2015-11-16 19:13] dvoytenko commented on #943
In that case - yes, definitely :)

[2015-11-16 21:56] Gregable commented on #717
We now support `<foreignObject>`. @dvoytenko, please close when you have a chance.

[2015-11-16 22:05] #717 closed

[2015-11-17 01:08] cramforce opened #945 "Intent to implement: Dynamic CSS classes based on referrer, viewer, other factors"
We want to allow tailoring content and interaction elements to the environment using css.

We'll interpret certain signals and if present add classes to the document element, so that pages can show, hide or change emphasize based on these classes.

Example:

[code]

In particular, we'll take the domain of the referrer and add each sub-domain as one class. E.g. `www.twitter.com` becomes amp-referre

[2015-11-17 20:26] cramforce commented on #937
Since it is super relevant: The core validator is now open source: #951

[2015-11-17 20:27] matcarey commented on #937
Wonderful, I'll see if I can rid myself of the headless browser.

[2015-11-17 20:28] cramforce commented on #937
@matcarey Your solution has one big benefit: It uses the live validator without needing to update from npm. It would be neat to keep an option that downloads the rules from the internet. Its a tradeoff but nice if people have the option.

[2015-11-17 20:29] cramforce commented on #937
Basically our plan would be to push a minor release to NPM every time we push the web validator.

[2015-11-17 20:41] matcarey commented on #937
True.  I'll take a look at the core validator and see what the options are.

I suppose I'm treating this more like an integration test than a unit test - does my AMP page meet the current validation requirements of the AMP validator.  That means it would fail if I've broken it or if a breaking change was (presumably accidentally) released.

I wonder whether it's helpful to opt into a particular SH

[2015-11-18 06:40] mterenzio opened #956 "amp-map element"
Has support for an amp-map element been requested? If only the static map API? My search didn't see any requests yet.
edit: I do see iframe as the way to go in the "everything" example. Perhaps there is no advantage to an extension.

[2015-11-18 12:05] mjsarfatti commented on #827
+1
I think the classic hamburger menu is seen more often than carousels or lightboxes, even though I see difficulties in finding one common way of implementing it (variations on the structure of the menu list are infinite, how would you manage submenus and sub-submenus?)

[2015-11-18 13:49] kashyapnitin opened #958 "Support for pre-roll video ads"
Can we allow integration of some Video SDKs like the IMA https://developers.google.com/interactive-media-ads/?csw=1 to allow for pre-roll / mid-roll Video ads?

May need changes to the existing amp-video component or a specific amp-video-with-ad component?

[2015-11-18 14:18] mterenzio opened #959 "Twitter component not displaying"
Tested On Mac OS X 10.10.1 and 10.9.5 (via browserstack)
Using Firefox 42.0
The twitter components have a width and height being accounted for but are not rendering any content.
Verified this was not a local implementation issue by duplicating it with this production URL:

https://www.theguardian.com/science/2015/sep/28/nasa-water-mars-announcement-reactions/amp

[2015-11-18 14:57] cramforce commented on #956
We're definitely looking into how one could make a more advanced maps experienced, but as you say maps work with `amp-iframe`, static maps should work great with `amp-img` and `amp-click-to-play` should make them work together really well, too.

CC @rudygalfi

[2015-11-18 15:01] cramforce commented on #959
Thanks for the report.

This is an issue with the JSON-via-fragment transfer that appears to be limited to Firefox.

Limited repro case

https://3p.ampproject.net/1447372082206/frame.html#{"conversation":"none","​c​ards":"hidden","tweetid":"648527254725619713","width":486,"height":437,"initialWindowWidth":560,"initialWindowHeight":504,"type":"twitter","_context":{"referrer":"","canonicalUrl":"http

[2015-11-18 15:24] cramforce commented on #958
I think we should definitely add support into existing `amp-video`. It might completely change the way it works. It might, however, be infeasible and we'd need `amp-ima-video`. To evaluate that we'd need to study other video/ad integrations and see how much they overlap.

[2015-11-18 16:00] #959 closed

[2015-11-18 21:09] cramforce opened #961 "Intent to implement: Client identifiers in AMP"
The following doc proposes a concrete mechanism for producing "client identifiers" for AMP documents which can be used by AMP Analytics (See #871) for use cases such as distinguishing users.

The proposed mechanism provides a unified solution for the following 3 scenarios:

1. document loaded from publisher page
2. document loaded from AMP cache
3. document loaded through AMP viewer

It does not,

[2015-11-19 10:25] philwills commented on #871
@avimehta IP doesn't seem to be listed in the spec at the moment. Is that an oversight?

[2015-11-19 10:28] philwills commented on #871
Is the current intent that you either have an inline config, or config over a URL, or is there an intent to support merging the two?

Keeping it to one or the other seems perfectly reasonable, but it would be good to be explicit.

[2015-11-19 15:10] cramforce commented on #871
@philwills I don't believe the client has any way to read the IP even if it wanted to. It would be available server side on the outbound beacon request.

As to the intent of multiple configs:

We plan to support multiple layers of config. Basically:

1. vendor profile
2. external config
3. 1 or more (!) inline configs.

They all get mixed into the same large JS object with configs further down hav

[2015-11-19 15:32] philwills commented on #871
@cramforce So is there some view identifier intended to be consistently available to the outbound beacon and the analytics API enabling us to tie the two together?

Apologies, I'm still trying to get my head round AMP at the moment and am not quite sure where some responsibilities lie.

[2015-11-19 15:41] cramforce commented on #871
@philwills I posted about client identifiers yesterday in #961. Not sure whether a view identifier (just a random value that is the same for all requests from the same page view?) is planned, but would certainly be straight forward to add.

[2015-11-19 17:17] cramforce commented on #961
Implemented all except bullet 3.

[2015-11-19 17:18] cramforce commented on #871
Just merged the client identifier PR #963.

You can now do `cidFor(window).get('my-cookie-name')` to get a client identifier.

[2015-11-19 17:52] cramforce opened #969 "Pass page view id and a client identifier to ads, analytics, etc."
We need a general variable available to amp-pixel, analytics, ads, that is "unique" (Just Math.random should be fine) per page view. So, just a random number we create once per page.

This is a change in
https://github.com/ampproject/amphtml/blob/master/src/url-replacements.js

Some ads require access to a CID. Create configuration per ad network for the fallbackCookieName. Will need to figure out

[2015-11-19 17:59] avimehta commented on #871
Mostly what @cramforce said.

re IP: @philwills IP is something that servers have to log on their side. javascript has no access to it. User-agent is another thing that is sent as part of http request so javascript won't deal with it(unless there is really some need for user-agent in javascript. If this is the case, please explain and I'll include it.)

re Merging: I think the intent is to do the

[2015-11-19 18:11] cramforce opened #970 "Error on running gulp"
I haven't see anything that doesn't work, though :)

[code]

Probably related to demo serving.

CC @jaboc83

[2015-11-19 18:13] cramforce commented on #970
Never mind. Was on the wrong machine :)

[2015-11-19 18:13] #970 closed

[2015-11-19 20:03] ryanlombardo commented on #871
@avimehta We use user-agent for analytics and for customizing experiences in different in-app contexts and for different device types. For example, we might use a different SMS sharing icon if you're on Android, or we add a more prominent "Pin It" button if you're in the Pinterest app.

For in-app, the referrer usually shows as direct. Pinterest, Facebook, and Twitter modify the user-agent though

[2015-11-19 20:16] veganjosh commented on #969
Is this intended to function only as a cachebuster? Math.random() isn't nearly high enough entropy, in our experience, to function as unique pageview ID (across hundreds of billions of pageviews)

[2015-11-19 20:18] rudygalfi commented on #945
@ryanlombardo Do you think this would cover some of the use cases you mentioned in #871 where you vary content by referrer or user agent?

@cramforce Can user agent be one of the factors looked at here?

[2015-11-19 20:19] rudygalfi commented on #871
@ryanlombardo please take a look at #945. I think it covers some of the examples you mentioned and I'd like to get your feedback.

[2015-11-19 20:31] avimehta commented on #969
how about <timestamp>.<random>? Would that make uniqueness a little easier to achieve?

[2015-11-19 20:42] cramforce commented on #945
We could do classification of "special" UAs. Generally UAs have a bit too much entropy to put them into CSS classes without processing. I'd also avoid making Chrome/Safari/Firefox differentiation, but ua-twitter and ua-facebook would be fine.

[2015-11-19 20:48] avimehta commented on #871
+1 to what @rudygalfi said. @ryanlombardo I am still trying to understand the usecase so pardon my ignorance:

The examples you mention are related to changing something based on the environment (`referrer`, `device`, `os`). I think we can expose this information but making changes to the page based on the environment is handled by #945. None of the APIs exposed by this intent make changes to `dom

[2015-11-19 20:54] cramforce commented on #969
Unique is a bit of a complicated concept :)

Anyway, good feedback.

How much entropy do you need? Are 64bit enough or do you need 128bit?

[2015-11-19 21:01] cramforce commented on #969
64bit should be enough for ultra-likely-unique-per-week :)

[2015-11-19 21:40] cramforce commented on #969
Actually, shouldn't Math.random be completely sufficient? Its only needs to be unique per client identifier.

[2015-11-19 22:02] avimehta commented on #969
@cramforce you are right. Client id + page id are probably going to be
enough uniqueness.

On Thu, Nov 19, 2015 at 1:40 PM, Malte Ubl <notifications@github.com> wrote:

[2015-11-19 22:16] veganjosh commented on #969
Being unique in combination with client ID is fine for our applications, this should just make sure to specify that this is _not_ unique on its own.

Just as a quick note for those who care, you start getting collisions in the low billions of items with 64 bits of entropy (https://en.wikipedia.org/wiki/Birthday_problem):
P(collision exists amongst n items getting getting hashed into d buckets) ~=

[2015-11-19 22:22] cramforce commented on #969
Cool. Will make sure to document.

[2015-11-19 22:44] dvoytenko opened #975 "amp-list: add overflow element"

[2015-11-19 22:52] dvoytenko commented on #897
Launched. Available here:

https://cdn.ampproject.org/experiments.html

[2015-11-19 22:52] #897 closed

[2015-11-19 23:21] rudygalfi commented on #897
Super-awesome to have this experiment infrastructure. :+1: Thanks!

[2015-11-20 01:25] rudygalfi commented on #71
#571 (amp-click-to-play) is potentially relevant here as a way to have an arbitrary video player

[2015-11-20 01:30] rudygalfi opened #979 "Support for Facebook post embed"
Per publisher request. More info: https://developers.facebook.com/docs/plugins/embedded-posts

Idea would be for it to be similar to `amp-twitter` or `amp-pinterest`.

[2015-11-20 01:58] #975 closed

[2015-11-20 03:15] jmadler opened #981 "amp-install-serviceworker: support cross-origin SW installation"
Support cross-origin SW installation (somehow)

This will enable folks to install service workers when an AMP HTML file is loaded from the AMP Cache

[2015-11-20 03:29] robruenes opened #983 "Amp-slideshow can break on iOS Safari"
For the AMP found at:
https://www.washingtonpost.com/amphtml/opinions/after-paris-we-should-look-to-chris-christie/2015/11/18/9077dbea-8d58-11e5-ae1f-af46b7df8483_story.html

Sometimes (it was flaky, unsure exactly how to re-produce) when this AMP was loaded on iOS Safari, the slideshow on the page would load all of the images and text on top of each other, creating jumbled text, as well as the ab

[2015-11-20 11:00] Ragnar85 opened #984 "amphtml"

[2015-11-20 16:50] rudygalfi commented on #984
Please reopen if you can provide more detail.

[2015-11-20 16:50] #984 closed

[2015-11-20 16:50] jmadler opened #985 "Add test to require samples for extensions"
Add a test that verifies:

1. each extension has a sample
2. each sample is registered for the validator test

[2015-11-20 16:56] rudygalfi commented on #136
Was this closed by #648?

[2015-11-20 16:56] #136 closed

[2015-11-20 17:21] dvoytenko commented on #136
Yes

[2015-11-20 17:27] dvoytenko commented on #983
Thanks a lot! I'll take a look.

[2015-11-20 20:51] dvoytenko commented on #657
The first version is ready to be tried. It's described here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/amp-list.md

An example is here (you'd need to switch to the actual URLs at cdn.ampproject.org):
https://github.com/ampproject/amphtml/blob/master/test/manual/amp-list.amp.html

First you'd need to enable "mustache" experiment here:
https://cdn.ampproject.org/experimen

[2015-11-20 23:09] dvoytenko commented on #657
Alternative, the experiments can be enabled in devtools console. See https://github.com/ampproject/amphtml/blob/master/tools/experiments/README.md

[2015-11-21 01:20] jmadler opened #990 "Intent to implement: VR content"

[2015-11-21 21:19] cramforce commented on #990
Please elaborate :)

[2015-11-22 16:18] bmuller commented on #961
The Google doc says:

What follows, however, doesn't include any discussion of "sessions" (nor could I find any other mention of "sessions" in any of the docs).  Are sessions something the publishers/analytics providers will need to infer based on timestamps, or are there plans to support a session identifier as well?

[2015-11-22 21:26] rudygalfi commented on #961
@bmuller The way I've usually seen sessions defined is by looking at timestamps and choosing some period of time to elapse before a new session is established.

Do you have some specific definition or instrumentation you're interested in to either directly define a session or to be able to do so on the data processing side?

[2015-11-22 21:37] bmuller commented on #961
@rudygalfi it would be useful if there was some way to get an identifier for the client session (for instance, browser session based on a session cookie, or some concept of app session if in a viewer).

[2015-11-23 04:59] gfranczyk commented on #871
In the examples there's an `on` value `load`; however, this value is not listed in eligible values in the `on` section. Are there any other DOM events that can be bound to? One that would be helpful in particular is the `unload` event -- this would make it possible to gracefully submit metrics like `max_scroll_x` and allow the analytics provider to more accurately calculate time on page.

+1 re: *

[2015-11-23 15:22] cramforce commented on #961
There is a related bug on low entropy page view ids. This together with a
client id and engagement instrumentation should be sufficient to compute
most concepts of sessions. AMP itself doesn't have an opinion about that,
but analytics providers and other users might, so details are delegated to
that layer.
On Nov 22, 2015 1:37 PM, "Brian Muller" <notifications@github.com> wrote:

[2015-11-23 15:43] matcarey opened #993 "All doubleclick ads showing 404s"
Currently the `<amp-ad type=doubleclick></amp-ad>` tags show an iframe with a 404 in it.  The iframe URL is https://3p.ampproject.net/1446714374021/frame.html examples:

 - http://www.mirror.co.uk/news/uk-news/jeremy-corbyn-made-member-privy-6813946.amp
 - https://www.theguardian.com/world/2015/nov/23/cameron-visits-bataclan-with-hollande-paris-attacks/amp

[2015-11-23 16:04] cramforce commented on #993
Ads work fine for me. The frame URL does, indeed, 404, but at this point a different URL is being loaded.

@erwinmombay Could you take a look when we loaded version 1446714374021 and see what happened here?

[2015-11-23 16:24] ryanlombardo commented on #871
@rudygalfi #945 would work. It's similar to what we're doing for that type of customization.

@avimehta We do it on the client-side. Google Analytics and Adobe Analytics have methods for overriding the referrer. I agree that mappings may need to change overtime and probably isn't the best solution. How would your server-side proposal work?

[2015-11-23 16:28] cramforce commented on #871
We will try our very best not to use unload events. They are bad for
browser performance, because they force reload on back button press. They
are also meaningless in AMP because pages might be no longer visible but
not unload (e.g. after swipe). Page visibility events are more helpful and
will be exposed to analytics.
On Nov 23, 2015 8:24 AM, "Ryan Lombardo" <notifications@github.com> wrote:

[2015-11-23 17:14] uncompiled opened #994 "Clarify the documentation for allowed attributes"
It would be helpful to clarify the allowed attributes for whitelisted elements.  This would help publishers avoid validation errors when transforming content from their content management systems.

There is already a HTML5 element whitelist in the [AMP Tag Addendum](https://github.com/ampproject/amphtml/blob/master/spec/amp-tag-addendum.md), but there isn't a clear reference for the attributes tha

[2015-11-23 18:06] dvoytenko commented on #525
@powdercloud could you please confirm?

[2015-11-23 18:07] dvoytenko commented on #535
Did this come up again? Can we close? I struggle to see how we can help here, this is really a pre-parser issue.

[2015-11-23 18:08] #552 closed

[2015-11-23 18:09] dvoytenko commented on #639
Should be now fixed. Thanks for reporting!

[2015-11-23 18:09] #639 closed

[2015-11-23 18:09] dvoytenko commented on #726
I moved var documentation to https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md

[2015-11-23 18:09] #726 closed

[2015-11-23 18:10] #339 closed

[2015-11-23 18:10] dvoytenko commented on #310
Requirement canceled. Descendant selectors are now ok.

[2015-11-23 18:10] #310 closed

[2015-11-23 18:11] dvoytenko commented on #230
Are we all good here?

[2015-11-23 18:11] #196 closed

[2015-11-23 18:11] dvoytenko commented on #167
Should be all fixed.

[2015-11-23 18:11] #167 closed

[2015-11-23 18:11] #78 closed

[2015-11-23 18:12] #76 closed

[2015-11-23 18:15] amphtml-team commented on #535
OK to close

On Mon, Nov 23, 2015, 1:08 PM Dima Voytenko <notifications@github.com>
wrote:

[2015-11-23 18:22] #535 closed

[2015-11-23 18:29] powdercloud commented on #525
We don't do anything to disallow a @font-face thus far. The relevant part is l. 467 here:
https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii
In case you're wondering the instruction above that in l. 448 is necessary to allow font-face in the CSS parser, so it will parse it but other than CSS syntax validation not do anything to it.
For the font tag (the a), the fonts

[2015-11-23 18:40] Gregable commented on #994
I think what I'd like to do is generate some code which will take the validator's [spec](https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii) file and produce some markdown from it that is more human readable.

For example, the section regarding the `<meta>` tag in the validator reads:
[code]

And could be converted to markdown to look something like:

This is currentl

[2015-11-23 18:44] Gregable commented on #535
Hm, this is still not checked in the validator as per @jmadler's request. Have we decided that we are no longer worried about this? It can be done if we want, but I hadn't given it high priority.

[2015-11-23 18:46] dvoytenko commented on #525
@sebastianbenz Sebastian, could you please give us a URL to reproduce the problem?

[2015-11-23 18:50] Gregable commented on #496
Nothing left to do here specific to the original issue. The [validator](https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii) is now available with all of the attribute lists in the spec file.

I think we can use Issue #994 to track auto-generated documentation.

[2015-11-23 18:56] cramforce commented on #230
Yeah.
On Nov 23, 2015 10:11 AM, "Dima Voytenko" <notifications@github.com> wrote:

[2015-11-23 19:01] #230 closed

[2015-11-23 19:03] erwinmombay commented on #993
looking into it

[2015-11-23 19:09] erwinmombay commented on #993
@cramforce we never had a version 1446714374021

@matcarey can you tell me where you got 1446714374021/frame.html ? thanks

[2015-11-23 19:23] matcarey commented on #993
It was shown on the two pages I linked to (and all other doubleclick ads I could see in AMP pages).  I've just checked again and the listed version is currently 1448058695548.  I was in the office, I'm now at home so a) it's not a totally fair repeat and b) I haven't got the screenshots I took.

We have just released an update (the mirror link in my original bug report) and this appeared while we

[2015-11-23 19:27] erwinmombay commented on #605
closed via https://github.com/ampproject/amphtml/pull/627

[2015-11-23 19:27] #605 closed

[2015-11-23 19:28] erwinmombay commented on #336
closing. this has been implemented.

https://github.com/ampproject/amphtml/pull/885
https://github.com/ampproject/amphtml/pull/817

[2015-11-23 19:28] #336 closed

[2015-11-23 19:30] erwinmombay commented on #705
closed via https://github.com/ampproject/amphtml/pull/739

[2015-11-23 19:30] #705 closed

[2015-11-23 19:31] erwinmombay commented on #787
closed via https://github.com/ampproject/amphtml/pull/701

[2015-11-23 19:31] #787 closed

[2015-11-23 19:40] erwinmombay commented on #993
@matcarey got it, i was also running into some caching issues myself on my work laptop. (had to press shift + refresh to get rid of it)

i'll leave this open for now for further follow up when you get to your workstation. I cant think of a reason how we could link to a version 1446714374021 though.

here are all the version we've ever released so far, including ones prior to us tagging and releasi

[2015-11-23 19:41] erwinmombay commented on #993
@matcarey out of curiosity, you dont happen to be using the chrome "local amp" plugin on your workstation do you?

[2015-11-23 19:42] matcarey commented on #993
Nope, haven't heard of it.

[2015-11-23 20:49] bmuller commented on #961
@cramforce What would be nice is an understanding of session based on the context of the app displaying the AMP content.  Simply using time between interactions is a poor way to understand a user's activities when the underlying application knows about it's own use (so why not expose that?).  Delegating to the "analytics provider" layer means a less accurate understanding than is possible to provi

[2015-11-23 21:15] #458 closed

[2015-11-23 21:16] jmadler commented on #938
I'll close this bug as we're looking to clean up the backlog.

@mister-ben, If you have any further feedback or questions, please let us know.

[2015-11-23 21:16] #938 closed

[2015-11-23 21:25] jmadler commented on #429
Closing as @Meggin has a doc plan that incorporates this (and other) elements :)

[2015-11-23 21:25] #429 closed

[2015-11-23 21:25] jmadler commented on #428
Closing as @Meggin has a doc plan that incorporates this (and other) elements :)

[2015-11-23 21:25] #428 closed

[2015-11-23 21:25] jmadler commented on #427
Closing as @Meggin has a doc plan that incorporates this (and other) elements :)

[2015-11-23 21:25] #427 closed

[2015-11-23 21:25] jmadler commented on #426
Closing as @Meggin has a doc plan that incorporates this (and other) elements :)

[2015-11-23 21:25] #426 closed

[2015-11-23 21:28] jmadler commented on #103
Is this still relevant?

[2015-11-23 22:48] Gregable opened #999 "Remove the 'development' attribute mechanism for triggering validation"
There are currently two ways of triggering AMP validation within the browser documented in the [AMP runtime section of the spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#amp-runtime):

1. Appending `#development=1` to the URL of the page.
2. Adding the `development` attribute to the AMP runtime script tag, e.g.
`<script src="https://cdn.ampproject.org/v0.js" develo

[2015-11-23 22:51] dvoytenko commented on #999
Yeah. With the ability to set `development=1` fragment, I also find `development` attribute redundant.

[2015-11-23 22:52] dvoytenko commented on #103
Which elements does this apply to?

[2015-11-23 22:54] dvoytenko commented on #103
I can see that it's supported for `amp-video` and `amp-audio`. I don't think this applies to anything else in our case. So, I'm closing the issue.

[2015-11-23 22:54] #103 closed

[2015-11-23 23:15] #525 closed

[2015-11-23 23:25] cramforce commented on #961
Did you check out the page view id? Sorry, on phone. Don't have a link
handy. I think this will be trivial to implement on the analytics side
without hard coding anything on the framework side.
On Nov 23, 2015 12:49 PM, "Brian Muller" <notifications@github.com> wrote:

[2015-11-23 23:29] rudygalfi commented on #969
[Renamed issue to reflect that this applies to cases other than just ads.]

[2015-11-23 23:30] rudygalfi commented on #961
@cramforce is indicating #969

[2015-11-23 23:40] rudygalfi commented on #871
Different topic: Is there a way to pull parameters out of the URL?

Example: `foo.com/section/page.html?a=5#b=3`. We'd know there's a parameter `a` with a value of 5 or that the anchor portion says `b=3`

[2015-11-23 23:44] avimehta commented on #871
I am planning to expose the query and anchor parts in the doc. If there is
a requirement, we can consider pulling out specified variables from the URL.

GA can use this for campaign stuff. Probably a lot of other vendors might
find it useful as well.

On Mon, Nov 23, 2015 at 3:41 PM, rudygalfi <notifications@github.com> wrote:

[2015-11-23 23:46] veganjosh commented on #871
We would definitely like to pull out UTM parameters from the URL.

Sent from my iPhone

[2015-11-23 23:51] rudygalfi commented on #871
@avimehta I think as far as the analytics framework is concerned it's not necessary to parse out the params. Should there be entries in the design proposal listing the query and anchor parts as built-in variables?

[2015-11-24 00:22] dvoytenko commented on #983
The problem has been reproduced. This is due to the latent DOM mutations that were unobserved in this case. Fix is in progress.

[2015-11-24 10:57] philwills commented on #871
@avimehta I am aware that the IP isn't available in JS. I'm still getting to grips with AMP and wasn't sure whether the intent for this was to have the client talk back to the analytics system directly, or if that was to be intermediated.

[2015-11-24 11:35] Stormjack commented on #639
Thanks Dima!

________________________________
From: Dima Voytenko <notifications@github.com>
Sent: Monday, November 23, 2015 12:09 PM
To: ampproject/amphtml
Cc: Ken Palmer
Subject: Re: [amphtml] validator errors (#639)

Should be now fixed. Thanks for reporting!

-
Reply to this email directly or view it on GitHub<https://github.com/ampproject/amphtml/issues/639#issuecomment-159015139>.

[https:/

[2015-11-24 12:03] matcarey commented on #993
OK, the version hasn't changed since yesterday.  It was:

[code]

And the same today.  I'm not sure how that came up.  Doesn't seem to be a problem today.

[2015-11-24 12:06] #993 closed

[2015-11-24 12:11] matcarey commented on #999
I had some problems with the `#development=1` on headless browsers and found myself making use of the attribute hook.

I've released https://www.npmjs.com/package/amp-validator (a beta) to provide a command-line validator so that people don't have to hack around headless browsers themselves.  Implementing this change would not break `amp-validator`.

[2015-11-24 13:50] matcarey commented on #909
Could this be a feature of https://github.com/ampproject/amphtml/tree/master/extensions/amp-mustache e.g. `<amp-mustache update-interval=30></amp-mustache>` or `<amp-mustache auto-refresh delay=30></amp-mustache>`.

Polling is easier to build and more annoying to use, pushing/websockets would be significantly more difficult to specify/build but should be significantly more pleasant to use.  Long-p

[2015-11-24 14:46] systemaddict opened #1003 "Banners loading on demand?"
Hi

We want to switch to AMP HTML but we're worried about programmatic income. Do Adsense (and Google DFP) load differently than on a "normal" page using asynchronous load? Do they load on demand (when inview)?

If on demand, could we possibly isolate the banner code and try it before starting a proper implementation?

[2015-11-24 16:45] dvoytenko commented on #909
@matcarey It won't be `amp-mustache` itself, but rather another extension. `amp-mustache` or any other type of template cannot render itself. But any other component can do rendering using templates. One such example is the `amp-list` component. Here, I imagine something like:
[code]

As far as autorefresh concerned - my big preference would be for some sort of alert that new data is available and

[2015-11-24 16:46] cramforce commented on #1003
Ads are currently loaded

- when in view
- or as part of normal resource loading
- when no other ad is loading
- and the user is not currently scrolling
- and has scrolled at least once.

This may change over time.

[2015-11-24 16:57] rudygalfi commented on #1003
cc @kashyapnitin

[2015-11-24 18:03] niallkennedy opened #1005 "Intent to implement: Vine simple embed"
A [Vine simple embed](https://vine.co/v/MdKjXez002d/embed) is a single video file with an equal width and height loaded through an `iframe`.

![vine-simple-embed](https://cloud.githubusercontent.com/assets/1100/11375785/1064c0be-9292-11e5-82d7-7b6ad9f3014f.jpg)

A Vine video URL consists of a base URL and a Vine video identifier. Example: `https://vine.co/v/MdKjXez002d`

In the example above the V

[2015-11-24 18:36] bmuller commented on #961
Thanks @cramforce / @rudygalfi - but (as far as I can tell) I don't think a page view id would help in understanding what constitutes a session.  I think there's a misunderstanding of what I'm asking for so here's an example:

On the web, when a user opens their browser and clicks a link to one of our sites, a session cookie is set (which goes away when the browser is closed).  If the user comes b

[2015-11-24 19:49] cramforce commented on #961
We could in theory provide a low entropy id with the lifetime of a session
cookie. Please file a separate issue and make an extensive case for it
including laying out alternatives. We currently set 0 cookies. Adding one
will need to have a very good case.
On Nov 24, 2015 10:36 AM, "Brian Muller" <notifications@github.com> wrote:

[2015-11-24 20:01] dvoytenko commented on #961
I don't think session cookies would work very well in the webview case. I think we still need to consider doing this via local storage, but perhaps enable viewer to consult us on what is the session.

[2015-11-24 20:06] cramforce commented on #961
The concept asked for here is not known by the viewer. Still like to
understand what is interesting about session cookies. Browser lifetimes can
be months. They provide very little semantics.
On Nov 24, 2015 12:01 PM, "Dima Voytenko" <notifications@github.com> wrote:

[2015-11-24 21:10] #887 closed

[2015-11-24 22:08] rudygalfi opened #1009 "Validation for AMP Analytics"
We'll need to make sure this is added for #871. cc @avimehta @Gregable

[2015-11-25 00:43] dvoytenko commented on #811
Duplicate of #367.

[2015-11-25 00:43] #811 closed

[2015-11-25 01:31] #839 closed

[2015-11-25 02:50] sriramkrish85 commented on #612
I think this has been fixed in https://github.com/ampproject/amphtml/pull/630. Closing

[2015-11-25 02:50] #612 closed

[2015-11-25 04:23] dvoytenko opened #1013 "Resizing: force an ignored resize as soon as the the element becomes active"

[2015-11-25 04:24] dvoytenko commented on #1013
Blocked by #1012

[2015-11-25 04:56] dvoytenko opened #1014 "TBD: Consider using mutation events to rebuild some of the AMP elements"
We are running rarely into issues when the composite AMP elements have their build method called when their children list is in complete. E.g. an amp-carousel may have 10 slides total, but it's build is called only when its `children` reports only 2 subelements. A symptom of this problem can be seen in #983. To observe the issue, you can also see http://jsbin.com/folura/edit.

We currently use thr

[2015-11-25 08:45] #983 closed

[2015-11-25 14:48] avimehta commented on #871
@philwills sounds good.

The intent is that the client will talk to different analytics systems directly. It is a little inefficient in terms of number of requests to send data out of the client but I think it might be better than the intermediated system since the publisher (or analytics vendor) is in full control of what is sent where and how.

[2015-11-25 19:01] rudygalfi opened #1017 "Feature request: Expando"
A way to click/tap on a button and expose some content that's hidden from view by default. Also, can this trigger an async request to fetch the content that would be populated, including sizing information?

[2015-11-26 08:55] systemaddict commented on #1003
Thanks. Programmatic earnings are extremely sensitive to load time, so it will be interesting to see if the overall performance boost can somehow augment a potential slower ad load.

[2015-11-26 08:55] #1003 closed

[2015-11-26 09:27] matcarey commented on #909
This is something I'd like to take a look at, it's a feature the client I'm working with would like to use and has invested in on different platforms.  I'd look to follow the shape that @dvoytenko has specified.  The implementation looks like it's going to be relatively similar to https://github.com/ampproject/amphtml/tree/master/extensions/amp-list

I'd be perfectly happy to work with others or a

[2015-11-26 11:51] philwills commented on #871
At present the triggered events vars all seem to be static values. We currently do some tracking where we want to see for instance which item within a container has been interacted with so send back a data attribute or descendant selector to identify the specific item.

Is that kind of use case being considered?

[2015-11-27 15:55] vaso123 opened #1020 "CSS errors in AMP"
I am developing the AMP pages of our site. When I see the console, there are several css errors, and one JS error. Here are the log:

Error in parsing value for 'align-items'.  Declaration dropped. amp:108:140

Error in parsing value for 'box-sizing'.  Declaration dropped. amp:110:110

Unknown property 'margin-legt'.  Declaration dropped. amp:110:126

Powered by AMP ⚡ HTML – Version 1448058695548

[2015-11-27 18:50] dvoytenko commented on #1020
@powdercloud Do we check for CSS property names? I didn't realize we did that. I don't think we should. Please advise.

[2015-11-27 18:55] dvoytenko commented on #1020
@vaso123 would you mind posting fragments of your CSS around the listed lines? I can't reproduce these errors. And also please include the browser type and version where you are seeing this.

[2015-11-27 19:03] dvoytenko commented on #909
@matcarey No one works on this right at this moment. Let's discuss on Monday how we can go about it?  I'm confident that we can start with some basic polling scenario and improve it. What are your thoughts on the protocol that AJAX call return?

Personally, I'm more concerned with user flow of this experience. E.g. avoiding page resizing and unexpected shuffles of UI, especially as the reader migh

[2015-11-27 19:59] Gregable commented on #1020
This doesn't sound like it's the validator emitting these errors. Those aren't errors the validator can produce, and the validator reports validation successful which would only happen if it didn't find any errors. They also appear before the AMP output, could these be the browser emitting errors?

[2015-11-27 20:26] amphtml-team commented on #1020
Thanks, Greg! In this case we definitely need to know browser info.
On Nov 27, 2015 11:59 AM, "Greg Grothaus" <notifications@github.com> wrote:

[2015-11-28 02:03] jmadler opened #1022 "Add test that validates samples"

[2015-11-28 02:06] cramforce commented on #1022
This exists already. I think we talked about it the other day.
On Nov 27, 2015 6:03 PM, "Jordan M. Adler" <notifications@github.com> wrote:

[2015-11-28 02:36] powdercloud commented on #1020
Perhaps these errors come from Firefox, the Firefox dev tools or some plugin, possibly at older versions. E.g.
https://github.com/mbostock/d3/issues/1805
http://stackoverflow.com/questions/4707747/how-to-prevent-css-declaration-dropped-errors-cross-browser
@vaso123 I think you should check for the plugins / addons / etc. that you're running. Make sure they're up to date, or disable them, and use a

[2015-11-28 19:02] dvoytenko commented on #1020
This sounds like the cause. We send both vendor prefixed and unprefixed
properties.
On Nov 27, 2015 6:36 PM, "Johannes Henkel" <notifications@github.com> wrote:

[2015-11-30 08:32] vaso123 commented on #1020
This is a Firefox Developer Edition, 44.0a2 (2015-11-26)

I will check it in safe mode too.

[2015-11-30 09:02] vaso123 commented on #1020
You were right guys, the first 3 errors was my fault. Now I fixed them, and restart firefox in safe mode:

------------------------------
Powered by AMP ⚡ HTML – Version 1448058695548 v0.js:23:12712

mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create v0.js:1:25374

Error in pars

[2015-11-30 16:28] jmadler commented on #1022
Ah - I thought as much but couldn't find evidence of it when I searched issues on GitHub.  Hopefully this issue will serve as my reminder next time :)

[2015-11-30 16:28] #1022 closed

[2015-11-30 17:49] mr-sonj opened #1023 "Scroll to play video html5"
I want to have function scroll to play for html5 video. I think that's great

[2015-11-30 17:50] cramforce commented on #1023
Could you be a bit more elaborate, please? Not sure what this request is about.

[2015-11-30 21:03] dvoytenko commented on #1020
@erwinmombay could you please take a look and respond? It's a warning in Firefox on setting prototype and it happens here:
[code]

[2015-11-30 21:12] jasti opened #1026 "Rubicon Ad tag not rendering in amp-ad but rendering via vanilla GPT"
I've created two test pages two show the difference :

1. A [plain GPT based page](https://github.com/jasti/amp-ads-testing/blob/master/troubleshooting/Rubicon/rubicon.non-amp.html) that is requesting a single Rubicon Ad that is being trafficked in DFP as a third party ad.
2. An [amp-ad based page] (https://github.com/jasti/amp-ads-testing/blob/master/troubleshooting/Rubicon/rubicon.amp.html) that

[2015-11-30 21:30] cramforce commented on #1026
This is most likely a very DFP specific thing. Probably best to compare the ad requests and see what is different. I validated that no ad is rendered, so it isn't a CSS problem or similar.

[2015-11-30 21:49] jasti commented on #1026
Thanks, Rubicon tag had an insecure script loading. Switching the tag from http://ads.rubiconproject.com/ad/7470.js to https://ads.rubiconproject.com/ad/7470.js worked.

[code]

[2015-11-30 21:49] #1026 closed

[2015-11-30 22:13] erwinmombay opened #1027 "upgrade to babel 6"
blocker: https://phabricator.babeljs.io/T6724

[2015-12-01 00:02] rudygalfi commented on #871
@philwills A more concrete example would help me understand better. Is the issue that the set of selectors that you'd want to trigger on isn't statically known or not enumerable (e.g. #row139)?

[2015-12-01 00:17] rudygalfi commented on #969
@cramforce What's the status/timing of completing this?

[2015-12-01 00:48] cramforce commented on #969
#977 is out for review, but hasn't gotten any review love while I was on vacation :)

[2015-12-01 01:11] cramforce opened #1032 "amp-bind: Easier toggling of classes"
I believe we discussed this before, but I think it might the time to do this.

[code]

or similar.

I'd like to avoid this being used to toggle ads, so I was thinking to limit it on elements that do not contain ads. One could still e.g. change zIndexes to put ads behind content. Anyone have an idea how to make it more foolproof?

CC @dvoytenko @rudygalfi

[2015-12-01 01:36] rudygalfi commented on #1032
@cramforce Do you think this is the same as #1017?

[2015-12-01 01:46] cramforce commented on #969
Page view id landed.

Exposing the client identifier is next.

[2015-12-01 01:56] #367 closed

[2015-12-01 04:19] #1013 closed

[2015-12-01 09:31] baynezy commented on #909
@dvoytenko what is your resistance to using an established push technology rather than polling? Sever-Sent Events, for example, would work with the syntax that @jmadler suggested and would allow near-instant updating.

[2015-12-01 15:40] cramforce opened #1035 "Move CID hash generation into worker"
More concretely we should generate a binary for https://github.com/ampproject/amphtml/blob/master/third_party/closure-library/sha384-generated.js that can live in a worker and performs signature generation in response to messages.

Eventually we'd have an API like

[code]

and then get a message event back with the signed

[2015-12-01 16:51] erwinmombay commented on #1035
@cramforce is sha384-generated.js currently built with amp.js/v0.js ?

[2015-12-01 16:55] dvoytenko commented on #909
@baynezy I was intending to say that most of my concerns are after the update signal has been received. Long polling doesn't seem like a bad choice given that it's more or less universal and would likely be part of the final solution anyway. But what do you have in mind for an established push technology? We can go straight to websockets but then we will need to immediately come up with the fallba

[2015-12-01 16:57] cramforce commented on #1035
No, and it won't be. It'll be build into amp-analytics and while other components will be able to use it, it'll only work if amp-analytics is on the page.

[2015-12-01 17:18] mterenzio commented on #909
In addition to:

<amp-to-be-named update-interval=30>
  <template type="amp-mustache">
    <div class=blogpost>
      {{...}}
    </div>
  </template>
</amp-to-be-named>

might not there also be something like:

<amp-to-be-named-update-button action="true" />

Upon clicking would update the mustache template with the new data.

Values for action might be "append", "prepend", "replace"

On Tue, Dec

[2015-12-01 17:23] philwills commented on #871
Currently we have some generic click tracking set up where for any click, we walk up the tree looking for an element with a `data-link-name` attribute and another with a `data-component` name allowing us to track pretty much anything by just sticking to a naming convention. There are *lot* of components on the site and the number of different link names is way beyond what you could reasonably enum

[2015-12-01 17:24] ithinkihaveacat commented on #981
What's the objective here? `importScripts()` works cross-origin, so you really only need a stub service worker on the CDN itself. (Which it probably doesn't support right now, but still, supporting that might make for an easier "fix".) `importScripts()` does make upgrading the service worker more difficult.

[2015-12-01 17:30] cramforce commented on #981
@jmadler is looking for the ability for the page on the CDN to install a SW that would only be active on the origin of the doc. I'm not currently convinced we actually want to to support that.

Letting people install SWs on the CDN isn't entirely crazy, but would require a lot of thought.

[2015-12-01 18:07] NataliaLKB opened #1037 "Validator support for `amp-font`"
![image](https://cloud.githubusercontent.com/assets/8774970/11509443/04947526-9856-11e5-85e4-bab6bcb99199.png)

We have started experimenting with `amp-font` on our pages. When will the validator be updated to support the `amp-font` tag?

Thank you!

[2015-12-01 18:17] erwinmombay commented on #1037
/cc @dvoytenko @powdercloud

[2015-12-01 18:45] #884 closed

[2015-12-01 18:51] powdercloud commented on #1037
We have not updated the released Javascript yet because we're trying to keep it roughly in sync with the web indexing support at Google, to reduce confusion. However, it's implemented, so it should happen soon (days, possibly weeks due to the Thanksgiving break here in the US). https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii (do a CTRL+F for amp-font).
Why is it us

[2015-12-01 19:25] dvoytenko commented on #943
I think we can merge asserts via logs. E.g. let's say we have to logger instances: `devlog` and `publog`. And let's assume that `devlog` is removed for PROD/minified build. Then things should be rather clear:

This will be a dev-only assert that will be stripped:
[code]

vs, this assert will be preserved:
[code]

[2015-12-01 19:27] erwinmombay commented on #943
@dvoytenko one of the issues is that we do this sometimes:

[code]

[2015-12-01 19:29] erwinmombay commented on #943
which isnt a big deal, since i can skip it. but also i can do what closure compiler does where it will only DCE the assert and turn

[code]

into:

[code]

i haven't looked into implementing that yet though.

[2015-12-01 20:06] dvoytenko commented on #943
As discussed, we can start by keeping asserts as they are. But if we decide to merge them with loggers, I think it'd be easy enough to remove assert, but keep the expression itself.

[2015-12-01 20:52] jmadler commented on #981
For context: https://github.com/ampproject/amphtml/pull/954#discussion-diff-45132552

[2015-12-01 22:32] cramforce commented on #1005
LGTM

[2015-12-02 00:45] erwinmombay commented on #1005
closed via #1006

[2015-12-02 00:45] #1005 closed

[2015-12-02 04:40] #342 closed

[2015-12-02 15:54] NataliaLKB commented on #1037
@powdercloud thanks for your answer. It does make sense to keep things in sync with the indexer. As much as possible, I certainly support synchronising your releases.

Given that `amp-font` is a component listed in the [spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-components.md) that we have been encouraged to test, is it possible to give a clearer idea of when this will b

[2015-12-02 19:43] mister-ben opened #1048 "Intent to implement: Brightcove player embed"
This proposed [`amp-brightcove` component](https://github.com/BrightcoveOS/amphtml/tree/brightcove/extensions/amp-brightcove) would embed a responsive Brightcove player in an iframe. This single component would support publishers using either Brightcove's Video Cloud or Perform products.

Attributes specifying the publisher's account, player and video ids determine the embed url that will be used.

[2015-12-02 19:45] dvoytenko commented on #1048
@mister-ben Is this something you'd like to take a stab at?

[2015-12-02 19:47] dvoytenko commented on #909
@matcarey feel free to ping us at any time on slack if you'd like to discuss any details.

[2015-12-02 19:56] matcarey commented on #909
Thanks, I've just signed up and started a chat.

[2015-12-02 20:35] mister-ben commented on #1048
Certainly. I've put a working example together at https://github.com/BrightcoveOS/amphtml/tree/brightcove/extensions/amp-brightcove

[2015-12-02 21:50] powdercloud commented on #1037
@NataliaLKB We can't promise (too many moving parts) but we're hoping amp-font should arrive next week. Will post an update here.
As for the spec, I think the problem is that thus far it doesn't have a release process so we may have some version skew there as well. Sorry there isn't a good answer yet.

[2015-12-02 21:52] erwinmombay commented on #1037
@dvoytenko brought up the idea of having a place to see the status for anything new we've announced/built to help in the future.

[2015-12-02 21:59] kevinmarks opened #1050 "Is there a published way for me to embed AMP pages in my site?"
It's not clear from the docs

[2015-12-02 22:15] Gregable commented on #999
Update, @powdercloud just issued https://github.com/ampproject/amphtml/pull/1051 which will make the development attribute a plain old development error instead of a "production warning". The attribute still does in fact trigger the validator, so the runtime is unaffected, but I'd like to remove that functionality too so as to make this as simple as possible.

[2015-12-02 22:20] cramforce commented on #1050
@kevinmarks Could you elaborate what exactly you mean with embedding an AMP page into a site?

[2015-12-02 22:22] cramforce commented on #1048
LGTM

[2015-12-02 22:38] dvoytenko commented on #1048
Looks great. I have a few comments that would be easier to discuss in PR. Thanks!

[2015-12-02 23:47] mister-ben commented on #1048
Thanks. Closing in favour of PR #1052. Look forward to your feedback.

[2015-12-03 00:07] dvoytenko commented on #1048
Let's keep this open until we merge the PR.

[2015-12-03 00:16] kevinmarks commented on #1050
Clearly I could just iframe it, what I meant is there a documented way to take advantage of the kinds of caching and preloading shown in the google news search demo?

[2015-12-03 01:08] cramforce commented on #1050
@kevinmarks Ah, no because we don't have such a thing yet in a reusable state. It is on our medium term radar to make this available. Working on it as fast as we can.

[2015-12-03 02:45] cramforce opened #1055 "(chore) Port services to have independent factory files and implementation."
In particular we'd like to do this for all services that are always eagerly loaded in the main JS binary. Because then extensions do not redundantly load the implementations – which will decrease their JS size.

Services are just files that use the "src/service.js" module and typically have a somethingFor method.
# 1039 does this for the history service and all other services should be converted i

[2015-12-03 16:43] mister-ben commented on #1048
Thanks for the feedback on the PR. I think I've addressed those issues.

[2015-12-03 20:03] avimehta opened #1061 "[Amp Analytics]: Add support for sending analytics data with sendBeacon."
This is part of spec defined in #871.

[2015-12-03 21:54] rudygalfi opened #1064 "Support #development=experimental so validation doesn't complain about in-development features"
"#development=experimental" would runs the JS validator at the same version as the rest of AMP (as opposed to the prod version).

cc @cramforce

[2015-12-03 22:08] rudygalfi opened #1065 "Clarifications re: experiments"
A question and few requests regarding AMP experiments.

Question: Is changing the settings at https://cdn.ampproject.org/experiments.html == using the console to  do `AMP.toggleExperiment('experiment-name')`? If so, why does it seem like these are out of sync for me?

Requests:

[1] https://github.com/ampproject/amphtml/blob/master/tools/experiments/README.md says

but it should say:

[2] More inf

[2015-12-03 22:32] rudygalfi opened #1066 "Better document development and testing workflows involving in-development and experiment-enablable features"
There should be a page that provides best practices and guidelines relating to how to work with features that are partially built and under development and those that can be enabled via experiments. (These may be one and the same!)

- What are the common flows and use cases related to turning on experiments to test a new feature?
- Should you do testing only locally or is it ok to deploy to prod i

[2015-12-03 23:07] Gregable commented on #892
Looking at this in more detail now...

For the "type", is "amp-mustache" the only currently allowed value? Will make it quick to add new ones, I just want to be sure that this is the only one for now.
__Guess__: Yes, "amp-mustache" is the only currently allowed type.

For amp-mustache, what is the src= value that we are looking for in the script tag? Clearly we can't allow any value there as it'll

[2015-12-04 01:28] dvoytenko commented on #892
Yes. Special-case all the way.

This is the same spec as for elements - so whatever we do, e.g. for `amp-iframe` elements.

By default any value.

See examples here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/amp-list.md

I think this is wrong. According to https://html.spec.whatwg.org/multipage/scripting.html#the-template-element it's allowed anywhere where a phrasing o

[2015-12-04 01:44] dvoytenko commented on #1065
I fixed (1) and (2) in #1069.

Which URL are you trying to call `AMP.toggleExperiment` on? The experiment control is per-domain. The `experiments.html` page enables it for `cdn.ampproject.org`. `AMP.toggleExperiment` enables it for the current domain.

[2015-12-04 02:12] rudygalfi commented on #1065
@dvoytenko Thanks for the fixes!

The URL was theguardian.com. Your explanation makes sense and answers my question.

I think [the docs](https://github.com/ampproject/amphtml/blob/master/tools/experiments/README.md) can be better. Something like:

[2015-12-04 02:19] dvoytenko commented on #1065
#1070 is assigned to you for review.

[2015-12-04 02:35] #1065 closed

[2015-12-04 06:38] varshvpatil commented on #385
I was using display:flex for image div, which made image invisible, I had to use display:block to solve the problem, I hope you can make it work even if we use display:flex

[2015-12-04 15:47] NataliaLKB commented on #1037
@erwinmombay @dvoytenko that sounds like a good idea. Keep us updated! :smile:

[2015-12-04 16:38] dvoytenko commented on #385
Indeed a raw `display:flex` on container and `layout=responsive` will not work together. There's not much that we can do by default given that this is CSS behavior: the `layout=responsive` takes the available to it width and the `display:flex` container reports that this width is 0.

But you can instruct flexbox on how much space to give to the image by styling it with `flex-basis` like this: http

[2015-12-04 17:35] #1048 closed

[2015-12-04 18:38] mister-ben commented on #1048
Thanks for merging the PR! Do merged extensions eventually get added to the CDN hosting at cdn.ampproject.org?

[2015-12-04 18:46] cramforce commented on #1048
We typically do weekly releases (thursday) but @erwinmombay might do one later today.

[2015-12-04 18:47] erwinmombay commented on #1048
yep, i will be doing a release in a couple of minutes.

[2015-12-04 18:55] dvoytenko opened #1078 "Validator rules for amp-list element"
Support `amp-list` element in validator. For rules see: https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/amp-list.md

[2015-12-04 18:57] dvoytenko opened #1079 "Validator rules for amp-brightcove"
Support `amp-brightcove` in the validator. See https://github.com/ampproject/amphtml/blob/master/extensions/amp-brightcove/amp-brightcove.md for more info.

[2015-12-04 19:00] dvoytenko commented on #1048
One quick note - the validator rules have not been updated yet. The release will happen, but there will be errors in console. See #1079. This will allow anyone to experiment freely and hopefully the validator will be updated shortly.

[2015-12-04 22:45] avimehta opened #1081 "[Amp Analytics]: Move analytics config inside a child script tag of <amp-analytics>"
[code]

Discussion here: https://github.com/ampproject/amphtml/pull/982#discussion_r46492360

[2015-12-04 23:33] erwinmombay commented on #1027
relevant bug, but not blocker: https://phabricator.babeljs.io/T2892

[2015-12-04 23:33] #652 closed

[2015-12-04 23:33] erwinmombay commented on #894
closing in favor of https://github.com/ampproject/amphtml/issues/1027

[2015-12-04 23:33] #894 closed

[2015-12-05 00:19] dvoytenko commented on #892
Tested on all browsers, we can skip `<{{tag}}>` validation - `<template>` element guarantees well-formed HTML for us here.

But we have two new rules:

1. Unescaped-mustache is NOT allowed in attribute value.
2. '{' and '}' are not allowed in "data-" attribute names

[2015-12-06 08:01] powdercloud opened #1082 "amp-analytics should have mandatory nodisplay layout, much like amp-font"
I noticed that the recently contributed amp-analytics.js says: isLayoutSupported(layout) { return true; }
I don't think that's cool, it's too loose and means that any layout can be attached to this tag, but that kind of makes no sense because an analytics thing doesn't really have a layout - or does it?
If the analytics engine creates a single pixel, then it should be FIXED, like amp-pixel. This m

[2015-12-06 20:59] jpettitt commented on #1050
The logical thing to do is have the AMP page notice if it's framed and if so post a message to the parent frame with the height of the <body> element on initial load and in response to any resize events. This would let the framing page resize the iframe appropriately.

Beyond that it would be nice to allow the framing page to pass in style hints (colors, font metrics, fonts) as #parameters so the

[2015-12-07 04:26] mr-sonj opened #1085 "Consider Exposing Some video-related events with AMP's on-syntax"
I've tried add attribute onended="run();" , but it not working?.

Edited - @mkhatib:
This combined with other triggers could allow for example to close a dialog box when the video is done.

[code]

Or allow auto advancing to next slide in carousel if/when #5210 is supported:

[code]

[2015-12-07 04:33] #1023 closed

[2015-12-07 10:50] mister-ben commented on #1048
Great, I see it on the CDN now. Thanks!

[2015-12-07 13:52] mister-ben commented on #1048
Just a couple more questions, around the validator.

- Can the component be used on production pages today, or do publishers need to wait until the validator is updated? For example, would this negatively affect page rankings?
- How often is the validator updated, typically?

[2015-12-07 14:18] Huanzhang89 commented on #871
I'm trying to use the built-in tag for google analytics, is there a reason for the first curly brace to not be closed? Same for the first curly brace on "triggers"

<amp-analytics type="google-analytics">
**{**
  "vars": { "account_id": "UA-123456-7" }
  "triggers": **{**[{
    "selectors": "a .outbound",
    "on": "CLICK",
    "vars": {
      "event_category": "All",
      "event_label": "outboun

[2015-12-07 14:20] dmitrymotorin opened #1086 "Amp-analytics not valid"
Validator returns DISALLOWED_TAG amp-analytics (using the #development=1) at AMP analytics example html (analytics.amp.html).

[2015-12-07 18:00] dvoytenko opened #1087 "Support validation of amp-analytics"
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md

@avimehta to confirm `script` situation.

[2015-12-07 18:01] dvoytenko commented on #1086
Thanks! The amp-analytics has not yet made the validator. See #1087.

[2015-12-07 18:01] #1086 closed

[2015-12-07 18:09] cramforce opened #1088 "Remove AMP "house ad" backfill"
See https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.js#L38

This doesn't make sense in the full launch.

[2015-12-07 18:11] cramforce opened #1089 "Collapse empty ads in situation where iframe resizing is allowed"
If we are allowed to resize the iframe of the ad and there is no ad to serve, remove the ad from the page.

CC @kashyapnitin

[2015-12-07 18:22] dvoytenko commented on #871
+ @avimehta

[2015-12-07 18:25] dvoytenko commented on #1085
No "on*" attributes are allowed in AMP and no custom javascript. Could you please describe what you would like to do on video end in your use case?

[2015-12-07 18:41] dvoytenko commented on #1048
@mister-ben

Yes. Unfortunately, they have to wait. But they can definitely experiment, try things, provide feedback, etc.

We will try to do this by the end of this week. We are currently in the process of streamlining the release cycle for validator. Eventually we hope to get the updated at nearly the same time, but not there quite yet.

[2015-12-07 20:07] mister-ben commented on #1048
Great. Thanks for the info and making this a painless process.

[2015-12-07 20:10] avimehta commented on #871
@Huanzhang89 the closing braces should be there. I think they got left out during conversion to markdown

[2015-12-07 20:53] rudygalfi commented on #1009
#1087 covers this and has more info. Closing this.

[2015-12-07 20:53] #1009 closed

[2015-12-07 20:54] rudygalfi commented on #1087
@dvoytenko Can you clarify your ask of @avimehta re: the `script` situation?

[2015-12-07 22:08] ryanlombardo commented on #945
@rudygalfi To confirm, yes, this is more-or-less exactly what we already do on mobile-web.

[2015-12-07 22:30] dvoytenko commented on #1087
@rudygalfi see #1081

[2015-12-07 22:50] pbakaus opened #1092 "Add meta-data example for OpenGraph (i.e. Facebook) syndication"
The folder at https://github.com/ampproject/amphtml/tree/master/examples/metadata-examples does not have any examples of OpenGraph meta-data. OpenGraph is required to properly share things on platforms such as Facebook.

[2015-12-07 22:51] pbakaus opened #1093 "Add meta-data example for Twitter (Twitter card)"
The folder at https://github.com/ampproject/amphtml/tree/master/examples/metadata-examples does not have any examples of Twitter card meta-data. Twitter cards are required to properly share things on Twitter.

[2015-12-08 03:34] avimehta commented on #1087
We'll be shortly changing the amp-analytics tag to host all the config
inside a script tag. I think dima is talking about that.

Avi
On Dec 8, 2015 4:00 AM, "Dima Voytenko" <notifications@github.com> wrote:

[2015-12-08 04:28] mr-sonj commented on #1085
I want to count the number of iterations video, then add source video new

[2015-12-08 04:59] dvoytenko commented on #1085
Let me try to repeat it: you'd like to run a video for a few iterations and then set a new video source?

[2015-12-08 05:02] mr-sonj commented on #1085
yes

[2015-12-08 11:43] dmitrymotorin commented on #1087
@dvoytenko Can we make a release with non-valid analytics at our articles? Or it will be better to wait for validator update? Thank you.

[2015-12-08 11:57] NataliaLKB opened #1095 "Amp-font: Unhandled Promise Rejection"
When trying out amp-font, I receive an error:

![image](https://cloud.githubusercontent.com/assets/8774970/11654983/d733af2e-9da1-11e5-85b7-0321e7306b68.png)

The font works fine when used regularly (just using` font-face`).

Is this an error you could help me with? The test page is [here](http://www.thegulocal.com/australia-news/postcolonial-blog/2015/jul/21/enduring-controversy-bp-sponsorship-ig

[2015-12-08 12:51] R-O-P commented on #871
Hello everyone,
I am ready to start experimenting with a custom tracker, perhaps I missed it but what is the best way to set up a sandbox or dev environment to try these things out?

[2015-12-08 12:55] R-O-P commented on #871
@cramforce, are there any disadvantages of using the external config versus the inline solutions?
I imagine an implementation in which our TMS produces an external config that has my internal values for categorizing our content and users. I am thinking something like:
<amp-analytics
  config="my-nyt-config.com/pub=123456&contentId={{12121212}}"></amp-analytics>

[2015-12-08 13:21] avimehta commented on #1087
waiting would be better imho. the tag itself is under experiments currently so shouldn't be used in production.

[2015-12-08 13:32] cramforce commented on #1095
Thanks for the report! Assigning to @sriramkrish85

[2015-12-08 13:42] cramforce commented on #871
@R-O-P main disadvantage is higher latency until analytics is configured.

@avimehta Is this ready to be build against?

[2015-12-08 14:33] baynezy commented on #909
@dvoytenko I really like [Server-Sent Events](https://en.wikipedia.org/wiki/Server-sent_events) as it is standard HTTP and you can fall back to long polling using a [polyfill](http://html5please.com/#eventsource) if necessary. I prefer solutions that embrace [standards](http://www.w3.org/TR/eventsource/).

[2015-12-08 15:34] dcilibiu opened #1097 "amp-brightcove and ads served via DFP"
Hello.
I have an issue with some ads. On the main article the ads are displaying on videos but on amp version the ads are not visible.
I've followed the way BC is added to the page but pre-roll ads served via DFP are not showing.
Are they supported? I should be doing something special to activate this feature?
Thank you.

[2015-12-08 17:00] Huanzhang89 commented on #871
@avimehta thanks I have implemented the <amp-analytics> tags in our codebase but I need to include the amp-analytics.js file from the ampproject cdn, otherwise the config JSON just shows up as `[object object]`. Can you provide a link?

[2015-12-08 18:01] dvoytenko commented on #1097
/cc @cramforce @mister-ben

[2015-12-08 18:16] mister-ben commented on #1097
It should "just work", as it does [here](http://solutions.brightcove.com/bclifford/demo/player/amp.html) with a DFP sample ad. Make sure that the player configuration contains all the all settings. If you rely on modifying the ad settings in an in-page script on regular HTML pages, that wouldn't work here. Do you have an example page?

[2015-12-08 19:05] cramforce commented on #1097
One frequent problem is with non-HTTPS creatives.

On Tue, Dec 8, 2015 at 1:16 PM mister-ben <notifications@github.com> wrote:

[2015-12-09 01:13] Gregable commented on #1037
The validator now supports amp-font.

[2015-12-09 01:14] Gregable commented on #498
The validator now supports whitelist separated values in the link tag's rel attribute.

[2015-12-09 01:47] sriramkrish85 commented on #1095
@NataliaLKB , You are seeing this error because the font takes too long to download (default is 3s), if you want you can set a timeout attribute > 3000 and see if it loads.

I will send a PR soon that will have an warning (rather than an error) that is easy to read.

[2015-12-09 01:53] cramforce commented on #1095
Yes, making this a warning sounds good. And lets spell out exactly what
happened.

On Tue, Dec 8, 2015 at 7:47 PM Sriram Krishnan <notifications@github.com>
wrote:

[2015-12-09 02:46] sriramkrish85 commented on #1079
@mister-ben, I am trying to implement a validator for `amp-brightcove`. I was going through the [spec](https://github.com/ampproject/amphtml/blob/master/extensions/amp-brightcove/amp-brightcove.md).

I was not able to follow which attributes are optional and which ones are mandatory.

I think

data-account - mandatory
data-player - optional
data-embed - optional
data-video-id - optional
data-playl

[2015-12-09 03:05] sriramkrish85 commented on #1095
@NataliaLKB - Made a console.warn - to give some useful message. Let me know if you are able to get the font to load after increasing your timeout. Closing this issue for now. Feel free to re-open if required.

[2015-12-09 03:05] #1095 closed

[2015-12-09 03:54] dvoytenko commented on #1079
@sriramkrish85 we are not validating `data-` attributes.

[2015-12-09 03:56] #1037 closed

[2015-12-09 03:56] #498 closed

[2015-12-09 04:57] powdercloud opened #1109 "Retire container layout?"
@dvoytenko I think you mentioned container layout today, but I don't recall whether we're planning to remove it or use it in the future. It seems it's not used for now by any of the amp builtins or by the extensions.
Apart from simplifying the code, removing it could help provide better error messages, because it serves as the fallback when no width, height, layout are given. If we made FIXED the

[2015-12-09 07:11] dvoytenko commented on #1109
It's not currently used, but we are not ready to make a decision on it yet.

[2015-12-09 10:56] mister-ben commented on #1079
Only `data-account` is mandatory to create a player. Publishers will almost always need `data-player` and `data-video-id` to have a useful player, but I didn't want to exclude edge cases where the account's default player configuration really is what they want.

[2015-12-09 11:10] adactio commented on #498
:+1:

[2015-12-09 13:31] systemaddict commented on #979
Facebook will probably never help develop this. So is there an alternative route?

[2015-12-09 13:43] Francis47 commented on #1092
OpenGraph meta-data seems to validate fine

[2015-12-09 15:14] dmitrymotorin opened #1111 "Tracking services including"
Hi guys,
We've a few tracking services such as:
- viglink
- google tag manager
- facebook events
- goroost
- chartbeat
Would it be the right way to include these tracking services via script async or will it be implemented as amp tags in future?

[2015-12-09 15:25] cramforce commented on #979
@systemaddict I don't actually agree that they'd never do it, but such an embed doesn't necessarily need to be made by Facebook. The same implementation strategy we use for tweets should be fine.

[2015-12-09 15:48] cramforce commented on #1111
CC @rudygalfi

[2015-12-09 16:43] NataliaLKB commented on #1037
Thanks, that is great :smile: !

[2015-12-09 16:59] NataliaLKB commented on #1095
@sriramkrish85 thanks so much for taking a look.

The first thing I tried is increasing the timeout to 10s (10000). Loading the font through `font-face` seems to be instantaneous, certainly not 10s. Unfortunately it still doesn't work. For good measure I also tried it with 100s and no joy.

Can you think of anything else to try, or that I may have done wrong?

[2015-12-09 17:11] sriramkrish85 commented on #1095
@NataliaLKB , you will have to use the

    on-error-remove-class
    on-error-add-class
    on-load-remove-class
    on-load-add-class
to be able to use amp-font efficiently

You can take a look at examples/font.amp.html for usage and give it another shot, or ping me a gist of what you are trying and i would be happy to take a look.

[2015-12-09 17:13] NataliaLKB commented on #1095
@sriramkrish85 currently on the page referenced above I have:

[code]

[2015-12-09 17:16] NataliaLKB commented on #1095
Here is the test page: http://www.theguardian.com/australia-news/postcolonial-blog/2015/jul/21/enduring-controversy-bp-sponsorship-ignites-new-row-over-british-museums-indigenous-exhibition/amp

[2015-12-09 17:26] RonanDrouglazet opened #1113 "Ad viewability"
Hi,

At this moment, the API `window.context.observeIntersection` fires callback only on scroll end (but really at the end !)
So we can't get changes with accurately. Actually, the viewability does not fires a lot.. sometime never fire (even if the scroll is ended)

e.g:
- user never stops scrolling and pass through our ad, we never receive the notification from viewability

- user keeps his finge

[2015-12-09 17:38] dvoytenko opened #1114 "Template sanitizer: sanitize URL schemes with whitespace"
IE and Chrome ignores newlines and tabs in schemes but our validators dont. Example:
[code]

See http://output.jsbin.com/jikofovile

[2015-12-09 17:38] dvoytenko commented on #1114
/cc @Gregable

[2015-12-09 18:37] uniquelygeneric commented on #871
Can you clarify how the host can be specified?

1. Will it be possible to specify more than one host? (Is host a repeated field? If not, can it be?)
2. Can the host field accommodate specifying a subdomain? (or multiple subdomains?)

Context on the above: We (Nielsen) currently use subdomains to route to country-specific servers and for production/testing environments.

[2015-12-09 18:44] btownsend opened #1116 "Add support for built-in (platform) variables to amp-analytics"
Implement support for the list of amp-analytics built-in variables described in #871

Built-in variables will be expressed in amp-analytics config objects using the same placeholder syntax already used for trigger.vars and config.vars.  For example, `${domain}`.

In the event a built-in variable identifier conflicts with a trigger or config var identifier, the lookup precedence is trigger var > co

[2015-12-09 18:50] btownsend commented on #1116
Note that there is some overlap in values provided by built-in variables and values provided by `UrlReplacements` substitutions, which amp-analytics also supports (e.g. `${domain}` vs. `DOMAIN`).

I think this should be fine (so that a publisher may choose to consistently use ${} syntax if desired) but the implementation should be consistent (e.g. `${domain}` will also resolve to `UrlReplacements.

[2015-12-09 20:53] sriramkrish85 commented on #1095
@NataliaLKB , thanks for the link to help debug the issue. I have pushed a fix. You should be good now (I also saw that this was already working on mobile safari without my fixes. My fixes would make this more stable.)

[2015-12-09 20:55] erwinmombay commented on #1095
we need to do a release btw if we want them to receive the fix.

[2015-12-09 20:55] #1114 closed

[2015-12-09 21:01] rudygalfi commented on #1111
You will not be able to run these directly as you would on a non-AMP page, even using script async. It will need to be handled via the amp-analytics tag (#871).

The way amp-analytics is set up, you can either use "vendor labels" or you can do all of the configuration ad hoc by defining the relevant attributes, including where the ping goes.

We expect that Chartbeat will be available via the vend

[2015-12-09 21:11] rudygalfi commented on #871
@btownsend Can you clarify the intended behavior in @uniquelygeneric's question?

Would it be possible to add this support?

cc @avimehta

[2015-12-09 21:12] dvoytenko commented on #1116
Syntax aside I'd like to make sure that we have the same variables where makes sense and that they are resolved by the same codepath. E.g. UrlReplacement.CANONICAL_HOST is the same as `${canonical_host}`.

[2015-12-09 21:22] erwinmombay commented on #1095
@NataliaLKB latest release should be out within the hour https://github.com/ampproject/amphtml/releases

[2015-12-09 21:25] Meggin commented on #425
Jordan, we spent a great deal of time refining the docs on ampproject.org. Is it enough to close this and mark as fixed?

[2015-12-09 21:31] Meggin commented on #579
We just launched quite a bit of docs in ampproject.org, with a much clearer link to them in the menu. Hpe this is a bit better.

[2015-12-09 21:32] Meggin commented on #532
I've done my best to make sure <style> tags are <style amp-custom>. Agree we should automate this in validator. Should I raise a different kind of issue then to make sure this happens? Having worked a bit with the validator for ampproject.org, I've got a few suggestions for the validator, so I'll put together some thoughts on what that might be and create one or more issues for tracking.

[2015-12-09 21:44] sriramkrish85 commented on #532
@Meggin FYI we will be removing amp-custom once the validator for the new amp-boilerplate is ready

[2015-12-09 22:46] btownsend commented on #1116
Agreed that expansions of equivalent vars (e.g. `${title}` and `TITLE`) should share the same code.
Considering two alternatives:
  1. `AnalyticsPlatformVars.expand('${title}')` delegates to `UrlReplacements.expand('TITLE')`

  2. Add functions to `document-info.js` and have both `AnalyticsPlatformVars` and `UrlReplacements` delegate to it.

Thoughts?

[2015-12-09 23:03] btownsend commented on #871
@uniquelygeneric

1. We hadn't intended to support multiple hosts (other than by including two separate `amp-analytics` tags in a document.) Do you have a use case where you're sending an identical payload to multiple hosts?

2. Yes, the host string can include multiple levels of sub-domains (and optionally a port.)

[2015-12-09 23:35] erwinmombay commented on #1055
@AaronCritchley is interested on working on this one.

[2015-12-09 23:47] dvoytenko commented on #1116
I think to start with, simply delegating to UrlReplacements is good. We may reconsider it later, but I think it'll get us going for now. Currently UrlReplacements is used for amp-pixel, amp-list and now amp-analytics. The documentation is here: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md

But the ultimate goal is to make it serve all of these cases very well.

[2015-12-10 00:18] cramforce commented on #1055
Great. Lets do it one or 2 services at a time for PRs. Just comment the once you have in-flight here.

[2015-12-10 01:10] powdercloud commented on #1079
I'd like to point out that to support the potential edge case of the default player configuration, as proposed we're not checking against the common error of mistyping attribute names. Say I type data-videoid, I'll get the edge case by accident.
These unchecked data attributes may feel lightweight, but they require users loading the pages in a browser and inspecting whether it works, rather than c

[2015-12-10 01:18] sriramkrish85 commented on #1079
@mister-ben i like what @powdercloud is suggesting - could you state the right combination of rules so that we can have the right validation rules. do you think that we could use `mandatory_oneof` for some of the attrs?

[2015-12-10 01:39] NataliaLKB commented on #1095
That is great! Thank you so much!
On Dec 9, 2015 9:23 PM, "erwin mombay" <notifications@github.com> wrote:

[2015-12-10 04:00] #579 closed

[2015-12-10 04:02] cramforce commented on #1113
I'll take a look. We will definitely throttle it, but we do want to send event during scrolling.

[2015-12-10 11:11] NataliaLKB commented on #1095
Just tested it out, and it works great now.

Thank you :smile:

[2015-12-10 17:57] uniquelygeneric commented on #871
@btownsend

Just to clarify, will a single analytics provider be allowed multiple <code>amp-analytics</code> tags? If not, a use case of multiple hosts would be for data enrichment providers (e.g. <code>"host1": "my-analytics.com", “host2”: “their-analytics.com”</code>)

[2015-12-10 19:23] btownsend opened #1124 "Add clientId support to amp-analytics"
The clientId API (`src/cid.js`) requires parameters that specify the client id's namespace and consent.

We need a way to express these parameters in amp-analytics configuration blocks, and need to determine when and how consent is presented.

[2015-12-10 19:53] cramforce commented on #1124
I'm working on this, but one thing you can think about already:

It'll be asynchronous (exposed as a promise), so your code needs to be able to handle that.

[2015-12-10 20:43] dvoytenko opened #1125 "Sanitizer: blacklist LINK tag"

[2015-12-10 20:43] dvoytenko commented on #1125
/cc @Gregable

[2015-12-10 21:00] j-e-shaw opened #1126 "Provide a measurement when a callback is registered while the element is already being observed"
In the case where 2+ parties wish to observe an intersection, the first to register will get an initial measurement. If the latter parties attach a callback after the first message is received, they will not receive a measurement until there is a change.

I think a measurement should be provided to the 2nd+ party shortly after registering the callback even if there has been no change since the 1st

[2015-12-10 21:10] cramforce opened #1127 "Blacklist service install function"
So, they only get installed in the right places.

[2015-12-10 22:00] #1125 closed

[2015-12-10 22:41] #1088 closed

[2015-12-10 22:55] cory-work commented on #871
Is there any appetite for allowing a post to an iframe based on a trigger? What I'd like to do is load up an iframe that has all of our JavaScript and then post to that iframe and let it handle the beacon call.

[2015-12-10 23:46] erwinmombay commented on #1078
closing this one.

[2015-12-10 23:46] #1078 closed

[2015-12-11 13:19] kzap commented on #871
Would it be possible to add POST support, custom HEADER support and nested objects.

Basically I want to write an implementation for this:
https://segment.com/docs/libraries/http/#page

and that would allow all those related analytics that Segment supports to be used rather than having to support X analytics packages...

or should i just write my own custom extension?

[2015-12-11 15:02] cramforce commented on #871
@uniquelygeneric We definitely would like to NOT support an iframe with custom JS per analytics provider. The point of this is to make the cost of N analytics providers in terms of JS and instrumentation be O(1).

@kzap I think adding POST could be done in theory, but that puts you outside of the scope of the sendBeacon API, right? And you probably want reliable delivery of the request.

[2015-12-11 17:25] mister-ben commented on #1079
Good points, but I'd like to leave it less strict. There are two types of publisher using Brightcove players: those using Video Cloud (Brightcove's OVP) who need either `data-video-id` nor `video-playlist-id`, and those using Perform (Brightcove's standalone player service) who will not. The alternative is maintaining two components.

[2015-12-11 18:05] cramforce commented on #871
Should have mentioned @cory-work in previous comment. Edited.

[2015-12-11 18:39] dvoytenko opened #1137 "Add "validate fragment" API to validator"
We need a "validate fragment" API. Or, ideally, it'd be even nicer if we had a separate entry point binary with only this API - this way we should be able to DCE unrelated stuff.

[2015-12-11 19:15] Gregable commented on #1137
DCE?

[2015-12-11 19:28] dvoytenko commented on #1137
Dead-code-elimination. comes for free with Closure compiler.

[2015-12-11 19:30] ds0001 commented on #1089
:+1:

[2015-12-11 19:31] dvoytenko opened #1138 "Sanitizer: use AMP validator instead"
Blocked by #1137.

[2015-12-11 20:32] #1081 closed

[2015-12-11 20:42] sriramkrish85 commented on #1079
Cool - Validator should be available with the next release!.

[2015-12-11 20:42] #1079 closed

[2015-12-11 20:54] cramforce opened #1141 "amp-analytics should use layoutCallback instead of buildCallback"
This automatically prevents it from running while doc is in prerender mode. We want to keep CPU usage in that time as low as possible which is why it should be delayed.

CC @rudygalfi

[2015-12-11 20:55] cramforce commented on #1141
Actually I'll do this, because it make my client id changes easier.

[2015-12-11 20:57] cory-work commented on #871
@cramforce, I'm not suggesting that an iframe per analytics provider but rather that a content owner could add their own iframe that has their analytics code such that the amp-analytics tag could post to that iframe. This way content owners could reuse any analytics setup between amp and non-amp pages.

[2015-12-12 01:29] #1124 closed

[2015-12-12 01:29] #1141 closed

[2015-12-12 22:27] cramforce opened #1148 "Protect localStorage access with try-catch block as it may throw"
This is mostly for cid.

[2015-12-13 21:53] cramforce commented on #969
Fixed by #1146

[2015-12-13 21:53] #969 closed

[2015-12-14 00:53] fsencinas opened #1151 "layout attribute no longer validates"
The layout attribute no longer validates on major media tags (img, video...)
Is this attribute deprecated?

[2015-12-14 01:31] powdercloud commented on #1151
Thank you for saying hi! No, the layout attribute is not deprecated. However, we updated the checker so it catches more violations of the layouts spec, e.g., previously we (accidentally allowed) amp-img without width and height, but now it'll say something along the lines of "implied layout CONTAINER invalid".

Can you please provide some example which isn't working for you?

[2015-12-14 02:13] dvoytenko commented on #1151
@fsencinas yes, please send the examples. The errors we previously only reported as warnings on the client-side, are now reported as errors in the validator. Let's see some examples of your errors.

[2015-12-14 02:18] dvoytenko opened #1152 "Brightcove layout no longer validates"
/cc @powdercloud

I'm getting this error: AssertionError: expected '/home/travis/build/ampproject/amphtml/examples/brightcove.amp.html:16:2 INVALID_ATTR_VALUE layout

See https://travis-ci.org/ampproject/amphtml/builds/96632492 for more details.

I can't explain this error. Validator.protoascii appears to be correct and I see no problem in https://github.com/ampproject/amphtml/blob/master/examples

[2015-12-14 02:20] dvoytenko commented on #1152
This also fails other elements.

[2015-12-14 02:50] dvoytenko commented on #1151
@fsencinas thanks for the report. I think I found the issue - there's a regression in some of the cases. I will fix it in a bit.

[2015-12-14 03:25] dvoytenko commented on #1151
Should be fixed in about an hour. Apologies for confusion.

[2015-12-14 03:25] #1151 closed

[2015-12-14 09:15] fsencinas commented on #1151
OK, lo of thanks @dvoytenko.
Now seems to be fixed.

Sorry for my late reply.

[2015-12-14 16:39] #1148 closed

[2015-12-14 16:46] #586 closed

[2015-12-14 19:19] cramforce commented on #1035
CC @jridgewell Might be a good project to get started in AMP. Talk to you later!

[2015-12-14 20:31] #1152 closed

[2015-12-14 20:31] dvoytenko commented on #1152
Fixed via #1154

[2015-12-14 20:52] #1111 closed

[2015-12-14 22:53] dvoytenko opened #1156 "Validator: add fragment validation API"
This API will eventually replace the current version of `sanitizer.js`. Its intent is to enable validation for the outputs produced by templates. The new API will look like this:

[code]

Some specifics:
1. The preamble/structure validation checks will be turned off such as overall HTML structure, HEAD, etc.
2. The `<script custom-element>` and `<script custom-template>` checks will be off.
3. We

[2015-12-14 23:33] dvoytenko commented on #1156
/cc @cramforce

[2015-12-15 00:00] #709 closed

[2015-12-15 00:09] cramforce commented on #1113
Dupe of #873

[2015-12-15 00:09] #1113 closed

[2015-12-15 00:13] cramforce opened #1158 "Make viewability info available to amp-iframe"
`amp-ad` currently has a feature where iframes can request IntersectionObserver like information about whether they are currently in view or not.

This should be made available to `amp-iframe` and ideally generalized to all iframe based embeds (but can be in a follow up).

[2015-12-15 00:14] cramforce commented on #1158
Relevant code is here
https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.js#L261

[2015-12-15 01:31] slightlyoff commented on #981
Sorry for the slow reply.

It's worth noting that a Service Worker can be installed via an `<iframe>` element. The way you might structure this in AMP is something along the lines of:

[code]

This allows any AMP article to bootstrap a SW for navigations to the eventual origin.

[2015-12-15 01:37] kzap commented on #871
k nvm about POST for now, Segment has a Pixel API for GET which uses base64 encoded data
https://segment.com/docs/libraries/pixel/
I'll come up with a Segment.com provider support and MixPanel if I have time, supporting Segment would mean a lot of other providers could be supported in turn

[2015-12-15 17:20] dvoytenko opened #1159 "Protect AMP.push from internal failures"
Currently, a failure AMP.push callback can derail other callbacks. Ideally we can protect from this either by try/catch or a microtask.

[2015-12-15 17:49] rudygalfi commented on #657
I see that markup relating to templates will now validate using #development=1; however, the feature is still experiment-guarded. Is there any update on when templates will be on-by-default? @dvoytenko

[2015-12-15 18:52] dvoytenko commented on #657
Looks like this Thursday, we just got thumbs up on security review.

[2015-12-15 19:02] cramforce commented on #1159
Oh, I see. Will fix.

[2015-12-15 21:12] ameshkin commented on #174
guys,

I'm using the wordpress plugin and I'm still getting that error.

I'm also getting this but can't figure out where to disable dev mode.

DEV_MODE_ENABLED development - please remove for prod

[2015-12-15 21:28] rudygalfi commented on #174
Do you have this in your generated markup?

```<script async src="https://cdn.ampproject.org/v0.js" development></script>```

That should be what's causing this error. You might need to follow up in https://github.com/Automattic/amp-wp if you think this mode is being enabled incorrectly. It looks like there is some flag to toggle it but I'm not sure how you do that with the plug-in.

[2015-12-15 21:35] ameshkin commented on #174
Yes, I do have this line in my code.

Im debating whether or not I should update the plugin myself, or wait until the developers do it.

	<script src="https://cdn.ampproject.org/v0.js" async development></script>

[2015-12-15 22:15] dvoytenko commented on #174
It should definitely be removed. Are you seeing this produced by WordPress plugin? If so, Rudy, do you think we could ask them to remove it sooner?

[2015-12-15 22:33] rudygalfi commented on #174
I submitted https://github.com/Automattic/amp-wp/issues/86

[2015-12-15 23:08] amphtml-team commented on #657
Note that goldmine hasn't picked this up yet. I'm not sure if they are
doing releases at this point. So, even though the javascript validates
this, those pages won't show in the carousel yet.

-Greg

On Tue, Dec 15, 2015 at 10:55 AM, Dima Voytenko <notifications@github.com>
wrote:

[2015-12-15 23:28] dvoytenko commented on #174
This has been fixed on WordPress side. Thus I'm closing this issue.

[2015-12-15 23:29] #174 closed

[2015-12-15 23:39] dvoytenko commented on #657
Good point. Let's delay releasing it then a bit.

[2015-12-16 04:01] cramforce commented on #1055
We should also remove the export of viewer and viewport from runtime.js when this is done.

[2015-12-16 04:23] dvoytenko commented on #1055
Those exports are due to the viewer integration. But certainly cleanup is due.

[2015-12-16 15:27] #1159 closed

[2015-12-16 15:46] cramforce commented on #1097
@dcilibiu Did you check whether HTTP creatives might have been the issue?

[2015-12-16 18:14] cramforce commented on #1055
Ah, cool. lets leave them

[2015-12-16 20:37] rudygalfi commented on #871
@cory-work Thanks for clarifying the iframe idea.

As @cramforce said, we'd very much like the cost of instrumenting the page for analytics to be constant and common across N different providers. Even with a single iframe, I think that would expose the AMP page to some of the performance issues that AMP is attempting to solve, so I don't think we want to move ahead in that direction.

[2015-12-16 21:32] maxhartshorn commented on #1017
+1 This would be a great feature to have. I've seen this on HuffPo, QZ, NYT, and we're currently  implementing it on our site. Typically there are related links served below a "Read More" button. Giving users who are on the fence about reading an article a chance to "bail" into related content seems to be a good way to drive recirculation on mobile.

[2015-12-16 21:39] maxhartshorn commented on #827
Yes this would be a very useful feature to have. I expect a user reading an article from any news site would want to have some way of navigating to other sections from the page they're in.

[2015-12-16 23:00] cramforce opened #1172 "Document how to use CLIENT_ID in URLs"
Waiting for the user notification work to land, to document this.

[2015-12-17 00:46] rudygalfi commented on #902
Trying to get a handle on when various features will land. Any estimate on this one?

[2015-12-17 00:54] erwinmombay commented on #902
@rudygalfi almost done (thursday or friday at worst), talking to @dvoytenko about some technical details on implementation (since he's also working on some alert stuff). I think he had some concerns on this specific component.

[2015-12-17 01:04] rudygalfi commented on #902
:+1: thanks

[2015-12-17 01:05] cramforce opened #1175 "Load "thumbnail" for amp-youtube during prerender"
YT provides "thumbnails" (really high quality full resolution images) for videos

We could load these, plus some loading animation (could be our default) during prerendering, since we do not load the iframe itself during prerendering (for bandwidth and CPU usage reasons). This would create a more complete experience for pages that have YT videos in the first viewport.

[2015-12-17 01:46] sethyates opened #1177 "Version regex in documentation incorrect"
In the [Specification](https://www.ampproject.org/docs/reference/spec.html) [here](https://www.ampproject.org/docs/reference/spec.html#extended-templates) and [here](https://www.ampproject.org/docs/reference/spec.html#extended-components):

However, this regex doesn't properly match the example given

    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-

[2015-12-17 01:49] cramforce commented on #1177
Ha, I thought we had fixed this. The amp- prefix is definitely not required.

[2015-12-17 01:53] #1177 closed

[2015-12-17 01:53] cramforce commented on #1177
@pbakaus Just FMI: At what schedule/non-schedule do we currently push changes from AMP-master to the docs site/repo?

[2015-12-17 15:53] ameshkin commented on #174
I downloaded this plugin again, but there does not seem to be any difference :(
Perhaps wordpress has the zip file cached?
But thanks for fixing this outside of wordpress and responding so quickly.

https://wordpress.org/plugins/amp/

[2015-12-17 18:35] pbakaus commented on #1177
We currently don't have a set schedule, it's all manual. How often do you think it's worth deploying? I'll prepare one now together with Erwin in any case.

[2015-12-17 18:40] cramforce commented on #1177
We should eventually align it with our weekly pushes. We are going to change a bit over time how we release. Right now basically once a week.

[2015-12-17 18:42] pbakaus commented on #1177
Works for me. @erwinmombay

[2015-12-17 19:09] fsencinas opened #1181 "livereload validation whitelist"
As many of us that often we use tools such Grunt, Gulp, etc. it will be great a validation blind for stuff like livereload, in order to get rid of validation noise using this kind of features.
Maybe a whitelist lookup for those tools?

[2015-12-17 19:25] Gregable commented on #1181
I don't think we can change the public validator to allow additional markup for these specific tools because we don't want someone to be confused and publish a page containing this markup, thinking it is valid.

One thing you could do is to check out the validator from the github repository and build it as an nodejs command line interface, modifying the output as you see fit. To do so, from the `a

[2015-12-17 19:41] fsencinas commented on #1181
OK, what you say makes sense, and I'm in the same way (the spec is the spec).

[2015-12-17 19:49] ameshkin commented on #174
Guys,

Is there a way I can tell AMP to just ignore an image?  I have this small twitter image, which I tried changing to an SVG.

If you don't give an image a width or a height, it's surrounded by a red circle.  So I did that as well.

But no matter what, the google amp plugin wants every image to be full size.  Is there something I can do to just get it to not show up on the amp page?

http://tp

[2015-12-17 19:53] dvoytenko commented on #174
RE:development attribute. From what I can tell from https://github.com/Automattic/amp-wp/commit/584883fa1f283af005716bb8ff56d40e5423a0e7 you may be able to disable it via some sort of `AMP_DEV_MODE` variable?

[2015-12-17 19:56] ameshkin commented on #174
Thanks, setting that constant to false does work now where it did not before.

Thank you

define('AMP_DEV_MODE',0);

If someone can help with the image/svg issue, it would be appreciated.  We should probably really be using font awesome or a symbol, but that would require too much code for just one little thing.

[2015-12-17 19:57] rudygalfi commented on #174
@ameshkin Thanks for raising these issues. It's super-important that they get resolved. I think  Automattic/amp-wp would be a better place to bring these up as it related to behavior of the WordPress plug-in rather than the AMP format itself. Please try submitting a new issue at https://github.com/Automattic/amp-wp/issues/new

[2015-12-17 19:57] dvoytenko commented on #174
@ameshkin not sure I understand about image. I'm looking at your doc and it validates correctly and I don't see red circles around image. Could you please confirm or send me a screenshot?

[2015-12-17 19:57] dvoytenko commented on #174
Also, if you don't mind - could you please open a new issue for this?

[2015-12-17 20:09] ameshkin commented on #174
I will create a new issue.  But the red box goes away, after I give the twitter image a width and a height.

But it still wants to make everything large.

Then I turned it from a png to an svg, thinking perhaps it would treat it differently.

It does treat it differently, ha ha, but still wants to apply css to the svg and make it larger than it should be.

It would be nice if we could just add a c

[2015-12-17 20:12] ameshkin opened #1182 "AMP Applies CSS to all images in content so they take up 100% width"
I created this issue as requested, which is linked to my previous problem

https://github.com/ampproject/amphtml/issues/174

There should be a way to tell AMP to ignore images.  I'm new to this code, and am using the wordpress plugin. So I'm trying to not have to modify it since we will lose the ability to update.

So perhaps I am missing something.  Perhaps there is already a way to fix this.

If

[2015-12-17 20:13] ameshkin commented on #174
Thank you guys for all your help. We hope to start using amp on think progress as soon as possible.

[2015-12-17 20:15] dvoytenko commented on #1182
It takes bigger size because it's marked as `layout=responsive` as opposed to `layout=fixed`. By saying it's `responsive` you basically tell the image to take all available width and sometimes it's actually desirable. What you can do here is this:

1. Use `layout=fixed` (it's the default). It will use your width/height as hard pixel values.
2. Continue using `layout=responsive` as now, but either

[2015-12-17 20:29] Gregable commented on #1181
Closing. If you have any suggestions on things we could do to make this easier for development though, please do let us know!

[2015-12-17 20:29] #1181 closed

[2015-12-17 20:53] cramforce commented on #1181
Just wanted to say: Totally see that this is annoying during dev. We have the same problem. But potentially hiding errors can be really bad.

I will definitely think about how we can improve this.

[2015-12-17 21:33] fsencinas commented on #1182
Well, when you use a RWD layout, in order to keep the proper aspect ratio of an image or video, and avoiding the "jump" or flash effect, is always a need to set a width height, in order to precalculate the DAR and to scale accordingly.
Note: The Display Aspect Ratio formula could be also calculated from original dimensions of an image or video without infer sizes, but such dimensions are only avai

[2015-12-17 21:34] nieksand opened #1185 "Missing docs on remote.html"
The "Running ads from a custom domain" section in https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.md is incomplete.

It tells me to copy/paste remote.html to my adserver.

Then what?  How do I now use my own iframe wrapped ads?

[2015-12-17 21:44] cramforce commented on #1185
You don't technically need to copy/paste these remote.html

That is only what you need to do to get your own cookies. You can do inside remote.html whatever you want essentially.

What specifically are you trying to do?

[2015-12-17 21:47] jmadler opened #1186 "add dateModified, description to article-metadata examples"

[2015-12-17 21:47] nieksand commented on #1185
I want to show an ad/iframe from an ad network not in the list of the currently five integrated ad networks.

Ideally I'd like the viewability api to be available to said iframe

[2015-12-17 21:49] cramforce commented on #1185
Any chance we could instead just integrate that ad network?

[2015-12-17 21:53] nieksand commented on #1185
I'm actually trying to get a working proof of concept for HasOffers, which powers many of the world's affiliate networks.  (Logo wall of some bigger network names on the homepage http://www.hasoffers.com/).  Many of these use HasOffers as a white-labeled solution, which makes a single AMP integration a little trickier.

However, I'm happy to put together an integration for the non white-labeled cu

[2015-12-17 21:55] cramforce commented on #1185
So, I think you want to use remote.html and then add your own script to it. Could you the intersection observer for example to get viewability.

[2015-12-17 21:58] cramforce commented on #1185
We'll document this better eventually, but focusing other docs for now.

[2015-12-17 22:01] nieksand commented on #1185
Ok.  I'll see how far I can get with remote.html.  May poke with additional questions.  Thanks much!

[2015-12-17 22:04] cramforce commented on #1185
Cool. Will close this for now, but feel free to ask. Also on Slack!

[2015-12-17 22:04] #1185 closed

[2015-12-17 22:14] jmadler commented on #327
I think we should just not allow \<p\> in favor of \<div\> due to its unexpected behavior.

[2015-12-17 22:18] #539 closed

[2015-12-17 22:24] cramforce commented on #327
@jmadler `<p>` and `<div>` are not the same thing. I don't see any urgency here at all. HTML has problems. It is not our mission to fix them.

[2015-12-17 22:26] jmadler commented on #999
@cramforce OK to submit a PR to remove the 'development' attribute?

[2015-12-17 22:40] cramforce commented on #999
Ship it.

On Thu, Dec 17, 2015 at 2:31 PM Jordan M. Adler <notifications@github.com>
wrote:

[2015-12-17 22:40] jmadler commented on #327
True, but AMP HTML could complicate this somewhat if an extension uses <div> internally

[2015-12-17 22:46] cramforce commented on #327
So, to the original problem: Can'd we catch that in the validator?

[2015-12-17 22:48] cramforce opened #1189 "Run the validator integration test against the checked in version"
We should leave the current test in place, but also run against the checked in version.

[2015-12-17 23:21] stand-sure opened #1191 "amp-list documentation should include mandatory width and height"
At runtime there are errors without explicit width and height set. The documentation should reflect this.

[2015-12-17 23:31] Gregable commented on #327
Probably. It'll be a bit of work if our parser closes the `<p>` tag the same way as the browser does, but that need not stop us.

What specifically do you propose that we try to disallow in validation? Any `<p>` tag that is closed implicitly?

[2015-12-17 23:32] Gregable commented on #1189
I'm not sure I understand. We run the test on every commit, currently. Not sure if the travis bot is doing so automatically, but we're doing so manually.

[2015-12-17 23:43] cramforce commented on #1189
Currently the test runs against the production validator. Need to also run against head.

Specifically I'm talking about this test
https://github.com/ampproject/amphtml/blob/master/test/integration/test-example-validation.js
Should have been more specific.

[2015-12-17 23:56] erwinmombay opened #1192 "integration test is red on firefox"
<img width="1049" alt="screen shot 2015-12-17 at 3 55 35 pm" src="https://cloud.githubusercontent.com/assets/354746/11885680/a3f7d7a2-a4d6-11e5-82d9-817dbf04f265.png">

[2015-12-18 01:11] amphtml-team commented on #327
I think we can skip this. We had a concern that this will be a problem.
However do far that didn't cause any headaches.
On Dec 17, 2015 3:32 PM, "Greg Grothaus" <notifications@github.com> wrote:

[2015-12-18 02:57] cramforce opened #1194 "Document how to how automatically validate AMP document"
- as part of CI
- or as part of CMS publishing

CC @pbakaus @Meggin

[2015-12-18 04:39] #873 closed

[2015-12-18 04:39] #1126 closed

[2015-12-18 15:39] cramforce opened #1196 "Expose standard UrlReplacements to the URL of an amp-iframe."
This would e.g. allow sending the current referrer to the iframe.

Tasks
- in amp-iframe.js add dependency on url-replacements.js
- expand the iframe's URL using that service before setting it on the iframe.

[2015-12-18 15:43] ameshkin commented on #1182
Thank you.  I will set a width and height to that image.

One problem is that we're using the wordpress plugin, and so I can't just make code changes.

The wordpress app automatically creates the html.  I will figure something out though.

But basically the wordpress guys need to come up with some way to give an image a certain attribute so that the plugin knows to make it a fixed image.

I will b

[2015-12-18 17:03] dvoytenko commented on #1182
@rudygalfi This seems pretty important. Layout spec is a critical spec. Should we reach out to them?

[2015-12-18 17:30] #1116 closed

[2015-12-18 17:34] rudygalfi commented on #1182
@mjangda Is there support for specifying layout using the AMP plugin for Wordpress? If not, shall I go ahead and open a new issue in https://github.com/Automattic/amp-wp ?

[2015-12-18 17:47] #1191 closed

[2015-12-18 19:14] cramforce opened #1199 "Intent to implement: ServiceWorker for caching the AMP JS library"
## Overview

This document outlines how we plan to use ServiceWorkers (SW) (and potentially AppCache as a fallback) to ensure that repeat visitors do not typically download any common resources as part of the critical path.

In the initial version the ServiceWorker will only cache the JavaScript resources served by https://cdn.ampproject.org.
### Goals
- Reliably remove JavaScript resource downloa

[2015-12-18 22:10] niallkennedy commented on #1093
Google has mentioned Schema.org markup is required for inclusion in its AMP-specific search carousel.

What would you like to specify for content summary markup indexed by other social networks? Other than just webmaster best practices, how should this information fit within the AMP project?

[2015-12-18 22:47] niallkennedy opened #1201 "amp-social-share template components for social sharing buttons"
Social sharing buttons commonly appear alongside article content to assist a viewer interested in sharing a page or article to a social network or messaging service. Publishers place buttons on their page to encourage sharing by reducing friction with specified precomposed share template components.

Share buttons often appear in a shared content unit with multiple buttons displayed in a consisten

[2015-12-18 22:49] niallkennedy commented on #1201
as mentioned to @paul-matthews, wondering if publishers are more likely to implement an official button or custom styled buttons for social sharing actions. If the social sharing template component is common enough it could become supported in AMP.

[2015-12-18 23:51] #921 closed

[2015-12-18 23:54] sriramkrish85 commented on #571
With `amp-iframe` supporting click-to-play now (and lets you place click-to-play vidoes on the top), i am closing this for now.

[2015-12-18 23:54] #571 closed

[2015-12-18 23:56] sriramkrish85 commented on #71
@gcovato - https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md#iframe-click-to-play this would help you.

[2015-12-19 09:59] pietergreyling commented on #1182
I have reached out to @mjangda - awaiting his feedback. //pieter

[2015-12-19 19:24] ithinkihaveacat opened #1204 "Local development build uses validator hosted on www.gstatic.com"
Even when using a local version of the AMP runtime, a hosted validator (`https://www.gstatic.com/amphtml/v0/validator.js`) is loaded when in `#development=1` mode.

(There's already a [TODO to fix this](https://github.com/ampproject/amphtml/blob/master/src/validator-integration.js#L35) above the responsible code.)

[2015-12-19 20:25] ithinkihaveacat opened #1205 "Validator reports incorrect error messages for certain invalid <link> elements"
A few examples of confusing error messages when AMP's development mode is triggered via `#development=1`:

[code]

(`type="text/css"` is missing.)

[code]

(The scheme [needs to be `https`](https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii#L139).)

Note that Google Fonts' [sample embed code](https://www.google.com/fonts/specimen/Lato) suggests the `http` scheme, not

[2015-12-19 21:16] cramforce commented on #1205
I think we should remove the requirement for type="text/css" (but allow it).

@Gregable Can we improve the error message in this case?

[2015-12-19 22:11] mjangda commented on #1182
@rudygalfi @dvoytenko yep, we need to fix the plugin to handle the updated layout spec. Should land this week.

[2015-12-19 22:17] bazzadp commented on #1182
Ignoring the Wordpress issue for now, I still think there's an issue here for when you have images that are too large for some viewports but too small for others.

Without AMP you'd just set max-width of 100% and height of auto so original image size is used until the viewport is too small and then the image is shrunk as appropriate, in ratio, for smaller screens.

I can't find a way to replicate

[2015-12-19 22:59] Gregable commented on #1205
Thanks for the specific example. We will improve these error messages.

For the curious:
In both cases, the validator generates several possible errors (for each possible link tagspec it could be matching, there are currently 6), and tries to pick the one most likely to be helpful. It's not doing a great job here because it thinks you are trying to do something different than including a font. I t

[2015-12-19 23:44] cramforce commented on #352
Fixed by #1202

[2015-12-20 01:56] dvoytenko commented on #1182
@mjangda thanks a lot!

[2015-12-20 02:12] dvoytenko commented on #1182
@bazzadp, relying on the physical width (e.g. via `max-width:100%`) of the image for layout is a bit ambiguous because it depends on the device pixel ratio. Instead, the layout system in AMP gives you `layout=responsive` and with it you have three main options to restrict maximum size:

1. max-width CSS. Whatever you want to use as a maximum pixel size you can set this way, e.g. `max-width: 320px;

[2015-12-20 20:33] jmadler commented on #1205
By the way, that embed code is part of the description of that particularly font.  The correct recommended embed code uses https.

I'm reaching out to the Fonts team to fix that description.

[2015-12-20 20:37] cramforce commented on #1205
I talked to them about it. They prefer HTTP for HTTP sites. I wonder if
increased caching (if everyone uses the same schema) would win over the
cost of TLS. Also with the recent attack against github the danger of
loading via HTTP from centralized infra was shown.
On Dec 20, 2015 12:33 PM, "Jordan M. Adler" <notifications@github.com>
wrote:

[2015-12-20 22:19] cramforce commented on #1201
Totally agree we should build this – even if strictly speaking this can be done directly in AMP (although for desktop one would often want a popup instead of target=_clank).

I think we should not support the "official share buttons". Especially Twitter which no longer has a count provides little value over a straight up inline button and FB and G+ are pretty heavy for the value they provide.

Som

[2015-12-20 22:21] #990 closed

[2015-12-20 22:21] cramforce commented on #945
@jridgewell want to give this a go?

[2015-12-20 22:22] cramforce commented on #941
We're working on it by separating services and implementation.

[2015-12-20 22:22] #941 closed

[2015-12-20 22:24] cramforce commented on #834
Sorry, missed this.

Are you asking for a client that tries to resolve from non-AMP to an AMP page? I'd say they should assume there is no-AMP page. Probably good to assume it is transient and try again next time the page is considered.

[2015-12-20 22:24] #834 closed

[2015-12-20 22:25] #737 closed

[2015-12-20 22:25] cramforce commented on #588
Closing @sriramkrish85 implemented `amp-font` for this.

[2015-12-20 22:25] #588 closed

[2015-12-20 22:26] cramforce commented on #423
Friendly ping for @Gregable and @powdercloud

[2015-12-21 16:25] jridgewell commented on #945
Certainly.

[2015-12-21 16:28] cramforce opened #1209 "Consider sending data- attributes to amp-iframe"
This would make certain use case more idiomatic, instead of using programmatic URL construction. Basically we'd just add all the data-attributes to the URL as query string arguments.

At this point I'm not 100% convinced it is a good idea and it is also less ideal for more advanced parameters. One use case is passing CSS into the iframe, which is still awkward via a URL argument.

[2015-12-21 18:24] cramforce opened #1210 "Provide a callback mechanism to customize 3p iframe configuration in custom iframe"
Basically people want to do custom things in their "remote.html" file and they should be able to, but ideally with minimal API surface, so they don't hard code assumption into our interface between the frames.

Currently there is code like this
[code]

We should allow passing a callback like

[code]

This could e.g. be added to add more targeting info or to switch to a different ad provider.

[2015-12-21 21:24] cramforce opened #1212 "Add lint check for unused imports"
Imports should be used or not done.

CC @erwinmombay

[2015-12-21 21:26] cramforce opened #1213 "Importing a non-existing import should fail compilation"
Or at least a separate check.

I assume this is not failing with babel because of per-file compilation, but possibly we can add an extra check.

CC @erwinmombay

[2015-12-21 21:27] cramforce commented on #1210
CC @kashyapnitin

[2015-12-21 21:29] erwinmombay commented on #1213
weird, i think this would currently fail. will double check.

[2015-12-21 21:32] erwinmombay commented on #1212
So we can't really check for `unused imports` since imports can have side effects but per the conversation in https://github.com/ampproject/amphtml/pull/1211/files, we can turn on `unused reference` lint checks but it currently errors out cause it also checks for unused properties and we have the following scattered all over our code base.

[code]

I'll have to do a cleanup of that first, but i 10

[2015-12-21 21:39] cramforce commented on #1212
Yeah, we should really change those by adding ` = undefined`.

I think that check would really give us robustness!

[2015-12-21 23:03] #1210 closed

[2015-12-21 23:18] cramforce opened #1215 "Positioning of unresolved and unbuilt elements breaks always-top/fixed elements"
We have

[code]

and

[code]

Both will break stuff like

[code]

CC @dvoytenko

[2015-12-21 23:18] cramforce commented on #1215
I'm not 100% sure what to do, but I'm sure @dvoytenko does.

[2015-12-21 23:41] dvoytenko commented on #1215
`position: relative !important` (specifically `!important` part) is not correct for both `-amp-unresolved` and `-amp-notbuilt` classes. It's meaningless too, since layout is resolved immediately.

[2015-12-22 00:45] #1215 closed

[2015-12-22 05:07] ameshkin commented on #1182
Thank you guys so much for figuring all this out.

I will try some of these options tomorrow.

[2015-12-22 06:53] erwinmombay commented on #1212
i stand corrected, the one i stated was for `unused expression`. but where it actually errors out are on our typedefs, like so:

[code]

now we need to add either a `Def` suffix or a `Interface` suffix so that they are ignored by the linter. (for typdefs, templates and class interfaces)

[2015-12-22 11:54] edlea commented on #834
As a bit of extra background, I've been playing around with a tool to generate AMP pages automatically from regular content. It doesn't always find appropriate content though. Rather than having to manually review every page on a site, it would be nice to simply add a single tag to every page and if the page isn't AMP-ready return a status code to reflect that.

For example, here's a page that is

[2015-12-22 13:37] simonferndriger opened #1221 "Feature requests: Search, Themes, Guides for image optimizations"
I would love to use AMP HTML for our mobile website. However, it would need two things to be available in order to switch:

1. Search functionality must be available. We have local content, so users often search either for nearby content or for location specific content.

2. We currently use jQuery mobile. With that we automatically have some themes to choose from. Since Google is so proud of its

[2015-12-22 16:23] cramforce commented on #1221
1. We'll work on form functionality. @rudygalfi Are we tracking this anywhere?
2. This isn't a Google project as in we would have an opinion about Material Design. Having said that. http://www.getmdl.io/ should just work. Would you mind giving it a try and report back?
3. Working on it.

In general PageSpeed can only provide heuristics. Not everything is recommends is always correct, nor applicabl

[2015-12-22 16:23] cramforce commented on #1221
Edited the title to reflect the content of the request.

[2015-12-22 16:27] cramforce commented on #834
I think returning 404 would be appropriate.

Having said that, AMP is specifically not about automatic conversion (Not saying your project isn't interesting, useful, or awesome, just that the AMP tries to do optimize else). There are quite a few tools out there that do something like that (E.g. Safari Reader), but AMP provides similar speed while retaining publisher control of how the pages look.

[2015-12-22 20:44] erwinmombay opened #1224 "Investigate ui abuse of amp-user-notification"
@dvoytenko is concerned about maximum height etc. so we need to figure out what the best way to prevent user abuse.

Related:
https://github.com/ampproject/amphtml/issues/902
https://github.com/ampproject/amphtml/pull/1178

[2015-12-22 20:45] erwinmombay opened #1225 "Investigate parallel fetching vs the queued approach on multiple amp-user-notification components"
Related:
https://github.com/ampproject/amphtml/pull/1178

[2015-12-22 20:52] dvoytenko commented on #1224
My main concern here is actually ensuring that dismiss button is always visible and clickable.

[2015-12-22 21:22] erwinmombay opened #1226 "add `whenDocumentReady` function in document-state that returns a Promise"

[2015-12-22 22:19] erwinmombay opened #1228 "Should the amp-user-notification component do a GET or POST request to the `data-show-if-href` url"
Got feedback from @dvoytenko on this (quote: a POST without user action is generally suspicious).

Currently I switched the request to a POST so that we're able to transmit the json data `{ ampUserId,
elementId }` to the server and it can determine wether to show the notification to the current visitor or not.

The alternative is to switch back to a `GET` request and transmit the data as query par

[2015-12-22 22:21] erwinmombay opened #1229 "Make amp-user-notification order display deterministic"
Currently, the order of the notification being shown is in the order of when the component registers and since the registration and invocation of `buildCallback` on a component is not deterministic a publisher developer is not able to control the order of the notifications correctly.

[2015-12-22 23:13] dvoytenko opened #1230 "Cleanup: remove the old build system."
Related to #1014.

[2015-12-23 00:06] dvoytenko commented on #1228
Additional thing that `GET` buys us is that we can inject query parameters via URL substitutions: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md

I don't know if this is useful.

[2015-12-23 06:12] cramforce opened #1237 "Unskip test "should initialize correctly with preexisting state""
Broken by #1236

[2015-12-23 17:50] dvoytenko commented on #1237
Do you still have travis log for the breakages? Seems rather odd that the move would cause it...

[2015-12-23 21:06] #1212 closed

[2015-12-23 23:28] jpettitt opened #1241 "Intent to Implement: amp-embeddable"
# Overview
AMP pages lend themselves to being framed and embedded in full desktop browser pages however there are couple of major limitations.

1. Resize - There is no way for the framing page to know how long to make the framed article leading to ugly scroll bars or truncated content.
1. Security - controlling framing with http `x-frame-options` is binary, yes or no.  More granular control is nee

[2015-12-24 03:54] RaedsLab opened #1242 "Bug [validator]: Mandatory style (js enabled) opacity 0"
It looks like when I try to properly format my HTML code like this :
[code]

The validator outputs an error even though it is 100% equivalent to :

[code]
 Which passes.

[2015-12-24 04:00] cramforce commented on #1242
This is a somewhat known issue. @Gregable Is it on the current roadmap to switch to a CSS parser to validate the boilerplate?

[2015-12-24 08:16] RaedsLab commented on #1242
@cramforce my bad if this is a known issue, I tried to look for it in the Issues but without any luck.

[2015-12-24 12:09] pratikjoshi5 opened #1244 "AMP html apply for any static website?"
Hello,

AMP html apply for any static website?   or its apply only for article publishing website?

[2015-12-24 15:30] cramforce commented on #1242
@RaedsLab More like: I knew this was an issue :) Thanks for the report. We'll use it to track progress on this, although I can't promise immediate fixes. Probably better to not format for a while.

[2015-12-24 15:32] cramforce commented on #1244
@pratikjoshi5 Definitely any static website. Having said that we are aware that there are some things missing right now to make AMP suitable for certain use cases (e.g. we really need a good menu component). Mid- to long-term AMP will support more use cases.

[2015-12-24 15:32] #1244 closed

[2015-12-24 15:32] bazzadp opened #1245 "Why break HTML spec with AMP when it's possible to implement AMP in HTML compliant way?"
Any particular reason why AMP decided to go with:

[code]

or even, the horrible, charset dependent lightning bolt:

[code]

Rather than the more standards compliant:

[code]

Or even:

[code]

Similarly `<amp-img>` could have been implemented as `<img itemprop="amp-img">` or similar.

Presume the AMP code could have coped with any of these implementations so it seems a shame that AMP has decided

[2015-12-24 15:46] cramforce commented on #1241
@jpettitt Thanks for the intent to implement! A few comments:

We already have pretty sophisticated "viewer integration" support ([AMP code](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js), [example viewer](https://github.com/ampproject/amphtml/blob/master/examples/viewer.html)) that handles the parent frame communication you are looking for. This needs to be document

[2015-12-24 15:56] cramforce commented on #1245
Custom elements are part of HTML. It is time for validators to catch up. Custom properties are also a reality of the web. Namespacing everything is tedious and unidiomatic.

`<img itemprop="amp-img">` wouldn't be the right way to go `<img is="amp-img">` would.  This article explains why AMP does not use the `is` attribute:
https://medium.com/@cramforce/why-amp-html-does-not-take-full-advantage-of-

[2015-12-24 23:25] jpettitt commented on #1241
The viewer stuff is rather opaque.   I'm sure I missed some things, how does the AMP page tell the parent how long it wants to be?  I grepped for postMessage and can't find where it messages it's requested size.   Why not use the amp-iframe interface - that way an AMP page could embed another AMP page which would allow "endless" page type features where additional stories are added seamlessly as t

[2015-12-25 04:28] pratikjoshi5 commented on #1244
Where to write AMPhtml code.  Is within same code at write for desktop site?

[2015-12-25 04:29] pratikjoshi5 opened #1247 "Where to write AMPhtml code. Is within same code at write for desktop site?"
Where to write AMPhtml code. Is within same code at write for desktop site? OR need to create any separate page?

[2015-12-25 21:58] gkteck opened #1248 "amp-img width / height restrictions"
As per the doc, amp-img must be given an explicit size (as in width / height) in advance.

With this restrictions, how can we build a responsive design ?

[2015-12-25 22:37] cramforce commented on #1248
@gkteck The width and height is used to determine the aspect ratio of the image before download. It can still be responsive.

Add `layout="response"` to the `amp-img` tag to get basic responsive behavior (sizing to container). More details here https://www.ampproject.org/docs/guides/responsive/control_layout.html

[2015-12-25 22:37] #1248 closed

[2015-12-25 22:38] cramforce commented on #1247
Either you make your entire page responsive and AMP based or you make the AMP page an extra page and link it like this https://www.ampproject.org/docs/guides/discovery.html

[2015-12-25 22:38] #1247 closed

[2015-12-25 22:39] cramforce commented on #1244
Answered in your separate issue.

[2015-12-26 01:50] luangch commented on #1244
Issue mentioned above. [Where to write AMPhtml code. Is within same code at write for desktop site? #1247](https://github.com/ampproject/amphtml/issues/1247)

[2015-12-26 14:18] bazzadp commented on #1245
Thanks for the answer and interesting post on not preloading images.

For the moment, while the AMP project is in a state of flux, and while it has it's own validator, it's probably best to leave AMP out of other HTML validators.

I have however raised a request to add the amphtml rel link time to the nu validator (https://github.com/validator/validator/issues/197) so that standard HTML with a lin