[2016-03-07 17:41] cramforce commented on #728
@coreybyrnes Could you file a new issue including a repro case. I'd not expect resize to ever succeed on your demo page, because we do not allow resizing of ads that are in the middle of the viewport.

[2016-03-07 17:55] mjrusso commented on #2236
@coreybyrnes: you'll need to access `context` via the iframe's parent (i.e., `window.parent.context`).

This will change with Glade, which is what we're discussing in this issue thread.

[2016-03-07 18:33] jridgewell opened #2479 "Motion continueMotion Test Flake"
I've gotten this one a dozen times:

[code]

[2016-03-07 18:38] cramforce commented on #981
I don't think this is something we want to do. Please object strongly.

[2016-03-07 19:06] coreybyrnes commented on #2236
@mjrusso Thanks so much. I had tried that in the past without success, but there must have been something else at play.

[2016-03-07 19:08] coreybyrnes commented on #728
@cramforce Can you explain further on what the limitations are for ad resize? I'm looking here and don't see any specific rules: https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing

[2016-03-07 19:30] #2351 closed

[2016-03-07 19:33] cramforce commented on #728
@coreybyrnes End of that paragraph. I just clarified it slightly.

[2016-03-07 20:44] georgecrawford commented on #1540
OK, thanks. `access-viewed` looks right in that case.

[2016-03-07 21:09] #2430 closed

[2016-03-07 21:37] jridgewell opened #2484 "3p Messaging Test Flake"
I think the solution to this one is to install a global `onerror` and just ignore, then restore the `onerror` after the test.

[code]

https://travis-ci.org/ampproject/amphtml/builds/114358640

[2016-03-07 21:43] obeyer opened #2485 "this is more of a question: <amp-ad> data-loading-strategy"
since we can't run js, to determine if the ad slot is coming in a view, how to make sure that the ad isn't loaded until it is approaching the viewport? Does amp js take care of it? WHat about this experimental attribute: 'data-loading-strategy'. The docs says: Supported value: prefer-viewability-over-views. Instructs AMP to load ads in a way that prefers a high degree of viewability, while sometim

[2016-03-07 23:01] rudygalfi commented on #2208
@mjangda Check out this release notes draft: https://github.com/ampproject/amphtml/releases/tag/1457112743399.

Something new we're doing there is to group updates by component -- and you can also see a bunch of validator-related changes. Is this format useful? Would you suggest anything else?

/cc @erwinmombay

[2016-03-07 23:05] Meggin commented on #2208
This makes it trickier, but for sure more valuable-- call out new, updated,
and deprecated tags and attributes within tags.

Meggin

On Mon, Mar 7, 2016 at 3:01 PM, Rudy Galfi <notifications@github.com> wrote:

[2016-03-07 23:07] rudygalfi commented on #1298
@georgecrawford Can you detail the intended use of `barrier`?

[2016-03-07 23:13] georgecrawford commented on #1298
Nothing special, just a value I can send in my analytics payload to indicate the presence of a paywall barrier on the current page.

[2016-03-07 23:15] rudygalfi opened #2487 "Add `hidden` event to amp-analytics"
Would fire when the document becomes invisible (opposite of `visible`).

[This was mentioned in #871.]

[2016-03-07 23:35] rudygalfi commented on #2487
@avimehta I know you raised some doubts on this in the past (I think relating to whether delivery of the ping could be guaranteed). Can you give a sense on whether you think building something like this makes sense?

[2016-03-07 23:59] Gregable commented on #2208
My latest validator roll up PR tried to spell this out a bit clearer. You can click through from @erwinmombay's draft, the actual text is here: https://github.com/ampproject/amphtml/pull/2401

It would be good to figure out the best way to include these in our release draft too. Happy to help sort this out.

[2016-03-08 00:09] andyhills opened #2488 "Ads - flite.js - mixin syntax error"
Issue with flite.js with missing "&" (ampersand) causes mixin inclusion issue. Pull request for fix will be attached.

[2016-03-08 00:16] Meggin commented on #2208
Greg-- good stuff. That helps a good bit on validation side. And it would
also be cool to see this on tag/attribute side.

On Mon, Mar 7, 2016 at 4:00 PM, Greg Grothaus <notifications@github.com>
wrote:

[2016-03-08 00:27] erwinmombay commented on #2208
@Gregable sweet, i can definitely consume that Pull Request body for validators.

[2016-03-08 00:31] omegdadi opened #2491 "Responsive amp-ad iframe not correct width on IOS after orientation change."
Responsive AMP ads do not size correctly on IOS (works fine in Android) when performing orientation changes. On load of the page, the iFrame is set to width:100% which allows it to grow properly when going from portrait to landscape, but when returning to portrait, the iFrame isn't resized.

## How do we reproduce the issue?

https://services-staging.s3.amazonaws.com/AndyHills/AMP_HTML/amp_demo.ht

[2016-03-08 00:47] rudygalfi commented on #827
For folks interested in this issue, there's a pending pull request for an amp-sidebar component: #2461. Please take a look.

/cc @sriramkrish85 @ericlindley-g

[2016-03-08 01:20] cramforce opened #2492 "Warning: `<link rel=preload>` must have a valid `as` value"
This is surprising.

Getting this message when loading
http://localhost:8000/max/s/thawing-ridge-70066.herokuapp.com/examples/index.amp.html

Can we always provide a default or make it mandatory?

Lets fix before next dev channel.

[2016-03-08 01:24] mjangda opened #2493 "Validation: The attribute 'start' may not appear in tag 'ol'"
AMP Version 1456954860788

Using the `start` attribute in an `ol` triggers a validation error even though it's an allowed attribute: https://www.w3.org/TR/html-markup/ol.html#ol.attrs.start

Example:

[code]

[2016-03-08 01:52] Gregable commented on #2493
Good catch. I was actually adding this attribute to our rules today. Should be out soon.

[2016-03-08 03:29] cramforce commented on #2491
Thanks for the thorough report!

Assigning to @dvoytenko mostly to check whether he has an immediate idea.

[2016-03-08 04:21] jmadler opened #2495 "Force protocol-relative URLs in HTTPS-only tags to use HTTPS"
I've seen some cases where an AMP HTML document is valid when served over HTTP, but invalid when served over HTTPS, because protocol-relative URLs are treated regularly.

Since AMP HTML should behave the same over HTTP and HTTPS, I propose we force protocol-relative URLs in HTTPS-only tags to be treated as HTTPS, or, alternatively, be considered invalid.

[2016-03-08 04:21] jmadler commented on #2495
cc @Gregable @cramforce

[2016-03-08 05:29] evivz commented on #2335
Any updates by when this feature/request will be added?

[2016-03-08 07:21] #2474 closed

[2016-03-08 08:48] Em-PredragMilosevic commented on #2410
Hi,

Can anybody take a look at my <a href="https://github.com/ampproject/amphtml/pull/2467">pull request</a>?

Thanks

[2016-03-08 11:54] grvsunny opened #2496 "How to Set a Default Fallback Image for WordPress Post"
Hi If amp posts doesn't have any featured image attached to it it gives a structural error so if anyone can help me by giving some code wherein I can set a default image in case my post doesn't have any image attached to it

[2016-03-08 13:04] georgecrawford commented on #2476
See also #1298

[2016-03-08 14:30] cramforce commented on #2495
@jmadler What you mean is not that it is invalid, but rather that it doesn't work, right?

Requesting `//` has `https://` sounds like a good idea.

[2016-03-08 15:06] georgecrawford commented on #2340
@dvoytenko is the repeated pingback logic live yet?

[2016-03-08 15:32] cramforce commented on #2496
Please ask over in https://github.com/Automattic/amp-wp/issues/

[2016-03-08 15:32] #2496 closed

[2016-03-08 17:22] dvoytenko commented on #2340
@georgecrawford No, not yet. I expect it will be in the canary soon and can be tested there. I'll send an update.

[2016-03-08 17:29] nicholasgriffintn commented on #2413
It would be awesome if you could do this, font awesome is great for icons. Fort Awesome (formally font icons) integration would also be awesome.

[2016-03-08 17:34] tagliala commented on #2413
@nicholasgriffintn unfortunately Fort Awesome uses javascript integration. At the moment it could not be whitelisted. I will ask Dave if there are plans to support .css only integration too

[2016-03-08 17:35] nicholasgriffintn commented on #2413
Yeah I did think that, however, they might be willing to work with AMP to make a CSS integration.

[2016-03-08 18:10] Gregable commented on #2495
I think that there are a few options for https-only tags:

1. runtime forces https, validate all
2. validate protocol relative (ex: `//foo.com`), invalidate 'host' relative (ex: `/foo.html`)
3. validate only absolute.

For URLs which can be rewritten in cache by the amp cache and thus forced https, we should do nothing. For example, `<amp-img src=`. At most maybe emit a warning.

For URLs which ca

[2016-03-08 18:28] cramforce commented on #2495
We want to invalidate host-relative (and all non-protocol relative URLs) for places where we require HTTPS or protocol-relative. This is already enforced this way by the runtime.

Inside <noscript> we should force HTTPS or protocol relative. These people know what they are doing anyway.

`<base>` on http would be cool. We just cannot allow relative (except protocol relative) URLs when we require h

[2016-03-08 18:41] Gregable commented on #2495
Even for cache rewritable resources like images?

[2016-03-08 19:02] frnco commented on #1286
@dvoytenko I believe the behavior should be dictated by AMP so as to:

1. Standardize Form behavior across websites (Predictability);
2. Optimize said behavior for performance/speed.

Considering where AMP is headed, I believe this should be either a POST or, (preferrably I think, as to minimize data transferred), JS (Handled by AMP) that posts the data and renders an AMP-HTML response. But then t

[2016-03-08 19:02] dvoytenko commented on #2340
@georgecrawford Confirmed. It's scheduled to be in canary this Thursday and in PROD the following Thursday - it follows the Thursday release cycle at this time.

[2016-03-08 19:10] frnco commented on #2495
I don't get why host relative should be invalid on HTTPS, since if the page was server from HTTPS the host relative resource should also be fetched as HTTPS, but I may be missing some important background on this issue.

Are there any previous issues/discussions that could be referenced to clarify the issues with relative host/protocol?

[2016-03-08 19:19] dougalg commented on #2442
At the moment, we do not provide any functionality like that. The goal was to provide an interface for our social widgets that was similar to our regular implementation, but within the AMP framework. Ideally we would like to be able to provide our own component for client implementations.

[2016-03-08 19:23] cramforce opened #2497 "Strip logging from production binary"
This is currently unavailable via the open source closure compiler's command line interface.

The solution would be to build our own runner. Should just be a small Java file with a main that parses a flag and then runs the compiler from the existing jar.

CC @dvoytenko

[2016-03-08 19:35] jridgewell commented on #2495
I'm curious too.

[2016-03-08 20:14] dvoytenko commented on #1286
Thanks @frnco . We do currently have `amp-mustache` that we could use to "re-render" content of the form in case of success/failure. That might work pretty well. We'll definitely consider this.

[2016-03-08 21:07] mjangda commented on #2208
The releases look great and will be super helpful.

Could we add some sort of unique string across all the release notes to make them more easily filterable? (Or is there a specific string we can search for already?)

[2016-03-08 21:32] jaredmcdonald opened #2498 "publish validator on npm"
hi all--is it possible to publish the AMP validator (i.e. what ends up at https://cdn.ampproject.org/v0/validator.js) as an npm module? we're looking at ways of validating amp documents as part of our release pipeline and this would be super helpful. thanks!

[2016-03-08 21:45] mkhatib commented on #2492
This doesn't indicate that the `as=` attribute is missing, it seems this is thrown when the value is wrong. In this case it doesn't like `as=document` although [it seems to be a valid value according to the spec](https://w3c.github.io/preload/#link-element-interface-extensions).

`as=document` might not be supported by the browser yet? Will drop it and not specify as in that case.

[2016-03-08 22:23] omegdadi commented on #2491
Thanks @cramforce. As I mentioned, this is a known issue in Safari on Mobile. The suggestion in the Stack Overflow seems like a pretty solid workaround.

[2016-03-08 23:01] dvoytenko commented on #2491
Thanks @omegdadi. I filed the bug against WebKit: https://bugs.webkit.org/show_bug.cgi?id=155198

I will apply the fix you suggest. It looks like `width: 100%` explicitly forces this different mode in iOS where it sizes the iframe's window by document's scrollWidth/scrollHeight.

[2016-03-08 23:18] dvoytenko commented on #2465
@danielkman we certainly can do this, but there are few nuances to discuss:
 1. Handlebars binary is about 7 times bigger than mustache which affects performance and bandwidth.
 2. Handlebars allows a lot reacher logic, which is nice but also affects performance.
 3. We'd have to push Handlebars integration through Google security review - it's usually not a big deal but does take a bit of time.

[2016-03-08 23:22] erwinmombay commented on #2335
i'll take over this one. should be able to start on it late tomorrow or thursday.

[2016-03-08 23:24] dvoytenko commented on #2335
Thanks, @erwinmombay . Just for posterity: for the complete solution this issue will be blocked on #2261.

[2016-03-08 23:29] jasti commented on #2485
prefer-viewability-over-views is not available to use in production at the moment, but soon will be. prefer-viewability-over-views will solve your exact problem. i.e. only when an ad is within 1.25 * the viewport is when the ad will be requested. This is all taken care of by the amp js. Please check back in 2 weeks for GA.

[2016-03-08 23:32] avimehta opened #2503 "Allow amp-analytics remote config URLs to be templatized."
Currently remote-config URLs in amp-analytics have to be constant and same for everyone visiting the page. Having the ability to use variables in the URL would be great. After this feature is implemented, a publisher can do something like this:

[code]

Note the use of variable `RANDOM` in the url above.

[2016-03-08 23:33] mkhatib commented on #2450
This should work as intended if the document is embedded through the cdn link.

on iOS Safari, our custom logic handles the FTP protocol correctly by opening the link in `_blank` otherwise this breaks.

[2016-03-08 23:33] #2450 closed

[2016-03-08 23:35] cramforce commented on #2495
@Gregable Nope only for HTTPS-only resources.

@frnco I think you are right and it could be allowed. The status quo is mostly the way it is because we wanted to avoid the confusion of different errors based on document origin. Otherwise relative URLs are fine if the doc is HTTPS.

[2016-03-08 23:37] mkhatib commented on #2372
@igrigorik we ran into one problem #2492  with preload `as` attribute and thought you might know why. According to the spec we should be able to use `as=document` for document loaded through iframe/frame.

Any idea if this is a browser support issue? For now we dropped #2500 the `as=document` usage.

[2016-03-08 23:50] erwinmombay commented on #2498
/cc @Gregable @powdercloud

[2016-03-09 00:24] Gregable commented on #2498
There is an unofficial project here: https://www.npmjs.com/package/amp-validator . We've talked about doing something a little differently, such that it doesn't require a headless browser, but haven't done so yet. It's definitely a todo.

[2016-03-09 00:30] dvoytenko commented on #2476
Hmm. We are considering extending analytics expression syntax a bit to possibly support some functions/transformations. But `NOT` would not fit into it super well. Perhaps it'd be better to just return `barrier` field in the authorization response itself?

[2016-03-09 00:31] obeyer opened #2504 "doubleclick ads with 3rd party tags: celtra inter scroller"
We have some ads served through doubleclick as 3rd party tags, like celtra inter scroller. The resulting ad doesn't look ok, since the js fails to execute inside, and doesn't create the required element. Is there a different way in amp-ad for doubleclick ads to serve 3rd party ads?
For the reference, the inter scroller ads are in this gallery after the 4th and the 8th slide
http://popsugar.dev9.on

[2016-03-09 00:31] dvoytenko commented on #2472
I think most of these questions should be first reconciled with @cramforce , especially w.r.t. constraints. I can then advise on the best way to proceed with implementation since stickiness is always a sticky issue across platforms.

[2016-03-09 00:50] #2492 closed

[2016-03-09 02:08] #2170 closed

[2016-03-09 02:57] luixxiul commented on #2131
@dvoytenko, it seems to be fixed, doesn't it?

[2016-03-09 03:47] mkhatib commented on #2298
Added #404_is_fine to hint that this error message should be ignored.

[2016-03-09 03:47] #2298 closed

[2016-03-09 06:40] yoavweiss commented on #2372
That's an implementation issue, as `document` support didn't yet make it.

Can you please open a crbug and send it my way? I'll do my best to then merge it back to 50.

[2016-03-09 07:58] dmitrymotorin opened #2508 "Add support to Media.net ads"
Hi guys,
Is that support in your plans? http://media.net/

[2016-03-09 08:46] georgecrawford commented on #2476
`barrier` is a decision made in the UI, not in the authorisation. But either some functions/transformations, or the ability to define variables within `amp-access`-protected blocks, would work for this use-case.

[2016-03-09 08:52] mkhatib commented on #2372
Thanks @yoavweiss done https://bugs.chromium.org/p/chromium/issues/detail?id=593267#

[2016-03-09 08:52] #2372 closed

[2016-03-09 15:14] cramforce commented on #2372
Does the warning mean the value is ignored? In that case we might just want to revert our change to not use `document`.

[2016-03-09 15:18] yoavweiss commented on #2372
Yeah, the value is ignored (since the alternative would have been a double download). I'll comment on this issue once the Chrome bug is resolved.

[2016-03-09 15:20] cramforce commented on #2372
@mkhatib Lets revert #2500

[2016-03-09 15:41] cramforce commented on #2418
Taking this since Justin is out.

[2016-03-09 17:00] georgecrawford opened #2510 "amp-carousel: hide caption on tap"
I'd like to request the ability to hide caption on tap (i.e. adding a CSS class to the carousel when tapped, so that captions superimposed over images can be hidden).

Let me know if you'd like any further details.

[2016-03-09 17:04] georgecrawford commented on #2510
We have some images with very long captions. For example:
![screenshot 2016-03-09 17 02 06](https://cloud.githubusercontent.com/assets/84737/13643428/b47a31b4-e618-11e5-8477-4b32ce60f737.png)
Our 'house style' is to float the caption over the image with a translucent background, but this really requires the caption to hide when tapped so the user can see the whole image.

Any other suggestions?

[2016-03-09 17:28] ott-fogliata opened #2511 "Validator: 'allowfullscreen' is an invalid sandbox flag"
## amp-iframe | 'allowfullscreen' is an invalid sandbox flag

When I put allowfullscreen in the sandbox attribute, the console shows this
"Error while parsing the 'sandbox' attribute: 'allowfullscreen' is an invalid sandbox flag".

Moreover, it seems that a videoplayer (like jwplayer) in a amp-iframe, in fullscreen mode, fills iframe area (not the entire page)

Thanks
- Ott.

[2016-03-09 17:41] dvoytenko commented on #2511
/to @Gregable

Is `allowfullscreen` a valid sandbox flag? I don't remember ever seeing it. I believe it's only the iframe element attribute.

[2016-03-09 17:44] dvoytenko commented on #2510
@georgecrawford Not yet, but we should definitely support this. We have one option now to use `amp-fit-text`which would play with font size to try to fit more text, but that's obviously not enough for a caption this long. We'll find a way to accommodate this, just need to evaluate couple of options.

[2016-03-09 17:44] dvoytenko commented on #2510
/cc @ericlindley-g

[2016-03-09 17:48] ott-fogliata commented on #2511
I have seen "allowfullscreen" flag in https://ampbyexample.com/components/amp-iframe/

[2016-03-09 17:53] georgecrawford opened #2512 "amp-carousel: pagination markers"
I'd like to request the ability to add pagination markers to `amp-carousel` (iOS-like dots, `page 1 of 7`, or other options).

[2016-03-09 17:54] georgecrawford commented on #2510
I moved the pagination request to a new ticket: https://github.com/ampproject/amphtml/issues/2512

[2016-03-09 18:08] dvoytenko commented on #2512
/cc @ericlindley-g

[2016-03-09 18:10] dvoytenko commented on #2511
I believe this is an error in the example. /cc @sebastianbenz

[2016-03-09 18:20] cramforce commented on #2372
@yoavweiss While I have you here: If I preload URL X and X responds with a preload directive in the HTTP response header, is that execute immediately?

[2016-03-09 18:21] ericlindley-g opened #2513 "Fix carousel amp-by-example image dimensions stretch"
In the [carousel amp-by-example](https://ampbyexample.com/components/amp-carousel/), the images in the carousel should have a 4x3 aspect ratio, but are getting stretched vertically to fit the 4x3.5 carousel

May be as simple as setting the carousel dimensions to 400x300 for this one case, but the carousel extension itself may need tweaking so images don't stretch to the carousel dimensions

cc/ @d

[2016-03-09 18:22] dvoytenko commented on #2131
Not fixed exactly. The `layout=responsive` is defined explicitly as the layout that assigns height based on width. So it's a width-based layout. The reason for this is that this is the only option that can be accommodated via CSS - e.g. both vertical and horizontal `%` measurements are done based on the width, such as `padding-top`. Unfortunately, CSS does not allow to constraint width based on he

[2016-03-09 18:23] #2418 closed

[2016-03-09 18:24] ericlindley-g opened #2514 "Link at bottom of carousel amp-by-example page is 404'ing"
Hey Sebastian, the [link](https://ampbyexample.com/Advanced/Image_Galleries_with_amp-carousel/) at the bottom of the [carousel amp-by-example page ](https://ampbyexample.com/components/amp-carousel/) is 404'ing this morning. Are you the right person to look into this?

[2016-03-09 18:29] sebastianbenz commented on #2511
Yup - forgot to remove it. Fixed it: https://github.com/ampproject/amp-by-example/pull/71

[2016-03-09 18:32] obeyer commented on #2485
@jasti thank you! what is the behavior now (without the aforementioned parameter)? I noticed the ads also don't load until they are scrolled into view (if you are scrolling fast enough). is that true?

[2016-03-09 18:35] sebastianbenz commented on #2514
Thanks. It's fixed. Feel free to create these issues directly in the amp-by-example project.

[2016-03-09 18:41] omegdadi commented on #2491
@dvoytenko I've updated the PR with the changes and added a comment in the CSS referencing the WebKit issue.

[2016-03-09 18:43] ericlindley-g commented on #2514
Thanks! And sorry about that—will put it in amp-by-example directly next time

[2016-03-09 18:44] dougalg commented on #2442
The reason that we have approached this as iframe-based is that it was the simplest implementation for our clients that preserves all existing functionality of our products.

We have quite a few clients (Tribune as I mentioned above, CBS Local, Hearst, LA Times, Gatehouse) who might be interested in AMP, but still want to be able to use our products with full functionality.

[2016-03-09 18:50] sebastianbenz commented on #2513
Thanks Eric! I fixed the sample.

[2016-03-09 19:04] yoavweiss commented on #2372
Normally Link based preloads should be acted upon after that initial response data is committed. (so after the first chunk of payload data arrives)

[2016-03-09 19:25] Gregable commented on #2511
@dvoytenko , we currently allow any value for the `sandbox` attribute in the `amp-iframe` tag. We should probably sort out the full list of allowable values and improve our errors here at some point down the line.

[2016-03-09 19:34] sebastianbenz opened #2517 "Validation error if amp-list references an template"
The following sample results in a validation errors (but works):

[code]

Validation error:
[code]

According to the docs the template attribute is supported.

Example page: https://ampbyexample.com/components/amp-list/?development=1

//cc @gregable @dvoytenko

[2016-03-09 19:37] dvoytenko commented on #2517
@Gregable PTAL. `template` attribute should be allowed as per https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/amp-list.md#usage

[2016-03-09 20:57] src-code commented on #1252
I'd like to see something like this implemented soon - right now testing pre-production environments other than localhost that aren't terminating https is rather difficult, especially when substitutions like `SOURCE_HOST` aren't returning the port number (I'm planning to submit a pull for that one...)

[2016-03-09 21:20] #2440 closed

[2016-03-09 21:20] dvoytenko commented on #2440
The fix has been merged. It should be in canary tomorrow (Thur).

[2016-03-09 22:17] jasti commented on #2485
The current behavior doesn't necessarily optimize for viewability. i.e. some ads in the bottom of the page could be requested even if the user doesn't reach the bottom of the page.

[2016-03-09 22:27] cramforce commented on #2485
@obeyer the current behavior is a compromise that tries to balance impact on page load time by ads with trying to get them rendered by the time users see them. We don't really care about fast scrolling. The goal is to have them loaded with realistic scrolling.

The new strategy loads ads a bit later, so it is more likely they aren't done by the time the users sees them but also less likely they ar

[2016-03-09 23:24] k0nserv opened #2524 "Graceful fallback when 3rd party JS is blocked"
Hi,

I've been trying out AMP on my own site and have found it to be great. I like that the `amp-boilerplate` is available to gracefully handle user agents that do not support JS. However when the user agent supports JS but blocks third party JS the fallback does not work because it relies on `<noscript>`.

I'm wondering if there's a recommended way to gracefully fallback when https://cdn.ampproje

[2016-03-09 23:27] cramforce commented on #2524
I don't think there is much we can do. I think https://cdn.ampproject.org/v0/* is a good path to whitelist when one is blocking 3p JS.

[2016-03-10 01:12] dvoytenko opened #2527 "Cleanup old log system"

[2016-03-10 01:59] paul-matthews commented on #1201
@niallkennedy #1856 has been merged if you'd like to check it out.

If you just want to see it working, I've staged an example at https://amp-partners.appspot.com/social

[2016-03-10 02:43] mkhatib commented on #2358
I am starting to think more about this and putting some thoughts here, feel free to comment if I am missing a point.

As we chatted, one of the usecases for this is to streamline testing ad-resizing cases, [for example this](https://github.com/ampproject/amphtml/blob/master/test/functional/test-amp-ad.js#L134) which actually uses the fixture iframe.

So in testing, instead of loading the bootstrap

[2016-03-10 08:22] georgecrawford commented on #2510
I'm closely watching https://github.com/ampproject/amphtml/issues/1866, which would help greatly here. A simple carousel (with no captions, or truncated text using amp-fit-text) in combination with a lightbox to show larger images and full captions would be ideal.

[2016-03-10 09:17] georgecrawford commented on #2487
We're interested in capturing this too, if possible.

[2016-03-10 09:57] buro9 commented on #2380
Hi, I work for CloudFlare but am not working in this specific area, it's been raised internally and this issue is being tracked and we'll look to get a fix out as soon as possible. If I have news on this, I'll update this bug. Feel free to ping me for updates on this.

[2016-03-10 10:04] buro9 commented on #2380
For now, a CloudFlare customer will want to disable:
* Speed > Mirage
* Speed > Rocket Loader
* Scrape Shield > Email Obfuscation

Those can be disabled using page rules, such that you can leave the features enabled for the rest of the content served.

We'd recommend leaving the following enabled for AMP:
* Speed > Auto Minify
* Speed > Polish

[2016-03-10 12:01] eduardozulian opened #2528 "The attribute 'type' may not appear in tag 'ol'."
AMP Version: 1456954860788

The `The attribute 'type' may not appear in tag 'ol'` validation error occurs, however `type` attribute is no longer deprecated: https://www.w3.org/TR/html-markup/ol.html#ol.attrs.type

[2016-03-10 14:54] weeblr opened #2529 "amp-img fails to load images with space in their path"
## Short description of your issue:

Some users have images with spaces in their path, ie `<img src="/images/admins/FirstName LastName.jpg" ...`

In the AMP version, this gets converted to:
`<amp-img src="/images/admins/FirstName LastName.jpg..."`

Though the space is absolutely invalid per RFC and should be either URL encoded or escaped, this happens often with user generated content, and browser

[2016-03-10 14:55] samsm-turner opened #2530 "A single missing Twitter post may cause many posts not to display"
We have some articles that use many Twitter embeds in the process of telling a story. If one of these Twitter posts has been deleted, the failure seems to affect several other posts as well.

So for example, on a page with the following Twitter embeds:
[code]
missing1 doesn't appear (which makes sense) but valid3 and valid4 also might not load.

[Here's screenshot](http://samsm.com/whatever/skitch

[2016-03-10 15:28] cramforce opened #2531 "Enforce 4 space indent in line continuation"
[code]

[2016-03-10 15:38] cramforce commented on #2487
`viewer.onVisibilityChanged` should mostly abstract this. The `viewer` also sends us a `we will kill you in 100ms` event that we can use for this. At this event it is very likely that we'll get killed, although it can be interrupted by the user.

[2016-03-10 15:40] cramforce commented on #2529
@dvoytenko this is likely because the `srcset` code runs on the `src`, right? I think it would be very reasonable to not do that. Would also save some CPU. I think otherwise this is, of course, an invalid URL. URLs cannot contain spaces.

[2016-03-10 16:11] ctbarna opened #2533 "Difficult to Debug Doubleclick Targeting"
It doesn't seem possible to open the google console (a la `?googfc`) in an AMP page with doubleclick ads. Our AdOps team is finding it difficult to troubleshoot targeting issues and has no tools to help them figure out anything about what is wrong.

Are there any parameters–hidden or otherwise–that we can use to debug doubleclick ad delivery?

[2016-03-10 16:14] dodozhang21 opened #2534 "Our font file passes validation on our AMP page but NOT on cdn"
Could someone help us understand why our ttf font file returns 404 on the cdn server but works fine on our regular AMP page? Our regular AMP page also validates without issue.

http://amp.parents.com/pregnancy/complications/miscarriage/is-it-a-miscarriage/#development=1
![amppagevalidates](https://cloud.githubusercontent.com/assets/646064/13675771/c233bf7e-e6a8-11e5-854b-24bd34921494.jpg)

https:/

[2016-03-10 16:32] georgecrawford opened #2535 "Ellipsis misplaced or missing in `amp-fit-text` on Android"
We've seen a few problems with misplaced ellipses in `amp-fit-text` elements inside `amp-carousel`. Sometimes, the ellipsis appears with the wrong vertical alignment (Nexus 7 - 5.1.1):

![screenshot 2016-03-10 16 34 21](https://cloud.githubusercontent.com/assets/84737/13676504/008e10b4-e6de-11e5-955e-fce312d03614.png)

We've also seen ellipses disappear when moving between slides (e.g. ellipsis sh

[2016-03-10 16:42] cramforce commented on #2530
I took a look and I really cannot see how this could effect multiple tweets (unless they were replies of the same tweet in a single embed). Nonetheless, we need to handle this case much better. PR incoming.

[2016-03-10 16:44] cramforce opened #2536 "Write tests for amp-twitter"
There are currently 0 which is bad, because Tweets are super important :)

[2016-03-10 17:02] r0b0ticus commented on #2534
Got some guidance from Google and sounds fonts at the moment need to return the correct content-type of font/ttf to be valid.

[2016-03-10 17:14] dodozhang21 commented on #2534
Thanks for the reply. We will take care of that on our web servers.

[2016-03-10 17:14] #2534 closed

[2016-03-10 17:15] cramforce commented on #2534
Docs are coming soon. Sorry about that.

@r0b0ticus is right. Adding a content type in the response will fix it.

[2016-03-10 17:23] dvoytenko commented on #2511
@Gregable This was identified as a documentation/examples issue. No changes needed from validator side, but it's always good to confirm that we support all `sandbox` values :)

[2016-03-10 17:23] #2511 closed

[2016-03-10 17:31] dvoytenko commented on #2528
@Gregable `ol[type]` is no longer deprecated, so let's support it.

[2016-03-10 17:43] dvoytenko commented on #2535
Interesting. I'll check which CSS might be misinterpreting the positioning.

[2016-03-10 19:47] cramforce opened #2540 "@cramforce will be OOO from 7/23 to 8/31"
Please ping @dvoytenko for all questions you would have directed at me.

[2016-03-10 19:55] dvoytenko commented on #2491
This should be fixed now. Looks like it's going into "1457636119213" release with goes into canary later today.

[2016-03-10 19:55] #2491 closed

[2016-03-10 20:16] samsm-turner commented on #2530
You are correct, I misinterpreted the problem. Only the one Tweet is effected, though the effect I was seeing took up much more space which I mistook for multiple Tweets.

Looks like a great addition, suspect it fixes my problem.

[2016-03-10 20:40] #2479 closed

[2016-03-10 21:08] #2529 closed

[2016-03-10 21:20] rudygalfi commented on #2407
With #2425 being merged, can this be closed?

[2016-03-10 22:11] whatisjasongoldstein commented on #2407
What I'd really like to see is the ability to control the lazy load range.

The way we cleared the viewability hurdle on our site was by AB testing the distance from the screen each ad starts loading, and setting different positions to the value that works best.

There isn't one definitive answer for all placements, in part because there's a tradeoff between viewability and impressions. For exampl

[2016-03-10 22:21] Gregable commented on #2528
I picked this one up on my last sweep of HTML5 attributes along with `start` and `reversed`, so we'll have it available in a later release. Thanks for the report though, HTML is definitely a large language so these reports are very helpful in catching all issues.

[2016-03-10 22:21] #2528 closed

[2016-03-10 22:26] weeblr commented on #2529
Hi
Great to see things moving forward like this ;)
Will this be available soon?

[2016-03-10 23:39] #1940 closed

[2016-03-10 23:39] #1991 closed

[2016-03-11 00:12] dvoytenko commented on #2529
I believe we missed today's canary, so it will go out next Thursday to canary.

[2016-03-11 01:12] mkhatib commented on #2426
I've started working on porting your solution to `amp-youtube`. One of the drawback is that we're not gonna be able to lazily render the images placeholders - I think the `amp-instagram` change also fails to do that, all instagrams images (not iframes) are loaded regardless where they are in the viewport in prerender mode, no?

With #2385 we set `renderOutsideViewport() => false`  but this won't w

[2016-03-11 01:13] dvoytenko commented on #2426
Let's catchup tomorrow on `prerenderCallback` - I believe it's the infrastructure that's missing here.

[2016-03-11 02:24] cramforce commented on #2426
Prerender callback isn't all here: For these widgets we also want to eagerly render the posters and then render iframes super late.

[2016-03-11 03:08] adewale opened #2548 "AMPs with large numbers of Twitter embeds fail to render any of the tweets."
## Short description of your issue:
AMPs with large numbers of Twitter embeds fail to render any of the tweets.

## How do we reproduce the issue?
1. Look at: http://searchengineland.com/google-dance-2016-recap-244051 and notice that all 32 Twitter embeds eventually render.
2. Look at the AMP: http://searchengineland.com/google-dance-2016-recap-244051/amp and notice that 0 of the Twitter embeds re

[2016-03-11 03:41] mkhatib commented on #2548
I am able to re-produce. Looking into it.

[2016-03-11 03:52] mkhatib opened #2549 "Local Proxy throws an error for a valid AMP"
## Short description of your issue:
Local proxy (http://localhost:8000/max/s/URL) says page is invalid because of lack of `link canonical` but the page is valid in production and does have `canonical` link.

## How do we reproduce the issue?

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue and nothing else.

1. Run the local proxy `gul

[2016-03-11 03:57] mkhatib commented on #2548
It seems the `tweet-id`s provided are actually not what we usually expect.

Switching normal expected IDs AMP is able to embed tweets correctly, see:
http://jsbin.com/zokuno/edit?html,console,output

Any idea what IDs is searchenginelands are using for the tweets? Where are they getting these short ids?

[2016-03-11 04:01] mkhatib commented on #2548
It does seem they're using two different IDs on AMP `tweet-id= 2147483647 ` and non-AMP `tweet-id=705219971425574912`. Any idea if they might have messed up their AMP format data? (also note all the amp-tweets are trying to embed the same tweet-id).

[2016-03-11 04:55] erwinmombay commented on #2548
as for the actual error showing up fix for non existent tweets is in canary through https://github.com/ampproject/amphtml/pull/2537

[2016-03-11 04:58] erwinmombay commented on #2548
yeah, it seems they just have incorrect id's for these tweets and are non existent. see https://twitter.com/anyuser/status/2147483647 (this should redirect to the right user/tweet but as you can see it doesnt exist)

[2016-03-11 05:11] #2548 closed

[2016-03-11 05:11] mkhatib commented on #2548
@adewale let me know if this is still an issue. Closing for now.

[2016-03-11 05:21] erwinmombay commented on #2549
@mkhatib i dont see that page being valid, i see a bunch of errors at http://searchengineland.com/google-dance-2016-recap-244051/amp#development=1

[2016-03-11 05:26] erwinmombay commented on #2549
@mkhatib nvm, i didnt realize you meant the actual sadphone page being invalid lol

[2016-03-11 05:30] erwinmombay commented on #2549
@mkhatib sorry i think i was confused, did you mean the actual searchengineland or the sadphone page ? funnily enough the error page isnt valid amp :)

[2016-03-11 06:44] sidkshatriya opened #2551 "[Validator] No closing tag for <amp-audio> tag in test html"
There seems to be an issue with the test data at:

https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/regexps.html

Excerpt from the above document
[code]

Are these tags not malformed? Should each tag not have `</amp-audio>` to close it?

I notice that everywhere you are closing each custom tag and here you have not done so.

This (according to me) should be:
[code

[2016-03-11 07:46] Gregable commented on #2551
The files in validator/testdata/ are not necessarily meant to be valid. They test validation features, including error messages. In this example, the emitted error messages golden file is https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/regexps.out

That said, not closing `<amp-audio>` is not an AMP validation error. It is an HTML5 validation error, but AMP does n

[2016-03-11 07:46] #2551 closed

[2016-03-11 09:46] Em-PredragMilosevic opened #2553 "Validation : add amp-springboard-player component"
Per your suggestion in my <a href="https://github.com/ampproject/amphtml/pull/2467">pull request</a>, please add <code>amp-springboard-player</code> component to validation.

[2016-03-11 09:56] shinystat opened #2557 "Intent to implement: add built-in vendor configuration for ShinyStat analytics"
## Objective

To implement ShinyStat vendor configuration.
## Proposed Vendor Configuration

[code]

Pull request number #2556.

[2016-03-11 10:10] georgecrawford opened #2559 "`amp-carousel` overlaps images after rotating device"
Steps to reproduce:

1. Go to https://amp.ft.com/content/e96b93ea-2933-11e2-9591-00144feabdc0 on a mobile device, portrait.
2. Swipe a couple of images on the slideshow.
3. Rotate to landscape.
4. Broken layout:
![img_0035](https://cloud.githubusercontent.com/assets/84737/13698941/30627500-e76f-11e5-844f-889ca57c4149.PNG)

NB. this only seems to affect slideshows that are advanced with a swipe ges

[2016-03-11 10:16] erwinmombay commented on #2559
thanks @georgecrawford ! i've seen this before, definitely a bug.

[2016-03-11 10:18] erwinmombay commented on #2559
@dvoytenko assigning to you for now. feel free to reassign. (I'll grab it once i finish out my queue and nobody has gotten to it yet as well)

[2016-03-11 16:32] cramforce opened #2560 "Pause resource loading during swiping"
When we detect that a page is swiped we should immediately stop issuing new `layoutCallback` invocations for the page that is being swiped.

CC @ericfs @dvoytenko @jridgewell

[2016-03-11 16:37] cramforce opened #2561 "Implement minimum penalty for ads"
We currently get hit by a special case (I believe) where if the first viewport contains no resources and the first resource on the page is an ad, then we load that ad immediately. This can strongly impact experience during swiping between articles.

I think we may want to put in an additional penalty that only applies at the very beginning of a page lifecycle.

CC @ericfs @dvoytenko @jridgewell

[2016-03-11 16:40] cramforce commented on #2560
See also google issue number 27574989

[2016-03-11 17:11] jasti commented on #2533
@ctbarna Thanks for raising this. I suggest you please reach out publisher-support@google.com, so they are able to prioritize Google Console or Google Publisher Toolbar to work for AMP ad requests. I will also reach out to the team internally.

In the mean time, please use the Chrome dev tools to emulate mobile requests and troubleshoot using the network tab by filtering for "pubads" and inspectin

[2016-03-11 17:15] jasti commented on #2504
hi @obeyer I can't exactly reproduce and see ads on the 4th and 8th slide. Screenshot of some sort should help. The main thing with 3rd party tags is to ensure that all assets being served are SSL compliant.

[2016-03-11 17:27] cramforce opened #2563 "Implement documentInactiveCallback for ads"
Killing on swipe would be much better, but `documentInactiveCallback` is sufficient approximation.

@jridgewell Can we make this is a first use of our disambiguation between swipe and visibility change?

CC @dvoytenko @ericfs

[2016-03-11 17:46] uniquelygeneric opened #2564 "Add `focus' and 'blur' events to amp-analytics"
Would fire when the document is in or out of focus.

Similar to onfocus and onblur events in JavaScript.

[2016-03-11 17:53] Gregable commented on #2222
This fix should be live everywhere. Let me know if you see further errors.

[2016-03-11 17:53] #2222 closed

[2016-03-11 17:54] jridgewell commented on #2530
@cramforce: Is this fixed by #2537?

[2016-03-11 17:54] Gregable commented on #2047
This is live everywhere. Let me know if you find any further examples of validation issues.

[2016-03-11 17:54] #2047 closed

[2016-03-11 17:55] cramforce commented on #2530
@jridgewell Not 100% sure, but lets me optimistic.

[2016-03-11 17:55] #2530 closed

[2016-03-11 17:56] #1687 closed

[2016-03-11 17:56] #1819 closed

[2016-03-11 18:04] jridgewell opened #2565 "Ads: Declarative Viewability Loading Distance"
We've had two requests for a declarative way to set the "viewability distance" that should load an ad.

- https://github.com/ampproject/amphtml/pull/2425#issuecomment-192407210
- https://github.com/ampproject/amphtml/issues/2407#issuecomment-195074242

[2016-03-11 18:21] #2514 closed

[2016-03-11 18:22] #2513 closed

[2016-03-11 18:25] dvoytenko commented on #2560
We discussed something like this - basically we simply need to completely turn off runtime passes until swipe is done. I guess this is our PAUSE state.

[2016-03-11 18:29] jridgewell commented on #2524
@cramforce: Could we shorten the visible animation to 1s, then alter that back to 8s in JS?

[2016-03-11 18:37] cramforce commented on #2524
@jridgewell I think we should make it configurable. 3s was definitely under discussion (same as font timeout in most browsers).

[2016-03-11 18:39] jridgewell commented on #2560
This should be very simple with the vis-state state machine. When in transitioning from `PASED` to `PAUSED`, we just noop instead of the pass function we do currently.

[2016-03-11 18:41] dvoytenko commented on #2560
Agree. And the `pause` callbacks themselves will happen in `VISIBLE` -> `PAUSED` and such transitions, right?

[2016-03-11 18:42] jridgewell commented on #2560
Yup.

[2016-03-11 18:57] dvoytenko commented on #2563
Right now it is visibility change - specifically `PAUSE` state. We discussed a few namings (such as PAUSING) and I think this ended up preferred.

[2016-03-11 19:07] cramforce commented on #2563
SGTM

On swipe away we should kill the iframes.

[2016-03-11 19:08] dvoytenko commented on #2529
It will be in canary today. We'd really appreciate if you check it in canary in a couple of hours.

[2016-03-11 19:29] mkhatib commented on #2549
No you were right, I thought the searchengineland article is valid, but it isn't although the errors thrown by the local proxy are different in this case it says there's no canonical tag.

[2016-03-11 19:47] erwinmombay commented on #2549
cool, thanks for clarifying. feel free to close

[2016-03-11 21:42] breauxc opened #2569 "Tweak Chartbeat Vendor Config"
## Short description of your issue:
We would like our user session id (currently defined as the concatenation of pageViewId and clientId) to be more resilient to truncation.

Additionally, we would like to reorder our pings to be consistent with the order from other pings to simplify scripts processing the raw data.

Finally, we'd like to add the timezone to the data we're passing.

These tweaks a

[2016-03-11 21:53] src-code commented on #2565
Beyond merely determining when to load the ad, what about viewability as defined by the IAB, whereas (at least for desktop) 50% of the ad's pixels must be in the viewport for >= 1 second to be considered "viewable"?

http://www.iab.com/guidelines/state-of-viewability-transaction-2015/

[2016-03-11 22:10] src-code opened #2572 "*_HOST URL substitutions use hostname, omit port number"
Currently (at least as of v1457112743399) the `SOURCE_HOST`, `CANONICAL_HOST` and `AMPDOC_HOST` URL substitutions rely on the `hostname` property of the anchor element, not `host`.  Because of this, the port number is omitted.  This can cause problems when referencing hosts serving on non-standard ports, for example in pre-production environments.

I'd like to propose that these `*_HOST` vars shou

[2016-03-11 22:14] dvoytenko commented on #2572
I have no problem with this. @cramforce what do you think?

[2016-03-11 22:22] dvoytenko commented on #2553
/to @Gregable

[2016-03-11 22:25] eduardozulian commented on #2528
Thanks! :facepunch:

[2016-03-11 22:31] #2569 closed

[2016-03-11 22:32] #2261 closed

[2016-03-11 23:07] Gregable commented on #2553
It looks like [this](https://github.com/Em-PredragMilosevic/amphtml/blob/master/extensions/amp-springboard-player/amp-springboard-player.md) is the working spec.

Which layouts should this support? Possibly a question for @dvoytenko

This is pretty straightforward for validation. Let me know if you think it would be helpful to validate any of the attribute values. For instance, it looks like data-

[2016-03-11 23:35] cramforce commented on #2565
Have people seen
https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.md#experimental-data-loading-strategy
? This is available in dev channel since today.

Regarding the IAB stuff: @src-code Are you asking for IAB style viewability events exposed to `amp-analytics`?

CC @jasti

[2016-03-11 23:42] jasti commented on #2565
@src-code The IAB definition is only applicable to the _viewability vendors_ for measuring what's considered viewable vs not. For e.g. ActiveView from DoubleClick and MOAT are the ones that use that IAB definition to determine if an ad is viewable.
AMP supports both ActiveView and MOAT.

[2016-03-11 23:47] dvoytenko commented on #2426
Yes, agree. But I think it's a common enough pattern that we should get it settled early.

[2016-03-11 23:48] cramforce commented on #2565
@jasti we are planning to expose viewability to analytics. This wouldn't necessarily be ad specific, but it would do something like "trigger a hit when this amp element was viewable according to IAB".

[2016-03-11 23:54] dvoytenko commented on #2553
`layout=fixed|responsive|fill`

[2016-03-12 00:23] dvoytenko commented on #2561
This is in the visible state?

[2016-03-12 01:13] Gregable commented on #2553
@honeybadgerdontcare

[2016-03-12 06:21] jasti commented on #2565
Ah, this is great. Would love to read the spec/ requirement if there is one.

[2016-03-12 12:46] sascha-hendel opened #2573 "amp-accordion doesn't work"
Live example: http://eng.archinform.net/projekte/10.amp.htm
Following error in console:

Strange, that the error message is related to amp-access, which isn't used on the page at all...

Other extended component  (amp-carousel) is working.

[2016-03-12 19:54] erwinmombay commented on #2573
not sure if the validator has caught up for amp-accordion

/cc @Gregable @powdercloud @sriramkrish85

[2016-03-13 12:46] justforfun commented on #2261
@sriramkrish85:
Has the fix been pushed in production?
Here:
http://justforfun.github.io/examples-amp/rep-article.amp.html#development=1
I still get the problem.
Thank you

[2016-03-13 12:47] amphtml-team commented on #2261
Not yet!
On Sun, Mar 13, 2016 at 5:46 AM Luigi Lobello <notifications@github.com>
wrote:

[2016-03-14 09:08] sascha-hendel commented on #2573
Noticed right now, that accordion is listed under
https://cdn.ampproject.org/experiments.html
as experimental, but in the docs at
https://www.ampproject.org/docs/reference/extended/amp-accordion.html
it is listed as stable ???

[2016-03-14 09:12] sascha-hendel commented on #2573
Ok, if I activate accordion at https://cdn.ampproject.org/experiments.html the error message is still there, but the accordion works!
Is accordion in some kind of transition from dev to stable?

[2016-03-14 09:20] pacojerte commented on #2573
Wyd
On Mar 14, 2016 2:13 AM, "Sascha Hendel" <notifications@github.com> wrote:

[2016-03-14 09:52] erwinmombay commented on #2573
@sascha-hendel yes, from the docs https://github.com/ampproject/amphtml/releases it is still in pre-release. it should go out of canary and into prod on thursday. (might still be invalid per validator but should work w/o turning on experiment opt-in)

[2016-03-14 12:51] Em-PredragMilosevic commented on #2553
Attribute values:
<code>data-mode=video|playlist</code>
<code>data-site-id=NUMERIC</code>
<code>data-player-id=ALPHANUMERIC</code>

Thanks

[2016-03-14 13:58] cramforce commented on #2540
Looks like this is starting today.

[2016-03-14 16:23] aprigogin commented on #2561
I think so, yes. We ended up delaying placing amp into the visible state
for 1 second. That greatly improved fast swiping through viewer.

On Fri, Mar 11, 2016 at 4:23 PM, Dima Voytenko <notifications@github.com>
wrote:

--
=G

[2016-03-14 16:29] sman68 opened #2577 "Visibility issues with Ads on Internet Explorer 11"
Cube ads that are being displayed inside an iframe on IE11 are getting a visibility: hidden inline style added to it, which hides the ads. Does anyone know a workaround on this? This is not occurring on other acceptable browsers.

Here are three sites that currently have this problem. Each one shows fine as AMP pages in latest Chrome, Safari, Firefox, & Edge, but if you open these pages in IE11, c

[2016-03-14 17:19] dvoytenko commented on #2261
@justforfun The fix should go into canary this Thursday (March 17th) and to PROD the following Thursday.

[2016-03-14 17:45] montmanu opened #2578 "amp-access not sending pingback request"
We would expect https://www.google.com/amp/mobile.nytimes.com/2016/03/15/arts/music/radiohead-tour.amp.html to make two requests to https://meter-svc.nytimes.com/meter.js -- one GET (`authorization`) and one POST (`pingback`).

Verified on iPhone 6 / iOS 9.2 (13C75)

AMP HTML Version - 1457721872758

[2016-03-14 17:55] Gregable commented on #2573
Validator work is still in progress. This tag has some new requirements on children that are different than other validations we've done in the past.

[2016-03-14 18:08] dvoytenko commented on #2578
@montmanu and I discussed this on Slack. This is due to the "Authorization failed: " Error: Response must contain the AMP-Access-Control-Allow-Source-Origin header" error, which is described in detail here: https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md

Additional recommendation is to use https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-acce

[2016-03-14 18:08] #2578 closed

[2016-03-14 18:27] sriramkrish85 commented on #2559
The url above does not work.
Here is an easy to reproduce URL - https://ampbyexample.com/components/amp-carousel/

[2016-03-14 18:38] erwinmombay opened #2579 "Switch experiments to read the global config"
Switch experiments to read the global config

read ex. `window.AMP_CONFIG.experiment1`

[2016-03-14 18:55] georgecrawford commented on #2559
We're live with this now, so I updated the URL to https://amp.ft.com/content/e96b93ea-2933-11e2-9591-00144feabdc0.

[2016-03-14 19:13] DarXector opened #2580 "Validation : add amp-brid-player component"
Please add `amp-brid-player` component to validation. Pull request: [2438](https://github.com/ampproject/amphtml/pull/2438)

Thank you,
Marko.

[2016-03-14 19:20] ericlindley-g commented on #2573
@Meggin , are you able to update the documentation at https://www.ampproject.org/docs/reference/extended/amp-accordion.html to reflect that amp-accordion is still in experimental? Thanks!

[2016-03-14 19:41] Meggin commented on #2573
The spec is updated-- just need to do another reference update. I'll try
and do this today, but it might be tomorrow.

Meggin

On Mon, Mar 14, 2016 at 12:21 PM, ericlindley-g <notifications@github.com>
wrote:

[2016-03-14 20:04] dvoytenko commented on #2579
I think ideally it'd be:
[code]

[2016-03-14 20:07] erwinmombay commented on #2579
@dvoytenko so i intentionally made it at the top level to try and keep it flat, but if you feel strongly about it i don't mind adding the `experiments` namespace on top of the actual experiments

[2016-03-14 20:13] dvoytenko commented on #2579
Hmm - no, not very strong. Let's start with top level and see how it feels. I think it could be fine.

[2016-03-14 20:17] dvoytenko commented on #2580
/to @Gregable

[2016-03-14 20:43] eperezf commented on #2380
@buro9 I did everything via a page rule using *domain.com/*/amp/*. The problem is still there. Using Wordpress and CloudFlare. "The attribute 'type' in tag 'script type=application/ld+json' is set to the invalid value 'text/javascript'." is the only error left. Is there any waiting time for the settings to apply?

[2016-03-14 20:43] mkhatib commented on #2548
@rudygalfi just wondering if we need to follow up with Search Engine Land on this and make sure this is not a bug in their publishing flow.

[2016-03-14 20:47] kashyapnitin commented on #2236
The Glade fill feature is now in prod. Michael could you reconfirm the behaviour you see with polar ads now? Are they still broken with the Glade tag?
Could you kindly point us to a sample test page?

[2016-03-14 21:59] rudygalfi commented on #2548
Will follow up

[2016-03-14 22:06] #2559 closed

[2016-03-14 23:46] mkhatib commented on #2357
@dvoytenko I've tested out using `_top` instead of `_blank` to open custom protocols in iOS Safari (incl. whatsapp:, tel:, sms:, mailto:) this works well haven't seen any issues.

One question remains with ftp: which works with top but this would change the address to the top document, do we want to add a special case for `ftp:` and possibly `http:` to open in `_blank` instead?

Actually for `http

[2016-03-15 00:09] dvoytenko commented on #2357
@mkhatib We generally should adhere to what CDN says about links, but exceptions are totally fine. I agree with your `ftp:` and `http:` suggestions going to `_blank` always.

Few comments:

Did this testing include iframe case? One important thing to test is whether or not such links push into history stack, which could be very disruptive for iframes. The easiest way to test this would be probably

[2016-03-15 00:45] MLRobbins commented on #2548
Hi all - I lead tech/dev at Search Engine Land and was notified of this thread by Gary I. at Google. The issue is not that we are publishing incorrect id's.  We publish on WP, and are utilizing the Automattic AMP plugin.

I've attached a text file containing the WP UI content for the article referenced above. You'll note we let WP auto handle the twitter embeds. Same for the AMP plugin - we're not

[2016-03-15 01:13] mkhatib commented on #2548
Thanks @MLRobbins for the context! I just filed a bug under amp-wp project for them to fix a bug with converting Twitter IDs

[2016-03-15 02:21] MLRobbins commented on #2548
No problem - thanks for filing that @mkhatib ~ I'll track it over there.

[2016-03-15 05:24] kadmos1 commented on #1286
Thanks for the idea @dvoytenko iframes may work for us

[2016-03-15 05:51] erwinmombay opened #2585 "amp-img loading dots does not go away when error is thrown"
## How do we reproduce the issue?

1. create amp-img with bad url link.
2. refresh repeatdly until you get a an amp-img whos "loading dots" don't dissapear.

## Short description of your issue:

amp-img loading dots does not go away when error is thrown

## What browsers are affected?

All browsers

## Which AMP version is affected?

unsure, but currently exists in master as of 1457721872758

[2016-03-15 07:17] Liron-Gigya opened #2586 "Need to Add support to 3rd party JS, added to "approved" list"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-03-15 07:19] Liron-Gigya commented on #2586
My understanding is that AMP does not support 3rd party JS.
Can you add an option to get our JS approved by Google for inclusion on AMP pages?

[2016-03-15 11:19] buro9 commented on #2380
@eperezf I've raised that as a bug ticket internally. I am curious, does disabling HTML minification resolve that?

[2016-03-15 14:32] dknecht commented on #2380
@jmadler I work for CloudFlare and would be interested to chat about ways to collaborate and potentially add AMP specific logic to our edge.

[2016-03-15 15:14] coreybyrnes commented on #728
@cramforce Can you confirm some findings of mine that, if true, would be helpful to include in the documentation?

- if the resize action is triggered by user action it will always be executed
- if the resize action is triggered upon ad load, it will only be executed if the ad is below or above the viewport
- if the resize action is triggered upon ad load, it will not be executed if the ad is with

[2016-03-15 16:07] Gregable commented on #2553
From the documentation, it looks like all 6 data- attributes are mandatory, since mandatory errors are listed for them. Is that correct or are any of them optional?

[2016-03-15 16:12] briangbell opened #2590 "Validation: The attribute 'cite' may not appear in tag 'q'."
When validating a page with #development=1 I get the following error:
The attribute 'cite' may not appear in tag 'q'.

The tag in question is used like this, which is valid markup:
`<q cite=URL>`

[2016-03-15 16:20] Gregable commented on #2590
Thanks for the report.

This tag/attr pair is actually allowed in the latest version, but it may be a week or two before we can roll it out everywhere. In the meantime, I'm letting the developer console errors continue to show it to avoid confusion. If you want to ignore these messages your pages will soon validate, just not quite yet.

[2016-03-15 16:25] #2590 closed

[2016-03-15 16:45] Em-PredragMilosevic commented on #2553
Yes, they are all mandatory.

[2016-03-15 16:46] cramforce commented on #2540
Merged 2016-03-14
![Emma](https://i.imgur.com/Az5PJz5.jpg)

[2016-03-15 17:38] #1354 closed

[2016-03-15 17:42] dvoytenko commented on #2540
LGTM!

[2016-03-15 17:57] dvoytenko commented on #728
@coreybyrnes you are correct. This is documented here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md#iframe-resizing

/cc @Meggin to see if this is also documented in docs and maybe needs some work.

/cc @sriramkrish85

[2016-03-15 18:11] coreybyrnes commented on #728
@dvoytenko you referenced iframe resizing but I'm specifically inquiring about ad resizing and the documentation isn't clear there. I really think it needs to be more specific and re-worded for clarification. Let me know if I can help with the edit.

[2016-03-15 18:16] dvoytenko opened #2594 "Document Ad resizing rules"
Document which iframe resizing rules apply to Ad resizing. If they are the same - we can consider merging this part of the doc or simply referencing one from the other.

/cc @Meggin @coreybyrnes

[2016-03-15 18:16] dvoytenko commented on #728
Makes sense. I opened #2594 to track documentation for ad resizing behavior.

[2016-03-15 18:18] Meggin commented on #2540
Congrats to the family!

On Tue, Mar 15, 2016 at 10:42 AM, Dima Voytenko <notifications@github.com>
wrote:

[2016-03-15 18:23] rudygalfi commented on #2586
@Liron-Gigya -- Can you describe your 3rd party use case in more detail?

[2016-03-15 19:54] aprigogin commented on #2540
Congratulations!

On Tue, Mar 15, 2016 at 11:19 AM, Meggin Kearney <notifications@github.com>
wrote:

--
=G

[2016-03-15 21:06] christianhaller commented on #2540
Herzlichen Glückwunsch!

[2016-03-15 21:07] dvoytenko commented on #2224
I agree with @mkhatib, it would be nice to find a way to always include this script for AMP. @mister-ben is there any option to do this that you could recommend?

[2016-03-15 21:12] Tonsil commented on #2245
I came to this page with what I believe to be the same problem. Just posting it here because I'd like to make sure this case is addressed in the fix:
[code]

[2016-03-15 21:27] ehd commented on #2540
@cramforce Damn, congrats! :smile:

[2016-03-15 22:13] bogosj commented on #2540
+1

[2016-03-15 22:37] dvoytenko opened #2600 "Validator: include src in the script error messages"
When available the script error message should include `src` value in
"The tag \'script\' is disallowed except in specific forms."

[2016-03-15 22:57] eperezf commented on #2380
@buro9 I think HTML Minification is not the issue here as the problem is the script type "text/javascript" inserted in the <head> section. Just like Google Analytics, it should be formatted as "ld+/json" maybe.

I just checked again the validator and the error changed to "The tag 'script' is disallowed except in specific forms". Maybe if the script can be loaded form an external file instead of be

[2016-03-15 23:43] dvoytenko commented on #2380
No, external file will not be allowed to be loaded either.

[2016-03-15 23:45] erwinmombay commented on #2585
will look for ux guidance if this is the behavior we want or not

[2016-03-15 23:47] eperezf commented on #2380
It can using <script async src="">. At least it does on my website. The problem is inline javascript from Cloudflare using <script type="text/javascript">.

[2016-03-15 23:48] dvoytenko commented on #2585
I think we should definitely stop spinning. I can't see any way to provide any indication of the error, however. I don't think we will find one. There are couple of options here:
 1. I'm pretty sure we can find and add the appropriate aria attributes to indicate that element has failed.
 2. We can consider adding a class or a attribute to the element and leave the styling to the author. However, I

[2016-03-16 00:05] individual8 commented on #2540
Good job!

[2016-03-16 00:06] #2335 closed

[2016-03-16 00:07] michaelkleber commented on #2540
Woot!  Mazel tov!

[2016-03-16 00:09] dvoytenko commented on #2245
@avimehta does https://github.com/ampproject/amphtml/pull/2543 fully resolve this bug?

[2016-03-16 00:12] avimehta commented on #2245
Yes, I believe it does. https://github.com/ampproject/amphtml/pull/2543/files#diff-a4664cb4c01931444a010c4d5ea1df63R330 tests the case where vars are used inside path. Checking locally again.

[2016-03-16 00:16] dvoytenko commented on #2380
On the main document, `<script async src>` is only allowed to the AMP runtime or extensions from `cdn.ampproject.org`.

[2016-03-16 00:21] dknecht commented on #2380
Can CloudFlare assume that an AMP Crawler will always have '(compatible; Google-AMPHTML)' in the user agent  or at least AMPHTML?

[2016-03-16 00:22] avimehta commented on #2245
confirmed. the example from https://github.com/ampproject/amphtml/issues/2245#issuecomment-197021309 results in following request to be sent:

`https://myamp.com/1234/test?herName=rio&dances=sand`

[2016-03-16 00:47] jmadler commented on #2380
No, you'll need to check for the presence of "AMP" or "⚡" in the <html> tag, case insensitive.

[2016-03-16 01:42] jmarantz commented on #2380
FWIW, mod_pagespeed has a parallel set of issues.  We are working on solving those now, and you can follow our progress here: https://github.com/pagespeed/mod_pagespeed/issues/1263

The fact that we have to sniff content to tell something is an AMP document complicates the solution somewhat, particularly when streaming HTML.  But it is all do-able (and in fact has already been done, just not all c

[2016-03-16 03:14] Tonsil commented on #2245
Thank you!

[2016-03-16 04:45] #2245 closed

[2016-03-16 07:12] adewale commented on #2540
LGTM++

[2016-03-16 07:30] ymotongpoo commented on #2540
LGTM :smile:

[2016-03-16 07:57] sriramkrish85 commented on #2393
i think the regex pattern here might help

https://jsperf.com/url-parsing/27

[2016-03-16 08:16] DarXector commented on #2378
Merge complete, I am closing this issue.

[2016-03-16 08:16] #2378 closed

[2016-03-16 09:21] Liron-Gigya commented on #2586
Hi Rudy,

Our customers need to include Gigya JS as described here
<http://developers.gigya.com/display/GD/Global+Conf+JS>. Unless you will
add Gigya to the "approved" 3rd party list, Gigya will not be able to
provide a library to support Google AMP

Thanks!
Liron

On Tue, Mar 15, 2016 at 8:24 PM, Rudy Galfi <notifications@github.com>
wrote:

--
Gigya <http://www.gigya.com/> | The Leader in Custom

[2016-03-16 10:59] buro9 commented on #2380
That is the root of the issue we have too. For the most part we do not parse or otherwise look at the content of HTML that passes through CloudFlare. Some features do in fact require a parser, but many do not and up to now could safely be added to a HTML document without parsing or otherwise inspecting the HTML document content.

For performance you may imagine that we only parse that which we abs

[2016-03-16 11:48] anandvtk opened #2604 "Intent to implement: amp-timeline"
# Overview

In order for publishers to tell a story around a topic or person that has persisted for a long time it is useful for them to enhance their content with a timeline, which gives some background to it in a more visual and ordered way. A timeline allows publishers to list a series of events that have lead up to the article without having to include all of them in the article body.

We envi

[2016-03-16 11:52] weeblr commented on #2380
@buro9 This is what I suggested in the OP, but indeed I didn't think a separate content type value would be practical. Hence might be a good idea to have a separate header?
Right now we add:

X-amphtml: wbAMP

as wbAMP is our extension to produce AMP-compliant page from Joomla pages, but obviously something more generic would be a better fit.

I also believe that having to actually parse (though i

[2016-03-16 13:14] georgecrawford commented on #1298
Any further thoughts on this?

[2016-03-16 13:14] georgecrawford commented on #2476
Any further thoughts on this?

[2016-03-16 13:25] jmarantz commented on #2380
I would think that the features that CloudFlare offers that might break AMP are a proper subset of the ones that have to parse HTML rewriting anyway, but I have to admit I don't understand fully how rocket-loader works.

In any case I agree it would've been a lot more convenient for all involved if amp documents were required by the spec to self-identify with an http response header.

[2016-03-16 14:30] juniorneo2 opened #2606 "How to make a menu in AMP?"
Hi people,

I need make a menu in AMP like this http://mobile.nytimes.com/international/, but I don't know how to do in AMP. Someone can help me? I developed a custom tag of web components(polymer) but does not work.

[2016-03-16 16:01] dvoytenko commented on #2600
As discussed, this can be just an extra field with the element's ID.

[2016-03-16 16:11] weeblr commented on #2380
Pretty inefficient to have to do the parsing to discover that you won't be able to the use the parsed content because this is an AMP page. Better look at a header, to know that a specific set of features won't apply, and you don't need to parse (or apply whatever processing you want to apply)

[2016-03-16 16:43] alvin-milton commented on #2214
@kashyapnitin This appears to be working fine now.

This is what I actually need to happen:
`
amp-ad(width='150', height='50', data-override-width='2', data-override-height='2', type='doubleclick', data-slot='/5202/google_amp_mob', json='{"targeting": { "kw": ["promo", "' + branded.linkText + '", "promo"]}}')
`

I've tried with other ad sizes in the `data-override` field and it renders those ads,

[2016-03-16 17:07] dvoytenko commented on #2585
@erwinmombay In the meantime, the advise should be for people who experiment with image fallback to include `noloading` attribute.

[2016-03-16 17:14] Quodexx commented on #2540
Congratulations!

[2016-03-16 17:22] avimehta commented on #1297
The main goal of this issue is to enable element level measurement of viewability. For best performance and to keep user experience good, the **APIs mentioned below only work for amp-* elements**. We already do a lot of the required calculations for these elements and additional work should not affect the performance severely.

The API/configuration comes into play when the trigger is set to fire

[2016-03-16 17:45] ehmorris opened #2607 "Intercepting anchor links breaks CSS's :target"
[This function](https://github.com/ampproject/amphtml/blob/e33d632b50ac1075e0d3698dc2d369a072c36f0d/src/document-click.js#L91) intercepts anchor clicks and prevents anchor tags from pushing to the history stack. This seems to prevent CSS's `:target` pseudo class from working properly.

I couldn't find if there's a way around this interception.

## How do we reproduce the issue?

In [this repo](htt

[2016-03-16 17:52] ehmorris commented on #2607
cc @dvoytenko it looks like you worked on this

[2016-03-16 18:00] erwinmombay commented on #2607
i believe this is fix in #2520 which is currently in canary. we'll be cutting a production release tomorrow afternoon PST. @ehmorris can you see if opting into canary fixes it for you?

to opt in go to cdn.ampproject.org/experiments.html and turn "dev channel" on. and test the page.

[2016-03-16 18:08] mkhatib commented on #2607
I confirm that opting into canary fixes this behavior.

[2016-03-16 18:12] ehmorris commented on #2607
Sick! Yes it seems like this is fixed in AMP version 1457721872758.

[2016-03-16 18:12] #2607 closed

[2016-03-16 19:56] dvoytenko commented on #2380
I think "parse" is a bit of a strong word here. It's just a very top header of the page that needs to be inspected. I don't think we can require all publishers to include a header for all amp pages - that would seem to be error-prone and duplicative.

[2016-03-16 20:00] dvoytenko commented on #2393
Hmm, this is an expression that's evaluated only once, isn't it?

[2016-03-16 20:32] Tonsil commented on #2422
FWIW, I would expect it to work like the vars, meaning option (c). For example, if I so something like
[code]
- The generated URL is https://myamp.com/example.com?a=inner&b=inner&c=outer . The trigger-level is favored, but if not specified it falls back to the top-level.

[2016-03-16 20:53] jasti commented on #2407
@dvoytenko - I just tested this feature by loading two pages with 2 slots each (one at the top and one below 1.25 viewports below). The left page uses the default viewability strategy and the right page uses the 'prefer viewability' strategy. The problem is I see that all 4 ad slots are still being loaded as soon as the initial page loads. With the 'prefer viewability' flag on amp-ad, I would expe

[2016-03-16 20:55] avimehta commented on #2422
@Tonsil That makes sense. I think that is the way we'll go.

[2016-03-16 20:55] jasti commented on #2407
actually, please wait one sec before debugging. I'm checking if I'm in the experiment.

[2016-03-16 20:57] dvoytenko commented on #2604
@anandvtk This looks pretty awesome. Couple quick questions:

1. Do you usually serve timelines as a separate article as here? Or as a "menu" to navigate to different articles?
2. What does JavaScript do here? Could this timeline be fully designed via CSS and media queries?
3. Is there some interactivity inherent in the timeline? E.g. transition to lightbox or similar?

[2016-03-16 21:01] dvoytenko commented on #2476
I don't think we can define variables within `amp-access`-protected blocks, but I might be misunderstanding what it means. That being said, I think defining transforms for analytics is on the roadmap. @avimehta could you provide your feedback on this?

[2016-03-16 21:09] dvoytenko commented on #2606
@juniorneo2 There are two approaches that frequently in use today:

1. `:focus` singling selector. In this case when button is focused, the CSS selectors trigger display of the menu.
2. `:target` selector. In this case you'd have a `<a href="#menu">` tag. Clicking on it, the `:target` selector can activate the menu.

These two approaches are rather complicated by `position:fixed` and scrolling bug

[2016-03-16 21:09] #2606 closed

[2016-03-16 21:11] jasti commented on #2407
Please ignore. WAI. I was not on dev experiments.

[2016-03-16 21:11] #2407 closed

[2016-03-16 21:13] avimehta commented on #2476
https://github.com/ampproject/amphtml/issues/2198 and https://github.com/ampproject/amphtml/issues/2360 have similar requests to add transformations to variable values. #2198 describes a format for how we could transform values. Basically what you said can be written as:

[code]

or more simply:
[code]

wdyt?

[2016-03-16 21:14] dvoytenko commented on #1297
@avimehta this all sounds good. My only concern if this statement is sufficient:

It's obviously correct that amp- elements would give the best performance, but I'd like to make sure that it solves the problems it needs to solve.

[2016-03-16 21:15] juniorneo2 commented on #2606
@dvoytenko Thank you!

I have a last question. Can I use Web Components in my project AMP? Like Polymer

https://www.polymer-project.org/1.0/docs/start/quick-tour.html

Thank you.

[2016-03-16 21:15] avimehta commented on #1298
@georgecrawford I don't think this issue will be able to address what you are asking for. Lets continue the discussion on #2476.

[2016-03-16 21:15] georgecrawford commented on #2476
perfect for our use-case. Thanks.

[2016-03-16 21:15] erwinmombay commented on #2407
@jasti thanks for rechecking!

[2016-03-16 21:18] avimehta commented on #1297
Currently, This is needed for amp-ads and people might want to implement it for videos, carousel and possible other social widgets. Not sure if text content needs to be tracked at this granular level. Maybe scroll-tracking solves that part?

[2016-03-16 21:20] georgecrawford commented on #1298
:+1:

[2016-03-16 21:31] Gregable commented on #2380
Would it help if we added validation checks that the <html AMP> tag is within the first maybe 100 bytes of the document? Other than comments, it's already required to be the 2nd tag on the page, but comments and whitespace make it possible to be an arbitrary length from the top.

[2016-03-16 21:36] rudygalfi commented on #2476
Looping in @dvoytenko for feedback on syntax.

I think in AMP Access we have an affordance for expressions like "NOT hitPaywall". The bar (|) syntax seems a little foreign to me and wondering if we can go in the direction of something more traditional.

I don't have a strongly formed opinion on this; just wanted to ensure some discussion on the merits happens.

[2016-03-16 21:37] jridgewell commented on #2393
I'm throwing my hat behind (not to mention it fixes a bug with `www.google` domains):

[code]

http://jsperf.com/amp-th-regex

[2016-03-16 21:42] jridgewell commented on #2380
Why not just ban comments until after the opening `html` tag? Then it's guaranteed to be before the second `>` character.

[2016-03-16 21:43] avimehta commented on #2476
@rudygalfi I think i might have misunderstood the initial post. I thought this was about amp-analytics syntax and not amp-access.

[2016-03-16 21:54] buro9 commented on #2380
Within the first 100 bytes is definitely going to be of great help. That's
enough to allow us to decide what to enable/disable, whilst allowing us to
send headers as early as possible.

This at least allows this to be a sniffer and not a parser and the
constraint allows it to be tightly defined which is good for security
(mitigates resource exhaustion during a DDoS).

Content-type is still prefera

[2016-03-16 21:57] jmarantz commented on #2380
The first 100 bytes might be tight.  E.g. from
https://en.wikipedia.org/wiki/Document_type_declaration

<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html
lang="ar" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

On Wed, Mar 16, 2016 at 5:54 PM, David Kitchen <notifications@github.com>
wrote:

[2016-03-16 22:02] jasti commented on #2594
@dvoytenko I have an example here for ads that you may find helpful : http://dfp-amp-testing-1185.appspot.com/amp_tests/dfp-image-resize.html

[2016-03-16 22:06] buro9 commented on #2380
I'm new to AMP, but I was under the impression that the DOCTYPE was dictated as HTML5: https://www.ampproject.org/docs/reference/spec.html

If not, and any valid DOCTYPE is acceptable then something more like 256 bytes would be better, though we've just doubled the proposed sniffer requirement and I'm thinking the content-type is still preferable.

[2016-03-16 22:08] jridgewell commented on #2380
Not an issue, we mandate `<!doctype html>` (HTML5) doctype.

[2016-03-16 22:15] Gregable commented on #2380
Content-type would be nice, and could be recommended, but plenty of content creators don't have the ability or the no-how to modify headers, therefore I think we will want to support tags.

We do mandate `<!doctype html>` for a valid doc currently. Nobody has proposed supporting DTDs yet, though if we want them we should resolve that asap.

The value of 100 was a strawman. I like 256 even more. I

[2016-03-16 22:22] buro9 commented on #2380
256 bytes is good, I'll run the proposal internally tomorrow. We'd not stop asking for the content-type (especially as there is incompatibility with a user agents expectation of what text/html means and what it's about to receive), but lacking that... this constraint is a good one.

Agreed.

We would expect to implement a sniffer that would exit once it encounters either the closing > on the HTML

[2016-03-16 22:30] ericlindley-g commented on #356
Closing until we can reproduce the issue again

[2016-03-16 22:30] #356 closed

[2016-03-16 22:52] ericlindley-g commented on #2373
The Eng team has done some performance work recently, and I'm unable to reproduce the jank I was seeing earlier. Well done!  (there are some additional UX changes to consider that could lessen perceived jank, as well, like heightening sensitivity for the swipe gesture, but I'll follow up on that in another issue)

[2016-03-16 23:08] dvoytenko commented on #2380
I think if we scan 256 bytes - might as well do 1000 bytes - that doesn't change anything but would remove most of edge cases.

[2016-03-16 23:10] dvoytenko commented on #2380
Also, i think it'd be just as easy to wait until the first `>` to do the check - it's common for server-side filters to look in the `<!doctype>` and `<html>` declarations.

[2016-03-16 23:22] dvoytenko commented on #2476
@rudygalfi @avimehta  - yes, this is specifically analytics thing, not access - access is simply a source of values that may need to be transformed before passing them to the analytics package.

I think simply `|not` or `|negate` would do - we can run a simple logic that would treat numbers and booleans via this transformation.

But as far as substitution itself - I kind of imagine this would be w

[2016-03-16 23:24] dvoytenko commented on #1297
No, now I get it. Surely then `amp-` elements is a good first step, at the very least.

[2016-03-16 23:26] dvoytenko commented on #2606
Nope. Not at this time. Even though they use a similar technology, they are currently separate. But if there are some things that you really like in that library and would like to have here - please do let us know.

[2016-03-16 23:35] dvoytenko commented on #2594
Thanks, @jasti !

[2016-03-17 00:20] mkhatib commented on #2410
Thanks @Em-PredragMilosevic - merged!

[2016-03-17 00:20] #2410 closed

[2016-03-17 00:53] dvoytenko commented on #2535
@georgecrawford Just got here. Could you please export this doc again? Having hard to reproducing this on other examples.

[2016-03-17 01:31] #2357 closed

[2016-03-17 01:47] mkhatib commented on #2224
Re-opening this, @mister-ben, without a way to guarantee that brightcove player is going to respect the pause command we'll be forced to `unload` the entire player with the upcoming change pause/unlayout #1637 change.

This will mean that users will lose track of where they were at in a brightcove video and be forced to replay the video from the start instead.

As @dvoytenko mentioned if there's a

[2016-03-17 03:12] ericlindley-g commented on #1680
Closing this, but please re-open if this is still and issue for you and you can provide more detail. The [<amp-image-ligthbox> documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-image-lightbox/amp-image-lightbox.md), which you can use in <amp-carousel>, has some guidance on working with descriptions and images.

[2016-03-17 03:12] #1680 closed

[2016-03-17 07:44] georgecrawford commented on #2535
It's now available at https://amp.ft.com/content/18f1fd90-e3ba-11e5-a09b-1f8b0d268c39. I don't have an Android device to test with, so can't be sure if it's still buggy.

[2016-03-17 07:46] avimehta commented on #2565
@jasti The spec for this is outlined in https://github.com/ampproject/amphtml/issues/1297#issuecomment-197441289. Feedback welcome :).

[2016-03-17 07:48] avimehta commented on #2540
congratulations!

[2016-03-17 09:01] Re-lM commented on #2192
Hello,
I am fairly new to this, so i am not sure if I should make a new issue or not. If so,let me know.
I seem to have a similar problem and wondering if this has been fixed yet or what the fix is? I am using the window.context.requestResize function and it seems to work. However, there is an inline style that won't change to the new values. See screenshot.

Please help?

![dump](https://cloud.gi

[2016-03-17 09:27] anandvtk commented on #2604
@dvoytenko

1. We normally embed them into an article to give it context , maybe we could also provide links to allow an onward journey to other pieces content/articles.
2. The javascript allows the grid view to cascade based on viewport size. We use Masonary to deal with the grid layout and to give a nice transition when collapsing the grid
3. Not at present or though we envisage that pressing a

[2016-03-17 10:04] mister-ben commented on #2224
We don't have a way to force publishers to configure the player to load scripts as that's a cusotmer choice. As documentation/education isn't working, I think the best way to handle this is I update the script to notify the amp-brightcove component that it is present via postmessage. The player can be paused if so and only unloaded id not. Does that sound reasonable?

[2016-03-17 10:13] buro9 commented on #2380
Please no.

1000 bytes is excessive. We serve a lot of pages and need to think of both performance and security. 256 is sufficient for performance whilst also mitigating some of the risk of resource exhaustion.

We definitely wouldn't wait for the first > , what if someone serves a 900MB video file as text/html and we're sitting there buffering it all during a sniff operation in anticipation of a

[2016-03-17 13:57] kul3r4 opened #2613 "amp-instagram video is not playing the video"
## Short description of your issue:

amp-instagram does not play the video when the post contains a video

## How do we reproduce the issue?

https://jsbin.com/ruhiropeyo/1/edit?html,output

## What browsers are affected?

All browsers?

## Which AMP version is affected?

My AMP version is: 1457721872758

[2016-03-17 13:58] kul3r4 commented on #2613
@sebastianbenz

[2016-03-17 14:59] CallumDJ opened #2614 "Distinguishing snippet views (subscription prompt) from full article views"
## Short description of your issue:
WSJ.com has a FCF implementation, where a user gets a "snippet view"/prompt to subscribe on their 4th visit.

We don't currently have a way of distinguishing the snippet view from a full article view in Adobe.

## How do we reproduce the issue?

N/A

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue an

[2016-03-17 15:01] frazjp65 opened #2615 "tests occasionally fail with "amp-youtube renders FAILED""
The build failed for Pull Request #2519, but the failure looked unrelated to my changes. The output around the failure is:

I looked at other recent build failures and there were some with the same issue:

* https://travis-ci.org/ampproject/amphtml/builds/116653920
* https://travis-ci.org/ampproject/amphtml/builds/116613500
* https://travis-ci.org/ampproject/amphtml/builds/116573741
* https://trav

[2016-03-17 15:49] jridgewell commented on #2613
The wrapper/cover image seem to be covering up the iframe...

[2016-03-17 15:54] jridgewell commented on #2224
That'd be great. We should be able to complain to the dev that they have not installed the listener, too.

[2016-03-17 16:26] sriramkrish85 commented on #2594
@dvoytenko - resizing is already documented here -
https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing

do we need to add something?

[2016-03-17 17:08] dvoytenko commented on #2594
@sriramkrish85 cool, thanks!

@coreybyrnes how does this look? https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing

[2016-03-17 17:27] dvoytenko commented on #2613
/to @mkhatib PTAL

[2016-03-17 17:40] dvoytenko commented on #2615
/cc @erwinmombay @mkhatib

@frazjp65 This looks like an intermittent failure. You can add `.only` to `describe.only` to test specific tests only if that helps.

[2016-03-17 17:40] mkhatib commented on #2613
Yes, this is due to not actually hiding the prerendered elements. The usecase was we don't need to hide it because it is the same one apparently this isn't true in case of a video :smile:  will work on a fix.

[2016-03-17 17:54] dvoytenko commented on #2192
@Re-lM the inline `style` attribute seems to be updated. Do you mean with inline `width` and `height`? Any chance you could share the source code of this page?

@sriramkrish85 PTAL

[2016-03-17 18:19] jmadler commented on #2380
Let's first agree on an approach and then discuss content-type and scan maximum size.

My concern with the approach of "closing caret of html tag must be within 256 bytes and html tag must contain 'AMP' or '⚡', case insensitive" is that it may not be as performant as typical approaches for identifying content.

What about something like "'\<html AMP' or '\<html ⚡' must appear in the first N bytes,

[2016-03-17 18:51] dvoytenko commented on #2604
Thanks @anandvtk

/cc @ericlindley-g @rudygalfi

[2016-03-17 18:54] mkhatib commented on #2615
[This](https://travis-ci.org/ampproject/amphtml/builds/116713783) also just failed with `amp-youtube` tests. Testing if increasing the timeout would make this less flaky.

[2016-03-17 19:03] dvoytenko commented on #2614
@CallumDJ You should be able to pass data points from your own response via `AUTHDATA(field)` vars. See https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access-analytics.md for more details.

Let me know if this works for you.

[2016-03-17 19:05] dvoytenko commented on #2224
@mister-ben Yes - this sounds good.

[2016-03-17 19:40] #2393 closed

[2016-03-17 20:02] tomremo commented on #2260
Of course the best case would be if your CMS were able to selectively include the "rel" link only if the AMP document exists.

Barring that, it would preferable to return a 404 to indicate that the AMP document does not exist, and would be consistent with what others have done. A 302 would cause Google's and other potential caches to follow the redirect only to ultimately discard the result as an

[2016-03-17 20:02] #2260 closed

[2016-03-17 20:33] rudygalfi commented on #2604
I think this is a really interesting custom element idea.

Can you speak more to the pieces that you think could be customizable? For instance, there's red (or maybe it's more plum) diamonds used to indicate the points on the timeline and there's a really specific format of having:

[code]

I'm wondering if any aspects of positioning would be flexible and more elaboration on these points would be

[2016-03-17 20:35] #2192 closed

[2016-03-17 20:41] camelburrito opened #2622 "Resize callbacks and documentation"
How/Where to document Resize Status PostMessages i.e, the exact message names - 'embed-size-changed', 'embed-size-denied' etc -

Do we need to have iframe resize status callbacks( 'embed-size-changed', 'embed-size-denied') for amp-iframe?

[2016-03-17 20:41] sriramkrish85 commented on #2622
cc @dvoytenko

[2016-03-17 20:43] ryanlombardo opened #2623 "Document placeholder more prominently on elements like amp-embed"
As fast as AMP pages are, some content may take a long time to appear. Specifically, images and embeds. (Especially embeds!) It would improve user experience if there was a well-defined and customizable way to define a placeholder for embeds and images that would be shown until the actual asset loads.

Related: https://medium.com/ux-for-india/facilitating-better-interactions-using-skeleton-screens

[2016-03-17 20:57] #2613 closed

[2016-03-17 21:53] mkhatib commented on #2623
Hey @ryanlombardo thanks for filing the issue. Have you checked out [placeholder attribute](https://github.com/ampproject/amphtml/blob/f2bbf3c40c08eeac77e87f7d26d3545710d1e6a1/spec/amp-html-layout.md#placeholder).

This should be supported by most amp embeds and extensions. Some even build their own placeholder - see `amp-youtube` and `amp-instagram`

[2016-03-17 22:45] dvoytenko commented on #2622
My take is that we should extend this API to all iframes. And ideally we'd have a single helper class that would manage iframe lifecycle and implement this API to avoid code duplication between ads and iframe.

[2016-03-17 22:55] sriramkrish85 commented on #2622
I wanted to have a resizeManager for managing iframe resize requests - per @cramforce it was too small at that point and not worthy of its own class. May be a helper file would be more appropriate now.

[2016-03-17 22:59] dvoytenko commented on #2535
Yeah, I see. This is a fairly old bug. I'm gonna look for a link and post it here. Basically, `line-clamp` is buggy when switching visibility/display. I think it was fixed in WebKit a bit ago, but is still an issue in Blink. I'm gonna try to find a workaround.

[2016-03-17 23:01] dvoytenko commented on #2535
In the meantime, we are also exploring options to split carousel's description and place them under the carousel - that would allow us to more-or-less display descriptions without many limitations.

[2016-03-18 01:51] jmarantz commented on #2380
I am aligned with Cloudflare's concerns about the tag being in the first
256 bytes.  The in-flight mod_pagespeed implementation doesn't have that
limit but probably it should, to reduce the risk of unbounded buffer growth.

I don't think it makes a lot of sense to compress whitespace when computing
that window.  Either the proxy has to first the sniff N bytes or it has to
do something more complic

[2016-03-18 03:07] ryanlombardo commented on #2198
+1 for this. We have a similar formatting tool in our internal analytics library at BuzzFeed.

[2016-03-18 03:12] ryanlombardo commented on #2176
comScore suggested we (BuzzFeed) use `amp-pixel`, however, I have seen that they support for `amp-analytics` also. We plan to switch to the `amp-analytics` component to maintain consistency with our other vendor implementations.

[2016-03-18 04:00] kishanj918 commented on #2335
I am using following code.I am wondering how can i make this fallback run..

<amp-img src = "<%= post.ProfileImage %>" width = "40" height = "40" placeholder>
                            <amp-img fallback src = "/images/broken-profile.jpg" width = "40" height = "40"></amp-img>
                        </amp-img>

[2016-03-18 04:03] kishanj918 commented on #2335
I am not able to get this fallback.. how should i use this fallback feature?
`<amp-img src = "<%= post.ProfileImage %>" width = "40" height = "40" placeholder>
         <amp-img fallback src = "/images/broker-profile.jpg" width = "40" height = "40">
         </amp-img>
</amp-img>`

[2016-03-18 04:05] erwinmombay commented on #2335
@kishanj918 so it is currently in opt in canary and a user will have to turn on "dev channel" in cdn.ampproject.org/experiments.html do try it out if it solves your problem. if there are no issues it will be released to production by Thursday next week

[2016-03-18 04:12] kishanj918 commented on #2335
@erwinmombay  That worked. Thanks

[2016-03-18 04:57] corysimmons opened #2628 "Social buttons need tweaks"
https://amp-partners.appspot.com/social demo looks good but the Twitter logo isn't retina friendly (it isn't svg whereas the others are), and it doesn't look like Facebook is displaying properly at all.

![image](https://cloud.githubusercontent.com/assets/224636/13851402/60a6b900-ec34-11e5-9c1e-441f2f2ad565.png)

Also is there a reason these have border-radius? It's not built in is it? Perhaps we

[2016-03-18 06:14] ashish641 opened #2629 "adsense ad is not visible in opera mini browser"
Hi,

I have added a adsense ad on a demo page. Ads is visible on chrome browser.
but it is not visible on opera mini browser.

Demo page:

http://www.letsbaby.com/amp/home.jsp

## What browsers are affected?

Opera mini 15.x

[2016-03-18 08:33] georgecrawford commented on #2535
Aah, we'd definitely be interested in that.

________________

George

[2016-03-18 09:47] quarterto opened #2630 "Access request not being sent, causing blank pages"
Sometimes, when loading the AMP carousel and swiping a few times, the access requests stop being sent. When this happens, neither the article content nor the barrier are shown. I am signed in to the FT, and when the access request *does* happen, the service is returning `access: true`, and the content is correctly shown.

<img width="401" alt="screenshot 2016-03-18 09 34 34" src="https://cloud.git

[2016-03-18 09:52] Re-lM commented on #2192
@dvoytenko I indeed mean the inline **width** and **height**. I see this thread has been closed. Should I make a new one?

This is the output
`<amp-ad width="0" height="0" type="improvedigital" data-placement="869276" data-optin="y" class="-amp-element -amp-layout-fixed -amp-layout-size-defined -amp-layout" id="AMP_2" style="width: 300px; height: 250px;"></amp-ad>`

I resize the iframe when the ad

[2016-03-18 10:28] jaygray0919 commented on #2628
The demo displays in Chrome and Safari as shown be @corysimmons. In Firefox, however, only the two Twitter images display. The four images to the right of "Moo!" are color boxes. Anyone else see this condition? Is there a Firefox setting that, if turned off, would show only the color box and not the icons?

[2016-03-18 11:54] anandvtk commented on #2604
This component is not heavily customisable , but would maybe benefit from being able to left/right align the timeline and customise the points eg :

<amp-timeline  alignment="<left/right>"  marker="<diamond, square circle>" >

The timeline revolves around “card” elements that provide the decorative CSS used as timeline markers.

Our existing setup creates the line and the marker using :before and

[2016-03-18 12:15] Re-lM opened #2631 "Resize Event not affecting inline width & height on amp-ad container"
Related to https://github.com/ampproject/amphtml/issues/2192
Since this is closed, open a new issue.

I'm calling **` window.context.requestResize(0,0)`** and the iframe itself is resized to 0/0. However, within the AMP-AD container there is an inline style `width` and `height` that does not seem to be adjusted.

This is the output after **`window.context.requestResize(0,0)`** has been executed:
`

[2016-03-18 16:05] Nicola1976 opened #2633 "MP_AD Appnexus Adaptor / Cookie Policy Support"
Hi

We use oas amp ad adaptor with appnexus implementation. Oas tech support told us to ask directly to you to solve some problemz about our needs :

At a time when the user loads the page AMP-AD component with amp-user-notification  showing a message of acceptance of cookies policy.

 We need that the ADV should not displayed and AD call not fired until this message is actually accepted.

As is o

[2016-03-18 16:08] dvoytenko commented on #2631
/to @sriramkrish85

I think 0/0 specifically have to be handled with `context.noContentAvailable()`. @sriramkrish85 could you please confirm/research?

[2016-03-18 16:12] dvoytenko commented on #2628
/cc @paul-matthews could you please take a look?

[2016-03-18 16:12] erwinmombay commented on #2633
@Nicola1976 you can add `data-consent-notification-id="amp-user-notification-privacy"` to an `amp-ad` to block it until the amp-user-notification has clicked "ok". let me know if that works for you

[2016-03-18 16:20] Nicola1976 commented on #2633
Sorry, i try to add as you suggested but it seems dont work.

<amp-ad width=300 height=100
                type="openadstream"
				data-adhost="oas.rcsadv.it"
				data-sitepage="mobile.corriere.it/hp"
				data-pos="Frame1"
				data-query="keyword=test-google-amp"
				data-consent-notification-id="amp-user-notification-privacy"

https://stadvtools.akamaized.net/xaxsis/common/googleAMP/nclamp/indexO

[2016-03-18 16:34] erwinmombay commented on #2633
@Nicola1976 looking into it

[2016-03-18 16:43] dvoytenko commented on #2580
@Gregable ping on eta...

[2016-03-18 17:04] Gregable commented on #2580
Sounds good.

@DarXector , do you want any validation rules for any of the `data`- attribute values? It looks like they are all numerical in the example, I can validate that, something else, or allow any values. The benefit of validation is nice error messages for developers running validation inside toolchains. Any thoughts?

[2016-03-18 17:34] dvoytenko commented on #2630
@quarterto Could you please describe how you are reproducing this? Do you use the same one article that you cite above but include it multiple times in the carousel? Could you provide some instructions for me to repro?

Generally, "Service X was requested to be provided" simply means that a referred script is missing in the head, but I'd try to repro first before jumping to a conclusion.

[2016-03-18 18:01] DarXector commented on #2580
Yes, they will be strictly numerical for a foreseeable future. So you can add that validation.

[2016-03-18 18:02] erwinmombay commented on #2633
so theres 2 things to do to fix the issue,

1) is for you to add `amp-analytics` on your page, as `amp-analytics` is required for `cid` (client id) generation on `amp-user-notification`.

2) is for us to add add "openadstream" to https://github.com/ampproject/amphtml/blob/master/ads/_config.js#L116 since `amp-ad` won't block on `amp-user-notification` unless a `scope` is given.

I'm still research

[2016-03-18 18:27] #2560 closed

[2016-03-18 18:49] dvoytenko commented on #2535
One thing I'm exploring right now is to put two carousels under each other - master and dependent. Master contains images and interactive. Dependent is non-interactive and would contain descriptions. Swiping the master carousel would automatically switch the dependent one as well.

I think this would give a greater freedom to layout captions more flexibly with more space. I've seen this pattern in

[2016-03-18 19:17] cramforce commented on #2560
Nice, this will help a lot!
On Mar 18, 2016 11:27 AM, "Justin Ridgewell" <notifications@github.com>
wrote:

[2016-03-18 19:27] Gregable commented on #2421
This change is live everywhere. Please reopen if you spot any issues.

[2016-03-18 19:27] #2421 closed

[2016-03-18 19:27] Gregable commented on #2325
This change is live everywhere. Please reopen if you spot any issues.

[2016-03-18 19:27] #2325 closed

[2016-03-18 19:27] Gregable commented on #2441
This change is live everywhere. Please reopen if you spot any issues.

[2016-03-18 19:27] #2441 closed

[2016-03-18 19:27] Gregable commented on #2413
This change is live everywhere. Please reopen if you spot any issues.

[2016-03-18 19:27] #2413 closed

[2016-03-18 19:27] Gregable commented on #2469
This change is live everywhere. Please reopen if you spot any issues.

[2016-03-18 19:27] #2469 closed

[2016-03-18 19:29] adjectivedevelopment commented on #2421
Looks good to me, thanks!

[2016-03-18 20:13] jasti commented on #2565
@avimehta LGTM. Thanks!

[2016-03-18 20:50] Gregable commented on #2580
Validation added, but it'll take a week or so before this will go live.

[2016-03-18 20:50] Gregable commented on #2553
Validation added, but it'll take a week or so before this will go live.

[2016-03-18 21:00] sriramkrish85 commented on #2631
@Re-lM -
With
`window.context.noContentAvailable `  or `window.context.requestResize(0,0)` there is a possibility that the resize might not happen (which is intentional to avoid visible content from getting moved due to change in scroll position).

You can confirm this by listening to `window.context.onResizeDenied` and see if it is getting called back

@dvoytenko ill remove setting height/width a

[2016-03-18 21:41] #2484 closed

[2016-03-18 21:59] Re-lM commented on #2631
@sriramkrish85 i think you misunderstood me. It seems like the method window.context.requestResize works as the actual width and height of the AMP-AD container has been resized to 0/0. Only there is an additional inline style on the AMP-AD container with a width (300) and height (250) that was not changed. Is this the expected behaviour?

[2016-03-18 22:00] dvoytenko commented on #2630
@quarterto I believe I found an issue. I should be able to fix it shortly. Thanks for reporting!

[2016-03-18 22:07] dvoytenko commented on #2580
That's good. The code itself is scheduled to go to PROD end of next week.

[2016-03-18 22:10] sriramkrish85 commented on #2631
@Re-lM - i did understand you :) if the AMP-AD container has  style attribute with width and height unchanged - then the change height request possibly failed. Could you try and listen to ```window.context.onResizeDenied(function(requestedHeight) {
  console.log('resize failed: for height = ' + requestedHeight );
});```

 and let me know if it gets called. Also if you have a URL that i can debug t

[2016-03-18 22:28] Re-lM commented on #2631
@sriramkrish85 aaah, Ok. I just added the change. As I am testing with a live campaign this change will take up to an hour to be actual live. Unfortunately, I have no staging environment where I can fake the whole process. Hence seeing the output will take another hour.

I tried to put it live but as I am working on a not yet certified ad network I had to change some things to stay in develop mode

[2016-03-19 00:15] daniellmb commented on #485
:+1: for allowing ellipse

[2016-03-19 10:09] torbenbrodt opened #2640 "Expose page metadata to 3P frame via window.context API"
## Intro

For doing Content Recommendations it's necessary to access the metadata of the article. Metadata is typically downloaded by crawlers.

To not crawl the publisher when there is no changes the platforms typically access _date-published_ and _date-modified_, or use the article data directly to compare it against the database version.
## Problem

It's a bad trade-off between crawlers causing

[2016-03-19 10:34] steffenweber opened #2641 "Validator: Add support for rel="noopener""
The new attribute value `rel="noopener"` can help to prevent phishing in Chrome 49+ and Opera 36+ (see https://mathiasbynens.github.io/rel-noopener/).

However, the `noopener` value currently does not validate. The AMP validator 1457721872758 says:
[code]

[2016-03-19 16:23] k0nserv commented on #2524
While I agree that it would be wise to add it to the whitelist. The fact that AMP already works okay without javascript seems to indicate that this is something you've taken into account and worked to support. It seems reasonable to extend it to handle the case when the script is not loaded at all as well.

Another option is making the script available as a dependency in in some package manager so

[2016-03-19 17:43] erwinmombay opened #2642 "tree shake @visibleForTesting annotation in closure compiler"

[2016-03-19 18:37] #2642 closed

[2016-03-19 20:00] flacle commented on #1286
@dvoytenko wanted to share one small use case where I think an iframe is not ideal. Imagine a search bar with an auto-suggest feature. The auto-suggest list would be overlaid above elements that are positioned beneath the search bar. With iframes one would need to expand the container (not ideal for dynamic length of a returned set of suggested items), in order to accommodate the items in the list

[2016-03-19 21:35] #2630 closed

[2016-03-20 18:34] Em-PredragMilosevic commented on #2553
Ok, Thanks.

I'm closing the issue.

[2016-03-20 18:34] #2553 closed

[2016-03-20 19:15] Gregable commented on #2641
Agreed, we should allow that value.

[2016-03-21 03:02] carusogabriel opened #2645 "Link for fonts doesn't accepts Material Icons"
Hello there,

Recently I started use the [Material Icons](https://design.google.com/icons/) with an AMP page, and the follow tag `<link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons">` causes an error: `The attribute 'href' in tag 'link rel=stylesheet for fonts' is set to the invalid value 'https://fonts.googleapis.com/icon?family=Material+Icons'.`. Is something I'

[2016-03-21 08:57] Nicola1976 commented on #2633
Thanks a lot!

I added amp-analytics on my page just before amp-user-.notification link:

https://stadvtools.akamaized.net/xaxsis/common/googleAMP/nclamp/indexOLD.html

let me know as soon as possible because we are blocked by this bug.
It's a very urgent question because at the time in Italy , as elsewhere in the world, it is prohibited by law writing any third part cookies if the user has not ac

[2016-03-21 14:24] dougalg commented on #2442
I've submitted a pull request of our current working version so that you can take a closer look at what our vision is for this component, and provide more concrete feedback based on it.

[2016-03-21 15:07] kadmos1 commented on #1286
I can't find what appears to be the best forum for my question so I'm posting it here,
apologies in advance.

I need to use on an AMP page Google Adsense For Search (AFS) ad units. Is that possible?
I've read AMP documentation and AFS ads aren't available there. I did some research but haven't found any info on this. I've also posted a question in stackoverflow but haven't received any helpful ans

[2016-03-21 17:00] cramforce commented on #2561
Dima: Could you take this on? @jridgewell might also be great for you!

[2016-03-21 17:18] amphtml-team commented on #2645
Github appears down.

We allow the prefixes of:
https://fonts.googleapis.com/css?
https://fonts.googleapis.com/earlyaccess/css?

Any issues with:
https://fonts.googleapis.com/icon?

-Greg

---------- Forwarded message ----------
From: Gabriel Caruso <notifications@github.com>
Date: Sun, Mar 20, 2016 at 8:02 PM
Subject: [amphtml] Link for fonts doesn't accepts Material Icons (#2645)
To: ampproject/

[2016-03-21 17:20] dvoytenko commented on #2630
This is fixed in canary.

[2016-03-21 17:21] ryanlombardo commented on #2623
@mkhatib Thanks for the info! That looks like it should work. It would help others if a note was added to the `amp-embed` documentation at https://www.ampproject.org/docs/reference/amp-embed.html

[2016-03-21 17:38] dvoytenko commented on #2645
@Gregable I don't have any issues with it. Please proceed to whitelist.

[2016-03-21 17:44] dvoytenko commented on #1286
@flacle I see your point. But auto-suggest for search bar is a bit specific case. What do you intend to do with suggested results? Navigate? This may warrant a specialized `amp-auto-suggest` component.

/cc @ericlindley-g

[2016-03-21 17:44] Gregable commented on #2645
Thanks.

[2016-03-21 17:56] dvoytenko commented on #2640
/cc @rudygalfi @avimehta @kashyapnitin

[2016-03-21 18:14] rudygalfi commented on #2640
This seems reasonable to me. @kashyapnitin Can you take a closer look at the proposal since this falls under the ads integration?

[2016-03-21 18:18] dvoytenko commented on #2535
@georgecrawford and here's the blink bug on ellipsis and line-clamp: https://bugs.chromium.org/p/chromium/issues/detail?id=453483

[2016-03-21 19:00] adewale commented on #981
Please re-open this discussion.

[2016-03-21 20:05] #2633 closed

[2016-03-21 20:48] #1278 closed

[2016-03-21 21:20] rudygalfi opened #2659 "Support Google AdSense for Search"
Google AdSense for Search doesn't appear to be supported. This is an issue to request support

@kadmos1 originally reported this in #1286:

@kashyapnitin, can you comment here?

[2016-03-21 21:21] rudygalfi commented on #1286
@kadmos1 I've filed #2659 regarding your question. Please use resources like Stack Overflow as you've been doing and if you think you've got a new feature request to raise, please file a new issue.

[2016-03-21 21:27] rudygalfi commented on #2659
cc @dvoytenko FYI

[2016-03-21 21:38] kul3r4 opened #2661 "Can't vertical center amp-facebook inside amp-carousel"
## Short description of your issue:

Can't vertical center amp-facebook inside amp-carousel.
## How do we reproduce the issue?

I created an example here:
http://js.do/code/88222
then I tried to apply a class to the component, like here:
http://js.do/code/88223
but any style for positioning gets overridden by the AMP framework when the iframe is generated.
## What browsers are affected?

Only veri

[2016-03-21 21:48] rudygalfi commented on #2623
@Meggin: Can you see if there's a better way to promote the `placeholder` attribute across our docs?

https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md#placeholder

[2016-03-21 21:55] kul3r4 opened #2662 "amp-instagram inside amp-carousel does not show entirely"
## Short description of your issue:

When embedding amp-instagram inside amp-carousel, the instagram post does not show entirely, the header and footer do not show.
## How do we reproduce the issue?

I made an example here in which I use the same amp-instagram tag first inside amp-carousel, then alone
https://jsbin.com/xatuxetore/1/edit?html,output
## What browsers are affected?

Tried on Chrome
#

[2016-03-21 21:55] kul3r4 commented on #2662
@sebastianbenz

[2016-03-21 23:47] rudygalfi commented on #2628
I believe @paul-matthews will be unavailable for a couple weeks.

[2016-03-22 06:24] kadmos1 commented on #2659
Thanks @rudygalfi looking forward to see AFS support on AMP

[2016-03-22 09:02] Nicola1976 commented on #2633
Hi Erwin!
So the issue is solved right? Now the amp-ad is blocked by amp-user-notification even when no amp-ad scope exist?

So why I see in console the error "**Uncaught Error: Unknown attribute for openadstream: consentNotificationId.​​​**". What's wrong on my test page?

https://stadvtools.akamaized.net/xaxsis/common/googleAMP/nclamp/indexOLD.html

How can I solve defenitly my problem and delet

[2016-03-22 09:07] erwinmombay commented on #2633
@Nicola1976 the fix has been merged but it'll take another week for it to make full production. It will go into canary this Thursday and then full Production by next Thursday.

/cc @rudygalfi

[2016-03-22 10:07] janrieke opened #2663 "Rewrite links to AMP version"
As a user, I would expect that links (`<a href="...">`) in an AMP document also go to the AMP version of the linked document (if available). For internal links, this can easily be implemented, because we know for which documents AMP versions exist.
However, it is unfeasible for external links: We would need to parse the linked document's HTML, check if it is AMP, or if not, try to find a `<link re

[2016-03-22 14:52] jmadler commented on #800
Also, as per #954, this should be named 'amp-install-app'.

[2016-03-22 16:53] cramforce commented on #2659
This product? https://support.google.com/adsense/answer/9879?hl=en

How would that apply to AMP?

[2016-03-22 17:23] jsit opened #2668 "Namespace classes in amp-social-share elements"
Right now elements created with `amp-social-share` have class names like this:

[code]

They should probably be something like:

[code]

so as not to conflict with class names used elsewhere on a site's stylesheets.

[2016-03-22 20:59] dvoytenko commented on #2668
That does make sense. @paul-matthews wdyt?

[2016-03-22 21:01] flacle commented on #1286
@dvoytenko yes it is a bit specific :) and requests to navigate to another page is one example but also site or content search, where you are filtering an internal search results page, is perhaps a worthy use case to consider.

[2016-03-22 21:10] dvoytenko commented on #2663
/to @rudygalfi

[2016-03-22 21:10] dvoytenko commented on #2633
@Nicola1976 we'd appreciate it if you would try it out in the canary this thursday.

[2016-03-22 21:22] dvoytenko commented on #2662
@kul3r4 Do you mean facebook embeds? I only see facebook embeds here and they seem to be displayed fully...

[2016-03-22 21:23] dvoytenko commented on #2661
@kul3r4 You should be able to center an embed by putting it inside of a `div` and using flex layout.

[2016-03-22 21:29] kul3r4 commented on #2662
Hi, I messed up with the examples, sorry!
this one contains an amp-instagram: https://jsbin.com/hesadahuxa/edit?html,output

[2016-03-22 21:36] jpettitt opened #2669 "insecure response errors with amp-kaltura-player"
We're working on a POC for a TV station that's using Kaltura.  I generate the `<amp-kaltura-player>` tags from their page to match the example.

[code]

The player loads, I see the poster image but when I click play it fails on this URL returning insecure content.

https://ib203846.ib-prod.com/p/557781/sp/55778100/serveFlavor/entryId/1_1znjuxfv/v/1/flavorId/1_c37b93lk/forceproxy/true/name/a.mp4

W

[2016-03-22 21:37] src-code opened #2670 "Validator fails for mustache template variables inside template node"
The validator as of v1457721872758 fails when including a mustache template inline, such as in an `amp-list`.  For example, the following markup should be valid:

[code]

The validator produces the following error:

[code]

cc @dvoytenko @Gregable

[2016-03-22 22:02] Gregable commented on #2670
I can reproduce. The issue is not new and is specific to the tag layout calculation which handles `width`/`height` in a different way that most attributes. `src` is a non-issue, for example. This is a little tricky because it's impossible to determine if layout is legal in the presence of mustache template variables.

[2016-03-23 00:25] dvoytenko commented on #2670
@Gregable I see. In this case, we have to skip this part of validation in template. Perhaps to reduce the negative impact, we can only skip it when width/height/layout and other related values use expressions in them.

[2016-03-23 00:28] Gregable commented on #2670
Agreed.

[2016-03-23 01:17] jmadler opened #2673 "Doc update: amp-iframe origin policy + CORS"
How does CORS impact the [amp-iframe origin policy](../tree/master/spec/amp-iframe-origin-policy.md)?

[2016-03-23 07:20] itaykinnrot commented on #2669
In order to override the default and use http please add the following param : data-param--kaltura.-protocol="http" (i can also add it to the uiconf from the server if you want)
In addition i'll suggest to use up to date player version (our latest is 2.41 and you're using 2.36) - you can just go to the studio in KMC and add a new player

[2016-03-23 08:51] dmitrymotorin opened #2675 "Teads.tv Structure Update"
Hey guys,
We've set amphtml teads.tv ad container but it didn't become available. Teads.tv support told us that we use an old tag structure of ad container and they have updated the structure.
Could you check please?

[2016-03-23 08:59] Nicola1976 commented on #2633
Yeah, sure no problem.
Do you mean that you'll send me a link to test the new functionality on canary web browser? right?

Let me know.

Thanks a lot.
nicola

[2016-03-23 09:10] Nicola1976 commented on #2633
Sorry, another question : it would be possible to accelerate  full Production, I mean before next Thursday, if all the tests are successful?

We have a urgent issue in production that depend on this fix.

nicola

[2016-03-23 10:02] erwinmombay commented on #2633
@Nicola1976 to test it when canary is updated, you'll need to go to https://cdn.ampproject.org/experiments.html and turn on `dev-channel` and go to the test/repro pages you provided. (you might need to do `localStorage.clear()` first to trigger the notification again)

as for expediting the code to prod i'll defer the decision to @cramforce @rudygalfi
we can roll custom branches if necessary.

[2016-03-23 10:09] Re-lM commented on #2631
@sriramkrish85 I just double checked it and I don't see it called. Weird I don't see it being logged as well. There is however from the development the following in console: ` "[Resources]" "change height requests:" 1`

[2016-03-23 14:14] kul3r4 commented on #2661
Hi,
thanks for the suggestion.
I tried the solution using flex, but the AMP runtime is overwriting the layout, so even if I add layout:flex to a container div,
``<div class="container">``
where container is:
 ``.container {
      display: flex;
    }
``
 when the page gets rendered, it will become something like:
``<div class="container -amp-fill-content" style="display: block; z-index: 0; opacity

[2016-03-23 15:02] Wes-Kargo commented on #2472
Hi @kashyapnitin and @cramforce

I'm so glad to hear you are exploring this new ad feature. Nearly all of our publisher clients have asked about this and are eager to expand on the advertising options allowed in AMP’s current iteration. I completely agree with Nitin, that adhesive ad units, with the proper limitations in place, can provide a non-intrusive, high-engagement alternative to in-stream

[2016-03-23 16:03] erwinmombay commented on #2579
closed by https://github.com/ampproject/amphtml/pull/2632

[2016-03-23 16:03] #2579 closed

[2016-03-23 16:29] dvoytenko commented on #2661
It's ok because you can still nest the div inside with flex layout. Right?

[2016-03-23 17:04] jridgewell commented on #2021
Closed by #2190.

[2016-03-23 17:04] #2021 closed

[2016-03-23 17:05] jridgewell commented on #2675
Ping @RonanDrouglazet.

[2016-03-23 17:07] jridgewell commented on #2669
@itaykinnrot: To be clear, do you mean `data-param-kaltura-protocol="https"`?

[2016-03-23 17:07] jpettitt commented on #2669
Won't switching to http cause an AMP validation fail / mixed content warning?

Is there any way we can specify an https to http proxy to use for stations that don't have their content on https servers?

[2016-03-23 17:17] RonanDrouglazet commented on #2675
Hi @dmitrymotorin ! You can find the right tag structure on https://github.com/ampproject/amphtml/blob/master/ads/teads.md

Can you give me your contact at Teads's support please ?

[2016-03-23 17:17] RonanDrouglazet commented on #2675
And thanks @jridgewell for the ping ;)

[2016-03-23 17:30] jridgewell commented on #2675
Welcome. I'm going to close this, but please continue commenting if something needs to change with the Teads component.

[2016-03-23 17:30] #2675 closed

[2016-03-23 17:46] jpettitt commented on #2669
I added `data-param-kaltura-protocol="https"` and now it works.

In addition, and this is probably a chrome thing, if using chrome to emulate an iOS device I get audio and no video.  If I emulate an android device it works fine. A real iPhone also works fine.

I'm seeing an error in the logs (only on chrome in iOS emulation so may not be a real error)

`'https://cdnapisec.kaltura.com/html5/html5li

[2016-03-23 17:49] dvoytenko commented on #2669
If `data-param-kaltura-protocol="https"` is necessary, we should simply force it on all `<amp-kaltura-player>` instances automatically from the AMP extension. @itaykinnrot is there any reason we shouldn't do this?

[2016-03-23 17:54] dvoytenko commented on #2675
https://github.com/ampproject/amphtml/pull/2190 created by @RonanDrouglazet is already in PROD so it should be fully available. @dmitrymotorin are you seeing some errors? Or is the ad simply not filled?

[2016-03-23 18:18] itaykinnrot commented on #2669
Hi all,
The amp-kaltura-player use https by default - you dont need to add special param for that, The issue @jpettitt is raising related to wrong CDN configuration or mapping issue since the cdn host is without https certification. I suggested to force it to be loaded with http but if you're saying http is not supported we will resolve it internally, @jpettitt lets take it through the Kaltura sup

[2016-03-23 18:54] #2669 closed

[2016-03-23 20:24] rudygalfi commented on #2116
@jridgewell Is Dynamic CSS classes still experiment-guarded, or is the experiment just in need of cleaning up?

[2016-03-23 21:12] jridgewell commented on #2116
It's still guarded.

[2016-03-23 21:59] rudygalfi commented on #2116
Could we launch dynamic CSS classes or is there more work to do? (I'm including validation in this question.)

[2016-03-23 21:59] dvoytenko commented on #2442
@dougalg Thanks again for the PR. I'm trying to catch up on this discussion and the widget itself. I found this URL and I believe it's your widget, right?

http://www.chicagotribune.com/news/local/breaking/ct-dennis-hastert-sentencing-delayed-met-20160323-story.html

I have few questions about it:

1. It looks like it's not iframe'd but hosted inside of the parent page? Correct? I see @cramforce a

[2016-03-23 23:18] rudygalfi commented on #2508
cc @kashyapnitin

[2016-03-23 23:19] rudygalfi commented on #2493
Any update on this? Please close if resolved.

[2016-03-23 23:19] rudygalfi commented on #2488
Closing because #2521 was merged.

[2016-03-23 23:19] #2488 closed

[2016-03-23 23:25] Gregable commented on #2061
`<amp-accordion>` validation is now live everywhere. It'll hit javascript in roughly an hour.

[2016-03-23 23:26] Gregable commented on #2580
<amp-brid-player> validation is now live everywhere. It'll hit javascript in roughly an hour.

[2016-03-23 23:26] #2580 closed

[2016-03-23 23:26] Gregable commented on #2553
<amp-springboard-player> validation is now live everywhere. It'll hit javascript in roughly an hour.

[2016-03-23 23:27] Gregable commented on #2493
It's resolved. Looks like I missed this issue to update, thanks.

[2016-03-23 23:27] #2493 closed

[2016-03-24 00:22] rudygalfi commented on #2668
Agree -- we should do this.

[2016-03-24 00:31] rudygalfi commented on #2622
Any updates here?

[2016-03-24 00:32] rudygalfi commented on #2615
Any updates here?

[2016-03-24 00:32] rudygalfi commented on #2614
Ping @CallumDJ

[2016-03-24 00:35] mkhatib commented on #2615
We've increased the timeout for amp-youtube tests, no one complained of amp-youtube tests failing after that, are you seeing some test failures with this? Otherwise we can go ahead and close this.

[2016-03-24 00:36] rudygalfi commented on #2614
Slotting into our current milestone. If there's no feedback on @dvoytenko's proposal by the 31st, we'll close this out.

[2016-03-24 00:38] rudygalfi commented on #2600
Any updates on this?

[2016-03-24 00:40] rudygalfi commented on #2594
@coreybyrnes Please give feedback when you get a chance. Closing this since it seems like it's addressed.

[2016-03-24 00:40] #2594 closed

[2016-03-24 00:42] rudygalfi commented on #2586
Given we have an offline conversation on this, let's close this for now and re-open once that thread has progressed.

[2016-03-24 00:42] #2586 closed

[2016-03-24 00:45] rudygalfi commented on #2577
@kashyapnitin for triage

[2016-03-24 00:45] ericlindley-g commented on #2585
@erwinmombay You were working on this one, right? Do you have everything you need now, UX-wise?

[2016-03-24 00:46] rudygalfi commented on #2573
@powdercloud can you update the status of the validator work?

[2016-03-24 00:50] rudygalfi commented on #2572
Maybe combined with vendors.js updates we can do this?

[2016-03-24 00:51] rudygalfi commented on #2565
@jridgewell this is in progress, right? Can you give an ETA on it landing? Is it by March 31 release or after that?

[2016-03-24 00:52] rudygalfi commented on #2563
Any updates here? (And should we downgrade priority since no activity in 12 days?)

[2016-03-24 00:52] erwinmombay commented on #2585
@ericlindley-g yep i was. should be good ux-wise, trying to wrap up some stuff and will try and get to this asap.

[2016-03-24 00:55] #2549 closed

[2016-03-24 00:56] #2533 closed

[2016-03-24 00:57] ericlindley-g commented on #2302
Sorry for the delayed response on this! We are currently working on a solution in [amp-sidebar](https://github.com/ampproject/amphtml/issues/2461), informed in part by this ITI, in order to address this use case.

[2016-03-24 00:58] rudygalfi commented on #2517
@Gregable Have you had a chance to look at this?

[2016-03-24 01:00] rudygalfi commented on #2504
@obeyer Please reopen if you can provide screenshots or better help us understand the issue.

[2016-03-24 01:03] #2485 closed

[2016-03-24 01:05] rudygalfi commented on #2446
Is @avimehta's latest response sufficient or does this need more discussion?

[2016-03-24 01:06] rudygalfi commented on #2444
Closing because I think this was fixed. Please re-open if that's not the case.

cc @ashwinlimaye

[2016-03-24 01:06] #2444 closed

[2016-03-24 01:08] #2412 closed

[2016-03-24 01:09] rudygalfi commented on #2402
Any updates here?

[2016-03-24 01:09] rudygalfi commented on #2400
@erwinmombay Have you started on this yet? Trying to figure out when to slot it...

[2016-03-24 01:10] #2381 closed

[2016-03-24 01:11] ericlindley-g commented on #2250
@rannazhou , are you able to repro? I tried this again recently and didn't see an issue.

[2016-03-24 01:12] rudygalfi commented on #2380
Just wanted to see if folks had any updates to share here?

[2016-03-24 01:13] ericlindley-g commented on #2191
@mister-ben, do you have an update on this?

[2016-03-24 01:13] rudygalfi commented on #2353
Closing this since I think we made a lot of updates to address this, but please re-open if there's still more we'd like to track here.

[2016-03-24 01:13] #2353 closed

[2016-03-24 01:19] rudygalfi commented on #2304
Is this still unresolved? @Gregable can you confirm that the fix rolled out?

[2016-03-24 01:26] #2615 closed

[2016-03-24 03:33] jsit commented on #2668
Is BEM naming too cumbersome? For instance:

amp-social-share__button--twitter

Or:

amp-social-share__twitter

Or maybe just:

amp-social-share-twitter

[2016-03-24 04:13] rudygalfi commented on #2266
Closed via #2267?

[2016-03-24 04:13] #2266 closed

[2016-03-24 04:15] #2254 closed

[2016-03-24 04:16] rudygalfi commented on #2259
@neveldo What you want to do should work. Let us know if you observe any issues doing that.

[2016-03-24 04:16] #2259 closed

[2016-03-24 04:18] rudygalfi commented on #2235
Ping @Gregable

[2016-03-24 04:19] #2216 closed

[2016-03-24 04:20] #2218 closed

[2016-03-24 04:20] rudygalfi commented on #2218
Closing, as this is a duplicate of #1851.

[2016-03-24 04:33] rudygalfi commented on #2208
some of the common boilerplate in the notes like "breakdown by component" should help separate releases from other issues

[2016-03-24 04:33] #2208 closed

[2016-03-24 04:33] #2214 closed

[2016-03-24 04:35] rudygalfi commented on #2186
@dvoytenko Does this any follow-up or can it be closed?

[2016-03-24 04:42] rudygalfi commented on #2065
Yeah, https://www.ampproject.org/contact/ should be using amp-iframe. :-/

You should be able to embed a form in a page using amp-iframe. Not sure about the XML error.

We have an issue tracking direct form support here: #1286.

[2016-03-24 04:42] #2065 closed

[2016-03-24 06:04] erwinmombay commented on #2400
@rudygalfi i have, will submit pr shortly.

[2016-03-24 07:06] mister-ben commented on #2191
This is fixed in the Brightcove Player version 5.1.8, released end of February.

[2016-03-24 07:09] mister-ben commented on #2224
Is `document.domain` of the amp page in the search results carousel always `cdn.ampproject.org`? Is there a tool available to easily test pages in that context, i.e. the fancy proxy tool mentioned above?

[2016-03-24 08:33] powdercloud commented on #2573
@rudygalfi validation is done and live.
E.g. https://ampbyexample.com/components/amp-accordion/#development=1
I'd like to update the spec slightly (section must have exactly 2 child tags, the first of which must be h1-h6). Will send a pr tomorrow.

[2016-03-24 08:59] Nicola1976 commented on #2633
Hi Erwin, So can I try the fix today on canary as you described?

[2016-03-24 09:02] erwinmombay commented on #2633
hey @Nicola1976 sorry not yet, its 2am here in the US :sleeping: will get to this in around 12 hrs time. I will ping you here asap when it is launched

[2016-03-24 09:06] Nicola1976 commented on #2633
Sorry! Good night! See you tomorrow! :-)

[2016-03-24 13:25] CallumDJ commented on #2614
Thanks @dvoytenko - Will this also work for amp-iframe solution? We're not yet using amp-analytics, but are looking to transition in the future

[2016-03-24 14:27] querymetrics opened #2683 "Intent to implement: Add built-in amp-analytics vendor configuration for SOASTA mPulse"
# Objective
Implement built-in [SOASTA mPulse](https://www.soasta.com/mPulse) analytics vendor configuration.

SOASTA mPulse requires access to more performance data from the browser than is exposed in the current amp-analytics URL replacement variables.

`NAV_TIMING` is a proposed URL replacement variable that will allow access to all performance timing event metrics available in `window.performa

[2016-03-24 15:10] dmitrymotorin commented on #2675
@dvoytenko the ad simply not filled

[2016-03-24 15:13] dmitrymotorin commented on #2675
@RonanDrouglazet Jim Ausanio jim.ausanio@teads.tv

[2016-03-24 15:36] johnnyshankman opened #2685 "Campaign UTM Parameters Not Passed Through to GA"
When appending campaign tracking UTM parameters to URLs that lead to AMP pages we do not receive said campaign tracking data in Google Analytics. This is when we are accessing the versions hosted on our servers/CDN, not by AMP CDN.

I don't see anything about them in [the documentation](https://www.ampproject.org/docs/reference/extended/amp-analytics.html)

I've looked through the cookies on the a

[2016-03-24 16:11] #2191 closed

[2016-03-24 16:37] jridgewell commented on #2565
It's not one of my priorities yet. Seems [Analytics integration](https://github.com/ampproject/amphtml/issues/2565#issuecomment-195604705) is more important now?

[2016-03-24 16:41] jridgewell commented on #2224
You won't be able to get the iframing, but the [proxy tool](https://github.com/ampproject/amphtml/blob/master/DEVELOPING.md#document-proxy) can be used to test local code on CDN pages. Just use `gulp serve`

[2016-03-24 16:49] Gregable commented on #2600
none so far

[2016-03-24 16:55] Gregable commented on #2517
Will have this in the next release.

[2016-03-24 16:56] Gregable commented on #2304
This is fixed.

[2016-03-24 16:56] #2304 closed

[2016-03-24 17:10] erwinmombay commented on #2685
@rudygalfi can you set priority on this? thanks

[2016-03-24 17:14] Gregable commented on #2573
Github #2061 was tracking the validation, should we rename this issue or dedupe?

[2016-03-24 17:25] coreybyrnes commented on #2594
In my opinion the documentation isn't clear on what will allow a resize to occur or not. From my testing it seems a resize will always occur if triggered by user interaction or if triggered automatically and the ad is above or below the viewport. It seems if the resize is triggered automatically (from within the ad code) and the ad is within the viewport that the resize will always fail. I feel li

[2016-03-24 17:33] sriramkrish85 commented on #2061
cool ill pull it out of experimental

[2016-03-24 17:48] powdercloud commented on #2573
I'm in favor of deduping - easier to find discussions later. Last night when I looked at this I only saw your comment on the other one after I commented here.
As for the documentation I sent https://github.com/ampproject/amphtml/pull/2688.

[2016-03-24 18:00] mjrusso commented on #2236
Sorry about the delayed response (vacation).

@rudygalfi: could you kindly re-open the ticket? There's a few parts here, and we still need the new context API.

@kashyapnitin: looks like the new fill code is working well. There's still going to be some sizing issues until we're able to call `requestResize` using the new context API, however thumbs up on #2375. (Also, here's a sample page: https://

[2016-03-24 18:06] dandv opened #2691 "Star rating component"
A star rating [AMP HTML component](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-components.md#components) would enable common 1-5 star rating displays, with optional input.

![image](https://cloud.githubusercontent.com/assets/33569/14026491/4f6492ee-f1b0-11e5-8a3f-89840d1bf33d.png)

Prior art is documented in my [comparison of star rating widgets](https://github.com/dandv/compar

[2016-03-24 18:07] dvoytenko commented on #2691
/cc @rudygalfi @ericlindley-g

[2016-03-24 18:11] dvoytenko commented on #2685
/cc @avimehta

[2016-03-24 18:26] powdercloud commented on #1109
The recently added amp-accordion uses CONTAINER, so there's less of a point here for the original issue. I'll close this for now, if anyone wants to keep discussing you may always reopen it - especially new ideas that make our error messages less confusing or makes the markup simpler are good. Thanks!

[2016-03-24 18:26] #1109 closed

[2016-03-24 18:26] #2061 closed

[2016-03-24 18:32] Gregable commented on #2235
Works for me.

[2016-03-24 18:32] #2235 closed

[2016-03-24 18:35] powdercloud opened #2695 "Support header tag for amp-accordion section headers."
I had forgotten to add this in the spec file, so this issue tracks when the fix is live.
We will then want to update the amp-accordion documentation to reflect it.

[2016-03-24 18:46] artnotfound commented on #1201
@paul-matthews trying to use social-share script and it is broken (not validating and telling me I cant use `amp-social-share`). even the demo page is invalidating https://amp-partners.appspot.com/social#development=1

Not sure if its related to the .max.js CDN 404ing ? https://github.com/ampproject/amphtml/pull/2686/files

Any thoughts? Thanks.

[2016-03-24 19:39] jridgewell commented on #2563
Working on this now. Do we need to worry about swiping back and loading new ads (some arcane "you must show the same ad" rule I don't know about)?

[2016-03-24 20:15] rudygalfi commented on #2563
@kashyapnitin to advise. I'm not aware of such a rule and I think the swipe back can be treated as a new pageview (with new ads requests).

[2016-03-24 20:29] dvoytenko commented on #2614
@CallumDJ , sorry, but what's the iframe solution? Could you please clarify?

[2016-03-24 20:31] rudygalfi commented on #2614
@dvoytenko I think it refers to using an amp-iframe for analytics purposes (instead of amp-analytics). I don't believe this will work in such an arrangement since what we're talking about is functionality that's specific to amp-analytics.

[2016-03-24 20:31] dvoytenko commented on #1201
@artnotfound The 404 is not related - it was a typo. The validator work has not been completed, and that's why you are seeing validation errors.

@Gregable could you please update on validator and link the tracking issue if available?

[2016-03-24 20:45] erwinmombay commented on #2633
@Nicola1976 please go ahead and test this.

first head over to https://cdn.ampproject.org/experiments.html and turn on "dev-channel" and then go to your test page and make sure to clear local storage by executing "localStorage.clear()" on the javascript console and then refresh the page and test. let me know!

[2016-03-24 21:16] Rooke opened #2698 "Intent to implement: Sortable amp-ad"
Sortable would like to submit a new amp-ad.  We've got a pretty simple implementation right now, very similar to other ad partners.

[2016-03-24 21:17] #2400 closed

[2016-03-24 21:20] ericlindley-g commented on #2691
Thanks for raising—this would be a good thing to do eventually. Slotting it in the backlog for now, but feel free to submit an intent to implement if you'd like to propose an approach.

[2016-03-24 21:23] rudygalfi commented on #2685
Analytics providers and publishers should have access to UTM params via the queryParam feature: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#query_param.

As a publisher, you could set up some custom dimensions to send the data to GA.

I believe GA may also be considering a more direct integration that would enable this via updates to their vendors.js config. @av

[2016-03-24 22:13] kul3r4 commented on #2661
Thanks Dima,
adding another div did the trick, so now the example looks something like this:

[code]

where the css classes are:

[code]

It is still somehow strange doing all of this while other video components, like amp-youtube or amp-video are centering automatically inside a carousel.

[2016-03-24 22:22] jmadler opened #2700 "Create a sample of a sports NewsArticle"

[2016-03-24 23:26] ericlindley-g commented on #2691
I should mention, though, that until we build out support for forms, the rating component won't be able to handle the actual input & transmission of data. Happy to see implementations for the ratings UI in the short term, but we won't see the full benefit until forms support is implemented.

[2016-03-24 23:38] dvoytenko opened #2701 "TBD: A validator rule that would require not one but several JS files"
We need to be careful with this because some of these errors are already likely and it's not always a critical thing. However, there are some not-very-visible dependencies between components that we could address by showing errors (or warnings) in validator when dependent scripts are missing.

The two examples I know of right now are `amp-user-notification` and `amp-access` both depend on `amp-ana

[2016-03-24 23:44] dvoytenko commented on #2572
I think we should just go ahead and do it. /to @mkhatib

[2016-03-24 23:45] dvoytenko commented on #2186
Yep. Resolved.

[2016-03-24 23:45] #2186 closed

[2016-03-24 23:46] rudygalfi commented on #2572
@mkhatib when you start on this, please update the milestone. Thanks!

[2016-03-24 23:47] rudygalfi commented on #2695
Do you have an ETA?

[2016-03-25 00:19] rudygalfi commented on #1297
:+1: This would definitely be awesome to add.

Regarding only supporting amp- elements, I agree that we can cover a lot of ground that way, but certainly there are other use cases? For instance, maybe you use a `<div>` combined with dynamic CSS classes  to show some special custom element like a promo. You might want to track viewability of such a thing using this feature. What would be the challe

[2016-03-25 04:15] dknecht opened #2702 "Add source for C++ validator"
What are the plans for open sourcing the C++ validator?

[2016-03-25 05:35] avimehta commented on #2108
I think this is done. Thanks @steffenweber! Please re-open if something else is left.

[2016-03-25 05:35] #2108 closed

[2016-03-25 07:01] justforfun commented on #2261
@dvoytenko Hi, it seems to me the problem is still open
http://justforfun.github.io/examples-amp/rep-article.amp.html#development=1
What am I missing?

[2016-03-25 10:56] Nicola1976 commented on #2633
I Erwin, Great! It seems to work fine! Now if I dont accept cookie policy the adv call is not fired. Thanks a lot.

How can we have the fix in full production to more easly make massive test on our real page?

Let me know.

Thanks again
Nicola

[2016-03-25 14:39] ryanlombardo opened #2704 "Using amp-twitter causes pages to fail validation"
## Short description of your issue:

Pages using `amp-twitter` fail validation because tweets contain `img` elements instead of `amp-img`.

## How do we reproduce the issue?

Here's an example: http://www.buzzfeed.com/amphtml/lukebailey/lol-puns

In Google Search Console, this post was flagged as failing validation. Using `#development=1` also shows a failed validation.

From Search Console...

##

[2016-03-25 15:58] adewale commented on #2704
I tried a couple of things:
- looking at: https://ampbyexample.com/components/amp-twitter/#development=1
- cutting and pasting your amp-twitter elements into a sample page on localhost

They all worked and passed validation. I don't believe this is an AMP bug.

Looking at the source of  the Buzzfeed page it looks like the CMS is adding the amp-twitter element and extra Twitter-specific markup.

I

[2016-03-25 16:01] dvoytenko commented on #2704
Correct. The document contains `<img>` unrelated to `amp-twitter` element.

[2016-03-25 16:49] orzage opened #2705 "Validator: Add support for rel=standout"
The value "standout" for the rel attribute on link elements is a Google-introduced, established standard used by news organizations:

https://support.google.com/news/publisher/answer/191283?hl=en
http://googlenewsblog.blogspot.com/2011/09/recognizing-publishers-standout-content.html

However, it currently does not validate (version 1457721872758):

[2016-03-25 16:50] pdramos1 opened #2706 "Intent to Implement Sovrn implementation for amp-ad"
Sovrn would like to submit an implementation for amp-ad. We will submit PR via a sovrn fork. Much thanks in advance.

[2016-03-25 16:51] jridgewell commented on #2704
I

[2016-03-25 16:51] #2704 closed

[2016-03-25 16:54] Gregable commented on #2702
We haven't announced any plans to open source any official ports of the validator other than the JavaScript one here. What would you like to accomplish specifically, maybe we can help with making the JavaScript validator meet your needs?

[2016-03-25 17:04] dvoytenko commented on #2706
@pdramos1 Thanks! Looking forward to seeing your PR!

[2016-03-25 17:42] bobcassels commented on #2402
I have a change that runs the test twice, one with glade and once once without.

But I for me, the original test fails (in an unmodified copy of the current master), so of course my new version does, too.

[2016-03-25 17:48] jridgewell commented on #2402
It's a very flaky test. Please open a PR, and we'll see what we can do to make it more consistent.

[2016-03-25 17:48] #2116 closed

[2016-03-25 18:04] dvoytenko commented on #2705
/cc @Gregable

[2016-03-25 18:07] dvoytenko commented on #2261
@justforfun is this in canary or PROD? The fix went into PROD just about an hour or so ago. But it was in canary for about a week.

[2016-03-25 18:08] dvoytenko commented on #2702
/cc @rudygalfi

[2016-03-25 18:11] bobcassels commented on #2402
PR for my change, untested? I'm happy to do that. I can check that it fails the same way as the original. ;-)

[2016-03-25 18:17] dvoytenko commented on #2661
@kul3r4 Yeah. Replaced content is a lot easier to center - CSS is taking a special care of those content types.

[2016-03-25 18:18] dvoytenko commented on #2614
@rudygalfi I will reassign to you then since it's in the analytics purview, but please assign to @avimehta as you see fit.

[2016-03-25 18:45] #2561 closed

[2016-03-25 18:50] dknecht commented on #2702
CloudFlare is experimenting some tools to help our publishers with AMP.   We only run Go, C, C++, and Lua on the boxes where this needs to run.  If interested can do a hangout to give more details.

[2016-03-25 19:42] rudygalfi commented on #2614
As Dima said in https://github.com/ampproject/amphtml/issues/2614#issuecomment-198035696, amp-analytics is the way to go here.

[2016-03-25 19:42] #2614 closed

[2016-03-25 20:11] Gregable commented on #2701
I'm looking at [amp-user-notification](https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/amp-user-notification.md) and [amp-access](https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access.md) and don't see any text noting that these depend on `amp-analytics.js`. Am I understanding the request correctly that you feel they both depend on `a

[2016-03-25 20:13] dougalg commented on #2442
@dvoytenko thank you for taking the time to provide us with detailed feedback, it's very much appreciated!

Regarding your questions:

1. The typical (non-amp) usecase would indeed be to embad the widgets on the parent page directly. However, for the AMP implementation, what we saw to be the simplest implementation for our clients would be to use an iframe.
2. That implementation with a button tha

[2016-03-25 20:36] yegor256 commented on #1768
I was getting this message because there was `<style>...</style>` block inside HTML. I replaced it with `<style amp-custom>...</style>` and the problem disappeared.

[2016-03-25 21:54] dvoytenko opened #2708 "Fix uses of `document`"
We still happen to use `document`. For instance, see `amp-youtube.js`:

[code]

We should either use `this.getWin().document` or `this.element.ownerDocument`.

Can we implement a presubmit check against global `window` and `document`? E.g. we could require to use vars "win" and "doc" instead if that'd be simpler.

/cc @jridgewell @erwinmombay

[2016-03-25 22:35] dvoytenko commented on #2701
Oops. We recently stripped `<script>` declarations from the docs and these dependencies went by the way of that. Not sure why we did that. Will correct.

[2016-03-25 23:10] bobcassels commented on #2402
Or are you asking me to open an issue that the existing test doesn't work?

[2016-03-26 00:58] Gregable commented on #2600
@dvoytenko , the solution implemented is a little different than initially proposed, but it solves the same problem. If you add the attribute `data-amp-report-test` to a tag, any errors emitted regarding that tag will have a new field dataAmpReportTestValue which will contain the attribute value set in the document.

Example:

`<!doctype lemur data-amp-report-test="foo">`
results in a validationRe

[2016-03-26 00:58] #2600 closed

[2016-03-26 01:11] sriramkrish85 opened #2712 "Support history on back button for amp-sidebar"
Support history on back button for amp-sidebar like done in amp-lightbox

[2016-03-26 02:49] cramforce opened #2714 "Refactor getElementPriority"
It should be a method on the element class instead of having hard coded priorities in the resources class.

[2016-03-27 20:57] ZauberNerd opened #2720 "Layout=responsive default with attributes - mismatch between docs and actual behaviour"
The documentation says that a layout of type `responsive` is assumend:
* if width or height attributes are present along with sizes and/or heights attribute, responsive layout is assumed;

But this only happens, when: `width` **and** `height` **and** (`heights` **or** `sizes`) is present.
Otherwise it will become `fixed-height`.

See here the condition which applies `fixed-height` when `height` is

[2016-03-27 21:07] ZauberNerd commented on #2720
Oh, same goes for `layout` = `fixed-height` | `fixed`.
The documentations says that if `width` is set and `height` is unset or `auto` the layout will be `fixed-height` but also says that if only `with` or `height` are specified the `layout` will be `fixed`.
But a `fixed` layout is only assumed when only `height` is set.
Should I open another issue for that or change this issue to be about the "lay

[2016-03-28 07:24] uraayush commented on #2380
There is https and http issue in AMP page as While validation AMP page it only accept amp js on https not on http
How to resolve that issue.
The mandatory tag 'amphtml engine v0.js script' is missing or incorrect. (see https://www.ampproject.org/docs/reference/spec.html#required-markup)

[2016-03-28 07:59] sketchytech commented on #2256
I wanted to add some points about this because the behaviour is different between Chrome and Safari on an iPad

1. Both browsers currently display AMP articles misaligned when opened in landscape
2. If opened in portrait or turned from landscape to portrait they then display correctly
3. In Safari once you've been in portrait and returned to landscape the articles continue to display correctly
4.

[2016-03-28 16:41] jridgewell commented on #2720
@dvoytenko: Can you confirm that this is the expected behavior?

[2016-03-28 17:25] dvoytenko commented on #2720
Yes, the documentation is incorrect in those places. I started the fix in the https://github.com/ampproject/amphtml/pull/2727

[2016-03-28 17:26] dvoytenko commented on #2380
/cc @Gregable

[2016-03-28 17:28] dvoytenko commented on #2256
Thanks @sketchytech . We found a problem and the workaround and will fix it soon.

[2016-03-28 17:29] dvoytenko commented on #2256
Internal tracking: b/27333870

[2016-03-28 17:37] erwinmombay commented on #2633
@Nicola1976 we should deploy it on thursday.

[2016-03-28 17:40] dvoytenko commented on #2701
@Gregable Adding docs on extra dependencies in https://github.com/ampproject/amphtml/pull/2726

[2016-03-28 17:53] Gregable commented on #2380
@uraayush, I think that this is separate from the cloudflare issue. My understanding is that our general recommendation for these types of questions is to ask over at the [amphtml component at stackoverflow](http://stackoverflow.com/questions/tagged/amp-html). I'll still try to answer it.

I suspect you are including the mandatory script tag as:
`<script async src="http://cdn.ampproject.org/v0.js"

[2016-03-28 18:06] powdercloud commented on #2695
Unless we do extra work to make it happen faster, it'll get there soon after indexing etc. gets updated, which should be ~2 weeks. Hope that's fine.

[2016-03-28 18:20] dvoytenko opened #2730 "Cancel text selection when document is swiped away"
To reproduce: select text on one document, swipe to the next and come back. The selection should be gone.

[2016-03-28 18:52] rudygalfi opened #2731 "Clarify <track> support in <amp-video>"
Is [`<track>`](http://www.w3schools.com/tags/tag_track.asp) supported in `amp-video`?

If so, we should update the [documentation](https://www.ampproject.org/docs/reference/amp-video.html) to make this more explicit.

If not, could we add support?

[2016-03-28 18:55] erwinmombay commented on #2731
https://github.com/ampproject/amphtml/releases think it got added pretty recently

[2016-03-28 19:00] rudygalfi commented on #2731
Ah, yes, in https://github.com/ampproject/amphtml/releases/tag/1458255876469.

[2016-03-28 19:02] mkhatib opened #2732 "Layout promises never resolve when elements are destroyed before load fired"
If the user load an article with say Instagram embeds and then swipe to move the the next one quickly and then swipe back to that article the Instagram embed will never load if the instagram layout promise never resolved the first time.

The reason this happen is that runtime will never schedule the element for a layout again because the first layout is still in our `exec` queue and will never exi

[2016-03-28 19:05] dvoytenko commented on #2731
Correct.

[2016-03-28 19:35] Gregable commented on #2731
That's not correct. Track was added as allowed inside a `<video>` tag, not an `<amp-video>` tag. The `<video>` tag is a corner case really, as it in turn is only allowed inside a `<noscript>` tag.

If `<amp-video>` is supposed to support `<track>`, we should update the docs and validator.

[2016-03-28 19:46] dvoytenko commented on #2731
Sounds good. Let's update the validator. Over to you, @Gregable

[2016-03-28 19:49] Gregable commented on #2731
Sounds good. Please update the spec with any constraints on attributes as well. For `<video>` we allow:

- `src`, must be https absolute.
- `default`, supports no value
- `kind`, `label`, `srcset` with any values
- globally allowed attrs like `class`

Also, should we allow track for `<amp-audio>`?

[2016-03-28 19:51] dvoytenko opened #2734 "Support validator for amp-jwplayer"
Please add validator support for jwplayer described in https://github.com/ampproject/amphtml/blob/master/extensions/amp-jwplayer/amp-jwplayer.md.

The parent issue is #2125

[2016-03-28 19:51] dvoytenko commented on #2125
The validator request filed in #2734. /cc @Gregable

[2016-03-28 19:58] dvoytenko commented on #2731
Yes, `<track>` should be allowed for both video and audio. The allowed attributes and additional constraints are:

- `default`
- `kind`: a enum of `{subtitles, captions, descriptions, chapters, metadata}`
- `label`
- `src` - only HTTPS allowed
- `srclang` - Must be present when `kind=subtitles`

[2016-03-28 20:12] #2730 closed

[2016-03-28 20:46] #2720 closed

[2016-03-28 21:01] coreybyrnes opened #2736 "amp-ad lightbox functionality"
I'm trying to develop a lightbox amp ad but it doesn't seem possible because I'm hitting a security error when I try to obtain the width & height of the top window (different domains) in order to pass those dimensions to the context.requestResize function. Is there any sort of lightbox functionality planned for amp ads?

[2016-03-28 21:05] dvoytenko opened #2737 "Allow page authors to propagate some of the styles to the iframe"
This mainly concerns font family, style and size, but other style customizations are possible as well. Ideally, we will be able to reconcile this styling with Shadow DOM rules (see http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom-201/).

Currently, iframes only inherit background color from the parent's context. However, other styles could be useful to ensure that the iframe looks si

[2016-03-28 21:05] dvoytenko commented on #2737
/cc @mkhatib @sriramkrish85 @cramforce @ericlindley-g

[2016-03-28 21:15] Gregable commented on #2701
It also looks like these should be updated:
https://ampbyexample.com/components/amp-access/
https://ampbyexample.com/components/amp-user-notification/

[2016-03-28 21:24] ericlindley-g commented on #2737
This is interesting—have you come across many cases where this would be directly useful, or is this more a dependency for other functionality we'd like to offer?

I'm assuming this would only work for same-origin iframes (?)

[2016-03-28 21:51] dvoytenko commented on #2737
Eric, no, the idea is to try to see if we can get this closer for cross-origin iframes.

[2016-03-28 22:01] dvoytenko commented on #2442
@dougalg

Do you suggest that a page author can set the initial height and based on that your widget would determine whether to show a button or a list of comments right away? If so, I think it'd be ok, although I think it'd be better to simply define an attribute that would instruct the widget to do one or the other, e.g. `show=button` vs `show=comments`.

In the meantime, what login system do yo

[2016-03-28 22:04] dvoytenko commented on #2701
Yep. VEry good point. Will file separately. /cc @sebastianbenz @andreban

[2016-03-28 22:25] honeybadgerdontcare commented on #2734
Could someone provide clarification about what layouts are supported?

The documentation at https://github.com/ampproject/amphtml/blob/master/extensions/amp-jwplayer/amp-jwplayer.md states several errors for layouts:
IMPLIED_LAYOUT_INVALID	Error thrown when implied layout is set to CONTAINER; this layout type isn't supported.
IMPLIED_LAYOUT_INVALID	Error thrown when implied layout is set to CONTAI

[2016-03-28 22:32] ericlindley-g commented on #2712
@sriramkrish85 , is this something you're already working on, or for the future?

[2016-03-28 22:34] cramforce commented on #2737
This is for native ads and similar stuff, right?

I think posting down the contents of the custom style sheet is reasonable (definitely via `postMessage`) if the container opted in. One thing to note is that this would become harder should we ever decide to de-inline the stylesheet.

[2016-03-28 22:56] honeybadgerdontcare commented on #2734
@pablos1
Could you provide the requirements to a `data-account` value since this is required according to the errors? And could you update the Examples to include a "valid" data-account.

Thank you.

[2016-03-28 22:59] ericlindley-g commented on #1201
Currently needs:

Move to experimental (and indicate in .md that this is in experimental):  #2672
Validation (needs link to tracking issue)
Namespaced classes: #2668

Are there any other open issues for this component?

[2016-03-28 23:00] ericlindley-g commented on #2628
@dvoytenko , who's a good person to take a look at this while Paul is unavailable?

[2016-03-28 23:05] pablos1 commented on #2734
@honeybadgerdontcare looks like we had a typo in the documentation.  It should be `data-player-id` that's required, not `data-account`.  Should I create a PR for that?

As for the layout errors, the extension uses the `isLayoutSizeDefined` from `/src/layout`; the error messages were copy-pasted from another module that uses that validator.

[2016-03-28 23:15] ericlindley-g opened #2739 "Create validation table for amp-accordion.md doc"
cc/ @Gregable

Hoping to get this into the current sprint (ends this Thursday), but can re-slot if you don't have bandwidth. Thanks!

[2016-03-28 23:22] honeybadgerdontcare commented on #2734
@pablos1 Yeah, go ahead and do another PR to make the documentation in line with what should be accepted.

[2016-03-28 23:42] orzage commented on #2442
@dougalg

The button version is an important use case for those looking to keep their pages lean by avoiding loading the commenting widget's resources at all if the user is not interested in the comments. With AMP, clients presumably do not have the option of providing their own implementation of a button that loads the amp-viafoura iframe when clicked, avoiding loading the iframe until the user c

[2016-03-29 00:04] kushal opened #2741 "An amp-ad with amp-access-hide that is made visible doesn't actually appear until window is resized"
## How do we reproduce the issue?

See http://kushaldave.com/ampadbug.html
After the fallback access response is loaded, the box for the ad appears but not the ad.
Try resizing the window and the ad appears.

## What browsers are affected?

Seen in Chrome and Safari.

## Which AMP version is affected?

Seen in version 1458430572640. Unsure if it's new.

[2016-03-29 01:18] dougalg commented on #2442
@dvoytenko @orzage Thanks for the continued detailed feedback. I think your idea to add a button with option to hide/show the comments certainly makes a lot of sense. My only concern is about internationalization. Is there any standard at the moment for internationalization in the AMP project?

For the login, we do provide our own login system which integrates social logins, as well as an option f

[2016-03-29 01:25] mkhatib opened #2742 "Carousel Slider doesn't actually preload next slide"
The problem seems to be the fact that the next slide is always `display:none` and hence `isDisplayed() => false`. Because of this the `schedulePreload` call doesn't actually schedule anything because of the condition `isDisplayed` not satisfied.

### Reproduce by
1. Open carousel.html example page.
2. Inspect the slider carousel.
3. Notice that the next slide didn't render the image

To reproduce

[2016-03-29 01:27] mkhatib commented on #2742
I'll try to address this in the prerender work

[2016-03-29 04:13] mkhatib commented on #2737
Curious if we have examples already in the wild of how this can be useful - or where we're seeing discrepancies in styles because of iframes. I am not sure how much ads providers allow customization - can people customize the font for adwords loaded for example?

[2016-03-29 07:10] justforfun commented on #2261
@dvoytenko it works fine now, I was using production environment. Thank you

[2016-03-29 12:13] jamespacileo opened #2745 "Feature Request: `amp-table`"
It would be ideal to have an AMP optimised table element.

Optimising tables for mobile is quite tricky and often the quickest solution is to eliminate these entirely from AMP pages.

[2016-03-29 14:02] Re-lM commented on #2631
@sriramkrish85 any update on this one? Does `added to current sprint` mean that it is a bug and will be fixed in the current sprint? Many thanks!

[2016-03-29 15:18] pablos1 commented on #2734
@honeybadgerdontcare PR is in.  Let me know if there's anything else needed.

[2016-03-29 15:31] sketchytech opened #2746 "Feature request: a `reader-comments` extended component"
## Feature request: A `reader-comments` extended component

Reader comments are a huge part of interaction with the news. There's not a news site on the Internet that doesn't have them. Could there be a way similar to `user-notifications` to GET and POST to a comments section? Making it something inbuilt into amp would provide the power to control how these are handled. I suspect otherwise news si

[2016-03-29 16:14] rudygalfi commented on #2734
Closed via #2740.

[2016-03-29 16:14] #2734 closed

[2016-03-29 16:54] rudygalfi commented on #2745
@jamespacileo Can you give some examples of optimizations you'd like to see in an `amp-table` component?

[2016-03-29 16:55] rudygalfi commented on #2742
@mkhatib slotting this into next milestone. Please move if needed.

[2016-03-29 16:59] dvoytenko commented on #2712
Yes, it's for the next sprint.

[2016-03-29 17:00] dvoytenko commented on #1201
@ericlindley-g Namespace classes is very important for release. Let's assign right away.

[2016-03-29 17:01] dvoytenko commented on #2628
@ericlindley-g I think these are all done. Can we confirm this?

[2016-03-29 17:07] erwinmombay commented on #2668
BEM would be nice, unfortunately AMP did not adopt BEM so `amp-social-share-twitter` would be more in line with AMP's internal css practice.

[2016-03-29 17:15] dvoytenko commented on #2261
@justforfun Thanks a lot!

[2016-03-29 17:22] rudygalfi commented on #2737
@mkhatib Based on the Sharethrough discussion happening elsewhere, I think this capability could be a really nice enhancement to things like native ads serving: http://www.sharethrough.com/resources/mobile-native-ad-examples/. Matching the style of the surrounding content is really important to achieving the desired effect.

@cramforce Regarding de-inlining the stylesheet, would we support both no

[2016-03-29 17:23] dvoytenko commented on #2737
@cramforce - correct, it will be harder. But if we can get any events, we can always forward the message once we have the necessary info. Opt-in with messages for us will mean that the AMP page has to opt-in into this by adding an attribute, e.g. "propagate-styles". The child iframe will opt-in by sending "request-propagated-styles" message.

@mkhatib This is mostly for creatives that need to matc

[2016-03-29 17:28] dvoytenko commented on #2741
Thanks @kushal , I will take a look right away. One confirmation - is the `amp-access-hide` on the actual `amp-ad` or on one of its parents? Is there any chance you can post the relevant source fragment?

[2016-03-29 17:32] sriramkrish85 commented on #2631
@Re-lM we did make updates to inner working of resize - could you check and see if that actually fixes this for you- else if you can put up an example that i can debug! Thanks a lot for the help!

[2016-03-29 17:34] dvoytenko commented on #2734
`isLayoutSizeDefined` supports `fixed`, `fixed-height`, `responsive` and `fill` layouts.

[2016-03-29 17:38] dvoytenko commented on #2736
@coreybyrnes Could you please describe how the lightbox would work in this case? Is it driven by user action? What kind of transitions do you envision?

Ideally we'd certainly like to support something like this as a top-level abstraction in AMP. This is because on one hand we can provide a more complete UX - for instance, we can instruct a viewer to hide it's header when lightbox is shown. On the

[2016-03-29 18:15] jridgewell commented on #2402
@bobcassels: Open an issue with the test that doesn't work.

[2016-03-29 18:30] ericlindley-g opened #2747 "Include required script tag and validation table in Dynamic CSS Classes .md"

[2016-03-29 18:32] dvoytenko commented on #2741
@kushal I think I reproduced the issue. It looks to only happen when `amp-access-hide` is on the `amp-ad` tag itself. I will fix it shortly. In the meantime, the workaround is to put `amp-ad` inside the DIV and move the `amp-access`/`amp-access-hide` to that DIV. Let me know if you see something different.

[2016-03-29 18:40] rudygalfi commented on #1769
Fixed by #2624.

[2016-03-29 18:40] #1769 closed

[2016-03-29 18:48] mkhatib commented on #2732
I've done some more testing on this yesterday and wasn't able to reproduce the blocking behavior, although it did seem that I was able to keep stacking tasks inside exec that doesn't end - but even with that the element managed to render correctly. Will do some more testing on this and see if it is no longer a problem.

[2016-03-29 18:53] dvoytenko opened #2749 "Do not report CANCELED as errors in console."
See `error.cancelation()` API.

[2016-03-29 19:12] #2741 closed

[2016-03-29 19:13] dvoytenko commented on #2741
Fixed via #2748. It will be in canary this Thursday and in PROD the following Thursday. Please use the recommended workaround in the meantime.

[2016-03-29 19:28] dvoytenko commented on #2622
@sriramkrish85 @rudygalfi Let's split refactoring issue from documentation. It'd be great to refactor code a bit during the next FixIt. But this sounds like specifically the documentation issue? Does it still exist?

[2016-03-29 19:29] dvoytenko commented on #2302
@ericlindley-g Could you please dedupe this issue?

[2016-03-29 19:30] iefserge opened #2751 "Feature request: sms protocol separator"
Depending on the user device sms protocol links should use different separators ( `?`, `;` or `&` ). See http://stackoverflow.com/questions/6480462/how-to-pre-populate-the-sms-body-text-via-an-html-link/19126326#19126326

Would it be a good idea to add a dynamic placeholder for those links?

[code]

[2016-03-29 19:33] dvoytenko commented on #2751
@mkhatib please take a look. This is an interesting issue. Perhaps we can simply do replacement ourselves directly. Although currently we do not intercept the links when not iframe'd, but it's worth considering to reduce pain.

[2016-03-29 19:36] mkhatib commented on #2668
Is social share still in experimental? Do we need to worry about backward compatibility? Namely, if we start using `.amp-social-share-twitter` instead of `.twitter` would that affect people who already using the extension?

[2016-03-29 19:40] dvoytenko commented on #2668
No need to worry about backward compatibility. Yes, in experimental still.

[2016-03-29 19:43] #2563 closed

[2016-03-29 20:39] mkhatib commented on #2751
Interesting, yeah this possible. In general this would basically prevent default on sms links and then `open(replacedLink, a.target)`.

[2016-03-29 21:18] kushal commented on #2741
Awesome, thank you!

On Tue, Mar 29, 2016 at 12:13 PM Dima Voytenko <notifications@github.com>
wrote:

[2016-03-29 21:50] ericlindley-g commented on #2302
Closing as an effective duplicate of #2461

[2016-03-29 21:50] #2302 closed

[2016-03-29 21:51] ericlindley-g commented on #2302
Also dup'ing to: #827

[2016-03-29 22:30] jmarantz commented on #2380
Note: the canonical minimal valid AMP html document has an Apache 2.0 copyright comment at the top:

https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/minimum_valid_amp.html

the html lightning-bolt tag appears at about character 779 in that file (more or less..I'm not sure how Emacs counts utf8 chars :)

[2016-03-29 22:50] rudygalfi commented on #2622
@sriramkrish85 What the documentation requirement here?

[2016-03-29 23:30] mkhatib commented on #2732
Was able to reproduce. I was having troubles reproducing because I was using `amp-instagram` as an example, and in its current setup its "load promise" is really the load promise for the image that it's prerendering. Was able to reproduce with `amp-brightcove` instead. Will send a PR.

[2016-03-30 02:20] mkhatib commented on #2742
Thanks @rudygalfi.

To kick off the discussion, a possibility to fix this might be on how carousel is structured and how we display items in it. Maybe instead of display: none we explore a visibility solution. I'll look some more into this and possibly send a small document to get some more comments on this.

[2016-03-30 04:07] mkhatib commented on #2572
This sounds good. This hopefully won't break anyone's current usage as I'd imagine people don't use ports in their prod-setup.

[2016-03-30 09:52] jayston commented on #1201
Hi, sorry to jump into this discussion. We'd love to have social sharing buttons for our amp pages but our Audience is coming from Russia and Asia where Facebook and Twitter are not the leading social platforms. Would it be possible for you to add the Vkontakte sharing button? Baidu would also be a good addition but Weibo should already cover a big part of this user segment.

https://vk.com/dev/sh

[2016-03-30 12:43] Nicola1976 commented on #2633
Hi Erwin, the test is active also right now?
Because I can't run the test as in past days. Let me know.

thanks
nicola

[2016-03-30 14:46] Re-lM commented on #2631
@sriramkrish85 thanks for the update. I will test it. Our AMP integration should come in the next release. Than I will be able to give you a live example. Thanks for the help!

[2016-03-30 15:25] nuclearghost commented on #2737
@mkhatib Hi I'm an engineer from Sharethrough. One major advantage for publishers is that they can make changes to the design of their site and those styles will be reflected in their native ads.

Often times the teams doing the site design and the ads team are different and might not be talking directly, and in order to keep the native ads looking like the rest of the site, it's important that th

[2016-03-30 15:38] patternseek commented on #599
amp-video supporting the codecs parameter in `<source>` would go a long way to alleviate this.

[2016-03-30 16:09] rudygalfi opened #2756 "Add Vkontake and Baidu to amp-social-share"
### What you will need to know
- [`amp-social-share-config.js`](https://github.com/ampproject/amphtml/blob/c2be5ab1ecfde40a7337f6eeb57aad4328017b60/extensions/amp-social-share/0.1/amp-social-share-config.js)
- [`amp-social-share.js`](https://github.com/ampproject/amphtml/blob/c2be5ab1ecfde40a7337f6eeb57aad4328017b60/extensions/amp-social-share/0.1/amp-social-share.js)
- Documentation for Vkontake:

[2016-03-30 16:10] rudygalfi commented on #1201
@jayston I started a new issue to track further enhancements to amp-social-share: #2756.

[2016-03-30 16:17] rudygalfi commented on #2742
cc @ericlindley-g

[2016-03-30 19:16] #2572 closed

[2016-03-30 21:09] erwinmombay opened #2759 "clean up local storage errors"
some new errors cropping up that are mostly from webview
- is iframed boolean (need to know if inside viewer)
- viewer url (possibly)

minor changes to possibly reduce errors:
- localstorage == null?
  - storage api/notification
  - cid usage

[2016-03-30 21:14] cramforce opened #2760 "Make assertHttpsUrl throw if no URL was provided."
The empty string is fine, but null or undefined URLs should be an error.

[2016-03-30 21:44] rudygalfi opened #2761 "Apply dynamic css classes on <body>"
https://www.ampproject.org/docs/reference/extended/amp-dynamic-css-classes.html says they are added to the "HTML element", implying `<html>`. There was some discussion that it's actually `<body>`, so this needs to be confirmed one way or the other.

cc @ericlindley-g

[2016-03-30 21:46] rudygalfi commented on #2517
Closed via #2711.

[2016-03-30 21:46] #2517 closed

[2016-03-30 21:48] rudygalfi commented on #827
Is #2461 tracking to land by tomorrow's release, or should we shift this into the next sprint?

[2016-03-30 21:51] rudygalfi commented on #2573
Dupe of #2061.

[2016-03-30 21:51] #2573 closed

[2016-03-30 21:54] rudygalfi commented on #2670
Is there an open PR for this?

[2016-03-30 21:54] rudygalfi commented on #2645
Closed via #2711.

[2016-03-30 21:54] #2645 closed

[2016-03-30 21:55] rudygalfi commented on #2731
Pushing into next milestone

[2016-03-30 21:57] Gregable commented on #2670
Not yet.

[2016-03-30 21:58] rudygalfi commented on #2670
OK, moving to next milestone. Thanks for the update!

[2016-03-30 21:58] rudygalfi commented on #2641
Closed by #2711.

[2016-03-30 21:58] #2641 closed

[2016-03-30 21:59] rudygalfi commented on #2585
We should re-slot this: next milestone or pending? @ericlindley-g

[2016-03-30 22:00] dvoytenko commented on #2585
I think our first action here should be to hide them on error. And move error state processing in a separate bug.

[2016-03-30 22:18] erwinmombay commented on #2633
@Nicola1976 not sure what you mean by test is active? if you go to https://cdn.ampproject.org/experiments.html and turn on dev-channel it should still be working.
let me know if theres anything i can clarify or help with. Thanks. We should turn this on to full production by end of day tomorrow PST.

[2016-03-30 22:20] jridgewell commented on #2761
It's `<html>`.

[2016-03-30 22:24] rudygalfi commented on #2761
Thanks. No doc change needed.

[2016-03-30 22:28] erwinmombay opened #2762 "Intent to Implement: amp-live-list"
### progress
- **js validation**
  - [x] id validation
  - [x] child id validation
  - [x] data-sort-time (data-sort-key) on children
  - [x] response is HtmlDocument
- **polling**
  - [x] off when viewer is not visible
  - [x] minimum poll interval value (currently set at 5000, might be too low)
  - [x] handle 415 and 500 with backoff
  - [x] restart timers when OK after backoff
- [ ] UX/visual w

[2016-03-30 22:29] dvoytenko commented on #2761
We need to discuss: all other classes are applied on `body`. Ideally we'd put them all in one place, but at this point it'd be hard to move other classes to `html`.

[2016-03-30 22:37] ericlindley-g commented on #2762
Since you're currently working on this, I'm thinking we can tentatively slot for the next milestone, but make clear somewhere what piece of the overall feature is being targeted for then.

Another option is to make a separate issue for the piece of functionality targeted, and slot that in the milestone; we can think about what's easiest

[2016-03-30 22:39] erwinmombay commented on #2762
@ericlindley-g i was planning to just keep this open and just tick stuff off the checklist (feel free to add items there too since i know you've been more in touch with partners etc) and not close it until all items are done.

[2016-03-30 22:41] erwinmombay commented on #2762
@ericlindley-g of course if you feel strongly about opening new issues i don't mind doing that at all. let me know :+1:

[2016-03-30 22:41] erwinmombay commented on #2585
starting to work on this

[2016-03-30 22:45] ericlindley-g commented on #2762
@erwinmombay That's what I was thinking, too—don't want to create extra work where we don't need any :)  Current plan: just have this one bug for the feature; slot it for sprints to indicate that it is actively being worked on; and communicate somewhere (maybe in the bug, but not in separate bugs) what's expected for the end of each sprint.  Of course, we can tweak this as we go

[2016-03-30 22:53] erwinmombay commented on #2762
@ericlindley-g SGTM, there will also be multiple PR's etc so i will probably convey work expectations either there or bring that info back here. (most likely the latter since the PR's can be closed etc and can get lost).

[2016-03-30 23:07] rudygalfi commented on #2352
@dvoytenko If you have ideas for what you'd like to see in a PR template, can you create one?

Otherwise, let's close this.

[2016-03-30 23:09] rudygalfi commented on #2739
Moving this to the next sprint; hoping we can do this then.

[2016-03-30 23:16] Gregable commented on #2641
FYI, this will be visible on the cdn.ampproject.org validator in about an hour.

[2016-03-30 23:16] Gregable commented on #2645
FYI, this will be visible on the cdn.ampproject.org validator in about an hour.

[2016-03-30 23:16] Gregable commented on #2517
FYI, this will be visible on the cdn.ampproject.org validator in about an hour.

[2016-03-30 23:17] Gregable commented on #2705
FYI, this will be visible on the cdn.ampproject.org validator in about an hour.

[2016-03-30 23:17] Gregable commented on #2600
FYI, this will be visible on the cdn.ampproject.org validator in about an hour.

[2016-03-30 23:28] rudygalfi commented on #2565
Will this be dependent on https://github.com/ampproject/amphtml/issues/1297#issuecomment-197441289?

[2016-03-30 23:30] rudygalfi commented on #2761
What are the options?

We could:
- add dynamic CSS classes also to `<body>` while also keeping them on `<html>`
- add, but also remove from `<html>` (how would this work?)

[2016-03-31 00:02] dvoytenko commented on #2761
The only option we can consider at this time (as opposed to keep it as is) is to move classes to `body` for all cases.

[2016-03-31 00:19] dvoytenko commented on #599
@patternseek This issue is specifically for when video only has `src` attribute.

[2016-03-31 00:21] dvoytenko commented on #2742
The solution is definitely to set `display:block` and `visibility:hidden` on preloaded slides. This was the intention, but I think it must have regressed.

[2016-03-31 00:32] #2760 closed

[2016-03-31 00:57] dvoytenko commented on #2442
@dougalg How do you approach internationalization today? Do you simply leave it to the publisher or do you internationalize yourself? I think we should be able to extend `lang` propagation to your widget from the page at large. But if you prefer publisher to do internationalization - we can then make it part of the markup. E.g. the iframe (possibly preloaded) will not be shown until the button in

[2016-03-31 01:51] mark-leppa commented on #2577
Having this same issue getting IE11 to display AdSense ads (Android, Chrome and Firefox are all working good). After troubleshooting, I discovered **two separate issues with displaying on IE 11:**

1. The `visibility: hidden` style is being applied via the `-amp-fill-content` class. Below is a hack which allows the ad to display. This is an invalid style due to -amp prefix and !important usage. Us

[2016-03-31 02:36] cramforce opened #2767 "Set up protected branches"
https://github.com/blog/2137-protected-branches-improvements

We basically want the lowest requirements, but limit merges to the current group minus PMs :)

[2016-03-31 02:39] cramforce commented on #2762
@erwinmombay Feel free to publish the doc. Let Karen do a quick review.

[2016-03-31 02:55] erwinmombay commented on #2767
:+1:

[2016-03-31 03:40] cramforce opened #2769 "Change logging tags from CamelCase class name to tag name"
At least inside element implementations. The status quo is fine inside regular classes.

E.g. this should be `amp-access` instead of `AmpAccess`: https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/0.1/amp-access.js#L72

[2016-03-31 04:24] erwinmombay commented on #2767
@cramforce dont think i have access to ampproject/amphtml settings page

[2016-03-31 05:18] orzage commented on #2705
Confirmed, looks good.

[2016-03-31 05:18] #2705 closed

[2016-03-31 06:58] steffenweber commented on #2641
Thanks!

[2016-03-31 07:52] Nicola1976 commented on #2633
OK I go on this page and turn on the dev
![image](https://cloud.githubusercontent.com/assets/14162566/14168889/0aeb7aea-f725-11e5-9ed9-679195351482.png)

than I go to my test page passing in console loacalStoratge.clear() but, differently from before, I have the original error in console like this:

![image](https://cloud.githubusercontent.com/assets/14162566/14168972/76270c5c-f725-11e5-994c-48ec7

[2016-03-31 08:05] Nicola1976 commented on #2633
Sorry It was my fault! everything is ok!
Let me know when it is on full production.

Thanks a lot.

Nicola

[2016-03-31 09:15] Nicola1976 commented on #2633
I see that all works fine already also in full pruduction (without turning on dev mod on AMP experiment page)

It is possibile?

Thanks!

[2016-03-31 09:26] erwinmombay commented on #2633
@Nicola1976 it would probably be only be working in production if the ad type is doubleclick right now.

[2016-03-31 16:05] dknecht commented on #2702
@rudygalfi @ericlindley-g @dvoytenko Would it be possible to do a hangout to discuss your plans in this area?

[2016-03-31 16:29] cramforce commented on #2767
Done.

I also turned on status checks.

[2016-03-31 16:36] cramforce commented on #2767
@erwinmombay What is the current state of release branches? We now use one-off-branches created from master, right?

[2016-03-31 16:41] cramforce opened #2771 "Investigate strategy for dependency pinning"
We used to use NPM shrinkwrap, but we stopped due to problems with @greenkeeperio-bot. We should reconsider. I'd also consider just checking node_modules into the repo (or ideally a separate repo connected with git submodule (Rule number 1: Never ever use git submodule, they are the worst).

[2016-03-31 17:12] erwinmombay commented on #2771
cool, will go ahead and run shrinkwrap again. these days we dont really upgrade as much we would like to anyways, so i think we should be good. we can always remove shrinkwrap again if it becomes a issue.

ive never done checking the whole node_modules into a repo, not sure whats its implications are building etc (besides cloning slowdown + bandwidth)

[2016-03-31 17:26] obeyer commented on #2504
@rudygalfi
Hi! Sorry, but when you were checking the issue, the dev9 server weren't running tose ads anymore. Here's a link to production: http://www.popsugar.com/fashion/What-Clothes-Should-I-Wear-My-30s-34356107/amp
Look in the mobile simulator, or mobile phone (we have different ads served to mobile). You will see an interscroller ad after the 5th image, right before the image called 'The perfe

[2016-03-31 17:36] jridgewell commented on #2565
The code sharing between ads and analytics in our code is a little blurry to me, but these are very similar. I imagine we'd add a `visibilitySpec` attribute that's exactly like https://github.com/ampproject/amphtml/issues/1297#issuecomment-197441289.

[2016-03-31 18:25] rudygalfi commented on #2504
Thanks. I can see it now. Attaching a screenshot.

@jasti @kashyapnitin  -- I think you're looking into this kind of format?

<img width="389" alt="screen shot 2016-03-31 at 11 23 15 am" src="https://cloud.githubusercontent.com/assets/3888212/14186418/264f358e-f733-11e5-9437-475f3fe36d43.png">

[2016-03-31 19:28] jasti commented on #2504
@obeyer Can you send me a link to your DFP lineitem that calls out the 3rd party? It's possible that the Celtra Inter Scroller tag is not SSL compliant and therefore the DFP lineitem competition would exclude it from being considered for an AMP ad request.

[2016-03-31 19:48] #2708 closed

[2016-03-31 21:29] dvoytenko commented on #2577
@sman68 To confirm, the problem is specifically due to issues with IE11 interpreting media query? Do you know if this is only when calling `window.matchMedia` API directly? Or when doing this via CSS, e.g. `<style>@media (...) {}</style>`?

[2016-03-31 21:36] erwinmombay commented on #2633
@Nicola1976 https://github.com/ampproject/amphtml/releases/tag/1458844805881 should be now in production. please test it out, and let us know if you still see any issues. thank you for you patience!

[2016-03-31 22:14] mkhatib opened #2776 "Consider moving size change requests to TaskQueue_"
Currently `resources.requestsChangeSize_` uses a JS array unlike the `queue_` and `exec_` queues.

This might not be needed as @dvoytenko mentioned we're trying to consolidate these queues to just use one or two.

[2016-03-31 22:18] #2668 closed

[2016-04-01 00:35] rudygalfi commented on #2702
We have no plans at this time to open-source the C++ validator.

[2016-04-01 01:13] dvoytenko opened #2778 "Intent to implement: new layout type `flex-item`"
A new layout type will be called `flex-item`. It will be similar to the `fill` layout, but instead of trying to take all of the space of the container, it will take the available space based on the flexbox model.

### Declaration
[code]

### Implementation
[code]

Notice that `height=100%` and `width=100%` are overridable defaults and are only there to ensure that the container indeed specifies `d

[2016-04-01 01:13] dvoytenko commented on #2778
/cc @cramforce @powdercloud

[2016-04-01 02:49] cramforce commented on #2778
:100:

[2016-04-01 15:54] stephanfowler commented on #2663
Very interesting proposal. I imagine some publishers wouldn't want this, seeing AMPs purely as stepping-stones to their canonical site. But other publishers might be motivated by it to start experimenting with AMP homepages or fully AMP'd sites. So, because of the likely differing appetites for it, the deactivation option seems crucial.

[2016-04-01 15:59] jridgewell commented on #2761
@dvoytenko: Dynamic CSS Classes hasn't been officially released yet (it's still behind an experiment in the latest release). Should we change this before pushing out the next prod?

[2016-04-01 16:36] kul3r4 commented on #1866
Another alternative would be opening the carousel on a separate page hosted by the website.
A preview of the carousel could be shown on the page, without showing the entire carousel content, then clicking on it will open a separate page which will host just the carousel.
This would allow doing more advanced things: like adding a share button for the carousel given the page hosting it would have it

[2016-04-01 17:08] rudygalfi commented on #2761
For some reason I was thinking it was stable. Yes, we should definitely make that change.

[2016-04-01 17:17] jridgewell commented on #2761
It's stable now, but we haven't pushed a new release. :wink:

[2016-04-01 19:01] jkingyens commented on #2700
I've opened a PR with this sample: #2783

[2016-04-01 19:05] rudygalfi commented on #2732
Rolling this into next milestone.

[2016-04-01 19:05] rudygalfi commented on #2631
Rolling this into next milestone.

[2016-04-01 19:06] rudygalfi commented on #2628
Rolling this into next milestone.

[2016-04-01 19:06] rudygalfi commented on #2585
Rolling this into next milestone.

[2016-04-01 19:07] rudygalfi commented on #2402
Rolling this into next milestone.

[2016-04-01 19:07] rudygalfi commented on #827
Rolling this into next milestone.

[2016-04-01 19:46] dvoytenko opened #2785 "Condition Resources.getDpr() based on `NetInfo.downlinkMax` when available"
This overall should be simple by itself, but we need to address UX considerations. I.e. if we downloaded a lower quality image - do we need provide some UX allowance for the user to request the full version? E.g. "tap" to see the better quality image or such?

[2016-04-01 19:52] dvoytenko commented on #2776
I'll close this for now. There are other issues tracking a more end-to-end refactoring of Resources that would cover this.

[2016-04-01 19:52] #2776 closed

[2016-04-01 21:15] ericlindley-g commented on #2628
@mkhatib , could you check locally to make sure the issues [on this page](https://amp-partners.appspot.com/social) are fixed? (Twitter icons should be SVG; Facebook icons should show up, rather than displaying "Moo!")

[2016-04-01 23:07] dikmax opened #2793 "Validator fails on boilerplate code copied from guide."
I've added boilerplate code. It's the same in all guides, but validator fails, despite code is identical.

You can check it here: <https://dikmax.name/post/satrip-2015-iguazu-falls/amp/#development=1>.

Errors:

[code]

But if you open page source and search for `<style amp-boilerplate>...` copied from guides, then you'll find it byte to byte.

AMP version 1458844805881

[2016-04-01 23:22] gam-phon opened #2794 "Feature Request: support whatsapp in amp-social-share"
Using Custom URL Scheme.
When pressed, whatsapp will be opened with predefined text and link to share it.
For example:

    <a href="whatsapp://send?text=....."/>

https://www.whatsapp.com/faq/en/iphone/23559013

[2016-04-01 23:29] Gregable commented on #2793
Your boilerplate is correct. The validator is correct as well, but the error message is a bit confusing. The error it is complaining about is the `<style>` tag you have on the page rather than the `<style amp-boilerplate>` tag.

The position at line 1, col 1444 points directly at that `<style>` tag, which must have the `amp-custom` attr. See https://github.com/ampproject/amphtml/blob/master/spec/a

[2016-04-01 23:29] #2793 closed

[2016-04-02 18:24] dothebangthingsalon opened #2799 "Structured data error Google - w/ full amp validation on console"
## Short description of your issue:

Google is not indexing page despite amp validation in dev console.  States structured data missing.  Unsure what is missing.  Please advise.

## How do we reproduce the issue?

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue and nothing else.

1. Step 1 to reproduce
https://dothebangthingsalon.com/a

[2016-04-04 04:38] ericlindley-g commented on #2746
Thanks for the request—we're working on finding a good solution for comments, and don't yet support them natively in AMP, so you didn't miss anything :)

Though, we do have active issues around enabling comments, such as https://github.com/ampproject/amphtml/issues/2442

[2016-04-04 08:12] ThomasPaq commented on #1654
Hello,
As Médiamétrie company, we also need this events to send hits with amp-analytics on amp-video events.
In addition we need to get the following video information :
 - duration
 - state
 - position
The goal is to set this information in the hits sent by amp-analytics.

[2016-04-04 08:27] ThomasPaq opened #2802 "Add configuration option for the trigger "timer" in amp-analytics to support video analytics"
With amp-analytics we can use the trigger "timer" to fire a request on a regular time interval. Currently the only options are interval and maxTimerLength.
Is it possible to add two options to link the begin and the end of the timer with events.

What  we would like :
- the timer begins when the video starts
- the timer ends when the video stops

[2016-04-04 13:39] adewale commented on #2799
This isn't an issue with AMP. Please raise this in the Webmaster Support forums: https://productforums.google.com/forum/#!forum/webmasters

[2016-04-04 17:30] dvoytenko commented on #2794
/cc @ericlindley-g

[2016-04-04 17:43] jridgewell commented on #2802
This could be wrapped up into https://github.com/ampproject/amphtml/issues/1654, no?

[2016-04-04 17:44] #2799 closed

[2016-04-04 17:47] dvoytenko commented on #2802
/cc @rudygalfi @avimehta

[2016-04-04 17:50] avimehta commented on #2802
I think timer is the wrong place to do this. The correct behavior will be to have video events directly defined by the extension and amp-analytics supporting "videoStart" and videoEnd" etc triggers. As @jridgewell said, lets focus on #1654 getting added to AMP.

[2016-04-04 18:05] hkmaly commented on #2756
Would it be possible to actually USE the width and height specified as opposed to hardcoding width 60px and height 44px as is now? I suppose I can override them, but then the images on buttons are too big.

[2016-04-04 18:09] ericlindley-g commented on #2794
This would be great—slotting into the backlog

[2016-04-04 19:29] Aetherpoint commented on #1201
Hi! Are there any sort of style restrictions around the custom buttons? We’d love if these could be branded to work well with the rest of an article design or sit back visually so they're not too distracting for readers.

[2016-04-04 19:40] ericlindley-g commented on #1201
@Aetherpoint , you should be able to customize your buttons as needed (you can refer to the [.md file](https://github.com/paul-matthews/amphtml/blob/amp-social-share/extensions/amp-social-share/amp-social-share.md) for how to do that), but feel free to request styling or functionality that isn't available

[2016-04-04 19:46] cramforce commented on #1297
From reviewing the PR:

Maybe it is just me, but I find the usage of the `Max` prefix very confusing. Its really something like `TriggerBoundary`, right? (Which is obviously a terrible name). The `Max` to me say: If the user spends more time this doesn't trigger.

[2016-04-04 19:46] Aetherpoint commented on #1201
@ericlindley-g – Great, thank you!

[2016-04-04 20:38] alvin-milton opened #2808 "amp-soundcloud and soundcloud playlists..."
## Short description of your issue:

**amp-soundcloud** tag doesn't render soundcloud playlists.
## How do we reproduce the issue?

Use the amp-soundcloud tag to render this markup

`<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34709617&color=ff5500"></iframe>`
## What browsers are affected?

All bro

[2016-04-04 21:47] luigi commented on #1201
Two questions:

(1) I'd like to confirm that this feature is currently experimental, meaning it's not available to the public unless they enable it in their console.

(2) Assuming it is currently experimental, is there any timeline for general availability?

Thank you!

[2016-04-04 22:01] dvoytenko commented on #2808
/cc @asap wdyt?

[2016-04-04 22:28] #2308 closed

[2016-04-05 14:08] kevinsinger commented on #2663
Good proposal - Could be an interesting experiment.
However, I would prefer the link rewriting to be deactivated by default and have an activation option instead -  So the publishers have more control about when they want to test this option.

[2016-04-05 15:38] #2747 closed

[2016-04-05 15:38] #2761 closed

[2016-04-05 15:52] ThomasPaq commented on #2802
Hello,
This behavior will allow us to make video analytics in Médiamétrie. Maybe it's the wrong place to do this ...
I will try to explain you how our video analytics works :
1) for each standart player events (play, pause, stop) we send a request (we call theses requests 'state requests')
2) there is something important for us, what we call 'session'. A 'session' starts with the first play of the

[2016-04-05 17:31] ericlindley-g commented on #1201
Hi Luigi,

(1) That's correct. The feature is currently experimental, so it is only accessible to those who have enabled it, which is a case primarily intended for publishers to test their implementations

(2) We're hoping to get this out as soon as we can, pending fixes in #2628. It's tentatively slotted for the 4/14 milestone (you can get a sense for how work is targeted for completion by checki

[2016-04-05 17:38] sriramkrish85 commented on #2631
Closing this for now as https://github.com/ampproject/amphtml/pull/2584 should have fixed this. Please re-open if you see any more issues.

[2016-04-05 17:38] #2631 closed

[2016-04-05 17:51] erwinmombay opened #2819 "changelog should read non merge commits on master"
## Short description of your issue:

with the new squash feature, the commits in master will no longer have a "merge commit" to find the references to the pull request which are the commits the changelog script currently reads

## How do we reproduce the issue?

do a "squash and merge" on a pull request.

[2016-04-05 18:18] ithinkihaveacat opened #2820 "Support Typekit fonts"
Adobe's [Typekit](https://typekit.com/) "is a subscription font service that brings thousands of fonts from foundry partners into one library for quick browsing, easy use on the web or in applications, and endless typographic inspiration."

Because the fonts are added to websites via [Typekit's JavaScript](https://helpx.adobe.com/typekit/using/embed-codes.html) rather than CSS, the service is not

[2016-04-05 18:26] ithinkihaveacat commented on #2820
Experimental `<amp-typekit>` extension: https://github.com/ithinkihaveacat/amphtml/pull/1. The implementation mostly follows AMP's [performance optimization rules](https://www.ampproject.org/docs/get_started/technical_overview.html), but it produces invalid/insecure AMP pages that can't be cached on the CDN.

[2016-04-05 18:27] cramforce commented on #2820
@rudygalfi @jmadler Did we have any conversations with TypeKit?

We'd love to support them through the same mechanism we use for fonts.com and Google Fonts.

[2016-04-05 18:35] avimehta commented on #1297
@cramforce I read it as a set of conditions and the trigger fires when the values are between `min` and `max`. One thing to note is that it is possible for the trigger to have a `min` value but no `max` value.

 @surfcasper  any other suggestions for the names?

[2016-04-05 18:48] cramforce commented on #1297
@avimehta So if max is surpassed it doesn't fire? Or does it fire when max is reach or on unload?

[2016-04-05 19:02] avimehta commented on #1297
Lets take the example of

[code]

As soon as the element has spent 1 continuous second with between 50 and 74 percent (inclusive) of its pixels on the screen, this will fire.
-  Note that if the element is 100% on screen and stays that way, this will never fire.
- If the element is 100% visible, goes to 60% visibility and then stays that way for 1 second, the trigger will fire.

Lets change the ex

[2016-04-05 19:39] ithinkihaveacat commented on #2820
/cc @bramstein

[2016-04-05 19:42] hkmaly opened #2822 "Not getting amp-pixel calls if ACCESS_READER_ID is included in Palemoon"
In Palemoon, when I include ACCESS_READER_ID variable in url for amp-pixel, I never get the call (server log shows that nothing is downloaded). Same amp-pixel WITHOUT the ACCESS_READER_ID variable succeed.

I'm also not getting any pingbacks. I do get the READER_ID on authorization and login calls.

Interesting is that when the amp-access definition was invalid, I DID got the pixel.

## How do we