[2017-01-17 20:54] #7025 closed

[2017-01-17 21:03] jridgewell commented on #6850
This hasn't been released to Production yet, only canary. The next production release will be on Thurs, so it should be live then.

[2017-01-17 21:03] cramforce commented on #534
https://github.com/ampproject/amphtml/releases has all releases documented.

I should at some point write a retrospective on the evergreen JS library concept.

[2017-01-17 21:07] camelburrito commented on #6389
@ryanpoplin - does this mean we can close this issue?

[2017-01-17 21:13] jridgewell commented on #6389
This is because your using a `amp-sidebar ~ nav` CSS selector, and the amp-sidebar is being reparented to avoid a `position: fixed` bug.

[2017-01-17 21:13] jridgewell commented on #7066
This is because your using a `amp-sidebar ~ nav` CSS selector, and the amp-sidebar is being reparented to avoid a `position: fixed` bug.

[2017-01-17 21:18] #7062 closed

[2017-01-17 21:21] jtsai783 opened #7072 "DistroScale integration update"
HI, we would like to update the integration implementation to make a data field optional.

I've created a PR #7071.

[2017-01-17 21:24] tonyruscoe commented on #7025
Thanks for tracking down the cause and fixing the issue, @dvoytenko!

[2017-01-17 21:29] AmeliaBR commented on #3578
For

Are you also able to rewrite the values of SVG presentation attributes?  (These should be run through the CSS parser/sanitizer as a CSS property value.)

[2017-01-17 21:56] jpettitt commented on #6597
Can we just make it "if the user scrolls any amount the sticky ad comes up"?  I was in meeting last week where Google ad sales were heavily pushing the amp-sticky.  I had to rain on their parade by pointing out how badly it performs.   Our a/b study of sticky vs 320x50 top banner showed a 58% revenue drop switching from top banner to sticky.  A lot of that was reduced impression count hence the re

[2017-01-17 22:10] fulldecent commented on #534
Just to clarify for anyone that does not know about SRI, [the main goal of SRI](https://www.w3.org/TR/SRI/) is that:

"Evergreen JS" is NOT compatible with SRI. Additionally, the [AMP specification](https://www.ampproject.org/docs/reference/spec) states that:

Therefore, **compromise of a third-party service would automatically mean compromise of every site using AMP**.

[2017-01-17 22:14] cramforce commented on #534
That is correct.

Pages can, of course, choose to serve their own version of AMP. They won't be considered valid AMP, but otherwise can take advantage of all its features.

[2017-01-17 22:26] fulldecent commented on #534
That would not count as AMP and does not solve the current issue.

Also, another note: Gary Illyes, Webmaster Trends Analyst at Google was present at SEJ Summit Chicago and [stated that](https://www.searchenginejournal.com/future-amp-gary-illyes-sejsummit-chicago/166677/):

In other words, he failed to state that Google would not use AMP as a ranking signal.

----

In summary we have:

I know we a

[2017-01-17 22:28] cramforce commented on #534
For Google specific questions, please refer to the Google Search & AMP forum. https://goo.gl/utQ1KZ This is not a very good venue and nobody who works on Google Search regularly hangs out here.

Closing this. We'll put in the change for `link` tags.

[2017-01-17 22:28] #534 closed

[2017-01-17 22:42] erwinmombay opened #7075 "TypeError: 'undefined' is not an object (evaluating 'a.EventTarget.prototype')"
seeing the above error in 1%, guessing its the new code from the proxy work

seems to be only occurring in ios 7.1

[2017-01-17 22:58] erwinmombay commented on #7075
probably this line https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/0.1/form-proxy.js#L99

[2017-01-17 23:21] dandv opened #7076 "Widespread Chrome console warning about preloading resources for nothing"
I see the following warning in Chrome's console on various AMP sites:

Example sites include CNN, WaPo etc.:

* https://amp.cnn.com/cnn/2017/01/17/politics/chelsea-manning-sentence-commuted/index.html
* http://www.refinery29.com/amp/2017/01/136511/president-obama-commute-sentence-chelsea-manning
* https://www.tripadvisor.com.au/Restaurants-g294265-zfx1-Singapore.html
* https://www.washingtonpost.c

[2017-01-17 23:22] jridgewell commented on #7076
/to @cramforce

[2017-01-17 23:23] camelburrito commented on #7056
@semiromid - i don't completely understand what the issue is here. I put your code in JS bin and tested it on Mac - chrome/safari and FF

https://output.jsbin.com/vakumemevo/1/

I don't see the gap as you have specified in the image, could you please send us more details please.

[2017-01-18 01:07] jridgewell commented on #7042
This is actually on purpose for privacy, and functions the same as if you cleared all browser data (cookies, session storage, local storage) on a normal page. The way to update the `clientId` to the new value (and associate the old records to the new value) is to get the user to sign in so that you can verify "this is the same user with a new client id".

[2017-01-18 01:07] #7042 closed

[2017-01-18 01:17] adelinamart commented on #6815
@pbakaus any updates here? Thank you!

[2017-01-18 01:19] MichinaoShimizu opened #7080 "Intent To Implement: ValueCommerce support for amp-ads"
I want to contribute to add support to ValueCommerce platform https://www.valuecommerce.ne.jp/en/

I sent pull request  https://github.com/ampproject/amphtml/pull/6962 from MichinaoShimizu/amphtml branch. #6962

[2017-01-18 01:23] cramforce commented on #961
@wupengFEX When a user is logged in, you never need to use the client id (can always just use a cookie). If a user deletes localStorage, there won't be a way to match it back. That is working as intended, as the user chose to delete it.

[2017-01-18 01:34] #4293 closed

[2017-01-18 01:36] cramforce commented on #7076
@dandv Unfortunately there is nothing we can do, except give feedback to the Chrome team that they are annoying.

There is a tradeoff here:

- These warnings can really help in the general case, because people preload stuff they don't use.
- We, unless, we have a major bug, preload the exact URLs, but we lazily load them for real, so we trigger the heuristic.

I think we will have to live with the

[2017-01-18 01:36] cramforce commented on #7076
Closing, but feel free to open again!

[2017-01-18 01:36] #7076 closed

[2017-01-18 02:12] richardalquati opened #7081 "Amp"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-01-18 02:26] wupengFEX commented on #7042
@jridgewell Thanks very much for your reply, According to what you said, i know how to update clientId under login state, however what do AMP do when not login in, if deleted local storage, how to associate the old records to the new value? If amp can't do that, How to inform the publisher to delete the data which marked with previous clientId in the database, such as pingback data.

[2017-01-18 02:34] wupengFEX commented on #961
@cramforce Thanks very much for your reply, i know login state, But If amp can't match it back, then it can't  associate the old records to the new value, How to inform the publisher to delete the data which marked with previous clientId in the database, such as pingback data.

[2017-01-18 02:58] zhouyx commented on #6597
What you mean by first scroll is there's no requirement to scroll length. @jpettitt I think I understand you wrong. thanks to @aghassemi for explaining the issue, I will leave the decision to UX.

[2017-01-18 03:45] jridgewell commented on #7042
AMP can't do this, the same as a normal HTML page can't. If the user deletes all of their cookies on a normal HTML page, there's no way to identify them as the same user until they login.

There's also no way to do this, which is the same as a normal HTML page.

[2017-01-18 04:19] cramforce commented on #6597
I could get behind "user scrolled and has stopped scrolling". @jasti Do we have data about user preference based on when the ad loads?

[2017-01-18 04:27] #7081 closed

[2017-01-18 04:36] #6987 closed

[2017-01-18 04:39] jasti commented on #7045
@rudygalfi to prioritize.

[2017-01-18 04:55] lannka commented on #7047
@megankj Hi Megan, do you want to take a look?

[2017-01-18 05:05] lannka commented on #6244
duplicated with #6670

[2017-01-18 05:05] #6244 closed

[2017-01-18 05:22] jasti commented on #7038
I'm closing this issue because the ad network could simply take advantage of fast fetch on non-HTTPS pages even though the ads themselves might render into cross domain iframe.
@taymonbeal Favor please? Could you point to this documentation if available, if not, mind adding it on GH?
@bradfrizzell did we make the ' A4A network implementation guide' public yet?

[2017-01-18 06:53] wupengFEX commented on #7042
@jridgewell  Understand, this program is indeed difficult to solve and will result in more useless data in publisher's database, i think it's a good way to let publisher to organize the database after a period of time, clear data that has not been manipulated for a period of time, for example, one year!

[2017-01-18 09:17] semiromid commented on #7056
I use OC Windows 8.1
I use Chrome. v 55.0.2883.87 m

i use
[](https://jsbin.com/vakumemevo/1/edit?html,output)

Если мы используем мы используем в настольной версии браузера:
If we use, we use the desktop version of the browser:
http://imgur.com/a/JdqHl

Если мы используем мобильную версию браузера:
If we use a mobile version of your browser:
http://imgur.com/a/mcu8Z

You not see maybe you not rel

[2017-01-18 09:43] jasti commented on #6597
@cramforce We didn't test the reverse case, but we did test the sticky to appear as soon as possible and it ranked really high.
As long as the ad itself doesn't cause screen jank, we should definitely try this.
@aghassemi would you be able to take a stab? (Request ad after first scroll stops immaterial of page length).

[2017-01-18 12:51] taymonbeal commented on #7038
This isn't currently documented anywhere. The place to put it would be either Brad's implementation guide or the A4A spec for ad networks (which is still in the works). Unless there should be an additional source of A4A documentation apart from those?

[2017-01-18 14:05] bradfrizzell commented on #7038
That guide is not public yet, no. I can add this to the guide. I would like to go through it again before it becomes public and make sure that all of the terminology matches the terminology guide now that it is nailed down.

[2017-01-18 16:03] cramforce opened #7086 "Include all link relations in documentLoaded message to viewer"
Viewers would like to display the correct favicon for a given page they display. For that we'd need to send up the `<link rel=icon>`.

I think it makes sense to generalize this and to just send up a map of relations that map all link tags to their `rel` value (split by space) and href.

CC @chenshay

See b/34356674 for viewer changes at Google.

[2017-01-18 16:24] codersaiful commented on #2413
issue found....

[2017-01-18 16:35] ericfs commented on #7086
Related #7058

[2017-01-18 16:46] cramforce commented on #7086
Ah :) @muxin: Did you already start working on this?

[2017-01-18 16:54] johnfisherman commented on #6754
Hey guys, just a quick heads up to remind you this attribute is not yet included in [the official documentation](https://www.ampproject.org/docs/reference/components/amp-lightbox), online.

I needed this and had to google my way to the PR.

[2017-01-18 17:09] aghassemi commented on #6754
@johnfisherman Thanks, will update the docs soon.

[2017-01-18 17:34] #7050 closed

[2017-01-18 17:41] #7075 closed

[2017-01-18 17:54] gilbermudez opened #7088 "Status on Google Tag Manager implentation in AMP"
Hello everyone.

I juts want to ask about implementantion of GTM in AMP.

If theres already an oficial way to implement it, could you share us an example or link. If it isn't, could you tell us how the progress is going or it will be integrated to the AMP-ANALYTICS tag?.

Thank you.

[2017-01-18 17:56] cramforce commented on #7088
It is supported. See announcement in https://analytics.googleblog.com/2016/10/google-tag-manager-giving-mobile.html

[2017-01-18 18:18] lannka commented on #7088
we should probably mention this in `amp-analytics.md` @avimehta @rudygalfi

[2017-01-18 18:24] jridgewell commented on #7045
/to @avimehta

[2017-01-18 18:27] jridgewell commented on #7086
@cramforce: @muxin has https://github.com/ampproject/amphtml/pull/7078 already. @muxin, can you extend to support all link tags?

[2017-01-18 18:35] jridgewell commented on #5799
@adewale: #6688 was submitted, but stalled. Pinged on that PR.

[2017-01-18 18:39] jridgewell commented on #2277
Reopened our internal issue.

[2017-01-18 18:40] avimehta commented on #7088
@gilbermudez You should see AMP as one of the options when you are creating a new account.

Here are some docs for GTM/AMP:
Start:
https://support.google.com/tagmanager/answer/7086920?hl=en . This page also has a bunch of other links for more info.

Setup:
https://support.google.com/tagmanager/answer/6103696

[2017-01-18 18:40] jridgewell commented on #7046
/to @mkhatib

[2017-01-18 18:49] #7072 closed

[2017-01-18 18:51] #7047 closed

[2017-01-18 18:52] jridgewell commented on #7044
/to @camelburrito I'm able to reproduce https://github.com/ampproject/amphtml/issues/5730 again.

[2017-01-18 18:52] camelburrito commented on #7056
Dupe of https://github.com/ampproject/amphtml/issues/6243

Fix should be live with tomorrow's release.

[2017-01-18 18:52] #7056 closed

[2017-01-18 19:14] aghassemi commented on #6597
Alright, let's put it behind an experiment flag and take it from there. This is definitely a balancing act between UX and revenue. Needless to say, we care about both.

[2017-01-18 19:16] avimehta commented on #6031
I think this use-case sounds fair. The problem I see is related to expansion of values in the object structure. Currently, all variables are either strings with variables in `${variableName}` format. With this request, we'll have to traverse through the object and expand each of the values(/keys?). Actually making the data to be sent in post body is fairly simple.  @nickveenhof @emphaticsunshine d

[2017-01-18 19:33] erwinmombay commented on #6985
looking

[2017-01-18 19:53] jpettitt commented on #7088
It should be pointed out that GTM for AMP and regular GTM are very different things.  The AMP version just lets you automate, in a rather limited way, other amp-analytics tags.  It doesn't allow 3p JS like the regular GTM.

[2017-01-18 20:03] joshcp commented on #4771
@ericlindley-g @chenshay it would be great to have broad support for different types of content. For example, the ability to include a form for submitting product reviews.

[2017-01-18 21:02] rudygalfi commented on #6031
This isn't high on our own stack ranking right now, but we'd very much welcome a PR to add this capability.

[2017-01-18 21:40] nickveenhof commented on #6031
We started working on making our basic analytics to work with GET requests, as we had no understanding of the work required to get this change in. Making the actual technical change is one thing, getting it in so that we can benefit from it in production is a whole other beast I assume :-)

[2017-01-18 21:42] muxin commented on #7086
I'll start working on it by including the link tags map info into `document-info-impl.js`.

[2017-01-18 21:49] dvoytenko commented on #7046
@dignustech Do you have a sample link? The most likely explanation is that the list is not allowed to be resized initially, but later allowed due to user action. The resizes are restricted based on whether runtime believes the resize will be disruptive - i.e. will jump UI while it's in the viewport. This can be dealt with by giving a good initial estimate of the size using `layout/width/height` at

[2017-01-18 21:54] #6004 closed

[2017-01-18 22:21] jpettitt commented on #7058
Ah, the canonical will yield very misleading results if you plan to use if for branding and or content identification.   The canonical references the original source of the content not the page.  Example we have papers who syndicate articles from other papers in the group, say a Sac Bee article running under the Fresno Bee brand - if you use the canonical (Sacramento Bee) url rather than the sourc

[2017-01-18 22:25] #6782 closed

[2017-01-18 22:29] erwinmombay opened #7094 "Meeting Notes 2017-01-17"
# 2017-01-17

@dvoytenko:
*   Fixes in iframes, forms, amp-list, amp-pixel
*   Ongoing work on analytics
*   Static layout
*   Viewer messaging
*   Launch of Playbuzz, Apester and LaterPay

@abeck000
*   focus on amp start launch site layout, interactions, navigation
*   Meet with dev to go over progress and figure out what needs tweaking
*   Tweak designs of baseline templates in production (repo

[2017-01-18 22:31] jridgewell commented on #7058
@jpettitt: Canonical for the AMP doc should be the Sac Bee's rebranded article, which should have a canonical to the Fresno Bee. Maybe we should clarify that https://github.com/ampproject/amphtml/blob/eda679bb3ca77908cb0cfb40e3fee91f0da4a37d/spec/amp-html-format.md#canon?

[2017-01-18 22:47] megankj commented on #7047
Thanks for catching this @gslsouza! FYI, the fix for this bug is now viewable in the dev-channel and will be fully live tomorrow.

[2017-01-18 23:04] avimehta commented on #6031
also, if you are willing to risk it, you can serialize the json object, use the variable replacement on that. The request will look something like this:

`%7B%22touch_identity%22%3A%22${someVariable}%22%2C%22identity%22%3A%22${otherVariable}%22%2C%22identity_source%22%3A%22email%22%22captures%22%3A%5B%7B%22event_name%22%3A%22ContentView%22%2C%22event_source%22%3A%22web%22%2C%22event_date%22%3A%22$

[2017-01-18 23:48] lannka opened #7096 "[amp-analytics] Should transport be pub's choice? vendor's choice? or AMP's choice?"
We now let analytics vendors specify a default config like this:
[code]
Since publisher can override this, hence the transport is really **pub's choice + vendor's choice**.
It causes a small problem when publisher overrides with `xhrpost=true` but vendor does not support it.

The fundamental problem is: the transport should rather be **AMP's choice + vendor's choice**. Why would pub even care what

[2017-01-18 23:50] adelinamart commented on #6790
Closing this since no new activity. @remy feel free to re-open if you have new feedback. Thank you!

[2017-01-18 23:50] #6790 closed

[2017-01-19 00:04] avimehta commented on #7096
I don't think this and #6031 are related. #6031 can be solved by making request entries as object types and adding a body attribute. See https://docs.google.com/document/d/1XMH7esT49_T1NUmwoJK44WL_Oa8HdyddyDTwgx1BG60/edit?ts=5775acf9 (internal doc) for details.

Also, transport can be pub's choice as well. When a pub has an in-house analytics solution, they need to be able to specify what transpor

[2017-01-19 01:41] jpettitt commented on #7058
Whoa, that's not what every SEO article on duplicate content says.  We've always been told there should be exactly one canonical source for a content item.  What you're saying implies that canonical links can chain back to the original. We can make that change, however before I do can you confirm, officially on behalf of Google,  100% that there are no negative SEO implications to doing that?

[2017-01-19 04:53] jaspersorrio opened #7100 "Amp Carousel slides mode awkward padding"
Amp Carousel has an awkward padding for images in slides mode in Chrome. This prevents the image from being full width. This effect is desired in mobile pages.

## How do we reproduce the issue?

1. Go to a Windows Computer & open Google Chrome
2. Go to https://ampbyexample.com/components/amp-carousel/
3. Go to type slides under basic usage
4. Image has unexplained border/padding.

## What browser

[2017-01-19 06:38] jpettitt commented on #6714
The fix for the Chrome bug has been committed and was in the canary version 57.0.2979.0 as of 2017-01-12

[2017-01-19 08:03] jaspersorrio commented on #7100
I found out why the images are not filling on chrome but on IE.

This is because [IE doesn't support object-fit](http://caniuse.com/#feat=object-fit).

object-fit was added in this commit. c00ee3c66ed2127aaa8a52b4c9fcb06dff1ff30c

@amphtml-team May i ask, why do we add a default object-fit?

[2017-01-19 08:13] ithinkihaveacat commented on #5799
Making some progress on the PR.

One thing I'm wondering about is whether it's going to be difficult to [fulfill the requirements for enabling origin trials](https://github.com/jpchase/OriginTrials/blob/gh-pages/developer-guide.md#how-do-i-enable-an-experimental-feature-on-my-origin) on the various AMP origins and caches. Since `<meta http-equiv="">` is invalid AMP, `Origin-Trial:` headers need to

[2017-01-19 09:15] pubgalaxy opened #7101 "Supported Ad Networks - adding a network"
Hi,

PubGalaxy has been supporting ads in AMP for a while now and I am trying to figure out what we need to do get in the list of supported Ad Networks:
https://www.ampproject.org/docs/reference/components/amp-ad
and supported platforms:
https://www.ampproject.org/learn/who/

Is submitting it as an issue enough or do I need to do something else? I am really sorry if this is not the right place to

[2017-01-19 09:59] mubeentauni opened #7102 "Does AMP support Angular2?"
## Does AMP support Angular2 ?

I wanted to ask that i have a website build using Angular-2 cam AMP support websites build on angular 2 ? If Not, then is there any alternative out there for AMP ?

[2017-01-19 10:30] chriswheeler commented on #2793
I've just come across this Issue after some confusion too. The error specifically mentions `head > style : boilerplate - old variant` when it isn't referring to the boilerplate `style` element at all. The real error is that a `style` element is being used without either `amp-boilerplate` or `amp-custom` attribute.

[2017-01-19 11:30] kamtschatka opened #7104 "Intent to Implement: amp-analytics support for dynatrace"
We are planning to implement amp-analytics support for dynatrace.

[2017-01-19 16:35] ayumihamsaki opened #7105 "(3 Things) 1. Question, 2. Error: On ampbyexample and 3 Suggestion"
1. Question: Are we allowed to async loading fonts? For example:

Without async:
`<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet" type="text/css">`

With async:
`<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet" type="text/css" async>`

Because Google PageSpeed Insights says "Eliminate render-blocking

[2017-01-19 18:04] Gregable commented on #2793
@chriswheeler , #4421 is probably the right bug to track this. Since it's taken us longer than I originally anticipated to retire the old boilerplate, it may be worth spending some effort to improve these errors.

[2017-01-19 18:09] Gregable commented on #7105
The answer to the first question is: no, async is not allowed on external stylesheet tags. I don't know if this should be the case or not, however @cramforce

Someone else will need to help out with the other two.

[2017-01-19 18:41] jridgewell commented on #5799
/cc @Gregable. Can we allow `<meta>`s in this case? Or, can the cache also send whatever `Origin-Trial` headers the source page sends?

[2017-01-19 18:43] cramforce commented on #7058
This is, uhm, interesting. Google Search e.g. already redirects the viewer URLs to the "canonical" of the page.

With larger context (also native sharing in browser), I think supporting `<link rel=share>` to be explicit about what URL a publisher wants shared would be good. How do people feel about that as taking precedent over the canonical?

@ericfs I'm wondering: Don't you typically have this i

[2017-01-19 18:46] Gregable commented on #5799
We allow some specific variants of `<meta http-equiv=...>`, but we can't blanket allow them. For example, you can change the document encoding to something other than utf-8 with an http-equiv parameter. Is there a more specific rule we can add?

[2017-01-19 18:50] jridgewell commented on #5799
Specifically, can we allow `<meta http-equiv="origin-trial" content="***">`.

If we want to be _really_ specific, we could decode the origin trial value (it's base64 encoded), parse the JSON, then assert the trial name is whitelisted.

[2017-01-19 18:52] ericfs commented on #7058
Yes, but not necessarily in every case.

Using rel=share to explicitly specify the sharing URL seems like a good idea.

[2017-01-19 19:12] ithinkihaveacat commented on #5799
I'm pretty sure the token is tied to an origin, so the cache needs to add its own token if and only if the AMP itself includes a token. (Which will be different.)

I don't think it's possible to include the token on all requests because a given trial is only supposed to be on 0.03% of all page loads or less

https://github.com/jpchase/OriginTrials/blob/gh-pages/explainer.md

[2017-01-19 19:14] jridgewell commented on #7105
@ayumihamsaki: Opened https://github.com/ampproject/amp-by-example/issues/549 and https://github.com/ampproject/docs/issues/295 for your second and third questions.

[2017-01-19 19:15] muxin commented on #7086
Would there be multiple `link[rel=prefetch]`, `link[rel=preload]`, `link[rel=preconnect]`? Do we really need to send these info up?

[2017-01-19 19:16] ericlindley-g commented on #7100
/to @camelburrito

[2017-01-19 19:17] muxin commented on #7086
Or when the `documentLoaded` message is sent, those link tags haven't been added to the head?

[2017-01-19 19:18] camelburrito commented on #7100
@jaspersorrio - did you try using layout=responsive on your slides (the individual slide elements)?

[2017-01-19 19:29] jridgewell commented on #5799
Ohh, yah. We could apply for our own share origin trail on the CDN, then strip the origin trails when we ingest.

Hmm, I hadn't heard of that. Looks like it's across all (whole internet) pages, though?

[2017-01-19 19:36] cramforce commented on #7086
Lets filter these. It would be OK for them to be in the data, but because transfer isn't free we can drop them. Soon, there will be more of those in the doc from the server side.

[2017-01-19 19:37] dknecht commented on #7086
What is being added server side?

On Thu, Jan 19, 2017 at 7:36 PM Malte Ubl <notifications@github.com> wrote:

[2017-01-19 19:40] cramforce commented on #7086
@dknecht We will add `dns-prefetch/preconnect` for the sub resource domains like `randomcdn-com.cdn.ampproject.org`.

[2017-01-19 19:47] jridgewell commented on #7104
/to @avimehta

[2017-01-19 19:48] jridgewell commented on #7102
Do you mean directly on an AMP page? If so, no, AMP does not support using Angular or any other JS library.

[2017-01-19 19:48] #7102 closed

[2017-01-19 19:49] jridgewell commented on #7101
/to @jasti, @lannka. They'll be able to guide you through getting PubGalaxy into AMP.

[2017-01-19 19:56] muxin commented on #7086
@cramforce OK.

[2017-01-19 20:02] muxin commented on #7086
@ericfs About the naming for the link tag map (key is the `rel` and value is the `href`), is `linkRels` OK? It will be like:
[code]

[2017-01-19 20:09] ericlindley-g commented on #6973
Interesting — can't repro in Mac/desktop/Chrome mobile emulator, but can repro on iPhone 6s / iOS 10 / Chrome at [this link](https://www.google.com/amp/s/amp.theguardian.com/world/live/2017/jan/19/donald-trump-inauguration-ceremonies-live-news) (or any live blog)

Before scroll:

<img width="407" alt="screen shot 2017-01-19 at 12 03 58 pm" src="https://cloud.githubusercontent.com/assets/16807766/2

[2017-01-19 20:09] keepitsimple commented on #5225
@dvoytenko I checked in the releases. And it looks like the feature must be available by default. But it doesn't work for me
`<button class="btn btn-default circle nob" on="tap:AMP.goBack"><span class="domicon domicon-arrow-long-left t5"></span></button>`

[2017-01-19 20:16] Rashuoo7 opened #7109 "amp-facebook not working"
I can't find the solution to run this code present here by you [Here](https://github.com/ampproject/amp-by-example/blob/master/src/20_Components/amp-facebook.html) about amp-facebook tag. I found that this code is not working. Please help me find a solution regarding the issue.
                                                       Thanks!

[2017-01-19 20:28] ericfs commented on #7086
lgtm

[2017-01-19 20:29] jridgewell commented on #5225
@keepitsimple Can you open another issue with a page that reproduces?

[2017-01-19 20:35] jridgewell commented on #7109
We need a page that produces the error to be able to help.

[2017-01-19 20:45] Gregable commented on #4255
This has been in the backlog for some time, so I took a look at implementing it. It requires some new code to the validator, nothing major, but it can't be implemented as a rules only change.

I also tried to find some examples of pages in the wild that would actually fail. I sampled 10,000 AMP documents that also contained both `amp-list` and `template` tags, and didn't find a single one where th

[2017-01-19 21:02] honeybadgerdontcare commented on #6992
I'll take this on for validator and AMP Cache.

@dknecht FYI

[2017-01-19 21:43] #6760 closed

[2017-01-19 21:56] cramforce commented on #7105
Unfortunately `async` on `<link>` isn't a thing yet. AMP actually forces async stylesheets at runtime, when they take longer than 3 seconds. If PageSpeed really means the link tag, it is simply wrong.

Having said that, @Gregable we can start allowing async on link. It is supposed to come to Chrome at some point in the future and certainly doesn't hurt.

[2017-01-19 21:59] cramforce commented on #5799
Lets definitely allow `<meta http-equiv="origin-trial" content="***">` in the validator.

[2017-01-19 22:15] mkhatib opened #7112 "Implement Var Sub in amp-form origin limitation"
Similar to var-subs in anchors, amp-form should limit var-subs to the publishers origin action.

[2017-01-19 23:53] aghassemi commented on #6912
fixed by https://github.com/ampproject/amphtml/pull/7110

[2017-01-19 23:53] #6912 closed

[2017-01-20 01:41] AlbertWiersch opened #7115 "Validation page does not mention CSE HTML Validator option"
The validation page here:
https://www.ampproject.org/docs/guides/validate

Does not mention the CSE HTML Validator for Windows (https://www.htmlvalidator.com/) validation option. It would be good to mention that this validation tool is also available to validate and check AMP documents.

[2017-01-20 08:24] 1987yama3 commented on #6230
/to @avimehta Please tell me that above things...

[2017-01-20 08:55] mmicael1 opened #7118 "Request for amp-form and extended template reference by id"
As it is done in amp-list, allow amp-form to select an extented template like this
[code]

[2017-01-20 10:06] mubeentauni commented on #7102
As you said directly i cant but can achieve this in some other way possible ? @jridgewell
Thanks!

[2017-01-20 13:48] mmicael1 commented on #6104
@camelburrito  any progress to use more than one sidebar ?

[2017-01-20 15:15] przemyslaw-piatek opened #7119 "amp-form submission breaks in several browsers, including Edge 13, 14, IE 11, Safari 10"
amp-form submission breaks in several browsers.

## How do we reproduce the issue?
Problem noticed on a private website, nevertheless it also exists on other amp-form powered websites, most prominently in the examples provided by the Project itself:
https://ampbyexample.com/components/amp-form/preview/

1. Submit the form in the bottom of the page.
2. Observe an error being thrown in the console:

[2017-01-20 15:54] nhstephan opened #7120 "Default social share icons blocked."
The default social share icons are blocked by the content-security-policy over https:

`Refused to load the image 'data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org…%20344.2zM384.4%20307.8l-64.4-64.4%2064.4-49.3V307.8z%22%2F%3E%3C%2Fsvg%3E' because it violates the following Content Security Policy directive: "img-src *".`

[2017-01-20 17:10] eike-hass commented on #4626
@dvoytenko is there any news regarding this issue?

[2017-01-20 17:16] ryanpoplin opened #7121 "Unable to test AMP Viewer in Pre-Production"
## Short description of your issue:

Currently, there's not way for developers working with Google AMP to test their articles in pre-production within an AMP Viewer.

## Summary of issue:

Respectfully, this tool (to my current knowledge and please correct me if I am incorrect) is not available to developers: a local testing sandbox for viewing AMP articles pre-production within an AMP Viewer sand

[2017-01-20 18:02] ayumihamsaki commented on #7105
Many thanks for all your replies,...

I think everything is answered now with regards to these three things.

My conclusion to async <link> is to wait until it has been added to the spec, because it is displaying an error in the validator, see here:

![amp2](https://cloud.githubusercontent.com/assets/17784082/22159813/95a6b44e-df3a-11e6-8f42-a90ac753923f.png)

I think I will close this now.

[2017-01-20 18:13] Gregable commented on #7115
Hi @AlbertWiersch

It's great to see more tools supporting AMP Validation. However, I don't see that doc as attempting to enumerate all such interfaces. It exists to provide references to a few such interfaces maintained as part of the AMP open source project.

[2017-01-20 18:13] #7115 closed

[2017-01-20 18:21] cramforce commented on #7105
We can actually add it in AMP. It'll be a noop in browsers for now, though.

[2017-01-20 18:24] ithinkihaveacat opened #7122 "Allow <meta http-equiv="origin-trial" ...> in AMPs"
As per @cramforce's https://github.com/ampproject/amphtml/issues/5799#issuecomment-273911981, make

[code]

valid AMP.

## Actual

[code]

is invalid AMP.

## Expected

[code]

is valid AMP.

/cc @Gregable

[2017-01-20 18:30] ithinkihaveacat commented on #5799
Yeah, the `<meta>` approach seems superior if the validator can be changed to allow it.

Provided Chrome is fine with multiple tokens for the same trial on the same page (in the process of testing this), this would mean that the cache won't have to transform AMPs to make origin trials work, and it will also allow origins to control where the native share option appears (on origin, on cache(s), or

[2017-01-20 18:35] Gregable commented on #7105
Yes, we'll add the `async` attribute.

[2017-01-20 19:19] AlbertWiersch commented on #7115
Hi @Gregable,

I'm not saying it needs to or even should enumerate everything, but I think it would still be helpful to both AMP developers and to tool creators (like my small software company) to mention CSE HTML Validator somewhere (even though it's not part of the AMP open source project) simply as another option available for checking the quality of AMP pages. I hope you will reconsider.

[2017-01-20 19:22] camelburrito commented on #6104
@ericlindley-g - can we prioritize this?

[2017-01-20 19:26] km-newsday commented on #6454
I am implementing amp-app-banner (a wrapper and minimal UI for a cross-platform, fixed-position banner showing a call-to-action to install an app) element on AMP pages.

There is this comment from Dec. 15, 2016 on following page.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-app-banner/amp-app-banner.md

(Dec. 15, 2016) Note: We have discovered an issue with going into the holid

[2017-01-20 19:36] mkhatib commented on #6454
@km-newsday unfortunately we still haven't fixed this on iOS, so if the app is not installed it won't redirect to the appstore.

We're still working on an implementation to fix this, no ETA yet.

[2017-01-20 19:51] km-newsday commented on #6454
Thank you Mohammad for your quick response.

Thanks,
Kavita

From: Mohammad Khatib
Reply-To: ampproject/amphtml
Date: Friday, January 20, 2017 at 2:36 PM
To: ampproject/amphtml
Cc: Kavita Mehta, Mention
Subject: Re: [ampproject/amphtml] amp-app-banner: doesn't open itunes store (#6454)

@km-newsday<https://github.com/km-newsday> unfortunately we still haven't fixed this on iOS, so if the app is no

[2017-01-20 19:57] jridgewell commented on #7102
You can do a progressive web app, but that does not affect the AMP document itself. PWA essentially allows you to control the presentation of an iframe, and the iframe loads the AMP doc.

[2017-01-20 20:01] jridgewell commented on #6230
@1987yama3: This has not been added yet. See https://github.com/ampproject/amphtml/issues/6230#issuecomment-261391475.

[2017-01-20 20:21] jridgewell commented on #7121
/to @rudygalfi
/cc @cramforce

[2017-01-20 20:31] jridgewell commented on #7120
You have to add the `data:` scheme to your CSP:

[code]

Or, you can set the `default-src`:

[code]

[2017-01-20 20:31] #7120 closed

[2017-01-20 20:35] jridgewell commented on #7118
/to @mkhatib

[2017-01-20 20:38] jridgewell commented on #7119
/to @mkhatib. Might be serious.

[2017-01-20 20:43] cramforce commented on #7121
There is https://search.google.com/search-console/amp

We're looking at extending it to work with non-indexable content.

I'd definitely be in favor of providing a slightly lower fidelity option (not actually the Google Search viewer) that works locally. We actually have something like that in the repo, would just need to polish it up a bit.

[2017-01-20 20:44] ryanpoplin commented on #7121
Yes, non-indexable content testing on AMP would be fantastic.

[2017-01-20 20:49] randallbpotter15 commented on #7121
@cramforce Non-indexable meaning behind a firewall aka "not publicly accessible?"
That's what we are after.  Our lower environments wouldn't be available without a VPN and we wouldn't spin up a "pseudo-prod."

Our main goal is to have a sandbox viewer option that we can run code against that is an exact 1 to 1 match for the viewer that will be production.  Meaning that all of the styles, re-parent

[2017-01-20 20:58] cramforce commented on #7121
@randallbpotter15 https://search.google.com/search-console/amp will require the file to be on the internet.

@rudygalfi @dvoytenko lets look at making a local viewer available using our demo code.

[2017-01-20 21:30] mkhatib commented on #7119
This was broken by this change:
https://github.com/ampproject/amphtml/pull/6929/files#diff-4f7d7ef94609d4d079c3fde230f0d924R280

It looks like our `FetchResponse` implementation to polyfill Fetch API might be slightly off.

Doing response.json() inside the success then block access the `responseText` which throws the `InvalidStateError` - still not sure exactly why.

[2017-01-20 21:34] jridgewell commented on #7119
Woo, not a prod bug then, just canary.

[2017-01-20 21:54] jridgewell commented on #7119
I stand corrected. Issue came from https://github.com/ampproject/amphtml/pull/6958, and we're rolling back to the previous prod version.

[2017-01-20 22:07] #6159 closed

[2017-01-20 23:43] muxin commented on #7086
@ericfs @cramforce Should all the link href be transformed to absolute path?

[2017-01-20 23:55] honeybadgerdontcare commented on #6992
This is now on [github](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L2624), but not in PROD yet. For AMP Cache we strip `nonce` attributes everywhere.

[2017-01-20 23:55] #6992 closed

[2017-01-21 00:01] dandv opened #7141 ""Learn more" link in the AMP Conf banner is hard to click"
The "Learn more" button in
![image](https://cloud.githubusercontent.com/assets/33569/22169518/849713d0-df29-11e6-86dd-647e1ce277d7.png) actually contains a link, and the link's clickable area is about 1px vertically.

Chrome 55 on Ubuntu.

[2017-01-21 03:25] aghassemi opened #7143 "iframed integration tests should get the IosEmbed not the Natural viewport binding"

[2017-01-21 04:00] jaspersorrio commented on #7100
Yes i have tried using layout=responsive & layout=fill.

I just realised that the bug only happened in Windows Chrome and Firefox. It works fine on a mac.

[2017-01-21 05:06] camelburrito commented on #7100
This is a dup of https://github.com/ampproject/amphtml/issues/6243

[2017-01-21 05:06] #7100 closed

[2017-01-21 06:03] cramforce commented on #7086
Doesn't reading `.href` do that?

On Fri, Jan 20, 2017 at 3:43 PM, Yuxi Chen <notifications@github.com> wrote:

[2017-01-21 07:31] jaspersorrio opened #7144 "Flexbox align-items breaks amp-image"
## Short description of your issue:

Using the css property align-items in a flexbox column breaks the amp-image.
Why is this happening?

## How do we reproduce the issue?

1. Go to https://jsbin.com/kuhatoyoye/edit?html,output
2. Go to section Layout column, Align: center(x) center(y)
3. amp-image disappears.

## What browsers are affected?

Only tested on:
Mac Safari Version 10.0.1 (12602.2.14.0

[2017-01-21 13:19] robertoaleman opened #7145 "BUG, AMP cause page with Error 404"
## Short description of your issue:The AMP plugin try generate the Attachament Photos at AMP valid page, this cause a Error 404 in crawl for Google

## How do we reproduce the issue?
Example:

without AMP
http://www.notiactual.com/comer-piedras-gaceta-decreto-reserva-50-la-produccion-agricola-los-clap/gaceta-oficial-41005-1/

with AMP, error 404
http://www.notiactual.com/comer-piedras-gaceta-decre

[2017-01-21 18:44] sirdarckcat commented on #6992
Sorry, just noticed this thread.

To answer @cramforce - adding a nonce attribute to the whitelist is fine. That said, since AMP docs are so heavily cached, CSP nonces as defense in depth are quite useless :-). The current whitelist approach is safer.

Mixing both (nonces and whitelists) would be fine, but seems like an overkill and wouldn't provide any real security value.

[2017-01-21 18:58] sirdarckcat commented on #6992
@aidantwoods - I guess people can hack something up with filters like what was done with nginx or modsecurity, but domain-wide policies in the traditional form are incompatible with nonces (because well, the policy is different for every response).

That said, I get that your goal is to allow a site to use CSP nonces without much effort, and I think that's fair, and I agree it doesn't make much se

[2017-01-21 19:45] aidantwoods commented on #6992
Oh hey there again @sirdarckcat, small world ;-)

Yup, there is that. Still, adding the nonce in late can be [pretty easy](https://scotthelme.co.uk/csp-nonce-support-in-nginx/) to get set up.

Mainly this issue was to make use of `'strict-dynamic'` at least compatible with AMP (which is likely a better approach for most sites to adopt – unless they're going to vet their whitelist properly).

I'd a

[2017-01-22 04:07] jpettitt commented on #7144
Similar things happen if you float an `amp-img` that is set `layout=responsive`

[2017-01-23 07:02] bhansa opened #7149 "https://ampbyexample.com/components/amp-mustache/ -- 404 PAGE NOT FOUND"
[amp-mustache](https://ampbyexample.com/components/amp-mustache/) link is broken

## What browsers are affected?

All browsers

[2017-01-23 09:42] wisc opened #7151 ""title" attribute not added to <img> tag"
When using amp-img the alt attribute is added, but not the title attribute, which leads to a different UX on mobile, where holding the image pressed shows the title if present, otherwise the alt. By definition the title attribute does not have the same purpose as alt, so both should be present imo.

## How do we reproduce the issue?

I have an example here: https://consolia-comic.com/

The main im

[2017-01-23 12:33] SteffenAnders commented on #5234
@jasti @lannka

Hi guys,

here is the PR which contains the support for ```renderStart``` and ```noContentAvailable``` for adup-tech ads => https://github.com/ampproject/amphtml/pull/7152

[2017-01-23 15:46] #7045 closed

[2017-01-23 16:43] cramforce opened #7154 "Add integration test for XHR form submission"
Or alternatively: Whitelist the XHR unit test (which is really an integration test since it talks to a real server) to also run in our extended browser suite.

Should have detected #7119

@aghassemi Thoughts on extending multi-browser to some unit tests?

[2017-01-23 16:51] aghassemi commented on #7154
Getting all unit tests pass on all SauceLab environments will be a lot of work but the whitelist approach is sensible and doable. Two things we should do:

1- Whitelist of unit tests that pass on all SauceLab environments.
2- Whitelist of SauceLab environments where all unit tests pass (https://github.com/ampproject/amphtml/issues/6039)

[2017-01-23 16:59] cramforce commented on #7154
@aghassemi I think we can do

1. Make it so we can have a whitelist
2. Start selectively whitelisting
3. See how things go
4. Switch to blacklist

[2017-01-23 17:22] Gregable commented on #7122
This is resolved, but will take a few weeks until it's released. We will update the issue again at that time.

[2017-01-23 17:22] #7122 closed

[2017-01-23 17:23] Gregable commented on #7105
The async attr is allowed, but will take a few weeks until it's released. We will update the issue again at that time.

[2017-01-23 17:23] #7105 closed

[2017-01-23 17:24] Gregable commented on #6992
The `nonce` attribute is now supported on `<script>` and `<style>` tags, but will take a few weeks until it's released. We will update the issue again at that time.

[2017-01-23 17:28] aghassemi commented on #7154
sgtm

[2017-01-23 17:36] rudygalfi commented on #2198
@avimehta Any updates on this?

[2017-01-23 18:03] jridgewell commented on #2198
Closed by https://github.com/ampproject/amphtml/pull/6560.

[2017-01-23 18:16] choumx opened #7156 "Remove amp-bind experiment after launch"
Related to #6199.

[2017-01-23 18:23] RJSumi commented on #6530
Is this likely to get any traction soon, or is this infeasible?

[2017-01-23 18:41] jridgewell commented on #6530
A few things this requires:

- [ ] Initial document heigh in `documentLoaded`
- [ ] A new ping every time an element resizes

Alternatively, we could allow the viewer to request the height, but it'd be a little less performant. @muxin or @chenshay, would you like to take this?

[2017-01-23 18:47] cramforce commented on #6530
@RJSumi Do you need resizes?

[2017-01-23 18:50] faelgabriel opened #7158 "AMP cache is changing the sprite image dimensions"
AMP cache is changing the sprite image dimensions.
I searched and did not find any related problems, also I did not find any documentation related.

Original image: https://www.reservationcounter.com/application/themes/twig_theme/default/images/global.png

AMP cache image: https://cdn.ampproject.org/i/s/www.reservationcounter.com/application/themes/twig_theme/default/images/global.png

That image

[2017-01-23 19:50] ericlindley-g commented on #4771
/cc @abeck000

[2017-01-23 20:00] rjvelicaria opened #7159 "Intent to Implement: advance bidder support for OpenX amp-ads"
## Overview
OpenX will add a support to use their advance bidder implementation in their amp-ad while keeping the original (standard) to provide a smooth transition for users.

[2017-01-23 20:02] aghassemi opened #7160 "SauceLabs iOS similator can not play YouTube"
YouTube does not work at all in iOS simulators from SauceLabs. (not AMP-specific, starting a manual SauceLabs iOS simulator and going to youtube.com results in the same problem).

This means we have to disable YouTube video integration tests on iOS. Fortunately amp-video integration tests work, so that combined with the fact that amp-youtube integration tests run on other browsers gives us enough

[2017-01-23 20:13] ayumihamsaki opened #7161 "AMP HTML Design Flaw"
Hi everyone,

I have a real issue with amp html and want some advice.

I have a PWA website for my Desktop and Tablets Users and I am halfway through building a custom AMP website for my Mobile Users.

Call me old fashioned if you like. But I value User Experience a lot! I really don't think it's a good idea to have a user on a mobile device load your AMP website and then click a link which moves

[2017-01-23 20:14] lannka opened #7162 "[amp-analytics] visible time is accumulated even when the page went to background"
This is an issue in both visibility-v1 and visibility-v2.

@avimehta @dvoytenko

[2017-01-23 20:35] bjalford opened #7163 "How to specify DFP responsive ad sizes"
Trying to find documentation or an example of how to implement an amp-ad component so that it bring in the correct sizes for a given viewport size (728x90 on desktop and small sizes when less than 728px wide (I'm testing AMP across mobile and desktop). Any pointers?

[2017-01-23 22:00] avimehta commented on #2198
sorry. Reopening. The feature is behind a flag and needs to be turned on.

[2017-01-23 22:10] muxin commented on #6530
@jridgewell For the first bullet point, do you mean measuring the document height when we're about to send the `documentLoaded` message?

[2017-01-23 22:11] a701440 commented on #2047
Still get errors: Attribute color not allowed on element link at this point.
<link rel="mask-icon" href="/pinned.svg" color="#FF690F" />

https://yoast.com/dev-blog/safari-pinned-tab-icon-mask-icon/

[2017-01-23 22:17] jridgewell commented on #6530
Yup, it should be available pretty early in `Viewport`.

[2017-01-23 22:28] muxin commented on #6530
So when we're about to send `documentLoaded` message, we should have built every element so it's a good time to measure the document height?

[2017-01-23 22:34] Gregable commented on #2047
It works for me. Do you have an example document that is failing validation?

[2017-01-23 22:42] #7119 closed

[2017-01-23 22:48] jridgewell commented on #7163
/to @jasti

[2017-01-23 22:54] jridgewell commented on #7159
/to @jasti

[2017-01-23 22:59] jridgewell commented on #7158
Internally tracking at b/34625483.

[2017-01-23 23:00] jasti commented on #7163
@lannka can you add media queries to only trigger a certain amp-ad wxh depending on the device?

[2017-01-23 23:07] jridgewell commented on #7151
Thanks for the bug! Do you want to do the fix for it (it's super easy, just adding `title` to the [list](https://github.com/ampproject/amphtml/blob/49f80f9/builtins/amp-img.js#L27-L28) and [test](https://github.com/ampproject/amphtml/blob/49f80f9aba42fd2e5891b9bf11b5fac328c38bd4/test/functional/test-amp-img.js#L53-L68))

[2017-01-23 23:09] jridgewell commented on #7149
/to @pbakaus, @bpaduch

[2017-01-23 23:10] jridgewell commented on #7141
/to @pbakaus

[2017-01-23 23:11] sap1ens opened #7166 "amp-bind can't be enabled as experiment"
## Short description of your issue:

I simply can't run amp-bind extension because I can't enable it as an experiment :-/

## How do we reproduce the issue?

1. Save https://github.com/ampproject/amphtml/blob/master/extensions/amp-bind/0.1/test/validator-amp-bind.html
2. `python -m SimpleHTTPServer`
3. Open http://localhost:8000/validator-amp-bind.html
4. Try to toggle the experiment. You'll see `

[2017-01-23 23:14] jridgewell commented on #6530
No. But, AMP requires every these elements to have a defined width/height, so we should know how tall it is even if it's not built.

[2017-01-23 23:17] jridgewell commented on #7166
/to @choumx

[2017-01-23 23:20] muxin commented on #6530
@jridgewell But there are other non-amp elements, we could also measure the heights of non-amp elements at that time?

[2017-01-23 23:23] rosariomg commented on #7141
This was fixed by @erwinmombay on https://github.com/ampproject/docs/pull/296

[2017-01-23 23:27] #7141 closed

[2017-01-23 23:27] choumx commented on #7166
Thanks for the report! This was fixed by #7157 and will be available next week.

To workaround, you can use `AMP.toggleExperiment` as described here: https://www.ampproject.org/docs/reference/experimental

[2017-01-23 23:27] #7166 closed

[2017-01-23 23:28] jridgewell commented on #6530
They should already have there size by this time.

[2017-01-23 23:30] sap1ens commented on #7166
`AMP.toggleExperiment` didn't work either, but after seeing #7157 I know why - I needed to use uppercased name, `AMP-BIND`

[2017-01-23 23:32] jridgewell commented on #7145
What is the issue?

[2017-01-23 23:34] robertoaleman commented on #7145
Hello
The AMP plugin try generate the Attachament Photos at AMP valid page, this cause a Error 404 in crawl for Google

Example:

without AMP
http://www.notiactual.com/comer-piedras-gaceta-decreto-reserva-50-la-produccion-agricola-los-clap/gaceta-oficial-41005-1/

with AMP, error 404
http://www.notiactual.com/comer-piedras-gaceta-decreto-reserva-50-la-produccion-agricola-los-clap/gaceta-oficial-41

[2017-01-23 23:36] muxin commented on #6530
OK, thanks @jridgewell I can try to measure the document height for the initial height in `documentLoaded` and the updated height in every resizes.
@RJSumi In what message do you need the document height value?

[2017-01-23 23:37] jridgewell commented on #7144
@jpettitt: Is this an AMP bug then? Or the @jaspersorrio's CSS?

[2017-01-23 23:38] jridgewell commented on #7145
This is likely an [amp-wp](https://github.com/Automattic/amp-wp) issue then. Mind posting the issue there?

[2017-01-23 23:38] #7145 closed

[2017-01-23 23:41] jridgewell commented on #7161
@cramforce or @choumx?

[2017-01-23 23:55] honeybadgerdontcare commented on #7022
@dknecht and @dvoytenko here are the steps to apply the static layout to an AMP document. Let me know if something isn't clear or doesn't appear correct.

Static layout is [currently applied](https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L226) to the document by the AMP Runtime on the client. These changes apply that static layout within the AMP Cache and provide a signal

[2017-01-24 00:13] mkhatib opened #7168 "Consider relaxing canonical/source origin requirement for var subs target URLs"
`amp-form` is going to initially limit variable substitutions to kick in only if the form action is on the canonical origin, otherwise variables will not be substituted.

This is a tracking bug to consider relaxing that requirement in the future.

- Sprint H2 May: 3 done, 2 left

[2017-01-24 00:36] cramforce commented on #7161
Unfortunately this is really not a good place to ask Google Search specific questions. I have literally no idea what rich cards even are, and I don't think anyone here does. The forum at https://goo.gl/utQ1KZ is a better place.

I think my general advice would be: Do whatever you think makes sense for good UX and try to let the smart robots at Google figure it out. If you want people to stay in th

[2017-01-24 00:39] muxin commented on #6530
Messaged with @RJSumi offline, will be sending 'documentHeight' message to viewer.

[2017-01-24 01:34] JakePou opened #7170 "amp-form POST does not work on ios"
Without any changes to my website, the search form which uses XHR stopped working 5 days ago.

Just now I realized all of the POST examples on AMP-HTML's website don't work on Safari on desktop nor iPhone. Although they work on every other browser.

Replicate:
1. Browse to: https://ampbyexample.com/components/amp-form/
2. Scroll down past 1st example which uses GET and not POST All the rest do not

[2017-01-24 01:36] jridgewell commented on #7170
Likely a dupe of https://github.com/ampproject/amphtml/issues/7119, which should be fixed now. /to @mkhatib

[2017-01-24 01:43] #7064 closed

[2017-01-24 01:44] ayumihamsaki commented on #7161
@cramforce Thanks for your reply and the forum info, do you have a link for the AMP-PWA support. I don't mind doing as much research as possible.

I really wasn't sure where the right place was to ask this question/discussion being so Google specific to AMP, so can I leave you guys to close this issue when the time is right?

~Maybe some more developers might write some suggestions...? I think I w

[2017-01-24 01:45] jridgewell commented on #7170
@choumx: Please close when the new version is live.

[2017-01-24 01:47] JakePou commented on #7170
Thanks J. Do you we have ETA for when the new version will be live? Please let me know if it'll be awhile so I can create an alternative for our users. Our entire site's search feature is currently failing.

[2017-01-24 02:04] #7112 closed

[2017-01-24 02:04] cramforce commented on #7161
@ayumihamsaki on the AMP and PWA story, check out

- Check out @pbakaus' article https://www.smashingmagazine.com/2016/12/progressive-web-amps/
- And our sample code https://github.com/ampproject/amp-publisher-sample/tree/master/amp-pwa

Closing for now, but happy to give more input!

[2017-01-24 02:04] #7161 closed

[2017-01-24 07:49] atjegan opened #7174 "Google Search results on Desktop shows AMP pages"
Search for a article on Desktop browser, Google results shows shows both AMP and non AMP pages.
No validation error in the AMP Test. It has the canonical tags.

## How do we reproduce the issue?

Affected site:  tamil.boldsky.com

1. Search for "Health benefits of roots and tubers boldsky" or copy paste this URL https://www.google.com/#q=Health+benefits+of+roots+and+tubers+boldsky
 2. The first re

[2017-01-24 10:45] Adverticum opened #7175 "Amp ads served on http/https"
Hello!

We just finished our adserver integration with the amp project a few weeks ago. Our changes went live with the previous week release.
In our js file that integrates the invocation logic we are calling our invocation helper javascript.
That call is done by your writeScript method: writeScript(global, 'http://ad.adverticum.net/g3.js');
Now, the method described above is obviously not working

[2017-01-24 11:20] nickveenhof commented on #7175
If you explicitly make your URL https in your configuration (where the info is being sent to), it should work as expected. xhr https requests from within a http/https page will work. xhr http requests from within a https page will not not work.

[2017-01-24 14:43] bpaduch commented on #7149
Found two references to that link and I've submitted a pull request the docs repo - [PR 300](https://github.com/ampproject/docs/pull/300).

[2017-01-24 16:27] mmicael1 commented on #3320
Any progress ?

[2017-01-24 18:05] dknecht commented on #7022
@ampproject/cloudflare FYI

[2017-01-24 18:06] dvoytenko commented on #6530
Two challenges to keep in mind:

1. Performance is very much an issue. However, provided we can control when measurements are done and sent over, we should be able to optimize it on our side. We currently don't have 100% reliable "mutated" pings, but we have some signals that would help us to do these measurements less often. We can even try to measure height after each resources pass (with basic

[2017-01-24 18:09] dvoytenko commented on #7022
To stress - these optimizations are just low-hanging-fruit optimizations that a cache server can do. They are optional (as long as AMP runtime knows to expect them) and we can likely add more and more such optimizations in the future.

This is very experimental as we haven't yet measured the effect of such optimizations in the real world. But I expect it would be very meaningful.

[2017-01-24 18:21] dvoytenko commented on #7144
`layout=responsive` is specified to work as this: take the width allocated to the element by the parent and calculate the height in proportion specified by `width:height` attributes. If the parent allocates no space (as with flex and float) then the starting width will be 0 and thus resulting height is also 0. So this is rather how flex CSS works.

There are numerous ways to address this, e.g. usi

[2017-01-24 18:21] #7144 closed

[2017-01-24 18:22] jridgewell commented on #7170
It'll be out today.

[2017-01-24 18:28] jridgewell commented on #7144
Thanks for the answer @dvoytenko. Would adding the following to our default CSS work for a general case?

[code]

[2017-01-24 18:29] ithinkihaveacat commented on #5799
I've verified that Chrome is fine with multiple tokens for the same trial, so theoretically developers can embed two or more tokens, one for the origin, and one for each cache they care about.

The token for `cdn.ampproject.org` is:

[code]

(It's supposed to work with subdomains too.)

[2017-01-24 18:34] jridgewell commented on #5799
Can people register for Origin Trials for arbitrary domains?! Ie, does the next person who wants native share on `cdn.ampproject.org` gets that same token? Craziness.

[2017-01-24 18:58] jonkeller commented on #6900
https://github.com/ampproject/amphtml/pull/7146 fixes a few of the broken tests, but not all.

[2017-01-24 19:07] oliverfernandez opened #7184 "Prevent self-referrals in AMP pages"
Currently, when not overridden, the Viewer of an AMP page always reports as referrer `window.document.referrer`

This has the side effect that AMP-ANALYTICS always reports as referrer the previous visited site, and does not keep the original referrer of the current session when, for example, a user visits a second page.

At the end this means that a site like [AMP Project](https://www.amproject.or

[2017-01-24 19:11] dvoytenko commented on #7144
@jridgewell Unfortunately that would override the existing margins and thus almost never what's desired. We do have `layout="flex-item"` and combined with `object-fit: contain` would likely produce the best result. I think it'd make sense for us to automatically add `object-fit: contain` to all `flex-item` images automatically.

[2017-01-24 19:14] jridgewell commented on #4739
@erwinmombay: We fixed this, right?

[2017-01-24 19:17] erwinmombay commented on #4739
@jridgewell yeah should be fixed

[2017-01-24 19:17] #4739 closed

[2017-01-24 19:20] jridgewell commented on #7175
@Adverticum: You should use `writeScript(global, 'https://ad.adverticum.net/g3.js');`

[2017-01-24 19:21] #7175 closed

[2017-01-24 19:27] jridgewell commented on #7174
Internally tracked at b/34666647.

[2017-01-24 19:35] oliverfernandez commented on #7184
From Viewer service perspective is correct, my concern is from an Analytics implementation perspective.

If I'm an user that arrives to [](https://www.amproject.org) from an organic search, like Google search, AMP-ANALYTICS should report Google as referral. If the user clicks a site link, the referral is still Google, since it's still the same session, and the source of that session is still Googl

[2017-01-24 19:41] jridgewell commented on #7184
Oohhh, I think I get it now:

1. Search for [Amp By Example]
2. Click top result
3. Click any link (should cause a top page navigation, not iframe navigation)
4. In Inspector: `window.services.viewer.obj.getReferrerUrl()`

In this case, I get `https://ampbyexample-com.cdn.ampproject.org/v/s/ampbyexample.com/?amp_js_v=6` as my referrer.

[2017-01-24 19:42] lannka commented on #5918
The ad logo can be customized (e.g. for i18n purpose) via CSS.

I'm not sure what this means.

Otherwise, the work is all done. We can launch it by flipping the flag if it sounds good.
@jasti

[2017-01-24 19:45] dvoytenko commented on #7121
@cramforce Yes, local viewer is possible. To stress though - our current sample viewer is far from full-featured. Testing against a fully-featured, PROD-level viewer would be a lot better.

[2017-01-24 19:46] jasti commented on #5918
I'm not sure myself.
Sounds good to me to launch this week to canary. Thanks for the quick work on this!
CC @ericlindley-g

[2017-01-24 19:56] dvoytenko commented on #5225
@keepitsimple This should be released now everywhere. Please just ping the reproducing URL here and I'll take a look. As we discussed, at this time the navigation back is only done in the history stack of the document itself, not outside it.

[2017-01-24 19:57] mkhatib opened #7186 "Update amp-form docs to reflect stable status of custom validation"
Once new release is out with experiment launched the docs should reflect stable for custom validation.

Launch PR #7185

[2017-01-24 20:12] bpaduch commented on #7186
To clarify,"launching an experiment" means that the feature is no longer "experimental"?

[2017-01-24 20:28] dvoytenko commented on #7096
I agree. It'd be better if we disallowed pub override for vendor transport config. I can't think of any valid case where this was a needed feature. I'd think in most of cases this would be a copy-paste mistake.

[2017-01-24 20:36] Gregable commented on #4255
Closing this without any validator changes currently given how infrequent this is in the wild. If this becomes more common, I'm certainly open to making the suggested changes.

[2017-01-24 20:36] #4255 closed

[2017-01-24 20:36] ericlindley-g commented on #5918
Excited to see this roll out! Personally I've really been enjoying the experience through the experiment :)  We can think about how to extend this to other lazy-loaded UI (images, videos, embeds, iframes) after getting feedback from this ads case.

[2017-01-24 20:50] oliverfernandez commented on #7184
More information from Google Analytics regarding this [here](https://support.google.com/analytics/answer/6350128?hl=en)

What I think is that perhaps we could have a Session service, to keep a session based referral, so [url-replacement-impl.js](https://github.com/ampproject/amphtml/blob/e9349d535526f81855f2dcb2a347965cb1045427/src/service/url-replacements-impl.js) could use it instead of referral

[2017-01-24 21:25] mkhatib commented on #5210
Closing this - @camelburrito implemented `goToSlide` action on `slidescroll` that should work well with `amp-bind`.

[2017-01-24 21:25] #5210 closed

[2017-01-24 21:26] mkhatib commented on #6540
Closing this. @dvoytenko implemented `FormProxy` that should handle these cases and there are other issues to discuss banning special input names/ids.

[2017-01-24 21:26] #6540 closed

[2017-01-24 21:48] #6893 closed

[2017-01-24 23:43] ansalgado-gcorp commented on #6263
We are ramping up to test on one device.  @sadapala will append to my comment.  She is testing on Android M Stock Browser.  Do you require coverage of this issues on all API levels?

[2017-01-24 23:47] ericlindley-g commented on #6263
@dvoytenko , are you able to answer @ansalgado-gcorp 's question?

[2017-01-25 00:34] JakePou commented on #7170
Cheers @jridgewell

[2017-01-25 00:46] choumx commented on #7170
New version with fix is now live.

[2017-01-25 00:46] #7170 closed

[2017-01-25 01:13] ansalgado-gcorp commented on #6263
Video contains voice narration and explanation of the issue. We can reproduce 10 out of 10 times.

[amp_header_see_through.mov.zip](https://github.com/ampproject/amphtml/files/728376/amp_header_see_through.mov.zip)

[2017-01-25 01:46] cramforce commented on #7121
@dvoytenko I know :)

But tough to mix local resources with production code. The team is looking at a Chrome extensions, but with most bugs being mobile Safari specific that doesn't help much.

Open sourcing much of the viewer code is totally possible, we just won't be able to get that done quickly.

[2017-01-25 04:59] jridgewell opened #7192 "Investigate using Blob to render non-A4A"
Go to https://example.com/ (they have no CSP)

[code]

This might be better than the current NameFrame or SafeFrame options. No extra network connections, no need to parse anything. 😁

I've mentioned [this before](https://github.com/ampproject/amphtml/issues/5614#issuecomment-253916085). A4A is tooooooooo complicated and this could simplify it considerably.

As for the same-origin-policy restricti

[2017-01-25 05:13] cramforce commented on #7174
Not clear this is a bug (it doesn't currently repro). It is not necessarily undesired to show AMP pages on desktop. It is often temporary, though.

[2017-01-25 05:13] #7174 closed

[2017-01-25 05:31] cramforce opened #7194 "JSON addressing and caching in fetch service."
@mkhatib and I were discussing a scheme like that, which may be useful in more places:

1. Change fetch/XHR service to support fragment URLs on JSON GET requests. In particular `https://example.com/service.json#key.subkey` fetches the URL, but then returns `actualJSON.key.subKey` to the caller.
2. Cache (using a TBD strategy) the return value for `https://example.com/service.json` (ignoring the fr

[2017-01-25 12:10] JHGitty commented on #5233
+1 I really want IMA on AMP 👍

[2017-01-25 14:20] michaelkleber commented on #7192
An iframe sandbox without 'allow-same-origin' comes with some pretty onerous browser restrictions, like "All XHRs automatically fail" :-(.  See e.g. http://stackoverflow.com/questions/14486461/iframe-sandbox-attribute-is-blocking-ajax-calls for some discussion.

Are you imagining a polyfill for XHR which instead sends a postMessage to the parent, which runs a dedicated handler to proxy the request

[2017-01-25 15:42] kul3r4 opened #7201 "amp-bind carousel and default selected thumbnail preview"
I was looking at [carousel and amp-bind integration](https://github.com/ampproject/amphtml/pull/6797) while trying to add a border to a carousel image thumbnail every time the image from a carousel is shown.

When a page containing a carousel loads, the first image of the carousel will be shown and it should be possible to highlight the corresponding thumbnail.
From the pull request sample, by usi

[2017-01-25 15:42] seomaz commented on #2746
what about facebook comment, i try to put on iframe, but facebook api dont work on sandobx iframe

[2017-01-25 16:01] cramforce commented on #7192
Are blob based frames same origin as parent by default?

I tried using data URLs when building AMP's 3p frames originally. The main problem there are

- in Firefox they are same origin VS. unique origin in other browsers
- `document.cookie` access fails instead of being a blackhole which would be more useful.

So, if the cookie override works, this could be used without the `sandbox` attribute in

[2017-01-25 17:32] choumx commented on #7201
Good question!

So generally speaking, initial values can be set via `<amp-state>` component. However, during initial page load we deliberately do *not* evaluate expressions with those initial values. This is because we want to avoid changing the page after initial load without any user action (which can be strange and janky). For example, imagine an AMP page's contents dramatically changing ~1 se

[2017-01-25 17:51] jasti commented on #5233
Hey @shawnbuso - was there an update on this?

[2017-01-25 17:53] ericlindley-g commented on #6263
Got it—thanks for confirming that the issue is still present. @dvoytenko, do you have what you need to debug?

[2017-01-25 18:09] kul3r4 commented on #7201
Updating the sample will work for me, let me know once it's updated.

[2017-01-25 18:15] shawnbuso commented on #5233
No update yet, but I'm still working on it. With my other responsibilities this is only getting 10-20% of my time. Currently I'm working on fixing autoplay (which I think might be an IMA SDK issue), fully testing on mobile, and writing unit tests. Once those 3 things are done I should be ready to send out a PR. Our goal is to have this submitted by then end of this quarter.

[2017-01-25 18:24] johnnyshankman commented on #1532
@rudygalfi any update on this?

[2017-01-25 18:29] rudygalfi commented on #1532
@ericlindley-g Will AMP Bind help this (note the very related #3128)?

[2017-01-25 18:37] dvoytenko commented on #2746
@ericlindley-g Correct. Iframe would work (I believe there are cases in the wild that do that already). But we don't have the full story with login integration. Alternative here would be to add AMP extension.

@seomaz That seems like a very reasonable request for Facebook to allow their embeds to work with sandbox - this is a critically important tech and been out for a while now.

[2017-01-25 18:41] camelburrito commented on #1532
@rudygalfi @johnnyshankman , we have added a method called goToSlide which will take you to a particular slide index on tap. This should go in prod with tomorrows release and we will update the documentation.

If you are curious you can take a look at our manual test example here
https://github.com/ampproject/amphtml/blob/master/test/manual/gallery.amp.html#L54
(use it for looking at the API, this

[2017-01-25 18:41] #1532 closed

[2017-01-25 18:56] ericlindley-g commented on #1532
@johnnyshankman

As @camelburrito says, you should be able to achieve the interaction you need by using the goToSlide method to advance a single carousel in the lightbox to the image clicked from the lightbox inlined on the page.

I should note that we're also working on updates to `amp-image-lightbox` (/cc @aghassemi ), which will address your particular use-case more concisely, by allowing you t

[2017-01-25 19:16] Gregable commented on #2277
This has been fixed on the cache. New documents or documents that change and are refreshed on the cache should have the correct tags. Still working on reprocessing existing documents.

[2017-01-25 19:16] #2277 closed

[2017-01-25 19:54] jridgewell commented on #7184
/to @avimehta

[2017-01-25 20:04] cramforce commented on #7184
Maybe also @mkhatib and @dvoytenko can take a quick look. We need to override the `DOCUMENT_REFERRER` to somehow either give the correct referrer in a SPA type app, or let the SPA/app shell override the header. Something simple like `return ampDoc.getRoot().referrer || viewerForDoc(this.ampdoc).getReferrerUrl()` may be all we need to allow the shell to take control.

[2017-01-25 20:27] choumx commented on #7194
Another option (I mentioned briefly in the meeting) is to split `amp-state` out of `amp-bind` into its own component:

- Currently, an `amp-form` can update the JSON data within an `amp-state` with its XHR response.
- We add ability for `amp-form` to reference data in `amp-state` and only execute the XHR if that data is missing.
- This differs from `amp-bind` in that `amp-form` won't receive updat

[2017-01-25 20:46] #7149 closed

[2017-01-25 21:10] dvoytenko commented on #7194
It makes sense. But I'd rather have it in a separate service. E.g. `DataSource`, which would use `XHR` service as needed.

[2017-01-25 21:12] dvoytenko commented on #6263
Ok, per @flaviori sounds like we can close this bug, right?

[2017-01-25 21:30] #6976 closed

[2017-01-25 21:40] #6543 closed

[2017-01-25 22:14] muxin commented on #7086
updated:
The `linkRels`'s value can be a string if there's only one href, or an array of string if there're multiple hrefs for the same `rel`

[2017-01-25 22:18] mkhatib commented on #7186
Yes - the PR is merged but most likely would be in prod next week

[2017-01-25 22:20] dvoytenko commented on #4626
@camelburrito Let's go and investigate what it'd take to add grouping.

@eike-hass We like the format ideas with media queries and we'll pursue it. Would you be open to helping out on some part of this project?

[2017-01-25 22:51] cramforce commented on #7194
@dvoytenko makes sense.

[2017-01-25 23:39] ansalgado-gcorp commented on #6263
Through email conversation, @flaviori mentioned the condition probably triggering due to stock browsers having Chrome underneath.  We tested again against Samsung S4 KK and we can still reproduce the issue/behavior.  Can you please confirm that Kitkat also has Chrome core on it's built-in stock browser?

[amp_KK_without_optin.mp4.zip](https://github.com/ampproject/amphtml/files/731199/amp_KK_witho

[2017-01-26 00:02] dvoytenko commented on #6263
@ansalgado-gcorp So it looks like this effect is observed w/o the experiment as well, right?

[2017-01-26 01:23] avimehta opened #7212 "amp-analytics click triggers do not work in FIE."
A config like:

[code]

triggers when in a normal cross domain iframe but not in A4A FIE.

/cc @dvoytenko @lannka if you guys can get to this first.

[2017-01-26 01:42] #7086 closed

[2017-01-26 03:36] lannka opened #7214 "Use requestAnimationFrame in vsync"
Instead of scheduling a pass every 16ms in vsync, what about use the browser API [window.requestAnimationFrame](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame), and let browser call us on the next paint?

Potential benefits are:
- Better aligned with browser paint (might slightly improve performance?)
- callback is only executed when the page is visible. So we can si

[2017-01-26 07:45] 1987yama3 commented on #6230
@jridgewell It is written that it is implemented, but just not releasing it. Is it wrong?

[2017-01-26 11:16] evildog1 commented on #6210
AMP link remover in progress!

![screenshot_2017-01-26-12-15-33](https://cloud.githubusercontent.com/assets/8687585/22329349/37f381de-e3c1-11e6-8acf-c8777d0e0d18.png)

[2017-01-26 12:02] mister-ben commented on #6073
Any thoughts around using `position: sticky`? It's appealing to use this for video players, to keep the video in view while the article is scrolled. An issue with simply applying `position: sticky` to a 16:9 full width player is while it works nicely in portrait orientation, it will cover the page in landscape  -- if a `:sticky` pseudoclass existed (it doesn't) I could use that to resize a "stuck"

[2017-01-26 12:26] bjalford commented on #7163
Thanks. That worked!

[2017-01-26 12:26] #7163 closed

[2017-01-26 16:07] cramforce commented on #7214
@lannka I'm slightly puzzled what you are talking about.

- Are you talking about using rAF in `pass.js`. Do we schedule it at 16ms periods anywhere?
- What is the simplification in vsync you are talking about?
- tracking latency between rAFs works, but we don't schedule them all that often and there are many cases where we care about framerate (scrolling with CSS animation running) where we don't

[2017-01-26 16:08] cramforce commented on #6073
Pinging @dvoytenko again.

[2017-01-26 18:34] jridgewell commented on #6230
The work for allowLinker has not been done. Before we start it, amp-fresh has to be released out of experimental.

[2017-01-26 18:40] Gregable opened #7217 "Record custom element extension version numbers in AMP4ADS response."
Currently AMP4ADS documents have a JSON field that lists the set of custom element extensions in the document.

For example, if a document contains:
[code]

The AMP4ADS json will include:

[code]

In the future, it will become important to also include the version numbers used in these extensions in some form. Currently they are (almost) all version `0.1` only.

My first suggestion is to actually

[2017-01-26 18:44] lannka commented on #7217
Sounds reasonable.

Is Cloudflare right now writing this JSON metadata as well? @dknecht

[2017-01-26 18:52] jridgewell commented on #7214
We already use rAF in `VSync`? Likely, we could cut all the `Pass` stuff out, since it is well supported.

[2017-01-26 19:16] Gregable commented on #7217
Thinking a little further, we'll probably want to emit both the old and new format for a small period of time, to avoid having to coordinate javascript and server releases simultaneously. As a result, I propose we change the name of the new field to just `customElements`, so:

[code]

[2017-01-26 19:18] keithwrightbos commented on #7217
LGTM, definitely want to keep old and new formats until we verify client change is released and working properly

[2017-01-26 19:23] dknecht commented on #7217
cc:// @amphtml/cloudflare

[2017-01-26 19:24] dknecht commented on #7217
cc: @ampproject/cloudflare

[2017-01-26 20:00] lannka commented on #7214
Took a closer look at the code, let's forget about the first 2 points.
I did some local experiment with my 3rd point. I will create a separate issue to talk about.

[2017-01-26 20:00] #7214 closed

[2017-01-26 20:01] #7058 closed

[2017-01-26 20:24] ansalgado-gcorp commented on #6263
Yes, correct.

On Wed, Jan 25, 2017 at 4:02 PM Dima Voytenko <notifications@github.com>
wrote:

--

Andres Salgado | Software Test Engineer | ansalgado@google.com
 | 925-234-6209

[2017-01-26 20:45] irtefa commented on #7217
@Gregable should we start sending down both "customElements" and "customElementExtensions" (with entire attribute values)? Or, just the "customElements"?

[2017-01-26 21:28] jridgewell commented on #7192
You can make "no-cors" requests, apparently. Would that suit the needs? If not, polyfilling XHRs through the parent would be wayyyy to much work.

That's not too bad.

Yes, unfortunately.

Can we file a bug for the browsers?

Sweet, it's pretty easy to generate `data:` urls for arbitrary content. And, conveniently, Firefox blackholes `document.cookie` when it's restricted.

[2017-01-26 22:59] choumx commented on #649
Agree with Eric since `on="tap:AMP.setState()"` may become more prevalent, which would block other `tap` actions.

However, not an issue with this specific example though since `carousel.goToSlide()` action can be replaced with a `[slide]` binding.

[2017-01-26 23:08] aghassemi commented on #649
I am planning to add support for this over the next few weeks.

[2017-01-26 23:31] Gregable commented on #7217
Ideally you are already sending down:

[code]

You should also now send down:

[code]

And at some point in the future, you can remove the former if you'd like.

[2017-01-26 23:52] mkhatib commented on #4953
@jmadler sorry for not getting back to this earlier. The buttons are rendering but they're getting height of 0. The fix is to simply give them a height either in CSS or with `height` attribute on each element.

[code]

Let me know if this is not what you expected.

[2017-01-26 23:52] #4953 closed

[2017-01-26 23:55] mkhatib commented on #7186
Custom validation is launched

[2017-01-27 00:00] mkhatib commented on #7154
So for form itself, would it be enough to write similar unit (really integration) test cases similar to what we did with `test-xhr` itself against our `test-server.js`?

[2017-01-27 00:00] mkhatib commented on #7118
Re-assigning to @rudygalfi for triage.

[2017-01-27 00:03] mkhatib commented on #7046
Thanks for filing @dignustech! Please provide a link or code samples so we can test this out and see if we can reproduce.

[2017-01-27 00:24] cramforce commented on #7192
Just to clarify: you could try using data for this in all browsers except Firefox. Lets discuss investing time in this right now, though.

It is really sad that Fx is different here. Not sure a change is worth it, if we have to special case it.

[2017-01-27 00:28] mkhatib commented on #7154
Chatted with @cramforce we'll be writing tests against `test-server.js` - and whitelist them to run on Safari and mobile. We could potentially change all the current tests to NOT mock the actual fetch-requests and instead hit `test-server.js`

[2017-01-27 00:31] cramforce commented on #7154
For now we can just add a few (1) specific test file to this glob to get them to run cross browser: https://github.com/ampproject/amphtml/blob/master/build-system/config.js#L59

[2017-01-27 00:34] #7080 closed

[2017-01-27 01:15] jridgewell commented on #7192
Why not just restrict to no "allow-same-origin" and use a `data:` URI everywhere? You get essentially the same results as `Blob` without "allow-same-origin".

[2017-01-27 01:15] rudygalfi opened #7222 "A mechanism to remove query params from a URL"
URLs can have query params that carry valuable state information:

`https://example.com/article.html?utm_campaign=social&src=fb&uid=nbaa8d223lkw&abc=123`

Keeping in mind that URLs are often user-visible and copy-pasteable objects, sometimes it's desired to remove these parameters from URLs once they've been captured or used to affect content on the page.

This feature request is for a way to do t

[2017-01-27 01:18] cramforce commented on #7192
In general any sandbox on ads is problematic because Chrome is the only browser that supports opting out of child windows (like target=_blank) inheriting the restrictions.

So, you are saying to use no sandbox, except in Firefox? All child windows would then have no `allow-same-origin` and thus be broken for sure (even if the ad did work, which is unlikely).

[2017-01-27 01:19] jridgewell commented on #7154
Why aren't we using [`sinon.fakeServer`](http://sinonjs.org/docs/#fakeServer)?

[2017-01-27 01:21] cramforce commented on #7154
The point is to not use it. We want coverage for differences in browser
CORS implementations that would be hidden by faking the communication.

On Thu, Jan 26, 2017 at 5:19 PM, Justin Ridgewell <notifications@github.com>
wrote:

[2017-01-27 01:24] jridgewell commented on #7192
They need `allow-scripts` at the least, which'll put them in no-same-origin mode. But even if we were to give the `data:` URIs no sandbox, we still have cookie restrictions (can't have cookies on `null` origin, except FF which blackholes).

[2017-01-27 01:35] cramforce commented on #7192
@jridgewell But you did demonstrate that manual blackholing works, right? Would probably also need to be done for other storage types.

[2017-01-27 01:42] jridgewell commented on #7192
Yup, to both.

[2017-01-27 01:43] mkhatib commented on #6986
Closing this one as it is being tracked internally and does not seem related to AMP runtime itself. I've tried to reproduce using a basic Android app with a webview and the crash doesn't seem to "leak" from the runtime.

[2017-01-27 01:43] #6986 closed

[2017-01-27 11:22] eike-hass commented on #4626
@dvoytenko we would be happy to help. What did you have in mind?

[2017-01-27 11:34] kul3r4 opened #7225 "amp-bind carousel and image gallery with first slide"
When using a carousel and a image gallery, it only works when clicking on the thumbnails with index > 0.
I deployed a simpler version [here](https://chiara-ampbyexample.appspot.com/components/amp-bind0/preview/).
In order to reproduce the problem:

- Click on the second thumbnail (the cupcakes :-))
- Click on the first thumbnail
- After clicking on the first thumbnail, the image in the carousel is

[2017-01-27 11:52] kul3r4 commented on #649
Maybe there is another case as tap event could also be used to hide an element, like explained [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md) .
Let's take this example:
You have multiple carousels (each one with multiple images and it own gallery) and a selector with 3 options. When you click on option 1, you want to show carousel 1 and hide carousel 2 and

[2017-01-27 17:20] ericlindley-g opened #7228 "amp-live-list deletion changes update order"
To repro:

1. Publish live blog with at least 2 pages of posts, 10 posts on each page (page one has the latest, page two has older posts)
2. Delete 1 post from page one; page one now contains 9 posts from page one and 1 post formerly on page two

Expected behavior:

The AMP page for page one should match its canonical, and have the post formerly on page two at the bottom of the page.

Actual behav

[2017-01-27 17:47] jasti commented on #7212
@keithwrightbos why is this not an issue with AMP creatives we generate?
@szach FYI

[2017-01-27 18:04] #7225 closed

[2017-01-27 18:05] choumx opened #7230 "Generic chunking follow-up tasks"
Suggestions from @jridgewell.

- [x] We should follow up with a TreeWalker implementation
- [ ] This is the second Queue class in the codebase. Time to extract?
- [ ] This is the second binary search in the codebase. Time to extract?

[2017-01-27 18:12] dvoytenko commented on #7212
This should be fixed by recent #7172. Could you please confirm?

[2017-01-27 18:29] choumx commented on #7230
Queue: `task-queue.js`
Binary search: `intersection-observer-polyfill.js#getThresholdSlot`

[2017-01-27 18:36] Gregable opened #7231 "Mechanism for loading new extensions in <amp-live-list>"
## Problem

[amp-live-list](https://github.com/ampproject/amphtml/blob/master/extensions/amp-live-list/amp-live-list.md) supports adding new content to an already loaded document, via polling for updates to the origin or cache.

New content can potentially include custom elements which were not in the original document. This presents a problem because amp-live-list does not specify a mechanism for

[2017-01-27 18:37] Gregable commented on #7231
Thoughts @ericlindley-g @dvoytenko ?

[2017-01-27 18:48] aghassemi commented on #2691
Closing for https://github.com/ampproject/amp-by-example/issues/558

[2017-01-27 18:50] aghassemi commented on #4771
Closing for https://github.com/ampproject/amp-by-example/issues/559
We can do this now without a new component using amp-selector. Sample code to follow on amp-by-example

[2017-01-27 18:50] #4771 closed

[2017-01-27 18:56] Gregable commented on #7222
May I suggest that `<link rel=canonical>` was designed with exactly this purpose in web search, so that a document could render with whatever strings were attached in the link, but that all variants would be duped to the same canonical URL for accruing pagerank and other ranking signals. This allowed the owner of the document to specify clearly which parameters (or parts of the path) were part of

[2017-01-27 19:27] ericlindley-g commented on #7231
/cc @erwinmombay @cramforce

This sounds really promising to me. Seems like the biggest cost here might just be the effort to implement, but I defer to others who know the runtime better to speak to whether this is the right approach.

If we go with this route, we'll want to figure out an outreach plan so webmasters can make the change.

[2017-01-27 19:32] cramforce commented on #7222
@Gregable canonical is slightly different as it

- may be on a different origin (which we cannot `replaceState` to)
- may point to a different doc (so reload would change things)

This is primarily a security device to remove certain params from the URL with otherwise minimal changes.

[2017-01-27 19:37] dknecht commented on #7222
Wouldn't there also be an impact on the ability to cache?

[2017-01-27 20:18] shawnbuso commented on #5233
OK autoplay is not an IMA SDK issue - I can get that working just fine in an IMA implementation outside of AMP. I think the issue now is that part of my video is outside of the display port... but it shouldn't be. My element is set to 640x360, which should easily fit inside of the viewport for mobile safari. For some reason, though, when I load the page my video is huge and the entire right half i

[2017-01-27 20:19] Gregable commented on #7231
Webmasters shouldn't have to change anything with this scheme, unless they are already implemeing the server side filtering API, which is unlikely. Even still, if they make no change and continue to include the superset of custom elements, things will still work with this setup.

Something like specifying the custom elements as json might be easier for runtime, but would require webmaster changes.

[2017-01-27 20:25] Gregable commented on #7222
@cramforce , those are why I suggested using `rel=amphtml` as the URL key instead.

[2017-01-27 20:52] rudygalfi commented on #4771
One thing to keep in mind is if there is still any value in having a dedicated component even if this is technically possible by using other components (amp-selector in this case). We can evaluate based on the sample implementation.

[2017-01-27 21:26] dvoytenko commented on #7231
Yeah. This is our normal pattern: the head should specify extension scripts. We have routines in runtime to load extensions based on that.

[2017-01-27 21:27] dvoytenko commented on #7231
/cc @erwinmombay

[2017-01-27 22:10] cramforce commented on #5233
Is there a link where we could take a look?

On Fri, Jan 27, 2017 at 12:18 PM, Shawn Busolits <notifications@github.com>
wrote:

[2017-01-27 22:12] cramforce commented on #7222
@Gregable I see. May work.

@dknecht The incoming param might have. This is really useful for outside the cache. We're planning to allow people to put client ids when they transfer from cache to their side and on the destination they need to remove it. If the destination happens to be an AMP page, this is needed.

[2017-01-27 22:15] aghassemi commented on #5233
@shawnbuso I think you just need `layout="responsive"` on the `amp-ima-video`. currently width and height are set to `width=640 height=360` without `layout="responsive"` they will be interpreted as fixed. With `layout="responsive"` only the aspect ratio will be used and it will be resized approprietly to fit the width.

[2017-01-27 22:16] cramforce commented on #7231
👍

[2017-01-27 23:14] muxin commented on #6901
We don't check `forbiddenTerms` in test folders. I think it's legit to ban some terms in test files such as `console`

[2017-01-27 23:39] dvoytenko commented on #4626
@eike-hass I asked @camelburrito to do a bit of a research into what structure would work for carousel in the next few days. We'll see what it'd take and how to break it up between us.

[2017-01-27 23:45] dvoytenko commented on #7214
`Pass` in vsync is necessary. It's used when rAF stops when page goes to background. Note that we disallow animations in that case, but still allow singular measures and mutates.

[2017-01-27 23:53] dvoytenko opened #7236 "Carousel: should buttons flip for RTL?"
For a `<html dir="rtl">`, should carousels buttons next/prev flip?

[2017-01-28 00:10] muxin commented on #7236
Yeah, I think we should. The related task is https://github.com/ampproject/amphtml/issues/5950.

[2017-01-28 00:38] ericlindley-g commented on #6932
Sorry for the delay on this, @thomaskuntzz — there's not much we can do within AMP, but the Google Search team is working on ways in their viewer header to make it easier to both share and access the canonical site while viewing an AMP page. I can't speak to specific UI, but I believe you'll be able to tap on an affordance to go directly to the canonical site.  Thanks for the feedback!

[2017-01-28 00:38] #6932 closed

[2017-01-28 00:38] dvoytenko commented on #7236
Cool. I'm closing this as a duplicate then.

[2017-01-28 00:38] #7236 closed

[2017-01-28 02:04] cramforce opened #7238 "Experiment with version locking AMP extensions"
If we could get all AMP files in a given page to load at the same version, we could

- build all files as a single compilation unit
- which is potentially more efficient in terms of file size (but TBD)
- an order of magnitude faster

The main downside is that this likely would require double downloads in some cases.

[2017-01-28 03:02] dandv commented on #4272
@mkhatib, @dvoytenko: is the submit-on-change behavior documented anywhere?

[2017-01-28 07:39] cheri3a opened #7243 "all amp 404 Not Found nginx"
nginx version: nginx/1.10.2
php v7.1.1-1+deb.sury.org~trusty+1
most of my amp page get 404 when i upgrade to latest version

i don't know what hapend https://www.cheri3a.com/edu/solving-math-exercises-for-the-fourth-year-average-page-70-no-5/amp/

[2017-01-28 09:06] cheri3a commented on #7243
i this is the problme i disupgrade to php5 nginx 1.4.x and now all amp page works fine
i don't now iiiiiiif there are a extention with php7 or not but i test it
please mark it
now evrey think works fine thank's

[2017-01-28 09:13] thomaskuntzz commented on #6932
Okay, thanks for the update and for caring, hope it'll be solved soon! ☺️

[2017-01-28 13:56] #7243 closed

[2017-01-29 04:47] JakePou opened #7245 "amp-form on=submit event not firing"
Without any changes to the client side code, this started happening on 1/27/2017.

submit-success -> fires
submit-error -> fires
submit -> does NOT fire,

Code:
`<form method="post" action-xhr="https://www.roboform.com/filling-test-all-fields" target="_top" on="submit:success-lightbox;submit-success:success-lightbox.close;">...</form>`

[2017-01-29 10:42] cgorbit opened #7246 "Harmless bug in validator.js cdata blacklisted regexp"
https://github.com/ampproject/amphtml/blob/master/validator/engine/validator.js#L1643

[code]

blacklistedCdataRegexStr will contain something like this:
"[object Object]|[object Object]|[object Object]|"

Consider last vertical bar!

[2017-01-29 11:45] OferL commented on #4220
Hi,

I have a question about AMP for PPC purposes.
Here is an example for a URL of an AMP page:
https://cdn.ampproject.org/c/searchenginland.com/example/amp

When you run a PPC campign for mobile users - can you use AMP URL such as the example described? Can you run a PPC campaign for a URL outside of your domain?

If not, does it mean that you only use amp-html tags, but the page loads from your

[2017-01-29 11:50] #4955 closed

[2017-01-29 15:07] jasti commented on #4220
@OferL There is no formal support in Adwords for AMP yet. AMP pages are just like regular web pages and therefore you are free to use it as the mobile URL, in which case the page will serve from your own domain.
Recommend that you reach out to Adwords to confirm support.

[2017-01-29 18:28] samia-khalil opened #7247 "<base href="http://localhost/amp/"> is not working with amp. it gives validation status fail. Please help."
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-01-29 20:24] thomaskuntzz opened #7248 "Cross site caching for AMP components?"
Hi, this is mainly a question and I hope it's the right place to post it. The other places mentioned in the issue template didn't seem appropriate...

I'm wondering if there is any caching mechanism for the AMP components – I mainly think of the scripts used across many if not all AMP pages – that allows not to download the AMP scripts AMP pages use every time a user visits one.

So my two main qu

[2017-01-29 22:15] cramforce commented on #7248
I don't fully understand the question. The component implementation
JavaScript files are certainly cached between site visits. That is an
important part of AMP. If the Washington Post, the NY Times, Buzzfee, and
my blog all have an amp-carousel, they all use the exact same JS downloaded
from the same URL.

On Sun, Jan 29, 2017 at 12:24 PM, Thomas KUNTZ <notifications@github.com>
wrote:

[2017-01-30 04:53] jasti commented on #7101
@pubgalaxy really? Can you please point me to your implementation on GitHub? Thanks.

[2017-01-30 05:44] Jeiwan opened #7250 "Blank page after browser history manipulations"
Browser history manipulations (back, forward, page refresh) result in a blank AMP page.

## Case 1:
1. Go to google.com (or g.co/ampdemo) on a mobile device
2. Search "Trump"
3. Open any AMP enabled link
4. After the page is loaded, press Back in the browser
5. Press Forward to see a blank page.

## Case 2:
1. Go to google.com (or g.co/ampdemo) on a mobile device
2. Search "urbandictionary fleek"

[2017-01-30 09:20] thomaskuntzz commented on #7248
Okay, my question was maybe stupid, but it was in this case : Will "the exact same JS" be downloaded for each site or is it cached and reused?

Maybe this has nothing to do with the AMP Project – if so I'm sorry for having posted here – and the caching is handled by the browser, but I don't know and I couldn't find out so that's why I'm asking here...

[2017-01-30 09:26] pubgalaxy commented on #7101
@jasti Hi, I was actually asking about the process to get us on. As an ad network, we do support AMP, but as for implementation on GitHub, I am not very clear on process and can use some advice. Thanks!

[2017-01-30 09:34] epheterson opened #7251 "Ability to quickly jump to live page"
I noticed AMP links appearing in my results and, while it's nice to have a cached version load quickly, sometimes I want the actual link.

Unfortunately, there is no easy way to get the actual link of the cached content. The only way is removing google.com/amp from the URL.

Please implement some way to load the original link, for example by tapping the existing domain header on cached pages which

[2017-01-30 09:42] 1987yama3 commented on #6230
@jridgewell  Thanks. I have read [this issue #4191](https://github.com/ampproject/amphtml/issues/4191). But I think that it is not need <amp-fresh>.

If you implement allowLinker, you'd use url-replacements-impl.js. Can I try to implement it?

[2017-01-30 11:59] amphtml-team commented on #7101
Got it. This should get you started.

https://github.com/ampproject/amphtml/blob/master/ads/README.md#developer-guidelines-for-a-pull-request
On Mon, Jan 30, 2017 at 4:26 AM pubgalaxy <notifications@github.com> wrote:

--
Vamsee Jasti |  Product Manager, AMP | Google

[2017-01-30 13:45] markbigault commented on #7121
Thanks @cramforce Do you have any kind of timeline you can share on the prod-level viewer (open source or otherwise)?

[2017-01-30 15:39] mbell697 opened #7253 "Intent to Implement: Swoop support for amp-ad"
We'd like to provide support for swoop via the `amp-ad` tag, more on swoop here: https://www.swoop.com/

Fork: https://github.com/swoop-inc/amphtml branch will be `mb_swoop_integration`

[2017-01-30 15:56] m1ck43l opened #7254 "Intent to implement: SlimCut Media ad network into amp-ad"
I intent to implement SlimCut Media ads support into amp-ad. We have already signed the corporate CLA as SlimCut Media.

I will open the PR right after we have the code working locally.

Mickael

[2017-01-30 16:03] cramforce commented on #7248
Ok, yeah, I think that the thing you were asking for is exactly what is
happening :)

Not a stupid question, but rather a question worthy of a blog post!

On Mon, Jan 30, 2017 at 1:20 AM, Thomas KUNTZ <notifications@github.com>
wrote:

[2017-01-30 16:44] cramforce commented on #7121
@markbigault Preview for non-indexable content is coming soon. No timeline yet for viewer that supports non-internet content.

[2017-01-30 17:16] jpettitt commented on #7144
It would be nice if `amp-img`, when set to  `layout=responsive` behaved as if they had intrinsic height/width like real `img` tags do.  (or maybe a new `layout=responsiveimg` since a change like that would be breaking)

[2017-01-30 18:40] Gregable commented on #7247
This is working as intended. We currently only support the value "/" for the base href attribute.

[2017-01-30 18:40] #7247 closed

[2017-01-30 18:54] lannka commented on #7162
A potential fix can be:

Pause all scheduled timers when document become invisible, and resume when document become visible.

[2017-01-30 19:03] shawnbuso commented on #5233
@cramforce You can see the current version at http://amp-ima-video.herokuapp.com/examples/ima-video.amp.html

@aghassemi Right now my implementation is reliant on the pixel width and height provided in the data from the tag, so I don't think I can support responsive layout. The IMA SDK also requires that you initialize it with the pixel width and height of your ad container, so if the ad container

[2017-01-30 19:18] shawnbuso commented on #5233
@aghassemi scratch what I said - I can support relative layout as long as I can grab the actual width and height of my iframe from global.innerWidth and global.innerHeight in my getIma method.

[2017-01-30 19:22] jridgewell commented on #6230
@avimehta?

[2017-01-30 19:52] camelburrito commented on #7245
@mkhatib This seems to be happening from the last release - could you take a look now may be we need to cherrypick/rollback

[2017-01-30 19:53] #7151 closed

[2017-01-30 19:53] #7248 closed

[2017-01-30 19:55] lannka commented on #7254
That's great. And make sure you read the [help doc](https://github.com/ampproject/amphtml/blob/master/ads/README.md#developer-guidelines-for-a-pull-request).

[2017-01-30 19:56] camelburrito commented on #7109
@Rashuoo7 - you can find good examples here
https://ampbyexample.com/components/amp-facebook/

Let us know if that helps

[2017-01-30 19:56] #7109 closed

[2017-01-30 19:56] lannka commented on #7253
That's great. And make sure you read the [help doc](https://github.com/ampproject/amphtml/blob/master/ads/README.md#developer-guidelines-for-a-pull-request).

[2017-01-30 20:20] choumx opened #7257 "Improve amp-bind debuggability"
- [x] Report syntax/expression errors through `error.js#reportError`.
- [x] Add fine-level logging for state and component updates, etc.
- [x] Output warning for undefined variables, improve error message specificity

Related to #6199.

/cc @kul3r4

[2017-01-30 20:35] muxin commented on #7250
@Jeiwan Thanks for reporting this! This bug is tracked internally b/33049693 and is being fixed.

[2017-01-30 20:35] #7250 closed

[2017-01-30 20:43] aghassemi commented on #5233
@shawnbuso Good to hear that responsive can be supported. We also need to handle size change ( e.g. device rotation ).
If you need width/height inside the component code, `onLayoutMeasure` callback is what you want. You can get the calculated width/height from `this.getLayoutBox();` and `onLayoutMeasure` is called initially and every time the size changes.

If you are inside an iframe, you can lis

[2017-01-30 21:07] cramforce commented on #7257
Is this currently integrated with "element level" exceptions that highlight elements that have a problem. E.g. if an expression associated with them has an exception?

[2017-01-30 21:23] choumx commented on #7257
Hmm, not sure which exceptions you're referring to.

Currently, on page load:
- `user().error` on expression parse failure or invalid binding
- If dev mode, user().error when initial state != expression result

TODO:
- If `#log=4`, `dev().fine` on data flow steps to aid in bug reporting

[2017-01-30 21:25] cramforce commented on #7257
I meant this code pass: https://github.com/ampproject/amphtml/blob/master/src/error.js#L104

[2017-01-30 21:30] choumx commented on #7257
Ah, no it doesn't; added to list above. Thanks for the reference.

[2017-01-30 21:31] kul3r4 opened #7258 "amp-bind with multiple carousels"
I am experimenting amp-bind with multiple carousels (type=slides) and amp-selector to navigate between the carousels. I identified a problem where:

- page loads and carousel 1 shows slides 1
- click on preview for slide 2 and the carousel shows slide 2
- click on selector for carousel 3, it doesn't show any slide even if it contains 2 slides

I am using the same variable (selectedSlide) across th

[2017-01-30 21:51] lannka opened #7259 "List all AMP cache origins in one file"
As discussed in #6515

Ideally, all AMP publishers who support [AMP CORS](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) should update their CORS config using this list (periotically? on demand?).

What about starting with a file in this github repo?

@cramforce

[2017-01-30 21:53] dvoytenko commented on #4272
@mkhatib Looks like, no. Not documented. Can we send PR for docs?

[2017-01-30 22:10] dvoytenko commented on #7144
@jpettitt That would force the resize after the image has loaded which is what we are trying to avoid.

[2017-01-30 22:42] kitsunde opened #7261 "Where are creative agencies supposed to reach out regarding the amp ads exactly?"
On https://github.com/ampproject/amphtml/blob/master/ads/google/a4a/docs/a4a-readme.md it says:

Is the expectation here for each agency to create a GitHub issue?

[2017-01-30 23:00] lannka opened #7262 "Document the re-serialization work that an AMP cache typically does"
Once we have such a public doc, we can link it in the [AMP cache guidelines](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md)

[2017-01-30 23:10] #7010 closed

[2017-01-30 23:25] smeder commented on #6141
Any updates on this? It is preventing us from running effective experiments on AMP. If this is blocked by privacy concerns we could also consider just allowing substitution of the current triggered experiments.

[2017-01-30 23:28] jridgewell commented on #7250
Should be fixed now, rolling out shortly.

[2017-01-30 23:29] jridgewell commented on #7245
Ping

[2017-01-30 23:29] choumx commented on #7258
Seems the issue is the hidden `amp-carousel` is not aware it's entering the viewport when visibility is toggled via CSS. We should probably solve this generally for all components if toggling visibility is a common use case.

[2017-01-30 23:34] jridgewell commented on #7251
Duplicate of https://github.com/ampproject/amphtml/issues/6210.

Short answer: This has to do with Google's implementation of AMP in Search, not AMP itself. They're actively working on providing a way to get the canonical link.

[2017-01-30 23:34] #7251 closed

[2017-01-30 23:37] jridgewell commented on #6901
Closed by https://github.com/ampproject/amphtml/pull/7234.

[2017-01-30 23:37] #6901 closed

[2017-01-30 23:39] jridgewell commented on #7261
Yup.

/cc @jasti, @lannka

[2017-01-31 00:16] epheterson commented on #7251
Thanks for the dupe, glad to hear they're working on it.

[2017-01-31 00:17] epheterson commented on #6210
Got duped here with (https://github.com/ampproject/amphtml/issues/7251), can't wait for the fix. I like the feature, but sharing amp links isn't the best method, I want to share the original and it's very difficult to do with the current implementation.

[2017-01-31 00:36] jridgewell commented on #6210
@epheterson: We'll be providing a link with the canonical URL, which is what people would hopefully share.

[2017-01-31 01:27] choumx commented on #7258
Actually, `viewportCallback` is being called correctly. Calling `showSlide_` before `layoutCallback` causes this bug, though not sure why yet.

/cc @camelburrito

[2017-01-31 01:36] cramforce commented on #7259
CC @dknecht

Options:

- File at https://cdn.ampproject.org/caches.json
- NPM module "amp-caches"

Or both :)

[2017-01-31 04:00] ericlindley-g commented on #5127
@aghassemi — is there anything that AMP can feasibly do to fix, or does a fix rely on webkit?

[2017-01-31 08:10] ahmedkaludi commented on #5219
Hey @tungvn We're you find a solution for Facebook comments on AMP?

[2017-01-31 09:13] pbazerque commented on #5050
I second this demand for the exact same reasons.
I do see the Browser info in GoogleAnalytics reporting . However I m required to provide the Full UA string as part of our analytics assessment. This info is not provided in the BigQuery Google Analytics stream, which is why all my sites have a CustomDim to carry the UserAgent .

This cannot currently be replicated in AMP , which means lost stats if

[2017-01-31 10:18] ithinkihaveacat commented on #7259
It would also be useful to provide a URL/mechanism to remove content from caches too, similar to:

https://developers.google.com/amp/cache/update-ping#remove-amp-content

[2017-01-31 15:45] gilbermudez opened #7266 "Teads implementation doubts"
Hi everybody.

We are trying to implement Teads in our post contents but we are having an error appearing in Google developer tool:

- GET https://a.teads.tv/page/"ID"/tag .......................  3p.js:100

The  ID that we are using is the same as the one we have in our normal site.

Is necessary that the tag needs a unique ID or we can use the ID of our normal site?

<amp-ad width=300 height=1 t

[2017-01-31 17:42] aghassemi commented on #5127
@ericlindley-g yes, work we need to do for https://github.com/ampproject/amphtml/issues/7030 will fix this issue.

[2017-01-31 17:42] #5127 closed

[2017-01-31 17:51] rudygalfi commented on #5050
@jridgewell @avimehta If certain reporting situations require the UA to be sent explicitly as data rather than as part of the header, then I'm open to reconsidering this.

[2017-01-31 17:59] cramforce commented on #5050
While, indeed, not needed, this seems like a good case for an external contribution.

[2017-01-31 18:04] aghassemi commented on #4970
Chrome 55 in iOS (released) has fixed root cause (https://bugs.chromium.org/p/chromium/issues/detail?id=669105)

[2017-01-31 18:04] #4970 closed

[2017-01-31 18:06] rudygalfi commented on #6141
#4078 is not yet rolled out. We're prioritizing getting that out (hopefully next 2 weeks or so) and then can take a look at expanding the set of origins that can be used (this issue).

[2017-01-31 18:25] erwinmombay commented on #7231
👍

[2017-01-31 18:48] beastafk opened #7269 "Origin is null in the request headers for amp-iframe"
As stated here: [https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md#cors-security-in-amp](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md#cors-security-in-amp), when CORS is used, the response should include the _AMP-Access-Control-Allow-Source-Origin_ header. The problem is that the request header Origin is always null.

In the page that will b

[2017-01-31 19:16] jpettitt commented on #6210
@jridgewell do you really mean the canonical or source URL that pointed to the AMP doc - they are often different per discussion in #7058

[2017-01-31 19:19] cramforce commented on #6210
The Search team is going with canonical. This has been what desktop and bot requests to the URL have been redirecting to for a while.

Override with `<link rel=sharelink>` is definitely something I'd support, though.

[2017-01-31 19:29] jpettitt opened #7270 "Clarify use of "canonical" in AMP documentation."
Common industry practice is that a the `canonical` header should point to the original source of the content, which in the case of syndicated content may be a completely different site.    However the AMP documentation says the canonical header in an AMP doc is a

This change in meaning of the `canonical` header is confusing.  It also presents unsolvable edge cases (ex when a site is pure AMP the

[2017-01-31 19:37] jpettitt commented on #7266
FWIW we have teads running on multiple customer sites and in each case we got an AMP specific ID from them.

[2017-01-31 19:47] cramforce commented on #7270
We don't really have intent on adding additional semantics to `canonical` and I agree, that for non-paired AMP documents, there is currently no way to use `canonical` to point to the original source.

Google Search has been redirecting desktop users and bots to the canonical of a document. Given that state I don't see urgency to not extend the canonical to also be used for link sharing.

I'd propo

[2017-01-31 19:52] jpettitt commented on #7270
@cramforce will google search honour the `sharelink`

[2017-01-31 20:03] gilbermudez commented on #7266
Can you share us a link of AMP page with teads ?

[2017-01-31 20:28] cramforce commented on #7270
@jpettitt For what purpose are you asking?

[2017-01-31 20:30] jpettitt commented on #7270
The desktop redirect from shared viewer link

[2017-01-31 20:32] cramforce commented on #7270
I'm talking to them about it. Don't know yet.

On Tue, Jan 31, 2017 at 12:30 PM, John Pettitt <notifications@github.com>
wrote:

[2017-01-31 20:34] jpettitt commented on #7266
It's on all Miami Herald and all Daily Dot AMP pages amoungst others https://miamiherald.relaymedia.com/amp/news/local/community/miami-dade/article129759604.html

[2017-01-31 21:18] aghassemi opened #7272 "Implement Media Session API for video-interface"
Chrome 57 is releasing the [Media Session API](https://developers.google.com/web/updates/2017/02/media-session) which allows customization of the media notifications.

We should implement this API for any player than implements the video-interface.

![](https://developers.google.com/web/updates/images/2017/02/tldr.png)

Few Notes:
- [x] We should make `artwork` and `title` configurable but we can

[2017-01-31 21:21] #6198 closed

[2017-01-31 21:21] #7143 closed

[2017-01-31 21:43] #3714 closed

[2017-01-31 21:54] dvoytenko commented on #7272
👍 . A lot of video-playlists (sports, music) fit here very well.

[2017-01-31 21:56] kul3r4 commented on #7258
@choumx I wrote a test [here](https://github.com/kul3r4/amphtml/blob/amp-carousel-with-bind/extensions/amp-bind/0.1/test/test-bind-impl.js#L210) which reproduces what's happening in my sample.

[2017-01-31 22:03] #6298 closed

[2017-01-31 22:08] #7186 closed

[2017-01-31 22:10] bpaduch commented on #738
Can we close this issue?  KIs can be found in GitHub issues.

[2017-01-31 22:21] #7258 closed

[2017-01-31 22:25] ericfs opened #7274 "Send window.loation.origin in `channelOpen`"
It's possible for the cache to redirect. If that happens, an AMP Viewer won't know what target origin to send messages to. The `channelOpen` request should include the origin so that the messaging channel can be established. This will be an issue with per publisher cache subdomains.

/cc @chenshay

[2017-01-31 23:10] #5907 closed

[2017-01-31 23:18] #5799 closed

[2017-01-31 23:30] #6927 closed

[2017-01-31 23:30] #7032 closed

[2017-01-31 23:44] #738 closed

[2017-01-31 23:45] cramforce commented on #5799
Question for a follow up: What if we put the origin trial token into AMP, so that this automatically works everywhere without each and everyone having to register one? origin trial tokens aren't actually tied to origins, right?

[2017-01-31 23:55] jridgewell commented on #5799
/cc @vitaliybl

Hm?

[2017-01-31 23:56] mkhatib commented on #4272
Yeah looks like. I'll open a bug for @bpaduch to update the docs.

[2017-02-01 00:00] mkhatib opened #7275 "Add a section about form.submit action and input change events"
We landed support for input change event and exposing form.submit action that can be used together to support submit-on-change kind of behavior.

We need to update AMP-form docs to add a section about `form.submit` action and `input change` event. See the `forms.amp.html` example for more details on syntax and usage.

[code]

Reference bug: #4272

[2017-02-01 00:07] #7266 closed

[2017-02-01 00:08] jridgewell commented on #7266
Closing with https://github.com/ampproject/amphtml/issues/7266#issuecomment-276468389.

[2017-02-01 00:10] jridgewell commented on #7274
/to @muxin

[2017-02-01 00:12] ericfs commented on #7274
See internal issue b/34466538 for more context.

[2017-02-01 00:18] jridgewell commented on #7269
You shouldn't need CORS inside your own iframe? It's only necessary when you're sending non-GET requests from the AMP document to your site, not from your own iframe (on your site) to your own site.

Additionally, the `Access-Control-Allow-Origin` is a response header, not a request header.

Finally, are you using a `srcdoc`? If so, you can't have an origin (we make sure it's `null`), so that's wh

[2017-02-01 01:19] Gregable commented on #7246
Fixed as commited (https://github.com/ampproject/amphtml/blob/master/validator/engine/validator.js#L1619). Will be deployed later.

[2017-02-01 01:59] cramforce commented on #7274
I don't understand why we should send it. The incoming message definitely comes with an origin tag (that should be the same value). You need to check `event.origin.endsWith('.cdn.ampproject.org')`.

[2017-02-01 06:14] cgorbit commented on #7246
[code]

[2017-02-01 09:16] sigginet opened #7283 "AMP fixed header on Chrome iOS has incorrect position when in an iFrame"
## Short description of the issue

When viewing Google AMP results on Chrome iOS, there is a bug where the header disappears when I click on an AMP result with a header that has `position:fixed; top:0;` CSS.

## How do we reproduce the issue?

1. Create an AMP page with a header with `position:fixed; top:0;` CSS.
2. Get the result indexed
3. Search for the page on Chrome in iOS
4. Make sure the lo

[2017-02-01 11:59] bjalford commented on #655
+1 for this.

[2017-02-01 12:01] bjalford opened #7284 "Detect swipe and trigger click"
Is it possible to detect swipe action and use that to trigger a link click to trigger a new page load?

I've also seen this which is specifically about next/previous page functionality  but was wondering if this isn't implemented whether a custom version could be built using just the swipe: https://github.com/ampproject/amphtml/issues/655

[2017-02-01 13:02] bpaduch commented on #4272
@mkhatib  - As you're familiar with what that behavior is, can you document it, and I'll review it?

[2017-02-01 13:02] bpaduch commented on #7275
@mkhatib  - As you're familiar with what that behavior is, can you document it, and I'll review it?

[2017-02-01 13:41] ericfs commented on #7274
Good point. That should be fine.

[2017-02-01 13:41] #7274 closed

[2017-02-01 15:08] johnduffell commented on #655
just for the record, I don't intend to implement this, but of course someone else could pick this up if they want

[2017-02-01 15:09] ithinkihaveacat commented on #4537
FWIW, the validator now complains about relative URLs.

[2017-02-01 17:24] mrjoro opened #7285 "Add example design docs to CONTRIBUTING.md"
In PR #7281 I am adding a new section on design reviews to CONTRIBUTING.md.  We should provide some example design docs in this section.

[2017-02-01 17:54] fletc3her opened #7286 "AMP-Ad for AdSense needs channel parameter"
A request to support Google AdSense custom channel parameters.

Channel targeting allows advertisers to select a published channel on which they want to show ads, e.g. category pages or recipes. Custom reports by channel can be used to perform A/B testing to try out different ad implementations. And other purposes.

The channel can be specified differently depending on whether asynchronous or sync

[2017-02-01 18:21] dvoytenko commented on #6073
Duplicate issue is in https://bugs.chromium.org/p/chromium/issues/detail?id=687317

Working on this. `sticky` is not fully yet supported.

[2017-02-01 18:45] Gregable commented on #7246
Hm, I thought I had tests that confirmed this was working. Investigating now.

[2017-02-01 18:46] #7094 closed

[2017-02-01 18:55] erwinmombay opened #7287 "Meeting Notes 2017-01-30"
# 2017-01-30

@cramforce
*   AMP for ads is being formally announced today at IAB event
*   Sent RFC PR for version locking AMP

@dvoytenko
*   Analytics and render-start signal
*   Debugging latency issues. Likely due to visibility/invisibility processing.

@erwinmombay
*   fixing multiple critical amp-live-list bugs
*   Looking into easiest way to compile "example" binaries

@lannka
*   Finished

[2017-02-01 19:53] jridgewell commented on #7283
/to @muxin
/cc @RJSumi

[2017-02-01 19:55] jridgewell commented on #7286
Duplicate of https://github.com/ampproject/amphtml/issues/4464. I'll reopen that one to get a comment.

[2017-02-01 19:55] #7286 closed

[2017-02-01 19:55] jridgewell commented on #4464
@bobcassels: We got another request for this in #7286. Was this implemented?

[2017-02-01 20:02] jridgewell opened #7289 "Validator forbids relative amp-user-notification hrefs"
Example: https://validator.ampproject.org/#url=https%3A%2F%2Foutput.jsbin.com%2Fnibomo%2Fquiet

[code]

[2017-02-01 20:03] jridgewell commented on #4537
Opened https://github.com/ampproject/amphtml/issues/7289.

[2017-02-01 20:05] jridgewell commented on #7284
No it's not possible.

This seems like it could be a feature of the next/prev button component. Let's move the discussion to #655.

[2017-02-01 20:05] #7284 closed

[2017-02-01 20:11] Gregable commented on #7289
I think this is intentional. The AMP cache doesn't rewrite these, so they are broken if absolute.

[2017-02-01 20:12] Gregable commented on #7289
For example: https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/0.1/validator-amp-user-notification.protoascii#L70

[2017-02-01 20:22] jridgewell commented on #7289
Whoops, this was the whole point of #4537. 🤦‍♂️

[2017-02-01 20:22] #7289 closed

[2017-02-01 20:26] muxin opened #7290 "amp-video integration test failure"
[code]
Seems like `removeChild` in `cleanUp` is not called properly. Why do we have to clean up anyway?

[2017-02-01 20:41] aghassemi commented on #7290
@muxin There are several Safari 8 issues. For now we are doing https://github.com/ampproject/amphtml/pull/7276 to handle it.

[2017-02-01 21:02] mkhatib commented on #4272
Yes will do.

[2017-02-01 22:11] Gregable commented on #7246
OK, so we had a test that should have been catching this: [incorrect-custom-style](https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/incorrect_custom_style.out), but we were not outputting any error for the violating line containing !important. This was why the issue hadn't been noticed before. No error was being generated because we were hiding them if the cdata a

[2017-02-01 22:38] cramforce opened #7295 "Form test uses regex that sometimes fails"
See failure.

Chrome 56.0.2924 (Linux 0.0.0) amp-form Var Substitution should substitute hidden fields variables in XHR async FAILED
	AssertionError: expected 'amp--MEn6bEkgSVHw56rzwQKXztL5XRitMBLRMtRo8AfaXaLvbk-4MHRae1AE7WG_ukx' to match /amp-\w+/
	    at /tmp/688b7d6108a484955606c3168b6acfba.browserify:57087:42 <- /home/travis/build/ampproject/amphtml/extensions/amp-form/0.1/test/test-amp-form.j

[2017-02-01 22:46] cramforce opened #7296 "amp-bind doesn't change img src"
Issue first seen here https://github.com/ampproject/amp-by-example/issues/586

It appears that changing the `src` of an `amp-img` does not update the `src` of the `img`.

[2017-02-01 23:20] mkhatib opened #7298 "Consider renaming goToSlide event to slidechanged"
[`goToSlide` event](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#element-specific-events) is confusing and sounds like an action rather than an event. Adds to the confusion is that there's also an action called `goToSlide`.

[2017-02-01 23:23] jasti commented on #7261
@kitsunde, it's really just a way to gather interest. Are you from a creative agency? Are you interested in creating AMP ads?

[2017-02-01 23:26] jasti commented on #7101
Closing for now. Let us know if you have any questions with the implementation.

[2017-02-01 23:26] #7101 closed

[2017-02-01 23:28] rudygalfi commented on #7159
Since this got merged, I think it can be closed. Please re-open if not.

[2017-02-01 23:28] #7159 closed

[2017-02-01 23:28] muxin commented on #7283
This should be a amp viewer bug. Filed b/34890671

[2017-02-01 23:39] jasti commented on #4464
Ping @michaelkleber as well, since I know Bob has moved to do other things.

[2017-02-01 23:52] camelburrito commented on #7298
This is a bind event - it is named to match goToSlide action on amp-slides - also this should say that this is specific to type="slides"

[2017-02-01 23:55] jasti commented on #6883
Closing since this is merged and launched!

[2017-02-01 23:55] #6883 closed

[2017-02-01 23:56] jasti commented on #6881
Closing since this has been merged.

[2017-02-01 23:56] #6881 closed

[2017-02-01 23:57] jasti commented on #6718
Ping @lannka

[2017-02-01 23:57] #7295 closed

[2017-02-01 23:58] jasti commented on #6667
I believe this is done, @taymonbeal ?

[2017-02-01 23:58] jasti commented on #6497
@dvoytenko fixed this, yes?

[2017-02-01 23:59] jasti commented on #6563
Ping @lannka

[2017-02-02 00:01] dvoytenko opened #7300 "Add `url` and `sourceUrl` field to the `channelOpen` message"
The value is calculated as:
[code]

[2017-02-02 00:01] jasti commented on #2659
Awesome! Closing.

[2017-02-02 00:01] #2659 closed

[2017-02-02 00:08] #7246 closed

[2017-02-02 00:10] jasti commented on #1822
@muxin, @camelburrito - is this being worked on or can be closed? Cleaning up for new sprint process.

[2017-02-02 00:11] #1822 closed

[2017-02-02 00:13] #3195 closed

[2017-02-02 00:13] aghassemi commented on #7290
Closed by #7276

[2017-02-02 00:13] #7290 closed

[2017-02-02 00:14] kitsunde commented on #7261
@jasti I'm the CTO of a digital agency and our main work is supporting creative agencies here in Singapore. AMP ads is definitely something we're interested in exploring, either directly or together with one of our partners.

[2017-02-02 00:17] rudygalfi commented on #6918
@ericlindley-g has been thinking a bit about IDEs and AMP development, so I'm going to shift him to being the sole assignee here. This would be a longer-term ambition, though, so just adding this to our general backlog.

[2017-02-02 00:19] rudygalfi commented on #6887
@ericlindley-g Can you shift this over to being an Amp By Example or AMP Start issue, and then close this?

[2017-02-02 00:20] rudygalfi commented on #6608
Alexa isn't present supported as far as I know. We've attempted to get in touch with the Alexa team for AMP support, but no updates on that yet.

I'm going to rename this issue to make it a feature request.

[2017-02-02 00:23] rudygalfi commented on #6572
I don't think there's flexibility on the license bit. For the rest of the feedback routing this to @cramforce.

[2017-02-02 00:25] rudygalfi commented on #6340
@lannka Can you close this and/or reference relevant visibility v2 issues that are addressing this?

[2017-02-02 00:26] rudygalfi commented on #5764
I'm going to close this since this seems answered, and if it's not, please provide a URL to reproduce the issue and re-open.

[2017-02-02 00:26] #5764 closed

[2017-02-02 00:28] rudygalfi commented on #5573
@cramforce Can you update on status of this issue? Did #5573 solve this? Should this stay open?

[2017-02-02 00:29] rudygalfi commented on #4320
This seems to have been closed by #4333.

[2017-02-02 00:29] #4320 closed

[2017-02-02 00:30] rudygalfi commented on #4355
This seems like it was closed by #4420.

[2017-02-02 00:30] #4355 closed

[2017-02-02 00:38] rudygalfi commented on #6894
@ericlindley-g Could you explore if AMP Bind might address this? If so, an AMP By Example page demonstrating this would be great to have.

[2017-02-02 00:43] camelburrito commented on #6887
@rudygalfi - may be amp start, probably not worth it in ABE.

[2017-02-02 00:46] rudygalfi commented on #2622
We should do this or close it.

[2017-02-02 00:49] rudygalfi commented on #5376
Routing to @ericlindley-g since he's been looking at geovariation.

[2017-02-02 00:50] rudygalfi commented on #5004
@mkhatib Is this still a valid FR?

[2017-02-02 00:51] rudygalfi commented on #5934
@lannka Can you close this if you think it was addressed by visibility v2 work (and link to a more specific issue)?

[2017-02-02 00:53] lannka commented on #5934
@dvoytenko <https://github.com/dvoytenko>  was proposing a new name for
the "hidden" trigger: "unload". Because that's when it gets triggered.

Regards,

Hongfei

On Wed, Feb 1, 2017 at 4:51 PM, Rudy Galfi <notifications@github.com> wrote:

[2017-02-02 00:55] lannka commented on #5934
It's still not too late the do the renaming. Only a handful domains are using the "hidden" trigger. We can keep both as valid, but change the doc to "unload".

@rudygalfi @dvoytenko thoughts?

[2017-02-02 01:02] camelburrito commented on #2622
I think the APIs have changed now ? and @zhouyx @lannka modified a lot more after me :) We can close it or give it to them

[2017-02-02 01:07] lannka commented on #6340
this is not addressed in visibility v2. we can go ahead and make the change once we all agreed on the same measurement.

[2017-02-02 01:09] rudygalfi commented on #5934
I'd be ok with that

[2017-02-02 01:21] rudygalfi commented on #6798
This is a duplicate of #2663.

[2017-02-02 01:21] #6798 closed

[2017-02-02 01:25] rudygalfi commented on #5756
cc @bpaduch

[2017-02-02 01:25] jtsai783 opened #7303 "DistroScale enhancement work"
Because websites coming through AMP cache reports its context.location with the cdn host prepended. We would like to use the source URL instead for reporting and identification purposes.

I've opened a PR #7302.

[2017-02-02 02:17] cramforce commented on #6572
Yeah, the license is not a fight worth fighting. I think AMP is decently well documented in source. Feel free to file bugs for individual items you'd like better commented.

[2017-02-02 02:17] #6572 closed

[2017-02-02 03:17] cramforce commented on #5573
We have a project going that will remove the boilerplate for pages served from cache. I think we can close this.

[2017-02-02 03:17] #5573 closed

[2017-02-02 03:54] michaelkleber commented on #4464
@glevitzky Can you handle this?  No problem adding data-ad-channel parallel to e.g. data-ad-client.

[2017-02-02 05:34] drdamour commented on #6798
thanks i figured it was already asked for but didn't come across it.

[2017-02-02 06:17] camelburrito commented on #7002
@mkhatib i think this is a P0 can you take a look ! (I have a windows machine you can borrow)

[2017-02-02 08:35] beastafk commented on #7269
Seem like you didn't understand me or I didn't write it clear enough. I am sending a non-GET request from the AMP document to my site. The request happens by clicking on a button, which is loaded with the amp-iframe component. And I am not using the `srcdoc`.

To make things clear, here is the AMP document

[code]

and this is the page I want to include with **amp-iframe**

[code]

Clicking on the

[2017-02-02 08:52] evildog1 commented on #6210
AMP link remover finished. It's a temporary workaround.

https://t.co/WrQ6OzsRQT

![image](https://cloud.githubusercontent.com/assets/8687585/22542658/359fa0ea-e92d-11e6-9aa6-42e8f1edc892.png)

[2017-02-02 14:18] Flowgram commented on #1531
This still breaks if each image is wrapped in a div: http://jsbin.com/qukosutibo/edit?html,css,output

Notice how the tall images are getting cut off.

I need to wrap my images divs because eventually I'd like to include a caption below each one.

[2017-02-02 16:54] aghassemi opened #7307 "Make sentinel optional for iframe-helper"
Currently `listenFor` in `iframe-helper` is too tied to a `sentinel` which makes it unusable for listening to `postMessages` that are not AMP-specific ( e.g. messages from YouTube iframes ).

It would be nice if `sentinel` becomes optional so code can be reused for listening to arbitrary messages. It may make sense to use `origin` instead in cases where `sentinel` does not make sense.

[2017-02-02 17:44] dvoytenko commented on #1531
@Flowgram `layout=responsive` is explicitly a width-based layout. It takes the available width and calculates height based on the given ratio. In your example:
[code]

carousel1 has the width of 400, while the image's given ratio is 300:950. As the result, the image will be resized to have width 400 and height 950 * 400 / 300 = 1266. Then you apply `object-fit: contain` that will center the image

[2017-02-02 18:06] Flowgram commented on #1531
@dvoytenko Thanks for getting back to me.

Thing is, it works perfectly without the wrapping div. Height of each image is restricted to the carousel height regardless of the height passed in, see carousel2 here: http://jsbin.com/fagigajoda/edit?html,css,output

That is the behaviour I'm looking for.

[2017-02-02 18:09] aghassemi commented on #7160
Not fixable by AMP See: https://support.saucelabs.com/hc/en-us/articles/115002202568-Unsupported-Video-Types

[2017-02-02 18:09] #7160 closed

[2017-02-02 18:11] dvoytenko commented on #1531
This is because carousel forces each slide (an immediate child) to be sized by the carousel's size. The same rules cannot be applied to the children within the slide itself since we can't make assumption about the design. E.g. it maybe perfectly justifiable to have content of a slide overflow for some reason.

The easiest change from your current sample is to update `<amp-img>` to use `layout=fill

[2017-02-02 19:19] jridgewell commented on #7307
That entire file got a little out of hand. 😳

[2017-02-02 19:24] lannka commented on #7269
i guess the problem is the `sandbox` attribute? Does it work when you remove it?

[2017-02-02 19:26] jridgewell commented on #7269
I've done my own testing using your posted code, and everything works as expected. Can you put up a live page where we can test?

[2017-02-02 19:42] aghassemi opened #7310 "Safari (both Mac and iOS) are constantly crashing on SauseLabs with PR# 7279"
Unrevert #7279 when fixed.

[2017-02-02 19:43] lannka commented on #6758
@xgretsch are you still on this? It can be blocker to fully launch the custom ad feature, since it requires pub side change.

[2017-02-02 19:57] glevitzky commented on #4464
I'll gladly take a look. Can I get a little more context first? What exactly will it entail to "support" data-ad-channel? Is this just a data attribute that needs to be whitelisted for AdSense, or what?

[2017-02-02 20:11] #6943 closed

[2017-02-02 20:48] #6168 closed

[2017-02-02 20:54] michaelkleber commented on #4464
Whitelist it, and propagate its value through to the adsbygoogle ins in adsense.js, and into the &channel= ad request parameter in the a4a request flow.

[2017-02-02 22:22] xgretsch commented on #6758
Sorry, this one slipped through the net. I've made the changes server side on my ad server and everything's fine, but I'll do a PR next week to get this into place.

[2017-02-02 23:24] muxin commented on #6530
Talked with @RJSumi offline: when the content is not filling up the entire viewport, it would be nice to send the document height of the real content, which is less than the viewport height.
The `viewport.getScrollHeight` is returning the viewport height when the viewport is not filled up. So I'm creating another similar method `getDocHeight`

[2017-02-03 00:10] mrjoro commented on #7285
While making this change, let's also make the context a little less scary by making it clear not all contributions require a full design doc & design review.

[2017-02-03 00:22] christianvuerings commented on #1816
@asap @adrianhaurat we made a fix for this at #7320

[2017-02-03 01:44] cpapazian commented on #6141
I'm working with @smeder on a possible patch for this. It looks like it should be pretty easy to add specified domains to the origin check that is already being done in `maybeExpandLink`.

Looking at https://github.com/ampproject/amphtml/issues/4078 @cramforce mentions using a meta tag with the site and white listed variables. Does that work, or would a JSON structure be better? The meta tag looks

[2017-02-03 01:52] cramforce commented on #6141
@cpapazian That looks good. I'm wondering, should we use a `data-amp-allowed-origin` on the individual `a` tag instead of the global meta tag?

[2017-02-03 02:02] smeder commented on #6141
In our case we will have a whole bunch of these links on a page (just looked at a sample page with ~600), so placing this on each individual anchor tag feels like it would bloat the DOM.

[2017-02-03 03:26] dknecht commented on #4293
@erwinmombay   there was one missed.  https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L569

[2017-02-03 03:28] dknecht opened #7323 "Fix remaining hardcoded ampproject.net URLs in build"
related to #4293

@erwinmombay  Can we change this to variable also?

https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L569

[2017-02-03 04:17] jasti commented on #6597
@aghassemi - wanted to confirm if you were looking this implementation or did you want @lannka to take over?

[2017-02-03 04:25] dknecht opened #7325 "Web Validator uses different UA on redirect"
This fails on CDN https://www-suara-com.cdn.ampproject.org/c/www.suara.com/amp/news/2017/02/03/095115/istana-meragukan-klaim-sby-yang-merasa-disadap

It passes validator https://validator.ampproject.org/#url=http%3A%2F%2Fwww.suara.com%2Famp%2Fnews%2F2017%2F02%2F03%2F095115%2Fistana-meragukan-klaim-sby-yang-merasa-disadap

In the background this is because the first request redirects from www. -->

[2017-02-03 05:03] jasti commented on #7303
SG! DoubleClick and Adsense do the same.

[2017-02-03 05:21] aghassemi commented on #6597
@jasti I only managed to look into it but didn't get a chance to implement before leaving for vacation. @lannka @zhouyx could you take over? `resources-impl` already has some logic for detecting scroll stop, it would be nice to refactor that into a common helper to use here as well. One way would be runtime dispatching an `amp-scrolling-stopped` DOM event that we can listen to using normal event h

[2017-02-03 06:47] evivz opened #7326 "Adsense link ad not working in AMP mode?"
When I put adsense link ad unit id in ad it still shows up as normal ad not as link ad.

[2017-02-03 10:17] kul3r4 opened #7329 "amp-bind console error"
After the latest canary release (1486066183733), [amp-bind sample](https://ampbyexample.com/components/amp-bind/preview/) gives the following error:
chunk.js:351 Uncaught (in promise) TypeError: Cannot read property 'enqueue' of undefined
    at lb (chunk.js:351)
    at jb (chunk.js:331)
    at chunk.js:72
    at Tb (bind-impl.js:188)
    at Rb (bind-impl.js:137)
    at bind-impl.js:101

@choumx @

[2017-02-03 10:45] beastafk commented on #7269
I cannot really provide a live page for testing, and removing the `sandbox` attribute breaks the functionality of the amp-iframe.

For me it's also inconvenient to create new domain for my AMP page, so I am using the same one.

So in my case I am using the same same domain [domain-x] for everything:

- serving the AMP page [domain-x/amp/....]
- `amp-iframe` has the src=[domain-x/iframe-page] for p

[2017-02-03 11:01] Polylike opened #7330 "optout property is only available to vendor config. pd @ error.js:113 - Google Analytics / GTM"
Hello,

since today Google Analytics (via GTM) tracking nothing and no changes made on my AMP site!?!

I take o look to the console and there are a new message:

optout property is only available to vendor config.
pd @ error.js:113

Website:
https://goo.gl/8LA2lx

Bug or how can i handle this?

Best,
Daniel

[2017-02-03 11:47] jalajc opened #7332 "How the amp-access metering work in Private Window(Incognito)?"
While implementing metering with amp-access: I found that since RID (amp-access id) is different in private window (Incognito), I am not able to contain the page views within limit maxView limits (RID being the only reliable parameter).

- Is there a signal for private window that can be used to control access?
- If not
 -- request to add feature to know if page is in private window or
 -- may be

[2017-02-03 14:49] dignustech commented on #7046
Here is the url - https://beta.clubcall.com/  (amp/amp)

There is POLL widget on the page. When you submit the option and zoom in/out the page using (ctrl -) then the result loads.

Please review. Thanks.

[2017-02-03 15:04] cramforce commented on #6141
K, lets use full origins like `<meta name='amp-link-variable-allowed-origin' content='https://www.othersite.org'>` and lets use more idiomatic space separation `<meta name='amp-link-variable-allowed-origin' content='https://www.othersite.org https://www.yetanothersite.com'>`

[2017-02-03 16:32] erwinmombay commented on #4293
@dknecht i think i rolled back that line actually. i believe its the string that is embedded in remote.html. Should it be replaced?

[2017-02-03 16:59] dknecht commented on #4293
@erwinmombay remote.html is another issue that I don't know how to solve.  This one is for frame.html.  See my pull.  I think you just missed it.

[2017-02-03 17:03] erwinmombay commented on #4293
@dknecht thanks

[2017-02-03 17:04] #7323 closed

[2017-02-03 18:32] #7275 closed

[2017-02-03 18:34] killerbishop commented on #7330
We are experiencing this issue as well.

[2017-02-03 19:19] jridgewell commented on #7269
Ahh, that's what I needed. Posting to your own origin in an iframe that disables "allow-same-origin" (through its omission from `sandbox`) will cause the iframe's origin to be "null".

To support this kind of pattern, you need to specifically allow a null origin in the response headers:

[code]

[2017-02-03 19:19] #7269 closed

[2017-02-03 19:28] alf7 commented on #7066
If I understand Justin's comment correctly, I don't think this is something that can be fixed on the viewer side.

[2017-02-03 19:29] jridgewell commented on #7330
Fixed by #7318. We're working on getting this fix out.

[2017-02-03 19:29] #7330 closed

[2017-02-03 19:31] adelinamart commented on #1689
Hi Rudy, is this one still relevant?

[2017-02-03 19:43] rudygalfi commented on #302
Adding @ericlindley-g to feed into content quality project.

[2017-02-03 19:44] adelinamart commented on #1677
Is this still relevant?

[2017-02-03 19:45] adelinamart commented on #1654
Is this still relevant?

[2017-02-03 19:46] jridgewell commented on #7332
The problem is there's no way to tell the difference between a first time user and a private browser. Even if we could, it'd be a privacy violation.

The only reliable way is to have the user log in. That way, you're able to always tell who the user is and how many times they've viewed the site.

[2017-02-03 19:46] #7332 closed

[2017-02-03 19:47] adelinamart commented on #1646
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 19:47] #1646 closed

[2017-02-03 19:50] jridgewell commented on #7326
/to @jasti

[2017-02-03 19:56] jridgewell commented on #7066
Yup. The general request has been moved to https://github.com/ampproject/amphtml/issues/7121.

[2017-02-03 19:56] #7066 closed

[2017-02-03 20:05] rudygalfi commented on #1689
Yes, this is a candidate for a lightbox features project.

[2017-02-03 20:05] jasti commented on #7326
Link ads are not supported in AMP at the moment. The feedback has already been passed along to the team and they are working on it, but feel free to also reach Adsense via your support channels and ask for support.

Thanks.

[2017-02-03 20:05] #7326 closed

[2017-02-03 20:06] ericlindley-g commented on #1689
Definitely — @aghassemi , is this bug useful to track your work, or would you rather incorporate into your lightbox checklist?

[2017-02-03 20:12] adelinamart commented on #1626
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 20:12] #1626 closed

[2017-02-03 20:13] adelinamart commented on #1597
Is this still relevant?

[2017-02-03 20:15] adelinamart commented on #1592
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 20:15] #1592 closed

[2017-02-03 20:18] adelinamart commented on #1591
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 20:25] adelinamart commented on #1589
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 20:25] #1589 closed

[2017-02-03 20:29] dknecht opened #7336 "update SERVING.MD"
Ensure SERVING.MD is up to date.

[2017-02-03 20:32] rudygalfi commented on #1597
Yep, let's keep this open.

[2017-02-03 20:37] adelinamart commented on #1530
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 20:37] #1530 closed

[2017-02-03 20:41] adelinamart commented on #1492
@jridgewell is this still relevant?

[2017-02-03 20:44] mkhatib opened #7337 "Carousel doesn't fire goToSlide event when users change slide with the goToSlide action"
This could be an intended behavior but thought I'd start a discussion.

Basically, `goToSlide` event is only fired when users explicitly change the slide by interacting with the slides themselves (clicking next/prev button, or swiping left/right).

The event is not fired in `autoplay` changes or slide change through the `goToSlide` action.

It's worth mentioning firing the event in response to `go

[2017-02-03 20:50] jridgewell commented on #1492
Likely.

[2017-02-03 20:59] adelinamart commented on #1438
Is this still relevant?

[2017-02-03 21:21] cramforce commented on #1492
Infeasible.

[2017-02-03 21:21] #1492 closed

[2017-02-03 21:27] dvoytenko commented on #7337
Bumping to P1. PTAL as soon as possible.

[2017-02-03 21:30] rudygalfi commented on #1591
Putting this into https://github.com/ampproject/amphtml/projects/17 and closing while we wait for implementation from Giphy.

[2017-02-03 21:30] #1591 closed

[2017-02-03 21:30] camelburrito commented on #7337
@mkhatib  what do you mean by `goToSlide` event? is it a bind event? (I am not aware of any such events apart from an action)

[2017-02-03 21:31] rudygalfi commented on #7104
Closing and adding to our 3P analytics project.

[2017-02-03 21:34] jridgewell commented on #1438
This'll be taken care of as part of the Layers refactor.

[2017-02-03 21:39] dknecht opened #7338 "Does data-iframe-src on Serviceworkers need validation?"
It doesn't look like it is currently validated.

[2017-02-03 21:40] adelinamart commented on #1408
Seems the PR is solving part of this.
Is there anything else left to be here?

[2017-02-03 21:42] mkhatib commented on #7337
Here's some guidelines because this is a bit confusing:

* When I refer to `goToSlide` action - I refer to `this.registerAction('goToSlide')` - which is what users can use in the action clause of the on-syntax like: `on=tap:**slides.goToSlide**`.

* When I refer to `goToSlide` event - I refer to `this.action_.trigger` call inside `showSlideAndTriggerAction_` - which is what users can use in the ev

[2017-02-03 21:44] adelinamart commented on #1377
Is this still relevant?

[2017-02-03 21:52] adelinamart commented on #1343
Is this still being worked on?

[2017-02-03 21:53] adelinamart commented on #1230
Is this still needed?

[2017-02-03 21:53] adelinamart commented on #1213
Is this still relevant?

[2017-02-03 21:54] adelinamart commented on #1199
Is this is prioritized FR?

[2017-02-03 21:55] adelinamart commented on #1189
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 21:55] #1189 closed

[2017-02-03 21:58] cramforce commented on #1199
Yes, actively being worked on.

[2017-02-03 22:09] adelinamart commented on #1199
Cool. Let's provide an update here with the progress. Thank you!

[2017-02-03 22:10] adelinamart commented on #1156
What's the latest update here? Thanks.

[2017-02-03 22:10] cramforce commented on #5276
I wrote up a design https://docs.google.com/document/d/1UDMYv0f2R9CvMUSBQhxjtkSnC4984t9dJeqwm_8WiAM/edit?usp=sharing

Feedback appreciated!

[2017-02-03 22:10] adelinamart commented on #1137
What's the status here?

[2017-02-03 22:12] cramforce opened #7340 "Intent to implement: Call tracking in AMP"
Call tracking allows advertisers to track phone calls originated from phone numbers displayed on their pages. This project aims to make call tracking available to AMP pages.

Design https://docs.google.com/document/d/1UDMYv0f2R9CvMUSBQhxjtkSnC4984t9dJeqwm_8WiAM/edit?usp=sharing

For feature request see #5276

[2017-02-03 22:12] cramforce commented on #5276
Filed #7340 to track implementation.

[2017-02-03 22:14] adelinamart commented on #1082
Is there still any work required for this issue?

[2017-02-03 22:15] adelinamart commented on #1085
Is this still required?

[2017-02-03 22:18] mkhatib commented on #1085
Funny - I was just chatting with @aghassemi about this - my understanding he wanted to expose these events yes.

[2017-02-03 22:21] jridgewell commented on #1343
Completed in https://github.com/ampproject/amphtml/pull/1637.

[2017-02-03 22:21] #1343 closed

[2017-02-03 22:31] adelinamart commented on #895
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 22:31] #895 closed

[2017-02-03 22:32] adelinamart commented on #916
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 22:32] #916 closed

[2017-02-03 22:33] adelinamart commented on #943
@erwinmombay is this still relevant?

[2017-02-03 22:35] ericlindley-g commented on #909
Closing this, since amp-live-list covers the use-case, but folks in the thread should feel free to file feature requests and bugs for anything not yet solved!

[2017-02-03 22:35] #909 closed

[2017-02-03 22:37] adelinamart commented on #994
Is this still relevant?

[2017-02-03 22:37] adelinamart commented on #1014
Is this still relevant?

[2017-02-03 22:39] adelinamart commented on #1020
Is this still relevant?

[2017-02-03 22:39] adelinamart commented on #1027
Is this still blocked?

[2017-02-03 22:44] adelinamart commented on #823
What's the status of this one?

[2017-02-03 22:45] adelinamart commented on #724
Do we still want to work on this one?

[2017-02-03 22:45] camelburrito commented on #7337
@choumx do you have some time to look at this ?

[2017-02-03 22:45] adelinamart commented on #665
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 22:45] #665 closed

[2017-02-03 22:52] jridgewell commented on #1020
Nope, we migrated to my Promise polyfill.

[2017-02-03 22:52] #1020 closed

[2017-02-03 22:52] adelinamart commented on #461
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-03 22:52] #461 closed

[2017-02-03 22:53] adelinamart commented on #442
Is this still needed?

[2017-02-03 22:54] adelinamart commented on #412
Is there anything else needed here?

[2017-02-03 22:55] choumx commented on #7296
Most likely due to stale AMP runtime in SW cache. E.g. My cached version was 1482359659944 which lacked the `mutatedAttributesCallback` method. Can't repro after clearing cache.

Please reopen if still reproducible after clearing cache.

/cc @sebastianbenz Perhaps amp-by-example should change [caching strategy](https://googlechrome.github.io/sw-toolbox/docs/master/tutorial-api) from `cacheFirst` t

[2017-02-03 23:31] choumx commented on #7337
In my opinion this is WAI but agree that it can be confusing. Perhaps the event and action shouldn't have the same name. Is it too late to change this?

[2017-02-03 23:35] #724 closed

[2017-02-03 23:36] choumx commented on #7329
Can't repro this on current canary 1486153081489. Please reopen if you still see this.

[2017-02-04 00:35] mkhatib commented on #7337
Changing the naming I think is a good start, but doesn't address the inconsistencies of **when** the event is fired and might cause some use-cases to not work-as-expected.

[2017-02-04 00:42] camelburrito commented on #7337
if bind in experimental we should change the name now

[2017-02-04 04:01] uncompiled commented on #994
I think this ticket can be closed.  IMO, since this ticket was opened, the release of the AMP validator as a Chrome plugin and nodejs module provide enough information.

[2017-02-04 04:01] #994 closed

[2017-02-04 04:09] #7245 closed

[2017-02-04 09:27] dandv commented on #4299
Any progress on this?

Alternatively, can we [document](https://github.com/ampproject/amphtml/issues/4299) the current node structure and classes for displaying the loader?

[code]

[2017-02-04 17:57] dknecht opened #7350 "Cache validator doesn't support IPv6 URLs"
This will fail the cache validator:
`<a href="https://[2001:0db8:85a3]/">IPv6 URL</a>
`

[2017-02-04 18:06] oliy opened #7351 "Generify Cloudflare ad-network implementation"
This is an intent to implement:

To reduce the burden of ad-networks in integrating a4a, we want to expand the cloudflare ad-network implementation to serve as a base reusable implementation.  The cloudflare implementation will still handle signature extraction and aid in passing contextual information to the ad server.

[2017-02-04 20:50] cramforce opened #7353 "Wrap stack entry points for error reporting"
Due to https://blog.sentry.io/2016/05/17/what-is-script-error.html we get bad error reports in many cases.

While we will do the CORS based workaround, but that does not work in Safari.

For Safari we would need to do stack entry point instrumentation to be able to use try-catch. In particular for Promises this would, however, be really slow.

[2017-02-04 20:51] cramforce commented on #7353
See b/35002808 tracking CORS changes.

[2017-02-04 22:50] dknecht commented on #7353
Cc: @ampproject/cloudflare
We will need to update also.

[2017-02-05 03:51] #7019 closed

[2017-02-05 04:57] ericlindley-g commented on #6856
Thanks — I think documenting that folks can use would be good, but not high-priority. Doesn't seem like a good fit for a default value in the config.

[2017-02-05 06:02] ericlindley-g commented on #6894
@stonezhong, would [the "show more" example on this page demo'ing amp-accordion](https://ampbyexample.com/components/amp-accordion/) address your use-case?

If not, let us know what's missing—I think AMP Bind will address this use-case, if more is needed.

[2017-02-05 10:09] muxin opened #7355 "Make viewport getScrollLeft return 0 instead of accessing dom"
Since we don't allow scroll horizontally on the document by setting `overflow-x: hidden` on `html` and `#i-amphtml-wrapper`, the `viewport.getScrollLeft()` in different viewport binding will always return `0`.

I see we are using `viewport.getScrollLeft` only in [analytics](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/instrumentation.js#L260) and [here](https://gi

[2017-02-05 15:40] csculley opened #7357 "Implement stable livestream URLs in amp-youtube"
While it is possible to use youtube.com/live_stream?channel=channel-id/ with amp-youtube, this URL will only display live events, and not scheduled streams. This means that going to the URL could display "stream offline" while a scheduled stream was playing on that channel.

However, there is also youtube.com/c/channel-name/live, which should go to both scheduled streams or live events, or just th

[2017-02-05 20:41] lannka commented on #6515
As discussed offline, @adewale suggested to add the following to the guidelines.
Assigning to @pietergreyling .

==Guidelines: Adding a new cache to the AMP ecosystem
- Add the domain of your cache to:
https://github.com/ampproject/amphtml/blob/master/spec/known-caches.md
- Contact relevant publishers to make sure they update their CORS
policies to include your origin
- Publicly announce your cach

[2017-02-05 21:57] cramforce commented on #6234
@jpettitt Any chance you'd like to take a shot at implementing this?

[2017-02-05 21:58] #5678 closed

[2017-02-05 22:03] #4788 closed

[2017-02-06 00:02] aghassemi commented on #1689
@ericlindley-g @adelinamart We can close this. It is a core feature of lightbox 2.0, no need to track it separately.

[2017-02-06 00:02] #1689 closed

[2017-02-06 06:17] derekcecillewis commented on #6057
Hey people, I have an initial prototype working. Before I start annotating types, using the AMP API to do DOM manipulation, and making the PR, I was wondering if you all could take a look at [my fiddle](https://jsfiddle.net/derekcecillewis/5apvayn5/)? Disclaimer: I did it all in two evenings and if I had more time I would've written less code. Also, I still need to implement the `value` attribute,

[2017-02-06 10:11] 1987yama3 commented on #7184
I think that it is the cause of self-referral that reference source exclusion configuration has not been done in analytics management page.

However, in normal analytics.js, there is a process that does not send a referrer if the current domain and the referrer domain are the same.
it is setting at "Always Send Referrer" option. https://developers.google.com/analytics/devguides/collection/analytic

[2017-02-06 11:34] bjalford opened #7364 "Intent to implement: Time ago component"
We're (Bright Sites) keen to get involved in contributing to the AMP project. A component that would be useful for sites we work on (The Independent, Evening Standard) is one that displays a time and date as "time ago".

One option could be to implement the moment js script (https://momentjs.com/) It's slightly heavy in size. What are your views?

[2017-02-06 12:00] pooja1016 opened #7365 "AMP accordian"
1. If we have more than one accordion in a page if i click on first section of the first accordion then if i refresh that page it will open all accordion's first section

2. Same thing if i close the second accordion's second section then if i refresh the page it will close all the second section accordion's

[2017-02-06 12:22] eduardcotmrf opened #7366 "Bug: test-placement.js tests failing"
I've just updated the amp-html from master in my local enviroment and some test are failing.

This seems related to https://github.com/ampproject/amphtml/pull/7153.

If I run everything with: gulp test, everything works fine.
But if I do:
[code]

I get this output:

[code]

This happens to me with your master branch clean.

[2017-02-06 15:12] bpaduch commented on #1050
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-06 15:12] #1050 closed

[2017-02-06 15:23] bpaduch commented on #1092
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-06 15:23] #1092 closed

[2017-02-06 15:46] sebastianbenz opened #7368 "amp-form auto submit: option/action to reset form/inputs"
Given a form which auto-submits a text input:

[code]
It'd be great if there'd be a way to clear the input field on successful form submit.

Please also see comments in https://github.com/ampproject/amphtml/issues/7688 regarding possible approaches for this issue.

[2017-02-06 15:47] choumx opened #7369 "amp-bind: Integration tests"
Currently, amp-bind and each component that amp-bind interfaces with (e.g. amp-carousel) have individual unit tests. It'd be good to have an integration test for each `(amp-bind, <other component>)` tuple to prevent regressions across this interface.

/cc @kul3r4 @kmh287

[2017-02-06 16:22] choumx commented on #7329
Seeing this on canary 1486166232176.

[2017-02-06 17:43] mrjoro opened #7370 "Weekly Status 2017-02-06"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-02-06 17:45] #7287 closed

[2017-02-06 18:10] adelinamart commented on #7370
Last week we introduce new labels and milestones for our issues.
We already started to triage issues using the new process and this week will have an official cleanup of all our issues.

[2017-02-06 18:12] mrjoro commented on #7370
- continuing work on encouraging contributions to the AMP Project
  - updated [CONTRIBUTING.md](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md) with additional ways to contribute in PR #7281
  - working on a draft of docs for people new to Git & GitHub; I hope to finish & submit it this week
  - met with [hood.ie](http://hood.ie/)'s Gregor to learn what they've done to encourage

[2017-02-06 18:33] bpaduch commented on #7370
- Localization: Prioritizing and tracking docs to localize for ampproject.org; deprecated NL; Merged translations for JA, ID, IT, ES, FR

[2017-02-06 18:53] dvoytenko commented on #7355
We need to check if this is ever possible in-a-box cases. And we also need to check on pinch-zoom cases which we explicitly allow.

[2017-02-06 18:53] erwinmombay commented on #442
@adelinamart yes, but should be part of i18n work. not sure who owns that

[2017-02-06 18:55] sebastianbenz commented on #7368
@mkhatib @ericlindley-g FYI

[2017-02-06 19:02] dvoytenko commented on #823
Done

[2017-02-06 19:02] #823 closed

[2017-02-06 19:02] erwinmombay commented on #943
@adelinamart i dont believe so

[2017-02-06 19:02] #943 closed

[2017-02-06 19:03] dvoytenko commented on #1014
No. Build cycle has been redone my @mkhatib to wait for full DOM construction for an element.

[2017-02-06 19:03] #1014 closed

[2017-02-06 19:04] #1082 closed

[2017-02-06 19:05] dvoytenko commented on #1137
This is, for now, connected to the a4a validation. The question is whether we can do this kind of validation cheaply on the client side.

@Gregable @powdercloud Did we get to run webworker experiments and such on this?

[2017-02-06 19:06] dvoytenko commented on #1156
This is, for now, connected to the a4a validation. The question is whether we can do this kind of validation cheaply on the client side.

@Gregable @powdercloud Did we get to run webworker experiments and such on this?

[2017-02-06 19:06] dvoytenko commented on #1137
Closing as a duplicate of #1156.

[2017-02-06 19:06] #1137 closed

[2017-02-06 19:07] #1230 closed

[2017-02-06 19:13] #5918 closed

[2017-02-06 19:18] adelinamart commented on #7369
@choumx is this a prioritized FR?

[2017-02-06 19:21] dvoytenko commented on #6497
Closed by #6988.

[2017-02-06 19:21] #6497 closed

[2017-02-06 19:21] mkhatib commented on #7368
We could expose a `form.clear` action similar to `form.submit` and that example would be written like:

[code]

cc/ @rudygalfi

[2017-02-06 19:24] choumx commented on #7370
- Merged several PRs to improve amp-bind's debuggability: #7257
- Use `TreeWalker` in amp-bind's DOM scan: #7288
- Prototyping new Web Worker for amp-bind's expression parsing
- @kmh287 starts rotation today!

[2017-02-06 19:24] sebastianbenz commented on #7368
Would clear also submit the form or would it need to be combined with
submit?

On Mon, Feb 6, 2017 at 7:22 PM Mohammad Khatib <notifications@github.com>
wrote:

[2017-02-06 19:24] lannka opened #7372 "amp-ad.css is loaded twice"
![screenshot from 2017-02-06 11 23 24](https://cloud.githubusercontent.com/assets/8496897/22662718/cd86c666-ec5e-11e6-9d3d-fc51e46e7cc0.png)

[2017-02-06 19:25] mkhatib commented on #7245
Hey @JakePou this won't be in production until couple weeks - it'll be in canary this week.

[2017-02-06 19:26] choumx commented on #7329
This is caused by the `Chunks` service being installed twice and only appears on min builds.

[2017-02-06 19:27] dvoytenko commented on #7217
@Gregable on Runtime side we only need extension name and version, since we always construct RTV version ourselves. So, `src` is unnecessary. I recommend either have `amp-list:0.1` or `{custo-element: 'amp-list', version: 0.1}`

[2017-02-06 19:27] sebastianbenz commented on #7296
I can still reproduce it via this page
https://callous-cheetah.gomix.me/amp-bind-xhr.html (with dev-channel only).

On Fri, Feb 3, 2017 at 10:56 PM William Chou <notifications@github.com>
wrote:

[2017-02-06 19:28] mkhatib commented on #7368
No clear is a reaction to a submission, so they're separate. The submit happens either by the user hitting enter while focused on input text, or blurring the text input (because of the `on=change:form.submit`)

The form is cleared in a reaction to submit event in `on=submit:form.clear`.

[2017-02-06 19:28] JakePou commented on #7245
ahh i see @mkhatib - thank you for the clarification.

[2017-02-06 19:30] sebastianbenz commented on #7368
Ah - didn't realise that the action would go into the form. SGTM

On Mon, Feb 6, 2017 at 7:28 PM Mohammad Khatib <notifications@github.com>
wrote:

[2017-02-06 19:30] lannka commented on #7370
Ads / Analytics
- Turned on new ad loading ux on prod (will be available on 2/9).
- 7 new ad networks:
- Found and fixing an amp-analytics visibility tracking bug

Page performance
- Presented an idea about measuring AMP page jank.
- Added an opt-in only page jank meter.
- Investigated in native LongTask API, potentially it will be very helpful to attribute performance impact to 3p frames.

[2017-02-06 19:31] mkhatib commented on #7368
Yeah my suggestion basically clears all the inputs - if another use-case is required to only affect one input, we could potentially expose a similar method per-input.

[2017-02-06 19:32] camelburrito commented on #7370
- Ampstart
-- baseline Inputs
-- baseline navbar
-- finished baseline templates

- Amphtml
-- Selector experiment cleanup
-- helping with amp-sortable-tables

[2017-02-06 19:34] cramforce commented on #7370
- Big news: Better availability of source URL for AMP docs in Google Search https://developers.googleblog.com/2017/02/whats-in-amp-url.html
- Discovered the source of the “Script error.” errors. See #7353
- 2 new team members. Yaihh. Don't know their GitHub handles yet.
- Faster local default builds #7346

[2017-02-06 19:34] erwinmombay commented on #7370
- on duty
- example binary
- deploy ampstart

[2017-02-06 19:35] muxin commented on #7370
- Have option to check forbiddenTerms in test folders https://github.com/ampproject/amphtml/pull/7234
- Worked on measuring document height when necessary and send to viewer https://github.com/ampproject/amphtml/pull/7327

[2017-02-06 19:35] dvoytenko commented on #7370
1. Splitting renderStart and layout phases in common element API
2. Analytics: ini-load events
3. Analytics: review of visibility spec
4. Launching `make-body-relative`

[2017-02-06 19:37] pbakaus commented on #7370
- Published extended [AMP Conf schedule](https://www.ampproject.org/amp-conf-2017) and speaker details
- Signed up @kosamari as MC for AMP Conf (together with me!), Gina Trapani for Web Platform panel and Beck Cronin-Dixon for Eventbrite AMP talk.
- Created AMPProject.org G Suite accounts for all core team members
- Created automatic importer for blog posts and tweets for new site redesign (https:

[2017-02-06 19:39] #6263 closed

[2017-02-06 19:39] dvoytenko commented on #6263
Launching.

[2017-02-06 19:40] rudygalfi commented on #7370
* Issue cleanup to align with new triage process
* Writing a doc and getting reviews on managing non-authenticated user state in AMP

[2017-02-06 19:41] kmh287 commented on #7370
- Reading docs

[2017-02-06 19:41] kmh287 commented on #7370
- Reading docs

[2017-02-06 19:42] jasti commented on #7370
* Ad placeholders and fallbacks launch this Thursday
* Final review of AMP sticky version 2.0 adoption - at great coverage  > 95%
* AdZerk integration of AMP ads
* Investigating server to server fetch solutions for AMP ads
* Working with MOAT (and other spam detection providers) to provide AMP ad support
* Prep for MRC review of the way we collect viewability signals in AMP

[2017-02-06 19:44] mkhatib commented on #6764
Fixed in #7297

[2017-02-06 19:44] #6764 closed

[2017-02-06 19:50] bpaduch commented on #485
Will investigate.

[2017-02-06 19:56] mkhatib commented on #7370
* [Update form docs with submit action and input changes](https://github.com/ampproject/amphtml/pull/7299)
* [Fixed flakey form test](https://github.com/ampproject/amphtml/pull/7297)
* [Fix submit event not firing on forms](https://github.com/ampproject/amphtml/pull/7278)

[2017-02-06 20:16] honeybadgerdontcare commented on #7338
The validator automatically allows any `data-` attribute. It is possible to add additional restrictions if necessary. See [amp-youtube](https://github.com/ampproject/amphtml/blob/master/extensions/amp-youtube/0.1/validator-amp-youtube.protoascii#L62) as an example.

[2017-02-06 20:19] unitydynamics commented on #5888
Is it possible to animate amp-accordians?

[2017-02-06 20:36] jasti commented on #7261
@kitsunde Could you please express interest in this form and we will reach out to you with more information. Thanks!
https://goo.gl/forms/P2zpQT3aIEU1UsWj2

[2017-02-06 21:11] choumx opened #7376 "Support elements w/ bindings in amp-mustache"
Currently, amp-bind supports updating local bindable state with the JSON results of an [amp-form](https://www.ampproject.org/docs/reference/components/amp-form) XHR. We should support elements with bindings in a form's submit `<template>`. This probably means amp-mustache should ask `bind-impl.js` to scan its children for bindings after templating completes.

[2017-02-06 21:15] mrjoro opened #7377 "Design Review 2017-02-08"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-02-06 21:16] kul3r4 opened #7378 "Add support for Array.includes to amp-bind"
In order to get code readability, we could add Array.contain to amp-bind. At the moment you could achieve the same behaviour by using Array.indexOf() but makes the expressions more complex.
For example,
myArray[index].values.indexOf(anotherIndex) >= 0 ? doSomething : doSomethingElse
could become
myArray[index].values.contains(anotherIndex) ? doSomething : doSomethingElse

@choumx

[2017-02-06 21:16] choumx opened #7379 "amp-bind: TODO list use case"
@sebastianbenz suggested amp-bind support a use case like [ToDoMVC](http://todomvc.com/). One way to accomplish this is to allow `amp-mustache` to template using `amp-bind` state.

This would be a cool addition, though I wonder if allowing Bind to add/remove DOM elements is too powerful. @ericlindley-g mentions that this is an app-like use case that hasn't been prioritized yet.

/cc @cramforce

[2017-02-06 21:17] mrjoro opened #7380 "Design Review 2017-02-15"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-02-06 21:18] cramforce commented on #7377
I'd like to discuss call tracking in AMP. See #7340 and #5276

The doc is https://docs.google.com/document/d/1UDMYv0f2R9CvMUSBQhxjtkSnC4984t9dJeqwm_8WiAM/edit?usp=sharing

[2017-02-06 21:23] choumx commented on #7378
Thanks for filing this issue! Agree this is would be nice.

[2017-02-06 21:24] sebastianbenz commented on #7379
Two other use cases for this feature come to my mind:

* adding multiple travellers to a hotel booking
* adding multiple comments to an article

[2017-02-06 21:25] ericlindley-g commented on #7370
- AMP Start
2 templates implemented (just need tweaks), ampstart.com implementation starting, “opinionated” templates UX underway, kicking off review process

- e-comm product gallery
Blog post in review to share later this week or early next week

- Bind
Initial set of samples nearly ready to broadcast (working through additional ones)
kicking off review process

- amp-app-banner
Solution to iOS

[2017-02-06 21:38] dknecht commented on #7353
@cramforce will this require cache level CORS changes

[2017-02-06 21:43] cramforce opened #7381 "Change tests to fail on logged errors unless they are expected"
A recent change no longer async throws these errors, but relying on that to fail the test was always brittle.

It would be great if we could add a device to expect error logs and fail tests if they don't do so.

[2017-02-06 21:53] cramforce commented on #7379
TODO MVC would be super cool, indeed!

In particular, because the Speedometer benchmark pulls from it

[2017-02-06 21:55] adelinamart commented on #6389
@ryanpoplin seems the issue here was answered. If there are more open questions, feel free to reopen. Thanks!

[2017-02-06 21:55] #6389 closed

[2017-02-06 21:56] cramforce commented on #7353
@dknecht yeah, 2 things

1. Serve CORS response header with `*` in JS responses
2. Insert `crossorigin` attribute into script tags on document responses (to trigger CORS request). The value can be either `anonymous` or `with-credentials` (or whatever that value is). We need to use the latter to be able to support cookie based dev channel opt-in.

[2017-02-06 21:57] cramforce commented on #6210
https://developers.googleblog.com/2017/02/whats-in-amp-url.html how access to canonical is provided now.

I'm also talking to browser folks about how we could get the origin to be as desired.

[2017-02-06 21:57] adelinamart commented on #6415
@ericlindley-g is this something it was prioritized for this year? or still at discussion level? Thanks.

[2017-02-06 21:59] adelinamart commented on #6517
Is this work prioritized for this year? Thanks.

[2017-02-06 22:00] cramforce commented on #6517
I was trying to find this :) Fixed by #7346

[2017-02-06 22:04] adelinamart commented on #6517
Great. I'll close this one.

[2017-02-06 22:04] #6517 closed

[2017-02-06 22:07] adelinamart commented on #6548
Is this request prioritized for this year? Thanks.

[2017-02-06 22:11] adelinamart commented on #6628
Hi,
It seems some changes pending 3P were merged. Is this blocked? Thanks.

[2017-02-06 22:13] adelinamart commented on #6666
@camelburrito are there any otehr open questions here that need to be answered? Thanks.

[2017-02-06 22:16] adelinamart commented on #6719
@lannka is there any new FR we need to open here? Thanks.

[2017-02-06 22:36] ithinkihaveacat commented on #6210
The iOS Google Search App seems to be sharing the origin's AMP URL, not the canonical:

![img_0761](https://cloud.githubusercontent.com/assets/51244/22669437/6824f6d6-ecbc-11e6-92ea-2962f77a803a.PNG)

[2017-02-06 22:44] adelinamart commented on #6578
Is this still needed? Thanks

[2017-02-06 22:44] lannka commented on #6415
Yes. We done a design review. @muxin will probably pick this up when she
finish her current work.

Regards,

Hongfei

On Mon, Feb 6, 2017 at 1:57 PM, Adelina <notifications@github.com> wrote:

[2017-02-06 22:45] adelinamart commented on #6574
Is this still an issue?

[2017-02-06 22:51] lannka commented on #6690
Can't reproduce.
The test when ran alone fails with
[code]
which is tracked as another bug: #6670

[2017-02-06 22:51] #6690 closed

[2017-02-06 22:59] #7303 closed

[2017-02-06 23:12] lannka commented on #5934
@dvoytenko has opinion on the name "unload", since it's not really a page unload (leaving the page). how about "pagehidden" then?

[2017-02-06 23:27] mkhatib commented on #7002
Looks like a bug in Edge history.pushState implementation. I filed a [bug for them here](https://github.com/Microsoft/ChakraCore/issues/2479) - will patch in our code to use the current page path internally to fix this.

[2017-02-06 23:51] muxin commented on #7355
According to @lannka the content is not scrollable in in-a-box case, so the scrollLeft should be 0 as well.
Is the pinch-zoom in ios only or android too? I tried to zoom in viewer in ios and it's totally broken (The page layout is ). Even in zoom case we still have `overflow-x: hidden` so it has `0` scrollLeft anyway.

[2017-02-06 23:59] camelburrito commented on #7365
@pooja1016 please paste a url (or a jsbin) to help debug

CC @zhouyx

[2017-02-07 00:10] adelinamart commented on #6763
@zhouyx to reply here. Thanks.

[2017-02-07 00:16] adelinamart commented on #6487
Is this still an issue?

[2017-02-07 00:18] rudygalfi commented on #6608
Closing this and adding to our 3P tracker: https://github.com/ampproject/amphtml/projects/15. If anyone at Alexa begins integration work, please re-open and use this to track the pull requests.

[2017-02-07 00:18] #6608 closed

[2017-02-07 00:19] rudygalfi commented on #7364
cc @cramforce for feedback

[2017-02-07 00:21] cramforce commented on #6210
@ithinkihaveacat yes, that is currently correct, but will change with a future release.

[2017-02-07 00:22] adelinamart commented on #6424
Do we still need to have a discussion here? Thanks.

[2017-02-07 00:24] mkhatib commented on #6424
I doubt we'll do this, I'll defer to @rudygalfi but I think it's ok to close this one - closing it now - Rudy feel free to re-open if that's something we'd like to do.

[2017-02-07 00:24] #6424 closed

[2017-02-07 00:24] muxin commented on #6487
Yes.
@dvoytenko Adding `overflow: hidden` **temporarily** should be OK, right?

[2017-02-07 00:24] adelinamart commented on #6281
What are the latest updates on this request? Thanks

[2017-02-07 00:32] adelinamart commented on #6260
Is this still an issue? Thanks.

[2017-02-07 00:32] camelburrito commented on #6512
@rudygalfi - the links do not work :(

[2017-02-07 00:33] adelinamart commented on #6254
Is this done? Thanks.

[2017-02-07 00:33] camelburrito commented on #6512
@mkhatib - this might also have something to do with the issue i showed you today morning.

[2017-02-07 00:34] adelinamart commented on #6217
Is this done? Thanks

[2017-02-07 00:37] ericlindley-g commented on #6512
Here's what I think is a [working example](https://www.ampproject.org/docs/reference/components/amp-analytics#transport)

[2017-02-07 00:37] dknecht commented on #7351
Why was this labeled a P3?

[2017-02-07 00:38] JamesIves opened #7388 "amp-notsupported for amp-ads is misleading"
The wording for the class `amp-notsupported` on the amp-ad element is not consistent with the real problem when an ad fails to load, and rather mileading. For example if an advert was loaded via DFP and DFP has no ads to show, the class `amp-notsupported` gets added to the amp-ad element. However this is the same class that gets added if Google AMP decides it cannot show the ad due to the creative

[2017-02-07 00:41] jasti commented on #7351
Updated.

[2017-02-07 00:48] jasti commented on #6096
@zhouyx would you be able to look at this please?

[2017-02-07 00:50] #7337 closed

[2017-02-07 00:57] choumx commented on #7298
Fixed by #7387.

[2017-02-07 00:57] #7298 closed

[2017-02-07 00:57] mkhatib commented on #6512
@rudygalfi I am not sure I understand, is this related to page load or actually clicking a specific anchor inside `amp-sidebar`?

Also, which platform you're seeing this on?

[2017-02-07 01:02] mkhatib commented on #6512
@camelburrito what was the URL for the page you showed me?

[2017-02-07 01:07] dvoytenko opened #7389 "Cleanup amp:built and amp:load events in favor of signals"

[2017-02-07 01:07] jasti commented on #7388
@lannka would you please look at how the "no ad" situation can be more developer friendly?

[2017-02-07 01:13] cramforce commented on #7364
So, …, I think that this would be great in general. We have largely avoided i18n baked into AMP components, so it would be not completely clear how that would be done here.

Moment.js would definitely be a pretty big gun for this specialized use case. What does it weigh in at?

[2017-02-07 01:59] muxin commented on #6574
Yes still seeing this.

[2017-02-07 02:19] camelburrito opened #7392 "Disallowed SVG tags"
Not sure why we dis-allow certain svg tags.
https://validator.ampproject.org/#url=http%3A%2F%2Foutput.jsbin.com%2Frenepir%2Fquiet

Here is how i got this asset, our UXDesigner used sketch to download an image as svg (export)

and i optimized it on http://petercollingridge.appspot.com/svg-optimiser.

I think we should revisit this and whitelist tags that are generated by popular image creating soft

[2017-02-07 02:29] camelburrito opened #7393 "Let certain form elements to be outside the form"
With bind, we should be totally be able to put tags like `<select>`, `<input type='radio'>`, `<input type='checkbox'>` to some good use outside of forms (imagine applications like credit card recommendations/ showing hotel menu  etc,)

[2017-02-07 02:48] dknecht opened #7394 "URL Parsing difference in validators"
`http://example\x10.com/ `

JS validators doesn't allow, but cache validator allows

[2017-02-07 03:14] rudygalfi commented on #6512
@ericlindley-g Can you clarify how to repro using your example. For instance, I'm not sure if you're referring to mobile emulation mode or which anchor tags to click on.

@mkhatib If memory serves, this was reported on the mailing list. I believe the cases were:

- amp-sidebar does NOT extend the full height of viewport. In the middle of a very long page (~5,000px) there's a div with id="middle" w

[2017-02-07 03:56] jasti opened #7395 "Give preference to collapsing an ad slot even with a configured placeholder"
At the moment, if a publisher configures a placeholder as part of amp-ad, we always display the placeholder even when we can collapse it (when the ad is not in the current viewport).
We should go ahead and collapse the slot whenever we can when the ad returns 'no-content'.

We prefer this approach because the user has an ad free experience, where possible, without losing any publisher revenue.

CC

[2017-02-07 05:47] yogeshkhetani opened #7396 "AMP Pages Syntax Error"
Hello,

This AMP pages are working better but correct standards need to be followed. I know about common AMP errors like AMP markup missing, Content mismatch and others but today on my blog I found a new AMP error. It's the error of **Syntax Error** and its something that I should be worried because Google Search Console detects it as **Critical error**.

For reference, this error happened on the

[2017-02-07 05:52] pooja1016 commented on #7365
https://ampbyexample.com/components/amp-accordion/

1. Open this example provided by you only
2. Click on 1st accordion second section and then refresh the page
3. Then check third accordion second section. It will expand automatically

[2017-02-07 08:11] tlong2 commented on #6217
We haven't started experimenting yet. The reviewer asked me to create this issue, so we remember to tidy it up once we're happy to launch fully.

[2017-02-07 08:33] camelburrito commented on #6057
@derekcecillewis - hope you saw my comments on slack  - i created a sortable table prototype with flexboxes - check it out :)

http://output.jsbin.com/webuval

And you can use it to compare performance.

[2017-02-07 08:40] camelburrito commented on #7365
Looks like the issue here is amp-accordion does not have any id attached to it hence the effect. Not sure why the runtime stopped generating ids

@dvoytenko , @jridgewell

[2017-02-07 08:55] camelburrito commented on #6057
Table + Refilling DOM

<img width="1218" alt="screen shot 2017-02-07 at 12 52 34 am" src="https://cloud.githubusercontent.com/assets/1037311/22684142/f2e6dc4a-eccf-11e6-8696-5db1f0682bca.png">

Flexbox Performance
<img width="1211" alt="screen shot 2017-02-07 at 12 51 20 am" src="https://cloud.githubusercontent.com/assets/1037311/22684116/d81586fa-eccf-11e6-9199-7dbdaeec1752.png">

Looks like Flex

[2017-02-07 09:05] pooja1016 commented on #7365
Okay how can I resolve this ?

[2017-02-07 09:12] camelburrito commented on #7365
As a workaround try giving ids to all your accordions

[2017-02-07 09:22] pooja1016 commented on #7365
If i give id's how that will resolve this?

by the way if you fix this issue from your end it will effect for all right because for this accordion we are using your cdn

[2017-02-07 09:33] camelburrito commented on #7365
I meant that as a workaround .

Yes we will be fixing it in the amp library itself. This workaround should not cause any breakage even after our fix goes live

[2017-02-07 11:00] timsueberkrueb opened #7397 "Extension for embedding Google+ posts"
## Short description of your issue:

While it is possible to embed posts from many [other social networks](https://github.com/ampproject/amphtml/tree/master/extensions#social), there is no way (correct me if I'm wrong) to embed a Google+ post in an AMP page, yet. This would be a very useful addition to me.

## What browsers are affected?

All browsers.

## Which AMP version is affected?

All versi

[2017-02-07 12:35] pooja1016 commented on #7365
Tried giving different id's and it's working fine now

Thank you:)

[2017-02-07 12:57] bjalford commented on #7364
Just over 20k - 60k with locales. We think that we will do something custom that fits the exact use case.

[2017-02-07 12:57] ymschaap commented on #5219
I'm happy to work on this. Should I add it as a feature to the existing `amp-facebook` as `data-embed-as=comment` or create a new `amp-facebook-comments`?

[2017-02-07 14:37] kul3r4 commented on #7378
@choumx What is the reason behind the decision to include some Javascript function and some not? Is there a process to add a new one if it's needed?

[2017-02-07 15:21] eike-hass commented on #6219
It seems the font-loading stopped working on IE11. Can you reporduce this issue?

[2017-02-07 15:24] bpaduch commented on #465
@jmadler - Is this still an issue?  All examples for components are in [Examples](https://github.com/ampproject/amphtml/tree/master/examples).  Are you suggesting moving each example into their own subdirectory?  So, the `brightcove.amp.html` example s/b in extensions/amp-brightcove?

[2017-02-07 15:30] bpaduch commented on #532
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 15:30] #532 closed

[2017-02-07 15:37] bpaduch commented on #2124
I think this is well covered in https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md.  Yes?

[2017-02-07 15:38] choumx commented on #7378
For context, `Array.includes` used to be whitelisted but was removed in https://github.com/ampproject/amphtml/pull/6459 due to lack of cross-browser support. I think we can either add a simple polyfill, either generally or for `BindExpression`.

[2017-02-07 15:44] #2258 closed

[2017-02-07 15:47] #2124 closed

[2017-02-07 15:49] bpaduch commented on #2334
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 15:49] #2334 closed

[2017-02-07 15:54] bpaduch commented on #2431
Fixed in https://github.com/ampproject/amphtml/commit/994dbc735d7c0afe2e0fc43cb3b4d1a7758b331b.

[2017-02-07 15:54] #2431 closed

[2017-02-07 15:55] kmh287 commented on #7378
Is there a good reason not to add the polyfill?

[2017-02-07 15:55] bpaduch commented on #2431
Fixed in https://github.com/ampproject/amphtml/commit/994dbc735d7c0afe2e0fc43cb3b4d1a7758b331b.

[2017-02-07 16:02] bpaduch commented on #2896
I feel like this is well-covered in the [Eng Docs](https://github.com/ampproject/amphtml/blob/master/DEVELOPING.md#eng-docs) that are referenced, particularly:

- [Life of an AMP](https://docs.google.com/document/d/1WdNj3qNFDmtI--c2PqyRYrPrxSg2a-93z5iX0SzoQS0/edit#)
- [Building an AMP Extension](https://docs.google.com/document/d/19o7eDta6oqPGF4RQ17LvZ9CHVQN53whN-mCIeIMM8Qk/edit#)

If you feel oth

[2017-02-07 16:02] #2896 closed

[2017-02-07 16:10] cramforce commented on #7395
I'm onboard with this, but you mentioned that stuff like "house ads" fallbacks might not want this behavior.

Would be good to get some publisher feedback. CC @jpettitt

[2017-02-07 16:12] ericlindley-g commented on #6219
Re-opening this issue
/cc @camelburrito

[2017-02-07 16:15] cramforce commented on #7364
SG @bjalford how do you handle i18n?

[2017-02-07 16:15] bpaduch commented on #2623
I'm going to close this one.  If you disagree, please reopen.  The [amp-ad](https://www.ampproject.org/docs/reference/components/amp-ad) reference docs include a section on "[Placeholder](https://www.ampproject.org/docs/reference/components/amp-ad#placeholder)".  As well, any components that utilize common attributes references the "Common Attributes" doc, which has [placeholder](https://www.amppr

[2017-02-07 16:15] #2623 closed

[2017-02-07 16:19] cramforce commented on #5219
@ymschaap I think adding this to `amp-facebook` makes sense since it can do 2 things already.

[2017-02-07 16:22] kul3r4 opened #7399 "amp-bind can't set state for variables inside amp-state"
At the moment it's only possible to set the values for global variables via AMP.setState but not for variables declared inside amp-state.

Example:
`AMP.setState(foo=123)` -> is working

`AMP.setState(myAmpState.foo=123) `
where
[code]
is not working.
Current workaround is setting default variables.

@choumx @ericlindley-g

[2017-02-07 16:36] ericlindley-g commented on #6512
Apologies — my example might be related to the issue, but isn't the same use case.

To repro on mobile emulator or desktop (works fine on iPhone 6/Chrome):

1. Click on this [example](https://www.ampproject.org/docs/reference/components/amp-analytics#transport)

expected: Page opens, scrolled such that heading[id="transport"] is at the top of the viewport

actual: Page opens, scrolled to the botto

[2017-02-07 16:38] choumx commented on #7399
Chatted with Chiara and agree that it would be nice to use `amp-state` to set default values for state variables like `myAmpState.selectedColor` rather than using `selectedColor || <default-value>` everywhere. We'd need to add support to the parser in `action-impl.js`.

A couple thoughts:
- `AMP.setState(myAmpState.foo=bar)` seems better than `AMP.setState(myAmpState={foo: bar})`
- Actions parser

[2017-02-07 16:55] keepitsimple commented on #5225
@dvoytenko Here you are: http://m.domino.com/main/issue1
Please click on the link on the page; then click a back icon.

[2017-02-07 17:01] bpaduch commented on #6815
@sebastianbenz - Can you confirm this is fixed?

[2017-02-07 17:14] erickbosco opened #7400 "amp-iframe scroll in iOS not working"
The scrolling of amp-iframe in iOS not working, Safari and Chrome.
I'm using the currently AMP version.

The code is simple:
[code]

**More details:**
Device: iPhone 6
OS: iOS 10.2
Chrome: 55.0.2883.79

The same code working fine on Android.

[2017-02-07 17:27] adelinamart commented on #6217
Great. Let us know once this is done. Thanks.

[2017-02-07 17:29] sebastianbenz commented on #6815
@bpaduch yes - it's fixed.

[2017-02-07 17:38] adelinamart commented on #6815
Great. Marking this as closed. Thanks.

[2017-02-07 17:38] #6815 closed

[2017-02-07 17:41] #7329 closed

[2017-02-07 17:55] dvoytenko commented on #6487
I'll leave it up to @aghassemi as he tried more things around it. My reservation is that `overflow:hidden` would reset the scrolling and it'd be very noticeable with the semi-transparent background.

[2017-02-07 17:59] dvoytenko commented on #5219
@cramforce @ymschaap I think that depends on the pattern we'd choose. If we go down the path of "See comments" button that expands into the full list of comments - I think a separate `amp-facebook-comments` would work better since it'd function significantly different from a post-style facebook embed.

[2017-02-07 17:59] jpettitt commented on #7395
I'm onboard with this.

[2017-02-07 18:02] dvoytenko commented on #7365
@camelburrito The runtime has stopped auto-generating IDs a very long time ago (/cc @lannka). If you need some form of identifier, the extension has two choices: either auto-gen an ID or a separate internal attribute that can be referenced by the extension.

[2017-02-07 18:07] adelinamart commented on #5450
is this still happening?

[2017-02-07 18:08] bpaduch commented on #2176
@cramforce  - How can I determine what vendors are supporting amp-pixel?  We currently list all supported analytics vendors [here](https://www.ampproject.org/learn/who/#analytics).

[2017-02-07 18:09] jpettitt commented on #6234
@cramforce even more slammed that last time you asked. :-(

[2017-02-07 18:12] dvoytenko commented on #6578
Yes. I believe this hasn't been done yet.

[2017-02-07 18:13] ymschaap commented on #5219
@dvoytenko yes, the comments plugin is very different in functionality compared to embedding facebook posts/videos. But if you look at the way how Facebook approaches this, it is just another (sibling) [social plugin](https://developers.facebook.com/docs/plugins).

On the technical side, the AMP implementation (see #7398) is a few lines of code on top of existing `amp-facebook`.

[2017-02-07 18:16] dvoytenko commented on #5888
@unitydynamics There were no plans. Can you describe a use case?

[2017-02-07 18:20] adelinamart commented on #5541
Hi,
I see some of the issues related to this issue were solved. Are there still any other open question here? Thanks.

[2017-02-07 18:21] rudygalfi commented on #2176
After ~1 year since this was filed, I don't think tracking pixel implementations on ampproject.org is needed. The typical path for a vendor will be to use amp-analytics. Those vendors who have an amp-pixel only implementation for analytics can provide visibility and make it clear in their own documentation.

[2017-02-07 18:21] #2176 closed

[2017-02-07 18:29] adelinamart commented on #4227
Is this still needed? Thanks.

[2017-02-07 18:30] bpaduch commented on #2673
@adelinamart  - Can we assign this to a developer who's familiar with these topics?

[2017-02-07 18:31] adelinamart commented on #4226
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further