[2017-12-13 19:33] e2corporation commented on #12418
@lannka Thanks, aside from the revenue issue, the more important issue is the clipping. For ads that aren't already in viewport even those size requests get denied resulting in clipped ads.

[2017-12-13 19:40] flaviori commented on #12071
I think this issue is still open and feels independent of media pool.
What seems to be happening is that when all video sources in one story-page fail or are slow to load, the page is stuck for a certain timeout before the user can tap. After a fixed amount of time, the volume icon shows up, and the user can tap again. It seems like as soon as the poster loads, we should allow tapping on the page

[2017-12-13 19:42] calebcordry commented on #12119
I will be discussing analytics url variable filters related to #2198.

There will likely need to be a rewrite of the code existing behind the experimental flag to get the intended functionality.

[2017-12-13 19:54] jamesshannon commented on #12240
@aghassemi Have you had a chance to look at the race condition?

[2017-12-13 20:06] lannka commented on #12418
@e2corporation the publisher will want to use an overflow element:  https://github.com/ampproject/amphtml/blob/master/ads/README.md#specifying-an-overflow-element

I suggest you update your documentation and example so that your customers are aware of this feature.

[2017-12-13 20:55] #12118 closed

[2017-12-13 21:12] rsimha-amp commented on #11662
Update from design review: Let's set the default to `WARN` after doing the following:
1. Improve the aesthetics of the logging message.
<img width="878" alt="screen shot 2017-12-13 at 4 11 33 pm" src="https://user-images.githubusercontent.com/26553114/33962657-4cfd77d6-e020-11e7-81ce-588160933396.png">
2. Make sure this is tested for external pages with and without validation errors.
3. When a pag

[2017-12-13 21:17] e2corporation commented on #12418
Thanks @lannka, I remember having a discussion about the overflow element with our team previously and at that time it was not the best ux option for us, since it required users to have to click a button in order to show ads that should be allowed visible in the first place. I'll get this fallback implemented though as it is better than showing clipped ads, and discuss it with our team as a short-

[2017-12-13 21:21] e2corporation commented on #12418
@lannka Are you able to provide links/docs on the latest notes regarding us becoming a fully A4A compliant ad type? We need this on our roadmap. Thanks.

[2017-12-13 21:23] bpaduch commented on #12020
@jpettitt  - this also seems to happen for "fill"  because it doesn't have an intrinsic size, yes?

[2017-12-13 21:33] warrengm commented on #12411
Here some notes from today's design review (https://github.com/ampproject/amphtml/issues/12119).

- Implement the resource timing functionality within the core amp-analytics since we expect the code size to be relatively small.
- Check whether there are any major incompatibility issues with the previous resource timing proposal. There are no plans to support the same feature set, however we'd like

[2017-12-13 21:42] aghassemi commented on #12119
### Default logging level by @rsimha-amp
without `#development=1` `log.user.warn` does nothing.
Question is: Should we start showing these by default? as in change the default from `off` to `warn`

Hongfei: Is `warn` stripped out during compilation?
Malte: No we keep `warn` in log
Malte/Paul: We should do it.
Paul: We should inform the community when this change happens so they don't think their p

[2017-12-13 21:58] lannka commented on #12411
Awesome! Looking forward to your PRs.

[2017-12-13 22:10] choumx opened #12454 "amp-story: Improve viewer -> story transition"
There are two loading indicators displayed during page load -- one from SRP and one from amp-story. There are several strategies to improve the UX for different surfaces.

/cc @flaviori

[2017-12-13 22:11] #12306 closed

[2017-12-13 22:18] jasti opened #12455 "Support image-map in <amp-img>"
Helpful to build AMP native seat pickers instead of relying on amp-iframe

[2017-12-13 23:06] lannka commented on #12418
@jasti

[2017-12-13 23:08] choumx commented on #11843
Looks like this is still happening for some stories. Preliminary debugging shows `amp-story-*` elements not being laid out because of 0-height layout boxes. Investigating further.

/cc @flaviori

[2017-12-13 23:14] rsimha-amp commented on #12439
I'm adding @bradfrizzell for comment.

Yes, this bug was exposed by #12152. The issue is captured under https://github.com/ampproject/amphtml/issues/12054#issuecomment-346154439, and is assigned to @bradfrizzell for a fix.

@lannka, some observations:

- There is no `getMode().LocalDev`. I assume you were talking about `getMode().isLocalDev`.
- The value of `getMode().isLocalDev` is written to `AM

[2017-12-13 23:35] lannka commented on #12427
this is a bug. I'm coming up with a fix shortly.

[2017-12-13 23:46] rsimha-amp commented on #12439
I have a fix out for review at #12458

[2017-12-13 23:47] rsimha-amp commented on #12054
I have a fix (for item 1 in https://github.com/ampproject/amphtml/issues/12054#issuecomment-346154439) out for review at #12458

[2017-12-13 23:53] aghassemi commented on #12240
Hi @jamesshannon , we will be picking this issue up this Friday in our a11y hackathon day. I am very hopeful a fix will make it to next week's Dev Channel release on Tuesday.

[2017-12-14 00:23] lannka commented on #12439
I'm looking at https://github.com/ampproject/amphtml/blob/master/src/mode.js#L104

This is great. Can you share a code pointer where this is done?

The fix makes sense.

[2017-12-14 00:48] rsimha-amp commented on #12439
Right, I'm looking at the same place. There is no `LocalDev` (upper case L). See line 79 for the assignment to `isLocalDev`.

[2017-12-14 01:14] #12218 closed

[2017-12-14 01:14] rsimha-amp commented on #12439
And see https://github.com/ampproject/amphtml/blob/master/build-system/tasks/prepend-global/index.js#L164 for where we enable `isLocalDev` in `AMP_CONFIG`.

[2017-12-14 01:14] choumx commented on #8397
Fixed with #12285.

[2017-12-14 01:14] #8397 closed

[2017-12-14 01:16] rsimha-amp commented on #12439
I agree that the logic is complicated. This is because the config is written during build time, and returned at runtime. I wonder how they can be consolidated without a file read.

[2017-12-14 02:36] jasti commented on #9546
Yes, IMO. @keithwrightbos ?

[2017-12-14 11:19] ericlindley-g commented on #10385
Hi @ethereal-sandeep and @aghassemi  —  I've heard from a few developers recently that they're interested in using this component, so just wanted to check in on how it's going.

[2017-12-14 13:47] ethereal-sandeep commented on #10385
Hey

I haven’t been able to work on it much. Still good work is pending. As it’s
my first big component in AMP, I need some help. My code is available at
above provided wip branch.

On Thu, 14 Dec 2017 at 4:50 PM, ericlindley-g <notifications@github.com>
wrote:

[2017-12-14 14:28] ericlindley-g commented on #10385
Thanks @ethereal-sandeep — is there something you specifically could use help with? (is it still related to the test case and ui update you mention above?)

[2017-12-14 15:34] keithwrightbos opened #12463 "Indicate page validity as part of local gulp proxy serving"
There has been numerous times when attributes or meta tags have been introduced as part of PRs but not added to the validator whitelist.  Part of the reason is that local testing via gulp proxy works as expected as there is no validation.  Would be ideal if part of proxying would be to run the JS validator (can be async to serving page) to indicate if and why the page fails validation.

[2017-12-14 15:55] YoshinoriKobayashi opened #12464 "Button does not appear if Facebook Like button's URL contains numbers and dashes"
Hi!
Button does not appear if Facebook Like button's URL contains numbers and dashes

For example NG pattern
https://xxxxxx/column/160824-6/amp
https://xxxxxx/column/666-666/amp

For example OK pattern
https://xxxxxx/column/naturak-6/amp
https://xxxxxx/column/natural-hi/amp
https://xxxxxx/column/666666/amp

Thank you!

[2017-12-14 17:19] aghassemi commented on #10385
@ethereal-sandeep best way to collaborate would be if you open a Pull Request so it is easier to comment on the code. The first PR does not need to have all the features or tests.

[2017-12-14 17:38] aghassemi commented on #12464
/cc @eduardogoncalves if you have time to look into it.

[2017-12-14 17:38] bpaduch commented on #12261
@lannka & @jridgewell - I appreciate Justin's confidence that I wrote something about it, but I cannot locate any mention of "no intrinsic size".  This doesn't just only affect responsive, but also `fill` and and `fixed-height`; I guess wherever AMP doesn't have the full dimensions in a float.  I am investigating to better understand this, so that I can better cover in the appropriate docs; of cou

[2017-12-14 18:15] choumx opened #12469 "amp-bind-macro: Improve error message"
Currently the error message for recursive/cyclic macros is something like `foo is not a supported function` *at invocation time* even though `foo()` may well exist. It'd be better to have a more precise error message *at parse time*.

/cc @josh313

[2017-12-14 18:20] eduardogoncalves commented on #12464
@YoshinoriKobayashi  Hi, I tested, and it's working, can you check the source code of this page?
https://www.testesmegadivertidos.com.br/teste/16_amigoempromocao-quais-amigos-estao-em-promocao-na-sua-loja-virtual.html
[code]

You must add this in header:
[code]

[2017-12-14 18:22] eduardogoncalves commented on #12464
![image](https://user-images.githubusercontent.com/4308648/34007969-90b60ea8-e0e2-11e7-8d0b-9fb261733f75.png)

[2017-12-14 19:02] newmuis commented on #12071
fwiw it's independent of MediaPool, but was fixed in #12156 anyway.  The problem is that the PageAdvancement is not started until after the page has loaded.  It can be started at construction or build time to fix this issue.

[2017-12-14 19:04] jpettitt commented on #11881
+@sebastianbenz this will break https://github.com/ampproject/amp-toolbox/blob/master/ssr/lib/transformers/ApplyLayout.js

[2017-12-14 19:06] e2corporation commented on #12418
@lannka I think there is a real bug in renderStart with accepting a width/height payload. If renderStart is provided a payload, then it should remove the i-amp-sizer element, and set the inline height style on the amp-ad container.

The reason for our clipping is that the i-amp-sizer element is inheriting the fallback value from our heights formula of "100vh". Any thoughts on this?

[2017-12-14 19:39] #12439 closed

[2017-12-14 19:41] rsimha-amp commented on #12054
@bradfrizzell Assigning this back to you for the case where `localDev` is true, and the ads are being served from a non-localhost server. Let me know what you find out.

[2017-12-14 19:41] #12427 closed

[2017-12-14 19:42] #12333 closed

[2017-12-14 19:53] choumx commented on #12454
@hongwei1990 has the latest mocks. High-level strategy is to (A) require availability of background/poster image before display and (B) allow page navigation while video is loading.

Current proposal:
1. Remove amp-story's "3-dot" loading page
2. Delay "document-ready" viewer signal until the first page's background/poster image is ready
3. If first page has a video, show a small spinner on bottom

[2017-12-14 20:28] cpapazian commented on #11881
Allowing top/left/right/bottom styles would unblock something that we at Pinterest have been stuck on for a while. For the current implementation of our pin grid in AMP, we calculate the position of each pin (for multiple viewports) server side and use that to generate a CSS class for each pin.

for example:
[code]

There are two major drawbacks to this approach that inline styling of top/left att

[2017-12-14 20:32] choumx commented on #9768
@danielrozenberg is going to take this on. 🎉

[2017-12-14 20:38] cpapazian commented on #12372
This functionality already exists in the `mutatedAttributesCallback` method of amp-list.
[code]
You can trigger amp-bind to point to an object or list in amp-state instead of a URL, in which case `renderItems_` is called immediately, rather than after the fetch resolves.

Are you suggesting this capability be added to the initial state of the amp-list? That would be great, and is something I've be

[2017-12-14 21:27] choumx commented on #12372
That could work but I think we might want to discourage unnecessary client-side rendering in principle. I.e. publishers should just use `placeholder` to display zero-state content.

[2017-12-14 21:49] zackargyle opened #12473 "Remove delay from amp-install-service-worker"
## Service worker does not install until 10 seconds have passed

This delay should be configurable. Ten seconds is a fine default for people who just throw it in, but it is far too long for real use cases.

## How do we reproduce the issue?

[Respective Code](https://github.com/ampproject/amphtml/blob/master/extensions/amp-install-serviceworker/0.1/amp-install-serviceworker.js#L104)

[2017-12-14 22:30] cpapazian commented on #7654
Will this support matching elements rendered from mustache templates?

[2017-12-14 23:25] lannka commented on #7654
Yes, that's part of the requirement.

[2017-12-15 03:35] YoshinoriKobayashi commented on #12464
@aghassemi  @eduardogoncalves Thank you!(*^^*)
Like Button does not appear, URL is a combination of numbers and hyphens

For example NG pattern
https://xxxxxx/column/160824-6/amp
https://xxxxxx/column/666-666/amp

This is chekc point.
**160824-6**
**666-666**

I want you to see the next test page.
All but the data-href and URL are the same page.

NG pattern
https://swiftbg.github.io/swiftbook/amp/

[2017-12-15 06:01] aghassemi opened #12478 "Support `alt` on `<amp-pinterest>`, if not provided use the "title" from the pin data"
Unlike `amp-instagram`, we render the `img` for `<amp-pinterest>` and therefor we can support `alt`.

Pin data also contains a `title` which we can set as `alt` if no `alt` is provided from the component

[2017-12-15 06:05] aghassemi opened #12479 "Sidebar/Lightbox should return the focus back to the "opener" when it closes."
Currently focus gets lost and goes back to the top of the page.

[2017-12-15 06:10] aghassemi opened #12480 "video autoplay: unmute action is not accessible via keyboard or screen-reader"
because it is not a focusable button. it should be.

[2017-12-15 11:01] eduardogoncalves commented on #12464
@YoshinoriKobayashi, please check your code and remove the highlighted part.
![image](https://user-images.githubusercontent.com/4308648/34039318-c7d57870-e16d-11e7-8115-22590d1855f7.png)

Your typing: data-href="https://www.facebook.com/https://swiftbg.github.io/swiftbook/amp/naturak-6/"
You should type: data-href="https://swiftbg.github.io/swiftbook/amp/naturak-6/"

It's working, check: http://ww

[2017-12-15 11:50] spacedino commented on #6469
Final designs and spex. The final design we decided on was not actually a11y color compliant so I had to change. Open to discuss if there are issues but this should work for now. We might want to make it more obvious which are the start and end dates by changing the shape since the color is pretty dark now. Or we could decide that having the start and end dates as a dark color, but the middle date

[2017-12-15 13:52] nlamming commented on #2931
15th December and I'm still seeing the errors. Anyone else found a solution/workaround (other than not embedding slideshare)?

[2017-12-15 14:23] Adventive opened #12481 "Intent to Implement amp-ad type: Adventive"
Hello!

[Adventive](http://www.adventive.com/html5-ad-gallery/) would like to integrate our network into `amp-ad` types. PR soon :)

Also, if there are clarifications questions on implementing this, is it acceptable to ask them here, or shall I create a separate ticket for it?

Thanks!

[2017-12-15 15:28] YoshinoriKobayashi commented on #12464
@eduardogoncalves
OH no! I'm sorry! m(_ _)m  I success when I updated it!
Very Very Thank you!

[2017-12-15 16:09] eduardogoncalves commented on #12464
@aghassemi I believe you can close this one.

[2017-12-15 16:10] sebastianbenz opened #12483 "Support cross origin preconnect"
I was surprised to see that preconnect with crossorigin flag doesn't validate, e.g.:

[code]

Am I missing something?

//cc @cramforce

[2017-12-15 16:30] cramforce commented on #12483
Currently we don't allow any `link-rel-preconnect` as far as I'm aware. Or did we start allowing them and only strip them?

In that case we should totally start allowing crossorigin there.

CC @Gregable

[2017-12-15 16:32] sebastianbenz commented on #12483
This is valid:  `<link rel="preconnect" href="https://fonts.gstatic.com/" >`

[2017-12-15 16:35] cramforce commented on #12483
yeah, while writing the comment I realized we changed this.

We should totally add the attribute. Assigning to @Gregable but @sebastianbenz if you want to just send a PR that would possibly be faster since it is such a simple change.

[2017-12-15 16:36] cramforce commented on #12483
PS: Hoping for some time in 2018 where this attribute won't be needed in terms of performance anymore.

[2017-12-15 18:16] calebcordry commented on #12232
There is a pending PR implementing this behavior. Note: this is checking to see if the site is using the shadow amp binary which, while is what is suggested, not everyone is doing. I asked around and this seems the best decision as the people not doing this aren't going to get all the advantage of `PWAMP` anyway, and may not see the benefit of increased priority.

I am going to cc/ @pbakaus so he

[2017-12-15 19:14] sebastianbenz commented on #12483
Took a quick look at how the validator schema works. @Gregable am I right that I need to define a new rule for `link=preconnect` to make sure that `crossorigin` is only allowed in this context? Or is there a simpler way?

[2017-12-15 19:15] jridgewell commented on #12481
Feel free to ask them here, or in the PR.

[2017-12-15 19:46] lannka commented on #12481
Yep. This is the place :-)

[2017-12-15 20:31] choumx commented on #4146
Flagging that this may be needed at some future date for `amp-story`. Not blocking for now.

/cc @newmuis @flaviori

[2017-12-15 20:45] robdodson commented on #12259
My hunch is that the structure is slightly off. The ARIA Authoring Practices Guide 1.1 [Accordion pattern](https://www.w3.org/TR/wai-aria-practices-1.1/#accordion) suggests:

(emphasis added to match emphasis in the spec)

Meaning there's an actual `<button>` inside of the heading.

So the structure you probably want is something like:

[code]

Although `aria-expanded` is [technically supported](h

[2017-12-15 21:17] choumx commented on #7118
@cvializ a couple questions to jog my memory:

1. What was the use case for using CSS selector instead of reference by `id`?
2. Do you remember what Dima meant by using `amp-bind`? Context: https://github.com/ampproject/amphtml/issues/10651#issuecomment-321380516

[2017-12-15 21:25] lannka commented on #12418
The `i-amp-sizer` is only removed on a successful resize. It will be there if resize got rejected.

[2017-12-15 21:32] cvializ commented on #7118
I think the CSS selector was not well received, so we moved to an attribute instead, like

[code]

I was not sure what Dima meant by that, but if I had to imagine I would say that the amp-mustache extension would expose a render action that might take a data structure like the `submit-success` response and the id of a container optionally that would receive the rendered content.

[code]

[2017-12-15 21:35] lannka commented on #12298
Overall I think it's a valid requirement to have a field in any trigger:

"maxTriggerTimes: 3"

@rudygalfi what you think?

[2017-12-15 21:37] lannka opened #12487 "Document the CSS caveat of layout=responsive"
From discussion: #12261

[2017-12-15 21:38] lannka commented on #12261
@bpaduch :-) created an issue to track the documentation.

closing this for now.

[2017-12-15 21:38] #12261 closed

[2017-12-15 21:56] spacedino commented on #6469
from @cvializ demos :

- https://ampcvializ.herokuapp.com/examples/date-picker.amp.html
- [ AMP.toggleExperiment('amp-date-picker', true) to view ]

**Next steps:**
- launch in experimental mode
- update visual designs
- final UX review

[2017-12-15 21:57] rudygalfi commented on #12298
Yeah, I think that would always work.

Related: https://github.com/ampproject/amphtml/issues/11679#issuecomment-337654601 (this idea in the context of video triggers) and #11987 (allow triggers that would only fire once to repeat). We should reconcile with these before moving forward.

[2017-12-15 21:59] cvializ commented on #3881
I just tested this and I think in the meantime is has been resolved through other changes. If you are still experiencing this error feel free to reopen!

[2017-12-15 21:59] #3881 closed

[2017-12-15 22:00] lannka commented on #7366
Tried locally, it's passing now.

[2017-12-15 22:00] #7366 closed

[2017-12-15 22:10] lannka commented on #9873
Updated env.AMP_TESTING_HOST on amphtml-nightly.herokuapp.com.

[2017-12-15 22:10] #9873 closed

[2017-12-15 22:16] lannka commented on #12268
Decided to go with batch plugin solution: #12432

[2017-12-15 22:16] #12268 closed

[2017-12-15 22:16] #11986 closed

[2017-12-15 22:28] #8919 closed

[2017-12-15 22:30] lannka commented on #10855
Seems working now. Feel free to reopen if it is not.

[2017-12-15 22:30] #10855 closed

[2017-12-15 22:54] honeybadgerdontcare commented on #12483
@sebastianbenz This is [where you may want to put it](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L140), but it may deserve it's own tagspec if we only want `crossorigin` on `link rel=preconnect`. See the [rel=stylesheet](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L230) as where we already allow `crossorigin`.

[2017-12-15 23:24] Gregable commented on #12067
in progress

[2017-12-16 01:51] #10553 closed

[2017-12-16 01:52] #5670 closed

[2017-12-16 03:11] seomaz opened #12489 "amp-instagram don't work correct on iOS"
The instagram embed don't rendered correct, you can check on https://ampbyexample.com/components/amp-instagram/

Open on iOS

[2017-12-16 03:27] #7357 closed

[2017-12-16 04:47] aghassemi commented on #12464
Thanks for your help @eduardogoncalves

[2017-12-16 04:47] #12464 closed

[2017-12-16 04:49] csculley commented on #7357
@abazeed As a side note, I was implementing static live stream values before this change with `data-videoid="live_stream" data-param-channel="channelid"`

The original issue I had with youtube (which I mistakenly opened as an issue with AMP) is that while one can go to [(https://www.youtube.com/embed/live_stream?channel=UCzZe-zMu-YgVFQfDmsFG_VQ)](this live_stream?channel="" link], the link will sh

[2017-12-16 14:07] sanjsanj commented on #11857
@choumx I'm not able to figure this one out on my own and not managed to get any advice on how to approach it either.  Probably best to unassign it from me for the timebeing.  If I have a brainwave or do get some suggestions then I'd be happy to have another go but it's probably best left to someone that has more experience with the workings of the WebAudio API and its implementation here.

[2017-12-18 15:07] keithwrightbos commented on #12463
Also add presubmit check that all pages served from examples are valid AMP.

[2017-12-18 15:33] CptWiggles opened #12493 "Access to call tracking number outside of amp-call-tracking tag"
## What's the issue?

We have cases where the phone number dynamically assigned via amp-call-tracking needs to be passed to a partner via a link or as part of form data. Currently, the call tracking number is only used within the context of the amp-call-tracking tag and we would like to have it available in the larger scope of the page.

I constructed a work around using amp-bind but it does not w

[2017-12-18 15:36] CptWiggles opened #12494 "Track input field engagement with amp-analytics"
## What's the issue?

The current functionality provided by amp-analytics meets most of our goals but doesn't provide a means for tracking if a user engaged with a form field that requires text entry. For fields that do not require text entry, the current click trigger meets our needs. We would like to see a `on` option added to amp-analytics that would fire when a user started entering text into

[2017-12-18 16:20] sebastianbenz commented on #12114
Now published to NPM as well: https://www.npmjs.com/package/gulp-amphtml-validator

[2017-12-18 16:27] aghassemi commented on #12489
@seomaz, testing on iOS 11.2, it seems to render correctly. Could you please provide a screenshot and version of iOS you are seeing this issue on?

[2017-12-18 16:29] aghassemi commented on #12493
/to @rudygalfi
/cc @lannka

[2017-12-18 16:30] aghassemi commented on #12494
/to @rudygalfi
/cc @zhouyx

[2017-12-18 16:31] aghassemi commented on #12473
/to @jridgewell

[2017-12-18 16:53] Adventive commented on #12481
Question: How `ad/ads.extern.js` come into play?

I see the majority is data attributes; from what I can gather, those fit in with the comment listed at the top of the file:
[code]
but there are also variable declarations and placeholders there.

Any clarification on this would be helpful.

[2017-12-18 17:40] cramforce commented on #12483
I think we can allow it on all `link` elements independent of `rel`.

[2017-12-18 18:02] jasti commented on #12232
@calebcordry since detection is hard, I wonder if we could do this for anything that's not served from the Google cache. @dvoytenko thoughts?

[2017-12-18 18:17] calebcordry commented on #12232
That seems like a simple bit of logic to write if we choose to do it that way. My only thought is that checking for the shadow amp may encourage users to write their PWA + AMP apps using the suggested structure.

I will defer to someone else to make a decision about how we are defining what is a PWA. Is it just having a service worker vs. having the same origin vs. using the shadow binary? etc.

[2017-12-18 19:16] e2corporation commented on #12418
@lannka @jasti I still need to find a way to convince you both that denying resize requests for a responsive panel (non fixed width/height) that is in the first viewport is not helpful to the provider or the publisher. In the end this will lead to lost contracts.

It would also be great to see some additional documentation for getting our tag on the A4A compliant list. Thanks again for looking int

[2017-12-18 19:36] choumx opened #12496 "AMP-to-AMP (A2A) linking"
Features for publishers to specify navigation from an AMP page to another AMP page when served from CDN:

- [ ] Add per-link opt-in, e.g. `<a href="example.com/amp" amp>`
- [ ] Add whole page opt-in for all navigation features (links, `AMP.navigateTo`, `AMP-Redirect-To`) with new boolean attribute on HTML tag e.g. `<html a2a-by-default>`

Notes:
- The viewer already has an `a2a` capability and pag

[2017-12-18 20:00] choumx commented on #11857
@sanjsanj Sorry about the lack of communication! You're right that the premise is to use `WebAudio` to detect if sound is playing, but this may require some refactoring. The reporter is on leave until the new year so let me find a different issue for you. Thanks for being proactive and for your continued contributions! 👍

[2017-12-18 20:02] choumx commented on #12412
@sanjsanj Would you mind taking a look at this? The first two bugs are hopefully straightforward enough. Thank you!

[2017-12-18 20:12] choumx opened #12498 "amp-bind: Require opt-in for URL substitutions"
Require per-use opt-in for `amp-bind` mutations of properties that support URL variables: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#per-use-opt-in

This is a solution reached with security and privacy teams as a prerequisite for #9074. Note that this is a breaking change so we should determine impact and warn in advance first.

@ericlindley-g suggests:
- [x] A

[2017-12-18 20:38] dvoytenko commented on #12232
I don't see a problem doing this for shadow case only. Again, big part of my reasoning is that shadow API gives a lot of performance benefits vs other options, so it could relax some constraints in return.

[2017-12-18 20:40] sanjsanj commented on #12412
@choumx Absolutely!  Won't have time to have a look until tomorrow night but I'll keep you posted 👍

[2017-12-18 20:47] #12446 closed

[2017-12-18 20:47] #12447 closed

[2017-12-18 20:53] cathyxz commented on #5508
In progress, slated for next release.

[2017-12-18 20:53] choumx commented on #12412
Woo! 😄

[2017-12-18 20:54] aghassemi opened #12500 "amp-carousel, next/previous button labels should include additional information"
### What you will need to know
- Basic Javascript
- Basic HTML

### Background
Currently the `aria-label` for next/previous buttons for `amp-carousel` read as `previous item in carousel` / `next item in carousel`, ideally they should also indicate the total number of items and which one next/previous is. This additionally allows the user to infer there where they are in the carousel.

### The chan

[2017-12-18 21:22] pmendelski commented on #12114
Thanks

[2017-12-18 21:23] alanorozco opened #12501 "Page activation will fail when a loadable element is hidden by media query"
This means that navigation will be blocked until timeout.

[2017-12-18 21:31] keithwrightbos commented on #11300
@eshienbrood you are looking into doubleclick SRA implementation, mind digging into this?  Thx

[2017-12-18 22:09] alanorozco opened #12506 "Animation rectangle calculations are incorrect for inactive pages"
Reproducible on desktop only.

Caused by inactive page scaling messing with `getBoundingClientRect`.

[2017-12-18 22:10] lswang1618 commented on #12496
Just confirming, does per-link opt in only include anchor links or is it for all navigation features?

[2017-12-18 22:10] alanorozco opened #12507 "Bookend configuration is not pre-loaded"
Currently loading until bookend needs to be opened.

Should be preloaded ASAP, possibly on the same level as page preload based on distance.

[2017-12-18 22:13] alanorozco commented on #12412
Adding to this, UXD needs to be updated for auto-advance when the initial state for an active page is full.

[2017-12-18 22:13] #11844 closed

[2017-12-18 22:19] ithinkihaveacat commented on #12496
Does this have the same behavior on and off caches?

[2017-12-18 22:23] morsssss commented on #12496
Nice!

[2017-12-18 22:26] alanorozco opened #12510 "Bookend replay uses incorrect metadata field for title"
Currently using `heading`, but should be `headline`.

[2017-12-18 22:41] rsimha-amp commented on #12181
After the above PRs are all merged, all dependencies in the AMP toolchain will be at their latest versions.

We can then look into using https://github.com/integration/greenkeeper and https://github.com/greenkeeperio/greenkeeper-lockfile to keep the dependencies rolling forward.

[2017-12-18 22:48] #12434 closed

[2017-12-18 22:50] choumx commented on #12496
@lswang1618 All navigation features eventually, `<a>` first.

@ithinkihaveacat Good question. Off cache this is a no-op.

[2017-12-18 22:54] cwisecarver commented on #9337
@lannka I updated the #12141 PR to implement the initial suggestion that @rudygalfi made above.

If I'm understanding your suggestion correctly it would send a heartbeat on every start and stop of every user interaction as well as one after the interval passed between the start and stop events. Our heartbeat logic works differently. It sends a heartbeat every `interval` and sends the engaged time

[2017-12-18 23:05] #11916 closed

[2017-12-18 23:06] juanlizarazo commented on #10661
@wassgha @FadySamirSadek is there any updates on this? If not, I'd like to claim it.

[2017-12-18 23:21] lswang1618 commented on #6469
This component is ready for experimenting. In lieu of full documentation, here are some details for experimentation. The component is called amp-date-picker with type=range or type=single for selecting a single date or a range of dates.

A placeholder is required for the component - for a single date, this can take the form:
`<input amp-date-placeholder placeholder="Pick a date" id="date"/>`

For

[2017-12-18 23:50] jamescridland opened #12513 "amp-forms - difficult documentation, really hard to debug"
Before we begin: I don't consider this to be a bug, but whoever is behind @amphtml on Twitter has [encouraged me to report](https://twitter.com/JamesCridland/status/942735938395893760), stating "We consider things being hard to test or debug to be a bug". With that in mind...

I'm using an ACTION-XHR version of an amp-form as a simple newsletter subscription. I've found developing, and especially

[2017-12-19 00:09] aghassemi commented on #12513
/to @bpaduch I think it's worth revising out `CORS` man documentation and references to it from components that need `CORS` endpoints. We have seen many developers trip over CORS when using `forms` and `amp-list`. (A lot of times when I see a " form/amp-list not working" issue or question, I pretty much know it's because they did not enable CORS.)

/cc @cvializ

[2017-12-19 00:30] #12240 closed

[2017-12-19 00:33] aghassemi commented on #12240
@jamesshannon We endedup adding a `sidebarOpen` event that can be used to focus on an element:
[code]

This new approach was needed because browser also refuse to focus on invisible element, so we need to make sure sidebar is fully visible before focusing.

This change will make it to Dev Channel tomorrow or Wednesday but due to holiday freeze may not make it to production until January 4th.

[2017-12-19 01:07] #12483 closed

[2017-12-19 01:36] #12489 closed

[2017-12-19 01:37] seomaz commented on #12489
@aghassemi  its seem to work now, thanks

[2017-12-19 03:37] miquelferrandiz commented on #11818
Hi @jasti - I see, what is explicit user action defined as here?

@ericlindley-g thanks, that makes sense for end of article. That said, seems like a specific implementation for what would ideally be a more general feature; how would this be adapted to other positions on the page, or other combinations of behavioral patterns?

[2017-12-19 05:26] FadySamirSadek commented on #10661
@juanlizarazo  I am stuck so I do not mind if you claim it but please keep me updated because I want to know how you did it

[2017-12-19 07:07] leonalicious opened #12517 "amp-list: [src] changes don't properly dispose old bindings"
I am currently facing a **Maximum number of bindings reached (2000). Additional elements with bindings will be ignored** issue.

based on my research, at [bind-impl.js#L532]
 (https://github.com/ampproject/amphtml/blob/master/extensions/amp-bind/0.1/bind-impl.js#L532) will change the limitExceeded from false to true,
and this causes me an error which is = 106 + 1 > 106 when i am trying to select c

[2017-12-19 09:55] buihoanghai opened #12518 "Feature request: Add more option for keyCode value in the event input-throttled"
Hi, currently I'm working on search suggestion component. Im finding a solution for when the suggestion box is expanded the user enable use keyboard arrows( up, down) for selecting. I think we can not done it without having event.keyCode value in keydown event for element input.
I check the file [https://github.com/ampproject/amphtml/blob/master/src/service/action-impl.js](action-impl.js)
My  idea

[2017-12-19 13:51] jaygray0919 opened #12519 "Add scrollable attribute to amp-image-lightbox"
`amp-lightbox` supports a `scrollable` attribute
https://www.ampproject.org/docs/reference/components/amp-lightbox

can the `scrollable` attribute also be supported in `amp-image-lightbox`?

/jay gray

[2017-12-19 14:51] cramforce opened #12520 "Removal of TypeKit stylesheet causes catastrophic blank screen in Safari"
The WebKit bug is here
https://bugs.webkit.org/show_bug.cgi?id=180940

`font-stylesheet-timeout.js` times out font stylesheets under certain circumstances. For TypeKit this may sometimes cause WebKit to get confused and get into a state where it thinks stylesheets are pending forever.

CC @jridgewell

See also b/69711239

[2017-12-19 14:59] bpaduch commented on #12500
How about having (# of ##) in parenthesis, like: `Next item (4 of 20)`.  I question whether they need to know it's a carousel. The relevant details are, there's many items to move back/forwards to.

HTH.

[2017-12-19 15:18] ithinkihaveacat commented on #12320
I think this should be fixed in the validator somehow, or at least that the error message should be improved. Right now, if producing an amp-story, and `poster` (or `autoplay`) is omitted, the validator complains that "The tag 'amp-video' may not appear as a descendant of tag 'amp-story'" which is not useful:

![screen shot 2017-12-19 at 3 10 03 pm](https://user-images.githubusercontent.com/51244/

[2017-12-19 16:08] rsimha-amp opened #12522 "Fix incorrect usage of lolex and re-enable tests"
Follow up to #12486

[2017-12-19 16:09] rsimha-amp commented on #12522
This is needed to unblock #12502

/cc @cathyxz @aghassemi

[2017-12-19 16:43] choumx commented on #12517
L530 checks that the bindings found so far (`bindings`) + the new bindings in the scanned node (`boundProperties`) exceed the total limit of 2000.

Abstractly this means that on any AMP page, you can only have 2000 bindings e.g. `[property]`. Can you share the AMP page that's hitting this limit?

[2017-12-19 16:46] #12522 closed

[2017-12-19 16:46] jonkeller opened #12524 "Discuss: Amp-Analytics option to fire trigger when passing over, but not through, viz threshold"
Say someone has:
[code]
...or the equivalent:
[code]
...and the user scrolls quickly, so IntersectionObserver fires at 88 and at 91. This trigger will not fire. But, this scenario is nondeterministic: InOb could just as easily have said 89.5 instead of 88.

Should we create a spec option for "trigger if InOb passes *over* this range, even though it doesn't fire *within* the range"?

Or, should we

[2017-12-19 17:34] cathyxz commented on #12519
`amp-image-lightbox` currently supports zoom and pan. It behaves slightly oddly for images with long aspect ratios, but that's a bug (that we are fixing for the newer iteration of lightbox, which I could probably port over). Can you tell me more about your use case and what's not working currently for you? Ideally, what would happen for a super long image is it would open and show the entire image

[2017-12-19 18:44] ericfs opened #12527 "Extra history state pushed on page load"
## What's the issue?

Extra history state is pushed on page load.

This happens for the standalone page and in the Google Search Viewer.

## How do we reproduce the issue?

1) Load the page:
https://www.bostonglobe.com/metro/2017/12/19/things-got-strange-dartmouth-police-headquarters-for-annual-holiday-video/DNlNwVCIV4r2UViFjeTE0H/amp.html
2) Note that there is an entry for the same URL in the his

[2017-12-19 18:55] jonkeller opened #12529 "Discuss: meaning of min/maxVisibleTime variable substitution"
If an amp-analytics trigger uses ${minVisiblePercentage} and/or ${maxVisiblePercentage} substitution variables, currently the values that are substituted for these are a bit unintuitive.

Example:
Have a trigger with visiblePercentageThresholds: [[0,100]], repeat: true.
Hit reload when ad is 18% visible. Trigger fires w/ maxVisiblePercentage = 18%.
Scroll to 40% visible. (No event fires, since we

[2017-12-19 19:17] jaygray0919 commented on #12519
we have 'long' SVGs (directed acyclic graphs) that are in an amp-carousel. the thumbnail is good; the image displayed in the carousel is good; but the light-box is truncated, particularly in landscape mode. So we're like to have a vertical scroll bar for desktop or swipe up/down for mobile when the light-box is in view.

Does that make sense?

[2017-12-19 20:06] alanorozco opened #12532 "System share from bookend won't trigger on button click"
Occurs when no share provider configuration/bookend configuration is provided.

[2017-12-19 20:18] rsimha-amp opened #12534 "`gulp build` can fail if packages are installed with older versions of yarn"
`gulp build` sometimes fails to load modules if it is run after installing packages with a version of yarn older than 1.2.0. Upgrading yarn fixes these issues.

[2017-12-19 20:18] rsimha-amp commented on #12534
/cc @erwinmombay who reported this.

[2017-12-19 20:29] cathyxz commented on #12519
So the current UX for super-long images isn't great (e.g. https://codepen.io/cathyxz/full/aENjmN/ ). I think this (`scrollable`) is for desktop, but I'm concerned with how this interacts with panning on mobile, since we override swipe on zoom.

I think the mobile experience can be mitigated by porting https://github.com/ampproject/amphtml/pull/12440 to `amp-image-lightbox` (which we should do anyw

[2017-12-19 20:30] #12534 closed

[2017-12-19 20:42] jaygray0919 commented on #12519
here is a sample SVG:

<svg fill-opacity="1" xmlns:xlink="http://www.w3.org/1999/xlink" color-rendering="auto" color-interpolation="auto" stroke="black" text-rendering="auto" stroke-linecap="square" width="688" stroke-miterlimit="10" stroke-opacity="1" shape-rendering="auto" fill="black" stroke-dasharray="none" font-weight="normal" stroke-width="1" height="1182" xmlns="http://www.w3.org/2000/svg"

[2017-12-19 20:48] jaygray0919 commented on #12519
here is a sample SVG:

[flavonoids.zip](https://github.com/ampproject/amphtml/files/1573202/flavonoids.zip)

[2017-12-19 20:54] bradfrizzell commented on #12374
Other ones I have had requested, adding here for posterity:

data-slot, width, height and multisize parameters

[2017-12-19 21:15] choumx commented on #12498
/cc @ericlindley-g

[2017-12-19 21:29] choumx commented on #12518
/to @cvializ /cc @aghassemi

[2017-12-19 21:30] choumx commented on #12279
@minamoto19 Any success with `update-cache`?

[2017-12-19 21:37] rsimha-amp commented on #12128
Read this!

https://github.com/ampproject/amphtml/blob/master/extensions/amp-viewer-integration/TICKEVENTS.md

[2017-12-19 21:43] lannka commented on #12529
It seems to be a bug. We should not reset min/maxVisibleTime on repeat.

[2017-12-19 21:45] jonkeller commented on #12529
Ok, thanks. Assigned to myself.

[2017-12-19 22:04] cathyxz commented on #12518
@buihoanghai I think what you want (navigate on keypress) is already doable with the existing `amp-list` + `amp-bind`. There's an example on the travel template on ampstart here: https://ampstart.com/templates/travel/travel.amp.

In particular, this section:

[code]

[2017-12-19 22:28] choumx commented on #12518
If I understand correctly, I think OP wants to use keyboard (up/down arrows) to navigate the autosuggest list.

[2017-12-19 22:36] cramforce commented on #12128
Also important to note that we write these events to the performance timeline. That can be read using DevTools protocol or `window.performance.getEntriesByType('mark')` (From memory)

[2017-12-19 22:54] cathyxz commented on #12518
Yes, and that does work in the AMPStart example. Maybe my copied code block isn't sufficiently precise. I'll churn up a codepen.

[2017-12-19 23:10] #12501 closed

[2017-12-19 23:50] #12520 closed

[2017-12-20 01:38] jasti commented on #12418
@e2corporation here is the fast fetch implementation guide: https://github.com/ampproject/amphtml/blob/master/ads/google/a4a/docs/Network-Impl-Guide.md CC @keithwrightbos @bradfrizzell

[2017-12-20 04:24] buihoanghai commented on #12518
Hi @cathyxz  it's is good example. Unfortunately I can not using datalist tag here. You can see here https://iprice.sg/compare/apple-iphone-8/.

[2017-12-20 04:40] buihoanghai commented on #12518
Hi @cathyxz it's good example. Unfortunately I can not use it. Due to I need using template for the suggestions. You can see here https://iprice.sg/compare/apple-iphone-8/ in the top banner.

[2017-12-20 14:34] jasti commented on #11818
@miquelferrandiz  "explicit user action" means an action where we don't need to infer if a user *might* choose to interact with the an element. More specifically, a click/ touch.

[2017-12-20 14:39] jasti commented on #8440
Closing because of the available workaround and lack of priority. Please reopen if you think this is high priority.

[2017-12-20 14:39] #8440 closed

[2017-12-20 14:40] jasti commented on #8659
@bradfrizzell ping

[2017-12-20 14:41] jasti commented on #8715
Closing with @jpettitt's workaround. Please reopen if this doesn't solve your issue.

[2017-12-20 14:41] #8715 closed

[2017-12-20 14:42] jasti commented on #9151
ping @taymonbeal

[2017-12-20 14:42] bradfrizzell commented on #8659
I've added this to gpt, not yet to adsense.

[2017-12-20 14:44] jasti commented on #9703
@keithwrightbos @dvoytenko is this still open? Does it need to be prioritized?

[2017-12-20 15:32] sanjsanj commented on #12412
@choumx Haven't had time yet but I will definitely look at it if you can bear with me a few more days.  Christmas stuff and too much work-work!

[2017-12-20 15:50] #8750 closed

[2017-12-20 16:02] leonalicious commented on #12517
I have changed my code design and I don't get this error anymore.
I was using `amp-list` and the `[src]` was set to an array, however, I noticed even if I AMP.setState a different `state#id`, it will still trigger the `state` that my `amp-list` is binding to, and force to re-render the entire `amp-list` HTML DOM. Besides this issue, I also notice there are several cases when I AMP.setState some ac

[2017-12-20 16:38] choumx commented on #12412
No worries. Merry Xmas!

[2017-12-20 16:42] ericlindley-g opened #12540 "append to amp-list"
Feature request to have the ability to append new content to amp-list, rather than refreshing the entire contents via change in src attribute with amp-bind.

may be something that has to get implemented anyway for element-level infinite scroll (?)

@choumx @aghassemi

[2017-12-20 18:00] choumx commented on #12517
Glad to hear that you found a solution!

Interesting. This shouldn't happen if the array itself didn't change (with some limits).

It shouldn't erase values of other variables since `setState(foo)` deep-merges `foo` into the current state. What could be happening is that some elements use variables that are uninitialized which evaluates to `null`.

[2017-12-20 18:22] bpaduch opened #12545 "Inactive story page disappears (desktop < 1024 px)"
On desktop for screen widths less than 1024 px, the story appears in mobile mode. When you start the story (that i,s click to the next page), if you remain inactive on the page, the page disappears and the screen is empty.  This also happens if you go through the story, and remain inactive on the bookend page.

Tested this with my own sample: https://bap-amp-001.appspot.com/
Tested with this a "go

[2017-12-20 18:27] Gregable commented on #12352
Fixed. I'll update the issue when it's released.

[2017-12-20 18:30] Gregable commented on #12371
Hmm, I don't want to break wordpress, but reading a markdown file to parse the validator rules is probably not the right solution to wordpress. Reading the machine-readable protoascii file should be how this is approached. Would it be possible to accomplish this in another way?

[2017-12-20 18:33] #11851 closed

[2017-12-20 18:51] cathyxz commented on #12518
Here's a minimal [codepen](https://codepen.io/cathyxz/pen/rpeZdY/). Unfortunately yes it does rely on datalist for the keyboard navigation. Oh well. Deferring to @cvializ.

[2017-12-20 19:02] bpaduch opened #12548 "Automatically scale content to fit responsively"
An AMP story designed for mobile looks fine on a mobile device and in mobile emulators in Chrome; however, when viewed in Chrome in the Desktop viewer (when browser width > 1024), the viewer resizes the story page and makes the content overflow.  This appears for the page that uses the "thirds" template, where the text that overflows is in the "lower-third".

![textoverflow-issue-in-desktopviewer]

[2017-12-20 19:12] rsimha-amp commented on #10377
Turns out that `amp-font` modifies the font loading CSS classes in the `<html>` tag and not the `<body>` tag. The html files in `examples/visual-tests/` are an artifact of old behavior, and updating it should fix this bug.

[2017-12-20 19:18] mrjoro opened #12550 "Design Review 2018-01-10"
**Due to the winter holidays we are skipping the Design Reviews on 2017-12-27 and 2018-01-03.
 This will be the first design review of 2018.**

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacifi

[2017-12-20 19:18] mrjoro opened #12551 "Design Review 2018-01-17"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-12-20 19:26] mrjoro opened #12552 "Design Review 2018-01-24 21:00 UTC (Americas)"
Time: [2018-01-24 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=1&day=24&iv=0)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev)

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the

[2017-12-20 19:28] #12120 closed

[2017-12-20 19:57] cathyxz commented on #9785
Another good FR to keep in mind for this: https://github.com/ampproject/amphtml/issues/12518.

@ericlindley-g do you know what's the state of this? I'd be curious to know if there are any other outstanding FRs for a typeahead and build this out if nobody else is picking it up.

[2017-12-20 20:26] jridgewell opened #12553 "Layers: Implement Disposable service"
So, this is an important but complicated piece. The service itself needs to implement `@implements {..../service.Disposable}` and have `dispose` method:

[code]

For scroll-sensitive code, it's even better to remove listener every time the document becomes invisible, e.g. by listing to `viewer.onVisiblityChange`. For reference, both are implemented in the `Viewport` service.

Not sure if it'd be s

[2017-12-20 20:35] jridgewell opened #12554 "Layers: Support FIE and Shadow Docs"
Right now, Layers doesn't support (or if it does, it's not intentional) FIE or Shadow Docs.

[2017-12-20 20:39] jridgewell opened #12555 "Layers: Explore using FixedLayer's cached selectors"
This may be a speed improvement.

[2017-12-20 20:43] jridgewell opened #12556 "Layers: Pass scrolled elements to onScroll listener"
This will hopefully optimize Resources, so that only scrolled resources will be remeasured/scheduled/etc.

[2017-12-20 20:51] jpettitt opened #12557 "amp-facebook does not support embedded single comments"
Note this is not about embedding a comment section on page which is handled by `amp-facebook-comments` - it's about embedding a single comment from FB on an external web page.

Typically this looks like an iframe with url structure similar to this

https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FKCmellinger%2Fposts%2F1775093682509411%3Fcomment_id%3D17751019

[2017-12-20 21:15] aghassemi commented on #12557
We can do this similar to `video`.

`<amp-facebook type="comment-post" href="https://www.facebook.com/zuck/posts/10102577175875681?comment_id=1193531464007751&reply_comment_id=654912701278942">`

I am suggesting `comment-post` as the `type` so it does not get confusing with `amp-facebook-comments` which is actually for commenting. Other ideas for the name welcomed.

@vinitnalhe another facebook is

[2017-12-20 21:19] jridgewell commented on #12473
Can you expand? This is done so avoid superficial installs (as the [comment](https://github.com/ampproject/amphtml/blob/d4f9694563f50d437cdc53b40501f5dfc9f60ecf/extensions/amp-install-serviceworker/0.1/amp-install-serviceworker.js#L98-L101) explains) and also to not block main content on the page with cache priming bs.

[2017-12-20 21:43] aghassemi commented on #9785
@cathyxz From a technical side, `cancelable fetch` is becoming a reality. Not sure if any browser has implemented it or not, but would be nice for the component to use this feature when available to cancel inflight requests if their result is going to be thrown out anyway as user types.

[2017-12-20 21:51] ericlindley-g commented on #6452
I believe this is implemented — please reopen or create a new issue if there are issues that aren't yet addressed.

[2017-12-20 21:51] #6452 closed

[2017-12-20 21:55] Gregable commented on #6452
Fixed in https://github.com/ampproject/amphtml/pull/11070

[2017-12-20 22:47] choumx opened #12562 "amp-analytics: "Error: null is not an object""
fire (https://raw.githubusercontent.com/ampproject/amphtml/1513710425594/extensions/amp-analytics/0.1/visibility-model.js:151)

See `pantheon/CP-gteCAgtLC1gE`.

/to @zhouyx

[2017-12-20 22:50] choumx opened #12563 "amp-analytics: "Error: The string did not match the expected pattern.""
at (https://raw.githubusercontent.com/ampproject/amphtml/1513710425594/extensions/amp-analytics/0.1/analytics-root.js:215)

See `pantheon/CL-En8rq46nq2AE`.

/to @zhouyx

[2017-12-20 22:54] jridgewell commented on #4848
SW is dead, so unlikely this is needed.

[2017-12-20 22:54] #4848 closed

[2017-12-20 22:56] #9235 closed

[2017-12-20 22:59] jridgewell commented on #10311
Internally fixed.

[2017-12-20 22:59] #10311 closed

[2017-12-20 23:01] jridgewell commented on #10684
Done.

[2017-12-20 23:01] #10684 closed

[2017-12-20 23:02] jridgewell commented on #10994
Pending layers.

[2017-12-20 23:04] jridgewell commented on #11900
Haven't done the legwork for this yet.

[2017-12-20 23:18] rsimha-amp opened #12565 "`yarn check` reports multiple errors due to duplicate versions in devDependency packages"
**Initial conditions:**
1. Sync to `HEAD` on `master`
2. Install all packages by running `yarn`

**Repro:** run `yarn check`

**Expected:** no warnings or errors

**Actual:** See below. The `info` sections can be safely ignored, but the `warning` and `error` sections must be fixed.
[code]

[2017-12-20 23:20] rsimha-amp commented on #12565
/cc @erwinmombay @cramforce

[2017-12-20 23:41] aghassemi commented on #2373
It's time for this again :)  reopening.

[2017-12-20 23:41] rsimha-amp commented on #12565
With #12472, all errors and warnings should be fixed.

[2017-12-21 00:58] cathyxz commented on #12519
I think the way to fix this for mobile is as follows:
1. Port #12440 to `amp-image-lightbox`, which opens lightbox images in object fit.
2. Re-adjust the Zoom upper bound so that it is the max of our current default constant and whatever zoom factor necessary to achieve `object-fit: cover`.
3. Intelligently open images in zoomed in mode (`object-fit: cover`) for images that have aspect ratios wild

[2017-12-21 01:06] Gregable commented on #7394
Fixed. I will update the issue when it is released.

[2017-12-21 01:06] #7394 closed

[2017-12-21 01:43] choumx commented on #12540
Interesting. Do you have a real world use case in mind for this? Curious what the data source is etc.

[2017-12-21 02:45] vinitnalhe commented on #12557
Will be looking into this issue.

[2017-12-21 08:50] chauek opened #12570 "amp-bind error when using dashes in class names"
I am getting error when using classes with dashes:

    <div id="ampSearchOverlay" class="amp-search-overlay-hidden"
       [class]="status.search-overlay-shown ? 'amp-search-overlay' : 'amp-search-overlay-hidden'">

But when using camelcase it is fine:

    <div id="ampSearchOverlay" class="ampSearchOverlayHidden"
       [class]="status.searchOverlayShown ? 'ampSearchOverlay' : 'ampSearchOverlayH

[2017-12-21 13:27] jaygray0919 commented on #12519
Sounds good.
Aside: we have some very large DAGs (directed acyclic graphs) that are SVGs.
We have been able to construct a horizontal nav bar so a user can scroll/swipe left/right (as well as up/down).
This approach enables us to put the DAG into 'window'.
But we don't use carousel or lightbox for these Graphs.
Your solution will allow us to put a subset of those Graphs into a carousel, and then u

[2017-12-21 16:04] ericlindley-g commented on #12540
I've gotten this request from developers for things like lists of products and other lists of items in a grid. Most of them want infinite scroll as the ultimate goal, but this feature would be a more elegant way to append than the current more complex approaches (chained forms; chained amp-list + amp-bind)

[2017-12-21 16:18] choumx commented on #12570
Thanks for your question @chauek. The issue is that, like in JS, dashes are not valid chars for variable names. So the first expression is being parsed as `status.search - overlay - shown`. Hope that helps!

[2017-12-21 16:18] #12570 closed

[2017-12-21 16:30] choumx commented on #12540
Related: Kevin did some explorations awhile ago to do append/delete for the canonical "to-do list" use case. https://github.com/ampproject/amphtml/issues/7379#issuecomment-290105127

[2017-12-21 17:06] #12565 closed

[2017-12-21 18:26] #12259 closed

[2017-12-21 21:26] cathyxz opened #12578 "Lightbox: Syncing lightbox with carousel"
Carousel lightbox slides should sync with carousel.

[2017-12-21 21:26] aghassemi opened #12579 "lightbox 2.0 should sync with the inline opener carousel"

[2017-12-21 21:27] #12579 closed

[2017-12-21 21:34] cathyxz opened #12580 "Lightbox 2.0: make lightbox zoom upper bound smart"
Per https://github.com/ampproject/amphtml/issues/12519.

[2017-12-21 21:39] cathyxz opened #12581 "Lightbox 2.0: gallery responsiveness"
Need to adjust the gallery to be responsive so that it's workable on desktop.

gallery max width should be 1024 px.

cc @spacedino for wireframe details

[2017-12-21 21:41] cathyxz opened #12582 "Lightbox 2.0: keyboard support on carousel"

[2017-12-21 21:43] cathyxz opened #12583 "Lightbox 2.0: API needs lightbox group id"
Specs:
- [x]  Enable `lightbox` attribute for lightboxable elements.
- [x] Enable usage of group ids.
- [ ]  Support carousel lightbox attribute.
  - A lightboxed carousel should lightbox the individual slides in the carousel.
  - Enable carousel opt out (items in a lightboxed carousel can be removed from lightbox by assigning to a null lightbox group or using a `unlightbox` attribute).
- [x]  Dif

[2017-12-21 21:43] aghassemi commented on #12582
`esc` => close
`arrows` => nav

[2017-12-21 21:44] cathyxz commented on #12362
Regressed

[2017-12-21 21:51] cathyxz opened #12584 "Lightbox 2.0: integration tests"

[2017-12-21 22:54] ericlindley-g commented on #7231
Closing this, as I think it's launched, but @erwinmombay , let me know if there are any bits that aren't done yet?

[2017-12-21 22:54] #7231 closed

[2017-12-22 11:27] temirkhanzakirov opened #12590 "Ok"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-12-22 13:18] mikeatkinsonthesecond opened #12591 "Feature request - allow `slide=<index>` to be set at page load time"
I've built an amp-carousel with a number of slides, each of which is relevant for a different time of day.

On pageload, I display an amp-list using some external JSON data. I would like to pass back in that JSON an indication of which slide should currently be displayed, and then call carousel.goToSlide to jump to that slide

This is currently not possible as carousel.goToSlide can only be trigge

[2017-12-22 14:06] minamoto19 commented on #12279
Not really. Not on a large scale of url at least.
We opted out AMP anyway.
We deleted all amp pages, amp references, redirected 301 all amp pages but still Google has cache of our pages.

It seems that AMP is easy to opt-in, easy to make a tiny mistake (guidelines change frequently) that will destroy your SERP and very difficult to opt-out.

[2017-12-22 17:05] choumx commented on #12279
Sorry to hear that. ☹️

Could you provide more data on this? It's hard to know how we can help your without specifics of your use case or the problems at hand.

[2017-12-22 17:09] choumx commented on #5811
From today's discussion:

@aghassemi Would love to have this more fleshed out -- specifically use cases where "reference-template-by-id" is insufficient or awkward to use. /cc @ericlindley-g

@danielrozenberg also brought up the fact that we should clearly define what expected behavior is for this case.

[code]

We also discussed a possible infinite loop edge case of a self-rendering `amp-list` th

[2017-12-22 17:14] aghassemi commented on #5811
Regarding supporting nested templates:
This is something that is allowed in HTML and the way it works is that activating the outer template does not activate the inner ones. https://www.html5rocks.com/en/tutorials/webcomponents/template/#toc-gotcha

This behaviour seems compatible what we would want in AMP as well. When a parent template is rendered, the inner template is untouched and left to how

[2017-12-22 17:27] danielrozenberg commented on #5811
Example of infinite loop:

[code]

Then if `/json` returns
[code]

Then the `<amp-list>` will expand to print the `markup`, which would be parsed as an `<amp-list>` that would retrieve /json and render its inner template the same way as its parent, and so on and so forth. That's a very deliberate shoot-self-in-the-leg scenario tho

[2017-12-22 17:37] aghassemi commented on #5811
as @choumx also pointed out offline, there is no reason we can't do both (e.g support nested templates and  "reference-template-by-id" eventually).

My opinion is that although both approaches can handle the same use-cases, the main difference is that in the "reference-template-by-id" approach, every templateable component needs to expose a way to reference a template id as part of its own format

[2017-12-22 17:50] aghassemi commented on #5811
@danielrozenberg, regarding infinite loop. I haven't tested but based on the code we only allow a very limited 'formatting' (e.g. `<b>`, `<i>` etc..) markup for unescaped values. So if a `{{var}}` has any markup other than simple tags, they get escaped (or maybe removed, not sure). Therefore `{"markup": "<amp-list src='/json'><template>{{ markup }}</template></amp-list>"}` is not supported.

[2017-12-22 18:59] #9803 closed

[2017-12-22 19:20] rsimha-amp opened #12597 "Fix all lgtm alerts in ampproject/amphtml"
There are several JS style / correctness errors in `ampproject/amphtml` that were found by the `lgtm` analysis tool. See https://lgtm.com/projects/g/ampproject/amphtml/alerts/?mode=list for a full list.

Follow up to #10092

[2017-12-22 19:29] #12590 closed

[2017-12-22 19:30] jridgewell commented on #12591
/cc @choumx. I believe this is possible with `<amp-bind>`.

[2017-12-22 20:32] jamesshannon opened #12598 "Akamai RUM Breaks AMP Pages (some % of the time)"
In the spirit of other issues (#2380 and #5051) tracking CDNs which break AMP page (validation), I wanted to log something for Akamai. Those issues are for Cloudflare and Incapsula, respectively, and have both been closed.

I discovered that Akamai injects Real User Measurement javascript into the <head> of pages it servers. AFAIK, this is some percent of the time -- either 5% or 10%. When this oc

[2017-12-22 23:17] aghassemi commented on #12591
bind can change the slide via `[slide]` attribute but `slide` attribute is not available so we only first slide can be shown on pageload.

@ericlindley-g and I were coincidentally talking about this yesterday. We should be able to support `slide` as a normal attribute and not just for bind.

I will take the issue.

[2017-12-22 23:20] aghassemi commented on #12598
@rudygalfi Anyone from Akamai we can ping about this?

[2017-12-23 00:01] aghassemi commented on #12598
/cc @sebastianbenz in case you see questions about this on Stackoverflow. You can just point them to this issue for a documented solution above.

[2017-12-23 11:16] minamoto19 commented on #12279
@choumx
Thank you for your time considering our issue.
I'm willing to provide some data, but what kind of data?
Please let me know.

Kind Regards.

[2017-12-24 21:03] alanorozco commented on #12250
Fixed by #12415.

[2017-12-26 02:02] cramforce commented on #12598
Thanks. Would be great to have that on SO, but even better if Akamai could fix it on their side (E.g. cloudflare auto detects when not to injects).

CC @yoavweiss

[2017-12-26 04:57] choumx commented on #9074
This is currently blocked on #12498.

[2017-12-26 16:49] p2er opened #12607 "Feature: trigger tracking events from amp-iframe content via postMessage"
## What's the issue?

If AMP is used for tracking and it is legally required to have opted in to tracking or for the user to at have least seen the cookie dialog the iframe can not contain custom tracking, unless a custom dialog is shown, since the iframe is unaware of the tracking state of the AMP document.

The iframe also has to load additional tracking scripts which might impact the page/ifram

[2017-12-27 01:37] meistudioli commented on #12243
hi, @lannka:

I chceked my GA report and found this double encoding issue happen again. Looks like code had been rollback.

Could you reopen this issue or should I need to apply a new  issue for this ?

Have a nice day.

Paul

[2017-12-27 02:47] eric30 commented on #6469
I tried to follow all the steps and gave it a try, however it didn't work out. There's a 404 error occurred:

![image](https://user-images.githubusercontent.com/1381195/34368920-cf5659be-eaf2-11e7-905f-aada64d3eb8a.png)

Is this a bug or did I do something wrong?

[2017-12-27 13:14] leonalicious opened #12610 "Trying to amp-bind [href] on <a> tag"
Hi @choumx , I am facing another issue again with `amp-bind`, we do have requirement to dynamically set the `[href]` on `<a>` tag. By default behavior, `[href]` does prepend 'https://domain.name' BUT amp.bind does not recognize ':' colon symbol. I personally dont see any chance that `[href]` will work in any case because of the conflicting of preprend colon symbol from `[href]` while `amp.bind` is

[2017-12-27 19:02] choumx commented on #12610
Thanks for filing this. You need to wrap the URL in quotes to make it a string (similar to JS).

[code]

You can also use `amp-state` to save the URL in a variable which is a bit cleaner.

[2017-12-27 19:04] choumx commented on #11349
FYI #2 above is done.

[2017-12-28 00:58] jamesshannon opened #12612 "[A11Y] Pass `title` param to new iframes for screenreaders"
Another A11Y request from a partner working through AMP.

They're trying to use `<amp-facebook-like>` and unable to set the `title` attribute for a11y purposes.

`amp-facebook-like` [calls](https://github.com/ampproject/amphtml/blob/master/extensions/amp-facebook-like/0.1/amp-facebook-like.js#L61) src/3p-frame.[getIframe()](https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L72) whi

[2017-12-28 01:01] jamesshannon commented on #12612
@aghassemi

Seems like something I can tackle, but I'd like advice on:

# If it makes sense to do this automatically in getIframe(), and it's unlikely to break stuff
# If it should be `title` or `data-title`
# Any other attributes that should be added to the iframe element?

[2017-12-28 02:30] leonalicious commented on #12610
I did try based on your suggestion and it is still not working. Based on my understanding, I think the root cause here is the `[href]` will prepend `https://` and `amp-bind` cant recognize those characters.
![image](https://user-images.githubusercontent.com/4065175/34398325-f4250f58-ebb8-11e7-98d6-83f90aafa062.png)
![image](https://user-images.githubusercontent.com/4065175/34398370-6ba3de38-ebb9-1

[2017-12-28 02:34] choumx commented on #12610
Weird, I'll take a look. Thanks!

[2017-12-28 02:44] leonalicious commented on #12610
To be frank, our website launching date is around the corner, can I privately chat you through slack on this and also any other urgent issues that I am not too sure it only happens to us or it is the nature behavior? I know this request is a bit ridiculous, but commenting on github is a bit inefficient and slow for us.

[2017-12-28 03:51] choumx commented on #12610
Sure, my Slack handle is the same. I'll be online only intermittently until next Tuesday.

[2017-12-28 06:18] aghassemi commented on #12607
/to @zhouyx @lannka
/cc @choumx since related to 2-way messaging

[2017-12-28 06:25] aghassemi commented on #12612
@jamesshannon Thanks for picking this up.
I agree, it makes sense for `getIframe` to add `title` from the parent element into the `iframe`.
I think we should go with `title` as it is semantic and already valid for all AMP and non-AMP elements in the eyes of the validator.
`getContextMetadata` probably needs to change as well to add `title` to the list of attributes it generates for `getIframe` if

[2017-12-28 06:38] jamesshannon commented on #12612
The benefit of using data-title is that you then don't have two elements (the `iframe` and its parent `amp-facebook-like`) with the same title. That won't break validation, but might be confusing, especially for screen readers. But you have more knowledge in that area.

[2017-12-28 06:43] aghassemi commented on #6469
/cc @erwinmombay regarding last comment, looks like unversioned Canary is pointing to prod. Enabling Dev Channel seems to only impact cached resources and not origins.

[2017-12-28 06:47] aghassemi commented on #12612
@jamesshannon it can remove `title` from the parent if having both is an issue, worth testing. But I suspect screen-reader wasn't picking up title from parent in the first place. (it may pick it up if `<amp-facebook-like>` is given a `role=button` or alike though).

[2017-12-28 07:24] sanjsanj commented on #12412
@choumx I finally had a couple of hours to have a look at this issue, and above is my WIP PR #12613 , not sure if it's the right approach or not but wanted to get some initial feedback when you have a chance please.

I note that progress bar segments do fill when `auto-advance-after` attribute is present in the html thanks to `TimeBasedAdvancement` and take this issue to change the behaviour of pa

[2017-12-28 11:16] grahamle commented on #12610
our demo is [here](https://github.com/aemsite/ampdemo/blob/master/dynamic-href-in-amp-list.html)， @choumx @micyeung

[2017-12-28 12:25] leonalicious commented on #12610
We found the root cause, the [href] will be prepended with `https://domain` only if the <a> tag [href] is under <amp-list> > <amp-mustache>, hope it helps

[2017-12-28 15:48] micyeung commented on #8395
Hi - any update on this issue? Quote escaping is particularly important in e-commerce use cases where single / double quotes appear quite frequently.

[2017-12-28 17:01] choumx commented on #8395
Does @kmh287's workaround (above) work for those use cases?

[2017-12-28 17:03] choumx commented on #12517
@leonalicious Is this still an issue or can it be closed?

[2017-12-28 17:15] pbakaus commented on #8395
For single quotes, would `&lsquo;` (left hand single quote) and `&rsquo;` (right hand single quote) work instead? They seem to be the ones that carry the right semantic meaning.

[2017-12-28 19:07] kamurj opened #12614 "amp auto-ads not working"
Hello, I am having trouble finding the cause why adsense auto ads will not load on my amp pages. As far as I can tell the required code was added to the head and body section of the amp pages and while other ads load fine the auto ads don't.

Here are some example urls. Thank you for your help and feedback.

https://www.enotalone.com/forum/amp.php?t=539953
https://www.enotalone.com/forum/amp.php?t

[2017-12-28 19:10] lannka commented on #12614
I got this in the error log:

@tlong2 could you take a look?

[2017-12-28 19:13] kamurj commented on #12614
Lannka I think that happens when viewed from a none mobile device?

[2017-12-28 19:49] jamesshannon opened #12615 "Unabe to test with --files=test-amp-ad-3p.js"
I'm running into some issues within the test file `test/integration/test-amp-ad-3p.js` and attempted to run it separately:

`gulp test --files=test/integration/test-amp-ad-3p.js`

But got DOM timeout errors which I didn't get when running `gulp test`:

<img width="983" alt="amphtml_ _gulp_term_program_apple_terminal_term_xterm-256color_ _229x71" src="https://user-images.githubusercontent.com/76138

[2017-12-29 01:51] leonalicious commented on #12517
hey William, actually we are still facing maximum 2000 bindings issue, please give me some time and I will be writing a demo for this. you may also close this if you want.

[2017-12-29 01:53] leonalicious commented on #12610
still appreciate ur guys to investigate into this. Thx William.

[2017-12-29 06:56] ChrisBAshton opened #12618 "Forwarding scroll events to amp-iframe"
## What's the issue?

The [amp-iframe](https://www.ampproject.org/docs/reference/components/amp-iframe) component has no way of hooking into scroll information if `resizable` is set. This is because it is the host page itself which is scrolled, not the iframe.

Not being able to detect scroll position means we are unable to do things in response to scroll position, e.g. animate a component when it

[2017-12-29 08:03] ChrisBAshton opened #12619 "Component request: accessible navigation"
## What's the issue?

I'm trying to create an AMP-compatible (i.e. non-JavaScript) desktop navigation with submenus which open on hover and on focus (for keyboard accessibility).

When I struggled to build this, I looked at the https://ampbyexample.com site to see how they solved it - and it turns out their desktop navigation isn't accessible either!

Could we extend the [amp-sidebar](https://ampb

[2017-12-29 18:13] BobanaR opened #12621 "Docs: Add guidance for `usqp` parameter in custom analytics"
## Pages with &usqp parameter still showing up in GA

I know that many users have reported this bug earlier, but it does not seem to be fixed so far.
For every AMP page that has "?amp=1" parameter, there is also a page with uspq parameter that appears to be generated by Google (almost all pages are affected)

I am worried about split traffic, since these pages with uspq parameter are driving traff

[2017-12-31 07:22] leonalicious commented on #11251
Try this. @zhangsu
1. change your layout from "fixed-height" to "fill", remove all your width and height. Then add the below code into your css

.i-amphtml-fill-content{
    position: static;
    height: auto;
}
.i-amphtml-layout-fill,.refine-sidebar [layout=fill]:not(.i-amphtml-layout-fill){
    position: static;
}

[2017-12-31 07:44] leonalicious commented on #12517
Hi William, is it any `<html>` render come after the genesis `<html>` Tree render will be treated as new `amp binding` ?

By looking at the screenshot I attached in this issue, I suspect whenever `<amp-list>`'s `[src]` is changed, entire `<amp-list>` will be re-rendered, and it will increase the **BINDING NUMBER** upon each new **html render**

[2017-12-31 07:58] leonalicious commented on #11434
a work around trick would be:

based on the documentation, `input` would support both `tap` and `change` actions. So, basically you can create a **transparent dummy input** in front of your `<element>`

a simple demo as below:
1. set the parent `position: relative`
`<input type="checkbox" class="dummy-checkbox"
 on="tap: AMP.setState({
 50  operands bla bla bla
});
change: AMP.setState({
 50 opera

[2017-12-31 08:07] leonalicious commented on #11434
a work around trick would be:

based on the documentation, `input` would support both `tap` and `change` actions. So, basically you can create a **transparent dummy input** in front of your `<element>`

a simple demo as below:
1. set the parent `position: relative`

    <input type="checkbox" class="dummy-checkbox" on="
    tap: AMP.setState({
        50  operands bla bla bla
    });
    change: A

[2017-12-31 08:15] leonalicious commented on #11434
a work around trick would be:

based on the documentation, `input` would support both `tap` and `change` actions. So, basically you can create a **transparent dummy input** in front of your `<element>`

a simple demo as below:

1. set the parent `position: relative`

code:

    <input type="checkbox" class="dummy-checkbox" on="
    tap: AMP.setState({
        50  operands bla bla bla
    });
    c

[2017-12-31 10:14] leonalicious commented on #8719
May I know is this feature available already ?

[2017-12-31 20:54] choumx commented on #12517
That's correct, but the bindings in previously rendered elements will be removed. "Total number of bindings" should exactly equal the number of `[prop]` attributes on the page at any given moment.

[2018-01-02 03:21] dfrankland commented on #8934
A lot of this information is exported by the `validator-generated.js` file created by [`amphtml/validator`](https://github.com/ampproject/amphtml/tree/master/validator). I've wrapped this up into module and published it under [`amphtml-validator-rules`](https://www.npmjs.com/package/amphtml-validator-rules).

[2018-01-02 04:54] honeybadgerdontcare commented on #11430
This was a part of #11638

[2018-01-02 04:54] #11430 closed

[2018-01-02 05:54] ethereal-sandeep commented on #10385
@aghassemi please check this pr [here](https://github.com/ampproject/amphtml/pull/12625).

[2018-01-02 08:35] leonalicious commented on #12610
Besides this `a [href]` method, I have also tried several other methods :

## Method 1 : By using `<form>`

using `<form>` to perform navigation, I did try to override the `<form>`'s `action` with

        <input name="action" [value]="foo.bar">

More info please visit [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form)

**Result** : `http://domain/currentpage.html?action=https%

[2018-01-02 10:55] kul3r4 commented on #11251
@leonalicious not sure if you can add the above css, I tried your approach and I got AMP validation error:

[2018-01-02 14:39] leonalicious commented on #8395
the workaround above is not fitting to all cases. The **Edit 1 is to escape double quote** and the **Edit 2 is to escape single quote**.  However, at our case, our contents will contain both Single quote & Double quote.
The figures below show if both if both single quote & double quote appear on the line.

![code](https://user-images.githubusercontent.com/4065175/34486723-0f261b92-f00c-11e7-8fcc-2

[2018-01-02 15:16] adityap2016 commented on #12374
@bradfrizzell  - Please confirm the macro names that will be supported. We will need these for the pull request.

The ones that we need in the RTC call are -
1. data-slot
2. width
3. height
4. multiSize
5. overrideWidth
6. overrideHeight
7. Json Targeting

[2018-01-02 15:26] miquelferrandiz commented on #11818
@jasti understood, thanks for clarifying.

@ericlindley-g - any thoughts on how we might be able to adapt the infinite scroll approach to other locations on the page or other combos of behavioral patterns?

[2018-01-02 15:28] alanorozco commented on #12186
Depends on #12628

[2018-01-02 15:35] bradfrizzell commented on #12374
@adityap2016 The macro names for each of these will be:

1. DATASLOT
2. WIDTH
3. HEIGHT
4. MULTISIZE
5. OVERRIDEWIDTH
6. OVERRIDEHEIGHT
7. JSON

[2018-01-02 16:42] choumx commented on #8395
Not sure I fully understand. In your example above, it looks like the HTML is:
[code]
Looks like the value of the `sentence` key is not quoted correctly:
[code]
What you probably want is this:
[code]

[2018-01-02 17:12] ericlindley-g commented on #11818
@miquelferrandiz No real ideas on my end that accord with AMP's UX guarantees (content doesn't jump around or block other user content without user interaction). The only thing I could think of is either a refresh of existing ads or addition of new ads or CTAs above the current viewport, so they'd be visible when the user scrolls back up, but wouldn't affect the current viewport at any time—but I'

[2018-01-02 17:18] Adventive commented on #12481
@lannka, @jridgewell
any feedback on my last question?

[2018-01-02 18:29] lannka commented on #9307
Tests are added and all issues are addressed.
See #10575 #10628 #10456 #8008 #12333

I'd like to move forward the launch again by starting a communication with all integrated ad networks.

No changes were made to the externally documented [APIs](https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-information). But we do suggest all ad networks to play with our new implementat

[2018-01-02 19:29] zackargyle commented on #12473
Hey @jridgewell! Thanks for the question. My main issue is that "superficial" is really bias towards something like a news article in this case. Time spent on a page is not the only metric for an engaging site. It biases against a page showing interesting linked content immediately, or the page itself having no links to other interesting content. At Pinterest, for example, our AMP pages are simple

[2018-01-02 19:42] #12510 closed

[2018-01-02 19:42] #12506 closed

[2018-01-02 19:59] AndrewKGuan commented on #6737
Although there could be workarounds, it is not as intuitive as using accordion to do what accordions normally do.  It is a bit strange to advise not to use amp-accordion to make accordions but use amp-selector instead.
+1 to the original request to have a flag for amp-accordion.

[2018-01-02 20:02] lannka opened #12633 "amp-analytics visibility triggers throws error"
"Error: null is not an object (evaluating 'a.Z.fire')" from [release 1513710425594](https://github.com/ampproject/amphtml/releases/tag/1513710425594)

Looking at `visibility-model.js` , very likely the `onTriggerObservable_.fire()` gets called in one of the `eventPromise_` resolution block after setting `onTriggerObservable_ = null` in the `dispose()` function.

/cc @jonkeller @zhouyx @keithwright

[2018-01-02 20:13] choumx commented on #12618
Does amp-iframe's [send-intersections](https://www.ampproject.org/docs/reference/components/amp-iframe#iframe-viewability) feature not work for your use case?

#9074 is related but I don't think we'd pass scroll events.

@ericlindley-g What was the plan again for those rich media use cases?

[2018-01-02 20:13] jonkeller commented on #12633
I agree.

We protect against using the null reference in https://github.com/ampproject/amphtml/pull/12547/files and https://github.com/ampproject/amphtml/pull/12308/files (both merged, but not until the broken build was built)

But we have not yet solved the issue of *why* we get there after a dispose(). Perhaps we are leaving a timer running, but I have not verified that yet.

[2018-01-02 20:15] choumx commented on #12619
/to @aghassemi

[2018-01-02 20:19] bradfrizzell opened #12634 "Doubleclick and Adsense examples are broken in ads.amp.html"
How to reproduce:
Run gulp
navigate to http://localhost:8000/examples/ads.amp.html
Inspect the Doubleclick and Adsense examples.
Note that all non-video ads have no-filled.

This does not appear to be a break in live code, as checking live sites shows that ads are working properly. I suspect there is something wrong with the specific line items here.

[2018-01-02 20:19] tbaik opened #12635 "amp-bind [class] binding on svg tags do not work"
## What's the issue?

Trying to use the `[class]` binding on an svg tag to change the className for `amp-bind` does not change the `class` attribute.

## How do we reproduce the issue?

Here's a JSFiddle: https://jsfiddle.net/4c1k685s/1/

## What browsers are affected?

All Browsers

## Which AMP version is affected?

1513979839742

@choumx

[2018-01-02 20:21] glevitzky commented on #12634
Since the ad response comes back empty, it must be an issue with the lineitem or the request itself.

[2018-01-02 22:09] choumx commented on #12621
The fix for #12137 may help for `amp-analytics` tracking. Should be out in a week or so.

[2018-01-02 22:32] choumx commented on #12634
/cc @lannka

[2018-01-02 22:33] choumx commented on #12615
/to @rsimha-amp

[2018-01-02 23:33] rsimha-amp commented on #12615
Thanks for reporting this, @jamesshannon. The strange thing I'm noticing is that the test runs fine when it's part of a full integration test run, but it fails when run in isolation. This leads me to believe that it's not being set up correctly in `beforeEach`, and instead, relying on some other test to do the setup for it.

Adding @lannka who might know what's going on (based on the commits in ht

[2018-01-02 23:52] iamHXQ opened #12638 "AMP"
Hope amp can provide more stable CDN in CHINA.
All resources can be load in 30ms in my area but AMP  Required Script (tested in ShangHai and HangZhou) always take 150ms-300ms and more to load.

briefly speaking，AMP CDN have slow down the first load in China.

[2018-01-02 23:52] #12638 closed

[2018-01-02 23:54] iamHXQ opened #12639 "AMP required script slow the web in CHINA"
Hope amp can provide more stable CDN in CHINA.
All resources can be load in 30ms in my area but AMP Required Script (tested in ShangHai and HangZhou) always take 150ms-300ms and more to load.

briefly speaking，AMP CDN have slow down the first load in China.

[2018-01-02 23:54] jasti commented on #9307
@chrisdrexlerlemire-indexexchange @yieldmo-rao @ampproject/ads would you please be able to test the documented APIs before we launch?
An email has also been sent to amp-ads-announce@googlgroups.com group to communicate this change.

[2018-01-03 01:17] choumx commented on #12412
@sanjsanj Happy new year! Just got back into the office. Will take a closer look at your questions tomorrow.

[2018-01-03 01:21] choumx commented on #12507
@alaonorozco Mind if I give this one to @gmajoulet as a starter bug?

[2018-01-03 01:24] choumx commented on #11115
Sorry for the delay on this! A lot of things got in the way. We're super happy to accept PRs from external contributors too. 😉

[2018-01-03 01:29] dvoytenko commented on #5811
@aghassemi I believe the only security concern for nesting templates was avoidance of recursion. Probably easy enough to control for, but must be thoroughly unit-tested.

[2018-01-03 02:03] leonalicious commented on #8395
Hey William, thank you for the quick feedback, I have tried

sentence: 'Boot&apos;s Attributes is 3&quot; and above'

and it is still not working, anyway, I have found a solution for this. Which is ：

1.  By changing all double quotes &quot; to Prime &Prime; before JSON is passed from our backend , to avoid conflicting with `<html>` double quotes, although there are some layout different but it is

[2018-01-03 03:54] nainar commented on #12093
Hi, should this issue be closed since the fix has landed?

[2018-01-03 08:14] omeryounus commented on #4693
try to add the below in css.
      amp-ad{
                	direction: initial;
     }

[2018-01-03 09:03] sanjsanj commented on #12412
@choumx Happy New Year!  No rush at all, speak to you when you have time

[2018-01-03 15:58] coreybyrnes commented on #9546
@jasti @keithwrightbos @lannka Happy New Year! We're now on month 7 investigating this one! Any chance we can get this wrapped up and pushed out by EOM?

[2018-01-03 16:11] chen-anders opened #12644 "Intent to Implement: amp-wistia-player"
Proposed `amp-wistia-player` component would embed a responsive Wistia player in an iframe. This single component would support publishers using Wistia.

Attributes specifying the `media hashed-id` will determine the embed URI that will be used.

Example:

[code]

Above would yield http://fast.wistia.net/embed/iframe/u8p9wq6mq8

The component supports using play, pause, mute, unmute postMessage ev

[2018-01-03 16:30] ericlindley-g commented on #12618
I don't know that we've gotten everyone together to chat about the next step for page -> iframe interaction yet, but in smaller chats (maybe with @aghassemi ) we were considering allowing passing throttled scroll events from the top level page into the iframe. Does this sound reasonable? I could see a couple risks:

a) scroll being considered a low-trust event, iframes could trigger major changes

[2018-01-03 16:46] natalinacinovicmrf commented on #7744
Hi, I am having an issue with m3u8 video in amp.
This is what I get in AMP -> https://prnt.sc/hvlhrm
but I can only see the video's image/poster not the video itself.

[2018-01-03 17:05] justforfun opened #12645 "shadow dom: Incorrect values for CANONICAL_URL variable"
## What's the issue?
We noticed that often the value of the CANONICAL_URL is incorrect when an AMP document is injected via ```<amp-viewer>``` in a Progressive Web App.
When the problem occurs the CANONICAL_URL assumes the value of the injected AMP document URL.

## How do we reproduce the issue?
You can reproduce the issue here:
https://rep.repubblica.it/pwa/generale/2017/12/28/news/app_sensori_c

[2018-01-03 17:05] ericlindley-g commented on #7744
While @aghassemi is out— @dvoytenko , are you familiar with the status of m3u8 video in AMP. My understanding is that it's not supported yet, except possibly through amp-iframe.

[2018-01-03 17:24] natalinacinovicmrf commented on #7744
Thank you for the quick response!
Ok, so as you say - it seems like it's still not supported?
With amp-iframe I tried but it also doesn't work, maybe I am missing something https://prnt.sc/hvlyqj

[2018-01-03 17:27] ithinkihaveacat commented on #7744
HLS does work if you use the form:

[code]

Can you share the AMP source? (`<amp-video src="https://something/video.hls">` might not work.) (Also note that if using Chrome, HLS only works on mobile; desktop Chrome won't show HLS even if emulating mobile.)

[2018-01-03 17:43] lannka commented on #12054
@rsimha-amp shall we completely remove any hardcoded `localhost` check in AMP (like [here](https://github.com/ampproject/amphtml/blob/master/src/mode.js#L79))? Instead, we can have our local server to prepend "AMP_CONFIG.localDev = true" to the served binary.

That makes sure AMP runtime can be run under any domain in dev mode, which is sometimes very helpful if we want to locally fake the CDN dom

[2018-01-03 17:46] natalinacinovicmrf commented on #7744
Something like this?
![screen shot 2018-01-03 at 18 40 34](https://user-images.githubusercontent.com/29655525/34532424-6225112c-f0b6-11e7-8877-afac8f75c5d7.png)

[2018-01-03 18:16] rsimha-amp commented on #12054
@lannka I originally removed the `localhost` check you pointed to, but it had to be restored in #11783 by @erwinmombay because it broke some of our test pages.

I do agree though, that it makes sense to simplify the logic in `mode.js`.

[2018-01-03 18:45] cramforce commented on #12639
@iamHXQ Could you paste the output for running `traceroute cdn.ampproject.org` (or `tracert` on windows I believe)?

[2018-01-03 18:50] cramforce commented on #12639
Note that if you are using a proxy server, this would need to be run on the proxy.

[2018-01-03 19:02] keithwrightbos commented on #9546
Hi all, happy new year!  Yes this should be handled as part of porting safeframe APIs to doubleclick fast fetch impl.  However, CBS is currently using remote html and so will not be forced over to fast fetch until the deprecation date of 3/29 (although I encourage them to move sooner).

@bradfrizzell is taking lead on both safeframe API support and delayed fetch deprecation and so he can take lead

[2018-01-03 19:04] rsimha-amp commented on #12615
@jamesshannon to surface chrome's console errors, you can use `--verbose` with `gulp test` command.

[2018-01-03 19:17] zhouyx commented on #12563
@choumx Do you have more information on this?  I can't access the url or `pantheon/CL-En8rq46nq2AE`.

[2018-01-03 19:25] zhouyx commented on #11323
Close for now.

[2018-01-03 19:25] #11323 closed

[2018-01-03 19:31] choumx commented on #12621
The above fix won't solve the issue for custom analytics with `amp-pixel` etc. We should add some guidance to public docs to ignore/strip the `usqp` param in those cases.

/to @bpaduch /cc @Gregable

[2018-01-03 19:42] cramforce commented on #12621
More specifically: The fix works only for the document URL as reported to `amp-pixel` or `amp-analytics`. Those who rely on the referrer on the ping request to determine the URL of the doc will still see the URL param and the param will show up elsewhere in referrers.

[2018-01-03 20:11] jridgewell commented on #12563
[code]

[2018-01-03 20:13] zhouyx commented on #12304
There's a bug here:
https://github.com/ampproject/amphtml/blame/master/extensions/amp-analytics/0.1/visibility-model.js#L353
Basically any trigger with a time constraint could fail. `SetTimeout()` here could execute after visibility has met and `eventResolver_` set to null. We should not `refresh_` in this case.

[2018-01-03 20:30] choumx commented on #12645
That URL var is read from `document-info-impl.js`, which checks `shadowRoot.AMP.canonicalUrl`, which should be set in `mergeShadowHead_()`. Not sure which part is going wrong.

I assume you're using the `<amp-viewer>` Polymer component? https://github.com/PolymerLabs/amp-viewer

[2018-01-03 20:32] erwinmombay commented on #12181
I can't seem to install it to "ampproject/amphtml" and only allows me to install greenkeeper on my personal projects (i might not have enough access on the parent org)

[2018-01-03 20:34] rsimha-amp commented on #12181
Thanks. Let's wait for @cramforce to help with this.

[2018-01-03 20:49] jonkeller commented on #12304
Looking...

On Wed, Jan 3, 2018 at 2:13 PM, Yuxuan Zhou <notifications@github.com>
wrote:

[2018-01-03 20:53] jridgewell opened #12650 "Layers: Layer based scoring API"

[2018-01-03 20:59] leik0401 opened #12651 ""!important" in comments breaks AMP validation"
## What's the issue?
It seems like a bug to not allow "!important" even in comments for AMP ads.

## How do we reproduce the issue?
For example:
https://screenshot.googleplex.com/q1tHVDpHCrg

[2018-01-03 21:03] cramforce commented on #12651
CC @Gregable

[2018-01-03 21:23] prateekbh opened #12652 "Pages does not animate in safari"
## What's the issue?

Currently pages do not animate while transitioning on safari based browsers. Which mostly affects iPads.

Checked, its due to the force-repaint here https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/amp-story.js#L718

Wondering, can we artificially delay this or something?

## How do we reproduce the issue?
- Open STAMP on an iPad landscape
- Try to n

[2018-01-03 21:32] rudygalfi commented on #12645
@choumx Did you have a chance to investigate further?

cc @lannka

[2018-01-03 21:34] lannka commented on #12054
[code]

This is the current `isLocalDev` logic.
@erwinmombay can you talk about the necessity of all those conditions?

I want to simplify this to:

[code]

And let our gulp build or gulp server to always append `AMP_CONFIG.isLocalDev = true`

[2018-01-03 21:34] bradfrizzell commented on #12374
Hey @adityap2016

So quick update to my above. I didn't realize that we already had a standard way of doing the macros for element attributes, so the proper way to specify them will actually be:

1. ATTR(data-slot)
2. ATTR(width)
3. ATTR(height)
4. ATTR(data-multi-size)
5. ATTR(data-override-width)
6. ATTR(data-override-height)
7. ATTR(data-json)

What is contained within the parentheses is case i

[2018-01-03 21:36] rudygalfi commented on #12388
We haven't lost track of this, but are still awaiting some folks returning from holidays who could take a look.

[2018-01-03 21:51] erwinmombay commented on #12054
@lannka i honestly don't remember why we need all the `location` checks (probly a time when we didnt have force local dev yet and even no amp config yet). but if we can make it simpler, go for it.

[2018-01-03 22:11] gmajoulet opened #12655 "Media playing on inactive story pages"
## What's the issue?

On desktop, the video on page 3 starts playing before it's active, and stops playing when it becomes active.

## How do we reproduce the issue?

1. On desktop, open a multi-page STAMP.
2. Navigate from the cover to page 2
3. BAD: the video on page 3 is already playing
4. Navigate to the next page
5. BAD: The video stops playing

## What browsers are affected?

Desktop

[2018-01-03 22:48] #12553 closed

[2018-01-03 22:57] bradfrizzell commented on #9546
Hey Corey, definitely planning to have implemented both resize, and getGeo for safeframe api (which from my understanding are the two key needed APIs) by eom. I'll update this issue as PRs roll out.

[2018-01-03 22:59] calebcordry opened #12656 "Increase Priority of Ads when AMP pages are hosted on publishers domain."
This is a follow up to issue #12232. This has been pulled out as a separate issue for clarity, and to continue the discussion.

The proposed question is this:
For sites like https://m.mynet.com/ should we relax ad loading constraints because it is being served from the publisher origin?

We have now agreed to do this if publishers are using the suggested PWA + AMP structure, but there still is som

[2018-01-03 23:00] calebcordry commented on #12232
It seems as though there are really two separate discussions happening here.

1. Should we increase priority when publishers are using the suggested `PWAMP` implementation with the shadow binary etc. Everyone seems to agree this is a good idea because of the performance benefits of this method.

2. Should we make the same exception for publishers who are hosting amp pages on their own domain?

Sin

[2018-01-03 23:00] #12232 closed

[2018-01-03 23:01] calebcordry commented on #12656
/cc @jasti @lannka @dvoytenko @rudygalfi

[2018-01-03 23:36] #12304 closed

[2018-01-04 00:00] lannka commented on #12054
Thanks @erwinmombay .

I tested the proposed change, once we prepend AMP_CONFIG to amp.js, the ads examples start to work.

However, right now I have to do:
[code]

It does not work if I ran the local server using:
[code]
@rsimha-amp can we make build with "--config=canary" the default?

[2018-01-04 00:41] powdercloud commented on #12651
Yeah it's a slight bit annoying. So, allowing it means we have to treat comments differently than the rest, as we currently do the !important scan with a regex, as specified in here (https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii, look for !important); this regex applies to the entire text. We'd need to strip comments before applying regexes for example, but

[2018-01-04 01:13] AmazonPublisherServices commented on #12374
Hey @bradfrizzell,

I have two questions/requests. We would like to use window.context.location.href, will that be encoded previous to constructing the vendor URL? We would also like to use a cachebuster macro, one that uses a combination of a random number and date.now(), is that a possibility?

Thanks,
Jason

[2018-01-04 01:36] leonalicious commented on #12517
Currently there are 2 `<amp-list>`, for our case, *attribute* `<amp-list>` is relying on the *category* `<amp-list>` and will be fetching new HTTP request upon users select on *attribute*

The first gif is 30 seconds which contain how to reproduce the error, basically, what i did was to click between **two categories**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4065175/345

[2018-01-04 01:46] rsimha-amp commented on #12054
We use `--config=prod` by default. Why does that not work?

[2018-01-04 01:51] cramforce commented on #12181
The new integration now needs write access to code. We need to check whether that is OK security wise.

[2018-01-04 05:30] eric30 opened #12659 "Choose a specific slide in <amp-carousel> at page load based on query parameters"
## What's the issue?
I was asked if it's possible to choose a specific slide in <amp-carousel> based on the query parameter / anchor in the URL. Check out these pages:

https://campaign.simpleskincare.tw/Kind-to-Skin/#product_1
https://campaign.simpleskincare.tw/Kind-to-Skin/#product_2
https://campaign.simpleskincare.tw/Kind-to-Skin/#product_3

It dynamically decides which slide is going to be sho

[2018-01-04 06:25] dev-drprasad commented on #9768
Do you have any updates ? I am also facing same problem

[2018-01-04 12:51] justforfun commented on #12645
Hi,
yes we do use <amp-viewer> Polymer component https://github.com/PolymerLabs/amp-viewer

Inviato da iPhone

[2018-01-04 14:10] bradfrizzell commented on #12374
hey @AmazonPublisherServices
window.context.location.href is now available as a macro as HREF, see https://github.com/ampproject/amphtml/pull/12539

I will update the top level comment here with a list of all available macros.
I can also definitely add a cache buster macro, that's a good idea for one! I'll have that in for you in the next few days.

[2018-01-04 14:23] monish-chhadwa commented on #12374
@bradfrizzell Wanted to confirm if window.context.location.href is already available in __amp_source_origin parameter?

[2018-01-04 15:12] natalinacinovicmrf commented on #7744
It still doesn't seem to work. Do I need to use a different value for the attribute "type" maybe?

[2018-01-04 15:46] coreybyrnes commented on #9546
@keithwrightbos @bradfrizzell So once these updates are live, what will the method be for manually collapsing the amp component element?

[2018-01-04 16:18] ithinkihaveacat commented on #7744
@natalinacinovicmrf: That type should work … I'm not sure what's wrong. Since this issue is about supporting adaptive bitrate streaming in <amp-video>, can we move this discussion to a stackoverflow question? Email the link to me (address is on my GH profile) and I'll have a look at it. (Include the full source code, not the DOM after being transformed by the AMP runtime.)

@ericlindley-g/@aghasse

[2018-01-04 16:30] ericlindley-g commented on #7744
Will defer to @aghassemi on this when he gets back—would like to close this if possible, but there may be something Ali had in mind for this that isn't done yet.

[2018-01-04 16:30] rsimha-amp commented on #12054
@lannka do both sets of steps in https://github.com/ampproject/amphtml/pull/12458#issue-281935749 work with your change? What about the steps in https://github.com/ampproject/amphtml/issues/12054#issuecomment-346109474? And what about Heroku? I believe some of those conditions were put in to make all these scenarios work.

I like your fix though, so let me know how I can help to make it real :)

[2018-01-04 17:10] rudygalfi commented on #3050
This hasn't been updated in awhile, so I'm going to close.

Please re-open if there's any interest in designing this out further and implementing, or if it needs further discussion.

[2018-01-04 17:10] #3050 closed

[2018-01-04 17:12] rudygalfi commented on #4798
Since we haven't acted on this in awhile, I'm going to close.

Please re-open if anyone is interested to continue discuss adding this.

[2018-01-04 17:12] #4798 closed

[2018-01-04 18:15] lannka commented on #12054
I think `--config=prod` is not turned on when running `gulp`. I looked at the output at `dist/amp.js`, it does not have the AMP_CONFIG prepend.

I think the fix should be in gulpfile.js. Currently the default `gulp` command is an alias of `gulp watch`, we might have `gulp watch` to support `--config=prod`.

[2018-01-04 18:20] rudygalfi commented on #12286
@kaylareedhanson Thanks for the additional details. Just to confirm, when you mentioned the carousel the very first time ("My use case involves a carousel of links") are you referring to a carousel in Google Search or a carousel you've implemented on your own page?

Also, do you have a live page URL (along with any relevant search queries) you could share that demonstrates the behavior?

[2018-01-04 18:30] rudygalfi commented on #11987
What's the status of this?

[2018-01-04 18:34] rudygalfi commented on #11888
Are there any updates on this? Also, if there's an internal tracking issue number we could attach to this, that would be helpful.

[2018-01-04 18:46] rudygalfi commented on #11835
I'm going to close this for now, but please re-open if there's any additional detail we can go off to investigate.

[2018-01-04 18:46] #11835 closed

[2018-01-04 18:49] rudygalfi commented on #9018
Is this still needed? I'm going to close since there's no information in the issue description, so I'm not sure what this is supposed to be tracking.

[2018-01-04 18:49] #9018 closed

[2018-01-04 19:02] #11662 closed

[2018-01-04 19:17] cvializ commented on #12518
This could be a good generalization and a complement to #10947

[2018-01-04 19:36] rsimha-amp commented on #12054
@lannka Good catch. Sent you #12665 to fix the behavior of `gulp` and `gulp watch`.

[2018-01-04 19:36] AmazonPublisherServices commented on #12374
Great, thanks @bradfrizzell. This string literal is what I had in mind for a cachebuster if it works for you guys,
[code]

[2018-01-04 19:44] shawnbuso opened #12666 "amp-ima-video freezes on mobile browsers when started via tap and drag"
## What's the issue?
amp-ima-video freezes when started via tap and drag instead of just a tap.

## How do we reproduce the issue?
1. Open a scrollable page with an amp-ima-video extesion. e.g. https://ampbyexample.com/components/amp-ima-video/
2. Tap the video and scroll the page a bit while tapping.

Expected: Either the video works or nothing happens
Actual: The video attempts to play but freez

[2018-01-04 19:58] bradfrizzell commented on #12374
hey @AmazonPublisherServices, out of curiosity, is there a reason why you couldn't just set no-cache headers on the RTC response? i.e. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

[2018-01-04 20:03] choumx commented on #12412
Yes and yes. Upon landing on the cover (first) page, the first segment should already be filled. Currently, the progress bar is completely empty on the cover page.

On the last page of a story (before the bookend appears), the progress bar should still have one segment missing. Navigating forward again will display the bookend, but the progress bar is still short one segment.

I think his PR addre

[2018-01-04 20:07] AmazonPublisherServices commented on #12374
Hey @bradfrizzell, we could do that, but it also doubles as our bid request id which we use in other areas of our library (latency analysis, TTL, etc...). If you don't want to make it a cachebuster per se, we can set the headers on the response, but then can I request one for something like ATTR(bidReqID)?

[2018-01-04 20:48] #12652 closed

[2018-01-04 20:56] rsimha-amp commented on #12054
@lannka made it so that `gulp` and `gulp watch` also enable `localDev` by default in `AMP_CONFIG`. I think we can now implement the simplification you suggested. Sent you #12667 with the fix. PTAL.

[2018-01-04 22:08] cathyxz commented on #12659
Seems like an extension of https://github.com/ampproject/amphtml/issues/12591 ?

[2018-01-04 22:44] zhouyx commented on #11888
AMP viewer team had the issue fixed on their side. I'll clean up trackers on our end and close the issue.

[2018-01-04 22:49] zhouyx commented on #11987
Looks like implementation has been merged and documented. Closing for now. @jonkeller Please correct me if there's any remaining work.

[2018-01-04 22:49] #11987 closed

[2018-01-04 22:57] td234 opened #12669 "Placeholder for amp-list goes invisible, but still occupies space."
## What's the issue?
I am using amp-list with both a placeholder and fallback. When list is populated, placeholder his hidden by adding "visibility: none". I believe this would be better if it were "display: none" because it takes up space on the page if you have added images, copy, etc to the placeholder. This is the behavior of fallback (display:none).

[2018-01-04 23:00] jonkeller commented on #11987
Agree, nothing remaining. Thanks!

On Jan 4, 2018 4:49 PM, "Yuxuan Zhou" <notifications@github.com> wrote:

[2018-01-04 23:09] Gregable opened #12670 "Validator: Disallow template tags on children of <div submit-success template=...> tags"
Related to https://github.com/ampproject/amphtml/pull/12593

We would like to implement a validator rule that allows:

[code]

But which disallows:

[code]

That is, if the `<div submit-success>` tag also has a `template` attribute, then we do not allow any of it's child tags to be a template tag.

Currently, there is no good way to do this with the validator rule system. My proposed rule type wou

[2018-01-04 23:09] Gregable commented on #12670
@danielrozenberg, @honeybadgerdontcare, @powdercloud

[2018-01-04 23:15] jasti commented on #12656
My preference would be to do this for all documents that serve from origin given that publishers today can schedule ads however they want on non-AMP pages. @dvoytenko do you have strong objections to this? If not, is it possible to make this configurable when not on origin?

[2018-01-04 23:20] honeybadgerdontcare commented on #12670
Discussed in person, posting for posterity. Another alternative may be to widen the scope of `disallowed_ancestor` to also handle `spec_name` in addition to `tag_name`.

[2018-01-04 23:42] Gregable commented on #12651
Will leave the issue open for tracking, it's a legitimate issue, but it's probably going to sit around for a while, so if you need a fix I'd work around by adding a space like @powdercloud mentioned..

[2018-01-04 23:56] ericlindley-g commented on #12619
/cc @sebastianbenz

[2018-01-04 23:57] rudygalfi commented on #12025
@nazaninbinesh Can you please support your claims with some specific details on what you think the issues are? Otherwise, there's no information to act on, so I would need to close this.

[2018-01-04 23:58] ericlindley-g commented on #12669
/cc @aghassemi @choumx

[2018-01-05 00:20] lannka commented on #12656
AMP advocate many good practices. Yielding ads load to content load is one of them. I think we should keep a good user experience on AMP no matter where the page is served.

We made change for PWA because we believe PWA has other performance benefit in place.

[2018-01-05 00:33] jasti commented on #12656
AMP is a sliver of the traffic when served from cache whereas it's 100% of their monetization when served from origin. Any drop in revenue due to the slowness of ads (and we know ad slowness causes drop in revenue and viewability) will immediately cause roll back of AMP. I have very little hopes AMP canonical becoming a thing unless all ads on page are in AMPHTML - but we are quite far away from t

[2018-01-05 00:57] rsimha-amp commented on #12054
@bradfrizzell Now that the `localDev` logic is simplified, there is only one item left to sort out. It turns out that when you run...
[code]
... and navigate to `http://<hostname>:8000/examples/ads.amp.html`, the ads don't load because the page is trying to fetch them from `http://ads.localhost:8000/dist.3p/current` and not `http://<hostname>:8000/dist.3p/current`.

I think if we change https://gi

[2018-01-05 03:45] hongwei1990 commented on #12412
*Re:2 - I don't see a progress bar segment for the bookend, am I missing
something?*

On the last page of a story (before the bookend appears), the progress bar
should still have one segment missing. Navigating forward again will
display the bookend, but the progress bar is still short one segment.

Are we still counting bookend as one segment in progress bar?  I agree that
having an empty bar may

[2018-01-05 06:13] choumx commented on #12412
I think we're actually in agreement. I was referring to the last, unfilled segment as belonging to the bookend.

[2018-01-05 06:54] micyeung opened #12674 "Better Grouping of Analytics requests from same Page View in large sites"
Grouping requests from the same page view under the same ID is a common use case ([[1]](https://github.com/ampproject/amphtml/issues/12297),[[2](https://github.com/ampproject/amphtml/issues/1612)]), and is supported by `PAGE_VIEW_ID`.

Problem is that `PAGE_VIEW_ID` only has a small range 0-9999 - this is nowhere near enough.
Large e-commerce sites with tens of millions of page views per day typic

[2018-01-05 07:26] hongwei1990 commented on #12412
Oh! Sorry! Guess I misunderstood your comments. Progress bar only counts by page level; then we will be all good.

[2018-01-05 09:21] micyeung commented on #12517
A demo page has been set up at https://randomtestapp-a5a6f.firebaseapp.com/amp-binding-limit-exceeds-issue.html.
It contains a master amp-list and a detail amp-list, and clicking between items in the master amp-list will trigger a "Max number of bindings reached" error.

[2018-01-05 09:36] micyeung commented on #12610
Demo page up at https://randomtestapp-a5a6f.firebaseapp.com/dynamic-href-in-amp-list.html
You'll see in Dev Tools console log that the domain of the URL is prepended to [href].

[2018-01-05 13:37] tlong2 commented on #12614
Hi,

AMP Auto Ads for AdSense is currently in a beta phase so the option to turn it on within the AdSense UI is not available to all AdSense accounts yet. If the client-side code is implemented without it being enabled in AdSense, then no configuration will be served and the error you see would occur.

We're working hard to make it available to everyone soon and I'll update this bug again once it

[2018-01-05 14:20] bpaduch opened #12675 "Validator workaround for tools that need to specify an attribute value"
Encountered the following validation error **"The attribute 'autoplay' in tag 'amp-story >> amp-video' is set to the invalid value 'true'."** for an AMP Story.

When using React, [React defaults HTML attributes without a value as `true`](https://reactjs.org/docs/jsx-in-depth.html#props-default-to-true) (for example, if `autoplay` is present, React default it to `"autoplay=true"`), which matches HT

[2018-01-05 15:22] ithinkihaveacat commented on #12675
https://www.ampproject.org/docs/reference/validation_errors#invalid-property-value might be a good place to document this, and should probably be updated anyway, since it's a bit misleading to say that the "fix" is to "Correct the invalid property value" in the case of valueless attributes.

Perhaps say something like:

[2018-01-05 16:47] cvializ opened #12677 "Resolve preact + react-dates incompatibility"
The `date-range-picker`'s `onFocusChange` behavior is strange when used with `preact`, but works correctly with `react`. To get the size benefits of `preact`, we would prefer to find the root cause and open a PR on the `react-dates` project to make the behavior match for either library.

/cc @cramforce @kristoferbaxter

[2018-01-05 16:57] danielrozenberg commented on #9768
@dev-drprasad working on it! This is blocked by two other issues (#7118 and #12670,) we're estimating all of these to be resolved by end of January

[2018-01-05 18:33] kamurj commented on #12614
Thank you.

[2018-01-05 18:33] #12263 closed

[2018-01-05 19:22] choumx commented on #12072
New trigger: muted stories don't play videos.

[2018-01-05 19:44] ericlindley-g commented on #9471
/cc @bpaduch

[2018-01-05 19:52] Gregable commented on #12670
Agreed w/ @honeybadgerdontcare

[2018-01-05 19:57] ericlindley-g commented on #3842
I think this is fixed now with the features added to amp-sidebar, but please reopen or make a new bug with specific FRs if not—thanks!

[2018-01-05 19:57] #3842 closed

[2018-01-05 20:26] yieldmo-rao commented on #9307
Hi @jasti  - we'll run some tests and let you know of the results. Appreciate the heads up!

[2018-01-05 20:43] #7975 closed

[2018-01-05 22:51] rsimha-amp commented on #12181
@cramforce @erwinmombay See the section titled "Github Integrations" at https://blog.greenkeeper.io/greenkeeper-2-0-release-da8f8f476c88

It appears that Greenkeeper only needs access to our metadata files (`package.json`, `.travis.yml`, and likely `yarn.lock`). I wonder if we can restrict access to just those files via the Github Integrations API (https://github.com/blog/2226-build-an-integration

[2018-01-05 23:00] cramforce commented on #12181
I checked and they are whitelisted. Should now be configured.

[2018-01-05 23:01] choumx commented on #12517
Thanks for sharing that example. This is definitely a bug and can be fixed.

[2018-01-05 23:09] choumx commented on #12610
Ah, this is probably due to the `resolveRelativeUrl()` call in sanitizer.js. The amp-bind brackets are stripped during sanitation and `[href]` is processed the same way as `href` attribute, which rewrites relative URLs as absolute URLs (hence the domain prefixing). This can be fixed.

[2018-01-05 23:12] #10862 closed

[2018-01-06 00:15] rsimha-amp commented on #12181
@cramforce Thanks.

For Travis CI integration of `greenkeeper-lockfile`, we'll need to add a token called `GH_TOKEN`, either to https://travis-ci.org/ampproject/amphtml/settings, or to `.travis.yml` after encrypting it.

See https://github.com/greenkeeperio/greenkeeper-lockfile#setup

If you can generate and send me the `GH_TOKEN` internally, I can encrypt it and add it to `.travis.yml`.

[2018-01-06 00:31] rsimha-amp commented on #12181
For posterity, here are the installation steps for greenkeeper:

https://greenkeeper.io/docs.html#installation

[2018-01-06 00:31] lannka commented on #12633
Fixed.

[2018-01-06 00:31] #12633 closed

[2018-01-06 00:56] zhouyx commented on #7096
Decide not to move forward to not break pages with GTM.
One exception is `transport: iframe` can only be specified by vendors.

[2018-01-06 00:56] #7096 closed

[2018-01-06 00:58] zhouyx commented on #8396
Close for now. Will reopen upon further request.

[2018-01-06 00:58] #8396 closed

[2018-01-06 00:59] #9231 closed

[2018-01-06 01:00] #9232 closed

[2018-01-06 01:03] zhouyx commented on #11293
The function was removed. Close for now, we can reopen if we see the error again.

[2018-01-06 01:03] #11293 closed

[2018-01-06 01:19] micyeung opened #12685 "amp-img not showing when inside a lightbox and outside of viewport initially"
Start with an `<amp-list>` containing `<amp-img>` sitting inside an `<amp-lightbox>`, and with <amp-img> not initially in the screen viewport.
When `<amp-img>` scrolls into the viewport, the image fails to lazy-load and be displayed.

Demo page: https://randomtestapp-a5a6f.firebaseapp.com/amp-img-not-showing-on-lightbox.html
Open up the lightbox, and scroll down, and you'll see empty image boxes.

[2018-01-06 01:58] jamesshannon commented on #12612
@aghassemi Ali: What are the next steps to getting this approved? Do I need to do anything special? Or is there a queue that requires patience?

[2018-01-06 02:39] choumx commented on #12635
Fixed by #12643.

[2018-01-06 02:39] #12635 closed

[2018-01-06 03:18] choumx commented on #12517
Stumbled on a couple more bugs. 😄

1. Duplicate rescan due to `AmpEvents.DOM_UPDATE` event.
2. Duplicate amp-list render/fetch due to race between `mutatedAttributesCallback` and `layoutCallback`.

[2018-01-06 06:31] leonalicious commented on #11251
then you need to play around with css selector, by using CSS ID Selector , such as

    #amp-list-id .i-amphtml-fill-content

[2018-01-06 06:31] leonalicious commented on #11251
then you need to play around with css selector, by using CSS ID Selector , such as

    #amp-list-id .i-amphtml-fill-content

hope it helps.

[2018-01-06 07:05] grahamle commented on #12685
Actually we encounter this kind of issue in various situation, the key problem is that while the `<amp-img>` is out of the viewport, it won't be rendered. Situations as follows:

1. Multiple `<amp-img>` in a `<div>`, in order to simulate the dynamic carousel;
2. Multiple `<amp-img>` in a `<amp-lightbox>`, when we using this to implement our feedback dialog in our product detail page, the img is no

[2018-01-06 20:19] choumx commented on #12685
/to @aghassemi

[2018-01-07 04:49] choumx commented on #12321
Closing this since I think this is related to developer config rather than amp-bind. Please reopen with more detail if I'm mistaken.

[2018-01-07 04:49] #12321 closed

[2018-01-07 15:07] hackshen commented on #12674
you can use ：NAV_TIMING

[2018-01-07 16:38] eric30 commented on #12659
Yup, similar to #12591. Thanks for pointing that out.

[2018-01-08 07:00] sanjsanj commented on #12412
Thanks both for the feedback!  Finally going to have time again this week to look at this issue.  Be in touch soon, cheers!

[2018-01-08 07:44] grahamle commented on #3857
Hi, @rudygalfi  we just encountered the same issue when our business needs to analyze the product list data, while this kind of data in productList page is definitely async and rendered, thus we can't have this areas to be analized via `<amp-analytics>`. As we know, that's mainly because we can't nest our `<amp-analytics>` inside an `<amp-list>`. **But that's quite important for us to have this fe

[2018-01-08 08:56] grahamle commented on #7970
Highly recommend amp-team to support this feature, after user's interaction.

[2018-01-08 09:14] jaygray0919 commented on #12519
@cathyxz
Hi cathy. Here is a carousel that needs the vertical scroll bar:
  https://afdsi.org/test/amp_carousel/
Will Lightbox 2.0 handle this issues?
Will the amp-lib designation change from `<script  async custom-element='amp-carousel' src='https://cdn.ampproject.org/v0/amp-carousel-0.1.js'></script>` to a new release number, or will the instance simply include a vertical scroll bar when Lightbo

[2018-01-08 11:38] sayantannag opened #12691 "How to add dots or thumbnail pic of carousel to AMP carousel? Still not find any conclusion."
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-01-08 12:39] bysidedevel3rdparty opened #12692 "Intent To Implement: Adding BySide to amp-analytics"
This is an intent to implement a new vendor in amp-analytics: BySide.

We will follow up with a new PR to support this.

[2018-01-08 12:53] oliverfernandez commented on #11143
@keithwrightbos @lannka

I've arrived to this issue because I'm having this same error. This in not only happening inside a remote.html IFRAME, you can also reproduce it if the AMP page being loaded from the AMP cache contains

1. The `<meta content="origin" name="referrer">` in the head
2. An anchor linking to another AMP page, that will load outside the AMP cache (i.e https://amp.example.com/pat

[2018-01-08 12:54] kul3r4 commented on #11251
In general the usage of internal amp css classes (like `-amphtml-fill-content`) for custom style is not possible and will result into an error.(doc [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md))

I played a bit with `layout fill` and it's not clear to me how this could work. `layout fill` doesn't need an `height` and `width` but uses the one of the parent. If yo

[2018-01-08 15:59] cwisecarver commented on #9337
@rudygalfi @lannka Any word on this now that the holidays are over? We're really looking forward to getting engaged time working on AMP for our customers.

[2018-01-08 16:17] newmuis commented on #12412
@hongwei1990 I don't think I get the third line item here.  Shouldn't the progress bar rewind twice in some cases?

For pages that are auto-advancing, the bar starts empty.
For pages that are manually advanced, the bar starts full.

So, given a story with this construction:

    page1: manual advance
    page2: auto advance
    page3: manual advance

If I am on `page3`, all three bars should be fi

[2018-01-08 16:41] aghassemi commented on #12685
@grahamle Thanks for reporting.
For 1. Using horizontally scrollable `div` to mimic a carousel is not supported in AMP yet, you would need to use `amp-carousel` for that.
For 2. If `amp-lightbox` is set to `scrollable` it would be supported but as the bug implies, it is broken. I am looking into fixing this ASAP.

[2018-01-08 16:42] shawnbuso commented on #12666
@aghassemi I think I have a working solution for this one, I just need to test on iPhone, but I'm running into lots of issues. I tried the ngrok solution in DEVELOPING.md and that's making my iframe 404 with "The requested URL /1515094745957/frame.html was not found on this server."

When that failed I tried pushing to heroku and loading from there, but *that's* erroring with "[Error] Failed to lo

[2018-01-08 16:56] rsimha-amp commented on #12666
@shawnbuso We've had long-standing issues with testing ads on non-localhost servers, documented in #12054. I would have expected that the fix in #12673 would have fixed the heroku case too. I'm taking a look right now.

Could you send me your exact repro steps?

/cc @lannka @erwinmombay @bradfrizzell @aghassemi

[2018-01-08 17:10] rsimha-amp commented on #12054
Reopening based on #12666 and https://github.com/ampproject/amphtml/pull/12673#issuecomment-356029846

[2018-01-08 17:28] #12612 closed

[2018-01-08 17:30] aghassemi commented on #12612
@jamesshannon Reviewed and merged, thanks for the fix. Sorry for the delay, vacations and holidays... PRs usually get reviewed in within days during normal times.

[2018-01-08 17:38] mrjoro opened #12696 "Status Update 2018-01-08"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-01-08 17:50] choumx commented on #12696
## Infrastructure & Runtime
### What's done
- State of battery testing doc
- Layers: PR 1 merged!
- All deps upgraded & enforced -- `gulp update-packages`
- Default log level -> WARN
- Upgrade CC to Dec-2017 version
- PE fixes for local testing
- Unblock partner canonical AMP release
- amp-list in amp-form

### What's next
- A2A linking for e-commerce
- Visual diffing: Wrapping up
- Layers: Scorin

[2018-01-08 17:52] rsimha-amp commented on #12054
Paging @erwinmombay @lannka @ampproject/a4a :)

After debugging, I'm seeing that `validateAllowedTypes()` in `3p/integration.js` isn't seeing the `thirdParty*` overrides in `self.AMP_CONFIG` that get applied when we set `AMP_TESTING_HOST`. However, `getAdsLocalhost()` in `src/3p-frame.js` is correctly seeing them.

Presumably, this is because the AMP config overrides aren't being applied to the 3r

[2018-01-08 18:01] jasti opened #12697 "Sticky Ad sometimes appears on the top"
Doesn't repro all the time but @jpettitt was able to trigger it in a few tries. See attached image.
![screenshot from 2018-01-04 11-33-27](https://user-images.githubusercontent.com/2366341/34684683-c2b1ac24-f45a-11e7-980f-f44b87c1f1c1.png)

[2018-01-08 18:07] Adventive commented on #12481
I've updated our fork to the latest and I'm currently trying to load the locally served files on my server. I am able to load all files except I receive a `404` for `dist/ww.js` from `xhr-impls.js:163` and a related `Uncaught (in promise) Error: HTTP 404` from `log.js:489`.

I don't see `www.js` within `dist/` so that makes sense, but the ad loads just fine via `localhost`.

Before updating to the

[2018-01-08 18:10] jonkeller opened #12699 "Only load iframe transport lib if needed"
Currently we are loading the iframe transport lib on any page that uses amp analytics. Since iframe transport is currently only used by a small fraction of total traffic, switch this to an on-demand load.

[2018-01-08 18:14] #12402 closed

[2018-01-08 18:27] rsimha-amp commented on #12481
@Adventive Yes, you should now see `localDev` set to `true` by default after `gulp`, `gulp watch`, `gulp build`, or `gulp dist --fortesting`.

[2018-01-08 18:29] newmuis commented on #12228
#12604 obsoletes the loading dots entirely, in favor of more aggressive preloading of video.

[2018-01-08 18:30] newmuis commented on #12454
#12604 handles the first item from the list above (removing the "3-dot" loading page)

[2018-01-08 18:37] Adventive commented on #12481
Great,

From what I can tell, there is url replacement based on environment. (urls in `ads.amp.html` point to the cdn but in localhost are loaded locally). I also see that occurs from when loading on a non-localhost, the cdn url is replaced with my servers url.

If I point directly to localhost, it loads correctly but attempts to load the non-existent `dist/ww.js` from my server. Also none-existen

[2018-01-08 18:38] newmuis commented on #12107
Folding this into #12412, which is a cover bug for progress bar issues.

[2018-01-08 18:39] #12107 closed

[2018-01-08 18:40] newmuis commented on #12655
I think #12604 will fix this?  Once `MediaPool` is the only code managing these videos, it should understand when to pause/play them.

/cc @alanorozco since he's been looking into `MediaPool` stuff in my absence

[2018-01-08 18:42] rsimha-amp commented on #12481
I'm not familiar with the code that determines how `dist/ww.js` is loaded. @lannka?

[2018-01-08 18:42] newmuis commented on #12072
I'll take another look at this once #12604 is live, since it will likely change the reproducibility of both reports.

[2018-01-08 18:44] aghassemi commented on #12696
## Infrastructure & Runtime
### What's done
- A11Y Fixes for:
  - Carousel's swipe alternative for screen-readers: #12488
  - Returning focus back to opener of sidebar and lightbox: #12502 #12497
  - Ability to focus on any element when sidebar opens (via new `sidebarOpen` and `sidebarClose` events) https://github.com/ampproject/amphtml/pull/12505
- Lightbox 2.0 Fix for extreme aspect ratios: #126

[2018-01-08 18:51] newmuis commented on #12189
This can technically come post-developer preview; we'll just need to manually onboard new domains in the meantime (or, alternatively, disallow onboarding new domains in the meantime).

[2018-01-08 19:19] shawnbuso commented on #12666
Sure thing - here's what I did:

1. In an existing fork I've been using for development, checkout master and pull upstream.
2. `git checkout -b feature_branch`
3. `yarn` (to make sure I'm up to date with dependencies)
4. `gulp`
5. Verify that things are working correctly at localhost:8000
6. Kill gulp.
7. Run `ngrok http 8000`
8. Load up the URL it gives my on my iPhone. See the 404 error mentione

[2018-01-08 19:19] Adventive commented on #12481
From what I've gather:
`ww.js` is a web worker file. Probably used for multiple extensions (in my case `amp-bind`)
It is dealt with in `app.js` from `904-927` (set) and `1016-1022` (get)

[2018-01-08 19:20] ericlindley-g commented on #11841
/cc @sebastianbenz

[2018-01-08 19:22] jridgewell commented on #12697
This should have been fixed by https://github.com/ampproject/amphtml/pull/12449, which is in Canary at the moment. Are you able to reproduce in a canary build?

[2018-01-08 19:23] prateekbh commented on #12227
@alanorozco can u confirm this was fixed by one of ur PRs and can be closed now

[2018-01-08 19:24] sebastianbenz commented on #11841
This (unfortunately) works as intended. The problem is that we use cookies to store the current user state (instead of doing it server-side). This approach doesn't work for cached AMP pages. It's not a problem of amp-live-list, but of how we implemented the update logic on ampbyexample.

[2018-01-08 19:26] #12610 closed

[2018-01-08 19:26] sebastianbenz commented on #12619
Would be great to have a solution for this. This applies to ampproject.org as well (cc @pbakaus, @bpaduch).

[2018-01-08 19:26] zhouyx commented on #9337
hey @cwisecarver I replied to the PR thread.

@msukmanowsky pointed out

We need to think deeper on the parameter reuse here. It's not only another vendor could use that parameter. Inline config could also overwrite the parameter. A safer way would be not allowing vendor/inline config to specify the name parameter, but let AMP runtime maintains an id system for each analytics trigger.

For example

[2018-01-08 19:28] prateekbh commented on #12228
i am not sure if this can be closed now

[2018-01-08 19:51] bpaduch opened #12706 "Video source fails to load with <source> element"
Specifying `<source>` instead of `src` for an `<amp-video>` in an AMP Story results in following errors:

**Failed to load because no supported source found**

![video-error](https://user-images.githubusercontent.com/1012254/34689338-21f880ea-f483-11e7-9f86-955d5c6ff603.png)

This works:
[code]

This doesn't:

[code]

Note: I tested the amp-video code alone, in an AMP page, and it works correctly.

[2018-01-08 19:52] choumx commented on #12454
`go/amp-story-performance` has a mock and more detailed suggestions FYI.

[2018-01-08 19:52] choumx commented on #12454
/cc @gmajoulet

[2018-01-08 19:56] sanjsanj commented on #12412
Just so we're all on the same page, the bookend does not have a progress bar segment and this is how we want the progress bar to behave:

All manual-advancement:

![all manual advancement](https://imgur.com/Dj1SlJO)

Auto-advance cover page, auto-advance page 1, manual-advance page 2:

![auto-auto-manual](https://imgur.com/VbDI6LL)

Rewinding to an auto-advance page:

![rewind to auto advance](htt

[2018-01-08 19:57] choumx commented on #12412
Can't see those images. 🙁

[2018-01-08 19:58] sanjsanj commented on #12412
Yeah sorry, let me fix that now :)

[2018-01-08 20:21] rsimha-amp commented on #12666
@shawnbuso Thanks for the steps. I took a look at our heroku setup code, and it's fairly outdated.

I've published a fix in #12703 which enables `localDev` in the 3p ad frame in addition to the AMP runtime, and updates (and simplifies) the heroku setup. I'll check in with you once the fix is reviewed and merged.

[2018-01-08 20:27] rsimha-amp commented on #12054
Turns out we need to write `AMP_CONFIG` to the 3p frame as well, for local development with a non-localhost server. Fix available in #12703.

[2018-01-08 20:38] newmuis commented on #12412
These all look correct to me; @hongwei1990, can you double-check?

[2018-01-08 20:42] mianuddin commented on #10826
@td234 Hello!
Here's the documentation for the actions, it should hopefully be all you need:
* https://www.ampproject.org/docs/reference/amp-actions-and-events
* https://www.ampproject.org/docs/reference/components/amp-accordion#actions

[2018-01-08 20:42] hongwei1990 commented on #12412
SHARP! Looks awesome! Thanks so much for your help on this!

[2018-01-08 21:03] bpaduch commented on #12250
@alanorozco  - I think this *was* fixed but has since been reverted.  I can still reproduce the issue (on mobile device and mobile emulator).

[2018-01-08 21:05] sanjsanj commented on #12412
Awesome!  And no worries, it's my pleasure to learn from your codebase.  It might still take me a couple of weeks, I haven't looked into the segment-skipping issue and I have a bug... and I only get the rare hour or so a night now to code :)

Also the `MediaBasedAdvancement` wasn't working for me, is it working in master?  I tweaked the selector and it now works though, so just want to confirm thi

[2018-01-08 22:10] lswang1618 commented on #6469
Update that this is now working in the Dev Channel.

[2018-01-08 22:11] #12054 closed

[2018-01-08 22:31] rsimha-amp commented on #12666
@shawnbuso Could you sync your branch past #12703 and see if your heroku tests run okay?

[2018-01-08 22:34] zhouyx commented on #3857
I've looked deeper into this issue. It is NOT that `<amp-analytics>` can't be nested inside an `<amp-list>`. The reason here is that we don't allow `<script>` in mustache template.

@rudygalfi We should consider allowing script of type `application/json` in mustache template.

@grahamle One workaround for you now is to use remote config instead of inline script config. `<amp-analytics config='remo

[2018-01-08 22:53] Gregable commented on #12067
This is resolved, and live everywhere.

[2018-01-08 22:53] #12067 closed

[2018-01-08 22:54] newmuis commented on #12228
I'll close when #12604 is merged and confirm the loading dots no longer show.

[2018-01-08 22:59] newmuis opened #12712 "Clean up autoplay behavior in amp-story MediaPool"
Per #12604:

[2018-01-08 23:06] cathyxz opened #12713 "Lightbox 2.0: implement default thumbnails"
Implement default thumbnails for video, youtube, tweet, etc. Pending icon design.

[2018-01-08 23:16] rsimha-amp commented on #5352
Developers can now run `node build-system/pr-check.js` on their local branch to run all of Travis' tests, with the exception of Visual tests and Sauce labs tests (since they require special setup).

[2018-01-08 23:17] rudygalfi commented on #3857
Let us know if @zhouyx's suggestion works for the short-term. Overall, I think we're interested to fix this, but we need to investigate how to do so.

[2018-01-08 23:55] rsimha-amp commented on #5352
Let's make this a `gulp` task.

[2018-01-09 01:59] jamesshannon opened #12717 "[A11Y] Validation error message are not read politely"
Another A11Y issue from a partner.

They currently have a form validation javascript library which, on validation error, adds `aria-describedby` to the input error field on errors. This causes the screen reader to describe the input element and also read the error message. For example, given HTML similar to:

[code]

Then iOS Safari VO will read out:

Because the focus returns back to the input, w

[2018-01-09 04:33] rsimha-amp opened #12719 "Stop using gulp-util in AMP infra"
`gulp-util` is deprecated. See https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5

[2018-01-09 04:53] jasti commented on #9546
@bradfrizzell @keithwrightbos  ping.

[2018-01-09 05:18] choumx commented on #12610
@leonalicious Verified this is fixed on version 1515455265699.

[2018-01-09 05:18] choumx commented on #12517
@leonalicious Verified this is fixed on version 1515455265699.

[2018-01-09 11:13] glittle2638 opened #12721 "35242973+glittle2638@users.noreply.github.com"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-01-09 14:55] bradfrizzell commented on #9546
Apologies, we will also be implementing $sf.ext.collapse
That will be the correct way to collapse.

[2018-01-09 15:22] coreybyrnes commented on #9546
@bradfrizzell Thanks for the response... a few questions just to make sure this solves the issue:
1. That can be called from within the DFP creative code? If so, I'm not familiar with the $sf object. Can you shed some light on that?

2. This will also collapse an AMP component if present? Is the collapse a `display:none` or removal of the element?

[2018-01-09 15:29] ithinkihaveacat commented on #12706
Are you on dev-channel? Stable had a bug that sounds somewhat similar.

[2018-01-09 15:38] mazuk6 opened #12724 "amp-image-lightbox thumbnail with extra zoom image"
My understanding of a lightbox component is: you have a thumbnail Image and get a bigger image opened in a bigger view once you click the thumbnail. I am missing this logic completely.  When making an AMP-Only Website I have to load all the big images as thumbnails in the desktop view in order to not getting blurry zoom images.

It would be nice to have a possibility to define an extra zoom image.

[2018-01-09 16:04] e2corporation opened #12725 "Impression Discrepancies with Revcontent AMP-Ads (below the fold)"
@lannka Opening ticket based on previous request in Slack Channel. Thanks for looking into this.

Google Analytics for the client account Shows **459K** page views for AMP, Our Internal Tracking shows only **164K** views. We need analysis and explanation for the discrepancy to see what we can change to either a) correct the behavior so there isn't continued loss of revenue or b) make adjustments w

[2018-01-09 16:17] newmuis opened #12726 "Link amp-story audio icon to presence of amp-video, amp-audio, or [background-audio]"
At build time for `AmpStory`, we can do:

`const hasAudio = !!scopedQuerySelectorAll('amp-video, amp-audio, [background-audio]');`

Then pass `hasAudio` through to the system layer instantiation.  This is a rough proxy, determining whether a story *could* have audio; what we want is whether a story is *currently* playing audio, for which we have #11857 filed.

[2018-01-09 16:22] newmuis opened #12727 "amp-story should not show hint on vertical swipes"
Vertical swipe gestures are commonly used by browsers for other actions (e.g. swipe down to refresh the page).  We should disable the hint system for vertical swipes.

/cc @flaviori @hongwei1990 @christianbersch

[2018-01-09 16:33] bpaduch commented on #12706
If you mean, have I enabled "dev-channel" on the [Experiments](https://cdn.ampproject.org/experiments.html) page.  Yes.  I have also disabled dev channel, and the same issue occurs.

[2018-01-09 16:34] newmuis commented on #12696
## UI
### What's done
- Desktop polish and bug fixes
- Bookend polish and bug fixes
- Revise education UI
- Progress bar bug fixes
- Documentation for social sharing in bookend

### What's next
- New loading user experience
- Fix regressions
- Wrap up desktop UX
- Wrap up bookend redesign

[2018-01-09 17:01] newmuis opened #12728 "Set video poster image on amp-video"
In Chrome, if an HLS video loads the HLS manifest successfully, the poster image is hidden (presumably because the video did not error since the manifest fetch succeeded).  But, if the browser subsequently fails to load the video chunk(s), it has nothing to display, so the video "disappears".

We can make `amp-video` robust to this by setting the poster image ourselves on the `amp-video` wrapper e

[2018-01-09 17:48] aghassemi commented on #12728
so we can use normal `<amp-img placeholder>` in `<amp-video>` instead of poster which **may** actually work (reason I think it will work is that we remove placeholder when we get w "playing" event which I hope an HSL with bad chuncks won't fire...)

If you have a Url, that might be worth a try.

Another option might be having the poster be a background image of a wrapper `div`. This may work if br

[2018-01-09 17:48] zhouyx commented on #12563
Can repro in Safari.
`SyntaxError (DOM Exception 12): The string did not match the expected pattern` happens when `querySelect` with invalid selector.
Will fix by throwing user error.

[2018-01-09 17:57] jasti commented on #2640
Closing this as routine clean-up since there hasn't been a follow up. Please re-open if you need assistance.

[2018-01-09 17:57] #2640 closed

[2018-01-09 17:58] jasti commented on #2861
Closing this as routine clean-up since there hasn't been a follow up. Please re-open if you need assistance.

[2018-01-09 17:58] #2861 closed

[2018-01-09 17:58] jasti commented on #3058
Closing this as routine clean-up since there hasn't been a follow up. Please re-open if you need assistance.

[2018-01-09 17:58] #3058 closed

[2018-01-09 17:59] jasti commented on #3133
Closing this as routine clean-up since there this has been launched.

[2018-01-09 17:59] #3133 closed

[2018-01-09 18:05] cathyxz commented on #12519
Hi @jaygray0919 thank you for the example. I think we can find a way to make that work.

Lightbox 2.0 will have a slightly different API. It's currently under the extension `<amp-lightbox-viewer>`, and used with the `lightbox` attribute (though this API may change pending review). The way you would use it is to include

[code]
and add a `lightboxed` attribute to your `amp-carousel`.

[2018-01-09 18:08] zhouyx commented on #12432
Before we go ahead and support batching plugins, I have 2 main questions.
@cramforce @lannka

**1. Who are qualified to add plugin to our code base?**
- Big vendors / One vendor with multi plugins / Site owner ?
- What's our bar here?

**2. What's the standard for batching plugins?**
We support batching plugins because some vendors need to perform their specific aggregation logic.
- Logic besides

[2018-01-09 18:10] jamesshannon commented on #11741
@honeybadgerdontcare How often does the extension get released? This was blocking something important (a peer bonus ;) ).

[2018-01-09 18:18] lannka commented on #12432
My thoughts. @cramforce your call

Plugin has to be designed for one or more vendors. So we don't accept any plugin designed only for a specific publisher.

We might enforce this by not allowing `batchPlugin` configured in pub config or remote config (only vendors.js).

Every new plugin introduced has to be proposed and reviewed by AMP team. We avoid a plugin as much as possible if it can be addre

[2018-01-09 18:19] oliverfernandez commented on #6031
@rudygalfi @avimehta
I'm really interested in this, in order to send metrics to Elastic Search, that are later consumed using Kibana. This case also needs a POST request with body with JSON format.

I'd like to take this development. The approach I was thinking is to allow a `json` variable in `AMP-ANALYTICS` with the serialized JSON object we want to send. This approach is already used by the `da

[2018-01-09 18:28] rsimha-amp commented on #12181
@cramforce @erwinmombay `greenkeeper` and `greenkeeper-lockfile` are now enabled and acrtive for ampproject/amphtml. See https://account.greenkeeper.io/account/ampproject

We're currently using a `GH_TOKEN` with only `public_repo` access. Now, it's wait and watch until the next dependency gets updated, at which point we should expect an automatically generated PR that updates `package.json` and `y

[2018-01-09 18:49] td234 commented on #10826
@mianuddin Hi!

Either I was not clear in my question or I just don't understand.

I have read that documentation several times. This thread talks about programmatically expanding accordion sections using something like "on=myAccordion.expand('sectionname')". I am wondering if this process has been implemented. When I try to use the format as suggested in the "Implementation strategy" above I get

[2018-01-09 18:54] rsimha-amp commented on #5352
Once #12715 is merged, developers can run `gulp pr-check --nobuild --files <test-file>` to quickly run all Travis CI checks and just the tests in `<test-file>` on their local machine. This is more reliable compared to running all the unit and integration tests locally.

[2018-01-09 18:57] aghassemi commented on #10826
@td234 Syntax is `<button on="tap:myAccordion.toggle()">`.
Please see https://codepen.io/aghassemi/pen/baLKqd for a working sample as reference.

[2018-01-09 18:59] bpaduch opened #12731 "Animation on first page disappears"
An animation applied to an element animates in but then disappears.  This occurs **only on the first page** of a story.  The same animation on any other page works correctly

Sample: https://bpaduch.github.io/stamp/animations/basic-animations.html

Note, if you scroll back to the page (that is, go from page 3 -> page 2 -> page 1), the animation occurs correctly.

Seems to happen on fresh reload of

[2018-01-09 19:14] #5352 closed

[2018-01-09 19:35] td234 commented on #10826
@aghassemi
Okay, this is really making me feel stupid. I did try that syntax in the second example I sent, I just typed in wrong in the message above. I have

`<button on="tap:prop-accordion.toggle();">Open</button>`
for this accordion.
`<amp-accordion disable-session-states class="prop-accordion" id="prop-accordion">`

I still get the error. I even get the error on the Codepen page you sent me!

[2018-01-09 19:39] lannka opened #12736 "Print error messages in CID API response to browser console"

[2018-01-09 19:54] aghassemi commented on #10826
@td234 What's happening is that this feature is only available in Dev Channel (https://cdn.ampproject.org/experiments.html) at the moment. So if you enable Dev Channel and refresh it would work. Good news is that this feature will make it to prod release later today and will work without enabling Dev Channel.

[2018-01-09 20:05] zhouyx commented on #12062
This is the actual cause to #12563. Still investigating why parentElement is null.

[2018-01-09 20:06] #12019 closed

[2018-01-09 20:09] honeybadgerdontcare commented on #11741
@jamesshannon It gets released when there are changes. Just noticed your PR hasn't been reviewed or merged. I'll get to that now. I moved some files around in a recent change so you'll need to resolve those conflicts. Sorry about that.

[2018-01-09 20:09] rsimha-amp commented on #5352
Sample output from running `gulp pr-check --nobuild --files=<file>`: https://gist.github.com/rsimha-amp/bd39fc5fe720632a1057075516abf5a1

Total time taken was less than 6 minutes.

[2018-01-09 20:14] #12721 closed

[2018-01-09 20:31] td234 commented on #10826
@aghassemi

That's the best news I have heard all day!

[2018-01-09 20:32] Adventive opened #12741 "Consuming locally served files from a nonlocal server results in an empty port some dynamically generated urls"
## What's the issue?
The entry point for locally served files is almost correctly determined (in `3p-frame.js`). It incorrectly presumes the file is being served from a specific port on the nonlocal server and  tries to the use the port found in the location object from either the current window or parent window.

The missing port causes chrome to interpret `localhost` as a TLD and blocks it (beca

[2018-01-09 20:51] cramforce commented on #12432
We can do this on a case by case basis for now. Generally: Same rules as for any new extension.

[2018-01-09 21:22] bpaduch commented on #12731
Closing --- it's working now.  *puzzled look*

[2018-01-09 21:22] #12731 closed

[2018-01-09 21:37] joshcp commented on #7502
Would it be possible to whitelist a few other html elements in addition to `<a>`? Use case is pulling blog posts from WordPress, and there are often `<p>` elements wrapped around WP content.

[2018-01-09 21:39] choumx commented on #7502
@joshcp Thanks for the info. Going to consolidate with #11094 and hopefully tackle this soon.

[2018-01-09 21:42] #7502 closed

[2018-01-09 21:46] joshcp commented on #11094
As noted in #7502 it would be great to have support for `<a>` and `<p>` elements, etc. One use case for this is populating a template with blog post content from WordPress. Thanks!

[2018-01-09 21:56] zhouyx commented on #12062
I find the reason is that parentElement can be removed from DOM. In this case we should do nothing for sandboxed analytics component.

[2018-01-09 21:58] zhouyx commented on #12562
Should have fixed by #12657

[2018-01-09 21:58] #12562 closed

[2018-01-09 22:51] Adventive opened #12747 "The entry point for locally served files is incorrectly presumed when consumed on a nonlocal server"
## What's the issue?
The entry point for locally served files is incorrectly presumed (in `extension-location.js`) via the location object when consuming them on a nonlocal server.

## How do we reproduce the issue?
- gulp
  - no --host config
- run secondary server
- consume amp extension
  - Note: issue may only be visible with extensions that use web workers
  - In my scenario, I used `amp-bind

[2018-01-09 22:55] jamesshannon commented on #11741
Too many merge conflicts. I'm going to have to revisit this in the future.

[2018-01-09 22:56] honeybadgerdontcare commented on #11741
I could go ahead and lift your changes in if you're okay with that.

[2018-01-09 22:59] jamesshannon commented on #11741
If you have an efficient way of doing that, go ahead. My attempt at rebasing introduced a bunch of issues, and I ended up having to manually re-add all my changes based on my original PR... then ran into renamed files.

[2018-01-09 23:00] newmuis commented on #12072
Actually -- I believe @choumx's report will be fixed by #12604, but not @christianbersch's report.  I suspect @christianbersch's report can sometimes be caused by malformed HLS video manifests (if i.e. if the document refers to a valid HLS manifest, but the manifest does not refer to valid video chunks).  That bug can be mitigated by #12728.

[2018-01-09 23:31] jridgewell opened #12748 "Layers: Move element mutation logic into Layers"
- [ ] Resource's `relayoutTop` needs to be a dirty layer check
- [ ] Mutation should dirty the parent layer
- [ ] Remove direct VSync access
- [ ] Ship black magic mutation detection

[2018-01-09 23:48] nibuca commented on #12374
Hey @bradfrizzell Am I correct that PAGEVIEWID  is the equivalent of window.context.pageViewId which was available in the amp-3p-iframe-src file ?

If so, is there an equivalent to window.context.clientId ?

[2018-01-10 00:00] #12062 closed

[2018-01-10 00:04] zhouyx commented on #11954
Hey @ashishdots I just tested our ampproject.org page in UC browser. I saw the pageview pinged correctly. I am closing this for now, Please feel free to reopen if there's more information. Thanks.

[2018-01-10 00:04] #11954 closed

[2018-01-10 04:13] #12479 closed

[2018-01-10 06:56] hudidit opened #12754 "Support setting dismissal expiration on amp-user-notification"
## Consider this scenario
I want the notification to show once a day/week.

Currently, after a user dismissed amp-user-notification, the dismissal state is stored in local storage. The notification will never show again until the storage is cleared.

I know I can use the `data-show-if-href` API to implement this from server-side. But I believe that it's reasonable to control this by using local st

[2018-01-10 09:47] jaygray0919 commented on #12519
OK @cathyxz - we will build ~20 carousels with their lightbox SVGs in the form used in the example.

When you promote Lightbox 2.0 to production, we'll update those `amp-carousel` files to replace `amp-image-lightbox` with `amp-lightbox-viewer`

Please send a "flare" when we should update files like the above example.

[2018-01-10 10:49] leonalicious opened #12755 "[amp-list] fallback workaround under HTTP Status Code as 200"
I have read the [documentation]([https://www.ampproject.org/docs/reference/components/amp-list#placeholder-and-fallback]) of `<amp-list>` and issue [#9860](https://www.ampproject.org/docs/guides/responsive/placeholders)

And I realize, the `<div fallback>` will only be trigged if the HTTP Status Code returned error, so, I am asking are there any **workaround** which I can use to display "No Data M

[2018-01-10 13:40] kul3r4 commented on #12388
@justforfun I just tried the following:

- Open Firefox
- Go to https://rep.repubblica.it/
- Click on the first article
- The image loads correctly

Could you confirm this bug is still happening?

[2018-01-10 14:01] kul3r4 commented on #12151
@justforfun I can see the voting on Firefox, snapshot attached
![firefox-voting](https://user-images.githubusercontent.com/820891/34776412-b7dd94a6-f60e-11e7-843e-135bb4ccbf97.png)

[2018-01-10 14:20] sebastianbenz opened #12756 "amp-carousel does not render amp-img inside amp-list"
amp-img don't work inside dynamic carousels implemented using amp-list:

[code]

Here is a sample: https://amp-live-list-form.glitch.me/dynamic-carousel.html

//cc @aghassemi

[2018-01-10 14:58] brandonmcconnell commented on #2745
This styling could be added to the amp-custom css block. However, the AMP team locally resolves this issue building upon the lightweight CSS framework Basscss which natively supports this functionality using their overflow-scroll class. Hope this helps!
**Basscss:** http://basscss.com/
**Basscss tables:** http://basscss.com/v7/docs/base-tables/

[2018-01-10 16:18] mrjoro commented on #12550
We are cancelling this week's design review since there are no topics.

[2018-01-10 16:18] #12550 closed

[2018-01-10 16:23] cvializ commented on #12388
I attempted to reproduce yesterday and today and I was unable. Are you aware of anything that changed on your end to resolve the problem?

[2018-01-10 16:26] bpaduch commented on #12706
Nevermind ... it's working now.

[2018-01-10 16:26] #12706 closed

[2018-01-10 16:32] ericlindley-g commented on #2745
Thanks @brandonmcconnell !   I should caveat that: my experience is that left-right scrolling is intercepted by AMP viewers (for example, the AMP viewer when viewing an AMP document from Google Search). This means that containers scrolling on the x-axis can't be scrolled by the user. Have you tested in this context?

[2018-01-10 16:35] bradfrizzell commented on #9546
Hey Corey,
Please refer to the [Safeframe API spec](https://www.iab.com/wp-content/uploads/2014/08/SafeFrames_v1.1_final.pdf) for info on $sf - the relevant pages you'll care about start at page 54.

Second off, realize now I was conflating two separate things. Collapse in safeframe and collapse as you need it are two separate things. $sf.ext.collapse() is an API to return an ad slot back to it's

[2018-01-10 16:45] coreybyrnes commented on #9546
@bradfrizzell Thanks. The big thing for us, and what's been holding us back from using the much-desired Flying Carpet, is being able to collapse (display:none) an amp component from within the creative code. So it sounds like that solution isn't included in the release being referenced?

[2018-01-10 17:28] rsimha-amp commented on #12615
I just ran this test successfully after running `gulp build`. Closing this issue. Please reopen if you see any issues.

[code]

[2018-01-10 17:28] #12615 closed

[2018-01-10 17:37] cwisecarver commented on #9337
I think this makes sense @zhouyx. I just don't know where, since `getIncrementalEngagedTime` will be called multiple times by the same vendor, to initialize and keep track of the amp-analytics-id. If I had the vendor type in scope that would be simple. I just don't know if I do inside of `getincrementalEngagedTime` in the `ActivityHistory` class.

[2018-01-10 17:43] lannka commented on #12696
## ads & analytics
### Done
- Fixed an amp-analytics visibility bug
- URL filter support: PR out for nested macro support
- Feedback on incremental engagement time support
- Changed amp-ad priority to 1 in PWA
- Relaunching AmpContext API migration

### Next
- Vendor specific batching plugin support
- Continuing URL filter work
- Bug scrubbing

[2018-01-10 17:52] #12563 closed

[2018-01-10 18:45] aghassemi opened #12759 "amp-lightbox: Create integration tests"
There are no tests for amp-lightbox. Let's create some high-value integration tests with broad coverage.

[2018-01-10 18:55] zhouyx opened #12761 "Analytics: visibility tracking doesn't work with multi time constraints"
Visibility tracking in PROD doesn't work if both `continousTimeMin` and `totalTimeMin` are defined.

For example.
[code]

[2018-01-10 18:55] zhouyx commented on #12761
Introduced by #12316, fixed by #12752

[2018-01-10 18:58] rsimha-amp opened #12762 "Fix LGTM errors in validator/engine/htmlparser.js"
Errors [here](https://lgtm.com/projects/g/ampproject/amphtml/latest/files/validator/engine/htmlparser.js?sort=name&dir=ASC&mode=heatmap&excluded=false#L512)

Related to #12597

[2018-01-10 18:58] rsimha-amp commented on #12762
/to @Gregable @honeybadgerdontcare

[2018-01-10 19:14] newmuis commented on #12412
Hi @sanjsanj!  The screencap you posted does indeed look like the correct behavior for media advancement.  Thanks for taking a look! 😄

Let me know if you need help digging into the replay issue.

[2018-01-10 19:19] shawnbuso commented on #12666
Works like a charm, thanks! I should have a PR out to fix this issue by the end of the week.

[2018-01-10 19:21] newmuis commented on #11836
We should verify this works before developer preview.  Once verified, this can just be closed.

[2018-01-10 19:31] sanjsanj commented on #12412
Cool, thanks for having a look @newmuis !  I'm making some progress tonight so leave it with me and I'll come back to you guys for help soon as I need it.

[2018-01-10 19:48] cvializ commented on #11540
I believe the error is caused by `interceptLinkClick` in `shell.js`, which calls `e.preventDefault` on the click event, which cancels the event before the analytics code has a chance to respond to the event. I will continue to investigate, but I think we may need to change https://github.com/google/amp-pwa-demo/blob/master/scripts/app_shell.js since clicks are intercepted and not tracked by analyt

[2018-01-10 19:49] #12762 closed

[2018-01-10 20:02] #12685 closed

[2018-01-10 20:13] zhouyx commented on #3857
Realized we talked about allowing json script in <template>
https://github.com/ampproject/amphtml/issues/11874#issuecomment-344729473

[2018-01-10 20:13] zhouyx commented on #12023
Same with <amp-analytics>

[2018-01-10 20:23] newmuis opened #12768 "Remove fullscreen from amp-story"
For the time being, we are going to remove the fullscreen behavior, icon, and tests from amp-story.

[2018-01-10 20:28] newmuis opened #12769 "Delay document ready until first poster is loaded"
AMP viewers may show loading indicators until the document is ready.  However, amp-story standalone documents currently declare themselves ready before the first poster is loaded.  This results in an odd experience where the user will see a loading indicator, then the loading indicator will disappear to reveal a second loading state (as the story is not yet ready) until the assets are available.

[2018-01-10 20:43] jridgewell commented on #12473
/cc @cramforce

[2018-01-10 21:09] e2corporation commented on #12418
@jasti Any additional documentation along with the Impl-Guide? I don't see the fast fetch guide elaborating on the signing service aspect of the workflow. Thank you.

[2018-01-10 21:50] cvializ commented on #12206
I believe this is working as intended. We don't want publishers to use carousels as a timer automatically trigger actions on the page without user interactions. @aghassemi

I looked in the docs and I don't see `slideChange` documented. This issue could be used to track the documentation changes we need to make

[2018-01-10 21:52] newmuis opened #12775 "Add a spinner to represent the loading state of an amp-story-page"
The spinner should show if the page becomes visible before its video and image assets are loaded.  It shows until the assets are loaded, or times out after 8s, at which point it shows an error state.

![screen shot 2018-01-10 at 5 01 31 pm](https://user-images.githubusercontent.com/1651960/34797920-f8c20c04-f627-11e7-8fc8-d949c5484703.png)
![screen shot 2018-01-10 at 5 01 42 pm](https://user-image

[2018-01-10 21:52] rsimha-amp commented on #10092
@cramforce FYI, I'm fixing all the LGTM errors in #12597.

@samlanning I've noticed that over the past few months, errors have snuck in to our code because the `lgtm` check either takes a really long time (therefore, we can't make it a required check) , or because it remains stuck in the `Running analyses for revisions` state.

For example, see #12544, which introduced [these](https://lgtm.com/pro

[2018-01-10 21:54] newmuis commented on #12072
Moving this out of developer preview list, in favor of prioritizing #12728.

[2018-01-10 22:18] aghassemi commented on #12206
@cvializ is working on supporting this **but** even after the support, if `autoplay` is on, the `slideChange` will fire as a `low-trust` event for reasons @cvializ mentioned. This means there is very limited number of actions that can be run as result of that event (e.g. play muted video, run an animation, that's about it...)

[2018-01-10 22:52] jridgewell opened #12780 "Layers: Change Resize rules to account for Layers"
Elements inside Layers which are not in-viewport may be resized without issues, since they would only change the scroll size of the Layer.

[2018-01-10 23:07] zhouyx commented on #12761
confirmed the fix is in prod.

[2018-01-10 23:07] #12761 closed

[2018-01-10 23:24] christianbersch opened #12786 "Low power mode causes story videos to not play"
With Low Power mode enabled (on iPhone6s) video does not play correctly. it either doesn't play at all, or it seems to play it really fast on tap the next page, before the next page is rendered.

@newmuis

[2018-01-10 23:35] #11888 closed

[2018-01-10 23:43] cramforce commented on #12473
@zackargyle What is the time on page you observe on your AMP pages? Have you considered implementing interactive features on the AMP page to make the AMP page more useful? I'm happy to reduce the time, but it should be backed by data for pages that have more use cases than sending users to a page further down.

Implementation wise, I think the best thing would be to switch to loading the SW as a l

[2018-01-11 00:04] cathyxz opened #12788 "Lightbox 2.0: Entry animation regression on carousel lightbox"
There's a regression on the entry into lightbox animation for carousels lightbox by the lightbox attribute.

[2018-01-11 00:18] #11741 closed

[2018-01-11 00:46] aghassemi commented on #10875
Thanks @zhouyx

[2018-01-11 00:46] #10875 closed

[2018-01-11 00:50] rsimha-amp commented on #10092
@cramforce I think we can avoid future errors by allowing LGTM to post comments on pull requests when an error is found.

This can be done via the lgtm integration settings for `ampproject/amphtml`, by unchecking the `Deactivate comments` checkbox. See https://lgtm.com/docs/lgtm/using-lgtm-analysis-continuous-integration

[2018-01-11 00:55] rsimha-amp commented on #12597
Final step to prevent future errors is to allow comments on PRs by the LGTM tool. See https://github.com/ampproject/amphtml/issues/10092#issuecomment-356788056

[2018-01-11 00:56] aghassemi commented on #12370
FB fixed the bug. Closing

[2018-01-11 00:56] #12370 closed

[2018-01-11 00:58] aghassemi commented on #12258
Fixed by #12502. Thanks @cathyxz

[2018-01-11 00:59] aghassemi commented on #12258
actually no, this is a different bug :) reopening.

[2018-01-11 01:01] aghassemi commented on #12093
You are right @nainar. Closed by #12538. Thanks @vinitnalh, closing.

[2018-01-11 01:01] #12093 closed

[2018-01-11 01:03] aghassemi commented on #11980
@streamgao Please see the comment above. Could you please clarify the issue. Thanks!

[2018-01-11 01:18] td234 commented on #10826
@aghassemi

I am happy to say that this code works, but I am unable to pass a specific section to toggle.

[code]

The above works, but the below does not.

[code]

Trying to toggle on section with a button.

Thom

[2018-01-11 01:27] aghassemi commented on #10609
Fixed by #12751
Verified https://mauricionr.github.io/demos/amp/lightbox-scrollable/ behaves properly with the new code
Note: code is in Dev Channel currently, will be in prod next week.

[2018-01-11 01:27] #10609 closed

[2018-01-11 01:59] aghassemi commented on #10826
@td234 not sure what's happening, seems to work form me: I updated  https://codepen.io/aghassemi/pen/baLKqd  with section specific toggles, please take a look, may shed a light on the issue.

[2018-01-11 13:09] rarkins commented on #12181
@rsimha-amp It's perhaps a little late, but would you consider [Renovate](https://github.com/apps/renovate) for this purpose?

It comes with native support for lock file generation - including immediate `yarn.lock` regeneration any time there is a conflict or the file is out of date with `master`. This means you don't need to worry about putting a GitHub token on your CI either.

It also supports

[2018-01-11 13:20] rarkins commented on #12181
You can see an example of a Renovate PR here: https://github.com/algolia/react-instantsearch/pull/835

Note how:
- It groups multiple package updates into a single PR *and* single commit
- The lock file update is also included in the single commit

If a new version of those packages is released, then that PR will be updated *in place* without needing any human intervention. The branch will be reba

[2018-01-11 13:50] justforfun commented on #12388
I'm not able to reproduce the bug anymore but on the FF browser console I see the error:
_g is not a function_
raised here
https://cdn.ampproject.org/shadow-v0.js:81:490
and here
https://cdn.ampproject.org/rtv/011515614886756/v0/amp-access-0.1.js:14:427

![schermata 2018-01-11 alle 14 40 51](https://user-images.githubusercontent.com/477983/34828693-b341e0d4-f6de-11e7-858e-5cf112b4ab84.png)

[2018-01-11 15:03] bradfrizzell commented on #9546
@coreybyrnes
We're going to make a new safeframe API for you to do what you need. Currently planned to be $sf.ext.shrink()

I will keep you updated as this rolls out. Should be within the next month. Will that work for you?

[2018-01-11 16:27] newmuis commented on #12786
My first guess is that the videos that don't play are because might be throwing MEDIA_ERR_DECODE... if they do, then MediaPool (#12604) is a step in the right direction for fixing this, as we can detect this when filling the pool and just lower the cap.  iOS already limits to 16 videos even in the regular (non-low-power) case, so it would make sense to me to limit to fewer than that in the low bat

[2018-01-11 17:19] bpaduch commented on #12545
Must be fixed now.

[2018-01-11 17:19] #12545 closed

[2018-01-11 17:20] bpaduch commented on #12250
Closing again ... appears to be fix .. again. :)

[2018-01-11 17:20] #12250 closed

[2018-01-11 17:44] coreybyrnes commented on #9546
@bradfrizzell Thanks! Would this new `shrink` function set an AMP component to `display:none`?

[2018-01-11 17:51] bysidedevel3rdparty opened #12797 "Intent to Implement: <amp-byside-placeholder> Extension"
The goal is to create an extension for displaying BySide dynamic content placeholders.
The placeholder labels are configurable on the BySide service by our customers and would be placed on an AMP page using an API that looks something like:

[code]

This component is being requested by our clients so it would be extremely important to add this extension in AMP.

We will follow up with a new PR to

[2018-01-11 18:05] newmuis commented on #12786
Nope, my guess was off target.  Turns out iOS 11+ just doesn't autoplay videos in low power mode, and there's nothing you can do about it.  Android Chrome doesn't autoplay videos served from http hosts.

After #12604 goes in, we should change it to also bless all media in the MediaPool on navigation (currently, we only bless on unmute)

[2018-01-11 18:22] aghassemi opened #12799 "Hide/Show of Addressbar headers on Mobile browser causes jump with scroll-based animations"
When mobile browsers hide and show the addressbar, it totally messes with scroll-based animations , since viewport height and scrollTop change.

![unnamed](https://user-images.githubusercontent.com/2099009/34840254-42e6c16c-f6b9-11e7-8639-e9e2462935a1.gif)

[2018-01-11 18:23] adamsilverstein opened #12800 "Add support for MathML"
## What's the feature?

MathML is a low-level specification for mathematical and scientific content on the Web and beyond. See https://www.w3.org/Math/. AMP should support the mathml specification with an amp-mathml tag.

We use the MathJax library to display math formulas on our website https://www.mathjax.org/

To implement the AMP version of these formulas currently, we need to use an amp-ifram

[2018-01-11 18:35] #12071 closed

[2018-01-11 19:00] newmuis commented on #12655
#12604 appears to have fixed this

[2018-01-11 19:00] #12655 closed

[2018-01-11 19:09] alanorozco commented on #12348
Fixed by #12604

[2018-01-11 19:09] #12348 closed

[2018-01-11 19:22] gmajoulet commented on #12532
Seems to work, how can I reproduce this issue?

[2018-01-11 19:42] #12507 closed

[2018-01-11 19:48] bradfrizzell opened #12801 "Allow for RTC macros to be objects in rtc-config in html"
Third party vendor ask. Just need to add stringification. Should be easy fix.

[2018-01-11 20:04] #11975 closed

[2018-01-11 20:20] newmuis commented on #11855
@bpaduch once #12757 goes in, you won't be able to use [AMP actions and events](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md) with `amp-story`.  What's the right way to document that?  A note on the actions/events docs that says "not compatible with amp-story"?  Or a note on the amp-story docs that says "not compatible with actions/events"?

[2018-01-11 20:25] bpaduch commented on #11855
I would suggest both to cover both angles.

[2018-01-11 20:26] jridgewell commented on #12800
/to @aghassemi to track.

[2018-01-11 20:40] #12768 closed

[2018-01-11 20:42] newmuis commented on #12728
@aghassemi are you okay with us doing this generally for all `amp-video`?  Rather than specific to `amp-video` tags that are descendants of `amp-story`?

I think this would affect anyone using `amp-video` with the scenario that I described in the original report (whether they use it with `amp-story` or not).

[2018-01-11 20:44] adamsilverstein commented on #12800
@jridgewell Thanks for considering. If this is something you want to add, I would love to contribute. I'm not yet familiar with AMP internals, but happy to dive in, review and test.

[2018-01-11 20:47] newmuis opened #12804 "Document amp-story analytics"
We have a [doc](https://docs.google.com/document/d/1BS_GR1nmZQPrtaGKmAV3nSicJFRhqhC2WhvhCxBZav8/edit) that describes new variables and events for analytics in `amp-story`.  We should fold that into the [amp-analytics documentation](https://www.ampproject.org/docs/reference/components/amp-analytics) or the [amp-story documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-st

[2018-01-11 20:52] jridgewell commented on #12800
Awesome! /cc @mrjoro to invite you to the organization, so we can assign the task to you.

To start with, please look over the [Contributing Code](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contributing-code) section, then the [Contributing Extended Components](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contributing-extended-components) section will co

[2018-01-11 20:54] aghassemi commented on #12800
@adamsilverstein, totally!

This component can be very similar to `amp-gist` component so looking at that code can be a great reference in addition to the resources @jridgewell mentioned.

Of course we would be happy to answer questions here or on Slack as you go through the implementation.

[2018-01-11 20:56] adamsilverstein commented on #12800
Super, thanks for the resources. I'll dig in and let you know if I have questions.

[2018-01-11 20:56] aghassemi commented on #12728
@newmuis yeah definitely. Hoping enough information is received in `error` events to be able to handle this.

[2018-01-11 20:56] newmuis commented on #11836
Verified in an existing document that the analytics pings are being sent when `<amp-analytics>` is embedded as a child of `<amp-story>`, by using the network tab of Chrome DevTools.

[2018-01-11 20:56] #11836 closed

[2018-01-11 20:57] newmuis commented on #12532
@alanorozco can you still repro?

[2018-01-11 21:31] erwinmombay opened #12806 "[amp-story] Failed to play media element with src ."
Error: Failed to play media element with src .
    at Error (https://raw.githubusercontent.com/ampproject/amphtml/1515617716922/src/log.js:489:16)
    at apply (https://raw.githubusercontent.com/ampproject/amphtml/1515617716922/src/log.js:219:20)
    at apply (https://raw.githubusercontent.com/ampproject/amphtml/1515617716922/src/log.js:233:18)
    at error (https://raw.githubusercontent.com/amppr

[2018-01-11 22:05] erwinmombay commented on #12806
need to catch/user.error/user.log this

[2018-01-11 22:27] josh313 opened #12811 "Intent to Implement: Premutate amp-bind state"
# Background
[amp-bind](https://www.ampproject.org/docs/reference/components/amp-bind) allows developers to create interactive pages that can change content and show/hide different sections through user interactions. In some cases, it would be useful for an AMP viewer to be able to “deep-link” the user into a specific part of the page by setting the page’s AMP state.
# Proposal
We should make amp-

[2018-01-11 22:33] josh313 commented on #12551
I'd like to discuss Premutate amp-bind state (#12811)

[2018-01-11 22:53] alanorozco commented on #12532
Yep, doesn't work when no bookend config is set. Fix in #12812

[2018-01-11 23:06] aghassemi commented on #12755
This should be possible if your JSON data is a single item which itself has an array of items. Then normal conditional mustache templates can be used to render based on the length of the array.

@sebaperez @kul3r4 Do you have a snippet anywhere that does something similar?

[2018-01-11 23:08] aghassemi commented on #12754
/cc @ericlindley-g

[2018-01-11 23:09] aghassemi commented on #12741
/to @rsimha-amp

[2018-01-11 23:09] aghassemi commented on #12747
/to @rsimha-amp

[2018-01-11 23:11] ericlindley-g commented on #12754
@hudidit This is interesting — something I hadn't considered. In order for us to better understand the need, could you explain the use case for needing to reset every day or week? This seems like a different use case than the typical one of consenting to analytics trackers.  Thanks!

[2018-01-11 23:25] jasti commented on #12656
@cramforce thoughts on above please? The request is mainly coming from one publisher who is already live on canonical AMP.

[2018-01-12 00:16] #12532 closed

[2018-01-12 00:20] newmuis opened #12815 "Add autoplay mode for amp-story"
# amp-story Autoplay Mode

## Overview
We would like to have stories play inline in embedded contexts (e.g. feeds), automatically advancing through all pages in the story without any user interaction.  If the user taps on the story, it can open full-screen, at which point the document is opened "normally", where the user can manually navigate between pages, and the story is most likely shown in a

[2018-01-12 00:24] newmuis commented on #12806
This code path was deleted in https://github.com/ampproject/amphtml/pull/12604/files#diff-db95079f23946983423c72c9352c46e3L369

[2018-01-12 00:24] #12806 closed

[2018-01-12 01:06] cramforce commented on #12656
I don't want any more differences between AMP Cache and origin. The AMP Cache is going away as a separate thing anyway with https://amphtml.wordpress.com/2018/01/09/improving-urls-for-amp-pages/

[2018-01-12 01:10] daauerbach opened #12816 "CID API: sessions begun in viewer not stitching in GA"
## What's the issue?

The value of 'cid' in an AMP viewer pageview collect differs from that in the subsequent click-link-to-canonical pageview collect.

## How do we reproduce the issue?

With the CID API enabled (and not showing errors in GA debugger), inspecting the collect beacons shows a different cid is being passed when a user clicks onward from an AMP page in the viewer. Rather than a sing

[2018-01-12 02:00] jasti commented on #12656
Thanks, closing then.

[2018-01-12 02:00] #12656 closed

[2018-01-12 03:17] dlras2 opened #12817 "Placeholders cannot also act as fallbacks inside of amp-img tags"
## What's the issue?

`amp-img` tags with placeholders but no fallback remove the placeholder on failed load. [The documentation](https://www.ampproject.org/docs/guides/responsive/placeholders#interaction-of-placeholders-and-fallbacks) seems to indicate that the placeholder should be used as a fallback if none exists. (Though I'm unsure if externally loaded images constitute "dynamic content" in t

[2018-01-12 10:52] hudidit commented on #12754
@ericlindley-g In my case, I'm trying to invite site visitors to open/download our App with a [Dynamic Link](https://firebase.google.com/products/dynamic-links/).
Other than typical cases of asking for permission, there are ones with promotion purposes, e.g. inviting for subscription or downloading. In these cases, we might want more control of how frequently the notification shows up.

[2018-01-12 12:23] frueckmann opened #12818 "tealium"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-01-12 12:23] #12818 closed

[2018-01-12 16:34] micyeung commented on #12517
@choumx
There's another issue found with 2000 max bindings; issue described in further detail with sample code here:
https://github.com/aemsite/ampdemo/tree/master/amp-binding-limt-exceeds-with-form

[2018-01-12 17:01] jpettitt commented on #11834
When we deprecate `remote.html` can we make it fail gracefully?

@jasti tells me that after 2018/03/29 it will be ignored which is fine.  I'd like to see it become a validator warning at that point and not validator error.  This will allow pubs who are using it for things like Lotame to continue to do so up to the deadline without having to worry about purging pages form their edge cache that migh

[2018-01-12 17:23] harquail commented on #9307
@jasti Yieldmo didn't see any impact of this change on our AMP implementation.
Thanks for letting us know!

[2018-01-12 18:07] #12227 closed

[2018-01-12 18:12] aghassemi opened #12821 "`scrollTo` action does not work inside scrollable lightbox"

[2018-01-12 19:31] adamsilverstein commented on #12800
I made some progress on this in a branch: https://github.com/ampproject/amphtml/compare/master...adamsilverstein:feature/add-amp-mathml?expand=1

Trying rendering as an svg and inserting it directly makes the most sense. Another option is a PNG, which I haven't explored.

Unfortunately with my current branch, I'm getting a console error:
`Error: Cannot find module 'cssstyle/lib/parsers.js'`(https:

[2018-01-12 20:31] aghassemi commented on #12800
@adamsilverstein I would like to propose a different approach.

Having `mathjax` library to load at top level, requires license, security and performance review of their entire code as it would run under the same context as AMP. Using a 3P iframe approach, you can just load the mathjax library from their CDN inside an iframe that AMP creates.

This is the approach taken by`amp-gist`. The code than

[2018-01-12 20:40] jridgewell commented on #12800
Agreed with @aghassemi. If MathJax is able to export the rendered formula a styled SVG, we could then import that node into the host document and remove the iframe (to save resources). But it's unlikely we'll be able to get MathJax running on the host document itself due to security/privacy concerns.

[2018-01-12 20:41] choumx commented on #12517
I can't repro the bug with that example.

[2018-01-12 20:46] adamsilverstein commented on #12800
Ah, I see - thanks for clarifying - I didn’t realize that was what your suggestion originally when referring  to the gist code which I did look at (although the example doesn't work in my local environment. I'll give that a shot. The security/privacy concerns makes sense.

The biggest issue we have with our current iframe implementation is sizing, we may need to resize the iframe once the math for

[2018-01-12 20:56] aghassemi commented on #12817
@dlras2 Correct, currently same tag can not be used as both `placeholder` and `fallback` at the same time.

Somewhat related issue: https://github.com/ampproject/amphtml/issues/10321

[2018-01-12 21:00] aghassemi commented on #12817
**What we should fix here:**
I think it makes sense for `amp-img` to follow the same model as `amp-list` and essentially do:
[code]
This will be a change in behaviour, so we should be mindful of situations this may have negative effects. Possibly keep it under an experiment flag, slowing ramping it up to 100%.

/cc @ericlindley-g

[2018-01-12 21:00] aghassemi commented on #12816
/to @lannka
/cc @rudygalfi

[2018-01-12 21:06] aghassemi commented on #12800
Regarding resizing: both approaches will have the same issue. Iframe can request a resize by calling ```context.updateDimensions(newWidth, newHeight)``` after formula has been rendered.

[2018-01-12 21:39] ampff opened #12823 "[AMP Components in Firefox][NF] [Components_amp_ap_banner] [IOS11.2mobile] No audio for video in example box"
No audio for video in example box in components amp_ap_banner
Steps to reproduce:
1.Launch FireFox
2.Go to https://ampbyexample.com/
3.Click on the hamburger menu
4.Tap on "Components"
5.Tap on "amp ap banner"
6.Observe no audio for the video in example box

Observer result: No audio for video in example box
Expected result: Audio should be enabled
ENVIRONMENT DETAILS:
-FireFox 10.4
-Device Model=

[2018-01-12 22:52] lannka commented on #11389
@cramforce I have 2 related questions:
- why browser enforce CORS rules when request does not contain credential (need to understand if AMP CORS needs to respect that).
- after the CURLS launch, is AMP CORS still needed?

[2018-01-12 22:53] cvializ commented on #12388
I can reproduce that error, but I have not yet found the root cause.

[2018-01-12 22:56] jasti commented on #11834
Good idea. Although, this deprecation would be doubleclick, adsense specific.There is no ETA for fully deprecating delayed fetch for non-Google networks yet. I'm not sure we want to add ad network specific validation rules. Right? CC @keithwrightbos

[2018-01-12 22:59] nibuca commented on #12374
@bradfrizzell is there a particular reason to use HREF with a new variable instead of the already included __amp_source_origin

Or probably more clearly stated, can I depend on the existence of __amp_source_origin and use that in the future ?

[2018-01-12 23:12] lannka commented on #12816
@daauerbach thanks for reporting.

Cache page does emit right CID.
However, canonical page got an empty response `{}` for its call to
`https://ampcid.google.com/v1/publisher:getClientId`

@Gregable can you take a look?

[code]

[2018-01-12 23:19] #12022 closed

[2018-01-12 23:19] hongwei1990 opened #12827 "Wrong post tap UI reaction in amp-story header"
## What's the issue?

Speaker icon post-tap UI reaction is wrong.  Full system header gets highlighted in gray post-tap. It should show a dark circle highlight behind the speaker icon.

## What browsers are affected?
Mobile iOS browser only

cc: @alanorozco @newmuis @choumx @prateekbh

![1071515792137_ pic](https://user-images.githubusercontent.com/33703058/34899087-9f826870-f7ab-11e7-9d40-7ffd62c

[2018-01-12 23:25] jasti commented on #12418
@e2corporation we are look at a light weight approach for ad networks to sign creatives. @glevitzky can guide you. @glevitzky it's the same proposal we are trying to work on with AdZerk.
CC @keithwrightbos

[2018-01-12 23:39] Gregable commented on #12816
@daauerbach , I believe this is an instance of https://github.com/ampproject/amphtml/pull/12716 which should be resolved soon. This should not happen if the AMP and non-AMP (canonical) origins are the same. In your case, one is prefixed by `amp.`

[2018-01-12 23:57] cramforce commented on #11389
CORS is needed without credentials because reading content on other origins isn't allowed on the web by default.

We still need it after CURLS launch due to an oversight of missing the schema in the origin. We could get rid of it only for HTTPS source origin docs.

[2018-01-13 00:08] lannka commented on #12816
@Gregable is right.

@daauerbach please wait for the next AMP release and check back

[2018-01-13 00:18] lannka commented on #11389
You meant for pages on origins with different schema:
[code]

Will have the same `origin` on cache server:
[code]

hence pub server will not know if the page is from http or https.

[2018-01-13 00:49] cramforce commented on #11389
Right. @dvoytenko and I discussed that we could move towards "It was HTTPS unless we tell you otherwise"

[2018-01-13 01:12] lannka commented on #11389
Given that, I think we should still have AMPCORS when request has no credential. We can disable AMPCORS for amp-analytics explicitly though, like what Yuxuan did in her PR: #12787.

Right, that can simplify CORS integrations for pubs that treat the 2 schema the same.

[2018-01-13 01:23] adamsilverstein commented on #12800
@aghassemi thanks for the tip. I've got the rendering working in my branch, still working on the resizing. I'm using a regular iframe maybe I need to switch that to an AMP helper? Can you point me to an example of a component that implements this?

Progress though, the example page is rendering:

![](https://cl.ly/043I2d380o0M/download/Image%202018-01-12%20at%208.20.20%20PM.png)

[2018-01-13 01:36] daauerbach commented on #12816
okay, thanks @lannka  @Gregable, we'll continue to monitor

[2018-01-13 03:11] leonalicious commented on #12517
I am using `Powered by AMP ⚡ HTML – Version 1515614886756`

[2018-01-13 05:23] micyeung commented on #12517
Fired up a demo at https://0f4218e2.ngrok.io/index.html
Clicking 7-8 times between the first 2 rows in the master list will trigger Max Bindings failure.

[2018-01-13 05:45] rarkins commented on #12181
@cramforce @rsimha-amp I am quite shocked and disappointed to see my relevant/on-topic suggestions to this thread deleted here. I took a long time to write these suggestions for the project and have no way to recover them myself. What is the justification for this censorship in a public project and does Google's governance cover deleting user comments at any time without justification?

@cramforce

[2018-01-14 20:48] kul3r4 commented on #12755
We don't but that would be a nice thing to have!

[2018-01-15 03:43] miike opened #12830 "AMP Snowplow - support for IANA timezone"
## What's the issue?

Snowplow AMP analytics expects a IANA time zone code to be present in the `tz` parameter however AMP passes in a time zone offset using `getTimezoneOffset()` rather than a time zone code.

## How do we reproduce the issue?

No steps required to reproduce.

## What browsers are affected?

All

## Which AMP version is affected?

Any AMP versions as this is [vendor specific](htt

[2018-01-15 06:36] techzotezo opened #12831 "Small customizations related AMP module in magento"
Hi,
We are using Plumrocket AMP module for magento.
link is here https://store.plumrocket.com/accelerated-mobile-pages-magento-extension.html
We are using affliate system there where partner can login and can see product details page and category pages.

Is it possible to see only nonamp pages after partner login.

That is after partner login it will display only non amp pages.

How to do that?

T

[2018-01-15 07:17] nainar commented on #12166
Hi, I am claiming this issue.

[2018-01-15 11:35] nha commented on #12821
Thanks for creating this issue.
- original discussion: https://groups.google.com/forum/#!topic/amphtml-discuss/TEbNkNQGDEc
- reproduction: https://gist.github.com/nha/8858d8d2ffe30c4917ff6a7c6899a6f2

[2018-01-15 12:20] mustafaj17 commented on #11047
would really be useful, anyone found any work arounds ?

[2018-01-15 13:05] alexanderdean commented on #12830
Thanks for raising @miike! Is there any appetite from the AMP Project to expose a `getTimezoneCode()`?

[2018-01-15 14:22] e2corporation commented on #12418
@jasti What kind of rough eta are we looking at to get while a4a process implemented and test ready? Thanks.

[2018-01-15 18:56] haroon8iconglobal commented on #10462
when you will give this update bothers ~~~

[2018-01-15 18:57] haroon8iconglobal commented on #9423
Brother when you will complete this task my company is wait for  trigger !

[2018-01-15 20:02] mcmd opened #12835 "Extension does not turn blue if there is an unexpected HTML tag in the head"
## What's the issue?

The AMP validation extension does not turn blue if there is an expected HTML tag in the head

## How do we reproduce the issue?

[This url ](http://output.jsbin.com/hiqekefiqa/)is a simple piece of code that renders in the browser, but does not trigger the extension to turn blue.

[This other url](http://output.jsbin.com/qahemojoka/) is the same code without the <img> tag in

[2018-01-15 22:08] daauerbach commented on #12816
@Gregable, after looking at the code changes, we're still hoping to pin down exactly what you mean regarding #12716 and the CID API more generally. Can you clarify/confirm what's expected for an amp property
  https://amp.example.com
set up with amp-analytics reporting to the UA for the canonical
  https://example.com
when a user goes from the viewer to the linked canonical?

After the recent chan

[2018-01-15 23:55] aghassemi commented on #12835
@mcmd AMP has very restricted rules on what can be inside `<head>` also `<img>` is not allowed anywhere regardless of `<head>` or not.

Is there a particular reason you believe AMP should support certain tags in `<head>`?

[2018-01-15 23:58] aghassemi commented on #12831
@techzotezo I don't believe anyone in this repo can answer your question as it is specified to a particular integration of the AMP technology. Please contact the plugin author for this questions.

[2018-01-15 23:58] #12831 closed

[2018-01-16 00:00] aghassemi commented on #12830
/to @zhouyx @rudygalfi regarding @alexanderdean's question.

[2018-01-16 00:12] aghassemi commented on #12800
@adamsilverstein Awesome! Regarding iframe, yes you want to use `getIframe` from `src/3p-frame` similar to https://github.com/ampproject/amphtml/blob/master/extensions/amp-gist/0.1/amp-gist.js#L61. The third-parameter into this `getIframe` method is the name of the file inside `3p` folder than would run inside of it. (in the case of `amp-gist` the file is https://github.com/ampproject/amphtml/blob

[2018-01-16 01:17] aghassemi commented on #12755
@leonalicious Please see the sample added by @kul3r4: https://github.com/ampproject/amp-by-example/pull/1124

[2018-01-16 01:17] #12755 closed

[2018-01-16 01:34] adamsilverstein commented on #12800
yes - i am using `getIframe` now, however i was injecting the contents via the iframe src (building up the html them inserting with  iframe.src = 'data:text/html;charset=utf-8,' + encodeURI(html); I'll take a look at adding by file.

Can you look at how I am setting up the listener in my branch? I'm still never able to trigger the resize event in the outer frame. I see it being triggered, but the

[2018-01-16 02:00] aghassemi commented on #12724
@mazuk6 Absolutely. We are working on a new image gallery component and will keep this in mind.

[2018-01-16 02:18] aghassemi commented on #12691
@sayantannag Please see
https://ampbyexample.com/advanced/image_galleries_with_amp-carousel/#image-galleries-with-previews and
https://codelabs.developers.google.com/codelabs/amp-beautiful-interactive-canonical/#6

[2018-01-16 02:18] #12691 closed

[2018-01-16 02:19] aghassemi commented on #12677
Closed by #12784

[2018-01-16 02:19] #12677 closed

[2018-01-16 03:13] nainar commented on #12478
Just wanting to confirm the issue.
Re:title we should set the `title` to `alt` if no `title` is provided?
Or we should set `alt` to `title` if no `title` is provided?

The issue title and description seem to be conflicting. Thank you!

[2018-01-16 03:51] aghassemi commented on #12619
I believe this is possible already. If we add `tabindex` and make `:focus` do whatever  `:hover` is doing, then it would be accessible with tabs. For arrow key support `amp-selector` can be used and configured so that arrow-keys `focus` the item and the rest would be the same as above.
@sebastianbenz @ChrisBAshton anyone likes to give it a try?

This is still a good feature request to have a high-

[2018-01-16 04:01] aghassemi commented on #12618
@zhouyx, at what rate do we send position data to 3Ps?

[2018-01-16 04:07] aghassemi commented on #12618
@ChrisBAshton @ericlindley-g My only (and big) concern with this is FPS performance. With [scrollbound-animations in AMP](https://ampbyexample.com/visual_effects/basics_of_scrollbound_effects/), we guarantee that only hardware accelerated animations - which don't cause expensive browser relayouts - can run as result of scrolling. We can't guarantee that in an iframe which means janky scrollbound a

[2018-01-16 04:39] adamsilverstein commented on #12800
@aghassemi I got the resizing working for height anyway and opened a PR - can you review please?

https://github.com/ampproject/amphtml/pull/12836

I'd love help getting width resizing work and adding some tests if you have a chance. Apologies in advance for coding standards discrepancies, I usually contribute to projects that expect more whitespace.

[2018-01-16 05:09] aghassemi commented on #12429
@cvializ ok to close since only #12428  remains open?

[2018-01-16 05:30] aghassemi commented on #12305
Closing, please feel free to reopen if you concern has not been resolved.

[2018-01-16 05:30] #12305 closed

[2018-01-16 05:50] aghassemi commented on #12294
@M1hai Sorry for the delay in getting back to you. Is this still and issue for you? My 11.2.2 iPhone 6 renders them fine.

[2018-01-16 06:03] aghassemi commented on #12266
Testing with http://amphtml-nightly.herokuapp.com/examples/standard-actions.amp.html which has the same navigation drop-down as the sample above. It works in iOS 10.2.2 Safari/Chrome

Closing for now. Please feel free to reopen if still and issue (please include iOS version when reopening)

[2018-01-16 06:03] #12266 closed

[2018-01-16 06:27] micyeung opened #12837 "<amp-list>'s src attribute gets changed dynamically in error"
Using an `amp-list` in combination with `amp-form` in a "Show More" pattern similar to the [demo in AMP by Example](https://ampbyexample.com/samples_templates/product_page/preview/), we find that the `src` attribute in `amp-list`  gets dynamically changed to a meaningless URL like the following:
https://ampbyexample.com/samples_templates/product_page/preview/[object%20Object],[object%20Object],[ob

[2018-01-16 06:45] M1hai commented on #12294
[http://i64.tinypic.com/1zg8acn.jpg](http://i64.tinypic.com/1zg8acn.jpg)
For me, nothing has changed, I don't really understand why since the code remained exactly the same. I did in fact check an iPhone 7 a couple of minutes ago and the problem isn't present there, just the SE seems to be affected.
I think this issue can be closed, thank you for your help.

[2018-01-16 07:11] vamshi5889 commented on #11358
@AndrewKGuan Did you figure out a way to achieve this... auto collapsing the other items?

[2018-01-16 14:21] mcmd commented on #12835
Hi,

(Typo: should be "**UNexpected**" in the title)

The issue is for the canonical, non-amp version of a page. For a non-amp page, if there is an AMP version linked in the head with the amphtml link, the extension will turn blue:

![image](https://user-images.githubusercontent.com/868584/34993474-5a40aca2-fac8-11e7-8de4-0a569946ee9f.png)
What I'm saying is that if there is an <img> tag in the he

[2018-01-16 15:00] newmuis commented on #11843
I'll be taking a look into this

[2018-01-16 15:13] mikeatkinsonthesecond opened #12838 "Feature request - Allow goToSlide to accept a var"
## What's the issue?
It would be useful if goToSlide could accept a variable, so I can programatically send visitors to a specific slide

[2018-01-16 15:38] cramforce opened #12839 "GH token with write leaked to the repository"
Between January 9 and January 12 the amphtml repository contained a token that allowed to issue writes requests to the repository. The token was revoked and removed from the repository. Due to the repository's usage of protected branches no write access to the master branch (which together with release branches is the only branch used in day to day work on the project containing meaningful code) w

[2018-01-16 15:38] #12839 closed

[2018-01-16 16:17] gilbertococchi commented on #12645
Hi all, do you have an update on this issue that is affecting CANONICAL_URL Macro when the AMP pages is embedded via an Amp-Viewer on Firefox Browser?

[2018-01-16 16:47] kul3r4 commented on #4405
Added a sample in [e-commerce sample](https://github.com/ampproject/amp-by-example/blob/master/src/10_Introduction/AMP_for_E-Commerce_Getting_Started.html#L161)