[2016-09-07 01:10] tdrl commented on #2402
I'm late to the game on this.  What's the issue here?

[2016-09-07 07:21] janpetkov commented on #4628
Hi guys,
we have build amp test page with new type="ibillboard",
is there any sandbox/way we could test it?

Regards
Jan

[2016-09-07 08:51] ScottHelme commented on #3254
This is a shame but I can see why. Thanks for the solid explanation 👍

[2016-09-07 13:02] FabienU commented on #4464
Hello, could you please left any feedback regarding possibility implementation of this feature?

[2016-09-07 15:21] #3254 closed

[2016-09-07 15:24] georgecrawford commented on #4568
Hmm. I just tested this again, and a page with `<script async custom-element="amp-experiment" src="https://cdn.ampproject.org/v0/amp-experiment-0.1.js"></script>` in the head seems still to have the render delay (NB: no `<amp-experiment>` block is actually configured in my page). Is https://github.com/ampproject/amphtml/pull/4498 available in production yet?

[2016-09-07 16:32] #4822 closed

[2016-09-07 16:46] jpettitt commented on #4844
Knowing how much foreground time a page had would be really useful along with how many discreet visibility periods made up the time needed to fire the event.  That would let use get a sense of user behavior in the carousel - are they swiping past our articles and coming back etc.

[2016-09-07 16:47] jpettitt commented on #4792
What's the status on this?

[2016-09-07 16:47] jpettitt commented on #4555
ping.

[2016-09-07 16:52] erwinmombay commented on #4792
tomorrow is canary day, i just want to make sure we're don't need to expedite this into full production.

ping @cramforce

[2016-09-07 17:12] jridgewell commented on #4568
@lannka ^. Not sure how we should handle this case.

[2016-09-07 17:14] dvoytenko commented on #4771
I definitely think we should just add `amp-tabs`.

[2016-09-07 17:26] #4034 closed

[2016-09-07 17:30] cramforce commented on #4555
Here is my recommendation:

- leave limit unchanged for now
- not count whitespace
- no longer count non-data URIs in limit

[2016-09-07 17:32] erwinmombay commented on #4034
@jridgewell appreciate the fix, this was one of our main offenders in high error rates

[2016-09-07 18:05] #4792 closed

[2016-09-07 18:05] cramforce commented on #4792
We should definitely get this in for this canary.

I'm inclined to say we should change our prod schedule a bit next week (also due to unrelated reasons) and aim at shipping canary to prod on Monday.

[2016-09-07 18:07] avimehta commented on #4792
Cool. This PR is merged so good to go from my side.

[2016-09-07 18:17] erwinmombay commented on #4792
@cramforce OK, we'll shoot for canary Thursday (or even end of working day today if possible), 1% Friday for this weeks canary.

cc @lannka who is on duty

[2016-09-07 18:21] lannka commented on #4568
@georgecrawford unfortunately right now loading the extension JS without really using it with a <amp-experiment> configuration is not a valid use case. Why do you want to do that?

Meantime, @jridgewell we can discuss how to improve this. Probably we should look at the <amp-experiment> rather than the JS when to block the rendering.

[2016-09-07 18:25] cramforce opened #4848 "Document rtv/ URLs in amp-cache-guidelines.md"
We should explain the scheme as the service worker code relies on the scheme. Caches may ignore it, but then they cannot use the ServiceWorker.

Related to #4846

[2016-09-07 19:20] georgecrawford commented on #4568
Don't worry, I can work around it. Just trying to reduce the changes I need to make when actually putting an AB test live. No problem.

[2016-09-07 19:24] krogersforbes commented on #4833
We tested it using both an iphone 6 (os ver. 8) and an iphone 6+ (os ver 9.3.2) and both versions were occasionally firing all of the ads on the page at once (although sometimes it did only fire the single mobile ad.)

Here is a page on our front end using the real code that we are running, it's possible my example page doesn't have this issue.
http://www.forbes.com/test/krogers/ampcaradtest.html

[2016-09-07 19:25] jridgewell commented on #4568
I would say listen for `docReady`. If it happens and there's no `<amp-experiment>`, there's never going to be an experiment, go ahead and resolve the `variant` promise.

[2016-09-07 19:49] j-e-shaw commented on #4770
I'm having trouble getting a live rendering with Chrome caching but here's roughly how it would look.

[code]

[2016-09-07 19:54] krogersforbes commented on #4833
If it helps, we were actually able to fix the issue with some tricky and abusive css (targeting the slides after the carousel has initialized that aren't suppose to be in view which you mark with visibility: hidden),

.slide[style*="visibility: hidden"] .ad-slide {
	display: none;
}

Which we had to put in place because some of our ads were ignoring visibility: hidden, and were actually breaking o

[2016-09-07 20:01] cramforce commented on #4833
OMG, TIL `.slide[style*="visibility: hidden"]`

[2016-09-07 20:04] cramforce commented on #4833
@aghassemi Could you take a look at this?

[2016-09-07 20:04] Gregable commented on #4537
@jmadler The other one to potentially reach out to would be businessonline (eg: http://amp.businessonline.it/news/34376/unico-2015-730-precompilato-e-cu-proroga-ufficiale-o-quasi-apre-a-proroga-tasi-e-imu-nuove-date.html). These are protocol relative, which are problematic if not tested carefully and in fact, these URLs don't work on https. We'll break these with validator changes.

Other than the

[2016-09-07 20:46] ericlindley-g commented on #3475
Marking as fixed, but @erwinmombay @powdercloud  please reopen if there are any outstanding items—thanks!

[2016-09-07 20:46] #3475 closed

[2016-09-07 21:05] cramforce opened #4849 "Use native srcset when available"
We currently always use a srcset polyfill. Could we use native srcset where supported by the platform (widely supported, but the `w` form that AMP uses primarily is less so)?

Apparently the width descriptor is supported in Safari 9.

[2016-09-07 21:08] ericlindley-g commented on #3474
Can't reproduce in most recent testing. Will re-open if this issue pops up again

[2016-09-07 21:08] #3474 closed

[2016-09-07 21:11] erwinmombay commented on #3474
i think this still exists, since i think the order of operation should be that the scroll should happen first before pruning the number of items. I haven't had a chance to replicate yet

[2016-09-07 21:11] #4811 closed

[2016-09-07 21:14] ericlindley-g commented on #3474
This issue was for a weird UX issue I was seeing, but can't repro anymore—I'm tracking the order of operations bug here: https://github.com/ampproject/amphtml/issues/4332  Does that seem right?

[2016-09-07 21:19] cramforce commented on #4836
Grabbing the issue for myself :)

[2016-09-07 21:23] erwinmombay commented on #3474
@ericlindley-g that sgtm

[2016-09-07 21:32] aghassemi commented on #4730
this is just because type checking is not enabled for most things. Closing,

[2016-09-07 21:32] #4730 closed

[2016-09-07 21:50] cramforce commented on #4784
@Gregable can give some context. A blacklist would be nice, but due to unexpected browser URI parsing it can be insecure.

Would still be nice if we could revisit.

[2016-09-07 22:30] rudygalfi commented on #1591
Hey @timfrietas -- @pribeh summed it up pretty well. If you haven't seen our project site yet, you can visit https://www.ampproject.org to learn more about AMP.

From a developer standpoint, one of the key things to know about AMP is that custom JS is not allowed on an AMP page unless it's built as an AMP extension (i.e. a web component) in this open-source repo.

It's not an exact comparison, but

[2016-09-07 22:42] Gregable commented on #4784
The issue with a blacklist model is that we can't know the behavior of every useragent past, present, and future creating a security issue if we miss something. The obvious no-no is, for example `javascript:`, but you also need to blacklist `script:`. You'd be forgiven if you forgot `vbscript:`. Auditing all browsers for these non-standard protocols isn't feasible, so we stick with a whitelist.

I

[2016-09-07 23:13] koshka opened #4852 "Allow dynamic change of src in video element"
### Short description:

The page embeds a `video` element. Depending on the platform (mobile vs. desktop mainly), the video source element points to specific CDN assets, in that case either a high-resolution MP4 or a low-res MP4 version.

An "HD" button allows the user to toggle between the different sources.

Currently, this is only doable through JS. We'd like an AMP version of that functionalit

[2016-09-07 23:20] ericlindley-g commented on #4770
cc/ @rudygalfi

[2016-09-07 23:23] lannka commented on #4824
@jpettitt this is as intended. the error message is explaining: we don't allow variant with 0 traffic.

In your case, you should just remove the experiment. There's no point to keep it there to waste CPU cycles and bandwidth to load and run the code.

Please let me know if you have objection.

[2016-09-07 23:32] koshka opened #4853 "Support for copying to clipboard"
### Description
Our pages allow users to copy the share URL, (in addition to basic social sharing). To allow our pages to support AMP, we need to be able to copy content to clipboard without JS.

Current feature is provided by a 3rd party tool [clipboardjs](https://clipboardjs.com/). We cannot find equivalent functionality.

### Example
[https://gfycat.com/BareSecondaryFlamingo](https://gfycat.com

[2016-09-07 23:43] ericlindley-g commented on #4791
@pbakaus How is this [.md file](https://github.com/ampproject/docs/blob/e20b653c7f608975be7e15bdba838261508f4f7e/content/docs/reference/validation_errors.md) generated? It's an easy change to jump in and erase the youtube examples in this context—as I believe `src` is not supported as an attribute itself or as a value for data-videoid (@aghassemi to correct if there have been any changes I'm not a

[2016-09-07 23:44] ericlindley-g commented on #4836
Assuming this goes in "Current", but please correct/update as needed—thanks!

[2016-09-07 23:53] ericlindley-g commented on #4643
@shimonenator , could you describe what you mean by "take control" and "stays in control of the experience"?

I think what @aghassemi meant by his question was this: The new lightbox is currently set up to display slides one at a time, like `<amp-carousel type="slides">`. If, instead, the new lightbox was able to display a continuous strip of slides, like `<amp-carousel type="carousel">` (you can

[2016-09-08 00:25] jridgewell commented on #4853
This would be great, as long as we don't do the spammy [text-selection hijacking](http://daringfireball.net/2010/05/tynt_copy_paste_jerks).

[2016-09-08 00:39] cramforce commented on #4784
`intent:` is fine. It should be secure as only a small number of apps opt into receiving intents from the web. CC @ericlindley-g because this type of platform specific thing might be tough in AMP today (as one would really need a custom protocol in iOS instead).

[2016-09-08 00:39] aghassemi commented on #4791
yes, `src` is not supported yet. It was wrongly passing validation until fixed by https://github.com/ampproject/amphtml/pull/4381. I am also not sure how the `validation_errors.md` is generated either. Might be manual.

[2016-09-08 00:56] cramforce commented on #4853
Would be a neat addition to `amp-social-share`.

@koshka Would you be interested in implementing this and contributing it to the project?

[2016-09-08 01:24] dvoytenko commented on #4833
Right. We did run into cases like this with videos and iframes sometimes failing `visibility:hidden` on iOS. Our typical fix was adding `opacity: 0` as well. This might help here as well.

But I also think that the new carousel should not have this issue since slides are always positioned side-by-side and not behind each other.

[2016-09-08 02:31] jpettitt commented on #4852
You can do resolution dependent video with media queries on the `<source>` tag.  It won't give you manual HD switching but it will give you the ability to switch automatically based on screen res.

[code]

[2016-09-08 02:34] jpettitt commented on #4555
Not perfect but better than nothing.  If we could do that and bump to 75K that would be perfect.

[2016-09-08 02:36] jpettitt commented on #4824
The it should say `Has to be in range of (1,100)​​​` not `Has to be in range of (0,100)​​​`

[2016-09-08 03:36] rudygalfi commented on #4071
I will direct Google Custom Search folks to this thread so that they might respond.

[2016-09-08 07:54] pengyiwang opened #4859 "Carousel can't be displayed, the style is broken on mobile and safari developer tool"
## How do we reproduce the issue?

https://www.google.com.hk/amp/s/www.peachdish.com/menus/V7LsTygAAAqbo1pI/eggplant-caponata-with-toasted-ciabatta-arugula--parmesan%3fsource=amp
1. Go to chrome developer tools, then access the link, there is a carousel, but it can't be displayed because `<img>` element isn't generated under `<amp-img>`
2. Go to safari developer tools, then access the link, the st

[2016-09-08 10:15] Bijunairzamp commented on #3343
Team:
I have an Form that captures information like username, email ID and mobile number in TEXT area and gives the option of dropdown box to select Location. This information is then sent to my server when the user taps the SUBMIT button. Can you'll guide me how i can incorporate the same using AMP.
( I am new to AMP)

[2016-09-08 12:50] VedranBrnjetic commented on #2851
I am experimenting with stripping down Bootstrap to pull it below the 50kB CSS threshold. Right now it's a nasty hack - I have removed all CSS dedicated to tables, unused grid offsets relevant to my page, glyphicons, jumbotron, some navbar CSS, pagination, lists, alerts, anything I don't currently need on my page. When I catch time, I will carefully go through all of it and remove all styling for

[2016-09-08 13:46] trodrigues opened #4860 ""Login flow" section does not exist in amp-access docs"
In the amp-access spec, under the ["Login Page"](https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access.md#login-page) section, the following sentence can be found:

However this section doesn't seem to exist.

Is this a section that was forgotten? Or is the name that should be referred here wrong?

[2016-09-08 15:16] ericlindley-g commented on #4860
cc/ @ashwinlimaye @dvoytenko

[2016-09-08 15:25] cramforce commented on #4555
I've not heard any other parties to ask for an increase in size. This seems to come up when transcoding pages to AMP, but AMP is not designed to be a transcoding target for non-AMP pages.

[2016-09-08 15:43] ericlindley-g commented on #4859
I can't reproduce exactly this (no issues on Safari Desktop, Chrome iOS or Android), but am seeing strange behavior that might be related, on Mac Chrome Desktop.

In the attached GIF, see that the carousel works on first load, then, after testing it out, I navigate forward in history (to the cdn-hosted version of the same page, which also has a working carousel), then I scroll up, then down, then

[2016-09-08 15:54] #4592 closed

[2016-09-08 15:59] erwinmombay opened #4861 "Meeting notes for 2016-08-29"
@cramforce
- Back from 5 weeks leave.
- jsconf iceland presentation on 3rd party javascript

@lannka
- Found viewport bugs
- 2 more ad networks on board: pubmine & accesstrade
- Fixed a gulp watcher bug for 3p
- 1st refactor PR for 3p ad network impl code
- Worked with @muxin, brought some changes to render-start API

@muxin
- Scroll sync meeting with @mkhatib
- Finished work on random generation

[2016-09-08 16:11] yuxuan commented on #4861
Hey @erwinmombay, I think you @ the wrong yuxuan. And say welcome back to @cramforce for me please 😄

[2016-09-08 16:20] erwinmombay commented on #4861
@yuxuan thanks 😄 fixed

[2016-09-08 16:26] aghassemi commented on #4833
I see two separate issues here,
1- is ads loading too early and
2- loaded ads leaking their UI through other slides. Indeed in iOS some UI elements (specially native ones like the OS provided play icon for videos) can leak through even when invisible. That issues is fixed in the new carousel (you can see the new carousel by enabling the `amp-slidescroll` experiment)

I will investigate.

[2016-09-08 16:57] rudygalfi commented on #3343
The ability to support this is being developed under this issue. Much of the functionality is built, but is only available experimentally pending the entire feature being ready to launch. If you want to try it out, you can use pages like https://ampbyexample.com/components/amp-form/ to get started.

[2016-09-08 16:59] jridgewell commented on #4824
That's [math notation](http://stackoverflow.com/a/37171635/323767). We could be more explicit with "greater than 0 and less than 100".

[2016-09-08 17:02] aghassemi commented on #4859
I can reproduce this, investigating.

[2016-09-08 17:19] lannka opened #4862 "Dev console error: Unknown attribute for doubleclick: container"
This is caused by the #4307 that adds "container" attribute when the `<amp-ad>` is inside `<amp-sticky-ad>`. The fix should be to whitelist such an attribute.

The bug will not block any ads loading, but increase false alarm error messages in our stack driver reporting.

To reproduce, turn on [canary](https://cdn.ampproject.org/experiments.html) and visit [this page]( https://cdn.ampproject.org/v/

[2016-09-08 17:27] zhouyx opened #4864 "Timeout waiting for render-start/no-content"
Now, amp-ad with `render-start` supported ad type only  resolve `layoutCallback` after receiving `render-start`/`no-content` message.  If the message is never received, `layoutCallback` promise will never resolve. We should introduce a timeout for case like this.
Also with the timeout added, we will have better ideas when to add default fallback for amp-ad.

What should we do in the case of timeou

[2016-09-08 17:29] dvoytenko commented on #4864
Hmm. I thought we already had a timeout for render-start/no-content? If neither arrives, we should wait until iframe is loaded and then give it another N seconds before resolving/rejecting loading.

[2016-09-08 17:30] dvoytenko commented on #4852
/cc @ericlindley-g @rudygalfi
/cc @aghassemi for context

[2016-09-08 17:38] muxin opened #4865 "Write better error message if amp-iframe resize request is less than 100px"

[2016-09-08 17:38] ericlindley-g commented on #4852
Has some similarity to image-src-swapping based on thumbnail clicks in https://github.com/ampproject/amphtml/issues/4500. The UI is different, so it may strengthen the case for a generalized way of doing this.

[2016-09-08 17:41] zhouyx commented on #4862
#4866

[2016-09-08 17:43] zhouyx commented on #4862
I also found in the page that if user add margin to sticky-ad, it will add gap between sticky-ad and bottom of the page. should I add a `margin: 0 !important` to force it to be at the bottom of the page?

[2016-09-08 17:59] jridgewell commented on #4862
Separate issue, please. `margin-bottom: 0 !important` should be enough.

[2016-09-08 18:00] rudygalfi commented on #4824
+1. Let's do it more explicitly.

[2016-09-08 18:02] zhouyx commented on #4862
#4867

[2016-09-08 18:44] krogersforbes commented on #4833
When we were trying to hide the ads leaking through, we tried pretty much everything else before settling on the hacky display: none, and one of the failed fixes was adding opacity: 0 and additional visibility hiddens at lower levels of the slide, none of it seemed to affect the ads from leaking through though.

[2016-09-08 19:31] Gregable commented on #3578
I was on vacation for a couple weeks, but am now back. It sounds like we've concluded we want to allow the `style` attribute. It's unclear to me if we need to do extra work to disallow URLs in the attribute value or not. It sounds like the existing attributes already allow for URLs currently, so it may be a moot point to try to prevent them in the `style` attribute? On implementation: it's very st

[2016-09-08 20:22] Gregable commented on #4567
@powdercloud thought of one more potential issue with this that I wanted to run by you, specifically that I could data encode an .svg image into the `<image>` URL, for example:

[code]

That base64 encoded SVG could in turn have any SVG syntax at all, including something like:
[code]

This would effectively be a workaround to inject a remote image into the document not managed by amp runtime and n

[2016-09-08 20:23] Gregable commented on #4567
@dvoytenko

[2016-09-08 21:20] jridgewell commented on #4862
Did you mean to close this?

[2016-09-08 21:20] jasti commented on #4864
@dvoytenko  Spoke to @zhouyx and @lannka offline. I'm actively working with UX on https://github.com/ampproject/amphtml/issues/3831 - once we have this, I'm less worried about being aggressive with a timeout since there will be some indication that an "ad is coming..". We decided to start with a sufficiently plenty timeout (8 seconds) before we show the fallback or collapse. Beyond 8 seconds, we w

[2016-09-08 21:26] #4862 closed

[2016-09-08 21:41] jpettitt opened #4874 "Allow any valid AMP markup in an amp-sticky-ad tag"
We'd a bit more flexibility around that can be in an `amp-sticky-ad` tag.

Specifically we'd like to be able to include an `amp-carousel` and then include  native unit (eg nativo) as one of the carousel items.

See https://wsbtv.relaymedia.com/amp/news/local/several-serious-injuries-reported-in-head-on-crash/201144893 for an example of a fixed carousel layer.  Right now we can't put `amp-ad` in fi

[2016-09-08 21:56] jpettitt commented on #4555
I get that's it's not designed to be a transcoding target - however in the real world automatically translated pages mostly look like sh*t (eg wordpress plugin) and the vast majority of sites don't have developers on staff.  Those that do have developers have a todo list 50 items long and only the top one or two items on the list will ever happen.  If AMP is to achieve parity in UX with existing s

[2016-09-08 22:14] cramforce commented on #4864
It may be surprising, but I think 8 seconds will prove to be not enough. I do, however, think it would be great to do so.

A more conservative approach would be to stop the loading indicator after N seconds, but still show the ad should it decide to come.

[2016-09-08 22:26] jasti commented on #4864
Okay, the thing we should certainly avoid is to not collapse/show fallback the slot when offscreen just because we think the ad may still be coming but in reality, for e.g., the ad was misconfigured.

TBH, 8 was arbitrary. Why don't we start with 10 (!) but since @lannka is working on logging roundtrip ad load times, we can adjust as we get more data.

[2016-09-08 22:57] jasti commented on #4874
@jpettitt `amp-sticky-ad` was designed with some UX friendly restrictions like -
1. The max height can only be 1/6th of the viewport (in portrait mode) or 100 pixels (whichever is smaller).
2. Sticky ad itself will only appear after the user has scrolled beyond the first viewport.
Will making amp-carousel work inside amp-sticky-ad still make sense with these restrictions?

@zhouyx and @lannka  FYI

[2016-09-08 23:10] cramforce opened #4877 "Object.assign polyfill is missing in 3p iframe"
Seeing lots of errors in prod that got hidden due to logging weirdness.

[2016-09-08 23:15] lannka commented on #4877
But I saw `openx.js` is the only one using Object.assign in 3P.

[2016-09-08 23:16] lannka commented on #4877
Wait, I thought errors in iframe is not reporting back?

[2016-09-08 23:17] cramforce commented on #4877
We do during initial execution (just a single try-catch), but not window.onerror

[2016-09-08 23:19] cramforce commented on #4877
Yeah, seems to be openx only.

[2016-09-08 23:21] cramforce commented on #4877
@caleb-sotelo can you take on fixing this. `Object.assign` is not yet everywhere
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign

[2016-09-08 23:32] zhouyx commented on #4864
#4873

[2016-09-08 23:35] #4864 closed

[2016-09-09 00:50] cramforce commented on #4555
@jpettitt Does your current output only include selectors that actually match on the pages they apply to?

[2016-09-09 00:52] zhouyx commented on #3176
Changes for AMP runtime include:
#4588, amp-ad supports `render-start` event API, this provide a way for AMP runtime to be aware that ad is rendered is ready to resize. #4720 is an improvement to `render-start` API. so that only one of `render-start`/`no-content` will be listened.
#4842 modify `render-start` API, ad server that support multi-size ad can pass in the returned ad size. AMP runtime wi

[2016-09-09 01:06] mkhatib opened #4880 "Validator: action-xhr required when method=POST"
Currently, `action-xhr` is optional. We want to make it conditionally required when `method=POST` on `<form>` and we want `action` to be invalid in that case.

[code]

Is this conditional possible in validator?

This is part of changes to fix CORS and XSRF for forms.

cc/ @dvoytenko @cramforce @rudygalfi

[2016-09-09 01:08] zhouyx commented on #4022
`render-start` API is re-implemented. It provides ways for multi-size ads to let AMP runtime resize. #3176. It also provides info about ad status to AMP runtime.

[2016-09-09 01:14] kozlice opened #4881 "404 page after a few views when page is served from AMP cache"
I'm not sure if the question belongs here, but here's the problem: I've implemented an AMP version of page, which is not final version yet, but rolled out to production for internal preview/performance measurements. It passes validation. When I open `http://cdn.ampproject.org/c/s/MY_URL`, it's correctly displayed, but after a few refreshes I get 404 page (the one with sad phone). I can't understan

[2016-09-09 01:14] zhouyx commented on #3815
It's already implemented. not documented

[2016-09-09 01:46] michaelkleber commented on #3815
@zhouyx Looking at the DOM in the example page from #4862, I see the attribute `class="-amp-element -amp-layout-fixed -amp-layout-size-defined -amp-layout"` on the `amp-ad` element inside the `amp-sticky-ad` container.  That surprises me — I thought the point was for `amp-sticky-ad` to appear.

[2016-09-09 02:04] zhouyx commented on #3815
What the change here won't affect `class`. The change here is to pass `amp-sticky-ad` as through an HTML `amp-container-element` attribute. Ad server can access this piece of info from `data.container`

[2016-09-09 02:05] erwinmombay opened #4882 "TypeError: f.split(...).find is not a function"
TypeError: f.split(...).find is not a function
 <details>
    at Yb (https://cdn.ampproject.org/rtv/011472695982886/v0/amp-ad-0.1.js:113:115)
    at Xb (https://cdn.ampproject.org/rtv/011472695982886/v0/amp-ad-0.1.js:111:497)
    at Object.push.f.fc.doubleclick (https://cdn.ampproject.org/rtv/011472695982886/v0/amp-ad-0.1.js:114:770)
    at Z.push.f.Z.upgradeCallback (https://cdn.ampproject.org/rt

[2016-09-09 02:09] jridgewell commented on #4882
https://github.com/ampproject/amphtml/blob/562f4d9b6ca1de4dab2b692bb4744bec7da206b8/ads/google/a4a/traffic-experiments.js#L130

[2016-09-09 02:11] amphtml-team commented on #4882
yeah definitely that line
On Thu, Sep 8, 2016 at 7:10 PM Justin Ridgewell <notifications@github.com>
wrote:

--

Erwin Mombay | UX Engineer | erwinm@google.com | 650-772-9166

[2016-09-09 02:22] pengyiwang commented on #4859
Hi , @ericlindley-g , the screenshot on my device is attached, @aghassemi Thank you!
iphone5+chrome
![img_1807](https://cloud.githubusercontent.com/assets/13607061/18373485/1e3c11dc-7677-11e6-8986-e2bf5c332484.jpg)
mac book pro + safari
<img width="632" alt="eggplant_caponata_with_toasted_ciabatta__arugula___parmesan_ _airdrop" src="https://cloud.githubusercontent.com/assets/13607061/18373453/b430

[2016-09-09 02:22] jridgewell opened #4883 "Disallow ES6 APIs"
https://github.com/lukehoban/es6features#math--number--string--array--object-apis

Re: https://github.com/ampproject/amphtml/issues/4882

[2016-09-09 03:12] #4836 closed

[2016-09-09 05:41] #4882 closed

[2016-09-09 06:30] jpettitt commented on #4555
Yes we compare every CSS rule to the actual page content and drop all those that don't apply.  If that doesn't get it under the limit we rename all the classes and id's.  Finally if that doesn't do it we start pre-computing media queries and stripping out content for wider pages, this last step is what we'd like to avoid.

[2016-09-09 06:49] jpettitt commented on #4874
@jasti - yes that will work, in fact the viewport scroll feature is a plus - it means we can throw up a recirc element like a carousel as the user becomes engaged.

[2016-09-09 09:35] gigster99 commented on #4071
Important for our pages also! Currently, we have to launch a non-AMP JS page for Google Custom Search. GCS is important because it works well with our JSON-LD structures.

[2016-09-09 13:29] michaelkleber commented on #3815
@zhouyx Ah, thank you, I get it now!  And `window.context.data.container` is indeed `"AMP-STICKY-AD"`.  Much obliged.

[2016-09-09 15:04] cramforce commented on #4555
I sympathize, but we cannot go higher without messing up our performance model.

Maybe we need easily statically separable CSS sections per device type.

[2016-09-09 15:27] dknecht commented on #4555
@cramforce Much earlier in thread i proposed "Maybe we can have sections that aren't delivered to mobile. The cache can remove and vary on mobile vs desktop?"

Instead of having publisher setup vary correctly we can just have cache hide sections not needed for the requesting device

[2016-09-09 15:37] cramforce commented on #4555
Yep, unfortunately such mechanisms rely on the cache to be fast.

[2016-09-09 15:44] jpettitt opened #4888 "Change z-index on amp-sticky-ad to > 10"
`amp-sticky-ad` is `z-index` 2 by default.  The buttons on `amp-carousel` are `z-index` 10 so they float over the ad.  It's an easy fix in our CSS but it would be nice to have it fixed in the defaults.

[2016-09-09 15:46] Siton-Systems opened #4889 "Please add docs about "real life" issues - jquery, boostrap, foundation"
I want to use Jquery and some JS components carousel, lightbox ....(of boostrap, foundation, uiKit etc).
What is the best way?

Its valid - yes/no....You must spot this issue (Because 90% of the sites use some framework - not in general like today docs).

[2016-09-09 15:55] jpettitt commented on #4555
Does it really mess up the model? On the wire we see ~75% compression with gzipped AMP pages and so an extra 50k of CSS is around 12.5k (worst case, probably less) on the wire with AMP pages having an overall weight with the JS, ads, images etc of 1 to 2 MB it's in the noise.  As is we're actually slowing the page down as we squish the CSS by using URL shortening on the css `url()` values and movi

[2016-09-09 16:07] keithwrightbos opened #4891 "Add URL expansion constraints to AMP A4A Format"
## Short description of your issue:

[AMP A4A Format](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md) needs to include constraints around URL expansion support once anchor href expansion on click is merged PR #4773.  In particular, need to ensure that ad creatives do not have access to publisher page information that would not normally be available when wrap

[2016-09-09 16:14] jridgewell commented on #4877
Submitted #4890 since @caleb-sotelo isn't a user on Github anymore.

[2016-09-09 16:27] jasti commented on #3815
@zhouyx Would you please document this change @ https://github.com/ampproject/amphtml/blob/master/ads/README.md#information-available-to-the-ad

Thanks!

[2016-09-09 16:34] dvoytenko commented on #4770
@j-e-shaw Ok, the example looks good, but could you elaborate a bit on this and show the minimal `amp-analytics` setup that should go over the boundary to `amp-ad` tag? I'm still trying to get a very good idea, given that an Ad is essentially an independent document, what's the right expectations for event propagation here.

[2016-09-09 16:49] j-e-shaw commented on #4770
Here's a sample analytics block:

[code]

[2016-09-09 16:54] garcialo opened #4892 "amp-lightbox should be a modal dialog"
## Issues

There doesn’t appear to be any other type of dialog in AMP. Developers are going to be using lightbox as a modal dialog; this will lead to accessibility issues whenever one is created. Without JavaScript, developers have no way to address these issues.

* amp-lightbox has no semantics.
* Screen reader users are given no indication of whether a lightbox is open or closed
* Screen reader

[2016-09-09 16:56] tdrl commented on #4770
So if I'm following right, the desire is that we *not* hoist the analytics tag out, regardless of whether the ad is rendered in shadow DOM or iframe, yes?  In that case, is there anything for A4A to do, or is this an AMP/AMP-Analytics wiring question entirely?

[2016-09-09 17:21] dvoytenko opened #4894 "Cleanup "pan-y" experiment"
See #4820.

[2016-09-09 17:51] dvoytenko opened #4896 "Follow up with EasyPrivacy why our services are on their list"
See https://easylist-downloads.adblockplus.org/easyprivacy.txt

The repo is: https://github.com/easylist/easylist/tree/master/easyprivacy

Currently it blacklists two of our services:

Some background and issues with this:

"amp-error-reporting.appspot.com^" doesn't share identifiers of any kind and is purely there for troubleshooting. So it's not clear why it's there.

"/amp-analytics-" currently

[2016-09-09 17:55] cramforce commented on #4896
Lets focus on `amp-analytics-`. We don't need to argue anything like the above. The facts are clear

- `amp-analytics-` currently provides vital functionality for non-analytics use cases. We can fix this, but not super quickly. Currently pages may be broken.
- It doesn't make any requests by itself. Blocking actual analytics request still works when it loads.

[2016-09-09 18:05] dvoytenko commented on #4820
@RByers to confirm, `html {touch-action: pan-y;}` will not interfere with page touch zoom?

[2016-09-09 18:05] #4860 closed

[2016-09-09 18:06] lannka commented on #4896
This requires #3888 to be done, so that we can move CID and Crypto related code to core.

[2016-09-09 18:14] RByers commented on #4820
It does actually - disables pinch-zoom completely!  But I thought AMP documents (at least the ones I've seen) always have pinch-zoom disabled due to minimum-scale=1,maximum-scale=1 viewport directives?  Is that not always the case?

The right fix is to instead use `touch-action: pan-y pinch-zoom` but that's [not yet shipping in Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=626086).

[2016-09-09 18:17] dvoytenko commented on #4820
No, that's not the case. We only require `minimum-scale=1`. But that's ok. I can only enable this feature when AMP is iframed.

Next question: what kind of effect does `pan-y` has on a web view, e.g. in Android?

[2016-09-09 18:22] RByers commented on #4820
Ok `pan-y pinch-zoom` will work on Edge and soon Chrome so perhaps it's worth feature-testing for it? i.e. just set it first to `pan-y` then `pan-y pinch-zoom` - the 2nd will be a no-op if it's not supported.

The effect on Android WebView should be identical (it's all the same code) - make any horizontal scrolls over top of the WebView just send touch events without scrolling.  I don't know how c

[2016-09-09 18:25] lannka opened #4898 "Promote CID related code to core (out of amp-analytics)"
**Motivation:**
Many extensions need CID hence depend on amp-analyitcs. We could remove the dependencies once get CID promoted to core.
- amp-user-notification
- amp-ad
- amp-access
- Any place needs CLIENT_ID in URL substitution

And, starting recently `<amp-analytics>` is blocked by ad blocker: #4896 .

**Work to be done**
This would need to move the following code to core, the cons is increased

[2016-09-09 18:35] jridgewell opened #4899 "XHR Test failure"
[code]

[2016-09-09 18:36] #4877 closed

[2016-09-09 18:37] erwinmombay commented on #4899
i need to have an image now that is punchable

[2016-09-09 18:37] jridgewell commented on #4899
https://www.youtube.com/watch?v=rTis7pM7_bA

[2016-09-09 19:15] dvoytenko commented on #4892
/cc @ericlindley-g @aghassemi

Agree that we need a dedicated `amp-modal` component. But we need to also apply a lot/most of these to the lightbox as well.

[2016-09-09 19:23] ericlindley-g commented on #4892
Agreed—will dig into the accessibility needs here. For `<amp-modal>` we'll need to make sure it works seamlessly inside AMP viewer context (would also be good to do for `<amp-lightbox>`

[2016-09-09 19:27] Gregable commented on #4555
@cramforce , I would push back on your suggestion of choosing bytes that don't count towards the limit. I think the simplicity of a byte limit makes it easier for folks to reason about and develop against. If there is a good reason for additional complexity in the rule, then we should go forward, but this doesn't feel like it falls into that category.

[2016-09-09 19:35] Gregable commented on #4891
Rewriting the href sounds like it could introduce subtle errors. I'd prefer invalidating completely so that the developer is aware and can make informed decisions. This could also be relaxed later if we changed our minds, but adding the validation constraint later is much harder.

These strings (e.g. TITLE) also seem likely to accidentally occur in URLs sometimes. Is it a concern, both for validat

[2016-09-09 19:52] aghassemi commented on #4892
I think we should rename (in a backward compatible way) `<amp-lightbox>` to `<amp-modal>` and add modal like behaviour to it (including a11y like focus loops, and new features like support for header and  action buttons). The new lightbox 2.0 viewer will become our lightbox component. They can share some base code of course.

[2016-09-09 20:08] Gregable commented on #4636
This should be live everywhere in the validator now.

[2016-09-09 20:08] #4636 closed

[2016-09-09 20:13] dvoytenko commented on #4567
Sure, this is very specific to raster images, so let's make sure the image type is NOT `svg+xml`.

[2016-09-09 20:13] keithwrightbos commented on #4891
I've been thinking about this more and perhaps one requirement should be consistency for the network/advertiser when the creative is rendered via A4A or within cross domain iframe (could not be verified).  Given that the cross domain iframe case does not use the creative modified by the validator, the only course of action is to enforce this within the AMP runtime.  If the AMP runtime could determ

[2016-09-09 20:20] Gregable commented on #4567
Two follow ups:

Are there other types you know of that we should constrain besides svg+xml?

There are a few other places we allow data: urls. Do you feel we should add this constraint to
1. `<amp-img src=`
2. `<img src=`
3. `<video src=`
4. `<audio src=`

4. Images in the custom CSS block

[2016-09-09 20:41] dvoytenko commented on #4567
No. It's enough for us to control the loading on top level for these elements. We only care about SVG since (a) we can control when it renders or not; (b) SVG is more of a composite element.

[2016-09-09 20:55] ericlindley-g opened #4904 "Slidescroll <amp-carousel> flips back to previous image after swipe"
Just on certain implementations (example [here](https://cdn.ampproject.org/c/www.jn.pt/mundo/mundo-insolito/interior/amp/foto-de-perfil-no-facebook-vale-prisao-5374649.html) and [here](https://cdn.ampproject.org/c/roma.repubblica.it/cronaca/2016/08/29/news/mister_facebook_a_roma_tra_jogging_e_luiss_roma_ti_amo_-146822020/amp/)), the slidescroll implementation (when opted into the experiment, via p

[2016-09-09 21:16] ericlindley-g commented on #4904
[Another example](https://cdn.ampproject.org/c/m.lavoz.com.ar/amp/ciudadanos/el-cordobes-que-le-gano-facebook).  Only happens with two-item carousels so far

[2016-09-09 21:16] dvoytenko commented on #4770
Yes, I'd definitely like to avoid hoisting out and I'd say this is certainly b/w runtime and analytics and a4a just happens to be a first customer of something like this.

As for the format, I'm a bit concerned about configuring boundary traversal this way b/c:
 1. It invites mistakes where we'd look for the wrongly set selectors in the parent DOM.
 2. It potentially could go too far by trying to

[2016-09-09 21:22] dvoytenko commented on #4820
Ok. To start with I will only do this for AMP documents that are embedded.

[2016-09-09 21:28] cramforce opened #4905 "Add DCE for new assert functions"
- `assertElement`
- `assertString`

[2016-09-09 21:37] cramforce commented on #4770
Is there any path around hoisting when we have to fallback to 3p iframes? I guess that might be out of scope (no pun intended) here.

Direct support for simple forms of `:host` seem like a good idea, but I'm not sure we can really avoid amp-analytics being aware of being inside of A4A and managing is specifically.

[2016-09-09 21:38] dvoytenko commented on #4770
I think the right thing here is for analytics package to be smart enough and look for 3p intersection events we pass in the `window.context` when `:host` selector is specified.

[2016-09-09 21:42] jasti commented on #4874
Sounds good to me from a product perspective. @lannka @zhouyx Can you think of reasons why we wouldn't allow valid AMP markup other than ads inside of amp-sticky?

[2016-09-09 22:11] dvoytenko commented on #4888
/to @zhouyx

[2016-09-09 22:13] aghassemi commented on #4904
Good find. I think `two-item` is the key here :) Will fix soon.

[2016-09-09 22:15] dvoytenko commented on #3578
I'd prefer if we could disallow URLs from style attributes here.

[2016-09-09 22:20] dvoytenko commented on #4568
@jridgewell @lannka agree. i think it's important to allow scripts without uses at this time. We know that authors a lot of times just pad them all in. I think we have a request for AMP Caches to strip away scripts that are not really used when proxying, but that would only part of all impressions.

[2016-09-09 22:33] dandv commented on #1968
@Gregable: at the time, I was working on a piece of [Google Apps script](https://developers.google.com/apps-script/) attached to a trix with partner AMP URLs to test. In that environment, you can't import Node modules, so fetching the validation result over HTTP is the only realistic option.

The HTML document doesn't have to be shipped over; the URLs are publicly accessible, so the call would sub

[2016-09-09 23:11] cramforce commented on #4905
Also `assertNumber`

[2016-09-09 23:12] mkhatib opened #4910 "Consider avoiding making preflight requests in xhr-impl JSON POST requests"
`xhr-impl` current implementation uses `Content-Type: application/json` for POST requests by default, [forcing browsers to make preflight requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests).

From MDN:

This affects dismissal requests in `user-notifications` and possible `share-tracking`. Forms are not affected since `POST` requests use `applicatio

[2016-09-09 23:15] zhouyx commented on #4888
I see that `amp-banner` has z-index of 11 and 12. What's our preference on these two elements? I personally think `amp-banner` should be on top of `amp-sticky-ad`. @mkhatib

[2016-09-09 23:17] erwinmombay commented on #4905
got it, thanks

[2016-09-09 23:23] dvoytenko commented on #4910
/cc @erwinmombay

I'm wondering how we can "carefully" do it w/o disturbing any existing implementations. Might be good to find out who uses this feature now.

[2016-09-09 23:26] zhouyx opened #4912 "Passing variables to `getIframe()` directly, w/o writing to HTML attribute"
with `amp-ad` we have two things that we want to pass to `getIframe()`, cid and ad-container, our current solution is to write this info to HTML attribute first, and `getIframe()` will get info using `getAttribute()`.

The current method has potential security issue as we are writting `ampcid` to attribute directly. Also it is a waste to write the info to somewhere else and ask `getIframe` method

[2016-09-09 23:32] dvoytenko commented on #3434
Yes. The main goal of layers and relative measurements is to be able to transform coords from one system to another. Ownership has to be completely removed before we all go insane.

[2016-09-09 23:35] jpettitt commented on #2049
Seems to be fixed some time ago - closing.

[2016-09-09 23:35] #2049 closed

[2016-09-09 23:52] dvoytenko opened #4915 "Support friendly-iframe embeds"
It's an embed that's created using `iframe.srcdoc`, but supported by the same AMP runtime as the embedding context.

[2016-09-10 00:03] powdercloud opened #4917 "The tests we run in Travis are too flakey."
I'm trying to get a PR in, and I think it's been 3 times in a row that something in the test suite has failed. It's timeouts and things like this. I'm sure everyone contributing a bunch has run into it so I hope it's OK to keep the description of the problem vague.

Maybe we can do any of these?
- Increase some of the timeouts so the tests don't flake as often.
- Do something more principled to av

[2016-09-10 02:47] cramforce commented on #4555
OK, I thought about this some more and I think I have a solution that I'd
like and that should make almost everyone happy:

- leave the existing limit in place unchanged.
- add an alternative rule (it is enough if one is met) that says: at least
90% (actual number TBD) of CSS selectors match content in the document. On
top of that limit total byte count of data URIs.

Of course, this would be a pr

[2016-09-10 03:51] cramforce commented on #4899
I'm turning off the test. @mkhatib please turn it back on.

[2016-09-10 03:55] jridgewell commented on #4899
Maybe http://sinonjs.org/docs/#server?

[2016-09-10 04:29] cramforce commented on #4899
#4908 skips the test.

[2016-09-10 16:36] Bijunairzamp commented on #3343
Thanks Rudy for the prompt reply.. surely i will be trying out and sharing
my experience

On Thu, Sep 8, 2016 at 10:28 PM, Rudy Galfi <notifications@github.com>
wrote:

[2016-09-10 17:58] jaygray0919 opened #4919 "Microdata and RDFa in AMP"
Microdata **is supported** in AMP but RDFa **is not**.
Here is the source of the mark-up below: [http://schema.org/CreativeWork]

Microdata:

[code]

RDFa:

[code]

AMP validator throws the following errors on RDFa mark-up:

_The attribute 'vocab' may not appear in tag 'div'._
_The attribute 'property' may not appear in tag 'span'._

There are other RDFa object properties, such as `about`, `rel` a

[2016-09-10 19:06] jaygray0919 commented on #4555
What tool can we use to automatically determine that "90% of CSS selectors match content in the document."

We've search for such a tool but have come up empty.

There are some candidates but they do not handle `@media`.

/jg

[2016-09-10 19:25] dknecht commented on #1968
CloudFlare has added an endpoint to our beta cache with a json output.  We are happy to tweak output based of feedback.

`curl https://cdn.edgeamp.org/q/' -X POST —data-binary @invalid_amp.html -H 'Content-Type: text/html; charset=UTF-8'`
`curl https://cdn.edgeamp.org/q/cfedgeorigin.com/amp/invalid_amp.html`

[code]

[2016-09-10 19:46] AmeliaBR commented on #3578
Would it really be that hard to implement the check for external references?

Basically, you are looking for any instance of `url(` that doesn't match `url([whitespace?quotationmark?]#`, in the `style` attribute or any of the SVG presentation attributes.

That's not a perfect parser: it could theoretically result in false positives like

- `content: "url(address)"` (not actually a URL, just a stri

[2016-09-10 20:09] cramforce commented on #4555
@media is irrelevant here. It isn't required that things actually match at
a specific screen size, just that they at least potentially match.

I think mod_pagespeed does such pruning, but it may make sense to create a
few special purpose node, PHP, etc modules.

On Sep 10, 2016 12:06 PM, "jay gray" <notifications@github.com> wrote:

[2016-09-12 00:58] tdrl commented on #4891
I'm not clear on the "the cross domain iframe case does not use the creative modified by the validator" point.  There are two ways in which something can end up in x-domain iframe: (1) being general HTML or otherwise invalid/not validated A4A, or (2) being validated A4A but on a browser without shadow DOM support.

(2) is a simpler case.  In that case, the creative _will_ have passed through the v

[2016-09-12 01:04] jasti opened #4923 "Ad when served using layout = responsive doesn't render properly"
Regular JS version : http://output.jsbin.com/yifodoj
![image](https://cloud.githubusercontent.com/assets/2366341/18422013/588d2f68-7863-11e6-9155-126d06dfa3bf.png)

AMP version : http://output.jsbin.com/mivofa
![image](https://cloud.githubusercontent.com/assets/2366341/18422016/5e0866d8-7863-11e6-8954-633d428959fa.png)

[2016-09-12 01:15] keithwrightbos commented on #4891
Apologies I confused myself there.  You are right that in the cross domain,
failed verification case the post validation version of the creative is
used so removed macros would likely be in place.  I say likely given that
failure to valid means anything could be in the creative...  There are no
concerns when the creative is within an iframe.

I believe there are two issues at play:

1.  Does the v

[2016-09-12 11:30] kamtschatka opened #4925 "amp-analytics signal is unreliable/not working at all"
## Short description of your issue:

I tried to create a page with an amp-analytics tag and checked how reliable the signals are.
- When there is no config file is included as attribute, the signal is sent out most of the times.
- When a config file is included as attribute, the signal is NEVER sent out.

## How do we reproduce the issue?

### When no config file is provided:
1. Go to [http://jsbi

[2016-09-12 14:52] cramforce commented on #4912
SGTM to change to explicit passing.

[2016-09-12 14:57] #3101 closed

[2016-09-12 16:28] dvoytenko commented on #4925
/to @avimehta

[2016-09-12 16:28] dvoytenko commented on #4925
/cc @rudygalfi

[2016-09-12 16:32] #4899 closed

[2016-09-12 17:10] cramforce commented on #4917
@powdercloud Do you have a travis run with an example? We had a persistent failure all of Friday which we took too long to to disable (I did late Friday night, but you would have had to sync past that). Now it is fixed.

[2016-09-12 17:49] erwinmombay opened #4928 "switch dismissal href from json to url encoding for amp-user-notification"
will add further info..still investigating
cc @ericlindley-g

[2016-09-12 18:03] erwinmombay opened #4930 "amp-fresh default visibility state"
an `amp-fresh` component's content is "replaced" on a successful update which can cause a flash during replace. would the correct visual ux here be to hide the content by default and show it after a successful/failed update?

cc @ericlindley-g @dvoytenko (and abby, don't know her username yet)

[2016-09-12 18:11] powdercloud commented on #4917
@cramforce I just reran the test. It failed again, this time probably due to flakiness:
https://travis-ci.org/ampproject/amphtml/builds/158873686
I had some hunch that the failure on Friday was persistent, but it took me quite a few trials to get that hunch.
Perhaps it should be possible to override the thing when the failure is clearly not related to what I'm checking into there.

[2016-09-12 18:13] powdercloud commented on #4917
OK this is even more puzzling. There's a failure in the middle of it, but the overall color is green.

[code]

Will try to merge and see what goes. :-)

[2016-09-12 18:13] avimehta commented on #4925
hi @kamtschatka I am not able to reproduce the error from either of the links that you provided. The page with config file always sends a hit but unfortunately I can't replicate your exact setup because I don't have a valid appid to use. @rudygalfi can you get in touch with mpulse to get a testing account?

Also, @kamtschatka Do you do anything specific when the hits stop going out? It is possible

[2016-09-12 18:14] powdercloud commented on #4917
Merging worked.
@cramforce Also, thank you for fixing the breakage.

[2016-09-12 18:14] Gregable commented on #4555
@cramforce , perhaps it's my anti-abuse background, but I can see someone doing something like the following:

[code]

If you develop your site-wide CSS at the same time as this static blob of useless divs, you get to make your CSS as complex as you want and always get around the AMP rules.

[2016-09-12 18:17] cramforce opened #4932 "Flake in IntersectionObserver test."
[code]

[2016-09-12 18:18] cramforce commented on #4917
This was a bit special, because we had a non-hermetic test that failed due to an external dependency. So there was nothing to roll back. I'm sorry we didn't take quicker action to skip the test.

I filed #4932 for your flake (which is curious in that apparently `afterEach` fails are not counted as real errors.

[2016-09-12 18:18] #4917 closed

[2016-09-12 18:20] mkhatib commented on #4932
Similar to: #4552

[2016-09-12 18:21] cramforce commented on #4555
@Gregable we're not trying to make this protected against that type of abuse, just make the path of least resistance lead to good results. People can make large docs in the HTML part anyway, so protecting against that doesn't really help.

In particular, the capability you need to generate the contents of `staticBlobOfCssRules` are roughly equivalent with what you need to figure out which rules to

[2016-09-12 18:22] #4932 closed

[2016-09-12 18:22] Gregable commented on #3578
I'm unsure if a regex test would be sufficient, but I'm not a CSS expert by any means. For example, would this succeed: ``` ur/* */l('http://example.com/') ```? or this: ```style="&#117;rl('http://example.com/')"```

We have a CSS parser in the validator already, that extracts URLs, so I think we should probably just use that on these fields. We just need to wire that code path in for these style

[2016-09-12 18:31] ericlindley-g commented on #4930
cc/ @rudygalfi

[2016-09-12 18:39] AmeliaBR commented on #3578
@Gregable Good points. If you've got a proper CSS parser test handling the URL testing, that is what you should use.

You'll of course have to make a judgement call on the performance impacts of client-side validation. But either way, you should have the same rules for `style` attribute as for SVG presentation attributes.  There are also other attributes like `<use>` href that accept a URL.  Altho

[2016-09-12 18:48] jridgewell opened #4933 "Closure adding Array#keys polyfill to all binaries"
Sometime recently, Closure started adding an `Array#keys` polyfill (and a `Symbol` and iterator polyfill!) to _all_ of our binaries! 1.4kb uncompressed, 662b gzipped. All totally useless! :rage1: And's it's included in all our extensions, too! :feelsgood: :rage4: :godmode:

[code]

[2016-09-12 19:01] kamtschatka commented on #4925
No i did not do anything specific.
The strange thing was: I tried narrowing down the problem a bit more and removed the network timing parameters one by one until it worked again. At that point i did the opposite test to see if that really was the problem and added them again one by one and it kept working until a certain point and suddenly it stopped working again.
I did not figure out what exact

[2016-09-12 19:20] kozlice commented on #4889
You can't do that. 3rd party JS is not allowed on the page itself, only inside sandboxed iframes. This is stated in docs: https://www.ampproject.org/docs/get_started/technical_overview.html#keep-all-third-party-javascript-out-of-the-critical-path (although I should say that wording could be more straightforward there).

[2016-09-12 19:26] abeck000 commented on #4930
hm...lets talk about this...i have some ideas as this will also likely come up for the ad components.

[2016-09-12 19:50] dmochak opened #4935 "[a11y] AMP install banner appears near top of page in linear swipe order"
When navigating linearly with a screen reader, the install banner is presented above the page content rather than below it.

## How do we reproduce the issue?

1. Activate TalkBack (settings > accessibility > TalkBack)
2. Open https://amp-mk-3.herokuapp.com/examples/viewer.html and open the install banner.
3. swipe to the right with one finger repeatedly.

Actual result: the banner comes into focu

[2016-09-12 20:28] aghassemi commented on #4904
Also found a related bug which happens on all carousel, without a `loop` enabled, if one goes to slide 2 and then uses the "back control button", it does not work. Swiping works however. @ericlindley-g

[2016-09-12 20:41] aghassemi commented on #4904
Second bug is on all carousels regardless of number of items. Original bug is only on 2-item carousels. I spent some time on this but I am not familiar enough with code and the different edge cases it supports to fix it. Assigning to @sriramkrish85, feel free to assign back if you have higher priority stuff on your plate.

[2016-09-12 20:59] sriramkrish85 commented on #4904
Ali this can happen because iOS scroll snap is flimsy with CSS changes. Can you confirm that this happens on Android as well and also check out reverting your latest CSS changes . I can come and sync up tomorrow

[2016-09-12 21:09] aghassemi commented on #4904
Original bug happens in all browsers with 2-item carousels. in iOS, swipe works but using the control button doesn't. In Chrome, neither swipe or using controls button work. There is some logic break-down with carousels that have 2 items that I could not pinpoint.

[2016-09-12 21:20] dmochak opened #4940 "e"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-09-12 21:20] #4940 closed

[2016-09-12 21:31] dmochak opened #4941 ""open app" does not function when TalkBack is enabled"
## Short description of your issue:

The install banner does not redirect to the play store with the TalkBack screenreader active,.
## How do we reproduce the issue?

1. Activate TalkBack (settings > accessibility > TalkBack)
2. https://amp-mk-3.herokuapp.com/examples/viewer.html
3. Activate the AMP install banner by selecting "two"
4. Double tap "open in app."

expected result: the user should be

[2016-09-12 21:36] dmochak opened #4942 "[A11y] focus loss when dismissing install banner"
## Short description of your issue:

Screenreader focus on Android becomes lost after dismissing the AMP install banner.

## How do we reproduce the issue?

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue and nothing else.

1. Activate TalkBack (settings > accessibility > TalkBack)
2. open the install banner from by clicking the two li

[2016-09-12 21:37] dmochak commented on #4942
Whoops, link to demo: https://amp-mk-3.herokuapp.com/examples/viewer.html

[2016-09-12 21:46] ericlindley-g commented on #4942
to/ @mkhatib

[2016-09-12 21:55] ericlindley-g commented on #4935
cc'ing @mkhatib

This is an interesting case—the banner is at the bottom of the screen in the first viewport, but essentially sits above the content below the first viewport. How are fixed-position elements like this usually handled (for instance, cookie permission notices)? If the banner is after the page content, how many extra swipes does it typically take to get to the banner?

[2016-09-12 22:22] #4905 closed

[2016-09-12 22:50] lannka opened #4946 "Duplicated amp-ad README files"
Files `amp-ad.md` and `amp-embed.md` are in both folders: `builtins/` and `extensions/amp-ad/`.

Which is not only confusing both publishers and 3P contributors (some of them are still updating old place but not new place), but also becomes a blocker for us to improve the `amp-ad` documentation in general.

It was due to the migration of `amp-ad` from builtin to extension. However, `builtins/*` st

[2016-09-12 23:33] Siton-Systems commented on #4889
Thanks.

And what about CSS? boostrap, and so on

[2016-09-12 23:55] jmadler opened #4947 "amp-fit-text layout=fill breaking parent element"
This might be a misunderstanding on my part, but when amp-fit-text is called with layout=fill:

`<amp-fit-text width="300" height="200" layout="fill">foo</amp-fit-text>`

It seems to be exceeding the size of its parent element and filling its grandparent element instead.  My understanding is that it should fit to fill its parent element.

See this [gist](https://gist.github.com/jmadler/71f5a5fd7b8

[2016-09-13 00:16] cramforce opened #4948 "amp-analytics swallowing errors"
I noticed that `amp-analytics` uses `.warn` to emit user errors like here. https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/transport.js#L70

These are currently never really shown to anyone. Should we:
- Make these errors
- Or show warnings

?

I think the latter makes sense.

[2016-09-13 00:18] cramforce opened #4949 "Consider stopping to transmit stack trace for user errors."
Capturing the stack is expensive and not needed for user errors.

[2016-09-13 01:23] jmadler opened #4953 "amp-social-share layout=flex-item not rendering"
I can't seem to get amp-social-share working with layout=flex-item in a flex-box div.  See [this gist](https://gist.github.com/jmadler/15c17631841a9cef0d27e9b8050738ef) as a minimum reproducible test case.

[2016-09-13 01:25] jmadler opened #4954 "Test coverage for components+layouts"
I seemed to have a stumbled on a handful of cases where amp components don't behave as I'd expect with layouts other than responsive (#4947, #4953).  I suspect there may be more bugs in this vein.

Would it make sense to review the testing suite and/or code review process for potential improvements to prevent these kinds of bugs?

[2016-09-13 01:30] Siton-Systems opened #4955 "Please add the most known pattern in mobile today for zoom images"
**FB, Android photobroswer, Behance, Booking app and so on.**

**Example:** Set of 5 images for in a slider. Swipe - swipe swipe ===> when you **click** on the image you get "lightbox" group. Than again you can swipe between images.

When the user click "back" button its for "close" the modal and not for "go back in the url" (like today).

The lightbox today is **without "lightbox" group** its big

[2016-09-13 02:18] cramforce opened #4957 "Break dependency from amp-a4a to amp-ad-3p-impl"
The common objects should be factored into a common dependency.

[2016-09-13 02:25] cramforce commented on #4957
Also, does `a4a` need to be an extension or can it be abstract?

[2016-09-13 02:54] #4933 closed

[2016-09-13 08:13] #4451 closed

[2016-09-13 10:45] kozlice commented on #4889
@Siton-Systems This is pretty much covered on the same doc page: styles are limited to 50KB and must be placed inside `<head>`, not in a separate file. You can embed framework's CSS there. Current Bootstrap version (3.3.7) is ~120Kb, which is above the limit, but you can make a custom build, containing only things you need, or use something more lightweight (e.g. Skeleton or grid960).

[2016-09-13 12:15] kamtschatka commented on #4925
I registered another account and updated the jsBin. Also tried it on the machine of a colleague (newest firefox) and there is no signal being sent out:
http://jsbin.com/zuxovar/edit?html,output

[2016-09-13 13:48] ericlindley-g commented on #4955
Thanks for the feedback, @Siton-Systems. It sounds like there are two feature requests here:

1) Browser "back" button should close lightbox
2) Enable lightbox grouping for amp-carousel

(2) is a part of [our current work on the lightbox](https://github.com/ampproject/amphtml/issues/4152)

Can you confirm that (1) is what you want? If you hit the "back" button on Facebook, for instance, the user g

[2016-09-13 16:54] #4889 closed

[2016-09-13 16:54] taymonbeal opened #4965 "Don't publish internal-only tags on ampproject.org API reference"
The `amp-a4a`, `amp-ad-network-adsense-impl`, `amp-ad-network-doubleclick-impl`, and `amp-ad-network-fake-impl` tags are not part of AMP's publisher-facing API, they're implementation details of the runtime. Including them in the API reference isn't necessary and may mislead publishers.

[2016-09-13 16:58] cramforce commented on #4954
The only real solution is examples. Very hard to unit test.

Components definitely should not allow sizing to unsupported. Not 100% sure, though, that these 2 cases automatically mean there are more bugs. They may be special snow flakes.

[2016-09-13 17:09] jmadler commented on #4954
I've filed https://github.com/ampproject/amp-by-example/issues/359 to backfill component/layout combos as a means of functional testing.

[2016-09-13 17:26] aghassemi opened #4970 "amp-video does not work in Chrome in iOS 10"
Visit http://codepen.io/aghassemi/pen/QKyxmv in Chrome in iOS 10, notice the placeholder for `<amp-video>` is never removed and tapping the play icon does not do anything. Issue exists with Firefox too.

The problem does not exist in Safari or OperaMini in iOS. Platforms other than iOS and iOS < 10 is fine.

/cc @rudygalfi

[2016-09-13 17:32] lannka opened #4971 "Auto-generate the list of 3P ad networks in extensions/amp-ad/amp-ad.md"
We can leverage `gulp` to auto-populate the list, so new networks doesn't need to bother to change the file.

[2016-09-13 17:44] jmadler commented on #4947
This also applies to amp-img

[2016-09-13 17:52] rudygalfi commented on #2685
@avimehta Can you link in the PR that addressed this?

[2016-09-13 18:02] Gregable commented on #4577
Fixed. Javascript changes should be live in a couple hours.

[2016-09-13 18:02] #4577 closed

[2016-09-13 18:03] Gregable commented on #4140
Warning should be live in a couple hours.

[2016-09-13 18:03] #4140 closed

[2016-09-13 18:05] Gregable commented on #4421
I'm pushing this back a little bit as we still have some documents with the old boilerplate floating around. The other thing we learned is that Webmaster Console is not reporting validator warnings, only errors, so that should be in place for a little while before we retire the old boilerplate.

[2016-09-13 18:10] Siton-Systems commented on #4955
About (2) - sounds good (light box group on carousel). Also a lot of times you need this for thumbs gallery.

About (1) - in Android when you click "back" you close the modal (Also in FB app + Behance App and other friendly modern app). I say this only because today only http://photoswipe.com/ react like this + amp lightbox for one image  (all other 9,999 lightbox libraries "go back in the url" aj

[2016-09-13 18:11] Siton-Systems commented on #4889
Thanks!...

[2016-09-13 19:03] avimehta commented on #2685
afaik, this has always worked. I never got around to verifying it before aug 12.

[2016-09-13 19:16] ericlindley-g commented on #4955
Apologies w/r/t point (1) above—you're absolutely right that facebook backs out of the entire lightbox on browser navigation back (I was testing the desktop web version, and not mobile :P

I think there's an argument for both behaviors (browser-back goes to last photo, versus exits lightbox), and is worth a deeper dive to figure out what's best for users. Will definitely take your feedback as a vo

[2016-09-13 20:24] rudygalfi commented on #4896
This is partially resolved by https://github.com/easylist/easylist/commit/17e0447fb7c6df377a1081f730c5039c5396d0af. The rest won't be pursued.

[2016-09-13 20:24] #4896 closed

[2016-09-13 20:25] tdrl commented on #4957
`a4a` itself is really intended to be abstract.  You shouldn't be able to load it directly -- only via one of the `*network-*-impl`s.  Is there a way to say that in JS?

[2016-09-13 20:45] ericlindley-g opened #4976 "Tracking bug: Update experiments page language to the following"
"""
The switches below will toggle experiments for all documents served through the [Google AMP Cache](https://developers.google.com/amp/cache/); that is, the cached copies of valid AMP content published to the web at the cdn.ampproject.org domain. See the AMP project [documentation](https://www.ampproject.org/docs/reference/experimental.html) to find out more about experiments, and how to activat

[2016-09-13 20:53] #4794 closed

[2016-09-13 21:03] mkhatib commented on #4888
Yeah that sounds good for now. We need to work on a fixed elements manager for better managing what to show and when - for example `amp-user-notifications` probably should have the highest priority (or z-index) of showing on top of `amp-app-banner` and `amp-sticky-ad`.

Feel free to up `amp-app-banner` to get it on top of `amp-sticky-ad` for now. Mind also updating the `Z_INDEX.md`?

[2016-09-13 21:05] sriramkrish85 commented on #4888
make sure this is lower than `amp-sidebar`

[2016-09-13 21:07] zhouyx commented on #4888
👌

[2016-09-13 21:20] zhouyx commented on #4912
closed by #4929

[2016-09-13 21:20] #4912 closed

[2016-09-13 21:33] mmamu opened #4980 "A11Y: Logo is not labeled properly."
Environment:
Device: Ipod Touch

Pre- Requisite: Turn Voiceover On.

Steps to Reproduce:
1. Open (https://amp-mk-3.herokuapp.com/examples/viewer.html) In incognito mode.
2. Click on "Two" in the menu section.
3. Linear navigate until you reached to the banner at the bottom of the page or touch on the banner.

Expected Result:
Logo label should provide meaningful information to the user.

Actual Re

[2016-09-13 21:53] #4957 closed

[2016-09-13 21:54] #4888 closed

[2016-09-13 22:25] cramforce commented on #4957
@tdrl I deleted the call that made it an "extension" from AMP's `gulpfile.js`. Adding `@abstract` to the class definition should work.

[2016-09-13 22:48] sriramkrish85 commented on #4806
@ericlindley-g - do you have a specific example?

[2016-09-13 22:50] sriramkrish85 commented on #4364
Lets get slidescroll up and running soon and this is a non issue in slidescroll since we no longer use opacity there.

[2016-09-13 23:10] ericlindley-g commented on #4806
Don't have a concrete example, but I got feedback from the cache team that this was happening, so I have a [PR pending feedback](https://github.com/ericlindley-g/amphtml/blob/master/cache/GUIDELINES.md) waiting in my personal repo for the docs.

No need for other folks to do anything at the moment, so I took you off the assignee list, but let me know if there's something you wanted/needed to do.

[2016-09-13 23:39] sriramkrish85 commented on #4806
may be we should point to a browser support chart rather than making up our own list. I dont think we do anything special. This way we would not have to maintain this. I am sure we will be out of sync soon.

[2016-09-13 23:45] #4865 closed

[2016-09-13 23:53] ericlindley-g commented on #4806
I should have been clearer—this is for supported MIME types in AMP caches

[2016-09-14 00:52] #3350 closed

[2016-09-14 01:00] avimehta commented on #4925
@kamtschatka I can reproduce it now. Something weird is happening in url-replacements which results in the request to never get ready. I'll look into the issue more tomorrow.

[2016-09-14 01:19] cramforce opened #4986 "Service registration should not create the service"
Currently our `installFooService` methods all make an instance of the service. This was different originally, before we started to centrally install the services in their respective JS binary.

We should switch the registrations to be just that, so that we don't make instances until we have to.

[2016-09-14 04:43] Jeiwan opened #4987 "URL encoding causes invalid pages and wrong URLs"
Looks like URLs are additionally encoded in AMP Cache, and not decoded when shown to users.

To reproduce:
1. To go http://g.co/ampdemo on you mobile device
2. Search for "Bad vibes urbandictionary"
3. The first result should be a link to an AMP-enabled page on urbandictionary.com
4. Click the link and see a page saying this is an invalid AMP HTML page. If you click "Debug original page" link, the

[2016-09-14 05:52] aghassemi opened #4988 "Expose `object-fit:cover|contain|etc..` as an attribute on `<amp-img>`, `<amp-anim>` and `<amp-video>`"
Nobody likes images with messed up aspect ratios but that can easily happen with layout `fill` and `fixed` on `amp-img` (and other situations where a fill layout is enforced, like items in a carousel).

I believe `layout` and `object-fit` are dependent enough for images that I believe it justifies exposing `object-fit` as an attribute.

**The following part about the default value of this attribut

[2016-09-14 13:41] tdrl commented on #4957
Ah, nice.  I wasn't aware that we supported an `@abstract` qualifier.  Thanks!

[2016-09-14 14:39] cramforce commented on #4988
I don't think we can change the default here, independent of whether that would be better or not. I'd also like to go back and make `layout=responsive` the default for images.

We really need to do a better job documenting this, but I really think that people understand what they get with `fixed` and that `fill` is basically "I know what I'm doing" and we can expect people to set `object-fit`.

[2016-09-14 14:45] cramforce commented on #4957
Note also, that we now (finally) support type checking extensions. Removing
the arg here
https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L51 will turn
it on. We're working through all of them, but you could give it a shot.

On Wed, Sep 14, 2016 at 6:41 AM, Terran Lane <notifications@github.com>
wrote:

[2016-09-14 15:31] ericlindley-g commented on #4980
Thanks for checking the a11y for this feature, @mmamu — this logo labeling is something that publishers will have control of, and isn't expected to work in the demo, so I'm closing this as WAI.

[2016-09-14 15:31] #4980 closed

[2016-09-14 16:19] dvoytenko commented on #4987
/to @rudygalfi

[2016-09-14 16:23] dvoytenko commented on #4986
Agree. At least beyond 3-4 most important services.

[2016-09-14 16:30] aghassemi commented on #4988
ok, if I read this correctly, you are not opposed to exposing it as an attribute as long as we don't change the default behaviour?

[2016-09-14 17:10] jridgewell commented on #4988
Isn't that `layout=responsive`?

[2016-09-14 17:11] dvoytenko commented on #4948
/cc @avimehta

@cramforce I believe this case  is special. This is where 204 is returned on image request and it was just too annoying to report it.

[2016-09-14 17:20] dvoytenko commented on #4930
@ericlindley-g to confirm - the current implementation by default hides the content. A page author can change that and instead employ graying out or opacity.

[2016-09-14 17:23] avimehta commented on #4948
This is usually a vendor config related error (not always but most of the time). Showing this to users will be noisy but might prompt vendors to fix their configs. Okay with whichever path you guys deem fit.

[2016-09-14 17:25] ericlindley-g opened #4994 "a11y: Increase size of app banner close affordance tap target to 48x48"
No need to change the size of the button itself

[2016-09-14 17:38] ericlindley-g commented on #4930
to/ @rudygalfi  (though I'm happy to jump in as needed — the default as described by @dvoytenko  sounds good, though curious what other options there might be)

[2016-09-14 17:41] zhouyx commented on #4699
I am thinking about this. Have one question that's blocking me.
`layoutCallback()` needs to return a promise. what do we return on the 2nd call?
we return `loadPromise(this.iframe_)` now, but that could end up causing the 2nd `layoutCallback()` to be resolved earlier than the first one. (this could be a problem in tests, as we proceed testing after `layoutCallback`, but the real layoutCallback(fir

[2016-09-14 17:53] ericlindley-g commented on #4881
@kozlice Do you have an example of a page having this issue?

[2016-09-14 18:20] aghassemi commented on #4988
There are cases where `layout=responsive` isn't enough though and it make senses to want to do `fill` without stretching the image.

For example assume you wanna build a thumbnail gallery:
- Parent of the image is a square `200px * 200px` box
- Image itself has a `2w * 1h` ratio

Doing just `layout=responsive` will leave the bottom half of the thumbnail box empty. Doing `layout=fill` will mess up

[2016-09-14 20:09] cramforce commented on #4988
I'm definitely a fan of adding an attribute.

On Wed, Sep 14, 2016 at 11:20 AM, Ali Ghassemi <notifications@github.com>
wrote:

[2016-09-14 20:52] rudygalfi opened #4997 "Move viewer communication into AMP core"
Currently AMP relies on "viewer supplied" JavaScript to communicate with the viewer. The intent was to be flexible in how that communication works.

In turns out, that this makes it way too hard to build viewers, especially with the existing caches, so we want to move that (pretty simple) code into the core.

And then document the protocol :)

[2016-09-14 21:36] cramforce commented on #4997
Updates the description.

[2016-09-14 21:45] cramforce commented on #4948
Is there any way to disambiguate the 204 from a 404?

On Wed, Sep 14, 2016 at 10:23 AM, Avi Mehta <notifications@github.com>
wrote:

[2016-09-14 21:54] cramforce opened #4998 "Local tests fail with storage related failure"
[code]

[2016-09-14 22:00] zhouyx opened #4999 "need to support triggering amp-sidebar in lightbox mode"
As discussed here https://github.com/ampproject/amphtml/pull/4906#r78810434 and offline.
we should still support amp-sidebar in lightbox mode.

@aghassemi @sriramkrish85

[2016-09-14 22:18] mkhatib opened #5000 "Consider allowing multiple custom validators per form"
As part of supporting custom validations I am working on now (PR not sent yet), the first pass will only allow one custom validator per form.

This is a bug to discuss allowing multiple custom validators to be registered to a form. This allows for example a form to have as-you-go AND show-all-on-submit validators instead of having to stick with one.

cc/ @rudygalfi

[2016-09-14 22:32] zhouyx commented on #4999
Two possible bugs by setting amp-sidebar z-index greater than amp-lightbox-viewer.

1. When amp-sidebar contains a lightboxable item. User should enter full screen lightbox mode when they click on those items. But since amp-sidebar has higher z-index than lightbox viewer they will still have the sidebar on side. We should close sidebar manually in this special case.

2. When user is in lightbox ga

[2016-09-14 22:36] sriramkrish85 commented on #4999
1) should close the sidebar
2) This should be a feature we support not a bug :)

[2016-09-14 22:37] mkhatib opened #5004 "Set a form-level class name when form submission is blocked because of validity"
Consider setting a form-level class to indicate that the form was blocked from submission after being invalid (like `.amp-form-submit-invalid`).

[2016-09-14 22:39] mkhatib opened #5005 "Propagate inputs invalid type classes to ancestors"
Consider propagating invalid type classes (e.g. `patternMismatch`, `valueMissing`...) to input ancestors.

[2016-09-14 23:47] ericlindley-g commented on #4844
cc/ @rudygalfi

[2016-09-15 00:45] mkhatib opened #5011 "Access Local tests are broken"
[code]

[2016-09-15 04:11] mkhatib commented on #4994
We're sure about this? 48px looks pretty big.

![localhost-8000-examples-viewer html chrome ios](https://cloud.githubusercontent.com/assets/2647/18538028/87e1af8e-7abe-11e6-8637-c4c675502c02.png)

[2016-09-15 04:11] mkhatib commented on #4994
Oh, I totally didn't see the comment about not increasing the size of button itself. Will fix.

[2016-09-15 04:38] mkhatib commented on #4942
What is "Swipe right and swipe left" step is about?

[2016-09-15 07:44] erwinmombay opened #5017 "figure out why we need `===` for `this.slideIndex_`"
[code]

[2016-09-15 08:41] Polylike opened #5018 "amp analytics - Google Analytics - Event Tracking - nonInteraction"
## Short description of your issue:

Is there a way to set amp analytics - Google Analytics - Event Tracking - nonInteraction = 1 so that the Event is a Non-Interaction Event in Google Analytics?
http://www.lunametrics.com/blog/2014/05/06/noninteraction-events-google-analytics/

I want to track a AMP Experiment. My idea: Fire a event with every pageview of the variant of the experiment and segment

[2016-09-15 09:18] geofflord commented on #1286
I use the "form" tag extensively in Many of my websites with an auto-responder script from "Interspire" for collecting information requests from clients. There is No way that I can change this attribute !!!  If this is an option then I am afraid I will not be using ?amp as an option.

[2016-09-15 09:22] weeblr commented on #2380
Hi again

Just a quick note to mention that Incapsula, another significant CDN provider, is doing about the same and inserts some (analytics) javascript in the fly, not skipping AMP pages.

Still some communication work to do it seems...

Cheers

[2016-09-15 10:03] aserrabl opened #5019 "Intent to implement: Billy Mobile adNetwork into amp-ad"
I intent to implement Billy Mobile adNetwork ads into amp-ad on behalf of the named company. We have already signed the corporate CLA as Billy Performance Network.

A PR will be made when the integration passes our internal tests.

Alex

[2016-09-15 12:00] eike-hass opened #5020 "Implement a scrollable tab navigation"
We want to use a horizotally scrollable navigation for anchor and link navigation. With pure CSS we were able to get good results, but are missing features like highlighting of the link corresponding to the currently visible section (and the possibility to scroll the "active" link into the viewport).

Ideally we would have something similar to [polymers paper-tabs ](https://elements.polymer-projec

[2016-09-15 14:36] ericlindley-g commented on #4942
@mkhatib it's part of [gestural navigation](https://support.google.com/accessibility/android/answer/6151827?hl=en) in Talkback. (I had to look it up, too : )

[2016-09-15 14:41] cramforce commented on #5020
+ @ericlindley-g who was looking into requirements for tabs.

This is definitely something we are planning to support. I'd like to learn more about where you'd want scrolling in the tab on mobile?

[2016-09-15 14:46] ericlindley-g commented on #5020
I had the same question as Malte—especially given the context many AMP viewers, which already have an action tied to the horizontal swipe gesture.

(Note on this issue: Possible duplicate of https://github.com/ampproject/amphtml/issues/4771, pending discussion)

[2016-09-15 15:00] adewale commented on #826
@stephanfowler

[2016-09-15 15:04] cramforce commented on #5020
Is `scrollable` a vertical or horizontal thing?

[2016-09-15 15:25] cramforce opened #5024 "Investigate why type checking has output"
We shouldn't generate code, but I think we do. Turning that off might make it a bit faster. We definitely shouldn't run optimize steps when all we want to know is whether types are cool.

So 2 tasks:
1. Make sure no optimizations run when we just want to type check
2. Make sure we don't generate any code.

[2016-09-15 16:25] dvoytenko commented on #3233
@mrsufgi Thanks again! I've update the PR to clarify the necessary steps for loader, but the current PR is pretty close.

RE: resize changes

The exception to use `changeSize` is possible, but we'd like to understand how you'd go about recommending initial size for static layout? The goal is for users to be able to specify a fairly close initial size to avoid jarring jumps and relayouts.

[2016-09-15 16:40] dvoytenko commented on #4948
@cramforce Unfortunately, we didn't find any...

[2016-09-15 16:53] jasti commented on #4946
@lannka Totally makes sense to do 2. We have very few embed partners and we can simply give them a heads-up.

[2016-09-15 16:57] dvoytenko commented on #4988
One approach we could take is to default `object-fit:contain` only for `fill` and `flex-item` layouts.

[2016-09-15 17:03] dvoytenko commented on #4930
Some options I see a publisher could use:

1. Reduce opacity of a block that needs refreshing. Or make color grey-ish to make it obvious that it's still in progress.
2. Show a loading indicator.
3. Hide/grey-out/hash-out sensitive datapoints that need updating the most. E.g. $price could be grey-ed out or replaced with `--` while we are loading fresher content.

[2016-09-15 17:34] jpettitt opened #5025 "amp-ad does not load doublclick enclosed in amp-experiment if amp-ad js is loaded independently."
**Production bug!**

We noticed a warning `feature_tests/spec_example.html:59:7 The tag 'amp-ad extension .js script' is missing or incorrect, but required by 'amp-ad'. This will soon be an error. (see https://www.ampproject.org/docs/reference/amp-ad.html) [DEPRECATION]` and so we added amp-ad as a stand alone script.  When we did so non-default doubleclick `amp-ad` units stopped loading (that is

[2016-09-15 17:34] cramforce commented on #2380
Mind opening up a new bug? Do you have contacts there you could ping?

On Thu, Sep 15, 2016 at 2:22 AM, Weeblr <notifications@github.com> wrote:

[2016-09-15 17:44] erwinmombay commented on #5025
/to @lannka @zhouyx can anyone of you look into this?

[2016-09-15 17:45] #4568 closed

[2016-09-15 17:48] cramforce opened #5027 "Add unit tests for service worker code"
I think this is currently missing and the logic is non-trivial – and potential breakage is catastrophic.

[2016-09-15 17:51] jridgewell commented on #5017
Is it because it's declared `{?boolean}`? It should be `{number|null}`.

[2016-09-15 17:52] jridgewell commented on #5018
/to @avimehta.

[2016-09-15 17:53] jridgewell commented on #5019
/to @lannka.

[2016-09-15 17:54] #3567 closed

[2016-09-15 17:55] avimehta commented on #5018
please try adding the following snippet to the trigger that sends the event hit:

[code]

https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#ni

[2016-09-15 17:55] #5018 closed

[2016-09-15 17:59] aghassemi opened #5028 "amp-sticky-ad should call `removeFromFixedLayer` in `onCloseButtonClick_`"

[2016-09-15 18:01] aghassemi commented on #5028
/cc @mkhatib

[2016-09-15 18:11] sriramkrish85 opened #5029 "Broken runtime tests on local"
[code]

[2016-09-15 18:15] mkhatib commented on #5029
@sriramkrish85 I fixed the runtime split test failures yesterday. Was this a fresh run on master today?

[2016-09-15 18:32] sriramkrish85 commented on #5029
looks fixed now

[2016-09-15 18:32] #5029 closed

[2016-09-15 18:36] sriramkrish85 opened #5031 "Broken slides test"
[code]

[2016-09-15 18:42] #5011 closed

[2016-09-15 18:44] lannka commented on #4401
This is a duplication of issue: #4946

[2016-09-15 18:44] #4401 closed

[2016-09-15 19:04] lannka commented on #4798
This is a tricky problem.

Say if a page wants to incorporate 2 analytics platforms that have contradictory naming constraints:
A needs a number but B needs alphabetic string. Obviously no matter how you name your variants, one of them will fail.

@rudygalfi do you have any idea? We have to introduce a mapping, but I don't know where.

[2016-09-15 19:07] rafaelhbarros opened #5032 "Request: way for amp-instagram embeds to resize themselves"
Please walk through the following steps for reporting an issue about AMP:

Instagram embeds that contain height bigger than the default will overflow with a scrollbar.
It would be nice if it could resize itself after loading.

Unfortunately, we don't store the dimensions of the image on our CMS ahead of time, and loading them on a per-request basis is too expensive.
## How do we reproduce the issu

[2016-09-15 19:37] poscar commented on #5032
@jasti Here's the issue mentioned on our call.  Let us know if you have any questions or need any other details.

Thanks!

[2016-09-15 19:46] cramforce commented on #5032
To fix this we'd need a contact with instagram.
CC @adewale in case he knows anyone there.

[2016-09-15 20:30] #4994 closed

[2016-09-15 21:22] ericlindley-g commented on #956
Just wanted to ping this thread in the context of eCommerce. Would be useful in the context of listings or contact/directions pages for anything that has a physical location (home/apartment rentals, restaurants, etc).

[2016-09-15 21:31] mkhatib opened #5037 "Local tests broken"
[code]

[2016-09-15 21:32] mkhatib commented on #5037
This is possibly related to #4773

[2016-09-15 21:32] mkhatib commented on #5037
cc/ @keithwrightbos

[2016-09-15 22:15] lannka opened #5038 "Proposal: re-organize the ads config file"
Right now the `_config.js` file is organized like this:

[code]

We can re-organize them into:

[code]

The benefits are:

- Cleaner and simpler code. Because each `amp-ad` is tied to one network, the new structure only needs to read the map once.
- New network add one block of code, that will significantly reduce the chance of merge conflict. (Right now there're about 5 new ad networks implementi

[2016-09-15 22:44] dvoytenko opened #5040 "Fix tests for XHR"
[code]

[2016-09-15 22:44] dvoytenko opened #5041 "Fix tests in experiments"
[code]

[2016-09-15 22:48] dvoytenko opened #5043 "Fix tests for analytics"
[code]

[2016-09-15 22:49] dvoytenko opened #5044 "Fix slides tests"
[code]

[2016-09-15 22:51] amphtml-team commented on #5044
this should be fixed by my pr
On Thu, Sep 15, 2016 at 3:50 PM Dima Voytenko <notifications@github.com>
wrote:

--

Erwin Mombay | UX Engineer | erwinm@google.com | 650-772-9166

[2016-09-15 22:52] dvoytenko commented on #5044
@sriramkrish85  Please test and close after PR is merged.

[2016-09-15 22:52] sriramkrish85 commented on #5044
https://github.com/ampproject/amphtml/pull/5033/files

[2016-09-15 23:00] #5031 closed

[2016-09-15 23:00] mkhatib commented on #5040
This actually might be side effect of the wrong stubbing of `Math.random` since we set that cookie in a different test.

[2016-09-15 23:08] mkhatib commented on #5040
Fixed in #5042

[2016-09-15 23:08] #5040 closed

[2016-09-15 23:19] sriramkrish85 commented on #5044
Fixed by the PR

[2016-09-15 23:19] #5044 closed

[2016-09-15 23:21] dvoytenko commented on #5041
Fixed by random fix.

[2016-09-15 23:21] #5041 closed

[2016-09-16 00:41] muxin opened #5049 "Smart AdServer preconnect duplicates"
[code]

[2016-09-16 00:45] muxin commented on #5049
/cc @GoldenCrystal

[2016-09-16 01:12] Siton-Systems commented on #4955
"BACK BUTTON" - in desktop is rare to use this when you are in lightbox mode (You click on the overlay to close the modal) - and click next-prev on the pic (50% area of next - 50% - back - FB use this pattern for 4-5 years until today).

In mobile - ANDROID itself use "back" to close images on the "native" photo browser. Also google by pics (In broswer). You go "to prev" image by swipe.

[2016-09-16 01:17] rudygalfi opened #5050 "amp-analytics substitution variable for user agent"
This is a request to provide a user agent substitution variable for amp-analytics.

[2016-09-16 03:53] #5028 closed

[2016-09-16 04:45] mkhatib commented on #5037
@dvoytenko filed separate issues for each test. Closing this.

[2016-09-16 04:45] #5037 closed

[2016-09-16 08:35] weeblr opened #5051 "Incapsula CDN adds analytics javascript to pages, breaks validation"
As per @cramforce request, opening a new issue: one of our users reported validation issue on AMP pages. Turns out they are using Imperva Incapsula CDN, which adds a piece of javascript for tracking to all pages:
https://monosnap.com/file/YEGachNyT5bYelENvdJa3HgFrzyvdu

Should be noted that:
- I opened a support request with Incapsula 24hrs ago, no response yet
- user excluded URLs ending with /am

[2016-09-16 08:35] weeblr commented on #2380
Did that here #5051

I have no contact at all :)

Rgds

[2016-09-16 09:27] adewale commented on #5032
I've let Instagram know.

[2016-09-16 12:45] jaygray0919 commented on #5020
@cramforce We also have a requirement for horizontal scrollable navigation. The use case is a "wide" image that is a non-flex-item where we specify a width="6000" (exaggerated to make the point)  that is wider that the display. In our case, these would be stand-alone images, not ones we would include in a carousel.

[2016-09-16 14:31] cramforce commented on #5020
The viewer carousel isn't really relevant here. Things like `amp-carousel` can already take over horizontal gestures.

Not 100% sure I found the right thing on Medium, but I think you refer to what is basically a tab navigation where the tabs themselves are on a scrollable pane. Basically just `overflow: auto` on the tab row, right?

[2016-09-16 14:59] jpettitt commented on #4555
Doing the "selectors match content doc" is quite expensive in terms of CPU (we do this).  There are a bunch of optimizations but even serious pre-processing of source CSS file and cache ed results it's ~35% of our page generation CPU time.  I like the idea but it's going to be expensive to implement, particularly on a page by page basis.

[2016-09-16 15:21] eike-hass commented on #5020
@cramforce exactly. We would like to extend that with highlighting of links to anchors on scroll.

[2016-09-16 15:25] cramforce commented on #5020
Seems like a very nice UI pattern for mobile!

On Fri, Sep 16, 2016 at 8:21 AM, Eike Haß <notifications@github.com> wrote:

[2016-09-16 15:27] riomyers commented on #4559
@ericlindley-g I suppose that makes more sense,  I was able to work around it easily using the `<amp-social-share>` as I ended up wrapping it in a mailto link, the interaction is supposed to share the users page which I understand but I wanted the email icon to be able to contact them directly, not allow them to share the page via email, since it's supposed to be used as a sharing page via email,

[2016-09-16 15:47] ericlindley-g commented on #4559
Thanks @riomyers—that makes sense: you're using the component to quickly get a nice styled icon for email, which you're wrapping in a custom mailto anchor.

W/r/t your second point: when I test the [AMP by Example for `<amp-social-share>`](https://ampbyexample.com/components/amp-social-share/), on Chrome, with gMail set as the default email client, I'm seeing that the email body is automatically p

[2016-09-16 16:16] ericlindley-g commented on #4904
@sriramkrish85 — is this fix in canary? Still able to repro in Chrome emulator with the links in the first comment

[2016-09-16 16:20] lannka commented on #5049
Fixed by #5054

[2016-09-16 16:20] #5049 closed

[2016-09-16 16:42] #5043 closed

[2016-09-16 16:57] tonyruscoe opened #5055 "Allow <label> and <input type=checkbox/radio> elements when not descendants of <form>"
It’s possible to create elegant, progressively-enhanced UI components using `<label>` and `<input type=checkbox>` or `<input type=radio>` elements in conjunction with the `:checked` CSS pseudo-class selector which work without JavaScript.

For example: https://css-tricks.com/functional-css-tabs-revisited/

Including these elements without a `<form>` ancestor in an AMP page currently fails validati

[2016-09-16 17:36] sriramkrish85 commented on #4904
@ericlindley-g i dont see the fixes on canary yet ! will let you know once it is there

[2016-09-16 17:40] ericlindley-g commented on #4904
No worries—thanks!

[2016-09-16 18:00] ericlindley-g opened #5059 "Generic binding protocol (amp-bind)"
Tracking issue for developing a generic binding protocol to enable a set inter-element behaviors in AMP

Potential behaviors:
- Carousel thumbnails update main carousel index (and visa-versa)
- [Tabbed UI](https://github.com/ampproject/amphtml/issues/4771)
- [Image thumbnails update main image display](https://github.com/ampproject/amphtml/issues/4500)
- [Toggle video src](https://github.com/amppr

[2016-09-16 18:43] jridgewell commented on #5050
Can't this be done with the `user-agent` Header in every request?

[2016-09-16 18:46] sriramkrish85 commented on #3840
Ping! @ericlindley-g @edlea-g

[2016-09-16 18:46] erwinmombay opened #5061 "failing firefox integration tests"
Firefox 45.0.0 (Linux 0.0.0) Viewer Visibility State Element Transitions in viewer from in the VISIBLE state calls unload when going to INACTIVE FAILED
<details>
    expected unlayoutCallback to have been called at least once, but it was never called
    AssertionError@/home/travis/build/ampproject/amphtml/node_modules/chai/chai.js:5553:18
    [3]</module.exports/Assertion.prototype.assert@/home/t

[2016-09-16 18:48] erwinmombay commented on #5061
@dvoytenko you know anyone who can own fixing this?

[2016-09-16 18:49] dvoytenko commented on #5061
/to @jridgewell

[2016-09-16 18:49] rudygalfi commented on #5050
Ah, yes. :) I had a feeling there was some reason we didn't pursue this, but couldn't remember the precise reason.

[2016-09-16 18:51] ericlindley-g commented on #3840
cc'ing @abeck000 for feedback — @sriramkrish85, is it easy for the two of you to run through a few different timings and see what feels right?

[2016-09-16 19:36] #4946 closed

[2016-09-16 19:46] samiamorwas opened #5062 "Intent to Implement: Support for Reddit Comment and Post Embeds"
It would be nice to have a way to support Reddit Post and Comment embeds. These seem to rely on external scripts, similar to Twitter embeds.

I've taken an initial pass at this, bootstrapping an iframe with the correct script (again basically following the Twitter implementation). A Post embed defers to a third party, Embedly, which inserts another iframe, causing each embed to create two iframes.

[2016-09-16 19:46] sriramkrish85 commented on #2960
we would not need this on IOS 10 (we already dont need this on android). Will test and close this is that is the case.

[2016-09-16 19:47] sriramkrish85 commented on #3840
yeah, that is easy!

[2016-09-16 20:41] cramforce commented on #2960
+1 with native support in iOS10 (lets hope it works), we should not invest
in making the fallback better.

On Fri, Sep 16, 2016 at 12:46 PM, Sriram Krishnan <notifications@github.com>
wrote:

[2016-09-16 21:10] dvoytenko commented on #5055
/cc @mkhatib @ericlindley-g

[2016-09-16 21:51] pdufour commented on #4274
🙏

[2016-09-16 22:42] #4915 closed

[2016-09-16 23:05] muxin opened #5069 "The scrollTop message sent to viewer should be offset by last paddingTop"
After updating the paddingTop of viewport, we update the paddingTop as well as change the scrollTop position. However, when we send the viewer scrollTop message, we send the suddenly-changed scrollTop when the user doesn't really initiate the 'scroll'. To solve the issue, we should instead send the adjusted scrollTop, so that from the viewer's point of view the scroll position is consistent.

[2016-09-16 23:24] lannka commented on #4971
Not feasible...

[2016-09-16 23:24] #4971 closed

[2016-09-16 23:27] lannka commented on #4965
Are you talking about pages like [this one](https://www.ampproject.org/docs/reference/extended/amp-ad-network-adsense-impl.html)?
If so, I think you can just remove all the md files in those folders, and they should probably disappear.

[2016-09-16 23:50] jasti commented on #2402
@jridgewell Can you comment please?

[2016-09-16 23:53] jasti commented on #3456
@Polylike  spoke to Criteo about this and they said they'll be able to support your use case to set cookies on advertiser AMP pages. Recommend reaching out to Criteo.

[2016-09-16 23:54] jasti commented on #3456
@nicolastruchi ping again. Specifically spoke to Mike O from Criteo about this.

[2016-09-16 23:55] jasti commented on #3812
@jridgewell Can you please confirm that this is fully done?

[2016-09-17 00:08] zhouyx commented on #3815
@michaelkleber
FYI: have an update here. with #4929 the container info is now in `window.context.container`. The change made to this week's canary and should be live in prod next week. So if you are using `window.context.data.container` please adapt to the new `window.context.container` by then.
Sorry for any inconvenience.

Document updated.

[2016-09-17 00:11] #3815 closed

[2016-09-17 03:38] cramforce commented on #4965
Just mentioned this to @Meggin and @bpaduch today. This is super confusing. CC @pbakaus

[2016-09-17 04:03] cramforce commented on #4849
@dvoytenko Could you explain why we use a polyfill everywhere?

[2016-09-17 04:49] SergeySulzhenko opened #5071 "Validator error when using custom URI schemes for href and data-share-endpoint"
This issue about custom url schemes, similar to  #4242, #4094 and #4784;

The validator throws the following error when a share link to Telegram app. Same error with links to Twitter app and intent:// scheme.

    Invalid URL protocol 'tg:' for attribute 'href' in tag 'a'.
    Invalid URL protocol 'twitter:' for attribute 'href' in tag 'a'.
    Invalid URL protocol 'intent:' for attribute 'href' i

[2016-09-18 02:52] madusankapremaratne commented on #5025
The given link consists the same problem. Anyone works on resolving the issue. Keep posted. Thanks in advance for all the good work of AMP guys 👍

[2016-09-19 08:26] mrsufgi commented on #3233
regarding https://github.com/ampproject/amphtml/pull/4755: resize changes.

apester-media unit flow is starts with presenting the user with a loader and later we display the actual content. The preloader have a static size (based on the 'height' property.  Once the content is available and we get the size again (in most of the cases is the same as for pre-loader), in the rare cases the editor have

[2016-09-19 12:11] SteinHDanCxense opened #5077 "Intent-to-implement: Cxense analytics additional channel attribute"
Why: Customer's of Cxense analytics want to be able to filter AMP traffic in the Cxense analytics dashboards.

What: The coming pull request is adding a custom parameter that indicates that that particular analytics event came from an AMP page.

A CLA was signed for the initial implementation of Cxense analytics, so that should still be valid.

[2016-09-19 17:16] j-e-shaw commented on #4770
Is there any timeline on a resolution? Thanks

[2016-09-19 17:21] avimehta commented on #4770
@dvoytenko created the concept of friendly frames in https://github.com/ampproject/amphtml/pull/4916. I think We'll start using that and enable this.

[2016-09-19 17:22] dvoytenko commented on #4770
Please ping me for any questions on this. I'm still strongly in favor of a controlled definition that instructs that an analytics tag should work on the host element, such as `:host`.

[2016-09-19 17:44] dvoytenko commented on #4849
@cramforce We can create an experiment and try with native where supported. But there could be couple of differences:

1. Per spec, `w` srcset can only be used in conjunction with `sizes`. I dropped this requirement for a couple of reasons: (a) because we could always do that; (b) I used sizes for other elements and wanted it to be independent.
2. The code setup allows us to lower the DPR for lowe

[2016-09-19 17:44] #5038 closed

[2016-09-19 17:48] Gregable commented on #5071
Definitely.

[2016-09-19 17:51] cramforce opened #5082 "Remove whitelisted compile errors"
I don't know why these lines were added. Should be removed ASAP
https://github.com/ampproject/amphtml/blame/master/build-system/tasks/compile.js#L257

[2016-09-19 17:52] dvoytenko commented on #3233
@mrsufgi Thanks! Could you remind me if it's easy to tell apart playlist mode from normal units in `amp-apester-media.js`. If so, we can go ahead and use `changeSize` for the normal units and we'll discuss playlists in a bit more detail.

[2016-09-19 17:58] jridgewell commented on #2402
We want to test DoubleClick in glade mode.

Re: https://github.com/ampproject/amphtml/pull/2404/files, which forces our tests to use GPT mode.

[2016-09-19 18:00] jridgewell commented on #5077
/to @avimehta

[2016-09-19 18:35] avimehta commented on #5077
merged.

[2016-09-19 18:35] #5077 closed

[2016-09-19 19:51] harquail opened #5090 "observeIntersection sends incorrect rootBounds and boundingClientRect"
Please walk through the following steps for reporting an issue about AMP:

## Short description of your issue:

```Top``` and ```bottom``` of ```rootBounds``` change incorrectly as the amp-ad moves within the page.  We would expect ```rootBounds``` to remain constant.  ```Top``` and ```bottom``` of ```boundingClientRect``` do not change, which would expect to change as the amp-ad moves within the

[2016-09-19 20:39] aghassemi opened #5092 "Carousel - Slidescroll: has jitters on Linux"
Visit http://ampskrish.herokuapp.com/test/manual/amp-slidescroll.amp.html in Chrome or Firefox on desktop. Enable the experiment and navigate between couple of slides.

On Chrome, notice there are jitters before the slide settles: (see video [here](https://screencast.googleplex.com/cast/NTEyMzY2ODM4NDQxNTc0NHwyZmNkNWJkZi04Yg))
On Firefox, the jitters never stop (see video [here]
(https://screencas

[2016-09-19 20:49] gkamasheva opened #5093 "AMP carousel improvements - The size of pictures not loading properly after rotation"
## Short description of your issue:
The size of pictures is bigger then size of screen. It observed after rotation.  (landscape).

## How do we reproduce the issue?

1. Open Chrome Browser
2.  Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
3. Open page that use amp-carousel on the AMP cache - go to cdn.ampproject.org/c/s/diversao.t

[2016-09-19 20:52] corvusinaloeCMENA opened #5094 "Carousel arrows flash when scrolling down"
Please walk through the following steps for reporting an issue about AMP:

 When scrolling down to the carousel arrow flashes once. If the user scrolls up and then back down the flashing happens again.

URL used: cdn.ampproject.org/c/www.mundodeportivo.com/elotromundo/actualidad/20160915/41312869196/tiziana-cantone-italia-suicidio-video-porno-ex

1. Enable "amp-slidescroll" and "amp-scrollable-car

[2016-09-19 21:09] cramforce opened #5095 "Add integration test for pre-render transition"
Test should
- Load doc in pre-render mode
- Assert it is in pre-render (e.g. non-prerender component did not layout)
- Transition doc into full mode
- Assert element rendered

[2016-09-19 21:10] gkamasheva opened #5096 "AMP carousel improvements - Observed two photos on the one slide after rotation (landscape orientation)."
## Short description of your issue:
The Carousel does not rotate properly. Observed two photos on the one slide after rotation (see observed links).

## How do we reproduce the issue?
1. Open Chrome Browser
Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
2. Open page that use amp-carousel on the AMP cache - go to cdn.ampproject.org/

[2016-09-19 21:32] erwinmombay commented on #5082
ill take this

[2016-09-19 21:33] erwinmombay commented on #5025
ping @zhouyx @lannka . want to make sure somebody is already looking at this

[2016-09-19 21:39] jridgewell commented on #5096
/to @sriramkrish85

[2016-09-19 21:39] jridgewell commented on #5093
/to @sriramkrish85

[2016-09-19 21:41] #4699 closed

[2016-09-19 21:41] gkamasheva commented on #5096
Same issue was observed for Galaxy Nexus (OS version 4.0.4, Chrome, Stock browser) but for portrait orientation

[2016-09-19 21:45] zhouyx commented on #5025
@lannka I can't think of anything related to ad script loading. Have you have any ideas on this issue?

[2016-09-19 21:58] corvusinaloeCMENA opened #5098 "When scrolling left on the carousel, it gets stuck."
User has to tap twice on the left arrow to go back to the first option displayed, it gets stuck on the first try.
URL used: cdn.ampproject.org/c/www.mundodeportivo.com/elotromundo/actualidad/20160915/41312869196/tiziana-cantone-italia-suicidio-video-porno-ex

1.Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
2.Go to cdn.ampproject.o

[2016-09-19 22:00] gkamasheva commented on #5094
Same issue was observed for Galaxy Nexus (OS version 4.0.4, Chrome browser 42.0.2311.111)

[2016-09-19 22:02] jridgewell commented on #5094
/to @sriramkrish85

[2016-09-19 22:04] jridgewell commented on #5098
/to @sriramkrish85

[2016-09-19 22:10] corvusinaloeCMENA opened #5100 "SlideScroll: Landscape mode displays text incorrectly"
After a few swipes, when switching from portrait to landscape modes, the text
URL used: cdn.ampproject.org/c/www.mundodeportivo.com/elotromundo/actualidad/20160915/41312869196/tiziana-cantone-italia-suicidio-video-porno-ex

1.Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
2.Go to cdn.ampproject.org/c/www.mundodeportivo.com/elotromu

[2016-09-19 22:20] gkamasheva opened #5101 "AMP carousel improvements - The arrows are observed not for all slides of carousel"
## Short description of your issue:

The arrows are observed not for all slides of carousel
## Short description of your issue:

The arrows are observed not for all slides of carousel (portrait and landscape orientations). See observed links.
## How do we reproduce the issue?
1. Open Stock Browser
2. Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/e

[2016-09-19 22:21] jridgewell commented on #5101
/to @sriramkrish85

[2016-09-19 22:24] jridgewell commented on #5100
/to @sriramkrish85

[2016-09-19 22:47] corvusinaloeCMENA commented on #5094
Same issue found on:
Samsung Galaxy S5 Lolipop Stock  2.1.34

[2016-09-19 22:51] corvusinaloeCMENA commented on #5098
Same issue found on:
Samsung Galaxy S5 Lolipop Stock 2.1.34

[2016-09-19 22:52] ericlindley-g commented on #5092
Can't repro—are you able to repro consistently? What OS are you on?

[2016-09-19 22:57] corvusinaloeCMENA commented on #5100
Same issue found on:
Samsung Galaxy S5 Lolipop Stock 2.1.34

[2016-09-19 23:02] corvusinaloeCMENA opened #5102 "Switching between landscape and portrait mode changes the frame displayed on the carousel"
If user is watching frame 3 on portrait mode, switching to landscape changes it to option two without user intervention.
URL used: cdn.ampproject.org/c/www.mundodeportivo.com/elotromundo/actualidad/20160915/41312869196/tiziana-cantone-italia-suicidio-video-porno-ex

1.Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
2.Go to cdn.amppr

[2016-09-19 23:04] sriramkrish85 commented on #5092
Cant repro at all!??? lets check versions

Chrome: Version 53.0.2785.116 (64-bit)
FF: 48.0.2

OS X - el capitan - 10.11.6 (15G31)

[2016-09-19 23:05] jridgewell commented on #5102
/to @sriramkrish85

[2016-09-19 23:09] lannka commented on #5025
@jpettitt @madusankapremaratne I'm having a hard time to reproduce the issue.

I tried composing a page containing `amp-ad` and `amp-experiment` according to what @jpettitt has described.
I also tried to proxy the URL that @jpettitt has provided, and insert amp-ad extension script explicitly.

Can you confirm this is only happening and consistently happening after you add the amp-ad extension JS?

[2016-09-19 23:09] aghassemi commented on #5092
Interesting, seems to be Linux-only, can't repro on my Mac either with same Chrome/FF versions (well don't have Windows to test, will do later at home). It's been a long time since I've seen OS specific bugs like this :) anyway Desktop and Linux only probably makes this low priority.

[2016-09-19 23:12] ericlindley-g commented on #5092
Chrome: 52.0.2743.116
FF:  48.0
OS X - el capitan - 10.11.6

Lower priority, but still good to fix

[2016-09-19 23:15] gkamasheva opened #5103 "AMP carousel improvements - The slides in carousel are switching while scrolling down the page."
## Short description of your issue:
 The slides in carousel are switching while scrolling down the page.

## How do we reproduce the issue?
1. Open AGSA Browser
2. Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
3. Go to www.usatoday.com
4. Find carousel on the page
5. Scroll page up and down.
6. Observe carousel  switching.

What b

[2016-09-19 23:17] sriramkrish85 commented on #5092
Not sure what to fix! but yeah good to track this.

[2016-09-19 23:17] corvusinaloeCMENA commented on #5096
Same issue observed for Samsung Galaxy 5 Lolipop AGSA 6.5.5.21

[2016-09-19 23:23] zhouyx opened #5104 "combine ad type `_ping_` and `fakead3p`"
These two ad types are all for testing. We can combine them to a general testing ad type.

Will need the work of #5097

[2016-09-19 23:25] lannka commented on #5104
It should not block #5084 . we can clean it up together.

[2016-09-19 23:26] sriramkrish85 commented on #5093
@gkamasheva - I see its working as intended (respecting aspect ratio). Also this is the same behavior without the experiment as well. Let me know if that is not the case.

[2016-09-19 23:28] aghassemi opened #5105 "Remove @suppress from addeventListeners / replace `Object` by `addEventListenerOptions` when compiler externs are updated"
~~We have a polyfill for `addEventListener` that allows third argument to be an object~~ We changed the `addEventListener` wrappers to allow changing the `passive` option but closure compiler externs are still the old API and there is no easy way to override builtin extern in our custom extern file to adhere to the new signature.

Closure compiler team is considering to update the externs ( https:

[2016-09-19 23:28] ericlindley-g commented on #4833
cc/ @jasti

[2016-09-19 23:38] jpettitt commented on #5025
We're seeing it consistently with the amp-ad extension on. Let me see if I can rig up a test config.

[2016-09-19 23:43] sriramkrish85 commented on #5101
@gkamasheva - can you be more specific, You will not see arrows if there are no slides to navigate to in that particular direction. If this is not the case please attach some screenshots of possible.

[2016-09-19 23:45] gkamasheva commented on #5096
Same issue was observed for Galaxy Nexus (OS version 4.1.2, Chrome AGSA browsers)

[2016-09-19 23:47] sriramkrish85 commented on #5094
this is WAI - it acts a cue that this is a carousel and will stay till there is a better UX solution for this.
@ericlindley-g - could we work to get a better solution.

[2016-09-19 23:51] sriramkrish85 commented on #5098
fixed by #4982 and #5085

[2016-09-19 23:53] #4701 closed

[2016-09-19 23:53] ericlindley-g commented on #5094
We have designs for a better solution for a UX update for the carousel at large. Stop-gap is to show the arrows for longer, tracked [here](https://github.com/ampproject/amphtml/issues/3840) (I believe @sriramkrish85 and @abeck000 can just run through a few different options to find the right timing for now. 3 sec might be a good starting place)

[2016-09-19 23:54] SergeySulzhenko commented on #5071
It's great, thanks!

[2016-09-20 00:02] gkamasheva commented on #5096
Same issue was observed for Samsung Galaxy S4 GT-I9500 (OS version 4.4.2, Chrome browser)

[2016-09-20 00:17] sriramkrish85 commented on #5100
Duplicate of #5096

[2016-09-20 00:21] sriramkrish85 commented on #5100
@corvusinaloeCMENA this url does not work - also assign all carousel bugs to me lets spare @jridgewell some work :)

[2016-09-20 00:25] sriramkrish85 commented on #5102
Duplicate of #5096

[2016-09-20 00:28] jpettitt commented on #5025
Well that's weird, we can't repo it now either.  The original issue manifested at a dramatic loss of ad views for one side of the experiment and was correlated with our pushing the amp-ad js to production and came back when we removed the amp-ad js.  We could, at the time, reproduce it 100%.  Since I can't reproduce it on any of my dev configs I'm going to try re-enabling the amp-ad code in produc

[2016-09-20 00:37] corvusinaloeCMENA opened #5107 "Missing arrows for AMP Carousel on iOS"
When scrolling up and down the arrows for the image carousel only flash, but they do not remain displayed on the screen. Also when interacting with the carousel (swiping) the arrows are not displayed.

URL used: cdn.ampproject.org/c/s/9to5mac.com/2016/09/14/ios-10-how-to-hate-pressing-the-home-button-to-unlock-change-is-setting-on-touch-id-iphones-ipads/amp/

1.Enable "amp-slidescroll" and "amp-sc

[2016-09-20 00:48] gkamasheva commented on #5101
I can see arrows only on the 1, 3,5,7 slides

[2016-09-20 00:58] corvusinaloeCMENA commented on #5107
Same issue found on Iphone 6s iOS9 Chrome 52.0.27

[2016-09-20 01:02] sriramkrish85 commented on #5101
if you can upload a video and link it here would be great. Yeah feel free to send me an email.

[2016-09-20 01:03] sriramkrish85 commented on #5107
Working as intended.

[2016-09-20 01:03] #5107 closed

[2016-09-20 01:12] gkamasheva commented on #5101
Same issue was observed for Galaxy Nexus (OS version 4.1.2, Stock)

[2016-09-20 01:15] gkamasheva commented on #5101
I can't do it here, my manager sad that I can't do it here because it is public place.

[2016-09-20 01:26] corvusinaloeCMENA opened #5110 "iGSA swiping all the images in a carousel takes you to the next AMP article"
When swiping in an image carousel contained on an AMP Carousel (lots of articles) and swiping right after the last image, the browser switches to the next AMP article.
URL used: http://www.usatoday.com/story/sports/mlb/columnist/bob-nightengale/2016/09/19/tim-tebow-mets-workout/90702882/

1.Open Igsa and Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.o

[2016-09-20 01:42] corvusinaloeCMENA opened #5111 "iGSA Ads take too much time to load on the carousel"
ADS take a lot of time to load on AMP
URL used: http://www.usatoday.com/story/sports/mlb/columnist/bob-nightengale/2016/09/19/tim-tebow-mets-workout/90702882/

1.Open Igsa and Enable "amp-slidescroll" and "amp-scrollable-carousel" experiments at https://cdn.ampproject.org/experiments.html
2.Go to http://www.usatoday.com/story/sports/mlb/columnist/bob-nightengale/2016/09/19/tim-tebow-mets-workout/9

[2016-09-20 01:59] corvusinaloeCMENA commented on #5096
Same behavior present on Nexus 6P Nougat Chrome  51.0.27

[2016-09-20 02:03] corvusinaloeCMENA commented on #5096
Same behavior present on Nexus 6P Nougat AGSA 6.5.21

[2016-09-20 02:14] jasti opened #5112 "Integrate amp-analytics pageview tracking with amp-ad for DoubleClick"
3rd party ad networks delivered via DoubleClick would like way to uniquely identify an ad to a corresponding page view. Publishers would also like to enhance this unique ID in remote.html
CC @ampproject/a4a

[2016-09-20 02:25] sriramkrish85 opened #5113 "JS error on document-click"
document-click.js:166 Uncaught TypeError: Cannot read property 'toUpperCase' of undefinedgetElementByTagNameFromEventShadowDomPath_ @ document-click.js:166onDocumentElementCapturedClick_ @ document-click.js:184handle_ @ document-click.js:152
cast_sender.js:89[0.687s] [yt.mdx.remote] LocalScreenService: Initializing with []

[2016-09-20 04:42] jasti commented on #4667
@michaelkleber and @keithwrightbos, FYI from our conversation this morning.
@ampproject/a4a team FYI.

[2016-09-20 05:19] mrsufgi commented on #3233
@dvoytenko it is indeed easy differentiate normal from playlist,
normal attribute: data-apester-media-id
playlist attribute: data-apester-channel-token
I'll get right to it. Thank you

[2016-09-20 06:15] #4976 closed

[2016-09-20 08:23] weeblr commented on #5051
FYI, Incapsuala replied to a question on tweeter with :

They should post here when automatic solution is active.

[2016-09-20 12:49] tdrl commented on #4667
So, to confirm, there will *not* be a code freeze around US Thanksgiving?  So you'll target a canary release and canary->prod promotion for Nov 24 (Thanksgiving itself)?

[2016-09-20 12:51] aaronskim commented on #2861
Apologies for the delay in responding - we’ve been having in-depth conversations with our affiliate network and publisher partners to explore all possible solutions. The consensus from all parties is that the onping solution, with or without a polyfill, is not viable.

The reasoning behind this is:

* Fear, by the affiliate networks, publishers, and merchants, of spurious and fraudulent clicks. If

[2016-09-20 13:13] keithwrightbos commented on #5113
I will fix this as part of PR #5053

[2016-09-20 13:26] cramforce commented on #4667
We typically skip releases if they directly fall on a non-working day.

On Tue, Sep 20, 2016 at 5:49 AM, Terran Lane <notifications@github.com>
wrote:

[2016-09-20 14:07] RonanDrouglazet opened #5116 "DFP Ad's via Glade"
## Short description of your issue:

Hi guys,

Since a few weeks, more and more publishers are complaining about Teads's tag served by DFP on AMP who does not deliver anymore…

I took a look and saw that the ad was rendering in a double iframe. Then I saw in different other posts on internet people complaining about the exact same issue: It looks like a new version of DFP's ad rendering was releas

[2016-09-20 15:17] ericlindley-g opened #5117 "<amp-app-banner> doesn't appear on Samsung or Nexus devices"
Reported by test team

@mkhatib , can you take a look? What devices have you tested with? (I'm following up with QA to find out what devices in particular they were using—Nexus 6 was one)

I'm able to see the banner on Moto X

[2016-09-20 15:39] ericlindley-g commented on #5094
Closing, since this is tracked elsewhere

[2016-09-20 15:39] #5094 closed

[2016-09-20 15:40] ericlindley-g commented on #5098
This is fixed on my Moto X — @sriramkrish85 , can you confirm this is fixed on Samsung devices?

[2016-09-20 16:06] jpettitt commented on #5025
We put `amp-ad` js back in prod and saw a huge spike in unfilled impressions.  We've reverted it again.  Here is what we've seen

The best repro case seems to be searching the site name and browsing the carousel.   For example we just searched "kcci" and of 10 pages in the carousel the 300x250 failed to load in 7 of them.   We see similar outcomes o "wmur", "wesh" etc.   However this requires the

[2016-09-20 16:11] bpaduch commented on #4965
If we remove the .md files from the extension's directory (e.g., [amp-ad-network-adsense-impl.md](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-adsense-impl/amp-ad-network-adsense-impl.md)) then we lose possibly valuable info (even if it's implementation details).

Additionally,  there are other tags that are "in development" or "experimental" (for example, [amp-apest

[2016-09-20 16:24] mlb7687 commented on #5116
Hey Ronan,

Glade (now publicly called GPT Light: https://developers.google.com/doubleclick-gpt/gpt_light) is a new light weight ad tag. We currently have a way to opt out of using GPT Light while the issue with accessing AMP context is not solved. See here: https://github.com/ampproject/amphtml/blob/master/ads/google/doubleclick.md#temporary-use-of-usesamedomainrenderinguntildeprecated

GPT Light

[2016-09-20 16:49] jpettitt commented on #5025
This link will load the page with ads javascript.  adtest-dot-relay-beta.appspot.com/amp/www.wesh.com/orlandomyway/on-the-town-orlando/ariana-grande-to-bring-dangerous-woman-tourto-orlando/41745708  current working theory is this may only happen if the page is in a viewer window.

[2016-09-20 17:19] Gregable commented on #4625
I'm working on porting our C++ URL parsing routines to javascript. I can't say for sure that it'll be identical to Go, but it'll probably be a lot closer.

[2016-09-20 17:34] ericlindley-g commented on #5117
Issue reported on:

Nexus 6 (Marshmallow)
Samsung S5 (Lollipop)
Samsung Galaxy Note 5 (Marshmallow)
Samsung S4 (KitKat)

[2016-09-20 17:34] zhouyx opened #5121 "ad-cid tests should not depend on amp-ad"
`ad-cid` tests are creating ad iframes and test functions there. However the logic of generating adCid should not depend on `amp-ad` code, thus it should not create ad iframe in this test file.
As @bobcassels mentioned here https://github.com/ampproject/amphtml/blame/master/test/functional/test-ad-cid.js#L29.
I believe we should only unit test `#getAdCid` function here (that it return the correct

[2016-09-20 17:46] #5102 closed

[2016-09-20 17:47] #5100 closed

[2016-09-20 17:52] ericlindley-g commented on #5111
cc/ @sriramkrish85 @jasti

[2016-09-20 18:05] sriramkrish85 commented on #5110
This is working as intended!

CC @ericlindley-g @rudygalfi

[2016-09-20 18:05] #5110 closed

[2016-09-20 18:22] dknecht commented on #4625
We aren't use go std one either.  It is too strict.

[2016-09-20 19:21] #4305 closed

[2016-09-20 19:22] #4040 closed

[2016-09-20 19:35] cramforce opened #5125 "Scroll inertia on iOS"
I'm seeing people reporting that in viewers (Google Search, News), the scroll inertia feels off on iOS.

Is there anything we can do about that?
@dvoytenko

[2016-09-20 19:43] cramforce commented on #2861
The only way to combat fear is to try. If we don't than we cannot get better. There was definitely a lot of fear about AMP itself, but lots of publishers saw that it is worth trying things on mobile.

I'm glad the server side solution works for publishers. This is inline with our design principles published here: https://github.com/ampproject/amphtml/blob/master/DESIGN_PRINCIPLES.md#user-experienc

[2016-09-20 20:18] jridgewell commented on #5111
I wonder if this is because of https://github.com/ampproject/amphtml/pull/4081?

/cc @aghassemi

[2016-09-20 20:24] jridgewell commented on #5116
Should we be opting-in instead?

[2016-09-20 20:32] mlb7687 commented on #5116
We originally noticed the issue when Glade was at a low traffic fraction (maybe 5%?), so the fact that we didn't catch these issues at 50% surprised me. At this point, it seems a bit late to make it opt-in. We are actively working on making AMP context available in cross domain iframes because it also blocks full A4A launch.

[2016-09-20 21:02] bradleysepos opened #5127 "Swipe to scroll over inline video initiates playback"
Initiating a scroll via swipe on iOS Safari will play a video if the initial touch location is over a video element. Behavior is similar to the old school, "onmousedown is not onclick" issue.
## How do we reproduce the issue?
1. Visit news.google.com on a mobile device
2. Select a news item containing video
3. Initiate scrolling by swiping over the video
4. Unrequested silly thing will begin to pl

[2016-09-20 21:08] kozlice commented on #4881
@ericlindley-g Please, disregard this one. The problem was with HTTP req/res transformer, which doesn't work properly and returns 404 to bot in some cases.

[2016-09-20 21:08] #4881 closed

[2016-09-20 21:13] jridgewell commented on #5127
I thought we solved this with `overflow-touch: scroll`?

[2016-09-20 21:20] #5104 closed

[2016-09-20 21:24] bradleysepos commented on #5127
CNN's article videos exhibited the behavior but none of them are loading at all for me at the moment (striked-out play button).

When was the supposed fix committed? If it was earlier than today, then perhaps I'm running into an issue with Safari caching the old code.

[2016-09-20 21:24] cramforce commented on #1901
There is now (and has been for a while) and update ping mechanism https://developers.google.com/amp/cache/update-ping

[2016-09-20 21:26] aghassemi commented on #5111
@jridgewell Don't think #4081 can affect this. Carousel does its own `scheduleLayout` for +/- 1 slides. Maybe instead of +/- 1 slide, carousel should honour the value of `renderOutsideViewport` (interpreting the value as number of slides) when scheduling its children. @sriramkrish85

[2016-09-20 21:26] jridgewell commented on #5127
It's been in since the original demo launch.

[2016-09-20 21:27] bradleysepos commented on #5127
Ah. I've had this issue for a couple weeks at minimum, just now getting around to reporting.

[2016-09-20 21:51] ericlindley-g commented on #4881
Got it—thanks for the update, @kozlice!

[2016-09-20 22:11] lannka commented on #5025
@jpettitt thanks a lot for providing those. can you also confirm that this bug has only been seen when amp-experiment in usage?

Sounds like the conditions are: viewer + amp-ad.js + amp-experiment?

[2016-09-20 22:20] jpettitt commented on #2861
@aaronskim assuming you don't end up baking this into AMP we'd be interested in baking this into our AMP converter server side for publisher that want it and want to use use our platform.  Ping me in email (jpp @ relaymedia dot com) if you'd like to discuss.

[2016-09-20 22:42] jridgewell commented on #5090
Change happened in #4826. I've opened #5131 to fix.

[2016-09-20 22:47] erwinmombay commented on #5025
@lannka @zhouyx did you test on master or an old version?

[2016-09-20 22:49] #5096 closed

[2016-09-20 22:54] sriramkrish85 commented on #5103
@gkamasheva - may be they have autoplay turned on? I tried on some usa today pages (the main site did not have a carousel). Please re-open if you think this is a bug.

[2016-09-20 22:54] #5103 closed

[2016-09-20 23:00] lannka commented on #5025
@erwinmombay I was on master.

[2016-09-20 23:15] sovrnoss commented on #4614
@lannka

Thank you for being patient with us on this, we have a created a tag that will return a test creative, the id is 393900.  Please let us know if you need any additional information.

Thanks,
sovrn Support Team

[2016-09-21 00:23] jpettitt commented on #5025
Yes only with `amp-experiment` and only the ads that are by default hidden by the CSS and exposed by the experiment fail.

[2016-09-21 02:34] dvoytenko commented on #5127
@aghassemi, could anything we recently changed have such an effect? Generally, I've no idea how we could even accomplish this. I don't think touchstart or touchmove would not be accepted for video playback...

[2016-09-21 03:00] aghassemi commented on #5127
Nothing I can think of. I can reproduce however. touch must start within the "play icon" safari overlays on the video and when lifting the finger ip, it must still be on the "play icon" but regardless of how much time/movement happened in between the `touchstart` and `touchend`, it considers it a tap and plays the video.

[2016-09-21 04:24] sriramkrish85 opened #5137 "Dancing video player"
Go to abc news page (i searched for "trump") and touch and move the video player

Voila!!!
https://youtu.be/K9ut3xyykUo

[2016-09-21 08:08] Incaprules commented on #2380
Hello all,
I'm your contact from Incapsula.
We've reviewed this thread and working on a solution

[2016-09-21 08:12] Incaprules commented on #5051
Thanks for opening this issue, I'm from Incapsula, will update here once we have a resolution

[2016-09-21 13:40] cramforce commented on #5137
It appears ABC news is using an `amp-iframe` based video player, which makes it very unlikely that there is an AMP bug here.

[2016-09-21 14:18] bradleysepos commented on #5127
This example exhibits the behavior regardless of finger position relative to the play icon: https://news.google.com/news/ampviewer?caurl=https%3A%2F%2Fwww.washingtonpost.com%2Famphtml%2Fnews%2Fmorning-mix%2Fwp%2F2016%2F09%2F21%2Fprotests-break-out-in-charlotte-after-police-fatally-shoot-man-they-say-wielded-firearm%2F#pt0-649308

[2016-09-21 14:36] mlb7687 commented on #3381
The fix for this is now live. Closing this issue.

[2016-09-21 14:36] #3381 closed

[2016-09-21 15:52] aghassemi opened #5140 "<amp-iframe>: default frameborder to 0"
For amp iframe, set frameborder to 0 if not specified by author.

Default UA css has value of 2px for iframe border, pretty much in vast majority of cases we want border to be 0 so that should be the default.

For instance, http://abcnews.go.com/amp/Politics/donald-trump-jrs-skittles-tweet-highlights-key-campaign/story?id=42218871 is not setting frameborder and you can notice the 2px gray left bor

[2016-09-21 16:07] aghassemi commented on #5127
yikes, yeah that WP video is an iframe to a custom player and touching anywhere starts the video.

Doesn't happen on WP's non-AMP page with the same player. Looks like we are somehow introducing this behaviour in AMP. Will report when I figure it out.

[2016-09-21 16:20] sriramkrish85 commented on #5140
I think this is the cause for the problem.

[2016-09-21 16:22] aghassemi commented on #5140
it is not

[2016-09-21 16:41] ansalgado-gcorp opened #5141 "iOS Safari in viewer context not rendering on landscape"
## Short description of your issue:
When page is refreshed while on landscape mode, in viewer context does not render banner

## How do we reproduce the issue?
Test URL needs to be accessed with phone in landscape position.

1. Open Safari
2. Turn phone to landscape mode
3. Follow URL: https://amp-mk-3.herokuapp.com/examples/viewer.html

## What browsers are affected?
Safari

All browsers? Some sp

[2016-09-21 17:21] sriramkrish85 commented on #5140
after syncing offline - @aghassemi confirmed it is :)

[2016-09-21 17:24] dorzaidenberg opened #5142 "Adhesion ads render not aligned"
Adhesion / sticky ads are rendering off centered.
Publisher needs to use a DFP creative wrapper with some hack stylesheet to put them in place

https://kansascity.relaymedia.com/amp/news/politics-government/article73988477.html?_rmversion=sticky

You can see the creative wrapper code fixing the alignement of the sticky ad:

<style>
body, #ad_wrapper {margin:0; padding:0;}
</style>

Start by deleti

[2016-09-21 17:35] jasti commented on #5142
@zhouyx would you be able to take a look please? @mlb7687 as FYI incase this might be related to the recent Glade issue with px padding.

[2016-09-21 17:39] cramforce commented on #5140
I'm hugely in favor of this totally non-backward compatible change!

[2016-09-21 17:40] cramforce commented on #5137
If this is caused by frameborder, maybe we can reach out to ABC to fix is. CC @ericlindley-g

[2016-09-21 17:47] aghassemi commented on #5137
@cramforce @ericlindley-g  See PR #5143 . It is caused by frameborder but the `box-sizing` change in PR #5143 will fix it. Also we are defaulting frameborder to 0 in PR #5143 (it is a common reset CSS fix since not setting frameborder will pick up the user agent's default CSS). So ABC doesn't need to do anything if merge this fix.

[2016-09-21 17:47] mlb7687 commented on #5142
@dorzaidenberg, can you try testing this again with a fresh cache? I notice that the creative has a wrapper which had a bug that should be fixed as of a few hours ago. If you are using an old version of GPT Light (Glade), I might expect to see this. I have not been able to reproduce with the current production version of GPT Light.

[2016-09-21 17:47] #4861 closed

[2016-09-21 17:51] cramforce commented on #5137
@aghassemi But they can probably deploy CSS changes quicker than us.

[2016-09-21 17:52] erwinmombay opened #5145 "Meeting Notes for 2016-09-12"
2016-09-12

@cramforce
- Submitted change that turns on type checking for main binary  and youtube extension
- Introduce performance.mark API
- Started design doc on “Embedded AMP” (how AMP behaves when it is displayed in small iframes.)

@lannka
- Various discussions about multi-size ad and render-start API, code review for doubleclick impl.
- Helped  @zhouyx to deliver the work (mainly code revi

[2016-09-21 17:54] aghassemi commented on #5137
true, meanwhile they can just add frameborder=0 to their video iframe. @ericlindley-g @cramforce

[2016-09-21 18:23] aghassemi opened #5147 "Consider adding `box-sizing: border-box !important` to `-amp-fill-content`"
Related to https://github.com/ampproject/amphtml/pull/5143 but risker so it should be tested properly. If we endup doing this, we can remove  `amp-iframe > iframe {box-sizing: border-box !important;}` introduced in https://github.com/ampproject/amphtml/pull/5143

Technically adding `box-sizing: border-box !important` to `-amp-fill-content` should only _affect_ cases where the element with `-amp-fi

[2016-09-21 18:27] lannka commented on #5025
Thanks @jpettitt. zhouyx@ and I finally reproduced the issue locally and tracked down the bug.
It happens when `amp-ad` is executed before `amp-experiment`, when the ad is not visible yet. That explains why removing `amp-ad` script is a work around, because it delays the loading of `amp-ad` extension.

The issue is actually known: #4075. I'll make a fix soon. Thanks for reporting!

[2016-09-21 18:36] dvoytenko commented on #5125
@cramforce Any other pointers? Is it in doc-swipe carousel or blue links? The scroll momentum is definitely different due to `overflow-scroll: touch`. But it's not janky and appears to perform well.

[2016-09-21 18:52] sriramkrish85 commented on #5147
unlikely but good to check if we do

` amp-x > -amp-fill-content` is an invalid AMP
`amp-x > InnerElement ` this is valid in certain scenarios like `amp-accordion > H3`, `amp-sidebar > ~nav1` etc

[2016-09-21 18:56] jridgewell commented on #4048
Dupe of https://github.com/ampproject/amphtml/issues/3812.

[2016-09-21 18:56] #4048 closed

[2016-09-21 19:09] jridgewell commented on #5125
Jank isn't the issue. It's not the normal page weight.

[2016-09-21 19:19] ericlindley-g commented on #5137
Thanks for flagging this—working on outreach now  cc/ @jmadler

[2016-09-21 19:20] dorzaidenberg commented on #5142
Trying, will keep you posted

[2016-09-21 19:32] #5121 closed

[2016-09-21 19:46] #5140 closed

[2016-09-21 19:48] aghassemi commented on #5137
Closed by #5143

[2016-09-21 19:48] #5137 closed

[2016-09-21 19:54] jridgewell opened #5149 "IntersectionObserver: Fixed Position Elements return incorrect Results"
They're incorrect because fixed position elements cache their layout box (in absolute coords) when they are first measured. If you then scroll further, they do not update even though they are at "new" absolute coords (they're at the same position relative to the viewport).

Since we translate from the absolute coords into viewport relative coords when doing `IntersectionObserverEntry`s, they get s

[2016-09-21 19:59] dorzaidenberg commented on #5142
Looks like this issue is resolved!

[2016-09-21 19:59] mlb7687 commented on #5142
Glad to hear it! Closing this issue.

[2016-09-21 19:59] #5142 closed

[2016-09-21 20:11] michrome commented on #5125
e.g. https://news.ycombinator.com/item?id=12542171

[2016-09-21 20:13] powdercloud opened #5150 "Need granularity for the presubmit checks."
Today I'll try to work on this some, because when trying to merge PRs I spend too much time waiting for build breakages / flakiness for tests that don't need to run. My initial thoughts are that I should change .travis.yml so that the script section is replaced with a shell script, as explained here:
https://docs.travis-ci.com/user/customizing-the-build#Implementing-Complex-Build-Steps
Within this

[2016-09-21 20:56] bradfrizzell commented on #3019
Is this the most up to date spec on the API? I'm particularly interested in terms of what the goal is for the JS API. Should all of the postMessage functions be wrapped? Or just the 4 listed under "Rough JS API"

[2016-09-21 20:57] cramforce commented on #5125
Right, people perceive the page as "too light".

On Wed, Sep 21, 2016 at 4:11 PM, Mike Jerome <notifications@github.com>
wrote:

[2016-09-21 21:25] dvoytenko commented on #5125
Well, yeah, unfortunately iOS uses different algo for `body` and `div` scrolling.

[2016-09-21 21:26] cramforce commented on #5125
Is there a webkit bug for this?

[2016-09-21 21:29] #4925 closed

[2016-09-21 21:32] aghassemi opened #5151 "Lightbox 2.0 - Implement Details View"
Part of https://github.com/ampproject/amphtml/issues/4152

Implement the following UX where each slide starts with displaying _description_ text in the bottom of the viewer and when user taps, the description fades away ( and comes back on the next tap )

![6cjcn8xze9m](https://cloud.githubusercontent.com/assets/2099009/18729609/563a8516-8007-11e6-8e6e-fe24bb2fac89.png)

@zhouyx Similar to the thu

[2016-09-21 21:33] jridgewell commented on #5125
Root issue is https://bugs.webkit.org/show_bug.cgi?id=149264. This prevents us from doing anything about Google Search's Viewer.

I'm not sure if this affects the Google Search App or News.

[2016-09-21 21:38] dvoytenko commented on #5125
Basically, it's this: https://medium.com/@dvoytenko/amp-ios-scrolling-and-position-fixed-b854a5a0d451

[2016-09-21 21:40] jpettitt commented on #5142
It was an ad code issue.

[2016-09-21 21:44] zhouyx commented on #5142
Thanks @dorzaidenberg @mlb7687 for the update

[2016-09-21 21:48] jpettitt opened #5152 "Allow style of the amp-sticky-ad close button."
We used to be able to style the close button  -
![image](https://cloud.githubusercontent.com/assets/524856/18730122/7ead3a28-8009-11e6-9632-dcdd6318d9b0.png)

We had a nice close button the same size and the one adchoices uses and we had it to the right of the ad only moving up if the page was 320px wide using media queries.  It looked nice, it worked.

The latest code push seems to have broken al

[2016-09-21 21:49] erwinmombay commented on #5152
/to @zhouyx

[2016-09-21 21:50] jridgewell commented on #5152
/cc @jasti

[2016-09-21 21:52] zhouyx commented on #5152
changed by #5015. @mkhatib do we want `!important`

[2016-09-21 21:58] jpettitt commented on #5152
FYI the code does even prevent the button from being hidden -
[code]
makes it go away (please don't make them !important too)

I'd love to be able have more control so I can do things like this

![image](https://cloud.githubusercontent.com/assets/524856/18730555/d2351a42-800b-11e6-8bfd-12e157d59c8c.png)

[2016-09-21 22:05] mjrusso opened #5156 "DFP ads incorrectly being resized to values of height/width overrides"
## Summary

When height and width overrides are specified for DFP ads (via `data-override-width` and/or `data-override-height`), the `<amp-ad>` element is (incorrectly) being resized to match the override size.

This is causing an issue in production right now with ads on Telegraph’s site.

## Details

Here’s what users are currently seeing:

![screen shot 2016-09-21 at 5 46 37 pm](https://cloud.g

[2016-09-21 22:13] jridgewell commented on #5156
/to @lannka

[2016-09-21 23:31] lannka commented on #5156
If I understand it correctly, the bug is:
when width/height override is specified, we should keep the ad slot size unchanged, though it will be different from the actual loaded creative.

If so, I think the fix would be in doubleclick.js . @glevitzky could you take a look?

[2016-09-21 23:35] ericlindley-g commented on #5027
Catastrophic sounds like it's right for "Current" :)
Slotting there, but feel free to re-milestone as needed.

[2016-09-21 23:40] dynes commented on #4844
Should I submit a pull request with potential changes, or does a discussion need to take place for what is the better approach?

[2016-09-21 23:40] ericlindley-g commented on #5055
to/ @rudygalfi who worked on the initial <amp-form> component

[2016-09-21 23:44] powdercloud commented on #5150
https://github.com/ampproject/amphtml/pull/5157

[2016-09-21 23:59] sriramkrish85 commented on #5101
works fine on nexus 5 for me will get a samsung device and test.

[2016-09-22 00:49] Gregable commented on #1968
Looking into this. A few questions for those interested in this thread:

One of the main issues is avoiding abuse (ie: [DOS](https://en.wikipedia.org/wiki/Denial-of-service_attack)) via Google's fetching. We could solve this by:

1. Requiring that the API request provide the contents, rather than the URL, and we perform validation on the provided string. This wouldn't work for @dandv's case. Would

[2016-09-22 01:13] jpettitt commented on #5025
Thanks. i was beginning to think I was going nuts.   As long as it's fixed before amp-ad js become mandatory.

[2016-09-22 01:36] jpettitt opened #5160 "Discussion - do we need a breaking changes policy?"
Since changes to the AMP runtime can have a profound impact of existing content there should be policy around breaking changes.  Specifically:
1.  How is a breaking change defined?
2. What is the process for notification?

**With that in mind here is a straw man policy for discussion**

A breaking change is any change that will cause a existing AMP pages to render in way that is one of:
1. Noticea

[2016-09-22 01:38] erwinmombay commented on #5160
/to @cramforce @rudygalfi

[2016-09-22 02:13] jasti commented on #5152
@jpettitt Separate from this breaking change, I do believe that AMP should have control of the size and placement of the close button. If you think this close button is ugly, let's discuss how to make it better.
I can vet your suggestion with UX experts to see if we can implement it. Do you have other suggestions?

[2016-09-22 02:39] jpettitt commented on #5152
Hmm, may  ask why?  That's getting well outside the performance aspects of amp and into dictating site UX.  Things like close buttons are a very site specific feature.

We did a few things in styling this - we made the amp-sticky-ad itself frame the ad unit and not  be full width.  We moved the close button to the right of the and frame rather than above except where the viewport was 320px when we

[2016-09-22 08:06] mkhatib commented on #5152
Sorry for the breaking change, I should've given it a bit more thought. Happy to roll this back if deemed necessary (defer to @dvoytenko @cramforce).

The reason I made this change is to try to avoid cases where the button is in-accessible to the user - either by on purpose abuse of hiding the close button (to not allow user to dismiss the sticky ad) or by accident (Small close button inaccessible

[2016-09-22 08:11] mkhatib commented on #5055
No specific reason for now. We just like to start in a small use-case and then expand as features requests like these come in or as we see that works or wouldn't introduce any side-effects. For example, for a long time `forms` were not supported in AMP but we just introduced them.

Another reason was that `amp-form` would polyfill different missing features of `form` and related tags like `input`

[2016-09-22 09:17] RonanDrouglazet commented on #5116
Hi @mlb7687 and thanks for your answer.

Ok we can use `useSameDomainRenderingUntilDeprecated` .
We haven't done anything until now with this parameters because your README explicitly says

And ask to all of our AMP/DFP publisher to update our tag is very painful for everyone.
Did you have any ETA for this feature ? How can we be alerted ?

maybe by this idea ? --> https://github.com/ampproject/am

[2016-09-22 12:41] R3dRidle opened #5164 "amp-carousel autoplay not playing with 2 images"
I am trying to implement an amp-carousel with autoplay. Yet it is not autoplaying.
I got the code from the examples.

Below is my code:

`<amp-carousel width="2000"
  height="403"
  layout="responsive"
  type="slides"
  autoplay
  delay="3500">
<amp-img src="http://www.webtondemo.nl/amptest/wp-content/uploads/WEBTON-belgie-01.jpg"
    width="2000"
    height="403"
    layout="responsive"></amp-img

[2016-09-22 12:57] pietergreyling commented on #1968
1) Requiring that the API request provide the contents, rather than the URL, and we perform validation on the provided string. This wouldn't work for @dandv's case. Would this still be useful?
- This could be useful especially in pre-production scenarios where the candidate AMP page is not yet hosted.

2) Only serving the cached validation result, which would be similar to just fetching the docume

[2016-09-22 13:02] mjrusso commented on #5156
Correct.

There seems to have been a recent change that introduced automatic resizing. It seems that in order for `data-override-width` and `data-override-height` to serve their intended purpose, this automatic resizing needs to be suppressed.

Calls to `window.context.requestResize` should flow through as normal, although if that complicates matters I'd much prefer for that to happen in a follow-

[2016-09-22 13:23] keithwrightbos commented on #5113
This was fixed in PR #5053 and can be closed.

[2016-09-22 13:33] R3dRidle commented on #5164
Solved my issue by just adding more images, is there a minimum of images in the amp-carousel to have?

[2016-09-22 14:47] glevitzky commented on #5156
Fix is on the way: https://github.com/ampproject/amphtml/pull/5165.

[2016-09-22 14:58] jpettitt commented on #5152
Understood.  Personally I think it's going to be very hard to make the button such that it can't be removed.  With the current setting I could remove or visually change it with left:, `transform:, left:, margin:, background:, border: , opacity:, visibility:, display:` and probably a few more I can't think of right now.

Right now our prod version is this which I looks fine to me.
![image](https://

[2016-09-22 15:55] dvoytenko commented on #5152
@mkhatib I'd say we can live without `!important` here. Everyone is correct in saying that it's still too easy to hack the button off the screen.

[2016-09-22 16:00] jpettitt commented on #4191
Is this essentially a one time `amp-live-list`?

[2016-09-22 16:04] erwinmombay commented on #4191
@jpettitt the mechanism is, but as far as usage this component is really for an edge case for long tail pages wherein a 1 behind copy from the cache would be bad (like a 1 year old e-commerce page being the user's first landing experience). Will add more documentation soon

[2016-09-22 16:06] erwinmombay commented on #4003
@jridgewell is flying carpet still in experiment?

[2016-09-22 16:06] erwinmombay commented on #4002
@zhouyx can you confirm stick-ad is fully live?

[2016-09-22 16:08] erwinmombay commented on #4171
@aghassemi want to confirm, this should still be in experimental correct?

[2016-09-22 16:11] erwinmombay opened #5166 "cleanup amp-app-banner experiment"
@mkhatib can you confirm this is still in experiment?

[2016-09-22 16:11] cramforce commented on #5160
This sounds good in general. One device that we have, which is not mentioned here, is to increase the major version of an extension. In general that is what should be used for true breaking changes. Of course, a downside (and upside) of doing this is that existing pages do not get upgraded.

It is sometimes hard to anticipate whether a change is breaking. We are planning to use automated visual di

[2016-09-22 16:12] erwinmombay commented on #4894
@dvoytenko any timeline we can remove experiment?

[2016-09-22 16:13] erwinmombay opened #5167 "cleanup amp-share-tracking experiment"
@muxin the component isn't completed yet correct?

[2016-09-22 16:13] aghassemi commented on #4171
yes

[2016-09-22 16:14] erwinmombay commented on #3824
@dvoytenko can we unflag this?

[2016-09-22 16:14] cramforce commented on #5125
The Google iOS search app should not have this issue.

What I meant is to ask webkit to allow setting scroll inertia via some
proprietary CSS attribute. That is likely easier for them, than fixing the
fundamental bug.

On Wed, Sep 21, 2016 at 5:38 PM, Dima Voytenko <notifications@github.com>
wrote:

[2016-09-22 16:15] erwinmombay commented on #3824
confirmed this can be removed, since we've forced this to be on

[2016-09-22 16:24] #5113 closed

[2016-09-22 16:25] jridgewell commented on #4003
Yup, we're now blocked by https://github.com/ampproject/amphtml/issues/5149.

[2016-09-22 16:31] #5090 closed

[2016-09-22 16:44] jridgewell commented on #5164
/to @sriramkrish85

[2016-09-22 17:18] ansalgado-gcorp commented on #5117
Any updates to this issue?

[2016-09-22 17:48] #4075 closed

[2016-09-22 17:52] lannka commented on #5025
Fixed by #5148

[2016-09-22 17:52] #5025 closed

[2016-09-22 18:15] jasti commented on #5156
@mjrusso  Since Native ads can render at any size, why is the container size/ DFP lineitem configured at 2x200? What's special about that size?

[2016-09-22 18:19] jridgewell opened #5173 "IntersectionObserver: Does it need every scroll event?"
Right now, we listen two two events in IntersectionObservers:

1. Scroll event. This fires a _lot_.
2. "Change" event, aka every few scrolls or a resize event.

Do we need to keep listening to every `scroll` event if we get the `change` event?

/cc @sriramkrish85, @avimehta, @jasti

[2016-09-22 18:47] sriramkrish85 commented on #5173
this should fire only when the element is in viewport. you mean to say that we fire IO for every scroll event?

Also dont we restrict the no of postmessages to 10 per second?

[2016-09-22 18:58] sriramkrish85 commented on #5164
Yes - we need atleast 3 images for a loop and hence for autoplay. Will update the documentation.

[2016-09-22 19:02] jridgewell commented on #5173
While in viewport, we get every scroll event.

Yup. Which goes to say, why do we need to get every scroll event when we can only accept one every 100ms. If we just listen for `changed`, we'll still get one every ~60ms.

[2016-09-22 19:06] sriramkrish85 commented on #5173
what do you mean by `change` event? isnt that only on certain inputs?

[2016-09-22 19:06] aghassemi commented on #4947
see https://github.com/ampproject/amphtml/pull/5176

[2016-09-22 19:14] aghassemi opened #5177 "Consolidate `fill` CSS code we have to be the same."
We have three different versions of fill css:
 `.-amp-layout-fill` is different than `.-amp-fill-content` which is different than `.-amp-layout-size-defined .-amp-fill-content`

Some of them use position absolute, and some of them use width, height 100%. The ones using width, height, also don't set `box-sizing` to `border-box` that can cause overflows.

We need to consolidate all these into a sing

[2016-09-22 19:22] jridgewell commented on #5173
It's a [throttled scroll](https://github.com/ampproject/amphtml/blob/master/src/service/viewport-impl.js#L617-L635) event and every [resize](https://github.com/ampproject/amphtml/blob/master/src/service/viewport-impl.js#L651-L660) event.

[2016-09-22 19:40] jpettitt opened #5178 "-amp-fill-content height 100% breaks ad alignment in some cases."
This is a really weird edge case. I'm not sure whose bug it is, or even if it is a bug, it may just be a weird feature interaction.

We've been seeing this issue with `amp-sticky-ad`

![image](https://cloud.githubusercontent.com/assets/524856/18762854/89ad73c8-80bf-11e6-8f18-0057fb3f07ca.png)

Here is what was happening -

There is code (outside out control) in the ad iframe created by DFP to posi

[2016-09-22 19:49] jasti commented on #5178
@lannka @glevitzky PTAL

[2016-09-22 19:59] Gregable commented on #1968
This is true, I don't think the cache currently stores FAIL cases, I think it retries on every request.

It wouldn't hurt, but I don't think get the feeling that most developers are using this revision number for much. It's really used only for development of the validator itself, we are quite careful about backwards incompatible changes these days.

[2016-09-22 20:02] Gregable commented on #4191
Why not just use standard HTTP expiry headers for communicating this information to the AMP Cache, rather than an HTML tag?

[2016-09-22 20:08] pbakaus commented on #4609
In that case, let's just remove the inlining requirement altogether? HTTP2 push will be sufficient as alternative.

[2016-09-22 20:09] cramforce commented on #5173
For the ads use case we need to update within 100ms. That is basically the only restriction we have.

[2016-09-22 20:09] Gregable commented on #5160
This does sound like a good policy to flush out.

I don't think validator warnings make sense for visual changes such as your case 1. We also have a mechanism for validator changes where we can assess the impact of the changes in terms of percentage of affected documents on the web, and we use that to inform how aggressive we can be with the timeline.

I will say that the current warnings regardin

[2016-09-22 20:27] mkhatib commented on #5166
Yes this is still an experiment. @ericlindley-g - do we have anything blocking launching this? (Other than docs, I'll send a PR by EOD).

[2016-09-22 20:33] mkhatib commented on #5117
@ericlindley-g were these reported on a non-Chrome browser? It is WAI if these are on a Chrome browser. Chrome supports a native app-banner so we don't show AMPs' in these cases.

If this is not on Chrome, what browser was this on?

[2016-09-22 20:57] jridgewell commented on #5173
Looking into it, `changed` won't fire until after the scroll has stopped completely. That's no use for us.

[2016-09-22 20:57] #5173 closed

[2016-09-22 21:06] ericlindley-g commented on #5117
@mkhatib This issue is happening even inside of the viewer, where we should be showing the banner even in the Chrome + Android. I also believe it's in non-Chrome + Android combinations, but @ansalgado-gcorp can verify

[2016-09-22 21:15] ericlindley-g commented on #5166
The test team ran through this on ios, and has that blocker before they can test in Android (you're already taking a look, I think). We just have whatever comes up in that process, validation rules, docs, and one last Eng review before we can launch

[2016-09-22 21:44] #5152 closed

[2016-09-22 22:29] jasti commented on #3058
Moving to backlog since we don't expect a publisher to do this within the next couple of months. AMP Roadmap will reflect this prioritization.

[2016-09-22 22:30] jpettitt commented on #4078
bump.

[2016-09-22 22:59] jpettitt commented on #5160
I like using versioning to manage major transitions. Bumping a version lets the publisher decide when to cut over, gives an opportunity to do QA.  Pretty much every developer understands the semver model. Then the validator could start to warn about end of life for older versions.  As @Gregable notes it would be good if search console reflected the warnings.

[2016-09-22 23:00] pbakaus commented on #4791
This doc isn't generated, but lives here: https://github.com/ampproject/docs/blob/master/content/docs/reference/validation_errors.md

Feel free to create a PR against it.

[2016-09-22 23:30] dandv commented on #1968
Could DOS attacks via the "validate AMP URL" API be avoided via other anti-DOS mechanisms?

I.e. if we employ rate limiting, we can reasonably limit requests to a pretty low rate, given that:

* one AMP document is unlikely to realistically change more often than once per ~5 seconds, so validating more often than that wouldn't be useful
* multiple documents across a site tend to be generated from

[2016-09-22 23:35] avimehta commented on #4844
@dynes Is there a desire to track visibility of a particular event for timer or just the whole page?

I like the idea of making backgrounded available to all of AMP instead of being a visibility only variable.  @rudygalfi what do you think?

[2016-09-22 23:45] ansalgado-gcorp commented on #5117
The issue is present on Chrome.

[2016-09-23 00:03] dynes commented on #4844
@avimehta For my use case, tracking visibility for the whole page.

[2016-09-23 01:13] cramforce commented on #4078
We will definitely do this.
@jasti @rudygalfi I pinged you about the same topic on an internal doc recently.

[2016-09-23 01:25] Jeiwan commented on #4987
Could you recommend any workaround while this is not fixed? Google now shows AMP indicator on search results, and because of this bug many our pages will be shown as invalid and users won't be able to visit them.

[2016-09-23 01:49] jpettitt commented on #4191
Hmm, I knew the cache only took max-age as a hint.  However you're saying it doesn't support `stale-while-revalidate` ?  Is there some max ttl or could things theoretically persist forever?

Which error conditions cause the cache to invalidate?  If it gets a 404 or 410 I know it drops the doc.  What about 5xx codes?

[2016-09-23 04:19] cramforce commented on #4987
This is tracked at Google as b/31692108

We'll keep this open until the issue is resolved. In terms of a short term workaround it is currently being discussed to blacklist urban dictionary from showing as AMP result until the issue is resolved.

I'm sorry that this issue did not get escalated from the open source project to Google. The Google team independently discovered this today from log analy

[2016-09-23 04:36] Jeiwan commented on #4987
This looks excessive, since the bug affects only some pages, not all of them. Could you not do this, please? Also, we're going to deploy a fix soon that disables URL encoding in 'amphtml' link tag. It looks like AMP Cache doesn't expect it to be encoded.

[2016-09-23 04:39] cramforce commented on #4987
Great! If you have a workaround that is great.

I (or I guess someone else since I technically have a vacation day tomorrow) will update when a fix is deployed.

[2016-09-23 04:43] cramforce commented on #4987
PS: If the workaround works, that is great. Note, that after Google fixes the underlying issue, these URLs will be requested as unencoded. This may lead to issues if you have query strings that require encoding (e.g. band names that contain `&`)

[2016-09-23 05:08] kevinSuttle opened #5186 "Docs: Spec isn't rendering markdown links or code properly in some sections"
https://www.ampproject.org/docs/reference/spec.html
vs https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#boilerplate

===
https://www.ampproject.org/docs/reference/spec.html#common-attributes
vs https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#common-attributes

[2016-09-23 05:11] cramforce commented on #4987
Setting milestone to "Pending 3p implementation" since Google needs to fix this.

[2016-09-23 06:22] R3dRidle commented on #5164
Shouldn't be 2 images possible too ?

[2016-09-23 08:16] tonyruscoe commented on #5055
Thanks Mohammad. Let me know if there’s anything I can do to help with your research.

I might be able to share some more examples confidentially if that would help?

Let me know if you’d like to discuss this 1:1.

[2016-09-23 09:22] Bobby0707 opened #5187 "Lazy loading not working horizontally"
Hi, I'm having an issue when I want to create a horizontally scrollable kind of image gallery. The issue is that the lazy loading doesen't seem to work and only the images which are in the viewport are loaded. I tried this vertically and it worked, but horizontally just won't. If I resize the browser however the images are loading, so maybe you could help me with this.

## How do we reproduce the

[2016-09-23 14:14] Nicola1976 commented on #2633
Hi we have noticed that ther is a old issue in production amp article. As you remember we required that in appnexus adaptor the cookie policy banner should blodk the adv call until it is accepted. But now in production (we dont have change nothig) we see the banner and the cookie policy banner too.

So, as appened in your first implementation, when the user loads the page, the AMP adaptor doesn't

[2016-09-23 15:22] Nicola1976 opened #5188 "MP_AD Appnexus Adaptor / Cookie Policy banner vs adv calls (It does not work anymore)"
Hi we have noticed that ther is a old issue in production amp article. As you remember we required that in appnexus adaptor the cookie policy banner should blodk the adv call until it is accepted. But now in production (we dont have change nothig) we see the banner and the cookie policy banner too.

So, as appened in your first implementation, when the user loads the page, the AMP adaptor doesn't

[2016-09-23 15:57] oliverfernandez opened #5189 "AMP-AD sandbox iframe"
When the AMP-AD tag creates a 3p IFRAME, I noticed that this IFRAME doesn't have any kind of sandbox. Among other things, this means that the content inside the IFRAME can do a top level navigation. Something like:

window.top.location.href = '...'

Since this is a behaviour that I have detected in ad networks, and considering that AMP documents can be loaded in Google search page, is there a reas

[2016-09-23 16:09] jridgewell commented on #4791
Maybe @bpaduch would like to take it on?

[2016-09-23 16:32] aghassemi commented on #4791
This is fixed by https://github.com/ampproject/docs/pull/192 already.

[2016-09-23 16:32] #4791 closed

[2016-09-23 16:55] dvoytenko commented on #4770
So, to confirm this for everyone, we are starting work on analytics for friendly iframes. The exact details will be confirmed through the implementation, but some important notes:

First: we'll NOT be hoisting analytics elements outside of the iframe's boundary. Instead, analytics service will understand and interpret boundary as we find appropriate. Thus, the overall DOM structure will look like:

[2016-09-23 17:10] jridgewell commented on #5189
/to @cramforce

[2016-09-23 17:12] jridgewell commented on #5188
/to @lannka

[2016-09-23 17:15] jridgewell commented on #5187
/to @cramforce, @dvoytenko

[2016-09-23 17:17] dvoytenko commented on #5187
@Bobby0707 `overflow: auto|scroll` are not allowed. Please use `<amp-carousel>` element instead.

[2016-09-23 17:21] jridgewell commented on #5187
Ha, I thought this was the `<amp-carousel>` ad's `prefer-viewability-over-views` issue reported in Slack. Whoops.

[2016-09-23 17:21] #5187 closed

[2016-09-23 17:25] jridgewell commented on #4191
Our `stale-while-revalidate` would cause bad data to be shown while we refetch.

[2016-09-23 17:27] eyobebisrat opened #5194 "Amp-carousel: delay load of amp-ad"
In our app we have a (slides) amp carousel where we regularly embed amp-ads. There currently isn't a way to delay the ad load until it is scrolled in view in carousel. Setting the  data-loading-strategy attribute to "prefer-viewability-over-views" doesn’t seem to work in this case.

You can see this issue when you add an amp-ad to a list of elements in a amp-carousel so that to a amp-ad is not in

[2016-09-23 17:28] lannka commented on #4965
Seems to me the issue is already resolved. Closing it.

[2016-09-23 17:28] #4965 closed

[2016-09-23 17:41] poscar opened #5195 "amp-ad inside amp-carousel overlays content in Safari"
## Short description of your issue:

In Safari, `amp-ad` components placed inside an `amp-carousel` overlay the content of the carousel.

## How do we reproduce the issue?

### Example:
http://output.jsbin.com/yolopuqeve

- Observe the carousel at the bottom of the page, and change slides.

### Result:
Broken in `Safari 9.0.3`, ads display on top of content slides.

### Expected Result:
Work in al

[2016-09-23 17:45] jridgewell commented on #4078
Fixed by https://github.com/ampproject/amphtml/pull/5053?

[2016-09-23 17:52] dvoytenko commented on #3824
Can be cleaned up, yes.

[2016-09-23 17:59] dvoytenko commented on #5125
Filed https://bugs.webkit.org/show_bug.cgi?id=162499

But I'd expect any iOS WebView to have the same problem as well. I believe the difference is specifically in how iOS Safari overrides root scroller.

[2016-09-23 17:59] mjrusso commented on #5156
@jasti in all cases DFP requires a size to be specified (although perhaps the new "fluid" sizing is an exception, but that's relatively new and has its own limitations).

Because DFP requires a size, publishers tend to adopt their own sizing scheme for ads that don't actually have an inherent size. (A common, well established convention is to use a size of 1x1 for interstitial ads.)

Native ads do

[2016-09-23 18:02] dvoytenko commented on #4894
@ericlindley-g Are we proceeding on testing this?

[2016-09-23 18:14] ericlindley-g opened #5198 "Tracking: validation for amp-app-banner"
Passing to @Gregable  and @powdercloud for triage—let me know if you have any questions!

Must have an explicit provided ID - for persistence logic
Must have at least one of meta[name="apple-itunes-app" or link[rel=manifest]
Must have a child a[open-link]
Cannot have <amp-ad> as a descendent
Height cannot exceed 100px

cc/ @mkhatib

[2016-09-23 18:15] sriramkrish85 commented on #5194
@eyobebisrat are you using `amp-carousel type="slides"` ?

[2016-09-23 18:18] sriramkrish85 commented on #5195
@poscar this will be fixed in our new implementation launching in a week (or 2). If you want to try it out you can opt in to our dev channel (https://cdn.ampproject.org/experiments.html) or try out the
`amp-slidescroll` experiment. Thanks for taking time to report the bug!

[2016-09-23 18:41] poscar commented on #5195
I could still reproduce with only `dev-channel` enabled, but confirmed I can't reproduce the issue with *BOTH*: `dev-channel` and `amp-slidescroll` enabled in https://cdn.ampproject.org/experiments.html.

[2016-09-23 18:42] #5082 closed

[2016-09-23 18:44] sriramkrish85 opened #5199 "Launch amp-slidescroll Progress tracker"

[2016-09-23 18:44] ericlindley-g commented on #4894
Sorry for the delay—just submitted for testing.

[2016-09-23 18:55] zhouyx opened #5200 "Support ad loading performance report"
We have the `render-start` API for ad now, it would give us good information on when ad is loaded. We could work on collection ad loading performance to get a better idea on how long it takes for an ad to load, then calibrate our timeout value.
#4746 is a staring PR for this. However we defer it because I need a better solution to separate ad loading data from page loading data, and group them by

[2016-09-23 19:13] jpettitt commented on #5200
Will this data be available via `amp-analytics` to give publishers an overview of all the ads on a page?

[2016-09-23 19:19] jridgewell commented on #5125
@dvoytenko: Can you add to our Browser Bugs spreadsheet?

[2016-09-23 19:45] jridgewell commented on #5195
@sriramkrish85 misspoke. You only need to enable the `amp-slidescroll` experiment, as it's in both prod and canary.

[2016-09-23 19:47] jridgewell commented on #5194
Ah, here's the one from Slack.

/to @cramforce, @dvoytenko

[2016-09-23 19:48] jridgewell commented on #5200
/cc @jasti

[2016-09-23 19:49] jridgewell commented on #3824
Ha, he [already removed](https://github.com/ampproject/amphtml/pull/5175) them.

[2016-09-23 19:49] #3824 closed

[2016-09-23 20:11] kevinSuttle opened #5203 "Performance audits of amp.css and v0.js"
## How do we reproduce the issue?

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue and nothing else.

1. Go to kevinsuttle.com
2. Open Chrome Devtools
3. Under Audits, check Network Utilization and Web Page Performance.
4. Select Reload Page and Audit on Load

- Under **Network Utilzation: Leverage browser caching**, v0.js is mentioned

[2016-09-23 20:27] jridgewell commented on #5203
/to @cramforce.

[2016-09-23 20:29] cramforce commented on #5203
The CSS is tiny and not worth optimizing. The JS lifetime is a known trade off. When @jridgewell's foreign-fetch ServiceWorker work lands, this will be fixed for Chrome users.

[2016-09-23 20:29] #5203 closed

[2016-09-23 20:31] jasti commented on #5200
@jpettitt That's a good idea that we've been mulling ourselves. CC @avimehta and @rudygalfi for thoughts.

[2016-09-23 21:08] avimehta commented on #5200
This sounds like a great idea. @zhouyx lets sync up on what can be done here to asupport the variables in amp-analytics.

[2016-09-23 21:16] lannka opened #5205 "Only allow variable CLIENT_ID replaced in HTTPS URLs"

[2016-09-23 21:22] mkhatib opened #5206 "amp-mustache: Partial templates"
Allow rendering partials inside a mustache template. For example this can be used like the following:

[code]

The above could also be introduced as it's own element (e.g. `amp-mustache-partial`) if we'd like to avoid lookup.

[code]

AMP probably needs to read that template and pass the partials dictionary to the mustache `render` call.

cc/ @dvoytenko

[2016-09-23 21:27] mkhatib opened #5207 "Consider whitelisting <input> in Mustache template rendering"
Currently `input` elements are blacklisted (and hence stripped out) when rendering mustache templates.

So the following would just render nothing when rendered.

[code]

This was initially blacklisted as a conservative measure to make sure this wasn't abused. We need to research this and see if whitelisting it wouldn't cause any security-holes or abuse. If it's safe to whitelist, this is can be p

[2016-09-23 21:32] lannka commented on #5200
Exposing this data further to Analytics can be a separate topic. It will not be as trivial as adding a new metric, because all the current metrics are page level, and the new metric will be ad level. I can imagine we probably will need to introduce new triggering method like 'ad_load', and mechanism to do the URL replacement without having multiple ads load racing each other.

Let's keep this task

[2016-09-23 21:33] ansalgado-gcorp commented on #5117
Eric, any update on this.  We want to continue testing, and without the feature showing, we can't sign off on it.

[2016-09-23 21:39] ericlindley-g commented on #5117
Thanks @ansalgado-gcorp — to clarify, have you only tested this in Chrome, or have you tried other browsers on Android as well?

Also, can you try with a motorola device? I am able to get the banner on Moto X, on Chrome at the [...viewer.html link](https://amp-mk-3.herokuapp.com/examples/viewer.html), and if you can as well it could help narrow in on the issue.

@mkhatib — have you been able to lo

[2016-09-23 21:55] mkhatib commented on #5117
Also, make sure you're on the `https version of the viewer link, otherwise it will fail.

I just tried on Nexus 6P Chrome and got it working on `https`.

[2016-09-23 22:19] sriramkrish85 commented on #4601
seeing this again

https://travis-ci.org/ampproject/amphtml/builds/162322075

[2016-09-23 22:42] kevinSuttle commented on #5203
Right on. Thanks.

[2016-09-23 22:45] eyobebisrat commented on #5194
@sriramkrish85 That is correct.

[2016-09-23 22:48] mkhatib opened #5210 "Consider exposing next/previous/goto triggers for amp-carousel/slides"
One example this can be very useful for is multi-step forms/polls/quiz like the following:

[code]

This might need to also introduce `disable-user-interaction` attribute to allow preventing user from navigating in a usual swiping matter and disable.

An alternative is to introduce an `amp-selector` that have similar functionality.

[2016-09-23 22:50] sriramkrish85 commented on #5210
what does this solve? any particular use-case or was there a request from some one. This is super easy to expose. Trying to understand if this is necessary.

[2016-09-23 22:55] mkhatib commented on #5210
Does the example above not help explain how this might be useful?

[2016-09-23 23:15] sriramkrish85 commented on #5210
my bad :) did not see the form above . makes sense for polls. May be make next the default action is probably what you need., because you will use the arrrow/swipe to go back.

[2016-09-23 23:51] lannka opened #5212 "Implement ALP for A4A"
Experiment PR: #4008

[2016-09-24 00:02] rudygalfi commented on #4987
The fix on the Google side has rolled out. Please try it and let us know if you continue to see a problem.

Thanks again for the initial report.

[2016-09-24 00:02] #4987 closed

[2016-09-24 00:04] #5093 closed

[2016-09-24 00:18] mkhatib opened #5213 "Capture and Send the Submitter button when submitting a form"
By default in non-JS form submission the request will include `name=value` for the submit button that made the submit request.

We should introduce the same mechanism to allow use cases like:

[code]

[2016-09-24 00:19] jpettitt commented on #5205
Are we talking amp-analytics targets or is this related to #4078

[2016-09-24 00:23] dvoytenko commented on #5125
@jridgewell Done.

[2016-09-24 00:27] dvoytenko commented on #5206
@mkhatib Could you elaborate on why this is a good idea? Our goal is to ensure that an AMP document is not turned into a client-side rendering engine...

[2016-09-24 00:28] dvoytenko commented on #5194
@sriramkrish85 Is this fixed in scrollable carousel?

[2016-09-24 00:37] mkhatib commented on #5206
To avoid repetitive exact sections of template code. For example this [experimental example template is repeated for every product listing](https://github.com/ampproject/amphtml/pull/5214/files#diff-fffecb019d2cfacd424fe215abff4347R69) - 3 times in the example.

[2016-09-24 00:49] sriramkrish85 commented on #5194
Yes ,  this is fixed With the slidescroll experiment

[2016-09-24 01:25] dvoytenko commented on #5194
@sriramkrish85 Cool. I'm assigning it to you then. Please close when scrollable carousel is launched.

[2016-09-24 01:57] Jeiwan commented on #4987
Thank you!
Yes, we confirm that the bug is fixed now.

[2016-09-24 06:07] cekvenich opened #5216 "Polymer | HTML5 Web Components"
Hi,
Is there a mail list or forum to discuss?

My main question is Polymer or HTML5 Web Components - it appears that neither would work w/ AMP.  Both require at least some .js.

Also minor question, how do I make SPA (Single Page App) w/ AMP?
Normally you 'ajax' load another and replace innerHTML or such.

Cheers,
Vic

[2016-09-25 08:30] YoavRheims opened #5217 "AMP Project issue on Safari browser"
## Short description of your issue:

The office AMP website is broken on Safari browser.

## How do we reproduce the issue?

Just go to https://www.ampproject.org on Safari for Windows (5.1.7). It was tested on desktop PC.

## Which AMP version is affected?

Version 1474310684773

## Screenshot

![amp-safari](https://cloud.githubusercontent.com/assets/4377522/18813924/abb68134-8313-11e6-9cd2-525ed

[2016-09-25 08:54] #5217 closed

[2016-09-25 17:57] erwinmombay commented on #5217
@YoavRheims you mind if i move this over to https://github.com/ampproject/docs ?

[2016-09-25 18:10] YoavRheims commented on #5217
@erwinmombay No problem, you should probably move it (I have no idea how to do it yet).

[2016-09-25 18:15] erwinmombay commented on #5217
@YoavRheims was just going to copy your text and refer to this original post 😸

[2016-09-25 18:16] YoavRheims commented on #5217
Oh, got it ;)

[2016-09-26 03:29] cramforce commented on #5216
Polymer is not supported.
Over here we are building a SPA that displays AMP content https://github.com/ampproject/amp-publisher-sample/pull/52

There is a similar project under way for Polymer!

[2016-09-26 03:29] #5216 closed

[2016-09-26 04:44] jasti commented on #4192
Pretty well documented in https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md. Closing.

[2016-09-26 04:44] #4192 closed

[2016-09-26 04:46] jasti commented on #4111
Once A4A for DoubleClick and Adsense is complete (expected this quarter), this will be less of an issue even for non-AMP format ads. Closing.

[2016-09-26 04:46] #4111 closed

[2016-09-26 06:02] JoeArizona opened #5218 "AMP sites have stopped following AMP rules – has there been a change?"
Hi team,

I noticed this weekend that every publisher I looked at is no longer following the AMP rules. I don't know when this happened, but it's dramatically different from the last time I checked out AMP pages for examples.

- No one is putting `amp` or ⚡ (U+26A1) in the HTML start tag. That struck me as most odd because it doesn't cost them anything, and everyone was doing it a couple of months

[2016-09-26 06:12] YoavRheims commented on #5218
Hi,

I don't see the issues you are describing, both websites pass the AMP validation:

1. https://validator.ampproject.org/#url=http%3A%2F%2Fmashable.com%2F2016%2F09%2F24%2Fjustin-bieber-german-club.amp
2. https://validator.ampproject.org/#url=https%3A%2F%2Fwww.yahoo.com%2Famphtml%2Ftech%2Felon-musk-soon-tell-world-020409570.html

Are you actually sure you are checking the AMP version or the norm

[2016-09-26 08:10] JoeArizona commented on #5218
Well I see some amp traces in the source, like amp modules, in addition to all the other JS and CSS. It's possible the source I'm looking at isn't the source that was actually delivered to the browser, though this seems more likely with the Android view source app than in Dev Tools. Let me do some digging. Should an AMP page URL return the AMP page to all requesting user agents, or is it going to

[2016-09-26 08:47] tungvn opened #5219 "Google AMP for Facebook comments plugin"
I found [here](https://ampbyexample.com/components/amp-facebook/) for supporting facebook plugins, but I found nothing for facebook comment.

I try using amp-iframe with ex.
`<amp-iframe width="672" height="240"
       sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
       layout="responsive"
       frameborder="0"
       src="https://facebook.com/">
</amp-ifr

[2016-09-26 12:06] saurabhdixit123456 opened #5220 "amp page error"
hello
i am using https://wordpress.org/plugins/amp/
 its  show Prohibited or invalid use of HTML Tag in google how we solve this issue
https://www.1mg.com/articles/how-to-effectively-handle-work-related-stress/amp/

[2016-09-26 12:21] cekvenich commented on #5216
What about HTML5 Web Components ?
From http://developers.google.com/web
you have http://developers.google.com/web/fundamentals/primers/customelements

React is not a standard and Custom Elements are a ratified standard - news?
As a developer, can I have a way to have a site that is both AMP when needed and Custom Elements?

[2016-09-26 14:11] keepitsimple opened #5225 "Proper `goback` functionality in AMP"
**UPDATE** [May 14 2020]
I'm pretty sure that the AMP team will spent another 5 years on decision "TO DO vs NOT TO DO". The workaround is simple - use iframe with JS code inside which calls `history.back`. Yes it's ugly but it works.

----

Can you please add some param for `<button>` or `<a>` tags which will do javascript:window.history.back() call?

I use amp-iframe as workaround for this issue,

[2016-09-26 15:34] aghassemi commented on #5105
Not Applicable anymore. No longer polyfilling in favor of our custom listener functions.

[2016-09-26 15:42] sreekanthjnayar opened #5226 "amp-img not loading outside viewport"
I had created a webpage which shows some images arranged as cards side by side using the amp-img tags. The image cards are wrapped in a horizontally scrollable container. I am using the normal amp-img tag and arranging them side by side. The images rendered outside the viewport doesn't load (checked the network tab for the image requests and could see that these images outside the viewport has not

[2016-09-26 15:45] aghassemi commented on #5127
I can easily repro this in iOS without AMP using just a `video` tag. http://jsfiddle.net/aejhcyor/2/

I will file a bug and follow up with webkit/apple folks.

[2016-09-26 15:57] cramforce commented on #5188
I don't think this ever worked for ads that do not ask for a CID (which AppNexus does not). I might be mistaken, though and it would be easy to implement.

[2016-09-26 16:01] cramforce commented on #5189
As long as Safari doesn't support `allow-popups-to-escape-sandbox` it isn't really feasible to apply a sandbox to ads.

On the Google search page, ads are only loaded when articles are in full screen.

Chrome is currently launching an intervention where 3p iframes cannot navigate the top window without a user action. That will solve the issue.

[2016-09-26 16:01] #5189 closed

[2016-09-26 16:05] cramforce commented on #5216
AMP will not support custom elements not published as an AMP extension.

On Mon, Sep 26, 2016 at 8:21 AM, cekvenich <notifications@github.com> wrote:

[2016-09-26 16:14] jpettitt commented on #5178
Update: Seeing the same issue on 300x250's - setting `height: 100%` definitely seems to be an issue.  The same fix (explicitly setting the unit height in CSS) worked.

[2016-09-26 16:35] cekvenich commented on #5216
Clearly cramforce. But you show
https://github.com/ampproject/amphtml/issues/5216#issuecomment-249472180
a path from react components
Is there a path from standard components?

[2016-09-26 16:36] cramforce commented on #5216
@cekvenich We're using React to build an app that loads AMP documents. We don't use React in AMP documents.

[2016-09-26 16:44] choumx commented on #5216
Normally you 'ajax' load another and replace innerHTML or such.

The PR above and `examples/pwa` in the `amphtml` repository both use Shadow DOM for rendering an AMP doc within an HTML doc (React is not necessary). Check out the code to see how it works.

[2016-09-26 16:47] bpaduch commented on #5186
cc: @pbakaus

This appears to be an issue where if no language is specified for a codeblock, the grow sdk doesn't render the block as code format.  Happens in other [docs](https://www.ampproject.org/docs/reference/extended/amp-access.html#access-url-variables) that I found that I'll fix in this bug.

[2016-09-26 16:50] eyobebisrat commented on #5194
Any ETA we can hope for launch of scrollable carousel?

[2016-09-26 16:56] cekvenich opened #5227 "CORS/REST Mustache"
Is there an example of Mustache AMP doing a REST/CORS call?

Or front end data binding?

[2016-09-26 17:02] cekvenich commented on #5216
Thx Chamoux - I don't see 'the PR above' ( I don't even know what PR is).
Second example:
https://github.com/ampproject/amphtml/blob/master/examples/pwa/pwa.html
I see, but you are using .js!
You can't use .js in AMP, so ...

Plz help (so you know it's worth it as I do document PWA, ex: http://masons-foundation.org/en/s_home/webComp/comp1 ) I want to post example of data binding and SPA - just sim

[2016-09-26 17:14] rudygalfi commented on #5218
@JoeArizona The URLs you linked to (e.g. https://www.google.com/amp/mashable.com/2016/09/24/justin-bieber-german-club.amp?client=ms-android-verizon) are URLs of Google Search's "AMP viewer", which essentially iframes AMP pages. In this case, the AMP page is http://mashable.com/2016/09/24/justin-bieber-german-club.amp, which is a valid AMP.

[2016-09-26 17:23] jasti commented on #4464
@konakk Do you have an update on supporting google_ad_channel property is on the roadmap?
Thanks.

[2016-09-26 17:23] KempfCreative commented on #5220
You have an invalid property on line 283 of that HTML document: kid_directed_site="false".

Validating these issues is possible using a variety of automated techniques, but for one-off checks, you could try and use https://validator.ampproject.org/.

[2016-09-26 17:43] aghassemi commented on #5127
For reference: https://bugs.webkit.org/show_bug.cgi?id=162562

[2016-09-26 17:46] sriramkrish85 commented on #5199
Launched 100% on canary on Sep 23.

[2016-09-26 17:47] sriramkrish85 commented on #5194
@eyobebisrat end of this week. ill update the progress here #5199

[2016-09-26 17:53] sriramkrish85 commented on #5226
@sreekanthjnayar - you will need to use `amp-carousel` if you need a scrollable pane elements in in it. This component would take care of loading resources for you.

CC @dvoytenko

[2016-09-26 17:53] choumx opened #5229 "Show compiler warnings for dangerous use of `this`"
[Property flattening](https://developers.google.com/closure/compiler/docs/limitations#implications-of-object-property-flattening) in Closure compiler can cause bugs when using `this` in non-constructor, non-prototype methods, e.g. [this bug](https://github.com/ampproject/amphtml/pull/5191) due to compiling non-conformant 3P code.

Closure compiler prints warnings for this case that look like this:

[2016-09-26 17:55] sriramkrish85 commented on #5225
@ericlindley-g lets start a discussion on this here. This seems like a valid request.

[2016-09-26 17:57] Gregable commented on #5225
We could use the validator to whitelist a very specific `javascript:` URL for some `href` values.

[2016-09-26 18:03] camelburrito opened #5230 "Sometimes AMP element is missing implementation in the connected callback"
[code]

Here is the error log from canary

[code]

Other instances of the same error:
- "TypeError: Cannot read property 'isDeclaredFixed' of undefined"
- "TypeError: Cannot set property 'layout_' of undefined"
- ""

[2016-09-26 18:18] sriramkrish85 commented on #5219
I dont think we have something explicit to support this.
@tungvn try out setting this property on the `amp-iframe`
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe?#attr-scrolling

Let us know if this works for you.

CC @dvoytenko

[2016-09-26 18:23] jridgewell commented on #5230
/cc @dvoytenko

This looks to be an issue with `Viewport` (`f` is the viewport) not having a `FixedLayer` (the `undefined`). It's erroring [here](https://github.com/ampproject/amphtml/blob/master/src/service/viewport-impl.js#L327-L329).

[2016-09-26 18:24] ansalgado-gcorp commented on #5117
I can confirm that the feature is working correctly on port 443(https).
This is to update the bug and request clarification if the feature will be available to users accessing on port 80 rather that 443.

[2016-09-26 18:31] sriramkrish85 opened #5232 "ReferenceError: Extension failed: amp-analytics: ta is not defined"
[code]

[2016-09-26 18:31] sriramkrish85 commented on #5232
This is on canary.

[2016-09-26 18:31] shawnbuso opened #5233 "Intent-to-Implement: Ad-enabled video player using the IMA SDK"
We want to create a new extension, &lt;amp-ima-video&gt;, which takes a content URL and a video ad tag and provides an ad-enabled video player with your content and ads. This will use [Google's IMA SDK](https://developers.google.com/interactive-media-ads/docs/sdks/html5/). For a demo of the IMA SDK, see our [sample](http://googleads.github.io/googleads-ima-html5/advanced/). Sample tag:

[code]

Th

[2016-09-26 18:38] jridgewell commented on #5230
Either that, or it's erroring because `Viewport` is `undefined`. But I think it's `FixedLayer` that is.

[2016-09-26 18:41] jasti opened #5234 "Ad Tech Developers, please support render-start"
Dear @ampproject/ads team. We'd like to improve the ad loading experience in AMP and we need your help. Would you please implement the 'render-start' and 'no-content-available' [APIs](https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-apis).
Once you've implemented the API, please update for your extension
https://github.com/ampproject/amphtml/blob/master/ads/_config.js

Bel

[2016-09-26 18:44] yieldmo-rao commented on #5234
@jasti PR merged in: https://github.com/ampproject/amphtml/pull/5080, scheduled for upcoming release.

[2016-09-26 18:46] mkhatib commented on #5117
For Android, since we do a fetch to get the `manifest.json` file, this is done only if the link provided was on `https`. So this would work for document served on `http` as long as the manifest link was `https`. Meaning on `http` pages with relative manifest link, this wouldn't work.

[2016-09-26 18:46] #5117 closed

[2016-09-26 19:18] jridgewell commented on #5205
/cc @cramforce

[2016-09-26 19:21] cramforce commented on #5205
For `amp-analytics` this is not a change as it only allows HTTPS in the 1st place.

Yes, this would be for #4078.

But I think this is only one of multiple rules we may need.

[2016-09-26 19:26] cramforce commented on #4078
I don't think we should land #5053 as is. It is fine for inside `amp-ad` with custom rules.

@jpettitt How would you feel about an in-doc whitelist that says something like

`<meta name="amp-link-variables" content="www.mysite.com:RANDOM,CLIENT_ID(abc)">`

You could freely whitelist them, but would have to do so.

Benefits of this:

- Possibly sensitive data doesn't get send to potential external

[2016-09-26 19:38] jridgewell commented on #4078
I was gonna suggest something like this as well.

[2016-09-26 19:39] ericlindley-g opened #5236 "<amp-live-list> deep-linking"
Tracking bug for the request to deep link to specific <amp-live-list> entries.

Currently, developers have a few different ways to implement this (including a site.com/liveblog?e=entryID mechanic for the link). This bug is to track a) ways to make the use-case easier (maybe trivially easy) to implement in AMP, and b) better documentation for existing live blog deep-linking methods

cc/ @erwinmomba

[2016-09-26 19:44] avimehta commented on #5232
looking.

[2016-09-26 19:44] jridgewell commented on #5227
/to @dvoytenko

[2016-09-26 19:48] jridgewell commented on #5216
PR means Pull Request. He's talking about https://github.com/ampproject/amp-publisher-sample/pull/52.

[2016-09-26 19:49] #5218 closed

[2016-09-26 19:51] #5220 closed

[2016-09-26 19:51] #5226 closed

[2016-09-26 19:53] jridgewell commented on #5219
/to @rudygalfi

[2016-09-26 20:00] cekvenich commented on #5216
Thx jridgewell  - so it's the same link/repo.

And what about .js? They are using it. And they are talking about shadow dom - and the only way I know how to do that is .js.
Here is the example I think both link to:
https://github.com/ampproject/amphtml/blob/master/examples/pwa/pwa.html
Notice: it has .js.

So it's not AMP, is it or I'm missing some jump? help plz.

[2016-09-26 20:03] jridgewell commented on #5232
`ta` is 100% defined. How is this happening?

[2016-09-26 20:06] jridgewell commented on #5216
The web app isn't AMP. It _loads_ the AMP docs (through a iframe, shadow dom, etc).

[2016-09-26 20:07] jridgewell commented on #5233
/to @cramforce

[2016-09-26 20:08] avimehta commented on #5232
not sure. I have not been able to reproduce it so far. The version points to current latest version.

[2016-09-26 20:10] jridgewell commented on #5232
@sriramkrish85: How frequently are we getting this error?

[2016-09-26 20:11] erwinmombay commented on #5232
this is again probably the same sorta issue with like the max call stack size errors and this https://github.com/ampproject/amphtml/issues/3801

(still no concrete explanation)

[2016-09-26 20:17] jridgewell commented on #5232
We should create a Nessy label for these. 😈

[2016-09-26 20:24] erwinmombay commented on #5232
🌋 🐲

[2016-09-26 20:30] sriramkrish85 commented on #5232
this particular thing was just one instance.

but the following one was about 6000+ instances
[code]

[2016-09-26 20:34] erwinmombay commented on #4606
we've upgraded to 1.1.1

[2016-09-26 20:34] #4606 closed

[2016-09-26 20:35] erwinmombay opened #5238 "Meeting Notes for 2016-09-20"
@cramforce
- 600 million AMP pages in Google’s index.
- AMP rolled out to all search results today.
- Apparently Reddit launched AMP pages :)
- Made production builds about a minute faster.
- Some small code size wins.
- Optimized Youtube loading and preloading.
- Attended panel at CloudFlare internet summit.
- Speaking at Velocity, NYC tomorrow

@sriramkrish85
- Fixed lots of slidescroll bugs tha

[2016-09-26 20:35] #5145 closed

[2016-09-26 20:42] jridgewell commented on #5232
That's a different error. `ta` is the minified name of the [`createErrorVargs`](https://github.com/ampproject/amphtml/blob/master/src/log.js#L369-L389) helper.

That particular error is a [timeout](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L831-L835) getting the CID from a viewer.

[2016-09-26 20:42] #5232 closed

[2016-09-26 20:50] cekvenich commented on #5216
OK, got it. thx.

[2016-09-26 20:55] ericlindley-g commented on #5117
Sounds like we should require an absolute https link for the manifest file to avoid any issues—will include in validation rules

[2016-09-26 21:15] rudygalfi commented on #5219
Passing over to @ericlindley-g

[2016-09-26 21:18] rudygalfi commented on #4790
Closing for lack of sample pages

[2016-09-26 21:18] #4790 closed

[2016-09-26 21:24] gkamasheva opened #5239 "[AMP native app install banner] - The banner didn't appear on the bottom portion of the screen (landscape mode)."
## Short description of your issue:
The banner didn't appear on the bottom portion of the screen, without having to scroll all the way down to the bottom of the page (landscape mode).

## How do we reproduce the issue?

1. Open Safari Browser.
2. Navigate to https://amp-mk-3.herokuapp.com/examples/viewer.html
3. Rotate the device to landscape mode.
4. Click on "Two" at the top of the page
4. Scrol

[2016-09-26 21:31] dynes commented on #4844
#5240

Pull request linked.

[2016-09-26 21:47] jridgewell commented on #5239
/to @mkhatib

[2016-09-26 22:04] estelle opened #5245 "invalid CSS required to pass validation - -ms-animation"
## How do we reproduce the issue?

The validator needs to be updated to not require unneeded and invalid CSS.

My attempt to update the amp-by-example files to reduce the bytes sent to the user was unsuccessful at

amp-by-example/src/30_Advanced/Image_Galleries_with_amp-carousel.html

-ms-animation has never been supported or necessary. -moz-animation and -o-animation aren't needed (though at one

[2016-09-26 22:07] rudygalfi commented on #4844
The documentation for `backgrounded` says: "A binary variable with possible values of 1 and 0 to indicate that the page/tab was sent to background at any point before the hit was sent. 1 indicates that the page was backgrounded while 0 indicates that the page has always been in the foreground."

Does a backgrounding ever in the page lifecycle make this return 1 for the rest of the page lifecycle,

[2016-09-26 22:18] ansalgado-gcorp commented on #5141
On Safari only.  Only a small portion of the banner shows at the bottom of the screen.  Task bar in the bottom does not allow user to tap on banner resource.

[2016-09-26 22:19] ansalgado-gcorp commented on #5141
Device: iPhone 5
OS: iOS 9.2

[2016-09-26 22:28] erwinmombay opened #5246 "change lgtm/approval/needs review process"
With the native github review system in place, one of the proposals we have is to get rid of the NEEDS REVIEW and LGTM labels moving forward and add a WIP label. This means everything by default "Needs a Review" unless "WIP" is added and of course LGTM is handled by the native github approval.

cc @ampproject/a4a @ampproject/amp-html-master-mergers @bpaduch @ampproject/docs @rudygalfi @ericlindley

[2016-09-26 22:29] sriramkrish85 commented on #5246
+1  (yay no fiddling with labels :))

[2016-09-26 22:31] cramforce commented on #5246
Is it possible to filter PRs by approval status? Or even other stuff such as pending comments? By URL param?

[2016-09-26 22:44] rlee2015 opened #5247 "Web Content Accessibility Guidelines (WCAG) 2.0 Level A/AA Compliant"
Is there any plan to meet Web Content Accessibility Guidelines (WCAG) 2.0 Level A/AA?

[2016-09-26 22:46] sriramkrish85 commented on #5246
@cramforce isn't PR state always binary (merged/not merged), do we really need approval status?

[2016-09-26 22:48] ericlindley-g commented on #5225
I agree that this seems like a valid request—is there any risk of abuse here? Can we define the validation narrowly enough that it would strictly allow only forward and back navigation?

Also, I'm assuming that in the viewer context this just behaves exactly as the back button would, dismissing the viewer. (?)

[2016-09-26 22:49] mkhatib commented on #5213
Ok so it seems the way this is mostly implemented is by listening to click `events` on different submit elements and recording that before the `submit` event go through.

This works well for clicking/tapping a specific `submit` button. Problem we need to think about is when the form is submitted by hitting the return. It seems browsers have inconsistencies of how they treat this.

The way I think

[2016-09-26 22:50] cramforce commented on #5233
Not using an iframe will only be possible if https://developers.google.com/interactive-media-ads/docs/sdks/html5/ is open source with a compatible license and can be fully included in AMP. That is likely not such a great idea.

The next option is to host your own iframe, or use an 3p-frame based implementation. `amp-twitter` and `amp-facebook` use that mechanism.

@aghassemi Can guide you through

[2016-09-26 22:58] cramforce commented on #5246
Definitely not always binary. I keep forgetting to merge my LGed PRs :)

[2016-09-26 23:17] mkhatib commented on #5213
Looks like Chrome is [following the standards](https://html.spec.whatwg.org/multipage/forms.html#implicit-submission).

[2016-09-26 23:33] estelle commented on #5245
Note that some of the code above disappeared as I didn't escape the "&lt;"

[2016-09-26 23:45] jpettitt commented on #4078
I think i prefer the whitelist in approach becasue of the possible breaking change issue. I'd prefer it in JSON.  Could we also include a "post" flag have the link post the variables in question.

How about
[code]

Where site name is a FQDN or one of CANONICAL, SOURCE, AMPDOM, CDN

[2016-09-27 00:04] Gregable commented on #5245
Updated to add some escaping. @dvoytenko for the boilerplate.

[2016-09-27 00:07] mkhatib commented on #5239
I am unable to repro this exactly. But I can see the viewer example have problems rendering correctly on older iOS - fixing this soon.

[2016-09-27 00:21] mkhatib commented on #5239
Actually nevermind, I am able to reproduce. Looking into it.

![image](https://cloud.githubusercontent.com/assets/2647/18856195/b16e4346-840d-11e6-9324-5b937e4aa173.png)