[2017-03-22 15:55] dknecht commented on #8190
@oliy  will discuss AMP Ads One Hop Fast Fetch for Custom Creative and 3p Ad Networks

[2017-03-22 15:57] choumx opened #8312 "ReferenceError: CustomEvent is not defined"
`CustomEvent` only has [partial support on IE](http://caniuse.com/#feat=customevent) and has generated several hundred errors on prod so far. We should:

- Add a helper method that uses `document.createElement('CustomEvent')` when `CustomEvent` constructor is not available.
- Add a presubmit check for direct usage of `CustomEvent()`.

[2017-03-22 16:27] lannka opened #8313 "Install context APIs to delayed rendering iframes"
Just like all 3p iframes, A4A delayed rendering iframes also needs context API to be installed on host.
This is part of #6829. Separated out because it's a blocker for inabox to work on AMP page.

@bradfrizzell let me know if you are still on it.

[2017-03-22 16:32] #6196 closed

[2017-03-22 16:42] jpettitt commented on #8284
@jalajc not just *.ampproject.org  *.amp.cloudflare.com and soon *.relayamp.com (+more as cloudflare adds other customer cdn's)

[2017-03-22 16:52] choumx commented on #8311
/to @lannka

[2017-03-22 17:05] #8149 closed

[2017-03-22 17:15] rowangray opened #8314 "amp-live-list: feature request: support ajax pagination"
Currently amp-live-list uses a simple href pagination system which requires a page refresh to switch pages.

We're trying to use the live-list component to display an updating comment feed, so would rather not have the entire page refresh to get additional comments or paginate the comments

Allowing the update poll to include a query string or having a separate pagination function that accepts one

[2017-03-22 17:27] erwinmombay commented on #8314
cc @ericlindley-g I think this is a really interesting request that might be doable. Only concern is the unknown size of the amp-live-list at that point.

cc @dvoytenko for input on sizing and layout concerns.

[2017-03-22 18:07] cramforce commented on #8311
We've discussed before to move CID generation into its own extension, which should remove all these dependencies.

@erwinmombay filed a bug against ublock I think. Could you paste it here?

[2017-03-22 18:09] cramforce commented on #8311
@sebastianbenz AMP analytics was removed from easylist before https://github.com/easylist/easylist/commit/17e0447fb7c6df377a1081f730c5039c5396d0af so this seems to be a regression.

[2017-03-22 18:14] #7651 closed

[2017-03-22 18:16] dvoytenko opened #8315 "Analytics: implement "hidden" visibility reporting for V3"
Spun off from #7651.

The recommended new form is:

[code]

/cc @lannka @jasti

[2017-03-22 18:16] dvoytenko commented on #7651
See #8315 for followup.

[2017-03-22 18:29] #6219 closed

[2017-03-22 18:33] jasti commented on #4038
Reopening because of request from the publisher working group.

[2017-03-22 18:39] alanorozco opened #8316 "Split `event-helper`"
`event-helper` contains functions that are dependent on the timer service.

It would be useful to split `event-helper` in two different modules, since `listen`, `listenOnce`, `failedToLoad` and `isLoadErrorMessage` are part of a low-dependency subset that can be used by standalone binaries that don't bootstrap the service mechanism (i.e. `integration.js` and `ampcontext-lib.js`).

[2017-03-22 18:49] jmheist commented on #4038
How do I become apart of this working group? I asked for this for Meredith
and got nothing.

On Wed, Mar 22, 2017 at 1:33 PM Vamsee Jasti <notifications@github.com>
wrote:

[2017-03-22 18:57] #7830 closed

[2017-03-22 19:06] jridgewell opened #8318 "Cache SW: Headers are immutable error"
We're getting an error in the Cache SW's canary:

[code]

This is due to us updating the `Date` header on every response we receive (to avoid version skew).
This blocks the SW experiment launch.

[2017-03-22 19:06] dvoytenko commented on #8188
I agree with flag-only PRs. The only thing - we need to absolutely guarantee the JSON correctness. I.e. as a test, we need to run `JSON.parse()` on contents.

[2017-03-22 19:08] dvoytenko commented on #8214
Yeah, hard to imagine we can pick up all rules for validation of SVG w/o the actual validator.

[2017-03-22 19:09] jridgewell opened #8319 "Cache SW: Bad purge behavior"
The current purge behavior has a bug if a diversion is downloaded directly (meaning the diversion is requested by the page before it is cached, and is not part of the production download's diversion background task).

When this happens, the diversion download will actually purge the production script (diversion `v0.js` purges production `v0.js`). Obviously, not good.

This blocks SW experiment lau

[2017-03-22 19:27] jalajc commented on #8284
@jpettitt certainly as listed in AMP CORS spec too. It was for sake of example here. Thanks for pointing out though, Updated my comment to avoid any confusion.

[2017-03-22 19:47] mrjoro commented on #8190
Based on the name/content, I'm assuming this is the design doc for the AMP Ads One Hop Fast Fetch. :)

https://github.com/ampproject/design-docs/blob/master/AMP%20Ads%20One%20Hop%20Fast%20Fetch.pdf

[2017-03-22 19:53] dvoytenko commented on #8240
@lannka Toolbar could be realistic, but, IMO, the right approach there would be to put the ad at the bottom and raise the footer/toolbar to offset for the bottom-pined ad.

So, I'd say, let's move with `margin-bottom: 0 !important`

[2017-03-22 19:57] dvoytenko commented on #7780
Yes. We are moving forward with this.

[2017-03-22 20:20] ericlindley-g opened #8322 "Apply fetch and cache optimizations from #7463 to relevant amp-bind cases"
#7463 details optimizations that reduce the number of calls that need to be made for batches of data that can be used in various parts of the page. @cramforce mentioned that these optimizations might also be applied to amp-bind XHRs

/to me
/cc @choumx  @cvializ

[2017-03-22 20:21] ericlindley-g opened #8323 "Apply fetch and cache optimizations from #7463 to relevant amp-analytics cases"
#7463 details optimizations that reduce the number of calls that need to be made for batches of data that can be used in various parts of the page. @cramforce mentioned that these optimizations might also be applied to amp-analytics configs

/to @rudygalfi
/cc @avimehta @cvializ

[2017-03-22 20:58] CemDemirkartal commented on #6666
-moz, -ms, and -o support should be dropped. And -webkit needs little bit more time.

Or make a valid (when used) to pick by developers.

[2017-03-22 21:05] #7653 closed

[2017-03-22 21:05] #7904 closed

[2017-03-22 21:10] CemDemirkartal commented on #8247
@aghassemi Do you believe amp`s structure is valid in HTML standarts?

By the way, it`s not Pattarn , it`s Pattern.

[2017-03-22 21:32] src-code commented on #6054
We played around with something similar, minus the accordion, on one of our projects that needed infinite scroll, but had concerns about the increasing DOM depth as the nesting grows.  Would be great if there was a way to avoid that problem via new `amp-list` syntax.

[2017-03-22 21:38] #8318 closed

[2017-03-22 21:49] zhouyx commented on #8219
@tlong2 I played with the JS bin a little bit. setting `overflow: visible` doesn't seem to work.
http://jsbin.com/mewozoqegu/edit?html,css,output
Am I setting anything wrong?

[2017-03-22 22:31] #8056 closed

[2017-03-22 22:36] dvoytenko commented on #8097
@coreybyrnes

g-hangouts and/or Slack would work great. Ping me on slack.

I think I misunderstood what "window" means in this case. Could you describe this a bit more?

FC container always gets `100vw` by default. Defined [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-fx-flying-carpet/0.1/amp-fx-flying-carpet.css#L47). Thus `layout=fill` child will likewise get `100vw`.

[2017-03-22 22:38] #8319 closed

[2017-03-22 22:39] #8207 closed

[2017-03-22 22:40] tlong2 commented on #8219
display: block; is also necessary.

[2017-03-22 22:58] erwinmombay commented on #8188
### steps to fix

build-system/pr-check.js - this file executes commands depending on the file types contained in the Pull Request.

- [ ] Add new target type in the `determineBuildTargets` function. Let's call it `FLAG_CONFIG`.
- [ ] Add a new predicate function called `isFlagConfig` in `pr-check.js` where it checks if the basename (you can use the `basename` method on the nodejs `path` module) o

[2017-03-22 22:59] erwinmombay commented on #8188
@rsimha-amp let me know if anything is unclear in the instructions I provided above.

[2017-03-22 23:01] src-code opened #8330 "Validator rejects hrefs with more than 2 slashes after protocol"
Currently a page will fail to validate if it contains an anchor tag with an href that includes more than 2 slashes between the protocol and host portions.  For example, this document:

https://www.yahoo.com/amphtml/news/kim-kardashian-live-blogs-her-152648523.html

Is invalid because it contains a link to:

http:///mashable.com/category/kim-kardashian/?utm_campaign=&utm_context=textlink&utm_source

[2017-03-22 23:08] ericlindley-g opened #8331 "Implement origin testing for experiments"

[2017-03-22 23:17] tlong2 opened #8333 "Disallowing changing margins to negative values"
attemptChangeSize allows new margins to be specified: https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L765.

We should disallow margins being changed to negative values as this can cause element overlap and may also disrupt the logic that tries to ensure there is no reflow on the screen.

[2017-03-22 23:31] alanorozco opened #8334 "Intent to implement: amp-ad-banner"
/cc @lannka

## Background

We want to support lightboxes in AMP ads (#7015). The lightbox element must be sandboxed as part of the ad frame, but should visually cover the entire viewport when opened. In order to do this, the iframe containing the ad must be set to `position: absolute` and cover the entire viewport before the lightbox is opened. If we resize the frame as-is, the following problems

[2017-03-22 23:45] aghassemi commented on #8247
@CemDemirkartal Do you mean if AMP decides to support `pattern` on `textarea` while HTML standard doesn't, is that still valid? The answer is I don't know and it barely matters (technically all AngularJS apps would be invalid in that case since they all have attributes that are not part of HTML standard). If we want to be strict about validity, worse-case we would name it `data-pattern` instead of

[2017-03-22 23:57] jasti commented on #4038
Please join here: https://groups.google.com/forum/#!forum/amp-news-publishers-wg
We had a session this morning and slides from the session are posted to the group.

[2017-03-23 02:27] #7931 closed

[2017-03-23 02:43] choumx opened #8338 "amp-bind: Validation improvements"
- [ ] Improve scheme for determining validity (tag/attribute is technically insufficient), ideally by sharing code with JS validator.
- [ ] Prevent drift between bindable tags & attributes in `bind-validator.js` and corresponding `.protoascii` validator files.
- [ ] Migrate binding attributes in `.protoascii` files to their own validator field, e.g. `AttrSpec::IsBindable`, to allow error messages

[2017-03-23 03:20] jasti commented on #7937
@rjvelicaria Sorry about the delay.
Can you please explain what you specifically mean by custom variables? What purpose do they serve? Would this only impact the open x ad extension?

[2017-03-23 03:31] rjvelicaria commented on #7937
@jasti This only impacts the OpenX ad extension.
I might've phrased the title wrong, but the intention is to have the OpenX ad extension support more features that the exchange provides via a normal tag.
Some publishers will want to have their own "settings"/ "configurations" passed in to the exchange and this provides them a way to do it within AMP.

[2017-03-23 03:37] jasti commented on #7937
Great, look forward to the PR.

[2017-03-23 04:01] lannka commented on #8334
Instead of introducing a new element, I tried to leverage the `body` element:
http://output.jsbin.com/kagidel

[2017-03-23 04:23] jasti commented on #8334
Just a note that this should also be tested when delivered from the  DFP server. Sometimes, I've seen that the ad gets served into multiple cross domain iframes. Not sure if it matters.

[2017-03-23 05:18] erwinmombay opened #8340 "Integrate Percy to travis"

[2017-03-23 06:39] CemDemirkartal commented on #8247
I mean you can't decide while AMP is on invalid case by HTML standarts. Nobody can claim something is valid or not valid in HTML standarts while AMP is not. All simple and all connected to each other.

[2017-03-23 07:36] eduardcotmrf commented on #8149
Thanks for the fix @dvoytenko  and the quick response!

[2017-03-23 11:55] dpetrieldn commented on #8088
Would additional configuration options be in scope or relevant for this, such as initial docked/minimised position (top/bottom, /left/right etc) or keeping the player in view but paused if another video is played until the user dismisses?

[2017-03-23 14:18] kmh287 opened #8341 "amp-bind: Don't depend on template element's presence inside dynamic elements"
For instance, amp-list allows developers to specify the id of a template rather than including it as a descendant of the amp-list element. Under the current strategy, if a developer puts a template as a child of the body tag, bind will observe the body tag for mutations to its children.

We should change bind to not depend on a template's position to determine which elements to observe for mutatio

[2017-03-23 15:35] choumx commented on #8341
If templates can be declared anywhere, we shouldn't rely on their location (perhaps forms will support template-by-id at some point). So (2) is the right strategy, though as mentioned previously it's best if delegated to the dynamic component itself.

[2017-03-23 15:38] kmh287 commented on #8341
Could we accomplish that with an override-able method on base element?

[2017-03-23 15:40] choumx commented on #8341
And `custom-element.js` to forward it to the implementation object. You can see `mutatedAttributesCallback` as an example.

[2017-03-23 15:54] xgretsch commented on #6854
Latest on this one: I discovered today that my ads had stopped working (from domain https://bachtrack.com) because the Amp cache origin to https://bachtrack-com.cdn.ampproject.org when the ad is found directly from a Google search (it was fine when linked to from a URL beginning in cdn.ampproject.org. This is new behaviour - I have no idea how long ago it was changed.

It reinforces the need for s

[2017-03-23 16:18] cramforce commented on #6854
@xgretsch I'm sorry you missed this. It was widely announced (e.g. here https://amphtml.wordpress.com/2016/12/05/amp-cache-updates/) and we did very significant acceptance testing by rendering AMP pages and looking for CORS errors.

[2017-03-23 17:06] coreybyrnes commented on #8097
@dvoytenko

I submitted a request to join the AMP Slack channel just now. Once I am accepted I will be able to reach out to you there.

The "window" is the container where you can see through to the image that is fixed in the background. Here's an example to more clearly demonstrate: https://jsfiddle.net/354xovo1/23/ Currently the "window" is 100vh because of `layout=fill` but we'd want to control

[2017-03-23 17:18] alanorozco commented on #8334
@lannka

That example doesn't seem to work? The banner expands to the full-size of the frame which is exactly what we don't want.

@jasti

I think I didn't explain myself properly in the description. The banner does not specify the lightbox content. The markup would look like:

[code]

Would the friends not be "friendly frames" if it's A4A? @lannka ?

[2017-03-23 17:24] aghassemi commented on #8247
@CemDemirkartal Agreed. The `P3 - When Possible` label simply refers to our prioritization ranking and is not about "when possible in HTML".

[2017-03-23 17:37] aghassemi commented on #8088
@dpetrieldn For the docking location, it is certainly possible to expose an option. Initially we are thinking not to expose that in the hopes of providing a unified UX across all AMP pages (always top-right) and allow the user to move it instead of publisher deciding where it docks.

Definitely open for discussion though. Is there a specific use-cases for you that must require docking somewhere ot

[2017-03-23 17:54] ericlindley-g opened #8343 "Ads loader design fixes"
Might already be tracked elsewhere

/cc @jasti

[2017-03-23 18:24] jasti commented on #8343
yes https://github.com/ampproject/amphtml/issues/8238
:)

[2017-03-23 18:24] #8343 closed

[2017-03-23 19:08] dvoytenko opened #8346 "Analytics: implement waitFor field for visibility"
[code]

[2017-03-23 19:22] ericlindley-g commented on #8238
@jasti @spacedino Should we move this earlier, to the coming fixit week?

[2017-03-23 19:47] choumx commented on #8330
/to @Gregable

[2017-03-23 19:52] choumx commented on #8333
A follow-up to #8250.

/to @tlong2 /cc @zhouyx

[2017-03-23 20:05] dvoytenko commented on #8149
@eduardcotmrf Thanks a lot for reporting. Should be in Canary today.

[2017-03-23 21:04] sebastianbenz opened #8351 "amp-iframe: resize no longer working"
## How do we reproduce the issue?

1. Go to https://vine-diamond.glitch.me
2. Click on 'Preview'
3. The iframe is supposed to resize, but doesn't.

## What browsers are affected?

All browsers

## Which AMP version is affected?

This used to work, I've noticed that it stopped working with  AMP ⚡ HTML – Version 1489777197505

[2017-03-23 21:04] muxin commented on #8016
I had a PR https://github.com/ampproject/amphtml/pull/7792 several weeks ago to disable scroll of main page when opening up sidebar. Maybe that fixed the issue?

[2017-03-23 21:18] muxin opened #8352 "Slidescroll doesn't update next slide when overscrolling in ios with custom snap"
After https://github.com/ampproject/amphtml/issues/7670, we go with the solution to disable css snap point and use custom snap for slidescroll in ios beta. But the problem with custom snap in ios is the overscroll. When overscrolling, we currently don't update the slides state to load the next one, but only update slides when scroll ends.

/cc @camelburrito

[2017-03-23 22:12] dvoytenko opened #8355 "Flying carpet: change positioning constraints."
On a multi-size factors, the current 100% constraints are too onerous. They will be changed as following:
1. Top position has to be under 75% of the viewport height
2. Bottom position has to allow midline to be aligned via the viewport's midline at the bottom of the document.

[2017-03-23 22:53] camelburrito commented on #8352
This should not be a p2 (its definitely p1). prefer tracking this in #7670

[2017-03-23 22:53] #8352 closed

[2017-03-23 23:31] lannka commented on #7730
Unfortunately, custom attributes in `meta` tag is considered invalid HTML according to [W3 validator](https://validator.w3.org/#validate_by_input). Though we don't necessary follow the standard, it's not a bad if we can.

@Gregable suggested to use the standard comma separated key-value pairs, which is already supported by the validator.
[code]

I think it's a good idea, and I will just go with th

[2017-03-23 23:37] honeybadgerdontcare commented on #7730
@lannka SGTM, and yes validator supports that format already: https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L443

[2017-03-23 23:43] #7746 closed

[2017-03-23 23:59] jpettitt commented on #8351
It's working for me on our prod pages.  Example http://amp.toofab.com/2017/03/10/pharrell-williams-makes-history-as-first-male-ever-to-appear-in-a-chanel-handbag-campaign-photos/ (the intagram embed is an iframe, pending the new `amp-instagram` version going live)

[2017-03-24 00:06] muxin opened #8358 "LayoutCallback sometimes not called in amp-app-banner"
The [layoutCallback](https://github.com/ampproject/amphtml/blob/master/extensions/amp-app-banner/0.1/amp-app-banner.js#L392) in `AmpAndroidAppBanner` is sometimes not called but `buildCallback` is called. It might has something to do with the bug @jridgewell mentioned about upgraded element?

I opened up https://amphtml-nightly.herokuapp.com/examples/article.amp.max.html#webview=1 and put a break

[2017-03-24 00:17] jridgewell opened #8359 "Move srcsetFromElement out of #buildCallback"
`srcsetFromElement` can be pretty intensive when there are multiple images. And it's not needed until we layout anyways. So, move all calls from `#buildCallback` into `#layoutCallback`.

[2017-03-24 00:37] lannka commented on #7983
Sounds reasonable to provide an override.
@avimehta can you confirm its default value in GA? Was it intentional to make it `true` in AMP?

[2017-03-24 01:57] #8359 closed

[2017-03-24 04:00] aghassemi commented on #8358
/cc @ericlindley-g I think we should work on this soon to make sure `amp-app-banner` is complete and good to go again.

[2017-03-24 10:57] sebastianbenz commented on #8351
@jpettitt thanks - that was driving me crazy.

Found out what my problem was:

* My sample stopped working because gomix.me started redirecting to glitch.me.
* In my other tests I didn't set `allow-same-origin` which is required.  Filed  #8365 as a result.

Also created a [proper sample](https://amp-by-example-staging.appspot.com/components/amp-iframe/#resizeable-iframes) to avoid this happening a

[2017-03-24 10:57] #8351 closed

[2017-03-24 12:01] ericlindley-g commented on #8358
Agreed — I feel like this borders on a P0, since it's broken in production, but may be just slightly lower because of a lack of examples where it's actually being used (I suspect folks have tried it out and noticed the bug, which is also bad)

[2017-03-24 13:17] ericlindley-g opened #8366 "FR: Tooltip"
At least a sample on AMP by Example: https://github.com/ampproject/amp-by-example/issues/580
and AMP Start: https://github.com/ampproject/ampstart/issues/363

This bug is primarily to consider native support  /cc @aghassemi

[2017-03-24 15:16] ericlindley-g opened #8368 "Support UI for sorting & filtering items on a page (client-side)"
Initial proposal to use tables:
Broadly support filterable tables that internally can be filtered
Expose a method to communicate with the table to trigger filtering (which can be used by bare components or in conjunction with Bind) — (also should expose a method for sorting in similar fashion)

* <filter> Is used to filter by regex
* Should accept simple boolean (“-” for exclude, quotes for exact

[2017-03-24 15:35] #8312 closed

[2017-03-24 15:37] #8114 closed

[2017-03-24 15:46] #5761 closed

[2017-03-24 16:02] ericlindley-g opened #8369 "forms: async form/input validation"
Note: should address zip code use case

[2017-03-24 16:04] aghassemi commented on #8264
@neko-fire I figured out the issue with postMessaging _**into**_ the iframe however I am not seeing any messages being posted back **_from_** the iframe. (e.g. when it is supposed to send messages for events such as user tapping play or pause, etc...)

So using http://lab.nexx.cloud/postMessage.php:
`window.addEventListener('message', function(data) { console.log(data); } );`
does not log anything

[2017-03-24 16:07] #7730 closed

[2017-03-24 16:10] lannka opened #8370 "Do we want to document the allowed meta tags?"
We documented the [allowed `meta` tags for A4A](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md#42-document-metadata) but not normal AMP.

Also, should we only list the differences comparing to normal AMP in `amp-a4a-format.md`? That might be easier for maintenance?

[2017-03-24 16:15] choumx commented on #8322
@ericlindley-g Is that the right issue number?

[2017-03-24 16:19] ericlindley-g commented on #8322
Good catch—just updated

[2017-03-24 16:29] choumx commented on #8137
This actually isn't an issue since we use closures for iteration. We should catch the error and wrap it in a user error and make the message more useful though.

[2017-03-24 16:29] honeybadgerdontcare commented on #8370
@Gregable

I don't believe we document the non-amp-component tags outside of the required tags. Do we want to start doing that for AMP? If yes, probably an issue on it's own.

It does look like we're trying to do that for AMP4ADS by saying "only" with these meta tags when there are other meta tags that are allowed for AMP4ADS by the validator. Either it's an unintentional oversight of the document

[2017-03-24 16:35] jpettitt opened #8371 "Validation rules for CSS position: sticky elements?"
What are the validation rules going to be for `position: sticky`, given that his could be used to pin an `<amp-ad>` ?

https://developer.mozilla.org/en-US/docs/Web/CSS/position

[2017-03-24 16:39] jpettitt commented on #8370
I'd love to see meta rules documented project wide.  We got bitten by the ban on `name=amp-*` on regular pages this week.  Any rule that can block a page from rendering should be documented.

[2017-03-24 17:00] cramforce opened #8372 "Support referrer-policy for amp-pixel and amp-analytics"
We should be able to support this for image requests, and possibly other transports.

Modern browsers support `referrerPolicy` directly, but we need to implement a fallback based on iframes with anonymous origins as a fallback. That means we can likely only support the value `none`.

[2017-03-24 17:12] cramforce commented on #7907
@erwinmombay This is the issue we discussed yesterday.

[2017-03-24 17:24] erwinmombay commented on #7907
@cramforce thanks

[2017-03-24 17:27] #8097 closed

[2017-03-24 17:37] jridgewell commented on #8137
How does a closure help?

[2017-03-24 17:44] dknecht opened #8375 "Migrate amp ad hardcoded validation rules to rules file"
One example is the CSS rules for amp ads:  https://github.com/ampproject/amphtml/blob/master/validator/engine/amp4ads-parse-css.js#L193

[code]

[2017-03-24 17:46] aghassemi commented on #8098
Closing as dup of https://github.com/ampproject/amphtml/issues/5619

[2017-03-24 17:46] #8098 closed

[2017-03-24 17:47] aghassemi commented on #5619
Copying some comments from #8098:

"Currently `<div submit-success>` and `<div submit-error>` are required to have a template tag as thet child. This should become optional. There are cases where a static success or message is enough and there is no need to load amp-mustache for those cases."

[2017-03-24 17:52] zackargyle opened #8376 "[Feature Request] Allow shorter SW Iframe delay"
## Feature Request
Currently the iframe for a service worker install is loaded after a 20 second delay. This is pretty worthless, to be quite frank. The reason I want to use the iframe rather than the static `src` property is cookies. I want to be able to run experiments with the service worker I install via the AMP page to see what works best for precaching. With a 20 second delay, I'm not gonna

[2017-03-24 17:57] coreybyrnes commented on #8097
here's the final code that acheived the vertical and horizontal centering of an image that is larger than the flying carpet "window"

`<amp-fx-flying-carpet style="width:100vw; height:50vh;">
	<amp-ad width="1600" height="1000"
		layout="fill"
		type="doubleclick"
		data-slot="/7336/corey/amp-flying-carpet"
		json='{"useSameDomainRenderingUntilDeprecated":1}'

</amp-fx-flying-carpet>`

[2017-03-24 18:11] kmh287 opened #8378 "amp-bind: Support shortened ternary syntax"
Right now amp-bind supports the ternary operator

`A ? B : C`

which returns B if A is truthy and C otherwise. I would like to expand this to support the following:

`A ?: B`

which returns A if A is truthy and B otherwise.

This is particularly useful for expressions that have fallbacks when a variable isn't defined in a page's amp-state. (undefined variables are always null) So:

`<p>You have se

[2017-03-24 18:15] choumx commented on #8378
Actually Dima brought this up too (sometimes called the [Elvis operator](https://en.wikipedia.org/wiki/Elvis_operator)).

`||` works the same way and seems more commonly used, though couldn't hurt I suppose.

[2017-03-24 18:27] aghassemi commented on #3836
Fixed by: https://github.com/ampproject/amphtml/issues/6487

[2017-03-24 18:27] #3836 closed

[2017-03-24 18:38] ericlindley-g opened #8380 "FR: Viewer protocol to communicate capabilities to AMP runtime"
Idea from @aghassemi: Would just be a list of API messages that have been implemented, so AMP runtime can act accordingly (for instance, hide a feature if it doesn't work in the context of a particular viewer)

/cc @chenshay   WDYT?

[2017-03-24 18:38] jasti commented on #8006
Ping @jpettitt

[2017-03-24 18:40] jasti commented on #7431
Ping @bjalford

[2017-03-24 18:40] jasti commented on #6240
ping @ampproject/a4a

[2017-03-24 18:43] jasti commented on #6719
Please reopen if this is still an issue.

[2017-03-24 18:43] #6719 closed

[2017-03-24 18:45] choumx commented on #8137
I misspoke, it's not an issue because the method invocation is the last action in the vsync task (via `mutateElement`) which is the bottom frame in the stack.

[2017-03-24 18:45] #7038 closed

[2017-03-24 18:53] jasti commented on #3272
Closing since we are moving away from using remote.html

[2017-03-24 18:53] #3272 closed

[2017-03-24 18:54] jasti commented on #8235
ping @tdrl

[2017-03-24 18:54] jasti commented on #8225
Please reopen if this is still an issue.

[2017-03-24 18:54] #8225 closed

[2017-03-24 18:55] jasti commented on #7366
@tlong2 do you have an update on this?

[2017-03-24 18:56] jasti commented on #6900
@ampproject/a4a does this still need to be open?

[2017-03-24 18:56] jasti commented on #6718
No activity for a while. Please reopen if this is still an issue.

[2017-03-24 18:56] #6718 closed

[2017-03-24 18:59] jasti commented on #8238
Sounds good! Moved.

[2017-03-24 19:03] dvoytenko opened #8382 "amp-pixel: should be ignored with empty src and resolved against source origin"

[2017-03-24 19:03] michaelkleber commented on #6240
We're content with a 10-digit / 32-bit random number, which we're getting now from a combination of the pageViewIdNumeric and some of the entropy from the clientId.

We could indeed just use our own random number, but we wrote the code originally thinking we ought to use the runtime-provided notion of a pageview when possible.  Is there any problem with the current code?

[2017-03-24 19:04] dvoytenko commented on #7815
Regression has been fixed by ignoring non-prerenderable content.

[2017-03-24 19:04] #7815 closed

[2017-03-24 19:05] rudygalfi commented on #8382
Any context on this?

[2017-03-24 19:05] dvoytenko commented on #8382
The a4a team reported that they use `src=""` pixels from template and expect them not to fire.

[2017-03-24 19:12] choumx opened #8385 "Flaky test in test-video-players-helper.js"
`amp-youtube Autoplay Animated Icon should create an animated icon overlay` often times out.

[2017-03-24 19:12] choumx opened #8386 "Flaky test in test-amp-ad-xorigin-iframe-handler.js"
`amp-ad-xorigin-iframe-handler init() returned promise should trigger render-start on message "bootstrap-loaded" if render-start is NOT implemented` often times out.

/cc @zhouyx

[2017-03-24 19:14] choumx opened #8387 "Flaky test in test-log.js"
`Logging asserts should fail` often flakes, e.g. https://travis-ci.org/ampproject/amphtml/builds/214735215

[2017-03-24 19:15] zhouyx commented on #8386
#8363

[2017-03-24 19:24] #8240 closed

[2017-03-24 19:26] jasti commented on #7952
@alanorozco can you please review your design with @dvoytenko for this? Thanks.

[2017-03-24 19:27] jasti commented on #6464
Fixed in another PR

[2017-03-24 19:27] #6464 closed

[2017-03-24 19:37] jridgewell commented on #8358
I'm not able to reproduce, it always calls `AmpAndroidAppBanner#layoutCallback` for me.

[2017-03-24 20:16] choumx commented on #8378
Looks like `?:` isn't natively supported in JS. Do you think it's worth breaking consistency here?

[2017-03-24 20:17] alanorozco commented on #7952
@jasti There isn't a design for this yet, I will update this issue once that's ready

[2017-03-24 20:21] kmh287 commented on #8378
Since `||` provides the same functionality, I could go either way.

[2017-03-24 20:24] choumx opened #8390 "amp-bind: Only have one AMP.setState() syntax"
Currently two syntaxes are supported:
1. `AMP.setState(foo='bar')`
2. `AMP.setState({foo: 'bar'})`

(1) uses the standard action key-value system while (2) delegates the parsing of the object literal to `amp-bind`. IMO we should remove (1) since it's less powerful and not consistent with Bind expression syntax. Only having one syntax would make the API cleaner and less confusing.

We'd first need

[2017-03-24 20:27] ericlindley-g commented on #8390
Might also be good to call out the change in the documentation for anyone who's been experimenting in the wild (then remove before launch)

[2017-03-24 20:32] #8378 closed

[2017-03-24 21:41] zhouyx commented on #8210
I tested the page on IE.

This is not exactly the case. As I found the top loading indicator actually disappears and the ad iframe has been free up.

However I did find that what we display is the placeholder not the fallback in this case. Which means it could be either `#layoutCallback` fail for the <amp-ad> element, or the <amp-ad> has been unlaid out.

[2017-03-24 21:55] choumx opened #8392 "amp-bind: Make docs better(er)"
- We should get `amp-bind.md` good enough such that cross-referencing ampbyexample.com isn't necessary for new users.
- Restore bindable properties/attributes matrix in light of #8272.

/cc @ericlindley-g @kmh287

[2017-03-24 21:57] choumx opened #8393 "amp-bind: Launch 'web-worker' exp to canary"
After making sure it works on CDN.

[2017-03-24 22:07] choumx opened #8394 "amp-bind: Make it easier to modify non-primitives"
`AMP.setState` performs shallow merge via `Object.assign` which makes it difficult to modify Arrays and Object literals. Avoiding APIs that mutate existing objects was a security suggestion by @molnarg.

E.g. `/examples/bind/turing.amp.html` uses a horrific combo of `slice` and `concat`  to change the tape array:
[code]
- The API for `Array.splice` could work if it returned a new array -- perhaps

[2017-03-24 22:16] choumx opened #8395 "amp-mustache: Auto escaping of quote chars"

[2017-03-24 22:17] zhouyx opened #8396 "Allow more url replacement variable to analytics in scope"
A tracker issue for #6417
https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md
Need to go through the list. Or add them only by request. Privacy review is needed at some point.

[2017-03-24 22:22] muxin commented on #8358
Strangely I cannot reproduce it anymore on https://amphtml-nightly.herokuapp.com/examples/article.amp.max.html#webview=1, but if I test in viewer sandbox using http://www.google.com/amp/embedded?ampdev=1#amp=https://amphtml-nightly.herokuapp.com/examples/article.amp.max.html?amp_js_v=8&ampidx=0, it still doesn't call `layoutCallback`.

[2017-03-24 22:22] choumx opened #8397 "amp-bind: Support intermediary vars in AMP.setState()"
### Benefits

- Reduces document markup due to code duplication.
- Improves performance by caching expression fragments.

### Possible solution

One approach is to allow chained actions. E.g. instead of...
[code]
...do this:
[code]
This doesn't work today because the second action doesn't wait for the first to complete.

Only really painful in more complicated use cases though, e.g. `examples/bind

[2017-03-25 00:25] techhtml commented on #8371
`amp-ad` does not allowed stickiy and fixed position for UX implications of full page overlay ads.
https://www.ampproject.org/docs/reference/components/ads/amp-ad

but you can use `amp-sticky-ad`, if you want `position: stciky` for `amp-ad` then you can use it
https://www.ampproject.org/docs/reference/components/ads/amp-sticky-ad

[2017-03-25 01:52] jpettitt commented on #8371
Are there any other validation rules related to sticky?

[2017-03-25 02:54] cramforce commented on #7846
We should switch to the concept recommended by @dvoytenko. This is just way better.

[2017-03-25 03:07] techhtml commented on #8371
`amp-ad`'s validation code are here:
https://github.com/ampproject/amphtml/blob/master/validator/engine/amp4ads-parse-css.js#L114

other validation rules are seems not, here are css validation rules code:
https://github.com/ampproject/amphtml/blob/master/validator/engine/parse-css.js

[2017-03-25 03:23] jpettitt commented on #8371
That looks like the code for a4a, what about regular `<amp-ad>`?

[2017-03-25 03:43] jpettitt commented on #8371
Yes position sticky does work with amp-ad - that sounds like a validation bug to me.

[2017-03-25 05:17] camelburrito commented on #7670
We have fixed this for ios versions 10.3+ with some minor ux comromises and guarded with an experiment - `slidescroll-disable-css-snap`. If the webkit bug we reported is fixed then we will not have to launch the experiment. Else we will launch the experiment on or before the 10.3 launch date. (we are not rushing to patch the code to prod since the issue is in a beta version of IOS and we are not s

[2017-03-25 08:18] kul3r4 commented on #7368
This is an [example](https://www.buzzfeed.com/crystalro/visual-questions-favorite-food-quiz?utm_term=.jcbRew39K7#.xv9zy5ZrRL) where the reset option is needed: when "retake quiz" is clicked, the form should be cleared and all should start again

[2017-03-25 08:22] renzit opened #8399 "amp-sidebar doesnt work as expected on AMP CDN"
## Description
amp-sidebar doesn't work as expected when content is served from the google cdn on a real mobile device.

## How do we reproduce the issue?
This test was using a Nexus 5 phone, also tested on Samsung phones.
Follow this steps to reproduce this:
1- On your mobile device search in google chrome for amp example and open the link with the thunder that indicates its hosted on AMP CDN.
 (

[2017-03-26 11:12] POLITICALSTOCKS opened #8400 "L"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-03-26 16:13] CemDemirkartal opened #8401 "amp-carousel: IE/Edge + data-image without encoding"
Internet Explorer do not show right and left arrow without base64 encoding on background-image

Tested on Edge 14.

[2017-03-27 03:58] mrjoro opened #8402 "Weekly Status 2017-03-27"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-03-27 07:55] dpetrieldn commented on #8088
@aghassemi
Hopefully the below will help to clarify.

**Multi video pages**
As publishers we sometimes lead with videos, and would ideally only have these videos as the ones that are docked. We do however include additional video in video lead articles to support textual content, but would not want them to dock. So, if the user has the lead video docked, and then interacts with another video on th

[2017-03-27 10:15] NataliaLKB commented on #8399
We have seen this bug as well for all Guardian pages

[2017-03-27 10:32] javierparis opened #8403 "Tracking scrolling using amp-analytics: add a selector"
## Description ##
Currently, the scroll event is based on the page dimensions. It would be very interesting to be able to track a subsection of the page, given a selector.
For instance, imagine an article (or a specific piece of information) in a page. And imagine that the article is what you most care regarding tracking the user scroll.
The article would start and end in a specific height within

[2017-03-27 11:24] veged commented on #4793
wanna bump this thread since we discuss this with @cramforce at AMP Conf — looks like 2-nd variant (Make `ampproject.org` a TLD for all caches, which would fall under the `*.ampproject.org` rule. E.g. we'd have `cdn.ampproject.org` and `other.cdn.ampproject.org`.) is most suitable

but we need to do this and promote CORS information for publishers as soon as possible before count of AJAXed APM pag

[2017-03-27 12:12] xgretsch commented on #6854
@cramforce Thanks for the concern. The reality is that for me, AMP is a "fit-and-forget": there's only one of me and I have literally hundreds of other features that I'm dealing with - therefore I'm not continually monitoring blogs etc. If there was somewhere I could sign up for alerts on AMP backwards compatibility changes, that might help, otherwise, I'm inevitably going to be vulnerable to this

[2017-03-27 12:49] dine1504 commented on #4408
i have found something from the internet. im not yet checked. i hope it may works..

 `<amp-ad type="adsense" data-ad-client="ca-pub-XXXXXXX" enable_page_level_ads: true </amp-ad>`

[2017-03-27 12:58] konakk commented on #4408
Page level ad support like anchor ads using <amp-ad type="adsense"
data-ad-client="ca-pub-XXXXXXX" enable_page_level_ads: true </amp-ad> is
not enabled yet but coming soon.
This tag adds inline ads (Banner ads)  to a page which has possibility to
add more ads inline with ad density policies. I would suggest not adding
this tag yet as there are some known issues with this tag which are being
active

[2017-03-27 13:46] tdrl commented on #6900
@jasti It's still not resolved, I'm afraid.  :-/

[2017-03-27 13:53] tdrl commented on #8370
Re: "only list the differences comparing to normal AMP": When we drafted the A4A spec in the first place, there was some discussion about whether to write it as a diff from the base spec or as a standalone spec that inherits from the main AMP spec.  The decision at that point was to go with the latter because it would be simpler for implementers.  I don't know whether that's actually _true_, now,

[2017-03-27 13:59] tdrl commented on #8370
Regardless, I'm happy to add/clarify docs on allowed `meta` tags, if someone can point me at a source of canonical truth.  Though maybe we need to figure out what that list _is_, still.

Re:

The design goal of the A4A spec was to be as narrow as reasonable and to widen later if necessary.  I don't recall the origin of that specific wording, but there were a number of "limit this until proven that

[2017-03-27 14:54] #8400 closed

[2017-03-27 14:58] choumx commented on #8371
/to @lannka /cc @Gregable

[2017-03-27 14:59] choumx commented on #8376
/to @dvoytenko

[2017-03-27 15:02] choumx commented on #8399
/to @camelburrito /cc @aghassemi

[2017-03-27 15:03] choumx commented on #8401
/to @camelburrito /cc @aghassemi

[2017-03-27 15:03] ericlindley-g commented on #8399
I can repro on Android (not on iOS) — /cc @aghassemi @muxin @camelburrito , do you have any ideas?

Slotting at P0 for now, but may change based on how widespread this is

[2017-03-27 15:04] kmh287 commented on #8394
@choumx I was thinking of proposing the same thing. Do we have an issue where we discussed the security implications of mutating objects in bind's state?

[2017-03-27 15:08] cramforce commented on #4793
Make that `other-cdn.ampproject.org` (I think having all have the same number of sub domains is important.

I really think that this would be by far the most publisher friendly solution, since they can do something like `origin.startsWith('my-domain-com.') && origin.endsWith('.cdn.ampproject.org')` in their CORS validation and support all AMP Caches that follow the pattern.

[2017-03-27 15:15] sameeh-harfoush opened #8405 "lightbox don't open in AMP page from Safari and Chrome SERP"
## Short description of your issue:

I have an AMP version of my original pages:
Original: https://lb.brate.com/en/kababji-hamra-beirut-lebanon/b-661
AMP: https://lb.brate.com/en/amp/kababji-hamra-beirut-lebanon/b-661

The AMP page opens a lightbox when clicking on the "English" label at the footer of the page (a language selector)

The lightbox works well when opening the above AMP page directly

[2017-03-27 15:22] CemDemirkartal commented on #8401
Bootstrap v4 has similar but there are difference as on down.
It works well on Edge 14

Example from Bootstrap v4 Alpha 6

[code]

[2017-03-27 15:23] dvoytenko commented on #8376
/to @cramforce

[2017-03-27 15:54] cramforce commented on #8376
I was wondering why nobody asked. Super happy to reduce this. I think we should go down to 10 seconds.

I don't understand the "The reason I want to use the iframe rather than the static src property is cookies" sentence. It isn't either or. The iframe is available when running on an AMP cache, while the SW is loaded when already on the origin.

[2017-03-27 16:11] honeybadgerdontcare commented on #8370
The truth right now in terms of validation for the `meta` tag is in [validator-main.protoascii:303](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L303).

If a `tags:` doesn't have a specific `html_format:` then it's for both AMP and AMP4ADS. If it does have specific `html_format:` then it's for that format(s) only. For instance the first several `meta` tags

[2017-03-27 16:28] zackargyle commented on #8376
Hey @cramforce. So our `/sw.js` path is actually a handler rather than a static file. Then we bucket you into an experiment group and serve you a service worker based on what group you're in. For the bucketing we need your pinterest.com cookies. Maybe I misunderstood how the `amp-install-serviceworker` was working, but it looked like if I wanted the cookies I needed the iframe to our `sw.html` ins

[2017-03-27 16:30] chenshay opened #8406 "create broadcast api"
add broadcast api to https://github.com/ampproject/amphtml/tree/master/viewer-api

[2017-03-27 16:30] chenshay opened #8407 "create history api"
add history api to https://github.com/ampproject/amphtml/tree/master/viewer-api

[2017-03-27 16:31] chenshay opened #8408 "create visibility api"
add visibility api to https://github.com/ampproject/amphtml/tree/master/viewer-api

[2017-03-27 16:32] chenshay opened #8409 "create storage api"
add storage api to https://github.com/ampproject/amphtml/tree/master/viewer-api

[2017-03-27 16:32] cramforce commented on #8376
Cookies should definitely work on you `/sw.js`. I just researched that the other day.

[2017-03-27 16:33] chenshay opened #8410 "create sign-in api"
add sign-in api to https://github.com/ampproject/amphtml/tree/master/viewer-api

[2017-03-27 16:40] kmh287 commented on #8397
Could setState take a variable number of object literals and then call bind's setState on them in order?

[2017-03-27 16:42] aghassemi opened #8411 "scroll-bound amp-animation"
## Summary
* Allow animations defined in `amp-animation` to be ticked using scroll rather than time.
* Allow start/end of an `amp-animation` to be based on `visibility` of a whole parent container or another element on the page.

## Sample
![2](https://cloud.githubusercontent.com/assets/2099009/24365301/5b400dbe-12ca-11e7-8fdf-929564ae942d.gif)

## Idea
`amp-animation` is a wrapper for Web Animati

[2017-03-27 16:42] aghassemi commented on #8082
https://github.com/ampproject/amphtml/issues/8411

[2017-03-27 16:42] #8082 closed

[2017-03-27 16:48] #8137 closed

[2017-03-27 16:55] #8190 closed

[2017-03-27 16:56] choumx commented on #8402
- amp-bind validation
- amp-bind performance constraints
- Binding in amp-iframe
- A few bug fixes and cleanup tasks (#8312, #8271, #8159, #8137)

[2017-03-27 17:00] #7484 closed

[2017-03-27 17:01] honeybadgerdontcare commented on #8399
When directly going to the AMP Cache, I couldn't reproduce this on a [test site](https://cdn.ampproject.org/c/astute-city-159523.appspot.com/files/amp-sidebar.html), but I do see it on [cdn.ampproject.org/c/s/ampbyexample.com](https://cdn.ampproject.org/c/s/ampbyexample.com/components/amp-sidebar/). On a sidebar click, it shows the following in console:

[code]

I'm also seeing a different UI for

[2017-03-27 17:01] #5422 closed

[2017-03-27 17:05] dvoytenko commented on #8402
* amp-analytics visibility-v3 launching today
* additional visibility changes
* PWA Access

[2017-03-27 17:06] aghassemi commented on #8401
related: https://github.com/ampproject/amphtml/pull/6920

[2017-03-27 17:07] camelburrito commented on #8399
We have not touched sidebar in a while . Could this be the scroll fix that @muxin did ? Or did actions code have any changes recently ?

[2017-03-27 17:07] adelinamart commented on #8402
setup https://waffle.io/ampproject/amphtml for a better overview of all the issues in progress.

[2017-03-27 17:09] levidurfee commented on #8402
* Got PR (#8263) for amp-gist (#829) working and reworked it over the weekend
* Look at other [GFI](https://github.com/ampproject/amphtml/labels/GFI%20Candidate)'s to see if I can help with any other after I finish amp-gist

[2017-03-27 17:13] amphtml-team commented on #8399
I can repro 8/10 on iOS Chrome but only 1/10 on iOS Safari.
On Mon, Mar 27, 2017 at 1:07 PM Sriram Krishnan <notifications@github.com>
wrote:

[2017-03-27 17:19] alanorozco commented on #8402
- Wrote intent to implement amp-ad-banner #8334
- More window.context API stuff #8258, #8348

[2017-03-27 17:28] aghassemi commented on #8399
Likely related to use of History API. A few other Sidebar bugs seem to be also related to using history for close/open push: #6512 , #7044. @ericlindley-g and I chatted about this a bit, given that pushing to history is not a common UX pattern for sidebar open/close ( e.g PWA App Shells don't do it) and is causing multiple issues, we may just get rid of it.

[2017-03-27 17:30] muxin commented on #8080
Testing page created.

[2017-03-27 17:30] #8080 closed

[2017-03-27 17:36] cramforce commented on #8402
- Experimenting with perf impact of #8231
- Small perf improvement for Twitter embeds in #8339

[2017-03-27 17:42] kmh287 commented on #8402
- Working on design doc for #7379
- Finishing up implementation for #8341 pr: #8367
- Working on second part of bind integration for amp-live-list #7557 pr: #8377

[2017-03-27 17:46] chenshay commented on #2826
duplicate of https://github.com/ampproject/amphtml/issues/6066

[2017-03-27 17:46] #2826 closed

[2017-03-27 17:50] kmh287 commented on #7369
We now have integration tests for all currently supported components.

[2017-03-27 17:50] #7369 closed

[2017-03-27 17:50] #8019 closed

[2017-03-27 17:52] jridgewell commented on #8402
- Done
  - Several Cache SW improvements/fixes (https://github.com/ampproject/amphtml/issues/8319, https://github.com/ampproject/amphtml/issues/8318, https://github.com/ampproject/amphtml/issues/8207, https://github.com/ampproject/amphtml/pull/8328, https://github.com/ampproject/amphtml/pull/8326, https://github.com/ampproject/amphtml/pull/8325)
  - Build `SrcSet` in `#layoutCallback` https://gith

[2017-03-27 17:59] Gregable commented on #8330
I'd rather not go too far down the route of validating specific technically invalid variants, as there are probably an infinite list of these. In cases like this, we'd also need to be sure that relative URL rewriting works consistently in all AMP cache implementations, so caches become a useragent to test against as well.

I'm OK with some of them, such as the empty URL case. Instead, we should ju

[2017-03-27 18:01] Gregable commented on #8371
The mapping of CSS rules to specific tags for static validation is difficult to do in the general case, so we have not been making rules of that type to date.

[2017-03-27 18:09] dvoytenko commented on #7283
@muxin is this fixed now?

[2017-03-27 18:10] #7022 closed

[2017-03-27 18:10] Gregable opened #8415 "Validator warnings/errors for missing tags should be suppressed by errors for those tags."
There are several validator rules which emit warnings/errors based on the failure to detect the presence of some tag on the page. An example of this is including an extension script such as:
`<script async custom-element='amp-font' src='https://cdn.ampproject.org/v0/amp-font-0.1.js'></script>`
while not including an `<amp-font>` tag on the page.

These rules still generate validator warnings/error

[2017-03-27 18:12] #1861 closed

[2017-03-27 18:17] aghassemi commented on #5487
Related:  https://github.com/ampproject/amphtml/pull/6333

[2017-03-27 18:19] cramforce commented on #6854
There is https://groups.google.com/forum/#!forum/amphtml-announce which we should use more.

I agree that the docs needs work.

CCing @bpaduch. We can keep this with @dvoytenko, but should give it some dedicated text writer time, as I've heard the feedback multiple times that this is a pain point for people.

[2017-03-27 18:20] camelburrito commented on #8402
- Better solution (#8931) for IOS scroll snap breakage - (#7670)

[2017-03-27 18:21] muxin commented on #7283
no, the position is sometimes correct, sometimes not.

[2017-03-27 18:21] dvoytenko opened #8416 "A4A: cleanup fallback to 3p reports or ignore stack"
Too many of these mean a very normal cases, but they get fragment in reporting.

[2017-03-27 18:24] dknecht commented on #7022
@dvoytenko Why was this closed?

[2017-03-27 18:34] bryancolligan opened #8418 "Blank Page for Non Fixed Layers"
Description:
create fixed layer in the top nav  google cache will process create a new dom in the fix layered script and add css '-webkit-overflow-scrolling: touch !important’.
Non fixed layer initial load shows a blank page under the fixed nav and amp-sidebar once amp-sidebar menu is touched, page will show as normal.

url: https://www.google.com/amp/s/www.instapainting.com/pets-amp.html#developm

[2017-03-27 19:23] cramforce commented on #8371
Assignee @lannka is correct. This needs to be fixed in the `isPositionFixed` function in `ad-helper.js`

[2017-03-27 19:30] muxin commented on #8402
- Send navigateTo message to viewer in app banner in ios embed #8291
- Worked on fixing IOS scroll snap breakage

[2017-03-27 19:35] fueledbymarvin commented on #8405
I'm experiencing this issue. All it does is append the fragment `#amph=1`.

An easier reproduction is simply going to the demo here: https://www.google.com/amp/s/ampbyexample.com/components/amp-lightbox/

It works fine directly on the site (https://ampbyexample.com/components/amp-lightbox/) and via the amp project cdn (https://cdn.ampproject.org/c/s/ampbyexample.com/components/amp-lightbox/). It o

[2017-03-27 19:56] choumx commented on #8331
Chrome's origin trials explainer doc for reference: https://github.com/jpchase/OriginTrials/blob/gh-pages/explainer.md

[2017-03-27 20:09] jridgewell commented on #8358
Tracking it down, it's because the element does not have width and height when the initial measurement happens and is never re-measured. If it doesn't have width and height, we never call `#layoutCallback` (but we will call `#buildCallback`).

[2017-03-27 20:26] zhouyx commented on #7372
The reason that the CSS is applied twice is we call `#AMP.registerElement` with the same CSS class twice. A very straightforward fix would be do not register `amp-embed` with `amp-ad` CSS. This somehow overlap with #7752 and I would suggest not making that a GFI, but fix it right away so we avoid applying CSS that doesn't belong to `amp-embed`
@lannka @alanorozco

[2017-03-27 20:26] lannka commented on #7372
Sounds good. Thanks for looking into it.

[2017-03-27 20:31] aghassemi commented on #8399
@ericlindley-g : Update: It is a viewer regression, @muxin and the viewer team are looking into it.

[2017-03-27 20:32] johnnyshankman opened #8420 "Lightboxed Slide Images Sometimes Never Load/Show"
Here is a video of the bug in action: http://recordit.co/QQRb4PDkR6

When putting an `<amp-carousel>`  of `<amp-img>`s within an `<amp-lightbox>` sometimes images within the carousel load indefinitely, even though their preview counterpart (same image URL) has already loaded and is showing on the page behind the lightbox.

I've noticed that switching slides and then returning back to the slide wil

[2017-03-27 20:43] honeybadgerdontcare commented on #8112
PR #8421 addresses this for documentation: moving all `<meta>` tags as first children of `<head>`.
Google AMP Cache will start doing this shortly.

[2017-03-27 20:43] #8112 closed

[2017-03-27 20:54] src-code commented on #8330
@Gregable Sounds reasonable to me.

[2017-03-27 20:54] #8330 closed

[2017-03-27 20:57] jridgewell commented on #8358
Ok, so maybe a framework issue and a little one with how `<amp-app-banner>` is coded (this affects both iOS and Android banners):

- Element is `layout = NODISPLAY`, meaning `display: none` is set
- Initial measure happens, box is (0, 0)
- `#buildCallback` is called, element is hidden but display is reset
- `#checkIfDismissed` eventually decides to reset visibility

If the initial measure happens

[2017-03-27 21:01] choumx commented on #8368
Is there an example in the wild that showcases the desired functionality?

[2017-03-27 21:03] ericlindley-g commented on #8368
In the process of collecting those—will pass some on

[2017-03-27 21:39] aghassemi commented on #6512
@ericlindley-g @rudygalfi I created a test page: http://s.codepen.io/aghassemi/debug/peOVMw (since the other links are all broken) but have not been able to repo. (tried Desktop: Chrome/Safari, iOS: Safari, Android: Chrome). They all seem to be working fine. Is my test page correct? Do you know of any other live examples that have this issue?

[2017-03-27 21:43] muxin commented on #8399
b/36654490 is the tracking bug in viewer, both sidebar and lightbox is experiencing the same issue due to history bug.

[2017-03-27 21:51] ericlindley-g commented on #6512
Strange—I'm having trouble repro-ing this exact case as well. The general case may have been fixed by some other work, somehow.

I'd be okay closing for now.

Possibly related but tracked for the [AMP Start website](https://github.com/ampproject/ampstart/issues/260): on iOS Chrome, at  https://ampstart.com/components, tapping on the hamburger icon in the "navigation" examples causes the viewport t

[2017-03-27 22:07] rudygalfi commented on #6512
I'm good with closing. The original pages that showed this seem to be gone.

[2017-03-27 22:07] #6512 closed

[2017-03-27 22:19] choumx commented on #7625
@eduardcotmrf Strange, looking at the code it's not obvious to me why this would happen. Possibly a Chrome bug if it's fixed in 56+. Are you still having this issue? If so, can you share the document that exhibits this error? Thanks!

[2017-03-27 22:25] jridgewell commented on #6569
Haven't seen an report recently.

[2017-03-27 22:37] jpettitt commented on #8371
@gregable I understand it's hard, amp-ad is forbidden in fixed layers (refuses to render) and this is a psudo fixed layer ...

[2017-03-27 22:46] rudygalfi commented on #2691
Thanks for the last update. Anything new happening with this?

[2017-03-27 22:52] choumx commented on #8057
`amp-state` parses its JSON in `buildCallback` which currently can (though shouldn't) impact render latency. Another option is to use `requestIdleCallback` or run the parsing in a worker.

Parsing 100KB of JSON takes 10-20ms which seems like a reasonable cap. Ideally we'd enforce this in the validator rather than at runtime.

[2017-03-27 22:52] aghassemi commented on #8088
Thanks for the details write-up @dpetrieldn! This is absolutely great that you are sharing your requirements with us before we implement a feature! :+1:

I will keep these in mind as we work on the implementation. Everything looks reasonable to support. The API design for docking location and docking triggers might be the harder part to get right.  For `Docking effect on pre-rolls` problem, I am h

[2017-03-27 23:41] dvoytenko commented on #7022
AMP Runtime now can ignore static layout transformations if applied on the Cache side. This was at the core of this issue. It's done [here](https://github.com/ampproject/amphtml/blob/1304c6cb81c6a87311226474a9265e4f657a9ccb/src/custom-element.js#L230). Not sure if we were tracking something else under this bug? If so, I'll be happy to reopen.

[2017-03-27 23:43] dknecht commented on #7022
Should the changes be documented in the amp cache modification doc?

[2017-03-27 23:48] honeybadgerdontcare commented on #7022
They will be once it is in use.

[2017-03-27 23:51] aghassemi commented on #8420
@johnnyshankman, please use `layout=fill` for the carousel when inside the lightbox to solve your issue. Also since we have fill layout for images, we should control how the images are fit using css, otherwise they will get distorted ( I recommend `object-fit: contain` ). Here is a alternative version of your fiddle with these fixes applied: http://jsbin.com/seluvekoqe/1/edit?html,output

[2017-03-27 23:51] dvoytenko commented on #7022
@honeybadgerdontcare For posterity. Could you please file a bug on that? This issue was specific to runtime changes.

[2017-03-27 23:54] aghassemi commented on #8405
All, apologies for the breaking change. This issue has the same root-cause as the P0  https://github.com/ampproject/amphtml/issues/8399 which we have a solution for and waiting for deployment to production.

[2017-03-28 00:24] aghassemi commented on #8402
* scroll-bound animation design and presentation: https://github.com/ampproject/amphtml/issues/8411 and  https://docs.google.com/presentation/d/1i7asX_msSF1iP5Afd5VNECfatIQcI-krwunaysdNV48/edit?usp=sharing
* nexxtv-player code cleanup: https://github.com/ampproject/amphtml/pull/8265

[2017-03-28 02:53] honeybadgerdontcare opened #8437 "Document server side rendering in AMP cache modifications best practices"
[AMP cache modifications best practices](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md) should have the server-side rendering documented after it's been tested and is live.

Currently server-side rendering happens on AMP document through the following steps:
1. Apply static layout to custom-element tags (`<amp-…>`) per custom-element.js [applyLayout](https://git

[2017-03-28 02:53] honeybadgerdontcare commented on #7022
Done in #8437.

[2017-03-28 03:05] cramforce commented on #8399
Fix on Google's side is in progress.

[2017-03-28 03:51] #7845 closed

[2017-03-28 05:32] aghassemi commented on #8405
The fix is in production and the issue has been resolved. Sorry for the inconvenience.

[2017-03-28 05:32] #8405 closed

[2017-03-28 05:32] aghassemi commented on #8399
The fix is in production and the issue has been resolved. Sorry for the inconvenience.

[2017-03-28 05:32] #8399 closed

[2017-03-28 06:59] eduardcotmrf commented on #7625
No, it only happens in old versions of chrome.

[2017-03-28 08:03] bjalford commented on #8088
@aghassemi I'll leave Dan to feedback on the rest.

The player currently used is Brightcove and yes keen to implement as an early adopter.

[2017-03-28 08:26] neko-fire commented on #8264
yes okay.

[2017-03-28 09:06] NataliaLKB commented on #8399
Thank you all for finding and fixing this bug!

[2017-03-28 09:10] sameeh-harfoush commented on #8405
Thank you guys for the support.
Now i have another problem, Google SERP is serving AMP pages on desktop. (check https://www.google.com.lb/#q=kababji+hazmieh+inurl:amp&*)
Should i open the issue here?

[2017-03-28 09:54] rowangray opened #8439 "amp-img: Image doesn't load when initially hidden"
Images that are initially hidden are not loaded when displayed. The use case is a menu (containing images) that on desktop is displayed on hover.

http://jsbin.com/cayere/edit?html,output

[2017-03-28 10:57] SchnWalter commented on #8439
I've also encounter this issue. We are gradually transitioning to AMP and one of the first things we did is replace all images on the website with `amp-image` tags. And we saw this issue on narrow devices (`max-width: 1168px` = 73em) where we convert a 2 columns layout into a layout with 2 tabs, you can see the image not being initialized if you scale down your browser and go to: http://bit.ly/DCi

[2017-03-28 11:21] bjalford opened #8440 "Page level variables for amp-ad"
Is it possible to set a variable using amp-experiment and use that in the json for amp-ads (DFP). We require a page-level variable for all the ad slots. The variable needs to have 3 values based on % of audience 1%,10% and 90%.

Is this something that remote.html file is used for?

[2017-03-28 11:55] SchnWalter commented on #8439
If I remember correctly, I've also encountered this kind of issue with `fallback` elements of [amp-ad](https://www.ampproject.org/docs/reference/components/ads/amp-ad) tags, which are only displayed if the ad-network decided that there is no ad to display.

The example from the documentation is this:
[code]

And I don't see a reason why this should not work:
[code]

or even:
[code]

P.S. I'll do s

[2017-03-28 13:09] yowz commented on #7670
10.3 went into Prod yesterday

[2017-03-28 13:36] buremba opened #8442 "Intent-to-Implement: Rakam"
I would love to add Rakam as an amp-analytics plugin, the implementation is similar to Segment's PR and pretty straightforward.

A simple example that sends a page view:
[code]

[2017-03-28 14:07] bradfrizzell commented on #8313
Still on this, just got back from vacation so apologies for the very late response.

Currently for the A4A flow, rendering via direct cache or nameframe supports the creative including the context API if they so choose. Safeframe is the only one that is not supported yet.

[2017-03-28 14:20] kmh287 commented on #8397
Also, couldn't this be used to get around our expression complexity limit?

[2017-03-28 14:49] Txooz commented on #1664
Hello,

I'm confused about AMP and Hreflang. The hreflangs in the AMP version have to point to the other AMP versions or have to point to the regular version as the canonical?

[2017-03-28 15:48] johnnyshankman commented on #8420
@aghassemi Thank you! I forgot to include the `object-fit: contain` code that we have in our CSS currently which explains why my jsbin was a little wonky. The `layout=fill` and then refactoring the CSS to have centering and height restrictions elsewhere got me exactly what I needed.

Thank you!

[2017-03-28 16:00] aghassemi commented on #8420
@johnnyshankman Anytime! Glad that helped.

[2017-03-28 16:00] #8420 closed

[2017-03-28 16:15] oliy commented on #7217
We've already made this change for our server-side implementation.  Has the client side implementation been committed and released?

[2017-03-28 16:28] ericlindley-g opened #8446 "Update call-tracking docs"
Looks like https://github.com/ampproject/amphtml/pull/7493 is in prod!

Starting a tracking bug for docs update (and I'm guessing would be great to get an example in ABE, too — WDYT, @alanorozco @jasti ?)

[2017-03-28 17:17] bpaduch opened #8447 ""sizes" should never be able to influence the actual rendered aspect ratio of amp-img"
While writing about responsive design, in following example I used `srcset` and `sizes` to serve 3 different sized images at different breakpoints in a `fixed` layout:

[code]

From pbakaus: Pretty sure this isn't supposed to work. srcset and sizes shouldn't be able to control the size of the image – they should only tell the browser what the image should render at.  BTW – the proper way to serve

[2017-03-28 17:53] aghassemi commented on #8405
@sameeh-harfoush For the SERP issue, could you please post to the [Webmaster Forum](https://productforums.google.com/forum/#!forum/webmasters)? Folks monitoring that forum are more knowledgeable on this topic than the open-source AMP group on Github.

[2017-03-28 18:35] jpettitt commented on #8440
The way to do that is to have three versions of each ad tag on the page and gate visibility using CSS based on the amp experiment.  Set the non-active experiments to display: none and the tag won't be called.  Take a look at https://wesh.relaymedia.com/amp/article/visibility-concerns-shut-down-sr-528/9194673 and you'll see were doing that to select between two ad tags.

[2017-03-28 18:48] yowz commented on #7670
@kuma-san No, this is still broken in 10.3. Check this example page on a 10.3 phone. The "Loopy!" carousel goes nuts.
[http://amphtml-nightly.herokuapp.com/test/manual/amp-slidescroll.amp.html](http://amphtml-nightly.herokuapp.com/test/manual/amp-slidescroll.amp.html)

[2017-03-28 18:57] ericlindley-g commented on #7670
@yowz  — I can't repro the issue on iPhone 6 on Safari. What device are you using?

[2017-03-28 19:03] yowz commented on #7670
@ericlindley-g I am on an iPhone 6 Plus in Safari. In that link above, if you hit the "Toggle CSS SNAP" button, does the problem occur? I'm wondering whether the slidescroll-disable-css-snap experiment has been turned on by default as a stopgap fix.

[2017-03-28 19:06] aghassemi commented on #8439
@SchnWalter I can't reproduce the `amp-ad` with `amp-img` fallback issue. Seems to be working fine: http://codepen.io/aghassemi/pen/EWdmxE  If you find the case where it was failing, please file a separate issue for it.

@rowangray Triggering visibility with CSS is not supported for amp-elements yet. It is something we are working on however. But there is a subset of use-cases that we do support:

[2017-03-28 19:08] cramforce commented on #7670
Per @muxin `slidescroll-disable-css-snap` was activated in production yesterday at 7 PM PST.

[2017-03-28 19:09] cramforce commented on #7670
For dev channel users it was only turned on a few hours ago.

[2017-03-28 19:09] aghassemi commented on #8191
https://github.com/ampproject/amphtml/issues/8411

[2017-03-28 19:12] bjalford commented on #8440
Thanks. Really helpful. My problem is we have over 10 ad slots on the section pages and with three variants of each of this one variable. Also if we want to do a/b testing of let's say prefer viewability we'll have a lot of amp-ad tags on the page!

[2017-03-28 19:16] yowz commented on #7670
Ah, good news. I must have already bucketed myself on the wrong side of the experiment. Thanks @cramforce and @muxin

[2017-03-28 19:33] jridgewell commented on #6427
Fixed already.

[2017-03-28 19:33] #6427 closed

[2017-03-28 19:50] jridgewell opened #8450 "Cleanup uses of Array#indexOf to use Array#includes"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- Javascript

### Background

Recently, we introduced an [`Array#includes`](http

[2017-03-28 20:48] choumx commented on #8397
Yes, though it's a slightly more complex change since we'd have to change the action parser.

Expressions in `setState` should go through the same code path.

[2017-03-28 20:55] kmh287 commented on #8397
I'm thinking though that if we allow multi-step calculations, then someone could just break up a larger calculation into multiple steps to circumvent the complexity limit.

For instance if my expression is A + B where (A + B) has an AST size of 51 (one over the current limit) then I could do.

`AMP.setState({x: A, y: B}), AMP.setState({z: x+y})`

[2017-03-28 21:00] dvoytenko commented on #8355
Closes via #8373.

[2017-03-28 21:00] #8355 closed

[2017-03-28 21:00] jpettitt commented on #8440
Yep. Lots of tags- the amp runtime will only the fire the ones that are displayable so it doesn't cost anything beyond the bytes on the wire.

FWIW we did a large scale test of prefer-viewability over view last year (25 sites for a month) and CP/M's went up but not enough to compensate for reduced views - net was about 10% less revenue.   I'd be really interested in what you learn if you do a test

[2017-03-28 21:03] #5486 closed

[2017-03-28 21:10] fueledbymarvin commented on #8405
Thanks for the fix!

[2017-03-28 21:22] cvializ opened #8463 "Replace src/utils/object#getPath with src/json#getValueForExpr"
@dvoytenko raised [this issue](https://github.com/ampproject/amphtml/pull/7562#pullrequestreview-29330166). `getPath` is already implemented in `src/json`

[2017-03-28 21:28] dvoytenko opened #8464 "Cleanup migrated -amp- prefixes"
Cleanup of changes done for #6463.

[2017-03-28 21:50] aghassemi opened #8467 "Cleanup amp-gist experiment"
- [ ] Remove experiment entry and code guard
- [ ] Update documentation
- [ ] Add AmpByExample.com sample ( or update it to reflect that it is not experimental anymore if sample was already created )

[2017-03-28 22:03] #5980 closed

[2017-03-28 22:07] #8416 closed

[2017-03-28 22:07] #8382 closed

[2017-03-28 23:39] aghassemi commented on #6628
@mityaha @spaddon just a friendly ping to see if there has been any progress on https://github.com/ampproject/amphtml/pull/6466#issuecomment-266754781

[2017-03-29 00:03] cvializ commented on #5619
@aghassemi I agree that `amp-mustache` should be optional. However, I think that allowing AMP authors to put arbitrary DOM in place of a template might not be what we want, since that content will load on page-load, where a template's content does not (as mentioned in [this doc](https://docs.google.com/document/d/1q-5MPQHnOHLF_uL7lQsGZdzuBgrPTkCy2PdRP-YCbOw/edit#) linked from [template-impl.js](ht

[2017-03-29 01:02] aghassemi commented on #5619
@cvializ I don't think it's worth increasing `v0.js` size (given we are constantly trying to reduce its size) for this. I don't really expect the size of "content" to be much more than the actual HTML code.

On a related note, we need to ensure that if they put an `amp-component` there, it will get layedout properly ( e.g. `amp-img` actually loads when the message is displayed )

[2017-03-29 03:19] renzit commented on #8399
Same as NataliaLKB , thank you for the quick fix 👍

I check and everithing is ok , even the bug of the scroll on the sidebar is fixed, all of you rock 🎸

[2017-03-29 07:30] p2er opened #8476 "Momentum scroll stopped by "-amp-no-scroll" on iOS 10 Safari"
If scrollable content is placed inside a carousel slide and scrolled on iOS Safari the scrolling will feel native until a class is set to prevent horizontal scrolling. Works perfectly fine on Android Chrome, but stutters in the same way on iOS Chrome.

## How do we reproduce the issue?

Test With 3 scrollable articles inside the amp-carousel element: https://p2er.github.io/amp-articleslider/

1. O

[2017-03-29 08:31] ankur0890 opened #8477 "WhatsApp social share not working iOS 10.3 Safari"
Amp social share buttons are not working on iOS 10.3 Safari. It's working fine on Google chrome and previous iOS versions. PFA the video also
[iphone-ankur.mov.zip](https://github.com/ampproject/amphtml/files/878360/iphone-ankur.mov.zip)

In current problem its opening an blank web page. Can you please check the same and fix on priority.

Thanks
Ankur Aggarwal

[2017-03-29 09:30] veged opened #8478 "Alternative implementations of cache and/or components library"
As we discussed at APM Conf with all current and potential «platforms» (i.e. third party cache and/or components library from Yandex, Baidu, Microsoft and etc.) we need to support and document them on the top level.

What may differ from platform to platform:
  - cacher ([related issue](https://github.com/ampproject/amphtml/issues/4793#issuecomment-289425730))
  - static CDN (most likely we need t

[2017-03-29 09:38] veged commented on #4793
@cramforce 👍

[2017-03-29 11:02] ankur0890 commented on #6737
Also it creates problem when two accordians gets open together . Suppose one accordian is already opened and second one is at the bottom. When user open the bottom one, second accordion should get focus to middle of the screen or first one should get close. Right now its laying at the bottom only giving a dead expression to user that it has been opened constituting a bad UX.

[2017-03-29 13:37] mikeduarte opened #8479 "iOS 10.3 amp-image-lightbox image does not resize on orientation change"
On iOS 10.2 when I would open an image in an amp-image-lightbox in portrait then rotated the phone to landscape, the image would resize and fill the available space as well as get repositioned.  On iOS 10.3 the image doesn't resize or move.

## How do we reproduce the issue?
1. Go here:  https://ampbyexample.com/components/amp-image-lightbox/
2. In portrait orientation, tap an image to open it in

[2017-03-29 14:05] rowangray opened #8480 "Amp-ad: allow to refresh on amp events"
We'd like to be able refresh an amp-ad on an amp event, specifically the amp-carousel, like  on="slideChange:ad.refresh". or on a state change with AMP.setState.

Our use case is a single ad slot that needs to be refresh either on a timeout basis (4038) or when a user changes a carousel slide. We are not able to use multiple hidden slots.

Partially related to https://github.com/ampproject/amphtml

[2017-03-29 14:21] kmh287 commented on #7379
Here's a [design doc](https://docs.google.com/a/ampproject.org/document/d/1sk-I93gIotMgJCX-VqICnu6Pvf9UaUKzabJb68ybJFo/edit?usp=sharing) for a new amp component, amp-state-list, that can provide the functionality we need for this. All feedback is welcome. :smile:

[2017-03-29 14:21] kmh287 commented on #8191
#7379

[2017-03-29 15:25] #829 closed

[2017-03-29 15:52] aghassemi commented on #8476
/to @yuxi @camelburrito  https://github.com/ampproject/amphtml/pull/7966 may have broken momentum scrolling on iOS 10.2 (10.3 is fine)

[2017-03-29 15:52] aghassemi commented on #8476
/cc @ericlindley-g

[2017-03-29 15:53] aghassemi commented on #8477
/cc @ericlindley-g

[2017-03-29 15:55] aghassemi commented on #8479
/cc @ericlindley-g

[2017-03-29 16:12] camelburrito commented on #8476
This should also be a P0. I think the IOS version check is not working as expected I guess. @muxin can you take a look at what is going on

[2017-03-29 16:15] camelburrito commented on #6737
This should be possible with amp-selector now.

[2017-03-29 16:42] ericlindley-g commented on #6737
Added a feature request for AMP by Example to demo this functionality: https://github.com/ampproject/amp-by-example/issues/726

[2017-03-29 16:59] #8386 closed

[2017-03-29 17:08] jpettitt commented on #8006
Missed the ping sorry.  We're trying to nail down exactly what we need and what else makes sense.  Standby.

[2017-03-29 17:08] aghassemi commented on #8477
@ankur0890 I have been unable to repro this on my iPhone 6s with 10.3 (not beta). Did you notice this on a real device or a simulator? Also do you have a URL other than ampbyexample that you have noticed this is happening on?

[2017-03-29 17:13] ankur0890 commented on #8477
@aghassemi I have tested in iPhone 7 iOS 10.3. Problem comes in Safari only. Yes In the video i have attached I am using amp by example social only. Clicking on whatsapp icon and getting the issue.

[2017-03-29 17:14] ericlindley-g commented on #8241
@dvoytenko  — do you have an idea of why this is? I've notice issues with fixed elements (both at top and bottom of screen) not precisely lining up with the viewport. This leads to leaks behind the elements (the screenshot above is a particularly bad case, but there are subtler ones)

[2017-03-29 17:22] ericlindley-g commented on #7501
Closing this for now, since we don't have a valid AMP example, but please feel free to ping or re-open if you have an example of the issue on a valid AMP page.

[2017-03-29 17:22] #7501 closed

[2017-03-29 17:26] aghassemi commented on #8477
@ankur0890 Thanks. Got it. I can repro with WhatsApp and will look into fixing it ASAP.  Other social shares seems to work fine though, could you please confirm that it is only happening for WhatsApp for you as well?

[2017-03-29 17:28] ericlindley-g commented on #6452
@johandeklerk and @jpettitt , you make good points:

Considering that this feature is triggered by user interaction ( @camelburrito , can you confirm that this is true? I don't think applying "open" to the sidebar means that it opens on load, as I have not been able to repro that behavior), I think there's low risk in allowing amp-form and amp-iframe inside of it.  WDYT, @camelburrito?

/cc @rudyg

[2017-03-29 17:29] ericlindley-g commented on #6281
Ping @Gregable — any issues with allowing "value" as well here?

[2017-03-29 17:32] honeybadgerdontcare commented on #7868
This is being tracked internally as b/36719384.

A temporary work around is to set the form[action-xhr] to a URL that is not the base URL of the page it is on. For your specific case adding another handler on your server for the action-xhr request and linking to that on the root page should avoid this issue.

[2017-03-29 17:33] ericlindley-g commented on #4574
@dvoytenko @cramforce  — based on offline conversations, I wonder if we should shift this to a conversation on whether the rules for resize can be relaxed on desktop, as I think the rules are unlikely to change on mobile. Would that help your case, @eike-hass ?

[2017-03-29 17:36] ankur0890 commented on #8477
@aghassemi yes others are working fine. Checked it. Only whatsapp has the  problem.

[2017-03-29 17:37] #7890 closed

[2017-03-29 17:44] ericlindley-g commented on #6221
@cramforce — did you have any thoughts on this?

[2017-03-29 17:53] lawnsea commented on #6221
I spoke with @cramforce at AMPConf about this and he suggested that we use
`window.opener.location.replace()`. We are going to try that in our next
sprint. I'll update this ticket with our results.

On Wed, Mar 29, 2017, 12:44 PM ericlindley-g <notifications@github.com>
wrote:

--
-Lon Ingram

[2017-03-29 17:54] ericlindley-g commented on #6221
Sounds good — thanks!

[2017-03-29 17:57] #7372 closed

[2017-03-29 17:58] #7752 closed

[2017-03-29 18:00] #8463 closed

[2017-03-29 18:04] #7591 closed

[2017-03-29 18:18] cvializ commented on #8228
Note: the fragment logic for amp-list was removed in #8466, because it already implements property accesses with the `items` attribute.

[2017-03-29 18:18] #8401 closed

[2017-03-29 18:24] aghassemi commented on #8476
@camelburrito it is still functional, just the nice momentum animation is gone. Keeping it P1 but also I am looking at fixing it today.

[2017-03-29 18:42] #8341 closed

[2017-03-29 18:50] adelinamart commented on #7254
Is this fixed by the PR?
@m1ck43l for closing issues might be useful to use https://help.github.com/articles/closing-issues-via-commit-messages/

[2017-03-29 18:54] adelinamart commented on #7000
@stonezhong this was not updated in a while. If you still have any open questions, feel free to reopen this issue. Thanks!

[2017-03-29 18:54] #7000 closed

[2017-03-29 19:29] adelinamart commented on #6477
@pbakaus is this still an issue? Thanks

[2017-03-29 19:31] adelinamart commented on #6393
@muxin is this something you will be able to work on?

[2017-03-29 19:33] adelinamart commented on #6390
Is this still happening?

[2017-03-29 19:38] adelinamart commented on #6360
@jacobdfriedmann any news here? Thanks

[2017-03-29 19:39] adelinamart commented on #6292
Bug mentioned seems to be fixed. @aghassemi is there anything else to be done here? Thanks

[2017-03-29 19:40] adelinamart commented on #6202
Is this still a bug? Thanks

[2017-03-29 19:41] adelinamart commented on #5716
@zhouyx can we triage this? Thanks

[2017-03-29 19:42] adelinamart commented on #5428
@camelburrito shall we close this? Thanks

[2017-03-29 19:42] adelinamart commented on #5427
@camelburrito is this still an issue?Thanks

[2017-03-29 19:43] adelinamart commented on #5410
@jridgewell can we triage this. Thanks

[2017-03-29 19:43] adelinamart commented on #5352
@powdercloud are you still working on this? Thanks

[2017-03-29 19:44] adelinamart commented on #5293
@erwinmombay referenced issues is closed. Anything else to be done here? Thanks

[2017-03-29 19:44] adelinamart commented on #5282
@aghassemi can we triage this? Thanks

[2017-03-29 19:45] adelinamart commented on #5050
@rudygalfi is this a prioritized FR?

[2017-03-29 19:46] adelinamart commented on #6378
@Gregable who is working on the 'invalid' href case? Thanks

[2017-03-29 19:47] adelinamart commented on #6909
@aghassemi referenced issues is closed. What's left to be done here? Thanks

[2017-03-29 20:00] MtDalPizzol commented on #7712
Any news on this?

[2017-03-29 20:03] ericlindley-g commented on #7712
Not yet — do you have a particular use case you'd like to make work?

[2017-03-29 20:06] MtDalPizzol commented on #7712
Well... I'd like to build a multi level navigation menu in which not every first level item have a sublevel and when clicked the page should be submitted..

[2017-03-29 20:19] lannka commented on #8402
- Fixed GA cookie and Client ID issue #5761
- Introduced meta tag `<meta name="amp4ads-id">`

[2017-03-29 20:30] ericlindley-g commented on #7712
Great—that exactly the use case we had in mind. Bumping the priority up on this slightly.

FYI: currently you can kind of hack around the limitation here, by absolute-positioning an anchor link on top of part of amp-accordion (so that clicking on the text hovering on top of amp-accordion acts as a link, but clicking elsewhere in the amp-accordion container expands the amp-accordion)

[2017-03-29 20:35] #6463 closed

[2017-03-29 20:52] lannka commented on #8370
I see @jpettitt 's needs, and I also see the maintenance cost if we start to list all the details. Would having a code pointer here be good for now?

[2017-03-29 21:03] dvoytenko commented on #8442
Hi @buremba! Thanks a lot for the issue. Is this just a config contribution? If so - yes, go ahead and send us the pull request. If you are looking for more features, please clarify.

[2017-03-29 21:11] jridgewell commented on #5410
Just needs to be prioritized.

[2017-03-29 21:12] jridgewell commented on #6390
We added expected errors.

[2017-03-29 21:12] #6390 closed

[2017-03-29 21:13] jridgewell commented on #6393
[Fixed](https://github.com/ampproject/amphtml/pull/7723).

[2017-03-29 21:13] #6393 closed

[2017-03-29 21:28] aghassemi opened #8489 "amp-gist: support optional `data-file` attribute"
From @aarongustafson:
" I typically use one Gist for all code samples for an article (or book chapter) and then reference each individually. In terms of implementation, it would add ?file={{filename}} to the embed URL. That’s it."

## API
`<amp-gist data-file=foo.java>`

[2017-03-29 21:29] aghassemi commented on #8489
/cc @levidurfee

[2017-03-29 21:34] cramforce commented on #6452
There is no way to open it initially, right?

I actually kind of always argued to not make any special rules for the sidebar.

[2017-03-29 21:34] aghassemi commented on #6292
@adelinamart, nothing I can think of. It should just work when that Safari bug fix makes it to a release ( if it hasn't already). Closing.

[2017-03-29 21:34] #6292 closed

[2017-03-29 21:35] cramforce commented on #4574
yes, I think removing the restriction starting at a certain resolution
seems like a good idea.

On Wed, Mar 29, 2017 at 10:33 AM, ericlindley-g <notifications@github.com>
wrote:

[2017-03-29 21:37] cramforce opened #8490 "We always report 1ms as pre-render-complete time when in pre-render"
This seems like a bug.

[2017-03-29 21:37] aghassemi commented on #6909
Still applicable. Referenced issue is just related and does not solve the issue.

[2017-03-29 21:58] zhouyx commented on #8210
Investigate into this issue further.
In the provided example page, `<amp-ad>` doesn't have a `width` value provided where it should [(see doc)](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/amp-ad.md#behavior).
When we create an iframe for ad, we depend on this `width` value to set iframe width. [code](https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L100). A

[2017-03-29 22:05] #8371 closed

[2017-03-29 22:40] jasti commented on #6597
This has launched.

[2017-03-29 22:40] #6597 closed

[2017-03-29 22:41] #7431 closed

[2017-03-29 22:42] jasti commented on #5234
Thanks everyone for adding support. We are closing this issue since we have some decent adoption of the larger networks.

[2017-03-29 22:42] #5234 closed

[2017-03-29 22:53] jamescridland commented on #8210
@zhouyx Thank you for your response. I'm grateful for your investigation. However, the [documents published by AdSense](https://support.google.com/adsense/answer/7183212?hl=en) do not have a width specified in the 'above the fold' section. The docs themselves say:

I've followed the code specified by AdSense themselves. If this code is incorrect, are you able to escalate this to the AdSense team?

[2017-03-29 22:58] lannka commented on #4147
this will be a big project. @cramforce @dvoytenko want to have you sign off before i start :-)

[2017-03-29 22:59] jamescridland commented on #8210
Further to the above, @zhouyx ...

The [amp-ad docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/amp-ad.md#behavior) say:

In the [docs for layout](https://www.ampproject.org/docs/guides/author-develop/responsive/control_layout#the-layout-attribute), it says:

In short, it appears that I have (quite by accident) followed the docs correctly. Could I ask you to confirm that a

[2017-03-29 23:03] erwinmombay opened #8495 "CustomEvent is not defined"
ReferenceError: CustomEvent is not defined
at ka (https://cdn.ampproject.org/rtv/001490719419065/v0/amp-carousel-0.1.js:29)
at (https://cdn.ampproject.org/rtv/001490719419065/v0/amp-carousel-0.1.js:27)
at Ni (https://cdn.ampproject.org/rtv/001490719419065/v0.js:351)
at Ji.f.qf (v0.js:350)

i know we guard against this so not sure why we're hitting this scenario.

https://github.com/ampproject/amph

[2017-03-29 23:18] buremba commented on #8442
Hey @dvoytenko! It's just the implementation for a new analytics provider, Rakam. I already have a pending PR here #8443.  It would be great if you can review it when you have time,

[2017-03-29 23:28] zhouyx commented on #8210
@jamescridland you're right. `amp-ad` support all these layout types.
Reopen the issue. We need to check for undefined width for IE to fix the issue.

[2017-03-29 23:54] zhouyx commented on #8210
have #8497 to rephrase the readme of amp-ad.

[2017-03-29 23:58] cramforce commented on #4147
![LGTM](https://camo.githubusercontent.com/c13eeb81b1485ccc0d2b248f19360c7ba2419167/687474703a2f2f6a756e6b796172642e64616d6f776d6f772e636f6d2f353633)

[2017-03-30 00:21] aghassemi commented on #8495
@erwinmombay @choumx fixed this recently with https://github.com/ampproject/amphtml/pull/8345

[2017-03-30 00:43] #8476 closed

[2017-03-30 01:00] lannka commented on #5111
The URL is now http://amp.usatoday.com/story/90702882/
I can no longer reproduce the issue. The ads load fine in the carousel.
My test device is iPhone 6 / iOS10 / iGSA v24.1

Let me know if anyone can still see the problem.

[2017-03-30 01:00] #5111 closed

[2017-03-30 02:36] #8495 closed

[2017-03-30 02:38] #8489 closed

[2017-03-30 02:45] jasti opened #8499 "Ensure AMP animations use zero CPU when off screen"
Animations should be paused/ not started and never take up any CPU cycle when off screen.

[2017-03-30 03:33] #8477 closed

[2017-03-30 04:32] jasti opened #8500 "Enhance host.js to listen for scroll bound animations for AMP in a box"
We'd want to ensure #8411 works well when AMP ads use it and deliver to non-AMP pages.
CC @ampproject/a4a

[2017-03-30 06:13] ankur0890 commented on #8477
@aghassemi  Thanks for resolving the issue on priority. Is it live as I am still getting the error?

[2017-03-30 07:13] ankur0890 commented on #6737
Not able to use amp-selector on amp-accordian sections as section should be immediate child of amp-accordian. Small snippet or demo would be helpful. @camelburrito  @ericlindley-g

[2017-03-30 09:07] #7254 closed

[2017-03-30 11:06] MarkusDima opened #8501 "No adv request into amp carousel"
Hi all,

thanks in advance to anyone for the support.

## Short description of your issue:

When I navigate into the amp corousel resulting from a google search, sometimes I can see the adv sometimes no.
The issue is random and It's hard for me to debug it.
The result that I expect is to see an OAS ads in the page (a box 300x250 px - OpenAdStream).
The problem is that randomly the ads request does

[2017-03-30 15:42] aghassemi commented on #8477
@ankur0890 Not in prod yet, will be sometime later today

[2017-03-30 16:17] aghassemi opened #8504 "ABE lightbox samples broken in iOS when in the viewer"
## Repro
- on iOS (I have tested with 10.3 and 10.2), search for `amp by example lightbox`
- view the result link (opens in SRP AMP viewer)
- tap OPEN LIGHTBOX
- notice it does not work. (it actually opens but is invisible)
- Does NOT happen when not viewed in the viewer

## Issue
With a bit of debugging, `-webkit-overflow-scrolling: touch` that comes from `#i-amphtml-wrapper` seems to cause this.

[2017-03-30 16:18] camelburrito commented on #6737
@ankur0890 - you could try putting the accordion in amp-selector - infact you might just use amp-selector and not need amp-accordion at all. You will need to write css to make this work. We will try and add an example to amp-by-example.

[2017-03-30 16:29] lannka commented on #8500
We will enable the Position API for Android (currently only enabled for iOS).

@keithwrightbos @bradfrizzell just want to confirm with you that ads tag side is not disabling host.js for Android.

[2017-03-30 16:32] keithwrightbos commented on #8500
Currently no, we will assume we should leave it in place going forward.

[2017-03-30 16:36] #8390 closed

[2017-03-30 17:12] aghassemi opened #8505 "Ensure video autoplay behaves correctly in A4A, In-A-Box"
Create integration tests to ensure video autoplay pause/play based on visibility works correctly when in an Ad in A4A or In-A-Box

/cc @jasti

[2017-03-30 17:27] Gregable commented on #7217
@glevitzky @lannka
My guess from the status of https://github.com/ampproject/amphtml/pull/8381 is no, but perhaps I'm wrong.

[2017-03-30 17:35] lannka commented on #7217
Right, @glevitzky is actively working on it.

[2017-03-30 17:54] lannka commented on #8499
Right now there're 2 ways to animate in AMP. CSS and `amp-animation`.

For CSS animation, we don't have much control right now. Except that we do restrict CSS animation in ads. We planned to pause CSS animation in ads once out of viewport, see #7846.

For `amp-animation`, we currently don't pause animation. @aghassemi had some idea about triggering and pausing animation with visibility info.

[2017-03-30 18:05] dvoytenko commented on #8490
I will block this bug on #7815.

[2017-03-30 18:56] bradfrizzell opened #8507 "Clean up assigning of iframe name for safeframe/nameframe in FF delayed rendering"
See comment here: https://github.com/ampproject/amphtml/pull/8487/files/9245abcb8ca256aad0d55a495f397572e22af820#diff-b139e3c4641f6d160f2832cba8be0761

[2017-03-30 19:31] bradfrizzell opened #8510 "AmpContext should handle setting up from a context object or a nested context object."
Sometimes the setup object being used might look like

`{"_context": {"location":...}}`

and sometimes it might look like

{"location": ....}

We need to handle both cases .

[2017-03-30 19:39] jpettitt commented on #8370
@lannka the issues isn't so much doc as change control.  Banning a header that used to be allowed is a breaking change.   At a minimum having a warning error a month before the header become invalid for would help lot.   These sort of changes are very expensive becasue we have to dump our cache of built pages.

[2017-03-30 19:52] choumx commented on #8331
Design doc: https://docs.google.com/document/d/1XhTU15GWvOgdnoAqMEVGC70nx1QizSA8cM0THWIygEg/pub

[2017-03-30 19:53] choumx commented on #8193
Would like to talk about origin whitelists for AMP experiments: #8331

[2017-03-30 20:16] #8210 closed

[2017-03-30 20:21] #8057 closed

[2017-03-30 20:34] #7625 closed

[2017-03-30 21:36] erwinmombay opened #8514 "global is not defined"
https://github.com/ampproject/amphtml/blob/master/ads/adhese.js#L59

[2017-03-30 21:38] clawr opened #8515 "Intent to Implement: amp-ad-exit"
## Objective

**For users**: Provide a high-quality navigation experience for AMP creatives with fast-click protection and predictable exit behavior.

**For developers**: Provide features needed for display ad exits, such as pinging click tracking URLs and substituting custom URL variables. Allow exits to be configured without changing creative markup.

This initial version is only intended for ad

[2017-03-30 21:42] #5319 closed

[2017-03-30 21:42] #5660 closed

[2017-03-30 21:45] jasti commented on #8515
@ampproject/a4a for review

[2017-03-30 22:09] choumx opened #8519 "amp-bind: Web worker bugs"
1. https://ampbyexample.com/samples_templates/product/preview/ is broken with web-worker enabled due to invocation string typo in `bind-impl.js`.
2. Web worker entry point needs to call `initLogConstructor` due to nested log calls in `bind-evaluator.js`.

Examples that don't use dynamic elements like `amp-form` still work with web-worker enabled.

[2017-03-30 22:20] jasti commented on #7015
Closing this in preference of #2736.

[2017-03-30 22:20] #7015 closed

[2017-03-30 22:21] jasti commented on #7772
Assigning to @tdrl  & @keithwrightbos since they are leading the design.

[2017-03-30 22:37] jasti commented on #8238
@spacedino, could you upload the new designs here please?

[2017-03-30 22:49] dvoytenko opened #8521 "Analytics: zero values do not get expanded"
Partially addresses #8201.

[2017-03-30 22:50] dvoytenko commented on #8201
Zero-values are moved to high-priority #8521.

[2017-03-30 23:02] jasti commented on #4038
This can be split into 3 sub features:

- [ ] Ability to refresh a sticky ad
- [ ] Ability to refresh any ad
- [ ] Ability to refresh ad ad when a user scroll back or forward an that was already previously viewed as if the ad is being loaded for the first time.

[2017-03-30 23:13] rudygalfi commented on #2198
@lannka Can you modify the initial entry to include some subtasks so that we can track this as a multi-sprint effort?

[2017-03-30 23:18] rudygalfi commented on #6417
@zhouyx Can you amend the initial posting to include a task breakdown checklist, so we can get visibility into this as a multi-sprint effort?

[2017-03-30 23:20] zhouyx commented on #6417
task breakdown checklist: #8202

[2017-03-30 23:20] powdercloud commented on #5352
Sorry I haven't done anything to pr-check in a long time. I think Erwin knows it best (and the workflow around it ...), so I'll assign to him for now. Feel free to bounce it back to me as you see fit. Thanks!

[2017-03-30 23:30] rudygalfi commented on #6417
We're going to track this in #8202 going forward and close this issue.

[2017-03-30 23:30] #6417 closed

[2017-03-30 23:43] levidurfee opened #8523 "amp-gist: fixed-height layout"
Instead of allowing any layout for `amp-gist`, the `fixed-height` layout seems to be the best option. This will prevent layout jumps.

The only real change in the code would be changing the `isLayoutSizeDefined()` call.

[code]

It would require the person adding the gist to inspect it on GitHub to find the actual height in pixels. Even though that is an extra step, it will result in a better expe

[2017-03-30 23:44] ericlindley-g opened #8524 "amp-video-iframe"
`amp-video-iframe` will be a special flavor of `amp-iframe` intended for the display of video. It will use the [video interface](https://github.com/ampproject/amphtml/issues/3945) to do things like receive a postMessage to pause/play the video or send messages back to parent frame on video events such as pause/play. These capabilities will be used to implement UX behaviors and support analytics (#

[2017-03-31 00:07] ericlindley-g commented on #6088
Closing this issue (thanks for filing!) and tracking the feature that should solve this here: https://github.com/ampproject/amphtml/issues/7231

[2017-03-31 00:07] #6088 closed

[2017-03-31 00:11] ericlindley-g commented on #2911
@aghassemi  — would the use cases described in this bug be addressed with https://github.com/ampproject/amphtml/issues/8411 ?  If so, we can close and track there.

[2017-03-31 00:12] ericlindley-g commented on #5483
Closing in favor of other bugs: https://github.com/ampproject/amphtml/issues/8411

[2017-03-31 00:12] #5483 closed

[2017-03-31 00:14] ericlindley-g commented on #1443
Re-opening this to track in context of using scrollbound animation framework to power the feature

[2017-03-31 00:19] aghassemi commented on #8523
SGTM. It is still going to be impossible to know the height in certain cases ( for instance if a gist file is `.md` or `.txt` gist rendering does width-dependent wrapping ) but for most cases where it is just code, wrapping does not happen so height is fixed. Anyway, resize takes care of the cases where given initial height was wrong. Good to force the initial height to be as close to the final he

[2017-03-31 00:31] aghassemi commented on #2911
@ericlindley-g not everything, but we have also decided not to allow css triggers based on visibility or scroll due to ux/perf abuse potentials in the Design Review Meeting on 3/22 (https://github.com/ampproject/amphtml/issues/8190). (this issue is essentially  `amp-visibility-spy` I proposed in that review meeting)

Iterating out solution:
-#8411 will cover certain scroll-based animations
-For th

[2017-03-31 00:39] ericlindley-g commented on #7557
Haven't checked in on this in a bit, but I'm assuming the event never fires without explicit user interaction (user taps the update button), as opposed to triggering when new data comes in. Is that the case?

[2017-03-31 00:44] choumx commented on #7557
@ericlindley-g Current behavior post #7990 is that it does fire without user interaction, but only if there is an update. This admittedly does make me a bit nervous.

[2017-03-31 00:53] ericlindley-g commented on #7557
Got it — I feel pretty strongly that we should only refresh bind attributes on explicit user action, unless we impose strict guidelines on what can be affected by these changes (no ads, no forms, no iframes, etc... — which I'm guessing isn't really feasible). WDYT?

Explicit user action would be tapping on a button
Scrolling down the page wouldn't count as an explicit user action
Swiping the carou

[2017-03-31 00:58] choumx commented on #7557
SGTM. Would you mind filing an issue and cc'ing me and @kmh287?

[2017-03-31 02:42] ericlindley-g commented on #7557
Will do. And sorry to come in late on this and cause churn, @choumx and @kmh287 —I really appreciate the change.

[2017-03-31 02:47] ericlindley-g opened #8526 "Remove bind event for amp-live-list receiving events (instead, require explicit user interaction)"
Per: https://github.com/ampproject/amphtml/issues/7557#issuecomment-290586595

Make it so bind events aren't fired on update to amp-live-list content, but rather only on explicit user action (e.g. tapping the `update` button)

/cc @choumx

[2017-03-31 03:22] Shreerang opened #8527 "Google Analytics not working"
## Short description of your issue:

Google Analytics does not seem to be working on AMP based sites.

## How do we reproduce the issue?

I am using the chrome Tag Assistant extension to check this and the on AMP based sites the result always is "Tags not found". Even on ampproject.org, we have the same situation.

## What browsers are affected?

All browsers I guess.

## Which AMP version is affe

[2017-03-31 03:49] #8523 closed

[2017-03-31 04:52] #8521 closed

[2017-03-31 05:28] 1987yama3 commented on #8527
me too.

I did try it at ampstart project(clone).

when don't change(default trackingID), it is not send to Google Analytics. but it send to ```https://stats.g.doubleclick.net/r/collect```.
when change tracking ID to mine, it is send to Google Analytics. and it has no problem.

following is send to doubleclick.net request URL.

[code]

[2017-03-31 05:40] rudygalfi commented on #8527
All analytics integrations in AMP use amp-analytics, which doesn't run any of the analytics vendors' specific JavaScript like Google Analytics' analytics.js. This means that the [Chrome extension you mentioned](https://chrome.google.com/webstore/detail/tag-assistant-by-google/kejbdjndbnbjgmefkgdddjlbokphdefk) is likely unaware of it and won't detect it.

When I look at the network traffic on amppr

[2017-03-31 06:01] 1987yama3 commented on #8527
Please see following...

![capture_20170331_1500](https://cloud.githubusercontent.com/assets/29188/24538228/da39eb98-1622-11e7-9c16-d6d3e29a46bc.png)

[2017-03-31 06:12] rudygalfi commented on #8527
I'm not reproducing. Are you using anything on the client side that might block requests like an ad blocker?

[2017-03-31 10:41] ankur0890 commented on #8477
@aghassemi Working now. Thanks for quick fix :)

[2017-03-31 10:42] ankur0890 commented on #6737
@camelburrito Thanks for the explanation. Yeah it would be great if you can create some snippet. Will try it my own also. Thanks :)

[2017-03-31 11:36] neko-fire commented on #8264
Hi @aghassemi

I've looked into this issue - yes indeed we do not send any messages back, but we can develop it.

Questions:
- what messages shall we send back and how shall we structure it?
- when shall we send back the message - only when the player receive a postmessage or also events from other sources like clicking on the play button in the player

[2017-03-31 13:38] tdrl opened #8528 "amp-analytics not generating some visibility pings on Safari"
## Short description of your issue:

In some cases on Safari, `amp-analytics` appears to fail to generate visibility pings for `amp-ad` slots when it should.

## How do we reproduce the issue?

1. In desktop or iPhone Safari, with debugger network tab open, load this page: https://www-theatlantic-com.cdn.ampproject.org/c/s/www.theatlantic.com/amp/article/521262/?exp=a4a:2
1. This page has two `<am

[2017-03-31 13:39] tdrl commented on #8528
/cc @ampproject/a4a

[2017-03-31 14:44] keithwrightbos commented on #8528
To be clear, this is for Fast Fetch only.

[2017-03-31 14:51] jasti commented on #8480
@rowangray do you have a non-AMP example for the carousel ad refresh?

[2017-03-31 15:59] aghassemi commented on #8264
@neko-fire Thanks for looking into it.

We need messages whenever the following events happen in the player (regardless of whether it is performed by the user or programatically):
  - when video starts playing (user taps the play button or `play()` method is called).
  - when video pauses (user taps the pause button or `pause()` method is called).
  - when video is muted (user taps mute button, se

[2017-03-31 16:01] lannka commented on #8528
Thanks for filing the details. Taking a look right now.

[2017-03-31 16:23] choumx commented on #8526
My mistake, the PR hasn't been merged yet. Closing and adding a comment on #8377.

[2017-03-31 16:23] #8526 closed

[2017-03-31 16:38] aghassemi opened #8531 "Implement height responsive layout in AMP"
## Summary
Currently `layout=responsive` fills the width of the parent and resizes height while keeping the aspect ratio intact.

We like to also have the exact opposite: fill parent's height and resize width while keeping the aspect ratio intact.

## Prototype
This is doable using `img` and `svg` hack as prototyped here:  http://codepen.io/aghassemi/pen/MpZpmM

## Format
1- `layout="responsive-he

[2017-03-31 16:39] dvoytenko commented on #8528
@tdrl Could you please try this with `visibility-v3` experiment on?

[2017-03-31 16:49] lannka commented on #8528
tried locally, v3 seems to fix the issue. still looking for root cause

[2017-03-31 16:51] ericlindley-g commented on #6057
/cc @choumx

[2017-03-31 17:22] #5639 closed

[2017-03-31 17:23] aghassemi commented on #7972
With https://github.com/ampproject/amphtml/issues/8531 , `<amp-layout>` may be the only option as we need to run JS to generate the SVG and a pure CSS implementation using `calc` and css-vars, `attr()` won't cut it anymore.

(Of course AMP Cache can still optimize this for all layouts same way it is planning to do so now by server-side rendering)

[2017-03-31 17:51] #8209 closed

[2017-03-31 17:51] dvoytenko commented on #8241
@jasti @ericlindley-g This is because the page does not specify `top: 0;` for the header which is required for us to keep it anchored to the top. Auto-top fixed elements are not anchored. Please follow up with the page authors.

[2017-03-31 19:09] lannka opened #8534 "Add a unit test for visibility trigger when the element is initially in viewport"

[2017-03-31 19:10] lannka commented on #8528
Found the root cause. v3 actually work around the bug accidentally.
fix is here: #8535

[2017-03-31 19:13] lannka commented on #8528
I also want to point out that this bug should not be relevant to the discrepancy you saw between Android and iOS, since that was for delayed fetch.

[2017-03-31 19:13] dvoytenko commented on #8241
Actually, I have an idea how we can address this particular special case. I see if I can do it automatically.

[2017-03-31 19:16] #8402 closed

[2017-03-31 19:17] #8191 closed

[2017-03-31 19:46] tdrl commented on #8528
Well, it's true that the iOS ActiveView rate is lower in DF iOS than in DF Android.  We do need to understand that.  But it's _also_ the case that AV rates are lower in FF than DF in both iOS and Android (and dropped after the AMP release on Mar 23), while we would expect them to be higher.  This issue might account for some of _that_ gap.

[2017-03-31 20:31] #8519 closed

[2017-03-31 20:46] Shreerang commented on #8527
My site is akshataphotography.com and I see the same thing that @1987yama3 is seeing on his!
<img width="1436" alt="screen shot 2017-03-31 at 1 44 44 pm" src="https://cloud.githubusercontent.com/assets/3829231/24568834/5f229784-1618-11e7-9427-92de87b4d28f.png">

[2017-03-31 20:59] aghassemi opened #8538 "unskip form integration tests"
They are all skipped with "Flakey timeouts on saucelabs". Even if we can't resolve the SauceLabs flakyness, we need to have them run at least on local/Travis. (worse case we have to add a new skipSauceLabs() method)

[2017-03-31 21:18] rudygalfi commented on #8527
Thanks for the link. It looks like the page-level visibility isn't firing. We're taking a look.

[2017-03-31 21:35] ericlindley-g commented on #8368
Passing to @choumx  and @aghassemi before the brainstorm on Tuesday, then will make sense to find a single owner

[2017-03-31 21:35] ericlindley-g commented on #7765
passing to @choumx

[2017-03-31 21:48] choumx commented on #8393
Bumping since validator changes haven't been pushed yet.

[2017-03-31 22:19] rudygalfi commented on #8527
We think this is working as intended. But it looks broken because of how the Chrome console is showing the network traffic. The pageview request is getting 302'd to a doubleclick.net URL. It's actually being sent as expected. In Chrome, however, the original request isn't shown sometimes.

To check this, you can open up Firefox, and you'll see:
<img width="1631" alt="screen shot 2017-03-31 at 15 1

[2017-03-31 22:19] #8527 closed

[2017-03-31 22:24] #8241 closed

[2017-03-31 22:29] jasti commented on #8241
Thanks @dvoytenko!

[2017-03-31 22:41] lannka commented on #6563
I reproduced the issue on Edge. But I think it's more likely an ad targeting issue, because the `amp-ad`  is collapsed after receiving a "no-content" message from the creative iframe.  you might want to try the same ad slot in a non-AMP environment, and see if it loads ads in Edge.

[2017-03-31 22:41] #6563 closed

[2017-03-31 22:41] #4147 closed

[2017-03-31 22:45] spacedino commented on #8238
![19_ad_loader_new copy](https://cloud.githubusercontent.com/assets/7339798/24571847/e61d05ca-1628-11e7-80d2-61accac67acf.png)

![18_ad_loader_new](https://cloud.githubusercontent.com/assets/7339798/24571850/e876e548-1628-11e7-9ecc-224eae17ce23.png)

notes from email: we just want to double check it on a few devices to make sure its not over saturated. also not sure if the #000000, 1% will work on

[2017-03-31 23:07] lannka commented on #8238
@spacedino could you actually apply the design on more background colors and paste them here?

[2017-03-31 23:33] #8528 closed

[2017-04-01 00:43] adelinamart commented on #8065
@leonessaarnaldo do you still have any other questions here? feel free to reopen if so.

[2017-04-01 00:43] #8065 closed

[2017-04-01 01:04] adelinamart commented on #3233
@Gregable any updates here? Thanks

[2017-04-01 01:38] dvoytenko commented on #8504
@sebastianbenz Do you know what might be causing this?

[2017-04-01 02:06] dine1504 commented on #3553
Does this code works in your AMP page?

[2017-04-01 02:46] #8216 closed

[2017-04-01 07:54] dvoytenko commented on #8531
@aghassemi Can this layout be tooled to support both X and Y responsiveness in the same time? What I'm looking to achieve is similar to `object-fit: contain`.

[2017-04-03 08:33] rowangray commented on #8480
So the use case we need to recreate in an amp environment are the galleries on the Independent website.
An example can be found here: http://www.independent.co.uk/news/world/asia/south-koreans-cheer-north-korean-women-ice-hockey-team-gangneung-world-championship-a7662616.html

on this article is a gallery, clicking anything on the gallery will bring you the lightbox carousel example

[2017-04-03 09:17] arunchaitanyagyan opened #8544 "Amp Ads, Teads not loading when DOM is loaded."
I am working on Amp-ads , and i am using

`<amp-ad
	width="300"
	height="1"
	type="teads"
	data-pid="{your pid here}">
</amp-ad>`

I figured out that, when i am using the above code directly in my php files, amp ad is rendering.

But then i am using the code via javascript or php DOM to add it in content,my Amp ads not rendering every time.

If i hard reload for 5 to 10 time, i am able to see 1 ti

[2017-04-03 09:40] derekcecillewis commented on #6057
I apologize for my lack of input the past couple of weeks. I intended to move forward on this the week of 3/13 as I stated in the weekly status, but unfortunately had to tend to higher priority tasks. I have been hesitant to continue moving forward as the following week @ericlindley-g proposed support for filterable tables in a separate issue (#8368) and suggested we combine sorting and filtering

[2017-04-03 14:43] asadkn commented on #8268
It would be great if this was more generic and could be applied to other elements like a fixed "back to top" that becomes visible only at certain top / bottom position.

Google itself had a back to top button recently: http://www.thesempost.com/google-testing-back-to-top-mobile-search-results/

[2017-04-03 14:51] ericlindley-g commented on #8268
Thanks for the feedback, @asadkn — I think the more general scrollbound amp-animation feature could be used to support this. @aghassemi , is that right?

[2017-04-03 15:04] cramforce opened #8545 "Relaxing no-same-origin-iframes restriction"
AMP doesn't allow embedding iframes that are on the same origin as the document.

This was done to prevent the risk of pages accidentally relying on the same-origin-ness, because the iframe would **not** be on the same origin when served from the cache.

There are, however, some downsides

- Some ads stuff is using `localStorage` on the publisher domain, and they typically want their access to the

[2017-04-03 15:42] mrjoro opened #8546 "Weekly Status 2017-04-03"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-04-03 15:58] aghassemi commented on #8268
#8411 should cover "back to top" (using a marker somewhere in the page to act as the trigger upon visibility). I will add it to the list of use-case to verify.

[2017-04-03 16:13] aghassemi commented on #8403
/to @dvoytenko
@zhouyx Is this at all related to what you have been working on recently for scoping analytics?

[2017-04-03 16:30] aghassemi commented on #8531
@dvoytenko very interesting idea, haven't thought about it. I quickly tried a few approaches but couldn't make it work. Might still be possible, just needs some further thinking/prototyping.

[2017-04-03 16:35] lannka commented on #8546
- Fixed a visibility trigger issue in InOb polyfill.
- Completed all [4 fixit items](https://github.com/ampproject/amphtml/issues?q=is%3Aissue+milestone%3A%22Fixit+Week+EOQ1%22+assignee%3Alannka+is%3Aclosed)

[2017-04-03 16:40] erwinmombay commented on #8546
- on duty work
- sick

[2017-04-03 17:20] choumx opened #8549 "amp-bind: Documentation for debugging and error types"

[2017-04-03 17:34] kmh287 commented on #7557
Since we won't be going forward with 1, I'll close this issue.

[2017-04-03 17:34] #7557 closed

[2017-04-03 18:06] sebastianbenz commented on #7557
@ericlindley-g what are you concerns regarding automatically refreshing bind attributes with amp-live-list? What is this going to enable what's not already possible with amp-live-list?

[2017-04-03 18:10] Gregable opened #8550 "Clearer validator error messages for missing layout attributes"
One of the more common validator errors seen by developers is for missing layout attributes. For example, the following tag:
[code]

Produces the following error:
[code]

This error is accurate, since lacking any layout attributes implies the `CONTAINER` layout, which isn't allowed for `amp-img`. However, this is a confusing error message to someone not intimately familiar with the amp layouts. We

[2017-04-03 18:18] keithwrightbos opened #8551 "I2I: Amp Ad Real-Time Config"
Publisher pages hosted by the CDN do not allow the publisher to specify different amp-ad implementations by user, device, etc. For amp-ad elements, [remote HTML](https://github.com/ampproject/amphtml/blob/master/ads/README.md#1st-party-cookies) addresses this deficiency by allowing publishers to specify the frame in which Delayed Fetch executes, in which custom JavaScript dynamically modifies inpu

[2017-04-03 18:27] keithwrightbos commented on #8551
Note that after looking at validation spec, plan is to move to a whitelist approach for valid attributes to ensure conformance.  Any data- prefixed attributes would be allowed.

cc/ @Gregable

[2017-04-03 18:28] spacedino commented on #8238
![image](https://cloud.githubusercontent.com/assets/7339798/24624386/930a282e-1860-11e7-94dc-b01dd62c425d.png)

![image](https://cloud.githubusercontent.com/assets/7339798/24624410/a33672ac-1860-11e7-9c96-645a28afee56.png)
 @lannka we might need to tweak this live

[2017-04-03 18:32] choumx commented on #6199
@ericlindley-g Moving back to prioritized FRs since this is a top-level tracking issue.

[2017-04-03 18:33] jasti commented on #8551
@ampproject/ads FYI

[2017-04-03 18:33] #8392 closed

[2017-04-03 18:35] aghassemi commented on #8499
The visibility conditions for `amp-animation` will be done as part of  https://github.com/ampproject/amphtml/issues/8411 . Haven't though about how this can/does related to CSS animations.

[2017-04-03 18:40] choumx commented on #7765
/to @kmh287

[2017-04-03 18:40] aghassemi commented on #8206
I am moving thing back to `New FR`. @muxin Is anything high-priority waiting for this?

[2017-04-03 18:44] aghassemi opened #8553 "amp-carousel: Improve iOS 10.3 swipe interaction"
https://github.com/ampproject/amphtml/issues/7670 fixed a showstopper but with iOS 10.3 and amp-carousel, however the solution needs further improvements to fix overscroll and other UX issues.

Moving the remainder of https://github.com/ampproject/amphtml/issues/7670 here.

[2017-04-03 18:44] aghassemi commented on #7670
Closing this and moving he remaining work to https://github.com/ampproject/amphtml/issues/8553

[2017-04-03 18:44] #7670 closed

[2017-04-03 18:46] aghassemi commented on #8553
/cc @ericlindley-g

[2017-04-03 18:46] jasti commented on #8499
That sounds good. The CSS ones will be handled in #7846.

[2017-04-03 18:53] ericlindley-g commented on #6199
Makes sense — thanks!

[2017-04-03 19:44] taymonbeal opened #8558 "AdSense getAdUrl test failure at master"
Example: https://travis-ci.org/ampproject/amphtml/builds/218181006

This has been affecting Travis builds at master for a while.

@ampproject/a4a

[2017-04-03 19:49] choumx commented on #7907
#8322 suggests that the XHR mechanism should support the batching that was recently added to `amp-list`. We should share code where possible.

[2017-04-03 19:50] choumx commented on #8322
AFAICT this is an implementation detail of #7907. Closing in favor of that issue.

[2017-04-03 19:50] #8322 closed

[2017-04-03 19:54] ericlindley-g commented on #8322
Sounds good (/cc @cramforce to make sure we're not missing any other related opportunities w/ amp-bind)

[2017-04-03 20:26] muxin commented on #8206
If ios has new version 10.4 then I need to disable native snap point in slidescroll for versions later than 10.3 instead of just 10.3.

[2017-04-03 21:27] alanorozco commented on #8446
https://github.com/ampproject/amp-by-example/pull/736 for example

[2017-04-03 21:30] rudygalfi commented on #8478
@veged In your nomenclature, can you clarify what the difference between "cacher" and "static CDN" is?

[2017-04-03 21:30] lannka opened #8562 "Deprecating an inappropriate behavior of window.context.observeIntersection"
Updated on 8/1/2018:

We plan to deprecate an inappropriate behavior of `window.context.observeIntersection` API. It calls the callback with the [initialIntersection](https://github.com/ampproject/amphtml/blob/master/ads/README.md#initial-viewport-intersection) right after it gets registered ([code](https://github.com/ampproject/amphtml/blob/master/3p/ampcontext.js#L180)).

Instead, ad network scr

[2017-04-03 22:01] #7823 closed

[2017-04-03 22:05] #7104 closed

[2017-04-03 22:23] michaelkleber commented on #8551
One alternative that we discussed: Rather than the JSON response having a bunch of key-value pairs that turn into properties of the `amp-ad` tag, we could let the tag's values in the markup contain a new type of macro token to expand, and have the RTC call-out list all of the macros, and the response JSON have values for them.  That is,

`<meta name="amp-ad-remote-config-url" content="https://foo.

[2017-04-03 22:44] honeybadgerdontcare opened #8566 "Server-side rendering for AMP caches"
### Goal
Remove the AMP boilerplate so that the AMP document can be painted without running the AMP runtime JavaScript.

### Overview
Every AMP document has a required boilerplate that prevents displaying the document till rendering has completed or an 8 second timeout has been reached. The AMP runtime applies several transformations to the document and some of those have become stable enough that

[2017-04-03 22:44] honeybadgerdontcare commented on #8193
Can talk about Server-side rendering in AMP caches: #8566

[2017-04-03 23:02] #8188 closed

[2017-04-03 23:23] zhouyx commented on #8403
Scope does sounds like a possible solution to me in this case. @dvoytenko WDYT?

[2017-04-03 23:54] levidurfee commented on #8546
* Added a new feature to amp-gist
* Going to check #8016 and see if it can be closed

[2017-04-03 23:54] levidurfee commented on #8016
@ayumihamsaki can this issue be closed?

[2017-04-04 00:03] #5619 closed

[2017-04-04 00:16] ericlindley-g commented on #6057
Hey Derek — no worries on having to take a break to work on higher priority things. The brainstorm tomorrow is an exploratory half-day research and hacking session: too long and too unfocused for design review (will mostly be heads down time). The exploration is in part to see if it even makes sense to do things as I  initially proposed, or if there's a better solution. After thinking through this

[2017-04-04 00:18] ericlindley-g commented on #7557
If I understand correctly, there are a few potential ways for `amp-live-list` updates to support `amp-bind`:

1. Trigger bind events when new data comes in (rather than on user interaction with `update` button, which is already supported)

2. Trigger updates to `amp-state` data when new `amp-live-list` updates come in

3. Ensure that bindable elements inside of new `amp-live-list` items are proper

[2017-04-04 01:11] cramforce commented on #8551
Would it make sense to make this "batched" by default (only ever make a single request for the entire page)?

[2017-04-04 02:12] michaelkleber commented on #8551
In the original proposal, batching would mean applying the same attributes to each `amp-ad` slot on the page, or else making up some sort of unique identifier and a way to bundle/unbundle the request/response data.

In the alternative where the response contains values to substitute into keys present in the `amp-ad` attributes in the markup, one request for the whole page seems reasonable; we're s

[2017-04-04 02:18] cramforce commented on #7557
I would like to punt on #2 and #1 unless there is very strong demand on it.

I'd much rather make this decision in 6 months when we have learned a bit
more about amp-bind in the wild.

On Mon, Apr 3, 2017 at 5:18 PM, ericlindley-g <notifications@github.com>
wrote:

[2017-04-04 05:23] dknecht commented on #8566
cc: @ampproject/cloudflare

[2017-04-04 08:42] jsmad opened #8568 "Unacceptable, forced to use CDN instead of self hosting."
I find it **unacceptable** that we are forced to use a foreign server for loading the amp scripts.

This is a security risk (admittedly a minor one) but more importantly it is an **information leak**. I am not interested to share information about my users with google or whoever runs the CDN, including referrer, browser and other user information.

Thus, we should be able to host the scripts on ou

[2017-04-04 14:22] neko-fire commented on #8264
@aghassemi thanks a lot for!

quick update: we are currently reworking postmessages in our player. For amp-nexxtv-player there is only a small change required. I'll submit a fix when the player is live and working.

[2017-04-04 14:59] aghassemi commented on #8264
Sounds good, thanks!

[2017-04-04 15:22] bjalford commented on #8568
On the flipside, doesn't it come with the benefit that a user knows it's the 'true' AMP files being executed and not manipulated, with all their inbuilt validation etc? Also, couldn't there also be a speed improvement if those files are distributed so that they could be cached when navigating between AMP sites?

[2017-04-04 16:48] cramforce commented on #8478
The 2 currently existing AMP Caches rewrite AMP JS URLs to their own CDN to be able to have fully qualified version URLs.

Regarding alternatives: The existing fallback mechanism can probably do that without new semantics. I could see to whitelist tags with a certain prefix in the validator. How would their implementation (Typically a JS file) get into the page?

[2017-04-04 17:38] cramforce commented on #8568
I started the discussion here.
https://medium.com/@cramforce/decentralized-hosting-of-amps-javascript-npm-for-the-web-75ed698a4d64

This is definitely something that can be addressed if people feel strongly about it.

You do, however, overestimate the value of the information sharing since the resources themselves are cached and hence only a small subset of page views actually trigger requests.

[2017-04-04 18:09] honeybadgerdontcare commented on #7868
@Superdrac The AMP Cache will no longer make form[action] or form[action-xhr] fragment URLs but always make them absolute to origin site. I've confirmed this is fixed with both a test site and with your site that you mentioned previously.

[2017-04-04 18:09] #7868 closed

[2017-04-04 18:23] choumx commented on #8368
Short recap of discussion with @aghassemi and @ericlindley-g:

[2017-04-04 18:24] weeblr commented on #7868
@honeybadgerdontcare action and action-xhr being broken is **not the only thing broken** by this optimization feature. As described in my previous message, you also broke any self-referencing link (required for refreshing the content of a page after posting a comment for instance).
How do you suggest a page reload be implemented if the cache breaks it?

[2017-04-04 18:25] honeybadgerdontcare commented on #7868
@weeblr please create a new issue with that specific case as this issue was for amp-form.

[2017-04-04 18:55] derekcecillewis commented on #6057
I'd be interested to know the result of the brainstorming around filterable tables and whether this component will be implicated. I'll reach out to you on Slack later today to catch up on the details. Thanks for the speedy response and I hope today's research and hacking goes well.

[2017-04-04 19:13] keithwrightbos commented on #8551
My biggest concern is about how we will bundle config for multiple slots into a single request.  I propose the following:

- Meta tag only provides end point with url replacement support for RANDOM and CANONICAL_URL
- An XHR CORS POST (to ensure no issues with url length) is sent to that end point whose body contains separate lines for each slot with the following information:  the name/value of a

[2017-04-04 19:16] ryanpoplin opened #8571 "Possible Google Cache issue with query string parameters for amp-iframe video interactive"
## How do we reproduce the issue?

1.) On your test device for AMP, please type in 'cnn' in the Google Search Engine field to load in the AMP carousel for CNN.

2.) Pressing on any of the articles in the carousel will take you to the AMP carousel to view single articles.

3.) Scroll until you find 'video' enabled articles and you'll eventually notice that some of our videos are not associated with

[2017-04-04 19:31] michaelkleber commented on #8551
@keithwrightbos That all sounds good to me.  I would suggest being more tolerant to response errors (, timeouts, etc): maybe a complaint in the JS console, but still execute all the `amp-ad` elements, leaving the macros unchanged.

[2017-04-04 19:49] aghassemi commented on #6057
@derekcecillewis We ended up focusing on server-side sorting, filtering and pagination which requires a fairly different approach and uses `amp-list`. @choumx will be leading that.

We briefly chatted about client-side sort and filter as well. We have some ideas for that. In short, I am hoping we can provide a more generic client-side sorting solution that works for tables, lists or even bunch of

[2017-04-04 20:44] kmh287 commented on #8395
Is there a case this doesn't work for? I just tried:

[code]
Where pressing the button will change the p tag's text to: `"You have pressed "the button""`

[2017-04-04 21:15] dhulwells commented on #8450
I'll take this one on.

[2017-04-04 21:32] muxin opened #8575 "`gulp --https` does not work"
Might be related to https://github.com/ampproject/amphtml/pull/8496

[2017-04-04 22:21] zhouyx commented on #8575
fixed by #8578

[2017-04-04 22:21] #8575 closed

[2017-04-04 23:06] lannka commented on #8499
OK, sounds we have separate trackers for the 2. Closing this now.

[2017-04-04 23:06] #8499 closed

[2017-04-04 23:09] techhtml opened #8580 "What think about `amp-syntax` for syntax highlighting"
I used AMP for my technical blogs but AMP does not have any syntax highlighter.
So i think if AMP will have syntax highlighter, it'll helpful for blogs.

[2017-04-04 23:39] choumx commented on #6054
/cc @choumx

[2017-04-04 23:57] #8538 closed

[2017-04-05 00:06] muxin commented on #8358
Closing this because cannot repro anymore

[2017-04-05 00:13] ericlindley-g commented on #8368
Adding language in titles to distinguish this (client-side) from the potential server side solution (https://github.com/ampproject/amphtml/issues/6054)

[2017-04-05 00:18] ericlindley-g commented on #6054
FYI that we're looking into better support for sorting and filtering that might look similar to the solution here (and possibly enable "load more" on button tap, as well)

Added language in title to distinguish this from #8368 (client-side sort/filter)
Should I pass this to you, @choumx ?

[2017-04-05 00:39] dvoytenko commented on #8515
@clawr Thanks a lot for the spec. I have a few questions:

The `amp-ad-exit` is however always in the creative itself, right? Looking at the "tap" events and config itself - it's fairly extensive and it'd seem that overall markup changes are very likely? E.g. what is `_elem='p1'`?

a. Do you take a risk of not being able to open a new tab because user action has expired? This would seem to be espe

[2017-04-05 02:57] jasti commented on #8193
@clawr, can you, by any chance, come to tomorrow's design review to talk about #8515?
Thanks.

[2017-04-05 03:35] mrjoro opened #8582 "Design Review 2017-04-12"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-04-05 03:36] mrjoro opened #8583 "Design Review 2017-04-19"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-04-05 03:36] mrjoro opened #8584 "Design Review 2017-04-26"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-04-05 03:59] jasti commented on #8193
@clawr sounds like tomorrow's agenda is packed. Would you please be able to present #8515 at next week's design review - #8582? Thanks!

[2017-04-05 06:18] michaeld79 opened #8585 "Taboola throws error on type others"
## How do we reproduce the issue?
the taboola script does not support type "others" it supports "other" so when using data-other the taboola widget is not rendering.
and returning an error other is not supported
[http://jsbin.com/zegafun/edit?html,output](http://jsbin.com/zegafun/edit?html,output)
reproduction is in the url or just use :

`<amp-embed width=100 height=283
             type=taboola

[2017-04-05 07:53] weeblr opened #8586 "amp-cache breaks self-referencing links"
## Short description of your issue:

This is sort of a follow-up to #7868. When an AMP page is displayed on the AMP cache (the Google one at least, unknown with others), all links found in the page pointing at itself (I mean the source origin, not the cache URL) are replaced with a #, presumabely as a size optimization.

If your source origin is https://example.com/my-page/amp
and it's cached at h

[2017-04-05 07:54] weeblr commented on #7868
@honeybadgerdontcare  I opened #8586

[2017-04-05 08:22] kristianantov commented on #8479
I fixed the problem for now ... it's not the best way but works ... on Orientationchange event I made these 2 methods :

lightBox.invalidateCurrItems();

lightBox.updateSize(true);

[2017-04-05 10:06] rowan-m opened #8587 "amp-gist shows error on "View Raw" link"
As shown on https://ampbyexample.com/components/amp-gist/ the initial Gist will display, but tapping the "View Raw" link results in a blank frame and the following errors:
[code]

## How do we reproduce the issue?

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue and nothing else.
https://ampbyexample.com/components/amp-gist/

## What b

[2017-04-05 10:07] sebastianbenz commented on #8587
//cc @levidurfee

[2017-04-05 10:16] jsmad commented on #8568
@bjalford, I am not sure what a 'fake' AMP js file could be about, but I'm open to it. Most libraries use Subresource Integrity to help mitigate fake scripts. About caching, I prefer to do my own caching and not depend on 3rd parties, so a public cdn is a negative for me.

@cramforce, well written, thank you for taking the time to analyse the issue. I do feel strongly about information leakage and

[2017-04-05 11:31] levidurfee commented on #8587
Thanks! I'll look into it later today.

On Apr 5, 2017 6:07 AM, "Sebastian Benz" <notifications@github.com> wrote:

[2017-04-05 15:20] clawr commented on #8582
I'll come to discuss #8515

[2017-04-05 15:26] ericlindley-g commented on #8571
Thanks for calling this out, @ryanpoplin. I can't reproduce the issue, on my device so far — could you include the URL of a couple examples so we can check it out in more detail?

/cc @vitaliybl on cache side
/to @dvoytenko for input on where the issue might be and for help triaging who might be best to take a look

[2017-04-05 16:06] aghassemi commented on #8580
Hi @techhtml,

There are a few options available for you:

1. You can do server-side syntax highlighting. https://ampstart.com and https://ampbyexample.com are both valid AMP websites and they use https://www.npmjs.com/package/highlights to do server-side syntax hightlighting. You can checkout their open-source repos on https://github.com/ampproject to see how they have integrated it.
2. You can u

[2017-04-05 16:14] aghassemi commented on #8586
/to @honeybadgerdontcare

[2017-04-05 16:16] mikewest commented on #8545
Based on the description in the issue, it's not at all clear to me what you're asking for in `allow-same-origin-but-no-access-to-parent`? What's the threat you're aiming to mitigate?

[2017-04-05 16:16] mikewest commented on #8545
(This is probably because I'm ignorant of the whole context. :) )

[2017-04-05 16:28] honeybadgerdontcare commented on #8586
/to @dvoytenko How should AMP caches handle fragments on origin? If there's an anchor tag (e.g. #toc) then rewrite to cache and if just a fragment (#) then rewrite to absolute origin?

[2017-04-05 16:34] weeblr commented on #8586
@honeybadgerdontcare Just to be sure we're on the same line, this is not about the fragment. I don't have any issue with fragment. Sorry if I misinterpreted your comment.

What's happening here is that href or src attributes pointing at the full origin URL  are rewritten to a single fragment, ie

`<a href="https://example.com/my-page/amp">Click to refresh</a>`

is automatically optimized by the ca

[2017-04-05 16:50] honeybadgerdontcare commented on #8586
@weeblr agreed that your specific request is not about the fragment, but one of the reasons transformations like this happen is because of fragment like behavior.

[2017-04-05 16:52] weeblr commented on #8586
@honeybadgerdontcare OK, no problem then

[2017-04-05 16:53] #8187 closed

[2017-04-05 16:58] choumx commented on #8394
@kmh287 I think we should add some more documentation about deep merging with some examples (including how to remove a key) in an "Appendix" section of amp-bind.md. Would you mind doing that as part of this issue?

Also, can you run do some casual perf testing of deep merge with large autogenerated JSON? I'm curious how expensive this is in practice. E.g. if it is very expensive, perhaps it's wort

[2017-04-05 17:15] cramforce commented on #8545
@mikewest I think a pretty common invariant we and others would like to maintain is:

The current way to do this is to not grant `allow-same-origin`, but not giving that permission breaks all reasonable usage of `fetch`, storage access, etc. I've never seen a non-trivial iframe working without `allow-same-origin`.

[2017-04-05 17:19] cramforce commented on #8551
SSR has no impact on measurability of sizes. CORS POST with very declarative JSON sounds very good to me.

[2017-04-05 17:29] kmh287 commented on #8394
@choumx Both ideas sound good. :+1:

[2017-04-05 17:35] veged commented on #8478
@rudygalfi «cacher» — for serving APM html
«static CDN» — for serving js/css

[2017-04-05 17:38] veged commented on #8478
@cramforce What do you mean by «existing fallback mechanism»?
I suppose alternative tags are coming with alternative js/css for platform.

[2017-04-05 18:27] cramforce commented on #8478
@veged Something like this works in AMP

[code]

So you can nest alternative implementations.

[2017-04-05 18:49] choumx commented on #8397
Good point, we'd have to have a more sophisticated constraint to avoid that.

[2017-04-05 18:52] kmh287 commented on #8397
We could put a limit on the number of sequential setStates, but even then each one we allow multiplies our effective complexity limit.

[2017-04-05 19:09] mikewest commented on #8545
By "mess with my DOM", do you mean literally only that the child frame shouldn't be able to reach into the parent and poke at its DOM? Or do you want something more robust that would kill access to things like `window.parent.location`?

In other words, do you need something that would null out the `window.parent` reference entirely (what about `ancestorOrigins`, etc?), or would it be enough to do

[2017-04-05 19:12] spacedino opened #8592 "add hand icon to AMP Selector - show selection state with icon"
**Current behavior:**
Currently on hover for _amp-selector_ there is no UI to represent that this is a selection.

**Expected behavior:**
Cursor will change to a hand on roll over. I think this makes sense as an out of the box default. We always want to encourage UI to let the user know what to expect.

[2017-04-05 19:24] mrjoro commented on #8193
It sounds like the issues @derekcecillewis and @jasti mentioned will be covered in the future.

This week we'll start with @honeybadgerdontcare's server-side rendering and if there's time we'll cover @choumx's origin whitelist for AMP experiments.

[2017-04-05 20:24] rajkumarsrk opened #8594 "Dynamically insert content into anchor href on click"
## Short description of your issue:
Dynamically insert content into anchor href on click

## How do we reproduce the issue?
IOS safari doesn't allow third part cookies to get set and because of this we are not able to stitch the session and get clear metrics on the source attribution & bounce rate.

1. Visit https://www.google.com/amp/m.ebay.com/sch/amp/Digital-Cameras/31388/bn_779/i.html on IOS s

[2017-04-05 20:56] rudygalfi commented on #8594
Thanks for filing this issue based on our in-person discussion. Let me see if I can recall the context properly.

The types of substitutions you want to do are already possible in AMP. Specifically:
- Static data can just be appended as part of the href, i.e. `href="http://ebay.com/sch/Canon-Digital-Cameras/31388/bn_740/i.html?_trksid=p2376289.m4213.l8401"`
- Dynamic data liked CLIENT_ID can be ha

[2017-04-05 20:59] mrjoro commented on #8193
Notes on the server-side rendering:

- Is this intended for any server-side rendering of AMP pages?
  - No, just for AMP caches after they’ve validated the doc; it’s basically inlining part of the AMP runtime.
  - The docs won’t be valid AMP after this.
- Are we going to document the rules in code (vs. just in an English design doc)?
  - Dima has thought about pulling out the applyLayout JS, and c

[2017-04-05 21:02] mrjoro commented on #8193
Notes on origin whitelist for experiments:

- Benefit of this over per-page experiments if they have to include meta on each page anyway?
  - There’s an expiration for it
  - We have their contact info to be able to solicit feedback
  - Doc-level is “it’s about to launch, certainty is 99%”; only for a controlled set of experiments, the last step just before launch
  - Dima: we already have doc lev

[2017-04-05 21:23] rajkumarsrk commented on #8594
Yup for SEO reason we would like have the URL without these values

[2017-04-05 21:33] levidurfee commented on #8587
@rowan-m thank you for your help!

The default behavior of that link changes the page you are on. That doesn't seem ideal for this situation, we don't want people loading other pages in the iframe, so I think it might be best to have that link (and the two others) open in a new tab.

Would this be an acceptable solution?

[2017-04-05 21:44] lannka commented on #8372
We will be introducing an optional `referrerPolicy` attribute to `amp-pixel`.
[code]

For browsers with support, the new attribute will be directly carried over to the `<img>` element.
Otherwise, a iframe based polyfill will be used to scrub referrer if and only if `referrerPolicy="no-referrer"`.

@cramforce let me know if it sounds right.

[2017-04-05 21:53] cramforce commented on #8372
The attribute name is `referrerpolicy` (lowercase p) :)

The Safari that launched last week support `fetch` with `referrerpolicy`, so we can use that as an intermediate polyfill if we want to. Overall, however, we need to be conscious about `amp-pixel` size since this is a core extension.

[2017-04-05 22:25] rudygalfi commented on #8009
Is there any officially-endorsed integration from Joomla?

[2017-04-05 22:37] rudygalfi commented on #7984
@ecoron Are you working on adding this?

[2017-04-05 22:53] adelinamart commented on #6693
This was not updated in a while. @jasti is this still a P1? Thanks

[2017-04-05 22:53] rudygalfi commented on #4410
This is a good suggestion to make analytics configuration more robust, but I'm not seeing a great path for doing this due to the vendor rules we'd need to support and since we can't make assumptions about what kind of input vendors would generally expect.

[2017-04-05 22:53] #4410 closed

[2017-04-05 22:55] adelinamart commented on #5527
What's the latest status here? Thanks

[2017-04-05 23:01] #8442 closed

[2017-04-05 23:02] rudygalfi commented on #3022
I'm going to close this out. It looks like #3022 covered most or all of this.

[2017-04-05 23:02] #3022 closed

[2017-04-05 23:11] rudygalfi commented on #1540
Haven't done much with this in awhile. If anyone is interested to work on this now, please re-open.

[2017-04-05 23:11] #1540 closed

[2017-04-05 23:12] rudygalfi commented on #1305
I think everything proposed here can be covered by the visibility triggers. If not, then we should move forward with a clean issue to track that outlines a specific use case.

[2017-04-05 23:12] #1305 closed

[2017-04-05 23:14] MiCHiLU commented on #3022
@rudygalfi This is #3022. Are you mistaking closed an issue?

[2017-04-05 23:16] rudygalfi commented on #3022
Oops - meant #3593 seemed to address most of this

[2017-04-05 23:22] rudygalfi commented on #5247
@aghassemi Any sense of where we're at today on WCAG 2.0 Level A/AA compliance?

cc @ericlindley-g

[2017-04-05 23:22] rudygalfi commented on #5766
@muxin Are we resolved on an approach here? Can this be closed?

[2017-04-05 23:23] cramforce commented on #8545
I think both options would work for me, but the second would be enough (Since `parent.location` is covered by other mechanisms).

[2017-04-05 23:24] rudygalfi commented on #3855
@pdufour Could you describe your use case here in more detail?

[2017-04-05 23:26] #8042 closed

[2017-04-05 23:27] muxin commented on #5766
Yes, will go with malte's suggestion.

[2017-04-05 23:27] #5766 closed

[2017-04-05 23:33] rudygalfi commented on #4114
We have launched a way to pick up variables from an attribute as I described in my previous update. You can read more about it here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#variables-as-data-attribute.

I understand your constraint that the items are being read in through and API, so you're not able to touch the markup. Maybe we could `href` as

[2017-04-05 23:37] rudygalfi commented on #3297
Going to close this since there hasn't been much follow-on discussion, but if there are new updates planned with this project let us know.

[2017-04-05 23:37] #3297 closed

[2017-04-05 23:47] aghassemi commented on #5247
@rudygalfi Without a careful audit against the WCAG AA spec, it is hard to tell. Aside from a few of our interactive widgets like carousel and sidebar, many of the WCAG rules falls on the page author to comply with. So we can't fully apply WCAG to a framework but certainly can apply it to ampstart.com templates!

Overall based on the A11Y testing I did a few month back, we are mostly in a good sha

[2017-04-05 23:55] techhtml commented on #8580
I think i can use `amp-gist` for my job.
my blogs are serviced `github.io` and than `amp-gist` will helpful.

i'll use `amp-gist` and or `amp-iframe` for codepen.
Thanks!

[2017-04-05 23:55] #8580 closed

[2017-04-06 00:00] aghassemi commented on #8580
/cc @levidurfee lots of interest in `amp-gist`, I would be okay with moving it out of experimental before mid-April. Maybe just after https://github.com/ampproject/amphtml/issues/8587 is fixed?

[2017-04-06 00:12] rudygalfi commented on #5247
Thanks for the detailed reply @aghassemi!

I'm going to treat this like a question issue that's gotten an answer and go ahead and close it. However, if there are specific areas where we're falling short of WCAG AA support, then we should definitely track those as separate issues.

[2017-04-06 00:12] #5247 closed

[2017-04-06 00:25] cramforce commented on #8594
That makes some sense to me. Something like `data-dynamic-params="id=CLIENT_ID(foo)"` would work.

@rajkumarsrk Would you be up for implementing? Should be a straight forward change somewhere here https://github.com/ampproject/amphtml/blob/master/src/service/url-replacements-impl.js#L787

[2017-04-06 01:01] cvializ opened #8601 "Handle `.amp-form-submitting [submitting]` elements the same as submit-success"
It looks like a bug that [`.amp-form-submit-success [submit-success]` and `.amp-form-submit-error [submit-error]`](https://github.com/cvializ/amphtml/blame/master/extensions/amp-form/0.1/amp-form.css#L17) are hidden until the form encounters those states, but `.amp-form-submitting [submitting]` is not present in the `amp-form.css`. I believe this was unintentional and the submitting state should b

[2017-04-06 01:19] camelburrito opened #8602 "amp-ad-network-adsense-imp test failure"
Chrome 57.0.2987 (Mac OS X 10.12.2) amp-ad-network-adsense-impl   #getAdUrl returns the right URL FAILED

[2017-04-06 01:22] hemanth commented on #3297
Phew, Oki.

On Thu, Apr 6, 2017, 5:08 AM Rudy Galfi <notifications@github.com> wrote:

[2017-04-06 01:24] zhouyx commented on #8602
#8558

[2017-04-06 01:49] levidurfee commented on #8587
Hi @rowan-m , I went ahead and created a pull request (#8603) that fixes this issue.

When you have time, if you could please let us know if this is acceptable or not :)

Thanks again!

[2017-04-06 03:00] camelburrito opened #8604 "Failing test on canary build"
https://travis-ci.org/ampproject/amphtml/builds/219121384

Chrome Mobile 44.0.2403 (Android 6.0.0) reportErrorToServer should report experiments FAILED

[2017-04-06 04:36] jasti commented on #6693
@tdrl Has anyone on the AMP core team already committed to doing this? Should this be a P1?

[2017-04-06 07:07] Si0n opened #8605 "AMP-access: URI components not encoded"
## Short description of your issue:

The URI on login-sign-in AND login-sign-out have not encoded parameters which cause a problem:
![Error](https://i.gyazo.com/aba4fbe991bf3aff4b5e497dded21d0f.png)

![My settings for amp-access](https://i.gyazo.com/ea764682529030f400dfddb669da7a57.png)
`
    {
        "authorization": "https://f.home/amp-authorization/?rid=READER_ID&url=CANONICAL_URL&ref=DOCUMENT

[2017-04-06 09:21] weeblr commented on #8009
Hi

Nope, and unlikely to happen, the project does not endorse 3rd party plugins. There are currently 2 AMP joomla plugins (including ours).
Considering the market share of Joomla, I find it surprising that it is not listed, while obviously AMP support is available.

[2017-04-06 11:03] veged commented on #8478
@cramforce if it even works with `<amp-*>` (i.e. I can put `<amp-img>` inside `<amp-foo>`) tags it's exactly what we need!

[2017-04-06 13:13] unitydynamics opened #8610 "amp-form action-xhr enhancement: save results as part of page state"
I'm using the amp-form module to perform a page updated without a page reload. It's working fine. My search results are displayed to the user via an amp-mustache template. BUT when the user clicks into a result and then later hits the back button the results are gone. I need a way to save the state of the page.

So my question is: how can I make the back button show the same results the user origi

[2017-04-06 13:35] jasti commented on #8562
@lannka  Any way to know if anyone uses it right now?

[2017-04-06 13:39] DarXector opened #8611 "Intent to implement: video-interface and autoplay for amp-brid-player."
The [video-interface](https://github.com/ampproject/amphtml/blob/master/src/video-interface.js) is a common API that AMP expects all video players to implement. This allows AMP to treat all video players the same and to use it to provide common UX across players such as autoplay, dockable videos, managing playback across players, etc...

The interface is fairly straightforward: common methods and

[2017-04-06 13:57] lannka commented on #8562
We can print logs to see which network is calling it. But it won't be very accurate, since that could be config dependent or creative dependent.

Also,  a network is using the API does not mean it relies on the initial 2 values.

Actually, Alan is refining some other APIs, I suggest we do an announcement to all ad networks together when that work is ready.

[2017-04-06 15:10] rajkumarsrk commented on #8594
@cramforce Sure. I can take it up.

[2017-04-06 16:03] aghassemi commented on #8611
Awesome! Thanks. Please CC me on the PR.

[2017-04-06 16:09] aghassemi opened #8613 "amp-selector: optionally support (left/right)|(up/down) keyboard support for options"
Add `keyboard-support` with  three modes:
1. `none`: No left/right key support.
2. `focus` (default): It only `focuses` the option when user navigates to it using left/right keys.
3. `select`: It `selects` the option when user navigates to it using left/right keys.

**Other requirements:**
Needs to cycle through options when reaching the end.

Also See https://github.com/ampproject/amp-by-example/

[2017-04-06 16:21] aghassemi commented on #8613
/cc @camelburrito @ericlindley-g

[2017-04-06 16:24] #8587 closed

[2017-04-06 16:35] choumx commented on #8604
Current theory is that #8469 change in `test-amp-ad-3p.js` caused a change in global test state (enabling the "3p-use-ampcontext" experiment) which causes the unrelated test in `test-error.js` to fail. Not sure why `resetExperimentTogglesForTesting()` doesn't prevent this issue though.

A possible short-term fix is to avoid saving the experiment to a cookie or to disable the experiment on `afterEa

[2017-04-06 16:40] amphtml-team commented on #8604
This is blocking canary for today , can we have a fix ASAP?
On Thu, Apr 6, 2017 at 9:35 AM William Chou <notifications@github.com>
wrote:

--
-- Sriram

[2017-04-06 16:46] alanorozco commented on #8604
@choumx Sounds about right, fixing.

[2017-04-06 16:48] ericlindley-g commented on #8613
Sounds good — is this also a standard best practice for accessibility? (I'm assuming TAB would take the user out of the selector, to the next item on the page?)

[2017-04-06 16:54] ericlindley-g commented on #8586
/cc @vitaliybl

[2017-04-06 16:56] aghassemi commented on #8613
Technically yes, it is recommended that if there is left/right keyboard support, tabs would no longer be navigating between the options BUT practically we should NOT do it that way. It breaks mobile screen readers ( as they don't see the options focusable anymore ) in general we have to be very careful when following a11y rules that were designed for desktop.

[2017-04-06 16:57] alanorozco commented on #8087
Should be done. Need to enable feature flag for canary sometime in the future.

[2017-04-06 16:57] #8087 closed

[2017-04-06 16:58] keithwrightbos commented on #7772
See i2i: #8551

[2017-04-06 16:58] #7772 closed

[2017-04-06 17:14] erwinmombay commented on #6693
i believe this is partially done (correct me if im wrong). I'll get with @tdrl on parts not completed yet.

[2017-04-06 17:15] zhouyx commented on #8558
@taymonbeal The test is still failing locally. See #8602.

[2017-04-06 17:32] taymonbeal commented on #8558
#8602 appears to be unrelated to this issue. I will continue to investigate that bug.

[2017-04-06 17:32] #8558 closed

[2017-04-06 17:33] glevitzky commented on #8602
Is there a link to the broken test output?

[2017-04-06 17:41] aghassemi commented on #6054
@ericlindley-g @choumx Important requirement to consider here as stated by @unitydynamics:

_"I'm using the amp-form module to perform a page updated without a page reload. It's working fine. My search results are displayed to the user via an amp-mustache template. BUT when the user clicks into a result and then later hits the back button the results are gone. I need a way to save the state of the

[2017-04-06 17:42] aghassemi commented on #8610
@unitydynamics We are working on a server-side sort/filter solution (search falls under filter). I have added this requirement to that issue to track so closing this as duplicate of https://github.com/ampproject/amphtml/issues/6054

[2017-04-06 17:42] #8610 closed

[2017-04-06 17:43] taymonbeal commented on #8602
I ran it locally, here's some output:

[code]

[2017-04-06 17:45] taymonbeal commented on #8602
CC @ampproject/a4a

[2017-04-06 17:46] glevitzky commented on #8602
The last three are ones I wrote recently, but I didn't encounter these failures when I ran this file, all tests, or against Travis. I've seen "this.element.getLayoutBox is not a function" intermittently before my changes on different tests, though.

[2017-04-06 17:46] aghassemi commented on #8605
/to @dvoytenko for triage

[2017-04-06 17:47] levidurfee commented on #8467
/cc @aghassemi I'll take this out of experimental later today.

[2017-04-06 17:52] aghassemi commented on #8467
@levidurfee Thanks. No rush though, validator rules have not made it to production yet (will be in probably next week). So until `amp-gist` shows up as valid on https://validator.ampproject.org/ it needs to stay experimental. (You can submit the PR though, we just won't merge it until next version of validator is pushed to production)

[2017-04-06 18:01] dvoytenko opened #8616 "Registered/expected services should never resolve `null` from any of the methods"
This appears to affect the following methods in service.js:
- `getServicePromiseOrNullInternal`
- `getExistingServiceForWindowOrNull`
- `getLocalExistingServiceForEmbedWinOrNull`
- might be more

And, of course, all methods that call them.

The bottom line: there's only one distinction: whether the service is registered/expected-to-be-registered or not. Initialization state should not matter.

Rel

[2017-04-06 18:02] camelburrito commented on #8602
seems repeatable to me, try upgrading your chrome and running again. Even if it is a flake it needs to be fixed.

[2017-04-06 18:03] choumx commented on #6054
Is non-navigational search that common? I'm having trouble thinking of major websites that use that pattern. The largest issue is the difficulty in sharing/bookmarking search results page.

[2017-04-06 18:18] aghassemi commented on #6054
Regardless of whether search/page number/sort criteria actually make it to URL or not, we don't want to refresh the whole page on back button (specially considering it break out of the AMP viewer experience).

So if we take our `amp-list` approach for a simple case of paginations, we have
[code]
this works fine except we are not pushing anything to the history stack so back button will not work as

[2017-04-06 18:21] keithwrightbos opened #8617 "ifi parameter for AdSense/Doubleclick Fast Fetch should index from 1 and not increment due to other networks"
Two issues need to be addressed:

1.   ifi is currently using data-amp-slot-index parameter set in amp-ad.js which indexes from 0 while we expect it to index from 1 (see https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad.js#L75)

2.  given data-amp-slot-index is shared across all amp-ad elements, it is incremented when a different type is encountered.  Instead a separat

[2017-04-06 18:25] dvoytenko commented on #8403
@javierparis Would this be solved by the visibility triggers? I.e. some sections in the doc will trigger visibility. That trigger is pretty robust with time conditions and percent visibility. And %/time of visibility would seem to be easier to normalize/understand vs scroll positions that are very sensitive to device size.

If that would work in principal, visibility has an issue that only AMP ele

[2017-04-06 18:26] glevitzky commented on #8617
So we need a separate counter per impl, and the counter should start at 1--and that should satisfy this issue?

[2017-04-06 18:32] cramforce commented on #8515
Looks good overall. Second the feedback on why not to use an `<a>` tag. I think that should be the recommendation. Do you want to support stuff like "control click", "middle mouse button click" and long presses?

[2017-04-06 18:34] keithwrightbos commented on #8617
That'll do it

[2017-04-06 18:59] choumx commented on #8616
Which services are affected by this?

[2017-04-06 19:38] kmh287 commented on #8394
@choumx I created a state with ten top level objects, each with ten object properties, each with ten object properties, each with ten string properties. (depth of 4 with 10 objects at the top layer and geometrically increasing at each layer). Evaluation of the expression took ~8ms on my machine (no throttling). Deep merging the object with itself (most expensive case) took about 9ms (also with no

[2017-04-06 19:40] oliy opened #8619 "Support Cloudflare Fast Fetch Ad Signing for Yieldmo"
Simple configuration change to add Yieldmo for ad signing.

[2017-04-06 19:40] tdrl commented on #6240
Yeah, the current implementation is historic, but seems to be meeting the needs.  We'd really, really rather not tinker it until after launch.  But even then, is there incentive to change it?  What's the motivation of this issue?

[2017-04-06 19:47] tdrl commented on #8235
We could do it either way, but I don't think I'm the authority on whether `autoplay` should be allowed in this case.  It feels like a user satisfaction/useability issue.  @jasti what would be the consequences if we disallow in validation?  Alternately, @cramforce are there performance/useability impacts to allowing it to be enabled by default for `amp-carousel` in ads?

[2017-04-06 19:53] cramforce commented on #8478
It does.

On Thu, Apr 6, 2017 at 4:03 AM, Sergey Berezhnoy <notifications@github.com>
wrote:

[2017-04-06 19:53] ericlindley-g commented on #6054
One bit of complexity here is that it would make bind run at load time, which until now hasn't been allowed, due to a number of UX ramifications.

I'm tempted to de-couple filter/sort from this history question, so the larger feature isn't blocked on it—can it be treated as a separate issue, or does the approach for filter/sort depend on the choice here?

Also, qq: does the history API use local s

[2017-04-06 19:59] dvoytenko commented on #8616
So far, the critical issue is only with performance. So I will drop this to P1. Some smaller issues with other services, but not as urgent.

[2017-04-06 20:03] keithwrightbos commented on #8515
This looks good.  I assume the CLICK_X/CLICK_Y document click listener will remain in existence for creatives that want a straight forward redirect?  Or will they be required to move to the new element?

I would also like further clarification around when the time based filters start.  Presumably they apply to the entire creative?  Could they start based on any custom, amp-analytics like trigger (

[2017-04-06 20:08] cramforce commented on #8235
Fine with me on the carousel.

[2017-04-06 20:20] tdrl commented on #8370
Reading back through this, I'm not sure where we are at this point.  The choices seem to be:

1. Do nothing; leave the spec as-is.  Currently it's pretty silent on which meta tag `name`s are allowed -- it just says that `<meta>` is an allowed tag.  That leaves it broader than the validator, and risks people getting stung by the difference.  (Looks like @jasti removed the restriction to `charset=ut

[2017-04-06 20:30] jasti commented on #8235
@tdrl Not a big consequence - just restricts creative expression for no reason.

[2017-04-06 21:02] dvoytenko opened #8625 "Viewport: difficult to implement horizontal swiping in WebViews"
Because body is still mainly scrollable, the touch handlers do not correctly always know whether the page can be scrolled. `html {overflow-x: hidden}` is not enough.

[2017-04-06 21:03] #8616 closed

[2017-04-06 21:10] muxin commented on #8504
@sebastianbenz When I'm inspecting the page https://www.google.com/amp/s/ampbyexample.com/components/amp-lightbox/ on safari ios, the `<amp-lightbox id="my-lightbox">` is inside a <div class="abe-preview">, and if I disable the `overflow: auto` in `abe-preview`'s css properties the problem is gone. What's the reason for class `abe-preview` to have `overflow: auto`? Also, I wonder why the code `<am

[2017-04-06 21:15] glevitzky commented on #8602
I can now replicate the test failures, but for doubleclick-impl (same as what Taymon posted). The top comment mentions adsense-impl. I just want to confirm that the tests are broken for doubleclick and not adsense, is that right?

[2017-04-06 21:23] camelburrito commented on #8602
I am not sure, its whatever the log says. Yesterday it said adsense for me. I would assume both are flaky/failing.

[2017-04-06 21:25] taymonbeal commented on #8617
Are AdSense and DoubleClick supposed to share a counter? That was why I originally did it that way in the first place, because we wanted them to do that.

[2017-04-06 21:28] dvoytenko commented on #8571
@ryanpoplin Hmm. The Cache does not touch `<amp-iframe>` elements and cannot affect its response. The only remove possibility is that `<amp-iframe>`'s `src` attribute would have a wrong value - not the same as the local article has. However, there's very little possibility that the Cache would affect `src`.

A somewhat likelier scenario, the remote host serving the frame or a script running in it

[2017-04-06 21:33] ryanpoplin commented on #8571
"However, there's very little possibility that the Cache would affect src.": Although unlikely, are you saying that it 'could' happen? We will continue to investigate on the loaded in video interactive on our end, however.

[2017-04-06 21:35] ecoron commented on #7984
I created a pull request #8227 , maybe someone can check it.

[2017-04-06 21:55] aghassemi commented on #7626
Relevant: https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/zz7AqKAfVTY/N9YQ9BSiDQAJ

[2017-04-06 21:57] choumx commented on #8604
Test is no longer failing on master.

[2017-04-06 21:57] #8604 closed

[2017-04-06 21:58] #8625 closed

[2017-04-06 22:09] dvoytenko commented on #8605
@Si0n AMP certainly encodes all query parameters including `url` and `return`. My best guess right now that somehow your server might redirect to the URL with unescaped values? If you could expose your demo pages somewhere where I can access them, I should be able to pinpoint the issue better.

[2017-04-06 22:27] aghassemi commented on #8479
/to @muxin

Take a look at this comments ( https://github.com/dimsemenov/PhotoSwipe/issues/1315#issuecomment-291897591 ) It explains what causes the bug in iOS 10.3. It also talks about a temp solution that we may need to do for 10.3 version and above.

[2017-04-06 22:35] vitaliybl commented on #8571
I was able to capture one of the affected pages served from Google AMP Cache. Here's the bad iframe:

`
<amp-iframe frameborder=0 height=432 layout=responsive sandbox="allow-scripts allow-same-origin allow-popups" src="https://fave.api.cnn.io/v1/amp/?video=tv/2017/01/06/believer-trailer.cnn-promos&amp;canonical_url=&amp;ssid=cnn.com_mobile_mobileweb_us&amp;seconds=58&amp;videoId=tv%2F2017%2F01%2F0

[2017-04-06 22:42] dvoytenko commented on #8586
You won't be able to avoid adding cache buster. It's certainly not desirable from many points of view. But with this pattern it's unavoidable. We can stop rewriting links for such cases, but in all likelihood this navigation will simply return the same version of the page from cache since it's one-behind/eventually-consistent. Cache buster ensures that it's refreshed.

I believe some variation on

[2017-04-06 22:56] ericlindley-g commented on #8586
Was composing this before you wrote back, @dvoytenko :)  Basically, I agree:

--
@aghassemi , @choumx  — after thinking this through a bit: rather than changing the behavior of the cache (which seems to be inline with the default browser behavior of not refreshing the page for fragment links), maybe there's already a nice way that amp-bind or something else in the format could support the general

[2017-04-06 23:14] aghassemi commented on #8586
The improvements we have to make to `amp-list` for server-side sort/filter should provide enough functionality to build a comments widget.

[code]

[2017-04-06 23:22] clawr commented on #8515
Thanks for the feedback!

What I mean is that often we'll have some ad content and the only thing that differs between impressions is the destination URL. With this element we can regenerate the amp-ad-exit config but leave the rest of the HTML as is (instead of templating it or generating it each time). In the example, _elem is some advertiser-defined parameter inserted into the URL that means e.

[2017-04-06 23:27] unitydynamics commented on #6054
@choumx It isn't popular today because the best way to do for legacy browsers without pushState is to hide state client-side in hidden form fields (which tend to be preserved by all browsers).  And as you noted the URL will not update.  History API.... fairly widely supported now... it would allow search patterns like mine to use ajax and update the URL.  I mention it here because AMP is intereste

[2017-04-06 23:28] dvoytenko commented on #8586
@aghassemi this is pretty clever and looks like easy to do. As the benefit as well, we can propagate user action bit to such an event and remove resize constraints to amp-list in this case.

[2017-04-06 23:31] honeybadgerdontcare commented on #8586
While we've discussed the fragment case, we do have the original issue request which is when the href is equal to the base URL.

Take this page for example:
https://astute-city-159523.appspot.com/files/anchor.html

It has both a relative and absolute url to itself. Clicking either of those links refreshes the page.

Now that same page on the cache:
https://cdn.ampproject.org/c/s/astute-city-159523

[2017-04-07 00:08] ericlindley-g commented on #8586
@honeybadgerdontcare — thanks for calling out the core case in the original issue: it does seem worth considering doing the browser default here (to do a full page reload for the non-fragment case). thoughts @cramforce , @vitaliybl ?

[2017-04-07 00:28] ryanpoplin commented on #8571
When making a request to our Google AMP Service, we get the article path that's associated with the URL: https://localhost:5007/cnn/2017/04/06/politics/donald-trump-xi-jinping-china-mar-a-lago/index.html. The path: 2017/04/06/politics/donald-trump-xi-jinping-china-mar-a-lago/index.html is always dynamic based on the request and the 'pal' query string parameter is always going to be that value (whi

[2017-04-07 00:28] cramforce commented on #8586
Yes, we should only special case the "same URL with fragment" case and
leave all other cases alone.

On Thu, Apr 6, 2017 at 5:08 PM, ericlindley-g <notifications@github.com>
wrote:

[2017-04-07 00:32] jasti commented on #8235
@Gregable Can you please confirm if the validator disallows other forms of auto play as listed in the documentation?

[2017-04-07 01:04] vitaliybl commented on #8571
I was able to get a bad response directly from amp.cnn.com
 just now  on https://amp.cnn.com/cnn/2017/04/06/politics/who-is-mike-conaway-house-russia-investigation/index.html
The issue is showing up intermittently on your site, and therefore intermittently on the cache. See attached screenshot.

![screenshot 2017-04-06 at 9 03 35 pm](https://cloud.githubusercontent.com/assets/11186267/24781302/9a0

[2017-04-07 01:10] ryanpoplin commented on #8571
https://amp.cnn.com/cnn/2017/04/06/politics/who-is-mike-conaway-house-russia-investigation/index.html is working fine on my end right now...

[2017-04-07 01:17] dvoytenko commented on #8571
@ryanpoplin The same issue on my side. Just tried to pull this page directly from cnn.com and it looks like I'm getting a wrong video. This seems to be rather intermittent.

[2017-04-07 01:20] ryanpoplin commented on #8571
Will continue to checkout what the intermittent issue could be, we just can't seem to replicate this on localhost or this URL: https://cnn-google-amp-service.prod.services.ec2.dmtio.net/cnn/2017/04/06/politics/who-is-mike-conaway-house-russia-investigation/index.html

[2017-04-07 02:15] vitaliybl commented on #8571
I'm now seeing it on https://amp.cnn.com/cnn/2017/04/06/politics/us-china-trade-deficit-4-things-to-know/index.html
![screenshot 2017-04-06 at 10 14 48 pm](https://cloud.githubusercontent.com/assets/11186267/24782817/7d4ee6f6-1b16-11e7-8b2f-36ad9a887cd1.png)

[2017-04-07 07:22] Si0n commented on #8605
@dvoytenko https://e69c6e21.ngrok.io/amp here is my local site and example how to access sign-in/out buttons: https://i.gyazo.com/d74d79d97d1eb48bbc0a36d7f99a7a88.mp4

[2017-04-07 07:42] weeblr commented on #8586
Hi

Glad to see this discussion. Couple of things to consider:

1 - @dvoytenko @ericlindley-g Adding comment was just an instance of this situation. On that same demo site, on WooCommerce product page, when a user adds a product to their cart (on the AMP cache), we display an amp-lightbox with the usual 2 links: **Checkout** and **Continue shopping**.
Continue shopping is also a link to same page,

[2017-04-07 15:30] #7765 closed

[2017-04-07 15:36] ericlindley-g commented on #8314
@erwinmombay  — might be worth sync'ing with @aghassemi and @choumx for the work they're doing on filtering/sorting. I wonder if the same mechanic can be re-used for both?

[2017-04-07 15:47] #8549 closed

[2017-04-07 16:27] cramforce commented on #8586
If `urlInHrefThatHasFragmentWithoutFragment == documentUrl` we will always rewrite to just `#fragment`. If we didn't than you would get a reload on the cache and **no** reload when serving on your origin. We don't want surprises like that. Cache and origin should behave the same. You can easily work around this by simply making `urlInHrefThatHasFragmentWithoutFragment` not the same as `documentUrl

[2017-04-07 16:38] weeblr commented on #8586
Except for my last mentioning it (which I have now edited out), we are not talking about URLs with fragment here. No fragment is involved and it was never a part of my question. The problem actually is exactly that the rewriting happens for URLs without a fragment:

if `urlInHrefWithoutFragment == documentSourceOriginUrl` then do not rewrite to `#`

[2017-04-07 16:55] cramforce opened #8635 "A4A test "returns the right URL" is undebuggable"
Lets rewrite it to not use a huge URL regex that gives no indication for what is wrong on failure. For now I will delete the test. See below for PR.

[2017-04-07 16:57] cramforce commented on #8586
Yes ^^^^

[2017-04-07 17:22] Si0n commented on #8605
@dvoytenko I can give you access via ngrok or can add your ip to allowed IP's on our development server

[2017-04-07 17:49] keithwrightbos commented on #8635
Will break into separate regexps for each parameter to test

[2017-04-07 18:10] cramforce opened #8638 "Regression in pre-render time in Chrome"
I think the culprit is #8475.

I suspect that calling `rIC` recursively instead of concurrently makes us wait until the next time we have enough time, instead of continuing to use an available timeslot.

<img width="490" alt="screen shot 2017-04-07 at 11 11 29 am" src="https://cloud.githubusercontent.com/assets/89679/24813470/fbe213a0-1b82-11e7-894c-e56129b63dac.png">

[2017-04-07 18:11] cramforce commented on #8638
@camelburrito Lets revert #8475 in prod.

Sending PR to fix.

[2017-04-07 18:11] #7947 closed

[2017-04-07 18:52] ericlindley-g commented on #7557
@cramforce  — SGTM :)

@choumx & @kmh287 — just to make sure, does amp-bind support #3 already, or do we need to build in additional support?

[2017-04-07 19:04] #8638 closed

[2017-04-07 19:08] ericlindley-g opened #8641 "FR: dropdown menu with both hover and click support"
Tracking bug for the support described in https://github.com/ampproject/amphtml/issues/7922#issuecomment-285734315, though not with amp-bind

/cc @camelburrito @aghassemi

[2017-04-07 19:12] ericlindley-g commented on #7922
@camelburrito — I'm curious: what's the reasoning behind not adding the hover functionality to amp-accordion? Is it that the technical implementation isn't conducive to hover, that there are UX issues, or is it more a question of semantics for the component itself?

@bjalford , since amp-bind is not the likely route for this feature, I've opened a new bug for a drop-down on hover [here](https://gi

[2017-04-07 19:12] #7922 closed

[2017-04-07 19:14] ericlindley-g commented on #7949
@erwinmombay — do you have any thoughts about some of the questions above? Would it be possible to use two amp-live-list elements on the same page to support the need here?

[2017-04-07 19:21] sebastianbenz commented on #8504
Thanks @muxin for looking into this. The `overflow: auto` was in place if the preview is larger than the available space, but I don't think that this happens so far.

[2017-04-07 20:02] choumx commented on #8331
Changing to P3 per design review and will track Bind-specific task separately.

[2017-04-07 20:58] #7780 closed

[2017-04-07 21:21] dvoytenko opened #8643 "amp-animation validator rules"
See https://github.com/ampproject/amphtml/blob/master/extensions/amp-animation/amp-animation.md

Some key points:
 1. (currently) Only allow to be direct child of `<body>` element.
 2. Optional attribute `trigger`. Only allowed value at this time is "visibility".
 3. Must have direct child `<script type=application/json></script>`. Content is a valid JSON object or array.

[2017-04-07 21:24] zhouyx commented on #8204
have #8644 as a temporary fix for this.

[2017-04-07 21:50] dvoytenko commented on #7656
Fixed via #7655.

[2017-04-07 21:50] #7656 closed

[2017-04-07 22:04] dvoytenko commented on #8605
@Si0n Yeah, ngrok would do.

[2017-04-07 22:06] cvializ commented on #8582
I have a design for asynchronous form validation that will be used to implement #8369

[2017-04-07 22:12] glevitzky commented on #8204
I have a permanent fix for this, but I need to do some rewrites. I'll try and have a PR out tonight.

[2017-04-07 22:32] #8259 closed

[2017-04-07 23:21] choumx opened #8647 "amp-bind: Race condition scanning forms"
`amp-bind` will throw an error if it scans a `<form>` element before that element is upgraded and calls `setFormForElement`. Repros 1/5 on `examples/bind/xhr.amp.html`.

[code]

/to @kmh287

[2017-04-07 23:24] jasti commented on #8562
SGTM. Moving to Backlog for now.

[2017-04-07 23:26] choumx opened #8648 "amp-bind: Support e-commerce XHR use case"
A common pattern on e-commerce sites is to perform XHRs when the user selects a SKU to fetch additional data.

/cc @ericlindley-g

[2017-04-07 23:45] jasti opened #8649 "Explore ad transition from ad placeholder to the ad"
The ad appears in a flash once the ad has loaded in the iframe. Explore a better, smoother transition. Especially for AMP ads.

[2017-04-08 00:03] jasti commented on #8480
@rowangray Sounds like a good usecase. We are trying to establish the general mechanics of refresh with #4038. We'll take this on with amp-bind once we launch refresh. Moving to prioritized FR.

[2017-04-08 00:11] #8617 closed

[2017-04-08 01:17] zhouyx commented on #8204
the solution works but I think it's pretty tricky to mock every function being called. something like `registerElement` that upgrade element with correct implementation class sounds more like an ultimate solution to me. That the element will be have `CustomElement` functions.

[2017-04-08 09:33] Si0n commented on #8605
@dvoytenko
Here it is https://ab735780.ngrok.io/amp and the path to acces login buttons on the video: https://i.gyazo.com/ff960104718c8a7fbc4adb590efdecd0.mp4 .

[2017-04-09 12:40] michaeld79 commented on #8585
hi @zhouyx, i see you were assigned the issue.

My name is Michael Dragatski and i work at Taboola.
i opened the issue because we have a client that is waiting for a fix that i caused by a typo in the taboola code in amp. as you can see from the pull request i added its not a logical bug just a single letter typo.

i see that test fail on my branch and master is failing too, i was wondering if thi

[2017-04-09 19:22] kul3r4 opened #8653 "amp-bind error getDynamicElementContainers"
When loading [product sample](https://ampbyexample.com/samples_templates/product/preview/)
I get:
bind-impl.js:399 Uncaught (in promise) TypeError: Cannot read property 'getDynamicElementContainers' of null
    at e (bind-impl.js:399)
    at bf.c [as oc] (bind-impl.js:440)
    at cf (chunk.js:179)
    at Ze.Gd (chunk.js:393)
    at chunk.js:408
e @ bind-impl.js:399
c @ bind-impl.js:440
cf @ chunk.

[2017-04-10 01:51] #8193 closed

[2017-04-10 01:52] #8546 closed

[2017-04-10 01:52] mrjoro opened #8654 "Weekly Status 2017-04-10"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-04-10 07:57] DiegoAche commented on #8654
Hello,
I don't know if this is the place to put this, or if is better to open a new issue. Since las saturday, i think, all the files form the cdn didn't load in our website. Last friday everything worked perfect but for some reason all the js files of amp dont load. I dont known if you change the path to the files and didn't update on the documentation or is some problem with our web:

https://ww

[2017-04-10 10:27] DiegoAche commented on #8654
It has already been fixed, looks like it was a problem with google cdn.

Thanks anyway ;)

[2017-04-10 10:59] bjalford opened #8658 "ITI: read position progress bar"
Would like to implement a scroll bar to to indicate read position of AMP document.

Similar to this kind of thing:  http://www.cssscript.com/demo/tiny-reading-progress-indicator-pure-javascript-rpbar-js/

Would anyone else find this useful? Any feedback before we start looking into coding?

[2017-04-10 13:11] Si0n commented on #8605
Found the problem, it wasn't about the amp-access. Anyway thanks for answer.

[2017-04-10 13:49] sebastianbenz commented on #8504
Fixed for ABE now: https://www.google.com/amp/s/ampbyexample.com/components/amp-lightbox/

[2017-04-10 14:00] keithwrightbos opened #8659 "Augment AdSense/Doubleclick Ad Ursl to indicate remote HTML and future RTC usage"
Fast Fetch currently does not support remote HTML causing fallback to delayed fetch until #8551 is released and publishers move to the new implementation.  In order to track this effort, ad new parameter to AdSense/Doubleclick urls indicating if remote HTML, RTC, or neither were used.

cc/ @ampproject/a4a

[2017-04-10 15:31] kmh287 commented on #8647
I'm pretty sure this is happening because both bind and the new AmpFormService both chain promises off of `ampdoc.whenReady()`.

[2017-04-10 15:47] choumx commented on #8653
I think this is a dupe of #8647. /to @kmh287

[2017-04-10 15:57] aghassemi commented on #8658
@bjalford I think this UI will be useful in general. Instead of a dedicated component however, we could add support for such scroll-bound effect to https://github.com/ampproject/amphtml/issues/8411.

Currently #8411's design assumes one viewport scroll as duration of an effect, simply allowing users to pick "1 page scroll" instead of "1 viewport scroll" as duration can enable this and more.

#8411

[2017-04-10 16:10] kmh287 commented on #8653
Yes, I think this is a duplicate. I'll have a PR out for this soon.

[2017-04-10 16:10] #8605 closed

[2017-04-10 16:11] aghassemi commented on #8504
verified fixed

[2017-04-10 16:11] #8504 closed

[2017-04-10 16:16] zhouyx commented on #8585
@michaeld79 I restarted travis build, the failing seems not related to your PR. Don't worry, I'll merge the PR once it is good.

[2017-04-10 16:18] mrjoro commented on #8654
Glad your issues was resolved @DiegoAche; in the future if you have an issue there's some info on where to get help here:  https://www.ampproject.org/support/

(This issue is intended as a place for people working on AMP Project contributions to post updates.)

[2017-04-10 16:23] cramforce commented on #8654
- Fixed nasty race that broke our pre-render perf numbers #8630
- Limited number of elements we ever build during prerender #8364
- Made tests less flaky by removing font references.

[2017-04-10 16:38] adelinamart commented on #8654
- Looking into our Q1 Github issue metrics: ~ 800 issues closed

[2017-04-10 16:41] choumx commented on #8654
- Discussed approaches for filtering/sorting (#8368)
- Support more flexible e-commerce use cases in `amp-bind` (#8648)
- Added debugging and error types to `amp-bind` docs (#8549)

[2017-04-10 16:48] aghassemi commented on #8654
- `amp-sort`, `amp-filter`, `height-responsive` layout brainstorming, design and prototyping.
- experiment flags cleanups

[2017-04-10 16:55] kmh287 commented on #8654
- Added event data for change events on slider, radio, and checkbox inputs #8569
- Added custom array function to bind to make modifying arrays cleaner #8485
- Changed bind to use a deep merge algorithm instead of shallow merge for state updates #8458
- Working on additions to bind documentation #8660
- Working on a race condition between amp-form and bind #8661

[2017-04-10 16:59] cvializ commented on #8654
- amp-form without mustache templates #8565
- deflaked amp-form integration tests #8577
- design doc for asynchronous form validation

[2017-04-10 17:04] zhouyx commented on #8654
- Fixed issue on passing user defined port number to gulp server. #8578
- Fixed local test failure on doubleclick #8644
- New ad loader design experiment. Please opt-in through experiment tag name `ad-loader-v1` or `ad-loader-v2`
- Refactored code to use `#insertAnalyticsElement` function. #8628
- Work on `waitFor` support for visibility tracking.

[2017-04-10 17:18] kul3r4 commented on #8653
Thanks!

[2017-04-10 17:30] camelburrito commented on #8654
AMP Start
 - New Preview Modal
 - Reviewed and approved Pending PRs
 - Production Release

AMP HTML
 - Releases & Cherrypicks

[2017-04-10 18:14] honeybadgerdontcare commented on #8643
This is done, but not in prod yet. May be up to two weeks to be in prod.

[2017-04-10 18:14] #8643 closed

[2017-04-10 18:20] cvializ commented on #7980
@weeblr are you still able to reproduce this on your end? I tried continuously a few times now and I haven't seen the behavior you're describing. I moved from the cached version to the origin version and back many times and the form never failed to submit.

[2017-04-10 18:37] spacedino commented on #8654
- ads loader refresh experiment with @zhouyx
- ABE visual update with @sebastianbenz
- research plan ampstart
- config plan
- working with @camelburrito to push sprint changes to prod

[2017-04-10 19:27] ghost opened #8668 "Art-homeimprovements.com"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-04-10 19:45] jonkeller opened #8671 "Invert A4A Doubleclick/AdSense fast/delayed fetch flags after launch"
Currently (pre-launch): A4A filler/control branch = delayed fetch and experiment = fast fetch. After launch we'll want filler/control branch = fast fetch and experiment (holdback) = delayed fetch. This needs to be able to switch DoubleClick and AdSense independently of each other. So, create 2 new flags that will perform this inversion.

[2017-04-10 20:01] kmh287 opened #8673 "Change amp-bind to use custom events instead of MutationObservers"

[2017-04-10 20:20] bjalford commented on #8658
Thanks. Makes sense.

[2017-04-10 20:52] p2er opened #8677 "Nested media attributes cause JS Error on resize"
## Short description of your issue:

amp-video elements with media="(orientation: portrait)" tag inside of a amp-carousel with media="(max-width: 599px)" will trigger a JS Error on resize.

discoverResourcesForElement_ -> element is undefined and classList property can not be read.

## How do we reproduce the issue?

1. Open https://p2er.github.io/amp-articleslider/stacked-media-carousel.html in p

[2017-04-10 21:01] choumx commented on #8648
I can imagine a few ways this can be done:

1. Use a hidden form to perform the XHR and `amp-bind` to set its inputs. Then, use an action chain e.g. `on="tap:AMP.setState({selection: event.targetOption}), myHiddenForm.submit`. This is more flexible but requires *changing actions to wait for previous actions to complete* (#8678).

2. Allow binding to the `src` attribute of `<amp-state>`, e.g. `<amp

[2017-04-10 21:04] p2er opened #8681 "Middle video does not restart playback on carousel navigation"
## Short description of your issue:

Carousel with 3 Videos does not play middle video on second time visible.

## How do we reproduce the issue?

1. Open https://p2er.github.io/amp-articleslider/video-carousel.html
2. Navigate to last (third) video with slider arrow (right)
3. Navigate back to second video with slider arrow (left)
4. Video does not start

## What browsers are affected?

Tested on

[2017-04-10 21:07] alanorozco commented on #7846
@aghassemi mentioned that setting `animation-play-state: paused` won't work on iOS when also setting `-webkit-overflow-scrolling: touch` (which we always do).

See [this example](http://codepen.io/anon/pen/bqXPeM), which works properly everywhere but on iOS.

[2017-04-10 21:41] cramforce commented on #7846
Lets UA detect and use `animaton-name: none !important` where paused is not supported.

[2017-04-10 21:43] muxin commented on #8479
@dvoytenko The bug happens because the [measurement of imageViewer](https://github.com/ampproject/amphtml/blob/master/extensions/amp-image-lightbox/0.1/amp-image-lightbox.js#L258) (invoked by [viewport resize event](https://github.com/ampproject/amphtml/blob/master/extensions/amp-image-lightbox/0.1/amp-image-lightbox.js#L801)) happens before orientation change takes place. I wonder what should be

[2017-04-10 21:51] dvoytenko commented on #8582
I'd like to discuss responsive ads with width-based layout. Design is on the way.

[2017-04-10 21:55] muxin commented on #8479
OK, as the referenced issue suggested, adding a timeout could be a temp fix.

[2017-04-10 23:52] threesided opened #8688 "amp-instagram embed header set to visibility:hidden."
## Issue:

Some recent update to the `amp-instagram` extension has resulted in the embed header being hidden by default.

## Short description of your issue:

Start by deleting everything above this including this sentence :)

## How do we reproduce the issue?
You can see it happening on your amp by example page:

![screen shot 2017-04-10 at 4 49 16 pm](https://cloud.githubusercontent.com/assets/9

[2017-04-11 01:14] levidurfee commented on #8688
Thanks @threesided :)

I'll take a look at it.

[2017-04-11 01:16] aghassemi opened #8691 "Intent to Implement: amp-sort"
## Background
[sortable tables - #6057](https://github.com/ampproject/amphtml/issues/6057) outlines a design by @derekcecillewis for supporting sortable tables in AMP.

`amp-sort` is a proposal to bundle most of the concepts from the `sortable tables` into a generic client-side sorting component that can support tables as well as lists and other arbitrary DOMs.

## Proposal
`amp-sort` is a functio

[2017-04-11 01:20] levidurfee commented on #8688
It actually appears to be an issue with Instagram and not the AMP component.

If you look at [Instagram's Embedding](https://www.instagram.com/developer/embedding/) docs, you'll see it is also missing the header.

![screen shot 2017-04-10 at 9 19 55 pm](https://cloud.githubusercontent.com/assets/10798199/24888752/7b4f7256-1e33-11e7-8095-a65f8dedbbbf.png)

I'll see if I can get a response from them

[2017-04-11 01:46] dvoytenko commented on #8479
Maybe we should listen for both? Resize events and orientation change events? That might be the most accurate and I hope that size is definitely updated for one of them.

[2017-04-11 02:57] #7907 closed

[2017-04-11 05:16] ryanpoplin commented on #8571
Thanks for helping us consolidate on the Google end guys! We had a parallel network race condition on our micro service affecting the proper path under certain circumstances under load. We plan on making a build tomorrow and can confirm no cache issues on the Google once it's deployed I'll update this ticket again for a close.

[2017-04-11 06:12] dvoytenko commented on #7846
Thought that was fixed. Well, that's annoying. Is that still a problem for our embeds in iframes? Can we check against a friendly iframe? The embeds are never scrolled, so we might be in luck there.

Cancelling animation is pretty hard hammer, so let's see if we can reduce % of cases where it happens.

[2017-04-11 06:16] jalajc opened #8692 "For Google Amp-analytics events not captured in report if eventValue is string"
## Observation: When eventValue is string Google Analytics doesn't show that event in reports
Even though the network tabs display that analytics _collect_ ping is sent and is successful(200 OK), this event is not visible in Google analytics report.

On the same Google Analytics config, _scroll event_ which sends integer values is immediately visible in Google Analytics dashboard. _Social Interact

[2017-04-11 06:34] jalajc commented on #8692
I discovered two conflicting documentation in this regard

- [Generic Analytics documentation-eventValue](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#eventValue)

- [AMP Specific Analytics documentation-eventValue](https://developers.google.com/analytics/devguides/collection/amp-analytics/#event_tracking)

with string sample demonstrated [here](https://

[2017-04-11 09:20] weeblr commented on #7980
Hi @cvializ Indeed, I can't reproduce any longer. Thanks for looking, not sure what fixed it, but is seems fixed.

[2017-04-11 10:24] imparvez opened #8693 "AMP-Filter"
Hi All,

I have been using AMP for a long time now and there is one feature which I feel is missing is **Filter** in AMP pages.

So, I am requesting to AMP developers for a new feature which can filter out the relevant information from the long list of items.

## How it will work?
An AMP pages consisting the long list of items, which can become frustrating for the user to keep on scrolling.
What A

[2017-04-11 12:46] eike-hass opened #8694 "amp-ad: Not working on IE 11 on Windows 7"
The amp-ad component seems to be having trouble on IE 11 on older Windows Machines.

1. Open https://ampbyexample.com/components/amp-ad/ with IE 11 on Windows 7
2. Find the Ad-Slot empty

## What browsers are affected?

IE 11.0.9600.18617 on Windows 7 Service Pack 1. IE 11 on Windows 10 works fine.

## Which AMP version is affected?

1491864594241, not sure if this is a new issue.

[2017-04-11 12:51] eike-hass commented on #4574
@ericlindley-g This approach would definitely help our case!

[2017-04-11 13:08] jansete opened #8695 "amp-ad: smartadserver plugin doesn't check if the server return empty banner or not"
SmartAdServer plugin doesn't checkif the server return empty banner or not

## Context
https://github.com/ampproject/amphtml/blob/master/ads/smartadserver.js doesn't use global.context.noContentAvailable();

The problem is if the server doesn't give us any advert we can't hide it or use any fallback.

## How do we reproduce the issue?
Using amp-ad with smartadserver type, if the format doesn't hav

[2017-04-11 15:17] ericlindley-g commented on #4574
Excellent—I'll update this bug title to reflect the viewport resolution dependency, but please let me know if you'd prefer we keep an open bug for the general case, and I can just start a new one instead.  Thanks!

[2017-04-11 15:31] choumx opened #8697 "Poorly sized tables on ampproject.org docs"
Is there a way to avoid excessive wrapping in some table cells, e.g. https://www.ampproject.org/docs/reference/components/dynamic/amp-bind#element-specific-attributes?

/to @bpaduch

[2017-04-11 15:33] cramforce commented on #8697
Please file in https://github.com/ampproject/docs :)

[2017-04-11 15:34] #8697 closed

[2017-04-11 15:54] aghassemi commented on #8368
Client-side **Sort** Intent to Implement: https://github.com/ampproject/amphtml/issues/8691

[2017-04-11 15:58] aghassemi commented on #8582
Time permitting, @derekcecillewis  and I like to talk about `amp-sort` proposal: https://github.com/ampproject/amphtml/issues/8691

[2017-04-11 16:11] ericlindley-g commented on #8691
Nice—excited to see this handling a broad case

Looks like filtering would be fairly straightforward to add on to this, using a similar model. Is that a fair assumption? That is, would amp-filter (or however it might end up getting implemented) be able to take advantage of the same structure  of data-* attributes to filter on, or would it need a different approach?

[2017-04-11 16:16] aghassemi commented on #8479
Webkit bug here: https://bugs.webkit.org/show_bug.cgi?id=170595

[2017-04-11 16:16] aghassemi commented on #8479
@muxin Could you subscribe to https://bugs.webkit.org/show_bug.cgi?id=170595 so we can remove whatever hack we put in once it is fixed?

[2017-04-11 17:18] aghassemi commented on #8691
@ericlindley-g `amp-filter` is conceptually fairly similar (but with a bigger API surface). I am mostly done with `amp-filter` design but haven't had time to write the design doc yet (will be next week to present in the Format Review). You can take an early look at what I have in mind for filter here: https://github.com/aghassemi/amphtml/blob/filtersort-proto1/test/manual/amp-filter-sort.amp.html

[2017-04-11 17:18] aghassemi commented on #8691
+ @sebastianbenz

[2017-04-11 17:30] cvializ commented on #7980
🎉 That's great news, thanks for the update! If you notice it again feel free to reopen this issue, but for now I will mark it closed

[2017-04-11 17:30] #7980 closed

[2017-04-11 17:31] alanorozco commented on #7846
Changing the scroll mode for the frame doesn't seem to work either :( [see example](http://codepen.io/anon/pen/oWvEKg)

[2017-04-11 17:31] weeblr commented on #7980
I am starting to have more traffic on that demo now, so if this pops back up, I'm sure they'll let me know pretty quick!
Thanks.

[2017-04-11 17:52] choumx commented on #8394
Can you put your test file into a gist and link to it here?

[2017-04-11 17:53] #8376 closed

[2017-04-11 18:03] dvoytenko opened #8699 "TypeError: window.stop_youtube is not a function"
A very common error:
[code]

A sample page: https://amp-ibtimes-co-uk.cdn.ampproject.org/c/s/amp.ibtimes.co.uk/caitlyn-jenner-opens-about-guilty-oj-simpson-reasons-gender-reassignment-surgery-1616573

[2017-04-11 18:03] dvoytenko commented on #8699
/to @aghassemi to triage