[2015-12-27 06:25] gkteck commented on #1248
@cramforce, I tried with both layout="response" and layout="fixed".
Both are not giving the expected result and finally I had to get rid of amp-img.

[2015-12-27 14:00] cramforce commented on #1248
Do you want to paste your HTML somewhere? Maybe jsbin.com? So we can debug
it for you.
On Dec 26, 2015 10:25 PM, "gkteck" <notifications@github.com> wrote:

[2015-12-27 20:57] mbougarne opened #1250 "JS Libraries"
Hi,

I'm really sorry, I'm just wondering if I can use the js libraries like jquery or bootstrap?

Thanks

[2015-12-27 21:00] cramforce commented on #1250
- JS libraries: NO
- CSS libraries: Yes.

Bootstrap should just work.

[2015-12-27 21:00] #1250 closed

[2015-12-27 21:02] mbougarne commented on #1250
If there's no JS libraries there's no soul.

Thank You

[2015-12-27 21:17] cramforce commented on #1250
What would you like to build?

[2015-12-28 03:39] dikaio opened #1251 "UTF-8 via Webserver in place of Meta Tag?"
Would it be ok to set the encoding via the web server and not use a meta tag?

[2015-12-28 03:49] cramforce commented on #1251
@dikaio AMP is designed for distribution which is why the encoding is included in the document itself.

[2015-12-28 03:49] #1251 closed

[2015-12-28 04:55] dikaio commented on #1251
Thank you.

[2015-12-28 08:09] simonferndriger commented on #1221
Thank you very much so far, cramforce. I'll check it out as soon as my calendar allows me to.

[2015-12-28 17:17] dvoytenko commented on #1248
I have a few samples of `layout=responsive` here: http://jsbin.com/dekavu/edit?html,output

[2015-12-28 17:19] dvoytenko commented on #1245
AMP is indeed is being in active development. That being said, HTML Custom Elements are fairly stable and AFAIK either already implemented or being actively implemented in all major browsers.

[2015-12-28 18:08] dvoytenko commented on #1241
I'll provide more context on sizing/scrolling.

We currently recommend the following layout/parameters for embedding AMP documents:

1. The Viewer provides the layout/size for the AMP iframe to cover the whole viewport. The most typical layout is `position=absolute` and `top/left/bottom/right = 0`. This is the recommendation and you can do something different, as long as you understand the issues

[2015-12-28 18:13] cch2000 opened #1252 "Create meta tag for allowing local http sites during testing only"
Allowing whitelisting local http sites is very convenient for testing. We should create a meta tag that itself is invalid AMP and thus cannot be deployed to production.

[2015-12-28 18:38] dvoytenko commented on #1252
Should we just do it under `development=1`?

[2015-12-28 18:46] cramforce commented on #1252
That doesn't help security wise because it is subject to downgrade attack.
I think allowing it only if the meta tag is present and the AMP itself is
on HTTP is OK.
On Dec 28, 2015 10:38 AM, "Dima Voytenko" <notifications@github.com> wrote:

[2015-12-29 00:07] bazzadp commented on #1245
My issue is not really with the use of custom elements and the validation issues they currently cause. It's the fact that that an AMP page is no longer a HTML page - in that it cannot be read without executing the AMP javascript.

This means non-Javascript browsers, or even browsers that are too old (given that AMP has stated that they will only guarantee support for the latest two major versions

[2015-12-29 00:07] #1245 closed

[2015-12-29 06:33] palrakeshkumar opened #1258 "INVALID_ATTR_VALUE src="
AMP validation had errors.

http://localhost:8000/#development=1:25:4 INVALID_ATTR_VALUE src=

How to resolve this.

[2015-12-29 17:15] dvoytenko commented on #1258
@palrakeshkumar could you please send the fragment of the document that causes the error? It looks like line 25 is indicated in the error message.

[2015-12-29 18:03] heatloss commented on #827
I would highly urge that the HTML5 <details> and <summary> tags be supported, as these would allow for dynamic menus and accordion widgets without requiring any custom JavaScript.

[2015-12-29 18:16] dvoytenko opened #1260 "TBD: only execute one deferred action or one for an event"
Action system queues actions until the actual implementation arrives. As soon as the implementation is ready, all of the queued actions are immediately dequeued and executed. However, this likely to try to execute duplicate actions. We could try the following options to remedy this:
1. Execute only the last action
2. Execute only the last action for each event type
3. Execute only the last action

[2015-12-29 19:29] dvoytenko opened #1262 "TBD: Resizing with multiple elements clustered at the bottom."
See for example: https://www.theguardian.com/australia-news/postcolonial-blog/2015/jul/21/enduring-controversy-bp-sponsorship-ignites-new-row-over-british-museums-indigenous-exhibition/amp#development=1

Here, there are several amp-list at the bottom. Depending on the loading order they fight for resize events and this can lead to some of them not resized and instead forcing overflow.

[2015-12-29 19:36] cramforce commented on #1262
We should probably render resizable templates pretty eagerly.
On Dec 29, 2015 11:29 AM, "Dima Voytenko" <notifications@github.com> wrote:

[2015-12-29 20:02] sriramkrish85 commented on #1089
Does this need animation?

[2015-12-29 20:15] cramforce commented on #1089
No.
On Dec 29, 2015 12:02 PM, "Sriram Krishnan" <notifications@github.com>
wrote:

[2015-12-29 20:24] sriramkrish85 commented on #1089
We only collapse if there is no placeholder right?

[2015-12-29 21:04] #945 closed

[2015-12-29 21:07] cramforce commented on #1089
Right

[2015-12-29 21:12] jridgewell opened #1263 "Dynamic CSS Classes: UserAgents"
Following up on https://github.com/ampproject/amphtml/pull/1253.

[2015-12-29 21:17] dvoytenko commented on #1263
Are these already not covered via referrer? Or is the goal to set them up via viewer?

[2015-12-29 21:23] sriramkrish85 commented on #1089
@cramforce we dont support resizing on amp-ad iframes yet, should I implement resizing support as well?

[2015-12-29 21:29] jridgewell commented on #1263
I'm not sure what the `referrer` is set as when using the Facebook (etc) app, but I do know they set the `userAgent` to include `FBAV`. With that, we can tell this is coming from a Facebook Viewer.

[2015-12-29 22:00] cramforce commented on #1089
Yes, but sync with Dima. He might have a pending CL. Doing this special
case is a good first step, though.
On Dec 29, 2015 1:23 PM, "Sriram Krishnan" <notifications@github.com> wrote:

[2015-12-29 22:15] sriramkrish85 commented on #1089
adding @dvoytenko to the conversation

[2015-12-29 23:37] jridgewell commented on #1263
It doesn't look like the Twitter app sets the user agent... :disappointed:

| Service | UA Identifier |
| --- | --- |
| Facebook | FBAV |
| Instagram | Instagram |
| Pinterest | Pinterest |
| Twitter | it just looks like a normal Safari / Chrome UA |

[2015-12-30 01:14] cramforce commented on #1263
@jridgewell Most likely Twitter always (sigh) goes through t.co for referrer attribution.

[2015-12-30 03:15] jridgewell commented on #1263
Yup, but we won't be able to tell the difference between the a user who uses the app or is using the system browser on twitter.com.

[2015-12-30 16:44] Nemo64 opened #1266 "amp-iframe allow-same-orign sandbox."
I just tried implementing Disqus on an amp page using an `<amp-iframe>` without much luck. I found the only way the discus script works correctly is to use `allow-same-origin`. However amp does not allow the src to be on the same origin when that is set. (why is that anyways?)

I found that using `allow-Same-origin` (capital S) can work around this restriction but that's probably not intended.

[2015-12-30 17:04] jridgewell commented on #1263
Seems recent versions of the Twitter app now include "Twitter[X]" in the UA. :smile:

[2015-12-30 17:51] brunofcb opened #1267 "Responsive amp-carousel"
I'm just wondering if there's any possibility to do a responsive amp-carousel. I've been trying to find a solution using CSS, but when you declare width and height inline, it overrides the CSS. Are there any plans to develop something similar to layout="responsive" which is available only for amp-img?

[2015-12-30 17:52] dvoytenko opened #1268 "Update iframe placement docs"
https://github.com/ampproject/amphtml/blob/master/docs/include_features.md

[2015-12-30 17:54] dvoytenko commented on #1266
@Nemo64 the AMP documents meant to be portable - i.e. shown under the different origin such as cdn.ampproject.org. This is where the requirement comes from.

I'm not too familiar with Disqus. Do you know why it needs `allow-same-origin`?

[2015-12-30 17:56] dvoytenko commented on #1267
@brunofcb there are two types of carousel: slides and a scrolling carousel. Which one are you trying to make responsive? They work slightly differently...

[2015-12-30 17:57] brunofcb commented on #1267
Slides

[2015-12-30 17:58] dvoytenko opened #1269 "Check iframe sandbox flags such as (allow-same-origin) in a case-insensitive way"
To make sure users do not try to workaround our restrictions, e.g. using "allow-Same-origin". I'd assume just lowecasing the sandbox string before checks would suffice.

[2015-12-30 18:02] dvoytenko commented on #1267
Slides should support `layout=responsive` - most of elements support responsive layout. There's an example in this page:

https://github.com/ampproject/amphtml/blob/master/examples/everything.amp.html

Scrolling carousel, unfortunately, doesn't yet support `layout=responsive`, but slides should be all good.

[2015-12-30 18:09] brunofcb commented on #1267
Thanks very much @dvoytenko. It works perfectly!!!

[2015-12-30 18:15] dvoytenko commented on #1267
Sounds great! I will close this issue then. We have a separate issue somewhere that asks to make layout rules more explicit in the documentation.

[2015-12-30 18:15] #1267 closed

[2015-12-30 18:17] dvoytenko commented on #1089
Yeah, let's roll it in this PR. Most of the implementation is already done in the `custom-element.js` - which just need to trigger it.

[2015-12-30 18:55] Nemo64 commented on #1266
Well, basically `allow-same-origin` is a workaround for this problem: https://code.google.com/p/chromium/issues/detail?id=541221

However (other tan documented in the issue) this problem also exists in firefox so there might be more involved. I already asked on [stackoverflow](http://stackoverflow.com/questions/34520908/disquss-on-an-amp-page-inside-an-amp-iframe/34528757#34528757) so there is mor

[2015-12-30 20:02] dvoytenko commented on #1266
/cc @cramforce

[2015-12-30 21:04] erwinmombay commented on #1226
closed via https://github.com/ampproject/amphtml/pull/1272

[2015-12-30 21:04] #1226 closed

[2015-12-30 22:14] YukiYamashina opened #1274 "Tap on anchor elements inside amp-lightbox element doesn't work"
I try to create web page with a menu button, tapping which opens a menu window, using AMP HTML. amp-lightbox is used to show such a window, something like
[code]
Although the "click" does work (jump to a href page), "tap" does not work (the window close and no jump). Is it possible to fix this such that tap events on anchor element inside an amp-lightbox element trigger a jump to a href page?

[He

[2015-12-30 22:35] camelburrito opened #1275 "Annotate Function declarations using lowercase 'function' instead of 'Function'"
difference between {function()} and {Function}. The latter is an instance type and is nullable by default. function(...) should be used instead of Function whenever possible because it provides more type information about its parameters and return value.

unless we do
var x = new Function(), we should always use lowercase 'functions' in typedefs and annotations.

[2015-12-31 21:26] jmadler opened #1278 "Switch CI to use development query string instead of script tag attribute"

[2016-01-01 20:34] Nemo64 opened #1279 "Allow <noscript>"
Amp pages won't work without JavaScript because all custom tags (like `<amp-img>`) will silently fail and, depending on the stylesheet, become big blocks of nothing or disappear entirely.

The validator prohibits the use of `<noscript>` outside the document head. This prevents a basic fallback or at least a notice that JavaScript is required.

I could accept the answer that amp pages simply won't

[2016-01-01 20:49] cramforce commented on #1279
Should be allowed!

And, indeed `noscript img` should be allowed (and likely video, audio). Not so sure about `noscript style`

[2016-01-02 07:06] gkteck commented on #1248
Hi
Here is the jsbin link
http://jsbin.com/puluvubosu/1/edit?html,output
Please check the image just below the "About us"
<amp-img layout="fixed" width="66" height="107"

[2016-01-02 14:01] adsouza commented on #871
Validation fails when analytics are added.

[2016-01-03 01:36] Nemo64 opened #1280 "amp-img srcset behavior"
I noticed some things about the `<amp-img>` `srcset`:

The [amp documentation](https://www.ampproject.org/docs/reference/amp-img.html#attributes) currently states that the `srcset` attribute is the same as on an `<img>` and that "The behavior will be polyfilled where not natively supported".

However: the native `srcset` is never used and the behavior differs in that the `sizes` attribute is not r

[2016-01-03 05:57] dvoytenko commented on #1274
/cc @sriramkrish85 didn't we fix this or attempted to do so?

[2016-01-03 17:45] cramforce commented on #1280
Over to @dvoytenko

[2016-01-03 20:21] rudygalfi commented on #871
@adsouza Validation for amp-analytics is not yet implemented and being tracked with #1087.

[2016-01-04 17:13] dvoytenko commented on #1248
@gkteck thanks for your example. Two things here:

First, `layout=responsive` would work fine here, but it'd require you do ensure that all floats you do have a non-zero height, e.g. "width", or "min-width" CSS specified. For instance, you have ".logo" defined as:
[code]
And redefined for `@media (max-width: 768px)` as `width: 325px; float: inherit !important;`. This is the reason why up to 768px

[2016-01-04 17:21] dvoytenko commented on #1280
Yeah. Good point. `sizes` attribute is not necessary in our cases for `srcset` with width selector. I will update the documentation. We'd also normally be able to select `srcset` correctly based on the touch zoom, but we ran into an issue that, while we can tell the zoom reliably, there are no reliable events that tell us that it changed...

[2016-01-04 17:22] dvoytenko commented on #1280
Also, an important note - we extended `sizes` attribute to all other AMP elements. It's convenient and, in our case, there's no reason why it should be restricted only to images.

[2016-01-04 18:19] cramforce opened #1283 "Move user notification to the bottom of the screen by default"
This avoids all the "above logo" problems. Should be overridable, of course.

[2016-01-04 18:25] erwinmombay commented on #1283
suggesting to use the property `position` to override. @dvoytenko you see any problem with that property? let me know. thanks.

[2016-01-04 18:27] erwinmombay commented on #1228
@cramforce unless you have any objections, i'll switch this to a `GET` with the query params `elementId` and `ampUserId` keys.

[2016-01-04 18:30] cramforce commented on #1283
Just `bottom: 0`, no?

[2016-01-04 18:30] erwinmombay commented on #1283
@cramforce oh right, forgot we got rid of !important.

[2016-01-04 18:48] #1283 closed

[2016-01-04 19:17] Gregable commented on #423
This was fixed back in October, unless you see otherwise, the bug just needs closing.

[2016-01-04 19:17] #423 closed

[2016-01-04 19:31] Gregable commented on #1258
@palrakeshkumar this error indicates that a tag on line 25, column 4 has a src attribute with an empty value. Something like `<tag src>` or `<tag src=''>`. The tag is like a `<script>` tag, which must have very specific src attribute values. See the [spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#scrpt) for more details.

Does that help?

[2016-01-04 19:34] erwinmombay opened #1285 "add a css build file in manual testing to diff postcss/cssnano output"
when merging version updates for anything postcss/cssnano related we don't know if the css output has changed in any way (besides reading the changelog). we need to be able to at least see the difference easily.

[2016-01-04 20:39] rudygalfi opened #1286 "Form support"
This is mostly a placeholder for now, but this is designed to capture our intent to support forms in some way. This would be targeted at use cases like search, collections of email addresses for newsletters, and many other experiences.

[2016-01-04 20:40] rudygalfi commented on #1221
We can track form support at #1286, which is mostly a stub for right now but can be expanded in the future.

[2016-01-04 21:04] Gregable commented on #1279
Good point. So far I have, for newly allowed descendants of `<noscript>`:

* img
* video
* audio

Any other allowed tags we should add back in?

I agree with @cramforce that `<style>` is unnecessary. One can have style rules which only apply to tags inside your `<noscript>` section.

[2016-01-04 21:45] cramforce commented on #1279
@Gregable The main reason to allow style is to e.g. hide a feature outside `noscript` that doesn't work without JS, but which is not needed to read the page. We can live without for now and see how far that gets us.

List seems fine to me.

[2016-01-04 21:52] Gregable commented on #1279
Ah, makes sense. Thanks for the clarification.

[2016-01-04 22:33] rudygalfi opened #1288 "Switching an experiment to "off" asks you if you want to enable the experiment."
To reproduce:
1. Go to https://cdn.ampproject.org/experiments.html.
2. Toggle an experiment to 'on'. Accept the confirmation dialog.
3. Toggle an experiment to 'off'. The dialog should show like it does in this screenshot where it asks if you want to enable the experiment:
<img width="632" alt="screen shot 2016-01-04 at 2 29 58 pm" src="https://cloud.githubusercontent.com/assets/3888212/12102475/c

[2016-01-05 01:30] dvoytenko opened #1291 "Confirm whether the consent should be blocking for analytics"
FWIU, consent currently blocks analytics. However, this is not what publishing industry does today. Any way we can confirm this?

/cc @cramforce

[2016-01-05 01:33] cramforce commented on #1291
I don't understand this. Whether a publisher gets consent for doing anything is optional now and in the decision of the publisher. If not that is a bug. It needs to be documented as optional.

[2016-01-05 01:33] #1269 closed

[2016-01-05 01:44] dvoytenko commented on #1291
Erwin, could you please confirm? I might be reading the code wrong.

[2016-01-05 01:46] erwinmombay commented on #1291
current capabilities are:
- show notification (blocks until confirmation/dismissal)
- dont show notification (doesn't block and passes through the `ampUserId` to whatever requested it from the notification service)

@dvoytenko i believe the scenario you are looking for is the "dont block but also show the notification", correct? (we currently don't support this)

[2016-01-05 01:48] cramforce commented on #1291
[code]

`opt_userNotificationId` is optional. If you don't want to block on it, just don't specify it. Or am I missing something?

[2016-01-05 01:49] dvoytenko commented on #1291
@erwinmombay : yes, exactly. I'm looking for a way to NOT block analytics, but still show notification. Really just asking if it's possible now or not - not stating it.

[2016-01-05 01:51] cramforce commented on #1291
@dvoytenko doing `"CLIENT_ID(foo-bar)"` should do it

[2016-01-05 01:51] cramforce commented on #1291
Basically if you want to show a notification and don't block on it, you just show a notification and tell nobody that you did.

[2016-01-05 01:52] erwinmombay commented on #1291
@cramforce so right now if they do `"CLIENT_ID(foo-bar)"` it won't block, but also won't show the notification (since its been resolved asap, and that promise is what keeps the notification ui around). if that shoudn't be case ill fix and track here. if that should be an "option", let me know.

[2016-01-05 01:52] dvoytenko commented on #1291
@cramforce , that's currently also my reading, but according to @erwinmombay :

[2016-01-05 01:55] dvoytenko commented on #1291
@erwinmombay that's what I'm trying to confirm based on our discussion. I currently don't see this in code - it'd appear whether or not CID was requested or notification via CID has no bearing on whether the notification is shown. I.e. the notification should always be shown (based on XHR). Could you please confirm?

[2016-01-05 01:55] cramforce commented on #1291
@erwinmombay Yeah, the notification should always show if the tag for it was included and the HTTP call for it says "Show". This should not depend on any one consumer actually requesting consent.

As I said before that is the more important case. We don't expect many pubs to use the second arg to CLIENT_ID, but it is important that they can.

[2016-01-05 01:57] erwinmombay commented on #1291
@cramforce if i'm understanding correctly. so literally they would use `foo-bar` as the value? (not an actual analytics client), that works. (which would show the notification and not block anything)

[2016-01-05 01:59] cramforce commented on #1291
[code]

to work by itself without any client id to reference `amp-user-notification1`

[2016-01-05 02:03] erwinmombay commented on #1291
haha yeah, i don't know why i got hung up on the var substitution end. thanks.

[2016-01-05 02:05] dvoytenko commented on #1291
Ok. I'm closing this then.

[2016-01-05 02:05] #1291 closed

[2016-01-05 09:50] kzap opened #1292 "amp-analytics Segment.com"
I'm really keen to implement Segment.com's API for AMP-Analytics but am running into road blocks.
It's nice that we can support POST with sendBeacon or XHR but what would the point of POST be if you cant post data and just a URL?

https://segment.com/docs/libraries/pixel/
https://segment.com/docs/libraries/http/

My use-case for Segment is that I wouldnt have to write configs for other analytics t

[2016-01-05 09:58] kzap commented on #1292
Reference for MixPanel HTTP API that requires base64 encoded string:
https://mixpanel.com/help/reference/http

KissMetrics API is much simpler and can use GET and parameters

[2016-01-05 15:06] pmlopes opened #1293 "amp-carousel does not seem to work fine with amp-video"
I was trying to make a carousel with a mix of photos and videos (like a photo gallery) and i noticed the following:

Once me as a user starts playing the video the carousel navigation buttons dissapear and i can't navigate out of it (either left or right).

If i do not enable the responsive layout of the video and it fits in the carousel (because the video is smaller than my screen) then i can use

[2016-01-05 15:15] breauxc commented on #871
How do I get the ball rolling on the implementation of active engaged time?  In the last couple of check-ins with Josh from Chartbeat and Andrew from Parse.ly, we agreed to move forward with active engaged time once we had a universal definition; we think we are now there.

To summarize, each second (or time interval) we count someone as being engaged if the user has the window in focus and has in

[2016-01-05 15:41] cramforce commented on #1292
Segment seems like a very cool product and very in line with AMP's philosophy!

- Sending data as post body makes sense, of course.
- We definitely want the per vendor configuration to be declarative, so there cannot be functions that process data on the client defined in the configuration.
- It is definitely a non-goal to support arbitrary advanced API endpoints. There has to be some kind of midd

[2016-01-05 16:16] ds0001 commented on #1017
:+1: This would be great to have parity with our current NYT mobile web implementation.

[2016-01-05 16:23] philwills commented on #871
@breauxc Is it worth spawning a separate issue to track this? This one is rather sprawling already.

[2016-01-05 16:57] Nemo64 commented on #1279
The only other element I can think of is an `<iframe>`. I could live without it though.

The most important element is `<img>` (and `<picture>`? maybe?)

[2016-01-05 17:07] Nemo64 commented on #1280
Even though i haven't mentioned using the sizes attribute on other elements: I don't really know how the `sizes` attribute has any advantage. It can be completely implemented using css and `layout="responsive"`. Also: the sizes attribute does not allow for values like `100%` which limits it even further.

[2016-01-05 18:49] dvoytenko commented on #1293
@pmlopes you are using `type=slides` carousel, right?

@erwinmombay Seems very strange, why would arrows disappear? And we should definitely stop video from playing as soon as it's out of the view.

[2016-01-05 19:13] Gregable commented on #1087
How much do we want validated on this? Do we need anything except for a new allowed `<amp-analytics>` tag with an optional? child `<script type="application/json">` tag? Specifically, do we want to validate any of the json.

[2016-01-05 19:27] pmlopes commented on #1293
This was my experiment: https://gist.github.com/pmlopes/59540785ac82410c80d6

Basically i started stripping the full example to just have a carousel with both pictures and videos

[2016-01-05 19:29] pmlopes commented on #1293
to see the arrows dissapear you need to use amp-video with layout responsive `layout="responsive"`

[2016-01-05 19:29] erwinmombay commented on #1293
thanks @pmlopes ! looking into this

[2016-01-05 19:32] cramforce commented on #1087
@Gregable presence only. The actual format is still heavily evolving and will also always contain custom args that are not possible to validate.

[2016-01-05 19:37] rudygalfi opened #1295 "Add performance metrics support to amp-analytics"
Offshoot from #871.

We would like to augment the AMP Analytics framework to include performance metrics. Full spec and details to be added in this place later, but this could include things like:

* time to render above the fold
* time to render whole page
* server side time

Any additional ideas are appreciated!

cc @cramforce @avimehta @btownsend

[2016-01-05 19:40] rudygalfi opened #1296 "Add active engaged time heuristics for amp-analytics"
Offshoot from #871.

Some way to provide engaged time data.

More from @breauxc:

cc @avimehta @btownsend

[2016-01-05 19:42] rudygalfi opened #1297 "Add element viewability triggers for amp-analytics"
Offshoot from #871.

We currently support a document viewability triggers in amp-analytics. This request is to support triggers at the element level.

cc @avimehta @btownsend

[2016-01-05 19:43] rudygalfi commented on #1297
cc @cramforce who mentioned implementing this by dispatching DOM events on AMP elements when they become visible and stop being visible.

[2016-01-05 19:51] rudygalfi opened #1298 "Add element-level overrides for variables for amp-analytics"
More detail from @avimehta:

cc @btownsend

[2016-01-05 19:57] rudygalfi opened #1299 "Add support for getting URL parameters from URL and passing along using amp-analytics"
Offshoot from discussion in #871.

Example: foo.com/section/page.html?a=5#b=3. We'd know there's a parameter a with a value of 5 or that the anchor portion says b=3

[2016-01-05 20:10] rudygalfi commented on #871
Once the bulk of the initial implementation for AMP Analytics is complete, I’d like to be able to close this issue and continue discussions for further feature requests in other issues. To that end, I have opened issues relating to several items that were called out as TODOs in the design or raised as comments on this issue.

* Add performance metrics support to amp-analytics #1295
* Add active en

[2016-01-05 22:02] dvoytenko opened #1301 "Local storage API"
AMP Local Storage API is intended to be used for consent and access systems. It's meant to supplant LocalStorage API and make it available in all different embedding scenarios, including 3rd party iframes.

**API**

API itself mirrors LocalStorage API (https://developer.mozilla.org/en-US/docs/Web/API/Storage) closely with the following methods:
- getItem
- setItem
- removeItem

One big difference

[2016-01-05 22:06] rudygalfi opened #1302 "Clarify behavior of substitutions with amp-analytics"
It appears that several substitutions are default-defined to be used in the amp-analytics variable syntax.

For instance, this ping to send a page view ID can be constructed in two ways: `?pvid=PAGE_VIEW_ID` or `?pvid=${pageViewId}` since the variable `pageViewId` inherits the value of `PAGE_VIEW_ID` by default.

The documentation should clarify how variables can be introduced and used in amp-anal

[2016-01-05 22:46] jridgewell opened #1304 "Rename extension markdown files to README"
Eg. [amp-access](https://github.com/ampproject/amphtml/tree/master/extensions/amp-access) should have its markdown file renamed to `README.md`. Github displays these files [specially](https://github.com/ampproject/amphtml/tree/master/extensions#readme), so they do not need to be clicked on when the viewing the extension directory.

[2016-01-05 22:49] rudygalfi opened #1305 "Add triggers for first-visible, long-view and other events to amp-analytics"
Offshoot from #871.

There's currently support for triggers of `visible` and `click`. There's planned support for `tap`, `hidden`, and `timer` as part of #871.

This request covers adding support for additional triggers that may be helpful, for instance:
- first-visible would fire when an element first becomes visible on screen
- long-view would use some definition of a long-view and fire when an

[2016-01-05 22:50] cramforce commented on #1304
Good point. This may require some changes on the docs side.
CC @pbakaus @Meggin

[2016-01-05 22:55] philwills commented on #1296
Our current implementation is based on http://upworthy.github.io/2014/06/implementing-attention-minutes-part-1/ as that was the first published example we saw.

There's a bit of variation in the events used, but I think it's close enough to the Parsely definition for that to be comparable.

[2016-01-05 23:07] rudygalfi commented on #571
I'm wondering if we should change the name of this in the docs (the header in the iframe documentation says "click-to-play") as it may result in confusion.

The behavior seems to be that the placeholder is rendered and then the iframe as soon as it's ready. None of this flow requires a user interaction (click). It also doesn't seem to be a part of the spec that the iframe rendering can be blocked

[2016-01-05 23:27] rudygalfi commented on #1296
One thing I think we should consider in the design of this is if we can enable the calculation of active engaged time through more of a server-based solution. The idea would be to provide all of the relevant events (scrolling, touch start, a count of click events since last ping) on a timer trigger. Then each endpoint could take the data and apply its own standard on what should count as an active

[2016-01-05 23:58] cramforce opened #1307 "Change validator output in Chrome Dev Tools to use only human readable strings"
This would essentially be a layer on top of the validator that takes string like `INVALID_ATTR_VALUE` and changes them to "Invalid HTML attribute value:". At some point this would also be the point where we introduce i18n to these messages.

@jmadler How important do you find this?
CC @Gregable @rudygalfi

[2016-01-06 02:00] #1268 closed

[2016-01-06 02:42] cramforce opened #1313 "Create a generic way to make CID generation depend on a user notification"
I think something like

`<amp-analytics data-consent-id="some-id">` may work and we'd need the same for ads like
`<amp-ad data-consent-id="some-id">`

This would be needed in all cases where the user doesn't directly specify the CLIENT_ID URL interpolation.

[2016-01-06 08:22] Nemo64 opened #1315 "allow @supports and @-vendor-prefixes"
The [@supports](https://developer.mozilla.org/en/docs/Web/CSS/@supports) query should be added to the allowed @-rules for some nice progressive enhancement tricks.

[2016-01-06 15:01] cramforce commented on #1315
Definitely!
CC @Gregable, @powdercloud

[2016-01-06 16:53] cramforce opened #1316 "Document CSP that sites using AMP JS should use"
This would be nice, because then they don't have to guess.

Ideally we should be strict in terms of the path prefix for JS files.

[2016-01-06 17:12] erwinmombay commented on #1313
@cramforce would the value still be needed on the url on requests? (if so how do we know where to place it?)

[2016-01-06 17:14] cramforce commented on #1313
Good question :)

I think we may need to invent some relatively hacky mechanism to do it. It is easy on the ads side because there the cid service is called programmatically.

[2016-01-06 17:54] jcap-pro commented on #657
@dvoytenko
Why requiring the response of the CORS request to be a json object containing an array property "items" ? I feel that it is too restrcictive. Sometimes, we can't control the json object's format that is returned by a remote service. Wouldn't be possible to make this component more generic since mustache engine lets us control what we want to do with the returned object ?

[2016-01-06 18:52] Meggin commented on #1304
Good idea. Just need to coordinate with ampproject.org pulls to make sure we still get the reference in the site. I can take a look.

[2016-01-06 19:02] dvoytenko commented on #657
It was one of the options, yes. This solution inspired by the following:

1. It's (though only slightly) more convenient
2. This is a very common format: a lot of people suggested `items: []` and it's part of other formats as well.
3. There have previously been security issues with JSON-P and arrays, which forced a lot of developers to a `{items: []}` format or similar.
4. This opens the possibili

[2016-01-06 19:26] dvoytenko opened #1317 "Enable toggleExperiment in PROD mode"
Currently only in DEV, but no reason not to enable it in PROD as well.

[2016-01-06 19:49] davidreghay opened #1318 "amp-carousel doesn't display text after images"
If you place inside an amp-carousel a series of div containers with amp-imgs inside of them and text following the images, images display in the carousel but the text does not.  Inspecting the document shows that the text is still in the DOM and I cannot find any CSS rules that would hide the text but it is clearly absent from the actual view in the browser.

[2016-01-06 20:25] dannylinden opened #1319 "Possible to load and execute Ads/Js from every source"
the current "adtech" ad implementation make it possible to load Ads from every host, its not a real validation to check prefix and folder only!?

[code]

Demo:
http://dannylinden.de/amp/ad-test.amp.html#development=1
![bildschirmfoto 2016-01-06 um 21 17 44](https://cloud.githubusercontent.com/assets/5121876/12153748/e6307e9a-b4bb-11e5-9663-e100788c2ac6.png)

[2016-01-06 20:28] cramforce commented on #1319
Yes, we kind of don't care since we consider ads hostile anyway, so people might as well load their stuff from where ever they want.

We also support loading the iframes from arbitrary origins
https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.md#running-ads-from-a-custom-domain

[2016-01-06 20:28] #1319 closed

[2016-01-06 20:57] Gregable commented on #1315
Will do. We should update the spec as well. It currently lists only `@media`, `@keyframes`, and `@font-face`.

[2016-01-06 21:21] cramforce commented on #1315
Changed the spec.

[2016-01-06 21:26] #1089 closed

[2016-01-06 23:16] cramforce opened #1324 "Implement feature to pass CID to ads"
This helps ads that otherwise use 1p cookies for things like frequency capping.

[2016-01-07 01:47] dvoytenko commented on #1318
@davidreghay do you think you could include a sample for us to troubleshoot?

[2016-01-07 11:07] jcap-pro commented on #657
For example, some content recommandation systems such as taboola. They return a json object with this format (example taken from their REST API documentation) :
[code]

[2016-01-07 16:02] cramforce commented on #814
@dvoytenko Can you take this on or should we redistribute?

[2016-01-07 16:36] dvoytenko opened #1332 "Internationalize amp-login-done.html page"

[2016-01-07 18:35] erwinmombay opened #1334 "amp-video should stop playing when not in view inside a carousel"
related to https://github.com/ampproject/amphtml/issues/1293

double have to check other media components like audio.

[2016-01-07 22:51] cramforce opened #1340 "Ad API to unobserve intersections from 3p frame"
This would tell the parent frame to stop sending intersection data.

[2016-01-07 23:24] cramforce opened #1343 "Add a reset function to components that puts them back into the pre-layout state"
E.g. when a document is swiped away, we'd like to keep it around (so it is easy to get back and scroll position is maintained), but reduce memory usage and potential CPU usage as much as possible. This task is about, for selected components, reset them into a non-rendered state, so the resources they are using can be released.

We have an existing callback `documentInactiveCallback` upon which suc

[2016-01-07 23:33] dvoytenko commented on #814
I'll assign to @sriramkrish85 . He just recently had to deal with it.

[2016-01-07 23:39] erwinmombay commented on #1293
"If i do not enable the responsive layout of the video and it fits in the carousel (because the video is smaller than my screen) then i can use the carousel buttons to navigate left/right BUT the video keeps playing in the background." -- this is definitely a bug.

@pmlopes can you clarify this a bit more "Once me as a user starts playing the video the carousel navigation buttons dissapear and i c

[2016-01-08 00:16] erwinmombay opened #1346 "refactor `gulpfile.js` so tasks are smaller and more composable"
functions like compilejs should be reusable or should be a standalone task etc.

[2016-01-08 00:19] cramforce commented on #86
Well Step 2 is kinda still pending. Also need to use it for all compilation targets. Currently only hooked it up for amp.js.

[2016-01-08 00:19] dvoytenko opened #1347 "Gulp: create a target to precompile all ".jison" files"
This would remove the need for `compile-access-expr` target and will remove the artifact .js files from git history.

[2016-01-08 12:46] adewale commented on #979
Please prioritise embedded posts: https://developers.facebook.com/docs/plugins/embedded-posts and embedded videos: https://developers.facebook.com/docs/plugins/embedded-video-player since they tend to be essential to articles like: http://www.n-tv.de/wirtschaft/Mark-Zuckerberg-ist-jetzt-ein-besserer-Mensch-article16485106.html and http://www.buzzfeed.com/assmamaad/la-fille-de-mark-zuckerberg-est-u

[2016-01-08 14:23] cramforce commented on #979
Use case: Support news articles about what Mark Zuckerberg posted on Facebook :)

We should definitely do this and it should be easy enough. Probably similar to `amp-twitter`, but it is worth investigating whether a pure iframe integration (like instagram) based on whatever postMessage they send for iframe resizing is possible.

[2016-01-08 16:13] cory-work opened #1352 "Add ability load analytics iframe and post to that iframe"
Many media companies have complex analytics needs which may be difficult to fulfill with a model where the majority of analytics data is statically available on a page. My proposal is that amp-analytics provides support for loading an iframe that better suites some of these complex requirements.

Something along these lines:

[code]
- **target_iframe** - defines the id of an iframe to be created
-

[2016-01-08 16:19] cramforce commented on #1352
Could you give a concrete example as to what the iframe would actually do? This request has come up and denied before as it would lead to the same situation that AMP has been trying to avoid where N analytics providers have N times the overhead.

I can't really see what this iframe would do that couldn't be done on the server side. I realize that sometimes it is easier to do on the client side, bu

[2016-01-08 16:30] cory-work commented on #1352
The idea here is that an implementer could have the same tracking code for both their AMP pages and the related canonical non-AMP page. This would make it easier to do their tracking consistently.

Furthermore, publishers are already doing complex javascript work to set up their tracking requirements. Were I a publisher I would consider it a barrier to entry to re-implement that work server side.

[2016-01-08 17:22] cramforce commented on #1352
With "N time the overhead" I meant that most complex sites have many analytics integration would end up having many of these iframes.

I still don't understand what this iframe would do. Since it would rely on post messages from the page, it would require significant changes to the JS code, which one might as well do on the server side.

I think we should rather discuss, what changes, if any, we s

[2016-01-08 17:32] cramforce opened #1353 "Document what AMP prerendering means"
What the properties and guarantees are.

This would be helpful to have in many discussions and a good doc for new AMP developers (people working on AMP, not with AMP).

[2016-01-08 17:40] erwinmombay commented on #1353
+1

[2016-01-08 17:55] cory-work commented on #1352
Ah I see. Yes complex sites would more than one iframe but probably not more than 5 for analytics. Those sites would likely have 2-3 more for other content like video bringing the total to around 8.

As an aside a technique like this might actually reduce the number of analytics calls made from a page as the publisher could send all analytics requests to an iframe and let it, asynchronously, handl

[2016-01-08 18:00] alexanderdean opened #1354 "Intent-to-implement: support for Snowplow Analytics in AMP analytics suite"

[2016-01-08 18:02] cramforce commented on #1352
You could achieve the cookie based work by using the URL based analytics config and potentially redirecting through multiple hosts.

The reduction in calls can be done without the iframe as well, although the number of async calls is not really that much of a concern in general.

We do care about ease of adoption, but not at the expense of our performance goals.

[2016-01-08 18:09] cramforce commented on #1354
Please add some detail, but in general we are happy to have you :)

[2016-01-08 18:45] cramforce opened #1356 "Ideas for what we'd like to do in AMP v-next"
We currently serve v0. When we increment the major version, we can make breaking changes. What should those be?
## Simplify core
- Move `amp-ad` and `amp-pixel` and `amp-video` into extension. Reduces size penalty on pages that don't need them and allows them to be versioned independently.
## CSS changes
- Disallow in-page scrolling: #1377
## Element changes
- Make poster in `amp-video` mandatory,

[2016-01-08 19:09] cramforce opened #1357 "Add rule that ads need to report the creative they loaded to page"
We want to use this to enable attribution of runtime performance to the loaded ads.

[2016-01-08 19:16] ds0001 commented on #1357
:+1: was there dialogue elsewhere about this? was just looking into an issue with regards to this.

[2016-01-08 19:25] cramforce commented on #1357
@ds0001 No real discussion. We were just looking into our performance measurements and throught it would be nice to add this info as one dimension.

@rudygalfi Would be interesting to also add this to general analytics. My issue was meant to mostly address our internal perf statistics.

[2016-01-08 19:25] alexanderdean commented on #1354
Thanks @cramforce - PR opened!

[2016-01-08 19:28] ds0001 commented on #1357
@cramforce ah got it then I will :-1: to net out my vote :)

[2016-01-08 19:29] cramforce commented on #1357
@ds0001 Were you looking to get it into analytics? I think that is a great idea. This ticket is mostly about making the info available to the page. We can then report it to all places we'd like :)

[2016-01-08 19:53] cory-work commented on #1352
I am 100% behind the performance goals and I don't think this solution would adversely affect those goals. The iframes would be loaded asynchronously so the visible content shouldn't be impacted.

The example I gave you for the 3rd party cookies is one in a number of such examples. There is another situation where we write a 1st party cookie or depending on the value of a 1st party cookie do somet

[2016-01-08 19:56] aikt opened #1359 "Its possible use another custom elements?"
Hi!,

Sorry for my english,

My question is: Its possible use another custom elements in AMP?,

I searching for menu left panel with pure css, but in all pages with tutorials, to open the menu, its necesary the pseudo-element :checked, so in the restrictions of AMP, the input and label is prohibited, and i searched for another solutions, and i find custom elements, its the reason for the question.

[2016-01-08 20:23] erwinmombay commented on #1356
@dvoytenko when can we deprecate the original slides code?

[2016-01-08 20:24] cramforce commented on #1359
We're planning to add an extension for this. See #827

[2016-01-08 20:24] #1359 closed

[2016-01-08 20:25] cramforce commented on #1356
That is somewhat independent, as extensions have their own version.

[2016-01-08 20:26] dvoytenko commented on #1356
Yes, original slides should be completely independent. However, I think we can remove them at any point since we've already removed them in validator, I believe. Might be worth verifying that and maybe check how many documents still use it.

[2016-01-08 20:33] dvoytenko commented on #657
Ok. So I see two options here:

1. Give complete freedom to render this to template via forEach.
2. Specify the path to array to render as we do now.

The main reason I'd choose the second option it to leave us the option to implement infinite scroll later. WDYT?

[2016-01-08 21:05] maxhartshorn opened #1361 "Click to play not working"
As I understand it, the idea of Click To Play iframe functionality is to display a placeholder image which the user needs to click on in order to display the iframe content. A use case would be displaying a placeholder screenshot over an iframed video player. Clicking the screenshot would trigger the video player.

This is not how it is currently working in Chrome. When I run test/manual/amp-ifram

[2016-01-08 21:25] rudygalfi commented on #1361
@maxhartshorn Thanks for raising this. For context, raised this in the original Intent to Implement (https://github.com/ampproject/amphtml/issues/571#issuecomment-169163625).

Yes, I think we should either update the docs to avoid using the "click-to-play" terminology (since there's no click required) or implement behavior where the rendering of the iframe will block on a click/tap.

[2016-01-08 21:33] rudygalfi commented on #1357
Agree that having the perf data related to analytics would be great too.

@cramforce Could you clarify how you see the rule being enforced for both the ads and analytics cases?

For analytics, would the reporting be at the level of specific measurements or events, a specific endpoint the data is getting sent to, something else?

[2016-01-08 21:37] cramforce commented on #1357
The rule will just be a sentence in our docs. We enforce through code review.

Analytics could gather the results and make them available as a variable for reporting.

[2016-01-08 22:05] rudygalfi commented on #1274
Since #1327 was merged, is this resolved?

[2016-01-08 22:07] sriramkrish85 commented on #1274
yes :)

[2016-01-08 22:07] #1274 closed

[2016-01-08 22:10] jridgewell commented on #86
If we're changing to closure to eliminate the browserify bloat, might I suggest using [rollup](http://rollupjs.org/) instead?

[2016-01-08 22:14] erwinmombay commented on #86
yeah, rollup would be great to check out just to see the difference.

[2016-01-08 23:26] #1357 closed

[2016-01-09 00:20] Gregable commented on #1079
These validation changes are now live.

[2016-01-09 00:21] Gregable commented on #892
The validation changes in the CL above are now live everywhere.

[2016-01-09 00:26] cramforce commented on #86
It is worth a try if not too much work. We also want type checking, DCE,
etc.

The code rollup generates looks pretty good.
On Jan 8, 2016 2:14 PM, "erwin mombay" <notifications@github.com> wrote:

[2016-01-09 01:15] nbeloglazov opened #1365 "Improve better validation error messages"
I'm trying to convert a big html file into AMP-html and using `#development=1` to validate if its correct. But some errors are not very useful, example: `MANDATORY_ATTR_MISSING type`. Error message also provides line/column but when html minified it's hard to understand. I think it would be useful to provide name of the tag that violated requirement. Also I believe most validation errors [provide

[2016-01-09 01:15] nbeloglazov opened #1366 "Improve validation error messagess"
I'm trying to convert a big html file into AMP-html and using `#development=1` to validate if its correct. But some errors are not very useful, example: `MANDATORY_ATTR_MISSING type`. Error message also provides line/column but when html minified it's hard to understand. I think it would be useful to provide name of the tag that violated requirement. Also I believe most validation errors [provide

[2016-01-09 01:16] nbeloglazov commented on #1365
I'm bad at creating issues. See #1366

[2016-01-09 01:16] #1365 closed

[2016-01-09 16:45] aikt opened #1369 "AMP-Carousel buttons with event swiper coordination, have bug?"
Hello,

I 'm testing the amp-carousel with the attributes controls and type=slides, and in the version Desktop the operation is fine, but in Mobile (Iphone 5), when i use swipe to direction right, the button left not appear of disabled to enabled, but when i click the button right, the left works, and the coordination of slides its different between button and swiper, for example, i swipe to final

[2016-01-09 18:08] cramforce commented on #1369
Assigning to @erwinmombay for triage.

[2016-01-09 18:36] erwinmombay commented on #1369
currently working on this on https://github.com/ampproject/amphtml/pull/1360

[2016-01-09 18:41] erwinmombay commented on #1369
@aikt so you swiped to the last slide and the "button right" is shown? do you happen to have a video element on the last slide?

we currently have a bug where we think we are on desktop if you click play on a video. also, is it possible for you to share a demo or a link to your page? that would greatly help me figure out your issue and the possible bug you are seeing.

[2016-01-09 19:13] aikt commented on #1369
@erwinmombay

Yes, i have a list for the bugs what im tested and i share the url for example -> ( https://jsbin.com/zunuyokege/1/edit?html,output ) :

1. In the final slide, when i click the button right, the carousel move to the first slide.
2. When swipe to the final slide, the button right is yet enabled, this happens similar when you swipe to the first slide the left button is enabled ).
3. Wh

[2016-01-09 19:40] erwinmombay commented on #1369
@aikt thanks for the demo and detailed list! looking more into it

[2016-01-10 12:41] justforfun opened #1370 "DISALLOWED_TAG amp-user-notification"
AMP validation fails whenever an <amp-user-notification> is added to the page.
This is the error message that is shown:
DISALLOWED_TAG amp-user-notification

Here:
https://justforfun.github.io/examples-amp/amp-notify.html#development=1
To create this page I simply cloned the git example page:
https://github.com/ampproject/amphtml/blob/d2d8106ae67d9fc80694e2da08e42ef634bfb80b/examples/user-notifica

[2016-01-10 17:07] cramforce commented on #1370
Not missing anything. It always takes a while for changes to become available to the validator.

@erwinmombay Did you get the validator updated?

[2016-01-10 17:09] cramforce commented on #1366
Might be a dupe of #1307 (which we are working on).

But @powdercloud @Gregable Could we improve this particular message by including more context information?

@nbeloglazov I recently submitted a change that will make the error messages clickable again in chrome devtools to point to the right tag. This was broken for a while, due to a bug in Chrome DevTools with fragment URLs.

[2016-01-11 13:12] pdxbmw opened #1372 "Typo in amp-iframe documentation"
There's a small typo under [Iframe Click-To-Play](https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md#iframe-click-to-play):

*  It is possible to have an `amp-iframe` appear on the top of a document when the ~~amp-ifame~~ `amp-iframe` has a `placeholder` element as shown in the example below.

[2016-01-11 15:22] cramforce commented on #1372
@sriramkrish85 Could you fix? Tx!

[2016-01-11 16:10] #1372 closed

[2016-01-11 17:39] #1061 closed

[2016-01-11 17:54] Gregable commented on #1366
I think this is actually a dupe of #246. We still need to decide on a formatting string for that one, but that's a minor detail.

[2016-01-11 17:56] nbeloglazov commented on #1366
Yes,  #246 looks like what I had in mind. Feel free to close as dup.

[2016-01-11 18:07] Gregable commented on #1366
Thanks, closing. I'm unsure if github has an official way to mark as dupe.

[2016-01-11 18:07] #1366 closed

[2016-01-11 18:27] paul-matthews commented on #1201
I'm currently working on a prototype / first pass at building this. Hope to share it here by EOW.

[2016-01-11 18:36] avimehta commented on #1295
https://developer.mozilla.org/en-US/docs/Web/API/PerformanceTiming lists the available performance metrics. Given that most of them are timestamps, I propose that we calculate duration from them and make the calculated durations available.

proposal for metrics and how they are calculated:

pageLoadTime = loadEventStart - navigationStart
dnsTime = domainLookupEnd - domainLookupStart
tcpConnectTime

[2016-01-11 18:46] Gregable commented on #875
Follow up question on this issue. Is there a good reason to flag the opposite relationship: a `<script>` import without a corresponding tag that requires it?

This represents a small performance hit, but is otherwise not a big deal? I would imagine requiring it would break some pages where the site owner includes the superset of all imports needed by any page on the site into a reused template, so

[2016-01-11 18:54] erwinmombay opened #1376 "improve `addParamToUrl` implementation"
creating a new element to append a query param might be expensive, just do a string append by searching and anchoring onto the `?` and `#` characters.

[2016-01-11 19:12] rudygalfi opened #1377 "Disallow nested scrolling elements"
Enforced through validation. Seems like it would be a nice user experience guarantee.

[2016-01-11 19:25] Gregable commented on #1377
Can you provide a list of the scrolling elements you are aware of, or at least a couple examples.

[2016-01-11 19:28] cramforce opened #1378 "AMP never appears to prerender the initial image in an article"
There also seems to be a JS error per article that might be related.
Sample article
https://cdn.ampproject.org/v/www.bbc.co.uk/news/amp/35257086?amp_js_v=1#origin=http%3A%2F%2Famphtml.sandbox.google.com&channelid=4&prerenderSize=1&viewportType=natural&visibilityState=hidden&paddingTop=54&history=1&p2r=0&horizontalScrolling=0

CC @thatbez

[2016-01-11 19:29] cramforce commented on #1377
This is mostly CSS. `overflow:auto` and `overflow:scroll`.

This would be for #1356

[2016-01-11 19:39] cramforce commented on #1378
It is reproducible, but only when the doc is requested through the viewer. This is really weird.

[2016-01-11 19:42] cramforce opened #1379 "Why do we prerender the an off-viewport image."
See e.g. this link on a phone
https://cdn.ampproject.org/v/s/www.washingtonpost.com/amphtml/world/europe/the-big-thing-missing-from-europes-solution-to-the-refugee-crisis-refugees/2016/01/10/0bb0de88-b315-11e5-8abc-d09392edc612_story.html?amp_js_v=1#origin=http%3A%2F%2Famphtml.sandbox.google.com&channelid=0&prerenderSize=1&viewportType=natural&visibilityState=hidden&paddingTop=54&history=1&p2r=0&h

[2016-01-11 20:10] dvoytenko commented on #657
`amp-list` and `amp-template` are now out of experimental.

[2016-01-11 21:06] jmadler commented on #999
It turns out that one of our tests, test/integration/test-example-validation.js, uses development mode to test for validation errors.  It does so using XHR.open for a URI which previously used the development attr, but now must use '#development=1'

As far as I can tell [XHR.open does not pass](https://bugzilla.mozilla.org/show_bug.cgi?id=459456) the "anchor" component of the requested URI.

Possi

[2016-01-11 21:09] #1228 closed

[2016-01-11 21:47] Gregable commented on #999
Re option 1, in a test environment, it should be possible to just directly call the validator api with the document contents rather than triggering it via a specific URL. Happy to help out with that if it's not clear how to do so.

[2016-01-11 22:00] maxhartshorn commented on #1267
Is there any plan to make the `type=carousel` responsive in the future? I don't see this feature being of much use if it is not at least partially responsive

[2016-01-11 22:10] cramforce opened #1382 "Allow client id consumers to opt-in to setting a fallback cookie"
Currently when a document is read on a non-proxy origin, reading the client id will only fallback to the cookie of the name of the client id scope.

We should allow the consumer of the id to say "go ahead and set a value to that cookie" if it is not present.

CC @rudygalfi

[2016-01-11 22:13] cramforce commented on #1379
I think we should not do this extension when prerendering
https://github.com/ampproject/amphtml/blob/master/src/resources.js#L746

[2016-01-11 22:14] cramforce commented on #1378
This was a bug on the viewer side.

[2016-01-11 22:14] #1378 closed

[2016-01-11 23:11] rudygalfi commented on #1382
"allow the consumer of the id" --> Is this strictly tied to the `type` attribute? There should be a way to do this even if you're not using a vendor (with a config in the repo), right?

[2016-01-11 23:23] cramforce commented on #1382
I think it needs to be configurable. We **could** make it the default, but I think some sites might to prefer setting cookies to some magic value themselves.

[2016-01-12 00:34] #1192 closed

[2016-01-12 01:43] jmadler commented on #999
As I understand it, this particular test is intended to test the error reporting itself, not specific given errors.  In that case, would using that API be an appropriate mechanism for the test?

cc @powdercloud

[2016-01-12 01:54] cramforce commented on #999
@jmadler Are you that is the problematic test?  test/integration/test-example-validation.js calls the validator directly.

[2016-01-12 01:55] cramforce commented on #999
I'm sending a PR to fix `test/fixtures/errors.html`

[2016-01-12 05:01] jmadler commented on #1194
See #999, #1388

[2016-01-12 11:55] brunofcb commented on #1267
@maxhartshorn If you check the previous comments, you will see that amp-carousel is only responsive for type=''slides". I don't know if there's any plan to make all types of carousel responsive.

[2016-01-12 14:04] Nemo64 commented on #1377
Also `overflow-x: scroll` and `overflow-y: scroll`.

[2016-01-12 15:48] AliberGzz commented on #1032
This will be possible ?

[2016-01-12 16:09] dvoytenko commented on #1377
Search for `overflow` in this spec file: https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md

[2016-01-12 16:11] dvoytenko opened #1393 "Enable examples copying to /c/ folder for proxy testing"
Current version in gulpfile:
[code]
Causes constant risk conditions.

[2016-01-12 16:14] cramforce commented on #1377
Ha, I missed it the other day :)

Did we implement it, though? It would be interesting to see if we can still make the change without breaking many docs.
CC @Gregable

[2016-01-12 16:25] dvoytenko commented on #1267
@maxhartshorn @brunofcb Correct, only `type=slides` carousels can take `layout=responsive` which preserves aspect ratio. However, the non-slides carousel accepts `layout=fixed-height` which resizes carousel horizontally to the available space while keeping the height. This is more applicable to scrollable carousels.

We'd like to support `layout=responsive` for all carousels. But the problem we ra

[2016-01-12 17:10] maxhartshorn commented on #1267
Thanks @dvoytenko for the explanation!

[2016-01-12 17:37] #1379 closed

[2016-01-12 17:45] Gregable commented on #1377
Those aren't implemented. We haven't had time to finish up the css work, so what's actually active are essentially a few blacklist regexps at the moment. `overflow` is not one of them.

[2016-01-12 19:39] cramforce opened #1397 "Fragment navigation does not persist fragment on URL"
To repro:

- Go to http://output.jsbin.com/ratevu/quiet
- Click link on top
- Observe that fragment is not added to URL

Maybe related bug: Sometimes clicking a fragment link jumps to the line below the target.

To repro

- go to https://www.ampproject.org/docs/guides/responsive/style_pages.html
- click "Disallowed styles"
- observe that headline is not actually visible (jumps to content)

[2016-01-12 19:41] miketaylr opened #1398 "FAQ TOC headings/links not working in Firefox"
Originally reported as https://github.com/webcompat/web-bugs/issues/1793.

STR:

1) Navigate to https://www.ampproject.org/docs/support/faqs.html#accelerated-mobile-pages-1 in latest Firefox
2) Click on any FAQ item, e.g., "Platform and Technology Company Involvement"

Expected: Page hops to section you clicked on
Actual: Nothing

[2016-01-12 19:42] rudygalfi commented on #1361
Closed by #1386

[2016-01-12 19:43] #1361 closed

[2016-01-12 19:44] cramforce commented on #1397
Probably makes sense to look at #1398 at the same time.

[2016-01-12 22:13] dvoytenko commented on #1382
Reassigning to @cramforce to triage with analytics.

[2016-01-12 22:19] #1317 closed

[2016-01-13 08:55] jcap-pro commented on #657
Hi @dvoytenko I agree with you 2nd solution gives the abillity to implement infinite scroll. Actually, I don't know if it's a really needed feature. Not in my use case. But it could be interesting to have this for other use cases...

[2016-01-13 12:14] NataliaLKB opened #1408 "Amp-iframe resizing postmessage restrictions"
An enquiry regarding the [resizing](https://github.com/ampproject/amphtml/blob/38fbbdd824ed1887c9258b06627fcc394d6310dd/extensions/amp-iframe/amp-iframe.md#iframe-resizing) of `amp-iframes`.

The postmessage requirements are quite strict. At the moment AMP requires:

[code]

We have an existing resize postmessage in this format:

[code]

Would you consider adding an optional attributes to amp-ifra

[2016-01-13 15:04] Nemo64 opened #1409 "document/implement a way for a none amp page to use amp elements"
Basically: not every site is going to be completely amp*(lified?)*. Let's say the detail pages of a Blog are valid amp pages but the index page cannot be an amp page. Either one must drop all amp elements or make the index page an invalid amp page. Both solutions aren't that great. Dropping the amp elements may result in an inconsistent experience and double implementation of elements like carouse

[2016-01-13 15:15] Nemo64 opened #1410 "implement alternative to <details> element"
Html5 specifies the [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) Element. It isn't [widely supported](http://caniuse.com/#feat=details) and it doesn't look that great, but it is common to have functionality like the [bootstrap collapse](http://getbootstrap.com/javascript/#collapse) on a site.

I suggest an amp element that'll work similar.

[code]

This element

[2016-01-13 15:42] cramforce commented on #1409
We cannot officially support this. E.g. many optimizations in AMP rely on AMP knowing where everything is on a page and when those positions change. That cannot be known on a general non-AMP web page.

[2016-01-13 15:42] #1409 closed

[2016-01-13 15:43] cramforce commented on #1410
CC @rudygalfi
Definitely worth considering. We may, however, build more low level toggling capability.

[2016-01-13 17:11] dvoytenko commented on #1408
@NataliaLKB I actually have no problem supporting a few common formats for resizing. Do you use some library for iframes that comes with this format?

@sriramkrish85 I'll assign this to you.

[2016-01-13 17:16] rudygalfi opened #1411 "Support A/B testing (experiments for content)"
Provide a way for a publisher to set up experiments in which content on the page is changed according to an experiment group a reader is placed in.

This is forked from an idea proposed in https://github.com/ampproject/amphtml/issues/945#issue-117257061:

cc @cramforce @jridgewell

[2016-01-13 17:26] dvoytenko commented on #657
Alternative approach: we can simply add `amp-render` (or a better named) element that would work similarly to `amp-list` by loading data from a remote endpoint and rendering it via template - except it will completely lack list semantics.

[2016-01-13 17:51] cramforce commented on #1408
@NataliaLKB Was asking for a declarative approach. If we go there, I think that is better than keeping on hard coding more versions.

Something like

[code]

This definitely feels very feature-creepy.

[2016-01-13 17:55] jasti opened #1412 "Don't see empty ads being collapsed"
As per https://github.com/ampproject/amphtml/issues/1089 and https://github.com/ampproject/amphtml/pull/1265

"The amp-ad tag will be collapsed (set to display: none) if the ad sends a message that the ad slot cannot be filled and AMP determines that this operation can be performed without affecting the user's scroll position."

However,

Live page : https://dfp-amp-testing-1185.appspot.com/amp_te

[2016-01-13 17:58] stephanfowler commented on #1408
It's verbose, but I don't think necessarily it's feature-creepy or complex. The alternative is a ton of work for publishers in revisiting all their embeds (most of which are likely to be legacy docs.)

[2016-01-13 18:10] cramforce commented on #1412
The feature isn't fully rolled out yet. Could you go to https://cdn.ampproject.org/experiments.html and opt into "Dev Channel" and then see whether it starts working?

[2016-01-13 18:20] NataliaLKB commented on #1408
I certainly think that a declarative approach is better. Otherwise you may end up with endless requests for slightly different versions.

I wouldn't define it as "feature-creepy" as it isn't really a new feature, but making the existing component  more adoptable.

[2016-01-13 18:24] dvoytenko commented on #812
The reduce-height case should work slightly differently vis-a-vis increase-heigh. E.g. when the bottom of the collapsing element is in viewport we should not allow it to collapse.

[2016-01-13 18:26] jasti commented on #1412
Done & works great! CC @kashyapnitin

[2016-01-13 18:26] jasti commented on #1412
Do you have a GA date for the feature?

[2016-01-13 18:28] cramforce commented on #1412
Probably tomorrow. Although the heuristic when to update is still subject to some tuning.

[2016-01-13 18:28] #1412 closed

[2016-01-13 18:30] cramforce commented on #812
Actually for the collapse case, we really don't want to allow this if the element is currently visible on the page I think. But I could be convinced otherwise. The 25% slack for the "bottom" rule is definitely too much.

[2016-01-13 18:32] dvoytenko commented on #1408
I was asking about iframe library because if there are 2-3 very popular iframe resize libraries that people like to use, I really don't see a reason not to implement them internally. But the `resize` message declaration also seems ok to me.

[2016-01-13 18:38] cramforce commented on #1408
@NataliaLKB Did you volunteer to implement this by any chance? :)

[2016-01-13 19:19] cramforce opened #1414 "JS Error body unhide should also support new boilerplate"
See this line https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L126
This is triggered when there is a JS error in the main binary.

[2016-01-13 20:18] jridgewell opened #1415 "Allow Dynamic CSS Extension to Block Unhiding Content"
Asynchronously loading the Dynamic CSS Extension can cause a relayouts, FOUC, etc if the page is viewed before the extension finished loading/running. We'll need to add a special case into the core AMP code to detect if this extension is loading, and if so, delay until it has finished.

[2016-01-13 22:06] rudygalfi commented on #1410
Does #1017 cover this? These seem like similar requests (although this one is much more specific on emulating the <details> element).

[2016-01-13 22:16] #1263 closed

[2016-01-14 02:27] dvoytenko commented on #1280
@Nemo64 I don't believe `sizes` allows percent values. I don't have a handy written proof, but a quick test shows this to be the case. Generally %'s go somewhat against the idea of `sizes`. Do you have any indication otherwise? Otherwise, yes, you are right. Advantages are very limited over CSS - it's mostly stylistic thing and we anticipate with some CMS's `sizes` would come more naturally. One n

[2016-01-14 05:12] mjangda commented on #1280
`sizes` has come in handy for the WordPress plugin. We're using it to provide better responsive behaviour for images.

Our page container has a max-width that defaults to 600px. Let's say we have an image with only one size at `350x100`. If we just specify width+height and `layout=responsive` on the `amp-img`, on viewports `> 300` it will grow to fill the page container which is not desirable (ima

[2016-01-14 08:26] Nemo64 commented on #1410
@rudygalfi it seems like it would. I mentioned the `<details>` element because it technically already covers this issue but is a little limited in terms of browser support, styling and usage.

[2016-01-14 08:47] Nemo64 commented on #1280
@dvoytenko yes, sizes doesn't allow percent values. What the native version does allow however is the css `calc()` method to describe layouts like `calc(100vw - 30px)` which the amp `sizes` attribute does not allow. The workaround is to not define `sizes` and simply use `max-width`. Only downside is that it might be required to generate css dynamically based on the content which might be difficult

[2016-01-14 09:13] Nemo64 commented on #1017
One thing to consider is that this might also allow for pulldown/drawer menus as they are common in the mobile web.

What I would also wish for is the capability to toggle 2 elements at the same time to switch between 2 content areas.... like before/after images.

It might also be needed to jump to the expanded element after the toggle is activated.

Another thing this element might need to cover

[2016-01-14 15:22] #352 closed

[2016-01-14 15:53] cramforce commented on #1288
To @dvoytenko

[2016-01-14 15:55] cramforce commented on #1266
@Nemo64 Could you add a failing example file? Maybe on jsbin?

You are allowed to use `allow-same-origin` if the iframe isn't actually on the same origin. This is still useful since the restriction is transitive.

[2016-01-14 15:57] cramforce commented on #1209
I think we should forward all attributes named

`data-param-foo` as `?foo` in the query string of the iframe.

[2016-01-14 15:58] #1204 closed

[2016-01-14 15:59] #1127 closed

[2016-01-14 16:04] jpettitt commented on #1209
+1 for the `data-param-foo` approach.

[2016-01-14 16:57] dvoytenko opened #1428 "Sizes should support "calc()" expressions"

[2016-01-14 16:58] dvoytenko commented on #1280
Thanks @Nemo64 . I filed a separate bug #1428 to support calc expressions in sizes.

[2016-01-14 17:59] cramforce opened #1429 "Provide a way for DFP ads to explicitly state the requested size"
vs. the current behavior where it is always inferred from the tag size.

CC @kashyapnitin

[2016-01-14 20:30] mixonic commented on #999
Does the removal of the second method mean there is no way to trigger development mode on a document you have no URL for? I'm using an iframe and `srcdoc` to preview generated AMP documents and would like to trigger validation.

re: https://stackoverflow.com/questions/34799046/how-can-i-trigger-amp-development-mode-without-a-url

[2016-01-14 21:37] Gregable commented on #999
You can directly import the validator and use it in your javascript code if you'd like. Here's a little demo:
https://jsfiddle.net/4yoxog13/5/

[2016-01-14 21:43] breauxc commented on #1296
Apologies for the delayed response on this.

From Chartbeat's perspective, pushing the calculation of active engaged time to the server side isn't ideal because the implementation of handling pings from AMP becomes more complex -- we'd have to handle them in a bespoke manner. However, if this is the way we wanted to go, we've had previous success for data science purposes using bit vectors of whet

[2016-01-14 22:04] sriramkrish85 commented on #1414
Wow nice catch.

[2016-01-14 22:15] mixonic commented on #999
Great, thank you @Gregable!

[2016-01-14 22:33] rudygalfi commented on #1182
Closing this and shifting over to https://github.com/Automattic/amp-wp/issues/101 for tracking.

[2016-01-14 22:33] #1182 closed

[2016-01-14 22:46] breauxc opened #1436 "Add built-in vendor configuration for Chartbeat analytics"
### Objective

Add the built-in configuration tag for Chartbeat analytics.  Offshoot from #871 .

### Overview

Chartbeat will follow shortly with a PR with our vendor implementation. Engaged time metrics are yet available: See #1296 .

### Sample Implementation (vendors.js)
[code]

### Sample Client Implementation
[code]

[2016-01-14 22:59] rudygalfi commented on #1436
Thanks for the PR! Assuming this is your intent to implement, so adding the label.

[2016-01-14 23:01] cramforce commented on #1436
LGTM got for the ITI.

Great to have you on board!

[2016-01-14 23:18] rudygalfi commented on #1436
cc @avimehta @btownsend to review config syntax when the PR is ready or for any discussion here.

`dashboardDomain` is unfamiliar. Is this a variable clients are expected to fill in?

[2016-01-14 23:43] cramforce opened #1438 "Refactor resources manager to a manageable size"
I think we can start by maybe splitting the mutate/resize VS. layout concern?

The file is too large to understand. And it needs a diagram :)

[2016-01-14 23:58] dvoytenko commented on #1438
I'd like to switch it to simply manage tasks and move all implementations out.

[2016-01-15 02:05] #1429 closed

[2016-01-15 08:50] Nemo64 commented on #1266
@cramforce I think i only now fully understood what the `allow-same-origin` does. [w3schools has an example](http://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_iframe_sandbox_origin)  dedicated to it where the error message in chrome does give a better hint. `Origin 'null' is [...] not allowed access.`. So basically, if i omit `allow-same-orign` the sandboxed document will be considered com

[2016-01-15 08:57] Nemo64 commented on #1428
a suggestion: Couldn't the `sizes` attribute be converted into a stylesheet?

`sizes="(max-width: 639px) calc(100vw - 30px), calc(50vw - 15px)"` would then be:
[code]
That would remove the need to check media queries in javascript.

[2016-01-15 11:47] Nemo64 opened #1443 "implement parallax scrolling"
This probably doesn't fit into the performance aspect of amp. It is however an often used stylistic effect to have images parallax scrolling. This, of course, doesn't work on mobile yet and is often a problem on desktop browser too so it would be challenging. However: a correct implementation could make this effect much more pleasant.

I imagine it like this:

[code]

[2016-01-15 14:16] cramforce commented on #1443
This is on our radar. It actually fits well with the performance aspect, because we want to do it well :)

CC @rudygalfi

[2016-01-15 14:19] cramforce commented on #1266
We don't really make a distinction between relative URLs and same origin URLs.

If you see an error where both parent page and iframe are on localhost, what you can do is to add a few more alternative names to your `/etc/hosts` for localhost and use one of them for the iframes. You just need to make sure that when you deploy it to prod you also have two different domains.

E.g. load the page from

[2016-01-15 14:26] Nemo64 commented on #1266
Yes it does. I need 2 origins for my Iframe stuff to work correctly. I am
already doing this even though it makes the environment much less portable.

Ok, so allow-same-origin works as intended. However there is still the case
that the check for that flag is case insensitive ;)

Malte Ubl <notifications@github.com> schrieb am Fr., 15. Jan. 2016, 15:20:

[2016-01-15 14:36] NataliaLKB commented on #1408
If @sriramkrish85 doesn't have time, I can take a look next week.

Regarding resizing of the iframes, even when sending the right postmessage, I can't seem to get an iframe to resize. Do you have an example of this working?

Here is a jsbin to demonstrate: https://output.jsbin.com/nenivehuce

Here is how the iframe should look:
![image](https://cloud.githubusercontent.com/assets/8774970/12355546/4

[2016-01-15 14:38] cramforce commented on #1266
Are you still seeing the case problem? I believe we fixed it.

[2016-01-15 15:03] cramforce commented on #1408
@NataliaLKB I think the problem is that you called JSON.stringify on the postMessage payload while that is not expected. Just passing the bare object should work.

@erwinmombay Are you still looking into more robust AMP document developer facing logging? This is the kind of thing we should really write to the console when in development mode.

For implementing this feature request, we should do so

[2016-01-15 15:16] cramforce opened #1444 "amp-analytics examples page seems to be broken"
Or what is it supposed to do?

I cannot observe an event if I click the button.

[2016-01-15 15:18] cramforce commented on #1444
Ah, experiment? Closing this for now :)

[2016-01-15 15:18] #1444 closed

[2016-01-15 15:56] rudygalfi opened #1445 "New extension: image slider"
The thing described here: http://www.poynter.org/2014/whats-the-deal-with-buzzfeeds-slide-things/258436/

[2016-01-15 16:42] dvoytenko commented on #1443
Parallax can be set up via CSS and  would work on Chrome fairly everywhere and on desktop Safari and Firefox.

http://jsbin.com/nevehug/edit?html,css,output

However, it won't work in iOS Safari. The main reason, I believe, is not styling itself, but the way scrolling is implemented. That would be the main challenge implementing it there as well when the scroll events arrive significantly later.

[2016-01-15 16:49] dvoytenko commented on #1428
@Nemo64 Yep, this is the most likely implementation here.

[2016-01-15 17:23] Nemo64 commented on #1443
@dvoytenko that implementation uses a div with overflow:auto around the entire page which isn't pretty and makes it invalid amp-html. I already thought about implementing paralax with css only but I found no amp valid way. That's why I opened this issue 😉

[2016-01-15 17:54] jcap-pro commented on #657
Yes I like this approach... Much more generic... For the name, what about amp-remote-renderer ?

[2016-01-15 18:57] dvoytenko opened #1446 "Intent to Implement: amp-remote-renderer"
`amp-remote-renderer` element will be similar to `amp-list`. It will fetch data from a remote endpoint and will render its content via template. However, it will have none of the list semantics.

[code]
## Usage

The `amp-remote-renderer` defines data source using the following attributes:
- `src` defines a CORS URL. The URL's protocol must be HTTPS. The URL can use all URL variables available.
-

[2016-01-15 18:57] dvoytenko commented on #1446
Assigning to @cramforce to review the spec and suggest a different name if this one doesn't work.

/cc @jcap-pro

[2016-01-15 18:58] dvoytenko commented on #657
@jcap-pro I spun this out in the #1446. Closing this issue.

[2016-01-15 18:58] #657 closed

[2016-01-15 19:49] rudygalfi opened #1449 "AMP Analytics: Add ability to set a cookie on the highest possible domain"
cc @avimehta @btownsend @cramforce

[2016-01-15 21:39] erwinmombay commented on #1408
@cramforce i was. i was mostly just classifying `amp-dev` logging vs `pub-dev` logging to DCE all `amp-dev` logging for prod builds. (of course, all `pub-dev` logging should be outputted to console when in dev mode, or be asserted visually on the element itself)

[2016-01-15 22:39] dvoytenko commented on #1408
I think we can easily start without DCE - just add API and then we can split codebase and ask everyone to run through instances and replace with `publog`

[2016-01-15 23:36] #1262 closed

[2016-01-16 11:26] rsmything commented on #1258
How can i fix it?

validator.js:208 http://192.168.1.198:3000/ru:2:8 INVALID_ATTR_VALUE src=/assets/application-859cd81611d82dccdc79ffa5680c19daa707658ea158de14ca49fd129bd7f44b.js (see https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#scrpt)

[2016-01-17 03:22] cramforce opened #1460 "Do tweet resizing via advanced resizing logic"
It was done before we created iframe resizing. It should do the scroll adjustment when possible.

[2016-01-17 14:20] 88kbbq opened #1463 "amp-lightbox not working after browser back, requires page reload"
I'm testing the use of amp-lightbox to display a full-viewport navigation menu on mobile devices. Links in the amp-lightbox navigate to pages as expected, but when testing, the `<button on="tap:my-lightbox">Open lightbox</button>` does not function as expected after returning to the page using the browser back button. The amp-lightbox button simply doesn't open the amp-lightbox. After the page is

[2016-01-17 15:12] 88kbbq opened #1464 "Stylesheet for Google Fonts not validating"
For `<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" type="text/css">`

INVALID_ATTR_VALUE rel=stylesheet (see https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#canon)

[2016-01-17 15:13] 88kbbq commented on #1464
The fonts.googleapis.com should validate.

[2016-01-17 15:17] cramforce commented on #1464
It should. The markup in your original issue looks a bit weird. Could you
link to maybe a jsbin.com with your actual markup?
On Jan 17, 2016 7:13 AM, "Kevin" <notifications@github.com> wrote:

[2016-01-17 18:09] 88kbbq commented on #1464
It's on a test site pos.88k.com.tw.

[2016-01-17 18:09] 88kbbq commented on #1464
If there a question about the fonts URI, check out https://www.google.com/fonts/earlyaccess

[2016-01-17 19:41] 88kbbq commented on #1205
Why not remove rel=stylesheet from the link? It validates.

[2016-01-17 22:31] cramforce commented on #1464
Looks like we need to whitelist the earlyaccess path. Probably fine to allow all paths on the host.

CC @Gregable @powdercloud

[2016-01-18 05:31] 88kbbq commented on #1464
Thank you cramforce. Finally, some foreign language fonts there on Google Fonts Early Access. Just curious, when I have an issue, generally how long does it take to address/fix?

[2016-01-18 06:19] #425 closed

[2016-01-18 06:20] jmadler commented on #327
Agree.

[2016-01-18 06:20] #327 closed

[2016-01-18 11:39] NataliaLKB commented on #1408
@cramforce Thanks! Yes that is the problem.

[2016-01-18 14:16] LennardF1989 opened #1466 "Iframe 600px/75% is too restrictive for our use-case"
A colleague of mine is currently reworking the corporate website to also serve AMP pages. It's been quite some work, but we managed and the result is pretty neat.

One thing we do not like is the iframe position restriction however, and since the error told use to present a use-case, here I am :stuck_out_tongue:

Our corporate-site uses Vimeo for showcasing customer products and the like. The cont

[2016-01-18 18:10] amphtml-team commented on #1466
Please take a look at the placeholder documentation for amp-iframe. It
allows for placement on any part of the page so long as a meaningful
placeholder is specified.
On Jan 18, 2016 6:16 AM, "Lennard Fonteijn" <notifications@github.com>
wrote:

[2016-01-18 18:49] LennardF1989 commented on #1466
That's even better! I'll forward this to my frontend-man and report back with the results :smiley:

[2016-01-18 20:38] jasti opened #1468 "Expose device viewport size on rendering amp-ad"
Provide the ability for the ad creative code to resize itself to the device width when needed & when the ad is not in user view.

[2016-01-19 02:45] #1466 closed

[2016-01-19 02:50] cramforce commented on #1460
This is already happening

[2016-01-19 02:50] #1460 closed

[2016-01-19 05:33] kul3r4 opened #1471 "Add support for Vimeo"
Currently it's only possible show Vimeo video using amp-iframe tag.
Would be better to have a proper Vimeo tag.

[2016-01-19 09:56] adewale commented on #1471
This would be the equivalent of amp-youtube: https://github.com/ampproject/amphtml/blob/master/extensions/amp-youtube/amp-youtube.md

The syntax should be something like `<amp-vimeo data-videoid="140261017"
    layout="responsive"
    width="500" height="281"></amp-vimeo>`

We should also support all the options listed here: https://developer.vimeo.com/player/embedding since it only involves chang

[2016-01-19 14:53] stephanfowler commented on #827
Menus on our regular site are geo-dependent. In the context of a single cached AMP article, this means the menu would have to be loaded following an interaction, which could make a call to our site and receive a geo-varied response.

So our requirement for menus is: an element (eg a "burger"), that when clicked, unhides a container and executes any AMP markup within it (such as amp-list etc.)

Tha

[2016-01-19 14:58] stephanfowler commented on #1017
:+1: to this proposal. For reasons [detailed here](https://github.com/ampproject/amphtml/issues/827), this seems to provide a missing building block for expandable menus. (Which in our case need to make an async request for their content.)

[2016-01-19 14:59] cramforce commented on #1315
@erwinmombay noticed we are lacking supports for a few vendor prefixes on the @-rules. E.g. `@-webkit-keyframes`. @erwinmombay Could you update the spec for that as well?

[2016-01-19 15:08] ds0001 commented on #1468
:+1:

[2016-01-19 15:37] asap commented on #979
Here's an example of one of the links that we're using at The Huffington Post: https://www.facebook.com/HuffingtonPost/posts/10153615455471130

[2016-01-19 15:56] asap commented on #886
Would love to implement this for The Huffington Post.

Here's how we're using Soundcloud:
http://www.huffingtonpost.com/2015/04/01/amy-van-doran-love-tips_n_6984856.html
http://www.huffingtonpost.com/2015/07/02/sex-in-outer-space_n_7713562.html
http://www.huffingtonpost.com/news/huffpost-love-and-sex-podcast/

Apologies for the nature of the content, but it makes for an interesting issue. :sunglas

[2016-01-19 16:27] cramforce commented on #886
@erwinmombay How far along are you with this?

[2016-01-19 17:13] erwinmombay commented on #886
@cramforce not too far along, but i also don't think its hard to implement, so if @asap wants to work on it feel free!

[2016-01-19 17:14] cramforce commented on #886
@asap Do you want to take this on?

[2016-01-19 17:49] Gregable commented on #1315
For the @-webkit- stuff, please be specific here or in the spec and enumerate the @ rules you would like whitelisted in the validator. We don't have a mechanism to whitelist prefixes or anything like that for @ rules. It would be tricky to do since the css parser needs to know how to parse the inside of each rule (e.g. keyframes insides are parsed as more css rules whereas font-face insides are pa

[2016-01-19 18:05] dvoytenko opened #1472 "Confirm getScrollingElement implementation on IE/Edge"

[2016-01-19 18:06] #1397 closed

[2016-01-19 18:06] #1398 closed

[2016-01-19 18:29] Meggin opened #1473 "Add intro tables to the AMP tag markdown files"
Add a simple intro table to each AMP tag that includes: Description, Availability, Validation, Examples, and optional, Learn More (not all AMP tags will have more information at the start of it's release).

* Description will be a brief sentence introducing the tag.

* Availability will be Stable or Experimental for now, but could change to proper version control should this happen in the future.

[2016-01-19 18:30] Gregable commented on #1258
@rsmything , author javascript is not allowed on AMP documents. See https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#html-tags. You'll need to remove that tag to fix this error.

[2016-01-19 18:39] Gregable commented on #1205
@88kbbq, that seems like a validator bug. It's also not clear if all browsers will interpret that URL as a stylesheet in this case.

[2016-01-19 18:43] Meggin commented on #1066
I'm currently working on a simple experimental page under reference in ampproject.org that can be a starting point for these docs.

I've also created an issue to add an intro table to each tag that covers a number of high level features, including availability, and availability would link off to this experimental page, explaining that that means.

The intro tables will be a benefit on more levels

[2016-01-19 18:51] cramforce commented on #1205
It wouldn't. http://output.jsbin.com/loleco/quiet

[2016-01-19 19:04] dvoytenko commented on #1463
@sriramkrish85 could you take a look?

[2016-01-19 19:50] #1258 closed

[2016-01-19 19:57] jridgewell commented on #1343
How about a `documentLostFocusCallback` or `documentBlurCallback` for when the tab itself has changed? This would leave the `documentInactiveCallback` for when the viewer switches to a new page.

[2016-01-19 20:54] dvoytenko opened #1474 "Dynamic classes: mutates should be done via vsync"
See `vsync.mutate(callback)`.

[2016-01-19 20:56] cramforce commented on #1343
I'd rather be explicit and make it the opposite of `layoutCallback`. Maybe `unlayoutCallback` or `conserveResourceCallback`. Then the framework can decide when to call it.

@ericfs mentioned that it would be a good idea to only do this when we have some indication that the user is idle.

[2016-01-19 21:34] nbeloglazov opened #1475 "@-webkit-keyframes should be supported"
According to to AMP [specification](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#properties) both `@keyframes` and `@-vendorPrefix-keyframes` should be supported. But validator complains `saw invalid at rule '-webkit-keyframes'`.

Test page:
[code]

Removing `-webkit-keyframes` fixes the problem.

Thanks,
Nikita

[2016-01-19 21:51] cramforce commented on #1475
Working on fixing this already. CC @erwinmombay @Gregable

[2016-01-19 21:51] erwinmombay commented on #1475
https://github.com/ampproject/amphtml/issues/1315

[2016-01-19 21:52] erwinmombay commented on #1475
lets close this one and continue on the other thread.

[2016-01-19 21:52] #1475 closed

[2016-01-19 22:38] mkhatib commented on #979
I have a change that's almost ready. Just fixing up some tests to send with it for a PR.

I went the amp-twitter approach few exceptions. One is that the only way I got FB SDK to render posts correctly when there are multiple `amp-facebook` elements on the page is to actually load the SDK script in every amp-facebook iframe.

Before that, following `amp-twitter` approach and only loading it once F

[2016-01-19 22:52] britice commented on #1436
Yes. It's a client configuration value.

[2016-01-19 22:53] nbeloglazov commented on #1475
@cramforce, @erwinmombay could either of you update #1315 once prefix-support issue is fixed? As I understand #1315 is about `@support` and not really prefixes. Thanks!

[2016-01-19 22:54] cramforce commented on #1475
Updated the title of #1315, but we can ping here as well.

On Tue, Jan 19, 2016 at 2:53 PM Nikita Beloglazov <notifications@github.com>
wrote:

[2016-01-20 00:38] jridgewell commented on #1343
I think that's the right one, I want to discourage modifying the layout sizes.

I'm not sure I like that idea. There's no reason to think that the user isn't listening to music / "lyric" video with the page in the background, or even with the device locked. It'd annoy the crap out of me to have my music stop every few seconds.

[2016-01-20 02:19] cramforce commented on #1343
I think we should separate the concepts of "tab is in background" and "AMP user is now viewing a different doc in the same viewer". The latter is like navigating away. By default on the web a video stops at that point. First thing is to be able to separate them.

[2016-01-20 11:17] baynezy commented on #909
@dvoytenko as a follow up to this I wanted to clarify my stance.

Long polling a JSON end point feels like a fall-back for when something more useful is not supported. So I would rather that we followed an agreed standard for a supported real-time implementation. Then use long-polling as a fall-back/polyfill for older browsers.

[2016-01-20 14:46] canonicalized opened #1484 "Anchor links issue"
How come amphtml does not support anchor links within a page?
I have a very long article that needs a table of contents: https://canonicalized.com/prestashop-vs-woocommerce-what-is-the-bottom-line/amp/
The anchor links are not working even with the full link specified.
My amp html is valid

[2016-01-20 14:57] cramforce commented on #1484
@canonicalized Did you test in Firefox? It is working for me in Chrome. We had an issue with Firefox and just fixed it, but that version did not yet roll out.

[2016-01-20 15:30] rudygalfi opened #1485 "Graduate amp-analytics from experimental"
Remove code for experiment to make the feature enabled by default.

[2016-01-20 16:14] canonicalized commented on #1484
Yes, I tested it only on Firefox. Thank you @cramforce

[2016-01-20 16:14] #1484 closed

[2016-01-20 17:58] jridgewell commented on #1415
Closed by #1452.

[2016-01-20 17:58] #1415 closed

[2016-01-20 17:58] jridgewell commented on #1474
Closed by #1452.

[2016-01-20 17:58] #1474 closed

[2016-01-20 18:21] cramforce opened #1486 "Support amp-facebook in validator"
Should be a simple tag addition. No custom attributes.

CC @Gregable @powdercloud @mkhatib

Validator folks: Should we send PRs for this kind of stuff now?

[2016-01-20 18:22] cramforce commented on #1486
Blocks #1486

[2016-01-20 18:23] cramforce commented on #979
Thanks @mkhatib. This is now only pending inclusion in validator. Tracked in #1486

[2016-01-20 19:31] cramforce opened #1488 "Consider disabling horizontal scrolling by default"
Most pages that have it are buggy. Could consider supporting explicit opt in to horizontal scrolling.

[2016-01-20 20:24] #1288 closed

[2016-01-20 20:28] rudygalfi commented on #1087
Fixed yesterday

[2016-01-20 20:28] #1087 closed

[2016-01-20 20:29] rudygalfi commented on #1485
Fixed by #1487

[2016-01-20 20:32] rudygalfi opened #1489 "Add timer trigger for amp-analytics"
Offshoot from #871.

We'd like to add a timer trigger that fires a specified request on a regularly scheduled interval.

[2016-01-20 20:34] rudygalfi opened #1490 "Add scroll trigger for amp-analytics"
Offshoot from #871.

We'd like to add a scroll trigger that fires a specified request when the page is scrolled.

[2016-01-20 20:36] rudygalfi commented on #871
I've opened two additional issues to track work first mentioned in this issue:
* Add timer trigger for amp-analytics #1489
* Add scroll trigger for amp-analytics #1490

[2016-01-20 20:38] rudygalfi commented on #871
amp-analytics should validate (#1087) and is on a path to be in our next release as a non-experimental feature (#1485). Closing this.

If you spot any spec gaps that haven't moved into other issues, please open a new issue to track.

[2016-01-20 20:38] #871 closed

[2016-01-20 20:39] rudygalfi commented on #1489
@breauxc Is this something you think you could help us add?

[2016-01-20 21:07] avimehta opened #1491 "GA vendor config bugs"
Currently the &dl and &dp params are set to canonical* values. They should use ampdoc* vars instead.

cc @btownsend,

[2016-01-20 21:13] cramforce opened #1492 "Make AMP handle rendered documents to become "display: none" well"
That allows viewers to reduce the cost of keeping a document around.

CC @ericfs

[2016-01-20 21:13] cramforce commented on #1492
Also cc @jridgewell

[2016-01-20 21:19] Meggin commented on #1473
Adding in another comment based on discussion with Rudy to also include required scripts in table for extended components.

[2016-01-20 21:41] rudygalfi opened #1493 "Expose viewer data to amp-analytics"
amp-analytics currently has support for the DOCUMENT_REFERRER substitution. This request covers exposing viewer data like the name to amp-analytics so that a publisher could know the viewing context for the page. For instance, consider a user who does the following:

(a) Sees a link on Google clicks on it, opening an article on pub.com.
(b) While reading the article in (a), clicks on another link

[2016-01-20 21:41] rudygalfi commented on #1493
cc @jridgewell @erwinmombay who I discussed this with

[2016-01-20 22:23] avimehta commented on #1082
amp-pixel creates pixels for some of the config settings (it uses xhr or sendBeacon if allowed). Thus it sounds like FIXED is the way go.

@dvoytenko: Are you okay with having code related to extensions in src/layout.js? If yes, I can send a PR to do that. Another solution would be to have the extensions register the fixed size through some API. Not sure how useful that would be though.

Suggestio

[2016-01-20 23:41] cramforce commented on #1472
According to @RByers this is likely broken in IE, but fine in Edge.

[2016-01-21 00:22] kesla commented on #886
@asap @cramforce Hey! I'd gladly implement this!

[2016-01-21 00:27] pfrisella opened #1494 "GA Vendor config - change field name for socialActionTarget"
I'd like to propose changing social interaction field from `socialActionTarget` to `socialTarget`.
This will make social interaction field names consistent with analytics.js field names.

[2016-01-21 02:25] davidreghay commented on #1318
Sorry, I missed your response until now!  The specific sample is proprietary code (on an employer's server) but within the next few days I will attempt to reproduce independently.  If successful I'll include a sample here.  Thank you!

[2016-01-21 04:53] ElenaOrel opened #1496 "Opacity syntax, HTTPS vs HTTP, layout="responsive""
MS Visual studio is adding ";" automatically to css
I had a problem with
<style>body{opacity:0;}</style><noscript><style>body{opacity:1;}</style></noscript>
until I realized I need to delete ";" (comma)
<style>body{opacity:0}</style><noscript><style>body{opacity:1}</style></noscript>
Also:
<style>body{opacity:0;}</style><noscript><style>body{opacity:1;}</style></noscript>

Also:
 <link href='http:

[2016-01-21 05:05] rudygalfi commented on #1494
cc @avimehta

[2016-01-21 05:14] dbakker opened #1497 "Using the universal selector to set box-sizing"
One extremely popular way to set box-sizing is like this (e.g. in twitter bootstrap and websites such as github itself):

[code]

However, reading from the documentation:

If I understand this correctly, this means *amphtml* developers need to use an explicit list of all HTML5 elements they may need, e.g.:

[code]

*Note: I haven't rigorously tested this but it seems to work on my site for now.*

[2016-01-21 05:42] dvoytenko commented on #1496
@Gregable are we close to being able to validate CSS for boilerplate with more flexibility? Or did we decide not to do that?

[2016-01-21 05:53] dvoytenko commented on #1082
It doesn't sound like this is about `amp-pixel`, but rather `amp-analytics`. Indeed it should have `layout=nodisplay` or, in other words, `isLayoutSupported()` should always return `false`, not `true`. But it looks to me that validator currently enforces `nodisplay`. Or am I wrong?

With that in mind I don't see why we should have any code in `src/layout.js` - can you explain?

[2016-01-21 06:06] ElenaOrel commented on #1496
Microsoft Visual Studio (I am using VS 2015) - is adding ";"  for css style for a single selector at the end (automatically).
That is why I had a problem to figure out the "MANDATORY_CDATA_MISSING_OR_INCORRECT error"
for
 body {opacity: 0;}.
Also, the
links for referring google fonts have been deleted from my post.
I was trying to say:
fonts.googleapis.com should be with https, not with http.
Is i

[2016-01-21 10:27] philwills commented on #1493
Just to give another motivating example, if a user opens an AMP page in an app which uses AMP rendering like Nuzzel, I wouldn't expect any DOCUMENT_REFERRER to be set, but knowing the VIEWER would be useful.

[2016-01-21 15:06] msukmanowsky commented on #1296
$0.02 from Parsely - the server side implementation for engaged time would not be ideal and require non-trivial updates to our processing pipeline to handle the pixels that @rudygalfi or @breauxc are describing.

The benefit of the engaged time implementation Parsely [open sourced](https://github.com/Parsely/time-engaged) is minimization of pixel requests on the client side. Currently, every 5 sec

[2016-01-21 15:53] msukmanowsky opened #1500 "Add built-in vendor configuration for Parsely analytics"
## Objective

Add configuration tag for Parsely analytics.

## Overview

PR to follow shortly including implementation.

## Proposed Vendor Configuration

[code]

## Additional config variables requested

* screenAvailWidth (JavaScript property `screen.availWidth`)
* screenAvailHeight (`screen.availHeight`)
* colorDepth (`screen.colorDepth`)

### Client side sessionization

We don't see client-sid

[2016-01-21 15:54] msukmanowsky commented on #1500
@rudygalfi I can't assign labels to issues. Mind adding `INTENT_TO_IMPLEMENT` to this one?

[2016-01-21 16:17] cramforce commented on #1496
@ElenaOrel You can wrap things in ` quotes to get code to show up unchanged.

To answer your HTTPS question: Yes, for all resources except images and your own fonts (which AMP can proxy), AMP requires HTTPS, because AMP is designed to be embeddable into pages that are  hosted on HTTPS.

[2016-01-21 16:51] cramforce commented on #1497
@dvoytenko Do you expect AMP to be generally robust with respect to different box sizing?

I think the easiest solution would be to add a class called `amp-border-box` into the core CSS, people can just do `html class="amp-border-box"` and don't need to use the universal selector themselves.

[2016-01-21 17:02] rudygalfi commented on #1500
@msukmanowsky Added the label, thanks!

[2016-01-21 17:18] rudygalfi opened #1503 "Support for additional substitution variables in amp-analytics"
suggested by @msukmanowsky:
- [ ] availScreenWidth = screen.availWidth
- [ ] availScreenHeight = screen.availHeight
- [ ] colorDepth = screen.colorDepth

suggested by @avimehta:
- [ ] documentEncoding
- [ ] userLanguage

[2016-01-21 17:23] rudygalfi commented on #1485
Did we need to remove from https://cdn.ampproject.org/experiments.html as part of this?

cc @dvoytenko

[2016-01-21 17:29] #1158 closed

[2016-01-21 19:05] dvoytenko commented on #1485
Yes. This should have been done in the same PR. Obviously now it needs to be completed.

[2016-01-21 19:09] dvoytenko commented on #1497
We should be robust. But we definitely need to retest. We can either do `amp-border-box` class or we can discuss if we can support this kind of precise validation in the Validator.

[2016-01-21 19:12] avimehta commented on #1485
will send out another PR.

[2016-01-21 19:20] sebastianbenz opened #1505 "CDN AMP Experiments cannot be enabled on IOS"
Toggling AMP canary via cdn.ampproject.org/experiments.html does not work in a webview on ios (seems popup dialogs don't work).

[2016-01-21 19:26] Gregable commented on #1496
@dvoytenko we added a regex with a bunch of allowed whitespace for the *new* boilerplate. Still waiting for rollout for that, I suspect later this week. However, it's still a hack. We haven't had any time to work on the css parser, so no progress towards a real solution here. Things like ordering will still matter.

[2016-01-21 19:29] dvoytenko commented on #1496
@Gregable Are there additional simple steps possible with semicolons and such?

[2016-01-21 19:32] Gregable commented on #1496
We can make this as complex as a regular expression will allow, but any changes at this point will take awhile to roll out.

[2016-01-21 19:49] rudygalfi opened #1506 "AMP cache breaks template images"
Observed on this article: https://cdn.ampproject.org/c/www.theguardian.com/sport/2016/jan/21/police-were-called-in-after-officials-forgot-footballs-for-patriots-game/amp

@dvoytenko:

[2016-01-21 20:14] R-O-P commented on #1493
Looks like viewer is the same as what you intended to implement initially called "runtime_id".
See : https://github.com/ampproject/amphtml/issues/871

[2016-01-21 20:52] rudygalfi commented on #1485
Latest issue resolved by #1504.

[2016-01-21 20:52] #1485 closed

[2016-01-21 20:54] rudygalfi commented on #961
Is there anything else that needs to be resolved from this or can it be closed?

[2016-01-21 20:54] rudygalfi commented on #1172
pinging @cramforce to see if there's an update here or if this can be closed

[2016-01-21 20:58] cramforce commented on #961
We need to finish a few optional user-notification connections. CC @erwinmombay

[2016-01-21 21:43] erwinmombay opened #1510 "add data-consent-notification attribute to amp-analytics"

[2016-01-21 21:45] erwinmombay commented on #1172
related https://github.com/ampproject/amphtml/issues/1510

also we have some docs on client_id in https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md

[2016-01-21 21:53] #1505 closed

[2016-01-21 21:58] sebastianbenz commented on #1505
Thanks Dima!

[2016-01-21 22:34] paul-matthews commented on #1201
In the implementation, I use SVGs for the share icons. For consistency I plan to use the following MIT licensed implementation of the SVGs in the codebase:
http://codepen.io/anon/pen/KVZNGp

I'll be checking them into 3p, then use the generators to import them inline at build time.

[2016-01-21 22:37] devdazed opened #1511 "Add built-in vendor configuration for SimpleReach Analytics"
## Objective

To implement SimpleReach vendor configuration.

## Overview

## Proposed Vendor Configuration
[code]

### Additional Event Sources Requested

SimpleReach tracks the time-on-site and user engagement in several different ways. In order to support our full suite of analytics we would require the following event sources in addition to those provided:

* **Timer event** - This is an event

[2016-01-21 22:49] dothebangthingsalon opened #1513 "AMP Developer Needed"
I need a developer to create an AMP compatible webpage for our small business that will also contribute information about the development process back to this forum.  Please respond if interested.

[2016-01-21 23:18] cramforce opened #1514 "Document how viewability for amp-iframe works"
Since there is no inner-iframe code controlled from us, it is different compared to ads.

[2016-01-22 00:16] rudygalfi commented on #1490
Slight twist to this proposed in https://github.com/ampproject/amphtml/issues/1511: A trigger when a scroll reaches a particular part of the page, e.g. 25% mark

[2016-01-22 00:27] devdazed commented on #1490
The only issue I see with firing an event on every scroll event is that it opens the possibility to drastically slow down the page and impact the user experience. This is largely because the scroll event fires pretty close to per-pixel.

I think if we made the event fire per % or per N pixels it will help ensure responsiveness.  What are the overall thoughts on this?

[2016-01-22 01:34] rudygalfi commented on #1490
For scroll specifically I had in mind something like only triggering on the scroll end event (or maybe you have separate triggers for scroll start and end). In any case, definitely not everything as the page scrolls.

If the trigger is instead keyed off of a pixel count or % of document perhaps it could be set up to fire mid-scroll. We'd need to figure out if there's a restriction on the intervals

[2016-01-22 01:38] ElenaOrel commented on #1496
I was expecting to see a smaller font size to fit 50x50 (I tried different dimensions).
For some reason the amp-fit-text behaved as a regular div.
'<amp-fit-text width="50" height="50" layout="responsive"
                      max-font-size="52">
            Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque
            inermis reprehendunt.  Lorem ipsum dolor sit amet, has nisl

[2016-01-22 01:52] rudygalfi commented on #1513
Thanks for your interest in AMP! However, please don't use the issues tracker to post job listings.

[2016-01-22 01:52] #1513 closed

[2016-01-22 04:02] #1414 closed

[2016-01-22 04:48] #1472 closed

[2016-01-22 04:51] dvoytenko commented on #1496
@ElenaOrel could you share a link to your page or a smaller excerpt as a jsbin?

[2016-01-22 05:15] avimehta commented on #1490
I had in mind what @devdazed suggested in #1511. The reason being that I had only seem publishers keep track of quartiles. For implementation, we would create a measurePromise defined in src/vsync.js and check for scroll position. This way, we only do expensive calculations when it is cheap to do. I have not looked a lot more into implementation but if we had to look at scroll events, we would do

[2016-01-22 05:29] jpettitt opened #1522 "Is there a roadmap/timeline for when experimental things will be merged into the released version?"
I'm specifically wondering about responsive/slides amp-carousel, it works great as an experiment fails on the release version.  [edit - this is in prod I just misread the doc]

Beyond the specific case it would be really nice to have some sort of dashboard of things in progress and when they are expected to go live.  We're working on sites that want to be live when the Google news carousel goes li

[2016-01-22 05:39] erwinmombay commented on #1522
@jpettitt theres definitely been some requests about a feature dashboard and status. although we dont have plans of a dashboard, we are planning on adding a status (and maybe an eta?) of canary/validation on our document page (www.ampproject.org/docs).

/cc @Meggin @cramforce

[2016-01-22 06:12] ElenaOrel commented on #1496
Sure!
The page:
http://primeedge.com/index_amp.html

https://developers.google.com/speed/pagespeed/insights/?hl=en&utm_source=wmx&utm_campaign=wmx_otherlinks&url=http%3A%2F%2Fprimeedge.com%2Findex_amp.html

87 / 100 Speed
after I eliminated the reference to the fonts.googleapis.com (69/100)

A minor detail:
Minify JavaScript for the following resources to reduce their size by 717B (2% reduction).

[2016-01-22 06:53] mjangda opened #1523 "amp-iframe with placeholder still shows loading indicator"
If you have an `amp-iframe` with a `placeholder` that doesn't fill the iframe size, the loading indicator is still visible, which isn't great visually.

### Screenshot

![amp-iframe-placeholder](https://cloud.githubusercontent.com/assets/86105/12504340/6762a548-c0aa-11e5-9609-fb2f5a8ef765.png)

### Code sample

http://codepen.io/mjangda/pen/XXVvRo

To reproduce, you need to set the iframe src to a

[2016-01-22 10:47] jdelhommeau opened #1524 "Forcing one amp-ad to be the master"
Hi Guys,

I am currently working on the amp adaptor for appnexus adserver.
We want to support one ad call for every ad placement on the page, which require communicating among the different amp-ad tags on the page.

The idea is that the master iframe will make the ad call for every placements on the page. Then every slave iframe will ask the master iframe to give them the ad code to render.
It wor

[2016-01-22 12:49] SivaRaman24 opened #1525 "Amp Example for facebook not working"
In examples facebook.amp.html page was not working because of the following resource is missing
"NetworkError: 404 Not Found - https://cdn.ampproject.org/v0/amp-facebook-0.1.js"

[2016-01-22 12:54] cramforce commented on #1525
It'll take a couple weeks for this to work and then a couple more weeks to
validate.
On Jan 22, 2016 4:49 AM, "Sivaraman Antony" <notifications@github.com>
wrote:

[2016-01-22 12:59] cramforce commented on #1524
It's not possible to know in advance which one will be master. Since in
your example only 1 of the 2 ads might load on a given page, the designated
master might never load (imagine they are far apart, one on top, one at the
bottom. You scroll down and hit reload, only the bottom ad loads).

Master selection is completely random (driven by network speed). Whichever
ad loads first, wins.
On Jan 22,

[2016-01-22 13:07] jdelhommeau commented on #1524
Thank you @cramforce , that makes sense.
In that case, is there a way to make a third element, containing the configuration, always load, ideally first, and have the two amp-ad tags only display the ad (not making any call) whenever they need it?

[2016-01-22 13:09] SivaRaman24 commented on #1525
Okay thanks for the information @cramforce

[2016-01-22 13:10] cramforce commented on #1524
There is currently no way to uncouple configuration from placement on the
page. I think that would be an interesting enhancement, but it would take
in the order of 4-5 weeks to fully land (due to validation changes, etc.).
On Jan 22, 2016 5:07 AM, "jdelhommeau" <notifications@github.com> wrote:

[2016-01-22 13:12] cramforce commented on #1525
We'll update the GH docs. If isn't obvious right now that this is not
expected to actually work yet. Sorry about that.
On Jan 22, 2016 5:09 AM, "Sivaraman Antony" <notifications@github.com>
wrote:

[2016-01-22 14:44] NataliaLKB opened #1526 "Issue with running ads from a custom domain"
There seems to be an issue when following [these guidelines](https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.md#running-ads-from-a-custom-domain).

All iframes on the page seem to be affected. Amp-twitter for example is broken. Specifically the iframe it creates.

Here is a screenshot of how amp-twitter is being affected:
![image](https://cloud.githubusercontent.com/assets/877497

[2016-01-22 14:50] NataliaLKB commented on #1408
I haven't gotten a chance to look into this now, but will hopefully get a chance this weekend.

[2016-01-22 14:58] devdazed commented on #1490
The publisher in this case is trying to identify how far the user scrolled to determine how much of the article was read.  I don't see a use case where the publisher would want to see who scrolls back up.  I think firing only once as the user passes the trigger boundary is sufficient.  This can also be a configurable for example:

[code]

Furthermore, to ensure accuracy, we might want to fire all

[2016-01-22 15:08] cramforce commented on #1526
This happens when opted into canary release. You can fix this on your side by amending the

`if (!(/^\d+$/.test(v))) return;`

in remote.html to be

if (!(/^\d+(-canary)?$/.test(v))) return;

We will update the documentation.

[2016-01-22 15:24] nitzanvolman opened #1527 "Intent to Implement: amp-embed"
The specific need is to allow amp-ad code to be re-used in a scenario where amp-ad will not be semantically accurate, such as content recommendations.

[2016-01-22 16:10] cramforce commented on #1526
@NataliaLKB Could you confirm that this fixed things for you?

[2016-01-22 16:11] NataliaLKB commented on #1526
Will be able to confirm momentarily

[2016-01-22 17:20] NataliaLKB commented on #1526
Unfortunately it doesn't seem to have solved the problem, any other ideas?

[2016-01-22 17:24] cramforce commented on #1526
Looking at https://www.theguardian.com/books/booksblog/2016/jan/20/the-best-music-to-listen-to-while-reading-or-is-it-sacrilege/amp I now see one add loading, but there seems to be a JS error in your own Krux related code. Could that be the problem?

[2016-01-22 17:34] NataliaLKB commented on #1526
I will check with that team, as it does seem to be an error there. Thanks @cramforce . Will close this issue.

[2016-01-22 17:34] #1526 closed

[2016-01-22 17:45] cramforce commented on #1525
Updated docs.

[2016-01-22 17:45] #1525 closed

[2016-01-22 17:48] dvoytenko commented on #1523
`placeholder` itself doesn't cancel loading indicator. But you can add `noloading` attribute to the element in question which will cancel loading indicator.

[2016-01-22 17:48] #1523 closed

[2016-01-22 17:53] dvoytenko commented on #1522
@erwinmombay and @jpettitt Did I miss some pull requests? I believe responsive slides have been out in PROD for a long time now.

@jpettitt could you please send us a link to a document that fails?

[2016-01-22 18:24] cramforce opened #1529 "Add error reporting for broken images"
onerror on `amp-img` events.

CC @thatbez

[2016-01-22 18:30] erwinmombay opened #1530 "demo viewer integration code must buffer messages if actual viewer code is not ready to receive message"

[2016-01-22 18:54] johnnyshankman opened #1531 "Responsive Layout for <amp-img> BREAKS aspect ratio when nested in <amp-carousel>"
This bug breaks `<amp-carousel>`s containing `<amp-img>`s of different sizes completely.

The code block in question
[code]

Everything works fine but the images fill the box without regards to aspect ratio, even with the declared `height` and `width` inside of the AMP-HTML tag. Normally when I declare a height and width and use `responsive` as the layout the `<amp-img>` maintains its aspect ratio

[2016-01-22 18:54] jpettitt commented on #1522
@dvoytenko sorry you're right, my bad, it is in prod, I misread the doc as the not supporting responsive being global not just the type=carousel.

The bigger question of some sort of what's going live when is still something I'd like to see.

[2016-01-22 18:57] dvoytenko commented on #1522
@jpettitt We are approaching it from two different directions: (1) we will improve documentation of what's experimental, where we are waiting for validator to catch up, etc. (2) we will be reducing lag between this phases and make it predictable.

[2016-01-22 18:58] johnnyshankman commented on #1531
Here's what the following code normally produces when the `<amp-img>` is within any other standard element, in this context a `<div>`:

`<amp-img src="https://placehold.it/300x450" layout="responsive" width=300 height=450></amp-img>`

![screen shot 2016-01-22 at 1 57 54 pm](https://cloud.githubusercontent.com/assets/6632701/12520046/3fffb21e-c110-11e5-9a05-ad417b8c39fc.png)

[2016-01-22 18:59] erwinmombay commented on #1522
@dvoytenko @jpettitt we are tracking it here https://github.com/ampproject/docs/issues/6

[2016-01-22 19:00] #1522 closed

[2016-01-22 19:08] dvoytenko commented on #1531
Yes, this is clearly a bug. We'll fix shortly. In the meantime, could you place each image in a `div` as a workaround.

[2016-01-22 19:09] johnnyshankman opened #1532 "No Ability To Pick Starting Index for <amp-carousel>"
This is a request for the ability to pass the starting index into an `<amp-carousel>`

I believe this line could be the trick
https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/slides.js#L56

If we defaulted to 0 but pulled in the element's value for `data-index` instead when possible, devs could choose the starting index of a slide.

This is an extremely common use case

[2016-01-22 19:15] johnnyshankman commented on #1531
Let me give it a go and see what happens.

[2016-01-22 19:21] johnnyshankman commented on #1531
Putting each `<amp-img>` element inside of a `<div>` does not quite fix the problem.

Now it respects the aspect ratio and the width, but not the height.

![screen shot 2016-01-22 at 2 19 37 pm](https://cloud.githubusercontent.com/assets/6632701/12520561/4eafa532-c113-11e5-956e-59527d43514d.png)
![screen shot 2016-01-22 at 2 19 45 pm](https://cloud.githubusercontent.com/assets/6632701/12520560/4ea

[2016-01-22 19:24] sriramkrish85 opened #1533 "Implement embed-size-denied"
signal back ads/iframes when we couldn't expand on their embed-resize request. Send a postMessage with embed-size-denied (when the runtime can't resize)so that they can provide their own overflow element within and repeat request on tap. In that case AMP will definitely allow size change due to user action.

This would be useful for both: iframes and ads

CC @dvoytenko, @cramforce

[2016-01-22 19:57] dvoytenko commented on #1531
@johnnyshankman now it actually looks correct. Preserving the aspect ratio is actually what `layout=responsive` does.

In case of 500x200 case where it's pinned to top, you can always assign a class to the parent `div` to align the content in the center, e.g. via flexbox.

In case of 300x450 where it's clipped - there's no easy way to address it via CSS, since CSS is a bit challenge when dealing w

[2016-01-22 20:13] ericfs commented on #1530
Doesn't it already do that?

https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L543

[2016-01-22 20:21] johnnyshankman commented on #1531
The problem is that in that first example, even if I set the carousel's height to 450px it will still clip the image. It can't seem to stop expanding it. Am I misunderstanding something here?

[code]

Produces
![screen shot 2016-01-22 at 3 21 30 pm](https://cloud.githubusercontent.com/assets/6632701/12521955/da9cda3a-c11b-11e5-9030-8b59deb8d3bc.png)

[2016-01-22 20:27] johnnyshankman commented on #1531
Wait, so you're telling me that if I tell an `<amp-img>` with set height and width to be responsive within a carousel of set height and width, there is no way to keep it from adjusting it's width in order for the height to fit within the box while maintaining aspect ratio?

[2016-01-22 20:30] johnnyshankman commented on #1531
The centering of the 500x200 is not an issue, as you have explained. I can fix that with CSS.

[2016-01-22 20:36] dvoytenko commented on #1496
@ElenaOrel re: amp-fit-text. I don't see any instances in the http://primeedge.com/index_amp.html. Is this the right document?

RE: speed index and compression issues - would you mind spinning it off into a separate issue so that someone else can address it separately?

[2016-01-22 20:40] dvoytenko commented on #1531
`layout=responsive` essentially means "responsive width". It takes all of the available width and calculates height automatically based on the aspect ratio. This is certainly a limitation. Unfortunately, however, our requirement is to ensure that all layouts are implemented via CSS in initial layout and we found no way to express aspect ration constraints based on height - only based on width. Cer

[2016-01-22 20:40] erwinmombay commented on #1530
@ericfs , i think we need one the other direction. ill clarify that i need to make this change in our demos mostly since this is going to be viewer related code.

Right now, visibility changes can get dropped if the viewer posted a message and the viewer code in amp.js has not started listening yet.

[2016-01-22 20:41] cramforce commented on #1530
In that case you may need a way to ask for viewability info.

[2016-01-22 20:42] johnnyshankman commented on #1532
The context for this is that on my page I have multiple images. All of them, on tap, trigger a lightbox containing a slideshow. It would save a lot of time + space to have one slideshow with all of the slides in it, and then on tap I simply pass in the starting index.

Right now I'm forced to have a 1-1 relationship between lightbox-carousels and images.

[2016-01-22 20:43] dvoytenko commented on #1530
I think asking for whatever might have changed is rather cumbersome. "I'm ready to receive" is pretty common. I think we may already have it in other viewers implemented as well.

[2016-01-22 20:45] rudygalfi commented on #1532
:+1: Good suggestion

[2016-01-22 20:46] avimehta opened #1535 "amp-analytics should show user errors in console instead of logs"
cc @cramforce, @rudygalfi Can you let me know when I can use the new logger? If you would like me to use console.error, I can start on this right away.

[2016-01-22 20:47] ElenaOrel commented on #1496
Sorry:
http://files.featurepics.com/index_amp2.html

I was expecting divs with the specified dimensions. Thank you for all your help!

[2016-01-22 20:50] cramforce commented on #1535
Yeah, start right away with `console.error`. Use `console./*OK*/error` to work around the presubmit failure

[2016-01-22 21:05] dvoytenko commented on #1496
@ElenaOrel This case looks simple. You just need to add:
[code]
You can find more info here: https://github.com/ampproject/amphtml/blob/master/extensions/README.md

[2016-01-22 21:11] johnnyshankman commented on #1531
Dang, that's a real game breaker for us.

Well, I'll report back if I can manage to produce a working/valid solution.

Unfortunately unless one of your engineers comes up with a working solution in mean time, I won't have time to spike on this again for a few weeks so you won't hear back from me for a bit. I'll continue to monitor this issue just in case that does happen!

[2016-01-22 21:17] ElenaOrel commented on #1496
Great! Thanks a lot!

[2016-01-22 21:35] mkhatib commented on #1209
How does this behave in case of using `srcdoc`? Do we just append the params to the computed `dataUri`? or do we not pass `data-param-*` in that case?

[2016-01-22 22:04] dvoytenko commented on #1531
Hmm. This is a pretty typical problem. What do you do today to resolve it?

[2016-01-22 22:28] #814 closed

[2016-01-22 22:36] dvoytenko commented on #1531
@johnnyshankman Forgot about this option. It's possible to use `layout=responsive` or `layout=fill` for replaced content such as images to preserve aspect ratio in slides. Here's an example:

http://jsbin.com/vuxite/edit?html,css,output

In a nutshell you have to see `object-fit: contain` on the encapsulated IMG element.

Let me know if this works for you. This would work for any replaced element:

[2016-01-22 23:20] johnnyshankman commented on #1531
@dvoytenko Well I eventually found that our API can pad the image via query parameters so I did some math in order to always pad the images into a square. I totally don't want to continue doing that though so I will try this solution first thing Monday morning and report back.

The JSBin looks promising though!!!!

[2016-01-22 23:21] ericfs opened #1538 "add a 'paused' visibility state"
When an document is swiped in the viewer, it is still visible in the window, but it also shouldn't be considered fully visible. For example, it would be good to pause videos.

The viewer will still send hidden to mean that the doc is completely hidden to the user.

[2016-01-22 23:27] johnnyshankman commented on #1531
@dvoytenko Just kidding I got antsy. IT WORKS!

Both of the solutions in the JS Bin works perfectly. :+1:

I think the object-fit + layout="fill" workaround is great, and maybe should be documented because I'm sure tons of people will want this functionality from their slideshows/carousels.

My final working responsive amp-lightbox slideshow's code goes a little like this:

[code]

and in the CSS

[2016-01-22 23:30] johnnyshankman commented on #1532
Thank you! Hope to see this feature soon :)
It'll save my pages a *ton* of extra markup!

[2016-01-22 23:30] cramforce commented on #1538
Tracked at Google in issue 26746276

[2016-01-22 23:35] sriramkrish85 commented on #1463
@88kbbq is there a page i can look at? I tried this in the some manual test files seems to be working.

[2016-01-22 23:35] #918 closed

[2016-01-22 23:43] rudygalfi commented on #412
Sweeping old bugs: Is this still needed?

[2016-01-22 23:43] rudygalfi commented on #409
Sweeping old bugs: Is this still needed?

[2016-01-22 23:46] rudygalfi commented on #362
Sweeping old bugs: Is this still an issue?
cc @Gregable to speak to validator behavior

[2016-01-22 23:46] rudygalfi commented on #213
Sweeping old bugs: Is this still needed?

[2016-01-22 23:47] rudygalfi commented on #212
Sweeping old bugs: Is this still needed?

[2016-01-22 23:48] rudygalfi commented on #150
Sweeping old bugs: Is this still needed?

[2016-01-22 23:48] rudygalfi commented on #63
Sweeping old bugs: Is this still needed?

[2016-01-22 23:49] erwinmombay commented on #212
@rudygalfi ill double check, but i think this isnt really relevant anymore.

[2016-01-22 23:49] #212 closed

[2016-01-22 23:51] Gregable commented on #362
The validator doesn't directly enforce requirements around end tags, mostly they all have to do with spec requirements about what tags can be inside of others. There was another request to disallow attributes in end tags, but we haven't done anything with that so far. I'm reasonably sure browsers ignore these, so it hasn't been a high priority.

[2016-01-22 23:58] rudygalfi commented on #1511
@devdazed Is this an intent to implement?

[2016-01-22 23:59] rudygalfi commented on #1511
Also, would you be willing to submit a pull request for scroll triggers as discussed in #1490?

[2016-01-23 00:18] rudygalfi opened #1540 "Define and provide a "read" event"
Some way to determine when a pageview is considered a "read" and either provide to downstream clients like access or analytics.

[2016-01-23 00:27] devdazed commented on #1511
Yes, this is an intent to implement. I am still discussing with my team, how involved #1490 is, will get back to you on what we find.

[2016-01-23 00:27] erwinmombay commented on #412
@rudygalfi yes definitely, i will get to some carousel work by next week

[2016-01-23 00:29] dvoytenko commented on #1531
Awesome. Yes. We will document.

[2016-01-23 00:29] #1531 closed

[2016-01-23 00:41] cramforce opened #1542 "Implement forbidden dependency tests"
This would allow us to prevent surprises where e.g. an extension depends on some file that is always in core (e.g. extension never depends on a core service).

Maybe we can get browserify to output the module dep graph and query that.

[2016-01-23 01:35] rudygalfi commented on #1221
Also, following up within Google on the Material template and Page Speed, so closing this out.

[2016-01-23 01:35] #1221 closed

[2016-01-23 01:35] powdercloud commented on #1082
Yes, I'm talking about amp-analytics.
I think the way it goes in the validator is that there is no supported_layout defined for amp-analytics (look for `# <amp-analytics>` in https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii), so that means the validator does not validate layout, width, height, sizes. It also means that it doesn't allow any of these attributes, not e

[2016-01-23 01:36] powdercloud commented on #1082
Also /cc: @Gregable.

[2016-01-23 01:50] avimehta commented on #1082
One thing to note is that the tag does not work when layout is set to
nodisplay. I'll need to figure out why and fix that before you can make
that change...
On Jan 22, 2016 5:37 PM, "Johannes Henkel" <notifications@github.com> wrote:

[2016-01-23 02:00] jmadler commented on #1194
Ported to [amphtml/docs issue 16](https://github.com/ampproject/docs/issues/16), unassigned

[2016-01-23 02:00] #1194 closed

[2016-01-23 02:01] #409 closed

[2016-01-23 02:01] #180 closed

[2016-01-23 02:02] jmadler commented on #180
Ported to [docs repo issue 13](https://github.com/ampproject/docs/issues/16)

[2016-01-23 03:33] 88kbbq commented on #1463
Just uploaded to pos.88k.com.tw. I'll add some other pages, but it seems if the page doesn't have the lightbox.js then the lightbox won't open/close unless the page is reloaded. For testing, the catering.html has the lighbox.js but the restaurant.html does not. Also, the lightbox doesn't close if the user navigates to another page without closing the lighbox. Not sure how to implement the hamburge

[2016-01-23 06:52] 88kbbq commented on #1463
Maybe there could be a `on="tap:my-lightbox.reset"' that resets lightbox to default state after tapping a link

[2016-01-23 07:01] 88kbbq commented on #1463
working around these AMP HTML restrictions is just a nightmare. How about you allow 50,000kb of inline JS like the 50,000kb CSS? Restrict those functions that conflict with the v0.js and you could solve half the problems on Github in one fell swoop without a signification impart on page load speed. Consider?

[2016-01-23 15:03] aikt opened #1544 "How to scroll in amp-lightbox to mobile?"
Hi,

I testing amp-lightbox, so i have a button to open the box, in this box i have a menu vertical, but is very large in height, i put in the css overflow-y: scroll to element (.-amp-fill-content ), in the desktop its works fine, but in iphone 5 or samsung mobile, dont work, any idea to fix this?.

Thanks, sorry for my english.

[2016-01-23 20:41] pierrefar opened #1546 "Handling paginated content"
Hello

I can't find any support for paginated AMP content. The [HTML standard](https://html.spec.whatwg.org/#sequential-link-types), supported by [Google indexing](https://support.google.com/webmasters/answer/1663744?hl=en) and others, is to use link elements with rel=next and rel=prev.

This usage of <link> is explicitly disallowed for AMPs as per [AMP HTML spec](https://github.com/ampproject/amp

[2016-01-23 23:20] dvoytenko commented on #1546
I don't think they are explicitly disallowed. Could you pls clarify where you see that?

/cc @cramforce @Gregable

[2016-01-23 23:24] dvoytenko commented on #1544
@aikt - yes, we can fix this. We will have to add `scrollable` attribute or something like that to the lightbox element. There's a lot going on to enable scrolling without glitches, on iOS especially. However, this is a bit different from the intent of lightbox. Could you please describe your use case in a bit more detail? Perhaps we're missing an extension...

[2016-01-23 23:26] cramforce commented on #1546
Here is the full list of allowed rel values. `next` and `prev` and in there. We should update the docs accordingly.

[2016-01-24 04:15] avimehta opened #1549 "Expose a count of number of hits sent by amp-analytics tag."
a variable like this can be used to add sequence number to analytics hits.

[2016-01-24 04:17] avimehta opened #1550 "Add ability sample triggers based on a sampleSpec."
See details of spec in https://github.com/ampproject/amphtml/issues/1550#issuecomment-188527377

[2016-01-24 09:35] 88kbbq commented on #340
Does this mean this errors like MANDATORY_ATTR_MISSING A11Y: Element AMP-IMG#AMP_2 must have "role" attribute due to "tap" action, e.g. role="button" and MANDATORY_ATTR_MISSING A11Y: Element AMP-IMG#AMP_2 must have "tabindex" attribute due to "tap" action will go away? I can't figure out how to solve these validation errors, as these appear even after I add role and tabindex values.

[2016-01-24 09:36] 88kbbq commented on #340
Oops! This is closed.

[2016-01-24 13:52] 88kbbq commented on #1544
Yes, I'm having a similar issue #1463. I really wish there was either some inline javascript allowed, like a small 20kb snippet before the closing body tag. The next best thing would be some common menu functionality, like dropdown menus, hamburger-styel menus, etc. So far, there is no easy way to introduce unobtrusive mobile navigation on small device screens.

[2016-01-24 16:32] #1535 closed

[2016-01-24 20:15] dvoytenko commented on #1544
@88kbbq I don't think adding 20Kb of JS would be very helpful for scrolling - it's rather hard to set up correctly for all intended use cases.

/cc @rudygalfi for menus, hamburgers, etc.

[2016-01-24 20:16] dvoytenko commented on #340
/cc @Gregable

[2016-01-24 20:17] dvoytenko commented on #340
Greg, could you please check if the validation issues persist?

[2016-01-25 01:08] jpettitt opened #1555 "cdn data:image/svg+xml; url failing"
[not sure where to file bugs against the CDN ...]

I've been testing some amp-carousel code, it works fine on our CDN, passes the validatior, it also passes the validatior and displays on cdn.ampproject.org except that the svg's for the next/prev are being blocked by cors.

`Refused to load the image 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fff

[2016-01-25 02:03] pietergreyling commented on #937
FYI, I submitted a related pull request: "Add new validator tools subfolder and doc for building a command-line validator on Mac OS X #1554": https://github.com/ampproject/amphtml/pull/1554

[2016-01-25 03:22] rudygalfi opened #1556 "Expose access-related events and variables to analytics"
Expose the following events from AMP Access system to AMP Analytics:
`amp-access-auth-received` `amp-access-pingback-sent`, `amp-access-login-started`, `amp-access-login-success`, `amp-access-login-failure`

Expose values for AUTHDATA. e.g. ampAccessAuthdata.subscriber_id would give a subscriber_id provided via AUTHDATA.

cc @dvoytenko @ashwinlimaye

[2016-01-25 04:15] rudygalfi commented on #1544
Menu is on our roadmap: https://github.com/ampproject/amphtml/issues/827

[2016-01-25 04:20] rudygalfi commented on #1550
Seeking clarification on this: What would the underlying event tie be? Randomly per page view, per click, per whatever?

[2016-01-25 15:28] PKalaytan opened #1559 "Request for Pre Roll video ads"
Pre roll video ads would be highly benefiting our video publishing.

Do you think It's something you can look into?

There are duplicated but not updated tickets:
#958 and #71

[2016-01-25 15:43] asap commented on #886
@cramforce @kesla was interested in implementing this too. Let me know so we don't get in eachother's way.

[2016-01-25 16:05] avimehta commented on #1503
@rudygalfi Add the analytics tag here? Also maybe make this a tracking bug of all the variables we need to add to `amp-analytics`? I have a couple of vars of my own that GA would like to add: `documentEncoding` and `userLanguage`.

[2016-01-25 16:09] avimehta commented on #1550
That's an open question. GA has historically done sampling based on clientId. If we can get that, that would be best. Otherwise, per pageview would have to do... I am open to listening for more requests, suggestions.

[2016-01-25 16:56] avimehta commented on #1490
Will start working on this based on discussions so far. I hope to have working demo/PR mid to end of week. If others have any requests for changes to above, feel free to chime in.

[2016-01-25 17:03] cramforce opened #1561 "Validator is broken in canary"
Seeing some more errors on https://www.ampproject.org/#development=1

[2016-01-25 17:14] dvoytenko commented on #1533
We may also want to have the opposite message: `embed-size-changed` or such. This is because we automatically resize when an element gets focused.

[2016-01-25 17:26] dvoytenko commented on #1555
/cc @cramforce

[2016-01-25 18:04] cramforce commented on #1561
Kind of suspecting that this might be related to closure compiler changes.

[2016-01-25 18:13] powdercloud commented on #1561
Which error specificially doesn't make sense to you?
I think some of the ones I see there will go away once we release the Javascript (@-webkit-keyframes).

[2016-01-25 18:14] cramforce commented on #1561
@powdercloud You need to go to https://cdn.ampproject.org/experiments.html and opt into "dev-channel" to see the JS errors.

[2016-01-25 18:17] lec-sdiallo opened #1562 "Add support to SMART Ad server"
Is that support in your plans ?

[2016-01-25 18:20] powdercloud commented on #1561
Ah, I thought this was some problem with the validator. So yes, I see a bunch of Javascript errors now that I've opted in, but I think they come from the runtime, probably (v0.js etc).

[2016-01-25 18:20] cramforce commented on #1562
@kashyapnitin Do you know?

@lec-sdiallo If you have a contact with them, probably best to invite them to this thread!

[2016-01-25 18:28] jridgewell commented on #1546
@cramforce: Did you mean to link to the allowed `rel` values?

[2016-01-25 18:59] erwinmombay commented on #1561
correct me if i'm wrong but closure compiler has no namespace with top level module and has everything on global correct?  `v0.js` and `validator.js` seem to be colliding in the global namespace now (since we just switched v0.js to use closure compiler too)

[2016-01-25 19:03] Gregable commented on #340
I tried this out on a local instance. A tag such as:

`<amp-img on="tap:" src="" width=10 height=10 role="" ta  bindex=""></amp-img>`
Produces the validation errors:
[code]

While a tag such as:
`<amp-img on="tap:" src="" width=10 height=10 role="" tabindex=""></amp-img>`
Produces no validation errors.

@88kbbq, Are you still seeing these errors?

One small known issue is that these particular err

[2016-01-25 19:06] Gregable opened #1564 "Produce correct line/col numbers for on*="tap:" aria rules validation errors"
Given a tag such as

`<amp-img on="tap:" src="" width=10 height=10></amp-img>`

Validator produces the errors:

[code]

The errors are correct, but the line/col numbers are not. There is a TODO in validator-in-browser.js for fixing this, but tracking it as an explicit issue as well.

cc @powdercloud

[2016-01-25 19:07] Gregable commented on #340
Added https://github.com/ampproject/amphtml/issues/1564 to track the line/col issue.

[2016-01-25 19:07] cramforce commented on #1561
Lets add `--output_wrapper="(function() { %output% })()"` the validator build to fix. We can stage that through the canary process.

[2016-01-25 19:11] powdercloud commented on #1561
Ah - you're saying we (as in, the validator) need to follow the advice here, yes?
https://code.google.com/p/closure-compiler/wiki/FAQ#When_using_Advanced_Optimizations,_Closure_Compiler_adds_new_var

[2016-01-25 19:12] erwinmombay commented on #1561
@cramforce sgtm. will submit the change to you and @powdercloud after some testing.

[2016-01-25 19:12] sriramkrish85 commented on #1533
how about we give them a callback in this function
https://github.com/ampproject/amphtml/blob/master/3p/integration.js#L144

[code]

[2016-01-25 19:44] jpettitt opened #1566 "amp-youtube generating CORS errors"
Opening issue per @cramforce

We're seeing cors errors using the amp-youtube extension - this on both prod and experimental channels.

![image](https://cloud.githubusercontent.com/assets/524856/12562177/a24f7d38-c358-11e5-9c1c-f565996ff28a.png)

[2016-01-25 20:09] erwinmombay commented on #1561
so for some reason
`--output_wrapper="(function() { %output% })()"` doesnt work but  `"--output_wrapper='(function (){ %output% }).call(this)'"` does

[2016-01-25 20:57] nitzanvolman commented on #1527
As a suggestion:
Perhaps we can leverage the alias ability suggested in #1517
and add an `<amp-ambed>` tag to the builtins as an alias to `<amp-ad>`

[2016-01-25 20:58] dvoytenko commented on #1533
Here, it'd probably have to have two callbacks: one for success and one for denied. But I'm not sure it'd be actually convenient here. These kind of callbacks might be just easier to subscribe to once and keep the listener.

[2016-01-25 21:34] #1506 closed

[2016-01-25 21:42] rudygalfi commented on #1503
@avimehta Added the suggested vars at the top of the issue.

[2016-01-25 22:37] #1491 closed

[2016-01-25 22:37] #1494 closed

[2016-01-25 22:40] cramforce commented on #1566
So, this is somewhat working as intended, but obviously very confusing. We make these requests to force Safari to open a connection (because it does not natively support `<link rel=preconnect>`. This works perfectly fine if you get a CORS error :)

My question: Is this too confusing? I don't really know how to fix it without making Safari slower again.

[2016-01-25 22:51] breauxc commented on #1489
@rudygalfi: Yes, we'd be happy to take this piece on.

[2016-01-25 22:51] erwinmombay commented on #1561
@cramforce @powdercloud https://www.ampproject.org/#development=1 seems to be working now

[2016-01-25 22:52] erwinmombay commented on #1561
closing, please open if you see anything different.

[2016-01-25 22:52] #1561 closed

[2016-01-25 23:18] #1340 closed

[2016-01-25 23:19] #1097 closed

[2016-01-25 23:20] cramforce commented on #1209
@mkhatib No support for srcset I'd say. This is just a convenience for URL generation anyway.

[2016-01-25 23:21] mkhatib commented on #1209
That's what I thought and that's what I have in place for the PR.

[2016-01-25 23:30] cramforce commented on #1559
You just automatically pinged those dupes :)

For now `amp-iframe` is the solution for advanced video players.

[2016-01-25 23:30] #1559 closed

[2016-01-25 23:43] #999 closed

[2016-01-25 23:54] cramforce commented on #1196
@mkhatib Would you be interested in taking this on? Similar to the `data-param-` bug you are currently working on.

[2016-01-26 00:03] Primigenus commented on #1201
What's the reason for mixing a HTML element with JSON like this as opposed to using attributes or child elements to achieve the same effect? Is the "style" documented somewhere?

[2016-01-26 00:07] niallkennedy commented on #1201
I chose JSON in my example to match the [amp-analytics](https://www.ampproject.org/docs/reference/extended/amp-analytics.html) work happening at the time, which combines JSON and the custom element.

[2016-01-26 00:07] mkhatib commented on #1196
Yes I can work on this. I assume this will only be also used for normal src not srcdoc, right?

[2016-01-26 00:08] rudygalfi commented on #1489
@breauxc That's excellent, thanks!

cc @avimehta @btownsend who architected amp-analytics and can help with any questions / design thinking specific to the AMP implementation.

Just wanted to check: Do you think you'll submit this independently of your other active Intent to Implement (#1436), which adds the Chartbeat config?

[2016-01-26 00:10] cramforce commented on #1196
Yes

[2016-01-26 00:14] cramforce commented on #1201
We typically use JSON when there are more than a few options. Its pretty popular over nested config-only markup.

I could very much see using child tags here, though, since they'd actually have their equivalent visual representation.

[2016-01-26 00:40] ds0001 commented on #1468
we ended up solving our ad resize issues with ```layout="responsive"```
see:
https://github.com/ampproject/amphtml/blob/2a6187d61c03ae69016c1b1ae7ae6242253fcc99/validator/testdata/feature_tests/amp_layouts.html

[2016-01-26 01:31] dvoytenko opened #1572 "Template sanitizer: respect target"

[2016-01-26 01:32] #1237 closed

[2016-01-26 01:59] dvoytenko commented on #1572
Blocked by https://github.com/google/caja/issues/1991

[2016-01-26 02:12] montmanu opened #1574 "Allow return query parameter key to be configurable"
Currently, the `amp-access` component [automatically appends](https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/0.1/login-dialog.js#L223-L227) a `return` query parameter to the login dialog window url. For publishers that already support HTTP redirection within their auth flow via a query parameter, it would be preferable for this query parameter key to be configurable. Ideal

[2016-01-26 03:17] cramforce commented on #1555
@jpettitt Is this a good test case for your problem? It works for me in Chrome and Safari https://cdn.ampproject.org/c/output.jsbin.com/puzuwu/quiet

[2016-01-26 03:17] cramforce commented on #1555
Ah, Firefox fails. Did you see it failing anywhere else?

[2016-01-26 03:19] 88kbbq commented on #340
The error line numbers are really what threw me off. I've added role and tabindex to all amp-img and the validation is successful. Never heard of those aria rules before. Thanks!

[2016-01-26 03:23] cramforce commented on #1555
Never mind. See it in Chrome.

[2016-01-26 03:31] cramforce commented on #1555
Will get fixed on our end

[2016-01-26 03:43] cramforce opened #1577 "Update error message for 1st viewport iframe"
Current message is

[code]

[2016-01-26 12:27] nzcage opened #1582 "fixed small size image ignored and resize"
Using `<amp-img>` with fixed small size (e.g. 18x12 px) makes image larger.
I use external stylesheet as well as `width` & `height` attr inside `<amp-img>`

[2016-01-26 15:18] cramforce commented on #1555
This should now work again.

[2016-01-26 15:18] #1555 closed

[2016-01-26 16:51] britice commented on #1304
I'd like to take this on as a warm-up for future amp-analytics contributions.

[2016-01-26 17:35] okeul opened #1585 "Dailymotion embed doesn't work in Chrome using amp-iframe"
Currently it's not possible to show Dailymotion video in Chrome but it works in Firefox.

Example : http://codepen.io/okeul/pen/YwZmgo

Chrome 47.0.2526
Firefox 41.0.2 & 43.0.4
OSX 10.8.5 & 10.10.4

[2016-01-26 18:00] dvoytenko commented on #1582
Could you please share the code snippet or a link to reproduce?

[2016-01-26 18:12] rudygalfi opened #1588 "Support for DailyMotion video embed component (e.g. amp-dailymotion)"
https://developer.dailymotion.com/player#player-html

[2016-01-26 18:12] rudygalfi commented on #1585
Let's use this issue to track the FF/Chrome inconsistency. amp-iframe should work in this context. Opened #1588 for tracking a new DailyMotion component.

[2016-01-26 18:18] bquinn opened #1589 "javascript source map on cdn.ampproject.org refers to "http://localhost:8000/""
The [Javascript source map on the AMP CDN](https://cdn.ampproject.org/v0.js.map) refers to `http://localhost:8000/` which breaks source view in the Chrome web inspector / developer console.

It's not a big issue by any means but it would be nice it it were fixed!

[2016-01-26 18:21] cramforce commented on #1585
I'm all for a dedicated dailymotion embed.
From some casual testing I'm not sure we can fix the Chrome issue. See http://output.jsbin.com/bejeze for a non-AMP page (just a naive iframe) with the same problem. Maybe this is the wrong URL for them?

[2016-01-26 18:27] cramforce commented on #1589
The question is: What would be a better value?

How is it broken?

[2016-01-26 18:49] jpettitt commented on #1566
So you're loading a 404 page to force a server tcp/ssl connection? Neat trick.  If it's a Safari thing why are you doing it in Chrome?

Perhaps if you loaded https://www.youtube.com/amp_preconnect_polyfill_safe_to_ignore_cors_error  :-) and didn't do it on chrome.  Still a kludge but at least when people look at the console log they won't waste time chasing an error that isn't there.

[2016-01-26 18:52] cramforce commented on #1566
@jpettitt It is not specific to youtube, but the other URL is probably good :)

Oh, you saw this in Chrome? That is a bug!

[2016-01-26 18:57] jpettitt commented on #1566
Yes Safari generates a slightly different error, the cors stuff plus some invalid css

![image](https://cloud.githubusercontent.com/assets/524856/12591207/86a74142-c41b-11e5-8752-eaa33e71bd4e.png)

[2016-01-26 19:15] cogell opened #1591 "Add amp-giphy extension"

[2016-01-26 19:25] johnnyshankman commented on #1471
Just popping in to let you know you can use an amp-iframe to successfully embed Vimeo videos.

[2016-01-26 19:29] okeul commented on #1585
Thanks for your quick answer !

@cramforce : You're almost right, there is a problem with https & dailymotion. It works in http but not in https :
Example for a no-AMP page : http://codepen.io/okeul/pen/qboMRQ

[2016-01-26 19:30] johnnyshankman opened #1592 "AOL Video Not Embeddable due to Sandbox & Flash Incompatibility"
Working `iframe`:

[code]

Not working with `amp-iframe`:

[code]

Instead it produces a blank iframe.

Here is what it looks like with the iframe on top of the amp-iframe:

![screen shot 2016-01-26 at 2 29 32 pm](https://cloud.githubusercontent.com/assets/6632701/12592173/4672b4c6-c439-11e5-948d-67af5445540f.png)

The page is completely valid when using the `<amp-iframe>` and this same approach h

[2016-01-26 19:31] breauxc commented on #1489
That's right. @britice and I are both getting up to speed wrt the contribution guidelines now, and will be looking to tackle both issues (independently) this sprint. We'll reach out if we have any questions. Thanks!

[2016-01-26 19:39] avimehta commented on #1493
This sounds good to me. Can get this done soonish. @cramforce Is there a single place in codebase where all viewers are supposed to customize settings? I think I saw something in viewer-impl.js but not sure if that is the right place to put an identifier for the viewer.

[2016-01-26 19:42] Meggin commented on #1304
Brian, when you say take this on, will you be taking on the script that
pulls in the latest reference docs into the /docs github repo, or just
changing in amphtml repo?

It's important we don't break the scripts, so please keep me and Paul
Bakaus in the loop.

On Tue, Jan 26, 2016 at 8:52 AM, Brian Tice <notifications@github.com>
wrote:

[2016-01-26 20:02] johnnyshankman commented on #1585
So currently there is no solution for Dailymotion, as HTTPS is unreliable as a `src` even for regular `<iframe>` tags?

[2016-01-26 20:04] johnnyshankman commented on #1585
Can confirm that the same <amp-iframe> that does not work in Chrome works just fine in iOS9 Safari.

[2016-01-26 20:11] johnnyshankman commented on #1592
Extremely similar to this issue: https://github.com/ampproject/amphtml/issues/1585

The `<amp-iframe>` renders just fine in iOS9 Safari.

[2016-01-26 20:24] johnnyshankman commented on #1585
Looks to me like it's an issue with Flash inside of the iframe maybe?

On my mobile device it seems to be working because it's forcing an HTML5 fallback player instead of the flash player. Anyone else see this happening?

[2016-01-26 20:44] okeul commented on #1585
@johnnyshankman : That can be right, it's the same for me. It works on my mobile with Dailymotion & https (AMP & no-AMP).

Android 6.0.1 / Chrome 47

[2016-01-26 20:53] avimehta commented on #1490
Looking at the codebase, it looks like I could use `Viewer.onChanged` to track all changes in scroll and trigger based on that. This would result in `amp-analytics` running every time scroll happens. It will be less performant but easier to implement. It'll also be simpler to understand.

An alternative will be to combine `onChanged` with `VSync.measurePromise` or `runPromise`. This way, the expen

[2016-01-26 21:06] avimehta commented on #1299
I want to start working on this but before I do that, Will this ever happen? @cramforce do you use/modify the amp doc URL that is opened inside the viewers?

@rudygalfi: I tried to find a few examples of cases where the URL had any parameters but did not find any. Do you know which publishers require this? I saw that buzzfeed adds a #.<string> to it's pages after page-load but that will not be pos

[2016-01-26 21:26] avimehta commented on #1549
@rudygalfi Assign this to me?

[2016-01-26 21:27] ssaux opened #1597 "amp-video should support m3u8 URLs"
right now it mirrors the video HTML element which doesn't. Ideally, both should support m3u8 URLs, but having just amp-video support it would still be a valuable enhancement.

[2016-01-26 21:27] avimehta commented on #1503
if @msukmanowsky is working on this, that is great. If not, I can take this up.

[2016-01-26 21:27] avimehta commented on #1550
@rudygalfi assign this to me?

[2016-01-26 21:29] msukmanowsky commented on #1503
Not tackling this one any time soon @avimehta, sorry.

[2016-01-26 22:00] cramforce commented on #1585
Yes, flash will not work inside `amp-iframe`.

A specific amp embed for dailymotion or AOL would not have this limitation.

[2016-01-26 22:04] cramforce commented on #1490
`viewer.onChanged` fires on scroll and resize. It is throttled and might be perfect for your use case. It never fires during very fast scrolling.

What do you need to measure during this event? For `viewer.getScrollTop` you can fire it directly in `onChanged` and do not need your own vsync.

[2016-01-26 22:05] cramforce commented on #1299
Adding the # is a separate thing. When we are inside viewer we remove the fragment, otherwise we make no modification. `location.href` should have the full URL.

[2016-01-26 22:07] avimehta commented on #1490
I need to getScrollTop and then trigger the analytics events based on that.
Sounds like I should start with onChanged for now.

Thanks!

On Tue, Jan 26, 2016 at 2:05 PM, Malte Ubl <notifications@github.com> wrote:

[2016-01-26 22:10] cramforce commented on #1490
SGTM.

`getScrollTop` is always safe to call. We call if for you when we know it is as cheap to calculate as possible and returned value is cached.

[2016-01-26 22:11] rudygalfi commented on #1299
To expand on what @cramforce said, a publisher might construct the link with specific parameters and share it to social media.

Here's an example of a Washington Post article's URL when clicked on from Facebook: https://www.washingtonpost.com/news/early-lead/wp/2016/01/26/a-dog-accidentally-ran-a-half-marathon-and-adorably-isnt-the-first-to-do-so/?tid=sm_fb. While that's a non-AMP page, it's very

[2016-01-26 22:22] avimehta commented on #1299
just to be clear, based on @rudygalfi's comment, this feature will work in non-viewer scenarios but not inside the viewer because the viewer would have removed the fragment and `location.hash` part would be empty and location.url will not contain the hash.

[2016-01-26 22:43] sriramkrish85 commented on #1577
@cramforce , is this to update about the placeholder? and remove this

'Please contact the AMP team if that is a problem in your project.' +
        ' We\'d love to learn about your use case.

[2016-01-26 22:44] Meggin opened #1600 "Remove DEV_MODE_ENABLE; add DEPRECATED_ATTR for development"
The 'development' attribute inside script tag is deprecated.

There's still DEV_MODE_ENABLE validation error.

Would it make sense to remove this error, and instead implement this as a DEPRECATED_ATTR warning?

[2016-01-26 22:47] cramforce commented on #1577
@sriramkrish85 Exactly!

[2016-01-26 22:49] britice commented on #1304
Meggin,

I'll look into doing both.

That make sense. I'll keep you both updated on my progress. If I run into a difficulty which leads me to give up on this and move to an easier starter task, I'll be sure to post something here.

[2016-01-26 22:57] Meggin commented on #1304
Awesome. Thanks!

On Tue, Jan 26, 2016 at 2:50 PM, Brian Tice <notifications@github.com>
wrote:

[2016-01-26 23:08] dvoytenko commented on #1572
Workaround implemented. Still pursuing sanitizer fix.

[2016-01-26 23:17] cramforce commented on #1566
@jpettitt Could it be that you had Safari UA emulation on when you were testing in Chrome?

We need to do UA detection to figure out whether we need the Safari polyfill because there is no way to feature test this.

[2016-01-26 23:40] britice commented on #1304
My branch for this issue: https://github.com/britice/amphtml/tree/readme-renames

That should cover the changes for this repo but I'll look into what needs to be done in the reference docs script before I create a PR.

[2016-01-27 00:17] rudygalfi commented on #1597
I'm unfamiliar with m3u8 other than understanding it's a way to do livestreaming.

To address your request, we'd have to consider whether we introduce capability to amp-video that goes beyond the HTML spec. In a way, it's desirable to have a straightforward mapping of <video> ==> <amp-video>.

Can you talk about how m3u8 normally gets used on sites if not through the <video> element?

[2016-01-27 00:42] #1577 closed

[2016-01-27 01:42] jpettitt commented on #1566
Doh!  I tried it in Samsung emulation too (SIII) but on further exploration it seems to be emulation specific,  but not unique to Apple emulations.  Pure chrome doesn't do it right now but I'm getting other errors that may be masking things.

[2016-01-27 02:55] van-nguyen commented on #1286
+1

[2016-01-27 03:48] cramforce commented on #1566
It would be expected in all browsers with Safari in their user agent. I'll close for now. Maybe we can remove this when iOS 10 comes out :)

[2016-01-27 03:48] #1566 closed

[2016-01-27 04:01] #1514 closed

[2016-01-27 04:12] sriramkrish85 commented on #1408
@cramforce so are we planning to do something like this?
Something like this?

[code]

[2016-01-27 04:13] sriramkrish85 commented on #1196
@mkhatib have you started on this?

[2016-01-27 04:15] cramforce commented on #1585
Could somebody contact dailymotion and/or AOL whether they e.g. support a URL param to opt out of the flash player?

[2016-01-27 04:16] cramforce commented on #1546
@jridgewell Yeah, sorry. Forgot to paste.

[2016-01-27 04:34] cramforce commented on #1544
Can this be closed? I think we could consider a more generic modal dialog, but scrolling is definitely beyond the scope of `amp-lightbox`.

[2016-01-27 10:22] nzcage commented on #1582
Sure. http://www.wwwsitus.com.
I attempt to my own blog. It's still there with bigger size.

[2016-01-27 15:09] msukmanowsky opened #1612 "Add support for client-side sessionization"
Analytics vendors like Parse.ly benefit from client-side sessionization in their standard JavaScript tracker and would like to see this supported, if possible, in AMP.

Sessions are a grouping of time-ordered pixel events such that the time between any two events does not exceed some threshold (usually 30m).

As far as the Parse.ly implementation goes, the following session parameters are tracked

[2016-01-27 15:25] cramforce commented on #1612
@msukmanowsky @dvoytenko is currently working on the baseline primitive (the StorageEngine), but we cannot promise when this will be available AND we will initially only make it available for very low entropy values for privacy reasons (e.g. a few booleans per domain). The embedded nature of AMP requires additional thought when using features such as storage. As to whether we can provide a storage

[2016-01-27 15:26] msukmanowsky commented on #1612
No worries @cramforce, that is indeed our current plan. Thanks for the heads up.

[2016-01-27 16:32] ssaux commented on #1597
Rudy,
   Rather than my rehashing info on m3u8, you may want to start here https://en.wikipedia.org/wiki/M3U. I think it can be used by players to select the best video stream given the device's capabilities. However, you're right that the html video element doesn't support it. You can see an example of what a m3u8 URL delivers (it delivers a text file) with this URL http://streaming.hearstdigital

[2016-01-27 17:12] dvoytenko opened #1616 "Validator for "heights" rules"
The new "heights" attribute is part of the `layout=responsive` ecosystem. It's developed in https://github.com/ampproject/amphtml/pull/1331

The rules are very similar to `sizes` attribute:
1. If `layout` is not specified and `heights` attribute is specified - implied layout is `responsive`
2. `heights` attribute can only be specified for elements with `layout=responsive` - input or implied
3. The

[2016-01-27 17:30] dvoytenko commented on #1582
Thanks! I see the issue. It conflicts with padding defined elsewhere. We will fix this.

[2016-01-27 17:38] NataliaLKB commented on #1408
Is that better then doing:

[code]

[2016-01-27 17:40] dvoytenko commented on #1544
I got an impression that this is specifically about creating a menu.

[2016-01-27 18:19] meharald opened #1618 "Support unquoted attribute value in viewport"
As indicated by the Chrome AMP verifier Version 1453851070468

works
\<meta name=viewport content="width=device-width,minimum-scale=1,initial-scale=1">

does not work
\<meta name=viewport content=width=device-width,minimum-scale=1,initial-scale=1>

[2016-01-27 18:26] cramforce commented on #1408
@NataliaLKB It provides some additional flexibility on messages that can be accepted.

E.g. `{resize: true, value: 123}` or `{message: 'resize': height: 123}`

You could also use two attributes to distinguish key and value for this, of course. My proposal could be extended to be slightly more flexible.

[2016-01-27 18:28] nzcage commented on #1582
I rechecked my work and it's my fault ( I add padding at the image through class selector `en` :D ). sorry to trouble you. I was not thorough. Thanks for your reply. I guess this is not a bug, right?

[2016-01-27 18:42] dvoytenko commented on #1582
I see. Correct. I will close then.

[2016-01-27 18:42] #1582 closed

[2016-01-27 18:45] #1533 closed

[2016-01-27 18:48] sriramkrish85 commented on #1082
do not override
`isLayoutSupported` in amp-analytics, i think that would fix it.

[2016-01-27 18:57] avimehta opened #1619 "Client id bug"
It looks like when a user visits an amp page for the first time from a viewer, a new client id (say `id1`) is generated for them. This id is stored and managed by the viewer.

if the user then visits a page on cdn.ampproject.org and if a client id (say `id2`) is generated in this viewer-less scenario, it is stored in localStorage.

When the user goes back to a page that is hosted in the viewer, `i

[2016-01-27 19:05] cramforce commented on #1619
@avimehta @rudygalfi This is easy to change, but it solves one case of double-counting.

[2016-01-27 19:08] avimehta commented on #1619
It won't help much with double-counting because we still have two ids. one for viewer and viewer-less case. But the fix is still welcome :).

[2016-01-27 19:10] cramforce commented on #1619
Well, it makes a user that went to cdn.ampproject.org once be counted as the same user for all viewers.

[2016-01-27 19:54] okeul commented on #1585
I tried to reach the technical support of Dailymotion. I haven't received any responses yet.

[2016-01-27 20:08] cramforce opened #1622 "Check for minimum node version in gulp"
We require node 4.0 or newer.

A problem might be that gulp might completely fail to start up. Not sure how to best handle that.

[2016-01-27 20:17] erwinmombay commented on #1622
@cramforce we could certainly add a post install script to run after npm install?

[2016-01-27 20:18] cramforce commented on #1622
Good idea. Or could package.json enforce it declaratively?

[2016-01-27 20:18] jridgewell commented on #1622
We can set `engines` in [package.json](https://docs.npmjs.com/files/package.json#engines)

[2016-01-27 20:19] erwinmombay commented on #1622
we do currently set engine requirement on package.json https://github.com/ampproject/amphtml/blob/master/package.json#L7

[2016-01-27 20:24] jridgewell commented on #1622
Oh, for dev. React uses [`devEngines`](https://github.com/facebook/react/blob/master/package.json#L45-L48), a [`postinstall`](https://github.com/facebook/react/blob/master/package.json#L56) and [check-dev-engines](https://github.com/facebook/fbjs/blob/master/scripts/node/check-dev-engines.js).

[2016-01-27 20:28] cramforce opened #1623 "Changing files in `src` does not correctly trigger new test runs"
Tests run again, but the sources do not get rebundled.

Things work fine when changing files under `test`.

[2016-01-27 20:32] cramforce commented on #1622
CC @paul-matthews

[2016-01-27 20:34] #961 closed

[2016-01-27 21:40] okeul opened #1624 "Validation erros with amp-facebook"
`amp-facebook` displays well but there is an error in AMP validator :

![capture d ecran 2016-01-27 a 22 29 05](https://cloud.githubusercontent.com/assets/6248074/12629037/3dfa4008-c546-11e5-8202-5ea761f689bb.png)

Did I miss something or there is a real bug ?

example : http://output.jsbin.com/pinapa#development=1

[2016-01-27 21:42] cramforce commented on #1624
Maybe a bit hard to miss, but it is documented here
https://github.com/ampproject/amphtml/blob/master/extensions/amp-facebook/amp-facebook.md#-amp-facebook

It always takes a while before new components start to validate.

[2016-01-27 21:42] #1624 closed

[2016-01-27 21:45] okeul commented on #1624
Ok thank you :-)

It's maybe a good idea to add this mention in this page :
https://www.ampproject.org/docs/reference/extended/amp-facebook.html

[2016-01-27 21:52] cramforce commented on #1624
@erwinmombay Do you know when we last pushed this? Must have been before we updated the docs.

@okeul Will be fixed. They are the same doc, just older and prettier rendering :)

[2016-01-27 21:58] Gregable commented on #1618
Agreed, we should fix this.

[2016-01-27 22:04] paul-matthews commented on #1201
I implemented this with embeded JSON however it does mean that if the element fails to load there's raw JSON left visible in the page.

[2016-01-27 22:19] #892 closed

[2016-01-27 22:55] okeul opened #1626 "Pinterest : embedUser & embedBoard ?"
`amp-pinterest` works well to display Pinterest widget or Pin It button.

What supports is provided for profile (embedUser) or board (embedBoard) ?

[2016-01-27 22:57] cramforce commented on #1626
CC @kentbrew @zackargyle

[2016-01-28 00:12] avimehta commented on #1619
that is true. I am not sure how I feel about this. After talking to @btownsend, it seemed like this should be fine. Re closing this bug without any changes is fine for now. If something comes up later, we can revisit.

[2016-01-28 00:13] jpettitt commented on #1241
I'd love to the the instructions.

Right now I can see two uses cases although I'm sure there are others.

1) People are going to figure out that AMP documents are embeddable pretty quickly and you'll start seeing them framed on desktop sites.  This opens up a whole raft of issues around licensing and publisher control of where their content ends up that it would be nice to address.  I could see u

[2016-01-28 05:54] nzcage commented on #385
I think it's better to input `max-width:100%` to attribute `layout-responsive` in order to be easy for user to set `fixed width` (as in bootstrap

[2016-01-28 11:34] molnarg commented on #1156
Do you have a time frame for this? The current template validation logic is fragile from a security perspective it'd be advantageous to replace it soon.

[2016-01-28 11:40] dmitrymotorin opened #1630 "Adsense active view viewable"
Hi guys,
We've converted our HTML page with ads into AMP HTML including amp adsense blocks. AMP HTML page pass validator.
But... We got less active view viewable on adsense. The basic HTML was 60% of active view viewable and AMP HTML bring it to 0.4%
Where we need to check and how to explain this issue?

[2016-01-28 13:56] carlosabalde opened #1632 "AMP Cache IP range"
Hi,

Let's assume that all AMP contents in some site will always have an associated canonical non-AMP URL. According to the AMP Access spec, I assume the right thing to do in the server side would be denying access to the AMP contents to all IP addresses except the ones in the AMP Cache range.

Is this a correct assumption? If so, are those IP ranges already known? Are some exclusions (e.g. Google

[2016-01-28 14:03] carlosabalde opened #1633 "AMP Access expression grammar"
I would like to clarify a couple of simple questions about the AMP Access expression grammar:

  - Are dots, dashes and/or underscores allowed in the names of properties returned by the AMP Access authorization endpoint? The [expression grammar](https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access-spec.md#appendix-a-amp-access-expression-grammar) is slightly ambiguous

[2016-01-28 14:57] cramforce commented on #1632
I let @dvoytenko give a more specific answer, but in general I wanted to clarify that with AMP you cannot expect all user traffic to go through the proxy. Some AMP platforms may send users directly to the AMPs on your server. The amp-access protocol is designed to work in both scenarios.

[2016-01-28 15:02] carlosabalde commented on #1632
Let's assume AMP Access running in 'client' mode: if users are allowed to fetch AMP contents directly from my server, the paywalled sections are not going to be obscured. I though it was guaranteed that those sections will always arrive obscured to the client side (thanks to AMP Cache proxing the requests). Am I missing something here?

[2016-01-28 15:08] cramforce commented on #1630
@dmitrymotorin Do you have a sample page where you were seeing the issue? Also I'm wondering when you made the measurements? We only turned on viewability in AMP very recently.

[2016-01-28 15:19] cramforce commented on #1632
When running in 'client' mode the initial state of a page is up to you. Client specifically refers to the server serving the document doing no transformation at all. I'd recommend to not obfuscate initially, but that is entirely up to you.

For server mode you will need to do IP based serving I believe.

[2016-01-28 15:36] carlosabalde commented on #1632
From the AMP Access spec, describing the 'client' option:

My assumptions about this are:

1. My server serves AMP contents including some paywalled sections to AMP Cache.

2. AMP Cache obfuscates paywalled sections in AMP contents.

3. AMP Runtime fetches obscured versions of AMP contents from the AMP Cache and it uses the authorization end-point to decide what sections to show. Those paywalled s

[2016-01-28 15:39] cramforce commented on #1632
The client solution only does client-side obfuscation. The data is always present and can e.g. be reached with Chrome DevTools. Whether the doc is first open and obscures itself when your call comes back OR starts closed and does the opposite is up to you.

The server solution does the filtering on the server (AMP cache) and only delivers content to users after it has been determined they are allo

[2016-01-28 15:44] carlosabalde commented on #1632
Thanks. Now is clear. I was assuming that the AMP Cache was also used in the 'client' solution and that it was in charge of doing the obfuscation.

[2016-01-28 15:58] dmitrymotorin commented on #1630
Sample page: http://womanitely.com/things-say-men/
Measurements was made two days ago at adsense analytics reports.

[2016-01-28 16:13] cramforce commented on #1630
@dmitrymotorin We took a look and it seems fine now. As I said we just recently turned this on, so it is probably best if you try measure again with today's data. I will close this issue, but please reopen if the issue persists!

[2016-01-28 16:17] cramforce opened #1634 "Update viewer sample code to postMessage best practices"
There are 2 TODOs related to origin verification.

[2016-01-28 17:08] bquinn commented on #1589
Actually I noticed that in my local build it's fine - all the references in the map file are relative. But in the CDN version at https://cdn.ampproject.org/v0.js.map all references use `http://localhost:8000/` - so I guess the issue is fixed and we just need to update the CDN!

[2016-01-28 17:27] cramforce commented on #1589
They use different build methods. If you have the local server running it works, right?

What is the failure you are seeing?

[2016-01-28 17:39] cramforce commented on #1630
Quick update! This is actually not working end to end. I will reping this issue when it is expected to full work.

[2016-01-28 17:42] dmitrymotorin commented on #1630
@cramforce Thank you a lot!

[2016-01-28 17:45] dvoytenko commented on #1201
We typically place json into a script tag e.g.:
[code]

This has two main benefits:
1. JSON is not visible if anything fails
2. You don't need HTML escapes when authoring JSON. E.g. you don't need to do "a&amp;b", but instead "a&b".

[2016-01-28 17:48] bquinn commented on #1589
Yes if I have the local sever running it works. I was just trying to examine the source directly from the CDN (via a BBC example page) without running the local server.

Are you planning to include the map file and full source on the CDN for the final build? Otherwise it may be worth just leaving out the reference to the map file in the final version to avoid 404 errors for developers as happened

[2016-01-28 17:50] Gregable commented on #875
The validator now flags these missing script tags. Let me know if you see any issues with it.

[2016-01-28 17:50] #875 closed

[2016-01-28 17:50] Gregable commented on #1464
The earlyaccess path has been whitelisted in the validator.

[2016-01-28 17:50] #1464 closed

[2016-01-28 17:52] Gregable commented on #1279
This is now live, `<noscript>` is allowed in the document body, and `<img>`, `<video>`, and `<audio>` tags are allowed as descendant tags of the `<noscript>` tag. The others are left out for now, but feel free to raise the issue if you feel that you need them.

[2016-01-28 17:52] #1279 closed

[2016-01-28 17:55] Gregable commented on #1315
@erwinmombay 's change is now live and we now validate `@-webkit-keyframes`, `@-moz-keyframes`, `@-o-keyframes`, `@supports` and the `<amp-user-notification>` tag.

[2016-01-28 17:55] #1315 closed

[2016-01-28 17:55] Gregable commented on #1486
Validation for `<amp-facebook>` is now live.

[2016-01-28 17:55] #1486 closed

[2016-01-28 18:03] jpettitt opened #1639 "The <amp-iframe> 600px / 75% rule - based on what width?"
The `<amp-iframe>` spec, and the validation code, reference the 600px/75% rule.  However there is no description of what width that applies to.  For example 600px down on a iPhone 4 is a completely different proposition to the same content on an iPad pro or a desktop.   What width does the CDN use when validating?  Do publishers have to guess based on the user agent what width they are dealing wit

[2016-01-28 18:12] dvoytenko opened #1640 "Document "noscript" tag and behavior"
Probably a good place is in https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md, under the table of elements.

/cc @rudygalfi @Meggin

[2016-01-28 18:22] paulredmond opened #1641 "More Information About Ad Tech Vendors?"
I was researching ad capabilities and came across this post - https://amphtml.wordpress.com/2016/01/25/amp-what-about-ads/. I am trying to compare my current mobile ad offering and compare with AMP capabilities so I can make decisions about how/what to integrate and what I cannot integrate that I currently do for mobile traffic.

Looking at the [ad documentation](https://www.ampproject.org/docs/re

[2016-01-28 18:32] #1295 closed

[2016-01-28 19:25] kevinmarks opened #1642 "Add data: URI support to amp-img"
https://withknown.com creates AMP versions of pages and links to them. However, if an image is in a data: URI, amp doesn't render it.

AMP version:

http://known.kevinmarks.com/2016/translating-what-you-write-to-other-sites?_t=amp

normal version:

http://known.kevinmarks.com/2016/translating-what-you-write-to-other-sites

[2016-01-28 19:29] mkhatib commented on #1196
@sriramkrish85 not yet no. Was planning to start today.

[2016-01-28 20:06] nuclearghost opened #1646 "YouTube Video Not Displaying Full Screen Correctly"
On Mac OS X 10.11.2, Chrome Version 47.0.2526.111 (64-bit)

When trying to watch the YouTube video embedded on this page https://www.ampproject.org/docs/get_started/about-amp.html the video doesn't actually go full screen.

Here's a screenshot of what the video looks like in full screen.
<img width="1920" alt="screen shot 2016-01-28 at 1 47 45 pm" src="https://cloud.githubusercontent.com/assets/23

[2016-01-28 20:31] jpettitt opened #1647 "iframe origin policy link is 404"
https://github.com/ampproject/amphtml/blob/spec/amp-iframe-origin-policy.md is 404 - linked from https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md

link should be https://github.com/ampproject/amphtml/blob/master/spec/amp-iframe-origin-policy.md

[2016-01-28 21:25] britice commented on #1304
@Meggin @pbakaus, I've added an issue in the docs repo (https://github.com/ampproject/docs/issues/20) concerning the script to pull reference docs.

What's your opinion on the order the changes should be made. In it's current form, the changes I made to the docs script will use either `README.md` or the current format (e.g. `amp-font.md`). This would allow for backwards compatibility until all the

[2016-01-28 22:13] #1510 closed

[2016-01-28 22:40] mkhatib commented on #1196
@cramforce I have the code for this ready, should I send another PR or just squash the change with the #1537  PR?

[2016-01-28 22:48] dvoytenko commented on #1156
We were not planning to get to it for quite some time. I think that the conclusion was that current sanitization logic is significantly stricter than our AMP validator itself.

[2016-01-28 22:59] dvoytenko commented on #1642
@kevinmarks I took a look. I think the problem is not a data URL, but that the image does not have a layout. I added layout attributes and it appears to show:
[code]
See http://jsbin.com/cihalu/edit?html,output

[2016-01-28 23:00] dvoytenko commented on #1642
I'll close for now, but please reopen if something is outstanding.

[2016-01-28 23:00] #1642 closed

[2016-01-28 23:05] rudygalfi commented on #1647
cc @Meggin @cramforce @adewale

[2016-01-28 23:09] dvoytenko commented on #1633
@carlosabalde a more complete grammar is here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/0.1/access-expr-impl.jison

No, dots, dashes or underscores allowed. Underscores is rather unfortunate and I will fix it asap. But I think dots and dashes will not be allowed.

[2016-01-28 23:09] dvoytenko commented on #1633
@carlosabalde

Yes.

[code]

[2016-01-28 23:21] rudygalfi commented on #1639
I believe this is measured independently of width. In the context of a device, the restriction has different ramifications, but the enforcement will be the same across screen sizes.

/cc @cramforce

[2016-01-28 23:36] dvoytenko commented on #1632
@carlosabalde Few answers:

##### First, on Cache IP range.
This is only relevant for server-side solution. We will confirm and publish the IP range.

One thing to note is that server-side solution will not arrive for some time. However, the client-side solution is already in canary and ready to be tested with. I'd recommend starting internally with client-side solution. Both client and server sol

[2016-01-28 23:38] TomMSNBC opened #1654 "Add video analytics for amp-video to amp-analytics"
Please add the following events:
- Video Start
- 25%/50%/75% Video Complete
- Video Complete
- Video Scrub
- Video Pause

[2016-01-28 23:39] #1633 closed

[2016-01-28 23:40] dvoytenko commented on #1633
I updated the grammar. Names now allow underscore.

[2016-01-28 23:42] rudygalfi commented on #1654
cc @avimehta

[2016-01-28 23:44] dvoytenko commented on #1639
This restriction can be removed by adding a placeholder as described here: https://github.com/ampproject/amphtml/blob/a5b3a0f6153f71fbec7e5648bd46b79f6b4013e1/extensions/amp-iframe/amp-iframe.md

[2016-01-28 23:44] rudygalfi commented on #1527
Can this be closed out given #1607 was merged?

[2016-01-28 23:45] #1647 closed

[2016-01-28 23:45] #1527 closed

[2016-01-28 23:50] rudygalfi commented on #1497
Can this be closed since #1508 was merged?

[2016-01-28 23:53] dvoytenko commented on #1497
Yes.

[2016-01-28 23:53] #1497 closed

[2016-01-28 23:54] kzap commented on #1292
ive discussed with the Segment folks and they dont have any way plans to remove base64 or support dot notation in their GET API.

So @cramforce ... if i added this to AMP via a PR would it be considered?

[2016-01-28 23:56] cramforce commented on #1292
Definite yes on base64. I don't completely follow what the dot notation is.

[2016-01-28 23:56] jridgewell opened #1655 "Add PAUSED VisibilityState"
Viewer will be sending down a `PAUSED` VisibliityState whenever a swipe begins. After the swipe ends, if the same document is still shown, it'll be made `VISIBLE` again.

[2016-01-29 00:09] #979 closed

[2016-01-29 00:14] cramforce opened #1656 "Add poster frame support to amp-youtube"
Youtube has an API for retrieving a poster frame. The URL is like this: `http://img.youtube.com/vi/{{ videoId }}/maxresdefault.jpg`

If AMP is in prerender mode, we currently don't render YT embeds. We should render the poster frame instead.

You can do that by implementing

[code]

in amp-youtube and then returning true from `layoutCallback` if only the poster frame was added. When the user goes

[2016-01-29 00:17] jridgewell commented on #1656
Related to https://github.com/ampproject/amphtml/issues/1175?

[2016-01-29 00:19] cramforce commented on #1175
Closing. #1656 has a better descriptions.

[2016-01-29 00:19] #1175 closed

[2016-01-29 00:19] cramforce commented on #1656
@jridgewell Yeah, I knew I had it already, but didn't find it :)

[2016-01-29 00:24] cramforce opened #1657 "Show poster frame for amp-video during prerendering"
Same as #1656 but for `amp-video`.

One way to do this might be to opt into `prerenderAllowed` but start with the `preload` attribute being `none` and then when we go from prerender to normal render, revert the `preload` value to what was specified on the `amp-video` tag or remove the attribute.

[2016-01-29 00:24] cramforce commented on #1656
Lets do #1657 first, though. They are very similar.

[2016-01-29 01:16] dvoytenko commented on #1646
/cc @cramforce @pbakaus @Meggin

This is not due to `amp-youtube`. I just replaced it with a simple youtube iframe and the problem persists. I believe this is due to the following CSS on the page:
[code]

My best guess is this is some sort of a bug and/or conflict with layering for hardware acceleration. A bug to Chrome is likely due. PTAL.

[2016-01-29 01:24] cramforce commented on #1646
@dvoytenko Do you want to file. Very nice find!

[2016-01-29 01:29] cramforce commented on #1657
One more thing: We should emit a warning (as in `console.warn` or even `error`) when no poster image was specified. We will make that mandatory in the future.

[2016-01-29 01:32] #1324 closed

[2016-01-29 02:01] cramforce opened #1659 "Document how to implement "first click free" and similar features with amp-access"
Publishers often have deals with platforms where clicks from those platforms are not paywalled. There is already a way to pass the referrer down to the doc, but we should explicitly explain how it can be used.

[2016-01-29 02:35] Gregable commented on #1205
We no longer require text/css in the stylesheet tag. We also no longer allow a link take with *just* an href attribute like @88kbbq noticed.

For a link tag of `<link rel="stylesheet" href="http://fonts.googleapis.com/css?" type="text/css">`

You will now see an error of:
[code]

Which I think is pretty decent.

However, for a link tag of `<link rel="stylesheet" href="https://fonts.googleapis.com/

[2016-01-29 02:38] jpettitt commented on #1639
Since you're asking for feedback I think the rule is pretty unusable as defined.  What rule effectively says is "always use a placeholder or your code will fail randomly when some user has a screen wider than you anticipated".  Perhaps just changing it to make placeholders mandatory would be simpler all round?

[2016-01-29 02:39] dvoytenko commented on #1646
I guess I should copy the whole document into JSBIN before it gets fixed...

[2016-01-29 02:41] jattsaini opened #1660 "AMP Validation errors showing in Google Debug console"
My site is: timesnews.co.uk
I got following two errors in this page: http://www.timesnews.co.uk/7733-blackberry-priv-launched-in-india-for-crazy-926-price-tag/amp/#development=1

The errors are:

[2016-01-29 02:51] dvoytenko commented on #1646
Filed https://code.google.com/p/chromium/issues/detail?id=582318

[2016-01-29 03:18] mjangda commented on #1660
Just pushed a fix for this in the WordPress plugin: https://github.com/Automattic/amp-wp/pull/151

[2016-01-29 03:33] cramforce commented on #1646
Cool bug. I assigned this one to @pbakaus because I think that is his CSS. Might be mistaken, though.

[2016-01-29 03:36] cramforce commented on #1639
@jpettitt yeah, we just actually changed the error message to give clear advice how to fix it. Switching to no-rule-but-mandatory-placeholder is generally a good idea. Added to #1356

[2016-01-29 03:46] mjangda commented on #1639
defined. What rule effectively says is "always use a placeholder..."

That's what we ended up doing for the WordPress plugin. There isn't a super
easy, consistent, reliable way for us to determine element position when
generating the AMP files so we just include a placeholder for all iframes.
On Jan 28, 2016 10:36 PM, "Malte Ubl" <notifications@github.com> wrote:

[2016-01-29 03:48] cramforce commented on #1639
@mjangda What do you put into that placeholder?

[2016-01-29 03:50] #1549 closed

[2016-01-29 04:02] #150 closed

[2016-01-29 04:02] #86 closed

[2016-01-29 04:03] cramforce commented on #465
We should really do this. It is getting crowded.

[2016-01-29 04:03] #37 closed

[2016-01-29 04:03] #63 closed

[2016-01-29 04:04] #362 closed

[2016-01-29 04:05] cramforce commented on #349
This is now exposed as CSS via the `amp-dynamic-css-classes` extension.

[2016-01-29 04:05] #349 closed

[2016-01-29 04:06] #340 closed

[2016-01-29 04:06] cramforce commented on #263
Done

[2016-01-29 04:06] #263 closed

[2016-01-29 04:07] #254 closed

[2016-01-29 04:07] cramforce commented on #246
Sorry, for not responding. This is in the works, right?

[2016-01-29 04:07] cramforce commented on #234
Done

[2016-01-29 04:07] #234 closed

[2016-01-29 04:09] cramforce commented on #475
This must be fixed by the Google search team. I believe they are on it.

[2016-01-29 04:09] #475 closed

[2016-01-29 04:09] #496 closed

[2016-01-29 04:11] cramforce commented on #842
@erwinmombay You fixed this, right?

[2016-01-29 04:14] jattsaini commented on #1660
Thanks will apply it and update the results here...asap

[2016-01-29 04:22] bcko opened #1662 "validation error for cloudflare ssl and e-mail obfuscation"
Hello, the website is www.drjongchoi.com
I am currently using Cloudflare SSL and e-mail obfuscation feature.
However, www.drjongchoi.com#development=1 gives me a validation error since Cloudflare inserts script to the page.
What would be the best way to resolve this?
I appreciate your help!

[2016-01-29 04:25] cramforce commented on #1662
@jmadler Do you know someone at cloudflare we could talk to?

[2016-01-29 04:50] bcko opened #1664 "Support multilingual webpage <link rel="alternate" hreflang="ko" href=... >"
hello,
the website is www.drjongchoi.com
this website is in both English and Korean so I set

[code]

However I get a validation error saying

what would be a good way to create a multilingual website with AMP integrated?
thank you!

[2016-01-29 04:52] cramforce commented on #1664
Yeah, it should validate.

[2016-01-29 04:58] bcko opened #1665 "https://www.ampproject.org/contact/ not getting validation error for using <iframe> instead of <amp-iframe>"
so I read the ampproject.org  guide about iframe.
it says we should use amp-iframe.
I was wondering why https://www.ampproject.org/contact/ doesn't get validation error?
when I look at the source code of  https://www.ampproject.org/contact/ , I see that it did not use <amp-iframe> to embed google forms.

 I tried using just <iframe> to embed google map for the website I am making and I get a valid

[2016-01-29 05:01] mjangda commented on #1639
Just a `<div>` with a background image via CSS.

[2016-01-29 06:22] carlosabalde commented on #1632
Thanks for the explanations @dvoytenko. Just a couple of comments, just to check I'm not mussing anything here

**I don't think switching to the server-side solution will be a single parameter switch**. That depends a lot on how paywalling is implemented in the publisher side and how the AMP Access client-side solution is integrated. On the client-side solution the publisher can rely on session co

[2016-01-29 10:37] pinker42 opened #1670 "Promise errors observed in IE11"
Error when using <amp pixel> with IE11: "Promise" is undefined v0.js (273,395)
Is it possible add "Promise" support with polyfill ?

[2016-01-29 12:50] jattsaini commented on #1660
How to apply the fix in the plugin?

[2016-01-29 15:07] Polylike opened #1673 "Google Analytics No Data - amp-analytics"
Hey,

testing this example AMP Page https://developers.google.com/analytics/devguides/collection/amp-analytics/ with some new google analytics property IDs (no filter e.g) and i received no data via relatime reports in analytics. "AMP validation successful."

Thanks!

[2016-01-29 15:09] cramforce commented on #1665
Just checked. Works for me. That says nothing about us should fixing that iframe.

[2016-01-29 15:09] #1665 closed

[2016-01-29 15:11] cramforce commented on #1670
We'll check. AMP already ships with a promise polyfill.

[2016-01-29 15:49] zeno commented on #1585
Hi guys, we are in contact with Google and working on a specific `amp-dailymotion` component.

[2016-01-29 15:51] cramforce commented on #1670
This problem is related to dependency ordering. The Promise polyfill does not appear early enough in the compilation unit.

[2016-01-29 15:51] jpettitt commented on #1634
Can I add a request that you document the viewer messaging protocol at the same time?

[2016-01-29 16:06] bcko commented on #1665
https://www.ampproject.org/contact/ uses <iframe> instead of <amp-iframe> and doesn't get a validation error. I was wondering when are cases we can use <iframe>?

below is the source code from the site
[code]

[2016-01-29 16:20] cramforce commented on #1665
I'm getting a validation error. Could you post a screenshot?
On Jan 29, 2016 8:06 AM, "Byungcheon Ko" <notifications@github.com> wrote:

[2016-01-29 16:57] #1670 closed

[2016-01-29 17:19] ericfs opened #1677 "Provide a "restore" string to the viewer"
Add support for a getState request from the viewer which will serialize any state that needs to be restored after a document unload and then reload such as scroll position.

[2016-01-29 17:21] ericfs commented on #1677
cc @dvoytenko

[2016-01-29 17:23] ericfs commented on #1677
Also need to accept the value as an initialization parameter to restore the state

[2016-01-29 17:53] dvoytenko commented on #1673
@avimehta could you please take a look?

[2016-01-29 17:53] brunofcb opened #1679 "Problems with AMP images and carousels on a ASP .NET CMS"
I've implemented the CMS (ASP .NET) in my amp-html page recently and everything worked fine in the past two weeks, but during this week, I've noticed that some images and carousels uploaded via CMS are not loading and sometimes none of them load. I'm receiving this error all the time:_ Uncaught TypeError: Cannot read property 'fine' of undefined. Does anyone have an idea of what this might be?_

[2016-01-29 18:11] Gregable commented on #842
This is fixed.

[2016-01-29 18:11] #842 closed

[2016-01-29 18:23] dvoytenko commented on #1679
@brunofcb Do you have a full stack for this error?

[2016-01-29 18:33] brunofcb commented on #1679
![image](https://cloud.githubusercontent.com/assets/8183465/12684423/a0d666a4-c69d-11e5-9c59-5eb6ca5f13c0.png)

[2016-01-29 18:59] jito1989 opened #1680 "amp-carousel doesn't display description of the images"
if within carousel  place  amp-img and div with the description of the image, the carousel only show images and doesn't show description of the images.

add example:

<amp-carousel width=400 height=300  type=slides layout=responsive controls >
                                <?php foreach ($nota["gallery"]["files"] as $x): ?>
                                    <amp-img class=" img_nota_completa l

[2016-01-29 19:10] dvoytenko commented on #1679
@brunofcb This is rather strange. Do you think you could try this document in a incognito window w/o extensions? My only guess for now is that some extension messes something up.

[2016-01-29 19:25] Gregable commented on #1664
rel="alternate" is supported, the validator is getting confused about the hreflang, which is not currently but should be. Should be a quick fix to the validator. Thanks for the report!

[2016-01-29 19:28] dvoytenko commented on #1632
@carlosabalde, you are correct, but not quite.

The client/server switch is simple in the markup and format. However, you are correct, the big difference is in the publisher-side implementation. However, in-house, where security constraints can be ignored, the server-side solution should be testable to a large percent via client-side solution.

The big issue: READER_ID/session binding. Both client

[2016-01-29 19:29] dvoytenko commented on #1632
@carlosabalde, to answer the question about IP range, you can use the same approach as recommended for indexing bots via a reverse DNS lookup as described here:

https://support.google.com/webmasters/answer/80553?hl=en

[2016-01-29 19:35] dvoytenko commented on #1241
/cc @rudygalfi on embedding, consent, etc. Paywall, however, will NOT be circumventable via iframes.

The endless pages use case we thought through. Unfortunately, given the state of iframes and scrolling/resizing, it'd be very difficult to achieve correctly. Instead we were considering an option where one could inject the "next" article straight into the AMP document. This would only be allowed f

[2016-01-29 19:43] jridgewell commented on #1664
@Gregable: Should this be kept open until the validator is fixed?

[2016-01-29 19:45] dvoytenko commented on #1664
Agreed. Let's keep open until it's fixed. I updated the title.

[2016-01-29 20:37] #1503 closed

[2016-01-29 20:39] Gregable commented on #1664
Yes, sorry, I clicked the wrong comment button.

[2016-01-29 20:55] brunofcb commented on #1679
@dvoytenko It's really weird. I think you're right. I removed the extensions and it seems that the problem was solved. Thank you.

[2016-01-29 21:22] #1623 closed

[2016-01-29 21:26] #1488 closed

[2016-01-29 22:10] Gregable commented on #1664
This is now fixed in javascript. It may take a day or so to work in the amp cache though.

[2016-01-29 22:10] #1664 closed

[2016-01-29 22:54] iefserge commented on #1292
We're using [keen.io](https://keen.io/) for analytics and we have a very similar issue. Keen.io API requires JSON and base64 encoded query parameter (or POST-body) https://keen.io/docs/api/#record-a-single-event.

[code]

[2016-01-29 23:09] dvoytenko commented on #1679
It would be very awesome to find out which extension actually did cause the problem. That way we can perhaps find a solution.

[2016-01-29 23:16] kzap commented on #1292
Nvm the dot notation but ok ill work on something for base64 and post

Andre
On Jan 30, 2016 6:54 AM, "Serge" <notifications@github.com> wrote:

[2016-01-30 00:10] #1679 closed

[2016-01-30 00:20] jpettitt opened #1686 "Just how does the viewer work?"
I've been looking at the viewer example code all day and come to the conclusion that it will never actually work.  Specifically the viewer example has a lot of message passing code in `viewer-integr-messaging.js` but if I grep the source and look at every `addEventListener()` call in the ./src tree I can only find one instance where it's listening for 'message' and that is in `listen()` in `iframe

[2016-01-30 00:54] dvoytenko commented on #1686
Viewer is not enabled quite yet and the protocol has not been standardized. We are working on it.

[2016-01-30 01:12] rudygalfi commented on #1436
cc @jmadler

[2016-01-30 01:14] jpettitt commented on #1686
That explains a lot.

[2016-01-30 01:19] #1686 closed

[2016-01-30 01:42] powdercloud commented on #246
Yes I think this is done - especially in the Javascript / Chrome Developer console.

E.g. see this example:
https://github.com/ampproject/amphtml/blob/master/validator/testdata/feature_tests/several_errors.out

[2016-01-30 01:43] powdercloud commented on #246
I'll go ahead and close it, feel free to reopen / make a new one as you see fit.

[2016-01-30 01:43] #246 closed

[2016-01-30 01:50] powdercloud opened #1687 "Point the spec URLs in the validator at ampproject.org."
We currently link to markdown files in Github from our error messages. We should start to use ampproject.org where possible, as it's going to be more stable, prettier, general, etc.

So, we need to go through our code and spec file and fix all those links and our feature tests.

/cc: @Gregable

[2016-01-30 01:54] cramforce commented on #246
This looks so much better. Awesome and thank you!!!!

On Fri, Jan 29, 2016 at 5:43 PM Johannes Henkel <notifications@github.com>
wrote:

[2016-01-30 08:47] ewebxml commented on #1687
As a developer/publisher refactors his existing html/html5 and transforms his webpage using AMP markup,
is there an existing
1) AMP parser or
2) AMP validator
that can provide feedback with respect to
the correctness of the changes made?

A parser that is similar to https://validator.w3.org/
but instead provides feedback for AMP markup.

[2016-01-30 14:57] alexiirj1 opened #1688 "is amp html another version (separate file.html)?"
I am complete starter in AMP, just trying to make my landing page discoverable. should i create a new html with the newly-announced tags such as <amp-img> and so forth? or should i implement those tags in the existing ones?

p.s when i include <amp-img></amp-img> image is not loading? please share some easy to do instruction, thank you so much.