[2019-08-16 21:23] #23988 closed

[2019-08-16 21:31] choumx opened #24025 "🌸 Cherry-pick request for #23988 into #23939 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23988 | #23998 | **NO** | **YES** | #23939 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-08-16 21:43] dvoytenko commented on #24025
Approved

[2019-08-16 21:44] wassgha commented on #23403
The UI team would like to discuss the impact of the back/forward cache on metrics from the viewer (and possibly amp-analytics) for what it means for a page to be "loaded/unloaded" given that some of these events will go away when the back/forward cache kicks in.

[2019-08-16 22:15] choumx commented on #23266
wg-amp4email's periodic update: https://github.com/ampproject/wg-amp4email/issues/9

[2019-08-16 22:56] westonruter commented on #23804
I am not aware of one, unfortunately.

[2019-08-16 23:06] pbakaus commented on #24001
thanks for the context and thoughts @sparhami! If we do this, then we probably won't get the exact same perf benefits than the native implementation in Safari (at least in Chrome, where we can't map it directly to the native feature), but the main reason I want this is developer ergonomics, e.g. stopping gif adoption, and accelerating video adoption.

Chromium decided not to invest, but we could –

[2019-08-16 23:22] wassgha commented on #23804
Would it be safe to assume that the embed iframe will expect the same format (`.../id/key`) or would the `iframe` expect the key to be passed on as a parameter? I can't seem to find any documentation about embedding private videos on the Vimeo side.

[2019-08-16 23:29] westonruter commented on #23804
I was also unable to find documentation on how to embed private videos.

[2019-08-17 00:14] nainar commented on #24001
I think this is definitely something worth pursuing.

- I would want to push Chrome to do this on their end though before doing it on our end so that we have the maximum possible gains.
- Also should this change be made in amp-anim instead since that is the component where GIF usage is higher?
- If we did create a `<video>` element as a fallback to `<img>` in Chrome - would devs who are styling sa

[2019-08-17 01:00] zhouyx commented on #17742
Hello @andresilveirah Those are great questions!

That's right.
I tend to think the action `accept/reject` to be the generic signal to block components which don't support customized consent handling. And then the consent string to be the extra information for opt-in vendors to consume. So in the case you described I think it's best to go with  `reject` I think.

As you also mentioned. There's a c

[2019-08-17 02:17] pbakaus commented on #24001
That would be nice, but as they closed as `wontfix` I'm not sure how easy it is to revive. We can try though.. doesn't change the fact that because we're a framework, and we have a proxy for `<img>`, we *can* support it in the meantime, if we chose to.

Good point, yes! But I will say, I always found it strange that `amp-anim` exists. Why not runtime manage `amp-img` like `amp-anim` when we detect

[2019-08-17 07:44] rifqimulyawan commented on #15502
I guess you are right @zhouyx, problem still occur on, especially whe text based ads,

Maybe because some mobile browser have based ad blocker extensions, such as uBlock Origin and ect., it works by preventing from third party (from cross site) requests from being made at the first place.

They explicitly and maybe they have a list of which third parties loads the ads, and then prevent the request

[2019-08-17 07:44] rifqimulyawan commented on #15502
I guess you are right @zhouyx, problem still occur on, especially whe text based ads,

Maybe because some mobile browser have based ad blocker extensions, such as uBlock Origin and ect., it works by preventing from third party (from cross site) requests from being made at the first place.

They explicitly and maybe they have a list of which third parties loads the ads, and then prevent the request

[2019-08-17 14:44] firmanpolyrific commented on #20959
@gaborszita sorry for the late reply, I got another task from my work, well, I have changed the robots.txt to allow the apikey.pub.

but I can't say the amp cache update works yet, it seems, there is a caching problem that makes any changes not affected when I access the robots.txt, I still figuring out what happened.

anyway, thank you so much for your help, really appreciate that :)

[2019-08-17 19:33] gaborszita commented on #20959
If it isn't affected, it's likely because "update-cache only ensures that the content is updated within its max-age" (stated in the Update AMP Content Documentation.) If you have a header e.g. `Cache-Control: max-age=3000`, if you request to update the cache, it only updates the cached page if it is older than 3000 seconds. To fix this problem modify the header to `Cache-Control: max-age=0`

But i

[2019-08-19 04:56] vigneshcamar commented on #23166
@lannka @choumx
Hi Guys,
Can you please help to update the above request I had asked?
Regards,
Vignesh

[2019-08-19 06:14] shotaws opened #24032 "Is the dynamic amp page indexed on google?"
## What's the issue?

We know the static pages are indexed on Google.
I want to know how the dynamic page is indexed on Google when the page url is "http://testAMP.html?index=12345, " for example.

[2019-08-19 08:01] tomayac commented on #7008
@cramforce Pleading for re-opening. This issue seems to pop up again with the rise of JAMstack static site builders where people cannot necessarily modify raw headers.

[2019-08-19 13:29] oliverfernandez commented on #23367
@lannka Thanks! Let's see what @ampproject/wg-ui-and-a11y thinks about this PR.

I think that the `mediation chain` you mention is also interesting. What do think would be the best context to discuss this? Open another issue, or in a Design Review meeting?

[2019-08-19 13:49] tharders opened #24034 "amp-list reset-on-refresh will not hide the load-more button"
## What's the issue?

When using `amp-list` with load more and `reset-on-refresh` activated the list results will be removed when the src changes, but the load more button is still visible.

When the list content is removed, also the load more button should be hidden

## How do we reproduce the issue?

The following code sample runs in the [playground](https://playground.amp.dev/)
The amp list wil

[2019-08-19 14:03] cramforce commented on #7008
Hmm, I'm certainly not opposed to doing this.
@Gregable

[2019-08-19 14:35] anjana-ackroyd opened #24035 "Accessibility: ScreenReader is reading Picture in picture twice"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-08-19 15:23] Enriqe opened #24036 "amp-form flaky test"
[code]

looks like it was introduced in #19334

[2019-08-19 15:28] lannka commented on #23367
@oliverfernandez yep, please a new issue to discuss the new feature request.

[2019-08-19 15:52] lannka opened #24038 "Add e2e tests for AMPHTML ads"
inabox lite (#22867) project is going to introduce different implementations of various services for inabox runtime. It will be very different from regular AMP runtime. We will need specific test coverage for various extensions to make sure they continuously working for inabox.

Ideally, we should have one e2e test for every ad listed in this example page:
https://github.com/ampproject/amphtml/blo

[2019-08-19 16:07] wassgha commented on #23634
After doing some research on this, `unload` / `beforeunload` can be replaced with the `pagehide`and the `event.persisted` property. We need to figure out what this means for analytics and metrics since pages will now be able to `unload`/`load` from the cache instead of a full load (so if we simply use `pagehide` instead of `unload` and `pageshow` instead of `load` then metrics that relied on these

[2019-08-19 17:02] wassgha commented on #15065
@nainar are we ok with implementing this for `autoplay` for now until the other use cases are designed or do we want to do everything at once?

[2019-08-19 17:05] choumx commented on #24003
Ah, so binding to `a[href]` is actually not allowed in AMP4EMAIL but the amp-bind documentation does not update when a different format is selected.

[2019-08-19 17:06] choumx commented on #24003
@fstanis Do we have docs that specify which bindings are allowed in AMP4EMAIL? Also, is it possible to have "if (isFormat(email))` conditionals in component docs?

[2019-08-19 17:09] choumx commented on #23941
One caveat: today, `amp-live-list` works by polling the origin document URL, but there's no such thing in the email context. You might want `amp-list` (which allows specifying a `src`) with a polling feature.

[2019-08-19 17:10] choumx commented on #23941
Can you elaborate on this use case? E.g. what sort of use case causes data change after form submission response?

[2019-08-19 17:15] choumx commented on #24032
I believe URLs with query params are not treated differently. Let us know if you have a test case showing otherwise.

[2019-08-19 17:15] #24032 closed

[2019-08-19 18:25] choumx commented on #23983
@andyblackwell Does this bug still repro when you turn off dev-channel?

[2019-08-19 18:26] choumx commented on #23975
This is because `amp-form` lacks the same integration that `amp-list` does re: binding evaluation.

[2019-08-19 18:28] choumx commented on #23858
Closing since cherry-pick is complete: https://github.com/ampproject/amphtml/issues/23869#issuecomment-520978645

[2019-08-19 18:28] #23858 closed

[2019-08-19 18:29] #24025 closed

[2019-08-19 18:31] #23822 closed

[2019-08-19 18:36] AndrewKGuan opened #24043 "Pre-connecting origin domain(s) and potentially prefetching outbound clicks"
Wouldn't it make sense to preconnect the origin domain and other subdomains while a user is on a cached amp served from ampproject.org?

For example, add a <link rel=preconnect href="example.com"> inside the source code of an AMP during the transformation process.

Perhaps the AMP runtime could do something like that after the page is done loading? Better yet, if some automatic preloading of the n

[2019-08-19 18:44] #23869 closed

[2019-08-19 18:44] choumx commented on #23166
Do you have a design document that explains this? If not, you can start by explaining your rough approach here for more immediate feedback.

Re: process, see here: https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#process-for-significant-changes

[2019-08-19 19:00] cramforce commented on #24043
Should be implemented as a startup behavior for the preconnect service connecting to the underlying origin and the canonical origin.
Additionally `amp-form` should probably connect to its destination.

[2019-08-19 19:31] #23936 closed

[2019-08-19 19:56] rsimha commented on #17829
This is now being tracked by https://github.com/ampproject/amp-github-apps/issues/348.

[2019-08-19 19:56] rsimha commented on #18551
This is now being tracked by https://github.com/ampproject/amp-github-apps/issues/348

[2019-08-19 20:07] maciejmackowiak commented on #21736
@aghassemi
Any updates on this?
I think this would be a perfect solution.

[2019-08-19 21:50] choumx opened #24051 "[id] clobbers AMP globals"
We currently blacklist `[id]` values that clobber DOM APIs: https://github.com/ampproject/amphtml/blob/0c5e03f962ebee782476a0da9f68600ba92c3cc1/validator/validator-main.protoascii#L6377-L6500

But we don't blacklist custom AMP globals that are set on the window by AMP JS, e.g. https://github.com/ampproject/amphtml/blob/0c5e03f962ebee782476a0da9f68600ba92c3cc1/src/mode.js#L55

The following AMP glo

[2019-08-19 22:12] #24043 closed

[2019-08-19 22:19] gmajoulet commented on #21897
Closed by #22603

[2019-08-19 22:19] #21897 closed

[2019-08-19 22:41] jeffjose commented on #1612
@welkie and others - thanks for providing context and rationale. @zhouyx and I chatted about this a bit offline and we think it'll be a good feature to add.

We'll add this request to the list of outstanding requests. At this moment, we're looking at working on this in Q4 2019.

[2019-08-20 00:18] andyblackwell commented on #23983
I first saw it on the prod channel.

I'll have to setup a test to check if anything has changed. We had to disable `amp-next-page` due to this bug, and another where the click urls for `amp-next-page` links in the cdn are borked and cause error pages when clicked or when the page is refreshed after `amp-next-page` has changed the url.

On first glance looking at popsugar.com, the dev-channel bug s

[2019-08-20 00:37] fstanis commented on #24003
Yes, the [AMP for Email Supported Components](https://amp.dev/documentation/guides-and-tutorials/learn/email-spec/amp-email-components/?format=email) lists bindings are (not) allowed in emails.

ampproject/amp.dev#2745 is the tracking issue to integrate that with the component documentation, so I'll close this in favor of that.

[2019-08-20 00:37] #24003 closed

[2019-08-20 00:39] fstanis commented on #23165
Closing in favor of ampproject/amp.dev#2745 which tracks the issues with component docs.

[2019-08-20 00:39] #23165 closed

[2019-08-20 04:28] #23989 closed

[2019-08-20 07:31] umuur commented on #23919
@calebcordry Hi there, could you please check this url: https://feed.storyim.com/donanim-haber/?url=https://api.donanimhaber.com/dev/web/api/storyfeed

I need to change the page because the one above is on production.

[2019-08-20 08:00] shotaws commented on #24032
@choumx
Thank you for answering my question.

Now I know the static and dynamic pages are indexed on Google through the above answer.
I have a question about more deep things, how the behaviors of the URL are.
For example, if the URL is http://test.web-site.com/?query=hoge, which is indexed on Google, http://test.web-site.com/ or http://test.web-site.com/?query=hoge ?

[2019-08-20 10:18] mbelchin commented on #23941
Hi @choumx,

Thanks for your answers.

You are right, probably the best approach will be to use `amp-list` with some poll mechanism in place. If I'm not wrong I think you're already considering something like that, right? https://github.com/ampproject/amphtml/issues/15780

About the use case. Basically what we're trying to achieve is to build a chat system within Gmail. We provide chat solution an

[2019-08-20 10:30] ed-bird opened #24067 "<amp-subcriptions> let `subscriptions-display` cascade to child elements of `subscriptions-dialog`"
## Describe the new feature or change to an existing feature you'd like to see
When a `subscriptions-display` expression is added to a `subscriptions-dialog` element, the decision to show/hide elements should cascade down to child elements of the `subscriptions-dialog`.

**Desired:**
[code]

## Describe alternatives you've considered

At the moment, the same `subscriptions-display` expression has

[2019-08-20 10:55] janwinkler opened #24068 "amp-consent: Support ConsentManager CMP"
Hello,

on https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/amp-consent.md and https://amp.dev/documentation/components/amp-consent/ is a list of "Supported Consent Management Platforms" that currently only lists Didomi. Please add consentmanager.net CMP to the list (see https://help.consentmanager.net/books/cmp/page/using-the-cmp-with-amp-websites).

Thank you!

Best regar

[2019-08-20 14:54] mbelchin commented on #23941
Hi again @choumx ,

Is there any possibility to build our custom component (https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/index.html) and use it in AMP4Emails ?

I've seen for now it's only supported for Websites, do you know if that can be used for Email as well ?

Thanks again.

[2019-08-20 15:00] ericandrewlewis opened #24071 "Remove event listeners for Safari in Layout Jank reporting"
We add event listeners for Safari to allow for reporting of Layout Jank on page exit via the `beforeunload` event (see [code](https://github.com/ampproject/amphtml/blob/98bd45a96b5237bdee0e4de4ba64c4a608227160/src/service/performance-impl.js#L223-L233)).

We want to remove `beforeunload` listeners to enable BFCache behavior for AMP pages, so we should remove these listeners.

Since the introductio

[2019-08-20 16:02] estherkim commented on #24009
Sure, I see 2 options.
A. Run tests locally - spinning up a macOS VM on Travis to run tests with Apple's WebDriver.
B. Run tests remotely - moving tests to SauceLabs, which handles all browser driver logic, but involves more changes to our current e2e framework.

I'm leaning towards A for the ease of local debugging - I can start with that and see how it goes.

[2019-08-20 16:16] dritter opened #24073 "AMP.navigateTo with target _blank not working in Firefox"
Hi,

`AMP.navigateTo()` with `target='_blank'` opens the URL in a new Tab, but also in the current window. This happens in Firefox, but works in Chrome. To make reproduction even harder, this does not happen in the Playground. A regular link with `target="_blank"` works.

#### Steps to reproduce
- Take the HTML below and save it as File
- Open the File with Firefox
- Click on the Button

[code]

I

[2019-08-20 16:40] lannka opened #24074 "Error: viewport has zero dimensions"
The error is added in #8061 . We are still seeing [10K errors per day](https://pantheon.corp.google.com/errors/CPSA3a_89vCGkQE?time=P30D&filter=text:%22viewport%20has%20zero%20dimensions%22&project=amp-error-reporting) right now.

The error is sampled at 1%, so it's actually 1M errors per day.
https://github.com/ampproject/amphtml/blob/1aa3fefac0da7c971e233975b4ed180282d9770c/src/service/viewport/

[2019-08-20 16:44] lannka commented on #24009
I think A is a good start. Overall Saucelabs is much harder to debug. So even later we switch to Saucelabs for better browser coverage, it is still good to have Safari support locally for debugging purpose.

Thanks @estherkim for looking into this!

[2019-08-20 17:00] wassgha opened #24076 "Updates tests to use async/await for readability"

[2019-08-20 17:17] andyblackwell commented on #23983
I setup one old article with `amp-next-page` again.
https://www.google.com/amp/s/www.gossipcop.com/robert-pattinson-royal-wedding-rumor/amp/

----

for the error: `Cannot read property 'ownerDocument' of undefined`
on `prod channel`: **not** getting the error
on `dev channel`: still getting the error

----

on `prod channel`:

Ads are still not rendering on the appended articles for me.
Could this

[2019-08-20 17:17] wassgha commented on #23634
More context on this.

The analytics usage was only added on Safari and will be removed through #24065 since it is not critical (see context in #24071 .

The viewer usage – on the Google AMP Viewer side at least – was added to detect whether an AMP document unloads inside a viewer (and it shouldn't) and displays an error.

Based on my limited understanding, there is no usage of BFCache inside the

[2019-08-20 17:25] dvoytenko commented on #24074
@lannka generally, no, not expected. But it's not a very bad error. Do you know which viewer though?

[2019-08-20 17:29] #17953 closed

[2019-08-20 17:38] wassgha opened #24077 "Retire it.yield in favor of async/await"
Related to #24076

Retire it.yield introduced by #9601

[2019-08-20 17:40] CrystalOnScript commented on #22430
From my understanding, the `<picture>` tag is used to serve different image formats in an optimized way with fallbacks if the browser does not support it. Replacing `picture` tag is outlined here:

[Create responsive AMP pages: Providing optimized images](https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/responsive_design/?format=websites#providing-optimized-images)

and

[2019-08-20 17:42] lannka commented on #24074
I scanned through a couple of examples, they are all from one of the following:

**amp_js_v=0.1**
https://www-wattpad-com.cdn.ampproject.org/v/s/www.wattpad.com/amp/665419892?amp_js_v=0.1&usqp=mq331AQEKAFwAQ%3D%3D

**amp_js_v=a2&amp_gsa=1**
https://www-cittaceleste-it.cdn.ampproject.org/v/s/www.cittaceleste.it/notizie/calciomercato/calciomercato-inter-vidal-rakitic-milinkovic-ce-anche-qualcosaltro

[2019-08-20 17:44] wassgha opened #24078 "Nit visual changes for the chrome extension"
Better styling for the input box introduced by #24029

[2019-08-20 17:45] dvoytenko commented on #24074
Do we have any sample URL fragments?

[2019-08-20 17:48] lannka commented on #24074
Here is [one](https://pantheon.corp.google.com/errors/CPSA3a_89vCGkQE?time=P30D&filter=text:%22viewport%20has%20zero%20dimensions%22&project=amp-error-reporting).

POST /r?v=011908162035200&noAmp=0&m=viewport%20has%20zero%20dimensions&a=0&ex=0&dw=0&rt=1p&ca=0&bt=production&rvu=https%3A%2F%2Fwww-express-co-uk.cdn.ampproject.org%2Fv%2Fs%2Fwww.express.co.uk%2Flife-style%2Fscience-technology%2F1167465

[2019-08-20 17:49] ericfs commented on #23634
I think @wassgha's analysis is correct. The unload event is used specifically in the case of an AMP Viewer. While it is extremely rare, it really shouldn't be allowed since The AMP Viewer does not expect to contain non-AMP content.

I'm not familiar with the use of `beforeunload` in `amp-viewer-integration`.

[2019-08-20 17:57] jpettitt commented on #24067
I think the best way to do this is to set the default visibility for swg elements to that of their closest swg ancestor or false is no swg ancestor.

This will be a breaking change if for some reason somebody has a swg element without `subscriptions-display` inside one that does have `subscriptions-display` as it will start tracking the parent rather than remaining hidden.

Choices:
1. Do we accep

[2019-08-20 18:01] #22982 closed

[2019-08-20 18:20] calebcordry opened #24080 "Remove amp-ad-exit logic from Story Ads"
In #24044 I will be introducing some logic into `amp-story-auto-ads` that will look for an `amp-ad-exit` config and if it exists, try to extract an url for the CTA click.

This was introduced as a temporary solution until we have first class support from our partner ad networks.

To delete this code we will need ad networks to support writing click tracking urls directly into the meta tag that sto

[2019-08-20 18:42] rsimha commented on #12741
@westonruter Do you know if your PR #24066 happens to have fixed this old issue?

[2019-08-20 18:42] rsimha commented on #12747
@westonruter Do you know if your PR #24066 happens to have fixed this old issue?

[2019-08-20 19:34] archon810 commented on #21736
I'd love to see this implemented soon as well because it makes the lightbox totally unusable in the most generic case of having smaller thumbs and larger full sized images.

Right now it doesn't seem to be possible to have a gallery with low-res image thumbs because once tapped, the image that is then loaded into view is the thumb and not the full size. That'd be like the web existing without `<a

[2019-08-20 19:51] dvoytenko commented on #24074
The fragment is the `fr=` parameter. That doesn't give us much, except that it's a webview. Given the referrer, I believe this is GNews.

Can you check if this is Android or iOS?

[2019-08-20 20:00] wassgha commented on #23634
@ericfs do you know anyone other than @chenshay who would be more familiar with `amp-viewer-integration`? We can tag them to comment on this

[2019-08-20 20:12] tobie opened #24083 "doc: Missing I2I instructions in CONTRIBUTING.md"
## What's the issue?

This is a documentation issue.

The [I2I issue template](https://github.com/ampproject/amphtml/edit/master/.github/ISSUE_TEMPLATE/intent-to-implement--i2i-.md) references [CONTRIBUTING.md](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md) for how to fill-up the I2I template, yet there's no reference to I2I in CONTRIBUTING.md.

/cc @nainar

[2019-08-20 20:29] sparhami commented on #21736
You can already do this. You can use `srcset` to specify different resolutions of the image to use. AMP will pick the correct one for your smaller image and use a higher resolution one for the lightbox. For an example, see the following glitch: https://southern-tempo.glitch.me/

This does:

[code]

This uses causes the lower resolution thumb to be picked when the content is in the page, and a high

[2019-08-20 20:32] choumx commented on #23983
@ampproject/wg-ui-and-a11y Who maintains `amp-next-page` now? This and #22357 seem like important and non-trivial bugs to fix.

[2019-08-20 20:36] ericfs commented on #23634
I'm not sure. Can you point me to the code you're talking about and I can take a look?

[2019-08-20 20:47] sebastianbenz commented on #22013
Have we got an ETA for the conditional invocation? I regularly see questions about this on Slack and SO (e.g. the [latest question](https://stackoverflow.com/questions/57554671/how-to-check-response-is-null-or-not-in-amp)).

[2019-08-20 21:15] CrystalOnScript commented on #22430
@machal - while we do have documentation on `img` and `picture` replacements in AMP, because images are extremely important on the web, I've made a point to open a documentation [issue with amp.dev here](https://github.com/ampproject/amp.dev/issues/2798). While I think the initial issue is resolved, there is room for further documentation and clarification on images in AMP. Thanks for raising this

[2019-08-20 21:34] lannka opened #24086 "🚄Release tracking issue for canary release <INITIAL_CANARY_RELEASE_NUMBER> (Canary)"
# Release tracking issue

- [x] Release `[1908201719490](https://github.com/ampproject/amphtml/releases/tag/1908201719490)` is cut as a new canary release
- [ ] Release <RELEASE_NUMBER> pushed to dev channel (<CL submit time>)
- [ ] Release <RELEASE_NUMBER> pushed to 1% (<CL submit time>)
- [ ] Release <RELEASE_NUMBER> pushed to production (<CL submit time>)

See the [release documentation](https:

[2019-08-20 21:38] diantekyrie opened #24087 "amp-viewer-integration-0.1.js:30 [Intervention] Ignored attempt to cancel a touchmove event with cancelable=false"
## What's the issue?
`[Intervention] Ignored attempt to cancel a touchmove event with cancelable=false, for example because scrolling is in progress and cannot be interrupted.` issue appears when swiping through articles

Briefly describe the bug.
amp-viewer-integration-0.1.js:30 issue when swiping between articles.

## How do we reproduce the issue?

1. Opt into Canary/RC
2. Open JavaScript Conso

[2019-08-20 21:54] lannka commented on #24087
Same issue appeared on current prod: 1908162035200

[2019-08-20 22:38] lannka opened #24092 "inabox initializaiton should not wait for resources service"
https://github.com/ampproject/amphtml/blob/4070ee24d520b7b8ebf8eec4867bb8622b490a5d/src/inabox/inabox-viewport.js#L193-L203

The dependency is because the initialization relies on resource to remeasure itself
https://github.com/ampproject/amphtml/blob/4070ee24d520b7b8ebf8eec4867bb8622b490a5d/src/inabox/inabox-viewport.js#L329-L331

but resource.js has unnecessary dependency on resources service.

[2019-08-20 22:44] westonruter commented on #12741
@rsimha I do not believe so, but this seems related.

[2019-08-20 22:45] lannka commented on #24092
You might want to move `getScrollDirection()` from `resources-impl.js` to `viewport-impl.js` to remove this dependency.

@dvoytenko

[2019-08-20 22:50] westonruter commented on #12747
@rsimha I'm not sure. The `http://ads.localhost` URL seems like it would cause problems when running `gulp server` with `--https` since it would cause mixed content security warning. Should not the `ads.localhost` be configurable (such as in `gulp serve`) to point to an actual host? Is this something that is missing from the [E2E getting started instructions](https://github.com/ampproject/amphtml/

[2019-08-21 11:32] machal commented on #21736
Let's summarize this issue. There are two topics here:

### 1) Implement `<a href="detail.jpg"><amp-img></a>` in `amp-lightbox-gallery`

Although commenters suggested many useful ways how to do it with `srcset` and `object-fit`, they does not solve my issue:

### 2) Update docs with `srcset` solution

I've added issue for the docs team: https://github.com/ampproject/amp.dev/issues/2804

[2019-08-21 14:15] dritter commented on #23896
We face the same problem and found two possible workarounds:
- Use `<button on="tap:AMP.navigateTo(...)>` instead of links. That needs some workarounds if you need to generate URLs (see #23891 ).
- Use the alternative `<script type="text/plain" template="amp-mustache">` instead of `<template type="amp-mustache">`. Downside is that it looks like the amp validator does not see (and validate) the con

[2019-08-21 14:42] gagan1910 opened #24101 "How to add ecwid store (custom tag give by ecwid ) in Amp pages?"
## Describe the new feature or change to an existing feature you'd like to see

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature request here.

[2019-08-21 15:26] lannka commented on #24092
Think twice, the dependency will not go away. `inabox-viewport` still depends on resources: `getChildResources()`.

[2019-08-21 15:26] #24092 closed

[2019-08-21 15:53] #23939 closed

[2019-08-21 17:26] zhouyx commented on #23403
wg-analytics's periodic update: https://github.com/ampproject/wg-analytics/issues/12

[2019-08-21 17:40] anjana-ackroyd opened #24107 "Accessibility: ScreenReader(NVDA) Narrator is reads the short cut key as Alt+Enter to enter full screen, but Caps+Enter key is the one used to enter full screen"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-08-21 17:48] cramforce opened #24109 "Introduce a proper task abstraction in AMP"
We currently have `Chunk` and `Pass` (at least). Chunk has many but not all features we need.

- Pass should be replace with Chunk
- Chunk should gain features that make it work better at "runtime". It was primarily designed for startup. This might be just a rename of `startupTask` to `task` :)
- Chunk has a priority queue, but doesn't expose it. This needs to change.
- Chunk should align with the

[2019-08-21 17:53] dvoytenko opened #24110 "Implement pausable iframes"
[Iframe freezing spec](https://github.com/dtapuska/iframe-freeze) allows iframe pausing. It promises to provide significant performance benefits for pause/resume cases which currently often fallback to complete recreating of iframes.

Cleanup issue: #24113.

[2019-08-21 17:54] kristoferbaxter opened #24112 "`macro-after-long-task` experiment only available in canary"
## What's the issue?

The `macro-after-long-task` experiment is only available in canary, and is missing from production.

## How do we reproduce the issue?

Load any AMP document with an additional parameter (`e-macro-after-long-task`) and observe the number of macro tasks during startup, on a canary build versus production build the number will vary. This increase in macro tasks is designed to r

[2019-08-21 17:54] dvoytenko opened #24113 "Cleanup pausable-iframe experiment"
Blocked on #24110

[2019-08-21 18:04] #24071 closed

[2019-08-21 18:12] nainar commented on #24001
I will bring this up with Chrome members offline if we can engage with them that would be great otherwise happy to have this change. @sparhami how does that sound?

[2019-08-21 18:14] kristoferbaxter opened #24114 "🌸 Cherry-pick request for #24112 into #1908201719490 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24112 | #24108 | **NO** | **YES** | #24086 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-08-21 18:36] jridgewell commented on #24114
I don't think this qualifies as a prod cherry-pick, since nothing is actually breaking? It's just an experiment that'll have to wait another week to start.

[2019-08-21 18:40] jridgewell commented on #24109
It's doesn't have to be a true polyfill, just an approximation.

[code]

This is approximately what `Resources` uses to test if we've done too much work.

[2019-08-21 18:52] alabiaga commented on #22013
@sebastianbenz I had a PR for this, https://github.com/ampproject/amphtml/pull/21625/files. I will reopen for @choumx to review and comment on, whether the approach I am taking is correct or if it needs more work. Thanks

[2019-08-21 19:20] cramforce commented on #24109
This is basically implemented here https://github.com/ampproject/amphtml/blob/master/src/chunk.js#L464

That implementation can, of course, be improved. Especially being unaware of vsync disallows good judgement of how much time there is left.

[2019-08-21 20:08] cramforce commented on #24114
Yeah, since this is a zero-risk change we can do it, of course. But maybe should wait for another cherry-pick instead of doing one right now.

[2019-08-21 20:21] kristoferbaxter commented on #24114
Makes sense to wait for another change, thank you.

[2019-08-21 20:25] pstricker opened #24118 "New amp-accordion headings error?"
## What's the issue?

We have begun seeing a new error show up in the console that reads "amp-accordion headings should not have tap actions registered." for every use of the amp-accordion component on a page.

We have not modified this markup for quite some time so we are having difficulty troubleshooting the new error.

In looking at each use of amp-accordion, we also can not identify any tap ac

[2019-08-21 20:39] lannka commented on #24114
Updated title with the RC release RTV

[2019-08-21 20:53] jaygray0919 commented on #23672
@choumx To keep everything in one place, here is the **reference case** for injecting `JSON-LD` into an AMP document using `amp-list` and `amp-mustache`.

https://afdsi.org/test-5-0/

The reference case uses `jQuery`.
The goal is to achieve the result shown on Google Structure Data Testing Tool (line 32 in source)
https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fafdsi.org%2

[2019-08-21 21:04] choumx opened #24120 "amp-sidebar: [aria-hidden] removed on open"
This appears to be a recent-ish regression. On open, `[aria-hidden]` is set to "false" but the attribute is quickly removed afterwards.

Looks like this is due to `setModalAsOpen()`, which is invoked async after `setAttribute('aria-hidden', 'false')` is called: https://github.com/ampproject/amphtml/blob/98bdfca3602731473248126b6903801fa54d9569/extensions/amp-sidebar/0.1/amp-sidebar.js#L331-L347

P

[2019-08-21 21:08] lannka commented on #24114
So I assume this is approved for a canary/RC cherrypick.

[2019-08-21 21:18] leafsy opened #24121 "Scrolling the sidebar scrolls the main page on iOS"
## What's the issue?

Scrolling on the sidebar when it has reached the end would cause scrolling on the main page instead. Scrolling on the mask however does not have this issue. This seems to be a recurring bug that was reintroduced by newer version of iOS.

## How do we reproduce the issue?

1. Open [this example](https://amp-steven-master.firebaseapp.com) on an iOS device
3. Tap on the "toggle

[2019-08-21 21:19] choumx commented on #23896
This bug should probably be routed to the support forum for Google Search Console or whichever corresponding tool that's showing these errors. `<template>` tags are not unique to AMP so this is probably a common issue.

Out of curiosity, do these malformed links in `template` tags cause a behavioral change in SEO for your sites? Or can they be safely ignored (as far as you can tell)?

[2019-08-21 21:32] sparhami commented on #24120
I'll clean this up, but adding a note that this isn't actually a bug. When the sidebar is open, it is fine to not have `aria-hidden` (behaves the same as `aria-hidden="false"`, except on things like `<script>` tags). When the sidebar is closed, it is fine to have `aria-hidden="false"`, since the element is `display: none`.

[2019-08-21 21:33] gmajoulet opened #24122 "Story <a> links trigger analytics on expand rather than on navigation"
Story <a> links trigger analytics on expand rather than on navigation.

AMP Stories have 1.5 click patterns: the first click opens a tooltip, and a second click navigates.

The issue is that the analytics event will trigger when the tooltip is open, when it should trigger as the user navigates.

[2019-08-21 21:56] dritter commented on #23896
Biggest issue for us is that it might be irritating for the users, as the links appear in the index (Text-Version; e.g. at the [bottom of this page](http://webcache.googleusercontent.com/search?q=cache:33d02zYYY1sJ:https://beta.canada.com/travel/international-travel/a-taste-of-australias-hunter-valley/wcm/a540a92b-95df-41b0-9f3d-e87a78b2f5d8/amp/&hl=de&gl=de&strip=1&vwsrc=0)).
The SEO impact is ha

[2019-08-21 22:35] zhouyx opened #24124 "Do not stub private method in integration test"
@estherkim and I found that some integration tests are failing when running with compiled code.

This is caused by stubbing private method in those integration tests, where the private method name will be minimized during compilation.

Two test files are affected. Please fix the affected tests and unskip them
- [ ] [test-visibility-states.js](https://github.com/ampproject/amphtml/blob/master/test/

[2019-08-21 23:02] wassgha commented on #23634
This is the code https://github.com/cvializ/amphtml/blob/58cfd262e6f4230dcad20f89874b45bc2127f059/extensions/amp-viewer-integration/0.1/amp-viewer-integration.js#L225-L230

[2019-08-21 23:04] jridgewell commented on #24124
New lint rule: https://github.com/ampproject/amphtml/pull/24129

[code]

[2019-08-21 23:11] alankent opened #24131 "[amp-script] Float left on button disables amp-script"
## What's the issue?

`amp-script` does not load external JS file (and script does not run) when served from web server running on localhost if the button has `float: left;` in the CSS.

## How do we reproduce the issue?

Here are the files I serve locally *from a localhost web server*: https://gist.github.com/alankent/4b00d383d6ebe06591deb5cd709a45e5

If I use a `file:///` URL to access the files

[2019-08-21 23:19] choumx commented on #24120
Makes sense, thanks.

[2019-08-21 23:23] choumx commented on #24120
Reread the original bug and an additional issue is that `[aria-hidden=false]` is present after closing the sidebar. Possibly related to the same root cause?

[2019-08-21 23:39] nainar opened #24132 "Create templates for documents needed in I2I"
- [ ] PRD
- [ ] User Research
- [ ] Design Doc
- [ ] UX Interaction Spec
- [ ] Accessibility Review
- [ ] Security Review
- [ ] Privacy Review
- [ ] Internationalization Review

[2019-08-22 00:15] zhouyx commented on #23403
back/forward cache meeting notes

- In order to support back/forward cache we need to get rid of all `beforeunload` and `unload` listener.
- amp-analytics is currently listen to `unload` when `pagehide` event is not supported.
- We have also added linter rule to prevent future `beforeunload` and `unload` event listener.

[2019-08-22 00:16] sparhami commented on #24120
I think the reason for that the modal closing logic tries to restore the previous value of `aria-hidden`, which it thinks is `false` rather than not present due to the async behavior you mentioned above. With #24123, we won't set `aria-hidden` on the sidebar element at any point, instead relying on the `display: none;`, which will remove the content from the accessibility tree. The `aria-hidden="f

[2019-08-22 00:33] zhouyx commented on #23403
Code style comparison

![image](https://user-images.githubusercontent.com/5419904/63477368-a1e79700-c439-11e9-9f64-1e44da855d96.png)

- Array.includes is more readable. But there are performance compromises. Because the array will be allocated on every function call. Also `includes()` is much slower than if statement
- Using Array.includes saves a little bit of code size though
- Current both patt

[2019-08-22 00:33] #23403 closed

[2019-08-22 00:53] lannka commented on #24114
cherrypick done, it's in canary opt-in now.

[2019-08-22 00:53] #24114 closed

[2019-08-22 02:12] creativefold commented on #24118
I am also facing the same issue on an AMP based website. How do we fix this issue?

[2019-08-22 02:39] buihoanghai commented on #24118
![image](https://user-images.githubusercontent.com/6602376/63481677-cb033880-c4c8-11e9-8f1a-d768bdcc04b3.png)
I think the temporary solution is set the color for these sections first. asleast users still see texts

[2019-08-22 03:22] jeffj6123 commented on #22961
is there any ETA for when this would be fixed?

[2019-08-22 03:29] stephensaw commented on #24118
The issue seems like it's because amp-accordion doesn't allow to have tap event on the header. However after removed the tap event from header still failing for me.

Seems like the `findAction` is doing a loop for each of the parentElement, after removing the tap on my parent element it seems to be working. Why is the function not scoped at the accordion component only?

[2019-08-22 04:38] jridgewell commented on #22961
/to @lannka

[2019-08-22 05:03] jeffj6123 commented on #22961
I can try and add as much info as possible.
Its an angular 8 application and we have it fire from multiple places
https://sentry.io/share/issue/4478b945b1144f53ab86dac016c61f61/
https://sentry.io/share/issue/0e6de6350f8d4ca6925d8ba88bd6913d/
https://sentry.io/share/issue/f74f8f8c00da4d0cba9c95e6caee6a53/
https://sentry.io/share/issue/2c631029a48045199889b98ee289c864/
https://sentry.io/share/issue/

[2019-08-22 09:08] KarlBigL opened #24139 "AMP issue with filter/menu on chrome and iOs"
## What's the issue?

The problem appeared on iOS and chrome.
Open google, search and open an AMP page, press/open a menu/filter, do nothing and close. It doesn't close the menu/filter but returns you to google search.

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-s

[2019-08-22 09:56] tobie commented on #24132
See my comments in https://github.com/ampproject/amphtml/pull/24072#issuecomment-523377725.

[2019-08-22 10:42] BurakDev commented on #24118
According to #23264 , bad use of hasAction method, third parameter should be the header element to prevent checking tap presence on all parents divs. @sparhami @cathyxz Is planned to do an emergency release or anything ? If not, we will have to remove all tap on parents elements.

[2019-08-22 13:19] mbelchin opened #24140 "Support for amp-script in Amp4Emails"
I aware that [amp-script](https://amp.dev/documentation/components/amp-script/) is still in experimental mode.

I've been experimenting a little bit with it and I could see that we can use `window.setInterval` to be able to fetch data every X seconds from backend servers.

Would be great to support amp-script for AMP4Emails as well.

More info: https://stackoverflow.com/questions/57571092/how-to-u

[2019-08-22 13:38] maciejmackowiak commented on #21736
@sparhami
Your solution works only for fixed width images but what if I'd like to have responsive thumbnail image?
When I use sizes then AMP is adding inline styles, or am I doing something wrong?
https://angry-blade.glitch.me/

So I'm afraid that the case mentioned by @archon810 is not solved with your solution.
Why there is not simple solution like for example this one mentioned by @machal :

`<

[2019-08-22 14:04] ericfs commented on #23634
Oh, ok. My explanation above in https://github.com/ampproject/amphtml/issues/23634#issuecomment-523123599 does apply to that. I thought you were saying there is an additional listener for `beforeunload`. If there is, that's the one I'm not familiar with.

[2019-08-22 14:05] newmuis commented on #24001
@nainar or @sparhami can you @ampproject/wg-stories know if this becomes a thing?  Transforming this to a video behind the scenes might break stories, as stories expect to manage all media in the document.

[2019-08-22 14:06] cramforce opened #24141 "[DX] Lazily build JS binaries for default gulp task"
- block web server startup by nothing
- maybe eagerly build core runtime
- register a URL handler in the web server that does the following:
  - If the path points to a a file we could build
  - build the file now,
  - and when that is done respond with the result
- If the watcher rebuilds a file, behave like above, so that the next reload on the client always gets a fresh file.
- That way we'd ha

[2019-08-22 15:56] rsimha opened #24144 "Replace legacy `describe` tests with one of `describes.{realWin|sandboxed|fakeWin|integration}`"
This is part of a larger effort to isolate AMP's tests and prevent global state from leaking across tests. See https://github.com/ampproject/amphtml/pull/24090#issuecomment-523684518 for the discussion that led to this issue being filed.

Related to #24090

[2019-08-22 15:57] lannka opened #24145 "Shall we change --with_shadow to --noshadow"
also applies to --with_inabox

reasons:
- comparing the 100+ extensions we have, compiling extra inabox & shadow runtime does not significantly increase compilation time
- easy to get ignored by first time contributor and then spending tons of time debugging on a local-only test failure (/cc @powerivq :-) )
- to be consistent with `gulp dist`, which compiles everything by default.

[2019-08-22 16:21] rsimha commented on #18748
One more success in the series: #24096

[2019-08-22 17:01] Gregable commented on #20974
The attribute is now `data-ampdevmode`. Apologies for any extra effort the churn requires.

[2019-08-22 17:01] #20974 closed

[2019-08-22 17:32] Gregable commented on #23977
You can now temporarily modify your `<style amp-custom>` tag to be `<style amp-custom-length-check>`. The rules for the latter have a maximum CSS length of -1, so with this temporary modification the error message will display the current length of your CSS.

[2019-08-22 17:32] #23977 closed

[2019-08-22 17:58] glevitzky commented on #23492
Yup, I can take this on.

[2019-08-22 18:34] #24087 closed

[2019-08-22 18:35] sparhami commented on #21736
So you can leave off `sizes`, and `amp-img` will generate them for you. For example this glitch:

https://furtive-octagon.glitch.me

[code]

For some reason, this isn't picking the correct source in Chrome devtools device emulation mode, but the sizes media query is being generated correctly. If you don't do device emulation, and just narrow the window, it should work correctly in Chrome / Firefox

[2019-08-22 19:23] wassgha opened #24151 "🌸 Cherry-pick request for #24142 into #23939 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24118 | #24142 | **YES** | **YES** | #23939  #24086 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick

[2019-08-22 19:30] cramforce commented on #24151
Approved.

I'm a bit worried that the fix that have a test. Definitely prep a postmortem for this one.

[2019-08-22 19:38] wassgha commented on #24151
^ manually tested, but I agree @cathyxz maybe add a test to catch this case
Waiting on Travis to merge the PR

[2019-08-22 19:46] #24118 closed

[2019-08-22 19:48] austintude commented on #23494
Wait. What?
What is the definition of "better determination"? Is this a browser definable item or a viewer/visitor/site-owner determinable item?
If, indeed, we are attempting to attain a "better overall user experience", then who or what defines 'better'? Is this not a decision for the site owner to make?
When aesthetics are 'determined' by computers/algorithms and not humans, have we not lost the

[2019-08-22 20:13] sparhami commented on #23494
Think about how users scroll pages. Scrolling mechanics on all pages are the same and they all rely on the browser (or OS), and behave the way the user expects. When someone implements custom scrolling behavior, it is very disruptive and disorienting to users. I don't think that site owners should implement their own scrolling, even though they are free to do so.

As I mentioned before, we may con

[2019-08-22 20:58] chaawlaapooja commented on #20793
@jpettitt What worked for you?

[2019-08-22 21:19] maciejmackowiak commented on #21736
@sparhami
I don't think so that it can be solved this way.
I've loaded Your example page in incognito mode in chrome and take a look at this:

![obraz](https://user-images.githubusercontent.com/24996403/63550381-d55a1c80-c532-11e9-8412-a2547040ff4b.png)

it loads the big image, so that is not the solution.

[2019-08-22 21:39] lannka commented on #24151
FYI, check picking prod

[2019-08-22 21:57] sparhami commented on #21736
![Screenshot from 2019-08-22 14-46-48](https://user-images.githubusercontent.com/1410321/63552152-c56b1a00-c4eb-11e9-87e1-bfde21999828.png)

In the screenshot above, I loaded the page with a window width of 327 pixels (which is under the 338 declared in the srcset), and got the small image. After resizing it I correctly get the larger image.

What window width are you using? It should definitely l

[2019-08-22 22:23] maciejmackowiak commented on #21736
I know how the srcset works, so thats why I'm pointing out that it's not the solution for the case mentioned byt @machal  and @archon810
How can I use ligtbox gallery but with usage like this:
`<a href='full.jpg'><img src='thumb.jpg'></a>`
And that it work across all devices?

[2019-08-22 22:38] chrishtr commented on #11597
BTW I just closed that Chrome bug as WontFix, with a detailed explanation of why.

In the case of the examples in this bug I'm not 100% sure what approach you took, but my guess is that you are animating from a small scale up to the original size of a composited image. This is the best approach.

[2019-08-22 23:11] archon810 commented on #21736
I'm testing this stuff on Chrome emulator for Windows with window.devicePixelRatio=2, and I can't make sense of the results and can't seem to get to the desired solution that @maciejmackowiak and I would want.

The easiest way to test is in incognito and with `Disable cache` in the Network tab so that page refreshes always show uncached data.

We need to emulate the aforementioned scenario where w

[2019-08-22 23:38] #24078 closed

[2019-08-22 23:48] nixtka opened #24154 "AMP stories: support for external video players"
## Describe the new feature or change to an existing feature you'd like to see

We want to make AMP stories to support not only **amp-video** tag but all <amp-...> players. If player is supported by AMP and ready to support AMP stories behaviour & UI — why not to use it instead of amp-video

## Describe alternatives you've considered

I saw in examples some integrations of **amp-gfycat** but witho

[2019-08-23 00:23] nixtka opened #24156 "AMP-Story Auto Ads Support for Videonow Ad server"
## What's the issue?

We (Videonow) want to be a supported ad-server for amp-story-auto-ads tag

## Context

Videonow Ad Server is supported by <amp-ad> (https://github.com/ampproject/amphtml/blob/master/ads/videonow.md) and now we almost developed a Viqeo Stories Studio to export AMP visual stories. And to support active production of AMP stories by Digital media Publishers, we would like to deve

[2019-08-23 00:50] zhouyx commented on #20070
Closed by #23317

@vineeth22 Thank you for contributing!

[2019-08-23 00:50] #20070 closed

[2019-08-23 01:25] rsimha commented on #24144
Tagging all TLs to triage / prioritize fixes for the legacy tests in your areas.

@jpettitt @lannka @zhouyx @rsimha @kristoferbaxter @choumx @newmuis

[2019-08-23 07:05] shotaws opened #24159 "How is the dynamic amp page indexed on google?"
Now I know the static and dynamic pages are indexed on Google through https://github.com/ampproject/amphtml/issues/24032.
I have a question about more deep things, how the behaviors of the URL are.
For example, if the URL is http://test.web-site.com/?query=hoge, which is indexed on Google, http://test.web-site.com/ or http://test.web-site.com/?query=hoge ?

[2019-08-23 08:06] dritter commented on #24073
Update: Surprisingly this works, if we set `opener=true`. The error remains with `opener=false`.

[2019-08-23 10:34] xavierleune commented on #13659
Hi @twifkak any news on that issue ?
Thanks

[2019-08-23 13:12] sebastianbenz opened #24161 "Validator allows viewport units for intrinsic layout"
It's currently valid to specify viewport units for intrinsic width and height:

[code]

It doesn't work though (the image won't show) and doesn't really make sense in the case of the intrinsic layout.

Suggestion: don't allow vh / vw for intrinsic layout.

//cc @Gregable @choumx

[2019-08-23 14:08] sdenaro opened #24163 "amp-ad: Misleading RTC timeout error message"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-08-23 14:18] riklund opened #24165 "Cleanup adsense-ad-size-optimization experiment"
I2I: https://github.com/ampproject/amphtml/issues/23568

[2019-08-23 14:21] riklund opened #24166 "Inconsistent height selection for responsive ads between 3p/a4a/auto-ads"
In some places it's accidentally set to 300, I believe it should be consistently 500 everywhere.

I'm planning to fix this behind an experiment.

@lannka FYI

[2019-08-23 14:22] riklund opened #24167 "Cleanup issue for fix-inconsistent-responsive-height-selection experiment"

[2019-08-23 14:37] newmuis commented on #24154
This is likely to be a large change that will need to be made very carefully.  There are a number of considerations we'll need to take into account both in the technical implementation as well as the user experience.

On the technical side, the complexity of the change may also be dependent on the implementation of the video player itself, to ensure that the story can properly manage the number of

[2019-08-23 14:38] iperzic commented on #22894
+1 for this feature
In the meantime, does it make sense to add this to the validator, or any other way to indicate that attribute selectors won't work?
It worked in Gmail AMP for Email Playground, and we didn't notice it until it got sent via Email.

[2019-08-23 14:41] riklund opened #24168 "<amp-auto-ads> should delegate responsive sizing to network specific <amp-ad> rather than duplicate it"
Currently the logic is duplicated across both amp-ad and amp-auto-ads, leading to issues between the two implementations going out of sync. For example the amp-auto-ads implementation doesn't currently set the correct request parameters for logging.

[2019-08-23 14:41] riklund opened #24169 "Cleanup issue for use-responsive-ads-for-responsive-sizing-in-auto-ads"

[2019-08-23 15:03] nixtka commented on #24154
Yes, understand that. But if you decide to move forward in this direction — we have our own amp-viqeo-player (https://amp.dev/documentation/components/amp-viqeo-player/?referrer=ampproject.org) tag, so we can try to make AMP-Stories version are compliant to tech or Hong Wei requirements. Add @kinoshnik2070 to this thread, he is a lead front end developer on our side.

[2019-08-23 15:06] cramforce commented on #24154
I think we'll have to use a very different strategy from AMP here. Iframe-based video players likely aren't appropriate for STAMP, because they wouldn't provide for the uniformity in UX that STAMP strives for.

Additionally, we should make it so, that AMP Caches can still decide to cache the video, even if custom player is chosen for serving on the origin.

[2019-08-23 15:20] nixtka commented on #24154
Yes, I was thinking about this. But in case of caching all videos in Google Servers I'm afraid Google can handle a lot of technical costs, which should be covered by ads or so. Hope there will not only Doubleclick monetisation in this way? Because I have a neighbour issue request to add Videonow Ad Server as an alternative to DFP (https://github.com/ampproject/amphtml/issues/24156) to those publis

[2019-08-23 15:48] Stefany93 opened #24171 "%id must have "sha384-%s" in meta[name="amp-script-src"] - amp-script error"
## What's the issue?

 `%id must have "sha384-%s" in meta[name="amp-script-src"]` Error in the console after `amp-script` was launched. Before that, it worked great.

![image](https://user-images.githubusercontent.com/2403939/63605281-3c0f2280-c593-11e9-8e26-8333932468f6.png)

## How do we reproduce the issue?
Code:

[code]

## Which AMP version is affected?

1908162134430

[2019-08-23 15:48] Stefany93 commented on #24171
Also, the validator went nuts and it showing me a `Custom JavaScript is not allowed` error.

[2019-08-23 16:25] lannka commented on #24151
FYI, prod checkpick is out

[2019-08-23 16:31] honeybadgerdontcare commented on #24171
@Stefany93 	unfortunately the custom script is not allowed yet. The [file](https://github.com/ampproject/amphtml/blob/master/extensions/amp-script/validator-amp-script.protoascii) states it is pending a security review. @kristoferbaxter as fyi.

[2019-08-23 16:50] lannka commented on #24151
FYI, cherry picking canary

[2019-08-23 16:54] jridgewell commented on #24171
/cc @choumx

[2019-08-23 16:58] wassgha commented on #24151
Added postmortem!

[2019-08-23 17:10] choumx commented on #24171
I'll work on updating the documentation to include the required `meta` tag and improve the error message (fix string templating and include a link).

[2019-08-23 17:45] clawr commented on #18482
yes, appears obsolete

[2019-08-23 17:45] #18482 closed

[2019-08-23 17:45] westonruter commented on #20974
Will the AMP Validator extension be updated to handle this special case? Currently I see:

![image](https://user-images.githubusercontent.com/134745/63612066-2fd69580-c592-11e9-8b20-fff5621214c2.png)

It would be useful if the icon would show a warning symbol similar to when a deprecation issue is present, or else a separate debug icon? This would be very helpful when the only validator error is j

[2019-08-23 17:51] Gregable commented on #20974
@westonruter I think the default behavior should be that this is treated as an error.

Should the extension have special casing for this? I can see the argument for it, but I also don't know that it should hide the issue. The one risk is that a publisher forgets to "fix" this issue in production, after using it to debug in test and the extension fails to alert them to that.

The "separate debug ic

[2019-08-23 17:51] diantekyrie opened #24175 "AliExpress: Toggle slider displays white square"
## What's the issue?
Toggle slider displays white square

Briefly describe the bug.
White square is displayed on toggle button.

## How do we reproduce the issue?
1. Opt into Canary/RC
2. Open JavaScript Console
3. Go to [link](https://m.aliexpress.com/wholesale/door%20lock.html?channel=direct&gclid=null)

## What browsers are affected?
macOSX Chrome Version: 76.0.3809.100

## Which AMP version is

[2019-08-23 17:58] westonruter opened #24176 "Update Validator Chrome extension to show debug icon instead of error when in dev mode"
In #20974 a new `data-ampdevmode` attribute was added which tells the validator to suppress reporting validation errors for elements it appears on, except for the root `html` element:

![image](https://user-images.githubusercontent.com/134745/63612066-2fd69580-c592-11e9-8b20-fff5621214c2.png)

In such case, however, when there is only one validation error and it is due to being in debug mode, it w

[2019-08-23 17:58] westonruter commented on #20974
Done! See #24176.

[2019-08-23 18:01] fstanis commented on #22894
We don't have any CSS checks in the validator for now since:

-   The current behavior is that Gmail strips CSS it considers invalid. If this was a validator error, the whole email would be invalid and non-AMP version would be displayed instead, which may break existing emails, so we want to be careful about that.

-   The validator doesn't have good support for CSS validation at this level (selec

[2019-08-23 18:11] Stefany93 commented on #24171
Thank you for the fast response.

[2019-08-23 18:25] sparhami commented on #24175
One weird thing about this is that the white square is not present on the initial page load, but seems to occur sometime after (perhaps when the list content loads). This is suspicious since there shouldn't be a way for that change to happen without a user action.

One possibility is that the toggle is actually after the list in the DOM, and relies on the list loading state for some CSS. Some more

[2019-08-23 18:37] lannka opened #24177 "Analytics visibility trigger broke for inabox in IE11"
This is a regression started in release of [0730](https://github.com/ampproject/amphtml/releases/tag/1907301630320) . One suspect is #23413

[2019-08-23 18:51] sparhami opened #24178 "Pause video based iframes"
Context: https://github.com/ampproject/amphtml/issues/24110

We currently pause video playback in `amp-video-iframe`'s `pauseCallback`. We should consider pausing the iframe entirely in such cases. Another thing to consider is pausing video player iframes if they exit the viewport and are not currently playing a video.

[2019-08-23 19:31] choumx commented on #24051
This issue should be mostly resolved now. The following globals were renamed:
[code]

`AMP_CONFIG` is a non-issue since the first line of `v0.js` sets it unconditionally.

The new lint rule only checks files in `src/` for now. In a local test, it reports the following errors in `extensions/`:

[code]

Note the linter is imperfect and may be missing some globals and have false positives.

[2019-08-23 19:35] #22534 closed

[2019-08-23 19:46] choumx commented on #22371
Fixed by #23245.

[2019-08-23 19:46] #22371 closed

[2019-08-23 21:05] jpettitt commented on #24067
I'm doing some research on usage to see if anybody is using `subscriptions-display` with no value.  If I find there is no usage I'll make the breaking change.

Until then `subscriptions-display="true"` will work and the `<button>` will inherit the display of it's dom parent as expected.

[code]

[2019-08-23 21:14] powerivq commented on #24145
Seconding that. With the number of methods to execute builds and tests, it is hard to keep track all of them.

[2019-08-23 21:21] powerivq opened #24185 "Test script crashing caused travis to report success"
I've had a bad change to test/visual-diff/visual-test that makes the whole json invalid, and Travis still succeeded without actually running the test.

[2019-08-23 21:22] AndrewKGuan commented on #23530
Hi everyone,
are we able to conclude whether this FR is something worth implementing?  Thanks!

[2019-08-23 21:23] lannka commented on #24151
FYI, canary/RC cherrypick it out, closing this

[2019-08-23 21:23] #24151 closed

[2019-08-23 21:35] twifkak commented on #13659
@xavierleune There's been some internal design/research, but it's still pending some work to figure out how to do it without causing some other problems. Unfortunately nothing to announce yet.

[2019-08-23 21:44] rsimha commented on #24145
Why not remove the flags altogether and always build inabox and shadow runtime? If it doesn't affect the rest of the build, I'd be happy to approve a PR that removes both flags.

[2019-08-23 21:48] lannka commented on #24145
I can do the PR if you don't see a reason to not do it.

[2019-08-23 22:21] lannka opened #24188 "I2I: Lazy load non-render blocking services"
- [ ]   18K installUrlReplacementsServiceForDoc(ampdoc);
- [ ]   10K installActionServiceForDoc(ampdoc);
- [ ]   8K installHistoryServiceForDoc(ampdoc);
- [ ]   6K built-ins (amp-img, amp-pixel, amp-layout)
- [ ]   5K installGlobalNavigationHandlerForDoc(ampdoc);
- [ ]   4K installStandardActionsForDoc(ampdoc);
- [ ]   4K install[Batched]XhrService(global);
- [ ]   2K installGlobalSubmitListenerFo

[2019-08-23 22:21] lannka commented on #22867
Spin off service lazy load to a separate issue for tracking (#24188). Also we might scope it up to cover regular AMP runtime as well.

[2019-08-23 22:29] jpettitt commented on #24188
I think `installUrlReplacementsServiceForDoc` is in the critical path for `amp-subscriptions` and `amp-access` entitlements checks.  Lazy load will delay the check which may lead to screen jank depending on where the publishers has put the cut between free and paid sections (IE is it in viewport).   I'm not sure is this is going to be an issue in the real world.

[2019-08-23 22:48] sparhami commented on #24001
Sounds good.

Just to update the thread, potential concern we discussed offline was about whether or not the fallback route (using a video) would work in a reasonable way for things like battery saver or data saver mode. While iOS will not autoplay muted videos in battery saver mode, it seems like Android will play them. It isn't clear that this will be true going forward, but it seems like fallin

[2019-08-23 23:01] lannka commented on #23367
@ampproject/wg-ui-and-a11y any guideline how `fallback` should be used? I feel we should disallow dynamic content in `fallback`

[2019-08-23 23:19] sparhami commented on #23367
I'm not sure how (if?) we validate fallback contents, but I do share the concerns with having dynamic content in fallbacks in general. This could lead to a long delay for the user before they see some content depending on how long it takes things to fail.

I'm not sure if we have any official guidance on the matter though.

[2019-08-24 01:16] wassgha commented on #23634
Closed by #24172

[2019-08-24 01:16] #23634 closed

[2019-08-24 01:33] newmuis commented on #24001
@sparhami I believe that at least some versions of Android Chrome also do not autoplay videos without user interaction in data saver mode; I can try to dig up more details if desired.

[2019-08-24 02:01] #24145 closed

[2019-08-24 02:06] lannka opened #24195 "amp-base-carousel e2e test is flaky"
[code]

[2019-08-24 03:00] #23927 closed

[2019-08-24 06:23] wassgha commented on #24175
Same as @sparhami , could not reproduce on Chrome for OS X, could you please confirm that this is still broken on the latest canary/rc?

[2019-08-24 07:54] Aivaras100 opened #24197 "amp-lightbox close on ios chrome redirected back to google"
When close amp-lightbox or amp-sidebar redirected back to Google search results.
Problem detected only on IOS Chrome browser.

When will it be resolved?

[2019-08-24 08:07] Aivaras100 commented on #10546
When will it be resolved?

[2019-08-24 17:01] fstanis commented on #24171
FYI: Tracking issue for documenting this is ampproject/amp.dev#2807

[2019-08-25 17:46] wassgha commented on #24197
Hello, do you have a demo page we can test this on?

[2019-08-25 20:45] vishaldodiya commented on #16079
Hey @aghassemi,

I would like to work on this issue, but need help to understand the code.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/0.1/amp-sidebar.js#L556

is there reason to prevent touchmove event from executing? Because adding passive to the event listener will execute touchmove event disregarding event preventDefault and throwing an error in console.

[2019-08-26 07:19] iperzic commented on #22894
Warning in the playground would be great.
What's even more confusing is that email actually contains attribute selectors, in my case [amp-selector css](https://github.com/ampproject/amphtml/blob/master/extensions/amp-selector/0.1/amp-selector.css) but I guess it's a special case

[2019-08-26 07:46] xavierleune commented on #13659
@twifkak thanks for your feedback. Do you have any details to share about the root causes ? As far as I can see, only a small number of publishers are suffering this issue. Maybe there is some workaround to prevent it from our side ?

[2019-08-26 08:00] gagan1910 commented on #24101
Any suggestions?

[2019-08-26 10:27] tharders commented on #24034
There is another problem, which seems strongly related to this one.
When we have a `load-more-failed` element and an error on load more, the error message is shown as expected. But if we change some amp state that triggers a reload of the amp-list, the load more error message is still shown.

This problem can be seen on the [amp.dev staging server when opening the search](https://amp-dev-staging.a

[2019-08-26 11:00] adjieguntoro-tokped commented on #24171
I'm facing the same issue, for now, I just copy-paste the sha384 from console to `<meta name="amp-script-src" />` whenever I change my script.

will follow this conversation and waiting for the update. 😄

[2019-08-26 11:06] aabasrusokv opened #24203 "Add support for Gnezdo.ru to amp-ad"
Hello! We are an advertising system Gnezdo.ru in Russia. Please, add our advertising network to support amp-ad. Example of our embed code:
<script src="https://news.gnezdo.ru/loader.js"></script>
<div id="some_container_id"></div>
<script>
(function(w, d, c, s, t) {
w[c] = w[c] || [];
w[c].push(function() {
gnezdo.create({
tizerId: some_tizerId,
containerId: 'some_container_id',
});
});
})(window,

[2019-08-26 11:51] maciejmackowiak commented on #21736
@sparhami
So is it possible or not to to use a lightbox gallery having only two image sizes?
Because solution with srcset will never be reliable for all devices.

Like in this example:
`<a href='full.jpg'><img src='thumb.jpg'></a>`
Let assume that I cannot generate more thumbnails images but I still would love to use lightbox gallery.

Is it possible to implement this solution(or something similar

[2019-08-26 14:22] umuur commented on #23919
Hi @calebcordry, I've update the test url for reproducing this issue. Could you please check it?

[2019-08-26 16:27] Pateriack opened #24205 "amp-story-bookend - Specify target for links in bookend"
## Describe the new feature or change to an existing feature you'd like to see

I would like to be able to specify the target for the anchor tags in the amp-story-bookend, in order to navigate within an iframe (viewer) using a target set to "_self".

## Describe alternatives you've considered

I cannot think of any alternatives to achieve this.

## Additional context

I am building my own viewer t

[2019-08-26 20:51] rsimha commented on #23307
Un-assigning @erwinmombay who no longer works on this. Tracking the bundle size of other binaries is definitely possible, although it will need non-trivial changes on the `amp-github-apps` side.

/cc @ampproject/wg-infra

[2019-08-26 21:38] cramforce commented on #24109
I'd like to only have one taskqueue for AMP. Would probably be good to have
a "white board" session in person.

On Mon, Aug 26, 2019 at 1:26 PM William Chou <notifications@github.com>
wrote:

[2019-08-26 22:00] jpettitt opened #24218 "Persistent amp-subscriptions dialog footers block page footer."
When `amp-subscriptions` shows a persistent footer it covers the equivalent number of pixels on the page.

Example
![image](https://user-images.githubusercontent.com/524856/63726342-d7153000-c811-11e9-802f-73cfd545fa2a.png)

Footer should look like this
![image](https://user-images.githubusercontent.com/524856/63726381-f318d180-c811-11e9-8a1f-1fccf0c24d01.png)

We should add sufficient padding to

[2019-08-26 22:04] lannka opened #24219 "Inabox host script is failing on IE11 and old Android"
The root cause is that we have no polyfill for `Array.includes` installed for inabox host script. It's by design to not have polyfills due to the fact that host script is installed on a regular web page by ads tag where polyfill can potentially cause conflicts with other scripts on the page.

host script started with simple and isolated code, but now it imports code from `src/`. This regression wa

[2019-08-26 22:58] wassgha opened #24221 "amp-ima-video: Better styling for controls"

[2019-08-27 03:55] rsimha opened #24226 "Make `build-system/app.js` compatible with `gulp --lazy_build`"
`gulp --lazy_build` was recently introduced to speed up the local development experience. See #24141 for more details.

In this mode, the path modifications in `build-system/app.js` can break the lazy-building / serving of some unminified JS files. For example, requests for these files fail because the modifications to the requst urls done by `app.js` are invisible to the lazy builder.

[code]

Th

[2019-08-27 04:07] rsimha commented on #24226
/cc @lannka @zhouyx @cramforce

[2019-08-27 04:28] Ladi-Harish commented on #9371
I think you will get some solution to using this website [AMP Validator](https://www.ampvalidator.com/).

 By using this website you can test multiple numbers of URLs in a short time. And this site is secure, accurate, fast and easy to use. The most interesting thing is you will get the proper beautified email report.

[2019-08-27 09:05] tharders commented on #24034
@cathyxz This is no blocker for us. We hide the load more button with css and the error should not appear too often anyway.
Since I also do not have too much time I think it would be more effective if you fix this later.
Thanks a lot.

[2019-08-27 14:18] Stefany93 opened #24228 "amp-social-share documentation is lacking"
## What's the issue?

`<amp-social-share type="system" ` doesn't work on HTTP sites, yet this is not [documented and can cause confusion](https://stackoverflow.com/questions/57605848/solved-amp-social-share-type-system-doesnt-seem-to-work-on-chrome-android/57628117?noredirect=1)

## How do we reproduce the issue?

No SSL requirements written in the docs  https://amp.dev/documentation/components/am

[2019-08-27 14:57] matthiasrohmer opened #24229 "amp-story-consent doesn't react to user interaction"
## What's the issue?

The layer shown by `amp-consent-layer` is still shown after user interaction.

## How do we reproduce the issue?

*Test case on bmw.com*:
1. Visit https://www.bmw.com/en/stories/automotive-life/grand-tour-of-switzerland.amp.html
2. Click "Accept" or "Reject"
3. Consent layer doesn't close, story is unplayable

*Test case on amp.dev*:
1. Visit https://preview.amp.dev/documenta

[2019-08-27 15:06] matthiasrohmer commented on #24229
Maybe worth noting: the user decision somehow still get's saved as after a reload the story plays as expected without showing the layer again.

[2019-08-27 15:54] Binipro commented on #21783
Hi @andrewwatterson,

sorry for my late reply as we were out of office.

Your understanding about the issue is correct.

I discussed with our Advertisement team and we agreed that the second proposal satisfies our concern.
To Answer your question “**Is it just the "learn more" link that's clickable, or is it the whole video ad area?**”
  **_It depends on the ads publisher, the whole video ad area

[2019-08-27 16:25] cramforce opened #24232 "Make no-JS case valid"
Let's consider making the following case valid AMP

- Document contains no runtime or extensions script elements or other script elements of type javascript.
- Document does not contain CSS boilerplate.

[2019-08-27 17:34] cramforce opened #24233 "Discussion: Allow lazy-loading img element"
Chromium recently shipped the `loading=lazy`attribute for `img` and other browsers seem to be on track to gain support as well.

With that, I'm wondering if we are ready to make image elements of the form

[code]

valid?

CC @Gregable @dvoytenko

[2019-08-27 17:40] petekip commented on #23661
Hi @newmuis I hope you are well, we should close this issue, can you help revert so I can make necessary ammends

[2019-08-27 17:42] dvoytenko opened #24234 "Use different conformance config for amp-inabox-host.js binary"
This is a good pattern to try out. If works - we could also try it on other auxiliary binaries. The current [conformance-config.textproto](https://github.com/ampproject/amphtml/blob/master/build-system/conformance-config.textproto) is constructed for AMP binary (v0 and extensions). But it doesn't cover all situations for non-AMP binaries such as `amp-inabox-host.js`, `login-done.js`, etc. One of t

[2019-08-27 20:16] choumx opened #24236 "Examples for amp-user-location"
https://github.com/ampproject/amphtml/blame/c68ef8fdcd222ade24b458a3b91c132e13474eda/extensions/amp-user-location/amp-user-location.md#L44-L48

/to @wassgha /cc @jeffjose

[2019-08-27 20:35] wassgha opened #24237 "Migrate parallax on amp-story"
Context: https://github.com/newmuis/amphtml-story/pull/93/files
New API: opt-in `<amp-story-page fx="parallax">`
cc/ @newmuis

[2019-08-27 22:34] wassgha opened #24240 "Clean up Origin Trial experiment for Dynamic Autoplay Delegation"
Clean up on `amp.dev` (tracked through ...) and the `amp-validator` (added through a transform, tracked at `b/140131890` )

Related to #21247

[2019-08-28 01:20] newmuis opened #24245 "Error: null is not an object (evaluating 'a.M.promise')"
[code]

go/ampe/CLbMwZ_dlL396gE

[2019-08-28 01:22] newmuis opened #24246 "Error: Cannot read property 'promise' of null"
[code]

go/ampe/CJCcoczlpdyaQQ

[2019-08-28 01:23] newmuis opened #24247 "Error: No config could be discovered in the page"
[code]

go/ampe/CIev74KVpcHgqwE

[2019-08-28 01:24] newmuis opened #24248 "Error: a.isSingleDoc is not a function. (In 'a.isSingleDoc()', 'a.isSingleDoc' is undefined)"
[code]

go/ampe/CIPukoXb1rmukQE

[2019-08-28 01:25] newmuis opened #24249 "Error: a.getImpl(...).getLayoutWidth is not a function"
[code]

go/ampe/CKvIu6H4z6flrAE

[2019-08-28 01:26] newmuis opened #24250 "Error: Cannot read property 'create' of undefined"
[code]

go/ampe/CI_G7dLgyt6wgQE

[2019-08-28 01:28] austintude commented on #23494
Perhaps I'm misunderstanding something here, but I am not taking about
scrolling down a page. Rather, I am wanting to control the speed at which
images swap out in the likes of an amp-carousel. While I can control the
duration that each image stays on the screen before being replaced, I have
no easy way to define the speed at which they swap from one to the other.
In my opinion, the current defaul

[2019-08-28 01:28] newmuis opened #24251 "Error: preconnect without defaultView"
[code]

go/ampe/CPuO552Xre3OBw

[2019-08-28 01:29] newmuis opened #24252 "Error: Doc factory failed: amp-video-docking: Cannot read property 'getAttribute' of undefined"
[code]

go/ampe/CM2H9OvX1deHPQ

[2019-08-28 01:30] newmuis opened #24253 "Error: Can't find variable: createLoaderLogo$$module$extensions$amp_facebook$0_1$facebook_loader"
[code]

go/ampe/CLz3ibW79_f-Dw

[2019-08-28 01:52] newmuis opened #24254 "🚄Release tracking issue for canary release 1909051756330 (1%)"
# Release tracking issue

- [x] Release [1908271552560](https://github.com/ampproject/amphtml/releases/tag/1908271552560) is cut as a new canary release
- [x] Release [1908271552560](https://github.com/ampproject/amphtml/releases/tag/1908271552560) pushed to dev channel (4:05 PM, Aug 28, 2019 UTC-4)
- [x] Release [1908302047320](https://github.com/ampproject/amphtml/releases/tag/1908302047320) is

[2019-08-28 02:20] maranag opened #24255 "amp-date-picker better integration with amp-geo"
Use case:

Global site wants to display appropriate date format for region user is accessing from.  Initial implementation thought is to use amp-geo with amp-bind and bind the format attribute in amp-date-picker.

A few issues:
- The format attribute cannot be bound (only min, max, according to documentation)
- There are issues around input boxes (default values) also displaying the correct date f

[2019-08-28 02:31] kristoferbaxter commented on #24253
@sparhami – This appears to be related to the facebook loader.

[2019-08-28 04:44] nauvyram opened #24256 "AMP FX-collection Float-in-bottom is not working on google's server"
I have used amp-fx-collection's Float-in-bottom on my site (https://auto.ndtv.com/mg-cars/hector/amp) for bottom sticky Header(. cnb-header). It is working fine on our direct URL above but in google's server(https://www.google.com/amp/s/auto.ndtv.com/mg-cars/hector/amp) that function is not getting triggered and not even trigger any errors. Kindly help me!

[2019-08-28 09:04] VMBindraban opened #24259 "Load higher resolution image on amp-pan-zoom"
## Describe the new feature or change to an existing feature you'd like to see

Currently the `amp-pan-zoom` scales the given child.
If a normal image is used it becomes pixelated.

Is it an idea to add an optional attribute to `amp-pan-zoom` so it loads a higher resolution image instead?

[2019-08-28 10:30] bcrazydreamer opened #24260 "Support api for amp website"
## Describe the new feature or change to an existing feature you'd like to see
The one feature which is used by lots of websites should be added, i. e. support api integration like chat popup on for need help kind of features or so on. example **intercom** api provided by https://www.intercom.com or many similar api

[2019-08-28 10:46] bcrazydreamer opened #24262 "Validator: inline css custom variable"
**There is a  bug during inline style**

[code]

[code]

**I feel this kind of code is not invalid as per css and html rules**

[2019-08-28 11:00] fstanis opened #24263 "Allow AMP pages to require an opaque origin from the runtime"
## Describe the new feature or change to an existing feature you'd like to see

Build a mechanism to specify that the page may only be rendered from an [opaque origin](https://html.spec.whatwg.org/multipage/origin.html#origin) (also known as null origin).

If the page has a `requires-opaque-origin` in the `<html>` tag, then the AMP runtime checks that the page is on an opaque origin when it loads

[2019-08-28 11:00] fstanis commented on #24263
CC @zhangsu

[2019-08-28 14:46] fstanis opened #24265 "<amp-script> must not be empty"
## What's the issue?

If `<amp-script>` is empty (doesn't contain any initial content), then no attempt is made to load it and no error is throws.

## How do we reproduce the issue?

[code]

This should either:

*   Make an attempt to fetch `/anything.js`
*   Result in runtime error
*   Result in validator error

## Which AMP version is affected?

1908222134250

[2019-08-28 15:06] Aivaras100 commented on #24197
https://www.google.com/search?q=klipshop+co+uk&rlz=1CDGOYI_enLT743LT743&oq=klipshop+co+uk&aqs=chrome..69i57.7086j0j9&hl=en-GB&sourceid=chrome-mobile&ie=UTF-8

klipshop co uk
open page then open menu and close.
Width OS Chrome

[2019-08-28 15:13] choumx opened #24266 "createError() lacks extraction and %s substitution"
Error messages in `Log.createError` and `Log.createExpectedError` follow a separate code path that doesn't go through `expandMessageArgs_()`.

String substitutions also don't work since arguments aren't plumbed through `console.log`. Looking through existing usage, there are several instances of `%s` in `createError()`.

/to @erwinmombay /cc @alanorozco @ampproject/wg-performance

[2019-08-28 16:28] nakigoe commented on #23185
The same is with text shadows. They are truncated.

maybe allow h1 inside `<apm-fit-text>`h1`</amp-fit-text>` to have padding?

For some reason h1 inside amp-fit-text disappears completely, so the current structure is
`<h1><amp-fit-text>` Title `</amp-fit-text></h1>`

at least allow some text overflow in options

![nakigoe](https://nakigoe.github.io/_IMG/icon.png)
<h1><a href="https://nakigoe.gith

[2019-08-28 16:38] lannka opened #24268 "Documentation for amp-ad-custom integration"
To document how ad network can do AMP template ads using the amp-ad-custom extension.

[2019-08-28 17:44] #24250 closed, assigned to dreamofabear

[2019-08-28 17:45] #24251 closed, assigned to dreamofabear

[2019-08-28 18:20] Aivaras100 commented on #24197
1. Open this url width Iphone Chrome browser: https://www.google.com/search?q=klipshop+co+uk&rlz=1CDGOYI_enLT743LT743&oq=klipshop+co+uk&aqs=chrome..69i57.7086j0j9&hl=en-GB&sourceid=chrome-mobile&ie=UTF-8
and click on klipshop.co.uk page  in search results (e.g.: https://prnt.sc/oysdlq )
2. In the opening klipshop.co.uk amp page open menu (e.g.: https://prnt.sc/oyseyl)
3. Then click on close menu b

[2019-08-28 21:23] dvoytenko commented on #24233
That's true. As long as they are both specified and both are valid numbers.

[2019-08-28 21:25] cramforce commented on #24233
Yeah, we still have the validator. That is why we don't need the browser policy.

[2019-08-28 21:25] cramforce commented on #24233
Although I could also see to require application of the policy in meta tag and then *not* requiring width and height.

[2019-08-28 21:31] cathyxz commented on #24034
Btw, the original problem of the see-more button being present can be mitigated if you add a placeholder element. This placeholder element should cover the show-more button while data is loading.

[2019-08-28 21:46] choumx opened #24276 "amp-bind: Submit form via binding"
Support new binding on forms e.g. `[submit]` or `[state]` that allows form submission via premutate API.

/cc @zhangsu

[2019-08-28 22:08] #16640 closed

[2019-08-28 22:25] dvoytenko commented on #24233
@cramforce I think we can definitely start with `width` and `height` as you suggested above. Supporting unsized media policy would go much deeper with more validator changes.

[2019-08-28 22:28] calebcordry opened #24281 "Story Ads: dependency on amp-ad-exit is broken"
As of #24044 `amp-story-auto-ads` is dependent on `amp-ad-exit` to verify the `amp-ad-exit` config.

In canary the error thrown is `FilterType$$module$extensions$amp_ad_exit$0_1$filters$filter is not defined` and it will not correctly read the amp ad exit.

[2019-08-28 22:39] wassgha commented on #24197
Chrome on iOS shows
[code]

[2019-08-28 22:46] honeybadgerdontcare commented on #23367
@lannka It'd depend on how it's implemented. Is this something only the `amp-ad` component would use for a fallback or would other components that may want a fallback also find this useful?

[2019-08-28 22:51] cathyxz commented on #24259
We have a large refactor backlog on amp-pan-zoom. We were originally planning to fix it to work with the internal amp-image-viewer component, but haven't really prioritised this due to the extremely low usage of `<amp-pan-zoom>` as a component.

Generally people who need zoom operations for images have just used `<amp-lightbox-gallery>`. Most of the usages of `<amp-pan-zoom>` we've seen so far are

[2019-08-28 22:53] calebcordry opened #24283 "Closure complier not failing when expected"
I introduced some code in #24044 which included a new dependency where `amp-story-auto-ads` is dependent on the [`assertConfig`](https://github.com/ampproject/amphtml/blob/098b2be2852515f4a3ecf5100f0e72d8cff515df/extensions/amp-ad-exit/0.1/config.js#L117) function from `amp-ad-exit`.

I added the explicit path `extensions/amp-ad-exit/0.1/config.js` to the [`CLOSURE_SRC_GLOBS`](https://github.com/a

[2019-08-28 22:54] calebcordry commented on #24283
cc/ @lannka

[2019-08-28 23:12] dvoytenko commented on #24197
@wassgha Let's forward this to Google Search team.

[2019-08-28 23:58] jridgewell commented on #24283
It's because these are reported as warnings:

[code]

[2019-08-29 00:31] rsimha commented on #24283
Sheesh. We're forced to silence the warnings for imports in typedefs because of https://github.com/google/closure-compiler/issues/3041. I'd have imagined bad imports would result in an error and not a warning.

[2019-08-29 00:48] rsimha opened #24286 "Sauce Labs tests are routinely being terminated by Travis"
I know we've recently started running more tests, which could be causing them to take longer than 10 minutes. I'd have imagined the dot reporter should keep the session alive, but I wonder if something else is at play.

**Recent failures:**
https://travis-ci.org/ampproject/amphtml/jobs/578108528
https://travis-ci.org/ampproject/amphtml/jobs/578084269
https://travis-ci.org/ampproject/amphtml/jobs/5

[2019-08-29 00:48] rsimha commented on #24286
/cc @ampproject/wg-infra

[2019-08-29 04:16] zhouyx commented on #23367
I agree with @sparhami that we should come up with an official guideline on the usage of fallback element before we start to validate them. I know a lot of users are already relying on the fact that an ad can fallback to another ad when there's a no fill.

[2019-08-29 06:28] #24256 closed

[2019-08-29 07:51] Aivaras100 commented on #24197
Analogical problem width amp-lightbox component :(

[2019-08-29 08:20] xavierleune commented on #13659
@twifkak Ok, thanks. Do you have any advice regarding this cache-control: `max-age=0, no-cache` ? Can the `no-cache` be an issue here ?
And I'm following another lead to, can a redirection be an issue ? i.e: if an article was cached on `/great-article.amphtml` and now redirects to `/best-article.amphtml` (both being valid amp pages). I feel like there is also something here. Am I wrong ?

[2019-08-29 08:38] VMBindraban commented on #24259
I am currently using list of resolutions for `amp-img` with `srcset` (between 1440w and 480w) but it doesn't seem to use the higher resolution when using `amp-pan-zoom`.

For now it's scaling 2 times which makes it less.. horrible.

My client is using 1 site for mobile, desktop and AMP. (which has his own challenges to begin with)
Within `amp-carousel` and by using `amp-pan-zoom` when you click on

[2019-08-29 09:34] Nerone95 commented on #23170
It's the same for amp-sidebar?

[2019-08-29 10:45] dritter opened #24288 "[amp-date-display] not discovered when inside script template"
Hi,

The validator does not recognize `amp-date-display` if this is used inside a `<script type="text/plain" template="amp-mustache">` tag. This does not happen on other components (like amp-carousel; see example).

![image](https://user-images.githubusercontent.com/1544760/63933988-9a884500-ca5a-11e9-8182-b18abbad3129.png)

Example:
[code]

This was first reported in #23731

Edit:
The obvious wor

[2019-08-29 10:58] dritter opened #24289 "[amp-date-display] fails to render inside script template"
Hi,

if an `amp-date-display` should be rendered inside an `amp-list` we have to use the alternative template syntax (`<script type="text/plain" template="amp-mustache">`), but rendering the component fails silently.
The simple workaround is to use a template reference in the `amp-date-display` component.

Demo (playground.amp.dev):
[code]
This was first reported in #23731

[2019-08-29 16:15] andyblackwell opened #24293 "AMP version has no release tag"
## What's the issue?

When trying to track down a reason for a [different bug](https://github.com/ampproject/amphtml/pull/23554#issuecomment-526213624), I wanted to see the release notes for the version of AMP I was on, only to find no release tag exists for it.

version: 1908231648370
404s: https://github.com/ampproject/amphtml/releases/tag/1908231648370

Guessing it was probably deleted? But if

[2019-08-29 17:06] estherkim opened #24294 "Release badge should display the production release version"
The releases badge on amphtml's README displays the version at the very top of https://github.com/ampproject/amphtml/releases, which can be the canary release.

We should make sure that the release version displayed is always the production release.

[2019-08-29 17:11] rcebulko opened #24295 "Add tests or presubmit check to validate all modified OWNERS files"
## Describe the new feature or change to an existing feature you'd like to see

Validate OWNERS files format when modified

## Additional context

Right now, there are OWNERS files which make use of features that were never implemented in the OWNERS bot/check (dictionary mapping of filetypes to owners, GitHub team owners). YAML itself can also be unpredictable in its parsing, and it's easy to make

[2019-08-29 17:22] jridgewell commented on #24253
Both `amp-facebook-comments-0.1.js` and `amp-facebook-page-0.1.js` contain this error.

[2019-08-29 17:38] cathyxz commented on #24259
I see. Just to clarify, the `srcset` approach is not how it currently works (it's a missing feature request), it's how I would propose implementing it, and is how `amp-lightbox-gallery` currently works.

Due to low usage, I don't think we're going to get to this anytime soon, but you are more than welcome to contribute a fix if interested.

[2019-08-29 17:43] cathyxz commented on #24288
@ampproject/wg-caching do any of you folks by chance know if there is some validator attribute we need to add to either `amp-mustache` or `amp-date-display` to make the validator recognize that `amp-date-display` is indeed used in the page in this case? It seems to work correctly for `amp-carousel`, so maybe we're just missing something in `amp-date-display`.

[2019-08-29 17:52] honeybadgerdontcare commented on #24288
This is due to the fact that some components/extensions are grandfathered into not requiring usage. So `amp-carousel` as a `script` tag does not require that it be used in the document, while newer components/extensions like `amp-date-display` do.

Note that you're using `<script type="text/plain" template="amp-mustache">` and then within that tag a `<template>` tag. Is that intentional? According

[2019-08-29 17:54] jridgewell opened #24297 "amp-date-picker contains unknown dependency"
[code]

This is hidden from our logs, because it's immediately wrapped in a try-catch:

[code]

In effect, we don't support rrule at all, only Moment strings.

[2019-08-29 18:06] Gregable commented on #24288
This could even be in a manner that the validator wouldn't be able to detect, perhaps something like:

[code]

We could imagine that `<amp-list>` would be allowed to satisfy usage of all extension scripts. It's an easy way for publishers to "work around" the validator, but maybe it makes sense in this case?

Alternatively, could `amp-list` inject the required script tags if missing?

[2019-08-29 18:07] cathyxz commented on #24288
@honeybadgerdontcare you're right. The correct usage here would be to reference a `<template>` tag that's outside of the script tag. We don't allow template nesting. There was previously a bug where the template attribute wasn't allowed on `amp-date-display`, which was fixed in #23731.

Is it the case that usage within `<template>` tags don't count as usage? I can potentially see a valid use case

[2019-08-29 18:14] cathyxz commented on #24288
It would add a lot of overhead for `amp-list` to parse and figure out which components need to be injected, and it's not possible for `amp-list` to know which versions of the components should be injected.

[2019-08-29 18:16] cathyxz commented on #24293
/cc @calebcordry who is on duty this week

[2019-08-29 18:18] sparhami commented on #24262
What is the bug you are encountering? Is this failing to validate with the AMP validator?

[2019-08-29 18:20] calebcordry commented on #24293
Sorry I'm not on duty. Maybe @newmuis (on duty this week) or @lannka (last week)

[2019-08-29 18:20] andyblackwell commented on #24293
just asked in slack and @jridgewell responded there. Sounds like tagging the release is manual and it was just accidentally skipped

[2019-08-29 18:23] honeybadgerdontcare commented on #24288
The `template`  does account for usage. Putting the following in https://validator.ampproject.org is valid (removing the `script` tag and putting `template` around `amp-date-display`):

[code]

[2019-08-29 18:24] Gregable commented on #24288
Yes. The contents of a `<script>` tag is just a text string until javascript runs. At least `<template>` is a DOM, just an inert one. The validator runs on the static dom and has no accurate way of knowing what the rendered result will be.

We could parse this specific string like we do for `<template>`, but then we're back to the problem that `<script>` was to solve, https://github.com/ampproject

[2019-08-29 18:25] jridgewell commented on #24262
/to @Gregable

[2019-08-29 18:27] honeybadgerdontcare commented on #24262
Inline styles has a whitelisted set of [css properties](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L6275). Using `style="--clr: #f00"` does cause a validation issue due to this (`The property '--clr' in attribute 'style' in tag 'div' is disallowed`).

We may want to consider adding additional properties.

[2019-08-29 18:51] andyblackwell commented on #24293
they just tagged the release, so closing ticket

[2019-08-29 18:51] #24293 closed

[2019-08-29 19:52] #24281 closed

[2019-08-29 20:48] dritter commented on #24288
@honeybadgerdontcare

By https://github.com/ampproject/amphtml/issues/21758#issuecomment-480999844 nested templates are allowed using this syntax (documented [here](https://amp.dev/documentation/components/amp-mustache/?format=websites#tables)). Anyway, referencing the template by id does not matter for this issue here.

@Gregable

This is especially hard for us, as the google search console runs

[2019-08-29 21:07] gmajoulet opened #24298 "amp-twitter in amp-story cut tweet's height"
It looks like when embedding several `amp-twitter` components within an `amp-story`, the size of the first `amp-twitter` component is set to all the following ones, cutting their content.

To repro:

https://new-on-the-web.glitch.me/

Here, the first `amp-twitter` has a height of 440px, and all the following `amp-twitter` are cut at 440px.

![image](https://user-images.githubusercontent.com/149204

[2019-08-29 21:10] #24073 closed

[2019-08-29 21:12] dritter commented on #24073
Awesome. Thx @wassgha

[2019-08-29 21:35] Gregable commented on #24288
It's probably also worth adding @choumx to this thread.

[2019-08-29 22:03] #20175 closed

[2019-08-29 22:55] calebcordry opened #24300 "🌸 Cherry-pick request for #24281 into #24254 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24281 | #24278 | **NO** | **YES** | #24254 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-08-29 23:57] mattwomple opened #24302 "Include dist file listing with each release"
## Describe the new feature you'd like to see

It would be helpful if each released RTV included `files.txt` with relative paths to all files included in a distribution. This would help developers that self-host the AMP runtime, and periodically keep it up to date, without compiling it themselves. For example, if a complete listing of files in a distribution were available at `https://cdn.ampproje

[2019-08-29 23:59] lannka commented on #24300
Approved

[2019-08-30 09:17] p2er commented on #23785
We've just recently swapped the amp-iframe implementation with an amp-bind based approach that you can check out here: https://www.cu-camper.com/de/magazin/

**Demo:**
- open: https://www.cu-camper.com/de/magazin/
- click menu to open menu
- click search button to transition to search
- click close button to close the last opened navigation layer

Biggest issue  right now is that in menu scrolling

[2019-08-30 09:34] maciejmackowiak opened #24306 "[amp-anim] add support for [amp-lightbox-gallery]"
## Describe the new feature or change to an existing feature you'd like to see
I would love to use amp-lightbox-gallery when embedding gifs on page but as per AMP documentation:
![obraz](https://user-images.githubusercontent.com/24996403/64009914-121ca980-cb19-11e9-82ae-022fcb00d25a.png)
gif should be embeded with amp-anim but amp-lightbox-gallery doesn't support amp-anim.
https://amp.dev/document

[2019-08-30 11:30] maciejmackowiak commented on #22608
@sparhami
Hi,
Any updates about this one?
I've got the exactly same issue.

Thanks
Maciej

[2019-08-30 12:04] dritter opened #24308 "[amp-form] autoexpanding textareas does not work in Edge"
Hi there,

autoexpanding of textareas does not seem to work in MS Edge. This will probably be fixed, once Microsoft switches the basis to chromium, but anyway.

The fairly simple demo is:
[code]

If you type into that textarea in Edge, it will not expand:
![Textarea](https://user-images.githubusercontent.com/1544760/64019268-fb814d00-cb2e-11e9-9e28-42bcd39597f2.gif)

Used Edge:
![image](https://us

[2019-08-30 14:18] archon810 commented on #22608
Have a look at this report please https://github.com/android-police/androidpolice-public/issues/100.

[2019-08-30 14:19] archon810 commented on #21559
Any updates here? Pretty sure we're affected by this bug https://github.com/android-police/androidpolice-public/issues/100.

[2019-08-30 14:46] rcebulko commented on #24294
Context:

Badges are rendered via Shields.io. Some are "pre-rolled", provided by the services themselves, such as the Travis build status badge or the various GitHub badges (PRs, contributors, the release version); these are handy, but have almost no customization, as is the case with the release badge including pre-releases. Others use the custom Shields.io [endpoint API](https://shields.io/endpo

[2019-08-30 15:16] estherkim commented on #24294
Interesting options! You know, I can't imagine us being the only repo using shields.io that has this problem. Have you tried looking at shields.io's GitHub issues?

Another idea is to look at how they're getting the version number to see if they're including `isPrerelease` as a query param.

[2019-08-30 15:18] estherkim commented on #24294
Aaand oops, I just noticed that the release number on our README.md is actually correct, it's only when you click on it that it shows the prerelease version first, which is misleading. Is there a way to always point to the latest published release?

[2019-08-30 15:55] choumx opened #24309 "amp-script: Local scripts are invalid"
Local scripts via `amp-script[script]` attribute are currently invalid pending SxG security review. In the meantime, we recommend using remote scripts via `[src]`.

https://github.com/ampproject/amphtml/issues/24171#issuecomment-524379878

[2019-08-30 15:55] choumx commented on #24171
#24242 should make the documentation and error messages clearer. Splitting the local script validation issue out into #24309.

[2019-08-30 15:55] #24171 closed

[2019-08-30 15:57] choumx commented on #24260
This FR is a bit too vague to be actionable. Can you describe the characteristics of the desired APIs and use cases for them?

[2019-08-30 15:57] #24260 closed

[2019-08-30 16:03] choumx commented on #24112
Looks like this was fixed in #24108.

[2019-08-30 16:03] #24112 closed

[2019-08-30 16:12] danielrozenberg commented on #24294
https://github.com/ampproject/amphtml/releases/latest

[2019-08-30 16:16] rcebulko commented on #24294
Looks like we just need to change that one link in the readme! I'll throw a quick PR together

[2019-08-30 16:19] choumx commented on #24288
This may also be an issue in the future for `amp-script` where arbitrary AMP elements may be created at runtime via 3P JS.

How about adding a way for such elements to signal which extensions they require dynamically?

[code]

[2019-08-30 16:23] choumx commented on #24101
This FR is a bit too vague to be actionable. Do you mean the Ecwid embed as suggested here? https://support.ecwid.com/hc/en-us/articles/115004678945-Your-Ecwid-store-on-any-website

Embeds that include 3P JS must be iframed in AMP pages, so give [amp-iframe](https://amp.dev/documentation/components/amp-iframe/) a try.

[2019-08-30 16:23] #24101 closed

[2019-08-30 16:27] choumx commented on #24139
@KarlBigL Can you share a URL with this issue?

[2019-08-30 16:27] #24139 closed

[2019-08-30 16:30] choumx commented on #24159
Closing as single party indexing behaviors are unrelated to AMP.

[2019-08-30 16:30] #24159 closed

[2019-08-30 16:32] alanorozco commented on #22665
Hi @Fabio-ff

I'm a bit confused about this conditional:

[code]

`window.isAmp` and `window.ampIntegration` are not exposed by the integration library, could I ask where you got that check from?

[2019-08-30 16:36] choumx commented on #23169
This FR is a bit too vague to be actionable. Do you have a link to a reference URL for the Alexa feature you're trying to embed?

[2019-08-30 16:36] #23169 closed

[2019-08-30 17:05] Enriqe opened #24310 "Add testing for analytics in amp-story"
We need a more robust test suite for amp-story where we actually test that the analytics have been sent to the server. This will avoid future complications like in #24020.

[2019-08-30 17:06] Enriqe commented on #24020
Filled out PM and next steps to prevent this type of issue in the future. Closing, but feel free to re-open if I missed something.

[2019-08-30 17:06] #24020 closed

[2019-08-30 18:19] archon810 commented on #24306
Curious what the solution here will end up being and whether we should implement annoying workarounds or wait for AMP to fix it. Appreciate any discussion to "feel the room" and gauge the complexity of the fix.

[2019-08-30 18:28] archon810 commented on #24306
Here's an example of the issue: https://www.androidpolice.com/2019/08/28/gmail-finally-adds-that-smooth-account-switching-gesture-apk-download/?amp.

The GIFs are currently being excluded from the gallery and can't even be tapped on to zoom in.

[2019-08-30 19:41] sparhami commented on #21559
We have a new version of amp-carousel which will fix this, but haven't changed the lightbox gallery over to use it yet. We plan on changing over in the next few weeks.

[2019-08-30 19:41] sparhami commented on #22608
We have a new version of amp-carousel which will fix this, but haven't changed the lightbox gallery over to use it yet. We plan on changing over in the next few weeks.

[2019-08-30 19:45] maciejmackowiak commented on #22608
That is a great news, thanks for quick response.

[2019-08-30 19:53] sparhami commented on #24178
/cc @alanorozco

[2019-08-30 19:55] #24294 closed

[2019-08-30 20:39] ericandrewlewis opened #24318 "Expose LargestContentfulPaint in tick events"
LargestContentfulPaint is a new browser performance metric, read more on [web.dev](https://web.dev/largest-contentful-paint).

We should expose this metric to AMP viewer implementations.

[2019-08-30 21:42] sparhami commented on #24253
Will look into fixing this by making amp-facebook an input to the compilation. Just as a note, the effect of this issue is that amp-facebook-comments and amp-facebook-page will not show a loader and an error will be logged. This should not prevent them (or anything else) from rendering.

[2019-08-30 22:46] newmuis commented on #24300
Cherrypicked into 1908302047320

[2019-08-31 00:27] newmuis commented on #24300
1908302047320 has been pushed to the opt-in canary.

[2019-08-31 00:27] #24300 closed

[2019-08-31 02:09] #23679 closed

[2019-08-31 02:20] lannka commented on #23630
duplicate of #24038

[2019-08-31 02:20] #23630 closed

[2019-08-31 11:31] Stefany93 commented on #24309
following

[2019-08-31 23:35] merakmarey commented on #23092
Any new development on this?

[2019-09-01 07:23] archon810 opened #24326 "A little help with updating cache"
Hi,

We recently launched AMP after a year of working on it (see https://www.androidpolice.com/2019/08/31/android-police-now-supports-google-amp/?amp), but realized that content updating doesn't work, and we need a little help.

https://www.androidpolice.com/.well-known/amphtml/apikey.pub was originally not served as plaintext, but that's been rectified is. It's possible that all we need is some s

[2019-09-01 07:27] archon810 commented on #24326
@codewiz @csLittleye @Gregable have been helpful with AMP update issues in the past. Thank you.

[2019-09-01 07:42] archon810 commented on #24326
I was able to use a subdomain to test flushing the logic, and managed to get an "OK" response.

So at this point, that would resolve 3) above.

For 4) I found that it needs to be `?amp&amp_action-flush...` and not the `%3f` version.

For 1) I still get a 404 for the subdomain I tried, so I'm still not sure what I'm doing wrong there.

[2019-09-01 16:14] marcosalberto commented on #24247
@newmuis can you send the url?

[2019-09-01 16:28] jamespearn commented on #24247
When I had this same error message it was because my page was missing the SwG specific Structured Data Markup as described here:

https://developers.google.com/news/subscribe/guides/structured-data-markup#subscribe-with-google-structured-data-markup-requirements

[2019-09-01 17:05] archon810 commented on #24326
Someone or something seems to have flushed the key cache, and now update-cache requests to www.androidpolice.com succeed, so that's great.

However, I'm still not clear about something. It seems there are multiple copies of the cache created by various Google properties (like Discover, Chrome Discover, Google News, search), and there are subtle differences between them, such as

https://www-androi

[2019-09-01 17:20] archon810 commented on #24326
Furthermore, we can't seem to get the content to update even with max-age=30, with `update-cache` pings or without.

As a test, I changed the link below to "working on for a few years".

https://www.androidpolice.com/2019/08/31/android-police-now-supports-google-amp/?amp:
﻿
![image](https://user-images.githubusercontent.com/469543/64079855-f1cc2680-cca1-11e9-820a-87f8cf817f04.png)

﻿

https://www-

[2019-09-01 19:16] newmuis commented on #24247
I don't actually have a specific url that I encountered this on; I see this error occurring in aggregate through AMP's onduty dashboard.

[2019-09-02 05:12] philipwatson opened #24328 "timeoutMillis RTC config is ignored when using single pass compilation"
`timeoutMillis` RTC config is ignored

Using a dist build and custom url callout. Latest master (6a8eb2c).

I noticed the ad network is called immediately around the same time the callout is made.

The default timeout is 1 second. AMP doesn't wait for the callout response or this timeout.

Problem still exists if I set the `timeoutMillis` on the ad's `rtc-config` attribute.

I think I may of found

[2019-09-02 07:50] xavierleune commented on #13659
@twifkak friendly ping :)

[2019-09-02 09:20] sebastianbenz commented on #24326
Thanks for the detailed write-up. I'll try to answer a few of the questions:

* **re Cache URL:** `/v/` vs `/c/`. `v` returns a slightly different version of the document used by the AMP Viewer. Afaik you don't need to update this version via the update cache API. It's a good question though and we should document this (//cc @Gregable).
* **re Cache-control is max-age: 30**: how long did you wait

[2019-09-02 09:24] Ankit199 commented on #7849
but we define action on start of html.beginform(action, then other things) ,then how we can use @action-xhr

[2019-09-02 10:31] TurbMZ opened #24329 ""Failed to load" error"
**There is the error message:**
[code]
========================
this error was trigger by random....i can not to lock the reason.

[2019-09-02 16:52] archon810 commented on #24326
Thanks. The question is why `/v/` isn't updating at all. For example, https://www-androidpolice-com.cdn.ampproject.org/v/s/www.androidpolice.com/2019/08/31/android-police-now-supports-google-amp/?amp=&amp_js_v=0.1 still hasn't received updates after several days, whereas https://www-androidpolice-com.cdn.ampproject.org/c/s/www.androidpolice.com/2019/08/31/android-police-now-supports-google-amp/?am

[2019-09-02 18:56] westonruter commented on #22608
@sparhami By new version, do you mean `amp-carousel v0.2 as opposed to v0.1? If so, then bumping the version in the AMP plugin (https://github.com/ampproject/amp-wp/pull/3115) should fix this, correct?

[2019-09-03 03:41] rsimha opened #24333 "Reorganize dev server logic in `build-system/app.js`"
Today, most of the AMP dev server logic lives in `build-system/app.js`. As the file has grown in size, it has become difficult to predict the order in which various operations are performed. See the discussion at https://github.com/ampproject/amphtml/pull/24325#pullrequestreview-282746533

This issue is meant to track the refactoring of `app.js` to make it more predictable and maintainable.

[2019-09-03 04:39] ghelapratik opened #24334 "Get Link not working in Desktop"
There is a get link button in the AMP Story. However, when you click the get link button, it says link copied. But when you try to paste it, it doesn't work. Below video illustrates the behavior.

![Sep 3 2019 10_06 AM - Edited](https://user-images.githubusercontent.com/22929187/64144575-b6ad2d00-ce32-11e9-9bf7-7221a0cf43fb.gif)

[2019-09-03 05:24] archon810 commented on #24326
In general:

1. How many url variations can a single post generate in various Google AMP caches? I'm talking both prefixes, like `/v/` or `/c/`, as well as GET parameters.
1. Should sending `update-request` to the main AMP url be sufficient to refresh all such caches, including ones with GET params?
1. Is it possible to see all the cache urls generated for a specific post, via an API or some tool?

[2019-09-03 10:26] jaygray0919 opened #24335 "amp-carousel-0.2 does not emit high trust actions on autoplay"
Here is a carousel using `amp-carousel-0.2.js`. Progress status fails on `autoplay` although it works on manual.
  https://ampb.in/#3Ww9RcVJyVOWnhiqMy9y

With `amp-carousel-0.1.js` both work (`autoplay` and manual).
Toggle `ampb.in` to see the difference.
We don't want to use `amp-carousel-0.1.js` because of the lack of smooth scrolling provided by `amp-carousel-0.2.js`.
Is there a work around (or

[2019-09-03 10:28] jaygray0919 commented on #23675
@cathyxz anything we can do to help here Cathy? This is important (but not critical; not a sev-1) for our first release.

[2019-09-03 10:32] jaygray0919 commented on #23673
@kristoferbaxter did you have an opportunity to work with the `d3.js` repo we provided before your Australia trip? Anything else we can do here to test `d3.js` variations with `amp-script`? We did see in an `amp.dev` thread from @sebastianbenz that another developer also may be working on `d3.js` implmentations (have misplaced the name).

[2019-09-03 10:37] jaygray0919 commented on #23672
@choumx Anything else we can do here to help resolve this issue Will? For us, this is a severity-1 issue. Have spoken with our team and it's their position that we should use the non-standard-AMP `javascript` solution because the cost of page editing/maintenance is so high. We realize that content will not qualify for the amp-cache, but the tradeoff favors our conventional javascript injection pro

[2019-09-03 13:59] cramforce commented on #23925
I've copied this issue to a Google internal bug (b/140409802) since this repository isn't dealing directly with AMP Cache related issues.

[2019-09-03 15:18] newmuis commented on #24334
@estherkim were you able to repro this when working on #23860?  I'm now seeing this behavior now in Chrome; looks like maybe we traded Chrome support for Firefox support 😦

[2019-09-03 15:22] rcebulko opened #24338 "I2I: OWNERS-bot Reviewer Selection Algorithm"
## OWNERS Reviewer Selection Algorithm

### Overview

We’d like the OWNERS bot to automatically assign reviewers to PRs to give them OWNERS coverage.

#### Current state

No reviewers are assigned. The bot leaves a comment suggesting reviewers. If any owner exists who can approve all files in the PR, they are suggested; otherwise, the bot lists possible owners for each file.

#### Concerns
* It mu

[2019-09-03 15:25] rcebulko commented on #23405
We'll be presenting a new OWNERS-bot reviewer selection algorithm #24338 (15-20 minutes)

/cc @rsimha

[2019-09-03 15:43] cathyxz commented on #23675
The soonest time I can take an in-depth look at this will probably be our next fixit week. @sebastianbenz do you by chance have any ideas on existing solutions for implementing tooltips? If I recall correctly, some portions of @jaygray0919 's feature requests seemed similar to the seatmap example that @kul3r4 built based on amp-list and amp-pan-zoom a while ago, but I can't find a live example of

[2019-09-03 15:44] estherkim commented on #24334
I can repro this too - taking a look now!

[2019-09-03 16:54] Gregable commented on #24326
Reported internally to Google as b/140420052

[2019-09-03 16:57] #24034 closed

[2019-09-03 17:00] archon810 commented on #24326
@sebastianbenz As a test this morning, we posted https://www.androidpolice.com/2019/09/03/android-website-updated-for-android-10/?amp and updated it with a distinct update that you can see marked by a yellow banner.

When I got to the post, ?amp was already showing the update, and I made sure to update it again to set our baseline. This was done at 9:48am.

![image](https://user-images.githubuserc

[2019-09-03 17:01] cathyxz commented on #21434
Hi @SethBuilder, let me know if you have further questions, or if the above sample isn't what you're looking for.

[2019-09-03 17:17] #23900 closed

[2019-09-03 17:28] estherkim commented on #21258
This was fixed with multiple PRs, the last ones being https://github.com/ampproject/amp-github-apps/pull/317 and https://github.com/ampproject/amphtml/pull/23513

And here's a working demo, https://github.com/ampproject/amphtml/pull/24274

[2019-09-03 17:28] #21258 closed

[2019-09-03 18:17] jaygray0919 commented on #23675
we started the tooltip journey with a @sebastianbenz draft (an inline selector).
the ONLY problem is the inability (using CSS) to override a line-break generated by `amp-runtime` when using `amp-list`. (we've actually embedded the `amp-runtime-CSS` on a page [like `amp.dev`] and tried to over-ride using a 'keep-together' CSS statement - it fails).
The only time you see the issue is when 2+ `amp-li

[2019-09-03 18:30] alanorozco commented on #22665
@Fabio-ff

Okay, so on one hand this looks like API misusage.

You shouldn't use `window.ampIntegration`. Instead, you should add a callback to the `window.AmpIntegration` array that receives the instance of the class you should push to. Please [look at documentation for the component](https://amp.dev/documentation/components/amp-video-iframe/).

[code]

On the other hand, I also found a regressio

[2019-09-03 19:35] #24253 closed

[2019-09-03 19:45] dijs commented on #4405
I am experiencing a couple strange issues with this implementation of dynamic carousel content.

1. The amp-carousel `controls` **do not work** in the standard (non-lightbox) mode when rendering images with a template. If I remove the template and manually add amp-img's, the controls work again.
2. The amp-carousel seems to be hanging on to the initial state of the amp-list after it fetches new da

[2019-09-03 20:32] rcebulko commented on #23405
Update: Because of the timing, time zones, and availability of stakeholders, we're going to push this back to a later design review.

[2019-09-03 20:33] rcebulko commented on #23990
We'll be presenting a new OWNERS-bot reviewer selection algorithm #24338 (15-20 minutes)

/cc @rsimha

[2019-09-03 20:44] choumx commented on #23672
Thanks for your exhaustive testing on this.

So it looks like "test-5-5" renders as expected and without HTML parse errors, but SDTT doesn't find the `script[type="application/ld+json"]` element. Perhaps the render exceeds SDTT's JS execution quota.

[2019-09-03 20:55] #22665 closed

[2019-09-03 20:57] archon810 commented on #24326
3 hours later, none of the updates still propagated to the AMP caches.

Here's the original `update-cache` ping from 9:48am:

`[03-Sep-2019 09:48:48 America/Los_Angeles] AMP Update Ping: Pinging https://www-androidpolice-com.cdn.ampproject.org/update-cache/c/s/www.androidpolice.com/2019/09/03/android-website-updated-for-android-10/?amp&amp_action=flush&amp_ts=1567529328&amp_url_signature=tNFJQtqv5

[2019-09-03 20:58] sparhami commented on #24335
This is due to #21171 being addressed in carousel 0.2, but not in carousel 0.1. Basically, we do not want to emit high trust actions from something like autoplay, since developers can use the action to do things that make the page jump.

We are working on a new gallery component that will have support for customizable progress indicators built into it.

There has been some discussion on whether or

[2019-09-03 21:14] choumx commented on #24328
/cc @ampproject/wg-ads

[2019-09-03 21:15] choumx commented on #24329
Can you share a page URL and steps to reproduce this bug?

[2019-09-03 21:18] jaygray0919 commented on #23672
Sorry Will but I'm not following your comment. *WRT* SDTT "seeing" a parsable `JSON-LD` structure, all of our test cases fail. *WRT* AMP-handling, you're better skilled than we are to verify correctness of one or all of the scenarios. We **think** we did 1-6 correctly, but will fix any errors you identify (and re-test). *WRT* SDTT execution quota, we "know-for-sure" that the size limit is <2.5 MB

[2019-09-03 21:27] jaygray0919 commented on #24335
What is your advice?
-  Use `amp-carousel-0.1` as we have it now and wait for better transition in a new carousel release?
-  Remove `autoplay` from our current implementation and encourage the user to swipe thru the testimonials?
-  Something else?

[2019-09-03 21:33] mrjoro commented on #23405
Since there are no topics other than the Outreach WG update, we'll make this a written update only and will cancel the video conference this week.

@pbakaus please provide a link to the Outreach WG here.

[2019-09-03 21:36] rcebulko commented on #24338
Update: After running the analysis on the last 2600 PRs, there were only 14 PRs requiring more than 3 reviewers.

[2019-09-03 21:40] nainar commented on #24335
Between options A and B - it depends on how your company sees it? Do you see a lot of users using the progress indicators to swipe through the testimonials?

Also is there an A/B test that you can run for with and without progress indicator?

[2019-09-03 22:43] nainar commented on #24306
Due to amp-anim's poor performance I think our intention has been to deprecate it. There is appetite for using videos to manage gifs as you can see here: https://github.com/ampproject/amphtml/issues/24001

Curious to hear: Is it possible to use `<amp-img>` for the gifs in this case? So that they are lightboxable?

[2019-09-03 22:52] archon810 commented on #24306
That would certainly make things simpler for us.

[2019-09-03 23:35] choumx commented on #23672
Have you sent feedback to SDTT about this yet?

[2019-09-03 23:44] estherkim opened #24352 "🚄Release tracking issue for canary release 1909051736590 (Canary)"
# Release tracking issue

- [x] Release [1909030343550](https://github.com/ampproject/amphtml/releases/tag/1909030343550) is cut as a new canary release
- [x] Release [1909030343550](https://github.com/ampproject/amphtml/releases/tag/1909030343550) pushed to dev channel (4:21 PM, Sep 3, 2019 UTC-4)
- [x] Release [1909051736590](https://github.com/ampproject/amphtml/releases/tag/1909051736590) crea

[2019-09-03 23:57] jaygray0919 commented on #23672
no - we'll do that next.

[2019-09-04 00:21] nainar commented on #24306
You can currently add your gifs to `<amp-img>` as well. The drawback here is that `<amp-img>`s aren't unloaded when they leave the viewport whereas `<amp-anim>`s are. This means that large GIFs will stay loaded forever. If you are ok with that or are using small GIFs you can add them in `<amp-img>`

[2019-09-04 00:37] archon810 commented on #24306
@nainar This is the problem in AMP-WP though: https://github.com/ampproject/amp-wp/blob/develop/includes/sanitizers/class-amp-img-sanitizer.php#L311. How do we proceed?

[2019-09-04 01:31] TurbMZ commented on #24329
thanks ...but i catch the error origin..it trigger by a amp-img without src data..

------------------ 原始邮件 ------------------
发件人: "William Chou"<notifications@github.com>;
发送时间: 2019年9月4日(星期三) 凌晨5:15
收件人: "ampproject/amphtml"<amphtml@noreply.github.com>;
抄送: "刘明折"<502605957@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [ampproject/amphtml] Random trigger Failed to load page (#24329)

Can

[2019-09-04 08:18] Aivaras100 commented on #24197
How are the problems solved?

[2019-09-04 09:04] demil opened #24353 "Detect scrolling up and down."
Is there possibility to detect whenever user starts scrolling up or down and trigger different actions depends on scroll direction?

[2019-09-04 13:40] patrickkettner commented on #21715
@choumx sorry, didn't realize that question was to me. @kristoferbaxter asked me to open the issue over chat when I mentioned that it existed

[2019-09-04 14:06] estherkim commented on #21787
Seeing higher volumes of this error in the 1% RC channel, 1908302047320. Can we check this isn't a regression?

[2019-09-04 14:17] franniehannan opened #24354 "NYTimes: Account linking confirmation overlaying subscription message"
## What's the issue?

We're working on adding a new entitlement for NYtimes registered users, which would give them access to more articles. Because these users are not subscribers, they still get the standard subscription messaging after they log in. However, the account linking confirmation shows up _behind_ the subscription message and therefore users can't dismiss it. We've tried a bunch of th

[2019-09-04 15:07] jpettitt commented on #24354
Does this happen on iOS? Android? both? (it will help as fixed layers are currently handles slightly differently on each)

[2019-09-04 15:43] #24329 closed

[2019-09-04 16:01] choumx commented on #24353
Generally no because scrolling is a gesture with low user intent.

Per the [README](https://github.com/ampproject/amphtml/blob/master/README.md#having-a-problem-using-amp), please use [Stack Overflow](http://stackoverflow.com/questions/tagged/amp-html) to ask questions about AMP.

[2019-09-04 16:01] #24353 closed

[2019-09-04 16:44] jpettitt commented on #24354
I can reproduce this, it's an artifact of the way iOS layering is handles due to some bugs in the way scrolling is handled in iframes.  I'll see if there is an easy fix.  Note this will go away with IOS13 which doesn't need the scrolling fix.

[2019-09-04 16:48] dianomi-mjs commented on #23492
Hi @lannka , should this be available for testing?  I've tried the dev channel but I'm not having the macros being substituted on amp-ad-custom src element here

https://www.dianomi.com/mjs/amp/one.epl?smartad_id=5001

Cheers

[2019-09-04 17:31] westonruter commented on #24306
@archon810 Would you [create a new issue](https://github.com/ampproject/amp-wp/issues/new) on the AMP plugin repo for this? Let's collaborate there on a way to force `amp-img` to be used for GIFs instead of `amp-anim`.

[2019-09-04 17:40] lannka commented on #23492
@dianomi-mjs the `src` attribute on the DOM will not change. But the outgoing request does have the URL replaced:

<img width="818" alt="Screen Shot 2019-09-04 at 10 38 43 AM" src="https://user-images.githubusercontent.com/8496897/64277904-52f13580-cf00-11e9-9555-bea06dd6dba9.png">

The change is in dev channel, and will soon (probably today) released to prod.

[2019-09-04 17:57] jeffreysbrother opened #24359 "Misleading validator error for multiple <style> elements"
## What's the issue?

After inadvertently adding a second style tag to an AMP document, the following two errors are produced:

1. The mandatory attribute 'amp-custom' is missing in tag 'style amp-custom'.
2. The tag 'style amp-custom' appears more than once in the document

The first is legitimate, while the second is a false-positive.

## How do we reproduce the issue?

I cannot provide a public

[2019-09-04 18:48] archon810 commented on #24306
@maciejmackowiak will create it soon.

[2019-09-04 19:05] westonruter commented on #24306
Also, here's a quick workaround plugin that forcibly converts all `amp-anim` to `amp-img` after the image sanitizer has done its conversions: https://gist.github.com/westonruter/1eeb2224004c0e904fa2a35fc92899c0

[2019-09-04 20:24] cathyxz opened #24364 "disabling auto-sizes in amp-img with layout intrinsic is causing a lot of amp-imgs to not have a sizes attribute"
We recently disabled `auto-sizes` for layout intrinsic in `<amp-img>` to fix https://github.com/ampproject/amphtml/issues/23453. This leaves a lot of `<amp-img>`s that rely on this feature without a sizes attribute. We need a more nuanced fix or to apply that only to images whose `srcset` attributes are generated by the AMP cache.

/cc @jridgewell @westonruter @ampproject/wg-ui-and-a11y

[2019-09-04 20:26] nainar commented on #24364
@estherkim who is on release duty. FYI there is an upcoming revert coming your way that will need to be cherrypicked.

[2019-09-04 20:26] cathyxz commented on #24364
Revert PR: https://github.com/ampproject/amphtml/pull/24365

[2019-09-04 20:30] cathyxz opened #24366 "🌸 Cherry-pick request for #24364 into #24352 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :----------- |
| #24364 | #24365 | **YES** | **YES** |  #24086 (prod) <br> #24254 (RC) <br> #24352 (opt-in) |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contrib

[2019-09-04 20:36] nainar opened #24367 "Deprecate amp-anim in favour of amp-img with a better unloading strategy"
There have been prior discussions about deprecating amp-anim in favour of amp-img/amp-video. See #24001. Having them as 2 separate codebases means that images and GIFs though similar entities get slightly different treatments (e.g. amp-anim doesn't get lightboxed #24306 ).

We should swap amp-anim to be governed by amp-img under the hood instead. amp-img should et logic added to it to unload image

[2019-09-04 20:55] wassgha commented on #24367
There's always the concern about amp-img's size but the differences are minimal between the two. We can also gate amp-anim's behavior behind an attribute too if necessary.
/cc @dvoytenko

[2019-09-04 20:56] cramforce commented on #24366
Approved

[2019-09-04 21:38] jpettitt commented on #24354
Proposed fix:

Expose `FixedLayer.enterLightbox()` and `FixedLayer.leaveLightbox()` in `viewport-impl` then call them from `dialog.js` on `open` and `close`.   This will change the transfer layer visibility when our dialog needs to be on top.

The existing `enterLightboxMode()` function isn't suitable because it messages the viewer to hide the titlebar.

cc @dvoytenko

[2019-09-04 21:51] dvoytenko commented on #24354
/cc @lannka

This is possible and might be the most performant. Not sure what to call this API in Viewport service. Maybe as simple as "showOverlayDialog(function():Promise)"? This way we will wrap any overlay dialog display functionality inside such a call to avoid UI interference?

[2019-09-04 22:28] lannka commented on #24354
it's a bit unclear what those methods do, are we able to consolidate?

- `viewport.enterLightboxMode`
- `viewport.enterOverlayMode`
- `fixedLayer.enterLightbox`
- `binding.updateLightboxMode`

Note that viewport service now has a separate implementation for inabox, concise interfaces will be ideal.

[2019-09-04 22:50] cathyxz commented on #23675
Okay, rereading this, I think your issue boils down to needing an amp-list inside an amp-lightbox to bind to different sources of data.

You can bind the `src` attribute of `<amp-list>` to an `<amp-state>`, whose datasource can be either inlined or generated dynamically via the `src` attribute. The syntax would look something like this:

[code]

The `[src]` attribute here can reference a subsectio

[2019-09-05 00:05] cathyxz commented on #23453
So removing srcset on this bug actually still doesn't fix it either. But removing either the `min-height: 0` or `min-width: 0` on the `img` tag in the cached version does.

[2019-09-05 09:15] vfsoraki opened #24371 "Sidebar does not open when url has an empty hash"
## What's the issue?

Sidebar does not open when page has only and only `#` at the end of url.

## How do we reproduce the issue?

Suppose the page is www.example.com.

1. Open www.example.com
2. Sidebar works
3. Change url to www.example.com# and refresh page
4. When sidebar is toggled, it is closed quickly after openning.

## What browsers are affected?

All browsers (not sure)

## Which AMP ver

[2019-09-05 10:02] vfsoraki commented on #24371
I found that if the element that is used to toggle side bar is an `a` and has `href="#"`, then this problem occurs.

Removing `href="#"` solves problem.

I am keeping this open, as I don't really know whether this is a bug in AMP or not.

Please close issue if it is not a bug with AMP itself, or a known bug (I already searched issue for such a bug).

[2019-09-05 13:52] crisfran01 opened #24372 "amp-recaptcha-input: reCAPTCHA.execute() error on form submit"
The reCAPTCHA AMP script is experiencing the following error on submit:

`log.js:232 There was an error running execute() on the reCAPTCHA script.`
`log.js:232 Form submission failed: Error: There was an error running execute() on the reCAPTCHA script.
    at V.push.f.V.M (https://cdn.ampproject.org/v0/amp-recaptcha-input-0.1.js:42:55)
    at c (https://cdn.ampproject.org/v0/amp-recaptcha-input-0.

[2019-09-05 14:51] jpettitt commented on #24354
Found a cleaner solution - I'll just use `addToFixedLayer()` to put the SwG dialog on the fixed layer

[2019-09-05 15:54] nainar commented on #24008
cc @ampproject/wg-ui-and-a11y @cathyxz @sparhami (since I have been talking with them about this as well.)

What do you all think?

I agree that this is important. Specially since we can do a lot more  for a11y if this component is baked in like making sure the tap and hover action don't do different things.

[2019-09-05 16:27] cathyxz opened #24374 "Document overflow attribute and overflow conditions"
Follow up to https://github.com/ampproject/amphtml/pull/24290.

We have automatic truncation of elements with overflowing contents and an optional overflow element that allows people to provide a fallback (a button that resizes elements on click). The heuristics for when the element gets truncated (and overflow button is shown) is not clear. We should document somewhere that resizing is allowed wh

[2019-09-05 16:31] cathyxz commented on #24288
In this case, would `amp-mustache` be responsible for importing them (this would likely further delay rendering of templated elements) or would the validator need to be intelligent about parsing this and allowing imports used in `amp-mustache` only?

[2019-09-05 16:38] fstanis commented on #23616
Pseudo-elements like `::before` and `::after` are not supported in AMP for Email (the [list of supported CSS is available here](https://amp.dev/documentation/guides-and-tutorials/learn/email-spec/amp-email-css/?format=email)). The AMP validator doesn't currently validate CSS, so the Gmail playground renders unsupported CSS.

Since these are not supported in HTML in many email clients, it's unlikel

[2019-09-05 16:38] #23616 closed

[2019-09-05 16:41] fstanis commented on #23617
I'm unable to reproduce this - could you provide the full code of the email?

[2019-09-05 17:12] cathyxz opened #24376 "🌸 Cherry-pick request for #24364 into #24086 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24364 | #24365 | **YES** | **YES** | #24086 |

Duplicate request of https://github.com/ampproject/amphtml/issues/24366 for current production.

/cc @ampproject/wg-approvers @ampproject/cherry-pick-approve

[2019-09-05 17:14] cathyxz commented on #24366
Ping @ampproject/cherry-pick-approvers for one more approval.

[2019-09-05 17:16] cathyxz opened #24377 "🌸 Cherry-pick request for #24365 into #24254 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24364 | #24365 | **YES** | **YES** | #24086 |

Duplicate request of https://github.com/ampproject/amphtml/issues/24366 for current 1%.

/cc @ampproject/wg-approvers @ampproject/cherry-pick-approvers

[2019-09-05 17:40] CrystalOnScript opened #24378 "Documentation: Update amp-script reference"
## What's the issue?

[amp-script reference](https://amp.dev/documentation/components/amp-script/?format=websites) documentation needs to be updated. Reference documentation is the source of truth for components, amp-script documentation is missing vital information.

## Update requests

- A simple example: copy should be more clear. "An `amp-script` element can load JavaScript in two ways." With

[2019-09-05 17:41] cramforce commented on #24376
Approved

[2019-09-05 17:42] cramforce commented on #24377
Can we use a single issue to track all cherry-picks?

[2019-09-05 17:45] nainar commented on #24378
Issue for the fact that local scripts aren't allowed is here: https://github.com/ampproject/amphtml/issues/24309

[2019-09-05 17:48] estherkim commented on #24377
Sure let me consolidate.

[2019-09-05 17:49] #24377 closed

[2019-09-05 17:49] #24376 closed

[2019-09-05 17:58] sparhami commented on #24008
I know that custom tooltips are generally not accessible and I'm not sure there is a way to make them accessible in general. I think having a way of customizing how the `title` attributes render as a tooltip would be fine, but anything other than that seems questionable.

I think we should first discuss this with some accessibility experts before we even consider a feature here (either hover or a

[2019-09-05 17:59] dianomi-mjs commented on #23492
Awesome, seems to be working perfectly.  Thank you

[2019-09-05 18:18] Gregable commented on #24326
One issue observed (discussed over slack, but adding here for posterity) is that the `/v/` and `/c/` URLs listed are different publisher URLs.

The `/c/` URL is fetching `?amp` and the `/v/` URL is fetching `?amp=`. These are different URLs to the AMP cache and thus different cache entries, with different lifetimes. The update-cache ping only affected the url with `?amp` which matches the `/c/` re

[2019-09-05 18:37] estherkim commented on #9177
Seeing high volumes of this currently. `go/ampe/CImozY_wkPycLA`
Does this need to be prioritized higher?

[2019-09-05 18:49] CrystalOnScript commented on #24374
@cathyxz I'm a little confused about this issue:

-  `the <amp-list> element can contain an element with an overflow attribute`: we don't link out to an AMP specific overflow attribute - is this referring to the CSS overflow Property?

- The example for [specifying an overflow](https://amp.dev/documentation/components/amp-list/?format=websites#specifying-an-overflow) doesn't seem to be doing anyth

[2019-09-05 19:18] cathyxz commented on #24374
Yup. `overflow` is actually an AMP-specific property that applies to more than just amp-list. It also applies to for example, amp-iframe, amp-truncate-text, and possible some ads (though I'm not sure about this). The example you referenced doesn't do anything because in its case, there's nothing below the amp-list, so it satisfies condition 2 above, and therefore allows resizing and does not show

[2019-09-05 19:55] jpettitt commented on #24354
On further investigation none of the above will fix it.  To correctly fix it we need to make the swg.js iframes visible to the AMPDoc.

[2019-09-05 20:08] CrystalOnScript commented on #24374
Thanks for clarifying @cathyxz

After further investigation, the sample is displaying the "see more" button, but it's hard to see as it's placed on top of the first image.

Are these two conditions only relevant for `amp-list` or does this apply to all uses of `overflow`?

[2019-09-05 20:25] sparhami commented on #24371
An example page with the problem: [https://output.jsbin.com/yicawiy#](https://output.jsbin.com/yicawiy#). You both need to load the page with a trailing `#` as well as have the anchor tag with `<a href="#">` to reproduce the issue.

I'm not sure that an anchor tag is the right element for opening a sidebar however. A sidebar is really a modal dialog and not a navigation endpoint. For example, when

[2019-09-05 20:27] archon810 commented on #24326
To follow up on Greg's reply, there seems to be a related bug somewhere in AMP CDN code which *sometimes* redirects urls with `?...&amp` to `?amp=`, thereby appending the `=` sign and causing stale cache to be served because the cache key now includes `=`, and the cache we're busting with `update-cache` does not.

For example:
`https://www-androidpolice-com.cdn.ampproject.org/v/s/www.androidpolice

[2019-09-05 20:33] sparhami opened #24382 "Investigate using `<dialog>` `aria-modal` for sidebar 1.0"
The current sidebar traps focus (both keyboard and screen reader) when it opens. This is done by adding `aria-hidden` and setting negative tab indicies on things outside of the dialog. Note that it does not use a focus trap that cycles back to the start, so that the correct behavior of focus leaving the browser window when swiping past the start/end is preserved.

The former case can be simplified

[2019-09-05 20:35] cathyxz commented on #24374
Yup, it needs to be styled in a more visible way. I believe it applies to all uses of overflow.
@jridgewell can keep me honest on that. =)

[2019-09-05 20:35] westonruter commented on #24326
cf. https://github.com/ampproject/amp-wp/issues/1383 where we are thinking to cause the AMP plugin to generate paired URLs with `?amp=1`  instead of `?amp`, or at least allow it to be configurable: https://github.com/ampproject/amp-wp/issues/2204.

[2019-09-05 20:47] jridgewell commented on #24374
Yup. If an any amp element has its resize request denied by runtime, we make the overflow element appear.

[2019-09-05 20:53] #22867 closed

[2019-09-05 20:53] lannka commented on #22867
After all the above changes, the binary size is 210KB now.

[2019-09-05 21:04] choumx commented on #24288
This would just be a signal to the validator to silence "extension not used" errors for `amp-date-display` and `amp-foo`.

[2019-09-05 21:20] archon810 commented on #24326
I was also told today (by @Gregable) that we should be using `s-maxage` and not `max-age`. I was not aware of this, since https://developers.google.com/amp/cache/update-cache only talks about `max-age`. This is a documentation issue to be fixed IMO.

[2019-09-05 21:32] vfsoraki commented on #24371
@sparhami
I'm not quite sure whether using another tag like a button would fix the issue. Did you try a button toggle with a page ending in #?

Maybe the issue also happens if the page has a # while a button is used to toggle sidebar?

Then the issue would be about pages that end in #.

[2019-09-05 21:42] sparhami commented on #24371
I don't see the same issue when using a plain button, when the url ends with '#'. For example: [https://output.jsbin.com/lisutaq#](https://output.jsbin.com/lisutaq#). I only see the issue when the opening element is an anchor tag with `href="#"`. Another note is that I don't see the issue in Firefox, only Chrome.

[2019-09-05 21:47] vfsoraki commented on #24371
OK, so the issue is with an a tag used to toggle sidebar.

About Firefox, I'm almost sure i saw the issue in iOS with Firefox. But
I'll have to check.

On Fri, Sep 6, 2019 at 2:12 AM Sepand Parhami <notifications@github.com>
wrote:

--
Sent from Gmail on iPhone

[2019-09-05 21:48] archon810 commented on #24326
Can the key for dev.androidpolice.com please get flushed? https://dev.androidpolice.com/.well-known/amphtml/apikey.pub

Thanks.

[2019-09-05 21:49] Gregable commented on #24288
The obvious con to this is that you'd end up with folks adding to their website template:

[code]

Obviously there are other ways to to this today, but they are a little trickier. I'm not sure if this con is a good enough reason _not_ to do this though.

In general needing to statically determine ahead of time the set of dynamically necessary libraries is difficult, both for the publisher and amp.

[2019-09-05 21:51] Gregable commented on #24326
Both are fine. The important element is that s-maxage is intended to override max-age for intermediary caching.

[2019-09-05 22:01] Gregable commented on #24288
Could the main AMP runtime (not mustache) consume these `required-extensions` and upgrade them to `<script>` tags dynamically at the moment the document is loaded?

In this way, they can't even consume browser bandwidth until the rendering requirements are out of the way, but they can still begin fetch earlier than the loading of amp-mustache.

[2019-09-05 22:02] rsimha commented on #24141
Solved by #24325.

[2019-09-05 22:03] rsimha commented on #24226
Related to #24333

[2019-09-05 22:04] rsimha commented on #24333
Related to #24226

[2019-09-05 22:06] dvoytenko commented on #24367
I think initially it was important to stop (pause) animation of a GIF image. I'm not sure if it's still important of if browsers figured it out.

[2019-09-05 22:56] lannka commented on #23356
@powerivq could you PTAL?

[2019-09-06 00:11] estherkim commented on #24366
Deployed.
prod: `1909051800160`
1%: `1909051756330`
opt-in: `1909051736590`

[2019-09-06 00:17] cramforce commented on #24233
It seems that consensus is now moving towards inferring aspect ratio from width and height attributes (the same thing that AMP does) https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/hbhKRuBzZ4o/pmehGGHKAAAJ

One difference compared to AMP is that if those values are wrong, things will still jump. That is definitely a reason to concern. E.g. `width=1 height=1` on every `img` would be

[2019-09-06 04:55] dvoytenko commented on #24233
@cramforce Yeah. That would take a metric to report and resolve.

[2019-09-06 12:00] BurakDev opened #24390 "amp-mustache: "failed to call initLogConstructor" error"
## What's the issue?

Our website randomly receive mixed version of AMP scripts and causing random errors on multiple pages/extensions.

Example 1 (working but with errors) :
![2019-09-06_13h51_35](https://user-images.githubusercontent.com/3963184/64426042-c8e6cf80-d0ad-11e9-98cd-5f34ccbcea62.png)

Example 1 (not working) :
![2019-09-06_13h51_00](https://user-images.githubusercontent.com/3963184/6

[2019-09-06 12:45] cramforce commented on #24233
I'm actually not 100% certain my interpretation is correct. I'll ask on the blink-dev thread.

[2019-09-06 13:38] indeed-a-genius opened #24391 "Bing cache no longer maintained?"
I apologize if it's not the correct way to report this.

Is the Bing AMP cache still maintained? All bing-amp.com cache URLs just 302 redirect me to the non-cached URL.
Example:
https://www-theverge-com.bing-amp.com/c/s/www.theverge.com/platform/amp/2018/9/20/17881766/bing-google-amp-support-mobile-news

Both Google and Cloudflare caches work fine:
https://www-theverge-com.cdn.ampproject.org/c/s/w

[2019-09-06 13:55] RussianTranslator opened #24392 "Adding new email service provider at https://amp.dev/documentation/tools/"
One more email service provider, SendPulse, added support for AMP email.
Whom can I contact about listing it at https://amp.dev/documentation/tools/?

P.S. Not sure this is the right place to ask, will appreciate any help. Here's link to the [docs ](https://sendpulse.com/knowledge-base/email-service/email-sending/how-send-amp-emails).

![amp1](https://user-images.githubusercontent.com/11932351/644

[2019-09-06 14:49] aghassemi opened #24393 "New Loaders: spinner circle initially renders larger and misaligned for a split second"
![Screenshot_20190906-074522](https://user-images.githubusercontent.com/2099009/64437150-9d96bd00-d07a-11e9-88aa-ed1277faa220.png)

[2019-09-06 15:24] cramforce commented on #24233
OK, this was clarified. Current intent is to give the image priority, so this would be a jank vector.

[2019-09-06 16:22] nixtka commented on #24156
We are ready to implement similar behaviour to ads requests/responces:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/single-page-ad.md

[2019-09-06 16:47] nainar commented on #23675
Hi @jaygray0919 sorry for potentially explaining yourself again.

Taking a look at what the WaPo article you linked to, it's not a tooltip in the sense of what I think a tooltip is

What I think a tooltip is: https://getbootstrap.com/docs/4.3/components/tooltips/

What you want is a tappable context to launch a lightbox modal right?

[2019-09-06 16:53] #23987 closed

[2019-09-06 16:57] wassgha commented on #19326
I'll take this since I already implemented it for stories :)

[2019-09-06 17:24] alanorozco commented on #24233
RE: auto-lightbox, we would only need to change how the extension scans. We also might need to change how lightbox-gallery scans and picks images.

[2019-09-06 17:26] alanorozco commented on #24008
A `hover` event wouldn't be very useful for displaying a tooltip, anyway. We can't guarantee that a change via `bind` or otherwise wouldn't cause content to shift so we can't qualify `hover` as a trusted user interaction for mutations.

[2019-09-06 17:28] jridgewell commented on #24390
The error itself seems to be caused by the rename of global variables from https://github.com/ampproject/amphtml/issues/24051. We're getting two different AMP versions loaded (`1909051800160` in amp-mustache.js and `1909051756330` in v0.js), where amp-mustache is referencing the old `self.logs` property and v0.js is referencing the new `self.__AMP_LOG` property. I still don't know how we loaded tw

[2019-09-06 17:31] alanorozco commented on #24367
@dvoytenko I think this proposes that `amp-img` should have the same unloading/pausing strategy as `amp-anim`.

[2019-09-06 17:35] morsssss commented on #24008
I see the point about accessibility!

If accessibility is an issue, I could see why we wouldn't want to allow use of `hover`. On the other hand, if `hover` might sometimes produce an undesired effect if content had moved, I'd still think we should allow `hover`. I'd think we should trust developers to try it out and see if it worked for their use cases! Otherwise, we're simply restricting everyone

[2019-09-06 17:57] westonruter commented on #24176
@honeybadgerdontcare When do you think this will be implemented? We're planning to release the next version of the WordPress AMP plugin in a couple weeks and it will have support for dev mode. We'll want to include an explanation of this mode and what users can expect when using the AMP validator extension. So having a sense of timing will help.

[2019-09-06 17:58] reinhardmohr opened #24397 "Error on documentation about amp-image-slider"
**Please only file reports about bugs in AMP here.**

## What's the issue?

There is an error in the documentation on the amp.dev website. It's about amp-image-slider on page:
https://amp.dev/documentation/components/amp-image-slider/?format=websites

Briefly describe the bug.

The provided code there is missing an important piece:
 layout="fill"
This is missing in all the examples. So when I copi

[2019-09-06 18:07] honeybadgerdontcare commented on #24176
I have no timeline for implementing this, there are other high priority items I'm working on.

[2019-09-06 18:17] wassgha opened #24398 "`amp-orientation-observer` does not work on iOS 12"
Noticed this while having the same problem with `amp-story` parallax. Should be an easy fix.

/cc @nainar

[2019-09-06 18:18] CrystalOnScript opened #24399 "Documentation: amp-list overflow sample needs better styling"
The `see more` overflow element is impossible to see in the [overflow example](https://amp.dev/documentation/components/amp-list/?format=websites#specifying-an-overflow). We should give it a background.

[2019-09-06 18:19] wassgha opened #24400 "Fix `amp-orientation-observer` demos"
A lot of the demos from the `amp-orientation-observer` codepen don't work correctly.

/cc @nainar

[2019-09-06 18:33] choumx commented on #24390
I think the first error is actually from `custom-elements-v1` experiment. Toggling the experiment off fixes it.

Check out the bottom few stacks:
[code]

[2019-09-06 18:34] #24399 closed

[2019-09-06 18:37] jridgewell commented on #24390
It depends on if v0 loads canary or rc, but there are errors either way.

[2019-09-06 18:39] archon810 commented on #24306
Fantastic - the workaround works https://www.androidpolice.com/2019/08/28/gmail-finally-adds-that-smooth-account-switching-gesture-apk-download/?amp.

We'll revert it when this ticket is eventually properly resolved.

Thanks @westonruter!

[2019-09-06 18:41] jridgewell commented on #24390
amp-mustache is able to load a bad version because of a flawed check in https://github.com/ampproject/amphtml/blob/ec0bc776c17c42eabbe50ebefb840c5f7d2e42db/src/runtime.js#L883-L885. It's looking for a script with `[custom-element="amp-mustache"]`, but amp-mustache is registered with `<script custom-template="amp-mustache">`

[2019-09-06 19:05] choumx commented on #24390
amp-mustache's wrong version appears to cause the second error:
[code]

Separately, looks like this page is in the canary 1%. But amp-bind and amp-sidebar always have the wrong version (prod RTV). Why would only two extensions not be redirected to the canary RTV?

[2019-09-06 19:23] #24302 closed

[2019-09-06 19:32] choumx commented on #24390
Extensions being diverted to different RTVs is currently expected behavior. May be fixed in the future.

[2019-09-06 19:45] jridgewell commented on #24390
Actually, something is injecting `https://cdn.ampproject.org/amp4ads-host-v0.js`, which is overriding `AMP_CONFIG`. @lannka

[2019-09-06 20:11] jridgewell commented on #24390
The only time I can see the first error is when `amp4ads-host-v0.js` is injected onto the page.

[2019-09-06 20:23] lannka commented on #23509
since @cvializ has switched the focus, anyone from @ampproject/wg-ui-and-a11y can own this PR? /cc @kristoferbaxter

[2019-09-06 20:30] BurakDev commented on #24390
But why Google CDN is serving mixed AMP versions **ONLY** to visitors from our website ? (I checked with a script, this behavior happen only when there is our website http referer)

[2019-09-06 20:35] fstanis commented on #23990
I'll be presenting the design for a reference implementation of the AMP email viewer (design doc to be added by Monday).

[2019-09-06 20:44] wassgha commented on #24398
Spoke too early, not as easy as it looks. Essentially iOS 12.2 to iOS 13 completely disabled the `devicemotion` event for privacy reasons, while iOS 13 added a permission dialogue that requires a trusted event to be fired which means that the extension will need to have some UI component to it, see https://github.com/fartts/superfluity/issues/293

[2019-09-06 20:45] jeffkaufman commented on #24390
When I look at the source of https://dictionary-beta.cambridge.org/plus/ I see a strange mix of AMP and non-AMP.  For example, there's `<script async src="https://cdn.ampproject.org/v0.js"></script>` and other AMP scripts and elements, but there's also inline scripts and other things that are not valid AMP.

In this case it sounds like the problem is:

* One of your scripts is `gpt.js`, which is n

[2019-09-06 20:51] jridgewell commented on #24390
You're being selected for 1% diversion based on the referring URL. The diversion selection then randomly chooses between multiple binaries (canary, release candidate, control). Since all the script requests are coming from the same referrer (your page), they all get selected for 1%. However, each request is separate, and each may choose a _different_ binary. We're working to make diversion selecti

[2019-09-06 21:13] #24334 closed

[2019-09-06 21:13] BurakDev commented on #24390
@jeffkaufman Yeah, but all of the bugs happen on AMP valid version too 😢 https://dictionary-beta.cambridge.org/plus/?forceAmp (which have a custom implementation of ads)
@jridgewell Yes I understand, that's why we are going to target single AMP release using https://cdn.ampproject.org/rtv/REVISION/ endpoint, we can't experiment untested revisions of AMP on our production platform

[2019-09-06 21:17] CrystalOnScript commented on #24374
Hopefully my last question: @cathyxz in the two conditions when you refer to `the element` is that the element with the `overflow` attribute or the AMP component?

[2019-09-06 22:14] rsimha commented on #24286
No new stalled sauce labs builds since #24381 was merged yesterday.

[2019-09-06 22:14] #24286 closed

[2019-09-06 23:11] cathyxz commented on #24374
The element refers to the element requesting the resize, which is the AMP Component, not the element with the overflow attribute. We can think of it as allowing the developer to add an optional resize button to rectify the situation in the case that their component gets cut off due to AMP's resizing rules.

[2019-09-06 23:13] cathyxz commented on #24364
This issue is now resolved since #24365 hit production. An incoming post-mortem will be written in the cherry-pick issue #24366.

[2019-09-06 23:13] #24364 closed

[2019-09-06 23:59] jeffkaufman commented on #24390
Thanks!  Visiting https://dictionary-beta.cambridge.org/plus/?forceAmp I no longer see see it loading gpt.js or amp4ads-host-v0.js so it does sound like the issue is related to a bad interaction with gpt.js after all, and my hypothesis was wrong.  Sorry!

[2019-09-07 00:09] McAlex220 commented on #2273
Hi!
Can you please help me to install <amp-recaptcha-input>?
I've put ```
<amp-recaptcha-input layout="nodisplay"
      name="recaptcha_token"
      data-sitekey="6LfcQ7IUAAAAAIv1KcgqyExGK0v8dLJtvV_Q6xD-"
      data-action="recaptcha_example">
    </amp-recaptcha-input>
[code]

[2019-09-07 22:46] choumx commented on #24288
That's possible, but one issue is that could increase initial render latency for `amp-list` elements that are in first viewport (e.g. requires JS execution, no browser preload).

[2019-09-08 08:26] torch2424 commented on #2273
cc @zhouyx Can you help out @McAlex220 ? :smile:

[2019-09-09 06:05] archon810 commented on #24326
I just remembered what confused me further previously. https://developers.google.com/amp/cache/overview:

This document makes it seem like `update-cache` isn't needed at all, and with the right headers (such as s-maxage or max-age), the caches are updated automatically and in a timely fashion of seconds or minutes, which I don't believe to be the case.

Clarifications from the AMP core team would

[2019-09-09 06:12] archon810 opened #24407 "Document that Cloudflare AMP CDN is deprecated"
Hi,

https://cdn.ampproject.org/caches.json currently advertises 3 AMP CDNs: Google's, Bing's, and Cloudflare's.

In attempting to figure out why Cloudflare's AMP CDN isn't working with our recently-launched AMP site, I contacted them, and they just got back to me with this:

[2019-09-09 06:53] zhouyx commented on #2273
Thank you @torch2424 for adding me : )

@McAlex220 I'm happy to help. Here's the docs that can be of help
https://github.com/ampproject/amphtml/blob/master/extensions/amp-recaptcha-input/amp-recaptcha-input.md

Also the examples that @torch2424 added
* [AMP Page Demo](https://torch2424-amp-recaptcha-example.glitch.me/)
* [AMP Page Source](https://glitch.com/edit/#!/torch2424-amp-recaptcha-example)

[2019-09-09 08:53] ordyakov opened #24408 "Player controls don't work after dragging the docked video"
## What's the issue?
Player controls don't work after dragging the docked video

## How do we reproduce the issue?
1. open https://amp.dev/documentation/examples/multimedia-animations/advanced_video_docking/preview/?format=websites in responsive mode
2. play video, scroll the page and drag docked video to another corner
3. try to use controls

## What browsers are affected?
google chrome 76.0.3809

[2019-09-09 11:32] sebastianbenz commented on #24407
Thanks for letting us know!

//cc @CrystalOnScript for the doc updates

[2019-09-09 13:17] mark-dev14 opened #24412 "AMP-BASE-CAROUSEL Not Working NEED HELP"
Hello, I am trying to use amp-base-carousel from the examples provided on your page (https://amp.dev/documentation/components/amp-base-carousel/?format=websites). Nothing is working and I know this component is exactly what I am looking for on my website. Would it be possible to provide a working example of the responsive design of this component.

Thank you,
Mark

[2019-09-09 13:37] cpauwels opened #24414 "amp-video not autoplaying in amp-story"
## What's the issue?

`amp-video` components don't autoplay when present on the first page of a story. Only when advancing and then coming back to the first page will they start playing. The error message indicated in the story is "Video failed to load".

Interestingly the video `<source>` elements are is not shown in the DOM, and the error shown in the console is `Failed to load: [object HTMLVide

[2019-09-09 13:51] #23893 closed

[2019-09-09 14:01] mark-dev14 commented on #12177
is there a working example of the AMP Code for this?

[2019-09-09 15:20] cpauwels commented on #24414
Update: if you CMD+click the links above so they open in a background tab, and then navigate to the tab, the videos autoplay correctly. This makes me think it could be a race condition issue.

[2019-09-09 15:22] eawooten opened #24416 "Support for Session Storage in amp-script"
## What's the issue?

I have a client that is interested in using AMP for their hospitality sites. They currently track reservation information (check in date, number of guests, and duration) using session storage so implementing AMP has been difficult since there is no communication from AMP page to full site where the conversion has to take place.

## How do we reproduce the issue?

Having the a

[2019-09-09 15:22] eawooten commented on #24416
@choumx @kristoferbaxter

[2019-09-09 15:39] #14365 closed

[2019-09-09 15:54] AutadeJS opened #24417 "AMP Story Analytics"
As per the latest update on analytics regarding AMP Stories,
we had updated the code according to https://blog.amp.dev/2019/08/28/analytics-for-your-amp-stories/

Concern 1:  There is an error in the console ["on" and "request" attributes are required for data to be collected].

Example : {"on": "story-page-visible",
           "request": "event",
then there is no such console error, So it right t

[2019-09-09 15:58] cramforce commented on #14365
Woohoo!

[2019-09-09 16:59] nainar commented on #24397
Hi!

@cathyxz is layout="fill" supported on amp-image-slider?

Also @reinhardmohr the examples seem to be working fine on Chrome on Mac. Could you say more about what browser/device you are using?

[2019-09-09 17:05] nainar commented on #24412
Hi! amp-base-carousel is in experimental - can you try using amp-carousel version 2 instead? https://amp.dev/documentation/components/amp-carousel/?format=websites

[2019-09-09 17:05] #24412 closed

[2019-09-09 17:35] sparhami commented on #23990
If there is any time left, I'd like to talk about #24223, giving developers more control over which source to pick from a `srcset`, without affecting the layout dimensions of the `amp-img`.

[2019-09-09 17:43] sparhami commented on #23991
If we did not have time for https://github.com/ampproject/amphtml/issues/23990#issuecomment-529587077 in the previous design review, I'd like to talk about it (5-10 minutes).

[2019-09-09 17:59] torch2424 commented on #2273
Thank you @zhouyx ! 😄

[2019-09-09 18:28] cathyxz commented on #23991
@leafsy and I would like to present a new design for [<amp-sidebar>](https://docs.google.com/document/d/1FNduZqgOU8yl3j6_b-VpTvp9cmtbCfNQ25Vm8w-BXQc/edit#).

[2019-09-09 18:32] cathyxz commented on #24397
Per the validation file, layout fill is not supported by `amp-image-slider`. The examples are also working for me.

[2019-09-09 18:52] nainar commented on #23991
@ampproject/wg-stories @newmuis someone from the Stories WG should be present at this Design Review to make sure that the new sidebar experience is in line with the requirements of the Stories.

[2019-09-09 19:33] choumx commented on #24416
`localStorage` and `sessionStorage` are implemented and should work. Are you seeing otherwise?

`amp-state` interop is currently WIP.

[2019-09-09 19:40] eawooten commented on #24416
@choumx I did not try implementing them as the compatibility table says they are not supported. https://github.com/ampproject/worker-dom/blob/master/web_compat_table.md

Would love to hear that the table is outdated though, that would be great.

[2019-09-09 19:43] eawooten commented on #24416
It is indeed outdated. We can close this issue.

https://github.com/ampproject/worker-dom/commit/d809c7ad4d7b9513637589c76bc2dbc02226dd44

[2019-09-09 19:43] #24416 closed

[2019-09-09 21:21] CrystalOnScript opened #24419 "Carousel documentation points to GH when it is available on amp.dev"
This should be updated to point to the website https://amp.dev/documentation/components/amp-carousel/?format=websites

[2019-09-09 21:53] sparhami commented on #21500
I'd like to revisit @cramforce's suggestion to create a generic extension. I think this would be a good way forward to maintaining a clean code base without tying this functionality closely to any one provider.

We can then strip off parts of the url transformation (from the config that is mentioned) as client hints become available. It will also prevent the addition of non-generic business logic

[2019-09-09 22:10] #24254 closed

[2019-09-09 22:22] rsimha commented on #23960
This is still an issue. Reopening based on the discussion at https://github.com/ampproject/amphtml/pull/24047#issuecomment-524038214

[2019-09-09 23:55] choumx opened #24421 ""A more real AMPHTML image ad" test flaky in INABOX_LITE experiment"
Integration tests in `test-amphtml-ads.js` are flaky on Headless Chrome in experiment B (INABOX_LITE):
[code]

Two flakes on master today.

https://travis-ci.org/ampproject/amphtml/builds/582846281
https://travis-ci.org/ampproject/amphtml/builds/582910186

/to @lannka

[2019-09-10 00:21] #24141 closed

[2019-09-10 00:24] rsimha opened #24423 "Remove the `--eager_build` flag for the default `gulp` task"
#24386 changed the behavior of the default `gulp` task to lazy build by default, and added a `--eager_build` flag to trigger the old behavior.

Once everyone has gotten used to the new behavior,  remove the `--eager_build` flag.

Related to #24141

[2019-09-10 06:13] henrybarnathan commented on #21912
The CDN I am working with will deliver a webp if 'image/webp' is in the Accept header. Otherwise it delivers the original format, jpg or png, for the same URL. I am wondering which type will be cached by AMP cache and if AMP cache will cache the webp, what will happen in a browser that does not support webp if we aren't using the nested fallback image.

[2019-09-10 08:28] sebastianbenz opened #24425 "amp-selector: Propagate trust from toggle/selectUp/selectDown actions to "select" event"
## Proposed deprecation

When an `amp-selector`'s `toggle`, `selectUp`, or `selectDown` action is invoked, change the  trust level of the resulting `select` event.

Specifically, change it from always having "high trust" to having the same trust as the originating event that triggered `toggle` etc.

For example:
[code]

## What's the issue?

It's possible to circumvent AMP's low-trust level restri

[2019-09-10 12:32] chopki opened #24428 "amp-script: HTMLInputElement.cloneNode() causes error "ATTR_LIST: getNode(#) is null.""
## What's the issue?

When trying to clone `input` elements the error `ATTR__LIST: getNode(##) is null.` appears whether your are doing a deep clone or not. `p` and `div` and a few other elements seemed to work fine so it may be entirely related to form elements only, but on the example below it also errors on the form itself so presumably it may not be restricted to form elements.

## How do we r

[2019-09-10 13:25] adargit opened #24429 "amp-analytics and maybe other AMP scripts are blocked in EasyList"
Since today, our websites stopped working for users with ad blockers.
Can you please ask them to remove it from their list?

Thanks

[2019-09-10 15:01] nainar commented on #24419
@sparhami heads up

[2019-09-10 15:06] nainar commented on #24428
Assigning this to @kristoferbaxter since this is most definitely a Worker DOM issue.

cc @choumx FYI

[2019-09-10 16:52] jridgewell commented on #21912
I believe the Googlebot (the Google AMP cache's fetcher) will advertise WebP support, so you should be serving WebP to the cache. The, depending on the user's browser, we'll either serve the WebP or transform it to an acceptable format (either lossless PNG if the WebP is lossless, or JPG if the WebP is lossy).

[2019-09-10 18:16] choumx commented on #24425
Nice catch.

[2019-09-10 18:24] lannka commented on #24390
I read through the issue, just to confirm that
1) `Cannot read property '__AMP_TOP' of null` is not the cause of the breakage. because the error occurs in your working example.
2) are you saying refreshing the page gives you different runtime version each time (either 1909051756330 or 1909051800160)? That will be really weird as we don't do 1% canary in canonical domain. Could you explain how to r

[2019-09-10 18:31] lannka commented on #24390
hmm, @jeffkaufman your hypothesis might still be correct. it's possible that host.js is having a race condition with v0.js, and because AMP & inabox release is out sync, so mixed version is seen here.

[2019-09-10 18:31] jhoeltzel commented on #24354
@jpettitt, wanted to check - is your suggestion (making iframes visible to the AMPDoc) something that will pursue or is this on hold for now? Thank your for looking into it!

[2019-09-10 18:52] choumx commented on #24359
/cc @ampproject/wg-caching

[2019-09-10 18:55] choumx commented on #24417
/to @Enriqe

[2019-09-10 18:56] choumx commented on #24414
/cc @ampproject/wg-stories

[2019-09-10 18:57] choumx commented on #24392
/cc @fstanis

[2019-09-10 18:59] gmajoulet commented on #24414
Thanks for the report and for hosting the demos, I'll have a look today.

[2019-09-10 19:00] choumx commented on #24391
I just found a couple pages served from Bing's CDN from searching on bing.com e.g. [this one](https://www.bing.com/amp/s/amp.cnn.com/cnn/2019/09/10/football/iran-football-women-sahar-khodayari-spt-intl/index.html).

Is there a specific problem you're having?

[2019-09-10 19:00] #24391 closed

[2019-09-10 19:01] archon810 opened #24432 "Feature request: wp amp validate-site should support the ability to only check posts with AMP issues"
After rolling out AMP on our site with 40k+ posts, we started getting some AMP validation warnings from the AMP WP plugin, and as we were fixing them, it was relatively easy to tap the batch Recheck button in the WP UI to recheck the affected posts.

Then I found out about `wp amp validate-site` and ran it on all 40k+ posts, which generated 500+ urls with AMP warnings and 2000+ errors in the error

[2019-09-10 19:01] choumx commented on #24390
The root bug is fixed in #24402.

[2019-09-10 19:08] Gregable commented on #24359
I tried reproducing using:

[code]
And tested on https://validator.ampproject.org/ which uses the same javascript validator as you did. I think this follows your directions. However, I only see one error:

[code]

[2019-09-10 19:14] choumx commented on #13471
Closing now that amp-script is generally available.

[2019-09-10 19:14] #13471 closed

[2019-09-10 19:17] honeybadgerdontcare commented on #24359
If one were to invert the order of `amp-custom` then it does have two errors.

[code]

This is an issue worth flagging and we should try to improve these error messages. However it's most likely not a very high priority. If someone is interested in fixing this then please file a I2I or PR with a potential fix.

[2019-09-10 19:19] jeffreysbrother commented on #24359
Interesting!
I wonder what's causing this disparity.

In my case, the erroneous, plain style tag was inserted before the amp-custom style tag. I wonder if you'll see both errors if the illegal tag occurs begore the legal one. I was also inserted before all AMP scripts.

I'm able to reproduce after adding the following Google Optimize snippet in the same place I've mentioned above (before all AMP s

[2019-09-10 19:26] zombifier commented on #24421
Tried the tests locally, they fail reliably with the following recurring error in the console:

![image](https://user-images.githubusercontent.com/12178173/64643857-56445f80-d3df-11e9-9ec0-c9b2ee977bb7.png)

[2019-09-10 19:30] lannka commented on #24421
thanks @zombifier for the screenshot! I know what happened. Will fix.

[2019-09-10 19:59] coreyb-cbs opened #24433 "amp-animation not working in user-defined templates in GAM"
@lannka  @jasti  @aghassemi I am working on an amp ad product and have a good working test creative built in the system-defined Custom template in GAM. Once the R&D was complete and the ad behaved as desired I moved on to creating a user-defined template so traffickers can generate these ads at scale, but I'm finding that amp-animation / amp-position-observer isn't functioning as the background im

[2019-09-10 20:02] sparhami commented on #24425
amp-carousel 0.2 fires a `slideChange` on page load, but it should be a low trust event. This is intended behavior. It also fires one on autoplay, which is again low trust.

This contrasts with amp-carousel 0.1, which fires a `slideChange` on autoplay, as a high trust action.

We intended to change this for amp-carousel 0.1 (#21171), but have decided to postpone the change until `amp-inline-galler

[2019-09-10 20:21] #24120 closed

[2019-09-10 20:32] sparhami commented on #24425
Also, it doesn't seem correct that amp-selector should be able to toggle via a low trust action when it doesn't have a size defined layout (`layout="container"`). This means any low trust action (such as page scrolling via position observer) can cause the page layout to jump, which should not be the case.

Contrast this with carousel, which allows you to change slides on low trust action, but requ

[2019-09-10 20:33] sparhami commented on #24425
/cc @nainar Do you think it would be viable to change `amp-selector` to only allow toggle on low trust if the component has a defined size?

[2019-09-10 20:45] danielrozenberg opened #24438 "🚄 Release tracking issue for release 1909141409590"
# Release tracking issue

- [x] Release [1909100047420](https://github.com/ampproject/amphtml/releases/tag/1909100047420) is cut as a new canary release
- [x] Release 1909100047420 pushed to dev channel (5:21 PM, Sep 10, 2019 UTC-4)
- [x] Release 1909100047420 pushed to 1% (12:05 PM, Sep 11, 2019 UTC-4)
- [x] Release [1909131832350](https://github.com/ampproject/amphtml/releases/tag/1909131832350)

[2019-09-10 20:46] #24352 closed

[2019-09-10 21:00] gmajoulet commented on #24414
I just sent a fix, but the good news is that you don't have to wait for it to be available.

Your code is very specific and unveiled a code path we didn't consider. The fix will ensure it works for future use cases, but in the meantime, adding `width: 100%;` to your `.grid {}` CSS properties will give an initial size to all your components, and should play the video.

[2019-09-10 21:02] choumx commented on #24425
I wonder if amp-selector is ever used with non-container layout in practice.

[2019-09-10 21:11] alanorozco commented on #24393
![ono](https://user-images.githubusercontent.com/254946/64650811-e4ffaf00-d3d4-11e9-964e-ba2fdb247ade.png)

[2019-09-10 21:17] nainar opened #24441 "Document what high/low level trust actions on amp.dev"
https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/ doesn't document what high and low level trust actions are.

[2019-09-10 21:18] nainar commented on #24425
Agree with the deprecation plan.
Also filed an issue to make sure we cover what high/low trust means on amp.dev here: https://github.com/ampproject/amphtml/issues/24441

[2019-09-10 21:22] sparhami opened #24443 "Intent-to-Deprecate: amp-selector changing selection on low trust action"
Also, it doesn't seem correct that amp-selector should be able to toggle via a low trust action when it doesn't have a size defined layout (`layout="container"`). This means any low trust action (such as page scrolling via position observer) can cause the page layout to jump, which should not be the case.

Contrast this with carousel, which allows you to change slides on low trust action, but requ

[2019-09-10 21:26] nainar opened #24444 "amp-script should execute even if > 150kb for development=1"
Currently, if the script size is >150 kb we don't execute amp-script.

However if folks are developing locally they could be using unzipped source files. We should instead execute the file but still console warn then developer.

cc @choumx nad @kristoferbaxter

[2019-09-10 21:34] choumx commented on #24444
IMO the switch should be an invalid attribute e.g. `<amp-script debug>`.

[2019-09-10 22:08] diantekyrie opened #24446 "Amp-Ad resize request"
## What's the issue?
Multiple Amp-Ad resize request on single page

Briefly describe the bug.
When on an Amp page there will be a few Amp-Ad resize requests

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing the issue:

1. Opt into Canar

[2019-09-10 22:22] nainar commented on #24444
I have no preference of one over the other. Why this way though?

[2019-09-10 22:28] choumx commented on #24444
`#development=1` means real users could get this behavior on production AMP pages e.g. bad links/embeds, URL sharing.

[2019-09-10 22:28] sparhami commented on #24393
Some different configurations I have tested:

Have Bug:

Chrome 76, Mac
Chrome 77, Mac
Chrome 77, Linux
Chrome 77, Android

Work fine:

Firefox
Safari
Chrome 76, Linux
Chrome 76, Android

This is very likely a layout bug in Chrome's [new rendering engine launching in Chrome 77](https://www.chromium.org/blink/layoutng). Since their launch is soon, we may need to figure a way around it for now.

[2019-09-10 22:44] nainar commented on #24393
Tested disabling LayoutNG in Chrome and it works to corroborate the hypothesis above.

[2019-09-10 22:47] lannka opened #24449 "amp4ads-host-v0.js should not write AMP_CONFIG"
This might cause issues when inabox ads are served to dirty AMP. because inabox & AMP release can be out of sync, both v0.js and amp4ads-host-v0.js will race for writing the global AMP_CONFIG and causing mixed versions loaded on the page.

`amp4ads-host-v0.js` should be treated as an extension that should not write AMP_CONFIG.

[2019-09-10 22:48] lannka commented on #24390
Oh, cool. Shall we close this issue?

I think it worth a further investigation on @jeffkaufman hypothesis around host script. tracked separately: #24449

[2019-09-10 22:48] #24390 closed

[2019-09-10 22:48] kristoferbaxter commented on #24444
I don't have a strong preference, but if we do use an attribute, let's not introduce something that could break the HTML standard.

`data-debug` would be better than `debug` for instance.

[2019-09-10 22:55] cathyxz commented on #23453
Okay I think I reduced this to a minimal repro:
Cached version with srcset: https://codepen.io/cathyxz/pen/WNezBmv?editors=1000
Non-cached version without srcset: https://codepen.io/cathyxz/pen/gOYeNmb?editors=1000

I think this is just because the
[code]

styling forces the `img` tag to its natural size, which can be smaller for a lower browser width when the `srcset` attribute is generated, rega

[2019-09-10 22:55] lannka commented on #24449
@rsimha is this not the right list to look at?
https://github.com/ampproject/amphtml/blob/971a10c1530fbb62997f7d41fc90190d95c115ac/build-system/tasks/helpers.js#L81-L90

[2019-09-10 22:56] lannka commented on #24449
or is it out of sync with our release script?

[2019-09-10 23:01] cathyxz commented on #23453
/cc @jridgewell @honeybadgerdontcare

[2019-09-10 23:21] cathyxz commented on #24366
Reassigned back to myself for post-mortem.

[2019-09-10 23:23] rsimha commented on #24449
That is the correct list for local development. We use a completely different piece of code during releases because the release infrastructure makes multiple copies of the rtv directory before inserting different versions of `AMP_CONFIG` into each of them.

The lists could very well be out of sync. If the problem you're seeing is only during local development, feel free to delete the minified and

[2019-09-11 07:42] cpauwels opened #24454 "AMP Stories don't load in iframe if set as data url src"
## What's the issue?

When setting the source of an `iframe` as a data URL string containing an AMP Story source code, the AMP Stories don't render. This is the error given:

[code]

## How do we reproduce the issue?

I created an [example here](https://charles.tappable.link/iframe.html). The first `iframe` has its `src` set to a data url, the second one has its `src` set to the story link itself.

[2019-09-11 08:18] adargit commented on #8311
Hi
Since yesterday, amp-analytics and maybe other AMP scripts are blocked in EasyList.
Our websites stopped working for users with ad blockers.
Can you please ask them to remove it from their list?

Thanks

[2019-09-11 09:51] andrejoblakceltra opened #24455 "Animation doesn't resume in Edge and Safari"
## What's the issue?

If you have an amp-animation with infinite loops, animation doesn't resume when you switch to different browser tab and then return to the tab with animation. But it does resume if you do that one more time. We observed this issue on Edge, Internet Explorer 11 and Safari browsers. It works ok on Firefox and Chrome.

## How do we reproduce the issue?

Example which reproduces

[2019-09-11 09:53] chopki commented on #24444
Is this a document wide debug mode or a per resource debug mode here?

If you are looking to put everything into a debug mode (and possibly other elements could benefit in future, though not sure how atm) would it make sense to put the debug attribute on a more global attribute eg. `html` or `body`?

If though its a per element debug for instance, you only want to debug one and not other amp-scrip

[2019-09-11 10:02] chopki opened #24456 "should amp-analytics error when it cant find an element?"
## Describe the new feature or change to an existing feature you'd like to see

At the moment if you set up more generalised tracking e.g. whenever someone clicks on a link fire an event or whenever a form is submitted send an event and the page requested does not have the element you are tracking on it then an error is recorded:

![image](https://user-images.githubusercontent.com/2270132/64688142

[2019-09-11 10:15] sebastianbenz commented on #8311
I've done this already: https://forums.lanik.us/viewtopic.php?f=64&t=43484

Please chime in on the thread.

[2019-09-11 10:36] OEvgeny opened #24457 "Element toggleClass action stopped to work with classes which start with `amp-`"
## What's the issue?
We encountered the problem after AMP runtime got updated. I noticed that classes which start with `amp-` (e.g. `amp-opened`) don't work properly with `toggleClass` action anymore.

I checked AMP docs and haven't found any notes about `amp-*` class names are reserved.

## How do we reproduce the issue?
https://jsbin.com/biyuniwawo/edit?html,output

1. Click to "amp-opened" elem

[2019-09-11 11:18] adargit commented on #8311
Thank you sebastianbenz

It improved but I'm still getting this error with uBlock Origin:

GET https://cdn.ampproject.org/v0/amp-analytics-0.1.js net::ERR_BLOCKED_BY_CLIENT

[2019-09-11 12:21] sebastianbenz commented on #8311
@adargit Easylist still blocks amp-ad and amp-analytics. That is working as intended from their perspective. However, this should not affect the basic functionality of the page. If you discover anything (besides ads and analytics) that's not working, please file a bug.

[2019-09-11 12:34] adargit commented on #8311
OK
Thank you very much @sebastianbenz

[2019-09-11 12:35] adargit commented on #24429
fixed by @sebastianbenz

[2019-09-11 12:35] #24429 closed

[2019-09-11 12:35] adargit commented on #24429
see this issue
https://github.com/ampproject/amphtml/issues/8311

[2019-09-11 13:13] reinhardmohr commented on #24397
Hi,cathyxz and nainar,
thanks for helping.
Okay, the examples are working – I don't know what was wrong there …

But:
Your code on the page
https://amp.dev/documentation/components/amp-image-slider/?format=websites
still does NOT work.
Only your playground provides the correct code WITH LAYOUT=FILL !

So I provide 5 screenshots here:
1) highlighted code from your playground with layout="fill"
I co

[2019-09-11 14:47] cramforce commented on #24393
CC @chrishtr
Did we file a crbug.com yet?

[2019-09-11 15:37] newmuis commented on #23991
I will hopefully be able to attend!  My guess is that many of the details we care about may be fine-grained enough that they should be addressed in code review rather than design review, but will attend just in case and make sure that we communicate our needs.

[2019-09-11 16:15] gmajoulet commented on #24414
Thanks, I tested the fix with your example and it works :)

[2019-09-11 16:21] cpauwels commented on #24414
Do you have any timetable on when the fix will be published?

[2019-09-11 16:41] nainar commented on #24455
@wassgha could you take a look? This might be a regression

[2019-09-11 16:43] jeffkaufman commented on #24163
"Possible fix is that '>=' should probably be a '>' on line 565 in real-time-config-manager.js" sounds right.  I'll send a PR.

[2019-09-11 16:44] honeybadgerdontcare commented on #23453
Thank you for the detailed explanation and taking the time to find the underlying issue. From what you've discovered there is nothing the cache can do to improve the situation for users.

[2019-09-11 16:47] jeffkaufman commented on #24163
This is only a spurious warning; behavior is unaffected since after erroneously rejecting the supplied timeout for being equal to the default we fall back to the default.

[2019-09-11 17:10] #24414 closed

[2019-09-11 17:15] gmajoulet commented on #24414
I just merged the fix, it should be available in production in ~2 weeks. Do you think you could adjust your CSS so elements have a defined height in the meantime?
Please let me know if that works for you.

[2019-09-11 17:20] danielrozenberg opened #24462 "[canary error] Uncaught (in promise) TypeError: Cannot read property '__AMP_TOP' of null"
e.g., on https://m.aliexpress.com/wholesale/ufc.html?searchType=mainSearch&keywords=ufc&shadingAction=&channel=direct

[code]

This only happens on canary (RTV 1909100047420). Does _not_ happen on RC or in prod (1909051756330)

[2019-09-11 17:35] sparhami commented on #24393
Yes, it is https://bugs.chromium.org/p/chromium/issues/detail?id=1002748

[2019-09-11 17:48] choumx commented on #24462
Related to `custom-elements-v1`.

/to @jridgewell

[2019-09-11 18:02] westonruter commented on #24432
@archon810 Would you please close this issue and re-file on the amp-wp repo? https://github.com/ampproject/amp-wp/issues/new

[2019-09-11 18:08] jawadst opened #24464 "amp-consent: Expand the storage limit"
## What's the issue?

When a CMP iframe sends consent information to AMP (`consent-response` message sent via `postMessage`), the maximum string length is 150.

The size of the IAB consent string can vary when users make more granular choices due to the encoding of the string and the difficulty of encoding granular choices (vs encoding a yes or a no for all vendors). See https://github.com/Interac

[2019-09-11 18:11] cathyxz commented on #24374
This issue is resolved by #24445.

[2019-09-11 18:11] #24374 closed

[2019-09-11 18:35] lannka commented on #24449
yes, the problem is in release scripts. tracked here: b/140877200
will let you decide how we can keep the 2 in sync.

[2019-09-11 18:55] ThongSaltire opened #24469 "Uncaught Error: failed to call initLogConstructor"
## What's the issue?

If we place an amp-carousel inside the amp-iframe, the carousel will not work. It produces the error: Uncaught Error: failed to call initLogConstructor. This doesn't happen on the older version of amp.The error just appeared recently with the latest update of amp. So if we use the old version "https://cdn.ampproject.org/rtv/011908201719490/v0.js", the carousel works normally

[2019-09-11 19:09] archon810 commented on #24432
Whoops, my bad. Brainfarted that this is a WP feature because it's cli (but it's WP cli).

[2019-09-11 19:09] #24432 closed

[2019-09-11 19:10] archon810 commented on #24432
Opened https://github.com/ampproject/amphtml/issues/24432.

[2019-09-11 19:10] archon810 commented on #24432
Opened https://github.com/ampproject/amp-wp/issues/3227.

[2019-09-11 19:13] jridgewell opened #24470 "🌸 Cherry-pick request for #24513 into #24438 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24462 | #24513 | No | No | #24438 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)?

Any p

[2019-09-11 19:52] powerivq opened #24474 "Exposing more low-level Selenium API for e2e test"
We are looking to add a few e2e tests for amphtml ads that could open the ads target at a new tab. Therefore we need the API to check and switch tabs.

In addition, we would add APIs to do mouse clicking on a (x, y) coordinate

cc @estherkim

[2019-09-11 20:06] powerivq commented on #24474
cc @lannka

[2019-09-11 20:27] rsimha commented on #23990
### Discussion on owners bot, led by @rcebulko.

@mrjoro
An important reason for the existence of the owners bot is so we can open up merge permissions to the reviewers and collaborators teams on ampproject

@rcebulko
- Right now: Owners status is green if PR has full coverage, grey if not. Will be changed to a blocking check
- Right now: PR reviewers are suggested. Will be changed to auto-assign

[2019-09-11 20:28] rsimha commented on #23990
### wg-performance Quarterly Status Update 2019-09

See https://github.com/ampproject/wg-performance/issues/18

[2019-09-11 20:34] choumx commented on #24470
Curious why integration/visual tests didn't catch this. We should consider cherry-picking a PR that turns off the experiment until we have confidence of good component coverage through the new code paths.

[2019-09-11 20:48] jridgewell commented on #24470
@estherkim Are integration tests run with `getMode().test` enabled?

[2019-09-11 20:53] rsimha commented on #23990
### Discussion on AMP email viewer led by @fstanis

Design doc link: https://docs.google.com/document/d/1ULfDlmJDK30ABgA-QWXQvxvjlGCigA13Rl-qxhAFOR8/edit

**Highlights:**
- Viewer is aimed at email clients
- Two parts to the library
    - Documentation and specs
    - Open source implementation
- Also consists of a demo

**General workflow:**
- Input is email
- Check if there's an AMP part to the

[2019-09-11 20:54] jpettitt commented on #24354
We merged a fix as part of #24440 this morning - it will be in the Canary / Dev Channel next Tuesday late in the day.

The final fix was to add `addToFixedLayer()` to the `Doc` interface SwG uses as a no-op on non a AMP but when merged into AMP we pass in one that hooks up to AMP's `Viewport` which manager the iOS scrolling bug mitigation that underlies the need for a separate fixed layer.

The ef

[2019-09-11 20:56] jpettitt commented on #24354
@franniehannan @jhoeltzel you should probably kill those test accounts since the password is in this PR.

[2019-09-11 20:58] jpettitt commented on #24067
Demoting to P3 since there is a workaround.  Good fixit week issue.

[2019-09-11 21:02] rsimha commented on #23990
### Discussion on `img-sizes` attribute for `amp-img` by @sparhami

**Original context:** https://github.com/ampproject/amphtml/pull/24223

**Two options to solve problem:**
- `img-sizes` sizes attribute
- `cancel-layout` boolean attribute

@dvoytenko
- Ideally, it makes sense to change `amp-img` to standard behavior, so we can eventually eliminate `amp-img` in favor of `img` (Answer: Can disable

[2019-09-11 21:08] nainar opened #24477 "amp-youtube throwing a11y error in IE"
When the amp-youtube element is embedded, it includes a tag of frameborder="0" which is considered an error in Site Improve.
Here is an example of where the issue can be seen: https://www.allstate.com/blog/inspect-vehicles-air-filter-video/amp

Line of code identified from Site Improve to have the issue: <iframe frameborder="0"allowfullscreen src="https://www.youtube.com/embed/B97LrDyaYF4?enablejs

[2019-09-11 21:14] rcebulko commented on #24338
Response to questions in design review:

`OWNERS.yaml` syntax example file: https://github.com/ampproject/amp-github-apps/blob/master/owners/OWNERS.example.yaml

@honeybadgerdontcare : Looks like your needs would be covered by (ignore backslash, added to prevent tagging):
- One rule in `amphtml/validator/OWNERS.yaml`: `- @ampproject/wg-infra`
- One rule in `amphtml/OWNERS.yaml`: `- "**/validator-*

[2019-09-11 21:18] honeybadgerdontcare commented on #24338
@rcebulko 	It would be `@ampproject/wg-caching` 	for validator related items. And yes, those rules will cover what we need.

[2019-09-11 21:48] nainar opened #24480 "amp-mustache: Sanitizer strips amp-iframe[sandbox]"
When an amp-iframe is inserted in a mustache template, it seems that the sandbox attribute is stripped out.

For example, try putting the following code in the amp playground. The first iframe is rendered correctly (because allow-scripts is allowing js execution, while the second one is not, and looking at the generated HTML, the sandbox attribute is not present in the amp-iframe).

[code]

Filed

[2019-09-11 21:55] eduardogoncalves opened #24481 "[amp-carousel v0.2] Next button always visible"
Using amp-carousel v0.2 the next button is being always visible.
This doesn't occur on v0.1.

__Code:__
<img width="760" alt="Captura de Tela 2019-09-11 às 17 45 01" src="https://user-images.githubusercontent.com/4308648/64738349-f91edb80-d4bc-11e9-8414-c8576ba95b89.png">

__Error:__
<img width="1680" alt="Captura de Tela 2019-09-11 às 17 49 10" src="https://user-images.githubusercontent.com/430

[2019-09-11 22:06] cathyxz commented on #24366
Closing since post-mortem is complete.

[2019-09-11 22:06] #24366 closed

[2019-09-11 22:14] cathyxz opened #24483 "🌸 Cherry-pick request for #24466 into #24352 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24457 | #24466 | **YES** | **NO** | #24254 |
| #24457 | #24466 | **NO** | **YES** | #24438 |
## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contri

[2019-09-11 22:39] rsimha commented on #23567
Assigning to @erwinmombay, who is dealing with this in #24453

[2019-09-11 22:43] #24354 closed

[2019-09-11 23:02] alanorozco commented on #24338
@rcebulko LGTM!

[2019-09-11 23:05] estherkim commented on #24470
Yep just checked on Travis, they are. https://github.com/ampproject/amphtml/pull/24484

[2019-09-11 23:42] jridgewell commented on #24470
Then our tests should be running with CEv1 polyfill: https://github.com/ampproject/amphtml/blob/d10f092483c487e15acd8555b00b3a464f0b0064/src/polyfills.js#L48-L52

Are there integration tests for amp-mustache?

[2019-09-11 23:49] #24393 closed

[2019-09-12 00:39] AndrewKGuan opened #24486 "Auto redirecting from AMP to non-AMP allowed?"
Using an amp-iframe with the [sandbox attribute](https://amp.dev/documentation/components/amp-iframe/?referrer=ampproject.org#attributes), one can give his iframe the "maximum sandboxed" privileges, which also include the privilege to redirect. So that means one can build a contentless temporary splash screen using AMP and then redirect the user to their site from the cache-served AMP viewer.
I pe

[2019-09-12 00:46] cramforce commented on #24486
I think `amp-iframe` should rewrite `allow-top-navigation` as `allow-top-navigation-with-user-interaction` where supported (most browsers now).

[2019-09-12 00:46] cramforce commented on #24486
To @kristoferbaxter for prioritization

[2019-09-12 00:49] nainar commented on #24444
For the problem mentioned originally we need some way of putting all `<amp-script>` usages into debug mode since all of them would be effected by the unzipped files being too large.

We should label it data-amp-script-debug specfically unless we want to enable this to debug mode to do other non amp-script things like ignore the CSS limit for e.g.

[2019-09-12 05:51] rsimha opened #24487 "`gulp dist` is frequently timing out on Travis"
For example:
https://travis-ci.org/ampproject/amphtml/jobs/583921852
https://travis-ci.org/ampproject/amphtml/jobs/581750275
https://travis-ci.org/ampproject/amphtml/jobs/581434498
https://travis-ci.org/ampproject/amphtml/jobs/583763000

[code]

[2019-09-12 05:59] rsimha commented on #24487
Some ideas:
- Enable verbose logging to see which step is stalling
- Reduce `MAX_PARALLEL_CLOSURE_INVOCATIONS` and see if it makes a difference

[2019-09-12 06:33] #24455 closed

[2019-09-12 07:00] cpauwels commented on #24414
Works for me! Thanks 👍

[2019-09-12 08:18] cloudb opened #24489 "AMP components not working when viewed in Android App WebView"
#  What's the issue?

AMP components (eg images, accordion) and other functionality (eg variable substitution) do not appear to be working when a page is viewed within an Android App WebView

## How do we reproduce the issue?

Requires an android app that uses a WebView to display an "amp first" web page.

## What browsers are affected?

Apps on the android play store.

## Which AMP version is aff

[2019-09-12 08:49] veacks opened #24490 ""No ampdoc found for [object HTMLDocument] " when using "amp-shadow" with "amp-story""
## What's the issue?

When trying to load an `amp-story` with `amp-shadow` the browser answer the following error:

[code]

And

[code]
It works well with an `amp` basic page but not with an `amp-story`.

Sources used for amp basic (working): https://github.com/choumx/amp-pwa/blob/master/content/1.amp.html

Sources used for amp-story (not working): https://github.com/ampproject/docs/raw/master/tut

[2019-09-12 09:50] tranvansang opened #24491 "Can not make amp-ad be less than screen width."
##  What's the issue?

Currently, `amp-ad` tag requires width be `100vw`, and height be `300px`.
In my website, I want to put the ad in the sidebar whose width is one third of screen size.

For example, the followig snippet does not work

[code]

Here is the line of code which logs out error

https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-adsense-impl/0.1/amp-ad-networ

[2019-09-12 11:02] martinfischerextern opened #24492 "AMP Story Video randomly "Failed to load: [object HTMLVideoElement]​​​""
We are building AMP Stories with 5-7 Video-Pages, some of the videos-pages have an attachment.
Sometimes we see this error in JS console:
“error.js:202 Failed to load: [object HTMLVideoElement]
Fg @ error.js:202
Promise.catch (async)
h @ resources-impl.js:1821 …”

This happened randomly. Sometimes you need 10 requests to see it one time, sometimes you will get it 10 times in a row.
If you get this