[2017-07-12 16:51] ericlindley-g commented on #10230
Nice!  I'm guessing this doesn't work for variable-height items like text (which could wrap and cause new lines depending on viewport width)—is that right? Either way, this is super-useful

If this doesn't work for variable-height items: would it be possible for amp-list to understand the height of its children and resize based on that when amp-bind changes its src?

[2017-07-12 16:51] honeybadgerdontcare commented on #10380
@WillDonohoe That is working as intended. Any `i-amphtml-` css class will be prohibited as that's an internal css class for amp runtime. There may be another way to target the mask, adding @camelburrito for that possibility.

[2017-07-12 16:56] choumx commented on #10230
Correct, we'd have to allow amp-bind to change `layout` to `"container"`. It'd be a simpler solution than the one above. Seems like a reasonable FR.

[2017-07-12 16:58] mauricionr commented on #10375
nobody on slack :cry:

[2017-07-12 17:22] cvializ opened #10382 "Autoplay video paused by the pause action continues playing after re-entering viewport"
Should be a quick fix to set the `userInteractedWithAutoplay_` flag

[2017-07-12 17:29] #10041 closed

[2017-07-12 17:30] aghassemi commented on #10209
/cc @mrsufgi

[2017-07-12 17:49] ericlindley-g commented on #10230
Awesome — changing the title of the bug to reflect the request.

[2017-07-12 18:06] aghassemi opened #10385 "Create amp-date-countdown component"
# Requirements
## MVP
-  Ability to set an enddate (probably ISO format with optional timezone section similar to `amp-timeago`) and get some default out of the box rendering. (e.g. `2 days 10 hours 2 minutes 30 seconds` )
- Ability to customize and internationalize the format: (e.g. `3 jours 10:02:30`)
  -  Since numbers are dynamic, pluralization of the words matter here
-  Ability to provide fo

[2017-07-12 18:07] jridgewell commented on #10335
It was just moved to https://github.com/ampproject/amphtml/blob/master/spec/amp-managing-user-state.md.

[2017-07-12 18:40] bjalford commented on #10385
Worth looking at time-ago and whether it can handle both? Negative times?

[2017-07-12 18:52] jpettitt opened #10388 "IAB ads.txt specification appears to be incompatible with AMP"
The IAB has released the final ads.txt specificatrion https://iabtechlab.com/wp-content/uploads/2016/07/IABOpenRTBAds.txtSpecification_Version1_Final.pdf

The relevant parts are [emphasis added]

and

This implies that a page served from `example-com.cdn.ampproject.org` will use the `ads.txt` file for the`ampproject.org`root domain.

As written there is no way for a publisher to control who can se

[2017-07-12 18:52] jridgewell commented on #10375
The original file was just moved to https://github.com/ampproject/amphtml/blob/master/spec/amp-managing-user-state.md.

[2017-07-12 18:52] #10375 closed

[2017-07-12 18:54] jridgewell commented on #10380
/to @camelburrito. Maybe @tiendt can take this?

[2017-07-12 18:57] camelburrito commented on #10380
yes @tiendt - do you wanna take this?

[2017-07-12 18:59] jridgewell commented on #10388
/to @jasti

[2017-07-12 19:37] mauricionr commented on #10375
Thanks @jridgewell

[2017-07-12 19:37] zhangsu opened #10390 "amp-form doesn't get rendered inside amp-list"
## What's the issue?

amp-form placed inside the Mustache template of an amp-list gets sanitized and stripped out.

## How do we reproduce the issue?

Open an AMP HTML page containing the following:

[code]

Inspect the rendered HTML and find that `<form>` is completely stripped out of the rendered list items.

@choumx

[2017-07-12 19:56] coreybyrnes commented on #9546
@keithwrightbos I'm not sure how remote HTML or useSameDomainUntilDeprecated relates? I want to run a simple DFP creative that hides the <amp-ad> element.

[2017-07-12 19:59] choumx commented on #9723
This was fixed with #10169.

[2017-07-12 19:59] #9723 closed

[2017-07-12 20:11] tiendt commented on #10380
@camelburrito yeah sure!

[2017-07-12 20:13] aghassemi commented on #10390
@choumx this is dup of https://github.com/ampproject/amphtml/issues/9768, let's clone one of them.

[2017-07-12 20:14] aghassemi commented on #10382
@cvializ  might be dup of https://github.com/ampproject/amphtml/issues/9055

[2017-07-12 20:17] choumx commented on #10264
I'd like to discuss some thoughts on our services API and AMP embeds (aka AMP Roots, originally proposed by @dvoytenko).

https://docs.google.com/document/d/1RjyGFXUfIudrwFmfHWhsMwprOtgDIO4chyo4cNhQ_Tc/edit#heading=h.ydr456a07ivp

[2017-07-12 20:20] choumx commented on #10390
Closing in favor of #9768.

[2017-07-12 20:20] #10390 closed

[2017-07-12 20:20] choumx commented on #9768
/cc @choumx @zhangsu

[2017-07-12 20:29] choumx commented on #9768
#7434 fixed this issue for amp-live-list. We can probably apply a similar fix for amp-list (dispatch `AmpEvents.DOM_UPDATE` on render).

[2017-07-12 20:34] cvializ commented on #10382
Looks like you're right, thanks! I noticed this behavior when implementing video analytics and I missed that issue when I was looking for duplicates.

[2017-07-12 20:34] #10382 closed

[2017-07-12 20:59] muxin opened #10391 "Lightbox 2.0 toggling caption not in sync with toggling top bar"
Sometimes when sliding through a slide that doesn't have a caption, then on the next slide, the toggling of caption and toggling of top bar become not in sync.

[2017-07-12 21:30] choumx commented on #9860
Sounds like we want both `placeholder` and `fallback` like `amp-ad`: https://www.ampproject.org/docs/guides/responsive/placeholders

@ericlindley-g Is "statically rendered content" just plain HTML or local JSON data?

[2017-07-12 21:34] taymonbeal commented on #9546
@keithwrightbos: Yes, they're using both of those.

[2017-07-12 21:36] ericlindley-g commented on #9860
The case I was thinking of for "statically rendered content" was just `placeholder`, which works today.

[2017-07-12 21:37] choumx commented on #9424
Is this a dupe of #5686 (which appears to be closed as WAI)? Dima made good points in that issue that this probably shouldn't be allowed due to empty space and content jumping.

[2017-07-12 22:14] muxin opened #10393 "Lightbox 2.0: add gradient effect to gallery view and overflown caption"
For gallery view:
- Add gradient bar on top, padding-top before grids, and grid content can go under it

For overflown caption:
- If the caption overflows all the way to the top, have a padding-top for the caption and a gradient bar over the caption, the caption content can go under it.

[2017-07-12 22:21] lannka commented on #10374
@mattrohland do you have a page that we can reproduce the issue?

[2017-07-12 22:52] jridgewell commented on #10311
This is an internal bug with Google Viewer. b/63636918

[2017-07-12 23:05] 10xjs opened #10395 "FR: Navigation controller component"
As `amp-bind` becomes more powerful, it is becoming possible to create more app-like experiences in amp. A feature that would really augment this would be a method of navigating between different "views". This would unlock native style SAP experiences.

Currently this experience can be implemented with an `amp-carousel` that covers the entire viewport.

[code]

This works but isn't ideal and feels

[2017-07-12 23:13] 10xjs opened #10396 "FR: amp-img loading state"
The `amp-img` component does not currently provide any way to target elements that are currently loading. The motivating use-case is to add a css opacity fade transition to the img when it loads.

A generic solution would be to have amp add a class or an attribute to `amp-img` that can be targeted with a css selector.

[code]

[2017-07-12 23:15] rsimha-amp commented on #10377
Update: See comment thread in #10389. Once we add code to wait for font loading, it appears that the underlying issue is due to `amp-font.js` reporting that the fonts were loaded even though they clearly weren't. This repros when a page is loaded in phantomjs, but not when loaded in a chrome browser pointed at a local `gulp serve` instance.

[2017-07-12 23:24] 10xjs commented on #7379
@choumx @camelburrito @ericlindley-g

We should also consider the motivation for why I am interested in using this feature.

My intent is to use `amp-form` to act as a source of app state by communicating with a search/filter API endpoint. Is this too far outside what amp-form was designed for? The examples show the action-xhr feature as a way to create an inline signup newsletter signup form.

[2017-07-12 23:52] ericlindley-g commented on #9424
This issue is slightly different, but let me try to break down both issues:

Goal (1) (related: #5686)
Support use cases for amp-list where potentially no items will be returned

Current pain point: amp-list resizes based on best effort when it comes near the viewport. What it doesn't currently support (as far as I understand) is the following: starting with a size of "0" and resizing to take up s

[2017-07-13 01:40] 1987yama3 commented on #9959
@lannka LGTM!

[2017-07-13 05:37] mrsufgi commented on #10209
maybe adding crossorigin="anonymous" to the video HTML element could help,
I'll try fixing it and post my findings asap :)

[2017-07-13 10:57] techleadzwpteam opened #10400 "AMP Uncategorized Errors On Structured Data Testing Tool"
I have facing  Uncategorized  Errors while I am checking my AMP Site into  Structured Data Testing Tool.

Please have a look: http://www.screencast.com/t/dIH9J05jhP

 Currently I have removed the curl code from the site.

Please guide how should I removed that error

https://search.google.com/structured-data/testing-tool#url=www.girpropertyclaims.com%2Famp

 **I need to fixed this Asap.**

[2017-07-13 13:17] lydiameteored commented on #10376
Thanks for your speed answering me. I've made the change that you told me but it remains without working.

[2017-07-13 14:33] jongrim commented on #9597
@choumx I just opened one, #10401. I wasn't able to add you as a reviewer myself, so I guess that has to be assigned separately.

I'll keep taking a look at it to see if I can make any progress, but if you can look deeper into what's causing these to fail that'd be great! Thanks.

[2017-07-13 16:06] rsimha-amp commented on #10377
I did some more debugging, and here's what I found:

On Chrome, `fontloader.js` attempts to load the fonts [with the native api](https://github.com/ampproject/amphtml/blob/13c260dca58831463a77c5ebccef86e9918d1fbd/extensions/amp-font/0.1/fontloader.js#L113) and fails while doing so (as expected).

With PhantomJs, `canUseNativeApis_()` is false, so the fonts are loaded with polyfill. Inside `loadWit

[2017-07-13 16:08] cramforce commented on #10377
Could be.
+ @camelburrito who wrote the polyfill.

[2017-07-13 16:20] rsimha-amp commented on #10377
@camelburrito, here is what led me to my conclusion that polyfill font loading might have a bug:

- Tracing logs for font loading added in https://github.com/ampproject/amphtml/pull/10402/files
- Percy logs with code added above at https://travis-ci.org/ampproject/amphtml/jobs/253274877 (Notice that the page contains `.comic-amp-font-loaded` when it should contain `.comic-amp-font-missing`)
- Perc

[2017-07-13 17:13] aghassemi commented on #10376
Thanks for the update @lydiameteored, to @muxin for further triage.

[2017-07-13 17:28] choumx opened #10404 "amp-bind: Allow trailing commas in literals"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know

- Some familiarity with JS.

### Background
[amp-bind](https://www.ampproject.o

[2017-07-13 17:45] camelburrito opened #10406 "Make i-amphtml-* selectors strict"
We use the `i-amphtml-*` classes/selector in a lot of places in AMP

The reason these css classes are special is because they are not supposed to be easily targetable or overridable. These are usually added to existing DOM elements or by creating new DOM elements a result of building an extension.

I think we will need to make these classes more strict by

1. Making properties that should not be o

[2017-07-13 18:04] zhangsu opened #10408 "Allow PUT, PATCH and DELETE for amp-form"
Currently, [the only allowed HTTP verbs](https://github.com/ampproject/amphtml/blob/master/src/service/xhr-impl.js#L63) (specified in the `method` attribute) for `amp-form` (with `action-xhr`) is GET and POST. Can we enable PUT, PATCH and DELETE as well? These are most commonly mapped to whole-message update, partial update and deletion of resources in RESTful APIs.

@choumx

[2017-07-13 18:22] #9987 closed

[2017-07-13 18:26] rsimha-amp opened #10409 "Ruby process running `visual-diff.rb` exits before node process running `gulp serve` can print its exit message"
The visual diff tests run `gulp serve` in a node process before taking snapshots. When the server is shut down, it logs an exit message, which often gets printed out after the parent ruby process has already exited, and gets mixed up with the logs of the next command in `pr-check.js`.

For example, see this snippet from https://travis-ci.org/ampproject/amphtml/jobs/253013442:

[code]

The order in

[2017-07-13 18:33] jridgewell commented on #10408
/to @aghassemi

[2017-07-13 18:49] muxin commented on #10376
@lydiameteored Could you send a sample url?

[2017-07-13 18:57] jridgewell commented on #10400
You have two objects in the json-ld field. Delete the first one (with `ampUrls` and `urlErrors`).

[2017-07-13 18:57] #10400 closed

[2017-07-13 19:00] erwinmombay opened #10413 "fixed layer broken in current optin canary"
<img width="473" alt="broken" src="https://user-images.githubusercontent.com/354746/28182991-b0cc4fd4-67c2-11e7-8319-5f5ae4059130.png">

steps to repro:
nexus 5x simulation in chrome incognito mode.
make sure to optin into latest canary
search for the term "obama"
swipe through the carousel until you find a new york times article and then scroll down

[2017-07-13 20:04] muxin commented on #9644
I think this is fixed. @supriya-raj I'm closing the issue. Free feel to reopen it if it happens again.

[2017-07-13 20:04] #9644 closed

[2017-07-13 20:09] mattrohland commented on #10374
It turns out that the documentation provided by Adobe was not followed precisely in our implementation (https://marketing.adobe.com/resources/help/en_US/sc/implement/accelerated-mobile-pages.html).

Stripping out a lot of the noise, the following code was in use in our implementation:

[code]

Inclusion of the `vars.documentReferrer` entry deviated from Adobe's documentation and appears to be the

[2017-07-13 20:09] #10374 closed

[2017-07-13 20:16] wildflowertester opened #10415 "[AMP Banner] - The AMP banner does not appear"
## What's the issue?
Issue:
The AMP banner does not appear. (I can provide a video if needed)

## How do we reproduce the issue?

1. Clear the cache
2. Go to the sandbox link
3. Observe the issue (banner does not appear)

## What browsers are affected?
- Stock 2.1.34.33-1_100500_43695
- Opera 42.7.2246.114996

What device type?
- Samsung Galaxy S5 (OS 5.0)

## Which AMP version is affected?

Is th

[2017-07-13 20:27] #10409 closed

[2017-07-13 20:39] aghassemi commented on #10415
/to @muxin couple of reported issue today, setting a p1, can you see if there is a regression in the newest prod?

[2017-07-13 20:49] wildflowertester opened #10417 "[AMP Banner] - The button of app "Medium" has status "Installed" in the Play store"
## What's the issue?
Issue: The button of app "Medium" has status "Installed" in the Play store before user tried to install it.  (The video of this issue could be provided if needed)

## How do we reproduce the issue?
1. Open the browser and clean the cache
2. Place AMP Cache  in viewer sandbox links
3. Tap on the AMP -banner
4. Wait for downloading of Play store page. Do not tap on any types of

[2017-07-13 20:53] lannka commented on #10374
@mattrohland since you get that far, it will be appreciated if  you could file a bug against adobe folks :-)

[2017-07-13 21:00] dandv commented on #1411
For SEO purposes, here's the documentation on [AMP A/B testing](https://www.ampproject.org/docs/reference/components/amp-experiment). Note that `<amp-experiment>` doesn't show up among Google searches for "AMP A/B testing".

[2017-07-13 21:07] wildflowertester opened #10419 "[AMP Banner] - The tapping on amp-banner redirected user to the medium.com"
## What's the issue?
Issue: The button of app "Medium" has status "Installed" in the Google store before user tried to install it. (The video of this issue could be provided if needed)

## How do we reproduce the issue?

1. Open the browser and clean the cache
2. Place AMP sandbox link to amp test input box and click "RUN TEST"
4. Click "Preview search result", and open the search result link
5. T

[2017-07-13 21:15] testengineer9 opened #10420 "Opera app-banner does not respond to tapping in iOS10"
## What's the issue?
Nothing happen when tapping on the app-banner in browser Opera. Please see screen capture video, Opera_iOS10.m4v.zip.
[Opera_iOS10.m4v.zip](https://github.com/ampproject/amphtml/files/1146550/Opera_iOS10.m4v.zip)

# How do we reproduce the issue?
1. Open the following URL link with Opera browser in iOS10
    https://ampbyexample.com/components/amp-app-banner/
2. Tap on "VIEW I

[2017-07-13 21:16] wildflowertester commented on #10420
The same was observed on Samsung Galaxy S5 (OS 5.0)
- Stock 2.1.34.33-1_100500_43695

[2017-07-13 21:17] cramforce opened #10421 "Document how to do AB testing with AMP experiment"
This page should concretely describe how to do AB testing.

[2017-07-13 21:17] cramforce commented on #1411
Filed https://github.com/ampproject/amphtml/issues/10421

[2017-07-13 21:33] wildflowertester commented on #10415
The same issue was observed on
- Samsung Galaxy Note 5  (OS 6.0.1) - Chrome 59.0.3071.125
- Samsung Galaxy Note 5  (OS 6.0.1) - Stock 5.4.00-75
- Samsung Galaxy Note 5  (OS 6.0.1) - Opera 42.7.2246.114996

[2017-07-13 21:34] testengineer9 commented on #10420
The "VIEW IN APPS" button also has not been seen on Chrome (v59) and Firefox(v7.5) in iPhoneSE (iOS v9.2.1).
![ios9_app-banner](https://user-images.githubusercontent.com/30087065/28188819-5623ce98-67d8-11e7-859e-165f4d739eb6.PNG)

[2017-07-13 21:42] Wleyba opened #10424 "AMP Banner does not Show on Opera"
What's the issue?
AMP Banner does not show on Opera on origin. (https://ampbyexample.com/components/amp-app-banner/)

AMP Banner appears via AMP Cache (https://ampbyexample-com.cdn.ampproject.org/v/s/ampbyexample.com/components/amp-app-banner/?amp_js_v=0.1)

How do we reproduce the issue?
1.  Open Opera browser
2.  Place origin sandbox link
3.  Observe AMP Banner does not appear

What browsers are

[2017-07-13 21:42] rudygalfi commented on #7096
On further consideration, I'd be ok with certain more structured aspects of the vendor config to be non-overridable and have this enforced by AMP. It should come with a user error to let the developer know that a portion of their config is getting ignored. cc @lannka

[2017-07-13 21:52] Wleyba opened #10425 "AMP Banner Opens Play Store when app is installed in Opera"
What's the issue?
Tapping AMP Banner opens Play Store instead of opening AMP article even when App Medium is already installed.  Applies to both AMP Cache and Embed in viewer sandbox links.

How do we reproduce the issue?
1. Open Opera browser
2. Place AMP Cache or Embed in viewer sandbox links
3. Tap on AMP Banner View In
4. Observe Play Store page opens

What browsers are affected?
Opera ver 42.

[2017-07-13 22:04] muxin commented on #10415
On android chrome, for standalone page, it is intended not to show amp-app-banner because the default chrome banner might show up.

Not sure about stock or opera yet.

[2017-07-13 22:20] testengineer9 opened #10427 ""Cannot Open Page" message pops up before app store"
## What's the issue?
A "Cannot Open Page" message pops up when tapping "VIEW IN APP" button, app store comes up after a second latter. Note: this happen when the app has not been installed in the device.

[error_message_firefox_ios10](https://user-images.githubusercontent.com/30087065/28190204-9e1352e0-67de-11e7-8301-6b6666f013e2.PNG)

Screenshot video,
[Firefox_iOS10.zip](https://github.com/amppr

[2017-07-13 22:21] camelburrito commented on #10377
The polyfill keeps measuring size of a span and compares it with the original size (before the font load is triggered) and keeps doing this till the size changes or it times out. So it is expected to be flaky sometimes.

In this case we are getting a success when the font has not loaded, my questions are :

1. The snapshot shows text in red which means font loading failed - isnt that what you are

[2017-07-13 22:34] muxin commented on #10415
Lowering the P level since chrome's behavior is correct.

[2017-07-13 22:52] testengineer9 opened #10429 "No banner in web search viewer"
## What's the issue?
The app-banner has not been seen in web search viewer.
Please see the screenshot below,
[nobanner_searchviewer](https://user-images.githubusercontent.com/30087065/28190838-c632cc80-67e1-11e7-8a13-265555e55988.PNG)

Screen capture video also can be found below,
[nobanner_searchViewer.zip](https://github.com/ampproject/amphtml/files/1146866/nobanner_searchViewer.zip)

## How do

[2017-07-13 23:05] ashrafpro opened #10431 "amp-ad adsense warning"
Hi,
I get 3 warnings whenever I use adsense within my page
adsense code:
`<amp-ad width=300 height=600 type="adsense" data-ad-client="ca-pub-12345678901234567" data-ad-slot="1234567890"></amp-ad>`

I added the script last thing before closing the head
`<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>`

`The resource https://d-40757339831036881616.am

[2017-07-13 23:14] dvoytenko commented on #4948
Closing as infeasible.

[2017-07-13 23:14] #4948 closed

[2017-07-13 23:16] torch2424 opened #10432 "[amp-sidebar 1.0][Toolbar] Consider Naming convention for toolbar-only"
toolbar-only is a bit vague, please see the discussion at #10372

The comments should be within the 'outdated changes' accordians

[2017-07-13 23:22] #9502 closed

[2017-07-13 23:42] dvoytenko opened #10433 "Analytics: support positioning analytics for inabox via position observer"
Spun off #8201. The messaging position observer needs to be exposed to calculate `elementX` and `elementY` specifically for the in-a-box case. Search for `#10433` in the code.

/cc @aghassemi

[2017-07-13 23:45] #10433 closed

[2017-07-13 23:48] Raji2 commented on #10415
The same issue was observed on Stock browser in 2 different devices

Browser :Stock
1.Galaxy S4/ Android version:4.4.2 / KOT49H
2.Samsung Jelly Bean /Android Version:4.3 / Build:JSS15

[2017-07-13 23:55] #10327 closed

[2017-07-14 00:30] muxin commented on #10415
Thanks for filing the issue.

The problem is in our code we couldn't differentiate chrome/stock/opera. If the following `this.canShowBuiltinBanner_` is `true`, we hide the `amp-app-banner`
[code]
We hide the `amp-app-banner` intentionally for non-embedded android chrome. But Stock and Opera also looks like chrome. Identifying Opera is easy but I'm not sure about stock browser

Let me investigate m

[2017-07-14 04:39] wassgha commented on #10313
@camelburrito could be possible using transparent overlays like we do for autoplay and drag/drop in the video manager, no?
@ericlindley-g I think this could be generalized to making the gesture recognizer support desktop (mouse events as well as touch events)

[2017-07-14 04:46] ericlindley-g commented on #10313
@wassgha  — definitely intrigued! Are you thinking of this as something that developers would implement for their AMP pages, or as something to integrate into particular AMP components or framework (or both?).

Would this approach intercept touch/click events?

[2017-07-14 04:55] wassgha commented on #10313
Nevermind, I mistakenly thought `amp-carousel` used the `gestureRecognizer` for its swipe-to-scroll logic but it turns out it has its own implementation. Both `amp-carousel` and `gestureRecognizer` currently only listen for touch events, so if possible, it would be great to have them support mouse events as well.

[2017-07-14 04:56] camelburrito commented on #10313
We sort of have a gesture recognizer already on the runtime. It's a matter of exposing it . Again carousel is already complicated.

@wassgha no transparent overlay would not work , it was the first approach we tried for carousel . Video is a simpler subset of what carousel supports .

Let's talk about it tomorrow and get some closure

[2017-07-14 07:18] blueyedgeek commented on #10404
hi @choumx, I'd very much like to work on this issue. Can I proceed?

[2017-07-14 11:58] AltanAdacay commented on #1768
Hi, I have recently seen a similar addition to the AMP pages in Google Analytics Right Now system. Is that a problem? "...?usqp=Mq331aqcca="

[2017-07-14 13:54] choumx commented on #10404
@blueyedgeek Great! Go for it. 👍

[2017-07-14 15:01] rsimha-amp commented on #10377
That's not true. What you're seeing as red is Percy highlighting the fact that the text does not match what is expected. The actual text is black (try clicking on the snapshot), and the actual page contains `.comic-amp-font-loaded` when it should contain `.comic-amp-font-missing`.

Yes, it can. See the positive test where the fonts are available. For example, https://percy.io/ampproject/amphtml/bu

[2017-07-14 15:06] rsimha-amp commented on #10377
@camelburrito, am I to understand that font loading is supposed to be flaky with polyfill, meaning when a font is missing, the font loader sometimes reports a success, and at other times, a failure? If so, that seems like buggy behavior, right?

Malte asked for this test specifically to make sure that we don't have unexpected results when a font load fails. So I'd argue that the behavior should be

[2017-07-14 15:10] lannka commented on #10358
Duplicated with #10307

[2017-07-14 15:10] #10358 closed

[2017-07-14 15:24] bradfrizzell opened #10439 "Remove remove-glade-carveout experiment flag"
Cleanup issue.

[2017-07-14 16:06] chenshay opened #10440 "Investigate how to log channelOpen failures"

[2017-07-14 16:13] aghassemi commented on #10408
/cc @cvializ @ericlindley-g

[2017-07-14 16:13] lannka commented on #9262
this should have been addressed in #9823
though i guess the browser side support has just been [checked in a month ago](https://github.com/w3c/preload/issues/80#issuecomment-305915330), so right we still see the [same error message on chrome stable](http://output.jsbin.com/newanaf
) (couldn't launch chrome canary on my machine to verify, it crashes on every start up!).

[2017-07-14 16:13] #9262 closed

[2017-07-14 16:19] camelburrito commented on #10377
Its the other way around , sometimes we timeout and fail even while the download is still in progress.

Missing fonts should always fail.

This does not need any changes,the versions of safari that have the new font API should automatically use the native APIs

[2017-07-14 16:22] rsimha-amp commented on #10377
In that case, we have a bug, because missing fonts are showing as loaded most of the time.

[2017-07-14 16:24] aghassemi commented on #10408
@zhangsu HTML `form` only allows `GET` and `POST`, if AMP allows this, it would only be for `xhr-action`.

[2017-07-14 17:33] #10421 closed

[2017-07-14 17:42] ericlindley-g opened #10446 "FR: Resize iframe based on % of viewport"
Currently iframe resize is based on a number sent from the iframe itself, without knowledge of the context in the page (including viewport width). This is a feature request to give iframes the ability to send this resize request based not on a pixel value, but rather a % of the viewport

Question: could this be accomplished indirectly by just exposing information about viewport size to the iframe

[2017-07-14 17:55] ericlindley-g opened #10447 "Discussion: Using AMP library in non-AMP pages"
This discussion has come up more casually before, but I wanted to raise the idea here to think through it a bit (may warrant a discussion in the weekly review).

In short: is there a way to support usage of the AMP library in the context of non-AMP pages?

The use-case that came up recently is that some developers create their AMP page first, and then build canonical equivalents around those pages

[2017-07-14 17:56] #8852 closed

[2017-07-14 18:04] cramforce commented on #10447
This is supported in the PWAMP combo using well defined primitives.

[2017-07-14 18:39] aghassemi commented on #10446
I'd prefer supporting `vh` `vw` with `resize` message so we can handle viewport changes (e.g. portrait -> landscape) in AMP, otherwise iframe would need to send another resize message if they are calculating it themselves.

[2017-07-14 19:13] bradfrizzell opened #10448 "Add support for fully randomized test runs locally"
Our testing infrastructure, when run locally, should run all tests in random order to facilitate detection of flaky tests / tests that are leaking state.

I've already added support for running tests in random order by file (i.e. the tests within each file still run from top to bottom). To do this, run `gulp test --randomize`

However, if we can modify the test runner to fully randomize, that woul

[2017-07-14 19:15] bradfrizzell opened #10449 "Test behavior varies when run with/without --watch"
Currently observe different behavior when running tests with/without --watch.

Steps to reproduce an example:

`gulp test --files=extensions/amp-ad-network-doubleclick/0.1/test/test-amp-ad-network-doubleclick-impl.js`
// Observe approx 25 tests run

`gulp test --files=extensions/amp-ad-network-doubleclick/0.1/test/test-amp-ad-network-doubleclick-impl.js --watch`
// Observe approx 10 tests run

[2017-07-14 19:16] bradfrizzell opened #10450 "Change test --randomize option to save seed instead of blob"
gulp test --randomize spits out the blob of test ordering that it ran, to rerun later. Just instead change the randomization to take a seed as input. Much simpler

[2017-07-14 19:22] jridgewell commented on #10450
https://github.com/davidbau/seedrandom

[2017-07-14 19:31] jridgewell commented on #10431
You can safely ignore these errors.

[2017-07-14 19:31] #10431 closed

[2017-07-14 20:06] dvoytenko opened #10452 "Animations: support SVG transforms"
TODO:

- [x] [BLOCKED] Deploy new Web Animations polyfill. See https://github.com/web-animations/web-animations-js/pull/148
- [x] Docs

See https://github.com/web-animations/web-animations-js/pull/148
See https://github.com/web-animations/web-animations-js/issues/83

[2017-07-14 20:06] sffriend opened #10453 "Can't apply global style based on the user preference"
On Reddit, we have a user preference called Night Mode that uses CSS to make the site darker. We would like to be able to change the css of our amp pages based on this preference. We tried the approach of using amp-access to retrieve the user's preference by getting this data from the authorization json response.

Here you can find the approach that we used:
https://jsbin.com/yuwaduvili/edit?html,

[2017-07-14 20:07] dvoytenko opened #10454 "Animations: support "switch" conditional"
[code]

[2017-07-14 20:08] dvoytenko opened #10455 "Animations: support staggered animations"
/cc @jasti

[2017-07-14 20:11] rudygalfi commented on #9902
@aghassemi @cvializ What's the plan for tracking analytics work in the sprint process? Do we want to define two milestones at the top of this issue and call the first one done, or handle in some other way?

[2017-07-14 20:19] rsimha-amp commented on #10449
@bradfrizzell, I just tried this on a clean client, and am seeing the exact same number of tests (38 total) run with both commands. I'm also seeing that some tests fail due to `Uncaught Error`s. Could you confirm the list that you are seeing for each case?

Here are my logs:

Without `--watch`:

[code]

With `--watch`:

[code]

[2017-07-14 20:20] jasti commented on #10244
@avimehta would you be the right person to look at this? Also adding @lannka for comment.

[2017-07-14 20:20] rudygalfi commented on #9019
Update: We're still waiting for clients to migrate off of this. Will consider this once that happens.

[2017-07-14 20:22] rudygalfi commented on #8925
@lannka To take another look.

[2017-07-14 20:24] bradfrizzell commented on #10449
What commands do I need to run to have a fully 'clean' client?

[2017-07-14 20:28] rudygalfi commented on #8534
@lannka To check if test exists. If so, close this. Otherwise, we will consider for next sprint.

[2017-07-14 20:29] rsimha-amp commented on #10449
`gulp clean` will do it.

[2017-07-14 20:32] rudygalfi commented on #7184
Ping - any update on this?

[2017-07-14 20:43] jasti opened #10456 "Improve window.context API integration test coverage"
- [x] context.data
- [x] context.location
- [ ] context.sourceUrl
- [ ] context.clientId
- [ ] ad viewability APIs

[2017-07-14 20:52] aghassemi opened #10457 "Support custom controls for amp-video"
Placeholder for now,
Tech and Visual Design TBD

[2017-07-14 20:56] aghassemi commented on #9902
@rudygalfi @cvializ I suggest keeping this open, finish the last mile this sprint (documentation, remaining p0s, bugs/feedbacks from early adopters). Then consider it "launched", move remaining p3 features into new issues and close this.

[2017-07-14 21:02] rudygalfi commented on #9902
@aghassemi @cvializ Works for me

[2017-07-14 21:04] rudygalfi commented on #10453
cc @dvoytenko @cramforce for thoughts

[2017-07-14 21:11] rsimha-amp commented on #10449
Since the tests in `test-amp-ad-network-doubleclick-impl.js` are failing, I tried this with `amp-font.js`, and am seeing expected behavior. Assigning back to @bradfrizzell for more info, in case there's a genuine repro case I'm missing.

[code]

[2017-07-14 21:26] rsimha-amp commented on #10448
Per-file randomization of test execution isn't currently supported by mocha, but there is (was?) an ongoing effort to make it work. See https://github.com/mochajs/mocha/issues/902

Until then, I don't think there's much we can do here.

[2017-07-14 21:29] jridgewell commented on #10448
We can override `describe`, `beforeEach`, `afterEach`, and `it` blocks, create the tree structure, randomize it, and feed that to Mocha.

[2017-07-14 21:32] rsimha-amp commented on #10448
There might be an easier way: https://www.npmjs.com/package/rocha

[2017-07-14 21:45] rsimha-amp commented on #10448
@erwinmombay, I'm going to take a shot at adding a way to use rocha with karma. Not sure if it's possible or not.

[2017-07-14 21:49] aghassemi commented on #7272
5

[2017-07-14 22:06] rsimha-amp commented on #10448
Unfortunately, there's no `karma-rocha` bridge similar to https://github.com/karma-runner/karma-mocha, so rocha looks like a non-starter for our purposes.

[2017-07-14 22:14] lannka commented on #8534
@dvoytenko I don't find the test you mentioned in the meeting (was looking at test-visibility-manager.js). Could you confirm?

[2017-07-14 22:18] rsimha-amp commented on #10448
Since we primarily want randomized testing for local development, it should be possible to achieve it by running mocha / rocha from the command line. Currently, it appears that this is blocked by #9695, after which we should have babel 6 support. Right now, running mocha / rocha from the command line returns `SyntaxError: Unexpected token import`.

I'll revisit this issue once we have babel 6 supp

[2017-07-14 22:25] #10345 closed

[2017-07-14 22:52] patrick-mcdougle commented on #9964
@glevitzky Which backend are you referring to? AMPs? DFPs? I'm a little confused.

[2017-07-14 23:20] #9860 closed

[2017-07-14 23:23] jasti commented on #10388
@jpettitt All ad requests in AMP to DoubleClick and AdSense send the context.canonical URL as the src URL. Do you understand how the buyside determines the host URL and if it's different than the ad request?
I've also scheduled time with the spec authors to understand proposals for subdomains.

CC @ampproject/a4a

[2017-07-14 23:40] andytuba opened #10461 "amp-access NUMERIC expression should support negative numbers"
## What's the issue?

The [amp-access grammar definition for NUMERIC](https://github.com/ampproject/amphtml/blob/c44a48fbb1dbd0de0b5a9e20f8f69bb920705dde/extensions/amp-access/0.1/access-expr-impl.jison#L24) only supports numbers >= 0.

[code]

## How do we reproduce the issue?

Set up an amp page which imports `amp-access` and contains
`<span amp-access="some_numeric_value = -1" />`
Authorization

[2017-07-14 23:52] sffriend opened #10462 "Use Amp List for showing more content when height is not available"
We want the user to be able to load a amp-list of more comments after the initial page load. We don't know the height of these comments because they can be any length. We can't use the overflow button because we already have our own overflow button whose source is updated on amp-bind.

[code]

[2017-07-14 23:56] jpettitt commented on #10388
It's not clear how they are determining things but since the objective is to prevent fraud you can't trust anything that can be controlled by the page author.

[2017-07-15 00:04] rudygalfi commented on #10462
/to @ericlindley-g @aghassemi

[2017-07-15 00:05] rudygalfi commented on #10461
/to @dvoytenko

[2017-07-15 00:09] aghassemi commented on #10462
+ @choumx

[2017-07-15 00:18] ericlindley-g commented on #10462
Thanks @sffriend ! @choumx, I think this is somewhat similar to the request for resizing when updated through amp-bind, except it's done on the first page load. Would it be possible for amp-list to have container layout for its contents, or is that too risky for page jumps on first load?

[2017-07-15 00:41] jasti commented on #10388
For this specific case, the page author can't though? The AMP DoubleClick and AdSense tags are the ones passing the page URL.
Anyway, will update after I've synched with the authors. Lot is up in the air.

[2017-07-15 00:51] zhangsu commented on #10408
Yes, I mentioned this in the OP that this should only apply if `action-xhr` is specified. Thanks!

[2017-07-15 01:23] michaelkleber commented on #10388
There is no problem at all with ads.txt and AMP and the CDN.

When an AMP page issues an ad request, the auction that results is selling space on some _publisher-domain_ URL.  (In the adsense and doubleclick case we use the canonicalURL; some other ad companies might use the sourceURL.)

Advertisers looking to buy in that auction will therefore compare the ads.txt file from the publisher domain wi

[2017-07-15 02:42] jpettitt commented on #10388
Ok so no matter what domain the page is served from if it's claiming to be from `some-quality-pub.com` based on the canonical you're going to look there to see if some-quality-pub has authorized this ad network and account to resell.  Essentially real time NPM.

I can see how that would work on an AMP page, you'd use the canonical for that but on a regular page the canonical has a different meanin

[2017-07-15 06:13] wassgha opened #10463 "Default `animateScrollIntoView()` speed to a dynamically calculated speed"
As mentioned by Ali in #10398, the default duration for `animateScrollIntoView()` in `viewport-impl` should probably be based off a formula that relates the distance to be scrolled to the duration of the animation.
An example would be `abs(elementTop - scrollHeight) / 2`.
The speed also needs to be bounded so that the animation isn't too fast or too slow.
Ideally use whatever Chrome is using for t

[2017-07-15 06:59] avimehta commented on #10244
I am the right person for this bug but I can't reproduce the bug yet. Which browser are you seeing the issue on? Please also specify the version number.

[2017-07-15 08:33] echopi commented on #10244
@avimehta try this link: https://www.google.com.hk/amp/s/m.aliexpress.com/amp/popular/shoes-women-heels.html

[2017-07-15 09:08] bjalford commented on #10447
I'm experimenting with this at the moment. Would be good to discuss at weekly review

[2017-07-15 12:49] jkaliski opened #10464 "Scroll to an id tag on another page"
There is a button on my index.html page which has a link to a section(id ="example2") on page2 - href="page2.html#example2".  Pressing the button results in scrolling to the section on page2 and afterwards an immediate scroll back to the top of the page.  Any ideas on how to solve this issue?

[2017-07-16 12:23] blueyedgeek commented on #10404
Hi @choumx,

I'm having issues getting the tests to run locally (I haven't made any changes yet), I keep getting the error: `Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.`

What can I do about this?

[2017-07-16 12:53] #10324 closed

[2017-07-16 12:54] mrjoro opened #10466 "Weekly Status 2017-07-17"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-07-16 17:24] wassgha opened #10467 "Dynamic resizing of `amp-iframe` based on source URL bucket list"
As @aghassemi mentioned in #9838 , adapters can be created to map resize messages from various embeddable websites to `amp-iframe`'s resize message which would dynamically resize the iframe based on its content.

Thanks to the efforts of @jpettitt , we created a bucket list of websites that our users would like to support, and the results of investigating whether they provide any kind of post mess

[2017-07-16 22:14] ericlindley-g commented on #10446
+1 to supporting vh/vw with resize message

[2017-07-16 23:15] ericlindley-g commented on #10447
Thanks @cramforce  — that makes total sense (I should have mentioned PWA route in the framing).

@bjalford — would be curious to hear more: are you experimenting with AMP + PWA?

[2017-07-17 03:53] choumx commented on #10404
@blueyedgeek Which tests are timing out? Can you show a Gist with the command and full output? Thanks.

[2017-07-17 06:24] lydiameteored commented on #10376
ok, you can tray it on:

https://www.tiempo.com/madrid_amp.html

thanks

[2017-07-17 11:22] blueyedgeek commented on #10404
Sure thing. Here's a gist: https://gist.github.com/blueyedgeek/5e29b34f9b26d36f7311ab68783e91c7

[2017-07-17 12:53] tseely-c-chwy opened #10470 "Video Companion Ads and Brightcove video player"
Currently there is no support for video companion ads using amp-brightcove and amp-ads, by the team's response:

_"This is unfortunately not supported at the moment. The issue is that the Brightcove player on AMP pages serves within it's own iframe and there is no way to correlate the ad request to the display ad slots (like in the non-AMP world) on the AMP page who also serve in their own iframes

[2017-07-17 14:38] outoftime opened #10471 "No-fill behavior for amp-fx-flying-carpet"
The `amp-fx-flying-carpet` component is cool, but it doesn’t seem to have any no-fill behavior—meaning that if you put an ad in it and the ad request doesn’t fill, you just have a big, blank interscroller.

It seems like this could work similarly to `amp-sticky-ad`, where the container is aware of the fill status of the ad itself, and collapses if the ad doesn’t fill (assuming as always that the l

[2017-07-17 14:55] elisei opened #10472 "validator user_agent"
Hello in our project we use the user_agent check for content delivery amp. However in validation testing is not captured the corresponding and accurate view of information which user agent is being used.

[2017-07-17 15:19] gregdevs commented on #9397
Thanks everyone. Looks like the issue has been resolved. Much appreciated!

[2017-07-17 15:38] choumx commented on #10404
Thanks. We've had some issues with local test flakiness and your errors looks related. Please ignore those for now while we investigate.

[2017-07-17 15:42] #8935 closed

[2017-07-17 15:50] jonkeller commented on #6676
Looks like #9040 did indeed fix this. Can we close?

[2017-07-17 16:20] taymonbeal commented on #6676
#9040 has been abandoned, but if one of the PRs that it's been replaced with fixed the problem then we can close.

[2017-07-17 16:27] rsimha-amp commented on #10377
@camelburrito, let me know if you need any more info here, or if you're not convinced this is a bug in the polyfill font loader.

[2017-07-17 16:57] cramforce commented on #10466
* Fixed various issues around measuring in AMP as fonts load. E.g. #10347

[2017-07-17 17:06] jonkeller commented on #6676
I checked stackdriver and see 1 occurrence of the error in the past 2 days.
Given that it used to be hundreds per hour, I'm willing to chalk it up to
being fixed but one person had a stale version in cache or something.
Justin?

On Mon, Jul 17, 2017 at 12:32 PM, Taymon A. Beal <notifications@github.com>
wrote:

[2017-07-17 17:21] camelburrito commented on #10377
@rsimha-amp - the issue is not replicable in real browsers, i need to know what browser percy is using to replicate this.

[2017-07-17 17:23] blueyedgeek commented on #10404
I won't be able to test if my additions to the parser generator actually work if I am unable to run tests. Is there some other way for me to manually test that if my additions work or not?

[2017-07-17 17:24] rsimha-amp commented on #10377
@camelburrito It's phantomjs, which is a webkit based headless browser. Our visual diff tests rely heavily on it, but I'd imagine you'll see the bug in any webkit browser that doesn't support native font loading.

I was able to repro this locally by modifying the code in `fontloader.js` to choose the polyfill path even when native font loading was supported.

[2017-07-17 17:28] torch2424 commented on #10466
* Created PR for AMP By Example for Sidebar 1.0
* Working With Validation Team to get Sidebar 1.0 able to be validated.
* Working on a final PR for Sidebar 1.0 to rename some attributes and remove some default actions
* Started working on a configurator for AMP templates on AMP Start

[2017-07-17 17:29] rsimha-amp commented on #10466
- Wrote new visual diff tests for font loading, and discovered a bug in non-native font loading with polyfill (#10377)
- Added a `--quiet` mode to `gulp serve` to silence webserver logs on Travis (#10422)
- Added support for per-page custom CSS waits for visual diff tests (#10389)
- Updates to cleanly exit `gulp serve` (#10410)

[2017-07-17 17:34] dvoytenko commented on #10466
* Animations launch

[2017-07-17 17:39] jridgewell commented on #10466
- Fixing several bugs with fixed/sticky position scrolling
- Investigating full CSS rendering without JS

[2017-07-17 17:43] dvoytenko commented on #8534
I believe this test covers it: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/test/test-visibility-manager.js#L479

And there are couple other tests that probe the same.

[2017-07-17 17:53] dvoytenko commented on #10447
@ericlindley-g PWAMP is the main approach for now. We are actively exploring use of AMP library on a non-AMP page, but there's no telling at this time how well that would work. I'd strongly recommend PWAMP at this time.

[2017-07-17 18:00] dvoytenko commented on #10461
Thanks for the report! I'm scheduling it for this milestone.

[2017-07-17 18:14] michaelkleber commented on #10388
@jpettitt This seems like something for web page authors to discuss with their ad networks.  The only position I could see AMP taking was a recommendation to ad networks that when they integrate with AMP, they _not_ use the CDN domain as their page targeting URL, because the CDN does not offer a way for publishers to set ads.txt.

How the IAB spec interacts with the meaning of "canonical" as used

[2017-07-17 18:16] jridgewell commented on #6676
There are 62k logged reports for latest prod.

[2017-07-17 18:22] choumx commented on #10404
Try syncing now that #10473 is merged. You can safely ignore tests unrelated to amp-bind, e.g. run:
[code]
Also, once you create a PR, the full test suite will be run on Travis which may be more predictable for timeout-risk tests (depending on your personal machine's configuration).

Sorry about the hassle and thanks for contributing! 🙏

[2017-07-17 18:22] zhouyx commented on #7184
I like the second sol, @oliverfernandez Does it sounds good to you?

@avimehta can we confirm on GA's support?

[2017-07-17 18:25] jridgewell commented on #10471
It will (try to) collapse if the add calls `#noContentAvailable`. See https://github.com/ampproject/amphtml/issues/3338, and https://github.com/ampproject/amphtml/pull/3721.

[2017-07-17 18:25] #10471 closed

[2017-07-17 18:27] aghassemi commented on #10470
/to @jasti

[2017-07-17 18:29] aghassemi opened #10475 "Add `clear` action for `amp-selector`"
### Background
[amp-selector](https://www.ampproject.org/docs/reference/components/amp-selector) is an [AMP Extended Component ](https://www.ampproject.org/docs/reference/components)that presents a list of options and lets the user choose one or many options.

You can see a demo of this component in action on [AMP By Example](https://ampbyexample.com/components/amp-selector/) website.

### The Iss

[2017-07-17 18:31] jridgewell commented on #10464
Are these amp pages? Can you give us a link?

[2017-07-17 18:43] aghassemi commented on #10466
* Pre-calculating scroll duration for scrollbound animations based on visibility criteria and early-access demo for visibility and scrollbound features:  https://codepen.io/aghassemi/pen/NgJEaV?editors=1000
* Validation rules for async form verification to prep for launch
* Using onResize instead of onChange in a few places to reduce unnecessary work
* Regression fix for amp-ima-video

[2017-07-17 18:47] cvializ commented on #10466
- Finishing up small video-analytics improvements
- Video analytics video-seconds-played
- Misc issues

[2017-07-17 18:59] jonkeller commented on #8671
Handled by other change

[2017-07-17 18:59] #8671 closed

[2017-07-17 19:31] choumx commented on #10466
- Flaky/non-hermetic test fixes (Travis at 75% green)
- Refactor for easier service stubbing
- amp-list placeholder & fallback
- input-debounced/change event bug fix
- amp-bind CDN URL rewrite bug fix

[2017-07-17 19:49] #10128 closed

[2017-07-17 20:13] choumx opened #10477 "Support XHR mocking in describes.js"
- Add a dead-simple way to stub/mock `Window.fetch` when using describes.

Related: https://github.com/ampproject/amphtml/issues/10128#issuecomment-311496211 and #9338

Internal discussion: `https://groups.google.com/a/google.com/d/msg/amphtml-eng/YKxMVlpQ6xA/fj3KS3FDAQAJ`

/cc @lannka @taymonbeal @jridgewell @rsimha-amp

[2017-07-17 20:14] jasti commented on #10470
Dupe of #10349. Copying details over and closing the other one.
"Publishers often have the ability to correlate a video pre-roll ad along with 1 or more display ads on the same page. This is especially useful for publishers serving sponsorship campaigns.
This is how it's done using GPT in non-AMP pages:
https://support.google.com/dfp_premium/answer/1191131?hl=en"

We'll prioritize this, but no spe

[2017-07-17 20:14] jasti commented on #10349
Closing in favor of #10470

[2017-07-17 20:14] #10349 closed

[2017-07-17 20:19] choumx opened #10478 "Simplify describes.js API"
### Motivation
It'd be easier to use describes.js if its API were simpler and aligned with various types of tests. E.g. a common question is, when do I use API X?

Part of making it easier to write good tests as discussed in: `go/amp-test-excellence`

### TODO
- Rename `describes.fakeWin` to `describes.unit`.
- Rename `describes.realWin` to `describes.functional`.
- Add support for `createFixtureI

[2017-07-17 20:31] camelburrito commented on #10466
- Template reviews
- Fixing Blockers on ampstart
- Reviewing sibebar 1.0

[2017-07-17 20:55] gurmukhp commented on #10466
Ampstart e-commerce template
- reviews & related products components in review
- blog templates in review
- contact us, cart preview and checkout pages will be worked on this week alongside addressing QA feedback and creative review.

[2017-07-17 21:04] taymonbeal opened #10480 "Integrate code coverage"
As I make API changes within A4A that sometimes require reworking tests and deleting ones that no longer make sense, it'd be nice to have a good picture of which parts of the code are still covered by tests. Can there be a gulp command that runs the tests and produces a coverage report? We might also consider integrating something like Code Climate or Coveralls in order to use this as a code healt

[2017-07-17 21:38] taymonbeal opened #10481 "Integrate mutation testing"
A mutation testing framework like Stryker would facilitate greater confidence that our unit tests verify everything they should, which is currently a major problem for A4A. Could there be a gulp command that runs Stryker? If it works well we could later integrate it into Travis.

[2017-07-17 21:51] taymonbeal commented on #10477
Feature request likely to help ensure correctness: This should be on by default, and if a test doesn't declare any expectations for XHRs, then any XHR made during that test should cause it to fail. Tests that need to make real XHRs should have to explicitly opt out, and this should be unusual.

[2017-07-17 22:01] #9691 closed

[2017-07-17 22:01] #8201 closed

[2017-07-17 22:02] dvoytenko commented on #8730
Not yet. @aghassemi Is this still an issue? I might need to bounce it to someone else...

[2017-07-17 22:14] dvoytenko commented on #10345
Thanks for the fast turnaround!

[2017-07-17 22:20] rsimha-amp opened #10482 "Reduce verbosity of `gulp test` logs"
Several tests run on Travis have extremely verbose logs in the passing case. Reduce the log spew, while retaining the ability to see logging in case of errors.

[2017-07-17 22:32] yieldmo-rao opened #10484 "AMP page, when visited via Google search and then refreshed, has missing window.context for 3p ads"
We had a publisher complaining about our ad units (that are being served via DFP on AMP) not rendering. Upon further investigation, we discovered that it was because our scroll listeners weren't being invoked, which led to us discovering that `window.context` was missing.

#### Steps to reproduce:

1. Search for "enough is enough reuters" on google on a mobile browser
1. Navigate to first AMP page

[2017-07-17 22:32] yieldmo-rao commented on #10484
@harquail FYI.

[2017-07-17 22:51] aghassemi commented on #10463
related to https://github.com/ampproject/amphtml/issues/7626

[2017-07-17 22:57] aghassemi commented on #10467
related to https://github.com/ampproject/amphtml/issues/9838

[2017-07-17 23:09] dvoytenko commented on #8926
Still happening. Re-filing against impacted viewers.

[2017-07-17 23:10] jridgewell commented on #10484
There seem to be two versions of the page:

1. https://www.google.com/amp/mobile.reuters.com/article/amp/idUSKBN18U0VV
2. https://www.google.com/amp/uk.mobile.reuters.com/article/amp/idUSKBN18U0VV

Num 2 (`uk.mobile.reuters.com`) loads the ad unit every time. The first, never does. Are you sure the ad is being fulfilled correctly?

[2017-07-17 23:14] dvoytenko commented on #8926
b/63776062

[2017-07-17 23:35] dvoytenko commented on #8044
Duplicate of #8926.

[2017-07-18 00:20] aghassemi commented on #10395
/to @choumx @ericlindley-g

[2017-07-18 00:39] aghassemi commented on #10396
@10xjs Good FR.

a hackish workaround (no guarantee it won't break later) is using an empty placeholder and adjacent CSS selectors to target loading (relying on the behaviour that placeholder will be visible during loading). You can find a demo here: https://codepen.io/aghassemi/pen/WOBoOE?editors=1010

/cc @ericlindley-g

[2017-07-18 00:39] alanorozco commented on #10484
(Noting that the migration for the context API implementation has been unlaunched, so this issue should be unrelated to that.)

Looks related to a FastFetch/AmpContext binary issue. Will update as I have new information.

/cc @bradfrizzell @keithwrightbos

[2017-07-18 00:42] aghassemi commented on #10396
@10xjs `amp-animation` (still experimental and in development) will also support this use-case. `amp-animation` waits for items to load then applies any transition you like. You can also do scrollbound transitions for images ( such as faides in when scrolled into view) see demo here: https://s.codepen.io/aghassemi/debug/NgJEaV

[2017-07-18 01:47] #10461 closed

[2017-07-18 01:57] dvoytenko commented on #2970
Safari 11's [Intelligent Tracking Prevention](https://webkit.org/blog/7675/intelligent-tracking-prevention/) affects this concept further in the following ways:

1. The 1p origin visit is now time-limited. 3p cookie/storage restrictions start applying as early as 24 hours after 1p origin visit and completely removed after 30 days.
2. Cookie space is partitioned (at least after 24hr). I.e. 3p origi

[2017-07-18 02:03] dvoytenko commented on #2970
Additional idea worth considering: is 1p AMP metering implementation. In this approach the document itself will describe metering rules and AMP Runtime will interpret these rules based on the local storage. This is enabled by newish split origin requirement for all AMP domains. This work would incorporate:

1. Construction of bloom filter for recently viewed documents to avoid double-counting mete

[2017-07-18 02:05] ericlindley-g commented on #10396
+1 This would add a nice bit of polish (and we could think about adding a default fade in, but would have to weigh any tradeoffs, and be good to hear from the community about that :)

[2017-07-18 02:08] ericlindley-g commented on #10395
Thanks for filing this @10xjs !

This is really interesting, and really goes to the boundaries of what AMP is intended for. One pattern to achieve something similar is to combine AMP with PWA, but PWA support isn't universal.

I'd be curious to explore the tradeoffs here to see if it's something that's a good fit for AMP

/cc @cramforce for visibility

[2017-07-18 07:35] envieme opened #10490 "amp-imgur needs to correct the iframe url of imgur embed"
amp-imgur extension sets  iframe.src = 'https://imgur.com/a/' in line 82 but it should be 'https://imgur.com/' as adding /a/ returns error not found from imgur server.

[2017-07-18 11:15] doc-tongue opened #10491 "Feature Request: 'domain:none' option on amp-analytics in order to test from local host"
## What's the issue?
Test GA from localhost

[2017-07-18 13:41] keithwrightbos commented on #10484
Looking into this, it appears that the publisher is specifying useSameDomainRenderingUntilDeprecated via the json attribute:

json="{"targeting":{"articleId":["USKBN18U0VV"]},"useSameDomainRenderingUntilDeprecated":1}"

Fast Fetch only looks for userSameDomainRenderingUntilDeprecated as an attribute as opposed to potentially inflating as is done for window context (see 3p-frame.js#addDataAndJsonAt

[2017-07-18 14:53] jkaliski commented on #10464
Thanks Justin! I found the culprit in my code, it works now!

[2017-07-18 14:53] #10464 closed

[2017-07-18 15:10] jacobovidal opened #10492 "Attribute 'on' inside <option> tag"
I am trying to use an event when an users taps on an specific option inside a `<select>` element but the attribute on doesn't work for `<option>` tags, example:

[code]

Is this normal behaviour or Is this an issue?

I am asking this because on the [documentation](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#element-specific-events) says tap event works on any e

[2017-07-18 15:55] rsimha-amp commented on #10117
This is now fixed on the Travis side.

[2017-07-18 15:59] macaqueio opened #10494 "Incorrect Invalid Page Warning in Google Search Results"
If you search https://www.google.co.uk/search?q=Buddy+Holly+Signed+Single&oq=Buddy+Holly+Signed+Single and select the presleycollectibles.com page from the search results it renders an error page "Sorry this page is not valid AMP HTML" with the option to go to the main site.

However, the page is valid and always has been so I am not sure why this error is showing. There are a few other pages on t

[2017-07-18 16:00] adamsilverstein opened #10495 "Uncaught RangeError: Maximum call stack size exceeded for iframe with very large srcdoc"
We are seeing a "Uncaught RangeError: Maximum call stack size exceeded" error in chrome stable and dev, on this page:

https://fivethirtyeight.com/features/the-warriors-are-in-the-goat-debate-but-they-blew-their-chance-to-end-it/amp/

We use amp-iframes to display complex tabular data, and the existing non-amp tables are passed to the iframe in the iframe via srcdoc property. This works well, exce

[2017-07-18 16:33] #10455 closed

[2017-07-18 16:36] aghassemi commented on #8730
I can take this

[2017-07-18 16:37] #7626 closed

[2017-07-18 16:38] aghassemi commented on #7626
@sebastianbenz @ericlindley-g FYI, feature merged today, will be in Canary this week.

[2017-07-18 16:54] eike-hass opened #10497 "AMP Viewer: Issue with `position:fixed` header"
## What's the issue?

In the AMP viewer in Google search results the `position:fixed` header of our app is offset by the viewers titlebar height.
As per communication with @sebastianbenz: ping @dvoytenko

## How do we reproduce the issue?

Find a video attached:
https://gfycat.com/gifs/detail/FrighteningGreedyDassierat

## What browsers are affected?

Chrome 59.0.3071.125 on Google Pixel XL (Andro

[2017-07-18 17:34] jpettitt commented on #10388
@michaelkleber that would require definitive list of CDN's.  However Cloudflare offers a white label CDN aliased on top of their AMP cdn (example cdn.relayamp.com).  This means that really isn't such a list.

You need to know whose page it is but you can't trust anything on the page to tell you. I'm not sure there is a really easy way around this.

[2017-07-18 17:53] rsimha-amp commented on #10164
Turns out there is a way to create an empty Percy build. If you don't visit any URL, the server doesn't need to be alive. The only requirement for a successful build is that there be a snapshot.

[2017-07-18 17:58] bradfrizzell commented on #10449
Here's my logs. I ran
`gulp clean`
`gulp build`
`gulp test --files=extensions/amp-ad-network-doubleclick-impl/0.1/test/test-amp-ad-network-doubleclick-impl.js `
[code]
`gulp test --files=extensions/amp-ad-network-doubleclick-impl/0.1/test/test-amp-ad-network-doubleclick-impl.js  --watch`
[code]

And then perhaps most importantly for our ability to use the local testing for debugging, when I click

[2017-07-18 17:59] bradfrizzell commented on #10449
Sorry for the slow response btw, was very busy the last few days and this fell off my radar.

[2017-07-18 18:01] bradfrizzell opened #10499 "Linter doesn't pick up extra semicolons"
Steps to reproduce:

1. Add a second semicolon at the end of any line.
2. Run `gulp lint`
3. Observe no lint error.

[2017-07-18 18:03] aghassemi commented on #10490
@techhtml Some imgur Ids don't work with the `/a/` in the URL, some do. Doesn't seem to be related to "album" vs "single" either. For instance `uRLxX` works with `/a/ in the Url but `TmetrI9` doesn't. Not sure what dictates this scheme and how we can detect which Url to use.

[2017-07-18 18:13] shawnbuso commented on #8841
Can we re-assign this? Thanks :)

[2017-07-18 18:23] shawnbuso commented on #9142
After brief testing it looks like this actually "just works" today - I think because each player is created inside its own iframe, we don't run into the issues we normally run into with using more than one player on the same page.

[2017-07-18 18:30] aghassemi commented on #10492
@jacobovidal , `tap` won't work on options inside `select`, for your use-case, I suggest using `change` event with [amp-bind](https://ampbyexample.com/components/amp-bind/) to dynamically hide/show items based on selection.

I created a sample here: https://codepen.io/aghassemi/pen/jwooJZ?editors=1111
[code]

[code]

Hope this help. Closing the issue, feel free to reopen if you need further assist

[2017-07-18 18:30] #10492 closed

[2017-07-18 18:34] jridgewell commented on #10497
This was [broken](https://github.com/ampproject/amphtml/pull/10366) in the latest canary. We've since [fixed](https://github.com/ampproject/amphtml/pull/10436), and this will be patched into canary before it's pushed to prod.

[2017-07-18 18:34] #10497 closed

[2017-07-18 18:35] aghassemi opened #10502 "amp-ima-video: Use custom controls provided by amp-video"
As part of #10457 , we will create a library to provide custom controls for both `amp-video` and `amp-ima-video`, this issue is to track the integration with `amp-ima-video`

/cc @shawnbuso @wassgha

[2017-07-18 18:36] aghassemi commented on #8841
Closing in favor of https://github.com/ampproject/amphtml/issues/10502

[2017-07-18 18:46] avimehta commented on #10244
Still can't reproduce the error. I tried following things:

In normal and incognito chrome,
1. Opened dev tools,
1. Started device emulation
1. Went to the page listed
1. Waiting for hits to go to GA.

No errors in dev console.

 It would be helpful to see find out which browser @echopi is seeing the error on.

[2017-07-18 18:48] jridgewell commented on #10494
There seems to be a redirect from the URL we have (https://presleycollectibles.com/store/buddy-holly-peggy-sue-78rpm-10-inch-single/amp/) to a non-AMP page https://presleycollectibles.com/store/buddy-holly-hand-signed-peggy-sue-10-inch-single/. Forwarding it to the AMP page https://presleycollectibles.com/store/buddy-holly-hand-signed-peggy-sue-10-inch-single/amp should fix this.

[2017-07-18 18:56] jridgewell commented on #10491
/to @avimehta

[2017-07-18 19:00] ericlindley-g commented on #10429
Thanks @testengineer9  — it looks like the user interface for https://search.google.com/test/amp has changed, so I'm not sure if it is able to show the banner anymore (will follow up on this separately)

Another option for previewing documents in the viewer would be searching for amp-app-banner through the regular Google Search interface, but for some reason the test page isn't coming up.

Unless

[2017-07-18 19:02] ericlindley-g commented on #10429
Actually just realized that testing finished for the banner, so no ned to pause :)  Will follow up with next steps when we have them

[2017-07-18 19:04] #4038 closed

[2017-07-18 19:12] macaqueio commented on #10494
The redirect is correct because the URL of the page has been updated and so has the site map for the site and the amp html link in the head of the standard html page. But the old url is still cached in Google search results and throws the error. It would appear the site owner has done everything correctly. Is this expected behaviour?

[2017-07-18 19:44] Rahul007shah commented on #8976
Hi Team,

Please provide demo and documentation for AMP.navigateTo component.

Thanks,
Rahul

[2017-07-18 19:48] #10495 closed

[2017-07-18 20:03] rsimha-amp commented on #10164
@cramforce, now that #10498 has been merged, you can go ahead and re-enable Percy as a required check on GitHub.

[2017-07-18 20:12] rsimha-amp opened #10507 "Unit tests sometimes hang for long periods of time on Travis, and eventually time out"
This typically happens after unit tests are run, and is likely due to a server process that's left running.

[2017-07-18 20:40] zhouyx commented on #9546
Sorry for the late reply, just return from my vacation.

Yes. For normal ads in cors iframe. We only toggle off placeholder (set to visible in case of sticky ad) after receiving renderStart call.

@keithwrightbos Yes. I am happy to discuss more on this use case : )

[2017-07-18 21:43] cramforce commented on #10395
I think doing long term evolution in this direction makes sense. I think we should study use cases first to see what the right interface would be.

[2017-07-18 22:10] rsimha-amp commented on #10164
Reopening this, since there's no way to approve a snapshot until it is run on `master`. We need to merge a PR that runs the blank page test on `master` at least once, approve it, and then revert that PR. Coming up in #10512.

[2017-07-18 22:40] rsimha-amp commented on #10164
That worked. I followed it up with a test change, and the snapshot was green. See https://percy.io/ampproject/amphtml/builds/290093

Reverting  #10512 now.

[2017-07-18 22:41] #10507 closed

[2017-07-18 22:45] choumx commented on #10477
@Raphaeljunior expressed interest in this.

[2017-07-18 22:48] choumx commented on #10477
One thing to note about Taymon's request is that a Sinon mock/expectation doesn't appear to support multiple `withArgs()`: https://github.com/sinonjs/sinon/issues/1193

This means that barring a custom solution, a stub may be the best we can do for now (unless you'd like to contribute that feature to Sinon 😄 ).

[2017-07-18 23:08] rsimha-amp opened #10515 "Print failure logs in addition to pass / fail status on Travis when a unit test fails"
This came about with the change to the karma `super-dots` reporter. Fix involves using a separate reporter to beautifully print failure info.

[2017-07-18 23:30] taymonbeal commented on #10477
I thought the plan was to use the third-party library [fetch-mock](http://www.wheresrhys.co.uk/fetch-mock/).

[2017-07-18 23:30] techhtml commented on #10490
I changed the link will `imgur/{data-id}/embed` will works well.
basically imgur create that embedding URLs.

I do some tests and send PR.

[2017-07-18 23:42] #10515 closed

[2017-07-18 23:51] choumx commented on #10477
@jridgewell suggested it as an option but I'm not familiar with it. Certainly something to consider.

[2017-07-19 00:02] taymonbeal commented on #10477
I've been exploring the API and I'm pretty happy with it. It easily expresses most of what we want to do, and provides nice integration points if we want to add anything more. The only difficult part (which I wasn't able to figure out on my own) is how to make it play nice with our build system, as it doesn't use ES6 modules.

[2017-07-19 00:29] lannka opened #10518 "Viewer CID pub opt-in"
Allow pub to specify a special meta tag in `<head>` to opt-in Viewer CID API.

[code]

The above meta tag translates to
if the current Viewer is under google origin, use Viewer CID API to retrieve CID for googleanalytics' scope (AMP_ECID_GOOGLE) .

[2017-07-19 00:58] wassgha opened #10521 "Video docking requests"
- [ ] Prevent docking if the minimized video's height is going to end up bigger than the viewport height
- [ ] Handle videos with height bigger than their width
- [ ] Add `dock-corner` parameter that overrides the default docking corner
- [ ] Add `dock-scale` parameter (0 to 1 non inclusive)
- [ ] Add `snap-element` and `snap-pos` (outer/inner) parameters for snapping the docked video to specific

[2017-07-19 01:27] 10xjs opened #10522 "amp-bind crashes IE 11 with "Argument not optional""
## What's the issue?

In IE 11 amp-bind crashes on initial load. `Argument not optional` is thrown here: https://github.com/ampproject/amphtml/blob/3b8c24b4dcd4aa6f8f026e9634d53d0ed8b50dd3/extensions/amp-bind/0.1/bind-impl.js#L400

This is triggered when amp-bind tries to initialize on the `body` element. (`body` is the first argument of `createTreeWalker` here)

![image](https://user-images.githu

[2017-07-19 01:46] michaelkleber commented on #10388
@jpettitt I think you're misunderstanding the type of fraud that ads.txt is meant to address.

Check out an example file like http://www.businessinsider.com/ads.txt.  It contains lines like
`taboola.com, 688168, DIRECT`
When a bidder who buys on Taboola sees a bid request for a businessinsider.com URL, they can check that the seller account ID in the request really is 688168.  If it's not, then th

[2017-07-19 04:45] echopi commented on #10244
It's Chrome Canary on desktop, sorry for not providing the browser info.

[2017-07-19 05:00] mianuddin commented on #10475
I want to try out implementing this as my first open source contribution, could I claim it?

[2017-07-19 09:20] Haroenv opened #10523 "amp-form: omit credentials"
## What's the issue?

When requesting a page that has `'Access-Control-Allow-Origin'` as `*`, this fails in AMP, since there's no way to disable the credentials

[code]

## How do we reproduce the issue?

[code]

## What browsers are affected?

all

## Which AMP version is affected?
1499807487098

[2017-07-19 14:21] taymonbeal opened #10524 "Clean up <amp-ad> a4a runtime validation"
The behavior of `<amp-ad>` impls, in terms of which attributes on the tag are accepted and how they're treated (which the validator doesn't check, by design), is inconsistent between Delayed Fetch and Fast Fetch, and bugs routinely slip in. #10506 helps with this but there's more to do.

[2017-07-19 14:43] yieldmo-rao commented on #10484
Thanks for handling this and finding out the root issue! Really appreciate it!

[2017-07-19 14:52] yieldmo-rao commented on #10484
Hey @keithwrightbos ; our publisher just got back to us with an issue; they made the change and added `useSameDomainRenderingUntilDeprecated` as an attribute on the amp-ad element. This is resulting in their AMP pages being invalidated; https://search.google.com/test/amp?id=C-JNTWueYXUNdVXdHN6JtQ

Is there another workaround we can recommend them? Thanks again!

[2017-07-19 15:06] #10164 closed

[2017-07-19 15:10] taymonbeal commented on #10484
Your publisher is using the wrong syntax. Either use the attribute `data-use-same-domain-rendering-until-deprecated`, or else add `"useSameDomainRenderingUntilDeprecated":true` to the `json` attribute.

[2017-07-19 15:11] adamsilverstein commented on #10495
Thanks @jridgewell! How long until this fix makes it to production? when can we test that the issue is resolved?

[2017-07-19 15:13] adamsilverstein commented on #10495
Oh, looks like its already resolved, no longer seeing the issue on our post. Thanks again.

[2017-07-19 15:27] keithwrightbos commented on #10484
They should use the data based attribute until our fix for json based has been deployed to production (sometime next week)

[2017-07-19 15:30] yieldmo-rao commented on #10484
Ah! Thank you so much @keithwrightbos  and @taymonbeal .

I'll have them make it `<amp-ad data-use-same-domain-rendering-until-deprecated type...></amp-ad>`

[2017-07-19 15:34] dortzur opened #10528 "Intent to Implement: Spot.IM Social Comments Official Extended Component"
Here at Spot.IM we love AMP, and would like to implement an AMP version of our social commenting  widget. Our comments are updated live on the our host sites.

We took a look at both the [Reddit Comments](https://github.com/ampproject/amphtml/blob/master/extensions/amp-reddit/0.1/amp-reddit.js) and [Facebook Comments](https://github.com/ampproject/amphtml/blob/master/extensions/amp-facebook-commen

[2017-07-19 15:41] wassgha commented on #10264
Me and @aghassemi  will take a brief moment to get approval form the community for the naming of some of the features we've been working on https://docs.google.com/presentation/d/1DA5yGv9VgIPg9asx847D9Mr4i_hU5EBWrX_S7LYOEu0/edit#slide=id.g22a2658cb9_0_0

[2017-07-19 15:45] choumx commented on #10522
Looks like the same issue as: https://github.com/webcomponents/webcomponentsjs/issues/556

Thanks for the report. Working on a fix now.

[2017-07-19 15:47] elisei commented on #10472
To complement the doubt, tests done in the same domain in 2 google test tools:

https://validator.ampproject.org/#url=https%3A%2F%2Fwww.cristaisaquarius.com.br
Result: PASS

https://search.google.com/test/amp?utm_source=wmx&utm_medium=link&utm_campaign=wmx-agg&id=N2AfhzVgCr_f8_b4yq2PSQ
Result: Fail

What is the right tool for the test?

[2017-07-19 15:54] keithwrightbos commented on #10484
oh I'm so sorry, I just realized that we're actually looking for useSameDomainRenderingUntilDeprecated like you had which is not valid... (see https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/0.1/doubleclick-a4a-config.js#L86).  The error page you referenced seems to indicate they're adding it in all lowercase.  Is that true?  Did they try camel-case?

[2017-07-19 16:22] rudygalfi commented on #10075
Could we consider investigating this a bit during the current sprint and working on it next sprint?

[2017-07-19 16:22] rsimha-amp commented on #10482
Sauce labs logs could do with some love.

[2017-07-19 16:35] #9292 closed

[2017-07-19 16:55] aghassemi commented on #10475
@mianuddin Go for it, thanks for contributing.

[2017-07-19 17:11] harquail commented on #10302
Is the correct thing for amp-ads to load ampcontext-lib.js independently?  Currently publishers have to useSameDomainRenderingUntilDeprecated to render interactive yieldmo ads and we're curious if the alternative way to get window.context is ready (cc @yieldmo-rao)

[2017-07-19 17:28] #10490 closed

[2017-07-19 17:30] cramforce commented on #10264
I will be out due to a conflict. Bad scheduling that I missed to correct :/

[2017-07-19 17:31] aghassemi commented on #8976
Hi @Rahul007shah

Documentation is here: https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#special-targets

Example is here: https://github.com/ampproject/amphtml/blob/master/examples/standard-actions.amp.html

[2017-07-19 17:41] aghassemi commented on #10528
@dortzur I don't foresee any particular issues with this ITI. Sizing (i.e. avoiding a sub-scrolling area) is probably the most important consideration here and there were plenty of discussions around it initially when `facebook-comments` component was proposed. You can see some of that discussion here: https://github.com/ampproject/amphtml/issues/5219#issuecomment-280517360

/cc @dvoytenko

[2017-07-19 17:47] jridgewell commented on #10472
Testing it, it seems to make two requests:

1. `User-Agent: Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)`
2. Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)

Either way, this is a Google specific question and should be as

[2017-07-19 17:47] #10472 closed

[2017-07-19 17:49] jridgewell commented on #10495
It'll likely hit canary testing today, with it going to prod next week. Did the `srcdoc` get smaller?

[2017-07-19 18:00] ethereal-sandeep commented on #10385
Hi @aghassemi  i would like to work on this if its not claimed yet !!

[2017-07-19 18:00] jridgewell commented on #10494
This is a Google Search specific question, not AMP. Try asking in the Google forum? https://goo.gl/utQ1KZ

[2017-07-19 18:00] #10494 closed

[2017-07-19 18:01] Raphaeljunior commented on #10477
On it. Let me start the reading.

[2017-07-19 18:02] aghassemi commented on #10523
`amp-form` currently enforces credentials for xhr. I don't believe there is any plan to allow this to become configurable ( @rudygalfi ?).

Looks like you want to implement `search` functionality based on your sample. Using `amp-list` (which does not enforce credentials) might be a better solution than `amp-form` to fetch search results. Please see https://ampbyexample.com/samples_templates/produc

[2017-07-19 18:14] adamsilverstein commented on #10495
no, actually I misspoke, our issue persists.

[2017-07-19 18:17] chenryhen opened #10531 "amp-pinterest ignores `data-height="tall"`"
## What's the issue?

`data-height="tall"` is not changing the how the Pinterest button renders.

## How do we reproduce the issue?

In the AMP playground, if you change the Pinterest button code to
[code]
per the documentation: https://www.ampproject.org/docs/reference/components/amp-pinterest
You see this
<img width="399" alt="screenshot 2017-07-19 14 09 46" src="https://user-images.githubuserco

[2017-07-19 18:26] yieldmo-peter commented on #10484
thanks Keith, I wanted to confirm that

`<amp-ad width=300 height=250
        type="doubleclick"
        data-slot="/4735792/amp.us.reuters/life/health/article"
        useSameDomainRenderingUntilDeprecated='1'
        json='{"targeting":{"articleId":["USKBN1A40UX"]}}'>
</amp-ad>`

is what AMP is looking for though the validator will report it as an error?

[2017-07-19 18:28] avimehta commented on #10491
@doc-tongue amp-analytics should work on localhost without any changes. By default, amp-analytics finds the top most domain to write cookies on. For localhost, it'll write the cookies to `localhost` and path: `/`.

If running on localhost is not working, can you post the repro steps for what you are running, what you expect to see and what you are seeing instead?

[2017-07-19 18:40] ithinkihaveacat commented on #8791
I spoke to @beverloo regarding Chrome potentially tightening up various requirements around requesting permission (see https://github.com/WICG/interventions/issues/49).

To summarize:

- The complexities around one site hosting the content, and a separate site hosting the push notification "plumbing" (service worker, requesting notification permission, etc.) as required by the `<amp-webpush>` comp

[2017-07-19 18:58] avimehta commented on #7184
@zhouyx Confirmed that GA works correctly.

Send following hits:

[code]

As expected, the first hit created a direct session.
Second hit created a new session attributing it to `google`.
Third and fourth hits were added to the same session and the source was kept as Google.

[2017-07-19 19:15] aghassemi commented on #8880
@yskoh Just following up to see if you are still interested in working on this issue.

[2017-07-19 19:22] aghassemi commented on #10385
@ethereal-sandeep Great! before you commit, just disclaimer that this is not quite a GFI yet (hence the GFI Candidate label) as it requires API design first and is a bigger commitment than normal GFIs. If you are interested in both designing and implementing it, let me know. If not, I recommend picking one of the existing smaller GFIs.

If you decide to take it, please ping me here so we can start

[2017-07-19 19:59] #10518 closed

[2017-07-19 20:23] #10003 closed

[2017-07-19 21:24] rsimha-amp opened #10535 "Allow comments in `test/visual-diff/visual-tests.json`"
One way to do so is to use https://www.npmjs.com/package/comment-json to parse the file.

Brought up in https://github.com/ampproject/amphtml/pull/10532#discussion_r128369982

[2017-07-19 21:29] rsimha-amp commented on #10535
Oh wait, we parse `test/visual-diff/visual-tests.json` from a Ruby file, so we can't use  https://www.npmjs.com/package/comment-json.

Looking for another way.

/cc @cramforce

[2017-07-19 21:52] rsimha-amp opened #10536 "Return the status of a Percy build in pr-check.js"
This would allow us to flag failing `master` builds on Travis CI

[2017-07-19 21:52] rsimha-amp commented on #10536
/cc @cramforce

[2017-07-19 22:02] liuhelen10 commented on #10343
Hi @jridgewell , I'm still seeing this issue on prod. Looks like [the fix](https://github.com/ampproject/amphtml/pull/10366) was reverted at some point? Any updates here?

[2017-07-19 22:05] mianuddin commented on #10475
@aghassemi What's the best way to go about testing the action? I went through the tests for other extensions but could not find a similar instance for reference.

[2017-07-19 22:19] jridgewell commented on #10343
Yes, my fix caused several more issues with scrolling. I'm working on a new solution (actually, the 3rd attempt), but it's complicated by the header not having an explicit `top: 0px` style.

[2017-07-19 22:24] koshka opened #10537 "Implementation of VideoInterface for gfycat-amp player"
Autoplaying gfycat-amp videos should be paused when out of viewport.

Was mentioned in #6863

[2017-07-19 22:28] cramforce commented on #10343
@jridgewell Is there something @liuhelen10 could do to resolve the issue on their side? (independent of the larger fix)

[2017-07-19 22:34] jridgewell commented on #10343
Adding `top: 0px`. 😄

The code I'm working on now is a full-proof method of detecting `top: auto` (or implicit auto) styles, which'll allow us to extend to non-zero pixel-distances in the future.

[2017-07-19 22:37] jasti commented on #10075
@dvoytenko would you be able to help please?

[2017-07-19 22:59] dvoytenko commented on #10453
/cc @jridgewell for opinion

This problem, I believe, is more similar to [amp-dynamic-css-classes](https://github.com/ampproject/amphtml/blob/master/extensions/amp-dynamic-css-classes/amp-dynamic-css-classes.md).

I can certainly see where we could enlist dynamic HTTPS endpoints, viewer override, local/session storage, etc to apply a thematic CSS class. We do it today for referrer.

[2017-07-19 23:07] clawr opened #10539 "I2I: amp-ad-exit URL variable substitution from third-party analytics"
## Objective
Enable third-party analytics iframes to be the source of URL variable values in `<amp-ad-exit>` URLs.

## Background
https://github.com/ampproject/amphtml/issues/9433 provides a mechanism for collecting analytics signals with vendor-specific JavaScript. `<amp-analytics>` creates a sandboxed iframe to run the JavaScript. The JS may send an object with its findings back to the host page

[2017-07-19 23:19] jridgewell commented on #10453
Certainly, though it'll cause a noticeable delay in rendering. 😞

[2017-07-19 23:29] dvoytenko commented on #10453
But no more than `dynamic-css-classes` already regulates? And for outliers we'll use local/session storage so that it'd be available for the next doc view?

[2017-07-19 23:30] dvoytenko commented on #10075
Yes

[2017-07-19 23:31] jridgewell commented on #10453
Sorry, I mean the initial ajax request. Doing styling based on `referrer` is not terrible, since we can get it sync at startup. If we want to do _next_ page-view styling, using storage caching, that should work well. But after initial page visibility, it'd be pretty jarring for a full restyle to happen.

[2017-07-19 23:35] cramforce commented on #10453
Could it be done in a way where it only works if the value has already been written to local storage and have a service that writes to it asynchronously? It would basically allow customization of the N > 0th page view.

[2017-07-19 23:38] jridgewell commented on #10453
Yup, that's what I mean. I imagine we want to redo the request on every page view (so we get new styles if necessary), with the new styles applying on the next view.

[2017-07-19 23:39] cramforce commented on #10453
It feels somewhat special case-y, but otherwise fits well into AMP's stale-while-revalidate philosophy.

[2017-07-19 23:40] avimehta commented on #10244
Opened https://bugs.chromium.org/p/chromium/issues/detail?id=746687 for chrome. Will wait for their response. I could repro the issue in Chrome Canary with http://test.zoinks.in/xhr_chrome.html but could not reproduce it in Chrome stable. Also, the error does not show up in Firefox or Edge so this is likely a chrome specific thing.

If Chrome says that this is WAI, I can look at fixing this on GA

[2017-07-19 23:40] #10244 closed

[2017-07-19 23:45] cramforce opened #10540 "Add info about percy in contributors guide"
We should

- explain how people can get access to percy (for now: google form to submit email?)
- what to do if there is a failure.

[2017-07-20 00:03] rsimha-amp commented on #10164
Update: I eventually had to permanently check in #10526 to fix this. We need all regular snapshots _and_ the blank snapshot to run on `master` in order to serve as baselines for PR runs.

[2017-07-20 00:06] rsimha-amp commented on #10540
Good idea. I've already added a small blurb to `DEVELOPING.md`, and will add more details soon.

[2017-07-20 00:07] henryh15 commented on #8791
@ithinkihaveacat

Regarding your comment on "experimenting" with preventing sites with a low engagement score from seeking notification permissions..

What exactly does "experimenting" mean in this context? Is this something that'll look to be actively enforced and turned on in M62/M61?

[2017-07-20 00:09] #10522 closed

[2017-07-20 00:12] joshcp commented on #5276
@chrisdesrochers did #7493 solve this for you? Specifically interested in implementing CallTrackingMetrics in AMP.

[2017-07-20 00:31] aghassemi commented on #10475
@mianuddin For a good e2e test:
- [ ] Use `getSelector` to create a multi-select `amp-selector` similar to other tests but also pass an `id` in the attributes
- [ ] pre-select a few of its options using ('ampSelector.children[1].setAttribute('selected', '');')
- [ ] create an actual `button` (using `win.document.createElement`) and set it's `on` attribute to call the selector's `clear` action ( si

[2017-07-20 03:45] koshka commented on #10537
@aghassemi I think you requested this feature in #6863
Does this issue needs to be assigned to me or tagged before I make a pull request?

[2017-07-20 03:55] aghassemi commented on #9465
https://www.chromestatus.com/feature/5637156160667648 Chrome is intending to ship decide() on img

[2017-07-20 04:10] #8534 closed

[2017-07-20 04:56] mianuddin commented on #10475
Sounds great! I'll try it out right now. I have most of that already done, but I was working with `TriggerSpy` based on what I saw in other tests. Thanks for the clear breakdown!

[2017-07-20 05:01] p2er opened #10544 "AMP shadow does not render viewport dependent content in horizontal scroller"
## What's the issue?

If amp shadow is used to build a horizontal article slider with a regular scrollable container it will not load and render amp components that have to be inside the viewport to be rendered, like amp-img and amp-video, if the container is during the initial setup two viewports off canvas from the initial scroll position.

For example: In a slider with four slides the first two

[2017-07-20 06:17] ethereal-sandeep commented on #10385
Yes I would love to take it up and work on both  designing and implementing.

Thanks !

[2017-07-20 06:22] Haroenv commented on #10523
Okay, but there's no way I can have a dynamic results url with amp-list, right? And list only works with "items", while I have "hits" -- which can't be changed

[2017-07-20 07:43] mianuddin commented on #10475
@aghassemi I just made both of my pull requests. It won't allow me to add you as a reviewer, so I mentioned you in the comments.

- https://github.com/ampproject/amphtml/pull/10545
- https://github.com/ampproject/amp-by-example/pull/900

[2017-07-20 14:27] cramforce commented on #9465
Yes! I just yesterday talked to them about this, so they make the "Web Developers" signal "Positive" :)

[2017-07-20 14:37] mauricionr opened #10546 "When close lightbox on chrome for ios got redirected to search results instead keep in the same page"
## What's the issue?

When click to close lightbox on chrome for ios i got redirected to search results

## How do we reproduce the issue?

1. Open chrome on ios
2. search for amp by example lightbox
3. open the lightbox demo page
4. open lightbox demo
4. close it

## What browsers are affected?

Chrome for ios

## Which AMP version is affected?

i guess all versions

[2017-07-20 15:16] bradfrizzell opened #10549 "Fix caching for RTC"
Modify RTC so that we don't send the second request if there are no cache headers on the first response.

[2017-07-20 15:26] elljoh opened #10550 "Yieldbot ad, multiSize attribute console error"
## What's the issue?

The data attribute claim [here](https://github.com/ampproject/amphtml/blob/master/ads/yieldbot.md#with-doubleclick-amp-ad-data-attributes) is correct, but the Yieldbot `amp-ad` type logs errors (asynchronously as expected) for unknown `doubleclick()` data attributes.

e.g.
[code]

Requests to Yieldbot and Doubleclick still occur; fortunately, due to the validation error being

[2017-07-20 15:27] elljoh commented on #10550
Will be submitting a PR to resolve this issue shortly.

Assign to me.

[2017-07-20 15:59] choumx commented on #10264
### AMP Roots

- will: motivated by implementing amp-bind for FIE
- will: also, Kevin merged 40 PRs improving services and regretfully ended up with net increase in LOC
- dima: only a handful of services should be shared. history, vsync, resources, etc.
- dima: these shared services are also pretty heavyweight, others like "actions" are performance-trivial
- ali: is it worthwhile to have API to di

[2017-07-20 15:59] #10264 closed

[2017-07-20 16:40] aghassemi commented on #10537
@koshka Assigned. If you have any questions about implementing video-interface, please ping me on Slack or GitHub.
`amp-youtube.js` and `amp-brid-player.js` have a good reference implementation of the video-interface.

[2017-07-20 16:44] edhollinghurst commented on #9761
Hi @dvoytenko, I've created a demo of the shadow-slot issue we're seeing:

https://www.edhollinghurst.com/amp-shadow-slot/amp-shadow-slot.html
(You'll need to refresh the page to get the PWA)

You'll see that in Chrome the AMP logo appears and is slotted in the correct place. However this does not happen in Firefox.

I did try using the Shadow DOM polyfill to see if this helped but unfortunately d

[2017-07-20 16:49] aghassemi commented on #10523
@Haroenv the `src` of `amp-list` can be changed with `amp-bind` which would result in another fetch and render of data.

The endpoints for pretty much every XHR in AMP (`form`, `amp-list`, etc..) need to adhere to [AMP CORS Requirements ](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) which means you need to make changes to server-side part anyway. If it is an externa

[2017-07-20 16:52] WillDonohoe opened #10553 "[Validator] - Fails when using experimental features"
## What's the issue?

We require the use of experimental features in our template, however the the validator will fail if an experimental feature is included with this error message:

[code]

## How do we reproduce the issue?

* Clone the ampstart repo
* Open `templates/alp/alp.amp.json`
* Add "amp-fx-parallax" to the `"extensions"` array
* Run `npm run build`
* Notice the build will fail during t

[2017-07-20 17:23] lannka commented on #9959
@cramforce since you have [different opinion](https://github.com/ampproject/amphtml/pull/10407#discussion_r128531078) of supporting a formatted time in local timezone, can we address it here with the original feature requester?

From analytics's perspective, I agree with @1987yama3 that local time is better so the developers can really dive into the user's behavior across timezone. (do users read

[2017-07-20 17:24] rsimha-amp commented on #10482
With the changes above, here is what logs look like:

Native terminal app on macos:
![](https://user-images.githubusercontent.com/26553114/28429949-a541c6f0-6d4c-11e7-96a4-bf85b76af1c7.png)

Native terminal app on linux:
![](https://user-images.githubusercontent.com/26553114/28430135-5b4d63dc-6d4d-11e7-80f3-7e9f8b64d5b1.png)

Travis logs in a browser on macos:
![](https://user-images.githubusercon

[2017-07-20 17:29] cramforce commented on #9959
We provide `TIMESTAMP` and `TIMEZONE` (offset), so calculating the user's localtime is trivial server side.

If we do formatting, we should not just call it "formatted" since there are thousands of way to format a datetime. A sensible standard like SQL date times may make sense, but I don't see how that is better than epoch time + timezone offset.

[2017-07-20 18:00] lannka commented on #10482
This is awesome!

Shall we also make local tests less verbal? Especially when a test failed, it will start to print one line for each following test, then you have 5k lines to scroll back in terminal to see the original failure.

Or, if possible, a summary with failure details at the end of the test can be an alternative solution.

I might open a separate issue for this request, but just want to h

[2017-07-20 18:05] rsimha-amp commented on #10482
@lannka, can do. Let's use this issue. Can you give me more details about exactly what you want to see on the screen when you're running tests while developing? For `gulp test`? For `gulp test --integration`? For `gulp test --files`? There's now a new mode `gulp test --testnames` that lists every test that's being run. I left the local development logs alone because I didn't want to disrupt what e

[2017-07-20 18:15] #10452 closed

[2017-07-20 18:24] choumx commented on #10482
In think what's being shown on Travis now would be great for local dev: dot matrix, "summary" and "failed tests" (if any) sections.

[2017-07-20 18:26] lannka commented on #10482
+1

[2017-07-20 18:46] rsimha-amp commented on #10482
@choumx @lannka, SGTM. Note that if we switch to showing a summary at the end, you'll have to wait until the end of a test run to see the summary. In some cases, this may delay when you see that a particular test has failed, but it's trivial to hone in on the failures you care about by using `--files`. PR coming up.

[2017-07-20 18:55] lannka commented on #10482
@rsimha-amp would errors be printed immediately after a failure?

[2017-07-20 19:01] aghassemi commented on #9465
haha I was thinking you must have had something to do with this poping up :)

[2017-07-20 19:07] rsimha-amp commented on #10482
@lannka, no, errors are only printed at the end with the `super-dots` reporter + `mocha` summary, or with the full `mocha` reporter.

`super-dots` + `mocha` summary:
<img width="1234" alt="screen shot 2017-07-20 at 3 04 35 pm" src="https://user-images.githubusercontent.com/26553114/28434375-0983d8b4-6d5d-11e7-929c-6a1298cccd8b.png">

`mocha` with full logging:
<img width="1258" alt="screen shot 20

[2017-07-20 19:08] jridgewell commented on #10546
/to @aghassemi.

[2017-07-20 19:13] jridgewell commented on #10553
/to @camelburrito

[2017-07-20 19:18] aghassemi commented on #10546
Whoa, happens with closing sidebar too :(. History API related. on it.

[2017-07-20 19:20] taymonbeal commented on #10477
One issue I've just observed is that fetch-mock doesn't seem to distinguish CORS requests from non-CORS ones. Not sure if I would expect this to be a problem in practice or not.

[2017-07-20 19:21] jridgewell commented on #10475
Closed by https://github.com/ampproject/amphtml/pull/10545.

[2017-07-20 19:21] #10475 closed

[2017-07-20 19:22] taymonbeal commented on #10477
This is also true of other features that change the request headers but are controlled through init options rather than by directly setting them, such as credentials.

This might be fixable by overriding the right things, if we wanted to.

[2017-07-20 19:24] jridgewell commented on #10477
Wouldn't you deny or accept CORS requests manually?

[2017-07-20 19:36] taymonbeal commented on #10477
I mean that if the code under test is supposed to specify `mode: 'cors'` but doesn't then a test written using the fetch-mock API won't catch the bug.

[2017-07-20 19:39] aghassemi commented on #10546
b/63898533

[2017-07-20 19:53] aghassemi commented on #10209
@mrsufgi I think we can just expose `crossorigin` as an attribute on `amp-video` (requires validation rule changes) and propagate it to the underlying `video` then it is up to the publisher to set it properly (they may want to set it with `use-credentials` or `anonymous` depending on their use-case)

[2017-07-20 20:18] aghassemi opened #10558 "[amp-sidebar 1.0][a11y] Add skip nav link"
Skipnav links are invisible links that allow keyboard or screen-reader users to jumps over the navigation links and land on the main content.

Be mindful of buggy mobile screenreader behaviour for off-screen clickable targets. Look at how eixisting sidebar adds screenReaderCloseButton and take a similar approach.

We also need to dynamically figure out the target of skip nav. The first `<main>` ma

[2017-07-20 20:27] taymonbeal commented on #10484
@yieldmo-rao, could you [opt into AMP Dev Channel](https://cdn.ampproject.org/experiments.html) and then verify that `data-use-same-domain-rendering-until-deprecated` works now?

[2017-07-20 20:43] lannka commented on #8755
@aghassemi do we have examples for scroll bound animations?

[2017-07-20 20:54] src-code commented on #7608
Closing this one out.  No support for legacy players.

[2017-07-20 20:54] #7608 closed

[2017-07-20 20:55] torch2424 commented on #10432
To help outline the problem we have the following use cases

| ONly in toolbar | Only in sidebar | Toolbar and Sidebar | Toolbar only when toolbar , Sidebar only when not toolbar |
|----------|------------|------------|----------|
| Don't Use toolbar, create an element on the page | Don't use toolbar, simply use sidebar | Use an attribute specifying both | Use an attribute Specifying only to show

[2017-07-20 21:17] yieldmo-rao commented on #10484
Hey @taymonbeal , thanks for that. Just to make sure, could you please confirm if this is what the final syntax will look like:

`<amp-ad data-use-same-domain-rendering-until-deprecated type="doubleclick" other-attributes></amp-ad>`

And NOT

`<amp-ad data-useSameDomainRenderingUntilDeprecated="1" type="doubleclick" other-attributes></amp-ad>`

OR
`<amp-ad useSameDomainRenderingUntilDeprecated="1"

[2017-07-20 21:45] aghassemi commented on #8755
yes, http://localhost:8000/test/manual/amp-animation/scrollbound-embeds.amp.html which tests scrollbound animations in A4A in both FIE and 3p-fallback case.

https://ampbyexample.com/amp-ads/#amp-ads/experimental_ads has multiple scrollbound animations as well.

All of `amp-animation` (regardless of scrollbound or timebound) is still experimental however.

I am not sure if scrollbound stuff work i

[2017-07-20 21:45] lannka commented on #8925
This is indeed a bug. It happens when a var is defined recursively:

[code]

it gives:

[code]

I'm looking into a fix.
/cc @avimehta

[2017-07-20 22:03] wassgha opened #10561 "Implement iOS-compatible `fullscreenEnter` and `fullscreenExit` on video players that support it"
`fullscreenEnter` and `fullscreenExit` are two new methods in the video interface that need to be implemented on all video players that support the video interface.
A partial implementation exists (takes the containing `iframe` element to fullscreen). However this is not compatible with iOS.

**Part 1 :**
Look at the implementation of `fullscreenEnter` and `fullscreenExit` in `amp-dailymotion` and

[2017-07-20 22:20] dvoytenko commented on #2970
Additional enhancement that we could adopt (enabled by subdomain partitioning) is to allow server-side services to return and accept passthrough values. In this approach, the server may return a limited blob that the future server requests will receive back from the AMP Runtime. This blob can be used to store bloom filters and impression counts that the server-side can then interpret trivially.

[2017-07-20 22:25] dvoytenko commented on #10528
@dortzur Thanks for the ITI. I don't see any obstacle for approving such an extension. We can follow two approaches:

1. Similar to `amp-facebook-comments` - a layer around iframes. This is a 3p approach.
2. Native AMP implementation. It'd probably _not_ rely on other AMP components, but would have a fairly wide set of JS tools to code a 1p component. The requirements for these are pretty strict i

[2017-07-20 22:59] mauricionr commented on #7283
I have the same problem with amp fixed header using chrome on ios

the amp fixed header hide the content

![image](https://user-images.githubusercontent.com/2263551/28442128-1459bcd6-6d85-11e7-97e4-07c5d4ad636a.png)

[2017-07-21 01:47] alannawalton commented on #10266
I would like to be a part of this Design Review

[Design Doc](https://docs.google.com/a/google.com/document/d/1keCwnDqzadjoDv7sOh9EQV2lfR0Ff7SCHFNSZUrEAx4/edit?usp=sharing)

[2017-07-21 10:00] sigginet commented on #7283
@dvoytenko do you have any updates or links to external issues so I can follow the progress of this?
This is still broken on the stable iOS Chrome

[2017-07-21 10:05] Haroenv commented on #10523
Thanks @aghassemi, that means that there’s *no* way, even not when forking and changing `amp-list` to use another xhr method, since that wouldn’t be approved, right?

Apart from that, I think we’re pretty close being able to have Algolia work in AMP

[2017-07-21 10:05] #10523 closed

[2017-07-21 10:58] mrjoro opened #10567 "Add SUPPORT.md file"
GitHub now has support for a [SUPPORT.md file](https://help.github.com/articles/adding-support-resources-to-your-project/); we should add one.

[2017-07-21 11:05] Haroenv opened #10568 "FR: Support Algolia results"
## Intro

[Algolia](https://www.algolia.com) is a hosted search as a service. Users can upload their data, so that it gets indexed and replicated over several machines, in several locations even if a DSN is used.

The most used way of bringing Algolia search, is by doing it in the frontend by using one of our InstantSearch libraries. These exist for [vanilla](https://community.algolia.com/instants

[2017-07-21 11:53] taymonbeal commented on #10484
Sorry for not clarifying. The correct syntax is `data-use-same-domain-rendering-until-deprecated`. The JSON way may be supported later, but not in the next release.

[2017-07-21 14:36] dortzur commented on #10528
@aghassemi @dvoytenko Thank you for the valuable feedback! I think we now have everything we need to get started on development once it gets prioritized.

[2017-07-21 15:16] rsimha opened #10571 "Tests with long timeouts are causing `gulp test` to run incessantly"
We currently have three test classes with several tests in them that use a 20s timeout.
![screenshot from 2017-07-21 11 12 05](https://user-images.githubusercontent.com/26553114/28469814-7e92075e-6e05-11e7-9d1b-77c17447447c.png)

And a few more that use a 15s timeout.
![screenshot from 2017-07-21 11 14 02](https://user-images.githubusercontent.com/26553114/28469925-e6c3c6c8-6e05-11e7-9093-8599d283

[2017-07-21 15:18] rsimha-amp commented on #10571
/cc @choumx @erwinmombay @jridgewell

I'm seeing this with local runs on my machine.

[2017-07-21 16:03] rsimha-amp commented on #10571
In this example, `gulp test` took about 30 minutes total with several failures. Most of the time was spent waiting for tests to time out.

https://gist.github.com/rsimha-amp/f505a15a15e01383c24693c3ddf58a83

[2017-07-21 16:12] yieldmo-rao commented on #10484
No worries - thanks a bunch for confirming, @taymonbeal

[2017-07-21 16:27] Gregable commented on #10345
This should be live in validation in about an hour.

[2017-07-21 17:06] choumx commented on #10571
Yea, it's an issue. 😄  We should try to keep overall Travis builds to 20min or less but there's no silver bullet AFAICT. Let's discuss further.

Geez. Is that normal for you on Linux? I usually only get a handful of timeouts, if any.

[2017-07-21 17:08] rsimha-amp commented on #10571
Yep, it appears this is the norm on linux nowadays :(

[2017-07-21 17:11] ethereal-sandeep commented on #10385
Lets start with API requirements.

[2017-07-21 18:05] #8925 closed

[2017-07-21 18:14] torch2424 commented on #9988
This has been decided to not be done, as the same result could be achieved with #10126

[2017-07-21 18:14] #9988 closed

[2017-07-21 18:15] torch2424 commented on #9989
This is no longer relevant, as docking could be achieved with #10126 , toolbar's `target` attribute

[2017-07-21 18:42] lannka commented on #10456
@jasti FYI I re-scoped the issue to be more actionable for this sprint.

[2017-07-21 18:45] lannka opened #10575 "Get rid of the error-prone global "data" object in integration.js"
https://github.com/ampproject/amphtml/blob/master/3p/integration.js#L214

It caused a production bug.

[2017-07-21 18:46] lannka opened #10576 "Clean up the `data['_context']` code in integration.js"
It caused a production bug.

3 points

[2017-07-21 19:00] shawnbuso commented on #9793
FYI I've started work on this but I hit what might be an IMA bug, or might be an implementation bug that I can't figure out. I'll be working with one of the IMA SWEs next Tues to debug and hopefully resolve.

Also, kinda a big caveat, but this will not work on iOS. That's an IMA limitation, not a limitation of my plugin - we re-use the content player for ads on iOS, so we can't pre-load because th

[2017-07-21 19:22] rsimha-amp opened #10578 "Link checker is confused by empty blocks bounded by backticks"
Discovered via https://github.com/ampproject/amphtml/pull/10089#issuecomment-317076477

See https://travis-ci.org/ampproject/amphtml/jobs/256041648#L646

Note that link incorrectly shows up with a trailing backtick.

[2017-07-21 19:23] rsimha-amp commented on #10578
/cc @zhouyx

[2017-07-21 19:31] #10578 closed

[2017-07-21 19:43] aghassemi commented on #9793
Thanks for the update. I assume this will be an attribute similar to `amp-video`'s `preload`? For `amp-video` we default to `none` but authors can specify `metadata` or `auto` similar to HTML5 video

[2017-07-21 19:47] shawnbuso commented on #9793
I don't think IMA supports it at that granularity - it's either on or off. I should be able to make it an attribute of amp-ima-video if that's what makes the most sense - up to this point I've just been hardcoding it to test it out.

[2017-07-21 20:38] #10454 closed

[2017-07-21 20:44] bradfrizzell opened #10580 "gulp check-types did not catch mistake."
@keithwrightbos had a type error in the Doubleclick fast fetch launch PR that was not caught by check-types.

This is the line in question: https://github.com/google/amphtml/blob/55a1c902333ef8322bb3a814362911fc89c2e987/extensions/amp-ad-network-doubleclick-impl/0.1/doubleclick-a4a-config.js#L101

branches should be an array of strings, not an object, as per: https://github.com/ampproject/amphtml/

[2017-07-21 20:46] bradfrizzell commented on #10580
Marked as P1 because if check-types didn't catch this, presumably there's other instances it's missing too that we just haven't stumbled across.

[2017-07-21 21:14] dvoytenko commented on #7283
@muxin Do you have a response on the progress here? Did we ever file a bug against iOS Chrome?

[2017-07-21 21:19] dvoytenko commented on #7283
Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=687317

[2017-07-21 21:20] choumx commented on #10580
Closure doesn't appear to enforce missing generics. Here's a [simple example on their sandbox app](http://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540output_file_name%2520default.js%250A%252F%252F%2520%253D%253D%252FClosureCompiler%253D%253D%250A%250A%252F%25

[2017-07-21 21:47] #10404 closed

[2017-07-21 22:40] #9722 closed

[2017-07-21 22:55] zhouyx commented on #10042
Sorry for the late reply. I'll take a look

[2017-07-21 23:14] jridgewell commented on #7283
I looked into this today. This is both a iOS Chrome bug, and a Google viewer bug. Basically, `resize` and `orientationchange` events fire inconsistently, and very frequently they fire _before_ the window size actually changes.

If iOS Chrome fired them consistently, the bug would be fixed. But Google viewer can be better about waiting for the window size to change before firing handlers.

[2017-07-22 00:58] aghassemi commented on #10385
@ethereal-sandeep sorry for the delay, sounds good to me! thanks for volunteering, very much appreciated.

For requirements, here is what I have in mind:

## MVP
- [ ] Ability to set an enddate (probably ISO format with optional timezone section similar to `amp-timeago`) and get some default out of the box rendering. (e.g. `2 days 10 hours 2 minutes 30 seconds` )
- [ ] Ability to customize and int

[2017-07-22 01:02] aghassemi commented on #10531
/cc @levidurfee

[2017-07-22 01:05] jridgewell commented on #7283
Actually, we're not even listening for height resize events, only width changes. So when the browser header pops up (due to navigation), we don't even realize it.

[2017-07-22 01:21] levidurfee commented on #10531
hi @chenryhen !

Thank you for submitting this issue. I'll be looking into it this weekend. I'll let you know what I find or if I have any questions :)

[2017-07-22 01:49] dvoytenko commented on #7283
@jridgewell Interesting... Does it mean we can actually fix this on our side? It seemed to me that even the most basic statically positioned elements we affected, as if the edge of the document root was falling under the browser's address bar regardless of our paddings.

[2017-07-22 01:51] jridgewell commented on #7283
Yah, it's just a style that's using an incorrect height value (calculated before the browser header reappears). Once the header shows it'll trigger a resize, and we get the right height. We just need to listen for it.

[2017-07-22 02:56] levidurfee commented on #10531
@chenryhen , would you mind trying something for me?

If you change your `data-height` attribute to `data-tall`, then the value _should be_ `true`, but I think it'll work with anything in there.

I was looking at the [docs](https://www.ampproject.org/docs/reference/components/amp-pinterest) for this component and it does say `data-height`. However I don't see anything in the code that uses `data-h

[2017-07-22 10:16] 1987yama3 commented on #9959
@lannka @cramforce
Here are a few use cases that need this feature.

Case1: Google Analytics custom dimensions
It is common to include client IDs and timestamps in custom dimensions. This allows you
to display the action flow for each user. There is no data type definition for custom dimensions.
In other words, in order to make the report page easier to view, it needs to be sent with a formatted s

[2017-07-22 14:40] ethereal-sandeep commented on #10385
MVP and NON-MVP both requirements sounds Awesome. For design i have few thoughts so lets have a session and from then onward's I will start with MVP and then move on to NON-MVP.

[2017-07-22 14:55] ericlindley-g commented on #10385
At first glance looks great!

A couple things occur to me:

1. Agree that it makes sense to split into MVP and future improvements, and wonder if there's even more paring down we can do for the MVP. Here are some examples that might help scope it:

ex.
https://countingdownto.com/
https://www.timeanddate.com/countdown/create
http://itsalmo.st/#
https://www.tickcounter.com/
http://www.xmasclock.com/

[2017-07-22 14:59] ericlindley-g commented on #1445
Hey @luigi  — sorry we missed your comment here!

FYI that @alannawalton is working on this feature here: https://github.com/ampproject/amphtml/pull/10559

Might be worth sync'ing to get on the same page w/r/t requirements & ability to customize

@aghassemi @rudygalfi for visibility

[2017-07-22 15:06] ericlindley-g commented on #1445
@luigi  — do you have any details about what aspects of the interaction you'd like to be able to customize (like the dividing line), or anything that might not be obvious from checking out the interaction in the link?

Thanks!

[2017-07-22 16:15] letsila commented on #7939
This bug doesn't occur anymore on the latest (Version: 1500510703681)

[2017-07-22 16:50] OfferGyan commented on #2462
Guys. I Have Also this Problem.
Recently I Installed AMP on My Blog [https://offergyan.com](url)
But now there are lots of amp errors in webmaster. Please solve it.

[2017-07-22 18:28] koshka commented on #10537
@aghassemi thank you. Can you please review this PR #10583 or assign someone?

[2017-07-23 00:04] ericlindley-g opened #10587 "FR: remove sidebar children and width restrictions"
Context:
amp-sidebar currently disallows a [broad set of children](https://github.com/ampproject/amphtml/issues/9025), including [amp-iframe](https://github.com/ampproject/amphtml/issues/6452), and enforces a max-width relative to the viewport width

Initially these restrictions were in place to discourage bad UX: i.e. blocking ads, getting trapped in the sidebar with no close affordance, etc

How

[2017-07-23 00:06] ericlindley-g commented on #10266
Adding an item for quick discussion this coming week: https://github.com/ampproject/amphtml/issues/10587

[2017-07-23 00:51] ericlindley-g commented on #10453
This sounds promising — any volunteers to write up a doc and take it through design review?

[2017-07-23 23:14] #10466 closed

[2017-07-23 23:14] mrjoro opened #10588 "Weekly Status 2017-07-24"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-07-24 03:47] reach123 opened #10589 "AMP"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-24 07:12] Haroenv commented on #10589
I have a feeling you didn't enter anything in this issue. You should describe your problem more clearly 😄

[2017-07-24 14:55] cramforce commented on #8727
Should we close this or #9143 or are they different?

[2017-07-24 15:23] rsimha-amp commented on #10540
@cramforce, I wrote up a new section on visual diff tests in DEVELOPING.md and sent you #10581 for review. I've also created a google form to accept requests for access to the percy snapshots.

[2017-07-24 15:43] choumx commented on #10462
Sorry for the late response!

Yea I'd think that's a nonstarter due to content jumping.

Why not? I can imagine having a "view all comments" overflow button and a "next page" pagination button. Not as elegant as having a single button but avoids content jumping.

[2017-07-24 15:50] ericlindley-g commented on #10462
Thanks @choumx ! Can you add detail on why content jumping is higher risk in this case than in, say, the case where it resizes based on how many items are returned from the server call?

[2017-07-24 15:51] #10589 closed

[2017-07-24 15:52] aghassemi commented on #10587
Related https://github.com/ampproject/amphtml/issues/6452

[2017-07-24 15:54] aghassemi commented on #10537
@koshka Thanks for the PR. I assigned to myself. Will review soon.

[2017-07-24 15:55] choumx commented on #10462
Maybe I'm missing something. The latter requires user action while the former doesn't, right?

[2017-07-24 16:06] ericlindley-g commented on #10462
Ah, sorry — momentarily forgot how amp-list worked, so you can disregard my question

[2017-07-24 16:11] lannka commented on #10178
Addressed in #10519

[2017-07-24 16:11] #10178 closed

[2017-07-24 16:13] lannka commented on #10082
Closing this for now, since the discussion went in different direction. @SchnWalter if you think a `media` selector in amp-analytics is helpful, please open a separate proposal.

[2017-07-24 16:13] #10082 closed

[2017-07-24 16:16] lannka commented on #10367
Discussed offline. No immediate action item to take.

[2017-07-24 16:16] #10367 closed

[2017-07-24 16:17] lannka commented on #7445
#7665 should have made it better. closing it for now.

[2017-07-24 16:17] #7445 closed

[2017-07-24 16:19] lannka commented on #9581
@bradfrizzell see #10200 #10173 for examples

[2017-07-24 16:48] njuljsong opened #10592 "Pinterest social button does not have image_url set up"
## What's the issue?
When I include `amp-social-share-0.1.js` to display share buttons in AMP content, I find that Pinterest button does not correctly include the `image_url` parameter,  the pop up window does not show any image, and I cannot share the content.

## How do we reproduce the issue?
To reproduce, just go to `https://ampbyexample.com/components/amp-social-share/`, click the red Pintere

[2017-07-24 16:48] aghassemi commented on #10588
* `TextEncode`/`TextDecode` now [forbidden](https://github.com/ampproject/amphtml/pull/9331), ad-network-fake-impl works on Safari
* `amp-imgur` resize [fix](https://github.com/ampproject/amphtml/pull/10541)
* [Requirements](https://github.com/ampproject/amphtml/issues/10385) and discussions for `amp-countdown`
* Research and discussions around [Custom Controls ](https://github.com/ampproject/amph

[2017-07-24 16:56] newmuis commented on #8727
This sounds like a duplicate of #9143, which has more context around a possible solution.

[2017-07-24 16:56] #8727 closed

[2017-07-24 17:04] choumx commented on #10588
- Discussed AMP Roots in design review
- Fix amp-bind fallback bug
- Fix createTreeWalker IE bug
- Avoid generic type error with new annotations

[2017-07-24 17:05] njuljsong commented on #10592
@aghassemi Thanks for the quick fix. Also please fix this doc: https://www.ampproject.org/docs/reference/components/amp-social-share#pre-configured-providers

[2017-07-24 17:06] torch2424 commented on #10588
* Finalizing Attribute naming for Sidebar 1.0
* Working on the Configurator engine for AMP Start

[2017-07-24 17:25] aghassemi commented on #10592
Done, docs being updated in PR #10593

[2017-07-24 17:32] njuljsong commented on #10592
Thanks @aghassemi, Super efficient!
I'll just close it as fixed.

[2017-07-24 17:32] #10592 closed

[2017-07-24 17:38] shawnbuso commented on #9258
@aghassemi do you have any more info on what this means? I was looking for documentation on how to handle this but couldn't find anything - I see in the repo some instances of `describes.realWin` and `describes.sandboxed` but I'm not sure what the difference is or which should be used where.

[2017-07-24 17:43] aghassemi commented on #9258
I can take this one if you don't mind,I have a small project around the whole video tests.

[2017-07-24 17:44] rsimha-amp commented on #10588
- Added a new `gulp` task for `ava` tests (#10483)
- Made several improvements to test logging on Travis and for local development (#10482)
- Added detailed documentation to `DEVELOPING.md` for visual diff tests (#10581)
- Created an approval workflow for `ampproject/amphtml` committers to get access to Percy diffs ([Google forms link](https://docs.google.com/forms/d/e/1FAIpQLScZma6qVJtYUTqSm4KtiF

[2017-07-24 17:46] cvializ commented on #10588
- Review feedback on #10503
- Async verification ABE example #9700

[2017-07-24 17:57] shawnbuso commented on #9258
Sure, no prob - thanks!

[2017-07-24 18:09] aghassemi opened #10597 "amp-ima-video: add builtin support for enter/exit Fullscreen"
See https://github.com/ampproject/amphtml/pull/10108/files#diff-0492d1e49538fddd7a9a8b0089033ee1R280

[2017-07-24 18:16] cvializ opened #10599 "Expose analytics config to components to enable optimizations"
Some analytics features require components to consume extra resources that aren't needed if analytics is not present, e.g. a timer for video-seconds-played spec'd by #9902

Currently analytics configurations are not exposed to components, so components cannot selectively enable resource-consuming functionality. This issue requests an implementation that allows components to query the current analy

[2017-07-24 18:19] erwinmombay opened #10600 "generate CODEOWNERS from OWNERS.yaml"
We'd like to keep our OWNERS.yaml structure since it gives us more granularity than the github CODEOWNERS setup

[2017-07-24 18:20] lannka commented on #10482
@rsimha-amp all is great
just one thing with the `--files` flag. we lost immediate feedback when running saucelabs tests locally.
See: https://gist.github.com/lannka/6aac5552a6aa1c100f99afa2d79dcfee

[2017-07-24 18:26] zhouyx commented on #8755
Would not work for non-AMP hosts at this time. @aghassemi We can sync offline sometime this week.

[2017-07-24 18:43] lannka opened #10603 "Get rid of unnecessary polls in test-amp-ad-3p.js"
https://github.com/ampproject/amphtml/blob/master/test/integration/test-amp-ad-3p.js
we might rely on window.onload

[2017-07-24 18:52] #9565 closed

[2017-07-24 18:58] rsimha-amp commented on #10540
It turns out we need to provide installation instructions.

[2017-07-24 19:10] #10540 closed

[2017-07-24 19:15] jridgewell commented on #10588
- Fixed layer bugs
- Layers work again

[2017-07-24 20:08] #10550 closed

[2017-07-24 20:15] lannka opened #10606 "test-amp-ad-3p.js isn't correctly testing the case when the 3p-use-ampcontext flag is on"
the flag is turned on too late

/cc @alanorozco

[2017-07-24 20:20] coreybyrnes commented on #9546
Any further thoughts on a solution for manually collapsing the amp-ad container from with ad code? :)

[2017-07-24 20:35] zhouyx commented on #10042
@ciampo Thanks for filing the issue. I tried to use the InOb inside iframe and found:

In our example case, we assume the `postMessage` script is in the created iframe, where `window.parent` is the top window. I'll add a note to postMessage to the AMP window.

I agree it doesn't make sense to check `event.data.origin != window.context.location.origin` here. And `window.context` is not applicable t

[2017-07-24 20:39] #10343 closed

[2017-07-24 20:39] #10413 closed

[2017-07-24 20:50] zhouyx commented on #10042
@ciampo I created #10042 to improve the documentation.

[2017-07-24 21:08] mauricionr opened #10609 "When using amp-lightbox with attribute scrollable, amp-img not load the image"
## What's the issue?

without attribute `scrollable` in a `amp-lightbox` the `amp-img` tag load the image as expected,

## How do we reproduce the issue?

add the `scrollable` attribute in a `amp-lightbox`, the `amp-image` not load the image

[code]

1. add the attribute `scrollable` to `amp-lightbox`
2. the `amp-img` not load the image

## What browsers are affected?

All browsers

## Which AMP v

[2017-07-24 21:15] #10042 closed

[2017-07-24 21:31] choumx opened #10611 "amp-list: [state] binding applied even if unchanged"
This is because bind-impl.js only checks shallow equality to determine whether an expression's result has changed. This causes unexpected behavior for amp-list elements with both `[src]` and `[state]` bindings.

[2017-07-24 21:48] chenryhen commented on #10531
@levidurfee that works! Thanks

[2017-07-24 21:58] gilbox opened #10613 "amp-list: Error when items attribute includes array index"
## What's the issue?

Using an array index in the items attribute does not work. For example, `items="foo.x"` works but `items="foo.0.x"` does not.

## How do we reproduce the issue?

I created an endpoint that returns the following data at the url `/x`:

[code]

Then I added the following `amp-list`:

[code]

Which resulted in the error:
[code]

![image](https://user-images.githubusercontent.com/

[2017-07-24 22:34] torch2424 commented on #10558
After discussing with @aghassemi , we decided this would mainly affect the `toolbar` attribute of Sidebar 1.0. The concern is that in the main use case, developers will use toolbar as a top nav bar, and should be able to skip it. It is suggested we add a "skip to toolbar content" element at the beginning of the target. And a focusable element at the end of the target, to enable skipping the conten

[2017-07-24 22:41] rsimha-amp opened #10614 "Improve the usability of check-links"
1. People are often confused when an example link is marked as a failure. A simple fix is to surround it by backticks. We must suggest this to the user. See https://github.com/ampproject/amphtml/pull/10585#issuecomment-317543966
2. The log messages for `gulp check-links` are extremely verbose when a large number of files are passed in via `--files`. It's preferable to automatically detect the list

[2017-07-24 23:03] zhouyx commented on #9944
I can no longer see the error in error reporting. Close for now.

[2017-07-24 23:03] #9944 closed

[2017-07-24 23:07] torch2424 commented on #9847
After looking into this, I stumbled across this [SO question](https://stackoverflow.com/questions/27614714/hide-all-elements-from-screen-readers-except-one-div). Essentially, since the mask is just an element that is adjacent to the sidebar, and does not contain any of the actual content, solving this problem will prove to be an issue.

It appears, our best plan of action, would be to add role="di

[2017-07-24 23:52] levidurfee commented on #10531
That is great news, @chenryhen ! Thank you for taking the time to try that.

I'll check to see I should create a pull request for the other things I noticed while looking into this.

/cc @aghassemi

[2017-07-24 23:58] #9597 closed

[2017-07-25 00:04] #10603 closed

[2017-07-25 00:16] zhouyx commented on #7479
@jasti Is it OK to remove the experimental flag now? What's our conclusion on sticky-ad early loading (load after first scroll)?

[2017-07-25 00:19] zhouyx commented on #6810
@smartadtags any update on the issue? Close for now, feel free to reopen it.

[2017-07-25 00:19] #6810 closed

[2017-07-25 00:20] zhouyx commented on #9595
I think we decided to keep it for now. Close the issue

[2017-07-25 00:20] #9595 closed

[2017-07-25 01:24] camelburrito commented on #9847
@torch2424 No this solution is not feasible. This is not just a sidebar issue , lightboxes should face the same issue too, Can you check what lightbox does ?

[2017-07-25 03:56] wassgha commented on #10588
- Discussed attribute naming for Video Docking, Auto-fullscreen and Floating Audio Controls
- Created demos for video docking
- Created prototype of custom video controls
- Explored possibility of implementing video interface for vimeo
- Worked on making `fixed-layer` observable (will fix overlap between sticky ads and docked videos)
- Worked on requested changes for auto-fullscreen videos
- Worke

[2017-07-25 13:14] #10614 closed

[2017-07-25 13:57] robinpokorny commented on #10613
Currently, only simple object nesting is supported.

The reason is this line: https://github.com/ampproject/amphtml/blob/master/src/json.js#L100, since `hasOwnProperty` will return *false* for an array and any index.

I'm not sure if such behaviour would be desired.

[2017-07-25 15:24] kul3r4 commented on #10462
@choumx The idea of using 2 buttons doesn't help to keep the current Reddit experience the same.
Currently the mobile page shows, at the bottom: "More comments (number of comment)" and there is no pagination in place. I think having 2 buttons would be confusing.

[2017-07-25 15:41] rsimha-amp commented on #10535
It turns out that Ruby's `json` natively allows comments. Sending out a PR to document `visual-tests.json`.

[2017-07-25 16:00] choumx commented on #10462
@kul3r4 If an amp-list is at the bottom of the page, resizing should be automatic (overflow button won't be displayed).

@sffriend Can you provide more details on your exact use case? E.g. a sample page.

[2017-07-25 16:09] aghassemi opened #10622 "`class` attribute binding improvements"
Discussion issue to consider improvements for binding to `class` attribute and make it easier to add/remove/toggle dynamic classes, specially when combined with a list of static classes.

### Current ways of binding to `class`
1- `<div class="static class" [class]="dynamicVar1 dynamicVar2 + 'static class'">`
2- `<div class="static class" [class]="dynamicClassArray.join[' '] + 'static class'">`
3-

[2017-07-25 16:27] #10535 closed

[2017-07-25 16:39] choumx commented on #10622
Thanks for filing this!

Another option is to add a special variable (`this`?) that returns the initial value of the property:
[code]
This would avoid ambiguity in cases where both `[class]` and `[class+]` bindings exist (at the cost of overriding a custom var with the same name).

[2017-07-25 16:47] aghassemi opened #10623 "Use the newly proposed `scroll-boundary-behavior` for `amp-sidebar`, `amp-lightbox`"
Proposed CSS standard `scroll-boundary-behavior` allows developers to decide the browser's behavior once a scroller has reached its full extent.

When launched, we should use it on `amp-sidebar` and `amp-lightbox` to prevent overscrolling of the parent body (using `contain`)

https://www.chromestatus.com/feature/5734614437986304
https://github.com/w3c/csswg-drafts/issues/769
https://groups.google.

[2017-07-25 16:53] #10580 closed

[2017-07-25 16:59] ericfs opened #10624 "Strip cache specific query params from URLs for use by analytics"
The URLs for the AMP Cache may have extra query parameters like amp_js_v that is not part of the original URL and are not needed for analytics.

Related internal issue: b/63635218

cc @dvoytenko

[2017-07-25 17:20] aghassemi commented on #10531
@levidurfee Thanks for looking into this.

[2017-07-25 17:29] torch2424 commented on #9847
@camelburrito Lightbox is a child element of body, that is position fixed with a high index, and covers the entire viewport. However, other elements are not children of the Lightbox, but are children on the body.

So the same problem would be faced by Lightbox as well

[2017-07-25 17:38] jridgewell commented on #10613
That's not quite right, `#hasOwnProperty` will return `true` for array indices. The issue is that `<amp-list>` expects an array, and you've selected an individual item of the array.

[2017-07-25 17:38] #10613 closed

[2017-07-25 17:43] #10606 closed

[2017-07-25 17:44] aghassemi commented on #10622
@choumx very interesting idea. Having access to the previous value of the attribute you are binding to can be useful in other cases too like `amp-list src="foo.com" [src]="this + '?q=` + search"` I like it :)

[2017-07-25 17:48] aghassemi commented on #10622
@choumx I guess we need to clarify if `this` is the previous value or original value. In both of our example it is the `original`. `previous` could be useful too but probably our of scope for the problem in hand here. Maybe `initialValue` as the name? (same name as `Array.reduce()` API)

[2017-07-25 17:54] gilbox commented on #10613
@jridgewell

That is incorrect, I've selected this value:

[code]

Anyway, I opened a [PR](https://github.com/ampproject/amphtml/issues/10627) to fix this.

[2017-07-25 17:54] robinpokorny commented on #10613
@jridgewell, I don't think this is the case.

There is an array at the path `foo.0.x`. This syntax, or similar like `foo[0].x`in [_.get](https://lodash.com/docs/4.17.4#get), could easily be supported. The question is if it should. I'd say yes since sometimes one cannot control the JSON output.

You are right, about `hasOwnProperty`, in fact, an array does not pass the [isObject](https://github.com

[2017-07-25 18:08] jridgewell commented on #10613
I see, thanks for looking into it. I'm fine with supporting array indices.

[2017-07-25 18:09] lannka opened #10628 "Add test to make sure window.context.data is the same data object passed into 3P extension code"
This is to follow up a production bug we encountered: #10354

/cc @alanorozco

[2017-07-25 18:11] zhouyx commented on #9870
#10401 should resolve this. Track error reporting after canary cut.

[2017-07-25 18:36] sebastianbenz commented on #10622
+1 for having a way to access the initial value and removing the need to duplicate the initial state. I'm not a fan of using `this` either, it makes things too confusing (except maybe `this.src`).

I'm also in favor of being able to toggle a class via action (see [this question](https://stackoverflow.com/questions/45239075/amp-easy-way-to-toggle-a-css-class/45242350?noredirect=1#comment77473521_45

[2017-07-25 18:58] camelburrito commented on #9847
So this is not just a sidebar issue. We should solve it across the board.

[2017-07-25 20:31] #10628 closed

[2017-07-25 20:32] alanorozco commented on #10266
Another quick discussion item: **Intermediate container for A4A lightboxes**

Related issue: #8334

(Discussion + survey should be about 20-30 mins)

[2017-07-25 23:19] #10484 closed

[2017-07-26 01:47] #10456 closed

[2017-07-26 09:48] SchnWalter commented on #9847
Looks like the Material Design library for Angular2+ has this solved with some kind of "focus trap" functionality, and it seems to work (but I've only tested it using ChromeVox on a Linux Desktop):

https://github.com/angular/material2/blob/master/src/cdk/a11y/focus-trap.md

[2017-07-26 10:04] stoneshower commented on #4405
I tried to use amp-carousel inside of amp-list with the structure of below.
However, I see multiple amp-carousel elements are generated instead of showing multiple images inside of a single amp-carousel.
Does anybody knows how to work around for this?

[code]

[2017-07-26 10:23] kul3r4 commented on #10462
I was looking at this [page](https://www.reddit.com/r/mildlyinteresting/comments/6pb7yp/this_hotel_rooms_bath_is_built_below_the_floor/) on mobile, it's true that the amp-list would be at the bottom of the page which makes things easier
@sffriend would you like to take a second look at this?

[2017-07-26 11:28] gurmukhp commented on #10230
This feature would be really useful in the e-commerce template for AmpStart. We have a list of products that are loaded in dynamically. The height of amp-list is dependant on the width of the device so binding using the [height] attribute isn't possible.

[2017-07-26 11:34] mauricionr commented on #10609
I've upload a demo

https://mauricionr.github.io/demos/amp/lightbox-no-scrollable/

https://mauricionr.github.io/demos/amp/lightbox-scrollable/

[2017-07-26 11:42] ithinkihaveacat commented on #10385
Some e-commerce use cases for the MVP or beyond:

![5p3xgthtfkc](https://user-images.githubusercontent.com/51244/28618491-84f72b1a-71fc-11e7-808e-64aa2b3eb9f0.png)

![ow3xurp9wwo](https://user-images.githubusercontent.com/51244/28618497-87f1e1de-71fc-11e7-93fe-f8fffdf11801.png)

For both eBay and Amazon, the least significant units (minute, second) only activate when the more significant units (da

[2017-07-26 12:00] mauricionr opened #10641 "on search results in android when clicked in amp page, if app is installed android is requesting to choose which one to open"
## What's the issue?

on search results in android when clicked in amp page, if an app is installed, android is requesting to choose which one to open

## How do we reproduce the issue?

1. Have an app related to the site
2. search for an amp page
3. try open the amp page

should open amppage instead request to choose which one to open(amppage or app)?

## What browsers are affected?

native Searc

[2017-07-26 12:38] pkyeck opened #10642 "tap-events trigger although button is disabled"
I have a `<button>` that is disabled but the `on="tap:..."` is triggered if the button **has a child-component** - not if it is only containing text.

    <button disabled on="tap:AMP.setState({visible: !visible})">
      <p>Toggle text (disabled not working)</p>
    </button>

Made a JSFiddle demoing it: http://jsbin.com/loyexarifo/1/edit?html,output

AMP version: 1500510703681

[2017-07-26 14:18] ericlindley-g commented on #10385
Good call @ithinkihaveacat  — thanks for adding this use case

We'll want to be careful about what can be triggered when zero is reached, given that we don't want to support bad UX (e.g. Ad interstitials that count down, ads that pop up after a certain amount of time). Maybe there's a way to scope the kinds of actions that can be triggered by a reached-zero event? ( /cc @choumx — this relates to t

[2017-07-26 14:34] ericlindley-g commented on #4405
Thanks for reaching out @stoneshower  — @aghassemi, do you want to share that demo you built? I believe you had this working, but thinking through this again I want to double-check that you had this working for instances where the client didn't know how many items were in the carousel until getting the JSON response.

[2017-07-26 16:55] dvoytenko commented on #10568
@Haroenv Thanks for the ITI! This sounds good. I have a couple questions:

1. What's you current typical rendering strategy: (a) Do you likewise return JSON and let the caller render it? (b) Do you predefine some rendering rules? (c) Do you prefer to do rendering in your widgets with a couple customizable classes?
2. I couldn't quite understand AMP CORS section. Do you not support CORS itself? Do

[2017-07-26 16:57] WillDonohoe opened #10646 "amp-image: Placeholder fails to hide when unsupported source is supplied"
## What's the issue?

In our template we are using WebP and falling back to PNG as recommended by the documentation: https://www.ampproject.org/docs/reference/components/amp-img

We also have a custom placeholder which is visible when the image is loading. However on browsers that do not support WebP, the placeholder fails to disappear when the fallback image loads.

## How do we reproduce the iss

[2017-07-26 16:58] dvoytenko commented on #10453
I could put together an ITI. I'll try to present it today since today's schedule is lighter.

[2017-07-26 17:14] dvoytenko opened #10647 "Intent to Implement: extend amp-dynamic-css-classes extension to support theming via dynamic endpoint"
This is to address #10453.

This ITI would extend [amp-dynamic-css-classes](https://github.com/ampproject/amphtml/blob/master/extensions/amp-dynamic-css-classes/amp-dynamic-css-classes.md) in the following way:

[code]

The endpoint will return a set of CSS classes that should be applied to document's body. Some notes:

1. The endpoint is the CORS credentialed endpoint.
2. The endpoint must comple

[2017-07-26 17:14] dvoytenko commented on #10266
ITI dynamic theming endpoint: #10647. 20 min

[2017-07-26 17:15] dvoytenko commented on #10453
@sffriend I filed #10647 and scheduled for today's Design Review (#10266). Feel free to join the review today. If you'd like to join, but can't do so today - let me know and I'll reschedule for the next week.

[2017-07-26 17:21] sffriend commented on #10453
@dvoytenko thanks for the work on this! I can't make it this week but feel free to present regardless.

[2017-07-26 17:46] ithinkihaveacat commented on #8791
@henryh15 I don't have the details but "experimenting" is likely to mean that a small proportion of users (in the stable channel) will get the new behavior.

[2017-07-26 18:23] taymonbeal commented on #8018
Friendly ping on this? We still need it.

[2017-07-26 18:30] dvoytenko commented on #10544
@p2er Do you use visibility state as in https://github.com/ampproject/amphtml/blob/master/spec/amp-shadow-doc.md#visibility-state-visibilitystate ? I believe that should do the trick. The newly entering doc will start in prerender mode and once transition is done, it will go into visible mode.

LMK

[2017-07-26 18:43] #10209 closed

[2017-07-26 18:55] cramforce commented on #10568
Have the same questions as Dima, but overall looks good. FMI: Is there a category for this type of service? We generally prefer names that say what they do like `amp-search-algolia`

[2017-07-26 19:11] jasti commented on #7479
I thought we already launched this! :) Yes, please remove.

[2017-07-26 19:13] aghassemi commented on #10209
@djavet fix will be in production in 2 weeks. You would need to add `crossorigin` attribute to your `amp-video` tags to make it work then.

[2017-07-26 19:34] Haroenv commented on #10568
Well the "blocker" now is mostly that our API can not:

1. Return arbitrary headers
2. Work with unknown parameters

These two issues make it so that the regular AMP CORS flow is not yet possible.

If there's a way to avoid doing the AMP CORS requests, but instead regular Simple CORS requests (x-www-form), which is what we do in the client to avoid the OPTIONS preflight request, that would solve t

[2017-07-26 19:36] Haroenv commented on #10568
The technical term for our category would be [Search as a Service](https://en.wikipedia.org/wiki/Search_as_a_service#Vendors)

[2017-07-26 19:39] FinnBorge commented on #6234
I am interested in working on this

[2017-07-26 19:56] adelinamart commented on #6234
Great to hear this @FinnBorge Is it the first time you are contributing to the project? cc @mrjoro
@matAtWork let us know if you already have something. Thank you!

[2017-07-26 20:00] avimehta commented on #10491
closing the issue. please reopen if needed.

[2017-07-26 20:00] #10491 closed

[2017-07-26 20:15] aghassemi commented on #9847
I am not convinced sidebar has the same semantics as a modal dialog where interaction with the background page should be prevented. The visual shim is not there to prevent interaction with the parent (unlike modal dialogs, nothing "bad" will happen if user interacts with the background) but to work as a "close" button.

Sidebar already has a screen-reader-only close button as alternative to the sh

[2017-07-26 20:22] ericlindley-g commented on #10587
Notes from design review: sounds good!
Also remove !important for background scrim, and make sure that having two sidebars is OK

(also want to review sidebar 1.0 details and other options with @dvoytenko and @pbakaus)
/cc @camelburrito  @torch2424

[2017-07-26 20:46] mrjoro commented on #10266
remove sidebar child & width restrictions

- amp-sidebar can't be open on load, so less of a risk for things like full page ads in the sidebar (and there are other ways of accomplishing those problematic cases)
- @cramforce: I always thought this restriction didn't make any sense; was okay with conservative approach, but AMP has evolved a lot since the beginning; there's no reason to give the side

[2017-07-26 20:46] mrjoro commented on #10266
theming via dynamic endpoint

- why not do it in a more generic way with amp-access?
  - has a very specific goal (hides or shows sections) and is always render blocking
  - amp-access is not about personalization
  - personalization in this case comes from a logged in value
  - can't call this in pre-render, but the second time the value would be cached (a classic one behind)
  - it's bad for per

[2017-07-26 20:46] #10266 closed

[2017-07-26 20:48] mrjoro opened #10650 "Design Review 2017-08-02"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-26 20:48] mrjoro opened #10651 "Design Review 2017-08-09 (font-display swap, amp-visibility-observer, amp-date-display and -countdown, amp-form state templates)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-26 20:49] mrjoro opened #10652 "Design Review 2017-08-16 (modify browser history w/ amp-bind, templates outside of amp-form, custom form validation w/ amp-bind)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-26 20:49] mrjoro opened #10653 "Design Review 2017-08-23 (inabox scroll position)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-26 21:02] zhouyx commented on #9735
This should be solved with the layer manager.

I tried to fix this from the AMP runtime side. That when we call `#scheduleLayout(parent, element)` for an element, we should layout element's children AMP elements as well. But that would be expensive as we need to find every descendant of the element.
Alternatively I think it's better to ask the parent `<amp-ad>` to take ownership of its child`<amp-

[2017-07-26 21:17] zhouyx commented on #7479
Yes we've launched this for a while. Just curious does the early load feature improves the visibility?  by how much?

[2017-07-26 21:25] dvoytenko commented on #10647
Some notes from review:

1. Q: Is it a `amp-dynamic-css-classes` or `amp-access`. R: amp-access is naturally render-blocking and has to do with some notion of identity. The specific problem of theming can be done w/o render blocking and can be completely void of notion of identity. Access is mostly uncacheable, theming can/should be cached.
2. Q: How would we avoid PII storage/logout concerns. R:

[2017-07-26 21:25] dvoytenko commented on #10647
/cc @sffriend @pbakaus @ericlindley-g @cramforce

[2017-07-26 21:26] dvoytenko commented on #10266
I added comments in #10647.

[2017-07-26 21:46] travismo123 opened #10657 "amp-iframe in amp-lightbox raising "Only 1 analytics/tracking iframe allowed per page. Please use amp-analytics instead or file a GitHub issue for your use case" error."
## What's the issue?
We have a feature where if [someone] clicks on a blue link on our page, a preview for that page appears in an amp-iframe within an amp-lightbox. The amp-lightbox itself always loads 100% of the time. However, for unknown reasons, sometimes (~15% of the time) the amp-iframe fails to load and throws this error "Only 1 analytics/tracking iframe allowed per page. Please use amp-an

[2017-07-26 22:09] ericlindley-g commented on #4574
Just an update that we still want to do this—I propose a straw-man of 1024px viewport width. The idea would be that above that viewport width, iframes can resize even when in the viewport.

Does that address your needs, @eike-hass ?  Do we feel comfortable with that size, @cramforce @dvoytenko @rudygalfi ?  Any risks we're not considering? (we can discuss at the next design review)

[2017-07-26 22:16] ericlindley-g commented on #8863
Will close as dupe of #7626 — which I'm excited is getting close to launch :)

@aghassemi Can you confirm that the .focus() method addresses the use cases that @rudygalfi outlines above?

[2017-07-26 22:25] ericlindley-g commented on #4559
Thanks @jridgewell  — is anyone working on this, or just in the backlog? (putting at P3 for now)

[2017-07-26 22:28] aghassemi commented on #8863
yes, I will update the codelab when it is in prod.

[2017-07-26 22:43] ericlindley-g commented on #8863
Awesome — thanks! (closing this issue)

[2017-07-26 22:43] #8863 closed

[2017-07-26 22:44] aghassemi commented on #4405
can't find my demo, @stoneshower all you need to do is to have a `single` entry in `items` e.g.

[code]

then you iterate the `values` array using template syntax, e.g.
[code]

[2017-07-26 23:57] stoneshower commented on #4405
Thank you @ericlindley-g and @aghassemi !
Actually I need to use the data structure of the "items" so I cannot change it for now. I think I need to wait for the implementation of amp-list nested in amp-carousel.

[2017-07-26 23:59] dvoytenko commented on #4405
Not sure if it'd help, but the location of an array of items can be customized somewhat using the `items` attribute: https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/amp-list.md#items-optional

[2017-07-27 00:10] cramforce commented on #4574
I think that makes sense.

[2017-07-27 00:15] stoneshower commented on #4405
@dvoytenko
Thank you for the link! I'm gonna take a look at it.

[2017-07-27 01:18] wassgha opened #10660 "Fullscreen-on-landscape launch list"
- [ ]  Validator changes
- [ ]  AMP By Example
- [ ]  Add demo use to video player examples in `/examples/`
- [ ]  Documentation

[2017-07-27 04:15] wassgha opened #10661 "Introduce resize message adapters for `amp-iframe` by implementing one for Storify"
### Motivation

Following the discussion in #10467 and #9838 , we would like to introduce a list of supported embed URLs for which we automatically read the `iframe`'s resize `postMessage` and interpret it then resize our iframe's height accordingly.

As determined in #10467 , unfortunately most of the popular iframe embeds don't send any resize message of any sort. However, Storify is one of the

[2017-07-27 04:22] wassgha commented on #10661
@aghassemi  @mrjoro Does this qualify as a GFI or is it too much work?

[2017-07-27 05:53] panurag38 opened #10662 "How to make AMP redundant?"
I have made a static HTML page using amp boilerplate which contains details of a fruit product say apple, so my URL looks like www.xyz.com/apple

The page contains simple amp-carousel and some data with src relevant to apple.(product in route) which contains title as 'Apple', 3 images inside amp-img of amp-carousel, and an amp-list with src depending upon URL route/path.

Let I have other products

[2017-07-27 08:41] xgretsch commented on #9735
@zhouyx There was certainly never any intention of using more than one `<amp-img>` within any given `<amp-ad>` of type custom. I don't think there's anything to actually stop a template designer doing this, but I can't imagine why one might want to try, and it would be reasonable to put something into the documentation to disallow it.

[2017-07-27 09:11] p2er opened #10663 "Feature: tracking opt-out toggle, after amp-user-notification.dismiss"
## What's the issue?

It should be possible for users to opt-out from accepted cookies handled on client side after initially dismissing the amp-user-notification. User selecting to disable cookies should result in:
1. amp-user-notification not showing up after reload
2. elements with related data-consent-notification-id handling content as if amp-user-notification has not been dismissed before

#

[2017-07-27 09:24] drewmcmillan commented on #9355
@wassgha Hey, Looking at this amp-twitter fallback, is there a way to not make it huge in height when a fallback is there?
![image](https://user-images.githubusercontent.com/11341355/28663628-d1694ca8-72b5-11e7-8eb2-460b7f5aaa89.png)

[2017-07-27 11:24] raisaveuc opened #10664 "Fixed element adds miscalculated top property"
## What's the issue?
I have an element with position:sticky, and the following properties are added:
i-amphtml-fixedid="F2"
style="top:calc(0px)"

Similar to problem described below:
https://stackoverflow.com/questions/44789713/amp-injecting-undesired-styles-style-top-calc0px-when-using-amp-social-s

In my CSS for the sticky-positioned element, I set top: 5rem. I tried this also with a more explic

[2017-07-27 13:37] macaqueio opened #10666 "scrollTo and focus action producing errors"
The scrollTo and focus actions do not work and generate the following errors in the console:-

Action Error: Target element does not support provided action in [tap:normal-element2.scrollTo('position' = 'center')] on [[object HTMLDivElement]]

Action Error: Target element does not support provided action in [tap:input-element.focus] on [[object HTMLInputElement]]

These errors are reproduced in Sa

[2017-07-27 14:27] grantkemp opened #10667 "Amp-Analytics - feature ability to trigger multiple GA Event tags on page load"
## What's the issue?
We would like to trigger multiple analytics events on page load via GTM

This can be done via hardcode but not via GTM
[code]

Briefly describe the bug/feature request.
We currently use GTM to log visits to a page for key brands.  Sometimes there are multiple brands on a particular page and we need to trigger multiple events.
We wold like to use a custom Variable - which is ma

[2017-07-27 14:28] bjalford commented on #9410
Actually, this fixes the carousel but breaks the back navigation as @edhollinghurst pointed out

[2017-07-27 15:44] FinnBorge commented on #6234
Yes, this would be my first contribution.  It'll take some time to get up to speed 😄

[2017-07-27 15:50] mrjoro commented on #6234
Thanks @FinnBorge! I've invited you to join ampproject on GitHub; once you do that we can assign the issue to you.  @aghassemi would be a good contact for any questions you might have; you can reach out here or on Slack.

[2017-07-27 15:55] mrjoro commented on #10661
I think it's fine for to have GFIs that cover a range of backgrounds--e.g. some people may be very advanced web developers who haven't contributed to open source before, so they use GFIs as a way to do that.  Check out the [docs for creating a GFI](https://github.com/ampproject/amphtml/blob/master/contributing/creating-great-first-issues.md) and make sure to use the [template](https://github.com/a

[2017-07-27 15:56] choumx commented on #10230
Thanks for the feedback.

On second thought, adding a new element-specific action called "resize" might be better than allowing binding to layout property. For one, amp-bind doesn't do anything when the property value doesn't change, e.g. `[layout]` changing from "container" to "container" even if `[src]` changes.

[code]

An even simpler way is to allow automatic resizing when `[state]` or `[src]

[2017-07-27 15:58] choumx commented on #9410
How does it break back navigation? Can you provide an example?

[2017-07-27 16:08] aghassemi opened #10670 "Allow the new scrollTo action to also optionally focus"
After #10398 , we now have both `scrollTo` and `focus` as actions. One use-case we are missing to smooth scrolling to a target and then focusing on it. Chaning `scrollTo` and `focus` won't work since actions don't wait for each other to finish so we endup with browser undoing the `scrollTo`'s smoothness when `focus` is called.

[2017-07-27 16:25] aghassemi commented on #10670
actually after testing, this works fine, neither Chrome or Safari undo the current scrolling when focus is called. I will just add a sample for it.

[2017-07-27 16:34] rsimha-amp opened #10673 "Fix errors due to missing dependencies"
We've added a few dependencies in the recent past. Update `yarn.lock` to reflect those dependencies.

[2017-07-27 17:21] #5380 closed

[2017-07-27 17:26] #10670 closed

[2017-07-27 18:13] jridgewell commented on #4559
Backlog. Could be a GFI.

[2017-07-27 18:23] aghassemi commented on #8264
@neko-fire Any updated on this? Still broken, none of the postMessage commands work.

[2017-07-27 19:07] Raphaeljunior commented on #10477
@choumx  After some reading I think Sinon would be the better option. Though fetch-mock has a good api it will not play well with our build system. It doesn't use ES 6 and it doesn't play well with karma.

[2017-07-27 19:10] stefan-all3dp opened #10676 "Mobile Chrome's address bar doesn't hide when scrolling up on an AMP page served by the AMP cache"
## What's the issue?

The address bar of Android Mobile Chrome doesn't hide when scrolling up on an AMP page served by Google's AMP cache. It seems that all AMP pages served by the Google AMP cache are affected. I tested it on a Moto G3 Plus.

## How to reproduce the issue?

1. Open e.g this URL with Chrome on an Android Smartphone (not a simulator): https://www.google.com/amp/s/www.engadget.com/a

[2017-07-27 19:23] aghassemi commented on #10661
@wassgha If we already had one adapter, this would be a great First Timer GFI. (idea for sub sequence GFIs)
Still fine as a GFI, maybe just add a "Implementation Strategy" section and include a bit more details (and move the existing implementation-related bullet points from the `Step by step` into the  "Implementation Strategy" and just add a "Follow the implementation strategy" bullet in the `St

[2017-07-27 19:29] Eazy-C commented on #10657
This error is actually affecting a lot of other sites as well, but the "Only 1 analytics/tracking iframe allowed per page. Please use amp-analytics instead or file a GitHub issue for your use case" is really destroying our site's usability. Please let us know what is going on or fix the problem.

[2017-07-27 19:38] aghassemi commented on #10666
@macaqueio This is a new feature and currently it is in Dev Channel, you can try it by enabling Dev Channel (https://cdn.ampproject.org/experiments.html). It will be in production next week.

[2017-07-27 19:38] #10666 closed

[2017-07-27 19:59] jridgewell opened #10679 "amp-social-share email recipient"
### Motivation

Several requests have been made to add a recipient field to `<amp-social-share type="email">`. A good usecase for this is to provide feedback to the publisher, using `info@publisher.com` as the address the email is being sent to.

Normally, we'd tell people to use a normal `mailto:` `<a>` element, but there are several issues with mailto links on iOS Safari in the embedded Viewer t

[2017-07-27 19:59] jridgewell commented on #4559
Closing in favor of https://github.com/ampproject/amphtml/issues/10679.

[2017-07-27 19:59] #4559 closed

[2017-07-27 20:11] dvoytenko commented on #10568
@Haroenv The shape of the network request is generally up to you. AMP CORS is currently only required for credentialed requests (`credentials: include`). Same goes to the request body - it's definitely fine to use `x-www-form-urlencoded` and we indeed recommend everyone to avoid preflight CORS if possible.

This sounds good. I'd recommend, though, to provide a default template if possible and make

[2017-07-27 20:12] jridgewell commented on #10477
Sinon can't be used because it doesn't mock `fetch` at all, only XHRs.

[2017-07-27 20:14] Raphaeljunior commented on #10477
Can't we stub out fetch the way we stub out methods?

[2017-07-27 20:16] rsimha-amp commented on #10673
This is more complicated due to the requirement of using node 4.0 on Travis. Assigning to @erwinmombay and @jridgewell to help figure out the way forward. Do we really need a `yarn.lock` checked in if we switch to npm 5? Would it help to switch to using `package.json.lock`? How can we continue to use toolset dependencies that say they need a minimum node version of 6.0?

[2017-07-27 20:19] jridgewell commented on #10477
That's what we currently do, we're looking for something that's a bit more ergonomic.

[2017-07-27 20:22] cramforce commented on #10568
AMP CORS is only required if CORS is essential to the security model. Might be fine without. In a world where serving from cdn.ampproject.org VS domain.cdn.ampproject.org is enabled it is much less needed.

[2017-07-27 20:23] taymonbeal commented on #10477
I'm going to take another look at seeing how hard it would be to hack the Sinon fake server to support `fetch`. It'd sure be nice if we could use the same framework we already use.

In the meantime, [a possible way around the fetch-mock problems](https://www.npmjs.com/package/chai-fetch-mock).

[2017-07-27 20:24] zhouyx opened #10682 "Visual diff tests need to include prod/canary config"
Visual diff test only test again `gulp build & gulp serve` page, which means it does not test with the experimental flag.

Discovered through #10656. [percy build link](https://percy.io/ampproject/amphtml/builds/298150)

For example here: A feature with experimental flag 'flag-test' brings a breaking css change. We won't be able to discover that when we launch the feature by toggling 'flag-test' i

[2017-07-27 20:34] dvoytenko opened #10684 "Errors: consider ignoring errors that come from non-JS files"
Here's a sample trace:

[code]

See details in p/4019498899262989719.

All records in this trace come from a non-JS file. The most likely culprit is a browser extension.

[2017-07-27 20:51] rsimha-amp commented on #10682
cc @erwinmombay to help figure out what it would take to build the prod and canary amp runtime with one build command, and serve both of them from the same server instance.

[2017-07-27 20:53] cramforce commented on #10657
I think what might be happening here is that for initially invisible iframes sometimes they get measured at a time where they are still invisible.

@zhouyx Could you take a look?

[2017-07-27 21:00] travismo123 commented on #10657
I reproduced it on Chrome emulator for iPhone 6. Went to https://www.everipedia.com/travis-moore/amp/ and clicked on the blue link for Los Angeles and it worked. Reloaded the page did the same thing, and it failed.

    if (this.isTrackingFrame_) {
      trackingIframeCount++;
      if (trackingIframeCount > 1) {
        console/*OK*/.error('Only 1 analytics/tracking iframe allowed per ' +

[2017-07-27 21:00] travismo123 commented on #10657
Looks like the return statement is killing further execution?

[2017-07-27 21:01] cramforce commented on #10657
@travismo123 that is the idea. But should not get there for your iframes.

[2017-07-27 21:10] jridgewell commented on #10676
This is with presenting iframes as the "full page". I believe we're waiting on implementation of `rootScroller` that will allow the header to appear/disappear the based on the iframe's scrolling.

[2017-07-27 21:27] jridgewell commented on #10667
/to @avimehta

[2017-07-27 21:27] aghassemi opened #10686 "amp-animation: support video timeline as a ticker"
Essentially tie the progress of an `<amp-animation>` with the progress of a `<amp-x-video-player>`. (similar to how `scroll` ticker ties it with scrolling through a view port)

This allows interesting and perfectly synced overlays on top of videos.

/cc @dvoytenko

[2017-07-27 21:29] aghassemi opened #10687 "amp-animation: support tilt as a ticker"
Essentially tie the progress of an `<amp-animation>` with the tilt value on a particular axis.

Before doing this, we find a few real use-cases and see if the UX that results from this handles those cases.

/cc @dvoytenko

[2017-07-27 21:38] jridgewell commented on #10663
/to @avimehta

[2017-07-27 21:44] zhouyx commented on #9735
I have one temporary approach to fix the issue that runtime fail to layout AMP element in templates.

Add logic [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-custom.js#L103)
[code]

@jridgewell Want to check with you how will the layer manager handle case like this? Also what do you think about this approach?

[2017-07-27 22:00] dvoytenko commented on #10650
Format and validator changes for a4a to accommodate animation start/stop/pause.

/cc @alanorozco

[2017-07-27 22:03] dvoytenko commented on #10676
Correct. This will just work once root scroller is implemented by Chrome. See https://github.com/bokand/NonDocumentRootScroller

[2017-07-27 22:03] #10676 closed

[2017-07-27 22:17] #7479 closed

[2017-07-27 22:22] lannka commented on #9959
I think those are valid use cases. @cramforce what you think?

[2017-07-27 23:03] djavet commented on #10209
Brillant! Thank you. Impatient to test it. Doesn't the version of JavaScript change?

[2017-07-27 23:13] jridgewell commented on #10664
I don't see a sticky element in the e-commerce example. Can you link to another page?

[2017-07-27 23:17] dvoytenko commented on #10662
@panurag38 Sounds like you want to have a server-side template (React or any other templating engine such as ExpressJS or even PHP) to render your pages based on the URL. AMP pages then will be independently cacheable by proxies.

(I'll close this for now, but feel free to reopen)

[2017-07-27 23:17] #10662 closed

[2017-07-27 23:21] dvoytenko commented on #10642
/to @choumx

Sounds like a very good idea to prevent actions on disabled buttons. WDYT?

[2017-07-27 23:24] dvoytenko commented on #10641
@ericlindley-g This seems would be very odd if happens in the search results since the user is sent via cache. I don't know if we can affect any other on-origin navigations - they are handled by the browser itself. I suppose we could have a guideline to recommend app manifests to exclude matching AMP URLs? Generally it seems like very publisher elective.

[2017-07-27 23:36] ericlindley-g commented on #10641
@mauricionr  — do you have an example? It would be worth checking out exactly

[2017-07-27 23:43] cramforce commented on #9959
What I don't understand: Why can't one just do the formatting on the server side given the timestamp and the timezone?
In any case, we should not call it formatted, we should pick a standard format and implement that. But I also don't want to support 15 others formats. So, if we cannot decide on one we need to implement full on `printf` style date formatting.

[2017-07-27 23:56] zhouyx commented on #10657
Yes I am able to reproduce this. taking a closer look.

[2017-07-28 00:00] mauricionr commented on #10641
@ericlindley-g i could send a video? or would like to install the app and reproduce the issue?

[2017-07-28 00:03] 1987yama3 commented on #9959
@cramforce Because I am NOT a tool vendor. I am a marketer using tools.
Marketer use a lot of tools. Even if I ask these tool venders for additional feature, there are a few tools to implement.

I propose that try changing the date part and the time part to different AMP variables. I think it is possible to concatenate with analytics-json. In addition, I think that usability is enhanced and it wil

[2017-07-28 00:04] aghassemi opened #10690 "version lock race condition with legacy components"
Legecy component (`amp-ad`, `amp-video`, `amp-embed`) try to load the extension which causes an issue when version locking tries to reload the extensions again.

@dvoytenko this is the test page you have been debugging with: https://output.jsbin.com/suroteb

[2017-07-28 00:06] ericlindley-g commented on #10641
@mauricionr, if you just have either the URL or domain for the site that would be plenty—thanks!

[2017-07-28 00:07] ericlindley-g commented on #10641
Or let me know if it's happening for all sites :)

[2017-07-28 00:07] cramforce commented on #9959
@1987yama3 Asking vendors to change things is something we do all the time :)

I'm sympathetic, though. Has anyone proposed an ISO standard that we should format to? Have vendors agree on a standard? Or should we implement `printf`?

[2017-07-28 00:47] aghassemi commented on #10209
Version stays the same, AMP does continuous releases on a single version.

[2017-07-28 01:38] #10690 closed

[2017-07-28 04:07] lannka opened #10693 "Use Google CID API on pub origin"
5 points

[2017-07-28 06:12] neko-fire commented on #8264
Hi @aghassemi ,
this issue was fixed in https://github.com/ampproject/amphtml/pull/8932 , but if there is still a problem I can take another look.

[2017-07-28 07:01] Haroenv commented on #10568
Argh, I'm going to have to close this one. I'm sorry but we only support JSON requests, `x-www-form-urlencoded` won't be supported by our engine any time soon.

I'm wondering however if I could depend on part of our Algolia engine (namely [Requester and `search`](https://github.com/algolia/algoliasearch-client-javascript/blob/feat/v4-for-real-now/API.md#individual-methods)), this whole headache co

[2017-07-28 08:15] raisaveuc commented on #10664
The style is defined in .commerce-side-panel
https://github.com/raisaveuc/ampstart/blob/256285641bf97af99c8e3e8793532aab2a30c55b/css/templates/e-commerce/page.css#L219

The sticky container is here, in the right side panel:
https://amp-ecommerce-qa.firebaseapp.com/templates/e-commerce/blog-listing.amp

However, it now appears that the top position is being properly calculated. When I remove the ma

[2017-07-28 08:42] eike-hass commented on #4574
that would be great. Is that something you would opt-in to with a new prop?

[2017-07-28 10:39] gurmukhp opened #10694 "Placeholder for amp-img isn't hidden if image is loaded in from a sidepanel."
## What's the issue?
Placeholder is not hidden when an image is loaded from a sidebar.

Briefly describe the bug/feature request.
Placeholder should be hidden when the image is loaded regardless of whether it's on page load or in view.

## How do we reproduce the issue?
https://codepen.io/gurmukh/pen/WEQzQm

1. Observe there is the same image in the main tag and also the sidebar
2. Placeholder cop

[2017-07-28 10:41] #10694 closed

[2017-07-28 12:33] alf7 commented on #10641
@mauricionr can you also clarify which browser you are using? Are you using Chrome or the Google App?

[2017-07-28 14:52] mauricionr commented on #10641
I'm trying to reproduce in other sites/apps

I'm using android 5.1.1
I could reproduce in google chrome 59 and google app

[2017-07-28 15:03] ericlindley-g commented on #4574
@eike-hass That's a good question — I haven't thought through the details of how this would work in practice. One option is simply letting this work by default (though is there a case where it would be important that the iframe is *not* allowed to resize on larger screens?)

Assuming that above 1024px, amp-iframe is simply able to consistently resize, regardless of viewport position, then there's

[2017-07-28 15:12] cramforce opened #10695 "Canary regression: Fixed header moves with scrolling"
This repros when opting into dev-channel:

- Search for `amp` in Google
- Click on ampproject.org homepage link
- Initial position is sometimes wrong
- Scroll up and down.
- Observe that fixed header moves down

<img width="314" alt="screen shot 2017-07-28 at 8 09 17 am" src="https://user-images.githubusercontent.com/89679/28723688-6451257a-736c-11e7-90c5-5b69c461028a.png">

[2017-07-28 15:32] jridgewell commented on #10664
Are you using canary? I've been working on FixedLayer stuff for the past week (https://github.com/ampproject/amphtml/pull/10560), so that probably fixed it.

[2017-07-28 15:32] #10664 closed

[2017-07-28 15:33] jridgewell commented on #10695
Are you able to reliably reproduce? I can't seem to do it.

[2017-07-28 15:34] cramforce commented on #10695
Repros both on my desktop with emulation and on my phone. Tested both stable and canary on my phone.

[2017-07-28 17:51] #10075 closed

[2017-07-28 18:01] torch2424 commented on #10646
Was able to reproduce, looking into this now

[2017-07-28 18:26] zhouyx commented on #10657
Found the reason. The iframe in this example has `animation: bottom-pop 0.7s ease-in;` Where there is a risk condition when we calculate the layout box of the `<amp-iframe>`.

[2017-07-28 18:54] wassgha commented on #7028
Update: The `play` event on HTML5 videos is not considered a user interaction and therefore can't be used to initiate fullscreen.
We'll have to wait till custom controls are implemented.

[2017-07-28 19:27] jridgewell commented on #10695
Tracked it down to the transition style applied to the header (hopefully that's rare). Our detection of the "css defined top style" (not JS defined through `element.style`) involves unsetting the `top` value we previously assigned and then detecting the computed top style again. Because of transition, it's still at the same 54px that we'd set it to (not the 0px css defined). Fix incoming.

[2017-07-28 19:45] lannka opened #10696 "Add integration test for amp-analytics error trigger"
For #6415

[2017-07-28 19:47] lannka opened #10697 "Exclude A4A errors from amp-analytics error trigger"
For #6415

[2017-07-28 19:54] jasti commented on #10388
Also checked in with the ads.txt authors. Non-issue. Please reopen if you think it needs more analysis.

[2017-07-28 20:15] dvoytenko commented on #7846
Will be at #10650 design review

[2017-07-28 20:26] travismo123 commented on #10657
Thank you. I will remove that styling. Is there a substitute i can use?

[2017-07-28 20:29] travismo123 commented on #10657
Interestingly, I have a similar animation for the search lightbox (click the magnifying glass), but that seems to always work fine.

.search-lb-ct .global-search {
	height: 75vh;
	width: 100vw;
    display: flex;
    flex: 1;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	p

[2017-07-28 20:44] #10695 closed

[2017-07-28 21:21] zhouyx commented on #10657
@travismo123 If you compare `0.7s ease-in` and `0.5s linear`, at an early stage of the animation (say 0.1s), the height of the element will be smaller with first setting. It is very unlikely that the risk condition occurs in the search box case.

I would suggest you tune the css for a temporary fix on your side. In the meanwhile, we will also see what we can do to measure element rect box after tr

[2017-07-28 21:24] jridgewell commented on #10609
/to @muxin

[2017-07-28 21:43] anoop-mobikasa opened #10702 "AMP implementation on Shopify based Product Description Page"
Hi Guys,

Looking for possible solutions to get AMP implemented on my Shopify based Product Description Page. Currently, we are hitting one third party API. Response from this API helps to open the i-Frame that contains Jquery UI calendar on PDP page. To open this calendar we need to enter a valid zip code which hits the API and in response displays available delivery dates.

PDP Page requirements

[2017-07-28 22:02] #10646 closed

[2017-07-28 22:19] dvoytenko commented on #10642
Interestingly enough my reading of spec

But events definitely come through. So I think we should definitely implement the blocking here.

[2017-07-28 22:41] jasti opened #10703 "Support AMP ads in native mobile app environments"
This will be a new 'AMP in a box' implementation, most likely integrating with the most populate ads SDKs.
Same APIs like viewability, scrollbound actions/ animations must be supported in the mobile app environment as well.

[2017-07-28 22:48] dvoytenko opened #10704 "Address build-time responsiveness"
Either via promisable `buildCallback` or a clear path to block on `onMeasure`.

/cc @charliereams

[2017-07-28 22:49] dvoytenko opened #10705 "Support ampdoc on FIE level; make services ampdoc by default"
TODO:

- [x] Load extensions for doc, not window
- [ ] ampdoc on FIE and ampdoc.parent
- [ ] Service initialization per ampdoc + embeddable services
- [ ] Analytics: global service or per ampdoc?
- [ ] Service rewrites/preinsalls. See url-replacements
- [ ] Remove embedWindow
- [ ] Audit/restrict installs via direct API

[2017-07-28 22:53] 10xjs commented on #10687
@ericlindley-g This one of the potential approaches that I suggested for building a 3D VR experience in AMP.

[2017-07-28 22:55] #9962 closed

[2017-07-28 23:00] 10xjs opened #10706 "amp-img fails to load within amp-list within amp-carousel"
## What's the issue?

`amp-img` elements can't be nested within `amp-list` within `amp-carousel`. It appears that an `amp-img` tag is never detected as visible in this structure and is therefore never loaded.

## How do we reproduce the issue?

The following markup reproduces the issue
[code]

See: https://jsbin.com/beyoruz/edit?html,output

## What browsers are affected?

All browsers appear to b

[2017-07-28 23:04] ericlindley-g commented on #10687
Thanks for flagging this, @10xjs. This is something I discussed w/ the Eng team but couldn't find a viable implementation path. Coincidentally, we made some great progress on a related project that made this much more feasible.

@aghassemi , you may remember the AMP Start museum template that had the really nice UI of a kind of virtual space. It's technically something that we were working on, but

[2017-07-28 23:48] torch2424 opened #10707 "amp-img, Write Test for hiding placeholders on failing image load"
Please see #10701

Simply need to write a test for a bugfix I wrote for the mentioned PR.

[2017-07-28 23:54] aghassemi commented on #10687
yeah, should be possible to build Paranoma / 360 image viewers with this. Museum template is a great use-case to validate this feature!

[2017-07-29 00:30] dvoytenko commented on #9761
@rowangray Thanks a lot! @torch2424 is looking into how to adopt shadow AMP on top of Shady DOM and similar polyfills.

[2017-07-29 00:38] dvoytenko commented on #10568
@Haroenv the shape of the request is generally up to you - you can use `application/json` requests if you'd like. Per CORS rules this would trigger preflight, but it's not a big issue.

Sure, if your responses do not have a schema - then default template is not possible, so it's fine.

Do you mean you'd want to compile this code in? If you do so, we request the relevant code to be placed in the `t

[2017-07-29 02:17] dvoytenko opened #10709 "Illegal constructor errors on new Event"
This looks to be caused by #10401.

The error example (see p/15995817803022808594):

[code]

This appears to be directing straight to https://github.com/ampproject/amphtml/blob/53925edd2d389e526fc43533dae83c527260a014/src/custom-element.js#L1106

Currently only affecting canary, which is supposed to hit PROD early next week. Please either rollback or adjust accordingly.

[2017-07-29 03:17] aghassemi opened #10710 "Create a new `amp-util-date` component"
_NOTE: **Design to be reviewed** in AMP Design Review Meeting on Wednesday Aug 2 first. See #10650 to join the meeting_

### Background
AMP HTML restricts use of JavaScript which means some dynamic functionality such as current date/time needs to be exposed through [Extended Components](https://www.ampproject.org/docs/reference/components).

### Requirements
We like to create a new extended compon

[2017-07-29 03:19] aghassemi commented on #10650
`<amp-util-date>` https://github.com/ampproject/amphtml/issues/10710

[2017-07-29 03:31] techhtml commented on #10710
This is awesome1

[2017-07-29 04:00] aghassemi commented on #10706
@10xjs, duplicate of https://github.com/ampproject/amphtml/issues/4405
Pleas see https://github.com/ampproject/amphtml/issues/4405#issuecomment-318204399 for a work-around.

[2017-07-29 04:00] #10706 closed

[2017-07-29 05:31] aghassemi commented on #10385
Great discussions here. To get the ball rolling, let's start the design collaboration and maybe present the format for MVP feature on August 2nd's [AMP Design Review Meeting](https://github.com/ampproject/amphtml/issues/10650)

@ethereal-sandeep Here are my ideas for the format, please add your thoughts as well.

### API
[code]

#### `end-date`
An ISO formatted date to count down to. e.g. `2017-11

[2017-07-29 08:38] wassgha commented on #9961
Closed by #10394

[2017-07-29 08:38] #9961 closed

[2017-07-29 17:01] Haroenv commented on #10568
Indeed, that’s what I meant. This means that technically if I wanted to depend on our own Request strategy, it would be possible, but mean that people import it from /3p?

I have a feeling that going that direction will be __significantly__ simpler for us, as it wouldn’t require an exception of AMP in the engine, as the requests done by our Requester are doing Simple Requests where possible (avoid

[2017-07-29 17:03] choumx commented on #10709
Thanks for catching this. Looks like all the reports are from Internet Explorer (`jse=IE`) which means the polyfill isn't being installed correctly in some cases. Let's rollback for now.

[2017-07-29 17:56] #10166 closed

[2017-07-29 19:09] richaz opened #10713 "I've found bug in case-studies page on"
## What's the issue?

I've found bag in case-studies page on https://www.ampproject.org/docs/create/. The bag is that Page Not Found. This file does not exist and there was no index.html found in the current directory or 404.html in the root directory. There is screenshot about it http://joxi.ru/Grq1M0RuQELNEr

## How do we reproduce the issue?

You can easily reproduce bag by following to https:/

[2017-07-29 23:35] jpettitt commented on #10710
**Feature requests**

Please can we have optional params for the following:

1. `data-locale` - a value to pass to `dateObj.toLocaleString() `  (will need to be carefully sanitized)
2. `data-stamp-seconds` - unix epoch (seconds since ...) time stamp
3. `data-stamp-milliseconds` -  JavaScript timestamp (ms since ...)

This would allow together this would allow specifying a date that will appear in

[2017-07-30 02:33] #10709 closed

[2017-07-30 18:31] ethereal-sandeep commented on #10385
@aghassemi sorry for the delay in replying. The API draft looks awesome.

1. I thinks adding ended would be nice as it would allow for end state to have a different look and feel from the running state.
[code]
2. I feel its equally important for the api to handle end state for each group {assuming a group can contain both value and text part}.

[code]

How about handling literals if hide is enable

[2017-07-30 20:20] p2er opened #10717 "amp-tracking broken in AMP shadow"
## What's the issue?

amp-tracking and amp-user-notification throws error if used in amp-shadow:
error.js:163 No ampdoc found for [object HTMLDocument]

## How do we reproduce the issue?

1. Open https://p2er.github.io/amp-articleslider/ampshadow-tracking.html#development=1
2. Open console to see error for amp-tracking and amp-user-notification
3. Open https://p2er.github.io/amp-articleslider/amps

[2017-07-30 20:25] p2er commented on #10544
I don't use visibility state in the demo to keep it simple, but actually tried that approach in my version. Would you like me to implement the visibility state change trigger on slide selection. Unfortunately it did not solve the problem for me, because the next article would still be rendered outside of the visible area to be present while swiping the content into viewport.

[2017-07-30 20:56] p2er opened #10718 "amp-image won't render after resize in carousel with media attribute"
## What's the issue?

amp-image won't render content if media attribute criteria is met after resizing, if used in carousel.

## How do we reproduce the issue?

1. Open https://p2er.github.io/amp-articleslider/carousel-image-media.html#development=1
2. Change window width > 500 px and reload
3. Image large is visible
4. Change window width < 500 px
5. Image large is hidden and image small won't be

[2017-07-30 22:30] #10588 closed

[2017-07-30 22:30] mrjoro opened #10719 "Weekly Status 2017-07-31"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-07-31 09:01] grantkemp commented on #10667
Thanks @jridgewell .  In addition to above ( and thought about this on the train home) - I also noticed that in order to create the above feature - we should ideally at some stage be moving the Custom Dimensions parameters to sit within the Event object as theoretically each even could have its own set of custom dimensions ( if we follow the Measurement Protocol API) .

As a short term goal we can

[2017-07-31 09:29] grantkemp opened #10722 "Analytics Referrals from Amp Traffic"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-31 09:33] grantkemp commented on #10722
edit: looks like a dupe of https://github.com/ampproject/amphtml/issues/7184, however I think we should have a simpler solution that effectively " just works" as this will break a lot of peoples' analytics implementation and historical comparability  - unless its more clear documentation/ built in fix

[2017-07-31 09:41] grantkemp commented on #7184
I suggest we include the need to set up the referral exclusion in GA as part of the implementation Guides.
https://www.ampproject.org/docs/reference/components/amp-analytics
and Amp by Example.
I am happy to do the documentation  - if someone can let me know the best place to add it.  Ideally we can do this referral exclusion programmatically at some stage.

[2017-07-31 13:19] elljoh opened #10724 "Yieldbot ad, request all slot sizes"
## What's the issue?

Yieldbot `amp-ad` submits a bid request for the primary dimensions only when the multi-size element attribute is specified i.e.

`data-multi-size="300x220,300x200"`

[code]

## How do we reproduce the issue?

Use the Yieldbot `amp-ad` manual integration test,  [test/manual/amp-ad.yieldbot.amp.html](https://github.com/ampproject/amphtml/blob/master/test/manual/amp-ad.yieldbot.

[2017-07-31 13:20] elljoh commented on #10724
PR to address this to come shortly.

[2017-07-31 13:41] sumodas commented on #10702
+ @ericlindley-g  @aghassemi  @rudygalfi

[2017-07-31 14:34] techhtml commented on #10718
This only happen when use in `amp-carousel` extensions.
Maybe some codes are block `amp-img`'s original action.

[2017-07-31 14:35] p2er commented on #10718
That is correct

[2017-07-31 14:41] adamsilverstein commented on #10495
verified resolved in chrome 59 stable, thanks again.

[2017-07-31 14:52] ericlindley-g commented on #10702
Hi @anoop-mobikasa  — thanks for reaching out. For now there is no way to pass data between amp-iframe and the parent AMP document, but it's something we're looking into implementing soon, and may address your use case. Can you add detail on what type of data you'd like to pass into and out of the iframe? (this might help determine how this feature is built)

We're also looking into developing a c

[2017-07-31 15:40] aghassemi commented on #10710
Thanks @jpettitt . Hoping we can expose most of `Intl.DateTimeFormat` functionality with this component but I haven't tested to see how complete the current state of `Intl.DateTimeFormat` is for browsers that claim to have support, and the footprint / quality of available polyfills.

Ideally we can rely on  `Intl.DateTimeFormat` for most cases and only load the polyfill on-demand for older browser

[2017-07-31 15:46] aghassemi commented on #10713
@richaz  Thanks for reporting. Can you share where you saw a link that points to this URL?
/cc @bpaduch

[2017-07-31 15:52] lannka commented on #10719
Ads
- Improved integration test coverage for context API #10456 #10628
- Fixed a experiment flag issue in test #10606

Analytics
- Support pub opt-in for Viewer CID API #10518
- Fixed a analytics var double encoding issue #8925
- Working on support Google CID API on pub origin #10693

[2017-07-31 15:57] aghassemi commented on #10717
/to @cvializ
/cc @dvoytenko

[2017-07-31 15:59] aghassemi commented on #10718
/to @camelburrito

[2017-07-31 16:04] aghassemi commented on #10722
@zhouyx @rudygalfi

[2017-07-31 16:05] #10713 closed

[2017-07-31 16:06] bpaduch commented on #10713
Issue was on this page: https://www.ampproject.org/case-studies/e-commerce/ in the footer.  I've fixed it.  Thanks!

[2017-07-31 16:13] grantkemp commented on #6415
As an idea - could this trigger for Amp validation errors as well? Then we can allow AMP to be self alerting and potentially self repairing.  This can operate similarly to how tag manager works with Javascript error observing.

[2017-07-31 16:15] cvializ commented on #10719
- First on-duty 🐣
- Video analytics data in variable substitution
- UI Fixit bugs

[2017-07-31 16:21] aghassemi commented on #7795
@mister-ben We are close to launching several major video UX improvements in AMP that only work with players that implement the video-interface. These features include:
1- Video docking: https://github.com/ampproject/amphtml/pull/10174
2- Auto-fullscreen on landscape: https://github.com/ampproject/amphtml/pull/10108
3- Video-analytics

We have had a few folks ask for these features with Brightcove

[2017-07-31 16:23] lannka commented on #6415
@grantkemp are you looking for [AMP validation errors in search console](http://searchengineland.com/google-search-console-adds-amp-error-report-240572)

[2017-07-31 16:46] grantkemp commented on #6415
Hiya @lannka
nope, I am looking for the ability to push these errors into Analytics as events as we get the benefit of the following:
( Here is an example based on the AMP error logging - that is out of the box in GTM)
- Pretty immediate notification of errors ( assuming user has alerting on their GA
- Ability to track historically number of errors as a metric - and show improvement.
- Ability to

[2017-07-31 17:00] camelburrito commented on #10718
@p2er - not sure if you tried the sizes attribute - https://www.ampproject.org/docs/guides/responsive/art_direction#sizes

@jridgewell - i am pretty sure scenarios like this used to work at some point. Not sure what causes these kinds of issues. Is the only solution to do a vsync/mutate on `onLayoutMeasure` ?

[2017-07-31 17:08] erwinmombay commented on #10682
does it make sense to merge canary and prod configs and always have any field with truthy win out?

[2017-07-31 17:10] wassgha commented on #10719
- Tested Media Session API (ready for final review)
- Reviewed a few PRs
- Implemented hiding controls for dailymotion
- Implemented UI for docked videos
- Will be working on launching video docking and auto-fullscreen
- Will be working on custom controls

[2017-07-31 17:23] zhouyx commented on #10719
- Extension analytics API documentation
- Investigated the issue that `<amp-iframe> ` in `<amp-lightbox>` fail to layout #10657
- Investigated the issue that amp-ad with type `custom` fail to layout inside amp-sticky-ad amp-fx-flying-carpet and amp-lightbox.

[2017-07-31 17:40] dvoytenko commented on #10717
@p2er `amp-user-notification` has been fixed by the #10659 and should be in Canary later this week. But could you please confirm what `amp-tracking` means?

[2017-07-31 17:44] p2er commented on #10717
Sorry, I meant amp-analytics.

[2017-07-31 17:49] dvoytenko commented on #10717
@p2er Cool. I think the #10659 then would fix both issues. But, @cvializ could you please check?

[2017-07-31 17:53] cvializ commented on #10717
Sure, that PR looks like it'll fix both issues, but I can verify that

[2017-07-31 17:57] dvoytenko commented on #10568
@Haroenv I'm not 100% sure I understand. Preflight request can be avoided with ease and as an extension you'd have a wide range of tools. Compiling 3p code in is a bit more complicated, but possible as long as it's in the `third_party` folder. We run all 3p code (and of course 1p code as well) via security reviews. As part of AMP we make a promise that the code has been security reviewed and to ma

[2017-07-31 18:13] torch2424 commented on #10719
* Working on a ABE for Sidebar 1.0
* Work with validation team now that the format has been finalized
* Work on configurator for AMP Start
* Circle Back on Shadow DOM Polyfills for PWAmps

[2017-07-31 18:17] jridgewell commented on #10719
- layers

[2017-07-31 18:22] cramforce commented on #10682
Experiments can be in conflict. I think it makes more sense to run tests twice.

[2017-07-31 18:22] choumx commented on #10642
Agreed. Should be a simple fix in action-impl.js:

- [ ] Check for `disabled` attribute when traversing up the event target's parent chain in `ActionService#findAction_()`.
- [ ] Add corresponding unit test to test-action.js.

@robinpokorny Now that you've completed your first GFI, this is a "good second issue" to tackle and gives you some insight into our Actions service in AMP (an important part

[2017-07-31 18:24] aghassemi commented on #10719
*  Pinterest [sample](https://github.com/ampproject/amp-by-example/pull/908) on AmpByExample.com fixed, documentation [updated](https://github.com/ampproject/amphtml/pull/10593).
* Format Design: [amp-util-date](https://github.com/ampproject/amphtml/issues/10710), [amp-countdown](https://github.com/ampproject/amphtml/issues/10385)
* `videoPlayerElement.fullscreen` [action](https://github.com/amppr

[2017-07-31 18:26] rsimha-amp commented on #10682
I chatted offline with @choumx and came up with a plan to `gulp build` once, but `gulp serve` twice with two different configs, and run two sets of visual tests as part of a single Percy build. Working on it.

Notes:
1. Just one `gulp build`, since it's time consuming
2. Run prod and canary visual tests as part of a single Percy build (to let the PR blocking mechanism work as designed)

[2017-07-31 19:15] choumx opened #10729 "Actions: Provide valueAsNumber instead of casting value"
We currently support accessing the value of `<input>` elements in actions via `event.value`, e.g.

[code]

In some cases, the `event.value` is helpfully cast to `Number`: https://github.com/ampproject/amphtml/blob/e430b19ef36154ae6839d5904196ad40263fa85b/src/service/action-impl.js#L268

This is a weird special case and is unintuitive since it diverges from the browser API. Instead, let's _not_ cas

[2017-07-31 19:17] choumx commented on #10729
@mrjoro Can you invite @blueyedgeek as a collaborator to amphtml? Then I can assign him this issue.

[2017-07-31 19:29] choumx commented on #10709
Looks good so far. Haven't seen any of these errors in the [patched canary](https://github.com/ampproject/amphtml/releases/tag/1501383761781) today.

[2017-07-31 19:39] #9427 closed

[2017-07-31 19:52] Haroenv commented on #10568
[algoliasearch-client-javascript](https://github.com/algolia/algoliasearch-client-javascript), yep, it’s open source.

This is the older v3 version (12kb gzipped), but v4 will be a lot more flexible and allow for importing just the “search request” part.

[2017-07-31 20:03] choumx opened #10730 "amp-bind: Doesn't work on IE11"
Follow-up to #10529.

A `Promise#then()` appears to be swallowed which causes `AMP.setState()` to no-op -- may be an issue with the Promises polyfill.

[2017-07-31 20:08] alanorozco commented on #9972
Going for transparent body. Decided team-wise that this was the better choice. Will trigger a development warning to prevent author confusion.

[2017-07-31 20:22] choumx opened #10731 "Support running _some_ integration tests on IE11"
We've had a few IE11 bugs, e.g. amp-bind, amp-ad, amp-carousel: https://github.com/ampproject/amphtml/issues?utf8=%E2%9C%93&q=is%3Aissue%20IE%2011

Those bug fixes don't have any regression protection since [we don't run Saucelabs tests on IE11](https://github.com/ampproject/amphtml/blob/4a9419322d1fa42e6a65c77dd2c35d32bc5a659b/build-system/tasks/runtime-test.js#L69).

Let's fix that by supporting

[2017-07-31 20:23] cramforce commented on #10682
The config could be triggered by query param, no?

[2017-07-31 20:27] choumx commented on #10731
OTOH, this problem will fix itself once IE market share becomes negligible. 🤷‍♂️

[2017-07-31 20:29] erwinmombay commented on #10682
yes, configs can also be triggered by query param

[2017-07-31 20:30] rsimha-amp commented on #10682
@cramforce @erwinmombay @choumx I figured out an easier way to serve the prod and canary configs with just a single `gulp build` and a single `gulp serve`. It involved calling `gulp prepend-global` with `--canary` and `--prod` after launching the server, but prior to fetching the runtime. I also added a `--remove` flag to `gulp prepend-global`, which will remove any prepended config that might be

[2017-07-31 20:31] aghassemi commented on #8264
@neko-fire still an issue. `autoplay` does not work and all the `play`, `pause`, `mute`, `unmute` actions don't do anything. Here is a sample page: https://codepen.io/aghassemi/pen/LjNjXg

[2017-07-31 20:46] erwinmombay commented on #10682
that sounds good to me. my only question is which config do we use?

also for the hash/param approach you'd need to set it to "  "allow-url-opt-in": ["pump-early-frame"]," field so we can't just turn it on through that unfortunately

[2017-07-31 20:54] erwinmombay commented on #10682
nvm you do it twice once for each config

[2017-07-31 21:19] rsimha-amp commented on #10682
Yep, I'm generating the entire set of snapshots once for each config in `['prod', 'canary']`

[2017-07-31 22:39] techhtml commented on #10718
@camelburrito I had used `sizes` attribute on my test and It happened same.

[2017-08-01 01:43] choumx commented on #10730
The following appears to fix it:

1. Replace `promise-pjs` with `es6-promise`.
2. Replace IE-unsupported `trimLeft()` with `trim()` in bind-validator.js.

Will try to pinpoint the issue in (1) first.

[2017-08-01 06:57] supriya-raj commented on #9644
@muxin Yes..thanks..it has been fixed now

[2017-08-01 10:19] andreban commented on #10385
Could `amp-mustache` be used to format the date? `amp-countdown` would expose the parts of the date as variables, and mustache would offer flexibility on how to transform those into HTML. Another advantage is that AMP Developers are likely to be familiar with `amp-mustache`, as it's used in other AMP components.