[2016-04-05 19:46] rudygalfi commented on #2820
@cramforce Will see if I can get someone from the Typekit team looped into this issue.

[2016-04-05 19:54] rudygalfi commented on #1797
cc @michaelkleber on the issue we were discussing earlier

[2016-04-05 19:54] bramstein commented on #2820
Typekit engineer here. I'm not that familiar with AMP's technical requirements, but I'm more than happy to have a discussion about how we could accomplish this.

[2016-04-05 20:25] ithinkihaveacat commented on #2820
@bramstein The problem is that AMP allows ["third-party JavaScript but **only in sandboxed iframes**"](https://www.ampproject.org/docs/get_started/technical_overview.html#keep-all-third-party-javascript-out-of-the-critical-path), which is incompatible with Typekit's approach of bootstrapping the font loading via JS.

It might be possible to add an "iframe mode" to the Typekit JS in which it report

[2016-04-05 21:18] mkhatib commented on #2628
@ericlindley-g I confirmed that twitter icons are SVG. For FB this is actually working how it was designed to work. When the user provides their own anchor element it's assumed that they want to style it themselves hence our styles are not applied.

This is somewhat confusing and I am working on a way to make this less confusing. But in the example provided if you remove the custom DOM elements th

[2016-04-05 21:39] ericlindley-g commented on #2628
Thanks for checking—I looked at the example more closely after your response, and I see that it's working as intended.

on Firefox, though, I'm seeing the issue that @jaygray0919 reported (only colored squares, without logo content, after the "moo!"s). Would that be something you could take a look at, too? Happy to open another issue to track, if that helps.

[2016-04-05 21:58] mkhatib commented on #2628
Ah sorry missed that part. You're correct this does seem to happen on firefox. [From MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/data_URIs):

I confirmed that replacing all `#` in the `fill=` attribute with the escaped `%23` seems to fix the problem.

No action is required though, it seems this has been fixed in #2665. The example link given uses its own build of AMP and not our product

[2016-04-06 00:05] cramforce commented on #2820
The method for including custom fonts in AMP is outlined here: https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#custom-fonts

We have a special exception that allows font providers to whitelist a URL pattern for style sheet link tags for font inclusion. This was currently done for fonts.com and Google Fonts. We also allow usage of `@font-face` in the inline CSS.

Loading f

[2016-04-06 00:19] cramforce commented on #2820
@bramstein great to have you hear. Let me know if you have any more questions! Also happy to hop onto Slack or Hangouts!

[2016-04-06 09:41] bramstein commented on #2820
@cramforce Interesting. The way AMP loads web fonts is very similar to Typekit. We also use JS to provide better control over timeout and font loading behaviour (through the [Web Font Loader](https://github.com/typekit/webfontloader) and [Font Face Observer](https://github.com/bramstein/fontfaceobserver)). Another reason we use JS is to keep track of font usage through a beacon. We use this data t

[2016-04-06 15:57] cramforce commented on #2820
@bramstein Could you sign up for our Slack here: https://docs.google.com/forms/d/1wAE8w3K5preZnBkRk-MD1QkX8FmlRDxd_vs4bFSeJlQ/viewform?fbzx=4406980310789882877

Thanks!

[2016-04-06 17:28] ericlindley-g commented on #2628
Looks good! @mkhatib, you mentioned above that you're working on making the behavior a little less confusing, but it seems like the issues here are largely fixed or working as intended. Would you like to leave the issue open for any additional work you're doing, or can we close it?

[2016-04-06 18:23] jridgewell commented on #335
Closed by #1738.

[2016-04-06 18:23] #335 closed

[2016-04-06 18:25] dvoytenko opened #2826 "Define rules for AMP embedding in Web Views"
Require a connecting iframe or webview to specify either `viewer` or `viewerUrl`. Also make it logged in error.js. Currently both are done for `viewerUrl`. `viewer` should work the same and fallback to `viewerUrl` origin if not specified.

[2016-04-06 21:28] mkhatib commented on #2628
I'd keep this as the general tracking bug for the changes - but I am ok with closing it as well.

[2016-04-06 21:46] ericlindley-g commented on #2604
@anandvtk

That sounds good—assuming that all the default text styles can be easily over-ridden with custom styles, we'll also want to support customization for

• the color of the line and marker that connect each entry to the central timeline
• the ability to use a custom shape as the marker (examples of how to customize is a great idea)

Related to the responsive behavior:
• If there were no an

[2016-04-06 22:13] dvoytenko commented on #2822
@hkmaly Most likely this is due to the following errors on the page:
[code]

The credentialed CORS requests require the following protocol: https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md

[2016-04-06 22:13] dvoytenko commented on #2822
I'll close this for now, but please reopen if needed.

[2016-04-06 22:36] #2767 closed

[2016-04-06 22:43] ericlindley-g commented on #2352
Closing without a response—feel free to reopen as needed

[2016-04-06 22:43] #2352 closed

[2016-04-06 22:54] #2732 closed

[2016-04-06 22:56] ericlindley-g commented on #2622
@sriramkrish85 Ping! Is there any remaining documentation task here?

[2016-04-06 23:01] ericlindley-g commented on #2585
@erwinmombay Is this tracking toward the 4/14 milestone?

[2016-04-06 23:03] ericlindley-g commented on #2402
Any updates on this?

[2016-04-06 23:07] ericlindley-g commented on #2565
@jridgewell , is this targeting the 4/14 milestone?

[2016-04-06 23:09] ericlindley-g commented on #2742
@dvoytenko @mkhatib Is this actively being worked on for the 4/14 milestone?

[2016-04-06 23:41] dvoytenko commented on #2742
I'd say, yes, let's aim to fix in this milestone.

[2016-04-07 00:08] mkhatib opened #2828 "Nested AMP elements are never scheduled for layout in Carousel"
@dvoytenko pointed out this issue regarding amp-elements used as `placeholder` inside other amp-elements. For example `amp-anim > amp-img.placeholder`. You can test it out by just launching the [carousel example](http://output.jsbin.com/qokanow/quiet) and notice that `amp-anim > amp-img.placeholder`  element is never actually gets laid out.

![image](https://cloud.githubusercontent.com/assets/2647

[2016-04-07 00:43] jmadler opened #2829 "amp-ad reference docs: data-foo-bar"
A colleague of mine noticed that it's unclear how to add ''google_ad_host'' inside `<amp-ad type="adsense">`.

It might make sense to look at ways to improve the amp-ad ref docs for specific ad networks to be more concise.

[2016-04-07 01:00] cramforce commented on #2829
Not clear to me what this means. Are you asking an adsense questions? AdSense docs can likely be improved, but I think it is a loosing game to do this on the AMP side. We typically ask ad networks to link to documentation on their own site.

[2016-04-07 01:11] mkhatib opened #2830 "Double Placeholder Potential Problem"
@dvoytenko pointed out that in `amp-youtube` or other elements that generates a dynamic placeholder if they detect no placeholder already is provided, there's a potential problem that the placeholder haven't yet been parsed and hence amp-youtube elements will have 2 placeholder elements.

This is slightly related to #1014 with the exception that placeholders are managed by the runtime and not the

[2016-04-07 03:12] erwinmombay commented on #2819
Closed by https://github.com/ampproject/amphtml/pull/2827

[2016-04-07 03:12] #2819 closed

[2016-04-07 03:27] dvoytenko commented on #2830
@mkhatib Makes sense. Although this probably won't be `:last-child` since that literally selectors the last child in the container. Possible a sibling selector or maybe `:last-of-type` would do.

[2016-04-07 12:45] chrisloftus opened #2831 "Intent to implement: Add WhatsApp to amp-social-share"
Hey,

I saw that someone suggested adding WhatsApp to amp-social-share in #2794. I thought this would be cool to add, so I've done some of the work - https://github.com/chrisloftus/amphtml/commit/6ccf3a1b8af9b7a5691ba39c8efd08311da94b5e

However, WhatsApp URL [scheme](https://www.whatsapp.com/faq/en/iphone/23559013) doesn't have a `url` parameter, only `text`. So I think we should append the url t

[2016-04-07 12:49] bob-v-t opened #2832 "Intent to implement: `amp-ad` type: 'weborama-display'"
Hi all,

I'd like to request the addition of the `weborama-display` type for the `amp-ad` component.
I think that I've read all documentation there is to read on this topic, but please tell me if I'm missing something.

I've forked to project and worked on a separate branch that can be found here: https://github.com/bob-v-t/amphtml/tree/amp-ad-weborama

I'll reference this issue from the pull requ

[2016-04-07 13:51] juniorneo2 opened #2834 "[amp-mustache] Why the link target is only blank?"
I have a list and need that the link target be "_self". The script change the link target to "_blank". Why does it do this?

Code

<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23</pre></td><td>

[2016-04-07 16:26] jridgewell commented on #2565
I don't even know what we want for this. After reading everything, this may be entirely handled by the analytics `visibilitySpec` without any need to change the ad loading behavior.

[2016-04-07 16:36] NataliaLKB opened #2836 "Parse only once per received message, not once per listener"
## Parse only once per received message, not once per listener

If PR #2835 is merged, resize postmessages received by amp-iframe will parse for each listener. However, they should be parsed per message received.

[2016-04-07 16:37] ericlindley-g commented on #2565
Got it—putting in the backlog for now, while we determine next steps

/cc @rudygalfi

[2016-04-07 16:59] jridgewell commented on #2834
@dvoytenko, mind answering this?

[2016-04-07 17:16] rhising commented on #2380
I use CloudFlare on a wordpress site and it didn't work until i added a page rule in CloudFlare. I essentially turned off everything under the pattern _www.domain.com/*/amp/*_

It worked for me so hopefully it will help someone else.

[2016-04-07 17:22] dvoytenko commented on #2834
This is due to the #1572. Unfortunately the sanitizer drops the target completely for some bizarre reason. So, the `_blank` was the only option we had here. This is, however, reasonable when the page is shown in a viewer, e.g. iframe'd inside of Google.com - since CDN updates all `_self` links to `_blank` anyway because of sandbox policy would not allow self navigation.

I pinged on the sanitizer'

[2016-04-07 17:32] juniorneo2 commented on #2834
Ok! Thank you! @dvoytenko @jridgewell

[2016-04-07 17:45] dvoytenko commented on #2834
If you don't mind, I'll dedup this bug into #1572.

[2016-04-07 17:46] #2834 closed

[2016-04-07 17:46] dvoytenko commented on #1572
#2834 has been marked as a duplicate of this issue.

[2016-04-07 17:48] rudygalfi commented on #2565
These do seem pretty related. It sounds like the `visibilitySpec` being developed in #1297 would be applicable here and we want to wait on it to land/stabilize before we move forward here.

cc @kashyapnitin

[2016-04-07 18:08] jridgewell commented on #2828
This is a bug with `Resources#discoverResourcesForElement_`, then.

[2016-04-07 18:14] luigi opened #2839 "Minor docs fix on amp-social-share"
In: https://github.com/ampproject/amphtml/blob/master/extensions/amp-social-share/amp-social-share.md

Line 127 should be `text` not `title` for the linkedin type.

Config is at: https://github.com/ampproject/amphtml/blob/master/extensions/amp-social-share/0.1/amp-social-share-config.js#L109

[2016-04-07 18:25] dvoytenko commented on #2828
@mkhatib @jridgewell : yes, I agree. This looks to be a `discoverResourcesForElement_` issue. The fix would be simple.

Right now it's:
[code]

But it will be:
[code]

Or some such.

[2016-04-07 19:51] #1209 closed

[2016-04-07 20:04] #2527 closed

[2016-04-07 20:16] Gregable commented on #2734
This validator change will be live in the chrome dev console messages within an hour or so.

[2016-04-07 20:17] Gregable commented on #2701
This validator change will be live in the chrome dev console messages within an hour or so.

[2016-04-07 20:22] mkhatib commented on #2828
Is the expectation that the nesting happens only for placeholder elements?

Are there any amp-elements that we expect people to nest (other than Carousel/Slider)? The snippet Dima wrote seems to only address the placeholder case not the nesting of non-placeholder elements.

This might not happen today but in future if we have some more elements that can be nested it might not be able to be schedul

[2016-04-07 20:37] mkhatib commented on #2831
Hey @chrisjlee

You're right, the current setup is very limiting because this expects the endpoint to want parameters. We're working on redesigning the `amp-social-share` implementation, so this might change to allow more extendability.

In the meanwhile, with your current setup you probably can drop the url parameter from whatsapp config and just append the URL to the text field in the configurat

[2016-04-07 20:41] kbnaik commented on #2829
Would like to echo here that at this point there are only two data attributes supported for AdSense Ad network: adClient and adSlot. (https://github.com/ampproject/amphtml/blob/master/ads/google/adsense.js)

google_ad_host is one of the (optional) key/value pairs for AdSense script:

<script type="text/javascript">
</script>

If this is added to the supported data-xxx dictionary, devs would be abl

[2016-04-07 20:45] ericlindley-g opened #2843 "FR: ability to use "container" layout for amp-social-share"
from @hkmaly in #2756:

@hkmaly, I believe what you're asking for would be something like using ["container" layout](https://github.com/ampproject/amphtml/blob/bbbb7e6dccd8159fe9f139b7c65715a4a3526754/spec/amp-html-layout.md#container). @mkhatib is doing some work on amp-social-share that should solve this issue, but I'm opening up this feature request so we don't lose track of it.

@mkhatib, I've

[2016-04-07 20:45] ericlindley-g commented on #2756
@hkmaly, I've pulled your question into a separate issue here: #2843

[2016-04-07 21:09] #2839 closed

[2016-04-07 21:12] chrisloftus commented on #2831
@mkhatib Thanks for the reply, really appreciate it.

I thought about not having a url parameter and then I thought that users wouldn't be able to specify a url different from the current page. If that's okay for now, I'll remove the param and maybe it could be mentioned in the docs (appending the url to the text).

[2016-04-07 21:52] cramforce opened #2845 "RFC: Factor amp-ad into extension"
`amp-ad` is the only core component that is not simple and in core. Removing it should bring down the default JS size by quite a bit.

We could replace it with an extension and a stub in core that loads it dynamically, so that all existing content keeps working.

Then we could tell people to explicitly load the extension to get the previous speed back, but overall it should not be such a bad perf

[2016-04-08 00:39] #2769 closed

[2016-04-08 04:18] hkmaly commented on #2822
I'm sorry, this was my incorrect understanding of CORS protocol. I though that when I'm not getting Origin header I'm not supposed to set any of the CORS headers. But when using the direct url the request is not really cross origin right?

When using the CDN url OR http (instead of https) url, I get the Origin header on authorization and it works as I described. Apparently I was testing on http by

[2016-04-08 04:21] hkmaly commented on #2822
PS: ... I think I'm not allowed to reopen the bug by github.

[2016-04-08 04:35] hkmaly opened #2848 "Scrollbar not allowed on amp-access login link"
I understand that it's supposed to work on smartphones and generally be small, but would it be possible to allow scrollbars on the login window? Currently, it's opened with window.open without scrollbars being mentioned, which unfortunately means they are turned off on some browsers. When the page content is bigger than the window, it's not possible to see it then.

## How do we reproduce the issu

[2016-04-08 12:34] elljoh opened #2849 "Intent to implement: Yieldbot amp-ad type"
Yieldbot intends to make a pull request for review; containing, a contribution that provides an additional `amp-ad` type for [Yieldbot header bidding](https://www.yieldbot.com/blog/header-bidding/) integration into a publisher's AMPHtml pages:
-  `<amp-ad type="yieldbot"/>`

[2016-04-08 15:13] hkmaly commented on #2843
I don't think it will help. I'm speaking about the ability to use
<amp-social-share type=>"twitter" width=30 height=22>
instead of my current workaround of using
<span><amp-social-share type=>"twitter" width=60 height=44></span>
with styles like
  span {
    position: relative;
    height: 22px;
    width: 30px;
    margin-left: 5px;
    display: inline-block;
  }
  amp-social-share {
    transfor

[2016-04-08 15:15] cramforce commented on #2849
LGTM

On Fri, Apr 8, 2016 at 5:34 AM, John Ellis <notifications@github.com> wrote:

[2016-04-08 15:40] ericlindley-g commented on #2843
@hkmaly — ah, now I see: you want to use the size specified with the height and width attributes for amp-social-share, not the dimensions of the images themselves

@mkhatib — shouldn't this already work? I'm assuming this will already be addressed with the other changes you'll be making before this component is pushed out of experimental again, but we should make sure that if there's a bug here it

[2016-04-08 16:41] ericlindley-g opened #2851 "AMP Start: Create AMP boilerplate CSS for default styling"
Pending UX as of 4/8

/cc @sriramkrish85

[2016-04-08 16:51] ericlindley-g opened #2852 "amp-carousel v2"
Improve on interaction and visual design of existing carousel, addressing as many of the following issues as possible in a fluid, useful re-design that includes lightbox capabilities
#2019, #2355, #2512, #1963, #2510, #2250, #2374, #1866, #2366

4/8 status: pending UX

/cc @dvoytenko @sriramkrish85 @erwinmombay

[2016-04-08 17:51] dvoytenko commented on #2828
Correct. This may happen. The answer to this is `Resource.hasOwner()` method. The `discoverResourcesForElement_` should never look inside resources with `hasOwner()` flag, with a sole exception of placeholders. These are two important properties of relationships between AMP elements:

1. Ownership: If an element, such as Carousel declares ownership over an element, it basically says "I'm competent

[2016-04-08 17:57] zhangloo333 opened #2854 "Require the example to collapse the bank when no ads is returned."
where to call function _"window.context.noContentAvailable"_ to collapse the bank when no ads is returned.

I read the documentation:
_"window.context.noContentAvailable is a function that the ad system can call if the ad slot was not filled. The container page will then react by showing **fallback** content or collapsing the ad if allowed by **AMP resizing rules**."_.

where can I call window.con

[2016-04-08 18:02] dvoytenko commented on #2822
@hkmaly Could you please clarify the first part? All requests should definitely be directed to "https". Do you mean when you actually do a same-origin request in that case? As in direct, non-cdn AMP access? In this case, I'd still be inclined to require CORS headers. This is because we'd like to ensure transparency: if you tested and it works on your directly-hosted environment - it should also au

[2016-04-08 18:02] dvoytenko commented on #2822
Likewise, we'll close for now, but will reopen if needed.

[2016-04-08 18:02] #2822 closed

[2016-04-08 18:03] dvoytenko commented on #2848
@hkmaly Absolutely. Will implement ASAP.

[2016-04-08 18:22] dvoytenko commented on #2854
/to @sriramkrish85

[2016-04-08 18:49] sriramkrish85 commented on #2854
@zhangloo333 - you will have to have some kind of logic that tells you when no-content is available on your ad (if you own the ad's code you can have the ad send you a postMessage indicating this. )

Here is how doubleclick does this  - https://github.com/ampproject/amphtml/blob/master/ads/google/doubleclick.js#L111

[2016-04-08 18:51] hkmaly commented on #2822
Yes, I mean direct, non-cdn AMP access. I forgot that is an option and wrote the CORS support code in way which made it fail. Should be fixed now. Did you tried to reproduce the original issue again?

I don't know more about promise implementation than what is mentioned on https://github.com/MoonchildProductions/Pale-Moon/issues/360 - which is that it used to work so bad they disabled it.

I was t

[2016-04-08 18:59] dvoytenko commented on #2848
@hkmaly while I'm fixing this... Could you actually clarify which browsers actually default `scrollbars` to `no`? I did a quick run and all browsers I tried force it to `yes` by default.

[2016-04-08 19:21] hkmaly commented on #2848
"Default" is hard to pinpoint here. Firefox (and Palemoon) have a setting - dom.disable_window_open_feature.scrollbars - which have two values: false - honor the standard and true - force scrollbars to yes. See https://developer.mozilla.org/en-US/docs/Web/API/Window/open

Firefox won't change the settings by itself on upgrade, but I suspect new installs set it to true. Or you may have it set that

[2016-04-08 19:28] hkmaly commented on #2848
(Although I suppose people like me who didn't reset their profile since Firefox version 3 are rare, I have no idea when this might've changed.)

[2016-04-08 19:38] dvoytenko commented on #2848
@hkmaly I see. In either case a good idea to fix. I sent https://github.com/ampproject/amphtml/pull/2855

[2016-04-08 19:57] dvoytenko commented on #2822
@hkmaly So, right now, the examples that you sent work seemingly well on Chrome: I see both an auth GET and a pingback POST.

RE:CSP
Our CSP is setup definitely correctly w.r.t. cdn.ampproject.org scripts. Are you sure you are looking at a page hosted on CDN?

RE:Promise
Let's see if @jridgewell has a good test page for promise conformance on different browsers.

[2016-04-08 20:16] hkmaly commented on #2822
You should also see two pixels, one with reader ID and one without. While on Palemoon, there is only auth GET and one pixel without reader ID.

RE:CSP: I'm using the https://cdn.ampproject.org/c/s/www.einpresswire.com/amp/article/319962384/london-app-company-launches-a-new-scheme-making-social-apps-accessible-for-start-ups url ; I'm reasonably sure it's CDN hosted page. I suspect that the CSP spec

[2016-04-08 21:10] dvoytenko commented on #2822
@hkmaly Yeah, I see both pixels firing in Chrome. Maybe the easier option is to upgrade the Palemoon to a newer Firefox fork?

[2016-04-08 21:42] hkmaly commented on #2822
Palemoon is the newest fork of Firefox. Do not let the relatively low version numbers confuse you. Also, telling any Palemoon user to switch to Firefox is provocation: ALL Palemoon users switched FROM Firefox because they didn't agree with the direction Firefox developement is going to, including but not limited to Australis.

I understand if you don't want to support Firefox 24.8.0: it's old and

[2016-04-08 21:58] dvoytenko commented on #2822
I don't mean switch, but I wonder if some upgrade is possible within Palemoon. Obviously, we can try to find out the delta that's missing from Palemoon to what AMP can polifyll piece by piece, but that might be a pretty long way to do it. Does Palemoon report ES5 compatibility directly? According to http://kangax.github.io/compat-table/es5/ and Firefox 21+ should be ok, but obviously we are runnin

[2016-04-08 22:01] #2848 closed

[2016-04-08 22:30] hkmaly commented on #2822
PaleMoon 26.2.0 is from 2016-04-05. I see there is already 26.2.1 from 2016-04-08 but based on release notes I don't believe anything changed: https://www.palemoon.org/releasenotes.shtml

Also, I already referenced the bug about promise support: https://github.com/MoonchildProductions/Pale-Moon/issues/360 ; I believe any progress will be mentioned there.

Just noticed: on https://developer.mozilla

[2016-04-08 22:32] hkmaly commented on #2822
Oh.
Tried  http://kangax.github.io/compat-table/es5/
Both PaleMoon 25.7 and PaleMoon 26.2.0: Only thing which didn't pass is the NaN for invalid dates.

[2016-04-08 23:23] zhangloo333 commented on #2854
@sriramkrish85 - Right now, I don't have ad's code, and just know the amp-ad type and data-solt attributes.

How can I know no-content status when there is no Ads served in AMP page? I can add a condition to collapse blank space in script of placeholder div, but I need a trigger elements. I use button to trigger the delete action at the moment.
How can AMP page automatic collapse the blank space w

[2016-04-08 23:29] sriramkrish85 commented on #2854
@zhangloo333 - the ads has to send the amp-page a `no-content` message. If the ad does not support that then `noContentAvailable` will not do anything. As far as i know doubleclick is the only one supporting this as of today. (@cramforce please correct me if i am wrong).

[2016-04-08 23:51] sriramkrish85 opened #2859 "Fixed layer (amp-sidebar) - reset state when elements are moved out of fixed layer"
## Short description of your issue:

When you move elements back and forth between the fixed layer then the computations are stacked up and it causes weirdness like this

https://www.youtube.com/watch?v=IsDShWCA7Ho&feature=youtu.be

## What browsers are affected?
IOS (safari?) - where ever fixed layer is being used.

[2016-04-08 23:51] sriramkrish85 commented on #2859
**cc** @dvoytenko

[2016-04-09 00:00] powdercloud commented on #2778
Should I look at PR #2856 and get this done for the validator also?

[2016-04-09 01:31] powdercloud commented on #2695
This is done and live everywhere.

[2016-04-09 01:31] #2695 closed

[2016-04-09 02:41] cramforce commented on #2854
@sriramkrish85 We don't really know, because it can be called from proprietary code. But doubleclick definitely supports it.

[2016-04-09 03:13] hkmaly commented on #2822
Another stuff I noticed: Login window is supposed to autoclose after login is finished, right? It doesn't in Palemoon. And THAT page is small enough I'm sure you are not doing any polyfill stuff: there is just one javascript there and it doesn't define Promise. Actually, unlike the page itself, it throws error "Promise is not defined" (at line 17).

[2016-04-09 18:27] cramforce commented on #2778
@powdercloud Yes, please!

[2016-04-10 03:57] sriramkrish85 commented on #827
Update:

#2461  - has been split into smaller PRs and all of them have landed.

#2788 , #2792, #2795 , #2811, #2812, #2813, #2823

There are a few more kinks that i am working on (#2859 - is one of them!)

[2016-04-11 10:39] karolk opened #2861 "Intent to implement: SkimLinks extension"
Skimlinks intends to submit a PR for review with <amp-skimlinks> extension. The extension provides a way for publisher to use content monetization and performance tracking. (details: http://skimlinks.com/features)

The implementation will use following syntax

[code]

[2016-04-11 15:01] alvin-milton opened #2862 "webmaster tools reports errors, but AMP pages validate..."
Currently, GWT is reporting errors under the Required Tag Missing Category however, the page validates with #development=1 flag turned on.

This is the error:
- **Required tags missing:**	body, head > style : boilerplate, amphtml engine v0.js script, noscript > style : boilerplate, noscript enclosure for boilerplate

This is the url in question:
http://amp.www.complex.com/pop-culture/2013/07/donal

[2016-04-11 15:35] cramforce commented on #2862
@honeybadgerdontcare could you take a quick look? Thanks!

[2016-04-11 15:36] cramforce commented on #2861
Thanks for submitting!
How would this be implemented?

[2016-04-11 15:49] karolk commented on #2861
The way skimlinks JS work at the moment is by changing the url of the clicked link if it's a known merchant url, for example `http://etsy.com` becomes `http://go.redirectingat.com?url=http//etsy.com&params...` To achieve this the extension sets up a global single event handler to observe clicks on links. There is also a call to our service, which accepts a list of unique domains linked on the page

[2016-04-11 16:21] cramforce commented on #2861
Thanks. That sounds reasonable in general. We do, however, feel pretty strongly about unnecessary redirects and they are bad user experience, especially on mobile.

I think it'd be worth considering if the referral info could get injected directly into URLs without the extra hop.

[2016-04-11 16:55] karolk commented on #2861
We do have an API allowing publishers to create affiliate URLs in advance of the publication, so they may chose not to deploy our JS script at all. In order to work on the page we have to use a redirection service because we work with over 18k merchants and not every publisher works with every merchant. To minimize our footprint we only create the additional hop if the url is a known merchant that

[2016-04-11 17:32] Gregable commented on #2862
I'm guessing by GWT, you mean Webmaster Tools / Search Console.

It looks like this document had some errors in the past when it was last crawled, but it appears fine now. It seems like the site template may have changed in the last few days?

Search Console lags due to crawl time. If you validate with `#development=1` you should be good to go for AMP validation the next time Google indexes the pa

[2016-04-11 17:32] #2862 closed

[2016-04-11 17:35] #1917 closed

[2016-04-11 18:13] coreybyrnes commented on #2736
@dvoytenko Yes the user would click on the base ad (ex 320x50) and a full-screen semi-transparent overlay would appear with an ad (ex 300x250) centered vertically and horizontally on it along with a close button in the upper right. Let me know if this is in the pipeline or if there's a way to currently accomplish this that I'm not realizing.

[2016-04-11 18:23] dvoytenko commented on #2778
@powdercloud As before, let's wait for us to land this PR and you can follow. Thanks!

[2016-04-11 18:24] dvoytenko commented on #2822
@hkmaly Could you please confirm the URL of that page? Generally, the login is delegated completely to the publisher, but there might be some stages we are handling as well.

[2016-04-11 19:24] dvoytenko opened #2863 "Ensure polyfills are included in the login-done page"

[2016-04-11 19:25] dvoytenko opened #2864 "Ensure polyfills are included in experiments page"
Enabling it fails:
[code]

[2016-04-11 19:31] dvoytenko commented on #2822
Found one page that fails to include all polyfills. Fix is in #2865.

[2016-04-11 20:40] dvoytenko commented on #2736
/cc @cramforce to comment on this as he's looking into similar use cases.

[2016-04-11 20:49] dvoytenko commented on #2778
as discussed earlier, we removed the implicit flex styling via `height=auto`

[2016-04-11 20:55] cramforce commented on #2736
Over to @kashyapnitin

This would definitely require work on AMP. We're definitely very open to such a feature.

[2016-04-11 21:54] ericlindley-g commented on #2859
@sriramkrish85  Tentatively slotting for 4/14, but is that too aggressive for this fix?

[2016-04-11 21:56] ericlindley-g commented on #2845
@cramforce — I'm slotting this in the backlog, but let me know if you have a concrete target in mind

[2016-04-11 22:00] powdercloud commented on #2739
Thank you, looking into it.

[2016-04-11 22:17] cramforce commented on #2845
@ericlindley-g Lets be aggressive about it.

[2016-04-11 22:19] sriramkrish85 commented on #2859
@ericlindley-g hopefully! - working on it now.

[2016-04-11 22:21] ericlindley-g commented on #2845
@cramforce Done :)

(feel free to re-slot if 4/28 isn't the right level of aggressive—it's hard for me to gauge without a good sense of the scope of the task)

[2016-04-11 23:32] #2739 closed

[2016-04-12 00:35] powdercloud commented on #1616
At this point quite sure it's out everywhere, so closing this issue.

[2016-04-12 00:35] #1616 closed

[2016-04-12 07:08] dmitrymotorin opened #2870 "Adsense unknown attribute adRegion"
Hey guys,
We've implemented ad regions (data-ad-region) for adsense blocks and got an error:
**_Uncaught Error: Unknown attribute for adsense: adRegion.​​​_**
If this attribute is unknown, will adsense receive it?

**Page example**
[http://womanitely.com/exercises-transform-your-body/amp-list/](http://womanitely.com/exercises-transform-your-body/amp-list/)

**Block example**
`<amp-ad width="300" h

[2016-04-12 09:00] adtechnology opened #2871 "Please add Media Impact to the Ad Documentation"
Please add Media Impact to the list of supported Ad Networks:

https://www.ampproject.org/docs/reference/amp-ad.html

[2016-04-12 14:01] cramforce opened #2874 "Expose full version string to ads"
I think right now ads only see the build-version, but are missing experiments.

Lets thread through the full string, so that they can log by experiment as well.

[2016-04-12 14:10] hkmaly commented on #2822
Just to confirm, yes, I was speaking about the login done page, like https://cdn.ampproject.org/v0/amp-login-done-0.1.html?url=http%3A%2F%2Fwww.presswire.com%2Famp%2Farticle%2F317551888%2Feventex-ranks-eventscribe-among-the-world-s-best-event-apps#success=true page.

[2016-04-12 15:29] brusco77 opened #2876 "Problem with analytics of AMP pages"
Hi, we have a strange issue with pages of
http://www.sorrisi.com/musica/news/classifica-radio-partigiano-reggiano-zucchero-numero-uno/?amp=true#development=1

on google analytics, we have
51% of the AMP pages served by https://cdn.ampproject.org/v/www.sorrisi.com/...
49% of the AMP pages served by http://www.sorrisi.com

we do not understand why, we supposed that all the pages are served by google

[2016-04-12 15:49] cramforce opened #2878 "Supply an initial intersection record to ads on load time"
They can already ask for it, but there is some delay.
That way they can immediately decide whether they are in viewport already.

#2877 might make this unnecessary.

[2016-04-12 16:52] dvoytenko commented on #2876
/cc @rudygalfi @avimehta

[2016-04-12 17:17] dvoytenko commented on #2870
/to @kashyapnitin
/cc @cramforce

[2016-04-12 18:02] erwinmombay opened #2882 "remove canary flag found in amp-login-done-0.1.js"
This is because amp-login-done has its own compile steps, It shouldn't have the global canary flag on it. doesn't hurt anything right now since amp-login-done is currently not loaded with the main binary but this should still be fixed.

[2016-04-12 18:14] #2731 closed

[2016-04-12 18:22] cramforce commented on #2870
Also cc @bobcassels

[2016-04-12 20:26] ericlindley-g commented on #2871
Thanks for flagging this, @adtechnology —

@cramforce, this [merged PR](https://github.com/ampproject/amphtml/pull/2069) seems to have added support: is there anything we're waiting on to update the documentation?

[2016-04-12 20:28] ericlindley-g commented on #2874
@cramforce , @erwinmombay — setting this for the next milestone, given the high priority, but feel free to re-slot as appropriate

[2016-04-12 21:02] erwinmombay commented on #2845
will need to remember to move amp-embed too

[2016-04-12 21:12] enatork commented on #2510
@georgecrawford
I created a pen that will hide/show a caption on an amp carousel using css selectors.  Hope this helps.
http://codepen.io/vanle/pen/XdErpM

[2016-04-12 23:27] cramforce commented on #2871
Nope, this is typically done as part of the initial PR. @adtechnology feel free to send a follow up PR.

[2016-04-12 23:29] #2849 closed

[2016-04-12 23:53] mkhatib commented on #2843
@ericlindley-g this should already work if I understand what @hkmaly is trying to do.

My understanding is that he is trying to make the amp-social-share button smaller, right?

The snippet you sent should work correctly, I've created a [demo page with both of your snippets](https://jsbin.com/jusare/edit?html,output) and both of them render in the correct size. Am I missing anything?

[2016-04-12 23:55] mkhatib commented on #2843
If that didn't render you might need to manually toggle experiments by typing `AMP.toggleExperiment('amp-social-share')` inside the jsbin console and reloading.

[2016-04-13 00:10] #2859 closed

[2016-04-13 00:11] sriramkrish85 commented on #827
This is ready for experimentation!  and should be fully working now. There are a few validation fixes that needs to be done, then this should be fully functional (after a lot of testing!)

[2016-04-13 00:17] ericlindley-g commented on #827
Excellent! Is the plan to push to this week's canary?

/cc @edlea-g to take a look at the implementation

[2016-04-13 00:21] sriramkrish85 commented on #827
@ericlindley-g yes (will still be an experiment)

[2016-04-13 00:53] cramforce opened #2890 "Flaky test in amp-font"
See https://travis-ci.org/ampproject/amphtml/builds/122667706

[2016-04-13 00:56] cramforce opened #2891 "Flaky test in amp-fit-test"
See https://travis-ci.org/ampproject/amphtml/builds/122602067

[2016-04-13 01:03] cramforce opened #2892 "Flaky test in Viewer test"
See https://travis-ci.org/ampproject/amphtml/builds/122662551

[2016-04-13 01:05] cramforce opened #2893 "Flaky test in amp-facebook"
See https://travis-ci.org/ampproject/amphtml/builds/122355587

[2016-04-13 01:24] dandv commented on #2746
Disqus is one of the most popular commenting widgets. Would including it via an iframe do the job?

[2016-04-13 01:27] dandv commented on #2604
Can http://timeline.knightlab.com/ be reused?

[2016-04-13 01:40] hkmaly commented on #2843
Note that I didn't reacted after "shouldn't this already work" because I'm not familiar with your design flow and speed ; it was 8 days ago (Apr 4th) when I made the original comment and I'm not sure what version of amp-social-share it was - it was before I realized it is in experimental status. When CDN rejected the page because of it, I disabled it and didn't retried.

[2016-04-13 02:22] dandv opened #2896 "Document how to get started with writing HTML components"
Looks like the [many extensions contributed so far](https://github.com/ampproject/amphtml/tree/master/extensions) have been developed by copy/paste/modify, since the [components spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-components.md) doesn't point to a getting started guide, there's no guide in the [spec directory](https://github.com/ampproject/amphtml/tree/master/spec

[2016-04-13 14:49] ericlindley-g commented on #2843
@hkmaly Thanks for following up—it sounds like the particular problem you were having is fixed. No further action is needed, and you can keep an eye on our releases to see when amp-social-share is available in production.

For tracking, we can keep the request identified in the title of this issue (for amp-social-share to support "container" layout) open until it is addressed by the work that @mkh

[2016-04-13 16:53] dvoytenko commented on #2604
@dandv It looks like http://timeline.knightlab.com/ works via iframes and thus they should work in AMP.

[2016-04-13 16:59] dvoytenko commented on #2892
@jridgewell Looks like visibility transition tests fail here. PTAL.

[2016-04-13 18:59] sriramkrish85 commented on #2854
I think there is nothing more to add to this issue. Closing this for now.

[2016-04-13 18:59] #2854 closed

[2016-04-13 20:02] avimehta commented on #2685
I could not get this done in this sprint because of other higher priority tasks. Will try to do this in next sprint.

[2016-04-13 20:49] dvoytenko commented on #2778
`layout=flex` renamed to `layout=flex-item`

[2016-04-13 22:02] ericlindley-g commented on #2893
@cramforce : putting in backlog, but please feel free to bump to another milestone or let me know if there's a more specific timeline for this

[2016-04-13 22:03] ericlindley-g commented on #2892
@cramforce : putting in backlog, but please feel free to bump to another milestone or let me know if there's a more specific timeline for this

[2016-04-13 22:03] ericlindley-g commented on #2891
@cramforce : putting in backlog, but please feel free to bump to another milestone or let me know if there's a more specific timeline for this

[2016-04-13 22:03] ericlindley-g commented on #2890
@cramforce : putting in backlog, but please feel free to bump to another milestone or let me know if there's a more specific timeline for this

[2016-04-13 22:23] cramforce commented on #2890
Flaky tests should be fixed in the next available 30 minutes :)

On Wed, Apr 13, 2016 at 3:03 PM, ericlindley-g <notifications@github.com>
wrote:

[2016-04-13 22:31] ericlindley-g commented on #2890
Yikes—will update. Thanks!

[2016-04-13 22:38] mkhatib opened #2900 "Intent to Implement: Simplified amp-social-share"
## Allow Extra Providers with no config changes
Every time someone wants to add a link to a social network that is not configured they'd have to send a PR request to AMP to add that provider to the configs. Instead we'll introduce a new `data-share-endpoint` attribute to allow users to provide the share endpoint even if the network is not in the builtin configs.

[code]

## Support for variable su

[2016-04-13 22:45] cramforce commented on #2890
We should at least look at them every week. Most are simple to fix, but
increase dev productivity enough to make them net-positive in a week.

On Wed, Apr 13, 2016 at 3:31 PM, ericlindley-g <notifications@github.com>
wrote:

[2016-04-13 23:20] rudygalfi commented on #2759
@erwinmombay Can we downgrade this from High priority? Would this be fixed in the next milestone (next two weeks)?

[2016-04-13 23:22] rudygalfi commented on #2830
@mkhatib Should we move this into the next sprint?

[2016-04-13 23:23] rudygalfi commented on #2712
Is there a PR for this? I'm putting this into the next sprint, but we can pull in if there's active work on this that will land by tomorrow.

[2016-04-13 23:24] sriramkrish85 commented on #2712
nope - this is future work

[2016-04-13 23:24] rudygalfi commented on #2828
Is there a PR for this? Moving into the next sprint...

[2016-04-13 23:25] rudygalfi commented on #2742
Rolling into next sprint? We've punted on this one before. Should we move to Backlog?

[2016-04-13 23:26] rudygalfi commented on #2670
@Gregable ping? Should we roll into next sprint or into backlog?

[2016-04-13 23:26] ericlindley-g commented on #2628
Rolling into the next milestone

[2016-04-13 23:27] ericlindley-g commented on #1201
Rolling into the next milestone

[2016-04-13 23:27] rudygalfi commented on #2700
Active PR #2783 still under review. Rolling this into next milestone.

[2016-04-13 23:28] ericlindley-g commented on #2585
Rolling into the 4/28 milestone

[2016-04-13 23:28] rudygalfi commented on #2826
Rolling this forward into next milestone.

[2016-04-13 23:28] erwinmombay commented on #2759
we have a partial fix in through https://github.com/ampproject/amphtml/pull/2775 but more work needs to be done.

[2016-04-13 23:28] ericlindley-g commented on #2366
Rolling into the next milestone

[2016-04-13 23:30] rudygalfi commented on #2402
Rolling forward into next milestone. @bobcassels let me know if you don't think you can get to this in the next two weeks.

[2016-04-13 23:32] rudygalfi commented on #2380
I vote for a 256 byte limit. Who owns the next action? Is that validator enforcement/warning? cc @Gregable

[2016-04-13 23:33] rudygalfi commented on #2759
Do you think the additional work is urgent (next milestone) or we can take it up someday later (backlog)?

[2016-04-13 23:36] Gregable commented on #2670
This one is 'done', I'm working on releasing it to github as we 'speak'.

[2016-04-13 23:38] Gregable commented on #2380
Thanks for pingning this. I chatted with @dvoytenko and I think we also agreed to a 256 byte limit, but decided that it wouldn't be something the validator would enforce, but instead we should just document it as a suggestion / possibly make it a validator warning.

[2016-04-14 00:08] #2863 closed

[2016-04-14 00:08] #2864 closed

[2016-04-14 00:14] rudygalfi commented on #827
Given there's additional open PRs (https://github.com/ampproject/amphtml/issues/827#issuecomment-207913257) and assuming this is the meta-bug covering all of amp-sidebar, should we roll this over into the next milestone?

[2016-04-14 00:30] #2670 closed

[2016-04-14 00:34] Gregable commented on #2670
This will go live to in-browser validation next week most likely.

[2016-04-14 01:15] mkhatib commented on #2830
Yeah I think this will have to move for the next sprint. Just sent a change that addresses this but I it still might need some back and forth.

[2016-04-14 01:39] erwinmombay commented on #2874
@cramforce qq, should this be a new field on https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L76 or can we add it to the object returned by getMode(), also instead of querying the script tag would it be better if we added "version" and "fullVersion" to the AMP_CONFIG object during build/dist time?

[2016-04-14 02:43] sriramkrish85 commented on #827
@rudygalfi - all the PRs have been merged now. Sidebar is ready for experimenting (as mentioned above)

[2016-04-14 04:31] #2878 closed

[2016-04-14 04:41] cramforce commented on #2874
I was thinking about `getMode` and I suppose that is reasonable.

For the script tag: I suppose we need that anyway for @zhouyx's work, but it would definitely be better to put into into the `AMP_CONFIG` since that also works for "unversioned" delivery.

[2016-04-14 04:42] #2893 closed

[2016-04-14 17:30] rudygalfi commented on #827
@sriramkrish85 Thanks, I'll close this out then.

[2016-04-14 17:30] #827 closed

[2016-04-14 19:45] jridgewell commented on #2892
These already have an extended 5s timeout. Short of some clever solution to drop our iframe usage, I don't know how to make these types of tests better.

[2016-04-14 20:27] jpettitt opened #2911 "Extending amp-dynamic-css-classes to support viewport intersections"
A number of the sites we’re working on have elements that appear and disappear based on scroll position, mostly things like fixed header bars, floating social button overlays.

I'm kicking around the idea of adding to `amp-dynamic-css-classes` the ability to specify viewport intersections and have classes added/removed to the `<body>` based on view-ability.

Something like

[code]

Alternatively,

[2016-04-14 20:33] cramforce commented on #2911
Could you describe the type of visual changes you'd like to make? I think we should go from there and then see how to implement it.

[2016-04-14 20:59] mkhatib opened #2912 "renderOutsideViewport => false breaks Carousel rendering"
As far as I can tell this is recent behavior but maybe has been there for awhile.

Reproduce:
1. Run local server
2. Open carousel example
3. Navigate the carousel or the slider to jump to the YouTube element
4. Notice that it will never be scheduled for rendering and hence the iframe is never created (You'll only see the thumbnail placeholder).

Tested this with `amp-vine` which seems to have the

[2016-04-14 21:26] jpettitt commented on #2911
To pick an example on somebody else's site if you look at a [Washington Post article](https://www.washingtonpost.com/local/public-safety/case-against-ex-dc-mayor-gray-stalled-over-claims-key-witness-had-credibility-issue/2016/04/14/1f20553e-018f-11e6-9203-7b8670959b88_story.html?hpid=hp_hp-top-table-main_thompson_320pm%3Ahomepage%2Fstory) on a mobile device as you scroll the header bar is replaced

[2016-04-14 21:28] mkhatib commented on #2366
I like this, however this brings the question of how do they navigate while the video is playing? One would have to figure out that they need to pause in order to navigate to the next slide which isn't intuitive. I say we keep the navigation controls even when the video is playing the user can always go to full screen mode if they want to watch the video with no obstruction. We can introduce a lit

[2016-04-14 21:34] ericlindley-g commented on #2366
Agreed that the UX gets tricky if navigation affordances conditioned on video state

/cc @edlea-g for UX thoughts

[2016-04-14 21:50] mkhatib commented on #2912
More debugging shows that `isInViewport` returns `false` when the element is actually in the viewport.

[2016-04-14 21:55] mkhatib commented on #2912
Found the problem. Both `carousel` and `slider` were scheduling layouting __before__ they update that the slide is now in viewport. Changing the order fixes it.

[2016-04-14 22:10] cramforce commented on #2911
CC @dvoytenko @rudygalfi
Thanks!

We want to do something like `amp-sticky` for the straight forward use case like those share bars I believe.

I still think it is useful to add classes based on viewport position. E.g. to fade in a image as it enters viewport, but I'd rather see those class changes as applied to the respective element. Toggling classes on body is pretty expensive and should not ha

[2016-04-14 22:10] cramforce commented on #2911
CC @ericlindley-g

[2016-04-14 22:46] ericlindley-g commented on #2911
Interesting idea—slotting in the backlog to take a look at in more depth when ready.

@jpettitt , could you share links to examples of this behavior?

[2016-04-15 00:44] kushal opened #2916 "Support multiple amp:access blocks?"
Possibly crazy, but the two uses I see are:
1) Single sign-on. Especially as users move from device to device, having to reauthenticate with each publishers is a burden, vs. utilizing a user's existing login to any large social network.
2) Authentication-like data from third parties. This is a little more open-ended, but one can imagine ways in which this helps publishers customize articles withou

[2016-04-15 00:52] jpettitt commented on #2911
@ericlindley-g the washington post link a few comments up does it as does the DailyDot link.

@cramforce adding classes to an element makes sense, although the trigger may not be that element's position becasue it may not even be displayed. We could do something like this which would solve the putting classes on the page issue.

[code]

[2016-04-15 04:31] ericlindley-g commented on #2911
@jpettitt  Thanks (sorry, missed the links on the first read)

[2016-04-15 06:15] erwinmombay opened #2917 "add full version onto window.AMP_CONFIG (with prefix)"
this makes it so we dont have to look at the main binary script file src to get the full version.

Related to https://github.com/ampproject/amphtml/issues/2874

[2016-04-15 11:17] weeblr opened #2920 "amp-analytics chokes on CDATA"
## Short description of your issue:

application/json script allowed inside amp-analytics (and am-social-share) breaks if the script json is wrapped with CDATA
## How do we reproduce the issue?

Add the following to an AMP page:

[code]

The validator accepts the page content, as it should, but the AmpAnalytics code breaks with this error:
`Analytics config could not be parsed. Is it in a valid JS

[2016-04-15 13:09] lordzden commented on #2600
You may also check this resource: [The tag ‘script’ is disallowed except in specific forms](https://asknoypi.com/accelerated-mobile-pages-validator/#script).

[2016-04-15 16:30] cramforce commented on #2920
@Gregable
I think we should make CDATA invalid. Just adds complexity, isn't needed and not in HTML5.

[2016-04-15 17:10] jridgewell commented on #2916
Ping @dvoytenko.

[2016-04-15 19:32] Gregable commented on #2920
Chatted with @cramforce in person. While not valid HTML5, we should still be able to support this in our runtime with a little bit of regex to strip the CDATA tags.

[2016-04-15 23:44] jmadler commented on #1727
Is this still needed?

[2016-04-16 07:37] powdercloud commented on #1727
It looks like nodisplay is indeed the only layout specified for amp-install-serviceworker. See here:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-install-serviceworker/0.1/validator-amp-install-serviceworker.protoascii
So, perhaps it's done?

[2016-04-16 23:06] avimehta commented on #2876
@brusco77: We made a change on March 17th that should have resulted in all the traffic to be reported from http://www.sorrisi.com. If you are seeing substantial data from the cdn url after that date, can you link to a screenshot of what you are seeing?

[2016-04-17 00:21] #2503 closed

[2016-04-17 00:21] avimehta commented on #2503
This is already supported.

[2016-04-17 16:57] cdukes commented on #1298
Hi, any word on when this will be complete?

I'm working on implementing KISSMetrics tracking using amp-analytics, and this feature would really help with pushing custom event data to KM. (For example, when we send a clicked link event to KM, we encode the title of the linked page in a data-title attribute on the <a> tag.)

[2016-04-18 03:12] ericlindley-g commented on #2917
Slotting in backlog for now, but let me know (or feel free to update) if you have a more specific target

[2016-04-18 09:09] erwinmombay commented on #2917
this is completed. (internal change to release process)

[2016-04-18 09:09] #2917 closed

[2016-04-18 10:12] jitendravyas opened #2931 "Font from origin 'https://public.slidesharecdn.com' has been blocked from loading by Cross-Origin Resource Sharing policy"
I'm embedding a SlideShare slide using `amp-iframe` getting this error in console

`Font from origin 'https://public.slidesharecdn.com' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.slideshare.net' is therefore not allowed access.`

HTML Code
[code]

[2016-04-18 14:59] cramforce commented on #2892
The flakes caused by us loading iframes from our own test server are really sad.

I was hoping to at some point have the time to replace those that can with the fixture mechanism that doesn't hit the network. Still really curious why they are so slow.

[2016-04-18 16:12] #2874 closed

[2016-04-18 16:52] cramforce opened #2933 "Incorrect unpausing on back navigation to AMP doc"
It appears that when you

1. E.g. have an ad on a page
2. Click on a link to navigate away
3. Click back

the ad is not shown.

Could it be that we pause on unload? Or is anything else going on.

[2016-04-18 17:45] cramforce opened #2934 "Intent to implement: Support click measurement in AMP"
Today URL shorteners and other redirectors are used to implement cross-platform click tracking between web pages and apps and web pages. This is bad because it adds extra round trips to the page request that are 100% in the critical path. 1-5 seconds per redirect are not uncommon. Standard mechanisms like `sendBeacon` and the `ping` attribute are insufficient because they do not work when crossing

[2016-04-18 19:39] jridgewell commented on #2931
Not sure who to assign to, so @cramforce gets it.

[2016-04-18 21:47] ericlindley-g commented on #2933
Slotting into this current sprint, given the high priority, but please update if that's not right

[2016-04-18 21:48] ericlindley-g commented on #2934
Slotting in the backlog, but please update if there's a more specific timeline for this

[2016-04-18 22:11] jridgewell commented on #2933
I'm unable to produce on a standalone AMP page (local build, with ad unloading). Might be a viewer interaction causing it? @ericfs.

[2016-04-18 22:17] ericfs commented on #2933
I'm also not able to reproduce when using a viewer.

[2016-04-18 22:34] rudygalfi commented on #1298
@cdukes We haven't gotten to this yet. We're working on the element-level trigger support (#1297) first.

[2016-04-18 22:40] avimehta commented on #1298
PRs are obviously welcome. We needed per-event variables to get this done and I sent out a [PR](https://github.com/ampproject/amphtml/pull/2928) for that recently. It should be a straightforward addition to support what this issue is asking for. Unfortunately as @rudygalfi mentioned, #1297 is higher priority for now.

[2016-04-18 23:43] jridgewell commented on #2933
Got a reproduction thanks to Malte. This only affects elements inside the viewport. For some reason, `inViewport` is false for them, even though the `#renderOutsideViewport` code has detected they are in viewport.

[2016-04-19 00:25] cramforce commented on #2931
@jitendravyas I think this is something you will need to bring up with slideshare since that request is being emitted from their embed.

[2016-04-19 00:25] #2931 closed

[2016-04-19 08:14] jitendravyas opened #2939 "How user uploaded images will work with AMP"
In AMP, it's mandatory to add `width` and `height` attribute of the image as HTML attributes, right? Other its validation give error and AMP version of new articles from the site won't be displayed in the search result.

If we specify width and height attributes on the markup, it's not possible to deliver different resolution images to different devices (unless we use srcset). We use https://www.i

[2016-04-19 09:25] karolk commented on #2861
@cramforce this got backlogged, does it mean we are still OK to open a PR and it's going to be looked at? Sorry, I am new to this process, thanks.

[2016-04-19 14:26] cramforce commented on #2861
Not sure what exactly @ericlindley-g wanted to say with Backlog :)

I just missed your reply. I think if there is a server side solution, then it makes more sense to pick that. One of AMP's principles is to solve problems on the right layer of the stack prioritizing user experience over developer experience. This is sometimes painful, but it is the right thing to do in the long term.

I just poste

[2016-04-19 15:06] weeblr commented on #2380
Hi all,
Glad to see the discussion has progressed, through I'm not sure where Cloudflare actually stands right now. Anyway, this is just to mention that similar problem appears with NewRelic, which PHP agent (I assume the same with other agents, just haven't dealt with anything else yet) also insert script tags into the page for some of their features.
There is no current fix available, short of d

[2016-04-19 16:31] alaurelut opened #2940 "AMP Iframe Resizing not working as intended"
According to the AMP project documentation : https://www.ampproject.org/docs/reference/extended/amp-iframe.html,

It is possible to resize the height of an amp-iframe in run time, to do so :

I followed the doc and my amp-iframe used to be resizing just fine in february, the height of the amp-iframe was the same of what was inside of the iframe.

But I noticed recently that it wasn't working prope

[2016-04-19 18:21] erwinmombay commented on #2778
@Meggin just fyi. is there anything we need to do on the docs end?

[2016-04-19 18:41] ericlindley-g commented on #2861
@karolk @cramforce

I may have been overzealous with the backlog the other day :)

Sounds like this is more appropriate for "Pending 3P Implementation", so I've re-slotted it there.

[2016-04-19 19:30] Meggin commented on #2778
We'd for sure need to update validation tables for any components that
support this layout type.

Are validations ready yet?

On Tue, Apr 19, 2016 at 11:21 AM, erwin mombay <notifications@github.com>
wrote:

[2016-04-19 20:11] erwinmombay commented on #2778
@Meggin nope, validation isnt ready yet

[2016-04-19 21:12] #2912 closed

[2016-04-19 21:54] #2742 closed

[2016-04-19 22:19] jridgewell opened #2943 "Strange 3P iframe postMessages"
## Short description of your issue:

I'm seeing some weird postMessages that fail origin checks. Seems to be that we're posing a message to an ad's iframe (Let's call this iframe B) using the iframe A's `origin` (A and B are really the same ad iframe, but A is the from the original request to the page, and B is after back-buttoning).

This is blocking intersection observers, which I think is a hig

[2016-04-19 22:24] jridgewell opened #2944 "Forbid listnenFor after appending an iframe"
Forking from https://github.com/ampproject/amphtml/pull/2942, we should forbid using `listenFor` (aka, `listen` in `iframe-helper.js`) after the iframe has been appended (at least in dev mode). This **will** catch bugs _before_ I spend 2 days in iframe hell debugging things.

[2016-04-19 22:47] #2933 closed

[2016-04-19 23:09] sriramkrish85 commented on #2940
@alaurelut , i debugged your page, and i dont see any postmessage for embed-size arriving from your iframe. This is because the `event.origin` is set as null when the message arrives to the parent.

https://www.w3.org/TR/cors/#generic-cross-origin-request-algorithms

try using `allow-same-origin` on your iframe.

[2016-04-20 03:23] dougalg commented on #2442
@dvoytenko Sorry for the long delay in answering.

For internationalization, we currently provide our own implementation, which will work fine for the commenting tool in the iframe, but I'm not sure how that might work in the context of an AMP component itself. ie: if we implement a button to show/hide commenting, what would the internationalization solution for that button's text look like? I gue

[2016-04-20 09:52] atiqul opened #2948 "Single finger scroll not working in amp-lightbox and amp-image-lightbox"
I am trying to use amp-image-lightbox to show image with its caption when user click on the image from a carousel which is also implemented by amp-carousel. When caption overflowed its container, can't scroll (mousewheel scroll working fine) though it set to 'overflow-y: auto' and '-webkit-overflow-scroll: touch'. Anything if I found from the net is using '-webkit-overflow-scroll: touch'. Is there

[2016-04-20 12:32] jitendravyas commented on #2492
I'm still getting this warning

`<link rel=preload> must have a valid `as` value`

[2016-04-20 12:56] jitendravyas opened #2950 "Failed to execute 'write' on 'Document':"
I'm getting this error on a local AMP page I'm building
`Failed to execute 'write' on 'Document': It isn't possible to write into a document from an asynchronously-loaded external script unless it is explicitly opened.`

![google amp 2016-04-20 18-19-23](https://cloud.githubusercontent.com/assets/77309/14675086/e3cc1b30-0724-11e6-968a-fbbf07c1003f.jpg)

Components I'm using

[code]

[2016-04-20 14:48] cramforce commented on #2492
@jitendravyas This is a bug in Chrome, so we decided to leave it as is.

[2016-04-20 14:51] cramforce commented on #2950
@jitendravyas I suspect this is one of your ads or the components your are using. You could track down the owner of the `antenna2.js` script that your page it loading and ask them to fix it.

[2016-04-20 14:51] #2950 closed

[2016-04-20 20:50] ericlindley-g commented on #2943
Slotting for the current milestone, given the high priority, but please feel free to correct/re-slot if that's not right

[2016-04-20 20:58] #2940 closed

[2016-04-20 21:02] congyun opened #2952 "AMP tag doesn't render correctly in a sandbox-ed iframe"
AMP tag doesn't render in a sandbox-ed iframe.

## Description

For security issue, we need put amp tagged snippet into a sandbox-ed iframe. We've included the amp runtime js: "https://cdn.ampproject.org/v0.js" as a script into the iframe content, yet the amp tags, for example, amp-img cannot render in the sandbox-ed iframe except we put "allow-same-origin" into the sandbox attribute.

## How do w

[2016-04-20 21:49] mkhatib commented on #2828
@dvoytenko does this mean we leave the nested non-placeholder elements to be scheduled by the carousel (or the owner) of the element? So we expect the carousel to look into the element and see if there are more elements inside of it that it needs to schedule?

[2016-04-20 23:23] ericlindley-g commented on #2836
@jridgewell , is this work that you'll be doing off of PR #2835? I've slotted it in the backlog, but is it urgent?

[2016-04-20 23:25] jridgewell commented on #2836
I [started](https://github.com/ampproject/amphtml/pull/2925) this because it was the top of the backlog and I had free time. 😃

[2016-04-20 23:29] ericlindley-g commented on #2948
@sriramkrish85 — since you're looking into other lightbox fixes/enhancements, do you have thoughts about where we can target this bug? (temporarily putting in "pending sprint slotting")

[2016-04-20 23:41] sriramkrish85 commented on #2948
If i understand this right , @atiqul wants an overflow mechanism for the lightbox text (and this probably has nothing to do with the carousel)

@ericlindley-g this is probably a design decision - we can discuss if this needs changes or not.

@atiqul please provide a link with your mock implementation (even a js bin would do), this would help me follow the issue better.

[2016-04-21 00:29] ericlindley-g commented on #2746
@dvoytenko — do you know if putting Disqus in an iframe would work? My understanding is that complexities around login for Disqus make it currently unsupported.

[2016-04-21 05:46] atiqul commented on #2948
[mock implementation with jsbin](http://jsbin.com/mitobo/edit?html,output)
@sriramkrish85 here you can find the details scenario which I have mentioned in the issue. Open [output](http://output.jsbin.com/mitobo) in mobile view and try to scroll the caption it will not scrolling but mousewheel scroll is working. If you test it with the real device (rather than chrome emulator) you will find scroll

[2016-04-21 08:08] alaurelut commented on #2940
Hi @sriramkrish85, thanks for your time.

I added `allow-same-origin` to the sandbox attribute on my iframe, and checked the event.origin which return `"https://d2.ligatus.com"` and not null on my side, but it is still not working.

I logged the message event on my test page, and i can see `embed-size` in the object datas.

Any ideas what else it could be ?

[2016-04-21 10:25] AltervistaTechStaff opened #2958 "Support for AdSense host parameter (host API) in <amp-ad>"
Hi, we have direct support from Google AdSense, due to our partnership program.

Currently, we have about 40,000 AdSense accounts in our hosting platform associated to our host publisher id.

To start supporting AMP pages, we need to have something like this working:

    <amp-ad width="320" height="200"
        type="adsense"
        data-ad-client="ca-pub-XXXXXXX"
        data-ad-slot="XXXXXXX">

[2016-04-21 12:11] brusco77 opened #2959 "Use own cache instead of google cache"
Hi, in some introductory AMP pages, it's said that one can use his own cache instead of google cache.

Howeverm I cant find that throughout documentation: how can I disable google cache on my pages?

thank you

[2016-04-21 13:07] michaelkleber commented on #2870
No, the set of publisher controls supported by AdSense in the AMP runtime is very limited, and the data-ad-region / google_ad_region setting will have no effect.  All configuration of your ad slots should happen in the AdSense Frontend, not in the HTML.

[2016-04-21 13:56] cramforce opened #2960 "Switch to polling free font loading polyfill"
For `amp-font`.

See http://smnh.me/web-font-loading-detection-without-timers/ for the technique. It relies on the content change from the font having loaded causing a scroll event.

[2016-04-21 15:31] congyun commented on #2952
FYI this is needed in a Google product, DoubleClick for Publisher. This is part of AMP for Ads effort and would be great if we can resolve asap as we are targeting a Q2 launch.

[2016-04-21 15:31] coreybyrnes commented on #2736
Thanks. Please let me know when it's ready! If you need any help testing, I'd be happy to assist.

[2016-04-21 16:18] rudygalfi commented on #2952
I tried to reproduce and saw:

<img width="319" alt="screen shot 2016-04-21 at 9 12 04 am" src="https://cloud.githubusercontent.com/assets/3888212/14716295/3b481608-07a1-11e6-9363-a0cea64f0f2f.png">

It looks to me like the amp-img is loading. Am I missing the issue?

[2016-04-21 16:40] rudygalfi commented on #1297
@avimehta https://github.com/ampproject/amphtml/pull/1608#issuecomment-212958366 inspired me to ask if you will be able to track viewability on non-(amp-*) sub-elements of amp- elements. For example:

[code]

Can you track the `div` in the example above?

[2016-04-21 18:00] congyun commented on #2952
Thanks Rudy for the quick reply! Can I know your browser? I'm trying it on a latest Chrome but it doesn't work...neither on my Mac or workstation.

![unset 2](https://cloud.githubusercontent.com/assets/490849/14719218/09aadd42-07c9-11e6-9d68-2fb61d9b2a13.png)

![screen shot 2016-04-21 at 2 00 11 pm](https://cloud.githubusercontent.com/assets/490849/14719291/6d21b878-07c9-11e6-8a8c-ae6ef5f5627c.png

[2016-04-21 18:02] erwinmombay commented on #2952
@congyun did you try adding "allow-same-origin" ? you usually need that for the origin to be passed during postMessage operations to the receiving frame when an iframe is sandboxed

[2016-04-21 18:11] avimehta commented on #1297
I think it will be trivial to do that but I am not going to do it in the beginning. The calculations we are doing are costly enough that doing it for a subset of elements might affect performance. If we allow all elements to be tracked like this, we will be opening the floodgates. (also, doing these calculations for non-amp elements is costlier than for amp elements.)

[2016-04-21 18:27] rudygalfi commented on #2952
@congyun I tried this on Chrome 50.0.2661.75 desktop on Mac.

[2016-04-21 18:36] congyun commented on #2952
@erwinmombay Hi Erwin, it works for adding "allow-same-origin", yet for security concerns we are not supposed to put "allow-same-origin" in our sandboxed iframe per discussion with security review team, as the content in iframe is based on user input. So we are asking if AMP tag can be rendered in sandbox-ed iframe without "allow-same-origin".

[2016-04-21 19:20] congyun commented on #2952
@rudygalfi Thanks Rudy, I've tried again and asked my teammates to try it on, and we found that it works only after clearing browser data, or using an ignition window. My browser versions are: 50.0.2661.75 beta (64-bit) and 50.0.2661.86(64-bit). Is this expected? Could there be some cache issues with the runtime js?

Telling from the first error message in developer console, I'm not sure if amp-ta

[2016-04-21 19:22] rudygalfi commented on #2952
I'm also on the AMP dev channel: https://cdn.ampproject.org/experiments.html

Can you try that too?

[2016-04-21 19:35] congyun commented on #2952
@rudygalfi Thank you! AMP dev channel works for me as well. Looks like it will always work after clearing browser data. I'm trying to see if it can work on our site.

[2016-04-21 19:48] cramforce commented on #2952
If the cookie stuff is the only problem, we should just wrap out cookie read/write operation in try-catch. Super simple change.

[2016-04-21 20:01] jridgewell commented on #2958
Kinda related to https://github.com/ampproject/amphtml/issues/2870.

[2016-04-21 20:09] kbnaik opened #2962 "Unavailable resource linked in Ad Network Integration guide"
a9.js link here: https://github.com/ampproject/amphtml/blob/master/ads/integration-guide.md is pointing to an unavailable resource. Throwing 404.

## How do we reproduce the issue?

Go to the link and click on the hyperlink a9.js (see screenshot attached)
![a9_missin_resource](https://cloud.githubusercontent.com/assets/11433063/14722572/f733beb6-07c0-11e6-84c7-32437ddc10a1.png)

Repro steps:

1. h

[2016-04-21 20:27] dvoytenko commented on #2916
@kushal We will definitely be looking into ways to extend AMP to a simpler social sign-in protocols. We are closely following Web Credentials API that is currently in active development.

However, a publisher is already allowed to use a 3rd party source for access implementation - all endpoints allow an arbitrary destination as long as it's HTTPS and CORS-enabled endpoints.

[2016-04-21 20:36] rudygalfi commented on #2959
There's some information on this at https://www.ampproject.org/docs/support/faqs.html:

So, by using AMP the content is able to be cached by anyone, including Google, so there's no ability to "disable" caching from Google.

[2016-04-21 20:36] #2959 closed

[2016-04-21 20:38] rudygalfi commented on #2959
Also, note that the original publisher continues to serve the content, so if you use a caching solution in the path of serving the original file, you can continue to do that, independent of caching by Google or anyone else.

[2016-04-21 20:39] kushal commented on #2916
@dvoytenko I'm actually not familiar with that API, where can I learn more? And the ability to use a third-party source is great - my question is about using *both* a third-party source and a first-party source, or multiple third-party sources, fusing identity from various sources.

[2016-04-21 20:55] dvoytenko commented on #2939
@jitendravyas Width and height are not always required and when they do, they do not necessarily mean exact width/height, but could be relative. This depends on the value of the `layout` attribute as documented in the [amp-html-layout.md](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md), but in short here's what you can do:

1. You can use `layout=responsive` + `width` +

[2016-04-21 21:07] dvoytenko commented on #2916
@kushal Here's the latest version I see. But it's still a bit early - looks like a very actively developed spec. http://w3c.github.io/webappsec-credential-management/

[2016-04-21 21:24] ericlindley-g commented on #2962
@jridgewell , looks like you're working on this now, so slotted in the current sprint and assigned to you, but feel free to update or let me know if any of that is off.

[2016-04-21 21:25] ericlindley-g commented on #2960
Putting in backlog, but feel free to update the issue or let me know if you have a more concrete milestone in mind

[2016-04-21 21:34] #2943 closed

[2016-04-21 21:46] #2944 closed

[2016-04-21 21:46] #2962 closed

[2016-04-22 00:35] dandv opened #2966 "Misleading "The tag 'script' is disallowed except in specific forms." error for JSON+LD script element"
If the JSON+LD `<script>` element is placed in the `<body>` vs. `<head>`, the resulting error is:

"The tag 'script' is disallowed except in specific forms."

This has confused a partner today. Here's a small sample reproducing the error:

[code]

[2016-04-22 00:39] erwinmombay commented on #2966
assigning to @powdercloud for review. feel free to reassign

[2016-04-22 05:19] powdercloud commented on #2966
@Gregable @honeybadgerdontcare - I think we could improve this by having a specUrl for this type of error (GENERAL_DISALLOWED_TAG) - we currently don't. This could point to documentation listing the specific forms. There's https://www.ampproject.org/docs/reference/spec.html#html-tags for instance which would be an improvement over nothing, especially if we clarified which ones need to appear in th

[2016-04-22 15:44] alaurelut commented on #2940
Hi,
Just to let you know, i figured out what was breaking the interception of the postMessage from the iframe by the parent page.

My amp-iframe src had a hostname different from the one returned from the server ( for some reason ..).

So I had :
[code]

But the server did a redirection to a different subdomain named `d2.ligatus.com`.

This broke the condition of the amp-iframe.js `if (event.sourc

[2016-04-22 16:02] dvoytenko opened #2967 "Access: consider eliding option for restricted sections"
Instead of completely hiding sections marked up with `amp-access-hide`, add an eliding mode that would blur them out and make them unreadable via `amp-access-hide="elide"` markup. See the attached image as an example:

<img width="217" height="345" style="border: 1px solid gray;" alt="screen shot 2016-04-22 at 8 59 52 am" src="https://cloud.githubusercontent.com/assets/726049/14747384/b8b24c0e-086

[2016-04-22 16:51] Gregable commented on #2966
I think the easy solution in this specific case might be to relax the requirement that the schema.org json blob must be in the `<head>`. The [structured data testing tool](https://developers.google.com/structured-data/testing-tool/) doesn't seem to think that placing this in the `<body>` is a problem, so we should probably allow it too.

In general, generating the correct error message for these i

[2016-04-22 17:28] dvoytenko opened #2968 "Intent to implement: Server-side access protocol"
The details TBD

[2016-04-22 18:27] dvoytenko opened #2970 "Access: consider adding an iframe option to mediate authorization endpoint"
In this option, the internal iframe will be created and AMP Access will delegate authorization and pingback to this iframe via window messaging. The iframe itself can use local storage or XHR as needed.

[2016-04-22 18:56] #2386 closed

[2016-04-22 21:08] congyun commented on #2952
Thanks Malte and all!

I tried inside our product and it works fine after clearing browser data as well. I'd consider this to be a corner case that doesn't block us. Would love to see that if there is change Malte mentioned above that can be applied to AMP, and prevent this issue comes again.

[2016-04-22 22:10] src-code commented on #2585
@dvoytenko:

Hiding the element by default seems like a good start, but if developers could also style against a class or attribute, that'd be nice too.  Perhaps the default for `-amp-error` could be `display:none`, but also add another class that developers can style against?  This is relevant to more than just amp-img, also - eg, if an amp-iframe 404's, it'd be nice to be able to hide it.

[2016-04-22 22:15] erwinmombay commented on #2585
we could possibly add `amp-error`(no dash meaning public) to be styled

[2016-04-22 22:21] dandv commented on #2691
For the record, forms support is tracked at #1286.

[2016-04-22 22:33] ssaunier commented on #2931
@jitendravyas Did you contact Slideshare? I get the same error on one of my embed.

[2016-04-22 22:35] cramforce commented on #1542
Lets bring this back. #2973 for why this is important.

Ideally we identify files that must only be on core and automatically fail if an extension depends on them. Simpler, but also important is that we fail if an extension depends on another extension.

[2016-04-22 22:49] erwinmombay commented on #1542
@cramforce got it, complete forgot about the task. should we have a whitelist of allowed modules/files to be imported (like the facade's around the services)?

[2016-04-22 23:09] cramforce commented on #1542
Ideally we make get a module graph out of browserify (or whatever) and can run queries on it. Basically say: "The graph must not have a path from this file to this file"

[2016-04-22 23:46] dvoytenko commented on #2585
The reason we didn't want to hide it by default was because of the same scrolling issues that often plague when images are loaded. The same problem will be with a class. And aria attributes are, of course, also expose us to the same problem. We can do our own hiding via our resizing system that's more respectful of scrolling.

[2016-04-22 23:48] ithinkihaveacat opened #2975 "Support <link rel=manifest>"
`<link rel=manifest>` is [not valid AMP](https://cdn.ampproject.org/c/s/cdn.rawgit.com/anonymous/8f444d34156456bb91a5cad4663833ab/raw/dd91fc915dcc1e5b5123dfb40b7a17b24a515c3c/index.html). (See [validator-main.protoascii#L143](https://github.com/ampproject/amphtml/blob/d47bf25e011249083962798e8900ec080929b014/validator/validator-main.protoascii#L143).)

This is a problem because the manifest is use

[2016-04-23 00:04] Gregable commented on #2975
@cramforce who may know more. This was an explicit decision. I'm not that we are ready for AMP pages to be web apps so far, and manifests trigger network traffic and client processing which could have an affect on performance.

[2016-04-23 00:12] cramforce commented on #2975
@Gregable We basically tabled it. Because this is an important modern element with usages beyond apps, I think it would be better to allow it, but teach the AMP Cache to eliminate it from the document.

[2016-04-23 03:18] jpettitt opened #2977 "Runtime intermittently fails to create fixed layer leading to jittery scroll on iPhone"
I've been seeing intermittent jitter scrolling with a fixed layer on safari/iPhone.

Hooking the phone up to my Mac and debugging I see that on the pages where we see jitter the AMP runtime has failed to move the fixed layer outside the `<body>` tag.  When it does manage to move the layer it scrolls jitter free.

Steps to reproduce:

Load this url on an iPhone and try scrolling.  If Keep reloading

[2016-04-23 20:07] ithinkihaveacat commented on #2975
Removing `<link rel=manifest>` when served from the AMP Cache would work for my use case, and probably most (?) use cases.

If there's going to be a difference in on-CDN versus off-CDN behavior, I wonder if it's worth having a standard system to express/indicate this. (`<amp-install-serviceworker>` also has different behaviour--are there any other examples?)

[2016-04-23 21:42] gkteck opened #2978 "Option to add javascript to an AMP page"
Hi,

We are finding difficult to convert existing pages with javascript to amp page.

What is are the available option to add javascript to an AMP page ?

Please provide any available sample code for this.

[2016-04-23 22:22] devnullzero opened #2979 "AMP experiments page: Not working when using the BlackBerry 10 browser"
## Short description of your issue:

The "AMP experiments page" (https://cdn.ampproject.org/experiments.html) doesn't display the  "extensions table" when using the BlackBerry 10 browser.

Javascript error:
ReferenceError: Can't find variable: Promise     experiments.js:4
## How do we reproduce the issue?

Go to https://cdn.ampproject.org/experiments.html using the default web Browser
## What brow

[2016-04-24 00:45] devnullzero opened #2980 "amp-accordion: auto-collapse sections that are not ancestors of a section"
In a menu, the possibility to automatically close 'section's that are not "needed" when using nested amp-accordeons is required. The two main reasons:
1. When jumping from a section of a menu to an other, the user is usually only interested by the descendants, not the whole menu tree.
2. The practical reason is to prevent a menu to expand in length and requiring scrolling on mobile devices.

In su

[2016-04-24 03:01] hkmaly commented on #2822
Ok. Now the login-done window closes, but the main window still doesn't refresh.

Is there some way to test the polyfill with some debug on or something in palemoon?

[2016-04-24 16:43] cramforce commented on #2975
In general we try to absolutely minimize these differences. This seems to be a case where it makes sense, or could you come up with a manifest usage that would be nice on the Cache?

`amp-install-serviceworker` at least tries to support both cases and do the same side effect for both scenarios.

[2016-04-24 19:56] jmadler commented on #1727
Agreed

[2016-04-24 19:56] #1727 closed

[2016-04-24 20:20] #981 closed

[2016-04-24 20:28] jmadler opened #2983 "Enable cross-origin Service Worker installation for hosts other than AMP Cache"
amp-install-serviceworker can install cross-origin serviceworkers only in the context of the AMP Cache.

That means that, for example, ampbyexample.com can't install a SW for fortunate.io as an illustrative example.  I'm unsure if any other valid (or invalid) use cases exist.

Does it make sense to remove the restriction and enable enable cross-origin SW installation for hosts other than the AMP C

[2016-04-24 20:47] adewale commented on #2983
Does this mean that: https://cdn.ampproject.org/c/s/ampbyexample.com/introduction/hello_world/ can install a remote service worker but: https://ampbyexample.com/introduction/hello_world/ can't?

[2016-04-24 20:48] jmadler commented on #2983
Yes

[2016-04-24 20:51] adewale commented on #2978
In future please ask questions on Stack Overflow: http://stackoverflow.com/tags/amp-html

This: https://ampbyexample.com/advanced/how_to_create_interactive_amp_pages/ is an example that shows how to factor out Javascript-reliant functionality into separate iframes.

[2016-04-24 20:54] adewale commented on #2876
@brusco77 in future you should ask these kinds of questions on Stack Overflow: http://stackoverflow.com/questions/tagged/amp-html

[2016-04-24 23:01] jmadler opened #2984 "Add poster support for amp-audio"

[2016-04-25 04:32] cramforce commented on #2983
I'm not aware of a use case. The feature exists, so documents can install service workers for themselves.

[2016-04-25 04:32] #2983 closed

[2016-04-25 06:51] ithinkihaveacat commented on #2975
@mounirlamouri @PaulKinlan Are there any circumstances (or do you foresee any circumstances) in which it would be very useful to have a manifest associated with individual documents in the AMP Cache?

Are there any security/privacy/performance issues with doing this? Note that in the cache, pages from different publishers share the same origin:

* https://cdn.ampproject.org/c/www.bbc.co.uk/news/am

[2016-04-25 08:12] jitendravyas opened #2987 "How to horizontally aligned responsive amp-component?"
I'm using https://github.com/ampproject/amphtml/blob/master/extensions/amp-twitter/amp-twitter.md

And facing difficulties to make in center aligned. Can anyone help?

[code]

If I use `layout="responsive" ` it doesn't add `width` to output and also doesn't stretch the tweet to full width. If I remove `layout="responsive" ` and give `width`, lets say `400px` then it will give horizontal scrollbar

[2016-04-25 08:35] erwinmombay opened #2988 "Integrate dep-check task with build task"
right now these are two browserify passes, investigate if we can just run dep-check inside of the build task so that its just one pass.

[2016-04-25 14:32] mounirlamouri commented on #2975
I don't have enough background about AMP to answer this. Hopefully @PaulKinlan can help :)

[2016-04-25 14:50] ithinkihaveacat commented on #800
Regarding the name, `<amp-install-serviceworker>` actually does install a service worker; this doesn't install the app.

Is "installing" or linking to a PWA in scope here? If so, I think the UX deserves some consideration, because there's quite a few different things the user and the publisher might expect or want to happen, and it's not clear how to at least *indicate* to the user what's going to

[2016-04-25 15:05] adewale commented on #800
You are right. `amp-app-banner` is a clearer name.

There are currently no hooks for triggering installation of a PWA via an app-banner and the general consensus seems to be that the heuristic-based triggering of A2H is a 'good thing.' However #981 is a better solution for the PWA use case since it offers many of the same benefits, avoids the complexity of balancing user+publisher requirements and

[2016-04-25 15:07] cramforce commented on #2988
+1 would speed up the time a lot.

[2016-04-25 15:21] erwinmombay commented on #2977
/cc @dvoytenko

[2016-04-25 16:43] ithinkihaveacat commented on #800
A2HS currently does not trigger on any AMP page, either on or off cache (due to #2975), so that won't help users "upgrade" to a PWA. And I think there should be some way to help users get there aside from publishers manually linking to it from their AMP pages (even if `<amp-app-banner>` isn't it).

[2016-04-25 17:49] kushal opened #2992 "Give amp:access a little time to return before rendering"
If a page has content that uses amp:access to show or hide elements, would it be worth considering a couple hundred milliseconds of waiting for the amp:access RPC tor return in order to avoid flicker?

Per the discussion on this SO topic http://stackoverflow.com/questions/36636357/are-there-strategies-for-reducing-flicker-when-using-ampaccess/36798626#36798626

[2016-04-25 18:02] kushal commented on #2916
Thanks! My quick read also makes it look like federated login is still a ways out.

A related issue is how not all surfaces have access to cookies and the reader ID is scope to the source origin, meaning that even if a third party was providing authentication it could not be reliably carried across sources without the user reauthenticating to the third party each time. I understand the privacy and

[2016-04-25 20:15] querymetrics commented on #1612
Now that `Storage` is implemented, can we continue this discussion?

SOASTA is also interested in having "Session Ids" support in AMP. We would also like to have a way to track "Session Length" (A count of page views on the same domain). This would require the ability to store ints and a way to increment the value.

I understand that there are security concerns around storing arbitrary key/values

[2016-04-25 20:29] zhouyx opened #2996 "Add layout `flex-item` to validator"
https://github.com/ampproject/amphtml/pull/2856
cc: @Gregable @powdercloud
need help adding to validator

[2016-04-25 20:39] #2683 closed

[2016-04-25 20:43] erwinmombay opened #2998 "Fix local flakey amp-accordion tests"
## Short description of your issue:

amp-accordion tests fail locally.

## How do we reproduce the issue?

1. execute `gulp test` on the command line

<img width="1436" alt="screen shot 2016-04-25 at 1 42 53 pm" src="https://cloud.githubusercontent.com/assets/354746/14798274/a429217e-0aeb-11e6-89e9-c790094221cd.png">

[2016-04-25 20:44] erwinmombay opened #2999 "Fix local FontLoader test"
1. run `gulp test`
2. profit

<img width="1177" alt="screen shot 2016-04-25 at 1 43 54 pm" src="https://cloud.githubusercontent.com/assets/354746/14798296/c8dc8c90-0aeb-11e6-8b32-f67f2728f2aa.png">

[2016-04-25 20:45] erwinmombay opened #3000 "Fix amp-facebook local test"
<img width="1360" alt="screen shot 2016-04-25 at 1 44 56 pm" src="https://cloud.githubusercontent.com/assets/354746/14798319/eba5b5b2-0aeb-11e6-9224-9c7e5c709ea0.png">

[2016-04-25 20:46] erwinmombay opened #3001 "fix local ad test that is failing"
<img width="876" alt="screen shot 2016-04-25 at 1 45 37 pm" src="https://cloud.githubusercontent.com/assets/354746/14798343/0a8a3ab6-0aec-11e6-9144-a931ff3b4dfc.png">

[2016-04-25 20:52] TranslationsCloud commented on #1694
Hello,

I am having the same problem. With #development=1 I have a successfull validation.. but Google Webmaster tools says:
**Prohibited attribute**

- Prohibited attributes:	"
- Prohibited attributes:	alt

This is really strange :(

[2016-04-25 21:32] dvoytenko commented on #2970
There are rough tests for local storage use in http://jsbin.com/budove/edit?html,output and https://plnkr.co/edit/oSunQToCR3r89w7b6hGa?p=preview

According to this tests there are two important considerations for the use of local storage in Safari:

1. The local storage is de-factor disabled in Private Mode. The `localStorage.set` always fails with `QuotaExceededError`.
2. The storage namespace is

[2016-04-25 21:57] Gregable commented on #2670
This is live everywhere.

[2016-04-25 21:58] Gregable commented on #2731
This is live everywhere.

[2016-04-25 21:58] dvoytenko commented on #2987
@jitendravyas How are you trying to center-align it now? The current definition uses responsive layout which will resize the twitter embed to fill all of the available width. If this is not what you want - you can provide more styling via CSS or `sizes` attribute. The centering itself is probably best done using a flexbox CSS.

[2016-04-25 22:01] dvoytenko commented on #2980
/cc @sriramkrish85 @ericlindley-g

[2016-04-25 22:02] dvoytenko commented on #2979
/cc @erwinmombay When did we fix Promise polyfill on experiments.html page? Is it already on PROD?

[2016-04-25 22:11] dvoytenko commented on #2822
Yes, with `#log=2` in the main page's URL you will get all of the logs, including internal framework logs.

[2016-04-25 22:15] dvoytenko commented on #2916
"Reader ID" essentially follows cookie scope: where-ever cookie is available so will be the reader id. But, of course, we don't extend it across browsing boundaries and surfaces. The federated login is expected to help there. We are currently working on the plans to enable it and they are not too far away.

[2016-04-25 22:16] powdercloud commented on #1694
@TranslationsCloud Usually this points at some problem with the html syntax. The webmaster tools use a different html parser, so for some edge cases (like, really invalid html syntax) it behaves differently. This has gotten quite rare and we're working on it, so it would be useful to see your example if you can share it.
If not, you could look for " and alt in your document and look whether anythi

[2016-04-25 22:20] dvoytenko commented on #1612
@cramforce a restricted version of Storage is indeed available. Is it applicable here though?

[2016-04-25 22:35] dvoytenko commented on #2977
@jpettitt thanks for the report! looking...

[2016-04-25 22:43] ericlindley-g commented on #2980
Agreed that this would be useful as an option—some complications (after sync'ing w/ @sriramkrish85) include:

• Currently there is no animation for the expand/collapse action. This means that it may be difficult for the user to track the behavior of the interface if multiple items are collapsing at the same time that their target element is expanding.
• There is no scrolling adjustment when amp-ac

[2016-04-25 23:10] ericlindley-g commented on #2992
/cc @ashwinlimaye, @dvoytenko

[2016-04-25 23:13] cramforce commented on #1612
We primarily want to avoid too much storage per domain and would like to keep entropy low. For ints how big would they need to be?

[2016-04-25 23:19] ericlindley-g commented on #2939
Closing as answered, but feel free to re-open with bugs or feature requests (General questions can be directed to [stack overflow](http://stackoverflow.com/questions/tagged/amp-html))

[2016-04-25 23:19] #2939 closed

[2016-04-25 23:20] ericlindley-g commented on #2978
Closing as answered

[2016-04-25 23:20] #2978 closed

[2016-04-25 23:54] slightlyoff commented on #2975
What's the concern with supporting `<link rel=manifest>` from the AMP Cache? As these documents won't have a serviceworker (or will they?), they won't trigger an add-to-homescreen prompt. If you ran the same document from the source origin, you might get the prompt as the SW would install correctly.

Is the concern that the manifest link + an AMP Cache Service Worker might cause the prompt?

[2016-04-26 01:23] cramforce commented on #2975
The question now is: Would `<link rel=manifest>` ever do anything useful on the AMP cache or can we just filter it out?

[2016-04-26 01:24] cramforce commented on #2975
As in: It is clearly useful on the origin and so it should be allowed. I don't think it is enough of a noop to be allowable on the Cache, though. But for that I can be convinced otherwise.

[2016-04-26 04:25] jitendravyas commented on #2987
@dvoytenko That's the problem responsive layout doesn't resize the twitter embed to fill all of the available width. You can test it here https://ampbyexample.com/components/amp-twitter/

[2016-04-26 13:38] karolk commented on #2861
@cramforce Hi, to clarify further. I think in theory it is possible to implement a service that doesn't require an additional redirect between the amp page and the merchant page, but at the moment we don't have this functionality. Is there something in amp, (like prefetching?) that would allow us to carry on with the redirect? Re: #2934 I think this is a great solution, but what how do we check be

[2016-04-26 15:11] cramforce commented on #2861
@karolk How about using the HTML ping attribute as in `<a href="…" ping="…">`? I think it would be pretty easy to build a polyfill for that that works in all browsers.

[2016-04-26 15:46] ericlindley-g commented on #2975
Still tbd if this is the right approach, but I believe `<link rel=manifest>` would also be necessary to trigger the native Android app-install button in Chrome, as well

[2016-04-26 15:54] dvoytenko commented on #2977
This is a bug - due to the fact that `visibility` CSS is inherited. Being fixed in https://github.com/ampproject/amphtml/pull/3008

[2016-04-26 17:47] bobcassels opened #3011 "Want to read and set Google Analytics cookies"
For Google AdSense and Doubleclick ads, we would like to read and set Google Analytics cookies. There is no personal information stored in this cookie. For further information, see the [discussion of cookie details](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage).

(I can do the work -- just need privacy review.)

[2016-04-26 17:53] dvoytenko commented on #2970
Safari issue: https://bugs.webkit.org/show_bug.cgi?id=157010

[2016-04-26 18:29] dvoytenko commented on #2987
I see. The `amp-twitter` element itself is sized to available space, but the Twitter implementation is not using all of this space.

@cramforce what do you think if we added `display: flex; justify-content: center` to the `<div id="tweet">` in `3p/twitter.js`?

[2016-04-26 18:55] cramforce commented on #2987
@dvoytenko Is this special to Twitter? Fine by me if it works.

[2016-04-26 19:39] bobcassels commented on #2958
That's a good idea. I will implement it.

[2016-04-26 20:14] querymetrics commented on #1612
@cramforce, for session length, an 8bit (or 3 digits in JSON) would be sufficient.

The Session Ids we use on standard pages are a UUID style string. If we were limited to storing small ints in AMP, we could use the `${ClientId}` and append a small session int to it to create a unique session id.

[2016-04-26 20:38] cramforce opened #3012 "Make getMode().localDev compile away for production builds"
We can likely just replace it with a thing that is easier to manipulate like exporting 'isLocalDev' as a variable from the `mode` module.

CC @erwinmombay

[2016-04-26 20:40] #2876 closed

[2016-04-26 20:51] cramforce commented on #1612
There is also `PAGE_VIEW_ID` if all you want is group requests from the same page view.

[2016-04-26 21:34] dvoytenko commented on #2987
In the current implementation - yes.

[2016-04-26 21:34] erwinmombay commented on #3012
if we strip away localDev with `false` would closure compiled eliminate the dead branches/blocks

like:

[code]

into:

[code]

[2016-04-26 21:43] jridgewell commented on #2992
@cramforce Should this be high priority? Flashing is anti-AMP.

[2016-04-26 21:52] mkhatib opened #3014 "[Validator] Allow all layouts in amp-social-share"
With #2946 getting close to being ready. We'd like to update the validator for `amp-social-share` element to allow all layouts and not just `fixed`.

[2016-04-26 22:07] cramforce commented on #3011
@bobcassels Could you be a bit more specific?

AMP already passes the CID that Google Analytics uses in AMP into the ad for doubleclick and adsense and it is being read here: https://github.com/ampproject/amphtml/blob/master/ads/google/doubleclick.js#L61 (and somewhere equivalent in adsense). This is not what you mean, right?

[2016-04-26 22:09] erwinmombay commented on #3012
checked, it does kill unreachable code.

[2016-04-26 22:09] cramforce commented on #3012
Yes. It also does this for constant (only assigned once) variables where it can be seen at compile time that their value is false.

[2016-04-26 22:31] mkhatib commented on #3014
One more change would be to allow `amp-social-share` inside `amp-sidebar`.

[2016-04-26 22:54] erwinmombay commented on #3012
so we could do the exporting of `isLocalDev` on the mode module or i could also just turn the `const isLocalDev = expression` into `const isLocalDev = false` inside the `getMode_` function.

the minor issue right now with exporting it at the mode object is the aliasing of the mode object like in error.js (see below) and `localDev` isnt unique enough to of a label i think (it probably is in practic

[2016-04-26 22:58] erwinmombay commented on #3012
better:

[code]

[code]

***

also doable:

[code]

[2016-04-26 23:04] cramforce commented on #3012
It would need to be

`export const isLocalDev = COMPILER_CONSTANT && previous logic`.

We already have a `--fortesting`. I think `gulp dist` should just compile AMP in a way that `COMPILER_CONSTANT` is always `false`.

Hostly, it might be cool if we throw out the current guessing and just let this evaluate to be constant true, unless `gulp dist` ran.

[2016-04-26 23:26] erwinmombay commented on #3012
yeah that would be cool, thought it would be possible through the process.env.NODE_ENV value but we inject that through the wrapper.  would it be possible to inject that at the compiler level? this would also get rid of some `getMode().minified` code

[2016-04-26 23:28] cramforce commented on #3012
Same deal, but no real reason to use `process.env.NODE_ENV`. We can use a better named variable.

[2016-04-26 23:30] erwinmombay commented on #3012
yeah but that would be more in line with non closure compiler code (babel/node etc)

[2016-04-26 23:31] cramforce commented on #3012
Hmm, I don't feel strongly, but it does seem pretty awkward to use an environment variable.

[2016-04-27 02:15] hkmaly commented on #2822
No I don't. I mean, URL https://www.einpresswire.com/amp/article/320277073/canatu-and-kaga-electronics-sign-distribution-agreement-in-japan#log=2 didn't produced any other log messages than the "Powered by AMP ⚡ HTML – Version 1460655576651" one. Or do you mean something else as "main page's URL"?

[2016-04-27 11:26] nekodo opened #3019 "Intent to implement: postMessage API for 3rd party iframes"
# Background and motivation

Currently AMP provides context API to documents within a 3rd party iframes (including amp-ad). This API provides certain metadata (URL, referrer), as well as IntersectionObserver emulation and ability to request resizing of their AMP elements.

However, the issue is that this API is only accessible within that specific window, e.g. a nested x-domain iframe has no way t

[2016-04-27 14:42] Tonsil opened #3020 "Intent to implement: Support for Lotame Analytics"
Implement ability to collect and send analytics data to Lotame Solutions, Inc.

[2016-04-27 14:44] Tonsil commented on #3020
This should have the Labels "INTENT TO IMPLEMENT",  "Related to: Analytics",  "Type: Feature",  "3P"

[2016-04-27 15:02] querymetrics opened #3022 "Intent to implement: Collect resource timing metrics in amp-analytics"
SOASTA mPulse on standard web pages collects resource timing for use in RUM analytics.
There are 2 sets of metrics collected client side by mPulse,
first is a set of basic statistics about the page, notably:
- # of resources referenced by the page
- # of different domains referenced by the page
- # of DOM nodes on the page
- byte size of rendered page
- # of image nodes on the page
- # of image no

[2016-04-27 15:54] kul3r4 opened #3024 "amp-springboard-player autoplay is default"
## How do we reproduce the issue?
I tried the amp-springboard-player in this example https://github.com/ampproject/amp-by-example/pull/98 and I noticed that it automatically autoplay. I can't find a way to keep it stopped at default.

## What browsers are affected?
I tried on Chrome

## Which AMP version is affected?
I am using version 1460655576651

[2016-04-27 16:04] kul3r4 opened #3025 "amp-kaltura-player validator"
I am working on an example which includes amp-kaltura-player https://github.com/ampproject/amp-by-example/pull/98, but I have validator failures when using it: https://travis-ci.org/ampproject/amp-by-example/builds/126139305

## What browsers are affected?

I tried on Chrome

## Which AMP version is affected?

1460655576651

[2016-04-27 16:21] sebaperez opened #3026 "Intent to implement: `amp-ad` type: 'epl-display'"
Hi all,

I'd like to request the addition of the epl-display type for the amp-ad component.
I think that I've read all documentation there is to read on this topic, but please tell me if I'm missing something.

I already submit an Individual CLA and I am waiting for a response.

Thanks!

Sebastian

[2016-04-27 16:36] sman68 commented on #2577
@dvoytenko and @mark-leppa this involved only the CSS style issue as pointed out from @mark-leppa's first issue (visibility) from our side.

[2016-04-27 21:14] bobcassels commented on #3011
Never mind. We don't need this after all.

[2016-04-27 21:14] #3011 closed

[2016-04-27 21:59] #2031 closed

[2016-04-27 23:32] dvoytenko commented on #3025
/cc @Gregable @powdercloud

[2016-04-27 23:35] dvoytenko commented on #3024
I believe you might be running into some Chrome experiments with turning on autoplay. Could you try on Safari as well?

[2016-04-27 23:42] dvoytenko commented on #2822
Hmm. Can you try `#log=3` as well? `3` is the absolute maximum for log levels at this time.

[2016-04-27 23:54] dvoytenko commented on #3020
heads up to @avimehta

[2016-04-27 23:55] dvoytenko commented on #3022
/cc @rudygalfi @ericlindley-g @avimehta

[2016-04-27 23:57] dvoytenko commented on #3026
@sebaperez Could you please provide a link to the "epl-display"? Are you willing to contribute the code for it?

[2016-04-28 00:01] dvoytenko commented on #2577
@mark-leppa @sman68 `-amp-fill-content` never applies `visibility: hidden` - could you point me to a place where it does so?

[2016-04-28 01:32] mark-leppa commented on #2577
@dvoytenko if `amp-fill-content` never applies `visibility: hidden` then something else is because that style is applied on the rendered page in IE 11. Pleading ignorance of amp internals, I am not the one to speak to exactly how this might be occurring. In my original post above I describe symptoms from a front-end developer perspective rather than cause.

A few areas I suspect may be causing thi

[2016-04-28 01:57] #2987 closed

[2016-04-28 05:02] avimehta commented on #3022
personally i am fine with this if there is value in providing this. This will be something that gets added to platform and not to amp-analytics(although I am not sure about that).  resource-compression.js is around 4.5kb. @dvoytenko are you guys okay with that? It is MIT license so that part is fine.

Other than that, I wish the compression was a little more general purpose so that we could use th

[2016-04-28 05:03] avimehta commented on #3020
thanks. Added a few comments to the PR.

[2016-04-28 06:43] kul3r4 commented on #3024
Thank you very much, it works ok on Safari and also in Chrome incognito window, so that must be some Chrome experiments as you mentioned. Closing this.

[2016-04-28 06:43] #3024 closed

[2016-04-28 08:49] tomsky opened #3030 "Intent to implement: amp-analytics type: linkpulse"
[Linkpulse](http://www.linkpulse.com/) is used by many European news publishers. I would be great to see Linkpulse implemented as a vendor for the amp-analytics component.

I'll try to get in touch with the people at Linkpulse to see if they can contribute some code.

[2016-04-28 11:05] aiyappann opened #3031 "Google doesn't search amp page"
Hi everyone,

This is the original url of this page - http://www.vikatan.com/news/india/63251-during-the-day-dont-cook-bihar-govt-order.art

This is my amp page related to it - http://www.vikatan.com/other/summer_article.amp.html

The above amp page is static page which is include the original site content.

Is this possible google search my amp page. I just add the above amp page only. there is n

[2016-04-28 14:47] sebaperez commented on #3026
Hi @dvoytenko
I've forked to project and worked on a separate branch that can be found here
https://github.com/sebaperez/amphtml/commit/89c9eb41dbf799d9f04f985f597c0cf660d451d8

Thanks for your support!

[2016-04-28 14:58] braraujo commented on #3026
@dvoytenko here is the link to the ad-server http://www.e-planning.net/

[2016-04-28 15:08] sebaperez commented on #3026
I made a pull request. This is the link:
https://github.com/ampproject/amphtml/pull/3033

[2016-04-28 16:34] cory-work opened #3034 "Add support for iframePing to Adobe Analytics template"
Adding support for the newish iframePing feature.

[2016-04-28 17:25] dvoytenko commented on #3031
@aiyappann Could you clarify what you mean by "Google doesn't search"?

/cc @ericlindley-g

[2016-04-28 17:30] dvoytenko commented on #2577
Thanks, @mark-leppa! We'll take a look. If IE11 `window.matchMedia` is broken, we have a recourse to address that.

[2016-04-28 17:32] dvoytenko commented on #3030
/cc @avimehta for heads up

@tomsky Are you planning to contribute code for this support?

[2016-04-28 19:01] querymetrics commented on #3022
@avimehta , yes, we can implement it.

We use similar compression techniques for sending back JS errors (will be open sourced soon) and UserTiming data (see https://github.com/nicjansma/usertiming-compression.js). The domain specific algorithms make the compression more efficient but there is certainly refactoring we could do to be able to compress other types of data as well.

[2016-04-28 19:12] fsencinas commented on #3031
Umm... could it be related to the fact that Google no longer yields amp related results or carousel style highlights, regardless no errors in search console?

[2016-04-28 19:50] nilshofgaard commented on #3030
We (Linkpulse) are in contact with @tomsky regarding this and will contribute/maintain the code to support amp-analytics as an analytics vendor.

[2016-04-28 20:01] avimehta commented on #3030
Awesome, Please cc me once you have a PR ready or need help with any part.

[2016-04-28 20:01] sebaperez commented on #3026
Please take another look

[2016-04-28 20:11] dvoytenko commented on #3030
Thanks @nilshofgaard @tomsky! Looking forward to pull request!

[2016-04-28 20:15] dvoytenko commented on #3026
@sebaperez Did you close #3033 PR on purpose?

[2016-04-28 21:10] mkhatib opened #3037 "Experiment with stubbing out rendering 3rd party embeds like Facebook"
Unit Tests involving 3rd party embeds or resources being loaded and rendered during tests are pretty flakey even when increasing timeouts. Reasons are unclear but it probably has to do with slow rendering/loading and/or being blocked from making many requests to an endpoint.

We need to experiment with a better way of stubbing out external dependencies like these during unit tests to make tests fa

[2016-04-28 21:21] hkmaly commented on #2822
Much better
[code]

[2016-04-28 21:32] ithinkihaveacat opened #3038 "<amp-install-serviceworker src="http://localhost/sw.js"> is not valid AMP"
The validator complains about AMP pages that include install a service worker served over `http`, even if the host is `localhost` (which is special-cased to support service workers, for development purposes). ([Validator source](https://github.com/ampproject/amphtml/blob/master/extensions/amp-install-serviceworker/0.1/validator-amp-install-serviceworker.protoascii#L58).)

[code]

Results in:

[cod

[2016-04-28 21:47] Met48 opened #3039 "Intent to implement: Disqus comments embed"
This proposed `amp-disqus` component would embed Disqus comments inside an iframe.

There is a demo page of this embed here: http://northisup.github.io/disqusamp/amp-demo/

The demo loads a lightweight non-interactive iframe with the top comments of the thread, along with a "Read Discussion" button which opens the fully interactive comments in a new window.

As an amp component, it could be embedd

[2016-04-28 22:19] #3026 closed

[2016-04-28 22:59] ericlindley-g commented on #3038
Hi @ithinkihaveacat — I think the issue here is that you're going through http rather than https. Feel free to re-open if you still get the same validation error after trying "https://localhost/sw.js"

[2016-04-28 23:08] ericlindley-g commented on #3039
/cc @dvoytenko

[2016-04-28 23:14] ericlindley-g commented on #3019
/cc @dvoytenko @cramforce

[2016-04-28 23:19] ericlindley-g commented on #3001
Setting at least for the next milestone, given the critical priority

[2016-04-28 23:19] ericlindley-g commented on #3000
Setting at least for the next milestone, given the critical priority

[2016-04-28 23:19] ericlindley-g commented on #2999
Setting at least for the next milestone, given the critical priority

[2016-04-28 23:19] ericlindley-g commented on #2998
Setting at least for the next milestone, given the critical priority

[2016-04-28 23:20] ericlindley-g commented on #2996
Setting at least for the next milestone, given the high priority

[2016-04-29 01:48] gkteck opened #3042 "Webmaster tool reporting " Required tag missing" Error"
The page is successfully validated by checking with #development=1.

But the Webmaster tool reporting " Required tag missing" Error

Here is the page URL

`goo.gl/XYDBwr`

[2016-04-29 03:05] mkhatib opened #3044 "Flakey amp-reach-player tests"
Chromium 45.0.2454 (Ubuntu 0.0.0) amp-reach-player renders FAILED
	Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.

[2016-04-29 07:18] ithinkihaveacat commented on #3038
@ericlindley-g The issue is that `https` is difficult to use for local development. (Service workers, which otherwise  require `https`, are whitelisted to work on `http://localhost` for this reason.)

In addition, the extension does actually install the service worker--the issue is that there's a mismatch between the validator's algorithm, and the validation that happens within the code.

I don't

[2016-04-29 09:34] hjanuschka opened #3045 "Limelight Player Support"
can we have a `amp-limelight`. as this is one of our biggest show-stoppers to go full-AMP.

a sample embed looks like:

[code]

where as the "embedMode":html -> forces the html5 player so maybe the flash object can be stripped.
i would love to have a tag like:

[code]

i am not a limelight official - would you accept a PR from non-officials - if so i ll try to provide one?

[2016-04-29 10:33] erwinmombay commented on #3045
/cc @rudygalfi @jmadler if we know anybody from limelight

we're always happy to take in any contribution!

[2016-04-29 13:35] antipath opened #3046 "amp-iframe resize not working"
Hi guys,

for the amp-iframe extended component if we leave out "allow-same-origin" value from the sandbox attribute, the amp-iframe does not resize.

## What browsers are affected?

All browsers

## Which AMP version is affected?

v. 1460655576651

[2016-04-29 15:56] dvoytenko commented on #3046
@antipath Do you have a sample document?

/to @sriramkrish85 PTAL.

[2016-04-29 16:02] dvoytenko commented on #3038
@ithinkihaveacat It would be fairly misleading to allow `http://locahost` in the validator since the production validator will not allow it later. As it stands, it's sort of a reminder to replace `http://localhost` with the final address and it should be just an error message and not affect the functionality. I.e. you should be able to test your code regardless of what validator says. Are you seei

[2016-04-29 16:04] dvoytenko commented on #3042
/cc @powdercloud @Gregable

[2016-04-29 16:08] antipath commented on #3046
I have included the amp-iframe extended component js

and produced the following amp-iframe code

<amp-iframe sandbox="allow-scripts allow-top-navigation" layout="responsive" src="https://somedomain.com/amp/ampiframe.html" height="311" width="320" resizable="" class="poll-container -amp-element -amp-layout-responsive -amp-layout-size-defined -amp-layout" frameborder="0" id="AMP_16" scrolling="no"

[2016-04-29 16:15] antipath commented on #3046
I have included the amp-iframe extended component js

and produced the following amp-iframe code

`&lt;amp-iframe sandbox="allow-scripts allow-top-navigation" layout="responsive" src="https://somedomain.com/amp/ampiframe.html" height="311" width="320" resizable="" class="poll-container -amp-element -amp-layout-responsive -amp-layout-size-defined -amp-layout" frameborder="0" id="AMP_16" scrolling="

[2016-04-29 16:45] dvoytenko commented on #2822
Hmm. This log doesn't look right. There has to be a "Start login" message that's logged at the beginning of the login flow. If you use a message filter, do you see it?

[2016-04-29 17:03] sriramkrish85 commented on #3046
@antipath i think your issue is similar to

https://github.com/ampproject/amphtml/issues/2940

Please go through our discussion on the bug and let me know if that helps.

[2016-04-29 17:09] antipath commented on #3046
@sriramkrish85,

The issue resolves once I put in "allow-same-origin", I guess I should hosting my iframe on another subdomain and apply "allow-same-origin" to see if that works

[2016-04-29 20:02] #2900 closed

[2016-04-29 20:03] mkhatib commented on #2628
Closing this, please open separate issues if anything is still not addressed by the last PR.

[2016-04-29 20:03] #2628 closed

[2016-04-29 20:08] mkhatib commented on #1201
Closing this, please open separate issues if anything is still not addressed by the last PR.

The feature is still in experimental and new changes haven't been deployed yet but should be in the next week's release.

[2016-04-29 20:08] #1201 closed

[2016-04-29 20:10] mkhatib commented on #2843
Using all layouts will be possible in the next release of amp-social-share next week.

[2016-04-29 20:10] #2843 closed

[2016-04-29 20:12] querymetrics commented on #1612
`PAGE_VIEW_ID` has a range of 0-9999.

How about storing something like this? :
`"amp-analytics:session":{"v":[<session start timestamp>,<session id>,<session length>],"t":<latest storage save timestamp>}`
Session id and session length could be in 0-9999 range.
Saving it in array avoids extra keys and only uses one `t` timestamp.
Doing the timeout check on the `Storage.get` avoids storing a timeou

[2016-04-29 20:51] corysimmons commented on #2900
👍

[2016-04-29 21:30] avimehta opened #3049 "Allow recursive vars in amp-analytics config."
[code]

In the above case, the title should get expanded into:

`NewTitle: <timestamp><title>`

but it gets expanded to:
`NewTitle:  ${timestamp}<title>`

[2016-04-29 21:48] Gueorgi opened #3050 "Allow page filtering for triggers."
Since JSON configs can be shared on multiple pages/sites there should be a way to limit what request and/or what triggers run on which page/site without the need of the need to program that dynamically on the server (i.e. allow reuse of a static JSON but control what gets fired on each page).

At bare minimum this should be supported in the triggers and while blacklisting is an option I have sligh

[2016-04-29 22:16] Gueorgi commented on #3050
P.S. While the most common case is page URL filtering I can see the filter eventually containing AMP vars like ${title} etc. to use for filtering and thus being more flexible. So the name 'filter' vs. 'pageFilter'. Page filtering however seems to me the most important and useful first step.

[2016-04-29 22:55] ericlindley-g commented on #1297
Rolling into the next milestone

[2016-04-29 22:56] ericlindley-g commented on #1654
Rolling into the next milestone

[2016-04-29 22:56] ericlindley-g commented on #2366
Rolling into the next milestone

[2016-04-29 22:57] dvoytenko commented on #2577
I can confirm the problem on IE with this jsbin: http://jsbin.com/fafeteg/edit?html,js,output

On startup the `window.matchMedia` is regularly wrong. Interestingly, it self corrects after about 1 second. No correlation with `DOMContentLoaded`, `resize` or `window.loaded` events.

The only stable solution I see is to externalize `media` expressions into CSS as described in #1428.

[2016-04-29 22:58] ericlindley-g commented on #2402
Rolling into the next milestone

[2016-04-29 22:58] ericlindley-g commented on #2510
Rolling into the next milestone

[2016-04-29 22:59] ericlindley-g commented on #2512
Rolling into the next milestone

[2016-04-29 22:59] ericlindley-g commented on #2585
Rolling into the next milestone

[2016-04-29 23:00] ericlindley-g commented on #2685
Rolling into the next milestone

[2016-04-29 23:01] ericlindley-g commented on #2700
Rolling into the next milestone

[2016-04-29 23:01] ericlindley-g commented on #2712
Rolling into the next milestone

[2016-04-29 23:02] ericlindley-g commented on #2826
Rolling into the next milestone

[2016-04-29 23:03] ericlindley-g commented on #2828
Rolling into the next milestone

[2016-04-29 23:03] ericlindley-g commented on #2830
Rolling into the next milestone

[2016-04-29 23:03] ericlindley-g commented on #2845
Rolling into the next milestone

[2016-04-29 23:05] ericlindley-g commented on #2870
@dmitrymotorin  Closing as answered, but please feel free to reopen if there are unanswered questions here

[2016-04-29 23:05] #2870 closed

[2016-04-29 23:06] ericlindley-g commented on #2882
Rolling into the next milestone

[2016-04-29 23:06] ericlindley-g commented on #2890
Rolling into the next milestone

[2016-04-29 23:07] ericlindley-g commented on #2958
@bobcassels , Can this be closed with PR #3027 merged?

[2016-04-29 23:33] kkopachev opened #3054 "amp-analytics Comscore is raising "Failed to send image request""
## How do we reproduce the issue?

Image analytics transport is raising  "Failed to send image request" for comscore tracking for pageview event. Comscore responding with HTTP 204 with no content.

![upload](https://cloud.githubusercontent.com/assets/2279051/14932208/cd2e75da-0e27-11e6-8f70-e96c6f26a4cd.png)

Page to try https://www.popsugar.de/stars/Fotos-der-Stars-beim-Jupiter-Award-2016-Berlin-

[2016-04-29 23:41] mkhatib commented on #3001
I've been debugging the failing tests, this seems to be related to changes made related to doubleclick glade in #2989 and the change #2404 that @cramforce put in place seems to be causing this now for some reason. It seems updating the iframe src to add `google_glade=0` to disable glade based doubleclick seems to be broken and AMP never renders the document when the src is updated after the fixtur

[2016-04-29 23:59] bobcassels commented on #2958
Yes, data-ad-host is implemented, as they suggested. Please close.

[2016-04-30 00:31] hkmaly commented on #2822
It won't appear until I click on login link. Wait, you wanted log from loging in?
[code]

But I would like to remind that the original reported error is that the pixel with ACCESS_READER_ID and the pingback are never called, because they are postponed after the authorization call and never un-postponed.

On the other hand, it's likely that the page not reloading have same reason, and it has someth

[2016-04-30 05:44] aiyappann commented on #3031
Yes, There is no error in amp pages. When i search through my keyword or headline or article head, google only search for my website only, not an amp page.

[2016-04-30 11:44] aiyappann opened #3055 "Facebook Instant Articles"
Hi,

I created sample articles and submit for review process. They given a approval for post our articles in facebook.

![fb_instant](https://cloud.githubusercontent.com/assets/18085749/14935646/8152f990-0ef6-11e6-90ea-88f4bc4c048f.png)

Here there are two tabs are there, one is production and another one is development. So why we use (i.e purpose) production and development in instant article lib

[2016-04-30 21:27] #2958 closed

[2016-05-01 01:14] jmadler commented on #3055
Hi!  We're not related to Instant Articles, and I'm not sure how to answer your question.  It might make sense to try asking on the Facebook Developers Group: https://www.facebook.com/groups/fbdevelopers

Hope this helps.

[2016-05-01 01:14] #3055 closed

[2016-05-01 06:25] gam-phon commented on #2900
@mkhatib
Thank you Mohammed.
شكراً يامحمد

[2016-05-02 13:18] hjanuschka commented on #3045
right now i managed to put the embed/js code in a standalone page, and using `amp-iframe` on the main page

[2016-05-02 15:48] jasti opened #3058 "Enhance amp-ad with an optional attribute to indicate publisher preference for only 'fast ads'"
In the current state, ads delivered to the <amp-ad> slot can be fast or slow. Adding this optional attribute will allow publishers to indicate if their inventory only allows ads that technically perform well (i.e. fast ads). TBD on how those fast ads are defined.

This flag, when set, needs to be translated and passed down to the ad server as a parameter on the ad request.

CC @cramforce @kashyapn

[2016-05-02 16:58] #2778 closed

[2016-05-02 16:59] cramforce commented on #3001
I can take a look. If something fails consistently, file an issue and disable the test.

Does it not fail on travis?

[2016-05-02 17:04] erwinmombay commented on #3001
@mkhatib do you think all the flakey local tests related to the same issue?

[2016-05-02 17:19] cramforce commented on #2366
@sriramkrish85's work should fix this.

[2016-05-02 17:20] cramforce commented on #2577
Can we quick fix this with an IE specific hack?

[2016-05-02 17:22] cramforce commented on #2585
Yes, public class please. Then devs can just style it as `display: none` if they want that.

[2016-05-02 17:23] dvoytenko commented on #2577
The only way to fix it for now I see is to stop using `window.matchMedia` on IE - I tried a number of things to find a better signal and there's simply none. We can implement this feature and deploy to IE first to test out.

[2016-05-02 17:28] cramforce commented on #3054
I don't think there is anything we can do here. Maybe file a Chrome bug that the warning is spammy?

[2016-05-02 17:28] cramforce commented on #2577
SGTM

[2016-05-02 17:31] dvoytenko commented on #2577
My only hope was `onchange` events on the `MediaQueryList` object, which we previously saw some issues with on other browsers. However these events are not supported on IE at all.

[2016-05-02 17:33] dvoytenko commented on #3054
I think the typical recommendation is to return an actual image to the image requests. For instance, see http://probablyprogramming.com/2009/03/15/the-tiniest-gif-ever

[2016-05-02 17:45] dvoytenko commented on #3031
/to @rudygalfi

[2016-05-02 17:46] dvoytenko commented on #3050
/to @rudygalfi

[2016-05-02 17:47] jridgewell commented on #3038
From the OP:

I think that means this can be closed.

[2016-05-02 17:47] #3038 closed

[2016-05-02 17:50] jridgewell commented on #3039
/cc @cramforce

[2016-05-02 17:50] cramforce commented on #3045
We'd take a contribution from you, but ideally with limelight involved. E.g. they should documented that this works on their side as well.

[2016-05-02 17:53] cramforce commented on #3039
If this is not interactive, could it be done as a server side integration instead?

[2016-05-02 17:58] kkopachev commented on #3054
@cramforce what about google crawler complains?

@dvoytenko Are you suggesting to open ticket with comscore? I am not using anything, but standard `amp-analytics` tag with `type=comscore`.

[2016-05-02 18:06] cramforce commented on #3054
@kkopachev Sorry, know nothing about Google crawler.

Opening a ticket with comscore would, indeed, be best. I'd still think user agents should not complain about `204` responses.

[2016-05-02 18:08] #3054 closed

[2016-05-02 18:35] #2998 closed

[2016-05-02 18:40] mkhatib commented on #3001
No unfortunately doesn't seem like all is related to the same thing. This one though is consistent locally it will always fail. @cramforce please take a look I couldn't figure out a way to get this fixed.

Most of the others keep timing out and still trying to figure out why.

[2016-05-02 18:51] mkhatib commented on #2999
This should be fixed.

[2016-05-02 18:51] #2999 closed

[2016-05-02 19:13] jridgewell commented on #2685
What's the priority for this?

[2016-05-02 19:17] rudygalfi commented on #2685
@jridgewell It's a Google Analytics specific item that requires updating their vendor config (which is why @avimehta should do it). It's not especially urgent, but there has been a fair amount of feedback I've heard requesting support for this.

[2016-05-02 20:25] j-e-shaw opened #3061 "Add general support for referrer header removal on amp-analytics"
We would like support for removing the referrer header on amp-analytics tags. This can be done by using a temporary iframe.

Meta tags may also work: http://stackoverflow.com/questions/6817595/remove-http-referer/32014225#32014225

[2016-05-02 20:26] powdercloud commented on #3042
I looked at this page, and the current version of it (as of Mon May  2 13:23:19 PDT 2016) is valid. It could be that the report in the webmaster console is based on an earlier version. If not, please feel free to reopen - thank you!

[2016-05-02 20:27] Gregable commented on #3025
[`<amp-kaltura-player>`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-kaltura-player/amp-kaltura-player.md) hasn't been implemented in the validator yet. Is this ready for validation?

[2016-05-02 20:44] #2702 closed

[2016-05-02 21:01] #2836 closed

[2016-05-02 21:10] dvoytenko commented on #3022
/cc @cramforce

[2016-05-02 21:21] dvoytenko commented on #2585
Let's not do an error class yet, but instead rely on "fallback". I actually believe we already do that in most (all?) cases, so we can check if we need some consistency, but otherwise fallback system is the way to go.

[2016-05-02 21:33] cramforce commented on #3022
I think this would be great to have, but I am a bit concerned about the size.

Maybe we should make `amp-analytics-resourcetiming` where including the extension contributes new variables.

[2016-05-02 21:37] ejcx opened #3063 "Expand on TRUSTED_VIEWER_HOSTS comment"
[The comment](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L110) references the setting of the referrer.

It's unclear if this is a security related change or not. How do I go about evaluating if I'd like to make a pull request to add my site to the regex?

[This page
](https://www.ampproject.org/docs/reference/extended/amp-dynamic-css-classes.html) also mentions th

[2016-05-02 21:43] dvoytenko commented on #2822
/cc @jridgewell

Our promise polyfill is fully compliant with ES6 and tested via https://github.com/promises-aplus/promises-tests. I'm not sure how to confirm it in this particular browser though, since there are no errors of any kind that I can see in the logs you sent...

[2016-05-02 22:01] cramforce commented on #3019
@nekodo Thanks for walking me through this the other day. LGTM

[2016-05-02 22:18] dvoytenko commented on #2970
I added the issue 3 above where the storage is reset for the iframe after the parent page is closed.

[2016-05-02 22:24] jasti commented on #2472
Hey @Wes-Kargo we are getting close on this.
One question, do you see demand other than 320x50's flowing to this slot. My guess is a lot of advertisers want to advertise in 320x50s on mWeb and this would translate well?

[2016-05-02 22:27] jridgewell commented on #2822
Hi @hkmaly. We use [PJs](https://github.com/jridgewell/pjs) as our Promise polyfill, with the actual polyfil testing happening in [src/polyfills/promise.js](https://github.com/ampproject/amphtml/blob/master/src/polyfills/promise.js). As @dvoytenko mentioned, I've followed and [test against](https://github.com/jridgewell/PJs/blob/master/test/promises-spec.js) the official [A+ test specs](https://gi

[2016-05-02 22:41] powdercloud commented on #2996
Code is done, will give an update as to when it's going live.

[2016-05-02 23:20] Met48 commented on #3039
Providing an easy to integrate commenting experience is the core product that Disqus offers. Over the last several years we have investigated several options, including server side integrations, and found that publishers find them too difficult to use. Server side integrations shift much of the technical burden from Disqus to the publishers, such as managing page cacheability against having up to

[2016-05-02 23:39] cramforce commented on #3039
I understand that. One of AMP's core goal is to say: We have erred too much on the side of easy integration that are good for publishers in term of integration time, but bad for users and this got us into the mess we are in.

We have a chance to re-evaluate these decisions.

Could the AMP tag be configured with a URL that can be optionally statically discovered server side included, so sophisticat

[2016-05-02 23:46] ericlindley-g commented on #3061
/cc @avimehta @rudygalfi

[2016-05-02 23:48] NorthIsUp commented on #3039
Sure, but isn't this true of many of the currently approved widgets? Also we intend to keep iterating and add interactivity to the widget.

[2016-05-03 00:00] erwinmombay opened #3074 "remove gulp-closure-compiler dependency"
since we have our own runner, use the jar directly and set default flags in java

[2016-05-03 13:59] cramforce commented on #3039
We're trying to work with widgets were a move to a better model is realistic. E.g. Twitter. A good way to add interactivity is by having all buttons open popups (like Twitter's widget does). That also effectively combats click jacking, so is desirable for other reasons.

I think its worth really discussing what the right way to do this is. I've seen many sites tending towards hiding all comments b

[2016-05-03 14:04] cramforce commented on #1612
Before diving too deep into the pull request, I'd like to discuss things here. Unfortunately the PR will be relatively tough to land as changing the storage interface requires changing all its implementations, which can live in proprietary viewer code. Not impossible, but we need to make sure we are doing the right thing first.

Taking a step back, if all you got was a session id that

- stays the

[2016-05-03 15:52] cramforce commented on #3061
As discussed offline, this could be offered by passing the `no-referrer` option to `fetch` in supported browsers. We will not use iframes for this for well documented performance reasons.

We can use meta-referrer to polyfill the referrer removal where fetch is not supported.

[2016-05-03 16:12] dvoytenko commented on #3039
I'd definitely look for an option where comments are hidden behind the click on "See comments" button. If we want to improve engagement, I think we can always explore things like putting number of comments in the button (e.g. "See comments (24)") or similar.

[2016-05-03 16:21] dvoytenko commented on #2442
@dougalg Apologies, missed this response. Let me run through your points:

I think something like this could work:
[code]

We can explore options how to inject number of comments into the title if you'd like. This will completely gets us off the hook with internationalization, accessibility and exact design by leaving this to the publisher. WDYT?

Please do and let me know if you have any question

[2016-05-03 16:49] RReverser commented on #2380
Hi, yet another CloudFlare developer here :) As of the moment, AMP pages (any pages with `<html amp>` or `<html ⚡>`) should be excluded from our transformations. Please let me know if you still experience issues and will be happy to look into it.

[2016-05-03 16:56] weeblr-dev commented on #2380
Hi @RReverser

Thanks for updating us. Can you confirm the presence of the AMP tag anywhere on the page is enough, or is there a 256 or more first-characters-in-page limit to be aware of, as mentioned earlier on this issue?

Thanks

[2016-05-03 17:10] dvoytenko commented on #3025
Yes.

[2016-05-03 17:10] RReverser commented on #2380
@weeblr If I understand correctly, AMP page, unlike generic HTML, has strict rules in regard to HTML structure, so I went ahead and implemented it without any limit (that is, any valid AMP page should be excluded from the transformations). Note that this code was just recently deployed to production endpoints, but as far as I know, should be already available everywhere.

[2016-05-03 17:19] dvoytenko commented on #3063
@ejcx

What's your site? And could you please explain why do you need it in this whitelist? Currently, this whitelist is only used to allow a page that embeds an AMP document to override referrer for the purposes of access. This is because access decisions are often made based (in part) on referrer and thus the referrer-based vectors are common. This is not a very usual thing to modify.

This allo

[2016-05-03 17:39] dvoytenko opened #3077 "Implement media-based attributes via stylesheet"
(Spun off from #1428)

Media-based attributes include: `media`, `sizes` and `heights`.

The handling of `sizes` attribute would look like this:

[code]

=>

[code]

However, the `media` attribute is more problematic. If we follow the previous example, we'd have this:

[code]

=>

[code]

And here's the problem - we can't reset display to any specific value since that can break the layout. In other

[2016-05-03 17:39] dvoytenko commented on #1428
Stylesheet spun off into #3077.

[2016-05-03 17:39] dvoytenko commented on #2577
Blocked by #3077.

[2016-05-03 17:50] ejcx commented on #3063
Thanks @dvoytenko. The thing I'm wondering is the security implications of adding something to this list. Right now it's unclear in the docs what adding sites or removing sites actually has an effect on.

If I changed isTrustedViewerOrigin_ to the function below, what security risks exist?

[code]

[2016-05-03 18:42] rudygalfi commented on #3031
There are cases in which Google Search may choose not to link to the AMP version of a page. If the page doesn't have errors and everything looks OK in Google's Search Console, then you've done everything you can do.

In the future, questions related to appearance in Google are best directed at Google's Webmaster Forum for AMP: https://productforums.google.com/forum/#!topicsearchin/webmasters/categ

[2016-05-03 18:42] #3031 closed

[2016-05-03 21:06] derekpeterson commented on #1816
I don't know if this belongs on this issue, but I'm also having problems with the Pinterest embed widget's responsive layout. The image doesn't scale to the full width, and the `overflow: hidden !important` hides the embed box-shadow on the right side. I created [this pen](http://codepen.io/derekpeterson/pen/jqXNNr) to demonstrate the issue. Let me know if you'd like more details or if this belong

[2016-05-03 21:30] dvoytenko opened #3081 "Reimplement `isReadyToBuild` callback inside of AMP Runtime"
Currently, AMP Runtime relies on `isReadyToBuild` callback to decide when the element can be built. Ideally, an `<amp-element>` should be built as soon as `</amp-element>` is parsed. However, there's no callback of this kind available to us. Instead, we want to rely on the "next element parsed" signal. It will work as following:

1. On resource add (`Resources.add()` method) we will NOT call `Reso

[2016-05-03 21:35] dvoytenko commented on #3081
/cc @mkhatib This would help a LOT with auto-placeholder.

[2016-05-03 22:08] ericlindley-g opened #3082 "Documentation: Validation table for amp-social-share"
When validation rules are in place for amp-social-share, we'll want to clearly communicate these rules in the .md file for debugging. @powdercloud: are you the best person to get these in when ready?

Example validation table can be found at the bottom of the [amp-accordion.md](https://github.com/ampproject/amphtml/blob/master/extensions/amp-accordion/amp-accordion.md)

/cc @mkhatib

[2016-05-03 22:12] ericlindley-g opened #3083 "Support amp-list in amp-sidebar"
This entails at least two tasks:

1) Implement sidebar resizing to accommodate amp-list contents
2) Whitelist amp-list in validator for amp-sidebar (after [1] is complete)

/cc @powdercloud @sebastianbenz

[2016-05-03 22:25] mkhatib opened #3084 "Investigate layout scheduling inside of amp-sidebar"
`amp-sidebar` maintains its own scrollbar. AMP-elements inside of amp-sidebar might not be scheduled correctly and never render because they would be outside the main viewport. `amp-sidebar` probably needs to own the elements inside it and manually schedule them for layout and update its in-viewport properties.

[2016-05-04 09:47] kashyapnitin commented on #2472
Thanks for the inputs tea Kargo... for a V1 we are going ahead with the following implementation.

Allow for a way to specify only for amp-ad elements (not other amp-elements) to be shown in a sticky position at the bottom of an amp page such that

1. The width is always the viewport
2. The height can be specified as long as it is less than 1/6th of the viewport (in portrait mode) or 100 pixels (w

[2016-05-04 16:28] erwinmombay opened #3095 "absolute lengths should be allowed in sizes `lengths`"
https://www.w3.org/TR/css3-values/#absolute-lengths should be allowed, currently banned through https://github.com/ampproject/amphtml/blob/master/src/layout.js#L172

[2016-05-04 18:07] erwinmombay opened #3096 "getComputedStyle returns null on firefox inside iframe with display:none"
`f is null` error in this code: https://gist.github.com/erwinmombay/889e83a7cdc65605c51b2a0c262a8ac0#file-f-js-L15

caused by firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=548397

seems to have been introduced in 1460655576651

[2016-05-04 18:18] kvignos commented on #2820
Another vote for support for Typekit fonts, from WIRED.

[2016-05-04 18:38] mkhatib commented on #3084
@sriramkrish85 feel free to move this, just wanted a bug to track what we talked about during our deep dive meeting. Basically this is related to `amp-sidebar` having its own scrolling and AMP will probably not schedule resources for layouting outside the first few viewports of sidebar scrollbar.

[2016-05-04 18:59] zhouyx opened #3097 "amp-sidebar test flaky"
[code]
https://travis-ci.org/ampproject/amphtml/builds/125726478

[2016-05-04 21:30] mkhatib opened #3100 "amp-youtube flakes"
[code]

[2016-05-04 21:40] ericlindley-g commented on #3097
Putting in current milestone, to get eyes on the flaky test (if not fix it)

[2016-05-04 21:42] ericlindley-g commented on #3096
Slotting in backlog, but feel free to let me know or update directly if there's a more specific target for a fix (or if the bug is severe enough to prioritize in the short term)

[2016-05-04 21:42] ericlindley-g commented on #3095
Slotting in backlog, but feel free to let me know or update directly if there's a more specific target for a fix (or if the bug is severe enough to prioritize in the short term)

[2016-05-04 21:43] ericlindley-g commented on #3044
Putting in current sprint to get eyes on the flaky tests (if not fix them)

[2016-05-04 21:55] ericlindley-g commented on #3081
Slotting in the backlog, but let me know if this has a more specific target (next couple of sprints, or in short term)

[2016-05-04 21:58] ericlindley-g commented on #2577
This is blocked by another item in the backlog, so I'm inclined to put it there as well, but @dvoytenko @cramforce feel free to let me know (or re-slot directly) if either this or #3077 have a more specific target (next couple of sprints, or in the short-term after after)

[2016-05-04 22:53] mkhatib opened #3101 "xhr native and polyfill flake"
[code]

[code]

https://travis-ci.org/ampproject/amphtml/builds/127920478

[2016-05-04 23:45] rudygalfi commented on #3063
@ejcx With such a change, the referrer variable passed by a viewer would always be trusted. Some features, like Access, make use of referrer information to make decisions. A trusted viewer is able to help step in and make the referrer information more accurate (overriding what would get provided by default, which is document.win.referrer) so that Access works more as a user might expect.

[2016-05-04 23:45] #3063 closed

[2016-05-05 00:26] #1428 closed

[2016-05-05 00:46] dvoytenko commented on #3096
Moving to current milestone for asap fix.

[2016-05-05 00:50] cramforce commented on #3101
We filed this before. The fix is to get rid of that non-hermetic external dep and replace it with a local server.

[2016-05-05 00:55] powdercloud commented on #3082
Sure.

[2016-05-05 01:01] dvoytenko commented on #3081
This should go to the next milestone.

[2016-05-05 01:02] dvoytenko commented on #3095
moving to this milestone to fix asap.

[2016-05-05 01:07] dvoytenko commented on #1816
/to @rudygalfi to reach out to Pinterest to consult.

[2016-05-05 01:09] #3001 closed

[2016-05-05 01:10] rudygalfi commented on #1816
cc @jparise

[2016-05-05 01:22] #3095 closed

[2016-05-05 01:22] #3096 closed

[2016-05-05 02:49] ejcx commented on #3063
Thank you @rudygalfi. That's helpful for me.

[2016-05-05 04:37] jparise commented on #1816
Thanks for the report! I'll triage on our end and update this issue accordingly.

[2016-05-05 10:58] umashankar2015 opened #3105 "DFP Ad not displaying"
Hi

I am using DFP Ad in AMP. It's showing random behaviour in display. Sometimes Ad displaying othertime its not. I can't say if we are loading a page 10 times then then Ad will display in x times.

I have check Ad implementation and its right. Here is the code I am using:

[code]

Please help to sort out this issue.

[2016-05-05 14:05] michaelkleber commented on #3105
Please post a public URL and ideally post a reduced test case.

[2016-05-05 17:01] massa84 opened #3106 "amp-sidebar should add class to body"
For our website we would like to 'slide' the content of the article to the right simultaneously with the sidebar opening animation, but, to do so, it would be extremely useful if the amp-sidebar adds some configurable class to the body.
Otherwise we should rely on possibly complicated sibling selectors to achieve the same result  but would make everyone life a bit harder.

Would it be possible to

[2016-05-05 17:31] dvoytenko opened #3108 "Scrolling breaks on overflowing elements at the bottom of the body"
See https://bugs.chromium.org/p/chromium/issues/detail?id=609161

[2016-05-05 18:38] zackargyle commented on #1816
@asap If you want to use the larger image you'll need to specific the `data-width="medium"` attribute. The images themselves are not responsive (currently), but we'll look into making the Pin widget more inline with the responsive nature of our non-amp widget.

[2016-05-05 18:42] cramforce commented on #2984
What does this do?

[2016-05-05 18:58] #3108 closed

[2016-05-05 19:29] jridgewell opened #3114 "Add Polling Helper"
Spun off of https://github.com/ampproject/amphtml/pull/3112#discussion_r62236468. We should make a polling helper that will wait until some `predicate` passes, or `opt_maxWait` has passed. Then, call the `callback`. Should probably go on `Timer`...

[2016-05-05 19:44] #2828 closed

[2016-05-05 19:46] sriramkrish85 commented on #3106
@massa84 - we did consider that initially , this version of sidebar was built mainly for the mobile web. We did consider adding a state class to the body and then later rule it out due to implementation complexities and also to avoid excessive spamming of classes on the body.

However , we would definitely consider implementing this as a feature (may be like - adding an attribute would trigger thi

[2016-05-05 19:47] mkhatib opened #3115 "Reuse dom.childElements in ElementProto.getRealChildNodes"
Maybe there are some other places that can use that as well.

[2016-05-05 20:27] mkhatib commented on #3115
This is blocked by #2846 - Please wait until that is merged to do this.

[2016-05-05 20:32] ericfs opened #3117 "this.isEmbedded_ is false in a WebView"
https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L144

In a WebView, there is no win.parent so the above check is false.

## What browsers are affected?

WebView

## Which AMP version is affected?

All

[2016-05-05 20:38] jridgewell commented on #3117
To expand, the `window.parent` is actually `window`, even though the WebView is a managed viewer context. We'll need a bit more to determine if we are inside a viewer, though the `win.parent === win` is a good check for other environments.

[2016-05-05 22:20] Wes-Kargo commented on #2472
Hey @jasti Yes that size is most popular throughout the industry, though we do other sticky sizes such as 280x280 that runs out of the corner of the page.

@kashyapnitin Thanks for vetting this and sharing the intended behaviors. I have a few questions:

Re. #4 - do you expect the ad call to be made upon page load, or could we have a way to only make the request once the user hits the scroll thres

[2016-05-05 22:25] erwinmombay commented on #2472
@zhouyx please link to this in the spec section

[2016-05-05 22:57] dvoytenko commented on #3117
`Viewer.isEmbedded()` is a bad name. It should be `isIframed()` - most of code that uses it actually cares whether or not the page is in iframe. I suggest we renamed `isEmbedded` to `isIframed` and then we can start using `isEmbedded` for viewer-based things.

[2016-05-05 23:54] dvoytenko opened #3121 "Fixed layer: Chrome 52 switched to yield calculated getComputedStyle values, now auto"
Starting v52 it appears Chrome has switched to using `getComputedStyle` more inline with Firefox by resolving `auto` values to the actual calculated values.

See https://bugs.chromium.org/p/chromium/issues/detail?id=589347 for more details.

E.g. the following example (see http://jsbin.com/wowowu/edit?html,css,js,output):
[code]

And running this code:
[code]

This will yield `auto` in Chrome 49 a

[2016-05-06 00:05] cramforce opened #3122 "Resource management of analytics"
This is more of a hypothetical, but I'm wondering if our resource download algo might do a bad job on pages that have many `amp-analytics` and `amp-pixel` tags. Right now we load them after content but before ads, and we have them participate as part of normal scheduling. They are, however, essentially free in terms of bandwidth, so I'm wondering if we should treat them somehow specially.

One sim

[2016-05-06 00:14] avimehta commented on #3122
How would this affect amp-analytics and how would this affect the scheduling? Will this result in analytics pings being sent  even later?

[2016-05-06 00:18] cramforce commented on #3122
It would send them at the same time or earlier (Because all would be sent at the same time, as opposed to only N at a time). This would only affect the start time of us loading resources that get prioritized after analytics (which are ads and other resources that are further away from the viewport).

[2016-05-06 00:21] cramforce commented on #3117
+1

On Thu, May 5, 2016 at 3:57 PM, Dima Voytenko <notifications@github.com>
wrote:

[2016-05-06 00:43] rudygalfi commented on #3050
I understand the proposal. Are there particular development environments / arrangements where varying the config server side is challenging?

Server-side definitely feels like a great way to go in generally because the relevant thing to do is always marked up on the pages where it needs to happen.

[2016-05-06 03:35] Gueorgi commented on #3050
Server side requires:

a) Codding server side (time and resource consuming),
b) Implies dynamic config response (no cache, or no simple caching),
c) Prevents re-using the same static configuration file on a lot of
different pages (i.e, some hits may be allowed on some pages/countries etc.
- now each has to be coded server side),
d) Can't easily access client-side AMP variables like timezone, brows

[2016-05-06 04:10] dvoytenko commented on #3114
Also, `callback` should probably return some form of continue/stop condition. We have something similar in `vsync.runAnimMutateSeries`.

[2016-05-06 04:14] dvoytenko commented on #3122
Generally, for page-wide functionality as in `amp-analytics` (and probably `amp-pixel` as well), I don't see much point in relying on layout callbacks of general element infrastructure. I think, the services should simply rely on viewer visibility events and do their work independently of the main resource manager.

[2016-05-06 10:50] kashyapnitin opened #3126 "Implement a flying carpet visual effect for AMP - applicable to any amp-element in general but specifically for Ads"
**Primary objective:**
Allow publishers to be able to show <amp-ads> as flying carpets
Illustrative (but not necessarily final mock) here
![fc-mock](https://cloud.githubusercontent.com/assets/14791037/15071029/879969b8-1380-11e6-914c-7526e061c35d.gif)

**Secondary objective:**
Make it really easy in AMP to give the same visual treatment

**Rationale:**

- It’s a nice visual format
- It’s tradition

[2016-05-06 11:12] gkteck commented on #3042
The Webmaster tool is still showing error for this page.
The error detail message is
"The mandatory tag 'body' is missing or incorrect."

[2016-05-06 11:18] gkteck opened #3127 "Webmaster tool reporting "Prohibited or invalid use of HTML Tag""
Hi,
My Webmaster tool is showing close to 200  page errors with the above type.

All these 200 pages are successfully validated by using #development=1

Here is a sample page.

goo.gl/8oBpJL

[2016-05-06 13:28] borisf opened #3128 "amp-carousel: make it possible to reveal specific slides"
A common feature of retail websites are image carousels in which each slide can be triggered via a user action, e.g. via link or thumbnail picture ([example](http://www.allsaints.com/women/denim/style,any/colour,any/size,any/?view=all)).

Here is what a solution could look like:

[code]

The idea is to add a `on="tap"` action which reveals slides in an amp-carousel. Slides and carousel are identif

[2016-05-06 14:23] borisf opened #3131 "amp-youtube loads slowly inside amp-lightbox"
## Description
When we embed amp-youtube inside amp-lightbox, it takes too long until the video embed is loaded.

## Steps

The [page] (https://amp-by-example-staging.appspot.com/sample_amps/product_sample/) to reproduce. Here is the code sample

[code]
## What browsers are affected?
Chrome and Chrome on Android

[2016-05-06 14:23] borisf commented on #3131
cc @sebastianbenz

[2016-05-06 15:17] cramforce commented on #3131
I think that happens is that we fail to either call `viewportCallback` or to schedule layouts upon opening.

CC @dvoytenko @mkhatib

[2016-05-06 15:18] michaelkleber opened #3133 "AMP Ads For AMP Pages ("a4a")"
# Motivation

Currently `<amp-ad>` elements can request ad creatives written in classical HTML+JS, which therefore must be sequestered inside cross-domain iframes and loaded only after a delay, to mitigate the potential UX degradation they could cause.  Even so, long-running JS inside the ads can degrade scrolling, swiping in the carousel, etc.

We propose a new ad rendering path which continues t

[2016-05-06 16:24] rudygalfi opened #3135 "Intent to implement: Share tracking in AMP"
The following doc proposes a mechanism for introducing share referral identifiers in AMP.

One relatively recent, and apparently very effective, development in “social media optimization” of content is to utilize fragment URLs to attach shared URLs to a particular page view. This allows tracking of viral shares and the resulting page impressions back to the original share across multiple social ne

[2016-05-06 16:25] dvoytenko commented on #3131
We definitely do both. @mkhatib could you PTAL?

/cc @jridgewell

[2016-05-06 16:46] dvoytenko commented on #3127
/to @Gregable @powdercloud

[2016-05-06 17:13] antipath opened #3136 "amp-ad DFP serving Taboola - possible?"
Hello,

Is it currently possible to serve taboola ads via the amp-ad using type "doubleclicks"?

I know there is the amp-embed which supports taboola itself, but ads there aren't served via DFP that way.

Thanks,
Vince

[2016-05-06 17:26] powdercloud commented on #3042
@gkteck I'm quite confident this is a stale message. This is because it takes some time to recrawl the page. I've verified that the validator that we have in production considers the page as valid. You can do so here, since this doesn't give an error it means it's valid (and it agrees with the validator you could run in the browser with #development=1, the way it should):
https://cdn.ampproject.or

[2016-05-06 17:26] #3042 closed

[2016-05-06 18:36] cramforce commented on #3135
LGTM from my side.

To clarify: This is a feature to enable the mechanism demonstrated in this URL https://medium.com/@cramforce/why-amp-is-fast-7d2ff1f48597#.bqzkwtl6u
with the fragment starting with `.`.

[2016-05-06 19:28] jridgewell commented on #3136
Assigning to @bobcassels, though I'm not sure if there's someone better suited to answer.

[2016-05-06 19:32] jridgewell commented on #3128
Related to https://github.com/ampproject/amphtml/issues/1532?

[2016-05-06 19:54] mkhatib opened #3138 "Karma Tests are Memory Leaking causing tests to fail due to timeouts"
After a lot of debugging of what's happening with the local tests, it seems that something is not being cleared correctly and hence karma runner keeps accumulating memory reaching up to 2GB! Causing our local machines to run out of memory and causing tests to run slower than they should.

I believe this is the main cause of the local tests failing inconsistently with timeout errors.

I am still tr

[2016-05-06 19:55] mkhatib commented on #3138
One simple solution that I found people use is to split up the tests to multiple karma runners. This only treats the side effect of tests timing out but won't treat the memory leak in the tests. So I am trying to find the root cause for the leak.

[2016-05-06 19:59] mkhatib commented on #3138
I've tracked it down to `iframe.js` inside `createIframePromise` calling the installCoreServices. Not sure if this implies that the leak is in our own source but still looking.

[code]

[2016-05-06 20:56] #2577 closed

[2016-05-06 21:04] mkhatib commented on #3121
What part of amp will this affect? the fixed position hack?

[2016-05-06 21:10] dvoytenko commented on #3121
Fixed Layer, but not the hack part. We have an option to offset `top: X` CSS definitions via `top: calc(paddingTop + X)`. We only do it when `top != auto`, of course.

[2016-05-06 21:13] Met48 commented on #3039
Thanks to everyone for the feedback. Circling back on this after some internal discussion, just wanted to update everyone that we're going to move forward with a client-side integration as opposed to the iframe approach we initially mentioned.

[2016-05-06 21:23] #1550 closed

[2016-05-06 21:42] mkhatib opened #3139 "Saucelabs Integration Tests are super Flaky"
Last bunch of `master` builds saucelab integration tests failed. The errors seem to be inconsistent between each run. This is an example of failure of [this build](https://travis-ci.org/ampproject/amphtml/builds/128404710#L3991).

[code]

[2016-05-06 21:48] mkhatib commented on #3115
This is no longer blocked, merged the change, feel free to pick this up.

[2016-05-06 21:49] muxin commented on #3115
Working on it now.

[2016-05-06 21:57] cramforce commented on #3039
Awesome! Looking forward to the PR!

[2016-05-06 22:18] #2714 closed

[2016-05-06 22:31] mkhatib opened #3141 "Only Run Tests that actually changed when --watch"
Currently `gulp test --watch` re-run ALL the tests in AMP making incremental test changes very difficult and requires the use of `only` blocks to get this to work properly. It'd be nice if watch was smart to only run the test files that actually changed.

[2016-05-06 22:35] ericlindley-g opened #3142 "Add validation table to amp-sidebar.md"
Hey Greg—I believe you or someone on your team set up validation for amp-sidebar. Could whoever implemented also add a validation table into the amp-sidebar .md file?

Thanks!

[2016-05-06 22:37] cramforce commented on #3141
This would, indeed, be nice. Unfortunately it does not solve reruns triggered by non-test code changes.

[2016-05-07 04:27] cramforce opened #3146 "Port amp-instagram test to be hermetic"
Use `doNotLoadExternalResourcesInTest` introduced in #3132 to avoid loading actual images/iframes in the test.

[2016-05-07 04:27] #3100 closed

[2016-05-07 15:09] bobcassels commented on #3136
I'm not sure I understand the question. Have you looked at the documentation for [amp-embed](https://github.com/ampproject/amphtml/blob/master/builtins/amp-embed.md) and specifically [taboola](https://github.com/ampproject/amphtml/blob/master/ads/taboola.md)?

[2016-05-07 18:47] jasti commented on #3136
hi @antipath, how do you currently do this in a non-amp environment? Do you have a link to a DFP lineitem?

[2016-05-08 03:33] venkatgig commented on #2380
@RReverser Still facing the issue.  Except those script tags added by Cloudflare, HTML is a valid AMP HTML. Is there any other configuration needs to be changed in cloudflare side?

The following code has been added to the bottom of my page.

`<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"xxxxxx","applicationID":"xxxx","transactionName

[2016-05-08 05:26] jpettitt opened #3149 "Feature request: intersection triggers for amp-analytics."
We'd like to be able to track if users read to the bottom of article text and what % of users go beyond that.  The current `amp-analytics` model of using scroll %'s as triggers doesn't give the needed info.  (it's not practical to know what % of the page every article represents on every screen geometry).

We'd like to be able to have intersection triggers such that we could specify a dom object a

[2016-05-08 14:12] RReverser commented on #2380
@venkatgig Could you please send URL and/or resulting contents to ingvar@cloudflare.com?

[2016-05-08 16:07] weeblr commented on #2380
@venkatgig @RReverser As can be seen in the script itself, this is not coming from Cloudflare but instead from NewRelic. Per my previous message, the only fix is to disable the NewRelic agent for the page, which can be done programmatically only, AFAIK

[2016-05-08 16:26] avimehta commented on #3149
/cc @rudygalfi

@jpettitt Does scrolled past ~90% of the page not convey similar state? I know it is not as accurate. cc'ing Rudy to figure out priority.

[2016-05-08 17:34] jpettitt commented on #2820
The other issue you'll need to resolve is domain licensing.  AMP pages and (and do) run on multiple CDN's so the domain loading the font will often not be that of the site that licensed it.  If Typekit validates the domain of the page you're going to run into problems there.

[2016-05-08 18:44] jpettitt commented on #3149
The 90% solution doesn't cut it.  Examples:

https://fresnobee.relaymedia.com/amp/news/local/education/article61889207.html Text ends at 79% on an iPhone 4

https://kansascity.relaymedia.com/amp/news/local/crime/article76157292.html Text ends at 61% on an iPhone 4

What we're specifically trying to measure is do certain elements, eg particular ad unit types, form a road block to scrolling.   For e

[2016-05-08 18:54] jasti opened #3153 "Don't show "loading" animation if resource doesn't exist"
Feature Request : Don't show the "loading" animation if AMP knows that a resource doesn't exist and will never load. See below.
![loading](https://cloud.githubusercontent.com/assets/2366341/15099740/18f6ca0c-152c-11e6-994e-6b0e746084de.png)
The above image was found on [TechCrunch](http://techcrunch.com/2010/10/20/a-compact-death/amp/
).
Instead, consider showing some delightful placeholder conten

[2016-05-08 19:16] rodryquintero opened #3154 "Enhancement: Allow non https content delived from same origin"
I am trying to include some content using `<iframe-amp>` from the same web server I am serving my content but I do not have SSL enabled, and probably won't be able to use it.

I am requesting that you allow non SSL content when it is delivered from the same origin/site using `<ifram-amp>`

For example:

[code]

[2016-05-08 20:53] erwinmombay commented on #2497
fixed via https://github.com/ampproject/amphtml/pull/2593

[2016-05-08 20:53] #2497 closed

[2016-05-08 20:54] erwinmombay commented on #2497
@cramforce what was the difference between this and https://github.com/ampproject/amphtml/issues/2386 ?

[2016-05-08 20:58] erwinmombay commented on #3153
possibly related to https://github.com/ampproject/amphtml/issues/2585

@jasti just want to confirm the image never loads cause theres an error fetching it right? (doesnt exist on server, network issue etc)

[2016-05-08 22:10] jasti commented on #3153
@erwinmombay yes, perfect. Closing.

[2016-05-08 22:10] #3153 closed

[2016-05-08 22:25] cramforce commented on #2497
6 days and a very lossy brain :)

[2016-05-08 22:58] venkatgig commented on #2380
@RReverser @weeblr
Sorry guys, my bad. Weeblr thanks for pointing out.

[2016-05-09 08:31] RReverser commented on #2380
@weeblr Right, thanks!

[2016-05-09 10:00] nilshofgaard commented on #3030
@avimehta @dvoytenko A PR is submitted with initial support. However I could not figure out how to add the label "NEEDS REVIEW" on the PR itself.

[2016-05-09 13:05] enzo-giancola opened #3160 "Amp-analytics type="krux" issue"
Hi,

we have a strange behaviour with amp-analytics type="krux".

Let me explain:

1)
For examples, the following URL:

http://www.repubblica.it/politica/2016/05/04/news/renzi_-139044411/amp#development=1

has the following tag:

[code]

2)
When the content is delivered by Google, the URL is:

https://cdn.ampproject.org/c/www.repubblica.it/politica/2016/05/04/news/renzi_-139044411/amp#development=

[2016-05-09 13:30] antipath commented on #3136
@bobcassels,

"For now you could certainly serve a regular HTML taboola unit from DFP." -> any examples of how you can embed a taboola ad within the DFP amp-ad component?

Thanks,
Vince

[2016-05-09 13:47] avimehta commented on #3030
Will review it today.

On Mon, May 9, 2016, 3:00 AM Nils Hofgaard <notifications@github.com> wrote:

[2016-05-09 17:17] dvoytenko commented on #3154
@rodryquintero The intent behind requiring https is to ensure that the document can be proxied and embedded in most of typical embedding scenarios. Relaxing this rule will create a problem: it will make document functional in one cases, but not in most of others where "https" will be required. Thus we can't relax it here.

If you are looking to simplify testing - we currently allow `http://localho

[2016-05-09 17:17] #3154 closed

[2016-05-09 17:31] mkhatib commented on #3138
# ⛵⛵⛵⛵💧💧💧💧💧💧💦💦💦💦💦💦
Alright. I've managed to track down some of the leakage and fix it up! Tests are now maxed up at ~600MB (still too high tbh and probably can be brought down even more with more debugging) but better than the 2GB we started hitting!

And as I guessed, all the local tests flakes are caused by the leaks! So now no local tests are flaky!

[2016-05-09 17:36] dvoytenko commented on #3160
@enzo-giancola Based on CORS spec, the `Access-Control-Allow-Origin` has to echo back the requests's `Origin` header (if it allows it, of course). Instead it returns back `Access-Control-Allow-Origin:http://www.repubblica.it`, which is rather strange.

/to @rudygalfi Could you please reach to Krux to get this fixed?

[2016-05-09 18:00] #3115 closed

[2016-05-09 18:22] ericlindley-g commented on #3149
Putting in the backlog for now

[2016-05-09 18:23] ericlindley-g commented on #3146
Putting in backlog, pending a specific target

[2016-05-09 18:26] avimehta commented on #3149
@jpettitt While this is in the queue, I had another question: Will #1297 help with this case? It can send a ping if and when an ad comes into view and can also measure how much of it is in view.

Currently it does not support vanilla html elements so you can't use it with the article body but i think modifying it to address this usecase would be fair.

[2016-05-09 18:47] rudygalfi commented on #3149
Yes, I think #1297 is the solution to this. As @avimehta points out, it's currently restricted to only amp-* elements, but if we provide some way to handle vanilla elements (at least in a way broad enough to handle this use case), then this is covered.

[2016-05-09 20:30] mkhatib opened #3165 "Research popular App Custom Protocols that should be whitelisted in AMP"
Cureently we only support a bunch of Protocols (whatsapp and viber), we're adding Instagram and Snapchat. But we'd like to have a large enough coverage of what publishers are already using to whitelist in both anchors and amp-social-share

[2016-05-09 20:35] mkhatib commented on #3165
This could be a useful link to look at some of the app protocols http://www.mrlacey.com/2014/03/1192-windows-phone-apps-that-have.html?m=1

[2016-05-09 21:09] mkhatib commented on #3146
Is it ok if we up this to the current milestone? Would love to get the tests more stable.

Also, this would probably be useful in `amp-twitter`, `amp-brightcove`, `amp-bird-player`, `amp-dailymotion`, `amp-jwplayer`, `amp-kaltura`, `amp-reach-player`, `amp-soundcloud`, `amp-springboard-player`, `amp-vimeo`, `amp-vine`.

[2016-05-09 21:32] nicblass commented on #1286
@dvoytenko I'd love to have the ability to build form elements using json data and ajax. If possible, I'd like to take it even a step further and have the ability to build dynamic form elements that change based on the previous selections. Our forms are currently setup to send data through ajax. We also have multi-step forms that we'd like to be able to build into the AMP framework. Since author w

[2016-05-09 21:33] ericlindley-g commented on #3146
From my perspective, absolutely (moving to the 5/12 milestone now, but defer to @muxin to gauge feasibility for completing by then)

[2016-05-09 21:34] ericlindley-g commented on #3146
And defer to Eng broadly (cc @cramforce) for the right milestone on this kind of task

[2016-05-09 21:42] erwinmombay opened #3166 "make --fortesting flag generate a binary that points to localhost as the bootstrap base url"
currently if we host the code on a cloud offering like heroku (for testing) any embedded code is broken because it will try to fetch an integration file that is not yet hosted

https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L203

[2016-05-09 21:42] erwinmombay commented on #3166
fyi @cramforce

[2016-05-09 22:11] cramforce commented on #3146
This is @muxin's next task.

[2016-05-09 23:01] ericlindley-g commented on #3126
@jridgewell , passing to you (feel free to correct if you're not the primary Eng owner)—do you have a milestone target for this? (will put in "pending..." for now)

[2016-05-09 23:03] mkhatib opened #3169 "amp-youtube/amp-video not pausing on subsequent plays"
Both `amp-youtube` and `amp-video` seems to have troubles pausing specially on subsequent plays and pauses.

## How do we reproduce the issue?
1. Open the [viewer example](http://amp-mk-1.herokuapp.com/examples.build/viewer.html).
2. Scroll down to the YouTube video and click to play it
3. Switch the viewer to Tab "Two" to make "One" go into visibityState=hidden
4. Notice the youtube video is paus

[2016-05-09 23:07] ericlindley-g commented on #3117
Putting this in the backlog, but please feel free to change if there's a task here with a more specific target

[2016-05-09 23:08] ericlindley-g commented on #3114
Putting into the Fixit milestone, but feel free to put elsewhere if there's a more specific target

[2016-05-09 23:17] mkhatib commented on #3169
Was able to reproduce this on news.google.com carousel on __emulated__ Safari iOS with `amp-youtube` video not pausing when swiping away.

[2016-05-09 23:19] dvoytenko commented on #3117
Already in review.

[2016-05-10 00:19] mkhatib commented on #3131
Quick debugging, the `updateInViewport` call seems to fail to actually set elements in viewport because the parent lightbox `setInViewport` is never called because its `isDisplayed` return false because its `layoutBox` width and height are both 0.

Will need to do some more debugging to see why that is the case.

[2016-05-10 00:20] ericlindley-g opened #3170 "Support <body> animation with <amp-sidebar> menu open animation"
Similar to https://amphtml.wordpress.com/ hamburger menu implementation: allow developers to specify whether the document <body> also animates to the side with the menu, as if on a single connected surface, rather than <amp-sidebar> sliding over the content (which should remain the default behavior for <amp-sidebar>)

(specific support for a feature mentioned in #3106)

[2016-05-10 00:35] dvoytenko commented on #3131
@mkhatib That most likely means that we need to call `Resource.requestMeasure()` or force remeasure of the lightbox element in some other way. Ideally we should switch to `mutateElement` API.

[2016-05-10 00:48] mkhatib commented on #3131
Yeah. Doing this quickly force remeasuring and allows discoverWork to set the parent lightbox in viewport before updating the children viewports:
[code]

I somehow realize doing the above is kinda of bad (?) so thanks for the comment on `mutateElement`, just realized that it does much more than I thought initially. So doing this in lightbox through the `mutateElement` API fixes the problem!

[code

[2016-05-10 00:54] mkhatib commented on #3169
This is reproducable also on production in the video lightbox on https://www.ampproject.org/ - open the dialog, wait for the video to load, play it, close the lightbox, will pause first time but open the dialog again play and close and it won't pause!

[2016-05-10 00:56] #3117 closed

[2016-05-10 01:11] #3014 closed

[2016-05-10 01:14] mkhatib commented on #3014
@dvoytenko can we go ahead and move `amp-social-share` out of experiment?

[2016-05-10 01:46] mkhatib commented on #3081
@dvoytenko thanks for the great writeup! One question for now: Why check "Next element in the document order" instead of just if the element itself have a nextSibling? Why do we need to traverse toward the parent as well?

It seems that checking the element.nextSibling itself should be enough no?

[2016-05-10 02:08] mkhatib commented on #3081
Ah I might know why. Is it to avoid elements being laid that actually belongs to a parent element that wants to control their layouting schedule? Without the "next element in the document order" check these elements might end up being laid out before the parent element even being built, no? I am not entirely sure this is why we need this, do we even layout before the `documentready`?

[2016-05-10 07:33] powdercloud commented on #3014
You may want to wait til we have the validator rolled out for less confusion.

[2016-05-10 15:04] jpettitt commented on #3149
Agree, a generalized version of  #1297 would do it.   Will #1297 as designed work for an empty `amp-fit-text` (or any other null action AMP element) as that would let us do what we want with #1297 as specified.

[2016-05-10 15:13] akellehe commented on #3135
@rudygalfi When I originally started the `pound` project at Buzzfeed I used radix-36 encoded ids. We later updated to the _hashed_ version of the ID to provide more IDs for each user for a number of reasons. In order to tell the new hashed ids apart from the radix-36 IDs I added a preceding ".".

I've noticed several implementations across the web apparently reverse engineering this aspect of the

[2016-05-10 15:51] nedward3 opened #3176 "Support multi-size ad request"
## Short description of your issue:

We would like to configure one of the ad calls on our AMP pages to accommodate multiple sizes. I mentioned this on Friday's Ads Working Group call and was told that this may be possible as long as we are comfortable with potential white space. The ad call we are interested in adjusting is the 1030x590 (displays at approximately 345x420). We would like to also b

[2016-05-10 16:04] cramforce commented on #3133
LGTM

I'm very excited by this. It is a real chance to solve the "coordination problem" for display advertising.

One thing that should be spelled out and planned for is additional validation for ads. We should probably go with an extension whitelist (e.g. no `amp-iframe`) and also do additional checks on the CSS.

[2016-05-10 16:20] rudygalfi commented on #3149
I think so, but we should really figure out a way to do this that doesn't require using amp-fit-text as essentially a dummy element.

[2016-05-10 16:36] dvoytenko commented on #3131
@mkhatib I have one concern with this approach - specifically that `mutateElement` will not know when the mutation itself is done, while it normally should. There's an easy way to "fix" that by providing a variation to this API that allows the callback to return a promise (or via `done` callback).

[code]

Ping me to discuss this in a bit more detail.

[2016-05-10 17:56] avimehta commented on #3149
ack. After my last post, I thought about it a bit more and I realized it does not work in it's current state. In the current state, the spec only looks at the part of the content that is on screen. Since the content is likely larger than the screen size, the content with 100% visibility just means that it covers the screen not that **all** of the content was seen.

[2016-05-10 18:02] #3142 closed

[2016-05-10 18:05] cramforce commented on #3081
@mkhatib If a `nextSibling` exists that is, indeed, enough. But if it does not exist you do not know whether:

- There is no next sibling (which would be super common).
- Or whether it has not been parsed yet.

[2016-05-10 18:11] cramforce commented on #3176
CC @kashyapnitin

I'm not sure this is a good experience, but it might work well for creatives further down a page. Would this be for DFP specifically?

[2016-05-10 18:14] cramforce commented on #3135
We're thinking about picking up the pattern, but more to say "If the fragment starts with a ., then it is likely meant as a tracking fragment as opposed to used for e.g. deep linking into content". With that the `.` itself would not be part of the ID and if the ID started with a ., there would be 2 dots in the URL :)

[2016-05-10 18:27] akellehe commented on #3135
@cramforce @rudygalfi that's pretty rad. I should note; you'll _probably_ get better reliability across networks through URL interpolation if that's possible. We'll have more information on that soon. Basically it looks like

```http://www.example.com/p/[hashed id]/username/title-slug```

The downside of this is that it prevents a canonical URL from being tracked as they are by 3rd parties without

[2016-05-10 18:32] dvoytenko commented on #3081
@mkhatib What @cramforce said. Basically, we can consider an element (and its contents) to be fully parsed if the next element in the document order has been parsed or when the whole document has been parsed. Consider this example:
[code]

You only really 100% confident that `amp1` has been fully parsed (up to `</amp1>`) when you see `parent2` element in the DOM model.

Does it make sense?

[2016-05-10 19:35] mkhatib commented on #3081
Yes absolutely, thanks for the explanation will update the PR.

[2016-05-10 20:10] rudygalfi commented on #3160
cc @sethyates could you take a look?

[2016-05-10 20:54] sethyates commented on #3160
Looking

[2016-05-10 22:07] mkhatib opened #3180 "YouTube placeholder should show progress indicator until the video is rendered"
Like `iframe` and other elements.

[2016-05-10 22:15] powdercloud commented on #3025
Working on this.

[2016-05-10 22:34] powdercloud commented on #3025
https://github.com/ampproject/amphtml/pull/3181

[2016-05-10 22:57] cramforce commented on #3135
I might misunderstand your proposal, but we will definitely use a URL fragment for this, because we do not want changing the id change the server observed URL. This is both for privacy and caching efficiency reasons.

[2016-05-10 23:39] ericlindley-g commented on #3106
@massa84 I've spun off a feature request for the specific animation behavior you describe in #3170—I've made some assumptions about the behavior, so feel free to correct or elaborate on that issue.

@sriramkrish85 — closing the request in this issue to add state classes to the body, due to the concerns you mention above. Please correct/re-open if this is possible without those risks, somehow

[2016-05-10 23:39] #3106 closed

[2016-05-10 23:40] akellehe commented on #3135
@cramforce do you control the servers? The parameters can pretty easily be ignored, and it's straightforward in varnish to canonicalize the cache key.

[2016-05-11 00:06] cramforce commented on #3135
We are talking about basically all of the servers and the clients. Since the URL changes on page load, a reload of the current page does not hit the cache. This can be really bad on mobile where closing a browser and returning to it might have evicted the page in the meantime.

Secondly, we need to be sensitive with exposing the ID to the server. In AMP we do not want to log any ids in server logs

[2016-05-11 00:32] cramforce commented on #2970
I know we talked about this before, but I don't fully understand why we do this. Lets chat quickly tomorrow.

[2016-05-11 01:45] sethyates commented on #3160
@enzo-giancola this should be fixed now on the server side.  Can you please try again?

[2016-05-11 01:47] sethyates commented on #3160
[code]

[2016-05-11 05:02] dvoytenko commented on #2970
@cramforce Let's chat. But this PR #3178 was tagged with this issue by mistake - it was a PR for server-side access flow.

[2016-05-11 10:53] RonanDrouglazet opened #3182 "noContentAvailable should always close amp-ad if no fallback provided"
Hi AMP Team !

Currently, if we call `noContentAvailable` from amp-ad context, if we have a fallback in it, AMP Framework display it, and if not, close the amp-ad component `BUT ONLY` if this one is away from user's visibility (from the amp resizing rules)

We have a lot of publisher who don't want to display any fallback image with some self-promotion or other
So a lot of amp-ad component without

[2016-05-11 14:48] cramforce commented on #2970
LOL. Cool, was confused.

On Tue, May 10, 2016 at 10:02 PM, Dima Voytenko <notifications@github.com>
wrote:

[2016-05-11 14:56] cramforce opened #3184 "Iframe content sometimes isn't loading"
This might be limited to Chrome 52.

Example page https://ampbyexample.com/advanced/how_to_create_interactive_amp_pages/

It is not 100% reproducible. When it fails the iframe itself is never requested.

[2016-05-11 14:56] cramforce commented on #3184
Also happens on Chrome 50

[2016-05-11 15:01] cramforce commented on #3184
This is a race condition that happens when all the elements are cached.

[2016-05-11 15:01] cramforce commented on #3184
CC @dvoytenko

[2016-05-11 15:11] cramforce commented on #3184
This is a race that happens when everything is cached and `v0.js` comes first.

[2016-05-11 15:42] cramforce commented on #3184
The race is that the element classes are stubbed, but the elements aren't yet in stubbedElements.

[2016-05-11 15:43] okeul opened #3185 "amp-twitter doesn't display well in Chrome"
`amp-twitter` doesn't display well in Chrome but it works Firefox.

Chrome (Version 49.0.2623.112) :
![amp-twitter_chrome](https://cloud.githubusercontent.com/assets/6248074/15187027/b95a9f3a-179f-11e6-8ccd-0050ba488025.png)

Firefox (Version 45.0)
![amp-twitter_firefox](https://cloud.githubusercontent.com/assets/6248074/15187033/c28853b8-179f-11e6-92db-1a8c9628e8a5.png)

Example :
http://jsbin.co

[2016-05-11 15:45] cramforce commented on #3184
Oh, wow, the code assumes that by the time the upgrade happens, all elements have been seen.

[2016-05-11 15:47] dvoytenko commented on #3182
/cc @cramforce

@RonanDrouglazet Thanks for report. Not automatically collapsing ads (or resizing any elements) currently in the viewport is actually a conscious trade-off. This is to avoid content flashing and disrupting the user's point of reading. When an ad is outside of the current viewport the resize can be done safely and we allow it.

(I'll close this bug for now, but feel free to re-open

[2016-05-11 15:47] #3182 closed

[2016-05-11 15:49] dvoytenko commented on #3184
Hmm. It shouldn't. The newly discovered elements just supposed to upgrade right away.

[2016-05-11 16:03] enzo-giancola commented on #3160
Hi,

the issue is fixed, for examples:

1)
https://cdn.krxd.net/controltag/amp/JW5KTbNq.json?__amp_source_origin=http%3A%2F%2Filcentro.gelocal.it

Request URL:
        https://cdn.krxd.net/controltag/amp/JW5KTbNq.json?__amp_source_origin=http%3A%2F%2Filcentro.gelocal.it
        Request Method:
        GET
        Status Code:
        200 OK
        Remote Address:
        185.31.17.175:443
Respons

[2016-05-11 16:03] #3160 closed

[2016-05-11 16:35] jridgewell commented on #3185
Thanks for the bug report, and even more for providing a jsbin! I'm looking into this now.

[2016-05-11 17:22] cramforce opened #3190 "Remove livereload"
It appears nobody is using it and it can obfuscate other things during debugging.

[2016-05-11 17:35] erwinmombay opened #3191 "Always submit the prerenderComplete message independent of the `csi` param flag."

[2016-05-11 17:46] akellehe commented on #3135
this is avoided by the canonicalization I mentioned. i.e. urls are rewritten _by the client_ before fetching from the cache/hitting the host.

The server would never see the ID given the above

I can't address this since I don't know what you mean by "share targets". Are you referring to a piece of content that is shared? Or is this in reference to the user who receives a link from another user?

[2016-05-11 17:59] jridgewell commented on #3185
Tracked this down to Twitter's new [Shadow DOM rendering](https://twittercommunity.com/t/upcoming-change-to-embedded-tweet-display-on-web/66215). In the old code, we are trying to [resize the iframe](https://github.com/ampproject/amphtml/blob/master/3p/twitter.js#L54-L65) they create. Well, the Shadow DOM rendering doesn't create an iframe...

For reference, here's the new [generated HTML](https:/

[2016-05-11 18:19] #3025 closed

[2016-05-11 18:19] jridgewell commented on #3025
Closed by #3181.

[2016-05-11 18:41] #3131 closed

[2016-05-11 19:36] #3184 closed

[2016-05-11 21:15] muxin opened #3194 "Avoid loading external resources in tests"
Use `doNotLoadExternalResourcesInTest` introduced in #3132 to avoid loading actual images/iframes in the test.

[2016-05-11 21:20] muxin commented on #3146
Created #3194 to fix similar problem in other extensions.

[2016-05-11 21:20] #3146 closed

[2016-05-11 21:22] mkhatib commented on #3194
Thanks for filing 😄

[2016-05-11 21:27] mkhatib opened #3195 "Explore adding data-params-* to iframe-based 3rd party embeds"
Follow up to #3188 to explore and possibly add this functionality to other extensions.

Research and see if these services already allow configuration through parameters and if allowing publishers to pass extra parameters to configure them would be useful:
- amp-dailymotion
- amp-instagram
- amp-soundcloud
- amp-vimeo
- amp-vine

Maybe:
- amp-facebook
- amp-twitter

[2016-05-11 21:29] mkhatib commented on #2420
Closing this one - opened a follow up issue #3195  to explore adding data-params to some other extensions.

[2016-05-11 21:29] #2420 closed

[2016-05-11 21:37] muxin commented on #3194
Fix tests in for `amp-twitter`, `amp-brightcove`, `amp-bird-player`, `amp-dailymotion`, `amp-jwplayer`, `amp-kaltura`, `amp-reach-player`, `amp-soundcloud`, `amp-springboard-player`, `amp-vimeo`, `amp-vine`

[2016-05-11 21:50] ericlindley-g commented on #3185
Looks like the fix is merged—@cramforce, can we close this issue?

[2016-05-11 21:51] ericlindley-g commented on #3190
Putting this issue in the backlog, but feel free to re-slot if there's a better spot for it!

[2016-05-11 21:52] ericlindley-g commented on #3191
Putting this issue in the backlog, but feel free to re-slot if there's a better spot for it!

[2016-05-11 21:55] #3185 closed

[2016-05-11 21:56] jridgewell commented on #3185
This'll be hitting production tomorrow.

[2016-05-11 22:05] mkhatib opened #3196 "Remove isReadyToBuild from all extensions and base element"
No longer needed as we now have a better signal when the element is ready to be built. when #3174 is in.

[2016-05-11 22:09] jpettitt commented on #3149
@avimehta or you just track that the block after came into view.

[2016-05-11 22:55] ericlindley-g commented on #2712
Looks like there hasn't been activity on this, so putting into backlog for now

[2016-05-11 23:00] hkmaly commented on #2822
Hello,

I meant that there is something in the promise polyfill which doesn't work in Palemoon, despite not throwing error. I believe it works in node, but that's useless to me.

Hmmm ...

Based on https://nicolas.perriault.net/code/2013/testing-frontend-javascript-code-using-mocha-chai-and-sinon/ I created simple test in browser
{{{
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>

[2016-05-11 23:29] #3194 closed

[2016-05-11 23:32] mkhatib opened #3199 "Kill the tests if the port is busy"
Karma automatically increment the port number if it's busy and just output an easily ignorable warning that the port was busy. A lot of the tests will fail if Karma ran on a different port - not entirely sure why but I believe we hardcode some of the ports somewhere.

@erwinmombay suggested one easy way to do this is to allow the `gulp test` task to check if anything is running on that port and di

[2016-05-11 23:51] rudygalfi commented on #2585
Can this be closed out based on #3153?

[2016-05-11 23:53] erwinmombay commented on #2585
@rudygalfi nope, we closed that one out. so this is still primary tracking issue for this. will prioritize this after i finish up some amp-live-list work.

[2016-05-11 23:54] hkmaly commented on #2822
Another idea: may something taking too long be a problem? Some of those tests takes over 100ms (or at least have red note claiming so).

[2016-05-12 03:39] cramforce commented on #3135
I don't think your canonicalization example is correct. The browser, when it evicted a tab, will load whatever was in the URL bad. The same with the "server never seeing it". That is true on initial rewrite, but it can be shared an reloaded.

This entire proposal is only about sharing. The current URLs are shared and values from the read on incoming traffic. This has to work on the AMP Cache and e

[2016-05-12 04:13] cramforce commented on #3199
It would also be possible to make the tests pass on different ports, but I'm super cool with just dying.

[2016-05-12 04:26] cramforce commented on #3195
I think we should discuss whether exposing the leaky abstraction that there is an iframe and we should copy these into the URL is something we want to hard code in our API. It would prohibit future changes of the implementation.

I'm not sure on this. Maybe a good topic for format review.

[2016-05-12 08:09] okeul commented on #3185
Thanks guys !

[2016-05-12 16:25] jridgewell commented on #2822
You'd have to build the PJs test files with browserify, which will in turn build the mocha tests. Then run those through Mocha in the browser.

[2016-05-12 18:49] dvoytenko commented on #2712
I'll move it to the next milestone since it's about 5 lines of code.

[2016-05-12 19:08] dvoytenko opened #3204 "Allow CID override for webview scenarios"
Format is `#webview=1&cid=1`.

/cc @ericfs

Currently the runtime will generate it's own cid, but we may want to consult the webview viewer for consistency.

[2016-05-12 21:15] ericlindley-g commented on #3128
Like #1532, this is a good suggestion. We're looking into carousel enhancements now, and this kind of thing may get easier with some of the work needed to make those improvements

/cc @sriramkrish85 @dvoytenko

[2016-05-12 22:21] #3180 closed

[2016-05-13 00:26] #3081 closed

[2016-05-13 01:16] rudygalfi commented on #3135
@akellehe Thanks for the comments on the doc. Cleaned it up a bit; PTAL.

[2016-05-13 01:26] devnullzero opened #3207 "amp-accordion: Uncaught TypeError: Cannot read property 'setAttribute' of undefined"
## Short description of your issue:

Currently, when using amp-accordion, I'm getting the following error when a html tag is present and clicked in the first child of a `<section>`. It was working flawlessly in the afternoon (EDT).

## How do we reproduce the issue?

Using the following snippet:

[code]

Click on "1) Click me first..." part of the h1 -> Working
Click on "2) Click me now...." part

[2016-05-13 01:53] devnullzero opened #3208 "Feature request: Setting the AMP version to a previous release"
I was working on an AMP template when the extension I was using started to trigger errors. It seems that in the meantime, the CDN was serving a new AMP release. I searched for a way the set the script to the previous version to be sure that it wasn't my fault, but didn't find a simple way.

Feature requested: If this isn't already possible, it would be nice to be able to set the release version in

[2016-05-13 03:59] jmadler opened #3211 "amp-sidebar: toggles error out with method not found error"
Sample: https://gist.github.com/jmadler/1362e8f66de65add720fe200a0ec7cda

Reproduction steps:

1. Click on "open" button
2. Click on "close" button
3. Click on "toggle" button

Expected behavior:

Menu opens, closes, opens.

Actual behavior:

Nothing.  Console shows errors of "Uncaught Error: Action execution failed: AMP-SIDEBAR toggle: Method not found: toggle" (also open, close)

## What browser

[2016-05-13 07:27] mkhatib opened #3212 "Refactor placeholder creation by using createPlaceholderCallback"
Now that we have #2846 in place. All (except of `amp-youtube` due to a hack that can't be avoided currently) should start using a similar method of `amp-instagram` to create their dynamic placeholders using `createPlaceholderCallback`.

This includes `amp-brid-player`, `amp-jwplayer`, `amp-kaltura-player` and `amp-springboard-player`.

[2016-05-13 15:34] dvoytenko commented on #3212
@mkhatib Do we have a separate bug tracking YouTube? It'd be great to see the status of our conversations with YouTube to address it in one place.

[2016-05-13 15:34] dvoytenko commented on #3211
/to @sriramkrish85 Looks like a bug?

[2016-05-13 15:36] dvoytenko commented on #3208
/cc @rudygalfi @cramforce

[2016-05-13 15:37] dvoytenko commented on #3207
/to @sriramkrish85

[2016-05-13 15:43] Tonsil commented on #3020
So, out of curiosity (and because people are asking me) what happens next with this? Is there anything else I need to do on my end? Is there a way I can monitor progress and know when to expect my changes to be made available? Thank you.

[2016-05-13 15:59] cramforce commented on #3208
We will not do this, because it facilitates downgrade attacks and if people do it in production, will reduce cache hit rate.

[2016-05-13 15:59] #3208 closed

[2016-05-13 15:59] cramforce commented on #3208
There are other ways to address the: Did this break with the new version question. We should definitely solve that problem.

[2016-05-13 16:02] rudygalfi commented on #3020
Based on the merge date for #3021, I believe this should be available in the production release.

There should be nothing further for you to do and the configuration should be useable via the `type` attribute on amp-analytics now.

[2016-05-13 16:02] #3020 closed

[2016-05-13 16:05] erwinmombay commented on #3211
thanks for this, i saw this spike last night. was looking into what it was

[2016-05-13 16:21] ericlindley-g commented on #3211
I can reproduce this bug if I manually toggle the experiment in the console using: "AMP.toggleExperiment('amp-sidebar')" to "false", but it goes away if I toggle back to "true" using the same command

@jmadler is this the case for you, too?

If so, we may just need clearer docs for manually toggling experiments in the console—or a way to avoid having to do the console bit altogether

[2016-05-13 16:34] amphtml-team commented on #3211
Yup some one is using this on prod while we still have it experimental.
Eric can we pull it out of experimental?
On Fri, May 13, 2016 at 9:21 AM ericlindley-g <notifications@github.com>
wrote:

[2016-05-13 16:38] ericlindley-g commented on #3211
From my perspective, absolutely—I was hoping that it would go out with this week's release. @sriramkrish85, is there anything left to do before this can go out?

[2016-05-13 16:39] ericlindley-g commented on #3211
Do we know who is using it in prod?

[2016-05-13 16:48] devnullzero commented on #3208
A twofold problem:
- Development: Helping finding the reason / bug ...
- Production: AMP pages don't work anymore. During the window of noticing / reporting / fixing the bug, what should we do?  (Could be quite critical)

We need a roll back feature of some sort. May be the previously released versions could be available for two weeks to a month. In my case (#3207), the change / bug would have ren

[2016-05-13 16:51] #3030 closed

[2016-05-13 16:59] dvoytenko commented on #2977
Thanks, @jpettitt. Looking.

[2016-05-13 17:01] cramforce commented on #3208
Definitely enabling error reporting to the publisher side is a great idea. This would not go through Google Webmaster Tools (AMP is independent from Google).

AMP is making the dev channel available a week before it is pushed and tries it out on 1% of pages. Currently testing can happen in that week. Breakages block the release. Our goal is very much to NOT break existing docs.

If it turns out th

[2016-05-13 18:57] rudygalfi commented on #2423
@avimehta I'm slotting this into the upcoming milestone since I think you have work in progress on this in #3168. Can you confirm?

[2016-05-13 20:46] mkhatib opened #3216 "Refactor amp-youtube placeholder fallback mechanism"
Currently `amp-youtube` can't use the new recommendation of using `createPlaceholderCallback` - see #2846 for some discussion on that.

This is to keep track of this issue because eventually we'd like to get rid of the hack and rely on `createPlaceholderCallback`.

[2016-05-13 20:46] mkhatib commented on #3212
@dvoytenko filed #3216 for `amp-youtube`. Will reach out to some of the folks in that conversation and see if we can get a timeline on some of the ideas they shared.

[2016-05-13 21:11] #2712 closed

[2016-05-13 21:21] sriramkrish85 commented on #3046
Closing this bug as this is a non issue

@ericlindley-g looks like we need to document this better or even remove the check for origin. Could you open a bug for this and we can discuss.

[2016-05-13 21:21] #3046 closed

[2016-05-13 21:35] Gregable commented on #3127
Looking into it. This will likely resolve itself when the page is recrawled, but there may be a larger issue. Thanks for the report.

[2016-05-13 21:38] Gregable commented on #3082
We've decided to remove these validation tables. See https://github.com/ampproject/amphtml/pull/3201

[2016-05-13 21:38] #3082 closed

[2016-05-13 21:40] Gregable commented on #2749
@ericlindley-g , it looks like you added the "Related to: Validator" tag on this. Is this a validator issue? I would need some more context if it is.

[2016-05-13 21:40] #2701 closed

[2016-05-13 21:42] Gregable commented on #2498
@jaredmcdonald , as an update, there is a node package that can be used in your release pipeline. Some documentation here:
https://github.com/ampproject/amphtml/tree/master/validator

We're working on releasing this as an npmjs module.

[2016-05-13 21:42] rudygalfi commented on #2749
@Gregable I think it's mislabeled. Removing Validator label.

[2016-05-13 21:50] #1920 closed

[2016-05-13 22:10] dvoytenko commented on #2221
Enabling `shrink-to-fit` in validator is fine. But one detail - we always force `overflow-x: hidden` which, I believe, cancels `shrink-to-fit=yes` anyway.

[2016-05-13 22:19] sriramkrish85 commented on #3211
Erwin is flipping the flag to open up the experiment as we speak. This will be a non issue soon !

[2016-05-13 22:19] #3211 closed

[2016-05-13 22:38] ericlindley-g commented on #2749
Mislabeled—sorry about that!

[2016-05-14 00:05] indianburger opened #3220 "Twitter widgets don't render sometimes"
Malte [pinged us on Twitter ](https://twitter.com/cramforce/status/730922514294013952) about Twitter embeds not rendering sometimes - http://output.jsbin.com/zajaxe This I was able to reproduce more reliably (~10%) in mobile safari on the simulator and very very rarely on Chrome Canary. Haven't seen in at all in production Chrome (49), FF (44).

I'm an engineer at Twitter on the widgets team, so I

[2016-05-14 06:08] mkhatib commented on #3037
@cramforce introduced a way to mock loading of external resources in #3132 so closing this.

[2016-05-14 06:08] #3037 closed

[2016-05-14 06:09] mkhatib commented on #2830
This has been fixed with #3174

[2016-05-14 06:09] #2830 closed

[2016-05-14 06:10] mkhatib commented on #2118
This has already been implemented in #2215

[2016-05-14 06:10] #2118 closed

[2016-05-15 14:45] 88kbbq commented on #2911
Would this feature allow for a better user experience like on http://lucidlemon.github.io/paradeiser/, where the menu would disappear completely when scrolling down on a small mobile device and reappear when scrolling up. In my humble opinion, the main navigation is a pretty important aspect of mobile never really got much attention.