[2021-02-11 17:07] rsimha opened #32616 "Look for ways to speed up end-to-end tests"
During CI, we run end-to-end tests against four build flavors: the `nomodule` build and the three experiment builds.

As more long-running tests have been added, it routinely takes ~10 minutes to run a few hundred tests. For contrast, we run more than 12,000 unit tests in a similar amount of time.

This goal of this issue is to explore ways to reduce the running time of our end-to-end tests. It wi

[2021-02-11 17:10] edoudou commented on #32580
For the swipeEvent, I think you already have everything you need in the codebase.

There is already a state that track this : `touchEventState_.isSwipeX`

If I understand correctly the code, we would just need a event to notify when this state is set as `true` or `false`. Could you confirm this @Enriqe ? Maybe the event could also notice when the state goes back to `null`, but this is not required

[2021-02-11 17:34] michalmatuska commented on #30048
Hi, what is the status here? Can you release new version of component with Farsi support? It will be blocker for my project. We are thinking about workaround but we don't like them if we have solution in front of us. Is anything what can I do?

[2021-02-11 18:36] dmanek commented on #32455
@nainar want your input here. We're not able to replace the history entry on the viewer for obvious reasons. But we do update it on origin. I propose we disable it on the viewer to fix this error. WDYT?

[2021-02-11 18:36] newmuis commented on #32594
I think we should not expose this API as "above the fold" vs "below the fold", but more just about the experience of the player itself.  show vs. hide placeholder, autoplay vs. not autoplay, preload vs. not preloading, etc.

[2021-02-11 18:57] caroqliu commented on #30048
@michalmatuska We have a fix it sprint coming up at the end of the month, and this issue would be a good one to tackle as part of that effort. If you need it sooner than that you are welcome to make the contribution, given the necessary content appears to be available in the original issue filed. Happy to be your reviewer and guide if so. :)

[2021-02-11 19:15] Enriqe commented on #32594
Agreed, we would not include this vocabulary in the API. But in the context of this issue I think it's important to note the difference in performance and the motivation behind this change.

[2021-02-11 19:40] powellish commented on #32583
@micajuine-ho it's implemented [here](https://feature-amp-video-iframe-consent-web.independent.co.uk/news/world/americas/us-election-2020/trump-ware-cybersecurity-official-resign-b1722109.html?amp) `demo review` - let me know when done with the link and I'll delete. Best

[2021-02-11 19:43] powellish commented on #32583
@alanorozco we hadnt tried that as it looked like data-block was only for amp-ad and amp-analytics. Will try now. See comment above with example page. You'll need the code snippet to get to the page.

[2021-02-11 20:15] #21247 closed

[2021-02-11 20:15] #2745 closed

[2021-02-11 20:15] #21240 closed

[2021-02-11 20:15] #23582 closed

[2021-02-11 21:11] Enriqe commented on #32580
To my second point, if we sent these events as DOM events, we could attach extra information that is useful for developers using the player. e.g. we could attach the `isNavigationalSwipe` (`isSwipeX`) to the DOM event, which you could use to know whether you should use a `touchmove` event for the swipe down or ignore it.

An example would look like this:

[code]

I have a working demo here https:/

[2021-02-11 21:31] mxdvl commented on #32588
Here‘s a screen recording:

https://user-images.githubusercontent.com/76776/107700449-7f78b780-6c85-11eb-9999-92af274b38a7.mp4

[2021-02-11 21:35] sunny119 commented on #25344
Still getting the same error "Sanitized Node" when trying to add <amp-img>.
Version 2101300534005

[2021-02-11 21:39] dvoytenko commented on #32565
I'd like to discuss the [Deferred Build](https://docs.google.com/document/d/14M9lSsE3FXTqEBK7sV_iepu9lSc2-8sTdAnFljCdgfg/edit) and dropping of the layoutCallback API.

[2021-02-11 22:47] #32323 closed

[2021-02-11 23:29] dmanek commented on #32165
I spent some time investigating this today. And while I'm able to consistently repro on at least a couple of pages in Chrome & Safari (emulating the mobile view), I'm not able to pinpoint what's causing this. @Cauchon @lucamago would appreciate if you've noticed anything that may help me debug this issue? One thing I've noticed is this only happens once, scrolling after the initial jump does not c

[2021-02-12 10:47] sckol commented on #24621
+1 Also look for a solution

[2021-02-12 10:47] aurbanczik opened #32628 "Google Analytics 4 for AMP"
Is there a way of including GA4 in Google-Amp ?

[2021-02-12 13:22] andydavies opened #32629 "amp-img - duplicate image downloads on iOS Safari 14.4"
## What's the issue?

`amp-img` makes duplicate image requests when both `img` and `srcset` attributes are defined.

## How do we reproduce the issue?

1. Connect iPhone to Mac, open Inspector etc.
2. Load page below on iPhone Safari
3. View image requests in Inspector
4. Observe two requests are made by the `amp-img` component – seems to be both the `src`, and one defined in `srcset`

Have observ

[2021-02-12 13:24] edoudou commented on #32580
Ok, I am taking a look

[2021-02-12 13:50] edoudou commented on #32580
Ok so in a general this seems great !!

The no scroll behavior is perfect.

For the `isNavigationalSwipe` details, it is working well, just a little trick :
I changed your code a bit to :

[code]

as touchMove trigger once with `event.detail.isNavigationalSwipe`, when it is not clear if it is navigation or not yet.

[2021-02-12 14:02] edoudou commented on #32580
I tested in a codesandbox, I'll test with our codebase to be sure.

Here is the codesanbox : https://codesandbox.io/s/festive-taussig-vvh5o?file=/index.html:602-927

[2021-02-12 14:16] SIbu1981 opened #32631 "video autoplay on AMP"
hi we use amp-video-iframe to serve our customized jw player in our article pages. Starting from this use case are there any chance to build video autoplay and sticky on our pages?

I have a look to some implementation in the our market and someone reached the objective but using the amp player component like https://amp.dev/documentation/components/amp-brightcove/) not the amp-video-iframe.

URL:

[2021-02-12 14:23] SIbu1981 opened #32632 "amp video creation"
Hi, to serve video on our amp pages we are using a video-amp-iframe. We use jw player but it's customized to our use.
Is there the chance to build on the amp library an our own video component?

Our implementation : https://sport.sky.it/calcio/serie-a/2021/02/12/napoli-juventus-pirlo-conferenza-video/amp

Thanks
silvio

[2021-02-12 14:23] kristoferbaxter commented on #32629
Taking a look, have to download the iOS 14.4 simulator first so will report back afterwards.

[2021-02-12 14:27] kristoferbaxter commented on #32628
Duplicate of https://github.com/ampproject/amphtml/issues/24621

Closing this issue in favor of the one @micajuine-ho and the Google Analytics team provides updates on.

[2021-02-12 14:27] #32628 closed

[2021-02-12 14:31] aurbanczik commented on #24621
Eagerly awaiting a solution !

[2021-02-12 14:56] greghuet opened #32633 "AMP-Form - type email validated with wrong format"
Hi,

Using AMP Form, I have found that if you enter a wrong format email address (missing the domain extension), AMP does not return an alert. To test go to:
https://amp.dev/documentation/examples/components/amp-form/

In the test form, enter the email address testtesttest@gmail without .com at the end.

Hope you'll find a fix.

[2021-02-12 15:34] kristoferbaxter commented on #32629
Looks like this is an issue with propagating `src` before `srcset`. Making a change now, working on tests.

[2021-02-12 15:40] edoudou commented on #32580
@Enriqe everything LGTM.

I manage to have a working demo of our swipe down, even on a scrollable page : https://jyujv.csb.app/

It is still a WIP but it proves we have everything we need if we can disable scrolling + get information on the swipeNavigation State.

When do you think this features could be available in stable ?

[2021-02-12 15:56] kristoferbaxter commented on #32629
Network requests for different sources is fixed with #32634. Taking a look at the double request for the same resource is going to take a bit longer, it appears at first glance to be an issue with Webkit (see final comment here from 2018, https://bugs.webkit.org/show_bug.cgi?id=6656)

[2021-02-12 16:27] kristoferbaxter commented on #32629
Unable to reproduce the double network request issue with a direct example: https://thrilling-workable-flyingfish.glitch.me/image-element-propagation.html

[2021-02-12 16:54] #32629 closed

[2021-02-12 16:56] kristoferbaxter commented on #32606
Closing this issue since there are no reproduction steps or way to access the issue.

Please feel free to create a new issue, and follow the template provided so we can take a look!

[2021-02-12 16:56] #32606 closed

[2021-02-12 16:58] kristoferbaxter commented on #32631
I've added @alanorozco to the issue, but autoplay requires ensuring the content is muted by default. I do not recall all of the details, but Alan can give a more in-depth answer to this question.

[2021-02-12 17:00] gmajoulet commented on #32490
Downgrading to P3 as the bookend is deprecated.

[2021-02-12 17:05] kristoferbaxter commented on #32632
Adding @alanorozco, but the likely answer is `amp-video-iframe` is the best answer for this type of usage.

[2021-02-12 18:51] #32577 closed

[2021-02-12 18:55] samouri opened #32639 "Improve analytics event flow"
**summary**
As a followup to https://github.com/ampproject/amphtml/pull/32637

Ideally analytics events should not need to traverse the DOM to find the associated ampdoc, window, and associated metadata.

One potential resolution would be to update the functions (at least `triggerEventForTarget`) and associated callsites to receive the necessary metadata (e.g. ampdoc) as part of the initial call.

[2021-02-12 20:56] morsssss commented on #32491
Again, I don't get exactly what you're facing here, but, to this:

The usual way to get data from `amp-script` into the DOM would be:
* use `amp-state` to set up a state variable in the DOM
* calculate what you want to in `amp-script`
* use `AMP.setState()` to insert that value into the state variable
* bind something in the DOM to an expression that includes that state variable

That's about the

[2021-02-12 20:56] #32491 closed

[2021-02-12 21:25] mjuzefiszyn opened #32643 "add new amp-analytics triggers for Core Web Vitals in googletagmanager"
According to the [example](https://amp.dev/documentation/examples/advertising-analytics/tracking_core_web_vitals/?format=websites), it is available for amp-analytics type googleanalytics, but we use googletagmanager

We implemented it, but we still do not see that it records information, do you think it will be possible with GTM + SSR?

https://koko.news/mobile/eat/5-simple-ways-to-help-improve-yo

[2021-02-12 21:44] sebastianbenz opened #32644 "amp-img ssr: don't generate sizes attribute"
## Problem

Server-side rendering a hero image can cause double download of the same image when using `srcset` but not `sizes`. The problem is: the amp-img extension in that case generates a viewport specific sizes attribute which might cause a re-download of the same image.

## Steps to reproduce

Load https://lava-useful-horesradish.glitch.me/ in DevTools simulating a mobile device, e.g. G4. You

[2021-02-13 18:48] jonaskuske commented on #28556
I've just encountered the (I believe) same bug in Chromium – tested in Edge 88, Chrome 88 and Opera 74 on Windows 10. The first item in a new column created through `columns` in CSS is invisible if it also has `position: relative` – forcing it into its own composite layer via `will-change`, `transform` or `backface-visibility` fixes it.

[2021-02-13 19:41] #17511 closed

[2021-02-13 19:54] micajuine-ho commented on #32633
Hi @greghuet, thank you for your issue report.

However, in this case amp-form is following the MDN standard of what constitutes a valid email:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email#value

If you'd like to see a change made, I'd recommend reaching out to standard committee to try to change this validation, or add a `pattern` field in your input element https://amp.d

[2021-02-13 19:54] #32633 closed

[2021-02-14 03:54] abhiz10 opened #32653 "amp-story-auto-ads not Showing AdSense Ads in Desktop & iOS"
I can't see the Adsense Ads in Desktop view. I have implemented the code as per the guidelines given in [Monetize your Web Stories](https://support.google.com/adsense/answer/10175505)
Please the implementation once ~ https://travel.visualstories.com/canada-fun-interesting-facts

and also after Implementing AdSense getting a warning in the console [#31606 ](https://github.com/ampproject/amphtml/iss

[2021-02-14 18:57] ampprojectbot opened #32654 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CIbTiv6mmOXw2wE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 8,919/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102130314000/src/log.js#L702">src/log.js:702</a>:16)
    at apply (<a href="https://github.com/amppro

[2021-02-14 18:57] ampprojectbot opened #32655 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CIbTiv6mmOXw2wE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 8,919/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102130314000/src/log.js#L702">src/log.js:702</a>:16)
    at apply (<a href="https://github.com/amppro

[2021-02-14 18:57] ampprojectbot opened #32656 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CIbTiv6mmOXw2wE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 8,919/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102130314000/src/log.js#L702">src/log.js:702</a>:16)
    at apply (<a href="https://github.com/amppro

[2021-02-14 18:57] ampprojectbot opened #32657 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CIbTiv6mmOXw2wE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 8,919/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102130314000/src/log.js#L702">src/log.js:702</a>:16)
    at apply (<a href="https://github.com/amppro

[2021-02-14 18:57] ampprojectbot opened #32658 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CIbTiv6mmOXw2wE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 8,919/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102130314000/src/log.js#L702">src/log.js:702</a>:16)
    at apply (<a href="https://github.com/amppro

[2021-02-14 18:57] ampprojectbot opened #32659 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CIbTiv6mmOXw2wE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 8,919/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102130314000/src/log.js#L702">src/log.js:702</a>:16)
    at apply (<a href="https://github.com/amppro

[2021-02-15 11:51] rnkimani opened #32666 "amp-story-player: Loader visible after story is loaded"
## What's the issue?
- Loader is still visible after story is rendered.

## How do we reproduce the issue?
- Inspect [here](https://tappable-sdk.web.app/test.html)

- My current approach: So what's happening there is the story is being served as an iframe in a web component.
So it's rendering something like

[code]

## What browsers are affected?
- all
## Which AMP version is affected?
- latest
cc

[2021-02-15 19:52] nickFalcone commented on #32666
Hi @rnkimani, I can see this behavior on the link you shared.

However, I wasn't able to reproduce with `<amp-story-player>` alone. I made a quick [demo](https://raspy-faint-hub.glitch.me/) including an embedded AMP story (source https://glitch.com/edit/#!/raspy-faint-hub).

It looks like the spinner visibility is set by [amp-story-player.css](https://github.com/ampproject/amphtml/blob/a6fe54bce39

[2021-02-15 20:38] #17257 closed

[2021-02-15 20:56] #16910 closed

[2021-02-16 06:02] kdnanmaga commented on #28120
@nainar

I tried implementing amp-onetap-google and got the following error on the browser console:
`Refused to display 'https://accounts.google.com/o/oauth2/auth?client_id=99199563698-renu0s9sdukir1ijij853r3eovj5fre3.apps.googleusercontent.com&redirect_uri=http://localhost:8000/google-oauth2/complete/google-oauth2/&state=qn3mfmfBf5I3ejWMNmI21XMdsQdpUlqI&response_type=code&scope=https://www.google

[2021-02-16 06:23] kdnanmaga opened #32668 "amp-onetap-google not working"
## What's the issue?

I am trying to implement one tap login ([https://amp.dev/documentation/components/amp-onetap-google/](https://amp.dev/documentation/components/amp-onetap-google/)) on my amp page. It is supposed to show a pop-up prompting the user to login with Google Account.

The popup does not show up and I see the following error in the console (Chrome)
`Refused to display 'https://accoun

[2021-02-16 07:33] vora1993 opened #32669 "data-poll-interval is not respected for amp-live-list and polling always happens at 15 seconds"
Trying to add data-poll-interval value as 45000 as I want my server to be polled at every 45 seconds. But it is not working and my server is polled every 15 seconds

[2021-02-16 08:29] rnkimani commented on #32666
Yeah. I'm working on the Tappable end.

[2021-02-16 09:45] footpathsfaded opened #32670 "Empty Cookie issue"
Hello team,

I am not an expert at code, so I need a simple answer.

I believed until today that your AMP plugin does not use cookies.

On Chrome when I opened the link (https://topelectricsuv.com/news/hyundai/hyundai-bayon-gdi-engine-amt/amp/) and in the address bar when I clicked on the Lock symbol, I get (1 in use) next to Cookies, and when I explored that, I find that there is “Local Storage”

[2021-02-16 14:17] edoudou opened #32676 "[amp-story-player] show and go method does not load story"
**Critical issue as it make the player with multiple stories barely usable.**

## What's the issue?

When under some precise condition, the `show` or `go` method does not load the stories inside a player.

## How do we reproduce the issue?

Tricky way to reproduce every time :
1. Go on a page with a player containing multiple stories (cf examples)
2. Start on the first and read every stories using

[2021-02-16 15:05] powellish commented on #32583
@alanorozco confirming `data-block-on-consent` doesn't fix the issue. We've pushed it to a publicly available environment [here](https://www.newschainonline.com/celebrity/what-expect-oprahs-tv-tell-all-interview-prince-harry-and-meghan-markle-98685?amp). If you look in the console after you've given consent in the cmp, you'll see space maxing out with the additional consent param.

[2021-02-16 16:15] mszylkowski opened #32678 "[Story responsiveness] Set overflow to visible on preset layers"
Currently on grid-layers, the CSS is set to overflowing elements are hidden. With presets, we want to encourage publishers to position items partially outside the preset layer so it can fill the margins properly.

We can consider setting `overflow: visible` on only preset layers or all layers, which will impact all stories but could be benefitial in most cases.

https://github.com/ampproject/ampht

[2021-02-16 16:47] gmajoulet commented on #32676
@Enriqe is looking into it and will determine whether this is a P0 or P1

[2021-02-16 16:49] choumx opened #32680 "amp-story-ads.md out of date"
This seems out of date:

https://amp.dev/documentation/guides-and-tutorials/develop/advertise_amp_stories/

Pointed out by WP support rep Lucky.

/cc @ampproject/wg-stories

[2021-02-16 16:51] gmajoulet commented on #32680
cc @calebcordry could you help us with some actionable steps to fix this? Thanks!

[2021-02-16 16:54] gmajoulet commented on #32678
Can you link to the code that sets `overflow: hidden;` on the `grid-layer`s?
My understanding of our code was that `amp-story-page` had `overflow: hidden;`, but not `grid-layer`, for the very reason you mentioned. I think people from the WordPress tool asked for this a while ago but it was already how it works.

[2021-02-16 16:59] mszylkowski commented on #32678
It's in user-overrideable which is a good idea that others can override, but we shouldn't have that as the default on `preset` layers for the reasons mentioned above (and maybe on all layers?). Linked the code in the description of the PR.

[2021-02-16 17:09] #32644 closed

[2021-02-16 17:10] tholman opened #32681 "[stories] amp-skimlinks not allowed in web stories"
Currently `amp-story` must be the only element in the root for validation & `amp-skimlinks` is not allowed in the `amp-story` meaning we can not monetize the stories (aside from regular ads, or hard coding the links)

```Tag 'amp-skimlinks' is disallowed as child of tag 'amp-story'. Child tag must be one of ['amp-analytics', 'amp-consent', 'amp-geo', 'amp-pixel', 'amp-sidebar', 'amp-story-auto-ads

[2021-02-16 17:59] Enriqe commented on #32676
I just spend some time debugging and the issue seems to be gone in the newest pre-release ([2102060044001](https://github.com/ampproject/amphtml/releases/2102060044001)) which is the latest beta and will be released later today to stable.

I’m still not sure what caused the issue but it’s very possible that it’s an issue with the old implementation which didn’t include the newest refactoring.

I’l

[2021-02-16 18:04] danielrozenberg opened #32684 "❄️ Fix flaky visual diff test `amp-video-docking (left-to-right) (displays scrollback button on ad (controls on tap))`"
e.g., https://percy.io/ampproject/amphtml/builds/8876280/changed/503549685

[2021-02-16 18:06] danielrozenberg opened #32685 "❄️ Fix flaky visual diff test `amp-story: basic`"
e.g., https://percy.io/ampproject/amphtml/builds/8876280/changed/503548953

[2021-02-16 18:26] alanorozco commented on #32583
@powellish The `amp-consent` popup is not showing for me (geo?). Do you have an isolated example?

[2021-02-16 18:27] udaya-m-taboola opened #32687 "I2I: amp-analytics support for Taboola"
## Summary
Tracking a page view on publisher pages with Taboola integrated on them

## Design document

## Motivation

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

## Launch tracker

cc @ampproject/wg-analytics

[2021-02-16 18:30] alanorozco commented on #32632
`amp-video-iframe` is the component you need. You can use the document you're currently loading and [insert a script](https://amp.dev/documentation/components/amp-video-iframe/#integration-inside-the-frame) so that it can comunicate with the AMP host.

[2021-02-16 18:35] danielrozenberg commented on #32684
@ampproject/wg-components

[2021-02-16 18:36] danielrozenberg commented on #32685
@ampproject/wg-stories

[2021-02-16 18:36] mrcferri opened #32688 "Amp-ad extension missing or incorrect (Top Warnings)"
I've just received the following message:

_Search Console has identified that your site is affected by 1 AMP issues:
Top Warnings
.....
The tag 'amp-ad extension .js script' is missing or incorrect, but required by 'amp-ad'. This will soon be an error.
We recommend that you fix these issues when possible to enable the best experience and coverage in Google Search._

No URLs of example pages havin

[2021-02-16 18:36] alanorozco commented on #32631
- **`autoplay`** works if you use `amp-video-iframe`. As long as you [follow the instructions](https://amp.dev/documentation/components/amp-video-iframe/#integration-inside-the-frame) to implement `mute()`, it should work just fine.

- By **sticky**, do you mean allowing the video to stick to an edge of the viewport? If so, using `amp-video-iframe` in conjunction with [`amp-video-docking`](https:/

[2021-02-16 18:52] alanorozco commented on #32684
This inconsistency may be masking a different issue. This test started flaking recently (`O(weeks)`?), but it had been working fine from its introduction 15 months ago (d4089492e054c50edee549a491856005c30d750a).

[2021-02-16 19:02] danielrozenberg commented on #32684
That's pretty much the definition of test flakiness :)
It could be a runtime change, or changes in browser versions, etc...

[2021-02-16 19:27] alanorozco commented on #32670
Hi @footpathsfaded

AMP may use Local Storage for features like navigation history management, paywalls and analytics, for example. [Most usages are listed on this search result page.](https://github.com/ampproject/amphtml/search?q=storage.setItem)

Your website doesn't appear to use any of these features, but AMP may try reading (non-existent) Local Storage values to detect them. By only trying t

[2021-02-16 19:27] #32670 closed

[2021-02-16 19:29] alanorozco commented on #32688
cc @ampproject/wg-caching

@mrcferri Would you mind sharing an affected URL?

[2021-02-16 19:30] alanorozco commented on #32681
cc @newmuis

[2021-02-16 19:46] Gregable commented on #32688
The author mentioned that they couldn't find any specific URL, just a site-level warning.

I don't know that amp project can help much without an URL to debug. You probably want to reach out to Search Console support for more details first.

I will say that this has been a warning for years now and we will likely not make it into an error without significant outreach due to the large number of doc

[2021-02-16 19:46] #32688 closed

[2021-02-16 19:59] danielrozenberg commented on #32461
After running for a couple of days, it looks like #32554 fixed the crux of the flakiness, and I removed two tests that were individually flaky with #32686

I contacted Percy to ask for a timeline for updating their server-side Chrome version used for performing the diffs, will update those involved offline

Closing this issue as this seems resolved - please reopen or create another issue if you en

[2021-02-16 20:00] #32461 closed

[2021-02-16 20:36] #15065 closed

[2021-02-16 20:36] #24036 closed

[2021-02-16 20:48] caroqliu commented on #27408
cc @rcebulko given related work

[2021-02-16 22:26] dvoytenko commented on #31122
Done. Available via `MediaQueryProps` utility.

[2021-02-16 22:26] #31122 closed

[2021-02-16 22:39] rcebulko opened #32693 "I2I: `src/shared` directory with no runtime dependencies"
# Runtime-Free Source Files

## Overview

The main `amphtml/src` directory holds  over 100 JS  files (almost 300 if you count subdirectory contents). Some of these files are isolated utilities like date parsing, string manipulations, etc. Others seem like small utilities, but may actually depend on large chunks of the runtime and a whole web of dependencies

**Example of issue**: At the time of th

[2021-02-16 22:50] rcebulko commented on #32693
Related to https://github.com/ampproject/amphtml/issues/27408

[2021-02-16 23:04] dvoytenko opened #32694 "Bento: history support"
One option:

1. Trivial cancelation-API-via-history provided via context. Falls back on `history.push` and `history.onpopstate`. This API is overridable for AMP to work via history service.
2. Navigation interceptor inside the popups (sidebar, lightbox, etc) to manage hash and document navigations to avoid break history state.

[2021-02-16 23:14] micajuine-ho commented on #32659
/cc @samouri This is coming from https://github.com/ampproject/amphtml/pull/32637. Not sure if we should do anything about it, based off its frequency.

[2021-02-16 23:19] micajuine-ho commented on #32583
I am in the same boat as Alan (being US based we can't easily get amp-consent to trigger). Could you perhaps made a demo page where `consentRequired` was always true instead of based off of geolocation?

Off the top of my head, I would probably say it's a syncing issue w/ `checkConsentHref`; the video-iframe gets unblocked with the previously stored consent information (that has the additional con

[2021-02-16 23:28] micajuine-ho commented on #32588
What is the value in that local storage key before you 'accept' the consent UI?

[2021-02-16 23:35] calebcordry commented on #32603
cc/ @ampproject/wg-monetization this will be brought to tomorrow's design review.

[2021-02-17 00:04] calebcordry commented on #32680
Thanks for the catch!

[2021-02-17 00:19] #32680 closed

[2021-02-17 00:34] devmiguelopz commented on #29978
In the same way, in my case I have to scroll slowly to load the pages, also in case it reaches the last element very fast, it stays with the recommendation box. Any recommendation for it?

[2021-02-17 00:53] samouri commented on #32659
This specific error message is new, but the we should be seeing it take the place of some other less specific error.
I'd consider it P2 or P3

[2021-02-17 04:47] devmiguelopz commented on #29978
![image](https://user-images.githubusercontent.com/29931921/108155468-ee527800-70ac-11eb-89cc-3a1bc7622308.png)
The problem is, that it reaches the end of the page and has not rendered yet, so when it comes across the if it cancels the rendering

[2021-02-17 09:17] #23934 closed

[2021-02-17 12:41] mxdvl commented on #32588
This is done from an incognito window, so `localStorage` is completely empty. Clicking “accept” is what triggers it. It doesn’t change from that point on.

[2021-02-17 14:48] morsssss commented on #31361
I concur - #31607 is designed to provide exactly the sort of granular consent that I believe you're looking for!

Please reopen this if you think we're missing anything.

[2021-02-17 14:48] #31361 closed

[2021-02-17 14:58] micajuine-ho commented on #32659
Do you mean in terms of how it's originating, i.e. not from amp-form?

Dev errors get stripped in prod right?

[2021-02-17 15:05] micajuine-ho commented on #32588
I see. Would it be possible to create a demo page, where consent is always required, rather than just in EU?

[2021-02-17 16:50] gilbertococchi commented on #32631
Hi believe @SIbu1981 point was on how Docking is possible with amp-video-iframe.

amp-video-docking allows docking only if the video has not autoplay but it seems like other AMP certified players allow this behaviour.

[2021-02-17 16:52] emmett9001 commented on #29324
@zhouyx @rebeccanthomas is session_id available in AMP yet? when might we expect it to be if not?

[2021-02-17 16:56] rcebulko commented on #32177
Related: #32334, #32358

[2021-02-17 16:56] #32177 closed

[2021-02-17 16:59] alanorozco commented on #32631
This is incorrect. [amp-video-iframe works just fine with `dock`, here's an example.](https://playground.amp.dev/?format=websites&_gl=1*v51xdo*_ga*YW1wLWhjeGphNFd5d0llY2F3ano4M3ZoM0E.#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoSBsYW5nPSJlbiI+CjxoZWFkPgo8bWV0YSBjaGFyc2V0PSJ1dGYtOCI+CiAgPHRpdGxlPmFtcC12aWRlby1pZnJhbWU8L3RpdGxlPgogIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJodHRwczovL2FtcC5kZXYvZG9jdW1lbnRhdG

[2021-02-17 17:03] caroqliu commented on #32693
Bikeshed: `src/core`, `src/standalone`, or `src/plain`? `src/shared` is a bit confusing since the concept of "sharing" is relative to its use, which is only given meaning by already knowing how it's being shared.

In particular want to avoid `src/pure` (and would recommend even renaming `pure-assert`) due to its loaded social connotations, i.e. with the [social purity movement](https://en.wikipedi

[2021-02-17 17:09] gilbertococchi commented on #32631
Thanks Alan, sorry I meant to say the same, the limitation is expected on amp-video-iframe + amp-video-docking but other combo with amp-video-docking with other players are indeed allowing docking without user interaction with a video in autoplay.

[2021-02-17 17:11] alanorozco opened #32706 "amp-brightcove should not be able to dock when autoplaying"
An autoplaying video can only be docked after a user interacts with it by clicking.

That's not the case on the `<amp-brightcove>` video on [this document](https://sport-virgilio-it.cdn.ampproject.org/v/s/sport.virgilio.it/la-procura-apre-nuovo-caso-tifosi-juve-e-caccia-alle-streghe-675112/amp/?usqp=mq331AQFKAGwASA%3D&amp_js_v=0.1#origin=https://www.google.com&cid=1&prerenderSize=1&visibilityState

[2021-02-17 17:11] alanorozco commented on #32631
@gilbertococchi One player seems to get around this limitation somehow, which it should not. Tracking separately #32706

[2021-02-17 17:15] rcebulko commented on #32693
Absolutely agree

[2021-02-17 17:17] dvoytenko commented on #32693
And another food for thought: are we going to dupe `devAssert` and similar utilities? Or will we just immediately try to make them "pure" for all existing code? TBH, I feel like it'd be nice to go for the wholesome replacement right away or very soon.

[2021-02-17 17:17] mszylkowski commented on #29500
There is a chance that this happens automatically since the mediapool doesn't load videos that are more than 2 pages away, so they will never call the `resetOnDomChange`. And hopefully, videos managed that are on previous pages are already loaded so the PR in #32600 will prevent them from loading.

Still, let's keep this PR open so we track this as the changes get merged and we can test this.

[2021-02-17 17:19] rcebulko commented on #32693
+1 to simplifying `devAssert` and `userAssert` throughout. Will look into it and see if they rely heavily on the logging bits or if they can be stripped down and `log.js` can depend on them seprately

[2021-02-17 17:21] dvoytenko commented on #32693
I think we should just go ahead and break the dependency with `log.js` asap.

[2021-02-17 17:27] #31437 closed

[2021-02-17 17:30] alanorozco commented on #32706
cc @mister-ben

[2021-02-17 18:07] Enriqe commented on #32676
New release has been promoted to stable today. I also tried out the samples and confirmed I can't repro the issue anymore.

[2021-02-17 18:07] #32676 closed

[2021-02-17 18:27] adamsilverstein commented on #30176
Hey @micajuine-ho - I have one follow up question about the AMP linker vs. using the non-AMP Analytics linker:

We noticed that on non-AMP pages the tracking query parameter decorating links is `_ga` and on AMP it is `_gl`. Is this expected/correct?

[2021-02-17 18:52] caroqliu commented on #32655
Dedup with #32654

[2021-02-17 18:52] #32655 closed

[2021-02-17 18:53] caroqliu commented on #32656
Dedup with #32654

[2021-02-17 18:53] #32656 closed

[2021-02-17 18:53] caroqliu commented on #32657
Dedup with #32654

[2021-02-17 18:53] #32657 closed

[2021-02-17 18:53] caroqliu commented on #32658
Dedup with #32654

[2021-02-17 18:53] #32658 closed

[2021-02-17 18:54] caroqliu commented on #32654
I'd been deduping issues with this one, but since I just noticed there is a partial thread in #32659 I'll close this and others in reference to that one.

[2021-02-17 18:54] #32654 closed

[2021-02-17 18:55] caroqliu commented on #32659
Likely related? https://github.com/ampproject/error-reporting/issues/54

[2021-02-17 18:55] alanorozco commented on #32706
Video inside an `<amp-brightcove>` element's iframe may autoplay without the `autoplay` attribute. [Isolated example here.](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiIC8+CiAgPHRpdGxlPmFtcC1icmlnaHRjb3ZlIGRvY2sgbm8gYXV0b3BsYXk8L3RpdGxlPgogIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgPG1ldGEgbmFtZT0idmlld3BvcnQiIGNvbn

[2021-02-17 19:18] dvoytenko opened #32710 "🌸 Cherry-pick request for #32530 into #32592 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32530 | #32530 |     **NO*

[2021-02-17 19:18] samouri commented on #32659
TODO: fix error message so it doesn't get reported as %s [...]. Does anyone know best practice here? Should I report the target `tagName` instead?

[2021-02-17 19:31] kristoferbaxter commented on #32710
Approved.

Can we followup quickly with some tests for this issue? The current solution is documented only inline.

[2021-02-17 19:54] dvoytenko commented on #32710
The tests are in https://github.com/ampproject/amphtml/pull/32711

[2021-02-17 20:50] Tudmotu opened #32712 "Inconsistent behavior of initialConsentMetadata in different CMPs"
## What's the issue?
`window.context.initialConsentMetadata` behaves inconsistently between different CMPs and different consent types (GDPR / CCPA). This inconsistency makes it difficult for 3p providers to identify which consent type is being used, and basically means we cannot rely on `window.context.consentMetadata` and have to resort to other ways of identifying the consent type / value.

##

[2021-02-17 20:54] monis0395 opened #32713 "Vendor callouts are not sent for all configured vendors from the page even when vendor list is <= 5"
## What's the issue?
Vendor callouts are not sent for all configured vendors from the page even when vendor list is <= 5

Briefly describe the bug.

We noticed a drop in incoming requests from our AMP customers starting 16:45 UTC on 17th Feb, 2021. On investigating we found an issue where the vendor callouts were not sent for all configured vendors from the page. We identified that there are dupli

[2021-02-17 21:08] lannka opened #32715 "RTC not firing in the new release 2102060044001"
Received 2 reports in Slack.

PRs in this release: https://github.com/ampproject/amphtml/compare/2101300534005...2102060044001

This one touches RTC code: https://github.com/ampproject/amphtml/pull/32386

[2021-02-17 21:09] lannka commented on #32715
Some repro links provided by pubs:
https://www.google.co.uk/amp/s/www.telegraph.co.uk/football/2021/02/17/everton-vs-manchester-city-premier-league-live-score-latest/amp/
https://www.google.co.uk/amp/s/www.mirror.co.uk/sport/football/news/thierry-henry-explaining-gets-tired-23518899.amp

[2021-02-17 21:14] jridgewell commented on #29324
Yuxuan moved to Youtube. Pinging @lannka to triage.

[2021-02-17 21:14] lannka commented on #32715
Likely we need an immediate rollback of the release. @erwinmombay

[2021-02-17 21:38] AskRupert-DM commented on #32713
This seems related too https://github.com/ampproject/amphtml/issues/32715

[2021-02-17 21:42] dvoytenko commented on #30291
Runtime launch is at 100%

[2021-02-17 21:48] lannka commented on #32715
thanks @AskRupert-DM who just provided some valuable insights from debugging the issue.
#32713

[2021-02-17 21:57] processprocess opened #32716 "[Page attachments] [Outlink] Theme attribute"
Use a `theme` attribute to switch `light` and `dark` color scheme.

Style updates such as up arrow, chip and font can also be included in this PR.

<img width="728" alt="Screen Shot 2021-02-17 at 4 56 19 PM" src="https://user-images.githubusercontent.com/3860311/108273086-18ee1080-7141-11eb-858e-734ff595cb88.png">

@ampproject/wg-stories

[2021-02-17 22:03] processprocess opened #32717 "[Page attachments] [Outlink] Default “link” icon"
Add a default link icon that respects theme.
Allow a way for publishers to opt out of the link icon displaying.

<img width="797" alt="Screen Shot 2021-02-17 at 5 00 45 PM" src="https://user-images.githubusercontent.com/3860311/108273555-b21d2700-7141-11eb-885f-a8125e9bb3dd.png">

This image will be customizable in a follow up PR. Using `background-image` might work well to build from.

@ampprojec

[2021-02-17 22:12] processprocess opened #32718 "[Page attachments] [Outlink] Accent color"
Accept an accent color that will:

- Configure the font color if light theme
- Configure the background color if dark theme

To ensure contrast use [`getTextColorForRGB`](https://github.com/ampproject/amphtml/blob/a69f1d6c5df1d69151987dd91d4bedc23fc3aa70/extensions/amp-story/1.0/utils.js#L144-L175).
It will tell whether `black` or `white` will pair better with the specified accent color.

<img wid

[2021-02-17 22:13] Enriqe commented on #32666
Are you importing the right CSS script for the player? I inspected the CSS you're using in your demo and it doesn't match the [required script](https://github.com/ampproject/amphtml/blob/master/spec/amp-story-player.md#-amp-story-player).

Your demo's CSS:
![image](https://user-images.githubusercontent.com/5449100/108274803-653a5000-7143-11eb-810e-fd1eda37b712.png)

As @nickFalcone mentioned, the

[2021-02-17 22:14] processprocess opened #32719 "[Page attachments] [Outlink] Custom icon"
Accept a customized icon if publisher wants to override the default.

<img width="322" alt="Screen Shot 2021-02-17 at 5 14 24 PM" src="https://user-images.githubusercontent.com/3860311/108274967-97e44880-7143-11eb-9ad9-4bd0a122c5c9.png">

@ampproject/wg-stories

[2021-02-17 22:21] Jiaming-X commented on #27712
The issue was resolved. Closing the ticket now.

[2021-02-17 22:21] #27712 closed

[2021-02-17 22:22] Jiaming-X commented on #28279
The issue was resolved. Closing the ticket now.

[2021-02-17 22:22] #28279 closed

[2021-02-17 22:22] Jiaming-X commented on #28403
The issue was resolved. Closing the ticket now.

[2021-02-17 22:22] #28403 closed

[2021-02-17 22:37] AskRupert-DM commented on #32715
Thanks - can't take credit for the debugging that came from @monis0395

Has the release been reverted? Can see those pages behaving as expected/the RTC calls going out

[2021-02-17 22:44] trivedi opened #32720 "amp-consent with TCF integration and geolocation flow"
## Describe the new feature or change to an existing feature you'd like to see

`amp-consent` finally has CMP/TCF integration. While there is still room for improvement, this is a step in the right direction.

Right now we're using OneTrust as our CMP. They have an AMP integration described [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/cmps/onetrust.md). The probl

[2021-02-17 22:50] #23685 closed

[2021-02-17 22:51] lannka commented on #32715
woops. my mistake. yes, the release has been rolled back. we will be further investigating into this issue. and provide a real fix.

[2021-02-17 22:56] AskRupert-DM commented on #32715
Cool can see things looking normal / behaving as expected following the rollback - thanks for jumping on it & getting it rolled back so quick

[2021-02-17 23:01] Gregable commented on #32277
I think the first part of this (adding `&display=optional` to Google Fonts) would be a nice Fixit week project. @kristoferbaxter , do you think this is safe to just do or would we need a user experiment to evaluate impact? If the latter, this is probably larger than a fixit week project.

[2021-02-17 23:18] micajuine-ho commented on #29324
The @ampproject/wg-components will be taking over this work. @rebeccanthomas Let's figure out when to prioritize this in our next sprint planning meeting.

[2021-02-17 23:58] powerivq opened #32724 "🌸 Cherry-pick request for #32713 into #32592 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32713 | #32723 |     **YES

[2021-02-18 00:09] mattwelke commented on #29324
Hey folks, I won't be available to provide more feedback because we ended up implementing this server side instead so that we wouldn't be reliant on this feature existing in any web browser framework.

[2021-02-18 00:10] #31374 closed

[2021-02-18 00:39] kristoferbaxter commented on #32724
Approved.

[2021-02-18 03:34] #30244 closed

[2021-02-18 07:41] powerivq commented on #32713
The root cause is that https://github.com/ampproject/amphtml/pull/32386 uses a single instance of RTCManager for all elements on one page. Therefore rtc invocations are accumulated, causing this error.

[2021-02-18 11:43] rnkimani commented on #32666
Yes. It was being purged. Thanks :)

[2021-02-18 11:43] #32666 closed

[2021-02-18 12:45] mister-ben commented on #32706
Looking into this. We could disable the player's internal autoplay setting. I don't think delaying the load of all non muted players is reasonable.

#32714 has the effect of making the amp-brightcove that does have the autoplay attribute at examples/brightcove.amp.html require a click to show the play button and another to play.

[2021-02-18 15:31] mxdvl commented on #32588
Sure, here’s that demo page: https://guardian-amp-tests.netlify.app/stage/2018/aug/07/user-not-found-review-traverse-jeelie-piece-cafe-edinburgh

[2021-02-18 16:11] alanorozco commented on #32706
That would be great. Please let me know.

[2021-02-18 17:15] Gregable commented on #28302
I think what we want here is potentially warnings if either of the following are true:

1. an `on` attribute on the pages contains `"AMP.setState"` but `amp-bind.js` is missing.
2. `amp-bind.js` is present but no `on` attribute on the pages contains `"AMP.setState"`.

If anyone sees any mistake in that logic, let me know. Confirmation that this sounds right is also helpful!

[2021-02-18 17:30] estherkim opened #32730 "Reinstate push build failure notifications for build cop"
With TravisCI the build cops got an email notification every time a push build failed. We don't seem to get them from CircleCI.

[2021-02-18 17:30] gmajoulet commented on #32685
It looks like the issue is related to the image not loading, which would be a Percy issue more than a "amp-story: basic" test issue? Do we have a ticket to track images loading issues? That might be more actionable.

[2021-02-18 17:35] #30891 closed

[2021-02-18 17:39] gmajoulet commented on #32716
Can we create a different ticket to move the existing implementation to a Shadow DOM? It's not that straightforward and definitely deserves its own PR. Also, I think we should extract the open attachment UI to its own file, it's getting pretty big.

[2021-02-18 17:47] gmajoulet opened #32731 "[Story video] Don't call load() if sortSources was a noop"
If calling `sortSources()` doesn't change the order of the video sources, we should not call load() and start the media selection process + preloading again.

cc @ampproject/wg-stories @mszylkowski

[2021-02-18 17:58] edoudou commented on #31424
@Enriqe Is there any advancement on this FR ?

It should be possible to rewind a story you are not currently on, so you could rewind the story on a `navigation` event if the user have already completed it.

Maybe using `player.rewindStory(storyUrl)`.

[2021-02-18 18:04] #26432 closed

[2021-02-18 18:33] processprocess opened #32734 "[Page attachments] Move existing implementation to shadow dom"
Put inline and outlink attachments in [Shadow DOM](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM).
This enables us to enforce styling.

A helper util is available here [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/utils.js#L101) for shadow DOM.

This should be done as a pre-cursor to the new CTA updates.

@ampproject/wg-stories

[2021-02-18 18:40] #32713 closed

[2021-02-18 18:40] #32715 closed

[2021-02-18 18:40] powerivq commented on #32715
Root cause has been identified and the feature is being reworked.

[2021-02-18 18:41] processprocess commented on #32716
Shadow DOM PR #32734

Currently attachment logic is in amp-story-page [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story-page.js#L1751-L1802) and [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story-page.js#L165-L179)
It's also in [amp-story-page-attachment](https://github.com/ampproject/amphtml/blob/master/extensions/

[2021-02-18 18:54] danielrozenberg commented on #32685
Yep! You're right, should've looked deeper into this before opening an issue. I emailed Percy support for help

[2021-02-18 19:25] processprocess opened #32736 "[Page attachments] [Outlink] Extract open attachment UI to its own file"
Currently page attachment logic is in `amp-story-page` [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story-page.js#L1751-L1802) and [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story-page.js#L165-L179)

This can be extracted into its own file.

@ampproject/wg-stories

[2021-02-18 19:48] #32597 closed

[2021-02-18 21:08] rcebulko opened #32739 "[DRAFT/WIP - PLEASE IGNORE] I2I: Minimal assertion/error infrastructure in Bento"
## Overview

**AMP** uses a web of helpers to manage reporting errors. **User errors** are caused by publishers providing invalid configurations or using components incorrectly. **Dev errors** are issues within AMP code itself, such as a component failing due to a race condition or timeout with the viewer. User errors include a sentinel string of zero-width spaces so they can always be identified

[2021-02-18 21:27] #29498 closed

[2021-02-18 22:03] #30620 closed

[2021-02-18 22:19] samouri opened #32743 "enable async/await"
**summary**

Not possible due to size inflation on Origins

[2021-02-18 22:23] #27362 closed

[2021-02-18 22:30] samouri commented on #24076
I support this issue, but I'm not sure it belongs as an issue.  It isn't high enough priority for anyone to take on single handedly as well as it is difficult to know when it is "done".

In an effort to clean up the repo, i'm closing but feel free to reopen if you disagree!

Thanks,
Jake

[2021-02-18 22:30] #24076 closed

[2021-02-18 23:07] erwinmombay commented on #32669
cc @ampproject/wg-components

[2021-02-19 02:21] eliotharper opened #32745 "Form is submitted when textarea fields are a patternMismatch"
## What's the issue?

Form is automatically submitted when textarea fields are a patternMismatch

## How do we reproduce the issue?

I'm using AMP for Email, but the same issue occurs on AMP websites.

1. [Load AMP HTML in AMP Playground](https://playground.amp.dev/?mode=Responsive&runtime=amp4email#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoTRlbWFpbCBkYXRhLWNzcy1zdHJpY3Q+CjxoZWFkPgogIDxtZXRhIGNoYXJzZ

[2021-02-19 04:19] samouri commented on #19905
Closing since AFAIK we don't plan on staffing an effort to implement a quicklink component

[2021-02-19 04:19] #19905 closed

[2021-02-19 04:26] samouri commented on #27808
Sorry to report this, but `amp-script` [does not support](https://amp.dev/documentation/components/amp-script/#creating-amp-elements) creating lightboxed images dynamically. This is something we are working to address with part of [Bento](https://blog.amp.dev/2021/01/28/bento/), but I don't have an estimate of when this will fully launch.

Deduping with: https://github.com/ampproject/amphtml/issue

[2021-02-19 04:26] #27808 closed

[2021-02-19 04:30] #29138 closed

[2021-02-19 04:32] samouri commented on #29917
Solution: `amp-bind` should not be modifying elements within an amp-script :).

[2021-02-19 04:34] samouri commented on #30142
Whats the status of this issue?

[2021-02-19 04:36] samouri commented on #30623
@candice-womp: I'm going to close this issue and assume your problem is resolved. Please comment again if you are still seeing it!

Thanks

[2021-02-19 04:36] #30623 closed

[2021-02-19 04:38] samouri commented on #30856
@rcebulko: is it ok to close bugs like this in which the link no longer points to a valid error?

[2021-02-19 04:40] samouri commented on #31246
@dvoytenko: whats the status of this?

[2021-02-19 04:42] samouri commented on #31767
0 occurrences

[2021-02-19 04:42] #31767 closed

[2021-02-19 04:46] samouri commented on #30945
@rcebulko: can't find any traces of this any longer. Please LMK if I'm holding it wrong.

[2021-02-19 04:51] samouri commented on #30615
Deduping with https://github.com/ampproject/amphtml/issues/30608

[2021-02-19 04:51] #30615 closed

[2021-02-19 04:51] samouri commented on #30614
Deduping with #30608

[2021-02-19 04:51] #30614 closed

[2021-02-19 04:51] samouri commented on #30613
Deduping with #30608

[2021-02-19 04:51] #30613 closed

[2021-02-19 04:51] samouri commented on #30612
Deduping with #30608

[2021-02-19 04:51] #30612 closed

[2021-02-19 04:52] samouri commented on #30611
Deduping with #30608

[2021-02-19 04:52] #30611 closed

[2021-02-19 04:52] samouri commented on #30610
Deduping with #30608

[2021-02-19 04:52] #30610 closed

[2021-02-19 04:52] samouri commented on #30609
Deduping with #30608

[2021-02-19 04:52] #30609 closed

[2021-02-19 05:04] samouri commented on #27378
I don't think there is widespread enough demand to warrant us staffing a project to build this component.
As a workaround, it may be supportable today via `<amp-iframe>` or even `<amp-form>` as suggested on Stack Overflow.

If you are passionate about this component, we always happily accept open source [contributions](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contribute-co

[2021-02-19 05:04] #27378 closed

[2021-02-19 05:52] dvoytenko commented on #31246
I sent the final cleanup in #32746.

[2021-02-19 06:25] #23896 closed

[2021-02-19 09:48] alexandr-kazakov commented on #25344
I tried to add images with a lightbox using **amp-script**, but the lightbox does not work: https://github.com/ampproject/amphtml/issues/27808 I think this is an important feature.
It turns out that I can't add images to the lightbox gallery right now.

[2021-02-19 10:25] dritter commented on #31583
Thanks for the explanation @dvoytenko .
I am not sure what I saw. It looked to like there is a difference how the IFrame is brought back to life depending on how many slides I change. But I cannot reproduce this behavior. So, I close this issue as works as expected.

[2021-02-19 10:25] #31583 closed

[2021-02-19 11:58] dev-myvideo commented on #28331
Hello @alanorozco  and @cramforce
we are really **blocked**. Could you please give us feedback on how to proceed?

[2021-02-19 14:39] micajuine-ho commented on #32720
HI Trivedi, have you seen our documentation on [`geoOverride`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/amp-consent.md#geooverride)?

[2021-02-19 15:05] rcebulko commented on #30945
Error reports are only retained for a limited window (10k distinct RTV-stacktrace tuples), so older errors that haven't reoccurred get culled. If this is no longer appearing, it's either been resolved or has appeared in a new form/with a new stacktrace. When this occurs, it's generally safe to close the issue.

[2021-02-19 15:10] ptrickney opened #32748 "Allow external amp-consent flow to make iframe no-display before closing"
## Describe the new feature or change to an existing feature you'd like to see

Currently, when the consent-response is sent to the parent AMP page, the iframe is closed immediately. While it is expected that the UI be immediately removed from the user's view, the CMP on the external iframe may need to also send a record of consent for the user choice to an external server (this is required for GD

[2021-02-19 15:22] morsssss commented on #29917
This is true! I did indeed document it :) Don't suppose it's a case where we'd want `amp-bind` to throw a warning or something, if `amp-bind` even has the ability to search its ancestor elements for an `amp-script`...

[2021-02-19 15:29] rcebulko commented on #30856
See https://github.com/ampproject/amphtml/issues/30945#issuecomment-782131827 for general guidance.

In this case, there are numerous variants of this error message (incl. https://github.com/ampproject/amphtml/issues/28264 and https://github.com/ampproject/error-reporting/issues/50) so it's being tracked elsewhere. Should be safe to close.

[2021-02-19 15:58] TetraLogicalHelpdesk opened #32752 "🐛 `amp-story-bookend` preview/thumbnails missing `alt` attribute"
## 🐛 Bug Report

### Current behavior
While this was not part of the evaluation we were asked to carry out, we noticed that `<amp-story-bookend>` allows the addition of images (e.g. to reference related stories/resources). It appears that currently there's no way to provide alternative text for these images (going by the documentation at least)

- https://amp.dev/documentation/guides-and-tutorials

[2021-02-19 16:29] TetraLogicalHelpdesk opened #32751 "🐛 `amp-story-interactive` accessibility issues"
## 🐛 Bug Report

### Current behavior
While `<amp-story-interactive>` was not part of our recent accessibility assessment, we noticed (while going through the various parts of the documentation) that these have some serious fundamental issues:

- none of the controls for quizzes (the buttons for binary polls or interactive polls) are keyboard-accessible - they can't be focused nor selected when us

[2021-02-19 16:48] #30945 closed

[2021-02-19 17:16] #32743 closed

[2021-02-19 17:32] #31246 closed

[2021-02-19 18:01] micajuine-ho commented on #30176
I believe It's expected from their config they checked in: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors/googleanalytics.json#L66-L77

[2021-02-19 18:16] #30856 closed

[2021-02-19 18:50] rcebulko opened #32755 "Link to release calendar from release-schedule doc"
Link: https://amp-release-calendar.appspot.com/
Release schedule doc: https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md
Corresponding AMP.dev page: https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/

[2021-02-19 18:50] rcebulko commented on #32755
/cc @ampproject/wg-infra for fixit tracker (I didn't see a label or project)

[2021-02-19 19:21] #32710 closed

[2021-02-19 19:21] erwinmombay commented on #32710
this has been done

[2021-02-19 19:23] #32724 closed

[2021-02-19 19:29] rcebulko opened #32756 "dispatchCustomEvent from ActionInvocation#trigger"
Context: https://github.com/ampproject/amphtml/pull/32704#discussion_r578745389

[2021-02-19 20:15] jridgewell opened #32757 "🚄 Release tracking issue for release 2102130314000"
# Release tracking issue

This issue tracks release [2102130314000](https://github.com/ampproject/amphtml/releases/tag/2102130314000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2102060044003...2102130314000).

- [x] Release [2102130314001](https://github.com/ampproject/amphtml/releases/tag/2102130314001) created with cherry picks #32724
- [x] Release 21

[2021-02-19 20:15] #32592 closed

[2021-02-19 20:52] micajuine-ho commented on #32748
Does https://github.com/ampproject/amphtml/issues/30049 fit what you're trying to do?

[2021-02-19 21:31] ptrickney commented on #32748
Thanks for the response @micajuine-ho.

That enhancement does work when using a CMP via the integrated method (promptUIsrc). However, there are use cases where the CMP needs to be embedded via an amp-frame directly where the iframe SRC is not shared for all clients of that CMP, External User Consent Flow.

In this case the iframe is still being closed immediately, thus canceling the request.

[2021-02-19 21:38] caroqliu commented on #32523
Update: Exp. C is now available to compare to Experimental and Beta (1% traffic) as `122102130314001`

[2021-02-19 21:43] caroqliu opened #32759 "[amp-lightbox-gallery:1.0] Bento tracking issue"
## High-level requirements
| Consideration  | Ready when | Status |
| ------------- | ------------- | ------- |
| Component compatibility | [Conformance with 0.1 (see below)](https://amp.dev/documentation/components/amp-lightbox-gallery/) | ✅ |
| Testing | Unit tests and e2e tests from 0.1 | ✅ |
| Internationalization | n/a | n/a |
| Analytics | [Events](https://amp.dev/documentation/components/am

[2021-02-19 21:50] processprocess opened #32760 "[Page attachments] [Inline] Open to max of 80% of screen"
Open to max of 80% of screen.
Open to size of content if less than 80%.

Tapping the story in background should dismiss the attachment.

Scrolling the content will open it to 100%.

<img width="388" alt="Screen Shot 2021-02-19 at 4 47 59 PM" src="https://user-images.githubusercontent.com/3860311/108565174-41f1db00-72d2-11eb-9dc7-45b6bb50d1c9.png">
<img width="430" alt="Screen Shot 2021-02-19 at 4

[2021-02-19 21:55] processprocess opened #32761 "[Page attachments] [Inline] .5 overlay behind attachment"
Overlay to display behind attachment.

<img width="234" alt="Screen Shot 2021-02-19 at 4 54 16 PM" src="https://user-images.githubusercontent.com/3860311/108565693-23401400-72d3-11eb-97dc-16586ce28577.png">

@ampproject/wg-stories

[2021-02-19 21:57] processprocess opened #32764 "[Page attachments] [Inline] Draggable UI bar at top"
When not fully covering viewport, a draggable UI bar is displayed at top of attachment.
<img width="400" alt="Screen Shot 2021-02-19 at 4 56 53 PM" src="https://user-images.githubusercontent.com/3860311/108565915-829e2400-72d3-11eb-98df-430d192f0e65.png">

@ampproject/wg-stories

[2021-02-19 21:59] processprocess opened #32765 "[Page attachments] [Inline] Full view UI"
When fully open, an optional header and close icon appears.
Clicking the close icon should close the attachment.

<img width="395" alt="Screen Shot 2021-02-19 at 4 58 04 PM" src="https://user-images.githubusercontent.com/3860311/108566006-b1b49580-72d3-11eb-8ce8-fc8bde0fcbb9.png">

@ampproject/wg-stories

[2021-02-19 22:01] processprocess opened #32767 "[Page attachments] [Inline] Theme attribute for pre-tap state"
Use the theme attribute to switch its color scheme of the pre-tap state

<img width="861" alt="Screen Shot 2021-02-19 at 5 00 48 PM" src="https://user-images.githubusercontent.com/3860311/108566219-0c4df180-72d4-11eb-8416-d2017075da3c.png">

@ampproject/wg-stories

[2021-02-19 22:03] processprocess opened #32768 "[Page attachments] [Inline] Theme attribute for post-tap"
Use the theme attribute to switch its color scheme of the post-tap state.

<img width="1619" alt="Screen Shot 2021-02-19 at 5 02 48 PM" src="https://user-images.githubusercontent.com/3860311/108566372-52a35080-72d4-11eb-8315-0237208ca340.png">

@ampproject/wg-stories

[2021-02-19 22:15] #32580 closed

[2021-02-19 22:22] processprocess opened #32770 "[Page attachments] [Inline] Image preview UI"
Accept one or two images.
Text is optional.

<img width="1294" alt="Screen Shot 2021-02-19 at 5 18 45 PM" src="https://user-images.githubusercontent.com/3860311/108567864-06a5db00-72d7-11eb-8d0e-5865eea26356.png">
<img width="1757" alt="Screen Shot 2021-02-19 at 5 20 47 PM" src="https://user-images.githubusercontent.com/3860311/108567871-0b6a8f00-72d7-11eb-9823-9afbbfff0b37.png">

@ampproject/wg-s

[2021-02-19 22:24] processprocess opened #32771 "[Page attachments] [Inline] Theme Image preview UI"
Image preview respects theme attribute.

<img width="2637" alt="Screen Shot 2021-02-19 at 5 18 48 PM" src="https://user-images.githubusercontent.com/3860311/108567944-32c15c00-72d7-11eb-816c-33ca0cddc0be.png">

@ampproject/wg-stories

[2021-02-20 00:24] rsimha commented on #32755
Related: https://github.com/ampproject/amp-github-apps/issues/985

[2021-02-20 00:45] calebcordry commented on #27851
Hi all story ads for adsense have been launched! Please see the docs at https://support.google.com/adsense/answer/10175505?hl=en

[2021-02-20 00:45] #27851 closed

[2021-02-20 17:05] conroywhitney commented on #11455
@obeyer -- Thank you! Your comment was the one that finally got me across the finish line. It works! 🎉

For those who are still struggling with it, here's my Ruby on Rails code (I just put it in `app/models/amp_purge.rb` to test):

https://gist.github.com/conroywhitney/5084c51148bd2dd2a00e6c95947758ac

Call it like `AmpPurge.new("/foo/bar.amp").purge`, then open the final "Signed URL" in your brow

[2021-02-20 18:45] Shani-Kumar-Gupta opened #32775 "Getting status code 500 while hitting URL from iframeMessage amp-analytics of type adobeanalytics_nativeConfig"

[2021-02-21 06:06] westonruter commented on #27468
I'm closing this as obsolete since transformed AMP pages now allow 112.5KB of CSS per #32004. So this should no longer be needed.

[2021-02-21 06:06] #27468 closed

[2021-02-21 06:08] westonruter commented on #27468
Optimizers that create transformed AMP pages can just amend the CSS rules to `style[amp-custom]`.

[2021-02-21 11:03] omar-dulaimi commented on #31781
Any updates on this?

[2021-02-21 11:04] omar-dulaimi commented on #30182
Any updates on this?

[2021-02-21 11:05] omar-dulaimi commented on #30135
Any updates on this?

[2021-02-21 12:10] #32775 closed

[2021-02-21 15:12] #10546 closed

[2021-02-21 19:19] dlugoreality opened #32777 "Menu in mobile phone"
## What's the issue?
The menu on the mobile phone does not work.
The menu icon on the mobile is displayed, but it cannot be clicked and the menu does not open.

## How do we reproduce the issue?
https://www.listinskylubos.sk/

## What browsers are affected?
chrome in mobile phone

All browsers? Some specific browser? What device type?

## Which AMP version is affected?
Verzia 2.0.10 | Od AMP Proje

[2021-02-21 21:09] micajuine-ho commented on #32305
cc @dmanek Maybe we should take a look at this during fixit week :)

[2021-02-21 21:49] micajuine-ho commented on #21045
I believe https://github.com/ampproject/amphtml/pull/29620 closes this issue.

[2021-02-21 21:49] #21045 closed

[2021-02-21 21:54] micajuine-ho commented on #28543
Closed via #28597

[2021-02-21 21:54] #28543 closed

[2021-02-21 21:57] #24456 closed

[2021-02-21 21:57] #31082 closed

[2021-02-21 22:51] TetraLogicalHelpdesk opened #32780 "♿ Make validator explicitly look for `lang` attribute on document and `alt` on images?"
## Describe the new feature or change to an existing feature you'd like to see

A large part of the relatively trivial accessibility issues found during the recent audits of AMP components and documentation was the general lack of `lang` attributes on the `<html>` element and the lack of `alt` attributes on image elements (`<amp-img>`. `amp-anim`, etc).

These are the sort of omissions that are fl

[2021-02-22 00:31] micajuine-ho commented on #30385
@klipstein & @renebaudisch PRs have been merged under an experiment flag. Please let me know when you get a chance to test this feature, so we can continue with the rollout

[2021-02-22 02:29] micajuine-ho commented on #31898
Closed via #31945

[2021-02-22 02:29] #31898 closed

[2021-02-22 02:34] gmajoulet commented on #29811
Closed by https://github.com/ampproject/amphtml/pull/31448

[2021-02-22 02:34] #29811 closed

[2021-02-22 02:38] gmajoulet commented on #32493
Actionable eng items:

1. Switch the `aria-label` to the `button` elements and not the wrapping `<div>`
2. Switch the elements that are not buttons yet to be buttons
3. Some of the content is publisher provided (eg: amp-video or amp-img), and we add a default `aria-label=" "` when none is provided, we should make it completely empty `aria-label=""`

[2021-02-22 02:39] gmajoulet commented on #32494
This is being implemented in #32703

[2021-02-22 02:40] gmajoulet commented on #32495
This is unfortunately publisher provided content. Our accessibility guidance recommends using captions and this is a supported feature, but I don't believe there is anything more we can do at this point, except automatic caption/transcript generation, but this goes beyond this ticket.

[2021-02-22 02:40] #32495 closed

[2021-02-22 02:42] gmajoulet commented on #32496
Captions have to be provided by the publishers, which we do recommend but can't enforce.
Keeping this ticket open to discuss whether we should have a way to enable/disable captions, when available.

[2021-02-22 02:43] gmajoulet commented on #32498
Might be a duplicate of #31747

[2021-02-22 02:46] gmajoulet commented on #32499
We already have this implemented for sidebars, and should re-use the implementation. It's using these helpers:

https://github.com/ampproject/amphtml/blob/839bf12bd36e5ece81f8c9698cd3e377f232fc31/src/modal.js#L157-L252

[2021-02-22 02:47] gmajoulet commented on #32501
These colors have been picked by our design team, and the accessibility implications were considered. We should circle back with our designers before making changes.

[2021-02-22 02:50] gmajoulet commented on #32502
Users should not be able to modify the font size or spacing, as it breaks publishers layouts. IIRC this was discussed with our leads, but we should have this conversation again.

[2021-02-22 02:53] gmajoulet commented on #32508
Users can long press on the page to pause it. We should treat this as a UX and feature discovery issue more than an accessibility issue, as it impacts all users.

[2021-02-22 02:54] gmajoulet commented on #32509
Duplicate of https://github.com/ampproject/amphtml/issues/32508 as they're both related to how to pause the story's content.

[2021-02-22 02:54] #32509 closed

[2021-02-22 02:54] gmajoulet commented on #32510
Closing as this is related to our testing documents and doesn't reflect what happens in production with publisher created content.

[2021-02-22 02:54] #32510 closed

[2021-02-22 02:56] gmajoulet commented on #32513
@processprocess I believe some kind of "handle" to pan the content was discussed, could you provide an update on this?

[2021-02-22 02:57] gmajoulet commented on #32514
Action item: check if we can set a default `lang` attribute when none is provided by the publisher.

[2021-02-22 03:00] gmajoulet commented on #29117
This might have been fixed with the latest refactoring.

[2021-02-22 03:04] gmajoulet commented on #31424
+1 to `rewind(storyUrl)`or to be consistent with the other methods such as `show(storyUrl)` or `prerender(storyUrl)`.

Under the hood, the story code is already written under the `replay_()` method:

https://github.com/ampproject/amphtml/blob/839bf12bd36e5ece81f8c9698cd3e377f232fc31/extensions/amp-story/1.0/amp-story.js#L2734-L2757

[2021-02-22 03:07] gmajoulet opened #32781 "[Story Player] Fix script import path to local build"
Loading a local build of the Player in a development environment should work like any other extension.

We should be able to specify:
[code]

But instead this fails and loads the production build.

Today, we need to specifically write `<script async src="../../dist/amp-story-player.js"></script>`, which is unlike other extensions and brings confusion in local development.

cc @ampproject/wg-storie

[2021-02-22 03:14] gmajoulet commented on #31908
We fixed many bugs through video and Player refactorings, this issue likely went away. Please re-open this ticket if you see it happening again, and consider switching to the `replay()` method that we will introduce, that has been working around some of the issues you're facing in the past: https://github.com/ampproject/amphtml/issues/31424

[2021-02-22 03:14] #31908 closed

[2021-02-22 03:16] gmajoulet commented on #31412
With the new internal architecture the player has, adding a `remove(storyArray)` method should be very straightforward.

[2021-02-22 03:16] gmajoulet commented on #31412
cc @ampproject/wg-stories

[2021-02-22 08:47] patrickhlauke commented on #32508
Except for keyboard users (either on desktop that's been sized/zoomed to show the mobile view, or smartphone users that actually need an external bluetooth keyboard to navigate) and assistive technology users (VoiceOver, TalkBack) on smartphones.

[2021-02-22 08:49] patrickhlauke commented on #32502
but for accessibility requirements, they really should be able to. The layout may break, but the important part is that even with a broken layout, content should not simply be capped/cut off and made unreachable.

[2021-02-22 09:57] Avdhoot05 opened #32783 "Cors issue in bookend"
1. When I open https://visualstories.com?app=pwa and story opens in lightbox.
2.  Bookend request gives 500- Internal server error.
3. and If you open https://food.visualstories.com/custard-desserts-to-try-once-in-your-lifetime/bookend.json It opens with success and also access control allow origin is * and we used google cache url:- https://food-visualstories-com.cdn.ampproject.org/c/s/food.visua

[2021-02-22 10:07] #32783 closed

[2021-02-22 13:25] merakmarey commented on #23092
was this fixed? is AMP still a thing or is discontinued?

[2021-02-22 13:44] merakmarey opened #32785 "AMP Carousel jumping to incorrect slides in mobile browser"
On swipe AMP Carousel jump slides in mobile.
Last carousel in https://amp.dev/documentation/components/amp-carousel/
(IMPORTANT: SEE IT IN ACTUAL MOBILE DEVICE, NOT DESKTOP EMULATOR)
Swiping from right to left it will skip/jump to another slide

AMP Carousel 0.2 on REAL mobile devices.

[2021-02-22 14:43] caroqliu commented on #32777
Hi @dlugoreality, thanks for filing this issue! I see this is the markup for the toggle button:
[code]

It looks like the button is trying to do three things:
1. Toggle the visibility of the `.main-menu-modal` element
2. Toggle the `showing-main-menu-modal` class on the `body` element
3. Focus on the `.close-main-nav-toggle` element, which appears to be inside the `.main-menu-modal` element.

To a

[2021-02-22 14:43] #32777 closed

[2021-02-22 15:01] caroqliu commented on #32785
Hi @merakmarey, thanks for filing an issue! Can you send a screenshot or describe further what you are seeing when it "skips/jumps" to another slide? Including as much detail as possible would be greatly helpful to reproduce and debug the issue you are describing.

[2021-02-22 15:13] rsimha commented on #20713
Closing because this is a two year old bug that is likely obsolete today. Please reopen if this isn't the case.

[2021-02-22 15:13] #20713 closed

[2021-02-22 15:15] rsimha commented on #27386
A lot has happened since this issue was initially filed. @erwinmombay can you comment on what is left to do and whether the rest of the items in the issue description are still part of your plans?

[2021-02-22 15:17] rsimha commented on #27198
@alanorozco Is this still part of your plans?

[2021-02-22 15:33] sebastianbenz commented on #32387
Can we target the animation in a way that only enables it if there's no ssr'd `img`?

[2021-02-22 16:20] YuriyBishko opened #32787 "Amp-form autofill is flickering"
## What's the issue?

Amp-form autofill is flickering when `amp-bind` script loaded

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing the issue:

1. Go to (https://bluecarrot.io/)
2. Scroll down to the footer
3. Click on the Name or Ema

[2021-02-22 16:21] merakmarey commented on #32785
Sure

here's a video of the behavior.
https://www.youtube.com/watch?v=lge7pQMCLmc&feature=youtu.be

To see the bug in action just go to the url provided using a cell phone, and on the last carousel swipe from right to left.
https://amp.dev/documentation/components/amp-carousel/

Let me know if you need more.

Thanks

[2021-02-22 17:06] samouri commented on #27198
Looks like the PR to add support for this in prettier has stalled based on a some bugs.
I'd personally vote against a custom solution in amphtml vs. assisting on the prettier PR

[2021-02-22 17:10] kristoferbaxter commented on #23092
I've demonstrated this working as expected in https://github.com/ampproject/amphtml/pull/32790. Closing.

If there is another example we can take a look at please re-open!

[2021-02-22 17:10] #23092 closed

[2021-02-22 17:41] alanorozco commented on #30954
@danielrozenberg Do you have all the info you need? Do we need to do something additional to be able to upload the Storybook files to `cdn.ampproject.org`?

[2021-02-22 17:43] #30176 closed

[2021-02-22 17:44] caroqliu commented on #32785
Thanks for providing the video! It looks like the behavior in the video is on the `amp-carousel` generated by `amp-lightbox-gallery`. I'm unfortunately not able to replicate it on the `amp-carousel` documentation page from Safari on iOS or Chrome on Android, for either version of the `amp-carousel` component.

Could you provide a small sample of the code you used in your video that includes use of

[2021-02-22 17:45] rsimha opened #32792 "[release calendar] Make release calendar accessible from amp.dev"
Today, we have the following release-related pages on amp.dev:

- [Main schedule](https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule), linked from "Learn" -> "AMP HTML Specification" -> "AMP Release Schedule"
- [Interactive calendar](https://amp.dev/documentation/guides-and-tutorials/contribute/vendor-contributions/release-schedule), linked from "Contribute" -> "Third p

[2021-02-22 17:45] lannka opened #32793 "Add a link in release tool"
go/amprelease

[2021-02-22 17:46] rsimha opened #32794 "[release calendar] Clicking on any white box next to a release channel makes all calendar info disappear"
This may actually be by-design, but it left me confused about what the boxes are for. Perhaps we can add labels and tooltips to these buttons?

![image](https://user-images.githubusercontent.com/26553114/92009223-2ee45200-ed16-11ea-9d17-c9462a13f6ee.png)

[2021-02-22 17:46] rsimha opened #32795 "[release calendar] Pop-up with additional releases sometimes gets cut off"
In this example, I clicked on the "+4 more" link on the bottom row. Increasing the height of the window did not help.

![image](https://user-images.githubusercontent.com/26553114/92008406-217a9800-ed15-11ea-840e-8243f438f9e2.png)

[2021-02-22 17:46] rsimha opened #32796 "[release calendar] Pop-up with release info sometimes appears outside the viewport"
In this example, I have a tall window, and the pop-up appears to the left. Perhaps a check can be added to ensure its coordinates are within the viewport?

![image](https://user-images.githubusercontent.com/26553114/92008020-9b5e5180-ed14-11ea-9e64-82de6fb69843.png)

[2021-02-22 17:46] estherkim opened #32797 "[release calendar] Write unit tests"

[2021-02-22 17:53] dvoytenko opened #32798 "🌸 Cherry-pick request for #32762 into #32757 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32762 | #32762 |     **YES

[2021-02-22 18:02] caroqliu commented on #32787
Hi @YuriyBishko, thanks for filing an issue! I'm able to see the issue you are describing - on focus, the autofill flickers as in flashes visible then invisible. At first glance, It's not obvious why this is. I tried [creating a minimal sample](https://playground.amp.dev/?format=websites&_gl=1*x8570f*_ga*YW1wLTVrcDR1bGNQYlJRZ0VkTHVaT2JiRUE.#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1

[2021-02-22 18:08] #32565 closed

[2021-02-22 18:08] erwinmombay opened #32799 "🚄 Release tracking issue for release 2102130314001"
# Release tracking issue

This issue tracks release [2102130314001](https://github.com/ampproject/amphtml/releases/tag/2102130314001). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/012102060044003...2102130314001).

- [x] Release 2102130314001 promoted to Experimental and Beta (opt-in) channels (
February 19, 2021, 11:02:16 AM GMT-8)
- [x] Release 210213031

[2021-02-22 18:14] kristoferbaxter commented on #32780
Since this would be a breaking change for existing documents, is there another pathway to give document developers this information?

Could we implement Pixi rules (page experience) since these directly relate to the page experience many visitors have?

Adding @sebastianbenz and @patrickkettner for thoughts before potentially transferring the issue to `amp.dev`.

[2021-02-22 18:20] erwinmombay commented on #32799
closing, dupe of https://github.com/ampproject/amphtml/issues/32757

[2021-02-22 18:20] #32799 closed

[2021-02-22 18:24] nainar opened #32800 "Designing a new version of <amp-analytics> that reduces CLS violations."
Designing a new version of <amp-analytics> that reduces CLS violations.

Master issue to track this work

cc @kristoferbaxter

[2021-02-22 18:25] merakmarey commented on #32785
Hi Caroline

Please before continuing can you explain how come are you unable to reproduce the error?

I have here 3 android devices and I am able to replicate it on all 3, with Chrome on Android..

Again, and this is very important, do not emulators. The error is only present on real mobile devices/browsers.

As I said before, if you go to the official amp.dev website link I provided you, and go

[2021-02-22 18:25] nainar opened #32801 "Analyzing font related regression in CLS"
Analyzing and addressing font related regression in CLS

cc @kristoferbaxter

[2021-02-22 18:25] saurabh230197 opened #32802 "🚨 Error: [AMP cache] access-control-allow-origin CORS errors"
**Details:**
Images/SVGs are allowing access to only one website and not other if its used in other domain.
In our case https://visualstories.com is a tool to create web stories in users own domain. Tool allows user to use Images and SVGs for free.
https://pets-visualstories-com.cdn.ampproject.org/v/s/pets.visualstories.com/reasons-why-cats-are-better-than-dogs?amp_js_v=0.1#origin=https%3A%2F%2Fvi

[2021-02-22 18:25] sebastianbenz commented on #32780
I like the idea of making this a Pixi check. However, this would mean that we're starting suggesting things which are not officially part of PX. This could give the wrong impression. What I could imagine though is having another category of recommendations which are somehow marked as "optional". @patrickkettner @nainar wdyt?

[2021-02-22 18:46] caroqliu commented on #32785
Ohhh, I see, thank you for providing the other issue for reference! Maybe I was not swiping fast enough on my devices? I did not use an emulator. I'm going to close this issue for now since it is a duplicate to the original.

[2021-02-22 18:46] #32785 closed

[2021-02-22 19:02] caroqliu commented on #30048
It looks like the timeago library has since [added support for Persian (Farsi)](https://github.com/hustcc/timeago.js/blob/master/src/lang/fa.ts), which we can use to add to `amp-timeago`. Thank you @masoudhaghi for your contribution of translations, though!

According to our `third_party` notes for the library, there were 37 locales at the time the component was contributed into AMPHTML:

https://

[2021-02-22 19:15] rsimha commented on #30048
Here are the preferred options, in order:
1. If the package can be used as-is with no modifications, add it to this list as a runtime dependency
  https://github.com/ampproject/amphtml/blob/6549bb8a362e73a654f5e006f766882cbd74d710/package.json#L16-L37
2. If the package can be used with minimal modifications, add it as a runtime dependency and patch it like we do to other packages
  https://github.

[2021-02-22 19:16] kristoferbaxter commented on #30048
@caroqliu LIkely we need to get a diff from the original `third_party` fork, since this will continue to be a choice of either maintain or re-unite with original source.

My hunch is for the sake of moving more quickly, we should attempt to move to `4.0.2` in a timeboxed manner... if it's proving difficult after an hour or two, then see how long it would take to use the updated translations with o

[2021-02-22 19:42] #32798 closed

[2021-02-22 20:30] micajuine-ho commented on #32588
Hi, the problem here is that you are passing `addtlConsent` in the `metadata` object instead of `additionalConsent` https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md#consentmetadata

Should work after that fix.

[2021-02-22 20:30] #32588 closed

[2021-02-22 20:36] jridgewell commented on #32387
Sure, I'll open a PR.

[2021-02-22 20:42] danielrozenberg commented on #22499
After talking to Percy about how they handle animations, we now know we can't control the exact snapshot point of the animation. Closing this as wontfix

[2021-02-22 20:42] #22499 closed

[2021-02-22 21:06] micajuine-ho commented on #32712
Hi @Tudmotu , thanks for your bug report. It seems like the problem here is that different CMPs are not passing in consistent metadata dependent on geolocation.

In the screenshot of `checkConsentHref` we see that they have `expireCache` set to false. Therefore, the metadata stored in LocalStorage will be sent to the ads, since it is not cleared by `expireCache`.

Does a consent metadata need to b

[2021-02-22 21:10] #32408 closed

[2021-02-22 21:11] micajuine-ho commented on #31275
Closed via #32315

[2021-02-22 21:11] #31275 closed

[2021-02-22 22:58] dmanek opened #32813 "[amp-vimeo] Increase unit test coverage"
Current unit test coverage for amp-vimeo is below 50%.

[2021-02-23 01:10] Enriqe commented on #32781
Dupe of https://github.com/ampproject/amphtml/issues/30817 (my bad for not labeling it correctly)

[2021-02-23 01:10] #32781 closed

[2021-02-23 04:35] edoudou opened #32819 "Poster Position for amp-video"
## 🚀 Feature Request
Poster Position for amp-video
### Problem
Right now, poster position is set to 0% 0% but there is no way to change it.

### Solution
Expose an API to change the poster position through css or through a property for the amp-video tag

[2021-02-23 06:56] VishalSrivastav opened #32821 "Page experience issue"
Hi,

I am an SEO Professional, working with Homeonline.com. We are using AMP Site for the last 2 Years. Now I am trying to analyze our AMP Pages for Page Experience but the tool is showing an error that the URL is Invalid, however, the AMP Validator Tool is showing Valid and the same URLs are being crawled and indexed in Google SERPs. Could you please help us to get the exact reason why the page e

[2021-02-23 09:11] klipstein commented on #30385
@micajuine-ho just tested the experiment in nightly, beta and experimental channel and it works for me. Getting the adjusted consent-string via `addEventListener` when the consent was adjusted is great. Also tested it through some 3rd party components and all of them use `addEventListener` to receive the latest consent-string.

When will that experiment be available in the production build?

[2021-02-23 12:09] YuriyBishko commented on #32787
Hi @caroqliu, I have found the real problem of this issue.

If we have a parent block with `on="tap"` attribute the autofill is flickering.
In my case it was div element with`on="tap: AMP.setState({showPurposeMenu: false, showNicheMenu: false, showTechniqMenu: false})"`.

I have refactored my code to get rid of it, and now it works.
You can test it on my test server: (https://beta.bluecarrot.io/)

[2021-02-23 14:47] #31909 closed

[2021-02-23 15:49] caroqliu commented on #32787
Oh great, nice job identifying this. Looks good!

[2021-02-23 15:49] #32787 closed

[2021-02-23 15:52] caroqliu commented on #32780
+1 This fits well with Pixi but could confuse the intent around PX.

As an alternative, could these surface as a non-blocking AMP validator warnings?

[2021-02-23 17:13] processprocess commented on #32506
Duplicate of #32590 which provides some context and proposals.

Context/nuances on tabbing:
https://github.com/ampproject/amphtml/issues/31747#issuecomment-754734271

[2021-02-23 17:21] Enriqe opened #32826 "[amp-story-player] Creating a player dynamically builds container twice, pushing down story"
Sample https://codesandbox.io/s/react-amp-story-player-forked-ygjdv?file=/src/App.js:138-157

Creating a player dynamically (using `load()`) on a player that is already connected to the DOM is building two shadow root containers and pushing down the displayed story:
![image](https://user-images.githubusercontent.com/5449100/108880509-5c78cc80-75d0-11eb-8f6e-c08d310a5ab6.png)

The problem is that t

[2021-02-23 17:28] micajuine-ho opened #32827 "[amp-consent] Remove all examples of deprecated `consents`"

[2021-02-23 17:31] lannka commented on #27330
Sorry I failed to repro this anymore. Feel free to reopen.

[2021-02-23 17:31] #27330 closed

[2021-02-23 17:33] #32813 closed

[2021-02-23 17:35] #28050 closed

[2021-02-23 17:39] lannka commented on #14223
@keithwrightbos had the right answer.

[2021-02-23 17:39] #14223 closed

[2021-02-23 17:56] smb-bounteous commented on #24621
Checking in to see if there is an update. We have 360 clients who cannot use Google Analytics 4. Can we get an ETA?

[2021-02-23 18:06] adops-tcs commented on #32165
Hello, this is impacting user experience on our AMP sites.  Is this a new bug? What is the ETA on the fix?  Thank you!

[2021-02-23 18:15] Tudmotu commented on #32712
Thank you @micajuine-ho for looking into this and for the explanations! :)
About your question - I'm not sure if this would help. But, it's a complicated topic and I definitely can't speak for other 3p vendors.
What we wanted to have is a clear distinction between CCPA and GDPR, but since the implementations are inconsistent, we can't count on `initialConsentMetadata`. Currently we identify the so

[2021-02-23 18:23] Gregable commented on #25499
This is fixed in an upcoming PR that'll be synced out shortly. Closing.

[2021-02-23 18:23] #25499 closed

[2021-02-23 18:33] calebcordry opened #32832 "✨Allow AMP Polyfills in no-signing"
Currently prevented by head validation and csp meta tag.

Follow up to #32820

Part of #27189

[2021-02-23 18:38] honeybadgerdontcare commented on #32780
I imagine that would create a lot of warnings for a lot of sites and flood Search Console and make more target warnings lost in the sea.

[2021-02-23 18:49] micajuine-ho commented on #32712
IMO, I think CMPs should pass in `consentMetadata` w/ `consentStringType` field, which would be passed to the ad iframe, this way we can distinguish GDPR vs CCPA without interpreting the string.

Another question is how does GDPR vs CCPA work outside of AMP? Do all CMPs do the same solution?

[2021-02-23 18:49] honeybadgerdontcare commented on #32821
Hello Vishal,

I checked the three URLs you included and they are indeed Valid AMP using validator.amp.dev.

In running it on amp.dev/page-experience/ it states the page needs improvement but I don't see it mentioned being Invalid AMP.

What tool are you using where you see it mentioned as Invalid AMP? Could you share the URL?

[2021-02-23 19:04] micajuine-ho commented on #32785
hi @merakmarey can you please provide the code that you used in https://www.youtube.com/watch?v=lge7pQMCLmc&feature=youtu.be

in a jsbin?

This would greatly help our debugging efforts.

[2021-02-23 19:04] micajuine-ho commented on #26249
hi @merakmarey can you please provide the code that you used in https://www.youtube.com/watch?v=lge7pQMCLmc&feature=youtu.be

in a jsbin?

This would greatly help our debugging efforts.

[2021-02-23 19:08] #32387 closed

[2021-02-23 19:50] merakmarey commented on #26249
Hi Micajuine

Video was not created by me but any carousel will do as good.

Code below was extracted from https://amp.dev/documentation/components/amp-carousel/

If you go to the last carousel and swipe "aggressively" from right to left you will see the issue.

Let me know if you need more.

Thanks

`<amp-carousel type="slides"
  width="450"
  height="300"
  controls
  loop
  autoplay
  delay="30

[2021-02-23 20:15] merakmarey commented on #26249
Just in case you do need more

https://jsbin.com/simuxixowi

[2021-02-23 20:37] merakmarey commented on #32785
Hi Micajuine

This one is closed, lets please continue on https://github.com/ampproject/amphtml/issues/26249#issuecomment-784438645

Thanks

[2021-02-23 20:39] RomanSek opened #32839 "I2I: Add analytics vendor Piwik PRO"
## Analytics vendor Piwik Pro

We want to add support for Piwik PRO vendor in AMP project to make integration with it easier.

/cc @ampproject/wg-approvers
/cc @ampproject/wg-analytics

PR: https://github.com/ampproject/amphtml/pull/32838

[2021-02-23 20:40] mszylkowski commented on #31747
The amount of elements that are tabbable in the story is much larger than what are here, here are the problematic components:
- Regular CTAs on the page
- Story bookend (story scrolls down to the empty space where it's stored when inactive)
- Share dialog (can show when tabbing on mobile UI)
- Amp-twitter (on inactive pages will scroll the view towards the inactive page)

[2021-02-23 20:50] #24001 closed

[2021-02-23 21:07] caroqliu commented on #24001
@pbakaus @nainar Should this issue actually be closed? Is there still interest in this effort?

[2021-02-23 21:21] jridgewell commented on #24001
With us trying to deprecate `amp-img`, I don't think we can pursue this.

[2021-02-23 21:22] processprocess commented on #32506
List of other [problematic tubbable components](https://github.com/ampproject/amphtml/issues/31747#issuecomment-784496735) in stories.

[2021-02-23 21:24] processprocess commented on #32498
This is a duplicate of #31747 and contributes to #32506

[2021-02-23 21:24] #30048 closed

[2021-02-23 21:28] #23088 closed

[2021-02-23 21:31] danielrozenberg commented on #25492
(:%s/travis/github actions/) (%s/stable|beta/firefox|safari|edge|ie/) - I believe this is fixed already, given the way that @rsimha rewrote the tests and [how they get reported](https://github.com/ampproject/amphtml/blob/6ae6dbcd4c2198f3b355b630cfc5693afc051abe/build-system/pr-check/cross-browser-tests.js#L111) by each individual job on GitHub Actions. @rsimha do you agree?

[2021-02-23 21:34] processprocess commented on #31747
These components are mentioned in https://github.com/ampproject/amphtml/issues/32511

[2021-02-23 21:35] rsimha commented on #25492
You're mostly correct. I think one part of this issue still remains: when a testing job fails and is restarted, we call `reportTestStarted()` at the beginning. I'm not sure if that removes the red X mark on the commit status. If it does, we're good. If not, any way to get it to reset the "failed" status of the check to "queued" while the tests are rerun?

[2021-02-23 22:00] dmanek opened #32841 "[amp-mathml] add unit tests"
Currently there are no unit tests for amp-mathml. Add unit tests to increase test coverage.

[2021-02-23 22:36] danielrozenberg commented on #25492
When we restart it and call `reportAllExpectedTests()` it resets all of them to yellow - `reportTestStarted()` happens on individual test groups

[2021-02-23 22:47] rsimha commented on #25492
The way to address this issue is to have `reportTestStarted()` be called for all test types that will be run by a job, at the start of that job. This will make things clear when a failing job that runs multiple test types is restarted.

[2021-02-23 23:29] kristoferbaxter commented on #32780
Agree with @honeybadgerdontcare, validator messages to search console are more specifically used for broken functionality or items making pages invalid.

Moving the messaging to the Page Experience tool seems like a good compromise.

[2021-02-23 23:30] rsimha opened #32846 "Video docking visual tests are flaky due to scrollbars"
For example, https://percy.io/ampproject/amphtml/builds/8998973/changed/510237008

For more flaky builds, go to https://percy.io/ampproject/amphtml, search for the text "auto-approved", and click through to the diffs.

Right now, this is the main cause of failing CI builds.

[2021-02-24 00:15] #25610 closed

[2021-02-24 02:43] #32846 closed

[2021-02-24 03:50] kleverk-Designs opened #32854 "The script tag contains invalid JSON that cannot be parsed."
## What's the issue?

The script tag contains invalid JSON that cannot be parsed.

Briefly describe the bug/feature request.
The website page is passing AMP validation @ [validator.ampproject.org](https://validator.ampproject.org/#url=https%3A%2F%2Fphpstack-359858-1775447.cloudwaysapps.com%2Ftemplates%2Fblog%2Fhow-to%2Favoid-these-ten-mistakes-that-everyone-makes-in-interior-design.amp.html) but k

[2021-02-24 04:29] honeybadgerdontcare commented on #32854
The warning states that the issue is in the JSON blob starting on line 47. Putting that in a JSON validator shows that there is indeed an error on line 119. Note line 119 starts a string but ends in a newline and continues on 120. I tested removing the newline at the end of 119 and combing line 120 with it. It now passes JSON parsing.

[2021-02-24 04:29] #32854 closed

[2021-02-24 05:34] VishalSrivastav commented on #32821
Hi,
I am using The same page you mentioned... https://amp.dev/page-experience/
I am sharing a screenshot for the same, please have a look.
![AMP_Page_Experience](https://user-images.githubusercontent.com/7033195/108952682-f2bff780-768f-11eb-93ee-d2fbb3fbfc0d.png)
Could you please also share a screenshot of the same?

[2021-02-24 07:30] Tudmotu commented on #32712
As long as `consentMetadata` is not consistently supported, it will be difficult to rely on. I assume we want to keep AMP "agnostic" and not parse the type in AMP?
About your question - Outside of AMP there are standard APIs for each consent type created by the IAB organization. GDPR has the `__tcfapi` and CCPA has `__uspapi`. BTW, outside of AMP it is possible (and sometimes required) to support

[2021-02-24 13:47] MultipliedByOne opened #32858 "AMP disables menu. unable to uninstall"
Website = thebagsystem.com

Installing AMP added an html error, affecting url's and menu, which could be a connection there with the menu not working because the urls that the menu's would link to are faulty now?
Analysis indicated a json inability to connect? I was only able to get my menu options to appear again while selecting to view the page with the AMP disabled. The menu worked. I removed A

[2021-02-24 14:10] dpetrieldn commented on #31673
+1 from News UK. This is an issue for us, limiting how we monetise AMP and the vendors we have in our lists. The options above shouldn't necessarily be mutually exclusive.

[2021-02-24 15:05] kristoferbaxter commented on #32821
Here's a screenshot of the same URL working. Transferring this issue to `amp.dev` since this appears to be an issue connecting to the `homeonline.com` domain and likely needs better messaging.

<img width="1337" alt="Screen Shot 2021-02-24 at 7 04 42 AM" src="https://user-images.githubusercontent.com/61764/109020182-98fb0580-766e-11eb-90ec-a69f2c2cf484.png">

[2021-02-24 15:09] micajuine-ho commented on #26249
This issue only seems to be present in amp-carousel 0.1 @merakmarey

[2021-02-24 15:21] merakmarey commented on #26249
You are correct. Using 0.2 fixes the issue. Great catch! Good job!

[2021-02-24 15:31] Avdhoot05 opened #32860 "Bookend issue with google amp cache version"
When I opened https://animals-visualstories-com.cdn.ampproject.org/c/s/animals.visualstories.com/quizzes/a-challenging-javan-rhinoceros-quiz?usqp=mq331AQCCAE=#origin=https://visualstories.com&cap=swipe

It gives bookend issue with amp-cache version.

and https://animals.visualstories.com/quizzes/a-challenging-javan-rhinoceros-quiz is working fine.
![bookend-issue](https://user-images.githubusercon

[2021-02-24 16:27] alanorozco commented on #27198
An alternative put forth by @caroqliu: wrap the entire `<head>`

[code]

We lose formatting inside the `<head>` (style tags probably being the biggest loser) but maybe that's fine.

[2021-02-24 16:50] alanorozco commented on #27198
[(Transfrom to apply.)](https://astexplorer.net/#/gist/f6049f9d7bc3b716f056ec476a770ac4/2ed18ec163353250f09e82e065b993e634ea4416)

[2021-02-24 16:56] LuckynaSan opened #32862 "Web Stories option to disable/hide share button"
## Describe the new feature or change to an existing feature you'd like to see

A user of the Web Stories WordPress plugin requested to hide/remove the share button in the story player. Submitting this as a feature request since disabling sharing is not possible by default.

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features

[2021-02-24 17:37] #32841 closed

[2021-02-24 18:23] dvoytenko opened #32868 "Closure compiler: fail on some warnings"
Some Closure warnings are errors in AMP's context. Failing compilation for these warnings would help us avoid "obvious" bugs. These include:

- JSC_TYPE_MISMATCH
- JSC_HIDDEN_SUPERCLASS_PROPERTY_MISMATCH
- JSC_UNKNOWN_OVERRIDE
- JSC_UNRECOGNIZED_TYPE_ERROR

An example: https://github.com/ampproject/amphtml/pull/32869

/cc @ampproject/wg-infra

[2021-02-24 18:56] #32791 closed

[2021-02-24 19:06] lannka commented on #27091
@ampproject/wg-security-privacy for approval

[2021-02-24 19:14] rileyajones commented on #20252
I can't seem to reproduce this issue anymore. If anyone thinks this is still happening, please reopen this ticket.
@dvoytenko @lannka

[2021-02-24 19:14] #20252 closed

[2021-02-24 19:14] rileyajones commented on #25725
I can't seem to reproduce this issue anymore. If anyone thinks this is still happening, please reopen this ticket.
@dvoytenko @lannka

[2021-02-24 19:14] #25725 closed

[2021-02-24 19:19] honeybadgerdontcare commented on #27091
@molnarg for feedback

[2021-02-24 19:24] #32757 closed

[2021-02-24 19:25] mszylkowski opened #32873 "[Story devtools] "Story refers to page x, but no such page exists" error on slow loading player"
## What's the issue?

When the players don't load in time, they may throw these 2 errors in tandem:

  push.f.g.getPageIndexById @ amp-story.js:2420
  (anonymous) @ amp-story.js:2651
  g.fire @ observable.js:81
  g.receiveMessage @ viewer-impl.js:736
  (anonymous) @ amp-viewer-integration.js:211

    at jk.push.f.g.ma (amp-story.js:1432)
    at amp-story.js:2649
    at Y.g.fire (observable.js:81)

[2021-02-24 19:28] jridgewell opened #32874 "🚄 Release tracking issue for release 2102200206000"
# Release tracking issue

This issue tracks release [2102200206000](https://github.com/ampproject/amphtml/releases/tag/2102200206000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2102130314001...2102200206000).

- [x] Release 2102200206000 promoted to Experimental and Beta (opt-in) channels (2021-02-23 17:42:30 -05:00)
- [x] Release 2102200206000 promoted

[2021-02-24 21:07] danielrozenberg opened #32882 "Automatically sync visual-diff Chrome version with the used on Percy"
We currently have to manually sync the server-side and CircleCI-side versions of Chrome when executing visual diff tests:

https://github.com/ampproject/amphtml/blob/3d0c39b3a45878dfc029f42c67a0782633440bcf/build-system/tasks/visual-diff/index.js#L60-L71

Ideally we could use the API to query for whatever version is currently being used on the server and fetch that one, instead of hard-coding the

[2021-02-24 21:08] danielrozenberg commented on #32882
After talking to Percy support, it looks like browser updates are going to remain manual and sparse for the foreseeable future, so this isn't currently worth the development time. Marking as blocked until this changes

[2021-02-24 21:15] caroqliu commented on #32549
Thanks @catherinehoule and @patrickhlauke for the feedback here. In terms of not including unnecessary `aria-controls`, `aria-labelledby`, etc., is there a static way of know what type of elements should have these and what shouldn't? For instance, would it suffice to only set `setAttribute` if `!element.hasAttribute` for these, as suggested for `role`? I'm not familiar i.e. if `aria-labelledby=""

[2021-02-24 21:16] RealScatman commented on #7012
@sandiprb how do you prevent the template from considering {{message}} as a django template variable?  I am having issue with amp form not showing Django JsonResponse Object values.

[2021-02-24 21:20] #24594 closed

[2021-02-24 21:21] Joelsz commented on #24594
This is no longer an issue for us. Feel free to reopen if needed.

[2021-02-24 21:22] processprocess commented on #32504
`amp-mode-keyboard-active` is added to the `body` element.
We can display visible buttons when this class is added.

<img width="461" alt="Screen Shot 2021-02-24 at 4 18 30 PM" src="https://user-images.githubusercontent.com/3860311/109067017-f7020a00-76bb-11eb-9cb8-a3f68fed5495.png">

[2021-02-24 21:23] Joelsz commented on #23575
Closing, since this is no longer an issue for us. Feel free to reopen if needed.

[2021-02-24 21:23] #23575 closed

[2021-02-24 21:34] RealScatman commented on #7012
For anyone that stumbles upon this and is working with Django Templates and implementing form submission success using amp-form  you will need to wrap your {{message}} value with the following template tag:
[code]

This should allow the amp-form to render the JsonResponse object values from your django view (provided you had a successful post.)

Reference to Django Docs
https://docs.djangoproject.

[2021-02-24 21:47] caroqliu commented on #25360
Closing as this has been fixed

[2021-02-24 21:47] #25360 closed

[2021-02-24 21:53] caroqliu commented on #22750
Closing this issue given the above. Feel free to re-open if there is continued interest.

[2021-02-24 21:53] #22750 closed

[2021-02-24 21:58] caroqliu commented on #25883
Closing this issue as it does not have clear action items for resolution. Perhaps related and more comprehensive discussion can occur in one of these threads: #32739, #27408, #8018

[2021-02-24 21:58] #25883 closed

[2021-02-24 21:58] caroqliu commented on #21421
Closing this issue as it does not have clear action items for resolution. Perhaps related and more comprehensive discussion can occur in one of these threads: #32739, #27408, #8018

[2021-02-24 21:58] #21421 closed

[2021-02-24 22:06] caroqliu commented on #29834
I'm not able to reproduce the behavior you're describing by trying out the first two links. I also now see that the "Nutritional Info" button in the third link downloads a PDF.

I'm going to close this issue for now, but please re-open with more details if you are still having issues using any of these components. Thank you!

[2021-02-24 23:48] #20422 closed

[2021-02-24 23:54] honeybadgerdontcare commented on #22543
Filed https://github.com/ampproject/amp.dev/issues/5442 for documentation as the validator will soon allow:

[code]

[2021-02-24 23:57] honeybadgerdontcare commented on #22543
Filed also for AMP Packager and AMP Optimizer.

Remaining work for this issue is adding to the Validator which is currently in review.

[2021-02-24 23:57] #28865 closed

[2021-02-25 01:06] kristoferbaxter commented on #32566
Cancelling since there are no topics for today.

[2021-02-25 01:07] #32566 closed

[2021-02-25 03:40] #32091 closed

[2021-02-25 05:15] kleverk-Designs commented on #32854
Thank you for your advice it helped. One last favor please this will help me a lot.

[The URL ](https://validator.ampproject.org/#url=https%3A%2F%2Fphpstack-359858-1775447.cloudwaysapps.com%2Ftemplates%2Fblog%2Fhow-to%2Fbest-interior-designers-in-mumbai.amp.html) when tested on AMP gives the same error and when tested on structure data provides ZERO error.
Could you please help me with this one mo

[2021-02-25 05:20] rebeccanthomas opened #32900 "Migrate Component Unit tests to e2e tests"
## Describe the new feature or change to an existing feature you'd like to see

This feature is a migration of any unit tests which require external loading to an e2e format. In this way they break the unit test contract and would be better off as e2e tests.

This change would improve the code health of the amp repository, and improve the readability and understandability of these tests.

Changes

[2021-02-25 06:37] rebeccanthomas opened #32902 "Increase unit test coverage of [amp-redbull-player]"
The current test coverage of this component is 41.67%

[2021-02-25 08:16] rebeccanthomas opened #32905 "Increase unit test coverage of [amp-wistia-player]"
The current test coverage of this component is 42.86%.

[2021-02-25 08:33] rebeccanthomas opened #32907 "Increase the test coverage of [`amp-ooyala-player`]"
Current test coverage is 46.25%, goal test coverage is  >50%

[2021-02-25 08:51] yk1979 opened #32908 "[amp-base-carousel] the "slide" attribute is not working"
## What's the issue?
the value set to the slide attribute seems to be ignored.
[see my playground code.](https://playground.amp.dev/?mode=Responsive#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5BdXRvIGFkdmFuY2Ugd2l0aCBncm91cGluZzwvdGl0bGU+CiAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9ImFtcHMuaHRtbCIgPgogIDxtZXRhIG5hbWU9InZpZXdwb3J0IiBjb250ZW50PSJ3aWR0a

[2021-02-25 10:06] michalmatuska commented on #30048
@caroqliu This is good news. How can I implement this change to my site?
When I am trying this https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fcomponents%2Famp-timeago.example.1.html%3Fformat%3Dwebsites&format=websites&_gl=1*5xuwzo*_ga*YW1wLUV6bW8td2VTd3FtX1ZfdlFfUjlZU0E. Farsi locale doesn't work.

[2021-02-25 10:16] adekbadek opened #32911 "amp-analytics: gtag vendor config rewriter payload size limitation"
## What's the issue?

The config rewriter of the `gtag` vendor seems to have size limits.

## How do we reproduce the issue?

1. Set up `amp-analytics` with `gtag` as the `type` (`<amp-analytics type="gtag">`)
2. Observe that a request is made to `https://www.googletagmanager.com/gtag/amp`, which is specified as the `configRewriter` [here](https://github.com/ampproject/amphtml/blob/7ef9f7cba4b8b6e

[2021-02-25 10:42] ags1773 opened #32912 "Started getting the validation error "The attribute 'amp-nested-submenu' may not appear in tag 'div'""
## What's the issue?

We have started getting the validation error `The attribute 'amp-nested-submenu' may not appear in tag 'div'` on all our production sites. We followed the [docs](https://amp.dev/documentation/components/amp-nested-menu/) which says `Only <div> tags may receive the amp-nested-submenu attribute.` while building our amp pages

## How do we reproduce the issue?

Please check any

[2021-02-25 11:43] sebastianbenz commented on #22543
@westonruter @schlessera FYI for the Wordpress Optimizer

[2021-02-25 14:38] renebaudisch commented on #30385
I also tested that feature and it seems to work well, even it really is a very small set of information and I was hoping to also get granular input to e.g. the purposes as well. Would be great if the info passed could be extended, but the Implementation of the postMessage proxy works as expected.

Thanks for the effort.

[2021-02-25 14:44] #31079 closed

[2021-02-25 14:51] caroqliu commented on #30048
The change will roll out according to the [AMP release schedule](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md):

In this case, I believe the change should be available with the March 9 release.

[2021-02-25 15:17] michalmatuska commented on #30048
@caroqliu thank you very much! I am looking forward.

[2021-02-25 15:41] ChrisAntaki opened #32913 "I2I: Saving metering state for amp-subscriptions"
## Summary

The SwG team wants to save metering state to localStorage, to support the Google News Showcase within AMP
https://blog.google/outreach-initiatives/google-news-initiative/google-news-showcase/

## Design document

## Motivation

SwG wants to speed up pageloads by caching metering state to localStorage. Without this caching, users would have to wait longer before we could check if they w

[2021-02-25 15:45] jpettitt commented on #32913
@ChrisAntaki can you add a sample of what's being saved / pointer to the code so folks don't have to wade through the entire PR to find it?

[2021-02-25 15:46] krdwan commented on #32549
@caroqliu No `1.0` amp-accordion does not currently do this.  I've added it as a todo in the tracker issue: https://github.com/ampproject/amphtml/issues/30445

[2021-02-25 15:47] ChrisAntaki commented on #32913
Good call! Here's a sample of what the PR is saving to localStorage

[code]

[2021-02-25 15:58] llguedes commented on #30997
Hi @micajuine-ho I'm really glad you could take a look on our issue. This means a lot for us and even makes my heart beats faster lol. If there is anything else that we could provide you with let us know.

[2021-02-25 16:03] caroqliu commented on #32549
Doesn't it respect the default here? Does the AMP layer not pass in these attrs?
https://github.com/ampproject/amphtml/blob/476d99c927db659ffcf2ccde286552dbca7aeaef/extensions/amp-accordion/1.0/component.js#L371

[2021-02-25 16:14] caroqliu commented on #32912
Of the three links provided, I'm only getting the described error on the last one. Is this intended? Looking into it further now.

[2021-02-25 16:20] krdwan commented on #32549
It respects the default values in Preact mode. :)

In AMP / Bento mode, it's actually reversed where the `role` attribute's default values are passed into the `ContentShim` / `HeaderShim`.   (The AMP layer passes in the Shims.)  I've updated the logic in the Shim's to first check for a default value in this PR: ✨ [bento][amp-accordion][fixit] Check for pre-existing role attribute before using defa

[2021-02-25 16:20] caroqliu commented on #32912
Looks like you need to replace all occurrences of `amp-nested-submenu="true"` with `amp-nested-submenu` - `"true"` is not a valid value for this attribute:
https://github.com/ampproject/amphtml/blob/60ec06c001d4cafdac577604a13fee6846af13a8/extensions/amp-nested-menu/validator-amp-nested-menu.protoascii#L51-L54

Going to go ahead and mark this issue as resolved - please re-open if further assistanc

[2021-02-25 16:36] velichkin commented on #29714
Hello. We have the same problem. Are there any news on this issue? Now we simply replacing `ads.localhost` to `local-amp.com` in 3p/integration.js, but it would be great if native solution was available.

[2021-02-25 17:30] gmajoulet commented on #32826
For the record, what Enrique and I discussed offline:

1. An error should be thrown when trying to instantiate a player on a DOM element that already has one
2. Calling `new AmpStoryPlayer(...)` should return the player DOM element instead of the class instance, so we have consistency between doing `querySelector('amp-story-player')` on a Player that was in the initial HTML, and calling `new AmpSt

[2021-02-25 17:33] #25720 closed

[2021-02-25 17:46] samouri opened #32919 "Potential missed opportunity re. amp-analytics/amp-ad"
**summary**

While fixing a new bug I introduced in amp-analytics, I noticed a codepath which I'm curious about.
Specifically that all analytic events fired for a destroyed embed are bailed out on.

https://github.com/ampproject/amphtml/blob/01f115a81355ca87ee5dab69127a710f8afcdc72/extensions/amp-analytics/0.1/amp-analytics.js#L643-L651

My question for those who know more about `<amp-ad>` and `<a

[2021-02-25 18:02] #25320 closed

[2021-02-25 18:04] calebcordry commented on #32919
cc/ @ampproject/wg-monetization I am unsure if we are losing meaningful pings here, but seems worth investigating.

[2021-02-25 18:05] micajuine-ho opened #32920 "[amp-carousel 0.1] Looping carousel starts on last slide"
Carousel starts on `n-1` index and then next button behavior skips multiple slides: [repro link](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8aGVhZD4KICAgIDxtZXRhIGNoYXJzZXQ9InV0Zi04IiAvPgogICAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICAgIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoIiAvPgogI

[2021-02-25 19:18] #32902 closed

[2021-02-25 19:46] mszylkowski commented on #32506
PRs like #32859 and #32840 should fix most of these issues.

[2021-02-25 20:02] #23494 closed

[2021-02-25 20:02] #24248 closed

[2021-02-25 20:02] #24228 closed

[2021-02-25 20:02] #24218 closed

[2021-02-25 20:24] #32920 closed

[2021-02-25 20:43] rebeccanthomas opened #32928 "Increase the test coverage of [`amp-minute-media-player`]"
Current test coverage is only 50%

[2021-02-25 21:06] krdwan opened #32930 "❄️ Flaky test integration test for amp-img"
Flake history: http://amp-test-cases.appspot.com/test-results/history/644ca2f72a281d7990cdf21dd2c5a9ed
Skip test PR: https://github.com/ampproject/amphtml/pull/32929

[2021-02-25 21:25] gmajoulet commented on #30817
cc @ampproject/wg-infra @rsimha do you know what we're missing here and why the CDN URL isn't rewritten to the local build one for this extension?

[2021-02-25 21:33] micajuine-ho commented on #26249
If 0.2 fixes the issue, I suggest you migrate to using it, since 0.1 support is limited--we are looking to deprecate it soon.

[2021-02-25 21:33] #26249 closed

[2021-02-25 21:36] micajuine-ho commented on #32712
We have recently added a proxy implementation of the TCF PostMessage APIhttps://github.com/ampproject/amphtml/issues/30385. Maybe this will help in the future.

I will look into this.

[2021-02-25 21:40] micajuine-ho commented on #28708
Hi @candice-womp can you please provide a repro link? Something on https://playground.amp.dev/ or jsbin would be much appreciated.

[2021-02-25 21:40] honeybadgerdontcare commented on #32277
Do we want this to also apply to [Early Access Google Fonts](https://fonts.google.com/earlyaccess)?

These have URLs like: `https://fonts.googleapis.com/earlyaccess/notosansdevanagari.css`

[2021-02-25 22:10] rebeccanthomas opened #32935 "Increase the test coverage of [`amp-riddle-quiz`]"
Current test coverage is 21.62%.

[2021-02-25 22:25] dmanek opened #32938 "[amp-viewer-integration] Fix unit tests"
Fix the following:
1. Several tests are currently skipped
2. specs need to updated to work with the current version of sinon.js

[2021-02-25 23:32] merakmarey commented on #26249
Awesome.. idea... why not have a latest version link for this and all components? ... like jQuery does?..that way devs don't have to go in and manually update deprecated versions...

[2021-02-25 23:46] Enriqe opened #32941 "[amp-story-player] Add support for rewinding stories in the background"
Follow up for #31424

Currently it is only possible to rewind the current story. We'd like to rewind other stories in the background as well.

[2021-02-25 23:52] rebeccanthomas opened #32942 "Increase unit test coverage of [amp-dailymotion]"
The current test coverage of this component is 51.35%.

[2021-02-26 00:26] rebeccanthomas opened #32949 "Increase unit test coverage of [`amp-delight-player`]"
The current test coverage for this component is 47.67%
(Measured with the `--coverage` flag on `gulp unit`)

[2021-02-26 02:54] #7508 closed

[2021-02-26 02:54] #5401 closed

[2021-02-26 02:54] #17007 closed

[2021-02-26 02:54] #18949 closed

[2021-02-26 02:54] #10162 closed

[2021-02-26 02:54] #24268 closed

[2021-02-26 02:54] #23185 closed

[2021-02-26 02:54] #24266 closed

[2021-02-26 02:59] bradleymyers commented on #29834
I can't reopen it. Use these fiddles instead. I had to take it down off the other link. The fiddles explain in detail how to recreate the error. Not sure why you closed this out. Its a bug

Link 1: Full build out with errors being produced https://jsfiddle.net/3cge0d5a/
Link 2: Bugged data from link 1 isolated and working. Including to show that its not a data issue. https://jsfiddle.net/9vkyztb3/

[2021-02-26 03:00] bradleymyers commented on #29834
I can't reopen it. Use these fiddles instead. I had to take it down off the
other link. The fiddles explain in detail how to recreate the error. Not
sure why you closed this out. Its a bug

Link 1: Full build out with errors being produced
https://jsfiddle.net/3cge0d5a/
Link 2: Bugged data from link 1 isolated and working. Including to show
that its not a data issue. https://jsfiddle.net/9vkyztb3/

[2021-02-26 03:19] catherinehoule commented on #32549
Maybe you could allow divs (and not only sections) where `aria-labelledby=""` is not added automatically?

Thanks a lot @caroqliu for making it happen fast :D

[2021-02-26 07:25] rebeccanthomas opened #32951 "Increase unit test coverage of [`amp-3q-player`]"
The current test coverage for this component is 55%

[2021-02-26 11:44] Tudmotu commented on #32712
Thanks! Good to know about the `__tcfapi` support! :)

[2021-02-26 12:48] abhiz10 commented on #32653
@processprocess Is there any update on the above concern?

[2021-02-26 13:40] M-J-Robbins commented on #31612
I just hit this same issue, came here to report it but good to see it's already logged.

Adding a note that where Gmail and [Gmail playground](https://amp.gmail.dev/playground/) will convert to `application/x-www-form-urlencoded` the [AMP playground](https://playground.amp.dev/?runtime=amp4email), the [mail.ru playground](https://postmaster.mail.ru/amp/playground.html) and Mail.ru will all still s

[2021-02-26 15:39] Enriqe opened #32955 "[amp-story] Drop bookend when possible"
Part of #26957

As a step in the deprecation, we should drop the bookend from stories that don't use the `<amp-story-bookend>` tag.

/cc @ampproject/wg-stories

[2021-02-26 15:42] micajuine-ho commented on #26249
I'm not sure what `jQuery` does, but the latest support can always be seen on amp.dev: https://amp.dev/documentation/components/amp-carousel/

Maybe this is something we can provide as part of the deprecation process of amp-carousel 0.1

[2021-02-26 15:43] Enriqe commented on #32653
@calebcordry can you take a look please?

[2021-02-26 15:44] Enriqe commented on #31606
/cc @calebcordry

[2021-02-26 16:17] gmajoulet commented on #32955
As per the AMP removal process, we will have to wait some time before being able to remove anything. Once that period is over, we should remove all bookends altogether, I don't see removing the bookend only sometimes as a viable option if we want to follow the AMP process.

It should look like this:
- Provide a bookend replacement for some features (sharing options)
- File an intent to remove and

[2021-02-26 16:40] #32827 closed

[2021-02-26 17:35] #31989 closed

[2021-02-26 17:47] eNoodle4711 opened #32961 "[amp-subscription] for ad-free site"
We know that SWG was developed mainly for real paywalls and premium content. However, we want to use SwG for an ad-free site and not only in the WWW version, but also via AMP.

To make it even more complex, we don't use any accounts on our site and we don't store any data on our servers for privacy reasons. We only use the LocalStorage to store necessary data and to keep it for performance reasons

[2021-02-26 17:48] erwinmombay commented on #30142
this can be closed as the `if else` logic was removed since the PR for https://github.com/ampproject/amphtml/commit/44d2d777c74b88bbde0f3197aa5b5403d88868cf#diff-586cddcb20b3d24635a884ba630a84119d063df527b9397d9aded7d16e2fb481 was merged AFTER https://github.com/ampproject/worker-dom/pull/929

[2021-02-26 17:48] #30142 closed

[2021-02-26 17:51] #31199 closed

[2021-02-26 17:52] #28975 closed

[2021-02-26 18:28] #29517 closed

[2021-02-26 19:01] honeybadgerdontcare commented on #32277
The first part of adding `&display=optional to Google Fonts [/css? and /css2?] is completed in cl/359793844.

[2021-02-26 19:16] gmajoulet commented on #32498
Feel free to close it if everything is tracked in these other tickets!

[2021-02-26 20:28] #31424 closed

[2021-02-26 20:32] pshihn commented on #31424
@Enriqe When can we expect this to show up in "https://cdn.ampproject.org/amp-story-player-v0.js"?

[2021-02-26 20:49] nainar commented on #29834
Hi, sorry that it took so long to get back to you.

Could you also send a screenshot of what you think is being called buggy I am having the same issue with reproducing as @caroqliu

[2021-02-26 20:49] Enriqe commented on #31424
@pshihn this should be in the `nightly` by tonight, in `beta` next Tuesday, and in `stable` the Tuesday after that (March 9th).

https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/

[2021-02-26 21:43] caroqliu opened #32967 "Improve documentation for BaseElement['props']"
The [Building a Bento AMP Component](https://github.com/ampproject/amphtml/blob/master/contributing/building-a-bento-amp-extension.md) doc doesn't say much about `BaseElement['props']` and should at least enumerate what all the configuration options are: https://github.com/ampproject/amphtml/blob/6a860045e793ee398bd53b079db508e311bcfdd1/src/preact/base-element.js#L51-L70

Likewise for the [AMP/Pre

[2021-02-26 21:49] rebeccanthomas opened #32968 "Increase unit test coverage of [`amp-viqeo-player`]"
The current test coverage for this component is 58.69%

[2021-02-26 22:11] bradleymyers commented on #29834
Did you go to the fiddles and follow the instructions on the fiddle? It's
all there.

On Fri, Feb 26, 2021 at 1:50 PM Naina Raisinghani <notifications@github.com>
wrote:

[2021-02-26 22:20] calebcordry commented on #32653
Hi @abhiz10 as this is a new product there is limited demand right now, and as you are seeing it is mostly for mobile android. If you are seeing android ads thats good, it should mean you have everything set up correctly. I also saw an ad on your demo page. We should have more demand online soon that will help fill ios & desktop, but for now I think everything is WAI. Feel free to reopen if I miss

[2021-02-26 22:20] #32653 closed

[2021-02-26 22:20] rebeccanthomas opened #32970 "Increase unit test coverage of [`amp-brid-player`]"
The current test coverage for this component is 59.65%

[2021-02-26 22:21] calebcordry commented on #31606
Hi @abiz10 when I checked your demo page in the other bug, I did not see this warning. How often is this happening? Do you have steps to repro? Thanks.

[2021-02-26 22:59] Blacktetriss commented on #24621
+1

[2021-02-26 23:03] #32938 closed

[2021-02-27 09:30] abhiz10 commented on #32653
@calebcordry Thanks for the Update.

[2021-02-27 09:42] abhiz10 commented on #31606
@calebcordry Thanks for the reply. Yes, I'm not seeing those warning now... will reopen the issue if I found those warning.

[2021-02-27 09:42] #31606 closed

[2021-02-27 13:24] merakmarey commented on #26249
what I am saying is that instead of:

<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>

developers can do:

<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-latest.js"></script>

where amp-carousel-latest.js will always be a copy of the latest version of the component...0.2..0.3..0.4 and on...

[2021-02-27 15:57] Blacktetriss commented on #24621
someone tried to implement it for AMP?
https://tagmanager.google.com/gallery/#/owners/matteo-zambon-gtm/templates/EEC-dataLayer-Builder-for-GA4
https://tagmanager.google.com/gallery/#/owners/gtm-templates-simo-ahava/templates/eec-products-ga4-items

[2021-02-28 00:20] NashIlli commented on #24621
+1

[2021-02-28 01:40] camelburrito opened #32978 "Latest release Breaks amp-youtube,amp-img on an amp-list inside an lightbox"
**Please only file reports about bugs in AMP here.**

## What's the issue?
Previously working functionality broken
Latest release Breaks amp-youtube,amp-img on an amp-list inside an lightbox

Briefly describe the bug.

Images and videos inside an amp-list in a lightbox dont load anymore.

## How do we reproduce the issue?
1. go to https://storywall-staging.firebaseapp.com/storywall
2. click on any

[2021-02-28 02:16] kristoferbaxter commented on #32978
Marked P1, but this might be P0.

@samouri and @dmanek can you take a look?

[2021-02-28 03:12] kristoferbaxter commented on #32757
https://github.com/ampproject/amphtml/issues/32978

Looks like a regression was introduced in this version. Attempting to rollback.

[2021-02-28 03:45] kristoferbaxter commented on #32978
We've rolled back the release that caused this issue, and will start to investigate on Monday.

[2021-02-28 03:47] camelburrito commented on #32978
Thank you!

[2021-02-28 03:58] kristoferbaxter commented on #32978
Adding @dvoytenko, this appears to be the issue from rough a rough glance: https://github.com/ampproject/amphtml/issues/32978

[2021-02-28 04:04] camelburrito commented on #32978
Can confirm that the issue does not exist in 2101300534005 (tested it out). The rollback fixed it !

[2021-02-28 06:27] erwinmombay commented on #32978
thank you @camelburrito !

[2021-02-28 10:29] dvoytenko commented on #32978
I think I see the reason for the error. It's a bit obscure. Worth discussing. I have a fix almost ready, but this part is a bit fragile.

[2021-02-28 11:09] dvoytenko opened #32981 "🌸 Cherry-pick request for #32978 into #32757 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32978 | #32980 |     **NO*

[2021-02-28 11:30] dvoytenko commented on #32978
The fix and cherrypick for Stable/Beta are #32980 and #32981. The fix for the HEAD is #32979.

[2021-02-28 16:40] #24221 closed

[2021-02-28 16:40] #24289 closed

[2021-02-28 16:40] #24240 closed

[2021-02-28 16:40] #24308 closed

[2021-02-28 16:41] #24169 closed

[2021-02-28 16:41] #24203 closed

[2021-02-28 16:41] #24168 closed

[2021-02-28 16:41] #24154 closed

[2021-02-28 16:41] #24205 closed

[2021-02-28 16:41] #23594 closed

[2021-02-28 16:41] #24132 closed

[2021-02-28 16:41] #24175 closed

[2021-02-28 16:41] #24107 closed

[2021-02-28 16:41] #24178 closed

[2021-02-28 16:41] #24237 closed

[2021-02-28 16:41] #22703 closed

[2021-02-28 16:41] #23785 closed

[2021-03-01 09:07] dritter opened #32984 "amp-script nodom has no access to amp-state"
Hi there,

TBH, I am not sure if this is a Bug, or on purpose (and not [documented](https://amp.dev/documentation/components/amp-script/#referencing-amp-state)). I noticed that `amp-script` with `nodom` attribute has no access to `amp-state`.
The [documentation about `nodom`](https://amp.dev/documentation/components/amp-script/#nodom) says that with `nodom` it is not allowed to make DOM _modificat

[2021-03-01 11:21] davidpmolloy commented on #31673
+1 from Bauer Media. Arguments are the same as above

[2021-03-01 13:08] DrLightman commented on #24621
So really no AMP support yet for GA4?

[2021-03-01 16:25] rcebulko commented on #32756
@caroqliu as I start looking through changes that need to be made, this pairing is actually much less common than I thought. It's possible some bits were tweaked during Fixit, but I see fewer than a dozen cases where this would unify logic, and many where `ActionInvocation#trigger` is called without any associated `dispachCustomEvent`. I'm inclined to revert #32884 ; WDYT?

[2021-03-01 16:41] samouri commented on #32984
Thank you @dritter for the report and the minimal reproduction! We definitely intend for `nodom` amp-script's to have access to `amp-state`, so this is indeed a bug. Will fix this asap

[2021-03-01 16:53] samouri opened #32987 "🌸 Cherry-pick request for #32892 into #32874 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
|  https://github.com/ampproj

[2021-03-01 16:55] Cauchon commented on #32165
Hi @dmanek, I haven't noticed anything that might help debug the issue on my end. Have you had any further luck?

[2021-03-01 17:09] #32832 closed

[2021-03-01 17:17] alanorozco commented on #32981
@dvoytenko Is #32980 ok to merge to proceed with cherry pick?

[2021-03-01 17:21] dvoytenko commented on #32981
@alanorozco still waiting for approvals on PRs. But hopefully soon.

[2021-03-01 17:24] processprocess commented on #32493
Closing this. Fixed via:

- Pagination buttons desktop #32861
- Share menu close button #32863
- Embedded tweet close button #32863
- amp-story-360 #32871
- amp-video #32963
- amp-img #32880
- Page attachment close button #32925

[2021-03-01 17:24] #32493 closed

[2021-03-01 17:25] kristoferbaxter commented on #32981
Approved. Left some additional notes on the PR around test coverage.

[2021-03-01 17:29] #32978 closed

[2021-03-01 17:30] kristoferbaxter commented on #32987
Since we already have several high priority cherrypicks happening right now, let's defer this logging output change to the next stable release.

[2021-03-01 19:10] samouri commented on #32987
It should be in the new Beta cut this week anyway, so lets just close this and let it be fixed according to usual release schedule

[2021-03-01 19:11] #32987 closed

[2021-03-01 19:14] jridgewell commented on #32981
I do not believe LTS is involved in this.

[2021-03-01 19:19] micajuine-ho commented on #32911
Hi @adekbadek , thank you for your bug report. Can you please attach an `amp-analytics` config so we can easily repro the issue?

[2021-03-01 21:11] honeybadgerdontcare commented on #22543
Fixed in #32989

[2021-03-01 21:43] honeybadgerdontcare commented on #32277
Early Access Google Fonts currently do not [support](https://fonts.googleapis.com/earlyaccess/notosansdevanagari.css?display=optional) `display=optional`.

This leaves the other considerations and thoughts. Perhaps those should be broken into individual feature requests with their own priorities.

[2021-03-01 21:46] honeybadgerdontcare commented on #28255
@techzotezo hopefully you've been able to resolve your issues. The URLs above currently 404 even after redirect. If you're still having difficulties please reopen with more recent URLs or try contacting [Search Console Help](https://support.google.com/webmasters/?hl=en#topic=9128571).

[2021-03-01 21:46] #28255 closed

[2021-03-01 21:49] adekbadek commented on #32911
<details>
  <summary>Here it is - click to expand</summary>
  <pre>
{
  "optoutElementId": "__gaOptOutExtension",
  "vars": {
    "gtag_id": "UA-157804742-1",
    "config": {
      "UA-157804767-1": {
        "groups": "default",
        "linker": [],
        "send_page_view": false,
        "dimension2": "nosh",
        "dimension1": "John Doe",
        "dimension3": 1856,
        "dimension4": "

[2021-03-01 22:01] kristoferbaxter commented on #32277
Looks like early access fonts do not support any display values.

https://fonts.googleapis.com/earlyaccess/notosansdevanagari.css?display=swap

Perhaps this is a bug on the Google Font API side?

[2021-03-01 22:26] micajuine-ho commented on #26249
@alanorozco You mentioned that `*-latest.js` is buggy, could you elaborate on that?

[2021-03-01 23:31] honeybadgerdontcare commented on #32277
Filed b/181603843 asking.

[2021-03-02 13:37] molnarg commented on #27091
From security PoV, the only potential issue I see here is hash collision between different sites that allow accessing someone else's data. SHA256 is collision resistant, so we're fine on that front.

Enabling the storage of data by vendors would need to be looked into by privacy folks.

I agree that further segmenting 3P domains into vendor specific ones would be a win for security/privacy, but tr

[2021-03-02 15:27] powerivq commented on #27091
@honeybadgerdontcare only saw you two are on wg-security-privacy. Do you know who else may look at the privacy part? Or does the privacy discussion above suffice?

[2021-03-02 15:28] caroqliu commented on #32756
How uncommon is the pairing, and how costly is it to include it in cases where it is not used? If it appears like it will only be worthwhile to do in a post-Bento world -- I don't feel strongly to have it. A couple notes about if we _do_ add the `dispatchCustomEvent` to `ActionInvocation#trigger`:
- custom JavaScript is disallowed on valid AMP documents`*` on the web so should not be harmful to fi

[2021-03-02 16:03] micajuine-ho commented on #27236
Hi @VasudevHarshal-123 can you please provide a code snippet that exhibits the behavior?

[2021-03-02 16:03] rcebulko commented on #32756
My searches found less than a dozen, scattered throughout AMP extension code (with the only Bento example being in `amp-base-carousel:1.0`). I suspect it may not be worthwhile, given that it would really only be unifying a few call-sites. I'm inclined to agree wider changes deserve their own thread/design review around how we'd want to handle firing events in Bento in general. My sense is that Ben

[2021-03-02 16:11] alanorozco commented on #27236
@micajuine-ho This is not a bug, it's a feature request.

[2021-03-02 16:14] alanorozco commented on #27236
[(You can see a carousel with autoplay on here)](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoSBsYW5nPSJlbiI+CjxoZWFkPgogIDxtZXRhIGNoYXJzZXQ9InV0Zi04Ij4KICA8dGl0bGU+YW1wLWNhcm91c2VsPC90aXRsZT4KICA8c2NyaXB0IGFzeW5jIHNyYz0iaHR0cHM6Ly9jZG4uYW1wcHJvamVjdC5vcmcvdjAuanMiPjwvc2NyaXB0PgogIDxzY3JpcHQgYXN5bmMgY3VzdG9tLWVsZW1lbnQ9ImFtcC1jYXJvdXNlbCIgc3JjPSJodHRwczovL2Nkbi5hbXBwcm9qZWN0L

[2021-03-02 16:15] micajuine-ho commented on #27236
Thanks @alanorozco , this is what I was looking for :P

[2021-03-02 17:36] micajuine-ho commented on #32911
Is there a live website that is using this config?

[2021-03-02 17:50] jpettitt commented on #32961
`isAccessibleForFree` should be set false for this use case. While it's perhaps not intuitive `isAccessibleForFree` really means "some content on this page will be rendered differently according to subscriber status" which is true if you are hiding ads.

We do not recommend the iframe approach because for a large number of browsers the data will not be stored in local storage when the frame is cro

[2021-03-02 18:00] caroqliu commented on #32756
This all sounds reasonable to me--I'll support reverting the change and we can keep this thread open for further discussion in the mean time.

[2021-03-02 18:11] #31998 closed

[2021-03-02 18:15] micajuine-ho commented on #27236
As per the use case that you described, I believe it makes more sense to enable this behavior (pause autoplay), while the user is pressing the current slide (maybe dragging) or the user has clicked the slide, rather than it be triggered by pressing or sliding to the next slide.

As this is a UX decision, I would like to get @zewenliang's opinion on this (once he returns from OOO), unless we feel s

[2021-03-02 18:17] #31901 closed

[2021-03-02 18:35] honeybadgerdontcare commented on #27091
@powerivq We should have a look at the storage of data by vendors by some privacy folks. Replied to you offline to begin that discussion.

[2021-03-02 18:51] samouri opened #33011 "Gulp Dev Server < 1s"
**summary**
There are various tasks that happen as part of the default `gulp` lazy dev server which slow down startup time. We should speed them up.

- We build all CSS files in the whole project. They should be built per extension as they are requested instead of frontloading (4 seconds --> 0).
- We build all Jison parsers for the whole project. They too should be lazily built as part of `buildEx

[2021-03-02 18:57] camelburrito commented on #32447
@micajuine-ho any updates on when we should expect this to launch ?

[2021-03-02 18:59] micajuine-ho commented on #32447
Just recently got some free cycles, working on it soon.

[2021-03-02 21:26] #32908 closed

[2021-03-02 21:37] ChrisAntaki commented on #32030
I'm not able to replicate this anymore. Would you mind if we closed it?

[2021-03-02 21:41] ChrisAntaki commented on #32030
If this happens again, it would be great if we could get a snapshot of the AMP page's HTML where it occurs

[2021-03-02 23:13] #32949 closed

[2021-03-02 23:42] alanorozco commented on #32706
@mister-ben Hi. Has this been looked at?

[2021-03-03 01:31] dvoytenko opened #33020 "Support multiple extension versions between main and FIE docs"
FIE (a4a) and main document have to allow version isolation. I.e. the main doc and a FIE doc should be able to include different versions of the same extension without conflicting with each other.

- [x] Propagate version info in the binaries
- [x] Enable `version` argument for all extension APIs
- [x] Modify FIE code to accept versions
- [x] Modify A4A to propagate versions to FIE
- [ ] Stretch g

[2021-03-03 07:48] SimonHogstromRonbol opened #33026 "Google Business Messages component for AMP"
## Describe the new feature or change to an existing feature you'd like to see

Hi, i brought this up on slack and was directed to make an issue about it.

Online chat service support is something that we have a lot of clients requesting, especially recently.
Currently, the solution we've come up with is having the chat widget run in an iframe on the site.

The problem with the iframe solution is

[2021-03-03 10:48] adekbadek commented on #32911
Here's [an example](https://scientific-vole.jurassic.ninja/2021/03/03/massa-auctor-sapien-ac-tristique-potenti-natoque-sodales-dictumst/) - if you inspect the call made to `https://www.googletagmanager.com/gtag/amp?__amp_source_origin=https%3A%2F%2Fscientific-vole.jurassic.ninja`, its payload is ~11kB and it fails.

[2021-03-03 11:20] dritter opened #33029 "amp-carousel 0.1 regression in 2102130314004"
Hi there,

we noticed two regressions in the amp-carousel 0.1 (0.2 seems to be clean):

1. It shows initially the last slide (instead of the first one)
    ![image](https://user-images.githubusercontent.com/1544760/109796769-dcc6af80-7c18-11eb-9552-b602c4a6f989.png)

2. it shows the wrong slide on connected carousels after click (seems to be off by one)
    ![image](https://user-images.githubuserc

[2021-03-03 11:31] normanfan opened #33030 "prevent clicks on top 80%"
I found that you have a new feature to prevent clicks on the top 80%. We want add links on the other area of ​​the card besides yop 80%, how can I do it

[2021-03-03 12:52] eNoodle4711 commented on #32961
@jpettitt, thanks for the clarification and the valuable insights.

We will set `isAccessibleForFree` to false. Some content (mainly ads) on this page will be rendered differently and if the set flag reflects that, we're absolutely fine with this. Otherwise I would have prefered the `alwaysAuthFreeContent` flag mentioned here https://github.com/ampproject/amphtml/issues/27754 in combination with `

[2021-03-03 15:28] caroqliu commented on #33029
@dritter Thanks for filing this issue! This sounds like a duplicate of #32920 which was recently fixed, @micajuine-ho can you please confirm?

[2021-03-03 15:47] Avdhoot05 commented on #32860
@newmuis  Any update ?

[2021-03-03 15:52] micajuine-ho commented on #33029
Confirmed it is a dup and that it is solved by https://github.com/ampproject/amphtml/pull/32866. Will CP it into stable.

[2021-03-03 16:19] micajuine-ho opened #33033 "🌸 Cherry-pick request for #33029 into #32874 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33029 | #32866 |     **YES

[2021-03-03 16:20] kristoferbaxter commented on #33033
Approved.

[2021-03-03 16:27] kristoferbaxter opened #33034 "Design Review 2021-03-24 16:30 UTC (Africa/Europe/western Asia)"
Time: [2021-03-24 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=03&day=24&iv=0) ([add to Google Calendar](https://calendar.google.com/calendar/u/0/r/eventedit?text=AMP+Project+Design+Review&dates=20210324T163000Z/20210324T173000Z&details=https://bit.ly/amp-dr&sf=true
))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds wee

[2021-03-03 16:27] #32205 closed

[2021-03-03 16:38] jpettitt commented on #32961
`isAccessibleForFree` will not change indexing either way.   The product id metadata is used to match user subscriptions to show "from your subscriptions" search results, `isAccessibleForFree` doesn't change that either way.

Please file a separate issue for `subscriptions-display` failing within `amp-sidebar` - that's a bug.

We recommend using the AMP reader Id as a user lookup key.  If you asso

[2021-03-03 16:58] samouri commented on #33020
What happens today if a4a and main doc have different versions?

[2021-03-03 16:59] dvoytenko commented on #33020
First one wins 😨

[2021-03-03 18:48] samouri commented on #32984
There must be a race condition during hydration.

If you call `AMP.getState` within the outer scope, you experience the highlighted behavior (`state=null`). All future calls will also result in a null state.

If the first call to AMP.getState occurs in the next macrotask, it then behaves as expected. E.g.

[code]

[2021-03-03 19:44] alanorozco opened #33040 "Video buffering/scrubber may affect visual tests"
From real world pages:

![image](https://user-images.githubusercontent.com/254946/109862743-a3d90b80-7c15-11eb-9677-f25b90831481.png)

![image](https://user-images.githubusercontent.com/254946/109862853-c66b2480-7c15-11eb-881f-ad9ebd1c65a0.png)

[2021-03-03 20:03] newmuis commented on #33030
Hi @normanfan, I assume this is relating to stories.

This is actually not a new feature; it's been a format consideration since links were introduced in 2018.  You can, however, use an `<a>` tag anywhere on the screen as a descendant of `<amp-story-grid-layer>`; users will just be presented with a tooltip.

Seems like this is a duplicate of #28620.  Please feel free to reopen if you don't feel th

[2021-03-03 20:03] #33030 closed

[2021-03-03 20:34] erwinmombay commented on #33026
thanks @krdwan . leaving this for your team to triage

[2021-03-03 21:09] ampprojectbot opened #33043 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CKnWtdfYr7vaywE)
**First seen:** Mar 2, 2021
**Frequency:** ~ 7,152/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Wa (https://cdn.ampproject.org/rtv/002102200206003/v0.mjs:2:10961)
    at Va.Ma (https://cdn.ampproject.org/rtv/002102200206003/v0.mjs:2:9183)
    at Va.error (ht

[2021-03-03 21:15] justin-lagtapon-crowdriff opened #33044 "Broken link in the documentation"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2021-03-03 21:32] apansa opened #33046 "US privacy string support for amp-ad doubleclick"
Right now the amp-ad tag for doubleclick ads is not setting the right tag parameter when reading US privacy strings from the amp-consent component.

For instance, considering a publisher with this configuration for amp-consent:

[code]

When the the amp-consent response as define [here](https://amp.dev/documentation/components/amp-consent/#response). The us privacy string is being set on the gdpr_

[2021-03-03 21:48] micajuine-ho commented on #33046
Related to discussion https://github.com/ampproject/amphtml/issues/32712

[2021-03-03 23:02] dvoytenko opened #33052 "🌸 Cherry-pick request for #33050 into #32874 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33050 | #33050 |     **YES

[2021-03-03 23:10] jridgewell commented on #33052
Approved.

[2021-03-03 23:41] alanorozco opened #33053 "🚄 Release tracking issue for release 2103020108001"
# Release tracking issue

This issue tracks release [2103020108001](https://github.com/ampproject/amphtml/releases/tag/2103020108001). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2102200206004...2103020108001).

- [x] Release 2103020108001 promoted to Experimental and Beta (opt-in) channels (March 3, 2021, 4:11:09 PM GMT-8)
- [x] Release 2103020156001 cre

[2021-03-04 00:26] dmanek commented on #32165
Hi @adops-tcs can you share the URL of your site? Also any details to help me debug this issue would be appreciated.

[2021-03-04 01:29] adops-tcs commented on #32165
@dmanek , here is an example URL: https://www.google.com/amp/s/www.sportscasting.com/kansas-city-chiefs-encouraging-news-patrick-mahomes-health/%3famp

It only happens on the articles on google.com/amp domain.

It doesn't happen if you go to the same AMP article directly on our site:
https://www.sportscasting.com/kansas-city-chiefs-encouraging-news-patrick-mahomes-health/?amp

Also, it only happen

[2021-03-04 03:04] ampprojectbot opened #33058 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CJW164rr6Yz0Xw)
**First seen:** Mar 2, 2021
**Frequency:** ~ 749/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at ib (https://cdn.ampproject.org/v0.js:30:169)
    at eb.g.Pa (https://cdn.ampproject.org/v0.js:24:294)
    at eb.g.error (https://cdn.ampproject.org/v0.js:24:404)

[2021-03-04 03:19] codysaylor commented on #24621
+ 1

[2021-03-04 03:32] ampprojectbot opened #33059 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CJW164rr6Yz0Xw)
**First seen:** Mar 2, 2021
**Frequency:** ~ 749/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at ib (https://cdn.ampproject.org/v0.js:30:169)
    at eb.g.Pa (https://cdn.ampproject.org/v0.js:24:294)
    at eb.g.error (https://cdn.ampproject.org/v0.js:24:404)

[2021-03-04 06:24] camelburrito commented on #32978
@dvoytenko - the cherry pick seems to be working for most cases , here is one case it is still broken, if the lightbox scrolls the amp-images below are not loaded

How to reproduce

Use chrome simulator , choose iphoneX (or a real phone)
go to - https://concussionstorywall.org/storywall?filter-person=2
select the cause of injury filer to "Diving", select any thumbnail  named "Cindy"

If you scroll

[2021-03-04 06:57] dmanek commented on #32455
@nainar is ok with not updating the URL in the viewer.

However, upon further investigation it seems like this might be an issue on the viewer, not with amp-next-page. Working with them to resolve this issue.

[2021-03-04 07:39] dvoytenko commented on #32978
Looking

[2021-03-04 08:24] dvoytenko commented on #32978
@camelburrito I took a look at this case, but it's quite different reason. The issue there is that a scrollable lightbox is used, but within it there's a separate scrollable box that independently scrolls. The lightbox currently doesn't support this very well. More specifically, it doesn't see the scroll events within this other scroller and also cannot compute the correct offsets. I'd say that if

[2021-03-04 09:04] camelburrito commented on #32978
@dvoytenko , that makes sense. Ill try to work around that

The lightbox by default is completely unstyled and has no frame or anything so i made some stuff for making it look like a lightbox, hence had to add the scroll container. here is what happened if i remove the `overflow-y: scroll` on the container

![image](https://user-images.githubusercontent.com/1037311/109938886-5b593680-7c85-11eb-8af

[2021-03-04 15:03] micajuine-ho commented on #33029
CP is live in release 2102200206005.

[2021-03-04 15:03] #33029 closed

[2021-03-04 16:44] mszylkowski commented on #32751
This was fixed in #32957 and #32969 so closing this issue.

Issues fixed:
- Controls are keyboard accessible
- Options are announced as buttons by screen readers
- Changes are announced by screen readers (using `aria-live`)

[2021-03-04 16:44] #32751 closed

[2021-03-04 17:24] dvoytenko commented on #32978
@camelburrito the low initial styling is definitely intended. However, the backdrop can definitely be added and it should be relatively easy to do. The lightbox already allows specifying `max-width/height` and `margin:auto`, so making it smaller and centered is possible already. That only makes the backdrop missing for your use case, right?

[2021-03-04 17:55] alanorozco commented on #33040
This may be related to video controls in general, just [hit this one](https://percy.io/ampproject/amphtml/builds/9178043/changed/519588754?browser=chrome&browser_ids=16&subcategories=unreviewed%2Cchanges_requested&viewLayout=side-by-side&viewMode=new&width=360&widths=360): (mute icon changes 🔈 / 🔇)

![image](https://user-images.githubusercontent.com/254946/110007540-a4ce7380-7ccf-11eb-89ed-eed1d80

[2021-03-04 18:24] lannka commented on #32030
Could you check if the URL has something like `&cap=...,cid,...` ? That will instruct AMP runtime to fetch a CID from Viewer. Should remove it if the Viewer does not support such an CID API.

[2021-03-04 18:27] lannka commented on #32030
Also, if someone can help to compose a page that reproduces the issue on glitch.com, I can help to debug the CID stuff.

[2021-03-04 18:28] ChrisAntaki commented on #32030
Just `webview=1` is enough to trigger this issue: https://chrisantaki.github.io/amp-source-url-delay-repro/?amp_js_v=0.1#webview=1

[2021-03-04 18:30] ChrisAntaki commented on #32030
Here's the GitHub repository if you'd like to check out the code. It's really just an HTML page. Please feel free to copy it to Glitch if that helps:
https://github.com/ChrisAntaki/amp-source-url-delay-repro/blob/main/index.html

[2021-03-04 18:32] calebcordry opened #33068 "🐛Story Ads UI appears very small on 4k monitor"
![image](https://user-images.githubusercontent.com/16087874/110010913-a9952680-7cd3-11eb-8bf2-878bfea7dc02.png)

Repro dimensions
Monitor resolution: 3840x2160
Inner window size: 1920x1750

This appears to be an issue across all system layer components. Need to investigate if it also affects things like page-attachment.

[2021-03-04 18:43] #32874 closed

[2021-03-04 19:02] lannka commented on #32030
My early finding is that
- it's not caused by Viewer CID API. because it can repro on non-AMP CDN domain, where we read/write CID in cookies.
- `#webview=1` makes AMP runtime to init a messaging channel. which I don't know if this is desired.
https://github.com/ampproject/amphtml/blob/19645e3aa1c516291350add19ea417a416b5f8e9/src/service/viewer-impl.js#L309-L312
- the establishment of messaging cha

[2021-03-04 19:08] processprocess opened #33071 "[Panning media] handle zoom value being 0"
Currently zooming breaks if `0` is specified.
This is breaking in the zoom calculation in `updateTransform_`.

cc @ampproject/wg-stories

[2021-03-04 19:26] ChrisAntaki commented on #32030
Just for context, my team has become aware of a viewer that's loading AMP URLs containing `#webview=1`, but the viewer is only establishing a messaging channel on _some_ of those pages

[2021-03-04 20:31] Enriqe opened #33080 "[amp-story] Clicks on bottom 20% are broken"
Buttons/links inside an `amp-story-cta-layer` are broken if they are exactly 80% from the top. https://github.com/ampproject/amphtml/pull/32518 introduced this when trying to fix a different bug.

[2021-03-04 20:37] dvoytenko commented on #32030
I think the Viewer should always establish the messaging channel, unless there's a clear reason why it shouldn't. And even if such a reason exists, it's more likely that some specific state is missing. There are a lot of possible issues with setting `#webview=1` and not providing messaging - that's really the main point of that flag. What we're seeing here is likely only one of the symptoms.

[2021-03-04 20:39] ChrisAntaki commented on #32030
Thanks, @dvoytenko ! I will pass this guidance along to the folks managing the viewer

[2021-03-04 20:45] Enriqe opened #33081 "🌸 Cherry-pick request for #33080 into #33053 #32874 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33080 | #33079 |     **YES

[2021-03-04 20:58] #33080 closed

[2021-03-04 21:49] kristoferbaxter commented on #33081
Approved.

[2021-03-04 22:17] lannka commented on #32030
OK, finally located it:

https://github.com/ampproject/amphtml/blob/df3c52493f4f5905103dce293b5415d6453beb22/src/service/url-replacements-impl.js#L200-L204

this is while resolving SOURCE_URL (not READER_ID), which waits for a 8s timeout here:

https://github.com/ampproject/amphtml/blob/df3c52493f4f5905103dce293b5415d6453beb22/src/impression.js#L78-L82

[2021-03-04 22:28] ChrisAntaki commented on #32030
Nice digging, looks like `getTrackImpressionPromise` timing out is one of the symptoms Dima mentioned

[2021-03-04 22:43] lannka commented on #32030
yes. it was introduced by this PR:
https://github.com/ampproject/amphtml/pull/5606/files#diff-8a281cee899c97e8bea38ad6acd584e37576f42b76411813739ba4c2f8660a11R167

if I remember correctly, it was for feature "ALP (AMP Landing Page)" to finish its impression tracking which used source URL to store data that needs to be removed before it is further used as SOURCE_URL

@cramforce could you remind me

[2021-03-04 22:45] #33052 closed

[2021-03-04 22:45] #33033 closed

[2021-03-04 22:45] #32981 closed

[2021-03-04 22:45] #32521 closed

[2021-03-04 22:46] #32463 closed

[2021-03-04 23:17] micajuine-ho commented on #33046
Thank you for filing a detailed error report.

It would seem that the publisher is using geoOverride (amp-consent's built in geoLocation solution), to differentiate between CCPA and GDPR jurisdiction. However, they are are hitting the same endpoint. Therefore, I do not see how doing this would be helpful for them.

Instead, I would suggest that they do something like this:
[code]

Adding on these

[2021-03-05 05:52] alankent opened #33099 "Support file:/// as prefix in addition to localhost"
## Describe the new feature or change to an existing feature you'd like to see

Currently if you have AMP files on disk, it checks that relative URLs start with http:// or localhost - you cannot use file:/// as a prefix. This means if you have files on disk, say checked out from a git repo, you cannot test those files by opening them directly in chrome. You have to spin up a web server to try out

[2021-03-05 08:20] #32951 closed

[2021-03-05 08:21] #32905 closed

[2021-03-05 08:22] #32907 closed

[2021-03-05 08:23] #32928 closed

[2021-03-05 11:05] axxan commented on #24621
+1

[2021-03-05 13:40] #23925 closed

[2021-03-05 13:40] #24167 closed

[2021-03-05 14:57] edoudou commented on #32941
@Enriqe When do you think this feature will be dealt with, and when should we except to see it live ?

[2021-03-05 15:26] caroqliu commented on #33058
Dedup with #32659

[2021-03-05 15:26] #33058 closed

[2021-03-05 15:26] caroqliu commented on #33043
Dedup with #32659

[2021-03-05 15:26] #33043 closed

[2021-03-05 16:43] kristoferbaxter commented on #24486
I missed this issue, apologies. Taking a look.

[2021-03-05 17:38] lannka opened #33106 "Deprecate and clean up the ALP related code"
ALP (AMP landing page) was an AMP solution to eliminate the ad landing page redirection that many ad implementations used to have for click tracking purpose.

To my knowledge, it hasn't been adopted by any ad network in production since launched in AMP (@cramforce @zhouyx correct me). It's also not publicly documented.

Nowadays, a better and universal solution would be to use the ping attribute o

[2021-03-05 17:51] lannka commented on #32030
just to summarize, the observed promise waiting chain is:

subscription => authUrl => SOURCE_URL => trackImpression => viewer.isViewerTrusted => viewer.messagingChannel

To solve this particular problem, we have the following options to break the chain:

1) Expand the authUrl synchronously. We can do that because the macros used are READER_ID + SOURCE_URL, which are both synchronously ready at tha

[2021-03-05 18:03] dvoytenko commented on #32030
If the webview specifies `#webview=1` it means that it wants to supply messaging to adjust some of the page's behavior. If we remove one dependency now, we'd quickly run into a next one. E.g. a `cid` generation or anything else. So I don't think it's as helpful trying to minimize the deps unless we see a way to bypass them in 100% of cases, which I don't yet see how to.

[2021-03-05 18:33] lannka commented on #32030
To figure that out, I guess it needs a debug in the webview of Google News Android app to see what is blocked.

[2021-03-05 18:34] ChrisAntaki commented on #32030
Sometimes the Google News app purposefully doesn't establish a channel

[2021-03-05 18:38] lannka commented on #32030
OK. Then I guess that's the real root cause. I agree with Dima. The protocol is that AMP runtime expect a messaging channel when seeing `#webview=1` in the URL.

[2021-03-05 19:12] #32165 closed

[2021-03-05 19:47] Cauchon commented on #32165
Hi @dmanek, we are still seeing the issue after the fix. Seems 100% reproducible on iPhone when viewed from the AMP cache.

[2021-03-05 20:11] jridgewell commented on #32165
The fix hasn't been deployed yet, it just landed on the master branch.

[2021-03-05 20:25] kristoferbaxter opened #33109 "Design Review 2021-04-07 21:00 UTC (Americas)"
Time: [2021-04-07 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=4&day=07&iv=0) ([add to Google Calendar](https://calendar.google.com/calendar/u/0/r/eventedit?text=AMP+Project+Design+Review&dates=20210407T210000Z/20210407T220000Z&details=https://bit.ly/amp-dr&sf=true
))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds week

[2021-03-05 20:30] kristoferbaxter opened #33110 "Design Review 2021-03-31 01:00 UTC (Asia/Oceania)"
Time: [2021-03-31 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=03&day=31&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210331T010000Z/20210331T020000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2021-03-05 21:21] #30512 closed

[2021-03-06 16:06] ampprojectbot opened #33120 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-06 16:06] ampprojectbot opened #33121 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-06 16:06] ampprojectbot opened #33122 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-06 16:06] ampprojectbot opened #33123 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-06 16:06] ampprojectbot opened #33124 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-06 16:06] ampprojectbot opened #33125 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-06 16:06] ampprojectbot opened #33126 "🚨 Error: This URL is invalid"
Details
---
**Error report:** [link](http://go/ampe/CK6wnsPL29zq_wE)
**First seen:** Jul 15, 2019
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: This URL is invalid
    at request (<a href="https://github.com/ampproject/amphtml/blob/2103050521000/extensions/amp-analytics/0.1/transport.js#L273">extensions/amp-analytics/0.1/transport.js:273</a>:30)
    at <a href="https://github.com/ampp

[2021-03-07 02:31] #24371 closed

[2021-03-07 02:31] #24333 closed

[2021-03-07 13:55] rickygrows commented on #30935
My personal experience with this issue leads me to believe there is either a bug with iOS Chrome spawning a new tab and trying to load a URL automatically --and/or-- the AMP Player not handling this "automatic new tab" correctly. This "automatically-loading new tab" occurs when clicking a Web Story link from another app (that results in iOS Chrome becoming the foreground app and opening a new tab)

[2021-03-07 21:05] ampprojectbot opened #33127 "🚨 Error: Cannot read property 'style' of null"
Details
---
**Error report:** [link](http://go/ampe/CJnSmff9nfujiAE)
**First seen:** Nov 25, 2020
**Frequency:** ~ 284/day

Stacktrace
---
<pre><code>Error: Cannot read property 'style' of null
    at style (<a href="https://github.com/ampproject/amphtml/blob/2102200206006/src/style.js#L116">src/style.js:116</a>:12)
    at setStyle (<a href="https://github.com/ampproject/amphtml/blob/2102200206006

[2021-03-08 06:59] ampprojectbot opened #33128 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CNyxori40K6qew)
**First seen:** Jun 27, 2020
**Frequency:** ~ 2,709/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at message (<a href="https://github.com/ampproject/amphtml/blob/2103020156002/src/log.js#L702">src/log.js:702</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/210

[2021-03-08 14:37] pmeenan commented on #31003
Is this still an issue?  Chrome 89 shipped with some fixes for CLS measurement where it was reporting layout shifts for non-visible content (particularly the anti-flicker pattern of hiding with opacity: 0) and chrome 87 or 88 shipped with fixes for SPA page rehydration (though I think that was more LCP related).

I'm not seeing any layout shifts reported on the glitch.me test page: https://www.web

[2021-03-08 15:28] micajuine-ho commented on #32911
Hi I am seeing that is a CORS error:
![image](https://user-images.githubusercontent.com/30711678/110341952-bd949d00-7fdf-11eb-9497-c77c92c0ed2d.png)

I believe this is fixable on your end.

[2021-03-08 15:28] #32911 closed

[2021-03-08 15:30] #32720 closed

[2021-03-08 16:34] powellish commented on #32583
hi @micajuine-ho & @alanorozco - I've just tried an [AMP page](https://www.newschainonline.com/news/world-news/meghan-and-harry-reveal-they-actually-married-three-days-before-the-official-royal-wedding-118882?amp) with a VPN set to France and I can recreate the same issue. Is that an option for you (set to anywhere in EEA/most of Europe)?

Steps to recreate: clear app storage data > accept consent

[2021-03-08 16:52] micajuine-ho commented on #32583
Using the geoOverride in dev tools (https://developers.google.com/web/tools/chrome-devtools/device-mode/geolocation), and setting my location to Berlin, I get a CORS error, which is affecting the response from the CMP:
![image](https://user-images.githubusercontent.com/30711678/110353141-92b04600-7feb-11eb-836a-386562ae258c.png)

Are you getting this as well?

[2021-03-08 17:27] gmajoulet opened #33136 "[Story navigation buttons] Navigation button's label on the last page of a story should read "next story""
Navigation button's label on the last page of a story still reads "last page", when it should read "next story".
This line should be replaced with a `NEXT_STORY` button state.

https://github.com/ampproject/amphtml/blob/644140058595f2e175df75807c67fd1e3afeb42b/extensions/amp-story/1.0/pagination-buttons.js#L337-L339

cc @ampproject/wg-stories

[2021-03-08 17:31] gmajoulet commented on #32506
@processprocess @mszylkowski I believe this can be closed?

[2021-03-08 17:32] gmajoulet commented on #32498
@processprocess @mszylkowski can this be closed?

[2021-03-08 17:36] patrickhlauke commented on #32508
suggest making it visible though when it receives focus, as otherwise for sighted keyboard users, their focus will suddenly "disappear" and they won't know why/that they're actually on an invisible play/pause button

[2021-03-08 17:40] gmajoulet commented on #32508
Great idea thank you. We should also do that for the pagination buttons (go to prev/next page) that are today invisible.

[2021-03-08 19:59] danielrozenberg opened #33141 "gulp runner should handle tasks' package.json instead of the task handler itself"
i.e., tasks that have their own package.json (such as `gulp visual-diff`, `gulp e2e`) should not have to perform dependency management, instead have our gulp runner itself figure out whether that's required for each task

[2021-03-08 20:02] nainar commented on #24621
Hi folks, Unfortunately we talked to the GA4 team and they aren't able to prioritize adding support for AMP in GA4 just yet (no immediate timeline commitment). They did clarify that you can have a Universal Tagger and a Google Analytics 4 tagger on the same page. And are encouraging folks to maintain that setup as they don't consider GA4 fully launched and ready to go.

Sorry to be the bearer of t

[2021-03-08 21:50] cramforce opened #33143 "Scrollbars in Story"
Slides 6 and 7 of this Story have vertical scrollbars around the text.

These work for a substantial amount of time (Something like 2 -3 seconds) after navigating to the page, but eventually stop being scrollable.

[2021-03-08 21:57] #32734 closed

[2021-03-08 22:12] micajuine-ho commented on #32745
Hi @eliotharper, HTML5 does not support pattern on `<textarea>` elements within a form.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea

As such, AMP does not add this functionality. Perhaps you can change the textarea to an input element.
https://amp.dev/documentation/components/amp-form/#verification.

[2021-03-08 22:12] #32745 closed

[2021-03-08 23:43] calebcordry opened #33147 "✨Tracking issue for new story ads placement algorithm"
We are exploring options to improve the ad placement logic in `<amp-story-auto-ads>` especially to help monetize shorter stories or shorter sessions, while still maintaining user experience goals.

Pre-work
- [ ] Implement page manager for easier refactoring
- [ ] Encapsulate all algorithm specific logic

New work
- [ ] Implement new algorithm
- [ ] Implement experimental choosing of algo
- [ ] Mo

[2021-03-08 23:55] newmuis commented on #33143
Sorry, is there a link @cramforce?

[2021-03-09 00:06] cramforce commented on #33143
Sorry, forgot to paste. Here it is and added above https://phys.org/visualstories/2021-03-super-earth-planetary-atmosphere.amp

[2021-03-09 10:09] adekbadek commented on #32911
Hi, the issue is not about this specific site (even though I don't see a CORS error in my testing, but a `Error rewriting configuration`). The issue is about the gtag vendor config rewriter request failing when the config is above certain size. You can see the same error [here](https://oaklandside.org/2021/03/08/oakland-latinos-immigration-reform-biden/), for example. Please reopen the issue.

[2021-03-09 13:08] xiekun09 opened #33158 "AMP amp-auto-ads Anchor and Vignette not showing"
## What's the issue?

I recently using auto ads on my AMP web pages.  but I no longer get Anchor and Vignette Ads on mobile version. They appear in the preview on Ads though. Normal inpage ads show up correctly.

## How do we reproduce the issue?

Please Check it on my website https://www.yourzodiacsign.com. I alread added the amp-auto-ads on the page. Could you please check this issue?

Thanks

[2021-03-09 13:45] michael-stevens opened #33159 "Able to use CONSENT_STRING macro with amp-ad-custom"
## Describe the new feature or change to an existing feature you'd like to see

We use the [amp-ad-custom](https://amp.dev/documentation/components/amp-ad-custom/) tag. We would like to be able to receive consent string data when generating the ad, in particular through use of the `CONSENT_STRING` macro mentioned here:

https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/custo

[2021-03-09 14:17] mszylkowski commented on #32498
Not sure about the issue with the player, @Enriqe might know. Also `amp-twitter` is not fixed yet

[2021-03-09 14:59] autuoridesign opened #33161 "AMP Problem on a Bloglist post extract with Elementor Builder"
Hi to everyone, i have a problem with Bloglist post extract with elementor builder

i attach a screenshot of the problem.

<img width="452" alt="Schermata 2021-03-09 alle 15 55 30" src="https://user-images.githubusercontent.com/10401875/110490266-6c280300-80f0-11eb-8c70-da2c0ab234a4.png">

[2021-03-09 18:00] #24978 closed

[2021-03-09 18:45] mszylkowski commented on #31799
Also, we should add `overflow-wrap: break-word;` to the url so it can break properly even when it doesn't have word breaking characters, and set `max-width: 100%` on the disclaimer container

[2021-03-09 19:01] #12177 closed

[2021-03-09 19:01] #24398 closed

[2021-03-09 20:46] pkolenic opened #33168 "I2I: overflow button"
## Summary

Create a new component that wraps the html for an overflow snippet and allows customizing the color and text of the included button

## Design document

@TODO

## Motivation

We provide an ad network that serves ads to multiple websites.  As part of our integration we suggest that they include an overflow element to encourage site visitors to engage with and expand our ads to their ful

[2021-03-09 21:56] mszylkowski opened #33169 "[Story video] Looping videos could get downgraded due to nontrivialWait"
When a video is looped, it will send a `waiting` event followed by a `playing` event. This could cause a `onNontrivialWait` (my tests are that this wait is around 70ms so not enough to trigger the delay of 100ms) but conceptually we need to prevent triggering a downgrade in this case.

Possible solutions:
- Do not downgrade if the video that requested the downgrade is fully loaded.
- Do not downgr

[2021-03-09 22:00] gmajoulet commented on #33169
This one sounds right, if `currentTime` is consistently 0 (or equal to `duration`) when the `waiting` event is dispatched.

[2021-03-09 23:41] mszylkowski opened #33171 "[Story video] Videos fail to load in stories and flash multiple times"
In the Discover carrousel stories that have videos can have those videos fail to load, while they flash multiple times indicating that the video is being reloaded over and over.

The issue lies in `flexible-bitrate.js` that will downgrade the video once (when the video takes more than 100ms to load) and then it will continually `updateOtherManagedAndPausedVideos_` which calls `load` again on the v

[2021-03-10 00:34] mszylkowski opened #33172 "🌸 Cherry pick request for #33181 into #32874 #33053 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33171 | #33181 |     Yes

[2021-03-10 00:52] raxsha commented on #32736
Fixed #33042

[2021-03-10 00:52] #32736 closed

[2021-03-10 02:14] newmuis commented on #33169
Wait, wouldn't that mean not being able to downgrade on really poor connections?  If I'm on 2G or something, I'd be forced to load enough frames for playback to begin before downgrading to a lower quality?

[2021-03-10 02:35] jridgewell commented on #33172
Approved.

[2021-03-10 04:06] nickFalcone commented on #32862
Hi @newmuis, if this is something the Stories WG is interested in adopting I'd be happy to look into it!

[2021-03-10 05:31] #23222 closed

[2021-03-10 05:59] honeybadgerdontcare commented on #24540
@pranjalk if you are still seeing this issue please reopen.

[2021-03-10 05:59] #24540 closed

[2021-03-10 14:35] #32752 closed

[2021-03-10 14:36] micajuine-ho commented on #29111
Hi @devdazed, is there an alternative analytics solution for the previous `simplereach` customers?

[2021-03-10 14:41] newmuis commented on #33172
@mszylkowski can you populate which release this needs to go into?

[2021-03-10 14:59] newmuis commented on #32860
Your bookend endpoint likely does not support cross-origin requests.  See [Why do I need CORS for my own origin?
](https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cors-requests/#why-do-i-need-cors-for-my-own-origin?).

Also note that the bookend is [deprecated](https://github.com/ampproject/amphtml/issues/26957), and we will begin the removal process (with appropri

[2021-03-10 15:26] spormeon opened #33180 "amp-ima-video, 1st pre-rolls "skips/cuts" after 1-2 seconds"
@alanorozco
using amp-ima-video.

I’m getting a bit of a weird problem/ bug.  If i have 3 pre-rolls,  pre-roll 1 loads, then seems to “cut” after about 1-2 secs, then pre-roll 2 starts and plays ok, pre-roll 3 plays ok.  We build a vmap off f the bids that come back as we use prebid, amazon, dfp/ adx, so if i drop the vmap link into google “video suite inspector” it seems to play ok, so sort of po

[2021-03-10 15:28] alanorozco commented on #29111
@micajuine-ho It's my understanding that this product is not offered anymore. We can go ahead with removal.

[2021-03-10 15:29] #29111 closed

[2021-03-10 16:02] adekbadek commented on #32911
Sure, here is the console error:

[code]

![image](https://user-images.githubusercontent.com/7383192/110655735-998fb200-81bf-11eb-819d-8c0a2d7fc289.png)

Another example with a page making (and failing) a large request to `https://www.googletagmanager.com/gtag/amp` is https://washingtoncitypaper.com/article/511072/new-shaw-italian-restaurant-quattro-osteria-will-serve-fresh-pasta/ - can you see th

[2021-03-10 16:07] dennisP2ER commented on #23560
This feature would be really awesome.

[2021-03-10 16:40] adekbadek commented on #32911
When debugging this on a local instance, I did hard-code the configuration provided to `amp-analytics`. The request was failing as soon as the payload size surpassed 10kB.

[2021-03-10 17:02] processprocess opened #33184 "[Page attachments] [Inline] Update visual tests for new UI"
Visual tests for:
- default
- dark theme
- custom text
- 1 image
- 2 images

@ampproject/wg-stories

[2021-03-10 17:05] processprocess opened #33185 "[Page attachments] [Outlink] Update visual tests for new UI"
Visual tests for:

Outlink
- default
- dark theme
- custom theme background
- custom theme text color
- no icon
- custom text

@ampproject/wg-stories

[2021-03-10 17:10] gmajoulet commented on #32955
No strong opinions here, but if it was up to me I'd rather focus 100% of our energy on removing the bookend altogether given we're so close from doing it (6 weeks).

[2021-03-10 17:43] lannka commented on #33172
please update here when the PR is merged

[2021-03-10 17:46] lannka commented on #33172
i noticed that the "Release issue" box is filled with 2 releases. one is LTS built on 2021-02-20. is that also affected?

[2021-03-10 17:55] processprocess opened #33186 "[Page attachments] Attachments do not open when clicked using TalkBack"
Appears to be a regression caused by #32736

The click target was moved into shadow dom.
https://github.com/raxsha/amphtml/blob/583d8cafa436bfdb1c4771dae591005a32f6c0db/extensions/amp-story/1.0/amp-story-page.js#L1759-L1761

Putting the listener on the container appears to fix this.

@ampproject/wg-stories

[2021-03-10 18:43] Dbrown910 opened #33191 "Web Stories - Allow first slide CTAs to link to disclosures/legal docs at the end of the story"
## Describe the new feature or change to an existing feature you'd like to see
Allowing the `<amp-story-cta-layer>` component to be used on the first slide so users can go to legal disclosures within the story in one click. It is disabled on the first slide of Web Stories as seen in its code on [line 59](https://github.com/ampproject/amphtml/blob/master/examples/visual-tests/amp-story/amp-story-ct

[2021-03-10 18:51] nathanpuls opened #33192 "Overlapping words on amp.dev homepage on mobile"
Video of the issue.
3 seconds in it starts.

https://streamable.com/3c84up

[2021-03-10 18:56] gmajoulet commented on #33143
I reached the same conclusion as you with (1), allowing publishers to use overflow visible/hidden is important.

About (2), I wonder how much better things would get. It would hide the scrollbar and make things better visually, but you could still scroll, which can be annoying in some scenarios (eg: overflow-x: scroll that swallows swipe events to navigate to a next story).

I was trying to think

[2021-03-10 19:34] mszylkowski commented on #33172
I assume stable is also LTS for this release, so yes. Also, just merged the PR

[2021-03-10 19:58] micajuine-ho commented on #30385
@renebaudisch What other information would you like passed? This can be follow up work.

[2021-03-10 20:09] micajuine-ho commented on #33159
See https://github.com/ampproject/amphtml/issues/31607

As for utilizing the CONSENT_STRING macro, would this be in the request URL?

[2021-03-10 20:26] newmuis commented on #33143
We can use `overflow: clip` to prevent accidental scrolling.  i.e. if we do walk the tree, we can convert:

`visible` => `visible`
`clip` => `clip`
`hidden` => `clip`
`scroll` => `clip`
`auto` => `clip`

[2021-03-10 20:57] micajuine-ho commented on #33159
Just curious, what is your use case for using amp-ad-custom?

[2021-03-10 21:09] dianomi-mjs commented on #33159
Hi, amp-ad was not available to us so we were advised to use amp-ad-custom instead as per #19951

I believe CONSENT_STRING is integrated in to amp-ad so we're just looking for the same thing in amp-ad-custom. Our requirement is to not display ads if there's not appropriate consent and to customise the ads if some consent has been withdrawn.

[2021-03-10 21:25] micajuine-ho commented on #33159
/cc @ampproject/wg-monetization

[2021-03-10 21:26] cramforce commented on #33143
TIL

[2021-03-11 08:35] lucamago commented on #32165
Hi, when does this fix will become live?

[2021-03-11 16:41] lougea opened #33206 "Poll and Quiz : text-align issue for the text options"
## What's the issue?

Text-align in poll and quiz options

When the string option is too long, the text-align is center.

![Screenshot from 2021-03-11 17-22-14](https://user-images.githubusercontent.com/45533830/110821856-c5c73380-8290-11eb-8676-c9c1dc644d74.png)

## How do we reproduce the issue?

[https://report.tappable-dev.link/poll-and-quizz-text-align-issue?story](url)

## What browsers are

[2021-03-11 19:51] newmuis commented on #33191
@Dbrown910 can you use `<amp-story-consent>` for your use case?  See https://amp.dev/documentation/examples/user-consent/story_user_consent/#implementing-user-consent-inside-an-amp-story

[2021-03-11 20:09] #32941 closed

[2021-03-11 20:11] mszylkowski commented on #33206
Thanks for reporting the bug, seems like this is beacuse we recently changed the options to use `<button>` tags for accessibility, and buttons by default have text centered instead of the initial alignment.

[2021-03-11 20:27] Enriqe commented on #32941
@edoudou the last PR has been merged, it should be in the nightly channel by tomorrow, in the beta channel next Tuesday, and in stable a week after that.

[2021-03-11 20:38] mszylkowski opened #33218 "Intent-to-Remove: amp-story-bookend"
## Summary

I2D at #26957

The bookend was initially created to allow surfaces to provide hyperlinks within stories.  Since then, we have added many new surfaces for links to live in: [`<amp-story-cta-layer>`](https://amp.dev/documentation/components/amp-story-cta-layer/), [`<amp-story-grid-layer>`](https://amp.dev/documentation/components/amp-story/?format=stories#links-in-amp-story-grid-layer),

[2021-03-11 21:12] newmuis commented on #32955
Makes sense!  Closing, since I was actually the original requester

[2021-03-11 21:12] #32955 closed

[2021-03-11 21:20] gmajoulet commented on #33218
Can you add an example showing how to migrate from `<amp-story-bookend` to `<amp-story-social-share`?

[2021-03-11 21:22] LuckynaSan opened #33220 "Duplicate "more" icon on Web Stories social sharing config"
## What's the issue?

One 1 "more" icon should be configured.

## How do we reproduce the issue?

1. Open a Web Story ([example story URL](https://sgsite.cmsdevrel.com/web-stories/example-story-1/)) on BrowserStack or on any of the following devices: iPhone 11, iPhone 12, Galaxy S9
2. Wait until the last slide to see social sharing options pop up. Notice duplicate "more" icon.

## What browsers ar

[2021-03-11 21:58] erwinmombay opened #33221 "🌸 Cherry-pick request for #33207 into #33053 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33207 | #33207 |     **NO*

[2021-03-11 21:59] erwinmombay commented on #33221
cc @kristoferbaxter

[2021-03-11 22:02] #33136 closed

[2021-03-11 22:03] #33206 closed

[2021-03-11 22:03] kristoferbaxter commented on #33221
Approved.

[2021-03-11 22:49] rsimha commented on #32442
@rileyajones Here's how to identify flaky builds:

- Go to https://app.circleci.com/pipelines/github/ampproject/amphtml?branch=master
- Click through a bunch of recent red builds (click "see more" to load older builds)
- Click through to the jobs that failed and expand the test logs

All the failures I saw were due to E2E tests, although the specific test cases varied.

[2021-03-11 23:08] #33081 closed

[2021-03-11 23:23] #33172 closed

[2021-03-11 23:32] erwinmombay opened #33224 "🚄 Release tracking issue for release 2103060631000"
# Release tracking issue

This issue tracks release [2103060631000](https://github.com/ampproject/amphtml/releases/tag/2103060631000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2103020156004...2103060631000).

- [x] Release 2103060631000 promoted to Experimental and Beta (opt-in) channels (<CL submit time>)
- [ ] ~~Release 2103060631000 promoted to Expe

[2021-03-12 00:09] gmajoulet opened #33225 "amp-video produce invalid cached source URLs for Stories"
`amp-video` adds the wrong `amp_quality` HTTP parameter to all cached sources, which leads to a 404.
The correct parameter name is `amp_video_quality`.

cc @ampproject/wg-stories

[2021-03-12 00:25] gmajoulet opened #33228 "🌸 Cherry-pick request for #33225 into #33224 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33225 | #33227 |     **YES

[2021-03-12 03:25] #33225 closed

[2021-03-12 08:20] renebaudisch commented on #30385
It would be great if amp would already analyses the string at least for purpose 1 to 10 if not also for the vendor consents as they are officially listed and therefore can be interpreted from the string, but that's sure a nice to have.

[2021-03-12 14:04] kristoferbaxter commented on #33228
Approved. Left comments for potential changes to test coverage.

[2021-03-12 14:19] micajuine-ho commented on #30385
AMP consent offers explicit purpose 1 support: https://github.com/ampproject/amphtml/pull/31145

We can look into the other purpose support as well.

[2021-03-12 16:29] Telemicus commented on #29437
Is there a status on this or any further requirements on this?

[2021-03-12 16:52] samouri commented on #33011
@rsimha: what is the difference between new server and old server?

I noticed we are calling tsc during gulp startup for building the directory in `new-server/transforms/dist`, should we use esbuild instead?

[2021-03-12 16:54] rsimha commented on #33011
It's the set of transforms that is meant to replace the old app.js. @erwinmombay  is in the process of building it out for ESM.

[2021-03-12 17:13] eNoodle4711 opened #33238 "amp-subscription + amd-ad: subscriptions-display ist ignored and hidden ad is loaded"
## What's the issue?

When using `subscriptions-display` attribute to hide ads for subscribed users results, ads are loaded in a hidden iframe.

While investigating the problem I noticed this isn't always the case. It seems this only affects `amp-ads` configured with `layout="fluid"` (for multi-size ads). However, `amp-ads` configured with `layout="fixed"` are behaving as expected.

## How do we r

[2021-03-12 17:44] gmajoulet commented on #33228
Verified.

[2021-03-12 17:44] #33228 closed

[2021-03-12 17:49] gmajoulet opened #33240 "[Story a11y] Move focus back to page's content after screen reader triggered navigation"
Part of #32511

Steps to reproduce:
Open any AMP story using voice over
Click the next-page button

Expected Results:
Focus should go back to the page's content.

Actual Results:
Focus stays on the next-button and the user has to go backwards for voice-over to read the page's content

cc @ampproject/wg-stories

[2021-03-12 18:25] brianpetro opened #33241 "amp-img fails to load when inside amp-list template that's inside an amp-story-page-attachment."
## What's the issue?

amp-img fails to load when inside amp-list template that's inside an amp-story-page-attachment.

Inspecting the developer console reveals that the 'src' is never retrieved.

Also affects amp-gfycat which loads amp-img and amp-video. Seems also likely to be affecting amp-video.

## How do we reproduce the issue?

### Tips on Rendering Bugs

The mustache template is located in

[2021-03-12 20:53] #32770 closed

[2021-03-14 21:15] #29052 closed

[2021-03-14 22:30] Al-Foudai22 opened #33253 "🚄 Release tracking issue for release <RELEASE_NUMBER>"
# Release tracking issue

This issue tracks release `[<RELEASE_NUMBER>](https://github.com/ampproject/amphtml/releases/tag/<RELEASE_NUMBER>)`. See what's new compared to stable `[here](https://github.com/ampproject/amphtml/compare/<LATEST_STABLE_RELEASE_NUMBER>...<RELEASE_NUMBER>)`.

- [x] Release <RELEASE_NUMBER> promoted to Experimental and Beta (opt-in) channels (<CL submit time>)
- [ ] Release

[2021-03-14 23:25] #33253 closed

[2021-03-15 14:06] brianpetro commented on #33241
In addition to amp-image, it seems that this also affects amp-fit-text.

[2021-03-15 15:28] paologuarcello8913 commented on #32165
Hi, this also happens to my sites too. Please solve it.

[2021-03-15 15:30] antoyosh commented on #32165
Hi, I'm also waiting this fix ASAP, it's hurting our user experience so bad, so please let us know when it will be deployed, thanks!

[2021-03-15 15:40] ashleahhill opened #33257 "Links always target a new tab"
## What's the issue?

Internal links always target a new tab. We want to be able to target the top or parent frame, especially when using the amp story viewer instead of a direct link. `<a href="https://my-site.com" target="_top">` or something similar, should target the parent document from inside the story viewer.

## How do we reproduce the issue?

1. Find a link in any story, (example here: [h

[2021-03-15 15:43] caroqliu commented on #24195
As @rcebulko kindly pointed out, these [appear to be flaking again](http://amp-test-cases.appspot.com/test-cases/stats/fail). Will take a look.

[2021-03-15 15:43] ashleahhill commented on #33257
Used wrong template

[2021-03-15 15:43] #33257 closed

[2021-03-15 15:43] rcebulko commented on #33221
Was this every CP'd into the release?

[2021-03-15 15:46] rcebulko commented on #24195
Posting screenshot for posterity/reference since that link may become outdated
![image](https://user-images.githubusercontent.com/6694512/111181125-07532980-8584-11eb-9fed-c2dee138ed8f.png)

[2021-03-15 15:47] ashleahhill opened #33258 "Links target same tab / parent document"
## Describe the new feature or change to an existing feature you'd like to see

Internal links always target a new tab. We want to be able to target the top or parent frame, especially when using the amp story viewer instead of a direct link. <a href="https://my-site.com" target="_top"> or something similar, should target the parent document from inside the story viewer.

## Describe alternatives

[2021-03-15 16:05] ashleahhill opened #33260 "`incrementalEngagedTime` Variable substitution doesn't reset on `story-page-visible`"
#### What's the issue?

Visible time on page does not track correctly. Values are far higher than we expect to see.

Numbers being reported for visible time on page are not what we expect. They could be shorter or longer.

We are using the [Visible trigger](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story-analytics.md#visible-trigger-on-story-page-visible) reference

[2021-03-15 16:08] rsimha commented on #24195
Tagging @rileyajones as an FYI because he has been investigating other non-specific E2E failures via #32442.

[2021-03-15 16:20] processprocess opened #33261 "[Page attachments] Animate all pre-tap UI"
Animate new UI.

@ampproject/wg-stories

[2021-03-15 16:36] adtechfactory opened #33263 "Ad Warpper"
## Describe the new feature or change to an existing feature you'd like to see

AdTech Factory is the technical provider for Burda Verlage and is responsible for all technical integration related to advertising technology.
The publisher itself is a separate team and responsible for the web page itself. The best way to cooperation with web page and ad technology is that the publisher just defines t

[2021-03-15 16:41] dmanek commented on #32165
This should be in the next stable release, expected to completed by EOD tomorrow. Release tracking issue #33224.

[2021-03-15 17:09] ashleahhill opened #33267 "Track Share Icons Click"
## Describe the feature or change to an exisitng feature you'd like to see

There is no way to track a click of a share option in the Share Menu that appears on click of the Share Button (top right of the story UI).

We want to know, beyond a click of the Share Button, that the user has clicked a share option and what option they clicked.

## Describe alternatives you've considered

There is no ex

[2021-03-15 18:01] #19172 closed

[2021-03-15 18:01] #23428 closed

[2021-03-15 18:01] #24067 closed

[2021-03-15 18:01] #24477 closed

[2021-03-15 18:57] samouri opened #33271 "🌸 Cherry-pick request for #33232 into #TBD (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33232 | #33232 |     **YES

[2021-03-15 18:57] kristoferbaxter commented on #33271
Approved.

[2021-03-15 19:56] calebcordry opened #33274 "🐛[no-signing]: Attributes on <body> are not copied to FIE"
Reported by google ads. Breaks animations relying on classes to exist on `<body>`.

cc/ @ampproject/wg-monetization

[2021-03-15 20:36] rcebulko opened #33276 "🚄 Release tracking issue for release 2103122145004"
# Release tracking issue

This issue tracks release [2103122145000](https://github.com/ampproject/amphtml/releases/tag/2103122145000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2103020156005...2103122145000).

- [x] Release [2103122145002](https://github.com/ampproject/amphtml/releases/tag/2103122145002) created with cherry picks #33271 , #33277
- [x] R

[2021-03-15 20:44] calebcordry opened #33277 "🌸 Cherry-pick request for #33275 into #33276 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #33274 | #33275 |     **YES

[2021-03-15 21:06] #32523 closed

[2021-03-16 05:22] otsuky opened #33287 "[amp-carousel]control buttons are out of sync with the slide numbers in the amp-carousel"
## What's the issue?

When amp-carousel is used inside amp-lightbox, left and right arrow buttons are out of sync with the slide numbers in the carousel.

I expect the following behavior from amp-carousel, but it doesn't seem to work that way if I use amp-carousel inside amp-lightbox.
- when the first slide is displayed in amp-carousel, only the right button to be displayed
- when the last slide i