[2017-03-02 22:55] rjvelicaria opened #7937 "Intent to Implement: Custom variables support for OpenX amp-ads"
We plan to implement custom variables support for OpenX amp-ads.  The changes will be on https://github.com/openx/amphtml under a new branch called `custom-variables`.

Company Name: OpenX Technologies, Inc.

[2017-03-02 22:56] klall33 commented on #7935
Closing ticket for now to discuss further with the Cloudfare team.

[2017-03-02 22:56] #7935 closed

[2017-03-02 22:56] aghassemi opened #7938 "parallax: support negative factor"

[2017-03-02 23:07] muxin opened #7939 "Closing lightbox will scroll page to hash position instead of the position before opening lighbox"
Steps to reproduce:
1. In safari, open https://yuxichen.herokuapp.com/examples/everything.amp.max.html
2. Click on the **Image0** hash link and the page will jump to the hash element position
3. Scroll up a bit and open the lightbox
4. Close the lightbox
5. The lightbox is closed but the page jumps to the image position instead of the position before opening lightbox

This only happens in safari i

[2017-03-03 04:25] phuduc88 opened #7943 "The mandatory text (CDATA) inside tag 'head > style[amp-boilerplate]' is missing or incorrect"
I Have isse follows :
When i have use line
`<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -am

[2017-03-03 04:28] #7909 closed

[2017-03-03 05:07] mrjoro opened #7946 "Add a presubmit check for preventing broken links"
From @aghassemi in PR #7944:

@mrjoro Could you create an issue for us to integrate a link checker into pre-submit ( https://www.npmjs.com/package/markdown-link-check looks like a good candidate and when I ran it against https://github.com/ampproject/amphtml/blob/master/contributing/DEVELOPING.md it found all the broken links)

[2017-03-03 05:33] dknecht commented on #7336
@erwinmombay ping

[2017-03-03 05:47] dvoytenko opened #7947 "Analytics: visibility trigger changes"
- [x] Ensure that in-a-box viewport has the right CSS styling to support correct InOb functions.
- [x] Update time-based spec documentation
- [x] Update visibility selectors documentation
- [x] Update visibility "ready signal" documentation
- [x] Update v3 flags/experiments

[2017-03-03 07:37] aghassemi commented on #7943
@phuduc88 The CSS boilerplate code must **_exactly_** match the provided boilerplate by AMP, otherwise page will not validate. Your version has `spaces` between `selectors` and `{` (e.g. `body {` instead of `body{`, likely introduced automatically by your code editor formatting.

Please update the code to use the following snippet as is:
[code]

@Gregable Can we relax the CSS boilerplate validatio

[2017-03-03 07:37] #7943 closed

[2017-03-03 11:11] konakk commented on #7782
Are you looking to add channel id? If you could have a field for channel id would that be enough for your use case?

[2017-03-03 12:42] QES opened #7949 "amp-live-list - scrolling on new items why?"
Hi,

Although I can see a reason why amp-live-list scrolls I (and my team) also wonder if it would be possible to configure it not to scroll, or to scroll to a point other than the top of the window.

I'm using it to update a live blog and want to new items on the live-list to appear below a fixed set of data which I'm using the data-update-time= to update in-place.

I currently am using a CSS wor

[2017-03-03 13:43] lzanol commented on #7755
@aghassemi Nice. Just before I tackle the issues:
1. Since we do not currently support volume changes programmatically, can't I simply add an `//not supported` comment inside `mute`/`unmute` methods as Youtube/Ooyala does with `showControls`/`hideControls`?
1. I'll do it. On a side note, I've followed JWPlayer, Brightcove, Kaltura, etc. implementations and thought was fine that way (no VideoInterf

[2017-03-03 14:35] lexandera opened #7952 "Option to delay showing of ads until essential images have been loaded"
Currently there is no way of delaying an ad to appear only after the images have finished loading. Since animated ads are often made up of several independent images this leads to the ad appearing piece by piece; and unless loading indicators have been disabled on all images it's also full of scattered dot animations.

In JS based ads we always preload images since we believe that not showing an a

[2017-03-03 15:00] coreybyrnes opened #7954 "amp-ad error : cross-origin frame"
I had successfully built out a resizing amp ad (300x250) that used `window.parent.context.requestResize(300,500);`

It's no longer working because I'm now seeing cross-origin errors. Is there a new method for resizing the container from within an amp ad?

demo url:
http://rev.cbsi.com/corey/test/amp/amp_demo_resize.html#development=1

[2017-03-03 15:16] coreybyrnes commented on #7954
I may have just answered my own question after days of digging around. Adding the following to the <amp-ad> tag seems to work: `json='{"useSameDomainRenderingUntilDeprecated":1}'`

Found it here:
https://github.com/ampproject/amphtml/tree/master/ads#exceptions-to-available-apis-and-information

Looks like the fix is being worked on here:
https://github.com/ampproject/amphtml/issues/6829

[2017-03-03 15:56] coreybyrnes opened #7957 "amp-ad : get dom or container properties?"
From within a DFP amp-ad, is there a way to get top document DOM properties? For example I'm trying to get the browser width via `window.top.innerWidth` but am hitting cross-origin errors. I don't see any methods within `context` to obtain any page-level element properties other than [these](https://github.com/ampproject/amphtml/tree/master/ads#available-information).

Alternatively, is there a wa

[2017-03-03 16:02] jonkeller commented on #6676
Sorry, got pulled onto other things, but picking this back up this afternoon.

[2017-03-03 16:35] bpaduch commented on #1316
@dknecht - what do you mean by publishing under .well-known?

[2017-03-03 16:40] dknecht commented on #1316
I am not sure if it really has much benefit over just monitoring headers.

Idea was page at:
https://cdn.ampproject.org/.well-known/cache-csp-policy

And say that it will be updated at least 2 releases before required for production?

[2017-03-03 16:54] aghassemi commented on #7755
@lzanol
1. `show/hide controls` is optional to implement, but `mute/unmute` is not. Without `mute/unmute` AMP provided autoplay experience does not work on mobile (this is because mobile browsers only support `muted` autoplay)
2. Implementing `video-interface` is a fairly new requirement, not all existing players implement it yet. Event binding is needed for both supporting `autoplay` and other vi

[2017-03-03 17:00] sebastianbenz commented on #7557
One use case:

You can use amp-live-list to automatically update content on a page (by updating an item's timestamp). Together with a focus action (see #7626) it'd be possible to bring the updated element into the viewport, e.g. showing the last message in a message stream.

[2017-03-03 17:00] lzanol commented on #7755
@aghassemi Got it, thanks! ;)

[2017-03-03 17:05] ericlindley-g commented on #7557
Nice — sounds good to me :)

Also I could see this being used to create a custom interaction to update content, rather than strictly using the existing update button (if we also exposed the trigger to slot the new items into the page)

[2017-03-03 17:10] aghassemi commented on #7949
/to @ericlindley-g @erwinmombay

[2017-03-03 17:11] aghassemi commented on #7957
/to @lannka

[2017-03-03 17:12] aghassemi commented on #7937
/to @lannka @jasti

[2017-03-03 17:17] aghassemi commented on #7915
@cypherlou If `width` is unknown, please use `layout=fixed-height` and only set `height` attribute. The `Expected width to be available and not equal to "auto": null` will go away when setting `layout=fixed-height`

Hope this helps, closing the issue, feel free to reopen if you have follow up questions or run into other issues

[2017-03-03 17:17] #7915 closed

[2017-03-03 17:20] aghassemi commented on #7919
@phuduc88 as @bjalford mentioned, AMP does not support custom JavaScript in the page. If you need widgets that require custom JavaScript, they must be hosted as separated pages and embedded with `amp-iframe`

[2017-03-03 17:20] #7919 closed

[2017-03-03 17:24] aghassemi commented on #7920
@SnakeME Not a supported feature AFAIK. Changing your issue into a feature request.

/cc @ericlindley-g

[2017-03-03 17:26] aghassemi commented on #7921
/to @dvoytenko

[2017-03-03 17:28] aghassemi commented on #7922
/to @choumx

[2017-03-03 17:30] aghassemi commented on #7952
/to @dvoytenko @lannka @jasti

[2017-03-03 17:30] #7954 closed

[2017-03-03 17:33] aghassemi commented on #7904
/to @muxin to investigate. iOS/Chrome scroll freeze issue.

[2017-03-03 17:42] ericlindley-g commented on #7920
@SnakeME This sounds reasonable, as long as it's triggered by user action — do you have an example page where this is being used, to get a sense of the use case?

[2017-03-03 17:45] dvoytenko opened #7960 "amp-social-share fails in PWA"
[code]

[code]

[2017-03-03 17:48] ericlindley-g commented on #7949
Interesting — @QES, is it the case that it's scrolling to the very top of amp-live-list, beyond where the actual update is happening?

Adding an option to `amp-live-list` (maybe an attribute like `disable-auto-scroll`) to disable auto-scroll seems reasonable. And then when the [.focus()](https://github.com/ampproject/amphtml/issues/7626) method is available, it would be possible to smoothly scroll

[2017-03-03 18:00] dvoytenko commented on #7927
All `performance.timing` timestamps have high fidelity independent of script loading times. I'd expect a +/-10ms fidelity on all of those for sure.

[2017-03-03 18:01] aghassemi commented on #7920
We _might_ be able to detect that the request is tied to a user action and only honour it in such cases. @dvoytenko did some investigating into detecting user intent a while back and I know user intent carries over iframe boundaries via postMessage

[2017-03-03 18:15] rudygalfi commented on #2198
Updates:

Work still not done:
* https://github.com/avimehta/amphtml/tree/filters contains the filter changes that need to happen.
* Tests need to be added for the filter related changes, for regex filter and need to make sure that similar changes are made in other places where variableService is used

[2017-03-03 18:17] #3719 closed

[2017-03-03 18:19] dknecht commented on #7927
@ampproject/cloudflare FYI

[2017-03-03 18:19] dvoytenko commented on #7920
We are trying to solve this problem in browser spec via https://bugs.chromium.org/p/chromium/issues/detail?id=621631 and https://github.com/whatwg/html/issues/1983

We can polyfill this kind of check via copy/paste API, but it's, of course, very clunky and has a "less-than-ideal" UX.

[2017-03-03 19:16] muxin opened #7962 "amp-form flaky test"
[code]

Possibly related to https://github.com/ampproject/amphtml/issues/5879?

[2017-03-03 20:25] glevitzky commented on #7931
Could you define what you mean by "responsively sized slot"? When and by whom is this calculated?

[2017-03-03 20:26] #7731 closed

[2017-03-03 20:49] kmh287 commented on #7376
Closed by #7602

[2017-03-03 20:49] #7376 closed

[2017-03-03 22:02] lzanol commented on #7755
Hey @aghassemi, I did the changes. Could you please tell if there's some tweaking left behind and whether I can proceed with the PR?

[2017-03-03 22:13] aghassemi commented on #7755
@lzanol Thanks. Please proceed with the PR and I will do the detailed review there (I will be at AMP Conference next week so might be slow to review, I apologize in advance)

(Quick note, AFAIK, setting volume to 0 for mute does not satisfy mobile browser to allow autoplay, `muted` attribute may need to be set instead.)

[2017-03-03 22:33] algui91 commented on #7009
I think this is somehow related to the problem I'm having http://stackoverflow.com/questions/42586485/styling-responsive-layout-in-amp-img

If it isn't, I could open a new issue.

[2017-03-03 23:47] muxin commented on #7845
@aghassemi What do you mean by reappear immediately? Does the reappearance happen when you scroll down the page and scroll up back to the carousel position?

[2017-03-04 00:51] muxin opened #7970 "Make slidescroll carousel resume autoplay after user swipe ends"
Currently for amp-carousel type slides (slidesscroll), we clear auto play after user touchmove event. It would be nice to resume autoplay after user ends touch event in a while.

/cc @camelburrito @aghassemi

[2017-03-04 01:05] camelburrito commented on #7970
This is the spec, we will need to increment version if we do this. Also this is not very easy to do as it is not easy to distinguish between user scroll vs autoscroll.

[2017-03-04 01:47] dvoytenko opened #7971 "In-a-box: consider removing viewport offset"
I think we should seriously consider dropping offset from in-a-box viewport implementation. Instead we can connect them via intersection-observer polyfill. The current approach creates some notable risk conditions and confuses coordinate system.

Even if we decide to stick with the current approach, we should still move offset messaging to InOb polyfill and use it in the viewport instead.

[2017-03-04 02:13] aghassemi opened #7972 "Add a generic responsive container component to AMP"
### Background
AMP HTML [supports various](https://www.ampproject.org/docs/guides/responsive/control_layout) `layout`s such as aspect-ratio-based responsive layout which is very useful. Other useful layouts such as [responsive-height ](https://github.com/ampproject/amphtml/issues/8531)are also in the works.

### Motivation
Currently AMP layouts are only supported on AMP elements such a `amp-img`,

[2017-03-04 02:25] dvoytenko commented on #7960
This turned out to be due to incorrect placement of `amp-social-share` outside the shadow root.

[2017-03-04 02:25] #7960 closed

[2017-03-04 17:27] oliverfernandez commented on #6417
I can't help but thinking that somehow this can be related to #6234: leverage amp-analytics to be able to send custom events from a IFRAMEs, like video players. Makes sense?

I'd like to consider here AMP Shadow too. It would be super useful to have a standard way to to communicate from the shell to AMP in order to send analytics events, other than manually accessing the instrumentation service (o

[2017-03-04 18:17] garcialo opened #7975 "[A11Y] amp-carousel Accessibility"
Many issues found in a quick review of the amp-carousels on https://ampbyexample.com/components/amp-carousel/

- a) auto updating carousels have no mechanism to Pause, Stop, or Hide the carousel
- b) auto updating carousel doesn't pause on mouse-hover (i.e. when user is trying to interact with content)
- c) keyboard focus / screen reader virtual cursor forced to traverse through the entire carouse

[2017-03-04 21:27] keithwrightbos commented on #7931
This is related to slots using layout=responsive but the general issue is that amp-ad-network-adsense-impl.js derives format from the slotRect height/width (https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-adsense-impl/0.1/amp-ad-network-adsense-impl.js#L123) when this does not appear to be what Delayed Fetch is doing (it uses the iframe height/width attributes).  Change

[2017-03-05 02:52] aghassemi commented on #7975
related: https://github.com/ampproject/amphtml/issues/5487 https://github.com/ampproject/amphtml/issues/5486

[2017-03-05 06:24] aghassemi opened #7978 "amp-bind: Support parseInt/parseFloat/Date.parse (or another form of string -> number/date type conversion)"
There are cases where type of an event's value needs to be changed before being assigned to a variable in AMP bind.

For instance when `amp-selector` dispatches a `select` event, the value of the event is always a string (it is the value of `option` attribute). Now without being able to convert that to number type first (or at least at the time of use), numerical operations in `amp-bind` expressio

[2017-03-05 07:34] jalajc opened #7979 "Question: Blocking Bots and Scrappers on reading amp pages from third party cache"
(Sorry for not sticking to issue guideline as this was generic concern)

Context:
I am impressed the way AMP contents is delivered, However, as a niche content creator, I am little concerned over the scrapping door the amp caches open up. I don't want scrappers and bots (except a few ) to crawl the site or store and _re-use content_.

**Question:**
1. Is there a documentation/reference/case where

[2017-03-05 10:55] cypherlou commented on #7915
@aghassemi, thanks for the feedback as it has removed the errors.

[2017-03-05 14:35] cramforce commented on #1316
@dknecht would it be OK if cache-csp-policy itself would be empty and the actual CSP policy would be sent as the actual CSP header?

[2017-03-05 14:43] cramforce commented on #7557
I'm a bit worried about people abusing this to run amp-bind on page load.

[2017-03-05 17:18] dknecht commented on #1316
Not sure there is actual point to have.  Unless just a specific location to know to check.

[2017-03-05 17:52] weeblr opened #7980 "(Seemingly random) Form submission broken when page is served from AMP Cache"
## Short description of your issue:

This is on  a stock WooCommerce site. The AMP version has Add To Cart working fine on the origin AMP version of the site, and also when the AMP page is served from the AMP cache.

However, after reloading the page a few times and performing add to cart a few times (still from the AMP cache page), the Add To Cart fails with:

appearing in the browser console (la

[2017-03-05 18:05] aghassemi opened #7981 "Allow target of amp-animation to be any CSS selector"
Ran into a case where I wanted to animate `img` inside of `amp-img`. I think we should allow `target` to be any CSS selector rather than just id.

[2017-03-05 18:28] ayumihamsaki opened #7982 "Native Share Module - needs updating as no fallback URL"
Hi, using this api on desktop on Google Canary everything working fine. However,...

Trying to add it to AMP is a bit of a problem. The information is found here: https://ampbyexample.com/components/amp-social-share/#native-share-dialog-chrome-on-android-

The biggest problem with it in AMP is that there is no fallback. I managed to get it working in Google Canary on an AMP page. But when I open t

[2017-03-05 20:32] jalajc commented on #7847
@DrLightman Are you are referring to [Wordpress' plugin for generating AMP pages](https://github.com/Automattic/amp-wp) via php/mysql.

If this is the case indeed, you might want to raise this in [wordpress AMP repo](https://github.com/Automattic/amp-wp) to address your question appropriately by Automattic (wordpress author) team and close the

[2017-03-05 23:54] mister-ben commented on #7795
Quick update, I've mostly implemented this at https://github.com/mister-ben/amphtml/tree/brightcove-video-interface. There's some work to do on fixing tests.

[2017-03-06 01:37] 1987yama3 opened #7983 "AMP Analytics: Make the "aip" parameter changeable to false"
In [/extensions/amp/analytics/0.1/vendors.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js), "aip" parameter of Google Analytics is constantly true.

This parameter indicates whether to anonymize the IP address. When set to true, the end of the IP address is recorded as 0.
The default value in analytics.js is false. But the default value in AMP Analytic

[2017-03-06 08:30] weeblr commented on #7868
Hi

While setting up some fomrs my self, I saw that too. It's not the domain that is replaced by a hash character, but the current page (source origin) URL.

It seems to be a rather extreme optimization:

If your source origin is https://example.com/my-page/amp
and it's cached at https://example-com.cdn.ampproject.org/c/s/example.com/my-page/amp

then all instances of "https://example.com/my-page/

[2017-03-06 09:06] ecoron opened #7984 "amp-analytics: extend request parameters of snowplow tracker"
Hi,
this is a feature request for the current implementation for the snowplow tracking sdk, which  is very limited. It would be a helpful improvement if more possible request parameters are added to the request url of the tracker. Especially i miss some basic parameters which provides i.e the page.url, page.referrer or clientId.

- [current implementation amp-analytics](https://github.com/ampproje

[2017-03-06 10:22] DrLightman commented on #7847
Oh sorry I posted in the wrong repo. :(

[2017-03-06 10:48] kuma-san commented on #7670
fyi, still persists iOS 10.3 beta4

[2017-03-06 11:32] jalajc opened #7985 "Issues with amp-list nested inside amp-carousel"
## amp-list when nested inside amp-carousal doesn't render perfectly.
 - list images doesn't load on ui, (though src url is fetched by mustache template)
 - error in console only sometime particularly on Mobile `"[CustomElement]" "Cannot resize element and overflow is not available" ` (yups I have not prescribed overflow for amp-list as enough space is available through parent element css config,

[2017-03-06 16:31] camelburrito commented on #7670
@kuma-san - yes we are working on it. Do you know when this is coming out of beta?

[2017-03-06 16:48] dvoytenko opened #7992 "InOb polyfill: should trigger automatically for new elements w/o ticks"
See this unit test to repro: #7991.

Per spec, the last step for `IntersectionObserver.observe()` API is:

Further, I believe `tick` calls need to be **debounced**. In many cases `scroll` event is called way to rapidly to call measures immediately.

[2017-03-06 17:14] mrjoro opened #7993 "Keep tables of contents up to date"
We've added tables of content to some files (e.g. CONTRIBUTING.md and getting-started-e2e-md).  We should programmatically keep these up to date as the files change.

[2017-03-06 17:16] dvoytenko opened #7994 "CSI unnecessary waits for an expensive visibility completeness"
See `setDocumentInfoParams_` in https://github.com/ampproject/amphtml/blob/c32b0a2804895fddbccb8c47f82a6e872b62e470/src/service/performance-impl.js#L349

The call to viewport completeness is expensive here and unnecessary. Its should be enough to wait for document-ready event.

[2017-03-06 17:17] dvoytenko commented on #7992
From @lannka:

[2017-03-06 17:18] mrjoro opened #7995 "Weekly Status 2017-03-06"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-03-06 17:19] #7813 closed

[2017-03-06 17:21] dvoytenko commented on #7992
@lannka, yes, I think this is a good idea in general. I'm not sure how much it "breaks" the current approaching to ticking.

[2017-03-06 17:24] dvoytenko commented on #7992
@lannka Alternative, to solve the "first pass" problem before the first tick, we can do one of the following:
 1. Wait for the first tick. In essence it will work as a "start"
 2. Instead provide a callback in the polyfill's constructor to return the `viewport.getRect()`. Not sure what to do with `opt_iframe` argument though - I don't fully understand its meaning. But it could be provided similarl

[2017-03-06 17:30] lannka commented on #7992
I think that is not a problem. If element is observed before the first tick, its intersection will be reported on first tick.

We just need to make sure we always tick the InOb once after initialization.

[2017-03-06 17:38] bhansa opened #7997 "Arrow links not working in side navbar"
## Arrow links not working in side navigation bar

<img src="https://cloud.githubusercontent.com/assets/9723884/23621638/9c246b9a-02c1-11e7-88a3-b63422bf1b53.png" width="250" />

Not able to expand or collapse any of the categories.
Are they supposed to provide that feature?

[2017-03-06 18:16] mrjoro commented on #7995
- lots of minor doc updates (broken links, TOCs, etc.)

[2017-03-06 18:40] auxsoft opened #7998 "Unnatural touch behavior of amp-carousel in slides mode"
In most native interactions (and in other sliders implementations) the swipe gesture isn't finished while the touch continues. That is, while you keep touching the slide it is as if you were holding the slide and you can move it to the right and left. In amp-carousel stopping the movement (but while still touching) causes the slide to snap back to it's original position or to the next slide.

[2017-03-06 18:41] QES commented on #7949
To follow up your question @ericlindley-g  "is it the case that it's scrolling to the very top of amp-live-list, beyond where the actual update is happening?"

The problem is for me it scrolls to the very top of the window, ie the updated comment is now at the very top of the iPhone screen.

We have something where we want to maintain some overview info about the event which it shouldn't push up t

[2017-03-06 18:49] rudygalfi commented on #7995
* AMP Conf prep

[2017-03-06 18:59] torch2424 commented on #7995
* Working on #7749 , been busy with work and classes, but have been keeping an active discussion on how the extension should be implemented. Made some small changes in the past, but waiting on some final decisions to finish everything up

[2017-03-06 19:51] choumx commented on #7978
Thanks for the report. Agree this is a good idea.

[2017-03-06 19:51] choumx commented on #7922
/cc @ericlindley-g

[2017-03-06 19:58] choumx commented on #7995
- AMP Conf presentation prep

[2017-03-06 20:28] lannka commented on #7995
Ads & Analytics
- Working on #7789. Merged 1st PR.
- Discussed with @dvoytenko about various amp-analytics visibility tracking issues

[2017-03-06 20:45] glevitzky commented on #7931
My question was more about whether I'll need to wait for the creative to return, and then make some slot augmentations based on its rendered size. From what you're saying, it sounds like that's what I should be doing. What's the most sensible way of getting the creative size for AdSense in Fast Fetch? getIntersectionElementLayoutBox? Presumably any resizing logic can go into onCreativeRender().

[2017-03-06 21:04] keithwrightbos commented on #7931
Actually no, that's not what I'm saying.  The change required is as follows:

- Modify AdSense format calculation to use height/width attributes instead of slotRect as follows (see https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-adsense-impl/0.1/amp-ad-network-adsense-impl.js#L123):
`const slotRect = this.getIntersectionElementLayoutBox();`
`let format;`
`if (parseInt(t

[2017-03-06 23:09] taymonbeal opened #8002 "Xhr method that returns a raw Response"
The public methods of the `Xhr` class cover a few common use cases, but don't allow more customized ones. Example (the use case I'm dealing with now): The `fetchJson` method rejects if the user has lost network connectivity, or the HTTP status code is non-2xx, or the response body isn't well-formed JSON. These situations call for different remedies; a loss of connectivity is expected to sometimes

[2017-03-06 23:13] taymonbeal commented on #8002
Never mind, this exists, I'm a moron.

[2017-03-06 23:13] #8002 closed

[2017-03-07 01:02] adelinamart commented on #7995
- Moved more files under our new Contributing folder #7908

[2017-03-07 09:29] jesuskelisto commented on #2360
Hi
Is there any updates here?
I'm trying to use something like this:
``
      "requests": {
        "pageview": "https://api.mixpanel.com/track/?data=${$data|base64)}"
      },
      "vars": {
        "data": {
          "event": "SomeEvent,
          "properties": {
            "token": "SomeToken"
          }
        }
``
But it doesn't look to work, Am I missing anything?

Thank you

[2017-03-07 13:44] alanorozco commented on #7995
- Implemented an ad lightbox prototype #7743, #7934

- Implemented basic reCAPTCHA component (#2273), standing by due to 3p-related blocker

[2017-03-07 15:06] erwinmombay commented on #7995
- fix bug in interaction of amp-live-list and amp-form
- Work on "create your first amp component" workshop

[2017-03-07 15:27] alanorozco commented on #7701
lgtm

[2017-03-07 15:29] alanorozco commented on #7701
Actually, I'm not sure about the validator.

@honeybadgerdontcare?

[2017-03-07 15:33] honeybadgerdontcare commented on #7701
No this has not made it to production. Time frame is probably in two weeks, maybe three.

[2017-03-07 16:33] jpettitt opened #8006 "Feature Request: amp-amp, AMP First Class Embeds"
Requirement.  Isolated embedded content that loads fast.  Dynamic content beyond the ability of AMP list, including ability to include all valid amp elements.  Example mixed related content widget that includes both ads and editorial.

**Goals:**

1. Loads with the AMP page (including pre-render?)
2. Isolated from the AMP page, own CSS
3. Access to parent page CID, analytics variables.
4. Can incl

[2017-03-07 17:49] ithinkihaveacat opened #8007 "Chrome extension reports errors on valid page"
How to reproduce:

1. Load <https://www.gaslightstl.com/single-post/2017/01/27/Why-is-the-obvious-not-obvious-somemosttimes#development=1> using a mobile UA in Chrome, with the [AMP Validator](https://chrome.google.com/webstore/detail/amp-validator/nmoffdblmcmgeicmolmhobpoocbbmknc?hl=en) extension installed.

Expected:

The extension does not report any errors.

Actual:

The extension reports mult

[2017-03-07 18:10] lannka opened #8008 "Prepend AMP_CONFIG to local runtime binary"
It can fix 2 problems:
- experiments enabled in prod right now are by default disabled in dev mode. sometimes causing confusion. or in worst case, release eng is not testing with the exact setup as prod, hence mis-catch bugs.
- many code relies on `mode.localDev`, which is calculated via [messy logic](https://github.com/ampproject/amphtml/blob/master/src/mode.js#L82) including checking if hostname

[2017-03-07 18:19] src-code commented on #7608
@mister-ben If you're at AMP Conf, let me know - would be great to meet up!

[2017-03-07 18:33] weeblr opened #8009 "Add Joomla as a supported platform"
Hi

Just checked out the supported paltform documentation page, and was surprised to find WordPress and Drupal listed, but not Joomla. #1 and #3 CMS but not #2?

Rgds

[2017-03-07 19:18] mister-ben commented on #7608
@src-code Yes, I'm here. I'm over near the editing desk in the same row as the camera.

[2017-03-07 20:31] nickmoline commented on #6150
I would argue that #2273 is way too narrow in scope, and the wording of this issue is better.  There are other forms of CAPTCHA other than reCAPTCHA, and AMP should be able to support other CAPTCHA images and methods other than reCAPTCHA, I should for example be able to pull an image url and hash dynamically after pageload without using an iFrame

[2017-03-07 20:33] nickmoline commented on #2273
Can we have an implementation more generic than this, something like `<amp-captcha>` that could be extended to multiple CAPTCHA providers including self provided ones.

[2017-03-07 21:07] gilbox opened #8011 "amp-accordion triggers error with break on exception enabled"
## Short description of your issue:

![image](https://cloud.githubusercontent.com/assets/2136203/23677892/bbb2a812-0336-11e7-916d-bc2a8a90527a.png)

## How do we reproduce the issue?

- Create amp-accordion and enable _Break on Exception_
- reload page

## What browsers are affected?

chrome

## Which AMP version is affected?

Powered by AMP ⚡ HTML – Version 1488856674144

[2017-03-07 22:03] ldthorne commented on #7720
Hoping to grab this one per my discussion with @aghassemi. Any objection?

[2017-03-07 22:03] honeybadgerdontcare commented on #8007
This is most likely due to how the extension grabs the HTML. Since the AMP Runtime has already transformed the HTML in the browser, grabbing the source directly from that fetch in Chrome isn't possible. The extension instead makes an [XMLHttpRequest](https://github.com/ampproject/amphtml/blob/master/validator/chromeextension/background.js#L242) to get the non-transformed HTML.

I speculate that Ch

[2017-03-07 22:55] #6184 closed

[2017-03-07 23:20] jpettitt commented on #7979
I can't answer for google but I can tell the the cdn.ampproject.org rate limits becasue we hit it they other day loading our own pages (we were forcing updates by reading expired pages).

[2017-03-08 10:50] ayumihamsaki opened #8016 "amp-sidebar bug"
Hi,

I have seen this issue been raised a few times and people keep closing it and nothing getting fixed.

I would like to demo the problem with a video:

https://youtu.be/rnuaU43VH1s

This issue can get merged with this: https://github.com/ampproject/amphtml/issues/4073
(which is closed)

The problem is when a user scrolls the amp-sidebar doesn't work. It seems to only work clicking.

[2017-03-08 13:29] levidurfee commented on #8016
@ayumihamsaki can you provide me the code so I can try it?

[2017-03-08 13:56] taymonbeal opened #8017 "Xhr option not to reject on non-2xx response"
For a Fast Fetch-related use case, I need the ability to distinguish network failures from non-2xx response codes in AJAX requests. I could do this with `fetch` except that that always rejects on a non-2xx response. Could an option be provided to not do that?

[2017-03-08 14:02] taymonbeal opened #8018 "Developer documentation of error reporting"
It would be useful to have developer documentation that outlines what exactly happens (e.g., reporting to a server, console messaging, UI indications) when the various methods of the `user()` and `dev()` objects are called, when a window-level `error` or `unhandledrejection` event occurs, or when an AMP lifecycle method throws or rejects.

[2017-03-08 14:17] ayumihamsaki commented on #8016
@levidurfee I can't provide you the website I am working on as I am currently investigating this issue and trying to find the source of the problem and ripping out bits of code right now...

But you can try and test the website: https://ampbyexample.com/

As that website has the exact same problems I have with the amp-sidebar module.

[2017-03-08 14:58] ayumihamsaki commented on #8016
@levidurfee I found the issue now, after a few hours it seems like you have to add this CSS to amp-sidebar.

I think maybe someone should inject it into amp-sidebar to force the css to be delivered when using this module.

Here is the code to make the amp-sidebar work for scrolling:

[code]

[2017-03-08 14:59] aghassemi commented on #7720
@ldthorne Thanks!

[2017-03-08 15:39] levidurfee commented on #8016
Thank you @ayumihamsaki for getting that! Good job finding that CSS, so do you still think this is a bug? I can try this out this evening. :)

[2017-03-08 15:43] ithinkihaveacat commented on #8007
Ah, that makes sense, although the problem might be with the Chrome extension mechanism not propagating the (spoofed) user agent, rather than devtools. (A `fetch("/")` in the console uses the correct UA, though I didn't dig any deeper.)

[2017-03-08 16:22] #7426 closed

[2017-03-08 18:44] bjalford opened #8019 "Allow amp-bind to add class to body tag"
We have a use case where we'd like to add a class to the body tag using amp-bind. Is it feasible to permit this using amp-bind?

[2017-03-08 18:47] Gregable commented on #8007
Closing the issue. Feel free to reopen if I misunderstood.

I'm entertained that this issue is a thread between two usernames of `ithinkihaveacat` and `honeybadgerdontcare`.

[2017-03-08 18:47] #8007 closed

[2017-03-08 19:22] kmh287 commented on #7978
Looks like prepending '+' to the string may also work e.g.

`[text]="+selectedSlide + 1"`

[2017-03-08 19:50] taymonbeal opened #8020 "Better test doubles for Xhr"
As far as my team's aware, the current state of the art for test doubles that mimic `Xhr`-initiated network requests is Sinon stubs on methods like `Xhr.prototype.fetchJson`. These are very fragile; a change to how the code under test consumes the `Xhr` API can break such a test, even if the code's actual behavior with respect to the network is unchanged. A proper test double for `Xhr` should allo

[2017-03-08 19:50] aylusltd opened #8021 "Creating your first AMP Component Instructions error on slide 2"
https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/#1

[code]

should be:

[code]

can't `npm install` if there's no `package.json` in the directory

[2017-03-08 19:57] luigi commented on #1445
I'd like to try implementing this. At Vox Media, here's what our version of this looks like:

http://www.theverge.com/2017/2/22/14703712/tesla-supercharger-growth-model-usa-canada-mexico

[2017-03-08 20:08] erwinmombay opened #8022 "add instructions for mac osx and windows validator dependencies"
https://github.com/ampproject/amphtml/blob/master/validator/README.md does not contain Mac OSX and Windows installation steps for dependencies

[2017-03-08 20:18] levidurfee commented on #8022
This is what worked for me on OSX.

[code]

Result:

[code]

So I ran:

[code]

Then I installed JDK.

[code]

Then I was able to run `gulp validator`

[2017-03-08 20:42] honeybadgerdontcare commented on #8022
Erwin was experiencing some issues with `.DS_Store` files. Here are my notes about that:

Macs create a file called .DS_Store every time a user enters that director. amphtml-validation tries to traverse it as a directory and throws an error. Deleting the file allows amphtml-validation to work, but if the user enters the directory (e.g. component/test/...) the .DS_Store file will be created again.

[2017-03-08 20:55] #7820 closed

[2017-03-08 21:10] protonate opened #8024 "Intent to Implement Prebid as <amp-embed> type"
We would like to integrate Prebid header bidding wrapper with AMP as an `<amp-embed>` type.

Prebid.js is a client side library implemented on publisher pages that wraps multiple advertising demand partners to request RTB bids, run an auction, set targeting and call the ad server.

More Prebid.js info is here: prebid.org

[2017-03-08 21:15] levidurfee commented on #8016
@ayumihamsaki you may also want to check the latest example usage on [ampbyexample.com](https://ampbyexample.com/components/amp-sidebar/)

Is there a specific reason you have a `<form>` inside your `<amp-sidebar>`? Also, your `<button>` will be hidden when the document loads.

https://ampbyexample.com/components/amp-sidebar/

[2017-03-08 21:42] roelfjan opened #8025 "shadow-v0 gives error in IE11"
shadow-v0 gives an error in IE11, because the file uses [`ChildNode.remove()`](https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/remove), which isn't supported in IE11.

Error:
[code]

Used url [https://cdn.ampproject.org/shadow-v0.js](https://cdn.ampproject.org/shadow-v0.js)

## What browsers are affected?
Internet Explorer 11 (and lower)

cc: @andreban

[2017-03-08 22:37] Gregable opened #8028 "Javascript AMP Validator does not complain about unprintable characters before the body"
Consider any valid AMP document. Now prefix ﻿'\xef\xbb\xbf\xef\xbb\xbf' to the document. This new document is invalid, however the javascript AMP validator considers it valid. The javascript validator should consider it invalid.

**Why is this document invalid?**
﻿'\xef\xbb\xbf' is non-whitespace text. Non-whitespace text is only allowed inside the HTML5 body element. HTML5 parsing rules mean that

[2017-03-08 22:42] ayumihamsaki commented on #8016
@levidurfee sorry for late reply, was seeing if I could recode a better javascript file for sidebar or not...

Ignore the `<form>` and `<button>` tags. I was comparing many websites with amp.

My final solution was this (I added the z-index as there was another problem on some websites), but this my simple conclusion for this:

[code]

[2017-03-08 23:05] keithwrightbos commented on #7957
/cc @bradfrizzel

[2017-03-08 23:10] choumx commented on #8025
Do we expect `shadow-v0.js` to support IE11 to begin with considering [Shadow DOM isn't supported on the browser](http://caniuse.com/#feat=shadowdom)?

/cc @dvoytenko

[2017-03-09 00:42] Gregable opened #8031 "AMP Validator should provide documentation link for style attributes"
`style` attributes in AMP documents produce a validator error of:

`The attribute 'style' may not appear in tag 'div'.`

But does not provide a reference link. We should have the validator link to:
https://www.ampproject.org/docs/guides/author-develop/responsive_amp#add-styles-to-a-page

[2017-03-09 02:06] levidurfee commented on #8016
Thanks @ayumihamsaki :)

Briefly looking at your final solution, it looks fairly straight forward and elegant. Unfortunately I won't have time to further look at it until Friday.

[2017-03-09 02:57] jpettitt commented on #8024
Prebid already has AMP support http://prebid.org/dev-docs/how-prebid-on-amp-works.html

[2017-03-09 04:42] jalajc commented on #7985
Looks similar to #6985 where amp-img is not loading inside amp-live-list

[2017-03-09 07:42] akshatmalikcoc commented on #7459
@rudygalfi : Awaiting your revert please

[2017-03-09 09:07] rgembalik opened #8035 "toggleVisibility/show actions not working globally (on any html element) as stated in the docs."
## How do we reproduce the issue?

1. create div with `id="my-element" hidden`
2. create button with `on="tap:my-element.toggleVisibility"` or `on="tap:my-element.toggleVisibility.show"`
3. Display the page and try clicking the button

According to [this docs](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#globally-defined-events-and-actions) and [this example](ht

[2017-03-09 14:55] kmh287 commented on #7995
- Merged PR for detecting amp-bind bindings in mustache templates
- Working on PR for detectign amp-bind bindings in amp-live-list elements
- Working on further integration tests for amp-bind

[2017-03-09 15:21] rudygalfi commented on #7459
Apologies for the delay. Pages served from the Google AMP Cache (cdn.ampproject.org URLs) are not meant to be indexed by any search engine since they are just proxies of pages hosted elsewhere. This is why the page contains an instruction not to index. You can see this also being done via the cache's robots file: https://cdn.ampproject.org/robots.txt.

So long as, according to your example, the or

[2017-03-09 15:21] #7459 closed

[2017-03-09 16:37] bradfrizzell commented on #7957
Would the window.context.observerIntersection return value not supply this? I believe that is what rootBounds gives you, no? I am currently on a train and my wifi is crap so I am unable to get my testing environment to work, but I can double check when I am back in the office.

[2017-03-09 16:56] bjalford commented on #7780
Yes it does. And an API. We've implemented it and it works well in AMP but not through the shadowdom as yet.

[2017-03-09 16:56] sumodas opened #8038 "FR: Support Apple Pay"
**Goal:** Load Apple Pay payment sheet on AMP pages (i.e. AMP Product Page, amp.www.1800flowers.com/floral-embrace-100229).  Might this be possible in an amp iframe or amp component?

**Requirements/Required Fields:** The ApplePay payment sheet requires the following values to pass through to complete a transaction:

1. Card & Billing Address field
2. Shipping Address (essential to validate produc

[2017-03-09 17:07] zhouyx commented on #7995
- Fixed bug on sticky-ad not collapsing in the case of no content
- Worked on creating analytics element for individual extension element

[2017-03-09 17:30] plegner opened #8040 "[Feature Request] Whitelist date related functions on amp-bind"
On a shop or restaurant website, you might want to indicate if it is currently open or closed, or feature different content at different times of day (e.g. breakfast/lunch/dinner).
On a shopping or auction website you might want to have different styling based on how much long an item/sale is available.

This could be achieved by whitelisting/providing certain date related functions in amp-bind:

[2017-03-09 17:39] choumx commented on #7779
Bumping to backlog since `amp-bind` in A4A is non-urgent.

[2017-03-09 17:46] dknecht commented on #8038
I wonder if there is need for amp-payments extension and built in a way the Stripe, Braintree, Apple Pay, Android Pay, etc could all build adapters.  There is also the payment notification API work being done in chrome.

[2017-03-09 17:50] lannka commented on #7618
Given the cache issue, @taymonbeal instead of requesting a set of keypairs, what do you think if we only request one keypair that is used in the current creative?

It's true that requesting the full set can happen in parallel with the ad request, but once there's key update (not sure how frequent it is), the cache becomes helpless.

Requesting one keypair after the creative response can potentiall

[2017-03-09 18:18] coreybyrnes commented on #7957
@bradfrizzell Can you point me to any documentation regarding rootBounds and observerIntersection? I've been digging around quite a bit and I haven't come across it. Thanks!

[2017-03-09 18:30] acusti commented on #1280
@jridgewell Is there a way to customize or overwrite the “selection of closest image” algorithm? It seems like there’s a proportionality to that choice that the current logic doesn’t account for.

If you have a 400px wide and 800px wide version of an image in the srcset, and the current `<amp-img>` element width is 550px, amp selects the 400px version and you wind up getting a highly distorted ima

[2017-03-09 18:46] choumx commented on #7557
Agree with Malte about (1) since `AMP.setState()` can affect elements outside of the `<amp-live-list>`.

We can start with (2) which is being implemented in #7990.

[2017-03-09 19:12] lannka commented on #7957
@coreybyrnes @bradfrizzell I don't suggest relying on `observerIntersection` API for the window size.
A better one will be the proposed PositionObserver API: #6873 .

But still, that would be considered expensive if all you want is parent window size. We can introduce a specific API for that.

Or alternatively, let me explore the option for `100%` and `100vw` first.

[2017-03-09 19:18] bradfrizzell commented on #7957
Does requestResize take anything other than a pixel value? It does not appear so to me. Either way, the argument type is not well documented anywhere in the code.

[2017-03-09 19:23] bradfrizzell commented on #7604
I'm closing this as per https://github.com/ampproject/amphtml/pull/7841 unless that PR did not meet all the use cases. @lannka please confirm

[2017-03-09 19:23] #7604 closed

[2017-03-09 20:05] coreybyrnes commented on #7957
@bradfrizzell Unfortunately not - you simply set a numeric value, not a string including a unit. That was part two of my question. If you can specify a unit as the third paramater or ideally make the unit a part of the parameter (with px being a fallback if no unit is included).

[2017-03-09 20:33] jridgewell commented on #1280
I think that's a pretty good idea. Please submit a PR!

[2017-03-09 20:40] erwinmombay commented on #8022
/cc @mrjoro

[2017-03-09 20:40] erwinmombay commented on #8022
thanks so much @levidurfee

[2017-03-09 20:43] ericlindley-g opened #8042 "tracking: bundle downloads for "opinionated" templates in AMP Start"
We have multiple page templates for each opinionated theme in AMP Start, but if you click into the preview, then hit the "download" button, only a single page template can be downloaded at a time.

This is a bug to make it so the opinionated pages are linked together, and hitting the "download" button downloads all of the html documents and resources for all three templates to work well (and so it

[2017-03-09 20:47] cramforce opened #8044 "Send error report if AMP document is rendered into 0 dimensions container"
We've now had at least 2 regressions where pre-render container rendered AMP into iframes that are `display:none` and hence have no dimensions. This breaks pre-rendering as we consider nothing to be in viewport.

We should throw an error (out of execution flow) if we discover this, so that we can quickly discover such regressions.

CC @dvoytenko

[2017-03-09 20:52] dvoytenko commented on #7995
* AMP Conf
* Visibility tracker code complete, in review.

[2017-03-09 20:58] #5627 closed

[2017-03-09 21:18] cvializ commented on #7995
- Parallax implementation and examples (#7794)
- Removing experiments (#6377, #5627)
- CachedXhr pending @cramforce final review (#7562)
- Debugging amp-font in MS Edge (#6219)

[2017-03-09 21:24] lannka commented on #7957
@bradfrizzell @coreybyrnes yep, that's a feature missing. I'll take a look how easy it is.

[2017-03-09 21:25] cramforce commented on #7995
- gave keynote at OMR conference in Germany.
- AMP Conf!
- not much more.

[2017-03-09 21:27] coreybyrnes commented on #7957
@lannka Awesome! Thanks.

[2017-03-09 23:04] camelburrito commented on #8042
@ericlindley-g should this be in the ampstart repo?

[2017-03-09 23:14] taymonbeal commented on #7618
@keithwrightbos and @vitaliybl, do either of you have thoughts on this?

[2017-03-09 23:51] ericlindley-g commented on #8042
Experimenting with tracking here so it can be factored into sprints....
May need a better system soon

On Mar 9, 2017 6:04 PM, "Sriram Krishnan" <notifications@github.com> wrote:

@ericlindley-g <https://github.com/ericlindley-g> should this be in the
ampstart repo?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/ampproject

[2017-03-09 23:59] camelburrito commented on #8042
lets sit with @adelinamart  and replicate sprint stuff on the other repo as well , so we can track that as a separate sprint. Its hard to track issues in 2 repos.

[2017-03-10 00:14] amphtml-team commented on #8042
Good idea--we can add that to next week's sprint :)

On Mar 9, 2017 6:59 PM, "Sriram Krishnan" <notifications@github.com> wrote:

lets sit with @adelinamart <https://github.com/adelinamart> and replicate
sprint stuff on the other repo as well , so we can track that as a separate
sprint. Its hard to track issues in 2 repos.

—

You are receiving this because you are subscribed to this thread.
Reply

[2017-03-10 05:41] rudygalfi commented on #2360
@jesuskelisto: Regarding your question, this feature is not yet released is production and is available only experimentally. To enable the experiment, in the console, do:

[code]

It looks like this is being covered by #2198. So I will close this. Let's continue discussion about `base64` filter there if needed.

[2017-03-10 05:41] #2360 closed

[2017-03-10 11:53] luciancrasovan commented on #7962
It happened to me, too. Any solution for this?

[2017-03-10 16:06] cramforce commented on #4078
to @rudygalfi for docs.

[2017-03-10 16:34] ericlindley-g commented on #7922
Thanks for the feature request, @bjalford !

I hesitate to support a dropdown on hover via amp-bind, because hover doesn't necessarily signal a high level of user intent, and just linking that to a particular bind state would open up a lot of undesirable interactions (ones that extend beyond hover triggering a dropdown)

A couple other options:

• Is there a reason you're not doing this with CSS :

[2017-03-10 16:42] ericlindley-g commented on #7949
Thanks — that's what I thought, so some things we're working on should help you out.

I'm not sure exactly what the `.focus()` method will look like, but I believe the plan is for it to be able to designate a particular element id to scroll the top of the viewport to.

Until that is available,  I wonder if it would work to have a separate amp-live-list for each container of content. For instance,

[2017-03-10 17:12] jasti commented on #8024
@protonate, curious to hear how this is different than what @jpettitt already points to. Thanks.

[2017-03-10 17:23] ericlindley-g commented on #7557
Yikes — definitely agree with the risk here, and with the solution of starting with #7990

[2017-03-10 17:29] acusti commented on #1280
Right on! PR: https://github.com/ampproject/amphtml/pull/8055

[2017-03-10 17:37] protonate commented on #8024
Current support is dependent on a custom `remote.html` file on publisher domain, so the intention here is to provide an alternative.

[2017-03-10 17:38] adelinamart commented on #8042
I agree. Let's keep the issues for amp start only in the amp start repository and close these here. I'l create a milestone there for the sprint purpose. Thanks.

[2017-03-10 17:39] camelburrito commented on #7922
Accordions should never expand on hover . They are not meant to be drop downs . We can build proper drop downs with amp-selector.

i was trying something like this couple of days ago

http://jsbin.com/falohu/57 (might not be fully presentable and needs tweaks.)

[2017-03-10 17:41] camelburrito commented on #7995
- AMP Start
  - Lots of Changes
  - Lots of Code reviews
  - Launch!!

- AMP Conf
- AMP Conf workshop

[2017-03-10 17:48] ericlindley-g opened #8056 "Validation for amp-bind"
/to @Gregable as first point of triage
/cc @choumx

[2017-03-10 17:48] ericlindley-g opened #8057 "Bind performance guarantees"
Determine & test:

- [x] Limit # of bindings per AMP documents (determine what N is)
- [x] Limit to complexity of individual expressions (Metric could be # of nodes in abstract syntax tree expression)
- [x] Limits on amp-state (maybe file size, maybe # of characters?) — may not need this, but could be worth testing

[2017-03-10 17:56] ericlindley-g commented on #8056
Updated /to @choumx  /cc @Gregable   :)

[2017-03-10 19:16] keithwrightbos commented on #7618
I think we should address this as an experiment once Fast Fetch launches to determine what impact delaying the key fetch has on overall render time.

[2017-03-10 19:56] #5601 closed

[2017-03-10 20:00] cramforce commented on #8006
Question: Would this be explicitly for trusted content? As in: Do you need a security boundary between you and the content? Or is this more of a fancy content composition mechanism?

[2017-03-10 20:01] jridgewell commented on #2691
@camelburrito: Closable?

[2017-03-10 20:05] cramforce commented on #5601
Woohoo! Thanks @tompere!

[2017-03-10 20:18] dvoytenko commented on #7972
Possible, e.g. via `<amp-layout>` element or such. This is not very ergonomic. It'd be much better to just rely on the same attributes we use, e.g. `layout`, etc. Unfortunately, there's no efficient way to scan for them in DOM and `attr` CSS is not supported for non-content anywhere yet.

Generally, CSS for responsive layout is tricky, but simple:

[code]

If we had full support of `attr`, we coul

[2017-03-10 20:36] #7784 closed

[2017-03-10 20:39] #7673 closed

[2017-03-10 20:49] ericlindley-g commented on #7907
This sounds really promising.

Just so I understand, let's say the feature means:

Implement a mechanism that fetches data from source (A) and uses the response to update document data (B)

Questions:

1.
Is the source (A) just the host document (cache if served from the cache, origin if served from the origin), or could it be configured to be any URL of the publisher's choosing? (i.e. fetch the l

[2017-03-10 20:50] #8044 closed

[2017-03-10 20:56] dvoytenko commented on #6417
Good point, re: shadow API. We definitely want a clear mechanism to forward them to shell.

[2017-03-10 21:05] camelburrito commented on #2691
No Dan is working on it
On Fri, Mar 10, 2017 at 3:01 PM Justin Ridgewell <notifications@github.com>
wrote:

--
-- Sriram

[2017-03-10 21:13] dvoytenko commented on #7981
Generally, I'd rather keep the internal details of tags hidden. I'll keep it in mind though if we find a stronger need for this.

[2017-03-10 21:36] #7808 closed

[2017-03-10 21:36] jridgewell commented on #7808
Closed by #7809.

[2017-03-10 21:53] jridgewell commented on #7900
Fixed by #7843.

[2017-03-10 21:53] #7900 closed

[2017-03-10 21:58] #7835 closed

[2017-03-10 22:09] jridgewell commented on #7852
I think expected dev error, too.

[2017-03-10 22:21] dvoytenko commented on #8025
Absence of Shadow DOM should be ok. I'll check on remove. We do not allow `Node.remove` in our code, so in either case the presence of it would be wrong.

[2017-03-10 22:23] jridgewell commented on #8017
You can do this now by checking for `error.response` in the catch block.

[2017-03-10 22:30] dvoytenko commented on #8025
Hmm. Tried on IE11 and Edge - both seem to work. @roelfjan Do you think you can share a demo URL for us to debug?

[2017-03-10 22:31] jridgewell commented on #7979
Whoo, don't know who to assign this to so @adelinamart gets it.

[2017-03-10 22:32] leonessaarnaldo opened #8065 "How Fix errors on your AMP pages"
How Fix errors on your AMP pages

I activated amp on my wordpress site here https://leonessaarnaldo.com/ some weeks back and it went well at first.

Then I got a message on search console that some of my pages do not meet the guidelines and won't show. I checked and I noticed that there was no page that needed fixing (see image attached titled "amp page")

Then it says "Add required structured dat

[2017-03-10 22:33] jridgewell commented on #8011
This is because `<amp-accordion>` is a render-delaying extension, and we're waiting for it to download before we "finish" rendering the page. Do you have an example URL with the issue?

[2017-03-10 22:35] jridgewell commented on #8009
/to @adelinamart

[2017-03-10 22:37] levidurfee commented on #8016
@ayumihamsaki do you experience the same issue with this [jsbin](http://output.jsbin.com/tudayijeru)?

Here is a [video recording](https://www.youtube.com/watch?v=1ASO8o3W420) of what happens when I attempt to recreate the issue.

In your video the nav had items collapsed, which may have something to do with it. Please let me know if that jsbin works for you. Then we can go from there :)

Also, I

[2017-03-10 22:37] gilbox commented on #8011
You can repro the bug in the example from the doc:

https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-accordion%2Fsource%2F

[2017-03-10 22:41] jridgewell commented on #7998
/to @muxin, @camelburrito

[2017-03-10 22:42] jridgewell commented on #7997
/to @pbakaus

[2017-03-10 22:44] #7847 closed

[2017-03-10 22:44] jridgewell commented on #7984
/to @lannka

[2017-03-10 22:45] jridgewell commented on #7983
/to @lannka

[2017-03-10 22:46] jridgewell commented on #7980
/to @aghassemi

[2017-03-10 22:51] muxin commented on #7998
This issue seems like a duplicate of https://github.com/ampproject/amphtml/issues/5428

[2017-03-10 23:02] #7826 closed

[2017-03-11 00:36] jpettitt commented on #8006
@cramforce good question.  Our use case is for trusted content, we're mostly looking for composition and CSS isolation.  However I can see uses cases where a stronger trust boundary would be helpful. I could live with a shadow dom based or an iframe based option.

[2017-03-11 01:02] jpettitt commented on #8024
Out of curiosity, @protonate how would you do that within the no 3p javascript rules on the main page that AMP enforces?

[2017-03-11 01:13] dmarge123 opened #8069 "Disappearing body content when linked from Google"
We have had to disable our AMP pages as when they are linked to from Google search results no article content displays.

The pages work perfectly when you go to the URL directly, they give no errors when you run them through google's AMP Test, but when you preview via search result in google search console the article content does not display (same as when in production).

We use the AMP plugin fo

[2017-03-11 01:17] camelburrito commented on #7998
Yes it's a dupe

[2017-03-11 01:17] #7998 closed

[2017-03-11 06:55] sebastianbenz commented on #7557
I don't understand why this would enable running amp-bind on page load. I'd expect this event to only fire the first time an amp-live-list is updated, which is min 15s after page load.

[2017-03-11 23:23] gustavopaes opened #8071 "suggestion: component to render json"
Today we can make a JSON request and render the result using `amp-list`.

But not always the API returns an Array, required by `amp-list` .

Would be nice to have an component that could render some json (with no patterns) using `amp-mustache`.

[2017-03-12 17:28] jalajc commented on #7979
@jridgewell @adelinamart may be [someone here](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md) too could help

[2017-03-12 23:37] jasti commented on #8006
My suggestion, if we choose to build it, is to make it a seperate component and not reuse A4A if the plan is to embed regular ads in them. We'd want to be fairly certain that whatever we call A4A is reasonably static.

@michaelkleber @lannka for thoughts as well.
@jpettitt I'm sure you've thought of this, why not amp-iframe?

[2017-03-13 00:06] alanorozco commented on #7790
Could you provide more context?

[2017-03-13 00:20] alanorozco commented on #7743
Updated.

Done for lightbox mode. Refactoring and testing for feature is required before being able to whitelist.

More context required, will update on Monday.

Embedding external documents is out of scope for this feature. Since the feature uses a normal `amp-lightbox`, a partial AMP document tree is already supported.

As mentioned, partial AMP documents are already supported. Embedding documen

[2017-03-13 01:57] mrjoro opened #8073 "Weekly Status 2017-03-13"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-03-13 01:58] #7995 closed

[2017-03-13 03:35] dangoldin opened #8076 "Suggestion: Support for linked CSS/CSS caching"
I realize this is a pretty big change and contradicts the intent of AMP but I've been using it exclusively for my personal blog (http://dangoldin.com/) and in fact don't even keep a non-AMP version. It's been great and I'm a huge fan but one issue I've consistently been running into is the fact that if I need to make any change to the CSS each page needs to be rebuilt which takes a fair bit of tim

[2017-03-13 03:37] dangoldin commented on #8065
You can validate a specific page by adding "#development=1" to the end of your URL. Then by going into the console you'll see what is causing the page to be invalid AMP.

Check out the docs for more: https://www.ampproject.org/docs/guides/debug/validate

[2017-03-13 03:53] camelburrito commented on #8073
Ampstart Launch
Amp Conf workshop

[2017-03-13 13:12] eike-hass commented on #6219
could this issue be reproduced?

[2017-03-13 15:14] #7737 closed

[2017-03-13 15:16] kmh287 commented on #7557
Could someone abuse 1 to periodically refresh bind attributes on an entire page?

[2017-03-13 15:51] aghassemi opened #8077 "Lightbox 2.0: Support swipe navigation"
Broken down task for https://github.com/ampproject/amphtml/issues/4152

[2017-03-13 15:54] aghassemi opened #8078 "Lightbox 2.0: Support custom image functionality"
Broken down task for #4152
- [ ] pinch zoom
- [ ] pan
- [ ] vertical swipe to dismiss
- [ ] transitions

Ideally we can reuse the existing `ImageViewer` implementation we have for most of there,

[2017-03-13 15:54] erwinmombay commented on #8073
created codelabs.developers.google.com/codelabs/creating-your-first-amp-component/#0

[2017-03-13 16:06] ericlindley-g opened #8080 "build and test functionality for amp-app-banner iOS forwarding solution"

[2017-03-13 16:09] cramforce commented on #8073
- Gave talk at AMPConf on our OKRs. Live stream recording is online, but will link to individual file when ready.
- Blog post about main announcements here https://www.ampproject.org/latest/blog/amp-grows-its-footprint/
- Spend lots of time with writing performance reviews for the Google AMP team and others 🥇

[2017-03-13 16:18] ericlindley-g opened #8082 "Scroll-bound CSS design"
Technical design
Breakdown of tasks
Prep for next sprint

[2017-03-13 16:29] mpatnode-si commented on #4146
It seems you're talking about forcing several languages into the same AMP document, rather than using a hreflang like mechanism to point or redirect to the correct version.   Am I reading your intent correctly?

[2017-03-13 16:31] aghassemi commented on #8073
- Beautiful, interactive, canonical AMP pages [Codelab](https://codelabs.developers.google.com/codelabs/amp-beautiful-interactive-canonical/#0)
- `amp-fx-parallax` [sample](https://ampbyexample.com/components/amp-fx-parallax/) for AMP By Example.
- Cleaned up https://github.com/ampproject/amphtml/issues/829 to become a Great First Issue

[2017-03-13 16:40] muxin commented on #8073
- Working on amp-carousel autoplay bug in ios 10.3
- Working on disabling snap point in slidescroll

[2017-03-13 16:43] mpatnode-si opened #8084 "Implement a locale redirect mechanism"
As a world wide publisher, we often publish the same article in multiple locales.    Many of those locales are variants of the same language (typically English).    When a UK, AU or Middle Eastern IP address comes to an article on our US site, we will redirect them to their geographic locale appropriate site if that same article has already been published there.    In many cases, we are contractua

[2017-03-13 16:47] zhouyx commented on #8073
- AMP Conf

[2017-03-13 16:54] Nicola1976 opened #8085 "Document overflow element"
## Short description of your issue:

I have an permanently error on amp-ad resize API on Open AdStream (OAS) adserver.

The error is:
_476 "[CustomElement]" "Cannot resize element and overflow is not available"_

Starting from this guide (https://github.com/ampproject/amphtml/blob/master/ads/README.md#ad-resizing) In my ad creative I wrote:

_window.context.requestResize(300, 600);_

Public URL to

[2017-03-13 16:54] lannka commented on #5761
Given the high priority of this bug, and that the "filter" support (#2198) hasn't landed yet, discussed with @dvoytenko, we'll go for a temporary fix first (hard code the logic to strip-off the leading prefix).

Let us know if any concerns. Meantime, we hope this eventually could be solved at GA server side, @avimehta

[2017-03-13 16:56] lannka commented on #2198
Decided to fix #5761 in a different way. So downgrade this to P2.

[2017-03-13 17:06] jridgewell commented on #8073
- AMP Conf
- Cache SW `/diversions` endpoint
- Perf
- Sick days

[2017-03-13 17:10] aghassemi commented on #4146
@mpatnode-si yes, but not necessarily forcing, rather providing an alternative to allow runtime support for different languages in a single doc instead of requiring multiple versions of the same doc in multiple languages.

[2017-03-13 17:14] spacedino commented on #8073
- AMP Conf

- ampstart.com launch

- Sprint planning and prioritization for the next two weeks

[2017-03-13 17:15] alanorozco commented on #8073
- AMP Conf
- Follow-up on #7743

[2017-03-13 17:16] levidurfee commented on #8073
- AMP Conf
- Created [ampb.in](https://ampb.in)
- Follow-up on #8016

[2017-03-13 17:21] lannka opened #8087 "Migrate 3P ads postMessage API to new format"
#6829 introduced a new format for the window.context postMessage APIs. We will need to migrate existing 3P ads to the new format.

Remaining items:
- [x] clean up experiment flag: `sentinel-name-change`
- [x] serialize/deserialize messages sent/received by `integration.js` using the same function as ampcontext API does

/cc @bradfrizzell

[2017-03-13 17:22] jridgewell commented on #6219
I think @cvializ was looking into it, but got delayed by AMP Conf.

[2017-03-13 17:24] zhouyx commented on #7604
@bradfrizzell any plan on using the new `#serializeMessage` function. Asking because #6873 is blocked by this. https://github.com/ampproject/amphtml/blob/master/src/iframe-helper.js#L360 current `#postMessageToWindows` doesn't contain rtv version number.

[2017-03-13 17:25] lannka commented on #8087
Marked as P1, as it blocks a few other things.

[2017-03-13 17:27] mpatnode-si commented on #4146
Hmm.  That doesn't work well for our model since we often work with partners to manage our international sites and we don't give them edit rights to the original article.   Also, when an article is copied to another locale, they will often change the images associated with the article, or remove some images which we may not have rights to publish in that geography.

This feature does make sense in

[2017-03-13 17:27] lannka commented on #7604
No worry, I will take care of the remaining stuff. As tracked separately here: #8087.

[2017-03-13 17:29] dvoytenko commented on #7724
Ping on my questions above.

[2017-03-13 17:35] keithwrightbos commented on #7192
@jridgewell Is this still relevant or can we close?

[2017-03-13 17:35] keithwrightbos commented on #6481
This is being done from A4AElement so closing.

[2017-03-13 17:35] #6481 closed

[2017-03-13 17:36] #7457 closed

[2017-03-13 17:36] #6128 closed

[2017-03-13 17:39] keithwrightbos commented on #6162
Closing as duplicate of #6900

[2017-03-13 17:39] #6162 closed

[2017-03-13 17:43] alanorozco commented on #7743
Closing as "working prototype" has been created. Full feature will be figured out later.

[2017-03-13 17:43] #7743 closed

[2017-03-13 17:51] aghassemi opened #8088 "Docking UX for video players"
Task breakdown for https://github.com/ampproject/amphtml/issues/7510

- [x] If video is playing, scrolling down the page minimizes the video to the corner.
- [x] When scrolling back to top, video is maximized again.
- [x] When video is minimized, swiping to the right dismisses the video (e.g. pause and moves it back to the top).
- [x] Minimized video should be 'movable' by the user.

## Format for

[2017-03-13 17:54] keithwrightbos opened #8089 "Instance of amp-ad 3p frame with same type all indicate they are master frame"
## Short description of your issue:

Attempting to use window.context.master to store state between 3p frames to allow for incrementing frame count to be sent on ad request.  However, each frame seems to indicate it is the master due to window.parent.frames['frame_doubleclick_master'] consistently throwing DOMException due to cross origin access (see https://github.com/ampproject/amphtml/blob/mast

[2017-03-13 17:56] keithwrightbos commented on #8089
@ampproject/a4a FYI

[2017-03-13 18:04] alanorozco commented on #2273
reCAPTCHA component is currently blocked due to issues with rendering inside a 3p iframe. Will update this once we reach a decision on technical issues re: resizing and signals.

@nickmoline Sounds good, butCould c you provide an example for how a different CAPTCHA provider would work? The challenge with this is designing an API that is general enough but not badly overloaded. Would like to have m

[2017-03-13 18:10] #7192 closed

[2017-03-13 18:11] kmh287 commented on #8073
- Increased performance of expression parsing in amp-bind #8046
- Still working on recognizing bind attributes in amp-live-list items

[2017-03-13 18:11] dvoytenko commented on #7724
/to @lannka to respond

[2017-03-13 18:12] #7724 closed

[2017-03-13 18:12] #2851 closed

[2017-03-13 18:12] camelburrito commented on #7804
I tried switching to a different subdomain and it did not seem to help??

[2017-03-13 18:13] #6377 closed

[2017-03-13 18:15] dvoytenko commented on #7830
@lannka #7457 is complete. However, I don't know how to confirm/validate that in-a-box case is fulfilled. In particular, it's important to consider the following issues: #7992 (InOb polyfill bugs) and #7971 (InOb vs viewport offsetting).

[2017-03-13 18:16] camelburrito commented on #6219
@cvializ - find me when you need help :)

[2017-03-13 18:18] camelburrito opened #8090 "Support nested amp-selector's"
Add support for nesting amp-selector inside another

Needs
- Design & Implementation
- Validator Support.

[2017-03-13 18:18] jasti commented on #8087
@ampproject/a4a FYI

[2017-03-13 18:21] dvoytenko opened #8091 "Cleanup: remove level-1 legacy -amp-element classes"

[2017-03-13 18:22] camelburrito opened #8092 "Make sprint planning for AMP Start happen"

[2017-03-13 18:23] nickmoline commented on #2273
a Lot of simpler captchas work by simply generating a one time token which is used both in an image url, audio url and a hidden input field.  We could use a JSON endpoint that would return the token something like this:

[code]

the json endpoint can simply return a standard hash of values that can be used in the mustache template

[code]

[2017-03-13 18:26] QES commented on #7949
Currently that is what I am doing (not knowing exactly how this was supposed to work) the page now consists of - I didn't realise that within a live-list you could mix changing updates to some text and new updates to the same list.  So I have four separate elements on the page that are there own live-list elements for the fixed elements on the page that change as the score changes and one that con

[2017-03-13 18:29] aghassemi commented on #7028
@ericlindley-g, @cvializ : moving this to backlog, current sprint too big to accommodate this.

[2017-03-13 18:31] kmh287 commented on #8019
Thanks for your input @bjalford . Looks like this is already working on master but the change that allowed it hasn't yet made it to the CDN.

[2017-03-13 19:26] mpatnode-si commented on #8084
@rudygalfi Are you working on something like this?

[2017-03-13 19:54] lannka commented on #8092
is this a tracker of a tracker? :-)

[2017-03-13 19:55] adelinamart commented on #8092
Will follow-up on this internally. Let's close this :)

[2017-03-13 19:55] #8092 closed

[2017-03-13 20:01] adelinamart commented on #8009
Thanks for the issues. Adding here @rudygalfi to see if it's something we are looking into it, if so to note down the request.

[2017-03-13 20:02] lannka commented on #7730
Talking about the format, after some discussions we came into this:
[code]

Here the `content` attribute has the format of `${vendorName}:${idType}:${idString}`. The vars are all limited to URL Base64 charset.

As for the `${idType}`, we recommend all vendors to have at least two types: `impression-id`, `creative-id`.

Note everything here is optional (opt-in basis). Having standard naming would e

[2017-03-13 20:02] sebastianbenz commented on #7557
Would this really be abuse? I'd assume this WAI.

[2017-03-13 20:10] lannka commented on #7971
@dvoytenko if we drop the viewport offset from inabox, then we can no long calculate the absolute position of an AMP element, which potentially could be helpful if later on we want to track if an ad is ATF etc.

Moving offset calculation from viewport to inOb will inverse the dependency. InOb depends on Viewport for scoll positions.

[2017-03-13 20:16] lannka opened #8095 "Support attemptResize with unit other than px"
As discussed here #7957, is it a good idea to support resizing to CSS values like:
- "100%"
- "100vw"

@dvoytenko @zhouyx

[2017-03-13 20:20] derekcecillewis commented on #8073
### amp-sortable-table (#6057)

Last week:
 - Discussed default styles with @spacedino, @camelburrito, and @dvoytenko at AMP Conf
 - Committed empty component skeleton #8029

This week:
 - Make PR for initial documentation file (`amp-sortable-table.md`)
- Once ^ is merged, make PR for logic and styles

### Misc.

Last week:
 - Had an amazing time attending AMP Conf!

This week:
 - Make PR to make

[2017-03-13 20:34] kmh287 commented on #7557
Ah, because the event will only be triggered when the user presses the update button, right? I was thinking the event would fire any time the list had an update.

[2017-03-13 20:40] coreybyrnes opened #8097 "amp-ad : centering image in flying-carpet"
I'm trying to horizontally and vertically center a DFP ad in the flying-carpet component when the image in the ad is larger than the flying-carpet container. For my test case the ad size for my creative is 1600x1000 and I'm serving a 1600x1000 image. It looks like if I could somehow resize the <amp-ad> tag upon load from 1600x1000 to 100vw and 100vh it would sit perfectly centered in both portrait

[2017-03-13 20:44] lannka commented on #7790
@alanorozco I update the description

[2017-03-13 20:49] dvoytenko commented on #7952
Currently we delay showing of the ad until we receive `render-start` event - thus we try to show the ad the sooner the better. We could extend that. But some low-hanging fruit: we definitely should NOT show loading indicators inside the ad since the ad itself has the loading indicator.

[2017-03-13 20:59] aghassemi opened #8098 "amp-form: template should not be *required* to be part of success or failure divs"
Currently `<div submit-success>` and `<div submit-error>` are **required** to have a `template` tag as thet child. This should become optional. There are cases where a _static_ success or message is enough and there is no need to load `amp-mustache` for those cases.

/cc @rudygalfi @ericlindley-g

[2017-03-13 21:00] sebastianbenz commented on #7557
There are two scenarios:

1) a new item gets added to the list
    -> the button appears
    -> when the user presses the button, an event should fire
2) an existing item gets updated (the timestamp changes)
    -> the page is updated without user interaction (minimum interval is 15s)
    -> an event should fire

In 2. this means that bind attributes would periodically be re-evaluated without user

[2017-03-13 21:01] aghassemi commented on #8098
Changing to P2 since for A4A which does't support `amp-mustache`, this becomes important.

+ @ampproject/a4a

[2017-03-13 21:02] dvoytenko commented on #7804
What's the error now?

[2017-03-13 21:03] dvoytenko commented on #8073
* Viewability additions
* Hidden triggers

[2017-03-13 21:06] cvializ commented on #8073
- Removed two launched experiments
- Parallax for @aghassemi's AMP Conf demo

- New suggestions for caching PR
- New sprint tasks, amp-form improvments

[2017-03-13 21:36] lannka commented on #8073
__Ads & Analytics__
- Pending PR for "blank box rate" measuring
- Discussions around `remote.html` support in A4A

__Misc__
- On duty last week.
- Looked a weird issue that AMP page is only missing content in Viewer, not pub hosted page. Working with Viewer team to reproduce.

[2017-03-13 21:47] lannka commented on #7979
@dvoytenko  @rudygalfi  is something `amp-access` handles?

[2017-03-13 21:57] adelinamart commented on #7979
@jalajc the amp team is planning to add support for recaptcha in AMP as per #2273
Let me know if that answers your question. Also, you can read more about how AMP cache works at https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md

[2017-03-13 22:10] erwinmombay commented on #7949
should we prioritize this for next sprint? does that sound good @ericlindley-g ?

[2017-03-13 22:19] kuma-san commented on #7670
@camelburrito I'm sorry but I have no information on that.
I tested w/ iOS 10.3. beta 6 and still persists.

[2017-03-13 22:31] adelinamart opened #8102 "test - ignore"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-03-13 22:39] #8102 closed

[2017-03-13 22:41] zhouyx commented on #6597
@jasti This has been in 1% canary for two weeks. Should we go ahead and push the change to prod?

[2017-03-13 22:44] cramforce commented on #7907
I meant this to be only a request directly to the origin server that serves pure JSON. No document involved.

[2017-03-13 22:46] jasti commented on #6597
@jpettitt have you had a chance to measure revenue impact for this?

[2017-03-13 22:47] cramforce commented on #8006
Yeah, definitely no reuse of A4A. This could be a very simple mechanism really. My main question would be for how to do the signing, since we don't have any scalable (beyond a few ad networks) infra to do that really.

[2017-03-13 22:58] cvializ commented on #6219
will do!

[2017-03-13 23:00] lannka commented on #7952
@lexandera is that from an advertiser's perspective or publisher's perspective? Since implementation wise it will be different. For instance, we would provide publisher an attribute in `amp-ad` like `wait-for="ini-load"`. If it's for advertiser to have the control, then we need to come up with something else.

[2017-03-13 23:10] jasti commented on #7952
This is for advertiser control.

[2017-03-13 23:11] cramforce commented on #7557
Trying to figure out whether running this 15s after page load is better or worse :)

Could this be limited to only if live list found a delta? In that case it would be fine, I think.

[2017-03-13 23:25] ericlindley-g commented on #2851
FYI to folks on this list — you can find the launched feature at [ampstart.com](http://ampstart.com). Feel free to take a look and give us feedback in the [AMP Start repo](https://github.com/ampproject/ampstart)

[2017-03-13 23:36] aghassemi commented on #7982
@ayumihamsaki you should be able to use a combination of `data-share-endpoint` and `data-mode="replace"` to achieve what you need.

You can have two `amp-social-share` items: one system and one custom fallback (using `data-share-endpoint` to specify the fallback URL).

Now using  `data-mode="replace"`  on the system one, will cause the custom fallback one to disappear on systems that support nativ

[2017-03-13 23:36] #7982 closed

[2017-03-13 23:39] Gregable opened #8104 "Simplify the validation rules TagSpec for extension script tags."
We'd like to simplify creating TagSpec rules for the `<script>` tags in custom elements. These have accumulated a lot of rules that are implied by being a custom element. Consider, for just a recent example:

[code]

The plan is to reduce the rules in this tagspec by use of a new TagSpec field, ExtensionSpec:

[code]

This will simplify development of extension rules by developers building new ext

[2017-03-13 23:51] aghassemi commented on #7985
@camelburrito I assume all dynamic content generated after carousel is layedout won't work because carousel has taken ownership of its existing children and is not aware of new children being added to it to schedule them.?

/cc @jridgewell

[2017-03-13 23:54] dvoytenko commented on #7952
I'd definitely not want to allow this to customize by the publisher. Advertiser is ok, but also minimal. Btw, advertiser can do this already via their specific a4a implementation. Again, I think most of this is fixable with some low-hanging fruit optimizations, such as removal of unneeded loading indicators.

[2017-03-13 23:55] jridgewell commented on #7985
Yup.

[2017-03-14 00:00] #7589 closed

[2017-03-14 00:02] dvoytenko commented on #8095
Don't see a reason, TBH. Measurements are always done in `px` in DOM APIs. 100% and 100vw probably indicate the desire to expand to the full viewport. This is good, but:

1. Should be handled via special API (e.g. `enterLightboxMode` or `enterOverlayMode`)
2. Should be guarded by the user action
3. Should be reversible by the AMP Runtime: in other words, the full-screen-overlays must be always can

[2017-03-14 00:04] dvoytenko commented on #7971
@lannka In the current situation, we don't know the box of the in-a-box embed until the first post message. This we'll be source of risk conditions and bugs.

What uses would we derive from absolute positioning? If it's visibility - it has to be driven by the InOb.

[2017-03-14 00:22] dvoytenko commented on #7979
It sounds like the use case here is somewhat different. The desire is to protect from bot scrapping which is not what access/reCaptcha do - they do client-side obfuscation or user action guarding.

I believe all AMP Caches are required to fully respect robots.txt and thus have some protection from scrapping. /to @vitaliybl to clarify.

[2017-03-14 00:24] lannka commented on #6829
@bradfrizzell seems we're still missing a critical piece to have context APIs working for the delayed rendering scenario. You will need to install those APIs to the xorigin iframe. Just make sure it's still on track.

[2017-03-14 00:24] #7992 closed

[2017-03-14 00:55] aghassemi commented on #7845
@muxin They just start fading and after they are hidden, the become visible again. They should not fade at all in the first place.

(Updating to P3, don't really think this is P2)

[2017-03-14 01:14] zhouyx commented on #8095
I agree expanding to full viewport should be handled via special API, not `#attemptChangeSize`. But I think the request is different from entering a full screen mode. It is only resizing through `attemptChangeSize` function. Even now, user can take the whole screen by calling `attemptChangeSize` to a very large width/height, and I don't think we are applying any restrictions on the new width/heigh

[2017-03-14 02:12] pearlwang1106 opened #8110 "I get an error with 'amp-bind'"
When I visited the site: https://ampbyexample.com/advanced/image_galleries_with_amp-carousel/, an error showed as the picture:
![image](https://cloud.githubusercontent.com/assets/22272732/23882928/b18ce2cc-089e-11e7-8560-54ed5b60261e.png)

[2017-03-14 03:07] dknecht opened #8112 "amp cache modifications should have amp-experiments-opt-in right after meta charset"
`<meta content="experiment-a,experiment-b" name="amp-experiments-opt-in">`

[2017-03-14 03:07] dknecht commented on #8112
@Gregable @honeybadgerdontcare  I am pretty sure you google's amp cache already does this optimization.

[2017-03-14 04:51] Jeiwan opened #8114 "amp-form: add amp-form-submit analytics event"
Hi,

I'd like to add `amp-form-submit` analytics event to `amp-form` component. The event would be triggered before a form is submitted and would allow to track form submissions (including form fields and values) in `amp-analytics`. Currently, there are `amp-form-submit-success` and `amp-form-submit-error` events, but they're triggered after a form was submitted and only when XHR POST method is us

[2017-03-14 06:24] erwinmombay commented on #7848
the json endpoint one is a bit tricky. definitely needs more discussion on that

[2017-03-14 06:26] erwinmombay commented on #7336
sorry, amp-conf got in the way there. will look into it in next sprint. adding to prioritized FR milestone.

[2017-03-14 06:27] erwinmombay commented on #8021
thank you @aylusltd, fixing on the docs end!

[2017-03-14 06:29] erwinmombay commented on #8021
fixed and published. Thanks so much again!

[2017-03-14 06:29] #8021 closed

[2017-03-14 06:41] jalajc commented on #7979
Let me know if that answers your question. Also, you can read more about how AMP cache works at

Not completely. scrappers and bots are not practically affected by component visibility on UI. Javascript is always 'optional'. Good browsers and people will mostly allow scripts. But certainly scrappers find ways to fetch content without javascripts.
@dvoytenko's comment is worth notable in this regar

[2017-03-14 06:42] erwinmombay commented on #5269
this is to remove the IE8 code paths in the polyfill that we import. I'll have to retest it again if its possible since we are upgrading to a new version soon

[2017-03-14 14:45] coreybyrnes commented on #8095
@lannka I'm not familiar with `attemptResize`. Did you intend to indicate `requestResize` or `attemptChangeSize` instead? I feel this update would be helpful for both of them.

@zhouyx Is there documentation somewhere on `attemptChangeSize`? Looks like parameters were added to support for margins. And just like `requestResize` I assume the width and height parameters are numeric and are automatica

[2017-03-14 15:30] taymonbeal opened #8120 "Post-reserialization mode for JavaScript validator"
AMP caches are advised, and Fast Fetch signing services are required, to reserialize AMP documents that they process. The output of such a reserialization process obeys a stricter set of requirements than the AMP specification, such as [HTML sanitization](https://developers.google.com/amp/cache/overview#html-sanitization); in addition, the output is not itself valid AMP. For purposes of integratio

[2017-03-14 15:41] dvoytenko opened #8121 "Cleanup visibility-v3 flag"

[2017-03-14 16:16] alanorozco commented on #7952
@dvoytenko From my understanding of this the problem isn't that a loading indicator is shown, but that the ad is displayed before the images are loaded, so the ad content could look "broken".

How can this be fixed by a specific A4A implementation?

[2017-03-14 16:18] dvoytenko commented on #7903
`amp-access` in PWA: #7780.

[2017-03-14 16:18] dvoytenko commented on #7780
I've scheduled it for Design Review tomorrow (#7903).

[2017-03-14 16:18] dvoytenko commented on #7780
@bjalford Please join if you can.

[2017-03-14 16:23] choumx commented on #7825
An update:
1. Binding to `expanded` mostly works. Getting it to 100% (ARIA attribute and saving state to sessionStorage) is tricky since the `amp-accordion` isn't informed when `amp-bind` mutates its children directly. `MutationObserver` would work but maybe there's a better pattern for these cases -- needs more thought.
2. Binding to `amp-sidebar` currently doesn't work since it's moved to the vi

[2017-03-14 16:23] bjalford opened #8122 "Dead link on amp experiments opt-in page for ad-type-custom"
1) Go here: https://cdn.ampproject.org/experiments.html
2) Click on ad-type-custom
3) Note 'Not found' at https://github.com/ampproject/amphtml/ads/custom.md

[2017-03-14 16:29] bjalford opened #8124 "Typos and broken link in readme for ads"
Here: https://github.com/ampproject/amphtml/blob/master/ads/README.md#1st-party-cookies
abiity -> ability

Here: https://github.com/ampproject/amphtml/blob/master/ads/README.md#optimizing-ad-performance
3p.js links to 404 here: https://github.com/ampproject/amphtml/blob/master/src/3p.js

[2017-03-14 16:43] ericlindley-g commented on #7825
Thanks for the breakdown—that plan sounds good to me

As a side note: part of the value of binding to amp-sidebar is that developers can customize the button that triggers the sidebar to look different whether the sidebar is closed (e.g. hamburger menu icon) or open (e.g. "X" button).  That's possible today by using CSS sibling selectors (so it's fine to be a P3), but binding would make it possibl

[2017-03-14 16:55] zhouyx commented on #8095
https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L761
documented here. And yes the parameters are numeric and has px as the unit.

[2017-03-14 16:59] keithwrightbos commented on #7952
Are we ok with the creative appearing blank (meaning the loading indicator
has been removed) until the resources in question are loaded?  If so,
ideally we would use an amp extension (e.g. amp-bind) to remove
visibility:hidden or similar CSS from the creative elements once load fires
on the amp-img elements in question.

Dima, by A4A implementation do you mean that the creative would somehow
messa

[2017-03-14 17:05] honeybadgerdontcare commented on #7730
@Gregable FYI

[2017-03-14 17:28] kmh287 commented on #8110
Hi @pearlwang1106 ,

Are you still getting this error after toggling the experiment near the top of the page?

[2017-03-14 17:32] dknecht commented on #8112
Looks like google cache just leaves it wherever it was originally.

[2017-03-14 17:35] honeybadgerdontcare commented on #8112
Yes, that is what we're currently doing. We'll move it to be before the AMP engine javascript, but after charset.

[2017-03-14 17:47] bradfrizzell commented on #8087
I will get this moving as fast as possible, but a heads up that I am at a conference this week, and then I am on vacation until 3/28. Not sure how much I'll get done on this before I get back. How badly is this blocking you?

[2017-03-14 17:49] muxin commented on #7845
According to @camelburrito, if there's no `controls` attribute in the `amp-carousel`, the arrows will only be shown for a short time for hinting purpose, indicating the carousel is swipable. Every time the carousel come into viewport, the arrows will show again for hinting, but will fade afterwards.

[2017-03-14 17:56] muxin commented on #7845
@aghassemi Are you saying the arrows reappear without swiped out and then in the viewport?

[2017-03-14 18:15] aghassemi commented on #7845
@muxin This issue is only about "**Desktop**". On desktop (where there is no swipe), next/prev should always be visible and should not fade away.

[2017-03-14 18:15] zhouyx commented on #6464
Working on this.

Update AMP validator to show errors when embedding amp-ad with multi-size attributes when placed as sticky ads

@jasti This is not very practical as as AmpAd we don't provide multi-size attributes. Those multi-size attributes are from third party ad networks, and they can name it to whatever they like. The best we can do here is to disallow resizing sticky ads to a larger dimensi

[2017-03-14 18:48] zhouyx commented on #8085
This is happens when you doesn't provide `overflow` element and runtime fails to increase an ads size. Warning from:
https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L1642

Can we remove the warning here? As what I see very few overflow elements are being used. We should also document the oveflowCallback better I guess @camelburrito @dvoytenko

[2017-03-14 18:54] jasti commented on #6464
Not permitting resize on sticky ads makes sense. Thanks.

[2017-03-14 18:57] erwinmombay opened #8129 "make it so that we don't need `declareExtension` unless using non default params"
i always forget to add the entry...

cc @cramforce if this is a good idea or if im missing something if this isn't feasible

[2017-03-14 19:26] jridgewell commented on #8085
to @bpaduch to document the overflow element.

[2017-03-14 19:35] aghassemi commented on #8018
/cc @bpaduch

[2017-03-14 19:44] jridgewell commented on #8110
This is a cookie setting error with `toggleExperiment`. If you already have a cookie `AMP_EXP` with domain `ampbyexample.com`, it will create a new cookie (enabling amp-bind) using the domain `.ampbyexample.com`. But that's less specific, so we still get the old cookie without the experiment enabled.

[2017-03-14 19:55] jridgewell commented on #8120
Wouldn't this be easier as a set of fixtures to test on? I.e. a set of input docs with the proper outputs to verify conformance?

[2017-03-14 19:57] #7962 closed

[2017-03-14 19:57] aghassemi commented on #8114
/to @dvoytenko
/cc @rudygalfi

[2017-03-14 20:18] honeybadgerdontcare opened #8132 "Variable substitution for whitelisted origins is not documented."
Issue #6141 brought this up and it was committed in #7344. This still needs to be documented as the only documentation right now is the issue itself.

Whitelisted origins are achieved by adding a meta tag like this: `<meta name='amp-link-variable-allowed-origin' content='https://www.othersite.org https://www.yetanothersite.com'>`

[2017-03-14 21:02] ericlindley-g commented on #8040
Thanks for the feature request, @plegner !

Would be interesting to have some kind of date/time component to show the specific, current time (or elapsed time * since * a certain time). Might also be interesting to specify ranges of dates to display text, rather than date ("Just now" for items updated in the last 30 seconds, for instance).

One complication would be getting the formats and actual t

[2017-03-14 21:05] #8091 closed

[2017-03-14 21:35] cvializ commented on #6219
I have noticed a few things:

1. Current versions of Chrome, Safari and Firefox behave as expected when I attempt to reproduce with [an amp demo page](https://github.com/ampproject/amphtml/blob/master/examples/font.amp.html).

2. Some fonts fail in IE11 with an error `CSS3114: @font-face failed OpenType embedding permission Check. Permission must be Installable.` Specifically, the `Tangerine_Regul

[2017-03-14 21:51] Gregable commented on #8120
@taymonbeal , I could implement such as { return true; }. It would help to understand, what are the use cases we are trying to catch here (the return false cases we'd like to see)?

For example, one of the things that the cache does is add rtv values to all of the javascript files. This means that the validation pass would either need to allow any rtv value, thus being less strict than possible, o

[2017-03-14 21:51] aghassemi commented on #8132
/cc @bpaduch

[2017-03-14 22:03] powdercloud opened #8136 "Ampprojectbot should consider the .protoascii and .out files owned by people working on the validator"
For the validator, we sync changes developed in Google's internal repo up into Github (we also sync the other direction sometimes, but that's not affected here). This is such a change:
https://github.com/ampproject/amphtml/pull/8134

Ampprojectbot assignes the .protoascii (validator specification files) and .out files (validator test files) to owners of the extensions. This means that getting such

[2017-03-14 22:07] aghassemi commented on #8097
/cc @jasti

[2017-03-14 22:09] aghassemi commented on #8084
@ericlindley-g @dvoytenko

[2017-03-14 22:14] choumx opened #8137 "amp-bind: Improve error handling for mutatedAttributesCallback"
/cc @jridgewell

[2017-03-14 22:23] aghassemi commented on #8076
@dangoldin external CSS is not something we are considering to support at this point. Aside from the extra network request which blocks rendering, we also need to validate the CSS and externally hosted CSS can change at anytime making validation much harder.

For development, assuming your build process can not be optimized further, one approach is doing development with invalid AMP HTML and havin

[2017-03-14 22:23] powdercloud commented on #8136
Sorry about the noise - I moved this to the appropriate repo:
https://github.com/google/github-owners-bot/issues/23

[2017-03-14 22:23] #8136 closed

[2017-03-14 22:24] #8076 closed

[2017-03-14 22:24] levidurfee commented on #8016
hi @ayumihamsaki , have you had time to try that jsbin?

[2017-03-14 22:35] aghassemi commented on #8071
Thanks @gustavopaes . We are working on providing more dynamic rendering functionalities such as https://github.com/ampproject/amphtml/issues/4191 and https://github.com/ampproject/amphtml/issues/7907.

However a single-item `amp-list`  can actually cover this as a work-around for now. As you noted, data still needs to be a JSON array with one item in it, but in practice you can render an arbitrar

[2017-03-14 22:35] #8071 closed

[2017-03-14 22:40] cramforce commented on #8129
I kind of think it is good to be explicit here. But can be convinced otherwise.

[2017-03-14 22:40] dangoldin commented on #8076
Yea - I figured as much and that is very close to my current development process but the final build ends up taking a few minutes which I would love to speed up.

Thanks for the response.

[2017-03-14 22:53] aghassemi commented on #8069
@dmarge123 Could you please provide a few more links to reproduce this? I have not been able to see the problem with the coffe-fshop-redesign article.
https://cdn.ampproject.org/c/s/www.dmarge.com/2017/03/coffee-shops-design-inspiration.html/amp
https://www.dmarge.com/2017/03/coffee-shops-design-inspiration.html/amp both looks the same.

[2017-03-14 22:54] aghassemi commented on #8069
I also recommend posting this on Automattic's repo as well in case they are aware of the cause and possible solutions.

[2017-03-14 22:55] Gregable commented on #7413
Fixed

[2017-03-14 22:55] #7413 closed

[2017-03-14 22:58] Gregable commented on #8104
Fixed in most recent validator rollup.

[2017-03-14 22:58] #8104 closed

[2017-03-14 22:58] aghassemi commented on #8065
@leonessaarnaldo https://validator.ampproject.org/ is another resource and I personally find the AMP's Chrome Extension ( https://chrome.google.com/webstore/detail/amp-validator/nmoffdblmcmgeicmolmhobpoocbbmknc?hl=en ) very useful as well for caching errors early on.

[2017-03-14 23:03] aghassemi commented on #7623
@MadisonMiner @ericlindley-g Google.com Viewer now also sets `allowpaymentrequest` on the iframe.

@MadisonMiner The iframe approach for web payments should now work, please let us know if you run into issues.

[2017-03-14 23:06] aghassemi commented on #8038
/cc @ericlindley-g

[2017-03-14 23:08] aghassemi commented on #8038
@sumodas We don't have a full-fledged `amp-payments` solution yet, but we do support Chrome's PaymentRequestAPI in an iframe. see https://github.com/ampproject/amphtml/issues/7623

[2017-03-14 23:08] aghassemi commented on #8038
related: #7691

[2017-03-14 23:09] src-code commented on #7379
@choumx Is the idea here to allow for mustache templates to render outside the context of a component like `amp-list`, or would it be to have a component like `amp-list` rely on state to render its templates rather than requiring an XHR?

[2017-03-14 23:15] aghassemi commented on #8035
Hi @rgembalik, we pushed the docs too early :) feature is coming in the next prod push (it is currently in Dev Channel). Look out for it sometime late this week or early next week!

[2017-03-14 23:15] #8035 closed

[2017-03-14 23:27] protonate commented on #8024
@jpettitt our thinking there was to communicate across iframes using postMessage so the Prebid <amp-embed-prebid> would contain the Prebid.js library and would hold the Prebid demand, and the <amp-ad-prebid> slots would have their targeting (e.g. Prebid auction winner keys) set via postMessage from the <amp-embed-prebid>.

Basically, the goal is to have the <amp-embed> serve the same purpose as re

[2017-03-14 23:28] erwinmombay commented on #8129
@cramforce possibly, maybe we should remove those declarations from the main gulpfile.js since its so cluttered in there

[2017-03-14 23:39] powdercloud opened #8141 "Validator should use Object.create(null) instead of {} for dictionaries."
See also:
http://stackoverflow.com/questions/15518328/creating-js-object-with-object-createnull

[2017-03-14 23:49] choumx commented on #7379
Something like the latter is the idea, though it may not involve `amp-list` specifically. Details haven't been decided yet.

[2017-03-15 00:00] jasti commented on #8024
It is up to the ad networks. DoubleClick is planning to retire support for non-A4A remote.html integration. A new design is under consideration but won't be ready for at least another quarter. Agree that it's prob best to focus on the A4A integration.

[2017-03-15 00:00] #8024 closed

[2017-03-15 00:44] cramforce commented on #8129
Moving to dedicated file seems like a great idea.

On Tue, Mar 14, 2017 at 4:28 PM, erwin mombay <notifications@github.com>
wrote:

[2017-03-15 01:04] Jeiwan commented on #8114
Regarding the 'Category: Analytics' tag, the issue is more about `amp-form`, there's nothing to modify in `amp-analytics` extension. Actually I already have this feature implemented, the main change is in the `submit_` function: https://github.com/Jeiwan/amphtml/blob/formsubmit_analytics/extensions/amp-form/0.1/amp-form.js#L278

[2017-03-15 03:11] tori3 commented on #7670
I tried debug. but I do not know the cause...

In iOS 10.3 beta, the callback of ```vsync.mutate``` is not called and the flag of snappingInProgress_ is not changed, and seems that ```updateOnScroll_``` is repeatedly executed in 35 msec.

https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/slidescroll.js#L458

Maybe in vsync it seems that the problem is related to bug of

[2017-03-15 03:17] arunnayak opened #8144 "amp-instagram render scrollbar if the post is not square"
amp-Instagram render scrollbar if the post is not square

<amp-instagram
    data-shortcode="fBwFP"
    width="800"
    height="800"
    layout="responsive">
</amp-instagram>

when the Instagram post is not square, the scrollbar appears.
this is working fine with the posts which are square (1x1 )
is there any workaround to remove that scroll bar?

![capture](https://cloud.githubusercontent.com/ass

[2017-03-15 04:51] ericlindley-g commented on #7623
Quick update—I don't think the validation for this is in. Should we leave this open until that gets updated?

[2017-03-15 05:22] lannka commented on #8089
@keithwrightbos the right way to get a master frame is to call
[code]
inside the iframe window.

[2017-03-15 07:00] Asazos1978 opened #8147 "Hyperlink for subcode website"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-03-15 07:01] Asazos1978 commented on #8147
Needs impact improvements

[2017-03-15 08:13] rgembalik commented on #8035
Thank you very much for the information. I am looking forward to this update.
Cheers!

[2017-03-15 10:22] eduardcotmrf opened #8149 "AMP forces sticky element to use top CSS property"
AMP forces my sticky element to be 'top: calc(0px)'.

To reproduce:

1. create an element with the next css:
{
  position:sticky;
  bottom:0;
}

2. When I render in the browser AMP has added a top property to my element:

![screen shot 2017-03-15 at 11 24 16](https://cloud.githubusercontent.com/assets/23262331/23944095/f7f9b7ac-0971-11e7-8d8b-c0f3396ccb8b.png)

I understant that this behaviour is

[2017-03-15 10:25] keithwrightbos commented on #8089
I realize that and I do get a window object in that case.  The problem is that every slot thinks its the master window because the underlying method in which master is assigned to context as mentioned in the description throws a DOMException.  As a result, my attempts to store state across slots using window does not work.

[2017-03-15 10:34] taymonbeal commented on #8120
My immediate use case is black-box functional testing of Google's ad serving systems; I'd like to determine whether an ad is valid post-reserialization AMP HTML just by analyzing the HTML (and this is in a context where I can run JavaScript). In future, I anticipate this being used to verify that signing services are obeying their behavioral requirements, both by developers of those signing servic

[2017-03-15 10:42] molnarg opened #8150 "amp-live-list examples are not working"
## Short description of your issue:

The examples linked from https://github.com/ampproject/amphtml/blob/master/extensions/amp-live-list/amp-live-list.md are not working.

## How do we reproduce the issue?

Visit any of the following two demos:
- https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-live-list%2Fsource%2F
- https://ampbyexample.com/playground/#u

[2017-03-15 11:17] michaelkleber commented on #8089
The technique used to make a frame into the master frame seems completely bogus to me: at
https://github.com/ampproject/amphtml/blob/master/3p/integration.js#L371
the window renames itself to the master name (comment: "Yaihh."), but that will have no effect on what its name looks like when inspected from the window.parent's point of view.

That's why we get the DOM exception error that Keith menti

[2017-03-15 11:29] keithwrightbos commented on #8089
Agreed.  Fix is to not rely on name and instead iterate through the frames finding any that are friendly and assigning a variable (e.g. amp_master = true).  @lannka do you have bandwidth to work on this?  If not, I can assign to someone on my team.

[2017-03-15 13:15] jasti commented on #8097
@coreybyrnes requestResize is available even when the ad is away from the viewport, but obviously won't succeed all the time.
@jridgewell This seems reasonable - any chance to center align and fit the creative regardless of actual size?

[2017-03-15 13:30] coreybyrnes commented on #8097
@jasti But doesn't `requestResize` require user interaction in order to execute? In order for an ad image to be centered when served inside the flying-carpet container the resize would have to occur upon load.

[2017-03-15 15:50] bpaduch commented on #5276
@alanorozco  - Is this component still "in development"?  I tried to use it but the JS wasn't on the CDN.

[2017-03-15 15:55] erwinmombay commented on #8150
@kul3r4 @sebastianbenz did anything change recently? I'll investigate if needed

[2017-03-15 15:58] aghassemi commented on #8144
@arunnayak  what `width` and `height` values are you using for the embed?  These should be the actual width and height of the Instagram **_image_**

[2017-03-15 16:01] aghassemi commented on #8147
@Asazos1978 Not sure what this issue it. Please file with more details in you have bug/feature requests or just a question for the AMP team.

[2017-03-15 16:01] #8147 closed

[2017-03-15 16:02] aghassemi commented on #8149
/to @dvoytenko

[2017-03-15 16:15] sebastianbenz commented on #8150
The actual samples work: https://ampbyexample.com/components/amp-live-list/

However, they don't work in the playground - problem is that the embedded playground document has a different URL than the actual one. I've created: https://github.com/ampproject/amp-by-example/issues/699 to track this for ampbyexample.

[2017-03-15 16:20] erwinmombay commented on #8150
ah that makes sense. i believe we have had requests to be able to declare specific url endpoints. I'll have to do some research on feasibility on this when i get a chance.

cc @ericlindley-g

[2017-03-15 16:22] sebastianbenz commented on #8150
That would totally fix our problem. :-)

On Wed, Mar 15, 2017 at 4:20 PM erwin mombay <notifications@github.com>
wrote:

[2017-03-15 16:25] erwinmombay commented on #8150
its going to be very unlikely currently with the way amp-live-list is designed, since we wouldn't have the invariant of that url endpoint returning a valid AMP document. but I'll start making discussions on these requests

[2017-03-15 16:42] lannka commented on #8089
it should be working. can you try go to one of the iframe window, and do `window.context.master`. then go to other iframe with the same domain, and compare
`window.context.master.name` with `window.name`.

`window.context.master.name` should give you 'frame_doubleclick_master' and `window.name` should give you the original json object.

[2017-03-15 16:46] ankit4794 opened #8155 "Access-Control-Allow-Origin"
No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://cdn.ampproject.org' is therefore not allowed access. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

how to solve this error?

[2017-03-15 17:13] jridgewell commented on #3434
- [x] PositionObserver/IntersectionObserver 
- [ ] Split Resources into Layers/Resources 
- [ ] Integrate Layers with PosOb 
    - Send scroll/resize ticks 
- [ ] Update distance calculations 
- [ ] Allow Elements to declare Layers 
- [ ] Update Elements  by removing old Owners code 

[2017-03-15 17:13] adelinamart opened #8157 "Split Resources into Layers/Resources"
Work related to #3434

[2017-03-15 17:14] adelinamart opened #8158 "Integrate Layers with PosOb "
Work related to #3434

[2017-03-15 17:41] aghassemi commented on #8155
@ankit4794 https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md has  detailed documentation on what you need to do on your endpoints to allow CORS requests from AMP. Please take a look and let us know if you still have questions.

Thanks!

[2017-03-15 17:43] coreybyrnes commented on #8095
@zhouyx Thanks for the link. I'd like to try it out, but I'll need to pass the <amp-ad> as the element (first param of `attemptChangeSize`). Is there a way to reference that from within a DFP ad? I can't _get_ it because of js security issues. Perhaps it can be referenced as a part of _window.parent.context_?

[2017-03-15 17:44] Gregable commented on #8120
To check, this sounds like you don't intend this code to be generally available to a publisher for instance? My point wouldn't be that it would be closed-source or anything, just that it need not be easy-to-use in all contexts like the current validator. For example, making a network request to determine from ampproject.org the current RTV value might be reasonable.

Another issue, I think a large

[2017-03-15 17:49] dknecht commented on #8120
I think we are fine saying the RTV is (latest - 1) to give some flexibility in deployment requirements.

[2017-03-15 17:55] choumx opened #8159 "amp-bind: URL attributes not sanitized on Closure build"
Cause: [`bind-validator.js#URL_PROPERTIES`](https://github.com/ampproject/amphtml/blob/4d2ef9077f328da2452df2fd9cdaafb62590916d/extensions/amp-bind/0.1/bind-validator.js#L52-L56) is being compiled to an empty object in the Closure build.

Need to figure out why our unit/integration tests didn't catch this.

/cc @kmh287 @Gregable

[2017-03-15 17:59] alanorozco commented on #7623
There's also #7701 tracking this, but I think we should keep this open since *technically* we don't really allow the attribute until the validator has been updated on production.

[2017-03-15 18:20] taymonbeal commented on #8120
Correct, publishers are not the target audience; the target audience is AMP caches, Fast Fetch signing services, and people doing ecosystem-audit-ish things, all of whom should be technically sophisticated enough to work with GitHub. A network request would be fine.

For my immediate use case, I won't have a pre-serialization document to compare to, so that provision would need to be optional (the

[2017-03-15 18:41] alanorozco commented on #5276
@bpaduch Will update documentation once the component has made it into production, possibly within a couple of weeks :) Thanks.

[2017-03-15 18:57] choumx commented on #8159
Looks like Closure will remove contents of object literals if the object is never accessed via bracket syntax -- using `hasOwnProperty` doesn't suffice. I.e.
[code]

`test-bind-integration.js` didn't catch this since the `amp-bind` component is [installed manually in the test](https://github.com/ampproject/amphtml/blob/4d2ef9077f328da2452df2fd9cdaafb62590916d/extensions/amp-bind/0.1/test/test-bind

[2017-03-15 19:00] mrjoro commented on #8122
Fixed in #8125.

[2017-03-15 19:00] #8122 closed

[2017-03-15 19:12] jridgewell commented on #8097
`requestResize` has [several factors](https://github.com/ampproject/amphtml/blob/master/ads/README.md#ad-resizing) that determine whether it will succeed.

1. Whether user interacted with ad (this always succeeds)
2. Ad position in relation to viewport (we don't resize things in the viewport)
3. Scroll speed (for ads that are above viewport)

We actually wanted to include a special exception for `

[2017-03-15 19:16] jridgewell commented on #8095
@coreybyrnes: Ads only have access to `window.context.requestResize(width, height)`. `#attemptChangeSize` is _only_ available to the AMP runtime (`requestResize` uses it internally).

[2017-03-15 19:19] coreybyrnes commented on #8095
@jridgewell Good to know - thanks.

So can the original request to allow units be a part of the `requestResize` continue?

[2017-03-15 19:19] jpettitt commented on #8006
The reason to not do `amp-iframe` are sandboxing, not reloading the runtime and the load delay.  Although I could put an amp page in an `amp-iframe` it wouldn't get us the same CID, analytics substitutions etc.  Perhaps allow un-sandboxed iframes if the iframe url is a recognized amp cdn? (need to think that one through).

Example of something I can't do with an iframe:  launch an amp lightbox tha

[2017-03-15 19:22] jridgewell commented on #8110
Unfortunately, there's not a good solution to this. Cookies are kind of a shitty system made standard. And browsers each behave differently when updating, so there's no way to know which of the duplicate cookies is the "most updated".

This (`toggleExperiment`) is such a little used feature, I'm tempted to close as a cantfix. You can manually fix by deleting the `AMP_EXP` cookie in your browser. D

[2017-03-15 19:29] jpettitt commented on #7979
This is a hard one to solve, particularly as amp caches proliferate.  If I were making an evil bot I'd distribute it's reads across all the amp caches since they can all serve the same content.  This makes it really hard to prevent scraping if the entity doing it has a good browser emulation.

Adding black/white lists would be a nightmare to manage, and be very brittle and error prone.

For securi

[2017-03-15 19:30] coreybyrnes commented on #8097
@jridgewell Unfortunately `requestResize` doesn't allow me to set 100vw and 100vh for the size (hopefully will get implemented in #8095). And I can't find a way to obtain the exact viewport dimensions so I can use a px value when trying to call `requestResize`. Just to see if the resize will be successful I will try to call `requestResize` with some crazy large number like 3000,3000. But without s

[2017-03-15 19:45] jridgewell commented on #8097
You can use `window.innerWidth` and `window.innerHeight` instead. Those return pixel numbers, which is what `requestResize` expects.

#8085. 😬

Bascially, we allow you to specify an overflow element that is only shown when a resize request is shown. When they click it, the resize will pass the "interaction" rule and will resize.

[code]

[2017-03-15 19:48] jridgewell commented on #8097
Ha, but `innerWidth` and `innerHeight` don't help here, because the iframe is already 1000x1600 px. Maybe @dvoytenko knows the right DOM API?

[2017-03-15 19:48] coreybyrnes commented on #8097
@jridgewell But from within a DFP ad the `window.innerWidth` and `window.innerHeight` will simply return the size of the iframe which is the size of the ad slot.

[2017-03-15 19:50] jridgewell commented on #7903
Can we discuss https://github.com/ampproject/amphtml/issues/8095?

[2017-03-15 20:10] cramforce commented on #8110
This is a little unfortunate.
@sebastianbenz This may affects some of your most loyal users, but would also take a while to fix.

@pearlwang1106 Were you able to unbreak yourself? You can delete the `AMP_EXP` cookie with Chrome DevTools.

[2017-03-15 20:51] coreybyrnes commented on #8095
I think being able to specify a unit other than the assumed `px` is still a valid request so IMHO this should be reopened for further conversation.

As for the proposed solution, if the ad size needs to match the width and height attributes in the <amp-ad> tag there is no way to get a creative to serve because there's no "100vw x 100vh" ad size option in DFP.

[2017-03-15 20:57] lannka commented on #8095
@coreybyrnes we think it should be publisher's control to decide the width of the ad. If pub puts ad in a small fixed width, ad should not enlarge itself to full viewport width which may lead to an overflow.

Can you give example why this is necessary?

[2017-03-15 20:59] jridgewell commented on #8097
/cc @jasti

[2017-03-15 21:01] coreybyrnes commented on #8095
The issue I'm trying to solve for is #8097. There is no way to horizontally & vertically center the image asset served in a DFP ad if the image is larger than the ad size and therefore the ad container (since the ad size determines the width & height of the container).

[2017-03-15 21:09] rudygalfi commented on #7983
/cc @avimehta to advise here.

[2017-03-15 21:27] dvoytenko opened #8167 "Measurement and render of placeholders is triggered too early"
Related to #7815.

Placeholder is sized by the parent. However, if the parent is not stubbed yet, it won't have necessary CSS to allow placeholder to layout correctly. Thus, the placeholder must wait for parent to be stubbed. Stubbing itself happens very quickly, but currently there are risk conditions that allow for placeholder to be measured and rendered before stubbing is done.

[2017-03-15 22:17] jridgewell commented on #8097
Speaking with @jasti, there's no way to specify 100vw and have an ad server know what width that means. Which means a lot of them fail to fill the request. I hate ad servers.

[2017-03-15 22:18] jridgewell commented on #8095
Reopening due to https://github.com/ampproject/amphtml/issues/8097#issuecomment-286897296. Ad servers only understand absolute pixels, which means you have to use `width="320" height="100"`.

[2017-03-15 22:20] #8155 closed

[2017-03-15 22:20] dvoytenko commented on #8097
I think the best option is to give the ad the full available width. The iframe's window will have the right width then (`window.innerWidth`). Then the Ad can serve the desired size and ad can request resize, which will be to the smaller size. Once updated to the smaller size, the ad can be centered in the flying carpet via flexbox CSS.

[2017-03-15 22:29] #8167 closed

[2017-03-15 22:33] coreybyrnes commented on #8097
@dvoytenko And since we need we'd need the image to be centered vertically in addition to horizontally we'd need the `amp-ad` tag to have the full height. Please see my demo url in the first comment to reproduce the issue.

[2017-03-15 22:33] dvoytenko commented on #7789
From Design Review: I think latency time-based metrics are the best. I think we can start with two elements: `amp-img` and `amp-ad`.

We should also try to get as close to the per-element reporting. We can always restrict upper-bound.

We should find a way to minimally address flushing at this time, e.g. via debounce. We should further address batching/flushing on the viewers side.

[2017-03-15 22:40] src-code commented on #7379
I'd love to see this happen, especially for the commenting use case.  Seems like it'd be really powerful to be able to update a small piece of state after a form submission, and then use that local state to re-render the template without requiring a re-fetch of the whole data set.

[2017-03-15 22:41] jridgewell commented on #8114
Yup, I think this goes to @aghassemi to implement.

[2017-03-15 22:54] jasti commented on #8006
CC @dvoytenko

[2017-03-15 23:04] jridgewell commented on #8089
I just tested this on https://cdn.ampproject.org/c/s/mobile.nytimes.com/2017/03/15/us/politics/budget-epa-state-department-cuts.amp.html by (scrolling down, so all ads load) changing the context to the master ad (it's name is a crazy `{"host":"d-964447504926939108.ampproject` in Dev Tools). Change some property, `window.test = 'testing'`. Go into the next ad context, check the value: `context.mast

[2017-03-15 23:06] choumx opened #8171 "amp-bind: Consolidate integration tests"
To make our integration tests more efficient:

- Each component should be a single unit test
- Split fixture into multiple pages under a single `bind` directory which would avoid scanning unnecessary elements

/to @kmh287

[2017-03-15 23:14] rudygalfi commented on #2691
Any updates?

[2017-03-15 23:33] rudygalfi commented on #7340
Is this waiting on anything or is it fully released? If fully released, then the documentation page should be updated to stable (currently says in development).

[2017-03-15 23:35] aghassemi commented on #8114
@Jeiwan Would you be interested in submitting a PR for this given you have already made the effort to implement it? We would love to have external contributors work on core features like this.

[2017-03-15 23:35] lannka commented on #8087
@bradfrizzell no worry, I will take care of it

[2017-03-15 23:45] lannka commented on #7651
Talked to ActiveView team. We will keep the "hidden" trigger functionality. As @dvoytenko proposed, we might change the syntax of the spec to reduce confusion.

[2017-03-15 23:46] alanorozco commented on #7340
@rudygalfi Not yet released. Will update once that happens.

[2017-03-15 23:47] arunnayak commented on #8144
@aghassemi that widget is added from cms, we're using one amp-instagram partial to render all the instgram widget through the cms.

this is an issue only when the post (image) is not square.
diff post will have diff image sizes, therefore the 1x1 ratio doesn't work or vise verse.

[2017-03-16 00:02] aghassemi commented on #8144
@arunnayak so do you know what `width` and `height` values the CMS is adding to the `<amp-instagram>` component it creates? Cause that matters, if CMS is blindly putting `width=1` and `height=1` , it won't work for non-square images as you mentioned.

[2017-03-16 00:07] jridgewell commented on #8097
@dvoytenko Are you saying we should do centering logic in the AMP doc instead of inside the ad creative?

[2017-03-16 00:13] erwinmombay commented on #7340
@alanorozco make sure @aghassemi gets your PR fix in

[2017-03-16 00:59] dandv commented on #2691
Sorry, been bogged down with other work. I'll get back to this next week.

[2017-03-16 01:48] levidurfee commented on #829
Hey guys, is this up for grabs? If so, I would like to give it a shot :)

[2017-03-16 01:49] Jeiwan commented on #8114
Yes, I'll submit a PR tomorrow.

[2017-03-16 01:59] pbakaus commented on #829
Go for it!

On Thu, Mar 16, 2017, 12:48 PM Levi Durfee <notifications@github.com> wrote:

[2017-03-16 02:02] ericlindley-g commented on #8084
Thanks for reaching out,  @mpatnode-si

At a page level, I think you could get the result you're looking for by creating separate canonical pages and separate AMP pages for each language, and using hreflang to indicate which version is appropriate for each locale. (This avoids the user experience cost of having a redirect)

We're looking into methods for geo-variation that could apply to more loca

[2017-03-16 02:13] pearlwang1106 commented on #8110
The error still exits when i deleted  the `AMP_EXP` cookie and refreshed the page:
![image](https://cloud.githubusercontent.com/assets/22272732/23978583/d2ecb19e-0a2f-11e7-8829-65a0bcf4eb31.png)

[2017-03-16 03:46] cramforce commented on #8110
@pearlwang1106 Sorry about that. You now need to press the "Enable experiment" button again.

Let me know if that works!

[2017-03-16 04:45] pearlwang1106 commented on #8110
Thx, it works!

[2017-03-16 08:52] 1987yama3 commented on #5761
Good!

However, you should match the definition to a strict clientID in Google Analytics.
In Google Analytics, the cookie is saved in the format of "GAa.b-c.dddddd.eeeee".
(the lower case letters of the alphabet are actually numbers. Besides, "-c" is mostly omitted.)

"GAa.b-c." is not strictly a client ID, but metadata when saving to a cookie.

Therefore, after retrieving the value from the cooki

[2017-03-16 10:22] keithwrightbos commented on #8089
Interesting.  It does appear to work when I test now on production pages as mentioned though I'm not sure why.
@michaelkleber Thoughts?

[2017-03-16 10:32] piotrwojtkowiakmrf opened #8177 "amp-ad-3p integration test fails locally"
Hey,

It seems that some tests are not perfectly isolated from each other, and because of that we're getting a lot of errors in CI and in the local environment when running `gulp test`.
Can we block PR if tests are failing? This could prevent the master branch from continuously failing in CI, and it would give us more reliable test results.

Thanks,
Piotr

[2017-03-16 10:43] michaelkleber commented on #8089
You're right, I do see this working on Chrome!  I'm astonished to see window.name as a two-way communications channel.

But not on iOS, as far as I can tell (though inspecting the state of cross-domain iframes on Safari isn't working ideally for me).  Are there any automated tests indicating that this works across browsers?

[2017-03-16 11:39] devanes commented on #6054
This kind of way to load more results seems to be very effective in terms of UX. See for example here:
https://www.smashingmagazine.com/2016/03/pagination-infinite-scrolling-load-more-buttons/
So it would be nice if there is or will be a way to make this work.

[2017-03-16 14:45] lannka commented on #7830
#7992 is fixed.
we discussed about #7971, we will revisit once we have our LayerManager infrastructure in place.
I'll verify if this is fixed for inabox, and update this thread.

[2017-03-16 14:48] vitaliybl commented on #7979
One more thing before I forge: @dvoytenko , Google AMP Cache itself does not obey robots.txt because it acts on behalf of a user.

[2017-03-16 15:20] devanes commented on #6054
I have gotten it to work with nested accordions. The first amp-list calls a template. The json contains only one item, with the actual array of results being a value of this single item. That allows me to use a template for the amp-list which first displays the array of results (from the single item) using section format and then contains an accordion with a second amp-list call which uses a recur

[2017-03-16 15:41] aghassemi commented on #8177
Hi @piotrwojtkowiakmrf

Our presubmit process for PR does run `gulp test` before allowing them to merge. Reason `master` is sometimes red is that master runs the tests in many more browsers using SauceLabs than the PR does and sometimes tests that are not compatible with older browsers get in.

How are you running the tests in your CI? I recommend the same setup as our CI:
[code]

That being said,

[2017-03-16 16:05] aghassemi commented on #7340
@alanorozco @erwinmombay Saw it merged. Will make it to Canary

[2017-03-16 16:08] lannka commented on #7830
To confirm, `:root` selector works in inabox now. I improved the example for a thorough test #8180.
Found a minor issue: there is some URL vars missing, such as `elementX`, `elementY` will file a separate issue to track.

[2017-03-16 16:24] mpatnode-si commented on #8084
@ericlindley-g That is what we do today, but in order to help our partner's business to be viable, we also redirect when links are shared on Social Media or elsewhere.   If the post is in the same language, but has been localized to your geography, we redirect you to the local provider of our services.   I can understand your reluctance to allow redirects, but it's a subtle way in which AMP underm

[2017-03-16 16:59] chenshay opened #8182 "amp-viewer-integration webview messages are passed as strings"
webview messages are passed as strings and this needs to be supported in the amp-viewer-integration

[2017-03-16 17:13] mrjoro opened #8183 "Move documentation about how owners works out of GOVERNANCE"
Followup from github-owners-bot issue (https://github.com/google/github-owners-bot/issues/26), we should move the owners portion out of GOVERNANCE into its own doc in contributing/

cc @erwinmombay @cramforce

[2017-03-16 17:20] #8182 closed

[2017-03-16 17:20] lannka commented on #8089
@michaelkleber indeed :-). but the two-way communication is for same origin frames, so it's just an easier API instead of writing a loop as @keithwrightbos has suggested.

We don't have good functional tests for it yet. To test it really quick, I can try to create a concept-prove example for Safari.

Also,  + @nekodo (the original author). Do you have idea about browser compatibility of this techn

[2017-03-16 17:46] rjvelicaria commented on #7937
Are new implementations de-prioritized for the moment?
Just wondering why there's no one looking into this.

[2017-03-16 17:50] erwinmombay commented on #7937
friendly ping for @lannka and @jasti

@rjvelicaria apologies, with the first amp conference happening last week everybody schedule has just been backed up.

[2017-03-16 17:58] rjvelicaria commented on #7937
I see.  Thanks for the info, @erwinmombay !

[2017-03-16 18:23] aghassemi opened #8187 "Remove "amp-form-var-sub": 1, "amp-form-var-sub-for-post": 1, "link-url-replace": 1 from config files on March 31"
see https://github.com/ampproject/amphtml/pull/8186

[2017-03-16 18:24] taleksey commented on #6150
I have question can I run reCapture in amp-iframe?

[2017-03-16 18:34] aghassemi opened #8188 "Create a presubmit to catch experiment cleanup mishaps"
When cleaning up an experiment, the flag removals from the config files should happen up to 2 weeks after  the code clean up (the code needs to be in production before flags are removed).

One simple presubmit could ensure any PR with changes `*-config.json` ONLY includes changes to `*-config.json` and no other code file changes, with a warning explaining that code needs to make it to prod before

[2017-03-16 19:22] jridgewell commented on #8110
Assigning this to @sebastianbenz then.

[2017-03-16 19:42] nickmoline commented on #6150
@taleksey yes, but you'd have to put the whole form inside the iframe as there would be no way for the results of the captcha validation to bubble out of the iframe to the source document

[2017-03-16 19:43] mrjoro opened #8190 "Design Review 2017-03-22"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-03-16 19:44] mrjoro opened #8191 "Design Review 2017-03-29"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-03-16 19:45] #7903 closed

[2017-03-16 19:46] mrjoro commented on #8191
@honeybadgerdontcare and @dvoytenko are tentatively scheduled to talk about server-side rendering

[2017-03-16 19:56] mrjoro opened #8193 "Design Review 2017-04-05"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-03-16 19:57] mrjoro commented on #8193
@honeybadgerdontcare and @dvoytenko are tentatively scheduled to talk about server-side rendering

[2017-03-16 19:58] dvoytenko commented on #7952
@alanorozco

This is not any different from what we do for normal AMP docs: we have some blocking rules, but overall we show it as soon as we can. I think typically the problem shows with animations: when animations start even before all images have been loaded. This problem we can solve on the animation level.

@keithwrightbos

Ideally we wouldn't do this and would rely on existing rules for show

[2017-03-16 20:01] alanorozco commented on #7952
@dvoytenko

True, but I believe this also applies to cases without animation (e.g. overlaying text or buttons on an image that hasn't been loaded yet).

[2017-03-16 20:16] sebastianbenz commented on #8110
When is the AMP_EXP cookie set without the dot at the beginning?

[2017-03-16 20:25] choumx commented on #8171
Closing to reopen this as a GFI.

[2017-03-16 20:25] #8171 closed

[2017-03-16 20:29] cramforce commented on #8183
Yes, maybe we can also have a succinct version in GOVERNANCE and a doc focused on how to use it in the contributing docs.

[2017-03-16 20:30] jridgewell commented on #8110
It's the old style, before we moved to CURLS. Everything is now set with the dot.

[2017-03-16 20:30] cramforce commented on #8110
It used to be set without a domain. Now the domain is set explicitly. The dot is added by Chrome for "visualization purposes", because the actual cookie syntax is crazy.

Unfortunately people who had the old cookie get to keep both, because they are technically different.

[2017-03-16 20:31] muxin opened #8195 "Clean up experiment flag for slidescroll-disable-css-snap"
This is a tracking issue for cleaning up `slidescroll-disable-css-snap` experiment.

[2017-03-16 20:41] sebastianbenz commented on #8110
aah - now 'most loyal users' makes sense as well. Thanks for the explanation. I'd say 'Won't fix' for now - if this happens more often we can add a fix in the toggle experiment action. I don't have permission to change the bug status, so someone else needs to do it...

[2017-03-16 20:43] #8110 closed

[2017-03-16 20:52] dvoytenko commented on #8085
Let's document. But let's not remove yet. I'd actually rather make it a user (or expected) error and monitor from our error logs how often this happens.

[2017-03-16 21:06] choumx opened #8197 "amp-bind: Speed up integration tests"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
AMP's [test suite](https://github.com/ampproject/amphtml/blob/master/contributin

[2017-03-16 21:08] jpettitt commented on #8144
The instagram iframe messages its parent with a small json payload `"{"type":"MEASURE","details":{"height":528}}"` asking to be resized.  How hard would it be to make amp-instagram listen for that and do the right thing? (if somebody can point me to an example amp extension that receives messages I'll add it to `amp-instagram` and do a pr).

[2017-03-16 21:13] aghassemi commented on #8144
@jpettitt It already does (https://github.com/ampproject/amphtml/pull/7705). This change just went to prod few hours ago.

[2017-03-16 21:15] jasti opened #8199 "amp-ad: Make viewport distance for prefer-viewability-over-views configurable"
Currently, the `data-loading-strategy` option for `prefer-viewability-over-views` by default loads the ads only within 1.25 viewports of the current viewport. If publishers want to, we should allow this number to be configurable so publishers can make ads load more eagerly or lazily.
CC @cramforce

[2017-03-16 21:21] jridgewell commented on #8199
https://github.com/ampproject/amphtml/pull/3113

[2017-03-16 21:21] jasti commented on #8199
It's worth thinking through if we still want to call it `prefer-viewability-over-views` cause if the viewport height < 1.25, it's the other way around or we could ensure that the configuration can only make it lazier. Think I'd prefer that.

[2017-03-16 21:29] jasti commented on #8199
@jridgewell I remember this one. Do you want to take this on next sprint since you already have a head start? Think we should make the config to be strictly > 1.25. Will need a doc update - feel free to make it or let me know.

[2017-03-16 21:30] taymonbeal commented on #8017
Thanks for letting me know about this. That said, I'd prefer if there were an API that didn't require me to catch the rejected promise. Closure doesn't type-check rejection values, and while it's unlikely that it would have a `response` field that's the wrong type at runtime, I'd rather have compile-time type safety.

[2017-03-16 21:31] jpettitt commented on #8199
Can we have it accept a float > 1.0 eg `data-loading-strategy="1.8"`

[2017-03-16 21:40] choumx commented on #8159
Fixed by PRs above.

[2017-03-16 21:40] #8159 closed

[2017-03-16 21:42] lannka commented on #7903
We also discussed #7789

[2017-03-16 21:50] jridgewell commented on #8199
Default is `3` viewports, so I think that'd be the max.

/to @zhouyx

[2017-03-16 21:54] dvoytenko commented on #8149
Definitely sounds like a bug. I will investigate. `top: auto` is relatively hard to detect, but I thought we had that covered.

[2017-03-16 22:08] alanorozco commented on #6150
@nickmoline

I agree that it's ideal to support a generic CAPTCHA component. reCAPTCHA is in wide use and also has a different API than [the one you mentioned here](https://github.com/ampproject/amphtml/issues/2273#issuecomment-286198296), so they definitely have to be treated as two different FRs and not one as a subset of the other.

[2017-03-16 22:10] sreenidhipm commented on #8197
I'll work on this!

[2017-03-16 22:12] cramforce commented on #8199
I think the right min value is 0 (meaning: Do not render unless visible).

Agree on 3 (default) for max, unless anyone has a very good argument otherwise.

[2017-03-16 22:17] lannka opened #8201 "Empty analytics vars when :root selector is in use for inabox"
TODO:

- [x] Redefine how `:root` selector layout rect is determined
- [x] Support `elementWidth` and `elementHeight`
- [x] Support `elementX` and `elementY`

From #7830

As shown below, `:root` selector is missing vars for:
- `elementX`
- `elementY`
- `elementWidth`
- `elementHeight`

`:root` selector
[code]

Other selector
[code]

[2017-03-16 22:18] dvoytenko commented on #8097
@jridgewell I don't think creative itself can do that very well. I'm wondering if we can find a way for flying carpet component to do the right thing naturally.

[2017-03-16 22:21] keithwrightbos commented on #8089
Tested on Safari on my Mac and it does look like name works as is.  I recommend we try using the context.master as is and can re-open as needed.

[2017-03-16 22:21] #8089 closed

[2017-03-16 22:22] lannka commented on #8089
Thanks for verifying.

[2017-03-16 22:36] zhouyx opened #8202 "Extension Analytics V1"
This is a tracker issue for #6417

- [x] insert `<amp-analytics>` for extension
- [x] Limit support for certain eventType (#8389)
- [x] Apply replacement on selector/selectorMethod of the config (#8389)
- [x] Allow extension to load analytics extension
- [ ] Refactor customEventTracker. Change it from mapping an eventType to observer, to mapping an [eventType and extension] to observer (#8304)
- [

[2017-03-16 22:38] nickmoline commented on #6150
@alanorozco I would agree, unless you go with a method like `amp-analytics` where you can define a configuration on a per provider

[2017-03-16 22:46] alanorozco commented on #7840
https://github.com/ampproject/amp-by-example/pull/702

[2017-03-16 22:53] muxin opened #8204 "Local test failure for amp-ad-network-doubleclick-impl"
[code]

Only seeing these in local build.

/to @lannka for retriaging

[2017-03-16 23:03] muxin commented on #7970
Closing this feature request since it's difficult to implement.

[2017-03-16 23:03] #7970 closed

[2017-03-16 23:16] lannka commented on #8204
Might be related to #7841. @bradfrizzell do you want to take a look?

[2017-03-17 00:00] lannka commented on #7730
@ampproject/a4a

[2017-03-17 00:34] muxin opened #8206 "Be able to compare ios minor version"
Brought up in https://github.com/ampproject/amphtml/pull/7966#discussion_r106556099

Some bug fixes are only needed for ios version after a minor version or before a minor version, so there's a need to be able to compare ios minor version strings.

[2017-03-17 00:38] aghassemi opened #8207 "Unskip test-cache-sw-core:"fetches new diversions" test"
Test was skipped because it was failing in Chrome 45 with:

[code]

[2017-03-17 00:45] cramforce commented on #7670
Please paste the respective webkit bug number here.

[2017-03-17 00:49] davidwhthomas commented on #1939
How about when one has the "width" attribute, but not the "height" attribute?
i.e a flexible height image, with fixed width.
Is there a way to render the amp-img for that case? thanks.

[2017-03-17 00:50] aghassemi opened #8209 "unskip `VisibilityManager integrated` tests for browsers that don't support native intersection observer"
Currently `VisibilityManager integrated` tests are skipped for browsers that don't support native intersection observer. This is because mocking the IntersectionObserver polyfill is not possible from the test (may need #5286 or a different test setup) and was causing Chrome 45 tests to fail.

Skip PR: https://github.com/ampproject/amphtml/pull/8208

[2017-03-17 00:55] cramforce commented on #7670
I just filed one https://bugs.webkit.org/show_bug.cgi?id=169800

[2017-03-17 00:55] jalajc commented on #7168
@mkhatib request you to please explain this further.
Particularly, by `canonical origin` you mean the exact source URL or source origin?

(In my case I am getting this error `Variable substitutions disabled for non-canonical origin submit action:%s` and I don't find reference anywhere including SO except in code commit TODO #7168.
xhr submitted to: https://<origin>/xhr/ui/xyz.php;
AMP url: https:/

[2017-03-17 00:55] aghassemi commented on #6054
@sebastianbenz Candidate for AmpByExample?

[2017-03-17 01:15] jamescridland opened #8210 "amp-ad: Ads do not display on Internet Explorer 11"
Google AdSense AMP ads do not display on Internet Explorer 11. The "AD" placeholder continues to show.

However, Google AdSense AMP ads display on Chrome and Firefox; non-AMP ads display fine on Internet Explorer 11. This leads me to suspect that there is no adblocking software on the system.

## How do we reproduce the issue?

1. Visit https://media.info/radio/stations/radio-x-uk in a browser
2.

[2017-03-17 01:18] camelburrito commented on #7670
The bug has not been fixed yet - we have just patched so that the carousel is at least usable. There are some issues with overscroll and slide skipping.

[2017-03-17 01:19] camelburrito commented on #7670
Lowered priority because we have a patch that sort of makes this usable.

[2017-03-17 01:24] cramforce commented on #1939
You always need to know the aspect ratio.

On Thu, Mar 16, 2017 at 5:49 PM, davidwhthomas <notifications@github.com>
wrote:

[2017-03-17 02:32] Jeiwan commented on #8114
Here's the PR: https://github.com/ampproject/amphtml/pull/8212

[2017-03-17 02:40] davidwhthomas commented on #1939
ok, thanks

[2017-03-17 06:24] camelburrito commented on #7670
@muxin - look at the comment here

https://bugs.webkit.org/show_bug.cgi?id=169800#c3

We will need to change the snap-points css to match the latest spec

[2017-03-17 06:39] ColombiaOnline opened #8213 "Getting preloaded Warning in amp"
Hi ,
We are facing below warning when files are loaded.
"The resource https://static.clmbtech.com/ad/commons/js/colombia-amp.js was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it wasn't preloaded for nothing."

![amp_warning](https://cloud.githubusercontent.com/assets/18116684/24031787/8712b17a-0b0a-11e7-9c03-05433026cead.jpg)

[2017-03-17 10:18] bradfrizzell commented on #8204
I'll check it out. This was running at head on the local build?

[2017-03-17 10:27] rowangray opened #8214 "amp-list: amp-mustache removes svg"
SVG inserted in the template markup are removed on amp-list output.

see: [https://jsbin.com/qucolisaja/1/edit?html,output]( https://jsbin.com/qucolisaja/1/edit?html,output)

[2017-03-17 11:13] jesuskelisto commented on #2198
Hi

I'm trying to track to Mixpanel who expect an encoded json in base64,  basically I'm doing this:

[code]
The issue is that CLIENT_ID is resolved in the url after all the filters are applied.
Could be variables in vars be resolved before applying filters?.
Is there any other way to do this kind of tracking?
Thank you

[2017-03-17 11:32] hussainanver52 commented on #6054
@devanes thank you for your reply and help.
I am sorry currently I am busy with some other work, will be back to you with results once i am free
once again thank you very much for help

[2017-03-17 11:39] sebastianbenz commented on #6054
@devanes I love this! This is probably one of the most creative uses of amp-list I've seen. It'd be super awesome if you could contribute an example to ampbyexample.

[2017-03-17 12:28] bradfrizzell commented on #8204
Reproduced. Strangely, it only errors on

`gulp test`

When I run the file in isolation, i.e.
`gulp test --files=extensions/amp-ad-network-doubleclick/0.1/test/test-amp-ad-network-doubleclick.js`
it passes.

Looking into it.

[2017-03-17 14:42] cramforce opened #8215 "Remove viewer dependency for storage API"
The primary reason to have the viewer involved in the Storage API is this webkit bug https://bugs.webkit.org/show_bug.cgi?id=168631 that makes localStorage transient in partitioned 3p context.

As that bug revealed there is no such bug for IndexedDB, so we could switch storage to that (when available) and stop involving the viewer.

[2017-03-17 14:44] cramforce commented on #6770
Lets discuss how to move forward here, also considering #8215

I'd like to move to this algorithm:

- Always use our own storage
- Unless the viewer supplied a CID.

Lets discuss further in person.

[2017-03-17 14:52] cramforce opened #8216 "Short term improvements for performance measurements"
- [x] Our current `pc` tick is broken for the prerender case, due to breakage with delta ticking. Need to fix.
- [x] Consider separating prerender/non-prerender into 2 actions. Due to chunking pre-render sometimes goes slow on purpose. I'm undecided on this one. Main benefit due to the above, would be that we could have continuity in the existing metric.
- [x] Remove any priority 2 and 3 items fro

[2017-03-17 15:03] ameshkin commented on #5025
Having this same issue with amp-twitter and amp-youtube

I can get my amp file to pass if i change this
<script src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js" async="" custom-element="amp-twitter" />

To this
<script src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js" async="" custom-element="amp-twitter" ></script>

[2017-03-17 15:09] lannka commented on #8216
the 2nd item is already done and in production.

[2017-03-17 15:13] bradfrizzell opened #8217 "State leakage in tests"
As has been addressed in many other issues, there appear to be problems in our tests with state leakage of some sort, because there are many accounts of test files that pass in isolation but fail when run as a part of the full suite, and vice versa. Finding the offending test files that are interacting unexpectedly with your test can be quite challenging. Is there already a good methodology for de

[2017-03-17 15:22] lannka commented on #8216
Given we had (2), `pc` (prerenderComplete) is not a good name anymore. Since it's broken anyway, I suggest we deprecate it and introduce a new metric `fvr` (first viewport ready), which ticks when all P0 elements in first viewport are laid out.

[2017-03-17 16:46] michaelkleber commented on #7730
If you want a vendor, id type, and value, then why not just make them each their own field in the markup?  I don't see the benefit of taking three different fields and joining them with colons.  I guess the colon version makes it more optional, but you could just make the individual fields optional also.

[2017-03-17 16:53] cramforce commented on #8213
Yes, this is working as intended. We preload eagerly, but lazy loading of resources might be much later.

[2017-03-17 16:53] #8213 closed

[2017-03-17 16:59] sebastianbenz commented on #6054
Just realized that you need to define the max height initially, which makes this less appealing in practice. Wondering if there is a workaround...

[2017-03-17 17:00] tlong2 opened #8218 "All layouts reported us unsupported for amp-ad"
The isLayoutSupported function was removed from `<amp-ad>` in https://github.com/ampproject/amphtml/commit/980e7ca38269b695def57bf99e7a8abd58630b21. isLayoutSupported is apparently called before the element is upgraded meaning it falls back to the BaseElement version which is:
`
  isLayoutSupported(layout) {
    return layout == Layout.NODISPLAY;
  }
`
Thus every type of `<amp-ad>` layout is consi

[2017-03-17 17:03] tlong2 opened #8219 "Margin-collapsing can cause reflow with amp-auto-ads"
Adjacent `<P>` elements get their margins collapsed, if we insert a 0x0 `<amp-ad>` between two `<P>` elements with margins then we prevent this margin collapsing, which causes a reflow.

Info on margin collapsing: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing

We need to deal with this. The insert 0x0 `<amp-ad>` and then attemptChangeSize approach may n

[2017-03-17 17:11] lannka commented on #7730
Ideally we could have our own tag
[code]

But having custom tag in `<head>` is invalid HTML5. Chrome browser will move it to `<body>` after parsing. So it does not work.

Sure we can have
[code]
But it's sorta semantically incorrect.

I'm fine with either way though. Or you're thinking of other options?

[2017-03-17 17:13] lannka commented on #8219
/cc @zhouyx

[2017-03-17 17:13] ayumihamsaki commented on #7982
Have tested that jsbin and it worked fine, thanks.

[2017-03-17 17:18] ayumihamsaki commented on #8016
hi @levidurfee, sorry for late reply,I thought I'd give you a few days before checking back on this issue. I have just tested your jsbin and seems to work fine in all browsers...

[2017-03-17 17:19] jridgewell commented on #8218
Marking as a high priority for now. Having elements call `#isLayoutSupported` without first being upgraded feels like a potential catastrophe waiting to happen.

[2017-03-17 17:29] aghassemi commented on #8217
/to @erwinmombay

[2017-03-17 17:32] aghassemi commented on #8210
/to @zhouyx Setting to P1 until we at least know if this is a regression or not.

[2017-03-17 17:34] jridgewell commented on #8218
Now I know why this feels so wrong to me, I had already opened an [issue](https://github.com/ampproject/amphtml/issues/5980) about it!

[2017-03-17 17:37] jridgewell commented on #8218
Looking into this further:

This isn't widespread, because most of the time the implementation is still the [`ElementStub`](https://github.com/ampproject/amphtml/blob/16e555b4ea0454877a0da824f91be213d6aa1888/src/element-stub.js), which allows any layout type. I'm not entirely sure when the element get's upgraded from `ElementStub` to the correct (still not entirely upgraded) BaseElement implementa

[2017-03-17 17:42] dvoytenko commented on #8218
@jridgewell Not yet exactly sure where this risk condition happens. But as a quick fix let's allow layouts ASAP.

[2017-03-17 17:42] aghassemi commented on #8214
/to @choumx

[2017-03-17 17:49] pdufour commented on #2861
As a developer for a large media co. I'm much more in favor of the async click tracking solution.

[2017-03-17 17:59] cramforce commented on #5535
Removed code. Config can be removed when this is fully rolled out.

[2017-03-17 18:13] ayumihamsaki commented on #7982
@aghassemi I spoke too soon. Your code doesn't work outside jsbin, when I tested it live in Firefox Nightly the Fallback displays but the URL link doesn't work. In Google Canary it works fine with the non-fallback URL.

So the fallback URL is not working (just to let you know).

(For now I think I will stick with my version as working using this php class:  https://github.com/serbanghita/Mobile-De

[2017-03-17 18:22] ericdreeves opened #8223 "AMP cache modifications best practices and image URL rewrites"
Hello,

I'd like to clarify the URL rewrite behavior for images as described in the [AMP cache modifications best practices](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md#all-image-urls-are-rewritten-as-amp-cache-urls-except-those-in-amp-mustache-template) document.

In each of the four examples, none of the rewritten URLs contain the origin domain. Regardless o

[2017-03-17 18:23] #8218 closed

[2017-03-17 18:24] levidurfee commented on #8016
hi @ayumihamsaki :)

I'm glad your client websites are working without any problems!

I'm starting to think that his may be an isolated incident and not necessarily a bug. The live websites that were experience this issue may have extra CSS that could require your additional block of CSS to correct it. However, it appears the `<amp-sidebar>` works fine with minimal CSS/HTML.

[2017-03-17 18:27] erwinmombay commented on #8016
cc @camelburrito

[2017-03-17 18:29] dknecht commented on #8223
@ericdreeves  This is typo.

[2017-03-17 18:50] coreybyrnes commented on #8097
@dvoytenko That would be great as well. I'm on the fence if it's best to allow this to be set at the creative level or as an attribute of <amp-ad> or <amp-fx-flying-carpet>. I would assume that most ads running in this slot would want to be vertically and horizontally centered relative to the viewport, but perhaps not so maybe having the option to set its position at the creative level is best. Bu

[2017-03-17 19:26] jridgewell commented on #2198
@jesuskelisto: we still don't fully support filters. Once it is supported, it will work as expected.

[2017-03-17 19:35] dvoytenko commented on #8006
Do we want SSI/streaming for this? I could imagine we automatically splice a referenced embed in a shadow root. Shadow roots are not streamable, but we can probably come up with some way to do this. I wonder what other UX parameters we have?

- Do we want it to be auto sizing? If so, SSI would help in Cache, but UI can jump on direct origin pages w/o SSI.
- We can also look feature-by-feature. It'

[2017-03-17 19:36] aghassemi commented on #7982
@ayumihamsaki note that the actual URL I used in that jsbin is fake (it is just `https://example.com/custom-url`)

[2017-03-17 19:55] dvoytenko commented on #8097
@coreybyrnes The concern I have specifically here is that Ad normally has very limited info how it's hosted, in what container. Thus, `100vw/100vh` would typically be overflowing in many cases, e.g. if flying carpet has a padding or another container is sized differently. The way I see it, the container has to somehow communicate to the Ad how much possible space it can get. Currently we do this b

[2017-03-17 20:00] MsXLabs opened #8225 "Layout not supported: fixed. (Adsense link unit issue)"
Hello,

Today I noticed some error messages regarding my Adsense Link Units and Matched Content unit.

These are my ad unit codes:

Link units:
[code]

Matched Content unit:
[code]

Screenshot: ![snap1](https://cloud.githubusercontent.com/assets/22967013/24060689/0c1b9c18-0b5d-11e7-8550-fe43a62d8524.png)

Test URL: https://www.msxlabs.org/forum/amp/199381.html#development=1

Other Adsense ad units

[2017-03-17 20:14] #6771 closed

[2017-03-17 20:42] cvializ opened #8228 "Document fetch batching and fragment-specified object properties"
Document the features implemented in #7562

[2017-03-17 20:47] #7463 closed

[2017-03-17 20:56] aghassemi commented on #8218
@tlong2 production was also patched by this fix. http://amp.autoplaced.com no longer produces those errors.

[2017-03-17 20:57] alanorozco commented on #7768
Blocked by https://github.com/ampproject/amphtml/issues/6829

[2017-03-17 21:34] alanorozco commented on #8087
Taking over :)

[2017-03-17 21:36] ayumihamsaki commented on #7982
@aghassemi Sorry, I have put your script in a fresh new html webpage and works fine. I must have a strange conflict in my amp webpage. Will spend a few hours hunting down the problem. But your code seems to work fine. Sorry for confusion (my mistake) and thanks again for your code! I will spend the time making it work your way!

[2017-03-17 21:37] dvoytenko commented on #8215
We need to see if IndexDB available in private mode. A similar issue (https://bugs.webkit.org/show_bug.cgi?id=157010) has been fixed for LocalStorage in iOS10.

[2017-03-17 22:12] cramforce commented on #8215
Why is private mode relevant? I think being transient is fine in private mode.

[2017-03-17 23:01] JamesIves opened #8235 "A4A autoplay"
The AMP4ADS spec draft mentions that `autoplay` is not allowed on amp-carousel but it doesn't cause an issue with the validator. It seems that this information is out of date.  (Article 5 on the linked document under the format rules)

https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md#a4a-format-rules

[2017-03-17 23:05] michaelkleber commented on #7730
I was thinking of your second option.  But whichever syntax you prefer is fine; we can generate them all equally easily.

[2017-03-17 23:07] powdercloud commented on #7686
Just to note, this is implemented but not pushed yet.

[2017-03-17 23:09] lannka commented on #7730
@Gregable @honeybadgerdontcare do you see any problem with the 2nd format? (to see if it fits the general AMP HTML format).

[2017-03-17 23:12] jasti commented on #8235
@tdrl, could you confirm if we should fix the documentation or the validator? :) My preference would be to allow autoplay for carousels.

[2017-03-17 23:14] ericlindley-g commented on #8228
Is it worth making an AMP by Example for this, as well?

[2017-03-18 00:44] cramforce opened #8236 "Cleanup version-locking experiment"

[2017-03-18 00:46] cramforce opened #8237 "Cleanup pump-early-frame experiment"

[2017-03-18 00:53] cramforce commented on #8216
First item still needs an actual corresponding change on the viewer side, but code here is merged.

[2017-03-18 09:56] devanes commented on #6054
@sebastianbenz I just used the fixed-height layout from the initial example for now, which is indeed not practical if there's other content underneath (which will usually be the case). I notice amp-list doesn't seem to support container. I'm not really great at CSS (more a backend developer). Will try some more next week, but if you have any suggestions, that would be great. Getting this to work i

[2017-03-18 11:24] taleksey commented on #6150
@nickmoline

Can you advise to run reCAPTCHA without `amp-iframe`? I mean to use another amp tags. I found only one variant to use `amp-iframe`

[2017-03-18 14:19] jasti opened #8238 "Experiment with alternate versions of the default ad placeholders"
It's possible the current one sticks out way too much on a white background.

[2017-03-18 20:51] alanorozco commented on #6150
@taleksey

For now, the only way you can insert a reCAPTCHA widget is by embedding it in an external form using `amp-iframe`.

[2017-03-18 20:56] alanorozco opened #8239 "Cleanup experiment flag for window.context implementation"
Tracking issue #8087

Experiment name `3p-use-ampcontext`

[2017-03-18 21:58] nickmoline commented on #6150
@taleksey as @alanorozco said, it is impossible to use reCAPTCHA on an amp page without embedding the entire form in an `amp-iframe`, the reason for this is that reCAPTCHA requires external javascript, and it is external javascript that alters the layout of the page after load, this is 2 strikes against the core rules of AMP (no external javascript, and no altering of the page layout after render)

[2017-03-18 22:04] jasti opened #8240 "Sticky ad isn't pinned to the bottom of the viewport"
Was able to reproduce on Android Chrome on Google Search and Android Google Play Newsstand but not on iOS Chrome Search.
http://www.nydailynews.com/amp/new-york/woman-hits-tribeca-architecture-firm-sexual-harrassment-suit-article-1.3001566

[2017-03-19 04:06] SchnWalter commented on #7009
This would break existing websites. Instead I would like to propose a new layout. Maybe it could be called "shrink-only".

Here's a quick patch, probably it's incomplete:
[7009-amphtml_layout_shrink.patch.txt](https://github.com/ampproject/amphtml/files/853014/7009-amphtml_layout_shrink.patch.txt)

I'm not sure if for adding a new layout you need to add something to the `Calculate effective layout

[2017-03-19 05:31] camelburrito commented on #8016
Not sure what the problem here is. is it the fact that the page is scrolling when the sidebar finishes scrolling or does the sidebar not scroll at all?

Also the suggestions to change the `position` and `z-index` will never take effect (not work) because the default styles for those are non-overridable. And changing the `height` to `100%` will not always work, the default value (`100vh`) is a bett

[2017-03-19 11:29] ankit4794 commented on #8155
i added "<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin https://cdn.ampproject.org
    Header set Access-Control-Allow-Credentials true
</IfModule>"
in my root .htaccess file..

but still not working.

can i know how to solve this?

[2017-03-19 17:10] jasti opened #8241 "Banner layout = fixed doesn't stick with the top of the window"
Reproducible in iOS Chrome on Google Search canvas.

There is also considerable amount of 'bounce' in the fixed banner on page scroll - either up or down.
https://www.google.com/amp/www.stevehuffphoto.com/2016/08/04/experiences-with-the-new-laowa-12mm-f2-8-zero-d-by-dierk-topp/amp/

![image](https://cloud.githubusercontent.com/assets/2366341/24082972/b3d116e8-0c8b-11e7-9f67-2e394bac031c.png)

[2017-03-19 18:52] jpettitt opened #8242 "Intent to implement: Instagram captions and styling."
I'd like to add caption support to the `amp-instagram` component.  This will involve adding an optional `data-captioned` attribute.  If the attribute is present the instagram `iframe` url will change from and the embed will include the caption.
`https://www.instagram.com/p/<shortcode>/embed/?v=4` to
`https://www.instagram.com/p/<shortcode>/embed/captioned?v=4`.

At the same time I'd also like to a

[2017-03-19 21:13] jpettitt commented on #8242
On second thoughts the styling stuff is going to cause a re-layout due to the margin style so I'm going to skip that unless somebody has a good idea for how to handle it. (ignore the margin and only do the boxShadow and border?)

[2017-03-20 08:15] jalajc opened #8247 "amp-form: Support `pattern` on `<textarea>` for validation"
## Validation pattern for custom validation in <textarea> is not working
To reduce meaningless submissions in textarea, I want to use custom validation patterns. Apparently, patterns are not working in <textarea>.

## How to reproduce?

1. add required amp-components for amp-form to work
2. Use the following sample snippet (modified form example [here](https://github.com/ampproject/amphtml/blob/14

[2017-03-20 09:19] tlong2 commented on #8219
This seems to be caused by the fact that even for a 0x0 <amp-ad> the 'i-amphtml-layout-size-defined' class name gets added. This sets overflow: hidden, which means that the `<amp-ad>` interferes with margin collapsing. Without this overflow: hidden it should all work fine.

@lannka /  @zhouyx, is there a way we could make the 0x0 `<amp-ad>` be in a lame-state until after the attemptChangeSize requ

[2017-03-20 13:54] 8webdesign commented on #6104
Any updates on this?
I'm still getting "The tag 'amp-sidebar' appears more than once in the document." error,

But when I check https://ampbyexample.com/components/amp-sidebar/#development=1, they don't have any errors... why is the validation allowing them to have 2 sidebars, but not allowing me?

[2017-03-20 14:14] cramforce commented on #8242
@jpettitt Do you have a before-after screenshot of what those styles actually do? But yeah, I agree that applying styles on "mount" doesn't fit well into AMP.

[2017-03-20 14:59] coreybyrnes commented on #8097
@dvoytenko Thanks for your continued dialogue - I'm determined to get this figured out because the flying-carpet is not really usable in its current form for us at CBS.

So what about horizontally and vertically centering in the case of a creative that will almost always be larger than the viewport... like the test case I'm trying to solve for with a 1600x1000? My thought is that the flying-carpet

[2017-03-20 15:11] jpettitt commented on #8242
Without styles
![image](https://cloud.githubusercontent.com/assets/524856/24106310/b6c0f670-0d44-11e7-8f80-9bc74e084d56.png)

with styles

![image](https://cloud.githubusercontent.com/assets/524856/24106330/c69913f2-0d44-11e7-9274-38cf64b67750.png)

[2017-03-20 15:19] kul3r4 opened #8251 "includes is not available for amp-bind"
amp-bind should support `includes` as part  of [7401](https://github.com/ampproject/amphtml/pull/7401), but I get:

Dd @ error.js:135
f.error @ log.js:214
(anonymous) @ bind-impl.js:183

You can reproduce the issue by visiting:
[product sample](https://amp-by-example-staging.appspot.com/samples_templates/product/preview/)

@kmh287

[2017-03-20 15:27] choumx commented on #8242
/cc @aghassemi @ericlindley-g

[2017-03-20 15:33] choumx commented on #8247
/to @aghassemi /cc @rudygalfi

[2017-03-20 15:37] choumx opened #8252 "amp-bind: Sanitizer issue"
Internally tracked: `b/34499443#comment26`

- Make sure that `sanitizer.js` won't recognize elements like `<a data-&[xyz]="1+2">` as containing a bindable attribute `xyz`.

[2017-03-20 15:39] dknecht commented on #8252
What is issue here?  Can you add description?

[2017-03-20 15:49] mrjoro opened #8253 "Weekly Status 2017-03-20"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-03-20 15:49] #8073 closed

[2017-03-20 15:56] aghassemi commented on #8242
@jpettitt :+1: for `data-captioned`

For the styling, as you mentioned, it should be guarded by an opt-in attribute since authors may have already styled the parent container with borders and shadow-box to mimic the native styling.
As for re-layout, two options available:
1. Delay declaring layout finished until `MOUNTED` message is received. If Instagram sends the `MOUNTED` message reliably and r

[2017-03-20 16:05] jpettitt commented on #8242
@aghassemi Having look at the messaging it seems very consistent in what it requests.  I'm wondering if a better strategy might be to just set a default style that matches the one instagram uses and be done with it.

[2017-03-20 16:17] aghassemi commented on #8242
@jpettitt I will be fine with that. I can't find any information on whether an Instagram item owner can customize the style of their item for embedding.

[2017-03-20 16:19] aghassemi commented on #8247
@jalajc `pattarn` on `textarea` is not supported by HTML standard (we piggy-back on browsers for validation).

AMP could start extending the HTML validation to allow for more use-cases however, so I will keep this open as a feature request.

[2017-03-20 16:36] erwinmombay commented on #8253
github-owners-bot work on file level owners
amp-live-list bugs

[2017-03-20 16:43] kul3r4 commented on #8251
As @kmh287 pointed, I didn't have a json array in the `amp-state` but an object and I was trying to use `includes` method. We could improve the error message to not get confused.

[2017-03-20 16:54] aghassemi commented on #6104
@8webdesign This is not done yet. ( I see the same validation error on https://ampbyexample.com/components/amp-sidebar/#development=1 so they are not exempt from it either)

@ericlindley-g @camelburrito Any objections with moving ahead with this without #3320 first?

[2017-03-20 16:57] zhouyx commented on #8240
it is because `margin-bottom` is set on sticky-ad. Quick fix would be adding `margin: 0 !important`. But I think we want to give user this kind of flexibility.

[2017-03-20 16:59] jpettitt commented on #8242
@aghassemi I don't think they can customize it. The only config option I see is to enable/disable captions.  The default IG embed taks a blockquote with a placeholder loading image and replaces it with the iframe.  Obviously they could override in their CSS but there is no option on the IG end of things.

[2017-03-20 17:05] dvoytenko commented on #8253
* In-a-box debugging
* AMP Analytics continued work

[2017-03-20 17:08] aghassemi commented on #7009
@SchnWalter I don't see how a new attribute (which will be opt-in) would break existing websites. Am I missing something?

Is there a difference between `<amp-img width=400 height=200 layout=shrink-only>` and `<amp-img width=400 height=200 max-width=400 max-height=200 layout=responsive>` in terms of the behaviour you had in mind for `layout=shrink-only`?

[2017-03-20 17:12] levidurfee commented on #8253
* PR for amp-gist (#829) this week, I hope :)

[2017-03-20 17:19] jpettitt commented on #8253
- PR for instagram caption #8242 submitted
- Discussing how to / if I should implement instagram styling request message.

[2017-03-20 17:21] choumx commented on #8253
- Validation for amp-bind
- Fixed amp-bind bug and integration tests
- New great first issue (already claimed): #8197

[2017-03-20 17:22] zhouyx commented on #8219
What about only support layout.NODISPLAY? Then `custom-element` will not apply `i-amphtml-layout-size-defined` class. Then you can set `display` in auto-ads `#buildCallback`

[2017-03-20 17:31] alanorozco commented on #8253
- Sample for video ad with actions https://github.com/ampproject/amp-by-example/pull/702
- Started working on moving the old window.context implementation #8087
- Localizing [AMP101 preso](https://amphtml.wordpress.com/2017/03/14/learn-the-amp-basics-in-your-language/) for Spanish

[2017-03-20 17:39] tlong2 commented on #8219
Just to clarify `<amp-auto-ads>` does not have a layout. We're talking about the `<amp-ad>`s that it injects.

They cannot have layout='nodisplay' when initially injected with 0 size as the `<amp-ad>` will end up with `display: none` and then the attemptChanegSize logic won't be able to determine where it is and make a decision about whether it can be resized.

[2017-03-20 17:41] dvoytenko opened #8259 "Cleanup misspelled firstVisibleTime metric"
It's spelled `fistVisibleTime` in some places. Has been fixed in the visibility-v3 experiment.

[2017-03-20 17:54] muxin commented on #8253
- Merged an acceptable solution for amp-carousel autoplay bug in ios 10.3
- Get ios version number in platform
- Make chrome ios create the correct viewport binding

[2017-03-20 17:58] jasti opened #8261 "Implement new version of ads placeholder"
Once @spacedino's done with #8238 in the next sprint - implement the changes.

[2017-03-20 17:58] cvializ commented on #8253
- `amp-form` support/tests for shadow docs and friendly iframe embeds
- Merged #7562, fetches for the same URL can be batched in `amp-list` and JSON properties accessed from the URL fragment. Documentation still needed (#8228).
- Fixing `amp-font` bug in Edge

[2017-03-20 18:00] cvializ commented on #8228
Hmm probably! But I am not sure on what criteria we use to judge that. Maybe @sebastianbenz would know?

[2017-03-20 18:01] kmh287 commented on #8253
- Clarifying bind error messaging #8257
- Still working on changing services to not instantiate until needed
- Wrapping up work on amp-bind support for amp-live-list #7990

[2017-03-20 18:01] aghassemi commented on #8253
- Releases
- Test fixes
- Scroll-spy and smooth scrolling discussions (design to follow)
- Parallax and other scroll-bound visual effects discussions (design to follow)

[2017-03-20 18:13] choumx commented on #8252
@dknecht Edited the issue with a description.

[2017-03-20 18:15] zhouyx commented on #8219
Got it. Then I agree with you: we can apply a class that set `overflow: auto` to created <amp-ad> element and remove it after `#attemptChangeSize`. as long as `#layoutCallback` is called after `attemptChangeSize` has resolved.
BTW, what happen if attempt resize fail? I fail to find the logic, please help.

[2017-03-20 18:17] choumx commented on #7557
Reopening to track (1) in OP.

[2017-03-20 18:22] tlong2 commented on #8219
Cool. What's the best way to achieve this? It would be best to block/delay the i-amphtml-layout-size-defined class getting applied, rather than having a priority war between two classes each defining "overflow: X !important". So something like an i-amphtml-layout-pending-sizing state?

If the attemptChangeSize fails, then we just leave the 0-size `amp-ad` in the DOM: https://github.com/ampproject/

[2017-03-20 18:25] zhouyx commented on #8253
- InOb Polyfill store last tick info for new observed element
- Allow different attempt resize behavior for ads in different containers
- Continue working on extension analytics.

[2017-03-20 18:31] choumx commented on #8225
@MsXLabs I can't repro on the test URL you gave above.

/to @lannka /cc @jasti

[2017-03-20 18:35] MsXLabs commented on #8225
The error messages dissapared a few hours later.

[2017-03-20 18:38] spacedino commented on #8253
- AMP Start bug fixes
- Redesign of components page [#273 AMP Start repo](https://github.com/ampproject/ampstart/issues/273)
- Update images on landing page for [AMP Start #276](https://github.com/ampproject/ampstart/issues/276)

[2017-03-20 19:02] aghassemi opened #8264 "nexxtv-player: video interface integration is broken."
`nexxtv-player` does not response to any of the post messages sent for `pause`, `play`, etc.. It also does not send any messages back for the events like `playing`

@neko-fire, did anything change with the player? It does not to the commands sent via post message from `amp-nexxtv-player`

[2017-03-20 19:08] kmh287 commented on #8252
Just tested this:

`<a data-&[target]="_blank" data-&[href]="javascript:alert(0)"></a>`

is sanitized to

`<a data-="" target="_top" blank="" href="" javascript:alert=""></a>`

and

`<a data-[target]="_blank" data-[href]="javascript:alert(0)"></a>`

is sanitized to

`<a data-="" target="_top" blank="" href="" javascript:alert=""></a>`

neither of which contains a bind attribute for `target` nor fo

[2017-03-20 19:13] kmh287 commented on #7557
Sorry, my bad.

[2017-03-20 19:44] sebastianbenz commented on #8228
It definitely makes sense to add it to ampbyexample. Thanks for letting me know!

Just to check if I understood this feature correctly: our [`amp-list` sample](https://ampbyexample.com/components/amp-list/)  currently fetches the same json resource three times.  In the future this will only be fetched once?

In that case I wouldn't add a separate sample, but simply add a section at the end which e

[2017-03-20 19:51] cramforce commented on #8242
Adding those styles would need to be opt-in, but I agree that this should
just be hardcoded in the extension.

On Mon, Mar 20, 2017 at 9:59 AM, John Pettitt <notifications@github.com>
wrote:

[2017-03-20 19:55] #4078 closed

[2017-03-20 19:59] muxin commented on #7033
Cannot repro anymore, looks like it's fixed.

[2017-03-20 19:59] #7033 closed

[2017-03-20 20:07] cvializ commented on #8228
Great! Yep that's right, and the additional section sounds good.

[2017-03-20 20:11] jpettitt commented on #8242
Add the styles to the iframe?  the amp-instagram?  Create a CSS file and add a class to control it?  What is the preferred route here?

[2017-03-20 20:13] cramforce commented on #8242
I think yes, yes, yes. See amp-accordion for an extension with CSS.

amp-instagram has some styles in the base CSS (to avoid jumping). ideally
this would work together with that CSS.

On Mon, Mar 20, 2017 at 1:11 PM, John Pettitt <notifications@github.com>
wrote:

[2017-03-20 20:18] ericlindley-g opened #8268 "Scroll-dependent header hiding/showing/docking"
Tracking issue for general scroll-dependent header behaviors as a scoped version of the general scroll-bound CSS feature.

Feature 1: Header hides/shows as user scrolls down/up

Feature 2: Inline sub-heading for page section docks to header when it is scrolled to the top of the viewport, and sticks there until user scrolls back up, or is replaced by another docking/sticky header, or is removed (us

[2017-03-20 20:21] alfredmyers opened #8269 "Error on "Beautiful, interactive, canonical AMP pages" code lab"
On [step 8](https://codelabs.developers.google.com/codelabs/amp-beautiful-interactive-canonical/#7) of "Beautiful, interactive, canonical AMP pages" code lab

where read:

should read:

PS.: I did a little search around the different ampproject repos, but I wasn't able to find the one where this code lab is stored. If you guys point me to the correct place, I can contribute a fix to the page.

[2017-03-20 20:25] jpettitt commented on #8242
OK I think I'll create a CSS file with a new class that add the margin and frame to the iframe and reduces the padding on `amp-instagram` from the default CSS by the same amount so nothing jumps.  Does `i-amp-instagram-framing` sound like a good class name?

[2017-03-20 20:27] muxin commented on #7904
@daveboehm It might be related to https://github.com/ampproject/amphtml/issues/7653. But I'm not entirely sure. Let me solve that bug first and test again.

[2017-03-20 20:28] cramforce commented on #8242
We want to make this something that users add as an opt-in, right? In that
case maybe amp-instagram-default-framing (Totally aware that this is an
opt-in to a default :)

On Mon, Mar 20, 2017 at 1:25 PM, John Pettitt <notifications@github.com>
wrote:

[2017-03-20 20:43] aghassemi commented on #8269
@alfredmyers Thanks for the report! Fixed. (Codelab code is outside of the open-source repo)

[2017-03-20 20:44] #8269 closed

[2017-03-20 21:32] dvoytenko commented on #8215
The concern if it completely fails in the iframe, which was the case with localStorage until very recently.

[2017-03-20 21:34] choumx opened #8271 "amp-bind: Avoid attribute calculation by amp-mustache"
`amp-mustache` can calculate arbitrary attributes, so we can't rely on the validator to constrain the set of bindable attributes.

E.g. `<a href="{{#x}}"/>{{/x}}http://example.com/x.html" [target]="_top" />`, where `x` is `false`.

[2017-03-20 21:39] cramforce commented on #8215
@dvoytenko See comment on the bug:

- Safari has the notion of partitioned storage where the storage origin essentially becomes the concatenation of the origin plus all parent origins.
- `localStorage` has a bug where it uses transient storage instead of persistent storage on top of the above.
- They say that IndexedDB does not have this bug.

[2017-03-20 21:48] lannka commented on #8240
Thanks @zhouyx for looking into it.

Indeed, the margin is introduced by publisher's own CSS (accidentally). It is not Chrome-only  because we handle fix-positioned items differently on iOS. The work around we took to make fix-position working in an iOS iframe, accidentally bypassed publisher's CSS (honestly, this could be a problem in other cases @dvoytenko ).

Closing this for now.

[2017-03-20 21:59] jasti commented on #8240
I was talking to @zhouyx and we were wondering if there was a way to ignore inheriting margin attributes from the parent, as is happening in this case.
This is clearly happening unintentionally and I recommend we do everything we can to avoid the behavior.

[2017-03-20 22:17] alfredmyers opened #8275 "Error on "Beautiful, interactive, canonical AMP pages" code lab"
I probably should have read the entire page before creating the previous issue, because I ended up finding another one on [step 8](https://codelabs.developers.google.com/codelabs/amp-beautiful-interactive-canonical/#7) of "Beautiful, interactive, canonical AMP pages" code lab.

Where read:

should probably read:

When doing the lab, I added the `amp-animation` tag to the end of the body, just befo

[2017-03-20 22:20] muxin commented on #7904
I tested using the code from #7653 and it fixed the problem! @daveboehm Please wait for #7653 to be merged. Then normally it will be in canary in one week and in prod in two weeks.

[2017-03-20 22:28] alfredmyers commented on #8275
Although the `amp-animation` works even if placed as a direct child of `body` just before the `figure` of the target image, it causes a side effect of the hero image's caption not being displayed correctly. So it's probably better to just put it directly below the opening `body` tag as I said earlier.

[2017-03-20 22:33] lannka commented on #8240
well, it's hard to fix a publisher's own styling bug in AMP. any extra CSS we introduce is very easy to break others. The bottom margin could be intentionally added by pub to allow a toolbar at the bottom. We never know.

[2017-03-20 22:56] aghassemi commented on #8275
@alfredmyers Thanks for reporting bugs as you go through the codelab. Very valuable and much appreciated. Fixed as well, althought this restriction of amp-animation will likely be lifted later.

[2017-03-20 22:58] jpettitt commented on #8242
This is turning out to be less simple than I thought :-)

Digging into this further the sizing is wrong and instagram embeds are now on v7 with a different layout.  The new ones look like this.  Unless I hear objections I'll update amp-instagram accordingly to use the new style (changing the query string on the embed and adjusting the CSS spacing to make the placeholder still work).  Doing this wi

[2017-03-20 22:59] jasti commented on #6597
Ping @jpettitt.

[2017-03-20 23:39] #7686 closed

[2017-03-20 23:44] chenshay opened #8279 "API Documentation"
Anyone that owns an API should create public documentation for that API (example: history api, etc). I'm currently writing the documentation for the amp-viewer-integration and, after the handshake, want to link people off to different API's but I need the docs to link them to.

[2017-03-20 23:44] honeybadgerdontcare commented on #7730
The second format looks fine to me even though it may not be semantically correct. We can then more easily enforce possible values for those fields (e.g. type being either impression-id or creative-id).

Note that your PR #8277 references the first format.

[2017-03-20 23:48] dvoytenko commented on #8240
I don't think the current design and implementation allow the bottom margin. I'd rather we set `margin-bottom: 0 !important`.

[2017-03-21 00:18] cramforce commented on #8253
- Landed #8231 which I hope will significantly improve AMP's time to first contentful paint performance.
- Landed #8175 for which I hope the same, however for a smaller set of pages and only at higher percentiles. It should take font loading out of the critical path more often.

[2017-03-21 00:18] #8253 closed

[2017-03-21 00:31] cramforce commented on #8242
@jpettitt Yes, please.

CC @adewale regarding maybe nudging instagram of maintaining this themselves.

[2017-03-21 01:20] honeybadgerdontcare commented on #8223
@ericdreeves yes, this is a typo as @dknecht pointed out. Fixing this in PR #8283.

Note that while your alternative is in effect true, that would only be true for the Google AMP Cache. We want these best practices to be for all AMP caches, not just a specific one.

[2017-03-21 07:26] ankit4794 opened #8284 "No 'Access-Control-Allow-Origin' header"
No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://cdn.ampproject.org' is therefore not allowed access. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

i added "
Header set Access-Control-Allow-Origin https://cdn.ampproject.org
Header set Access-Control-Allow-Credentials true
"
in my

[2017-03-21 10:15] ericdreeves commented on #8223
Indeed. Thank you for making that clarification, as well as the quick response.

[2017-03-21 10:40] bjalford commented on #8284
There is documenation here: https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md#cors-security-in-amp

Looks like you need to set Access-Control-Allow-Origin to your domain.

[2017-03-21 11:03] ankit4794 commented on #8284
i tried to add it in .htaccess but still its not working..

can you tell me another way to add it with similar source code or example?

[2017-03-21 13:00] neko-fire commented on #8264
Hi @aghassemi,

I'll check internally, since I'm not involved in the player development. But the test cases for postmessages are still fine?

[2017-03-21 14:52] kul3r4 commented on #7368
@aghassemi, is there any progress on this?

[2017-03-21 14:54] honeybadgerdontcare commented on #8223
This is now addressed in the document.

[2017-03-21 14:54] #8223 closed

[2017-03-21 15:08] SchnWalter commented on #7009
The layout attribute is an attribute that it is already [used by various elements](https://www.ampproject.org/docs/reference/common_attributes), and introducing a new value, or set of values (for height and width), feels like the right thing to do and this way you don't introduce a new set of AMP specific attributes.

Besides that, you would need to make a lot more code changes if you want to intr

[2017-03-21 15:26] aghassemi commented on #7368
@kul3r4 not yet, @ericlindley-g making this a Prioritized FR since we have clear use-cases waiting for implementation.

[2017-03-21 15:45] aghassemi commented on #8284
@ankit4794 I recommend inspecting the response returned from your form endpoint and checking what  headers are actually being returned.

AmpByExample publishes their server-side code used their examples ( written in Go server ). You can look at the headers they set to enable CORS in this code: https://github.com/ampproject/amp-by-example/blob/d4b2c491370cc04427c3206de22c1174780f5709/backend/reques

[2017-03-21 15:50] aghassemi commented on #7009
Thanks for clarifying @SchnWalter. I see your points, `layout=shrink-only` is certainly an option to consider. Note that supporting `max` and `min` would also apply to other layouts (`fixed`, `fixed-height`) etc.. and at the end of the day both approaches are simply a convenience API since one can already use CSS rules to achieve them.

[2017-03-21 16:12] ericlindley-g commented on #7368
@sebastianbenz  @kul3r4  — is the use case here the more app-like TODO list, or do you have other use cases in mind as well?

[2017-03-21 16:19] sebastianbenz commented on #7368
Another common use case is bookings, e.g. add multiple persons to a booking.

[2017-03-21 16:20] piotrwojtkowiakmrf commented on #8177
@aghassemi unfortunately it doesn't work, [here is the output](http://pastebin.com/RFYWbUq9).

These tests are passing if I run them in stand-alone mode, with one exception: *test/integration/test-amp-ad-3p*. This one is failing always.

From my point of view it looks like something is not isolated and because of that, it's causing an error in other places. Can You confirm if it works in your envi

[2017-03-21 16:33] jpettitt commented on #8284
Since there is more than one amp cdn you really need to check and echo back the origin that the browser sent.  Hard coding cdn.ampproject.org won't work.

[2017-03-21 16:36] jpettitt commented on #8268
Will this include unidirectional triggers?  IE when you scroll down the page no header but if you start to scroll back up the header appears? (the theory being that if you're going back up there is a higher probability you want the nav)

[2017-03-21 16:44] dvoytenko commented on #8097
@coreybyrnes Thanks for an example! Let me play around with it and see what could be improved.

[2017-03-21 17:15] ericlindley-g commented on #8268
@jpettitt — Yep! The plan right now for feature 1 above is to support a behavior where the header gets out of the way when the user wants to consume the primary page content (when the user scrolls down), and comes back when the user's intent is more ambiguous, and may want navigation affordances (when the user scrolls back up)

[2017-03-21 17:17] #8251 closed

[2017-03-21 17:19] aghassemi commented on #8268
@jpettitt I am imagining "feature 1" to pretty much mimic current AMP viewer header behavior (with a default animation curve that matches AMP viewer as well)

[2017-03-21 17:22] aghassemi commented on #8177
@piotrwojtkowiakmrf  Some of those test are flaky in our environment as well, but not always failing.
@erwinmombay Getting tests to be stable might be a good starter project for Raghu.

[2017-03-21 17:23] choumx commented on #8251
Thanks for the bug report!

[2017-03-21 17:37] dvoytenko commented on #7994
Closed by #7817.

[2017-03-21 17:37] #7994 closed

[2017-03-21 17:49] zhouyx commented on #8240
@jasti I searched around and unfortunately there's no way to do this.

The other way would be us setting `margin-bottom: 0 !important` This was not added at first because we don't want to put too much restrictions on style. And it is possible that user want to set margin to avoid hiding a fixed position footer.

If we add the extra rule, how can we make sure the `margin-bottom: 0 !important` would

[2017-03-21 17:51] aghassemi commented on #8264
@neko-fire Here is a test page: http://s.codepen.io/aghassemi/debug/MpVJRQ

The `play`, `pause`, etc.. buttons send the postMessages as coded in the the [amp-nexxtv-player.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-nexxtv-player/0.1/amp-nexxtv-player.js) but the player does not seem to honour those messages at all (as you see nothing happends).

Also player does not seem

[2017-03-21 17:55] muxin opened #8290 "Clean up amp-app-banner bug warning in readme"
Ensure the note `####(Dec. 15, 2016) Note: We have discovered an issue` is removed from https://github.com/ampproject/amphtml/blob/master/extensions/amp-app-banner/amp-app-banner.md

[2017-03-21 17:58] coreybyrnes commented on #8097
@dvoytenko Great. Let me know if you have any other questions for me as you dive into it or if it'd be helpful to have a g-hangout session to talk things through.

So as I see it there are two items for further discussion:

1. How to reduce the "window" height of the flying-carpet by setting a `height` and `overflow:hidden` on the parent element of the `amp-fx-flying-carpet` element.

2. Update th

[2017-03-21 18:02] daveboehm commented on #7904
Thank you @muxin this is great news!

[2017-03-21 18:06] #7701 closed

[2017-03-21 18:07] alanorozco commented on #7623
Now supported.

[2017-03-21 18:07] #7623 closed

[2017-03-21 18:15] camelburrito commented on #8253
- AMP Start Bug fixes
- amp-selector Bug fixes.
- Next steps for AMP start

[2017-03-21 18:22] rudygalfi commented on #7623
Awesome! Does anyone have a demo for this? I filed an AMP By Example request to incorporate on ABE: https://github.com/ampproject/amp-by-example/issues/713

[2017-03-21 18:46] jpettitt commented on #8242
Since #8243 has been merged I'm closing this as complete.

[2017-03-21 18:46] #8242 closed

[2017-03-21 19:10] #7840 closed

[2017-03-21 20:13] coreybyrnes commented on #8097
@dvoytenko

1. I don't have styles on the `.ad-wrap` element at the moment. But I _want_ to able to do so because I need to reduce the height of the "window" to be less than 100vh (to something like 200px for example). It's not working as I mentioned in item #1 [in this comment](https://github.com/ampproject/amphtml/issues/8097#issuecomment-288165607).

2. It looks like you also removed `100vw` fr

[2017-03-21 20:33] Gregable commented on #8031
The text is now:

`The inline 'style' attribute is not allowed in AMP documents. Use 'style amp-custom' tag instead. (see https://www.ampproject.org/docs/guides/responsive/style_pages) [AUTHOR_STYLESHEET_PROBLEM]`

[2017-03-21 20:33] #8031 closed

[2017-03-21 21:19] aghassemi commented on #8188
@erwinmombay @cramforce @dvoytenko An alternative approach is removing `--reread` and treating every flag change as a patch on prod (generating a completely new version number like other code patches). If the argument is this will make us slower in responding to P0 issues that can be fixed by flipping a flag, although true, the difference is really the time it takes to do a recompile vs copy/repla

[2017-03-21 21:19] choumx commented on #8252
Thanks for investigating. Fix is tracked in #8271.

[2017-03-21 21:19] #8252 closed

[2017-03-21 21:22] dvoytenko commented on #8149
This is due to Chrome's bug: https://bugs.chromium.org/p/chromium/issues/detail?id=703816

I will see if we can work it around until it's fixed.

[2017-03-21 21:26] jpettitt commented on #6597
@jasti hard to measure when it's in canary.  Given the date it goes to prod I'll be able to give you before/after data.

[2017-03-21 21:31] #8271 closed

[2017-03-21 21:38] cramforce commented on #8188
Flag change should not require a recompile. We want to be both fast and absolutely, positively guaranteed to change nothing but the flags.

I think this check is a good first step:

- list files in top commit if on master or files in diff from master
- see that they either only change these JSON files or change none of them.

[2017-03-21 21:51] jpettitt commented on #8240
FWIW the margin change proposed won't break any of our sites.

[2017-03-21 21:52] jasti commented on #6597
Thanks. @zhouyx would you be able to push it to prod in the upcoming release?

[2017-03-21 21:59] choumx commented on #8214
SVG is temporarily blacklisted from `amp-mustache` which will be resolved with #1156. Marking as "blocked". Sorry about that!

/cc @dvoytenko

[2017-03-21 22:02] choumx commented on #1156
This could also be useful for reducing duplicated validation logic in `amp-bind`.

[2017-03-21 23:02] dvoytenko commented on #8149
PR #8303 is in review.

[2017-03-21 23:51] aghassemi commented on #8190
`amp-fx-parallax` and `amp-visibility-spy`: https://docs.google.com/presentation/d/1i7asX_msSF1iP5Afd5VNECfatIQcI-krwunaysdNV48/edit?usp=sharing

[2017-03-22 00:11] lannka commented on #8240
thanks @jpettitt .

@dvoytenko , isn't a fix-positioned footer toolbar a realistic design?

Overall, I'm reluctant to add CSS rules. Once added, very hard to change or remove.

[2017-03-22 00:19] cramforce commented on #8190
@aghassemi Am I missing something or does the doc kind of miss the content for agenda item  "Proposal how to fix it"?

[2017-03-22 00:25] aghassemi commented on #8190
@cramforce you are not, the doc is :) It is WIP, adding content as we speak.

[2017-03-22 00:30] cramforce commented on #8240
I'm all for `margin-bottom: 0 !important`. That is the very intent of this component.

[2017-03-22 00:36] SchnWalter commented on #7009
Oh... yeah... thanks for the explanation! I was only thinking about the responsive layout. The question is: where does one draw the line? There are many things that people would like, but you can't really accommodate all the feature requests without removing "Accelerated" from the project name.

Here's an issue that I encountered, which made me believe that a new "shrink-only" (or whatever name it

[2017-03-22 04:54] jalajc commented on #8284
@ankit4794 In my case its working fine. Is it possible for you to attach some screenshot of network tab on chrome (masking sensitive information). May be you want to raise on Stackoverflow too.

Couple of points:.
1. Your situation might require additional headers as per [AMP-CORS Security Spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md#cors-security-in-amp)

**Ac

[2017-03-22 05:04] jalajc commented on #8284
@aghassemi I think  [AMP-CORS Security Spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) requires bit of lucidness. Let me see if over weekends I can create some flow charts to include there.

[2017-03-22 09:26] kul3r4 commented on #7368
@ericlindley-g I found this as part of #7688 when trying to implement a quiz.

[2017-03-22 10:52] neko-fire commented on #8264
@aghassemi on your testpage` https://cdn.ampproject.org/v0/amp-nexxtv-player-0.1.js` is not found (404). For testing I used the sources from `dist `folder. We did not change the player since then.

[2017-03-22 10:52] bjalford commented on #7780
Sorry managed to mess up my timings last week (facepalm) Can't make today either. Keen to discuss though. How can we move forward?

[2017-03-22 11:54] bjalford commented on #8284
Wondering whether the docs would be better not to reference the amp domain (https://cdn.ampproject.org) as an example and use something like https://publisher1.com ?

[2017-03-22 12:04] devanes commented on #6054
As height is a required attribute for amp-list, the only way this is really going to work, depending on the size of each item and the possible number of items is to set the height of the both amp-list tags to a very high number and just don't put any content underneath the list, so no footers or anything. You still get an unnecessary large page with a lot of whitespace at the bottom, but unless am

[2017-03-22 15:37] #7837 closed

[2017-03-22 15:46] sebastianbenz opened #8311 "Make runtime more robust against adblockers"
[uBlock origin](https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en) (and possibly other ad blockers) block requests to:

`https://cdn.ampproject.org/v0/amp-analytics-0.1.js `

(for more background see [question on SO](http://stackoverflow.com/questions/42907284/ublock-blocking-amp-experiment/42946088#42946088)). This has two consequences:

1. AMP only re