[2018-07-19 09:37] tobie opened #16902 "Document use of emojis in the commit messages"
I ❤️ seeing emojis used in commit message, but for a newcomer to the project, it's a bit intimidating. What does each one mean in the context of the AMP project?

It would be great to have the most common ones listed (with their definition) in [CONTRIBUTING.md](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md).

[2018-07-19 09:40] tobie commented on #16902
Turns out there's a [bunch](https://gitmoji.carloscuesta.me/) [of](https://github.com/dannyfritz/commit-message-emoji) [guides](https://gist.github.com/parmentf/035de27d6ed1dce0b36a). Maybe just link to one of them?

[2018-07-19 09:40] JamesChadwick opened #16903 "Please check the update"
I don't know what you updated today. The Android system has collapsed, causing my website to be a mess.

[2018-07-19 10:18] ro2ni3 opened #16904 "amp-date-picker specify an initial date offset from current date"
## What's the feature?

I have tried to set up the amp date picker to automatically have a date set on the input as the page loads. I have looked at the documentation but in there the only way to set the date is when the user taps on the input.

## How could the feature be implemented?

Since this is more of an event feature, I was thinking it could be something like this?:
[code]

[2018-07-19 10:39] jpettitt commented on #16856
We don't need the actual ad unit fill to render the page, just the size so we can complete layout without a jump (as long as the no fill rate is low or we have a fallback)

On that basis do we have a sense of how long `amp-auto-ads` takes to identify what slots it's going to create and add them to the page?  If it's short then making the parent content block invisible and toggling visibility once

[2018-07-19 10:43] jpettitt commented on #16903
URL?   Can you be more specific about the problem?

[2018-07-19 10:47] jpettitt commented on #16902
The [pull request template](https://github.com/ampproject/amphtml/blob/master/.github/PULL_REQUEST_TEMPLATE.md) has a list:

✨ New feature (:sparkles:)
🐛 Bug fix (:bug:)
🔥 P0 fix (:fire:)
✅ Tests (:white_check_mark:)
🚀 Performance improvements (:rocket:)
🖍 CSS / Styling (:crayon:)
♿ Accessibility (:wheelchair:)
🌐 Internationalization (:globe_with_meridians:)
📖 Documentation (:book:)
🏗 Infrastructu

[2018-07-19 12:20] tobie commented on #16902
Oh, great! +1 to having it documented elsewhere, though.

[2018-07-19 16:22] aghassemi opened #16907 "Launch amp-google-document-embed"
There has been interest in the component (@jaygray0919) and I don't think we would get more feedback than we have already have gotten.

Let's launch `amp-google-document-embed`.

/to @cvializ
/cc @ericlindley-g

[2018-07-19 16:41] cvializ commented on #16904
Agreed, let's add this.

[2018-07-19 16:44] #16890 closed

[2018-07-19 17:10] ericlindley-g commented on #12209
@dbarcosb and @joshcp — glad to hear this would help!  Are you able to share what map providers and features are required for the travel sites you have in mind? I ask because the likely path is to make a separate component for each map provider (e.g. amp-google-maps), and each required feature may need an implementation in the API.

Thanks!

[2018-07-19 17:10] AutadeJS commented on #15920
https://www.ampproject.org/docs/design/visual_story/create_cover_page
Uses 720x1280 for fill example.

https://www.ampproject.org/docs/design/amp_story_best_practices
This "AMP Story Best Practices" page says:
The recommended dimensions for a poster image are: 720p (720w x 1280h) .
But it's for video poster.

[2018-07-19 17:14] lannka commented on #14406
@rsimha agreed. The only concern is that then there is no way to verify a fallback logic of such an error.

[code]

We will not be able to have a test to verify "fallback".

[2018-07-19 17:18] zhouyx opened #16910 "Analytics: Timer event to trigger once at certain time"
Request from #14234

`<amp-analytics>` timer trigger doesn't provide way to trigger a request once at certain time. It would be easier to config if we can provide something like `sendAt: 10` to send and only send one request at 10sec.

 As @dougscher pointed out in https://github.com/ampproject/amphtml/issues/14234#issuecomment-406394867, it's also possible to add `once: true` config.

[2018-07-19 17:19] zhouyx commented on #14234
@dougscher Thanks for filing the issue.
I've tested and was able to reproduce every time.
This is kind of expected, because amp-analytics is trying to send one last request when `maxTimerLength` has been reached. So if you think about a config like this
[code]
that kind of makes sense.

However in your case, since `interval` and `maxTimerLength` is the same value, 2 requests will be sent out. One

[2018-07-19 17:19] zhouyx commented on #14234
Regarding your request to add support to send timer event at specified time once. I've created #16910

[2018-07-19 17:35] newmuis commented on #15920
@bpaduch is it okay to change these examples to use 720x960 (720p at 3:4 aspect ratio)?

[2018-07-19 17:36] #13534 closed

[2018-07-19 17:40] bpaduch commented on #15920
Sure, go ahead.  Make sure to update the file in the .zip too.

[2018-07-19 17:40] nainar commented on #16838
Some more context from the Slack thread:

[code]

[2018-07-19 17:53] choumx commented on #15272
Observations:
- The vast majority of CPU latency on initial render is due to the amp-bind interaction.
- amp-mustache-0.2 is 40% smaller than amp-mustache-0.1 which helps.

Ideas:
1. Allow opt-out: add `binding="always|refresh|no"` attribute to amp-list
2. Make the scanning more efficient: add DOM diffing to amp-list re-renders to avoid reprocessing unchanged markup (@jridgewell MutationObserver w

[2018-07-19 17:56] sparhami commented on #16901
It looks like actions wait for a previous one to finish here:

https://github.com/ampproject/amphtml/blob/ec8e69114664da1de8b5fe3103039a6804227c99/src/service/action-impl.js#L497-L500

It looks like the first setState action is fairly async (needs to get the bind service), so the scrollTo does not happen for a while. This appears to happen after the anchor has opened the link in the new tab. Final

[2018-07-19 18:02] bpaduch commented on #16625
I've reviewed the docs (particularly the [Create responsive AMP pages guide](https://www.ampproject.org/docs/design/responsive/responsive_design#displaying-responsive-images), and there's no other impacts.  As you said in [this comment](https://github.com/ampproject/amphtml/pull/16404#issuecomment-401430462), the docs were accurate but the implementation wasn't.

[2018-07-19 18:02] #16625 closed

[2018-07-19 18:07] #14234 closed

[2018-07-19 18:09] #16869 closed

[2018-07-19 18:15] #16840 closed

[2018-07-19 18:19] zaxoavoki commented on #16844
For example you can check [this page](http://inbusiness.zzz.com.ua/amp/post.amp.html). When user open the sidebar it's disable scroll on th hole page. Probably, I don't sure that I could open the page with AMP in desktop, right? I mean that Google won't show it in the search websites list..?

[2018-07-19 18:26] #16871 closed

[2018-07-19 18:30] #16651 closed

[2018-07-19 18:42] #16893 closed

[2018-07-19 19:04] fueledbymarvin opened #16917 ""IF" deleted from amp-analytics URLs"
## What's the issue?

The string "IF" is deleted from `amp-analytics` request URLs. This is causing base64 encoded strings that contain "IF" to be corrupted which is causing our analytics to not track many of our events.

## How do we reproduce the issue?

1. Visit this page: [https://www.google.com/amp/s/genius.com/amp/Nayt-gola-lyrics](https://www.google.com/amp/s/genius.com/amp/Nayt-gola-lyrics

[2018-07-19 19:09] rudygalfi commented on #7222
cc @jeffjose - possibly relevant with respect to #16737

[2018-07-19 19:31] rsimha opened #16918 "Cancel entire Travis job if one shard fails early"

[2018-07-19 19:43] cramforce opened #16920 "Improve source map fidelity"
- Avoid breaking source maps with replacing $internalRuntimeVersion$. Could be fixed by replacing the input with an equal length string. Or by doing the replacement in the compiler.
- Insert a `\n` before the source wrapper inserting content to avoid changing of the prelude (e.g. for config) to impact source maps

CC @erwinmombay @rsimha

[2018-07-19 19:43] aghassemi commented on #16431
@meistudioli Short answer is no on iOS (Chrome has native rotate to fullscreen anyway). We need an API from Youtube before we can support iOS. We are tracking the work internally

b/111646997 for internal reference.

@kevinkassimo is updating the documentation to reflect this.

[2018-07-19 19:52] #16838 closed

[2018-07-19 19:54] prateekbh commented on #10277
@erwinmombay before shipping this, we'll need to do the effort of copying over `v0.js` to `v0-module.js` and replacing this->self hack. This can be left with a TODO on my name to be removed once we actually start emitting out ES2015 bundles

[2018-07-19 19:54] dougscher commented on #14234
A better fix may be to add an attribute like  once: true.

Thanks,
Doug

Doug Scher | Lead Developer
p: 561-361-8486 | c: 561-445-9659
doug@mathereconomics.com

mather :
1215 Hightower Trail | Building A, Suite 100 | Atlanta, GA  30350
770-993-4111 | www.mathereconomics.com
Named for the third consecutive year to the Inc. 500/5000 list of the fastest growing private companies in the U.S.

From: Yu

[2018-07-19 20:15] cathyxz opened #16926 "[amp-pan-zoom] needs a solution for developer-specified alignment options"
The current default behavior of `<amp-pan-zoom>` is to center its content. This doesn't work for some situations in which the developer wants to specify the alignment to something other than dead center. Example use case is when `<amp-pan-zoom>` is used with a content that has placeholders--the placeholder might not be the same height as the content, and we would want to style the placeholder / co

[2018-07-19 20:32] newmuis commented on #11520
Fixed by #16767

[2018-07-19 20:32] #11520 closed

[2018-07-19 20:38] juliacochran opened #16933 "AMP viewer blocking top sticky banner on iOS"
## What's the issue?
The AMP Viewer sometimes blocks sticky banner at the top of the page, leaving the area of the page that was meant to have the banner on it with just whitespace.

<img width="274" alt="screen shot 2018-07-19 at 1 34 47 pm" src="https://user-images.githubusercontent.com/3277587/42968572-895fa706-8b58-11e8-9425-08917c792b39.png">

[Screen recording of behavior](https://drive.goog

[2018-07-19 20:39] dougscher commented on #14234
Maybe a new timer invocation in the same context should cancel the previous on.

Thanks,
Doug

Doug Scher | Lead Developer
p: 561-361-8486 | c: 561-445-9659
doug@mathereconomics.com

mather :
1215 Hightower Trail | Building A, Suite 100 | Atlanta, GA  30350
770-993-4111 | www.mathereconomics.com
Named for the third consecutive year to the Inc. 500/5000 list of the fastest growing private companies

[2018-07-19 20:41] honeybadgerdontcare opened #16936 "amp-anim controls attribute not documented"
The `controls` attribute is valid for `amp-anim` but it is not documented in [amp-anim.md](https://github.com/ampproject/amphtml/blob/master/extensions/amp-anim/amp-anim.md)

[2018-07-19 20:42] cvializ commented on #13003
Can you use the [`:valid` pseudoclass instead](https://www.w3.org/TR/html50/disabled-elements.html#selector-valid)? The `:user-valid` spec is unclear, and previously we have stated that we intend to not support this feature on `fieldset` (https://github.com/ampproject/amphtml/issues/11691), so I believe it makes sense to roll back support for `.user-valid` on the `<form>` element as well.

[2018-07-19 20:56] fueledbymarvin commented on #16917
Seems like [this line of code](https://github.com/ampproject/amphtml/blame/master/extensions/amp-analytics/0.1/variables.js#L143) is relevant. It's odd that there doesn't need to be parentheses or anything else that indicates a function/macro.

[2018-07-19 20:56] jgluk commented on #16779
Hello!

The AMP Cache provides a URL API that can give you the AMP URL and AMP Cache URL for a specific URL. See this reference: https://developers.google.com/amp/cache/reference/acceleratedmobilepageurl/rest/

You should be able to use that API to determine the correct host to use in the CORS header that will pass validation.

Would this be suitable for your case?

[2018-07-19 20:57] SimonHogstromRonbol commented on #13003
@cvializ I could use :valid in most cases, but since I use it for analytics, it's very important that it works across browsers, and according to [MDN web docs](https://developer.mozilla.org/en-US/docs/Web/CSS/:valid) and a little personal testing, it doesnt seem to be supported in IE and Edge.

but you are right, the :valid pseudo class would solve the problem in chrome, firefox and the like.

[2018-07-19 20:58] Gregable commented on #8028
One annoying problem is that nodejs appears to strip these characters when reading a test file, so validation passes because the characters are not present. Browsers do not, however.

[2018-07-19 21:08] rsimha commented on #16918
Sadly, this is not natively supported by Travis (https://github.com/travis-ci/travis-ci/issues/2062), and is tricky to do manually via the Travis CLI because it requires a GH token, something we don't have on PR builds.

[2018-07-19 21:08] #16918 closed

[2018-07-19 21:10] jgluk commented on #16779
Apologies, I spoke too soon because I didn't realize the hashed URL was as a result of a redirect and the AMP URL API also returned the non-hashed version. Let me investigate more what's triggering the redirect.

[2018-07-19 21:32] jgluk commented on #16779
The technical limitation that is causing the hashed URL is step #1: "Converting the AMP document domain from IDN (Punycode) to UTF-8." Since this fails, we redirect to the hashed subdomain. I believe this is working as intended.

The bug is that currently the AMP URL API does not reflect the hashed URL; it returns the non-hashed URL that you originally predicted. We are going to fix this issue so

[2018-07-19 21:39] jgluk commented on #16779
Tracked internally as 111651862

[2018-07-19 21:40] jgluk commented on #16783
Tracked internally as 80296288.

[2018-07-19 21:46] alabiaga commented on #16795
Followed up with @gmajoulet  and verified that this doesn't happen and needs to be added.

[2018-07-19 21:58] nainar commented on #16936
I'll take this.

[2018-07-19 22:06] erwinmombay commented on #8129
Fixed by https://github.com/ampproject/amphtml/pull/16547

[2018-07-19 22:16] #16755 closed

[2018-07-19 22:30] dougscher commented on #16910
BTW

The use case was to send page load and other statistics after 10 seconds. This also acts as a user bounce/flyby indicator if it is not sent.

Thanks,
Doug

On July 19, 2018 4:28:59 PM EDT, Yuxuan Zhou <notifications@github.com> wrote:

[2018-07-19 22:35] #16864 closed

[2018-07-19 22:45] #16802 closed

[2018-07-19 23:26] jasti opened #16955 "Fix usage of multi-size ads with layout=responsive"
Current behavior seems to fail and keeps retrying until a "good" ad is returned. This causes repeated reflow of the page until a proper ad is returned.

Handle case properly or update validator to not allow responsive with multi-size ads.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick-impl.js#L457

Repro: view-source:http

[2018-07-19 23:36] honeybadgerdontcare commented on #16955
Currently `data-` attributes are always allowed in validation. It could be addressed in the validator but I can't think of a way to do it with the current engine and rules. We'd have to introduce something like a disallowed_attrspec.

[2018-07-19 23:52] jasti commented on #16740
Looks like this is an issue even on non-AMP pages. Whenever there is a "VIEW X RELATED PAGES", the  bottom X% of the viewport is un-clickable - even links.
We are trying to reach out to an internal team at Google who owns the feature to look into this.

[2018-07-20 00:06] nainar opened #16956 "amp-fx doesn't validate combined presets"
E.g.
`amp-fx="parallax fade-in"`

[2018-07-20 00:58] JamesChadwick commented on #16903
Android 8 environment, all WebKit kernel browser problems, including access to ampproject.org also can not open sidebar.

[2018-07-20 01:01] JamesChadwick commented on #16903
@jpettitt
Android 8 environment, all WebKit kernel browser problems, including access to ampproject.org also can not open sidebar.

[2018-07-20 01:04] JamesChadwick commented on #16903
@jpettitt
Received my customer feedback, I only tested in Android 8, https://cdn.ampproject.org resources were updated yesterday, I believe this is definitely a problem.

[2018-07-20 05:06] #16851 closed

[2018-07-20 05:26] choumx commented on #13584
This was fixed in #15694. The error message now looks like:

[2018-07-20 05:26] #13584 closed

[2018-07-20 05:58] 88kbbq commented on #11380
So if using multiple selectors, our analytics would look like this:
[code]
but it would be so much easier to just do:

[code]
and have all the listed events tracked as if written long form inline. No?

[2018-07-20 07:39] 88kbbq opened #16963 "amp-analyticas "on" and "request" attributes are required for data to be collected."
Can't find any information on this error **"on" and "request" attributes are required for data to be collected**.

Admittedly, I'm not a pro at tracking code but according to AMP examples, this should work. Any suggestions?
[code]

[2018-07-20 07:46] shangdev opened #16964 "My site use amp-form, however always submit-error?"
This is site :https://www.trueniu.com/%E7%BD%91%E7%AB%99seo%E5%B8%B8%E7%94%A8%E5%B7%A5%E5%85%B7/amp/

you can test it.

Response format:
`{"name":"bear shang","email":"test@test.com"}`

But page always show 'Send failed'!

[2018-07-20 09:19] jaygray0919 commented on #16907
It works exceptionally well. We can "preview" the item with `fixed-height` and `height=100`

The only other way to do this is using an `iframe` (in AMP or conventional HTML).

(aside: the earlier AMP approach of assigning a target URL to a Chrome reader was problematic because we had to maintain a **separate** list of URLs with HTML escape codes)

And the option is available to open the item full

[2018-07-20 11:30] JakobEichler commented on #5599
Is there an example, explaining how to use this experiment?

[2018-07-20 11:56] vipin08 opened #16965 "Comscore: Response unparseable or failed to send image request"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-07-20 13:35] ro2ni3 commented on #16904
@aghassemi yes that's correct, the date value needs to be worked out on page load to be today + 14 days (dynamic) and set into the [value] of the input. Sorry, ignore the event idea.

[2018-07-20 14:30] bpaduch commented on #16902
Oddly, a description of the icons in [CONTRIBUTING.md](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md) wouldn't be adequate because it's when you create the Pull Request that you stipulate (if you want) an emoji.  Perhaps in the Getting Started Guide, but then again, when you click the button to "Create a Pull Request", the template is already populated with what icons to use an

[2018-07-20 14:53] tobie commented on #16902
Yeah, you’re right. CONTRIBUTING.md isn’t necessarily the best place. Note my use case is different than the one you mention. I wanted to understand the meanings of the emojis used in the commit messages, not to create a commit message of my own. My reflex was checking the README, then CONTRIBUTING.md. Either one would have worked.

[2018-07-20 15:42] alabiaga commented on #15865
I would like to discuss #15583, primarily #16761. A proposal to allow the form element to be used outside of the context of AMP

[2018-07-20 15:59] cvazac commented on #12598
What are you seeing now @jamesshannon? Can this be closed?

[2018-07-20 16:16] #16936 closed

[2018-07-20 16:41] JakobEichler commented on #11434
I'd like to execute this assignment, but I get this error:

<form id="show-more-form-default-search" method="POST" action-xhr="<?php echo $srcSearch?>" on="submit-success: AMP.setState( {
            searchMeta: { offset: searchMeta.offset + 10 },
            defaultParkingPlaces: {
                my_response: [ {
                    items: defaultParkingPlaces.my_response[0].items.concat(  event

[2018-07-20 16:44] jamesshannon commented on #12598
Yeah. I think the remaining domains were just a function of the latencies in grepping the internet.

[2018-07-20 16:44] #12598 closed

[2018-07-20 16:52] #16666 closed

[2018-07-20 16:55] #16901 closed

[2018-07-20 17:03] jeffjose opened #16971 "Cleanup google/amp-client-id-library"
With the upcoming AMP Link ID decoration (#16737), AMP Client ID would be rendered redundant.

Cleanup https://github.com/google/amp-client-id-library

[2018-07-20 17:08] sparhami commented on #12262
I wasn't able to reproduce this on iOS 11. Perhaps this only occurs on iOS 9 or 10?

It seems a bit odd that the loading class would remain as the the timeout should eventually trigger even if using the font loading fallback.

[2018-07-20 17:36] choumx commented on #11434
Can you post an example of this large expression please?

[2018-07-20 17:38] choumx commented on #5599
It's a performance enhancement that's enabled by default, no need to opt-in.

[2018-07-20 17:45] dvoytenko commented on #16004
This has been fixed by the partner.

[2018-07-20 17:45] #16004 closed

[2018-07-20 17:51] sparhami commented on #16860
Did some testing on jsbin (e.g. https://output.jsbin.com/vahilutaxu/). Some findings:

- `scrollIntoView` works for fixed position elements on Firefox, Safari and Chrome
- `scrollIntoView` works for nested scroll containers on Firefox, Safari and Chrome
  * The smooth behavior works well on Chrome: it scrolls the container smoothly in to view, then the item in the container
  * The smooth behavior

[2018-07-20 17:56] aghassemi commented on #16860
:( https://bugs.webkit.org/show_bug.cgi?id=161611

[2018-07-20 17:57] #16956 closed

[2018-07-20 18:04] dvoytenko commented on #11603
Closing this due to some compatibility/clarity on this issue. Please chime back in with more details to re-open.

[2018-07-20 18:04] #11603 closed

[2018-07-20 18:05] dvoytenko commented on #11445
I'm closing this issue. I believe #16755 will address this sufficiently going forward.

[2018-07-20 18:05] #11445 closed

[2018-07-20 18:06] #13708 closed

[2018-07-20 18:06] dvoytenko commented on #11417
I added the visual tests for my components. However, `amp-user-notification`, `amp-image-lightbox`, etc - do not belong to me. Closing.

[2018-07-20 18:06] #11417 closed

[2018-07-20 18:07] #13695 closed

[2018-07-20 18:08] dvoytenko commented on #11403
Closing this for now given the @sebastianbenz 's solution above. Please chime in with more comments to reopen.

[2018-07-20 18:08] #11403 closed

[2018-07-20 18:09] dvoytenko commented on #10866
Closing in lieue of layer system.

[2018-07-20 18:09] #10866 closed

[2018-07-20 18:09] dvoytenko commented on #10784
@aghassemi could you pls retriage with @choumx to see if hover is something we could support for our UI elements.

[2018-07-20 18:10] zhouyx commented on #16076
Will work on this after #16916 is merged

[2018-07-20 18:10] dvoytenko commented on #10705
@choumx this is the "roots" project essentially. Please re-triage/prioritize/assign.

[2018-07-20 18:12] dvoytenko commented on #10647
@rudygalfi @ericlindley-g please decide go/no-go and prioritize.

[2018-07-20 18:12] rudygalfi commented on #10647
@ericlindley-g: Can you take this one?

[2018-07-20 18:13] dvoytenko commented on #10568
@ericlindley-g could you pls reach out to the vendor?

[2018-07-20 18:13] dvoytenko commented on #10406
Fixed.

[2018-07-20 18:13] #10406 closed

[2018-07-20 18:14] dvoytenko commented on #10356
Deduping this issue to #13819.

[2018-07-20 18:14] #10356 closed

[2018-07-20 18:14] dvoytenko commented on #9703
@keithwrightbos This has been fixed. Right?

[2018-07-20 18:15] #9490 closed

[2018-07-20 18:15] #9353 closed

[2018-07-20 18:16] zhouyx commented on #12052
@jasti

This sounds like a much more general issue with the iphone X. Has there been discussion about it?

[2018-07-20 18:16] #8464 closed

[2018-07-20 18:17] dvoytenko commented on #8215
To @choumx to reprioritize.

[2018-07-20 18:18] #7570 closed

[2018-07-20 18:18] #7424 closed

[2018-07-20 18:18] #7389 closed

[2018-07-20 18:18] #6583 closed

[2018-07-20 18:19] dvoytenko commented on #6386
/to @ericlindley-g to prioritize/decide go/nogo

[2018-07-20 18:20] bpaduch commented on #5866
@erwinmombay - any further info on this?

[2018-07-20 18:20] JakobEichler commented on #11434
`<form id="show-more-form-default-search" method="POST" action-xhr="<?php echo $srcSearch?>" on="submit-success: AMP.setState( {
            searchMeta: { offset: searchMeta.offset + <?php echo $limitShowMore?> },
            defaultParkingPlaces: {
                my_response: [ {
                    items: defaultParkingPlaces.my_response[0].items.concat( event.response.items),

[2018-07-20 18:29] ericlindley-g commented on #10568
Sure — I'll take a look at some of the options to get in touch. It's a promising sign that they have a [GitHub repo](https://github.com/Algolia)

[2018-07-20 18:32] #11154 closed

[2018-07-20 18:38] choumx commented on #16832
@rsimha Is this still an issue? Looks like this probably wasn't the cause of master redness in hindsight.

[2018-07-20 18:40] rsimha commented on #16832
Yeah, it might have been due to the breaking changes that @erwinmombay and @cramforce reverted.

Let's close this until it repros again.

[2018-07-20 18:40] #16832 closed

[2018-07-20 18:40] #12140 closed

[2018-07-20 18:40] choumx commented on #16721
This has been narrowed to a single test: `should only allow one action per event in invoke()`.

[2018-07-20 19:29] #15740 closed

[2018-07-20 19:29] Haroenv commented on #10568
I’m working at Algoli FWIW, would love to get some more info from someone on the team, was a bit confused by earlier responses

[2018-07-20 19:32] #5164 closed

[2018-07-20 19:36] nainar commented on #11225
Taking this on.

[2018-07-20 19:37] dvoytenko commented on #2968
@trodrigues Could you pls remind me: you don't currently do metering, do you? Metering is the real sticking point here. I see a lot of consensus that a signed/verifiable entitlement for subscribers is a good thing, but metering has been a harder issue.

[2018-07-20 19:39] ericlindley-g commented on #10568
Sorry about that — I should have read the thread more before jumping in.  @Haroenv and @dvoytenko , does it make sense for you to sync in a higher bandwidth channel like Slack or video chat? (e.g. design review)

[2018-07-20 19:43] #5888 closed

[2018-07-20 19:44] #16926 closed

[2018-07-20 19:48] cathyxz commented on #16926
Hi @jaygray0919 ! I took a look at the slack message--thank you so much for trying out this component. It seems that we are in a different time zone, so something there might be lost in translation, but I don't think your questions are directly related to this FR. Some of your questions can hopefully be answered by the documentation here: https://github.com/ampproject/amphtml/blob/6866417e8d550923

[2018-07-20 20:06] aghassemi commented on #8841
Reopening this. With both iOS and Chrome updating their UI controls, I see much less reasons to support custom designed controls in AMP.

Would be ideal if we can switch IMA to use native controls. Current blockers to do so are listed in the description of the issue.

[2018-07-20 20:09] Gregable commented on #8550
The new error message will be:
`Incomplete layout attributes specified for tag 'amp-img'. For example, provide attributes 'width' and 'height'.`

[2018-07-20 20:13] zhouyx commented on #15884
It is possible for publishers to include button to instruct accept/reject of consent. This should not be a dev error. I'll remove the error reporting in this case.

[2018-07-20 20:22] aghassemi commented on #16964
@shangdev The page is returning
`Response must contain the AMP-Access-Control-Allow-Source-Origin header` error which means your endpoint for submission has not implemented required AMP CORS headers.

Please see https://www.ampproject.org/docs/fundamentals/amp-cors-requests for details of what additional HTTP headers you need to return in the response.

[2018-07-20 20:22] #16964 closed

[2018-07-20 20:22] Enriqe commented on #15095
Taking a look at this one

[2018-07-20 20:29] aghassemi commented on #16875
@tusharbanerjee could you please provide more details?
/to @jasti

[2018-07-20 20:31] aghassemi commented on #16883
assigning to @lannka

[2018-07-20 20:36] aghassemi commented on #16917
/to @zhouyx
/cc @calebcordry

[2018-07-20 20:39] zhouyx commented on #12052
@outoftime Thank you for filing the issue.
I am closing this because it's not specific to AMP. Right now every sticky positioned element on the web will have this issue. We will fix the display of sticky positioned element in AMP once there's a standard approach.

[2018-07-20 20:39] #12052 closed

[2018-07-20 20:41] #9536 closed

[2018-07-20 20:43] zhouyx commented on #16917
As we talked, the replace-url v2 macro brings this regression.

[2018-07-20 20:53] fueledbymarvin commented on #16917
@aghassemi @zhouyx @calebcordry Thanks for investigating this. We've introduced a temporary fix on our end (so the reproduction won't work anymore), but we are eagerly waiting for the permanent fix and the replace url macros feature.

[2018-07-20 20:53] calebcordry commented on #16917
Yep, we knew that this was coming. You are right we wish we had a better syntax to indicate a macro, but anything we introduce now would be breaking. @fueledbymarvin would it be possible to use a lowercase `if`? Then the parser should ignore it.

[2018-07-20 20:54] fueledbymarvin commented on #16917
@calebcordry The output of base64 is determined by the input data. We cannot use lowercase `if` without corrupting the data.

[2018-07-20 20:56] calebcordry commented on #16917
Oh I see. Sorry, I read it as the `IF` was getting replaced before encoding. 😯. We will work on a fix.

[2018-07-20 21:01] calebcordry commented on #16917
@zhouyx @lannka What do you think about prefixing the `IF` macro? `AMP-IF`? It seems like all the shortest macros have a risk of collision like this. `IF` is the only two letter macro, there is one three letter. `NOT`, everything else is 4+.

[2018-07-20 21:09] jasti commented on #16875
@tusharbanerjee  It's an open beta, so you can sign up for a DFP account and try it out. You can find the instructions here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/single-page-ad.md

[2018-07-20 21:09] #16875 closed

[2018-07-20 21:22] newmuis commented on #16460
A few more issues:

1. Percy doesn't re-render the document for different sizes, it renders at [one size](https://github.com/ampproject/amphtml/blob/master/build-system/tasks/visual-diff.js#L37) and then re-uses a snapshot of the DOM with a different viewport size to generate the other screenshots.  This is problematic because we actually use JavaScript to change the DOM on resize.
2. The height o

[2018-07-20 21:23] nainar opened #16995 "Add unit/integration tests for <amp-lightbox>"
There are none. 💩

[2018-07-20 21:24] honeybadgerdontcare opened #16996 "Output which files are fixed when running `gulp lint --fix`"
Currently `gulp --fix` silently fixes files without informing the user which files were changed.

It would be nice to have a message in the output listing the files that were changed.

E.g.:
[code]

[2018-07-20 21:31] lannka commented on #8097
Not true for doubleclick anymore. you can use `data-override-width` to provide a different width.
see [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/amp-ad-network-doubleclick-impl-internal.md#ad-size)

[2018-07-20 21:34] lannka commented on #8095
Closing this because doubleclick supports specifying ad dimension explicitly in AMP now: https://github.com/ampproject/amphtml/issues/8097#issuecomment-406732234

[2018-07-20 21:34] #8095 closed

[2018-07-20 21:42] glevitzky commented on #16955
+@lannka +@keithwrightbos

I'm still investigating, but here's some notes of what I found.

There appears to be two separate issues at play:

1. Repeated reflow caused by NO_CONTENT_RESPONSEs followed by collapse and then re-layout. What's triggering the re-layout is still a mystery. Removing `layout="responsive"` right before issuing the ad request seems to stop it, however.
2. The creative appea

[2018-07-20 21:47] choumx commented on #16933
Looks like the app banner is gated by `amp-access`. Perhaps being added dynamically prevents it from having the viewer header offset applied. Scrolling down then up fixes this issue.

[2018-07-20 21:55] zhouyx commented on #12052
Or we can use the [safe-area-inset-bottom](https://webkit.org/blog/7929/designing-websites-for-iphone-x/) css to give sticky-ad a padding value. But current i don't see many sticky ad use that's not AMP. Would need UX input. cc @jasti

[2018-07-20 22:04] calebcordry commented on #16126
Upon further investigation it appears this is a very hard problem. The use case looks something like this:
[code]
The idea is that a user wants to send a ping to a dynamic domain. This is a problem without the whitelist because something like `https://www.example.com` will get `encodeURIComponent` called on it resulting in `https%3A%2F%2Fwww.example.com`

My original thought was that we could chec

[2018-07-20 22:05] lannka commented on #16917
Prefixing sounds good. Let's prefix all of them with an non-base64 char, for instance`$`.

[2018-07-20 22:14] #16801 closed

[2018-07-20 22:19] zhouyx commented on #16965
@vipin08 The image request is sent out correctly. But Comscore return a 204 No Content response and that's the reason the warning was thrown.
![image](https://user-images.githubusercontent.com/5419904/43027592-27574ce8-8c30-11e8-835c-7bc4a330dbec.png)

amp-analytics provides a `suppressWarnings ` setting that can be used to suppress this kind of warnings. Please refer to the [document](https://git

[2018-07-20 22:19] #16965 closed

[2018-07-20 22:30] kevinkassimo commented on #14516
Seems that after verify XHR done here,

https://github.com/ampproject/amphtml/blob/4389e91335ca4bd22f3a3a9b9cc9155f62d62dbd/extensions/amp-form/0.1/amp-form.js#L290

in the following line,

https://github.com/ampproject/amphtml/blob/4389e91335ca4bd22f3a3a9b9cc9155f62d62dbd/extensions/amp-form/0.1/amp-form.js#L293

`e` has `e.target === [the selector]`,

https://github.com/ampproject/amphtml/blob/4

[2018-07-20 22:48] #15723 closed

[2018-07-20 22:52] #14775 closed

[2018-07-20 22:55] mrjoro opened #17001 "Status Update 2018-07-23"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-07-20 22:55] #16620 closed

[2018-07-20 23:28] #16996 closed

[2018-07-21 01:09] #4226 closed

[2018-07-22 00:45] newmuis commented on #16460
3 and 4 can be mitigated by writing custom loading CSS classes in the test HTML files themselves, hooking into the events triggered by `amp-story`.  2 we might be able to live with for now; at the very least, we can change the height of the story and just leave blank space at the bottom of the screenshot.  1 is by far the biggest problem because it means we cannot test both desktop and mobile.

[2018-07-22 10:45] AhsanE commented on #13471
Any updates on this? If we could use WebWorkers and canvas in AMP without loading an iframe, it would be great.

[2018-07-23 06:31] juanlizarazo commented on #13159
@newmuis I attempted to use `listenOnce` but that one removes the listener as soon as the event is received, it just executes each handler once for each event, e.g. next page would work just once.

So instead, I refactored this with [listen](https://github.com/ampproject/amphtml/blob/master/src/event-helper.js#L55) and stored the unlisteners than then are called in unlayoutCallback.

PR #17004 is

[2018-07-23 08:53] GildenAntonySIA opened #17005 "Spring web flow support for AMP"
## What's the issue?

**Java Spring Webflow event triggering from AMP page**

## How do we reproduce the issue?

If this is a bug please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else.  Then provide step-by-step instructions for reproducing the issue:

1. Step 1 to reproduce
2. Step 2 to reproduce
3. …

If this is a feature r

[2018-07-23 11:54] BenjaminAt10SQ opened #17007 "Intent-to-Implement: Analytics service configuration for Wipe Analytics"
This is an intent to implement a new vendor in amp-analytics: Wipe Analytics.

PR and additional information coming soon.

[2018-07-23 14:32] #16575 closed

[2018-07-23 14:32] kul3r4 commented on #16575
Closing this as I cannot reproduce it anymore

[2018-07-23 15:09] prateekbh opened #17011 "Cherry pick request for #16370 into #16527"
GitHub issue your cherry pick is fixing:

Issue #16370

PR that you are requesting a cherry pick for:
PR #16542

Release(s) you requesting this cherry pick into:

Release issues can be found at https://github.com/ampproject/amphtml/labels/Type%3A%20Release

If you are requesting a cherry pick into a production release you will most likely need to cherry pick into canary as well, otherwise when the

[2018-07-23 15:10] prateekbh commented on #16370
Re-opening as the cherry-picked changed did not changed the rule for

https://github.com/ampproject/amphtml/blob/aace0737e981310958244c18834f64426d8d3446/css/amp.css

[2018-07-23 15:18] cramforce commented on #17011
Approved.

[2018-07-23 15:58] jpettitt commented on #16903
Closing for lack of detail.

[2018-07-23 16:04] rsimha commented on #16460
The height and width of the viewport in which the local rendering step is done are currently hard coded, and used across all visual tests.

https://github.com/ampproject/amphtml/blob/dfa9a478b7f58a67c0a3f80a4f28fd7c225c4b3a/build-system/tasks/visual-diff.js#L37-L38

I'd imagine they can be set programmatically before snapshotting each page. Assuming this is possible, instead of doing the client-si

[2018-07-23 16:19] #15089 closed

[2018-07-23 16:30] #4824 closed

[2018-07-23 16:43] aghassemi commented on #17011
@prateekbh This will be cherry-picked into Canary that will become Prod tomorrow.

[2018-07-23 17:07] aghassemi commented on #17011
Since this is already in Canary and since Prod is 2 weeks old, plan is to promote Canary to Prod today instead of cherry-picking. /cc @choumx @erwinmombay

[2018-07-23 17:35] #16728 closed

[2018-07-23 17:37] newmuis commented on #16460
For the height, I think my issue is with the height of the screenshot, not necessarily the height of the viewport.  The screenshots aren't `100000px`, so I'm not sure where the height comes from.

[2018-07-23 18:06] #16215 closed

[2018-07-23 18:18] rsimha commented on #16460
10000 is the maximum viewport height. It's used so that snapshots capture the entire page. Smaller pages generate smaller snapshots.

[2018-07-23 18:36] bthomas16 commented on #16870
Thank you for the reply aghassemi.

The above code was just for sample purposes, and I am indeed calling on="submit-error: atc-error-modal"

However I kept receiving the error that my atc-modal does not work with the proper code in place `Target "atc-error-modal" not found for action [submit-error:atc-error-modal]`.

The workaround I have found also has its own set of problems: Wrapping amp-lightb

[2018-07-23 18:49] lannka commented on #6425
We might want to prioritize this given the autoplay is currently broken for inabox.

The current autoplay is using `PositionObserver` which might not always be available for inabox use cases. We should switch to `InterscetionObserver`.

[2018-07-23 19:16] gmajoulet opened #17017 "Story page to page navigation improvements."
Improve the amp-story navigation performance.
We're trying to improve the time between the user tap to navigate to the next page, and the actual moment where the next page is displayed and playing.

There are two areas we should look into:

#### (1) `story.switchTo_` method

Actual method responsible for displaying the next page, performing the play/pause/rewind/mute/unmute/... media operations, p

[2018-07-23 19:17] gmajoulet opened #17018 "Clean up amp-story-navigation-performance experiment"

[2018-07-23 19:39] newmuis commented on #16460
That's the issue I'm running into; even if I make the page "smaller", there appears to be a minimum height that is always used.  As such, I'm unable to make the page sufficiently small for my use case.

I just don't know where the minimum is coming from ☹️

[2018-07-23 19:54] rudygalfi commented on #16887
cc @jasti

[2018-07-23 20:06] zhouyx commented on #16887
Can we get more information to repro. Thanks.

[2018-07-23 20:21] #16880 closed

[2018-07-23 20:33] newmuis opened #17023 "Copying a link to the clipboard is broken in Firefox"
Steps to reproduce:

1. Open any story in Firefox, e.g. https://www.fifa.com/worldcup/visual-stories/goal-of-the-tournament-18-for-2018/
2. Click the link icon in the share menu
3. Open new tab and try to paste - nothing happens

It does, however, look like it's overwriting the clipboard with nothing

[2018-07-23 20:45] juanchaur1 opened #17024 "PWA error: null is not an object (evaluating 'e.ownerNode')"
## What's the issue?
In a multi shadow dow when swiping fast in an iOS device, the document doesn't initialize correctly causing the fix-layer to have a list of stylesheets with null values.
I believe there should be a check here:
https://github.com/ampproject/amphtml/blob/master/src/service/fixed-layer.js#L110

## How do we reproduce the issue?

You can go to: https://www.starwarsnewsnet.com/2018

[2018-07-23 20:53] juanchaur1 commented on #17024
I think this issue appeared after this commit: https://github.com/ampproject/amphtml/pull/15204

[2018-07-23 21:03] #15884 closed

[2018-07-23 21:05] dmvjs commented on #16029
Hi @pacoesni

It looks like right now `data-url` (not `data-share-url`) should do what you expect. This applies to `data-share-title` and any other `data-share-` params as well. We are updating our documentation and code soon but I wanted to give you a heads up. Please let me know if this resolves your issue and sorry for the delay!

[2018-07-23 21:40] asifashi1 commented on #7943
Hi, I am also face same issue and using Better Amp plugin, Can anyone guide me how can I resolve this issue.

[2018-07-23 22:11] zhouyx commented on #16887
Tested with `<amp-consent>` and `<amp-user-notification>`. The focus was lost after interacting with the two components.

[2018-07-23 22:54] gmajoulet opened #17030 "Story cta-layer positioning can be abused"
Setting a `padding` on the `amp-story-cta-layer` allows publishers to position their links outside of the zone we initially provide, by pushing the 20% zone on the screen.
With a bit of CSS magic, publishers could also use `padding` rules to make this zone as big as they want.

See: [screenshot](https://user-images.githubusercontent.com/1492044/43107065-555fcc16-8ea9-11e8-81bd-054607fda4f8.png)

[2018-07-23 22:55] jasti commented on #12052
@zhouyx and I briefly chatted about this and this is WAI since it's a problem covering content on any other AMP or non-AMP and ads shouldn't necessarily be treated differently in this context.

[2018-07-23 23:31] jasti commented on #13547
Assigning to @glevitzky, @bradfrizzell to verify.

[2018-07-23 23:33] jasti commented on #10937
@tlong2 @charliereams Does the AdSense responsive tag already support this behavior? Basically, if AMP removes the 100px height restriction, do we expect things to just work?

[2018-07-23 23:34] jasti commented on #14727
@calebcordry would you be able to send a quick PR for this please?

[2018-07-23 23:45] jasti commented on #16848
Please see instructions here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/single-page-ad.md

[2018-07-23 23:45] #16848 closed

[2018-07-23 23:50] aghassemi commented on #17024
@juanchaur1 Thanks for the report. Sorry about the regression.

/to @jridgewell

Setting to P1 for now since breakage is limited to certain user interactions on PWA+AMP. If anyone believes this should be P0, please let us know.

[2018-07-23 23:54] jasti commented on #15651
@QES we are happy to collaborate with your CMP to provide an AMP compatible IAB solution. Please have them express interest here:  https://github.com/ampproject/amphtml/issues/15653

[2018-07-24 00:00] sparhami commented on #16743
This should be live now, sorry for the confusion!

[2018-07-24 00:00] #16743 closed

[2018-07-24 00:01] jasti commented on #16856
@tlong2 would know best.
Separately, I wonder if we can just pick a common, most popular static size for the first ad on the page to avoid reflow and know for sure they'll be fill.

[2018-07-24 00:04] jasti commented on #8941
I had talked to @lannka a while ago about this and we arrived at this solution for implementation: https://github.com/ampproject/amphtml/issues/8941#issuecomment-331550222
@zhouyx could you connect with @lannka to see if that is still feasible?
We can prioritize it for the next sprint.

[2018-07-24 00:33] aghassemi commented on #16870
Thanks @bthomas16

/to @cvializ to investigate and prioritize.

[2018-07-24 00:36] aghassemi commented on #16669
In prod.

[2018-07-24 00:36] #16669 closed

[2018-07-24 00:37] #16488 closed

[2018-07-24 01:23] sparhami opened #17035 "Loading indicator not showing for non-built elments"
Loading indicators not shown until elements are already built. They should be present for extensions that are opted-in, even before the extension has loaded. The current behavior contradicts this comment in the code: https://github.com/ampproject/amphtml/blob/955a72276ac78ed1257e5516ab3adef06ae68e68/src/layout.js#L93-L94

The above logic living in v0.js is not actually useful since the loader is n

[2018-07-24 06:16] manoharir commented on #11779
Hi, i am facing same issue. how did you overcome this issue?

[2018-07-24 08:31] charliereams commented on #10937
From a serving point of view, I expect it will work. I'm not sure we really want to support sticky ads on desktop though, the demand for such small sizes is probably very low and we don't generally offer sticky ads outside of mobile. (The UI, for example, is designed with mobile in mind.)

[2018-07-24 08:51] deshbandhu opened #17036 "Allow wwwnc protocol in URL validation in addition to www"
We are getting this error **Invalid URL protocol for HTML attribute 'href' in tag 'a'**
while validating the amp page where this link exists

`<a href=”https://wwwnc.cdc.gov/travel/”>Test link</a>`

The error seems to be for **wwwnc** protocol which is being used in https://wwwnc.cdc.gov/travel/ and is a right link though.

[2018-07-24 10:17] neko-fire commented on #8264
Hi @alanorozco, this is intended behaviour.

[2018-07-24 10:43] sryze commented on #10262
How are we supposed to have dropdowns with images inside that open on hover? Is this not supported at all?

[2018-07-24 12:14] gmacar commented on #16029
I am also interested in this bug, which becomes very annoying when the page is delivered through Google's CDN; the extension gets an address such as
`https://www-example-com.cdn.ampproject.org/v/s/www.example.com/address-of-the-amp-page.html?amp_js_v=0.1&usqp=mq331AQECAEoAQ%3D%3D`

[2018-07-24 13:55] juliavallina commented on #15553
I have a similar example that reproduces this issue: `amp-img` are not loaded inside an `amp-lightbox` with `scrollable` attribute. This example doesn't have an `amp-list`, it uses `amp-bind` and `setState` to manipulate element's visibility inside the lightbox.

The code is this jsfiddle https://jsfiddle.net/evg6h532/29/ and you can access the example using this url https://lightbox-amp-test.netl

[2018-07-24 14:07] fstanis opened #17038 "<amp-mathml> seems to only work with TeX"
## What's the issue?

It seems that using MathML or AsciiMath in the `data-formula` field for `<amp-mathml>` doesn't display anything, despite the fact they are supported by MathJax.

## How do we reproduce the issue?

[code]

## What browsers are affected?

Tested on Chrome and Firefox.

## Which AMP version is affected?

Tested with 1531800879103.

[2018-07-24 14:07] fstanis commented on #17038
@adamsilverstein mind taking a look? I tried looking at the generated iframe and it seems that the div with `id="mathmlformula"` is being correctly generated, but nothing is displayed.

[2018-07-24 14:16] newmuis commented on #16512
Here's a simpler approach, with examples:

1. At build time, scan the document for all elements that are clickable.
2. Apply a marker class/attribute that indicates that the element can trigger a tooltip
3. Serialize the action into the DOM node, as a custom attribute
4. Remove the original action from the DOM node

Take this example:

[code]

We could do something like:

[code]

Which would yield

[2018-07-24 14:21] fstanis opened #17039 "Disable right click on <amp-mathml>"
## What's the issue?

It seems that the formulas produced by MathJax in `<amp-mathml>` have a right-click menu, which is inconvenient for two reasons:

- The iframe containing it is too small, so the menu is not visible.
- Right-clicking and creating the menu seems to change the layout and add some padding, making part of the formula invisible.

[Per the docs](http://docs.mathjax.org/en/latest/opt

[2018-07-24 14:30] taojing10 commented on #16029
Hi @gmacar https://www.ampproject.org/docs/fundamentals/discovery, this one may help

[2018-07-24 14:34] adamsilverstein commented on #17038
@fstanis Thanks for the bug report. Sure, I'll give it a test soon to see if I can tell whats happening.

[2018-07-24 14:59] danielrozenberg opened #17040 "Only install `puppeteer` and `@percy/puppeteer` as dev dependencies when running `gulp visual-diff`"
As @rsimha [found out](https://github.com/ampproject/amphtml/pull/16390#issuecomment-405761791), these two dependencies combined are ~220 mb, when all other dependencies are much smaller (totalling at ~5 mb)

We should have these only installed when running `gulp visual-diff`

[2018-07-24 15:05] pacoesni commented on #16029
@dmvjs Now is working smoothly. Thank you very much. AddThis it is an awesome plugin for AMP.

[2018-07-24 15:25] Enriqe opened #17042 "AMP Story - Can't navigate from first page"
Issue is reproducible in amp-version `1531800879103` when clicking on an article from Google Search results from an iOS device.

Steps to reproduce:
1. Enter private browsing mode
2. Type `cnn` in Google Search.
3. Click on "I am not my hair.." story.
4. Bug should be present.

[2018-07-24 15:30] newmuis commented on #17042
My first thought is that this is somehow related to prerendering; so far I've only seen this through Google's search integration, and not when directly accessing the document by URL.  It also seems that not every document is affected, which may suggest that the content of the document may have some relation to the bug (which, has happened in the past with prerendering).

[2018-07-24 15:46] danielrozenberg opened #17043 "I2I: AMP Build Artifacts Storage"
## Objective

Use the GitHub API and two new GitHub repositories to maintain and deliver artifacts of past AMP builds on Travis, to enable setting and using dynamic values in the build process (e.g., quickly mark certain tests as flaky to unblock contributors.)

## Background

Currently contributors to the AMPHTML repository are often blocked on Travis builds that fail for reasons that are not nec

[2018-07-24 15:53] jpettitt opened #17044 "amp-lightbox-gallery will not reopen"
Repro url http://localhost:8000/examples/article-with-lightbox-2.0-gallery.amp.html or https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-lightbox-gallery%2Fsource%2F

Click on an image to open the gallery, click X to close.  Subsequent image clicks do not reopen the gallery.

Chrome desktop 68 Mac and Linux, Safari desktop 11.1.2
Built: master and 153180087

[2018-07-24 15:56] rsimha commented on #17040
These could be installed (and cached) on Travis via `.travis.yml`. For local runs, we can add a prerequisite step to `gulp visual-diff` that does the install if it's missing.

[2018-07-24 15:58] alabiaga commented on #15866
I would like to discuss #15583, primarily #16761. A proposal to allow the form element to be used outside of the context of AMP

[2018-07-24 16:05] #17030 closed

[2018-07-24 16:06] harquail opened #17045 "amp-ad: clicking on an ad in safari causes the ad to disappear on returning to the page"
## What's the issue?
We're seeing this behavior on our ads in Safari, which may be related to the amp framework. After clicking on an ad and going back, the ad does not display

[amp_resize_after_click](https://drive.google.com/file/d/1EFhAva8CLqKIK54CyilOdmpQDmJdH_GY/view?usp=sharing)

## How do we reproduce the issue?

1. Visit https://qa.yieldmo.com/test/amp?ym_force_pname=&adResponseInput=&rf_

[2018-07-24 16:07] harquail commented on #17045
fyi @merrdy

[2018-07-24 17:21] lannka commented on #17007
Looking forward to your PR.

[2018-07-24 17:38] nainar commented on #16663
Fixed by above PR.

[2018-07-24 17:38] #16663 closed

[2018-07-24 17:58] #14727 closed

[2018-07-24 18:05] aghassemi commented on #17044
@cathyxz something regressed with this, let's treat as P1.

[2018-07-24 18:17] zhouyx commented on #8941
We will be reusing the `<amp-layout>` component as a container of the ad, and then ask publisher to reference the parent container within the `<amp-ad>` element.

[code]

A summary of approaches we decide not to proceed:

1. Using :before
Not applicable because `visibility:hidden` on `<amp-ad>`

2. Create one extra layer of container div within `<amp-ad>`
[code]
Not applicable because in this case

[2018-07-24 19:05] kienstra opened #17053 "<amp-img> sizes attribute behavior seems different from non-AMP <img>"
## What's the issue?
This might be the expected behavior. But it looks like the `<amp-img>` `sizes` attribute causes inline styling to be added to the `<amp-img>`, which can distort it.

And this seems to be different from the non-AMP behavior of a `sizes` attribute in an `<img>`.

## How do we reproduce the issue?

1. Add an `<amp-img>` to an AMP document, like in this bin: https://ampb.in/#-LICa

[2018-07-24 19:40] gmajoulet commented on #15675
Closed by #16811

[2018-07-24 19:40] #15675 closed

[2018-07-24 19:47] shimonenator commented on #16737
Are there any plans to provide this functionality to the first-party iframes? By first party iframes I mean any iframe with the same second-level-ish domain, like for an amp page with origin www.example.com loading an iframe from amp-static.example.com.

CC @choumx, @mattludwig, @pbakaus

[2018-07-24 19:48] gmajoulet commented on #17017
I just ran a few performance tests for the second item, and even if the code path could be more direct, it's done in under 1ms. I don't think it's worth refactoring for now.

[2018-07-24 20:46] zhouyx commented on #17045
I was able to reproduce with simulator back to safari 9.0

I noticed that whenever I had the console opened inspect the page, the issue was gone. And the previous ad was displayed before instead of the ad loader whenever the issue occurred. Given that I suspect that it has something to do with the Safari back-forward cache. I'll further investigate.

[2018-07-24 21:21] rsimha commented on #17040
A more urgent problem to fix: https://github.com/ampproject/amphtml/pull/16390/files#r204915317

[2018-07-24 21:55] #14006 closed

[2018-07-24 21:55] #16475 closed

[2018-07-24 21:55] #16464 closed

[2018-07-24 21:55] #16463 closed

[2018-07-24 21:56] #8550 closed

[2018-07-24 21:57] #16467 closed

[2018-07-24 21:58] #9306 closed

[2018-07-24 21:58] alin04 commented on #14006
This was merged in https://github.com/ampproject/amphtml/pull/17026

[2018-07-24 22:10] ericlindley-g commented on #15807
cc/ @jeffjose

[2018-07-24 22:14] choumx commented on #14006
Thanks for implementing this!

[2018-07-24 22:14] cramforce opened #17061 "Make source code postprocessing invariant to sourcemaps"
Current violations

- [x] `AMP_CONFIG` should get its own line
- [ ] `$internalRuntimeVersion$` gets replaced without updating sourcemaps. Could probably be changed to only use `AMP_CONFIG`
- [ ] `shortenLicense()` is run without updating sourcemaps.

[2018-07-24 22:20] newmuis commented on #17042
Lowering this to P1 since it only happens from Google's search viewer, for some (malformed?) documents, some of the time.

It looks like the story is built but not laid out (e.g. the `i-amphtml-layout-container` classes are not applied), so it must be short-circuiting somewhere in the layout callback.

One of the lines in the stack trace is from `bookend-component.js`, so I suspect that it may be

[2018-07-24 22:33] aghassemi opened #17065 "`amp-ima-video` seek UI needs to stop propagation and prevent default"
Currently if `amp-ima-video` is inside an `amp-carousel`, doing a seek with `touchmove` toward the left would swipe the carousel because it does not prevent default causing scroll events for carousel. it also needs to stop propagation so viewer does not swipe.

[2018-07-24 22:43] aghassemi commented on #17053
/cc @cathyxz

[2018-07-24 22:58] aghassemi commented on #16029
Thanks @dmvjs and @pacoesni.

Closing the issue as resolved.

[2018-07-24 22:58] #16029 closed

[2018-07-24 23:23] Enriqe commented on #17042
The source mapping seems to be misleading and pointing to different lines than it should (at least in Safari). The line pointing to `bookend-component.js` is actually pointing to

[code]

Looking at the minified version, this seems to point to the `amp-story.js` constructor, in the request service for amp-story:

https://github.com/ampproject/amphtml/blob/bdb4cfe9f9b534fc04fd0276e9bdbc4c645d44ab/e

[2018-07-24 23:31] newmuis commented on #17042
Probably not a coincidence that this error appears 21 times in a 21-page story.  Since the `PageAdvancement` is instantiated per-page, @Enriqe's analysis above could make sense.

[2018-07-24 23:37] calebcordry commented on #16334
We investigated this issue. You can reproduce using the example page located here https://gist.github.com/calebcordry/9ab3e27fcfddd9e34fb5419a86d18558

That gist has a bit of code at the very beginning that logs `window['__AMP_BODY_VISIBLE']` as the very first line of code that runs. AMP uses this property in the runtime to determine if the body is showing. On the good page loads this logs `undefi

[2018-07-24 23:59] cathyxz commented on #17053
We propagated `srcset` and `sizes` to `<amp-img>` in https://github.com/ampproject/amphtml/pull/14975. It looks like we need to remove some custom logic that is done for sizes in https://github.com/ampproject/amphtml/blob/2dcc8c25b433394d0ba72927fa91cb67e055ecfd/src/custom-element.js#L648-L655.

Probably the easiest way to do this for `<amp-img>` without killing anything else is to override the `a

[2018-07-25 00:04] aghassemi commented on #17053
We would still want `sizes` to be applied to `amp-img` I think one issue is that in AMP, sizes takes precedence over `width` and `height` but in `img`, `width` and `height` take precedence over `sizes`.  There may also be other inconsistencies.Essentially we need need to make sure `amp-img` is sized exactly as `img` is sized when it comes to `sizes` attribute ( but both need to get sized regardles

[2018-07-25 00:12] aghassemi commented on #17053
@kienstra In this particular example, you are using `layout=intrinsic` which works similar to` layout =responsive` and `width` and `height` are used calculate the aspect ratio and work as min-width/height but there final layout can definitely be bigger than the given width and height.
In short, that is not equivalent to `<img width="150" height="150" src="https://url">`. The equivalent would be `<

[2018-07-25 00:47] aghassemi commented on #16015
for now presentation works would be nice to have more labels though. cc @adelinamart since based on what I know adding new labels break some automation code.

[2018-07-25 01:59] kienstra commented on #17053
**Thanks!**

Hi @aghassemi,
Thanks a lot for looking at this. And good point that the `<img>` in the example would be more like `<amp-img layout=fixed width=150 height=150>`

[2018-07-25 02:45] samthor commented on #4853
As a drive-by comment: we implement this with an `amp-iframe` that just loads a tiny page containing a copy button with regular JS. We have a placeholder button in the top-level page, which is almost immediately replaced with the iframe.

[2018-07-25 02:56] choumx commented on #17061
Related: https://github.com/ampproject/error-tracker/issues/42#issuecomment-398132694

[2018-07-25 06:26] sayalok opened #17073 "Validate input field with readonly mode"
## What's the issue?

I have two input field on my form. i create different validation for each input which reason i use **custom-validation-reporting="show-first-on-submit"** . My first input is destination and second input is a calendar. when a user submit form   without the date i wanna show a validation message to user which i able to show perfectly .
But my issue is i get the cursor pointer o

[2018-07-25 07:02] ndahmani commented on #15730
Hi @lannka and @cramforce, hope you're well
Any news regarding the fix release? We would like to provide an ETA to some clients
Thanks!

[2018-07-25 07:10] omar-a-toma opened #17074 "Failed to construct 'Worker': Maximum worker number has been reached."
## What's the issue?

The issue is happening on UC mobile browser, amp-bind is thowing this exception
[code]

## How do we reproduce the issue?

1. Go to any page using amp-bind from uc browser Version: 12.8.0.1120, for example, https://iprice.my/nike/
2. You will see this error in the browser console
![image](https://user-images.githubusercontent.com/2816834/43184687-02d8375c-901c-11e8-8e39-70a44

[2018-07-25 09:07] psdtomanythings opened #17075 "amp-story: Title logo FR"
Attached is the video of previews by Netflix. I really love the way Netflix has a logo at the top referring to the slide whose content is being loaded . A data attribute for this ( something like data-story-header-logo ) will correspond to the logo image. This brings in a much better visual reference to the story.

![ezgif-3-b7f4e1e98f](https://user-images.githubusercontent.com/22929187/43190998-e

[2018-07-25 09:07] mchr3k commented on #13471
Can you comment on whether you intend to allow custom JS within AMPHTML ads?

[The AMPHTML ads spec](https://www.ampproject.org/docs/ads/a4a_spec) currently restricts AMPHTML ads to contain no custom JS. The only exception is whitelisted [MRC-accredited vendors](https://www.ampproject.org/docs/reference/components/amp-analytics) who can include arbitrary JS in a nested iframe.

The [AMPHTML ads la

[2018-07-25 10:02] felerticia opened #17076 "Parse json values as html"
I have a json file like this:

{
  items: [
    {
       FullImage: "87acaed5c90d.jpg",
       Title: "sometext",
       description: "`<p id="imagenews"><img src='something'></p>`" ,
    }
  ]
}
how can I insert description into a div as an html?

I tried
<div>{{description}}</div>
but it was treated as plain string!!!

[2018-07-25 10:28] ro2ni3 opened #17077 "amp-date-picker not properly minified due to copyright notice"
## What's the issue?
When we run lighthouse tests against our AMP pages amp-date-picker-0.1.js is being flagged as not being minified. I have checked https://cdn.ampproject.org/v0/amp-date-picker-0.1.js and it actually does look like it is minified except for the copyright notice which includes whitespace and new lines. I have checked the .js files for other components such as amp-list and amp-for

[2018-07-25 13:17] ro2ni3 opened #17079 "Lighthouse reports inefficient cache policy on AMP's js scripts"
## What's the issue?
When running Lighthouse tests against our AMP pages, one of the diagnostics warnings that comes up is the use of inefficient caching policy.
The caching policy on all amp js scripts seem to be too low for lighthouse. All of them are 7 days except for the v0.js which is 1 day.
Is this something that Lighthouse is too picky about and should be ignored? or is it something that ne

[2018-07-25 13:41] cramforce commented on #13471
@m1ck43l There are currently no plans to allow JS in AMPHTML ads and I don't see that happening, nor that it is necessary.

[2018-07-25 14:11] jpettitt commented on #17076
You can't. For security reason AMP doesn't allow insertion of raw html via templates.  The example you give demonstrates why, the `img` tag would make the page invalid AMP.

The way to do this is to put the html into the template and have the `img` url in the json file to populate the `src` attribute.

[2018-07-25 14:11] #17076 closed

[2018-07-25 14:13] jpettitt commented on #17077
The copyright notice is required by the license of the underlying code and cannot be removed. This is a misdetection by lighthouse.

[2018-07-25 14:15] #17077 closed

[2018-07-25 14:20] jpettitt commented on #17079
AMP is on a once a week release cycle so a 7 days cache time is appropriate.  When you load an amp document via the amp cache we substitute a versioned url with a longer cache time.  There are two exceptions `v0.js` which is deliberately shorter to allow for high priority fixes and `amp-geo.js` which has a 30 minute lifetime because it is patched with the users current country when served.

So yes

[2018-07-25 14:20] #17079 closed

[2018-07-25 15:06] ro2ni3 commented on #17077
Is it possible to remove carriage returns and whitespace from the copyright?

[2018-07-25 15:09] ro2ni3 commented on #17079
So there is no versioning of amp scripts then, which means that everyone using 0.1 may get broken.

[2018-07-25 15:37] eduardcotmrf opened #17081 "Outbrain amp-ad resizing to 1px"
We are facing a strange situation where an amp-ad of type outbrain is resizing to 1px sometimes. This is the amp-ad:

[code]

It seems like the creativity it's loaded but sometimes it loads also another widget called BTD_1 that inserts itself outside the body of the amp-ad.

![screen shot 2018-07-25 at 17 12 08](https://user-images.githubusercontent.com/23262331/43210999-d5ea9d10-9030-11e8-99d6-d9

[2018-07-25 15:41] mcmd opened #17082 "Allow amp-date-picker to select a date period starting and ending on the same day"
## What's the issue?
amp-date-picker doesn't allow to select a date period starting and ending on the same day

![image](https://user-images.githubusercontent.com/868584/43206586-029468cc-901e-11e8-8bf7-03a94a6e409a.png)

This feature would be needed, for example, for:
- Selling return airplane tickets on the same day (not unfrequent with business travelers)
- Booking a car just for one day
- Esta

[2018-07-25 15:57] danielrozenberg commented on #15866
I would like to discuss to issues:
* #16631, a proposal to change release version numbers to be predictable and dependent on commit times, instead of the time that the release is being built (short, probably 5-10 minutes)
* #17043 modifications to the Travis build process to make it easier to mark flaky tests as flaky, and to change the bundle-size max value, both without requiring changes to amph

[2018-07-25 16:04] mpaw commented on #10230
Are there any updates on when this will be resolved? We were hoping for a fix in June as stated by @ericlindley-g back in April. We're getting into August now.

The lack of dynamic resizing is preventing us from being able to give our AMP visitors a similar experience to regular web visitors on our article pages.

[2018-07-25 16:12] jarek-gilewski commented on #10230
I'am also waiting for an update. Dynamic resizing is highly required for my project.

[2018-07-25 16:21] patrickhulce commented on #17077
For the record, this was indeed a bug with Lighthouse's JS parser, esprima. LH is 1000% onboard with keeping copyright notices in code :)

[2018-07-25 16:21] aghassemi commented on #10230
@jarek-gilewski There is a PR open for this and we are currently testing it.
@cathyxz see https://github.com/ampproject/amphtml/issues/10230#issuecomment-395330906 for a demo Url from @jarek-gilewski to test with.

[2018-07-25 16:24] hellofromtonya opened #17084 "Wide images are overflowing with <amp-img> but not with non-AMP <img>"
## What's the issue?

Wide `<amp-img>` images overflow the content area when its parent element has a width of `fit-content`.  Behavior is consistent with fixed, intrinsic, and responsive layouts.

The same images in non-AMP `<img>` do not overflow the content area.

## How do we reproduce the issue?

I've set up a demonstration of the [AMP behavior](https://paired-ampconfdemo.pantheonsite.io/2018

[2018-07-25 16:54] mchr3k commented on #13471
Thanks for the update. I’m glad to hear that!

[2018-07-25 16:57] harquail commented on #17045
The same creative works outside of amp (eg. https://qa.yieldmo.com/test/cop?ym_force_pname=&adResponseInput=&rf_force_lf=&rf_force_p=1300637378475834068&ym_force_configuration=&environment=COP). We can do more investigation on our side to see what the root cause is.

[2018-07-25 16:59] AhsanE commented on #13471
@cramforce Are there any plans to introduce canvas in AMP via WebWorkers?

[2018-07-25 16:59] mrjoro commented on #15865
Since there are no topics for this week's design review we'll cancel it.

[2018-07-25 16:59] #15865 closed

[2018-07-25 17:14] rsimha opened #17086 "Adopt `prettier` for code formatting"
https://github.com/prettier/prettier

[2018-07-25 17:14] rsimha commented on #17086
/cc @kristoferbaxter @cramforce

[2018-07-25 17:42] #15794 closed

[2018-07-25 17:54] ericlindley-g commented on #17082
Thanks for filing this — definitely a feature gap we should address.

/cc @aghassemi

[2018-07-25 18:09] adelinamart commented on #16015
If you use 'Category: ' format should be fine. I will advise not to have too many labels though and try to group under bigger categories.

[2018-07-25 18:35] #15959 closed

[2018-07-25 19:00] Enriqe opened #17093 "amp-story is taking full screen in desktop"
Instead of showing the 3 card layout with a card in the middle and two on the sides, the active page is being expanded to full-screen, without showing the other cards on the sides or the background.

Seen:
![image](https://user-images.githubusercontent.com/5449100/43221707-a8b66320-901b-11e8-9dad-3452f43866ad.png)

Expected:
![image](https://user-images.githubusercontent.com/5449100/43221740-c3d03

[2018-07-25 19:00] Enriqe commented on #17093
/cc @newmuis

[2018-07-25 20:01] choumx commented on #17084
/to @aghassemi

[2018-07-25 20:01] choumx commented on #17081
/to @lannka

[2018-07-25 20:02] choumx commented on #17075
/to @newmuis @vinaymahag

[2018-07-25 20:11] choumx opened #17095 "Canary error: "Uncaught TypeError: Cannot read property 'nodeType' of null""
[code]

Probably caused by `getAmpDoc()` in element constructor (only available in `buildCallback()`): https://github.com/ampproject/amphtml/blob/52b62f88ac1ecaf6b8df5a79b6feaaa4653a1209/extensions/amp-list/0.1/amp-list.js#L94

[2018-07-25 20:11] choumx commented on #17095
/to @alabiaga

[2018-07-25 20:29] jaygray0919 commented on #17038
In our experience, the only technique that works is `data-formula='\[x\] `. Earlier, this failed, but the AMP team fixed the issue. It renders below in the sentence: "where T is the number of words in the ingredient phrase x"
  https://afdsi.org/test/amp_mathml_1/

[2018-07-25 20:30] lannka commented on #17081
This seems to be an "outbrain" issue. Did you get a chance to report the bug in their channel?

+ @lironzluf who implemented the "outbrain" plugin.

[2018-07-25 20:37] lironzluf commented on #17081
@eduardcotmrf Please submit this issue through your Outbrain account manager as this is not an AMP issue.

Thanks @lannka, feel free to close this.

cc: @urielster @tomerlevy1

[2018-07-25 20:45] #9971 closed

[2018-07-25 20:57] choumx commented on #17073
/to @cvializ

[2018-07-25 20:57] #17011 closed

[2018-07-25 21:01] #17093 closed

[2018-07-25 21:04] choumx opened #17097 "🚄 Release tracking issue for 1533058547995 (Canary)"
### **Please Note:** This week's release is delayed. `Current ETA is Thursday August 2, 11 AM PST (6 PM UTC)`

# Release tracking issue

- [x] Release [1532461037969](https://github.com/ampproject/amphtml/releases/tag/1532461037969) is cut as a new canary release
- [x] Release 1532461037969 pushed to dev channel (2:49 PM, Jul 25, 2018 UTC-4)
- [x] Release [1532641868525](https://github.com/ampproj

[2018-07-25 21:05] newmuis commented on #17075
/cc @hongwei1990

[2018-07-25 21:08] cpapazian opened #17099 "FR: amp-analytics: when batching requests, allow forced flush queued requests"
## What's the issue?

Batched requests are great! However, they would be even greater if there a way to force a queued batch of requests to flush. We were hoping that setting `important: true` would flush all requests in the queue when the "important" trigger was sent, but it looks like that just sends a single request.

## How do we reproduce the issue?

1. Set up AMP analytics with batching. Som

[2018-07-25 21:09] newmuis opened #17100 "🌸 Cherry pick request for #17094 into #17097 (Pending)"
**GitHub issue your cherry pick is fixing:**

Issue #17093

**PR that you are requesting a cherry pick for:**

PR #17094

**Release(s) you requesting this cherry pick into:**

Release Issue #17097

Production Release? NO
Canary release? YES  Release Issue #17097

This breaks `amp-story` on desktop, making the experience look incorrect and/or broken (potentially with very bad crops) for all users u

[2018-07-25 21:13] #16917 closed

[2018-07-25 21:17] cvializ commented on #17073
Thank you for opening this issue! If I understand correctly, if you make both fields `readonly`, the custom validation message doesn't appear because the form submits and the page navigates even though the fields are empty. Is that a correct summary of your issue? I will investigate.

[2018-07-25 21:22] newmuis opened #17103 "Disable margin-top for initial bookend heading"
The first heading in the list comes below the sharing section, which has its own spacing.  The double spacing ends up looking very large:

![screen shot 2018-07-25 at 5 20 52 pm](https://user-images.githubusercontent.com/1651960/43228310-37e3226e-902f-11e8-9d49-672ff1f61e39.png)

[2018-07-25 21:30] choumx commented on #17074
It looks like that website is loading another AMP page in a background `<amp-iframe>` element. Both pages use amp-bind, which results in two web workers being loaded. This may exceed UC Browser's supported limit, hence the error.

@omar-a-toma Do you maintain that website? If so, why is the `<amp-iframe>` needed?

[2018-07-25 21:39] #16107 closed

[2018-07-25 21:39] #16519 closed

[2018-07-25 21:43] lannka commented on #17081
Thanks for the quick response.

[2018-07-25 21:43] #17081 closed

[2018-07-25 21:43] choumx commented on #17099
/to @zhouyx

[2018-07-25 21:53] rsimha opened #17105 "Allow visual tests to selectively run against `canary` and `prod`"
Today, all visual tests run against the `canary` and `prod` AMP configs. This is wasteful because for most components that are already released, there is no difference in their behavior across the two configs. Allowing tests to specify which config they want to run against will significantly speed up `gulp visual-diff` on Travis.

[2018-07-25 22:11] rsimha commented on #17105
It turns out that visual tests take [~8 minutes](https://travis-ci.org/ampproject/amphtml/jobs/408262513#L617) to run on Travis today. This duration be significantly reduced without any loss in testing effectiveness.

[2018-07-25 22:31] addiea23 opened #17107 "Clean up blurry-placeholder experiment"
- Tracks up clean up work for #15146.

[2018-07-25 22:39] zhouyx commented on #17099
@cpapazian Thank you for filing the feature request. This is exactly how we design and implement the `important: true` feature.

I just tested with the config you provided, and I was able to see the visibility event trigger sent out together with the click trigger before 10 sec.
![image](https://user-images.githubusercontent.com/5419904/43231347-e3b719b0-9020-11e8-9eeb-200bf970eab8.png)
See that t

[2018-07-25 22:44] cramforce commented on #17100
Approved

[2018-07-25 23:23] newmuis commented on #17075
Hi @psdtomanythings, much of this can be achieved by placing elements at the top of the `amp-story-page` and using `fly-in` animations.  Tying this to the progress bar segments is probably out of scope at the time.

Does placing this inline work for your use case?

[2018-07-26 00:19] newmuis opened #17108 "getMode().test should be true for visual tests"
/cc @rsimha

[2018-07-26 00:38] #17095 closed

[2018-07-26 03:27] samthor opened #17112 "Preload on link hover"
## What's the issue?

I'd like to have a way to preload future pages based on some conditions. One of those conditions could be the user hovering their cursor over a link. This could create a `<link rel="preload" ... >` and add it to the current page's header.

Maybe this could be configurable or only support URLs on the same domain.

## How do we reproduce the issue?

[Demo here](http://water-min

[2018-07-26 04:08] omar-a-toma commented on #17074
Thanks for your reply.
Yes, I am gonna check with the team about the reason for that but I see there is a potential for improvement in this part.
@choumx Do you think this can solve that issue with UC browser?

[2018-07-26 04:58] kristoferbaxter commented on #17086
Request: Look at removing all the ESLint rules regarding formatting at the same time.

[2018-07-26 05:46] choumx commented on #17112
Might be a nice feature that individual links could opt into, but I wonder how often (and for how long) users let cursors hover over links before clicking in practice. We'd also want to only trigger preload after some small latency to avoid false positives, which reduces the benefit.

Do you have any data on this? Or case studies, precedence, etc.

[2018-07-26 07:06] fred-wang commented on #12800
@aghassemi Just for the record, this link is obsolete (it was able enabling an old WebKit implementation that was finally removed). The current plan is https://bugs.chromium.org/p/chromium/issues/detail?id=6606#c61

[2018-07-26 09:09] dotBits opened #17115 "amp-accordion validation fails to identify valid secondary tags"
## What's the issue?

An AMP page with amp-accordion is considered invalid by online Google validator even if it adheres to amp-accordion specs https://www.ampproject.org/docs/reference/components/amp-accordion

## How do we reproduce the issue?

1. [Look at Google validation result](https://search.google.com/test/amp?id=DGq-Pjfdj6tCaFEYCl8nGA&skip_amp_follow=true)
2. [Open the AMP page](https://a

[2018-07-26 11:06] evrenselgzt commented on #16786
@newmuis I'm talking about these real stories: https://www.ampproject.org/stories/

[2018-07-26 11:32] sayalok commented on #17073
Yes , that is the issue. thanks

[2018-07-26 12:03] craigscott29 commented on #17115
I just took your page code over to the AMP by Example playground and everything appears valid there, but there is a floating closing paragraph tag near the bottom of amp-accordion. I doubt that solves the problem you're having but worth a shot perhaps.

![image](https://user-images.githubusercontent.com/33098508/43261258-71aace88-90b2-11e8-896f-dc8cca031247.png)

[2018-07-26 12:57] fstanis commented on #17038
Thinking about it, it seems that the current approach (`data-formula` attribute) is a bit inconvenient for MathML specifically, since the whole thing requires HTML Entities encoding.

Perhaps it would be better if the formula could be inside `<amp-mathml>` as well:

[code]
should behave the same as
[code]

This has the added value of potentially bypassing MathJax completely for browsers with nativ

[2018-07-26 13:07] milkovsky opened #17116 "Support dynamic height for amp-carousel with slides"
**Given**: there is an amp-carousel with slides. Each slide can contain both text and images.
**Current issue**: The height of the carousel is not dynamic, some slides have too many white space, some slide content is cut off.

**Actual result**:
![slideshow--fixed-height](https://user-images.githubusercontent.com/1665580/43264074-5b994a6a-90e5-11e8-93e6-4b56358d5bc0.gif)

**Expected**:

![slidesho

[2018-07-26 13:08] milkovsky commented on #17116
Here is what I tried in CSS, but these modifications make my AMP page invalid:
[code]

[2018-07-26 14:28] roelvanhoof opened #17117 "amp-accordion with animate flickers"
## What's the issue?

If you create an amp-accordion with multiple sections and give the accordion the animate property every section except the last one flickers when clicked. This problem is visible on the ampbyexample website too (https://ampbyexample.com/components/amp-accordion/) in the section Animated Accordions

## How do we reproduce the issue?

Just look at the ampbyexample website

## W

[2018-07-26 14:40] dotBits commented on #17115
thanks @craigscott29 for pointing out this small useless closing tag.
IMO it should not make the page invalid anyways...

[2018-07-26 14:48] craigscott29 commented on #17115
No problem! :)

I have seen weirder things invalidate a page before, so figured it was worth a shot.

[2018-07-26 16:07] RonnieWinter opened #17119 "amp-date-picker uses deprecated window.webkitStorageInfo"
## What's the issue?

When running Lighthouse tests against our AMP pages, there is a warning on amp-date-picker-01.js saying that it is using window.webkitStorageInfo (line 140) which is deprecated.
It says that navigator.webkitTemporaryStorage or navigator.webkitPersistentStorage should be used instead.

![screen shot 2018-07-26 at 17 06 10](https://user-images.githubusercontent.com/32260852/432

[2018-07-26 16:11] rsimha commented on #17086
@kristoferbaxter Yes, the goal is to replace all `eslint` style rules, while retaining all the coding guideline rules.

[2018-07-26 16:32] aghassemi commented on #17117
Thanks for the report @roelvanhoof
/to @cathyxz @sparhami to take a look.
setting to P2 - Soon since it is related to quality of a newly released feature

[2018-07-26 16:36] choumx commented on #17115
The [source](https://search.google.com/test/amp?id=DGq-Pjfdj6tCaFEYCl8nGA&skip_amp_follow=true) passes JS validation but fails C++ validation, possibly due to a missing close tag somewhere. The amp-accordion error appears to be a red herring.

/to @Gregable

[2018-07-26 16:36] cvializ commented on #17119
I agree we shouldn't trigger browser deprecation warnings. Will investigate.

[2018-07-26 16:39] aghassemi commented on #17116
@milkovsky Thanks for the report.
I am not sure if shifting content below carousel is the best UX to solve this problem. Alternatives such as supporting expandable "description" same way we do for `amp-lightbox-gallery` should be considered. /cc @spacedino

/to @ericlindley-g @nainar to see if this fits prioritization in https://github.com/ampproject/amphtml/issues/16508

[2018-07-26 16:39] erwinmombay opened #17120 "move away from custom closure passes and transformation"
- [ ] babel DCE assert
- [x] babel constant transform
- [ ] eslint no-reassign-dev-user symbols
- [x] pre processing pipeline

[2018-07-26 16:41] erwinmombay commented on #17120
https://github.com/ampproject/amphtml/pull/17114

[2018-07-26 16:57] fstanis commented on #17038
Good point, understood. The current approach definitely works, though it makes me wonder if `amp-mathml` was the correct name to use, as opposed to something like `amp-formula`, `amp-math` or even `amp-mathjax`.

[2018-07-26 17:05] jaygray0919 commented on #14794
@babakbelur1819 the AMP Validator throws this error message: `The attribute 'expr:href' may not appear in tag 'a'.`

Any other ideas about how to achieve "Translate" in an AMP document?

[2018-07-26 17:11] cvializ commented on #14794
The `data:` and `expr:` prefixes are specific to the Blogger platform. I believe you can append the URL of your AMP document manually and it will work.

[2018-07-26 17:41] AutadeJS opened #17121 "AMP stories design spoiled on Chrome on Desktop"
## What's the issue?
AMP stories looking spoiled on Chrome on Desktop, while they are looking good on other browsers.

## How do we reproduce the issue?
Check any AMP story on Desktop on Chrome

## What browsers are affected?
Chrome 68

All browsers? Some specific browser? What device type?
Chrome only. On Desktop, Windows 10 OS

## Which AMP version is affected?
AMP stories

## Is this a new issu

[2018-07-26 17:42] TWsky opened #17122 "amp-instagram re-render when above the fold"
## What's the issue?

My partner has some UX issue while they're using < amp-instagram >.

As video [here](https://drive.google.com/open?id=1wbLpnyG77fiuFNfMvJJmHkb4V-ya1yNf) can see that amp-instagram draws the photo frame after it is above the fold, and it would make the UI re-flow + content position changed.

It's not because of giving the wrong width & height, since I've tried it and it still

[2018-07-26 17:43] zhouyx opened #17123 "Analytics: support SPLIT function"
Can we add support to `SPLIT` to the list of macros we have. There's no way to achieve feature like extracting the domain of the referrer now.

cc / @lannka @jeffjose @calebcordry

[2018-07-26 17:59] choumx commented on #17121
I think this is a dupe of #17093.

[2018-07-26 17:59] choumx commented on #17121
/to @newmuis

[2018-07-26 18:13] newmuis commented on #17121
@AutadeJS, do you have a screenshot of specifically what is broken?  Do you agree that the brokenness that you are seeing is what is outlined in #17093?

[2018-07-26 18:22] ericlindley-g commented on #17116
Agreed that the UX may not be optimal enough to undertake the effort and take on the maintenance cost of implementing this pattern. Keeping the feature request in order to track/discuss the use case and potentially the pattern itself, and will discuss to see if it fits into some of the current carousel optimization work.

[2018-07-26 18:23] diegosomar opened #17130 "The 'min-font-size/max-font-size' attribute in 'amp-fit-text' doesn't works inside an 'amp-list' block"
If I use the `<amp-fit-text>` WITHIN and `<amp-list>` with the attribute `min-font-size` or `max-font-size`, the rendered text not follow the font-size rule.

But, in the same page, if I put the same code OUTSIDE the `<amp-list>`, it works correctly.

In other words, I have an `amp-list` which has some items. The text within these items, sometimes exceed the item height. To solve this, I'm using t

[2018-07-26 18:34] choumx commented on #17122
I think this is working as intended. amp-instagram, along with a few other components like amp-twitter, do allow changing height in ways that can cause content jumping. This is because there's no good way to determine the height of the caption a priori.

The jumping may be reduced if `data-captioned` is removed, but not sure if that's acceptable to the partner.

[2018-07-26 18:43] choumx commented on #17122
/to @ericlindley-g

[2018-07-26 19:13] addieachan opened #17133 "New lint rules in build-system/eslint-rules aren't always copied to node-modules/eslint-plugin-amphtml-internal"
- Newly added lint rules weren't showing up in the node-modules/eslint-plugin-amphtml-internal folder which would cause gulp lint to fail
- Rules were seen in build-system/eslint-rules so there is a problem with linking
- Fixed locally by:
1) 'yarn unlink' in the build system/eslint-rules
2)  'yarn link' in the build system/eslint-rules
3) 'yarn link eslint-plugin-amphtml-internal' in the main dir

[2018-07-26 19:19] lannka commented on #17123
Would $REGEX be useful for this case? @calebcordry

[2018-07-26 19:36] zhouyx commented on #17123
`REGEX` sounds practical. Is it supported? I couldn't find it [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/variables.js#L134)

[2018-07-26 19:54] zhouyx opened #17137 "Ad related tests failure"
Unit tests are failing locally and on travis. Blocking other PRs.

https://travis-ci.org/ampproject/amphtml/jobs/408464336

[2018-07-26 20:20] #16608 closed

[2018-07-26 20:28] #17042 closed, assigned to gmajoulet, newmuis, Enriqe

[2018-07-26 20:33] rsimha commented on #15658
This is still happening.

[2018-07-26 20:49] #17133 closed

[2018-07-26 20:52] rsimha commented on #17133
Running `yarn unlink` before `yarn link` fixed the issue, so we're now doing that.

[2018-07-26 21:04] Dnguye92 opened #17138 "'src' attribute set to invalid in amp-mustache script"
## What's the issue?

By simply including the `amp-mustache` script tag `<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>` I am seeing an error from the AMP extension stating `The attribute 'src' in tag 'amp-mustache extension .js script' is set to the invalid value `.

## How do we reproduce the issue?

Can't replicate this inside of a

[2018-07-26 21:19] calebcordry commented on #17123
You are right there is no regex. We only have `$REPLACE`

[2018-07-26 21:29] rsimha commented on #17086
Design review is a good idea. I'll schedule one after I experiment with prettier and come up with a list of common workflows that will result from adopting it.

[2018-07-26 21:49] choumx opened #17140 "amp-lightbox: Scroll position doesn't reset on some browsers"
The scroll position of amp-lightbox contents doesn't reset after reopening it on Safari and Chrome 67 on Linux. This bug doesn't repro on latest Chrome on macOS -- might be related to fixed layer handling.

https://codepen.io/choumx/pen/pZrjJB

It would be great if we could always reset scroll on opening of the lightbox, perhaps with an option to preserve existing scroll. Either way, consistent be

[2018-07-26 21:49] choumx commented on #17140
/to @aghassemi

[2018-07-26 22:30] cheneytsai opened #17142 "Variables in URL host of amp-list src cannot be substituted after AMP Cache URL rewriting"
## What's the issue?

AMP Cache appears to be rewriting URLs in amp-list src such that uppercase AMP Variables (ex: AMPDOC_HOST) in path are being converted to lowercase which breaks URL substitution.

## How do we reproduce the issue?

There's a test page [https://www.airbnb.com/amp/s/Navarre--FL](https://www.airbnb.com/amp/s/Navarre--FL), and you can verify that the AMPDOC_HOST variable in the a

[2018-07-26 23:10] cvializ commented on #16904
I plan to implement this by overloading the existing `date`, `start-date` and `end-date` attributes to accept [ISO 8601 duration offset values ](https://en.wikipedia.org/wiki/ISO_8601#Durations) e.g.

[code]

[2018-07-27 00:05] choumx commented on #15272
I'm prototyping (3) right now and it appears to be 1.5 to 3x faster in some quick and dirty testing.

[2018-07-27 00:14] rudygalfi commented on #17142
@calebcordry Could you take a look? cc @ericlindley-g for the amp-list bit.

[2018-07-27 00:33] cramforce opened #17146 "Date picker bundle is much bigger than it needs to be."
E.g. see this snippet

[code]

every imported module duplicates the code.

It would be best if we didn't bundle the code.
CC @kristoferbaxter

[2018-07-27 01:02] calebcordry commented on #17142
I am not sure I am the right person. The variable service appears to be doing what it should, but the cache seems to be rewriting this url.

cc/ @Gregable for his input.

[2018-07-27 02:03] gtyj25dd commented on #17142
🤔🤔

[2018-07-27 02:34] GildenAntonySIA commented on #17005
Please find an  example for form submit using post in spring webflow event triggering . This will eventually trigger a webflow event,

 <form method="post" action="${flowExecutionUrl}">
        <input type="submit" name="_eventId_activate" value="activate" />
        <input type="submit" name="_eventId_cancel" value="cancel" />
    </form>

How can we achieve this through AMP form post ? Currently

[2018-07-27 03:46] xiaotong-z opened #17149 "amp-next-page failed in rendering"
## What's the issue?

Under slow connection or long server response time, the amp-next-page will not render the first ampUrl in pages even with response, and will not send request of the second ampUrl.

## How do we reproduce the issue?

1. add <amp-next-page> with 2 ampUrl in pages to AMP
2. switch the connection to fast 3G or slow 3G
3. reload and scroll to the bottom of AMP page quickly
4. ther

[2018-07-27 04:00] choumx commented on #17122
Per the comments on amp-instagram.js, try setting `width="320" height="392" layout="responsive"`.

https://github.com/ampproject/amphtml/blob/d01e111c946c1f61bb2896df0b8351f0cb9f5117/extensions/amp-instagram/0.1/amp-instagram.js#L20-L26

[2018-07-27 04:01] choumx commented on #17100
Cherry-picked in RTV 1532641868525.

[2018-07-27 04:01] #17100 closed

[2018-07-27 05:30] ziyed opened #17151 "amp-bind: Frozen after preloading AMP on iPhone"
## What's the issue?

For the best practice, recently I have implemented the Preload technique to load AMP runtime with high priority and loaded the runtime script later on with async.

The problem is, after implementing this changes sometime site freeze issue producing on iPhone Safari browser. If I cleared the safari browser cache and start browsing my site, then site doesn't work like the amp s

[2018-07-27 06:46] TWsky commented on #17122
Tried [here](https://amp-spa.firebaseapp.com/ampInstagram/), still re-flow during above the fold.

Seem to be that layout="responsive" works great which helps the amp-instagram fits the layout, but the problem would still be the height recalculating before the instagram portion has been settle down.

[2018-07-27 06:56] sebastianbenz commented on #17130
//cc @aghassemi @choumx

[2018-07-27 07:31] pdaexample commented on #13471
Hi,

from this topic, any plan for loading custom script and allow us to access "window", "document", "local storage" etc..? why I ask that because lot of our custom tracking system need to access all of them.

[2018-07-27 07:32] milkovsky commented on #17116
Thank your for the reply.
I presented only a basic an example with text and image, but every slide can contain text with multiple images, there also might be an Instagram or Facebook embed, YouTube video etc.

Shifting of content is not a bad idea imo, in addition this shifting is already present in some other AMP components, for example [amp-accordion](https://ampbyexample.com/components/amp-acco

[2018-07-27 08:50] juliavallina commented on #13102
Here is another example of the same bug

## How to reproduce the issue?

1. open https://gist.github.com/juliavallina/a11a960ed123cdb6b8949cddc384d3ba
2. copy/paste in the amp-playground https://ampbyexample.com/playground/
3. click on "Inicia tu busqueda" button
4. focus on "Escribe un destino o un hotel" input. A dropdown will appear but the content is never loaded
5. see that by removing the `s

[2018-07-27 13:05] AcidRaZor opened #17152 "Noisy and potentially inappropriate warning to update to 0.2 version of amp-mustache"
I just got called in by exco (who handles the marketing budget on Google, so has access to Search console) who received an AMP validation error (actually just a warning) that amp-mustache says needs to be at 0.2 and not 0.1

This is on our PRODUCTION. I got crapped out from a dizzy height because they thought I made changes that broke our client-facing site.

This is just unacceptable guys! UNACCE

[2018-07-27 13:51] #17121 closed

[2018-07-27 15:25] newmuis commented on #11647
The visual diff tests added in #17110 show that many of the templated UIs need some love in RTL:

![issue_rtl_bookend](https://user-images.githubusercontent.com/1651960/43329854-995b1f4a-918f-11e8-9cba-95726e35a227.jpeg)
![issue_rtl_consent](https://user-images.githubusercontent.com/1651960/43329855-9967bb42-918f-11e8-883e-d01a27986f08.jpeg)
![issue_rtl_info_dialog](https://user-images.githubuserc

[2018-07-27 15:29] jpettitt commented on #17138
Confirmed - search console is telling people to upgrade to 0.2 but 0.2 is failing the JS validator

[2018-07-27 15:37] choumx commented on #17122
Looking through the code history, it looks like that example may be out of date (e.g. Instagram's embed UI may have changed since). We may be able to implement a better placeholder for amp-instagram or at least figure out how to avoid reflow, since it the frame modulo caption appears to be statically sized.

/to @aghassemi

[2018-07-27 15:41] jpettitt commented on #17152
# DO NOT UPDATE TO 0.2 IT FAILS VALIDATION

See #17138

[2018-07-27 15:50] cramforce commented on #17122
yes, this is a polish bug on the `amp-instagram` plugin. Basically the outside layer hardcodes certain offsets to position the placeholder like they would be inside the plugin, and that breaks when instagram changes only the plugin. Should be easy to fix.

Ideally, insta would do this themselves when they change iframe layout. CC @adewale

[2018-07-27 15:54] choumx commented on #17138
Looks like there's some skew in the deployment pipeline.

`version: 0.2` and `deprecated_version: 0.1` were added in the same PR: https://github.com/ampproject/amphtml/pull/16201/files#diff-920b14e1d472072d04dcbfc41ab50294R29

[2018-07-27 15:55] peterjosling commented on #17149
This is working as intended for now - we don't want to change the content of the page after the user has already scrolled it into view. There should be a recommendation box displayed containing links to both of the pages in this case, which will also nicely handle cases where users may be offline.

[2018-07-27 15:56] cramforce commented on #17138
Versions should not be introduced and deprecated in the same release cycle for many reasons.

[2018-07-27 15:57] cramforce commented on #17138
@Gregable for when the skew would be resolved.

[2018-07-27 15:58] jaygray0919 commented on #14794
@cvializ Carlos, that almost worked. Here is a sample:
  https://afdsi.org/test/amp_lightbox_tooltip_3/
The string is set to translate English (en) to Spanish (es).
But the following 'bleeds thru" from the HTML
  `body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}`
**and** it gets translated to boot!

The process does ignore the `lorem ipsum`, but successfully trans

[2018-07-27 16:07] jaygray0919 commented on #14794
Thank you @babakbelur1819 for the essential code. I'll post back a final working example.

[2018-07-27 16:48] mauricionr commented on #10546
any updates?

Thanks!

[2018-07-27 16:53] jpettitt commented on #17151
Example url?

[2018-07-27 16:54] aghassemi commented on #17149
Closing as intended behaviour based on comment above.

[2018-07-27 16:54] #17149 closed

[2018-07-27 17:06] nainar commented on #17116
@milkovsky's pain points exist without captioned images too.

For e.g. consider a carousel with the following:
- A portrait image,
- A Youtube embed
- A twitter embed

Depending on the layout supported there will either be blank space around the twitter embed (due to the long height set on the carousel to support the portrait image) or some other aesthetic displeasure (the image being cut off).

C

[2018-07-27 17:17] jaygray0919 commented on #17138
it's difficult to over-emphasize @cramforce Malte's maxim. It's central to the immutable systems concept practiced at Netflix and advocated by folks like Rich Hickey (https://en.wikipedia.org/wiki/Clojure). You can't breaking existing systems; folks have to voluntarily subscribe to new services. @choumx William has compelling reason to use a new service, but it's my decision when to roll-it-out.

[2018-07-27 17:17] cvializ commented on #14794
That looks like a bug in the translator : / That same bug is occurring with `ampbyexample.com` but the header bar hides it.

[2018-07-27 17:39] jaygray0919 commented on #14794
ok, we're gonna use it and tolerate the bleed until it gets repaired. it's too valuable a service NOT to use it, and it helps us edit our en-US to better translate to other languages - short sentences, unambiguous words, no vernacular ...

[2018-07-27 17:40] jaygray0919 commented on #14794
As always thanks for your help Carlos.

[2018-07-27 17:40] #14794 closed

[2018-07-27 17:40] spacedino commented on #17116
The few components we have that shift content on the page should be the exception, not the rule. From a UX perspective consistency for the user is what we should optimize for (arrows staying in the same place for example). For some of the things in the list we don't know the size of the object and therefore it's virtually impossible to not have the content shift, although we are working on this cc

[2018-07-27 17:42] spacedino commented on #9993
should this be closed in favor of the new issue? @alanorozco  cc/ @aghassemi

[2018-07-27 17:44] babakbelur1819 commented on #14794
style amp-boilerplate = 'amp-boilerplate' from AMP and no effect, indeed in the Google translate page there are some displays that do not support.

I have not found another solution to support all AMP templates

[2018-07-27 17:44] choumx commented on #17138
Yes, verified that amp-mustache-0.2.js is now valid on both JS and C++ validators.

[2018-07-27 17:45] Enriqe commented on #11647
Yep, the share menu was just fixed in #17098 alongside the system layer. I am working on the remaining templated UIs. Thanks for including RTL in the visual diffs!

[2018-07-27 17:49] Gregable commented on #17138
This is now resolved.

Validator rules were updated to simultaneously add support for 0.2 and add a deprecation warning for 0.1. These rules get released at different schedules to different Google products. In this case, Search Console picked up the rules first a few hours ago and began displaying the deprecation warning. The Javascript Validator interfaces, such as the extension you noticed, pick

[2018-07-27 17:53] Gregable commented on #17152
Validator rules were updated to simultaneously add support for 0.2 and add a deprecation warning for 0.1. These rules get released at different schedules to different Google products. In this case, Search Console picked up the rules first a few hours ago and began displaying the deprecation warning. The Javascript Validator interfaces, such as the extension you noticed, picked up the change a few

[2018-07-27 17:54] Gregable commented on #17152
For more information on the release skew, please follow https://github.com/ampproject/amphtml/issues/17138

[2018-07-27 18:07] nainar opened #17157 "[FEATURE REQUEST] <amp-yelp-reviews> component"
This would allow businesses to embed yelp reviews into their site, helping them amass social capital.

You can screenshot them  but they don’t make for a great user experience. They become outdated, load slower than text, and make it hard for users to act on reviews. Embedded Yelp reviews on their websites would solve this problem.

APIs to be used:
https://www.yelp-support.com/article/How-do-I-em

[2018-07-27 18:16] nainar opened #17159 "[FEATURE REQUEST] <amp-yelp>"
Add the ability to embed a yelp link for a local business in a webpage.

Would have to use the Yelp Fusion API
https://www.yelp.com/developers/documentation/v3/business

Here are some business currently using this API: https://www.yelp.com/developers/v3/showcase

@aghassemi @ericlindley-g

[2018-07-27 18:29] #16431 closed

[2018-07-27 18:42] cathyxz opened #17160 "Remove srcset library"
Note use of `parseSrcset` in:
- purifier.js
- amp-image-viewer
- amp-image-lightbox

Remove all references to the `srcset.js` library from `src` and add a dependency check to prevent further usage of it in `src`.
Investigate to see if we can completely remove it from the image-related extensions. If not, refactor the useful parts of it into a utility.

[2018-07-27 18:45] #9993 closed

[2018-07-27 19:33] alanorozco opened #17161 "Cleanup video-dock experiment"

[2018-07-27 20:14] #14740 closed

[2018-07-27 20:19] #11372 closed

[2018-07-27 20:57] aghassemi commented on #17152
@AcidRaZor Although I understand your frustration, this is a professional community with a [code of conduct ](https://github.com/ampproject/amphtml/blob/master/CODE_OF_CONDUCT.md#dont) that all participants are required to adhere to.

Strong and inappropriate language not only is in violation of our CoC, it also does not help advance your argument and negatively impacts the community. I would like

[2018-07-27 21:07] kevinkassimo opened #17165 "Cleanup amp-image-slider experiment"
For #17127 . Spec TODO

[2018-07-27 21:30] jeffnordlund-ghost commented on #15653
Hey, I work for a CMP and would love to know how you are planning to implement the IAB support and am happy to provide any feedback if needed.

[2018-07-27 21:39] newmuis commented on #16460
Reopened because these tests are very flaky.

My initial suspicion is that while waiting for the `.i-amphtml-story-loaded` class to be added to the DOM is sufficient for the actual content of the page, other UI chrome like the share pill and the desktop background may or may not be ready at that time.

So, my next step would be to try adding the CSS classes for all the other visible UI chrome to t

[2018-07-27 22:22] gmajoulet opened #17170 "Simplify the CSS selectors used to position story pages."
To position story pages we use selectors like `amp-story:not([desktop]) > amp-story-page.i-amphtml-layout-container[distance="0"]` that are very hard to override.

We should simplify them to make our new experiences (like scroll) easier to write.

[2018-07-27 22:30] #17130 closed

[2018-07-27 22:35] lannka commented on #16883
woo, I can reproduce this error message consistently on Firefox locally:

[code]

(we disabled dev().assert in prod so we couldn't get the message in the 1st place. @erwinmombay do you recall what was the reason? It's not the first time I hoped the assertion message could be surfaced on prod)

For some reason, all amp-ad inserted by auto-ads are not picked up by resource scheduler.
before I dig mo

[2018-07-27 22:50] sparhami opened #17171 "Implement default placeholder / loading state for amp-twitter"
Implement a default placeholder for `<amp-twitter>` to show the user that content is loading. Ideally, the user should be able to tell what kind of content is loading (i.e. something from Twitter). Other extensions might use a similar approach if it makes sense.

[2018-07-27 22:50] jridgewell commented on #16883
Test page?

before I dig more into this @dvoytenko @jridgewell @aghassemi any tips?

Is `connectedCallback` being called on the amp-ad instance?

[2018-07-27 22:50] sparhami commented on #17171
A prototype of what this might look like: https://somber-wallaby.glitch.me/

[2018-07-27 22:52] dvoytenko commented on #16883
Hmm. That should be a pretty straightforward part. No idea why these wouldn't be picked up. They should be picked up right at the insertion time. Any possibility they are inserted with a zero size?

[2018-07-27 23:11] lannka commented on #16883
Found the root cause: in FF, attemptChangeSize is executed before connectedCallback.

Is it an FF issue? Did we do anything special? Otherwise, some other things could have been broken.

test page: examples/auto-ads.amp.html
Code: https://github.com/ampproject/amphtml/blob/master/extensions/amp-auto-ads/0.1/placement.js#L185

[2018-07-27 23:18] jridgewell commented on #16883
It's a Custom Elements polyfill issue. The microtask for MutationObserver is coming late.

We could just remove the 0 size optimizations? It only leads to bugs.

[2018-07-27 23:18] kristoferbaxter commented on #17146
Thanks for the report. Will take a look.

[2018-07-27 23:27] #16566 closed, assigned to lannka

[2018-07-27 23:34] lannka commented on #16810
this is not true. layout="responsive" will always keep the original width/height ratio. Or maybe I mis-understood?

we allow ad to request a resize after loading. would that address the problem here?

[2018-07-27 23:36] jridgewell commented on #16883
Not next tick, because you don't know when connectedCallback will be called. Wait for `buildCallback`.

[2018-07-27 23:36] dvoytenko commented on #16883
We could have attemptChangeSize to wait until connected. Or we could see if
we can proactively resize unconnected element?

On Fri, Jul 27, 2018 at 4:25 PM Hongfei Ding <notifications@github.com>
wrote:

[2018-07-27 23:40] dvoytenko commented on #16883
We do have build signal so that could work. Something like this:

[code]

On Fri, Jul 27, 2018 at 4:36 PM Justin Ridgewell <notifications@github.com>
wrote:

[2018-07-27 23:47] lannka commented on #16883
is the wait for element build necessary?

[2018-07-28 00:28] nainar opened #17174 "[FEATURE REQUEST] amp-image-slider P1 features"
- Being able to seekTo a specific state in the image slider
- You can specify the % of each image that shows up to default. The total for both images should add up to 100%.
- Attributes that allow customization
  - step-size
  - disable-hint
  - hint-reappear
  - hint-reappear-interval

[2018-07-28 04:21] choumx commented on #16692
I'd like to discuss new extension versions, AMP deprecation policy, and warnings in Search Console.

Motivation: #17152, #17138

/cc @cramforce @Gregable

[2018-07-28 10:25] cadoogi opened #17177 "[amp-lightbox-gallery] - Only opens once"
## What's the issue?

If you close the lightbox and click on an image again it just removes the page scrollbar and no lightbox is opening. the page just gets stuck.

Tested both on chrome and Firefox (Desktop) and On mobile (iphone 8, Google Pixel)

## How do we reproduce the issue?

This is even happens in the AMP example page:

https://ampbyexample.com/components/amp-lightbox-gallery/

1. click

[2018-07-28 10:46] cadoogi opened #17178 "[amp-carousel] - Transition between images is broken for RTL in type=slides"
## What's the issue?

When moving forward and backwards in the gallery lightbox, the transition of the images is very buggy, not smooth and looks like it goes trough 3 images every time.

## How do we reproduce the issue?

I have created a test page for that:

https://www.trvbox.co.il/amp-test.html

1. Scroll down in the article to the first gallery image
2. click in image
3. in lightbox click for

[2018-07-29 07:07] afterdesign commented on #17138
Hi.

Since yesterday I'm getting a lot of errors in search console and it's referencing the URL to ```amp-mustache``` v0.2 version:
[code]

The AMP validator in chrome is saying that everything is ok.

[2018-07-29 12:02] 88kbbq commented on #2273
Why not just whitelist www.google.com/recaptcha/api.js and then create <amp-recaptcha> for the v3 script. This seems like you could do this in a couple hours, why wait until August?

[2018-07-30 05:55] deshbandhu commented on #17036
Thank you, that resolved my issue.

[2018-07-30 08:13] milkovsky commented on #17116
Hi @spacedino,

I mean here that I did not find a solution/example for presentation of the "_HTML content_"* in the [amp-lightbox-gallery docu](https://ampbyexample.com/components/amp-lightbox-gallery/).
*By "_HTML content_" I mean: text and image, text with multiple images, Instagram/Facebook/Twitter embed, YouTube video etc.

In addition amp-lightbox-gallery requires user to do an additional cli

[2018-07-30 08:43] ireinhart commented on #6229
Any news at this topic?
We have the same issue, that the ld+json part of our page a some relevant kb.
Is there an amp extension to load the ld-json part dynamic?

[2018-07-30 09:59] cosmin-vi commented on #17137
Hi guys,

Do you have any update on this ?

[2018-07-30 10:19] dongtc opened #17181 "Attribute 'submitting' disappeard when upgrade to amp-mustache-0.2.js"
In amp-mustache-0.2:
[code]
The html above rendered result:

[code]

Attribute 'submitting' disappeard!
It doesn't occur in amp-mustache-0.1.

[2018-07-30 11:10] bjalford opened #17182 "Add countdown to amp-live-list refresh time"
Add option to show a countdown to to the refresh of the amp-live-list.

An example can be seen here: https://www.eurosport.co.uk/football/international-champions-cup/2018/live-paris-saint-germain-atletico-madrid_mtc1037416/live.shtml

![image](https://user-images.githubusercontent.com/738672/43394126-86098058-93f1-11e8-93ea-880ebf09d68f.png)

[2018-07-30 13:50] mazhor90 opened #17183 "amp-bind: Support amp-selector[multiple] events"
On a multiple select when I want to update AMP state by "change:AMP.setState({foo: event.value})" event.value doesn't returns all selected values its returns always first selected value

[2018-07-30 14:17] AcidRaZor commented on #17152
@choumx Thank you for the reply and keeping this topic open for discussion. Indeed the most frustrating and stressful time in any meeting that I've ever been in, and I've been doing this for 18 years now, so have had some insane ones... this one definitely topped all of them. I'm actually thinking perhaps to preemptively start looking for a different position, because I fear this won't be the last

[2018-07-30 14:59] stephengardner commented on #17138
We have a Shopify app that converts users pages into AMP and I cannot express the agony of multiple hundred users emailing us and freaking out about this new error. Especially after they emailed us freaking out about the deprecation warning. Ah... 😭😂

[2018-07-30 15:16] choumx commented on #17181
Thanks for the report! We'll fix this ASAP.

[2018-07-30 15:53] choumx commented on #17178
/to @cathyxz

[2018-07-30 15:54] choumx commented on #17182
Nice FR, this would be cool.

/to @ericlindley-g @aghassemi for prioritization.

[2018-07-30 15:56] choumx commented on #17151
A solid reproduction would help us debug this.

[2018-07-30 16:13] ericlindley-g commented on #17182
+1 This would be great —  setting at P3 on the assumption that this is a nice-to-have feature (as opposed to an absolute blocker) and  /cc @erwinmombay for visibility

[2018-07-30 16:17] danielrozenberg commented on #17108
@rsimha what are the differences when it comes to test mode? What should we take into account here

[2018-07-30 16:59] lannka commented on #16719
One goal of the proposed refactoring here is to be able to quickly list all existing use cases in code easily. Right now it's a bit hard to tell how many features are intercepting global clicks, which can be problematic once the landscape becomes more complicated. A common helper method or a service would address that.

Having a specific API helps to generalize the use cases and share code.

"URL

[2018-07-30 17:08] rsimha commented on #17108
@newmuis Nice catch.

@danielrozenberg I don't believe the visual tests themselves need to do anything different, but yeah, the runtime does behave slightly differently in some cases when `getMode().test` is true, so we need to trigger that behavior during the visual tests.

I think this issue can be fixed by adding a case here for the visual tests:

https://github.com/ampproject/amphtml/blob/28ac

[2018-07-30 17:48] jridgewell commented on #6229
I believe @choumx is doing work on this.

[2018-07-30 17:53] cathyxz commented on #17177
Thanks a lot for filing! This issue should be solved by https://github.com/ampproject/amphtml/pull/17145 and will arrive in production in 2 weeks.

[2018-07-30 17:53] #17181 closed

[2018-07-30 17:58] choumx commented on #6229
You can now render `<script type="application/ld+json">` in an `<amp-list>` by using `amp-mustache-0.2.js`. Does that resolve your use case?

[2018-07-30 18:02] aghassemi commented on #17084
related to https://github.com/ampproject/amphtml/issues/17053
NOT a regression of `srcset` change. (I don't think #17053 is either)
/cc @cathyxz FYI for now. will create a mini project for this and related issues to find the best solution and collaborate with @hellofromtonya and WP to ensure the solution is correct based on expectations.

[2018-07-30 18:04] aghassemi commented on #17082
/cc @cvializ added to UI-LowEffort

[2018-07-30 18:18] erwinmombay commented on #17146
we should be able to get rid of the wrappers by moving away from browserify here https://github.com/ampproject/amphtml/blob/master/third_party/react-dates/build.sh

@kristoferbaxter, @cvializ  can we use rollup instead?

[2018-07-30 18:24] rsimha commented on #17108
To plumb the test mode during the visual diff tests, you can first add an `opt_test` flag to `applyConfig`

https://github.com/ampproject/amphtml/blob/dec2fc23fe1ddcae1abb2022bc8630d18d4998cf/build-system/tasks/prepend-global/index.js#L114-L156

Then, you can make `visual-diff.js` directly call `applyConfig` instead of invoking the wrapper `gulp` task via `exec` as is done right now

https://githu

[2018-07-30 18:35] cvializ commented on #17146
I don't have experience with Rollup yet, but I think that `build.sh` would have to be reworked for Rollup. Currently it does the following:

- Alias `react` and `react-dom` to `preact` and `preact-compat`
- Alias `moment-with-locales` to `moment`
- Expose modules to AMP by renaming `require` to `AMP.require`

If these can be accomplished with Rollup then it should be pretty seamless. The last item

[2018-07-30 18:56] prateekbh opened #17190 "Update sinon to > 6.1.1"
## What's the issue?
I am trying to add a tests for a file of mine which uses XHR. In order to do this, I tried setting up a small testfile for my code and mocked the XHR in exact same way as https://github.com/ampproject/amphtml/blob/master/test/functional/test-xhr.js#L76-L93.

Adding this in a filename `test-document-fetcher.js` in `test/functional` folder lead to breaking of test in `test-preco

[2018-07-30 19:14] jpettitt commented on #17138
We are aware the search console is erroneously flagging 0.2 as an error.  It's not an error and we're working of getting the messaging fixed.  This is a knock on effect from the version skew problem.

[2018-07-30 19:16] jpettitt commented on #17152
We are aware the search console may still be flagging the 0.2 version as an error in some cases.  This can be safely ignored and we're working on getting the messaging fixed.

[2018-07-30 19:20] justforfun opened #17193 "shadow dom: AMPDOC_URL variable not set"
## What's the issue?
We noticed that often the value of the AMPDOC_URL is incorrect when an AMP document is injected via <amp-viewer> in a Progressive Web App.
When the problem occurs the AMPDOC_URL doesn't assume any value.

## How do we reproduce the issue?
You can reproduce the issue here:
https://rep.repubblica.it/pwa/generale/2018/07/29/news/la_ricerca_di_un_leader_forte-202948431/

The canon

[2018-07-30 20:05] choumx opened #17194 "amp-bind-macro: Can be missing when body is streamed"
Waiting for body to be available is sometimes insufficient for finding all `<amp-bind-macro>` elements in the document, specifically when the body is partially flushed in resource-constrained environments.

Workaround is to define `<amp-bind-macro>` earlier in the body. This probably affects other DOM queries too.

Context: `b/111510498`

[2018-07-30 20:11] kristoferbaxter commented on #17146
Will take a stab at this later this week.

[2018-07-30 20:31] cramforce commented on #17146
We'll also need to change how we bundle this code. I'm currently leaning towards just copying the bundle into the output binary.
This is because the code is not compatible with advanced optimizations and thus doesn't work with single pass compilation. There is no easy fix because the code does a lot of property name kung fu.

[2018-07-30 20:40] normmcgarry commented on #17123
A $REGEX macro would be a really powerful addition for other use cases as well.

[2018-07-30 21:04] #16883 closed

[2018-07-30 21:14] mdiblasio commented on #17082
This issue was [previously discussed](https://github.com/airbnb/react-dates/issues/24) in context of react-dates component library and can be fixed with support for `minimum-nights` attribute on date component ([originally noted](minimum-nights) as supported property).

[I was able to verify this works](https://github.com/ampproject/amphtml/compare/master...mdiblasio:minnights2). Should I submit P

[2018-07-30 21:45] cvializ commented on #17082
Yes if that resolves the issue, please do submit a PR! We really appreciate contributions like this, thank you for taking that initiative @mdiblasio

[2018-07-30 21:47] danielrozenberg commented on #11854
For posterity: this feature has been removed. You can set the experiment for a single page using a `<meta>` tag in your document. See: https://www.ampproject.org/docs/reference/experimental#enable-an-experiment-for-a-particular-document

See rationale for removing this feature in https://github.com/ampproject/amphtml/pull/17139#issuecomment-409022374

[2018-07-30 21:50] aghassemi commented on #16098
@samjacoby We had to revert the PR due to some security concerns with redirects. After more discussions, we don't have a good solution at the moment. Unfortunately unless we can distinguish between `srcdoc` and `src with no allow-same-origin flag of sandbox`  there is a security risk in implementing this.

[2018-07-30 21:51] aghassemi commented on #10546
@mauricionr Sorry, no updates at the moment. It is in the queue of bugs to fix on the Viewer side.

[2018-07-30 22:08] samjacoby commented on #16098
OK. That's too bad. 😞

Is there no path forward, then, on resizing iframes populated w/ `srcdoc`?

We're looking to use `srcdoc` so that we can publish better stories _to_ amp. At the moment, we sometimes disable amp publishing entirely for our more interactive pieces,
but we're hoping to have better feature parity between amp and the rest of our platform. Here's an example of a story with fairly

[2018-07-30 22:43] jasti commented on #15653
@jeffnordlund-ghost thanks! We've made some progress and @zhouyx is working on documenting the design for community feedback. @zhouyx please post design here when ready.

[2018-07-30 22:56] aghassemi opened #17202 "reset-on-refresh breaks list with local data binding"
Only reproducible in 7/26 Canary (1532641868525).

- Enabled Dev channel
- Visit a category page on AliExpress ( e.g. https://m.aliexpress.com/category/200002455/Deodorants-Antiperspirants.html?categoryName=Deodorants%20&%20Antiperspirants&spm=a2g0n.category-amp.leafcat.Deodorants%20&%20Antiperspirants )
- Click on `filter` and pick something like `Price (Low to High)`
- Note that loading indicato

[2018-07-30 23:02] aghassemi commented on #17202
(filter action on aliexpress is also broken, pretty sure same root cause related)

[2018-07-30 23:08] choumx commented on #17202
I'll take a look later tonight.

[2018-07-31 00:35] aghassemi opened #17207 "amp-story - Hint UI is broken"
When using current 7/26 Canary (1532641868525), the Next/Previous hint UI that shows up on swipe does not show up anymore.

Setting to P0 since it is a regression in Canary, adjust priority as needed.

[2018-07-31 00:41] shinsenter commented on #17138
We have the same problem with 0.2

[2018-07-31 02:09] stephengardner commented on #17138
Please publish an article about this, I'm being inundated with complaints by users experiencing this. We have an app that converts pages into AMP. We updated to 0.2 per the error. We need a link to send them saying this is Google's fault.
Help.

[2018-07-31 04:43] newmuis commented on #17207
@enriqe @gmajoulet please investigate

[2018-07-31 05:06] newmuis opened #17210 "amp-story videos intermittently not playing"
Tested with https://www.washingtonpost.com/graphics/2018/local/amp-stories/witness-the-emotional-reunions-of-immigrant-families/, loaded from the origin with no viewer.

With`dev-channel` enabled, the videos do not play.  Without `dev-channel`, things seem fine.

[2018-07-31 05:15] aghassemi commented on #17207
I will be patching Canary with another fix tomorrow before releasing, let me know and I can wait for this one too. Thanks.

[2018-07-31 07:14] newmuis commented on #17210
Seems like it may be intermittent, and happens more frequently when loaded on origin than from the cache. Also seems to be in prod and canary.  Only happens from my Android device (Pixel, Chrome, on wifi).

Testing on desktop Chrome, I didn't see any JS errors, so maybe it's just the video actually being slow or failing to load.  Lowering the priority since this doesn't seem to be a regression in

[2018-07-31 07:17] newmuis commented on #17210
Also note: it's possible that there's nothing wrong with the code here, but we should at least investigate what's happening with the network and media pool while the UI is in this state.

I can investigate this early next week

[2018-07-31 08:38] ireinhart commented on #6229
Thanks for the hint :-)
I think we test it, sounds good - but need some time for that.

[2018-07-31 11:04] sryze opened #17212 "amp-iframe allow-same-origin and subdomain restriction"
Why is it not allowed to have iframes loaded from the same domain even if `allow-same-origin` is specified, while it is allowed to use a subdomain?

I don't understand this requirement. Is this due to technical reasons or due to "we don't want you to do dumb things because we care about you" reasons?

For example, I need to include a chat box on a page. It used to work perfectly on the non-AMP pag

[2018-07-31 11:26] fchristant commented on #15653
I think this feature is much needed in order to meet GDPR requirements which explicitly states that a user must be able to give individual consent on a per processing purpose basis.

I don't really understand how the idea is vendor driven, imho it is purpose driven. A user gives consent to a data processing purpose, not to a specific vendor doing the processing? I suppose it is possible to have tw

[2018-07-31 12:40] kul3r4 commented on #17193
@cvializ would you be able to help with this?

[2018-07-31 13:25] felixarntz commented on #15653
Hey there! I have been working on a cookie consent plugin for WordPress that supports AMP via `amp-consent`, and I'd like for it to support more granular cookie control as well (it already does for non-AMP sites). I agree with @fchristant that I'd expect those controls to work per cookie category / purpose, not vendor. Per-vendor management might be useful as way, in that case I think both should

[2018-07-31 13:57] jpettitt commented on #17138
Best bet is to send them a link to this issue.

[2018-07-31 14:29] jpettitt commented on #17212
It's designed to stop pages breaking on the AMP caches.  If you rely on an `iframe` having the same origin as the parent page then it will break when the parent page is served from an unexpected origin, for example an AMP cache.

`allow-same-origin` allows the `iframe` document to make credentialed requests to its own origin.  Without this a sandboxed `iframes` cannot access cookies from it's real

[2018-07-31 14:30] #17212 closed

[2018-07-31 15:14] #17170 closed

[2018-07-31 15:40] stephengardner commented on #17138
I really need some confidence that this is being fixed, or a timeline on when............

I'm thinking just reverting back to 0.1......

[2018-07-31 15:54] #17207 closed

[2018-07-31 16:00] aghassemi opened #17215 "🌸 Cherry pick request for 17209 into 17097"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #17202

**PR that you are requesting a cherry pick for:**

PR #17209

**Release(s) you requesting this che

[2018-07-31 16:03] aghassemi opened #17216 "🌸 Cherry pick request for 17214 into 17097"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #17207

**PR that you are requesting a cherry pick for:**

PR #17214

**Release(s) you requesting this che

[2018-07-31 16:07] cramforce commented on #17216
Approved. Commented on cherry-pick process to make it more clear when the cherry-pick is into canary.

[2018-07-31 16:07] cramforce commented on #17215
Approved. Commented on cherry-pick process to make it more clear when the cherry-pick is into canary.

[2018-07-31 16:13] #17202 closed

[2018-07-31 16:46] jpettitt commented on #17138
It is fixed.  Any errors users are seeing are stale.  Both 0.1 and 0.2 are considered valid.

[2018-07-31 16:48] #17082 closed

[2018-07-31 16:50] stephengardner commented on #17138
THANK you.

[2018-07-31 16:52] cvializ commented on #17193
Hey, @kul3r4! @danielrozenberg is the PWA-eng owner

@danielrozenberg would you be able to triage and investigate?

[2018-07-31 17:15] gmajoulet commented on #17210
Android: Could only repro on the the cache. Videos from stories loaded on origin all worked for me
iOS: seems to work fine on both cache and origin

[2018-07-31 17:44] gmajoulet commented on #17210
I got the same behavior with or without `dev-channel`.
Videos served in stories from the cache don't play on Android (Nexus 5).

[2018-07-31 18:04] mayrop commented on #17138
Will the url inspection be fixed as well? When I submit a page in the "URL inspection" tool (desktop URL), it still says that the AMP linked version is invalid:

![e8qhf73a](https://user-images.githubusercontent.com/495985/43477972-36c5f892-94c2-11e8-8cc2-bd9c8988ff7f.png)

[2018-07-31 19:18] #14406 closed

[2018-07-31 19:39] lannka commented on #14360
Did we explore Karma option, how possible it is to open separate browser tab for each test file (not each test case).

Another hacky idea regarding to the async code leakage (I don't quite like, but shared anyway):

@rsimha we've talked a bit that if we can wait a full `tick` at end of each test to make sure async executions not leaked to next test (those execution could potentially throw and unpr

[2018-07-31 19:47] #17215 closed

[2018-07-31 19:47] #17216 closed

[2018-07-31 19:53] jasti commented on #15653
@fchristant thanks for the feedback. We were worried initially about being able to have the capacity to store vendor and purpose information in local storage but further analysis shows we can. So we'll simply rely on the CMP passing AMP with the "daisy bit" as defined by the IAB: https://github.com/InteractiveAdvertisingBureau/GDPR-Transparency-and-Consent-Framework/blob/master/v1.1%20Implementati

[2018-07-31 20:06] jeffnordlund-ghost commented on #15653
Yeah, just leaving that generic would be best and just set up a communication mechanism for that information.  Currently the IAB supports consent by purpose, or by vendor, but the vendor is all or nothing (no granular purposes on a vendor).  But, rumor has it they are looking into the granular purposes by vendor support (not really sure why they didn't go that way to start).

For us we are support

[2018-07-31 20:30] aghassemi commented on #13332
reopening, this is happening again.

[2018-07-31 20:48] jasti commented on #15653
@jeffnordlund-ghost We weren't planning on supporting the IAB version from an external iframe because the external iframe will then need to be page render blocking which is overall a pretty bad experience of the user from a latency standpoint.

We'd recommend considering adding native support unless you can think of alternatives that ensure good performance. @zhouyx anything else to add?

[2018-07-31 21:15] jeffnordlund-ghost commented on #15653
I don't understand why that would be any more blocking then normal consent.  I assume you are going to store the consent string in local storage as you do the consent marker now, correct?  Also, the __cmp interface is designed to be non-blocking to page render.  It will prevent ads from firing until a response is returned, but the page can render as normal.  It just queues up the calls made to it

[2018-07-31 21:26] jeffnordlund-ghost commented on #15653
Sure.  I was not aware you had plans to make the consent UI support more robust.  I would very much like to see what is on the roadmap for that so we can plan accordingly.

[2018-07-31 21:31] zhouyx commented on #15653
Yes we are planning to support the standard IAB purpose list and vendor list. But currently has no plan to support the granular purposes by vendor because it requires much space to store the consent and from the feedback we gather from some CMP they always collect purposes for all set of vendors. Please let us know if there's requirement for more granular purposes per vendor.

@jeffnordlund-ghost

[2018-07-31 21:50] aghassemi opened #17223 "amp-fx-flying carpet initial alignment is broken"
Only reproducible with current 7/26 Canary (1532641868525)
Tested on OSX/Chrome with https://ampbyexample.com/components/amp-fx-flying-carpet/

Prod:
![prod-fx-flying](https://user-images.githubusercontent.com/2099009/43489076-9cac3bd6-94d0-11e8-87bd-a61ac869f967.png)

Canary:
![canary-fx-flying](https://user-images.githubusercontent.com/2099009/43489071-98ef003c-94d0-11e8-8a05-fc656a2138b8.png)

[2018-07-31 21:54] jpettitt commented on #17138
Please email me the URL you are testing (same username @google.com)

[2018-07-31 21:56] jeffnordlund-ghost commented on #15653
You can go to a number of places to see our consent ui.  https://www.cosmopolitan.com/uk/, www.vmware.com, www.crownpeak.com, cbs.com, most nestle sites.  Some of them require you come in from an EU country to see the UI though.

Our UI isn't dramatically different from other CMP's.  But it is fully customizable (colors, fonts, size, which buttons are shown, what those buttons look like, etc.) and

[2018-07-31 22:07] rsimha commented on #17223
Once the P0 issue is fixed, we should add a better visual test for this component, since the [ABE test page](https://percy.io/ampproject/amphtml/builds/901449/view/53034368/375?browser=firefox&mode=base) doesn't adequately test it.

See #11418

/cc @danielrozenberg

[2018-07-31 22:24] jridgewell commented on #17223
Dropping to P1, since it's only affecting opt-in canary.

[2018-07-31 22:27] aghassemi commented on #17223
@jridgewell I am using P0 for anything that's blocking release this week.

[2018-07-31 22:27] jridgewell commented on #17223
`onMeasureChanged` isn't fired when the custom element is upgraded.

[2018-07-31 22:28] aghassemi commented on #17223
(issue is in 1% canary that was supposed to go to prod today. I am delaying prod until this and few other ones are patched before promoting)

[2018-07-31 22:53] jamesshannon commented on #17138
Is there a link to the PM document?

Will it be limited to the version skew issue, or to this version bump in general? While there's a versioning policy, it seems like there are some practical considerations which AMP needs to address in the future:

1. How do publishers know when a library has been deprecated? Are they required to monitor github and amphtml-announce? It seems that GSC is throwing

[2018-07-31 23:14] zhouyx commented on #15653
Thank you @jeffnordlund-ghost This is really helpful.

This is an interesting requirement that we haven't heard from other CMP before. I wonder how do you scan the page to detect vendors, especially given that some vendors are not directly included in the page but requested by another vendor. What kind of information do you expect from AMP to help you achieve that? Because even with the iframe app

[2018-07-31 23:48] aghassemi opened #17227 "amp-youtube autoplay does not work unless initially in viewport"
not a regression of our code but it used to work before a month ago or so.

Go to https://ampbyexample.com/components/amp-youtube/
Scroll down
See the autoplaying embed has started playing but is paused.

something with youtube embed may have changed.

/cc @kevinkassimo looks similar to the issue you found where messages where not received if user scrolls to amp-youtube.

[2018-08-01 00:09] jridgewell opened #17228 "onMeasureChanged should be called when element is upgarded"
The root cause of this https://github.com/ampproject/amphtml/issues/17223 is that an element's last measure change can happen before the custom element class is upgraded. In these cases, the [noop](https://github.com/ampproject/amphtml/blob/7cd0ec4b79e1fe1dc5f3241de63d94f9b1b56958/src/base-element.js#L1047-L1052) is called instead.

When the element is upgraded, it's next `updateLayoutBox` call sh

[2018-08-01 00:54] #17223 closed

[2018-08-01 02:16] stephengardner commented on #17138
As @jamesshannon has kind of mentioned.

It is absolutely not OK to be notified of deprecation events solely via emails generated by GSC.  I'm not sure if it was documented somewhere else and I perhaps missed it, but if there isn't a deprecation timeline map available, we definitely need one.

I mention this again because our app converts 1000s of customers pages into AMP, and when they receive a

[2018-08-01 03:53] choumx opened #17230 "Cleanup 'faster-bind-scan' experiment"

[2018-08-01 05:51] lannka commented on #16419
`VARIANTS` is a `promise` that to be resolved by `amp-experiment`. There is hardly a way for `amp-analytics` to tell if `amp-experiment` failed and `VARIANTS` would never come, so it can stop waiting.

[2018-08-01 05:51] #16419 closed

[2018-08-01 05:56] lannka commented on #17137
#17213 fixed the issue.

[2018-08-01 05:56] #17137 closed

[2018-08-01 06:15] lannka commented on #16810
Ad resize: https://github.com/ampproject/amphtml/blob/master/ads/README.md#ad-resizing

[2018-08-01 06:15] #16810 closed

[2018-08-01 06:30] Gregable commented on #17142
This is an interesting case. The AMP cache has no knowledge of these replacements, so this is just an URL. URLs get normalized in the AMP cache for security reasons. DNS is not case-sensitive, so the hostname component of URLs is not case-sensitive and the AMP Cache's parser is not going to notice the difference between these two URLs when normalizing.

[2018-08-01 06:35] Gregable commented on #17142
If I make a wider comment, I feel like this URL replacement scheme is error-prone as designed. Imagine if the domain name of a site was AMPDOC_HOST.com. Not super likely, admittedly, but there are definitely some more likely to collide names in that [namespace](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md), such as `counter`, `title`, etc. Especially considering

[2018-08-01 06:43] Gregable commented on #17152
@jpettitt Search Console never flagged 0.2 as an error since the original change landed which added support for 0.2. There is no issue there.

Search console began flagging 0.1 as a deprecation **warning** July 27. This is also correct, as 0.2 became the recommended version at that time.

[2018-08-01 07:35] Gregable commented on #17152
@AcidRaZor, no breaking changes were pushed. AMP validation went from supporting one version of amp-mustache two versions, including the version that was previously supported. This change was strictly backwards compatible.

[2018-08-01 09:36] ziyed opened #17233 "amp-bind: Bind limit exceed problem"
## What's the issue?

I have developed an AMP project where I have created an amp-list pulling data from endpoint. Inside the amp-list it has 24 tiles and on each tile some numbers of operands to manage single item properties and features. I have also developed pagination to change page to page by changing amp-list through [src] change technique. It has more than 10k+ pages.

After browsing 5 or 6

[2018-08-01 10:56] SimonHogstromRonbol opened #17234 "Amp-carousel type="carousel" - clicking navigation arrows fast enough, can shift slides."
## What's the issue?

If you have an amp-carousel with the carousel type, and you are using it on a wide display to get more than a single image on the screen at a time, clicking the navigational arrows can shift the perspective so that on the sides you will see only half of an image rather than shifting from image to image as normal.

## How do we reproduce the issue?

1. head to https://www.onli

[2018-08-01 11:00] jaygray0919 commented on #6229
@choumx WRT `amp-mustache-0.2`, a JSON-LD structure is different than the base structure specified by `amp-list` (i.e. `{"items": []} `). As you know JSON-LD uses `@type` to specify the meaning of a `key`. JSON-LD also declares a vocabulary and may specify a graph (`@graph`).

How do we specify `items=` when the `amp-list` is `JSON-LD`?
In the vernacular, how to walk a JSON-LD tree and use `amp-mu

[2018-08-01 11:06] jaygray0919 commented on #6229
IMHO @nebuso this technique will not inject JSON-LD into the DOM: `<link rel="alternate" href="/semantic-markup.json" type="application/ld+json">`

That statement **will** link to a specific JSON-LD file, but it **will not** enable that file to be parsed by either Google Structure Data Testing Tool or read by any other crawler/harvester (e.g Bing).

The JSON-LD must be inline for an AMP or non-AMP

[2018-08-01 11:32] nebuso commented on #6229
@jaygray0919
"According to Google documentation, they only support JSON-LD in script tags
or
inserted via Javascript
**NOT** via link..."

You can insert json-ld via  tag manager or JavaScript... it's only ~5 sec timeout on crawler
so it is place to optimization for AMP HTML code.

[2018-08-01 11:57] craigscott29 commented on #17152
In light of all this, what would be the odds of offering different ways to link to the amp JS files?

Example: amp-mustache-latest.js and amp-mustache-stable.js

Latest being the the latest in-progress version, stable being the latest stable release (ie; v0.2 in this case).

I would 100% run latest in my sandbox and stable on my main website. Obviously leave the option open for people to hard writ

[2018-08-01 13:37] ayumihamsaki opened #17236 "AMP-HTML and MicroFormats like Hcard (amp-img issue)"
Hello,

According to the spec from AMP-HTML they say they fully support MicroFormats v2.

I have an issue trying to Validate my Hcard on my AMP-HTML webpages. Below is a screenshot of the problem using Google's Structured Data Testing Tool:

![screenshot](https://user-images.githubusercontent.com/17784082/43524258-ba1b32aa-9596-11e8-9273-0a96f9a00101.png)

The issue is that I want to add the follo

[2018-08-01 13:40] jaygray0919 commented on #6229
@nebuso I agree "**NOT** via link" for Google (and Bing) processing. However, if you use `link` in `<head>` it **MAY** be parsed by tools such as the W3C RDFa validator.

Would you direct me to documentation that explains how to `inject` JSON-LD into the DOM such that it will be parsed/processed/understood by a harvester (from Google, Bing, etc); for `tag manager` as you suggested? That implies th

[2018-08-01 14:37] jaygray0919 commented on #17236
There are two languages here: JSON-LD and AMP.
For JSON-LD, the valid `@type` is ImageObject and the `url` is the source file
For AMP, the term is `<amp-img>` and the `src` is the `url` from JSON-LD
You have to code the semantics of your page using the terms specific to each  language.
That means you have "repeat" a concept according to the terms of the specific language.

[2018-08-01 15:11] jerimiahwelch opened #17238 "Google Search Console Validator disagrees with Development Validator - amp-youtube"
## What's the issue?

Google Search Console is identifying pages with valid amp-youtube components as "missing" the youtube video.

While the development version of the validator does not throw warnings about this, the Google Search Console version does.

I submitted feedback on google search console yesterday. I am submitting a bug here in case it might be related to the structure of the amp page

[2018-08-01 15:37] gremz commented on #13282
@calebcordry I'd like to take this over if @Arthanari isn't planning on completing this.
Thanks,
Greg

[2018-08-01 15:59] jeffnordlund-ghost commented on #15653
In regards to the page scanning there isn't anything the AMP framework needs to do to support that.  But what that means is we get a frequently changing list of vendors and that is what we need to support.  So some way to pull in the list of vendors/tags (both IAB and non-IAB) would be really helpful.  If our customers need to re-add that to their AMP pages as a static list that can become a maint

[2018-08-01 16:09] mrjoro commented on #15866
# Consistent version numbers
presenter: @danielrozenberg

- if developers have different local commits could they end up with the same id?
  - the last digits are 000 if there are uncommitted changes
- there are no major objections
- @cramforce: good change, but consider a minor variation--what if instead of seconds since epoch we just encode the time (20180801123456), still a number only format (

[2018-08-01 16:09] mrjoro commented on #15866
# Allow form element used outside AMP
presenter: @alabiaga

- one use case is WordPress; content can appear in multiple views, so even if you have content that is on an AMP page it may appear in other non-AMP contexts (e.g. amp-mathml), but this doesn't work for forms today
- do we keep submit logic into the amp-form extension or v0.js?
- can we require users to use amp-form instead of form?  it's

[2018-08-01 16:10] mrjoro commented on #15866
# Better handle flaky tests and max build size
presenter: @danielrozenberg

- when we mark tests as flaky today do we have a process to get them fixed quickly
  - it depends on who cares about them unfortunately
- could just use one new repository for this rather than a new one for each
- @rsimha would like to see a proof of concept for bundle size first; it's easier to implement
- @choumx: seems

[2018-08-01 16:10] #15866 closed

[2018-08-01 16:23] elpulga opened #17239 "apm-access not working on cached version"
## What's the issue?

AMP-access response in cached version return access: false even though user is logged in.
Works fine in non-cached version.

## What browsers are affected?

Seems to happen in chrome and mobile safari. Desktop firefox works fine

## Which AMP version is affected?
1531800879103

[2018-08-01 16:29] calebcordry commented on #13282
Hello @gremz, that would be awesome! Let me know if you have any questions.

@Arthanari I am assuming you have moved on to other things. Please ping me if this is not the case.

[2018-08-01 16:34] mrjoro commented on #17001
# UI
contact:  @aghassemi

## What was accomplished
- amp-lightbox support in A4A
- amp-selector works in amp-list #9536
- Analytics events for lightbox #16651
- Various new built-in transitions for opening lightbox #2374.
- Carousel autoplay with 2 slides #5164
- scrollTo failing after setState #16901
- scrollTo working in scrollable lightbox #12821
- Race bug in amp-sidebar open #5730
- amp-fx-c

[2018-08-01 16:36] mrjoro commented on #17001
# Infrastructure
contact:  @rsimha

## What was accomplished
- Resilient patching of node_modules during update-packages
- More resilient Sauce labs startup
- Fixed polyfill / non-polyfill race in build
- In Progress: removing async throws
- Fixes / safeguards for unsafe use of hasOwnProperty
- Progress indicators for visual tests
- Stack traces with source maps for assertion errors
- Lots of type

[2018-08-01 16:38] mrjoro commented on #17001
# amp-script
contact:  @kristoferbaxter

## What was accomplished
- Increased Test Coverage by 20%
- Sync values across threads
- Namespaced Element Creation (SVG)

## What's next
- Integrate DOMPurify into worker-dom
- Performance via ArrayBuffers

[2018-08-01 16:39] mrjoro commented on #17001
# amp-story
contact:  @newmuis

## What was accomplished
- Navigation performance improvements
- Default bookend state
- Animate CTA layers
- Reinstated some skipped tests
- Event dispatch refactoring
- Prevent browser extensions from breaking layout with inserted elements
- Update story padding to fix vertical alignment
- Visual diff tests; pending some outstanding issues

## What's next
- Wrappi

[2018-08-01 16:41] mrjoro commented on #17001
# Runtime
contact:  @choumx

## What was accomplished
- 10+ issues fixed; details: https://github.com/ampproject/amphtml/projects/29#column-2346190

## What's next
- SSR templates round 2 (AMP4EMAIL)
- forms in dirty-amp design doc, design review 7/26

[2018-08-01 16:43] mrjoro commented on #17001
# Ads & Analytics
contact:  @lannka

## What was accomplished
- 14 PRs merged, 15 issues closed (https://github.com/ampproject/amphtml/projects/52#column-3054877)
- Highlights
  - Fix silently skipped tests (#16076)
  - Identified blockers of visual-diffing tests for amp-sticky-ad
  - Amp-analytics refactoring
  - Support referrerPolicy in amp-analytics
  - amp-ad causing pages to hang for multipl

[2018-08-01 16:45] mrjoro commented on #17001
# Conduit
contact:  @Gregable

## What was accomplished
- Better Validator error messages
  - Missing layout attributes
  - Style tags no longer complain about boilerplate, instead disallowed style
  - Remove use of 1st person language
  - Tests for all components
- Easier to write validator rules
  - Repeated value / value_casei
  - Prompt dev to run --update_tests
  - Consistent field naming
  -

[2018-08-01 16:45] #17001 closed

[2018-08-01 16:56] nebuso commented on #6229
@choumx
_"<script type="application/ld+json"> in an <amp-list> by using amp-mustache"_
if I understand correctly
1. i need to create html template for mustache in <head>
2. fill template with downloaded data
it should slim down :-)

I would be grateful for any hint how to keep jsonld out of AMP code.
---
@jaygray0919
**How spiders indexing JavaScript**
https://www.elephate.com/blog/javascript-seo-

[2018-08-01 17:20] jasminenoack opened #17241 "Latest Intersection is sometimes the first intersection instead."
## What's the issue?

Scroll data for an ad slot is received periodically we receive the first intersection instead of the current intersection

## How do we reproduce the issue?

We have been seeing it on this page:
http://qa.yieldmo.com/test/amp

If you log the intersection when the ad scrolls onto screen twice you are sent the initial intersection instead of the current intersection.

![screen

[2018-08-01 17:37] jaygray0919 commented on #6229
@nebuso TY - did not know this was possible

[2018-08-01 17:55] jamesshannon commented on #17138
Oh. Another thing around this:

The [version notes](https://www.ampproject.org/docs/reference/components/amp-mustache#version-notes) aren't particularly helpful in for the purposes of deprecation.

* First, how relevant is the version notes for a particular library? It looks like version notes are only used for minor releases (and not patches). But functionality is regularly added to libraries via

[2018-08-01 17:56] ayumihamsaki commented on #17236
@jaygray0919

No, there are Mircroformats v2 and AMP here.

[2018-08-01 18:14] lannka commented on #8562
All the API work is landed. To be conservative we didn't change the behavior.

We plan to re-visit this now since it might be a cause of #17241

@ampproject/ads please reply to this thread for any issues.

[2018-08-01 18:16] cheneytsai commented on #17142
Note also that the original test case URLs in the issue won't work anymore. The pages have been updated to static representations of the domain to circumvent the issue. The underlying problem still exists though potentially.

[2018-08-01 18:30] ayumihamsaki commented on #17236
I think it can't be added to amp-html as the spec says the following:

Therefore I think the documentation should be updated to reflect that.

[2018-08-01 19:28] lannka commented on #16065
Hi @Mohit-3 can you clarify what did not work for `xhrpost`? Did it still block the pageload event? Can you share a demo page that reproduce the issue?

[2018-08-01 19:44] ayumihamsaki commented on #17236
@jaygray0919 The trouble is the Microformats is a HTML markup and JSON-LD is a JSON markup doing that will produce double the output - I already tested it various validators. Don't worry I just removed the Microformats I got lots of schema.org markup already. I just think where it says AMP can use all Microformats in their doc's is not true.

Nevermind thanks for your time!

[2018-08-01 19:44] #17236 closed

[2018-08-01 20:09] choumx commented on #17233
Thanks for filing this. Copy this use case to #17233 and closing as dupe.

[2018-08-01 20:09] #17233 closed

[2018-08-01 20:09] choumx commented on #15519
Similar request: #17233

[2018-08-01 20:13] choumx commented on #15272
(3) implemented in #17229.

[2018-08-01 20:30] lannka commented on #16473
So what does expectedError exist for? CSI is mainly for latency report, and will be not ideal for this kind of purpose.

Preventing the noise was exactly the reason why we put them in a separate bucket.

[2018-08-01 20:31] jridgewell opened #17243 "Cleanup 'custom-elements-v1' experiment"
https://github.com/ampproject/amphtml/pull/17205

[2018-08-01 20:40] calebcordry commented on #17142
I agree the current design is flawed. We have often talked about how nice it would be to have a clear indication that something is a macro, but unfortunately so many people rely on the existing format.

cc/ @zhouyx @lannka For their input. I am actually surprised we haven't seen something like the `MYCOUNTER.COM` collision before.

[2018-08-01 20:41] spacedino opened #17244 "Publish recommended accessibility checks for contributors"
We have some checks that we use internally. I think we should formalize this and post it to github as part of the contributor ecosystem.

I'm not sure if we already do this with good first issues?

cc/ @aghassemi @cramforce @mrjoro @rudygalfi @ericlindley-g

[2018-08-01 20:58] alexandesigner commented on #17116
🎉 First of all I would like to praise ur work.

Currently facing the same problem. :cry:

I do not know the complexity for the implementation, but maybe the sample cited by @nainar

We could have an attribute ``adpativeHeight`` in component

[code]

Maybe the ideal behavior resembles the gif presented by @milkovsky

[2018-08-01 21:39] zhouyx commented on #15653
@jeffnordlund-ghost Thank you for the information. Again this is really helpful!

To support different analytics events, and different request method, we are planning to support a CMP based template. Then you can use <amp-analytics> or <amp-pixel> component to collect analytics with much flexibility.

Yes we have `onConsentHref` that's supposed to support features like this.

[2018-08-01 21:55] jeffnordlund-ghost commented on #15653
I assume onConsentHref is something new since I don't see any docs for it yet.

If you can start to build in support for GET requests that would be great.  We don't use servers for 99% of our stuff, just using our CDN to distribute the scripts and settings.  This makes our scripts faster and our uptime is basically 100% as opposed to using a server.  So supporting that would be great for us.

[2018-08-01 22:02] rsimha opened #17245 "Fix usage of `this.skip()` within tests"
Using `this.skip()` within tests can cause `afterEach()` to be skipped. https://github.com/mochajs/mocha/issues/2148

In addition, `this.skip()` doesn't work from within a nested `describe` block. https://github.com/mochajs/mocha/issues/2683#

Figure out how to get past these two issues while still allowing tests to dynamically skip themselves.

[2018-08-01 22:02] rsimha commented on #17245
/cc @jridgewell @choumx

[2018-08-01 22:07] Gregable commented on #17152
@aghassemi for a better answer.

@craigscott29 , are you aware that `-latest` already exists? I think the answer is that `-latest` is always a stable version, it's not used as a beta channel mechanism.

[2018-08-01 22:42] aghassemi commented on #17152
@craigscott29 we already support `-latest` however when we do a version bump, it pretty much always carries breaking changes with it (since we mostly make backward-compatible changes in the stable ever-green 0.1 version) so it is quite risky to use `-latest` in production.

[2018-08-01 22:47] eeeps opened #17247 "AMP Cache optimizations make already-well-optimized images bigger (and worse-looking)"
## What's the issue?

Feeding an already well-optimized image into the AMP cache can result in an image which is larger (and lesser-quality, due to [generation loss](https://cloudinary.com/blog/why_jpeg_is_like_a_photocopier)) than the original.

## How do we reproduce the issue?

Compare (desktop Chrome, DPR: 2):

https://ericportis.com/etc/amp-imgs/

Image 1: 8.3 KB
Image 2: 53.5 KB

to

https:/

[2018-08-01 23:44] craigscott29 commented on #17152
Thank you @Gregable and @aghassemi for the explanation. I thought I had seen -latest in my Google travels late last week but then could not find it again so I chalked it up to some end of the week losing it.

[2018-08-02 03:56] Mohit-3 commented on #16065
This problem is resolved now. I have converted in house pixel to xhrpost and moved segment.io to post pageload. Thank you so much @lannka and @zhouyx for your help. I am closing this ticket

[2018-08-02 03:56] #16065 closed

[2018-08-02 09:38] SimonHogstromRonbol opened #17252 "AMP-lightbox-gallery - unable to open the same image twice."
## What's the issue?

When I click to open an image in the amp-lightbox-gallery, everything works as intended, but when I then close the image gallery, and try to reopen the same image, I'm unable to.

Opening new images in the same gallery is not a problem, but if i try to reopen an image i had opened prior, it crashes, and wont let me open any more image in the gallery.

## How do we reproduce t

[2018-08-02 12:07] bpaduch commented on #12621
@choumx - ping.  Can you look at above questions so I can understand better the docs need.

[2018-08-02 13:55] bjalford opened #17254 "Run timeago for posts in amp-live-list after refresh"
Issue:

On a live list, when page loads, time ago runs. If you stay on the page then a new post comes in with e.g. 20 seconds ago, then if the user stays on page the next post comes in with e.g. 5 seconds ago but the 1st new post still says 20 seconds ago. This is confusing for visitors to page.

Some approaches to consider:

1. Add general refresh time to amp-timeago component e.g. every 30 secon

[2018-08-02 14:01] unki2aut opened #17255 "Intent to Implement: amp-bitmovin-player"
## What's the issue?

We would like to create a `amp-bitmovin-player` component for our customers to use in their AMP websites.

The idea is that the component loads the [Bitmovin Player](https://bitmovin.com/video-player/) from the CDN, sets it up and plays back the customers video source. We support DASH, HLS, Smooth and progressive files with all kinds of DRM providers, ads and external subtitl

[2018-08-02 14:55] rsimha commented on #17190
@prateekbh Let me know if `useFakeXMLHttpRequest` works now.

[2018-08-02 15:05] jpettitt commented on #17138
We definitely need to do better than

Expect that to be covered in the postmortem.

[2018-08-02 15:36] jpettitt commented on #17252
Duplicate of #17044 - the fix has been merged but is not yet in production.

[2018-08-02 15:36] #17252 closed

[2018-08-02 15:42] jpettitt commented on #17239
This is almost certainly a CORS issue.  If it works on the orign but does not work cross origin make sure you are setting all the headers required by the[ CORS spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md)

If that is not the issue please provide a url we can use to reproduce the error.

[2018-08-02 15:42] #16679 closed

[2018-08-02 15:46] rsimha commented on #17245
According to https://mochajs.org/#inclusive-tests, use of `this.skip()` is okay in `before()`, since none of the `beforeEach()` setup is done at that point. The only problem is when `this.skip()` is called in `beforeEach()`.

I think we can work with this.

[2018-08-02 15:48] aghassemi commented on #17255
Thanks @unki2aut, to @alanorozco fo comments.

[2018-08-02 16:54] #13595 closed

[2018-08-02 17:05] sryze commented on #2277
So to clarify, if you use `<base href="/"> and a page is served from http://example.com/app/mypage and has a relative link to myotherpage, when you click on the link you will go to http://example.com/myotherpage, not http://example/app/myotherpage, correct? That is, the base tag doesn't help in this case?

[2018-08-02 17:06] choumx commented on #12621
Publisher endpoints should strip/ignore the `usqp` param when processing AMP URLs in the `referer` header of analytics requests.

[2018-08-02 17:13] jerimiahwelch commented on #17138
@jpettitt ,

We are still seeing this error in Beta Google Search Console for pages crawled yesterday:

![screen shot 2018-08-02 at 10 06 28 am](https://user-images.githubusercontent.com/1224514/43599388-49c5fa5c-963c-11e8-9eb2-5dd0f155b9b0.png)

We'll wait until they go away before converting all pages to 0.2, but it appears the error is not fixed in Google Search Console Beta.

[2018-08-02 17:23] zhouyx opened #17257 "[Accessibility] amp-consent and amp-user-notification"
Action Items
- [x] Use modal the consent dialog is always the first to focus.
- [x] Consider adding invisible alert to request for users consent
- [x] ~~In the case of multiple prompts, focus on next prompts until there's no more.~~ (No Longer changed)
- [x] Remember users' focus and set the focus back after dealing with consent prompt

[2018-08-02 17:56] #16690 closed

[2018-08-02 18:06] cathyxz commented on #13332
/cc @alanorozco who made recent changes to `<amp-lightbox>`

[2018-08-02 18:36] aghassemi commented on #17254
@bjalford both requests make sense to me. /cc @ericlindley-g

[2018-08-02 18:37] aghassemi commented on #17247
@Gregable would you be able to coordinate this with the AMP Cache team?

[2018-08-02 18:39] cathyxz opened #17258 "[amp-lightbox-gallery] navigating via thumbnail gallery results in non-displaying image"

[2018-08-02 18:41] aghassemi commented on #17238
@jerimiahwelch Would you please bring this up in Google Search forum instead? https://productforums.google.com/forum/#!topicsearchin/webmasters/category$3Aaccelerated-mobile-pages-amp%7Csort:relevance%7Cspell:false Folks monitoring AMPProject GitHub mostly deal with the open-source library and are not knowledgable on integration with search engines.

[2018-08-02 18:41] #17238 closed

[2018-08-02 18:45] aghassemi commented on #17234
@SimonHogstromRonbol Thanks for the report. I can repro on desktop when clicking super fast.

[2018-08-02 18:59] lannka commented on #16856
The insertion point are from an XHR call after amp-auto-ads are loaded. This proposal will likely to break the "instant" load experience we brought from pre-rendering.

amp-auto-ads extension will be too late to do this. and this ad slot with "most popular static size" has to be tagged by pub, or server side rendered by AMP Cache.

[2018-08-02 19:02] jgluk commented on #17247
Tracked internally as 111636720.

[2018-08-02 19:29] jerimiahwelch commented on #17238
@aghassemi - Thank you for the link. I'll post there.

[2018-08-02 19:58] #16920 closed

[2018-08-02 19:58] #17061 closed

[2018-08-02 20:16] aghassemi commented on #17097
1533168552513  is now in production

[2018-08-02 20:16] #17097 closed

[2018-08-02 20:27] mrjoro opened #17260 "Status Update 2018-08-06"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-08-02 20:58] lannka commented on #15730
hi @ndahmani , @aghassemi had question regarding to your implementation on the [chrome bug](https://bugs.chromium.org/p/chromium/issues/detail?id=845817#c22) that @RonanDrouglazet  reported.

The current status looks to me is
1) It's uncertain if this is a Chrome bug or mis-implementation. Given the unmute button was put in a different iframe, for some reason browser didn't tie the user interactio

[2018-08-02 21:19] lannka commented on #17142
So we need to make a decision if URL substitution in host name should be supported in AMP. i.e., is there valid use cases.

@cheneytsai seems for your use cases, can actually put a static value there to work around, as you already did so.

Depending the decision, here are the solutions
1) if we're not supporting it, then we need to document it clearly. we can also do sanity check in runtime and pr

[2018-08-02 21:39] juanlizarazo commented on #16995
Gimme this one, need an amp issue for the weekend

[2018-08-02 21:40] #15656 closed

[2018-08-02 21:41] jasti commented on #15730
@lannka why is this a non-issue on non-AMP pages? If yes, is the ads cross domain iframe setting `allow=autoplay`?

[2018-08-02 21:43] lannka commented on #15730
This can be a question for @RonanDrouglazet . did you had to use allow=autoplay in non-AMP world?

[2018-08-02 21:46] pbecotte commented on #16435
I am the CTO at Narrativ, a company that offers similar services. If this could be made to be generic as suggested, we could make use of it as well (we were considering opening a similar issue when we came across this one). If it helps move things along, we would be capable of contributing engineering resources to this effort as well. The existing workflow in the design doc works the same way as o

[2018-08-02 22:06] prateekbh commented on #17190
@rsimha thank you for the work. Sadly it didn't solved what I was looking for.

I made a dummy PR to repro this: https://github.com/ampproject/amphtml/pull/17263

[2018-08-02 22:13] rsimha commented on #17190
What's the problem? I can get that test and others to pass.

[2018-08-02 22:38] prateekbh commented on #17190
Everything's fine on local machine, it goes to travis -> saucelabs and breaks `test-preconnect.js` which is not even touched in this PR

[2018-08-02 22:38] prateekbh commented on #17190
https://travis-ci.org/ampproject/amphtml/jobs/411485802

[2018-08-02 22:41] rsimha commented on #17190
Seems like your test isn't properly cleaning up the mock `XMLHttpRequest`, so you'll need to make sure that's being done correctly. If you can't get it to work, please file a separate issue.

[2018-08-02 22:47] rsimha commented on #16380
Assigning to @danielrozenberg to deal with while he makes `gulp bundle-size` differential.

[2018-08-02 23:12] ericlindley-g commented on #16554
@jridgewell Just wanted to check in on this — has anyone been able to take a look at why this is happening?

[2018-08-02 23:13] ericlindley-g commented on #16933
@jridgewell Checking in on this issue — have we been able to investigate more closely?

[2018-08-02 23:26] ericlindley-g opened #17269 "Support additional quota for inline CSS"
Building on https://github.com/ampproject/amphtml/issues/11881, this issue is to discuss increasing the limit on CSS while retaining reasonable safeguards.

Proposal:

- 50K limit for `<style amp-custom>` tag in `<head>`
- 1K limit for value of inline `style` attribute per element
- Combined limit of 75k

Question for developers using AMP:
Does this address the desired use cases by folks in the ot

[2018-08-02 23:40] Gregable commented on #17138
@jerimiahwelch The short answer (longer answer in postmortem soon) is that newly processed documents will not have this error and the error will disappear over time as these documents are reprocessed. In other words, the count of this error will only decrease over time at this point.

[2018-08-02 23:52] cathyxz commented on #17178
Minimal repro: https://codepen.io/cathyxz/pen/qyoQVQ

[2018-08-03 00:00] cathyxz commented on #17178
/cc @aghassemi, @nainar

[2018-08-03 00:03] aghassemi commented on #17178
dup of https://github.com/ampproject/amphtml/issues/16605

[2018-08-03 00:03] #17178 closed

[2018-08-03 00:40] jamescridland commented on #16856
As a publisher, I'm used to suggesting a size for things like amp-list or amp-iframe. If I could suggest a size for the first ad, I'd be happy with that.

[2018-08-03 00:56] #17258 closed

[2018-08-03 02:43] jpettitt commented on #17269
I think this is a reasonable compromise, the 1k per element seem generous and the extra 25k seems reasonable.  After compression if it's maxed out it's about 9 x 1500 bytes packets or 0.05 seconds on a 2 mbit/sec connection.

[2018-08-03 08:10] #15828 closed

[2018-08-03 12:46] Spark-NF opened #17273 "Replace non-provided macros by empty strings in RTC endpoints"
Following PR #16905

## What's the issue?

For RTC endpoints, if some parameters/macros are optional and not provided by a publisher, they will be passed to the endpoint as-is. For example, given the following endpoint (where the publisher is to provide a ZONE_ID but the SUB_ID is optional):

[code]

If the publisher uses this `amp-ad` configuration:

[code]

Then the URL called will be `https://w

[2018-08-03 12:48] Spark-NF commented on #17273
Ping @bradfrizzell

[2018-08-03 13:26] AcidRaZor commented on #17152
@Gregable The powers that be didn't see it as a warning. Not sure how client-facing you are, but normal people (with no I.T background and no inclination to learn) sees a warning as an error and vice verse. They just care that something is wrong and will affect their bottom line.

The changes that have gone live before, breaking functionality, was with navigateTo. Also had to explain it wasn't an

[2018-08-03 13:51] AcidRaZor opened #17274 "amp-list to use/consume Link Header's?"
Hi,

With the implementation of a "Show More" button on amp-list, I had to make a few changes to the output of my JSON to include "hasMorePages" including keeping count of page number I'm on/requesting etc.

I was wondering if it would be possible/considered (I'm not 100% sure security-wise), that instead of having to make changes to my JSON output, if the header of the response could contain that

[2018-08-03 14:20] jerimiahwelch commented on #17138
@Gregable Thank you for the explanation. I do see the errors going down over time.

I'm a bit confused because some of those pages with the error report that they were crawled on 8/1, which is two days after the fix was reported as completed in this thread. For my understanding, does it take some time for updates to propagate through the validation system or is the 8/1 crawl date not a precise dat

[2018-08-03 14:52] AcidRaZor commented on #17269
The 50k limit is pretty reasonable to me at this stage. I trim any CSS that the specific page is not using. So a normal 80kb CSS for an entire site including it's assets, usually ends up between 10-25kb of CSS, leaving my pages around the 35kb mark each.

@jpettitt Not everyone has 2mbit/sec connection on 3G, we should cater for the lower-denomination to account for any areas that might have shodd

[2018-08-03 15:18] gmajoulet opened #17276 "amp-story-page loading spinner is displayed on the left of the screen"
`amp-story-page` loading spinner is displayed on the left of the screen, when it's supposed to be on the right (and inverted for the `rtl` languages).

![image](https://user-images.githubusercontent.com/1492044/43650838-d19ffe14-970e-11e8-8dcd-17391d5f58f0.png)

[2018-08-03 15:19] gmajoulet opened #17277 "Video on first page of a story not playing"
In many cases, the video on the first page of a story won't play on page load.

Easy to repro by launching `examples/amp-story/ampconf.html`.

[2018-08-03 15:53] aghassemi opened #17279 "🚄 Release tracking issue for 1533253141109 (Canary)"
# Release tracking issue

- [x] Release [1533253141109](https://github.com/ampproject/amphtml/releases/tag/1533253141109) is cut as a new canary release
- [x] Release 1533253141109 pushed to dev channel (9:00 AM, Aug 3, 2018 UTC-7)
- [x] Release 1533253141109 pushed to 1% (4:30 PM, Aug 3, 2018 UTC-7)
- [x] Release 1533253141109 pushed to production

[2018-08-03 16:05] #17276 closed

[2018-08-03 16:11] aghassemi opened #17280 "Error: Cannot read property 'style' of null"
Lots of recent errors with `Error: Cannot read property 'style' of null`. Coming from `animateScrollIntoViewInternal_`

See error [CJ3N8aeY447ncw](http://go/ampe/CJ3N8aeY447ncw)

[2018-08-03 16:23] carolinephilbin commented on #13371
Hey @lannka @calebcordry what's the status here? Any updates?

[2018-08-03 16:30] lannka commented on #13371
@carolinephilbin the work is done. however, last week we caught a [bug](https://github.com/ampproject/amphtml/issues/16917) when we try to roll it out.

The bug has been fixed in canary. It will land in prod next Tuesday (8/7/2018).

After that, we'll update documentation.

[2018-08-03 16:32] lannka opened #17282 "Macro $BASE64 needs to handle unicode"
as [pointed out](https://github.com/ampproject/amphtml/issues/13371#issuecomment-390601122) by @adamkasprowicz

https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding

[2018-08-03 16:33] lannka commented on #13371
Re base64: @adamkasprowicz thanks for foreseeing the issue
Opened a separate bug for that: #17282

[2018-08-03 16:38] lannka commented on #13371
Although we still plan to take 1-2 weeks to gradually ramp up the traffic to v2. So the full availability of the feature will be around (8/14/2018 or 8/21/2018)

[2018-08-03 16:48] carolinephilbin commented on #13371
@lannka great, thanks for the update!

[2018-08-03 17:06] lannka commented on #13524
Hi folks, thanks for reporting. The feature is currently behind an experiment flag.

Please go [here](https://cdn.ampproject.org/experiments.html) and turn on `user-error-reporting` and test it out. Pls report bug if you folks see any.

There is a known issue that all errors on AMP ads on the page will also be reported #10891 .
We were a bit reluctant about making it fully available before resolvi

[2018-08-03 17:45] #14635 closed

[2018-08-03 18:11] #17245 closed

[2018-08-03 18:35] jpettitt commented on #17269
@AcidRaZor 2G (50kbps) even with EDGE (500kbps) is going to be pretty bad no matter what we do.  An extra 12.5kB of css assuming 50% compression is less than 1% of a typical AMP page weight (* see below).  While I agree it would be nice to keep CSS down sites who are converting existing content have a struggle to get under 50K and converting inline styles is particularly expensive as you have to j

[2018-08-03 18:57] SchnWalter commented on #9093
The oEmbed websites publishes a list of providers in a [JSON](https://oembed.com/providers.json) file, which could be used to validate URLs. This file can be updated by submitting PRs, see:

[2018-08-03 19:01] choumx commented on #16435
A generic extension would be great. Can you elaborate on these differences?

[2018-08-03 19:05] jpettitt commented on #17274
So are you thinking of `Link: <https://www.example.com/...>; rel=next`(or prev, first, last)  headers on the json data response in the same way as [github does it](https://developer.github.com/v3/#pagination) ?

[2018-08-03 19:05] carolinephilbin commented on #13371
@lannka will the full availability of this feature allow for a successful Mixpanel integration?

[2018-08-03 19:22] lannka commented on #13371
Yes, if what you need is Base64 and Jason.stringify.

We will try to fix the base64 unicode issue before that

[2018-08-03 19:23] pbecotte commented on #16435
The difference is that our tag works on whole urls instead of just the advertiser domain, so we need to submit both http://merch1.com/producta and http://merch1.com/productb to the api and update the links accordingly (and of course, the API address and the fields for impression tracking are slightly different)

[2018-08-03 19:26] #16052 closed

[2018-08-03 19:48] cpapazian commented on #17099
thanks @zhouyx. we're doing another round of testing now. i've been able to get the `important: true` to force a flush in testing, and our metrics show that this is working better in production. i think we're good for now!

[2018-08-03 19:48] #17099 closed

[2018-08-03 20:30] lannka commented on #14333
Do we really need to fix? I don't see any impact. Worst case, this dev server gets deployed to heroku, but still, noting to lose.

[2018-08-03 20:39] lannka commented on #14487
#16531 address that

[2018-08-03 20:39] #14487 closed

[2018-08-03 20:42] #17277 closed

[2018-08-03 20:45] lannka commented on #14240
@jasti was the idea to add this constraint to all 3P ad frames? Or do we let pub/ad network opt-in?

@keithwrightbos is it something used by doubleclick in non-AMP world? I'm bit worried if this could cause false alarm if the creative implementation somehow delayed the navigation after a click.

[2018-08-03 20:45] lannka commented on #14333
Feel free to reopen if you do see an issue.

[2018-08-03 20:45] #14333 closed

[2018-08-03 20:46] lannka commented on #14789
Given all the restrictions, I don't think it's that worthy to do it now.

[2018-08-03 20:46] #14789 closed

[2018-08-03 20:48] jridgewell opened #17292 "Verify Custom Elements Polyfill in more browsers"
I can run sauce labs browsers locally testing:

- IE 11 (no CE)
- Edge something (no CE)
- iOS Safari 10.2 (no CE)
- iOS Safari 10.3 (adds CE V1)
- Chrome 45 (no CE)
- Chrome (CE V1)
- Firefox (no CE)

[2018-08-03 20:58] lannka commented on #13524
Discussed with @choumx offline, we think we might just roll this feature out given it's a pretty safe feature. Given the nature of the feature (error reporting), it's hard to find issues without having people use it. We can fix any issues on an on-going basis.

[2018-08-03 21:20] aghassemi commented on #17280
@jridgewell this error comes from pages with `amp-fx-flying-carpet` in `prerender` mode. https://ampbyexample.com/components/amp-fx-flying-carpet/#visibilityState=prerender

It does not seem to have any user-facing impact (renders fine after viewer changes it from `prerender` to `visible`) however it is creating a lot of errors, so keeping it at P1.

(the stack trace in the error is totally wrong)

[2018-08-03 22:08] jridgewell commented on #17280
This is due to https://github.com/ampproject/amphtml/pull/17225. `firstAttachedCallback` is called during upgrade, which happens before `buildCallback` (which creates the element that we're trying to get the `.style` prop from).

[2018-08-03 22:12] jasti commented on #14240
@lannka my idea was to make it the default across all 3P ad frames.

[2018-08-03 22:24] jridgewell commented on #17280
Fixed in https://github.com/ampproject/amphtml/pull/17294.

Given the number of errors, we should cherry-pick Canary, maybe Prod.

[2018-08-03 22:35] #12418 closed

[2018-08-03 22:36] lannka commented on #11313
Closing now for inactivity.

[2018-08-03 22:36] #11313 closed

[2018-08-03 22:37] #11151 closed

[2018-08-03 22:42] lannka commented on #10703
Closing this. Favor to #16557

[2018-08-03 22:42] #10703 closed

[2018-08-03 22:44] lannka commented on #13146
Let's continue the "enabling ad sandbox" topic here #14240

[2018-08-03 22:44] #13146 closed

[2018-08-03 22:44] calebcordry commented on #17282
Closed by #17290

[2018-08-03 22:44] #17282 closed

[2018-08-03 22:47] lannka commented on #14240
in #13146 @coreybyrnes was also suggesting to set `allow-scripts` `allow-popups` to limit the top window navigation.

@keithwrightbos I want to learn what doubleclick does, and what's the risks of enabling it now.

[2018-08-03 22:50] lannka commented on #8970
in the spirit of moving shared code to service, @jridgewell would you like to take this ?

[2018-08-03 22:59] Gregable commented on #17138
There was a secondary issue discovered that only appeared once publishers like yourself began converting pages to use 0.2. It was infrequent, but not resolved until 8/2.

[2018-08-03 23:03] jasti commented on #13819
If @dvoytenko agrees, to cache the user subscription state (keep it one behind) and be okay with a collapse the first time a subscriber views a page from a single domain.

[2018-08-03 23:06] lannka commented on #7788
Yep, it's done.

[2018-08-03 23:06] #7788 closed

[2018-08-03 23:08] #4598 closed

[2018-08-03 23:09] lannka commented on #3061
done by #16734

[2018-08-03 23:09] #3061 closed

[2018-08-03 23:10] Gregable commented on #17152
@AcidRaZor We are looking at a few areas in Search Console's interface that may cause unnecessary confusion over what is a warning and what is not. In particular, my understanding is that the email sent to you simply showed "New AMP Issues detected..." while the Search Console UI is clearer on the type (warning vs. error) and detail of the issue.

If you have other feedback that we can bring to th

[2018-08-03 23:12] lannka commented on #2273
@88kbbq we can't just let any non-AMP script run in the AMP window. @torch2424 will take on this work in next sprint. Sorry for the wait.

[2018-08-03 23:13] #16473 closed

[2018-08-03 23:24] #15336 closed

[2018-08-03 23:32] lannka commented on #14117
Instead of bloating a single AMP page with many CSS variations, I'm thinking if this should be an A/B experiment feature in Cache.

For example, each variation of a page uses URL param or meta tags on the pages to inform the Cache how they like the traffic to be distributed.

@cramforce

[2018-08-03 23:35] 88kbbq commented on #2273
Well, it’s a google script so...

[2018-08-03 23:40] cramforce commented on #14117
Yeah, I think we need a full page A/B testing solution. Just the CSS doesn't make much sense.

[2018-08-03 23:40] #8239 closed

[2018-08-03 23:46] lannka commented on #14117
Sounds like a big project. Shall we approach the Cache team?

[2018-08-04 00:36] aghassemi commented on #14062
moving this to shipped and closing

[2018-08-04 00:36] #14062 closed

[2018-08-04 00:41] cramforce commented on #14117
It is kind of already on our radar. CC @rudygalfi

[2018-08-04 00:45] aghassemi commented on #17274
@AcidRaZor That's a great idea and we have started woking on a feature that has a fairly similar API to your suggestion. We are combining the concepts of "show more" and "infinite scroll" together (infinite scroll essentially being a auto trigger of show more). The API allows for specifying next page in the JSON response ( instead of HTTP response headers).

Please see https://github.com/ampprojec

[2018-08-04 01:44] Gregable commented on #17269
I'm not super familiar with the performance effects of these constraints, so this may be a stupid question. Why do we not want to "advantage" inlined CSS? Said another way, if there is a combined limit of 75k, why would we not just allow the developer to spend that limit either in the `<style>` tag or inline attribute as they see fit?

It seems to me strictly more convenient to developers to simpl

[2018-08-04 03:05] lannka commented on #2273
@88kbbq AMP is an open source project, and any scripts running inside AMP window has to be open sourced and visible in AMP repo.

[2018-08-04 03:07] lannka commented on #9678
Dup of #2273

[2018-08-04 03:07] #9678 closed

[2018-08-04 03:38] lannka commented on #15773
Not seeing in production anymore.
https://pantheon.corp.google.com/errors/CPntjL2Qtvnp-gE?service=default-cdn-1p&time=P30D&filter=text:Cannot%20read%20property%20%27obj%27%20of%20undefined&project=amp-error-reporting

[2018-08-04 03:38] #15773 closed

[2018-08-04 04:13] #17228 closed

[2018-08-04 04:13] #17280 closed

[2018-08-04 06:29] felixarntz commented on #300
Hi @aghassemi, I'd like to tackle this! It would be my first AMP contribution, so I likely need a bit of time to dive in, but it appears this issue has a clearly defined scope, and with #16167 I have a good reference for what to look at.

I've looked into the [Twitter documentation for creating a timeline](https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/scripting-f

[2018-08-04 10:46] AutadeJS commented on #15920
@hongwei1990 says above "so 3:4 scales better than 9:16"

But this latest official video https://www.youtube.com/watch?v=2WjFBnCj2ew titled "Best practices for creating an AMP story" is again is giving 720x1280 as standard size. Shouldn't the recommended size be 960x1280?

Even the 2 help links above still recommend 720x1280.

[2018-08-04 11:03] felerticia opened #17302 "Amp-list to generate different elements based on JSON values"
Hi I have an amp-list that outputs bunch of divs nice and easy, my only problem is that I want the first output item to have some different attributes from others.

Here's an example:

[code]
which renders to this:

[code]
But I'd like the first item to be :

`<div role="tab" class="tabButton" option="1" aria-selected="true" tabindex="0" selected ></div>`
where aria-selected is set to true and sel

[2018-08-04 19:16] zkeram opened #17303 "amp-image-lightbox broken animation if amp-img has layout="intrinsic"."
## What's the issue?

While using `<amp-img>` with `layout="intrinsic"` and `<amp-image-lightbox>` the showing animation (zooming the image) is broken.

### Why it happens

Inside `<amp-img>` with `layout="intrinsic"` there are generated 2 images

1. An image to keep the shape of the image
2. The main image (from `src` attribute)

The first image is selected to be animated, but the second one shou

[2018-08-06 00:29] JcChimjj opened #17304 "搜尋AMP"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-08-06 02:05] andreyMakahov commented on #13524
Thank you, I will test the feature on my local computer first.
But it is really great idea to roll the feature out. Looking forward.

[2018-08-06 03:40] devvercer commented on #13262
Now that input type=file is supported this issue seems more important.  I now have a valid amp-form with a file input that sends its entire content every time any field changes.  To work around I have disabled validation for this form which is not ideal.

[2018-08-06 03:52] andreyMakahov commented on #13524
Tried the feature on my local machine.

I am using the this [example page](https://github.com/ampproject/amphtml/blob/bde01e900a6fdc31c5a477d4ddedaee1cd0baa3b/examples/analytics-error-reporting.amp.html).

What I did:
1. Enabled development mode(added `#development=1` to page url).
2. Enabled test feature in browser console `AMP.toggleExperiment('experiment')`.

I got a lot of errors in browser co

[2018-08-06 07:51] SchnWalter commented on #16611
In Chrome beta `Version 69.0.3497.23 (Official Build) beta (64-bit)`, you not only have cropping issues on the right side, you also have issues with cropping on scroll:

![screenshot_20180806_104824](https://user-images.githubusercontent.com/2186426/43703692-45c0de54-9966-11e8-98a1-a1625d3c1227.png)

Example HTML file: [facebook-embed-issue.zip](https://github.com/ampproject/amphtml/files/2261600/

[2018-08-06 10:37] dulgar commented on #14073
can you add a "windowWIDTH" variable which can be used for calculation in amp-list expression

[2018-08-06 11:33] dbarcosb commented on #12209
The map we have in mind is from Google Maps. Google Maps Static API is currently used to create the image placeholder and when the user taps on it, the map is created with Google Maps JavaScript API. This option lets us customize maps with our own places of interests and icons. Thanks!

[2018-08-06 12:44] jaygray0919 commented on #17302
answered here: https://stackoverflow.com/questions/51684927/amp-list-to-render-different-elements-based-on-json-value/51689630#51689630

[2018-08-06 14:15] lannka commented on #13524
@andreyMakahov `development=1` is not needed. Also, you will call `AMP.toggleExperiment('user-error-reporting')`.

Instead, as mentioned above, you could go [here](https://cdn.ampproject.org/experiments.html) and turn on user-error-reporting.

[2018-08-06 15:12] GoodGun commented on #17138
same problem appeared also for us, still continues... is there any answer for that reason;

cloudflare shows;

![image](https://user-images.githubusercontent.com/6792040/43725063-33e78dde-99a4-11e8-9078-162861f76a3e.png)

[2018-08-06 15:25] cvializ opened #17308 "Enable [title] binding for amp-iframe"
Enable amp-bind `[title]` attribute for `amp-iframe` to improve accessibility. Since the `[src]` attribute is enabled, we need to allow document authors to change the `title` attribute to better annotate the changing iframed documents for screen readers.

https://www.w3.org/TR/WCAG20-TECHS/H64.html

[2018-08-06 15:51] rsimha opened #17309 "amp-video tests are routinely timing out on Travis"
It's a different video component each time, but the timeouts look the same.

https://travis-ci.org/ampproject/amphtml/jobs/411942051#L1412
https://travis-ci.org/ampproject/amphtml/jobs/411851659#L1420
https://travis-ci.org/ampproject/amphtml/jobs/411814260#L1420

[2018-08-06 15:52] rsimha commented on #17309
/to @aghassemi @cvializ @alanorozco
/cc @newmuis who is build cop

[2018-08-06 16:41] #17304 closed

[2018-08-06 17:02] Gregable commented on #17138
Please see the attached post mortem on this issue.

[Post-Mortem-amp-mustache-0.2.pdf](https://github.com/ampproject/amphtml/files/2263412/Post-Mortem-amp-mustache-0.2.pdf)

[2018-08-06 17:02] Gregable commented on #17138
@GoodGun it would appear that Cloudflare's validator rules are out of date.

[2018-08-06 17:18] aghassemi commented on #300
@felixarntz Thanks! That would be amazing.
@sparhami would you please take a look at the proposal and help @felixarntz through his contribution?

[2018-08-06 17:49] cathyxz commented on #17303
We'll need to apply the same fix to `<amp-lightbox-gallery>`.

[2018-08-06 17:57] GoodGun commented on #17138
@Gregable thanks for your fast reply, we ll discard the cloudflare validator...

[2018-08-06 18:34] src-code commented on #16779
Thanks @jgluk!  A few follow-up questions:

It's not clear to me why this conversion is failing in this example, since the conversion shouldn't result in a change as far as I can see (the domain isn't using any extended unicode chars.)  Can you help me understand why this one is failing?

So since this is a one-way hash, and hitting this API during a user request is not realistic, a publisher woul

[2018-08-06 18:52] matthewgcallahan opened #17312 "Amp Story bookend sets max-height on components"
## What's the issue?
Small link and text modules have a `max-height` set on them. In some cases this cuts off headlines mid-word, as well as limits how much text can be added to a text module.

![screenshot 2018-08-06 14 15 26](https://user-images.githubusercontent.com/4527305/43733708-8b0c7a00-9983-11e8-80ca-41278d2cdc81.png)
![screenshot 2018-08-06 14 15 22](https://user-images.githubusercontent

[2018-08-06 19:47] #12349 closed

[2018-08-06 20:55] erwinmombay commented on #16380
dev dependencies can affect bundle size

[2018-08-06 21:01] rsimha commented on #16380
@erwinmombay Fair point re: deps that mutate the source. My general point stands though, since I've come across several cases where we did about 30 minutes of testing for changes that obviously didn't need it.

[2018-08-06 21:34] nainar opened #17317 "[Feature Request] amp-carousel should have badge with what slide we are on"
It should have the badge counter on the top-{left/right} depending on ltr or rtl.

cc @spacedino @aghassemi @ericlindley-g

[2018-08-06 21:36] nainar opened #17318 "[Feature Request] amp-carousel on desktop should show controls on hover"
amp-carousel next/prev icons should disappear after a timeout on desktop too. Currently only does this on mobile.
When the user hovers over the carousel you should show the controls

This is for both carousel and slides mode.

cc @spacedino @ericlindley-g @aghassemi

[2018-08-06 21:37] nainar opened #17319 "[Feature Request] amp-carousel on mobile controls improvements"
1. Tap on carousel to see icons
2. After a timeout the icons disappear (unless specified otherwise), this doesn't mean we should lose functionality, tapping in that area should still cause the slides to go to the next/previous slide.

cc @spacedino @ericlindley-g  @aghassemi

[2018-08-06 21:42] #16075 closed

[2018-08-06 21:42] nainar commented on #16075
Fixed #17046

[2018-08-06 21:50] aghassemi opened #17321 "Percy still flakes with iframe-based components"
For instance: https://percy.io/ampproject/amphtml/builds/913922?utm_campaign=ampproject&utm_content=amphtml&utm_source=github_status

`video-player` and other `iframe` based components have dynamic data inside their iframes and depending on when screenshot is take, video may be at a different frame or content inside iframe may be half-loaded etc..

I don't think there is a great technical solution

[2018-08-06 22:08] #17309 closed

[2018-08-06 22:15] sparhami commented on #300
Sure! More than happy to answer any questions on the code or how to try things out.

I think having `timeline-source` (maybe `timeline-source-type` to more closely match how Twitter names it) would be a good route. That way we know that we need to call `createTimeline` based on that being present. For the other properties, I think it makes sense to keep the names the same as twitter as long as the

[2018-08-06 22:16] nainar commented on #17317
This also adds information from an accessibility stand point. It can be an attribute on the carousel to allow for it to be backward compatible.

[2018-08-07 00:10] #16902 closed

[2018-08-07 04:42] andreyMakahov commented on #13524
@lannka Thank you, it works. Looking forward when you roll the feature out so I will be able to use it online.

[2018-08-07 04:57] fr-cdc-nicholas commented on #10230
I created an amp-list with a specific height. But actually, the result JSON data was bigger than that. The amp-list could be expanded to an expected length. It's working well and I see no problem.
BUT, when I directed to somewhere and then clicked "go back" button in the browser. The results were still there but the amp-list was not expanded anymore. It stayed with the specified height.
Have you g

[2018-08-07 07:16] vamshi5889 commented on #10230
Hi @fr-cdc-nicholas
I believe i have encountered this problem long back. But i'm not seeing this issue now in my pages.

Try adding below css,
`#product-container amp-list[height] {height: 100%; position: inherit;}`

Let me know if this doesn't work.

[2018-08-07 07:59] AcidRaZor commented on #17274
Apologies, @jpettitt , you are correct. Just read the RFC for Link Headers

[2018-08-07 08:50] iwoak opened #17328 "error "No ampdoc found" reading amp from pwa in shadow dom"
We load an amp-page in shadow dom from pwa by an amp-reader component, but we receive an error as soon as you open the page:

`Template failed:  [object HTMLDivElement] [object HTMLDivElement]: No ampdoc found for [object HTMLTemplateElement]`

amp page is visible and some things works fine, but we have errors after some other actions like click/tap on element with event listener like this:

`tap:

[2018-08-07 09:12] gilbertococchi commented on #17328
Additional Context is that it happens when the users is clicking on a#detail-audio_trigger

![screen shot 2018-08-07 at 11 11 09](https://user-images.githubusercontent.com/329023/43766474-ca2c00a2-9a32-11e8-84a7-315c155f5c47.png)

[2018-08-07 09:14] gilbertococchi commented on #17328
To emulate it's possible to force the showing of a#detail-audio_trigger by changing the visibility from Dev Tools of its ancestors and then click into the icon to reproduce.
No changes were made on the site recently so we suspect some changes in the Shadow DOM interactions here.

[2018-08-07 09:17] gilbertococchi commented on #17328
@danielrozenberg would you be able to triage and investigate?

[2018-08-07 10:29] gswetha opened #17329 "amp-next-page articles do not render amp-analytics component"
## What's the issue?

Taking the ampbyexample code, we have 2 articles for amp-next-page:
https://ampbyexample.com/samples_templates/news_article/preview/
https://ampbyexample.com/samples_templates/recipe/preview/

Each of these articles has an amp-analytics component which fires a pageview event when loaded on its own.

However, when these pages are loaded via amp-next-page, the amp-analytics com

[2018-08-07 15:19] alabiaga commented on #16719
will schedule a meeting early tomorrow to discuss these changes. Thanks

[2018-08-07 15:54] #13370 closed

[2018-08-07 16:00] danielrozenberg commented on #17321
This specific case is something I'm actively working with Percy on. If you look at the source diff, these two files are exactly the same (except for the RTV version and the order of the CSS styles loaded from the extensions, due to unsynchronicity,) this specifically is an issue with their renderers that we're trying to figure out.

As for the iframes, right now I tried to disable all the explicit

[2018-08-07 16:25] aghassemi commented on #17321
@danielrozenberg https://percy.io/ampproject/amphtml/builds/913922?utm_campaign=ampproject&utm_content=amphtml&utm_source=github_status was just a flake and passed on the second run.

[2018-08-07 17:25] lannka commented on #7790
Dup of #16557

[2018-08-07 17:25] #7790 closed

[2018-08-07 17:27] choumx opened #17334 "amp-bind: Toggle amp-lightbox via binding"
`b/112303198`

[2018-08-07 18:03] aghassemi commented on #17329
Thanks @gswetha . This requests is tracked under https://github.com/ampproject/amphtml/issues/15807 please subscribe and comment on that issue.
/cc @emarchiori @peterjosling

[2018-08-07 18:03] aghassemi commented on #17329
closing as dup of  #15807

[2018-08-07 18:03] #17329 closed

[2018-08-07 18:16] jaygray0919 opened #17335 "amp-mustache-0.2: amp-lightbox[scrollable] attribute removed"
Here are two examples

1
https://afdsi.org/test/amp_lightbox_tooltip_3/

image fails in Safari
image works in mobile Chrome with 'request desktop site'
image works in mobile Mozilla with 'request desktop site'
image (sometimes) fails in Mozilla desktop
image works in Chrome desktop
image works in Edge desktop

2
https://afdsi.org/test/about_us/
Lightbox is scrollable with mustache 0.1
Lighbox is n

[2018-08-07 18:58] juanchaur1 opened #17337 "Element "AMP-AD" not found"
## What's the issue?
When swiping from article to article and scrolling I see the following error: Element "AMP-AD" not found: null. I've tried to get more information and it looks like it happens at analytics-root.js when the selection method is 'closest' and the context.tagName is: AMP-AD.
To be more specific I think it happens after this fix https://github.com/ampproject/amphtml/pull/9486
On ht

[2018-08-07 20:19] MtDalPizzol opened #17340 "amp-facebook only plays video's audio"
## What's the issue?

I'm using amp-facebook for videos and it works great when I access my pages from Chrome on my desktop machine. The problem is that, when accessing the page with Chrome on several Android phones, the video's previews shows up like expected but, when I hit play, it turns into a black screen with a broken file icon and only plays the audio. You can see it on [this image](https:/

[2018-08-07 21:41] nainar commented on #17319
Hi folks, just a headsup - I am implementing this as per a conversation with @spacedino offline.

[2018-08-07 21:42] nainar commented on #17318
Hi folks,

Let me know how you feel about this proposal.

[2018-08-07 23:16] ericlindley-g commented on #14073
@dulgar Could you share an example of how you'd like to use this "windowWIDTH" variable?

/cc @cathyxz and @aghassemi for visibility

[2018-08-08 00:53] nainar commented on #16995
Have at it! :) Assigning this to you.