[2018-01-16 16:56] kul3r4 commented on #12837
@micyeung are you sure the URL requests are those you see in the code? I was expecting the network calls in the Chrome console and I don't see those parameters there

[2018-01-16 17:33] mrjoro commented on #12837
I'm seeing the same thing that @kul3r4 sees in this example page--the src attribute of the amp-list updates with those "[object Object]"s, but the XHRs that are made go to the more_related_products_page as specified in the amp-list form action.

I am curious why we're updating the src in that way.

[2018-01-16 18:00] aghassemi commented on #12837
Although `src` is changing, it is actually not triggering a network request (since it is local state binding from the result of the form submit).

@choumx This case is using local state binding but `src` value of the `amp-list` is also being updated. For debugging and cosmitic purposes, we may want to skip updating the `src` in DOM when local binding is used.

[2018-01-16 18:26] aghassemi commented on #12838
@mikeatkinsonthesecond Thanks. de-duping with https://github.com/ampproject/amphtml/issues/12659

[2018-01-16 18:26] aghassemi commented on #12838
duplicate of https://github.com/ampproject/amphtml/issues/12659

[2018-01-16 18:26] #12838 closed

[2018-01-16 19:19] jasti commented on #12418
We plan to demo it at AMP Conf, so within a month. @glevitzky could you help please?

[2018-01-16 20:00] p2er opened #12847 "AMP shadow throws errors with valid AMP documents embeded"
## What's the issue?

The PWA with amp-shadow integration loads valid amp documents but throws errors.

ShadowCSS.js:179
[code]

custom-element.js:189
[code]
## How do we reproduce the issue?

1. Open: https://www.bmw.com/en/performance/no-mans-land.pwa.html#development=1
2. Loads:
- valid: https://www.bmw.com/en/performance/no-mans-land.shadowstage.html#development=1
- valid: https://www.bmw.com/

[2018-01-16 20:28] bradfrizzell commented on #12374
@nibuca
I'm currently investigating and will see if I can make this available. Will update once I get a better sense.

[2018-01-16 20:35] p2er opened #12848 "AMP shadow does not render flying carpet content in visible viewport"
## What's the issue?

if multiple amp shadow documents are horizontally aligned the flying carpet will still render its contents as if the document was located out of the viewport, even if the initialization of the amp shadow document occurs after the document has been moved into viewport.

## How do we reproduce the issue?

1. Open: https://p2er.github.io/amp-articleslider/ampshadow-slider-flying

[2018-01-16 20:40] p2er opened #12849 "AMP shadow throws error if flying carpet is loaded in second document"
## What's the issue?

Amp shadow works well as long as only one document is initialized, which contains flying carpet. As soon as second shadow document is created errors will be thrown:

[code]

[code]
## How do we reproduce the issue?

1. Open: https://p2er.github.io/amp-articleslider/ampshadow-slider-flying-carpet.html#development=1
- loads valid document: https://p2er.github.io/amp-articleslid

[2018-01-16 21:27] aghassemi opened #12850 "local state binding still changes `src` value."
When `amp-list`'s local state binding is used (pattern similar to the [demo in AMP by Example](https://ampbyexample.com/samples_templates/product_page/preview/), we find that the `src` attribute in `amp-list`  gets dynamically changed to a meaningless URL like the following:
https://ampbyexample.com/samples_templates/product_page/preview/[object%20Object],[object%20Object],[object%20Object],[objec

[2018-01-16 21:28] aghassemi commented on #12837
Created https://github.com/ampproject/amphtml/issues/12850 for the smaller issue that `src` is changed to meaningless value.

Closing this issue for https://github.com/ampproject/amphtml/issues/12850

[2018-01-16 21:28] #12837 closed

[2018-01-16 22:14] cvializ commented on #12645
It looks like for firefox there's a race condition at [src/service/document-info-impl.js:72](https://github.com/ampproject/amphtml/blob/master/src/service/document-info-impl.js#L72) where `ampdoc.getRootNode().AMP` is `undefined` when the value for `CANONICAL_URL` is requested.

[2018-01-16 22:16] aghassemi commented on #12478
@nainar not doing anything with `title` attribute on `amp-instagram`. We would expose a new `alt` attribute on `amp-instagram`, it set, we would propagate it to the `img`. If not set, I was thinking we could use some of the data that comes back from pinterest API about the image and use that as the `alt`. `title` is one of the data fields that pinterest API returns as of the data for the PIN. I th

[2018-01-16 22:25] cathyxz opened #12852 "isLocalDev applied 2 minutes after serving is confusing"
The way `localDev` is currently set is at the end of the build during the write to dist/amp.js:
[code]
This happens about 2 minutes after we start serving files locally, which results in extension developer confusion because during those 2 minutes, any extensions loading other extensions will try to load them from our CDN instead of localhost.

Suggesting that we either print something to this eff

[2018-01-16 22:28] rsimha-amp commented on #12852
I like the idea of applying the config to `amp.js` as soon as it is feasible to do so, instead of after all extensions are built.

[2018-01-16 22:44] aghassemi commented on #12800
@adamsilverstein Reviewing now.

[2018-01-16 23:44] choumx commented on #12850
Thanks for raising this. Actually a dupe of #11629 -- closing.

[2018-01-16 23:44] #12850 closed

[2018-01-16 23:44] choumx commented on #11629
Related: #12837 and #12850.

[2018-01-16 23:51] Gregable commented on #12800
It seems that you can use presentation MathML in firefox and safari without any javascript, ex:

[code]

Should we at least support these tags in the AMP validator? ie: not an amp-component. It would be nice if we could polyfill chrome as well, but it's a shame that this would need to be different for amp than what browsers already have built in.

[2018-01-16 23:53] aghassemi commented on #12837
@choumx So can this actually cause 404's if `amp-list` is layedout after a mutation with locale state?

[2018-01-17 00:02] aghassemi commented on #12800
The component provides conversion from LaTeX and ASCIIMath which is still very useful.
Edge still doesn't support MathML and Chrome [rejected](https://bugs.chromium.org/p/chromium/issues/detail?id=152430) adding support for it. I am not too hopeful native MathML support will become a thing anytime soon.

[2018-01-17 00:05] nainar commented on #12478
Thanks for the explanation, claiming this issue!

[2018-01-17 00:20] jasti commented on #11673
@MKDan Each ad network must own their own ad implementation. Closing the request for now. Please reopen if you have any other questions.

[2018-01-17 00:20] #11673 closed

[2018-01-17 00:22] jridgewell commented on #3434
First [PR](https://github.com/ampproject/amphtml/pull/11830) landed, working on follow ups.

[2018-01-17 00:22] cathyxz opened #12856 "Lightbox: api for specifying a thumbnail on each lightbox element"
Implement a `lightbox-thumbnail-src` attribute that allows people to specify a thumbnail for the lightboxed element. Make sure that this also works for carousels. For carousels, the `lightbox-thumbnail-src` attribute should be on its children.

UPDATE:

Change this api to have a `lightbox-thumbnail-id` attribute reference a `<amp-image>` with `no-display`. This is because:
1. We want to take advan

[2018-01-17 00:23] jridgewell commented on #12554
Demoting to p2. This is definitely something I need to fix, but we can start canary opt-in testing without it.

[2018-01-17 00:27] cathyxz opened #12857 "Lightbox: review css classes to expose"
We want to make certain things customizable for users:
- Lightbox background (black/white defaults)
- Description text color and font
- Fade colors on top and bottom bar
- Customize icons
We should rename and expose relevant CSS classes for developers to do so with some corresponding documentation.

So far, these are the things that we can probably tweak.

[code]

[2018-01-17 00:32] rsimha-amp commented on #12597
Yay! We have zero alerts as reported by https://lgtm.com/projects/g/ampproject/amphtml/alerts/?mode=list

All that's left to do is for @cramforce to enable comments from the LGTM tool. Meanwhile, we can close this issue.

[2018-01-17 00:32] #12597 closed

[2018-01-17 00:40] Gregable commented on #12800
Sorry, I didn't mean to suggest the component shouldn't be added.

My suggestion would be to consider adding support for the component to look for the <math> tag in addition to amp-mathml, and polyfill it in non-supporting browsers? The validator could require our polyfill if it sees the <math> tag in the page.

[2018-01-17 01:13] ericlindley-g commented on #12754
Thanks @hudidit — for app install / open-in-app promotions AMP has a specific component, amp-app-banner, but I don't think it works currently with Dynamic Links ( @aghassemi , can you confirm?). Regardless, the amp-app-banner has behaviors defined to keep it from degrading user experience by showing up too often, so it wouldn't address your specific request here, either.

In general AMP has taken

[2018-01-17 01:18] rsimha-amp commented on #12852
It turns out that it's non-trivial to Insert `enablelocaltesting()` soon after `amp.js` is built, since it's done in parallel within `compile()`. See

https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L296

[2018-01-17 01:20] #12666 closed

[2018-01-17 01:20] rsimha-amp commented on #12852
Meanwhile, it's worth exploring whether we can call `gulp serve` after the first full build completes when `gulp` runs `gulp serve` and `gulp watch`.

[2018-01-17 01:33] choumx commented on #12837
@aghassemi I believe yes.

[2018-01-17 01:37] cathyxz opened #12859 "Lightbox: make lightbox manager and viewer installations work for more than singleDoc mode"
Resolve these two hacks:
[code]

[code]

[2018-01-17 01:41] choumx commented on #11629
Bumping to P1.

[2018-01-17 03:08] micyeung commented on #12517
@choumx would you have an update on the bug here, based on the demo at https://0f4218e2.ngrok.io/index.html ?

[2018-01-17 03:11] aghassemi opened #12860 "amp-bind does not work on LocalDev anymore"
It ries to load the `worker` (`ww.js`) from CDN instead of localhost.

Might be related to recent isLocalDev changes.

/to @rsimha-amp @choumx

[2018-01-17 03:12] aghassemi commented on #12860
it does work after a `guld build` and restart of `gulp serve`. But not with `gulp watch`

[2018-01-17 03:12] aghassemi commented on #12860
actually probably same as https://github.com/ampproject/amphtml/issues/12852 ?

[2018-01-17 03:15] rsimha-amp commented on #12860
Yes, this looks like it is #12852. Will confirm tomorrow.

[2018-01-17 07:08] Makac commented on #11901
I agree that there is a need for a number/currency/date/time formatting feature. Also, it needs to be localized to make sense. For instance, USD 1234567.89, would in US English be formatted as "$1,234,567.89" is Spanish as "1.234.567,89 USD" and in French as "1 234 567,89 USD".

This feature should probably leverage the [Unicode CLDR](http://cldr.unicode.org/) similarly to e.g [FormatJS](https://f

[2018-01-17 10:35] yumruk commented on #11455
hello,

How can I fix?
**404 error:**

**403 error:**

[2018-01-17 10:49] saitho commented on #11455
@yumruk Your website's (https://habervaka.com) SSL certificate was revoked. (SEC_ERROR_REVOKED_CERTIFICATE). This might be the issue. ;)

[2018-01-17 11:17] kotlowskip commented on #9264
Please change method dashToUnderline on this

function dashToUnderline(name) { if(2 === name.split('-').length) { return name.replace('-', '_'); }else { return name+'_'+name.toUpperCase(); } }

Because some language in window.navigator.language are different, ex. en_EN, pl, and your solution not connect with proper fb sdk.
LINK for education
https://developer.mozilla.org/en-US/docs/Web/API/Navigat

[2018-01-17 12:10] yumruk commented on #11455
@saitho To fix the problem I'm talking about ı have again uploaded an new SSL certificate. This is the error you mentioned.
How can I fix?
404 error:

https://habervaka-com.cdn.ampproject.org/r/s/habervaka.com/.well-known/amphtml/apikey.pub

403 error:

https://www-habervaka-com.cdn.ampproject.org/update-cache/c/s/www.habervaka.com/sureli/mehmet-demirkol-galatasaraya-gelebilir-07-january-2018.html

[2018-01-17 12:22] codewiz commented on #11455
@yumruk The 403 error page says: "Invalid PEM key."

The key looks good to me, but there's no Content-Type header in the response. Please configure your webserver to serve the key as "text/plain".

[2018-01-17 12:45] yumruk commented on #11455
@codewiz  I did "openssl rsa -pubin -in apikey.pub -text -noout". Do I do the right thing?

[2018-01-17 13:44] e2corporation commented on #12418
@jasti To clarify, how long will it take to get our Revcontent tag A4A compliant, and will it be before that mentioned conference date?

[2018-01-17 14:36] newmuis opened #12865 "Simplify placeholders for amp-story MediaPool"
Currently, we use the original video elements in the DOM as placeholders that are then swapped out when the page containing the media is (pre)loaded.  We could, instead, use a simpler element (e.g. an image for videos, or a div for audio) to save resources and have fewer media elements in the page.

This would also prevent the browser from trying to keep placeholder media in memory, as only media

[2018-01-17 14:57] Itsathere opened #12866 "The mandatory text (CDATA) inside tag 'head > style[amp-boilerplate]' is missing or incorrect."
My error is attached below
![capture](https://user-images.githubusercontent.com/16954075/35048517-54f83cd2-fbc3-11e7-9adb-e4f98f09892d.PNG)

Below is my source code. I have copied it from [amp](https://www.ampproject.org/docs/tutorials/create/basic_markup)

<!DOCTYPE html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

[2018-01-17 15:41] jpettitt opened #12867 "AMP Carousel not working via the cache."
This page works fine directly, validates.

http://amp.wsbtv.com/news/trending-now/warning-letting-your-car-idle-in-cold-weather-could-be-illegal/684603321

![image](https://user-images.githubusercontent.com/524856/35051214-9357bc60-fb59-11e7-8150-37e97b30f2b6.png)

But fails via the AMP cache

https://amp-wsbtv-com.cdn.ampproject.org/c/amp.wsbtv.com/news/trending-now/warning-letting-your-car-idle-

[2018-01-17 15:50] jpettitt commented on #12867
Tracked internally b/72091990

[2018-01-17 15:51] bradfrizzell opened #12868 "Local mode not properly being set to localdev when switching between branches"
Steps to repro:

1. Checkout a local feature branch
2. gulp clean
3. gulp build
4. gulp
5. Open localhost:8000/examples/doubleclick-rtc.amp.html, open console and verify that amp-ad-network-doubleclick-impl.js was properly loaded from the local build.
6. Kill gulp
7. Checkout a different branch
8. Run gulp, wait to allow recompilation
9. Refresh example page
10. Should now see error message in con

[2018-01-17 15:51] #11629 closed

[2018-01-17 16:09] newmuis commented on #12827
@hongwei1990 The screenshot here is what I see, which does not have the header highlighted in gray.  Is this the correct behavior?

[2018-01-17 16:11] newmuis commented on #12865
We can do this swap when we `register` the element; all information needed to play the media should be present at that time.

[2018-01-17 16:24] jpettitt commented on #12867
Looks like it was caused by the slide es being wrapped in `<li>` tags.  I've removed them from the site and it appears to be working.    The examples above should now no longer fail, the underlying issue remains.

The bug manifests as the slide `<li>` elements being moved out of the `<amp-carousel></amp-carousel>` pair.

[2018-01-17 17:15] aghassemi commented on #12551
I got couple of things to chat about:

## 1) Name of an extension for predefined transition effects:
* We like to support **simple-to-use transition effects** through **attributes**, e.g.
[code]
* Having **multiple extensions** for each type of effect **seems excessive** as they all would share lots of the same underlying code.
*  What should the name of a single extension be?
1. `amp-fx-0.1.js`
2

[2018-01-17 17:19] mrjoro commented on #10661
@aghassemi can you comment on @juanlizarazo's question when you get a chance?

[2018-01-17 18:08] rsimha-amp commented on #12868
`gulp build` before `gulp` is unnecessary. Are you waiting for the build to complete? Note that the server starts way before the build is ready. This is something I'm fixing in #12852.

[2018-01-17 18:21] rsimha-amp commented on #12860
You're probably not waiting for the full build when you run `gulp`. Note that due to how `gulp` works, the server starts way before the build is complete.

[2018-01-17 18:43] aghassemi commented on #10661
After thinking about this a for a bit and looking at several embed types, I think we should pivot and create a `amp-embedly` component instead as it would cover more cases and is actually simpler as a GFI than this.

@juanlizarazo would you be interested in creating an `<amp-embedly url=<whatever embed.ly supports>` component for AMP?

[2018-01-17 19:00] aghassemi commented on #12860
My work flows is that I run `gulp serve` and `gulp watch` in separate windows and keeps them always running. As I switch branches and do my coding, it used to just work. (I have had serve and watch running for months). Would be nice to have that flow work again.

[2018-01-17 19:06] rsimha-amp commented on #12860
`gulp` does exactly what you're doing: it runs `gulp watch` and `gulp serve`. However, `serve` starts early, even before `watch` is done with the full build. That's being fixed in #12852.

Meanwhile, a workaround you can use in your separate-window setup is to make sure you fetch the runtime from the server after the first full build is complete.

[2018-01-17 19:43] #12583 closed

[2018-01-17 19:43] #12788 closed

[2018-01-17 19:53] zhouyx commented on #12830
Thanks for raising the question.

@miike @alexanderdean Could you briefly explain your use case here? Why timezone code instead of timezone offset is required? Is it because of daylight time? Thanks.

[2018-01-17 20:32] #12719 closed

[2018-01-17 20:47] erwinmombay opened #12874 "Null promise in layoutCallback"
[code]

@keithwrightbos @bradfrizzell can anyone look at this? seems like this is a known issue.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/amp-a4a.js#L968

[2018-01-17 20:54] robhazan commented on #11834
@jpettitt - remote.html is going to be ignored by DoubleClick AMP ad tags, but still considered valid should other networks choose to use it. Up to you AMP Core folks whether you'd like to eventually deprecate it more broadly.

Regarding Lotame specifically (@Tonsil), we've let them know that they'll need to build a RTC-compatible endpoint so that DFP pubs can continue calling them with Fast Fetch

[2018-01-17 21:02] juanlizarazo commented on #10661
@aghassemi definitively!

[2018-01-17 21:31] mrjoro commented on #12551
**Premutate for amp-bind**

- namespacing; would run up into the 50 limit
  - need two amp-states to add an overridable and non-overridable
  - depends on how developers use it; overridable is envisioned to not a huge change to the workflow but it's more of a sanity check
  - also some external feedback that 50 operands is not sufficient, and calculation is not very precise, so we may need to revi

[2018-01-17 21:31] mrjoro commented on #12551
**Name of extension for predefined transition effects**

- should have a single attribute?
  - could simplify discovery
  - amp-fx="parallax" and then configuration specific to the type of fx (amp-fx-config="...")
  - could have multiple effects on the same div, need to allow for that; could use json/comma separated/etc.
  - our API design is all over the place right now, e.g. amp-ads
  - decision

[2018-01-17 21:35] mrjoro commented on #12551
**amp-mathml resizing**

- this doesn't really fit into our current thinking of layout; this is a component that has inherent size and there's no need to resize (it can be as big as it wants to be)
- since this is very special purpose, so it's fine to say that by default it has inherent sizing and may cause jumps (Option #3); can document that you should use Container
- Justin: we have a lot of co

[2018-01-17 21:35] #12551 closed

[2018-01-17 21:44] #11389 closed

[2018-01-17 21:46] rsimha-amp commented on #12852
It turns out that `gulp` version `4.0.0` supports running tasks in series via `gulp.series`. See https://github.com/gulpjs/gulp/blob/master/docs/API.md#gulpseriestasks

PR coming up to upgrade `gulp` to `4.0.0`, and to update all our tasks to use the new API.

[2018-01-17 21:55] rudygalfi commented on #12816
@daauerbach There's a current known issue for the scenario of an AMP page being on a different origin than the non-AMP canonical. After these changes, we expect to report these pageviews as one session. Note that this won't be true for all (AMP origin, canonical origin) pairs, but when the AMP origin matches the canonical origin except it has `amp.` in front of it, then it will work.

[2018-01-17 22:35] alexanderdean commented on #12830
Hi @zhouyx - Snowplow is an analytics platform, so we are interested in capturing as precise information about an event's time as possible:

* Given a time zone and a UTC time, you can know the offset - and therefore the local time
* Given a local time and an offset, you can know UTC time, but you do not know which time zone you’re in (because multiple timezones have the same offset)

So from an a

[2018-01-17 22:37] daauerbach commented on #12816
@rudygalfi Thanks, that's helpful confirmation. We're looking forward to seeing how things look after 1515617716922 becomes the active release.

[2018-01-17 23:15] newmuis commented on #12786
We could not reproduce the fast video playback.  I'm not sure if there's anything we could do about it anyway, especially if it's a decoding issue.

I will leave this open to track blessing media on navigation.

[2018-01-17 23:22] newmuis opened #12878 "Handle case where HLS video loads manifest but not video chunk(s)"
If an amp-video plays an HLS source and successfully loads its manifest, but fails to load its video chunk, we should fall back to its other source(s) and/or its `amp-orig-src`.  Perhaps we can just create a `<source>` tag from the `amp-orig-src` at render time?

/cc @aghassemi @flaviori

[2018-01-17 23:31] #12726 closed

[2018-01-17 23:36] zhouyx commented on #7654
Will track in #11380. Close this for now.

[2018-01-17 23:36] #7654 closed

[2018-01-17 23:43] zhouyx commented on #11436
As we agree to limit `transport: iframe` to very limited vendor. Right now I don't see the the usecase that people want the feature in non-A4A case.
@jonkeller Could you verify that for inabox case, an AMPAdResourceId can also be found? If so I think we can close this issue for now and reopen if there's further request on extending the usage of iframe transport.
Thanks

[2018-01-17 23:50] newmuis commented on #12827
I misconstrued the issue here: tapping on the header itself (not the audio icon) turns the entire header dark gray on iOS only.

[2018-01-17 23:59] erwinmombay commented on #11174
well i haven't seen this in a while so Im going to close it.

[2018-01-17 23:59] #11174 closed

[2018-01-18 00:51] cathyxz opened #12881 "Gestures consume events but don't refire them if they pass untriggered"
As an example, the DoubleTap gesture recognizer consumes single touch events. It consumes the first touch, and waits for a second touch before it triggers. But in the case that it doesn't trigger and there was only one touch, it won't refire the original touch event.

For example, a better fix for this https://github.com/ampproject/amphtml/pull/12637 would be to have gesture recognizers refire unt

[2018-01-18 06:13] choumx commented on #12517
Looks like there's still a lingering race condition trigger for this bug. Also your tunnel is down:

[2018-01-18 06:37] #12852 closed

[2018-01-18 06:37] #12868 closed

[2018-01-18 06:52] manishlaur opened #12884 "How to convert before designed MVC5 application in AMP and MVC5 application designed with bootstrap and jquery."
Hi,
i inform you that i have tried many time to convert before designed MVC5 application in AMP and which is designed with bootstrap and jquery. AMP have limited features so it is difficult for me.
so please guide me.

Thanks
Manish Kumar

[2018-01-18 07:03] nainar commented on #11173
Hi, I am claiming this issue.

[2018-01-18 09:01] 1987yama3 opened #12885 "Youtube Tracking not working when the video stop"
It seems that the video-ended event of ```<amp-youtube>``` is not working.
I tested it with the following code.

Thanks

[code]

[2018-01-18 11:22] orballo commented on #12866
I had this same issue and it was because my code was formatted, using the code as it's on the web (respecting white space) worked for me.

[2018-01-18 12:01] orballo opened #12886 "The tag 'amp-story >> amp-video' may only appear as a descendant of tag 'amp-story'."
Hi there,

I'm not sure if my issue qualifies as a bug, sorry if this is not the proper place to tell you about it.

The thing is, when I try to pass the AMP validator and my code has an `amp-video` in it, I get this error:

![screenshot 2018-01-18 11 45 56](https://user-images.githubusercontent.com/13615057/35096891-26f36fd8-fc4e-11e7-9f14-89e5baddcace.png)
![screenshot 2018-01-18 11 46 14](https

[2018-01-18 13:03] izebaKK opened #12887 "amp-carousel arrows disappear"
## What's the issue?

After few clicks on amp-carousel right arrow, when I come to the last slide (image), both right and left arrows disappear and I can not return to the first slide anymore.

## How do we reproduce the issue?

You can check the first example on https://www.ampproject.org/docs/reference/components/amp-carousel. After clicking right arrow few times, both arrows disappear.

## What

[2018-01-18 13:04] gFelicio commented on #12886
Had the same EXACT validation message a few days ago in a personal project.

[2018-01-18 13:45] ATrogolo opened #12888 "geo: URI protocol not recognized"
Hi,
I found an issue related to **geo:** URI Scheme protocol [Geo_URI_scheme](https://en.wikipedia.org/wiki/Geo_URI_scheme), a W3C standard.
In my AMP pages I have some links which allow to open a navigation app installed on mobile devices:
[code]
In Google Search Console an error is raised about this:
` URL protocol "geo" is not valid for attribute "href" in tag "a" `

Could you fix this error?

[2018-01-18 13:55] gilbertococchi commented on #12888
Test page where it's possible to review the error: https://m.paginegialle.it/amp/pizzerie/san-zeno-naviglio/pizzeria-la-rocchetta#development=1

[2018-01-18 14:18] matthewgcallahan opened #12889 "AMP-story video playing slide early on mobile"
## What's the issue?
Autoplay videos will play one slide before they are in view. This is most noticeable once a video has been unmuted, but appears to happen regardless of whether it is muted or not.

May be a question for @newmuis or @ithinkihaveacat

## How do we reproduce the issue?
1. Navigate to an amp-story with a video.
2. Navigate to video slide (e.g. slide 3)
3. Unmute video.
4. Advance

[2018-01-18 14:30] matthewgcallahan opened #12890 "AMP-story video not playing subsequent videos once unmuted"
## What's the issue?
Once an autoplay video has been unmuted on an amp-story, any subsequent autoplay videos do not play.

## How do we reproduce the issue?
1. Navigate to an amp-story with multiple videos
2. Advance to first video
3. Unmute first video
4. Navigate to next video  — the video should display the first frame of the video, but not play it.

## What browsers are affected?
iOS Safari, i

[2018-01-18 14:39] bradfrizzell commented on #12868
Yes I was waiting for build to complete (or perhaps I just thought I was...). I'll see if the new change fixes it though. Not sure why build being incomplete would cause extensions-impl to try to load off the cdn though.

[2018-01-18 14:46] cwisecarver commented on #9337
@msukmanowsky What do you think about this? Are you concerned that someone could implement a timer with the same name as ours and break our tracking? Or is it worth the risk to get this functionality out in the wild?

I think it's worth it. We can always revisit if we see a problem or want to improve it.

[2018-01-18 15:04] jonkeller commented on #11436
@zhouyx: I asked @bradfrizzell and he says there is no amp-ad tag in the inabox case.

[2018-01-18 15:40] newmuis commented on #12890
This should have been fixed by rolling forward MediaPool (#12604), but that change hasn't rolled out to dev-channel yet.  I'll verify the fix once [1516232329194](https://github.com/ampproject/amphtml/releases/tag/untagged-3e57d73ac6c17c49bbee) hits canary.

[2018-01-18 15:41] newmuis commented on #12889
This should have been fixed by rolling forward MediaPool (#12604), but that change hasn't rolled out to dev-channel yet.  I'll verify the fix once [1516232329194](https://github.com/ampproject/amphtml/releases/tag/untagged-3e57d73ac6c17c49bbee) hits canary.

[2018-01-18 15:59] newmuis commented on #11847
Looks like @alanorozco actually already did this.   Thanks Alan!

[2018-01-18 15:59] #11847 closed

[2018-01-18 16:01] newmuis commented on #11853
Currently, our supported browser list looks like:

- Android Chrome: 57+
- Android Stock Browser: 62+
- Android Samsung Browser: 6.2+
- Android UC Browser: <unsupported>
- iOS Safari: 10.3+
- iOS Chrome: 57+

[2018-01-18 16:03] newmuis commented on #11640
I think we have since determined that this is both not possible and not a good idea :smile:  Thanks for looking into it Prateek!

[2018-01-18 16:03] #11640 closed

[2018-01-18 16:07] newmuis commented on #11639
@gmajoulet helped improve this in #12783 and I deprecated fullscreen (which removed all the skipped fullscreen tests) in #12772.  There are still some skipped tests remaining.

[2018-01-18 16:09] newmuis commented on #11661
#12604 puts us in a good position to fix this.  The remaining work is tracked in #12865, so I am closing this issue.

[2018-01-18 16:09] #11661 closed

[2018-01-18 16:13] newmuis commented on #12454
The second item is tracked in #12769, although we fake this in #12842 by simply showing a blank document until the poster is ready.

The third item is tracked in #12775.

The fourth item is tracked in #11857.

Closing this issue, to defer to the other work already in progress.

[2018-01-18 16:13] #12454 closed

[2018-01-18 16:14] newmuis commented on #12139
Fixed by #12604

[2018-01-18 16:14] #12139 closed

[2018-01-18 16:15] #11645 closed

[2018-01-18 16:15] newmuis commented on #12228
#12604 is now merged.

[2018-01-18 16:15] #12228 closed

[2018-01-18 16:18] newmuis commented on #11866
Closing this in favor of #11989 which is more specific about a solution.

[2018-01-18 16:18] #11866 closed

[2018-01-18 16:20] rsimha-amp commented on #12868
That's because `isLocalDev` isn't set until the end of the build, so you'd load extensions from the cdn in that incomplete state.

[2018-01-18 16:24] newmuis commented on #11650
This now no longer happens since we implemented our own `getPageById_(...)` using `findIndex` over the array of pages.

[2018-01-18 16:24] #11650 closed

[2018-01-18 16:25] bradfrizzell commented on #12868
Ah I see. thanks, Raghu

On Thu, Jan 18, 2018 at 11:20 AM, Raghu Simha <notifications@github.com>
wrote:

--

Brad Frizzell |  Software Engineer |  bradfrizzell@google.com |
 201-421-5676

[2018-01-18 16:37] eike-hass commented on #12887
we can reproduce this issue on
- OSX 10.11.5 with Chrome 63 and Firefox ESR 52.5
- Windows 10 with Edge 16

[2018-01-18 17:03] #12166 closed

[2018-01-18 17:12] ryuran opened #12891 "<amp-sidebar> partially hidden under the <g-fixed-header>"
Hello

## What's the issue?

Top of amp-sidebar element is most of the time hidden under the amp header.

<img width="301" alt="capture d ecran 2018-01-18 a 18 04 28" src="https://user-images.githubusercontent.com/1309340/35110864-22a505b4-fc7a-11e7-9022-8f467e100e93.png">

## How do we reproduce the issue?

If this is a bug please provide a public URL and ideally a reduced test case (e.g. on jsbi

[2018-01-18 18:21] newmuis opened #12893 "amp-story media-based auto advancement does not work with audio"
Auto-advance currently only supports video elements.  We should make it also work with audio elements.

[2018-01-18 18:29] aghassemi commented on #12887
Thanks for the report. This bug impacts carousels on desktop. We are working on it and fix roll out a fix to production soon.

[2018-01-18 18:32] aghassemi commented on #12884
@manishlaur AMP is just a subset of HTML with some restrictions and works with any technology, including MVC, that generates HTML.

This bug tracker is for issue related to AMPHTML library itself. Please use other channels suck as Slack or Stackoverflow to get guidance from the community regarding your needs.

[2018-01-18 18:32] #12884 closed

[2018-01-18 18:35] aghassemi commented on #12878
Hopefully we can detect these types of failures, needed for #12728 too.

[2018-01-18 18:46] zhouyx commented on #11162
I can't come up with a very good way to improve the test here.

When we have
[code]
We will get final request like `fake.com/ep=-` in test, because ${errorName} and ${errorMessage} will only be assigned with an `user-error` trigger. This could also happen if anyone try to send request 'a' with non user-error trigger.

My suggestion would to avoid this kind of setting in vendor config.

[2018-01-18 18:46] #11162 closed

[2018-01-18 18:51] zhouyx commented on #3857
Closing in favor of #12023

[2018-01-18 18:51] #3857 closed

[2018-01-18 18:54] #9208 closed

[2018-01-18 19:17] choumx commented on #7420
/cc @alabiaga

[2018-01-18 19:18] choumx commented on #1156
/cc @alabiaga

[2018-01-18 19:22] rsimha-amp commented on #12747
I believe the problem is in `gulpfile.js`. When `gulp build` is run, we call `buildWebWorker()`, which builds `ww.max.js`, while when `gulp` or `gulp watch` are run, we don't make that call. Fix coming up.

[2018-01-18 19:23] jasti commented on #11090
Seems like it is merged, so closing.

[2018-01-18 19:23] #11090 closed

[2018-01-18 19:23] rsimha-amp commented on #12481
In response to the question about `ww.js`, I think the answer lies in https://github.com/ampproject/amphtml/issues/12747#issuecomment-358753920.

[2018-01-18 19:24] jasti commented on #10011
@charliereams Do you have an update?

[2018-01-18 19:25] jasti commented on #9859
Hey @dknecht, has this been fixed?

[2018-01-18 19:27] jasti commented on #8965
Assigning to @keithwrightbos  since @tdrl is no longer working on the project.

[2018-01-18 19:27] #6456 closed

[2018-01-18 19:27] #6217 closed

[2018-01-18 19:33] rsimha-amp opened #12895 "`gulp` (or `gulp watch`) doesn't build everything that `gulp build` does"
This is bad because we should be able to run `gulp` from a clean state. Right now, things like service worker and web worker are not built unless you run `gulp build` first.

[2018-01-18 19:34] rsimha-amp commented on #12860
I just discovered that `gulp` does not build `ww.js` as part of `gulp watch`. This is a bug!

Fixing via #12895

[2018-01-18 20:23] jasti opened #12897 "[Master Feature] Enable support for ad serving to AMP canonical pages"
Sites that are entirely build in AMP need additional features to support direct sold advertising. The following features are dependencies to accomplish AMP canonical.

- [Video Companion Ads and Brightcove video player] #10470
- [Expose if ad is being served to an AMP page] #11741
- Support Single Request Architecture (SRA) and support SRA with RTC

[2018-01-18 20:31] jonkeller commented on #11436
In the non-inabox case, all that really matters is that the value is unique per creative. ampAdResourceId was just a convenient way to get a unique value like that.
In the inabox case, I'm not sure if the value would need to be unique across *all* inabox instances, or if we could just set it to "1" for every ad. Rather than speculate about that, I think making a quick test would be the way to go.

[2018-01-18 20:31] jridgewell commented on #12891
Looking into this now. It's definitely #12449.

[2018-01-18 20:51] lannka commented on #12552
Introduce a high entropy page_view_id #12674

[2018-01-18 20:56] choumx commented on #6322
/cc @alabiaga

[2018-01-18 20:58] lannka commented on #12674
We went into this issue a couple of times. I think the current `PAGE_VIEW_ID` is a bit confusing and quite useless given its low entropy.

I want to see if there was any specific reason in the first place why we design this ID. If not, I suggest we introduce one with higher entropy.

A couple of options:
- We update this value directly to a base64 with 128bit entropy, by taking the risk of breakin

[2018-01-18 21:00] aghassemi commented on #12888
Any thoughts on adding `geo:` to the list? I can't think any security issues with it.

[2018-01-18 21:19] cwisecarver commented on #9337
@zhouyx Talked to @msukmanowsky offline and he said it sounds good. Thanks! Look forward to our customers getting to use this.

[2018-01-18 21:30] #12887 closed

[2018-01-18 21:36] #12891 closed

[2018-01-18 21:41] choumx commented on #12496
/cc @alabiaga

[2018-01-18 22:16] izebaKK commented on #12887
It is still not working good... When I "scroll" to the last slide and then go back one slide arrows disappear again (same example- https://www.ampproject.org/docs/reference/components/amp-carousel)

[2018-01-18 22:24] cvializ commented on #12887
Thank you for checking so promptly. However the fix has not yet gone to production.

[2018-01-18 22:40] rudygalfi commented on #12607
If I'm understanding the requirements correctly, I think there's two separate ideas combined here.
* The first relates to enabling iframes to send their events so that they can be tracked as part of an amp-analytics configuration. As far as I know, this isn't supported today. It's somewhat related to the idea of the [video interface](https://github.com/ampproject/amphtml/blob/master/src/video-inte

[2018-01-18 22:43] #12216 closed

[2018-01-18 22:49] alanorozco opened #12902 "Cleanup amp-story-scaling experiment"
📐

[2018-01-18 22:52] jasti opened #12903 "[Feature] Support a "lower-effort" option to signing AMPHTML Ads"
Having to invest in a full-blown signing service for some ad networks doesn't seem feasible. We'd like to introduce a mechanism in AMP that avoids the need for crypto. The most concrete implementation of such a mechanism would involve introducing a templating mechanism where the core template of the ad is fetch from a trusted AMP cache (and therefore is always valid AMP) and the data is fetched in

[2018-01-18 22:59] zhouyx commented on #9337
Great! Thanks @cwisecarver I left some comments on the PR. Generally the approach looks good!

[2018-01-18 23:07] Gregable commented on #12888
I see no problems with it. That's a neat URI scheme too, I've never heard of it.

@ATrogolo , do you know of any comprehensive list of W3C URI Schemes? I would like to make sure we cover as many as possible.

[2018-01-18 23:10] rudygalfi commented on #12830
Is this data provided by the browser or are libraries needed? If the implementation is a wrapper around some browser-provided data, I think this seems reasonable.

[2018-01-18 23:14] alexanderdean commented on #12830
It's library-based - `require('jstimezonedetect').jstz.determine().name()` should do it.

[2018-01-18 23:30] rudygalfi commented on #11973
Can anyone weigh in on the priority of this? cc @lswang1618

[2018-01-18 23:31] choumx commented on #12886
@orballo @gFelicio Are you still seeing this bug?

[2018-01-18 23:32] rudygalfi commented on #12299
cc @jasti

[2018-01-18 23:32] choumx commented on #12866
@Itsathere Does using the verbatim boilerplate fix your issue?

[2018-01-18 23:35] rudygalfi commented on #11540
Can we commit to fixing this within the next sprint? cc @ericlindley-g

[2018-01-18 23:36] #12888 closed

[2018-01-18 23:50] miike commented on #12830
There's also `Intl.DateTimeFormat().resolvedOptions().timeZone` natively but with the caveat that browser support is a [little spotty](https://caniuse.com/#search=internationalization).

[2018-01-19 00:10] #12736 closed

[2018-01-19 00:31] cvializ commented on #12299
@lexandera, which video extension is producing the analytics?

[2018-01-19 00:56] #12860 closed

[2018-01-19 00:56] #12895 closed

[2018-01-19 01:01] rsimha-amp commented on #12747
@Adventive this should be fixed by #12900. I tested to make sure that `amp-bind` works after running `gulp` on a clean client. Let me know if this is still broken for you.

[2018-01-19 01:02] rsimha-amp commented on #12868
@bradfrizzell With #12900, you shouldn't ever need to run `gulp build` before `gulp`.

[2018-01-19 01:02] rsimha-amp commented on #12852
@cathyxz This should be a lot better with #12882 and #12900. Let me know if you see anything else that's broken.

[2018-01-19 01:21] cathyxz commented on #12856
What we actually want to do is have a `lightbox-thumbnail-id` attribute reference a `<amp-image>` with `no-display`. This is because:
1. We want to take advantage of the amp cache.
2. We want to support `srcset`.

Also:
- [ ] allow `poster` attribute from video elements to be used as thumbnails.
- [ ] make use of `srcset` for `<amp-image>`s.

[2018-01-19 01:26] AndrewKGuan commented on #9687
Hi all,
quick check on the status and documentation of this change, is it all ready?

[2018-01-19 01:28] aghassemi commented on #9687
@AndrewKGuan , yes. See `single-item` attribute on the documentation: https://www.ampproject.org/docs/reference/components/amp-list

[2018-01-19 01:30] AndrewKGuan commented on #9687
Thanks, Ali!

[2018-01-19 01:45] aghassemi opened #12908 "Add support for amp-embedly"
Create a component that uses's Embedly's API to embed any provider supported by Embedly.

*Note*: Embedly is a paid service and publisher needs to provide their own key.

### API
```<amp-embedly key=<yourAPIKey> url=<embedUrl> width height layout>```

### Implementation details:
1- We make a call to embedly's [oembed API](http://docs.embed.ly/docs/oembed)
2- It returns data including some `html` t

[2018-01-19 01:59] aghassemi commented on #9264
/cc @nainar another candidate to consider.
p.s. we should expose `data-locale` on all `amp-facebook-*` components and only fallback to current state (e.g. sniffing navigation.language) if `data-locale` is not provided

[2018-01-19 02:08] aghassemi commented on #12754
AFAIK Firebase's `Dynamic Links` are just normal Urls that work in any `<a>` tag.

@hudidit This is a reasonable request but given it is already doable using `data-show-if-href`, it may not become a priority for us soon. If this is something you you like to contribute to AMP, that would be great!

[2018-01-19 02:24] aghassemi commented on #12835
The `blue` only indicates there is an AMP version of the article (not that this article is AMP itself). Clicking on it will take the user to the AMP version. The way it detects there is an AMP version is it by looking at `link rel="amphtml" ` which is the official way of saying there is a related AMP page.

Closing the issue as this is working as intended.

[2018-01-19 02:24] #12835 closed

[2018-01-19 02:27] aghassemi commented on #12294
Looks like an SVG rendering issue. We may need to tweak our SVG... ugh SVG! :)

[2018-01-19 02:30] aghassemi commented on #10462
infinite scroll for `amp-list` is planned for this Q1, depending on how far we get with other priorities it may slip into Q2.

[2018-01-19 02:32] jasti commented on #12418
Once we announce the mechanism at AMP conf, it should just be developer effort + code reviews. i.e. no other blockers.

[2018-01-19 02:33] aghassemi commented on #11047
@mustafaj17are you using it for scroll-bound animations or just triggering animations when something comes into the view? If the latter, you can work around this by not providing a first keyframe for you animation , this way the second time it plays, it would try to go from the current state (which would be the last keyframe of previous run) to last keyframe which would be the same and effectively

[2018-01-19 02:39] aghassemi commented on #12023
/cc @choumx @danielrozenberg if case you are interested as you have been improving the sanitizer recently.

[2018-01-19 04:55] aghassemi commented on #7744
Updated title to align with creation of an `amp-shaka-player` which Shaka team will contribute. `<amp-video>`itself supports HLS.

[2018-01-19 05:43] aghassemi commented on #12800
@Gregable Sorry I misunderstood, that's a great idea (kind of neat to Polyfill HTML!)

[2018-01-19 06:58] p2er commented on #12607
Yes, that is correct and sums up the idea very well.

[2018-01-19 08:57] Itsathere commented on #12866
Still getting one error. Trying to resolve it.

[2018-01-19 09:20] orballo commented on #12886
Yes, still the same error.

[2018-01-19 09:40] abasse commented on #12887
We need to get this fixed asap!
Our production site is broken and we receive a lot of customer complaints.

[2018-01-19 10:33] justforfun opened #12912 "Shadow Dom - advertising div is not collapsing"
## What's the issue?
When delivered inside a PWA through shadow dom advertising div is not collapsing

![schermata 2018-01-19 alle 11 26 55](https://user-images.githubusercontent.com/477983/35146799-6b03d19a-fd0c-11e7-8136-9379e8b16d47.png)

## How do we reproduce the issue?
It's possible to reproduce the issue here:
https://rep.repubblica.it/pwa/commento/2018/01/10/news/il_galateo_di_serracchiani

[2018-01-19 11:56] lexandera commented on #12299
@cvializ It happens on amp-video. You can see a simple example here: https://ads.celtra.com/9372da39/a4a.html?placementId=5b1a1bf0 Look for the requests containing name=ampVideoEnded.

[2018-01-19 12:17] charliereams commented on #10011
This is fixed in the responsive implementation, but note that:

1) The new behaviour is to fix the size of the slot to an exact pixel size early in its lifecycle. Therefore if the device is rotated, the slot and the ad will stay the same size, so there's no risk of truncation or distortion. However the ad may not look great in the new orientation (especially landscape to portrait, where there is a

[2018-01-19 12:52] Itsathere commented on #12866
I have resolve this issue. Thanks for your valuable time.

[2018-01-19 12:52] #12866 closed

[2018-01-19 14:10] newmuis opened #12913 "amp-story MediaPool breaks media-based auto-advance"
amp-story has a feature where it can auto-advance to the next page based on the completion of the playback of a media element on the current page.  This media element is specified by its ID, in the `auto-advance-after` attribute of the current page.  For example:

[code]

However, MediaPool swaps out all media elements when the page becomes visible, so the video actually specified when the documen

[2018-01-19 15:21] aghassemi commented on #12835
@mcmd When there is an `<img>` in `<head>`, although chrome "renders" it also moves `<img>` and everything after it (including the `<link>`) out of head and into the `<body>`, that's why detection does not work. `link` is not in `head` anymore.

We can change the code to what @tomayac suggested but then it will go `blue` if someone puts the `link` in `body`, which is not how other platform detect

[2018-01-19 16:01] tomayac commented on #12835
Good point about the `<head>`. It can be changed to the below (probably should use a variable to avoid double-checking):
[code]

[2018-01-19 16:04] grantkemp commented on #12621
Hi - I suggest we add specific guidance to . tell people how to add the USQP filter to their GA.  If I supply this - can someone validate it? We can apply it to the docs.

[2018-01-19 16:33] juanlizarazo commented on #10661
Thanks @aghassemi! I can get started on it this weekend.

[2018-01-19 16:45] aghassemi commented on #12887
@abasse, others: Apologies for the issue. The fix will roll out to production within the next hour.

[2018-01-19 16:49] aghassemi commented on #12912
FF never collapsing might be a  bug, Chrome sometime not collapsing is not. We don't collapse if 1- it is in the viewport 2- may cause content shifting.

[2018-01-19 16:49] newmuis opened #12916 "Hide AMP 3-dots loading indicator within amp-story"
amp-story does not benefit as much from the 3-dots loading indicator as a traditional AMP page.  The current preferred UX it to actually just have no loading indicator, so we can simply hide the three dots.

[2018-01-19 16:49] aghassemi commented on #12912
/cc @zhouyx @cvializ

[2018-01-19 16:51] mrjoro commented on #10661
@aghassemi it sounds like we aren't going to go forward with this issue now and we should close it?

[2018-01-19 16:52] newmuis opened #12917 "Use shadow DOM for amp-story system UI"
Publisher-authored CSS should not be able to modify any of the amp-story system UI.  This often happens accidentally due to CSS properties being inherited.  Rather than forcibly overriding individual properties, or resetting `all` on all descendants of system UIs, we can simply render the system UIs in a shadow DOM to achieve this effect.

[2018-01-19 16:54] newmuis opened #12918 "Broken images on amp-story bookend"
Currently, if publishers specify a bad image URL in the amp-story bookend JSON, we render the image as broken.  We should simply show nothing if the image has failed to load.

[2018-01-19 17:17] newmuis commented on #11614
I'm not sure this is desirable anymore, without fullscreen behavior.

/cc @hongwei1990 any thoughts?

[2018-01-19 17:32] newmuis commented on #12171
I think we could literally just take the contents of such an attribute and put them on the inner `<img>` created by `<amp-img>`.  Maybe this should be supported by `<amp-img>` and/or `<amp-video>`, similar to #4988

/cc @aghassemi

[2018-01-19 18:27] choumx commented on #11843
Steps to repro:

1. Download the offending page and serve it locally.
2. Add the following snippet to the bottom of the constructor in viewer-impl.js:

[code]

3. Open the page on localhost and add `#visibilityState=prerender` to the URL.
4. Open the console and invoke `window.setVisibilityState('visible')`.

[2018-01-19 18:32] daauerbach commented on #12816
@lannka @Gregable @rudygalfi It looks like pages with the most recent release (1516337355291) still send different _cid_ values in pageview beacons after the viewer (i.e., the same behavior as OP). And the sessions do not appear to be stitched in GA. We see this for the simplified testing site as well as production sites with the cdn.ampproject.org referral exclusion. FWIW, the "viewer:getClientId

[2018-01-19 18:50] #12696 closed

[2018-01-19 18:50] mrjoro opened #12920 "Status Update 2018-01-22"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-01-19 19:17] #12017 closed

[2018-01-19 19:22] cvializ commented on #12885
I am not able to reproduce. Do you have a link to a document where you are observing the issue?

[2018-01-19 19:33] jridgewell commented on #12891
Sorry @ryuran, we had a rollback last night due to an unrelated bug. We've redeployed this morning, it should be fixed again.

[2018-01-19 19:51] cvializ commented on #12388
I will close this issue for now. If the new error is still occurring for you please open a new issue so we can track it.

[2018-01-19 19:54] newmuis opened #12924 "Assert bookend and schema JSON-LD meets requirements before rendering"
In cases where we parse URLs from the `bookend-config-src` or the schema.org JSON-LD in the body of the document, we need to assert that the URLs meet our requirements.  We can use [`isProtocolValid`](https://github.com/ampproject/amphtml/blob/master/src/url.js#L348) to ensure this, for bookend images, bookend article URLs, and image URLs from the schema.

[2018-01-19 19:55] #12412 closed

[2018-01-19 19:57] sanjsanj commented on #12913
@newmuis A partial fix to this would be to add `'auto-advance-after'` to:

https://github.com/ampproject/amphtml/blob/71b4031aee2ff9492c98f51f598b6031dd3ac83e/extensions/amp-story/0.1/media-pool.js#L56-L63

It actually works great but on my test page with 2 `amp-video`s I get this console error:

[code]

[2018-01-19 19:58] rudygalfi commented on #12645
@cvializ Are you actively working on this or should @lannka or @choumx take it? I would like to include in next sprint either way.

[2018-01-19 19:59] sanjsanj commented on #12913
edit: ninja edit of code block above

[2018-01-19 20:00] rudygalfi commented on #12912
cc @jasti

[2018-01-19 20:10] Adventive commented on #12747
@rsimha-amp
I pulled in the latest changes and performed `gulp clean` before running `gulp` again but unfortunately the issue is still there.
Where and what version of the file it is trying to load is the issue.

<img width="1299" alt="runtime" src="https://user-images.githubusercontent.com/34548005/35169126-568ddedc-fd29-11e7-8813-2544de5fd231.png">
<img width="823" alt="scripts" src="https://use

[2018-01-19 20:15] Adventive commented on #12741
<img width="1432" alt="emptyports" src="https://user-images.githubusercontent.com/34548005/35169709-8aac3ff4-fd2b-11e7-9ec6-83eb513aeb9c.png">
<img width="823" alt="scripts" src="https://user-images.githubusercontent.com/34548005/35169717-903109dc-fd2b-11e7-81d8-7ab5a97b28b9.png">

[2018-01-19 20:16] Adventive commented on #12747
I believe the solution may be similar to that of what is implemented in `3p-frame.js : getAdsLocalhost()` except, including the fix that for #12741.
<img width="1432" alt="emptyports" src="https://user-images.githubusercontent.com/34548005/35169722-9c368734-fd2b-11e7-9389-44e1014e2c63.png">

[2018-01-19 20:24] sanjsanj commented on #12913
You can recreate the above error by:

1 - Loading up amphtml/examples/amp-story/progress-bar.html
2 - Navigate forward to page 4 (the 2nd video)
3 - Navigate back back to page 2 (a regular auto-advance page)
4 - Let the amp-story auto-advance forward to page 4

[2018-01-19 20:38] Adventive opened #12927 "window.context is undefined (AmpContext)"
## What's the issue?
`context` empty

<img width="1440" alt="error_messaging78_debug" src="https://user-images.githubusercontent.com/34548005/35170487-71306818-fd2e-11e7-9367-dbbdb58d263c.png">
<img width="1426" alt="error_messaging78" src="https://user-images.githubusercontent.com/34548005/35170488-713ebdbe-fd2e-11e7-8af7-b333804c623d.png">
<img width="668" alt="error_messaging78_callstack" src="

[2018-01-19 21:05] rsimha-amp commented on #12747
@Adventive Thanks for the heads up. Taking a look at #12741 now.

[2018-01-19 21:17] cvializ commented on #12645
I am not currently working on this one, but I could have bandwidth for it in the next sprint if necessary

[2018-01-19 21:21] cvializ commented on #12912
@justforfun can you help us reproduce by providing credentials or instructions on how to view the full article?

[2018-01-19 21:51] zhouyx commented on #12830
I don't think we should go with using the library. As a first step, we can provide the timezone code information in supported browser. @alexanderdean @miike would that help?
@rudygalfi what do you think?

[2018-01-19 22:02] newmuis commented on #11614
Checked off-thread with @hongwei1990; we don't want this anymore, since we're not doing this fullscreen transition.

[2018-01-19 22:02] #11614 closed

[2018-01-19 22:05] cathyxz commented on #11660
Addressed by https://github.com/ampproject/amphtml/pull/12771

[2018-01-19 22:05] #11660 closed

[2018-01-19 22:11] cathyxz opened #12929 "Lightbox: handle srcsets properly in zoom"
Zoom/pan in `<amp-image-viewer>` and lightbox currently doesn't handle srcset properly. Figure out an intelligent way to upgrade the srcset depending on zoom scale without compromising performance under poor load.

[2018-01-19 22:15] rsimha-amp commented on #12747
@Adventive Can you give me the exact repro steps? I'm not sure how you started a secondary server, or why you had to do so.

[2018-01-19 22:58] #12581 closed

[2018-01-19 23:01] calebcordry commented on #5963
was checking GFI candidates, it looks like this was already fixed [here](https://github.com/ampproject/amphtml/pull/6187/files#diff-cb0347b1135d05dae7b0c034bca78900L357). Should I close this?

to/ @lannka
cc/ @rudygalfi

[2018-01-19 23:11] rudygalfi commented on #5963
Thanks! Will let @lannka make the final call.

[2018-01-19 23:17] cathyxz opened #12932 "Lightbox: carousel lightbox attributed images enter animation shows ImageViewer too early"
Only repros on images lightboxed via `<amp-carousel lightbox>`, but not on images that are directly lightboxed. The `<amp-image-viewer>` isn't supposed to be visible until the transition is done.

[2018-01-19 23:17] lannka commented on #5963
Yep

[2018-01-19 23:17] #5963 closed

[2018-01-19 23:23] alexanderdean commented on #12830
I think that sounds good!

[2018-01-19 23:25] #12299 closed

[2018-01-19 23:30] lannka opened #12933 "Getting cid for "AMP_ECID_GOOGLE" timed out"
The CID API call timed out.

Should it be a expected dev error?

/cc @cramforce @Gregable

[2018-01-19 23:32] cvializ commented on #12299
It should be fixed in production when the release containing that merge is released. Typically this takes about 2 weeks.

[2018-01-20 00:39] #5811 closed

[2018-01-20 00:39] #9768 closed

[2018-01-20 01:43] aghassemi commented on #12920
## UI
### What's done
- Support for `preload` on `amp-audio` #12832 https://github.com/ampproject/amphtml/issues/12166
- Fix for double triggering video-ended analytics event #12922  #12299
- Fix for images not lazy-loading in scrollable lightbox https://github.com/ampproject/amphtml/issues/12685 #12751
- Fix for `src` of `amp-list` not being correct when rendering with local data https://github.c

[2018-01-20 03:40] alanorozco opened #12934 "Dynamic page scaling does not work when `amp-story-grid-layer` has a transform set."
[Preemptive issue for upcoming PR]

[2018-01-20 08:10] dknecht commented on #9859
I don’t think so

[2018-01-20 16:11] cramforce commented on #10092
I activated comments.

[2018-01-20 21:38] cpapazian commented on #9423
if an amp-position-observer component could trigger setState actions, we could implement an amp-list with infinite scroll without additional components. is it possible to loosen this restriction in some situations?

[2018-01-20 23:03] Adventive commented on #12747
@rsimha-amp The secondary server is our own development server. So you really just need any secondary server to consume the `localhost` served files.

[2018-01-21 04:40] haroon8iconglobal commented on #9423
I think in scroll event at a time shows only 5 itmes as per screen,
so if someone scroll down upward items should remove or if respectively
scroll up ward so at top most blow items must remove so at the time as per
mentioned item should be only shows

On Jan 21, 2018 2:39 AM, "Chris Papazian" <notifications@github.com> wrote:

[2018-01-21 13:04] radiovisual commented on #9768
@aghassemi , was the solution to this problem not actually blocked by #7118 and #12670 as @danielrozenberg mentioned in the comment above? Or can we expect solutions for #7118 and #12670 to be merged soon now that we can embed form elements into <amp-list> templates?

[2018-01-21 21:52] mrjoro opened #12939 "Design Review 2018-01-31 16:30 UTC (Africa/Europe/western Asia)"
Time: [2018-01-31 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=1&day=31&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180131T163000Z/20180131T173000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Hang

[2018-01-21 21:56] mrjoro opened #12940 "Design Review 2018-02-07 21:00 UTC (Americas)"
*Note that there will not be a design review the week of February 12 due to [AMP Conf 2018](https://www.ampproject.org/amp-conf/).*

Time: [2018-02-07 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=2&day=7&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180207T210000Z/20180207T220000Z&

[2018-01-21 21:59] mrjoro opened #12941 "Design Review 2018-02-22 01:00 UTC (Asia/Oceania)"
*Note that there will not be a design review the week of February 12 due to [AMP Conf 2018](https://www.ampproject.org/amp-conf/).*

Time: [2018-02-22 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=2&day=22&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180222T010000Z/20180222T020000Z

[2018-01-22 00:30] aghassemi commented on #12927
/to @rsimha-amp and/or @lannka

[2018-01-22 04:17] 1987yama3 commented on #12885
@cvializ
Hi, I upload test html. https://storage.googleapis.com/mydebugstorage/index.html
Please try!

[2018-01-22 09:28] emarchiori opened #12945 "I2I: document-level infinite-scroll"
## Objective
Provide publishers the ability to show several articles/document by the user just scrolling (aka infinite-scroll).

## Background
Many publisher use this kind of solution in their non-AMP sites to further user engagement by providing related content in the same stream, with no loading times or clicking. The following articles (aka recommendations) can be provided in-line in the compon

[2018-01-22 10:21] rarkins opened #12946 "[Feature request] Renovate"
Consider installing the App "Renovate" for automated dependency updates.

Design doc: https://docs.google.com/document/d/1eWj9ehY2KlqcrGirJQtS1djpIkkoz8nOlcLD07sUwGQ/edit?usp=sharing

Summary:

- [x] Full project coverage
- [x] Lock files that "just work" (no double commit, no Travis CI config or token)
- [x] Google CLA bot approves
- [x] Git and lock file conflict resolution
- [x] Back-ported fix

[2018-01-22 10:23] rarkins commented on #12552
[Feature request (devops)] Renovate: #12946

[2018-01-22 11:33] svivian commented on #11995
Any updates? I get the same "Unexpected end of JSON input" error even when emulating a mobile browser (using Chrome Dev Tools). However, I'm not sure how the ad placements are supposed to be configured (or if I actually need to do that). The official docs say:

Further down there is a configuration spec which looks like it should be what I'm supposed to use, but it says:

Which implies that it's n

[2018-01-22 11:52] Itsathere opened #12947 "How to use css and js file in amp project"
**The attribute 'href' in tag 'link rel=stylesheet for fonts' is set to the invalid value**

**Only AMP runtime 'script' tags are allowed, and only in the document head.**

## What's the issue?

I am new for amp implementation into html and getting error on linking css and js file into amp-html pages

## How do we reproduce the issue?

When I add css/js file in amp-html and run then I am getting l

[2018-01-22 14:13] maddesigns commented on #12169
Will we see this in the first published version?

[2018-01-22 16:08] newmuis commented on #12169
Outlinks are not currently included, but the implementation for this will begin soon.  I'm not entirely sure how you're defining the "first published version," as we push new versions on a weekly basis, but the exact date at which this feature will land is still TBD.

[2018-01-22 16:23] cramforce commented on #12933
Yes, I think this should be tracked on a dedicated dashboard to make sure that levels are stable

[2018-01-22 16:23] cramforce commented on #12933
What is the current timeout?

[2018-01-22 16:34] newmuis opened #12948 "Limit amp-story loading tweaks to embedded case"
#12842 makes the document remain white on initial load in all cases.  We should limit this to the embedded case (denoted by the CSS class `i-amphtml-embedded` on the root `html` element), so that when loading standalone amp-story documents from their origin, normal progressive loading is used.  Otherwise, the page seems broken.

/cc @christianbersch @flaviori

[2018-01-22 17:09] yoavweiss commented on #12598
Apologies for the lack of communication on this. This is being worked on. Hoping to have more news very soon.

cc @cvazac

[2018-01-22 17:11] ericlindley-g commented on #9423
@cpapazian — that's a good point, though creating a new infinite scroll component in order to manage that use case offers the ability to manage other aspects of the UX and make performance optimizations with this use case in mind.  It also means that bind stays simpler (and doesn't need to risk cases where forms submit without explicit user intent).

[2018-01-22 17:14] raywainman opened #12950 "Allow reporting errors via the AMP Viewer"
## What's the issue?

We would like to propagate errors to clients that embed an AMP Viewer by passing them through the post message channel. The AMP Viewer can opt into receiving errors by broadcasting a new capability called 'errorReporting'.

This change would facilitate monitoring and reporting of errors.

## Proposed change

Currently, errors are reported to a server endpoint in [src/error.js

[2018-01-22 18:25] aghassemi commented on #12947
@ldthorne

Only inlined CSS ( inside `<style amp-custom>` ) is allowed in AMP. Also note that there are several other restrictions such as limit on the size (50K) and others restrictions. Please see https://www.ampproject.org/docs/guides/responsive/style_pages for more details.

You can also checkout https://ampstart.com/ for an alternative, more AMP-friendly CSS framework.

[2018-01-22 18:25] #12947 closed

[2018-01-22 18:50] danielrozenberg commented on #9768
@radiovisual it turns out that #7118 was _not_ a blocker, but it's closely related. I'll be merging #12670 soon, which would enable you to reference templates by ID instead of nesting templates (see the example provided in #12670), however there's nothing stopping you from using forms in templates and nested templates in templates now!

[2018-01-22 19:48] cvializ commented on #12885
I am able to reproduce with the provided document. Other video events fire correctly, so this looks like a bug

[2018-01-22 20:28] rudygalfi opened #12952 "Allow amp-live-list IDs to be sorted ascending"
## What's the issue?

amp-live-list takes timestamps on its children to determine their ordering. This feature request proposes allowing the sort order to be specified by an attribute so that it can either be ascending or descending. The default would be descending, which is currently supported.

cc @erwinmombay who may have some comments on the design

[2018-01-22 20:53] Gregable commented on #12816
@daauerbach Can you try this again today. I'm not sure if the matching search viewer changes were in place when you tried this on Friday. My testing today, using your excellent test cases, shows that the same CID is being sent to GA on both sides, starting w/ a clean incognito window. I want to confirm that you see the same.

[2018-01-22 21:42] jonkeller opened #12954 "Make an amp analytics variable that gives size of creative's document"
${availableScreenHeight}, ${screenHeight}, ${viewportHeight}, and ${scrollHeight}, and their corresponding widths, do not give that. See https://screenshot.googleplex.com/KU92ARFLLwq - in this case, the ad is 300x400. Would like a way to get that into an amp-analytics request.

${elementWidth} and ${elementHeight} give the size of the amp-ad element. But if the ad that fills the slot is smaller th

[2018-01-22 23:13] Gregable commented on #12886
@honeybadgerdontcare , the specificity changes *fix* this.

Short answer is that we have a fix ready for this bad error message (should land in github soon). The actual issue is that the `autoplay` attribute doesn't allow a `true` value. The correct usage is just to add the `autoplay` attribute with no value. You can use `autoplay=""` if you want. Same with `loop`.

Long answer:

The validator pot

[2018-01-22 23:14] Gregable commented on #12886
Going to close this issue as https://github.com/ampproject/amphtml/pull/12956 includes the fix. Be warned it won't be live for a little while longer.

[2018-01-22 23:14] #12886 closed

[2018-01-22 23:39] #12924 closed

[2018-01-22 23:39] newmuis commented on #12865
I think this may be able to be used to solve #12728 and #12878, so I'll begin investigating.

[2018-01-22 23:42] choumx commented on #12920
## Runtime
### What's done
- Runtime 2018 roadmap
- Nested `<template>` (unblocks `<form>` in `<amp-list>`)
- Return of the Greenkeeper
- ~50 LGTM static checker fixes
- `gulp` now builds ww.js, sw.js, etc.
- Release P0 firefighting
- Review proposal for `renovate` tool
- Aaron joins AMP and merges first PR!

### What's next
- Integrate real-world visual diffing into release process
- A2A linking

[2018-01-23 00:48] cathyxz opened #12959 "Lightbox: fix figures in carousel"
They currently don't work because the `lightbox` attribute is applied to the `<figure>` instead of the `<amp-img>`.

[2018-01-23 01:07] cathyxz opened #12960 "Lightbox: implement get description"
Set the description from these attributes in order of priority:

- fig-caption
- alt
- aria-describedby
- aria-label
- aria-labelledby

`<fig-caption>` is a special case that applies to `<figure>` only.

[2018-01-23 01:11] jridgewell commented on #11843
I'm not able to reproduce yet, testing with a local master.

[2018-01-23 01:55] cathyxz opened #12962 "Lightbox: Transitions are broken for cropped images"
Entrance animations are broken for cropped images that are object fit cover, or anything that isn't object fit contain.

[2018-01-23 02:15] mattwomple opened #12964 "amp-iframe same-origin error cannot be avoided when streaming AMP page with amp-shadow"
## What's the issue?

When using `AMP.attachShadowDocAsStream()` as described in the [shadow doc API](https://github.com/ampproject/amphtml/blob/master/spec/amp-shadow-doc.md), there's no way to avoid the inclusion of `amp-iframe` elements that point to the same origin as where the shadow document is being loaded. Then, even before setting the `visibilityState` of the shadow document to `visible`,

[2018-01-23 03:55] #8566 closed

[2018-01-23 04:19] #8370 closed

[2018-01-23 04:32] newmuis opened #12965 "Add experiment to toggle HLS support in amp-story"
This will help us A/B test the performance of different types of media.

[2018-01-23 04:33] newmuis opened #12966 "amp-story navigation is broken in iOS"
After investigation, #12892 appears to be the culprit.  We should probably not block navigation on the success of the bless promise, but if we do, we definitely should do navigation even if blessing fails.

[2018-01-23 06:10] jasti opened #12968 "[Master Feature] Add GDPR support for AMP Pages"
Please note that the requirements are still in draft and subject to change as the law guidance becomes more concrete. At the minimum, the following functionality is necessary to build in AMP:
1. Ability to set a flag by the publisher to not send any 3rd party cookies and client id as part of the ad server request until the user has accepted a consent
2. Ability for a publisher page to only make an

[2018-01-23 07:06] lannka commented on #12968
@zhouyx

[2018-01-23 07:27] micyeung opened #12969 "Using triple mustaches {{{ }}} can result in amp validator throwing error on unescaped template"
Using triple mustaches {{{ }}} can result in amp validator throwing an error on unescaped template.

Code snippet below:
[code]

will throw an amp validation error:
`The attribute 'on' in tag 'p' is set to 'tap:AMP.setState({ mainCat:"{{{greeting}}}" })', which contains unescaped Mustache template syntax.`

Our data source has strings like \&Prime; that needs to be converted to ″ by using {{{ }}}.

[2018-01-23 08:39] Kishan08 opened #12970 "Autosuggest not working properly for same query"
I'm playing with the Autosuggest example [here](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fadvanced%2Fautosuggest%2Fsource%2F). And found some issues.

## What's the issue?

Suppose I want to search for 'California' in City input box. When I write a query like 'ca', it'll shows all the cities that contains word 'ca', now after removing the query from input box if i a

[2018-01-23 09:12] micyeung commented on #12969
Example of source data, where &Prime; is used:
https://m.aliexpress.com/api/search/products/tablet/items?__amp_source_origin=https%3A%2F%2Fm.aliexpress.com

[2018-01-23 09:33] Galphimbl opened #12971 "build-system/exec.js : getOutput returns invalid object"
## What's the issue?

build-system/exec.js : getOutput  returns object with stdout === null && stderr === null

node -v
v8.9.4

yarn -v
1.3.2

gulp -v
[11:31:54] CLI version 3.9.1

## How do we reproduce the issue?

1. clone https://github.com/Galphimbl/amphtml
2. run "yarn install" or "gulp"

[2018-01-23 09:53] renebaudisch commented on #12345
Any update on this?

[2018-01-23 10:37] orballo commented on #12886
Thanks for your explanation.

[2018-01-23 13:50] adamsilverstein opened #12973 "MathML validation assistance"
## What's the issue?

I'm having trouble getting the new amp-mathml component to validate properly on https://github.com/ampproject/amphtml/pull/12836

Passing validation is a blocker for merge and I would appreciate some help as I am new to contributing here and don't quite understand what is causing the validation failure. On the PR @honeybadgerdontcare suggested I create a new issue and assign

[2018-01-23 16:46] gmajoulet opened #12976 "Blessing videos silently fail on iOS"

[2018-01-23 16:53] #12966 closed

[2018-01-23 16:56] kul3r4 commented on #4405
Can we close this? @sebastianbenz does the sample answer your request?

[2018-01-23 16:57] honeybadgerdontcare commented on #12973
File:
`extensions/amp-mathml/0.1/test/amp-mathml.html`

Contents:
[code]

[2018-01-23 17:10] trodrigues commented on #11733
I actually intend to finally implement these changes in the next couple of weeks. Not sure if that means this issue should be closed or remain open until I submit a PR with those changes.

[2018-01-23 17:14] aghassemi commented on #12969
/to @Gregable @honeybadgerdontcare

[2018-01-23 17:20] dev-drprasad commented on #10262
My use case is also same. have to show image on hover. Hi @WillDonohoe, Do you have any workaround for this ??

[2018-01-23 17:45] romainst commented on #11834
Hi there everyone!
Not sure what is expected from us publishers if remote.html is also used for other types of ads...
I just tried to getting rid of "doubleclick" in the expected ad type within the file in order to prevent DFP ad slots from using it, but it does not seem to have any effect. I'm still getting a warning and DFP requests still use it to load.
Do we just have to wait for the sunset on

[2018-01-23 17:51] bradfrizzell commented on #11834
Hi @romainst
That warning gets pinged on any page that is using DFP and also has a custom remote.html set. Currently, having remote.html on the page causes Doubleclick to opt out of using the Fast Fetch ad flow, and instead uses the Delayed Fetch ad flow. After March 29, Doubleclick will always use Fast Fetch, even if remote.html is not there. If you need a way to test Fast Fetch on a page that ha

[2018-01-23 17:58] WillDonohoe commented on #10262
Hey @dev-drprasad, no the scope of our project changed slightly and we didn't need this anymore. It might be worth playing with a few CSS properties to toggle the visibility of it. I'm not sure how AMP decides on which elements are visible or not. It's a bit of a hack, but maybe absolutely positioning the hover image over the original and toggle the opacity on hover might give you the right effect

[2018-01-23 18:02] romainst commented on #11834
@bradfrizzell thanks for your help,
I guess that the current implementation we have should work properly after March 29th. If only doubleclick is concerned by the change, no need for us to test further ;)

[2018-01-23 18:14] daauerbach commented on #12816
@Gregable Yes! Looks like you were correct that things hadn't gotten into place.

For the tester, I'm now seeing both 1) the same _cid_ value throughout a session, including in direct jumps to the non-viewer AMP url, and 2) correctly stitched sessions in GA with appropriate behavior metrics.

And in production, it looks like a correctly configured referral exclusion is now producing full "google/o

[2018-01-23 18:22] #12800 closed

[2018-01-23 18:30] #12644 closed

[2018-01-23 18:46] mrjoro opened #12977 "Fix Getting Started guides release documentation"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects or have any experience with git & GitHub, please leave this issue for someone else.)

This issue fixes documentation and is intended to help people who have

[2018-01-23 18:46] newmuis opened #12978 "Cleanup disable-amp-story-hls experiment"

[2018-01-23 18:47] rudygalfi commented on #12816
Thanks for confirming @daauerbach! I'll close this out.

[2018-01-23 18:47] #12816 closed

[2018-01-23 18:53] jamesshannon commented on #8480
Now that refresh has been added in #4038 can we revisit this FR? I'm talking with a Blucora (ex-Infospace) site and activity-based refresh is important to them, specifically the same amp-carousel use case as the OP.

[2018-01-23 19:05] cvializ commented on #8228
Looks like this is implemented
https://www.ampproject.org/docs/reference/components/amp-list#xhr-batching

[2018-01-23 19:05] #8228 closed

[2018-01-23 19:09] jamesshannon commented on #8480
I should note that the primary alternative to an action-based refresh is to implement the carousel as multiple pages, which is a pretty poor user experience.

[2018-01-23 19:13] Gregable commented on #12969
@micyeung Can you elaborate on this comment:

Triple mustache syntax is designed to prevent escaping by dropping the variable in as a raw string, so I don't understand why you think it would convert a value?

@aghassemi Can you confirm that amp-mustache even supports this subset of mustache syntax?

[2018-01-23 19:17] jamesshannon commented on #12659
It's implicit in this and #12591 but we the carousel should be able to update the URL too.

This should support query params (as per the title of the FR), fragments (which is what this FR is actually asking for), **and also** URL rewrites (using the [history API](https://developer.mozilla.org/en-US/docs/Web/API/History)).

Updating the URL query params or fragment will require something a bit more

[2018-01-23 19:28] cathyxz opened #12979 "Lightbox: correctly position ads"
Ads are not correctly centered within the lightbox.

[2018-01-23 19:36] cathyxz opened #12980 "Lightbox: add proper support for components other than images"
- videos: `<amp-video>`, `<amp-youtube>`
- embeds: `<amp-facebook>`, `<amp-instagram>`
- ads

[2018-01-23 19:38] ericlindley-g opened #12981 "FR: Seamless page transitions"
Developer impl
• Developer opts in/out links on a given page for managed page transitions

User-facing effect
• A more seamless page transition (no white flash, etc)
• Elements that are re-loaded get default loading animation.

AMP Impl
• Get URL
• Copy over script tags
• Replace body with new content ( @cramforce , would the entire document body be replaced, or just elements not common between th

[2018-01-23 19:43] ghost opened #12982 "amp-fit-text is not truncating overflowing text with ellipsis in all cases"
## What's the issue?

amp-fit-text is not truncating overflowing text with ellipsis in all cases

## How do we reproduce the issue?

https://www.pinterest.jp/amp/explore/%E3%83%9C%E3%83%96%E3%81%AE%E3%83%98%E3%82%A2%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB/

https://www.pinterest.com/amp/explore/london/

1. Navigate to either link

The text under each image, if there is any, should be limited to 3 line

[2018-01-23 19:48] robhazan commented on #11834
@romainst - one way to emulate the behavior you'll see after March 29th is to set a rtc-config on your amp-ad tag. Specifying a rtc-config will cause the DoubleClick tag to ignore the remote.html, respect RTC, and use Fast Fetch

[2018-01-23 20:29] rnagaraj commented on #11455
Hi @codewiz
I was trying to implement update cache, encountered few issues and have few questions.
1. Do we really have to host the public key at the location **.well-known/amphtml/apikey.pub** ?
2. The site where we are implementing ampcache is secured. Do we have to do any configuration to work over **https**

when I tried updating the cache , I got 403 and the response as below (Public Key is s

[2018-01-23 22:52] choumx commented on #11843
- During prerender, some stories have a <body> with a 1px height (after measure)
- amp-story.css changes this with `i-amphtml-story-standalone` class on the `<html>` element, but that only gets added on buildCallback() for `<amp-story>`
- If the <amp-story> doesn't get built in prerender (possible since it's always the root), everything gets measured with a 1px body

[2018-01-23 22:55] choumx opened #12988 "amp-story: PWA support"
I noticed a lot of references in amp-story code to `win.document`. Also, amp-story.css makes changes to the `<html>` element. This won't work in PWA mode where you'll only have access to the shadow root FYI.

Probably fine to put this post-dev-preview.

/to @newmuis

[2018-01-23 23:01] lannka commented on #12920
## Ads & Analytics
### What's done
- Story ads design
- Template ads design
- Bug scrubbing: fixed/closed 10
- URL filter: parser, nested macro support
- Batching plugin support

### What's next
- Story ads prototyping
- AMP template ads prototyping
- REGEX filter
- Batching "decay" and "immediate flush" support

[2018-01-23 23:15] choumx commented on #7118
@danielrozenberg I think this can be closed?

[2018-01-23 23:20] noerjeffries commented on #6230
Hi all!

I'm working on some AMP pages for BiteSquad.com and have a scenario where we need cross-domain analytics between an AMP and non-AMP page. I found this thread, and it sounds like that functionality was in the works. :) Any update here?

Thanks!
-Noah

[2018-01-23 23:21] #12965 closed

[2018-01-23 23:28] rudygalfi commented on #6230
@noerjeffries - I believe @commadelimited's original use case as well as the one you just described is covered by the Google AMP Client ID API released by Google Analytics. You can find the documentation for it here: https://support.google.com/analytics/answer/7486764.

[2018-01-23 23:28] #6230 closed

[2018-01-23 23:46] cathyxz opened #12993 "Lightboxes: UI polish"
Notes from bug bash:
Toggles & Desc
- [x] Descriptions flicker when you change slides.
- [ ] Bug if description is expanded and you close, it should unexpand. Always open in unexpanded version.
- [x] Shouldn’t be able to close when controls are hidden. Actually toggle those controls, don’t just hide them with opacity.

Thumbnails Gallery
- [x] Thumbnails - object: cover, so we don’t stretch them.

[2018-01-23 23:48] kswang2400 opened #12994 "amp-template mustache escaping"
## What's the issue?

We are getting unescaped Mustache template syntax errors in from the AMP validator

[code]

## How do we reproduce the issue?

Try to set a string containing at least two left braces and two right braces (e.g. "{{foo}}") on any attribute within a amp-mustache template and see that the amp validator errors out.

## What browsers are affected?

All browsers

## Which AMP versio

[2018-01-23 23:54] cathyxz commented on #12941
Refiring canceled touch events for untriggered gesture recognizers in gestures: https://github.com/ampproject/amphtml/pull/12957

[2018-01-24 00:09] cathyxz opened #12995 "Lightbox: add runtime validation to Lightbox 2.0"
For now we support:
- amp-img
- amp-carousel
as lightboxable elements.

Throw a user().assert error if a lightboxed carousel contains anything that isn't an `amp-img` or a `figure` containing an `amp-img`. We're only supporting lightboxing `amp-img`s for now. This should be extensible in such a way that we can add components to be valid as we support them.

[2018-01-24 00:15] #12932 closed

[2018-01-24 00:34] nainar opened #12996 "[contribution guidelines] Add section on how to debug test failures"
The documentation as it currently stands lacks some tips and tools on how to debug test failures.

E.g. I got bit by: the fetchMock API.

cc @mrjoro

[2018-01-24 00:56] ericlindley-g commented on #12952
Related: https://github.com/ampproject/amphtml/issues/5396

[2018-01-24 01:01] dryleaf opened #12998 "Can not change the max-height property without amp validation errors"
To fix safari bottom navigation bar from overlapping my *amp-sidebar* I have added the following css:
[code]
i.e. I changed **vh** to **%**, and it works fine. but the amp-validation fails because it does not allow *!important* in css.

According to amp-sidebar css source, the *max-height* property is set to `max-height: 100vh!important;`.
- reference: https://github.com/ampproject/amphtml/blob/7e

[2018-01-24 01:12] rudygalfi commented on #12952
Closing in favor of #5396.

[2018-01-24 01:12] #12952 closed

[2018-01-24 01:26] Gregable commented on #12973
Happy to help. A few questions:

1. The extension spec you committed referred to the extension as `amp-html`. I assume you mean `amp-mathml`?
2. The extension spec you committed uses the attribute `formula` and here you use `data-formula`. Which matches the implementation you had in mind?

[2018-01-24 02:58] #11843 closed

[2018-01-24 03:23] aghassemi opened #13002 "Validation tests fails if output file does not have whitespaces in the copyright notice"
After some debugging while very confused, I have found an issue where if the copyright notice in the `.out` file of a validation test does not have the 2-whitespaces at lines 4,9 and 10, validation test fails. Note that `.html` part of the test does not need to have these whitespaces at all.

/to @honeybadgerdontcare
/cc @powdercloud

[2018-01-24 03:24] #12478 closed

[2018-01-24 04:47] kienstra commented on #12371
**Closing**
*Thanks For Investigating*

Hi @Gregable,
Thanks for looking at this, and sorry for the delay in replying. [Weston Ruter](https://github.com/westonruter) found that the `validator_gen_md` file [is no longer needed](https://github.com/Automattic/amp-wp/pull/892/commits/17f63acee38204ddf1f5057d2fd0fa1f1ca66a61#diff-942ce31bf727845b901140281c0278a1L339), so I'm closing this issue.

Thank

[2018-01-24 04:47] #12371 closed

[2018-01-24 05:17] #12960 closed

[2018-01-24 05:18] #12959 closed

[2018-01-24 05:18] #12362 closed

[2018-01-24 05:44] micyeung commented on #12969
Would it have helped if I had used "rendered as" instead of "converted"? The use case here is that the data source was \&Prime;  and we were trying have that be rendered as ″.

I think part of the confusion is that it wasn't clear that there was anything to escape; binding \&Prime; in {{{ }}} outside of template actually renders the ″ correctly and does not throw any validation error.

Also - This

[2018-01-24 06:11] aghassemi commented on #12981
So essentially origin-based version of A2A (https://github.com/ampproject/amphtml/issues/12496) ?
We should try to take the same implementation approach for both cases as much as possible. Maybe the only difference is the extra communication needed with the viewer to update its state of the current Url (which we need for Related-Content Infinite Scrolling anyway)

[2018-01-24 08:02] SimonHogstromRonbol opened #13003 "Amp-form validation classes and Auto-fill in chrome."
## What's the issue?

I have a form element on my page for lead generation, it contains name, email, phone input fields which are all required and message field, when i start typing in the name field, the name, email, and phone number field autofills as intended.

however, when i use autofill to fill in all the required fields, the form doesn't get the class user-valid the individual fields does t

[2018-01-24 09:54] micyeung commented on #10893
Ping - what's the latest here with adding Cloudflare suffixes?

[2018-01-24 12:41] Kishan08 commented on #12970
Any update?

[2018-01-24 14:21] lintal opened #13005 "AMP-Analytics: Errors with Google Tag-Manager"
## What's the issue?

A change made in the following PR is resulting in the `__amp_source_origin` to be excluded from requests to an amp-analytics config file.
https://github.com/ampproject/amphtml/pull/12787

Google Tag Manager appears to omit all CORS headers unless this GET parameter is included.
Because `Access-Control-Allow-Origin: *` is therefore not included by GTM, the browser throws the f

[2018-01-24 14:27] lintal commented on #13005
The work-around I can see for this is to manually append the `__amp_source_origin` parameter to the end of the amp-analytics config URL.
However is there a better way?

[2018-01-24 14:49] RasBaba opened #13006 "AMP doesn't allow <Input Type="file">"
AMP doesn't allow <Input Type="file">, but if i eliminate it from a form to upload file like zip, avi or simply txt, doc, how can a user send them?

"Input Type="file" is the automatic string of a form to send files, how it should be replaced?

[2018-01-24 15:08] buihoanghai commented on #12995
I have a idea by using amp-carousel for mocking swipe on phone. Ex: when swiping left -> right will open the filter sidebar and right -> left will open the menu sidebar. I  wonder this one will affect mine?

[2018-01-24 15:08] cramforce commented on #13005
CC @newmuis for prod patch

[2018-01-24 15:16] SimonHogstromRonbol commented on #13005
i want to add that the workaround that @lintal suggest makes tagmanager work, but doing that gives me the following amp validation error:

`https://www.simgolf.dk/:1:42210 The attribute 'config' in tag 'amp-analytics' is set to the invalid value 'https://www.googletagmanager.com/amp.json?id=GTM-KCTM85F&gtm.url=SOURCE_URL&__amp_source_origin=https%3A%2F%2Fwww.simgolf.dk'. (see https://www.ampprojec

[2018-01-24 15:20] cramforce commented on #13005
Yes, the work-around doesn't work. The production release is being rolled back and things should return to normal soon.

[2018-01-24 15:24] buihoanghai commented on #12970
It's not a bug. It's a feature. :). Currently they used input-debounce event for the example. The debounce time is 300ms. if have any changes when time end it will fire the event. If change to input-throttled event this issue will be fixed. But it's a big deal here

[2018-01-24 15:30] danielrozenberg commented on #7118
@choumx not yet. The feature itself works, but is not yet considered valid AMP. @Gregable said we should wait for the AMP cache to catch up with the commits that make this valid AMP before we merge PR #12593 that changes the documentation

[2018-01-24 15:44] newmuis commented on #13005
Versioned prod has finished rolling out 1516337355291.  Still waiting on unversioned prod.

[2018-01-24 16:01] newmuis commented on #13005
Unversioned prod has finished rolling out 1516337355291 as well.

[2018-01-24 16:04] kristiandavid commented on #13005
@newmuis thanks! was having the same issue as well. Thankfully I found this ticket! Thanks for creating the ticket @lintal

[2018-01-24 16:11] ilnarb commented on #13005
In our analytics system, we have the same problem: browsers don't load config coz CORS headers are wrong. Workaround made using "Origin" header line (set AMP CORS headers using Origin instead of __amp_source_origin) does not work for Google AMP Cache requests.

[2018-01-24 16:18] newmuis commented on #12890
This is working at HEAD, but we're still waiting on a prod release that contains the fix.  The fix is in canary.

[2018-01-24 16:18] #12890 closed

[2018-01-24 16:18] newmuis commented on #12889
This is working at HEAD, but we're still waiting on a prod release that contains the fix.  The fix is in canary.

[2018-01-24 16:18] #12889 closed

[2018-01-24 16:19] m-keller opened #13007 "Hidden amp-list does not pick up consecutive [src] changes on unhiding"
## What's the issue?

We are trying to dynamically update an amp-list using amp-bind [src] attributes. This works as expected when the amp-list is always visible ("hidden" not set). However, if the amp-list gets hidden, e.g., in a two step flow of selecting items, the amp-list no longer picks up changes pushed via AMP.setState().

## How do we reproduce the issue?

High-level structure:

[code]

D

[2018-01-24 16:20] sebastianbenz commented on #13007
//cc @choumx

[2018-01-24 16:41] cramforce commented on #12981
Same origin can avoid actual navigations / new iframes. So these might
actually be very different implementation. However, there would be a log of
shared code with the PWA code.

On Tue, Jan 23, 2018 at 10:11 PM, Ali Ghassemi <notifications@github.com>
wrote:

[2018-01-24 17:21] choumx commented on #13007
Ah, the problem is that `this.getLayoutWidth() > 0` is an imperfect proxy for "layoutCallback() has been called". Should be an easy fix -- coming up soon. Sorry about that!

[2018-01-24 17:22] choumx commented on #13007
/cc @aghassemi You were right. 😅

[2018-01-24 17:33] aghassemi commented on #13007
/for once/

[2018-01-24 17:50] aghassemi commented on #12981
Good point, Prototype for [Related-Content Infinite Scrolling](https://github.com/ampproject/amphtml/issues/12945) uses PWA infra. I guess this can be thought of a special case of the same thing, a new doc is loaded but instead of getting appended to the initial doc, it replaces it. @emarchiori

[2018-01-24 17:58] cathyxz commented on #12995
@buihoanghai This only applies to the `<amp-lightbox-viewer>` component, which is currently experimental, so it won't affect any current sidebar behavior.

[2018-01-24 18:01] meronym commented on #11205
I managed to work this out (although in a not very elegant way) by commenting out the section placeholders (so the browser's parser won't foster parent them):

[code]

[2018-01-24 18:08] aghassemi commented on #13006
@RasBaba This is somethign we are planning to add soon (few months). Please subscribe to the existing feature request here: https://github.com/ampproject/amphtml/issues/9791

[2018-01-24 18:09] aghassemi commented on #13006
Closing as dup of https://github.com/ampproject/amphtml/issues/9791

[2018-01-24 18:09] #13006 closed

[2018-01-24 18:09] aghassemi commented on #13003
/to @cvializ

[2018-01-24 18:11] aghassemi commented on #12996
/to @rsimha-amp
A section regarding using `--watch` with `gulp test`, `.only` and "Debug" feature of Karma would be great to have.

[2018-01-24 18:22] aghassemi opened #13011 "Make goToSlide & [slide] work for scrolling carousel"
goToSlide and binding to `[slide]` only work in the `slide` carousel, we should make them work in scrolling carousel as well. It just needs to scroll enough to make the requested item to become visible (ideally in the center as much as possible)

[2018-01-24 18:26] cathyxz opened #13013 "Lightbox: handle transition edge cases"
We need to handle the following edge cases:
- No source image to transition from.
- Current image does not match source image on exit.

and anything else that might result in a broken-looking UX.

[2018-01-24 18:27] aghassemi commented on #13011
/cc @cathyxz

[2018-01-24 18:33] #12948 closed

[2018-01-24 18:37] RasBaba commented on #13006
Thanks very much

[2018-01-24 18:55] cvializ commented on #13003
I cannot reproduce step 3. Is there anything else I'm missing? Keyboard-only produces the same result.
![repro mov](https://user-images.githubusercontent.com/2363700/35351119-d57c8828-00f4-11e8-8fe4-a1f714c9ffc8.gif)

[2018-01-24 18:56] cvializ commented on #13003
I can reproduce the `<form>` element not updating to `user-valid`.

[2018-01-24 19:08] cvializ commented on #13003
Looking at this further, I believe [the pending `:user-invalid` spec](https://drafts.csswg.org/selectors-4/#user-invalid-pseudo) is not clear about whether `:user-invalid` should propagate to parent `<form>` or `<fieldset>` containers. I agree that `<amp-form>` should be consistent with how it applies the value though.

Given the current draft spec, I propose we make changes so that `:user-invalid

[2018-01-24 19:23] cvializ commented on #11422
Can save this one for the upcoming UI test-writing sprint.

[2018-01-24 19:34] spacedino commented on #12920
**# UX**

## What's done

- Initial round of visual design for icons on Lightbox 2.0
- Discussions on infinite scroll / dynamic loading

## What's next

- Initial round of visual design for icons on Lightbox 2.0
- Visual designs for demo of infinite scroll / dynamic loading
- new loaders discussions / options

[2018-01-24 20:43] #12811 closed

[2018-01-24 20:49] aghassemi commented on #12998
@dryleaf It is not possible as it stands (`!important`) is banned in AMP, as a workaround, you can have a separate `div` in you sidebar that has a smaller height.

I consider Safari bottom nav overlapping sidebar to be a bug for us to fix, therefore I am renaming this issue.

[2018-01-24 21:00] raywainman opened #13020 "Allow binding of amp-selector [disabled] attribute"
## What's the issue?

Binding the `[disabled]` attribute on the `<amp-selector>` would allow someone to disable this form element once they have "locked-in" their choices. We can imagine a case where a user has to select multiple items from a multi-select form element, the user then hits the "submit" button. If we assume the form can only be submitted once, then we should disable all form elements

[2018-01-24 21:07] raywainman commented on #13020
\cc @choumx

[2018-01-24 21:11] #13007 closed

[2018-01-24 21:31] aghassemi commented on #12971
/to @rsimha-amp for triage

[2018-01-24 21:33] ericlindley-g commented on #12618
@aghassemi  — good point...

Thinking through the additional risk that this feature would introduce: janky animations are already allowed in iframes—is there additional risk introduced because it's more common to use non-hardware-accelerated animations based on scroll, or would the additional layer of listening to scroll events make it more likely to introduce jank to animations that would otherwi

[2018-01-24 21:34] aghassemi commented on #12964
/to @choumx @cvializ @ericlindley-g

[2018-01-24 21:34] aghassemi commented on #12849
/to @choumx @cvializ @ericlindley-g

[2018-01-24 21:37] aghassemi commented on #12618
It's use of non-hardware-accelerated animations based on scroll. Passing scroll data through iframes is fine (we already do that for A4A and in-a-box.)

[2018-01-24 21:42] lannka commented on #12674
Design review meeting notes
- Low entropy PAGE_VIEW_ID was to avoid any privacy implication. But we think it's fine to introduce a high entropy one now.
- will only support 64bit value encoded in URL safe Base64
- naming: PAGE_VIEW_ID_64 or PAGE_VIEW_ID(64)

[2018-01-24 22:04] cathyxz commented on #12500
Assigning to my self to write-up as a GFI.

[2018-01-24 22:06] rsimha-amp commented on #12971
@Galphimbl Can you talk about where you are using `getStdout`? Is this being run as part of `build-system/check-package-manager.js` (which is run before `yarn`), or are you calling it somewhere else?

The recommended version of `node` for AMP development is `v6`. Could you try running `nvm install 6` followed by `yarn` to see if the issue still repros?

[2018-01-24 22:17] cathyxz commented on #10946
This seems duplicated with a bunch of issues related to autosuggest as well as addressed by https://github.com/ampproject/amphtml/pull/12829. I'm removing the GFI Candidate label until we dedupe.

[2018-01-24 22:21] gmajoulet opened #13024 "Story loading spinner sometimes appears on next/prev on desktop"
The story loading spinner sometimes appears on prev/next page on desktop.

[2018-01-24 22:25] ericlindley-g commented on #12618
Got it—thanks for talking through this. I'm inclined to support this such that it provides the ability to sync with 60fps animations. WDYT about taking this to design review to double-check before going forward?

[2018-01-24 22:30] choumx commented on #12939
Syntax for A2A linking: #12496

[2018-01-24 22:48] rsimha-amp commented on #12971
I just switched to your versions and am not seeing the error. What OS are you running on? How are you calling the command? (`getOutput` inherits the `stdout` and `stderr` from the parent process)

![image](https://user-images.githubusercontent.com/26553114/35361190-675c9ba0-012e-11e8-8f2b-b41c778c15d4.png)

[2018-01-24 23:16] #12692 closed

[2018-01-24 23:45] aghassemi commented on #12618
@ericlindley-g design review would be good, I suggest we do it closer to when we actually want to start implementing it. (which has to be after two-way messaging anyway since that's a dependency)

[2018-01-24 23:52] choumx commented on #9423
@ericlindley-g @aghassemi @lswang1618 @sebastianbenz Flagging a possibility to have both client-side filtering with infinite scroll if we bundle this into `amp-list` and `amp-bind`. Mostly useful for the e-commerce use case.

Combining a metaprogramming idea from another thread:

[code]

- `filter` contains an amp-bind expression
- `[filter]` allows you to configure `filter` to change filter condi

[2018-01-25 00:03] Gregable commented on #13002
This test is very simple. We take the .html file, prefix every line with "|  " (pipe, space, space), and then insert lines with errors if we find them. The .out file shows the errors in context.

The problem is that this scheme is intended to be used with code that automatically regenerates the .out files from the .html files and have the user + reviewer inspect the diffs. It is not intended that

[2018-01-25 00:15] kienstra opened #13026 "Request to limit scope of functions in validator.js"
## What's the issue?

It seems that functions in [validator.js](https://cdn.ampproject.org/v0/validator.js) are escaping into the global namespace.

## How do we reproduce the issue?
1. Navigate to an AMP page [like this](https://amphtml.wordpress.com/2017/12/13/twitter-uses-amp-to-improve-reading-experience-enables-publishers-to-understand-their-audience/amp/#development=1), with `#development=1`

[2018-01-25 00:24] newmuis commented on #13024
We should just be able to hide this with pure CSS right?  Something like

amp-story-page:not([active]) .i-amphtml-story-spinner {
  display: none !important;
}

[2018-01-25 00:29] aghassemi commented on #13002
I think we should fix this, many IDE's remove trailing spaces by default so even if this file is autogenerated, just opening it and saving can use tests to start failing which can be confusing.

[2018-01-25 00:52] gmajoulet commented on #13024
This would break if we ever decide to change the ``active`` attribute, I
wrote another fix that I'll submit tomorrow after a bit more testing!

On Wed, Jan 24, 2018 at 7:24 PM, Jon Newmuis <notifications@github.com>
wrote:

--
Gabriel Majoulet  | UX Engineer | gmajoulet@google.com

[2018-01-25 01:13] dryleaf commented on #12998
@aghassemi Thanks for taking in this issue. I appreciate your insights.

[2018-01-25 01:24] newmuis commented on #12920
## amp-story

### What's done

- MediaPool implemented for media element recycling
- Automatic scaling experiment for story pages
- Bookend fixes (sharing, styling, preloading)
- Navigation fixes for desktop
- UI polish

### What's next

- Fix prerendering
- Loading UX
- Auto-advance bugfix
- Edge cases for HLS video
- More UI polish!

[2018-01-25 04:55] newmuis commented on #12890
Note: this is still broken on iOS; tracked separately in #12976.

[2018-01-25 06:17] choumx commented on #8368
Hacked up client-side filtering with amp-list: #13028

Obviously a different use case than above but might be useful for e-commerce.

[2018-01-25 07:17] sebastianbenz commented on #9423
@choumx how would the filter attribute work in amp-list's single-item mode? Sometimes you're forced to use single-item mode even for lists (e.g. when combining amp-list with amp-carousel).

[2018-01-25 07:27] Kishan08 commented on #12970
Aha, thanks for the suggestion. Will close the issue.

[2018-01-25 07:27] #12970 closed

[2018-01-25 09:46] Galphimbl commented on #12971
my OS is windows 10.
Version: 1703
OS Build: 15063.850
System type: 64-bit operation system, x64-based processor

same issue on `node v6.12.3`
`getOutput `run as part of `build-system/check-package-manager.js`.
![yarn](https://user-images.githubusercontent.com/23402404/35379358-82622e84-01be-11e8-9588-adcbc0be9ac9.png)

i can comment `preinstall` script and install all dependencies, but `gulp` als

[2018-01-25 11:12] minicase opened #13029 "is there a amp cdn instead of cdn.ampproject.org?"
is there a amp cdn instead of cdn.ampproject.org?
because of china 's great firewall ,my website users can't reach google's servers.

how to get https://cdn.ampproject.org/v0.js with a mirror cdn server?

[2018-01-25 14:26] mauricionr commented on #13029
Cloud Flare https://www.cloudflare.com/?

[2018-01-25 15:58] newmuis opened #13030 "amp-story JS error "Cannot read property 'mutateElement' of null""
Occasional error in log:

    ampdoc-impl.js:394 Uncaught (in promise) TypeError: Cannot read property 'mutateElement' of null
        at Vb.f.mutateElement (ampdoc-impl.js:394)
        at Xb (amp-story-page.js:237)
        at amp-story-page.js:77

/cc @sebastianbenz

[2018-01-25 16:00] newmuis opened #13031 "amp-story drop-in animation preset causes JS error"
web-animations.js:133 Uncaught (in promise) DOMException: Failed to execute 'animate' on 'Element': Partial keyframes are not supported.
        at https://cdn.ampproject.org/rtv/001516850240342/v0/amp-animation-0.1.js:72:153
        at Array.map (<anonymous>)
        at Ab.push.f.u.init (https://cdn.ampproject.org/rtv/001516850240342/v0/amp-animation-0.1.js:72:44)
        at Ab.push.f.u.start (ht

[2018-01-25 16:01] #12775 closed

[2018-01-25 16:11] newmuis commented on #13031
/cc @sebastianbenz

[2018-01-25 16:20] teknotica commented on #12356
Hi 👋

We are experiencing content being cut off in our `amp-instagram` as well. We noticed that the _caption_ is showing ok, however the next piece of content (comments line) is the one cut off.

When trying the following code:

[code]
We got this output in our pages. We have decided to hide the captions for now.

Is there a way to work around this? Thanks in advance!

<img width="594" alt="cut-of

[2018-01-25 16:27] newmuis opened #13033 "amp-story play() request was interrupted by a call to pause()"
On the second page of each story, the error `Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause()` is triggered, and the video is not played.  I suspect this may be because blessing the videos occurs after navigation (due to #12967), and part of the `bless` call is to pause the video.

[2018-01-25 16:43] pietergreyling commented on #7259
@dknecht @oliy Do we have any status changes on this? Happy to sync offline. //pieter

[2018-01-25 16:49] #11777 closed

[2018-01-25 16:49] #12356 closed

[2018-01-25 16:50] aghassemi commented on #12356
@teknotica A fix was submitted today and will be in production in couple of weeks. Meanwhile as a work around you can try to guess a better width/height aspect ratio for the embed so the initial size is correct. For this particular photo, `width="1" height="1.45"` seems to work.

[2018-01-25 16:55] teknotica commented on #12356
@aghassemi thanks for the heads up. We will wait for the fix in the next release then. Thanks again 🙌

[2018-01-25 17:02] choumx commented on #9423
Filtering would still work -- the item will either be filtered or won't be. The amp-list could render zero items. Prototype here: #13028

[2018-01-25 17:55] cvializ commented on #12849
Able to reproduce, looks like a bug with `amp-fx-parallax`. Not sure why it can't find the ampdoc.

[2018-01-25 18:09] Gregable commented on #13002
I'm not strictly opposed to adding whitespace trimming to the automatic manipulation. However, there are lots of things that editors might do, such as trying to automatically format html, wrap strings at a certain number of columns, add newlines at ends of files, replace spaces with tabs or tabs with spaces.

The model is that the .out files aren't intended to be edited by hand. The .html files ca

[2018-01-25 18:35] bradfrizzell opened #13034 "Local example breaks when switching branches while gulp runs"
While working on a new feature branch, I keep encountering an issue with my example breaking when I switch between commits.

**Steps to reproduce (using Chrome 63.0.3239.132 (Official Build) (64-bit) on Linux)**

1. Checkout branch 'frizz-safeframe-clean'
2. switch to commit 8dbb505
3. Run gulp
4. Navigate to http://localhost:8000/examples/doubleclick-safeframe.html
5. Note lack of errors in conso

[2018-01-25 19:15] choumx commented on #12927
https://github.com/ampproject/amphtml/blob/720cc01bcb9d255fa6a74113dd98cfca5d0c748e/3p/messaging.js#L78

[2018-01-25 19:16] choumx commented on #13029
https://amp.cloudflare.com/ is a well known one.

[2018-01-25 19:16] #13029 closed

[2018-01-25 19:20] choumx commented on #12801
Appears fixed by #12802.

[2018-01-25 19:20] #12801 closed

[2018-01-25 19:22] choumx commented on #12463
Adding `#development=1` loads the JS validator at runtime.

[2018-01-25 19:43] Adventive commented on #12747
Can this get re-opened since it was not fixed by #12900

[2018-01-25 20:30] cpapazian commented on #12994
to clarify, the issue that we are having is that it is not clear how to escape mustache syntax. looking at the docs for mustache, their recommendation is to use [Custom Delimiters](https://github.com/janl/mustache.js#custom-delimiters):

but custom delimiters are not supported in AMP.  Other than stripping this markup altogether, we don't see a way forward.

[2018-01-25 20:43] bradfrizzell commented on #12374
Hi @nibuca, sorry for slow back and forth.
So I can add in clientId if this is something you need. However, there are some issues. The primary problem is that clientId is not available yet at the time when we are currently building the RTC call. Get the clientId is an async process, whereas all the RTC macro operations currently are sync. Adding this change would mean that your RTC requests would

[2018-01-25 20:58] nibuca commented on #12374
Hi @bradfrizzell
We have been using the combination of clientId and pageviewId to generate a distinct userId (we refer to it as vguid) which would be available to both ads and our analytics.  This vguid is used so that we can match visits in our analytics with visits in ads.

If we can generate the vguid in RTC and then share it back to analytics (or vice versa) I'm happy with that option.. but we

[2018-01-25 21:09] Gregable commented on #13026
I think we can get a fix out for this fairly quickly. @powdercloud has a prototype, but we need to get it through a release. Thanks for the report.

[2018-01-25 21:15] newmuis commented on #12913
Actually, I'm having trouble reproducing this.  My initial report is mistaken because the media element that is swapped is the `video` tag added by `amp-video`, and not `amp-video` itself.  As such, the ID `my-vid` stays in the document at all times, and so adding the event listener to listen to `ended` and `timeupdate` events works just fine.

I don't think we should need to add `auto-advance-aft

[2018-01-25 21:25] #13024 closed

[2018-01-25 21:25] #12827 closed

[2018-01-25 21:59] cathyxz opened #13039 "Lightbox: implement transition for object fit cover and contain"

[2018-01-26 00:08] zhouyx opened #13044 "Support variable substitution for timezone code"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- Some familiarity with JavaScript

### Background
[How AMP support variable sub

[2018-01-26 00:14] zhouyx commented on #13005
Confirmed that the fix is in prod and canary.

[2018-01-26 00:14] #13005 closed

[2018-01-26 00:26] honeybadgerdontcare commented on #12973
Fixed in #13001

[2018-01-26 00:26] #12973 closed

[2018-01-26 01:16] rsimha opened #13047 "JWT deprecation: Figure out how to test on Sauce labs during PR checks"
Deprecation announcement: https://blog.travis-ci.com/2018-01-23-jwt-addon-is-deprecated

This will prevent us from using a secure JWT encrypted sauce labs token to run unit and integration tests during PR checks.

Figure out a workaround to use our sauce labs token on PR builds.

[2018-01-26 01:16] rsimha-amp commented on #13047
@erwinmombay @cramforce @choumx

[2018-01-26 02:06] kienstra commented on #13026
Thanks a lot, @Gregable! That would really help.

[2018-01-26 04:01] gzgogo opened #13048 "Add Umeng+ analytics config"

[2018-01-26 04:02] #13048 closed

[2018-01-26 04:03] gzgogo opened #13049 "Add Umeng+ analytics config"

[2018-01-26 04:03] Malvoz commented on #12968
@jasti, typo.. that would be **GDPR**. Does the GDPR cookie consent apply to amp-iframe aswell?

[2018-01-26 05:01] cathyxz opened #13051 "Lightbox 2.0: name the component and clean up experimental flags"
Figure out what we want to name the lightbox 2.0 component, and gate it behind a single properly named experimental flag. Some candidates are:
- amp-lightbox-gallery
- amp-lightbox-viewer
- amp-gallery

If nobody has any opinions, we're going with `<amp-lightbox-gallery>`.
Demo here: http://amphtml-nightly.herokuapp.com/test/manual/article-with-lightbox-2.0-gallery.amp.html

[2018-01-26 05:02] cathyxz commented on #12939
- Naming Lightbox 2.0: https://github.com/ampproject/amphtml/issues/13051

[2018-01-26 05:08] cathyxz opened #13052 "Carousel children that are lightboxed to a different gallery should be handled correctly"
Right now they are overridden and included in the default carousel. This is a bug.

[2018-01-26 07:44] sanjsanj commented on #12913
@newmuis Ok thanks for the update!  If there's anything I can pick up to help please shout.  I don't know if you've seen it but I have a PR in to update the `progress-bar.html` as well if you can have a look please, I hadn't set it up as well as I could have and also added an `amp-audio`, thanks! #12926

[2018-01-26 08:58] command3r commented on #12349
Hi there, I believe this along with operands limit on expressions, make it impossible or very hard to `reduce` into another array which is useful for state management of state/arrays.

[2018-01-26 09:36] jgsojo opened #13056 "Refused to display 'url' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'"
## What's the issue?
We have a button that navigates to a new url from the same domain, using AMP.navigateTo(url='...'). When clicking on this button, the following error is displayed on developer tools console:

*Refused to display 'urlFromSameDomain' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'.*

## How do we reproduce the issue?

This is the complete code of the button:
`<button

[2018-01-26 13:08] gilbertococchi commented on #12132
It looks like the #12161 solved the noscript issue but the Media Screen issue (AMP Page via Shadow DOM requesting both images and ignoring Media Query) is still happening.

Test URL: https://rep.repubblica.it/pwa/generale/2018/01/25/news/soldi_alla_tav_tagli_ai_treni_locali_l_italia_divisa_delle_rotaie-187294796/

Image URLs loaded:
https://www.gelestatic.it/thimg/N8HRbMG3mkd6nqN_NTagTXWatOE=/**18

[2018-01-26 14:38] jasti commented on #12968
Updated, thanks.
@rudygalfi for comments on amp-iframe.

[2018-01-26 14:53] advgiarc commented on #11455
@rnagaraj
(I am not associated with the ampproject)

We are using AMP and I can offer some insight to your questions:

1) Yes, that is the exact location your public key must live under.

2) No, if your SSL certs are all setup correctly, there is nothing else you need to do for HTTPS, as AMP and 'update-cache' ONLY work over HTTPS.

RE: the 403: if your public key is not actually public and at the

[2018-01-26 16:22] alanorozco opened #13059 "Dynamic page scaling is incorrect when layer has transform properties"
[Placeholder issue, more details coming later]

[2018-01-26 16:23] alanorozco commented on #13059
Whoops, duplicate of #12934

[2018-01-26 16:23] #13059 closed

[2018-01-26 16:39] raywainman commented on #9860
I don't think this has been fixed for the case when the server returns a **successful empty result**, for example assume the server just returns `[]` and we have the following amp-list:

[code]

This still renders as completely empty as it tries to evaluate the Mustache template with no elements.

It would be better if we could specify an additional element here, say a div with something like `emp

[2018-01-26 16:50] aghassemi commented on #9860
@raywainman AmpByExample is adding a sample for this case. See https://github.com/ampproject/amp-by-example/pull/1124/files is that what you are looking for?

[2018-01-26 16:53] raywainman commented on #9860
Aha, that's perfect. Thanks @aghassemi !

[2018-01-26 16:58] choumx commented on #12349
@command3r Do you have an example you can share?

[2018-01-26 17:00] newmuis commented on #12913
Sorry, I totally missed #12926!  Approved and merged it now; I'll use that to verify whether this issue can be marked as fixed.

[2018-01-26 17:27] command3r commented on #9860
Thank you @raywainman & @aghassemi!

For the successful empty result scenario, I would say that is a workaround.
It requires a new hierarchical level on the data, a loop template vs. an item template and leaves me with two different approaches to handle list state (div[<state-attribute>] + template).

For reference, this is what I am working with:

  As a user, when I exclude all items available I

[2018-01-26 17:46] lannka commented on #12927
@Adventive `win.context` is somehow reset to empty object after your script gets loaded [here](https://github.com/ampproject/amphtml/blob/master/ads/adventive.js#L31)

Could you please take a look?

[2018-01-26 18:14] sanjsanj commented on #12913
Nice one!

[2018-01-26 18:24] alanorozco opened #13064 "amp-story page scaling should use `zoom` on iOS"

[2018-01-26 18:32] newmuis commented on #13064
# STAMP Autoplay Mode

## Overview
We would like to have stories play inline in embedded contexts (e.g. feeds), automatically advancing through all pages in the story without any user interaction.  If the user taps on the story, it can open full-screen, at which point the document is opened "normally", where the user can manually navigate between pages, and the story is most likely shown in a larg

[2018-01-26 18:34] cathyxz opened #13066 "Lightbox 2.0: race condition between amp-image-viewer layout and measure"
Sometimes swiping too fast on slow internet will result in displaying a black screen even after the image has already loaded due to measure being called exactly once on an unloaded image. Measure should be called after the image has already loaded.

[2018-01-26 18:57] westonruter commented on #5396
For fully supporting comments in the AMP plugin for WordPress, the `amp-live-list` component really needs to support the sort order. The ordering of WP comments is configurable in the admin:

![image](https://user-images.githubusercontent.com/134745/35455414-9c5f5cc6-0286-11e8-84d8-1206eeb40ac8.png)

For the immediate term we'll be forcing the option to be “newer” and display a notice:

![image](h

[2018-01-26 19:57] rudygalfi commented on #12968
@Malvoz Could you clarify your question? Are you asking whether a cookie consent (these are usually implemented in AMP using `amp-user-notification`) can be applied to an `amp-iframe`?

[2018-01-26 20:47] Adventive commented on #12927
@lannka
Closing as it seems the issue was on our end. Our apologies.

[2018-01-26 20:47] #12927 closed

[2018-01-26 22:08] rangarajanr commented on #10230
Any updates on the FR?  The resize logic for fixed elements, specifically amp-list seems to be a recurring issue for several partners.

[2018-01-26 22:10] choumx commented on #10230
@aghassemi Were you planning to have your team take this on?

[2018-01-26 22:15] #12578 closed

[2018-01-26 23:05] aghassemi commented on #10230
@rangarajanr Thanks for bringing it up. This is in our radar to tackle over the next couple of months.
/cc @ericlindley-g

[2018-01-27 01:49] aghassemi opened #13078 "in-a-box (with AMP host): Position observer seems to be broken"
Visit manual/amp-animation/scrollbound-embeds.amp.html
Note that the second test for in-a-box does not work.
Note that in the case above the host is AMP.

The non-AMP host version seems to be fine: scrollbound-inabox.non.amp.html

/o @zhouyx

[2018-01-27 02:20] choumx opened #13079 "amp-analytics: Shared interpolation & ampState() URL variable"
- [ ] Extract amp-analytics variable interpolation parsing (`${var}`) so it can be shared with another extension
- [x] Implement `${ampState(foo.bar)}` variable that reads from amp-bind state

/cc @lannka

[2018-01-27 19:36] tbll opened #13084 "amp-img: wrong source is picked"
Tested on Chrome. `<amp-img>` and `<img>` pick different sources. `<amp-img>` will pick a very large source even though sizes says `10vw`.

[code]

[2018-01-27 19:39] tbll commented on #11575
Here is an example:

[code]

[2018-01-27 19:39] tbll commented on #13084
Dupe: https://github.com/ampproject/amphtml/issues/11575

[2018-01-27 19:39] #13084 closed

[2018-01-27 20:09] amphtml-team commented on #11575
Yeah. Clearly wrong. We'll fix asap.

On Jan 27, 2018 11:47 AM, "Almen Munsel" <notifications@github.com> wrote:

[2018-01-27 22:14] fanat357 opened #13085 "ааа"
**Please only file bugs/feature requests for AMP her
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue here: https://goo.gl/utQ1KZ

If you have a bug or feature request for AMP please fill in the following template.  Delete everything except the headers (including this text).

## What's the issue?

Briefly describe the bug/feat

[2018-01-28 06:56] #11238 closed

[2018-01-28 12:02] Malvoz commented on #12968
@rudygalfi

Yes I initially meant the latter - if cookie consent should be applied in general when there is an iframe with a source that is cross origin. If a publisher set a flag to not send **any** third party cookies, I thought it should apply to iframe content aswell.

If this feature wont include iframes by default, can pulishers still apply cookie consent using `amp-user-notification`? If no

[2018-01-28 17:22] #13085 closed

[2018-01-28 17:24] mrjoro commented on #12552
**high entropy page_view_id**

- Malte: not really a problem to increase the entropy; 128 bits is probably overkill... 64 bits is probably enough (to have a smaller string)
- could make it configurable, but then we'd have to cache them; we could do it and enforce an upper bound (e.g. if they specify 128 we'd still use 64)
  - upper bound can be an issue because people think they have more security

[2018-01-28 17:24] mrjoro commented on #12552
**Renovate**

- fork mode ("Forking Renovate")
  - GreenKeeper has a legitimate reason for write access to repo because it adds labels to PR; this was done to avoid impersonation (not impersonating a commit, but someone creating an account called "Greenkeeper" with different characters)
  - Renovate does request permission for write access to issues to label their own PRs
  - design doc has detail

[2018-01-28 17:27] mrjoro commented on #12552
**document level infinite scroll**

- meant for third party content?  no, for first party (same origin) content for now
  - future proposal would cover third party content
  - potential users have been happy with this solution
- how are we determining limits to help with performance (e.g. 3 or 4 number of articles)
  - for now, we'll try it out with these initial limits and see what the performanc

[2018-01-28 17:27] #12552 closed

[2018-01-28 17:36] mrjoro opened #13086 "Design Review 2018-02-28 (built-in see more for amp-list, AMP template ads, amp-consent)"
Time: [2018-02-28 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=2&day=28&iv=0)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev)

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the

[2018-01-28 17:39] mrjoro opened #13087 "Design Review 2018-03-07 16:30 UTC (Africa/Europe/western Asia)"
Time: [2018-03-07 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=3&day=7&iv=0)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev)

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the

[2018-01-28 17:48] mrjoro opened #13088 "Design Review 2018-03-22 00:00 UTC (Asia/Oceania)"
**Note the new start time to accommodate Daylight Saving in some parts of the world.**

Time: [2018-03-22 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=3&day=22&iv=0)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev)

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproj

[2018-01-28 17:58] mrjoro opened #13089 "Design Review 2018-03-14 20:00 UTC (AMP content rendering, amp-story metadata)"
**Note the new start time to accommodate Daylight Saving in some parts of the world.**

Time: [2018-03-14 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=3&day=14&iv=0)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev)

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproj

[2018-01-28 18:00] #13088 closed

[2018-01-28 18:00] mrjoro opened #13090 "Design Review 2018-03-22 00:00 UTC (Asia/Oceania)"
**Note the new start time to accommodate Daylight Saving in some parts of the world.**

Time: [2018-03-22 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=3&day=22&iv=0)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev)

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproj

[2018-01-28 19:08] newmuis commented on #12913
Yep, this example seems to work fine.  Thanks for the work on this @sanjsanj!

[2018-01-28 19:08] #12913 closed

[2018-01-28 19:09] newmuis commented on #13030
This seems to be caused if the bookend XHR 400's.

[2018-01-28 19:20] lannka commented on #13079
The variable code is [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/variables.js)

`expandTemplate` is the main function. Right now you can ignore any `filter` related code as they are dead code and @calebcordry is cleaning up.

To be clear, this `VariableService` code is to provide recursive var substitution to JSON config:

[code]

if you do `expandTemplate

[2018-01-28 20:12] newmuis commented on #12939
- Preview `VisibilityState` (for `amp-story` autoplay mode) #12815

[2018-01-28 20:21] newmuis commented on #12916
This should be as simple as

    amp-story .i-amphtml-loader {
      display: none !important;
    }

[2018-01-28 20:24] newmuis commented on #12918
Here's [one potential solution](https://stackoverflow.com/questions/22051573/how-to-hide-image-broken-icon-using-only-css-html-without-js/37192970#37192970) that we could apply to `.i-amphtml-story-bookend-article-image > img` (perhaps just using `content: ''`, rather than the alt-text as the linked solution suggests).

[2018-01-28 21:08] cramforce commented on #11575
Sizes should not be ignored. My first change was just bringing it towards native srcset. Lets fix, but primarily lets just use native srcset and be done with it. There are no longer any browser issues. We only need to dynamically create a missing `sizes` when needed.

[2018-01-28 21:49] choumx commented on #13079
Thanks for the pointers Hongfei. Let's work with the requesting team and see if they can contribute this if possible.

[2018-01-29 02:32] newmuis commented on #12976
Was able to reproduce this starting from a blank JsFiddle and working towards our implementation.  [Here's the repro case](https://jsfiddle.net/ub0dvg96/6/) I came up with.

I'm currently trying to test whether the bug is related to the iOS device-specific limitation of how many videos can be in memory at once (16 on everything I've tried; #11856 has some details around this with respect to our im

[2018-01-29 04:28] newmuis commented on #12976
This appears to be working on both fronts 😄   I've currently got this deployed; you can try it on any story by using https://ampnewmuis.herokuapp.com/proxy/$YOUR_AMP_STORY_URL.

I'll clean up my PR and send it for review tonight or tomorrow.

[2018-01-29 05:28] newmuis opened #13094 "Remove white loading screen for amp-story"
This experience is not working well; let's remove it entirely.

https://github.com/ampproject/amphtml/blob/master/css/amp.css#L815-826

[2018-01-29 07:15] westonruter commented on #8314
One thing to note here is that in pagination there would need to be a standard way to hide/omit the previous link, since the next link would only ever be clicked to load more. The previous link would never be clicked so it should never be shown.

Also, in relation to #4524 for updating list without user interaction, `amp-live-list` could also be used to implement infinite scroll.

[2018-01-29 07:29] westonruter commented on #12981
Perhaps there should be a way to declaratively identify the regions of the document that should get updated? The `title` and any metadata would be a given. The `class` attributes on the `body` and `html` would be another good default. But then there'd probably need to be a way to identify the `nav` menu that would need to be updated, and then the container for the content that changes. Or else do

[2018-01-29 07:32] nurse opened #13096 "Intent To Implement: Adding Treasure Data to amp-analytics"
This is an intent to implement a new vendor in amp-analytics: Treasure Data.

I'll follow up with a new PR to support this.

[2018-01-29 10:06] SergeyBl opened #13101 "add imonomy network"
We would love to add support for the Imonomy ad-serving network to .

We will be submitting a PR via the SergeyBl/amphtml-imonomy-fork fork.
#12985

[2018-01-29 10:41] nha opened #13102 "[Layers] amp-lightbox scrollable makes amp-list not trigger"
## What's the issue?

Bug:

amp-lightbox "scrollable" attribute makes the `amp-list` component inside it not trigger a view

context: https://groups.google.com/forum/#!topic/amphtml-discuss/TEbNkNQGDEc

## How do we reproduce the issue?

Steps to reproduce:
- open https://gist.github.com/nha/07f38a4dfa0da3e9648272fadcd8862f
- copy/paste in the amp-playground https://ampbyexample.com/playground/
-

[2018-01-29 11:09] madhuriKavade opened #13103 "<amp-iframe> elements must be positioned outside the first 75% of the viewport or 600px from the top (whichever is smaller):"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-01-29 12:16] Kishan08 opened #13104 "AMP Autosuggest Performance"
I've implemented auto-suggest and found some performance issue.

## What's the issue?

I'm currently using [typeahead.js](https://github.com/twitter/typeahead.js/) for auto-suggest. So i want to replace it with AMP auto-suggest. Now the issue with AMP auto-suggest is, when i search query for first time [after site loaded] it took approx. 3 Sec. to render the suggestion list. And for non amp versio

[2018-01-29 13:28] billykov opened #13105 "Intent to implement: amp-yotpo - support for Yotpo's onsite widgets"
Hi AMP team!

Yotpo helps brands collect and leverage UGC in the form of reviews, photos and Q&A throughout the buyer journey to increase trust, social proof and sales.

Yotpo mainly serves eCommerce stores who embed our widgets on their site, as parts of their stores. Yotpo is growing rapidly and currently serving 300K stores.

Having the AMP plug-in will enable our partners to provide their user

[2018-01-29 15:45] command3r commented on #8214
Had the same issue. This was confusing and time consuming, can a validation warning be thrown in the meantime? Ideally, anything that gets removed from the template should generate some feedback to the developer.

[2018-01-29 16:59] westonruter commented on #12981
I see this AMP component as also powering app shell capabilities. If the live regions of the AMP document are marked, then the app shell is essentially the document with the regions replaced with placeholders. This can then be cached as the app shell for subsequent launches of the app to then be populated with the regions in the requested URL, which is also either cached or which needs to be fetch

[2018-01-29 17:23] calebcordry commented on #13079
I agree with Hongfei. If you want to point them at the actual place where the Macros are defined it is [here](https://github.com/ampproject/amphtml/blob/2ab481f53bddc73969f7da4289624f832d02931b/src/service/url-replacements-impl.js#L111). That is a simple one but others can get fairly [complex](https://github.com/ampproject/amphtml/blob/2ab481f53bddc73969f7da4289624f832d02931b/src/service/url-repla

[2018-01-29 17:42] #13020 closed

[2018-01-29 18:06] lannka opened #13110 "Document the need of integration tests for any 3rd party vendor integration"
Especially ads & analytics vendors.

[2018-01-29 18:09] choumx commented on #13002
+1 to having a tool or option in `validator/build.py` that generates the `*.out` files.

[2018-01-29 18:13] aghassemi commented on #13002
another option to consider is always generating it if `.out` is missing, otherwise do the compare.

[2018-01-29 18:27] aghassemi commented on #13056
/to @cvializ to investigate.

[2018-01-29 19:31] aghassemi commented on #13096
/cc @rudygalfi @zhouyx

[2018-01-29 19:31] aghassemi commented on #13101
/cc @jasti @lannka

[2018-01-29 21:11] rnagaraj commented on #11455
Thank you @advgiarc

[2018-01-29 21:21] honeybadgerdontcare commented on #12670
This has been fixed and will be coming in a future validator release.

[2018-01-29 21:21] #12670 closed

[2018-01-29 21:26] jridgewell commented on #11900
Not yet.

[2018-01-29 21:27] jridgewell commented on #12650
@ampbot is sooo needy. PR is #12958.

[2018-01-29 21:35] #12799 closed

[2018-01-29 21:39] taymonbeal commented on #11414
Not really. It hasn't been a priority.

[2018-01-29 21:39] newmuis opened #13115 "Use object-fit on amp-story bookend images"
Currently, images are stretched to fit the thumbnail size.  We should instead use `object-fit: cover`, to ensure that they're scaled appropriately.

[2018-01-29 21:44] ericfs opened #13116 "Canonical Sharing: add an ampshare parameter to the hash fragment"
Internal: b/72388029

In order to support extraction of the canonical URL by a parent App that can only access the location, the Canonical URL that should be used for sharing needs to be added to the location as a parameter in the hash fragment.

[2018-01-29 21:46] aghassemi commented on #11217
Just fixed by #13080

[2018-01-29 21:46] #11217 closed

[2018-01-29 21:49] honeybadgerdontcare commented on #12352
The prefix stripping is now live for the validator. However, `animation-timing-function` is being fixed in #13117 and will be live in several weeks.

[2018-01-29 21:55] lannka commented on #10891
Let's bump its priority after the AMP Conf

[2018-01-29 21:56] ericfs opened #13118 "ClientID: Support viewer:getClientId in addition to publisher:getClientId"
In addition to [publisher:getClientId](https://github.com/ampproject/amphtml/blob/39ffc2c40933b12f4b5b85f38b89141e9f71ad64/src/service/cid-api.js#L24), add support for calling viewer:getClientId.

This should only be done when an AMP document is served from the AMP Cache and when the containing Viewer is not responsible for calling the CID API.

Internal: b/72373408

/cc @lannka

[2018-01-29 21:56] honeybadgerdontcare commented on #12483
This is now live in production.

[2018-01-29 22:11] aghassemi commented on #8553
@camelburrito as discussed

[2018-01-29 22:11] aghassemi commented on #11537
@camelburrito as discussed

[2018-01-29 22:16] honeybadgerdontcare commented on #7394
This is now live in production.

[2018-01-29 22:19] honeybadgerdontcare commented on #11198
This is now valid in production.

[2018-01-29 22:26] #9337 closed

[2018-01-29 22:35] Haroenv commented on #10568
No updates so far. We haven’t heard too many requests for it on our part, so priorities were focused elsewhere. Might pick this up again later though

[2018-01-29 22:43] aghassemi commented on #11575
Logging some offline discussions:

1- We will move to full native support and remove AMP-specific logic from processing `srcset`
2- We may add a new opt-in to evaluate srcset based on `container width` rather than `viewport width` ( useful for cases such as thumbnail grids). This might endup being a "best-effort" and ignored in certain situations (e.g. hero images).

[2018-01-29 22:57] choumx commented on #13051
Are we sure we want a new extension name and not just increment the version for `amp-lightbox`?

[2018-01-29 22:58] alanorozco commented on #13051
In the past, there's been confusion when discussing the `amp-lightbox` element because of `amp-image-lightbox`. (see @choumx's comment right above me 🙂)

Presumably `amp-image-lightbox` is not going away for at least a while, so now there would be three components that could get confused between each other!

I prefer `amp-gallery` since it doesn't add to the ambiguity.

[2018-01-29 23:38] lannka opened #13122 "Auto refresh AMP_TOKEN cookie after read"

[2018-01-30 02:20] #13094 closed

[2018-01-30 02:29] #1443 closed

[2018-01-30 02:29] #7925 closed

[2018-01-30 02:29] #7928 closed

[2018-01-30 02:51] aghassemi commented on #13102
@jridgewell Good test case for layers.

[2018-01-30 02:52] aghassemi commented on #13103
@madhuriKavade You can use a `placeholder` (https://www.ampproject.org/docs/guides/responsive/placeholders#) to get around that restriction.

[2018-01-30 02:52] aghassemi commented on #13104
/to @cvializ

[2018-01-30 03:15] cvializ commented on #11049
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects or have any experience with git & GitHub, please leave this issue for someone else.)

This issue fixes documentation and is intended to help people who have

[2018-01-30 04:33] newmuis opened #13135 "Hide "Get Link" icon on browsers where the feature is unsupported"
We can use [`document.queryCommandSupported('copy')`](https://developer.mozilla.org/en-US/docs/Web/API/Document/queryCommandSupported) to determine whether a given browser supports automatically copying text to the user's clipboard.  If the browser does not support this, we should not show the icon, as it will fail all the time.

[2018-01-30 04:35] newmuis opened #13136 "Automatic link copying not working on iOS"
This is supposed to work in Safari 10+ ([this StackOverflow answer](https://stackoverflow.com/a/34046084) has a pretty good writeup of what's necessary), but it's been reported not to be working.  We should investigate and make sure we're following all the best practices here to make this work.

[2018-01-30 05:21] #12916 closed

[2018-01-30 07:36] nainar commented on #9264
Happy to claim this.

[2018-01-30 07:58] westonruter commented on #7368
Another use case is an article comment form. We'd like to be able to be able to have a user submit a comment form and then, upon successful:

1. Clear/reset the form.
2. Show a success message like “Your comment has been submitted for moderation” or “Your comment will appear soon”.
3. Trigger an update on the associated `amp-live-list` that contains all of the comments so that it will appear there

[2018-01-30 08:45] SergeyBl commented on #13101
![github](https://user-images.githubusercontent.com/35731116/35556190-4cd662f4-05aa-11e8-96cd-431ad8372f7c.png)
Sorry but looks I don't have a rights to do this.  (change the issue categories)
it should be **_Category:Ads_**    @jasti

[2018-01-30 09:38] mhgufron commented on #6243
Try to put <amp-img> tag in div tag, its work on my desktop browser.

example:
[code]

[2018-01-30 13:59] LIFESHOPPERS opened #13139 "Please Suggest How Can I Solve This Problem"
![search console accelerated mobile pages https lifeshoppers com](https://user-images.githubusercontent.com/35775895/35569951-ed66d03a-05f7-11e8-9b7c-09211807ae76.png)

[2018-01-30 14:24] ericfs opened #13140 "classes not removed by amp-font"
## What's the issue?

All document text remain hidden because classes that should be removed by amp-font are not removed.

It's possible this is a misconfiguration on the publisher's part, but my naive inspection didn't find a problem.

## How do we reproduce the issue?

Go to: https://newatlas.com/radio-waves-vaporize-electronics/53134/?amp=true
None of the text in `<p>` tags is visible, but ads

[2018-01-30 16:04] nha opened #13141 "tap:my-lightbox.close reloads the page"
## What's the issue?

Bug: a `tap` `close` event inside a lightbox reloads the page instead of just closing the lightbox.

## How do we reproduce the issue?

1. Step 1: copy the content of https://gist.github.com/nha/3f0e51cebf5838350301a378e99998d5
2. Step 2: paste on the [playground](https://ampbyexample.com/playground/)
3. scroll to the bottom, click on the "Open lightbox" button
4. click on th

[2018-01-30 16:48] radiovisual opened #13143 "amp-state ids collide with reserved words when called from amp-list template"
## What's the issue?

`amp-state` ids collide with reserved words when called from amp-list template

## How do we reproduce the issue?

1. Create an `amp-state` with an id of `formData`
2. Attempt to do anything that calls `AMP.setState` on `formData` from within an `amp-list` and `template` component

👉  **[Bug Demo Here](https://jsbin.com/xofulot/edit?html,output)**

## What browsers are affect

[2018-01-30 16:49] radiovisual commented on #13143
per Sebastian's request: @sebastianbenz

[2018-01-30 16:51] aghassemi commented on #13141
@nha this happens because of the empty `href` on the close `a` tag (empty href = relative Url to the same page). I recommend using a `button`. If you must use `a`, please set the href to `#`.

Hope this helps.

[2018-01-30 16:51] #13141 closed

[2018-01-30 17:02] aghassemi commented on #11575
/cc @ericlindley-g

[2018-01-30 17:07] sebastianbenz commented on #13143
//cc @choumx

[2018-01-30 17:32] gustavopaes commented on #12166
At AMP Validator, I am getting following message:
```The attribute 'preload' may not appear in tag 'amp-audio'.```

Is it avaliable to use?

[2018-01-30 17:35] honeybadgerdontcare commented on #12166
@gustavopaes This change is not yet live for validation. It will probably be another week or two.

[2018-01-30 18:00] choumx commented on #12964
I see, this isn't specific to the AMP Shadow Doc API. I suppose you could create a third subdomain but that's not great. Related: #8545

[2018-01-30 18:47] nibuca commented on #12374
Hi @bradfrizzell,  Checking in on this.  Please let me know if you'd like to hop on a call to discuss this.

[2018-01-30 18:50] bradfrizzell commented on #12374
Hi @nibuca

We can make the client ID available, but if there is a synchronous way we could generate an equivalent vguid that would be idea. Would be happy to jump on a call.

[2018-01-30 19:05] coreybyrnes opened #13146 "auto-redirect executes within ad"
I was attempting to execute an automatic redirect (without user interaction) from within a DFP ad to make sure AMP would not allow it, but found a case where the automatic redirect can execute. I'll document my test cases here - cases 3 & 4 present what I believe to be the bug:

case 1 : redirect via `window.top.location = "https://www.google.com"` >>> the ad does not display, an "ad" icon placeho

[2018-01-30 19:25] camelburrito commented on #13140
cc @cvializ @aghassemi

[2018-01-30 19:31] altmrjoro opened #13148 "Testing permissions"
This is just a test issue.  It will be closed soon.

cc @mrjoro

[2018-01-30 19:32] #13148 closed

[2018-01-30 19:44] jridgewell opened #13149 "Travis' JWT plugin deprecation"
Saw this in the Travis logs:

[2018-01-30 19:45] rsimha-amp commented on #13149
Duplicate of #13047

[2018-01-30 19:45] #13149 closed

[2018-01-30 19:51] cvializ commented on #13140
Hey thanks for reporting this! However I think it is a configuration error and not a bug.

I notice the font classes are on the `<body>` tag. [According to the docs ](https://www.ampproject.org/docs/reference/components/amp-font)

Since this document is standalone, the classes need to be on the html tag.

[2018-01-30 19:51] #13140 closed

[2018-01-30 19:54] ericfs commented on #13140
Thanks for looking!

[2018-01-30 20:06] danvisintainer opened #13153 "Getting 'Wrong parent tag' errors for tags that aren't in the article"
## What's the issue?
A few of our articles throw the ["wrong parent tag"](https://www.ampproject.org/docs/reference/validation_errors) error when validating them, but the errors end up pertaining to tags that the pages don't have. This breaks validation.

## How do we reproduce the issue?
Just view these pages and the error shows immediately in the console.

[https://www.billboard.com/amp/articles

[2018-01-30 20:36] rsimha-amp commented on #13034
@bradfrizzell Just tried reproing this locally, and I'm seeing line 892 evaluate to `true` before *and* after switching commits. Not sure what was wrong at your end. Could you try this again after syncing your branch to master and rerunning `gulp`?

In general though, keeping the same session of `gulp` running while switching `git` branches is unsupported, and could lead to undefined results. This

[2018-01-30 20:42] #11853 closed

[2018-01-30 20:58] cathyxz commented on #13052
Closed by https://github.com/ampproject/amphtml/pull/13050.

[2018-01-30 20:58] #13052 closed

[2018-01-30 20:59] cathyxz commented on #13013
Closed by https://github.com/ampproject/amphtml/pull/13040.

[2018-01-30 20:59] #13013 closed

[2018-01-30 20:59] cathyxz commented on #12962
Closed by https://github.com/ampproject/amphtml/pull/13040

[2018-01-30 20:59] #12962 closed

[2018-01-30 21:02] choumx commented on #13143
Oh this is interesting. Actually it's being sanitized by amp-list due to the presence of the substring `data:` in the value of the `on` attribute:

[code]

There's ongoing work to improve the predictability of the amp-list sanitizer. We should add a warning or error when something is sanitized by amp-list in the meantime.

/cc @aghassemi

[2018-01-30 21:06] choumx commented on #13143
This is where the `on` attribute gets stripped (and where we should add a user warning/error): https://github.com/ampproject/amphtml/blob/0cef5ae4ca934faa212fd09a485519430dbf6499/src/sanitizer.js#L384

You can check the element inspector of Chrome devtools to see.

[2018-01-30 21:21] choumx commented on #13056
Ugh, this should be navigating the window's top instead of the window itself. We should also extract this logic into a shared location.

[2018-01-30 21:34] #2198 closed

[2018-01-30 21:35] rsimha-amp commented on #12971
@Galphimbl Looks like we were starting a posix-only shell. #13156 should fix this.

[2018-01-30 21:48] cvializ commented on #7368
### First Timers Only
If you're new to contributing to the AMP Project, this issue could be a great way for you to learn the ropes and start contributing to AMP!

### What you will need to know

HTML, CSS, JavaScript

### Background

`amp-form` is an AMP extension that controls the behavior of HTML forms and their requests and validation in AMP documents. When users submit forms online, occasional

[2018-01-30 22:00] newmuis opened #13159 "Use listenOnce in amp-story"
We have many places in `amp-story` code that add an event listener but do not remove it.  For this, we can refactor to use [`listenOnce`](https://github.com/ampproject/amphtml/blob/master/src/event-helper.js#L78).

[2018-01-30 22:00] aghassemi commented on #13056
@choumx some viewer's have the capability to navigate for the doc. See how `amp-app-banner` does the navigate to: https://github.com/ampproject/amphtml/blob/80b5d2a853d1ed8d1380e067413788a844664b68/extensions/amp-app-banner/0.1/amp-app-banner.js

[2018-01-30 22:08] choumx commented on #13056
Thanks for the pointer. I think we're going to handle A2A navigations separately: #12496

This action should behave similarly to `<a>`. IIRC, the original issue is that normal links don't work in a `<select>` dropdown.

Also, we probably should mirror the URL var substitution behavior for `<a>` tags too. Currently there's no whitelisting required. 😓

[2018-01-30 22:51] zhouyx commented on #13078
It's not broken. When running `gulp` `amp-inabox.js` is not compiled and that's why the second test is not working. Works fine for me when running with `gulp --with_inabox`. Let me add a note to the testing page

[2018-01-30 23:07] #12650 closed

[2018-01-30 23:21] aghassemi commented on #13078
@zhouyx @rsimha-amp  is there an issue with compiling inabox with default `gulp` target?

[2018-01-30 23:23] aghassemi commented on #13146
/cc @lannka

[2018-01-30 23:24] rsimha-amp commented on #13078
@aghassemi none that I'm aware of. This seems like expected behavior, doesn't it? (If a file needs to be added to the default build, it'll have to be done in `gulpfile.js`.)

[2018-01-30 23:29] aghassemi commented on #13153
/to @honeybadgerdontcare This is interesting, there is no `form` or `div [submit-success]`. Worried might be a regression of https://github.com/ampproject/amphtml/pull/12813

[2018-01-30 23:29] zhouyx commented on #13146
AMP did not apply any restrictions on automatic redirect. DFP may have done something inside their iframe.
But it's a good point, Can AMP use the `sandbox = allow-top-navigation-by-user-activation` attribute to prevent redirection without user interaction?

[2018-01-30 23:32] aghassemi commented on #13078
yeah unless this adds significant amount of time to the build process or somehow breaks the release process, we should include it in my opinion.

[2018-01-30 23:35] zhouyx commented on #13078
The build time is already quite long. I actually think it's good to keep building inabox binary and shadow binary separate from default build

[2018-01-30 23:36] rsimha-amp commented on #13078
Currently, we don't build `inabox` when `watch` is true (applicable to `gulp` and `gulp watch`): https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L351

[2018-01-30 23:39] aghassemi commented on #13078
ok, not a big deal. documentation is a good step toward making this more obvious. I approved the PR. Feel free to close the issue.

[2018-01-30 23:40] #12976 closed

[2018-01-30 23:40] #13033 closed

[2018-01-30 23:50] honeybadgerdontcare commented on #13153
This isn't a regression due to that PR. This is instead an issue due to poorly selecting the appropriate error message*. A fix for selecting a better error message is in but has not been made it to production yet.

The real reason this document is failing is because it does have a `<div>` that is invalid but for a different reason. On line 212 there is `<div apple color emoji ui notocoloremoji sym

[2018-01-30 23:50] newmuis opened #13164 "Make media-based auto-advance progress bar animation more smooth"
Per MDN, the [`timeupdate`](https://developer.mozilla.org/en-US/docs/Web/Events/timeupdate) event is "thrown between about 4Hz and 66Hz", so we may need to do additional transition states on the progress bar segments to make it appear smooth even when we don't know it will be.

[2018-01-30 23:52] aghassemi commented on #13153
Phew, thanks so much for investigating @honeybadgerdontcare.

[2018-01-30 23:58] lannka commented on #12494
sounds like browser `focus` event is what you want to capture?

[2018-01-31 00:11] coreybyrnes commented on #13146
@zhouyx Interesting. I'm wondering why AMP shows the "ad" placeholder for case 1 and case 2 then - I just assumed the script was being parsed by AMP and any attempt to redirect was being killed. I will schedule a creative to demo case 1 so your team can review...

As for sandboxing, the `allow-top-navigation-by-user-activation` flag has very limited browser support at this point so I wouldn't sugg

[2018-01-31 00:21] aghassemi commented on #13164
haha I was investigating the exact same thing yesterday for #13083 . Doing a read on `.currentTime` every rAF while video is playing will give you high precision. I hope reading `.currentTime` is constant and fast but not sure, didn't test. I assume updating the progress bar is fully hardware accelerated?

[2018-01-31 00:39] #13078 closed

[2018-01-31 00:50] cathyxz commented on #11214
Closed by https://github.com/ampproject/amphtml/pull/13074

[2018-01-31 00:50] #11214 closed

[2018-01-31 00:51] #12288 closed

[2018-01-31 01:06] newmuis commented on #13164
We are just doing a `transform: scale`, so I think it should be

[2018-01-31 01:39] #12971 closed

[2018-01-31 01:46] cathyxz opened #13169 "Lightbox-gallery: RTL support and testing"

[2018-01-31 02:00] sebastianbenz commented on #13143
Thanks @choumx for looking into this. Warning/error on console would be great - this is super frustrating to debug otherwise.

[2018-01-31 03:24] #12580 closed

[2018-01-31 07:42] adnanyousafch commented on #6469
Any timeline for when it will be out of experimental stage?

[2018-01-31 07:47] adnanyousafch commented on #13104
@Kishan08 Can you please try on Safari/iOS as well? I ran into a similar issue where there's a rendering delay on Chrome/Webkit/Android. The same amp-list works without delay on iOS/Safari. Here are the details: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/amphtml-discuss/DAHtpfCupgo/aabjD6W5AQAJ

[2018-01-31 09:04] p2er commented on #12011
This does also happen in regular AMP documents. Seems to be a Chrome BUG.

[2018-01-31 10:17] rajesh1158 opened #13172 "AMP bind macro tag does not accept the attribute name"
## What's the issue?
The tag `amp-bind-macro` does not support the attribute `name`.

## Briefly describe the bug/feature request.
I was following the examples in https://www.ampproject.org/docs/reference/components/amp-bind related to amp bind macro and found out that I cannot use the attribute `name`.

## How do we reproduce the issue?
Go to the link https://www.ampproject.org/docs/reference/com

[2018-01-31 13:53] newmuis opened #13173 "amp-story whenPagesLoaded_ assumes that specific pages exist"
https://github.com/ampproject/amphtml/blob/babea2c9a62b68e3bb28acedf38ffbaabda85777/extensions/amp-story/0.1/amp-story.js#L566-L576

This code will fail if `this.pages_[0]` (and `this.pages_[1]` on desktop) don't exist.

[2018-01-31 14:07] newmuis opened #13174 "Provide a different message when viewport is too small for amp-story on desktop"
Currently we show the same message on desktop and mobile when the viewport is too small:

![screen shot 2018-01-31 at 9 04 11 am](https://user-images.githubusercontent.com/1651960/35627069-c4edbc22-0665-11e8-83c3-d3edc2669fde.png)

When the story is being viewed in "desktop" mode (indicated by the `desktop` attribute on the `<amp-story>` tag itself, or by the [`isDesktop_()`](https://github.com/am

[2018-01-31 15:26] coreybyrnes commented on #13146
Perhaps I was too quick with my testing yesterday? Not sure, but I just built a demo page for case 1 (simple immediate auto-redirect via `window.top.location = "https://www.google.com"`) and the redirect executes immediately.

http://rev.cbsi.com/corey/test/amp/amp_demo_300x600_redirect.html#development=1

Our team was almost certain that AMP was implementing some sort of sandbox so that ads could

[2018-01-31 15:59] rsimha-amp commented on #12971
@Galphimbl let me know if the fix works on windows.

[2018-01-31 16:31] rsimha-amp opened #13177 "gulp occasionally fails because it can't find web-animations-js/web-animations.install"
This typically happens when syncing `master` results in an update to `package.json`, after which the build step fails with this error:

[2018-01-31 16:35] aghassemi opened #13178 "amp-img: Support both native (viewport based) and container-based srcset selection"
The container-based `srcset` selection is useful for use-cases such as thumbnail grids and since everything in AMP has a known layout-size and images are lazy loaded, we have a unique opportunity to support this whereas the web platform can not without sacrificing early prefetching of images.

Please **note** that we may **not always** honour container-based srcset and may default back to native f

[2018-01-31 16:39] cvializ opened #13179 "Enable greenkeeper for react-dates before amp-date-picker launch"
Based on a comment from @rsimha-amp https://github.com/ampproject/amphtml/pull/13067#discussion_r165107635

[2018-01-31 17:00] aghassemi commented on #9113
Better solution: #13028

[2018-01-31 17:00] #9113 closed

[2018-01-31 17:26] mrjoro commented on #12939
**Syntax for AMP-to-AMP linking**

- Malte: what about rel="amphtml" since that's really what the rel attribute is for (to say something about the destination)
  - we already have it at the document level so semantically it fits the existing usage
- can the cache add them automatically?
  - that's a separate project, not sure if it'll actually be done because there are some issues
  - this is an o

[2018-01-31 17:26] mrjoro commented on #12939
**Reporting JS Errors to Viewer**

- why the single document restriction?
  - the current use case that motivated this feature
  - error reporting does not go to the document, so okay with lifting this restriction

[2018-01-31 17:27] mrjoro commented on #12939
**Client-side filtering with amp-list**

- instead of allowing the expression to be created dynamically (essentially evaling user input) page author would create a boolean expression that contains all possible filter variations with booleans that toggle whether certain subexpressions are being used, so it's all within a single (potentially big) boolean expression
- you can create these expressions

[2018-01-31 17:31] mrjoro commented on #12939
**Lightbox v2.0 naming**

- this isn't a component, it's attributes you can add to other things; that attribute is called lightbox (but it could be called gallery)
- main objection: there's already amp-lightbox and amp-image-viewer
- lightbox 2.0 implies it's removing an existing option..
  - this is actually a strict superset of amp-
  - want to be able to lightbox more than images (e.g. video)

[2018-01-31 17:31] #12939 closed

[2018-01-31 17:44] alanorozco commented on #12548
Fixed by #12901

[2018-01-31 17:48] mrjoro commented on #12939
**VisibilityState.PREVIEW**

- we didn't cover this topic in the design review (sorry @newmuis!), but Jon & @aghassemi
 discussed offline
- seems useful in other situations that embed AMP + places where autoplaying videos/animations should not run
- we may want to change the behavior of other components in the preview mode as well, so we should make sure to document the changes that amp-story has

[2018-01-31 18:06] aghassemi commented on #12940
https://github.com/ampproject/amphtml/issues/13178

[2018-01-31 18:09] rsimha-amp commented on #13177
@alanorozco Seems like this was added by you in https://github.com/ampproject/amphtml/blame/master/extensions/amp-animation/0.1/web-animations-polyfill.js.

Any idea why this might be happening? Are we missing a build step that causes this to fail when `node_modules` changes?

[2018-01-31 18:11] rsimha-amp commented on #13177
@dvoytenko this might also be related to the code you added in https://github.com/ampproject/amphtml/blame/master/build-system/tasks/compile.js#L178, so ccing you in case you know what the fix might be.

[2018-01-31 18:30] aghassemi commented on #6469
@lswang1618 @cvializ Given default styles are now in, I personally feel comfortable moving this to at least a doc-level optin so folks can start shipping in 3-4 weeks,  thoughts? (@cvializ I guess we still need the validation rules).

[2018-01-31 18:56] alanorozco commented on #13031
Occurs when:

1. Element size == 0.
2. Using a preset with dynamic positioning.

[2018-01-31 18:56] #13143 closed

[2018-01-31 18:59] a-warner commented on #2198
should @jesuskelisto's `amp-analytics` example from above work now, or should we be using a different syntax? even after adding the meta tag to enable `url-replacement-v2` I cannot get that example to work

for simplicity I'll paste the example I'm referring to here:

[code]

[2018-01-31 19:00] cpapazian opened #13186 "optionally "inline" contents of amp-iframe for AMP served from origin"
We have some javascript that we run from an amp-iframe. However, there are limitations on what javascript can run inside a sandboxed iframe, so for AMPs served directly to users from our origin, we simply append an extra script tag.

It would be nice if AMP were able to support this use case, so that we could serve valid AMPs without these tradeoffs.

FWIW, javascript in question is used for authe

[2018-01-31 19:17] #11173 closed

[2018-01-31 19:20] aghassemi commented on #11173
/cc @rpernack

[2018-01-31 19:27] rarkins commented on #12946
Copy/pasting @mrjoro's design review minutes from https://github.com/ampproject/amphtml/issues/12552#issuecomment-361079593:

*copy/paste start*

#### Renovate

- fork mode ("Forking Renovate")
   * GreenKeeper has a legitimate reason for write access to repo because it adds labels to PR; this was done to avoid impersonation (not impersonating a commit, but someone creating an account called "Gree

[2018-01-31 19:36] calebcordry commented on #2198
@a-warner there are a couple things you should know:

1. Since this just got merged yesterday it will probably be about a week until you are able to test the experiment when using the code from our CDN. If you want to start immediately you could clone the repo and start experimenting that way.

2. There is a new syntax (docs are coming). For your example I think you'll want this
[code]
Feel free t

[2018-01-31 19:38] #13031 closed

[2018-01-31 19:51] bradfrizzell commented on #13034
This doesn't just happen to me when switching branches, it also is sporadically happening when I save a change to a file. This is seriously slowing down my development, not sure what I can do to stop this from happening because right now nearly every time I save any change, I end up having to rebuild gulp. I'll investigate some more and see if I can do anything to make it either go away, or totall

[2018-01-31 19:56] a-warner commented on #2198
thanks @calebcordry this is really helpful, just a bit eager to get going 😃.  I'll check it out next week

[2018-01-31 20:11] rsimha-amp commented on #13034
@bradfrizzell I'm at a loss for what might be going on within the runtime code to cause this sporadic error. Maybe you could add some logging for `VERSION` as reported by [build-system/internal-version.js#L23](https://github.com/ampproject/amphtml/blob/master/build-system/internal-version.js#L23), to see if a changing version number across consecutive builds is the cause of your problem?

[2018-01-31 20:13] choumx commented on #12950
From design review (#12939), @cramforce suggested that we can loosen the restrictions to non-trusted viewers and multi-document (shadow) AMP docs. We can follow up when there is another consumer of this API.

[2018-01-31 20:14] #12950 closed

[2018-01-31 20:18] choumx commented on #13172
The documentation is inaccurate -- it should be `id` not `name`. Sorry about that.

[2018-01-31 20:25] choumx commented on #9113
FWIW I think `<amp-filter>` can still play a role for static datasets (e.g. API documentation?). Filtering with amp-list is a more specific use case e.g. for e-commerce.

[2018-01-31 20:38] rsimha-amp commented on #5570
This is obsolete, and should be fixed by recent deps upgrades.

[2018-01-31 20:38] #5570 closed

[2018-01-31 20:39] rsimha-amp commented on #5695
We no longer build before running unit tests, and we currently have a 20 minute roundtrip for testing PRs. I think this can be closed.

[2018-01-31 20:39] #5695 closed

[2018-01-31 20:40] rsimha-amp commented on #6202
Obsolete.

[2018-01-31 20:40] #6202 closed

[2018-01-31 20:42] rsimha-amp commented on #6693
@erwinmombay says this is done.

[2018-01-31 20:42] #6693 closed

[2018-01-31 20:44] rsimha-amp commented on #7238
Obsolete. This should be done by now.

[2018-01-31 20:44] #7238 closed

[2018-01-31 20:48] rsimha-amp commented on #9030
This is done. https://github.com/ampproject/amphtml/blob/master/build-system/tasks/runtime-test.js#L74

[2018-01-31 20:48] #9030 closed

[2018-01-31 20:49] alabiaga opened #13191 "Removal of amp-babel.js"
After babel upgrade to 6, amp-babel.js is likely no longer needed as it was only applicable when pulling in babel helpers which are no longer there.

1. delete amp-babel.js (https://github.com/ampproject/amphtml/blob/master/src/amp-babel.js)
2. Replace references to it in gulp file with just amp.js

[2018-01-31 20:52] #13172 closed

[2018-01-31 20:55] rsimha-amp commented on #10449
This should be fixed with the recent consolidation of `gulp build` and `gulp watch`.

[2018-01-31 20:55] #10449 closed

[2018-01-31 20:56] rsimha-amp commented on #11081
Obsolete because we have a new version of `eslint`. Please reopen if the issue persists.

[2018-01-31 20:56] #11081 closed

[2018-01-31 21:05] sebastianbenz commented on #9423
@choumx I'm taking about a different use case:

[code]

[2018-01-31 21:06] choumx commented on #13191
amp-shadow-babel.js is in the same boat. /cc @erwinmombay

[2018-01-31 21:08] lannka commented on #12950
Didn't get chance to attend the review.

Is this something we can do via [amp-analytics error trigger](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md#error-trigger)?

[2018-01-31 21:12] #12918 closed

[2018-01-31 21:21] choumx commented on #12950
@lannka Didn't know about that, thanks for the pointer. I believe we want to forward non-user errors as well with access to the fine-grained error details e.g. stack trace. I'll follow up on the exact requirements internally.

[2018-01-31 21:24] rsimha-amp commented on #12946
It's scheduled for later this week.

[2018-01-31 22:19] choumx commented on #13186
I think we likely won't add this since we prioritize first-class support over workarounds. May I ask why does `amp-iframe` or preferably `amp-analytics` not suit your use case?

[2018-01-31 23:08] lannka commented on #12381
We propose to
- introduce a new extension `<amp-story-auto-ads>` to schedule ad and manage the lifecycle of an ad.
- reuse `<amp-ad type="custom">` to inline ad templates and let publisher to serve their own ads.

[2018-01-31 23:24] rudygalfi opened #13196 "Support messaging out of iframe for analytics events"
## What's the issue?

From #12607 via @p2er:

An iframe might have to load additional tracking scripts which might impact the page/iframe performance. The duplicate implementation of tracking and unnecessary load of additional scripts might easily be avoided if the iframe could postMessage to the AMP page, where AMP-analytics could then execute a predefined trigger to handle the calls.

## How do

[2018-01-31 23:26] rudygalfi opened #13197 "Enable main AMP page to present consent dialog and forward state into iframe"
## What's the issue?

From #12607 via @p2er:

It is not reasonable to expect the iframed page to present the consent UI. Therefore, the AMP page needs to handle this by either blocking the iframe or informing it that it cannot perform its own tracking within.

[2018-01-31 23:26] rudygalfi commented on #12607
Thanks for the feedback. Closing this in favor of tracking #13196 and #13197 separately.

[2018-01-31 23:26] #12607 closed

[2018-01-31 23:32] cpapazian commented on #13186
The missing capabilities are with `amp-access` in this case. We use 3rd party SDK's (Facebook and Google, primarily) to automatically log users that have connected accounts. If the `amp-access` login flow could integrate with 3rd party providers to provide a seamless login, that would be great!

However, even with that use case solved, there will always be a case for custom code. `amp-iframe` is a

[2018-01-31 23:34] rsimha-amp commented on #13177
After some debugging, it turns out this is due to a race between the running of `patchWebAnimations()` in [gulpfile.js](https://github.com/ampproject/amphtml/blame/master/gulpfile.js#L1310) and the execution of the `import` statement in [extensions/amp-animation/0.1/web-animations-polyfill.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-animation/0.1/web-animations-polyfill.js

[2018-01-31 23:43] rsimha-amp commented on #13177
Specifically, this bug rears its head when `gulp` runs `patchWebAnimations()`, and then has to run `update-packages`, which can overwrite `node_modules/web-animations-js`. We must make sure that `patchWebAnimations()` is explicitly called early during `gulp`, and not before any `gulp` task is executed.

[2018-01-31 23:51] zhouyx commented on #13196
If I understand this correctly, tracking prior to link navigation is hard to do without the support of `beacon`. Basically we can't control browser behavior after page navigation and it's very likely browser will not send out the tracking request.

[2018-01-31 23:53] rudygalfi commented on #13196
@zhouyx That's a good point. I would think about this FR more generally like there's no navigation. For example, what if you click a button inside an iframe and you want to track that event using AMP analytics in the master page.

[2018-02-01 00:17] zhouyx commented on #13196
Tracking button click should work! But I wonder what's iframe's incentive to support this?

[2018-02-01 00:28] rudygalfi commented on #13196
First-party iframe use cases are easy to consider, although they are also the easiest to solve in other ways. Consider:

A publisher creates an interactive feature using non-AMP HTML. They want to include it inside the AMP version of the article. They host the interactive feature on a standalone page that is iframed inside of the AMP page. The publisher wants to collect data via AMP analytics for

[2018-02-01 00:34] zhouyx commented on #13196
I see. Thanks.

[2018-02-01 03:43] lannka opened #13206 "I2I: Enhance amp-ad-custom with templates selection"
[code]

We allow publishers to inline multiple ad templates on the page, and let the ad response to decide which template to use.

The expected ad response is in JSON format:
[code]

[2018-02-01 06:37] AndrewKGuan commented on #13196
This feature is super useful.

- Publishers can continue using their existing analytics js tags to generate values (VisitorID, etc.) and pass them up to the parent amp from a self-hosted 1st-p iframe page.  Such as the adobeanalytics_nativeConfig[https://marketing.adobe.com/resources/help/en_US/sc/implement/accelerated-mobile-pages.html](url)

- Interactive widgets loaded inside an iframe (very po

[2018-02-01 09:47] nha opened #13208 "url fragment to open lightbox"
## What's the issue?

feature request: have a URL fragment that triggers a tap action

## Use case

We display user comments on a lightbox. We would like for them to be able to follow a link from the lightbox content (ex. my-url/article-123#open-comments-lightbox) and come back to the comments using the browser back arrow.

In this case we think this captures the user intent more precisely.

[2018-02-01 10:44] rajesh1158 opened #13209 "Prevent amp carousel [type=slides] from half sliding/swiping"
## What's the issue?
I am able to half scroll/swipe an amp carousel

## Briefly describe the bug/feature request.
In an amp image carousel with type=slides, on a mobile device, when I start the swipe/slide and then stop halfway, I see half of the previous slide and half of the next slide. We should not allow half swipe.

## How do we reproduce the issue?
Head over to https://ampbyexample.com/compo

[2018-02-01 16:29] aghassemi commented on #13209
@rajesh1158 Thanks for reporting, we are working on a fix. Duplicate of https://github.com/ampproject/amphtml/issues/11537
/cc @camelburrito

[2018-02-01 16:30] aghassemi commented on #13209
closing as dup of https://github.com/ampproject/amphtml/issues/11537

[2018-02-01 16:30] #13209 closed

[2018-02-01 16:33] aghassemi commented on #13208
/cc @ericlindley-g UX wise this will cause quick "page shown -> lightbox shown" flicker, but the use-case seems pretty reasonable.

[2018-02-01 16:50] vamshi5889 commented on #11251
@kul3r4 What you said is completely true. Did you find any way to sort it out?

[2018-02-01 17:43] fedgrant opened #13215 "Div on event error"
I am trying to attach a tap event to a div. I have the following snippet.

[code]
this snippet gives me the error

[code]

According to the documentation, the tap event can be used on any element. Also when I switch the snippet to

[code]
I don't receive the error. How do I properly attach the event to the div element?

Easiest way to test this is to dump the strings into https://validator.ampproj

[2018-02-01 17:47] aghassemi commented on #13215
@fedgrant The validator error is misleading and is being fixed. What you are missing is `role=button` and `tabIndex=0` on that `div` (which is enforced for accessibility)
/cc @honeybadgerdontcare

[2018-02-01 17:48] honeybadgerdontcare commented on #13215
Thanks @aghassemi, I was just about to reply. Sorry for the misleading error message. We have it resolved for the next validator release which should come next week.

[2018-02-01 17:49] aghassemi commented on #13215
@fedgrant Hope that helps, closing the issue. Feel free to reopen if your issue is not resolved.

[2018-02-01 17:50] #13215 closed

[2018-02-01 17:50] fedgrant commented on #13215
That worked. Thanks very much for the quick reply.

[2018-02-01 18:29] kul3r4 commented on #11251
@vamshi5889 I haven't yet found a solution.

[2018-02-01 19:28] newmuis opened #13219 "Make amp-story bookend 70% opacity"
Currently, it is 75% opacity.

/cc @hongwei1990

[2018-02-01 19:33] choumx commented on #13186
Thanks for the detailed response! 👍

I believe that this isn't out of the question. Here's a similar FR for Firebase auth: #11603

/cc @dvoytenko

It's a good point. I think that abstractly we view `amp-iframe` as an edge case/escape hatch rather than a general purpose solution. The ultimate goal is to have AMP support almost all reasonable use cases while still upholding our UX and design princip

[2018-02-01 19:49] cpapazian commented on #9423
something like this, combined with https://github.com/ampproject/amphtml/issues/12540, could work for us. are you envisioning the fetch triggering when the user scrolls to the end of the result set?

one small nit: instead of an incrementing page count, could the value reference a field in the previous set of results? we keep a "bookmark" for the results, which is included in a result and passed t

[2018-02-01 20:02] cpapazian commented on #13186
Thanks! I can add the FR requests for the `amp-access`/autologin stuff.

I totally agree with this. And I think the existence of an escape hatch like `amp-iframe` is a strength of AMP.

My point is that the escape hatch should provide as much of an escape as possible. When there is an important feature, publishers are going to continue to choose custom scripts + invalid AMPs over the abstract.

[2018-02-01 20:38] #12181 closed

[2018-02-01 20:49] choumx commented on #12496
Feedback from design review https://github.com/ampproject/amphtml/issues/12939#issuecomment-362006871:
- Use `<a rel="amphtml">` instead of new boolean attribute?
- Don't proliferate "a2a" acronym
- For now, don't publicize document-level opt-in in case we iterate on the syntax

[2018-02-01 21:03] rsimha-amp commented on #13177
This needs to happen during `gulp dist` as well.

[2018-02-01 21:08] cpapazian commented on #12473
this seems like a perfect solution. let us know if there is anything we can do to help move it along.

There are a bunch of things we are trying to make our AMP pages more engaging. We added search, follow, and notifications features for authenticated users recently and we have plans to implement a personalized feed of related pins once https://github.com/ampproject/amphtml/issues/11881 lands.

Ho

[2018-02-01 21:34] Gregable commented on #12969
My understanding of this issue is that we're running into a case of escaping/unescaping muck.

The original data source string has various quotation marks in it (double quote in this case) which we want to pass through JSON and amp-bind. At each layer, these quotation marks need to be string escaped (using backslash) once, however some bug seems to be failing either string escaping or unescaping i

[2018-02-01 21:34] #12969 closed

[2018-02-01 21:34] lswang1618 commented on #6469
Sure, sgtm.

[2018-02-01 22:32] cramforce commented on #12473
To @ericlindley-g for prioritization in next sprints.

…unless you'd like to send a PR @zackargyle.

[2018-02-01 23:39] tygavin opened #13226 "Add Tealium as an analytics vendor with iframe support"
## What's the issue?

(1) This is a request for a Tealium entry in analytics "vendors.js" file

(2) I think we'll need a similar hack that other analytics vendors have in order to allow clients to run  javascript in an iframe.  I believe this allows for client-side first party cookies that will persist when the user later visits the normal (non-AMP) web site.  This protects for the case when googl

[2018-02-02 00:03] Gregable commented on #13153
See also https://github.com/ampproject/amphtml/issues/12886 which is the same issue.

Closing since this is fixed @ head, just not released.

[2018-02-02 00:03] #13153 closed

[2018-02-02 00:16] rsimha-amp opened #13227 "gulp tasks do not always respond to Ctrl + C"
**Steps:**
1. Run `gulp`
2. When the closure compiler is busy, try to cancel using `Ctrl + C`

**Result:**
It can take upwards of 30 seconds for the process to register the `SIGINT` signal and cancel the ongoing `gulp` task. This can be frustrating, and often leads to a series of `^C`s on the screen before anything happens.

This is due to the single-threaded design of `nodejs`. See https://github

[2018-02-02 01:18] jamesshannon commented on #12940
`amp-carousel` URL interface: #12659 and #12591 are requests for URL-based slide stickiness. The original plan seems to be for a bindable `[slide]` attribute, but IMO it makes more sense to do something custom in order to support custom URLs and also URL updating (which could be messily done using an action like `updateURLHash()`).

[2018-02-02 02:01] newmuis opened #13230 "Some stories allow scrolling"
Seen intermittently

[2018-02-02 02:08] newmuis opened #13231 "Only first 8 videos in story are playable"
JS error is thrown once 9th video is played:

[code]

[2018-02-02 02:09] newmuis commented on #13231
Caused by losing the context here: https://github.com/ampproject/amphtml/blob/6cb71974e10e67fc2f85668929660abf2efe81ca/extensions/amp-story/0.1/media-pool.js#L803

[2018-02-02 06:01] newmuis opened #13232 "amp-story video playback intermittently fails due to race condition"
Causes found so far:

- #13231
- Inconsistently, some videos end up in the DOM with no sources
- Some videos have `MEDIA_ERR_DECODE` in their `.error` field

[2018-02-02 06:35] jamesshannon opened #13233 "Allow for event to trigger arbitrary amp-analytics request"
E.g.

`on="tap:ampAnalyticsRequest('pageview')`

Maybe also something to provide a specific variable. Like:

`on="tap:ampAnalyticsRequest('pageview', 'pageName')`

[2018-02-02 09:56] Kishan08 commented on #13104
Any update?

[2018-02-02 10:10] ryuran opened #13234 "Font-size relative on `html` element fail on safari iOs in amp context"
## What's the issue?

Font-size relative on `html` element fail on safari iOs in amp context.

<img width="524" alt="capture d ecran 2018-02-02 a 10 58 34" src="https://user-images.githubusercontent.com/1309340/35727397-432f5714-0808-11e8-9e44-1e080fce7a7b.png">

It is explained by double html element.

## How do we reproduce the issue?

1. Make a amp page with css `html {font-size: 50%}`
2. Go to

[2018-02-02 11:59] vamshi5889 commented on #11251
@kul3r4 I got the solution for my requirement.

My requirement was toggling the menu item between "Sign In" and "My Account" (accordion with options) based on user authentication. To achieve this i'm using amp-list and showing "Sign In" and "My Account" dropdown based on authentication.

If user logged in, i'm toggling the list menu with AMP bind variable.

[2018-02-02 12:14] vamshi5889 commented on #11251
@kul3r4 And for auto height thing, below is my suggestion

Use **amp state** with **id** and **src** attribute and fetch your list (assuming response is JSON with html inside).

Ex JSON: {"data": "<div>Hello</div>"}

Now you just put the content in plain html div by calling id.data

[2018-02-02 16:05] leoshaw commented on #9862
I'm getting this in the console when using [state]

 `[state] is deprecated, please use [src] instead.`

is this still the recommended way to update the list dynamically?  I've tried using [src] pointing to the name of the object in the state, but it complains:

`Default value for [src] does not match first expression result (null). This can result in unexpected behavior after the next state chang

[2018-02-02 16:36] choumx commented on #9862
Yes, please use `[src]` instead. We'll probably remove that warning since it's been a source of confusion.

[2018-02-02 17:01] newmuis commented on #13232
Found at least part of the issue.  The flow looks something like this:

1. User navigates to next page
2. We begin blessing the video
3. The first step in blessing the video is to call the video's `play()` function.  This is async in most browsers
4. Separately, because the user navigated to the next page in (1), we start preloading the video in the `MediaPool`
5. As part of preloading the video,

[2018-02-02 17:07] #12920 closed

[2018-02-02 17:08] mrjoro opened #13235 "Status Update 2018-02-05"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-02-02 17:24] rsimha-amp commented on #1213
I just tested this with:
[code]
It turns out that we print a `Cannot find module` error, and then proceed with the build. @cramforce shall we make this a fatal error that stops the build?

[2018-02-02 17:51] aghassemi commented on #13233
/to @rudygalfi
/cc @zhouyx

[2018-02-02 17:54] aghassemi commented on #13234
@ryuran This is an unfortunate side effect of a work-around we have to do in iOS. If you are interested why we have 2 `html` tags in Safari, please see https://hackernoon.com/amp-ios-scrolling-and-position-fixed-redo-the-wrapper-approach-8874f0ee7876

As a workaround, please move your CSS to `<body>`.

[2018-02-02 17:54] #13234 closed

[2018-02-02 18:00] newmuis commented on #13232
Another fix that could be made is to keep a set of unblessed videos.  By default, all videos are unblessed; once a video is blessed, it is removed from this set.

Currently, we have a per-pool boolean property, so all videos in the pool succeed or fail as one.  This leads to either:

1. Videos are erroneously blessed twice, which is needlessly expensive, or
2. (worse) Videos are erroneously *not*

[2018-02-02 18:04] newmuis commented on #13232
Verified with console logging that the same flow from the [JsFiddle](https://jsfiddle.net/4fwmqche/10/) occurs in the runtime.

[2018-02-02 18:25] zhouyx commented on #13233
Hi @jamesshannon could you be more specific on what type of events you want to trigger the analytics request?
AMP supports `click` event to trigger any analytics request, a sample config would look like
[code]

[2018-02-02 18:33] #13227 closed

[2018-02-02 19:04] cramforce commented on #1213
Definitely :)

On Fri, Feb 2, 2018 at 10:15 AM, Raghu Simha <notifications@github.com>
wrote:

[2018-02-02 19:09] gmajoulet commented on #13230
Is there any specific device/story to reproduce it? Haven't seen this one on iOS. I'm wondering if it might be a style added by publishers, that would override ours.

[2018-02-02 19:41] newmuis commented on #13230
This is report is actually incorrect.  The behavior is caused by being in an AMP viewer that scrolls (and thus allows the browser bar to be hidden).  There's no code in the runtime causing this.

[2018-02-02 19:41] #13230 closed

[2018-02-02 20:48] #13177 closed

[2018-02-02 20:50] jamesshannon commented on #13233
This idea came up with a partner who's implementing "advanced content-style carousels" (i.e., the carousel and its slides are the primary content on the page, and therefore really important to get right).  They want to track slide views.

I suggested the click trigger as a workaround, but I don't think it's ideal:

1) Not very scalable. Publishers generally want to fire off events at arbitrary tim

[2018-02-02 21:20] erwinmombay commented on #13191
closed via #13213

[2018-02-02 21:20] #13191 closed

[2018-02-02 21:24] rudygalfi commented on #11380
@zhouyx I know the original source issue (#7654) had to do with visibility triggers. Is the fire once limitation also applicable to `click` triggers?

[2018-02-02 21:25] rudygalfi commented on #13233
Agree with @zhouyx to use amp-analytics triggers like `click` or `pageview`. Full documentation can be found at https://www.ampproject.org/docs/reference/components/amp-analytics#triggers.

Please re-open this if it doesn't fully address your concern.

[2018-02-02 21:29] rudygalfi commented on #10722
Cleaning up some issues. Please re-open if this still needs action.

[2018-02-02 21:29] #10722 closed

[2018-02-02 21:31] rudygalfi commented on #13233
Closed too soon. Didn't see latest update.

[2018-02-02 21:32] rudygalfi commented on #13233
For carousel analytics, please take a look at: https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel-analytics.md

[2018-02-02 21:32] #13233 closed

[2018-02-02 21:42] westonruter commented on #1032
@ericlindley-g I think more is needed here. In particular, what if there are multiple variable classes on an element already (such as those added to `body` by WordPress), and we need to toggle just one of them? Currently this can't be done with bind because isn't able to mutate the existing classes.

If bind were able to reference the existing state that could be a solution. So maybe something lik

[2018-02-02 21:51] ericlindley-g commented on #1032
Good point, @westonruter — reopening and /cc @choumx for visibility

[2018-02-02 22:00] jridgewell opened #13244 "Layers: integrate distanceFromViewport into layer's viewport"
Viewports are now defined by the parent layer's scrollbox.

[2018-02-02 22:17] cvializ commented on #13104
@Kishan08 Can you provide a link to the documents where you are observing the fast vs. slow behavior? That will help me investigate. Thank you!

[2018-02-02 23:27] lannka commented on #7259
@dknecht @oliy I've written a PR for that. Please take a look.

[2018-02-03 00:05] lannka commented on #13235
## Ads & Analytics
### Past sprint
- Implemented batching plugin framework #12432
- Implemented a list of URL macros #2198
- Built POC for template ads, partnered with AdZerk #12903

### Next sprint
- amp-story-auto-ads extension for ads in story #12381
- Ads in story publisher spec
- Enhancement to `amp-ad type=custom` #13206

[2018-02-03 04:29] choumx commented on #1032
A bit clunky, but you could store the default classes in an `<amp-state>` component:

[code]

But yea, this sounds a lot like #10622. And @sebastianbenz's suggestion in particular: https://github.com/ampproject/amphtml/issues/10622#issuecomment-317829677

`toggleClass()` action makes sense for simple cases, but won't interoperate with `amp-bind` so we could build both options. We do have `show()`

[2018-02-03 10:50] nainar commented on #10919
I'd like to claim this issue. Thanks!

[2018-02-03 14:08] ryuran commented on #13234
@aghassemi I use this css as workaround
[code]

[2018-02-03 17:08] dknecht commented on #10893
I think covered in https://github.com/ampproject/amphtml/pull/13247

[2018-02-04 03:30] newmuis commented on #13232
We can't do fix (1) in my comment above ("never directly invoke a media element's playback functions; always block on the bless promise's resolution first"), because it is a valid use case to want to play an unblessed media element.  For example, we do this when the user first loads a story, since the media is muted and there have been no user interactions to bless the media.  The important piece

[2018-02-04 03:34] rsimha-amp opened #13253 "Add eslint rule for ordering js imports"
Our JS imports are pretty haphazard. Let's add an `eslint` rule that maintains import order, and add support for `gulp lint --fix` to auto-order imports.

Related to #1213

[2018-02-04 03:38] liamarques commented on #13253
muito agradecida pelo seu empenhop  em me ajudar GRACIA!

[2018-02-04 03:41] newmuis opened #13254 "Scan amp-story for media elements to determine MediaPool size"
Right now, we always create a `MediaPool` with 8 videos and 4 audio elements.  We should, instead, scan at build time for how many elements a story will actually use, keeping the existing numbers as maxima.

[2018-02-04 05:39] newmuis commented on #13254
To do this, we will need to initialize `this.mediaPool_` in the `buildCallback()` of `AmpStory` instead of the constructor.  Then, we can change the implementation of `getMaxMediaElementCounts()` in `AmpStory`.

From:

https://github.com/ampproject/amphtml/blob/376d3044961b95a2424868a25ced3786cbcc91cb/extensions/amp-story/0.1/amp-story.js#L1324-L1327

To:

[code]

[2018-02-04 06:18] newmuis commented on #13232
This solution works in the majority of cases, but only fixes the race condition in one direction: some media element function invocation (e.g.`play()`, `load()`, etc.) interrupting the blessing of media.  However, the opposite direction is possible as well: blessing media can interrupt e.g. playback or loading of a media element.

So, another possibility is implementing a task queue for each media

[2018-02-04 08:25] rsimha-amp opened #13257 "Include gulpfile.js in lint and presubmit checks"

[2018-02-04 20:36] cathyxz commented on #13066
Resolved by https://github.com/ampproject/amphtml/pull/13228

[2018-02-04 20:36] #13066 closed

[2018-02-05 03:59] devvercer opened #13262 "Omit field during amp-form verify"
When a field changes in an amp-form with a verify-xhr all fields are sent to the server not just the one that changed.

My form includes a input[type=file] and I would like to be able to indicate that this should not be sent to the server for every field change because it may be large.

Perhaps a binary attribute like this:

`<input type="file" no-verify name="foo"/>`

BTW, my form does not valida

[2018-02-05 07:14] spacedino commented on #13235
## UX

### Past sprint

- lightbox 2.0 - 2 rounds of revisions
- infinite scroll continued work
- amp conf talk

### Next sprint
- lightbox 2.0 - ship experimental / final placeholder illos
- infinite scroll - ux / visd finalized for experiemental
- amp conf
- talk to devs who use amp!

[2018-02-05 11:36] monish-chhadwa opened #13264 "Timeout pixel that fires if the RTC vendor doesn't respond on time"
## What's the issue?

Since we are not present on the client, we cannot identify the number of instances we failed to return our RTC response within 1000ms or within any custom timeout specified by the publisher

## Requirements

1. Pixel that hits our servers if our RTC call timed out
2. Parameters that are sent to the RTC call are also expected in the timeout pixel
3. It would be great if we can

[2018-02-05 12:18] newmuis commented on #13235
## Stories

### Past sprint
- Prerendering fixes
- New loading spinner UX
- Video playback reliability fixes
- Dynamic scaling experiment
- UI polish

### Next sprint
- System UI chrome isolation
- iOS video improvements
- Docs and tests and GFIs

[2018-02-05 16:38] choumx commented on #13235
## Infra & Runtime

### Past sprint

- Visual diff: Design review feedback
- GreenKeeper running (w/ 1 issue)
- DevEx fixes: Less flaky, CTRL+C, `--extensions` and `--noextensions`
- Layers: Scoring PR merged
- Runtime validator: First fix merged
- Design review: A2A, report-errors-to-viewer and client-side filtering
- Various amp-bind fixes & amp-iframe messaging precursor

### Next sprint

- Vis

[2018-02-05 16:54] #13253 closed

[2018-02-05 18:05] aghassemi commented on #13262
/to @cvializ

[2018-02-05 18:16] aghassemi commented on #13235
## UI

### Past sprint

- Lightbox 2.0: Lots of fixes and polish, final name to be `amp-lightbox-gallery` :tada:
- `amp-date-picker` Default styles added #13067
- `amp-mathml` component #12836
- `amp-fx-collection` for `parallax`: #13073 https://codepen.io/aghassemi/pen/bLVyEy replacing `amp-fx-parallax`
- `timeUpdate` event for `amp-video-*` #13083 Fires every second at the moment.
- `toggleAutop

[2018-02-05 18:35] #9264 closed

[2018-02-05 18:40] bradfrizzell commented on #12135
This is still a problem.

Running `gulp test --a4a` (with randomization shut off) still throws the initLogConstructor issues.
Running `gulp clean && gulp css && gulp test --a4a --nobuild` works, but we shouldn't have to do that every single time.

[2018-02-05 18:46] rsimha-amp commented on #12135
It's likely that the error lies in how you are picking the files to build via the `--a4a` flag. See the items in https://github.com/ampproject/amphtml/issues/12135#issuecomment-345856757

There's no reason to have to clean and rebuild each time. Particularly when this works fine with non-a4a testing, like `gulp build --unit`.

[2018-02-05 19:18] jamesshannon opened #13267 "amp-state with immediate updates; amp-list is getting overloaded"
There are lots of use cases for "live" or server-requested data. In theory, amp-state and amp-bind handle this use case, but they do not update content until user interaction.

So people have started using `amp-list`, which largely fulfills the same function. I'm not sure if this was the original intention of `amp-list` (based on the name, I suspect the idea was search / product listings) but even

[2018-02-05 19:33] #13051 closed

[2018-02-05 19:40] choumx commented on #12496
## New proposal

For links:
[code]
For forms and actions:
[code]

- Allowing only opt-in (no opt-out) avoids confusing situations like `<a rel="amphtml noamphtml">`
- Allow per-feature opt-in with a `<meta>` tag instead of per-document w/ boolean attribute

/cc @cramforce

[2018-02-05 19:40] #13115 closed

[2018-02-05 19:41] #13231 closed

[2018-02-05 19:59] jeffkaufman opened #13269 "Amp validator in chrome developer tools re-requests html"
## What's the issue?

The validator requests the page HTML a second time.  If a page is doing a 50-50 amp-vs-html A/B test, then 25% of the time the validator will evaluate a straight HTML page as if it is AMP.  When this happens, it reports validation errors that make no sense, because if you click through to the HTML source the problem is not there.

## How do we reproduce the issue?

Visit http

[2018-02-05 20:13] kzk commented on #13096
@rudygalfi @zhouyx Hi, we signed CLA. I know you're busy reviewing other PRs, but can I ask you to take a look at https://github.com/ampproject/amphtml/pull/13097 ?

[2018-02-05 20:51] cathyxz commented on #13051
@alanorozco @choumx
So the discussion here was that eventually when we are okay with bumping the version number, the current `amp-lightbox` will be renamed to `amp-modal`, and this component (currently named `amp-lightbox-gallery` will be renamed to `amp-lightbox`. After `amp-lightbox-gallery` launches, we are going to deprecate `amp-image-lightbox` (which means keep the code, but drop it from our

[2018-02-05 21:08] choumx commented on #11989
Still slated for post-developer-preview.

[2018-02-05 21:41] erwinmombay opened #13275 "🔥🐛🐤 Error: undefined is not an object (evaluating 'f.send')"
[code]

[2018-02-05 21:42] erwinmombay commented on #13275
@lannka can you evaluate priority of this. thanks

[2018-02-05 21:47] honeybadgerdontcare commented on #13269
This is expected behavior. The extension needs the original unaltered html so it requests it on it's own.

[2018-02-05 21:47] #13269 closed

[2018-02-05 21:49] honeybadgerdontcare commented on #13269
I see this is not about the extension but about validation as a whole. Are you saying 25% of the time validation is wrong? Or that 25% of the time it may get an invalid response from the server?

[2018-02-05 21:51] rarkins commented on #12946
@rsimha-amp could you update me with the results?

[2018-02-05 21:58] jeffkaufman commented on #13269
I'm using stock Chrome Developer tools, so I don't believe an extension is involved?

I have a 50-50 A/B test set up on this page, so half of requests will get AMP and half won't.  If I load  https://www.jefftk.com/maybeamp#development=1 and get an AMP response, the validator will trigger a duplicate request.  Half the time this request will receive the non-amp version of the page, in which case t

[2018-02-05 22:20] lannka commented on #13275
Seems a new bug in canary. Reproduced here:
https://inc42-com.cdn.ampproject.org/v/s/inc42.com/features/startup-fintech-startups-2018/amp/?amp_js_v=0.1

[2018-02-05 22:24] honeybadgerdontcare commented on #13269
Unfortunately the validator doesn't have access to the source page. The document has already been altered by the AMP Runtime. This is why it requests the source again.

[2018-02-05 22:30] #12804 closed

[2018-02-05 22:32] erwinmombay commented on #13275
changing to p0

[2018-02-05 22:33] erwinmombay commented on #13275
@zhouyx im ok with patching canary. you're on duty anyways :P hahaha

[2018-02-05 22:50] rsimha-amp commented on #1213
This is now fixed. Here's what you will see.

**Syntax error:**
[code]

**Other errors, like bad imports:**
[code]

[2018-02-05 23:20] aghassemi opened #13280 "Limit UrlCache, make it an LRU."
### What you will need to know
- Basic Javascript

### Background
We have a utility method called `parseUrl` in [url.js](https://github.com/ampproject/amphtml/blob/master/src/url.js) that is used to parse a Url string.

This method caches the result of a parse so not to repeat for the same given Url however the cache used for this is unlimited which is no ideal.

### Useful Hints
The fix involved

[2018-02-05 23:39] #13275 closed

[2018-02-05 23:41] lannka commented on #13280
FYI, there is an LRU implemented in utils/lru-cache.js for you to reuse

[2018-02-05 23:54] #13257 closed