[2017-06-19 17:24] jasti commented on #8602
Ping @glevitzky

[2017-06-19 17:25] mrjoro commented on #7800
Hi @letsila; I've sent you an invite to join ampproject on GitHub.  Once you accept we'll be able to assign this issue to you.  Thanks!

[2017-06-19 17:31] glevitzky commented on #8602
Sorry for missing this, Vamsee. Yes, this should be fine to close now.

[2017-06-19 18:02] mrjoro opened #10018 "Add a generic responsive container component to AMP"
### Background
AMP HTML [supports various](https://www.ampproject.org/docs/guides/responsive/control_layout) `layout`s such as aspect-ratio-based responsive layout which is very useful. Other useful layouts such as [responsive-height ](https://github.com/ampproject/amphtml/issues/8531)are also in the works.

### Motivation
Currently AMP layouts are only supported on AMP elements such a `amp-img`,

[2017-06-19 18:03] mrjoro commented on #7972
Moved this over to issue 10018.

[2017-06-19 18:03] #7972 closed

[2017-06-19 18:05] #10014 closed

[2017-06-19 18:09] #9701 closed

[2017-06-19 18:14] aghassemi commented on #10005
dup of https://github.com/ampproject/amphtml/issues/4892

[2017-06-19 18:14] #10005 closed

[2017-06-19 18:16] aghassemi commented on #10006
dup of https://github.com/ampproject/amphtml/issues/5487 various attempts have been made in fixing this: https://github.com/ampproject/amphtml/pull/8822 https://github.com/ampproject/amphtml/pull/6333

[2017-06-19 18:16] #10006 closed

[2017-06-19 18:19] torch2424 commented on #9983
Please Note, this will require some UX decisions, as we do not know if this should be placed at the end of the page, or if it is 'position: fixed' at the bottom of the page.

[2017-06-19 18:28] letsila commented on #7800
Hi @mrjoro, thanks for the invitation. I've just accepted it.

[2017-06-19 18:31] cramforce commented on #10010
- Crossed 500 PRs.
- Working on making AMP compilable with property obfuscation #9876

[2017-06-19 18:46] #10008 closed

[2017-06-19 19:06] choumx opened #10019 "Validator tests for extensions w/ bindings"
Extensions that have bindable attributes should have a test case to help catch issues like #10008.

/to @choumx

[2017-06-19 19:22] jridgewell commented on #10010
- On Duty
- Layers

[2017-06-19 19:23] #9272 closed

[2017-06-19 19:25] #8602 closed

[2017-06-19 19:29] keithwrightbos commented on #9787
@krcrawford are you still seeing this issue?  I just tested on desktop safari emulating iphone 6s and all of the slots loaded without issue.

[2017-06-19 19:29] rsimha-amp commented on #8
@cramforce, I've invited all internal commiters to view the diffs, so they should have access. Still exploring the possibility of giving blanket access to anyone logged in with a github account who also has access to the travis logs on `ampproject/amphtml`.

[2017-06-19 19:30] keithwrightbos commented on #9787
Also do you see the issue when running Fast Fetch (go to https://makeup-lovetoknow-com.cdn.ampproject.org/c/makeup.lovetoknow.com/Beyonce's_Makeup.amp?#exp=a4a:2)

[2017-06-19 19:30] jridgewell commented on #10012
/to @lannka

[2017-06-19 19:31] jridgewell commented on #10011
/to @jasti

[2017-06-19 19:36] rsimha-amp commented on #10013
I noticed this too. I made some [initial changes](https://github.com/ampproject/amphtml/blame/2939ecc3c90780e0386f5fc097ba356486f6b4c1/build-system/tasks/serve.js#L52) to the wrapper gulp task in `build-system/tasks/serve.js` that starts and stops the server that cause the server to cleanly exit, but I'm sure there are other flows that keep the zombie process lingering.

Will take a look.

[2017-06-19 19:38] krcrawford commented on #9787
Apologies for the late update, but it seems that there was an odd issue with AdX. Our organization pushed back to the marketing team with other issues, at which point they deactivated that network. Orthogonally, the ads began to display.
I'm comfortable with you guys closing this if you see fit, and apologies for the mislead.

[2017-06-19 19:42] keithwrightbos commented on #9787
No problem

[2017-06-19 19:42] #9787 closed

[2017-06-19 19:43] cramforce commented on #8
@rsimha-amp Ideally they would be public. Logged in with GH account would be OK. As liberal as we can be.

[2017-06-19 19:46] honeybadgerdontcare opened #10022 "Percy test appears flaky with three dots on visual diff"
Several PRs are getting the same visual diff issue and causes me to think it may be a flaky test with percy.

Examples:
https://percy.io/ampproject/amphtml/builds/256910
https://percy.io/ampproject/amphtml/builds/256713
https://percy.io/ampproject/amphtml/builds/256555
https://percy.io/ampproject/amphtml/builds/256464
https://percy.io/ampproject/amphtml/builds/255472

More can be found at:
https:/

[2017-06-19 19:46] rsimha-amp opened #10024 "Wait for a page load event before snapshotting for visual diffs"
Sometimes, there's a loading animation that causes a build to be marked as having a visual diff.

See https://percy.io/ampproject/amphtml/builds/256713

[2017-06-19 19:48] rsimha-amp commented on #10022
@honeybadgerdontcare, I noticed this, searched for an existing issue, didn't find one, and filed #10024, only to find out that you had filed this a few seconds before me :)

[2017-06-19 19:48] rsimha-amp commented on #10024
@honeybadgerdontcare beat me to it!

[2017-06-19 19:48] #10024 closed

[2017-06-19 19:51] cramforce commented on #10022
@rsimha-amp Waiting for `window.onload` will help. To make it more robust you will need something like this code from `performance-impl.js`:

[code]

[2017-06-19 19:53] #10001 closed

[2017-06-19 20:01] rsimha-amp commented on #10022
I believe there's a way to have percy/capybara wait for a particular CSS element to be visible on a page before taking a snapshot. Will take a look.

http://www.rubydoc.info/github/jnicklas/capybara#asynchronous-javascript-ajax-and-friends

[2017-06-19 20:07] #9732 closed

[2017-06-19 20:14] jridgewell commented on #9967
1. How does pub base CID affect the analytics CID?
2. How will runtime differentiate between compatible viewers? It'd be bad to use a v1 implementation (non-scoped CID) and assume it's a v2 (scoped CID).

[2017-06-19 20:15] jridgewell commented on #9964
/to @jasti

[2017-06-19 20:17] jridgewell commented on #9959
/to @lannka

[2017-06-19 20:17] cramforce commented on #10022
@rsimha-amp I don't think AMP has a clear signal, but it would be OK to add one.

[2017-06-19 20:18] #7168 closed

[2017-06-19 20:26] jasti commented on #9964
I think it's fine to remove this restriction when data-override-* is present but would like @glevitzky's opinion on it.

[2017-06-19 20:30] rudygalfi commented on #7121
We've prepared a guide for testing non-indexable content here: https://developers.google.com/search/docs/guides/debug#testing-firewalled-pages.

Please check it out and let us know any feedback.

[2017-06-19 20:30] #7121 closed

[2017-06-19 20:52] glevitzky commented on #9964
We currently ignore the width/height attributes if override-width/override-height are set. You should be able to accomplish what you want without removing any restrictions by doing:

[code]

Does that satisfy your needs?

[2017-06-19 21:23] patrick-mcdougle commented on #9964
@glevitzky no. This does not work because the sizes in the ad request are not in the order that I need.

Referencing my original post:

That is, 320x50 would come before 320x150 in the ad request to DFP.

[2017-06-19 21:42] lannka commented on #9967
Analytics CID, like any other scoped CID, is generated from Viewer by hashing the pub base CID with the scope string.

All CIDs eventually get exposed to pub/3p are scoped. V1 gets base CID from Viewer and generate scoped CID in AMP runtime, while V2 gets the scoped CID directly from Viewer.

[2017-06-19 21:45] glevitzky commented on #9964
In the example I gave, the sz attribute on the request would look like `sz=320x150|320x50`, as the primary size is always listed first.

However, if the issue is the actual order of the sizes in the request, I don't see any reason, from an amp-ad multi-size perspective, why we can't rearrange the sizes before issuing the ad request. My only concern is that I'm not sure how this affects things down

[2017-06-19 21:56] jridgewell commented on #9967
So pub base will replace the viewer's base?

My issue is how do we tell which is which? If we keep the same `{ time: number, cid: string }` format, we'll never be able to tell if this is a scoped CID or a base.

[2017-06-19 22:54] henrycat opened #10026 "instagram"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-06-19 22:55] #10026 closed

[2017-06-19 22:58] jasti commented on #9964
@patrick-mcdougle we'd need more specifics around 'our ad-ops team claims this effects reporting' before we try switch what would be the natural thing to do - listing the primary size as the first size on the ad request.

[2017-06-19 23:44] #10019 closed

[2017-06-19 23:54] lannka commented on #9967
Not exact replace. The original base CID concept is still there, stored as a cookie in Viewer. The per pub base CID is a new concept.

It's returned by different function call:
[code]

[2017-06-20 00:07] lannka commented on #9659
That means:
- pub can have floating ads of size < 90% of the screen
- pub cannot legitimate popups occupying > 90% of the screen.

Again, this will be a breaking behavior change.

[2017-06-20 00:17] jasti commented on #9659
Pub can have floating ads of size < 90% of the screen
 - This in addition with common ad sizes combined would make a pretty good coverage.
pub cannot legitimate popups occupying > 90% of the screen.
- Is there a way to programmatically detect such usage? Worst case we can make it a 1.0 thing, but I have a feeling this pattern is not really common in AMP pages.

[2017-06-20 00:42] aghassemi opened #10032 ""String" related rules in conformance-config.textproto are not being enforced"
Somehow none of the rules for `string` in https://github.com/ampproject/amphtml/blob/master/build-system/conformance-config.textproto#L38 are being applied. `Array`, `Number` rules work just fine and get reported properly.

Steps to repro:
1- Find an string anywhere in AMP code.
2- Add `thatString.normalize()` or `thatString.includes('foo')` somewhere there.
3- Run `gulp check-types`
4- Note that

[2017-06-20 04:15] lannka commented on #9959
@1987yama3 can you justify the use case? Why is this kind of client formatting useful?

[2017-06-20 05:48] derekcecillewis opened #10033 "No error message when amp-iframe within fixed position container doesn't render"
## What's the issue?

An `amp-iframe` within a container that uses `position: fixed` will not render. Upon failing to render, no error message is displayed in the console. Additionally, this behavior is not documented anywhere.

## How do we reproduce the issue?

http://jsbin.com/geqotuc/edit?html,output
http://output.jsbin.com/geqotuc

## What browsers are affected?

All browsers

## Which AMP ve

[2017-06-20 06:43] vdanbv opened #10034 "the best part about this app has me and is my friend who"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-06-20 06:44] vdanbv commented on #10034
best

[2017-06-20 06:44] #10034 closed

[2017-06-20 06:44] vdanbv commented on #10034
bestselling

[2017-06-20 06:46] vdanbv commented on #10034
bestThe best part about this app was to have an app on your iPad but I have no doubt on that issue as you have a choice for you but it does it all I have been through with you on this day so far so much better then my app for free because it has no problem getting it right at least you know what I have on Facebook to use and it doesn't even look good to be a friend and a great way for you and a go

[2017-06-20 07:32] subhankar-panda commented on #10018
Hi,
I'd love to work on this for my first OSS contribution, has it been claimed yet?

[2017-06-20 09:03] saqibnaveed commented on #9722
@mrjoro Thank you for the invitation and assigning the issue to me :)

[2017-06-20 10:25] p2er opened #10035 "Relative video path broken on IE11 Win 8.1"
## What's the issue?

Videos do not load on IE11 Win 8.1 if path is not static, e.g. src="/video/tokyo.mp4"

For erros see sceenshot.
![ie_11_wind81_video_bug](https://user-images.githubusercontent.com/12771905/27328757-87e5dbce-55b3-11e7-859a-717ee8a48bbf.png)

## How do we reproduce the issue?

1. Open https://ampbyexample.com/components/amp-video/ on IE11 Win 8.1
2. Videos do not load and error

[2017-06-20 13:42] JensVerneuer commented on #9934
i will work on this as my first issue :-)

[2017-06-20 14:30] cramforce commented on #10033
This has nothing to do with `amp-iframe`. It appears that fixed containers (surprisingly to me) have an inherent width of 0 even if their display is block. Adding `width: 100%` to the div fixes it
http://output.jsbin.com/gefavam/quiet

[2017-06-20 14:31] cramforce commented on #10033
I'm somewhat inclined to close this issue, although we might want to work on the debuggability of stuff like this.

[2017-06-20 14:50] #10032 closed

[2017-06-20 15:28] mrjoro commented on #10018
@subhankar-panda not yet, so it looks like this one is yours. :)  Welcome to open source!

@aghassemi will be the best contact to answer questions you might have about the issue.

If you have any questions feel free to ask them here, or you can also reach me, @aghassemi and others on [Slack](https://amphtml.slack.com) ([sign up](https://docs.google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4p

[2017-06-20 15:35] kennydurkin commented on #10033
@cramforce This certainly does have to do with `amp-iframe`. If you modify @derekcecillewis's original code to use a regular `iframe` instead, the content will render without needing a `width: 100%` property added.

`amp-iframe` | `iframe`
--- | ---
<img width="957" alt="screen shot 2017-06-20 at 11 32 44 am" src="https://user-images.githubusercontent.com/5722340/27341863-8249bd18-55ac-11e7-86a2-9

[2017-06-20 15:51] cramforce commented on #10033
@kennydurkin The `amp-iframe` is a red-herring. `amp-image` would behave the same. This is an interaction with `layout=responsive` and the browser behavior for fixed positioned element.

The documentation would basically be "Be aware that fixed positioned elements do not have inherent width. Hence if you put responsive elements into them, they will also have zero width."

[2017-06-20 16:06] rafaguerrero opened #10038 "Google carrusel refreshes ads but it doesn't do a pageview"
## What's the issue?
I'm seeing some inconsistencies in the AdR/PV from my website in the AMP version.
After some debugging I've seen that if a user is browsing through the google carrusel and goes to an already seen article the pageview is not being triggered.

## How do we reproduce the issue?
- Search for something in google from a mobile. Ex: andro4all
- Click on an AMP article from the carrus

[2017-06-20 16:15] mrjoro commented on #9597
Hi @mcaveniathor are you still planning on working on this issue?  If not we can open it up to others looking for Great First Issues.  Thanks!

[2017-06-20 16:38] ciampo opened #10040 "AMP.navigateTo throws "Unknown AMP action""
Hello,

we're trying to use the `AMP.navigateTo` action as per the documentation, but it looks like the AMP v0 runtime is not up to date with the docs, and we get `Uncaught Error: Unknown AMP action  navigateTo​​​`

Any chance we can get an up to date version of the runtime?

Thanks,
Marco

[2017-06-20 16:47] jhlee127 opened #10041 "Sidebar mask seems remaining after side bar is closed."
## What's the issue?
When '#link' is appended by clicking hash anchor link ("a href=#link"), and you opened sidebar and closed it by touching empty space, it seems like amp sidebar mask is still on top of the screen and thus preventing from clicking any elements on the screen. If I scroll the page, then I can click things on the screen. It seems to happen only on ios Safari.

## How do we reproduc

[2017-06-20 16:47] ciampo opened #10042 "Code example for Iframe viewability doesn't work"
I've been trying to get the Iframe viewability APIs working inside an `<amp-iframe>` by following the code snippet in the [amp-iframe docs](https://github.com/ampproject/amphtml/blob/bbf2aca64c2ca1fe4eca03b00adcb566d5389ff8/extensions/amp-iframe/amp-iframe.md#iframe-viewability)

After several attempts where I couldn't receive any update, I found the corresponding [test fixture](https://github.com

[2017-06-20 16:48] choumx commented on #10040
@ciampo Thanks for filing the issue. The PR that implements the feature was merged last week, so you should expect it to be in dev-channel this week and production next week.

[2017-06-20 16:48] #10040 closed

[2017-06-20 16:52] ciampo commented on #10040
Thanks for your quick answer.

However, it would be helpful if the docs flagged the `navigateTo` action as `not available yet`

[2017-06-20 17:07] ciampo opened #10043 "[amp-sidebar] Anchor tags in the sidebar seem to be popped from the History"
## What's the issue?

We're trying to implement page transition in AMP by using hashes in the URL and the CSS `:target` pseudo-class. Anchor tag links within `<amp-sidebar>` seem to update the window.location correctly, but the `:target` selector doesn't update accordingly.

It seems to be related to `push()` and `pop()` calls on the `this.getHistory_()` instance.

## How do we reproduce the issue

[2017-06-20 17:13] alexlyeh commented on #9862
Wouldn't this would only update the amp-list with the loaded state if AMP.setState() is called again somewhere else? I tried it out, and I couldn't get the amp-list to load unless I manually triggered a button that had on="tap:AMP.setState()". Is there a way to render the specified bindings automatically after the JSON loads?

[2017-06-20 17:24] derekcecillewis commented on #10033
Thanks for the clarification. +1 for improved debuggability. Perhaps a warning from the validator for elements that are not commonly zero-width (or nested and zero-width) would be an improvement.

[2017-06-20 17:48] jasti opened #10044 "Whitelist amp-youtube from AMP ads spec"
We were overly restrictive when we created the AMP ad format spec and blocked amp-youtube inside AMP ads.
https://github.com/google/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md#amp-extensions-and-builtins

GWD has legitimate use cases for using amp-youtube inside ads. Please whitelist amp-youtube from the AMP ads spec.

[2017-06-20 17:51] wassgha commented on #4154
Can we add Media Session API and fullscreen on landscape to the punch list?

[2017-06-20 18:22] jridgewell commented on #10041
What do you mean by "touching empty space"? Does that mean clicking on the mask to dismiss the sidebar?

Using https://ampbyexample.com/components/amp-sidebar/#setup and following your directions, everything seems to work.

[2017-06-20 18:28] jhlee127 commented on #10041
Yes, Click on the mask to dismiss the sidebar.
Try it using iPhone real device. It is also happening on the link you provided.

1. Go to the link https://ampbyexample.com/components/amp-sidebar/#setup using iPhone.
2. Scroll to the top.
3. Open sidebar
4. Dismiss the sidebar by clicking on the mask.
5. try to open sidebar again.

[2017-06-20 18:29] jridgewell commented on #10038
/to @lannka

[2017-06-20 18:31] SGr33n commented on #10002
Hi, does this also affects the Google Search Console validator? I'm still facing this warning since 3 days ago.

[2017-06-20 18:44] cramforce commented on #10038
Over to Vamsee.

This is definitely working as intended, but maybe it should be changed :)

[2017-06-20 18:47] keithwrightbos commented on #10038
This is a duplicate of #10004  I was actually waiting for verification that we believe not counting a pageview for ads in this case is the correct behavior.

[2017-06-20 18:48] #10038 closed

[2017-06-20 19:11] choumx opened #10049 "Document describes.js"
Describe API and best practices for describes.js.

/cc @keithwrightbos @taymonbeal

[2017-06-20 19:13] #9969 closed

[2017-06-20 19:50] jridgewell opened #10052 "travis_start_sauce_connect failed"
[code]

[2017-06-20 19:53] rsimha-amp commented on #10052
https://status.saucelabs.com/ doesn't suggest any outages. I've restarted the failed jobs on master to see if this is a transient error.

[2017-06-20 19:57] jridgewell opened #10053 "Re-enable amp-bind integration tests on Saucelabs"
[code]

[2017-06-20 20:31] rsimha-amp commented on #10052
Aha, there is an outage according to https://status.saucelabs.com

Closing this for now. I'll reopen this if the outage is over and we're still having trouble connecting.

In the meantime, there will be redness on master :(

[2017-06-20 20:31] #10052 closed

[2017-06-20 20:44] rsimha-amp commented on #10052
Update:

[2017-06-20 20:53] choumx commented on #9849
I'd like to sanity check our [current spec for action trust levels](https://github.com/ampproject/amphtml/issues/9305#issuecomment-305912105). Context: #9954

Questions:
- Allow un-muting video from checkbox/radio toggle? Perhaps bump those events to high and `navigateTo` to super-high?
- Allow `amp-bind` mutations *without relayout* on low trust events?

[2017-06-20 21:08] honeybadgerdontcare commented on #9243
@eduardcotmrf cache changes are proceeding. Once they're in, we'll update the validator to allow it.

[2017-06-20 21:15] rsimha-amp commented on #10052
Fixed.

Green in https://travis-ci.org/ampproject/amphtml/jobs/245114887

[2017-06-20 22:16] lannka commented on #10012
@peterbaran looking forward to your PR. let me know if you have any questions.

[2017-06-20 22:37] honeybadgerdontcare commented on #10044
Once #10057 hits production, also need to update [markdown](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md#amp-extensions-and-builtins).

[2017-06-20 22:37] zhouyx opened #10058 "Prevent calling #hasAttribute or #getAttribute in element constructor"
follow up of #10045

**Reason**
 customElement's `#createdCallback()` is called when the element is created, while `#connectedCallback()` is called when the element is first connected to DOM.

We construct an AMP Element in `createdCallback()`. Using DOM API in element's constructor is DOM API before adding element to DOM, thus should be forbidden.

**Failing Example**
In the following example, wh

[2017-06-20 23:12] sumodas commented on #8038
@ericlindley-g  @aghassemi  @cramforce

Is there any update on whether a payment component (i.e. Payment Request or ApplePay)  is available on AMP or is amp-iframe still the path forward?

On a similar note, is there support for 3rd party wallets such as PayPal, Visa Checkout, Master Pass, American Express?

Thanks!

[2017-06-20 23:48] rudygalfi commented on #9678
Integration testing will not be part of the first phase.

[2017-06-20 23:53] rudygalfi opened #10059 "amp-recaptcha shell extension integration test"
Follow on from #9678. Once the full extension is implemented. We should do integration tests.

cc @jasti

[2017-06-20 23:56] #10049 closed

[2017-06-21 00:08] #6131 closed

[2017-06-21 00:09] #8514 closed

[2017-06-21 00:31] choumx commented on #9862
@alexlyeh Correct! Though this is slightly different from the original FR. The concern with automatically triggering mutation after the XHR completes is that it could cause dramatic, unexpected changes to the document (e.g. page content shifting) so we try to restrict that direct user interaction.

One way to accomplish this now that we have trustful actions (#9824) is to add a new low-trust event

[2017-06-21 01:01] glevitzky opened #10060 "Comparable control group for canary runtime version"
Currently, there's no easy way to perform A/B experiments using the 1% canary version due to the disparity in traffic volume. One way to remedy this would be by marking a portion of non-canary production traffic, equal in size to the volume of canary traffic, as being part of a 'control' group. It would be convenient if there were an analogous function to isCanary, e.g. isControl (and perhaps isPr

[2017-06-21 01:13] torch2424 opened #10061 "[amp-sidebar 1.0] [a11y] Ensure that Sidebar 1.0 is a11y"
cc @camelburrito

[2017-06-21 01:16] #9978 closed

[2017-06-21 01:16] #9979 closed

[2017-06-21 01:16] #9980 closed

[2017-06-21 01:16] #9981 closed

[2017-06-21 04:31] techhtml opened #10062 "`require.extensions` are deprecated in Node V8"
Originally reported at slack welcome-contributes channel.

![pasted_image_at_2017_06_21_09_14_am_720](https://user-images.githubusercontent.com/6267393/27367142-cf13157a-5685-11e7-9f7a-adeba373f83e.png)

This issues fired when run `gulp` for develop.
Maybe `require.extensions` deprecated in Node V8.

[2017-06-21 07:14] SchnWalter commented on #10061
Please also look at this bug for v0.1: #9847

Thanks!

[2017-06-21 10:24] ethereal-sandeep commented on #9934
Hi,
I'd love to work on this for my first contribution, has it been claimed yet?

[2017-06-21 11:24] ethereal-sandeep commented on #9934
Unable to add @cvializ as a reviewer. Does the process involve claiming the Issue first and then only one can add reviewers in pull request?

[2017-06-21 11:25] 1987yama3 commented on #9959
@lannka It is depends on how to use the submited value.
If it is used by computer, we should send the UNIX time.
But if not, it is used by human at reports, we should send the formatted string.
Because human can't understand what day "1498043786639" represents.

[2017-06-21 13:15] bpaduch commented on #10042
@camelburrito - Can you check out the code sample, as you originally introduced it.

[2017-06-21 13:57] camelburrito commented on #10042
@zhouyx can you take a look ?

[2017-06-21 14:58] keithwrightbos opened #10070 "AdSense/Doubleclick Fast Fetch: top parameter should only include domain"
Modify top parameter generation to only include domain (should not include protocol).  So https://www.google.com/ -> www.google.com

cc/ @ampproject/a4a

[2017-06-21 15:06] #10033 closed

[2017-06-21 15:38] bpaduch commented on #9098
@vitaliybl & @cramforce - I can document in the [AMP Cache Guidelines](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md) something like:

## Guidelines: Resource size limits

For resources (i.e., HTML, images, fonts) that are larger than 12 MB, do not fetch the resource and return a 404 error.

---

However, is this something you want specified in the document?  Do we

[2017-06-21 15:45] #9738 closed

[2017-06-21 15:52] mrjoro commented on #9738
Thanks @abc516!

[2017-06-21 16:15] lannka commented on #9959
@1987yama3 how can you send a ping to a human :-). Isn't the endpoint another computer? Or are you just talking about debugging in Chrome console?

[2017-06-21 16:23] abc516 commented on #9738
You are welcome, @mrjoro !

[2017-06-21 17:01] alexlyeh commented on #9862
@choumx Thanks for the clarifications!

[2017-06-21 17:07] torch2424 commented on #10061
Oh yes, it is something I currently have in my queue. Thank you for bringing it up however! I amy do them at the same time (in each version as needed.)

[2017-06-21 17:08] aghassemi commented on #4154
@wassgha done and added a few more items around start/end overlays and allowing `amp-animation`'s timeline to be tied to video timeline (see comments on #8971 for background).

[2017-06-21 17:17] kul3r4 commented on #9874
@rudygalfi FYI

[2017-06-21 17:32] kul3r4 opened #10075 "AMP Shadow with amp-ad and amp-user-notification"
When using amp-ad in combination with amp-user-notification in a PWA (both React and Polymer), ads are not loading.

Reproducing the error in Polymer
Sample  [here](https://news-amp-1ec10.firebaseapp.com/article/chrome/3-reasons-why-chromebooks-might-be-good)

![error](https://user-images.githubusercontent.com/820891/27397811-7c9741c0-56af-11e7-9117-ef415df5975d.png)

Reproducing the error in Reac

[2017-06-21 18:45] jridgewell commented on #9959
I'm thinking these are used in some dashboard table...

[2017-06-21 19:21] jridgewell commented on #9098
I believe we still limit to 8MB. b/38353135

[2017-06-21 19:27] jpettitt opened #10077 "Logos not showing up in Google search carousel, structured data is valid."
We've got several sites where the logos are no longer showing up in search results and the name is inconsistent (sometimes it take the top level name key from structured data sometimes it takes publisher.name).

![image](https://user-images.githubusercontent.com/524856/27402766-a4a60d64-567c-11e7-8f25-2d7926146449.png)

AMP bench results for page http://ampbench.appspot.com/validate?url=http%3A%2F

[2017-06-21 19:29] bpaduch commented on #9098
@jridgewell - Asked about this today, and condenses response is "The size of AMP pages is computed on the raw html, excluding any linked images. Images are fetched separately and each one can be up to 12MB in size."

[2017-06-21 19:30] bpaduch commented on #1939
@sebastianbenz - Thoughts on having a working sample in ABE?

[2017-06-21 19:39] cramforce commented on #9305
I think that submit and submit-success/error should inherit the intentionality of the event that triggered them. If the submit was caused by `tab` or a `keypress` then those events can also be high.

[2017-06-21 19:58] #10022 closed

[2017-06-21 19:59] sebastianbenz commented on #1939
@bpaduch yup - probably worth it's own sample as it's common enough.

[2017-06-21 20:10] jridgewell commented on #10077
@jpettitt: These are Google Search issues, please report at https://goo.gl/utQ1KZ.

[2017-06-21 20:10] #10077 closed

[2017-06-21 20:17] bpaduch commented on #1939
Cool.  Let me know when it's up on ABE, and I'll update amp-img's Tips and Tricks section to mention the example.  Oh, and to understand what was going on this discussion, I created a pared down example ([demo](https://bpaduch.github.io/testing/object-fit-htmltest-as-amp.html), [code](https://github.com/bpaduch/bpaduch.github.io/blob/master/testing/object-fit-htmltest-as-amp.html)).  Not sure if i

[2017-06-21 20:47] mrjoro commented on #9849
- video case: should desktop behave the same as mobile?  on mobile can unmute/play and it won't have an effect without user action (based on browser control); we should defer to browser behavior here
  - would this change current behavior?  depends on browser implementation so we'd have to look into it
  - we can make it more strict than the browser but not less strict (because the browser just ig

[2017-06-21 20:47] #9849 closed

[2017-06-21 21:04] #7800 closed

[2017-06-21 21:43] mrjoro commented on #7800
Thanks for making your first contribution to AMP @letsila!

[2017-06-21 22:05] #10062 closed

[2017-06-21 22:08] letsila commented on #7800
It's a pleasure @mrjoro. Thanks to @muxin also who help me a lot with this. I'll continue contributing ;)

[2017-06-21 22:13] cvializ commented on #9934
Hey it looks like this issue was suddenly pretty popular! Sorry for any confusion. To add reviewers you must be a member of the ampproject GitHub team, but we've taken care of adding reviewers for you. Thanks for your interest and contribution!

[2017-06-21 22:16] aghassemi commented on #10035
@p2er, so far I have not been able to repo in Win 8.1 / IE11 and video plays fine (see screenshot for versions)
![huu1ps1hvum](https://user-images.githubusercontent.com/2099009/27409034-3c8e6fa6-5694-11e7-89f2-27e2e918f68c.png)

Could we try a few things on your end?
1- Ensure issue is still reproduces for you.
2- Try with InPrivate mode, does it repro there? (Wanna make sure plugins are not inter

[2017-06-21 22:19] mrjoro commented on #9934
@JensVerneuer sorry about the collision!  Please take a look at the other [unclaimed Great First Issues](http://bit.ly/helpamp-gfis).  If you don't find a good one there please let me know; you can [send me a DM](https://amphtml.slack.com/team/mrjoro/) on Slack after [signing up](https://docs.google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=44069803107898

[2017-06-21 22:29] jpettitt commented on #10077
Figured it out - where do I file bugs for the structured data validator?  (it says things are ok even if robots.txt is blocking bot from loading the images).  This is inconsistent behavior as the page image (blocked by the same robots.txt) is appearing.

[2017-06-21 22:44] aghassemi commented on #10043
/to @camelburrito

[2017-06-21 22:46] SchnWalter opened #10082 "Add new "Device Category" variable"
## What's the issue?

I would like to submit a feature request for a new "Device Category" [variable](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#device-and-browser).

It would be nice to have a "Device Category" with `desktop`, `tablet` and `mobile` as variables (and maybe more? `braile`?).  Google Analytics has a way to determine the "Device Category", but I'm

[2017-06-21 22:51] jridgewell commented on #10077
Likely the same Google forum, I'm not actually sure.

[2017-06-21 22:51] jridgewell commented on #10082
/to @lannka

[2017-06-21 23:08] ui-xp commented on #9713
Done in https://github.com/ampproject/amphtml/pull/9911

[2017-06-21 23:17] #9713 closed

[2017-06-21 23:20] mrjoro commented on #9713
Thanks for making your first contribution to AMP @ui-xp.  If you haven't already found your next project in AMP and want some help finding one let me know (you can send me a DM on Slack). :)

[2017-06-21 23:41] medicalspanw opened #10085 "Displayed height of nested amp-img is erroneous"
The algorithm for displaying the height of an image from a nested amp-img structure is not working correctly.

## How do we reproduce the issue?
[code]

(My initial comment included white space to make the scenarios look like a table. Below is revised without the white space.)

The following numbers represent the following: a scenario, the setting for Ho, the setting for Wo, the setting for Hi, th

[2017-06-21 23:58] jridgewell commented on #10085
These are responsive images, so how wide is the container?

[2017-06-21 23:59] jridgewell opened #10086 "Per-committer Sauce Tokens"
We might be able to alleviate the SauceLabs strain by using per-committer (at least per-core-committer) Sauce tokens.

When it's a PR build, based on who commits, we use their tokens to run integration tests. When it's a branch build, we can use the official tokens, etc.

[2017-06-22 00:03] cramforce commented on #10086
@rsimha-amp Would there be a way for the saucelabs integration to pick a JWT token based on the github user name and fall back to the default for everyone else?

[2017-06-22 00:26] jasti commented on #10075
Probably need @dvoytenko's help for this but assigning to @lannka incase he is able to debug.

[2017-06-22 00:34] torch2424 commented on #9983
For UX decisions / Edge cases on fixed vs. static:

Sidebar is already `position: fixed` by default. So I think we should assume the fixed route. Also, with #9982 , The user would be able to simply target an element in which the toolbar would be placed into. In that case, they are responsible for styling (We would remove our defaults), and could easily place at the bottom of the page statically. T

[2017-06-22 00:42] rsimha-amp commented on #10022
25 straight green Percy builds so far, since #10078 was merged. Looks like the fix worked. Will keep an eye for more timing related failures.

[2017-06-22 00:55] joshcp commented on #10002
I presume related errors in Search Console will clear out as pages are re-indexed. Is that correct, @Gregable?

[2017-06-22 01:14] 1987yama3 commented on #9959
@lannka Of cource, the destination of the beacon is a server. However, if the report tool processes that value as a simple string, the timestamp will be displayed on the dashborad(I called it "used by human").

[2017-06-22 02:28] eric30 commented on #6608
I worked with publishers in APAC. AMP support for Alexa is critical to pubs since that would be related to the price of their direct-sold inventories when bargaining with advertisers. It seems like a blocking issue for them to adopt AMP.

[2017-06-22 02:44] medicalspanw commented on #10085
Thank you for your promt reply.

I uploaded the file to www.physmed.biz/index.html.

Note that the links probably will not work.

Thanks again.

On Jun 21, 2017 16:58, "Justin Ridgewell" <notifications@github.com> wrote:

[2017-06-22 05:26] keepitsimple opened #10088 "amp-iframe sporadically doesn't load page"
I found a weird bug. I did a bunch of tests and I use similar amp-iframe calls on other pages of the site and it works right. But the *same* code for amp-iframe doesn't work on this particular page.

**The problem is amp-iframe doesn't load iframe it just shows placeholder. I tried to use different src sources include external sites; but it doesn't mater**

Steps to reproduce:
1. Open m.domino.com

[2017-06-22 07:55] p2er commented on #10035
1. Issue does still occur
2. Tested with inPrivate mode
3. Audio does also show an error. Message reads: Unsupported audio type or broken file path. Pinterest seems to work just fine even though one illegal statement pops up in the console: Illegal replacement of the protocol:  QUERY_PARAM(gclid)​​​

Video:
![ie_11_wind81_video_bug](https://user-images.githubusercontent.com/12771905/27422881-12953

[2017-06-22 09:24] p2er commented on #10035
Works in VM with Version 11.0.14. I'll try to update the local machine.
<img width="1108" alt="ie_11_wind81_v11 0 14" src="https://user-images.githubusercontent.com/12771905/27426859-4a93fea0-573d-11e7-9cdf-48c2dd165afc.png">

[2017-06-22 09:38] p2er commented on #10035
I double checked on IE11 Win7 and Win10. No Problem on both machines with updated browsers. Problem seems to be version related and browser is not up to date on IE8.1 machine. Sorry for bothering you guys.

[2017-06-22 09:38] #10035 closed

[2017-06-22 12:23] SGr33n commented on #10002
Sure, but they're still increasing, and "Last detected:	6/22/17".

[2017-06-22 15:32] kul3r4 commented on #9700
I am adding custom form validation in the [form](https://github.com/ampproject/amp-by-example/pull/865) sample and the async verification would be nice to complete that sample.

[2017-06-22 15:54] sebastianbenz commented on #8791
Sorry for the late response 😞. Somehow this slipped through my filter and then I've been on vacation for a while.

Adding @cramforce @dvoytenko @ericlindley-g for feedback.

Two things that come to my mind:

* to avoid layout jumps on load you'd need to ensure that the different notification status widget have the same dimensions.
* this approach makes it possible to run arbitrary code in a hidden

[2017-06-22 16:05] cramforce commented on #8791
A few thoughts:

- using localStorage will not work in Safari once they support push notifications.
- cookies would work; lets use cookies and avoid loading an iframe just to query subscription state.
- Popups are much more awkward on mobile than they are on desktop. What is displayed in the popup?

[2017-06-22 16:08] rsimha opened #10092 "Consider integrating ampproject/amphtml with lgtm analysis"
From #10090

ltgm.com provides a mechanism for automatic code reviews for github projects, and has detected a bunch of errors in ampproject/amphtml at https://lgtm.com/projects/g/ampproject/amphtml/alerts/

There is a way to integrate lgtm with amphtml PRs at https://lgtm.com/docs/lgtm/config/pr-integration

Let's do it if we think the alerts generated for the amphtml repo are useful.

[2017-06-22 16:09] rsimha-amp commented on #10092
/cc @cramforce @erwinmombay

[2017-06-22 16:13] rsimha-amp commented on #10092
@cramforce, most of our alerts seem to be stemming from [ads/ads.extern.js ](https://lgtm.com/projects/g/ampproject/amphtml/snapshot/1061e50dddc381f10ed52b12c25a0675a83db71d/files/ads/ads.extern.js). Are these valid alerts, and if so, is there any reason we're evaluating all those terms without using them?

[2017-06-22 16:20] aghassemi commented on #10035
Glad it was resolved. Thanks for following up to find the root cause.

[2017-06-22 16:22] Gregable commented on #10002
That is correct, the Search Console errors will eventually clear out.

[2017-06-22 16:23] rsimha-amp commented on #10013
Update: I've poked around the stack of processes created by `gulp serve`, and can see that the `gulp` process is starting a `node` process via third party code in `gulp-webserver', which is then detaching itself from the parent process. I doubt we can do anything in `build-system/tasks/serve.js` or `build-system/server.js` to detect the death of the parent process and pass on a signal to the child

[2017-06-22 16:35] rsimha-amp commented on #10092
Per @cramforce, it appears that lgtm needs admin access to ampproject/amphtml for CI integration.

@xiemaisi, is there a way around this where the integration can be done with just commit read/write access?

[2017-06-22 16:41] jasti opened #10093 "Allow amp-animation in the AMP ad spec"
amp-animation is allowed to be used in an AMP page but doesn't validate when used as an ad. Can we please whitelist it and update markdown when in prod?

CC @Gregable @ampproject/a4a

[2017-06-22 16:42] cramforce commented on #10013
+1 adding prompt to kill server binding to port.

[2017-06-22 17:04] anantoghosh commented on #9931
I would like to work on this! @zhouyx

[2017-06-22 17:25] zhouyx commented on #9931
@anantoghosh Great!!! Please consider [join the AMP Project on GitHub](https://docs.google.com/forms/d/e/1FAIpQLSeF1PN4Ee7Ke5Hvn4uN_oznV3isr-tfFg7cFRLX2F2OJGhXpw/viewform?c=0&w=1) so we can assign this issue to you 😄

Let me know if any help is needed!

[2017-06-22 17:38] lannka commented on #9659
As discussed offline, will close this for now.

[2017-06-22 17:38] #9659 closed

[2017-06-22 17:42] cramforce opened #10094 "Create lint rule that enforces that object literal shape passed to dict"
Lets create a lint rule that requires that `dict` is called without argument or with an object literal that has all keys quoted.

Good: `dict()`, `dict({'test': true})`
Bad: `dict()`, `dict({test: true})`
Bad: `dict()`, `dict(nonObjectLiteralExpression)`

[2017-06-22 18:20] anantoghosh commented on #9931
@zhouyx joined.

[2017-06-22 18:20] erwinmombay commented on #10094
first 2 cases should be super easy to implement, 3rd case where its a reference is a bit more difficult if theres multiple indirection

[2017-06-22 18:31] xiemaisi commented on #10092
@cramforce: if you add `@externs` annotations to those files lgtm will stop complaining.

@rsimha-amp: I believe admin access is currently required, @samlanning should be able to provide more details.

[2017-06-22 18:42] samlanning commented on #10092
Hi @rsimha-amp

Unfortunately not. The way that GitHub integrations work require us to set up a webhook on a repository on GitHub, that will then send an HTTP request to our servers whenever a pull request is opened or modified. To do this, an admin/owner of the repository (someone who has access to the repository settings) needs to be the person to set this up.

[2017-06-22 18:50] zhouyx commented on #9931
Thanks! Assigned the issue to you 😄

[2017-06-22 18:51] rsimha-amp commented on #10092
@samlanning, just to be sure that I understood you correctly, can you comment on which of these statements is true?

1. Only the admin / owner of the `ampproject/amphtml` GH repository can set up integration with lgtm
2. The lgtm plugin needs to be granted admin access to ampproject/amphtml for the integration to work, and cannot make do with just committer read/write access

If 1 is true but 2 is

[2017-06-22 19:00] samlanning commented on #10092
correct, 1 is true, 2 is false.

The only permissions that are requested by lgtm when an admin hits the button that sets up PR integration is:

* Permission to set up webhooks
* Permission to post commit statuses

We don't even need to request read / write access to the repository, since we're not adding commits, and we're only currently integrated with public repositories.

[2017-06-22 19:01] rsimha-amp commented on #10086
@cramforce, from reading https://saucelabs.com/pricing, my initial feeling is that it's difficult, but technically possible to do this:

1. Everyone on the team will first need to:
a. Purchase an individual plan ($149 / month)
b. Encrypt their token
c. Check it into a common file containing everyone's token
2. `pr-check.js` can then programmatically look up which JWT token to use for a given PR.

[2017-06-22 19:37] jridgewell commented on #10088
This is a CSS issue:

- `<amp-iframe layout=fill>` implies the iframe will take the space of its parent
- The parent element only has a `height`, but no `width`
- So, the iframe collapses (0 width)
- The placeholder is rendered, which has a defined width and height (so it shows)

[2017-06-22 19:37] #10088 closed

[2017-06-22 19:40] jridgewell commented on #10086
Can't each person just use an open-source token?

[2017-06-22 19:44] rsimha-amp commented on #10086
Open source tokens should work. https://saucelabs.com/beta/signup/OSS/None

It will still need everyone to create a token and add it to a file, but it's a one time thing.

[2017-06-22 19:47] jridgewell commented on #10085
I don't understand what you're trying to do here.

[2017-06-22 19:53] cramforce commented on #10092
@samlanning Github recently started allowing you to do what you need without admin access. We cannot grant this by policy. We recently installed https://percy.io/ which is very similar to LGTM and doesn't need admin access

[2017-06-22 20:05] cramforce commented on #10086
@rsimha-amp Do you want to add the first token and than we can crowdsource the rest?

[2017-06-22 20:24] rsimha-amp commented on #10053
Still flaky: https://travis-ci.org/ampproject/amphtml/builds/245881991

[2017-06-22 20:51] rsimha-amp commented on #10013
@cramforce, instead of killing the server currently using the port, I chose a slightly different solution. See description of #10095.

[2017-06-22 20:55] cramforce commented on #10013
Saw that before this actually :)

I think they are a bit complementary, but I'm happy with just the other solution.

[2017-06-22 20:57] rsimha-amp commented on #10013
You're right that they're complementary. I'm happy to add an optional prompt to kill whatever old process is sitting on the port, since it's a reasonable expectation that people would want to do that most of the time.

[2017-06-22 20:59] choumx commented on #10053
I think `amp-bind` tests don't run on Saucelabs with Justin's change. These are the errors in the build above (hard to read w/o colors):

	Failed to find errors.

	Timeout waiting for elements to start loading.

	Error: timeout of 10000ms exceeded. Ensure the done() callback is being called in this test.

[2017-06-22 21:05] samlanning commented on #10092
@cramforce

To clarify, lgtm does **not** need request admin access to the whole repository, just for the ability to add and remove repository hooks. The permissions we ask for are `admin:repo_hook` and `repo:status`.

`admin:repo_hook` is considered an "admin" permission because it allows for us to delete webhooks too. The reason we ask for this is so that if you choose to uninstall PR integratio

[2017-06-22 21:30] cramforce commented on #10092
Could we just manually set up the webhooks?

On Thu, Jun 22, 2017 at 2:05 PM, Sam Lanning <notifications@github.com>
wrote:

[2017-06-22 22:17] rsimha-amp commented on #10013
Hmm... adding a user prompt and blocking while the user says yes/no is non-trivial in nodejs. I'm going to close this issue and reopen it if people continue to complain about zombie processes or ports in use :)

[2017-06-22 22:17] #10013 closed

[2017-06-22 22:20] samlanning commented on #10092
Unfortunately this isn't quite as trivial as it may sound, and there are a number of problems with this:

* Firstly, we loose the HMAC functionality that we use to authenticate notifications are genuinely from github (we send a Pre-Shared key for use in the HMAC from lgtm.com to GitHub when setting up the webhooks). Sending the PSK over email, etc... does not seem like a good idea.
* We still need

[2017-06-22 22:47] cramforce commented on #10092
Thanks. For what its worth, we have no problem granting access to commit statuses at all!

[2017-06-22 22:57] medicalspanw commented on #10085
Using the Google web site grading tool, the web gets dinged for not using
webp files. However, Safari does not support this format. The solution is
to have webp files delivered for browsers that support it, and jpg files
for browsers that don't. Hence, I've nested amp-img elements.

It turns out that there are some other subtle bugs with the way Safari
renders. The logo image rendered correctly. I

[2017-06-22 23:23] #10085 closed

[2017-06-22 23:35] zhouyx commented on #7184
Talked to @cramforce. One possible solution would be us providing a sessionId along with referrer.
But want to make sure how Google Analytics handle issues like this? Does the logic live in client side or server side?  @avimehta

[2017-06-23 00:53] patrick-mcdougle commented on #9964
@glevitzky @jasti

From my Ad Ops Team:

It seems that the Ad Request Size in this reporting interface is only the first size in the ad request.

Allowing what I have written in the original post would make my AdOps team's jobs easier, and since there's no real technical limitation, I'd like to see this be a possibility. I would be willing to work on a PR if such a PR would be merged.

Thanks,
Pat

[2017-06-23 04:40] honeybadgerdontcare commented on #10093
@gregable fyi we usually remove html_format for cases where it is intended for both formats. if you don't get to it by end of next week I'll look into it.

[2017-06-23 08:32] keepitsimple commented on #10088
Thank you!

[2017-06-23 09:41] anantoghosh commented on #9931
@zhouyx I need a little help.
Trying to commit ads/README.md runs gulp check-links on the file which is failing
https://travis-ci.org/ampproject/amphtml/jobs/245967540
[code]
These links are separate and not related to my commit.
Should I leave this file?

[2017-06-23 11:42] p2er opened #10110 "amp-youtube autoplay does not start video IE11 Win8.1"
## What's the issue?

amp-youtube component does not start playback when scrolled into view, if property autoplay is set. Throws error once clicked to start the video manally:
SCRIPT438: Object doesn't support property or method 'remove'

<img width="1108" alt="ie11_youtube_win81_1" src="https://user-images.githubusercontent.com/12771905/27480691-5531b12c-5819-11e7-9691-dc53f486cb24.png">
<img wid

[2017-06-23 13:06] xiemaisi commented on #10092
@cramforce, @rsimha-amp: I understand we no longer require admin permissions for setting up PR integration; would you like to give it another go?

[2017-06-23 14:21] ericlindley-g commented on #8038
Hi @sumodas  — the Payment Request API works on platforms where it has been implemented (Android Chrome — and possibly Edge @aghassemi , do you know if AMP in Edge supports this?). One great path would be if the API is adopted across the board, and it becomes trivial to add additional support in AMP.

However, there isn't native payment support outside of that yet—the team is doing research now in

[2017-06-23 14:23] chrisatpolar opened #10112 "Doubleclick ad fails with "global is not defined""
## What's the issue?

With AMP dev channel enabled, a page with `<amp-ad>` having type `doubleclick` fails to load with JavaScript error `"global is not defined"`.

The stack points to this line, in a module that was changed a few days ago:

https://github.com/ampproject/amphtml/blob/21c19769e42ca56e84a01cd4bfd3539a8e806e17/ads/google/doubleclick.js#L249

## How do we reproduce the issue?

1. Visi

[2017-06-23 14:38] cramforce commented on #8038
I believe that Apple's non-standard implementation of the PaymentRequest API does not work in iframes. Not 100% sure tho.

[2017-06-23 14:56] cramforce commented on #10092
Thanks. Done.

[2017-06-23 15:03] rsimha-amp commented on #10092
@xiemaisi, @samlanning, thanks for the help!

[2017-06-23 15:44] rsimha-amp commented on #10092
@xiemaisi, @samlanning, I have a follow up question.

How does a member of `ampproject/amphtml` see lgtm results from past PRs? When I go to https://lgtm.com/projects/g/ampproject/amphtml/ci/, I see a warning about not having admin access even though I'm signed in to lgtm with my github account. I know there's at least one successful [run](https://lgtm.com/projects/g/ampproject/amphtml/rev/pr-6888

[2017-06-23 16:03] rsimha opened #10117 "Text coloring in Travis logs no longer works"
Logs from PR run (with colored text): https://travis-ci.org/ampproject/amphtml/jobs/245941759
Logs from when the same PR was merged to master (no colored text): https://travis-ci.org/ampproject/amphtml/jobs/245989731

I just filed a [bug](https://github.com/travis-ci/travis-ci/issues/7967) in the `travis-ci` repository. This is for tracking on the `ampproject/amphtml` side.

[2017-06-23 16:03] rsimha-amp commented on #10117
/cc @erwinmombay, @cramforce, @choumx

[2017-06-23 16:50] rsimha-amp commented on #10022
100+ green runs in a row. Consider this fixed.

[2017-06-23 17:23] cramforce opened #10118 "Some Shadow code does not get eliminated and thus we include CSS twice"

[2017-06-23 18:09] #9927 closed

[2017-06-23 18:11] mrjoro commented on #9927
Thanks for your contribution @kellyk!

[2017-06-23 18:15] aghassemi commented on #8038
Edge will have support for Web Payments API (probably including[iframe support](https://www.chromestatus.com/feature/5511036157296640) [soon](https://blogs.windows.com/msedgedev/2016/12/15/payment-request-api-edge/#vak0g3EmKZ8wIpTD.97) (as part of EdgeHTML 15 which is in dev preview now) (https://www.chromestatus.com/feature/5511036157296640))

On the same boat as Malte regarding Apple Pay, haven'

[2017-06-23 18:22] sumodas commented on #8038
Thanks Ali, Malte and Eric, this is super helpful.  We'll continue digging
deeper and report back any findings.

On Fri, Jun 23, 2017 at 2:15 PM, Ali Ghassemi <notifications@github.com>
wrote:

--
Sumantro Das
M: +1 (845) 558 8313
E: sumantro.das@gmail.com

[2017-06-23 18:36] jridgewell commented on #10112
/to @keithwrightbos

[2017-06-23 18:37] jridgewell commented on #10110
/to @aghassemi

[2017-06-23 19:31] anantoghosh commented on #9931
I have created a pr fixing the links ads/README.md https://github.com/ampproject/amphtml/pull/10124

[2017-06-23 20:06] streamgao opened #10125 "does amp live list supports updated content and deleted posts"
## amp-live-list couldn't get updated content and deleted posts.

## How do we reproduce the issue?
hit certain endpoint and returns a json array of posts. but if the json got deleted some posts / updated content.
couldn't see the post get updated.

testing with: https://github.com/streamgao/node-amp-live-list

## does amp live list supports updated content and deleted posts ?

[2017-06-23 20:08] ericlindley-g commented on #4405
FYI to folks waiting on this issue: while AMP doesn't yet support amp-list nested inside of amp-carousel, it does support amp-carousel nested inside of amp-list, so that may be a workaround for you in the time being. Thanks for your patience!

[2017-06-23 20:13] zhouyx commented on #9931
@anantoghosh Thanks for fixing our readme bug while working on this GFI !!! 👍 🎉 🎉

[2017-06-23 20:25] ericlindley-g commented on #8791
/cc @aghassemi for visibility as well

@jasonpang — do you have a new link to the demo? Would like to check out the UI if it's easy to get running again.

[2017-06-23 20:45] avimehta commented on #7184
hello,

Trying to understand the issue and wanted to confirm if I am understanding it correctly. Here are the repro steps:

1. Search for a news site on google to trigger the AMP carousel: [like this](https://www.google.com/search?q=nyt)
1. Tap on first page.
1. Swipe to the next page.
1. Notice that both the pages send referer as google.com.

From analytics perspective, this shows up as a user vi

[2017-06-23 20:56] #10125 closed

[2017-06-23 20:58] samlanning commented on #10092
Hi @rsimha-amp

Currently there is no view on lgtm.com that lets you see all PR analyses that have been run, like the list travis shows. The only way to currently see results is via the status links on github.

[2017-06-23 21:38] rsimha-amp commented on #10086
Update: I've been hacking away at this problem for a while today, and ran into various issues.

1. All scripts that we can possibly run on travis are run *after* JWT initialization is done, so adding the per-user logic to a script in `before_install`will not work.
2. The way to determine the committer's email address on a local git branch is `git log -1 $TRAVIS_COMMIT --pretty="%cE"`. Unfortunatel

[2017-06-23 22:28] choumx opened #10128 "Testing: Easier stubbing of services"
Since this has come up a few times now. Context: https://github.com/ampproject/amphtml/pull/9866#discussion_r123108935

We could do this pretty simply by changing `services.js` to export an object/class instead of `serviceForDoc` functions. Could be nice for classes that need a lot of services stubbed.

### Before
[code]

### After
[code]
It'd be a straightforward (if slightly annoying) refactor.

[2017-06-23 23:48] jpettitt commented on #9098
What I was looking for was a number that, to be a valid amp cache, you must support as well as specifying what the runtime should do if the object is bigger.

[2017-06-24 00:02] aghassemi commented on #10110
https://github.com/ampproject/amphtml/pull/10129 should partially fix this (manual play should work now without throwing error).

amp-youtube with autoplay still does not autoplay on IE11 (all windows versions) but Edge is file. Also amp-video autoplay works in IE11 in all windows versions, so lowering the priority a bit (autoplay is not guaranteed anyway, older versions of browsers or when user h

[2017-06-24 00:09] aghassemi commented on #10112
/cc @muxin (next week's on duty) since this needs to be patched on canary before it goes to prod.

[2017-06-24 02:59] #10112 closed

[2017-06-24 04:30] jasonpang commented on #8791
@sebastianbenz @cramforce @ericlindley-g thanks for your replies!

We've made another demo available at this link (with a GIF recording just in case):

- **Demo for an HTTPS Site**: https://onesignal.com/webpush/amp?https=1
- **Demo for an HTTP Site**: https://onesignal.com/webpush/amp?https=1
- **Demo GIPHY**: https://giphy.com/gifs/3og0IQypxhF1K9xzJ6/fullscreen

---

@sebastianbenz:

- What are

[2017-06-24 05:14] #9867 closed

[2017-06-24 06:04] mrjoro commented on #9867
Thanks for helping make AMP better @rhapsodyai!

[2017-06-24 07:27] heiwen commented on #6553
@ericlindley-g There are quite a few other customer messaging platforms around, take Intercom or Zendesk just to name a few examples. I understand that the AMP team has been working very closely with ad portals and audio/video services to get them on-board, is there any similar initiative planned in the Help Desk segment?

[2017-06-24 14:17] #10118 closed

[2017-06-25 16:23] mauricionr opened #10135 "using input-debounced or change events got event.value null when the input is type search"
## What's the issue?

I was trying to use `input-debounced` or `change` events but the `event.value` is always null when the input is `[type="search"]`.

I don't know if this issue is a bug or a feature request

## How do we reproduce the issue?

In this repo https://github.com/mauricionr/pwamp

Thanks!

[2017-06-26 04:16] #10010 closed

[2017-06-26 04:16] mrjoro opened #10136 "Weekly Status 2017-06-26"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-06-26 04:23] #10094 closed

[2017-06-26 05:22] aghassemi commented on #10135
/to @cvializ

[2017-06-26 11:17] oliverfernandez commented on #7184
@avimehta The issue originally reported is not exactly that.

Imagine a site that has AMP as a canonical URL too, like [Daily Spiegel](https://daily.spiegel.de), and you do the following steps from a Desktop:

1. Perform [this](https://www.google.com/?gfe_rd=cr&ei=_epQWfSiJIGt8wfcs67gAg&gws_rd=ssl,cr&fg=1#q=daily+spiegel) search in Google

2. Follow the first search result to Daily Spiegel

3.  Th

[2017-06-26 14:12] glevitzky commented on #8891
Closing this, as this requirement is now being forced through validation.

[2017-06-26 14:12] #8891 closed

[2017-06-26 14:41] sebastianbenz commented on #1939
First version:

https://ampbyexample.com/advanced/how_to_support_images_with_unknown_dimensions/

Let me know if I'm missing anything.

[2017-06-26 14:46] rsimha-amp commented on #10086
Per Sauce labs, from a ticket we've opened with them:

This could mean that there's little to no advantage to be gained from pursuing the idea in this issue. I'll update this thread with the resolution from the sauce labs ticket. Meanwhile, @cramforce, it should still be possible to implement item 4 above, so let me know if you think it's worth putting in place anyway.

[2017-06-26 15:01] erykpiast commented on #1939
@sebastianbenz I'd say this: http://jsbin.com/sojidok/edit?html,output. So image isn't stretched but placed in the middle of fixed-size container.

[2017-06-26 15:39] cramforce commented on #8791
This sounds good to me. I'd definitely prefer if this component was vendor independent.

Let's move forward, but let's also plan for some time to iterate on the final design during implementation.

[2017-06-26 16:45] zhouyx commented on #7184
@avimehta I think the issue is different from what you describe. The issue happens for pages NOT in viewer.
amp-analytics will only report referral as `window.document.referrer`. When navigating inside the site later on,  it will report itself as the referral instead of google.com

[2017-06-26 16:49] taymonbeal commented on #10128
One request I'd like to make: Provide an API for swapping out test doubles of specific services at the window level, instead of requiring the test author to call `sandbox.stub` on a global function. I fear that the latter is likely to cause unintended state leaks.

`describes.js` might be the right place for such an API to live. Perhaps an additional field, `serviceStubs: (!Object<string, function

[2017-06-26 16:49] mrjoro commented on #10136
- added a new doc with [tips on creating a welcoming community](https://github.com/ampproject/amphtml/blob/master/contributing/creating-a-welcoming-community.md)
- updated [Great First Issues doc](https://github.com/ampproject/amphtml/blob/master/contributing/creating-great-first-issues.md) to add follow-up steps; sent out [request for GFIs to Slack](https://amphtml.slack.com/archives/C0ADR0A0K/p1

[2017-06-26 16:52] aghassemi commented on #10136
* updated [Building Beautiful AMP Pages Codelab ](https://codelabs.developers.google.com/codelabs/amp-beautiful-interactive-canonical/index.html?index)to reflect that `amp-bind` is launched.
* IE11 and misc fixes #10129 #8514 https://github.com/ampproject/amphtml/pull/10016

[2017-06-26 16:55] aghassemi commented on #10135
@mauricionr looks like a bug to me. Not sure what makes `[type=search]` special, we will investigate.

[2017-06-26 17:10] mauricionr commented on #10135
@aghassemi the documentaion said that a few types are currently supported

https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#input-elements

this other type make a better user exeprience on mobile.

i guess the other types also should support these events

types like

`[type="tel"]`
`[type="number"]`
`[type="email"]`
`[type="search"]`
`[type="date"]`
`[type="datetime

[2017-06-26 17:13] choumx commented on #9905
Closing in favor of #10053.

[2017-06-26 17:13] #9905 closed

[2017-06-26 17:19] choumx commented on #9906
`test-errors.js` flaking with similar "Timeout waiting for elements to start loading" error: https://travis-ci.org/ampproject/amphtml/jobs/246438564

[2017-06-26 17:20] choumx commented on #10053
Changing this issue to track re-enabling of amp-bind integration tests on Saucelabs.

[2017-06-26 17:29] #9934 closed

[2017-06-26 17:52] cvializ commented on #10135
I am able to reproduce. Initial inspection shows that it's a bind issue, but I wasn't able to find anything after a quick look. I can keep looking, and @choumx maybe you can look too and see if your bind expertise notices anything that might cause `type="search"` to give a null value while `type="text"` gives the correct value.

[2017-06-26 18:16] camelburrito commented on #10136
- Reviewed and worked with @torch2424 on sidebar 1.0 - toolbar feature.
- Fixed a bunch of AMP Start bugs to assist next revamp
- Created new tracking id for AMP Start

[2017-06-26 18:16] lannka commented on #10136
- amp-recaptcha design
- Wrote PRD for AMP ads playground in ABE
- Wrote PRD for 3rd party attribution
- STAMP ads planning

[2017-06-26 18:17] erwinmombay commented on #10136
- working on amp start archive all zip file
- work with alanna to setup her project
- added dict-string-key lint rule
- added banned-constructor-call rule

[2017-06-26 18:19] torch2424 commented on #10136
* Fixing a11y bugs on AMP Start
* Wrapping up toolbar for sidebar 1.0. R2 Tests and features currently in PR

[2017-06-26 18:21] wassgha commented on #10136
- Finished working on requested changes for video docking
 - Worked on fullscreen on orientation change (needs testing)
 - Worked on tilt to zoom (needs UX / testing/ design review)
 - Worked on drag/snap to corners (waiting for docking to merge)

[2017-06-26 18:21] choumx commented on #10136
- PWA: Make sure A4A and amp-bind work
- Investigate flaky integration tests
- Make writing good tests easier

[2017-06-26 18:25] jridgewell commented on #10136
- Done with on duty
- Layers

[2017-06-26 18:30] Raphaeljunior commented on #10136
- Finished implementing Stack Trace conversion.
- Got Code  conversion PR merged.
- Set up experiment to test the Node version of error tracker

[2017-06-26 18:37] rsimha-amp commented on #10136
- Percy visual diff tests now run with every PR (#9996)
- LGTM analysis now part of code review process for every PR (#10092)
- Coming soon: (optional) per-user sauce labs credentials to make integration tests less flaky (#10086)

[2017-06-26 18:52] sebastianbenz commented on #1939
@erykpiast the [fixed-height layout sample](https://ampbyexample.com/advanced/how_to_support_images_with_unknown_dimensions/#fixed-height-layout-with-correct-aspect-ratios) achieves the same effect, images aren't stretched either. The difference to your sample is that your sample responsively adjusts the height to maintain the aspect ratio defined by the container. Is this a common use case?

[2017-06-26 19:06] muxin commented on #10136
- Help with GFI - Fix scroll freeze for scrollable lightbox
- Improve lightbox 2.0 example with more cases
- Lightbox 2.0: add top gradient bar that will dismiss on tap
- Lightbox 2.0: be able to expand overflown caption

[2017-06-26 19:52] erykpiast commented on #1939
The difference of my case is the image isn't stretched at all on any axis. Fixed-height means it's stretched up (or scaled down preserving aspect-ratio) to given vertical size, is that right? My sample is more about that: the image should be displayed in the middle of some fixed-size area, if it's too big to fit, scale it down preserving aspect ratio, but don't scale it up over its original size.

[2017-06-26 20:51] #9906 closed

[2017-06-26 21:29] rudygalfi commented on #9959
Traditionally we prefer to not increase the library complexity if the capabilities that AMP already exposes can be manipulated on the server/consumer side. In this case, since there's already a step to process the input value as a string, could that logic be updated to format the string as needed?

[2017-06-26 21:46] SchnWalter commented on #10011
@lannka, in #10136 (Weekly Status) you stated that you work(ed) on "Supporting AdSense responsive ads feature". I could not find any PR (opened or closed) on that subject.

Could this issue be related to your update?

[2017-06-26 21:54] Gregable opened #10145 "Prioritize Travis builds based on the files changed"
Since travis only runs one PR at a time, it would be nice if it could prioritize small changes, such as markdown-only, above larger changes.

[2017-06-26 22:04] Gregable commented on #9091
This should be live everywhere within an hour.

[2017-06-26 22:06] Gregable commented on #9737
These validator changes should be live everywhere within an hour.

[2017-06-26 22:06] #9737 closed

[2017-06-26 22:26] jasti commented on #10011
@SchnWalter We might need to re-trigger the ad on screen orientation or browser width changes. Adding AdSense folks for comment - @ konakk and @tlong2. Tom, can you please add Charlie to the thread as well? I don't have his handle handy.

[2017-06-26 22:44] rsimha-amp commented on #10145
This isn't technically true. Travis makes 5 VMs available to open source projects such as `amphtml`. This includes PRs on branches and merges to master. We currently run our tests on two parallel shards to reduce overall wait time, and therefore, we can run the equivalent of 2.5 PRs at a time.

Today's slowness was due to a github outage (see https://status.github.com/messages/2017-06-26), which s

[2017-06-26 23:03] torch2424 commented on #9984
During a UX review, we decided that we would have 3 cases:

1. All sidebar content becomes toolbar, and the toolbar button is clicked, and opens an empty toolbar.

2. All sidebar content becomes toolbar, and the toolbar button is clicked, and does nothing.

3. All sidebar content becomes toolbar, and all toolbar buttons that are tap-able are hidden.

We decided to go with one, as option 2 is equal

[2017-06-26 23:03] #9984 closed

[2017-06-26 23:08] torch2424 commented on #9985
We decided the following in required UX meetings.

Multiple toolbars will not be supported. The default will be `position: fixed; top: 0;` for all default toolbars. If the user would like multiple toolbars, they should be using the [target](https://github.com/ampproject/amphtml/issues/9982) attribute.

Sidebar with only toolbar content decided we shall [not handle this edge case](https://github.co

[2017-06-26 23:10] torch2424 commented on #9983
After UX discussions, we decided that this should be handled by the developer using the [target attribute](https://github.com/ampproject/amphtml/issues/9982)

Made sure to mention this the [Amp By Exmaple issue](https://github.com/ampproject/amphtml/issues/9991)

Closing...

[2017-06-26 23:10] #9983 closed

[2017-06-26 23:12] torch2424 commented on #9991
We should try to add example for toolbar use cases such as [Bottom Toolbars](https://github.com/ampproject/amphtml/issues/9983), and multiple toolbars

[2017-06-27 00:04] wassgha opened #10147 "Reimplement `parseSrcset`"
The current `parseSrcset()` implementation in `src/srcset.js` is both slow and non-spec-conformant.

Use the [W3C srcset conformance checker](http://w3c-test.org/html/semantics/embedded-content/the-img-element/srcset/parse-a-srcset-attribute.html) and the [reference algorithm](https://html.spec.whatwg.org/multipage/images.html#parse-a-srcset-attribute) to that confirm all cases allowed by the srcs

[2017-06-27 00:38] muxin opened #10149 "Lightbox 2.0 overflown caption not scrollable on ios"
Overflown caption is not scrollable on ios probably because I forgot to add `-webkit-overflow-scrolling: touch !important;`. However, simply adding it won't fix the problem. I'm still investigating why.

[2017-06-27 00:43] ericlindley-g commented on #6553
Hi @heiwen  — It's true that integrations for features like ad/audio/video embeds tend to work best when the organization responsible for the original feature is directly involved. Though I'm not aware of any direct outreach by the AMP team for help desk features.  ( /cc @rudygalfi in case he's aware of any effort along these lines)

One thing that would help is for help chat providers to hear dir

[2017-06-27 00:53] avimehta commented on #7184
hmm. @oliverfernandez Does excluding the referrer using "Referral exclusions" setting https://support.google.com/analytics/answer/2795830?hl=en not work for this case?

You will need to exclude referrals from `https://daily-spiegel-de.cdn.ampproject.org` for it to work.

Note that even after you do this, the visits will be currently attributed as two visits because the client ids in cache and your

[2017-06-27 03:38] cramforce commented on #10147
I'd like to re-investigate why we even use this when the browser supports srcsets natively.

CC @dvoytenko

[2017-06-27 03:58] SchnWalter commented on #7009
Looking back on this, I think that @aghassemi is right, `max` and `min` attributes aren't really that confusing, but we need to be clear in the documentation to what layouts they apply.

From what I could tell a table like this one would help:

| layout | min/max-height | min/max-width |
|--------|----------------|---------------|
| container | :x:  | :x: |
| fill | :x: *  | :x: * |
| fixed | :x:

[2017-06-27 04:41] SchnWalter commented on #8268
I agree with @asadkn, a generic version of *Feature 2* would be great. And it would also be useful for a "docking" desktop sidebar ad, and people would like to pair this with AMP Ad refresh (#9535).

[2017-06-27 07:09] oliverfernandez commented on #7184
@avimehta As @zhouyx says, we are excluding here the AMP viewer, that's what I put as an example a site that has AMP as canonical URLs. No AMP cache involved (so no daily-spiegel-de.cdn.ampproject.org domain)

The path would be

https://google.com -> https://daily.spiegel.de -> https://daily.spiegel.de/news/...

[2017-06-27 07:49] camelburrito commented on #10043
This is due to some document-click.js stuff that MK implemented i guess @jridgewell do you know anything about this?

[2017-06-27 08:33] eduardcotmrf commented on #9243
Thank you!

[2017-06-27 09:07] tlong2 commented on #10011
@charliereams

[2017-06-27 15:06] cvializ opened #10152 "Validator mistakenly states amp-bind is an unused import in autosuggest.amp.html"
In the `test/integration/test-example-validation.js` test, the test fails with the following error

[code]

but that page does use bind. It appears that this is an issue with the validator.

[2017-06-27 15:35] keithwrightbos commented on #10152
This is preventing merging.  Could we temporarily disabled the test?

On Tue, Jun 27, 2017, 11:06 AM Carlos Vializ <notifications@github.com>
wrote:

[2017-06-27 15:47] choumx opened #10154 "Make test-example-validation.js hermetic"
To avoid breakages (and catch offending bugs earlier) due to validator releases, e.g. #10152.

Context: https://github.com/ampproject/amphtml/blob/5bb8318aefabd4238965494b82cc05a770def122/test/integration/test-example-validation.js#L21

/cc @Gregable @cramforce

[2017-06-27 15:54] rsimha opened #10155 "Create a suite of visual diff tests that load various test AMP pages"
Master tracking issue for the various issues linked to this one.

[2017-06-27 15:59] choumx commented on #10152
Including an `<amp-state>` element fixes the error, though this shouldn't be necessary.

Also filed #10154 to make this test fetch the local validator build instead of from the CDN.

[2017-06-27 16:01] rsimha-amp opened #10156 "Percy correctly loads image assets, which then do not appear in snapshots"
Here is the test log corresponding to Percy build https://percy.io/ampproject/amphtml/builds/270874. Note that the image assets are being loaded and fetched, but they don't appear in the snapshots.

[code]

[2017-06-27 16:07] rsimha-amp commented on #10156
This might need additional options or command line args. See https://github.com/teampoltergeist/poltergeist and http://phantomjs.org/api/command-line.html

[2017-06-27 16:43] gurmukhp opened #10157 "Feature Request: Add touch class to body for touch enabled devices."
## What's the issue?

It's currently not possible to change the layout of a component dependant on the device supporting touch or not.
Adding a class to the body like 'touch-enabled' would solve this.

[code]

[2017-06-27 16:49] lannka commented on #10128
This is a good start. Can we go deeper, I would love to stub a service method with one line:
stubService(win, 'action', 'get').returns('abc');

@taymonbeal we clear sandbox on teardown, is that what you meant by "unintended state leaks". I'm not sure if it's wise to stub every services. Sometime, for some services, we do want to include the real impl, like `timer`, `resource`.

[2017-06-27 16:53] jridgewell commented on #10043
It's essentially https://css-tricks.com/on-target/#article-header-id-4. We've manipulated browser history, so it doesn't activate `:target`.

[2017-06-27 17:14] Gregable commented on #10152
My understanding is that all `amp-bind` uses require an `<amp-state>` as the initial state. Is that incorrect?

[2017-06-27 17:23] Gregable commented on #10152
Regarding the test, we can't do much about it if it's using the deployed validator, so I would disable until #10154 is fixed.

[2017-06-27 17:24] choumx commented on #9679
Tested that an AMP and non-AMP ad render correctly without errors on our local PWA app. Try it out by going to `http://localhost:8000/pwa?exp=a4a:-1&force_a4a_ctypes=1,2` and clicking on the "A4A" article.

@jasti @lannka Interestingly, I noticed that the AMP ad doesn't always render faster than the non-AMP ad in PWA with 2G network throttling on Chrome. Instead, the ad with the higher viewport po

[2017-06-27 17:26] Gregable commented on #10152
Created https://github.com/ampproject/amphtml/pull/10159 as a fix, as I understand it.

[2017-06-27 17:31] lannka commented on #10058
could you update the description with our findings of the root cause?

[2017-06-27 17:36] cramforce commented on #10156
Copying over:

"How about injecting a custom JS binary into every page we diff that "documents" its progress with CSS classes. That would make waiting for onload trivial and allow for waiting for fonts to load."

[2017-06-27 17:41] rsimha-amp commented on #10156
After experimenting with various command line arguments to phantomjs, I'm almost certain that this is due to the fact that there's currently no signal that an AMP page has fully loaded its assets. Will now pursue Malte's suggestion above.

[2017-06-27 17:46] jridgewell commented on #10157
We have a `.amp-mode-mouse` and a `.amp-mode-touch` class on the body. Is there a problem with these?

[2017-06-27 17:57] gurmukhp commented on #10157
Thanks Justin, I wasn't aware that was already implemented. :)

[2017-06-27 17:57] #10157 closed

[2017-06-27 18:10] lannka opened #10162 "Report visibility tracking ineligible in amp-analytics visible trigger"
When an AMP ad is served on a non-AMP page (the inabox scenario), the AMP runtime relies on the cooperation from the host window (loading the inabox-host script) for visibility calculation. In case such a cooperation is failed to be established, we might want `amp-analytics` to report back to ad server or 3rd party tracking vendor as "visibility tracking ineligible".

Details to be figured out.

[2017-06-27 18:27] rsimha-amp opened #10164 "Figure out how to make Percy tests PR blocking, and yet, not have to run the tests for all PRs"
Discovered via #10159

The PR remained permanently blocked because Percy tests are now "required", but we don't run visual tests for validator changes.

[2017-06-27 18:27] rsimha-amp commented on #10164
/cc @cramforce, @Gregable

[2017-06-27 18:29] rsimha-amp commented on #10164
It's unlikely that we can run an empty percy task that does nothing, since Percy <-> Github integration looks for a complete build on https://percy.io/ampproject/amphtml before making it show up in the list of completed checks.

[2017-06-27 18:31] avimehta commented on #7184
I think I understand it now. I recorded [a video of the walk](https://goo.gl/photos/KiHisFCh3rcrZDzC6) through (apologies about the artifacts in the video). I think you are talking about hits 3 and 4. Is that correct?

I see few ways of solving this:
- You still use referral exclusion but specify `https://daily.spiegel.de` as the domain. This is not desirable because this will have to be done by a

[2017-06-27 18:40] zhouyx commented on #10058
👌

[2017-06-27 18:50] #9931 closed

[2017-06-27 18:53] zhouyx commented on #9931
Thanks @anantoghosh ! 🎉 🎉 🎉

[2017-06-27 19:09] choumx opened #10166 "Action trust follow-up"
Following up from design review: https://github.com/ampproject/amphtml/issues/9849#issuecomment-309888192

- [ ] Defer to browser-level restrictions for video actions.
- [ ] Consider simplifying trust level granularity from 3 to 2 levels.

Would also resolve #9953.

Some references:
- https://webkit.org/blog/6784/new-video-policies-for-ios/
- https://developers.google.com/web/updates/2016/07/autop

[2017-06-27 19:20] hamousavi commented on #9862
@choumx in you example src attribute is dropped from amp-list. How would one get away with not specifying the src attribute on amp-list? Is not src a required attribute?

[2017-06-27 19:27] choumx commented on #9410
Missed this issue, sorry for the delay! `amp-lightbox` also uses the history API to exit on back button which probably won't change.

Instead, you can try inspecting the [`state`](https://developer.mozilla.org/en-US/docs/Web/Events/popstate#Properties) property to infer the trigger of the `popstate` event. Specifically, existence of the `AMP.History` key in that object.

[code]

/cc @aghassemi

[2017-06-27 19:27] #9410 closed

[2017-06-27 19:30] choumx commented on #9759
Merging with #10053.

[2017-06-27 19:30] #9759 closed

[2017-06-27 19:31] choumx commented on #10053
Browser-specific flakiness in `<amp-form>` integration test:
- This only affects Edge and Safari 9, but is fine on Chrome, Firefox and Safari 10.
- Not caused by a race with AmpFormService registration.
- Might have to do with expected user errors.

[2017-06-27 19:54] choumx commented on #9862
@hamousavi Currently it is required -- my example is hypothetical. Is your use case the same as above?

[2017-06-27 20:17] #9985 closed

[2017-06-27 20:37] rsimha-amp commented on #10154
Looks like #9002 was opened to cover the same use case. @choumx, I'll assign it to you and let you dupe one, or fix both with your PR :)

[2017-06-27 20:38] rsimha-amp commented on #9002
Assigning to @choumx, who is working on #10158 to fix this issue and #10154

[2017-06-27 20:46] choumx commented on #9002
Oops, didn't know this existed. 😄  Closing in favor of #10154.

[2017-06-27 20:46] #9002 closed

[2017-06-27 20:52] lannka commented on #10128
Actually I introduced such [a helper method](https://github.com/ampproject/amphtml/blob/master/testing/test-helper.js#L26) a while ago.

[2017-06-27 20:57] choumx opened #10168 "Clean up test-bind-impl.js"
- Use FIE helper in `describes.js` instead of curried helper functions.
- Avoid private var access.

[2017-06-27 21:04] SchnWalter commented on #10011
And we need to make sure that on screen width changes we don't trigger to many requests, maybe we could hide the ad and display the placeholder when the resize event is triggered and set a timeout that is pushed back with each subsequent width change and/or maybe we could also set a minimum refresh interval, just like in the upcoming Ad refresh feature. Otherwise publishers won't be happy, nor wil

[2017-06-27 21:17] alanorozco commented on #10128
@lannka That's pretty cool, I hadn't seen that. This stubs at a slightly different level, though, since it requires service id.

[2017-06-27 21:49] taymonbeal commented on #10128
That's part of it, yeah. There've definitely been cases where things that were supposed to be cleared on teardown weren't, and I think an approach of "at the end of each test destroy this entire window and everything in it" helps with this, somewhat.

Speaking from my own experience dealing specifically with the `Xhr` service, if a service needs to support test doubles, then its API becomes "two-s

[2017-06-27 23:28] rudygalfi commented on #9959
Let me know if that reasoning makes sense. For now, I'll close. But if there is more detail you can provide around needing to process the string on the client, please re-open to continue the discussion.

[2017-06-27 23:37] rudygalfi commented on #4279
I think the best way to proceed is not to capture the specific click event mentioned in the bug, but to use video analytics (#9902).

[2017-06-27 23:37] #4279 closed

[2017-06-27 23:49] rudygalfi commented on #5050
#9722 is now covering this.

[2017-06-27 23:49] #5050 closed

[2017-06-28 00:05] #10149 closed

[2017-06-28 13:06] edhollinghurst commented on #9410
Thanks @choumx

[2017-06-28 15:07] lannka opened #10178 "When Viewer is not trustful, fallback to localStorage/cookie for CID generation"
Right now, we don't return a CID.

See discussion here: https://github.com/ampproject/amphtml/pull/10103#discussion_r124434751

[2017-06-28 15:44] lannka commented on #10011
@SchnWalter that's something @charliereams is actively working on. PR has not been sent out yet.

[2017-06-28 17:06] choumx commented on #10128
1. Using `sinon.sandbox` is definitely better than mutating `window` since a sandbox is scoped to a single file, so even failing to restore a sandbox can't affect tests in other files.

2. Test doubles would definitely work in the general case, but might be overkill for `Xhr` and `Timer` since the core functionality of those classes have well-defined interfaces. I.e. why doesn't stubbing `Window.f

[2017-06-28 17:33] lannka commented on #10128
@taymonbeal it's really mocking at browser API level (in your word the "core"), or at AMP service level. From unit test's point of view, I'm fine with both approaches, as long as it's easy to write and read.

Your other PR is kind of a mixture.
- You mocked at browser API level (MockXhr), passed into the service by mutating a private member. I see your point of not changing window object as being

[2017-06-28 17:40] rsimha-amp commented on #10086
I just tested this in https://travis-ci.org/ampproject/amphtml/jobs/248019758, and it looks like the overridden sauce tokens in #10116 are not persisting. I think the env vars set by the `node` process isn't visible to the subsequent sauce connect process. Investigating.

[2017-06-28 19:05] coreybyrnes commented on #9546
@zhouyx @lannka @taymonbeal Any further thoughts on how I can accomplish this?

[2017-06-28 19:36] #9916 closed

[2017-06-28 19:51] rsimha-amp commented on #10086
I managed to properly export the per-user credentials correctly, and unfortunately, they now won't work for PRs because they aren't set up with JWT.

From https://docs.travis-ci.com/user/sauce-connect/:

I'm going to change the way we store the sauce access key from base 64 encoded to `travis encrypt`ed.

There is hope :)

[2017-06-28 20:21] bpaduch commented on #6854
Fixed in https://github.com/ampproject/amphtml/pull/9636.

[2017-06-28 20:21] #6854 closed

[2017-06-28 20:32] nzeeshan commented on #3405
I am using amp-mustache to render a list of links on my amp page. It works fine on Android devices, however on Safari iOS, it doesn't work. Here's a [screenshot](http://imgur.com/a/ClqJb) of what I get when accessing the page through Safari.

[AMP page URL](https://www.bnymellon.com/us/en/our-thinking/amp/swimming-against-the-tide.jsp)
[JSON URL](https://www.bnymellon.com/us/en/our-thinking/amp/fr

[2017-06-28 20:47] #10154 closed

[2017-06-28 21:19] taymonbeal commented on #9546
I think that I or one of my colleagues could implement the suggestion that I made upthread, if we wanted to.

@zhouyx, obviously the usual AMP prohibition on user-visible reflow would still apply. If `noContentAvailable` were called while the ad was in the viewport, it wouldn't disappear, it'd just be replaced with a fallback or blank rectangle. Within the confines of their rectangle, we already c

[2017-06-28 21:52] choumx opened #10187 "Polling causes integration test flakes"
Most flakes on master this week appears to be caused by polling timeouts, e.g. `expectBodyToBecomeVisible`. Affects integration tests for amp-video, amp-3q-player, amp-img, amp-form and perhaps more.

Look for "Timeout waiting for" in any of these:
- https://travis-ci.org/ampproject/amphtml/jobs/248095308
- https://travis-ci.org/ampproject/amphtml/jobs/248091738
- https://travis-ci.org/ampproject/

[2017-06-29 03:10] #1939 closed

[2017-06-29 05:40] bjalford commented on #9410
Confirming this fixed the issue we were having.

[2017-06-29 09:10] 1987yama3 commented on #9959
@rudygalfi If we are a marketing tool developer, I should customize my tool.

But it is diferrent.
Users of the tool can not change the movement of the marketing tools.
We need to enter data according to the specification of each tools.

[2017-06-29 13:56] imparvez opened #10189 "AMP Youtube Customisation."
`amp-youtube` provide us with the basic look and feel of youtube video on our AMP pages.
Is there any way where we can implement 'Click-to-play' icon on youtube video, the same we can see in 'Click to play overlay for amp video'
https://ampbyexample.com/advanced/click-to-play_overlay_for_amp-video/

This UX feature is a new ongoing trend and beautifies the content pages also.

[2017-06-29 14:07] SchnWalter commented on #10189
It should work exactly the same.

[2017-06-29 14:13] SchnWalter commented on #10189
Here's a quick example I've created from the one you have sent.

http://plnkr.co/edit/2AWYzAnJsUstBQzueVyx?p=preview

You might want to ad an extra fade-in animation to the `<amp-youtube>` element so that it doesn't get loaded before the "preview" image.

[2017-06-29 14:31] imparvez opened #10190 "Lazy Loading on AMP Listing Page."
Can we have a lazy loading cards effect in AMP whenever we are dealing with listing view?

The fade-in-out cards should be configurable.

Something like:

![lazy-loading](https://user-images.githubusercontent.com/3184430/27692923-8bdcf1fa-5d05-11e7-9575-71f6d2cab60f.png)

[2017-06-29 15:06] jessanastasio opened #10191 "Allow for Printing of AMP Page"
Having support for an `amp-print` component that triggers `window.print();` would be extremely useful. (this may not seem useful for mobile, but for sites that are entirely AMP the print button would be great for desktop)

[2017-06-29 15:38] #8124 closed

[2017-06-29 16:27] aghassemi commented on #10189
@imparvez We are considering to support custom overlays for `start` and `end` states (see https://github.com/ampproject/amphtml/issues/8971#issuecomment-298061119) to make click-to-play UX easier to implement ( and enable custom overlay when video ends, paused, etc...).

For now, @SchnWalter's approach should work.

[2017-06-29 16:27] #10189 closed

[2017-06-29 16:30] aghassemi commented on #10191
Sounds good to me. We may expose this as an action (`AMP.print()`) instead of a new component however.

[2017-06-29 16:32] aghassemi commented on #10190
@imparvez are you using `amp-list` to load the items?

[2017-06-29 16:34] #6670 closed

[2017-06-29 16:44] jessanastasio commented on #10191
awesome!!

[2017-06-29 17:53] #9681 closed

[2017-06-29 18:01] adelinamart commented on #8568
@cramforce any updates here? Thanks

[2017-06-29 18:03] adelinamart commented on #8510
@bradfrizzell any updates here? Thank you.

[2017-06-29 18:03] zhouyx commented on #9546
@taymonbeal Ads blinking is only an issue with sticky-ad, as we always collapse sticky-ad even it is in viewport.  I would still argue calling `noContentAvaiable` after `renderstart`... If we have to, I would rather have a new API for this.

In the DFP creative itself, where I was trying to call it in order to collapse the ad space.

Since we are making change in DFP creative, Is it possible to ad

[2017-06-29 18:08] adelinamart commented on #7957
@lannka does this still need to be prioritized? Thanks.

[2017-06-29 18:12] dvoytenko opened #10195 "amp-list appears not to load on Safari in some cases"
From @nzeeshan

[AMP page URL](https://www.bnymellon.com/us/en/our-thinking/amp/swimming-against-the-tide.jsp)
[JSON URL](https://www.bnymellon.com/us/en/our-thinking/amp/frances.json)

I am using full paths, not even relative paths and not sure how to resolve this. What am I doing wrong and why does it only work on Android?

[2017-06-29 18:12] adelinamart commented on #7519
@dvoytenko is this still an issue? Thanks

[2017-06-29 18:12] dvoytenko commented on #3405
@nzeeshan Thanks for the report. I moved it into #10195 and referenced you from that issue.

[2017-06-29 18:13] adelinamart commented on #7487
@tdrl do you have any updates here? Thanks

[2017-06-29 18:14] bradfrizzell commented on #8510
I think we can close this. Currently, we handle if the setup object being passed on the name looks like

```{"_context" : {"location":..."}}```
or
```{"attributes": {"_context" : {"location":..."}}}```

I don't think we have any use case where we need this.

[2017-06-29 18:14] #8510 closed

[2017-06-29 18:14] aghassemi opened #10196 "amp-ima-video: Expose attributes (or JSON) for IMA settings"
From a user ( https://groups.google.com/forum/#!topic/amphtml-discuss/9sabg3_7ink )

@shawnbuso two approaches here depending on how many of IMA settings we need to expose. One approach is attributes for each. Another one is a JSON format we do in a few other components such as
[code]

/to @shawnbuso

[2017-06-29 18:21] adelinamart commented on #6593
@camelburrito is this still an issue? Thanks

[2017-06-29 18:24] adelinamart commented on #6234
@matAtWork any updates here? Thanks.

[2017-06-29 18:26] rudygalfi commented on #8524
@aghassemi @ericlindley-g: I added more detail in the issue description. PTAL

[2017-06-29 18:35] adelinamart commented on #3667
@dvoytenko does this needs to be closed? Thanks

[2017-06-29 18:37] dvoytenko commented on #3667
Yeah. This looks like to late to change.

[2017-06-29 18:37] #3667 closed

[2017-06-29 18:43] jridgewell commented on #10128
My only two cents: I agree with mocking `fetch`, not our XHR implementation. Mainly so we can do it when testing our XHR implementation. 😉

[2017-06-29 18:45] #8568 closed

[2017-06-29 18:47] benlast commented on #8791
Pinging @jasonpang @sebastianbenz @cramforce @ericlindley-g

As another vendor of push notification services, Mobify have been looking at this and we'd like to contribute.

1. Using storage to detect the subscription status seems open to race conditions: the storage result could be "subscribed" but the user might have blocked or reset notification permission since the last visit to the site (we se

[2017-06-29 19:08] coreybyrnes commented on #9546
@zhouyx I don't believe you can prevent the calling of `renderStart` from within DFP creative code. If a new API function is going to be built for this, can it be to simply collapse the <amp-ad> element via `display:none` instead of killing the content as `noContentAvailable` does? With that I wouldn't have to delay calling it based upon if/when the impression has fired.

[2017-06-29 19:14] #9967 closed

[2017-06-29 19:21] bpaduch commented on #6477
- `transition:all` still used - @Gregable - should validator complain about using this?
- it doesn't appear we are using `filter` any longer (after redesign)

[2017-06-29 19:25] benlast commented on #8791
Additional: it's probably worth noting that the subscribe popup would also have to register and install the service worker in order to set up a subscription.

[2017-06-29 19:27] bpaduch commented on #5846
@cramforce - is owners mechanism in place? I see the owners files but no employer info.

cc: @mrjoro

[2017-06-29 20:00] rajkumarsrk commented on #9673
@adelinamart The feature has been added and this issue can be resolved.
https://github.com/ampproject/amphtml/pull/9684

[2017-06-29 20:06] #9673 closed

[2017-06-29 20:07] lannka commented on #9959
@1987yama3 given the fact that client formatting is losing flexibility the usage I think is rare. I don't want to introduce too much client code into our analytics extension. As a compromise, are you OK if we only support the ISO standard time string:

`2017-06-29T20:01:47.932Z`

which is natively supported by javascript.

[2017-06-29 20:08] SashkaDev commented on #9264
This still not OK. Not all languages exists in Facebook scripts, so, in my case the language is es_PE and Facebook return the default en_US. For spanish es_PE it must call the es_LA versión (https://connect.facebook.net/es_LA/sdk.js NOT https://connect.facebook.net/es_PE/sdk.js)

[2017-06-29 20:26] SashkaDev opened #10197 "Share in amp-facebook-like"
So sorr, was an error in my code. It is working. Please ignore.
Documentation says: data-share (optional)
Specifies whether to include a share button beside the Like button. This only works with the XFBML version. The default is false.
So, how to call the XFBML version? The only script that have that parameter is 3p/facebook.js.
Thanks,
Sashka

[2017-06-29 21:06] #10197 closed

[2017-06-29 21:25] muxin commented on #9907
Duplicate of https://github.com/ampproject/amphtml/issues/10187

[2017-06-29 21:25] #9907 closed

[2017-06-29 21:30] dvoytenko commented on #7519
Confirmed fix. Closing.

[2017-06-29 21:30] #7519 closed

[2017-06-29 21:31] #9982 closed

[2017-06-29 21:49] #9484 closed

[2017-06-29 22:16] tiendt opened #10199 "AMP error reporting for publishers"
AMP runtime generates 2 types of errors:
Dev errors, which are to be fixed by AMP project.
User errors, which are to be fixed by publishers, such as a mis-config of an AMP component etc.

Both errors right now are reported back to AMP project’s own server for debugging purpose. Dev errors are checked during our release process, and user errors are generally paid less attention as we are not really

[2017-06-29 22:36] dvoytenko commented on #10195
My initial sense is that, for some reason, Safari measures `amp-list` incorrectly.

[2017-06-29 22:43] nzeeshan commented on #10195
Hi @dvoytenko, it actually doesn't work on Chrome iOS either.

[2017-06-29 22:44] dvoytenko commented on #10195
@nzeeshan That makes sense - they use the same browser engine.

[2017-06-29 22:52] nzeeshan commented on #10195
@dvoytenko, Got it. But what should I do to resolve this? Any guidance? The #3405 ticket states that it's a CORS issue. And then I notice you mentioning that it's easily solvable. But don't know how to make this adjustment on my AMP page.

[2017-06-29 23:15] lannka commented on #10199
See former discussions: #6415

[2017-06-29 23:18] #10199 closed

[2017-06-29 23:20] lannka commented on #9151
@taymonbeal would you take #10173 as an example and give it a try? You can also take a look at  the documentation on `describes` that @choumx has recently updated.

[2017-06-29 23:34] SchnWalter opened #10203 "decodeURIComponent URIError's should not break AMP pages"
## What's the issue?

Since AMP can be used out of cache, it is expected to have malformed URLs from time to time (e.g., bad encoding of arguments). These malformed URLs can come from various websites, services or even user error. AMP should not break in these cases.

## How do we reproduce the issue?

1. Discover an AMP page and take a good look at it (check AMP specific components, e.g., `amp-im

[2017-06-29 23:48] lannka commented on #8311
CID service moved to core. so we have less dependencies to amp-analytics.

[2017-06-29 23:48] #8311 closed

[2017-06-30 00:19] dvoytenko commented on #10195
This is actually a very peculiar case. It looks like this has not to do with CORS or `amp-list` itself, but with the way Safari treats `@font-face`. Basically, the measurements on `font-family: "Akkurat"` initially on Safari are wildly out of wack - the text is reported to take up to 3x more space than it actually does. This is rather odd: the font/line heights are available and thus always correc

[2017-06-30 00:23] zhouyx commented on #9546
@coreybyrnes I wonder we would allow an iframe with display:none and not killing it.

To @lannka @jasti

Requests here: Creatives know they have nothing to serve. They want to put `display:none` and call `noContentAvailable`. In the meantime the creative still want the impression tracking to take place.
Ad server however has no knowledge of this and will call `renderStart()`

Possible solution:
1.

[2017-06-30 01:35] #9810 closed

[2017-06-30 02:45] aghassemi commented on #10203
/to @jridgewell

[2017-06-30 03:55] mrjoro commented on #5846
We have the OWNERS files now, though we aren't enforcing it.

@cramforce should we add the employers to the OWNERS files?  @erwinmombay as FYI

[2017-06-30 04:08] aghassemi commented on #655
related: #9423

[2017-06-30 04:11] aghassemi commented on #1085
Closing as dup of https://github.com/ampproject/amphtml/issues/8971 which has more discussions around this topic

[2017-06-30 04:11] #1085 closed

[2017-06-30 04:16] aghassemi commented on #2510
Closing as Lightbox 2.0 will have this feature.

[2017-06-30 04:16] #2510 closed

[2017-06-30 04:43] aghassemi commented on #6054
Closing since server-side approach is possible with `amp-bind` now and https://github.com/ampproject/amphtml/issues/9128 exists for history related part.

Client-side approach is tracked under #8691 and #9113

[2017-06-30 04:43] #6054 closed

[2017-06-30 04:44] aghassemi commented on #6057
Closing in favour of #8691

[2017-06-30 04:44] #6057 closed

[2017-06-30 04:45] aghassemi commented on #6102
Closing as dup of https://github.com/ampproject/amphtml/issues/7626

[2017-06-30 04:45] #6102 closed

[2017-06-30 04:53] aghassemi commented on #6221
@lawnsea `navigateTo` is launched and as @ericlindley-g suggested this should be possible now with a `<a href="https://example.com" on="tap:AMP.navigateTo(url='https://example.com')" target="blank_">Click me</a>` (we don't preventDefault so both `href` and `on` run)
(sample: https://codepen.io/aghassemi/pen/OgQzqm)

Closing, feel free to reopen if this does not resolve your issue.

[2017-06-30 04:53] #6221 closed

[2017-06-30 05:03] aghassemi commented on #6267
Ran a quick test on Chrome/Android and ET Telecom articles do not repro this issue anymore, closing. Please feel free to reopen if my assessment is wrong.

[2017-06-30 05:03] #6267 closed

[2017-06-30 05:06] aghassemi commented on #6345
number, regex and recent [server-side async validation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#verification-experimental) should cover this use-case fairly well. Closing.

[2017-06-30 05:06] #6345 closed

[2017-06-30 05:31] aghassemi commented on #9609
Closing in favour of an earlier feature request for this: https://github.com/ampproject/amphtml/issues/7118

[2017-06-30 05:31] #9609 closed

[2017-06-30 05:34] aghassemi commented on #7357
@csculley please see previous comment. Closing the issue, please feel free to reopen if previous answer is not satisfactory.

[2017-06-30 05:38] aghassemi commented on #7537
Closing as it seems the bug is related to incorrect server-side implementation. Note that we are planning to support other `enctype`s for `amp-form` in https://github.com/ampproject/amphtml/issues/7607

[2017-06-30 05:38] #7537 closed

[2017-06-30 05:40] imparvez commented on #10190
@aghassemi `amp-list` is not a part of our development as the source or API is not a direct JSON hosted on our server, that JSON creation is on our roadmap. Currently, we are using PHP to render HTML list.
So I was thinking of a feature that will know about the list via #id or .class and apply the lazy loading effect on AMP pages.

I've used `amp-list` also but the loading effect very basic and no

[2017-06-30 05:44] aghassemi commented on #7997
@bhansa I am not able to reproduce on Chrome desktop, could you please provide details of the browser/platform you are seeing this issue on?

[2017-06-30 05:45] aghassemi commented on #8025
Should be resolved by #10129 (we were not really disallowing `remove()` until recently). Closing, please feel free to reopen if still an issue for you.

[2017-06-30 05:45] #8025 closed

[2017-06-30 05:52] imparvez commented on #10189
@aghassemi we've used amp-youtube site wide now, implementing `amp-video` is kinda re-work to do on each template, which is a prime reason for emphasizing more on `amp-youtube`.

[2017-06-30 06:12] 1987yama3 commented on #9959
@lannka It is no problem. But, I think that it is better to use the time that takes user's timezone.

[2017-06-30 10:03] bhansa commented on #7997
Hi,

I just checked the website, seems like the issue has been resolved.
Previously when I checked there were no links or any other transition
between pages.

Thanks,
Bharat Saraswat

On 30 Jun 2017 11:14 am, "Ali Ghassemi" <notifications@github.com> wrote:

@bhansa <https://github.com/bhansa> I am not able to reproduce on Chrome
desktop, could you please provide details of the browser/platform yo

[2017-06-30 10:29] ciampo commented on #10043
Is there a chance this feature can be exposed to developers, so that it can be opted-out ?
Maybe via an attribute, e.g. `<amp-sidebar no-history-manipulation>`.

At the moment we're relying on fragment URLs and the CSS `:target`pseudo-selector for our routing to work, and the history manipulation in `amp-sidebar` is breaking the navigation.

[2017-06-30 12:14] eduardogoncalves commented on #9264
@SashkaDev to get user's location we use navigator's language, which matches almost all Facebook's languages files.

But as per Facebook's docs, they support *many* ISO languages, which I understand is not all of them:

At Facebook's docs https://developers.facebook.com/docs/plugins/like-button?locale=en_US#language they say:

But that file is missing  :(

Someone has any ideias of what to do?

[2017-06-30 13:08] lvberkum opened #10206 "Internet Explorer 11 will not carousel divs using AMP-carousel"
## What's the issue?

Internet Explorer 11 will not carousel divs using AMP-carousel.

## How do we reproduce the issue?

See https://jsfiddle.net/Berksel/cow0s953/ . Instead of a carousel with divs, IE 11 displays the divs vertically.

## What browsers are affected?

Internet explorer 11

## Which AMP version is affected?

AMP ⚡ HTML – Version 1498686280171

[2017-06-30 13:13] kul3r4 opened #10207 "amp-bind: Binding to amp-img[src] also requires [srcset] on cache"
When using amp-bind for changing the `src` value of `amp-img`, the page does not work on cache, probably because the cache can't change the src file name, this happens also when using absolute URLs.
In order to replicate open:
[amp version](https://chiara-ampbyexample.appspot.com/amp-bind-url-images.html)
[cached version](https://chiara--ampbyexample-appspot-com.cdn.ampproject.org/c/s/chiara-ampby

[2017-06-30 14:40] kul3r4 commented on #10207
Update on this:
I updated the samples above by binding on srcset as well (more than src) and it works on cache. Will update the documentation.

[2017-06-30 15:05] lawnsea commented on #6221
@aghassemi we'll give it a try. Thanks!

[2017-06-30 15:06] djavet opened #10209 "amp-video with track generate a crossdomain error"
## What's the issue?
I want to play a video with subtitle and receive a crossdomain error on <track> despite Access-Control-Allow-Origin:* when I load the page.
The video plays, but not the subtitles.

## How do we reproduce the issue?
Go on https://gamp.silium.ch/video-crossorigin.html

1. load the page
2. Open the console and look at the error:
Text track from origin 'https://media-acp.swissinfo

[2017-06-30 15:19] #8121 closed

[2017-06-30 15:44] SashkaDev commented on #9264
Yes, it is missing, but there are only 2 exceptions, and out there are lists (in many sites), also Wix have a pluggin that Maps locales to Facebook locales, with the exceptions.
https://github.com/wix/facebook-locales/blob/master/src/FacebookLocales.js

[2017-06-30 16:02] aghassemi commented on #8611
Closed by https://github.com/ampproject/amphtml/pull/8632

[2017-06-30 16:02] #8611 closed

[2017-06-30 16:10] taymonbeal commented on #9546
What if we changed `doubleclick.js` so that `renderStart` was triggered by `SlotOnload` instead of `SlotRenderEnded`? @keithwrightbos, would this work and what other effects would it have?

[2017-06-30 16:20] aghassemi commented on #9672
closing as dup of  #7607

[2017-06-30 16:23] lannka commented on #10082
@SchnWalter is there kinda industry-wise standard of this categorization? Some analytics vendor might go into one level deeper including the OS info.

Most likely, these are all derived from user agent string, so I think it should be the analytics vendor's job to categorize them in what ever way they like.

[2017-06-30 16:27] aghassemi commented on #10209
Thanks for reporting this @djavet. Prioritized.

[2017-06-30 16:28] aghassemi commented on #10206
/to @camelburrito

[2017-06-30 16:33] aghassemi commented on #10190
@imparvez if `amp-list` is not used and the list is simply a `ul`, then there is no loading really it will be instantaneous (with the exception of components like `amp-img`, `amp-iframe`, etc.. where a [placeholder](https://www.ampproject.org/docs/guides/responsive/placeholders) can be used to render this.

Were you thinking to delay the rendering (including text) of a whole item until its resourc

[2017-06-30 16:39] camelburrito commented on #10043
@ciampo - is there a JS bin/URL  of what you are trying to achieve? may be we might have some suggestions

[2017-06-30 16:41] wassgha opened #10212 "Preconnecting for amp-img"
When working on `tilt-to-zoom` I noticed that `amp-img` doesn't pre-connect to the source url which may cause some slowdown.

Will be fixed by #10142

[2017-06-30 16:46] wassgha opened #10214 "Position observer should report when element goes out of view"
One of the TODO's referenced by #9208 : the position observe currently returns `null` when an element is no longer in-view, giving no indication about its position. Out-of-view position is needed by the video docking mechanism as well as other projects.
This should not give an exact measure of the position of the element, but rather an indication of the relative position to the viewport (such as `

[2017-06-30 16:47] p2er commented on #10110
Are these changes present in the current AMP Version? I still encounter the same problem on https://ampbyexample.com/components/amp-youtube/ with IE11 Win8.1

[2017-06-30 16:49] Gregable commented on #10152
Closing. I'll update the issue when it's released.

[2017-06-30 16:49] #10152 closed

[2017-06-30 16:58] ciampo commented on #10043
You can find our code here https://github.com/toasterco/ampstart/tree/feature/template-lune/templates/lune

Basically the links in the amp-sidebar don't work as expected, as the sidebar manipulates the browser's history. We need them to link to different fragments of the page, as we are implementing page transitions mainly through the CSS `:target` selector.

[2017-06-30 17:00] choumx opened #10215 "Replace test-example-validation.js with validator tests"
To remove the requirement of `validator/build.py` from local testing flow caused by #10154.

/cc @cramforce

[2017-06-30 17:09] camelburrito commented on #10043
is there a live url to debug , that would be faster?

[2017-06-30 17:14] eduardogoncalves commented on #9264
@SashkaDev, thanks. I'll try it when I get home tonight.

[2017-06-30 17:15] #10093 closed

[2017-06-30 17:16] Gregable commented on #10093
This is fixed. I'll update the issue when it's released.

[2017-06-30 17:30] michaelkleber commented on #9546
Calling `renderStart` from `SlotOnload` seems appealing.  But are there ads that we make invisible until the `renderStart` call?  If so, then a slow but visually irrelevant tracking pixel could delay iframe onload and be a visually-bad side-effect.  So we'd need to be careful with such a change.

[2017-06-30 17:34] lannka commented on #7445
@dvoytenko will there be a global effort to localize the whole AMP?

[2017-06-30 17:37] aghassemi commented on #10110
Hi @p2er,  the fix is not in prod yet (fixes take between 7-14 days before they are shipped to production)

[2017-06-30 17:47] aghassemi opened #10218 "iOS 11 testing"
from @camelburrito

This issue is to do some iOS 11 testing during FixIt.

[2017-06-30 17:56] choumx commented on #10207
Strange, that shouldn't be necessary. Thanks for reporting this.

[2017-06-30 18:05] #10168 closed

[2017-06-30 18:09] aghassemi commented on #8385
closing as dup of https://github.com/ampproject/amphtml/issues/9379

[2017-06-30 18:09] #8385 closed

[2017-06-30 18:10] aghassemi commented on #9327
Closing as dup of https://github.com/ampproject/amphtml/issues/9379

[2017-06-30 18:10] #9327 closed

[2017-06-30 18:22] #7997 closed

[2017-06-30 18:33] dvoytenko commented on #10195
I think I got to the bottom of this. Basically, Safari behavior is broken with `font-face` due to these two issues:
https://bugs.webkit.org/show_bug.cgi?id=174030
https://bugs.webkit.org/show_bug.cgi?id=174031

I believe I can work it around. Please stay tuned. Interestingly enough, the 174031 appears to have been fixed in Safari 11.

[2017-06-30 18:45] dvoytenko commented on #7445
Not yet. I'd say it's coming, but not for a set of 2-3 strings. We need a bit more before we can justify this.

[2017-06-30 19:46] #10212 closed

[2017-06-30 19:52] #8235 closed

[2017-06-30 20:11] #2736 closed

[2017-06-30 20:14] #7771 closed

[2017-06-30 20:17] jasti commented on #9679
It's possible we are falling back to using delayed fetch in this case which is not ideal.
@lannka to confirm. Heads-up to @keithwrightbos to consider this case when making FF work for canonical.

[2017-06-30 20:20] #9939 closed

[2017-06-30 21:06] lannka commented on #7957
the discussion was continued (and stalled) in #8095 . we can close this

[2017-06-30 21:06] #7957 closed

[2017-06-30 21:47] camelburrito opened #10223 "Presubmit Check: Check if AMP CSS breaks specificity after refactor"
Have a presubmit check to test if AMP CSS changes broke specificity - This is always an issue when the specificity is broken on selector with public CSS classes/attributes/tags

@cramforce @rsimha-amp @dvoytenko @erwinmombay

Example - https://github.com/ampproject/amphtml/pull/9945

[2017-06-30 21:50] camelburrito opened #10224 "AMP Accordion broken due to higher specificity selectors"
Broken by https://github.com/ampproject/amphtml/pull/9945

<img width="1207" alt="screen shot 2017-06-30 at 2 42 07 pm" src="https://user-images.githubusercontent.com/1037311/27755263-7f2d09b0-5da3-11e7-93ee-eba6e7d01be2.png">

[2017-06-30 22:58] #10224 closed

[2017-06-30 23:38] honeybadgerdontcare commented on #9243
This is now live in prod.

[2017-06-30 23:38] #9243 closed

[2017-06-30 23:40] honeybadgerdontcare commented on #10044
This is now live in prod.

[2017-06-30 23:40] #10044 closed

[2017-06-30 23:44] #10195 closed

[2017-06-30 23:44] dvoytenko commented on #10195
@nzeeshan Ok. I believe this is fixed now for your case. This should be in canary next week.

[2017-07-01 01:02] jasonpang commented on #8791
@benlast

We found a somewhat vendor independent approach (to end users), with the following benefits:

- Developers don't need to write custom JavaScript code

  They still need to add files (that we provide) to their site (no way around this due to same-origin push policy), but we provide these files without requiring any extra modifications. Better yet, custom modifications (displaying supporti

[2017-07-01 01:10] jasonpang commented on #8791
@benlast Forgot to reply to extra values/state for `isSubscribedToPushNotifications()` (your comment #2).

Instead of the iFrame telling the AMP extension whether the user is subscribed or can be subscribed, the iFrame actually only tells the widget whether to _show_ the widget. This way, any custom logic for different use cases can be combined to make a decision on the widget visibility.

We were

[2017-07-01 01:32] #9702 closed

[2017-07-01 01:46] muxin opened #10227 "TypeError: Cannot call method 'replace' of undefined"
Error rate is high, happening in latest canary: 1498863866481
[code]
[code]

[2017-07-01 01:49] muxin commented on #10227
/cc @lannka

[2017-07-01 01:56] muxin commented on #10227
/cc @aghassemi, might be related to #9952

[2017-07-01 02:36] aghassemi commented on #10227
@lannka We are either hitting the 10000 timeout which would result in an `undefined` for `cid.get` (we should return `''` in the `catch` I believe) or somehow `getExternalCid_` is returning `undefined`. I don't think it is related to optout, if user is opted out, we always return empty string.

[2017-07-01 03:35] aghassemi commented on #10227
for now reverting 1% back to the version without cid but keeping optin canary until we can look into this issue (cid stuff should not have caused new errors)

[2017-07-01 11:53] SchnWalter commented on #10082
I'm not aware of anything on those lines, as far as I know ,this is something esoteric, some sort of black magic performed by the analytics vendors and  you can find some libraries that try to attempt such a thing, but it is prone to a lot of errors and updates over time.

I was hoping for a variable like this in order to have control over various things, but I guess that I could use the viewport

[2017-07-02 00:14] ericlindley-g opened #10230 "allow resize of amp-list on updating src via amp-bind"
I think this is not possible, but would be worth double-checking

/cc @choumx  — WDYT about this as a feature for amp-list + amp-bind?

[2017-07-02 09:46] nikant25 opened #10232 "AMP symbol"
Hi,
Perhaps you can use the AMP symbol as entity = `&#9889;` or `&#x26a1;` . Instead of the images that you are applying now.
Regards,
Nikolaj Antonov
nikant25@gmail.com

[2017-07-02 10:17] ruborg opened #10233 "Requirement of amp-form extension for input"
## What's the issue?

Documentation for `amp-form` component (https://www.ampproject.org/docs/reference/components/amp-form) states

(My emphasis on "any input tags")

This appears not to be true. If I include an `input` element without a `form` element and without including the `amp-form` extension, the page is still reported as valid. Is the documentation wrong, or should such a document be inva

[2017-07-02 11:12] faceyspacey commented on #10117
Having the same issue.

[2017-07-02 12:53] #10136 closed

[2017-07-02 12:54] mrjoro opened #10234 "Weekly Status 2017-07-03"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-07-02 19:27] Ewaznazari opened #10236 "key"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-03 05:40] techhtml commented on #10232
I don't understand about this.
What is your issue?

[2017-07-03 06:22] nikant25 commented on #10232
Currently, the W3 validator reports the error of the volt sign ⚡ that you are applying. If you apply the same sign as **[UTF-8 Miscellaneous Symbols](https://www.w3schools.com/charsets/tryit.asp?deci=9889)** this error is canceled. In addition, as a symbol, it will load faster than as an image.

[2017-07-03 07:11] gotwig commented on #9093
I would also welcome this.

[2017-07-03 10:41] imparvez commented on #10190
@aghassemi somewhat I was thinking the same to delay the rendering of a whole item as the resources are not always cached one and keep on changing a.k.a dynamic data.

[2017-07-03 14:47] lucanovera opened #10238 "Carousel doesn't support auto height"
## What's the issue?

I'm trying to create a carousel of news items but the carousel requires fixed height and the text inside the items is dynamic and height varies. I also tried using simply a "overflow: x" but then the images don't load because they're outside the viewport when the page loads.

## How do we reproduce the issue?

An example of what i'm trying to develop.
http://jsbin.com/qeyobof

[2017-07-03 15:32] lucanovera commented on #4555
Hello, i'm a developing a site that is 100% AMP (much like your website), this includes home, product pages, responsive and integration with a CMS.

I also find the 50K limit to be a problem, and this is no site conversion, it's just a big site developed specifically for AMP. Currently we're selectivly adding css based on the current templates and specific modules within templates.

If you plan on

[2017-07-03 18:41] aghassemi commented on #10232
@nikant25 Use of ⚡ is totally optional. You can use the word `amp` (e.g. `<html amp>`) instead.

[2017-07-03 18:41] #10232 closed

[2017-07-03 18:49] mauricionr opened #10239 "[Question] What's the easiest way to update AMP Cache for one page"
I'm trying to update the cache for one page, it's really needed gerenerate a RSA key?

the update-ping don't update the cache?

my first try was `https://cdn.ampproject.org/c/s/myamppage/amp`
and the second try was `https://example-com.cdn.ampproject.org/c/s/example.com/p/amp?amp_action=flush`

Thanks!

[2017-07-03 18:51] aghassemi commented on #10233
You are correct @ruborg, use of `input` for semantic purposes without requiring submission through `form` is valid without `amp-form`. PR for doc update is out.

[2017-07-03 18:52] aghassemi commented on #10236
No information in the bug report, please re-file if you are encountering a bug or need a feature.

[2017-07-03 18:52] #10236 closed

[2017-07-03 18:57] aghassemi commented on #10238
@lucanovera please subscribe to https://github.com/ampproject/amphtml/issues/6906 which is the same feature request.

Closing as dup of https://github.com/ampproject/amphtml/issues/6906

[2017-07-03 18:57] #10238 closed

[2017-07-03 19:02] aghassemi commented on #10239
@mauricionr  Have you tried `https://cdn.ampproject.org/update-ping/c/s/myampsite.com/amppage` ? `update-cache` requests signature but `update-ping` does not.

[2017-07-03 19:07] mauricionr commented on #10239
@aghassemi i've tried with this one `https://cdn.ampproject.org/update-ping/c/s/myampsite.com/amppage`
and i got redirected to `https://cdn.ampproject.org/c/s/myampsite.com/amppage`

how long take to update?

the docs said this approach will return status 204 but i got 200

[2017-07-03 19:16] mauricionr commented on #10239
@aghassemi i got 204, but i'm still getting cached content in the search results

[code]

what's the diff bettewen `update-cache` and `update-ping`?

[2017-07-03 19:25] aghassemi commented on #10239
Number of `update-ping` requests you can make it limited but `update-cache` allows for higher request rates because the requests are signed.

Also AFAIK, neither should take more than 4-5 minutes before cache is update.

[2017-07-03 19:29] wassgha commented on #9355
@aghassemi not sure I totally get this, are we replacing the `blockquote placeholder` by the `div fallback` behavior or are we keeping both?

[2017-07-03 19:37] mauricionr commented on #10239
weird @aghassemi, is taking more than 4-5 minutes :thinking:

[2017-07-03 19:37] aghassemi commented on #10239
/cc @honeybadgerdontcare

[2017-07-03 19:42] aghassemi commented on #9355
so `blockquote` is irrelevant, anything can be a `placeholder` or `fallback` and we support both of these in AMP. essentially we want

[code]

[2017-07-03 19:45] aghassemi commented on #10230
are `width`, `height`, `layout` not bindable? seems useful regardless of use-case with `amp-list`.

[2017-07-03 19:59] honeybadgerdontcare commented on #10239
It'd be helpful to have an actual example of what you're seeing (stale cache) and what you wish you were seeing (fresh cache or origin). If you don't want to post it here, could you provide it in a PM over [slack](https://amphtml.slack.com/)?

/cc @Gregable since I'm mostly OoO

[2017-07-03 19:59] honeybadgerdontcare commented on #10239
@mauricionr could you message me on slack with the url

[2017-07-03 20:12] ericlindley-g commented on #10230
I believe width and height are bindable — not sure about layout, though: do you have a use case in mind for that?

[2017-07-03 20:56] mauricionr commented on #10239
Thanks @honeybadgerdontcare i will send a PM!

[2017-07-03 21:15] bayupiliang opened #10241 "Amp"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-03 21:22] aghassemi commented on #10241
No information in the bug report, please re-file if you are encountering a bug or need a feature.

[2017-07-03 21:22] #10241 closed

[2017-07-03 21:28] #10233 closed

[2017-07-03 22:57] ericlindley-g commented on #9860
Note to possibly combine case where developer wants to display statically rendered content on first load, then update content with amp-bind later. In that case, should not send call to server in the first place.

[2017-07-03 22:58] wassgha commented on #9355
@aghassemi So I believe my concern is whether the placeholder should disappear or not when the tweet has loaded (whether loading failed or succeeded). In the current behavior, I don't think the placeholder disappears and I don't think it makes sense to have both the placeholder and the fallback displayed in the case where a tweet doesn't exist for example.

[2017-07-03 23:00] ericlindley-g opened #10242 "bind to form validation state"
/cc @choumx

[2017-07-03 23:01] ericlindley-g commented on #9860
Note to possibly combine ability for amp-list to collapse completely if no data is returned

[2017-07-03 23:17] ericlindley-g commented on #9862
@choumx  — this is interesting. Since developers could specify their own placeholder/loading indicator, this might fit the need nicely.

[2017-07-04 02:02] echopi opened #10244 "Redirect from 'https://stats.g.doubleclick.net..' has been blocked by CORS policy"
## What's the issue?

Redirect from 'https://stats.g.doubleclick.net..' has been blocked by CORS policy
## How do we reproduce the issue?
1. visit: https://cdn.ampproject.org/c/s/m.aliexpress.com/amp/price/red-bottom-high-heels_price.html
2. go devtool console to see google analytics error

[code]

[2017-07-04 02:11] Ewaznazari opened #10245 "Key international academy"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-04 03:57] Ewaznazari opened #10246 "Key international academy"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-04 03:57] #10246 closed

[2017-07-04 03:58] Ewaznazari opened #10247 "Key international academy"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-04 03:59] Ewaznazari opened #10248 "Key international academy"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-04 04:02] Ewaznazari opened #10249 "Key international academy"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-04 04:17] #10249 closed

[2017-07-04 04:17] #10248 closed

[2017-07-04 04:17] #10247 closed

[2017-07-04 06:37] 88kbbq commented on #3719
You should add information on where to obtain the data-param-app_id and also remind users this social share links to your app, not your fan page. That's not the way I'd imagine this to work. Why and app_id? Why not a page id?

[2017-07-04 07:13] jasonpang commented on #9850
I'd like to design review [`amp-push-notifications`](https://github.com/ampproject/amphtml/issues/8791).

[Design Doc Link](https://docs.google.com/a/onesignal.com/document/d/15VBR9Ht373TW0KwYD5RUGfafX4nELbP-6uWj7ngIRWU/edit?usp=sharing)

[2017-07-04 07:18] jasonpang commented on #8791
@benlast I put up [the design doc for the 7/5 design review](https://github.com/ampproject/amphtml/issues/9850).

[2017-07-04 09:34] bjalford commented on #9792
Is there an ETA for this? It would improve the speed of the first load in PWA. 3rd pageview we are already caching the amp runtime other extensions but 2nd time would make a big difference

[2017-07-04 11:03] KasunWijesekara commented on #2931
Did anyone find a fix for this issue ?

[2017-07-04 11:13] ciampo commented on #10043
Sure, here's the [staging link](https://gweb-amp-template-lune.firebaseapp.com/templates/lune/lune.amp)

[2017-07-04 16:09] bpaduch commented on #3719
Added further info on facebook app_id to amp-social-share doc.  Regarding why app_id vs page id - @mkhatib - can you discuss?

[2017-07-04 16:14] camelburrito commented on #10043
To quickly unblock you - you can use amp-bind to add classes and achieve this without using :target , while we investigate this.

[2017-07-04 16:37] ciampo commented on #10043
Thanks for the quick workaround.
Unfortunately, however, that would fix this specific problem, but would make it impossible to deep link to any page but the homepage, and to have the back/forward history working (which is the main reason why we are using ids + `:target`)

[2017-07-04 17:02] mauricionr commented on #10239
@honeybadgerdontcare sorry the delay, i've sent a PM to you!

[2017-07-04 19:52] hamousavi commented on #9862
Agreed with @ericlindley-g . This will nicely fit our case.

[2017-07-04 20:24] camelburrito commented on #10043
deep linking should automatically make `:target` work, so for now you can have both the solutions, and once we fix the history we can remove the bind hack.

[2017-07-04 21:51] benlast commented on #8791
@jasonpang yes, I'd like to join the review.

[2017-07-04 22:51] honeybadgerdontcare commented on #10239
Thanks for the url. Opened b/63304047 internally for tracking.

[2017-07-05 00:01] #10227 closed

[2017-07-05 09:02] kul3r4 opened #10258 "Add a component to support floating comments"
Similarly to [https://medium.com/@owencm/designing-great-uis-for-progressive-web-apps-dd38c1d20f7](https://medium.com/@owencm/designing-great-uis-for-progressive-web-apps-dd38c1d20f7) where you can highlight a word, click and a popup is shown, would this be possible in an AMP page in a scenario where you want to be able to create a comment by clicking on text?

amp-bind could help by showing / hid

[2017-07-05 09:30] kul3r4 commented on #9874
This was not a bug but a wrong configuration on server side. Solved [here](https://github.com/ampproject/amp-by-example/pull/883)

[2017-07-05 09:30] #9874 closed

[2017-07-05 09:50] zahiribishi opened #10259 "One item invisible on hover of the menu"
*You have a bug in menu
![bug](https://user-images.githubusercontent.com/15115833/27859146-18d9c53a-6178-11e7-9d09-ed3fcf3105db.png)

[2017-07-05 13:54] kmh287 commented on #9459
@aghassemi I tested on iOS 11 and it looks like this issue may be resolved.

[2017-07-05 15:16] rsimha-amp commented on #10234
- Added a new visual diff test (#10151)
- Dealing with Percy snapshot timing issues due to asynchronous image loading (#10156)
  - In conversation with Percy folks, working on a fix
- Working on enabling individual sauce labs tokens for committers (#10086)
  - Currently blocked by Travis issue https://github.com/travis-ci/travis-ci/issues/8007
- Discovered and filed log coloring issue with Travis

[2017-07-05 15:31] aghassemi commented on #9459
@kmh287 Great! Thanks for the update

[2017-07-05 15:51] ericlindley-g commented on #10258
Sounds interesting — @kul3r4, where in the link can I find the interaction? (not sure I understanding it yet)

[2017-07-05 15:53] kul3r4 commented on #10258
Open the medium article, then double click on any word, a popup appears suggesting comments or twitter and couple of other things.

[2017-07-05 15:54] choumx commented on #9679
Reassigning to @lannka per comment above. Let me know if I can help.

[2017-07-05 15:55] Ewaznazari opened #10260 "Key international academy"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-05 16:04] ericlindley-g commented on #10258
Ah, thanks! /cc @choumx for visibility.  Would be curious to hear from @aghassemi and/or @choumx  about feasibility and tradeoffs here.

[2017-07-05 16:31] cramforce commented on #9850
I will miss the first half hour of the meeting.

[2017-07-05 16:54] cramforce opened #10261 "Fix potential FOUC in amp-accordion"
The quick-fix #10225 re-introduced a potential FOUC into `amp-accordion`. Investigate whether the specificity issues can be fixed without relying on `buildCallback` to add CSS classes.

[2017-07-05 16:58] ericlindley-g commented on #3719
Thanks @bpaduch!
/cc @aghassemi in lieu of @mkhatib

[2017-07-05 17:08] cramforce commented on #10234
* Turned on type checking for all AMP extensions. Fixed a few 100 type errors.

[2017-07-05 17:20] WillDonohoe opened #10262 "[amp-img] - Loading fails when the element goes from display: none to block"
## What's the issue?

If an amp-img is (or in a container) which is `display: none`, and during runtime the element display is set to anything other than none, the amp-img will fail to load.

The markup looks like the following when the image should be visible:

    <amp-img layout="responsive" src="/path/to/image.png" width="500" height="500" class="i-amphtml-element i-amphtml-layout-responsive i

[2017-07-05 18:10] aghassemi commented on #10258
Here is what I believe we need to have to support this:
[ ] - `selectionchange` event (polyfill of https://developer.mozilla.org/en-US/docs/Web/Events/selectionchange )
[ ] - `amp-tooltip` that can be positioned relative to a given `element` or `SelectionRange`.

[2017-07-05 18:20] aghassemi commented on #7626
@spacedino UX might be needed for the animation curve of the smooth scrolling. Chrome is also adding this feature, We might be able to just borrow the curve from their implementation.

[2017-07-05 18:21] aghassemi commented on #9421
@spacedino arrows vs dots decision

[2017-07-05 18:48] aghassemi commented on #10262
We don't fully support changing the visibility of an element through css selector yet. Instead, you can use the `hidden` attribute and the AMP `show()` or `toggleVisibility()` actions. Please see http://codepen.io/aghassemi/pen/JWmNoB

[2017-07-05 18:48] #10262 closed

[2017-07-05 18:49] #10260 closed

[2017-07-05 18:51] aghassemi commented on #10259
Thanks for the report @zahiribishi . I moved the bug to amoproject.org's own github repo here: https://github.com/ampproject/docs/issues/598

[2017-07-05 18:51] #10259 closed

[2017-07-05 19:07] rsimha-amp commented on #10086
Unfortunately, this seems to have hit a dead end, since Travis doesn't support dynamically setting a JWT secure key. See https://github.com/travis-ci/travis-ci/issues/8007#issuecomment-313196927

[2017-07-05 19:12] jridgewell commented on #10086
Why do we need a JWT key?

[2017-07-05 19:14] rsimha-amp commented on #10086
@jridgewell https://github.com/ampproject/amphtml/issues/10086#issuecomment-311768408

[2017-07-05 19:15] cramforce commented on #10086
@rsimha-amp Could you roll back the code and the credentials related to the non-JWT approach?

[2017-07-05 19:15] mrjoro opened #10263 "Design Review 2017-07-12"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-05 19:16] mrjoro opened #10264 "Design Review 2017-07-19 (roots, video docking, floating audio controls)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-05 19:17] mrjoro opened #10266 "Design Review 2017-07-26"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-07-05 19:25] cramforce opened #10267 "Feedback that lazy loading on iOS is sometimes broken"
I've heard in various places (Twitter, here in bugs) that lazy loading in iOS is sometimes broken. I believe @jpettitt mentioned at some point to have seen this.

We should spend some quality time trying to repro this.

@dvoytenko's font sizing bug could be a candidate, or some other measuring related issue. This seems bad enough to spend a day or 2 investigating.

[2017-07-05 19:51] mauricionr commented on #10239
@honeybadgerdontcare we change our cache control approach and the cache was updated

Thanks!!

[2017-07-05 19:51] #10239 closed

[2017-07-05 19:51] mauricionr commented on #10239
Thanks @aghassemi

[2017-07-05 20:04] jridgewell commented on #10244
/to @jasti

[2017-07-05 20:30] jpettitt commented on #10267
Subjectively it seems to happen on pages that are not in the browser cache.  I've not been able to generate a solid repro case.

[2017-07-05 20:46] aghassemi commented on #8791
@jasonpang  a more detailed version of what I was thinking as discussed in the meeting today.
[code]

`<div subscribed>` is optional, if not provided, `<div notsubscribed>` will simply become hidden and widget becomes empty. Ideally we can detect whether we can also collapse the whole `<amp-webpush-subscribe-widget>` when it is empty (e.g. if not inside viewport or in a position fixed parent)

[2017-07-05 20:49] mrjoro commented on #9850
Notes from the design review:

- is this using standard APIs?
  - yes
- how does the transport work for notifications?
  - it just uses the web push protocol that was introduced a couple of years ago; out of scope for the extension
  - intent of extension is to support publishers who want to implement it themselves (e.g. their own service worker), but also support people that want to support third

[2017-07-05 21:03] aghassemi commented on #10267
Anyone has one or two Urls that have shown this behaviour?

[2017-07-05 21:14] choumx commented on #9379
`should play/pause when video enters/exits viewport` is flaky on Safari 9.

	timeout of 20000ms exceeded. Ensure the done() callback is being called in this test.

- https://travis-ci.org/ampproject/amphtml/jobs/250500948
- https://travis-ci.org/ampproject/amphtml/jobs/250509255

[2017-07-05 21:43] cramforce commented on #10267
@aghassemi It was reported for https://scotthelme.co.uk/revocation-is-broken/amp/

Testing with empty cache might be a good hint.

[2017-07-05 21:43] jessanastasio opened #10272 "Allow for Page Link Copying"
It would be great to have the ability to copy to the clipboard.

Use case: a link button (that would live with other social share buttons) that would copy the site's URL to the clipboard, which you could pair with an `amp-user-notification` stating something like "Link copied!"

[2017-07-05 21:50] jridgewell commented on #10272
Closing a a duplicate of https://github.com/ampproject/amphtml/issues/4853. We had https://github.com/ampproject/amphtml/pull/7749, but it stalled. /cc @torch2424

[2017-07-05 21:50] #10272 closed

[2017-07-05 21:59] #2808 closed

[2017-07-05 22:03] cramforce commented on #10267
For reference https://twitter.com/tunetheweb/status/882665318262464517

[2017-07-05 22:13] bazzadp commented on #10267
Seems worse in Twitter app. Loading same URL in Safari often seems to work, though I think I've seen it on Google search results in Safari too (couldn't be 100% certain on that though). Which is weird as I thought all apps on iOS used same rending engine as Safari app?

Twitter now automatically uses AMP URLs when they exist (in mobile only?) even if plain URL was used, so happening a lot more :-(

[2017-07-05 22:31] bazzadp commented on #10267
Reproduced repeatedly with that URL (https://scotthelme.co.uk/revocation-is-broken/amp/) on:

iPhone 6s (iOS 10.3.2) in Twitter app. Only first two images load. Cannot reproduce in Safari at the mo.

iPad Air (iOS 10.3.2) in Twitter app. Only first 6 images load. Cannot reproduce in Safari at the mo.

Both on Wifi with good internet connection.

[2017-07-05 22:59] aghassemi commented on #10267
Thanks @bazzadp, very helpful!

[2017-07-05 23:37] cramforce commented on #10267
@dvoytenko Could it be that this was caused by the same underlying cause as #10195

The example page does have a custom font and lots of text.

[2017-07-06 00:11] cramforce commented on #10267
@bazzadp Can you always repro? if you reload the page (via enter in URL bar), does it repro then?

[2017-07-06 00:20] aghassemi commented on #10267
This repros a good 50% of the time for me in Private mode on Safari/iOS 10.3.2. I have also been able to 100% repo using the followin approach:

1- load the url, scroll to the middle
2- reload, safari maintains the scroll position but now images won't load anymore.

[2017-07-06 00:25] cramforce commented on #10267
Adjusting priority to P0.

[2017-07-06 00:36] cramforce commented on #10267
I think it is a separate issue.

Forcing relayout when it repros does not fix it.

[2017-07-06 00:40] cramforce commented on #10267
Layout state is `READY_FOR_LAYOUT` and they seem to be measured correctly with repro.

[2017-07-06 00:42] aghassemi commented on #10267
seems font related, removing loading of the custom font (e.g. remove `<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,600,400" />`) fixed it.

[2017-07-06 01:08] dvoytenko commented on #10267
Looking. Does seem like it could be font related.

[2017-07-06 01:53] aghassemi commented on #10267
@dvoytenko @cramforce I have been able to repro this using local proxy **_without_** Dima's recent fix for https://github.com/ampproject/amphtml/issues/10195 and **_not_** been able to _repro_ **_with_** Dima's fix. Not 100% sure it is not an unlucky coincidence but I looks like https://github.com/ampproject/amphtml/pull/10221 has fixed this. I suggest we cherry-pick it on Canary (that fix missed

[2017-07-06 03:14] cramforce commented on #10267
Did some more testing. Pretty sure that this would be fixed by #10221. My comment above "Forcing relayout when it repros does not fix it." is wrong. It does fix it, same as resizing the window.

[2017-07-06 04:20] jasti commented on #10244
Think this is related to GA. Over to @avimehta.

[2017-07-06 05:25] jmoney99 opened #10275 "Pj amp"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-06 05:29] #10275 closed

[2017-07-06 09:29] WillDonohoe commented on #10262
Thanks for your prompt reply, unfortunately this won't fix our use-case as we need to toggle the view of an element without a click. However, we'll look into alternative solutions if it is not supported right now

[2017-07-06 13:59] cramforce opened #10276 "Re-measure on document.fonts.ready"
We should track the state of `document.fonts.ready` and schedule a re-measurement of the doc when it resolves after our regularly scheduled measurements.

#10221 addressed the slow font case, but results can still shift after when the fonts eventually load.

[2017-07-06 14:01] cramforce commented on #10267
I don't have an iPhone with Twitter with me, but the in-app-browser definitely uses storage separate from Safari. The font issue discussed here happens when this is true:

- AMP JS loaded (e.g. it was already in cache)
- `document.readyState` reaches at least `interactive`
- Fonts have not loaded yet

I suspect that differences between WebKit instances are random and just depend on whether they ha

[2017-07-06 14:46] rsimha opened #10277 "Significantly speed up `gulp dist`"
The build command we run on Travis before running integration tests is `node_modules/gulp/bin/gulp.js dist --fortesting`. This currently takes more than 13 minutes on Travis, while it takes only ~3 minutes on my linux workstation and macbook pro.

This issue is to track the compiler work that's being done to speed up the build. Doing so will enable us to turn on integration testing for all PRs, an

[2017-07-06 14:47] rsimha-amp commented on #10277
/cc @erwinmombay @choumx @cramforce

[2017-07-06 14:50] rsimha-amp commented on #10277
Note to self: given the huge difference in the build times on Travis vs. local machines, it might be worth doing some fine grained profiling of the build to see if there are any steps in particular that take significantly longer on Travis.

[2017-07-06 14:52] rsimha-amp commented on #10164
Update: I've raised this with the Percy folks, and will post more updates here.

[2017-07-06 14:56] MadisonMiner commented on #9916
I'm running in to the same problem. Do we know when the fix will be released to production?

[2017-07-06 15:26] choumx commented on #10234
- Fixed a few A4A and PWA bugs
- Fixed some flaky tests, added build cop rotation
- Discussed ways to improve testing in AMP, added documentation to describes.js

[2017-07-06 15:54] vikulksinghal commented on #6625
HI

I have try to create autocomplete during amp form

https://github.com/vikulksinghal/amp-autocomplete
check it and give mark me if my code help you

[2017-07-06 16:05] choumx commented on #9916
Fix should land in production by mid next-week. Thanks for your patience!

[2017-07-06 16:51] rsimha-amp commented on #10156
After investigating this further, waiting for a while between `page.visit` and `Percy::Capybara.snapshot` doesn't seem to be making any difference. The images are still missing. However, the webserver logs do indicate that the assets are being loaded after the call to `page.visit`.

I'll raise this with the Percy team via a bug in their repository.

[2017-07-06 18:02] cvializ commented on #10234
- Video analytics
- GFI #8880 help

[2017-07-06 18:06] camelburrito commented on #10234
Reviewed a lot of code/design for AMP Start
Reviewed a lot of code for sidebar 1.0
Fixed P0 on Accordion (backward compatibility)

[2017-07-06 18:06] gurmukhp commented on #10234
- various workflow improvements such as enabling amp-mustache and allowing common data across templates
- first 'commerce' template checked in with hero component and styling for header and navbar
- Currently working on a product page with colour picker & image gallery

[2017-07-06 18:08] rsimha-amp commented on #10155
This is currently blocked by #10156 and https://github.com/percy/percy-capybara/issues/44

[2017-07-06 18:12] lannka commented on #10234
- fixed non-hermetic test test-amp-ad-3p-impl.js & test-amp-user-notification.js
- Generate ClientID using ClientID API via Viewer
- Install CID service in core

[2017-07-06 18:18] torch2424 commented on #10234
Last Week: Wrap up Sidebar 1.0 - Toolbars. Now just need docs and work with validation team
This week: a11y bugs, plan for sidebar docking

[2017-07-06 18:18] jongrim commented on #9597
I'd like to take this on if available. I believe the [CustomEvent polyfill](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent) can be repurposed to work here.

[2017-07-06 18:40] glevitzky commented on #9964
Unfortunately, after some internal consultation, I have to stand by my original assessment. The order of the sizes cannot be changed, because the backend expects them in the order currently given.

[2017-07-06 18:43] dvoytenko commented on #10267
For reference, here's the WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=174031. It has already been fixed in Safari nightly. Hopefully it will make it into Safari 11 release. We found a workaround, but it's definitely better with the native fix.

[2017-07-06 19:04] muxin commented on #10234
- Lightbox 2.0: use position relative for caption overflow
- Fix lightbox caption overflow scroll in ios
- On duty

[2017-07-06 19:23] mrjoro commented on #10018
Hi @subhankar-panda; do you have any updates on your PR?  Let us know if you need any help.

[2017-07-06 19:24] wassgha commented on #10234
- Merged video docking phase 1
- Worked on multiple bug fixes for video docking (PR in)
- Worked on drag/snap code for video docking (still baking)
- Reviewed tilt to zoom with the lightbox team
- Made demo for fullscreen amp viewer
- Merged playlist support to `amp-soundcloud` (FIXIT WEEK)
- Worked on `amp-twitter` fallback (PR in) (FIXIT WEEK)
- Added preconnection to `amp-img`
- Added polyfill

[2017-07-06 19:37] choumx commented on #9908
One of the few remaining flaky tests on master.

Looks like multiple browsers causing race conditions by running these tests concurrently (`/withdraw` waits for `/deposit`). Note the HTTP 500 failure at the bottom due to simultaneous withdrawal.

	Error: timeout of 10000ms exceeded. Ensure the done() callback is being called in this test.

	timeout of 10000ms exceeded. Ensure the done() callback i

[2017-07-06 20:05] cramforce commented on #10267
This should now be fixed after going to https://cdn.ampproject.org/experiments.html and opting into "Dev Channel".

[2017-07-06 20:06] cramforce commented on #10267
We also patched this into last week's canary, so it will go to everyone soon.

[2017-07-06 20:14] cramforce commented on #10267
@aghassemi Could you make sure it is fixed with the canary?

[2017-07-06 21:17] #10267 closed

[2017-07-06 21:19] cramforce commented on #9397
We need a faster fix for this.

Could this be the same issue as #10267. Did this repro in Chrome? Would the workaround for #10267 fix this?

[2017-07-06 21:22] #7156 closed

[2017-07-06 21:25] cramforce commented on #9397
Still repros. We need to fix this immediately. I don't see how this can be related to #9279

[2017-07-06 21:39] #9908 closed

[2017-07-06 21:39] jridgewell commented on #9397
Working on it now. We can do a really dirty fix by requesting remeasures of everything after build/layout. Layers code will do this, though it'll be a bit smarter.

[2017-07-06 21:42] dvoytenko commented on #9397
I don't think remeasures after build/layout would work - no guarantee that siblings are fully stubbed correctly. I think we need to figure out a way to estimate completion of stubbing for everything or by groups and request remeasures based on that. We now do something similar for font, but we need to find a way to do it for stubbing as well, unfortunately.

[2017-07-06 21:48] cramforce commented on #9397
Can't we just debounce a remeasure after calling `buildCallback`?

[2017-07-06 21:50] dvoytenko commented on #9397
`buildCallback` is too late. The right one is `applyLayout`. And, yes, we can debounce it after each - still a lot of debounces for the initial stage with full remeasure though. But would fix the problem.

[2017-07-06 21:52] cramforce commented on #9397
Was thinking something like debounce over 1 or 2 seconds.

[2017-07-06 21:53] #10203 closed

[2017-07-06 21:58] jridgewell commented on #9397
`#buildCallback` is called immediately if the document has already been parsed, though. And if it's not parsed, it's likely ok?

[2017-07-06 22:14] dvoytenko commented on #9397
With @cramforce 's change, `buildCallback` has two problems:

1. It's highly throttled in prerender.
2. It waits for the script to download. That means that we are missing out on valuable time to remeasure many elements, especially builtins such as images, before something can get the right measures.

I think we just need, for now, to signal resources manager to debounce remeasures some time after

[2017-07-06 22:47] dvoytenko commented on #9792
I think pre-caching `amp-shadow.js` itself would work correctly. No?

[2017-07-06 23:05] #10206 closed

[2017-07-06 23:37] dvoytenko commented on #10147
The main difference with native now (post parsing) is that `w` srcsets (sort of) require `sizes` attribute. "sort of" because a quick test shows that Chrome still does some selection without `sizes`. I'm not sure what other browsers do. AMP does not require `sizes` and always utilizes the actual measured `width` to selector srcset. If we reimplement via native - we need to test across browsers how

[2017-07-06 23:39] cramforce commented on #10147
@wassgha Should be trivial to manually test. Maybe make an opt-in experiment for it and just submit that?

[2017-07-06 23:50] wassgha opened #10295 "Components that preconnect cause an error when they are inside `amp-app-banner`"
## What's the issue?

Throws this error (doesn't cause any other problems)

[code]

## How do we reproduce the issue?

1. Go to http://localhost:8000/examples/article.amp.html
2. Simulate a mobile device with the Chrome developer tools
3. Re-load the page
4. The error will appear

@aghassemi tracked this error to the medium image inside the `amp-app-banner` and the error apparently has to do with

[2017-07-07 00:21] mrjoro commented on #9597
Great!  I've added the GFI Claimed! label to let others know someone is working on this; I've also sent you an invite to join the ampproject so we can assign this issue to you.

@choumx can answer any questions you might have about this issue. :)

[2017-07-07 00:30] aghassemi commented on #10295
Verified that it happens with any component that preconnects, including amp-iframe

[2017-07-07 01:13] aghassemi commented on #10295
(this is due to amp-app-banner removing itself from the DOM between `buildCallback` and `preconnectCallback` of its children causing them not to be connected anymore. We just need to make sure runtime checks for attachment as it moves between stages of the component's lifecycle.)

[2017-07-07 05:29] 88kbbq opened #10298 "Add error line numbers in console"
## What's the issue?

Error reported in dev tools are long and indecipherable. Why not add the line number of the error in the HTML document instead of the line number in AMP javascript causing the error? This way, developers can easily spot errors in their HTML documents.

## How do we reproduce the issue?

1. Build an AMP HTML site with errors
2. View firebug or Google dev tools to see console
3

[2017-07-07 08:32] jaspermdegroot opened #10300 "amp-video with layout "fill" is broken"
## What's the issue?

`amp-video` with `layout="fill"` is missing the `source` elements inside the generated `video` element after initialisation. Only after resizing the window they are added and the video can be played.

## How do we reproduce the issue?

Test page: https://jsbin.com/soxunut/edit?html,output

Open the test page and you'll see the poster image in the output pane. Resize the pane

[2017-07-07 14:24] bradfrizzell opened #10302 "Remove useSameDomainRenderingUntilDeprecated"
The useSameDomainRenderingUntilDeprecated flag for GPT should be removed.

See [here](https://github.com/ampproject/amphtml/blob/021c613dc6c06e34fac9da9e55f4a0d6fb1a1cee/ads/google/doubleclick.md#temporary-use-of-usesamedomainrenderinguntildeprecated) for reasons why it was added. We no longer need it, as creatives can use the amp context library which will load window.context inside a cross domai

[2017-07-07 16:21] aghassemi commented on #9397
This newly raised issue: https://github.com/ampproject/amphtml/issues/10300  is  related but for `layout=fill`. The `i-amphtml-layout-fill` is applied too late for runtime to understand that the item's size is not 0 in the first layout pass. Interestingly if I copy the `i-amphtml-layout-fill` CSS from core to `<style amp-custom>` for that page, everything works; so it may not be that `i-amphtml-la

[2017-07-07 16:24] aghassemi commented on #10300
Related: https://github.com/ampproject/amphtml/issues/9397#issuecomment-313728001

[2017-07-07 16:56] rudygalfi opened #10307 "Add developer documentation for using extension analytics"
To finish extension analytics work (#9484), we need to add developer documentation on usage. Topics covered should be:

* Details on the available APIs
* Note all restrictions (e.g. selectors must be scoped to the extension)
* Specify that extension developers must provide some pointers to their own documentation with description of how data transmitted from the extension is used

[2017-07-07 17:00] 01azzerghhuy opened #10308 "TA"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-07-07 17:00] 01azzerghhuy commented on #10308
`
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('ini

[2017-07-07 17:38] mrjoro commented on #10191
hi @jessanastasio; @aghassemi mentioned that you were thinking about taking on this issue; thanks!  I've invited you to join the AMP Project on GitHub; once you accept that we can assign this issue to you.

Let us know if you need any help getting started.

[2017-07-07 17:41] jessanastasio commented on #10191
thanks @mrjoro! just accepted the invite and forked the project - you can go ahead and assign the issue to me 👍

[2017-07-07 18:10] Mordeaux opened #10311 "Fixed position button has padding issue."
## What's the issue?

On our AMP pages we have a button that is fixed to the bottom of the page on mobile. Sometimes there is a lot of extra padding underneath this button, pushing the button up and taking up too much of the screen.

The extra padding disappears if we touch it and swipe scroll from there.

## How do we reproduce the issue?

We have seen this issue when we search for any of our res

[2017-07-07 18:45] lannka opened #10312 "window.context.data missing in the new API"
Likely a copy-paste bug: https://github.com/ampproject/amphtml/blob/master/3p/ampcontext.js#L248

reported from #10306

[2017-07-07 18:55] ericlindley-g opened #10313 "FR: ability to drag carousel on desktop"
Functionality request from designers working on new AMP Start templates (will also be nice for those making responsive AMPs in general)

/cc @spacedino  @camelburrito @aghassemi

[2017-07-07 18:58] ericlindley-g opened #10314 "FR: jump to specific spot in amp-carousel on load"
Functionality request from designers working on new AMP Start templates

/cc @spacedino @camelburrito @aghassemi

[2017-07-07 18:59] lannka commented on #9972
Confirmed with Alan offline that such a container is a thing already used by ad networks.
The decision is to use a `div` instead of introducing a specific tag name.

We can close this once the renaming is done.

[2017-07-07 19:01] camelburrito commented on #10313
This is  not Feasible on carousels with iframes/embeds

[2017-07-07 19:05] rsimha-amp commented on #10277
Next step: Enable build logging on Travis and see if there's any step that takes a particularly long time.

[2017-07-07 19:51] #10312 closed

[2017-07-07 20:50] subhankar-panda commented on #10018
Hey, I finished work on it a couple of days back, I'll send the PR within the next couple of days!

[2017-07-07 20:55] #10308 closed

[2017-07-07 21:12] aghassemi opened #10318 "Support resize for amp-pinterest"
Currently `amp-pinterest` does not support resizing meaning if the initial width/height provided is wrong, component will get cut off .

pinterest API provides the real width/height of the image and we already have that data, so we should `attemptChangeHeight` change if provided width/height are different than that pinterest reports ( of course `attemptChangeHeight` is not gauranteed and only work

[2017-07-07 21:33] #10215 closed

[2017-07-07 22:30] dandv commented on #9860
@ericlindley-g: good to see my FR #5686 got included here. Thanks!

[2017-07-07 22:33] dvoytenko commented on #9761
@rowangray Thanks for the report. These should be polyfilled already. Let me check where/why this might not be the case.

[2017-07-07 22:47] lannka commented on #9959
OK, so we can introduce a new var `TIMESTAMP_FORMATTED`, which will prints`new Date().toLocaleString()`.

[2017-07-07 22:55] lannka commented on #9959
oh, `toLocaleString()` won't work, since you expect same formatting. we will have to format it manually

[2017-07-07 22:55] dvoytenko commented on #9343
@cramforce @choumx I'm a bit confused. Do we agree that the first render is fast enough here?

[2017-07-07 22:58] #10214 closed

[2017-07-07 23:01] #9415 closed

[2017-07-07 23:18] dvoytenko commented on #9882
@camelburrito Why this happens seems pretty obvious to me. It appears that FF fires a scroll event on carousel when it changes `display` style. It looks like in the case when `display: none`, the container width is measured as 0 and thus it calculates that the last slide must be visible.

Not sure what's the best workaround for this. I'd try to avoid responding to scroll events due to display chan

[2017-07-07 23:19] dvoytenko commented on #9882
I'm changing this back to P1 - I think there's a chance that other browsers would behave similarly.

[2017-07-07 23:27] camelburrito commented on #9882
oh yeah this makes total sense now, i tested this and it was only replicable on FF, not sure is this is still a P1, i guess we will have to measure the width of the container and only proceed when width is not 0.

Does onLayoutMeasure fire in such scenarios?

[2017-07-07 23:30] dvoytenko commented on #9882
Yes, `onLayoutMeasure` does fire for `display:none`, however, it's no guarantee that it will fire immediately - most of times it'll be somewhat delayed (async process). My guess in this scenario it happens a bit faster than in others.

[2017-07-07 23:31] aghassemi opened #10321 "amp-img placeholder and fallback changes behavior after viewport rotation"
See https://s.codepen.io/aghassemi/debug/dRqLmz

**Current behaviour**
if amp-img has **both** placeholder and fallback and image fails to load:
1- it shows both placeholder and fallback on top of each other
2- when phone is rotated, placeholder goes away and fallback stays

if amp-img has **just placeholder** and image fails to load:
1- it shows placeholder
2- when phone is rotated placeholder go

[2017-07-07 23:54] cramforce commented on #9343
My point is that this line of code
https://github.com/ampproject/amphtml/blob/8dcf8936b0c7c3f850ffffd721a4078fb0c9176f/src/runtime.js#L327

is supposed to always allow the browser to draw a frame before installing any extensions.

Is this not what you are seeing?

[2017-07-09 21:24] #10234 closed

[2017-07-09 21:24] mrjoro opened #10324 "Weekly Status 2017-07-10"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-07-09 22:01] #9850 closed

[2017-07-09 22:53] jpettitt opened #10325 "amp-analytics (GA) firing erratically"
Repro case:

Open this page http://www.diffen.com/difference/Cappuccino_vs_Latte?ampver in a new incognito window in Chrome iPhone emulation -

No analytics ping in the network tab.

Reload the page and I see a ping to https://www.google-analytics.com/r/collect initiated by amp-analytics

If the incognito window has opened any other amp page, even another site you see the ping.  This happens even

[2017-07-10 03:28] SmokinClove commented on #4405
Pardon my ignorance, but how do you use amp-carousel nested inside amp-list for that? Wouldn't it create multiple separate amp-carousels instead of a single one?
Thanks in advance!

[2017-07-10 05:26] wassgha commented on #9838
Is this still up for grabs?

[2017-07-10 10:00] arealit opened #10327 "Intent to Implement top100 as vendor to amp-analytics"

[2017-07-10 13:52] rsimha-amp commented on #10277
@erwinmombay @cramforce @choumx: I did a fine grained build time measurement of [`gulp build`](https://travis-ci.org/ampproject/amphtml/jobs/251980501) and [`gulp dist`](https://travis-ci.org/ampproject/amphtml/jobs/251980502) on Travis, and while `build` is nearly as fast on Travis as it is on a workstation, `dist` is significantly slower, most likely due to the lack of multi-core parallelism on

[2017-07-10 16:04] jongrim commented on #9597
@choumx I've replaced a usage of `document.createEvent` in `src/custom-element.js` but it seems to be causing 5 tests related to video player events to fail.

The prior call site looked like this:
[code]

I updated it to use the Event constructor, which would be backed by the polyfill I've added, so now it looks like this:
[code]

I believe this is the proper way to go from using `document.createE

[2017-07-10 16:50] choumx commented on #9597
@jongrim Do you have a link to the test failures? I'd have to see the specific error message.

We do have code outside of the `src/` folder. Check `extensions/` and `test/` in particular, which contain AMP extensions and test code, respectively.

Thanks for working on this!

[2017-07-10 16:57] wassgha commented on #10324
- Done with bug fixes and code refactor for video docking
- Worked more on drag/drop for video docking
- Worked on the floating mute button for `amp-video` (PR In #10326)
- Started translating AMP Docs to French and Arabic
- Worked on presentation for Show & Tell
- Will start working on amp-iframe resize messages

[2017-07-10 17:03] ericlindley-g commented on #4405
Good question, @SmokinClove — there's some flexibility here. The difference between creating multiple amp-carousels and a single amp-carousel is in the data that your server returns as a response to amp-list.

That is, you could use amp-list to create multiple separate amp-carousels by including several objects in the `items` array, but you could also just return the data to create a single instan

[2017-07-10 17:21] torch2424 commented on #10324
* Finished all a11y bugs on Amp start
* Updating amp start gulp
* Implementing some additional feedback on toolbar
* Creating toolbar demos

[2017-07-10 17:23] lannka commented on #10082
@SchnWalter can you just send the [viewport width](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#viewport-width) along with the analytics pings? What extra client logic you want to have for different width?

[2017-07-10 17:24] avimehta commented on #10325
@jpettitt what are you searching for in the devtools network tab?

When I do this in a new window and search for collect, I see a ping to `doubleclick.net` which is initiated by `google-analytics.com/r/collect` (hover over initiator link). That seems to tell me that there is a ping being sent it just doesn't show up in dev tools.

Can you take a look and let me know. Here's a screenshot of what I

[2017-07-10 17:26] lannka commented on #9959
@tiendt would you take a  stab on this? What we've agreed is to introduce a new var TIMESTAMP_FORMATTED, which provide human readable timestamp in format of `2017-07-07 13:21:34`

@1987yama3 let me know if this does not sound right.

[2017-07-10 17:54] jpettitt commented on #4191
Any status update on this?  We'd like to implement it for school closings / weather on pages where we can't use amp list.

[2017-07-10 18:02] cvializ commented on #10324
- planned fixit
- GFI help
- video analytics initial PR in review

[2017-07-10 18:05] ericlindley-g commented on #4191
Thanks for checking in, @jpettitt — Current thinking includes the feature described by @choumx in this issue: https://github.com/ampproject/amphtml/issues/9862 Can you say if that feature would fit your needs?

[2017-07-10 18:14] keithwrightbos opened #10332 "Doubleclick Fast Fetch not using data-override-height/width"
Fast Fetch for doubleclick is not using data-override-height & data-override-width attributes when building sz parameter (see )

Steps to reproduce:
- for DF go to https://www-sbnation-com.cdn.ampproject.org/v/s/www.sbnation.com/platform/amp/nba/2017/7/10/15946708/kentavious-caldwell-pope-restricted-nba-free-agency?amp_js_v=0.1#exp=a4a:2
- for FF go to https://www-sbnation-com.cdn.ampproject.org/v

[2017-07-10 18:17] erwinmombay commented on #4191
i believe this has been replaced by amp-bind + amp-state mechanism right @ericlindley-g ? i believe features that amp-fresh would have provided have been covered by amp-bind + amp-state

[2017-07-10 18:20] ericlindley-g commented on #4191
That's right, in part: there are a few ways that we're working to address recency in AMP. One is the amp-bind + amp-state mechanism, where amp-state can pull in fresh data at load time. Another is the amp-fresh-like behavior described in #9862

[2017-07-10 18:20] jpettitt commented on #10325
Weird it just became intermittent for me - 5 tries in a row it worked as expected.  On the 6th, and now consistently (new incognito every time)  I get this

![image](https://user-images.githubusercontent.com/524856/28032966-39539894-6561-11e7-9550-66039c2522f9.png)

Note the initiator is 'collect'

On a reload I get
![image](https://user-images.githubusercontent.com/524856/28033012-640b5892-6561-1

[2017-07-10 18:31] ericlindley-g commented on #10135
Pinging this for @choumx

[2017-07-10 18:40] avimehta commented on #10325
The first screenshot is exactly what I see. If you hover over collect, you'll see the hit that was sent to `google-analytics.com`.

I investigated safari further. Same as chrome, devtools seems to show hits going to doubleclick but not the ones going to google-analytics.com. Unfortunately, I can't find a way to see the initiator in safari.

Given that `googleanalytics` config sends hits only to `g

[2017-07-10 18:41] rudygalfi commented on #8780
@dvoytenko Do you want to keep looking at this during upcoming sprints? I think we should define some criteria for when we will close this if this is not actionable after some time and/or define some way to check to track this separately (i.e. outside GitHub sprint process).

[2017-07-10 18:44] jridgewell commented on #4559
Reopening, because `mailto:` requires some special handling in iOS.

[2017-07-10 18:46] jongrim commented on #9597
No problem, I'm excited to contribute! [Here's the output of the 5 failing tests](https://gist.github.com/jongrim/f79895f8a37f824eae05e2cf8088a399).

[2017-07-10 18:55] choumx commented on #10187
Haven't seen poll-related flakes for a few days. Closing.

[2017-07-10 18:55] #10187 closed

[2017-07-10 18:58] choumx commented on #10135
Sorry just saw this. Needs to be whitelisted in `action-impl.js`. Quick fix coming up. 😃

[2017-07-10 19:06] choumx commented on #8177
I can't repro this locally at HEAD anymore with either min or max build.

[2017-07-10 19:06] #8177 closed

[2017-07-10 19:08] ericlindley-g opened #10334 "FR: Dual range input"
Request: currently, an input[type="range"] element creates a UI with a slider with a single input. This is a request for a slider input with two user inputs, to define a range (useful when selecting a range of dates or prices that have both a greater-than and less-than constraint, for instance)

[2017-07-10 19:14] avimehta opened #10335 "Broken links on various pages"
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md contains a link to a page that is titled "Deep Dive: Tracking users across origins".

Unfortunately, I can't find the page that was supposed to be at https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/cross-origin-tracking.md.

Not sure when it was removed.

[2017-07-10 19:15] jpettitt commented on #10325
Why is it behaving differently on some loads? That's a very odd behavior difference given that cache is off and local storage purged.  Is some state being save that we're not seeing?

[2017-07-10 20:18] avimehta commented on #10325
I think I have an answer for intermittent repro.

In a new incognito window:
1. Open Dev tools (Inspector window)
2. Navigate to http://www.diffen.com/difference/Cappuccino_vs_Latte?ampver
3. Open Network tab
4. Verify requests

Do Step 3 before Step 2.

This clearly looks like a chrome bug. Unfortunately, I can't reproduce it with a very small repro page. Not sure what is triggering this bug on t

[2017-07-10 20:42] jridgewell commented on #10335
/to @rudygalfi, since he [did it](https://github.com/ampproject/amphtml/pull/7433).

[2017-07-10 20:47] torch2424 opened #10338 "[amp-sidebar][Toolbar] Duplicate Ids in Sidebar Clone"
From PR #10198

I implemented the following code to modify the ids of elements within `<nav toolbar>` elements, in order to avoid duplicate/invalid id attributes

[code]

This is useful for using a toolbar that targets another element within a toolbar. However, we decided this may be expensive, so we are opening this issue to have it done later.

[2017-07-10 20:48] jridgewell commented on #10325
It's probably the 302 redirect. I remember we had an issue before where it wouldn't show at all, not it might only show if you're on Network tab.

[2017-07-10 20:52] #9397 closed

[2017-07-10 21:08] jpettitt commented on #10325
Interesting - once the network tab has been open once you see the 302.  If you don't open the network tab, even with dev tools open, you can reload as many times as you like and the first time you open the network tab you won't see the 302.  So definitely a red herring / Chrome issue.

[2017-07-10 21:27] erwinmombay commented on #4191
i'll remove the code for amp-fresh and its docs

[2017-07-10 21:32] jridgewell commented on #10325
Old chrome issue is https://bugs.chromium.org/p/chromium/issues/detail?id=675789 (from https://github.com/ampproject/amphtml/issues/6740). Could you open another Chrome bug for this new case?

[2017-07-10 21:32] #10325 closed

[2017-07-10 21:42] muxin commented on #10324
- Lightbox 2.0 caption followup work
- Fixit: Fix carousel not inline block bug in ie 11

[2017-07-10 22:31] jridgewell commented on #10324
- Looking into layout state of unresolved amp-elements (pre-rendering, etc)

[2017-07-10 23:04] liuhelen10 opened #10343 "Scroll event flicker on position:fixed element in Safari"
Although it seems that this issue has been [addressed in the past](https://hackernoon.com/amp-ios-scrolling-and-position-fixed-redo-the-wrapper-approach-8874f0ee7876), I'm still encountering a bad flicker on scroll on a `position: fixed` element in Safari on my iPhone 6 (haven't tested on any other mobile iOS devices). This issue is not present on desktop (Chrome and Safari), iPhone emulation mode

[2017-07-10 23:40] dvoytenko commented on #9761
@rowangray Correct. Slots were not polyfilled. For some reason I thought that they were. Could you point me to the slot polyfill that you'd normally do? I'll see what it'd take to integrate it on our end...

[2017-07-10 23:47] cramforce commented on #10343
@dvoytenko Could you take a look?

[2017-07-11 00:09] dvoytenko opened #10345 "Validator: support shadow slots"
See https://developers.google.com/web/fundamentals/getting-started/primers/shadowdom

An example:

[code]

The `slot` element is much like a `div`. All global attributes are allowed, such as `id` and `on`. The only specific attribute to `slot` element is the optional `name` attribute.

[2017-07-11 00:11] Gregable commented on #10345
Only allowed in AMP, not AMP4ADS.

[2017-07-11 00:41] wassgha commented on #9838
A few updates on this: It turns out Google Drive's embeddable documents don't send resize`postMessage` at all (tested for Docs, Slides and Forms), so this is not a matter of adapting the message but rather getting it in the first place. We're in talks with the Google Docs team to implement it. At the same time, we're looking into other popular embeds to see if they provide resize events and whethe

[2017-07-11 01:23] camelburrito commented on #7379
@choumx - is this being worked on? is there an estimate of when this would be available . It would be super useful for some of the ampstart templates we are building.

[2017-07-11 04:58] choumx commented on #7379
@camelburrito It hasn't been prioritized yet pending some design questions and lack of external demand. What templates are you guys building?

[2017-07-11 05:54] #8780 closed

[2017-07-11 05:54] dvoytenko commented on #8780
Ready to close

[2017-07-11 08:59] gurmukhp commented on #10324
AmpStart - Commerce Template
- Raised PR for [products details ](https://amp-ecommerce.firebaseapp.com/templates/e-commerce/product-details.amp)page
- Starting work on product listing page.

[2017-07-11 13:32] jasti opened #10349 "Support video companion ads in AMP"
Publishers often have the ability to correlate a video pre-roll ad along with 1 or more display ads on the same page. This is especially useful for publishers serving sponsorship campaigns.
This is how it's done using GPT in non-AMP pages:
https://support.google.com/dfp_premium/answer/1191131?hl=en

CC @ampproject/a4a

[2017-07-11 13:49] keithwrightbos commented on #9546
We are in the process of launching amp-ad-network-doubleclick-impl Fast Fetch and I suggest we focus on a fix there as it should make things less complex.  @coreybyrnes are you using remote HTML or useSameDomainUntilDeprecated?  @zhouyx are you free to meet and discuss?  Thanks

[2017-07-11 15:04] #10332 closed

[2017-07-11 15:51] ronakrathod18 commented on #8199
Hi @lannka - Is this feature request now live?

[2017-07-11 15:54] gurmukhp commented on #10230
This would be super useful to have. We're building a product listing page and would like to update the products based on an input select change. Unfortunately, the height of the amp-list element doesn't get updated.

Simple example here
https://gurmukh-test.firebaseapp.com/templates/e-commerce/product-listing.amp

[2017-07-11 15:55] #10070 closed

[2017-07-11 15:56] keithwrightbos commented on #9115
beta now available for SRA.  Note the backend code does not yet support per creative AMP creative validation meaning AMP creatives do not get preferential render (but do render correctly within xdomain frame).

[2017-07-11 15:56] #9115 closed

[2017-07-11 15:58] taymonbeal opened #10353 "Fix implicit dependency from amp-a4a to amp-ad-ui and amp-ad-xorigin-iframe-handler"
`AmpA4A` depends on the existence at the window level of `AmpAdUIHandler` and `AmpAdXOriginIframeHandler`. If they don't exist, an assert fails. In production this always happens because of `AmpAd`, but in tests it only works if the window-level handlers happen to leak between tests in the right way, resulting in horrible hermeticity problems to the point where there are a couple of lines you have

[2017-07-11 16:32] dvoytenko commented on #9761
@rowangray Thanks!

[2017-07-11 16:38] powdercloud commented on #10345
What about the slot attribute? I see it there on the page... Is it needed as well?

[2017-07-11 16:51] 10xjs commented on #7379
@choumx The template WIP is here https://github.com/metalabdesign/ampstart/commits/travel.

[2017-07-11 16:54] powdercloud commented on #10345
Also it would be useful to have a more complete example of how it's going to be used in AMPHTML. E.g., I see the example in the doc under "Flattened DOM tree" (https://developers.google.com/web/fundamentals/getting-started/primers/shadowdom#lightdom) but there are obviously other things that aren't allowed either, e.g. putting some custom element name (in the example "better-button") that's not kn

[2017-07-11 16:55] keithwrightbos opened #10355 "Do not select into Fast Fetch holdback exp is FF feature enabled"
With AdSense/Doubleclick Fast Fetch launching there is a holdback in order to measure its impact over time.  Modify experiment/control eligibility to not select if any Fast Fetch feature is enabled (e.g. SRA, refresh, RTC).

/cc @ampproject/a4a

[2017-07-11 16:57] jasti commented on #8199
@ronakrathod18 Yes. Let us know how it goes.

[2017-07-11 16:58] 10xjs commented on #7379
@choumx The goal is to connect a set of UI form elements as filter controls to a search API. The trouble with the current state of things is that the `amp-form` component only allows rendering the response data in `submit-success` and `submit-error` divs that are direct children of a `form`.

I wanted to be able to handle the response data with `amp-bind` to be able to render in arbitrary location

[2017-07-11 17:02] diniscorreia opened #10356 "Hiding elements with amp-access causes FOUC"
Hiding elements with amp-access-hide causes a brief flash — the elements are shown before the amp-access styles are loaded.

Could amp-access-hide be included in the boilerplate styles to avoid this?

[2017-07-11 17:45] cramforce opened #10357 "Some tests fail document-ready checks"
I've seen tests that fail `resources-impl.js` `this.ampdoc.whenReady()` call. This doesn't fail the test because it isn't fatal, but it is confusing and ugly.

[2017-07-11 18:00] jridgewell commented on #10298
Are you using the validator?

[2017-07-11 18:03] #10191 closed

[2017-07-11 18:03] jridgewell commented on #10191
Closed by #10319

[2017-07-11 18:08] jridgewell commented on #10356
Do you have an example page? It's already [part of the boilerplate](https://github.com/ampproject/amphtml/blob/master/css/amp.css#L555-L561).

[2017-07-11 18:10] lannka opened #10358 "Document usage of 3P extension analytics"
For https://github.com/ampproject/amphtml/issues/9484

[2017-07-11 18:16] jridgewell commented on #9761
Validator support tracking issue: #10345.

[2017-07-11 18:43] dvoytenko commented on #10345
The `slot` attribute is not strictly needed at this time, so I'd rather skip. You can see an example here: https://github.com/ampproject/amphtml/pull/10346/files#diff-40013838fcacfcd8aaef22101639e190

Not sure I understand this point. Could you clarify? The name of the element is `slot`, so it can't be named anything else...

[2017-07-11 18:49] dvoytenko commented on #9761
@rowangray I sent #10359 change that would, at least, hide the undistributed content. This way, the fallback story is available. I'm looking into the distribution itself as well.

However, my other question to you, since you have experience of using shadyDOM and other polyfills, what would happen if you were to pre-setup Shadow DOM polyfill before executing Shadow AMP? From what I can tell, it sho

[2017-07-11 19:02] #9970 closed

[2017-07-11 19:05] #10276 closed

[2017-07-11 19:27] lannka commented on #9307
ix experienced an outage after this launching. we under looked the risks and meanwhile our communication wasn't enough to capture such a bug in testing stage.

To prevent this from happening again, we should have a more formal process for launching any changes might potentially affect 3rd parties.

@jasti what you say?
/cc @alanorozco

[2017-07-11 20:03] jridgewell commented on #10343
I'm looking into it now.

[2017-07-11 20:18] powdercloud commented on #10345
Cool. I was just looking for a complete example and was referring to a snippe tin the shadowdom primer. I'm happy with wahtever is needed.
Please note that the content tag is currently also disallowed, but it's used in the example you're pointing at. Should we allow it? If so, should the select attribute on a content tag be allowed?
(https://developer.mozilla.org/en-US/docs/Web/HTML/Element/conten

[2017-07-11 20:19] rsimha-amp opened #10361 "PhantomJS versioning on Travis is broken"
PhantomJS provides a headless browser with which we render AMPs while running visual diff tests.  The versioning of phantomjs on Travis is currently a mess.

1. Poltergeist, the library used by Percy, the visual diff tool, to load pages requires phantomjs version 2.1.1 or higher. However, the default version of phantomjs baked into Travis is 2.0.0. See https://github.com/travis-ci/travis-ci/issues

[2017-07-11 20:28] rsimha-amp commented on #10361
Here is what currently happens during every test, even though we install the phantomjs ruby gem, and Travis comes with phantomjs preinstalled.

This should be fixed by #10305.

[code]

[2017-07-11 20:29] muxin commented on #9644
@supriya-raj I cannot reproduce anymore. Maybe it already got fixed. Could you check on your side that it is behaving correctly?

[2017-07-11 20:36] #10361 closed

[2017-07-11 21:05] rsimha-amp commented on #10155
Image loading bug is fixed. On to adding more tests.

[2017-07-11 21:51] dvoytenko commented on #10345
I see. Yeah, outside of AMP the app would use the `slot` attribute. Structurally it'd look like this:

[code]

[2017-07-11 21:52] dvoytenko commented on #10345
RE: `content` tag. This has been deprecated and I'd be in favor of not allowing it at this time.

[2017-07-11 21:55] avimehta commented on #10325
@diffen I am working on your other bug report internally but don't have much to report yet. This bug is not related to the mismatch in numbers you see in your reports.

The issue in this bug is purely a debugging thing and rest assured, the data is reaching GA.

[2017-07-11 21:55] dvoytenko commented on #10343
@jridgewell Let me know if you need help. The most likely reason: for some reason AMP vetoed transfer to fixed layer, which is very possible since the rules are pretty strict: https://github.com/ampproject/amphtml/blob/master/src/service/fixed-layer.js#L331 + some rules about selectors as well. W/o fixed layer hack, fixed elements would be at mercy of iOS Safari w.r.t flicker.

If we still do tran

[2017-07-11 22:41] dvoytenko commented on #10356
This is unfortunately the case. For optimistic case where the document starts shown and then hides some of its content (which I personally prefer), FOUC is hard to avoid. We looked through a bunch of implementations of this in the wild and it's always been the case.

One thing we can add here: we can delay rendering a bit (at most by 100ms) until authorization arrives.

[2017-07-11 22:45] SchnWalter commented on #10082
I was hoping to have different Page Scroll boundaries depending on the screen width (which in also affects the total height of the page).

For example, triggering an event for every 15% of the page the user has scrolled doesn't really make sense on desktop... but with long content, it sure helps on mobile devices.

If for example, the `media` attribute would control which `amp-analytics` component

[2017-07-11 22:50] lannka opened #10367 "[Discussion] Throttling or batching for amp-analytics iframe transport"
## Problem
As described [here](https://docs.google.com/document/d/1mCW7HbQBWQONTWA2q_rKNJyTEdqGOyhX-x-ces4JHWc/edit#) `amp-analytics` is going to introduce a 4th transport type named `iframe` for spam signal collection. Instead of sending analytics events to a remove server over the wire, it forward those events to a cross origin iframe via postMessages.
Sample config:

[code]

The signals to be c

[2017-07-11 22:57] SchnWalter commented on #10191
I was looking into the PR and I think that `onbeforeprint` event should also be dealt with.

Using a print shortcut `CTRL+P` or clicking on a menu option `File -> Print`, you will print a page that has no lazy-loaded components (all `amp-img` tags are missing). Binding to an event that happens before the print itself, might allow the loading of lazy-loaded components.

Thanks for the feature.

[2017-07-11 23:10] ericlindley-g commented on #10230
@aghassemi one wrinkle for this request is that amp-list would have to resize based on the data pulled in, so in some cases this wouldn't be known by the client until the data is rendered by the template

@choumx  — @gurmukhp is working on AMP Start templates, and the ability for amp-list to resize when src is updated by amp-bind would be useful there (product listing page with filtering capabilit

[2017-07-11 23:16] lannka commented on #10082
Would you think of any other triggers that will find this useful?
Otherwise, I think this can be an enhancement to the scrollSpec.

Also, is the value to save some pings? From analytics' perspective, we can generate same report without the proposed new spec.

[2017-07-11 23:51] dvoytenko commented on #9343
I think I was observing (and filed the issue) when `pump-early-frame` wasn't launched yet. It looks like it's been fully launched now, so if no other concerns, I will close this bug. Please chime in.

[2017-07-11 23:55] jridgewell commented on #10343
Closed by https://github.com/ampproject/amphtml/pull/10366.

[2017-07-11 23:57] aghassemi commented on #9174
https://github.com/ampproject/amphtml/pull/10370 add validation rules, as soon as validator is shipped with it, we can remove the experiment.

[2017-07-12 00:06] aghassemi opened #10371 "Print page is missing unlaid-out images/elements"
Currently printing an AMP page won't include anything that has not loaded yet.

As suggested by @SchnWalter on https://github.com/ampproject/amphtml/issues/10191, we can use `onbeforeprint` to layout all the remaining elements.

/cc @dvoytenko

[2017-07-12 01:05] aghassemi commented on #9838
b/63535685

[2017-07-12 02:14] liuhelen10 commented on #10343
Thanks for addressing so quickly! Has this fix been deployed to prod already? @jridgewell

[2017-07-12 03:43] dvoytenko commented on #10371
Hmm. Would that help though? Is there a way to communicate in `beforeprint` when loading was actually done? Otherwise, we'll still be snapshotting the page before it's fully loaded?

[2017-07-12 03:49] jridgewell commented on #10343
No, we'll canary test it tomorrow and probably release a prod patch later this week.

[2017-07-12 05:15] #9355 closed

[2017-07-12 12:18] mattrohland opened #10374 "${documentReferrer} is empty when document.referrer is “https://www.google.com/”"
Looking through the AMP documentation (https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#document-referrer) is appears that the `${documentReferrer}` variable should reflect the JS `document.referrer`.

While `${documentReferrer}` appears to return the correct value for other domains (like: www.twitter.com, t.co, linkedin.com, etc.) when the page's `document.referrer`

[2017-07-12 14:28] cramforce commented on #10374
Could you file this as an issue here:
https://github.com/ampproject/amphtml/issues/new

Definitely not intended.

On Wed, Jul 12, 2017 at 5:18 AM, Matt Rohland <notifications@github.com>
wrote:

[2017-07-12 14:40] mauricionr commented on #10335
why this link  https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/cross-origin-tracking.md was removed?

Thanks :smile:

[2017-07-12 14:42] mauricionr opened #10375 "cross origin tracking"
## What's the issue?

I'm trying to implement cross origin tracking. i saw the broken link in this issue #10335  and i saw the file removed here https://github.com/ampproject/amphtml/pull/7433
exist any recipe in how to implement the cross origin tracking?

## How do we reproduce the issue?

setup amp container in analytics and implement  in a amp page

[code]

when the user goes to the cart a new

[2017-07-12 14:46] mattrohland commented on #10374
@cramforce I believe that is what I did?

[2017-07-12 15:02] bpaduch commented on #10042
@zhouyx  - ping.

[2017-07-12 15:13] bpaduch commented on #9098
*"This is a request to document the limits as part of the AMP spec"*
  -> I can document the limit as I've shown above, and make it a guideline.  However, I need confirmation from @cramforce & @vitaliybl that we want this as a guideline.  Also, we don't know what limit Cloudflare uses.

*" and require that all approved AMP caches MUST use the same limits."*
 -> @cramforce & @vitaliybl - what say y

[2017-07-12 15:21] lydiameteored opened #10376 "amp-app-banner doesn't work on Android"
Hi everyone.

I have a problem with amp-app-banner on Android. It appears a few seconds and later it disappear.
Following the documentation, on Chrome the native banner should be appear and on firefox must appear the custom banner.

I have uninstalled the phone app, deleted the browsing history, but i don't obtain any result...

Can anyone help me with this problem?

I attach my code:

Head:
`<scr

[2017-07-12 15:35] #10135 closed

[2017-07-12 15:40] mauricionr commented on #10375
i've asked in amp4discuss on slack

[2017-07-12 15:45] cramforce commented on #10374
LOL, yes. I was confused by Github having changed the email addresses for notifications :)

[2017-07-12 15:45] cramforce commented on #10374
To @lannka while @zhouyx is out.

[2017-07-12 15:47] cramforce commented on #9098
I think the feature request is a good one, but I don't immediately know how to implement it.

Lets start with documenting the current known limits as minimum requirements to avoid further confusion.

[2017-07-12 15:51] rsimha-amp opened #10377 "`amp-font.js` shows missing fonts as having been loaded when run under phantomjs"
When the fonts on the page are missing, the text sometimes remains looks blue because of the `.comic-amp-font-loading` CSS style.

This stems from here: https://github.com/ampproject/amphtml/blob/b9d0f1bee92768d810fe9d83fea912040802461b/examples/visual-tests/font.amp.404/font.amp.html#L42

This is causing regular failures at https://percy.io/ampproject/amphtml. For example, see https://percy.io/am

[2017-07-12 15:51] rsimha-amp commented on #10377
/cc @cramforce @erwinmombay @choumx

[2017-07-12 15:51] choumx commented on #9597
@jongrim Hmm, looks like those failures might be relevant since [the tests](https://github.com/ampproject/amphtml/blob/92d78c29dbdb50d5e59175718b1dd8f181c54712/test/functional/test-video-manager.js#L88) listen for event dispatch. I can take a closer look -- did you create a PR yet?

[2017-07-12 15:53] cramforce commented on #10377
Can you make amp-font add a CSS class that the tests waits for?

[2017-07-12 15:57] mrjoro commented on #10263
Since there were no designs to discuss this week, we are going to cancel this design review.

[2017-07-12 15:57] #10263 closed

[2017-07-12 15:58] choumx commented on #10230
Just verified that `width` and `height` bindings work in amp-list on a local example. `layout` currently isn't bindable.

@gurmukhp The amp-list element in that page doesn't appear to have a width/height binding.

[2017-07-12 16:13] aghassemi commented on #10376
/to @muxin

[2017-07-12 16:15] ericlindley-g commented on #10230
@choumx  — does this allow amp-list to resize based on the content pulled in via JSON, as opposed to a specific height pre-determined on the client?

For instance:  I give users the ability to filter by price and color of a product, but I'm not able to hard-code on the frontend the exact height for each price/color combination. What I would need would be for amp-list to dynamically resize based on

[2017-07-12 16:17] aghassemi commented on #10376
@lydiameteored I believe the problem is that `https://www.tiempo.com/manifest.json` is not implementing CORS and therefore does not allow us to fetch it. Please see [CORS Requests in AMP](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) for details of how to implement CORS. Please let us know if adding CORS support fixes your issue.

[2017-07-12 16:19] aghassemi commented on #9694
P3 as #9810 has partially addressed this.

[2017-07-12 16:21] aghassemi commented on #9627
Closed by https://github.com/ampproject/amphtml/issues/9934

[2017-07-12 16:21] #9627 closed

[2017-07-12 16:42] choumx commented on #10230
Yes, by using `amp-state` as an intermediary store. Just tested something like this locally:
[code]
Probably not immediately obvious for people new to amp-bind. Good candidate for ABE. 😄

[2017-07-12 16:42] WillDonohoe opened #10380 "[amp-sidebar] - Customizing amp-sidebar mask"
## What's the issue?

In our amp template design the sidebar mask is fully transparent. However adding custom styles to this element causes the validator to fail as it's targeting `i-amphtml-sidebar-mask`.

It would be useful to customize the mask such as changing the background colour, the opacity and other properties like margins.

A simple solution to this would be to add an `amp-sidebar-mask`