[2018-11-24 10:06] Publimix commented on #19438
Actually a `name="..."` was missing from the `<select>`  element. CASE ONE is valid and working fine afther correction.

[2018-11-24 10:06] #19438 closed

[2018-11-24 16:30] SethBuilder opened #19439 ""background-image" CSS URLs unexpectedly rewritten"
## What's the issue?
It's not possible to use background-image as inline CSS.

## Briefly describe the bug/feature request.
According to [#14072](https://github.com/ampproject/amphtml/issues/14072) inline CSS is now enabled on AMP.

However, in my case I use `amp-list` to generate dynamic content based on user interactions... this is an example of a dynamically generated `background-image`:
`<div

[2018-11-25 15:59] Sandesh-Sawal opened #19440 "Feature Request - AMP pages for stock quotes"
Hi Team,
My name is Sandesh Sawal and I'm working as a Product analyst at an algorithms based equity research portal. I want to set up AMP for our stock quotes - pages. I know it is possible as currently AMP is supported for News/Blogs publishers & E-commerce portals. Please let me know how to go ahead with it.
- website: https://www.marketsmojo.com
- stock page: https://www.marketsmojo.com/Stocks

[2018-11-26 04:36] Jxck opened #19443 "lazyload for <amp-iframe>"
Hi team

## Detail

currently I'm trying lazyload for img/iframe with chrome flagged feature below on my blog.

https://docs.google.com/document/d/1ITh7UqhmfirprVtjEtpfhga5Qyfoh78UkRmW8r3CntM/edit#heading=h.c7mc4hh4xdhq

my blog was...

- build with my own blog engine
- opt in to AMP
- if `<iframe>` appears replace them in `<amp-iframe>`

and now

- adding lazyload to all `<iframe>`
- if `<iframe

[2018-11-26 07:37] kuldeep commented on #19138
@alanorozco   When can we expect this to go live?

[2018-11-26 08:12] AcidRaZor commented on #5225
Thanks @aghassemi

I'm probably doing something dumb, because `on="tap:AMP.goBack"` does not seem to navigate back in history?

[2018-11-26 11:00] ASochat commented on #16910
Is the feature available now? Would love to use it as well

[2018-11-26 11:01] syedimran22 opened #19444 "How to insert amp-youtube , iframe tags in AMP stories and also about implemention of href in stories."
Desc: How to insert amp-youtube, iframe tags in AMP stories as the tags are not allowed and The other question is how to implement links in the story added to them so users can be redirected from an image to a landing page.

[2018-11-26 13:51] choumx commented on #19421
Context is the `style="calc(..)"` is added by fixed-layer.js to offset fixed-position elements to account for the viewer header (though this doesn't actually apply to sidebar since we hide the header when it opens). This happens as a result of the `addToFixedLayer()` call in amp-sidebar.js.

Ways to fix this include making sure `addToFixedLayer()` is only called once per sidebar element, or to rem

[2018-11-26 15:11] jpettitt commented on #19443
As you noted AMP manages its own lazy load, there is no need to add a `lazyload` attribute.  Adding `lazyload` to `amp-iframe` is meaningless (there is no such attribute to `amp-iframe`) and the validator is correctly rejecting this.

[2018-11-26 15:11] #19443 closed

[2018-11-26 15:14] mrjoro opened #19447 "Status Update 2018-11-12"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-11-26 15:14] jpettitt commented on #19440
You can use `amp-list` to import "live" data into an AMP page.  See the https://www.ampproject.org website for more general amp development documentation.

[2018-11-26 15:14] #19440 closed

[2018-11-26 15:14] mrjoro opened #19448 "Status Update 2018-11-26"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-11-26 15:18] jpettitt commented on #19439
Only data urls are supported in CSS for AMP.  I don't think what you are trying to do will work and this is "works as intended", I've tagged it `bug` for now until we confirm that.

[2018-11-26 15:20] mrjoro commented on #19447
# UI
contact: @aghassemi

## What was accomplished

- animationWorklet works for scrollbound (experimental)
- Video docking polish
- Plan to launch lightbox ads (@alanorozco and @lannka)
- ABE for input-masking
- min/max binding for date-picker
- OSS transition docs & blog draft & integration with lightbox & polish
- amp-carousel pure JS and AMP version integration
- List resizing/Gesture bugs inv

[2018-11-26 15:20] jpettitt commented on #19433
Closing, no bug description

[2018-11-26 15:20] #19433 closed

[2018-11-26 15:22] mrjoro commented on #19447
# AMP Stories
contact: @newmuis

## What was accomplished

- Merged tooltip for interactivity
- Progress on amp-subscriptions integration
- Decided to promote the tappable full-bleed desktop experience over scroll-based experience
- Added ability to specify bookend config inline

## What's next

- Validation, tests, documentation for links & tooltip in amp-story-grid-layer
- Starting on designing

[2018-11-26 15:29] mrjoro commented on #19447
# Infrastructure
contact: @rsimha

## What was accomplished
- Interactive visual diff tests
- Design doc for bundle size bot
- Design doc for release automation
- Amp-inabox promote freeze
- WIP: closure compiler upgrade
- Cleared Renovate backlog

## Lessons learned
- India roadshow: 700 attendees, 29 partners
- Closure compiler upgrades hit obstacles due to node_modules deps

## What's next
- De

[2018-11-26 15:31] mrjoro commented on #19447
# UX
contact: @spacedino

## What was accomplished

- Keep working on : amp-consent V2; input masking
- Carousel - Fleshed out use cases and started prototyping a carousel in various contexts
- Video docking - UX feedback on demo
- Infinite scroll - new visual / interaction designs

## Lessons learned

- Document, document, document.
- When prototyping, know the end goal

## What's next

- Keep wo

[2018-11-26 15:31] #19447 closed

[2018-11-26 15:36] alabiaga opened #19450 "Support nested templates with <script type=text/plain template=amp-mustache>"
related: #19321

[2018-11-26 16:20] #19215 closed

[2018-11-26 16:21] jpettitt commented on #19215
In the end I added three new events
[code]

[2018-11-26 17:56] newmuis commented on #19431
Yep, this makes sense.  I'll send a quick fix for 1.0.  0.1 is deprecated and does not get updated with non-critical fixes.

[2018-11-26 18:15] avimehta commented on #7418
@luby1 plt is a [reserved parameter](https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#plt) for Google Analytics and should be using only when `hit type` is set to `timing`. By default AMP sends page load time for 1% sample rate and you should be seeing the numbers for that. If you would like to use a higher sample rate, see the code below and adapt it for the rat

[2018-11-26 19:12] Gregable commented on #17397
This change is now live.

[2018-11-26 19:12] #17397 closed

[2018-11-26 19:22] oste commented on #9074
This would also be useful for `amp-ad`. My use case is to scroll the user to the top of the `amp-ad` when they click a button inside the iframe. Posting a message to the parent page and scrolling to a div just above the `amp-ad` seems like it would work.

[2018-11-26 19:38] honeybadgerdontcare commented on #19429
Filed b/120031146 to track.

[2018-11-26 19:39] calebcordry opened #19456 "Linker doesn't handle fragments well"
Linker will currently decorate the href of any `<a>` tags on click. If this points to a fragment linker will still add the linker param causing a page refresh, thus losing any state that the page may have had.

As a solution we should never add linker param on same domain. This will also cut down unnecessary decoration on other same domain links.

[2018-11-26 19:49] erwinmombay opened #19457 "some type casting fails on `dev().assert` calls"
To be able to do pre-process removal of `assert` calls, we need to add a type cast on the call site after removing the method call. There are some instances where we do this where closure thinks its impossible to cast the value since it seems to think that it hits a code path where the value is always `null`.

to try and prove the issue we convert the `dev()` calls into `user()` calls so that they

[2018-11-26 20:10] torch2424 commented on #19444
Assigning to @newmuis since this pertains to AMP Stories. Feel free to re-assign 😄

[2018-11-26 20:11] torch2424 commented on #19435
Assigning to @aghassemi . Feel free to re-assign 😄

[2018-11-26 20:19] torch2424 commented on #19432
Assigning to @Gregable since this is a cache issue?

[2018-11-26 20:21] torch2424 commented on #19434
Assigning to @lannka since you are listed as a code owner of the `amp-experiment` extension 😄

[2018-11-26 20:43] newmuis commented on #19444
Thanks @torch2424, and good questions @syedimran22.

- Using `<a>` tags within `<amp-story-cta-layer>` is currently supported
- Using `<a>` tags within `<amp-story-grid-layer>` will be launching within the next few weeks
- `<amp-youtube>` support is tracked in #15847
- There are currently no plans to support arbitrary iframes

[2018-11-26 21:20] erwinmombay commented on #19408
we'll need to look at prepend-global task too in `build-system/tasks/prepend-global.js`

[2018-11-26 21:48] Gregable commented on #19381
Discussed with @cramforce a bit offline.

One suggestion he had was to make this into `<link rel=stylesheet media=print href=...>` instead. This has the benefit of not even including the print css until it's needed.

Unfortunately this doesn't work out of the box, because the browser will go ahead and download this even if in screen media.

So, the next suggestion would be to inject the stylesheet

[2018-11-26 21:59] #19199 closed

[2018-11-26 22:19] westonruter commented on #19381
So something like:

[code]

or

[code]

or

[code]

Would the URL need to be absolute? It would need to be rewritten to use the AMP cache when served there, yes?

Would this require a new component or would it be part of the AMP runtime?

[2018-11-26 22:36] rsimha commented on #19211
/cc @estherkim

[2018-11-26 22:41] Gregable commented on #19381
Those all seem like reasonable suggestions for the format.

The URL would not need to be absolute, the AMP Cache can rewrite it.

@aghassemi and @jridgewell for thoughts on how this would actually be implemented.

[2018-11-26 23:00] Marcial1234 commented on #19408
For readability purposes, I recommend refactoring `build-systems/single-pass.js@wrapMainBinaries` to:
[code]

Not making a PR for now since this code might be heavily modified to fix the current issue.

[2018-11-26 23:23] luby1 opened #19463 "Google Analytics Not showing the page speed for AMP Pages when amp-analytics is used"
## What's the issue?

`amp-analytics` implemented as per Google document at https://developers.google.com/analytics/devguides/collection/amp-analytics/ . Pageviews are shown properly. However, the page load speed is always 0 for AMP pages.  For regular pages, I have sampling set to 100% so that I can get page load speed info for every page hit, as we don't get more than 50 views per day (for all o

[2018-11-26 23:39] #19427 closed

[2018-11-27 00:02] avimehta commented on #19463
ah i see. Didn't realize that you were using gtag. Please use the snippet below for gtag:

[code]

Specifically, `"site_speed_sample_rate": 100` should be added to the config section of the tag.

[2018-11-27 00:03] avimehta commented on #19463
Let me know if this doesn't work. I'll close this issue for now.

[2018-11-27 00:03] #19463 closed

[2018-11-27 00:20] luby1 commented on #19463
That was it! I wish Google added this into their documentation.
Thanks heaps, I spent last two weeks trying to figure it out and even Google Adwords/ Analytics support people were scratching their heads over this.  Thank you once again!

[2018-11-27 01:17] avimehta commented on #19463
I'll look into getting this added to the documentation.

[2018-11-27 10:30] ndahmani opened #19466 "$sf is not defined within the Google safeFrame"
Sorry for reopening https://github.com/ampproject/amphtml/issues/19139
More an more publishers are complaining.

Problem:
$sf is not defined within the Google safeFrame.
![image](https://user-images.githubusercontent.com/29407178/49075687-8dbe9280-f237-11e8-93ad-9146ff466446.png)
URL: https://calcio.fanpage.it/amichevole-italia-ucraina-le-ultime-sulle-formazioni-le-quote-e-dove-vederla-in-tv/amp/?

[2018-11-27 10:32] ndahmani commented on #19139
Hi guys,
We have more and more complaints from publishers using <amp-ad>
This ticket seems to be not active since it has been closed, ticket reopen here: #19466

[2018-11-27 14:10] Sandesh-Sawal commented on #19440
Thank you sir. Will get back, if in-case of any further doubts/queries.

[2018-11-27 15:41] PhilWinchester opened #19470 "i2i: amp-smartlinks"
Hi AMP community,

I work for a commerce content monetization platform called Narrativ. We have a few out of the box javascript integrations we offer our clients to help monetize their publications. To help our publishers monetize fully through AMP we would like to add an extension that utilizes our smartlink technology.

A few weeks ago the `amp-skimlinks` extension was merged that offers a simil

[2018-11-27 15:54] newmuis commented on #19444
@syedimran22 please feel free to reopen this issue if you do not feel it has been addressed adequately.

[2018-11-27 15:54] #19444 closed

[2018-11-27 15:58] aghassemi commented on #19466
to @keithwrightbos
cc @lannka

[2018-11-27 16:00] aghassemi commented on #19470
/to @zhouyx
/cc @jeffjose

[2018-11-27 16:02] newmuis opened #19471 "Edit amp-sidebar to default to side="right" for stories"
If the `side` attribute is unspecified, `<amp-sidebar>` defaults to the "start" side for regular AMP documents (`left` for left-to-right languages, and `right` for right-to-left languages):

https://github.com/ampproject/amphtml/blob/37d3aed564ea0875fd08e4f629d8401668500dd1/extensions/amp-sidebar/0.1/amp-sidebar.js#L118-L121

For stories, we would like it to default to the "end" side  (`right` for

[2018-11-27 16:14] aghassemi commented on #19435
Thanks @dbarcosb for the feature request.
reassigning to @choumx for evaluation.

[2018-11-27 16:25] alanorozco commented on #19471
@cathyxz

For consistency with `amp-video`, `amp-sidebar` should configure itself when it finds an amp-story parent by `closest`.

Better configuration scanning could be done in the future but I would appreciate if we follow this pattern for now to be able to refactor later.

[2018-11-27 16:33] newmuis opened #19473 "Add validation for <amp-sidebar> within <amp-story>"
There are two things that need to be done.

1. Allow `<amp-sidebar>` as a [direct child of `<amp-story>`](https://github.com/ampproject/amphtml/blob/22fa889a1c1845a2e508b5130d4442ec06940ce6/extensions/amp-story/validator-amp-story.protoascii#L98-L108) within `validator-amp-story.protoascii`.

2. Disallow undesired features from `<amp-sidebar>` by creating two separate tagspecs: one for `<amp-sideb

[2018-11-27 17:09] newmuis commented on #19471
@alanorozco does it make sense to factor out the `closest` check either to a util or a `BaseElement` call?  Then we can change the definition in one place

[2018-11-27 17:20] calebcordry commented on #18507
It appears this issue is solved. Following up on $sf in the other issues.

[2018-11-27 17:20] #18507 closed

[2018-11-27 17:21] igrigorik commented on #19381
Where does this fail? The browser should not download the resource if the media query does not apply.

[2018-11-27 17:37] calebcordry commented on #19160
These are great points @zhouyx. I have a few ideas for these concerns, but it is involved enough I think it would benefit from a group discussion.

@ryanashcraft we are happy to have a small group meeting to discuss some of the details and design before you get started. Eventually we may want to present it in our [weekly design review](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING

[2018-11-27 17:40] Gregable commented on #19381
@igrigorik 	Malte and I tried this in Chrome and it downloaded the resource.

[2018-11-27 17:40] westonruter commented on #19381
Apparently browsers download all stylesheets regardless of the media query because the media may change later and make them relevant. This seems to be an old issue, e.g.:

* https://zoompf.com/blog/2009/12/browser-performance-problem-with-css-print-media-type/
* https://stackoverflow.com/q/6311235

[2018-11-27 17:50] cramforce commented on #19381
@igrigorik Would be nice if Chrome could stop doing it, but definitely does right now. See trivial repro https://output.jsbin.com/milomezebi/quiet

[2018-11-27 18:35] Gregable commented on #19172
Ronnie, I think I may have poorly explained the scenario. I by no means suggest that UK based users are considered rare.

If a user has a UK based IP address, they will automatically be navigated to `google.co.uk` when making Google search queries. When the use selects an AMP document, a CID will be assigned associated with `google.co.uk`. If the user then visits `travelsupermarket.com`, the googl

[2018-11-27 18:40] jeffkaufman commented on #19466
Reading https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/safeframe.md this looks like it should be working.  I made a test page, https://www.jefftk.com/amp-demo/amp-doubleclick-fsf that is configured to serve a test creative that verifies safeframe is configured properly, but it will take some time before my test creative is serving live.

[2018-11-27 18:41] dvoytenko commented on #19033
This sounds like a good idea to me. @jpettitt do you have any feedback on this?

[2018-11-27 18:49] jpettitt commented on #19033
SGTM, do we want to add something similar to `amp-subscriptions` ?

[2018-11-27 19:09] jridgewell commented on #19337
You can't polyfill `<template>` properly, but we've done the best we can. I think https://github.com/ampproject/amphtml/pull/19346 would fix this.

[2018-11-27 19:10] jridgewell commented on #19381
We can do anything here.

Will browsers download styles inside a `<noscript>`?

[2018-11-27 19:13] lannka commented on #18971
Is this all done? Should be closed?

[2018-11-27 19:17] alanorozco commented on #19471
Sure, a utility makes sense. Filed #19475 to get started.

[2018-11-27 19:54] jeffkaufman commented on #19466
The test page with safeframe test creative, https://www.jefftk.com/amp-demo/amp-doubleclick-fsf , is working now:

<img width="410" alt="screen shot 2018-11-27 at 2 50 30 pm" src="https://user-images.githubusercontent.com/262566/49107480-d97f3500-f253-11e8-8f7b-d3f9d0fd228b.png">

<img width="445" alt="screen shot 2018-11-27 at 2 50 39 pm" src="https://user-images.githubusercontent.com/262566/4910

[2018-11-27 19:59] jeffkaufman commented on #19466
Testing the two referenced urls I'm not seeing this either.  No reference error, and the ads look good.

[2018-11-27 19:59] jeffkaufman commented on #19466
@ndahmani

[2018-11-27 20:56] Gregable commented on #19432
From the AMP Cache team:

[code]

Sending two Content-Type headers in the same response is not valid HTTP. There is an easy fix on your side.

[2018-11-27 21:04] newmuis opened #19476 "🚄Release tracking issue for release 1811202257200 (Canary)"
- [x] Release [1811202257200](https://github.com/ampproject/amphtml/releases/tag/1811202257200) is cut as a new canary release
- [x] Release [1811202257200](https://github.com/ampproject/amphtml/releases/tag/1811202257200)  pushed to dev channel
- [x] Release [1811202257200](https://github.com/ampproject/amphtml/releases/tag/1811202257200)  pushed to 1%
- [x] Release [1811202257200](https://github

[2018-11-27 21:06] newmuis commented on #19302
This release went to production as [1811202351440](https://github.com/ampproject/amphtml/releases/tag/1811202351440) due to the cherrypick from #19385.

[2018-11-27 21:06] #19302 closed

[2018-11-27 21:18] jharveymerkle opened #19477 "Adding merklesearch as a vendor type for amp-analytics"
I intend to submit a PR to add "merklesearch" as a vendor type in amp-analytics.

A config file named merklesearch.js has been created in extensions/amp-analytics/0.1/vendors, an example has been added to examples/analytics-vendors.amp.html, and extensions/amp-analytics/0.1/test/vendor-requests.json has been updated with an entry for merklesearch.

[2018-11-27 21:25] dreamofabear opened #19479 "Stop cache rewriting of URLs in style attributes of templates"
### Background

Currently, URLs inside the `style` attribute of `<template>` descendants are rewritten as AMP cache URLs (on pages served from AMP cache). For example:

[code]

[code]

This can cause bugs when the URLs have template variables, e.g. #19439. To avoid these bugs and [improve consistency with existing behavior](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modificat

[2018-11-27 21:51] Gregable commented on #19439
See choumx's referenced issue for more updates.

The short version is this was an implementation mistake when we implemented the style URL rewriting in the AMP Cache. Fixing it is easy, but there could be documents that rely on this behavior.

If someone uses: `background-image:url('relative-url.png')` then the cache currently fixes a bug in their template code by making this an absolute, cached,

[2018-11-27 21:55] Gregable commented on #19439
I haven't confirmed this works, but I think a hacky workaround for the time being would be to add a mustache variable that encompasses the "url" part of the string, so rather than:

`style='background-image:url(@{{inspiration.inspiration}});'>`

Use

`style='background-image:{{inspiration.inspiration}};'>`

And then set `inspiration.inspiration` to be `url(http://example.com/)` or what not. If the

[2018-11-27 22:09] lannka commented on #19269
@aghassemi right the problem will be gone in inabox once it has its own resource manager.
but it's still a problem in general for amp-animation.

as a tmp work around, would it be acceptable to have 1px width/height with visibility=false?

[2018-11-27 22:10] jharveymerkle commented on #19477
This code will be re-submitted under a Merkle-owned Github account.

[2018-11-27 22:56] morsssss commented on #15201
I was just curious, as we're working on a sample e-comm demo that will eventually have a payment step... has this task been prioritized? Do we expect anyone to pick it up within the next few months?

Thanks!

[2018-11-27 23:30] prateekbh commented on #13369
does this mean amp-install-service-worker will do nothing on cache-served pages for ios?

[2018-11-27 23:34] lannka opened #19484 "🚄Release tracking issue for canary release 1811272154520 (Canary)"
# Release tracking issue

- [x] Release [1811272154520](https://github.com/ampproject/amphtml/releases/tag/1811272154520) is cut as a new canary release
- [x] Release [1811272154520](https://github.com/ampproject/amphtml/releases/tag/1811272154520) pushed to dev channel (6:36 PM, Nov 27, 2018 UTC-8)
- [x] Release [1811272154520](https://github.com/ampproject/amphtml/releases/tag/1811272154520) pus

[2018-11-27 23:37] lannka commented on #19476
Pushed to prod.

[2018-11-27 23:37] #19476 closed

[2018-11-27 23:39] cramforce commented on #13369
Correct.

On Tue, Nov 27, 2018 at 3:30 PM Prateek Bhatnagar <notifications@github.com>
wrote:

[2018-11-27 23:46] ryanashcraft commented on #19160
@calebcordry I have something working for 2-level depth template expansion. How about I start a PR and continue the discussion there? Does that sound good?

Thank you all for working with me and raising these concerns. Happy to work through whatever process is required to work out the details and reach a solution. In the meantime, I do need some clarifications regarding the concerns already raised

[2018-11-28 00:00] calebcordry commented on #19160
@ryanashcraft we talked as a team and thought it might be beneficial to talk about some of these things ahead of time. Our main concern is preventing you having done any wasted work.

There are a few design decisions that need to be made here (you have touched on a some of them). I think a quick meeting with the analytics team could help jumpstart the process. Does that sound reasonable to you? In

[2018-11-28 00:04] dvoytenko commented on #19033
@jpettitt I think not going to be as useful for `amp-subscriptions` b/c the set of events that can trigger refresh is much stricter and we already trigger refresh in all of those cases.

[2018-11-28 00:12] #19237 closed

[2018-11-28 00:17] ryanashcraft commented on #19160
@calebcordry Sounds good to me. Let me know what the next steps are there.

That said, one thing I'm concerned about is the timeline. It'd be really helpful for me to know usually how long it takes to work through the process for a change like this (taking into account that I'm happy to do whatever it takes to help expedite the process). Even a rough estimate would be really helpful for me to eval

[2018-11-28 00:51] torch2424 commented on #15201
@morsssss We had this brought up during our design review: https://github.com/ampproject/amphtml/issues/18658

Seems like the Google Pay team is working on this, and planning on contributing it, so you may want to reach out to them? Also, their work is dependent on some of my work with Async Input, which is in it's final PR now before being code complete 😄

[2018-11-28 00:55] jeffjose commented on #19160
@ryanashcraft We've been talking about this a bunch in our internal meetings. I think the changes you're suggesting is something we want to accommodate but at the same time make sure that we cover all the bases so that there isn't a lot of back and forth.

Will it be possible to write a one-pager and get together for a quick meeting? The purpose of the meeting is to make sure we're all on the same

[2018-11-28 01:10] jpettitt commented on #19033
Done will be in production in ~2 weeks.

[2018-11-28 01:10] #19033 closed

[2018-11-28 01:37] ryanashcraft commented on #19160
@jeffjose Sounds good. Are you asking me to write a one-pager?

[2018-11-28 01:54] jeffjose commented on #19160
Yup! @calebcordry said he can make time tomorrow (Wednesday, Nov 28) so if there's sometime that works for you we can quickly do a video call.

You can also find us over at Slack (amphtml.slack.com). Join using this [link](http://bit.ly/amp-slack-signup)

[2018-11-28 01:57] ryanashcraft commented on #19160
@jeffjose Signed up via that link. Tomorrow should work for me. I guess I'll coordinate with you and @calebcordry on Slack for a time.

Can you give me a high level overview of what your expecting from this one-pager?

[2018-11-28 01:58] gmajoulet commented on #17797
Still can't repro the issue where the story is rendered paused... :(

[2018-11-28 02:16] zonetw opened #19488 "User using anything crypto-currency related may be attacked"
according to this post: https://github.com/dominictarr/event-stream/issues/116
![image](https://user-images.githubusercontent.com/1495482/49124278-c3768080-f2f6-11e8-958e-4498c5bc31e8.png)

I checked use this command `npm ls event-stream flatmap-stream`
and found that
![image](https://user-images.githubusercontent.com/1495482/49124338-09334900-f2f7-11e8-91f3-066e51bab714.png)

[2018-11-28 02:33] #19488 closed

[2018-11-28 03:11] aghassemi commented on #16907
`amp-google-document-embed` has been launched.

[2018-11-28 03:11] #16907 closed

[2018-11-28 03:56] #17763 closed

[2018-11-28 04:14] igrigorik commented on #19381
@cramforce @westonruter @Gregable pre-coffee brain fart, apologies.. Yes, you're right, I confused "non matching stylesheets are not part of the critical render path" and "not downloaded" — they are downloaded, they just don't (or, shouldn't at least ;-)) block rendering.

[2018-11-28 09:29] jaygray0919 commented on #16907
Thank you

[2018-11-28 14:06] #17337 closed

[2018-11-28 14:18] glevitzky commented on #16647
Should be resolved now; forgot to close.

[2018-11-28 14:18] #16647 closed

[2018-11-28 15:30] cramforce commented on #19381
AMP actually takes advantage of this to make Font-provider stylesheets not
block rendering :)

On Tue, Nov 27, 2018 at 8:14 PM Ilya Grigorik <notifications@github.com>
wrote:

[2018-11-28 15:34] choumx commented on #16322
/cc @dvoytenko

[2018-11-28 15:48] gmajoulet commented on #16533
Actual implementation issue: #19270

[2018-11-28 15:51] gmajoulet commented on #16466
Closed by #19153

[2018-11-28 15:51] #16466 closed

[2018-11-28 16:56] alabiaga opened #19494 "Intent-to-implement: Action macros with amp-action-macro"
Create reusable action macros.

    <amp-action-macro id="closeNavigations"
        action="AMP.setState({nav1: {open: false}, nav2: {open: false}})">
    </amp-action-macro>

    <button on="tap:closeNavigations">&times;</button>
    <div class="backdrop" on="tap:closeNavigations"></div>

vs

    <amp-bind-macro id="close" expression="{open: false}"></amp-bind-macro>

    <button on="tap:AMP.setS

[2018-11-28 17:00] alabiaga opened #19495 "Remove amp-action-macro experiment."
#19494

[2018-11-28 17:15] joshfg opened #19497 "Intent to Implement: Permutive as an amp-analytics vendor"
Hi there!

We'd like to add [Permutive](https://permutive.com) to the amp-analytics vendors list, to make it easier for our customers to integrate Permutive with their AMP pages.

[2018-11-28 17:40] GrizzlyEnglish opened #19498 "amp-story desktop amp-social-share svgs too large for parent container."
## What's the issue?

The share hover bar svgs are larger than parent. And lacks any spacing between the svgs.

## How do we reproduce the issue?

Open any amp story in desktop view. Here is one of CNN visual stories.

https://www.cnn.com/ampstories/us/10-of-the-nfls-strangest-stadium-foods

## What browsers are affected?

Chrome 70
Firefox
Safari

## Which AMP version is affected?

I think this i

[2018-11-28 17:54] prateekbh commented on #16707
Fixed by https://github.com/ampproject/amphtml/pull/17642

[2018-11-28 17:54] #16707 closed

[2018-11-28 18:08] calebcordry opened #19499 "🐛withdrawRequest does not work in single pass tests"
Travis runs all integration tests with normal build as well as single pass. The two integration test files using `depositRequestUrl` and `withdrawRequest` do not work when built using single pass.  We spent some time debugging this and discovered it to mocha running one version of the code, and the test itself having a different obfuscated version.

This was not obvious earlier because these tests

[2018-11-28 18:16] newmuis commented on #19498
/to @gmajoulet was this caused by switching to the color versions of the icons?

[2018-11-28 18:31] cathyxz commented on #15940
I think this has been done already.

[2018-11-28 18:31] #15940 closed

[2018-11-28 18:33] cathyxz commented on #13602
This is mostly done except for an amp by example. I'll get that out and close this by the next fixit sprint (approx end of Dec).

[2018-11-28 18:45] cathyxz opened #19502 "[amp-list] Review documentation for amp-list-load-more (aka element level infinite scroll)"
Filing follow up for documentation review of https://github.com/ampproject/amphtml/pull/19399.
Review / clarify documentation for `amp-list-load-more` experiment.

[2018-11-28 18:45] gmajoulet commented on #19498
It is... Just sent a fix :)

[2018-11-28 19:13] #19498 closed

[2018-11-28 19:48] mrjoro commented on #19289
Cancelling since there are no topics.

[2018-11-28 19:48] #19289 closed

[2018-11-28 20:46] cvializ commented on #16870
It looks like the expected behavior in the report is the current behavior.

https://ampb.in/#5LXvtW4hAMz96WIWLwkU

[code]

I'll close this issue, and if the expected behavior fails again we can reopen.

[2018-11-28 20:46] #16870 closed

[2018-11-28 21:47] choumx commented on #18220
Might be related to DOM streaming e.g. the browser decides to flush render with only part of the document. If stream cutoff happens to be at the amp-carousel's children, then it could explain this result. I've seem something similar before in #17194.

Assuming that's the issue, to fix it we'd need to either observe child mutations in the carousel or send a signal from its children to the carousel

[2018-11-28 22:17] #17230 closed

[2018-11-28 22:33] cathyxz commented on #10230
`changeToLayoutContainer` is now launched experimentally in canary. To use it, go to https://cdn.ampproject.org/experiments.html and turn on both Dev Channel and `amp-list-resizable-children`. Here's a sample glitch app that you can remix / edit: https://amp-list-demo.glitch.me/amp-list-resize.html. The same sample is also in this repository under `test/manual/amp-list-resize.amp.html`.

[2018-11-28 23:09] ayumihamsaki opened #19513 "[MASTER FEATURE] <amp-img> autogenerate sizes"
I find making Responsive Images in amp-html actually harder than normal HTML (which should not be the case).

Take the following code examples:

The first example I am going to create a responsive image in normal html using the wonderful [lazysizes](https://github.com/aFarkas/lazysizes) library, see code example:

[code]

The above library does the hard work for you with the attribute `data-sizes=

[2018-11-28 23:42] choumx opened #19514 "Presubmit check for PWA-unsafe references in extensions"
Consider checking for `window.document` and other PWA-unsafe code in `extensions/**/*`.
- [ ] `window.document`

/cc @jridgewell @lannka

[2018-11-28 23:46] stylesuxx commented on #8691
@aghassemi could you elaborate how I can use the mentioned components to sort a table in place without having a "dynmic" list source? ie.: I have a table, and I want the rows of the table sorted without having to make calls to an endpoint that will return JSON data.

[2018-11-28 23:59] mdiblasio opened #19516 "AMP URL API not returning AMP URLs"
## What's the issue?
The [ampUrls.batchGet API method](https://developers.google.com/amp/cache/reference/acceleratedmobilepageurl/rest/v1/ampUrls/batchGet) is returning error code "NO_AMP_URL" for canonical URLs that have live, valid AMP pages (that serve in Google Search).

## How do we reproduce the issue?
Examples:

- https://www.zales.com/rings
- https://www.samsung.com/us/smartphones/galaxy-s

[2018-11-29 00:01] mdiblasio commented on #19516
[Referenced question](https://stackoverflow.com/questions/53488756/amp-url-api-not-returning-valid-amp-page)

[2018-11-29 00:11] lannka opened #19517 "refactor parentPostMessage to take element instead of ampdoc"
[code](https://github.com/ampproject/amphtml/blob/2cc2ed090a0e4a1b61e3e0fa4a58b007f4943fa2/extensions/amp-analytics/0.1/requests.js#L304)

as we plan to have all `Services.urlReplacementsForDoc` call to take `element` not `ampdoc`.

Also worth to revisit the feature requirement if macro expansion is indeed needed for the use case.

[2018-11-29 00:19] calebcordry commented on #19144
Working on this in #19419 but I am blocked by #19499 😕

[2018-11-29 07:19] devignerforhire commented on #18563
Is there anyway around the 600px from the top restriction?

I'm using amp-user-notification to slide-in our newsletter signup form, using an iframe with our Klaviyo embed code, but that doesn't work consistently on mobile due to https://github.com/ampproject/amphtml/issues/18995 and the signup form embed is hidden on screens that don't have enough vertical height.

I can get around the iframe bug

[2018-11-29 07:21] devignerforhire commented on #18995
Any news on this one? It's preventing us from consistently loading our newsletter signup form embed via an iframe in amp-user-notification on mobile.

[2018-11-29 12:57] 88kbbq commented on #16716
The HTML5 date and time isn't supported in all browsers, namely Safari. Also, date-picker allows you to use a standard js date-picker for form inputs when the HTML5 date and time don't send AM/PM info with the value inputted. So, 12:30am is just 12:30. Yeah, this date picker is needed! And a time picker too! Not to mention, this date picker is very nice looking and easy for users to interact with.

[2018-11-29 12:57] 88kbbq commented on #16716
Issue: locale isn't supported! How can we change the locale to Chinese so dates and months appear in the right language?

[2018-11-29 13:00] 88kbbq opened #19524 "Date-Picker Locale doesn't work"
After implementing the amp-date-picker, I found that the `locale` attribute doesn't do anything. We have a multi-lingual site, need to change the locale per language. That would be easy if the `locale` attribute could access a URL with translation or something.

Hurry guys! This is a very humiliating problem to have in 2018 with a framework like AMP.

[2018-11-29 13:45] newmuis commented on #12786
This also applies to Google Chrome's [Data Saver Mode](https://support.google.com/chrome/answer/2392284).

[2018-11-29 14:19] keepitsimple commented on #5225
2 years passed but the problem is not resolved yet.

[2018-11-29 15:31] 88kbbq commented on #6469
What about validation? How do you make this date picker a mandatory field like e-mail or name? Documentation for validation seems not to apply to this component.

[2018-11-29 15:35] 88kbbq commented on #6469
Ah, the `required` attribute needs to appear in the input field, not the amp-date-picker component. Tricky!

[2018-11-29 16:33] choumx commented on #17483
Sorry for the late response. Authentication is also tricky because how would you generate the auth token to pass in a header? You'd need a middle layer for passing your client ID/secret first.

[2018-11-29 16:52] choumx commented on #17074
Unfortunately, I don't think it's possible to share a worker across a page and an embedded, sandboxed iframe.

This may be possible if we devise a way to embed same-origin content without a sandboxed iframe, but that will need a lot of design discussion first.

[2018-11-29 16:56] choumx commented on #12994
/to @alabiaga A possible next project.

[2018-11-29 16:57] choumx commented on #17024
@alabiaga Let's add that null-check as described in https://github.com/ampproject/amphtml/issues/17024#issuecomment-415870455.

[2018-11-29 17:13] #16380 closed

[2018-11-29 17:13] #19146 closed

[2018-11-29 17:15] #19257 closed

[2018-11-29 18:47] #19255 closed

[2018-11-29 18:50] choumx commented on #15311
This is now fixed with the `binding` attribute on `amp-list`.

[2018-11-29 18:50] #15311 closed

[2018-11-29 18:52] choumx commented on #16769
Tasks: #16322, #10705

[2018-11-29 19:02] dvoytenko commented on #5225
@aghassemi As I described [above](https://github.com/ampproject/amphtml/issues/5225#issuecomment-280518895), there's definitely no good consensus on cross-document back navigation for this API (and definitely not cross-origin). Too many embedded environments where this would simply lead to broken UX. Unfortunately, the Web History API is not great for this kind of cases. We could do some work to c

[2018-11-29 19:04] zhouyx commented on #18995
I may know the cause to that. I've fixed a very similar issue for amp-consent. amp-user-notification in this case should handle layout for the child iframe, and the race condition here is most like amp-user-notification and AMP runtime both fail to schedule layout for the amp-iframe.

[2018-11-29 19:06] zhouyx commented on #18563
You should be able to skip the check by providing a placeholder.

Regarding the amp-user-notification issue, I've replied to #18995, let's track the issue there. Thanks.

[2018-11-29 19:29] prateekbh opened #19533 "Code coverage is reporting 100% failure"
## What's the issue?

- Code-cov is reposrting 100% failure on PR #19511,
- Also bundle-size is reporting failure with message says "Action required after 10m"

[2018-11-29 21:27] torch2424 opened #19543 "amp-script: Cannot create images with data URIs"
cc @choumx @kristoferbaxter

From playing around with the `amp-script` experiment, it seems like you cannot create / edit the `src` attribute of an `<amp-img>` where the `src` attribute contains a base 64 encoded image through a data URI.

See the code in our current dom purifier:

https://github.com/ampproject/amphtml/blob/master/src/purifier.js#L191

This seems to not be allowed due to a securit

[2018-11-29 21:46] #19434 closed

[2018-11-29 22:08] torch2424 opened #19544 "AMP Dashboard / app-index: Cannot open without internet"
Currently, all amp extensions on the dashboard are served from cache. This was done so that even if you broke an extension that the dashboard depended on, it would still be able to work.

However, for users on airplanes or internet outages, we should support serving local extensions. I suggest we make a new gulp `--offline` flag, to allow serving the dashboard offline with locally built extensions

[2018-11-29 22:18] aghassemi commented on #14863
@carsugar To make sure I understand correctly, this is a request for `top, left, bottom, and right` to be available in `amp-analytics` is that correct?

[2018-11-29 22:18] aghassemi commented on #14863
/to @jeffjose @zhouyx

[2018-11-29 22:20] carsugar commented on #14863
Yes, that's right.  Thanks!

[2018-11-29 22:30] aghassemi commented on #19524
@88kbbq Please follow [Code of Conduct](https://github.com/ampproject/amphtml/blob/master/CODE_OF_CONDUCT.md) when filling issues. Missing features / bugs are normal part of software development and GitHub issues if not a platform for rant.

/to @cvializ to triage.

[2018-11-29 22:37] jeffjose commented on #14863
This sounds reasonable to me. @lannka thoughts/

[2018-11-29 23:18] aghassemi commented on #8691
@stylesuxx You would still need to use `amp-list` to render but `amp-list` can now render from `local` `amp-state` data, so filtering can simply reorder the data used to render the items.

See https://ampbyexample.com/dynamic_amp/client-side%20filtering/ for an example, although it initially loads the data from remote end point in this example, filtering is done all using local data.

[2018-11-29 23:32] aghassemi commented on #18784
Yay 🎉 Thank you!

[2018-11-29 23:38] aghassemi commented on #19513
@ayumihamsaki totally agree this would be a great feature. We have talked about it in the past https://github.com/ampproject/amphtml/issues/11575#issuecomment-361096166 . Thanks for the reference to lazysizes framework as well.

[2018-11-29 23:42] ryanashcraft opened #19548 "amp-analytics Nested Value Template Expansion"
## TLDR

I would like to propose a change to the behavior of amp-analytics so that when data is sent via an XHR POST with `useBody` enabled, variable template expansion (aka var substitution) will be performed not just on top-level key-value pairs, but on nested values within the body.

## Higher-Level Goals

I'd like to enable support for vendors like Amplitude to provide an amp-analytics API tha

[2018-11-29 23:47] calebcordry commented on #19548
cc/ @jeffjose @zhouyx @lannka @torch2424

[2018-11-30 00:49] torch2424 commented on #19516
Triagiang to @Gregable , as it kind of sort of relates to cache? Though I know the API is run somewhere else? Feel free to reassign 😄

[2018-11-30 01:17] rsimha commented on #18784
Sorry, the code merged today adds Chrome Dev to our list of platforms, but we'll need a follow up PR from @estherkim to enable it and weed out any new failures. Coming up soon!

[2018-11-30 04:32] newmuis commented on #16535
Merged this into #12191

[2018-11-30 04:32] #16535 closed

[2018-11-30 04:40] newmuis commented on #19471
We should be able to just add an `if` to the `amp-sidebar.js` snippet above using the util that @alanorozco added in #19475.

@bramanudom, would you mind taking a look?

[2018-11-30 05:06] 88kbbq commented on #19524
I'd consider that some strong encouragement, not a rant. Locale is in the docs but does nothing at all. Just saying. If there is missing functionality, kindly note that in your documentation so the hard working devs who adopt AMP don't have to bother you here. And not everyone in the world speaks English. I just have no idea why language is such an afterthought in the United States. Even your cale

[2018-11-30 08:59] jaygray0919 commented on #15955
Thanks for update. We have several stories pending the implementation of this feature so will be ready to test when you signal the next release. We also experience problems with some SVGs and will test those conditions in next release.

[2018-11-30 11:36] devignerforhire commented on #18563
@zhouyx thanks for the placeholder tip - not sure how I missed that in the docs!

[2018-11-30 11:46] devignerforhire commented on #18995
@zhouyx Strangely, I just checked the example Sebastian posted and I can see the contents of the iframe on Chrome Android. Also my newsletter subscribe form is now showing up on chrome / android after adding the iframe placeholder. Do you know if this has this been fixed?

[2018-11-30 11:56] devignerforhire commented on #10230
@cathyxz I just downloaded canary and enabled both the dev channel and amp-list-resizable-children, then tested out the demo page you put together, but the list isn't resizing and I'm getting the following main errors in the chrome console:

v0.js? [sm]:130 Experiment amp-list-resizable-children is disabled
v0.js? [sm]:130 Method not found: changeToLayoutContainer in

Should the list height be res

[2018-11-30 11:58] devignerforhire commented on #10230
My canary version is 72.0.3626.0 (Official Build) canary (64-bit) - is that the right one?

[2018-11-30 12:34] 88kbbq commented on #19524
I read through all the issues and found that you're not using HTML ISO Language Code Reference codes. Using zh-Hant doesn't work but zh-tw does. That threw me off. All good. Thank you and close.

[2018-11-30 12:34] #19524 closed

[2018-11-30 13:01] syedimran22 commented on #19444
Thank you for your response @newmuis I will be waiting for <amp-youtube> element and <a> tags support within <amp-story-grid-layer> .

[2018-11-30 13:19] syedimran22 commented on #19444
And also could you let me update once the support feature gets added in amp-stories so that I can implement the elements in our extensions.

[2018-11-30 15:11] enzo-giancola commented on #19434
Hi,

related to the same problem with

[code]

when an AMP document is injected via

[code]

in a Progressive Web App

we can see that CSS conditions in order to hide/show variant elements aren't working.

For examples, using Override variant allocation within AMP VIEWER:

https://example.com/progressive-web-app-sample-path/amparticle#amp-x-experiment=none

components related to a variant are stil

[2018-11-30 15:16] hw-dwalter opened #19554 "foreignObject not allowed in inline <svg>"
I am using foreignObject in inline svg tags. As stated here https://www.ampproject.org/docs/fundamentals/spec#svg foreignObject should be allowed in svg. But validator will complain about it. Is this a bug or feature?

I have to put my svg inline because i am using apt-bind bindings https://www.ampproject.org/docs/reference/components/amp-bind#bindings
These special attributes seem to be only "val

[2018-11-30 16:22] newmuis commented on #15955
@jaygray0919 sounds good.  Please feel free to file a separate issue for the SVG questions you may have.

[2018-11-30 16:28] GrizzlyEnglish opened #19557 "amp-story bookend consent inconsistent margin."
**Not sure if issue or intended, just looks off.**

## What's the issue?

When you reach the bookend with an amp-story-consent and see the bookends consent the margin is 32px (class: `i-amphtml-story-bookend-consent`), whereas the rest of the bookend components have 24px margins (class: `i-amphtml-story-bookened-component-set `and `i-amphtml-story-bookend-replay`)

## How do we reproduce the issue

[2018-11-30 17:08] Gregable commented on #19516
This is a Google product specific issue. Filed #120261467 internally to track.

[2018-11-30 17:08] #19516 closed

[2018-11-30 18:20] zhouyx commented on #18995
I don't believe we've made recent changes to amp-user-notification. Just checked @sebastianbenz example page, and seems like they changed it to using amp-img instead of amp-iframe.

[2018-11-30 19:22] mrjoro commented on #19448
# UI
contact: @aghassemi

## What was accomplished

- `video-percentage-played` for `<amp-analytics>`
- Disable mediasession for `<amp-story>` videos
- IE 11 fix for templates and fx-collection
- amp-list resizing (changeToLayoutContainer & [is-layout-container])
- Orientation observer polish
- Gesture recognizer fix
- More progress on Image transition polish
- amp-list infinite scroll progress

#

[2018-11-30 19:30] mrjoro commented on #19448
# Stories
contact: @newmuis

## What was accomplished

- Prototype of loading two stories in one doc and switching between them
- Validation and tests for links & tooltip in amp-story-grid-layer
- Started refactoring MediaPool to better accommodate amp-video

## What's next

- Design for Story-to-Story feature
- Design for embedding AMP components in Stories
- Continue work to enable video refacto

[2018-11-30 19:33] mrjoro commented on #19448
# Infrastructure
contact: @rsimha

## What was accomplished

- Upgraded closure compiler to v20180101
- Enabled owners bot in status mode (vs. comment mode)
- Large non-critical dev dependencies are lazy-installed
- Reliability fixes for visual diff infra
- Design review: release automation
- Design review: bundle size bot
- WIP: Expanding integration test matrix and upgrading versions
- 50k ampht

[2018-11-30 19:35] mrjoro commented on #19448
# Special Ops
contact: @kristoferbaxter

## What was accomplished

- amp-script
  - Debug and assist early users
- worker-dom
  - Node.cloneNode()
  - Release Process + Documentation
- Bundle Size
  - Rolled back Brotli outside Google, due to GCache issue
- Service Worker Generator
  - Performance Tests
  - Offline Page Module

## What's next

- amp-script
  - Keep up with worker-dom changes
- wor

[2018-11-30 19:35] #19448 closed

[2018-11-30 20:07] cathyxz commented on #10230
@devignerforhire that error message seems to be indicating that the `amp-list-resizable-children` experiment is not enabled. If you navigate to the experiments page using the same page, are you sure that the experiment is on? To fix that, you could also try `AMP.toggleExperiment('amp-list-resizable-children')` in your browser's JS console. That should achieve the same effect as turning on the expe

[2018-11-30 20:10] cathyxz commented on #10230
Also by canary, I'm referring to the AMP canary, which is 1811272154520. For example, if you use the glitch link I pasted above, you should see the following in your JS console:

The response to `AMP.isExperimentOn('amp-list-resizable-children')` should be true:

[2018-11-30 20:50] zhouyx commented on #19470
@PhilWinchester Sounds good. Please let us know if there's anything we can help with. Looking forward to your PR.

[2018-11-30 20:50] alanorozco opened #19563 "🚮Cleanup `amp-video-iframe` experiment"

[2018-11-30 21:00] #14240 closed

[2018-11-30 23:05] jgluk commented on #19516
The two URLs in the first comment have been fixed. We are working to prevent this from happening again in the future.

[2018-11-30 23:15] warrengm opened #19567 "[amp-analytics] max/minVisiblePercentage not set when visiblePercentageMin is specified"
When an element becomes visible but doesn't meet visiblePercentageMin, its `loadTimeVisibility` will be set to the appropriate value but `minVisiblePercentage` and `maxVisiblePercentage` won't be. I haven't dug any further so it's unclear what cases are affected, but it seems limited to when `reportWhen` is included. A repro can be found below:

https://github.com/ampproject/amphtml/pull/19304/fil

[2018-11-30 23:19] warrengm commented on #19567
Also see https://github.com/ampproject/amphtml/pull/19304 for recent changes to `reportWhen`

On second thought I don't think it would manifest in other cases where `reportWhen` is not present. But I suppose that `minVisiblePercentage` might not be set if it doesn't adhere to the visibility spec.

[2018-12-01 01:05] nainar commented on #18634
We should constrain the maximum dimensions that the image-slider can take up, to ensure that is enevr the full viewport allowing us to at least `try` to ensure that the user never ends up in the bad case.

Also best way forward is to probably add an attribute on the image slider called `orientation`.

@cathyxz

[2018-12-01 01:51] cathyxz commented on #18634
Do we have a project for the next fixit yet?

[2018-12-01 12:56] stylesuxx commented on #8691
@aghassemi I have to come back to you: `amp-list` will not render initially from `local amp-state` I first have to invoke `setState` before the list renders with content - is this a bug, or am I missing something?

[2018-12-01 13:30] pbakaus opened #19570 "Feature request: Support scrollIntoView"
Sorta but not really related to #16860, for amp.dev, we need the ability scroll an element into view right after page load.

Pretty sure we discussed this some time back, and pretty sure there might have been a good reason to not support it, but...I'd like to challenge it again :)

In our case, we have a sidebar that has an overflow/scrollable area, and the link from the page you're on gets highli

[2018-12-01 13:30] pbakaus commented on #19570
/cc @aghassemi

[2018-12-01 18:32] honeybadgerdontcare commented on #19393
@curseagain 	The validator allows any attributes that begin with `data-`.

[2018-12-02 18:16] mpaw opened #19573 "Support for server side paywalls"
The `amp-access-server` module has been in experimental phase for a long time now. There is an issue from two years ago that has a comment that said the implementation was done and that it's just going through security reviews: https://github.com/ampproject/amphtml/issues/4000#issuecomment-255460622

The current client side paywall implementation is not only extremely easy to circumvent, but by de

[2018-12-02 19:55] prateekbh commented on #19434
I am not completely aware of what amp-viewer does but since it again deals with [iFrames](https://github.com/ampproject/amp-viewer/blob/master/mobile-web/src/viewer.js#L83) which means the document is not attached on the actual body, I guess this should fix it. I'll try to verify this tomorrow.

@choumx can you confirm my assumption  about the working of amp-viewer?

[2018-12-03 07:03] srehanuddin opened #19575 "Custom JS on form submit failure"
I have to run some javascript code if i got some specific type of error on form submit.

JS code will check response status and message, and then check web page open in android or ios webview and some js function exists or not which inserted by parent app (android or ios), if this function exists call that function with response text.

Are you planing to introduce this type of feature?

[2018-12-03 13:13] kina4smile opened #19579 "amp-video sometimes missing source in amp-story"
## What's the issue?

We are creating the amp-story. Sometimes the video doesn't start to play. If we try to inspect DOM we can see that there are no src attribute in the amp-video tag, and the inner vide tag doesn't have the source tag as well. So in the and there is no video source, so it doesn't play.
http://prntscr.com/lq3b2b

What's even more weird is, if video tag has the animation and video

[2018-12-03 15:07] leonalicious opened #19580 "[amp-list] `amp-list` to support `AMP-Redirect-To` as `amp-form`"
hey, I would like to know is there any chance that I can use `amp-list` to do the redirect navigation as `amp-form` ? Because currently we are facing an issue while dealing with Web Crawler, when our backend detects and suspects the request is a malicious spider, it returns with HTTP Code 302 and a `text/html` Content-Type of file. But we will not be able to proceed the request with `amp-list` as

[2018-12-03 15:21] choumx commented on #19434
@enzo-giancola Can you share a page that has this bug so we can verify?

[2018-12-03 15:45] Enriqe commented on #19557
Thanks for the report, I'll take a look.

[2018-12-03 16:38] leonalicious commented on #14060
Hey @cathyxz, nice work !  I have tried with the [infinite Scroll example](https://amp-infinite-scroll.glitch.me/finite.html) and it works like a charm. But one thing I realize it is something pure `amp-list` approach without `amp-bind`.  Because of the complexity of some business use cases, there are some scenario might need to include amp-bind Params when fetching for data with infinite scroll b

[2018-12-03 16:42] alabiaga opened #19583 "Add amp-list integration test for script template type"
See #19346

[2018-12-03 16:46] honeybadgerdontcare commented on #19554
@hw-dwalter 	Could you provide a code sample that fails validation for this? `filter` is allowed as an attribute. You can test your code sample at `validator.ampproject.org`.

[2018-12-03 17:03] alanorozco commented on #15847
With tap-to-watch, is there a need for MediaPool at all? I don't think think the signals to bless would work asynchronously (i.e. via `postMessage`).

[2018-12-03 17:04] hw-dwalter commented on #19554
Of course, here is the sample that fails validation
https://gist.github.com/hw-dwalter/5fb27af180ea233690214d4df012ec53
See validation result
https://validator.ampproject.org/#url=https%3A%2F%2Fgist.githubusercontent.com%2Fhw-dwalter%2F5fb27af180ea233690214d4df012ec53%2Fraw%2F3fd87ced4e155980b3bfc0a5aed9963baceb845b%2Famp%252520svg%252520foreignObject.html

[2018-12-03 17:06] newmuis commented on #15847
Correct, we wouldn't need it for that.

Also correct.

However, I think (if possible), we want to allow autoplaying these videos.  We'd want to prototype and figure out whether this is even technically possible.

[2018-12-03 18:05] calebcordry opened #19585 "Source maps are inaccurate"
Seem to work fine when testing with karma, but do not work when running the local dev server.

The command I use is `gulp`

[2018-12-03 18:13] calebcordry opened #19586 "Change expandStringSync to not encode"
We thing that `expandStringSync` was unnecessarily url encoding it results. This should be changed to not encode, but we need to make sure to not break the existing callers.

https://github.com/ampproject/amphtml/blob/309e822db5f8174f39aa12b3f11ab810414301b3/extensions/amp-ad-exit/0.1/amp-ad-exit.js#L162

[2018-12-03 19:10] sebastianbenz commented on #14257
Pinging this again. Quick reminder how bad this is: if you load https://www.bmw.com/ this bug results in 180kb of unneeded preview image downloads.

[2018-12-03 19:48] zhouyx opened #19589 "Document amp-analytics cookies feature"
To document the `cookies` feature

[2018-12-03 20:03] zhouyx commented on #14863
@carsugar Not sure I understand the request correctly, What are the coordinates relative to to? The `top` `left` position relative to viewport or document?

[2018-12-03 20:06] cathyxz commented on #14060
Hi @leonalicious ! Thanks for trying this out and for your thoughtful feedback. So here's what we're thinking on client-side and server-side filtering.

1. Server Side Filtering
The `[src]` component of amp-list will be bindable (as it already is), and you can bind that on button clicks to alter the `[src]` of the entire list. This would result in the `amp-list` deleting its current items and show

[2018-12-03 20:15] jaygle commented on #14863
The coordinates should be relative to the browser viewport.  (I'm taking over this request from @carsugar).

[2018-12-03 20:44] bramanudom commented on #19471
Thank you @alanorozco for doing the work to create a util for use in both amp-video and amp-sidebar!

I do have one thing I wanted to point out though. From the mocks [here](https://github.com/ampproject/amphtml/issues/16532#issuecomment-427419206), it seems like the amp-sidebar is actually placed not within an amp-story-page but as a sibling, within the overall amp-story tag.

Because of the util

[2018-12-03 20:47] zhouyx commented on #14863
@jaygle If so, the value is constantly changing when user scroll the page? Wonder when do you want the value to be measured?

[2018-12-03 20:54] newmuis commented on #19471
Yep, that sounds correct.

@alanorozco, can we change the [`descendsFromStory`](https://github.com/alanorozco/amphtml/blob/903e7ff928eb4b58f52244f446afcfbab47858d4/src/utils/story.js#L28) implementation to check for `amp-story` rather than `amp-story-page` to account for this?  (despite the small performance hit)

[2018-12-03 21:42] aghassemi commented on #19570
@pbakaus I assume `<a href="/otherPage.amp#idOfTheActiveLink"` doesn't do the right thing? I was hoping it would scroll the parent scroller. I am thinking maybe the right fix is exactly that, making sure anchor navigation works in nested case by patching it in AMP runtime.

[2018-12-03 22:03] torch2424 commented on #19575
Triaging to @cvializ Since it involves amp form 😄 Feel free to reassign.

Though, currently AMP does not support custom / external JS. We suggest using out components to accomplish your tasks and build your UI. If you could provide some sample code of what you are trying to do that would definitely help us steer you in the right direction.

Thanks! 😄

[2018-12-03 22:04] torch2424 commented on #19573
Triaging to @dvoytenko , feel free to re-assign 😄

[2018-12-03 22:21] cvializ commented on #19575
hi @srehanuddin! I believe WebViews can intercept responses and evaluate their own JS in the context of the document, so it sounds like you can do this just like you would with any other document. WebViews are able to inspect the content of responses, so the WebView could inject the function call with the response text after it receives the response.

I don't believe AMP is planning any features t

[2018-12-03 22:57] aghassemi commented on #8691
@stylesuxx Initial render from `amp-state` is currently not possible (we like everything to be statically available at load time for fast rendering as much as possible so client-side rendering of non-dynamic data is not something we are planning to do). What you can do is:
1- Have initial data render server side, not even in an `amp-list` just with normal static HTML tags
2- Use `amp-state` to fet

[2018-12-03 23:14] zhouyx opened #19598 "Move not globally used variables from source to amp-analytics"
This is to reduce the size of v0.js

[2018-12-03 23:48] zhouyx opened #19599 "amp-iframe can create multiple iframe when scheduled layout more than once"
This can be an issue if parent element is trying to schedule layout for the child amp-iframe component.

[2018-12-03 23:50] Enriqe opened #19600 "[amp-story] Refactor pagination buttons to use store service"
Right now the pagination buttons are laid out from the `onNavigationStateChange` method, which depending on a set of states updates the buttons.

The current state is problematic because it relies on previous states. But really they should be deterministic for any given state, independent of any previous states.

[2018-12-04 00:34] torch2424 opened #19604 "Extra files being included in the Travis pr-check.js"
As stated in the team chat, some PRs are failing in travis due to incorrect files being added to their `pr-check.js`.

For example, see the following PRs and their Travis failures:

#19556 (Best Example)
#19334

[2018-12-04 00:52] honeybadgerdontcare commented on #19554
`foreignObject` is allowed as an attribute to `filter`. It looks like you want to allow the `foreignObject` as a sub tag for `svg`.

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject

@aghassemi 	any objections to allowing `foreignObject` tag as a ancestor to `svg`?

[2018-12-04 00:57] rsimha commented on #19604
I'm pretty sure this is due to #19558

Assigning to @danielrozenberg

[2018-12-04 01:21] torch2424 opened #19607 "Add additional test coverage to amp-consent CMP Fullscreen"
relates to #18910

This is a follow up issue to the comment made by @zhouyx 😄

[2018-12-04 05:25] 88kbbq opened #19612 "Chrome audit error for passive listeners"
Noted this issue in chrome audit for Best Practices:

 Lowers my score so not sure how important this is.

[2018-12-04 08:29] riham13 opened #19615 "setState is not working in Server after refreshing the page"
We are using AMP.setState to add (show) another input filed or change tab with button.

Everything working fine in localhost, when we uploaded the files in server its not working properly.

Sometimes its work on first load, but not after refreshing the page.
Sometimes its work after refreshing the page, sometimes not.

We check the state at console by printing AMP.printState() and adding developme

[2018-12-04 10:10] srehanuddin commented on #19575
Hello @torch2424 please check sample code which i am using in my non amp app.

`$.ajax({
                    method : "POST",
                    url : "",
                    dataType: "json",
                    contentType: "application/json",
                    headers : headers,
                    data : data
                }).done(function(res) {

                    if(res){

[2018-12-04 11:49] devignerforhire commented on #10230
@cathyxz thanks for clarifying :) I tested it again in my normal chrome with dev channel and amp-list-resizable-children enabled and it seems to work now.

After playing with it for a bit it seems it's just switching the layout to container . Would it not be possible to add container layout support to amp-list, so if I know the list length needs to be dynamic, I can just set the layout to containe

[2018-12-04 14:08] 88kbbq opened #19616 "Broken images/carousel"
As of about 7pm local time (Taipei), nearly half of all images and carousel images returned 404.
I have not touched my website since.

This happened before with issue #15695 when someone updated and AMP component js. Looks like there's been a lot of activity, new commits and whatnot.

AMP team, please, if you make changes to a component js library, kindly update the js file version and issue a war

[2018-12-04 14:37] devignerforhire commented on #18995
@sebastianbenz, I re-tested your example on chrome / android and the iframe doesn't show up. The odd thing is, since I added the placeholder image, my newsletter signup iframe is showing up on mobile. If I add another newsletter iframe embed for a smaller version of the signup form, I get an error saying I should use amp-fixed-ad and amp-ad instead.

Here is the desktop iframe source:
https://wine

[2018-12-04 14:44] 88kbbq commented on #19616
Ok, after further inspection, I see a "amp-notsupported" in the class of select images:

`class="i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout amp-notsupported"`

[2018-12-04 15:40] rsimha commented on #19604
I realized what's going on here. For the "files changed" check, we need to use the original branch point logic as it used to be. For the visual test baseline, we need to do what you recently added.

I think splitting this into two functions is the way to go.

[2018-12-04 15:42] danielrozenberg commented on #19604
Thanks for the analysis! I'll fix this asap

[2018-12-04 15:51] jpettitt commented on #19616
I'm not seeing this on your pages can you provide a link to a page the shows the problem?

[2018-12-04 16:01] choumx commented on #19616
`amp-notsupported` class is added when an AMP component fallback is toggled. For amp-img, this happens when the image fetch fails, e.g. 404.

Looks like images on your home page are hosted on `https://www.88k.com.tw/img/`. If you only noticed this on your own domain's pages (i.e. `88k.com.tw`, not `cdn.ampproject.org`), it's probably an issue on your hosting service. I'd contact them to see if the

[2018-12-04 16:09] jpettitt commented on #19616
Reducing to P2 since we can't reproduce it.

[2018-12-04 16:12] jpettitt commented on #19616
Note there was no code push/release at the time cited so it's unlikely this was change to the amp runtime.  I've edited the issue title accordingly.

[2018-12-04 16:15] jpettitt commented on #19612
Not important. AMP balances cross browser compatibility so not all Chrome recommendations are applicable.

[2018-12-04 16:15] #19612 closed

[2018-12-04 16:24] choumx commented on #17909
Going to schedule this for our end-of-year fix-it. Thanks for your patience!

[2018-12-04 16:25] #19604 closed

[2018-12-04 16:31] erwinmombay opened #19618 "Single Pass: Add Constants transforms"
To fully get rid of our custom runner for single pass we need to move any transformation it does to a babel transform.

IS_DEV variable -> always `false` if `--fortesting` flag is not used with `gulp dist` command
IS_MINIFIED variable -> always `true`. (this is because if gulp dist is used, the js we output is assumed as minified)

these variables can be found in `src/mode.js`. We also enforce in

[2018-12-04 16:34] erwinmombay opened #19619 "Single Pass: Method Transforms"
To fully get rid of our custom runner for single pass we need to move any transformation it does to a babel transform.

if `--fortesting` flag is not used with `gulp dist` command these transformations occur:

- `getMode().test` -> is replaced with `false` boolean.
- `getMode().localDev` -> is replaced with `false` boolean.
- `getMode().minified` -> is replaced with `true` boolean.

[2018-12-04 16:42] erwinmombay opened #19620 "Single Pass: Generate sourcemaps for alternative amp binaries"
We currently do a `post` concatenation process to generate our "alternate" main binaries (shadow-v0.js, amp4ads-v0.js) they are a sum of the `v0.js` file plus their respective code `src/amp-shadow.js`, `src/inabox/amp-inabox.js`.

Because this concatenation step is already after the closure compiler has ran we do not have source maps for `shadow-v0.js` or `amp4ads-v0.js`.

Can we use something lik

[2018-12-04 16:44] choumx commented on #18463
Closing since this can't be reproduced.

[2018-12-04 16:44] #18463 closed

[2018-12-04 16:48] choumx commented on #19615
Which browser are you testing on?

[2018-12-04 16:49] choumx commented on #19615
Also, I'd recommend using amp-selector for a tabbed UI rather than amp-bind.

[2018-12-04 16:52] erwinmombay opened #19622 "Single Pass: Template failed: [object HTMLTemplateElement] [object HTMLElement]: Cannot read property 'length' of undefined"
Error: Template failed: [object HTMLTemplateElement] [object HTMLElement]: Cannot read property 'length' of undefined
at Rw (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/_base_misc.js:19)
at m (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/_base_misc.js:26)
at Function.p.Bm (_base_misc.js:31)
at MV (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/amp-mustache-0.2.js:3)
at LV.pu

[2018-12-04 16:55] aghassemi commented on #19615
I can repro the "add another" in both Safari and Chrome. It sometimes works, sometimes doesn't. The bind expressions and setState code seems fine. There is a race somewhere, but `amp-state` is local and does not have a `src`. The site is fairly slow, so the race might be between DOM loading and bind js running?

[2018-12-04 16:56] erwinmombay opened #19623 "Single Pass: Error: doubleclick Error executing onCreativeRender: Failed to construct 'IntersectionObserver': Threshold values must be numbers between 0 and 1"
Error: doubleclick Error executing onCreativeRender: Failed to construct 'IntersectionObserver': Threshold values must be numbers between 0 and 1
at PC (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/amp-ad-network-doubleclick-impl-0.1.js:21)
at NC (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/amp-ad-network-doubleclick-impl-0.1.js:21)
at JC (https://cdn.ampproject.org/rtv/0118112022

[2018-12-04 16:58] 88kbbq commented on #19616
It was a very unusual issue. There were absolutely no code changes or image modification to my static site. Images are now appearing normally and I haven't been on this server since I found the problem. I'm suspecting cache somewhere, but not my browser. Hum... Closed.

[2018-12-04 16:58] #19616 closed

[2018-12-04 16:58] erwinmombay opened #19624 "Single Pass: Error: Unknown error"
Error: Unknown error
at _.ig (v0.js:112)

... not much info. but occurs at a high rate

link to error: http://shortn/_dibhgvQUem

[2018-12-04 17:34] jpettitt commented on #19616
For future reference the first place to start with a broken image is always to try and load the image url in a stand alone browser window to confirm the image actually exists and can be served.

[2018-12-04 17:55] erwinmombay opened #19625 "fix flakey amp-subscriptions test"
`should open content when invisible` is currently flakey on master.

[2018-12-04 18:24] erwinmombay opened #19629 "Single Pass: Fix source map location"
`source_map_location_mapping` configuration in single-pass should follow multi pass value:

[code]

[2018-12-04 19:01] torch2424 commented on #19575
@srehanuddin Thank you for that!

In this case, I think what @cvializ said definitely applies to your use case. And I think it may be best for you to go down that route.

Thanks! 😄

[2018-12-04 19:03] 88kbbq commented on #19616
Yes, of course I examined everything I could think of before bothering you guys. Nav to the image url just opened the homepage. Extremely weird and couldn't fix it by clearing caches anywhere. Since the js broke once before, I thought to post then went straight to git to try to find something that could help. I do apologize for the annoyance. Good news is that it's all live and working. Cheers!

[2018-12-04 19:18] dvoytenko commented on #19573
@mpaw Thanks for inquiring. The bad news, the original amp-access-server proposal did not satisfy most of publishers or goals. The good news is that I think we found a better proposal that we are planning to publish as an ITI (hopefully) by the end of this month.

[2018-12-04 19:33] mpaw commented on #19573
@dvoytenko I would be interested in being involved in finalizing this new proposal. We have some requirements on wsj.com and barrons.com that I would like to make sure are met by this new implementation. If you want to reach out to me directly, my email is marcin.pawelek@dowjones.com. Thanks

[2018-12-04 20:04] erwinmombay opened #19633 "Single Pass: Error: Cannot set property 'config' of undefined"
Error: Cannot set property 'config' of undefined
at JE.push.f.JE.F (amp-addthis-0.1.js:16)
at (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/amp-addthis-0.1.js:4)
at QE (https://cdn.ampproject.org/rtv/011811202257200/sp/v0/amp-addthis-0.1.js:4)
at PE.push.f.PE.o (amp-addthis-0.1.js:17)
at g (https://cdn.ampproject.org/rtv/011811202257200/sp/v0.js:82)

link to error: http://shortn/_RbJ50ZCQ6

[2018-12-04 20:21] jasonconway-williams opened #19634 "AMP analytics remote config response with set-cookie header is not working in safari on the google domain."
## What's the issue?

My team recently implemented a change as a workaround to [this issue](https://github.com/ampproject/amphtml/issues/19172). We added a call on the amp-analytics element to retrieve a remote config file. The remote config contains the _ga id to be used on the page. If the request contains a _ga cookie, the content of the cookie is sent back in the response as the cid. If not, a

[2018-12-04 20:22] cathyxz commented on #10230
Great question! Supporting layout container was my first reaction to solving this too. Unfortunately we can't support layout container out of the box due to the potential of content jumping before user interaction. This action forces the change to layout container and any subsequent content shift to be a result of direct user interaction. It might be a good idea in the future to support layout con

[2018-12-04 20:39] cathyxz opened #19635 "Fix lint errors in the repository"
If you run `gulp lint` in the repository, you'll get a bunch of lint warnings that look like this:

[code]

Some of these, e.g. the ones related to assert are relatively easy to fix. Basically instead of concatenating strings, we'd like to do variable substitution. For example, we'd like to change

[code]
to

[code]

For a sample PR that does some of this, see: https://github.com/ampproject/amphtm

[2018-12-04 20:41] cvializ commented on #19575
@srehanuddin if you only need the page to react to the response of the form submit, you can use the [`amp-form` `submit-error` action](https://www.ampproject.org/docs/reference/components/amp-form#to-render-a-successful-response-with-data-binding) and [`amp-bind`](https://www.ampproject.org/docs/reference/components/amp-bind#initializing-state-with-amp-state) and the [`amp-list` [src] binding](htt

[2018-12-04 20:41] #19575 closed

[2018-12-04 20:52] signalcat commented on #19635
Can I claim this issue?

[2018-12-04 20:54] choumx commented on #19615
Thanks Ali. Looks like the DOM scan sometimes doesn't pick up the bindings in the `form`. I'll investigate this soon.

[2018-12-04 21:19] #18971 closed

[2018-12-04 21:53] calebcordry commented on #19585
Ok did some investigation. The problem lies here https://github.com/ampproject/amphtml/blob/ebf4e77186692ed274edb74167f7d9c06dbdec4f/gulpfile.js#L1273

This line wraps all the built files with the `(self.AMP=self.AMP||[]).push...` code based on filename and some logic in `compile-wrappers.js`. The problem is that this is after the source maps have already been generated here
https://github.com/amp

[2018-12-04 22:14] torch2424 commented on #19030
Pinging @dvoytenko for a response. We're currently doing a fixit week and it would be awesome if we could get this in 😄

[2018-12-04 22:37] torch2424 commented on #19349
Taking this on for the fixit week 😄

[2018-12-04 22:38] lannka commented on #19585
@calebcordry do you think it's a generic problem not just happen in amp-analytics extension?

[2018-12-04 22:47] #19484 closed

[2018-12-04 22:47] calebcordry commented on #19585
Correct, it is a problem with all extensions.

[2018-12-04 22:49] dandv commented on #2277
Any progress on allowing actual URLs in the `href` attribute?

[2018-12-05 01:05] dandv opened #19644 "More helpful error about trying to use reserved CSS selectors"
CSS code like

[code]

Will produce [this error](https://github.com/ampproject/amphtml/blob/dd6d65c415bea02f1d149d2ee2d3e22be4071d49/validator/validator-main.protoascii#L5792):

In the particular case of trying to use reserved CSS selectors, it would be very helpful to point the developer to https://www.ampproject.org/docs/fundamentals/spec#class-and-tag-names.

[2018-12-05 01:37] zhouyx opened #19647 "Fix tests failure with Chrome 71"

[2018-12-05 03:17] devvercer commented on #9074
Should this issue be reopend? Or replaced with another feature?

[2018-12-05 04:09] cathyxz commented on #19635
Sure thing! Feel free to send in a PR and tag me as the reviewer.

[2018-12-05 04:51] lannka opened #19650 "test-friendly-iframe-embed.js fails when run alone"
[code]

The test is accessing global window, and might have some dependency on other tests to initialize.

[2018-12-05 05:31] aghassemi commented on #19580
Unlikely we can support this without opening an abuse vector. Unlike form submit which is tied to a user click, `amp-list` loads the data without user-interaction and allowing the JSON response to redirect the page would essentially enable navigation without user-interaction in AMP.

When `amp-list` fails to load data, `<div fallback>` is shown, would that be a possible solution for your use-case?

[2018-12-05 05:33] aghassemi commented on #9074
re-opening. User intent flag is being implement in web platform which would allow us to bring this feature back at some point.

[2018-12-05 15:36] jeffkaufman opened #19653 "Broken cross-domain check on Inabox"
In #18794 we upgraded the closure compiler, which caused our compiled output to change from:

[code]

to:

[code]

The loop is checking `canInspectWindow_()` (`ra`, compiled)on a series of parent frames, looking for a cross domain frame, and the compiler has decided that this function will always return `true`.

That function does:

[code]

Because the compiler assumes property reads can never thr

[2018-12-05 15:37] choumx opened #19654 "Disable console.error warnings for integration tests"
Causes a lot of noise for integration tests where errors are often expected and using `allowConsoleError` is not practical e.g. image fetch failures.

Sample:
[code]

/to @rsimha for prioritization.

[2018-12-05 15:47] jeffkaufman opened #19656 "🌸 Cherry pick request for #19632 into #19659 (Pending)"
**GitHub issue your cherry pick is fixing:**

Issue #19653

**PR that you are requesting a cherry pick for:**

PR #19632

**Release(s) you requesting this cherry pick into:**

Release #19659

Production Release? NO

Canary release? YES
Release Issue #19659

*Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry

[2018-12-05 15:59] cramforce commented on #19656
Approved

[2018-12-05 16:03] choumx opened #19657 "amp-bind: Replace events with DOM polling in integration tests"
To make tests more hermetic in anticipation of new integration testing framework.

[2018-12-05 16:19] #19653 closed

[2018-12-05 16:45] cvializ commented on #19290
_Action macros with amp-action-macro_

@alabiaga : The goal is to reduce redundancy in AMP Actions markup. We can accomplish this by storing sequences of actions in a new element `amp-action-macro`, similar to `amp-bind-macro`

@cramforce What are restrictions between amp-bind-macro vs amp-action-marco
  - This is strictly in actions. amp-bind-macro only interfaces with bind expression

@jpettitt

[2018-12-05 17:13] choumx opened #19659 "🚄Release tracking issue for canary release 1812051624460 (Canary)"
# Release tracking issue

- [x] Release [1812051624460](https://github.com/ampproject/amphtml/releases/tag/1812051624460) is cut as a new canary release (with cherry-pick from #19656)
- [x] Release 1812051624460 pushed to dev channel (4:20 PM, Dec 5, 2018 UTC-5)
- [x] Release [1812061946500](https://github.com/ampproject/amphtml/releases/tag/1812061946500) created with cherry-pick from #19693.
- [

[2018-12-05 17:23] #19656 closed

[2018-12-05 17:24] jpettitt commented on #19635
FWIW I don't think the % placeholder actually works, at least it didn't on logging last time I tried it. @erwinmombay added that warning.

[2018-12-05 17:35] erwinmombay commented on #19635
@cathyxz im trying to get this in https://github.com/ampproject/amphtml/pull/19251 today. some of the assert methods aren't variadic, that needs to be fixed first.

[2018-12-05 17:35] lannka commented on #19585
+ @erwinmombay @rsimha if they have any ideas

[2018-12-05 18:33] lannka opened #19664 "test-amp-video.js is failing when run alone"
Likely get skipped when running all tests.

[code]

Notice that there are 30 tests in this file. The mocha only gets to run 22 of them.

[2018-12-05 18:43] dvoytenko commented on #19030
All! Subscription cases are pretty special and it's hard to manage them using hidden or similar tags. On the other hand, however, the events where content is shown/hidden are very obvious. Can we establish an API or a custom event to support such cases? FWIW, I thought `Resources.mutateElement()` should do this correctly already. That's the point of it, no?

[2018-12-05 18:44] #19290 closed

[2018-12-05 18:45] alanorozco commented on #17255
@csalazart Please ask your question on StackOverflow or on the #using-amp channel in our Slack.

[2018-12-05 18:57] sebastianbenz commented on #19033
@fstanis can you update your sample once this is live. Might be worth doing a standalone sign-in sample demonstrating all the best practices.

[2018-12-05 20:00] torch2424 commented on #19030
@dvoytenko

The reasoning behind using the mutation observer only for the hidden tag, is so that we don't watch all mutations such as: `style`, `class`, `height`, etc... We only wanted to watch visible vs. not visible.

After looking at `Resources.mutateElement()`, yes this would work for elements we control in terms of layout and things (and have an API to hook into this), but for an amp-bind cas

[2018-12-05 21:11] gmajoulet opened #19670 "Rename TOGGLE_LANDSCAPE into TOGGLE_ORIENTATION_HINT"
Rename `TOGGLE_LANDSCAPE` into `TOGGLE_ORIENTATION_HINT`.

[2018-12-05 21:12] lannka commented on #19211
@estherkim I know you're looking at Selenium based integration tests. Do you think it would cover the use case as described above? We are especially interested to verify the HTTP requests sent from AMP runtime and received from the server.

[2018-12-05 21:24] #19297 closed, assigned to torch2424, zhouyx

[2018-12-05 21:39] coreybyrnes commented on #19297
@zhouyx @torch2424 I see this was closed just now but I'm not seeing a no-fill Flying Carpet collapse on my demo page:
http://rev.cbsi.com/corey/test/amp/amp_demo_flying-carpet_nofill.html

[2018-12-05 21:54] dandv opened #19671 "Validator highlights incorrect CSS properties but doesn't flag them as errors"
## What's the issue?

Invalid CSS properties are not flagged, but it would be useful to flag them in order to assist with catching typos. The example below is something I've seen in the wild. Paste it at https://validator.ampproject.org/ and notice that the validation status is "PASS" but the `margin-button` CSS property is a typo and won't work as the developer intended.

Additionally, the closin

[2018-12-05 22:00] dandv opened #19672 "Allow relative URLs for amp-bodymovin-animation"
Any particular reason why `amp-bodymovin-animation` must take absolute URLs?

This was also noticed [at launch](https://twitter.com/DigitalPrasar/status/982488497876537345) and I have a partner hosting an animation who ran into this issue.

[2018-12-05 22:34] honeybadgerdontcare commented on #19671
Hi @dandv

The Validator is to detect and provide feedback around AMP spec issues and not intended to provide feedback on all things that may go wrong in developing a html document. It may be useful to incorporate other tooling to catch things like this such as W3C's CSS Validation Service[1].

Also, this document is considered a valid AMP document despite it having an unknown CSS property name an

[2018-12-05 22:34] #19671 closed

[2018-12-05 23:10] jpettitt commented on #19625
do you by chance have a log of the error you were seeing?

[2018-12-05 23:57] torch2424 commented on #19297
@coreybyrnes Thanks for reaching out and noticing! 😄

So we cut releases once a week, but firs they go through one week of canary, and then on the second week go to prod.

But since this is the holiday time, I know we are going to have some short freezes. But on average, it takes about 2 weeks from when an issue is closed / PR is merged, before hitting production 😄

Let me know if you have any mor

[2018-12-05 23:57] lannka opened #19675 "Add integration test for amp-analytics rendered inside A4A"
To make sure the macros are correctly scoped.

[2018-12-06 00:56] zhouyx opened #19678 "Amp-analytics doesn't get laid out correctly in FIE"
The issue is affecting all <amp-analytics> when placed within the AMPHTML ad creative.

The issue is related to <amp-analytics> being a position fixed element, and the runtime fails to measure its correct `layoutRect` if it is placed within an iframe. This is more likely to happen if the ad slot is placed three viewport away from top. In such cases, the <amp-analytics> element will only be laid ou

[2018-12-06 01:33] cathyxz commented on #19644
Triaging to Validator team / @Gregable

[2018-12-06 02:05] belobrad commented on #18548
Could we also add the ability for the amp-date-picker.src to pass back date-specific data that would become available in day templates?

For example, there might be a nightly surcharge that is different for each night based on mentioned criteria and we would like to show these in calendar for user to make travel date selection based on it.

Adding a 3d parameter to `id` and `dates` fields that wou

[2018-12-06 02:35] torch2424 commented on #19634
Adding @zhouyx to this issue, and we investigated a similar issue recently?
Is this related to the safari thing where the `sendBeacon` API wasn't working?

@jasonconway-williams Thanks for the issue! Will be sure to bring this up to our team!

[2018-12-06 04:31] honeybadgerdontcare commented on #19644
The URL that is associated with that error is the same page and also specifies other allowed and disallowed stylesheet items (like @-rules). If it's possible to become more granular for each sub-stylessheet error that may be helpful in some cases though.

[2018-12-06 05:12] zhangsu opened #19682 "Error reporting: JS engine is detected as IE when running in Chrome"
## What's the issue?

In the error reporting code, the `jse` parameter of the error report is detected as `IE` even though I'm running AMP in Chrome.

## How do we reproduce the issue?

1. Start up a local AMP server.

2. Modify `examples/amp-list.amp.html` and make one of the amp-list's `src` attribute point to a URL that doesn't exist (to trigger a user error on 404 response code).

3. Disable a

[2018-12-06 06:42] jridgewell commented on #19682
This is a best effort guess. As Chakra (IE's JS engine) aligns more closely with V8, it's getting harder to tell. We're purposefully not using the user agent string here, since it can be changed at will in browsers.

[2018-12-06 07:13] devignerforhire commented on #10230
Thanks for the explanation. That makes sense  :)

That's great news about it being available in production so soon! I was expecting we'd have to wait a couple of weeks :P

I'll keep an eye out for the update then test it out on our staging site with the example meta tag. Will let you know how it goes.

[2018-12-06 10:16] leonalicious opened #19683 "Similar to `javascript:window.close()` feature"
Hey there, here is some background, our `Search List` page is using `amp-list` to fetch and render data. And based on its nature behavior, `amp-list` will alway send request and fetch latest data.

FYI, we have been trying several methods to achieve a more completed shopping experience on `Search List` -> `Detail` , and then buyers can return back to `Search List` from `Detail`, and stop the buyer

[2018-12-06 10:48] AcidRaZor commented on #5225
@dvoytenko The fact that there is no easy way for dev's who implement this API to do a simple history.back is what is ruining the UX at the end of the day when that dev doesn't know how to do a work-around to give his web app the ability to do something that 100% of other websites can do.

Maybe we should focus on UX instead of the nuances surrounding the google CDN and cross-origin and "embedded

[2018-12-06 11:18] wigth opened #19684 "<amp-subscriptions> subscriptions-action event fire repeatedly"
## What's the issue?
subscriptions-action event fire twice after subscriptions-action="login"

As I understand LocalSubscriptionPlatform recreated after every click on action and run in constructor method initializeListeners_. This method add new listeners but never remove them and EventListener from previous instance is stil alive .

This is call stack show this behavor.
Fb (local-subscription-pl

[2018-12-06 13:53] mdiblasio commented on #15343
Any update on this FR? This would help solve some challenges around A/B testing / personalization by allowing business teams to use common A/B platforms to serve customized HTML to AMP pages. Sample use case: serve personalized promotional banners that use `<amp-img>`. These banners have different formats so could not be used with `<amp-template>`.

[2018-12-06 16:08] jimmyko commented on #10622
The current approach to handle classes is very tedious because you need to store the classes in amp-state. It will be a lot of amp-state data if you want to have such class manipulations on multiple elements in one page.

Why this feature request is closed without much following up?

[2018-12-06 16:30] choumx commented on #19682
In this case it's the converse: Chrome is incorrectly being identified as IE. I think we should be able to do a better job.

[2018-12-06 16:35] choumx commented on #19112
Looks like the same cause as #17997. Closing as dupe.

[2018-12-06 16:35] #19112 closed

[2018-12-06 16:38] choumx commented on #19060
I'm having trouble understanding the issue you're having. Can you share a URL to a page that shows the error?

[2018-12-06 16:44] spinmar commented on #19060
Hi,
you can check the problem during the next live cached by Google cache.
The url, visible from 15:00 (italian time) of 8th december will be:

`__https://www.google.it/amp/s/sport-pp.virgilio.it/dirette/live/serie-a/8-12-2018/napoli-frosinone/4594/amp/`

Please remove __ in front of url.
Bye

[2018-12-06 16:50] choumx commented on #19683
Not sure what category this should be in. I don't see a reason why we couldn't add this, though opening a new tab is pretty slow. Also, system affordances (e.g. swipe from left edge on iOS, Android back button) already accomplish this.

You could try to do this with a same-window element popup (i.e. no page navigation).

/cc @aghassemi

[2018-12-06 17:50] jpettitt commented on #19684
This is a side effect of a fix we put in #19455 working on a fix

[2018-12-06 17:51] aghassemi commented on #19580
@leonalicious Thanks for clarifying the use case here (By the way, I love how articulate your communication is with all the GIFs, clear  problem statement and solution proposal! 💯)

Let's think about a few solutions here. Although allowing `amp-list` to redirect the page solves the issue and your use of it is completely reasonable, it also opens a can of worms for abuse. It essentially allows an A

[2018-12-06 18:30] estherkim commented on #19211
@lannka I'm not sure yet - give me a few days to understand how `describes.integration` works and how I might be able to capture the HTTP requests using our existing infra for integration tests. Might need your assistance in building out the test AMP page.

[2018-12-06 18:32] gazs opened #19688 "Anchors linking to `/` are changed to `#` in Google AMP Cache if <base href="/"> is set"
## What's the issue?

If the AMP page has a `<base href="/">` tag in its head, `<a href="/">` will get rewritten to `<a href="#">` when viewing it through the google amp viewer.

The document validates without errors as amphtml.

We could only see the issue on links clicking through from search such as https://www.google.it/amp/s/www.vogue.it/moda/news/2017/10/13/letizia-ortiz-look-piu-belli-della

[2018-12-06 18:32] cvializ commented on #10946
No, not recently. The ability to respond to input events is implemented in [`input-throttled` and `input-debounced`](https://www.ampproject.org/docs/interaction_dynamic/amp-actions-and-events#input-elements) but key events on arbitrary elements are not implemented.

[2018-12-06 19:06] aghassemi commented on #19683
@leonalicious @choumx yeah, adding `AMP.closeWindow()` LGTM
I do not recommend using same-window `amp-lightbox` for something as heavy as a details page, such behaviour requires proper single-page-app support but amp is focused on multi-page cases.

p.s. @leonalicious I am working on a project to enable better multi-page transitions and navigation in AMP using WebPlatfroms's upcoming "Portals" fea

[2018-12-06 19:19] aghassemi commented on #5225
@AcidRaZor, Thanks for the feedback. I agree that the nuances here should not impact you having access to some of the basic JS APIs.

We are already considering adding `AMP.windowClose` for a similar case ( https://github.com/ampproject/amphtml/issues/19683 ). I don't see this being different. We can clarify through the API that this is different than `AMP.goBack` and is directly tied to browser's

[2018-12-06 19:25] jpettitt opened #19693 "🌸 Cherry pick request for 19689 into 19659 (Approved)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #19684

**PR that you are requesting a cherry pick for:**

PR #19689

**Release(s) you requesting this che

[2018-12-06 19:30] jpettitt commented on #19693
cc @choumx

[2018-12-06 19:34] jpettitt commented on #19693
Marked approved per chat with @cramforce

[2018-12-06 20:40] jpettitt opened #19694 "amp-subscriptions-google dialog CSS broken in shadow dom"
`amp-subscriptions-google` is adding it's CSS to the document head instead of the shadow dom.

[2018-12-06 20:55] torch2424 commented on #10059
cc @lannka let's use this existing issue to track an integration test for recaptcha.

If you would be so kind, I know you said you wanted to share how you think we should do an integration test, so documenting here would be great if you have the time 😄

Also, I think we can add this integration test after we get users testing it out in experimental, just in case we need to make changes.

[2018-12-06 21:43] zhouyx commented on #19211
Another thing to test with is when does a request gets sent. Would that be possible?

[2018-12-06 21:57] dvoytenko commented on #5225
@aghassemi I'm generally ok with either way we proceed. Just calling out that the fit with the initial API that's already there.

But I do want to say that embedding cases are a critical promise of AMP and we need to make sure we do not break those guarantees to viewers with the new APIs.

[2018-12-06 22:36] Enriqe opened #19697 "Cleanup amp-story-grid-layer-z-index experiment"
Cleanup amp-story-grid-layer-z-index experiment

[2018-12-06 23:17] #19693 closed

[2018-12-07 00:19] belobrad opened #19702 "Maximum number of nights for amp-date-picker in range mode"
Similar to `minimum-nights` it would be great to have `maximum-nights` parameter for the date picker when in range mode. This would be useful for example for travel websites where some hotels allow only certain number of nights to be booked.

[2018-12-07 00:39] eveyiyuan opened #19705 "amp-hidden not getting added to iframe placeholder after using Android native back"
## What's the issue?
We are seeing placeholders not being hidden for amp-iframes after the iframes load when we navigate to the Google AMP viewer via the native / browser back on Android phones. This same issue does not appear to happen on iOS. The iframe content is fully loaded and responsive underneath the placeholder, and appears to work fine if we delete the placeholder element or change its z

[2018-12-07 01:48] lannka opened #19706 "Add integration test coverage for various amp-analytics triggers"
- [x] click trigger
- [x] element visible trigger
- [x] timer trigger
- [x] scroll trigger

[2018-12-07 01:49] #19675 closed

[2018-12-07 02:35] leonalicious commented on #19580
We can't put the 'Swipe Verification UI' in the `amp-list` as we cannot write Cookie on `AMP Page`.

Understood and cant agree more with you. Let's keep it as what it is right now, thank you & cheers

[2018-12-07 02:35] #19580 closed

[2018-12-07 02:46] zhouyx commented on #19706
🎉
Few more testing ideas. Test batching, also use batching to test multiple request in one
test amp-analytics with sandbox equals true
custom events that works with other component.

[2018-12-07 02:59] leonalicious commented on #5225
@AcidRaZor @keepitsimple hey guys, chill out, I can definitely feel the heat from your guys. AMP Team is working really hard to make Web Development easier and we can all surely benefit from it in a long-term run, all we need is keep providing our ideas and use cases to them as we are the closer user to their product ever.

@dvoytenko @aghassemi Guys, what do your guys think about `amp-script` ? a

[2018-12-07 03:05] lannka opened #19708 "Add integration test for <amp-analytics type=googleanalytics>"

[2018-12-07 03:47] lannka opened #19710 "Add integration tests for inabox"

[2018-12-07 05:21] tbaik opened #19712 "amp-selector reference points don't match self-closing descendants"
## What's the issue?

Trying to use the option, selected, or disabled attributes for svg elements throws a validation error saying something like "The attribute 'option' may not appear in tag 'g'." We should be able to use all three of these attributes on svg elements so that svgs can be used with amp-selector.

## How do we reproduce the issue?

See the console logs from this page: https://output

[2018-12-07 05:38] aghassemi commented on #19705
Thanks for the bug report @eveyiyuan!

Likely a race between iframe's `onload` firing before we listen to `onload`. I've seen "Back" button do weird stuff for iframes in the past, like loading instantly from cache and firing events way too early.

[2018-12-07 05:39] aghassemi commented on #19702
Thanks for the feature request @belobrad .

/to @cvializ

[2018-12-07 06:04] leonalicious commented on #19683
@choumx thank you for the clarification, we have tried with a very complicated integration with `serviceWorker` + `indexedDB` solution, but yet, we cannot achieve a very well expected result mainly due to several reasons:
1. `sw`+ `iDB` can indeed make the data fetched instantly, but we still cannot solve the memorization of `user behavior` issue. For instance, users has selected `color: red; size

[2018-12-07 10:39] sebastianbenz opened #19713 "[amp-geo] #amp-geo=fr does not work in DevChannel"
I can't enable the amp-geo testing mode.

Steps to reproduce:

1. Enable DevChannel via https://cdn.ampproject.org/experiments.html
2. Visit https://ampbyexample.com/components/amp-geo/#amp-geo=fr
3. Click on "Where am I?" at the bottom of the page

Actual behavior: Matched Country Groups is empty (unless you're in france)
Expected beavior:  Matched Country Groups is `football`

//cc @jpettitt

P.

[2018-12-07 10:42] sebastianbenz opened #19714 "[amp-geo] 'unknown' country not part of amp-state"
The country grouping does not list groups for `unknown` flag.

Steps to reproduce:

1. Serve https://ampbyexample.com/components/amp-geo/#amp-geo=fr from localhost (see #19713 for why this is needed).
2. Click on "Where am I?" at the bottom of the page.

Actual behavior: `Matched Country Groups:` is empty
Expected beavior: `Matched Country Groups:` is `football`

//cc @jpettitt

[2018-12-07 11:48] KungFuCookie commented on #15201
Is there an indication when this will be available?

[2018-12-07 13:34] bjalford opened #19715 "amp-brightcove video docking"
It looks like amp-brightcove has integrated the video interface  - see this: https://github.com/ampproject/amphtml/pull/15115

Should amp-brightcove be listed on this page of support amp video components?
https://github.com/ampproject/amphtml/blob/master/spec/amp-video-interface.md

I'm trying to get the video docking functionality working but haven't managed to yet.

[2018-12-07 14:08] Enriqe opened #19716 "[amp-story] tests are failing on master"
Tests are failing on master due to error

[code]

[2018-12-07 14:11] Enriqe commented on #19716
Tests are failing here

https://github.com/jridgewell/amphtml/blob/06cb5b9177254cca3283daf62661ba0cc007132a/src/polyfills/custom-elements.js#L571

in the afterEach hook, when we remove the story el from the DOM. This is probably caused by stubbing the `querySelectAll` function of the story element in the ads tests.

[2018-12-07 15:02] sebastianbenz opened #19719 "[amp-selector] toggle action does not fire select event"
Given an amp-selector with an on select event handler:

[code]

When I toggle a specific element:

[code]

Then the selected option is changed, but the on select event handler is **not** triggered.

Here is a demo: https://jsbin.com/tosudebasi/1/edit?html,output

Another thing I've noticed: by default the option value is undefined. Why not initialise it with the index instead?

//cc @aghassemi

[2018-12-07 15:45] jpettitt commented on #19713
Hmm, working for me - which browser are you using (Safari ITP2 breaks dev channel)

![image](https://user-images.githubusercontent.com/524856/49657240-0ff74580-f9f4-11e8-8ee0-a5ee5ea38372.png)

[2018-12-07 15:51] sebastianbenz commented on #19713
It's not working for you: the Matched Country Groups should contain `unknown`.

[2018-12-07 15:58] sebastianbenz commented on #19713
Ah - that's it. I was using Safari. That confused me for a moment. The group issue was already reported in the other issue.

[2018-12-07 15:58] #19713 closed

[2018-12-07 16:58] #19716 closed

[2018-12-07 16:59] choumx commented on #19647
Fixed the Travis failures in #19658.

Saucelabs just upgraded to 71 too and different (integration) tests are failing: https://travis-ci.org/ampproject/amphtml/jobs/464777879

[2018-12-07 17:07] choumx commented on #19647
Looks like they're mostly amp-form integration tests. I'll fix the single amp-bind one.

/to @cvializ

[2018-12-07 17:15] aghassemi commented on #19715
Thanks @bjalford
@alanorozco is working on launching `docking` it is still experimental. We plan to check and enable it work video players that implement the video-interface after manually ensuring the experience of dociking is good for each.

assigning this @alanorozco so keep track of that for brightcove.

[2018-12-07 17:32] nainar commented on #18634
@cathyxz we do now: https://github.com/ampproject/amphtml/projects/67

[2018-12-07 17:38] nainar commented on #18592
This should have been fixed by the former PRs. Can't repro on Safari on iOS

[2018-12-07 17:38] #19557 closed

[2018-12-07 17:38] nainar commented on #18592
This should have been fixed by the former PRs. Can't repro on Safari on iOS

[2018-12-07 17:38] #18592 closed

[2018-12-07 17:51] dvoytenko commented on #19030
I think `Resources.mutateELement()` is that API that can (and should) handle all "special" cases that are not `hidden` attribute. Use cases such as amp-subscriptions have semantic markup, which do not directly state shown or hidden. E.g.

[code]

This states that this section is "premium content" and is only visible when the user has authorization. It's hidden by default with CSS. Ideally we'd not

[2018-12-07 17:57] rsimha commented on #19654
@choumx We can do one of three things here:
1. Stop printing these warnings for full test runs (~8000 tests), but continue printing warnings for the `--files` and `--local_changes` cases, to surface any new errors that might be seen during feature development / testing (there will be far fewer of these).
2. Stop printing warnings at all times, but create a flag to activate the `console.error` mech

[2018-12-07 18:00] jpettitt commented on #19694
Fixed in https://github.com/subscriptions-project/swg-js/pull/495

[2018-12-07 19:03] sebastianbenz commented on #19714
You need to click on "where am I" to test the behaviour. The matched country groups is '' (as in the screenshot you posted on the other issue).

[2018-12-07 19:23] eveyiyuan commented on #19705
This there anything we can do to help this situation? Would firing a delayed embed-ready message from the iframe help? Thanks!

[2018-12-07 19:30] jpettitt commented on #19714
In your example the country isn't `unknown` - it's `fr` if you set `#amp-geo=unknown` it will match.

[2018-12-07 19:36] rsimha commented on #19654
Sent out #19726, which implements option 1 in https://github.com/ampproject/amphtml/issues/19654#issuecomment-445313808

[2018-12-07 20:18] choumx opened #19727 "Write externs for DOMPurify API for 1-pass"
/cc @erwinmombay

[2018-12-07 20:29] sebastianbenz commented on #19714
Ah ok - thanks for the clarification.

[2018-12-07 20:29] #19714 closed

[2018-12-07 20:46] acsant opened #19728 "amp-carousel breaking when used with type="slides""
Sometimes the amp-carousel fails to place the images inside of `i-amp-slides-container` element when type attribute is set to `slides`.

## What's the issue?
Seems like the amp-carousel tries to build slides before the amp-img elements are mounted on the DOM and so the amp-img elements don't get added to the `i-amp-slides-container` div element. I traced through the code and noticed that on `layou

[2018-12-07 22:03] #19586 closed

[2018-12-07 22:21] #9526 closed

[2018-12-07 22:39] jasti opened #19734 "Difference in ad insertion for AMP Stories on mobile vs desktop"
On mobile, we insert the ad between page 7 and 8. On desktop we insert between pages 8 and 9. We should fix desktop to make it consistent with mobile.

[2018-12-07 22:53] #19708 closed

[2018-12-07 22:57] #13110 closed

[2018-12-07 23:05] calebcordry commented on #19585
closed by #19724

[2018-12-07 23:05] #19585 closed

[2018-12-08 00:12] torch2424 commented on #19688
Triaging to @Gregable , since I think this is a cache issue? 😄 Feel free to re-assign.

[2018-12-08 00:34] calebcordry opened #19736 "Story Ads: copying attributes as objects is unintuitive"
`amp-story-auto-ads` supports copying over attributes to the created `amp-ad` element. This gets a bit strange when the attribute should contain a string that looks like an object as with targeting, or rtc-config

I would expect to configure it like this:

[code]
but the resulting amp ad tag will be
[code]
as a workaround you can change the config to be a string and it _works_, but it's not great

[2018-12-08 01:35] #12786 closed

[2018-12-08 01:37] #19678 closed

[2018-12-08 01:43] #19607 closed

[2018-12-08 02:08] #18257 closed

[2018-12-08 06:38] anirudhkhanna opened #19741 "AMP4EMAIL: href attributes can't be dynamic?"
I'm building an email template under AMP4Email developer preview. I wonder if there is a way to make links dynamic in templates or via state.

[code]

[code]

So, I was wondering that from a list of items which are dynamically fetched from an API (hence the whole link is not pre-known), there is no way to give a link to each specific item with the help of data fetched? How does one navigate to suc

[2018-12-08 06:53] anirudhkhanna opened #19742 "XHR Calls: '__amp_source_origin' param is sent encoded, but the header would be verified as decoded"
The `__amp_source_origin` parameter which is sent with XHR requests is sent in URL encoded format. However, while matching it with the  `amp-access-control-allow-source-origin` header, it is matched in decoded format.

I am setting the header via Nginx as it is coming (example: `?__amp_source_origin=dynamic-mail%40ggdmfw.com`) (i.e. the encoded format):
[code]

But it fails when fetching data beca

[2018-12-08 15:05] Narendharr opened #19743 "Amp ads type="adsense" are not showing up"
AMP ads with type="adsense" and type="a9" are not showing the ads.

I have tested some type of ads here https://www.narendesigns.com/projects/html/amp-test/amp-ad.html

This might be a bug in Google AMP implementation.

It used to work before. I created a website and used ads on https://www.bosloker.com/lowongan-kerja/semarang/-terbaru.html but they are not showing up now.

[2018-12-08 17:00] belobrad opened #19744 "Inconsistent behavior of [min] and [max] attributes in amp-date-picker when used with amp-bind"
## What's the issue?

The `[max]` parameter seems to be off by 1 day when set alone, `[min]` and `[max]` both seem to be off by 1 day with an incorrect styling of min day when set together via binding.

## How do we reproduce the issue?

Go to the *Date picker with amp-bind* section in:
https://ampbyexample.com/components/amp-date-picker/

* let's say the max date is set to 2018-12-20: I would exp

[2018-12-09 05:20] riham13 commented on #19615
Hey guys, thanks for taking the time to review this. Is there anything we can do from our side to find the issue?

[2018-12-09 15:38] choumx commented on #19615
@riham13 If you can, a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_working_example) would help us isolate the problem.

[2018-12-10 03:39] xiaotong-tj commented on #18592
Thanks!

[2018-12-10 10:06] wigth opened #19747 "<amp-subscriptions-google> don't update subscriptions-dialog after purchase"
## What's the issue?

After the user has bought a subscription by button 'subscrbe with google' subscriptions-dialog not updated according to response from local service.
And subscriptions-dialogs with `subscriptions-display="data.p.someVariable and granted"` query don't appear.
After reload page work fine.

As i understand method renderDialog_ in LocalSubscriptionPlatformRenderer should be called

[2018-12-10 10:45] riham13 commented on #19615
@choumx I sent an email containing the files at the following address: wc@williamchou.com

[2018-12-10 10:45] eagerterrier opened #19748 "Video playback failing on ios10.3 (AMP stories only?)"
## What's the issue?

All video on AMP Stories (possibly all AMP videos) has started to fail on safari on ios 10.3.x

e.g.

https://www.washingtonpost.com/graphics/2018/lifestyle/amp-stories/sullivan-explains-journalism-mysteries/??noredirect=on (card 5)
https://www.bbc.co.uk/news/ampstories/yazidiwomen/index.html (card 3)

No error messages. Source of video seems fine and playable in 10.3.x

## H

[2018-12-10 11:10] eagerterrier commented on #19748
UPDATE: videos are playing fine on 10.3.x when the AMP Story page is viewed via the google.com domain

But NOT when viewing on the site owner's domain - e.g. washingtonpost.com or bbc.co.uk

playback URL which works - https://www.google.co.uk/amp/story/s/www.bbc.co.uk/news/ampstories/yazidiwomen/index.html

[2018-12-10 11:41] sebastianbenz opened #19749 "FR: input clear action"
There's no simple way to clear an input field (when not using an amp-form). My use case is adding items to a list which is maintained client-side in amp-state. The simplest way I could come up with is:

[code]

Which is way too complicated for such a simple thing. The other option is using a dummy form:

[code]

Which is slightly simpler, but still annoying as it requires defining a dummy form end

[2018-12-10 15:17] #19684 closed

[2018-12-10 15:17] #19625 closed

[2018-12-10 16:28] Enriqe opened #19751 "[amp-story] Remove usage of NavigationState in favor of StoreService"
Now that we have the `StoreService`, we can replace all usages of `NavigationState` to use the store instead.

e.g. #19655

[2018-12-10 16:42] #19321 closed

[2018-12-10 16:50] danielrozenberg opened #19752 "Fix two flaky tests in `test-custom-element.js`"
This test became flaky on Chrome 71, disabled in PR #19750

Tests are:
* 'should apply media condition'
* 'should apply sizes condition'

[2018-12-10 17:06] choumx commented on #19752
/to @alabiaga

[2018-12-10 17:17] #18784 closed

[2018-12-10 17:19] newmuis commented on #19748
I'm consistently able to reproduce this.  In the repro case, for some reason, the video is only fetching its metadata, but not its data.  Executing `videoEl.readyState` returns `1`, and calling `videoEl.play()` returns a promise that is indefinitely pending.  I can manually call `videoEl.load()`, after which executing `videoEl.readyState` returns `4`, and calling `videoEl.play()` plays the video.

[2018-12-10 17:25] #19548 closed

[2018-12-10 17:49] dvoytenko opened #19753 "Cherrypick paywall race condition fix"
PR that you are requesting a cherry pick for:

PR #19733

Release(s) you requesting this cherry pick into:

1812061946500 (canary)

Production Release? NO

Canary release? YES

Why does this issue meet the cherry pick criteria? Be specific.

A significant race condition when deciding on paywall display.

/cc @jpettitt

[2018-12-10 17:50] aghassemi commented on #19744
Thanks @belobrad
@cvializ added to December FixIt project

[2018-12-10 17:56] cramforce commented on #19753
LGTM

[2018-12-10 18:57] jpettitt commented on #19747
I believe this is fixed in the current dev channel release which goes to prod tomorrow.  Do you have a repro case we can test?

[2018-12-10 19:26] mrjoro opened #19757 "Document policy regarding production freezes for releases"
We should have a documented policy for when we will freeze production releases.

So far we've decided this on an ad hoc basis, taking into account the needs of users of AMP and when we would have enough people to monitor/address any production issues that come up.  The ad hoc nature of this has resulted in some confusion for users and contributors.

[2018-12-10 19:27] aghassemi opened #19758 "animationWorklet: scrolling "back" behaves differently"
On https://ampbyexample.com/visual_effects/basics_of_scrollbound_effects/ when scrolling "back", the  animations do not "reverse" when using `animationWorklet`, which is different than the non-animationWorklet case.

Tested with Chrome Canary.

Let's also add a new integration test to the exiting suite for this.

/to @nainar

[2018-12-10 19:39] tingyiwei opened #19759 "[Analytics] send requests to domain derived from variable"
## What's the issue?

Instead of sending AMP analytics requests to a fixed domain, we'd like to send to domain derived from am Analytics variable.
requests: {
  endpoint: ${someVariable}
}
The issue is ${someVariable} always return an encoded string, while here an decoded string is needed.

## How do we reproduce the issue?
<amp-analytics>
<script type="application/json">
{
  "requests": {
    "pa

[2018-12-10 20:13] #19654 closed

[2018-12-10 20:16] rsimha commented on #19753
#19733 has now been cherry-picked to the canary branch: https://github.com/ampproject/amphtml/commits/canary.

I'll post an update here once the branch is tested and a new canary is pushed.

[2018-12-10 20:54] Gregable commented on #19688
Thank you for reporting. I can reproduce. A simpler preview would be:

https://tree--crush-glitch-me.cdn.ampproject.org/c/s/tree-crush.glitch.me/

This is an AMP Cache bug. I'll close it here, but it's being tracked as a Google Product issue as 120788831.

I'll try to update the github issue when it's resolved.

[2018-12-10 20:54] #19688 closed

[2018-12-10 21:08] torch2424 commented on #15201
@KungFuCookie As of right now from what I know, we don't have a set timeline for when this will be released. But it is definitely something we are working on.

I'll go ahead and reach out to the Google Pay team to see how are things on their end to see if I can get an answer for you 😄

[2018-12-10 21:12] #10837 closed

[2018-12-10 21:19] torch2424 commented on #19030
@dvoytenko Ahh that makes sense. Yes, if that is the case, then perhaps a simple hidden attribute observer shouldn't apply to this case. Sounds like AMP subscriptions should be an exception to this, and indeed use `Resources.mutateElement()` to track complex visibility states.

@lannka @jridgewell I think we can proceed to fix this using `Resources.mutateElement()` for subscription-like use cases,

[2018-12-10 21:23] estherkim opened #19761 "Determine when to skip tests in CI build"
Depending on files changed in PR

[2018-12-10 21:24] estherkim opened #19762 "Change gulp tasks order in Travis to fail faster"

[2018-12-10 21:25] estherkim opened #19763 "Refactor runtime-test.js"

[2018-12-10 21:26] estherkim opened #19765 "Lower number of high timeouts"
high meaning >10 seconds. Handle promises in tests by returning .done()

[2018-12-10 21:28] estherkim opened #19766 "Decrease number of skipped tests"

[2018-12-10 21:28] estherkim opened #19767 "Inventory all of the TODOs"

[2018-12-10 21:43] torch2424 commented on #19743
Confirmed this is working, and looking at the JS console there are a fair bit of errors.

cc @lannka @zhouyx you happen to know why this may be happening?

[2018-12-10 21:50] Enriqe opened #19768 "[amp-story] Stop passing private functions as arguments"
For example:

https://github.com/ampproject/amphtml/blob/ef64afb3bd9ddf47d5f61fe8b12e806a5c9d4fb3/extensions/amp-story/1.0/amp-story.js#L207

[2018-12-10 21:56] hadidotj commented on #15343
Hey Everyone!

I have been working with @mdiblasio to implement AMP pages for a client. Along with the A/B testing he mentioned, we also ran into an issue where we wanted to add "content" within a list of products on one of their pages.

So, for example, we may have a 3x3 grid of 9 products; however, they may want to have a special "promo" image link display in grid 3 (top right):

| | | |
|------

[2018-12-10 21:59] #10155 closed

[2018-12-10 21:59] #11414 closed

[2018-12-10 21:59] #11415 closed

[2018-12-10 21:59] #11416 closed

[2018-12-10 21:59] #11418 closed

[2018-12-10 21:59] #11419 closed

[2018-12-10 21:59] #11420 closed

[2018-12-10 21:59] #11421 closed

[2018-12-10 21:59] #11422 closed

[2018-12-10 21:59] #11423 closed

[2018-12-10 21:59] #11424 closed

[2018-12-10 21:59] #11427 closed

[2018-12-10 22:01] torch2424 commented on #19741
Triaging to @choumx feel free to re-assign 😄

[2018-12-10 22:02] torch2424 commented on #19742
Triaging to @choumx feel free to re-assign 😄

[2018-12-10 22:13] choumx commented on #19741
Templates in AMP4EMAIL are more constrained. You can have a dynamic `href` but the entire attribute value must be replaced:

[code]

Hope that helps!

[2018-12-10 22:13] #19741 closed

[2018-12-10 22:15] choumx commented on #19741
For reference: https://github.com/ampproject/amphtml/blob/a4142186f1e2202df0d801acd2bf3a2ee6cee087/validator/validator-main.protoascii#L1619-L1633

[2018-12-10 22:29] zhouyx commented on #19759
cc @lannka @calebcordry
AMP will by default encode vars to not break the outgoing url. But this sounds like a very solid use case.

We propose to add a new `requestOrigin` field to the top level analytics config. When specified, all `requests` defined will be treated as the url path. The `requestOrigin` part will not be encoded and the outgoing url will be consisted following the url constructor [

[2018-12-10 22:57] cvializ commented on #19744
I am able to reproduce the behavior you're describing, and it looks like the behavior needs to be corrected. I'll try and find a root cause and fix in this fixit sprint. Thanks!

[2018-12-10 23:00] dvoytenko commented on #19573
@mpaw There're still a few things to confirm on our end before we can start sharing the info. I hope to have the info in the next 2 weeks.

[2018-12-10 23:02] dvoytenko commented on #19030
I think the event from `mutateElement` is a great idea! I doubt this will materially add anything to the runtime size.

[2018-12-10 23:11] sparhami commented on #19728
It looks like the `buildCallback` for the carousel, which looks for the children to move into slides, can run synchronously from `connectedCallback`. I noticed this by putting a breakpoint in the `buildCallback` for carousel. Since `connectedCallback` can be called from the parser prior to a tag closing, this could be run after receiving a chunk with the open tag, but without some or all of the ch

[2018-12-10 23:16] dvoytenko commented on #19728
@sparhami This should not be the case. The `buildCallback` is executed either when:
 1. The element has been fully parsed (including end tag).
 2. The document has been fully parsed.

[2018-12-10 23:22] acsant commented on #19705
I would also like to know if there is currently a workaround for this while it gets fixed?

Thanks,

[2018-12-10 23:31] aghassemi commented on #19683
@leonalicious Working on it this sprint, given our [holiday release schedule](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md), it should make it to prod Jan 9.

[2018-12-10 23:47] #8798 closed

[2018-12-10 23:54] #19331 closed

[2018-12-11 00:00] choumx commented on #2968
Can this be closed now that amp-subscriptions is a thing?

[2018-12-11 00:06] jridgewell commented on #4104
Turbofan launched this in chrome last year. https://v8.dev/blog/launching-ignition-and-turbofan

How about the other browsers?

[2018-12-11 00:07] aghassemi commented on #19728
@dvoytenko @choumx @jridgewell, Looks like `buildCallback` can be called before children are attached. This has come up a few times now: https://github.com/ampproject/amphtml/issues/18220#issuecomment-442617121, https://github.com/ampproject/amphtml/issues/17194,

[2018-12-11 00:29] mrjoro opened #19773 "Design Review 2019-01-02 21:00 UTC (premutating state validation)"
Time: [2019-01-02 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=01&day=02&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190102T210000Z/20190102T220000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-12-11 00:29] mrjoro opened #19774 "Design Review 2019-01-10 01:00 UTC (Asia/Oceania)"
Time: [2019-01-10 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=01&day=10&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190110T010000Z/20190110T020000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-12-11 00:31] mrjoro opened #19775 "Design Review 2019-01-16 16:30 UTC (cancelled)"
Time: [2019-01-16 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=01&day=16&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190116T163000Z/20190116T173000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-12-11 00:31] eveyiyuan commented on #19705
@aghassemi No worries!
It seems like we are also experiencing a form of this bug on first load from the cache as well (not just after using the browser back button).
We are seeing the placeholder not render correctly when we open an `amp-lightbox` with an `amp-iframe` inside of it. This causes amp to complain about the lack of a placeholder and not render the iframe contents.

Error case:
![screen

[2018-12-11 00:36] aghassemi commented on #19705
@eveyiyuan thanks for the detailed report. Will look into that issue as well at the same time.

[2018-12-11 00:38] aghassemi commented on #19749
/cc @cvializ

[2018-12-11 01:05] sparhami commented on #19728
Ok figured it out, the problem is with case 1. This works by checking if there is a following node in the document order (either a `nextSibling`, or some ancestor has a `nextSibiling`). There is no true way to tell that the Element has been fully parsed.

What happens is that `<amp-lightbox-gallery>` creates an Element and does `appendChild` on `document.body` (if no `<amp-lightbox-gallery>` exist

[2018-12-11 01:37] gmajoulet opened #19777 "amp-sidebar animations don't respect the CSS transition properties."
## What's the issue?

`amp-sidebar` animations doesn't seem respect the CSS transition properties, except for the first time you open it.
It will animate correctly the first time you open the sidebar, but then animate very fast and ignore any specified CSS, for both the open/close animations.
Also, it looks like it changes the width of the document/body (probably because the scrollbar disappears?)

[2018-12-11 06:13] anirudhkhanna-oyo commented on #19741
Thanks so much for the detailed description. That clears things up.

[2018-12-11 06:48] wigth commented on #19747
We have only closed demo stand. Just report about release and we will check it right away.

[2018-12-11 09:54] spinmar commented on #15847
@newmuis When do you think this feature will be released? I'm interested too.

[2018-12-11 14:09] anirudhkhanna opened #19779 "AMP4Email: Difficulty in layouts due to restrictions on binding state"
I am facing some layouting issues while working with AMP4Email Dev Preview. Although I was able to solve most parts by taking the longer road, would still like to report some problems I faced and scenarios which could have been dealt better.

Suppose there is a list of item tiles shown (let's say via an API call from `amp-list`). On the click of each item, its details are to be shown in a larger v

[2018-12-11 15:06] jpettitt commented on #19747
You can enable dev channel here https://cdn.ampproject.org/experiments.html it should work with any code that uses standard AMP js files.

[2018-12-11 15:58] fstanis commented on #19779
How about rendering all items inside the `<amp-list>` and having them `hidden`, then binding to `[hidden]`?

Something like:

[code]
This should ensure only one of the `selected-item-details` divs is visible at a time.

[2018-12-11 16:06] AcidRaZor commented on #17483
Thanks, I went ahead and wrote a special middleware, where if it detects the "amp source" url, to do a quick check if the origin/referrer matches with authorized domains on my API, and then proceed to return the relevant data.

However, I have to take a step back and ask, what was the vision of the AMP team concerning API's running at the back of amp-form/amp-list etc?

Do you expect companies to

[2018-12-11 16:08] anirudhkhanna-oyo commented on #19779
@fstanis yep. I actually have implemented just that. But it worked only because my items are finite and pre-known.
How to deal if they are not known before-hand and I only rely on the api for them?

Also, I guess having all the possible items hidden in DOM will be an overkill in situations when there are lots of them - it is just an email after all. If I am not wrong, there is a limit of 100KB (al

[2018-12-11 16:09] AcidRaZor commented on #16538
@jpettitt @pbakaus To be honest, I don't think this is a bug. I had the same issue and it was because my boilerplate was either missing or before the custom css, unless I misunderstood the bug and I didn't have the same issue, in which case, never mind :)

[2018-12-11 16:21] kristoferbaxter commented on #14658
Addressed with #19704.

[2018-12-11 16:21] #14658 closed

[2018-12-11 16:22] kristoferbaxter commented on #14657
Addressed with #19704.

[2018-12-11 16:22] #14657 closed

[2018-12-11 16:22] kristoferbaxter commented on #15145
Addressed with #19704.

[2018-12-11 16:22] #15145 closed

[2018-12-11 16:23] #19600 closed

[2018-12-11 16:24] newmuis commented on #19777
/cc @aghassemi

[2018-12-11 16:36] aghassemi commented on #18220
Will be fixed by https://github.com/ampproject/amphtml/pull/19778

[2018-12-11 16:57] danielrozenberg commented on #17043
Resolved

[2018-12-11 16:57] #17043 closed

[2018-12-11 17:01] cvializ commented on #19749
This makes a lot of sense. Let's work on this soon. Thanks @sebastianbenz!

[2018-12-11 18:09] newmuis commented on #19777
I think the new timings are general and could be used anywhere, but @gmajoulet would probably have more insight.

/cc @bramanudom

[2018-12-11 19:11] alanorozco opened #19783 "TypeError: Action execution failed: AMP-ANIMATION start: Attempted to assign to readonly property."
[code]

Fixed on web-animations-js [`e2782a`](https://github.com/web-animations/web-animations-js/commit/e2782af1a3715fed5b96c5366f89f9b204f8b9a0#diff-2314e4f2e74b0a130fa863211c157653), but not released yet.

/cc @dvoytenko @aghassemi

[2018-12-11 19:20] aghassemi commented on #19783
http://amphtml-nightly.herokuapp.com/examples/animations.amp.html repros the error on Safari 12.0.1 and is completely broken.

Not all `amp-animation` seems to be broken however. https://codepen.io/aghassemi/pen/MZwmLr works fine in Safari 12.

Would be nice to know why only certain cases this error is thrown

[2018-12-11 19:54] jridgewell commented on #18999
Unable to reproduce again.

[2018-12-11 19:54] #18999 closed

[2018-12-11 20:08] jasti commented on #19124
@ipauler AdSense auto ads support isn't available but you should consider reaching out in the AdSense support channels to request it.

[2018-12-11 20:09] andrewwatterson commented on #19777
As far as the bug goes, this appears to be happening due to the order that the `amp-sidebar` mask element is being hidden/shown. If you move the calls to `open/closeMask_` from `updateForOpening/Closing` to `updateForOpened/Closed`, this issue fixes itself. That said, I can't tell from the actual `open/closeMask_` logic why this would be happening, and I've exhausted my pretending-to-be-an-enginee

[2018-12-11 20:14] acsant commented on #19705
@aghassemi For Eve's second issue where the content of the IFrame isn't being loaded, I noticed that it was failing the assertion check for the iframe having a placeholder when `layoutCallback` was called. So I traced through the code and noticed that when the resource manager invokes the `layoutCallback` on the iframe element, the context seems to differ and `this.placeholder_` is null. Doing thi

[2018-12-11 20:23] rsimha commented on #19753
This was pushed, tested by @dvoytenko, and released yesterday.

[2018-12-11 20:34] danielrozenberg opened #19787 "Restore dev browsers in SauceLabs tests"
#19782 reduced the SauceLabs batch size from 4 to 1 and disabled dev browsers. We should reactivate them and make sure tests don't become flaky again

[2018-12-11 20:40] danielrozenberg opened #19788 "Fix broken test 'should be protected from recursive-submission' in `test-integration-form.js`"
This test broke starting with Chrome 71, and was disabled in #19782. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19782/files#diff-342622682fdb4e2fbb7ff8b589e7770bR138

[2018-12-11 20:40] danielrozenberg opened #19789 "Fix broken tests in `test-amp-bind.js`"
This test broke starting with Chrome 71, and was disabled in #19782. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19782/files#diff-73c05e049e30884968eaf21f06712978R23

[2018-12-11 20:44] aghassemi commented on #19788
@cvializ let's quickly investigate to see if this is actually a code breakage issue in Chrome 71 or purely test related.

[2018-12-11 20:45] danielrozenberg opened #19790 "Fix broken tests 'should show the body in error test' in `test-errors.js`"
This test brakes on multiple browsers in SauceLabs, and was disabled in #19782. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19782/files#diff-5bd3d5b9ed366abf44094456feef5f6aR55

[2018-12-11 20:48] danielrozenberg opened #19791 "Fix broken tests 'toggle-display' in `test-toggle-display.js`"
This test broke on Chrome 71, and was disabled in #19782. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19782/files#diff-316eef604205b00ce387d0e856601297R59

[2018-12-11 20:50] cvializ commented on #19788
sounds good, I'll take a look

[2018-12-11 20:50] danielrozenberg opened #19792 "Fix broken tests 'should ping correct host with 3p error message' in `test-user-error-reporting.js`"
This test breaks on multiple browsers in SauceLabs, and was disabled in #19782. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19782/files#diff-32b4799989e738cc1c76eb1b75a4d241R115

[2018-12-11 20:51] newmuis commented on #12191
/cc @Enriqe

[2018-12-11 20:52] danielrozenberg opened #19793 "Fix broken test 'Viewer Visibility State' in `test-visibility-states.js`"
This test broke on Chrome 71, and was disabled in #19782. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19782/files#diff-75ea9c154a66f28bcdbdbf4c25f6b7adR24

[2018-12-11 20:55] mrienstra commented on #13005
I experienced this issue as well (same error message). I was attempting to verify proper AMP GTM setup before adding anything (tags / triggers / variables) to the new AMP GTM container, which perhaps effectively means the container had not been published.

It was resolved by publishing changes. After adding the first tag & trigger, I noticed the error disappeared when I turned on preview mode. I t

[2018-12-11 21:04] alanorozco opened #19795 "🌸 Cherry pick request for #19785"
PR that you are requesting a cherry pick for:

PR #19785

Release(s) you requesting this cherry pick into:

1812102014220 (canary)
1811272154520 (prod)

Production Release? YES

Canary release? YES

Why does this issue meet the cherry pick criteria? Be specific.

Broken codepath for amp-animation WebAnimations polyfill in Safari 12. (#19783)

/cc @dvoytenko @aghassemi

[2018-12-11 21:09] jridgewell commented on #18212
This is coming from the `htmlFor` helper, but there's no way it could cause this error...

[2018-12-11 21:22] cvializ commented on #19788
@aghassemi @danielrozenberg The test consistently succeeds for me in Chrome 70.0.3538.110 (long-running Chrome window FTW), Chrome 71.0.3578.80 and Chrome 73.0.3637.0, so I'm not sure what was causing it to break on Travis. Was there some condition that causes it to fail other than not being skipped? Was it non-deterministically failing?

[2018-12-11 21:44] alanorozco commented on #19795
Closing since fix will make it to new canary and there's no need to patch prod.

[2018-12-11 21:44] #19795 closed

[2018-12-11 21:52] andrewwatterson opened #19798 "Styles that apply to UI elements across multiple extensions are currently scattered"
As we add more instances of default UI in various extensions (currently at least `amp-date-picker`, `amp-list`, `amp-lightbox-gallery`, and `amp-carousel` have examples worth talking about) we should figure out how to reduce duplication of code. Ideally, all higher level default UI styles live in one place and are compiled into the relevant extension-level files.

This is pending a better codifica

[2018-12-11 22:14] danielrozenberg opened #19799 "Fix broken test 'should respect the media attribute' in `test-amp-accordion.js`"
This test broke on Chrome 71, and was disabled in #19796. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19796/files#diff-fc7da79b50e23d3774ec0712a6cdbee5R43

[2018-12-11 22:16] danielrozenberg opened #19800 "Fix broken test 'runs fade-in-scroll animation with default parameters' in `test-amp-accordion.js`"
This test broke on Chrome 71, and was disabled in #19796. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19796/files#diff-92ef74a9aa4d242fe611e145a56da0f8R58

[2018-12-11 22:17] cramforce commented on #19203
@bramanudom I was looking at a few stories where this wasn't really working (e.g. https://www.cnn.com/ampstories/us/lets-celebrate-national-mutt-day but WaPo has a similar issue). They don't seem to use the primary-color but instead just use `amp-story,amp-story-page{background-color:#000}`.

Would it make sense to add support for that? Since we already call `getComputedStyle` we could just check

[2018-12-11 22:17] danielrozenberg opened #19801 "Fix broken test 'should not have the buttons visible when amp-mode-mouse class is not on body' in `test-amp-carousel.js`"
This test broke on Chrome 71, and was disabled in #19796. Please triage and fix

Disabled test: https://github.com/ampproject/amphtml/pull/19796/files#diff-50604844141894d101ac18e58639d452R187

[2018-12-11 22:18] altmrjoro opened #19802 "[This is a test of GitHub's issue templates] 🌸 Cherry pick request for <YOUR_ISSUE_NUMBER> into <RELEASE_ISSUE_NUMBER> (Pending)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #<ISSUE_NUMBER>

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR

[2018-12-11 22:19] #19802 closed

[2018-12-11 22:19] altmrjoro opened #19803 "[This is another test.] 🌸 Cherry pick request for <YOUR_ISSUE_NUMBER> into <RELEASE_ISSUE_NUMBER> (Pending)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #<ISSUE_NUMBER>

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR

[2018-12-11 22:19] #19803 closed

[2018-12-11 22:23] altmrjoro opened #19804 "[Another test] 🌸 Cherry pick request for <YOUR_ISSUE_NUMBER> into <RELEASE_ISSUE_NUMBER> (Pending)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #<ISSUE_NUMBER>

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR

[2018-12-11 22:24] #19804 closed

[2018-12-11 22:24] cvializ commented on #19788
OK, I was able to make it fail consistently in Sauce Labs. The test makes a request to `localhost:38612`, which hosts the test request server in `app.js`. For some reason, this port refuses any connections in Windows + Chrome 71, but when the test runs in Windows + Chrome 70, the request returns a response and the test succeeds. I verified this with the test server running on my local machine, and

[2018-12-11 22:36] rsimha commented on #19753
Promoted to prod. Released with https://github.com/ampproject/amphtml/releases/tag/1812102014220

[2018-12-11 22:36] #19753 closed

[2018-12-11 22:38] #19783 closed

[2018-12-11 22:40] mare-on commented on #13677
Hi,
as I see, this issue is still not fixed,so... why developers just don't remove the "!important"?
Or just slightly change of code and we have world peace :)

Use this:
.i-amphtml-slides-container {
    overflow: hidden;
}

Instead of this:
.i-amphtml-slides-container {
    padding-bottom: 20px; (WHAT THE HELL THIS IS FOR???)
    overflow-x: hidden; auto !important;
    overflow:-y hidden; hidde

[2018-12-11 23:06] bramanudom commented on #19203
I will investigate the story where this isn't working, though just to be clear because these sites don't use primary-color, not working means that the toolbar doesn't have the light-gray default color, correct?

In terms of adding support for setting the theme-color to match the background color, that does make a lot of sense to me. However, in the first go-around I did consult Hong who suggested

[2018-12-11 23:23] cramforce commented on #19203
In any case the body-background case should be equal to the `theme-color`. That is because in notch phones you'd sometimes see either of them. Right now it looks really ugly with a bright color notch.

[2018-12-11 23:39] jridgewell opened #19808 "🌸 Cherry pick request for 19805 into 19659 (Pending)"
**GitHub issue your cherry pick is fixing:**

Issue N/a

**PR that you are requesting a cherry pick for:**

PR #19805

**Release(s) you requesting this cherry pick into:**

Production Release? Release Issue #19659

Canary release? Release Issue (in process of being cut)

*Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-sche

[2018-12-12 00:32] cramforce commented on #19808
This looks like a worthy cherry-pick. I'd feel better to go to canary first.

[2018-12-12 00:39] torch2424 commented on #18828
Need to change UI API:

[code]

[2018-12-12 01:01] honeybadgerdontcare commented on #18992
This is now live at https://cdn.ampproject.org/caches.json

[2018-12-12 01:01] #18992 closed

[2018-12-12 01:12] danielrozenberg commented on #19788
/to @rsimha + @estherkim for Carlos's question

[2018-12-12 02:05] sparhami opened #19810 "[iOS] Closing lightbox gallery opened from carousel can result in incorrect slide shown"
## What's the issue?

When closing a lightbox opened from a carousel, the wrong slide may be shown in some cases. This issue seems to occur in the first few slides (the number of slides affected may be impacted by the total number of slides)

## How do we reproduce the issue?

1. Navigate to https://ampbyexample.com/components/amp-lightbox-gallery/
1. Scroll to the carousel example
1. Click on the

[2018-12-12 02:48] signalcat commented on #19777
Hi, I made an attempt to fix the transition interrupt bug with https://github.com/ampproject/amphtml/pull/19811. @cathyxz  @aghassemi please feel free to take a look. Deferring the animation discussion to those more knowledgeable on the thread.

[2018-12-12 06:56] anirudhkhanna-oyo opened #19814 "AMP4Email: Whitelisted email not able to send AMP mails to Test Account"
Hello,

I am working on AMP4Email Dev Preview for my organization. We intend to go live with it on our prod mailers when AMP4Email support will be open (any dates?).
It is in development phase right now, and emails sent from Playground are working fine.

Now comes the email-triggering part...

We have a whitelisted email id and we are trying using it as a Sender to the Test Account provided. As of

[2018-12-12 07:19] anirudhkhanna-oyo commented on #19779
Form looks to be a good idea in this case. Will try that out next.

[2018-12-12 07:20] anirudhkhanna-oyo commented on #19779
* This thread can be closed now *
Looks like the ways to make things work in amp4email are in-fact slightly indirect ones (when compared to AMP).

[2018-12-12 09:02] #19633 closed

[2018-12-12 09:21] shawkivai opened #19816 "AMP CDN scripts not loading."
## What's the issue?
AMP cdn scripts are not loading in our amp-site.  We are using several scripts in the header section of our amp site. and found this type of error in console for every single scripts.
![image](https://user-images.githubusercontent.com/32758956/49859977-0e2de780-fe23-11e8-8d10-b4252c2088ca.png)
Can you please let us know when this is happening all on a sudden!!
We need a quick

[2018-12-12 09:38] bjalford opened #19817 "Video analytics (currentTime, duration, playedRangesJson, and playedTotal) for amp-brightcove"
Working with major UK publishers who use Brightcove and Permutive in a PWAMP set up and

Some key metrics aren't available according to the docs here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-video-analytics.md#common-variables

In terms of 'partial support'  - Partial support means that all video analytics common variables are included, except for currentTime

[2018-12-12 10:54] ipauler commented on #19124
@jasti Ok thanks. How can we get publisher support ?

[2018-12-12 14:15] robmurtagh opened #19821 "Major change to amp-ad viewability reporting"
## What's the issue?

When running regular ads via Google DV360, targeting `<amp-ad>` slots on AMPHTML pages, there was a major decrease (~15%) in reported viewability between 28th and 29th November 2018.

According to DV360, there was no change in the viewability code used by the DV360/DCM ad serving platform. Was there any change to the `<amp-ad>`/`<amp-embed>` component which could have changed

[2018-12-12 14:38] bradfrizzell commented on #12374
As there hasn't been a new request in 10 months, I am closing this.

[2018-12-12 14:38] #12374 closed

[2018-12-12 14:44] seomaz opened #19822 "amp-facebook dont work"
amp-facebook component stopped working

console error:

`Uncaught DOMException: Failed to set the 'domain' property on 'Document': Assignment is forbidden for sandboxed iframes.
    at https://staticxx.facebook.com/connect/xd_arbiter/r/LviKjJ9cymB.js?version=43:1:118`

You can see the problem here:

https://www.ampproject.org/docs/reference/components/amp-facebook

https://ampbyexample.com/compone

[2018-12-12 14:52] seomaz commented on #19822
`amp-facebook-comments` It seems that it does not work either

https://www.ampproject.org/docs/reference/components/amp-facebook-comments

[2018-12-12 15:21] sebastianbenz opened #19823 "[amp-next-page] does not revert to original URL on large viewports"
Steps to reproduce:

1. Visit https://ampbyexample.com/components/amp-next-page/ on a large desktop
2. Scroll down until the next article is loaded and the URL changes to https://ampbyexample.com/samples_templates/news_article/preview/
3. Scroll back to the top.

=> the URL does not switch back to https://ampbyexample.com/components/amp-next-page/

Note: this is only the case if the viewport is la

[2018-12-12 15:49] estherkim opened #19825 "Travis integration tests cannot find `build-browser-scripts.js`"
Running `gulp test --integration --nobuild --coverage` throws this error in Travis

[15:45:34] Webserver started at http://localhost:31862
[15:45:34] Started test responses server on localhost:31862
internal/modules/cjs/loader.js:583
    throw err;
    ^
Error: Cannot find module '/home/travis/build/ampproject/amphtml/node_modules/wd/scripts/build-browser-scripts.js'
    at Function.Module._resolv

[2018-12-12 15:51] cvializ commented on #19825
I think that `yarn add wd` fixes this error message. It must have been added to the code but not added as a dependency in `package.json`

[2018-12-12 16:15] jpettitt commented on #19747
This fix should now be in production.  Please confirm and close the issue if it's fixed in your tests.

[2018-12-12 16:16] jpettitt commented on #19694
Fix is now in production

[2018-12-12 16:16] #19694 closed

[2018-12-12 16:19] alanorozco commented on #13674
This is being dealt with separately.

[2018-12-12 16:19] #13674 closed

[2018-12-12 16:20] alanorozco commented on #13673
Being dealt with separately, see #19510.

[2018-12-12 16:21] jpettitt commented on #19816
This is almost certainly a local (firewall?) issue, we are not seeing any issues. Can you try it on multiple ISP's and if it fails indicate which service providers.

[2018-12-12 16:30] choumx commented on #19822
Regression in 1812102014220 promoted yesterday. Still works on 1811272154520.

[2018-12-12 16:33] rsimha commented on #19753
This went into release #19659

[2018-12-12 16:40] aghassemi commented on #19822
as @jpettitt found, it is caused by the new `sandbox` attribute that `sandbox-ads` experiment adds.

[2018-12-12 16:55] choumx commented on #19712
This should be allowed. It looks like the validator has an edge case with self-closing tags i.e. `<rect></rect>` is allowed but `<rect />` isn't. Try using the former as a workaround for now.

/to @Gregable

[2018-12-12 16:56] rsimha commented on #19788
Very nice sleuthing and analysis, @cvializ!

I poked around the Sauce labs documentation to see if accessing `localhost` via a port on Sauce VMs is a known problem. I found [this](https://support.saucelabs.com/hc/en-us/articles/115002212447-Unable-to-Reach-Application-on-localhost-for-Tests-Run-on-Safari-8-and-9-and-Edge) year-old article about older Safari browsers, which may offer a hint about w

[2018-12-12 17:08] danielrozenberg commented on #19788
I can give this a try, let me change the port to 8081 (since 8080 is warned not to work on Android, and although we don't test it now, we might in the future) and I'll report my findings

[2018-12-12 17:09] alanorozco commented on #12902
@newmuis As I understand there are no plans to use this. Safe to remove experiment?

[2018-12-12 17:10] alanorozco commented on #13955
Refactor is being scaled down and applied by steps. This guard shall be removed for the overall asynchronous video-service, and set up a separate experiment for position-observer-bound `Autoplay`.

[2018-12-12 17:12] alanorozco commented on #14058
Sounds like this is overall not worth the effort.

[2018-12-12 17:12] #14058 closed

[2018-12-12 17:16] jpettitt opened #19829 "🌸 Cherry pick request for 19828 into 19659 (Approved)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #19822

**PR that you are requesting a cherry pick for:**

PR #19828

**Release(s) you requesting this che

[2018-12-12 17:18] Gregable commented on #19712
Correct, this is actually allowed. The javascript version of the validator doesn't fully understand the differences in parsing rules between html and svg xml. Either will work in Google services.

[2018-12-12 17:18] #19712 closed

[2018-12-12 17:46] jpettitt commented on #19829
Set to approved per chat with @cramforce

[2018-12-12 17:54] #19291 closed

[2018-12-12 18:13] newmuis commented on #19203
In practice, many publishers set neither the body nor `amp-story` nor `amp-story-page` background color.  We could use the `amp-story-page` background color, then think about adding an image processing transform in the AMP cache that finds the dominant color of the background image and uses that on the page, although there are some complications there.

How about we start by just using the `amp-st

[2018-12-12 18:22] cramforce commented on #19829
Approved

[2018-12-12 18:23] cramforce commented on #19203
SG. One more thing though: How about defaulting to black?

On Wed, Dec 12, 2018 at 10:13 AM Jon Newmuis <notifications@github.com>
wrote:

[2018-12-12 18:46] bramanudom commented on #19203
Defaulting to black sounds good to me, but I'm looping in @hongwei1990 since I had originally talked to her when selecting the default light-gray color.

[2018-12-12 18:52] torch2424 commented on #19030
@dvoytenko Awesome, we'll go ahead and implement using this plan once I get the chance. Thanks! 😄

[2018-12-12 19:09] nibuca opened #19837 "amp-ad call fails to fire if type is forced to fixed"
## What's the issue?
We've run into an issue with ads in AMP failing.

In investigating this it looks like this is happening because the ads are set to type="responsive".
The console reports "4log.js:187 Behavior of multi-size and responsive layout is currently not well defined. Forcefully overriding layout to `fixed`." So it looks like it knows that it should be using "fixed" but the forced overr

[2018-12-12 19:28] danielrozenberg opened #19839 "Make the 8081 test server port a Karma variable, instead of hard coding it into various tests"
Related to #19832

[2018-12-12 19:38] bradfrizzell commented on #19837
Investigating

[2018-12-12 19:39] #19744 closed

[2018-12-12 19:43] glevitzky commented on #19837
FYI: The change that forces `fixed` layout on multi-size slots went live sometime in August. Here's the [PR](https://github.com/ampproject/amphtml/pull/17016) for it. If nothing about the slot configuration changed since then, it's likely unrelated to the issue here.

[2018-12-12 19:53] danielrozenberg commented on #19787
Increased the SauceLabs batch size in #19832, renaming this issue

[2018-12-12 20:17] aurbanczik opened #19840 "Amp-Youtube"
At the end of a video I would like to either
not show any youtube recommendations at all
or
at least just those from my channel.
How do I code that ?

[2018-12-12 20:17] nibuca commented on #19837
I have not yet done a data analysis to find out how long this issue has been happening.  I'll check with a Product Manager to see if they have any data.

[2018-12-12 20:23] choumx commented on #17483
Generally, it's hard to reuse existing APIs for AMP pages due to the caching/serving from AMP cache. This means that your AMP page will sometimes be served from a different domain (e.g. `pub.com` vs. pub-com.cdn.ampproject.org`). This necessitates an AMP layer on top of normal CORS for security purposes, as described here: https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md

[2018-12-12 20:23] glevitzky commented on #19837
Disregard my previous message, it looks like forcing the layout change is indeed the cause here.

[2018-12-12 21:32] alabiaga commented on #17345
reopening as the changes to fix this needs to be audited.

[2018-12-12 21:34] Gregable commented on #17115
We have separate issues for tracking parsing differences between C++ and JS validators, including closing tags, so I don't see much need to leave this open.

[2018-12-12 21:34] #17115 closed

[2018-12-12 21:36] rsimha commented on #19829
This has been released to production: https://github.com/ampproject/amphtml/releases/tag/1812121929200.

It will also be a part of this week's canary: https://github.com/ampproject/amphtml/releases/tag/1812121952400

[2018-12-12 21:36] #19829 closed

[2018-12-12 21:37] rsimha commented on #19808
This will go into today's canary cut: https://github.com/ampproject/amphtml/releases/tag/1812121952400

It can be cherry-picked to prod tomorrow if all looks good.

[2018-12-12 21:38] rsimha opened #19847 "🚄 Release tracking issue for canary release 1812121952400 (Canary)"
# Release tracking issue

- [x] Release [1812121952400](https://github.com/ampproject/amphtml/releases/tag/1812121952400) is cut as a new canary release
- [ ] Release <RELEASE_NUMBER> pushed to dev channel (<CL submit time>)
- [ ] Release <RELEASE_NUMBER> pushed to 1% (<CL submit time>)
- [ ] Release <RELEASE_NUMBER> pushed to production (<CL submit time>)

See the [release documentation](https://

[2018-12-12 21:49] shimonenator commented on #19837
@glevitzky looking through the numbers, the issue begun in August, but we did not realize it was that massive until now

[2018-12-12 22:06] glevitzky commented on #19837
@jridgewell @lannka @keithwrightbos

I can fix this issue by undoing the changes in #19848, but I don't know whether that will reintroduce issue https://github.com/ampproject/amphtml/issues/16955 (can't manually reproduce, so that's a good sign).

The underlying issue here is that changing the layout attribute on the slot appears to somehow trigger unlayoutCallback, which invalidates our ad promis

[2018-12-12 22:20] glevitzky commented on #19837
Spoke with @jridgewell offline, sounds like the best path forward is to avoid changing the layout attribute.

[2018-12-12 22:21] #19788 closed

[2018-12-12 22:21] #19790 closed

[2018-12-12 22:21] #19791 closed

[2018-12-12 22:21] #19792 closed

[2018-12-12 22:21] #19793 closed

[2018-12-12 22:21] #19799 closed

[2018-12-12 22:21] #19800 closed

[2018-12-12 22:21] #19801 closed

[2018-12-12 22:31] torch2424 commented on #19814
cc @choumx @fstanis

[2018-12-12 22:35] torch2424 commented on #19817
Triaging to @aghassemi 😄

cc @jeffjose

[2018-12-12 22:39] torch2424 commented on #19497
Closing as this was merged.

[2018-12-12 22:39] #19497 closed

[2018-12-12 22:39] aghassemi commented on #19817
@bjalford Full support would require changes on Brightcove side which we in AMP can't make. /cc @mister-ben.

@bjalford We are also launching `amp-video-iframe` (https://github.com/ampproject/amphtml/blob/master/extensions/amp-video-iframe/amp-video-iframe.md) in the first half of January which could possibly be a workaround. Essentially, with `amp-video-iframe` publishers could integrated any vid

[2018-12-12 22:41] jasti commented on #19821
+ @keithwrightbos as well.
@robmurtagh could you confirm *how* you are targeting AMP pages via DV360 today? I didn't realize there was such targeting available in DV360.

[2018-12-12 22:42] sparhami commented on #19028
My original thought for this issue was use `overscroll-behavior: contain` + `overflow: hidden` on the modal instead of making the body fixed position. This would prevent scroll from escaping the modal for browsers that support `overscroll-behavior`, without needing to mess with the body itself. This would also allow scrolling immediately after closing a lightbox rather than needing to wait for the

[2018-12-12 22:45] aghassemi commented on #19840
@aurbanczik We support all the parameters that YouTube exposes in `amp-youtube` So you can set any of the items in https://developers.google.com/youtube/player_parameters by adding a `data-param-<nameOfParam>=<value>` on your `amp-youtube` component.

The one you are looking for is `rel`. So adding `data-param-rel=0` will ensure recommendations are from the same channel as the video itself (based

[2018-12-12 22:45] aghassemi commented on #19840
Closing based on the answer above.

[2018-12-12 22:45] #19840 closed

[2018-12-12 22:52] cvializ commented on #19647
Looks like the amp-form integration test was due to a race. Fixed in #19824

[2018-12-12 23:05] #19599 closed

[2018-12-12 23:07] aurbanczik commented on #19840
Thank you !

Liebe Grüsse

Aleš 

https://rolfguild.eu
http://www.rolfyoga.com/

-----Original-Nachricht-----
Von: "Ali Ghassemi" <notifications@github.com>
An: ampproject/amphtml <amphtml@noreply.github.com>
Cc: aurbanczik <ales.urbanczik@rolfyoga.com>, Mention <mention@noreply.github.com>
Datum: 12.12.2018 23:46
Betreff: Re: [ampproject/amphtml] Amp-Youtube (#19840)

@aurbanczik We support all t

[2018-12-12 23:17] ayumihamsaki opened #19856 "Add these links types to Validator Whitelist"
This has never been an issue in the past and only this week the Validator is saying they are not Valid now?

I request AMP-HTML to Whitelist the following two links protocols:

## Facebook Messenger Share Links

These are made up using the following link pattern:

`href="fb-me://share?link=https%3A%2F%2Fwww.example.com"`

Validator Error Message:

[code]

## WhatsApp Share Links

These are made up

[2018-12-12 23:20] rsimha opened #19857 "`refreshKarmaWdCache()` in `runtime-test.js` no longer works"
This used to work, but now fails with this error:

[code]

We should remove the workaround if the underlying bug is fixed. See #13328 for more details.

/cc @danielrozenberg @estherkim

[2018-12-12 23:38] jridgewell commented on #15933
No errors in the past 7 days.

[2018-12-12 23:38] #15933 closed

[2018-12-13 01:02] #19810 closed

[2018-12-13 02:02] sparhami commented on #19719
Another way to achieve this is using `setState`: https://jsbin.com/qupaxoteka/edit?html,output

I'm not sure if that is the preferred way to do it, but I suppose it can't hurt to fire the event here.

[2018-12-13 03:20] aghassemi commented on #19856
/to @Gregable

[2018-12-13 04:07] jaygle commented on #14863
They should be calculated dynamically when the visibility event is triggered and the URL with the macro is being requested.

[2018-12-13 04:08] stephengardner commented on #12275
@lannka I do not understand how you used ${base} in this context without first defining it.
Could you elaborate on this, please?  I didn't know that was possible.

[2018-12-13 04:12] TWsky opened #19863 "Allow using amp-sidebar links to scroll navigate within the page"
## What's the issue?

Partner implement scrollTo action on tap event inside amp-sidebar. The scrollTo Behavior will automatically scroll back once the sidebar is closed.

## How do we reproduce the issue?

https://eikiy.github.io/NewEdit/AMP/01/index.html

1. Open sidebar
2. Click "店家位置“ (id="go05")
3. The viewport behind sidebar will scroll to the right section (section with id="go05")
4. close s

[2018-12-13 07:04] wigth commented on #19747
Bug was fixed. Thank you!

[2018-12-13 07:04] #19747 closed

[2018-12-13 07:27] devignerforhire opened #19864 "amp-user-notiification close button doesn't work when left position is set or when marker is used"
I'm doing the finishing touches to our newsletter signup form that slides in from the right on desktop and fades in from the bottom on mobile, but when I set the amp-user-notification to left: 100% the close button stops working. This is also the case when the marker is used alongside amp-animation.

Does anybody have any ideas? I've tested on chrome and safari on mac and both are the same.

I set

[2018-12-13 07:41] devignerforhire commented on #19864
Forgot to add a link to our staging site, where you can see the issue in action:
https://winefolly.staging.wpengine.com/

[2018-12-13 09:13] leonalicious commented on #14060
Hey @cathyxz , thank you for your clarification & sorry for the late reply, hmmmm, I personally think either splitting the params or not will not make much impacts, simply because the params returned from API should be simple, those params which are complicated are mainly based on `user behavior`, they should remains at client side. There, I am thinking lets keep it as simple as `option 1` you men

[2018-12-13 09:18] robmurtagh commented on #19821
@jasti We use a number of private deals that we have set up with publishers that target their AMP pages. The viewability drop off occurred uniformly for all deals, sites and placements.

[2018-12-13 10:48] devignerforhire commented on #19864
I managed to work around the issue by wrapping the close button with a form, which then reloads the current page. It's not elegant by any means, but it'll work as a temp fix until I can figurer out why the close button doesn't work when positioned and the animation marker is used. If anyone has any ideas I'd love to hear them :)

[2018-12-13 12:39] leonalicious opened #19866 "Feature request: amp-list to support masonry layout"
Good Day,  here is some little background, in order to **filter** those unnecessary info from user sights & increase the **exposure** of important information, we are hoping is it possible we can have a **Horizontal** `masonry` layout option for `amp-list` please?

Based on my research, there are 2 ways of getting this layout on the ground:

1. PURELY CSS solution with the use of `flex`, we can ac

[2018-12-13 13:51] craigscott29 opened #19867 "Did Internet Explorer 11 Support Get Dropped?"
Got a call from one of our sales people that our website (https://www.craigattachments.com/) was broken - they mostly use IE11. Loaded it up and sure enough, everything AMP (sidebar, img, carousel, etc.) is broken. We updated to Wordpress 5.0 so I know it worked last Friday when I checked all browsers for compatibility.

Just to be sure it wasn't something funky with our site though I loaded up ht

[2018-12-13 14:00] spinmar opened #19868 "Amp-story: how to remove a text with animation"
Hi,
I'm implementing various amp-stories and it is not clear to me how to remove a text in apage with animation.
Supposing to have a story with different pages and in each page the text enters with animation fade-in. I'd like to remove this text after X seconds because the user should be able to view the undergroud video.
Can you explain me how to do it?
Thansk

[2018-12-13 14:41] #19867 closed

[2018-12-13 14:52] newmuis commented on #19868
Hi @spinmar, it is not currently possible in the amp-story spec to have exit animations.  This is something we have considered for a future date.  I don't think there is a GitHub issue tracking this, so I will leave this issue open to track.

[2018-12-13 14:55] zombifier opened #19869 "inabox: amp-inabox should be able to get viewability information inside a friendly frame without IntersectionObserver or the host script"
## What's the issue?

When used in an AMP ad in a friendly iframe on a non-AMP page, amp-analytics rely on either the host script (amp4ads-host) or IntersectionObserver support within the browser to get viewability information,
even though it can get this information directly from the parent window.

## What browsers are affected?

Browsers that does not support IntersectionObserver, namely IE and

[2018-12-13 14:55] newmuis commented on #12902
Yes, this should be safe to clean up at our earliest convenience.

[2018-12-13 15:00] LuisKrotz commented on #14060
Someone knows how to fix this validation errors?
![screen shot 2018-12-13 at 12 58 50](https://user-images.githubusercontent.com/18265646/49946820-e9934780-fed6-11e8-91ce-a77aada1b4f2.png)

I'm working on a infinite scroll with amp, but so far I couldn't make any progress in validation my HTML with the infinite scroll.

[2018-12-13 15:02] zombifier commented on #19869
If this issue is fixed then in most cases we can choose not to load the host script; only when the ad is in a cross-domain iframe within browsers not supporting IntersectionObserver do we need the host script.

[2018-12-13 15:47] jpettitt commented on #19864
It's not the `position` it's the `amp-animation`  the `visibility: visible` in the animation is overriding the `visibility: hidden` in the dismissed `amp-user-notification ` .  You might try just positioning it off screen and animating  it in rather than toggling visibility.

[2018-12-13 15:52] devignerforhire commented on #19864
Thanks for the explanation John! I'll give that a try on the morrow and report back with my findings :)

[2018-12-13 15:54] #19702 closed

[2018-12-13 15:58] #19837 closed

[2018-12-13 15:59] jpettitt commented on #19864
OK, I'm going to close this as "works as intended"

[2018-12-13 15:59] #19864 closed

[2018-12-13 16:31] choumx commented on #19814
Hi Anirudh, if your company is signed up for the developer preview you should have access to a Gmail support channel to ask questions.

Unfortunately, the AMP team are not experts on Gmail specifics so I'm afraid we can't help much here.

[2018-12-13 16:31] #19814 closed

[2018-12-13 16:48] #19779 closed

[2018-12-13 17:17] choumx commented on #19554
Assuming that the `foreignObject` content will be parsed by the validator as normal HTML, I don't see any problems with it.

[2018-12-13 17:18] anirudhkhanna-oyo commented on #19814
Sure. Got it. 👍

[2018-12-13 17:38] #19727 closed

[2018-12-13 17:38] #19624 closed

[2018-12-13 17:49] zhouyx commented on #12275
@stephengardner `${base}` is defined from the `facebookpixel` config [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors/facebookpixel.js#L23),

[2018-12-13 17:49] alanorozco commented on #12902
@newmuis Removing entirely requires changes to amp-story `0.1`. OK to do so?

[2018-12-13 18:02] honeybadgerdontcare commented on #19856
@ayumihamsaki 	Sorry you're running into this issue. We haven't allowed `fb-me` or `wh` previously. We have allowed `fb-messenger` and `whatsapp` and still do. https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L1514

We'll add `fb-me` and `wh` but you may want to use the existing allowed protocols till it's released in production.

[2018-12-13 18:20] #19856 closed

[2018-12-13 18:52] rsimha commented on #19808
This is now part of https://github.com/ampproject/amphtml/releases/tag/1812131718380

[2018-12-13 18:52] #19808 closed

[2018-12-13 18:53] #19659 closed

[2018-12-13 18:56] rsimha commented on #19847
Assigning to @danielrozenberg, next week's release on-duty.

Since we don't have a scheduled release next week, this issue can be closed without pushing 1812121952400 to prod.

We do have a canary cut though, for which a new release issue must be created.

[2018-12-13 19:08] aghassemi commented on #19705
Per https://github.com/ampproject/amphtml/pull/19786#issuecomment-447082802, https://github.com/ampproject/amphtml/pull/19778 has also fixed the root cause of this issue.

Closing the issue for now. Please feel free to reopen in you noice the issue is not fully fixed. https://github.com/ampproject/amphtml/pull/19778 will rollout to production on Tuesday Dec 18th.

[2018-12-13 19:09] #19705 closed

[2018-12-13 19:14] #18483 closed

[2018-12-13 19:14] #16032 closed

[2018-12-13 20:36] newmuis commented on #12902
Yep!

[2018-12-13 20:50] cathyxz commented on #14060
Hi @LuisKrotz, `amp-list-load-more` is currently under experiment and not launched, so it won't validate. We're still working through it and may potentially make API changes at this point, so feel free to play with it, but note that it won't work in production until launch (approximate ETA is mid Jan).

[2018-12-13 21:08] cathyxz commented on #14060
Hi @leonalicious ! Thanks for your feedback. =)

Re: amp-list height calculation, I actually think this entire thing is easier with layout container, so you'll see that in this [example](https://amp-infinite-scroll.glitch.me/bind.html) I've added `changeToLayoutContainer`.

So the code that you referenced above would achieve server-side sort / filter, which is similar to the example that I have he

[2018-12-13 21:08] danielrozenberg opened #19875 "Changes to `build-system/babel-plugins` should trigger the `RUNTIME` changes checks in Travis builds"
e.g., this PR changed the bundle size, but was skipped because it wasn't taken into account as a Runtime change: https://github.com/ampproject/amphtml/pull/19812

[2018-12-13 21:09] danielrozenberg commented on #19875
/cc @kristoferbaxter @rsimha

[2018-12-13 21:20] sparhami opened #19876 "Reading/modifying body prior to page load can be unsafe"
Writing to `document.body` prior page load can cause AMP elements to run `buildCallback` prior to their children being available. See: https://github.com/ampproject/amphtml/issues/19728#issuecomment-446033966

Reading from `document.body` could result in some elements being missed. For example, the following code reads from the body looking for all elements matching a selector, but this can run be

[2018-12-13 21:43] newmuis commented on #14101
This is blocked on #14357.

[2018-12-13 21:44] newmuis commented on #17688
This does not appear to be happening on webviews that support inline playback.  For webviews that do  not support inline playback, all we can do is try to create an alternative experience; for that, see #14315.

[2018-12-13 21:44] #17688 closed

[2018-12-13 21:49] newmuis commented on #11715
This experiment is still in use.  People can migrate away from it once #19270 is launched.

[2018-12-13 21:57] zombifier commented on #19869
cc @jeffkaufman, @lannka

[2018-12-13 22:20] 4tek opened #19878 "AMP HTML Google Ads Display Error"
Have you ever seen that kind of error of AMP HTML Google Ads?
It looks good where I uploaded it, it's correctly validated and mostly corectly display but sometimes I see it that way. How to fix it? Ad is made with Google Web Designer. I have this problem with many others AMP HTML ads
![ampaderror](https://user-images.githubusercontent.com/45861062/49971119-a3b59e00-ff2d-11e8-9560-c9b207356f8a.jpg)

[2018-12-13 22:46] ayumihamsaki commented on #19856
@honeybadgerdontcare Thanks for the info and pr, will save that list, very useful.

[2018-12-13 23:29] #17151 closed, assigned to dreamofabear

[2018-12-13 23:30] #13642 closed

[2018-12-13 23:32] choumx commented on #13343
Is this still an issue? I wonder if this was related to quirks mode.

[2018-12-13 23:33] choumx commented on #12634
Closing due to staleness. Please reopen if this is still an issue.

[2018-12-13 23:33] #12634 closed

[2018-12-14 00:36] stephengardner opened #19879 "Add "selector" to amp-form-submit analytics event"
I'd like to be able to fire Analytics Events to a third party provider (ie Google Analytics) on a form submission, but I'd like to **filter the events by form**.  I don't see any documentation on how this is possible.

Use case:
An ecommerce AMP has multiple forms.  **Form 1** is for adding to cart, and **Form 2** is for searching.  I'd like to fire a specific search event only on **Form 2**.  Bas

[2018-12-14 00:39] stephengardner commented on #19879
Oh wow, looks like it's possible - those docs need to be updated.

[2018-12-14 00:39] #19879 closed

[2018-12-14 00:46] armandAkop opened #19880 "[amp-state] - Conditionally check amp-state for data before XHR"
## Describe the new feature or change to an existing feature you'd like to see

Question/Request since I can't find it in the docs. Is there a way to check the AMP state to conditionally decide if I should submit the form? For example

[code]

My state...
[code]

The user types in "abc" into the input box and hit's enter. I'd like to check (maybe in an event called "should-submit" which returns a

[2018-12-14 05:21] zhangsu commented on #13343
I just tried again and can still reproduce. If I simply set the height of the iframe to whatever the `documentHeight` AMP runtime sends to the parent, then the everything starting at the blue bottom border of the `html` element (which includes the blue bottom border and the margin-bottom of the `html` element) gets cut off and overflows the iframe container.

[2018-12-14 07:47] andreyMakahov opened #19882 "[amp-install-serviceworker] TypeError: Cannot read property 'postMessage' of null"
## What's the issue?

TypeError: Cannot read property 'postMessage' of null

## How do we reproduce the issue?

Visit [m.aliexpress.com](https://m.aliexpress.com)

![image](https://user-images.githubusercontent.com/5758614/49990003-0f901900-ffb7-11e8-970f-b5ba33b4cd88.png)

## What browsers are affected?

All browsers

[2018-12-14 10:12] spinmar commented on #19868
Hi @newmuis thanks for your reply. Yes it will be very useful bacause there are many examples where it should be useful for the user remove animations.

[2018-12-14 10:37] SimonHogstromRonbol opened #19883 "[Google Tag Manager] AMP Container preview mode, doesnt work through amp-analytics"
## What's the issue?

Google Tagmanager preview mode doesnt show up on AMP pages, using normal tagmanager containers, pressing "preview" lets you then visit the site amd you can see an iframe keeping track of what and how different tags are triggering.

Using an amp container when you enter preview mode and visit your amp website, the preview mode iframe doesnt show up, no console error or anythin

[2018-12-14 11:47] rushikeshk-gdb opened #19884 "Importing videojs player via CDN"
## What's the issue?

I am trying to import videojs cdn library in my AMP custom component.
I used preconnectCallback method to pass the videojs uri using this.preconnect.url(" ") property.
but it gives me min.js file code as it is on html file. but I need videojs player working in my AMP html page

## How do we reproduce the issue?
1) create an AMP component
2) import videojs cdn library in that

[2018-12-14 14:47] mister-ben commented on #19817
This can be added. I'll look into it.

[2018-12-14 14:52] jeffkaufman commented on #19869
@lannka this is valuable for two reasons:

* Not loading the host script when it's not needed should improve AMP Inabox performance
* Being able to function in this environment allows serving AMP Inabox ads to services that don't provide the host script

This is something @zombifier could potentially add, or you could address as part of Inabox V2.

[2018-12-14 15:48] cvializ commented on #11268
P2 was the wrong priority. @kristoferbaxter I believe PWA is in your court now, can you take this or reassign to someone?

[2018-12-14 16:00] #19752 closed

[2018-12-14 16:31] GoTcWang opened #19886 "Global event handler to report all user interactions to viewer inside AMP"
We would like to evaluate how awesome AMP4EMAIL is and we believe the strongest argument we can make is "users tend to take more actions in AMP4EMAIL than static emails".

In order to do that, we would appreciate AMP runtime collect all user actions (swipe, click, tap and etc.) and report to viewer so that we can do further analysis.

Even better, these user interactions would be bundled with an A

[2018-12-14 16:38] choumx commented on #13343
Just read the original issue, makes sense. #12229 assumed it "should be a no-op for docs which
are already taller than the viewport." This is not true as Su describes and we should fix `getContentHeight()`.

@jridgewell Let's get this in the fix-it.

[2018-12-14 16:54] alanorozco commented on #13955
`PositionObserver`-bound autoplay has slightly worse performance than current scroll-ticked autoplay, so old refactor code can be removed altogether.

[2018-12-14 16:57] choumx commented on #19886
/to @alabiaga

[2018-12-14 17:14] cathyxz commented on #19866
@alanorozco once wrote up a doc for a generic `amp-masonry` approach using [Houdini's Layout API](https://github.com/w3c/css-houdini-drafts/blob/master/css-layout-api/EXPLAINER.md), (code example [here](https://github.com/GoogleChromeLabs/houdini-samples/tree/master/layout-worklet/masonry) ) however [support](https://ishoudinireadyyet.com/) for this API isn't ready yet. I think the last discussed

[2018-12-14 17:33] estherkim commented on #19825
Closing - duplicate of #19889

[2018-12-14 17:33] #19825 closed

[2018-12-14 17:59] rsimha opened #19890 "`amp-story` visual tests are flaky due to moving "Share" button"
See https://percy.io/ampproject/amphtml/builds/1260087 for example. From what I've noticed, the "Share" button goes back and forth between the two positions across different builds.

Assigning to folks on the stories team to triage.

/cc @danielrozenberg

[2018-12-14 18:21] alanorozco opened #19891 "I2I: `seekTo` for video"
## Goal

Implement a high-trust `seekTo` action for video.

## Details

### API

Mimic the `amp-animation` API:

[code]

Where `time` is specified in seconds and `percent` between `[0, 1]`. Both params are optional but one of them should be set.

### Implementation

#### VideoInterface

Basic boilerplate and implementation for `amp-video` filed in #19893.

#### amp-video

See above.

#### VideoMan

[2018-12-14 18:22] alanorozco commented on #19891
Hi @sanchezedgar

I think this is something we can work on together. I've wrote down a basic burndown list and I'll start going with a few tasks :)

[2018-12-14 18:38] samparnell opened #19892 "AMP Cache throws error when querystring params are passed on certain domains"
## What's the issue?
This is specific to the viewer version of the amp cached page.

On some domains the amp cache returns a "Sorry, this page is not valid AMP HTML" result for a valid page if additional querystring params are passed on the url. The following example on yahoo behaves differently if the querystring is ```...?amp_js_v=0.1``` vs. ```...?amp_js_v=0.1&a=b```.

This was the first exampl

[2018-12-14 18:46] zhouyx commented on #19821
@robmurtagh We support viewability measurement for iOS. We use InteresectionObserver for viewability measurement, in the case of Safari where native InOb is not supported, we polyfill the InOb. Is there something you found that specifically related to iOS? Please let us know.

[2018-12-14 19:31] #19857 closed

[2018-12-14 19:39] jpettitt commented on #19876
In the `amp-geo` instance the `doc.body.appendChild()` is gated by `waitForBodyPromise()`  should it be waiting for something else?

[2018-12-14 19:57] cramforce commented on #19886
AMP would not provide such information by default unless the viewer requires it for purposes such UI interactions.

Having said that, in the email case the host could likely either inject JS, or use webview APIs on native, or inject amp-analytics, to transmit such information to the host app.

[2018-12-14 19:57] #19886 closed

[2018-12-14 21:31] aghassemi commented on #19876
@jpettitt `waitForBodyPromise` fires when `body` is `opened` which makes it suffer from this issue. Would need to wait for `DOMReady` instead or insert at the top body instead of end.

[2018-12-14 21:35] dvoytenko commented on #19876
I think the safest is either to:

1. `ampdoc.whenBodyAvailable()` and insert a node as a first child of body. Though this could break `amp-story` checks I've seen around. A slightly safe option could be to insert a new node as a previous sibling to the current node.
2. `ampdoc.whenReady()` and append at the bottom of the body.

So, as you can see, operating on a body in the middle of parsing is no

[2018-12-14 21:37] alanorozco commented on #19891
@mister-ben It looks like the Brightcove API supports seeking. Is this something you'd be interested in adding to `amp-brightcove`? There's a `VideoInterface.seekTo` boilerplate PR (#19893) that would make this fairly simple to achieve.

[2018-12-14 21:55] sparhami commented on #19876
I'm working on a different approach. I plan on creating a new `AmpDoc` method called `appendToBody`, which will immediately append to the body. It will also mark the Node as having appended to the body. I'm also changing the logic that checks for Nodes following in the document order to skip over such nodes.

Appending to the start of the body can have problems. For example, page authors may have

[2018-12-14 21:56] dvoytenko commented on #19876
@sparhami indeed, marking a node as "ignore for pending search" is a pretty cool idea.

[2018-12-14 21:57] alanorozco commented on #19891
@sanchezedgar I assigned you a couple of tasks if you'd like to begin work on `amp-video-iframe` support and overall action triggering.

[2018-12-14 22:06] torch2424 commented on #19891
I can handle this for `amp-ima-video`.

@alanorozco Is there alreadya . Design doc / design review done for this?

[2018-12-14 22:09] alanorozco commented on #19891
@torch2424 No design doc needed, this issue should serve the same purpose.

There's not a lot to review but the API, and I think that's fairly uncontroversial. If you'd like to present it next week, feel free, but I'm out until Jan :( Let's discuss design here in the meantime.

[2018-12-14 22:30] torch2424 commented on #19891
@alanorozco Sounds good! Since `amp-ima-video` is essentially a custom player, we communicate with it using iframe `postMessage`. Thus I'll just create a new message type, with a value we should scroll to 😄

Let's try to coordinate implementing around the same time, that way videos on AMP stay consistent. I'm in no rush to implement this, and we can wait until you get back. Unless someone feels ot

[2018-12-14 22:40] torch2424 commented on #19892
Triaging to @Gregable 😄

[2018-12-14 22:42] torch2424 commented on #19884
Triaging to @aghassemi 😄

Just to clarify, are you creating an AMP Extension? Or are you trying use one of the AMP video extensions?

[2018-12-14 22:43] torch2424 commented on #19883
Triaging to @jeffjose 😄

@jeffjose Feel free to assign one of us if this is an issue on our end 😄

[2018-12-14 22:44] torch2424 commented on #19882
Triaging to @prateekbh 😄

cc @erwinmombay Since I think prateek may be out of office?

[2018-12-14 22:45] torch2424 commented on #19880
Triaging to @choumx 😄 Feel free to re-assign.

[2018-12-14 22:46] torch2424 commented on #19878
Triaging to @jasti

@jasti Feel free to assign to one of us if it is on our end 😄

[2018-12-14 22:47] torch2424 commented on #19863
Triaging to @aghassemi 😄

[2018-12-14 22:49] zhouyx commented on #19599
Verify not to be an issue

[2018-12-14 22:53] aghassemi commented on #19884
@rushikeshk-gdb

If you are trying to use a custom video player in your AMP pages, please take a look at `amp-video-iframe` (https://github.com/ampproject/amphtml/blob/master/extensions/amp-video-iframe/amp-video-iframe.md). It is experimentally available so you can give it a try now but will be generally available in January.

If you are trying to create a component for a video service that is no

[2018-12-14 22:53] aghassemi commented on #19884
Closing per comment above, please ping us on Slack if you are building a component and need help. Thank you!

[2018-12-14 22:53] #19884 closed

[2018-12-14 23:07] Gregable commented on #19892
The query params are simply passed through when requesting the document from the publisher:

https://www.yahoo.com/amphtml/sports/bucks-cavaliers-preview-033542929--nba.html?a=b

That page doesn't have an `amp` attribute on it's `<html>` tag when fetched by the google crawler, so it's invalid. This is a publisher issue, not an AMP cache issue.

The URL you linked to (https://www-yahoo-com.cdn.ampp

[2018-12-14 23:07] #19892 closed

[2018-12-14 23:19] torch2424 opened #19896 "AMP Dashboard / app-index: Render the initial file list as the placeholder"
relates to: #19676

See @alanorozco 's comment. It would be nice to render the initial filelist when serving the dashboard. That way there isn't that ~100ms while the list is loading.

[2018-12-14 23:21] torch2424 opened #19897 "AMP Dashboard / app-index: Dynamically resize the height of the file list"
relates to #19676

This requires the change to `amp-list` to get to PROD for dynamically resizable lists on user action.

[2018-12-14 23:23] torch2424 opened #19898 "AMP Dashboard / app-index: Allow for a Mobile / Responsive Design"
Currently the dashboard is unusable / very broken for mobile. Would be great to change up the CSS to make it all navigable by mobile devices 😄

[2018-12-14 23:25] torch2424 opened #19899 "AMP Dashboard / app-index: Allow fuzzy-finding the entire file tree"
realtes to #19676

After offline discussion, would be awesome to have a button that can pull up a little modal (OSX Spotlight type thing), to allow fuzzy finding the entire amp file tree for example and things, without having to go to the the actual folder page for the file listing.

[2018-12-15 00:04] jasti commented on #19878
@4tek thanks for the bug. Could you confirm how you are delivering this? i.e. where are you uploading the ad from? Also, a test URL if you have one would be very helpful.

In the mean time, I've reached out to the GWD team to see make sure it's not a bug on their end.

[2018-12-15 00:56] jasti commented on #19878
Confirmed that it's a bug on the Google Ads rendering side. Will update this bug once the issue is resolved.

[2018-12-15 01:15] jasti commented on #19821
Rob, just FYI, a few folks are OOO, so we might be a bit delayed to respond. Could you also confirm that viewability has bounced back up now?

[2018-12-15 02:38] torch2424 commented on #19030
@gremz

I went ahead and made an example to start investigating this issue: https://github.com/torch2424/amphtml/blob/19030-amp-access-analytics-on-visible/test/manual/amp-access-analytics.html

And I noticed that everything worked fine:
<img width="1081" alt="screen shot 2018-12-14 at 6 34 04 pm" src="https://user-images.githubusercontent.com/1448289/50038117-365a4980-ffcf-11e8-9f6d-4a477d6937e2.

[2018-12-15 07:41] prateekbh commented on #19882
i'll check this

[2018-12-16 00:29] JosefJezek opened #19905 "Component for quicklink"
Could you create component for quicklink?

https://github.com/GoogleChromeLabs/quicklink

[2018-12-17 02:22] leonalicious opened #19908 "FR: amp-analytic to support user error event"
## Describe the new feature or change to an existing feature you'd like to see

Able to capture any errors triggered by users while visiting our website

## Describe alternatives you've considered

None

## Additional context

May I know when will this feature be released, I think it has been under in-experiment phase for more than half a year already ? https://www.ampproject.org/docs/reference/co

[2018-12-17 09:58] leonalicious commented on #14060
Hey, sorry for the late reply, it took me some time to digest these ~

Sorry to say you are wrong, if buyers changed their search criteria, a new item list will be displayed start from 0. The item list should be accumulating only if buyer is searching MORE items based on the same filter criteria via `amp-list-load-more` OR click on `View More` button (basically the idea of `Pagination`)

does `amp

[2018-12-17 10:22] gswetha opened #19911 "AMP_GEO(ISOCountry) value does not update despite change in user location"
## What's the issue?
AMP_GEO(ISOCountry) value does not update despite change in user location. How is its value stored for subsequent requests?

I'm using amp-geo in 2 ways:
1)  `<amp-pixel src="https://foo.com/pixel?country=AMP_GEO(ISOCountry)"></amp-pixel>`
2) `<amp-list  src="deals.json?country=AMP_GEO(ISOCountry)" >`

## How do we reproduce the issue?
https://gist.github.com/gswetha/edefd68fe

[2018-12-17 12:02] Salindor opened #19912 "Google Font loading issue on Safari / iOS devices."
## What's the issue?
Google Font loading issue.

## How do we reproduce the issue?
https://marcel.instapage.eu/382080AMP
The "Lato" font is not displaying correctly on provided URL.
This is interesting but refreshing the page will fix the issue.
The reason why this is happening is the line in `<head>` section:
[code]
I mean `media="not-matching"` - the "not-matching" value prevents from loading th

[2018-12-17 12:14] robmurtagh commented on #19821
@zhouyx  - Ok, so it seems that for some reason AMP viewability does not feed into the Google 'Display & Video 360'/'Campaign Manager' viewability Javascript wrapper.

I guess this is a bug between DV360/CM Javascript and the amp-ad component. Do you think this can be fixed?

@jasti - No the viewability has not bounced back up, it's still lower than it was previously.

[2018-12-17 13:48] sebastianbenz opened #19914 "[amp-selector] keyboard focuses hidden options"
Steps to reproduce:

1. goto:https://ampbyexample.com/advanced/combobox/preview/
2. enter `g` in the search field
3. press 2x tab to focus the suggest list
4. use key down to navigate through the suggestions

Actual behaviour: the keyboard will focus hidden elements while cycling through the items
Expected behaviour: hidden elements will be ignored

//cc @aghassemi @cvializ

[2018-12-17 14:27] liorpr opened #19916 "Intent to implement: AMP Spot.IM Community Platform"
## What's the issue?

We would like to create an amp-spotim-community-platform component for our customers to use in their AMP websites. The component will call our internal systems to fetch all the engagement items, and will display an ad.

## Example Usage

[code]
* Spot-id is our internal customer id.
* Should be delivered by Spot.IM and not directly installed.

![screen shot 2018-12-17 at 11 4

[2018-12-17 15:55] cvializ commented on #19914
Oof, I can reproduce. We'll fix this one soon

[2018-12-17 16:05] jeffkaufman commented on #19466
@ndahmani Thanks for the follow-up!

When I visit https://kurier---at---doh-342-safeframe-4-k32e7yy-rltdq4mpxfdic.eu.platform.sh/amp/kultur/wanda-live-in-der-arena-himmlisches-ueberraschungskonzert/400351735?google_preview=yWBpxYCfNcEYgNDI4AUwgOz95wWIAYCAgKDb--D_pQE&iu=39025507&gdfp_req=1&lineItemId=4733082881&creativeId=138252023189 on mobile I don't see any `$sf` warning on the console.  Does th

[2018-12-17 16:06] DamonHD commented on #19132
Any idea how long this might take to resolve?  I can't seriously deploy AMP without being able to validate generated pages during build as I do for desktop and (plain HTML5) mobile.

Rgds

Damon

[2018-12-17 16:17] ndahmani commented on #19466
I apologize, I forgot to mention, the warning screened above got after manually access $sf into the console.
For testing purpose, I usually access $sf this way. I only have to be under the safeframe scope.

However, our ad script uses the same property to test the safeframe context.
If I'm correct, this command should not fire any warning.

Thanks a lot for checking!

[2018-12-17 16:40] oliverfernandez opened #19919 "useBody attribute in AMP-ANALYTICS not working"
## What's the issue?

I'm trying to use the new feature `useBody` from `AMP-ANALYTICS` to send data in the body of a `POST` request. However, I'm unable to make it work, as AMP keeps adding the payload as a query string.

## How do we reproduce the issue?

Here's an example of my `AMP-ANALYTICS` configuration

[code]

And this is what I see in the Dev tools

<img width="570" alt="screenshot 2018-1

[2018-12-17 17:05] #9876 closed

[2018-12-17 17:07] #1353 closed

[2018-12-17 17:07] #2224 closed

[2018-12-17 17:07] #4087 closed

[2018-12-17 17:11] jeffkaufman commented on #19466
Looking on your test page, I don't see `ext.js` getting loaded, which does look wrong.

[2018-12-17 17:13] jpettitt commented on #19916
Looks like this has ads it it so I'm assigning to @jasti

[2018-12-17 17:16] cramforce commented on #13369
Surprised this was never fixed. Let's get it in.

[2018-12-17 17:37] ndahmani commented on #19466
Thanks for raising this up @jeffkaufman
I don't understand why sometimes ext.js is loaded and sometimes not
I don't think the publisher is responsible for loading this library since he only set a DoubleClick amp-ad element.

However, even with ext.js loaded $sf still not defined under the safeframe scope.
<img width="864" alt="capture d ecran 2018-12-17 a 18 33 36" src="https://user-images.githubu

[2018-12-17 18:19] cvializ commented on #19914
@sebastianbenz I propose a modification of the example: there are many many ways to hide an element, but the `hidden` attribute is a standard ways that AMP and other HTML frameworks can hide elements. Can the example use the `hidden` attribute instead of a `.hidden` class? Then the `amp-selector` extension can skip options with the `hidden` attribute when interacting with the keyboard. That strate

[2018-12-17 18:32] aghassemi commented on #19876
@sparhami LGTM! could you also add a regex for catching `body.append` usages in presubmit?

[2018-12-17 18:33] sebastianbenz commented on #19914
That makes sense. I'm rewriting the sample right now anyway.

[2018-12-17 18:41] jpettitt commented on #19912
Maybe a cache / timing issue with the webkit engine.  On desktop Safari it fails on the initial (cold cache) page load but works on a reload.

[2018-12-17 18:50] jpettitt commented on #19911
The country code is burned into the `amp-geo` js file when it is served based on the geographic origin of the request.  It has a 30 minute cache `max-age`. If you are testing by jumping from country to country using a VPN and it's not working there are two likely issues.

1. You didn't clear the cache between tests.
2. The VPN endpoint is not recognized but in the country you think it's in.

[2018-12-17 19:01] samparnell commented on #19892
@Gregable I'm not sure that explains why the standard amp cache version (/c/s/) works but the viewer version (/v/s/) does not. They should either both work or both throw an error right?

I should note that the viewer url I originally posted with the "a=b" param now does work in the amp cache. But if the param is changed to a=c it does not. It seems like the a=b version is now cached and working bu

[2018-12-17 19:02] jasti commented on #19916
@liorpr thanks for the ITI.
I think this makes sense to follow amp-ad/ amp-embed implementation pattern. Does that work?

CC @lannka

[2018-12-17 19:06] calebcordry commented on #19919
Hello @oliverfernandez can you try moving the "transport" configuration so that it is one lever higher? It should be at the same depth as "requests" and "triggers. Let us know if that works. Thanks

[2018-12-17 19:18] uncompiled commented on #19132
I'm not able to re-create this issue on macOS.

If you run the npm CLI in verbose mode, you can see the result of the `linkBins` step and what's actually happening:

[code]

[2018-12-17 19:24] DamonHD commented on #19132
Thanks for that, it thinks that it worked, I think:

% sudo npm install -g --verbose amphtml-validator
Password:
npm info it worked if it ends with ok
npm verb cli [ '/usr/local/lib/node_modules/node/bin/node',
npm verb cli   '/usr/local/bin/npm',
npm verb cli   'install',
npm verb cli   '-g',
npm verb cli   '--verbose',
npm verb cli   'amphtml-validator' ]
npm info using npm@6.1.0
npm info using

[2018-12-17 19:34] choumx commented on #19876
Good sleuthing, thanks for fixing this.

[2018-12-17 19:43] jridgewell commented on #19876
This applies to much more than body tag, although appending to `document.body` (or `document.documentElement`, *ahem* `FixedLayer`) is certainly the worst case scenario. We traverse up the tree (starting from the element in question) to see if there's any `nextSibling`.

The only generic solution I can think of is patching `appendChild`, `insertBefore`, and `replaceChild` to _also_ insert 2 commen

[2018-12-17 19:43] choumx commented on #19567
/to @zhouyx

[2018-12-17 19:43] choumx commented on #19798
/cc @aghassemi

[2018-12-17 19:47] rsimha opened #19924 "Tracking: LGTM.com check is broken"
LGTM.com checks for incoming pull requests at http://github.com/ampproject/amphtml/ have been failing in the recent past.

[Here](https://lgtm.com/projects/g/ampproject/amphtml/logs/rev/pr-2a92eed00c0272ae4932ebdaa03811ed8fdc1cca/lang:javascript/stage:Build%20master%20(3ccbcc0)) is an example. The logs show the following error:

[code]

However, I can see that the commit 3ccbcc061a7dafd691abccdec5

[2018-12-17 19:50] rsimha commented on #19924
/cc a few folks from LGTM: @samlanning, @sjvs, @xiemaisi

[2018-12-17 21:22] sparhami commented on #19876
Technically speaking yes, but practically speaking this shouldn't be too much of a problem. If you have an Element that appends to itself ( or a child container, i.e. not the body), it shouldn't break anything inside, since the only time it would have appended to itself is after it had all the children available.

The only time this would be a problem is if there was some piece of code that append

[2018-12-17 21:22] #19094 closed

[2018-12-17 21:22] #19085 closed

[2018-12-17 21:22] Gregable commented on #19892
The cache itself will fetch anything you ask it to, it just won't serve invalid documents.

Google search results shouldn't include invalid pages.

Note that all of these have a timing element to them, moreso since results can be cached. Perhaps at one point in the past, a request succeeded, and that was cached. The cache won't remove a valid document to make room for an invalid one, for example.