[2021-07-08 16:12] #33990 closed

[2021-07-08 16:57] kristoferbaxter commented on #35155
Approved.

[2021-07-08 18:08] pradeep910 commented on #18123
@claudiulodro Yes for both.

I think there are 2 types of ads:
1. **Sticky sidebar ads** - uses `position:sticky` and sticks to top only when it appears in viewport and if user scrolls further to the bottom. Here the sticky sidebar ad is part of the 2 or 3 column layout.
2. **Gutter ads** - uses `position:fixed` and sticks to both sides of content box. (see the example screenshot below.)

I think

[2021-07-09 11:25] panlee821 commented on #32455
Hi @dmanek, I would like to ask if this error will affect any other feature like `variable substitutions` (`READER_ID`)
Inside viewer, I have noticed the READER_ID rendered is empty on the next page's amp-access auth endpoint
It is working fine outside viewer.
just checking if it is related or it should be another issue, thanks

[2021-07-09 12:16] #11992 closed

[2021-07-09 12:36] pradeep910 commented on #18123
Here is the graphic representation of the different sticky ads I was referring to.

| Ad type  | Ad positions  |
|---|---|
|  Desktop: sticky gutter ads + sticky footer ad |  ![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/1139853/125077096-53e7e500-e0de-11eb-84da-e73fbe991eb6.gif) |
|  Desktop: only sticky gutter ads | ![ezgif com-gif-maker (1)](https://user-images.githubuser

[2021-07-09 13:03] processprocess opened #35162 "🚄 Release tracking issue for release 2107030008001"
### Release Version

2107030008001

### Previous Release Version

2106260436000

### Release Progress

This issue tracks release [2107030008001](https://github.com/ampproject/amphtml/releases/tag/2107030008001). See [new commits](https://github.com/ampproject/amphtml/compare/2106260436000...2107030008001) since the previous Stable channel release.

- [x] Release 2107030008001 promoted to Experimen

[2021-07-09 17:29] #35111 closed

[2021-07-09 17:48] adamsilverstein commented on #18123
@pradeep910 These graphics are super helpful for understanding the units, thank you. This is a good starting point for getting feedback on adding support for these types of units to AMP.

In all these cases the ad is fixed (inside a container with `position: fixed`). The sticky sidebar ads I was referring to look a little different - they scroll into view in the sidebar as the user scrolls down th

[2021-07-09 18:41] processprocess opened #35169 "[Story interactive] Slider component backend integration"
### Description

The slider component will requires some custom configuration for backend integration.

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-09 18:57] mszylkowski commented on #34992
I'd like to discuss improvements for improving LCP on Story documents (link upcoming)

[2021-07-10 00:51] #24657 closed

[2021-07-10 04:46] #11008 closed

[2021-07-10 04:46] #10780 closed

[2021-07-10 04:46] #9216 closed

[2021-07-10 04:46] #21256 closed

[2021-07-10 04:46] #20738 closed

[2021-07-10 04:46] #20880 closed

[2021-07-10 04:46] #22005 closed

[2021-07-10 04:46] #20966 closed

[2021-07-10 04:46] #22943 closed

[2021-07-10 04:46] #23036 closed

[2021-07-10 04:46] #22345 closed

[2021-07-10 04:46] #21595 closed

[2021-07-10 17:09] kristoferbaxter commented on #18123
@lannka or @powerivq can you take a look?

[2021-07-10 18:42] heydarkatz commented on #34795
@zikas @gmajoulet @micajuine-ho could you please help us understand the source of the issue and if it is on GA side, how can we trace and fix the issue?

Thank you!

[2021-07-10 18:51] #26293 closed

[2021-07-11 04:26] #26044 closed

[2021-07-11 04:38] hollowaykeanho opened #35177 "Enable `capture` attribute for `<input type="file">`"
### Description

As `amp-form` is using the conventional `<form>` syntax, `<input type="file"`> with `capture` attribute designate the use of capturing devices (See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#capture) which is a sub-function on its own.

There is no reason why it is prohibited since it is part of the input and not altering the form attributes like `formme

[2021-07-11 11:14] aleballe commented on #24621
@kristoferbaxter could you give a timeline for when you will give the timeline?

[2021-07-12 14:25] #35155 closed

[2021-07-12 14:28] samouri commented on #35118
@AntoninaEvdokimenkova, thank you for the bug report!
I was just able to reproduce this, I'll investigate

[2021-07-12 15:46] mszylkowski opened #35182 "[Story interactive] Add % on the bubble number"
We want to show the % after the number on the bubble, as per the mocks

[2021-07-12 15:48] mszylkowski opened #35183 "[Story interactive] Use contrast color logic for the ABCD on image quizzes"
When the accent color is light we should use black text color. When the accent color is dark, we should use the white text color. Can reference the getTextColorFromRGB method

[2021-07-12 15:52] mszylkowski opened #35184 "[Story interactive] Create post-selection animations for image quizzes and polls"
Create the transition from pre-select to post-select tap

[2021-07-12 16:03] powerivq commented on #18123
We left open the possibility to do this when designing the new `<amp-ad sticky>` sticky ads. It looks feasible. Questions are:
1. How do we ensure the gutter ads do no encroach on the content space? Is it up to publisher to place an appropriate media query to block them for mobile pages?
2. It looks like a change on the size and numerical limit must be made. How large are we comfortable to let the

[2021-07-12 16:09] kristoferbaxter commented on #35147
What's the fundamental difference between this implementation and using `loading=lazy` on a traditional `iframe`?

[2021-07-12 16:26] gmajoulet opened #35185 "[Story] Support amp-render within a story page AND attachment"
### Description

`amp-render` can be used to fetch data from a remote endpoint and use it to render a template.
https://amp.dev/documentation/components/amp-render/
Stories already support `amp-list` that does pretty much the same thing, so supporting `amp-render` should be fine.

cc @ampproject/wg-stories

### Alternatives Considered

People can use `amp-list` in the meantime.

### Additional Con

[2021-07-12 16:50] pradeep910 commented on #18123
To ensure the gutter ads do not overlap on content we can add media query
so the gutter ads display only on desktop. Also, to some extent it would be
on site owners or publishers to make sure they don't put it on full screen
content pages or box content with very little margin.

As long as the content atleast has 200px available on both sides we would
be good to go with 125x600 and 160x600 sizes.

[2021-07-12 16:58] dmanek commented on #35147
@kristoferbaxter There are a few differences in the way AMP treats iframes vs traditional iframes with `loading=lazy`:
1. AMP enforces iframes outside of the top 75% or 600px whichever is smaller. It enforces a placeholder when this condition is not met. With traditional iframes, we cannot guarantee that.
2. `loading=lazy` is only supported in Chromium based browsers as of now (https://caniuse.com

[2021-07-12 17:10] kristoferbaxter commented on #35147
Is this enforcement via client-side JS? If so, could it be reasonably implemented on top of a native `iframe` element and avoid the custom element creation?

I had forgotten about this browser support issue, and this may reasonably be a reason to use a custom implementation from within a Viewer environment. Is there a path to making the native implementation valid, and ensuring it doesn't break wh

[2021-07-12 17:41] mszylkowski opened #35188 "[Story interactive] Change size of bubble depending on position of slider thumb"
When sliding the bubble, we'll need to increase or decrease the size of the bubble as it moves left to right. Will have to work with RTL documents.

Ideally, the bubble should originally have the largest scale (so the scaling is not pixelated) and the bubble scales down to fractional numbers.

Check `transform-origin`

[2021-07-12 18:30] Brandons42 opened #35190 "[Story Interactive] Center Prompt for Image Quizzes and Image Polls by Default"
The default prompt alignment for image quizzes and image polls currently matches the alignment for text quizzes and polls (left-align) but should be changed to center-align

[2021-07-12 18:37] Brandons42 opened #35191 "[Story interactive] Resize Image Quizzes and Image Polls"
The outer container for image quizzes and image polls should be expanded, and all inner components must be resized accordingly

[2021-07-12 18:51] #35065 closed

[2021-07-12 19:24] #34972 closed

[2021-07-12 20:04] gmajoulet commented on #34795
We're working with GA internally to try to understand what is happening.

[2021-07-12 22:58] maudnals commented on #35067
Closing the loop on `attributionsourceid` vs `attributionsourceeventid`: the difference is intentional, please see [this discussion](https://github.com/WICG/conversion-measurement-api/issues/173) for details

[2021-07-13 03:34] panlee821 commented on #32455
@dmanek, just double checking the example you posted ("cnet electric eels"), the `CLIENT_ID` (`&vid=CLIENT_ID(AMP_ECID_GOOGLE,,_ga)`) is also empty in the next article, I think there is a problem on the AMP viewer, just not sure if it is related to this issue

[2021-07-13 04:38] AntoninaEvdokimenkova commented on #35118
@samouri could you tell when you are planning to release the fix? It's important for us as this issue is client facing. Thanks!

[2021-07-13 11:48] uc-rdalmas opened #35197 "[amp-consent]: Orientation changes makes banner half-cut on fullscreen"
### Description

When orientation changes on an AMP page with amp-consent component, the CMP banner gets half-cut on fullscreen.

### Reproduction Steps

1) access https://www.google.com/amp/s/www.cio.com/article/3091071/8-things-you-need-to-know-about-google-amp.amp.html
2) once banner appears, click on 'Settings'
3) Change device orientation to landscape
4) See the banner is half cut

### Releva

[2021-07-13 11:58] #26312 closed

[2021-07-13 15:09] rsimha commented on #34453
+1, approve.

[2021-07-13 15:40] cramforce commented on #34453
Approved ✅ 🎉

[2021-07-13 15:43] alanorozco commented on #30954
This is not intentional, could you please share a URL that contains this character? Might be part of Storybook's Webpack output.

The "test framework" definition is rather loose here. We build it into `cdn.ampproject.org` because it uses the same build system as the rest of the binaries. It's a matter of convenience more than a strict requirement. We could put it elsewhere.

Not caches that use th

[2021-07-13 15:45] fredsh2k opened #35200 "the process of accepting a PR by an analytics vendor"
### Description

We are an analytics vendor and would like to add ourselves as vendor to amp-analytics component.
We looked into this guide https://amp.dev/documentation/guides-and-tutorials/contribute/integrate-your-analytics-tools/
The process to add ourselves as an analytics vendor is to open an Intent-to-implement issue and a PR with the analytics.json config. We have some questions regarding

[2021-07-13 15:52] rsimha commented on #35074
Closing out this tracker because 2106260436000 didn't need to be promoted to stable due to the release freeze.

/cc @processprocess

[2021-07-13 15:52] #35074 closed

[2021-07-13 15:58] pradeep910 commented on #18123
https://github.com/ampproject/amphtml/blob/main/src/ad-helper.js#L30

We experimented further on this and currently we can see it working with `<amp-sticky-ad>` component.

If you look at this, only these 4 components or containers are allowed to use sticky or fixed positions.
https://github.com/ampproject/amphtml/blob/a0ba91919772989e226ad40bb5b12047c920f613/src/ad-helper.js#L27-L32

There are tw

[2021-07-13 17:01] danielrozenberg commented on #30954
[code]

[2021-07-13 17:15] powerivq commented on #18123
@pradeep910 We are not inclined to allow customization by arbitrary CSS rules. We currently have `<amp-ad sticky=bottom xxx>` and `sticky=top` components. The way I think we will do is to extend it to allow `sticky=left` and `sticky=right`.

[2021-07-13 17:31] rsimha commented on #35162
Closing now that https://github.com/ampproject/amphtml/releases/tag/2107030008001 has been promoted to stable.

[2021-07-13 17:31] #35162 closed

[2021-07-13 18:19] #34871 closed

[2021-07-13 18:24] rsimha opened #35202 "🚄 Tracking issue for release 2107092322000"
### Release Version

2107092322000

### Previous Release Version

2107030008001

### Release Progress

This issue tracks release [2107092322000](https://github.com/ampproject/amphtml/releases/tag/2107092322000). See [new commits](https://github.com/ampproject/amphtml/compare/2107030008001...2107092322000) since the previous Stable channel release.

- [x] Release 2107092322000 promoted to Experimen

[2021-07-13 18:31] davidstrauss commented on #34453
I don't know if you need any more +1s, but here's mine!

[2021-07-13 21:17] dmanek commented on #35200
@alanorozco can you please answer the questions above?

[2021-07-13 21:23] weirdian2k3 opened #35207 "wunderkind extension for amp-auto-ads"
### Summary

Provides support for <amp-auto-ads type="wunderkind" />

Wunderkind provides configurable ads for our clients using an auction system

### Design Document

_No response_

### Motivation

AMP is a large portion of our clients' traffic and they have been requesting that we support AMP

### Alternative Solutions

We didn't consider any other options to bring our ads to AMP. Our ads can b

[2021-07-13 21:37] #35190 closed

[2021-07-13 22:42] Gregable commented on #35067
We don't need it to be `https` if it's initiated on user action, `a href` isn't limited to `https` either.

Are relative URLs legit for these URLs? If not, then I think it's a validator-only change with no verification of the attr value. Otherwise, we also need to ensure that the cache also rewrites.

[2021-07-13 22:43] honeybadgerdontcare commented on #21723
Is anyone still interested in this being done?

[2021-07-13 23:29] honeybadgerdontcare commented on #35177
@ampproject/wg-amp4email should this be added for the AMP Email format?

@ampproject/wg-monetization should this be added for the AMP Ad format?

[2021-07-13 23:56] zhangsu commented on #35177
No. `<input type=file>` is banned in AMP for Email for security and privacy reasons.

[2021-07-13 23:58] powerivq commented on #35177
Ads does not use form, so it won't be very useful for ads.

[2021-07-14 00:04] honeybadgerdontcare commented on #35177
Ah, thank you both. I was indeed looking at the wrong tagspec and missed the disallowed value regex.

[2021-07-14 12:53] sudeposutemizligi opened #35217 "Page experience issue with cached amp"
hi, i'cam using the officail amp wordpress plugin in reader mode (no amp compatible theme) and using a native amp theme astra theme.
the new amp experience tool gives the following error.  for the page : https://www.depotem.com/41-kocaeli-su-deposu-temizligi.html?amp
Your cached AMP page needs improvement(s).
Your AMP page from origin has a good page experience, but the cached AMP page needs work.

[2021-07-14 13:18] #35184 closed

[2021-07-14 14:06] fredsh2k opened #35218 "add AppsFlyer as amp-analytics vendor"
### Summary

We would like to propose an analytics solution for our customers which supports AMP pages.
We would like to be added to the analytics vendors list.

### Design Document

_No response_

### Motivation

Currently, our customers can't add AppsFlyer's Web-SDK to their AMP pages, so they lose important data about their users.

### Alternative Solutions

N/A

### Launch Tracker

_No respons

[2021-07-14 14:07] mszylkowski opened #35219 "[Story] Improvements to LCP"
### Summary

We want to improve the [Largest Contentful Paint](https://web.dev/lcp/) metric in web stories by analyzing shortcomings in the way the LCP is calculated, as applied to the format. The LCP metric is defined as the time the largest element (text, image or video) painted on the screen (before interaction) takes to render, excluding background images/videos.

Given how stories differ from

[2021-07-14 14:07] kristoferbaxter commented on #34453
Fantastic, this is enough approvers and after enough time to make a public announcement and start work.

I'll kick this off today.

[2021-07-14 15:36] Elimystery opened #35223 "Share Button amp-story-player dispatch event click"
### Description

I am trying to listen to a share button with a custom event, however, there's no click event associated with it.

<img width="342" alt="Screen Shot 2021-07-14 at 10 25 23 AM" src="https://user-images.githubusercontent.com/9091863/125648650-cf2e9482-8784-49c3-9e53-f0a224f9e141.png">

### Reproduction Steps

1. Click on the share button
2. Try to use the an Custom Event like , navig

[2021-07-14 16:02] alanorozco commented on #35200
You only need to file the PR. A bot will assign a reviewer for you.

We don't have an initial verification process since we assume good faith.

If you'd like to limit collaborations to known people in your company, we can add an OWNERS file that limits changes. Of course, if the people in the OWNERS file leave the company they have to approve a change to point to a new contact.

We don't have an S

[2021-07-14 16:27] #35177 closed

[2021-07-14 16:42] github-actions[bot] opened #35225 "Design Review 2021-08-04 20:00 UTC (Americas)"
Time: [20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=08&day=04&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210804T200000Z/20210804T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-07-14 19:11] ajohnclark commented on #24621
If you need any GA4 testers with an AMP-only website happy to offer assistance. Great work and thank you for this fantastic framework.

[2021-07-14 19:13] samouri commented on #34096
Can we switch the [check-types](https://github.com/ampproject/amphtml/blob/main/build-system/tasks/check-types.js) task to using `tsc` instead of closure? cc @rileyajones

[2021-07-14 19:16] rcebulko commented on #34096
That would/will require re-writing almost all of the current typecheck annotations in `src`

[2021-07-14 19:16] samouri commented on #34096
Why? `tsc` understands JSDoc types, and is currently the thing powering `amp check-build-system` command.

[2021-07-14 19:24] rcebulko commented on #34096
There's enough incongruities to make it non-trivial (I timeboxed a few hours to attempt at one point and progress was slow). Transitioning means updating everything at once, or disabling type-checking again in the interim. Not all JSDoc/CC annotations are handled by TS. CC supports type-narrowing after something like `devAssertString`; TS does not and requires an explicit cast after the assert. Ge

[2021-07-14 19:27] rcebulko commented on #34096
Also, I don't know if you've ever seen what the syntax looks like to try to add global externs or add properties to global symbols like `Window`, `Element`, etc. but it's not great

[2021-07-14 20:24] alanorozco commented on #34992
_Maintainers: Please don't close this issue. `@github-actions` will close it automatically, and swap the pinned issue to the next session. Thanks!_

[2021-07-14 20:58] rsimha opened #35232 "Release 2107092322000 promoted to Experimental and Beta (1% traffic) channels (Wed, Jul 14, 2021, 1:32 PM GMT-4)"

[2021-07-14 20:58] rsimha commented on #35232
Oops, clicked by mistake. Not a real issue.

[2021-07-14 20:58] #35232 closed

[2021-07-14 21:05] #34992 closed

[2021-07-14 21:49] dmanek commented on #35054
@AaronMLB `layout="container"` is now supported. Please give it a shot & re-open this issue in case you run into any issues.

[2021-07-14 21:49] #35054 closed

[2021-07-15 08:30] fredsh2k commented on #35200
thanks @alanorozco

can you please guide me through the process of using an OWNERS file?
should I just send you a list of my team's emails?

specifically, I created this PR
https://github.com/ampproject/amphtml/pull/35220/files#diff-70c35c0ae2da511432de50d08de15dfe562bd3e2683d3c27684ab90018a500fbR6

should I add an OWNERS file to this PR? Where should I put it in the project?

[2021-07-15 11:45] jaygray0919 opened #35238 "amp-google-doc-embed fails to display multiple documents"
### Description

This page is valid: https://afdsi.com/__amp-issues/_google-doc-embed/

It uses `amp-google-doc-embed` to feature PDFs, Google Sheets, and Word (docx) files.

However, only the first instance of `amp-google-doc-embed` works.

All document types work, but only when assigned to the first tab.

Are we doing something wrong, or can only one instance of amp-google-doc-embed be displayed

[2021-07-15 14:25] ampprojectbot opened #35239 "🚨 Error: history trace for push: undefined"
Details
---
**Error report:** [link](http://go/ampe/CNvI4LKrv4uqLw)
**First seen:** Oct 4, 2017
**Frequency:** ~ 6/day

Stacktrace
---
<pre><code>Error: history trace for push: undefined
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2107030008001/src/service/history-impl.js#L253">src/service/history-impl.js:253</a>:22)
    at enque_ (<a href="https://github.com/ampproject/ampht

[2021-07-15 15:01] kristoferbaxter commented on #34453
PR submitted for messaging via console.log/info for impacted use-cases: https://github.com/ampproject/amphtml/pull/35240

[2021-07-15 15:12] AaronMLB commented on #35054
Thanks @dmanek. I've not had a chance to try it out in the form I was originally describing, but I am presently getting this error reported on a much simpler straight replacement that does *not* have such variable height issues:

```[CustomElement] Cannot resize element and overflow is not available``` (reported from log.js line 255)

[code]

[2021-07-15 15:16] kbarneyforbes commented on #34300
Did anything happen with this issue? We were still hoping the mismatched IDs could be fixed.

[2021-07-15 16:13] danielrozenberg opened #35241 "Fix e2e tests that became flaky on CircleCI with the move to Docker containers"
The following tests have become flaky and were disabled with the move from VMs to Docker containers in #35176:

- `amp carousel:0.2 in lightbox chrome  Standalone environment    should open with both arrows` ([broken assertion](https://app.circleci.com/pipelines/github/ampproject/amphtml/12837/workflows/4b0ebc7d-dd65-4842-b3b7-a6e46190245c/jobs/206047/tests#failed-test-0))
- `amp carousel:0.2 in l

[2021-07-15 16:18] dvoytenko commented on #34453
+1

[2021-07-15 16:27] #35131 closed

[2021-07-15 17:52] skibi123 commented on #30385
I tried new features and I have one question:
There is a note in TCF 2.0 docs:

"Note: The addEventListener callback shall be immediately called upon registration with the current TC data, even if the CMP status is loading and the CMP has incomplete TC Data, so that the calling script may have access to its registered listenerId. Furthermore, on every TC String change the callback shall be called

[2021-07-15 19:52] #34949 closed

[2021-07-15 20:39] danielrozenberg commented on #35241
Assigning to @alanorozco who approved disabling the flaky tests - please reassign this to whoever you think should be fixing these :)

[2021-07-15 21:04] rileyajones opened #35247 "I2D: `test-status` checks"
### Summary

After tests run in CI they report a status to our custom `test-status` bot which then shows a message on the PR.
![image](https://user-images.githubusercontent.com/78179109/125856751-5d8ff896-c252-4a6f-ae00-77c299e72e7c.png)

This information is redundant with the information displayed by the CircleCI checks while requiring the maintenance of both the bot and integration with it.
![im

[2021-07-15 21:09] rileyajones opened #35248 "I2D `amp coverage-map`"
### Summary

The task `coverage-map` does not seem to work. This indicates that the command is likely not being used by anyone and should just be removed.

### Motivation

The task `coverage-map` does not seem to work (and thus is not likely used) but its existence requires maintenance.

### Impact on Existing Users

None

### Alternative Implementation

Do nothing

### Additional Context

_No res

[2021-07-15 21:10] kristoferbaxter commented on #35247
Approved!

[2021-07-15 21:10] rsimha commented on #35247
+1, approved 👍

[2021-07-15 21:17] rsimha commented on #35248
This was part of an effort by @ampproject/wg-performance to add coverage heatmaps. Paging @erwinmombay to comment on whether this is being used today. Blame shows that active development stopped a year ago.

Assuming it's not used, I approve deleting this task 👍

[2021-07-15 21:18] samouri commented on #35248
I have never heard of and/or used this task

[2021-07-15 22:40] dmanek commented on #35223
@Enriqe can I assign this issue to you? Will leave it up to you to set the priority.

[2021-07-15 23:43] ampprojectbot opened #35254 "🚨 Error: a.Lb is not a function"
Details
---
**Error report:** [link](http://go/ampe/CKeq0_z3nvezGQ)
**First seen:** Aug 21, 2020
**Frequency:** ~ 1,825/day

Stacktrace
---
<pre><code>Error: a.Lb is not a function
    at transferDomBody_ (<a href="https://github.com/ampproject/amphtml/blob/2107030008001/extensions/amp-a4a/0.1/amp-a4a.js#L1840">extensions/amp-a4a/0.1/amp-a4a.js:1840</a>:13)
    at localListener (<a href="https://g

[2021-07-15 23:43] ampprojectbot opened #35255 "🚨 Error: a.Lb is not a function"
Details
---
**Error report:** [link](http://go/ampe/CKeq0_z3nvezGQ)
**First seen:** Aug 21, 2020
**Frequency:** ~ 1,825/day

Stacktrace
---
<pre><code>Error: a.Lb is not a function
    at transferDomBody_ (<a href="https://github.com/ampproject/amphtml/blob/2107030008001/extensions/amp-a4a/0.1/amp-a4a.js#L1840">extensions/amp-a4a/0.1/amp-a4a.js:1840</a>:13)
    at localListener (<a href="https://g

[2021-07-16 01:12] alanorozco commented on #34990
This was caused by [a regression in iOS 15 regarding CSS Scroll Snap](https://bugs.webkit.org/show_bug.cgi?id=226816).

I can confirm that as of [iOS 15 Beta 3 (19A5297e)](https://developer.apple.com/news/releases/?id=07142021d) the bug is no longer present.

[2021-07-16 01:12] #34990 closed

[2021-07-16 01:25] kristoferbaxter commented on #34990
That's great news! Can we confirm with each beta release manually until iOS 15 is final?

[2021-07-16 06:18] ColombiaOnline opened #35257 "Getting error in existing integration test suite for certain "AMP HTML URL Variable""
### Description

Facing compilation error in existing integration test suite for certain amp variables, which we are trying to add or remove in our defined json, which is as below :-

https://github.com/ampproject/amphtml/blob/main/extensions/amp-analytics/0.1/vendors/colanalytics.json

### Reproduction Steps

Existing amp Integration test suite gives compilation error in below scenarios :--

**Sc

[2021-07-16 07:49] matiullah31 opened #35258 "Google Analytics page variables is not accessible in the GTM tags."
### Description

I have been trying to implement GA via GTM on my google AMP website. but the issue is i can't access page variables in the TAG i.e i want to get Tracking ID, Event Category, Event Action. Event Name and Event Value from page variables.

Can we access it in the TAGs?

### Reproduction Steps

1. Create AMP container
2. Implement GTM on your AMP pages.
3. Create page variables

<amp-

[2021-07-16 12:43] processprocess opened #35259 "[Story interactive] UI option to display of min and max of value"
### Description

An optional attribute such as `display-min-and-max` could be used to display the min and max values of the slider:

<img width="362" alt="Screen Shot 2021-07-16 at 8 40 27 AM" src="https://user-images.githubusercontent.com/3860311/125949113-d98688b7-13ed-4678-b500-5765f4899278.png">

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-16 13:20] processprocess opened #35260 "[Story interactive] prevent education layer display when swiping in slider"
Currently the `education layer` displays when a swipe gesture is detected.
This should not display when the user is interacting with the slider.

![Jul-16-2021 09-16-21](https://user-images.githubusercontent.com/3860311/125954162-f65f2c4c-dc5a-4c42-84e0-295f514763d5.gif)

[2021-07-16 13:25] processprocess opened #35261 "[Story interactive] prevent player navigation when swiping in slider"
### Description

Swiping left or right in the players will navigate to the previous or next story.
This behavior should be suppressed when interacting with the slider.

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-16 14:09] Enriqe commented on #35223
/cc @gmajoulet

[2021-07-16 14:37] LincolnCannon opened #35262 "Google AMP cache error: unknown path prefix in url"
### Description

According to Google Search Console, my website (thrivous.com) has around 170 valid AMP pages. They all load fine and validate when accessed directly by appending #development=1 to the AMP URL.

However, when I attempt to access them in the Google AMP Cache, I get the following error message: "unknown path prefix in url." Then the page redirects to the non-cached AMP page.

I have

[2021-07-16 15:25] samouri opened #35264 "Migrating from Closure for compilation/type-checking --> esbuild/babel/terser for compilation and tsc for type-checking"
# Closure --> esbuild/babel/terser/tsc

This I2I is to spark the discussion on whether we'd like to migrate off of Closure for production builds, as well as move off of its type system. While technically both the compilation and type checking aspects of this I2I could be pursued separately, I don't believe it would make sense to do that. For example, using TS types while compiling with Closure mea

[2021-07-16 15:42] Brandons42 opened #35265 "[Story interactive] Post-selection Fill Doesn't Scale for Image Quizzes and Polls on some Browsers"
### Description

On some browsers, the percentage fill for the post-selection state fills the full height of the image when it should be scaled to the percentage of users who chose that option

<img width="284" alt="Screen Shot 2021-07-16 at 8 36 19 AM" src="https://user-images.githubusercontent.com/20510288/125973304-51e30bef-b4a7-44cb-9fe6-8e00a0f450f8.png">

### Reproduction Steps

Use the comp

[2021-07-16 16:16] #35191 closed

[2021-07-16 16:23] alanorozco commented on #34990
The first Public Beta was available on June 7th, and the 2nd Beta on June 30th. Beta 3 is only available as a Developer Beta currently.

I'll be reporting back on Friday next week, and roughly every two weeks after to attempt to match the release cadence. I'll keep this issue closed unless it regresses again.

[2021-07-16 16:32] #35112 closed

[2021-07-16 17:06] rsimha commented on #35257
I poked around and managed to find the root cause. When `amp integration` is run without any flags, we first compile a fresh copy of the runtime. In order to make sure there are no old artifacts, we invoke `clean()` (part of `amp clean`) as an in-process function call.

This was all good until caching for babel transforms via the file system was added in #33314. It appears that the cache is being

[2021-07-16 17:37] processprocess commented on #35182
Closed by #35167.

[2021-07-16 17:37] #35182 closed

[2021-07-16 17:58] alanorozco commented on #18123
cc @ampproject/wg-components

[2021-07-16 17:58] powerivq commented on #18123
@zewenliang

[2021-07-16 18:18] processprocess opened #35267 "Amp Story Desktop One Panel I2S"
### Summary

We are migrating away from the 3 panel desktop UI to a more simplified UI that focuses on the page being viewed. This change enables us to deliver a consistent user experience across phones, tablets and desktops and enables rich effects (like page transitions) to work well on desktops. We've also added an effect to enliven the space around the Story page on desktops.

https://user-ima

[2021-07-16 19:02] processprocess opened #35268 "`amp-story-desktop-one-panel` `player` swipe-ability desktop UX"
### Description

UX guidance regarding desktop click and drag navigation.

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-16 19:26] processprocess opened #35269 "`amp-story-desktop-one-panel` `background-blur` activate blur when sizing up window"
When window is sized up blur does not activate.

https://user-images.githubusercontent.com/3860311/125998900-095e3e33-fd2d-4f9d-a65f-4dc25c4ac018.mp4

[2021-07-16 19:28] processprocess opened #35270 "`amp-story-desktop-one-panel` `background-blur` blur sometimes empty from video when re-playing story"
Blur sometimes renders an empty frame when blurring from a video on re-playing a story.
![Jul-16-2021 15-27-31](https://user-images.githubusercontent.com/3860311/125999165-ffe2211d-b841-44ea-97dc-bbfb635684c0.gif)

Could be fixed as part of the work in #35282

[2021-07-16 20:26] rsimha commented on #35264
Thanks for kicking off this discussion. Would love to see this brought to design review. Here are some preliminary questions:

**On type-checking:**
- Are there any classes of type errors that can be caught with closure (see [here](https://github.com/google/closure-compiler/wiki/Warnings#warnings-categories)) but not with TS?
- And conversely, are there any that can be caught with TS but not with

[2021-07-16 20:41] rsimha commented on #35202
End of a quiet week. Co-assigning to Esther who is next week's on-duty for stable promotion + close out. 👍

[2021-07-17 01:50] #35257 closed

[2021-07-17 21:23] #26051 closed

[2021-07-17 21:24] jaygray0919 commented on #35238
@rebeccanthomas If you use google chrome developer tools to check status, the active tab will open the target document.
However, as you see, only the first tab opens in normal mode.
That behavior suggests to me that the issue is not severe.
Can this problem be resolved in the short term?
We have an iframe solution but would prefer to use a lighter-weight approach as illustrated in the example.
/ja

[2021-07-18 05:49] #26397 closed

[2021-07-18 11:44] omerr132 commented on #34934
Any update on the status of this issue?

[2021-07-18 13:35] user631 opened #35275 "AMP Adsense Code Height value (and allowed Modifications)"
Observing a strange issue in Adsense Ad setup.

When generating AMP Ads (non-auto ones) :

AMP Ads -> "Create New Ad" -> "Ad Unit" - >"Display Ads" and keeping the option as "Responsive", there are three choices available - SQUARE, HORIZONTAL and VERTICAL.
The Square option shows a square ad sample with height 300, Horizontal option shows sample ad with height 90, and vertical one shows sample ad

[2021-07-19 05:20] J-uliane commented on #27545
Hey @micajuine-ho ,

Looking at integrating with Hotjar too. Has there been any progress on your last message from Dec 11, 2020?

Thanks

[2021-07-19 05:23] trby commented on #22543
Hi there! Does the 2.1.3 version fix this problem? Is it safe to uninstall the mini plugin (Disable amp-onerror Handler)? Thanks for your help.

[2021-07-19 06:56] westonruter commented on #22543
@trby The fix was made to the validator, so the mini plugin is no longer needed.

[2021-07-19 09:49] swissspidy opened #35277 "amp-video elements not loading with v1.0"
### Description

When using `<amp-video>` elements and loading v1.0 of the `amp-video` extension, the elements don't fully load and are thus not visible on the page.

They'll have `i-amphtml-notbuilt amp-notbuilt` class names too.

Is v1.0 not ready yet and should not be used?

### Reproduction Steps

1. Open AMP playground
2. Add `<amp-video>` element
[code]
3. Change script src to `https://cdn.a

[2021-07-19 14:20] #31799 closed

[2021-07-19 14:21] M-J-Robbins opened #35280 "amp-selector: loses VoiceOver support when multiple attribute is added"
### Description

When testing Chrome Version 91.0.4472.164 using an amp-select element with the `multiple` attributes added.

When selecting elements, I am only able to select one option and unable to navigate to the other options.
Once a selection has been made and I navigate out of the listbox I can no longer focus on it, the screen reader will just jump between the element before it and the ele

[2021-07-19 15:09] processprocess opened #35282 "`amp-story-desktop-one-panel` `background-blur` blur video frames"
### Description

Frames of video could blur while playing.
[Demo](https://philipbell-video-blur.web.app/examples/amp-story/homewarrior/index.html)
[draft PR](https://github.com/ampproject/amphtml/pull/35281)

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-19 15:22] processprocess opened #35283 "`amp-story-desktop-one-panel` small white lines on the side of panels when at certain screen sizes"
### Description

Small white lines are visible on the side of the story panel when at certain screen sizes.
This is most visible when scaling a window.
Most often this happens on the right and bottom edges.
<img width="598" alt="Screen Shot 2021-07-19 at 11 21 58 AM" src="https://user-images.githubusercontent.com/3860311/126184861-ba4be053-851f-4562-b13d-fc744fdc6532.png">

### Reproduction Steps

[2021-07-19 15:59] samouri commented on #34383
I tested locally, and the linked PR only partially fixed the issue.

The LCP value sent to analytics is actually our custom `LARGEST_CONTENTFUL_PAINT_VISIBLE`. I don't have great context for why we do that, but I assume it is to account for prerendering viewer behavior.

An issue is that even for origin page visits without a viewer, the "since visible" will still reduce the LCP value by a signific

[2021-07-19 16:12] processprocess opened #35285 "`amp-story-desktop-one-panel` Max height of story"
### Description

Story panels should be 2 / 1 ratio max.
Blur should be applied in letterboxed space.

### Alternatives Considered

-

### Additional Context

_No response_

[2021-07-19 16:30] Brandons42 opened #35287 "[Story interactive] White Flash on Selection for Dark Theme Image Quizzes"
### Description

On some browsers, there is a flash of white around the answer choice bubble (with a checkmark or cross) of the selected option when using a dark theme image quiz

https://user-images.githubusercontent.com/20510288/126342623-35d6bcac-9d30-47ee-ad55-9fc039ea791d.mp4

For the above video, notice the white border flash around the option B answer choice bubble on the first page and the

[2021-07-19 16:35] danielrozenberg opened #35288 "Do not allow test files to import files that have their own test cases"
When parallelizing test runs based on file names, some test cases execute in multiple shards because they get imported by other files. This issue tracks the effort to disallow the import of test cases from other test cases (example of such a situation in the first mention of this issue)

[2021-07-19 16:40] mszylkowski opened #35290 "[Story interactive] Show average bubble on slider post-selection"
The component should show a bubble with the text "Average answer" that is positioned where the weighted average of the backend answers is

[2021-07-19 16:49] #35110 closed

[2021-07-19 17:27] westonruter commented on #35277
The 1.0 version is Bento and still requires the Bento experiment to be enabled. The `latestVersion` is still `0.1` so it should be used instead. See https://github.com/ampproject/amphtml/blob/31db64d03ff34e2ec4fc640f177ab13fe62c638e/build-system/compile/bundles.config.extensions.json#L1157-L1170

[2021-07-19 17:40] swissspidy commented on #35277
Looks like I can close this then! Thanks!

[2021-07-19 17:40] #35277 closed

[2021-07-19 17:55] #35183 closed

[2021-07-19 18:04] samouri commented on #28698
@erwinmombay: can this be reenabled now?

[2021-07-19 18:16] gmajoulet commented on #35223
Can you try to replace the `navigation` event you're listening to with the correct one you configured?
Cf our documentation: https://github.com/ampproject/amphtml/blob/main/docs/spec/amp-story-player.md#customizing-position--visibility-of-story-ui-controls

[2021-07-19 18:17] samouri commented on #17389
@jridgewell: can we close?

[2021-07-19 18:17] samouri commented on #14216
@jridgewell: can we close?

[2021-07-19 18:40] alanorozco commented on #34934
@omerr132 I can't open the `convert.ampify.io` link from the viewer, since it's not cached.

When I open your previous link, it's stuck on a redirect loop.

[2021-07-19 18:49] #14216 closed

[2021-07-19 18:49] #17389 closed

[2021-07-19 18:49] #18955 closed

[2021-07-19 18:51] samouri commented on #10058
Am I correct in thinking this only applies to elements created programmatically as opposed to those created via HTML markup? How large of an issue is this?

I'm going to lower priority to P3, as it is definitely not P1.

cc @jridgewell

[2021-07-19 18:59] samouri commented on #26544
@kristoferbaxter  / @Gregable: can you speak more to what made this infeasible?

[2021-07-19 19:07] samouri commented on #30451
@erwinmombay: did we ever add a test for this?

[2021-07-19 19:07] samouri commented on #31364
@jridgewell: can this be closed now?

[2021-07-19 19:10] #31364 closed

[2021-07-19 19:15] samouri commented on #27195
@sebastianbenz: what is the AI for this issue? Is it to update documentation? The validator? Runtime behavior?

[2021-07-19 19:16] erwinmombay commented on #30451
@samouri only the integration part, the e2e part has to be done individually. i think i've only ported 2 cases.
ill add in a check list so that this task will be more manageable. thank you

[2021-07-19 19:32] jpettitt commented on #20747
@hendrul there are hundreds of subtypes of `CreativeWork` and it would be impractical to add them all.   We suggest using `["NewsArticle", "subtypeofNewsAricle"]` as this will work without us having to add a lot of boilerplate to the js file.

[2021-07-19 19:50] zhangsu opened #35297 "amp-autocomplete documentation for email contains code samples not allowed in emails"
### Description

https://amp.dev/documentation/components/amp-autocomplete/?format=email#items has many examples that use
- the inline script tag syntax, which is banned in email
- the `filter` attribute, which is banned in email

/to @caroqliu

### Reproduction Steps

Goto https://amp.dev/documentation/components/amp-autocomplete/?format=email#items and search for

- `<script`
- `filter`

### Rel

[2021-07-19 20:18] westonruter commented on #22543
Nevertheless, AMP plugin v2.1.3 also adds support for amp-onerror on transformed pages (with ESM scripts). So be sure to update to that version as well.

[2021-07-19 20:31] #34947 closed

[2021-07-19 20:32] #35265 closed

[2021-07-19 20:39] #35269 closed

[2021-07-19 21:26] Gregable commented on #26544
The condition "if the document templates can be purified during validation" is infeasible.

[2021-07-19 22:49] jduran7 opened #35299 "amp story player: lazy loading iframes"
### Description

amp-story-player is currently loading all iframes in an eager way. After the first amp-story-player element is intersected, all the following players and their iframes are loaded at once.

There could be performance benefits by using Chromium-based browsers' [native support](https://addyosmani.com/blog/native-iframe-lazy-loading/) for lazy loading iframes. The `loading="lazy"` att

[2021-07-20 03:53] mpmenne opened #35300 "amp-fit-text customize justify-content"
### Description

Hey Everyone,

I want to be able to set `justify-content` on the `amp-fit-text` element.  In my case, I would like `justify-content: flex-start`.  (Of course this would get overridden if there is overflowing text and that is OKAY).

In PR #32588 [amp-fit-text:1.0 Vertical center non-overflowing text](https://github.com/ampproject/amphtml/pull/32558) the `amp-fit-text` component wa

[2021-07-20 09:00] sebastianbenz commented on #27195
This is to update the documentation. We need to [filter](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/formatting/?format=websites#filtering-sections) actions/events listed [here](https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/) by supported formats.

[2021-07-20 13:00] #26105 closed

[2021-07-20 15:28] #34626 closed

[2021-07-20 17:09] estherkim opened #35308 "🚄 Tracking issue for release 2107170150000"
### Release Version

2107170150000

### Previous Release Version

2107092322000

### Release Progress

This issue tracks release [2107170150000](https://github.com/ampproject/amphtml/releases/tag/2107170150000). See [new commits](https://github.com/ampproject/amphtml/compare/2107092322000...2107170150000) since the previous Stable channel release.

- [x] Release 2107170150000 promoted to Experimen

[2021-07-20 17:57] cisant commented on #13103
It works without the src on Youtube embed.

`<amp-iframe
            frameborder="0"
            sandbox="allow-scripts allow-same-origin"
            layout="fixed"
            height=300
            width=300
            src="https://foo.com/iframe"

            <amp-img layout="fill" placeholder />
          </amp-iframe>`

[2021-07-20 18:01] danielrozenberg opened #35315 "Fix flaky test `3p > loadScript > should handle onSuccess callback`"
Disabled in #35314. See: https://app.circleci.com/pipelines/github/ampproject/amphtml/13248/workflows/8e8ebe83-d950-45c1-b2df-bc91c76be6da/jobs/212866

[2021-07-20 18:21] alanorozco commented on #35200
@fredsh2k They should be github usernames.

Add `extensions/vendors/OWNERS` with following contents. Keep `ampproject/wg-components` in any case, and add any other entries with `name`.

[code]

[2021-07-20 18:21] #35200 closed

[2021-07-20 18:27] samouri commented on #34383
cc @alanorozco

[2021-07-20 19:02] vinayakkulkarni commented on #34453
First vue, then Svelte.. Now everyone is deprecating IE!

Good days ahead for web devs

[2021-07-20 19:26] #35207 closed

[2021-07-20 19:28] #34192 closed

[2021-07-20 19:30] calebcordry commented on #34192
@WagneRaz18 : @jshamble has added this functionality. You can start testing in tomorrow's nightly if you like. It should hit prod in ~2 weeks. Please let us know if you have any issues.

[2021-07-20 22:19] Gregable commented on #35067
@kristoferbaxter for the above questions.

[2021-07-20 23:38] LincolnCannon commented on #35262
Any ideas? Recommendations? Questions?

[2021-07-20 23:41] calebcordry opened #35325 "🐛installExtensionForDoc not working in local dev server"
### Description

Elements installed using `installExtensionForDoc` will have the wrong `src` path in our local dev server causing 404.
![image](https://user-images.githubusercontent.com/16087874/126408323-2e351e25-ea11-4af1-907a-024e83f4e7de.png)

Story ads install the `amp-ad` element using https://github.com/ampproject/amphtml/blob/f0a90fae17c7224f83f40dddb6583aef4e7d96d1/src/service/extensions-

[2021-07-20 23:42] calebcordry commented on #35325
@rcebulko I think you may have been making changes that might affect this? If not could you point me the right direction please?

cc/ @jshamble

[2021-07-21 10:05] manuhook commented on #25019
This issue is still present on Safari iOS, the same behavior is also happening on Chrome iOS.
Can we reopen this ?

[2021-07-21 13:41] #35297 closed

[2021-07-21 14:39] processprocess opened #35331 "[Story interactive] Firefox slider styling"
Add vendor prefix styles for firefox.

Pre state:
<img width="712" alt="Screen Shot 2021-07-21 at 10 37 32 AM" src="https://user-images.githubusercontent.com/3860311/126507535-6e653635-a020-46de-8231-ee010abd08cf.png">

Post state:
<img width="738" alt="Screen Shot 2021-07-21 at 10 37 39 AM" src="https://user-images.githubusercontent.com/3860311/126507618-dd098549-a9c9-4bca-9774-8406ce3e771a.png">

[2021-07-21 14:43] processprocess opened #35332 "[Story interactive] Post state not triggering if releasing at beginning of slider."
Post state not triggering if releasing at beginning of slider.

Check `mouseup` + `touchend` events

[2021-07-21 15:09] rcebulko commented on #35325
@calebcordry when did this start? I did update some `getMode` code, but not in the past couple of weeks. @samouri could this be related to any of your recent work? (I'm not sure what has/hasn't been submitted of the PRs I've reviewed these past two weeks)

[2021-07-21 15:39] calebcordry commented on #35325
I noticed last week but forgot to file the issue. Not sure exactly when, but a couple weeks seems possible.

[2021-07-21 15:53] samouri commented on #35325
@calebcordry: which command are you running? Just a bare `amp`?

[2021-07-21 15:53] calebcordry commented on #35325
yep just `amp`

[2021-07-21 16:07] samouri commented on #35325
Thanks for the help Caleb! This was indeed my fault 🙃 . Fix located here: https://github.com/ampproject/amphtml/pull/35335

[2021-07-21 16:33] Elimystery commented on #35223
I didn't configure it on Controls, I am using the share control that comes with an external  WebStory inside an iframe so I am trying to use any of the events API to catch the onclick event but no one takes this event.

<img width="584" alt="Screen Shot 2021-07-21 at 11 30 19 AM" src="https://user-images.githubusercontent.com/9091863/126525359-12540c06-b552-47e4-8320-6c08425a8d75.png">

if I creat

[2021-07-21 16:42] github-actions[bot] opened #35337 "Design Review 2021-08-12 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=08&day=12&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210812T000000Z/20210812T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-07-21 17:11] caroqliu commented on #32759
`lightbox-thumbnail-id` is mentioned in the component documentation without clear code samples or e2e tests on 0.1. When [attempting to make a basic code sample](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoSBsYW5nPSJlbiI+CjxoZWFkPgo8bWV0YSBjaGFyc2V0PSJ1dGYtOCI+CiAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9Imh0dHBzOi8vYW1wLmRldi9kb2N1bWVudGF0aW9uL2V4YW1wbGVzL2NvbXBvbmVudHMvYW1wLWxp

[2021-07-21 17:15] #35247 closed

[2021-07-21 17:18] #34977 closed

[2021-07-21 17:23] alanorozco commented on #35275
This looks like an issue with a specific generator tool. I'm closing this issue since it's not related to the AMP framework itself.

@calebcordry Is there a way to triage this? Do we have an answer to this question?

[2021-07-21 17:23] #35275 closed

[2021-07-21 17:29] alanorozco commented on #35262
cc @ampproject/wg-caching

[2021-07-21 17:34] alanorozco commented on #35099
@ampproject/wg-monetization

[2021-07-21 17:36] calebcordry commented on #35275
@user631 How are you generating these ads? Is it through the adsense UI?

[2021-07-21 17:41] #26416 closed

[2021-07-21 19:39] samouri commented on #34340
Closing since I created an I2I covering this same topic: https://github.com/ampproject/amphtml/issues/35264

[2021-07-21 19:39] #34340 closed

[2021-07-21 19:58] #35113 closed

[2021-07-21 20:10] #35325 closed

[2021-07-21 20:20] alanorozco commented on #35264
Regarding byte-size, one of the problems with the minified esbuild output is that static methods are not treated as standalone functions like Closure would. As a result, "getter classes" like `Services` are included as a whole:

[code]

Conversely, Closure would inline the used methods as function and thus DCE the rest of the class, like in this caller example (`"platform"`, `"performance"`):

[co

[2021-07-21 21:50] powerivq opened #35344 "getMode().localDev is false when running dev server"
### Description

localDev environment variable is returning false when running `amp`

### Reproduction Steps

1. Run `amp`
2. `getMode(win).localDev` returns false
3. `window.__AMP_MODE` also returns localDev=false
4. amp.js (compiled bundle) correctly reflects localDev=true

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Affected

_No response_

### Device(s)

[2021-07-21 21:54] samouri commented on #35344
Have you rebased since this was merged 2 hours ago? https://github.com/ampproject/amphtml/pull/35335

[2021-07-21 22:20] powerivq opened #35345 "Web interstitial ads"
### Summary

Web interstitial ads has been a really good ads format currently available on non-AMP pages (https://www.pubgalaxy.com/blog/ad-tech/web-interstitial-ads-what-are-they-and-how-to-use-them/). We want to bring this ads format to the AMP world, allowing publishers a greater monetization potential while preserving as much as possible good user experience.

### Design Document

Ad load
- [A

[2021-07-21 22:20] powerivq commented on #35085
I wish to do a quick preview of https://github.com/ampproject/amphtml/issues/35345

[2021-07-21 22:44] powerivq commented on #35345
![Screen Shot 2021-07-21 at 15 43 55](https://user-images.githubusercontent.com/1321403/126569283-57e69f73-57f2-4255-b263-b39e7517f561.jpg)

[2021-07-21 22:46] powerivq commented on #35344
@samouri It worked. Thanks! Closing this issue.

[2021-07-21 22:46] #35344 closed

[2021-07-21 23:35] calebcordry opened #35347 "✨[amp-ad] Support new ad attribution reporting API"
### Description

https://developer.chrome.com/docs/privacy-sandbox/attribution-reporting/

- [ ] Introduce new functionality to amp-ad-exit
- [ ] Support feature rollout monitoring
- [ ] Add origin trial tokens
- [ ] Add feature policy to 3p fallback ad frames

### Alternatives Considered

n/a

### Additional Context

_No response_

[2021-07-22 00:58] powerivq commented on #35345
Questions:

1. Viewer bar appears above the header, does it look okay?
2. Publisher opt-in/opt-out of link by putting an attribute
3. Preloading when clicking links.
4. Clicking on blank part closes the ads.

[2021-07-22 01:26] #35085 closed

[2021-07-22 06:08] powerivq opened #35349 "I2D integration.js/f.js for 3p iframe"
### Summary

We wish to change to not make available integration.js/f.js for purpose of 3p iframe bootstrapping.

### Motivation

f.js has been available for third party iframe users to bootstrap various ads or vendor iframe (eg facebook, twitter). To date, it is possible for publishers to host a custom remote.html https://github.com/ampproject/amphtml/blob/main/extensions/amp-ad/amp-ad.md#running

[2021-07-22 06:33] user631 commented on #35275
Thanks @alanorozco and @calebcordry

Its through the standard "https://www.google.com/adsense/" login.

When generating AMP Ads (non-auto ones) :

AMP Ads -> "Create New Ad" -> "Ad Unit" - >"Display Ads" and keeping the option as "Responsive", there are three choices available - SQUARE, HORIZONTAL and VERTICAL.
However, irrespective of which option a user selects (SQUARE, HORIZONTAL and VERTICAL),

[2021-07-22 09:51] cramforce commented on #35349
Given that we allows direct reference from custom remote.html files, I think we will need to maintain backward compat for a significant amount of time. I think we can achieve the performance win in the "managed" environments while still shipping the legacy file for compat. We should then add a deprecation file and look at traffic to the URL. I do, however, think it'll take a year+ to really move.

[2021-07-22 13:34] vivekn-procentris commented on #25344
Need the ability to create amp-script at run time for analytics to dynamically add the src value for amp-script tags.

[2021-07-22 14:33] Brandons42 opened #35355 "[Story interactive] Prompt Background Shows on Prompt-less Image Quizzes and Polls"
### Description

Due to differing border radii, the top-left and top-right corners of the prompt background are visible when an image quiz or image poll has no prompt

![Screenshot 2021-07-22 7 27 55 AM](https://user-images.githubusercontent.com/20510288/126656631-d9aac3a5-b935-4a44-af21-e8ffd35e04fb.png)

### Reproduction Steps

Create an image quiz or image poll component without a prompt

### R

[2021-07-22 16:04] rcebulko commented on #35264
IIUC we rely on Closure for many of those warnings. Some (checking variables, missing returns, undefined vars) would be caught by TS; others (assigning to a const, violating `@private` or similar access restrictions, useless code, misplaced JSDoc annotations like combining `@extends` and `@implements`) probably would not be, though I haven't verified which exactly. The linter might fill some gaps,

[2021-07-22 16:34] newmuis commented on #12815
Reviving this -- we'd like to reconsider option 1 and determine the amount of effort needed to support this.

[2021-07-22 16:58] rileyajones commented on #35264
From a DevEx perspective, this seems like a big win. The integration between TS and VSCode is very good and should allow developers to more easily catch and understand errors before even needing to compile.

[2021-07-22 18:03] #35315 closed

[2021-07-22 18:26] danielrozenberg opened #35361 "Fix flaky `amp-list` tests"
Disabled in #35360

[2021-07-22 19:12] #35114 closed

[2021-07-22 20:49] houtaiwong-toast opened #35363 "Uncaught (in promise) Error"
### Description

I'm trying to implement amp-subscriptions to some gated articles I have on a website locally. I've gone through the documentation of implementing it but I keep getting this error in the console that doesn't explain much to me.

![image](https://user-images.githubusercontent.com/55763151/126707320-00049bf6-6e29-4ecb-b3eb-6b53dfed336d.png)

### Reproduction Steps

1. Added amp-subsc

[2021-07-22 23:20] alanorozco commented on #34990
No new betas yet. I'll come back on August 6.

[2021-07-23 12:11] merakmarey commented on #26497
Has anything changed with this or is still a no can do situation?

[2021-07-23 14:08] jingfei opened #35374 "[Amp Story] [iOS] Olympics 2020 stories in iGA, Safari browser, and Chrome browser are laggy."
### Description

The stories are laggy while opening in iPhone: next / previous buttons are not very responsive, for example there's ~1s delay to switch to the next page after tapping.

The issue is observed from the following devices:
- iOS 14.6 Iphone X
- iOS 14.6 iphone 11 pro max
- iOS 14.5 iphone 11
- iOS 14.7 iphone 11

It happens in all the following player:
- iGA Discover tab
- Chrome brow

[2021-07-23 14:11] #35260 closed

[2021-07-23 14:11] #35261 closed

[2021-07-23 15:14] caroqliu commented on #26497
amp-social-share 1.0 allows for customizing the colors, but 0.1 does not: https://amp.dev/documentation/components/amp-social-share-v1.0/?format=websites#custom-styles

[2021-07-23 17:25] mszylkowski opened #35381 "[Story images] On iOS 15 stories, long pressing on images expands the image"
### Description

On iOS 15, long pressing on a story where an image is will break the story UI and expand the image

https://user-images.githubusercontent.com/22420856/126818890-927b58fa-bc8c-4808-9ce5-deaa9b1b46d8.mp4

### Reproduction Steps

Open https://pets.visualstories.com/snail-facts and long press on the images. It will expand similarly to the video attached.

### Relevant Logs

_No respon

[2021-07-23 17:26] merakmarey commented on #26497
This does not work, not even with v1.0

`<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>My AMP Page</title>
  <link rel="canonical" href="self.html" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 norm

[2021-07-23 17:33] newmuis commented on #35374
After syncing with @gmajoulet and @mszylkowski, there are a few things that could be done on the publisher side to make these stories more performant:

1. The images used in the stories are quite large.  These should be downsampled to a reasonable size (e.g. the image for [this page](https://user-images.githubusercontent.com/1651960/126819421-9eb84497-69f5-43ce-b395-4367a1bd6b9a.png) is 2395x2894p

[2021-07-23 17:42] caroqliu commented on #26497
You will need to enable the `"bento"` or `"bento-social-share"` experiment somehow. This is the [playground example](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5NeSBBTVAgUGFnZTwvdGl0bGU+CiAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9InNlbGYuaHRtbCIgLz4KICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoLG1pb

[2021-07-23 17:49] jingfei commented on #35374
Thanks for the suggestions. I will file bugs to the team for the improvement!

[2021-07-23 17:53] gmajoulet commented on #35374
+1 to everything Jon said you should get meaningful improvements following these steps. On top of the image resolution, you can also improve how they're compressed. You should be able to save 40 to 60% of the file size without seeing a visual drop in image quality. Pretty sure you have access to better tools but you can test it with online things like https://tinyjpg.com/

[2021-07-23 19:19] caroqliu commented on #35361
Are we sure these are actually flaky and not indicating an actual breakage? http://amp-test-cases.appspot.com/test-cases/stats/fail suggests that they are failing in 100% of the last 10 runs.

[2021-07-23 19:20] caroqliu commented on #35361
Are we sure these are actually flaky and not indicating an actual breakage? http://amp-test-cases.appspot.com/test-cases/stats/fail suggests that they are failing in 100% of the last 10 runs.

[2021-07-23 19:21] caroqliu commented on #35361
Are we sure these are actually flaky and not indicating an actual breakage? http://amp-test-cases.appspot.com/test-cases/stats/fail suggests that they are failing in 100% of the last 10 runs.

[2021-07-23 19:23] samouri commented on #35361
Good question. Either way, the correct thing to do is to start skipping while we investigate.

[2021-07-23 19:28] caroqliu commented on #35361
Ok, just wanted to clarify. Sometimes skipped tests get forgotten is all. 😅

[2021-07-23 19:55] danielrozenberg commented on #35361
That's why I always assign the a bug to fix them along with the PR that disables... :)

[2021-07-23 22:16] calebcordry commented on #34719
@inidaname Sorry I missed this. Happy to help you find a new issue if you would like to start contributing to AMP.

[2021-07-23 22:16] calebcordry commented on #34719
Closed by #35388

[2021-07-23 22:16] #34719 closed

[2021-07-24 09:13] jingfei commented on #35374
Update: We test the same device again in [story](https://www.google.com/search/static/gs/live/og2020/en-US/2021-07-23/#page=cover) that doesn't use blur effect, and we don't see the issue!

We are working on using the background with only 1-2 colors extracted from image as the temporary fix. At the same time, looking to query downscaled image from the source.

[2021-07-25 01:19] ibnujakaria commented on #24621
Finally my GA4 works as well as legacy UA after removing AMP version of my site.

[2021-07-25 09:54] merakmarey commented on #26497
So, basically, if I want to style, I have to forget about valid AMP...right?

[2021-07-25 11:23] #25370 closed

[2021-07-26 13:35] caroqliu commented on #26497
No, there are ways to enable experiments that are valid AMP, as documented in ["Enable Experimental Features"](https://amp.dev/documentation/guides-and-tutorials/learn/experimental/).

That said, the 1.0 version of amp-social-share will be planned to launch as valid AMP soon. I'll update this issue when that happens. Thank you!

[2021-07-26 14:15] #34137 closed

[2021-07-26 15:08] #35355 closed

[2021-07-26 15:14] merakmarey commented on #26497
Thanks to you! Ill wait! :)

[2021-07-26 15:15] #34953 closed

[2021-07-26 15:21] samouri commented on #30451
@erwinmombay: how is that checklist coming along? is this still a P1? If not can we lower the priority?

[2021-07-26 15:37] ampprojectbot opened #35396 "🚨 Error: Unexpected iframe URL change: https://amp-baogiaothong-vn.cdn.ampproject.org/v/s/amp.baogiaothong.vn/cach-tra-cuu-diem-thi-tot-nghiep-thpt-quoc-gia-2021-d516745.html# https://amp-baogiaothong-vn.cdn.ampproject.org/v/s/amp.baogiaothong.vn/cach-tra-cuu-diem-thi-tot-nghiep-thpt-quoc-gia-2021-d516745.html"
Details
---
**Error report:** [link](http://go/ampe/CJPfmtrHrODZqAE)
**First seen:** Jun 3, 2021
**Frequency:** ~ 868/day

Stacktrace
---
<pre><code>Error: Unexpected iframe URL change: https://amp-baogiaothong-vn.cdn.ampproject.org/v/s/amp.baogiaothong.vn/cach-tra-cuu-diem-thi-tot-nghiep-thpt-quoc-gia-2021-d516745.html# https://amp-baogiaothong-vn.cdn.ampproject.org/v/s/amp.baogiaothong.vn/cach-t

[2021-07-26 17:30] alankent opened #35398 "[AMP Story Docs] Animation information hard to find"
[UPDATED: July 28 - I removed some erroneous assumptions about there being an animation trigger that fires when a video finishes playing in amp-video.]

I went to amp-story-page looking for animation, but there was no mention of animation anywhere on page. I went to amp-story and it does contain an animation section talking about what you can do on amp-story-page elements. This felt strange (anima

[2021-07-26 17:40] laura3arual opened #35399 "Webstory player - Rewind method doesn't reset the cover image"
### Description

I'm trying to reset the state of the webstory player when reloading the page. I used the rewind method when finish page loading, that way I can start over the first story again.
However, If I was in a step different from the first one, after rewind it doesn't load the initial cover image.

### Reproduction Steps

1. Load webstory and navigate through the pages.
2. Stop navigation

[2021-07-26 19:05] #30136 closed

[2021-07-26 19:16] AaronMLB opened #35401 "amp-bind clashes with amp-render and Mustache templates"
### Description

When I include ```amp-bind``` (v0.1) in a page, it breaks the rendering of Mustache templates (v0.2) within ```amp-render``` (v1.0).

Specifically, I've found a simple ```amp-render``` containing a list is stripped of its opening and closing ```ul``` tags.

### Reproduction Steps

AMPHTML:
[code]

JSON:
[code]

### Rendered HTML

[code]

Note within the ```<div i-amphtml-rendered=

[2021-07-26 19:21] SimonHogstromRonbol opened #35402 "amp-lightbox-gallery - unexpected behavior with thumbnails"
### Description

When you click a thumbnail to open an [amp-lightbox-gallery](https://amp.dev/documentation/components/amp-lightbox-gallery/?format=websites), the first image in the gallery will show up, rather then the image associated with the clicked thumbnail.

Note that this was something we only recently discovered on one of our sites using amp-lightbox-gallery, and all our sites using amp-l

[2021-07-26 19:22] SimonHogstromRonbol commented on #35402
@kristoferbaxter @caroqliu
As promised on slack, I've filed an issue about the unexpected behavior we experienced using amp-lightbox-gallery.

[2021-07-26 20:46] #35287 closed

[2021-07-26 20:54] rileyajones opened #35405 "E2E Tests Timeout Due to Promises not resolving"
### Description

A handful of tests have been flaking fairly consistently and when running the tests locally it seems that the test executes and then "passes" but does not complete and thus times out triggering a failure.

![image](https://user-images.githubusercontent.com/78179109/127057274-406f22b4-7a16-4f60-a88e-c4885bbf8b3b.png)

### Reproduction Steps

Run one of the effected tests locally (p

[2021-07-26 21:08] ampprojectbot opened #35407 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/COHSx8yMh8W0NQ)
**First seen:** Jun 2, 2021
**Frequency:** ~ 3,038/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at message (<a href="https://github.com/ampproject/amphtml/blob/2107092322000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/210709232

[2021-07-27 01:28] kristoferbaxter commented on #35402
Adding @caroqliu to the issue. We might want to map this over to @alanorozco instead though.

[2021-07-27 12:12] SanaSizmic opened #35411 "amp-onetap-google not working"
I am trying to set up Google one-tap login, I have added

<script async custom-element="amp-onetap-google" src="https://cdn.ampproject.org/v0/amp-onetap-google-0.1.js"></script>

<amp-onetap-google
  layout="nodisplay"
    data-src="website_url/oauth/google.php"></amp-onetap-google>

if a user already has one account login in the browser then it automatically logins but if a user has multiple acco

[2021-07-27 12:59] swissspidy opened #35412 "Bento: TypeError when using React.Fragment"
### Description

I am running into issues with `React.Fragment` usage in `@ampproject/amp-base-carousel/react`.

AMP defines the type interfaces for the Preact APIs like so:

https://github.com/ampproject/amphtml/blob/d4c1cebb15b09bb607a36b0724c16bb5e2ab11eb/src/preact/index.js#L25-L33

https://github.com/ampproject/amphtml/blob/d4c1cebb15b09bb607a36b0724c16bb5e2ab11eb/src/preact/index.js#L62-L68

[2021-07-27 13:10] swissspidy opened #35413 "Bento: Components missing CSS"
### Description

When importing a React component such as `@ampproject/amp-base-carousel`, there seems to be no way to get the component's CSS as originally defined in [`component.jss.js`](https://github.com/ampproject/amphtml/blob/65a3b3c8c7583bbe5e559fab0a04b14b76626d6b/extensions/amp-base-carousel/1.0/component.jss.js).

So while I get a nicely styled component when using the `<amp-base-carouse

[2021-07-27 13:45] caroqliu commented on #33792
Dedup with #8926

[2021-07-27 13:45] #33792 closed

[2021-07-27 13:45] caroqliu commented on #34726
Dedup with #8926

[2021-07-27 13:45] #34726 closed

[2021-07-27 13:46] caroqliu commented on #34727
Dedup with #8926

[2021-07-27 13:46] #34727 closed

[2021-07-27 13:46] caroqliu commented on #34728
Dedup with #8926

[2021-07-27 13:46] #34728 closed

[2021-07-27 13:46] caroqliu commented on #35407
Dedup with #8926

[2021-07-27 13:46] #35407 closed

[2021-07-27 13:48] caroqliu commented on #35405
I was having issues contributing e2e tests in #35394 due to similar "before each" hook errors on local runs. Sounds like that PR should be closed until this issue is resolved?

[2021-07-27 14:28] #35202 closed

[2021-07-27 14:50] danielrozenberg opened #35415 "🚄 Tracking issue for release 2107240354000"
### Release Version

2107240354000

### Previous Release Version

2107170150000

### Release Progress

This issue tracks release [2107240354000](https://github.com/ampproject/amphtml/releases/tag/2107240354000). See [new commits](https://github.com/ampproject/amphtml/compare/2107170150000...2107240354000) since the previous Stable channel release.

- [x] Release 2107240354000 promoted to Experimen

[2021-07-27 16:27] alanorozco commented on #35238
**This issue is unrelated to `<amp-google-doc-embed>`**

The problem is the AMP runtime not understanding that the tab content is displayed via these CSS rules that toggle the tabs themselves (`#content...` are all `section` as well).

[code]

1. If I place multiple `<amp-google-doc-embed>` on the same tab, they all render fine.
2. If I place any kind of `<amp-*>` element on the second tab, it nev

[2021-07-27 16:41] jaygray0919 commented on #35238
I have a different tab scheme from @aghassemi and will experiment with that. Will copy you on that use case when it's ready.

[2021-07-27 17:11] dmanek commented on #35401
@AaronMLB thanks for reporting this issue. I am able to repro this and suspect it's a bug with template rendering. Need to investigate further and will update this issue when I have more.

[2021-07-27 17:12] #35308 closed

[2021-07-27 17:45] LuckynaSan opened #35416 "Sharing Config Options Different in Chrome on Windows"
### Description

Sharing options are different in Chrome on a Windows device.

### Reproduction Steps

Steps to reproduce:
1. Open Chrome browser on Windows device
2. Enter Web Stories URL
3. Click on the Sharing button
4. Note the displayed share dialog contains options related to Windows device

Actual results:
The sharing options listed do not appear to be the same as the options listed in Chro

[2021-07-27 17:55] AaronMLB commented on #35401
Thanks @dmanek, will await.

[2021-07-27 18:48] caroqliu commented on #35412
FYI @jridgewell @developit

[2021-07-27 19:24] samouri commented on #35413
I believe we have two options:
1. disable the transform [babel-plugin-transform-jss](https://github.com/ampproject/amphtml/blob/main/build-system/babel-plugins/babel-plugin-transform-jss/index.js) for npm builds, so that the jss hooks stay in place. This requires the bundle contains the jss package.
2. keep the transform enabled, but start distributing the associated CSS files. In this case, the p

[2021-07-27 20:34] swissspidy commented on #35416
From what I can tell, this looks like expected behavior.

When you click on the share button, the player tries to invoke the native sharing capabilities of your operating system.

Currently, Firefox does not support this, falling back to that gray-ish dialog in your screenshot.

Chrome however supports it, so it can show the sharing capabilities related to Windows, such as Cortana and OneNote.

ht

[2021-07-27 21:11] caroqliu commented on #35402
## What you can do for now
As a bandaid fix, I would recommend importing `amp-carousel-0.2.js` instead of `0.1` (the default version used by amp-lightbox-gallery) for now. Here is a [jsbin of the hotel demo](https://jsbin.com/kufaxuxaho/1/edit?html,output) with the 0.2 script included.

One downside of this approach is that this will cause `startLayout called but not LAYOUT_SCHEDULED currently:  2

[2021-07-27 22:10] jridgewell commented on #35238
First, we have a requirement that things that are `display: none` do not cause a layout. This is easiest to understand when discussing Ads: if an ad cannot be seen, we cannot make a network request to fill the ad slot. This is both a resource win (less network/CPU usage), and a privacy win.

So, when doing initial detection on the document, we record whether an element is displayable. Ideally, whe

[2021-07-27 22:43] kristoferbaxter commented on #35067
Sorry for missing these questions:

If the `ping` attribute only accepts space-separated `https` urls, then limiting to `https` as part of validation could make sense. However, I agree with you that it's enforcing a more specific rule than what the validator is designed for.

*Just allowing these attributes makes the most sense*, in my opinion. The AMP Validator doesn't enforce HTML Validation bro

[2021-07-27 22:52] calebcordry opened #35425 "📕 Write docs for story ad remote config"
### Description

Feature introduced in #35256

Existing docs at
https://github.com/ampproject/amphtml/blob/main/extensions/amp-story-auto-ads/amp-story-auto-ads.md#configuration

### Alternatives Considered

none

### Additional Context

_No response_

[2021-07-28 01:14] newmuis opened #35426 "Show story entry point example in story dev tools"
### Description

Right now, it's possible to preview a story that does not have the required metadata, but as long as the body of the story looks okay, it's not immediately obvious that the story is actually broken.

This does indeed a cause validation error visible in the "Debug" tab, but for non-technical users using a tool, seeing an HTML attribute name that they've never heard of is not partic

[2021-07-28 01:16] sarmadhashmi opened #35427 "AMP Form does not re-submit until previous POST request completes"
### Description

We're trying to create AMP forms whose inputs are saved when you go out of focus for the field (i.e: on `change` event). So every time I change an input field and tab out to the next one, the form will be submitted. In this case, we do not want to have a submit button. We want to call the server for each input `change` event.

What ends up happening though is that if a POST reques

[2021-07-28 03:08] #26471 closed

[2021-07-28 03:51] ampprojectbot opened #35428 "🚨 Error: No ampdoc found for [object HTMLTemplateElement]"
Details
---
**Error report:** [link](http://go/ampe/CLa926u_wbOH-wE)
**First seen:** Jul 14, 2021
**Frequency:** ~ 11,936/day

Stacktrace
---
<pre><code>Error: No ampdoc found for [object HTMLTemplateElement]
    at message (<a href="https://github.com/ampproject/amphtml/blob/2107092322000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampproject

[2021-07-28 08:31] swissspidy commented on #35413
From a developer perspective I'd prefer (2) just so I have more flexibility with how the CSS is being added to the page.

[2021-07-28 09:03] #4482 closed

[2021-07-28 13:47] swissspidy opened #35430 "Cannot use SVGs with `<feBlend>` in stories"
### Description

#22187 added support for SVGs in stories, but it looks like some elements were missed there.

For example, it is not possible to use [`<feBlend>`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feBlend) in stories, whereas it works just fine in regular AMP pages.

I don't see why it shouldn't be allowed, so seems like an oversight.

Perhaps there are more tags that are m

[2021-07-28 16:02] samouri commented on #35238
I was able to get this example working by adding `on=tap:sectionN.show` to each of the `<input>` elements. See [here](https://live-amp-bugs.glitch.me/hidden-attr-action.html).

[code]

[2021-07-28 16:08] processprocess commented on #35416
Thanks for reporting this @LuckynaSan and thanks for the reply @swissspidy.

@swissspidy is correct, this is expected behavior of the native sharing capabilities of the operating system.

Closing this due to expected behavior but please follow up if you have any other questions :)

[2021-07-28 16:08] #35416 closed

[2021-07-28 16:21] Gregable commented on #35067
My read of the thread is that the final (well, final for now) list should be:

[code]

Correct me if I'm missing something.

[2021-07-28 16:23] Gregable commented on #35067
@ampproject/wg-amp4email - Is there any issue with adding these to the email spec?

[2021-07-28 16:42] github-actions[bot] opened #35439 "Design Review 2021-08-18 15:30 UTC (Africa/Europe/western Asia)"
Time: [15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=08&day=18&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210818T153000Z/20210818T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-07-28 16:42] #35140 closed

[2021-07-28 17:11] jaygray0919 commented on #35238
Thank you @samouri - we did not know how to do that.

[2021-07-28 18:42] gmajoulet commented on #35267
cc @ampproject/wg-approvers can you please take a look? @processprocess will present this at design review to give the opportunity for more people to chime in, but we'd be happy to get some approvals ahead of time as this is a very straightforward UX win.

[2021-07-28 18:42] processprocess commented on #35225
I would like to present the [Amp Story Desktop One Panel I2S #35267](https://github.com/ampproject/amphtml/issues/35267)

[2021-07-28 18:45] newmuis commented on #35267
The I2I was actually already presented at the [2021-06-02 design review](https://github.com/ampproject/amphtml/issues/34335).  Are there additional insights we're hoping to gain?  There was [general agreement](https://github.com/ampproject/amphtml/issues/34479#issuecomment-853388791) at that time.

[2021-07-28 18:48] processprocess commented on #35268
As discussed in the weekly sync, we will leave this functionality as is for now.
It would be resolved as a side-effect of integrating the player panels feature.

[2021-07-28 18:48] #35268 closed

[2021-07-28 18:53] processprocess opened #35441 "`amp-story-desktop-one-panel` `background-blur` Do not support images with transparency."
Images with transparency typically do not work well for the blur.
Remove the ability to select them from the blur and render the black background.
<img width="362" alt="Screen Shot 2021-07-28 at 2 52 39 PM" src="https://user-images.githubusercontent.com/3860311/127379737-55e5b0d1-50ff-4123-9383-c94b83551a23.png">
<img width="423" alt="Screen Shot 2021-07-28 at 2 52 27 PM" src="https://user-images.

[2021-07-28 18:55] zhangsu commented on #34287
The problem with the live list component is that it allows a new way of tracking users. Since the live list components periodically sends a network request to the email-sender-specified endpoint, this feature basically allows the email senders to track how long the user is viewing and staying inside the email, which is not something they can track today. I'd imagine that this would be a hard sell

[2021-07-28 19:01] kristoferbaxter commented on #35413
I'd also push toward #2.

[2021-07-28 19:25] danielrozenberg commented on #34013
This feature has been live for ~2 weeks, see the configs readme file for instructions on how to use it: https://github.com/ampproject/amphtml/blob/main/build-system/global-configs/README.md#client-side-experiments-configjson

[2021-07-28 19:25] #34013 closed

[2021-07-28 19:54] rileyajones opened #35443 "Gate new and updated tests based on performance and flakiness"
### Summary

Check newly created and updated tests meet performance and flakiness thresholds and enable developers to meet these standards.
I wrote a this design doc on [Keeping AMP Tests Fast](https://docs.google.com/document/d/1o9AaJ8-eKMRxcrLrqLQwF5ZUJeV8AELu4uT8mdec9wI) describing how gating might work.

### Motivation

There is a significant number of slow running tests that have been introdu

[2021-07-28 19:56] zhangsu commented on #35067
I think none of these (including `ping` discussed above) should be allowed in the email format for a few reasons:

- For `ping` specifically: All network requests need to be proxied in the email context, and there's currently no mechanism to proxy the HTTP requests sent to the reporting endpoints.
- Any new kind of tracking that's currently impossible in emails should not be allowed until all emai

[2021-07-28 19:59] rsimha commented on #35443
Thanks for taking this on. Looks like the issue is using the I2D template, can we recreate it with the I2I template?

[2021-07-28 20:03] newmuis commented on #35267
Approved!

[2021-07-28 20:22] kristoferbaxter commented on #35267
Approved, thanks again for being so thorough.

[2021-07-28 20:25] danielrozenberg commented on #30954
Testing this out today with the `nightly` channel, it turns out that the web app doesn't work due to the CSP, which is not a reasonable thing to modify for this purpose. Alan and I discussed this offline and agreed that at this point it make much more sense to place this under amp.dev (maybe `storybook.amp.dev`?)

[2021-07-28 20:34] rsimha commented on #35267
+1, approved.

[2021-07-28 21:39] Gregable commented on #35067
@zhangsu my limited understanding is that none of these attributes allow pre-navigation tracking. Once a user has clicked an outbound email link, all bets are also off. The link can be decorated with click trackers or the remote origin can ping out click trackers as desired.

My interpretation of these attributes is that they are primarily implemented to remove the redirect latency that link-decor

[2021-07-28 21:52] samouri commented on #35225
I'd like to discuss: des

[2021-07-28 22:00] #35430 closed

[2021-07-28 22:30] samouri commented on #35238
@jaygray0919, I'm going to close this issue as I believe the issue is resolved. Feel free to comment back if there is something we missed!

[2021-07-28 22:30] #35238 closed

[2021-07-29 04:03] #24188 closed

[2021-07-29 07:34] gskaushal92 opened #35451 "Binding a URL from the remote json through parsing error"
### Description

1.  I have json data obj as follows:
`{
  "Obj": [
    {
      "Address1": "test",
      "Url": "/atm/atms-in-bangalore/epip/floor-tcs-A0002.page"
    }
  ]
}`
2. I am using amp-list and template-mustache to bind this data to my page.
3. But while binding url with href attribute of anchor tag, i am getting parsing error as below

`a.ic-more.i-amphtml-error %s amp-bind: Expression

[2021-07-29 08:23] sebastianbenz commented on #30954
We could host this via Firebase Hosting, this should make deployments etc
independent from amp.dev. Would this work for you?

[2021-07-29 10:06] jaygray0919 commented on #35238
we're good @samouri thanks again for the solution.

[2021-07-29 10:09] nigel436 opened #35452 "Page experience issue"
https://amp.dev/page-experience/?url=https://companyjobsdirect.co.uk/job/waterstones-account-sales-6/

Your cached AMP page needs improvement(s).
Your AMP page from origin has a good page experience, but the cached AMP page needs work. Don't fret, we have some recommendations to help you improve! However, it's rare that we see a cached AMP page fail page experience. Please file a GitHub issue so t

[2021-07-29 15:01] #35412 closed

[2021-07-29 15:08] caroqliu commented on #35452
From running the page experience tool at the above link, it looks like the lab data (note: field data is not available) suggests that TBT can be improved:
![Screen Shot 2021-07-29 at 11 05 35 AM](https://user-images.githubusercontent.com/10456171/127516727-76d11872-223e-43b0-8ec4-566c57d4d8de.png)

Luckily, the recommendations at the bottom make some recommendations that are relevant to TBT. Have

[2021-07-29 15:21] caroqliu commented on #35451
The following code snippet works for me [in the playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8aGVhZD4KICAgIDxtZXRhIGNoYXJzZXQ9InV0Zi04IiAvPgogICAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICAgIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoIiAvPgogICAgPHN0eWxlIGFtcC1ib2lsZXJwbGF0ZT5ib2

[2021-07-29 15:23] caroqliu commented on #35255
Dedupe with #35254

[2021-07-29 15:23] #35255 closed

[2021-07-29 15:23] caroqliu commented on #34614
Dedup with #34612

[2021-07-29 15:23] #34614 closed

[2021-07-29 15:24] caroqliu commented on #34500
Dedupe with #34499

[2021-07-29 15:24] #34500 closed

[2021-07-29 15:24] caroqliu commented on #34488
Dedupe with #34487

[2021-07-29 15:24] #34488 closed

[2021-07-29 15:25] caroqliu commented on #34485
Dedupe with #34484

[2021-07-29 15:25] #34485 closed

[2021-07-29 15:26] caroqliu commented on #34426
Dedupe with #34424

[2021-07-29 15:26] #34426 closed

[2021-07-29 15:27] #34347 closed

[2021-07-29 15:36] #30938 closed

[2021-07-29 15:41] gskaushal92 commented on #35451
I have not used amp-state because I need to perform some operation on my json data.
So I have used ` exportFunction('dummyFunc', function(){});` to fetch the data. After that when I try to bind the url
`<a href="{{url}}" class="ic-more">know more</a>` I ma getting parse error as described above.

[2021-07-29 15:58] danielrozenberg commented on #30954
Sounds reasonable to me, it's really just a set of html + js files so any static files solution would work. Just need to figure out a way to keep this fresh and in sync with new AMP releases

[2021-07-29 17:38] dmanek commented on #35401
@AaronMLB figured out the issue. We were appending the `innerHTML` which would exclude the wrapper `ul` element. Fix in progress.

[2021-07-29 18:29] caroqliu commented on #35451
Can you please send me the full code you are having issues with in a playground.amp.dev link?

[2021-07-29 18:33] ampprojectbot opened #35457 "🚨 Display: HTTP error 404"
Details
---
**Error report:** [link](http://go/ampe/CI-Z1PKplp3AhQE)
**First seen:** Jun 4, 2021
**Frequency:** ~ 5,406/day

Stacktrace
---
<pre><code>Display: HTTP error 404
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2107240354000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:16)
    at apply (<a href="https://github.com/ampproject/amphtml/blob/2107240354000/s

[2021-07-29 18:33] ampprojectbot opened #35458 "🚨 Display: HTTP error 404"
Details
---
**Error report:** [link](http://go/ampe/CI-Z1PKplp3AhQE)
**First seen:** Jun 4, 2021
**Frequency:** ~ 5,406/day

Stacktrace
---
<pre><code>Display: HTTP error 404
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2107240354000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:16)
    at apply (<a href="https://github.com/ampproject/amphtml/blob/2107240354000/s

[2021-07-29 18:54] caroqliu commented on #35458
Dedupe with #35457

[2021-07-29 18:54] #35458 closed

[2021-07-29 18:55] #31463 closed

[2021-07-29 19:07] caroqliu commented on #29656
@seanthepottingshed I'm seeing "Page not found" when clicking on the link, can you share more information about the issue?

[2021-07-29 20:04] seanthepottingshed commented on #29656
Yeah sorry it was so long ago the page no longer exists. I will add another test page shortly and post here when I've done ;)

[2021-07-29 20:42] seanthepottingshed commented on #29656
@caroqliu

Here is another more AMP page:

* https://agilisys.gg/news/amp/taoism-darwinism-everything-i-know-about-adapting-change

...so using the following page to generate the AMP Cache URL:

* https://amp.dev/documentation/examples/guides/using_the_google_amp_cache/

...we end up with this:

* https://agilisys-gg.cdn.ampproject.org/c/s/agilisys.gg/news/amp/taoism-darwinism-everything-i-know-ab

[2021-07-29 20:43] sanggonlee opened #35463 "Amp-story without user consent, without amp-story-consent (i.e. advanced user consent flow)"
Hi, I just wanted to confirm if this is still not supported ([this stack overflow answer](https://stackoverflow.com/questions/53269807/amp-story-consent-modal-without-amp-story-consent) from 2018 said it's not supported, but wanted to get an authoritative answer and if it still holds)

Basically I was wondering if it's possible to use the [advanced user consent flow](https://amp.dev/documentation/

[2021-07-29 21:55] zhangsu commented on #35067
@Gregable Right, my understanding is also limited, and I guess the difference between local click trackers and the remote trackers is that the former allows the email senders to put something into the user's local storage (not quite like cookies, but it's still something persisted in the user's browser) when the user clicks on a link, which I'd imagine is something email security teams generally d

[2021-07-29 23:30] mangesh opened #35467 "I2I: Create an Bento component for copy to clipboard functionality"
### Summary

This I2I proposes the `copy to clipboard` button. This button will allow users to copy any (specified in button attribute) content present in the document/page to the clipboard.

### Design Document

We would like to introduce a new component `amp-copy` which will copy specified content into the clipboard.

### Attributes:

- `sourceId` - In this attribute, we can specify from where t

[2021-07-30 00:39] Gregable commented on #35067
@zhangsu sounds good to me.

[2021-07-30 01:35] xiaolongg02 commented on #34386
Hi, samouri, I am confused about 'migrate from R0 to R1 for all 0.1 components', Does it mean upgrade components with preact? will it benifit performance and how?  I looking forward to your answer.BWTY

[2021-07-30 03:34] otsuky opened #35468 "[amp-script]Allow 'amp-script' to appear in descendants of 'amp-script'"
### Description

I added custom javascript to a component with amp-script.
In addition, I wanted to use amp-script to add custom javascript to a more extensive dom containing that component, but I got the following error.

Please consider allowing amp-script descendants to have amp-script.

### Alternatives Considered

none

### Additional Context

_No response_

[2021-07-30 05:34] gskaushal92 commented on #35451
Sorry That is confidential code and data. Can not share on playground. But they way you tried, I also tried at my local it is working fine with the following binding
`<div class="button-group">
                                    <a href="{{dirUrl}}" class="ic-btn"

                                    <a href="{{url}}" class="ic-more"

                                  </div>` .
 But When I move t

[2021-07-30 09:54] gskaushal92 commented on #35451
My issue is fixed using following code. href was not binding with dirUrl on page load. But when I tried with div and navigateTo event it is working fine.
`<div  class="ic-btn"  on="tap:AMP.navigateTo(url='{{dirUrl}}', target='_blank')" > Get Direction </div>`

But I am still not sure why it is not working with href.

But anyway thanks for quick reply and looking into my issue.

[2021-07-30 09:55] #35451 closed

[2021-07-30 14:27] ampprojectbot opened #35469 "🚨 Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'."
Details
---
**Error report:** [link](http://go/ampe/CKWEnNrLl8lq)
**First seen:** Jun 14, 2021
**Frequency:** ~ 22,096/day

Stacktrace
---
<pre><code>Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'.
    at Error (<a h

[2021-07-30 14:27] ampprojectbot opened #35470 "🚨 Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'."
Details
---
**Error report:** [link](http://go/ampe/CKWEnNrLl8lq)
**First seen:** Jun 14, 2021
**Frequency:** ~ 22,096/day

Stacktrace
---
<pre><code>Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'.
    at Error (<a h

[2021-07-30 14:48] caroqliu commented on #35470
Dedupe with #35469

[2021-07-30 14:48] #35470 closed

[2021-07-30 14:50] g-u-r-k-a-n opened #35471 "Images doesn't loading after 3.image"
### Description

I have a carousel that I created with [splide.js](https://github.com/Splidejs/splide). I have about 80 images and they seem randomly. Images are loading up to 2.index but strangely subsequent indexes are not loading. Something is blocking the images but I can't find it, I don't see any 200 OK or HTTP status code related to the images and also I don't see any error or warning messa

[2021-07-30 14:51] caroqliu commented on #29656
Hmm. Could someone from @ampproject/wg-caching take a look?

[2021-07-30 14:55] caroqliu commented on #35471
It looks like `splide.js` is custom javascript and the page you are using it on is not valid AMP. Given the above the fact that `amp-img` only works on valid AMP documents and `<img>` is the preferred non-AMP alternative by Bento, this is considered to be outside the scope of `amp-img`'s intended use. Please feel free to update if you have any trouble using amp-img on a valid AMP page. I'll be clo

[2021-07-30 14:55] #35471 closed

[2021-07-30 15:14] g-u-r-k-a-n commented on #35471
That's why I specifically mentioned another `amp-img` pictures are appearing perfectly except `splide.js`. But people use many 3.party libraries. If you wnat the truth AMP doesn't allow any custom spec. I have no concerne about valid for AMP. I mean this is a 'real' issue but it's ok you can close this issue. Thanks anyway.

[2021-07-30 15:16] ampprojectbot opened #35472 "🚨 Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'."
Details
---
**Error report:** [link](http://go/ampe/CKWEnNrLl8lq)
**First seen:** Jun 14, 2021
**Frequency:** ~ 22,096/day

Stacktrace
---
<pre><code>Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'.
    at Error (<a h

[2021-07-30 15:43] caroqliu commented on #35472
Dedupe with #35469

[2021-07-30 15:43] #35472 closed

[2021-07-30 16:37] sanggonlee commented on #35463
Got an answer from Slack. This is still not supported.

[2021-07-30 16:37] #35463 closed

[2021-07-30 16:55] Gregable commented on #29656
@seanthepottingshed it looks like your webserver returns a page without that style tag sometimes. The cache isn't removing it, it arrives at the cache without the style tag.

For some reason, this is inconsistent and possibly varies by URL, but you'd have to debug on your side.

For example, at the moment, this URL works fine:

[code]

All I did was append the random URL param `?r=1` which isn't a

[2021-07-30 16:55] #29656 closed

[2021-07-30 17:07] samouri commented on #34386
Hey @xiaolongg02, it does not mean that. Its converting all of our components to using the R1 Resources System which was created as part of https://github.com/ampproject/amphtml/issues/31915. By default all components use R0.

https://github.com/ampproject/amphtml/blob/27a4ef3c53b21044d82973b20891a95179d1075f/src/base-element.js#L108-L124

[2021-07-30 17:08] seanthepottingshed commented on #29656
Thanks @Gregable! Strange that the server should be removing the style tag, I'm kind of out of my comfort zone here - would you be able to recommend any tools I could use on the server to log what is sent when the AMP page is requested by the cache?

The site is built using OctoberCMS / Laravel ( PHP 7.2 ) installed using Laravel Forge on a Digital Ocean Droplet if that information is of any use.

[2021-07-30 17:12] dmanek commented on #27545
We're working on supporting custom browser events with initial support for `change` and `blur` events. Stay tuned!

[2021-07-30 17:17] rsimha opened #35473 "Git repo caching during CI is resulting in the incorrect computation of files changed by a PR"
### Description

#35322 introduced `.git` caching on CircleCI. This appears to have broken the logic that determines the list of files changed by a PR.

### Reproduction Steps

If you look at the _"Testing the following changes"_ logging in the various jobs under a CircleCI build (e.g. [this build](https://app.circleci.com/pipelines/github/ampproject/amphtml/13903/workflows/9627e96a-a87a-4f3d-a64c

[2021-07-30 17:18] Gregable commented on #29656
From my end, your serving stack is a black box, so it's very hard to guess what's going on in the same way the cache is somewhat of a black box from your end.

Usually with this kind of thing, the server varies by the useragent or some other request header. The fact that changing the URL param "fixes" the issue suggests that's _probably_ not the case here. The AMP cache requests for both URLs woul

[2021-07-30 17:25] calebcordry opened #35474 "🧪 Write visual diff test for story ad badge"
### Description

We introduced a regression in https://github.com/ampproject/amphtml/pull/35429 we should have a visual diff test in place to catch similar future issues before code is merged.

### Alternatives Considered

n/a

### Additional Context

_No response_

[2021-07-30 17:35] seanthepottingshed commented on #29656
LEGEND, that's really helpful. The client has their own CloudFlare account so I think this may be the cause. Will investigate further.

[2021-07-30 20:06] #35473 closed

[2021-07-30 22:52] alankent opened #35480 "Moving to next page in web story is replaying first few frames of current page on slower devices"
### Description

**Expected behavior:** Here is a web story https://alankent.github.io/extra-ordinary-amp-stories/vseries1/uep1/ . Each page has a video clip. When finished, you tap on right edge to proceed to next page and next video clip starts. You should see the video on each page one after the other (so it is like playing a video through the clips with pauses at page breaks).

**What is happe

[2021-07-30 22:56] alankent commented on #35480
https://user-images.githubusercontent.com/5702163/127719066-b4b5b1f7-da97-4117-a6bb-f17ec60b0042.mov

Single step through the last second of the video clip. This is a screen recording of my iPhone. You can see the pause then then 2 frames of the current video display before starting on the next video clip.

[2021-07-31 03:46] trivedi opened #35482 "Allow AMP_GEO url substitution in <a> tags"
### Description

I have a use case where I need to provide the country code as part of an anchor tag. I can't figure out the country server side since it's coming from the amp cache.

amp-geo already allows url variable substitution, but is not applied to anchor tags.

### Alternatives Considered

I know amp-geo can set the country code in amp-state on page load. So I thought maybe I could try usi

[2021-07-31 11:10] gskaushal92 opened #35483 "Amp-List height set dynamically on page load."
### Description

Currently I have to give fixed height to the amp-list.
But I want that list should get height based on the content loaded inside the list.
I have a json data which gets validated on page load. There is a possibility that I may get empty array in that case list should take height as 0 on page load. And If I get data on page load, then it gets height based on the data loaded.

### R

[2021-07-31 13:03] gskaushal92 opened #35484 "setState not working on slideChange of carousel inside amp-render"
### Description

I am trying to setstate on slide change inside amp-render. But it is not reflecting.

### Reproduction Steps

1. I am loading data inside amp-carousel using amp-render.
2. I am binding setState on carousel slide change
3. It is not working.

is this is a known issue. or is there any workaround.

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Af

[2021-07-31 14:36] kswro commented on #10937
Sorry for bumping up old issue. If I build my website entirely in AMP format (desktop and mobile with CSS media queries), is it safe for me to create a wrapper (div) for amp-sticky-ad that will be hidden for desktop? Does anyone know if this would violate the AdSense TOS?

[2021-07-31 19:46] viet-dinh commented on #5225
How did you implement "used iframe with JS history.back"?

I tried 2 ways but fail:
- Tag **a href="javascript:history.back()"** will get error from validator amp.
- **amp-script** tag does not support History API.

[2021-07-31 20:12] westonruter opened #35485 "Bento components sporadically fail to render on Transformed (SSR'ed) AMP pages"
### Description

I've come across a strange issue where Bento components sporadically fail to render when they appear on some transformed AMP pages (i.e. SSR'ed with AMP Optimizer). I've put together a test case to demonstrate: https://amp-bento-component-ssr-init-fail.glitch.me/

See the following video for the buggy behavior in the third iframe with the heading “With WP Admin Bar w/ SSR”, after

[2021-07-31 20:14] westonruter commented on #35485
cc @caroqliu

[2021-08-01 19:11] samouri commented on #5225
@viet-dinh, have you tried `AMP.goBack(navigate=true)`?

[2021-08-01 21:03] #26472 closed

[2021-08-01 21:04] #26469 closed

[2021-08-01 21:24] AaronMLB opened #35487 "amp-autocomplete: Multiple element tokenisation"
### Description

I would like to offer users of my website the ability to select one-or-more items from a list of suggestions, and to tokenise them as selected objects rather than plain text.

```auto-complete``` already comes quite close to this with both suggesting based on initial user input and the ```inline``` attribute that enables multiple items to be suggested and selected, so it feels a l

[2021-08-02 02:07] viet-dinh commented on #5225
Thanks a lot, I made it. But, is there any way to check history stack to decide hide or show back button?

[2021-08-02 06:36] gskaushal92 commented on #35484
Anybody has any update on this?

[2021-08-02 07:29] mangesh commented on #35225
I would like to discuss the `[amp-copy]`(https://github.com/ampproject/amphtml/issues/35467) component

[2021-08-02 09:33] mangesh commented on #34566
Are we planning to implement this?

[2021-08-02 12:42] deprantik opened #35488 "<amp-analytics> is not providing client id in the next page using <amp-next-page> on google amp viewer"
### Description

Hi anyone, I have an issue with clientId(<cookieName>) method in amp-analytics.
So, whenever I am opening our amp page in google amp viewer (i.e. from the google carousel / top stories), the first analytics call is providing clientId. But when we go to the next page in infinite scroll, it’s not providing the clientId anymore, leading to failure of analytics call.
This issue is not

[2021-08-02 13:54] samouri commented on #5225
@viet-dinh: AFAIK, that isn't something we have explicit support for today. You could probably simulate it a bit with `amp-state` and `amp-list`

[2021-08-02 15:39] samouri commented on #35264
Thank you all for the discussion. I'll try to address some of the points, and then also add a few ideas to the mix.

@rcebulko is correct re. Conformance Checks. I believe those are the only meaningful ones we would lose access to.

The type checking capabilities in terms of both errors it can discover and in terms of data modeling are far superior. Also its ability to discover errors without need

[2021-08-02 16:07] #35109 closed

[2021-08-02 16:43] erwinmombay commented on #35060
@aeroplanejane , just an update we've made good progress in the server side experiment last week. we'll be shooting to start the experiment this august

[2021-08-02 17:36] gskaushal92 commented on #35483
Anyone has any update on this issue?

[2021-08-02 17:49] #34790 closed

[2021-08-02 18:56] kristoferbaxter opened #35491 "Move JS from Url Parsing via Anchor Elements to URL Constructor"
### Description

The URL constructor could be used as a replacement for parsing URLs using an `HTMLAnchorElement` now that IE support is going away.

However, there are a few difficult issues to solve since the codebase relies on invalid URL parsing by extended the intended meaning from the specification. In the case a URL resolves to a `'null'` origin, AMP currently overrides the value with the f

[2021-08-02 19:12] samouri commented on #35483
Dupe of https://github.com/ampproject/amphtml/issues/26873

[2021-08-02 19:13] samouri commented on #26873
@caroqliu: can we also launch this to non-amp4email formats?

[2021-08-02 20:14] caroqliu commented on #26873
Good callout. I would be in agreement to launch this in other formats, especially given the behavior was recently launched with `amp-render` for websites.

[2021-08-02 22:09] samouri commented on #5225
Closing this issue as we've implemented this FR in https://github.com/ampproject/amphtml/pull/26585 and updated the documentation in https://github.com/ampproject/amphtml/pull/29290.

And to think we finished 19 years early 😉

[2021-08-02 22:14] #5225 closed

[2021-08-02 22:54] jridgewell commented on #35491
We could provide a temporary helper that clones the URL object and fixes the origin? We don't currently mutate the return value from the `parse*` methods.

[2021-08-02 23:03] kristoferbaxter commented on #35491
That might work too.

We might consider instead moving to use the specified URL object, and change the other systems to expect origin to be an invalid value (and use something else instead).

[2021-08-03 01:12] #35425 closed

[2021-08-03 01:46] Mstafamhamadmhamad commented on #35425
@processprocess

[2021-08-03 01:46] Mstafamhamadmhamad commented on #35425
#34671

[2021-08-03 01:47] Mstafamhamadmhamad commented on #35425
@Mstafamhamadmhamad

[2021-08-03 01:47] Mstafamhamadmhamad commented on #35425
Duplicate of #

[2021-08-03 05:15] gskaushal92 commented on #35483
do we having working example for this. because when I am setting layout ="container". I am getting following error :
`Experiment "amp-list-layout-container" is not turned on.​​​`
and data is not loading.

[2021-08-03 05:31] gskaushal92 commented on #35483
@caroqliu I am getting the same error when I am trying to test **https://github.com/ampproject/amphtml/blob/main/examples/amp-list-layout-container.amp.html** this example on my local machine. Could you please let me know if this is possible or not?

[2021-08-03 05:42] gskaushal92 commented on #35484
any update on this issue?

[2021-08-03 06:37] zzTopperbot opened #35498 "https://passwords.google.com/error/sync-passphrase?hl=en-US"

[2021-08-03 12:01] #35498 closed

[2021-08-03 12:55] caroqliu commented on #35483
As per the discussion in #26873, we will likely move to remove requirement of the experiment `amp-list-layout-container` to get the feature enabled by default. I'd recommend following that issue for updates.

In the mean time you have a few options:
- enable the experiment for local development by calling `AMP.toggleExperiment('amp-list-layout-container')` in the console
- enable the experiment fo

[2021-08-03 12:55] #35483 closed

[2021-08-03 15:23] kalemuw opened #35502 "🧪Clean up `analytics-browser-event` experiment"
### Description

Clean up the `analytics-browser-event` experiment.

### Reproduction Steps

Experiment added in #35193

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Affected

_No response_

### Device(s) Affected

_No response_

### AMP Version Affected

_No response_

[2021-08-03 16:59] caroqliu opened #35504 "🚄 Tracking issue for release 2107302322000"
### Release Version

2107302322000

### Previous Release Version

2107240354000

### Release Progress

This issue tracks release [2107302322000](https://github.com/ampproject/amphtml/releases/tag/2107302322000). See [new commits](https://github.com/ampproject/amphtml/compare/2107240354000...2107302322000) since the previous Stable channel release.

- [ ] Release 2107302322000 promoted to Experimen

[2021-08-03 17:06] merakmarey opened #35505 "Error: An AMP component 'amp-lightbox-gallery' is using an invalid version. Use a valid version of this AMP component."
### Description

Google AMP Website validator reports error in page:
An AMP component 'amp-lightbox-gallery' is using an invalid version. Use a valid version of this AMP component.

### Reproduction Steps

https://lr.trapichero.com/c/monrovia/montserrado/buy-or-sell/shoes-and-clothes

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Affected

_No response_

### D

[2021-08-03 17:11] honeybadgerdontcare commented on #35505
@merakmarey

I could not get the [URL](https://github.com/ampproject/amphtml/blob/main/extensions/amp-lightbox-gallery/validator-amp-lightbox-gallery.protoascii) you provided to load. It responded:

[code]

The only valid versions are `0.1`, `1.0`, and `latest`.

[2021-08-03 17:11] #35505 closed

[2021-08-03 17:36] #35401 closed

[2021-08-03 18:05] merakmarey commented on #35505
URl is back on now.
Preface: The extension is declared but not used.
Two separated issues. Google Search Console reports the original error. Invalid version.
Google Search Online validator report the "correct" issue, declared but not used.
https://search.google.com/test/amp?utm_source=gws&utm_medium=onebox&utm_campaign=suit&id=zo8z92WYeYzuyN7gBjrIxg

[2021-08-03 18:05] merakmarey commented on #35505
Main question...why is this invalid AMP?

[2021-08-03 19:29] #26570 closed

[2021-08-03 20:29] LincolnCannon commented on #35262
Thanks for your attention to this issue. Sincerely appreciated.

[2021-08-03 21:14] jridgewell commented on #35262
The issue is that your server is returning 404 responses to the request the Google AMP Cache is making:

[code]

[2021-08-03 21:32] honeybadgerdontcare commented on #35262
@LincolnCannon note the headers that are included in the request @jridgewell is making. Those headers appear to be causing the server to issue a 404 response instead of the 200 when requested without them. The Google AMP Cache sends these headers to help servers respond with the "best" content to match what could be served to a user (e.g. signed exchanges).

[2021-08-03 21:32] #35262 closed

[2021-08-03 21:33] LincolnCannon commented on #35262
Thank you! Shopify must have changed a setting on their servers. I'll review with them.

In the meantime, is there a way to make the Google AMP cache more flexible? If not, this may be impacting a large number of Shopify websites.

[2021-08-03 21:36] LincolnCannon commented on #35262
... or could this have begun happening when Google AMP cache began supporting signed exchanges? Maybe it was actually a change to Google AMP cache that caused the break.

[2021-08-03 21:52] jridgewell commented on #35262
I don't believe we've made any changes to our `Accept` header since September 2019. If you've had recent articles that were properly displayed in AMP Cache, it's likely it's on the Shopify side.

[2021-08-03 21:55] LincolnCannon commented on #35262
Thanks for that information. I've been troubleshooting this (unsuccessfully) for months. It's possible the problem started that long ago. But I'm also checking with Shopify.

[2021-08-03 22:04] merakmarey opened #35516 "Error: An AMP component 'amp-lightbox-gallery' is using an invalid version. Use a valid version of this AMP component."
### Description

Google AMP Website validator reports error in page:
An AMP component 'amp-lightbox-gallery' is using an invalid version. Use a valid version of this AMP component.

Preface: The extension is declared but not used.

Two separated issues. Google Search Console reports the original error. Invalid version.
Google Search Online validator report the "correct" issue, declared but not use

[2021-08-04 02:43] #19439 closed

[2021-08-04 05:26] gskaushal92 commented on #35484
@caroqliu  setState is not working inside amp-render. Is this known issue?

[2021-08-04 07:34] seanthepottingshed commented on #29656
@Gregable

There's a setting in **CloudFlare** called _Brotli Compression_ which I've disabled would that have any bearing on the issues I'm experiencing?

* https://agilisys-gg.cdn.ampproject.org/c/s/agilisys.gg/news/amp/taoism-darwinism-everything-i-know-about-adapting-change?r=3

[2021-08-04 09:26] gskaushal92 opened #35519 "Can we customize google map in amp."
### Description

I have following requirement:
1. I want to load google map inside amp page.
2. On page load I will query json data and get multiple dynamic marker location.
3. I want to pin these marker to there location.
4. I want to draw a custom radius of xKM around my markers.
5. I want to add custom resize functionality for the circle.
6. Then on some user action, update the markers.
7. Drag

[2021-08-04 15:28] caroqliu commented on #35484
@dmanek Can you take a look at this? I've created a [minimal sample in the playground here](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8aGVhZD4KICAgIDxtZXRhIGNoYXJzZXQ9InV0Zi04IiAvPgogICAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICAgIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoIiAvPgogICAgPH

[2021-08-04 16:44] github-actions[bot] opened #35526 "Design Review 2021-08-25 20:00 UTC (Americas)"
Time: [20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=08&day=25&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210825T200000Z/20210825T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-08-04 16:58] kristoferbaxter commented on #35482
Note: The `Expander` service has an allowlist for parameters and 'AMP_GEO' is not included.

Adding it causes an error since AMP_GEO is retrieved async, meaning this change would require a sync getter for the value (looking into this now).

[2021-08-04 17:28] honeybadgerdontcare commented on #29656
@seanthepottingshed that may be a question best asked of CloudFlare through their support channels. Compression such as brotli should not change the content (e.g. removing a tag).

[2021-08-04 17:42] honeybadgerdontcare commented on #35505
One tenet of AMP is that it is fast. Including unused javascript goes against that tenet. The validator does a check to see if an included extension is used. If it is not used then an error appears as it's wasted bytes sent to the client. Some extensions are exempted from this check but only because including that check now would be cumbersome and cause previously valid AMP documents to become inv

[2021-08-04 17:43] honeybadgerdontcare commented on #35516
This seems very similar to #35505 and marking as duplicate. Please continue any discussion there.

[2021-08-04 17:43] #35516 closed

[2021-08-04 18:35] alanorozco commented on #34990
Public Beta 4 is out, @rebeccanthomas will try it out on a real device and provide an update.

[2021-08-04 18:35] alanorozco commented on #34990
Public Beta 4 is out, @rebeccanthomas will try it out on a real device and provide an update.

[2021-08-04 19:53] mszylkowski opened #35534 "[Story performance] Not load all page attachment images when loading story"
### Description

When loading a story with page attachments, all the images inside all page attachments (independently of distance) get loaded.

### Reproduction Steps

Open https://story.merdeka.com/2378675/volume-14

Check the network tab:
![image](https://user-images.githubusercontent.com/22420856/128245783-e15bbecd-d115-40af-bb8a-d2aee2d42297.png)
It contains all the images from all the page a

[2021-08-04 20:01] gmajoulet commented on #35534
Content should not be built nor loaded until the page attachment is open by a user.

Our code claims ownership over the components here: https://github.com/ampproject/amphtml/blob/a62b451774b56838259583f983fa73580b519a3a/extensions/amp-story/1.0/amp-story-draggable-drawer.js#L189-L201
And only get built in the `open` method here: https://github.com/ampproject/amphtml/blob/a62b451774b56838259583f98

[2021-08-04 20:01] gmajoulet commented on #35534
cc @ampproject/wg-stories

[2021-08-04 20:08] rebeccanthomas commented on #34990
Verified on a physical device that the the bug does not show up in Public Beta 4.

[2021-08-04 20:42] trivedi commented on #27643
Did this bug reappear somehow? I'm still seeing this copy in https://amp.dev/documentation/guides-and-t

In fact, now it's bold and in a larger text! Very misleading

<img width="748" alt="Screen Shot 2021-08-04 at 4 42 09 PM" src="https://user-images.githubusercontent.com/2756580/128251995-80c70632-894c-4e5d-b90d-124c86305f2c.png">
utorials/learn/amp-actions-and-events/

[2021-08-04 21:09] #35225 closed

[2021-08-04 22:05] honeybadgerdontcare commented on #24232
This is a valid case that we should consider, avoiding stale bot.

[2021-08-04 22:17] sdenaro commented on #26791
Has this been reviewed or discussed recently? I have an analytics use case that would be solved easily with a document.href being available

[2021-08-05 04:17] gskaushal92 opened #35535 "Is deep linking supported in AMP"
### Description

I am trying to implement deep linking in AMP but could not get relevant documentation and solution. Could you please let me know if this is supported or not?

### Reproduction Steps

I am trying to implement deep linking in AMP but could not get relevant documentation and solution. Could you please let me know if this is supported or not?

### Relevant Logs

_No response_

### Bro

[2021-08-05 04:26] gskaushal92 commented on #35484
If I move the binding inside template then amp-carousel will render. But again on slide Change setState will not be set.

`<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8" />
    <title>My AMP Page</title>
    <link rel="canonical" href="self.html" />
    <meta name="viewport" content="width=device-width" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s

[2021-08-05 04:28] gskaushal92 commented on #35484
@caroqliu  So I hope this is a known issue and will be taken care by your team?

[2021-08-05 04:35] dmanek commented on #35484
@gskaushal92 thanks for reporting this issue. Will investigate and update when I have more.

[2021-08-05 10:24] gskaushal92 commented on #35535
any update on this? its urgent requirement in my project. could you guys please let me know if this is possible in amp?

[2021-08-05 11:31] seanthepottingshed commented on #29656
@honeybadgerdontcare - excellent idea, I will contact them and see what they say

[2021-08-05 13:15] trivedi opened #35538 "[Documentation] `AMP.navigateTo` does not support url substitution"
### Description

AMP docs for `navigateTo` are misleading.

In the docs for [AMP actions and events](https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/), it mentions that `AMP.navigateTo` supports "standard URL substitutions."

<img width="741" alt="Screen Shot 2021-08-05 at 9 12 55 AM" src="https://user-images.githubusercontent.com/2756580/128355749-8aef5d3e-9716-489

[2021-08-05 14:13] danielstockton opened #35539 "Add `storyPreviousPageIndex` variable to AMP story analytics"
### Description

There are the variables `storyPageId` and `storyPageIndex`, but there is only `storyPreviousPageId` and not `storyPreviousPageIndex`.

It would be good to also have `storyPreviousPageIndex` for symmetry, as it can be useful in reporting events with timings.

### Alternatives Considered

There doesn't seem to be an alternative.

### Additional Context

_No response_

[2021-08-05 14:51] #26614 closed

[2021-08-05 14:53] processprocess opened #35540 "[Slider interactive] Touch target size"
### Description

Touch targets should be [at least 48 x 48 px](https://material.io/develop/web/supporting/touch-target) even in they appear smaller on screen.

Currently the element's touch target has no minimum which makes it harder to interact with on mobile devices.

<img width="216" alt="Screen Shot 2021-08-05 at 10 49 30 AM" src="https://user-images.githubusercontent.com/3860311/128370692-b0a

[2021-08-05 14:54] processprocess opened #35541 "[Slider interactive] Sizing adjustments"
### Description

Component appears thinner than design mocks.
<img width="1030" alt="Screen Shot 2021-08-05 at 10 29 53 AM" src="https://user-images.githubusercontent.com/3860311/128368409-78703bba-0607-40ab-9642-beba806af15a.png">

### Alternatives Considered

N / A

### Additional Context

_No response_

[2021-08-05 17:12] seanthepottingshed commented on #29656
@Gregable and @honeybadgerdontcare

Sorry to trouble you further - I've completely disabled CloudFlare with the exception of their DNS settings, and it's still doing the same thing, any further ideas ( I've emailed **CloudFlare** support ):

- https://agilisys-gg.cdn.ampproject.org/c/s/agilisys.gg/news/amp/taoism-darwinism-everything-i-know-about-adapting-change?r=4

[2021-08-05 17:40] #34383 closed

[2021-08-05 18:08] gmajoulet commented on #27830
Closing: infeasible.

[2021-08-05 18:08] #27830 closed

[2021-08-05 18:10] gmajoulet commented on #27983
Closing as both bullet points have been solved by other projects (overall video callstack and Monti, and loading the current page before preloading next ones).

[2021-08-05 18:10] #27983 closed

[2021-08-05 18:11] #29117 closed

[2021-08-05 18:11] gmajoulet commented on #29470
Closing in favor of https://github.com/ampproject/amphtml/issues/34016

[2021-08-05 18:11] #29470 closed

[2021-08-05 18:17] gmajoulet commented on #30853
One Google Discover engineer complained about this bug as well and it appears to be isolated to this viewer. They spent quite some time trying to debug it. I'll double check that it doesn't happen in other players before closing.

cc @ampproject/wg-stories

[2021-08-05 18:18] gmajoulet commented on #31193
@edoudou please re-open if you're still experiencing this. We changed so much in the Player code and the way things are positioned / transitioned that the issue is likely gone.

[2021-08-05 18:18] #31193 closed

[2021-08-05 18:22] gmajoulet opened #35545 "amp-story-player: Content from following story is available to screen readers"
### Description

In AMP Story Player - Player, using reading keys, it is possible for an assistive technology user to continue reading beyond the first page and into the next one - this is likely due to the way the story is actually constructed from two separate sub-stories that are being "grafted" together dynamically.

cc @ampproject/wg-stories

### Reproduction Steps

-

### Relevant Logs

_No

[2021-08-05 18:23] AaronMLB commented on #35401
@dmanek I'm experiencing a similar issue today. I half feel it may be related hence posting here, but it's (repetitive) data not rendering **at all** that's occurring here.

[code]

[code]

Expected rendered HTML should be obvious, but this is all I get:
[code]

No errors or validation issues are being reported; I thought I had the JSON wrong at first but have been over it multiple times and can't

[2021-08-05 18:23] gmajoulet commented on #32498
Created https://github.com/ampproject/amphtml/issues/35545 to track the Player specific issue, and closing this one as the Stories format is fixed.

[2021-08-05 18:23] #32498 closed

[2021-08-05 18:27] gmajoulet commented on #32511
Closing as the keyboard navigation experience has been largely tested by our team after many bug fixes.

[2021-08-05 18:27] #32511 closed

[2021-08-05 18:28] gmajoulet commented on #33826
Friendly ping @ampproject/wg-infra
If this is not on your roadmap at all, please consider lowering the priority of this ticket so we look for alternative solutions.

[2021-08-05 18:29] gmajoulet commented on #34152
@calebcordry did you get to make any progress on this? Please lower the priority if you're not actively working on it.

[2021-08-05 18:32] gmajoulet commented on #35283
To confirm, this is not a regression and was already present on the old UI?

cc @ampproject/wg-stories

[2021-08-05 18:38] processprocess commented on #35283
Not a regression, just tested it and am seeing it in desktop three panel mode.
<img width="888" alt="Screen Shot 2021-08-05 at 2 37 50 PM" src="https://user-images.githubusercontent.com/3860311/128403425-8f516b3d-81e9-47a0-b687-ad92d9627a7b.png">

[2021-08-05 18:40] calebcordry commented on #34152
For now we are mostly relying on ad networks to do the right thing. We should continue to monitor it though. Changing to P2.

[2021-08-05 18:59] AaronMLB opened #35547 "amp-render/amp-mustache failing to render items into table"
### Description

I'm currently experiencing a not dissimilar issue to that I previously reported in #35401. I half feel it may be related, but here I have a data source not rendering anything meaningful *at all*, through ```amp-render``` and an ```amp-mustache``` template.

### Reproduction Steps

The data is tabular in nature, and I'm trying to get it into rows and fields accordingly:

[code]

[c

[2021-08-05 20:08] #35169 closed

[2021-08-05 20:08] #35290 closed

[2021-08-05 20:18] twifkak commented on #35262
I looked into this a bit and discovered it's dependent not just on the request headers but also the IPs. It looks like the `Accept` header in @jridgewell's earlier comment results in a 200 when it comes from some Googlebot IPs but not others.

I notice the `cf-` response headers. I've seen similar behavior from Cloudflare servers before. I think it might be related to their [Bot Management](https:

[2021-08-06 00:09] alanorozco commented on #35535
Hi @gskaushal92

What are you trying to accomplish exactly? If you'd like the possibility to open a resource entity within a native application as launched by the AMP document, please look into the [`<amp-app-banner>` component](https://amp.dev/documentation/components/amp-app-banner/).

[2021-08-06 00:16] alanorozco commented on #35519
If possible, you should render the widget inside an `amp-iframe`. Inside the loaded document, you can do whatever you want without using AMP, including loading the [Google Maps JS API](https://developers.google.com/maps/documentation/javascript/overview).

[2021-08-06 00:33] twifkak commented on #35262
Sorry, correction. The 404 is not IP-dependent. I had failed to reproduce @jridgewell's test case exactly. It depends on the ordering of the `Accept` header:

[code]

[2021-08-06 00:51] twifkak commented on #35262
I sent http://cl/389064174 to mitigate this issue (hopefully). The Google AMP Cache sends requests in one of two different ways, and they have had different Accept ordering (since 2019). I'm making them consistent (with the version that results in a 200 here). Once approved, that'll take a week or two to roll out.

It may still be worth investigating what caused that on your origin, since a differ

[2021-08-06 03:32] LincolnCannon commented on #35262
Thank you! I have an open issue with Shopify. And I'll watch for and report back on results from the change you made.

[2021-08-06 03:40] LincolnCannon commented on #35262
By the way, where did you intend this link to point?

[2021-08-06 03:47] jridgewell commented on #35262
That's a Google-internal link pointing to a pull request to update the code that fetches AMP documents from servers.

[2021-08-06 03:51] LincolnCannon commented on #35262
Thank you.

[2021-08-06 03:59] gskaushal92 commented on #35535
Hi @alanorozco ,

Let me explain you my use case,

For the single anchor tag , I will have three URL's, one for iOS app, one for android app and one URL for the webbrowser. e.g
`<a href        ="..."
data-app-iOS  ="..."
data-app-android  ="...">`
 So now if I open my web application in a browser and click on the anchor tag, If device is iOS then it will redirect me to iOS app, if device is androi

[2021-08-06 04:02] gskaushal92 commented on #35535
I will have multiple anchor tag  inside amp custom elements. I need to apply deep linking on all the anchor tags. So is this possible in amp?

[2021-08-06 08:08] SimonHogstromRonbol commented on #30949
@kvchari Thank you for looking into this, it looks like chrome has had an update since i filed the issue back in november of last year, that changed its behavior around "chrome-off" as a way to turn off autocomplete specifically for chromes autocomplete.

I've done some testing and i think you are right, this is most likely outside the scope of anything the <amp-autocomplete> component can handle,

[2021-08-06 08:40] sryze opened #35552 "Avg time time on page and bounce rate in Google Analytics"
### Description

Hello,

I have an [AMP page](https://www.upnest.com/re/buysell3) with 2 Google Analytics tags: `googleanalytics` and `gtag`. Both were set up via `<amp-analytics>`.

When I view reports in GA dashboard for Avg Time on Page and Bounce Rate for this page, the values don't look realistic. For example, the average time is about 10 seconds or lower, which is not how our other landing p

[2021-08-06 11:46] swissspidy opened #35553 "Bento: React warnings about incorrect DOM attributes / unrecognized props"
### Description

**Invalid DOM property**

When using a Bento component such as `amp-base-carousel` in React development mode, React will emit lots of console warnings about invalid DOM properties.

The reason for this is the [difference between Preact and React](https://preactjs.com/guide/v10/differences-to-react/#raw-html-attributeproperty-names) in how they treat HTML attribute/property names.

[2021-08-06 12:01] swissspidy opened #35554 "Bento: Consider shipping custom elements via npm"
### Description

While a Bento React/Preact component can be consumed via npm, the custom element version can be loaded from the CDN. For npm, one will be locked to a specific version as per the `package.json`/`package-lock.json` file, whereas the CDN version is evergreen.

When not updating the npm packages frequently, the two versions will get out of sync quickly.

Example: I am building [a Word

[2021-08-06 12:13] swissspidy opened #35555 "Cannot use loop as boolean attribute for amp-base-carousel"
### Description

For components like `amp-video` or `amp-carousel` I can use the `loop` attribute without any value, i.e. `<amp-video loop .../>`.

Relevant spec:

https://github.com/ampproject/amphtml/blob/c491d6f3e767a6749b4e2c003d926111922784b8/extensions/amp-video/validator-amp-video.protoascii#L71-L74

https://github.com/ampproject/amphtml/blob/c491d6f3e767a6749b4e2c003d926111922784b8/extensi

[2021-08-06 14:36] westonruter commented on #35555
Adding the Bento label as this directly impacts the ability of using the React/Preact version: https://github.com/swissspidy/gutenberg-bento/issues/1.

[2021-08-06 15:15] justin-lagtapon-crowdriff opened #35556 "More Story amp-story-consent configuration"
### Description

Our team is looking to implement the amp-story-consent for stories however the default ux is not meeting our standards.  It's potentially forcing us to purchase a supported consent management software just to get the capabilitities.

1. Ability to change the logo on the default UI
2. Ability to not display a logo on the default UI
3. Ability to display more than 1 external link
4.

[2021-08-06 16:23] #26630 closed

[2021-08-06 16:29] #32913 closed

[2021-08-06 16:30] ChrisAntaki commented on #26990
Please feel free to close :+1:

[2021-08-06 16:58] #26990 closed

[2021-08-06 18:06] #35398 closed

[2021-08-06 19:04] westonruter commented on #35553
cc @caroqliu

[2021-08-06 19:25] westonruter commented on #35553
Possibly related to the `loop` attribute: https://github.com/swissspidy/gutenberg-bento/issues/1 and https://github.com/ampproject/amphtml/issues/35555.

[2021-08-06 21:06] vaibhavsingh719 opened #35564 "Error Custom JavaScript is not allowed."
### Description

no problem on my website but showing an error
Error	Custom JavaScript is not allowed.
check this [sheet](https://docs.google.com/spreadsheets/d/1X58Hw-JxsoiMuPqC2XYd3zp1xtOCMJeS9LGtr92lLSk/edit?usp=sharing)

### Reproduction Steps

https://docs.google.com/spreadsheets/d/1X58Hw-JxsoiMuPqC2XYd3zp1xtOCMJeS9LGtr92lLSk/edit?usp=sharing

### Relevant Logs

[code]

### Browser(s) Affecte

[2021-08-06 22:36] #35538 closed

[2021-08-07 22:04] ShahriarKh commented on #2737
How about embedding videos from video-sharing platforms? It will be really useful to be able to change the player CSS so the colors and fonts match the whole page.

[2021-08-08 10:03] #26669 closed

[2021-08-08 10:03] #26667 closed

[2021-08-09 05:24] gskaushal92 commented on #35535
any update on this issue?

[2021-08-09 09:11] swissspidy commented on #35564
Hi there, for questions related to the AMP WordPress Plugin, please ask in the [support forums](https://wordpress.org/support/plugin/amp/) or at the [amp-wp](https://github.com/ampproject/amp-wp) repository.

Note that custom JavaScript is not allowed in AMP, so you would need to remove that.

[2021-08-09 09:17] swissspidy commented on #35535
I suppose [`<amp-app-banner>`](https://amp.dev/documentation/components/amp-app-banner/) comes closest to this

[2021-08-09 13:37] #24881 closed

[2021-08-09 13:39] nguyendev opened #35567 "amp-script does not support creating amp-iframe"
### Description

Hi team,
I need to display an Iframe tag on my website via script. I tried 2 ways but still no success:.
Method 1: Create an iframe tag and hide it, click the button and make it visible.
Method 2: Click the button and then create an iframe tag and display it.

I think, amp-script didn't support creating amp-iframe.
Do we have any solution for this problem?.

Here is my example cod

[2021-08-09 13:48] kalemuw commented on #17878
Closed in #35193

[2021-08-09 14:57] kristoferbaxter commented on #35554
As I understand it, this is currently planned but not yet shipped.

[2021-08-09 15:16] caroqliu commented on #35555
This appears to be a validation error rather than a functional error. Note from this [jsbin](https://jsbin.com/dopejojeli/edit?html,output) that using `loop` attribute without any value is equivalent to enabling it. I'll send a PR shortly to fix our allowed value regex for the validator here.

In terms of the `loop="(min-width: 800px) true, false"` syntax, this should be documented for both versio

[2021-08-09 15:37] mszylkowski commented on #35534
I think it should only get built either when the page for the attachment is loaded, or when the user swipes up (starts the interaction). If users start to interact with the story, the LCP stops being recorded (which is good), while loading the page attachment after the page is loaded will ensure the active page takes precedence. Story pages have `LOADED` events dispatched that we can listen to.

[2021-08-09 15:50] coreymasanto opened #35569 "I2I: Allow amp-form in Story Page Attachments"
### Summary

We are expanding story page attachments to support forms so that readers can submit input fields.

Constraints:
1. To prevent form input from interfering with tappable interactions (e.g., story page navigation), forms will _only_ be allowed within story page attachments.
2. For security purposes, the publisher's domain will automatically be visible in the header of any page attachment

[2021-08-09 16:17] caroqliu commented on #34969
This is closed by #35395

[2021-08-09 16:17] #34969 closed

[2021-08-09 16:19] caroqliu commented on #35554
For reference, #34820 is the first step towards this effort.

[2021-08-09 16:32] #17878 closed

[2021-08-09 20:06] alanorozco commented on #35535
@gskaushal92 You should use `<amp-app-banner>`

[2021-08-09 20:22] samouri opened #35573 "typecheck babel plugins"
### Description
All of our babel plugins are not subject to typechecking, nor were they ever.
The first step is to enable typechecking for the folder while disabling it for all of the extensions.
From there on out, we can separately (and in parallel) enable checking for each plugin.

This GH issue tracks the effort to enable typechecking on them all.
- [ ] babel-plugin-amp-mode-transformer
- [x] b

[2021-08-09 20:52] newmuis commented on #35569
Looks like the cc didn't go through.

/cc @ampproject/wg-approvers
/cc @ampproject/wg-stories

[2021-08-09 21:34] jridgewell opened #35580 "Incomplete test files being found during CI"
### Description

https://github.com/ampproject/amphtml/pull/35500 renamed the `removeAutoplay` to `removeAutoplay_`. In the same commit, there exists https://github.com/samouri/amphtml/blob/363f2bbad12f74d5699451350685e9e6479dfc66/extensions/amp-carousel/0.1/test/test-slidescroll.js, which still references `removeAuotplay` and tries to stub it. This causes a test failure.

The only thing I can thi

[2021-08-09 22:00] jridgewell commented on #35580
No, because it's failing in https://github.com/ampproject/amphtml/pull/35572's [All Unit Tests](https://app.circleci.com/pipelines/github/ampproject/amphtml/14347/workflows/e99aad2f-b276-47df-aa33-0cbc5400eef9/jobs/240377).

I notice that we're using a filelist filter, which makes me think the file isn't being properly found.

[2021-08-09 22:01] rsimha commented on #35580
This is the grep we use for unit tests. Line 104 should've caught both files, right?

https://github.com/ampproject/amphtml/blob/fe9f94ef3174f384ca412f7ea336db71f576ab49/build-system/test-configs/config.js#L100-L106

[2021-08-09 22:04] jridgewell commented on #35580
Yes.

[2021-08-09 22:06] jridgewell commented on #35580
It might be the `describe.only` in https://github.com/ampproject/amphtml/pull/35572/files#diff-9b3676d9c25334e20415c30c03e719b39f4dd075021dea5fc9202bf79432a8fdR906

[2021-08-09 22:10] jridgewell commented on #35580
Confirmed, removing the `.only` when running the test steps properly fails the test. We've been running only the amp-video test suite for over 2 weeks.

[2021-08-09 22:11] rsimha commented on #35580
Oh yes, can confirm this is the cause. We normally have ~12,000 unit tests run across 6 shards of approximately 2000 tests each. The PR build for #35500 ran only ~10,000 tests, with one shard running only [three tests](https://app.circleci.com/pipelines/github/ampproject/amphtml/14137/workflows/7add8090-a32f-4f0e-9b4d-5fd431705dfb/jobs/234990/parallel-runs/5?filterBy=ALL&invite=true#step-114-61),

[2021-08-09 22:15] rsimha commented on #35580
/cc @danielrozenberg @rileyajones Even though sharding wasn't the root cause of this issue, I think it's worth persisting each testing job's `filelist.txt` as part of the job's artifacts so we can inspect it if needed.

[2021-08-09 22:37] jridgewell commented on #35580
This is fixed now that #35572 is merged. I'll leave for you to close given https://github.com/ampproject/amphtml/issues/35580#issuecomment-895587167

[2021-08-09 22:40] rsimha commented on #35580
Glad this is fixed. I can take care of https://github.com/ampproject/amphtml/issues/35580#issuecomment-895587167 separately.

[2021-08-09 22:40] #35580 closed

[2021-08-10 01:43] samouri commented on #35580
Don't we have an eslint rule against merging a `only`? If we don't, should we?

[2021-08-10 06:04] gskaushal92 commented on #35484
@dmanek  any idea when can we get the fix for this issue?

[2021-08-10 12:33] processprocess commented on #35534
I want to confirm that this is a problem and not an edge case we're fixing for the example story.

Would implementing this significantly improve user experience and LCP?

[2021-08-10 14:52] kristoferbaxter commented on #35564
Tried testing this URL for validation and it appears valid: did something change?

https://search.google.com/test/amp/result?id=1sGD1KmPGsZKU4F71OR-EQ

Will close this issue for now, but please reopen or comment if there is more here.

[2021-08-10 14:52] #35564 closed

[2021-08-10 16:16] giovanniiskandar opened #35590 "amp-story-social-share doesn't quite render the correct amp-social-share"
### Description

the `sharedProviders` that's being passed trough `amp-story-social-share` won't be translated quite expectedly in case if we have a non-configured providers in it with `data-share-endpoint` defined.

### Reproduction Steps

`
{
    "bookendVersion":"v1.0",
    "shareProviders":[
      "twitter",
      "pinterest",
      "linkedin",
      "tumblr",
      "email",
      "sms",

[2021-08-10 16:29] dmanek commented on #35484
@gskaushal92 I have the PR out for review. Once it's merged, it should be on rolled out in ~2 weeks.

[2021-08-10 16:30] #35415 closed

[2021-08-10 16:31] mszylkowski commented on #35534
With the publisher https://story.merdeka.com/ seems like most of the stories contain around 50 images and get loaded, but I've checked other stories with page attachments and it wasn't consistent whether the images were loaded from the beginning or not. At least with that publisher (I lab tested with [that story](https://story.merdeka.com/2378675/volume-14)) there was an 18% gain in performance fr

[2021-08-10 16:52] gmajoulet commented on #35534
Regardless of LCP issues, it's an overall performance / UX / waste of user resources issue. We're using way too much bandwidth and CPU before it's actually needed. Potentially prerendering the content of page attachments even.

Your point is valid @processprocess, but in this case I'd argue we should bias our implementation towards performance, and only build/layout/load resources when the page at

[2021-08-10 16:52] processprocess commented on #35569
My 2cents:

I don't think so since it's unrelated to the user action.
I think showing the "Thank you" message in the attachment and letting the user close it manually is good.

I think it could help visually communicate a secure connection so I think it's okay. I wonder if we should show the http:// or https:// prefix in the preview URL also.

[2021-08-10 16:55] #35185 closed

[2021-08-10 18:33] gmajoulet commented on #35569
@processprocess is it ok if the content of the page-attachment is dynamically resized? Will the page-attachment drawer height automatically adapt?

[2021-08-10 18:47] #35441 closed

[2021-08-10 19:13] processprocess commented on #35569
It will adapt automatically:

https://user-images.githubusercontent.com/3860311/128920946-b202168d-41dd-4e74-885a-ec58644e2eba.mp4

[2021-08-10 19:15] #34316 closed

[2021-08-10 20:30] gmajoulet commented on #35590
We should support the following list of attributes: https://amp.dev/documentation/components/amp-social-share/#attributes

cc @ampproject/wg-stories

[2021-08-10 20:49] powerivq commented on #18123
As a starting point, we propose starting allowing this for viewport of at least 1024 pixels wide, and to allow multiple sticky ads on one page (only for screens >1024 wide). We can revisit the limit after launching. @pradeep910

@zewenliang WDYT?

[2021-08-10 23:11] anuvagarg commented on #25045
May I take up this issue?

[2021-08-11 00:28] #26689 closed

[2021-08-11 02:05] giovanniiskandar commented on #35590
guys, would you like to consider moving it up to like p1 or p2 at least? the reason is i can't find any work around for this issue if we're using `amp-story`. since the only way to have share functionality is through this `amp-story-social-share` alone.

in my case, we need to override the `data-share-endpoint` from `whatsapp` lets say. and since there's no way to override the `data-share-endpoint

[2021-08-11 02:24] giovanniiskandar commented on #35590
ohh, the reason of why would i even need to override the whatsapp `shareEndpoint`, is this endpoint `'https://api.whatsapp.com/send'` won't work if my amp page is on webview. it will try to reach that url on the webview and won't reach the app on the phone

[2021-08-11 04:28] newmuis commented on #35590
I'm not certain how soon we'd be able to get around to this, but @giovanniiskandar if you're willing to contribute the code, it would certainly be welcome!  I suspect the code you've provided in the screenshot is correct, and you'd just need to check the attributes listed by @gmajoulet above.

If not, that's okay too; it will get picked up as part of our normal triage process, but that's certainly

[2021-08-11 07:14] #26709 closed

[2021-08-11 13:42] AaronMLB commented on #33340
Hi @kristoferbaxter, I'm currently having a huge problem with hashing that looks like it may be similar to @HuyetCongTu's issue.

Firstly, I'm using PHP - although not WordPress - so have taken the hashing function from the official amp-wp helper library: https://github.com/ampproject/amp-wp/blob/2.1.3/includes/amp-helper-functions.php#L1855-L1866

(I have removed my full real script for now and a

[2021-08-11 14:00] kristoferbaxter commented on #33340
I'm not well versed on the amp-wp project, so I'll add @westonruter in for thoughts.

[2021-08-11 14:08] kristoferbaxter commented on #33340
Here's the relevant example from the AMP Playground.

[code]

Also, while reproducing I noticed this detail:

https://user-images.githubusercontent.com/61764/129043527-d9031a3a-05b8-4b3f-a360-9c4311f2b7e5.mov

Looking into the implementation now, but I believe the contents of the script as evaluated on the client might be different when you include the extra characters of space surrounding the scr

[2021-08-11 14:13] kristoferbaxter commented on #33340
Tested this theory and it appears to be true.

https://github.com/ampproject/amphtml/blob/main/extensions/amp-script/0.1/amp-script.js#L395

JS on the client uses the entire textContents, which includes new line characters and tabs.

<img width="879" alt="Screen Shot 2021-08-11 at 7 10 34 AM" src="https://user-images.githubusercontent.com/61764/129044835-61b25ee9-b170-4a8a-90fb-bc0aca448f3f.png">

[2021-08-11 14:14] #26642 closed

[2021-08-11 14:26] kristoferbaxter commented on #35482
This has been resolved with #35558.

[2021-08-11 15:15] westonruter commented on #14170
Note that this would largely be a non-issue if native non-XHR POST forms were allowed in AMP. See https://github.com/ampproject/amphtml/issues/27638.

[2021-08-11 15:22] AaronMLB commented on #33340
Right! So PHP is stripping out the whitespace before calculating the crypt, whilst JS includes it. Definitely an odd mismatch of behaviours there.

I did have a look at the whitespace earlier this morning but got the impression the hash AMP was showing was _not_ including it.

I've ended up forcing a fix by stripping ```\t``` and ```\r``` from the ```$script``` **before** either echoing it into th

[2021-08-11 15:59] jridgewell commented on #33340
This shouldn't be necessary. The only issue is the newlines you had around the `<script>`'s contents:

[code]

This is effectively adding `'\n' . $script . '\n'` into the HTML, and the `hash('sha384', $script, true)` will never match that.

[2021-08-11 16:07] AaronMLB commented on #33340
No luck with that I'm afraid @jridgewell. I'd tried earlier today (and again now, to check my sanity) with both new lines and not, and it's not playing ball.

Current code:
[code]

AMP:
[code]

PHP (without stripping \t or \r):
[code]

[2021-08-11 16:45] github-actions[bot] opened #35615 "Design Review 2021-09-02 00:00 UTC (Asia/Oceania)"
Time: [00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=09&day=02&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210902T000000Z/20210902T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-08-11 17:31] sanggonlee commented on #35556
Just to add to this, even just an ability to hide the logo would be a huge win for us.

We can open a pull request if you don't mind a hand.

[2021-08-11 17:32] #35218 closed

[2021-08-11 17:58] #35555 closed

[2021-08-11 18:58] jridgewell commented on #33340
I played around with this, and I think I've narrowed it down to just the `\r` char. When HTML is parsing, it normalizes `\r` and `\r\n` into a single `\n` char, which affects the hashing. If I do a `replace(/\r/g, '')` on the script before hashing and printing into the HTML, it works correctly. Sorry for the confusion!

https://glitch.com/edit/#!/sprinkle-intermediate-pawpaw?path=server.js%3A13%3A

[2021-08-11 19:39] calebcordry opened #35622 "🚄 Release tracking issue for release `2108052321000`"
### Release Version

`2108052321000`

### Previous Release Version

`2107302322000`

### Release Progress

This issue tracks release [`2108052321000`](https://github.com/ampproject/amphtml/releases/tag/2108052321000). See [new commits](https://github.com/ampproject/amphtml/compare/2107302322000...2108052321000) since the previous Stable channel release.

- [x] Release `2108052321000` promoted to E

[2021-08-11 19:41] processprocess opened #35623 "[Amp story] Remove desktop 3 panel UI and associated code."
Remove all code related to 3 panel desktop UI including viewport warnings.

[2021-08-11 20:30] powerivq opened #35626 "I2I User agent client hint macro"
### Summary

This issue proposes to add a few macros utilizing user agent client hint using `getHighEntropyData` API, available on Chrome-like browsers.

### Design Document

Define the following macros, whose values are determined by [UACH](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorUAData/getHighEntropyValues)

- UACH(variableName)
- For analytics, uach(variableName)
-

### Motiva

[2021-08-11 20:51] #34479 closed

[2021-08-11 20:51] #35267 closed

[2021-08-11 21:09] gmajoulet commented on #35590
+1 to what @newmuis, happy to help you if you decide to write this code yourself. [This guide](https://github.com/ampproject/amphtml/blob/main/docs/contributing-code.md) is a good place to get started.

You should be able to configure your webview to decide where URLs should open, if that solves your issue.

[2021-08-11 21:15] gmajoulet commented on #33293
Last item before closing this ticket: let's remove the dead code.

[2021-08-11 22:34] philn5d-ar opened #35632 "Polyfills Throwing Uncaught Exceptions in Safari 11.1"
### Description

2 Polyfills seem to be the cause of thousands of uncaught exceptions.  These end up swamping our logs making it difficult to track other problems.

1. `TypeError: setTimeout is not a function` position-observer.js:116
2. `TypeError: undefined is not an object (evaluating 'Math.round')` intersection-observer.install.js:786

Both are quite shocking but also both point to ampproject

[2021-08-11 22:51] honeybadgerdontcare commented on #26764
They have made several more releases that are not deprecated, current is 1.8.12.

[2021-08-11 22:51] #26764 closed

[2021-08-12 01:24] #35337 closed

[2021-08-12 01:34] kristoferbaxter commented on #33340
Sounds like we've found the root cause, I'll close this issue but try to update the documentation to call this out more clearly.

[2021-08-12 01:35] #33340 closed

[2021-08-12 02:17] kristoferbaxter commented on #35632
Adding @jridgewell and @powerivq to the issue.

Marked as P1 for triage, but this might be higher priority.

[2021-08-12 05:38] #25642 closed

[2021-08-12 05:38] #26458 closed

[2021-08-12 05:38] #25865 closed

[2021-08-12 05:38] #25753 closed

[2021-08-12 05:38] #26686 closed

[2021-08-12 13:19] giovanniiskandar commented on #35590
understand @newmuis @gmajoulet
sure, it seems like a minor adjustment, i'll give it a shot.
what should i do now? should we like mark this issue as in progress or something while i'm taking a look on the guide

[2021-08-12 13:30] giovanniiskandar commented on #35590
it doesn't quite completely explained here, for the pre-configured one, are the base attributes allowed to be overriden?
https://amp.dev/documentation/components/amp-social-share/#attributes
`
"shareProviders":[
      "twitter",
      {
        "provider": "whatsapp",
        "data-share-endpoint": "https://www.google.com"
      }
    ]`

let's say this is the JSON, should the `data-share-endpoint

[2021-08-12 13:41] gmajoulet commented on #35590
We should be consistent with what non Story AMP does. I don't really see a need to override the `data-share-endpoint` if it's already pre-configured though?

[2021-08-12 13:49] giovanniiskandar commented on #35590
hmm i see, i agree on that point. it need additional handler tho, cos on the initial implementation, it doesn't correctly generate attribute `data-share-endpoint` and generates `data-param-data-share-endpoint` instead. so this 'accidentaly' prevent the user to override `data-share-endpoint` from the JSON passed

[2021-08-12 13:51] gmajoulet commented on #35590
The PR you sent looks good to me : )) Let's address the one comment about backwards compatibility and move forward with it. Thank you for contributing! We really appreciate the help

[2021-08-12 13:59] giovanniiskandar commented on #35590
Hmm wait, i found another issue. now that we could provide the non-configured one and pass the `data-share-endpoint`, it's complaining about the custom type doesn't have any localized string id
![image](https://user-images.githubusercontent.com/49144361/129210060-46516342-f5e3-4aa2-99e9-83bdc76e4644.png)
![image](https://user-images.githubusercontent.com/49144361/129210120-29a81591-3faf-4dc1-bd93-

[2021-08-12 14:16] giovanniiskandar commented on #35590
ohh i think i get it. i'll update the PR after getting my dinner

[2021-08-12 14:27] LuckynaSan opened #35638 "Option to turn off or change the Stories background/shadow color"
### Description

As a user, I want the ability to turn on/off the story's shadow background color, or the ability to set the color on each page's shadow.

![image](https://user-images.githubusercontent.com/66372350/129214277-b5871286-e94c-4a52-a373-83ee49fbad67.png)

### Alternatives Considered

N/A

### Additional Context

This was requested by a Web Stories user: https://wordpress.org/support/to

[2021-08-12 14:46] giovanniiskandar commented on #35590
i've updated the PR, it's now showing the non-configured one without error, yea
![image](https://user-images.githubusercontent.com/49144361/129217677-84385c2d-c439-4931-babe-d5ee661897fb.png)

[2021-08-12 15:41] samouri commented on #35632
@powerivq: we support down to 8.0: https://amp.dev/support/faq/supported-browsers/

[2021-08-12 15:59] LuckynaSan opened #35640 "Pause button on story player not functional"
### Description

Actual results:
The pause button on the stories player does not pause the story on click.
Clicking space to pause the story does not display the play button.
The pause button does not appear until the space bar has been clicked.

Recording: https://jmp.sh/mIq8KFb

Expected results:
The play/pause button should display by default and should be functional.

Web Stories v1.10.0
WordP

[2021-08-12 17:00] processprocess opened #35641 "🌸 Cherry-pick request for #35639 into #2107302322000 & 2108052321000"
### Issue (P0 Bug)

#35639

### Pull Request(s)

#35639

### Release Tracker(s)

#35504 #35622

### Channels

Stable

### Formats

Stories

### Justification

Web stories do not load on iPad Safari and the following error is thrown:
<img width="972" alt="Screen Shot 2021-08-12 at 11 17 58 AM" src="https://user-images.githubusercontent.com/3860311/129236559-9bf43175-4888-4996-90c7-ad8f06c2c671.png"

[2021-08-12 17:01] kristoferbaxter commented on #35641
Approved. Can we also add some further testing and potentially a linting rule for this in the future?

[2021-08-12 17:46] calebcordry commented on #35641
Just to be explicit, we need to pick into `2107302322000` (prod) & `2108052321000` (opt-in) correct?

[2021-08-12 17:54] processprocess commented on #35641
Yes! thank you for confirming Caleb.

[2021-08-12 18:03] processprocess commented on #35638
Thanks for filing this @LuckynaSan and reporting this from the WP support page.

We've been discussing this feature and this user feedback is very helpful for thinking about next steps.
I'll share this with the team and will post any updates here.

cc @hongcatlover

[2021-08-12 20:05] #20848 closed

[2021-08-12 20:05] #21500 closed

[2021-08-12 22:32] jerimiahwelch opened #35655 "AMP.printState no longer working with #development=1 hash"
### Description

AMP.printState() no longer working with #development=1 hash

### Reproduction Steps

1. Go to https://www.bedbathandbeyond.com/amp#development=1
2. type AMP.printState() in the console

Expected behavior

1. AMP state will display in the console

Actual behavior
1. Undefined is displayed in the console

<img width="642" alt="Screen Shot 2021-08-12 at 3 29 00 PM" src="https://user-

[2021-08-12 22:34] jerimiahwelch commented on #35655
An additional Example:

https://amp.luckyvitamin.com/#development=1
<img width="660" alt="Screen Shot 2021-08-12 at 3 33 59 PM" src="https://user-images.githubusercontent.com/1224514/129278447-929f4c1f-835e-4eae-83a1-d72b8f6f5b3e.png">

[2021-08-13 00:24] #26572 closed

[2021-08-13 02:02] kristoferbaxter commented on #35655
This is likely related to these sites using the mjs build which removes this feature to keep bundle sizes smaller.

A workaround would be to use a local development environment instead.

[2021-08-13 02:59] MadisonMiner commented on #35655
@kristoferbaxter,

The above examples are using the standard `https://cdn.ampproject.org/v0.js`, and are not SSR'd. I do not see any .mjs files being downloaded. (I do see .mjs files on SSR'd pages BTW: https://www.bedbathandbeyond.com/amp/wm-optimized/#development=1)

Here is another example:
https://providence-gcnstage.ampify.wompmobile.com/our-services/urgent-care/expresscare-interstate#develop

[2021-08-13 04:57] acaroselli1 commented on #26424
core.js:6006 ERROR Error: Uncaught (in promise): Error: [Parchment] Unable to create [object HTMLDivElement] blot
Error: [Parchment] Unable to create [object HTMLDivElement] blot
    at new ParchmentError (quill.js:148)
    at Object.create (quill.js:178)
    at new Quill (quill.js:1153)
    at ngx-quill.js:324
    at ZoneDelegate.invoke (zone-evergreen.js:368)
    at Zone.run (zone-evergreen.js:1

[2021-08-13 07:46] hisureshkumar commented on #34491
This is still not resolved and the problem exists. Is there any update on this?
    On Tuesday, June 29, 2021, 03:12:14 AM GMT+5:30, ericfs ***@***.***> wrote:

Filed Google internal: b/192285255

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-08-13 08:46] hisureshkumar commented on #34491
I did further investigation which can help Github team to help me here.
1) I visited one of the webpage on google search through iphone-112) I clicked and holded the URL on search result which provides me an option to "Copy URL"3) The URL is having an error.Original URL should have been: https://myinvestmentideas.com/2021/01/top-best-mutual-funds-to-invest-through-sip-india/
URL On google Search R

[2021-08-13 09:11] hisureshkumar commented on #34491
FINALLY FINALLY FINALLY, I found a solution for AMP pages not loading on iphone only.
I have added below code in HTACCESS file in wordpress on top. 
RewriteCond %{REQUEST_URI} !amp [NC]RewriteCond %{REQUEST_FILENAME} !-fRewriteCond %{HTTP_USER_AGENT} iPhone|Mobile [NC]RewriteRule (.*)$ https://%{HTTP_HOST}/$1/amp/ [L,R=301]
Now when I type myinvestmentideas as an example in google search app in ip

[2021-08-13 12:00] kristoferbaxter commented on #35655
Interesting! Can take a look to see what happened here.

Am out today, so perhaps @samouri could look?

[2021-08-13 14:32] processprocess opened #35659 "[Amp story] Resolve ScreenOrientation lock `Illegal invocation` error on Chrome"

[2021-08-13 14:34] mangesh commented on #35467
Just a friendly reminder. Do we have any updates on this?

[2021-08-13 14:34] processprocess commented on #35641
The fix is verified in prod and beta.
The `Illegal invocation` error is still throwing in Chrome desktop but it doesn't appear to be breaking the experience.
<img width="1044" alt="Screen Shot 2021-08-13 at 10 27 44 AM" src="https://user-images.githubusercontent.com/3860311/129372792-e4325664-e990-4069-aa5d-ca429a7c2b7e.png">
I'll look into fixing that in a separate PR. Filed #35659 for tracking

[2021-08-13 14:36] processprocess opened #35660 "[Amp story] [desktop one panel] Header positioning bug on iPad"

[2021-08-13 14:46] samouri commented on #35655
I've personally never seen `AMP.printState` work correctly, even going back a few years. I'll investigate

[2021-08-13 14:51] processprocess commented on #35660
cc @hongcatlover

[2021-08-13 14:58] #35474 closed

[2021-08-13 15:56] nicjansma opened #35663 "amp-analytics: Allow for optional"
### Description

Hi,

In `amp-analytics` today, any variables that you request on a beacon will "hold" the beacon from being sent until all of the variables are resolved:

https://amp.dev/documentation/components/amp-analytics/#vars

Unfortunately, "resolving" of some of the variables may depend on whether that event happens, or even whether the browser supports that feature.

For example, we (Aka

[2021-08-13 18:35] dmanek commented on #35484
Closing this issue since it's been fixed by PR #35449.

This issue is caused due to amp-img within amp-carousel having `display: flex` causing it not to display since the container div's height is 0. In PR #35449 we preserve the wrapper element which allows amp-img to have height > 0.

[2021-08-13 18:35] #35484 closed

[2021-08-13 19:11] rcebulko opened #35674 "I2D: mode.isLocalDev"
The code looks like this:
[code]

It's basically always used like `mode.isLocalDev(win) || mode.isTest(win)`
I can't think of any environment where `isProd()` is false that `isLocalDev` should also be false. This is causing challenges with testing/running Bento components, since `AMP_CONFIG` isn't available.

Can we drop this entirely and replace all calls with `!mode.isProd()`?

[2021-08-13 19:12] rcebulko commented on #35674
/cc @jridgewell @samouri @erwinmombay @ampproject/wg-components

[2021-08-13 19:44] caroqliu opened #35676 "Bento Tracking Issue: 3p Iframe Support"
### Description

[Building a Bento Iframe Component](https://github.com/ampproject/amphtml/blob/main/docs/building-a-bento-iframe-component.md) outlines how to build components in the Bento paradigm which use either an iframe directly or a proxy iframe for 3p embeds. There are a few AMP contributor and devX pain points with the current model. This is a tracking issue to organize the efforts so tha

[2021-08-13 19:48] jridgewell opened #35677 "Add a post-dist test to ensure amp-geo contains {{AMP_ISO_COUNTRY_HOTPATCH}}"
### Description

Inspired by https://github.com/ampproject/amphtml/pull/35654, I wanted to see if we could remove all other `toLowerCase()` calls by lowercasing the `COUNTRY` variable (which is hot-patched by servers when serving):

[code]

Looks good. But now when we run `amp dist --extensions=amp-geo` and inspect the output, we get:

[code]

Closure/terser has optimized a known constant `'{{AMP_

[2021-08-13 20:09] caroqliu opened #35678 "Bento Tracking Issue: React/Preact compatibility"
### Description

There are some nuances in React and Preact compatibility we need to address to ensure our Bento components written in Preact are well built in React for their releases. At the very least, there should be no warnings when running our components in React development mode. This is a tracking issue for the effort in doing so.

- [x] `react.Fragment` and `preact.Fragment` are not the s

[2021-08-13 20:42] jridgewell commented on #35632
When going to the site, I just get an access denied:

![20210813_20_42_22_safari_11](https://user-images.githubusercontent.com/112982/129416394-191bf17b-9257-48ed-87db-fc0021056847.png)

[2021-08-13 21:54] jridgewell commented on #35485
Given many people will need to update their servers to use the new optimizer transforms, I think we should also solve this in Runtime.

The issue is the race between DOM parsing, and the `connectedCallback` firing for our CE. During `connectedCallback`, we [call](https://github.com/ampproject/amphtml/blob/07771ad684334ee96894f70a8ea7f839c738a8a3/src/custom-element.js#L1194-L1197) [`applyStaticLayo

[2021-08-14 07:12] #26692 closed

[2021-08-15 00:57] LincolnCannon commented on #35262
Has the change been approved?

[2021-08-15 01:42] kristoferbaxter commented on #35485
What's the trade off in making client side apply changes for invalid server output?

Perhaps I am reading this incorrectly, but if the server was rendering as expected this issue wouldn't occur... correct?

This could be a "optimized" versus generic solution if the cost is high to include in the client.

[2021-08-15 14:51] nguyendev commented on #35567
Hi team,
Can you check this error?

[2021-08-15 15:51] #4508 closed

[2021-08-15 15:51] #26812 closed

[2021-08-15 15:51] #26821 closed

[2021-08-16 07:40] klipstein commented on #30385
@skibi123 as far as I understand the AMP consent implementation: there is no "loading" or "incomplete TC Data" state and therefore it is not possible to call addEventListener. I would recommend to block the third party component with `data-block-on-consent="_till_responded"` so that your code will only be loaded when a user interacted with the CMP.

[2021-08-16 07:41] klipstein commented on #30385
@micajuine-ho when will the referenced pull request #34954 be merged?

[2021-08-16 11:34] fredsh2k opened #35684 "amp-analytics appsflyer vendor getting 404"
### Description

i've implemented a basic html page with amp-analytics tag and appsflyer as a vendor
I get 404 when looking at dev tools network calls

appsflyer vendor config was recently merged to amphtml repo
https://github.com/ampproject/amphtml/blob/main/extensions/amp-analytics/0.1/vendors/appsflyer.json

why can't i access this config via `<amp-analytics type="appsflyer" id="appsflyer">`?

[2021-08-16 15:42] rcebulko commented on #29043
Could we bump up the priority of investigating this? It's reporting on the order of ~1.7 million occurrences daily, nearly 10x the nearest error, and pushes our Stable channel error rate past the auto-alerting threshold.

[2021-08-16 15:48] fredsh2k commented on #35684
explanation: it's in the `nightly` build, but not yet in `beta` or `stable`

https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/

Beta (404): https://cdn.ampproject.org/rtv/032108052321001/v0/analytics-vendors/appsflyer.json
Nightly (OK): https://cdn.ampproject.org/rtv/032108132216000/v0/analytics-vendors/appsflyer.json

[2021-08-16 15:48] #35684 closed

[2021-08-16 17:03] LuckynaSan opened #35689 "Implement Ads between Web Stories"
### Description

Currently, Ads display between Web Stories pages. Could we look into implementing ads between Web Stories?

### Alternatives Considered

N/A

### Additional Context

Related support topic: https://wordpress.org/support/topic/ads-not-appearing-between-web-stories/

Web Stories tracking ticket: https://github.com/google/web-stories-wp/issues/8704

[2021-08-16 17:03] honeybadgerdontcare commented on #35262
The change has been approved and submitted. However it is not in all production systems yet, but it may be worth trying and noting here if you still see the issue.

[2021-08-16 18:25] samouri commented on #35655
According to the provided timeline, the bug must have occurred between versions `2107240354000` and `2107302322000` ([commit log](https://github.com/ampproject/amphtml/compare/2107240354000...2107302322000)).

While this bug isn't reproducible in local development, I've isolated the bug to a faulty refactor in https://github.com/ampproject/amphtml/pull/35294. Instead of only transforming `.develop

[2021-08-16 18:41] swissspidy commented on #35689
Note for the team: this relates to amp-story-player

[2021-08-16 18:50] #35641 closed

[2021-08-16 19:22] sergunich commented on #8961
Hi @zhouyx!

I believe the original issue hasn't been solved actually.

Probably this fixed hiding/showing one particular amp-sticky-ad component, but the issue reporter (as well as @jpettitt) wanted _to **select** an ad **based on the device size** (eg 320x50 on a small width vs 728x90 on a larger screen)_ not just hide the component. And this is currently forbidden by the spec if I understand co

[2021-08-16 19:53] LincolnCannon commented on #35262
Thanks! I really appreciate the help you have all provided.

Just test it. It's still redirecting. I'll test again in a few days and report back.

[2021-08-16 20:01] LuckynaSan commented on #32862
+1 request: https://wordpress.org/support/topic/how-do-i-turn-off-the-sharing-function-in-the-upper-right-corner/

[2021-08-16 21:10] samouri opened #35694 "Allow iterator polyfill"
### Description

df

### Alternatives Considered

df

### Additional Context

df

[2021-08-16 23:05] samouri commented on #35694
After local testing, I think `prefer-destructuring` is optional and we can update at our leisure.

`no-unused-privates` does not need any updating

[2021-08-16 23:51] jridgewell commented on #35694
This won't catch uses like `[this.#foo] = [1]`. Honestly, we should just ban any patterns that don't use `Identifier`.

[2021-08-17 00:05] samouri commented on #35694
Sure. That sounds like a new eslint rule though

[2021-08-17 10:14] giovanniiskandar commented on #35590
hi @gmajoulet, please remember to check my latest update on the PR when possible

[2021-08-17 12:22] mangesh commented on #35467
In our Design Review meeting, we discussed having a global AMP action for copying the content into the clipboard, are we still considering having that action instead of the Bento component?

[2021-08-17 15:42] samouri commented on #35694
On closer inspection, doesn't it still work? The case you just highlighted is about using an ArrayPattern to assign to a property. I think we'd want to throw when only seeing a private only used as an lvalue

[2021-08-17 17:31] rsimha opened #35704 "Consider renaming the `--compiled` flag used by AMP testing tasks"
### Description

AMP's testing tasks that require a fully built runtime currently use the `--compiled` flag to indicate minified JS (vs. unminified). This is a relic of the early days of the project when the two modes were "closure-compiled" vs. "babel-transformed". Today, this distinction has lost most of its meaning because we run babel transforms for both flavors.

I propose that we rename the

[2021-08-17 17:34] samouri commented on #35704
My vote is for `minified`, for all the reasons you listed.

[2021-08-17 17:42] samouri commented on #35427
As this feature was likely created to guard against issues in a normal form flow, we should likely guard this feature behind a new attribute.  Something like `<form allow-multiple-inflight-submits>`. It is a bit wordy, feel free to bikeshed the name.

Changes required:
- Update the validator spec to allow for this new attribute `allow-multiple-inflight-submits` [validator-amp-form.protoascii](http

[2021-08-17 17:58] cathyxz commented on #25045
Please do. =)

[2021-08-17 18:25] powerivq commented on #18123
@AnuragVasanwala Here is our plan for these ad formats.

[2021-08-17 18:30] samouri commented on #35427
@sarmadhashmi would you like to take a stab at this?

[2021-08-17 18:40] sarmadhashmi commented on #35427
Thank you for the detailed outline @samouri!

Yes, I'll take a look at implementing this.

[2021-08-17 18:49] #35655 closed

[2021-08-17 19:00] jerimiahwelch commented on #35655
Thank you for the quick Fix.

We are really glad to have this back.

[2021-08-17 19:09] powerivq opened #35708 "Ads no signing throwing"
### Description

[code]

### Reproduction Steps

`amp unit --files=extensions/amp-ad-network-doubleclick-impl/0.1/test/test-amp-ad-network-doubleclick-impl.js` would trigger that.

### Relevant Logs

_No response_

### Browser(s) Affected

_No response_

### OS(s) Affected

_No response_

### Device(s) Affected

_No response_

### AMP Version Affected

_No response_

[2021-08-17 19:10] #35704 closed

[2021-08-17 20:13] rileyajones commented on #35405
This seems to have been resolved by #35672 and #35671

[2021-08-17 20:13] #35405 closed

[2021-08-17 20:40] mszylkowski opened #35709 "[Story layout] Remove runtime grid-layer classes by changing selectors to attribute selectors"
### Description

On the runtime there are multiple classes that get added according to the `amp-story-grid-layer[template]` attribute, but they don't provide any extra specificity or enforces styling (since they use `!important` anyways).

We want to use the `template` attribute as the CSS selector again, so that we can prestyle the story document using those selectors directly (before amp-story.j

[2021-08-17 20:58] newmuis commented on #32862
Enabling embed modes in the player would allow for this, which is currently tracked as part of #26308.

[2021-08-17 21:07] samouri commented on #35655
Thank you @jerimiahwelch for reporting it!

[2021-08-17 21:13] jridgewell commented on #35694
It doesn't detect that it's being written, it thinks it's being read. Which will incorrectly flag the field as being used.

[2021-08-17 21:23] phantomesse commented on #18587
Hey! Is there any update on implementing pinch/zoom in amp stories?

[2021-08-17 21:51] jridgewell commented on #35485
2 lines of code, it's extremely simple. Because of backreferences in compress, it might be 20 bytes. It might cause some CLS, but the failure mode is display nothing at all which I think is worse.

Correct.

[2021-08-17 22:06] emilysfny opened #35711 "Page experience issue"
Everything is ok... but still core web vitals not shows green... here is the test results:
[code]
Using legacy Reader theme, everything was perfect, 1-2 weeks back some update thereafter all good urls drops to zero...

[2021-08-17 22:21] swissspidy opened #35712 "Render timeout waiting for service amp-story-render to be ready"
### Description

Previously: #30783

Originally reported here: https://github.com/google/web-stories-wp/issues/8718

A user of the Web Stories WordPress plugin reported issues with the loading of `amp-story-player` on their site.

Figured it might be an issue with the player itself and not the plugin, so reporting it here.

### Reproduction Steps

1. Go to teacherph.com
1. Right-click anywhere on

[2021-08-18 00:57] newmuis commented on #18587
No update on pinch/zoom; we are, however, exploring ways to [pan media across multiple story pages](https://github.com/ampproject/amphtml/issues/31315), which will launch soon!

[2021-08-18 00:57] newmuis commented on #18587
/cc @jingfei

[2021-08-18 01:17] #26834 closed

[2021-08-18 05:40] anuvagarg commented on #25045
Done! Please check.

[2021-08-18 08:10] AnuragVasanwala commented on #18123
Sounds good. I have added CSS size restriction for `gutter-ad` into [🧪 Experimental PR](https://github.com/ampproject/amphtml/pull/35216/commits/f08872a43ca85d9d9df8b5cf68d82c99e724c800). I am soon planning to add size restriction into `amp-ad` component itself so that it won't render on devices having viewport less than `1024` pixels wide.

[2021-08-18 12:39] kristoferbaxter commented on #35485
Makes sense, thanks.

Can we document this behavior as well so implementors can avoid the shift via Bento Compiler?

[2021-08-18 15:43] AaronMLB commented on #23560
This would be extremely useful if it could be finished and rolled out. Between some of the comments and the existing ```amp-bind``` ```AMP.pushState()``` functionality it appears many of the fundamentals have been tackled.

Any chance of being re-prioritised, please? It feels like one of those small steps that actually would make AMP that larger step more usable and comprehensive in the real world

[2021-08-18 16:10] prosarmientolou opened #35718 "AMP-Youtube Placeholder Image Doesn't Work?"
### Description

Hi!

Is there a way to lazy load a youtube video? The problem with youtube video is it drops pagespeed mobile score more than 30points. I was thinking using a placeholder image would act as a lazy loading of some sort. Unfortunately it does not.

Can you make it so that the video will only appear after clicking the play button and will only display the placeholder image initially?

[2021-08-18 16:46] github-actions[bot] opened #35720 "Design Review 2021-09-08 15:30 UTC (Africa/Europe/western Asia)"
Time: [15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=09&day=08&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210908T153000Z/20210908T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekly en

[2021-08-18 16:46] #35439 closed

[2021-08-18 16:52] caroqliu commented on #35467
If I recall correctly, the AMP action approach for providing copy to clipboard was preferred from the discussion. If there is a particular reason that a Bento component approach would be preferred, such as to render a default icon, that may be worth considering, but I don't see that use case mentioned here.

Given that implementing copy-to-clipboard in non-AMP environments is relatively straight f

[2021-08-18 18:09] #34314 closed

[2021-08-18 18:39] #35067 closed

[2021-08-18 18:57] estherkim opened #35729 "tracker: migrate release tagger to GitHub"
Features:
- [ ] Create release for beta, cherry-picks
- [ ] Publish release for stable, lts, cherry-picks
- [ ] Mark release as rolled back for rollbacks
- [ ] Add labels to PRs for beta, stable, lts, cherry-picks
- [ ] Remove labels from PRs for rollbacks
- [ ] Create release channel tracker comment on PR merge
- [ ] Update release channel tracker comment for beta, stable, lts, rollback

PRs:
- h

[2021-08-18 19:06] samouri commented on #34317
cc @alanorozco who was interested in using `sinon` to stub the `Services` namespace

[2021-08-18 20:06] mangesh commented on #35467
Yes, but it was not confirmed in the meeting. The decision was pending. If we use AMP action, we need to consider the CSS classes which will get assigned to the HTML element (e.g `success` when content is copied or `error` when copying to the clipboard is not supported).

Do you think it will be possible to update those classes with the AMP action approach? If yes, the AMP action approach will be

[2021-08-18 20:27] mangesh commented on #34291
To fix this issue, we are thing about adding adblocker detection in `amp-ad` component. If the adblocker is detected we will simply show the fallback content. Should we go with this approach?

[2021-08-18 20:52] westonruter commented on #20609
Reopening since it has re-arisen as a need.

I've been watching a [Gutenberg issue](https://github.com/WordPress/gutenberg/issues/21584) for an Accordion block with the thought that it could be a good fit for the `amp-accordion` Bento component. Three points were raised as requirements (https://github.com/WordPress/gutenberg/issues/21584#issuecomment-900372945):

1. Graceful degradation when JS is

[2021-08-18 20:59] westonruter commented on #20609
Reopening since it has re-arisen as a need.

I've been watching a [Gutenberg issue](https://github.com/WordPress/gutenberg/issues/21584) for an Accordion block with the thought that it could be a good fit for the `amp-accordion` Bento component. Three points were raised as requirements (https://github.com/WordPress/gutenberg/issues/21584#issuecomment-900372945):

1. Graceful degradation when JS is

[2021-08-18 21:07] caroqliu commented on #35467
Can you tell me more about the CSS classes? Could we for instance also expose events to cover this interaction? Since `toggleClass` is an action, I can imagine an API like this:
[code]

You could also have a button that copies the `textContent` from something else:
[code]

Note that the `copySuccess` event would (in this example, at least) fire on the target element for `copyToClipboard`. Maybe it

[2021-08-18 21:14] Gregable commented on #20609
Allowing `<noscript><style amp-custom>...</style></noscript>` is different than allowing an external CSS file. Do we need the custom version or just the external `.css` file?

[2021-08-18 21:31] westonruter commented on #20609
I think the only need is for `noscript > style[amp-custom]`. The Bento example I gave for `noscript > link` would be for hand-authored non-AMP pages so it's not relevant for the validator.

For AMP pages, there is the similar existing Optimizer logic for the runtime CSS. The [`AmpBoilerplateTransformer` adds](https://github.com/ampproject/amp-toolbox/blob/6f465eb24b05acf74d39541151c17b8d8d97450d/p

[2021-08-18 23:57] #35626 closed

[2021-08-19 02:53] raindropsinfotech opened #35738 "Urgent help needed - getting blank AMP page, while crawling pages from google search engine in any mobile browser"
Please.. Please Help me..  we are in SERIOUS TROUBLE..

I followed the update cache and all other docs found on google but none of them help me wisely.. here is my problem, I had created AMP website for one of my client who is IVF doctor, and while searching in http://google.com like "dr malpani insemination kit" and clicking on search result we are getting blank page because of google amp cache,

[2021-08-19 03:40] samouri commented on #35655
FYI @jerimiahwelch: you should be able to temporarily work around the issue until the fix hits stable by entering `AMP.setLogLevel(5)` in the console

[2021-08-19 03:59] samouri commented on #35738
@raindropsinfotech, sorry you've been running into trouble. I'm not an expert on our caching infrastructure, but one thing I know happens is that during ingestion we reparse and serialize the provided HTML. This ensures it renders identically across all browsers instead of allowing html parse..but it does require that the provided document is reasonably sound.

If you look at the AMP Cache version

[2021-08-19 04:02] raindropsinfotech commented on #35738
@samouri thanks for the quick answer let me check this and get back to you

[2021-08-19 04:07] samouri commented on #35711
@emilysfny: I'm unfamiliar with that message, can you let me know where it came from? Is this related to the [AMP WordPress Plugin](https://github.com/ampproject/amp-wp)?

[2021-08-19 04:50] jridgewell commented on #35738
I can [isolate](https://output-jsbin-com.cdn.ampproject.org/c/s/output.jsbin.com/rekotez/11/quiet) ([original](https://output.jsbin.com/rekotez/11/quiet)) it down to the missing `</ul>` tags:

[code]

Our HTML parser isn't popping the `<ul>` from the tag stack when it encounters the `</nav>`. This is a bug in our parser.

A fix will take a few weeks to be deployed, but you can quickly fix on your

[2021-08-19 05:16] raindropsinfotech commented on #35738
@samouri LOVE YOU LOVE YOU LOVE YOU.. Millions of love from your Indian brother, you have solved my issue.. amazing.. amazing.. thanks..  TONS OF THANKS...

[2021-08-19 07:30] #26827 closed

[2021-08-19 09:43] kaorukigoshi opened #35739 "amp-subscriptions: Render SwG button when "isAccessibleForFree" is "true"."
### Description

When `"isAccessibleForFree"` is `"true"` in JSON-LD markup, SwG button will not be rendered.
We would like to use it in free pages as well.

### Alternatives Considered

Navigating users to html page or paywalled page.

### Additional Context

_No response_

[2021-08-19 14:19] #30461 closed

[2021-08-19 14:32] samouri commented on #35694
I'm going to descope `prefer-destructuring` and say once `unused-private-field` is updated that this issue can be closed.

[2021-08-19 15:15] samouri commented on #24232
@honeybadgerdontcare: is this difficult to implement? it seems like a good idea

[2021-08-19 16:29] heydarkatz commented on #34795
@gmajoulet @micajuine-ho
Hi folks, did you get any new information from GA?

Thanks!

[2021-08-19 16:41] swissspidy opened #35741 "Bento: Errant `bent` statement breaks component"
### Description

Eager to test the new enhancement in #35446, I updated the `@ampproject/amp-base-carousel` npm package to the latest version (`1.2108190446.0`) only to find out that it's now totally broken.

Both the Preact and the React components have `bent` on their first line, causing `ReferenceError: bent is not defined` errors when trying to use them.

For reference, here are the first 7 li

[2021-08-19 16:42] mangesh commented on #35467
Thank you for the detailed reply. This approach makes more sense. Let me give it a try. Let me check the feasibility of this approach and I will get back to you.

[2021-08-19 17:57] Gregable commented on #35738
I'm going to leave this open for now and ask @amaltas or @honeybadgerdontcare to look into whether or not the cache is parsing this correctly. Since there is a successful workaround, this isn't high priority, but it is something I don't want to lose.

[2021-08-19 18:22] trivedi opened #35743 "Pass cookie values to amp-analytics"
### Description

I'd like to pass a cookie value to our in house analytics platform.

One thuoght was just adding a new substitution variable that can be used in the url. This would be similar to how `clientId` works at the moment.

So ideally, we could do something like:

url: `https://inhousetracking.com/tracking?${ampCookie('cookieName')}`

### Alternatives Considered

There is a way to use lin

[2021-08-19 20:02] jerimiahwelch commented on #35655
Thanks @samouri , that is really helpful

[2021-08-20 16:57] lautarorodriguezmrf opened #35753 "Race condition in amp-cid-backup experiment deleting parts of the amp-store entry in localStorage"
### Description

There seems to be a race condition when restoring client ids using the amp-cid-backup experiment. When using more than a given amount of variable replacement of the CLIENT_ID, part of the amp-store entry in the localStorage is lost.

For this example, I have placed amp-consent to show that the consentString is lost.

In the simple html page below, amp-analytics will try to track a

[2021-08-20 17:51] honeybadgerdontcare commented on #24232
@samouri It's slightly complicated since it requires enforcing some rules but not others. It would require changes to both validator engines to work. Also need to verify that caches will insert the necessary script tags for it to work in the viewer.

Since we're anticipating retiring the native JavaScript implementation, I'd prefer to wait till that is complete before implementing this. Unless the

[2021-08-20 18:32] kristoferbaxter commented on #24232
There isn't an urgent need, but it'd be great if we could slot it in after the native JavaScript version is retired.

[2021-08-20 18:37] honeybadgerdontcare opened #35756 "Indicate bento supported versions within ExtensionSpec"
### Description

The AMP-WP plugin using the Optimizer auto imports extension script tags and needs assistance in knowing which version to include; original or Bento.

To assist in this, the ExtensionSpec will have a new field `bento_supported_version` which will list the versions that are usable for Bento.

### Alternatives Considered

[`bundles.config.extensions.json`](https://github.com/ampproj

[2021-08-20 19:19] caroqliu commented on #35413
Fixed by #35446

[2021-08-20 19:19] #35413 closed

[2021-08-20 19:21] #30283 closed

[2021-08-20 20:21] processprocess commented on #32503
Fixed as part of #35267

[2021-08-20 20:21] #32503 closed

[2021-08-20 20:22] processprocess commented on #32500
Fixed with #35267

[2021-08-20 20:22] #32500 closed

[2021-08-20 20:24] processprocess commented on #31034
Viewport warnings have been removed as part of #35267

[2021-08-20 20:24] #31034 closed

[2021-08-20 20:24] processprocess commented on #29753
This has been resolved as part of #35267

[2021-08-20 20:24] #29753 closed

[2021-08-20 20:32] #35756 closed

[2021-08-20 20:58] newmuis commented on #35556
It would be helpful to provide an [intent to implement](https://github.com/ampproject/amphtml/issues/new?assignees=&labels=INTENT+TO+IMPLEMENT&template=intent-to-implement.yml) before starting any implementation here.  We will likely need UX input on this, as it may have ecosystem implications.

The publisher logo is considered to be a signal to users as to who has published the story.  If you are

[2021-08-20 21:07] dmanek opened #35760 "Update `preact/base-element` to remove AMP specific features"
Context:
https://github.com/ampproject/amphtml/pull/35566#r692501850

`attemptChangeHeight` looks for overflow element, which is AMP specific. ~~May need to update the following components *if* they depend on showing warning:~~
~~1. amp-render~~

[2021-08-21 02:09] #26863 closed

[2021-08-21 02:09] #18976 closed

[2021-08-22 16:55] #25937 closed

[2021-08-22 16:55] #26904 closed

[2021-08-23 08:39] renebaudisch commented on #30385
@skibi123 there is a state cmpUiShown thats signals that the user is prompted for input. When you do your addEventListener registration meanwhile, the callback you defined will be triggered immediately, even the user still needs to do his choices. It will also be called on each following event, like "userActionComplete" unless you remove your Listener.

This means, your callback defined for addEve

[2021-08-23 08:41] renebaudisch commented on #30385
@micajuine-ho There isn't any documentation on this feature and that "exposesTcfApi" even exists. This way its hard to make our partners aware of it and how they shall use it.
When can we expect a documentation?

[2021-08-23 09:20] kaorukigoshi commented on #35739
Tracked internally via b/196934916.

[2021-08-23 12:56] jingfei commented on #35374
The issue is resolved by extracting colors from image as the background for iOS device.

[2021-08-23 12:56] #35374 closed

[2021-08-23 14:25] Beethoven opened #35764 "[Amp story] [page-attachment]"
### Description

Bug with attachment window when the < amp-story-page-attachment > have Component with layout=fill inside

### Reproduction Steps

https://playground.amp.dev/#share=CjwhZG9jdHlwZSBodG1sPjxodG1sIGRhdGEtbi1oZWFkLXNzciBsYW5nPSJlbiIgYW1wIGRhdGEtbi1oZWFkPSIlN0IlMjJsYW5nJTIyOiU3QiUyMnNzciUyMjolMjJwdC1CUiUyMiU3RCwlMjJhbXAlMjI6JTdCJTIyc3NyJTIyOnRydWUlN0QlN0QiIGktYW1waHRtbC1sYXlvdXQgdHJhbnN

[2021-08-23 14:33] ghelapratik opened #35765 "Branching in WebStories"
### Description

Branching in WebStories is a great feature that worked through the old CTA buttons. With branching, a user can link a CTA button to any slide in the WebStory. With the new CTA buttons being released, the branching has not been considered.

### Alternatives Considered

One option left now is to use tooltips. However, the issue with the tooltips is that they are 2 tap links and not

[2021-08-23 15:15] justin-lagtapon-crowdriff commented on #35556
The publisher logo in our instance is a bit misleading for out use case.  Our platform allows creators to create and publish stories on our domain.  Thus, the cookie consent our readers are giving consent is for our domain and not the publisher's.  ie: the publisher has no control over the cookie and privacy policy.  It's akin to going to instagram and seeing my logo on the instagram's privacy/coo

[2021-08-23 15:55] caroqliu opened #35768 "Run Preact unit tests on build outputs for npm"
### Description

Bento Preact/React functional components have a `test-component.js` unit test file that we run against the corresponding `component.js` file. On npm, we release files that are built from `component.js`, but not tested against `test-component.js`. We should consider doing so to prevent unnecessary broken npm binaries like the one reported in #35741.

### Alternatives Considered

n/

[2021-08-23 16:13] #29043 closed

[2021-08-23 16:13] rcebulko commented on #33669
@ampproject/build-on-duty
Could we bump up the priority of investigating this? It's reporting on the order of ~1.7 million occurrences daily, nearly 10x the nearest error, and pushes our Stable channel error rate past the auto-alerting threshold.
/cc @alanorozco since it seems video-related

Pretty much all occurrences here are coming from origin traffic:
![image](https://user-images.githubusercon

[2021-08-23 18:11] newmuis commented on #35556
That makes sense, though we do already have this distinction in story metadata today.

Using the example that you have mentioned, Instagram should be considered the "publisher" of the story (the [`publisher`](https://amp.dev/documentation/components/amp-story/#publisher-(required)) and [`publisher-logo-src`](https://amp.dev/documentation/components/amp-story/#publisher-logo-src-(required)) metadat

[2021-08-23 18:20] #35741 closed

[2021-08-23 18:37] twifkak commented on #35262
@LincolnCannon The change is live now. It looks like https://thrivous-com.cdn.ampproject.org/c/s/thrivous.com/blogs/views/wheres-the-real-nzt-48-limitless-pill?view=amp is no longer redirecting, but please verify on your end and let me know if you continue to see issues.

[2021-08-23 19:00] newmuis commented on #35765
/to @hongcatlover to confirm, but I don't think branching tap targets are meant to trigger tooltips, right?

[2021-08-23 20:42] Gregable commented on #24232
@kristoferbaxter Could you help, or suggest someone who could help, identify what parts of AMP should still require `v0.js` or the `<style amp-boilerplate>`?

I have the following dependencies:

 - Any `<script ... src="...amp-...js">` requires `v0.js`
 - `v0.js` requires the boilerplate
 - `<amp-img>` and `<amp-pixel>` require `v0.js` even though there is no matching `<script>` tag.

The last of

[2021-08-23 20:44] #35640 closed

[2021-08-23 21:18] kristoferbaxter commented on #24232
Any Custom Element with an `amp-` prefix could safely be considered dependent on `v0.(m)js` or a future `v1.(m)js`.

[2021-08-23 21:19] kristoferbaxter commented on #24232
A good person to help get to a more authoritative list would be @jridgewell.

[2021-08-23 21:37] LincolnCannon commented on #35262
It's working! Thanks again, all, for your help -- very much appreciated.

[2021-08-23 21:39] samouri commented on #24232
`amp-layout`, `amp-pixel`, and `amp-img` are the only three components considered "builtin". this means that their presence implies v0.m?js is necessary

[2021-08-23 23:34] bran921007 commented on #17909
any update regarding this issue?

[2021-08-24 11:17] swissspidy opened #35780 "[Page attachments][Outlink] Links not visible in Instagram in-app browser"
### Description

This was [originally reported](https://wordpress.org/support/topic/swipe-up-links-dont-show-on-instagram-browser/) by a user of the Web Stories WordPress plugin.

They found that page attachment links / outlinks (the story is using `<amp-story-page-outlink>`) were not visible when viewing a story in Instagrams in-app browser. I was able to confirm this myself.

Interestingly, in m

[2021-08-24 14:07] caroqliu commented on #35485
@CrystalOnScript can you advise on where we should put this documentation? I'm not positive implementers are likely to go to the [Bento guide](https://amp.dev/documentation/guides-and-tutorials/start/bento_guide/) for this type of information. Is there a relevant section under "Optimize and Measure" that we can add to?

[2021-08-24 19:30] conwaydev commented on #4892
This is still an issue

[2021-08-24 19:33] powerivq commented on #35345
2, 3 and 4 are added to the design. 1 we will discuss it with UX

[2021-08-24 19:35] westonruter opened #35789 "amp-tiktok has layout shift"
### Description

The [`amp-tiktok` docs](https://amp.dev/documentation/components/amp-tiktok/?format=websites) state:

<blockquote>
<h2 id="avoiding-layout-shift">Avoiding Layout shift</h2>
<p>Prevent layout shift by matching the <code>width</code> and <code>height</code> attributes on the <code>amp-tiktok</code> element to the size of the video player.</p>
<p>By default, the width of the <code>am

[2021-08-24 19:38] westonruter commented on #27080
Closing in favor of #32219.

[2021-08-24 19:38] #27080 closed

[2021-08-24 19:39] westonruter commented on #32219
I'm seeing layout shifting with the current component: https://github.com/ampproject/amphtml/issues/35789

[2021-08-24 20:17] newmuis commented on #35480
Was this story using a time-based auto-advance?  Or did you provide the ID of the media element in the `auto-advance-after` attribute?

(It looks now as if this is configured to manually advance)

[2021-08-24 21:05] alankent commented on #35480
It was not using time based auto advance.
I did not use auto-advance-after attribute.
It is manual tap to proceed to next page.

[2021-08-24 22:08] honeybadgerdontcare commented on #20609
In progress. cl/391926674

[2021-08-24 22:09] honeybadgerdontcare commented on #24232
In progress, cl/392498113

[2021-08-25 01:27] tejesh0 commented on #35712
Codepen demo which fails to open the webstory in lightbox with same console error: https://codepen.io/maenrique/pen/rNLyqXg

[2021-08-25 01:28] tejesh0 commented on #34271
@gmajoulet Codepen demo which fails to open the webstory in lightbox with same console error: https://codepen.io/maenrique/pen/rNLyqXg

[2021-08-25 01:53] tejesh0 commented on #35712
@swissspidy  Duplicate of #34271 ?

[2021-08-25 06:09] pierlon opened #35793 "Media queries that contain `calc()` creates erroneous validation error"
### Description

Whenever the AMP validator comes across a media query containing an instance `calc()` a validation error is thrown. Here's an example in [AMP Playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8aGVhZD4KICAgIDxtZXRhIGNoYXJzZXQ9InV0Zi04IiAvPgogICAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICAgIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgICA

[2021-08-25 08:46] swissspidy commented on #35712
Oh I missed that one! Yes looks like a duplicate.

[2021-08-25 08:46] #35712 closed

[2021-08-25 08:46] swissspidy commented on #34271
Also reported at #35712

[2021-08-25 12:37] anrghg opened #35794 "Action to toggle the state of a checkbox"
### Description

Instead of adding or removing a class, the state of the referenced element is toggled, or set to a predefined boolean if the optional `force` argument is provided.

The target usage are HTML toggles for CSS rules: A checkbox controls the styles in an adjacent sibling div. Best practice, though not mainstream due to JS prevalence.

We need the `toggleState()` action as using `<labe