[2019-01-14 19:51] alanorozco commented on #17725
Closing. Specific issues should be created for each feature request to be discussed there.

[2019-01-14 19:51] #17725 closed

[2019-01-14 19:52] #19563 closed

[2019-01-14 20:32] cramforce commented on #20279
The performance penalty is due to `IntersectionObserver` being not yet widely available. I.e. there isn't a performant way in Safari to know whether an element is in view.

[2019-01-14 20:33] digitalheir opened #20312 "Tag 'ol' is disallowed as child of tag 'amp-sidebar > nav'. Child tag must be one of ['ul']."
## What's the issue?
Consider markup:
[code]

```Tag 'ol' is disallowed as child of tag 'amp-sidebar > nav'. Child tag must be one of ['ul'].```

I find it strange that only `ul` should be supported. I reckon `ol` is just as valid.

## How do we reproduce the issue?

Use above source code.

## What browsers are affected?

All.

## Which AMP version is affected?
All.

[2019-01-14 21:06] cvializ commented on #20304
I plan to resolve this with a named mask

[2019-01-14 21:19] Gregable commented on #20064
The new modified triage process is to leave these open, so reopening.

[2019-01-14 21:56] lannka opened #20319 "Failing integration test on travis for inabox friendly iframe"
https://travis-ci.org/ampproject/amphtml/jobs/479586023

[2019-01-14 21:57] Gregable commented on #12279
This old thread appears for search queries for why update-ping is not working, so a little more context:

**Short summary:**
The update-ping API was deprecated and has been shut down. Please use the new [update-cache API](https://developers.google.com/amp/cache/update-cache) as a replacement.

**Longer background:**
The update-cache API had a design issue where by it could be used to cause googleb

[2019-01-14 21:57] lannka commented on #20319
@zombifier could you take a look?

[2019-01-14 21:59] estherkim opened #20320 "Only install `chromedriver` and `` as dev dependencies when running e2e tests"
The following packages are only required when running e2e tests. Move them to only be installed when running e2e tests.

name | children | size (M)
-------- | ------------ | ------
chromedriver | 17 | 17.72
selenium-webdriver | 18 | 8.91

[2019-01-14 22:03] coreybyrnes commented on #19297
It's working in production! We can finally run a Flying Carpet! This is fantastic. Thanks @bradfrizzell for diagnosing the issue and getting this ticket rolling. Thanks to @torch2424 for implementing the fix.

[2019-01-14 22:06] zombifier commented on #20319
#20318 can be merged if we want to make master green again for the time being. I suspect it may be due to the host script failing to be loaded (port 8000 vs port 8081).

[2019-01-14 22:07] torch2424 commented on #19297
@coreybyrnes Thanks for reporting back! Glad it works for you! 🎉 You are welcome 😄

[2019-01-14 22:39] #20241 closed

[2019-01-14 23:12] cvializ commented on #20305
This is actually expected behavior because I wrote the example wrong. This is fixed by using mandatory numbers with the `0` mask character vs optional numbers with the `9` mask character.

https://github.com/ampproject/amphtml/tree/master/extensions/amp-inputmask

I vote to close

[2019-01-14 23:31] cathyxz commented on #10230
The relevant changes from #20314 should land in canary and release candidate tomorrow and land in production by next Tuesday.

[2019-01-14 23:43] jasti commented on #20267
This type of targeting is normally available on the ad server (like Google Ad Manager: https://support.google.com/admanager/answer/2884033?hl=en) which might be a better fit but curious to hear about the usecase.

[2019-01-14 23:53] jasti commented on #19951
Hi @michael-stevens, unfortunately, signing is only available to entities that a) are independent(e.g. Cloudflare) b) or serve > 20% of the total ads served to AMP pages to maintain trust. (e.g. AdSense)
b) Is a requirement because AMPHTML ads have preferred rendering in AMP pages and signing privileges are available once the network gains a good amount of traction.

In the mean time, template ads

[2019-01-14 23:58] jasti commented on #20259
Thanks for submitting the issue.
I'm concerned a bit about the latency, given that the ad would block the prebid calls to resolve. It's different from the amp-ad case because the user can consume content while the ads take their own time but in the <amp-ima-video> case, the video content is blocked on the ad to finish.

@curseagain  What do you think?
CC @ampproject/a4a

[2019-01-15 00:31] #20305 closed

[2019-01-15 00:46] jasti commented on #20259
I'm happy with the mid-roll & post-roll only suggestion. The current RTC limit is at 1 second and could consider reducing that further?
@jeffkaufman do we have data on how many RTC callouts are timing out due to the 1 second limit?
@curseagain do you know if prebid works with IMA video?

[2019-01-15 00:51] jasti commented on #20152
Hi @glevitzky, any updates on this please?

[2019-01-15 01:04] jasti commented on #10957
Closing because of my previous comment.

[2019-01-15 01:04] #10957 closed

[2019-01-15 01:38] #20286 closed

[2019-01-15 01:39] aghassemi commented on #20312
@digitalheir Thanks for the report. `ol` should definitely be supported. Just an omission from our side.

[2019-01-15 02:34] torch2424 opened #20337 "async-input / amp-form: handleXhrSubmit_() No longer waits for the result of this.executePresubmitHandlers_()"
cc @cvializ

Due to the changes from #19334 , seems like we broke some third party AMP builds. This should be fixed, and implemented in the amp-form extension

[2019-01-15 02:36] torch2424 opened #20338 "Async-Input: Throw error if missing name attribute"
From some early feedback from the Google Pay team on building their extension, they hit a roadblock with trying to understand the name attribute. amp-form should look for this attribute, and assert it, so that the error can help developers with the misunderstanding going forward.

[2019-01-15 02:38] torch2424 commented on #20302
cc @lannka @zhouyx @calebcordry @jeffjose

[2019-01-15 02:40] torch2424 commented on #20297
Triaging to @newmuis , feel free to re-assign. 😄

[2019-01-15 02:41] torch2424 commented on #20296
Triaging to @newmuis , feel free to re-assign. 😄

[2019-01-15 05:36] abazeed opened #20340 "[amp-twitter] validation error when using data-theme without data-tweetid"
## What's the issue?
As mentioned in amp-twitter [attributes](https://www.ampproject.org/docs/reference/components/amp-twitter#attributes) reference, we can use one of the following attributes to determine the type of the amp-twitter component:
* data-tweetid
* data-momentid
* data-timeline-source-type

I've used the following code to show the timeline of our Twitter account:
[code]
But I've recei

[2019-01-15 05:51] cpapazian commented on #20122
@aghassemi I was able to do a little more investigation, and it looks fairly straightforward to do a javascript version of the text clamp/truncation. We can use the measurer component and iteratively remove text content until the text no longer overflows. This let's us truncate (with ellipsis) text that flows around floated spans:

![image](https://user-images.githubusercontent.com/1939552/5116071

[2019-01-15 08:01] dedalx commented on #19644
@Gregable we add Custom CSS in theme for your plugin using your plugin action hook "amp_post_template_css". Did we get this errors because of this line in Custom CSS? Screenshot - http://take.ms/D1DUe

[2019-01-15 08:36] newmuis commented on #20297
See https://stackoverflow.com/questions/45455167/how-to-add-facebooks-pixel-into-googles-amp

In AMP stories, `<amp-pixel>` should be a direct child of the `<amp-story>` element.

Please feel free to reopen this issue if you feel it has not been resolved.

[2019-01-15 08:36] #20297 closed

[2019-01-15 09:18] dianomi-mjs commented on #19951
Hi @jasti - can you tell us who are the independent entities we could use now, seeing as cloudflare are closing down their service?

[2019-01-15 09:26] meistudioli opened #20343 "amp-install-serviceworker scope error"
To whom it may concern:

I use amp-install-serviceworker for a while and it works fine. But I found an error occurred.

Here comes some information.

- demo site: [https://blog.lalacube.com/mei/yahoo_auction_fp_amp.php](https://blog.lalacube.com/mei/yahoo_auction_fp_amp.php)
- service-worker file path: [https://blog.lalacube.com/mei/sw_yauc_amp_workbox.js](https://blog.lalacube.com/mei/sw_yauc_amp

[2019-01-15 09:58] newmuis opened #20344 "Update amp-story translations"
amp-story is [missing several translations](https://bit.ly/amp-story-strings).  We should update the translations to improve the experience in these languages.

[2019-01-15 09:59] eagerterrier commented on #19977
@choumx Great news: DomPurify seem to have done their bit!

[2019-01-15 10:07] dryleaf commented on #20267
@jpettitt
I can't get the css solution to work on ads. For other components it seems to work nicely.

@jasti
I wonder why `amp-sticky-ad` does not allow more than one child.

[2019-01-15 15:09] nainar commented on #14745
Updating this issue to mark that this feature is available under experimental:
Here is the ABE page: https://ampbyexample.com/components/amp-inputmask/
Here is the documentation: https://github.com/ampproject/amphtml/tree/master/extensions/amp-inputmask

[2019-01-15 15:21] estherkim commented on #17793
Hey Jon, here's what I found when trying out Cypress:
- I was unable to navigate to any test page, whether on localhost or external, using Chrome 71. Came across others having similar issues [here](https://github.com/cypress-io/cypress/issues/3077) and [also here.](https://github.com/cypress-io/cypress/issues/1872) Unfortunately, it pretty much blocked me from testing any further.
- Cypress [can't

[2019-01-15 16:05] Enriqe opened #20346 "[amp-story] Progress bar is causing flakes in visual diff tests"
See example here:  https://percy.io/ampproject/amphtml/builds/1324584

The expected output is the screenshot on the right. The cause is likely that the screenshot is taken before the progress is filled at the corresponding point of the progress bar.

Frequency of this flake is not high.

[2019-01-15 16:14] newmuis commented on #20346
Two ideas: either add a hardcoded delay to all of the tests (that is greater than the number of ms for the progress bar animation), or check `getMode().test` in the progress bar code, and skip the animation during test.

[2019-01-15 16:14] honeybadgerdontcare commented on #19644
@dedalx 	According to your error message in the OP, that is exactly what is listed as not allowed.

`The text inside tag 'style amp-custom' contains 'CSS i-amphtml- name prefix', which is disallowed.`

Also not allowed in `<style amp-custom>` is `!important` and html comments.

[2019-01-15 16:19] Enriqe commented on #20346
I think I like the second idea better, since @gmajoulet was mentioning some upcoming changes to the progress bar. It might be easier to change/remove the `getMode().test` from the progress bar code instead of changing every single test, and then again when we change the progress bar code.

WDYT @gmajoulet ? I can send a PR to skip the animation during test.

[2019-01-15 16:35] jasti commented on #19951
@dianomi-mjs Unfortunately there aren't other independent entities, so template ads is the only option.

[2019-01-15 16:58] gmajoulet commented on #20346
I think this is a progress bar bug that's actually getting caught by our tests :))

I can repro consistently with the following:

1. Click [here](https://www.google.com/search?&q=cnn+10+buildings+that+will+shape+the+world+this+year&oq=cnn+10+buildings+that+will+shape+the+world+this+year)
2. Open the first result
3. Navigate by one page
4. You should have two segments of the progress bar filled, bu

[2019-01-15 17:42] zhouyx commented on #20267
@dryleaf `<amp-sticky-ad>` is designed as a special ad format. So at design time we decided it can only have one child `<amp-ad>`. Please let us know your use case and why you want to allow multiple children in `<amp-sticky-ad>` Thank you.

[2019-01-15 18:03] aghassemi commented on #20122
Thanks @cpapazian.

Assigning the issue and PR to @sparhami to see it through merge. Sepand has done some thinking about this.

I'll leave it to you and @sparhami to discuss the API and get it reviewed in of the design meetings if needed, below are some of my thoughts:

1- I am okay with JS truncation, it adds a few additional relayouts but fit-text already does 4 or 5 I believe.
2- I don't fully

[2019-01-15 18:20] cpapazian commented on #20122
agree that fit vs. truncate is a little confusing. i've been struggling with this, too. i think the nice thing about calling out a truncate-only mode explicitly is that we can skip the binary-search-for-font-size logic, but we can also do that by setting `max-font-size` equal to `min-font-size`.

[2019-01-15 18:30] #20214 closed

[2019-01-15 19:05] lannka commented on #20252
SG, let's go with @dvoytenko's proposal.

@torch2424 since you will be working on the amp-experiment soon, it will be very important to unmute the tests. Assigning to you.

[2019-01-15 19:15] mrjoro commented on #2557
It looks like this was fixed in #11483, so I'm closing this.  Please reopen if needed.

[2019-01-15 19:15] #2557 closed

[2019-01-15 19:23] mrjoro commented on #6360
It looks like this was added in #11381.  Please reopen if there's anything left here.

[2019-01-15 19:23] #6360 closed

[2019-01-15 19:24] mrjoro commented on #11771
Looks like this was added in #11823.  Please reopen if there's anything left to do here.

[2019-01-15 19:24] #11771 closed

[2019-01-15 19:30] mrjoro commented on #12278
Is this request still active?

[2019-01-15 19:41] helin24 commented on #20279
To be clear, the position-observer API we're using in #20222 doesn't use IntersectionObserver, right? You're just saying that we shouldn't use IntersectionObserver because of this limitation?

I think for now we're not worried about the last paragraph case because we don't need a precise measure of completeness, just a way to correlate AMP reading position with reading in other mediums. That's why

[2019-01-15 20:01] mrjoro commented on #13105
It looks like amp-yotpo was added in #14521.  Please reopen this (or open a new issue) if there is more to track.

[2019-01-15 20:01] #13105 closed

[2019-01-15 20:04] mrjoro commented on #16696
Looks like this was implemented in #17306.  Please reopen (or file a new issue) if there's anything left to track.

[2019-01-15 20:04] #16696 closed

[2019-01-15 20:04] #20196 closed

[2019-01-15 20:09] mrjoro commented on #6066
It looks like we have amp-viewer-integration now and some [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-viewer-integration/integrating-viewer-with-amp-doc-guide.md).

Please reopen (or file a new issue) if there's still something to track.

/cc @ampproject/wg-viewers as FYI

[2019-01-15 20:09] #6066 closed

[2019-01-15 20:11] mrjoro commented on #18581
This was implemented!  I'm closing out this issue now; if there are new features you're planning on implementing feel free to reopen or file new issues to track them.

[2019-01-15 20:11] #18581 closed

[2019-01-15 20:13] mrjoro commented on #18529
It looks like this is a dupe of #18626 (and the underlying feature was implemented in #18734).

[2019-01-15 20:13] #18529 closed

[2019-01-15 20:14] #18699 closed

[2019-01-15 20:16] mrjoro commented on #15464
Is this I2I still active?

/cc @ampproject/wg-monetization

[2019-01-15 20:16] mrjoro commented on #18887
It looks like this was resolved with #18888.

[2019-01-15 20:16] #18887 closed

[2019-01-15 20:19] mrjoro commented on #18246
Is this I2I still active?

[2019-01-15 20:20] #12797 closed

[2019-01-15 20:24] mrjoro commented on #10568
Is this I2I still active?

[2019-01-15 20:25] mrjoro commented on #3991
Is this I2I still active?

[2019-01-15 20:31] mrjoro commented on #11329
In Feb last year @newmuis said "closing this" but it wasn't actually closed, so I'm actually closing it. :tada:

Please reopen or file new issues if there's anything left to track here.

[2019-01-15 20:31] #11329 closed

[2019-01-15 20:32] mrjoro commented on #19359
Looks like this was added in #19360.

[2019-01-15 20:32] #19359 closed

[2019-01-15 20:34] mrjoro commented on #16252
Status Update #20173 says "Launched: amp-video-iframe 🎉" so I'm closing this.  Please reopen or file new issues if there's anything left to track.

[2019-01-15 20:34] mrjoro commented on #16503
Status Update #20173 says "Launched: amp-video-iframe 🎉" so I'm closing this.  Please reopen or file new issues if there's anything left to track.

[2019-01-15 20:34] #16503 closed

[2019-01-15 20:43] dryleaf commented on #20267
@zhouyx My goal is to display different ads for `iOS` and `Android`, in this case for example, I would like to display platform specific (iOS & Android) `amp-ad` in `amp-sticky-ad`.

From my solutions for platform specific things (refer to the interactions above), they all work for other components but not for ads.

How can I achieve this? (Without using the server side ads distribution)

[2019-01-15 20:49] mrjoro commented on #17255
Is this I2I still active?

[2019-01-15 20:55] #20234 closed

[2019-01-15 21:09] torch2424 opened #20352 "amp-recaptcha-input: Check origin message from recaptcha iframe"
See: https://github.com/torch2424/amphtml/blob/11b11a2e1938d04af4e7dfadbde776d3d6ce9ece/extensions/amp-recaptcha-input/0.1/amp-recaptcha-service.js#L174
https://github.com/torch2424/amphtml/blob/11b11a2e1938d04af4e7dfadbde776d3d6ce9ece/extensions/amp-recaptcha-input/0.1/amp-recaptcha-service.js#L157

We should replace these '*' with the cache origin for the recaptcha bootstrap iframe (As that is t

[2019-01-15 21:31] #20253 closed

[2019-01-15 21:59] jridgewell commented on #15752
Closed with #17475.

[2019-01-15 21:59] #15752 closed

[2019-01-15 22:16] dryleaf commented on #20267
@zhouyx
What about using the `fallback` approach? `fallback` seems to work pretty nicely on `amp-img` for example. Why not allowing `fallback` in `<amp-ad>` too?
- reference: [Placeholders & fallbacks](https://www.ampproject.org/docs/design/responsive/placeholders)

[2019-01-15 22:24] #20346 closed

[2019-01-15 23:00] zhouyx commented on #20010
What @jasti and I are trying to prevent is for AMP to stand in the position to determine if the value is an error or not.  But assuming an incoming message is invalid is making assumption itself.

[2019-01-15 23:07] #20180 closed

[2019-01-15 23:35] aghassemi commented on #7423
let's keep it as a normal feature request. removed I2I label.

[2019-01-15 23:37] aghassemi commented on #3991
@mrjoro experimental, launch of it is tracked under https://github.com/ampproject/amphtml/issues/18705 (there are JS bundle size concerns with launching it).

[2019-01-15 23:37] #3991 closed

[2019-01-16 00:00] Gregable opened #20359 "Signed Exchanges: understand AMP runtime's needs for serving origin identity"
@ampproject/wg-ui-and-a11y

With Signed Exchanges, AMP documents will be operating on the publisher origin, even if the document is served from the AMP Cache. By default, the AMP runtime will not be able to determine if the document was served by the AMP cache or the Publisher.

The open question is if the runtime makes any decisions based on the origin being `*.cdn.ampproject.org`, etc. A hypothe

[2019-01-16 00:09] honeybadgerdontcare commented on #20359
The AMP Packager transformer [transformerIdentifier.go](https://github.com/ampproject/amppackager/blob/master/transformer/transformers/transformedidentifier.go) will add the attribute `transformed` with value `google;v=1` to the `<html>` tag. The value is validated by the AMP Validator.

This follows the form of the [AMP-Cache-Transform](https://github.com/ampproject/amphtml/blob/master/spec/amp-c

[2019-01-16 00:30] adelinamart opened #20361 "🚄Release tracking issue for canary release 1901181700510"
# Release tracking issue

- [x] Release [1901151846530](https://github.com/ampproject/amphtml/releases/tag/1901151846530) is cut as a new canary release
- [x] Release 1901151846530 pushed to dev channel
- [x] Release 1901151846530 pushed to 1%
- [x] Release [1901181700510](...) created with cherry picks.
- [x] Release 1901181700510 pushed to Dev Channel
- [x] Release 1901181700510 pushed to 1%
- [

[2019-01-16 00:58] mrjoro commented on #19775
Cancelled since there are no topics.

[2019-01-16 00:58] #19775 closed

[2019-01-16 06:05] himberjack commented on #15007
Watching...

[2019-01-16 06:57] psdtomanythings commented on #20344
Hey @newmuis , Can we help with translations ? We can help with Hindi ( hi ), Marathi &  Gujarati

[2019-01-16 08:41] Haroenv commented on #10568
I have not actively been working on this because of lack of demand from the community to support AMP directly. However if this is in demand from Google we could reconsider I think.

[2019-01-16 09:00] dweinber commented on #17255
Yes, the intent is still given @mrjoro.

[2019-01-16 11:45] Lith commented on #20148
Hello,

Thanks @ndahmani to open this issue.
Could we have an update or any help about it ?
We have tried many things but nothing happened, and the "readyState" stay on "loading" state.

Does this already seen on other website or an other ad serving system ?

Thanks for your help,

[2019-01-16 12:10] santoshkjena commented on #20269
@aghassemi This is a new implementation and it is implemented as per the steps defined on this  https://developers.google.com/amp/cache/update-cache URL

[2019-01-16 12:33] craigscott29 commented on #17809
I'm having the same issue as well with Chrome on Android (Pixel 3XL). I checked it on the AMP by Example page too. Here's my reproduction video from our company site (https://www.craigattachments.com). If the slide doesn't hit the edge when you drag it the flicker doesn't occur. Obviously if you "flick" it and the slide hits the edge that's when it jumps to a different slide.

![amp-carousel](http

[2019-01-16 13:48] santoshkjena commented on #20269
@Gregable  i have sent you the details on slack . please have a look.

[2019-01-16 14:13] AcidRaZor opened #20368 "The parent tag of tag 'amp-sidebar' is 'amp-bind-macro', but it can only be 'body'."
## What's the issue?

When using amp-bind-macro, amp-sidebar causes a validation issue with the following error message:

The parent tag of tag 'amp-sidebar' is 'amp-bind-macro', but it can only be 'body'.

## How do we reproduce the issue?

I use the following macros to format currency:
[code]

## What have you used to check?

https://search.google.com/test/amp
https://validator.ampproject.org

#

[2019-01-16 14:14] AcidRaZor commented on #20368
I'm also wondering if this is the reason why, when using mobile preview or testing facilities that shows you a screenshot of the site, why it shows all text (html) and not the actual site.

[2019-01-16 14:31] dianomi-mjs commented on #19951
Hi @jasti ok then - so we read that

""Note: at this stage, domains need to be whitelisted manually in AMP Cache to experiment the feature." "
Can we have www.dianomi.com whitelisted in AMP Cache please?

[2019-01-16 15:18] jasti commented on #19951
to @lannka.

[2019-01-16 15:22] shimonenator commented on #16737
@lannka I'd like to restart conversation about iframe id sharing. Assuming that it's async, and that iframe already can interact with AMP pages via `postMessage` for resize purposes, `<amp-iframe>` can also have an attribute that tells AMP Linker to pass parameters to it, which can be done via `postMessage` on iframe load. And the iframe can message out a request for linker to be passed to it.

[2019-01-16 15:46] #20152 closed

[2019-01-16 15:47] glevitzky commented on #20152
Fix has been merged.

[2019-01-16 16:27] Premrudeee opened #20371 "🌸 Cherry pick request for <YOUR_ISSUE_NUMBER> into <RELEASE_ISSUE_NUMBER> (Pending)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #<ISSUE_NUMBER>

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR

[2019-01-16 16:27] #20371 closed

[2019-01-16 17:30] lannka commented on #15007
looked at code now, we have already added message validation (#15020) and try catch during message processing (#17749) long time ago. that said, we shouldn't expect the `b.postMessage` error as posted originally.

If this is still a problem, @himberjack @cgdev332 @lvillanne @iMontes could you provide a new stack trace to assist debugging?

[2019-01-16 17:32] Gregable commented on #19644
@dedalx That is in fact the same error, I stand corrected. Essentially it means exactly as stated above. You are attempting to style a CSS class reserved only for AMP. Consider styling the parent element instead.

[2019-01-16 17:41] Gregable commented on #18246
Yes. However, I think it's still in need of a third LGTM to make progress?

[2019-01-16 17:49] mrjoro commented on #18246
We could probably consider this one grandparented in, but it doesn't hurt. :)

cc @ampproject/wg-approvers for a third pre-approval LGTM

[2019-01-16 17:59] mrjoro commented on #10568
Thanks for the update @Haroenv; that sounds good.  I'll leave it to @aghassemi and the @ampproject/wg-ui to help figure out whether the demand is there.

For now I'll leave this as a Feature Request but remove the Intent to Implement label.

[2019-01-16 18:00] Gregable opened #20374 "Validator doesn't understand different layouts for different types of amp-carousels"
From https://www.ampproject.org/docs/reference/components/amp-carousel#type

`<amp-carousel type=carousel>` for example, doesn't support the `responsive` layout.

The AMP Validator allows the superset of all layouts for either `carousel` or `slides` types. This is OK, but being more specific would produce more actionable information for developers when trying to build a page with an `<amp-carousel

[2019-01-16 18:14] aghassemi commented on #20122
From @cpapazian:

Agree with you and @aghassemi that we don't need fit vs. truncate modes, so I removed that branching logic. Will think a little more about whether it makes sense to do this with a new component, but my instinct is that it makes sense to combine the features--this component already does some truncation, and I think it would be confusing as a developer if there were two components

[2019-01-16 18:30] aghassemi commented on #20122
@cpapazian @sparhami

Regarding different component, I sampled a few live usages of `amp-fit-text`, and to my surprise, using `amp-fit-text` to clamp text by setting min and max font to the same value seems more common than I expected and that's not at all the main point of that component.

I am leaning toward the idea of a new `<amp-clamp-text>`. @cpapazian in your particular use-case, is scaling

[2019-01-16 18:31] sparhami commented on #20374
I believe this is the other way around. `type="carousel"` can do FIXED/FIXED_HEIGHT, and slides can do the larger set.

For carousel v2, there will be no more type attribute, and you can do everything `type="slides"` can currently do.

[2019-01-16 18:42] Gregable commented on #20374
Yep, I typo'ed this. Fixed the list in the original post.

This is more of a question of what rules we should have for v1, I suppose. We can write new ones for v2.

[2019-01-16 18:50] sparhami commented on #20374
I think validation would be nice for people using templating systems that might not actually ever view the page. There is a runtime error, but it does not tell you what is valid. Restricting by type for carousel v1 would be nice.

[2019-01-16 18:59] aghassemi commented on #20368
@AcidRaZor Is `amp-sidebar` actually a child of `body`? Can you post your HTML?

I quick try with the following code did not generate any issues for me:
[code]

[2019-01-16 19:05] aghassemi commented on #20368
I can reproduce this if `amp-sidebar` is AFTER `amp-bind-macro` AND `amp-bind-macro` is self-closing.
e.g.
[code]

@AcidRaZor For a quick work-around, instead of using a self-closing `amp-bind-macro` (e.g. `<amp-bind-macro id="getLog10" arguments="num" expression="num.length - 1"/>`) use a full explicit end tag (e.g. `<amp-bind-macro id="getLog10" arguments="num" expression="num.length - 1"></amp-

[2019-01-16 19:07] torch2424 commented on #20148
@Lith

Hello! Yes my apologies, I tagged my other team members as they have been around longer than I have, and have more understanding on why issues happen. But I'll go ahead and ping them again.

And from my investigation, it does seem the ad never gets loaded. Though, I am maybe thinking it is the ad provider itself. You can see in the console:

![screen shot 2019-01-16 at 11 06 37 am](https://

[2019-01-16 19:19] Gregable commented on #20368
There is no such thing as a self-closing tag in html5. There are about a dozen [void elements](https://www.w3.org/TR/html5/syntax.html#void-elements) which have no associated closing tag, but self-closing tag syntax is not a thing.

So, a browser (and the amp validator) will see the above example as the same parse tree as:

[code]

[2019-01-16 19:21] Gregable commented on #20368
Technically, there are self-closing tags within other namespaces within HTML. The only such namespace allowed by AMP is SVG. This isn't relevant for the question, but to avoid confusion.

[2019-01-16 19:21] Gregable commented on #20368
Closing as working as intended.

[2019-01-16 19:21] #20368 closed

[2019-01-16 19:24] jridgewell opened #20377 "Change waitForBody and waitForHead"
We keep getting bugs around `waitForBody`. The promise returned just means the body has been added to the document, not that the body (and all it's children) have been fully parsed.

Instead, we should make `waitForBody` wait for DOM Ready.

But there are a few cases where waiting for DOM Ready is too much. These cases just want access to the `head` element, which we can guarantee by the presence

[2019-01-16 19:25] aghassemi commented on #20368
I see. I will update the examples then.

[2019-01-16 19:36] #20304 closed

[2019-01-16 22:53] #20001 closed

[2019-01-16 23:10] #20010 closed

[2019-01-16 23:16] #19761 closed

[2019-01-16 23:42] jridgewell opened #20387 "Cleanup event helper implementation"
It's terrible, and it's all my fault.

[2019-01-16 23:57] hellokoji commented on #18787
Yes, this will be pushed with #15195 .

[2019-01-17 00:14] cpapazian commented on #20122
I'm coming around to this line of thinking. I've updated this ITI with a little more discussion, including this option.

Nope, no scaling needed.

[2019-01-17 00:17] cpapazian commented on #20113
I'd like to discuss https://github.com/ampproject/amphtml/issues/20122, which addresses some shortcomings in the current `<amp-fit-text>` component.

[2019-01-17 01:17] adelinamart opened #20392 "New issue: GEONOTPATCHED: amp-geo served unpatched"
Error: GEONOTPATCHED: amp-geo served unpatched, ISO country not set
at Error (https://raw.githubusercontent.com/ampproject/amphtml/1901151846530/src/log.js:540)
at apply (https://raw.githubusercontent.com/ampproject/amphtml/1901151846530/src/log.js:244)
at apply (https://raw.githubusercontent.com/ampproject/amphtml/1901151846530/src/log.js:257)
at error (https://raw.githubusercontent.com/ampprojec

[2019-01-17 01:53] #20208 closed

[2019-01-17 01:59] alanorozco opened #20394 "Cleanup `amp-auto-lightbox` experiment"

[2019-01-17 02:00] alanorozco opened #20395 "I2I: amp-auto-lightbox"
**This feature is being rolled out.** For details on usage, [see the spec.](https://github.com/ampproject/amphtml/blob/master/spec/auto-lightbox.md)

## Background
`amp-lightbox-gallery` provides an enhanced experience for image viewing (pinch-to-zoom, etc.).

- documents may explicitly "lightbox" an image by including an attribute and an extension
- documents may include images that are good cand

[2019-01-17 02:33] torch2424 commented on #20343
Triaging to @prateekbh , Feel free to re assign 😄

[2019-01-17 03:20] meistudioli opened #20397 "amp-bind: "Removed unsafe attribute" for binding attributes"
To whom it may concern:

I use amp-bind in amp-mustache. It works well before. But console will appear the follow message since today (2019-01-17).

Here comes my code.

[code]

- demo site: [https://blog.lalacube.com/mei/yahoo_auction_fp_amp.php](https://blog.lalacube.com/mei/yahoo_auction_fp_amp.php)

I wonder is this an issue or should I need to avoid to do anything ?

Paul

[2019-01-17 04:02] prateekbh commented on #20343
Right, I see the big in defaulting it to `/`.
While we fix this, you can add data-scope="/me" for now.

[2019-01-17 07:48] AcidRaZor commented on #20368
Thanks guys!

[2019-01-17 07:52] AcidRaZor commented on #20368
Just as another FYI, I did have the macro's after the amp-sidebar and it still did the same, but the explanation given makes sense. Thanks again for the quick response

[2019-01-17 08:14] Serhio77777 opened #20399 "Unmute a story if it includes 2+ videos with audio."
There is a problem with story page unmuting.

If amp-story page has few videos with audio and we unmute story all videos will play with sounds. And the sounds of all videos overlap. And we can't mute/unmute only one video.

Is there a workaround?

[2019-01-17 12:29] enzo-giancola opened #20400 "Issue using amp-analytics with Shadow DOM"
Hi,

we are facing errors related to amp-analytics
raising when AMP code is imported through a shadow dom
based mechanism (in Polymer).

The problem we noticed:

amp-analytics events are fired within AMP content;
when AMP code is imported through a shadow dom based mechanism (in Polymer) events aren't fired;

How to reproduce:

- URL:
https://rep.repubblica.it/pwa/generale/2019/01/16/news/brexit_o

[2019-01-17 12:44] ababbdev commented on #15007
We are still getting this as recent as 30 minutes ago.

`TypeError: b.postMessage is not a function. (In 'b.postMessage(R("position",a.sentinel,d),c)', 'b.postMessage' is undefined)
  at qa(https://raw.githubusercontent.com/ampproject/amphtml/1812261943070/ads/inabox/inabox-messaging-host.js:182:5)
  at ? (https://raw.githubusercontent.com/ampproject/amphtml/1812261943070/ads/inabox/inabox-messagi

[2019-01-17 12:51] justforfun commented on #20044
We a brand new issue of the same kind:
https://github.com/ampproject/amphtml/issues/20400

[2019-01-17 13:52] lucky42890 opened #20401 "Amp-accordion doesn't navigate to the correct position"
## What's the issue?

I am using amp-accordion component but I found a bug on its navigation.
Please take a look at this. https://jsfiddle.net/oakbthm5/1/

## How do we reproduce the issue?

As you can see in jsfiddle, there are 3 sections. First section's height is very big. In order to reproduce the issue

- Click first section.
- Scroll down to second section
- Click second section

Then it sho

[2019-01-17 15:51] jpettitt commented on #20400
If I turn on logging (append `#log=3` to the url above) I see the event being fired by `amp-subscriptions`

![image](https://user-images.githubusercontent.com/524856/51330546-9c057f80-1a2c-11e9-9d38-1b1ad6d40c38.png)

On that basis I suspect the bug is in `amp-analytics` so I'm going to assign it to that team.

[2019-01-17 15:58] jpettitt commented on #20392
I'm not seeing this error on amp by example (same canary build).

The error should only happen if `amp-geo` is served unpatched by our serving infrastructure.  Is there any more info on the context you can share with me? (outside github if needed)

[2019-01-17 16:21] jpettitt commented on #20392
Tracked internally as b/123012667

[2019-01-17 16:24] aghassemi commented on #20397
@meistudioli Thanks for the report. Looks like we are wrongly reporting transformed attributes as part of https://github.com/ampproject/amphtml/pull/20285. This should be harmless and things should work as before.

/to @choumx, looks like we should suppress warnings for the `amp-bind` attributes that get rewritten to `data-amp-bind-*`

[2019-01-17 16:34] nainar commented on #9430
Closing as dupe of #3830

[2019-01-17 16:34] #9430 closed

[2019-01-17 16:36] nainar commented on #11311
Removing myself - this was not a trivial fix from what I remember. Hazy on the details.

[2019-01-17 16:44] lannka commented on #20400
@jpettitt is this blocking anything at the moment? We can prioritize it in the next sprint (starting next week).

[2019-01-17 16:48] aghassemi commented on #20401
@lucky42890 Thanks for the report. This looks that way because the height of section 1 is much larger than section two and the overall height of the container is fixed. When section 2 is clicked, section 1 is collapsed and section 2 is expanded correctly however we do no change the scroll position on the user. Because the overall container div has a fixed height, the scroll position is still valid

[2019-01-17 16:48] nainar commented on #17318
There is work ongoing on carousel V2, this should be tracked as a part of that.

[2019-01-17 16:48] aghassemi commented on #20401
closing per comment above

[2019-01-17 16:48] #20401 closed

[2019-01-17 16:52] nainar commented on #19672
Closing due to lack of feedback in >1 month

[2019-01-17 16:52] #19672 closed

[2019-01-17 16:53] aghassemi commented on #20271
merging with related https://github.com/ampproject/amphtml/issues/20272

[2019-01-17 16:53] #20271 closed

[2019-01-17 16:53] nainar commented on #10314
Closing as duplicate of #11734

[2019-01-17 16:53] #10314 closed

[2019-01-17 16:55] aghassemi commented on #20219
merging with https://github.com/ampproject/amphtml/issues/20236

[2019-01-17 16:55] #20219 closed

[2019-01-17 16:57] nainar commented on #17741
Tracking this effort as part of carousel rewrite: #16509

[2019-01-17 17:06] rudygalfi commented on #17723
Closing this out because I think https://github.com/ampproject/amphtml/issues/17723#issuecomment-423237441 addresses this.

[2019-01-17 17:06] #17723 closed

[2019-01-17 17:08] nainar commented on #20237
Context here: #3830

[2019-01-17 17:11] choumx commented on #20397
Yea, this is just an incorrect error message. No changes needed. I'll fix this today.

[2019-01-17 17:39] dbarcosb opened #20405 "amp-bind: Validating non-primitives causes runtime TypeError"
## What's the issue?

I need to perform an operation (mapping) on a state before putting it as source for the amp-list. When I map every position of the array into an object, for any reason the list is not recognizing it. I understand this is a bug (not a FR).

## How do we reproduce the issue?

You can find an example [here](https://jsfiddle.net/stweyrzx/10/). However, if I map every position of

[2019-01-17 18:04] zombifier commented on #20319
Alright, I think I know why the test fails. Travis on PRs run `gulp build`, which builds `amp-inabox-host.js`, while Travis on commits run `gulp dist`, which builds `amp4ads-host-v0.js`. The test server does not actually run the `gulp serve` server (instead SauceLabs proxies port 8000 to the test server), so the change to `app.js` in #20154 is a no-op to the testing framework, and the inabox test

[2019-01-17 18:08] rsimha commented on #16124
This is still a top cause of flakiness on `master`. From today: https://travis-ci.org/ampproject/amphtml/jobs/480964219#L1524

[2019-01-17 18:08] jeffjose commented on #16737
Hi @shimonenator, would you mind opening a new issue for this question? I want to make sure the question you're asking is answered properly and not buried inside a larger issue.

thanks!

[2019-01-17 18:08] #16737 closed

[2019-01-17 18:12] alabiaga commented on #16124
I haven't looked at this yet but will by end of day today. Sorry for the delay. Thanks.

[2019-01-17 18:14] lannka commented on #20319
I don't this this is correct, as many our integration tests rely on changes on app.js, for example the request-banks (defined in amp4test.js but installed in app.js).

The code that adds `app.js` to test server is here:
https://github.com/ampproject/amphtml/blob/master/build-system/tasks/karma.conf.js#L277

[2019-01-17 18:15] lannka commented on #20319
@rsimha do you have the answer?

[2019-01-17 18:17] rsimha commented on #20319
I believe you can do so on Travis via "more options -> trigger build"

[2019-01-17 18:17] aghassemi commented on #20405
@dbarcosb Thanks for the report and sorry you couldn't get an answer through other channels.

So tl;dr: is
[code]
works but
[code]
throws a
[code]

/to @choumx thoughts?

[2019-01-17 18:23] lannka commented on #20319
@rsimha what @zombifier want is to trigger a full build for a pull request.

[2019-01-17 18:44] rsimha commented on #20319
Aha, there's no easy way to do so right now. We do `build` for PR builds and `dist` for push builds because `dist` takes a lot longer than `build` on Travis (~25 mins vs. ~5 mins), and we run way more push builds than PR builds on Travis.

It's part of our plans to unify the push builds and PR builds, but this is currently gated on significantly speeding up `dist` by defaulting to our single pass

[2019-01-17 19:09] lannka commented on #20319
to add, if the test is only failing on saucelabs, you need to [get saucelabs setup](https://github.com/ampproject/amphtml/blob/master/contributing/TESTING.md#testing-on-sauce-labs)

[2019-01-17 19:20] zombifier commented on #20319
I'll go with setting up Sauce Labs, since I still can't see anything wrong on local testing. Thanks.

[2019-01-17 19:23] sparhami commented on #6906
It seems like `layout="container"` does not make much sense for carousel, because layout container means the carousel should size to the contents, but the carousel must have some overflow for it to scroll. I would assume that container would be used with some CSS to constrain the width, thus making the carousel take the height of its content, but still scroll.

Layers seems to satisfy the original

[2019-01-17 19:35] jridgewell commented on #20392
Due to #20015. You've imported a file file (`extensions/amp-geo/0.1/amp-geo.js`) which contains impure code (https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/0.1/amp-geo.js#L407-L411). That code **will run** in whatever binaries import it.

So, [`amp-consent.js`](https://cdn.ampproject.org/rtv/001901151846530/v0/amp-consent-0.1.js) now contains `amp-geo`'s custom element. `amp-

[2019-01-17 19:48] adelinamart commented on #20392
Please let us know if this is a blocker for next week production. Thanks.

[2019-01-17 19:52] rsimha opened #20408 "Uncaught SyntaxErrors seen when AMP tests include HTML files"
We occasionally see errors of this sort:

[code]

From googling, the `<` appears to come from an HTML file. See [here](https://stackoverflow.com/questions/17586074/karma-unexpected-token-when-including-an-html-file) for more info.

In this case, `test/integration/test-released.js` uses `test/fixtures/released.html`. We already apply the `html2js` transform to the files in `./test/fixtures/*.html`,

[2019-01-17 19:56] rsimha commented on #20408
From http://karma-runner.github.io/3.0/config/preprocessors.html:

[2019-01-17 20:04] jridgewell commented on #20392
It is, we'll need a new canary cut.

[2019-01-17 20:10] #20397 closed

[2019-01-17 20:35] newmuis commented on #20399
@Serhio77777 are you looking to programmatically mute a video, or allow users to selectively mute each of the videos?

[2019-01-17 20:41] Enriqe commented on #20399
Hey @Serhio77777, thanks for filing this bug!

We currently don't have an affordance to control each individual video... BUT we are working on supporting clickable components inside an `amp-story-page` (#19213). This will allow the user to tap on individual videos on an `amp-story-page`, expanding them into an "expanded" view and enabling their controls. Including the mute/unmute controls. Hope th

[2019-01-17 20:41] #20399 closed

[2019-01-17 20:57] lannka commented on #19951
@dianomi-mjs sure thing. FYI, it takes roughly a week to get it whitelisted. While waiting, you can start following the instructions for the integration. Let me know if you encounter any issue down the line.

[2019-01-17 21:34] rsimha commented on #20319
Thanks @zombifier, and sorry about the extra work. Let us know if you run into any issues.

[2019-01-17 22:23] honeybadgerdontcare opened #20422 "Document Validator release schedule"
Inspired by #20420 , the Validator should also have a release and freeze schedule documented. It can either become a part of the general [Release Schedule](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md) document or it's own under validator/.

[2019-01-17 22:33] alabiaga commented on #16124
I am in the process of upgrading my sauce lab account so I can run this in the environment the logs indicate it is failing in. @choumx posted a failure in a non sauce lab environment but given it's flakiness, I am unable to reproduce after several attempts. Looking at the failures, I think the easy fix (not necessarily the right fix) could just be removing the number of calls expected from the cal

[2019-01-17 22:53] Malvoz opened #20423 "[amp-iframe] sandbox=allow-storage-access-by-user-activation"
I understand if you want to wait for implementations, however I ask to consider adding the new `allow-storage-access-by-user-activation` sandbox directive as defined by the proposed Storage Access API, see: https://webkit.org/blog/8124/introducing-storage-access-api/.

[2019-01-17 23:26] jridgewell opened #20426 "🌸 Cherry pick request for #20392 into #20361 (Pending)"
**GitHub issue your cherry pick is fixing:**

Issue #20392

**PR that you are requesting a cherry pick for:**

PR #20411

**Release(s) you requesting this cherry pick into:**

Production Release? No

Canary release? #20361

**Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)?  Be specific.**

[2019-01-18 01:15] meistudioli commented on #20343
Thanks you.

[2019-01-18 01:16] meistudioli commented on #20397
Thank you.

[2019-01-18 01:55] zhouyx commented on #17742
@consentmanager @oliverfernandez @jawadst @jeffnordlund-ghost  The AMP side work has completed. We expect all feature to be live in canary next Tuesday.

I've created a draft doc for you to start with. Please let us know if there's any questions. I'm happy to sync with you offline as well.

[2019-01-18 02:59] #20343 closed

[2019-01-18 09:15] AcidRaZor commented on #12659
Any progress on this?

[2019-01-18 10:19] cycleos opened #20432 "amp-ima-video returns error when not used in current document"
## What's the issue?
If amp-ima-video is loaded on a page, but not actually used, this breaks the AMP validation.
This is different behavior from amp-video, which can be loaded without having actual video on the page.
Implementing amp-ima-video load only on pages with video could be quite complicated on certain CMS-es.

## How do we reproduce the issue?

1.  Create sample AMP page and include amp-

[2019-01-18 13:18] kilitary commented on #20432
What's the issue?

If amp-ima-video is loaded on a page

How do we reproduce the issue?

Create sample AMP page and include amp-ima-video

What browsers are affected?
A

Which AMP version is affected?
Current

[2019-01-18 13:20] kilitary commented on #20432
Дуфму

[2019-01-18 13:21] kilitary commented on #20432
INCOMING TRANSMISSION---------------------
.
.
.
.
SELF-BAN REQUEST TO RESCUE INFORMATION LEAK ====>

[2019-01-18 15:42] cramforce opened #20433 "Consider default `prefers-reduced-motion: reduce` rule"
Users can now express that they prefer reduced motion in some user agents.

Should we provide a default in AMP that reduces animations?

[code]

The above would be the biggest hammer and probably not sufficiently compatible. Maybe we can instead reduce the duration to 0, so that all animations are in their end state.

Additionally, transitions and programmatic animations need to also be considered

[2019-01-18 15:49] cramforce commented on #20426
Ouch, approved.

[2019-01-18 15:50] cramforce commented on #20426
I commented on the PR as to why this wasn't covered by forbidden dependency rules. Please investigate separately.

[2019-01-18 15:58] aghassemi commented on #20432
This is by design, most amp components need both the script tag and at least one usage tag to be valid. amp-video does not enforce this for historical backward compatibility reasons.

[2019-01-18 15:59] #20432 closed

[2019-01-18 16:11] aghassemi commented on #20423
@Malvoz All sandbox values are supported on `amp-iframe` since we just pass them along to the `ifame` so there is no change needed on our side.

[2019-01-18 16:11] #20423 closed

[2019-01-18 16:38] johnnyshankman commented on #9371
Not true, just checked a page with errors and `window.AMPErrors` was `[]`. I think that's used internally for something else @praharshjain

[2019-01-18 17:15] aghassemi commented on #20433
Logging some initial special cases that came up during offline discussions:
- AMP boilerplate needs to be exempt as it uses `animation` as a timer for `visibility`. So setting `duration: 0` would actually make things worse ( page shown while layout is moving around)
- `amp-fx-collection`  an just disable itself and short-circle all code execution when reduced motion is detected (in JS)
- `scrollTo

[2019-01-18 17:25] jridgewell commented on #20426
Already have an update to the foreign dependency rules in https://github.com/ampproject/amphtml/pull/20412.

[2019-01-18 17:47] jpettitt commented on #20400
Yes it's blocking a publisher launch so next sprint would be good.

[2019-01-18 17:54] kristoferbaxter opened #20435 "Consider Allowing `Set` usage in `amphtml` JavaScript"
## Describe the new feature or change to an existing feature you'd like to see

Consider removing the ban on `Set` within `amphtml` JavaScript.

It's mostly supported by oldest in support range user-agents, (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set#Browser_compatibility) and the IE11 holes could be contained using ESLint rules and build transforms.

## D

[2019-01-18 18:32] lannka commented on #20400
planned for next sprint. @zhouyx

[2019-01-18 18:34] lannka opened #20436 "Allow usage of iframePing in configRewriter response"

[2019-01-18 18:50] Gregable commented on #19688
This should be resolved now in the AMP Cache.

Existing pages in the AMP Cache may still display the bug until refreshed. Documents are refetched asynchronously on every page load, so this will only effect approximately the first page view.

[2019-01-18 18:55] adelinamart commented on #20426
This was cherry picked with new release 1901181700510

[2019-01-18 18:55] #20426 closed

[2019-01-18 18:59] jimbojetlag opened #20437 "amp-imgur gifs behave abusing on mobile"
This is not a bug report per se, but more of an ethical problem with Imgur abusing amp as clickbait on mobile.

You can test this with an amp-imgur tag with a gif source on a mobile device. The tag will render a native video player, however when the the user taps on the click button the video does not play. Instead it opens the original url on imgur.com in a new browser tab, which is not the expec

[2019-01-18 19:04] jeffkaufman commented on #17997
I've seen several people get sidetracked in investigations, including me at least once, where they start trying to reproduce an issue, hit this error, and then think the error is responsible (because why would AMP throw an error when everything is working normally?)

[2019-01-18 19:08] jridgewell commented on #17997
We have this prioritized for this quarter, likely starting in Feb.

[2019-01-18 19:19] dvoytenko commented on #20435
LG

[2019-01-18 19:31] jridgewell commented on #20435
👍

[2019-01-18 19:42] Malvoz commented on #20423
That's weird, I'm pretty sure I saw a warning the console log.

[2019-01-18 19:43] adelinamart opened #20438 "Error: "Unspecified error" on getBoundingClientRect() on disconnected elements [IE]"
Error: Unspecified error.
at setupDone_ (https://raw.githubusercontent.com/ampproject/amphtml/1901081935550/src/service/viewport/viewport-binding-ios-embed-sd.js:213)
at size_ (https://raw.githubusercontent.com/ampproject/amphtml/1901081935550/src/service/layers-impl.js:481)
at (https://raw.githubusercontent.com/ampproject/amphtml/1901081935550/extensions/amp-ad/0.1/amp-ad-3p-impl.js:306)
at measu

[2019-01-18 20:33] brandonmcconnell commented on #20194
@choumx Hey William! Just checking in. Any news yet?

[2019-01-18 20:46] cathyxz commented on #20194
I'll get to this in our next fixit sprint. Sorry for the delay.

[2019-01-18 20:52] aghassemi commented on #20423
@Malvoz that warning comes from the browser (since they don't support it yet). here is a non-AMP page reporting the warning (it happens when `iframe.setAttribute('sandbox', 'allow-storage-access-by-user-activation')` is called). https://output.jsbin.com/tonatazuta

[2019-01-18 21:02] choumx commented on #20438
Actual stack trace:
[code]

[2019-01-18 21:09] choumx commented on #20438
At this line: https://github.com/ampproject/amphtml/blob/304b48b7244af453e1bbbb1a1507612189f66bf2/src/service/viewport/viewport-binding-natural.js#L225

Looks like an IE-only error when calling `getBoundingClientRect()` on a disconnected element: https://github.com/dart-lang/sdk/issues/19065#issuecomment-108436331

[2019-01-18 21:11] aghassemi commented on #20437
@jimbojetlag Thanks for the report. That seems to be the way amp-imgur embeds work on the web ( https://help.imgur.com/hc/en-us/articles/211273743-Embed-Unit ).

However for me all videos auto play and `pause`, `play` icons do not take me to imgur ( clicking anywhere else does however), so doesn't seem too bad. Do you have a Url I can look at where video does not autoplay and `play` button takes t

[2019-01-18 21:12] choumx commented on #18486
Dupe of #20438.

[2019-01-18 21:12] #18486 closed

[2019-01-18 21:20] choumx commented on #20438
Called from `amp-ad` here: https://github.com/ampproject/amphtml/blob/304b48b7244af453e1bbbb1a1507612189f66bf2/extensions/amp-ad/0.1/amp-ad-3p-impl.js#L306-L307

Since it doesn't seem to be a deeper issue (e.g. resources laying out disconnected elements), just guarding against this in `getLayoutRect()` should suffice.

[2019-01-18 21:21] choumx commented on #20438
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/106812/

😄

[2019-01-18 21:33] Malvoz commented on #20423
Oh my bad, thanks! :)

[2019-01-18 21:33] matijagrcic commented on #17909
Thanks @choumx . Will verify this next week and we should then finally be able to push the AMP version of our product detail pages which contain multiple variants.

[2019-01-18 21:34] Malvoz commented on #20423
Oh my bad, thanks!

[2019-01-18 21:44] jpettitt commented on #20044
Is this on the roadmap?

cc @rudygalfi

[2019-01-18 21:47] torch2424 commented on #2273
Hello!

So a quick update on anyone following this, here is a quick status update:

Let me start by saying, **In my opinion, this still needs a couple weeks before experimenting with this in your development environment, due to our release cycles.**

So as of now, as far as I know, this is now available in PROD under an experiment. Meaning you can now use this for development, by doing `AMP.toggle

[2019-01-18 21:47] rudygalfi commented on #20044
@rsimha let us know your thoughts here.

[2019-01-18 21:48] torch2424 commented on #20108
Hello, So I left a status update on #2273 .

Also, since these two issues are closely related, and I am getting more people asking for updates, I'm trying to consolidate everything into one place. So I hope you don't mind if I close this issue, and we can continue our discussion on the issue linked above. 😄

Thank you!

[2019-01-18 21:48] #20108 closed

[2019-01-18 22:42] aghassemi opened #20444 "amp-geo should resolve during prerender"
Currently `amp-geo` does not do anything in prerender mode (since `prerenderAllowed()` is not overridden so `buildCallback` never gets called.)

We should make sure `amp-geo` is prerender-safe ( e.g. does not in anyway expose the user to an endpoint ) and allow allow prerender mode on it.

At least in the case of country added via cache and patched JS case, it seems very doable.

An example of a p

[2019-01-18 22:50] jpettitt commented on #20444
There is no 3p data access, the country is added to the  amp-geo.js file by the server.  There were a bunch of weird edge case race conditions bugs around the geo service, all fixed, I'd want to be sure we don't introduce new ones (it shouldn't but ...)

[2019-01-18 22:53] aghassemi commented on #20437
yeah i am not sure if we can do much about that. we can prevent opening a new window for the component but that breaks useful functionality in other cases.

[2019-01-18 23:00] jridgewell commented on #20444
This needs explicit approval from @cramforce. I don't imagine there are any issues with allowing it, though.

[2019-01-18 23:53] #19757 closed

[2019-01-19 00:11] #16098 closed

[2019-01-19 00:11] #19989 closed

[2019-01-19 01:05] morrillc opened #20446 "Textarea does not scroll into view when keyboard is opened on Chrome Android"
## What's the issue?

When a textarea is touched near the bottom of the screen it is hidden behind the keyboard. Expected result is the textarea will scroll up to the visible portion of the screen. About 20% of the time the textarea will stay behind the keyboard.

## How do we reproduce the issue?

Test page available here: https://jsbin.com/gafonix/edit

1. Make sure textarea is below where the k

[2019-01-19 01:29] meistudioli opened #20447 "Can amp-script support web component v1 ?"
Hi, @choumx :

amp-script looks so cool. I like to implement amp-script in my AMP pages and try to use some web components which I code. I wonder is there any possible to bring web components through amp-script to AMP page.

Here comes my web components.
- [bounce card](https://blog.lalacube.com/mei/webComponent_msc-bounce-card.html)

Code in AMP:
[code]

Paul

[2019-01-19 02:11] torch2424 commented on #20447
From what I can tell, currently, `<amp-script>` is under an experiment, and still very much under development. So it may be a while you can start to launch amp pages with `<amp-script>`. But you can definitely try it out, and feedback is very much appreciated!

Also, in terms of WebComponents, I am not entirely sure if that was implemented quite yet in WorkerDOM (the library that powers `<amp-scri

[2019-01-19 02:11] torch2424 commented on #20446
Triaging to @aghassemi , feel free to re assign 😄

[2019-01-19 15:19] Mezardan commented on #4793
For the amp in cors system, I think the given auxiliary resources are insufficient. For example, I don't know much about software, but I have a lot of wordpress. At the moment, AMP is actively working healthy. But how do I implement amp cors AMP cache, wordpress available amp li sites. I've been researching it for three days, but the methods I've done have always been wrong. Sorry for my English.

[2019-01-19 17:52] sgorelkin opened #20449 "Rb.Infox.Sg code support as amp-ad"
I'd like to contribute my code for amp-ad support Infox.sg site.
I already test it, but can't do pull request, becase I can't see my project at amp project forks.

All changes you can see this
https://github.com/sgorelkin/amphtml/tree/add-rbinfox

[2019-01-19 23:13] cburaca opened #20450 "Are fallback ads loaded only when initially visible?"
I'm having problems loading amp ads with fallback, if they are not visible when page initially loads or refreshs. When the amp-ad is not a fallback it loads correctly, either initially in view, or when scrolled in to view.
This seems to happen with any network type.

Shouldn't all the ads load when they get in view?
Am I missing some configuration, or is this by design?

**How to reproduce the iss

[2019-01-20 09:46] #20449 closed

[2019-01-20 10:03] jimishjoban commented on #12278
Hi,

yes, we are waiting for generic extension with a vendor profile to help our AMP publishers.

If there is anything i can help with, do let me know :)

[2019-01-20 10:55] cycleos commented on #20432
Well, except that there is ad before the video, there is no much difference between AMP VIDEO and AMP IMA VIDEO. It is logical that both work in the same way...

[2019-01-21 06:17] adelinamart commented on #20392
I'm still seeing the issue in the new canary release

[2019-01-21 09:01] gilbertococchi commented on #12098
Hi all, I am reopening this issue as it's still happening on https://rep.repubblica.it/pwa/generale/2019/01/20/news/cinque_milioni_di_e-fatture_al_giorno_ma_sono_la_dannazione_dei_piccoli-217055626/ where they have been forced to use link=preload to the font files declared in the PWA parent page to preload the fonts in AMP.

[2019-01-21 14:44] sthilt-sas opened #20453 "Missing closing angle bracket in OnNetwork ad example"
## What's the issue?

Missing closing angle bracket in OnNetwork ad example in /examples/ads.amp.html  . Ad examples after that vendor do not render on example page.

## How do we reproduce the issue?

run gulp to start the development server.
See no ad examples after OnNetwork vendor get rendered.

## What browsers are affected?

At least on Chrome and Firefox.

## Which AMP version is affected?

[2019-01-21 16:14] rrjanbiah commented on #13471
Apologies for my ignorance...

When I open any AMP pages, I'm already logged into Google. So, will this custom JavaScript implementation add any session hijack attack? If not, how this will be handled? TIA

[2019-01-21 18:10] brandonmcconnell commented on #20194
No worries! I was just touching base. Thanks @cathyxz!

[2019-01-22 15:24] jpettitt commented on #20392
Looks like there is a separate, low volume, issue where `amp-geo-latest.js` is not being patched but `amp-geo-0.1.js` is.  This is a serving infrastructure issue.

[2019-01-22 15:49] nainar opened #20456 "[MASTER FEATURE] Enable use of AMP Components outside of AMP pages"
Explore the idea of using AMP components in non AMP pages.

Potential benefits:

- Currently developers have to create a new stack to work in AMP, this adds not just development overhead, but in some cases increase engineering teams (if they decide to use the paired AMP approach).
- By being able to use AMP components outside of AMP we are making incremental adoption possible rather than require a

[2019-01-22 15:53] estherkim opened #20457 "Create E2E test settings"
Let E2E tests specify 'test settings' to pipe to describes-e2e. This is initially to set toggleExperiment before a test runs. Meant to be expanded for other settings such as

opt-in-environments: Array<string>
opt-out-browsers: Array<string>
toggleExperiment: boolean

cc/ @cvializ

[2019-01-22 16:08] newmuis commented on #20344
@psdtomanythings sure!  We don't currently support Marathi or Gujarati, but If you want to update the [Hindi strings](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/_locales/hi.js) to include all of the strings marked as `undefined` in the [spreadsheet](https://bit.ly/amp-story-strings), that would be much appreciated!

[2019-01-22 17:00] choumx commented on #20456
Related: #15583, #17548

[2019-01-22 17:07] gmajoulet commented on #20392
Should we wait for this internal CL to be submitted before promoting the canary to prod?

[2019-01-22 17:16] jpettitt commented on #20392
The CL doesn't change anything in the actual build it only changes serving infrastructure.  I don't see a blocker on promoting - @jridgewell do you concur?

[2019-01-22 18:39] aghassemi commented on #20446
@morrillc Thanks for filling the issue. Does this behave differently outside of AMP? I don't believe AMP runtime does anything special for this case and may be a browser bug. Could you check your sample by removing AMP's JS scripts and see what happens then?

[2019-01-22 18:49] choumx commented on #13471
No, for several reasons. An important one is that AMP pages are served off a different domain (e.g. *.cdn.ampproject.org for the Google AMP Cache) than the launching page (e.g. google.com).

[2019-01-22 18:54] jeffkaufman commented on #19869
@lannka: @zombifier has now written a proof of concept in #20459 that he's working on fleshing out

[2019-01-22 18:56] jpettitt commented on #20392
Fix is working, there are some lingering cached files which will clear with the new canary build today.

[2019-01-22 19:15] lannka commented on #19951
@dianomi-mjs forgot to ask, what path do you plan to serve those templates?

for example, it can be: `https://static.dianomi.com/amp/`

[2019-01-22 19:31] lannka commented on #19869
thanks for looking into it. this was a long waited TODO #7791

[2019-01-22 19:32] lannka commented on #7791
tracked here now: #19869

[2019-01-22 19:32] #7791 closed

[2019-01-22 19:36] lannka commented on #14365
Tasks breakdown:
- [ ] host API
- [ ] amp-mraid support #19388
- [ ] amp-ad-exit integration
- [ ] amp-analytics integration

[2019-01-22 20:55] aghassemi commented on #18986
@newmuis @gmajoulet Chrome 71 has shipped the `options` param for `requestFullScreen` (https://developers.google.com/web/updates/2018/12/nic71).

[2019-01-22 21:46] estherkim opened #20465 "Expand page interaction support for E2E tests"
Add page interaction support such as
- long press
- swipe

[2019-01-22 21:48] estherkim opened #20466 "Explore integrating E2E tests with visual-diff tests"
Enable easier debugging when taking screenshots and doing visual-diffs. Explore merging the two test types

[2019-01-22 21:51] estherkim opened #20467 "Support custom E2E test settings"
To expand on test settings, allow extension-specific test settings. Example: amp-story has many different states (desktop, rtl) but multiple files have to be managed for each test + state combination.

[2019-01-22 23:38] aghassemi commented on #19570
@pbakaus This is slipping the timelines of 29th by a week. Sorry about that, still on top of my list.

[2019-01-23 00:00] gmajoulet opened #20470 "🚄Release tracking issue for canary release 1901222107370 (Production)"
# Release tracking issue

- [x] Release [1901222107370](https://github.com/ampproject/amphtml/releases/tag/1901222107370) is cut as a new canary release
- [x] Release 1901222107370 pushed to dev channel (8:33 PM, Jan 22, 2019 UTC-5)
- [x] Release [1901232142340](https://github.com/ampproject/amphtml/releases/tag/1901232142340) created with cherry picks.
- [x] Release 1901232142340 pushed to Dev Ch

[2019-01-23 00:14] aghassemi opened #20471 "Use Chrome's new userActivation.isActive for iframes"
https://blog.chromium.org/2018/12/chrome-72-beta-public-class-fields-user.html

Chrome 72 comes with flag to see if a message from an iframe is based on user interaction.
[code]

[code]

Two places we can use this:
1- `resize` detection for `amp-iframe`
2- two-way messaging between `amp-bind` and `amp-iframe`

The paused unmuted video hack to do this detection should still work for other browsers.

[2019-01-23 00:29] joshcp opened #20472 ""Removed unsafe attribute" error for amp-bind within amp-list"
## What's the issue?

We're seeing the console error `Removed unsafe attribute:` on pages using amp-bind within amp-list. It also appears that this sanitization is hammering performance on physical devices.

![amp_removed-unsafe-attr](https://user-images.githubusercontent.com/1458588/51574417-86e08480-1e62-11e9-909b-ee4988df1851.png)

## How do we reproduce the issue?

Example URL: https://amp.luc

[2019-01-23 01:32] choumx commented on #20471
Thanks for the heads up. 👍

[2019-01-23 01:41] tomxbarnesx commented on #13476
I'm having similar issues to the original poster. I was only attempting to upload 5 background audio files. The files are arranged correctly in the amp html and are accessible in the src property via the developer tools, but nothing plays.

I noticed it while trying to build this new story, but going back through our archives, it seems that all the slides that have background audio (all as attribu

[2019-01-23 02:01] tomxbarnesx opened #20473 "background audio attributes on amp-story not functional"
## What's the issue?

Background-audio, previously attached as an attribute to an amp-story-page, is no longer functional / playable.

## How do we reproduce the issue?

Create a boilerplate amp-story and attach a background audio file as an attribute of a amp-story-page. No sound. Nothing. This is also the case on past stories now published that were once functional. Has something changed about t

[2019-01-23 03:44] leonalicious opened #20474 "[Urgent] Removed unsafe attribute" error for amp-bind"
## What's the issue?
Please refer to : #20397
![image](https://user-images.githubusercontent.com/4065175/51581690-0eca9b00-1f04-11e9-8bc1-a17879348fda.png)

## How do we reproduce the issue?
Please visit https://m.aliexpress.com  and click on `Sidebar` menu on the top left, and by then we will be fetching `Country` with `amp-list` and it will cause the browser to **COLLAPSE** with Thousand of erro

[2019-01-23 03:55] newmuis commented on #13476
Nothing has changed, but the state is also dependent on what else is happening on your machine, especially if you are using an Apple device.  If you have other tabs or applications open that have audio or video (whether they are playing or not), it will decrease the number of audio or video elements you can use in your story.

Of course, the goal is to mitigate this as much as possible, and that i

[2019-01-23 03:58] choumx commented on #20474
Same as #20397 and fixed by #20407 (in dev channel). Those are spurious errors and can be ignored.

@leonalicious Do you notice any impact on device?

[2019-01-23 04:05] choumx commented on #20472
Thanks for the report. This is the same as #20474 and #20397.

Investigating this.

[2019-01-23 04:15] choumx commented on #20474
The offending release #20361 has been rolled back -- we'll patch and roll forward tomorrow. Thanks for the report.

[2019-01-23 04:15] #20472 closed

[2019-01-23 05:47] joshcp commented on #20472
Thanks @choumx

[2019-01-23 06:18] xiaotong-tj commented on #18620
Any updates on this?

[2019-01-23 08:20] rrjanbiah commented on #13471
@choumx Thank you for your explanation!

[2019-01-23 09:05] leonalicious commented on #20474
yeap @choumx , it will keep on hammering on the performance of the physical device, my CPU% workload suddenly raised to 150% upon the rendering.

[2019-01-23 15:35] gmajoulet commented on #20473
Thanks for filing this.
Broken by: #20264

Good news is version 1901181700510 has been rolled back yesterday because of another issue in the release, so it should work again.

[2019-01-23 15:57] gmajoulet opened #20476 "Sidebar for amp-story desktop incorrect width and overlay."
![image 1](https://user-images.githubusercontent.com/1492044/51619050-73362c00-1efd-11e9-83bb-44b9f5aa7921.png)

1. Width of the sidebar seems incorrect
2. Clicking on the left of the screen while the sidebar is open navigates to the previous page instead of closing the sidebar

Can be reproduced here: https://bulletin.google.com/share/amp/KdZJQgBa/CcZwvh

[2019-01-23 15:58] gmajoulet commented on #20476
@bramanudom do you have time to look into this during this sprint? Thanks!

[2019-01-23 16:02] cramforce commented on #20444
Prerendering is definitely fine here. Components that don't make 3P web requests are always save.

@jpettitt amp-geo never makes 3p requests, right?

[2019-01-23 16:24] newmuis commented on #13476
For the record, we have since discovered that the issue that @tomxbarnesx describes here was actually a separate issue.  #20473 has context.

[2019-01-23 16:28] gmajoulet opened #20479 "🌸 Cherry pick request for #20473 into #20470 (Approved)"
## GitHub issue your cherry pick is fixing:

Issue #20264

## PR that you are requesting a cherry pick for:

PR #20477

## Release(s) you requesting this cherry pick into:

Production Release? NO

Canary release? YES

 Release Issue #20470

## Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)

[2019-01-23 16:38] tomxbarnesx commented on #13476
Thanks so much for the updates. Yeah I had a feeling the problem wasn't entirely related to hardware slotting. Good luck with the future updates

[2019-01-23 16:43] newmuis commented on #20476
The linked document is not valid AMP: https://validator.ampproject.org/#url=https%3A%2F%2Fbulletin.google.com%2Fshare%2Famp%2FKdZJQgBa%2FCcZwvh

[2019-01-23 16:43] #20476 closed

[2019-01-23 16:44] rsimha opened #20480 "Codecov is posting comments on PRs even though comments are disabled"
We use codecov.io for code coverage reports. In our config file, we've disabled comments:

https://github.com/ampproject/amphtml/blob/0f4870b5d84b1c165557642e966e37e4ecff33f9/.codecov.yml#L1-L4

Yet, we're seeing comments being posted on PRs. For example, https://github.com/ampproject/amphtml/pull/20424#issuecomment-456858169

[2019-01-23 16:56] newmuis commented on #17793
Selenium testing sounds like it can work too!  We just want some way to write e2e tests for stories 😄

[2019-01-23 16:56] #17793 closed

[2019-01-23 17:32] #20473 closed

[2019-01-23 17:43] zhouyx commented on #20444
@jpettitt let me know if there's anything I can help with here.

[2019-01-23 19:22] alabiaga commented on #16124
cc\ @estherkim

[2019-01-23 20:23] cramforce commented on #20479
The title should say that this is going into canary, not prod.

Approved.

[2019-01-23 20:49] rsimha opened #20488 "When sauce connect fails on Travis, print the latest status (with a link)"
This is how we indicate that the sauce_connect script failed.

https://github.com/ampproject/amphtml/blob/719b0822ddcdbf42c769331c6844ea84ad4da84d/build-system/sauce_connect/start_sauce_connect.sh#L78-L85

Let's print the latest status from here: https://status.saucelabs.com/

[2019-01-23 21:32] jpettitt commented on #20444
`amp-geo` makes no external requests.  I'll make a PR to enable pre-render

[2019-01-23 21:37] choumx opened #20489 "🌸 Cherry pick request for #20474 into #20361 (Approved)"
## GitHub issue your cherry pick is fixing:

#20474

## PR that you are requesting a cherry pick for:

#20407

## Release(s) you requesting this cherry pick into:

Production Release? YES (#20361)

Canary release? NO (fix already exists in canary)

## Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-c

[2019-01-23 21:37] choumx commented on #20489
/cc @gmajoulet

[2019-01-23 21:46] danielrozenberg commented on #15134
Fixed :smile:

[2019-01-23 21:48] danielrozenberg commented on #19048
Since I don't have a mac, I can't test this or fix this. Reassigning to you ;)

[2019-01-23 21:49] danielrozenberg commented on #19787
This was fixed in #19850 and #19874

[2019-01-23 21:49] #19787 closed

[2019-01-23 22:02] mrjoro commented on #20113
*amp-experiment v2*
- what changes are required on the client?
  - if we upgrade to the service worker solution it wouldn't (the final document would already have the mutations applied)
- JSON format standard?  no, it's something we came up with
- everything in the JSON is currently implementable in the current amp-experiment?
  - e.g. if you have two anchor tags, have them with different paths

[2019-01-23 22:03] #20113 closed

[2019-01-23 22:05] zhouyx commented on #20444
@jridgewell I didn't know prerender block `buildCallback` as well, I had this [PR](https://github.com/ampproject/amphtml/pull/14656) to fix a privacy issue due to an xhr request in `buildCallback` before. Is this a new change or I am understanding it incorrectly? Thanks.

[2019-01-23 22:15] choumx commented on #20489
Approved by @cramforce over chat.

[2019-01-23 22:15] #20320 closed

[2019-01-23 22:31] gmajoulet commented on #20489
Done, new patched release is https://github.com/ampproject/amphtml/releases/tag/1901231933480

[2019-01-23 22:31] #20489 closed

[2019-01-23 22:36] cathyxz opened #20492 "Saucelabs dies with "No server available to handle this request""
Saucelabs status is green, but build still fails with error saying "No server is available to handle this request." It's pretty painful for a build to fail if all the VMs run except for Windows/Edge, since we just wasted 4/5 other builds.

[code]

*Meant this as a bug for SL, not for the tooling team.

[2019-01-23 22:47] choumx commented on #20492
Looks like they've noticed.

Jan 23, 14:43 PST

https://status.saucelabs.com/

[2019-01-23 23:08] gmajoulet commented on #20479
Cherry-picked in the canary: https://github.com/ampproject/amphtml/releases/tag/1901232142340

[2019-01-23 23:08] #20479 closed

[2019-01-23 23:47] eveyiyuan commented on #14788
Hi! I was wondering if there are any updates on the issue and what solutions are we exploring!

[2019-01-24 00:39] cathyxz opened #20499 "Layers: viewport-impl.js:getRect() returns 0 for scrollTop and scrollLeft"
Per https://github.com/ampproject/amphtml/pull/20332#discussion_r250030453, when layers is enabled, the `scrollTop` and `scrollLeft` of `viewport.getRect()` is zero. This doesn't match the function description: "Returns the rect of the viewport which includes scroll positions and size" since the scroll positions are always zero. For consistency, should the function description be updated, or shoul

[2019-01-24 00:59] Gregable commented on #19554
Parsing foreignObject is not well supported in the HTML parsers for the AMP validator. In particular, you get into some complex state as these can nest with a lot of complexity:

`<svg><foreignobject><svg><foreignobject>...`

There is very little usage of this seen in the wild when it was removed from the validator(https://github.com/ampproject/amphtml/pull/14460/files). When I looked at the time,

[2019-01-24 01:05] Gregable commented on #19554
As an example of this is:

`<html><svg><foreignobject><div></foreignobject><foo/></svg>`

When loading this doc into Chrome and looking at it with the inspect
element. The foo tag ends up inside the div which ends up inside the
foreignobject. The AMP validator does not know how to correctly handle these cases, nor is it trivial to do so.

Considering the non-existing usage, and the high cost to im

[2019-01-24 03:07] gmajoulet commented on #20474
I can repro from the `/shopcart/list.html` page, but not by opening the sidebar (navigation menu). Rolling back the release #20361

[2019-01-24 14:46] #20444 closed

[2019-01-24 14:51] jpettitt commented on #20392
We're no longer seeing this error - closing the issue.  Any recurrence should be treated as a new issue as it will almost certainly have a different root cause.

[2019-01-24 14:51] #20392 closed

[2019-01-24 15:34] jeffkaufman opened #20500 "Sandbox preferentially rendered AMP ads"
In #14240 we tracked adding the `sandbox-ads` feature (now launched) which turns on `<iframe sandbox=...>` for cross-domain iframes.  Validated AMPHTML creatives rendered in a friendly frame, though, don't get any sandboxing.  Is this something we could add as well?

Playing with this, seeing if it breaks anything, I did:

[code]

Of course we'd need to feature detect if we actually did this.

The

[2019-01-24 16:00] conwaydev commented on #4988
Also would love this. Currently in the docs (https://ampbyexample.com/advanced/how_to_support_images_with_unknown_dimensions/#object-fit-to-the-rescue) it states to use css such as:

[code]

However, any sort of UnCSS tool (including the PHP based one the WordPress plugin uses), will strip out that style because the `img` doesn't actually exist in the DOM. Happy to hear about other solutions peopl

[2019-01-24 16:34] #20474 closed

[2019-01-24 16:43] prateekbh commented on #18689
This was implemented here: https://github.com/ampproject/amp-sw

[2019-01-24 16:43] #18689 closed

[2019-01-24 16:46] prateekbh commented on #18615
Any changes to amp-state without an explicit user gesture is forbidden from updating any UI. We might wanna re-visit that clause

[2019-01-24 16:50] choumx commented on #14788
From the options listed here: https://github.com/ampproject/amphtml/issues/14788#issuecomment-385047162

Option 4 (#16049) had to be partially rolled back. It's probably too late/brittle to modify our heuristic for automagically transferring fixed elements.

Renamed this issue to track the work for option 2 which we can still do.

[2019-01-24 16:55] choumx commented on #14788
@jridgewell Do we have public documentation describing these quirks with fixed/sticky position elements on iOS? I'm wondering if we build this API, how would publishers know to use it?

[2019-01-24 16:58] choumx commented on #19554
These special attributes seem to be only "valid" if svg is inline.

@hw-dwalter Can you give an example that shows which bindings aren't working for you?

[2019-01-24 17:06] choumx commented on #20177
@florance12 We'd need more information to possibly help. Also, this issue might be better suited to the AMP for WP support forums.

[2019-01-24 17:06] #20177 closed

[2019-01-24 17:13] choumx commented on #18113
This was fixed with #18386.

[2019-01-24 17:13] #18113 closed

[2019-01-24 17:15] choumx commented on #17552
This caveat is now documented in amp-mustache: https://github.com/ampproject/amphtml/blob/master/extensions/amp-mustache/amp-mustache.md#nested-templates

Perhaps we should have pointers in amp-list's and amp-form's documentation?

[2019-01-24 18:14] #20280 closed

[2019-01-24 18:22] lannka commented on #19951
It will be better if you can have a specific path for all the templates. For the URL you provided, we have to whitelist your entire domain.

[2019-01-24 18:33] zhouyx commented on #18739
Closed by #18739

[2019-01-24 18:33] #18739 closed

[2019-01-24 18:47] torch2424 commented on #20453
@sthilt-sas Thank you very much for finding this! :smile:

[2019-01-24 18:51] calebcordry opened #20509 "🌸 Cherry pick request for #20506 into 1901232142340 (Pending)"
## PR that you are requesting a cherry pick for:
PR #20506

## Release(s) you requesting this cherry pick into:
1901232142340

Production Release? NO

Canary release? YES
Release Issue #20470

## Why does this issue meet the [cherry pick criteria]
Previously cherry picked PR #20473 is produces a new error that is causing users to get stuck on on ads pages for several clicks.

This PR needs to foll

[2019-01-24 19:49] torch2424 commented on #2273
So, another update, found out there is an SSL Error with our recaptcha iframe. Will write up a fix for that, and then let everyone know when this is 100% ready for feedback and testing 😄

Thank you!

[2019-01-24 20:01] #20488 closed

[2019-01-24 20:03] gui-poa commented on #17631
Just to report that in pt-br this bug is more evident than es (as shown in the issue).
![image](https://user-images.githubusercontent.com/1610365/51705260-47e93500-2002-11e9-9921-1731b532f8f0.png)

[2019-01-24 20:31] cramforce commented on #20509
Approved

[2019-01-24 21:42] gmajoulet commented on #20509
Cherry picked in https://github.com/ampproject/amphtml/releases/tag/1901242049580

[2019-01-24 21:42] #20509 closed

[2019-01-24 22:16] florance12 commented on #20177
hi @choumx and thanks for reply to this issue
I am Using the AMP plugin that was developed by automatic and google and other developers
https://wordpress.org/plugins/amp/ , and I am asking if developers of this plugin can offer way to add adsense codes from WP panel instead of file manger, like what they offer for adding analytics code.

sorry , the **AMP for WP** plugin cause a lot of errors in G

[2019-01-24 22:17] cathyxz opened #20517 "Cleanup 'amp-img-auto-sizes' experiment"
Cleanup experiment flag associated with https://github.com/ampproject/amphtml/issues/19513.

[2019-01-24 23:20] gmajoulet commented on #17631
Ah, this looks really bad. :(
Plan is to move away from this button and add another button similar to the one we have on mobile, that would trigger a modal containing the sharing options.

[2019-01-25 00:10] #20352 closed

[2019-01-25 01:33] cathyxz opened #20520 "Rerun Visual Diffs without rerunning all of Travis integration tests"
Is there a way we can rerun percy for flakes without rerunning all of the integration build for Travis CI? =)

[2019-01-25 02:46] zhouyx commented on #17742
All features should be live in with developer opt-in now.

I've created an [example page](https://zhouyx-flying-carpet.firebaseapp.com/manual/amp-consent-cmp.html) to demonstrate. It's a simplified cmp service, with

- example remote endpoint logic
![image](https://user-images.githubusercontent.com/5419904/51721636-82090580-2007-11e9-87dc-e6d77920571e.png)

- consent prompt ui iframe
https://raw.g

[2019-01-25 02:52] jawadst commented on #17742
@zhouyx Thanks a lot for all your hard work, this looks great!
I'll try it out next week and send any feedback I have.

[2019-01-25 02:56] tomxbarnesx commented on #20473
Hey @gmajoulet @newmuis  I noticed the background audio was working briefly yesterday but is out again. Should we plan on this feature being in and out over the next few days and plan our releases accordingly?

[2019-01-25 03:37] meistudioli opened #20523 "amp-mustache: Universal links (unknown protocols) are sanitized"
To whom it may concern:

I use amp-list and amp-mustache to display some dynamic module. Looks like amp-mustach will drop some value not in its whitelist.

Here comes my example.

HTML code:
[code]

Response:
[code]

The final one's link is an **Universal Links** and amp-mustache will not render it.

Paul

[2019-01-25 04:28] shimonenator opened #20525 "AMP Linker support for primary origin iframes"
This is a continuation of discussion started in #16737.

Now that AMP Linker is out, I'd like restart the discussion about providing support for first party iframes to be able to request linker to pass it the same object as is being set on click on a link.

One of the most common use-cases would be publisher's video player iframe, which runs from the same-ish origin ("same-ish" is due to `allow-sa

[2019-01-25 10:05] WebReflection commented on #15728
please close this if there's no interest in fixing it, 'cause it sits in my list of issues, which I am trying to clean up.

Thanks.

[2019-01-25 10:25] hw-dwalter opened #20526 "Warning message wrong: "Default value (200) does not match first result (200) for <AMP-LIST""
## What's the issue?

Warning message in #development=1 is wrong.

![image](https://user-images.githubusercontent.com/1303452/51740204-a90d1900-2093-11e9-8c4d-a119bd74e167.png)

## How do we reproduce the issue?

See gist https://gist.github.com/hw-dwalter/51e7227ee446099e6b053849c06afe19

[2019-01-25 10:33] palances opened #20527 "Enable amp-list-load-more with origin trials"
Can we enable or add "amp-list-load-more" to "allow-doc-opt-in" in prod-config.json ? That would help developers to opt-in amp-list-load-more via meta tag.

[2019-01-25 10:41] hw-dwalter opened #20528 "amp-mustache silently removes attribute name="action", not removed if name="a_action" from <input>"
## What's the issue?

amp-mustache removes attribute `name="action"` but attribute is not removed if `name="a_action"` from <input>.

![image](https://user-images.githubusercontent.com/1303452/51741034-05713800-2096-11e9-8810-f14b7eb943c9.png)

## How do we reproduce the issue?

See https://gist.github.com/hw-dwalter/bf00c5c96640207691b6da63608abd67

[2019-01-25 14:35] dianomi-mjs commented on #19951
Hi there

I copied your example here

https://www.dianomi.com/amp/amp4ads_0.epl

Is that ok?

Thanks

[2019-01-25 15:41] rudygalfi commented on #12278
It seems like ownership of the generic extension is unresolved. @lannka Does the AMP linker work help out with this?

[2019-01-25 16:40] #15728 closed

[2019-01-25 17:44] #18478 closed

[2019-01-25 17:57] aghassemi commented on #20527
@palances We are working on enabling Origin Trial for it. (works very similar to the proposed doc-level-optin you mentioned)

/to @cathyxz
/cc @choumx FYI: use of origin trial coming soon.

[2019-01-25 18:33] gmajoulet opened #20530 "Error: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'."
This error came up on the 1% canary:

`Error: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'.`

[go/ampe/CP2m1Ynq777zZw](http://go/ampe/CP2m1Ynq777zZw)

[2019-01-25 18:33] danielrozenberg commented on #20520
Unfortunately there's no way to run the Percy build without running `gulp dist` (or a flavour of) before.

We're working getting more Travis VMs, which would allow us to split more shards (i.e., I already thought about splitting off visual-diff and bundle-size to a separate shard, that wouldn't be affected by the other running tests)

Even more ideally would be if Travis allowed us to start a shar

[2019-01-25 18:35] choumx commented on #20530
Stack trace:
[code]

[2019-01-25 18:44] choumx commented on #20530
Happens on `removeChild` in this function: https://github.com/ampproject/amphtml/blob/54ecd842c675c6acaf93170eb880188fa91d8399/src/static-template.js#L51-L63

Invoked from `prepareLoading_()` in custom-element.js: https://github.com/ampproject/amphtml/blob/54ecd842c675c6acaf93170eb880188fa91d8399/src/custom-element.js#L1600-L1602

We have a `devAssert` but those get stripped in prod. Looks like we

[2019-01-25 18:45] choumx commented on #20530
/to @jridgewell

[2019-01-25 18:56] lannka commented on #19951
That looks good. I will let you know when the whitelisting takes effect.

Meantime, let me know if you have any issue following the instruction for the integration.

[2019-01-25 19:06] choumx commented on #20528
This is a duplicate of issue #17897.

@hw-dwalter What's the impact of this on your page?

[2019-01-25 19:39] eduardogoncalves commented on #8929
Hi, any news on "expose results from HTML5 Geolocation API"?  I think the last discussion on this was on https://github.com/ampproject/amphtml/issues/18658#issuecomment-434853467

Will we create a new component or use amp-geo? Or we won't support getting user's current position provided by HTML5 Geolocation API ```window.navigator.geolocation.getCurrentPosition()```?

[2019-01-25 20:00] #19270 closed

[2019-01-25 20:31] zombifier commented on #20319
After some tinkering around on Sauce Labs I think my original assessment of the wrong port being used is correct. `app.js` is indeed being used, but the port that's used during testing is 9876, not 8000 (which is the port referenced in the inabox bootstrap script). The remote testing browsers can't reach the host script if `gulp serve` is not ran, which starts a separate instance on port 8000.

#2

[2019-01-25 20:37] lannka commented on #20319
ah, that seems right. shouldn't hard code port.

[2019-01-25 20:40] lannka commented on #20319
PR check does not run tests on Saucelabs, so no tests run under safari. that might explain why it passed  at that time.

I assume now it passes on Saucelabs right?

[2019-01-25 21:51] mrjoro opened #20535 "Design Review 2019-02-13 21:00 UTC (amp-carousel v2)"
Time: [2019-02-13 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=13&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190213T210000Z/20190213T220000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2019-01-25 21:51] zombifier commented on #20319
Have been testing for a while, it seems to.

[2019-01-25 21:51] mrjoro opened #20536 "Design Review 2019-02-21 01:00 UTC (amp-digidip)"
Time: [2019-02-21 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=21&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190221T010000Z/20190221T020000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Mee

[2019-01-25 21:51] mrjoro opened #20537 "Design Review 2019-02-27 16:30 UTC (Africa/Europe/western Asia)"
Time: [2019-02-27 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=27&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190227T163000Z/20190227T173000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Mee

[2019-01-26 01:40] torch2424 commented on #19976
Hello!

What is the status of this? Can I close this in favor of consolidating all reCAPCTHA issues into #2273 ? Or is this not realated to `amp-recaptcha-input`?

Thank you! 😄

[2019-01-26 01:40] zhouyx commented on #20400
Hello @enzo-giancola, thank you for filing the issue. I looked at the given example page. What I found is that the `<amp-subscription>` and the `<amp-analytics>` are in two different shadow root. In this case, they don't share the same the analytics service, so the custom trigger doesn't propagate to `<amp-analytics>` in another shadow root.

[2019-01-26 01:57] dandv opened #20543 "amp-video insists on local videos being served from localhost"
I'm spinning up a local server for static files, and it's listening to http://127.0.0.1:8080.

When I navigate to a page containing an `<amp-video src="local/path/video.mp4>`, I see this error in the console:

![image](https://user-images.githubusercontent.com/33569/51781218-97933380-20ca-11e9-92da-ddc23396cdb4.png)

If I navigate to http://localhost:8080, the errors are not shown.

[2019-01-26 02:12] choumx commented on #8247
FYI an internal FR for this: `b/113262842`. I think this might be an easy extension of the logic in `form-validators.js`. /cc @cvializ

[2019-01-26 04:01] choumx opened #20545 "amp-form: Validate non-descendant inputs of a form?"
Just browsing around and curious why we don't use [`HTMLFormElement.elements`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/elements) in form-validators.js.

It returns non-descendant inputs of forms and we use it in amp-form.js. It's also a live collection and so may be more performant by avoiding `querySelector`.

Though if we do change this it may be a breaking change and ne

[2019-01-26 08:52] ahmedzidan commented on #7508
Hello @rudygalfi , @ericlindley-g what is the progress of this Feature.
We have the same issue, we want to track how many user clicked on the "add to homescreen" banner.
Is there anyway to do that?
If not we want to help if we can, so please guid us so we can open a pull request.

[2019-01-27 09:02] leonalicious commented on #14060
![image](https://user-images.githubusercontent.com/4065175/51798872-3eefa200-2254-11e9-9e6b-44351a5fcd0a.png)

hey @cathyxz , I do have a tiny issue that would need your help, basically, everytime I triggered `load-more`, it will fetch the data from backend and appeneded the data with a new `Root Element`, it is possible to append the data to the same `parent` instead ?

[2019-01-27 09:39] leonalicious commented on #14060
![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/4065175/51799245-37cb9280-225a-11e9-9044-ba47f9c20db1.gif)
and also there is another issue which is, eventhough I didnt scroll at the bottom edge of the `amp-list`, it was still been triggered and sent to fetch new request ...

[2019-01-28 10:13] robmurtagh commented on #19821
Hi all, this issue still hasn't gone away, and we are still seeing lower viewability numbers than previously (and lower than we would expect based on publisher feedback).

I see that on this exact date there were a number of changes released which look like they could potentially be related to this symptom, e.g. pull requests: #19410, #19168, #19280. Particularly #19410, could this have caused a v

[2019-01-28 10:58] agarmave opened #20548 ""External User Consent Flow" isn't working"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-01-28 16:28] lannka opened #20551 "amp-call-tracking AdWords response format error"
Based on this [Developers guide](https://developers.google.com/google-ads/amp/landing-pages#configure_amp_call_tracker), click-to-call links must be decorated with a link to the Google Ads call tracking configuration. However, when the client used this format, they are getting "Response must contain a non-empty phoneNumber field" error wherein the link containing the Google Ads call tracking confi

[2019-01-28 16:58] jg-rc commented on #11239
@lannka @rudygalfi  is this client library still active ? i tried requesting an api key, but it wasn't possible.

[2019-01-28 17:05] choumx commented on #20523
Thanks for the report. This should be fixable.

[2019-01-28 17:22] cramforce commented on #20456
@ssantosms yes!

[2019-01-28 17:22] rudygalfi commented on #11239
@jg-rc we are shifting away from the Client ID API in favor of [AMP Linker](https://github.com/ampproject/amphtml/issues/16737)

[2019-01-28 17:58] pbakaus commented on #19570
thanks for letting me know! Please ping me as soon as there's something to try out.

[2019-01-28 18:03] jasti commented on #20259
Pinging @jeffkaufman again & @keithwrightbos as well.

[2019-01-28 18:17] jeffkaufman commented on #20259
Sorry, missed the tag the first time!  I don't have that data in general, since not all ad requests go to doubleclick, but I think @keithwrightbos or @bradfrizzell have calculated this for the traffic that does come to us?

[2019-01-28 18:22] rudygalfi commented on #7508
cc @jeffjose - could you comment if we're planning to prioritize this soon? In light of @ahmedzidan's offer to help implement it, perhaps we could offer some design guidance so they can submit their own PR if we're not planning to take this on soon?

[2019-01-28 19:11] torch2424 commented on #19821
@robmurtagh So those PRs would have increased your numbers if I understand the issue correctly. They only affect mobile safari (as the polyfill is only needed on that platform). Also, what the PRs do is make it so that intersection observer is pinged whenever a mutation happens on the element itself, as well as just watch where it is on the page.

Also, only  #19168, #19280 would have been in prod

[2019-01-28 19:47] cathyxz commented on #14060
Hi @leonalicious ! Thanks for your feedback!
1. Regarding triggering and fetching a new request. The current logic is to prefetch 3 viewports down, so if the bottom of the list is within three viewports, we will send out a new request. Ideally, the UX intention here is that short of network problems, the user should never see the bottom of the list until there are no more items. We can tweak this

[2019-01-28 19:55] zombifier commented on #20319
Slightly related, the AMP example creative in `amp4test.js` uses `cdn` serving mode instead of fetching from the local server. From looking at the code and manual testing it indeed seems to be testing files from the AMP CDN. Is this really the case, and if so should it be changed?

[2019-01-28 20:06] alanorozco opened #20555 "[amp-video-docking] Placeholder background is possibly offset by fixed headers"
![image](https://user-images.githubusercontent.com/254946/51863154-22f00d00-22f5-11e9-96d5-e97b0724747f.png)

[2019-01-28 20:19] mpatnode commented on #20548
Another test case for you:  https://www.google.com/amp/s/www.popsugar.com/celebrity/Victoria-Beckham-Anniversary-Quotes-About-David-2019-45723753/amp

[2019-01-28 20:22] labreaks opened #20556 "[amp-pan-zoom] seatmap SVG flickers and resets zoom if using amp-binding amp-list [src]"
## What's the issue?
We are using the pan-zoom control to wrap an SVG seatmap.  When we made a change to bind the seatmap's amp-list to use [src] instead of src, we noticed a couple things.

![src change](https://user-images.githubusercontent.com/14243243/51863334-985bdd80-22f5-11e9-8ea3-0af25698d15f.png)

1. Every time you select a seat, the seatmap will quickly resize to a larger size and then b

[2019-01-28 20:23] choumx commented on #20359
/to @jridgewell

[2019-01-28 20:52] jridgewell commented on #14788
No, there's no documentation yet. And no, I don't think most publishers would be able to understand when to use the opt-in/out, or why it would be necessary.

[2019-01-28 21:12] choumx opened #20559 "Several amp-yotpo bugs"
1. Child iframe removed in `unlayoutCallback` but never restored. `b/123308595`
2. Tapping "Write a review" expands the content height but doesn't appear to resize the iframe, resulting in truncated content. `b/123095598`
3. "Write a review" and other UI is not interactive on Safari when AMP page is embedded in a cross-domain iframe. [Possibly related SO bug](https://stackoverflow.com/questions/52

[2019-01-28 21:23] choumx commented on #14788
Then documenting it sounds like a good first step. It'd be easier to find than this issue.

[2019-01-28 22:11] nainar commented on #20456
Hi @ssantosms and @cramforce ! Does the discussion entail a high level discussion of the idea or a more in depth design review as well?

[2019-01-28 22:14] lannka commented on #20319
the mode is read from a env var, which can be configured as command line argument when you run the test:

https://github.com/ampproject/amphtml/blob/master/build-system/amp4test.js#L226

[2019-01-28 22:15] lannka commented on #20319
Fixed by #20381

[2019-01-28 22:15] #20319 closed

[2019-01-28 23:17] alanorozco commented on #19715
Hey @bjalford, thanks for requesting support.

I went ahead and manually tested docking integration with `amp-brightcove` and everything is working properly. I've filed #20567 to get support going ASAP.

[2019-01-28 23:40] choumx opened #20569 "amp-bind: Bindings leak in amp-list[reset-on-refresh]"
If `reset-on-refresh` is set on `amp-list`, the old children are removed before they have a chance to be cleaned up by `Bind.scanAndApply()`.

`b/118781369`

[2019-01-28 23:58] choumx commented on #16191
Addendum: When developing locally, the contents of `amp-foo-latest.js` depends on which code version was last rebundled.

For example, run `gulp --extensions=amp-mustache`. Now, after serving...
- If you modify a file in amp-mustache/0.1/, then `amp-mustache-latest.js` contains 0.1.
- If you modify a file in amp-mustache/0.2/, then `amp-mustache-latest.js` contains 0.2.

[2019-01-29 00:22] zhouyx commented on #20548
@torch2424 Can we please take a look. Thank you

[2019-01-29 00:33] mrjoro commented on #20114
Cancelling since there are no topics.

[2019-01-29 00:33] #20114 closed

[2019-01-29 00:59] aghassemi commented on #20559
Thanks @choumx.

Hi @RanAbram, If you are able to take a look at these and provide some updates, we would appreciate it. Thanks!

[2019-01-29 01:11] cvializ commented on #20545
Great question, that decision was made before I took ownership so I don't know why it was made off the top of my head, but I can investigate.

What behavior do you think this would change to where it would be a breaking change? Form validation is opt-in so this would only add new behavior that was previously not possible, right?

[2019-01-29 01:17] aghassemi commented on #8929
Hi,

Sorry for the late reply. We did a design review on this and a strong requirement was only allowing this on user-interaction. We don't want the prompt on page load.

We can have this feature by just adding a new action to amp-geo called getPreciseLocation which would trigger an event on amp-geo ( preciseLocation). When data is available. Event would have the lat and lon. No need for amp-state

[2019-01-29 01:17] cramforce commented on #20456
Since @dvoytenko is the primary designer of this, he can just bring it up casually, and then we can see what process to follow.

[2019-01-29 01:33] meistudioli commented on #20523
thanks a lot.

[2019-01-29 01:51] #20555 closed

[2019-01-29 02:30] rsimha commented on #20520
I've reached out to Travis for more VMs. Stay tuned.

[2019-01-29 10:07] tomayac commented on #18181
Closing, as this is being tracked internally.

[2019-01-29 10:07] #18181 closed

[2019-01-29 11:33] kul3r4 commented on #20556
@cathyxz FYI

[2019-01-29 12:20] leonalicious commented on #14060
@cathyxz thank you for the response.
FYI, I did have the `<div class="flex flex wrap">` element and have removed to try it, but the behaviors are still the same. A new `<div role="listitem">` will alway be created upon each fetch.

![image](https://user-images.githubusercontent.com/4065175/51907872-18239e00-2403-11e9-80ba-5551fa636312.png)

[2019-01-29 12:40] gilbertococchi commented on #12098
@rudygalfi can we reopen this issue as @font-face definition is still not propagated to the top level document?

[2019-01-29 13:51] kul3r4 commented on #19950
@gmajoulet What the progress on this?

[2019-01-29 13:52] kul3r4 commented on #19748
@newmuis do we have any update on this?

[2019-01-29 13:54] robmurtagh commented on #19821
Thanks for looking into this @torch2424, although I think it could still be linked as described below.

Looking at the data I think there must be two separate issues:
1) For DCM Ad Tags directly served via AdManager into <amp-ad> slots using 'Internal Redirect' tags, in early December iOS ads incorrectly became measurable, but not viewable. This massively reduces overall viewability
2) For Android

[2019-01-29 15:17] gmajoulet commented on #19950
We're about to put a lot more effort into our desktop experience in the next few weeks, we'll try to prioritize this one as part of the desktop experience improvements. Is this blocking or urgent for your use cases?

[2019-01-29 15:21] jpettitt commented on #20400
That makes sense, it's not reasonable to expect a top level analytics config to know all the possible triggers a subsequent shadow doc might invoke so the `amp-analytics` tag would need to be scoped to and reside in the same shadow root that the events are originating from.  Thank for debugging this.  @enzo-giancola does this resolve your issue?

[2019-01-29 15:38] jpettitt commented on #20543
I think [this](https://github.com/ampproject/amphtml/blob/e2e6ab072076477a522707fdb212b18c67ead046/src/url.js#L301) is the offending code.  It looks for `^//`, `https:` or `localhost`.  A relative url will fail that assert.

[code]

[2019-01-29 16:46] enzo-giancola commented on #20400
Hi, let me explain better.

We have the tag amp-experiment scoped to the same shadow root as the amp-analytics one
as you can see on the attached screen capture.

Because of we was unable to resolve VARIANTS runtime variable within the PWA
we have configured an iframe with a minimal AMP content, in order to resolve runtime variable VARIANTS
duplicating the amp-experiment configuration.
This allows

[2019-01-29 16:57] choumx commented on #20545
A form may now include previously ignored inputs during validation. Those new inputs may be misconfigured and thus harmless when ignored, but harmful when not.

May seem like a stretch but I'm constantly surprised by how brittle AMP pages in the wild can be. :)

[2019-01-29 17:15] #20569 closed

[2019-01-29 17:16] aghassemi commented on #20125
@nainar Lots of thumbs up on this request. Setting a P1

[2019-01-29 17:27] estherkim opened #20575 "Test e2e in Viewer"
Add support for AMP Viewer in E2E tests

[2019-01-29 17:35] jridgewell commented on #20543
We should add it to `isSecureUrlDeprecated`. This is a good first issue, if you don't mind waiting @dandv?

[2019-01-29 17:41] zhouyx commented on #20400
@enzo-giancola I am a bit confused, Could you please clarify what the issue is?

Based on https://github.com/ampproject/amphtml/issues/20400#issue-400255421, the analytics trigger is "subscriptions-access-denied", and that is a signal from the `<amp-subscription>` component. So the `<amp-analytics>` must be placed in the same shadow root with `<amp-subcription>`, not `<amp-experiment>`.

If I unde

[2019-01-29 17:45] zhouyx commented on #20548
Thank you all for filing the issue and debugging.

I've verified moving `toggle()`  around is indeed the cause here. The  `toggle(iframe, true)` was moved after `scheduleLayout(iframe)`. In this case runtime won't layout the iframe because it has display:none. @torch2424 can we please fix the issue and file a request to patch the fix. Thank you

[2019-01-29 17:48] aghassemi commented on #20526
/to @choumx It's a string vs number mismatch in `verifyBinding_`. (`'200' vs 200`)

[2019-01-29 18:01] rudygalfi commented on #12098
@cvializ - can you comment here on @gilbertococchi's last comment or re-assign?

[2019-01-29 18:13] cvializ opened #20577 "FR: Propagate font-face definitions in ShadowDOM to work around Chrome bug"
Issue opened from #12098.

This issue aims to work around the following Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=336876

The HTML spec declares that font-face definitions are allows in ShadowRoot CSS, but Chrome does not support this. AMP can fix this support by propagating ShadowRoot font-face definitions to the parent document.

Areas for concern:
1. Will this add an ext

[2019-01-29 18:13] cvializ commented on #12098
This is a Chrome browser bug and not a bug within AMP. We could add a workaround to polyfill the bug but it would have a cost of shipping code to browsers that wouldn't be used in a some cases

This issue was originally opened to fix support for amp-font in ShadowDOM and the discussion is shifting toward the Chrome browser bug. I'll open a new FR to work around the browser bug and assign to @prate

[2019-01-29 18:13] #12098 closed

[2019-01-29 18:21] jpettitt commented on #18949
Where are we with this? We'd like to implement transaction triggers in `amp-subscriptions-google` to capture a sale, amount, transaction id etc.  I don't want to invent a something new if we already have transaction flow triggers in the works.

[2019-01-29 18:31] aghassemi commented on #20068
fixed by https://github.com/ampproject/amphtml/pull/20336

[2019-01-29 18:31] #20068 closed

[2019-01-29 18:34] aghassemi commented on #3830
This is happening and tracked under https://github.com/ampproject/amphtml/issues/20237. Closing as dup

[2019-01-29 18:34] #3830 closed

[2019-01-29 18:57] aghassemi commented on #17904
Closing as work is tracked under  #13714

[2019-01-29 18:57] #17904 closed

[2019-01-29 18:59] aghassemi commented on #17789
Closing since not reproducible. Please reopen with repro case. Thanks.

[2019-01-29 18:59] #17789 closed

[2019-01-29 19:02] ericcecchi opened #20578 "[A11y] <amp-img> intrinsic sizer missing alt attribute"
## What's the issue?

When using `layout="intrinsic"` on `<amp-img>`, the intrinsic sizer image is missing an `alt` attribute. This causes screen-readers to read it as "slash greater (/>)" (i.e. the end of the SVG data URI in the `src` attribute) in Chrome.

Since the sizer image has no semantic value to a screen-reader, it should be treated as a decorative image by including an empty `alt=""` att

[2019-01-29 19:03] aghassemi commented on #17122
related: https://github.com/ampproject/amphtml/issues/17570

[2019-01-29 19:05] aghassemi commented on #16313
tracked under #20237

[2019-01-29 19:05] #16313 closed

[2019-01-29 19:17] zhouyx opened #20580 "Elements get built in pre-render mode"
An element with `prerenderAllowed = false` should not be built in pre-render mode to preserve privacy, instead it will go to the build queue .
We need to ensure this because some component can make xhr request in `buildCallback()`.

There maybe a bug: if the document is parsed in prerender mode, the runtime attempts to run the build queue `this.pendingBuildResources_`.
https://github.com/ampprojec

[2019-01-29 19:18] torch2424 commented on #20548
@zhouyx Thanks for investigating this. Will work on a fix ASAP. 😄

[2019-01-29 19:22] aghassemi commented on #20578
Thanks @ericcecchi for raising this. Fix on its way.

[2019-01-29 19:34] jeffkaufman opened #20582 "Premature Inabox visibility pings when nested in a friendly iframe"
## What's the issue?

Visibility pings are sent before the element is visible when:

* `IntersectionObserver` is polyfilled, and
* the ad is in a nested iframe

## How do we reproduce the issue?

1. Use Safari, or edit `src/intersection-observer-polyfill.js` to make `nativeIntersectionObserverSupported` always return false.

2. Create a test file like:

`examples/inabox.debug.html`:
[code]

3. Vis

[2019-01-29 19:34] jeffkaufman commented on #20582
@lannka @zhouyx

[2019-01-29 20:09] choumx commented on #20580
I think the premise is incorrect.

Historically, we did build elements in prerender mode and it was the callers' responsibility to make sure XHRs waited for viewer to be visible. E.g. in amp-state.js: https://github.com/ampproject/amphtml/blob/39464270aa888000b7692e36f5b8eac302eab516/extensions/amp-bind/0.1/amp-state.js#L49-L56

This has since changed for unrelated reasons:
1. In prerender mode, w

[2019-01-29 20:32] jeffkaufman commented on #14010
@zombifier can you take a look?

[2019-01-29 20:48] jridgewell commented on #20580
I may have been confused with nesting... It looks like the element is not pushed into the build queue if it's not pre-renderable.

[2019-01-29 20:48] brandondiamond commented on #18466
This appears to be a consequence of the runtime sending the pushHistory message with stackIndex set to "NaN." Perhaps the index is getting munged / lost somewhere along the way?

[2019-01-29 21:23] #20361 closed

[2019-01-29 22:12] IamAlta opened #20586 "lightbox-gallery does not show description/X overlay on Firefox 63 and 65 (64 is fine!)"
## What's the issue?
Feature request for amp-carousel with 1 image.

I read somewhere that lightbox is being depreciated, so I am using amp-carousel to show a normal size image with an extra large popup image. I like the way the amp-carousel looks and feels better than lightbox.

The AMP page has one or more images, and I can program amp-carousel okay with >1 image.
The site is dynamic and sometim

[2019-01-29 22:15] choumx commented on #20580
Closing, please reopen if you notice a bug.

[2019-01-29 22:15] #20580 closed

[2019-01-29 23:23] Enriqe opened #20587 "🚄Release tracking issue for canary release 1901312147090 (Canary)"
# Release tracking issue

- [x] Release [1901312147090](https://github.com/ampproject/amphtml/releases/tag/1901312147090) is cut as a new canary release.
- [x] Release 1901312147090 pushed to dev channel (3:08 PM, Feb 1, 2019 UTC-5).
- [x] Release 1901312147090 promoted to 1% (5:02 PM, Feb 1, 2019 UTC-5).
- [ ] Release 1901312147090 pushed to production ().

See the [release documentation](https:/

[2019-01-29 23:36] zhouyx commented on #20580
Thank you @choumx and @jridgewell for the explaination. @jridgewell is correct that element is pushed to the build queue only if prerender is allowed.

https://github.com/ampproject/amphtml/blob/62d3b0bcdf568f2d39fe4f71d7023dcf05b7ff9d/src/service/resources-impl.js#L567-L576

I believe, given this it is fine for non pre-renderable element to make xhr request in their `buildCallback`. We no longer

[2019-01-29 23:45] jridgewell commented on #20580
Defensive behavior is still good! Please make it explicit that this must wait for viewer visible!

[2019-01-29 23:49] zhouyx commented on #20580
: ) Sounds good. Thank you for clarifying.

[2019-01-30 01:04] torch2424 commented on #19821
@robmurtagh Ah, good insight.

Perhaps that is the case. Let me sync with @jasti Over the data, and I can give a better answer, and do some more investigation.

Thanks for sending that data by the way! 😄

[2019-01-30 01:07] torch2424 commented on #20586
Triaging to @aghassemi 😄 Feel free to re-assign.

[2019-01-30 01:08] rsimha opened #20589 "Implement build / test stages for `ampproject/amphtml` Travis builds"
`ampproject/docs` already does this. We should do it too.

Documentation: https://docs.travis-ci.com/user/build-stages/
Sample build: https://travis-ci.org/ampproject/docs/builds/485520175
Config: https://github.com/ampproject/docs/blob/master/.travis.yml#L20-L38

More Travis VMs coming up in the next week or so.

[2019-01-30 01:36] torch2424 opened #20593 "🌸 Cherry pick request for #20548 into 1901242049580 (Approved)"
## GitHub issue your cherry pick is fixing:

Issue #20548

## PR that you are requesting a cherry pick for:

PR #20588

## Release(s) you requesting this cherry pick into:

Production Release? YES

 Release Issue #20470

Canary release? YES

 Release Issue #20587

## Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.

[2019-01-30 01:37] #20548 closed

[2019-01-30 01:38] torch2424 commented on #20548
For anyone following this issue, please follow the Cherry Pick issue: #20593 As that will determine when this fix hits PROD. 😄

Thank you for your patience!

[2019-01-30 03:02] leonalicious opened #20594 "amp-form issue in latest release"
## What's the issue?

Based on the PR, it blocks the `GET` request of `action`
https://github.com/ampproject/amphtml/pull/20362

## How do we reproduce the issue?

Please visit any of our ShopCart / Detail page and Click on "Buy Now" Button, the button is not responding as all the `GET` requests are blocked.

## What browsers are affected?

All browsers

## Which AMP version is affected?

we are s

[2019-01-30 03:32] aghassemi commented on #20594
Rolling back the release until this issue is resolved and will roll forward again. Apologies.

[2019-01-30 03:34] choumx commented on #20594
I can repro on 011901242049580 but not on 011901241837330.

[2019-01-30 03:35] aghassemi commented on #20470
1901242049580 is rolled back due to https://github.com/ampproject/amphtml/issues/20594

[2019-01-30 03:40] aghassemi commented on #20594
@gmajoulet  @torch2424 for now release was rolled back, let's fix, test and patch this and then roll forward again.

[2019-01-30 03:42] aghassemi commented on #20594
sorry @Enriqe instead of @gmajoulet as the on-duty.

[2019-01-30 03:55] #20578 closed

[2019-01-30 03:55] aghassemi commented on #20594
(Canary would need to be patched or recut as well)

[2019-01-30 04:24] sparhami opened #20595 "I2I: amp-base-carousel"
## Summary
Implement a new carousel, like `<amp-carousel>`, that addresses many of the feature requests for the existing `<amp-carousel>`.

## Overview
We want to build 3 separate components, sharing an underlying implementation, to address user needs for a carousel:

* A inline gallery component, `<amp-inline-gallery>`
  - Handles captions, progress indicator (e.g. dots or x of y), and has a diff

[2019-01-30 08:44] kul3r4 commented on #19950
@eagerterrier could you add more details?

[2019-01-30 09:36] robmurtagh commented on #19821
@torch2424, great thanks for looking into it 👍
(I also didn't realise you could do emojis in Gihub markdown, so thanks for that!)

[2019-01-30 12:37] bjalford opened #20598 "[Layers] amp-img not loading in non-root scroller"
Example: https://pwamp-indy.indy100.com/article/rutger-bregman-billionaires-tax-evasion-speech-davos-world-economic-forum-watch-video-8752771

Note the list of the left. Scroll down and around item 18 the images won't render. If you then scroll down on the right side you'll see the images render so it looks like the trigger for 'in view' doesn't trigger on scroll.

Is there a solution?

[2019-01-30 13:53] newmuis commented on #20296
@siddiqrahman, how long is it taking?  It feels fairly avergae to me, and I want to better understand whether there is some case where we perform worse than normal, or whether this just falls into the general bucket of needing to improve the initial load performance.

[2019-01-30 14:22] ericcecchi commented on #20578
Thanks for the quick fix @aghassemi!

[2019-01-30 15:10] cramforce commented on #20593
Approved

[2019-01-30 18:08] Enriqe commented on #20594
Sounds good, I will patch the fix for this as well as #20593 in the new release. Then I will roll forward.

[2019-01-30 18:47] sparhami commented on #20535
I'd like to discuss #20595, a new version of `<amp-carousel>`

[2019-01-30 19:45] eduardogoncalves commented on #4171
Hi guys! Any update on this one?

[2019-01-30 21:23] torch2424 opened #20602 "🌸 Cherry pick request for #20594 into 1901242049580 (Approved)"
## GitHub issue your cherry pick is fixing:

Issue #20594

## PR that you are requesting a cherry pick for:

PR #20601

## Release(s) you requesting this cherry pick into:

Production Release? YES

 Release Issue #20470

Canary release? YES

 Release Issue #20587

## Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.

[2019-01-30 21:59] westonruter commented on #12496
FYI: I've put together an extension that [implements A2A linking for sites using the AMP plugin](https://gist.github.com/westonruter/f9ee9ea717d52471bae092879e3d52b0), when that feature is implemented by an AMP viewer. See more at https://github.com/ampproject/amp-wp/issues/1389#issuecomment-459126087.

[2019-01-30 22:22] #20594 closed

[2019-01-30 22:43] nainar commented on #20125
@aghassemi  has added this to our Fixit week task list.

[2019-01-30 22:46] zhouyx opened #20607 "Analytics: Support non-AMP element's visibility tracking"
This topic has been discussed multiple times: To add support to non AMP elements visibility tracking.

The amp-analytics applied the restriction due to performance concern. The native IntersectionObserver doesn't work in Safari https://caniuse.com/#feat=intersectionobserver. In order to polyfill the feature, AMP runtime needs to calculate element's position whenever there's a DOM mutation. This re

[2019-01-30 23:11] lannka commented on #19821
amp-analytics is a wrong way to look at, as DV360 measures viewability using its own js code inside the ad.

Although AMP runtime side change can still affect the number by for example delay rendering ads. But if that's the case, we will have ad network came to us reporting significant impression loss.

So at this point, I feel it's more like a DV360 side issue, for example a regression in their v

[2019-01-30 23:21] #8247 closed

[2019-01-30 23:32] cramforce commented on #20602
Approved for pure revert.

[2019-01-30 23:51] cathyxz commented on #20556
Using `[src]` in `<amp-list>` means that whenever the contents of the object referenced in `src` updates, the children of the `<amp-list>` will be removed from the DOM and re-added. So the original `<amp-pan-zoom>` will be deleted and a new one will be created and attached. Since the old and new `<amp-pan-zoom>` elements are literally not the same element, it's not possible to keep the same zoom.

[2019-01-30 23:55] aghassemi opened #20609 "Allow `style` in `noscript`"
Summarizing conversations with @westonruter

It is common to have CSS rules to target `js` vs `no-js`. Certain components need to become hidden or presented differently in `no-js` case.

Currently `html:not([amp-version])` is one workaround to set specific `no-js` CSS rules. This works because `v0.js` adds that attribute but it is hacky and if SSR ever decides to add that attribute, it would break

[2019-01-30 23:58] cramforce commented on #20609
I'd be OK with that, but with a low KB limit. It would only ever be a little additional styling, and a large noscript-stylesheet would weigh heavily on the default case.

[2019-01-31 00:19] aghassemi commented on #20609
I thought content of `noscript` don't get parsed with JS enabled. My understanding is that it becomes essentially a hidden text node. Limit is good regardless.

[2019-01-31 00:20] westonruter commented on #20609
I think allowing `noscript > style` is one solution, but it would be preferred from a WordPress context if the no-JS rules could be written in the `style[amp-custom]`. In other words, the `html:not([amp-version])` is easier to work with.  As @sebastianbenz suggests in #17832, what if there is a `runtime-ready` classname added to the `html` element?

[2019-01-31 00:50] Gregable commented on #20609
cc @alin04 since this may eventually intersect with the golang packager bug regarding noscript content parsing.

[2019-01-31 01:12] Gregable opened #20615 "I2I: Validate that <meta charset> is first child of <head>"
## Summary
The AMP Validator currently requires the element `<meta charset=utf-8>` in the document head, but does not validate it's position with respect to other elements in the head.

This change would be to first warn, and later error, on documents that do not have `<meta charset=utf-8>` as the first child element of the head element.

## Motivation
If the `<meta charset=utf-8>` is placed after

[2019-01-31 01:19] #19896 closed

[2019-01-31 12:02] andreapernici opened #20617 "Move amp-carousel type="carousel" state to a predefined element and not only on:tap."
I'd like to be able to allow the automatic focus on the right part of the carousel in order to give focus to the right selected page of the horizontal scrolling menu, but looks like there's no way to combine amp.state and carousel index.

Am I missing something? Or is a non existent feature?

[code]

Is this something I can do right now or I need to wait and improvement of the preselection?

[2019-01-31 12:05] robmurtagh commented on #19821
Thanks @lannka, appreciate it. Just to check, when you say "amp-analytics is a wrong way to look at", what do you mean by that?

In terms of my understanding and questions:

## DV360

So DV360 measures viewabililty using JS inside the delivered ad tag? That's as I would expect.

What Javascript APIs are provided by AMP to the ad slot to allow it to measure viewability? I think ads are executing in

[2019-01-31 14:01] eagerterrier commented on #19950
Well these come from (angry) messages from our (confused?) users.

We are not stopping production of AMP Stories due to this, but we do have to field the questions when they come in.

Even a text change to say "or try changing your window to portrait aspect ratio" might work.

Our users believe this to be a BBC product and don't understand we have no control over the messages on screen...

[2019-01-31 14:06] newmuis commented on #19950
Sounds good to update the messaging, although we will need to get this re-translated into other languages

[2019-01-31 15:18] kul3r4 commented on #20556
Is the flickering caused by the amp-pan-zoom calculating the size? Can we maybe hide it until the size if final to avoid the flickering?

[2019-01-31 15:33] andreapernici commented on #20617
Just to be clearer.

Imagine the following we should be able to preselect the desired menuIndex to let the horizontal menu to be positioned on the selected page.

If I'm at url /page/10 I'd like to have the "Menu10" item selected and visible in the menu.
[code]

[2019-01-31 16:17] RanAbram commented on #20559
Hey guys,

Thanks for your feedback.
@senyat will take it from here.

[2019-01-31 16:33] jpettitt commented on #20609
FWIW this is valid html

[code]

`<noscript>` can also contain `<link>`.  We could allow a link to a stylesheet and cache the sheet if we need to do so to preserve privacy (may not be needed if it's impossible to pre-render in a non JS environment anyway).  Using a `<link>` would minimize the performance impact on the JS case at the expense of the much less common `<noscript>` case.

[2019-01-31 17:06] westonruter commented on #20609
Is it?

![image](https://user-images.githubusercontent.com/134745/52071137-3a1e3d00-2537-11e9-97f9-557c9fcc6659.png)

I get validation errors when adding:

[code]

[2019-01-31 17:14] westonruter commented on #20609
Sorry. You said _HTML_, not _AMPHTML_.

[2019-01-31 17:38] robmurtagh commented on #19821
Have pinged you on Slack

[2019-01-31 18:04] demianrenzulli commented on #15647
This FR, in combination with [this bug](https://github.com/ampproject/amphtml/issues/14153), produces the following the following unintended effect:

[This demo page](https://amp-comm-snippets.glitch.me/cart/amp-list-test/) is a simplified version of a shopping cart page:

- amp-list loads an initial a list of items, that should refresh when "shoppingCart.items" changes.
- Clicking the "delete" bu

[2019-01-31 18:31] Enriqe commented on #20602
@torch2424 @aghassemi this cherry pick is ready to test in opt-in dev-channel version 1901302225410.

Can you please verify that the issue is gone in this version?

[2019-01-31 18:31] Enriqe commented on #20593
@torch2424 @zhouyx this cherry pick is ready to test in opt-in dev-channel version 1901302225410.

Can you please verify that the issue is gone there?

[2019-01-31 19:16] torch2424 commented on #20593
cc @Enriqe

Confirmed this to be working in the dev channel per the examples provided in: #20548

![screen shot 2019-01-31 at 11 03 00 am](https://user-images.githubusercontent.com/1448289/52079051-8e321d00-2549-11e9-8bfd-3c2a2a57c12b.png)
![screen shot 2019-01-31 at 11 03 15 am](https://user-images.githubusercontent.com/1448289/52079053-8e321d00-2549-11e9-869f-d1d670a1f3a9.png)

[2019-01-31 20:21] torch2424 commented on #20602
cc @Enriqe

Confirmed this to be working in the dev channel per the examples provided in: #20594

![screenshot_20190131-111057](https://user-images.githubusercontent.com/1448289/52082855-c38f3880-2552-11e9-801d-6497a87a9b5e.png)
![screenshot_20190131-111103](https://user-images.githubusercontent.com/1448289/52082856-c38f3880-2552-11e9-8f73-199d029f8b38.png)

[2019-01-31 20:34] jasti commented on #20259
I had a few more discussions about this and generally speaking, we are okay making an RTC callout when it's not blocking on content.
That translates to disabling the RTC callout if the ad is in a preroll spot and the video player is in the current viewport.
Note that RTC calls can be made if the ad request is in a mid or postroll location OR if the video player is at least one (as a starting point

[2019-01-31 20:55] torch2424 commented on #20259
@jasti I am in favor of this idea 😄 Pretty sure we can use some thing similar to `isInViewport` to accomplish this for pre-roll as well:

https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L1146

[2019-01-31 22:08] gmajoulet opened #20625 "Sidebar in stories animation/design"
I just tried copy/pasting the [example from the `amp-sidebar.md`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/amp-sidebar.md#sidebar-for-stories) documentation into a story, and noticed a few non critical design issues:

- There's no animation at all. It seems that the CSS selector relies on a `[side]` attribute that is actually optional
- The width of the mobile sideb

[2019-01-31 22:19] curseagain commented on #20259
@jasti is the following true?
- when `rtc-config` is not provided:
	- ads can be allowed to run as usual, including preroll
- when `rtc-config` is included as an attribute of `amp-ima-video`:
	- the video will begin to play immediately without waiting for bidding (unless bidding happens to have already completed)
	- at some async point the rtc calls will be made, followed by the ad call where we'l

[2019-01-31 22:25] nikse opened #20627 "amp-bind [hidden] not working with multiple inputs + hide conditions"
## What's the issue?

I am trying to hide div's based on the state of multiple (3) selects and the first two only partially work while the third fully worksBriefly describe the bug.

If I use the first or the second select it only works one time and doesn't do anything or hides everything on the second use. If I use the third one first or after using one of the first two everything works as it sho

[2019-01-31 22:35] lannka commented on #19951
ah, sorry shared a wrong link.
the correct one should be: https://lannka.github.io/amp-ad-template/amp4ads_0.html

could you please update?

[2019-01-31 23:36] aghassemi commented on #17389
b/118630841
/to @choumx I don't think this is easily fixable without layers

[2019-01-31 23:39] lannka commented on #18949
@jpettitt your use case might be already supported today. We have `amp-carousel` for example sending custom events can captured by `amp-analytics`.

please take a look at this service API, see if it meets your needs: https://github.com/ampproject/amphtml/blob/master/src/analytics.js#L26

[2019-01-31 23:40] lannka commented on #20450
@zhouyx could you take a look?

[2019-01-31 23:43] aghassemi commented on #17389
@jridgewell @choumx  should we just get rid of lazy loading part of scrollable lightbox and schedule all children similar to `amp-sidebar` to get around `setAsOwner` issues until we can use `layers`? It is not ideal but probably the fastest approach to fix some of these issues.

[2019-01-31 23:47] choumx commented on #17389
That's one way to do it. You could also try to specifically handle visibility toggling with a `MutationObserver`, since they all work by toggling the `hidden` attribute.

[2019-01-31 23:47] lannka commented on #7508
The plan is to combine all those requirements into one feature "DomEvent" trigger: https://github.com/ampproject/amphtml/issues/12494#issuecomment-451009869

@ahmedzidan glad you show interests to contribute to AMP. This is definitely a great feature to add in amp-analytics.

Here is a guideline for such a medium size change in AMP:
https://github.com/ampproject/amphtml/blob/master/contributing/co

[2019-01-31 23:50] aghassemi commented on #17389
@choumx like `scrollable lightbox` observing `hidden` attribute change of its children and scheduling layout for them when it changes?

[2019-01-31 23:53] choumx commented on #17389
Yea. Hacky, but it might be more performant than scheduling everything. Not sure how large scrollable lightboxes are in the wild.

[2019-01-31 23:57] aghassemi commented on #17389
third option would be `scrollable=nolazyloading` to make the behavior opt in. I like the mutation observer approach though, so trying that first.

[2019-02-01 00:16] andrewwatterson opened #20630 "Visual testing framework: hard code input values into DOM snapshot to send to Percy"
Currently values in input fields get lost when the DOM is snapshotted and sent to Percy, so there's no way to verify that values are displaying correctly (especially after actions).

Ideally we would find any input fields, read their values, and then add a `value={someValue}` attribute to them so they'll be displayed in Percy.

Even more ideally, there'd be a way to check for input values in our p

[2019-02-01 07:38] devignerforhire commented on #9267
@aghassemi Hi Ali, can you confirm whether this has been fixed? We're experiencing the same issue as described above, using amp-accordion and amp-selector for our wip style guide (https://winefolly.staging.wpengine.com/style-guide/). If I can't get this working I'm going to have to remove the tabs/accordions and have everything stacked, which isn't ideal. TIA :)

[2019-02-01 08:42] christian-felix commented on #17742
Great, thank you @zhouyx. We are also very impatient to use this new solution and adapt it soon.

[2019-02-01 11:58] dianomi-mjs commented on #19951
Hi

I've updated

Is that better?

Thanks

[2019-02-01 14:25] SimonHogstromRonbol opened #20636 "amp-fx-collection - implement a way to activate/deactivate an effect based on screen size."
## Describe the new feature or change to an existing feature you'd like to see

So we are using canonical amp on the vast majority of our products, and i was working on this canonical amp project the other day and I wanted to have a form next to some text on desktop, and then have that form follow the user somewhat as they scroll through the text, i figured it would be a great usecase for amp-fx-c

[2019-02-01 17:01] aghassemi commented on #20636
Thats a great request @SimonHogstromRonbol. I can totally see the need here.

we have started doing media-query based attributes. (/cc @sparhami) I think same approach would work here:

e.g.
[code]

[2019-02-01 17:03] Enriqe commented on #18207
This is still being logged in version [1901302225410](https://github.com/ampproject/amphtml/releases/tag/1901302225410)

[code]

[2019-02-01 17:03] aghassemi commented on #20617
Currently there is no way. `amp-bind` does not run on page load.
We are thinking about this for carousel v2.
Related (almost dup) of https://github.com/ampproject/amphtml/issues/12659

/to @nainar @sparhami

[2019-02-01 17:04] aghassemi commented on #20627
@nikse Could you please provide some more details? A Url or some code that shows the problem?

[2019-02-01 17:04] aghassemi commented on #20627
/to @choumx

[2019-02-01 17:06] nikse commented on #20627
@aghassemi sure, i wrote a description and added a link to an example but everything seems blank now?? let me track it down

[2019-02-01 17:08] aghassemi commented on #20598
@bjalford The link is not AMP, can you send an amp version?

Is it actually using `amp-sidebar`? If it is just an `overflowing div` and not an `amp-sidebar`, that's something we don't yet support until layers project ( https://github.com/ampproject/amphtml/issues/14088 ) is fully launched.

[2019-02-01 17:09] nikse commented on #20627
@aghassemi here's a link to the jsbin i put together (seriously confused as to how my whole initial comment/description is blank all of a sudden)

steps to reproduce:
1) use the first or second dropdown and select any option
2) switch the same selector back to the initial/all option and see that nothing updates
3) if you used the third and final dropdown everything works fine again

furthermore if

[2019-02-01 17:09] Enriqe opened #20638 "Error: failed to fetch %s [object URL]: HTTP error 404"
Hey @choumx @alabiaga can you take a look at this error first seen in Dec 28, 2018. Thanks!

Seen in versions [1901302225410](https://github.com/ampproject/amphtml/releases/tag/1901302225410) and [1901242049580](https://github.com/ampproject/amphtml/releases/tag/1901242049580)

Stack trace
[code]

[2019-02-01 17:18] tommarulak commented on #20598
@aghassemi It is inside amp-sidebar. It seems the amp-image lazy load will be triggered on the page body scroll, not the amp sidebar scroll. If you scroll the amp sidebar up to the no image, then scroll the page (right column) little bit you will see the amp-image initialised.

[2019-02-01 17:24] Enriqe opened #20639 "Error: TypeError: this.media.webkitEnterFullscreen is not a function."
Hey @alanorozco can you please take a look

Most likely coming from
https://github.com/ampproject/amphtml/blob/4e6291a319855d8faeadfe34e5217bb626bc7277/ads/google/imaVideo.js#L1200

Seen in version [1901302225410](https://github.com/ampproject/amphtml/releases/tag/1901302225410)

[code]

[2019-02-01 17:48] aghassemi commented on #20598
Thanks @bjalford.

@jridgewell @choumx This may have always been the case but I was the under the impression that `amp-sidebar` does layout for all its children. Looking at the code, it does call `scheduleLayout` for all children (it is not taking ownership) when it opens but `scheduleLayout` still considers visibility criterial and does not layout things below 3vh.

I don't think we want to go th

[2019-02-01 17:51] aghassemi opened #20640 "amp-selector: toggle action does not layout children properly"
From @devignerforhire:

We're experiencing the same issue as described above, using amp-accordion and amp-selector for our wip style guide (https://winefolly.staging.wpengine.com/style-guide/). If I can't get this working I'm going to have to remove the tabs/accordions and have everything stacked, which isn't ideal. TIA :)

The issue seems limited to `toggle` action, tapping selector does layout p

[2019-02-01 17:51] lannka commented on #19951
Yep. The whitelisting is already done. I'll post here once it gets into production.

[2019-02-01 17:53] aghassemi commented on #9267
@devignerforhire I can repro. Issue seems to be related to the `toggle` action only. Created https://github.com/ampproject/amphtml/issues/20640 to track. Meanwhile if you are blocked, you can use `amp-bind` to implement this and that does not suffer from this bug.

See https://ampbyexample.com/dynamic_amp/multi_page_flow/ for an example that's fairly close to what you want to do.

[2019-02-01 17:59] nainar commented on #10462
Since this issue is being tracked as part of #14060. Closing this issue as a dupe.

[2019-02-01 17:59] #10462 closed

[2019-02-01 18:01] aghassemi commented on #20607
Safari 12.1 (included in iOS 12.2) will have IntersectionObserver observer. In a few months, a sizable population of iOS users will have it.

[2019-02-01 18:12] nainar opened #20641 "<amp-list> Can't pre-initialize amp-list with content without an API callback"
## Describe the new feature or change to an existing feature you'd like to see

Being able to preinitialize amp-list with content without having to make an API callback. This will ensure that the page renders with content and the end user isn't left waiting with a loading indicator.

Raised by Alan Kent offline.

[2019-02-01 18:37] alabiaga commented on #20638
looks to be badly configured amp component.

https://github.com/ampproject/amphtml/blob/master/extensions/amp-next-page/0.1/next-page-service.js#L314

[2019-02-01 18:43] sparhami commented on #20636
It seems like the `amp-fx` attribute is already a space separated list of effects to apply. I'm not sure the best way to express this.

Would you do something like the following?

[code]

I'm not sure the scope of work needed to add parsing that could handle this. I think we may need to figure out what sort of media queries we want to support (e.g. allow `and`?).

/cc @nainar Who might have a bett

[2019-02-01 19:03] lannka commented on #19951
@dianomi-mjs it's now available:

The template is now served from AMP cache:
https://www-dianomi-com.cdn.ampproject.org/ad/s/www.dianomi.com/amp/amp4ads_0.epl

Let me or @glevitzky know if there is any problem you found while integrating template ads.
/cc @keithwrightbos

[2019-02-01 19:04] aghassemi commented on #20586
Hi @IamAlta

Using `amp-lightbox-gallery` component is definitely the right approach here.

As for the inline caoursel supporting one item, it is something we may consider for carousel vs (cc @nainar @sparhami) but it semantically does not makes sense and it is easy to handle on server-side like:
[code]

[2019-02-01 19:17] cathyxz commented on #20527
Origin trials for `amp-list-load-more` is enabled via https://github.com/ampproject/amphtml/pull/20592. The PR will be in the next canary cut on Feb 5, and land in production on Feb 12. If you'd like to be in the origin trial, please contact @nainar.

[2019-02-01 19:17] #20527 closed

[2019-02-01 21:08] jeffkaufman commented on #17997
I've now seen two more situations where this confused people trying to debug unrelated issues.

[2019-02-01 21:09] jeffkaufman commented on #17997
This should be higher than P3

[2019-02-01 21:35] zhouyx commented on #20607
Thank you @aghassemi for the info. Yes that's also part of the reason we decide to loosen the restriction : )

[2019-02-01 21:45] zhouyx commented on #17618
I see the request in two parts:
1. API: I know we have such API for 3p ad case. I believe there are also existing API for safeframe and FIE case as well.
2. Communication between AMP components, for example here `<amp-ad>` and `<amp-next-page>`.

Has there been a privacy and security discussion?

[2019-02-01 22:21] bramanudom commented on #20625
Thank you for catching all of this Gabriel!

I'm about to submit a PR with these changes. Though, for your second point

I think that it makes sense that the sidebar width should adjust to its content, especially since we have a set max-width to prevent the sidebar from obscuring the story. Also to my knowledge, there is [set min width via the sidebar component](https://github.com/ampproject/ampht

[2019-02-01 22:35] choumx commented on #20638
@Enriqe Please provide the Pantheon link in the form of `go/ampe/<id>`.

[2019-02-01 22:35] dvoytenko commented on #20615
@Gregable do you have any reference to the "guess" documentation for browsers? This is, of course, a rather unfortunate issue. We may want to start with a warning however.

[2019-02-01 22:42] Enriqe commented on #20602
This was pushed and included in release https://github.com/ampproject/amphtml/releases/tag/1901302225410 which was pushed to production today.

[2019-02-01 22:42] #20602 closed

[2019-02-01 22:42] calebcordry commented on #20436
closed by #20561

[2019-02-01 22:42] #20436 closed

[2019-02-01 22:42] Enriqe commented on #20593
This was pushed and included in release https://github.com/ampproject/amphtml/releases/tag/1901302225410 which was pushed to production today.

[2019-02-01 22:42] #20593 closed

[2019-02-01 22:45] Enriqe commented on #20638
Sure, it's go/ampe/CMW5yfqo3-bNMg

[2019-02-01 23:04] zikas opened #20645 "🌸 Cherry pick request for gtag vendor configuration update. (Approved)"
PR that you are requesting a cherry pick for:

PR #20591

Release(s) you requesting this cherry pick into:

1901312147090 (canary)

Production Release? NO

Canary release? YES

Why does this issue meet the cherry pick criteria? Be specific.

This change unblocks floodlight iframe adoption as it starts sending required conversion data to the server.

[2019-02-01 23:06] Gregable commented on #20615
@dvoytenko 	https://code.google.com/archive/p/doctype-mirror/wikis/MetaCharsetAttribute.wiki

[2019-02-01 23:08] choumx opened #20646 "this.timeout() may be used incorrectly"
I've been trying to increase timeouts for flaky integration tests and I've noticed some of my tests not respecting the `this.timeout()` call.

I believe the issue is it only works in `it()` blocks and not in `describe()` blocks: https://mochajs.org/#test-level

Looks like this is happening in a bunch of places in existing test code, and I'm not sure the `spec.timeout` feature in describes.js works

[2019-02-01 23:17] cathyxz commented on #20646
According to [documentation](https://mochajs.org/#suite-level), I think it's supposed to work at the suite level too though, no?
https://mochajs.org/#suite-level

[2019-02-01 23:19] dvoytenko commented on #20645
Approved.

[2019-02-01 23:23] choumx commented on #20638
@peterjosling If the next page URL is user-configured, it should be a `user().error` instead of `dev().error`.

[2019-02-01 23:31] choumx commented on #20646
Hmm, maybe it's just `spec.timeout` overriding suite/test-level timeout then:
https://github.com/ampproject/amphtml/blob/81dbf07ef986ba4338a71420b01437fc9b2d4759/testing/describes.js#L453-L456

I'll try increasing that instead.

[2019-02-02 00:06] twifkak commented on #20615
I think a more up-to-date reference is https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta, which says it should be "within the first 1024 bytes". The spec link is [here](https://html.spec.whatwg.org/multipage/parsing.html#encoding-sniffing-algorithm), and it says, "User agents are encouraged to only prescan the first 1024 bytes." (It says a lot of other things, too. Surrounding text ma

[2019-02-02 00:11] twifkak commented on #20615
At first glance, I don't think the spec says anything about it needing to appear before other text. But obviously if the `<title>` is big that could push it past 1k.

[2019-02-02 01:50] cjdeleon62 commented on #20377
Can I take a crack at this issue if no one is doing it yet?

[2019-02-02 02:57] torch2424 commented on #20594
@leonalicious

So the fix for this is now in PROD if I am not mistaken. 😄

However, I still need to implement the original PR (this time not breaking everything 😞). So I wanted to ask, how were you using amp-form? Looking at the site currently, seems like you were using a button and amp-bind to manually call submit on the form. For example: `on:tap="... , form.submit"`.

Was the implementation tha

[2019-02-02 03:36] choumx commented on #20646
Yup, `spec.timeout` overrides `this.timeout` in integration tests. Sorry for the false alarm.

[2019-02-02 03:36] #20646 closed

[2019-02-02 13:38] andreapernici commented on #20617
Yes I think it's a necessary feature considering Google is forcing everybody in using AMP, but there are still so many stuff that are far from doable with AMP.

[2019-02-02 19:46] IamAlta commented on #20586
Hi @aghassemi  (cc @nainar @sparhami)

First, <amp-carousel lightbox>?
I don't see documentation for that under amp-carousel, where I would expect it.
I did find it under amp-lightbox-gallery, but I wouldn't have looked for it there.

You have a good idea but won't quite work for option selections the way the program is written.
The number of images is unknown when the <amp-img lightbox> or <amp-c

[2019-02-03 08:55] palances commented on #20527
@nainar can you also added this one into the origin trials? /
https://m.lightinthebox.com

[2019-02-03 09:52] pedramvdl31 commented on #2492
When you use preload as rel you must add style as the value like this:
`<link rel="preload" href="style.css" as="style">`
more info:
[](https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content)

[2019-02-03 16:12] cburaca commented on #20450
@zhouyx, thanks for your reply.

Yes, some of our customers use amp-ad in such scenarios, with
an amp-ad tag as the fallback of a parent amp-ad.

In the sample I sent, the outer amp-ad tags are configured in such
a way nothing is ever served, to let the fallbacks act.
The 3 above the viewport tags are exactly the same as the 3 below.

Do you see the 3 ads below viewport getting collapsed?
We alway

[2019-02-03 16:58] minificadortt commented on #19952
How do yo resolve the problem, I hava the same problem and I do not what to do. Can you help me? Please. My website is [decumpleanos.com](url)

[2019-02-03 19:15] pavelgubarev commented on #19952
minificadortt, apparently this problem has no technical 'solution'. If auto-ads are not placed often enough for you, you just place them manually.

[2019-02-03 21:01] Gregable commented on #20615
I'm not an expert, but I think that the issue is that if two useragents interpret this first bit of text using different encodings. It is possible for the same byte string to be benign text in utf-8 and an arbitrary `<script>` tag in utf-7, for example.

Here's a [reference](http://michaelthelin.se/security/2014/06/08/web-security-cross-site-scripting-attacks-using-utf-7.html) with a real example.

[2019-02-04 02:54] ahmedzidan commented on #7508
Thanks @lannka , i will start working on that and if i need help will ask you

[2019-02-04 03:02] cathyxz commented on #14060
In case people following missed the issue description update: This feature is available for origin trial per #20592 as of release #20587.

[2019-02-04 06:57] agarmave commented on #20593
Thank you all!!

It works perfectly!

[2019-02-04 07:22] SimonHogstromRonbol commented on #20636
I think that allowing and in the media queries would be preferable, since we don't have a way to disable an effect already applied to an element, so if you wanted to target a phone in landscape mode, or specifically target a tablet, you would have a very tough time doing that without 'and'.

I don't know much about the scope, so I can't really speak to that.

[2019-02-04 10:44] parsingeye opened #20653 "I2I: amp-link-rewriter"
Hi AMP community,

I'm Dragan Stefanov, CTO at digidip GmbH.

Digidip is the premium content monetization platform. It provides instant access to over 40,000 merchant affiliate programs without the hassle of network sign-ups, approvals or creating affiliate links.

## Design document
https://docs.google.com/document/d/1slfb3znYHg4wdLwsvBqTFgB2K4esiltLAY1xq7g1ZpI

## Motivation

Our main goal is to

[2019-02-04 12:17] dianomi-mjs commented on #19951
Hi, thanks

So based on the documentation I would have expected

<amp-ad-custom width=350 height=100
  src=”https://www.dianomi.com/smartads.pl?format=amp”
  data-request-param-id="3186"
</amp-ad-custom>

to generate a request for the URL given (I wouldn't have expected it to work yet as there is a lot more we need to put in to place)

But instead I am seeing javascript errors, and no request.

I

[2019-02-04 12:46] dianomi-mjs commented on #19951
Oh on further inspection I think we still need to make our own a4a extension so we can use amp-ad-dianomi ?

[2019-02-04 15:32] cjdeleon62 commented on #20291
@choumx Would it be okay for me to try doing this PR?

[2019-02-04 15:58] gmajoulet commented on #20625
Hmm sorry, I just checked the material guidelines and you're right, there's not really any minimum width recommended. We don't have to, but if you think it might look great, we could always set it to 280px on mobile, like we set it to 320px on desktop. Your call!

[2019-02-04 16:15] choumx commented on #20291
@cjdeleon62 Sorry, @delima02 was going to take it. Thanks for offering and please check out our other "good first issues"!

[2019-02-04 16:16] cjdeleon62 commented on #20291
@choumx that's okay! on another note, is this issue okay to take? https://github.com/ampproject/amphtml/issues/20377

[2019-02-04 16:16] choumx commented on #20291
Sure, go for it.

[2019-02-04 16:25] newmuis opened #20655 "Improve support for analytics variables in amp-story"
We should audit the [default list of variables](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js) to see which ones are supported, and optionally adopt more to improve the support where possible.

Related #12191

[2019-02-04 16:36] bharrigan commented on #20526
@choumx Would this be a good issue for me to take a crack at?

[2019-02-04 16:58] mpaw commented on #19573
@dvoytenko Any updates on this?

[2019-02-04 19:02] choumx commented on #20526
@bharrigan Go for it! 😃

[2019-02-04 19:11] choumx commented on #20526
@bharrigan Also sign up here so we can assign issues to you: https://docs.google.com/forms/d/e/1FAIpQLSeF1PN4Ee7Ke5Hvn4uN_oznV3isr-tfFg7cFRLX2F2OJGhXpw/viewform?c=0&w=1

[2019-02-04 19:23] choumx commented on #17994
@tmoffett-centrify Please clarify the bug and I'll reopen the issue.

[2019-02-04 19:23] #17994 closed

[2019-02-04 19:36] choumx commented on #20523
/to @delima02 First, try reproducing this by modifying a local example (e.g. examples/amp-list.amp.html) -- be sure to compare `amp-mustache-0.1.js` with `amp-mustache-0.2.js`. I'm curious if we ever allowed arbitrary URL protocols.

The relevant code path for 0.2 is purifier.js#purifyHtml(), which calls out to [DOMPurify](https://github.com/cure53/DOMPurify).

[2019-02-04 19:37] choumx commented on #20523
@meistudioli Which deep link protocols do you use? Just `yecstore://` or others?

Note that the AMP validator uses a small whitelist though it can be extended e.g. #3727.

[2019-02-04 19:42] choumx commented on #18266
/to @delima02

[2019-02-04 19:50] tmoffett-centrify commented on #17994
I think you missed the point of the issue. It had to do with dynamically showing a field as the main difference from a normal `select` field, so I'm not sure why you renamed the issue. I thought I came up with a name that properly described it. I put detailed steps/explanation and a JSBin too in my original issue.

Anyway, this might have been fixed in a recent update to AMP.  I tried my original

[2019-02-04 19:55] choumx commented on #17994
I tried your JSBin and was not able to reproduce (see DOM snippet above). Happy to hear that it's working for you now!

[2019-02-04 20:19] zhouyx commented on #20450
@cburaca You're right that the same ad set behave differently because or their position relative to current viewport.

AMP runtime collapse element in a way so that it won't cause page jump. This includes elements that's below viewport. So in your case the 3 ads that're in view cannot be collapsed because it leads to content shift, thus the AMP runtime renders the fallback element. The other ads t

[2019-02-04 20:34] lannka commented on #17742
hi @jawadst did you get chance to look at the integration yet?
we're looking for an announcement in the coming [AMP Conf](https://www.ampproject.org/amp-conf/) in April. It will be good if we could show case a couple of CMP integrations.

Let us know if you have any questions.

[2019-02-04 21:06] zhouyx commented on #15267
We will be prioritizing the work this sprint.

Design decisions:
1. `AMP_CONSENT_STATUS` will resolve asynchronously, which means all requests that include this macro will not be sent out until user response. The latest consent status will always be used.
Note: The user may change their consent after the macro resolve.

2. The `AMP_CONSENT_STATUS` provides five supported states.
  - accept: User a

[2019-02-04 21:11] belobrad commented on #19982
@cvializ we would like to contribute to the AMP project and perhaps develop a travel-industry specific date picker which would address all of these FR we have sent over the past couple of weeks and shorten the release schedule for our amp application we are building here.

Do you think there is a need/demand for such component?

Also, if you had to estimate, how would you see the timeframe after t

[2019-02-04 21:16] cvializ commented on #19982
Hi @belobrad sorry for not updating this thread. We allow setting the amp-date-picker state through the `[src]` binding now, as implemented by https://github.com/ampproject/amphtml/pull/20199. Does that meet your needs?

For developing a new component, the time frame would depend on how long development and review take, and then our release process takes about two weeks once the code is merged.

/

[2019-02-04 21:19] caroqliu commented on #18648
data-do references "buttonPin" in a couple places already; do you mean we don't want to change data-do from "buttonPin" to anything new?

[2019-02-04 22:00] dvoytenko commented on #19573
@mpaw Thanks for following up. We're working on it and will have more to say once things firm up a bit more.

/cc @jpettitt

[2019-02-04 22:38] glevitzky commented on #19951
@dianomi-mjs It looks like your tag is set up correctly, and you don't need your own a4a extension (unless you want to add additional custom logic to your ad request -- this can be done later once we hammer out some initial set up issues, if you wish).

I _believe_ the issue is that you're not adding `<script async custom-element="amp-ad-custom" src="https://cdn.ampproject.org/v0/amp-ad-custom-0.1

[2019-02-04 23:19] dianomi-mjs commented on #19951
Thanks - that seems to be getting further now.

I know there's a lot more I need to do, and will continue to follow the documentation provided earlier by @lannka but anything else that would be useful would be appreciated.

[2019-02-04 23:35] lannka commented on #7508
thanks @ahmedzidan . before PR please start with an "Intent To Implement" issue and talk about high level requirement and design. See [this guideline](https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#process-for-significant-changes) for details.

[2019-02-05 01:34] nainar commented on #19897
cc @cathyxz

[2019-02-05 06:54] AcidRaZor opened #20675 "Search Console rendering text"
## What's the issue?

Google Search Console and testmysite.thinkwithgoogle.com (including some others) does not render a screenshot correctly, shows only text. This causes alerts in search console saying the text is too small (mobile friendliness) and Viewport not set errors.

According to https://github.com/ampproject/amphtml/issues/17516#issuecomment-413355280 this should have been fixed in Augu

[2019-02-05 10:36] dianomi-mjs commented on #19951
Getting further

I still got errors when I added

AMP-Ad-Template_Extension: amp-mustache
Access-Control-Expose-Headers: AMP-Access-Control-Allow-Source-Origin

I needed to also add:

AMP-Access-Control-Allow-Source-Origin: https://www.dianomi.com

[2019-02-05 11:34] cburaca commented on #20450
Server side is not an option in this case.
We will wait for feedback from the ads working group.
Thanks @zhouyx.

[2019-02-05 15:24] glevitzky commented on #19951
Noticed another thing. This is the <amp-ad-custom> element as copied from your test page:

[code]

It looks like the closing quote on the src attribute isn't a standard quote character. Once I fixed that, I see an ad request go out that looks sensible to me.

(There's also an extraneous `=""` following the data-request-param-id attribute, though I don't think it's causing any harm.)

[2019-02-05 15:33] cvializ opened #20677 "Support customary currency mask"
Some ecommerce sites like PayPal use an inputmask for currency that behaves like the user is entering a number of cents.

<img height="480" alt="dollarmask" src="https://user-images.githubusercontent.com/2363700/52283844-45a3a680-2931-11e9-923b-2f138c6eb902.gif">

/cc @sparhami

[2019-02-05 15:34] delima02 commented on #20523
`amp-mustache-0.2.js` rejects arbitrary protocols unless whitelisted. `amp-mustache-0.1.js` will accept arbitrary protocols like `yecstore://` and others in that format.

[2019-02-05 15:35] cvializ opened #20678 "Undo is broken in amp-inputmask"
Pressing CTRL+Z/CMD+Z in an amp-inputmask does not undo the text that the user entered or deleted.

[2019-02-05 15:36] ikriser commented on #4482
Was wondering if there are any updates on this? Looking to implement this feature as well.

[2019-02-05 15:42] cvializ opened #20679 "Multimask does not reset when overwriting all text"
In an amp-inputmask with two masks, e.g. `mask="00000 1A1_A1A"` the field sometimes will not return to the initial state after highlighting all the text and typing a new character. When cleared this way, the form should accept input that matches either mask.

/cc @cathyxz @nainar

[2019-02-05 15:42] cvializ commented on #20679
I actually can't reproduce this, so I will close it.

[2019-02-05 15:43] cvializ commented on #20679
Rereading the issue, it involves typing after selecting all of the input, which I can reproduce

[2019-02-05 15:44] dianomi-mjs commented on #19951
Hi, Sorry about that - I wrote an updated test here where I managed to get much further

https://www.dianomi.com/mjs/amp/test.epl

The amp request is now being made, I'm trying to work out why the template isn't being loaded but going through the instructions.

[2019-02-05 15:50] cvializ opened #20680 "Allow typing any separator-type character to trigger a mask to enter its separator"
Use case: A user types in their credit card number, but they press `-` instead of ` ` between the numbers. The `-` should cause the mask to enter a ` `.

/cc @sparhami

[2019-02-05 15:53] cvializ opened #20681 "Mask-entered characters are deleted when the user deletes a user-entered character"
When the user enters a value into an inputmask field that contains literal characters, like a credit card field contains spaces, the mask will automatically add the literal fields as a user types, e.g. `4111 1`. If the user deletes the last `1`, amp-inputmask will delete the space character as well. This issue requests that the space character remains if the user deletes the character before it.

[2019-02-05 17:58] jasti commented on #20450
@cburaca could you clarify why this is not possible to do in an ad server (which is primarily where these types of decisions are made)?

[2019-02-05 18:15] choumx opened #20685 "amp-carousel: Janky swiping in [type=slides][loop] with 2 slides"
Try the following in [AMP playground](https://ampbyexample.com/playground/#url=https://ampbyexample.com/components/amp-carousel/source/):

[code]

Swiping between slides is janky/broken. One possible fix is to override `shouldLoop` in `slidescroll.js` when number of slides < 3.

Context: `b/123093858`

/cc @aghassemi

[2019-02-05 18:23] aghassemi commented on #20685
@sparhami @nainar added it to the `Better AMP Carousel project` to verify as fixed in V2.

[2019-02-05 18:23] cburaca commented on #20450
@jasti, our client is using a network for the outer tag that sometimes may not serve an ad.
So, the inner tag is used with another network as a fallback to increase the overall fill rate.
Thanks.

[2019-02-05 18:38] prateekbh commented on #20535
I'd also like to do a complete design review of AMP-SW along with the release/rollback process.

[2019-02-05 18:56] kristoferbaxter opened #20688 "Error: A history state object with URL '...' cannot be created in a document with origin 'null'."
https://go/ampe/CK_Ig5euqvbJZg

Looks to be driven by AMP Bind.

Stack Trace
[code]

[2019-02-05 19:00] adriennefishman commented on #9785
hi! this sounds awesome. i currently implemented autocomplete using amp-list and amp-selector.
some issues we faced:
1) can't use up and down key arrows to navigate through the list of options unless the user presses tab first (which is not a natural inclination)
2) once the autocomplete list of options is appearing, i would like it to be able to detect a click outside in the outer div and know to

[2019-02-05 19:32] kristoferbaxter opened #20690 "Error: Unexpected end of JSON input"
https://go/ampe/CK6EmuuQ5vKB3gE

Before attempting to call `Response.json()` validate the `Response` object contains a body.

[code]

Impacted code block
[code]

[2019-02-05 19:48] kristoferbaxter opened #20691 "Error: Cannot read property 'contains' of null"
https://go/ampe/CPqUoPDi2JCAugE

Potentially related to: https://github.com/ampproject/amphtml/pull/20035

[code]

[2019-02-05 21:44] bandral0 commented on #10207
having the same issue, amp-bind is not updating amp-img for cached version, but works on non-cached version.
Is this still an ongoing issue?

[2019-02-05 21:51] choumx commented on #10207
@bandral0 Should be fixed. Do you have a link to a test page?

[2019-02-05 21:56] bandral0 commented on #10207
https://www.google.ca/amp/s/trustedpros.ca/amp/on/toronto/basement-renovations - if you click on the "Get a Quote" the captcha image below should change to the set image

e.g
"<a class="get-quote" on="tap:AMP.setState({user_company: 'GTA Siding &amp; Aluminum ', user_id: '137945', claim_class: 'claim-text-hide', verification_token: '188153C0-17AB-4C6F-8CEF-F3CFE85AB759', captcha_image: '**https://

[2019-02-05 21:56] choumx commented on #20688
[code]

[2019-02-05 22:00] choumx commented on #20688
https://github.com/ampproject/amphtml/blob/5ccef0b30947636789da9ec9bec6d04894ac51c0/src/service/history-impl.js#L439-L443

[2019-02-05 22:19] choumx commented on #20688
UA appears to be "Android WebView 44.0".

[2019-02-05 22:31] choumx opened #20697 "amp-carousel: Autoplay should not trigger high-trust 'slideChange' event"
Allows invoking `AMP.setState()` without user action. Note this is currently used on AE's home page.

Noticed this while debugging a runtime error.

/cc @aghassemi @leonalicious

[2019-02-05 22:34] choumx commented on #10207
Seems to work for me. I see the captcha image:
[code]

[2019-02-05 23:13] bandral0 commented on #10207
The image which is visible is the default image but it should load the image which is set via amp-bind ==> AMP.setState

Below is the code to set AMP state for “captcha_image”
<a class="get-quote" on="tap:AMP.setState({user_company: 'GTA Siding &amp; Aluminum ', user_id: '137945', claim_class: 'claim-text-hide', verification_token: '188153C0-17AB-4C6F-8CEF-F3CFE85AB759', captcha_image: 'https://tr

[2019-02-06 00:58] kristoferbaxter commented on #20645
This was already part of the canary release last week. Since the canary was cut late, it made it in.

[2019-02-06 01:47] choumx commented on #10207
Ah, it's the same root issue as OP. This happens because there's no `[srcset]` binding. The amp-img's `src` attribute is changing as expected, but the browser ignores it in favor of `srcset`:

https://www.ampproject.org/docs/reference/components/amp-bind#element-specific-attributes

We should change amp-img to remove `srcset` attribute when mutating `src` if there's no `[srcset]` binding.

[2019-02-06 02:41] #19949 closed

[2019-02-06 02:42] choumx commented on #20697
Ha, all good it happens. SGTM and thanks for the quick response.

[2019-02-06 08:04] hw-dwalter commented on #19554
Here https://codepen.io/hw-dwalter/pen/GzMxZj I prepared an example. If the `<svg>` is inline, the foreinObject and amp-bind work well. Of course, foreinObject does not validate as amp.
The two images https://knuckl.es/amp-bind1.svg and https://knuckl.es/amp-bind2.svg use nearly the same markup:
[code]
amp-bind2.svg without the amp-bind attribute and amp-bind.svg with. The last one throws an parse

[2019-02-06 13:57] newmuis commented on #17023
There are reports that this is also not working in Android Chrome 71 and 72.  I'm unable to reproduce this issue on my OnePlus X on Android 6.0.1 and Chrome 71.0.3578.99.

[2019-02-06 14:07] newmuis opened #20702 "amp-story object keys not minified"
Looking at the [minified source](https://cdn.ampproject.org/v0/amp-story-1.0.js), there are string keys that don't get minified.  In particular, for localization, we don't minify the keys `string` and `description`, which appear a lot and could save size.

[2019-02-06 14:18] christian-felix commented on #17742
Hi @lannka, we are currently evaluating the idea and hopefuly  absorbing it soom.  In case of successfully integration I will provide you with the appropriate link for the coming AMP Conf.

[2019-02-06 14:24] dianomi-mjs commented on #19951
Hi, @glevitzky I wonder if you could take a look at the page we have now

https://www.dianomi.com/mjs/amp/test.epl

On chrome I seeing an "Invalid recovery mode!" error

on the chromebook I don't see an error but it looks like it's posting an error to https://amp-error-reporting.appspot.com/r

{v: "011901302225410", noAmp: "0", m: "Invalid recovery mode!", a: "0", ex: "0", dw: "0", rt: "1p",…}
a:

[2019-02-06 15:19] newmuis commented on #20702
`string:` occurs 561 times, so if it could be minified to `s:` or similar, that's a savings of 2.74kb.

[2019-02-06 15:45] andreapernici commented on #20617
When will it be out?

[2019-02-06 15:48] glevitzky commented on #19951
Looks like the actual error message is being swallowed up somewhere, but stepping through the debugger, I see: `"XHR Failed fetching (https://www.dianomi.com/...): Failed to fetch​​​"`. Not sure yet if the issue is on our side or not, but thought I'd post this in case it rings any bells for you while I keep debugging.

[2019-02-06 15:57] YonahKarp opened #20703 "allow bind of `expanded` attribute on amp-accordion"
## Describe the new feature or change to an existing feature you'd like to see

`amp-accordion` has an `expanded` attribute that is used to open the accordion. It is added on click of the accordion "header" and can be set manually, to start open.

Please allow this value to be bound.

## Additional context

My use case (for me) is an accordion inside of an `amp-list`. The accordions contain a list

[2019-02-06 16:01] michael-stevens commented on #19951
I've possibly? made some progress by running a local copy of amphtml, which seems to give better errors, we had some dodgy CORS headers, we now see the error "Validator never registered!".

[2019-02-06 16:10] glevitzky commented on #19951
Have you updated your test page? I'm seeing the old error still.

[2019-02-06 16:11] michael-stevens commented on #19951
That's not updated yet, I'll try to get that updated.

[2019-02-06 16:53] #20625 closed

[2019-02-06 17:01] choumx commented on #19554
Looks like the SVG parser fails on bracket characters. amp-bind supports an alternate syntax e.g. `data-amp-bind-foo` instead of `[foo]`. However, the larger issue is that amp-bind doesn't inspect or mutate external SVGs. So this won't work unless the AMP validator supports `foreignObject`.

Can you share your high-level use case? Since implementing this FR is a significant amount of work, it will

[2019-02-06 17:27] bandral0 commented on #10207
That fixed it, thanks a lot!

[2019-02-06 17:45] aghassemi commented on #20586
@IamAlta amp-lightbox-gallery works fine with one item and it does render a "X". You are seeing otherwise? ( I can see it working fine on https://codepen.io/iamalta/pen/KrvBgj ).

(The X and the captions can be toggle of by the user, clicking on the image shows/hides the X and the captions)

[2019-02-06 17:46] #14010 closed

[2019-02-06 18:12] #20291 closed

[2019-02-06 18:25] IamAlta commented on #20586
Hi @aghassemi,
I see no "X" at https://codepen.io/iamalta/pen/KrvBgj
Here are images before (left) and after (right) on FireFox Developer Edition 65.0b7 (64-bit)
![image](https://user-images.githubusercontent.com/34579958/52364067-8ff45880-2a01-11e9-945f-e516ae1f85df.png)

[2019-02-06 18:39] choumx opened #20704 "Integration tests for AMP4EMAIL viewer APIs"
Let's add end-to-end tests for `viewerRenderTemplate` and other email-specific viewer capabilities.

/to @alabiaga /cc @GoTcWang @zhangsu

[2019-02-06 18:39] choumx commented on #20575
@alabiaga Consider syncing with Esther for work related to #20704.

[2019-02-06 18:49] alabiaga commented on #20575
@choumx I did this morning. Thanks

[2019-02-06 18:50] aghassemi commented on #20586
@IamAlta oooh might be a firefox 65 bug! FF 64 and Chrome works. Could you verify whether it works in Chrome for you?

[2019-02-06 19:02] IamAlta commented on #20586
@aghassemi,
Yes - it works on Chrome.
I just updated to FireFox Developer Edition 65.0b10 (64-bit) and still doesn't work.

[2019-02-06 19:13] aghassemi commented on #20586
@IamAlta great. Given it works on Firefox 64 and even 65 beta (not developer edition, normal beta), it is likely a bug in developer edition.

[2019-02-06 20:30] kristoferbaxter commented on #20587
1. Cherry Picks Complete.
2. Build Successful (https://travis-ci.org/ampproject/amphtml/builds/489674953)

[2019-02-06 20:46] mattwomple opened #20709 "amp-lightbox-gallery broken in PWA"
## What's the issue?

The **amp-lightbox-gallery** component fails to load when an AMP page is loaded in a PWA with `AMP.attachShadowDoc`. Variable `global` is reportedly undefined in this line:

    Services.extensionsFor(global).addDocFactory(installLightboxGallery);

## How do we reproduce the issue?

I have created a minimal example that demonstrates the issue as well as a partial workaround.

[2019-02-06 20:53] IamAlta commented on #20586
@aghassemi,
I does not work on the standard FireFox Quantum 63.0.3 (64-bit) either.

[2019-02-06 21:54] rudygalfi commented on #4482
@ikriser - I think you could pick this up. @jeffjose and @lannka can guide you.

[2019-02-06 22:10] #20272 closed

[2019-02-06 22:29] sparhami commented on #19912
Did some investigation and here is what I found:

* The `load` event/`onload` fires in Safari when a non-matching media query is used (as expected)
* The stylesheet for eventually ends up in `document.styleSheets`
* The spec states that the a stylesheet object should be created and then a load even should be fired on the link object:
https://html.spec.whatwg.org/multipage/links.html#link-type-styl

[2019-02-06 22:37] delima02 commented on #18266
Can't reproduce. The error message I get in this specific scenario:
`AMP-BIND is not installed.`

[2019-02-06 22:44] nainar commented on #20617
Hi, we are looking to launch this sometime mid Q2 2019 latest.

[2019-02-06 22:47] nainar commented on #9785
Related issues  #8826 and #4071

[2019-02-06 23:10] sparhami commented on #19912
I have a feeling that this may be related to https://bugs.webkit.org/show_bug.cgi?id=83719 or a similar sort of bug.

[2019-02-06 23:41] mrjoro commented on #15827
Now that origin experiments are back, are we ready to add the comment to prod-config.json to remind people not to add new document-level experiments (in preparation for removing support for them)?

/cc @lannka @choumx @ampproject/wg-runtime

[2019-02-07 00:43] sparhami commented on #20586
This is fixed by #20516.

[2019-02-07 00:43] #20586 closed

[2019-02-07 00:44] torch2424 commented on #20653
Hello, so I was discussing with @lannka , and we noticed that we are getting a lot more interesting in affiliate linking within AMP. And in fact, we had this proposal in the past, but got de-prioritized: https://github.com/ampproject/amphtml/issues/9276

Could you look through that, and see if it would work for your use case? We were thinking it may be better to make a more general solution on our

[2019-02-07 00:44] torch2424 commented on #20675
Triaging to @aghassemi , feel free to reassign 😄

[2019-02-07 01:00] aghassemi commented on #20675
Hi @AcidRaZor I am investigating, will report back.

(This usually means something in AMP is using a new JS/Web API that older Chrome that indexing renders use don't understand.)

[2019-02-07 01:10] sparhami commented on #14244
I think this could apply to more components and anytime you clone AMP elements. It looks like there is already a check here: https://github.com/ampproject/amphtml/blob/4f9c478295240976f906d5cd4a6356b189d82495/src/layout.js#L327 to avoid re-doing layout in the SSR case. Seems like we should extend that check for client-side layout as well. I'm not aware if there are any downsides to adding the attr

[2019-02-07 01:14] zhangsu commented on #18266
I can't reproduce this either. Must've been fixed by something else!

[2019-02-07 01:14] #18266 closed

[2019-02-07 01:19] aghassemi opened #20713 "Percy and Chrome 41 / IE11 support"
WRS (Web Rendering Service) that crawlera use to render a website for indexing uses Chrome 41. We should have Percy take at least a few screenshots with Chrome 41 in case we ship code that breaks rendering in that old version. We don't really need to run every test in Chrome 41, just a few with images and text would do.

Currently I am investigating a breackage in https://github.com/ampproject/amp

[2019-02-07 01:28] aghassemi commented on #14244
Yeah cloning has lots of little edge case issues. We should really have toolbar use `slot` instead of cloning.

Anyway, I agree that client-side layout should add that attribute as well. Worth a quick look at other places that query that attribute to assess risk but makes sense to me.

[2019-02-07 02:01] sparhami commented on #14244
Hmm, I don't think we could use slot, since the target location for placing the toolbar is within another element in the page and not the toolbar. But I don't see why we couldn't just move the nodes there, it seems like the never appear in both places at once. I don't really have the context, there may be a reason for this.

Here are the few places I found that reference the attribute (other than

[2019-02-07 12:53] parsingeye commented on #20653
We have looked at existing proposals and implementations, but they just didn't fit our use case.

In the case of amp-link-rewriter, sending CORS request won't work for us as we don't have the endpoint or any infrastructure for it. We cannot change anything on the server side in the foreseeable future due to resource limits.

Also, one of the essential things is the ability to include/exclude certa

[2019-02-07 15:45] rsimha commented on #20713
VIsual diffs do a two step rendering:
1. Use latest chrome locally to run JS and generate a DOM snapshot
2. Use Chrome and Firefox on the Percy side to generate a visual image to compare

Which of these steps do you think breaks on Chrome 41? If it's step 1, I'd imagine we can use an older version of chrome with puppeteer. If it's step 2, we'd have to reach out fo Percy to see if this is an option

[2019-02-07 15:54] felixuko commented on #11678
So it's OK if I want to track when an <amp-img> is visible, but I can't do the same for a <div> or an <a> ?

I've tried doing the trick with an <amp-pixel> but it doesn't work. It simply doesnt trigger the event when te <amp-pixel>, which is placed just above the real element I want to track, is visible.

I think there's a real necessity here for big companies devolopping AMP websites. We need to

[2019-02-07 16:16] #18630 closed

[2019-02-07 17:19] aghassemi commented on #20713
@rsimha I'd say in majority of cases it would be step 1 as breakages are likely to be JS related. It is possible to be step 2 as well if we use some newer CSS stuff, but much less likely.

After I figure out what happened in #20675 , I will report back.

[2019-02-07 18:19] arunke1 opened #20720 "Google Business profile that shows on google organic search need to link to AMP Page"
Hi,

I was wondering if there was a way we could update our Google Business profile that shows on google searches in both desktop and mobile to link to our AMP home page. I see the option to do so on desktop but not in mobile.

Thanks and Regards
Arun Kumar

## Describe the new feature or change to an existing feature you'd like to see

A clear and concise description of what you want to happen.

[2019-02-07 19:06] zhouyx commented on #11678
Thank you @felixuko for the feedback. It is correctly today that amp-analytics doesn't support visibility tracking of non-AMP elements.

amp-pixel doesn't provide visibility tracking, it's a light weighted builtin component that simply send out a ping.

I completely understand. Instead it has been decided to remove the restriction. #20607
Before that's implemented, you're welcome to wrap your non-

[2019-02-07 19:12] aghassemi commented on #20675
@AcidRaZor Are you using `install-service-worker` by any chance?

[2019-02-07 20:08] choumx commented on #20528
Closing as a dupe of #17897.

[2019-02-07 20:08] #20528 closed

[2019-02-07 20:20] #20526 closed

[2019-02-07 20:43] torch2424 commented on #20653
@parsingeye Ah, makes sense. Thank you for the consideration! Was mostly asking for @lannka 's reference. Thank you! 😄

[2019-02-07 20:44] zhouyx commented on #20450
@cburaca So I've brought this up to the ads working group. However the user study indicates that collapsing a no-fill ad is still the best approach in terms of providing good user experience. As said, the fallback behavior will not be changed.

The team overlooked the corner case of using an ad as the fallback of another ad. But as you've already found, the behavior is unreliable with different us

[2019-02-07 21:02] santiago-noduscompany commented on #17082
The event triggered with minimum-nights = 0 doesn't contain the date in the array and the values start and end are undefined.

[2019-02-07 21:05] townsendmerino opened #20726 "STAMP auto-advance should respect user intent, stop auto-advancing after any user interaction"
## What's the issue?

If a user wants to stay on a page of the story, currently they can long-tap to pause, but if the user taps to go back or even forward then they intend to control navigation themselves, and auto-advance should stop controlling things.  I would prefer auto-advance to die if the user pauses, but at the least we should kill auto-advance on manual page navigation.

## How do we re

[2019-02-07 21:10] aghassemi commented on #20675
@AcidRaZor nevermine, I don't think it is service-wroker. current suspect is fix headers. Do you have fixed headers in your page? (or even better, can you share a Url with us please?)

[2019-02-07 21:20] cvializ opened #20727 "amp-date-picker triggers incorrect change event with minimum-nights="0""
Related to https://github.com/ampproject/amphtml/issues/17082#issuecomment-461594401

[2019-02-07 21:21] cvializ commented on #17082
Hi @santiago-noduscompany thanks for reporting your issue. It doesn't seem related to this issue's subject, so I created issue #20727 for you.

[2019-02-07 21:48] #20709 closed

[2019-02-07 23:30] aghassemi opened #20732 "amp-next-page: Canonical Url being sent is wrong"
We are sending the original page's canonical Urls instead of the new pages.

/cc @brandondiamond @peterjosling

[2019-02-07 23:56] zhouyx commented on #20400
@enzo-giancola I'm going to close the issue as the behavior is expected. Please feel free to reopen and let me know if there're more questions. Thank you.

[2019-02-08 00:13] aghassemi commented on #20675
This so far ( at least for amp-by-example and ampproject.org ) has turned out to be related to `fixed-layer` and pretty much same issue as what @jridgewell talks about here: https://github.com/ampproject/amphtml/issues/14178 unfortunately the workaround done for Safari does not work for Chrome 41 and `transition: none` never goes away messing up everything.

<img width="1381" alt="screen shot 2019

[2019-02-08 00:14] aghassemi commented on #20675
@jridgewell Do we really need to apply all the fixed-layer stuff (aside from reparenting) on the non-viewer case? This being broken on Chrome 41 in viewer is fine, but not on origin since that's how crawlers render pages.

[2019-02-08 00:18] aghassemi commented on #20675
lowering priority to P2, it is not a wide spread issue and has certain conditions need to be true to repro.

[2019-02-08 07:59] felixuko commented on #11678
Thank you very much @zhouyx for your fast answer and the `<amp-layout>` tip. I will implement it right now.
I just read #20607 issue. I think it's great news!

[2019-02-08 09:31] kakha13 opened #20734 "amp-date-picker validation valueMissing not working"
This is my code
`<amp-date-picker
                 type="single"
		 class="tohide"
                 mode="overlay"
                 layout="container"
                 input-selector="[name=submiter_date]" >
               <input name="submiter_date"
                class="input tohide"
                id="submiter_date"
                placeholder="აირჩიეთ თარიღი"
		readonly="true"
		type="date"

[2019-02-08 09:55] sachin-pt opened #20735 "amp-list: Validation fails with data-amp-bind-src without src or [src]"
## What's the issue?

I am using JSX to render amp pages. Therefore I started using XHTML/JSX safe data-amp-bind-* attributes instead of [*]
It works well in most cases except while using it with an amp-list with no 'src' attribute. Consider the following example:

`<amp-list data-amp-bind-src=SOME_URL></amp-list>`

Now it works fine, it's just that the validator fails (in development mode) with t

[2019-02-08 10:13] enzo-giancola commented on #20400
@zhouyx, as attached a screen related to the following URL:

https://rep.repubblica.it/pwa/generale/2019/02/07/news/francia_macron_eliseo_gilet_gialli_m5s_di_maio_conte_mattarella_salvini-218582355/

where as you can see `<amp-analytics>` is placed in the same shadow root with `<amp-subcription>`.

Is this correct?

Thank you

![ampproject-amphtml_20400](https://user-images.githubusercontent.com/1

[2019-02-08 10:18] enzo-giancola opened #20736 "Issue using amp-analytics with Shadow DOM (2)"
Hi,

related to the issue:

https://github.com/ampproject/amphtml/issues/20400

as attached a screen related to the following URL:

https://rep.repubblica.it/pwa/generale/2019/02/07/news/francia_macron_eliseo_gilet_gialli_m5s_di_maio_conte_mattarella_salvini-218582355/

where `<amp-analytics>` is placed in the same shadow root with `<amp-subcription>`

Is this correct?

Thank you

![ampproject-amp

[2019-02-08 10:20] dianomi-mjs commented on #19951
Hi

We've updated our headers

So I have this page the firebolt and template ad

https://www.dianomioffers.co.uk/mjs/amp/test.epl

and this one with just the template ad

https://www.dianomioffers.co.uk/mjs/amp/newonly.epl

We're seeing "template-impl.js:241 Invalid recovery mode!"

but can't work out what that means.

Thanks for any help!

[2019-02-08 10:56] peterjosling commented on #20732
I've tried to reproduce locally but `DocInfo` is returning the new value from the shadow doc correctly.

[2019-02-08 12:57] MARQAS opened #20738 "amp-consent with amp-geo not working in IOS with WP plugin"
## What's the issue?

We have implemented amp-consent with amp-geo in our Plugin https://wordpress.org/plugins/accelerated-mobile-pages/ for GDPR compliancy but for some reason, it is not working with IOS devices.

Link to the ticket: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2876

Plugin: https://wordpress.org/plugins/accelerated-mobile-pages/

GDPR code: https://github.com/a

[2019-02-08 13:27] manjunathkundar opened #20739 "amp-carousel : Load News article with URL Just like amp-next-page"
## amp-carousel on change load News article

I am new to AMP and I was exploring an option to load news article in amp-carousel. I found this feature in **amp-next-page** but user has to scroll till the end of page for this.

Instead, if the same feature introduced in amp-carousel where on slide-next/previous, next/previous news article get loads with URL change without refreshing the page.

Pleas

[2019-02-08 13:58] tomayac commented on #18055
Is there a way for AMP to enforce that the `<body>` of an iframe is and remains empty? The use case described by @demianrenzulli seems legit.

[2019-02-08 14:08] sergionsz opened #20740 "amp-bind doesn't work with responsive images of different sizes"
## What's the issue?

amp-bind will incorrectly render responsive images when they have different aspect ratios.

## How do we reproduce the issue?

You can check [this example](https://codepen.io/sergionsz/pen/KJQPEz) with two images. Notice that both are correctly rendered when they're first placed on the page. After changing one image to the other though, they will not take all the available sp

[2019-02-08 16:16] AcidRaZor commented on #20675
Sorry for the late response. I dont feel comfortable sharing links to the work I am doing. Can I private message you instead? I dont use service workers/fixed layers and what not.

[2019-02-08 16:22] AcidRaZor commented on #20675
Ok I asked the one Director if I can share publically...

https://amp.heycarter.com/Cars/Renault/Clio/66kW-turbo-Authentique/

Note most of it is static html. Similar cars works with amp-list and pulls dynamically from our API

[2019-02-08 16:56] honeybadgerdontcare commented on #20735
`src` or `[src]` are required attributes for `amp-list`, could you try using both `src` and `data-amp-bind-src`?

@choumx 	related to #11115

[2019-02-08 16:57] glevitzky commented on #19951
This is our mistake for not documenting this, but you'll need to add an additional HTTP response:

`AMP-Ad-Response-Type: template`.

This should be in the same response that contains the `amp-ad-template-extension: amp-mustache` header.

[2019-02-08 17:04] glevitzky commented on #19951
In principle, this shouldn't be needed, and I'm currently working on a fix that will make this optional, but for current testing purposes, adding this header should get you passed the current block.

[2019-02-08 17:14] glevitzky commented on #19951
Having bypassed that check, I still see further issues in that your actual template isn't being requested. Currently investigating why.

[2019-02-08 17:16] dianomi-mjs commented on #19951
No problem. We've added the header now.

On https://www.dianomi.com/mjs/amp/newonly.epl I don't see any errors (but no template as I think you've also observed)

On https://www.dianomioffers.co.uk/mjs/amp/newonly.epl (same content on different domain to the JSON) we still get the invalid recovery mode.

We're investigating on our side too.

[2019-02-08 17:32] #18648 closed

[2019-02-08 17:37] aghassemi commented on #20675
Thanks @AcidRaZor. Always feel free to share Urls privately, either on Slack or emailing me ( `aghassemi`  `at` `google.com`). Nice website by the way!

Alright, based on my debugging, the server renders the whole page as pure `text` (e.g. it renders the  actual HTML source). Issue is with `content-type` your server is sending. It is sending `content-type: text/html,charset=utf-8` in response head

[2019-02-08 17:37] chris-decker-volusion opened #20741 "[amp-carousel] Requires separate closing tag for <amp-img> elements"
## What's the issue?

When using the `amp-carousel`, you must use separate closing tags for `amp-img` elements (ie `<amp-img ...></amp-img>` works, but `<amp-img ... />` does not.

## How do we reproduce the issue?

1. Navigate to https://ampbyexample.com/playground/
2. Replace the existing code with the following code:
[code]
Everything should work correctly. Now convert the `amp-img` tags to sel

[2019-02-08 17:38] aghassemi commented on #20675
Closing per comment above.

[2019-02-08 17:38] #20675 closed

[2019-02-08 17:39] glevitzky commented on #19951
It looks like for some reason one of the headers is being dropped. The check here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/template-validator.js#L65 appears to be failing, even though I can clearly see that the header is present in the HTTP response. Still debugging...

[2019-02-08 17:43] glevitzky commented on #19951
Actually, that could be due to my local test setup. Disregard the above.

[2019-02-08 17:46] aghassemi commented on #20741
Hi @chris-decker-volusion

Technically there is not self-closing tag in HTML5.

so
[code]
get parsed by browsers as
[code]
(You can see that in action in Chrome DevTools in your sample Url)

Please see https://github.com/ampproject/amphtml/issues/20368#issuecomment-454904925 for more details on this.

Hope this helps.

[2019-02-08 17:46] aghassemi commented on #20741
Closing per comment above

[2019-02-08 17:46] #20741 closed

[2019-02-08 17:49] aghassemi commented on #20739
Hi @manjunathkundar,

AMPs current recommendation for what you are trying to do is PWA + AMP. https://github.com/ampproject/amphtml/issues/20368#issuecomment-454904925

@nainar relevant for AMP first.

[2019-02-08 17:51] glevitzky commented on #19951
It looks like in the first link the template is now being fetched correctly. However, it's missing the `"ampRuntimeUtf16CharOffsets" ` field in the metadata object, which is causing it to be flagged as invalid. This field needs to specify the first and and last characters of the metadata object script tag. The form should be:

[code]

This field isn't particular to template ads, but is expected of

[2019-02-08 17:58] jpettitt commented on #19573
@mpaw we have a design, it's in security/legal review, best estimate is we'll have something public sometime around the end of March.

[2019-02-08 18:09] dianomi-mjs commented on #19951
Thanks - so I presume we need to add a line to our original file https://www.dianomi.com/amp/amp4ads_2.epl (which is a small modification of the file @lannka sent).

I'll see if I can work out what this entails.

[2019-02-08 18:15] aghassemi commented on #20740
Thanks @sergionsz, agreed but for now, per documentation (https://github.com/ampproject/amphtml/blob/master/extensions/amp-bind/amp-bind.md#element-specific-attributes)

Also raised under https://github.com/ampproject/amphtml/issues/19364 , tagging as duplicate

[2019-02-08 18:16] aghassemi commented on #20740
Closing as dup of https://github.com/ampproject/amphtml/issues/19364

[2019-02-08 18:18] aghassemi commented on #20734
/to @cvializ to triage.

[2019-02-08 18:19] aghassemi commented on #20736
/to  @zhouyx per her investigation on the related #20400
/cc @dvoytenko

[2019-02-08 18:22] AcidRaZor commented on #20675
Thanks for the compliment. I generally don't like my own work :)

Having said that, I never set the header to act like that. Could be IIS messing around with me, will have to check. Thank you for helping on this. We did do a whole SEO project, so wondering if there is something set by someone that could act this way.

[2019-02-08 18:23] aghassemi commented on #20738
Not sure where the root cause of the issue will fall, given it is related to WP plugin, let's start by @westonruter ?

[2019-02-08 18:26] AcidRaZor commented on #20675
Yep, looks like we added charset=utf-8 and IIS automatically comma separates and appends it to text/html output

[2019-02-08 18:32] AcidRaZor commented on #20675
To anyone that finds this, don't add content-type "charset=utf-8" to the http response headers in IIS, this will add it on comma-separated. You would want to edit the MIME type of the html document to add the utf-8.

Thanks again aghassemi!

[2019-02-08 18:55] aghassemi commented on #20720
Hi @arunke1

Folks on the AMP open-source project are separate from Google's use of the project. Please post Google related questions/feature requests on this forum: https://productforums.google.com/forum/#!topicsearchin/webmasters/category$3Aaccelerated-mobile-pages-amp

[2019-02-08 18:55] #20720 closed

[2019-02-08 19:09] dianomi-mjs commented on #19951
actually is this something we should be adding or should it be being added for us?

[2019-02-08 19:33] #20523 closed

[2019-02-08 19:45] zhouyx commented on #20400
@enzo-giancola Thank you for the screenshot. So I took a look at the page again. Interesting I found two amp-subscriptions in different shadow roots. And one of them is embedded in nested shadow root.

first one:
![image](https://user-images.githubusercontent.com/5419904/52501469-49cffe00-2b95-11e9-980a-585d3fae41b3.png)

The one @enzo-giancola referred to, note that it is in a nested shadow root

[2019-02-08 19:47] zhouyx commented on #20400
And I found the exact `<amp-analytics>` element that is listening to 'subscriptions-access-denied' event. They seem to be placed under subscription guarded section properly. Thoughts?

![image](https://user-images.githubusercontent.com/5419904/52502238-1ee6a980-2b97-11e9-8438-f96ac60134bb.png)

[2019-02-08 19:49] zhouyx commented on #20736
@enzo-giancola Thank you for the detailed information. I've reopened #20400, Let's track the issue in the old thread. Thank you very much.

[2019-02-08 19:49] #20736 closed

[2019-02-08 20:05] cvializ commented on #20734
Hi @kakha13 thanks for letting us know about your issue. It looks like it's not getting validated because the input is readonly. I'm going to close this issue, since it's a duplicate of https://github.com/ampproject/amphtml/issues/17687

[2019-02-08 20:05] #20734 closed

[2019-02-08 20:15] aghassemi commented on #20732
oops sorry, my test case was totally wrong!

[2019-02-08 20:15] #20732 closed

[2019-02-08 21:41] danielrozenberg opened #20744 "I2I: a method to unblock AMP contributors in the face of flaky tests on Travis"
## Background

The ampproject/amphtml GitHub+Travis project is suffering from a long standing problem of flaky tests that hinder developer velocity, sometimes for days, and reduces developer confidence in our tooling.

The root cause stems for this flakiness problem stems from a combination of factors:

1.  Our testing infrastructure is complex: we run unit tests, integration tests, end-to-end tes

[2019-02-08 21:42] danielrozenberg commented on #20535
I'd like to discuss #20744, a method to unblock AMP contributors in the face of flaky tests on Travis

[2019-02-08 21:50] sergionsz commented on #20740
@aghassemi

Thanks for your reply!

I updated my previous example [into a new pen](https://codepen.io/sergionsz/pen/YBeryr) to bind to the srcset as well, both with and without the attribute for the width of the image. It's still not rendering the images correctly.

Do you mind taking a look?

[2019-02-08 21:53] glevitzky commented on #19951
My mistake. This should be auto-injected for you. We're currently investigating why the string wasn't properly constructed. I'll update you as soon as I know what's going on.

[2019-02-08 22:57] davidsteeb opened #20747 "Allow additional @types for use with <amp-subscriptions>"
## Problem

`<amp-subscriptions>` requires a document to be marked up with a `@type: "NewsArticle"` type declaration.
To use amp across a site that requires or offers a signup/login and a broader range of content this requires either the documents being marked up as "NewsArticle" while in fact being of a different type, removing the login option across some of the pages while keeping a matching `@

[2019-02-08 23:01] jpettitt commented on #20747
cc @dvoytenko

[2019-02-08 23:03] jpettitt commented on #20747
I'm leaning toward allowing any valid `@type`.  I'll dig into it and report back.

[2019-02-08 23:04] aghassemi commented on #20740
Hi @sergionsz, I am missing how to repro the bug. Image changes for me just fine. Could you post repro steps and maybe a screenshot?