[2017-08-27 23:26] adelinamart opened #11112 "label type fr"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-08-27 23:27] #11112 closed

[2017-08-27 23:27] #11111 closed

[2017-08-27 23:28] #11110 closed

[2017-08-27 23:28] #11109 closed

[2017-08-28 05:12] pravinagham commented on #11080
It's working now. Thanks

[2017-08-28 11:08] Alejo99 commented on #4277
The problem persist. Google Chrome v60.0.31112.107, Android 7.0.0, AMP version 1503591987101.

Some examples here:
http://www.lecturas.com/actualidad/romantica-velada-bertin-osborne-fabiola-sevilla_28251/amp
http://www.cuerpomente.com/alimentacion/intolerancias/que-es-intolerancia-lactosa-sintomas_280/amp
https://elpais.com/ccaa/2017/08/28/catalunya/1503911879_087944.amp.html

Also, a screenshot:

[2017-08-28 11:53] priver commented on #8085
And what if I want to create my own overflow element in window.context.onResizeDenied callback? Is there any way to get rid of this warning?

[2017-08-28 13:12] jasti opened #11113 "Ad left aligned"
https://www.recode.net/platform/amp/2017/8/27/16212552/uber-ceo-dara-khosrowshahi
![recode](https://user-images.githubusercontent.com/2366341/29774764-ba29a770-8bd0-11e7-8198-a087c8078a0d.png)

CC @ampproject/a4a

[2017-08-28 14:49] vitthalr opened #11114 "Does AMP Analytics Maintain session while user switches from AMP to Non AMP website or it will be treated as 2 different sessions?"
When a user searches for our website on google, he will see the AMP version first and from there will go to our Non-AMP version.

**We suspect it will cause a session duplication as there will be 2 different domains, one is from google CDN cache (AMP version) and one is our website ex. http://example.com (Non-AMP version).**

Can you please suggest some solution to fix this? Or it's not a problem

[2017-08-28 14:56] ericlindley-g commented on #4277
I can't repro on a more recent version of Nougat, 7.1....   Let us know if you upgrade your Android version, @Alejo99 and if that fixes the issue, so we can understand the scope of the problem). In the meantime /cc @aghassemi (and @cvializ while @aghassemi is out of pocket)

[2017-08-28 15:27] choumx opened #11115 "amp-bind: XHTML-friendly syntax"
Square brackets, e.g `[foo]`, are not valid attribute name starting chars in XML spec: https://www.w3.org/TR/REC-xml/#NT-NameStartChar

Perhaps we can allow a configuration to switch to an alternative syntax, e.g.

[code]

[2017-08-28 15:37] mrjoro commented on #10996
- added [SUPPORT.md](https://github.com/ampproject/amphtml/blob/master/SUPPORT.md); this is a new file GitHub uses to point people to resources for getting help

[2017-08-28 15:51] choumx commented on #10242
#11056 adds a `valid` and `invalid` events to forms that are fired in accordance with its [reporting strategy](https://www.ampproject.org/docs/reference/components/amp-form#reporting-strategies). E.g. `*-on-submit` will fire events on submit and `as-you-go` will fire events on input/blur.

This should satisfy the core of this FR. We can add additional functionality (e.g. passing the error type in

[2017-08-28 15:51] #10242 closed

[2017-08-28 16:43] lannka commented on #11108
Analytics
- Support custom CID API key
- Introduce externalReferrer to amp-analytics, which fixes broken session in Google Analytics
- Bug fix: fall back to cookie generation when CID API fails
- Bug fix: Do not block CID generation on trusted viewer check

Ads
- Fix tests ins test-amp-context.js

[2017-08-28 16:56] tiendt commented on #11108
User Error Reporting

- What I've done:
Update amp-analytics document to include error trigger feature
Rename userError
Get Exception Description on Google Analytics

- What I'm currently working on:
3p iframe errors
Final Presentation

- What I'm blocked on:
Migrate the rest of ampdoc.user().error(), since it causes circular dependency

[2017-08-28 17:23] zhouyx commented on #11108
- Inabox position API
- Position Observer rewrite using the inabox position API
- node server will restart itself when changes are made to `app.js` and `server.js` (again). Thanks to @rsimha-amp

[2017-08-28 17:37] dvoytenko commented on #11108
* Ampdoc refactor to cover FIE embeds. See #10705 and #10992.

[2017-08-28 17:45] dvoytenko commented on #10799
@cvializ @justforfun just to stress: the collision affected way more than just pingback. We are fixing it asap, but please keep this in mind.

[2017-08-28 17:50] jridgewell commented on #8085
Is this for an ad?

[2017-08-28 17:59] muxin commented on #11108
- Lightbox 2.0: add gradient effect to gallery view and overflown caption
- Lightbox 2.0: improve caption ux
- Working on amp banner fix for showing banner in opera

[2017-08-28 18:03] choumx commented on #11108
- Action chaining (#10914)
- amp-bind + history (#9128)
- `amp-form` validation events (#10242)
- `fetch-mock` in describes (#10477)

[2017-08-28 18:25] dvoytenko commented on #8085
@priver I think it'd be certainly fine if 3p context decides to render overflow element itself and, indeed, we should forgo warning in this case. We only need it for legacy situations that do not expect this. So, we need to create an instrument how to communicate this back to the parent page that iframe can handle it.

To double on @jridgewell 's question - which component is affected here? An ad?

[2017-08-28 18:28] rsimha-amp commented on #11108
- IE 11 support for integration tests
- One step closer to returning Percy build status to Travis PR check

[2017-08-28 18:31] piscis opened #11116 "amp-timeago: will not validate if special chars are used"
## What's the issue?

The validation of the amp-timeago fails in google search console (https://search.google.com/test/amp)  but it passes in the amp validator (https://validator.ampproject.org/) when special chars are used inside of the amp-timeago tags.

This bug currently prevents some of our french translations are being indexed by google. It does not mater if we encode the letters in to the c

[2017-08-28 18:36] jridgewell commented on #11108
- Eclipse party
- Layers (hacky) integration with Resources
- Error tracker unminification

[2017-08-28 18:38] dvoytenko commented on #8214
@travishoki If you have an example - please send it to us, now or later.

[2017-08-28 18:48] #10799 closed

[2017-08-28 19:22] choumx commented on #9953
This is no longer necessary with #10166 since all video events only require low trust.

[2017-08-28 19:22] #9953 closed

[2017-08-28 19:26] jridgewell commented on #11116
Thanks for the bug report. Passing this to @Gregable

[2017-08-28 19:38] honeybadgerdontcare commented on #11116
Tracked internally as https://b.corp.google.com/issues/65119801

[2017-08-28 19:38] jridgewell commented on #11114
/to @avimehta

[2017-08-28 19:42] erwinmombay commented on #11108
- close to merging babel6 update
- working through missing features of codeowners
- more closure work

[2017-08-28 21:46] muxin commented on #10427
This is unfortunately the way it is for this situation. When the app is not installed on the device, we still try to open the app-deep-link first, then try the install-app-link.

[2017-08-28 21:46] #10427 closed

[2017-08-28 21:52] muxin commented on #10424
This is a duplicate of https://github.com/ampproject/amphtml/issues/10376. Working on a fix.

[2017-08-28 21:52] #10424 closed

[2017-08-28 21:58] muxin commented on #10420
Confirmed repro on **IOS Opera**: "view in app" button actually shows up but tapping on it won't redirect.

[2017-08-28 22:30] choumx commented on #9074
Cool feature! A couple thoughts:

- It's not clear to me that using `AmpContext` is a win here. Besides the origin check, what else is gained? Does `AmpContext` add version skew risk?
- Let's use `postMessage` to avoid name collisions with [global actions](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#-all-elements) like `show`.

A syntax idea:
[code]

This only

[2017-08-28 23:52] choumx opened #11118 "Flaky: "Element - re-upgrade to new direct instance""
[code]

Caused all failures on HEAD in last few days:
- https://travis-ci.org/ampproject/amphtml/jobs/268510898
- https://travis-ci.org/ampproject/amphtml/jobs/269280634
- https://travis-ci.org/ampproject/amphtml/jobs/268510898

May have been fixed by #10992 -- will close if it doesn't repro in the next few days.

/cc @newmuis

[2017-08-29 01:23] cramforce commented on #9074
If we do `postMessage` then targetOrigin should be required.

[2017-08-29 08:58] priver commented on #8085
@jridgewell @dvoytenko Yes, it is for`amp-ad/amp-embed`.

[2017-08-29 15:39] thomasdane commented on #8880
I am going to have a go at this, if that's okay. I am able to commit 1 hour twice per week. I can update in a few hours and again in a few days. If I'm not making fast enough progress I can release the issue.

[2017-08-29 15:46] mrjoro commented on #8880
Great!  Thanks @thomasdane.  I've sent you an invite to join the AMP Project on GitHub; once you accept that we can assign this issue to you.

[2017-08-29 16:09] thomasdane commented on #8880
@mrjoro done. I have AMP running locally now so will take a look at the issue.

[2017-08-29 17:09] thomasdane commented on #8880
I've removed the code https://github.com/thomasdane/amphtml/commit/b77fec18e318e0eeaa8c15593f505bc11484936b

I've run out of time for today. I'll fix the linting errors and try to complete the rest of this ticket in a few days time, if that's okay. Thanks for the awesome opportunity.

[2017-08-29 18:25] jridgewell opened #11120 "extractClientIdFromGaCookie: replace is not a function"
[code]

~~This is coming from `https://github.com/ampproject/amphtml/blob/2fb70228319e7320afe9d385845feea4802a047f/src/service/cid-api.js#L139-L141`, which does not guarantee that `res.clientId` is a string (in this case, its an object).~~ Edit: this isn't it, it's coming from the Viewer request, not the CID API.

Can't confirm it yet, but we've got reports saying `Object #<Object> has no method '

[2017-08-29 18:54] ericlindley-g commented on #4479
For context in order to prioritize — @pbakaus , how common is this pattern in the wild? Do you have an example? Would this only affect pages served from the origin (as opposed to an AMP cache)?

[2017-08-29 20:19] ericlindley-g commented on #11071
To get a sense of the goal here: What are either the worst-case or highest-probability scenarios that we'd avoid by limiting history entries?  (I'm inclined to just fall back on platform constraints, but may not have a good idea of the risk yet)

[2017-08-29 20:59] #8709 closed

[2017-08-29 21:01] choumx commented on #11071
One that comes to mind is an image carousel that push a new history entry when advancing to the next image (quite common and very annoying). However, this is acceptable IMO since a pub can already circumvent a constraint by using page navigations and N AMP pages.

[2017-08-29 21:03] #6957 closed

[2017-08-29 21:59] honeybadgerdontcare commented on #11116
We've got a fix in, but it'll take a couple weeks to get to production.

[2017-08-29 22:23] jpgirard opened #11128 "AMP validator forbids the "vector-effect" attribute for SVG elements."
## What's the issue?
I need to use the vector-effect attribute for my SVG elements (vector-effect="Non-scaling stroke"):
          &lt;svg viewBox="0 0 193 128">
            &lt;ellipse cx="50%" cy="50%" rx="92" ry="59.5" vector-effect="non-scaling-stroke"></ellipse>
          &lt;/svg>
The AMP validator displays this error:
 The attribute 'vector-effect' may not appear in tag 'ellipse'.

## How d

[2017-08-29 22:27] jridgewell commented on #11128
/to @honeybadgerdontcare

[2017-08-29 22:32] honeybadgerdontcare commented on #11128
@jpgirard I don't see 'inner-radius' within your sample code above. Could you provide an explicit sample?

[2017-08-29 22:35] #11116 closed

[2017-08-29 22:51] jpgirard commented on #11128
I pasted the wrong error, I fixed it in the description:
 The attribute 'vector-effect' may not appear in tag 'ellipse'.

[2017-08-29 23:05] muxin commented on #10419
dup of https://github.com/ampproject/amphtml/issues/10417

[2017-08-29 23:05] #10419 closed

[2017-08-29 23:10] muxin commented on #10417
I don't have a samsung but I tested on a Nexus 5X. Cannot repro. It's probably not related to amp but an operating system level bug. Closing this since it's not related to amp runtime.

[2017-08-29 23:10] #10417 closed

[2017-08-29 23:23] muxin commented on #9708
Many are addressed by the "Switch to describes tests" series PRs such as https://github.com/ampproject/amphtml/pull/11039
Closing this redundant issue.

[2017-08-29 23:23] #9708 closed

[2017-08-29 23:25] Gregable commented on #11128
@dvoytenko Dima, if you are OK with this, we can add it quickly.

[2017-08-29 23:28] Gregable commented on #11128
Surprisingly, this attribute isn't documented in the [MDN SVG docs](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute)

[2017-08-29 23:36] dvoytenko commented on #11128
@Gregable Yes. Let's add. This is part of 1.2 spec. Not on MDN for some reason...

[2017-08-29 23:47] dvoytenko commented on #11071
Yes, @choumx 's example is a very good one. I basically always assume that carousels out in the wider world don't work b/c of this and have a natural avoidance even though it's a good UX in many cases. In AMP we've been conscious from day 1 to keep the history stack shallow. At the very least, definitely something like this should not be possible. E.g. user presses a key and it issues multiple eve

[2017-08-29 23:47] honeybadgerdontcare commented on #11128
This will be in production in a couple of weeks.

[2017-08-29 23:47] #11128 closed

[2017-08-30 01:22] ericlindley-g commented on #11071
That example makes sense — would be frustrating to have a lot of clicks to get back to the previous page. As a counter-example, I would offer use case of a product search/sort/filter interface implemented with amp-bind and amp-list for each of the three mechanisms. If I understand the mechanism correctly, here the user might easily build up an extensive history stack where many of the entries are

[2017-08-30 05:21] Karunrana commented on #4520
I am using amp on my website. When I load the page on mobile it does not load the background image properly. Here is URL of the image.

https://cdn.ampproject.org/i/s/rentzeal.com/img/index_mobile.jpeg
It downloads the image, when I try to open it, it says that the image is corrupted.

[2017-08-30 10:55] Alejo99 commented on #4277
Tried on iPhone 6 plus and Android v4.4.4. Can not reproduce the issue, it looks like Android is the culprit. Other Android versions might be affected.

regards,

[2017-08-30 12:25] ashishindiwork commented on #10239
@mauricionr i have same issue can you please provide me url for update google amp cache. i have used the same urls as per above discussion, but now page is not showing in amp now error is showing "sorry, this page is not valid AMP HTML"  Thanks

[2017-08-30 14:18] acusti opened #11132 "Fixed positioned elements with bottom + transition-duration or transition-delay get pushed off the page"
## What's the issue?

When applying `position: fixed;` to an element and using `bottom` to position it (I tried with a lot of different `bottom` values and the result was the same), if the element has a non-0 `transition-duration` or `transition-delay`, the element gets `style="top: calc(71880.9px);"`, where `71880.9px` depends on browser viewport size but is consistently a very large value which

[2017-08-30 15:23] poscar opened #11133 "Responsive iframes on iOS do not size correctly (workaround included)"
## What's the issue?

Responsive iframes are not sized correctly on iOS causing embedded video players to be scrollable and clipped due to content being sized larger than the container.

## How do we reproduce the issue?

1. Go to the JSBin [here](https://output.jsbin.com/wucoroseha) on a 4.7" iPhone iOS Safari:
2. Scroll down to the first video iframe embed.
3. Observe how the embed is sized inco

[2017-08-30 16:25] choumx opened #11135 "amp-bind: Computed property names"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#Computed_property_names

Would be great to make conditional variable updates much less ugly:

[code]

instead of..

[code]

[2017-08-30 16:39] choumx opened #11136 "amp-bind: Array sorting"
- Standard Unicode code-point sort from [Array.prototype.sort](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) would probably suffice
- Should copy, sort and return a new array instead of mutating current array (create a new custom built-in function like `copyAndSplice`)
- Optionally add parameter to specify descending sort order

[2017-08-30 18:34] choumx commented on #11071
This actually already exists as part of #8678. Only a single `AMP.setState` or `AMP.pushState` may be invoked per action event.

[2017-08-30 19:36] jridgewell commented on #4520
@Karunrana: I've opened an Google internal issue about this. b/65208518

[2017-08-30 20:00] cramforce commented on #10948
No topics today. Cancelling. Sorry for late notice.

[2017-08-30 20:00] #10948 closed

[2017-08-30 20:10] ithinkihaveacat commented on #2820
Now announced (in "early access") by Typekit: [Serve web fonts without JavaScript](https://blog.typekit.com/2017/08/30/css-font-loading/).

[2017-08-30 20:17] jridgewell commented on #11132
Looking into this.

[2017-08-30 20:34] bramstein commented on #2820
Yes, this is supported now. Thanks for your patience!

I'll open a pull request with the documentation changes in the next couple days. Thanks to @cramforce and the rest of the team for their help.

[2017-08-30 21:10] keithwrightbos opened #11143 "Unknown path prefix in url <AMP cache domain> for remote HTML on page with referer canonical meta tag"
Steps to reproduce:

- go to AMP cache page with amp-ad doubleclick and remote HTML.  Example:  https://www.google.com/amp/www.etonline.com/taylor-swifts-epic-look-what-you-made-me-do-music-video-decoded-86168%3famp
- draw3p within remote HTML fails with stacktrace:
Error: Unknown path prefix in url https://www-etonline-com.cdn.ampproject.org/​​​
    at na.g.assert (log.js:319)
    at Ua (url.js:3

[2017-08-30 21:14] muxin commented on #11051
@chenshay Could you take a look?

[2017-08-30 21:24] keithwrightbos commented on #11143
Code trace shows that passes window.document.referrer to url#getSourceUrl which fails because referrer is just the domain ("https://www-etonline-com.cdn.ampproject.org/") and not a full path (thus missing path).

const path = url.pathname.split('/');
const prefix = path[1];
user().assert(prefix == 'a' || prefix == 'c' || prefix == 'v', 'Unknown path prefix in url %s', url.href);

[2017-08-30 21:39] choumx opened #11144 "amp-bind: More functions"
- [x] `mapByKey(array, string)` to return a new array with the value of that key in each object in the array
- [x] `getValues(object)` to return all of the values in that object (like `Object.values`)
- [x] `sum(array)` to sum all numbers in an array
- [x] [`Number.toFixed`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toFixed)

[2017-08-30 21:40] keithwrightbos commented on #11143
Issue is due to publisher setting <meta content="origin" name="referrer"> in the head of their AMP document which is causing frames to lose access to anything but the domain.  Perhaps the AMP code should be more tolerant of this case and simply verify that the domain matches expectations?

[2017-08-30 21:49] boyadamsam commented on #11143
Thank you very much. To confirm, can this issue be mitigated by having the site create a CSP policy with an entry for the Google CDN, like this?
Content-Security-Policy: frame-ancestors 'self' *.etonline.com *.ampproject.org;

[2017-08-30 22:33] choumx commented on #11144
I wonder if we can generalize (1) by adding limited support for arrow functions in expressions. It would broadly improve support for array manipulation in amp-bind:

[code]

Might be tenable if we only allow anonymous, un-nestable arrow functions for array functions like `map`, `reduce`, `sort`, etc.

[2017-08-30 23:22] wassgha commented on #10661
Hey @kboluk is there any progress on this issue?

[2017-08-30 23:36] cvializ commented on #11049
Hmm that's not supposed to happen. I was able to reproduce. As a workaround, if you haven't already, try setting the css rule for the badInput message should have greater specificity than the valueMissing message.

[2017-08-30 23:37] #11048 closed

[2017-08-31 00:15] #11118 closed

[2017-08-31 00:29] dvoytenko commented on #8085
@priver Yeah, I think we can remove warning in this case. What ad network is this?

[2017-08-31 00:40] #11132 closed

[2017-08-31 00:41] keithwrightbos commented on #11143
The issue is unique to how AMP verifies the referer of the remote HTML frame by using document.referrer so unrelated to CSP.  The site could remove (or loosen) the referrer restriction via the meta tag and use a CSP to control which iframes are allowed to load.  This assumes they only want to allow remote HTML based iframes.  I believe other extensions (especially amp-iframe) use cross domain ifra

[2017-08-31 00:47] afilbert commented on #11019
Thanks, @aghassemi. I was able to implement the position observer. You were right, it worked great for my use-case. Your Parallax Scene example really helped. Here's a link to the Land + See implementation (footer subscribe section):

https://landseeampstart-exp.firebaseapp.com/templates/land-see/land-see.amp

I'm likely going to implement similar with additional background and accent elements, as

[2017-08-31 03:29] JoeNimble opened #11149 "AMP forms incompatible with IE 11"
## What's the issue?
form submission is failing on IE11 with the following error:
`Response must contain the AMP-Access-Control-Allow-Source-Origin header`
`Form submission failed: Error: Response must contain the AMP-Access-Control-Allow-Source-Origin header​​​ _reported_`

the following headers ARE present in the response
[code]
this is happening even on the non-cached version of the page

## Ho

[2017-08-31 04:43] tiendt opened #11151 "Enable different sampling strategies for 1P and 3P errors"
Currently 1P and 3P user errors are treated exactly the same. Perhaps we can introduce a feature to differentiate and treat them differently, such as turn on/off collecting mode for each type, or sample each type at a different rate.

For #11002

[2017-08-31 04:43] tiendt commented on #11151
cc/ @zhouyx

[2017-08-31 05:19] ashishindiwork commented on #10239
@aghassemi Can you please help me to update amp cache with fresh content of page. ???

[2017-08-31 05:26] honeybadgerdontcare commented on #10239
@ashishindiwork You may want to look at https://developers.google.com/amp/cache/update-cache.

[2017-08-31 05:27] ashishindiwork commented on #10239
@honeybadgerdontcare  Its returning  HTTP/1.1 204 No Content error.

[2017-08-31 05:30] honeybadgerdontcare commented on #10239
@ashishindiwork What is returning 204? The link I sent you or something else?

[2017-08-31 05:33] ashishindiwork commented on #10239
If i had used
curl -i https://example-com.cdn.ampproject.org/update-ping/c/s/example.com/amp

Can you send me link for update cache with fresh content

[2017-08-31 09:15] edhollinghurst commented on #9410
Hi @choumx, sorry for the delay in coming back on this.

An example can be seen on the galleries at: https://article-swipe.standard.co.uk/news/uk/william-and-kate-to-walk-prince-george-through-playground-gates-when-he-starts-school-next-week-a3622456.html (Refresh to get to the PWA)

`'AMP.History' in e.state` evaluates to true when the browser forward or back buttons are clicked.

[2017-08-31 13:06] priver commented on #8085
@dvoytenko This is for `<amp-embed type="mywidget">`.

Our widget recommends content from the same site it's installed ("Read more..." block), and it is typically placed below main content (outside initial viewport), so in most cases call to `window.context.requestResize` would be successful. In rare cases when resize is denied (e.g. main content is short) we want to create overflow element by our

[2017-08-31 16:18] dvoytenko opened #11154 "Ignore resize failures for some size updates"
See the thread in the #8085.

Some Ad networks, such as "mywidget" have an ability to show their own overflow element and thus resize denials are not a problem. In that case, we do not need to warn a publisher that the embed has insufficient space.

I recommend simply adding `{hasOverflow: true}` in the `embed-size` post message that will proceed as it does now with the only exception that the err

[2017-08-31 16:20] dvoytenko commented on #8085
@priver I see. I added this request: #11154. I think it can be done this way. Not yet sure how `context.requestResize` API will change, but we'll plan to update it soon.

[2017-08-31 16:27] priver commented on #8085
@dvoytenko Thanks!

[2017-08-31 16:35] aghassemi commented on #11019
@afilbert great, cool page!

[2017-08-31 17:44] choumx commented on #9410
Ah I see. Actually, looks like `AMP.History` will always be present in history events on AMP pages -- my mistake.

What about comparing `window.location.href` with its previous value and only loading the doc if the it has changed?

[2017-08-31 17:58] #5702 closed

[2017-08-31 18:13] muxin commented on #8206
This is not needed now so closing it.

[2017-08-31 18:13] #8206 closed

[2017-08-31 18:14] #5166 closed

[2017-08-31 19:01] jridgewell commented on #11149
Do you have a link?

[2017-08-31 19:34] cvializ commented on #9698
Looks like it's shipped. https://ampbyexample.com/samples_templates/autosuggest/
Closing unless there was something missed in that example.

[2017-08-31 19:40] jridgewell commented on #4277
None of those pages caused an issue for me on a 6.0.1 phone (Chrome and "Internet" browsers)

[2017-08-31 19:59] #10415 closed

[2017-08-31 20:01] ericlindley-g commented on #9698
Awesome!
 How easy would it be to make the following two tweaks?

- highlight autosuggest rows on hover

- dismiss suggestions by clicking outside of form?  (maybe by only showing suggestions when input is focused?)

[2017-08-31 20:38] muxin commented on #10420
This one is really difficult to debug (IOS Opera), marking it blocked.

[2017-08-31 20:46] cvializ commented on #9698
😀 Not too difficult. Also adding a tweak to make sure the browser default suggestions don't appear

[2017-08-31 21:04] #10789 closed

[2017-08-31 21:05] cvializ commented on #9698
Dismissing the suggestions works in a standalone page, and when you click outside of the input and overlay, but not when clicking outside of the example box on ABE.

[2017-08-31 21:09] cvializ commented on #9698
Oh I misread this issue, this is for the product page. That is still pending

[2017-08-31 21:17] muxin commented on #10425
Actually both play store and the app itself were opened. Opera in android somehow still executes the timeout block (play-store-link) when opening up the app-deep-link. Not happening in other browsers so lowering the P level.

[2017-08-31 21:18] ericlindley-g commented on #9698
Ah—I misread too!  :P  Thanks either way (disable default suggestions is a good call)

[2017-09-01 06:46] Alejo99 commented on #4277
Hello,

Yesterday we did some tests because some of our websites had this issue and others didn't. We reproduced on 6.0.1 on this website: http://www.cuerpomente.com/blogs/come-limpio/8-recomendaciones-para-una-piel-perfecta-sin-necesidad-de-usar-productos-caros_664/amp.

One of the few differences in this website was the logo on the top, so we switched the SVG in the amp-img (inside nav#menu) for

[2017-09-01 12:22] BjornB2 commented on #2861
Same question here. Any update?

[2017-09-01 14:26] jasti commented on #2861
@aaronskim does @jpettitt 's solution in #9276 work for you as well?
@jpettitt is this something you are planning to implement relatively soon? Thanks.

[2017-09-01 17:00] jridgewell commented on #4277
Can you take a screencast of this? I'm not able to reproduce in 7.1.2 (the only 7 phone I have access to). Having a unrelated image (the logo) cause this seems spectacular.

[2017-09-01 17:43] #10729 closed

[2017-09-01 17:58] cvializ commented on #9174
Looks like this was done a while ago.

[2017-09-01 17:58] #9174 closed

[2017-09-01 20:18] zhouyx opened #11162 "Improve test on testing analytics vendors"
This is a bug in testing. See [comment](https://github.com/ampproject/amphtml/pull/11150#discussion_r136633833)

[2017-09-01 20:21] cvializ commented on #11149
I noticed that your headers are all lower-case. Does this error still occur when you use the correct capitalization for the header names and values?

[2017-09-01 20:27] #11135 closed

[2017-09-02 00:30] #11133 closed

[2017-09-02 03:55] cramforce opened #11165 "Cleanup font-display-swap experiment"

[2017-09-02 20:05] akonchady commented on #10679
I would like to take this one. Would be my first.

[2017-09-04 03:05] afilbert opened #11167 "animation: Run amp-animation only as selected elements are scrolled into view"
## What's the issue?

I'm trying to use `amp-animation` possibly along with `amp-position-observer` to slightly animate post elements in a theme. I want them to animate as they scroll into view. There will be an arbitrary amount of them at different places on the page, especially given the responsive design.

The trouble I'm having is that I'm targeting general `.post-item` selectors in the `"anim

[2017-09-04 03:40] afilbert commented on #11167
I experimented with different approaches and ran into similar obstacles.

Creating `amp-position-observer`s dynamically seems to trigger the animation regardless of the `on` action.  I used `amp-accordion` with sections generated via mustache, specifically:

[code]
`{{section}}` is an array of objects. So multiple `amp-position-observer`s are created, one for each accordion section. My first attem

[2017-09-04 03:42] Cheecherngho799 commented on #11167
Ho Chee Cherng

2017年9月4日 上午11:40，"Aron Filbert" <notifications@github.com>写道：

[2017-09-04 03:59] afilbert commented on #11167
As mentioned on the AMP #general Slack channel, I'm looking for a way to target many elements with a common selector and experience the triggered `amp-animation` on each _as they scroll into view_. This approach would significantly reduce complexity, particularly with dynamically generated and responsive content.

Perhaps an alternative approach is to attach a CSS class to elements as they scroll

[2017-09-04 04:13] afilbert commented on #11019
@aghassemi Struggling with applying a general animation to many/dynamically-generated "post" items. Not sure if moved beyond intended use-case, not implementing correctly, or dealing with potential bugs. I've created an issue, here:

https://github.com/ampproject/amphtml/issues/11167

I believe this issue, however, is resolved by #10818. I can close, if needed...

[2017-09-04 20:42] #11108 closed

[2017-09-04 20:43] mrjoro opened #11168 "Weekly Status 2017-09-04"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-09-05 13:59] mrjoro commented on #8880
Thanks for letting us know @thomasdane.

[2017-09-05 15:01] prateekbh commented on #8880
Wanna claim this

[2017-09-05 15:16] choumx commented on #8880
Just saw this now, but 👍 .

Another issue with using `map()` at module-level is the possibility of module import order issues. Specifically, the `Object.assign` polyfill may be imported _after_ a dependency that uses `map()`.

[2017-09-05 15:19] prateekbh commented on #8880
so far only 2 instances of module-level `map` are there(found by basically disabling the custom lint rule).
[code]

I'll try wrapping these in function calls

[2017-09-05 15:32] #10817 closed

[2017-09-05 15:44] mauricionr commented on #10546
@aghassemi any ideia when this will be solved, there's any workaroud? i have improvements to do in my amp pages but i can't do it if the page keep redirecting to search results in IOS

Thanks :smile:

[2017-09-05 16:20] cvializ commented on #10679
Yes this one is available. If you haven't already, [join the AMP Project](https://goo.gl/forms/T65peVtfQfEoDWeD3) and we will assign the issue to you. Thanks!!

[2017-09-05 16:38] cvializ opened #11173 "Add start/stop autoplay actions to amp-carousel"
An AMP implementer needs start/stop on `amp-carousel` for ADA compliance.

[From a Slack channel question](https://amphtml.slack.com/archives/C0ADR0A0K/p1504628786000350)

/cc @aghassemi

[2017-09-05 16:44] akonchady commented on #10679
@cvializ I have filled up the form. Please add me.

[2017-09-05 17:10] erwinmombay opened #11174 "Doubleclick FF: Version mismatch accessing extension service"
`doubleclick Error executing onCreativeRender: G(a.ownerDocument.defaultView).loadExtension is not a function. (In 'G(a.ownerDocument.defaultView).loadExtension("amp-analytics")', 'G(a.ownerDocument.defaultView).loadExtension' is undefined)`

sample page error occurred: https://www-dicasdemulher-com-br.cdn.ampproject.org/c/s/www.dicasdemulher.com.br/hidratacao-caseira/amp/

user agent: Mozilla/5.0

[2017-09-05 17:16] rsimha-amp commented on #11168
- AMP Roadshow Toronto (https://events.withgoogle.com/amp-roadshow-toronto/)

[2017-09-05 17:19] cvializ commented on #10679
I think the form takes some time to update. Feel free to begin working on the issue and we'll assign you when the user list updates

[2017-09-05 17:22] taymonbeal commented on #11174
Not currently able to repro this, even in canary. Do you have more detailed instructions for doing so?

[2017-09-05 17:22] akonchady commented on #10679
@cvializ Sure.

[2017-09-05 17:25] aghassemi commented on #10623
/cc @cramforce: places we can use this in AMP

[2017-09-05 17:28] cvializ commented on #11168
- Finished AMP by Example autosuggest example
- react-dates datepicker POC ([initial effort branch](https://github.com/ampproject/amphtml/compare/master...cvializ:feature/date-picker), needs infrastructure changes to put code in third_party and minify well with closure compiler)
- AMP PWA performance measurements

[2017-09-05 17:33] choumx commented on #11168
- `amp-bind`
  - Computed property names (#11161)
  - Arrow functions [WIP] (#11160)
- Don't helpfully cast event.value (#11139)
- Update docs for action chaining (#11142)

[2017-09-05 17:36] keithwrightbos commented on #11174
+@dvoytenko
This appears to line up with https://github.com/ampproject/amphtml/blame/master/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick-impl.js#L490.  Looking at code history the code was changed as part of #10992 which changed from this.extensions_./*OK*/loadExtension('amp-analytics'); to this.extensions_./*OK*/installExtensionForDoc(this.getAmpDoc(), 'amp-analytics'

[2017-09-05 18:19] cramforce commented on #10623
CC @dvoytenko

[2017-09-05 18:24] dvoytenko commented on #11174
@erwinmombay Is this on Canary?

The only way I see this happening is via version mismatch.

[2017-09-05 18:25] dvoytenko commented on #11174
Setting to P0 until we confirm whether this is canary issue or PROD, at the very least.

I don't see how this would happen for the specified URL: this is RTV serving path.

[2017-09-05 18:26] keithwrightbos commented on #11174
This appears to be a canary issue (at least I can confirm that ad request is sending art=2 which indicates canary).  We are not seeing any alerts associated with production traffic.

[2017-09-05 18:27] erwinmombay commented on #11174
@dvoytenko i can only see canary right now with very low occurrences. double checking right now

[2017-09-05 18:27] dvoytenko commented on #11174
Still, in RTV path we can never have this kind of issues, right?

[2017-09-05 18:29] erwinmombay commented on #11174
@dvoytenko yes. is this code path not usually reached? im just curious about the low occurrence.

[2017-09-05 18:40] codecvlt opened #11175 "new action event request: input-throttled"
Hi there, I have a use case where I'm using ```<input type='range' on="change: ...">``` to control an amp-animation. I want to be able to seek the animation while the user is dragging the slider. Currently it seems this is not possible, and the change event only fires after the user has stopped dragging the slider.

I understand that firing "change" every time value changes could be bad for perfor

[2017-09-05 18:51] jridgewell commented on #11175
/to @cvializ

[2017-09-05 18:54] jridgewell commented on #11168
- Amp layers rough demo
- JS error tracker

[2017-09-05 19:03] zhouyx commented on #11168
- Break `viewport-impl.js` to multi files
- Add Viewport support to return element's clientRect

[2017-09-05 19:30] dvoytenko commented on #11174
In this case it'd never be reached. Right?

[2017-09-05 19:31] dvoytenko commented on #11174
In other words, we can never have RTV version mismatched. We can't have it in non-RTV either, but definitely not in RTV.

[2017-09-05 19:41] jpettitt commented on #7270
This issue or overloading canonical is about to hit the fan.   iOS 11 Safari browser share tools always share the canonical address.  This works fine for AMP becasue it points to the non-amp page.  It's a disaster for regular pages becasue in that context canonical means the original source site so you may end up sharing a completely different site to the one you were on.

[2017-09-05 19:51] cvializ commented on #11175
I think the existing `input-debounced` event could fit your use-case. Use it just like `change`:
[code]
Note that this is debounced, not throttled. The event is triggered 300ms after the user stops moving the slider, not every 300ms while the user is moving the slider.

[2017-09-05 20:08] codecvlt commented on #11175
input-debounced will not work for me since i need the event to fire as the user is moving the slider.

[2017-09-05 21:17] zhouyx commented on #10653
inabox position API:
- OK for host to send position (clientRect position, and viewport ScrollTop/viewport ScrollLeft/viewport Width/viewport Height) to inabox on document scroll
- OK for inabox to request position from host
- Will need to specify a position coordinate system that works in following scenarios: 1) doc, 2) position sticky/position fixed, 3) lightbox, 4) carousel. To support the use c

[2017-09-05 21:27] erwinmombay commented on #11168
- on-duty
- babel6 stuff

[2017-09-05 22:46] lannka commented on #11120
After logging the returned CID, we believe it's from the [Viewer](https://github.com/ampproject/amphtml/blob/0062a61326347ad42e32e00cf6d214bca212ef1a/src/service/viewer-cid-api.js#L72), (not the CID API directly).

[2017-09-05 23:53] JoeNimble commented on #11149
@cvializ headers are using correct capitalization, it just shows lower-cased in the inspector.
@jridgewell sorry for the delay, I've just made a simple example that repros the issue: https://joenimble.github.io/amp-form-example/

[2017-09-06 02:07] cvializ commented on #11149
I can't reproduce. In IE11 on Windows 10 and Windows 8.1 it submits and navigates as expected without adding an error to the console. Are there any other details you can provide to help me reproduce the issue?
![ie11](https://user-images.githubusercontent.com/2363700/30091236-7126c6fe-926d-11e7-8fe1-d1503b902ffa.gif)

[2017-09-06 02:41] JoeNimble commented on #11149
@cvializ weird. what version of IE are you running? I always get:
![f0f540f32a465d017eda1a5233f168d3](https://user-images.githubusercontent.com/10679867/30091991-b6ccb38e-92ff-11e7-985f-77b9ecbd8fc9.gif)
I've also replicated this on browserstack Windows 10, 8, 7 with all versions of IE11 available

[2017-09-06 08:39] micyeung commented on #10893
@dknecht Any updates here?

[2017-09-06 12:32] #10653 closed

[2017-09-06 12:42] mrjoro opened #11179 "Design Review 2017-09-13"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-09-06 12:42] mrjoro opened #11180 "Design Review 2017-09-20 (amp-story, allowing the viewer to proxy XHRs, messaging amp-iframe)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-09-06 12:43] mrjoro opened #11181 "Design Review 2017-09-27"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-09-06 16:52] jpettitt commented on #9687
I'm going to fix this one. I have an implementation question:

Should I silently convert non array values to array or should I add a flag to trigger the behavior?

Silently converting has the potential to be a breaking change ...

[2017-09-06 17:09] macaqueio opened #11182 "amp-bind - feature request"
## Using amp-bind with Range Slider

Request to have amp-bind update in real time as range slider is moved. At present, using input-debounced event, the changes to the bound value don't occur until the slider has completed its adjustment. Normal behaviour for a range slider using javascript would be to update the value incrementally as the slider is adjusted.

## How do we reproduce the issue?

Yo

[2017-09-06 17:44] cramforce commented on #9687
How do you want to disambiguate object-with-items-attribute as opposed to normal object?

[2017-09-06 17:46] aghassemi opened #11183 "amp-video: add timerange support"
Allow the same video file to be used for multiple tags where each one plays a different segment of the video.

/cc @ericlindley-g

[2017-09-06 17:52] jpettitt commented on #9687
In the silent fix scenario if the `items` elements exists and it's not an array wrap it in one.

In the explicit flag scenario add an attribute `single-result` that tells `amp-list` that whatever is specified by the `items` attribute is not an array (and internally wrap it in one)

I'm leaning towards the second option the more I think about it. I'm not attached to the flag name - suggestions?

[2017-09-06 17:55] #10949 closed

[2017-09-06 17:56] cramforce commented on #9687
Me, too. We could tell the attribute `not-actually-a-list` :)

Or rake the plunge and make `amp-render`

[2017-09-06 18:00] jridgewell commented on #11182
Thanks for the issue. I'm going to close this as a duplicate of https://github.com/ampproject/amphtml/issues/11175, since it's really an action event that's needed (and `<amp-bind>` can take advantage of that).

[2017-09-06 18:00] #11182 closed

[2017-09-06 18:01] jridgewell commented on #11175
This would be a good GFI issue.

[2017-09-06 18:04] jpettitt commented on #9687
`amp-render` seems like overkill and also invokes a risk of bike shedding what should be a very minor change.  I kinda like `not-actually-a-list` - I'll use that unless I hear otherwise.

[2017-09-06 18:11] aghassemi commented on #9687
Agree with attribute, but let's not call it 'not-actually-a-list' :) `single-result` sgtm.

[2017-09-06 18:37] erwinmombay opened #11184 "null is not an object (evaluating 'this.a["helper-iframe-url"].indexOf')"
stack:

installHelperFrame@https://cdn.ampproject.org/rtv/011504040004635/v0/amp-web-push-0.1.js:35:71
start@https://cdn.ampproject.org/rtv/011504040004635/v0/amp-web-push-0.1.js:34:86
buildCallback@https://cdn.ampproject.org/rtv/011504040004635/v0/amp-web-push-0.1.js:24:203
https://cdn.ampproject.org/rtv/011504040004635/v0.js:176:244
initializePromise@[native code]
Promise@[native code]
build@htt

[2017-09-06 18:40] erwinmombay opened #11185 "TypeError: Unable to get property 'obj' of undefined or null reference"
stack:

TypeError: Unable to get property 'obj' of undefined or null reference
   at Pb (https://cdn.ampproject.org/v0/amp-login-done-0.1.js:41:734)
   at Ob (https://cdn.ampproject.org/v0/amp-login-done-0.1.js:41:514)
   at xc (https://cdn.ampproject.org/v0/amp-login-done-0.1.js:45:5)
   at Gc (https://cdn.ampproject.org/v0/amp-login-done-0.1.js:45:980)
   at Anonymous function (https://cdn.amppr

[2017-09-06 18:40] erwinmombay commented on #11185
@dvoytenko can you assess priority?

[2017-09-06 18:42] jridgewell commented on #11184
Unminified:

[code]

[2017-09-06 18:47] erwinmombay opened #11186 "license check should check build-system paths"
seems like the license checker presubmit is not running against our build system files

[2017-09-06 18:50] erwinmombay commented on #11184
@jasonpang would you be able to fix this?

@aghassemi can you triage this if @jasonpang can't work on it?

appreciate it

[2017-09-06 19:09] aghassemi commented on #11184
will plan for next sprint if @jasonpang can't get to it.

[2017-09-06 19:13] jasti opened #11187 "Implement PauseFrame once Chrome launches it"
We could choose to pause regular ads https://github.com/jkarlin/pause-frame in AMP when we detect that the ad is offscreen or want to siphon resources to something more important on the page.

[2017-09-06 19:39] jasonpang commented on #11184
We're investigating what caused the issue.

[2017-09-06 19:59] jasonpang commented on #11184
When amp-web-push starts up, it checks whether the browser environment supports web push notifications. If the environment doesn't support web push notifications, the code incorrectly `return`s ... into the next method and just continues running. Eventually, configuration variables that were supposed to be set in the initialization method we just quit out of, are accessed, but are null, and the wh

[2017-09-06 20:12] aghassemi commented on #11184
Thanks @jasonpang

[2017-09-06 20:20] erwinmombay commented on #11174
some addt'l info. notice that version ends with 313 (current canary) but rtv is 635 (current prod)

Query string:
v	= 001504119607313
noAmp	= 0
m	= doubleclick Error executing onCreativeRender: G(a.ownerDocument.defaultView).loadExtension is not a function. (In 'G(a.ownerDocument.defaultView).loadExtension("amp-analytics")', 'G(a.ownerDocument.defaultView).loadExtension' is undefined)
a	= 0
rt	= 1

[2017-09-06 20:31] erwinmombay commented on #11184
@jasonpang thanks so much for the quick turnaround! 👏

[2017-09-06 21:02] cvializ commented on #11149
I'm using SauceLabs to test the behavior in IE. It looks like their version is 11.103.10586.0
<img width="244" alt="screen shot 2017-09-06 at 2 00 31 pm" src="https://user-images.githubusercontent.com/2363700/30134409-de8d44b8-930b-11e7-8b49-6fc6c51f3b44.png">

[2017-09-06 21:31] aghassemi commented on #4713
handled by https://github.com/ampproject/amphtml/issues/9128

[2017-09-06 21:31] #4713 closed

[2017-09-06 22:33] lannka commented on #11174
Seems like canary runtime is loading prod version of ad extension script. As talked with @erwinmombay offline:

- It's not likely for canary amp runtime to know the current prod RTV and compose a wrong extension URL. More likely it's a environment problem
- This failure is before ad request, so it couldn't be the version from the ad either.
- We don't allow amp-ad in AMP ad, so it shouldn't be amp

[2017-09-06 23:22] lannka opened #11193 "I2I: COUNTER function for analytics URL substitution"
Sample config to count the number of clicks.
[code]

In the above example, an in-memory counter with ID `counter-id` is assigned on first trigger, and it gets increased by for every later trigger.

The request URL will be resolved to
[code]

If needed, the function can have optional extra params, such as
[code]

[2017-09-06 23:34] lannka opened #11194 "I2I: TIMER function for analytics URL substitution"
Sample config to time the video play duration. (to quickly illustrate the idea, the video trigger spec is made up).
[code]

In the above example, an in-memory timer with ID `counter-id` is started on the videoPlayed trigger.

The request URLs will be resolved to
[code]

If needed, the function can have one extra optional param to pause/resume/reset the timer.
[code]

[2017-09-06 23:36] rsimha-amp commented on #10536
Step 1 is complete. We now have a way to retrieve the status of a Percy build at https://amphtml-percy-status-checker.appspot.com/status?build_id=XXXXXX. On to the next steps.

[2017-09-06 23:44] jasonpang commented on #11184
@erwinmombay @aghassemi Got a PR up here https://github.com/ampproject/amphtml/pull/11192

[2017-09-07 01:07] #11144 closed

[2017-09-07 01:09] #11136 closed

[2017-09-07 01:15] JoeNimble commented on #11149
Confirm it's not a caching problem. Are you able to try on BrowserStack or locally? For what ever strange reason, the problem does not exist on SauceLabs. I haven't been able to download the EXACT versions that SauceLabs uses for Win 8.1/10 but I did manage to get versions very close to - both older and newer - which get the errors.

[2017-09-07 01:26] supernoze opened #11195 "Amp for UCBrowser"
**Please only file bugs/feature requests for AMP here.**
Please add amp for ucbrowser since it is the most popular browser in asia.

[2017-09-07 02:29] #11195 closed

[2017-09-07 02:30] cramforce commented on #11195
We already support UC. Updated docs accordingly. In practice UC doesn't support automated testing and so support is more of a best effort thing. If you have concrete problems please report them.

[2017-09-07 10:37] devanes commented on #10462
@choumx

I also read this in the documentation. But I can't get this to actually happen. I have a test page with just an amp-list inside the body tag. But I always get the overflow button. Is there anything specific needed to get this to work?

[2017-09-07 10:57] kul3r4 commented on #10462
@devanes Could you share the test page?

[2017-09-07 11:18] devanes commented on #10462
https://bronsvuur.nl/test/test.html

[2017-09-07 11:21] devanes commented on #10462
Note that I set the height of each item to a higher value to make the issue more visible. I can remove this and just add more content or reduce the height of the amp-list to get the same result.

[2017-09-07 11:49] juanchaur1 opened #11198 "Support for size fluid"
Is there any reason why amp-ad support multi sizes and doesn't support fluid?

[2017-09-07 13:56] glevitzky commented on #11198
Fluid is somewhat more complicated than multi-size, however an implementation for fluid is currently underway. We expect to start a beta for it sometime later this month.

[2017-09-07 13:58] juanchaur1 commented on #11198
@glevitzky thanks for the feedback!

[2017-09-07 14:13] devanes opened #11200 "Evalution error when replacing an amp-list src with full http localhost paths using amp-bind"
## What's the issue?

When developing on localhost, an amp-list source like 'http://localhostsomepath/amptest/examples1.json' works fine.

However if I try to replace the src using amp-bind with a similar URL, I'm getting an evaluation error like:
`amp-bind: Expression evaluation error in "products.listSrc". "http://localhost/somepath/amptest/examples2.json" is not a valid result for [src]`

I exp

[2017-09-07 16:29] lannka commented on #11179
COUNTER function for analytics URL substitution #11193
TIMER function for analytics URL substitution #11194

[2017-09-07 16:50] dvoytenko commented on #11174
It looks like service workers are not currently involved. I really don't see how RTV can ever be wrong - they are always explicitly selected. The only possibility I see now is that Cache intermittently inserts wrong RTV. But not sure if that's really possible or the case here. I also don't think Cache ever inserts `amp-ad-network-doubleclick-impl-0.1.js`, but I could be wrong.

[2017-09-07 17:13] erwinmombay commented on #11174
i also don't believe cache inserts `amp-ad-network-doubleclick-impl-0.1.js` from what @lannka told me that is dynamically fetched (correct me if i'm wrong @lannka)

[2017-09-07 17:20] erwinmombay commented on #11174
@dvoytenko is there any additional logging we can do to give us more information?

[2017-09-07 17:22] dvoytenko commented on #11174
It is definitely dynamically fetched, but we are definitely considering to add them in Cache. Nor sure where that project is now.

/cc @codewiz

[2017-09-07 17:22] dvoytenko commented on #11174
@erwinmombay To answer your question about logging. The current logging is pretty clear and points to a problem very well. We just don't know how we ever arrive at it.

[2017-09-07 17:47] dvoytenko commented on #11185
Not great, b/c it masks some other error. Fixing.

[2017-09-07 17:52] taymonbeal commented on #11174
The cache insertion project is still in the works and definitely hasn't been deployed to production yet.

[2017-09-07 17:57] maxhartshorn commented on #8524
+1 this would be VERY useful for our website. We serve a lot of video content through a self-hosted player which we are wedded to due to organizational constraints. Being able to serve up "native" feeling video on AMP pages would be a huge win for us.

[2017-09-07 17:59] dvoytenko commented on #11174
@taymonbeal This is canary error. HAs it been deployed to canary?

[2017-09-07 18:09] dvoytenko commented on #10623
We should just do it.

[2017-09-07 18:13] aghassemi commented on #8843
closed by #10960

[2017-09-07 18:14] #9258 closed

[2017-09-07 18:15] aghassemi commented on #10502
Blocked by #10865

[2017-09-07 18:18] rsimha-amp opened #11203 "AMP runtime build broken on Travis due to new trusty image"
Travis tracking bug: https://github.com/travis-ci/travis-ci/issues/8315
Announcement: https://blog.travis-ci.com/2017-08-29-trusty-image-updates
Workaround: Add `group: deprecated-2017Q3` to `.travis.yml`

[2017-09-07 18:19] rsimha-amp commented on #11203
See https://travis-ci.org/ampproject/amphtml/builds/272980279 for an example of the new build failures

[2017-09-07 18:26] rsimha-amp commented on #11203
I've left a comment on the Travis tracking bug at https://github.com/travis-ci/travis-ci/issues/8315#issuecomment-327884086

[2017-09-07 18:27] rsimha-amp commented on #11203
Temporary mitigating fix: https://github.com/ampproject/amphtml/pull/11204

[2017-09-07 18:28] aghassemi commented on #7744
FYI that Chrome on Android and all of iOS support HLS natively meaning amp-video already supports it. A fallback non-adaptive format needs to be provided for platforms that doesn't support it. This codepen shows how: https://codepen.io/aghassemi/pen/oeJVdj

[2017-09-07 18:49] taymonbeal commented on #11174
No. Also, this is (will be) a feature of the Google AMP Cache; it's entirely separate from the AMP runtime release process.

[2017-09-07 18:55] zhangsu opened #11205 "amp-mustache: Mustache tags don't work in tables"
## What's the issue?

With the following AMP HTML:

[code]

I expect the rendered tables to be

Comment: | Hello
-- | --
Reply: | Hi

Comment: | Howdy
-- | --

Because the first comment in the `comments` state has one item in the `replies` list, but the second comment doesn't.

However, the actual rendered tables are

Comment: | Hello
-- | --
Reply: | Hello

Comment: | Howdy
-- | --
Reply: | Howdy

[2017-09-07 18:59] rsimha-amp commented on #11203
Reopening to track fixes so we can eventually use the new build.

[2017-09-07 19:05] dvoytenko commented on #11174
@taymonbeal Definitely a Cache thing, I get this. The thing is, however, AMP Runtime has non way of knowing RTVs - it only knows one - it's own. While Cache knows them all. So, I just don't see it'd be possible to get a mismatch via runtime.

[2017-09-07 19:09] choumx commented on #11205
Tried this out on the [mustache demo](https://mustache.github.io/#demo) and looks like this is WAI.

Mustache:
[code]

JSON:
[code]

Rendered HTML:
[code]

Is it possible to use a different variable name for the reply text? I.e. something other `content` to avoid clashing with comment's `content`?

[2017-09-07 20:36] zhangsu commented on #11205
Hmm, it looks like the Mustache engine itself is working as intended. The second row of the table is _correctly_ not rendered because `replies` is empty.

However, rendering the same Mustache template with the same JSON in AMP HTML (after clicking the button):

[code]

Gives me this:

[code]
The second row of the table shouldn't be rendered because `replies` is empty.

Did using the same variable

[2017-09-07 20:41] choumx commented on #11200
Thanks for filing this issue.

This is actually working as intended because non-HTTPS `amp-list[src]` are invalid per the spec:

The URL of the remote endpoint that returns the JSON that will be rendered within this amp-list. This must be a CORS HTTP service. **The URL's protocol must be HTTPS.**

https://www.ampproject.org/docs/reference/components/amp-list#src-(required)

[2017-09-07 20:41] #11200 closed

[2017-09-07 20:56] cvializ commented on #11149
I used our physical windows machine and I am able to reproduce at your URL. It looks like the actual native `XMLHttpRequest.prototype.getAllResponseHeaders` isn't even returning the `AMP-Access-Control-Allow-Source-Origin` header.

[2017-09-07 21:01] jridgewell commented on #11200
I thought we allowed secure URLs?

[2017-09-07 21:02] rsimha-amp opened #11210 "`gulp check-types` broken on Travis due to the presence of `_JAVA_OPTIONS`"
This fails on the new trusty machines on Travis.

Steps:
1. `export _JAVA_OPTIONS="-Xmx2048m -Xms512m"` (used on Travis)
2. `gulp clean && gulp check-types`

Result:
[code]

EDIT: This is likely due to the old version of `gulp-closure-compiler` we're using. Skip down to https://github.com/ampproject/amphtml/issues/11210#issuecomment-327990926

[2017-09-07 21:03] rsimha-amp commented on #11210
This was discovered via #11203, and is blocking the fix in #11206

[2017-09-07 21:04] rsimha-amp commented on #11210
assigning to @jonkeller and @alanorozco in the hope that one of you knows what's going on

[2017-09-07 21:20] rsimha-amp opened #11212 "Reduce verbosity of Visual tests on Travis"

[2017-09-07 21:30] choumx commented on #11205
Sorry, you're right. 😛  Looks like `innerHTML` returns a mixed up version of the template markup:

[code]

Not related to AMP code. Investigating.

[2017-09-07 21:34] jessanastasio opened #11213 "amp-list: __amp_source_origin added when using string interpolation"
## What's the issue?

Using `{{ someValue }}` string interpolation feature for an `amp-list` `src` URL inadvertently adds `__amp_source_origin`, causing `Source origin is not allowed in (src URL)`

## How do we reproduce the issue?

When building a dynamic `amp-list` using `amp-bind` just like this example https://ampbyexample.com/samples_templates/product_page/#dynamic-related-product-lists -- if

[2017-09-07 21:35] jessanastasio commented on #11213
CC @choumx

[2017-09-07 21:37] #10391 closed

[2017-09-07 21:37] jridgewell commented on #11149
You've specified two `Access-Control-Expose-Headers` headers, and IE11 is only using the first. Concatenate the two with a comma:

[code]

[2017-09-07 21:37] #11149 closed

[2017-09-07 21:53] muxin opened #11214 "Lightbox 2.0: find the proper icons for gallery view and picture view"
<img width="342" alt="screen shot 2017-09-07 at 2 47 44 pm" src="https://user-images.githubusercontent.com/3897214/30186872-39e6d65a-93dc-11e7-92d0-6b23579593c0.png">
<img width="342" alt="screen shot 2017-09-07 at 2 46 27 pm" src="https://user-images.githubusercontent.com/3897214/30186873-39e940a2-93dc-11e7-9d53-6d76d8ee7122.png">

[2017-09-07 21:57] jonkeller commented on #11210
I am familiar with this file and will look when I get off the bus

On Sep 7, 2017 5:04 PM, "Raghu Simha" <notifications@github.com> wrote:

[2017-09-07 22:01] muxin opened #11215 "Lightbox 2.0: caption transition polish"
Updating this issue to track all animation polish requirements associated with the Lightbox caption:

1. Right now the lightbox caption transition duration is always 500 ms, but it would be nice to adjust it depending on the caption content height.
2. No exit transition
3. The caption mask should only be sized to the height of the caption, but it's currently sized to mask out the entire image.
4.

[2017-09-07 22:04] muxin commented on #11215
/cc @spacedino

[2017-09-07 22:09] aghassemi commented on #9698
asking ABE team to do the integration with product page: https://github.com/ampproject/amp-by-example/issues/936

[2017-09-07 22:09] #9698 closed

[2017-09-07 22:09] #11185 closed

[2017-09-07 22:14] aghassemi opened #11216 "Document HLS support"
Chrome on Android and all of iOS support HLS natively meaning amp-video already supports it. A fallback non-adaptive format needs to be provided for platforms that doesn't support it. This codepen shows how: https://codepen.io/aghassemi/pen/oeJVdj

document this codepen on .md and ABE.

Handles https://github.com/ampproject/amp-by-example/issues/918 as well

[2017-09-07 22:17] aghassemi opened #11217 "scrollbound animation to account for browser header show/hide"
this may shed some light for a proper solution https://developers.google.com/web/updates/2017/09/visual-viewport-api

worse case we need to animate with time for big viewport delta changes ( 10px? )

[2017-09-07 22:18] aghassemi opened #11218 "date-picker: Figure out APIs for blocking dates, highlights and custom content"

[2017-09-07 22:20] aghassemi opened #11219 "date-picker: Build infrastructure"

[2017-09-07 22:22] aghassemi commented on #11184
fixed by #11192

[2017-09-07 22:22] #11184 closed

[2017-09-07 22:24] aghassemi opened #11220 "launch amp-position-observer"

[2017-09-07 22:24] choumx commented on #11205
The issue is that the browser parses the children of `<template>` elements into a document fragment at page load, and text nodes are not valid children of `<table>` elements.

This results in the `{{#replies}}` and `{{/replies}}` text nodes being [foster parented](https://www.w3.org/TR/html5/single-page.html#foster-parent). A good example of this here: https://www.w3.org/TR/html5/single-page.html#

[2017-09-07 22:33] jonkeller commented on #11210
Hmm...https://travis-ci.org/ampproject/amphtml/jobs/272980280 restarted and failed with:

Error compiling **./3p/ampcontext-lib.js**
Picked up _JAVA_OPTIONS: -Xmx2048m -Xms512m

But other times it fails on ./3p/iframe-transport-client-lib.js

[2017-09-07 22:44] rsimha-amp commented on #11210
@erwinmombay, does [this](https://stackoverflow.com/questions/43398795/maven-compilation-fails-with-error-static-interface-methods-are-not-supported-in) look similar to what's going on here?

[2017-09-07 22:52] jonkeller commented on #11210
I notice that on my Mac, the default values are:
[code]
This is from:
[code]

So the args -Xmx2048m -Xms512m are reducing, not increasing, compared to default _on this particular machine_.

If I do "unset _JAVA_OPTIONS" and then repeat the gulp command from the earlier comment, it works fine.

But, puzzlingly, if I do "export _JAVA_OPTIONS="-Xmx4g -Xms2g", which should be a no-op, and repeat the g

[2017-09-07 22:55] erwinmombay commented on #11174
we just promoted 313 to prod and the issue occurred:

Query string:
v	= 011504040004635
noAmp	= 0
m	= doubleclick Error executing onCreativeRender: G(...).loadExtension is not a function
a	= 0
rt	= 1p
jse	= IE
exps	= canary=0,expAdsenseA4A=0,expDoubleclickA4A=0,expAdSenseFFDR=0,dbclk_a4a_viz_change=0,a4aProfilingRate=0,ad-type-custom=1,ios-embed-wrapper=1,amp-apester-media=1,amp-playbuzz=1,chunked

[2017-09-07 23:05] jonkeller commented on #11210
It seems like it fails any time _JAVA_OPTIONS is set to anything. For instance:
export _JAVA_OPTIONS="-Dfoo=bar"

I'm also concerned that export _JAVA_OPTIONS="-showversion" causes:
[code]

That's a standard option listed by "java -h".

[2017-09-07 23:09] erwinmombay commented on #11174
we've more or less ruled this out as a client side issue.

we've filed an issue at google internally to look into this (b/65461170)

[2017-09-07 23:10] jonkeller commented on #11210
So, at this point I'm curious to know what is setting _JAVA_OPTIONS, and if we could just remove it? What are the other ways in which Trusty differs from the previous env?

At this point, since it works without the _JAVA_OPTIONS, doesn't work regardless of what _JAVA_OPTIONS is set to, and the file that it fails on changes seemingly randomly, I don't believe that this is actually caused by a probl

[2017-09-07 23:11] rsimha-amp commented on #11210
@jonkeller, thanks for investigating. I've raised this with the Travis folks at https://github.com/travis-ci/travis-ci/issues/8315#issuecomment-327951718. Feel free to comment there if you have more to add.

[2017-09-07 23:51] JoeNimble commented on #11149
@jridgewell @cvializ, my bad. Thanks for the help

[2017-09-08 01:38] jpettitt commented on #9687
Any objection to adding a `max-length` attribute too?  This would limit the number of list items rendered in the case where a much longer list is returned.  Again the issue here is making it easier to support existing endpoints.  The specific use case I have in mind is limiting to 1 item but it's easy enough to make int arbitrary.   It's 4 lines of code.

[2017-09-08 02:41] #11212 closed

[2017-09-08 03:40] rsimha-amp commented on #11210
Looks like the version of `gulp-closure-compiler` we use is outdated. The npm page for the compiler (https://www.npmjs.com/package/gulp-closure-compiler) points to a github repository (https://github.com/steida/gulp-closure-compiler) that was last updated more than 2 years ago, and is no longer accessible.

[2017-09-08 04:07] rsimha-amp commented on #11210
/to @erwinmombay

[2017-09-08 06:26] ankur0890 opened #11222 "Make Dynamic action-xhr in amp-form"
It would be really good if we can bind action-xhr in the amp-form.

Scenario:

Got two forms: Contact Form and OTP (intial hidden)
Contact form successful submission sends some dynamic response (using amp-bind preserve the response state) which is used to create OTP form url.

Let me know what you think of this?

[2017-09-08 11:24] vitthalr opened #11223 "tap:AMP.setState({xxx: !xxx}) is not working in ios.."
I placed it inside the fixed positioned element.

There nothing happens on click, please help!

[2017-09-08 11:55] bhavyasaggi opened #11224 "immediate unannounced no. of setStage() limitation on Events"
We brought up a AMP page live on production this week and today it started failing, producing an Error:
`One state action allowed per event.`

I immediately looked into it and found that
`setState({foo: 'bar'}) | Requires amp-bind. Merges an object literal into the bindable state. See more details.When used with multiple actions, subsequent actions will wait for setState() to complete before invoc

[2017-09-08 12:03] bhavyasaggi opened #11225 "Body Scrolling doesn't stop on amp-lightbox on iOS"
If a lengthy page has an amp-lightbox extention in use and the lightbox is active, the scrollbar still shows and background main body could be scrolled while lightbox is in view for iOS devices.

PS: This issue was reported before too and was closed [#6487], but still occurs.

Platforms: Safari (iOS), Opera Mini (Android)

[2017-09-08 12:12] kul3r4 commented on #10462
The problem is that your list is not below the first viewport.
Take a look at [this](https://ampbyexample.com/components/amp-list/):

- Load the page the first time and then scroll to the bottom. At the bottom there is an example of overflow button and the button doesn't appear
- Then, without scrolling to the top, reload the page and you will see the button appearing

This is because amp-list wil

[2017-09-08 13:07] fuenkchen opened #11226 "Problems displaying content with amp on iPhone"
## What's the issue?

We’ve been using AMP at NZZ in Zurich for a while now, but only recently we’ve run into an issue with our quizzes with AMP on iOS (and only iOS).

Here’s an example of an article with an embedded quiz: https://www.nzz.ch/amp/zuerich/aktuell/nzz-quiz-was-wissen-sie-ueber-winterthur-ld.1307248.

Basic html is rendered on server-side, client-side scripts are loaded via system.js

[2017-09-08 13:46] kul3r4 commented on #10842
I have also seen this error with other analytics beyond Google Analytics and GTM.
For example:
[https://www.iene.mediaset.it/](https://www.iene.mediaset.it/)
gets the errors, and analytics looks like:

[code]

[2017-09-08 15:02] rsimha-amp commented on #11210
And there are no fixes or updates imminent from `gulp-closure-compiler`. See [this cached bug](https://webcache.googleusercontent.com/search?q=cache:Ni_GBjMUitQJ:https://github.com/steida/gulp-closure-compiler/issues/33+&cd=3&hl=en&ct=clnk&gl=us) :/

[2017-09-08 15:08] rsimha-amp commented on #11210
@erwinmombay: There is hope here: https://www.npmjs.com/package/google-closure-compiler#using-the-gulp-plugin. I'm going to see if we can migrate the closure compiler we use to `google-closure-compiler`.

[2017-09-08 15:12] rsimha-amp commented on #11210
There's also `google-closure-compiler-js`, which is pure javascript. https://github.com/google/closure-compiler-js.

[2017-09-08 16:10] rsimha-amp opened #11229 "Upgrade to a newer closure compiler"
[Recent changes](https://blog.travis-ci.com/2017-08-29-trusty-image-updates) to Travis ([restrictions](https://docs.travis-ci.com/user/build-environment-updates/2017-09-06/) on the JVM memory pool size) have [broken](https://github.com/travis-ci/travis-ci/issues/8315#issuecomment-327951718) `gulp-closure-compiler`, the closure compiler used to build the AMP runtime.

Moreover, the compiler version

[2017-09-08 16:11] rsimha-amp commented on #11210
This is now being tracked by #11229 (look there for future updates).

[2017-09-08 16:11] rsimha-amp commented on #11203
This is now being tracked by #11229 (look there for future updates).

[2017-09-08 16:15] jpettitt opened #11230 "amp-img should not replace img with one from srcset if the new image would be lower resolution."
When a screen width is reduced (eg rotating a phone from landscape to portrait) the amp-img component is loading a new image from the srcset even if that image is lower res than the one already in place.  This is unneeded bandwidth.   Expected behavior would be to only ever choose a higher resolution image that the one already downloaded.

[2017-09-08 17:50] aghassemi commented on #11225
related: #10623

[2017-09-08 17:52] aghassemi commented on #11222
/to @cvializ
/cc @choumx @ericlindley-g

[2017-09-08 17:52] zhangsu opened #11234 "`event.value` is `null` for <textarea> `change` event"
## How do we reproduce the issue?

1.
[code]
2. Type in the text area and lose focus.

3. Call `AMP.printState()` in the console.

4. The `foo` state is set to `null`, even though the textarea value is non-empty.

## What browsers are affected?

Only tested on Chrome.

## Which AMP version is affected?

Only tested with 1504119607313.

[2017-09-08 17:53] aghassemi commented on #11223
/to @choumx

[2017-09-08 17:56] aghassemi commented on #9687
sgtm, maybe `max-items`?

[2017-09-08 18:15] jridgewell commented on #11223
Do you have a test page?

[2017-09-08 18:15] erwinmombay commented on #11229
PR for CC update https://github.com/ampproject/amphtml/pull/10791

[2017-09-08 18:16] jridgewell commented on #11234
Don't know if this is a form bug or a bind bug. /to @cvializ and @choumx

[2017-09-08 18:21] jridgewell commented on #11230
This makes sense after https://github.com/ampproject/amphtml/pull/10726. Could do this as a GFI.

[2017-09-08 18:25] jridgewell commented on #11224
I don't understand what you're asking for here. It seems you added a second `setState` call in the same action, but that has no effect on traffic (it's not a validation error).

[2017-09-08 18:25] aghassemi commented on #11230
Although I agree with this, we need to be careful since it can be a breaking change in cases where the images not not simply different resolutions of the same image and might be a differently cropped/zoomed-in/etc.. version (not that uncommon). Probably needs to be guarded by a new attribute (e.g. `same`)

[2017-09-08 18:33] jridgewell commented on #11226
This is a bug inside an iframe (the iframe isn't AMP, the page is). So it's not anything we've done.

The error was easy enough to spot, though. The `div.q-quiz-element-container.q-quiz__cover.s-color-primary-1.q-quiz-element-container--is-active` has a `width: 4.545454545454546%` inline style set on it. Commenting that out make the content visible.

[2017-09-08 18:33] #11226 closed

[2017-09-08 18:44] bhavyasaggi commented on #11224
Sorry if I failed to portray my problem.
For my AMP pages, I had put two `setStage()` calls on my form's `submit-success` event and it was working flawlessly last week.
But today I found that form was failing, and throwing `One state action allowed per event.` in the console.

I checked on the `https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#special-targets` and it

[2017-09-08 18:56] choumx commented on #11234
Just a simple change needed in `action-impl.js`. We probably should make the whitelisted properties more robust.

[2017-09-08 19:23] jridgewell commented on #11224
I see what you saying now. Passing to @choumx.

[2017-09-08 19:33] sklobovskaya opened #11238 "Remove amp-gwd-animation experiment flag"
Cleanup issue for amp-gwd-animation.

Spec: https://github.com/ampproject/amphtml/issues/9949
PR: https://github.com/ampproject/amphtml/pull/11122

[2017-09-08 19:38] jpettitt commented on #11230
Out of interest why does AMP do it's own srcset and not just use the browser supported one (at least for browsers that support it)

[2017-09-08 19:40] jpettitt commented on #9687
@aghassemi I used max-length in the pull request - want me to change it?

[2017-09-08 19:59] aghassemi commented on #9687
given `items` is used throughout this component, `max-items` would be more consistent. Would appreciate if you could change it in the PR.

[2017-09-08 20:11] lannka opened #11239 "Provide client library of Google CID API for non-AMP page"

[2017-09-08 20:16] choumx commented on #11224
@bhavyasaggi Thanks for filing this and my sincere apologies about the breaking change. We'll do our best to avoid them in the future and announce necessary changes with ample warning.

For this specific issue, you can combine the two `AMP.setState` calls into one by merging the object params. For example:

[code]

[2017-09-08 20:16] #11224 closed

[2017-09-08 20:28] zhouyx opened #11241 "Batching support in AMP Anlaytics"
To support batching multiple pings to one.

Related Issue: #10367

[2017-09-08 20:38] taymonbeal opened #11243 "Fast Fetch fails from non-HTTPS pages"
This doesn't affect AMP caches (which always use HTTPS), and it doesn't yet affect Google networks (which don't allow Fast Fetch except on the cache), but ad slots for Cloudflare networks on canonical non-HTTPS pages wind up as blank rectangles.

[2017-09-08 20:38] lannka commented on #11084
decided not to do

[2017-09-08 20:38] #11084 closed

[2017-09-08 20:39] #10892 closed

[2017-09-08 20:43] jpettitt commented on #9687
Change made.

![image](https://user-images.githubusercontent.com/524856/30230528-8e5865a4-949b-11e7-9535-caf1230bf4f0.png)

[2017-09-08 21:11] lannka commented on #10842
@mauricionr a kind ping, did you try removing `googleanalytics`.

Meantime, we can rephrase this error message to clarify that it's not breaking anything. And suggest them to remove `type` attribute if they are using GTM.

[2017-09-08 21:12] zhouyx commented on #8755
I rewrote the PositionObserver, so that inabox and ampdoc share the same implementation.  scroll bound animations support in inabox is added.

[2017-09-08 21:13] lannka commented on #7096
Sounds like a bit hard to proceed before we can have all the GTM users remove type=googleanalytics from their config. We can keep the error message there and ask them to migrate. But in short term, I don't see this can be resolved.

Moving this to backlog, unless it's blocking some other things then we can reprioritize this to take further action.

[2017-09-08 21:22] zhangsu opened #11246 "Make the actual "value" of <textarea> bindable"
## What's the issue?

`<textarea>` DOM elements don't have a `value` attribute, so its value cannot be bound using `<textarea [value]>`. The only thing closest to binding `<textarea>` value is the `[text]` binding. However, `[text]` only works if the `textarea` hasn't been polluted yet (no characters have been entered into the text area).

## How do we reproduce the issue?

1.
[code]

2. Type in t

[2017-09-08 21:23] lannka commented on #11113
seems an old issue due to multi-size config: #7548
which we believed the best solution is for pub to use a better CSS to fix this issue on their own.

[2017-09-08 21:23] #11113 closed

[2017-09-08 21:24] aghassemi commented on #11230
@jpettitt , @dvoytenko had a great explanation of this, quoting from him here:

[2017-09-08 21:27] #9687 closed

[2017-09-08 21:27] #11103 closed

[2017-09-08 21:42] jpettitt commented on #4555
@gregable if we could also add <style amp-data> that only contains rules with url(data ...) values I think we'd be there.  I'd even be happy if that had a separate 50k size limit to stop people putting huge images in it.

[2017-09-08 21:49] dvoytenko commented on #7096
Is there any way we'd simply ignore override? E.g. transport will always be kept as originally defined in the vendor config regardless whether it's also specified in the user config?

[2017-09-08 21:53] avimehta commented on #7096
Please don't do that. It will break GTM customers. I think this bug misses the point that not all the people who write the config are amateurs.

Unless we have actually see people complain having problems when they override transport settings, I think it would be better to remove the error/warning completely.

[2017-09-08 22:12] zhangsu commented on #9672
@aghassemi Just to throw some of my brain dump here: I think this feature request is a little bit different from #7607.

The `enctype` attribute for forms [can only be one of the 3 values](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-enctype): `application/x-www-form-urlencoded`, `multipart/form-data` and `text/plain`. Currently amp-form only allows `multipart/form-data`, an

[2017-09-08 22:17] lannka commented on #10864
sorry for being late.
if it is to prevent redundancy, how about just improve the `data-vars-` solution to check `href` attribute if `data-vars-href` is not given?

I'd prefer CLICK_HOST to be extracted by server. If anyone really need it client side, `data-vars-host` shouldn't be the choice.

We can consider a generic TEXT_CONTENT var if it is really something useful. And we will need to define a

[2017-09-08 22:22] #8755 closed

[2017-09-08 22:28] zhangsu opened #11248 "Support focus and blur events"
## What's the issue?

__Feature request__: support events, at least on input elements (`<input>`, `<select>`, `<textarea>`, etc.), that fire when the element gains or loses focus, similar to the JavaScript `onfocus` and `onblur` event.

A sample use case is having an initially-hidden submit button, which only gets displayed when the text field is non-empty or focused and will get hidden when the i

[2017-09-08 22:32] lannka commented on #7096
@avimehta the motivations to disallow override is for iframe transport (having a 3rd party iframe as the remote endpoint for the ping).

The iframe src URL is provided as a config in the transport. So we don't want publishers to override this vendor specific config.

In general, Rudy and I were discussing if we should disallow the usage that using a type=abc, but override all the request URL to a

[2017-09-08 22:35] lannka commented on #7971
Due to the recent discussion, seems this was a mis-understanding of the current implementation.
@dvoytenko are you OK to close this?

[2017-09-08 22:38] lannka commented on #8500
Closed by #8755

[2017-09-08 22:38] #8500 closed

[2017-09-08 22:39] dvoytenko commented on #7971
Yes, let's close.

[2017-09-08 22:39] #7971 closed

[2017-09-08 22:43] lannka commented on #8334
Obsolete. We went with the body element solution: #10699

[2017-09-08 22:43] #8334 closed

[2017-09-08 22:46] lannka commented on #7768
@jasti let's reserve sometime for a deep dive into this. I would imagine implementation of such an API will look very differently if all ad networks migrated to fast fetch.

[2017-09-08 22:46] travismo123 opened #11249 "Allow whitelisted custom fonts to have <link> outside the <head> to reduce render blocking"
## What's the issue?
`<link>` for whitelisted fonts needs to be in the `<head>` but this causes render blocking, especially on PageSpeed Insights.
`<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">`

<img width="1238" alt="screen shot 2017-09-08 at 3 39 24 pm" src="https://user-images.githubusercontent.com/12947178/30234072-d6d05554-94ae-11e

[2017-09-08 22:52] pbakaus commented on #4479
I think this is still a missing piece, and would gain a lot of interest from publishers. Being able to have a signal for something like the "on" events or amp-bind to react to the "install" of a PWA and offer the user the upgrade ("Hey, we installed a superior experience in the background! Want to give it a try?") would be super awesome, and is easy on a non-AMP world.

[2017-09-08 22:53] pbakaus commented on #4479
Regarding the commonness of the pattern in the wild, maybe @jakearchibald has an idea.

[2017-09-08 22:54] lannka commented on #8740
Resolved by #10813

[2017-09-08 22:54] #8740 closed

[2017-09-08 23:10] jridgewell commented on #11249
/to @Gregable @cramforce

[2017-09-09 00:06] zhouyx commented on #10995
close with #10987 #11017

[2017-09-09 00:06] #10995 closed

[2017-09-09 02:14] cramforce commented on #11249
We could allow this, however, font stylesheets in AMP are not render blocking. PageSpeed insights is simply wrong. See https://github.com/ampproject/amphtml/blob/master/src/font-stylesheet-timeout.js#L58 for details.

I'm inclined to close this. We aren't here to make PSI happy. We are here to make users happy.

[2017-09-09 16:40] #11234 closed

[2017-09-09 20:34] #11243 closed

[2017-09-09 20:50] zhangsu opened #11251 "amp-list is not aware of content height change due to amp-bind"
## What's the issue?

If the height of the content of `amp-list` changes due to a binding evaluation, the height of the `amp-list` isn't updated automatically, nor is the overflow element displayed.

## How do we reproduce the issue?

### `amp-list` at the bottom of the page

1.
[code]
2. Click on "Set state" to populate the list.
3. Click on "Hello" to make the hidden div inside the `amp-list` te

[2017-09-10 21:37] #11168 closed

[2017-09-10 21:37] mrjoro opened #11252 "Weekly Status 2017-09-11"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-09-11 02:43] eric30 opened #11253 "AMP page content couldn't get rendered occasionally when using iOS device models in Chrome DevTools"
## What's the issue?

Sometimes when I was using Chrome DevTools + spoofing iOS UA (e.g. iPhone 5/6) and performed a query on Google Search, publishers' AMP pages would be blank:

<img alt="amp-issue-screenshot1" src="https://user-images.githubusercontent.com/1381195/30256254-fbbf11f0-96db-11e7-87a1-9c668390332c.png">

As you can see, only the title bar of AMP viewer appeared. I've also checked th

[2017-09-11 11:30] priver opened #11255 "myWidget: move all code in external script"
## What's the issue?

myWidget ad network (which I'm working at) [pass context methods](https://github.com/ampproject/amphtml/blob/40fbb714b6c4496367205255aaa1f28f40385734/ads/mywidget.js#L42-L43) (e.g. `renderStart` and `noContentAvailable`) to external script in global variable. Recently `renderStart` started using its context, so our code stopped working. We fixed that by using `window.context.

[2017-09-11 11:51] jakearchibald commented on #4479
To clarify, are we talking about some kind of banner that tells the user the page/app is available offline? Does clicking it do anything?

[2017-09-11 14:59] pbakaus commented on #4479
It could be a banner. It's a signal to react when the SW has finished
installing. So the banner could have a message and link that says something
like "reload for an upgraded experience".

On Mon, Sep 11, 2017, 4:51 AM Jake Archibald <notifications@github.com>
wrote:

--

Paul Bakaus |  Developer Advocate |  pbakaus@google.com |  Pronouns: he/him

[2017-09-11 15:02] jakearchibald commented on #4479
What kind of features are we talking about, and why does the user have to reload for them?

[2017-09-11 15:37] aghassemi commented on #11248
/cc @cvializ @ericlindley-g

[2017-09-11 15:38] aghassemi commented on #11251
/to @choumx

[2017-09-11 15:40] aghassemi commented on #11253
@eric30 Do you know if this happens on real devices as well or just when spoofing with DevTools?

[2017-09-11 15:41] aghassemi commented on #11253
/cc @jridgewell @dvoytenko

[2017-09-11 15:42] aghassemi commented on #11255
/cc @lannka

[2017-09-11 15:53] pbakaus commented on #4479
In this very case, any kind of features that are not available on a cached version of the page (served from the AMP Cache), like A2S, geolocation, push notifs, basically anything that requires the origin model.

`<amp-install-serviceworker>` is the way out, making the transition from very-fast-AMP-landing-page to "full experience" (PWA, running on origin) fairly straight forward, but it still requ

[2017-09-11 15:54] jakearchibald commented on #4479
Ahh, so clicking on the notification will take the user to another origin?

[2017-09-11 16:07] pbakaus commented on #4479
Correct. From AMP Cache to the publishers own origin.

[2017-09-11 16:22] choumx commented on #11071
So it looks like majority consensus is recommending no limit on history changes. Feel free to reopen and we can engage more folks in this discussion.

[2017-09-11 16:22] #11071 closed

[2017-09-11 16:24] choumx commented on #11223
@vitthalr We need more information to debug. Please reopen this issue with a test page or example markup.

[2017-09-11 16:24] #11223 closed

[2017-09-11 16:33] lepunk commented on #9276
Hi, Tamas from Skimlinks (monetization platform) here. Just wanted to say that we were monitoring this thread for a while now and the implementation outlined above is exactly what we and our million plus publishers were waiting for.

Im not 100% familiar with the AMP projects release cycle, could you please tell me what does "P2: Soon" means?

[2017-09-11 16:41] rsimha-amp commented on #11229
@erwinmombay  I noticed that #10791 wasn't able to get us back to the new Travis image. Can you comment on what's left to be done? Is there any hope for making #11232 work? Or is that a lost cause?

[2017-09-11 17:21] cvializ commented on #11252
- Reviewing #11257 for GFI #8880
- PWA performance measurement
- Peer feedback for perf
- React date-picker build integration and API design work

[2017-09-11 18:09] PoulpiFr opened #11262 "Support for mediarithmics analytics"
## What's the feature?

mediarithmics ([see here](http://www.mediarithmics.com/en/)) is providing to its customers a Data Marketing platform.

This platform includes many different parts, including a analytics and DMP modules.

mediarithmics recently became a provider for many French newspapers that are already using AMP or are thinking to switch to it.

We would like to add our entry to the vendo

[2017-09-11 18:09] #11220 closed

[2017-09-11 18:21] cvializ commented on #11248
You don't need new AMP actions to implement this behavior, you can simply use CSS. You can use the `:focus` and `:valid` pseudo-classes, the sibling selector `+` and the `required` attribute.

[code]

These features are all well supported on modern browsers. http://caniuse.com/#search=%3Avalid

[2017-09-11 18:43] shawnbuso commented on #8843
FYI this is still open, even though it was resolved by #10960

[2017-09-11 19:38] choumx commented on #11252
- `amp-bind`
  - Powerful array manipulation with arrow functions and new whitelisted functions (#11144)
  - New custom built-in `sort()` (#11136)
- Document `valid`/`invalid` form events (#11191)

[2017-09-11 19:48] jridgewell commented on #11252
- amp-layers prototyping
- various bug triaging
- PR reviews

[2017-09-11 20:34] choumx commented on #9128
V0 is merged; bumping V1 to backlog for now.

[2017-09-11 20:35] ericlindley-g commented on #9424
Just wanted to follow up on this, @choumx — do the cases I've outlined above make sense, or does it make sense to sync in real-time to better communicate what I'm thinking, here?

[2017-09-11 20:37] aghassemi commented on #8843
closing for realz

[2017-09-11 20:37] #8843 closed

[2017-09-11 20:39] aghassemi commented on #11248
Closing based on @cvializ's suggested solution.

@zhangsu feel free to reopen if the recommendation does not work for your case.

[2017-09-11 20:40] rsimha-amp commented on #11229
This issue was fixed by #10791. See #11206 for the solution for the JVM memory pool issue.

[2017-09-11 20:40] #11229 closed

[2017-09-11 20:42] rsimha-amp commented on #11210
After #10791, we now use a new closure compiler based on the old version of `gulp-closure-compiler` we were using. See #11206 for the solution for the JVM memory pool issue.

[2017-09-11 20:43] rsimha-amp commented on #11203
After #10791, we now use a new closure compiler based on the old version of `gulp-closure-compiler` we were using. See #11206 for the solution for the JVM memory pool issue.

[2017-09-11 20:44] jridgewell commented on #11253
I have no idea what's going on here. Maybe a gpu bug? Thankfully, I can't reproduce it on an actual iOS device.

[2017-09-11 20:46] aghassemi commented on #8524
we should consider doing https://github.com/ampproject/amphtml/issues/8545 as part of this work as well.

[2017-09-11 20:47] #11203 closed

[2017-09-11 20:47] #11210 closed

[2017-09-11 21:00] jridgewell commented on #11262
Awesome! to @avimehta

[2017-09-11 21:03] rsimha-amp commented on #11252
- Visual diff tests are now verified by Travis to make sure there were no diffs (#10536)
- Resolved build breakage due to new Travis trusty image (#11203, #11210)

[2017-09-11 21:12] rsimha-amp commented on #10277
The good news: We now use a new closure compiler. (Issue: #11229 Fix: #10791)
The bad news: The time taken for a `dist` on Travis has risen from ~14 min to ~17 min over the recent past.

Leaving this issue open, in search of a fix.

[2017-09-11 21:20] cvializ opened #11266 "Components in Shadow DOM fail with errors in Desktop and Mobile Safari"
<img width="813" alt="screen shot 2017-09-11 at 2 18 18 pm" src="https://user-images.githubusercontent.com/2363700/30297329-4a341e64-96fc-11e7-8fd9-4a5e5de471fd.png">

[2017-09-11 21:32] rsimha-amp commented on #10277
@erwinmombay, I remember you mentioning that we can speed up `dist` by not invoking the closure compiler once per compilation unit (for some definition of "unit"), but instead, invoke it once across all units, to the extent possible. (https://github.com/google/closure-compiler#compiling-multiple-scripts)

Is there an issue tracking this? Is it worth looking into afresh this quarter?

/cc @cramforc

[2017-09-11 21:35] cvializ commented on #11266
/cc @dvoytenko

[2017-09-11 21:48] aghassemi commented on #11167
Hi @afilbert

Sorry for the late reply ( was mostly Out of office ).
This should be possible by creating an `amp-animation` instance for each `amp-position-observer` instance (instead of a single `amp-animation` with a class selector). Could you give it a try and let me know if still an issue?

Note: Making these use-cases easier to code is definitely something we like to do by providing syntax-su

[2017-09-11 21:52] erwinmombay commented on #10277
yes i am looking into this bug:

<img width="1436" alt="screen shot 2017-09-11 at 2 51 57 pm" src="https://user-images.githubusercontent.com/354746/30298587-ca2a2042-9700-11e7-838b-176dbd2c470d.png">

where splittable blows up on a dependency that does not export anything

reduction:
https://github.com/erwinmombay/split

[2017-09-11 21:59] choumx commented on #9424
Sorry for the delay.

- Is (1) not supported? In my testing, setting `height=0` to an amp-list still results in correct resizing (if it's out of viewport). Or do you mean changing width as well?

- Another way to do (2) without changing the JSON data is to use CSS `:first-child` pseudo-class. Would that suffice?

[code]

[2017-09-11 22:36] cramforce commented on #10277
Two ways to fix:

- use `require` (maybe)
- Just export something. Anything, really.

This is a bug in CC, of course.

[2017-09-11 22:39] zhouyx commented on #11179
Batching for analytics. #11241

[2017-09-11 22:48] choumx commented on #9074
Thoughts on iframe -> AMP messaging:

- Can't detect user gestures within cross-domain iframe, so `postMessage` event should be low-trust (like scroll events).
- However, `AMP.setState` is a *high-trust* action. Add new *low-trust* variant that only mutates children of amp-iframe and doesn't allow resizing (similar to amp-list).

More optional constraints:
- Restrict `postMessage` event to only fi

[2017-09-11 23:01] cvializ opened #11268 "Find a way to test shadowdom in multiple browsers in `gulp test`"
Would have prevented #11266. Ensures that styleSheets exists on the shadow root reference.

[2017-09-11 23:04] dvoytenko commented on #11266
Relevant Safari bug: https://bugs.webkit.org/show_bug.cgi?id=103393

[2017-09-11 23:10] #11266 closed

[2017-09-11 23:38] cvializ commented on #11268
Test exists, we just don't run the tests in Safari.

[2017-09-11 23:49] cramforce commented on #9074
Unfortunately iframes can steal focus. We've been asking browsers to give
indication of user gesture with an event for a while now, but there hasn't
been real progress.

If we do message events, we need to require explicit source and target
origins.

On Mon, Sep 11, 2017 at 3:48 PM, William Chou <notifications@github.com>
wrote:

[2017-09-12 00:41] afilbert commented on #11167
No worries, @aghassemi. Thanks for the feedback! I felt using multiple copies of virtually the same animation/observer might be working harder than I needed, but it sounds like that's an acceptable approach for now. I can work with that. :)

[2017-09-12 01:18] ericlindley-g commented on #9074
@choumx 's proposal sounds good (if I understand correctly, this would offer enough flexibility that developers could do something like a complex seat picker—even if it adds an extra tap outside of the iframe for the rest of the page to reflect seat choices made in the iframe)

The additional origin restriction sounds good, too, as well as explicitly configuring source and target origins, and secu

[2017-09-12 01:24] ericlindley-g commented on #9424
Thanks @choumx ! I think that we had developers running into an issue that they couldn't get around, but maybe they didn't try setting height=0 at the start. @dandv , do you know if the folks you were talking to that were using amp-list and geo-specific ads tried this approach?

And that's a great route for the other request! Much more simple than adding a new capability. I'll pass this on and see

[2017-09-12 01:36] ericlindley-g commented on #4479
Would be nice to figure out ways to highlight the complementary ways that AMP and PWA work together, but one concern I have with this pattern would be that users might come to think of AMP as a lesser version of the site, and that the "real" experience is hidden behind a click (which could make something of a vicious cycle, and ultimately make it slower for users to get to the actual content).

[2017-09-12 09:21] Raghuch2415 commented on #2264
Hello,
We have launched AMP website(www.elebnis.com) but not getting AMP result on google. Can you tell me what is problem with my website.

[2017-09-12 13:04] mcmd commented on #4146
I agree that this may not make much sense for most publishing organizations, but what about e-commerce ones? In that vertical it is much more common to serve content under the same URL in different languages based on the request coming from the user. Or is it considered that the better approach is to have different URLs for different locales, and then do [the hreflang-based AMP internationalizatio

[2017-09-12 14:11] jakearchibald commented on #4479
Sorry for all the questions, I think I've got it in my head now.

Given the requirements, it feels like you want some kind of standard AMP toast that the site can configure (text/icon perhaps) or suppress. I don't have any smarter ideas than that.

[2017-09-12 14:14] cramforce commented on #4146
For now certainly the `hreflang` approach is the only supported method for doing locale based customization.

[2017-09-12 16:00] cramforce commented on #2264
Please see https://goo.gl/utQ1KZ for Google specific questions.

[2017-09-12 16:43] aghassemi commented on #9074
@choumx Feature Malte is talking about is this https://bugs.chromium.org/p/chromium/issues/detail?id=621631 , I put another comment in there asking to see if anyone can think of a decent, light hack for detecting user initiated actions.

For low-trust version of `AMP.setState`, I like the idea but what I had in mind is a bit different:

I was imagining assigning `low`-`high` trust values to `attri

[2017-09-12 17:27] honeybadgerdontcare commented on #9025
Addressed in #11070

[2017-09-12 17:27] #9025 closed

[2017-09-12 17:43] rsimha-amp opened #11273 "Add lint rules for `build-system/`"
I just took the existing linter that we use for the AMP runtime and ran it against `build-system/` (minus `build-system/node-modules/`), and encountered numerous errors.

https://gist.github.com/rsimha-amp/c9e5e1caa4829bd65ea94c373068993a

Several errors are due to the fact that we use ES5 style for the build system while the lint rules are for ES6. However, there are a significant number of genui

[2017-09-12 17:43] tabjsina opened #11274 "amp-img doesn't render if initially off-screen and later animated on-screen"
## What's the issue?

A page is loaded with an amp-img element off screen, it correctly does not load the image onload. Later, some user-interaction (eg. button press) causes the amp-img element to be animated onto the screen (using transition+transformx), however, even though the image would not be visible to the user, it still doesn't load until the user forces a re-measure (eg. resizing window)

[2017-09-12 17:46] rsimha-amp commented on #11273
This is a follow up to https://github.com/ampproject/amphtml/pull/11126#discussion_r136149620

[2017-09-12 17:52] jridgewell commented on #11274
Closing as a duplicate of https://github.com/ampproject/amphtml/issues/10994.

[2017-09-12 17:52] #11274 closed

[2017-09-12 18:10] honeybadgerdontcare opened #11275 "Travis is suppressing validator test errors for PRs"
From #11199, Travis is reporting that the validator test exits status 1 but it doesn't display why. When I test this locally it does state why.

Here's what Travis is displaying:
[code]

For example, here is what the output should look like (with minor differences cause it's on Travis):

[code]

[2017-09-12 18:13] rsimha-amp commented on #11275
Interesting. AFAIK, we suppress stdout on Travis, but we do print any errors that are part of stderr. The easiest way to reproduce the Travis behavior on your local machine is to run the following:
[code]
Let me know if there's an easy way to reproduce the errors you expect to see, and I can take a look at whether we're suppressing any output that ought to be printed.

[2017-09-12 18:14] newmuis commented on #11180
I'd like to present a proposal for stories in AMP.

[2017-09-12 18:16] Gregable commented on #11249
Technically, link elements must be in the document head. From [HTML5 Spec -> The link element](https://www.w3.org/TR/html5/single-page#the-link-element):

[code]

However, we don't enforce this consistently, and clearly neither do browsers. I don't know if there is any practical advantage to requiring this in the head. Perhaps the network connections get set up slightly earlier, but it would seem

[2017-09-12 18:17] Gregable commented on #11249
My conclusion is that I'm fine with whatever @cramforce decides here.

[2017-09-12 18:35] rsimha-amp commented on #11275
@honeybadgerdontcare, here's where we set the logging level for validator tests: https://github.com/ampproject/amphtml/blob/master/validator/build.py#L556

I suspect that the validator build scripts are printing failures to `logging.INFO` instead of `logging.ERROR`. That explains the behavior you're seeing.

The reason we restrict the logging level on Travis is that the validator tests were printi

[2017-09-12 19:08] honeybadgerdontcare commented on #11275
@rsimha-amp Yes I tested it with travis=true and also travis=false and in both situations it suppresses the validator test errors, which means we've been not showing them for at least a month? Could you clarify what part of the validator output was noise and not actual errors?

fyi @ampproject/validator

[2017-09-12 19:20] honeybadgerdontcare commented on #11275
@rsimha-amp As to the errors we're expecting to see, I created a copy of the above mentioned PR in #11277. That should have the following error:

[code]

[2017-09-12 19:24] rsimha-amp commented on #11275
@honeybadgerdontcare, using `TRAVIS=true` or `TRAVIS=false` in your environment has the same effect, and runs tests as if you were on a Travis VM. You'll need to `unset TRAVIS` to restore local development behavior.

In the past, the validator tests were printing hundreds of lines in the passing case, when there were zero errors. That's what we ended up having to silence on Travis.

If you print y

[2017-09-12 19:33] honeybadgerdontcare commented on #11275
@rsimha-amp ah, yes, forgot it's really just checking for the existence of `TRAVIS`.

I wasn't aware of the passing case producing output, I'll look into that.

[2017-09-12 19:46] rsimha-amp commented on #11275
@honeybadgerdontcare The verbose output in the passing case was silenced in #10823. Look at the changes to `validator/build.py` and `validator/webui/build.py` in https://github.com/ampproject/amphtml/pull/10823/files to see what I had to do to silence them.

[2017-09-12 20:20] honeybadgerdontcare commented on #11275
I see that `gulp validator` silences all the jasmine output and only displays the python error (`subprocess.CalledProcessError: Command '['node', 'dist/test_runner']' returned non-zero exit status 1`).

However, `cd validator && python build.py` preserves the jasmine output (validator test failure message) and also suppresses the `build.py` `logging.info` output when `TRAVIS` is present.

So maybe

[2017-09-12 20:22] choumx opened #11278 "Use one package manager, not two"
Now that NPM supports version locking in v5, it would be nice to only have a single package manager, e.g. replace yarn.lock with package-lock.json.

/to @danielrozenberg /cc @rsimha-amp @erwinmombay

[2017-09-12 20:51] rsimha-amp commented on #11275
@honeybadgerdontcare, your latest comment helped me narrow down the problem! The version of `execSync` that the `gulp validator` wrapper originally used was silently suppressing the Jasmine output.

I've sent you #11280 with a fix. All should be well after this.

[2017-09-12 21:04] #11275 closed

[2017-09-12 21:05] rsimha-amp commented on #11275
You should be good once you sync past #11280

[2017-09-12 21:18] honeybadgerdontcare commented on #11275
@rsimha-amp thank you!

[2017-09-12 22:43] adelinamart commented on #2916
@dvoytenko are we still considering this? Thank you.

[2017-09-13 01:48] zhouyx opened #11281 "Error: null is not an object (evaluating 'this.a["helper-iframe-url"].indexOf')"
https://github.com/ampproject/amphtml/blame/master/extensions/amp-web-push/0.1/web-push-service.js#L203

[2017-09-13 01:55] zhouyx commented on #9870
Seeing this again

TypeError: Cannot read property 'document' of undefined
    at HTMLElement.Dg.b.dispatchCustomEvent (https://cdn.ampproject.org/rtv/001504822256449/v0.js:191:256)
    at https://cdn.ampproject.org/rtv/001504822256449/v0.js:195:211

[2017-09-13 05:09] Karunrana commented on #4520
@jridgewell my issue still unresolved, any progress on Google internal issue about this. b/65208518.

[2017-09-13 10:27] pascalanene opened #11284 "feature: seamlessly transition a bootstrap built website to an AMP version"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-09-13 17:01] zhangsu opened #11287 "Huge array in XHR response can crash page"
## What's the issue?

This is similar to #9648 about CPU/memory exhaustion. If the page renders a template using a huge array in the XHR response of `amp-list` or `amp-form`, the page can hang.

It'd be nice to have some kind of global throttling or just a simple cap on the HTML size rendered by the template. It'd be nice if it's a global limit shared by all XHR-making components in the same docum

[2017-09-13 17:11] bonifaty opened #11288 "Intent-To-Implement: Support for VK.COM Posts and Polls"
I am planning to implement extensions for http://vk.com widgets, full list of widgets available for websites can be found here https://vk.com/dev/widgets_for_sites

As a priority I want to focus on Post and Poll AMP extension.

Approach
-----------

I am going to use approach similar to Twitter and Facebook:
* Add new third party system **vk.js**
* Add new **amp-vk** extension for VK Posts and **a

[2017-09-13 17:16] #8880 closed

[2017-09-13 17:32] jridgewell commented on #4520
The issue is still being worked on internally. Our suspicion is that it's due to the image being a `JFIF` format, but it's being served as an `image/jpeg`.

[2017-09-13 18:03] pomeroyr opened #11290 "I2I: Timer analytics enhancement for starting and stopping"
Sample config to time a user interacting with a video:

<pre>
request: {
  baseUrl: 'https://mypingurl.com?met=1;
  timerRequest: '${baseUrl}&timer=${timerDuration};&timestamp=${timestamp};',
  counterRequest: '${baseUrl}&counter=COUNTER(${event-id});&timer=${timerStart};'
},
trigger: {
  video-play-timer: {
    on: timer,
    timerSpec: {
      startSpec: {
        on: amp-video-play,
        sel

[2017-09-13 18:08] pomeroyr commented on #11179
Timer start and stop configuration. #11290

[2017-09-13 18:18] jpettitt commented on #9276
@lepunk the P2 really doesn't mean much right now.  It's going to come down to me finding time to write the code (I too have customers who want it but it's not top of my list right now).

[2017-09-13 18:48] bonifaty commented on #11179
vk.com extension https://github.com/ampproject/amphtml/issues/11288

[2017-09-13 19:03] rsimha-amp commented on #11278
See #11289 for a discussion + experiment on caching the results of `npm install`.

[2017-09-13 19:21] aghassemi commented on #11284
/to @camelburrito to provide details on some of the on going efforts on this

[2017-09-13 19:33] aghassemi commented on #11288
cool, LGTM

1- yes, that's fine.
3- you can, your 3P script running in the iframe and communicate with your amp extension through postMessages and your AMP extension runs as 1P in AMP. That being said, the component still needs to adhere to AMP's UX principles such as no popups without explicit user-action.

[2017-09-13 19:34] aghassemi commented on #11288
/cc @ericlindley-g

[2017-09-13 19:40] aghassemi commented on #11290
@pomeroyr For the video-specific use-case, take a look at https://github.com/ampproject/amphtml/blob/2fb70228319e7320afe9d385845feea4802a047f/extensions/amp-analytics/amp-video-analytics.md, `video-seconds-played` and `video-session` triggers should be able to handle your use-case. Although I understand this ITI is general purpose

[2017-09-13 19:54] pomeroyr commented on #11290
Correct, the example is just the simplest case, however. Our use case really requires the ability to arbitrarily assign timers to user actions-- for example, mouse hover over a particular element; how long a lightbox is expanded; time between clicks-- anything.

[2017-09-13 19:57] erwinmombay opened #11291 "remove babel-polyfill dependency"
Currently we need the dependency for the regenerator runtime (for async/await support).
We might be able to remove the dependency or at least only install a subset of the requirements for regenerator runtime.

context:
https://github.com/ampproject/amphtml/pull/9775#discussion_r138212406

[2017-09-13 20:44] #9695 closed

[2017-09-13 20:51] aghassemi commented on #11194
One comment: Let's use something other than video for code sample in this case (given video events already support this use-case by providing`playedTotal` values as event data)

[2017-09-13 21:00] jpettitt commented on #11241
Questions I didn't get time to ask in DR:

1. Is a second the right unit? Are non-integer values allowed? or should it be milliseconds?
2. Should the max url length be configurable or will the amp runtime pick a number that's short enough to always work (is that possible?)

[2017-09-13 21:01] choumx commented on #9074
@aghassemi Cool, thanks for the crbug reference.

`[text]` would be nice to update a label, e.g. "Selected seat A in row 43", and shouldn't cause relayout if it's a child of the `i-amphtml-fill-content` element. `[class]` could cause funky stuff, e.g. changing to `position: fixed`, but this is already possible with amp-list.

This is nice-to-have anyways. For MVP, we could just have zero-mutation

[2017-09-13 21:05] lannka commented on #11193
It is an existing feature: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#counter

[2017-09-13 21:05] #11193 closed

[2017-09-13 21:10] lannka commented on #11194
@cramforce to defend against the argument of "avoid changing state via URL" in the design review, we already have such var function `COUNTER`.

[2017-09-13 21:42] aghassemi commented on #9074
I agree that for MVP, we should just do no-mutation, just merge state via`setState`.

Issue with only mutating children of amp-iframe is that children get overlayed by `iframe` anyway, if z-index is used to bring them to top of frame, I don't believe it handles many use-cases even for seat selection. If updating text that is overlayed on top of the iframe is the issue, they could actually integrat

[2017-09-13 22:16] morsssss commented on #10195
We're seeing this now at this URL, in the mobile simulator in Chrome:

https://www.google.com/amp/s/www.bnymellon.com/us/en/our-thinking/amp/why-do-earnings-seasons-matter.jsp

Yes, I only see this in the Google AMP Viewer.

Look at the bottom of the page, where a bit of the template appears:  {{title}}

It works normally here:

https://www.bnymellon.com/us/en/our-thinking/amp/why-do-earnings-seas

[2017-09-13 22:22] dvoytenko commented on #10195
Ok, got it. It appears that somehow template is empty on the cache. This might be due to some cached version being incorrect, but also possible to be due to cache bug. We are looking asap.

Internal tracking b/65642597

[2017-09-13 22:34] mrjoro commented on #11179
vk.com extension notes

- Malte: generally this is a fine approach
- we generally prefer integrations done like amp-youtube/gfycat/instagram where 3rd party iframe is injected directly instead of going through 3rd party mechanism, should consider it (it'll be faster), but maybe it's not applicable; would require doing the iframe URL creation on the AMP side
- like the twitter & facebook integratio

[2017-09-13 22:34] mrjoro commented on #11179
Timer stop/start configuration notes:

- need a timer that can be started and stopped for analytics
- is the only use videos or are there other use cases?  video is the most common use case for timers in the wild, but need to support the arbitrary case (how long is a mouse hovering over an image--are people thinking about clicking?)
- Rich Media means "big metrics" not just "big ads"
- for the exa

[2017-09-13 22:35] mrjoro commented on #11179
COUNTER notes:

- we already have counters :)

[2017-09-13 22:35] mrjoro commented on #11179
TIMER notes:

- with timers we give an id so there can be multiple timers
- is duration minus the first one or minus the previous one; proposal is the first one; if you want it to be incremental you reset it
- how would reset work?
- would it make sense to separate start/reset/flow control from the string interpolation?  e.g. may not want to hit a URL when you start the timer
- so this would be an

[2017-09-13 22:36] mrjoro commented on #11179
Batching for analytics notes:

- why is it called batchport?  so it looks like transport.  why isn't it called transport?  it's not really transport
- would it be feasible to only support XHR & beacon?  no, rich media needs image; for image batching we need to check the length of the URL; there are reasons that XHR posts are rejected so images are needed (image is a GET); all of the rich media con

[2017-09-13 22:36] #11179 closed

[2017-09-13 23:08] lannka commented on #11194
@aghassemi good point.

@pomeroyr is video `playedTotal` the only thing RichMedia is measuring? Can you give another example? If possible, I'd like to remove the support for the 2nd param in TIMER function to start/pause/reset the timer. I do agree "changing state via URL" in such way is odd.

[2017-09-13 23:22] pomeroyr commented on #11194
We need duration since last batch flush, so interval since last ping. So pings would look like with an constant interval of 5s:

http://mypingurl.com?timer=currentTimestamp
http://mypingurl.com?timer=5
http://mypingurl.com?timer=10
http://mypingurl.com?timer=12 // timer stopped before batching interval ended.

[2017-09-13 23:53] dvoytenko commented on #10195
Alright. This turns out to be due to `<p>` element containing `<template>` and eventually `<div>`. This touches on a slightly ambiguous part of HTML parser and it breaks our parser. We are addressing this, but in the meantime, this can be fixed by changing the `<p>` above `<amp-list>` element to a `<div>`.

@nzeeshan Could you please try that and lmk?

[2017-09-14 00:17] jridgewell opened #11293 "Firefox bug with in-a-box"
p/18108137760723327163

[code]

Tracing it down, it's cased by https://github.com/ampproject/amphtml/blame/6cc8ac7ebb21f47ce4a1e89c49044150b6306e32/src/service/viewport/viewport-binding-natural.js#L207-L209, which was changed in https://github.com/ampproject/amphtml/pull/11148.

So maybe it's gone away?

[2017-09-14 03:41] cramforce commented on #9074
Would it make sense to polyfill this by attempting to play a video with
sound that doesn't really have audible sound? This would only work on
mobile, but at least we could make it stricter in the future.

On Wed, Sep 13, 2017 at 2:42 PM, Ali Ghassemi <notifications@github.com>
wrote:

[2017-09-14 15:01] cramforce commented on #11194
This works for me.

[2017-09-14 15:29] zhangsu opened #11294 "Enable interception of XHR for capable, trusted AMP Viewers"
_This is a proposal for a feature I intend to add into the AMP runtime._

# Background

Some *trusted* custom AMP Viewers require the runtime to delegate all XHRs triggered from the AMP document to the viewer to handle in order to protect user privacy by hiding the IP address of the user.

# Objective

Instead of sending the XHRs directly from the AMP document, the AMP runtime delegates the task o

[2017-09-14 16:39] lannka commented on #11194
@pomeroyr are you saying the `timer` param can be either an absolute timestamp or an interval?

Regardlessly, to meet your requirements, I propose the following special vars to the newly proposed batching API:
- `${batchOrdinal}`: indicates the ordinal of the current batch, starting from 1.
- `${batchInterval}`: indicates the interval between current batch and previous one. Use '' (empty string) i

[2017-09-14 17:09] QES opened #11295 "AMP-ACCESS and AMP-LIVE-LIST revalidation issues"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?

I am implementing an AMP-ACCESS paywall and as part of the offering removing adverts for subscribers.  I also use AMP-LIVE-LIST to update the pages in a number of ways, if the update includes an advert or other element that should by hidden by AMP-ACCESS the element appears/re-appears on the page until manually refresh

[2017-09-14 17:10] pomeroyr commented on #11194
@lannka Yes, we need client-side clock, and then only durations after that. What is the usecase for these variables you are proposing? Are we talking about writing pings like:

<pre>
'requests': {
  'timerStart': 'https://mypingurl.com?timer=${timestamp}',
  'timerContinue': 'https://mypingurl.com?timer=${batchInterval}',
  'timerStop': 'https://mypingurl.com...' // how do we get intervals of time

[2017-09-14 17:21] QES commented on #6973
Noticed that this is a very similar issue to the one I reported in https://github.com/ampproject/amphtml/issues/7949 but in a different content and a more general one in my report there is a know header getting in the way with a known size that could be worked around if there was a way to specify where the roll went to. In this example the added ampcache header makes this more noticeable.

Creatin

[2017-09-14 17:52] QES commented on #10447
Just came across this discussion and had one other use case, I have been implementing a paywall/advert free version of our AMP site and wondered if there is any reason why I couldn't load the AMP JS elements that are used to implement the amp-access elements into my non AMP site.

When I suggested it internally we thought we would try it and see and it doesn't seem to break, why is this a bad idea

[2017-09-14 18:27] dvoytenko commented on #9074
Non-audible tracks sometimes still mute other tracks on the phone, so could be pretty negative UX. I previously used copy-paste, but that (a) not possible to attribute to any one particular iframe; (b) also bad UX due to lost copy buffer from before.

[2017-09-14 18:49] choumx commented on #11180
Bumped from last week, messaging amp-iframe: https://github.com/ampproject/amphtml/issues/9074#issuecomment-325501559

From @zhangsu, allow viewer to proxy XHRs: #11294

[2017-09-14 18:59] cramforce commented on #11249
Given that there is no technical reason to do this beside making PSI happy, we won't do it.

It would be more complicated than allowing the link tag in the body. We'd need to require a matching preload tag in the head to get good performance.

[2017-09-14 18:59] #11249 closed

[2017-09-14 19:21] rsimha-amp commented on #10086
Reopening this to see if https://blog.travis-ci.com/2017-09-12-build-stages-order-and-conditions lets us do what we want.

[2017-09-14 19:35] aghassemi commented on #11295
/to @dvoytenko

[2017-09-14 21:36] kushal commented on #2916
FWIW, we'd be more than happy to contribute a custom extension similar to the one for laterpay if that would help it live next to other things.

[2017-09-15 00:27] dvoytenko commented on #11295
Thanks for the report. I will fix this.

[2017-09-15 00:33] dvoytenko commented on #10447
@QES You can certainly use JS. But please keep in mind, AMP page has some assumptions on when and how content can change to prioritize resource scheduling and component phases. This system is getting stronger all the time, but there's no guarantee that we can make that these libraries will be reactive to a complete set of changes that could be executed by a 3p script. We may export some APIs, espe

[2017-09-15 01:55] hzoo commented on #11291
All babel-polyfill is, is a combination of core-js + regeneratorRuntime https://github.com/babel/babel/blob/master/packages/babel-polyfill/src/index.js

Also there is the https://github.com/babel/babel-preset-env#usebuiltins option, and in 2.0 the "usage" option

[2017-09-15 03:23] softtama opened #11297 "amp-img does not load image outside viewable screen inside horizontal column"
## What's the issue?

`amp-img` does not load image outside viewable screen in horizontal column. Only one or two images outside viewable screen that are loaded.

## How do we reproduce the issue?

You can see my issue in this public URL: http://8d3fa43d.ngrok.io/amp-project/amp/.
I will update the URL if it got changed.

This is the GIF screenshot of the issue in Chrome 60.0 (look under "Produk C

[2017-09-15 04:13] taf2 commented on #5276
@joshcp,@chrisdesrochers  we have support now for AMP with CallTrackingMetrics

[2017-09-15 07:42] QES commented on #11295
hi @dvoytenko if you need any more please let me know

[2017-09-15 07:57] QES commented on #10447
@dvoytenko so provided the JS elsewhere on the page doesn't break it, it will be fine.

That seems to be the problem with any added element of JS and something I can live with for consistent implementation (one set of tools - in this particular example I'm playing with AMP-ACCESS) across HTML and AMP.

I can certainly see how certain AMP JS elements might not be sensible or suitable to use but it

[2017-09-15 10:40] jaygray0919 opened #11298 "amp-iframe works in Mozilla but fails in Chrome"
for Mozilla/Firefox and MS Edge, here is an `<amp-iframe>` that successfully displays a PDF.

https://ontomatica.io/amp/10000008/index.html

but in Chrome and Chrome Canary the PDF is not displayed and neither browser throws an error message.

are we doing something wrong?

/jay gray

[2017-09-15 11:01] zapic0 commented on #8998
I'm still getting this error

[2017-09-15 16:20] dvoytenko commented on #10447
@QES I'd certainly also recommend looking into PWAMP (https://www.ampproject.org/docs/guides/pwa-amp). It's a nice way to keep using both tech stacks where they do not step on each other toes.

[2017-09-15 16:25] dvoytenko commented on #2916
@kushal We are still trying to standardize (or find a standard) for authorization response. This is currently the biggest concern. I don't think namespacing by itself will help, since the results need to be used in access expressions as in
[code]

On the plus side, however, this topic is back in focus for us and we are looking into it very actively again, so I hope to have more updates on this soo

[2017-09-15 16:59] rsimha-amp commented on #10086
That was a dead end, as were a few other approaches. This is essentially impossible due to a combination of https://github.com/travis-ci/travis-ci/issues/8007 and https://github.com/travis-ci/travis-ci/issues/7223. We can't use a non-JWT means of setting up per-user sauce labs tokens, and Travis' JWT implementation supports exactly one token called `SAUCE_ACCESS_KEY`, which prevents us from declar

[2017-09-15 16:59] #10086 closed

[2017-09-15 17:21] zhangsu opened #11300 "amp-ad-network-doubleclick-impl uses the Headers object which may fail fetch polyfill"
Haven't tested this myself, but this is something I saw when browsing the code so I figure I should point it out --

On line 725 of [this file](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick-impl.js#L725), the code is passing a `Headers` object in the `init` option to the XHR service.

This might fail on browsers with no

[2017-09-15 17:43] aghassemi commented on #11297
@softtama You would need to use [amp-carousel](https://ampbyexample.com/components/amp-carousel/) to create a horizontally scrollable container instead of a normal `div` with overflow.

We are working on relaxing this requirement, but for the moment `amp-carousel` must be used.

Closing the issue, please feel free to reopen if you have further issues with this solution.

[2017-09-15 17:43] #11297 closed

[2017-09-15 17:47] jridgewell commented on #8998
It's likely your json configuration is incorrect, then.

[2017-09-15 18:04] aghassemi commented on #11298
Hi @jaygray0919 ,

Chrome currently doesn't allow plugins (e.g. native PDF viewers) to run in sandboxed iframes (even if all sandbox attributes are set).
See https://bugs.chromium.org/p/chromium/issues/detail?id=413851 for details of their reasoning behind this. In AMP, we always sandbox iframes.

I recommend using Google's PDF viewer or other HTML-based third-party PDF renderers. For instance ins

[2017-09-15 18:04] #11298 closed

[2017-09-15 18:06] #10536 closed

[2017-09-15 18:20] mattwomple commented on #9687
Does `single-result` work as expected in conjunction with `items="."` ? Given the following object:

    {
      "title":"mytitle",
      "iterable": [
        {
          "item1":"thing1",
          "item2":"thing2"
        }
      ]
    }

I expected `<amp-list single-origin items="." ...>` to process the following:

    [{
      "title":"mytitle",
      "iterable": [
        {
          "item1"

[2017-09-15 18:56] rsimha-amp opened #11303 "Several AMP dev dependencies are deprecated"
Now that we're no longer using `yarn` to manage dependencies, I deleted my `node_modules` directory and reinstalled everything via `npm prune && npm install` to see if the AMP dev workflow works for new committers.

Of the deprecated dependencies, some are indirectly pulled in by other dev dependencies, but I'm sure we can update them to no longer have deprecation warnings.

[code]

[2017-09-15 19:04] jaygray0919 commented on #11298
thank you @aghassemi - we did not know this and now will change the way we display a PDF.
your solution also works in Mozillla and Edge.
/jay gray

[2017-09-15 20:24] pomeroyr commented on #11290
Note: proposal updated since it was decided the TIMER URL function from #11194 would not be sufficient or efficient.

[2017-09-15 21:42] kushal commented on #2916
@dvoytenko Really glad this is back on your radar and eager to help however I can! I don't totally follow the issue with namespaces. i'm envisioning something like

[code]

If there was only one amp-access namespace could be omitted and the variables would be unprefixed.

Is there something about AMP that makes this impractical (other than moving away from the singular id="amp-access" markup)?

I

[2017-09-15 22:11] zhouyx commented on #11241
@jpettitt
1. I think the value can be super large if milliseconds is used for unit.  second I think is a better unit here. That what we have for `timerSpec` now as well. Yes, non-integer values are allowed.
2. I am proposing that AMP runtime make sure to restrict the url length within limit if `GET` method is used. Are there any case that customized max url length is required?

[2017-09-15 22:19] zhouyx commented on #11241
to @dvoytenko
I added proposal 2 here, which is the design to add batching support to `request`. However this proposal doesn't fulfill the requirement to `intervalDecay` feature which needs batching interval value to increase along with page loaded time.

cc @lannka @pomeroyr

[2017-09-15 23:00] dvoytenko commented on #11241
@zhouyx I think proposal 2 looks awesome (I made tiny changes).

I think that'd be very easy to add into this proposal.

Did you already clarify the role of `extraUrlParams`? Do they fit in well here?

Unrelated to "proposal 1 vs 2", but how would this separate work? Can you give me an example of the final URL?

[2017-09-15 23:16] dvoytenko commented on #11295
Fix in review: #11308.

[2017-09-16 00:08] rudygalfi commented on #10307
Closed by #11276

[2017-09-16 00:08] #10307 closed

[2017-09-16 06:32] aghassemi commented on #9687
@mattwomple will be in prod next Wednesday

[2017-09-18 01:48] afilbert opened #11311 "position-observer: Safari scroll-bound animation only working one direction"
## What's the issue?

Scroll-bound animations using `direction: "alternate"` stop working on Safari when `amp-position-observer` scrolls up out of view.

## How do we reproduce the issue?

1. Go to example pen: https://codepen.io/aghassemi/full/dzKGWy/
2. Scroll all the way down to the bottom of the pen. Notice the animation is working.
3. Scroll back up, and the animation won't reengage.

_This s

[2017-09-18 02:09] #11252 closed

[2017-09-18 02:09] mrjoro opened #11312 "Weekly Status 2017-09-18"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-09-18 12:24] p2er commented on #10939
@aghassemi @techhtml Any indication on when the issue might get resolved?

[2017-09-18 14:26] jingtang10 opened #11313 "I2I: Make <amp-auto-ads> insert ads in between paragraphs"
At the moment amp-auto-ads only uses fixed placements (https://github.com/ampproject/amphtml/blob/b1e053cc0cc504add3a3011c8bd40952441898f5/extensions/amp-auto-ads/0.1/placement.js#L240) to create banner ads. We'd like to extend the functionality of amp-auto-ads to create ads in between consecutive paragraphs. This requires the following changes on a high-level:

1) create a new placement type to r

[2017-09-18 16:21] aghassemi commented on #11019
Closing per https://github.com/ampproject/amphtml/issues/11167#issuecomment-328668874

[2017-09-18 16:21] #11019 closed

[2017-09-18 16:25] lannka commented on #11313
Can you clarify what is "paragraph" here? Is it text surrounded by `<p>`, or is it text separated by line breaks in the same text node?

Is this something supported in non-AMP world? If so, maybe a help center doc might explain things better.

[2017-09-18 16:52] lannka commented on #11312
Ads & Analytics
- Working on external CID API library #11239
- Helping with design of analytics batching support #11241

[2017-09-18 17:27] choumx commented on #11312
- Starter bug for @danielrozenberg (#11278)
- Document `AMP.pushState` (#11272)

[2017-09-18 17:34] #11255 closed

[2017-09-18 17:40] aghassemi opened #11317 "video-analytics - buffer the events"
Currently we are not waiting for the analytics service to load and therefor there is race condition where some video events may get ignore if fired too early.

We need to queue them up.

/to @cvializ

[2017-09-18 17:44] aghassemi opened #11319 "Support video-interface and autoplay for amp-vimeo."
Should be fairly similar to `<amp-dailymotion>` if Vimeo has an API into this.

[2017-09-18 17:44] zhouyx commented on #11312
- Document 3P extension analytics
- Batching support for analytics design (#11241)

[2017-09-18 17:55] aghassemi commented on #9672
@zhangsu Thanks for the details. So to summarize, we need a **"JSON template"** to fill in with input values before sending it. Makes sense. reopening the issue.

[2017-09-18 17:58] jridgewell commented on #11312
- Demo-able Layers
- JS error tracker

[2017-09-18 17:59] camelburrito commented on #11312
- template reviews for ampstart
- bundling ampstart templates for download  (https://github.com/ampproject/ampstart/pull/616)

[2017-09-18 18:02] pomeroyr commented on #11241
@zhouyx In proposal 2: What is "batchTrigger"? Is this the name of a trigger or a trigger "on" type? This request will batch all "timer" triggers in this or those named "timer", despite what request it specifies in the actual trigger spec? Each of the trigger specs specify the non-batched request, so is this saying we want a way to have a catch-all request which reports on types of events? If that

[2017-09-18 18:17] rsimha-amp commented on #11312
- Visual diff tests now affect status returned by Travis checks (#10536)
- Fresh investigation of per-user sauce labs tokens (still a dead end) (#11296)
- Collaborated with @danielrozenberg on started bug (#11278)
- Reviewed automation of github maintenance (#11126)

[2017-09-18 18:17] zhouyx commented on #11241
@dvoytenko

I think that'd be very easy to add into this proposal.

This would require AMP to traverse every request on analytics load, to set up time intervals. Unlike what we have now (where `request` is only used when events are triggered).
Having analytics traverse everything `request` event that may never be used sounds a bit wasteful. But maybe it's fine.

`extraUrlParams` add additional par

[2017-09-18 18:18] #10679 closed

[2017-09-18 18:26] zhouyx commented on #11241
@pomeroyr

No, the request will only batch trigger that use `after` request.

Trigger spec will always has the flexibility on using `request` w/ batching or using `request` w/o batching.

`batchTrigger` is more like a whitelist to trigger event. In my example, only trigger with `on :timer` will be be batched, and `on: click` trigger will flush the queue immediately. I am glad to replace it with `i

[2017-09-18 19:28] aghassemi commented on #11311
on it

[2017-09-18 19:30] aghassemi commented on #11311
Interesting that `direction: "reverse-alternate"` works! Value of `direction` should not really make a difference, will look into it.

[2017-09-18 20:07] bradfrizzell opened #11321 "Intent to Implement: Real Time Config 2"
# Real Time Config 2.0

## Objective
For AMP Fast Fetch, support publisher-specified, multiple, simultaneous callouts in order to augment targeting information included on the ad request.  See original RTC I2I #8551.

## Background
Remote HTML support was added for delayed fetch to support first party cookie targeting given AMP does not allow custom javascript and pages served from the AMP cache a

[2017-09-18 21:27] zhouyx opened #11323 "Create IframeMessagingClient before AmpContext"
When sending 3p user error to AMP runtime, it is possible that the user error is generated before `AmpContext`. I would still like to send those errors to AMP with on `iframeMessagingClient`.

Does it make sense to move the creation of `iframeMessagingClient` outside `AmpContext` constructor.

[2017-09-18 22:28] aghassemi commented on #10939
@p2er We are doing a FixIt week next week, I will add it to the list, if @techhtml doesn't get to it by then.

[2017-09-18 22:40] #5105 closed

[2017-09-19 00:40] reachpov1 opened #11326 "amphtml"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-09-19 01:13] choumx commented on #11326
@reachpov1 Please update this issue with details of your issue and reopen.

[2017-09-19 01:13] #11326 closed

[2017-09-19 01:41] zhouyx commented on #7654
I have few questions regarding the multi-selector support. For example:
[code]
1. Analytics sends two requests for A and B respectively. Does analytics need to include selector information on the two requests, or two identical requests are fine.
2. If selector information is required, what kind of info?
3. Are there potential requirements for **AND**/**OR** operator to multi-selector? Say only sen

[2017-09-19 08:08] skydry opened #11327 "Google Analytics Real-time doesn't work with AMP"
## What's the issue?

Google Analytics Real-time does not show real-time visitor on AMP:

<img width="298" alt="screen shot 2017-09-19 at 09 52 22" src="https://user-images.githubusercontent.com/32090571/30581412-4d0690fc-9d20-11e7-88fe-366df6e3298b.png">

## How do we reproduce the issue?

1. Include AMP analytics script in head before the AMP script:
[code]
2. Include ```amp-analytics``` to body

[2017-09-19 09:00] SchnWalter commented on #11327
Your code seems to be valid, did you make sure you are using the right `account` number?

For me it works just fine on a couple of websites.

[2017-09-19 09:04] skydry commented on #11327
Thanks for checking and yes, I use the right account number, I just looked again. This is strange.

[2017-09-19 10:35] jingtang10 commented on #11313
Thanks Hongfei. Paragraphs are indeed defined as text surrounded by <p> currently. Worth noting that paragraphs will be sent from the network as placements in the auto ads config. This means networks can implement their definitions of paragraph, and what the extension would do is to find consecutive paragraphs given the config.

This also means the extension is doing relatively light work. It does

[2017-09-19 11:52] kul3r4 commented on #10462
We just published a new [sample](https://ampbyexample.com/samples_templates/product_page/preview/) showing how to implement a load more button

[2017-09-19 12:13] devanes commented on #10462
@kul3r4 That looks interesting. At the moment I have implemented it in a way where using amp-bind the entire contents of the amp-list is replaced with the new batch combined with a scroll to the top of the list, basically previous/next pagination without reload.

[2017-09-19 14:24] kul3r4 commented on #10462
@devanes I see, this was the previous approach in the sample as well, but with this new approach you only load the newer items.

[2017-09-19 14:30] jessanastasio opened #11328 "Propagate controlsList attribute on amp-video"
## What's the issue?

`<amp-video>` doesn't support controlsList, even though it's a standard attribute. My use case is needing to hide the `<video>` tags download button via controlsList="nodownload", but this isn't possible right now, and CSS hacks to hide it are not working cross browser.

`controlsList` doc:
https://developers.google.com/web/updates/2017/03/chrome-58-media-updates#controlslist

[2017-09-19 14:31] jessanastasio commented on #11328
cc @aghassemi

[2017-09-19 15:12] rsimha-amp commented on #11278
@danielrozenberg @choumx @erwinmombay Ever since we moved to `package-lock.json`, we're running into the case where some of our dependencies have different sets of sub-dependencies on linux and macos, due to which there's no stable state for `package-lock.json`. I wonder if there's a way to fix this, but always installing all optional dependencies, irrespective of the platform.

[2017-09-19 15:14] rsimha-amp commented on #11278
This is an issue on `npm`: https://github.com/npm/npm/issues/18135

I wonder if we should move back to using `yarn` until this is fixed.

[2017-09-19 15:17] danielrozenberg commented on #11278
Do we have to include the `package-lock.json` file? It's recommended practice but if it's buggy then the recommendation is moot. We can add it to `.gitignore` until npm/npm#18135 is fixed

[2017-09-19 15:28] rsimha-amp commented on #11278
It turns out that `package-lock.json` is ignored on Travis if there's a cached `node_modules` directory. So right now, we aren't actually using the lock file anywhere. See https://github.com/travis-ci/travis-ci/issues/7936

I like the idea of adding `package-lock.json` to `.gitignore` for now, since I'm not sure that it's doing anything for us. We could also delete it, but I may be missing somethi

[2017-09-19 15:34] newmuis opened #11329 "Intent to Implement: amp-story"
## Background

`amp-story` will be an extension to AMP that enables a new format for visual storytelling.

![amp-story](https://user-images.githubusercontent.com/1651960/30607269-60a8b9f6-9d42-11e7-9f8e-7456bbbbf5f0.gif)

## Proposal

Each separate "page" of the experience can be marked up with a separate DOM node (`<amp-story-page>`).  Pages, by default, can be traversed in DOM order; that is, th

[2017-09-19 15:36] danielrozenberg commented on #11278
We can think of `package-lock.json` as "last known working state of the package dependencies"
 ([StackOverflow](https://stackoverflow.com/a/44297998/241456).) It's useful to have, but ideally `package.json` should always be able to generate functioning code

It also locks in the versions of unlisted packages (i.e., the packages that are implied via the dependencies of the packages that are declare

[2017-09-19 15:38] choumx commented on #11278
Because accidental breaking changes can slip into semantically versioned packages. That means new AMP contributors may get into a state where `npm install` doesn't work out of the box. This risk increases with the total number of dependencies, direct and indirect. More reading: https://yarnpkg.com/blog/2016/11/24/lockfiles-for-all/

Between the Travis and NPM issues you linked, maybe we should mov

[2017-09-19 15:40] choumx commented on #11278
For some context, the original FR from over a year ago: #2771

[2017-09-19 15:42] erwinmombay commented on #11278
i would bring back yarn for security and other caches having deterministic builds (even more important than amp contributors)

[2017-09-19 15:54] rsimha-amp commented on #11278
Gotcha. I agree that moving back to yarn (lock file, caching, presubmit check to make sure lock file is updated, etc.) is the way to go for now.

[2017-09-19 15:59] danielrozenberg commented on #11278
I'm on it

[2017-09-19 16:16] rsimha-amp commented on #11278
For still more context, see https://github.com/npm/npm/issues/17722. I don't think there's a supported way to generate a steady-state version of `package-lock.json` from mac and linux.

[2017-09-19 16:33] aghassemi commented on #10985
/to @amedina

[2017-09-19 17:03] aghassemi commented on #10837
@robinpokorny Just wanted to touch base and see how this is progressing.

[2017-09-19 17:03] aghassemi commented on #10385
@ethereal-sandeep Just wanted to touch base and see how this is progressing.

[2017-09-19 17:20] cramforce commented on #11329
Do you have additional details? Is this scheduled for review yet?

[2017-09-19 18:00] newmuis commented on #11329
There is a preliminary spec at https://bit.ly/amp-story-spec, and a preliminary implementation of the extension itself at https://bit.ly/amp-story-ext.

This is scheduled for a design review this Wednesday, 9/20 (#11180).

[2017-09-19 18:08] #11328 closed

[2017-09-19 18:53] jasti commented on #11321
CC @ampproject/ads @ampproject/a4a

[2017-09-19 19:29] jridgewell commented on #11044
Taking this.

[2017-09-19 19:34] rsimha-amp commented on #11273
With #11325, we now run lint checks against all `js` files in `build-system` in warning mode. Once we merge an initial set of fixes, we can start enforcing the lint checks and failing travis when errors are found.

[2017-09-19 21:23] #11044 closed

[2017-09-19 21:29] jridgewell opened #11338 "Amp-apester-media: Cannot read property 'data' of undefined"
[code]

/cc @mrsufgi

[2017-09-19 21:32] jridgewell commented on #11281
[code]

/cc @jasonpang

[2017-09-19 21:35] jridgewell opened #11339 "Custom element does not have document"
[code]

assigning to @dvoytenko, since I assume it's a PWA issue

[2017-09-19 21:55] zhouyx opened #11340 "amp-sticky-ad not render on Android"
`<amp-sticky-ad>` not render in viewer (Android).
related to [fixed layer](https://github.com/ampproject/amphtml/blob/master/src/service/fixed-layer.js#L566
). Element top offset with viewer header paddingTop seems to be the reason.

Example:  <amp-sticky-ad> with clientRect {left: 0, right: 350, top:678, bottom: 732}. Viewer header has padddingTop of 54px. When added to fixed layer, <amp-sticky-a

[2017-09-19 22:05] jridgewell commented on #11340
Demo page please?

[2017-09-19 22:11] zhouyx commented on #11340
https://www.google.com/amp/s/www.washingtonpost.com/amphtml/world/europe/russian-navy-launches-barrage-of-cruise-missiles-in-drills/2017/09/19/3456d2c8-9d53-11e7-b2a7-bc70b6f98089_story.html

Does anyone object an extra check for `(element.tagName=='AMP-STICKY-AD')` before trying to offset `element.position.top`?

[2017-09-19 22:16] jridgewell commented on #11340
It needs to be offset in iOS.

Strangely, the measurements line up for me. What browser?

[2017-09-19 22:27] zhouyx commented on #11340
I am able to reproduce in Chrome emulator Android. But for `<amp-sticky-ad>` all user care is that it align to the bottom of a page, why would its top needs to be offset?

[2017-09-19 22:39] jasonpang commented on #11281
@jridgewell I think this is probably a duplicate of https://github.com/ampproject/amphtml/issues/11184. If it was caught 7 days ago, [the fix](https://github.com/ampproject/amphtml/pull/11192) wouldn't have had time to be released to all users.

[2017-09-19 22:47] #11281 closed

[2017-09-19 22:49] cramforce commented on #11340
I think you might chase a red-herring and there is no problem.

The `amp-sticky-ad` has `bottom:0!important`, so none of the other calculations matter (but lets investigate why we set top when the original position did not have top set).

[2017-09-19 22:53] zhouyx commented on #11340
@cramforce. But setting its `top` position, element height value can be affected. For example I found clientRect to be `{left: 0, right:350px, top:732px, bottom:732px}`. Element height was measured to be 0, which was the root cause to ad not rendering.

[2017-09-19 22:58] cramforce commented on #11340
Yeah, that is bad. I couldn't repo. There might be a bug. Adding top is probably because the "cannot distinguish from auto" bug in Chrome that @dvoytenko was chasing.

[2017-09-19 23:01] dvoytenko commented on #11340
Fixed layer should never touch `amp-sticky-ad`'s top position. Why would it offset it?

[2017-09-19 23:02] jridgewell commented on #11340
It was part of my fixed position testing. Something about fixed-bottoms needed the top offset, I'm looking into my manual test cases now.

[2017-09-19 23:05] zhouyx commented on #11340
I found fixed-layer add attribute `style="top: calc(XXXpx);` to `<amp-sticky-ad> `
![image](https://user-images.githubusercontent.com/5419904/30619418-258ba984-9d54-11e7-933f-e0c1a0c167eb.png)

Seems to come from this line https://github.com/ampproject/amphtml/blob/master/src/service/fixed-layer.js#L566

[2017-09-19 23:16] zhouyx commented on #11340
A first attempt to fix the issue: #11342. Let me know if there's any concern.

[2017-09-19 23:37] jridgewell commented on #11340
Tracked it down to the `bottom: 0px !important` (specifically, the `!important`). This is breaking the "auto top" (as in, explicitly `top: auto`, or only bottom-fixed) detection code.

When we detect that an element is auto top, we don't set the top value on it. But because the bottom is forced to be 0px in stylesheet, the auto detection broke, and we thought it _was_ a top-fixed.

[2017-09-19 23:57] cole-sanderson opened #11343 "amp-sidebar max-height style"
**Bug**

## What's the issue?
In the Lancome AMP, we have buttons in footer of menu sheet and its being overlapped by Safari's native footer. The issue is with the `amp-sidebar` height style. `max-height` is set as `100vh`. If we change to `max-height: 100%` and it will not overlap the Safari's native footer.

`amp-sidebar {max-height: 100vh;}`

![img_5521](https://user-images.githubusercontent.co

[2017-09-20 00:09] dvoytenko commented on #11340
Did you try `style.bottom = auto !important`? Normally we don't allow b/c it could lead to messy overrides, but this case is very specific and we set values here very temporarily.

[2017-09-20 02:15] afilbert commented on #11311
Thanks for taking a look, and for your quick response @aghassemi!

[2017-09-20 02:31] #11340 closed

[2017-09-20 02:42] #11295 closed

[2017-09-20 02:47] dvoytenko commented on #11339
@jridgewell How frequent is this error? This is typical for racy destruction when an iframe's window is killed. We get this kind of errors in those cases, but they are usually very rare.

[2017-09-20 03:25] dvoytenko commented on #10195
To close a loop on this issue: this has been fixed and verified.

[2017-09-20 04:01] dvoytenko commented on #11313
This sounds good to me, in general. Would you like to schedule this for Design Review?

[2017-09-20 04:51] ethereal-sandeep opened #11346 "Codelabs issue with running test on hello-world"
**Codelabs bug.**

- While going thought [codelabs](https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/index.html?index=..%2F..%2Findex#3)  for creating AMP Component, i came across this error on running gulp test just after clone, install, make-extension ....
`gulp test --files extensions/amp-hello-world/0.1/test/test-amp-hello-world.js`

[code]

Then after modifyin

[2017-09-20 05:03] skydry commented on #11327
Today, it works. It seemed that Google Analytics needed one day to calibrate or something.

[2017-09-20 05:03] #11327 closed

[2017-09-20 07:29] dvoytenko commented on #11241
@zhouyx

We definitely shouldn't do this. Can you give me some examples? I think we need to find another way to define this part.

Not a big fun of this, tbh. It seems confusing. If there was only one parameter per group, it's fine, but here we'd have to correlate to always use the same `type` with the same `time`, etc. May be it's better to encode these in args, e.g.:

[code]

This will be remove

[2017-09-20 09:49] QES commented on #10447
Hi @dvoytenko thanks, I have looked and implemented things with PWAMP, I suppose my point is that AMP has a set of building blocks that can be used and combined and all just work together.

PWA has various different ideas and projects which don't easily integrate and which need maintenance to keep them working.

From my perspective, PWA offers a number of potentially interesting tools for an AMP s

[2017-09-20 10:52] lexandera opened #11349 "Enable amp-bind in A4A"
## What's the issue?

We would like to support some classic amp-bind use cases (like seeing products in different colors, product/detail view, etc.) in ads as well, but amp-bind is currently not allowed by the A4A validator.

[2017-09-20 12:13] p2er opened #11350 "amp-animation broken in AMP shadow since it is required to be child of `<body>`"
## What's the issue?

If a valid AMP page with amp-animation is used as AMP shadow document an error will occur:
`amp-animation is only allowed as a direct child of <body> element. This restriction will be removed soon.`

And:
[code]

This will result in missing animations in the embedded AMP page. Very sad, since amp-position-observer animations might require elements to be initially hidden for a

[2017-09-20 12:21] p2er commented on #10880
@aghassemi would you like feedback as tickets here, like: https://github.com/ampproject/amphtml/issues/11350

Or would you like general feedback to be posted in a specific slack channel? I've created a amp-position-observer channel for now: https://amphtml.slack.com/messages/C763Y9MMK

[2017-09-20 13:36] mitjak opened #11351 "amp-animatation: width() and height() functions only return size in pixels"
## What's the issue?

CSS extension functions `width()` and `height()` in `amp-animation` only return size in pixels. This is limiting to a point that you can only use these values for other properties that accept pixel values as well. You cannot use it for properties that accept numeric values or other value types.

These two functions should (also?) return a numeric value. Alternatively, we coul

[2017-09-20 16:38] aghassemi commented on #11351
/cc @dvdyakonov

[2017-09-20 16:39] aghassemi commented on #11346
/to @erwinmombay to update the codelab.

[2017-09-20 17:00] aghassemi opened #11356 "amp-ima-video: Support extra video analytics params"
Currently `amp-ima-video` has [partial support](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-video-analytics.md#common-variables) for `video-analytics` to get full-support, it needs to implement the following optional parts of the `video-interface`: (anything else @cvializ?)

- [ ] `getPlayedRanges`
- [ ] `getDuration`
- [ ] `getCurrentTime`

/to @shawnbuso
/cc @j

[2017-09-20 17:10] shawnbuso commented on #11356
For duration and currentTime can we just return those values as they pertain to the content video? The video and ads are separate streams, so if you e.g. have a 10 second ad at the 30 second mark you'd see the currentTime increase for the first 30 seconds, then we'd just report 30 over and over again for 10 seconds, then it would go back to increasing once the content resumed.

[2017-09-20 17:11] jasti commented on #11349
@choumx do you see any concerns enabling this for ads?

[2017-09-20 17:19] jasti commented on #11356
Yes, I think the expectation for analytics here is just for content. So the behavior makes sense.

[2017-09-20 17:20] shawnbuso commented on #11356
OK cool, and for getPlayedRanges do I just need to track what the user has and has not watched?

[2017-09-20 17:26] aghassemi commented on #11356
For `getPlayedRanges`, browser already tracks and exposes it under the `played` property on the html5 video element, just needs simple adapting: See https://github.com/ampproject/amphtml/blob/master/extensions/amp-video/0.1/amp-video.js#L370

[2017-09-20 17:39] zhouyx commented on #11241
We definitely shouldn't do this. Can you give me some examples? I think we need to find another way to define this part.

The request to `intervalDecay` or `interval` are all defined to amp-analytics load time. With `maxDelay` the `interval` is actually defined to the interval after first trigger event.

If traversing every requests is not a good idea. We can work around with storing the analytics

[2017-09-20 17:43] jridgewell commented on #11339
We've had 1,179 reports in the last day

[2017-09-20 17:45] jridgewell commented on #11339
Closing as a dupe of https://github.com/ampproject/amphtml/issues/9870.

[2017-09-20 17:45] #11339 closed

[2017-09-20 17:45] rsimha-amp commented on #10673
Update: This is now being tracked by #11278, and a fix is imminent in #11332

[2017-09-20 18:11] AndrewKGuan opened #11358 "[FR] amp-accordion animated expand/collapse"
Currently the amp-accordion doesn't have any transition between the expanded/collapsed states.  End users' eyes will lose track on the items since they move too fast, especially in the implementation of a long menu.

This is crucial to main site menus on many types of sites, eCommerce, news publishers etc.

[2017-09-20 18:20] AndrewKGuan opened #11359 "[FR] amp-accordion 'collapse others' option"
Need to be able to trigger collapsing of other expanded menu items when expanding a new item in the accordion.  For example, if the accordion contains items [A (expanded), B (collapsed), C (collapsed)],  when B is clicked on, the accordion's new state should be [A (collapsed), B (expanded), C (collapsed)].  Also if C is clicked, the new state should be [A (collapsed), B (collapsed), C (expanded)]

[2017-09-20 18:28] #11278 closed

[2017-09-20 19:13] choumx commented on #11349
Runtime support was added awhile ago (#7779). No major concerns, but a couple things to consider:

1. Currently each AMP doc with amp-bind creates a dedicated web worker, which means up to `|# of ads| + 1` workers for a single AMP doc. If this is memory intensive, we should move to [SharedWorker](https://developer.mozilla.org/en-US/docs/Web/API/SharedWorker).
2. Critically important to ensure that

[2017-09-20 19:16] jmrog commented on #11346
+1, but also want to add:

I don't think this is _just_ a Codelabs bug. I was working locally on an extended component in preparation for submitting a PR, synced my branch with `master`, fired up my tests to make sure everything was still in good shape, and... tests that were passing before the sync started failing with the same `TypeError` mentioned in the OP. The component conforms to what is me

[2017-09-20 19:50] pomeroyr commented on #11241
@zhouyx Is your meaning that with a maxDelay of 20 minutes, the reporting pings will stop twenty minutes after the first ping instead of 20 minutes after ad load? This is fine, it does not produce a difference in load for us.

We definitely need a way to configure decaying intervals, however. Are you saying that interval decay would actually have a different start point than max delay? That might

[2017-09-20 21:09] jridgewell commented on #11340
Confirmed fixed in latest production.

[2017-09-20 21:21] mrjoro commented on #11180
amp-story

- are stories already achievable with AMP?
  - probably, if you tried hard enough :)
  - navigation through the story would be tricky to create
  - maybe you could leverage amp-carousel but then you're more tied to its interaction model
  - stories are becoming an entity more generally, so it makes sense to represent that in AMP

- does it work on desktop & tablet?
  - we are thinking t

[2017-09-20 21:23] mrjoro commented on #11180
Allowing the viewer to proxy XHRs

- our current viewer trust concept is not strong enough to warrant a "god-mode" capability like this, so this should require document opt in (i.e. the document says "I am fine with my XHRs being intercepted by the viewer")
  - we could make it so the opt in isn't valid AMP;  the use case for this is primarily a fully controlled situation where the viewer trusts t

[2017-09-20 21:25] mrjoro commented on #11180
messaging amp-iframe

- unlike the postMessage API, we should require the origin; you almost never want to send a message to someone you don't know who they are (and since you constructed the iframe yourself this is especially true)
- the iframe might have been navigated so we don't want to send the message to any iframe
- plan is to only allow this for src containing an origin (no srcdoc, no data

[2017-09-20 21:26] #11180 closed

[2017-09-20 21:28] mrjoro opened #11361 "Design Review 2017-10-04 (amp-date-picker, position:sticky)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-09-20 21:29] mrjoro opened #11362 "Design Review 2017-10-11"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-09-20 21:29] mrjoro opened #11363 "Design Review 2017-10-18"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-09-20 21:38] #11343 closed

[2017-09-20 21:38] jridgewell opened #11364 "Throw error when using npm to install"
To prevent our `package.json` from getting out of sync with our `yarn.lock`.

Part of the `preinstall` script should be to check that the user is using yarn to install, not npm.

[2017-09-20 21:40] jridgewell commented on #11358
/to @camelburrito

[2017-09-20 21:41] jridgewell commented on #11359
/to @camelburrito

[2017-09-20 21:41] choumx commented on #11364
We already have [this presubmit check](https://github.com/ampproject/amphtml/blob/d66ccb38a2a1f09506dade9806103a07d11ffd47/build-system/pr-check.js#L386). Insufficient?

[2017-09-20 21:45] rsimha-amp commented on #11364
That check will kick in only when someone uploads a PR that updates `package.json` and not `yarn.lock`. It doesn't ensure that the user actually used `yarn` to install dependencies in the first place.

Something like https://github.com/AndersDJohnson/use-yarn and https://github.com/AndersDJohnson/danger-yarn-lock might be useful in enforcing `yarn` at the CLI level.

[2017-09-20 21:45] jridgewell commented on #11364
Yes, because we lose the dependency version guarantees after cloning the project and installing.

[2017-09-20 21:48] zhouyx commented on #11340
🎉

[2017-09-20 21:52] choumx commented on #11364
True, but that's a different issue than described in OP. 😛

[2017-09-20 21:58] camelburrito commented on #11359
CC @ericlindley-g

[2017-09-20 21:58] camelburrito commented on #11358
cc @ericlindley-g

[2017-09-20 22:00] #9870 closed

[2017-09-20 22:02] camelburrito commented on #11358
@AndrewKGuan - Thanks for taking time to file the feature requests! You can implement long menus with `amp-selectors` amp accordion was not designed to accommodate menus.

However i agree that animation may be useful for certain accordions. But if combined with FRs like this https://github.com/ampproject/amphtml/issues/11359 animation might not be great.

[2017-09-20 22:16] AndrewKGuan commented on #11358
Hey, thanks for the quick reply.  Trying to implement a multi-level hamburger menu (something like the "Shop" menu on https://m.costco.com )would be would be hard with amp-selectors, wouldn't it? =)
And I guess if combined with the collapse-other features would not be in conflicts, simply animate the expanding (clicked) item but not the collapsing items, perhaps?
Please let me know if that makes s

[2017-09-20 22:26] camelburrito commented on #11358
i have something very basic/crude - http://jsbin.com/falohu - But this is the idea behind using a selector to do dropdowns , it is not hard at all and you will have total control over the UI

[2017-09-20 22:43] zhouyx commented on #11241
@pomeroyr I get that you want the decaying interval to be strictly related to time after analytics load, but not after the first request is triggered.
@dvoytenko The proposed `request`'s `maxDelay` does not fulfill the use case here. I think proposal 1 addressed the decaying interval better.

[2017-09-20 23:58] dvoytenko commented on #11241
@zhouyx I still don't quite understand `intervalDecay`. Can we spell it out and discuss?

Sorry, no, I meant we'd actually construct it that way. As the result, we could have a request that looks like this:

[code]

I.e. the backend would simply iterate over the array of `r` values and reconstruct the complete pings from them. This seems to me the most similar to `\n` in POST, e.g.

[code]

[2017-09-21 00:42] aghassemi commented on #9074
I think I have found a decent polyfill for mobile. It is based on `<audio>` tag but without a need to have a `src` or append it to the DOM. It does not pause other audio streams either.

essentially:
[code]

Tested on iOS and Chrome/Android and works fine. (it is based on a similar approach we take to detect `autoplay` for `amp-video`)

jsbin: https://output.jsbin.com/mohujitehe

Now if we combine

[2017-09-21 02:46] jmrog commented on #6360
Hi, everyone. It's been a while since much has happened on this issue, so I wanted to jump in and say that AddThis is hoping to finally submit a PR for it very soon. I'm actually the one intending to do that, since @jacobdfriedmann has (alas) moved on to other things.

Before I _do_ submit the PR, I wanted to make a couple of quick comments about two related things mentioned earlier in this thread

[2017-09-21 06:38] meistudioli opened #11369 "amp-access return url fail"
To whom it may concern:

I use tag - "amp-access" to do the login stuff.
It works well as usual, but failed since 2017-09-21

The login page will stop at  "amp-login-done" page (check the following link) and do nothing such as close the login window and rerender the source page.

stop page link:
https://cdn.ampproject.org/v0/amp-login-done-0.1.html?url=https%3A%2F%2Fblog.lalacube.com%2Fmei%2Fyahoo

[2017-09-21 06:55] dvoytenko commented on #9074
@aghassemi This is awesome! How does it work if a gesture originated from a x-origin iframe?

[2017-09-21 06:59] dvoytenko commented on #11351
@mitjak This is a very interesting idea. Here's my proposal: we resolve `px` values from `width()/height()` in the context of dimensional properties and just numerics otherwise. We already do something similar in other cases.

In other words:
 - `transform: translateX(width())` will yield `transform: translateX(531px)`
 - `duration: calc(width()/100)` will yield `duration: 5.31`

If no one can see

[2017-09-21 07:03] dvoytenko commented on #10447
Yeah, I see your point. And we are actively looking at this, but the best response I have for now is still [this one](https://github.com/ampproject/amphtml/issues/10447#issuecomment-329644730) - i.e. certainly possible, but certain care should be taken.

/cc @pbakaus

[2017-09-21 08:07] mitjak commented on #11351
@dvoytenko This sounds like a possible solution. But what will happen in case `width()` or `height()` is applied to a CSS variable?

Example:
`"--element-width" : "width()"`
`transform: translateX(var(--element-width))`
`duration: calc(var(--element-width)/100)`

If `calc()` could adapt in the same way, that would be best. It would also be great for doing it the other way around - converting from

[2017-09-21 08:39] SchnWalter commented on #10447
I've been successful in gradually adding AMP components to a non-AMP page in order to convert it to AMP (in the end, the AMP page will be the canonical page).

I've started, back in March, by cleaning some of the CSS and using the `amp-img`component and since then I've gradually added, `amp-analytics`, `amp-ad`, `amp-selector` and other components.

The transition to HTTPS is the only part that ca

[2017-09-21 14:50] rsimha-amp commented on #11273
With #11357, we use the same ES6 lint rules for `build-system`
#11334 contains the first round of automatic fixes for `build-system`
#11365 contains all remaining fixes for `build-system`, and enforces lint checks for the directory during Travis PR checks

[2017-09-21 15:06] cramforce opened #11372 "Fix srcset code duplication between amp-anim and amp-img"
Does the same thing. We just had a case where only one side was changed.

In reality the related width for picking a version should not be passed in but always be the same and determined further down.

[2017-09-21 15:07] cramforce commented on #6360
Awesome! Looking forward to the PR!

On Wed, Sep 20, 2017 at 7:46 PM, Jason Rogers <notifications@github.com>
wrote:

[2017-09-21 15:08] cramforce commented on #9074
WOOHOO!

On Wed, Sep 20, 2017 at 11:55 PM, Dima Voytenko <notifications@github.com>
wrote:

[2017-09-21 15:33] cramforce commented on #9074
One more thing: Both Chrome and Safari are aligning their audio playback policies on desktop with mobile. So, this should work in even more places. Not sure about Firefox

[2017-09-21 16:04] aghassemi commented on #11216
Per discussions on https://bugs.chromium.org/p/chromium/issues/detail?id=761506 that proposed solution has issues in older Android/iOS devices. We need to do some work in AMP to support this before documenting.

/cc @jessanastasio

[2017-09-21 16:15] dandv commented on #8929
@ericlindley-g: just wanted to link to my previous issue, #826. If you can update [your comment](https://github.com/ampproject/amphtml/issues/8929#issuecomment-296909138) to link to it, I can delete this one.

[2017-09-21 16:15] aghassemi commented on #11369
/o @dvdyakonov

[2017-09-21 16:23] iplanwebsites opened #11376 "Whitelist Material Design Icons CDN"
It's not currently possible to include these popular material design icons.
These are integrated into some CSS framework like Bulma - which is a neat JS-less framework that fits AMP ideology pretty well.

 Project info: https://materialdesignicons.com/
 CSS: //cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css

[2017-09-21 16:53] ericlindley-g commented on #8929
@dandv  Updated — thanks!

[2017-09-21 16:55] #11273 closed

[2017-09-21 17:28] aghassemi commented on #11376
/to @cramforce @ericlindley-g for decision.
Seems similar to FontAwesome that we allow, except it is ~3x the size (85k vs 30k)

[2017-09-21 18:16] choumx commented on #9074
Great find!

@dvoytenko it appears to work. Here's an example that postMessage's to a null-origin iframe: http://output.jsbin.com/vejasem

[2017-09-21 18:28] cramforce commented on #11376
LGTM

[2017-09-21 19:12] aghassemi commented on #9074
Great, yeah user intent should carry forward through postMessage and other async calls.

Few notes:
1- It is still very important to keep "iframe has focus" as a check. This will ensure dev environment (Desktop) behaves the same as mobile unless someone is actually trying to abuse the system.
2- We still need a decision whether to still allow non-user-initiated messages to change the state (withou

[2017-09-21 19:27] rudygalfi commented on #8038
cc @lswang1618

[2017-09-21 19:38] joshcp commented on #10902
Other input types that would be valuable include `type="tel"`, `type="number"`, `type="email"`, etc. These activate different (more appropriate) keyboards on mobile phones, which is often a better user experience. (see [Mobile Input Types](http://mobileinputtypes.com/) for ref.)

[2017-09-21 20:36] choumx commented on #9074
1. Agree.
2. Agree.
3. Sentinel may not be necessary here. We can just keep track of number of `message` events from the child iframe and un-listen at N invalid messages.

One interesting find is that this polyfill works with async calls up to 1 second after the user gesture, which makes this more robust than one of the suggested W3C solutions (add a new property to `MessageEvent`). I might follow

[2017-09-21 20:38] jasti commented on #11313
Thanks @jingtang10 - @mrjoro, any chance we can schedule this for design review next week?

[2017-09-21 20:42] mrjoro commented on #11313
Looks like next week is currently free; @jingtang10 please add a comment on the [design review issue](https://github.com/ampproject/amphtml/issues/11181) to claim a spot. :)

[2017-09-21 21:01] zhouyx commented on #11241
It is to support increasing batching interval value along with analytics load time.

For example:
1. First half minute is important, we want to send batched request every 3s.
2. 30s to 60s becomes less important, send batched request every 10s.
3. After that, just send batched request every 30s.

Regarding the format: The `r` value can be easily defined with `separator: r=` then. Sure we can make

[2017-09-21 21:18] joshcp commented on #11115
@choumx We use JavaScript as part of our build process, and the square brackets have caused some headaches. We've resorted to using work-arounds to set the square bracket amp-bind attributes on page elements, which is not the best. ☹️

[2017-09-21 21:42] zhouyx opened #11380 "Multi-selector support for AMP Analytics"
The following only applies to visibility trigger. Note that click trigger already support multi selector

**Goal**
- Trigger multi identical events for multi different selectors w/o duplicate trigger config.
- Support selector that select multiple elements.
- Provide check on duplicate selectors.

**Design Proposal**
- Having `selector` support a string. (single selector)
- Having `selector` suppo

[2017-09-21 22:50] #11364 closed

[2017-09-21 22:53] rsimha-amp commented on #11364
Original presubmit check on Travis has been updated to run `yarn check --integrity`, and running `npm install` during local development will now throw an error and instruct you to run `yarn`.

[2017-09-21 23:27] rsimha-amp opened #11383 "`gulp process-github-issues --dryrun` is broken"
This is a leftover item from https://github.com/ampproject/amphtml/pull/11126#issuecomment-329250566

1. We should return `promise` and not `issues` in line 202 of `build-system/tasks/process-github-issues.js`.
2. The `util.log(util.inspect())` in line 195 doesn't actually print out the particulars of the change. A possible solution is to print the particulars of the request inside `createGithubRe

[2017-09-21 23:39] rsimha-amp commented on #11303
Updates:
1. Since #11332, we are now back to using `yarn` for package management.
2. With #11368, we enforce the use of `yarn` over `npm install`.
3. `yarn.lock` and `package.json` have been updated and brought to be in sync.

With this, deleting `node_modules` and reinstalling all dependencies results in the following output:

Linux:
[code]

The warning from `ajv-keywords` is noise, due to an out

[2017-09-21 23:39] #11303 closed

[2017-09-21 23:47] dvoytenko commented on #11351
Good question on variables. Let me ponder it for a bit. RE: numerical -> pixel "hack" - that's a totally valid and documented thing.

[2017-09-21 23:50] chimura opened #11384 "Page offline"
The following is offline:
https://www.ampproject.org/pt_brdocs/guides/author-develop/responsive/control_layout

[2017-09-21 23:55] rsimha opened #11385 "Pick the correct baseline for Percy builds on release branches"
While running visual tests on a release branch, we currently pick the most recent approved build on `master` as the baseline for diffs. This will result in a false negative if there are approved visual changes in `master` that were merged after the branch point of the release branch.

See https://percy.io/docs/learn/baseline-picking-logic. We want to go from the "branches" behavior to the "pull re

[2017-09-21 23:56] rsimha-amp commented on #9468
This is merely a tracking bug on github.

[2017-09-22 00:49] dvoytenko commented on #11369
@meistudioli Thanks for the report. Issue identified. Fixing ASAP.

[2017-09-22 01:05] dvoytenko commented on #11241
@zhouyx

I think I understood this now. But I still don't understand what does it have to do with "analytics load time".

Let's assume right now we have a default "batchMaxDelay" value specified for a request definition, e.g. "3s". Is our interval decay solvable by simply manipulating the actual "batchMaxDelay" for actual requests?

E.g. we have a trigger:
[code]

If "intervalDecay" is not specifi

[2017-09-22 01:26] meistudioli commented on #11369
thanks a lot.

[2017-09-22 01:30] dvoytenko commented on #2916
@kushal We've got couple of questions here to address:

1. Expressions. I've also been considering `OR` expressions. They are a bit misleading, but could work. E.g. when one authorization endpoint fails, we can consider all resolutions from that namespace to be `false`.
2. Login. This is a bit harder to arrange from UX point of view. Do you see it as a page markup would offer two login links? E.g.

[2017-09-22 03:18] choumx commented on #2771
This should be fixed for good now.

[2017-09-22 03:18] #2771 closed

[2017-09-22 03:40] kushal commented on #2916
@dvoytenko Glad we're getting close!

1. Does authorizationFallbackResponse not work here? But no response implying false is also fine for us.

2. Yeah, I was imagining the simplest thing would be to let page markup supply two links using namespaced login links. That gives page owners a good amount of flexibility.

[2017-09-22 09:04] meistudioli opened #11388 "amp-form in amp-mustache won't render"
To whom it may concern:

I use tag - "amp-list" to fetch some dynamic data and try to render them by amp-mustache.
It's kind of trick which form tag won't render if I put form tag inside the template.
(try to do some xhr stuff)

I thought it should be render just like amp-img in template.

I wonder it is an issue or it was prohibited to put form in template.

Have a nice day.

Paul

[2017-09-22 13:57] lintal opened #11389 "Feature: Allowing any source-origin access to static config for AMP-Analytics"
# What's the issue?
We are hitting an issue for our use-case where the [AMP CORS requests requirements](https://www.ampproject.org/docs/reference/components/amp-analytics#loading-remote-configuration) block access to a static JSON config file hosted for AMP-Analytics.
The information contained in this file is not private in any way and could easily be determined/inferred through other means = ther

[2017-09-22 14:47] jingtang10 commented on #11181
Thanks Joey. I'd like come to the design review next week. I've also prepared a small doc to describe the change: https://docs.google.com/a/google.com/document/d/e/2PACX-1vS1I50evRFZGrByTGgIt88LeWq-S0lEkOKYEn2YtJYyLdKKl38Mm2lAVHS-jbFd5uJCwT8HKYly26nf/pub (https://docs.google.com/a/google.com/document/d/1r62Gbolc3dTPM26k7WRkqdOLbBbYL_ndIduTCUibwtg/edit?usp=sharing)

[2017-09-22 15:45] aghassemi commented on #11384
/to @bpaduch

[2017-09-22 15:46] aghassemi commented on #11388
/to @cvializ

[2017-09-22 16:11] bpaduch commented on #11384
I'm not sure where you discovered that link, but the link is incorrect and those docs are online at https://www.ampproject.org/pt_br/docs/guides/responsive/control_layout.

[2017-09-22 16:15] #11384 closed

[2017-09-22 16:19] rsimha-amp commented on #9707
@jridgewell This can be solved in two ways:

1. I can add a chai property called `defined` that throws an error, and change all existing invocations of `to.be.defined` to `to.not.be.undefined`.
2. I can implement a `defined` property that calls `expect(this._obj).to.not.be.undefined;`
3. Upgrade to `chai 4.0.0` (I don't think this will work with the rest of our testing stack)

1 will solve the pro

[2017-09-22 16:42] cvializ commented on #11388
Duplicate of #9768. Hoping to get to that one soon : )

[2017-09-22 16:42] #11388 closed

[2017-09-22 16:59] jridgewell commented on #9707
I think 3 is the only appropriate answer. Defining `#defined` doesn't help when I mistype the next one, or think that `#tralalalala` is a Chai method.

[2017-09-22 17:53] zhouyx commented on #11181
#11380

[2017-09-22 18:39] rsimha-amp commented on #9707
Fair point. There's a cascading chain of dependencies that will need to be upgraded to get to `chai 4`, but I think I have it working. Sending out an updated PR.

[2017-09-22 19:33] jridgewell opened #11392 "A4A: Cannot call method 'bind' of undefined"
New Canary error:

[code]

[2017-09-22 19:33] jridgewell commented on #11392
/cc @ampproject/a4a

[2017-09-22 19:34] jridgewell commented on #11392
Reports are coming from Android 4.X

[2017-09-22 19:57] jridgewell opened #11394 "A4A: Crypto Bug"
[code]

Seems to be new to Safari 11.

/cc @ampproject/a4a

[2017-09-22 20:16] jasti commented on #8941
In AMP, we'll create a class name that ad wrappers can append to themselves. Therefore, when amp-ad collapses, the runtime will automatically try to collapse the wrapper class too. The requirement for an ad wrapper to be collapsed is that the ad wrapper has to be the direct parent of amp-ad.
Will be picked up in the next few sprints.

[2017-09-22 20:26] jasti commented on #7846
@alanorozco would you like to close this and create a new issue for validator changes?
Also, are there any runtime changes for this decision?

[2017-09-22 20:56] choumx commented on #11385
👍  for nice graphics. What tool did you use?

[2017-09-22 21:32] jridgewell commented on #11389
/to @cramforce

[2017-09-22 21:33] cramforce commented on #11389
Seems reasonable for config requests without credentials.

[2017-09-22 21:47] jridgewell commented on #11376
This is just a validator change, right?

[2017-09-22 21:50] taymonbeal commented on #11394
Have reproduced. Preferential rendering is flat-out broken on Safari 11; it spews various console errors and then falls back to one of the delayed modes. The problem is also independent of the crypto verifier experiment. Should we bump to P0?

[2017-09-22 21:53] jridgewell commented on #11288
Closed by #11299.

[2017-09-22 21:53] #11288 closed

[2017-09-22 21:54] honeybadgerdontcare commented on #11376
@jridgewell I believe it will require a CSP update as well.

[2017-09-22 21:56] jridgewell commented on #11394
If this causes no ad to display, then I'd say P0 (we'll patch prod and canary). If this just causes delayed fetch, I'd say P1 (will patch canary, goes to prod next week).

[2017-09-22 21:59] jridgewell commented on #11380
Re: https://github.com/ampproject/amphtml/issues/7654

[2017-09-22 22:01] taymonbeal commented on #11394
The ad does display.

[2017-09-22 22:06] rsimha-amp commented on #11385
I used the `drag and drop images from https://percy.io/docs/learn/baseline-picking-logic` tool.

[2017-09-22 22:08] cramforce commented on #11376
Yep. @camelburrito did this recently for typekit.

[2017-09-22 22:15] #11392 closed

[2017-09-22 22:54] chimura commented on #11384
I discovered that link through this page: https://www.ampproject.org/pt_br/docs/tutorials/create/presentation_layout

When I click "Como controlar o layout" it leads to a 404. But thanks for the correct link.

[2017-09-22 23:40] Gregable commented on #7231
/cc @camelburrito @honeybadgerdontcare

[2017-09-23 00:01] rsimha-amp opened #11397 "test/functional/inabox/test-inabox-viewport.js fails when run under chai 4"
Chai 4 isn't checked in yet, but I'm going to have to disable part of this test to let the rest continue to run after the chai upgrade.

[code]

See #11390

[2017-09-23 00:17] rsimha-amp opened #11398 "extensions/amp-access/0.1/test/test-amp-access.js fails when run under chai 4"
Chai 4 isn't checked in yet, but I'm going to have to disable part of this test to let the rest continue to run after the chai upgrade.
[code]
See #11390

[2017-09-23 00:20] rsimha-amp opened #11399 "extensions/amp-auto-ads/0.1/test/test-placement.js fails when run under chai 4"
Chai 4 isn't checked in yet, but I'm going to have to disable part of this test to let the rest continue to run after the chai upgrade.
[code]
See #11390

[2017-09-23 00:41] rsimha-amp commented on #9707
The upgrade to chai 4 has exposed several nasty bugs in the AMP test code. Luckily, fixes for all of them are coming up in #11390. Stay tuned.

[2017-09-23 00:44] rsimha-amp opened #11400 "test/functional/test-custom-element.js fails when run under chai 4"
Chai 4 isn't checked in yet, but I'm going to have to disable part of this test to let the rest continue to run after the chai upgrade.
[code]
See #11390

[2017-09-23 00:51] rsimha opened #11401 "extensions/amp-fresh/0.1/test/test-amp-fresh-manager.js fails when run under chai 4"
Chai 4 isn't checked in yet, but I'm going to have to disable part of this test to let the rest continue to run after the chai upgrade.
[code]
See #11390

[2017-09-23 00:55] rsimha-amp commented on #11401
@dvoytenko, assigning to you based on the `git log` of this file. Please reassign if needed.

[2017-09-23 00:55] rsimha-amp commented on #11400
@dvoytenko, assigning to you based on the `git log` of this file. Please reassign if needed.

[2017-09-23 00:55] rsimha-amp commented on #11399
@dvoytenko, assigning to you based on the `git log` of this file. Please reassign if needed.

[2017-09-23 00:55] rsimha-amp commented on #11398
@dvoytenko, assigning to you based on the `git log` of this file. Please reassign if needed.

[2017-09-23 00:56] rsimha-amp commented on #11397
@zhouyx, assigning to you based on the `git log` of this file. Please reassign if needed.

[2017-09-23 06:24] chogyi opened #11402 "AMP user's"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-09-23 17:28] #9707 closed

[2017-09-24 02:15] meistudioli opened #11403 "attribute - amp-access & amp-access-hide doesn't works well in amp-mustache"
Hi,

I use tag - "amp-list" to fetch some dynamic data and try to render them by amp-mustache.
I put some attribute "amp-access" & "amp-access-hide" in template to do some login only stuff.
It can be rendered but can not auto remove "amp-access-hide" when I switch login status.

I wonder it is an issue or it was prohibited to put form in template.

Have a nice day.

Paul

[2017-09-24 02:50] jcayzac opened #11404 "Can't bind aria attributes"
## What's the issue?
Unless I'm doing things wrong, ARIA attributes cannot be bound to a state. This hinders implementing proper accessibility.

## How do we reproduce the issue?
[code]

The state gets updated, and so do other attributes I've bound in my page (mostly just `[class]`).

## What browsers are affected?
Chrome 62.0.3202.29 for macOS.

## Which AMP version is affected?
AMP version 15060

[2017-09-24 05:43] trenzterra commented on #6243
Hi,

Sorry for reopening this. I noticed that overflow: hidden hides the scrollbar, but consequentially, this disables a swipe from happening on mobile enabled browsers.

Is there a workaround for this while still hiding the ugly 20px padding? Thank you.

[2017-09-24 14:45] camelburrito commented on #6243
Thanks for reporting- can you tell me which device /platform/browser?

[2017-09-24 16:54] diegodeodati opened #11405 "amp-user-notification DISMISS ON SCROLL"
There are some way to dismiss user notification (cookie e.g.) on scroll event??

[2017-09-24 19:44] ethereal-sandeep commented on #10385
@aghassemi  working on it. just need a bit more time before i could provide a ref to my wip branch. I will update soon.

[2017-09-24 21:58] arealit opened #11406 "Change transport for top100-analytics"

[2017-09-24 22:40] mattrohland opened #11408 "Document Preconnect Polyfill"
## What's the issue?

https://stackoverflow.com/questions/38339156/can-amp-errors-containing-the-string-do-not-worry-about-it-be-ignored/38346568

## How do we reproduce the issue?

In Mobile Safari AMP pages that include `<iframe>`s appear to be making network requests to the follow path "/amp_preconnect_polyfill_404_or_other_error_expected._Do_not_worry_about_it". This can be observed by monitor

[2017-09-24 23:11] #11312 closed

[2017-09-24 23:11] mrjoro opened #11409 "Weekly Status 2017-09-25"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-09-25 01:55] aghassemi commented on #11404
/to @choumx Hopefully low-effort, will high-impact for a11y

[2017-09-25 01:59] aghassemi commented on #11405
There isn't. May I ask what information is presented in the notification in your specific use-case? I personally don't believe scroll is a strong enough signal to dismiss user-notifications, specially since they are important for communicating Cookie policies. Maybe there are certain scenarios where it makes sense.

@spacedino @ericlindley-g

[2017-09-25 02:00] aghassemi commented on #11403
/to @dvoytenko

[2017-09-25 02:00] aghassemi commented on #11406
@arealit could you please provide more details

[2017-09-25 02:03] aghassemi commented on #11408
/to @bpaduch I know validator has a "errors" doc for errors and their meanings, we may wanna start one for AMP JS too.

[2017-09-25 02:03] #11402 closed

[2017-09-25 04:49] eric30 commented on #11253
Sorry for the late reply. I was unable to reproduce on actual iOS devices either. It's just I've got some feedback from developers that this does impact the development process.

[2017-09-25 10:18] arealit commented on #11406
@aghassemi changed transport settings for top100 counter in extensions/amp-analytics/0.1/vendors.js: set all types except image to false. All this changes are in linked PR.

What other details do you want?

[2017-09-25 11:35] skydry opened #11411 "Images embedded with amp-img are not shown in Safari on iOS"
## What's the issue?

When accessing the AMP-cached version of the following site with Safari on iOS, with amp-img embedded images are not shown.

## How do we reproduce the issue?

1. Access the site's AMP versions via Google SERPs on iOS: Search for "picdx isabelle mathers" on google.com:
<img src="https://user-images.githubusercontent.com/32090571/30803798-418d9a2a-a1eb-11e7-90ba-d9083e624256.P

[2017-09-25 14:04] prateekbh commented on #7695
@dvdyakonov: Do we the body in this case to be `FormData` or just `URLEncodedParams` String?
Asking cuz currently allowed body type is either object or array:
https://github.com/ampproject/amphtml/blob/master/src/service/xhr-impl.js#L66

[2017-09-25 15:17] aghassemi commented on #11406
@arealit I missed the linked PR you were sending to fix it. I assumed you were just raising a bug in AMP.

[2017-09-25 15:18] rsimha-amp commented on #9707
This is now fixed via an upgrade to chai 4, along with many other bogus assertions that were silently passing.

[2017-09-25 15:22] choumx commented on #11409
- Messaging `<amp-iframe>` (#11395)

[2017-09-25 15:32] rsimha-amp commented on #11409
- Re-adopted `yarn` as package manager of choice and v6 as `node` version of choice as  for AMP development (#11278)
- Enforced the use of `yarn` for installing dependencies (no more `npm install`) (#11368)
- Default ES6 lint checks used by AMP runtime are now run against `build-system/` (#11357)
- Fixed all lint errors in `build-system` (#11334 and #11365)
- Upgraded `chai` assertion library to v

[2017-09-25 16:40] #11394 closed

[2017-09-25 16:41] taymonbeal commented on #11394
@jridgewell, what do we need to do to get this cherry-picked?

[2017-09-25 17:12] cvializ commented on #11409
- Date picker
- amphtml-story eng effort
- fixit

[2017-09-25 17:28] camelburrito commented on #11411
@dvoytenko - this could be a P0

[2017-09-25 18:05] jridgewell commented on #11411
What version of safari?

[2017-09-25 18:11] jridgewell commented on #11409
- TC39 this week
- Various XHR fixits from last fixit week

[2017-09-25 18:14] camelburrito commented on #11411
@skydry - Thanks for taking time to report the issue. However i don't see picdx.com show up on SERP. Could you tell me how to reproduce this.

[2017-09-25 18:16] camelburrito commented on #11409
- AMP Start website design + template page implementation
- Template reviews + partner meetings
- Wrapping up bundling + staging deployment

[2017-09-25 18:18] jridgewell commented on #11411
https://www.google.com/amp/s/picdx.com/isabellemathersx produces the error. This looks a publisher CSS error, not an AMP issue.

[2017-09-25 18:31] jridgewell commented on #11394
/cc @zhouyx

[2017-09-25 18:32] jridgewell commented on #11411
Dupe of https://github.com/ampproject/amphtml/issues/11253.

[2017-09-25 18:32] #11411 closed

[2017-09-25 18:33] jridgewell commented on #11253
Promoting to P0, we've had a second report. Reproducible at https://www.google.com/amp/s/picdx.com/isabellemathersx in iOS Simulator and using Chrome's simulator.

[2017-09-25 18:42] rsimha opened #11414 "Write new visual diff tests for a4a components"
The following components owned by @ampproject/a4a do not have visual diff test coverage.

- [ ] amp-a4a
- [ ] amp-ad-exit
- [ ] amp-ad-network-adsense-impl
- [ ] amp-ad-network-cloudflare-impl
- [ ] amp-ad-network-doubleclick-impl
- [ ] amp-ad-network-fake-impl
- [ ] amp-ad-network-gmossp-impl
- [ ] amp-ad-network-triplelift-impl

**How to add a visual test:**

1. Create a simple test page for you

[2017-09-25 18:43] jridgewell commented on #11253
/cc @dvoytenko This has something to do with the iOS viewer.

[2017-09-25 18:46] rsimha opened #11415 "Write new visual diff tests for AMP components owned by @aghassemi"
The following components owned by @aghassemi do not have visual diff test coverage.

- [ ] amp-video
- [ ] amp-vimeo
- [ ] amp-youtube
- [ ] amp-app-banner
- [ ] amp-fx-parallax
- [ ] amp-lightbox
- [ ] amp-lightbox-viewer
- [ ] amp-viz-vega
- [ ] amp-form
- [ ] amp-facebook
- [ ] amp-social-share
- [ ] amp-izlesene
- [ ] amp-nexxtv-player
- [ ] amp-gist

**How to add a visual test:**

1. Create a

[2017-09-25 18:58] rsimha opened #11416 "Write new visual diff tests for AMP components owned by @camelburrito"
The following components owned by @camelburrito do not have visual diff test coverage.

- [ ] amp-accordion
- [ ] amp-font
- [ ] amp-sidebar
- [ ] amp-selector
- [ ] https://github.com/ampproject/ampstart
- [ ] amp-carousel

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amph

[2017-09-25 19:02] rsimha opened #11417 "Write new visual diff tests for AMP components owned by @dvoytenko"
The following components owned by @dvoytenko do not have visual diff test coverage.

- [x] amp-access
- [x] amp-access-laterpay
- [x] amp-audio
- [x] amp-list
- [x] amp-mustache
- [ ] amp-user-notification
- [ ] amp-anim
- [ ] amp-animation
- [x] amp-google-vrview-image
- [ ] amp-image-lightbox

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion

[2017-09-25 19:06] rsimha opened #11418 "Write new visual diff tests for AMP components owned by @jridgewell"
The following components owned by @jridgewell do not have visual diff test coverage.

- [ ] amp-dynamic-css-classes
- [ ] amp-fit-text
- [ ] amp-fx-flying-carpet
- [ ] Resources
- [ ] Layers

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or cre

[2017-09-25 19:08] rsimha opened #11419 "Write new visual diff tests for AMP components owned by @lannka"
The following components owned by @lannka do not have visual diff test coverage.

- [ ] amp-ad
- [ ] amp-auto-ads
- [ ] amp-experiment
- [ ] IntersectionObserver

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP b

[2017-09-25 19:11] rsimha opened #11420 "Write new visual diff tests for AMP components owned by @chenshay"
The following components owned by @chenshay do not have visual diff test coverage.

- [ ] amp-viewer-integration

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#components).

[2017-09-25 19:11] rsimha opened #11421 "Write new visual diff tests for AMP components owned by @choumx"
The following components owned by @choumx do not have visual diff test coverage.

- [ ] amp-bind

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#components).
2. Create a new

[2017-09-25 19:13] rsimha opened #11422 "Write new visual diff tests for AMP components owned by @cvializ"
The following components owned by @cvializ do not have visual diff test coverage.

- [ ] amp-install-serviceworker

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#components

[2017-09-25 19:14] rsimha opened #11423 "Write new visual diff tests for AMP components owned by @alanorozco"
The following components owned by @alanorozco do not have visual diff test coverage.

- [ ] amp-call-tracking

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#components).
2.

[2017-09-25 19:16] rsimha opened #11424 "Write new visual diff tests for AMP components owned by @erwinmombay"
The following components owned by @erwinmombay do not have visual diff test coverage.

- [ ] amp-live-list
- [ ] amp-slides

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#c

[2017-09-25 19:17] rsimha-amp opened #11425 "Write new visual diff tests for AMP components owned by @zhouyx"
The following components owned by @zhouyx do not have visual diff test coverage.

- [ ] amp-sticky-ad

**How to add a visual test:**

1. Create a simple test page for your component. (You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#components).
2. Create

[2017-09-25 19:19] rsimha-amp opened #11426 "Write new visual diff tests for AMP components owned by @avimehta"
The following components owned by @avimehta do not have visual diff test coverage.

- [ ] amp-analytics

**How to add a visual test:**

1. Create a simple test page for your component. You could use a portion of an existing page in [`examples/`](https://github.com/ampproject/amphtml/tree/master/examples), or create a new one based on [AMP by Example](https://ampbyexample.com/#components).
2. Creat

[2017-09-25 19:25] rsimha opened #11427 "Write new visual diff tests for AMP components that don't have an assigned owner"
The following components do not have visual diff test coverage. Since they don't have an assigned owner either, members of the AMP core team are encouraged to write a visual test for one or more components, send out a PR (annotated with this issue ID), and check the components off the list below.

- [ ] amp-reach-player
- [ ] amp-apester-media
- [ ] amp-reddit
- [ ] amp-soundcloud
- [ ] amp-playbu

[2017-09-25 19:28] jridgewell commented on #11411
To resolve this issue: Remove the `amp-img { z-index: -1 }` style.

[2017-09-25 19:28] jridgewell commented on #11253
Turns out #11411 is not a duplicate, just looked similar.

[2017-09-25 19:31] avimehta commented on #11426
`amp-analytics` doesn't contain any visual stuff. All the processing and side effects are network requests that go out from a page. I would lean towards closing this as WAI unless there is something clever you want us to do with opening devtools/monitoring network requests.

/cc @zhouyx

[2017-09-25 19:35] jridgewell commented on #11253
I'm able to reproduce this reliably by doing:

- Clear all data from `https://m-timesofindia-com.cdn.ampproject.org/c/m.timesofindia.com/amp_india`
   - Dev tools > Application > Clear Storage > Clear Site Data
- Go to https://www.google.co.in
- Search for "India News"
- Click Times of India result **below** carousel