[2018-06-29 01:08] jpettitt commented on #15752
@jridgewell Are we still seeing these errors ?

[2018-06-29 01:53] jridgewell commented on #15759
[code]

Sooooo many reports. All iOS. This is now a P0.

[2018-06-29 02:02] #16429 closed

[2018-06-29 02:02] rsimha commented on #16429
Reports are now available at https://codecov.io/gh/ampproject/amphtml/

[2018-06-29 05:04] nbonnotte commented on #16413
About the 2nd issue: it seems wrong to me to let the user believe their consent withdrawal is taken into account if that is not (yet) the case.

I you don't mind, I'm changing the title of the issue for something a bit more meaningful...

[2018-06-29 05:33] lepunk commented on #16435
@jpettitt thank you. our team is working on the design  doc as a priority, will update here shortly

[2018-06-29 09:07] mrinaljain commented on #16434
I am also facing the same problem..!!

[2018-06-29 12:38] psdtomanythings opened #16458 "Give an option to get rid of top shadow"
We recently built a story and the top shadow is kind of distractive. Having a class option of no-shadow will be helpful. Just add the class no-shadow to amp-story tag and the whole top inset drop shadow will be gone.

[2018-06-29 14:37] amnaaskari opened #16459 "Fixed layer: Sticky elements have scroll jitter since they can't be transferred"
## What's the issue?

Have implemented a new design on our share bar using "position:sticky" which essentially employs a conditional application of "position:fixed" on an element as soon as the user scrolls past it (before that it is taken as "position:relative"). This works fine if you load up the .amp version of the page in your browser (see: https://www.mirror.co.uk/science/two-second-earths-mo

[2018-06-29 14:44] zhangsu commented on #16042
Should this be reopened given that the PR is reverted?

[2018-06-29 14:47] alabiaga commented on #16042
@zhangsu Yes, thanks. I'll need to follow up and resolve this next week.

[2018-06-29 14:50] newmuis commented on #15675
We should now just be able to enable the `PAUSED_STATE` in the `pauseCallback` of `amp-story`, and disable it in the `resumeCallback`.

[2018-06-29 14:52] zaletskyi commented on #16210
Thank you But how I could check how auto reject consent for EEA users works? Cuz wit this code I didn't have anything saved in local storage.

[2018-06-29 14:53] newmuis commented on #15391
Fixed by #16260.

[2018-06-29 14:57] newmuis opened #16460 "Add visual diff tests for amp-story"
The initial attempt in #11682 ran into some issues, but now that the experiment is removed from 1.0, I believe we should be able to add these tests with no problem.

[2018-06-29 15:15] oliverfernandez commented on #16416
This is happening in AMP Shadows as well, whenever an AMP-AD with Doubleclick Fast Fetch implementation is used

![screen shot 2018-06-29 at 17 10 50](https://user-images.githubusercontent.com/1696239/42100231-ef6d409c-7bbf-11e8-9821-afa9d3850a7f.png)

https://www.thelondoneconomic.com/

We have detected this since 2 weeks ago approximately

[2018-06-29 15:33] fstanis opened #16461 "Multiple submit buttons in amp-form"
## What's the issue?

-   Using `<form>` with the `action-xhr` attribute ignores `name` (and `value`) of `<input type="submit">`
-   `formaction` attribute is not allowed

This makes it difficult to build forms with more than one submit button (one example is a dialog with a "Yes"/"No" question where both options should result in a POST).

## How do we reproduce the issue?

[code]
Pressing "Yes" c

[2018-06-29 16:46] jasti commented on #16140
@CanardSauvage, have you had a chance to look at @zhouyx's questions?  We are working on supporting the IAB implementation for all CMPs and want to make sure we consider your input. Thanks!

[2018-06-29 17:46] #16117 closed

[2018-06-29 17:49] jpettitt commented on #15752
@choumx @jridgewell Not sure what to do with this, I fixed the issue on the publisher side for the sites we convert.  Who should own the more generic case?

[2018-06-29 17:51] jpettitt commented on #16413
/cc @jasti @lannka

[2018-06-29 18:15] honeybadgerdontcare opened #16463 "Validator proto cleanup: change "allowed_protocol" to "protocol""
By default anything in a protoascii is allowed, so instead of stating something is allowed, it should just state what it is.

https://github.com/ampproject/amphtml/blob/master/validator/validator.proto#L57

[2018-06-29 18:16] honeybadgerdontcare opened #16464 "Validator proto cleanup: change "allowed_tag" to "tag""
By default anything in a protoascii is allowed, so instead of stating something is allowed, it should just state what it is.

https://github.com/ampproject/amphtml/blob/master/validator/validator.proto#L158

[2018-06-29 18:48] gmajoulet opened #16465 "Create a new scroll based experience for amp-story."
Masterbug

[2018-06-29 18:49] gmajoulet opened #16466 "Cleanup amp-story-scroll experiment."
Cleanup amp-story-scroll experiment.

[2018-06-29 18:53] honeybadgerdontcare opened #16467 "Validator proto cleanup: change "allowed_declarations" to "declaration""
By default anything in a protoascii is allowed, so instead of stating something is allowed, it should just state what it is.

Further, repeated fields should be singular, not plural.

https://github.com/ampproject/amphtml/blob/master/validator/validator.proto#L207

[2018-06-29 19:42] lannka commented on #15773
Duplicated with #16416

[2018-06-29 19:50] zhouyx commented on #16413
@nbonnotte I tested with the example page you provided. And analytics pings fire successfully after I click on accept.

When you refer to the user gives their consent, do you actually mean when user changes their consent right? which ends onthe the second issue that @jpettitt mentioned.

Right now it is by design that AMP only respect changed consent after page refresh. In most cases this makes se

[2018-06-29 19:53] lannka commented on #15773
The stack trace is actually different.

[2018-06-29 20:17] jridgewell commented on #15759
And another:

[code]

[2018-06-29 20:22] jridgewell commented on #15759
These are all coming from timers (or Promises), making me suspect that the content window has disappeared. Hence: https://github.com/ampproject/amphtml/pull/16469

[2018-06-29 20:31] jridgewell opened #16473 "Viewer does not provide cap=cid"
[code]

This is now the largest error, with some 260k reports in the last 12 hours.

[2018-06-29 20:31] jridgewell commented on #16473
/to @lannka

[2018-06-29 20:34] aghassemi commented on #16409
@sayalok You need to also set the `partnerLogo.chkRadio` to something else when lightbox opens. Otherwise your state would be out of sync with selected radio. (issue is state stays at `show-all` value but checked button is not, so next time `AMP.setState` is called with `show-all` it gets ignored since value did not change so it is considered noop.

`change:favorite-lightbox, AMP.setState({partner

[2018-06-29 20:34] #16409 closed

[2018-06-29 20:34] jridgewell commented on #15759
[code]

[2018-06-29 20:35] sparhami commented on #16431
This should work in theory, but I see an error that might prevent this from working correctly.

It looks like an assert is failing here for `<amp-youtube>`:

https://github.com/ampproject/amphtml/blob/942f22672f23ea4c25743e3dd9dcc0f9d9dbc2d9/src/utils/video.js#L116

when called from here:

https://github.com/ampproject/amphtml/blob/942f22672f23ea4c25743e3dd9dcc0f9d9dbc2d9/src/service/video-manager

[2018-06-29 20:37] aghassemi commented on #16410
/to @cvializ

[2018-06-29 20:38] jridgewell commented on #15759
Here's an android stack, so it's not just iOS:

[code]

[2018-06-29 20:38] aghassemi commented on #16410
setting as P1 since a it is  FR on a newly launched component. If there is a work-around feel free to lower priority.

[2018-06-29 20:43] aghassemi commented on #16437
@techleadzphp Your `setState` is filtering `allProducts`, it needs to filter `filteredProducts` if you want them to compound ( and initially set `filteredProducts` to `allProduct ` to make it easier)

For future, Stackoverflow or Slack channel would be better for these questions, we hope to reserve github for real bugs. Please see https://www.ampproject.org/support/developer/get_support for differ

[2018-06-29 20:43] #16437 closed

[2018-06-29 20:48] aghassemi commented on #16459
@jridgewell This one has `top:0` but not it is being transferred to FixedLayer. Not sure why.

[2018-06-29 20:49] newmuis commented on #16458
I think this will be tricky, since the top gradient is the only thing that ensures the system icons are visible.

/cc @hongwei1990

[2018-06-29 20:49] cvializ commented on #16410
There is no workaround, this can be one of the first V2 features.

[2018-06-29 20:51] aghassemi commented on #16461
/to @cvializ

Dup of https://github.com/ampproject/amphtml/issues/15919 (closing the other one since this is more detailed.).

Given few reports of this recently setting as P2.

[2018-06-29 20:52] aghassemi commented on #15919
Closing as dup of https://github.com/ampproject/amphtml/issues/16461

[2018-06-29 20:52] #15919 closed

[2018-06-29 20:54] aghassemi commented on #16414
@AcidRaZor I suggest using `amp-bind` to build your color selector. I will allow you todo custom logic based on number of selections, etc.. `amp-selector` precedes `amp-bind` and all of its functionality is doable in `amp-bind` with minimal work.

[2018-06-29 20:55] aghassemi commented on #16414
Closing per suggestion of using `amp-bind`. We do not plan to extend `amp-selector` with features already doable with bind.

[2018-06-29 20:55] #16414 closed

[2018-06-29 21:17] honeybadgerdontcare opened #16475 "Validator proto cleanup: change "allowed_versions" to "version" and "deprecated_versions" to "deprecated_version""
By default anything in a protoascii is allowed, so instead of stating something is allowed, it should just state what it is.

Further, repeated fields should be singular, not plural.

https://github.com/ampproject/amphtml/blob/master/validator/validator.proto#L335

[2018-06-29 21:22] jridgewell commented on #16459
Only fixed position elements can be transferred, or it would break the sticky's positioning (how it stays just below the header area until it's at the top of the page).

[2018-06-29 21:32] choumx commented on #16322
Downgrading to P2 now that a bandaid has been applied.

[2018-06-29 21:49] nainar commented on #15821
I can't seem to repro it using a Safari 11 on iOS 11.
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/7919520/42116332-97f57ba4-7bab-11e8-985d-f6dea89f552d.gif)

What version of Safari are you using?

[2018-06-29 22:07] jridgewell commented on #15759
I CAN TRIGGER IT!!!!

1. Open iGSA
2. Search for something that triggers AMP, eg [america's got talent]
3. Open an AMP result
4. Close the result
5. Search for a new result, eg [trump]

I think this is definitely related to how windows get unloaded. Since it's not a user facing issue (it happens on unload), we can safely downgrade it to p1. Let's hope #16469 filters it.

[2018-06-29 22:11] jridgewell commented on #15759
Even better:

If you put a breakpoint on the error logs, navigate to [trump], then use the back arrow, it always triggers the breakpoint!

[2018-06-29 22:15] choumx commented on #15759
Nice find! And thanks for taking this on.

[2018-06-29 22:23] prateekbh commented on #15255
I cant find any more of these running `gulp lint`. Is this to be closed now?

[2018-06-29 22:23] jridgewell commented on #15759
Actually, it comes up every time you do any request with iGSA.

[2018-06-29 22:49] jridgewell commented on #15759
The root cause is https://github.com/ampproject/amphtml/blob/master/src/element-service.js#L229 from the stack traces. But (when this error happens), we only have the following services registered:

1. ampdoc
1. chunk
1. viewer
1. performance
1. platform
1. crypto
1. batched-xhr
1. documentState
1. templates
1. timer
1. vsync
1. xhr
1. input
1. url
1. cid
1. documentInfo
1. viewport
1. history
1.

[2018-06-29 23:00] lannka commented on #16473
This is an expected error.

[code]

Not sure why it shows up in the bug report. It is there to track if all Viewers have migrated over.

[2018-06-29 23:03] jridgewell commented on #15759
It's the trying to get amp-consent on [this page](https://amp-usatoday-com.cdn.ampproject.org/c/s/amp.usatoday.com/amp/737042002). `amp-consent` is element defined, so it tries to get the `extensions` service to wait for the `amp-consent` element. But, `extensions` hasn't been registered yet.

[2018-06-29 23:17] jridgewell commented on #16473
Expected errors aren't throttled any more than regular errors, they're just sent to a different bucket. So the question is how many millions of AMP pages are loaded with a non-capable viewer?

If this is necessary for metrics, maybe CSI would be better.

As it is, it's noisy and isn't actually an error.

[2018-06-29 23:22] choumx commented on #16124
I've noticed the following happening occasionally:

 DESCRIBE => Resources discoverWork
  IT => "after each" hook for "should NOT rerender anything"
    ✗ Unexpected call: getRect() at setState@/tmp/src/finite-state-machine.js:73:6 <- /tmp/6a9de7f3c7561ff1cd02fe96d61e6c30.browserify:65031:15
    Unexpected call: getRect() at setState@/tmp/src/finite-state-machine.js:73:6 <- /tmp/6a9de7f3c7561ff1cd

[2018-06-29 23:42] jpettitt opened #16485 "built in elements can run before extension service is instantiated"
`amp.js` calls `installBuiltins()` before it calls `adopt()`.  If a built in element tries to use a service provided by an extension, for example `amp-consent` it will fail in `waitForExtensionIfPresent()` due to extension service is not being instantiated until `adopt()` is called.

Fixed in #16484

[2018-06-29 23:43] jridgewell opened #16486 "🌸 Cherry pick request for 15759 into 16484 (Approved)"
**GitHub issue your cherry pick is fixing:**

Issue #15759

**PR that you are requesting a cherry pick for:**

PR #16484

**Release(s) you requesting this cherry pick into:**

Production Release? Release Issue #16388

Canary release? #16447

**Why does this issue meet the [cherry pick criteria]**

Any builtin element (`amp-img`, `amp-pixel`, `amp-layout`) that is tagged with a `data-block-on-conse

[2018-06-29 23:45] jridgewell commented on #16485
Dupe of https://github.com/ampproject/amphtml/issues/15759.

Sorry, meant if you could file an issue for an "AMP is ready" promise.

[2018-06-29 23:45] #16485 closed

[2018-06-29 23:49] jpettitt opened #16487 "Create `waitForRuntimeReadyPromise ` promise."
Background:

amp.js calls installBuiltins() before it calls adopt(). If a built in element tries to use a service provided by an extension, for example amp-consent it will fail in waitForExtensionIfPresent() due to extension service is not being instantiated until adopt() is called.

This has been fixed temporarily (#16484) the longer term fix is to replace `waitForBodyPromise` with a new `waitFor

[2018-06-30 00:01] cramforce commented on #16486
Is this really a P0?

How long has it been broken?

This is a relatively risky change to patch into prod, because there might be race conditions the other way around.

[2018-06-30 00:04] jridgewell commented on #16486
It affects any builtin within the first 20 elements on a page that has a `data-block-on-consent`. I can trigger it reliably on Chrome by querying for [usa today] and clicking the first result.

[2018-06-30 00:07] jridgewell commented on #16486
Original code was https://github.com/ampproject/amphtml/pull/15784, which went to production 2 weeks ago.

[2018-06-30 00:10] cramforce commented on #16486
Approved for canary only. Let's bake it over the weekend and then cherry
pick to stable on Monday.

On Fri, Jun 29, 2018, 5:07 PM Justin Ridgewell <notifications@github.com>
wrote:

[2018-06-30 00:55] #15759 closed

[2018-06-30 01:34] jridgewell opened #16488 "🚄Release tracking issue for release 1530320824316 (Production)"
# Release tracking issue

- [x] Release [1530320824316](https://github.com/ampproject/amphtml/releases/tag/1530320824316) is cut as a new canary release
- [x] Release 1530320824316 pushed to Dev Channel
- [x] Release 1530320824316 pushed to 1%
- [x] Release 1530320824316 pushed to production

See the [release documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-sch

[2018-06-30 01:34] jridgewell commented on #16488
This is a cherry-pick of https://github.com/ampproject/amphtml/issues/16486 onto canary https://github.com/ampproject/amphtml/issues/16447.

[2018-06-30 01:35] jridgewell commented on #16447
Moving to https://github.com/ampproject/amphtml/issues/16488 after patching with cherry-pick https://github.com/ampproject/amphtml/issues/16486.

[2018-06-30 01:35] #16447 closed

[2018-06-30 04:56] psdtomanythings opened #16489 "AMP Story jumping 2 slides while using AMP Ad Auto Start"
The story marker at the top is jumping by 2 positions while the story slide changes by just one. Check attached video for the same.

![ezgif-2-554b13f344](https://user-images.githubusercontent.com/22929187/42121606-f842adfc-7c4f-11e8-862a-9e1f85636864.gif)

[2018-06-30 09:59] tomayac opened #16490 "AMP Date Picker opens keyboard on iOS"
Click a date input field on iOS, the keyboard opens and arbitrary text can be entered. The date picker fully works, but the keyboard should not open (I believe iOS opens it when the input field has the focus, so programmatically unfocusing might work).

![52a73c08-9ca7-46dc-b598-05ec6900068f](https://user-images.githubusercontent.com/145676/42124068-bf4e1132-7c5c-11e8-86c5-eb1cbfdf202d.png)

[2018-06-30 14:16] amnaaskari commented on #16459
Maybe using “Intersection Observer” would help cos you can conditionally put in the Fixed Layer depending on position?

[2018-06-30 16:20] aghassemi commented on #16490
Thanks @tomayac. Duplicate of https://github.com/ampproject/amphtml/issues/14017
/cc @cvializ

[2018-06-30 16:20] aghassemi commented on #16490
closing as dup of https://github.com/ampproject/amphtml/issues/14017

[2018-06-30 16:20] #16490 closed

[2018-06-30 16:20] aghassemi commented on #14017
another report: https://github.com/ampproject/amphtml/issues/14017

[2018-07-01 09:36] dinarenergy commented on #16208
with same code template amp blogger
}
#chatwa {
display:scroll;
position:fixed;
bottom:5px;
left:5px;
z-index:999999
}
#chatweb {
display:scroll;
position:fixed;
bottom:5px;
right:5px;
z-index:999999
}
in this web https://testdinar.blogspot.com button chat gif working position fixed if scrolling
but in this web
https://www.dinar-energy.com
chat gif button not working

because I use custom redirect

[2018-07-01 11:38] newmuis commented on #16489
This is a duplicate of #14635.

It's not limited to amp-story-auto-ads, and no pages are actually skipped, it's just a confusing UI paradigm.  We have a fix in mind that will hopefully resolve that confusion.

[2018-07-01 11:38] #16489 closed

[2018-07-01 18:00] tewdin opened #16496 "Better way to use amp-sidebar and multiple menu layers"
I really like AMP HTML and want to do full AMP HTML web stores and websites, but there is no good way to make normal menus without doing menu items twice. I don't like doing things twice if I can do it simple. Normally, companies do not want menu button to desktop version, but visible menu with multiple layers.

So, there is two problems:
- Amp-sidebar should be visible if needed without pressing

[2018-07-01 18:34] jaygray0919 commented on #14282
Thank you Ali @aghassemi and Adam @adamsilverstein - the modification corrected the problem we had with `\[x\]` which is now correctly rendered here: https://afdsi.org/test/amp_mathml_1/

[2018-07-02 05:34] sayalok commented on #16409
thanks for your feedback. And i posted on stackoverflow with amp tag but i don't get any response there.

[2018-07-02 09:16] lealff opened #16499 "AMP page rending slowly and have white screen"
click and switch to a new page will wait 2-5 seconds and have white screen until the page is presented。
according the network request records and find belows:
failed to access the request:https://www.google.com/ads/ga-audiences
also sometimes the https://www.google-analytics.com/r/collect will auto request twice. the first is 200 but reponse a black page . the second request is normal and statu co

[2018-07-02 12:51] 88kbbq commented on #6516
With this requirement, it's impossible to create responsive forms. Please axe this meaningly restriction.

[2018-07-02 14:20] 88kbbq opened #16500 "The attribute 'submit-success' may not appear in tag 'div'"
I've read other closed issues, but this is a really bad restriction. Can someone explain the reason behind this 'div' form issue? Why must the attribute 'submit-success' not appear in tag 'div'? This makes it very difficult to make a responsive form, especially when our entire site is valid AMP.
[code]
Please suggest a way to break a form into several parts so there won't be a single column form o

[2018-07-02 15:30] #14747 closed

[2018-07-02 15:30] #14744 closed

[2018-07-02 15:31] #14746 closed

[2018-07-02 15:39] jpettitt commented on #16499
`/r/collect` firing twice is normal if you have analytics integration enabled for ads. It fires once to the analytics endpoint and then redirects to the ad server.

Can you post a link to a page that's failing to render?  AMP has a couple of timeouts in the design to catch errors that would otherwise leave a blank screen (one for extension that fail to load and another in the CSS catches the case

[2018-07-02 15:41] jpettitt commented on #16496
`amp-bind` gives you a way of adding / removing aritary CSS classes based on user interaction, you can then use media queries to hide the button and show the menu.  It will also let you create more complex structures like nested menus.

[2018-07-02 15:42] #16496 closed

[2018-07-02 16:01] ericlindley-g opened #16501 "[Master feature] Ideation to better support for dynamic content"
Developers have a range of options in AMP for supporting dynamic data (data that changes based on user-related parameters) when served from a cache: amp-list, amp-geo, amp-bind, etc. However, AMP does not currently offer good support for a number of remaining use cases. This issue tracks the task of identifying additional use cases and brainstorming with core AMP contributors how to better support

[2018-07-02 16:05] choumx opened #16502 "amp-list: Rendering sometimes outside mutate context"
`layoutCallback` and `mutatedAttributesCallback` are invoked within mutate contexts. However, now that amp-list uses a pass scheduler to avoid race conditions, rendering triggered from `mutateAttributesCallback` is asynchronous and thus not invoked in a mutate context.

[2018-07-02 16:10] ericlindley-g commented on #14061
Moving additional data to comment:

Status: **Invalid/experimental**

Related issues:

#15218

Related PRs:

- [x] Cleaned up old implementation: #14614
- [ ] Baseline implementation: #14961

Upcoming:

- [ ] Animate flick to dismiss using flick vector.
- [x] Figure out fixed header/footer/custom boundaries. (Dock to container)
- [ ] Implement dock to container (arbitrary slot element).
- [ ] Use

[2018-07-02 16:11] QES commented on #15780
I think using some of the ideas in amp-live-list in amp-list to allow for the best of both with using amp-list to collect data and setting it to refresh or allow some kind of push notification or other polling initiatives would be very useful.

One of the uses I have for amp-list is to load a widget with a bunch of latest updates at the moment the user has to request a refresh but having a way to

[2018-07-02 16:17] ericlindley-g opened #16503 "[Master feature] amp-video-iframe"
amp-video increasingly supports engaging and useful video features (analytics, muted autoplay, minimize-on-scroll), and some third-party players have adopted these features through video interface as well. However, single-business custom players can't get these features because they slip through the cracks: implementing them as new components isn't a good approach for AMP since they're not broadly

[2018-07-02 16:28] choumx commented on #16011
Continuing discussion here since an error event won't work.

This might be a good candidate for "amp-fresh" -- a UI component that (1) waits for dependent fetches to finish (#11998) and (2) then evaluates bindings in its children. /cc @ericlindley-g

(2) currently exists in amp-list but we've talked about extracting it from the next version of amp-list (along with rename etc.). /cc @aghassemi

[co

[2018-07-02 16:30] ericlindley-g opened #16505 "Ads and video support for amp-lightbox-gallery"
Follow up on the initial launch for amp-lightbox-gallery with basic support for video and the highly-requested feature of ads support inside the lightbox view

[2018-07-02 16:33] ericlindley-g opened #16506 "[Master feature] amp-pan-zoom"
Implement the ability to pan and zoom on interactive content in order to support finely detailed interactive use case (e.g. seat pickers in ticketing transaction flows)

[2018-07-02 16:36] ericlindley-g opened #16507 "[Master feature] amp-list v2"
amp-list addressed a number of critical use cases when AMP first launched, but developers have struggled with a set of smaller issues that make the component generally hard to use. This issue is to fix those issues and relaunch under a new name.

- Re-launch amp-list with a new—clearer—name
- Support easier templating
- Support amp-bind expression evaluation on load
- Integrate more seamlessly wit

[2018-07-02 16:37] ericlindley-g opened #16508 "[Master feature] Improve basic amp-carousel UX"
Fix some low-hanging fruit for amp-carousel UX, including better visual and interaction design for the slide-advance affordances.

- Better advance affordance visual design (improved arrow icon)
- better "hint" affordance (currently appears and disappears without optimal timing—there could be a better pattern)

[2018-07-02 16:41] ericlindley-g opened #16509 "[Master feature] amp-carousel v2"
Re-factor and re-launch a new version of amp-carousel to address a number of user & developer needs, including dynamic & responsive content, UX updates, and using amp-carousel outside of the context of valid AMP

*Fix some low-hanging fruit for amp-carousel UX*

- Better advance affordance visual design (improved arrow icon)
- better "hint" affordance (currently appears and disappears without opti

[2018-07-02 17:33] AndrewKGuan opened #16510 "Should the 'role' attribute be allowed on AMP?"
Right now if someone tries to add the 'role' attribute on AMP for  ARIA 1.0, it'd fail validation:
<input name="quantity" type="number" **role="textbox"** class="quantity"  maxlength="2" />
Should it be allowed?

[2018-07-02 17:41] mrjoro commented on #16264
# amp-story
contact: @newmuis

## What was accomplished

- Initial prototype of new desktop experience
- Engineering design complete for paywalls in amp-story
- Added ability to add links to external URLs in amp-story-consent
- Stories are now paused when modals are shown
- Fix for using source origin in bookend urls
- Prototype of responsive scaling experience (to use vh/vw in stories)
- Added ab

[2018-07-02 17:42] cathyxz commented on #12929
See description edit for updates, in short we can resume this after #11575.

[2018-07-02 17:43] mrjoro commented on #16264
# Ads & Analytics
contact: @lannka

## What was accomplished
Ads

- [Done] 3P ad doc improvement
- [Done] Story ads analytics
- [Done] Story auto-ads bug fixes
- [Done] IMA SDK request with wrong referrer
- [Done] Sponsored story viewer design

Analytics

- [Done] “organic” traffic shifted to “direct” in GA reporting
- amp-consent
- [Done] External consent flow using amp-iframe
- [Done] Send remot

[2018-07-02 17:45] mrjoro commented on #16264
# UX
contact: @spacedino

## What was accomplished

- Keep working on [loading states](https://github.com/ampproject/amphtml/issues/16313) / amp-next-page / amp-video docking / GDPR QA  / Video rotate example QA
- Launch - amp-fx [fly-in](https://ampbyexample.com/components/amp-fx-collection/)

## Lessons learned

- There are so many things UX could be working on, knowing why something is importan

[2018-07-02 17:49] mrjoro commented on #16264
# amp-script
contact: @kristoferbaxter

## What was accomplished

- Rollup Closure Compiler Plugin
- Element Properties

## What's next

- Security and Sanitization
- OSS Rollup Closure Compiler Plugin

[2018-07-02 17:51] mrjoro commented on #16264
# Runtime
contact: @choumx

## What was accomplished

- Layers CSI design doc
- SVG support in amp-mustache-0.2.js
- “SSR templates” progress (AMP4EMAIL)
- amp-bind: FixedLayer support
- Various runtime bugs
- Debugging production errors

## Lessons learned
- Pass elements or AmpDoc but *not* Document to getServiceForDoc()

## What's next
- Implement Layers CSI
- Finish “SSR templates” (AMP4EMAIL)

[2018-07-02 17:55] mrjoro commented on #16264
# Infrastructure
contact: @rsimha

## What was accomplished

- Onboarding Sauce labs
- Disconnect issues
- Greenkeeper → Renovate
- Build cop rotation
- Tech debt shouldn't affect external contributors
- Fewer strict checks
- Fixed more async tests
- Flaky ABE visual tests
- Type coverage in AMP code is < 80%
- Bundle size reduction (contact @kristoferbaxter)
  - 100s of JSDoc fixes
  - 100% Singl

[2018-07-02 17:55] #16264 closed

[2018-07-02 17:59] cathyxz commented on #16510
I believe this is whitelisted under global attributes, as well as individually for the `<a>` tag and `<button>` tag, but for some reason not whitelisted for `<input>`.
https://github.com/ampproject/amphtml/blob/bbf2aca64c2ca1fe4eca03b00adcb566d5389ff8/validator/validator-main.protoascii#L3524

@honeybadgerdontcare do you know why?

[2018-07-02 18:03] jaygray0919 commented on #16509
@ericlindley-g Eric, here's a preliminary attempt to do some of what you describe: https://afdsi.org/test/amp_list_carousel/. We had help from @jpettitt John Pettitt here. How can we improve this approach? What does it fail to do that you want to do? We had to 'hard-wire' your second bullet and would like to fit a series of images - perhaps with different widths - into a viewpaort

[2018-07-02 18:03] honeybadgerdontcare commented on #16510
`role=` is whitelisted and validates. @AndrewKGuan could you give a code sample where this is failing validation?

closing till an example shows it failing.

[2018-07-02 18:03] #16510 closed

[2018-07-02 18:04] cathyxz commented on #16500
/to @cvializ maybe?

[2018-07-02 18:22] newmuis opened #16512 "Allow deferring clicks on elements in amp-story-grid-layer"
When an element is clicked in `amp-story-grid-layer`, we would want to defer its action until later (after the user has provided a confirmation that they would like to take the action).

[2018-07-02 18:37] ericlindley-g commented on #16509
Looks great! (though on mobile I'm not seeing any carousel content)

/cc @aghassemi for thoughts/feedback on the approach.

It's hard to tell what's missing given the issue seeing what loads on mobile, but my bet is that by adding straightforward declarative markup to the components themselves we could make this process a lot easier.

[2018-07-02 19:17] newmuis commented on #15898
The validator should be sufficient

[2018-07-02 19:17] #15898 closed

[2018-07-02 19:21] newmuis commented on #11649
This already works this way.

[2018-07-02 19:21] #11649 closed

[2018-07-02 19:21] jpettitt commented on #16509
What I'd love to see is something that looks like the snippet below which feels like "obvious" way I'd try to do it as a page developer after reading the `amp-list` doc.

[code]

[2018-07-02 19:35] #12557 closed

[2018-07-02 20:13] kevinkassimo commented on #16310
Claiming this issue.

[2018-07-02 20:14] newmuis opened #16516 "Implement amp-story tooltip UI"
Given an element as its anchor, we should have a tooltip UI that looks like:

![screen shot 2018-07-02 at 2 26 59 pm](https://user-images.githubusercontent.com/1651960/42180133-1217cb58-7e04-11e8-84d8-add898cd5ffc.png)

The icon and string should both be specified as attributes from the anchor element.  The string can have a runtime-specified default (e.g. "Tap to view").  The action icon should b

[2018-07-02 20:26] jridgewell opened #16519 "amp-consent: JSON parsing error"
[code]

This should be a user error, not a dev one.

[2018-07-02 20:32] newmuis opened #16520 "Implement stories-specific lightbox UI"
For publishers that use `<amp-lightbox>` within `<amp-story>`, we need a customized UI that shows a consistent close button and has a default top padding to allow space for the close button.  We should also hide the normal system UI.

[2018-07-02 20:39] newmuis opened #16521 "[Master feature] Allow tapping on elements in amp-story-grid-layer"
For any clickable element outside of amp-story-cta-layer, we should show a tooltip that defers the action until after the user has clicked on the tooltip.

- [ ] [Intercept clicks and defer action until later](https://github.com/ampproject/amphtml/issues/16512)
- [ ] [Implement tooltip UI](https://github.com/ampproject/amphtml/issues/16516)

![Flow diagram depicting the user tapping on a link to g

[2018-07-02 20:44] #16310 closed

[2018-07-02 20:49] jpettitt commented on #16508
I'd love to see caption handling built in.  The issue is that one slide may have a caption that's three words eg  "Photo: John Pettitt" and the next will have a 25 word description. With the single height for all slides requirement on `amp-carousel` this becomes problematic to implement well.  Typically a caption is partially shown if it overflows and `amp-bind` or `selected` used to expand it ove

[2018-07-02 20:57] newmuis opened #16522 "[Master feature] Increase component support for Stories"
Currently `<amp-story>` supports few AMP elements as descendants.  We should improve the component support for stories.

- [ ] [Support video-interface videos](#15847)
- [ ] Support iframe-based components (`<amp-twitter>`, `<amp-instagram>`, etc.)
- [ ] Support lightbox (#16520, #16521)

[2018-07-02 21:07] cramforce commented on #15583
I just wanted to follow up on this. Would it makes sense to set up some dedicated time for this topic to discuss on hangouts?
CC @pbakaus @amedina

[2018-07-02 21:39] ericlindley-g commented on #16508
@jpettitt Good call — likely won't be completed in this activity, but adding that to the list of needs for amp-carousel

[2018-07-02 22:03] #8791 closed

[2018-07-02 22:04] alanorozco opened #16527 "Release tracking for 1530567757224"
- [x] Push 1530567757224 to production

[2018-07-02 22:08] jridgewell commented on #15125
Stack trace is:

[code]

The issue here is amp-web-push is using a regular service registration, instead of an element service registration.

[2018-07-02 22:10] amnaaskari commented on #16459
hey guys any update on this?

[2018-07-02 22:42] newmuis opened #16532 "[Master feature] Allow custom sidebar content in stories"
We should allow publishers to specify arbitrary custom content to be shown in a sidebar.  The API and documentation should make it clear that every platform has the ability to display or not display this content.  The sidebar can contain both runtime-specified content (configurable by viewer) and publisher-specified content.

Some examples:

![screen shot 2018-07-11 at 12 26 38 pm](https://user-im

[2018-07-02 22:53] cvializ commented on #16500
Thanks for reporting this! Sorry the validator message is not as clear as we'd like it to be. I can't find any documented reason for not adding the ability to put form templates outside of the first-child level of the form. Seems like a missed requirement. I put it in our fixit sprint milestone, so we should address this in the coming weeks.

[2018-07-02 22:54] newmuis opened #16533 "[Master feature] Design/test a new desktop experience for stories"
- [x] Create a prototype of a new desktop experience
- [x] Test the prototype
- [x] Integrate feedback
- [x] Design a launch/rollout plan
- [x] Roll out the new desktop experience

[2018-07-02 22:58] newmuis opened #16534 "[Master feature] Improve video playback reliability for stories"
See also:

- #12728
- #12072
- #12865
- #12878

/cc @alanorozco

[2018-07-02 23:01] newmuis opened #16535 "[Master feature] Add new analytics for stories"
- [ ] Add an analytics trigger for when the user education overlay is shown (#15420)
- [ ] Add an analytics trigger for when the video spinner is shown
- [ ] Add an external facing classname for bookend links, so clicks can be tracked with `<amp-analytics>`

[2018-07-02 23:44] cathyxz commented on #10230
I've attempted to edit this issue description to summarize all the use cases I'm seeing noted in this thread as well as internal documentation. @ericlindley-g can you let me know if I'm missing anything here?

### FR Specifications
Dynamic resizing needs to cover the following cases:
1. Users interacting with the content inside the list can cause the contents to change size:
  a) Opening / closing

[2018-07-02 23:56] ericlindley-g opened #16536 "[Master feature] Experimental availability of amp-script"
amp-script is being developed in order to support a much broader set of interactivity in AMP and interoperability with non-AMP libraries & frameworks. This issue tracks the experimental release of amp-script. The viability of amp-script in production is still being investigated

• Allowing 3P JS (i.e. web apps) to run on a supervised worker with constrained mutation of the page.
• Generate the sta

[2018-07-03 00:34] torch2424 commented on #16264
Great work! 👏 👏 👏

[2018-07-03 01:15] newmuis commented on #16521
/cc @choumx for his expertise with AMP actions and events, which will probably be needed for this feature.

[2018-07-03 01:18] newmuis commented on #16532
I would love it if we could find a way to use `<amp-sidebar>`'s API (with some restrictions on validation when used within `<amp-story>`) to make this happen.

I think it may also make sense to introduce some concept like an `<amp-story-system-layer>` element that encapsulates custom system components like this, with the understanding that all custom system components are subject to be removed by

[2018-07-03 01:21] newmuis commented on #16532
I'm hoping @addieachan might have some bandwidth to take this on after her work on #15562.

[2018-07-03 05:31] vamshi5889 commented on #10230
@cathyxz This is really good as you covered most of the use cases around it.

We have to cover one more resizing scenario where the view/display gets changed through classes.

Below two images are part of my AMP page. I had a requirement to toggle the view of products (grid - list) and in this case i'm not changing the [state] or [src]. I am toggling the classes on tapping the grid/list icon (can

[2018-07-03 07:18] Rzial commented on #9461
Hi, do we have anything new on this?

I'm developing a PWA with shadow-v0 that try to use amp-ads but i cannot use them on non-AMP parts with v0.

I tryed to use amp-ads under a dinamically created shadow root that just have an ad but it still fails because the lazy loading fires when the ad just trespassed the viewport topside. Also, shadow root fails on using amp-sticky-ads because the inner sha

[2018-07-03 07:54] reinhardmohr opened #16538 "Missing css style makes Googlebot render a site falsely with heavy consequences for ranking"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-07-03 09:04] kul3r4 commented on #16011
Thanks Will for summarizing this!
How does this differ with components that have an error handling, for example amp-form? Could it be counter intuitive that for some we provide the error handling inside the component and for others you have to use a different one?

[2018-07-03 10:23] wustzdd commented on #13716
@zhouyx Thank you for your sharing. But I have a question. In order not to collect any data, the Facebook pixel needs to be revoked before receiving the consent. Once accepted by customer, the Facebook pixel needs to be granted, How can I deal with it in the amp project? You can see the Facebook document:https://developers.facebook.com/docs/facebook-pixel/events-advanced-use-cases/v3.0

[2018-07-03 10:46] shawkivai commented on #15792
Please let me know when the action is updated at production. We need it badly.
Thanks in advance.

[2018-07-03 11:10] AcidRaZor commented on #16538
Try putting your boilerplate CSS after your Custom CSS

[2018-07-03 11:20] QES commented on #15651
Is there a way to make amp-consent work with the IABs https://advertisingconsent.eu/ consent framework and integrate into the advertising tools that they provide and pass to ad units.

[2018-07-03 11:23] QES commented on #16507
Keen to see how this evolves.  Once I got my head around how amp-list works it created some great opportunities to customise pages and these additions sound great.

[2018-07-03 13:12] AcidRaZor commented on #16414
@aghassemi Would you be so kind as to give an example of how amp-bind can be used in place of amp-selector and how I would achieve catching "select" and "deselect" events so I can count how many was selected and stop a person from selecting more? amp-bind seems it won't work for this at all tbh. And since the internet is devoid of anyone going into more detail or tutorials about AMP, it would be h

[2018-07-03 15:08] jpettitt commented on #16538
Please file this as a bug against https://github.com/ampproject/ampstart

[2018-07-03 15:09] jpettitt commented on #16538
cc / @pbakaus

[2018-07-03 16:00] aghassemi commented on #16414
@kul3r4 @sebastianbenz Is there a ABE sample using `bind` similar to what @AcidRaZor likes to do (seems similar to seat picker)? If not, would you be able to help him out? Thanks!

[2018-07-03 16:08] rudygalfi commented on #13716
@jeffjose @zhouyx: In order to address @wustzdd's question, could we introduce some delay logic on amp-pixel so it will wait until consent is resolved? cc @jasti

[2018-07-03 16:35] cvializ commented on #15792
Looks like it's in production now https://ampb.in/#-LGVzlYZH2IQWWn2ZbhY

[2018-07-03 16:58] choumx commented on #16011
Fair point. We could add success/failure templates to `amp-state` like I said, but then we're basically recreating `amp-list`. Instead, maybe we can allow `amp-list` to also act as `amp-state` and seed the global bindable state.

[code]

[2018-07-03 17:02] jasti commented on #13716
@wustzdd amp-pixel already supports the `data-block-on-consent` attribute which allows amp-pixel pings to be held back until consent is received from the user as described here: https://github.com/ampproject/amphtml/issues/13716#issuecomment-388915569
Please let us know if that doesn't work for your use case.

[2018-07-03 17:04] #16502 closed

[2018-07-03 17:14] #16036 closed

[2018-07-03 17:30] calebcordry opened #16545 "♻️test-amp-auto-ads needs to be refactored"
This has not be touched in quite a while and has several failing tests.  The first test has `asyncConsoleError` problems and there are several more that are yet to be determined.

A contributing factor could be that `buildCallback` is called by the `runtimeOn: true` config, as well as manually called later.

[2018-07-03 17:30] calebcordry commented on #16545
<img width="1546" alt="screen shot 2018-07-03 at 10 23 31 am" src="https://user-images.githubusercontent.com/16087874/42235260-1d1408ca-7eac-11e8-9e92-db4a174f9a15.png">

[2018-07-03 17:30] choumx commented on #11881
This is now live in the validator and amp-mustache support will be enabled in canary/prod in #16544.

[2018-07-03 17:30] #11881 closed

[2018-07-03 17:33] calebcordry commented on #16545
![image](https://user-images.githubusercontent.com/16087874/42235419-9095e188-7eac-11e8-9224-b2b616a9b845.png)

[2018-07-03 17:37] gmajoulet opened #16546 "Story video displaying the controls UI"
On this very specific story, the video controls UI are visible:

https://www.washingtonpost.com/graphics/2018/lifestyle/amp-stories/rico-nasty-a-21st-century-rap-star/

How to reproduce:

1. Go to page 3
2. Unmute the video
3. You may or may not see the controls already. If you don't try navigating back and forth

The `controls` attribute is added by [this method](https://github.com/ampproject/amp

[2018-07-03 17:44] jridgewell commented on #15887
http://go/ampe/CIWiha3Pmfuy4wE

[2018-07-03 18:08] zhouyx commented on #15238
The PR has been merged. As mentioned before, the you can put a `onUpdateHref ` to get update whenever the localstored consent state changes.

[2018-07-03 18:08] #15238 closed

[2018-07-03 18:29] #16546 closed

[2018-07-03 18:59] #16527 closed

[2018-07-03 19:46] abdelbolanos-cbc commented on #13433
@newmuis any update on this one?, this bug is really annoying. Thanks

[2018-07-03 19:53] ericlindley-g commented on #15583
+1  I just commented on a related thread before seeing this. I'll set up a strawman time to discuss on hangouts

[2018-07-03 20:14] zhouyx commented on #16308
to @lannka I believe you have better context here.

Also this can also be one of the reason to fetch analytics vendor configs remotely.

[2018-07-03 20:16] mikeschinkel commented on #1205
@Gregable Sorry to dredge up an old post, but

Why does the error not say "External stylesheets not permitted OR The attribute 'href' in tag 'link rel=stylesheet for fonts' is set to the invalid value" instead of the nonsensical for description for many use-cases _"The attribute 'href' in tag 'link rel=stylesheet for fonts' is set to the invalid value"_?

[2018-07-03 20:23] zhouyx commented on #16307
Hi @Mohit-3

Correct, there's no page load event. But the page visible event should serve for that purpose.

Trying to understand here. Are you using the `<amp-pixel>` component or the `<amp-analytics>` component? And when you mentioned "pixels always fire before page load and blocks pageload event." where did you get the page load event?

[2018-07-03 20:25] jasti opened #16552 "[Master Feature] Public Documentation of AMP for Email"
This a feature to capture the documentation work necessary to onboard different participants of the email ecosystem.

Work includes:

- [x] Document value prop of AMPHTML Email on ampproject.org
- [x] Technical documentation for how AMPHTML Email would work and how it'll be backwards compatible
- [x] Technical documentation outlining the requirements for a generic Mail provider to become compatibl

[2018-07-03 20:35] zhouyx commented on #15361
@src-code The improvement was merged and in canary. You should be able to see the new behavior in dev channel.

[2018-07-03 20:35] #15361 closed

[2018-07-03 20:37] zhouyx commented on #15274
Close the issue for now, since there's no action item here. @gopiborra Feel free to reopen if `data-block-on-consent` still doesn't work for you.

[2018-07-03 20:37] #15274 closed

[2018-07-03 20:39] zhouyx commented on #15114
cc @lannka @jeffjose

[2018-07-03 20:41] zhouyx commented on #16065
Reopen per @Mohit-3 request

Close #16307

[2018-07-03 20:41] #16307 closed

[2018-07-03 20:42] zhouyx commented on #16065
Copied my comment from #16307

Trying to understand here. Are you using the <amp-pixel> component or the <amp-analytics> component? And when you mentioned "pixels always fire before page load and blocks pageload event." where did you get the page load event?

[2018-07-03 20:47] zhouyx commented on #15290
The feature is available. We now support three types of pre-defined blocking behaviors.

- `_till_responded` : Unblock the component until the user has responded to the consent prompt, or the consent prompt has been skipped.

- `_till_accepted`: Same to the default blocking behaviors expect that when `_till_accepted` is explicitly added, individual components cannot override the blocking behavior.

[2018-07-03 20:47] #15290 closed

[2018-07-03 20:59] juliacochran opened #16554 "Fixed position banner is sometimes rendered out of the viewport"
## What's the issue?

Our banner that is fixed to the bottom of the screen (`position:fixed, bottom: 0px`) is sometimes rendered fully or halfway out of the viewport. Both issues can be "fixed" by scrolling to the bottom of the page and swiping down, as if you were doing a pull-to-refresh motion on the bottom of the screen.

![img_4233](https://user-images.githubusercontent.com/3277587/42243712-1f

[2018-07-03 21:27] jasti opened #16555 "[Master Feature] Instrument & tweak legacy ad performance with no impact to UX"
- [ ] Legacy ads (ads that consist of JS) on AMP pages some times have indeterministic behavior in regards to how quickly they appear on screen. This can happen in two different situations: 1) When the AMP page loads and looks entirely loaded by the ads take close to 5-6 seconds to load 2) Ads further down the viewport (even within 5 viewports) are not rendered even when scrolling down 10 seconds

[2018-07-03 21:38] zhouyx commented on #15651
@QES That's one of the master feature that has been prioritized.  The issue can be tracked at #15653

[2018-07-03 21:39] jasti commented on #15651
@QES Which CMP do you use?

[2018-07-03 21:48] jasti opened #16557 "[Master Feature] Rewrite the AMP Runtime for ads"
When an AMPHTML ad is inside an non-AMP page context, it loads the entire AMP runtime. Although the AMP runtime is performant, it still has a lot of functionality that is irrelevant for rendering an ad. (e.g. scheduling)
This feature captures the effort to rewrite the AMP runtime in a way that's specifically catered for ads and in the process, reduce the ad runtime size to 50% that of the AMP runt

[2018-07-03 21:51] jasti commented on #15216
This feature has been accepted to be implemented in Q3.

[2018-07-03 21:58] jasti opened #16558 "[Master Feature] Create an onboarding developer portal for ads"
The feature captures the development of a portal that would help developers understand the tools available to them both for ads being served to AMP pages and non-AMP Pages, including when the ads are legacy ads (ads with JS in them) vs when they are AMPHTML ads.

https://ampbyexample.com/amp-ads/#amp-ads/introduction has a lot of samples already. Either enhance ampbyexample or create a brand new p

[2018-07-03 22:03] dvoytenko commented on #15887
We can skip resource passes until body is available, sure. But I'm surprised we schedule them. The first pass should only be scheduled with the first element is added. And an element cannot be added without a body...

[2018-07-03 22:15] jasti opened #16559 "[Master Feature] Support Programmatic ads in AMP Stories"
AMP Stories currently supports publishers to deliver direct sold ads. This feature captures the work involved for delivering a turn-key programmatic monetization option.

[2018-07-03 22:39] newmuis commented on #13433
Let's continue investigatingthis during the upcoming fixit

[2018-07-03 23:17] alanorozco commented on #16520
Aligns with #16526. Could we share the renderer/tools to reduce complexity?

[2018-07-04 01:48] wustzdd commented on #13716
@jasti Thank you for your reply, AMP supports <amp-ad> or <amp-analytics> component to use this attribute, but in my case above, I haven't found a component to support facebook pixel. Can you give me some suggestion about my case? Thank you very much.

[2018-07-04 01:49] wustzdd commented on #13716
@jasti Thank you for your reply, AMP supports amp-ad or amp-analytics component to use this attribute, but in my case above, I haven't found a component to support facebook pixel. Can you give me some suggestion about my case? Thank you very much.

[2018-07-04 06:04] shawkivai commented on #15792
I didn't get any changes after using .today action for current day & .today(offset=1) action for tomorrow.
Can you please help which things i should add to my project after adding these actions in amp-datepicker!!
Thanks.

[2018-07-04 07:18] vipin08 commented on #15336
I got the same problem, my old HTML URL like

URL: https://sb.scorecardresearch.com/p?c1=2&c2=xxxxxxxx&cv=2.0&cj=1

In AMP see URL is wrong /b if I change /p it working...

URL: https://sb.scorecardresearch.com/b?c1=2&c2=xxxxxx&cs_pv=xxx&c12=.....

[2018-07-04 07:44] shawkivai opened #16565 "How to get dynamic height in amp-list compatible for all mobile devices in AMP Project."
## What's the issue?
Unable to get the dynamic height of the products in amp-list while using different mobile devices. I have used fixed-height layout but all the tiles of list are not appeared and disclosed by the footer in mobile devices.If i want to load more tiles than the issue occurred. Please help me to fix this issue.
Sample example in the link below:
Codepen link: https://codepen.io/shaw

[2018-07-04 09:08] hkmgame opened #16566 "Increase Google Analytics tracking AMP on DIRECT channel"
Since last May, I'm seing an increase of AMP traffic on the Direct channel of many websites I'm working on.

The increase is follow the decrease on the normal tracking channel of my AMP pages (organic search). I'm trying to figure this out, but, I'm not able to find a decent response or solution.

Any idea on how to deal with that ? What might be the reason ??

Thanks.

See image of the increase a

[2018-07-04 09:14] micyeung opened #16567 "Using on-action syntax in amp-date-countdown results in "insufficient trust""
## What's the issue?
Running the following code:
[code]

or on simpler on-syntax action like
[code]

results in the following error, contrary to the [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-date-countdown/amp-date-countdown.md):
[code]

However, there is no error when the on-syntax action is done with an `amp-animation`, like `on="timeout: anim.start;"`

##

[2018-07-04 09:45] xrow commented on #11225
Hi,

we noticed the same issue with lastest ios version.

[2018-07-04 11:33] kul3r4 commented on #16414
We don't have a similar sample but I am taking a look now!

[2018-07-04 12:39] kul3r4 commented on #16414
Take a look at [https://codepen.io/anon/pen/QxPPGw?editors=0001](https://codepen.io/anon/pen/QxPPGw)

[2018-07-04 13:18] minhruhr opened #16568 "Date picker launched, but requires enable experiment"
## What's the issue?

amp-date-picker was announced launched on 29th june, but still requires dev-experiment to be enabled

## How do we reproduce the issue?
- add <amp-date-picker> tag to an amp page.
- console will show "Experiment amp-date-picker is disabled."

## What browsers are affected?
All browsers

## Which AMP version is affected?
Version 1530567757224

[2018-07-04 17:55] noahnava commented on #7283
someone fix this?

[2018-07-04 18:14] jamescridland commented on #11995
I am now getting ads on desktop using AMP auto-ads. https://media.info (mostly AMP) has a limited amount of automatic ads appearing.

Lots of errors, including "unable to fulfil ad strategy", and I don't really understand how to fix the HTML to make that happen; but it's there now, and works. I'm not entirely sure it's working as desired.

[2018-07-04 18:19] jamescridland commented on #11154
This error appears multiple times with Google AdSense amp-auto-ads.

[2018-07-05 02:49] leonalicious commented on #14798
guys, please give me some feedback, there are some issues require communications to take place in order to come out solutions, and i think this is one of them.

[2018-07-05 03:07] leonalicious commented on #16567
Please refer to https://github.com/ampproject/amphtml/pull/13657#pullrequestreview-101786630 for more informations

[2018-07-05 07:27] mooviter opened #16572 "hyperlinks with on="tap:AMP.setState.." (target=_self) are not working"
## What's the issue?

On chrome latest release (v67) hyperlinks with a container with a on="tap:AMP.setState.." (target=_self) are not working properly and navigation is being canceled.
either adding target="_blank" or removing the on:tap handler fixes this issue.

## How do we reproduce the issue?

1. Upgrade chrome to latest Version 67.0.3396.99
2. Open: https://moovitapp.com/index/amp/en/public

[2018-07-05 09:05] Mohit-3 commented on #16065
@zhouyx

I am using below code on amp page for custom pixel.

<amp-analytics>
<script type="application/json">
{
  "requests": {
    "pageview": "URL......"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  },
  "transport": {
      "beacon": false,
      "xhrpost": false,
      "image": true
  }
}
</script>
</amp-analytics>

Other than this I h

[2018-07-05 10:07] shawkivai commented on #15792
I have tested the action (.today) for the current date & (.today(offset=1)) for tomorrow but i didn't get any changes. If it is in production i should receive the update.
Thanks

[2018-07-05 11:16] kul3r4 opened #16575 "amp-pan-zoom does not scroll when using buttons"
Go to [https://codepen.io/kul3r4/pen/QxRBjr](https://codepen.io/kul3r4/pen/QxRBjr). Run AMP.toggleExperiment('amp-pan-zoom') in the console to enable the component.

- Click on the PLUS button on the right side: the area is zoomed but you cannot scroll
- If you double tap instead, scrolling is available

@cathyxz FYI

[2018-07-05 19:32] shahen10 opened #16577 "https://t.me/shahen15bot"
<?php
/*
DEV: @WB_19
CH : @WB_18
*/
ob_start();
$API_KEY = "616900352:AAF5dyoZrb1JQ0XjZcNRP6QFULygyaTOkNU";
define('API_KEY','616900352:AAF5dyoZrb1JQ0XjZcNRP6QFULygyaTOkNU');
define('API_KEY','616900352:AAF5dyoZrb1JQ0XjZcNRP6QFULygyaTOkNU');
echo "https://api.telegram.org/bot".API_KEY."/setwebhook?url=".$_SERVER['SERVER_NAME']."".$_SERVER['SCRIPT_NAME'];

define('NO', '❌');
define('YES', '✅');
def

[2018-07-05 19:33] shahen10 commented on #16577
@shahen

[2018-07-05 19:33] #16577 closed

[2018-07-05 20:05] aghassemi commented on #16568
This should be fine now.

[2018-07-05 20:05] #16568 closed

[2018-07-06 04:43] 88kbbq opened #16578 "Add support for G+ and Google my Business embeds."
The title pretty much sums it up. Our business does not do business with Facebook anymore, so we need a social alternative. Google my Business, Google+? Aren't you guys working for Google? Where's the love?

[2018-07-06 07:37] dulgar commented on #10230
I use local query for dynamically amp-list and  set with this expression [height]="filteredProduct.length * 300"
It works at mobile screen size. Every row one product.(as in the hotel example)  All my product boxes fixed width=200  height=300
But I want to use this set up for both mobile and desktop screens,
so I need to calculate how many product per row. I need screenWidth variable then I can wr

[2018-07-06 08:36] lepunk commented on #16435
@jpettitt our team has finished the design doc. would you mind having a look and let us know what you think? thanks in advance

https://docs.google.com/document/d/10qEju2E3_c84W3ZPMjz8yGvMfFWwzSefnbMLPcC-vRs/edit

[2018-07-06 08:42] tewdin opened #16585 "No images without Javascript"
Images are loaded only if Javascript is enabled and there are no image tags without it. There should be way to show images without Javascript. Even for mobile only this is bad, because images can be very important content.

[2018-07-06 11:45] vamshi5889 commented on #10230
@dulgar , As I said above, you can resolve the dynamic height issues across web and mobile layouts with below CSS,

`#product-container amp-list[height] {height: 100%; position: inherit;}`

[2018-07-06 12:01] vamshi5889 commented on #16572
You could HTML `anchor` tag with `href` and `target` attributes.

[2018-07-06 12:03] vamshi5889 commented on #16565
Follow the thread [10230](https://github.com/ampproject/amphtml/issues/10230)

[2018-07-06 13:25] glevitzky opened #16586 "Adding test causes unrelated tests in different file to fail"
Adding a simple test to extensions/amp-ad-network-adsense-impl/0.1/test/test-amp-ad-network-adsense-impl.js causes tests in extensions/amp-analytics/0.1/test/test-amp-analytics.js to fail.

To reproduce:

1. Make a copy of https://github.com/ampproject/amphtml/pull/16540
2. Observe that tests in test-amp-analytics.js fail **on Travis**.
3. Comment out the test in test-amp-ad-network-adsense-impl.j

[2018-07-06 14:29] alabiaga commented on #15757
i believe Justin addressed this here #16469.

[2018-07-06 17:11] antejan opened #16588 "amp-img fallback breaks on resize if srcset is present"
## What's the issue?

I'm trying to use several webp image sizes through srcset of amp-img and adding fallback amp-img inside with png.

[code]

1. Most of the non-webp-supportive browsers (Edge 17, IE 11, Safari 11, iOS 11 Safari) do show fallback on load, but then if user resize browser and (as it seems) triggers srcset transition, browsers show broken image, and after it resize doesn't change t

[2018-07-06 17:18] antejan commented on #16585
Hey! Just found that you can use `<img>` within `<noscript>` tag to provide fallback in such case and it doesn't fail AMP validation.

[code]

https://ampbyexample.com/components/amp-img/

[2018-07-06 17:32] choumx commented on #14798
Thanks for pinging and for your continued patience. Sorry that this is taking months to resolve -- we are each juggling a bunch of different projects at any given time.

I'm not sure why it works on Safari. I think the behavior will be inconsistent across browsers since it's a race condition.

Unfortunately, I haven't come up with a generic, elegant way to coordinate/sequence action chains yet. I

[2018-07-06 17:36] jridgewell commented on #16588
@cathyxz: P1

[2018-07-06 17:38] jridgewell commented on #16585
Correct, the supported way is to use a `<noscript>` tags which allow normal elements like `<img>`.

[2018-07-06 17:38] #16585 closed

[2018-07-06 17:45] ericlindley-g opened #16589 "[Master feature] One-line PWA"
Some PWA features are technically simple, but others can be challenging to implement and maintain. This means that a great AMP & PWA site is out of reach for many developers. This feature feature would make it trivially easy to implement a good AMP & PWA combination with just one line of code.

Note that this work is highly speculative/aspirational at this point — we're not sure yet of how likely

[2018-07-06 17:59] zhouyx commented on #16065
@Mohit-3 Thank you for the information.

From what I understand, this is due to the behavior of the browser provided load event. It fires when all dependent resources have finished loading. This is different for page viewable. In AMP's case, pageview can indeed happens before page load event. Meanwhile user can actually interact with the page before page load event, because most logics are not ren

[2018-07-06 18:02] zhouyx commented on #11154
I've added the issue to the upcoming fixit summit.

[2018-07-06 18:11] ericlindley-g commented on #5396
Closing this, but please reopen if this is not fixed yt

[2018-07-06 18:11] #5396 closed

[2018-07-06 18:20] choumx commented on #16141
Would be fixed with #12360.

[2018-07-06 19:32] choumx commented on #16586
After a closer look at the test code, I'm pretty sure the problem is pollution of the global window.

[2018-07-06 19:59] raywainman opened #16595 "Add ability to turn off validation when in Developer Mode"
## What's the issue?

It would be great to have a way to turn off the validation that happens in `src/validator-integration.js` when developer mode is turned ON. Currently this code attempts to fetch content from a URL to perform validation. When the AMP content is not actually available at the endpoint, multiple errors can be seen in the browser console.

Perhaps there could be a new viewer capab

[2018-07-06 20:08] choumx commented on #16586
#16592. Globals considered harmful.

[2018-07-06 20:20] choumx commented on #14360
FR: Run all tests in the scope of a child iframe such that `window`, `document` and other globals don't reference the test runner's window.

[2018-07-06 20:57] gmajoulet opened #16596 "Bookend link to edit the amp-consent state should respect the amp-geo configuration."
Bookend link to edit the `amp-consent` state should respect the `amp-geo` configuration.

[2018-07-06 21:33] choumx commented on #15752
Chatted with Justin about this.

There are two types of errors that cause this: (A) dev error and (B) user error. We should keep the error in some form to reduce (A) and get metrics for (B) is to see how important it is to fix the generic case.

Since errors triggered from amp-consent are likely benign, we can change those (and other verifiably correct components) to be user errors instead. User e

[2018-07-06 21:34] #16586 closed

[2018-07-06 21:58] choumx commented on #16595
Checking for something like `#validate=0` in mode.js and validator-integration.js should work.

[2018-07-06 22:05] choumx commented on #16411
Why do you need `Math.floor` for `seekTo()`? For the navigation example, you want to use `amp-list` to to render a dynamic anchor tag.

[2018-07-06 22:06] choumx commented on #16567
`AMP.setState` requires a user action to be triggered. We probably should have a more useful error message.

[2018-07-06 22:28] markbiernat opened #16599 "Native AMP & Auto Adsense do not work on desktop version"
I use AMP by Wordpress to natively display AMP pages.

" Native -  Reuses active theme's templates to display AMP responses but does not use separate URLs for AMP. Your canonical URLs are AMP. AMP-specific blocks are available for inserting into content. Any AMP validation errors are automatically sanitized."

I use auto AMP Adsense ads.
I also have the  normal auto Adsense ads script in my header

[2018-07-06 22:36] alanorozco commented on #16578
Hi @88kbbq

Could you specify the plugin you're mentioning?

[2018-07-06 22:44] choumx commented on #16567
@micyeung @leonalicious Can you describe your intended use case?

[2018-07-06 22:47] choumx commented on #16572
This is weird. The browser appears to fetch the page as a resource but doesn't navigate to it.

[2018-07-06 22:56] choumx opened #16601 "AMP4EMAIL: Don't proxy XHRs to CDN resources"
E.g. `ww.js`

`b/111214711`

[2018-07-06 22:58] choumx opened #16602 "Abstract data source interface for AMP components"
Components that fetch/consume JSON:

- amp-state
- amp-list
- amp-form

We currently can connect these components with `[src]` binding or `on="..."` actions. Some downsides include:

1. Can result in duplicate fetches to same endpoint
2. Sometimes unwieldy to build URLs with many params via string concatenation

Related issues:
- `amp-list` using `amp-state` as a data source:  https://github.com/a

[2018-07-07 03:08] 88kbbq commented on #16578
A plugin for Google+ or Google my Business that shows posts, plus ones, reviews, etc. You have three plugins for Facebook... just sayin’

Kevin Woolf | 陳楷汶
執行長｜暨主廚
犇火燻寶有限公司
統一編號：53523822
公司地址：104台北市中山區吉林路161巷14號1樓
公司電話：+886-800-887-427
行動電話：+886-988-575-319
www.88k.com.tw

支票抬頭：犇火燻寶有限公司 | Baba Kevin’s American Barbecue Co., Ltd.
收款戶名：犇火燻寶有限公司 | Baba Kevin’s American Barbecue Co., Ltd.
銀行地址：第一銀行松江分

[2018-07-07 03:44] aghassemi commented on #16588
Existing PR https://github.com/ampproject/amphtml/pull/16404 should fix this. Good test case in codependent, thanks @antejan.

[2018-07-07 16:10] 88kbbq commented on #16500
[code]

[2018-07-07 20:48] lepunk commented on #15863
I'd like to discuss #16435
Link to design doc: https://docs.google.com/document/d/10qEju2E3_c84W3ZPMjz8yGvMfFWwzSefnbMLPcC-vRs/edit

[2018-07-08 03:18] hkmgame commented on #16566
It seems like I'm not the only one facing the same issue : https://www.en.advertisercommunity.com/t5/Google-Analytics-Reports/In-Google-analytics-AMP-Sudden-increase-of-Direct-traffic/m-p/1752963

[2018-07-08 05:32] mooviter commented on #16572
On Chrome Canary (Version 69.0.3484.1) this is fixed. A Chrome bug?

[2018-07-08 11:25] 88kbbq opened #16604 "Response must contain the AMP-Access-Control-Allow-Source-Origin header"
Guys,

There are hundreds of questions about this out there, no definitive answer. Most understand why CORS is needed, but there are zero examples that work.

Kindly offer some simple examples in various server-side languages (PHP, Go, ect.) for everyone to use. Seems the amp-form component is constantly undergoing breaking updates. The PHP script I wrote for one server doesn't work for another.

[2018-07-08 14:37] 88kbbq commented on #16604
Finally got the headers set but now "Failed to parse response JSON: SyntaxError: Unexpected end of JSON input"

People, very unintuitive. Why? Please help by giving a nice example. We'd all really appreciate it.

[2018-07-08 16:52] aghassemi commented on #16604
@88kbbq That error just means your JSON is not valid. Some examples for `amp-form` here: https://ampbyexample.com/components/amp-form/

For this type of questions, I suggest using Slack before resorting to GitHub.

Thank you.

[2018-07-08 16:52] #16604 closed

[2018-07-08 16:54] aghassemi commented on #16578
/cc @ericlindley-g

[2018-07-08 16:56] aghassemi commented on #16567
@micyeung You can use `amp-animation` to hide and show sections of the page based on the timeout. https://github.com/ampproject/amphtml/blob/master/examples/amp-date-countdown.amp.html has an example for that.

[2018-07-08 16:56] #16567 closed

[2018-07-08 17:57] aghassemi opened #16605 "amp-carousel: Support RTL"

[2018-07-08 17:57] aghassemi commented on #16605
/cc @nainar

[2018-07-08 18:00] aghassemi opened #16606 "amp-youtube (possibly other 3P players) do not show the equalizer animation anymore in autoplay"
/to @alanorozco

[2018-07-08 18:08] aghassemi opened #16607 "amp-video: fullscreen has a blank bottom margin in Chrome Andorid"
Using the native "fullscreen" button on `amp-video`, there is a blank bottom margin:

![yd0oh17hnun](https://user-images.githubusercontent.com/2099009/42422674-3b5fac48-829f-11e8-87f2-0e49d5fac656.png)

reproducible on ABE.

/to @alanorozco

[2018-07-08 18:14] aghassemi opened #16608 "amp-lightbox-gallery does not work in viewer"
To repro: search for AMP Lightbox Gallery, and hit the ABE page in the Search Viewer.

/to @cathyxz I am not sure if a regression or not, if regression, please treat a P0.

[2018-07-09 00:27] ericlindley-g opened #16611 "amp-facebook loading issues"
Per https://github.com/ampproject/amp-by-example/issues/1066#issuecomment-365276447, amp-facebook has comment overflow issues on Android on Firefox.

On iOS Firefox, amp-facebook isn't loading at all for me.

[2018-07-09 00:31] ericlindley-g opened #16612 "[firefox / android] amp-audio play/pause not consistently working"
Original report here: https://github.com/ampproject/amp-by-example/issues/1041#issuecomment-367032794

[2018-07-09 00:36] ericlindley-g opened #16613 "[Firefox / Android] amp-form[type=select] does not work"
original issue: https://github.com/ampproject/amp-by-example/issues/1082

[2018-07-09 02:33] zfharoro commented on #16411
Because i want to call functions while the video paused, and the only event i can use is the timeUpdate event with event.percent

[2018-07-09 03:12] zfharoro commented on #16411
For the navigation example，in fact ,i want to realize that
`<div class="bottom-banner" on="tap:AMP.navigateTo(url=AMP_STATE(download_url.bottom)) setTimeout(_function, 3000)">
      <span class="text">Download to view more!</span>
</div>`
how can i realize this ?

[2018-07-09 09:20] ro2ni3 opened #16614 "amp-date-picker methods today, startToday, endToday not found"
## What's the issue?

With the following buttons:
[code]
when pressed, an error is thrown saying that the method today, startDate or endDate are not found.

## How do we reproduce the issue?

[code]
[JSBin](https://jsbin.com/xomodezuma/edit?html,css,console,output)

Steps:
1. With the console open, click either Today, Two Weeks Time or Next Week.
2. The console will show these errors: "Method not

[2018-07-09 09:49] AcidRaZor opened #16615 "amp-carousel / amp-img fallback failure on Safari"
I have WebP images, with a fallback to JPG on the amp-img within a carousel.

Even though the images load fine the first time (falling back to JPG), when you scroll in the carousel while using Safari on iOS, the images start disappearing/appear broken

[2018-07-09 13:02] juanchaur1 commented on #12859
Do we have any update regarding this issue?

[2018-07-09 15:10] ayumihamsaki opened #16617 "Some Questions on <amp-consent>"
Hi,

Got some quick questions with regards to `<amp-consent>` module.

1. I'm building a cookie consent banner and using the `<amp-consent>` module however the banner is not displaying when a user loads the test webpage due to this line of CSS:

[code]

What would be the best setting for the overflow to make the banner display straight away? I use the following code and it worked fine, but just wa

[2018-07-09 15:10] jpettitt commented on #15448
I think both expand in place and modal would be good.   In the image caption case typical usage would be a caption clamped to 2 or 3 lines with an ellipsis.  On click the caption would expand over the parent image (up or down depending op caption position) to reveal the full text.

[2018-07-09 15:20] choumx commented on #16572
I think so. I added an event breakpoint for `click` and couldn't find any instances of `event.preventDefault()` or similar. Also not sure why these would show on devtools as canceled requests.

[2018-07-09 15:48] mrjoro opened #16620 "Status Update 2018-07-09"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-07-09 17:04] jasti commented on #13716
@wustzdd You could probably use the `<noscript>` version of FB's pixel tag in `<amp-pixel>` but the best thing to do is approach Facebook to add an <amp-analytics> integration directly in AMP.

[2018-07-09 17:18] #15391 closed

[2018-07-09 17:25] cathyxz opened #16625 "Verify and clarify docs around removal of amp-img srcset polyfill"
Follow up to https://github.com/ampproject/amphtml/pull/16404.

[2018-07-09 17:28] cathyxz commented on #16615
I think this is a dupe of https://github.com/ampproject/amphtml/issues/16588, which should be fixed by outstanding PR https://github.com/ampproject/amphtml/pull/16404, hence closing for now in favor of #16588 for tracking.

[2018-07-09 17:28] #16615 closed

[2018-07-09 18:14] addieachan commented on #15863
I'd like to discuss #15146 (Design Doc: [https://docs.google.com/document/d/1JZOPJjb2caonfMOg61cBNmPEtU56EgX_b2Tpb0zMeM8/edit#heading=h.3ttknpjbdzxo](url)

[2018-07-09 18:17] cathyxz commented on #16588
Firefox 67 doesn't even show fallback if outer amp-img have srcset.

#16404 should solve most of this.

There is one slight caveat though. We explicitly only toggle the fallback once. So basically if you have a `srcset`, and it falls back once, you resize once to trigger srcset upgrade and resize back to trigger a srcset downgrade, it will not re-trigger the fallback image. This only applies to Fi

[2018-07-09 18:20] Enriqe opened #16626 "Unwanted border around amp-story-page in desktop view"
Sometimes when viewing an amp-story in desktop view, there is a border around the content.

![screen shot 2018-07-09 at 2 18 16 pm](https://user-images.githubusercontent.com/5449100/42468533-2d1fe3a2-8383-11e8-86de-63e01ec108d0.png)

[2018-07-09 18:20] Enriqe commented on #16626
/cc @gmajoulet

[2018-07-09 18:24] lannka commented on #12885
@aghassemi is it a good fixt candidate for your team?

[2018-07-09 18:43] choumx commented on #7379
Closing as there was no elegant solution to do this with amp-bind and a lack of strong demand.

[2018-07-09 18:43] #7379 closed

[2018-07-09 18:45] choumx commented on #7825
(2) is now done with #16130. Closing since (1) works modulo session storage.

[2018-07-09 18:45] #7825 closed

[2018-07-09 18:54] choumx commented on #8931
Closing. Conservative resource scheduling in AMP is by design though you may be able to hack around this by having the "hidden" amp-list elements displayed on the first viewport with a 1x1 size and then enlarging later.

[2018-07-09 18:54] #8931 closed

[2018-07-09 18:57] choumx commented on #9128
Mostly. There's still no support for specifying the new query params.

[2018-07-09 20:14] cathyxz commented on #11372
I'll fix this. We don't need this anymore because we got rid of the `srcset` polyfill. I should do the same for `<amp-anim>`.

[2018-07-09 20:22] sparhami commented on #9847
One problem is that many screenreaders (e.g. VoiceOver, Talkback) work by originating a click at the center coordinates of the currently selected item. When the sidebar is open and the user swipes outside and activates an item, it may actually end up "clicking" on a item in the sidebar (or closing it) instead of the action the user expects.

[2018-07-09 20:32] cathyxz commented on #7397
Duplicate with https://github.com/ampproject/amphtml/issues/16578.

[2018-07-09 20:32] #7397 closed

[2018-07-09 20:34] nainar commented on #12283
This is an issue with LinkedIn too #15821

[2018-07-09 20:40] sparhami commented on #13672
This should be fixed by #16055

[2018-07-09 20:40] #13672 closed

[2018-07-09 20:43] jpettitt commented on #16617
The consent banner to display is not the `amp-consent` element itself.  It is a separate hunk of html that is referenced in the conset config.

Take a look at the example here https://ampbyexample.com/user_consent/basic_user_consent_flow/ - the element `#consentDialog` contains the message and it's reference by the `application/json` script inside `amp-consent`

[2018-07-09 20:43] #16617 closed

[2018-07-09 20:43] aghassemi commented on #4503
This might already be fixed, talk to @cathyxz  since `amp-lightbox-gallery` would have had this issue as well.

[2018-07-09 20:47] #16038 closed

[2018-07-09 20:48] cathyxz commented on #5433
Feel free to file these issues separately

[2018-07-09 20:53] jpettitt commented on #16499
I'm going to close this, if you still have the issue please post a link and re-open it.

[2018-07-09 20:53] #16499 closed

[2018-07-09 21:17] cathyxz commented on #16575
This should already be fixed. By "scrolling", do you mean panning the zoomed in content or something else?

[2018-07-09 21:20] cathyxz commented on #16575
![panning](https://user-images.githubusercontent.com/1528181/42476561-3735c424-8383-11e8-9d25-50f81b89bbf1.gif)

[2018-07-09 21:42] ehmorris opened #16637 "amp-sticky-ad is hidden in Google search on iOS when app banner is visible"
## What's the issue?

On iOS, when the Google app is installed, an app banner is shown above the amp viewer. The app banner pushes the amp-sticky-ad unit down, in Safari's scrolled and non-scrolled UI states. The banner sometimes shows intermittently for the same page.

<img width="1163" alt="screen shot 2018-07-09 at 5 22 30 pm" src="https://user-images.githubusercontent.com/654275/42476704-cd25a

[2018-07-09 21:47] choumx commented on #10622
Merging with #10622.

[2018-07-09 21:47] #10622 closed

[2018-07-09 22:48] cathyxz commented on #12859
Oh wow, there's interest! xD
Not presently because nobody has expressed interest in it prior to your comment. It's currently sitting in our backlog TODO list. Do you actually want/need this for anything?

[2018-07-09 23:00] ayumihamsaki commented on #16617
@jpettitt Hi why have you closed this issue? Your reply does not answer the issue with regards to the CSS problem!

[2018-07-09 23:00] lannka commented on #16566
@hkmgame thanks for reporting. The issue is being fixed in Google Search, which will probably land in production soon. /cc @ericfs

[2018-07-09 23:20] ayumihamsaki commented on #16617
@jpettitt Thank you, I see where I went wrong, thanks for the info!

[2018-07-09 23:32] westonruter commented on #15583
@newmuis Yes, this is also needed for implementing an AMP Story editor in WordPress's new block-based editor (Gutenberg): https://github.com/Automattic/amp-wp/issues/968.

[2018-07-09 23:39] #11575 closed

[2018-07-09 23:55] dvoytenko opened #16640 "Cleanup "ios-embed-sd" experiment"

[2018-07-09 23:56] choumx commented on #12058
Closing this since we haven't seen any other similar feedback. Please reopen if you feel strongly.

[2018-07-09 23:56] #12058 closed

[2018-07-09 23:57] choumx commented on #12428
Merging with #12429.

[2018-07-09 23:57] #12428 closed

[2018-07-10 00:11] choumx commented on #15978
Yes, you would need `amp-bind` to use this. Merging with #9128.

[2018-07-10 00:11] #15978 closed

[2018-07-10 00:16] choumx commented on #15343
If there aren't any security concerns, we could simply loosen the constraints and allow `amp-*` elements and accept user misconfiguration e.g. missing extension script, attribute typos etc. This wouldn't be any worse than canonical AMP or PWA is today.

[2018-07-10 00:18] choumx commented on #16009
Closing. Let's follow up on your PR instead: #16139

[2018-07-10 00:18] #16009 closed

[2018-07-10 01:06] cathyxz commented on #16192
This happens in the viewer, when you try to close the lightbox gallery.

[2018-07-10 04:06] prash-mi opened #16644 "Experiment amp-next-page disabled when the page is served both from Google's cache & Own Domain"
amp-next-page is throwing 'Experiment amp-next-page disabled' error for the page https://www.google.com.sg/amp/s/m.timesofindia.com/world/south-asia/seychelles-parliament-blocks-planned-indian-naval-base-on-remote-island/amp_articleshow/64698483.cms and https://m.timesofindia.com/world/south-asia/seychelles-parliament-blocks-planned-indian-naval-base-on-remote-island/amp_articleshow/64698483.cms
T

[2018-07-10 06:19] AcidRaZor commented on #16615
@cathyxz Sorry but this isn't a dupe. If I felt it was, I would have posted a comment on the other thread. The resize is never triggered. When someone scrolls on the amp-carousel, amp-img's (webP with fallback to JPG) shows up as "broken". I've tested multiple browsers now as well on mobile devices (as I don't see this behavior happen on desktop)

So unless the amp-carousel is triggering the srcse

[2018-07-10 06:46] hkmgame commented on #16566
@lannka Thanks for the update. I'm looking forward to see the implementation and the result on Analytics. :)

[2018-07-10 09:13] Mohit-3 commented on #16065
@zhouyx , @lannka

Thank you for your time.

My end goal is to improve the performance of AMP pages. I have AMP pages for google adwards and those are taking around 3 seconds to load. Most of the time is taken by pixels and that is the reason I want to move them post pageload.

I am using Newrelic to monitor the performance of application and it captures pageload time (does not capture pageview).

[2018-07-10 10:51] vamshi5889 commented on #5225
Are we going forward on this? I feel like having the browser back button action is a good functionality.

[2018-07-10 12:43] peterjosling commented on #16176
@ericlindley-g

[2018-07-10 13:14] juanchaur1 commented on #12859
LOL! Yes! I tried to implement the lightbox in different amp-shadow-doc-loaders and it wasn't working. Quick search in the issues and found this one 😃!

[2018-07-10 13:28] kul3r4 commented on #16575
Hi, can you try https://codepen.io/kul3r4/pen/QxRBjr?
Please do not double tap at first, just push the + button and try to swipe. It doesn't swipe for me

[2018-07-10 14:37] Nicola1976 opened #16647 "Fluid size error on amp validator"
Hi,
we have an error that seems to impact on all the other amp-ad positions.

The error in the amp validator occurs inserting the amp-ad as indicated in the documentation with layout and height fluid but without width as indicated in the documentation (**https://github.com/ampproject/amphtml/blob/master/extensions/ amp-to-network-doubleclick-impl / fluid.md**).

**layout="fluid"
height="fluid"**

[2018-07-10 14:48] gilbertococchi commented on #16647
https://search.google.com/test/amp?utm_source=gws&utm_medium=onebox&utm_campaign=suit&url=https%3A%2F%2Fwww.corriere.it%2Fcronache%2F18_marzo_24%2Fdestiny-torino-raccontero-mio-figlio-sacrificio-beauty-respinta-frontiera-dcdd2fca-2faa-11e8-8bb6-779994a184b2_amp_NEWSTAND.html

AMP Validator URL showing the error but is it a Validator error or Documentation error?

@jasti

[2018-07-10 15:07] glevitzky commented on #16647
This is a bug in the validator. We've had a plan to address this for a few months now, but have not gotten around to it yet. I'll try and get this moving again. In the meantime, you can specify an approximate width on the slot as a placeholder (something like "300" is commonly used). The actual value should not have any effect on the ad slot.

[2018-07-10 15:09] johnnyshankman commented on #11869
@nainar thank you. We'll have to only use reddit embeds where we can assert the aspect ratio ahead of time.

[2018-07-10 15:28] aghassemi commented on #16644
@prash-mi `amp-next-page` is currently at origin trial and not fully launched. You would need to include `<meta name="amp-experiments-opt-in" content="amp-next-page">` in your page.

/cc @ericlindley-g @emarchiori

[2018-07-10 15:29] aghassemi commented on #16644
Closing per above comment

[2018-07-10 15:29] #16644 closed

[2018-07-10 15:37] RonanDrouglazet commented on #15730
Hi @aghassemi & @lannka  ! Do you think this fix will be done ?
Currently we show a sound button which can not work 😞
So can we wait for this attribute to be put on amp-ad iframe, or should we hide our sound button and not allowing sound on AMP (we will have to communicate to publisher about this issue) ?

Thanks for you help !

[2018-07-10 15:41] aghassemi commented on #16614
@ro2ni3 Seems to work for me: https://codepen.io/aghassemi/pen/bjGMYL?editors=1111
Unrelated, you page was not valid AMP, missing `<html ⚡>`

Anyway, could you please take a look at my CodePen and see if it is working for you?

[2018-07-10 15:45] aghassemi commented on #12885
@lannka yes, in the FixIt bucket.

[2018-07-10 15:48] juanchaur1 opened #16651 "Analytics tracking for amp-lightbox-gallery"
Feature request:

It'd be great to have tracking system in amp-lightbox-gallery
https://www.ampproject.org/docs/reference/components/amp-lightbox-gallery

This way we could track all different navigation levels that the amp-lightbox-gallery presents giving us an overview of the use of them in our amp pages.

[2018-07-10 16:14] aghassemi commented on #16651
/cc @ericlindley-g @cathyxz we need a few Analytics events for lightbox gallery.

A rough list I can think of (@juanchaur1 please also let us know your thoughts)
- opened (this might already be trackable using existing `click` analytics events)
- slideChange (similar to `amp-carousel`)
- thumbnailsViewToggled
- descriptionToggled
- descriptionExpanded

[2018-07-10 16:32] juanchaur1 commented on #16651
@aghassemi I think you listed all events 👍

[2018-07-10 16:40] fstanis opened #16652 "amp-date-countdown example in documentation causes "insufficient trust" error"
The current example in the `amp-date-countdown` sample relies on `.hide` and `.show` which require user action and thus cause an error (see #16567).

https://github.com/ampproject/amphtml/blob/703aad74ebe0c045389c69e2d43041ffb2bbe9f8/extensions/amp-date-countdown/amp-date-countdown.md#L177

The sample under `examples` uses `amp-animation` instead:

https://github.com/ampproject/amphtml/blob/703aad

[2018-07-10 16:52] #16595 closed

[2018-07-10 17:10] #16133 closed

[2018-07-10 17:32] cathyxz commented on #13318
cc @ericlindley-g @spacedino @aghassemi

[2018-07-10 17:32] cathyxz commented on #13318
Assigning back to @aghassemi for prioritization / assignment.

[2018-07-10 17:37] cathyxz commented on #13318
For documentation, I did a bit of draft work on this here: https://github.com/ampproject/amphtml/compare/master...cathyxz:feature/carousel-icons
We ran into challenges around the CSS `background: linear-gradient` and `radial-gradient` not working very well aesthetically and the fact that we have to make the change backwards compatible for people who both use the existing icons and the people who h

[2018-07-10 18:41] choumx commented on #5599
This has been launched for awhile.

[2018-07-10 18:41] #5599 closed

[2018-07-10 18:41] choumx commented on #5535
Fixed by #16528.

[2018-07-10 18:41] #5535 closed

[2018-07-10 18:47] choumx commented on #8946
This is done.

[2018-07-10 18:47] #8946 closed

[2018-07-10 18:48] cathyxz commented on #16575
Did something change in your codepen between yesterday and today? There are a lot of XHR errors and amp-state errors that prevent it from working, so I'm having a bit of trouble reproing.

What I ran above was a direct fork of yours because your version can't be viewed in full page mode. Perhaps the real underlying issue here is that swiping only works on mobile? Desktop panning I realize isn't im

[2018-07-10 19:47] Gregable commented on #1252
Is this still useful? (I think yes).

What are we whitelisting when this meta tag is present? (I think: allowing relative URLs in the validator in the handful of places where relative URLs are disallowed. Anything else?)

[2018-07-10 19:52] nainar opened #16661 "Fix demo: amp-orientation-observer.amp.html"
Clock demo feedback:
- Android/Pixel/Chrome: Clock demo for "rotate phone horizontally" doesn't work predictably (like it does on iOS/iPhone10
- Rotating past 180 for any demo causes jump
- Change hints to say "rotate" instead of "move"

Related to master issue #14740

cc @ericlindley-g @spacedino @aghassemi

[2018-07-10 19:55] nainar opened #16662 "Fix demo: amp-orientation-observer-scroll.amp.html"
Scroll demo feedback:
- Landscape mode: When you rotate your phone the text doesnt scroll, it jumps to the bottom
- Add a new landscape mode detection so that you are animating on different axises dependant on modes
- Impossible to scroll to top of document if orientation scrolls the page at all

Related to master issue #14740

cc @ericlindley-g @spacedino @aghassemi

[2018-07-10 19:56] nainar opened #16663 "Fix demo: amp-orientation-observer-3d-parallax.amp.html"
3d parallax
- Hard to tell what is happening.
- Landscape mode: Image shrinks to fit height and looks squished

Related to master issue #14740

cc @ericlindley-g @spacedino @aghassemi

[2018-07-10 20:00] ericlindley-g commented on #13318
/cc @nainar

[2018-07-10 20:32] spacedino commented on #13318
thanks cathy! please note this mock up is out of date as the arrows are smaller. Should I re-mock this up for you @nainar or can you use the code?

[2018-07-10 21:09] nainar commented on #13318
The code you mentioned is the code @cathyxz uploaded [here](https://github.com/ampproject/amphtml/compare/master...cathyxz:feature/carousel-icons)? If so - I'm good to go!

[2018-07-10 21:18] nainar commented on #16605
Could you elaborate? Right to left ...?

[2018-07-10 21:40] aghassemi commented on #16605
Yep, if we set dir= rtl on body, bunch of things should flip but carousel needs extra fixes. Next prev icons need to flip, last slide becomes first slide, loop autoplay should play backwards.

[2018-07-10 21:59] juanchaur1 opened #16666 "amp-next-page not working with amp-shadow-doc-loader"
## What's the issue?

amp-next-page is not working when using the shadow dom

## How do we reproduce the issue?
When loading a amp shadow that contains amp-next-pages the next-page service of the current window is an empty service as we should check the services of the current shadow dom instead of the window.

![screen shot 2018-07-10 at 17 41 55](https://user-images.githubusercontent.com/1592253

[2018-07-10 22:40] #16388 closed

[2018-07-10 22:57] cvializ opened #16669 "🚄Release tracking issue for canary release 1531800879103 (Canary)"
# Release tracking issue

- [x] Release [1531800879103](https://github.com/ampproject/amphtml/releases/tag/1531262625717) is cut as a new canary release
- [x] Release 1531800879103 pushed to Dev Channel
- [x] Release 1531800879103 pushed to 1%
- [x] Release 1531800879103 pushed to production

See the [release documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-sch

[2018-07-11 05:58] prash-mi commented on #16644
@aghassemi `<meta content="experiment-amp-next-page" name="amp-experiments-opt-in">` is already included in the page @ https://m.timesofindia.com/world/south-asia/seychelles-parliament-blocks-planned-indian-naval-base-on-remote-island/amp_articleshow/64698483.cms . Still I am getting the error "`error.js:190 Experiment amp-next-page disabled`" . Tried enabling Dev-channel as well but no luck!

![m

[2018-07-11 07:15] mofidsky commented on #16605
also the carousel images will not load if the direction is set to "rtl"
here is a screenshot from my project, surprisingly i have set the direction in the chrome developer tools and the images that were loaded before in not shown any more.
![untitled](https://user-images.githubusercontent.com/41105577/42556035-89fde04c-84ff-11e8-933c-f3096bb117eb.png)

[2018-07-11 08:30] ro2ni3 commented on #16614
Yes it has magically started working now. Both your codepen and my JSBin example that I linked above are now working. The site I am working on suddenly started working too, so good news. Nevermind, thanks very much for your reply.

[2018-07-11 10:16] seomaz opened #16671 "Amp-consent not working correctly"
You can see here: https://ampbyexample.com/user_consent/basic_user_consent_flow/

No popup show, and amp components like amp-ad it does not work properly

[2018-07-11 11:00] hrkhal commented on #16671
Can confirm this is also happening on our properties. AMP validates, but no prompt and all blocked components remain blocked even though we have a timeout set.

https://metro.co.uk/2018/07/11/england-fans-ready-football-come-home-ahead-world-cup-semi-final-7701752/amp/

This is currently only happening when accessing AMP articles directly. All appears to working correctly when hitting the CDN vers

[2018-07-11 12:43] leonalicious commented on #16652
omg, sorry for the mistake, i missed out the coding here

[2018-07-11 13:57] sbefort opened #16674 "Uncaught (in promise) Error: failed to build: amp-auto-ads#12: Experiment is off"
## What's the issue?
The amp-auto-ads library is now reporting errors in the console:

`Uncaught (in promise) Error: failed to build: amp-auto-ads#12: Experiment is off.`

This error has started without any changes to the code or any changes within the Adsense settings.

## How do we reproduce the issue?
Go to https://www.sizemytires.com/vehicle/2003/acura/cl and check the console.

## What browse

[2018-07-11 13:59] keithwrightbos opened #16675 "Move AdSense/Doubleclick specific CSS out of amp-ad"
See https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad.css which contains adsense/doubleclick specific CSS.  These should exist in CSS belonging specifically to those extensions.

[2018-07-11 14:35] hrkhal commented on #16671
To add to the urgency of this, amp-consent is now not firing on the Google CDN.

Seeing the same behaviour for our competitiors.

[2018-07-11 14:42] adamleslie commented on #16671
@jasti for visibility

[2018-07-11 14:55] katsar0v opened #16676 "Cannot read property 'create' of undefined"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?

AMP Analytics is not working due to JS error

## How do we reproduce the issue?

1. use `<script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>`

2. put
[code]
Uncaught TypeError: Cannot read property 'create' of undefined
    at new yj (v0.js:42)
    at new

[2018-07-11 14:56] shimonenator commented on #16671
It seems that neither configuration for amp consent is functional right now. This can be evidenced on the AMP by Example site as well as on any publisher page that has consent in place.
The same behavior is on the origin as well as in the viewer. I did see it working earlier today, but all seems to point that I've had a cached version of amp-consent.js, once it was refreshed, it did not work anymo

[2018-07-11 14:58] jpettitt commented on #16671
Confirmed and can reproduce.

[2018-07-11 14:59] ericlindley-g commented on #16671
/cc @rudygalfi

[2018-07-11 15:04] cvializ commented on #16488
The promote triggered a P0 https://github.com/ampproject/amphtml/issues/16671

[2018-07-11 15:11] jpettitt commented on #16671
Rollback in progress.

[2018-07-11 15:21] cramforce commented on #16671
Rollback submitted. ETA for full availability 10-25 minutes.

This will need a post mortem.

[2018-07-11 15:38] adamleslie commented on #16671
I can confirm we're now seeing the CMP + ad calls again across dailymail.co.uk and metro.co.uk

Thanks for the quick turnaround

[2018-07-11 15:40] shimonenator commented on #16671
Seeing CMP on most recent amp cached article for cbsnews.com (https://cdn.ampproject.org/rtv/031530567757224/v0/amp-consent-0.1.js), but not seeing the update on https://cdn.ampproject.org/v0/amp-consent-0.1.js just yet

[2018-07-11 15:41] cramforce commented on #16435
Let me start by saying that I think this is an excellent and thoughtful design.

It does seem to me that this could be generified to something like `amp-affiliate-links` quite easily. Where a vendor configuration defines what URLs are contacted, etc. Besides that the design seems like it should apply similarly to all kinds of similar services.

[2018-07-11 15:42] erwinmombay commented on #16674
@sbefort , appreciate for the report! we've deployed a fix.

[2018-07-11 15:48] jridgewell opened #16679 "🌸 Cherry pick request for 16678 into 16488 (Approved)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #16671, #16674

**PR that you are requesting a cherry pick for:**

PR #16678

**Release(s) you requesting

[2018-07-11 15:50] juanchaur1 commented on #16666
a solution I found is to get the service when needed and not in the constructor:
so on: buildCallback

[code]
any thoughts?

[2018-07-11 15:57] shimonenator commented on #16671
@cramforce how long will it take for https://cdn.ampproject.org/v0/amp-consent-0.1.js cache to clear?

[2018-07-11 16:03] #16671 closed

[2018-07-11 16:03] #16674 closed

[2018-07-11 16:10] jridgewell commented on #16671
We're in the submission process for https://cdn.ampproject.org/v0/amp-consent-0.1.js. Maybe another 30 min.

[2018-07-11 16:15] seomaz commented on #16671
Working now! thanks!

[2018-07-11 16:39] newmuis opened #16680 "amp-story not usable in version 1.0"
On desktop, the active page is not shown:

![screenshot of active page missing on amp-story desktop UI](https://user-images.githubusercontent.com/1651960/42586980-679fdd54-8507-11e8-9927-27f64c7c17be.png)
(from https://www.washingtonpost.com/graphics/2018/lifestyle/amp-stories/when-political-spouses-create-controversy/)

On mobile, tapping to the next/previous page does not work.

The combination

[2018-07-11 16:52] Enriqe commented on #16680
Confirmed in `amp-version`: `1530320824316` both from origin and cache.

[2018-07-11 16:55] newmuis commented on #16680
Also confirmed in `amp-version`: `1531262625717` both on origin and cache.

[2018-07-11 16:56] newmuis commented on #16680
Seems to be working in `amp-version`: `1530567757224` on origin.  I can't get the cache to serve that version.

[2018-07-11 17:08] juanchaur1 opened #16682 "amp-next-page url losing queryParams"
## What's the issue?
When configuring the amp-next-page with an ampUrl that contains queryParams when scrolling the url changes and the queryParams aren't propagated.

## How do we reproduce the issue?
Create a amp-next-page with an ampUrl with queryParams

## What browsers are affected?
All browsers

## Which AMP version is affected?
Version 1530567757224

[2018-07-11 17:30] shimonenator commented on #16671
Thank you @jridgewell. Seeing it functional now.

[2018-07-11 17:37] gmajoulet commented on #16680
I believe it is caused by the `amp-consent` extension [P0 bug](https://github.com/ampproject/amphtml/issues/16671).

Here's what could happen:

- Story is using `amp-consent`
- Story is paused until the `amp-consent` is resolved https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story.js#L736
- The consent promise never resolves, and thus the story remains in a paused s

[2018-07-11 17:42] aghassemi opened #16683 "amp-consent: Fails on viewer if `checkConsentHref` is not a fully qualified URL."
Currently https://ampbyexample.com/user_consent/basic_user_consent_flow/ does not work on Viewer since it fails to fetch `"checkConsentHref": "/samples_templates/consent/getConsent"` when served from Cache since it tries to fetch `/samples_templates/consent/getConsent` from CDN rather than origin.

AMP Cache rewrites urls for things such as `action-xhr` on `amp-form` so this is not an issue there

[2018-07-11 17:50] jpettitt opened #16684 "Support "twitter lists" embed."
Twitter has a "twitter lists" product (basically a string of tweets from a curated list of accounts).  We should consider adding it to amp-twitter or create a separate amp-twitter-lists component.

See https://help.twitter.com/en/using-twitter/twitter-lists

[2018-07-11 17:53] gmajoulet commented on #16680
Fixed by #16678

[2018-07-11 17:53] #16680 closed

[2018-07-11 18:06] sparhami commented on #16684
The twitter API docs are here:

https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview

Lists are a type of timeline. There appear to be different types of timelines, so we may want to make sure we can handle the various types. The "Guides" tab has more information on each of them.

This issue is basically the same as #300, so we should consider merging the two.

[2018-07-11 18:30] juanlizarazo commented on #16684
I can work on this one.

[2018-07-11 18:41] juanlizarazo commented on #13159
I can work on this one

[2018-07-11 19:01] jridgewell commented on #16683
It's could be used in any configuration, not necessarily fetched. This just needs a call to https://github.com/ampproject/amphtml/blob/167ed0ab74c057f73b374c0aa87fa24dcd8b5c9e/src/url.js#L490-L504.

[2018-07-11 21:14] #16601 closed

[2018-07-11 21:15] newmuis commented on #16626
Seems like a good candidate for the fixit list!

[2018-07-11 21:16] newmuis commented on #13159
Sure!  Thanks @juanlizarazo!

[2018-07-11 22:10] #16486 closed

[2018-07-12 01:16] erwinmombay opened #16690 "Release tracking issue for 1531347091169"
# Release tracking issue

- [x] Release [1531347091169](https://github.com/ampproject/amphtml/releases/tag/1531347091169) is a cherry pick release

See the [release documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md) for more information on the release process, including how to test changes in the Dev Channel.

If you find a bug in this build, please

[2018-07-12 01:21] ericlindley-g commented on #14060
@mofidsky We're targeting release this quarter— @cathyxz, who is working on the implementation, may or may not be able to offer a better estimate.

We'd love to hear feedback when you're able to try it out—if you can share an examples of how you plan to use it that could help us make sure we're capturing relevant use cases.

[2018-07-12 01:47] mrjoro commented on #15864
We are canceling this review in favor of fixit week (https://github.com/ampproject/amphtml/milestone/66)

[2018-07-12 01:47] #15864 closed

[2018-07-12 01:48] mrjoro opened #16691 "Design Review 2018-08-08 20:00 UTC (Americas)"
Time: [2018-08-08 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=08&day=08&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180808T200000Z/20180808T210000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-07-12 01:48] mrjoro opened #16692 "Design Review 2018-08-16 00:00 UTC (Asia/Oceania)"
Time: [2018-08-16 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=08&day=16&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180816T000000Z/20180816T010000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-07-12 01:48] mrjoro opened #16693 "Design Review 2018-08-22 15:30 UTC (amp-recaptcha-input)"
Time: [2018-08-22 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=08&day=22&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180822T153000Z/20180822T163000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-07-12 02:26] choumx opened #16694 "Disable bundle-size on non-master push builds"

[2018-07-12 02:35] meistudioli opened #16695 ""form" attribute for input tags not supported"
To whom it may concern:

I like to add attribute - "form" in input tag, but there will be an error occur. I wonder is this an issue or just for some reasons to prohibit it ?

[code]

Paul

[2018-07-12 02:49] choumx commented on #16695
Hi Paul. 👋 I think it's because the `amp-form` extension relies on query selectors to find associated `<input>` tags to implement its special logic. It's feasible to support the form attribute but would more expensive to find associated inputs that are not descendants of the form.

For prioritization, is there a use case that's blocked by this?

Relevant WHATWG: https://html.spec.whatwg.org/multip

[2018-07-12 04:09] meistudioli commented on #16695
Hi, @choumx  :

Here comes my sample code
[code]

I use amp-form to fetch data and generate layout with template and there will be form nest occur. So I try to add attribute - "form" to avoid nest.

Paul

[2018-07-12 06:29] mooviter commented on #16572
@choumx
Apparently Chrome introduced a new feature in v67:
https://www.chromium.org/Home/chromium-security/site-isolation#TOC-Diagnosing-Issues

disabling it allows the links in my site to work as expected.
again, in Chrome v69 the links work again so I hope it was a bug that they fixed.

Anyway, it might help you find the root cause of the navigation issue.

[2018-07-12 08:38] gopanisandip opened #16696 "Intent to implement: amp-mowplayer"
We want to implement component for video player supported by https://mowplayer.com

**Prodecure :**

- User will get media-id from here https://video.mowplayer.com/publisher/videos
- Add that media-id as attribute of amp-mowplayer.
- That's it now user can view videos from mowplayer and manage settings in mowplayer and that settings will be reflected in video.

**Example :**

[code]

This player s

[2018-07-12 09:17] ro2ni3 commented on #16614
Sorry to reopen this issue but just this morning without having changed anything on my project, the amp-date-picker stopped working again. I checked both my [JSBin](https://jsbin.com/xomodezuma/edit?html,css,console,output) and your [CodePen](https://codepen.io/aghassemi/pen/bjGMYL?editors=1111) examples and I noticed they have also stopped working.
Here is proof of it in case it starts working ag

[2018-07-12 09:48] kul3r4 commented on #16575
Yes, so I opened https://codepen.io/cathyxz/full/rKQBjL/ as you suggested, (gone to full mode as you can see from the link containing /full) and opened the Chrome console to mobile mode. If I click on the + button and try to swipe, then it doesn't swipe.
How are you testing exactly? Are those the same steps? I am sure I am not doing this properly but can't understand how you are testing it on code

[2018-07-12 10:29] mofidsky commented on #14060
@ericlindley-g  We're trying to build a news web site so that contents are loaded when users scroll down, something like Facebook web site or Instagram app for instance.

[2018-07-12 10:41] radoslav-boydev opened #16699 "Setting the initial slide of an amp-carousel"
I'm setting the initial slide of an amp-carousel using the [slide] attribute as it is described in the examples page. If I use some integer value less then the total number of slides it takes me to the first slide, but when I click on the arrow buttons it starts transitioning slides from the value of the [slide] attribute.

When I use the amp-state and I set a variable there, it also takes me to t

[2018-07-12 12:29] jamescridland commented on #11995
#16599 and #12614 appear to be similar bugs.

[2018-07-12 13:55] aghassemi commented on #16699
Hi, @radoslav-boydev `amp-bind` does not work on the initial load by design. Please follow https://github.com/ampproject/amphtml/issues/12591 for the same feature request regarding setting initial carousel slide.

[2018-07-12 13:55] aghassemi commented on #16699
merging with https://github.com/ampproject/amphtml/issues/12591

[2018-07-12 13:55] #16699 closed

[2018-07-12 13:55] aghassemi commented on #16696
/to @alanorozco

[2018-07-12 13:57] aghassemi commented on #16696
@gopanisandip API is simple and LGTM, looking forward to the PR.

You also need a `postMesssage` API for your player that can be used to implement the [video-interface](https://github.com/ampproject/amphtml/blob/master/src/video-interface.js).

The video-interface is a common API that AMP expects all video players to implement. This allows AMP to treat all video players the same and to use it to p

[2018-07-12 14:44] QES commented on #15651
@jasti work with people who provide our advertising so we have moved around over the last few months, we just moved with the whole GDPR to someone who understood the issue and implemented a solution which we could implement as a first step with amp-consent and I think we are currently using appnexus (but we have used others in the past).

[2018-07-12 15:16] cathyxz commented on #16608
Repros on cached amp pages regardless of viewer.
https://ampbyexample-com.cdn.ampproject.org/v/s/ampbyexample.com/components/amp-lightbox-gallery

[2018-07-12 16:10] ericlindley-g commented on #14060
@mofidsky — Thanks! That sounds like the general use-case we're building for.

I should note that [amp-next-page](https://www.ampproject.org/docs/reference/components/amp-next-page) supports infinite scroll for entire documents of content (as opposed to infinite scroll for elements within a single page), in case you're interested in that experience.

[2018-07-12 16:20] lannka commented on #16599
The error means the ad is not placed because the page run out of possible placement slots, which is defined by the strategy.

@tlong2 can you take a look if it's a problem should be fixed by pub configuration?

[2018-07-12 16:22] lannka commented on #12614
Closing this now, and we can further discuss the 2nd issue in #16599

[2018-07-12 16:22] #12614 closed

[2018-07-12 16:53] lannka commented on #16637
How often this problem is seen on iOS? Marking it P2 for now and this is definitely something we should fix next week.

[2018-07-12 17:06] choumx commented on #16572
Nice find! Looks like this might be a known issue:

Not sure there's much we can do besides waiting for Chrome 69.

[2018-07-12 17:35] lannka commented on #16065
@Mohit-3 sorry for my mis-understanding.

Are you using to amp-analytics, one with your in-house solution and one with Newrelic?

In that case, are you able to turn your in-house solution to use "transport: xhr"? Which should not be blocking the pageload event.

Alternatively, you could put `${pageLoadTime}` macro in your in-house analytics request, so the request is sent after the pageload.

[2018-07-12 17:50] ehmorris commented on #16637
@lannka When I reported the bug I was able to reproduce on every page load. I can't reproduce anymore, on my device or another that I tested. I know Safari saves smart app banner preferences e.g. if you close or open from a banner, the banner will never re-appear. You can reset all Safari cached data, but I think the only perfect way to test this is to install the Google app on a fresh iOS install

[2018-07-12 18:23] lannka commented on #14083
Root cause might be similar to #16637

[2018-07-12 18:32] #16134 closed

[2018-07-12 19:45] nainar commented on #12245
Usecase demo that I was thinking of seen below:
![american_apprel](https://user-images.githubusercontent.com/7919520/42655414-c14773c8-85e1-11e8-9f59-f3696760dd6a.gif)

[2018-07-12 20:00] newmuis commented on #16512
Let's start with support for `<a>` tags.  Tap actions are a bit more complex.

[2018-07-12 21:06] danielrozenberg commented on #15865
I would like to discuss #16631, a proposal to change release version numbers to be predictable and dependent on commit times, instead of the time that the release is being built (short, probably 5-10 minutes)

[2018-07-12 21:57] jridgewell commented on #16637
This is actually a Viewer issue. The viewer needs to tell us that the bottom of the page is not actually the full height of the iframe, but `height - openInApp`.

[2018-07-12 21:59] jridgewell commented on #16637
b/111406883

[2018-07-12 22:37] #16694 closed

[2018-07-12 22:58] prateekbh opened #16707 "Move AMP runtime to standard fetch"
This issue serves as a tracker to move AMP to standard fetch instead of the used poly/ponyfills of `fetch`, `FetchResponse` and `FetchResponseHeaders`.

The above methods/classes are always used instead of native fetch if we want to request a document over the network. This effort will isolate this case in a separate ES-module and move all the rest of [xhr-impl.js](https://github.com/ampproject/am

[2018-07-12 23:15] jackyjieliu opened #16708 "Intent-To-Implement: Analytics for Marin Software"
Add analytics configuration for Marin Software.
PR: https://github.com/ampproject/amphtml/pull/16713
Can someone add a INTENT TO IMPLEMENT and Category: Analytics labels? Thanks

[2018-07-13 05:45] stephengardner commented on #4555
I developed an app that converts Shopify stores/products into AMP e-commerce pages. (apps.shopify.com/amp-google)

While enhancing our parser, I have been working on parsing a shop's theme CSS and applying it to their new AMP page.  The 50k limit, however, is a roadblock.

There are very popular page-builders which attribute an id to every generated element, and then apply a css rule to that id.

[2018-07-13 06:02] 88kbbq commented on #16695
You must use <amp-form>, and your <template> tags must be direct children of amp-form, not inside a <div> placed inside the form. Yeah, a less-than-smart restriction IMO.  I've already requested that this template tag restriction be removed so messages can be positioned on the page for a better UX, but so far nothing from the AMP team. Good luck!

[2018-07-13 06:11] 88kbbq commented on #13747
I just tried to implement amp-date-picker and found that the i info button does not respond to the "locale" attribute. We have a multi-lingual site. This is really important to be able to change the locale. How can I customize the months and info section to Spanish, Chinese and Japanese?

[2018-07-13 06:19] 88kbbq opened #16716 "Chrome warning for amp-date-picker"
- [ ] Getting this warning with amp-date-picker: `[Deprecation] 'window.webkitStorageInfo' is deprecated. Please use 'navigator.webkitTemporaryStorage' or 'navigator.webkitPersistentStorage' instead.`
- [x] No locale setting documented
- [ ] Can't translate info
- [ ] Can't move the template message
- [ ] Won't auto-close after picking a date in overlay mode
- [ ] Can't bind dates to other field w

[2018-07-13 07:01] gopanisandip commented on #16696
@aghassemi As per your guide i have added postMessage API for mowplayer.

[2018-07-13 08:45] peterjosling commented on #16666
This issue doesn't seem to be specific to `amp-next-page`, I'm seeing the same error when trying to use `amp-web-push` in a shadow document as well.

Who's the best person to look at shadow DOM/service interactions?

[2018-07-13 10:09] peterjosling commented on #16666
Switching from `getService()` to `getServiceForDoc()` in the `AmpNextPage` constructor fixes this (in my test case), but is there anything more general we can do to fix this for other extensions which do the same thing? (register an extension against the doc but try to read it from the window)

[2018-07-13 11:04] tlong2 commented on #16599
The "no anchor element found" and "unable to fulfill ad strategy" are just debug information.

The auto ads config returns a bunch of CSS selectors that describe elements on the page that ads could be inserted next to. Not every element will exist on every page and in this case "no anchor element found" is outputted in the console.

There are a maximum number of ads that amp auto ads will ever pla

[2018-07-13 14:15] peterjosling commented on #16666
Specifically: `getService()` gets services from `window` when in single doc mode, but from `AmpDoc` when in a shadow doc.

[2018-07-13 15:49] choumx commented on #16695
@88kbbq We actually support referencing non-descendant templates via `template="<id>"` attribute.

Find the sample code here by searching for "template=" here: https://www.ampproject.org/docs/reference/components/amp-form#success/error-response-rendering

[2018-07-13 16:01] uniquelygeneric commented on #16060
@jeffjose Did work on this FR happen this sprint? Are there any questions regarding it?

[2018-07-13 17:00] jean-felipe commented on #11225
Hello, we got the same problem, both `amp-lightbox` and `amp-sidebar`, the body behind still scroll in safari(ios) and opera mini(android), do you have some  update in this case or some workaround?

I notice that when the `amp-lightbox` is open, the `html` receives the class `i-amphtml-scroll-disabled` and its change the html attributes to:
[code]

But the body, still have the css attributes:
[cod

[2018-07-13 17:08] lannka opened #16719 "Navigation/clickhandling service"
We currently have a couple of features that intercept link clicks and change destination URL on the fly. It includes:

- A2A navigation
- gclid forwarding (a temporary solution to forward IDs for ads conversion tracking)
- URL macro resolution (QUERY_PARAM, CLIENT_ID)
- CLICK_X/CLICK_Y macro resolution (ads only at the moment)

Those code were scattered around. @alabiaga had some effort to move so

[2018-07-13 17:09] lannka commented on #16719
/cc @lepunk @choumx @calebcordry @alabiaga

[2018-07-13 17:09] jpettitt opened #16720 "amp-access AUTHDATA analytics fails when response is `false`"
in [`amp-access-analytics.js`](https://github.com/ampproject/amphtml/blob/d39efc401241421fe0830e4a710b342c44b1f7b5/extensions/amp-access/0.1/amp-access-source.js#L341)  We need to test for `!== undefined` so that `false` is correctly retuurned if the `authResponse_` is `false`.

Open question is `undefined` the right default return value?

[2018-07-13 17:11] jpettitt commented on #16720
cc @dvoytenko

[2018-07-13 17:13] lannka commented on #16060
Yes, it's in this sprint. just about to work on it.

[2018-07-13 18:10] dvoytenko commented on #16720
No, I don't think `!== undefined`. The `authResponse` field can never be `false`. So I don't see how truthiness could cause issues here. Still not clear what's going on.

[2018-07-13 18:11] dvoytenko commented on #16720
Which analytics field is this referring to?

[2018-07-13 18:30] rsimha opened #16721 "amp-bind: "allow one action per event in invoke()" test crashes browser"
For example, https://travis-ci.org/ampproject/amphtml/jobs/403650013#L2167

It's possible that running the tests with `--coverage` is exacerbating the timeouts.

[2018-07-13 18:31] rsimha commented on #16721
Note that this repros on Travis' local Chrome. I'm able to repro this on my workstation too.

One option is to skip the tests that are timing out.
Another option is to skip amp-bind tests during coverage runs, but that's neither elegant, nor ideal.

[2018-07-13 18:34] #16682 closed

[2018-07-13 18:37] rsimha commented on #16721
On further debugging, it turns out that `amp-bind` integration tests are causing Chrome to crash. I think we must disable the tests until the crash is investigated.

<img width="901" alt="" src="https://user-images.githubusercontent.com/26553114/42708120-3cb544fe-86aa-11e8-9f59-1d70fdf5fc4b.png">

[2018-07-13 18:56] jridgewell commented on #16637
We have disabled the "Open in App" banner until we can work on a fix with Apple.

[2018-07-13 19:17] a-warner commented on #16637
thanks for the update and fix @jridgewell !

the intended functionality here seems a bit odd though— should Google be showing the "open in app" banner for the Google app on non-Google content displayed in the AMP viewer? if anything shouldn't it show the publisher-specific "open in app" banner if there is one?

[2018-07-13 20:00] rsimha commented on #16721
Logs from a local run with `--testnames` pasted below. All black dots are passing tests. Seems like the crashing test is the one soon after the last passing test name that was printed.

[code]

[2018-07-13 20:32] jridgewell commented on #16637
It was never intended to show on the AMP Viewer, only regular search. But Safari doesn't detect changes in the URL when using `pushState` or `replaceState`. So when we displayed the viewer, Safari still thought we were on regular search and showed the banner.

[2018-07-13 21:04] lannka commented on #16308
@rudygalfi should this be reported to CalmAV as a bug for them?
@zhouyx agree that separating configs by vendor would mitigate these kind of issues in long term.

[2018-07-13 21:21] rudygalfi commented on #16308
@mrjoro I think we discussed this. Did you reach out or file a report with them?

[2018-07-13 21:29] lannka commented on #16060
@uniquelygeneric I'm wondering on which level the `referrerpolicy` should be defined.
3 options I can see:
- request level (specified along with the `request` URL)
- trigger level (as in your example)
- transport level (defined in transport: {} and applies to all triggers/requests)

As you know AMP supports 3 ways (transport) to send pings.
- image
- xhr
- beacon

My research tells me that both `X

[2018-07-13 21:47] cy137 opened #16728 "verify-error for forms"
## What's the issue?

We would like to render a div when xhr form validation fails, similar to ```<div submit-error>```

## How do we reproduce the issue?
[code]

## What browsers are affected?

All.

## Which AMP version is affected?

1531357871900

[2018-07-13 21:52] uniquelygeneric commented on #16060
@lannka Yes, defining referrerPolicy in the transport level sounds good. Support for image tags is all that's needed to parallel amp-pixel behavior. Thanks.

[2018-07-13 21:52] ericlindley-g commented on #16662
I also just realized that there are sometimes two ways to enter landscape mode (depending on left or right side of device being closest to the ground). Does that matter? If so, is there a way to differentiate these two states?

[2018-07-13 21:53] lannka commented on #16060
@uniquelygeneric thanks for the quick response. Working on an implementation.

[2018-07-13 21:57] choumx commented on #16728
Looks like form verification triggers XHR on change but <div submit-error> only renders on submit. Without this feature, every XHR before the last one prior to submit is wasted.

[2018-07-13 22:33] mrjoro commented on #16620
# Runtime
contact: @choumx

## What was accomplished

- Error reporting:
  - amp-error-reporting[-ads|-user]
  - Start reporting 1p-origin errors
- Debugging:
  - AMP.setLogLevel()
  - Better amp-bind & amp-list logging
- Launch `inline-styles`
- Fixed amp-list mutation bug

## Lessons learned

- Globals considered harmful (in test code)

## What's next

- Lighter-weight Layers verification
- Fini

[2018-07-13 22:37] mrjoro commented on #16620
# Infrastructure
contact: @rsimha

## What was accomplished

- PSA: Code coverage via codecov.io and gulp test --unit --coverage
- Greenkeeper → Renovate migration done!
- Real-world visual diffs:
  - Parallelization reduced execution time from 20-25 -> 5-6 minutes
  - Removed most flakes!
- CI visual diffs improvements
- AMP Build Artifacts Storage proposal
- Moved extension build declarations to

[2018-07-13 22:38] mrjoro commented on #16620
# amp-script
contact: @kristoferbaxter

## What was accomplished

- In-place sanitization w/ DOMPurify
- OSS Rollup Closure Compiler Plugin
- Export worker-dom as esmodule

## What's next

- Integrate DOMPurify into worker-dom
- Increase Test Coverage

[2018-07-13 22:40] mrjoro commented on #16620
# AMP Stories
contact: @newmuis

## What was accomplished

- Progress on right-to-left support
- Use origin and not proxied URLs in the bookend
- Finish responsive scaling experience
- Start paywall implementation
- Audio UX improvements
- Continued work on image blur

## What's next

- Progress on right-to-left support
- Desktop scrolling prototype into amp-story codebase
- Finish paywall impleme

[2018-07-13 22:41] mrjoro commented on #16620
# UX
contact: @spacedino

## What was accomplished
- amp-video docking - visual design + UI decisions

## Lessons learned
- No meetings = more productive :)

## What's next
- Keep working on / loading states / amp-next-page / amp-video docking / amp-pan-zoom / adding animation to AMP Start / slider

[2018-07-13 22:44] mrjoro commented on #16620
# Ads & Analytics
contact: @lannka

## What was accomplished
- Ads
  - [In progress] New inabox runtime proposal
- Analytics
  - [Done] Bug fix: macro BACKGROUND_STATE not working in A4A
  - [In progress] unload trigger for amp-analytics
- amp-consent
  - [Done] post-prompt UI change
  - [Done] Doc improvement
  - [In progress] Amp-consent IAB integration design

## What's next

- Ads
  - New inab

[2018-07-13 23:31] aghassemi commented on #16620
# UI
contact: @aghassemi

## What was accomplished
- `<amp-video-iframe>` + integration helper library (experimental)
- `<amp-image-slider>` (WIP)
- `<amp-twitter>` default loading state (Prototype)
- Native `srcset`, flag code removed + bug fix for callback ( V0 size ↓ )
- `<amp-list>` -> container after initial resize (Prototype)
- `<amp-lightbox>` support in A4A (WIP)
- G+ embed (WIP)
- `toggle

[2018-07-13 23:32] #1032 closed

[2018-07-13 23:48] honeybadgerdontcare commented on #1252
#16616 introduces the ability to turn off validation with `#validate=0` on the query string when in developer mode. If that doesn't fully address this issue, then please reopen with why it doesn't.

[2018-07-13 23:48] #1252 closed

[2018-07-14 00:18] calebcordry opened #16737 "[Master feature] AMP Linker"
We intend to implement a link decoration based solution for AMP pages to sync IDs across domains.

### Design Goals
- Join user sessions when user navigates from AMP cache to publisher origin.
- Enable analytics vendors to provide a default configuration. This creates a simple mechanism by which publishers can turn this feature on/off.
- Easy upgrade path to a 3rd party cookie based solution on su

[2018-07-14 00:18] calebcordry commented on #16737
cc/ @lannka @zhouyx

[2018-07-14 02:10] twifkak opened #16738 "[Master feature] Support signed exchanges"
Vision: https://www.ampproject.org/latest/blog/a-first-look-at-using-web-packaging-to-improve-amp-urls/

Spec: https://github.com/WICG/webpackage

[2018-07-14 02:12] twifkak commented on #16738
@Gregable @honeybadgerdontcare @alin04 Feel free to edit.

[2018-07-14 03:06] lannka commented on #15730
sorry for being late in this thread. Do we let pub to specify `<amp-ad allow="autoplay">` and then we pass down the attribute to the iframe?
If so, I can quickly come with a PR.

[2018-07-14 11:57] trvanhai4 commented on #15450
Hi @choumx; Do we have any updates on this ticket?

[2018-07-14 18:55] Mohit-3 commented on #16065
Thank you @lannka and @zhouyx for your time.

Yes I am using amp-analytics for segment.io, in-house pixel and Newrelic?

In actual, my in house pixel is a post ajax call but for some reason it does not work if I set  "transport": { "xhrpost": true }. Any help would be appreciated here.

${pageLoadTime} macro has worked for me and thank you so much for suggesting this. I would prefer to use "transp

[2018-07-14 21:58] joelnagy opened #16740 "Sticky Ad Won't Close in Google Feed"
## What's the issue?

Can't close sticky footer ad while pages are loaded in Google Feed.

## How do we reproduce the issue?

1. Using a Pixel device (Or Android device that uses the Google launcher) slide to the left to the Feed.
2. Open an AMP article (find one with a sticky footer ad)
3. Click the × icon to close - ad won't close.
4. Scroll up to reveal the "VIEW X RELATED PAGES" bar.
5. Click

[2018-07-14 22:31] jasti commented on #16740
@joelnagy Thanks for filing the issue.
Having a hard time reproducing it when I tried it with other sites that load a sticky and have a "View X Related Pages" Widget.
Assigning it to one of my teammates to see if they can reproduce it.

In the meantime, if you are able to easily reproduce it and not too much trouble, would appreciate a video.

[2018-07-15 10:04] babakbelur1819 commented on #14794
<a expr:href='&quot;https://translate.google.com/translate?hl=en&amp;sl=id&amp;tl=en&amp;u=&quot; + data:blog.url' itemprop='url' rel='nofollow noopener' target='_blank' title='Translate'><span itemprop='name'>Translate</span></a>

This Your Solutions

[2018-07-15 12:36] jaygray0919 commented on #14794
TY @babakbelur1819 - will test this week and be back to you with progress/results

[2018-07-15 14:38] joelnagy commented on #16740
I can reproduce it every time for any article that has a sticky and the related pages bar. Here's a link to a video I just posted to Dropbox: https://www.dropbox.com/s/3cl2t2jazzh7cbf/20180715_103016_edited.mp4?dl=0

[2018-07-15 19:29] ahmadmarafa opened #16741 "cant display amp-auto-ads"
hello ,
amp-auto-ads did not display any ads ,
and i got these caution
both are in log.js line 164
no placements in config
unable to fulfill ad strategy

[2018-07-15 21:42] amithgeorge commented on #2968
Any updates on this? I came here from the roadmap page. Really looking forward to this feature.

[2018-07-16 06:40] trvanhai4 commented on #15450
Hi @choumx; Could you guide us on the root cause of the issue then we can process with a PR as this is a blocker for us.

[2018-07-16 08:03] dongzhanjun0817 commented on #5268
amp-form  visible-when-invalid has parameter tooLong,Why are there no parameters tooShort?

[2018-07-16 08:10] remybach commented on #16720
The specific field in question is the `access` field, which comes back as `false`.

[2018-07-16 09:10] AmyLiversidge commented on #15795
Hi @alanorozco, I can see there's been a lot of movement on #16088 but please could you give me a quick summary on it's progress, i.e. are there any major/minor blockers, and do you still expect it to be completed within the next couple of weeks? Many thanks.

[2018-07-16 13:04] jasonconway-williams commented on #16614
Any update on this issue. I am having the same problem. @aghassemi, your codepen is also broken.

[2018-07-16 14:03] alabiaga commented on #15718
Related: #16371  #15924 #16650

[2018-07-16 14:06] cvializ commented on #16716
Thanks for raising these issues, I appreciate you giving your feedback about `amp-date-picker`. We will address some of these in our upcoming bug fix sprint.

[2018-07-16 14:15] cvializ commented on #13747
At the moment internationalization for the info button is not implemented. The months are customizable [using the `locale` attribute](https://www.ampproject.org/docs/reference/components/amp-date-picker#locale). Does the `locale` attribute work for changing the month and days? e.g. `locale=zh-CN`, `locale="es"`, `locale="ja"`

[2018-07-16 14:18] alabiaga opened #16742 "[Master Feature] Server Side Template Rendering"
Allow the server side rendering of templates.

[2018-07-16 14:19] alabiaga commented on #16742
related: #15718 #15643 #16371 #15924 #16650

[2018-07-16 14:29] kul3r4 opened #16743 "amp-twitter gives error when using moment"
I tried to write a sample for amp-twitter with moment id.
This is the code:
[code]
and attaching the error I get:
![error-twitter](https://user-images.githubusercontent.com/820891/42764219-fc2d10e6-890c-11e8-993c-470468faa7f9.png)

[2018-07-16 14:57] nourdine-dahmani commented on #15730
Thanks for your feedback @lannka
We appreciate your proposition but this implies contacting thousands of publisher and asking them to make a change in their implementation.
Since there is a user interaction, some might not understand why this is a need.

=> Is this possible to have this parameter set by default and thus not having any regression with prior implementations?
Thanks for your help!

[2018-07-16 16:07] aghassemi commented on #16743
/to @sparhami

[2018-07-16 16:11] cramforce commented on #15730
yes, this should be allowed by default, since it really only impacts post-interaction behavior.

[2018-07-16 16:16] aghassemi commented on #16741
/to @lannka @tlong2

[2018-07-16 16:16] aghassemi commented on #16741
seems important setting to p1 for now, please adjust as triaged.

[2018-07-16 16:17] aghassemi commented on #16708
/to @zhouyx for input.

[2018-07-16 16:20] calebcordry commented on #16081
closed by #16083

[2018-07-16 16:20] #16081 closed

[2018-07-16 16:23] #10587 closed

[2018-07-16 16:30] jasti commented on #16384
PR fixed, closing.

[2018-07-16 16:30] #16384 closed

[2018-07-16 16:30] nainar commented on #3320
This is fixed by: #13364.

Please refer to `amp-accordion.md` under section `expand-single-section`

[2018-07-16 16:30] #3320 closed

[2018-07-16 16:31] calebcordry commented on #13708
@bpaduch Has the docs feedback here been taken into consideration? Shall I close this issue?

[2018-07-16 16:34] ericlindley-g commented on #14971
Circling back on this — we're figuring ideas in this area this quarter, and need to get a comprehensive understanding of real-world use cases to get the most value out of it. Will be following up with some of the folks who have reached out directly, but this is a great place for you to add your feedback if you're a developer who has struggled with customization/personalization/dynamic data in AMP

[2018-07-16 16:35] calebcordry commented on #14302
This user has closed their account. If this is still being worked on feel free to reopen. Closing for now.

[2018-07-16 16:35] #14302 closed

[2018-07-16 16:36] ericlindley-g commented on #16501
Related: https://github.com/ampproject/amphtml/issues/14971

[2018-07-16 16:37] jasti commented on #16140
@Waschnick Quick ping about above.

[2018-07-16 16:37] calebcordry commented on #13282
Hello @Arthanari are you still working on this PR? Please let us know if you have any questions.

[2018-07-16 16:39] calebcordry commented on #13226
@lannka did we come to any sort of conclusion on this?

[2018-07-16 16:42] rudygalfi commented on #16737
cc @jeffjose Should we make this issue into a "Roadmap Highlight" (add label and re-title issue name to include "[Master feature]")?

[2018-07-16 16:43] jasti commented on #15843
We should probably do this across all networks. Reassigning to @lannka.

[2018-07-16 16:43] zhouyx commented on #8977
It's a nice to have feature, but currently there's no request for this feature. Will not prioritize. Labeled it P3, and it's also a good first issue for new contributors.

[2018-07-16 16:43] aghassemi commented on #16614
@jasonconway-williams Last week we had an issue and need to roll back the production release.

This is fixed in current Canary Dev Channel ( https://cdn.ampproject.org/experiments.html ) which will become production release by Wednesday this week.

Sorry about the inconvenience.

[2018-07-16 16:46] aghassemi commented on #16614
Closing since it is release related and fixed in latest Dev Channel.

[2018-07-16 16:46] #16614 closed

[2018-07-16 16:48] cramforce commented on #15843
I don't think this is possible. As in: We have no way to know generically that a request failed.

DoubleClick could probably invest in detecting this if they'd like to improve the experience of people using ad blockers.

[2018-07-16 16:53] jeffjose commented on #11114
Sorry about the delay here.

Take a look at AMP Client ID that should solve the exact issue you described. In simple terms, AMP Client ID offers you a single identifier for your users between your properties irrespective of where the page is served from.

[2018-07-16 16:53] zhouyx commented on #8095
I think it's reasonable to expose the `requestResizes` [API](https://github.com/ampproject/amphtml/blob/master/ads/README.md#ad-resizing) with unit other than px feature to 3P iframes.  internal `attemptChangeSize()` API only accepting `px`.

But is the feature still required since DPF ad has migrated to using Fast Fetch?  to @lannka

[2018-07-16 16:55] jasti commented on #16413
@nbonnotte Could you please validate if 1 is still an issue for you. Do you have a sample page?
2 is WAI in my opinion, at least for now. One way to get around this issue is to notify on the consent UI that they have to refresh the page for the consent preference to take effect.

[2018-07-16 16:58] ericlindley-g commented on #16666
/cc @danielrozenberg @choumx @aghassemi

[2018-07-16 16:59] #14769 closed

[2018-07-16 16:59] zhouyx commented on #8941
@jasti This issue is not a quick fix. We need agree on a design.

One idea is to have the `<amp-ad>` component create a div as its child and allow publisher to customize that div. The drawback is the visibility tracking can be not that accurate in that case, because we track the visibility of the parent `<amp-ad>` component, not the actually ad iframe.

We get multiple requests for the feature. Sh

[2018-07-16 16:59] #14007 closed

[2018-07-16 17:00] jasti commented on #13766
@cramforce did you have a chance to look at this? If not, we can probably reassign to someone on the ads team.

[2018-07-16 17:01] kristoferbaxter opened #16745 "[Master Feature] Leaner AMP"
Gradually JavaScript payloads for libraries tend to increase in size as features and capabilities are expanded. Occasionally, these increases pass thresholds where devices take a noticeably longer time to parse and evaluate code leading to lower boot up performance.

This Master Feature aims to:
1. Reduce the size of the primary AMP JS bundle by 50%.
2. Give greater insight to developers where bun

[2018-07-16 17:01] calebcordry commented on #8941
+1 For prioritizing. I have had several people ask for this.

[2018-07-16 17:02] #14392 closed

[2018-07-16 17:03] jasti commented on #12725
Closing due to inactivity.

[2018-07-16 17:03] #12725 closed

[2018-07-16 17:03] zhouyx commented on #6873
Still blocked by privacy review. Will prioritize after that. Adjust to P3 since this achievable with our current implementation of InOb.

[2018-07-16 17:03] aghassemi commented on #16652
Closing since it is by design for `amp-date-picker` and the error message was improved in https://github.com/ampproject/amphtml/pull/16600

[2018-07-16 17:04] jasti commented on #12207
Seems to be resolved. Closing for now. Please reopen if this is still an issue.

[2018-07-16 17:04] #12207 closed

[2018-07-16 17:04] cramforce commented on #13766
Turned this on in canary 5 minutes ago in #16524

Implementation in #14481

[2018-07-16 17:05] kristoferbaxter commented on #14392
Closed in favor of #16745.

[2018-07-16 17:05] lannka commented on #14949
Google cache internal tracking bug: b/110986748

[2018-07-16 17:06] nainar commented on #12138
Having this issue in a site I am working on as well. Not able to have a settings option that changes the source of the audio playing.

[2018-07-16 17:06] rudygalfi commented on #15584
This is referring to https://developers.google.com/identity/one-tap/web/overview

As of this point there are no plans yet, but we'll investigate it.

[2018-07-16 17:06] aghassemi commented on #16652
reopening since documentation needs updating

[2018-07-16 17:06] zhouyx commented on #5603
Blocked by #6873, deprioritize.

[2018-07-16 17:07] prateekbh commented on #16745
The first effort related to Task#2 to was remove existing polyfill for a module build.
This was done as a part of #16452. Note this is yet to used by AMP pages in production.

[2018-07-16 17:11] zhouyx commented on #9735
@jridgewell Want to confirm with you that the owner system will still exist with the new layer manager?
If so I think the temporary approach that I propose is the actual fix and we can add this issue to the fix-it week planning.

[2018-07-16 17:13] sparhami commented on #16743
Looks like support for moments will be in the next AMP release. I'll update this bug once it is live.

[2018-07-16 17:14] lannka commented on #16599
@tlong2 could you answer address @markbiernat question about if auto-ads are supported in desktop?

Also, to reduce confusion can we re-phrase those messages?

[2018-07-16 17:15] rudygalfi commented on #14638
Re-assigning for @aghassemi to take a look. cc @jeffjose

[2018-07-16 17:15] alanorozco commented on #16606
Caused when `controls` attribute is not set.

This could change semantics somewhat, but we can add a rule so that it's shown for all 3p players  without `controls` set.

Something like

[code]

WDYT @aghassemi?

[2018-07-16 17:15] #11114 closed

[2018-07-16 17:18] lannka commented on #16741
According to @tlong2 's [comment](https://github.com/ampproject/amphtml/issues/16599#issuecomment-404801727), the messages could be as expected.

Are you not seeing any ads only on desktop? [issue](#16599) was reported for desktop not showing ads.

If it's also mobile, can you share a link that can reproduce your issue?

@tlong2 pls help triage.

[2018-07-16 17:18] rudygalfi commented on #14629
Re-assigning to some folks who may be able to say whether this is possible today or could take this as a feature request.

[2018-07-16 17:20] rudygalfi commented on #14469
Re-assigning to @ericlindley-g since this needs to be reviewed as part of PWA plans. cc @jeffjose for Client ID.

[2018-07-16 17:21] zhouyx commented on #10864
We can start with creating a whitelist of data attributes that can be used when calling getDataVars.

@calebcordry has implemented the filter features, I think it makes sense to add macros to deal with the urls.

[2018-07-16 17:21] lannka commented on #16069
Not seeing them anymore.

[2018-07-16 17:21] #16069 closed

[2018-07-16 17:24] nainar commented on #12294
Closing this isse as per last comments

[2018-07-16 17:24] #12294 closed

[2018-07-16 17:24] danielrozenberg commented on #10480
@rsimha I believe this was added as part of our CI, correct? I'm closing this, reopen if I'm wrong :)

[2018-07-16 17:24] #10480 closed

[2018-07-16 17:24] nainar commented on #12283
Dupe of #15821

[2018-07-16 17:24] #12283 closed

[2018-07-16 17:24] kul3r4 commented on #16743
Thanks for the update, I saw that ampproject.org already contains a doc on
that and thought it was ready to use.

On Mon, 16 Jul 2018 at 18:14, Sepand Parhami <notifications@github.com>
wrote:

[2018-07-16 17:29] ericlindley-g commented on #14064
Related: https://github.com/ampproject/amphtml/issues/16313

[2018-07-16 17:30] ericlindley-g commented on #16503
Related: https://github.com/ampproject/amphtml/issues/16252

[2018-07-16 17:50] nainar commented on #12404
Took a look at Firefox on desktop (Mac) and Android:

Firefox on Mac - no perceived perf issues.
Firefox on Android - there is a jump when you scroll through the `amp-fx-flying-carpet` component.
Link to screencast here: https://drive.google.com/file/d/1w1HsyXeKVxjRfETqzQU8foQZXepYbwvn/view?usp=sharing

[2018-07-16 18:11] zhouyx commented on #11380
@rudygalfi Fire once limitation doesn't apply to `click` trigger.  Also it is not possible to only trigger `click` event once.

According to the design review result we decided to make the `selector` to always be a multi selector. This is blocked because we need to first figure out how many publishers configure their page with a selector that selects multiple elements currently, so we don't create

[2018-07-16 18:17] ericlindley-g commented on #14629
/cc @aghassemi  @choumx

[2018-07-16 18:21] lannka commented on #16599
@markbiernat thanks for the debugging info.

I played with @jamescridland 's site, and I found ads **below the fold** are showing up.

However, due to "no UI reflow" policy, all the ads **above the fold** are not being expanded, and ended up with 0px height.

Here is an **above-the-fold** ad with 0px height:

<img width="500" alt="screen shot 2018-07-16 at 11 10 32 am" src="https://user-images.git

[2018-07-16 18:26] zhouyx commented on #11656
According to what @jasti found, doesn't look like the issue is related to placeholder. But looks like a no fill ad

[2018-07-16 18:27] ericlindley-g commented on #16212
@franciscoUE The links you provided that are "broken" seem to be working as intended: I believe they are special requests that amp-list sends to the host to get a smaller response that just contains updates since the last time the page was loaded.

Are you seeing the pages break in the context of a platform that uses the Google AMP Cache? If so, please reopen this issue (I'll close for the time be

[2018-07-16 18:27] #16212 closed

[2018-07-16 18:29] ahmadmarafa commented on #16741
ya the problem happen in desktop browser , i cant see any ads ,  i did not test it on my mobile , would you like to test it ?

[2018-07-16 18:32] cathyxz commented on #16588
I forked this to https://codepen.io/cathyxz/pen/ajNpaZ, using latest canary which includes changes from #16404 by including https://cdn.ampproject.org/rtv/001531357871900/v0.js.

I tested this on Safari and Firefox on MacOS, and the fallback images show correctly.

[2018-07-16 18:33] #14735 closed

[2018-07-16 18:34] nainar commented on #14629
We have 2 events play/pause for `<amp-audio>` - Documentation here: https://www.ampproject.org/docs/interaction_dynamic/amp-actions-and-events#amp-audio

[2018-07-16 18:34] #14629 closed

[2018-07-16 18:38] zhouyx commented on #12345
I tried with https://amp.welt.de/amp/article/171310795 a few times. I was able to reproduce. But it's not a browser's bug or sticky ad bug.  The reason is that the appnexus network returned an empty slot ad without telling the AMP runtime that it's a no-fill ad. And there is no way for AMP to collapse.

This should be fixed from the appnexus ad network side. I'll close the issue for now. Thank you

[2018-07-16 18:38] #12345 closed

[2018-07-16 18:42] nainar commented on #12908
Closed by #14819

[2018-07-16 18:42] #12908 closed

[2018-07-16 18:42] ericlindley-g commented on #16015
Side-note: @aghassemi  Do we have a good category for animation-related items? Should we start a new one?

[2018-07-16 18:47] calebcordry commented on #11656
I think this is the same issue as #16334. Should we combine them?

[2018-07-16 18:51] alanorozco commented on #16607
Chrome bug, fixed in latest Canary.

[2018-07-16 18:51] #16607 closed

[2018-07-16 18:57] nainar commented on #13822
Hi @shreeshkatyayan,

Please file this issue again with a stable link/codepen. Closing this since the bug is stale
Thank you and sorry for the inconvenience!

[2018-07-16 18:57] #13822 closed

[2018-07-16 18:58] kevinkassimo commented on #15165
Taking this issue to work on

[2018-07-16 19:00] lannka commented on #5401
This is mainly for remote config use cases that return multiple vendor configs. The same transport config will be applied to all the vendors, and most likely end up with ` the lowest common denominator: image`.

I can see this being a problem for tag managers like GTM or OGT.

One solution is to introduce `request` or `trigger` level override, as proposed here by @Gueorgi.
Another way to do this i

[2018-07-16 19:00] zhouyx commented on #13146
I don't think we apply `sandbox` to ad iframe. to @lannka

[2018-07-16 19:03] lannka commented on #11995
Duplicated with #16599 . let's track over there.

[2018-07-16 19:03] #11995 closed

[2018-07-16 19:03] sparhami commented on #9455
Not sure about the exact use case, but if you need to support zooming on a specific element, [`<amp-pan-zoom>`](https://github.com/ampproject/amphtml/blob/4dabad230ffa8a142b92ba72d26dbf20f18ff533/extensions/amp-pan-zoom/amp-pan-zoom.md) might be useful. Even if one AMP viewer supports scaling, others may not. Also, AMP documents could be embedded in other sorts of ways in the future that don't sup

[2018-07-16 19:04] zhouyx commented on #13196
@tygavin Your request sounds like a different feature request. To block `<amp-analytics>` or `<amp-pixel` with certain events. Could you please create a new feature request for that, and describe your detail requirements. So that we can track and prioritize issues separately. Thank you.

[2018-07-16 19:06] zhouyx commented on #13327
Track in #15752. Close

[2018-07-16 19:06] #13327 closed

[2018-07-16 19:08] sparhami commented on #16613
I'll take a look at this.

[2018-07-16 19:10] zhouyx commented on #13547
Looks like adsense formatting issue. to @jasti

[2018-07-16 19:13] markbiernat commented on #16599
Thank you very much. I think proper integration with Adsense is an important part for AMP wider adoption.

OK I see what you mean in the above example. However, for whatever reason I do not see the same situation on my site: [Claritaslux](https://claritaslux.com/how-to-be-romantic/)

In fact if I view source I do not see ad-amp showing up, unless I disable the plugin.

[2018-07-16 19:14] choumx commented on #16695
Ah, re-read the FR. You could use amp-bind to render an amp-list outside of the `form` subtree with `on="submit-success:AMP.setState({myListSrc: event.response})"`. Not the most elegant solution though.

[2018-07-16 19:16] lannka commented on #6055
That sounds a request to individual vendors. AMP would have no mean to create and maintain a browser plugin for GoogleAnalytics.

[2018-07-16 19:16] #6055 closed

[2018-07-16 19:20] nainar commented on #12138
Taking this on!

[2018-07-16 19:31] tafadzwa2015 commented on #16500
To Get the Code to work without the validation error, move the code just above close form tag </form>. Amp will not validate if the submit-success and submit-error divs are within another div
Your new code should look like this. Hope It helps.
`<form method="post"
          class="p2"
          action-xhr="contact-action.php"
          target="_top"
          custom-validation-reporting="show-all-

[2018-07-16 19:42] dparikh opened #16752 "Exclude third_party/**/*.* from auto linting."
Currently, the /build-system/config.js has

lineGlobs: [
...
'!{node_modules,build,dist,dist.3p,dist.tools,' +
        'third_party}/**/*.*',
...
]

which works in the gulp build but the editors still show the eslint errors.

This could be moved to .eslintrc so that build and editors ignore these files.

[2018-07-16 20:04] danielrozenberg commented on #7527
ESLint doesn't really know the type of variables, so I don't think it's the right tool for the job. Any ideas how we can create a rule for this?

[2018-07-16 20:08] rsimha commented on #10480
Correct, this is done. We now have a dashboard at https://codecov.io/gh/ampproject/amphtml/branch/master, and you can generate a local code coverage report by running `gulp test --a4a --coverage`, for example

[2018-07-16 20:29] #16661 closed

[2018-07-16 20:42] dvoytenko opened #16755 "Reimplement viewport implementation as a shadow root"
https://medium.com/@dvoytenko/amp-ios-scrolling-redo-2-the-shadow-wrapper-approach-experimental-3362ed3c2fa2

[2018-07-16 20:48] cathyxz commented on #9430
/to @sparhami to dedupe / link to loading states master issue if applicable.

[2018-07-16 21:08] cathyxz commented on #11230
We got rid of our `srcset` polyfill and support native `srcset` now, so this issue is no longer relevant. Chrome doesn't have this problem, but Firefox does.

[2018-07-16 21:08] #11230 closed

[2018-07-16 21:31] zhouyx commented on #14233
@dougscher You are suggesting adding `extraUrlParamsReplaceMap` to trigger config as well as the `extraUrlParams`.  What to do with global `extraUrlParamsReplaceMap` and trigger level `extraUrlParamsReplaceMap`? Shall we combine the values and override config level value with trigger level value?  Could you please share your detail use case?

[2018-07-16 21:34] cathyxz commented on #12324
Yup! @gctommy  The proposed way currently to work around this is to use `amp-lightbox-gallery`. The way it's handled is we use a fade in transition if the width/height of the `amp-img` is different from the natural width / height of the image. This way it no longer looks broken. The FR to have this transition nicely is tracked in https://github.com/ampproject/amphtml/issues/13039--we're still expl

[2018-07-16 21:34] #12324 closed

[2018-07-16 21:37] jeffjose commented on #16737
Yup. Just changed it.

[2018-07-16 21:47] calebcordry commented on #16438
Upon further inspection, this appears to be the desired behavior. Ads will always be inserted in the `next page` direction so if you are traveling through the story backwards you may never see the ads.

[2018-07-16 21:47] #16438 closed

[2018-07-16 21:47] cathyxz commented on #15594
This is done by #16343

[2018-07-16 21:47] #15594 closed

[2018-07-16 21:49] zhouyx commented on #13695
@imwm `${totalTime}` is a variable for visibility tigger only. I think what you want to use is probably the `${timerDuration}` variable. Let me know if that works for you. Thank you.

I read our [documentation](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#total-time), and it is very confusing. We should aim at updating the doc.

cc @jeffjose

[2018-07-16 21:51] aghassemi commented on #12821
@alanorozco is taking this one (as discussed offline)

[2018-07-16 21:51] aghassemi commented on #16652
I'll take this one

[2018-07-16 21:59] choumx commented on #15450
@trvanhai4 Sorry about the delay. Will fix this week.

[2018-07-16 22:00] cathyxz commented on #2980
So it seems like the FR here only applies to nested accordions.

When a 'section' is closed, to restore the default state of its children or to close all of them.

Given that there is currently no limit in terms of how many levels of nesting you can do with accordions, and that we already have `expand-single-section` and animating an accordion per
- https://github.com/ampproject/amphtml/issues/113

[2018-07-16 22:03] nainar commented on #12138
Hi, I have a demo [here](https://tranquil-silkworm.glitch.me/) of using `<amp-list>` and `<amp-mustache>` to set the `src` attribute on `<amp-audio>`.

Looking at setting  `src` attribute via `<amp-bind>`.

[2018-07-16 22:04] nainar commented on #12138
[ABE](https://ampbyexample.com/components/amp-bind/) has demos how to do it for amp-bind.

[2018-07-16 22:04] ericlindley-g opened #16761 "Fix `<form>` elements in invalid AMP contexts"
Some developers want to use AMP components and v0.js when the page itself isn't valid AMP. This is generally unsupported, and causes a couple problems, including:

The runtime breaks some non-AMPHTML elements. An example of this is `<form>` — AMP requires that the amp-form script be included in the page and for forms to be implemented per the amp-form spec for them to work.

This issue is to fix (

[2018-07-16 22:06] #16606 closed

[2018-07-16 22:08] Gregable commented on #7420
Closing this, as this is no longer a priority.

[2018-07-16 22:08] #7420 closed

[2018-07-16 22:16] nainar commented on #16500
Taking this on! Sorry for the inconvenience we have caused so far! Should hopefully have something up soon enough to alleviate this!

[2018-07-16 22:18] #16752 closed

[2018-07-16 22:19] lannka opened #16764 "Percy test for amp-jwplayer is flaky"
https://percy.io/ampproject/amphtml/builds/862151

[2018-07-16 22:31] aghassemi commented on #12138
@nainar I think issue is with updating `src` for `source` child elements of `amp-video`. `src` for the actual `amp-video` or `amp-audio` should work.

[2018-07-16 22:33] alanorozco opened #16768 "`gulp` fails with "Found 2 AMP_CONFIG(s) before write. Aborting""
Occurs when `--extensions` is set.

[2018-07-16 22:34] aghassemi commented on #12138
nevermind should have looked at the demo. Look's like @choumx switch to `DOMpurifier` fixed this for us.

[2018-07-16 22:34] #12138 closed

[2018-07-16 22:37] choumx commented on #14089
Closing since we're taking an alternate approach.

[2018-07-16 22:37] #14089 closed

[2018-07-16 22:38] Gregable commented on #4421
Fixed for FIXIT.

Won't be live until next week.

[2018-07-16 22:38] #4421 closed

[2018-07-16 22:39] ericlindley-g commented on #15878
It seems like the feature request here is to make additional server calls to different endpoints via amp-form, conditional on the success/failure of previous calls.

@ssingar , is there a reason you don't set up this logic on the server side? Naively I would expect the client to just submit one request, and that the server would handle the rest, but I know that some folks have dependencies in thei

[2018-07-16 22:44] choumx opened #16769 "[Master feature] Finalize design and begin implementation of "Roots""
Effort to refactor AMP's internal APIs (e.g. services) to reduce bugs, improve usability, and scale them to future endeavors like AMP "out-of-box" and 1-pass optimization.

### Improving runtime services API

See #16322.

### Support ampdoc on FIE level

- [x] Load extensions for doc, not window
- [ ] ampdoc on FIE and ampdoc.parent
- [ ] Service initialization per ampdoc + embeddable services
- [

[2018-07-16 22:45] rsimha commented on #16768
Found the problem.

We're building `amp.js` twice in `gulpfile.js`.

https://github.com/ampproject/amphtml/blob/9f72aabe2392c84a7a58bd35327e73745b9e7ef6/gulpfile.js#L277
https://github.com/ampproject/amphtml/blob/9f72aabe2392c84a7a58bd35327e73745b9e7ef6/gulpfile.js#L294

This appears to have been added by @prateekbh in https://github.com/ampproject/amphtml/commit/703aad74ebe0c045389c69e2d43041ffb2

[2018-07-16 23:00] rudygalfi commented on #13695
@jeffjose Can you update the docs?

[2018-07-16 23:08] choumx commented on #12527
Thanks for the report. Looking at this as part of a fix-it week but I can't seem to repro anymore on Chrome 67. I tried the given URL, on a local copy with the given RTV, or on new pages from SRP.

@ericfs Are you still seeing this bug?

[2018-07-16 23:10] #16764 closed

[2018-07-16 23:10] aghassemi commented on #16614
@jasonconway-williams @ro2ni3 Just an FYI that AMP's prod release likely won't happen this week as well so please plan for after July 25th production hit.

[2018-07-16 23:30] aghassemi commented on #16683
I will take this one (discussed with owner @zhouyx )

[2018-07-16 23:34] cathyxz commented on #11372
Addressing this in fixit summit.

[2018-07-16 23:36] cathyxz commented on #14244
I'll take this one for FIXIT.

[2018-07-16 23:36] #16500 closed

[2018-07-16 23:43] nainar commented on #11248
Hi - I am taking this on! Sorry for the inconvenience this issue has caused so far! Should hopefully have something up soon enough to alleviate this!

[2018-07-16 23:48] aghassemi commented on #12591
I will take this for FIXIT.

[2018-07-16 23:54] nainar commented on #13388
Assuming the demo is the one here: https://ampbyexample.com/components/amp-form/(Form Custom Validation)

The issue is with the required pattern being set as follows: `required pattern="\w+\s\w+"` -> this doesn't allow for non ASCII characters. .

Taking this on - this will require a fix in the amp-by-example repo though. Will link the PR here once I have it up.

[2018-07-17 00:07] jridgewell commented on #12404
Can I pass this one off to you @nainar?

[2018-07-17 00:07] cathyxz commented on #16588
Chatted about the double-rotation fallback-only-gets-toggled-once case with @aghassemi, and we decided not to change the current behavior because it's a super edge case:
1. It only applies to Firefox.
2. It only applies if you have a `srcset` with mixed `webp` and valid image formats.
3. It only applies if you rotate the phone and back again.

Having a mixed `srcset` that has both `webp` and other

[2018-07-17 00:07] #16588 closed

[2018-07-17 00:12] rudygalfi commented on #11380
@jeffjose multi-selector support should be something we start investigating to support soon.

@zhouyx How is `selector: "A, B"` handled today? It sounds like that behavior is just undefined?

[2018-07-17 00:15] nainar commented on #12404
Yup, assigning to self.

[2018-07-17 00:19] aghassemi commented on #12404
@nainar The jump is caused by the addressbar hiding and showing (only happens in origin not viewer) and is replicable in Chrome and Safari as well (also with any scrollbound animations not just flying carpet). Issues is that actual viewport height changes as browser hides/shows the addresbar. I've spend lots of time trying to find a solution for this without luck (Even Chrome's new .scrollTimeline

[2018-07-17 00:19] src-code opened #16779 "Google AMP CDN using hashed publisher subdomain, breaks CORS validation"
## What's the issue?

Seeing a lot of broken CORS requests in some of our content due to the publisher subdomain being one-way hashed by the Google AMP CDN.

For example, this AMP doc:

https://es-us.vida-estilo.yahoo.com/amphtml/thalia-festeja-los-69-anos-de-su-marido-y-fans-creen-que-se-puso-botox-mira-que-joven-luce-033930503.html

According to the encoding documented in the Google AMP cache do

[2018-07-17 00:29] #15956 closed

[2018-07-17 00:29] markbiernat commented on #16599
@jamescridland First, thank you very much for the reply.
I personally can live without adsense on my desktop version, however, I think you will get similar questions in the future from others. I am beta testing the AMP Native option which I think is the future.

I have to respectfully disagree with you.  Are you sure you used a desktop, rather than a mobile device? On my mobile devices all ads dis

[2018-07-17 00:36] #16768 closed

[2018-07-17 00:42] jamescridland commented on #16599
@markbiernat Here's what I see. I have no idea what you mean by 'native mode'. The only error that the AMP validator extension kicks up is that you have TWO amp-auto-ads extensions loading. I'd fix that, if I were you.

![claritas](https://user-images.githubusercontent.com/231941/42790340-e4e96762-89ad-11e8-96c7-065eb0b502c7.png)

[2018-07-17 00:57] meistudioli commented on #16695
@choumx :

Do you mean we can also do something like the following code ?

[code]

[2018-07-17 02:06] a-warner commented on #16637
that makes sense, thanks for clarifying @jridgewell

[2018-07-17 02:20] markbiernat commented on #16599
Here is what is ment by Native:
![native](https://user-images.githubusercontent.com/30418497/42793064-50f1b6f2-8946-11e8-90c5-a64f27ea8755.jpg)
Its a plugin that Wordpress/Automattic creates
![plugin](https://user-images.githubusercontent.com/30418497/42793084-6414f35c-8946-11e8-8617-b38116125a09.jpg)

[2018-07-17 02:43] jamescridland commented on #16599
OK, I've no idea about Wordpress, and this isn't a wordpress project.

[2018-07-17 04:19] choumx commented on #16695
Yes that's what I meant.

[2018-07-17 04:59] choumx commented on #16666
Correct, services that need to be accessed in PWA context should be registered and retrieved using `forDoc` variants. Pass in either the custom element or `this.getAmpDoc()` (available after `buildCallback`) to the service getter.

We have some upcoming initiatives to make this API more intuitive. Let me know if you have any questions.

[2018-07-17 06:47] meistudioli opened #16783 "CSS mask: fails using Safari on ampproject cdn cache due to missing CORS headers"
To whom it may concern:

Please access the following links with browser **safari** (desktop || mobile version).
- [ampproject cdn cache - yahoo mall](https://tw-mall-yahoo-com.cdn.ampproject.org/c/s/tw.mall.yahoo.com/amp/store/jacky5318)
- [ampproject cdn cache - yahoo usedcar](https://tw-usedcar-yahoo-com.cdn.ampproject.org/c/s/tw.usedcar.yahoo.com/amp/item/100372462706)

There will be several im

[2018-07-17 07:38] meistudioli commented on #16695
Looks great! I'll take a try. Thanks a lot.

[2018-07-17 08:40] jasonconway-williams commented on #16614
Thanks @aghassemi

[2018-07-17 09:23] franciscoUE commented on #16212
Thanks for your answer @ericlindley-g

Regarding this:

I observed this while investigating why the update button does not appear after new items are added to the amp-live-list component.

While testing this I kept another tab with the cached page, this tab was refreshed regularly to make sure that the cache was updated with new items to be sure it was not a cache issue, and I confirmed that after

[2018-07-17 09:31] durr04 opened #16784 "Custom page font loading not working properly for AMP CDN URL"
Custom page font loading not working properly for CDN URL

I have created AMP page with valid AMP HTML & AMP validator test has been passed. The custom fonts used for this page are getting loaded correctly also. But for the AMP Cache url of the same page, the custom font are not loading.

[2018-07-17 09:58] antejan commented on #16588
Sounds great, thank you! Also checked your fork in my devices/browsers and it works perfectly for me as well. When do you think we can expect it to be released to `https://cdn.ampproject.org/v0.js`?

[2018-07-17 10:58] dermatzi commented on #11869
i am confused that reddit itself offers an "amp-iframe" tag when getting the embed code for a post. why would they not use their own amp-reddit tag?
also i notice, that the responsive resize of reddit's amp-iframe works fine ("resizable" attribute).
so why not simply implemeting the "resizable" attribute for the amp-reddit tag?

[2018-07-17 11:37] #16652 closed

[2018-07-17 12:05] evrenselgzt opened #16786 "The only AMP Stories publisher in Turkey"
Hi,

We're the only AMP Stories publisher in Turkey, since 8th March. [https://www.evrensel.net/hikayeler](https://www.evrensel.net/hikayeler)

We want to use DFP auto ads in our stories. We created data-slot "/9920937/AMPStory" and published  300*600 AdSense ad unit. What should we do now?

Also if you could add our stories to the AMP samples, we'll be happy.

[2018-07-17 12:12] markbiernat commented on #16599
@jamescridland
Yes agreed and sorry for the confusion, I would not just randomly post on the wrong forum. This is not a third party plugin but rather created by Wordpress itself in cooperation from my understanding with Google and AMP.
And when initially looked at on the WP support forum, the creator of this for Wordpress AMP said, Adsense not showing on the desktop view, was not a WP issue but ra

[2018-07-17 12:31] meistudioli commented on #14629
@nainar :

Thank you so much.

[2018-07-17 14:08] ericfs commented on #12527
I can no longer reproduce.

[2018-07-17 14:12] #16176 closed

[2018-07-17 16:13] zhouyx commented on #11380
`selector: "A, B"` is basically a `querySelector` with `"A, B"`.

[2018-07-17 16:14] ericlindley-g commented on #16212
Got it — thanks for elaborating.
I was able to test just now with [another live blog in the wild](https://www.google.com/amp/s/amp.theguardian.com/politics/blog/live/2018/jul/17/brexit-trade-bill-vote-referendum-result-branded-dodgier-than-ever-after-vote-leave-found-to-have-broken-election-spending-law-politics-live) and didn't see the issue (update button appears as expected).

The issue with yo

[2018-07-17 16:30] nainar commented on #13491
Hi,

Thank you for filing this issue! Unfortunately, the `as-you-go` strategy is meant only to aid in validation.

Here is a quote from the component documentation:
The `as-you-go` reporting option allows your user to see validation messages as they're interacting with the input. For example, if the user types an invalid email address, the user will see the error right away.  Once they correct the

[2018-07-17 16:30] #13491 closed

[2018-07-17 16:33] #16162 closed

[2018-07-17 16:34] choumx commented on #12527
Thanks.

[2018-07-17 16:34] #12527 closed

[2018-07-17 16:39] rudygalfi commented on #2273
Reassigning to @lannka. It's looking like we'll get started in mid-August.

[2018-07-17 16:59] rsimha opened #16794 "Numerous type errors seen with `gulp dist --typecheck_only`"
`gulp check-types` only does type checking for a subset of files. However, `gulp dist --typecheck_only` does so for all files. With this, I'm seeing numerous type errors that are likely being masked by the current version of closure compiler in normal compilation mode.

[code]

[2018-07-17 16:59] rsimha commented on #16794
/to @erwinmombay
/cc @kristoferbaxter

[2018-07-17 17:03] nainar commented on #13388
PR out here: https://github.com/ampproject/amp-by-example/pull/1359

[2018-07-17 17:06] choumx opened #16795 "Call pause/resume on page visibility change"
Basically, apply the behavior of pausing/resuming audio/video when swiping between articles on the SRP viewer to when tabs are backgrounded. This may have been considered previously so any context would be appreciated.

Note this would be a user-noticeable change in behavior for components that use `pauseCallback` and `resumeCallback`.

/cc @jridgewell @dvoytenko @gmajoulet

[2018-07-17 17:08] #15450 closed

[2018-07-17 17:09] choumx commented on #16795
Justin: It should be called.

/to @alabiaga A good fix-it task.

[2018-07-17 17:09] erwinmombay commented on #16794
the former errors for extern files are hacks we have in place.

the latter errors are kind of weird cause that would mean the paths where types are in aren't visible to the current compilation run (not sure why)

[2018-07-17 17:11] rsimha commented on #16794
Could it be that the relative paths are correct w.r.t. the original source files, but not w.r.t. the location of `v0.js`?

[2018-07-17 17:16] nainar commented on #16651
Taking this on.

[2018-07-17 17:26] kevinkassimo opened #16797 "Misplaced `amp-audio` actions in amp-actions-and-events"
## What's the issue?

In [spec about actions and events](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md), the [Actions for `amp-audio`](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#amp-audio) is misplaced in Events section. This issue is also reflected in [ampproject.org reference](https://www.ampproject.org/docs/interaction_dyn

[2018-07-17 17:45] choumx commented on #16795
Looks like this was a red herring.

[2018-07-17 17:46] #16797 closed

[2018-07-17 17:47] gmajoulet opened #16801 "amp-story pauseCallback called on render"
Simply loading a story triggered the `pauseCallback` method. `resumeCallback` isn't called after.

[2018-07-17 17:49] danielrozenberg opened #16802 "Make tests easier to debug with browserify/karma source maps"

[2018-07-17 17:50] erwinmombay opened #16803 "fix bad flags passed to closure compiler"
the gulp closure compiler plugin possibly changed the way it passes in --define arguments to closure where the `--define` string is no longer in the var args.

[2018-07-17 17:50] choumx commented on #16795
Let's verify if this does or doesn't happen today. It's not obvious when quickly scanning the code between resources-impl.js and document-state.js.

[2018-07-17 17:54] erwinmombay commented on #16803
fixed https://github.com/ampproject/amphtml/pull/16793

[2018-07-17 17:54] #16803 closed

[2018-07-17 18:19] lannka commented on #16060
Done. Will be in canary for testing next week.

[2018-07-17 18:19] #16060 closed

[2018-07-17 18:21] #13336 closed

[2018-07-17 18:21] sparhami commented on #9847
After taking a more in depth look at this and writing some code, it looks like this is hard to solve in general. For example, if a developer has a sidebar with:

[code]

Ideally, we would focus the `<h1>` element. But we cannot since VoiceOver will not move over if we focus it. So we cannot simply take the first element and try to focus it. We also cannot warn the developer (either as a warning or

[2018-07-17 18:30] alanorozco commented on #2374
@nainar Probably can be accomplished in a simpler way :) But keeping the same API (i.e. animation names) should be ideal.

[2018-07-17 18:33] nainar commented on #2374
Sounds good! :)

[2018-07-17 18:34] sparhami commented on #12258
After taking a more in depth look at this and writing some code, it looks like this is hard to solve in general. For example, if a developer has a sidebar with:

[code]

Ideally, we would focus the `<h1>` element. But we cannot since VoiceOver will not move over if we focus it. So we cannot simply take the first element and try to focus it. We also cannot warn the developer (either as a warning or

[2018-07-17 18:44] sparhami commented on #9847
Looks like #12258 is a bit harder than I had hoped, so this might take a while to address as a result.

[2018-07-17 18:44] #5024 closed

[2018-07-17 18:53] nainar commented on #16611
Can't repro the issue on Firefox on Android.
**Taken on a Pixel 2 - Firefox version 61 on Oreo.**
![screenshot_20180717-111058](https://user-images.githubusercontent.com/7919520/42837236-54f1c104-89b2-11e8-8273-520279d14294.png)

On iOS though, below are screenshots taken on
**Safari**
![safari](https://user-images.githubusercontent.com/7919520/42839211-d717bd0a-89b7-11e8-9f3b-14e2eddd6148.jpg)
**

[2018-07-17 19:14] rendude opened #16810 "Container layout on responsive amp-ad"
## What's the issue?

amp-ad component fixes the width and height ratio for responsive ads. For layout="responsive," this becomes a big problem when the size of the screen increases but the height is not increasing at the same ratio. What's left is an awkward white space on the bottom of the ad. If layout="fixed-height" is used, the coder needs to somehow pre-determine the height for all of the co

[2018-07-17 19:53] ericlindley-g commented on #16611
@nainar Thanks for trying to repro (possibly got fixed by some other change in the meantime) — maybe we can table the Android issue for now until we can repro, and focus on the iOS issue instead?

[2018-07-17 19:55] rsimha opened #16812 "Make sauce connect more robust in the presence of failures"
Travis builds time out when sauce connect fails. For example, https://travis-ci.org/ampproject/amphtml/jobs/405044381#L672

[2018-07-17 20:13] #11882 closed

[2018-07-17 20:45] kevinkassimo commented on #16431
Seems moving
https://github.com/ampproject/amphtml/blob/abbccaee3e64e5b54111e2f39d17da6bd2b4b213/extensions/amp-youtube/0.1/amp-youtube.js#L160
to `layoutCallback` after creating iframe should work

[2018-07-17 20:46] cathyxz commented on #16588
@antejan the current canary should be released to production the following Tuesday on 7/24/2018. I think the release tracking issue is: https://github.com/ampproject/amphtml/issues/16669.

[2018-07-17 20:52] cathyxz commented on #16669
I'm noticing that the release number on this issue does not match the current canary which is https://github.com/ampproject/amphtml/releases/tag/1531357871900 . I imagine that the release number changed after the cherry pick. @lannka can you verify?

[2018-07-17 20:55] #11621 closed

[2018-07-17 21:09] sparhami commented on #5730
I'll take a look at this. It seems like unifying the management of state / updates could help avoid this sort of issue.

[2018-07-17 21:16] alanorozco commented on #12885
Just for reference, the following event trigger works:

[code]

[2018-07-17 21:20] nainar commented on #16611
Yup - I currently don't have an iOS device handy, so I will take a look at this tomorrow as part of the fixit.

[2018-07-17 21:46] #15242 closed

[2018-07-17 21:47] dvoytenko commented on #16720
The amp-subscriptions, on the top level, does not have `access` field - the similar-in-notion field is called `granted`. The `data` substructure allows any custom fields, but top level is protected to ensure forward extensibility. It's possible to instead put the `access` field inside `data` and do `AUTHDATA(data.access)`. But I'd instead recommend `AUTHDATA(granted)` since it covers any type of e

[2018-07-17 21:57] jridgewell commented on #7476
This is a nessy.

[2018-07-17 21:57] #7476 closed

[2018-07-17 22:02] rsimha opened #16822 "amp-lightbox-gallery integration tests are flaky"
For example: https://travis-ci.org/ampproject/amphtml/jobs/405103293#L672

[2018-07-17 22:16] ericlindley-g commented on #5376
Closing this now that we have [amp-geo](https://www.ampproject.org/docs/reference/components/amp-geo), but please re-open if this doesn't address the need here.

[2018-07-17 22:16] #5376 closed

[2018-07-17 22:30] rsimha opened #16825 "test/integration/test-amp-ad-3p.js is flaky"
For example:
https://travis-ci.org/ampproject/amphtml/jobs/405108838#L616
https://travis-ci.org/ampproject/amphtml/jobs/405085066#L616

[2018-07-17 22:31] alin04 commented on #14006
How about: `mandatory_anyof`

[2018-07-17 23:02] kevinkassimo commented on #9536
Taking this issue

[2018-07-17 23:42] rsimha opened #16832 "amp-bind integration tests are routinely timing out on `master`"
For example
https://travis-ci.org/ampproject/amphtml/jobs/405132168#L616
https://travis-ci.org/ampproject/amphtml/jobs/405123204#L643
https://travis-ci.org/ampproject/amphtml/jobs/405120361#L643

[2018-07-17 23:43] rsimha commented on #16832
It's possible that the test prior to these tests is crashing, and resulting in the appearance of timeouts.

[2018-07-17 23:49] choumx commented on #16832
This could've caused second and third failures. First failure had several integration tests time out. I'll keep an eye on master and gather more evidence.

[2018-07-18 00:01] nainar commented on #12998
Taking this.

[2018-07-18 00:43] aghassemi commented on #12885
I think https://github.com/ampproject/amphtml/pull/12922 has fixed this.
Testing with https://storage.googleapis.com/mydebugstorage/index.html , I see the `complete` variable sent to GA after video ends.

@1987yama3 please let us know if this is still an issue for you by reopening the bug.

[2018-07-18 00:50] aghassemi opened #16838 "`amp-fx` does not work in `amp-list`"
reported by @mofid on slack channel.

Issue is sanitizer removing the attribute. There may also be other issues (e.g. amp-fx-collection needing to rescan)

[2018-07-18 00:51] cramforce opened #16839 "The build process runs update-packages multiple times"
See e.g.
[code]

and apparently each invocation takes about a second. One invocation should be sufficient.

[2018-07-18 00:53] rsimha commented on #16839
There's no need to run `update-packages` on Travis, so we certainly can turn it off there.

[2018-07-18 00:57] choumx opened #16840 "amp-list: Reset when rendering local data too"
If `reset-on-refresh` is set, currently only resets due to `[src]` binding when fetching from network. Let's make this work for local data too.

`b/111558753`

[2018-07-18 01:43] cramforce commented on #16839
There is already a shortcut to avoid the yarn code. We do need the rest.
Just only once.

On Tue, Jul 17, 2018 at 5:53 PM Raghu Simha <notifications@github.com>
wrote:

[2018-07-18 03:24] honeybadgerdontcare commented on #14072
This is now live in the validator and amp-mustache support will be enabled in canary/prod in #16544.

[2018-07-18 03:24] #14072 closed

[2018-07-18 03:51] nainar commented on #5164
I'll take this on.

[2018-07-18 04:03] #16839 closed

[2018-07-18 06:47] durr04 commented on #7806
Thanks @aghassemi for your inputs. It worked with the variables & classes.

[2018-07-18 08:02] oliverfernandez commented on #2374
Thanks for taking care of this! :)

As per I see in #16813 there will be a new attribute in `amp-lightbox` to select different opening animations.

The limitation I see is that it's constrained to a fixed set of animations.

Could also be possible to use an `amp-animation` component together with `amp-lightbox`? Something like

[code]

[2018-07-18 10:02] zaxoavoki opened #16844 "How to enable scrolling while sidebar is opened"
I have a sidebar:
[code]
But when sidebar is opened I can't scroll the page. I see that `<html>` tag has this class `i-amphtml-scroll-disabled`.

**So, how can I enable scrolling on the page when menu is opened?**

[2018-07-18 10:59] 88kbbq commented on #16716
Awesome cvializ! Thx for responding. My apology for being so blunt. Was at the end of a long, frustrating day wrestling with AMP. But so far, the HTML5 input types date and time are pretty solid. Wonder why so much effort was put into a date picker. Keep fighting the good fight!

[2018-07-18 12:09] ecofriendlyAlternative opened #16845 "Question: AMP Stories and Google Analytics pageviews"
What is the best practice for Google Analytics on Stories?

Should we fire a new pageview on "tap"? should we fire an event?

How could we better understand on which story page the user left on? Should we fire and event at the end of the story?

Thanks in advance for the feedback

[2018-07-18 12:13] ecofriendlyAlternative commented on #16786
@jasti on [this article from Search Engine Land](https://searchengineland.com/google-releases-amp-stories-v1-0-with-new-features-including-an-ads-beta-for-dfp-users-302203), says that we need to sign-up our DFP account to present the story ads. how do we do that?

[2018-07-18 13:02] markbiernat commented on #16599
As this might be help to others, I fixed the validation error: tag 'amp-auto-ads extension .js script' appears more than once in the document."

By removing:

 "async custom-element="amp-auto-ads"
"://cdn.ampproject.org/v0/amp-auto-ads-0.1.js" - placed once in the header

 then adding this to my functions.php:
add_filter( 'wp_head', function( $data ) {
	$data['amp_component_scripts'] = array_merge

[2018-07-18 13:09] jasti commented on #16786
@ecofriendlyAlternative https://support.google.com/dfp_premium/answer/7084151?hl=en

[2018-07-18 13:44] ecofriendlyAlternative commented on #16786
@jasti Thanks! And any account will be able to serve story ads? Or do we need to opt-in/sign up for some beta product?

[2018-07-18 15:28] erwinmombay opened #16847 "single pass closure compiler issue tracker"
below are sub tasks required to get single pass closure compiler working

- [x] lazy load intermediate bundle
- [x] green tests on travis builds
- [ ] conformance checks/tests for code motion
- [ ] fix amp-date-picker bug
- [ ] fix sourcemaps
- [ ] remove special `-sp` suffix in error reporting when it becomes the main binary for prod traffic

[2018-07-18 15:29] p0hyurt opened #16848 "Lifter.com.ua want show ads in AMP Stories"
## What's the issue?

We have site lifter.com.ua and use AMP Stories a few months. We want add adsense/ADX to our stories. We found this link here:
https://amphtml.wordpress.com/2018/07/16/new-in-amp-stories-monetization-revamped-bookends-and-metadata/

We are biggest publisher in russian-language section on facebook and first publisher, who can try AMP Stories on russian language.

[2018-07-18 15:51] #2374 closed

[2018-07-18 16:01] cvializ commented on #16728
Suggested implementation: `<div verify-error>`

[2018-07-18 16:39] #5730 closed

[2018-07-18 16:48] rsimha opened #16851 "Karma is ignoring uncaught errors in tests (it thinks zero tests are run)"
For example: https://travis-ci.org/ampproject/amphtml/jobs/405408909#L1772

This should've been a Karma failure.

Edit: Turns out that Karma detected zero tests in the suite. As @cramforce says below, the fix for this is to fail when zero tests are detected.

[2018-07-18 16:48] rsimha commented on #16851
/cc @cramforce @erwinmombay

[2018-07-18 16:51] sparhami commented on #16613
I can't reproduce the original issue on Firefox 61 (Android or Linux), or Firefox 52 (Linux). This could have been fixed at some point since the original issue was created by another change or could be related to the browser version (I think this is less likely).

[2018-07-18 16:51] #16613 closed

[2018-07-18 17:06] lannka commented on #16599
@markbiernat sorry for the frustration here, and thanks for the tips to fix the validation error.
Did you get ads back on desktop mode after this? Fixing validation error is important, since only valid AMP pages will be cached.

@jamescridland thank you very much for the help here. Given more sites started to do "Native AMP" (what we normally call canonical AMP), I think we should start to think w

[2018-07-18 17:19] lannka opened #16856 "Shall we have different UX policies on desktop AMP"
Follows up the discussion here #16599

`amp-auto-ads` extension inserts ads after page load. Because of "no-reflow" policy that AMP enforces, all ads gets inserted into the first viewport are not expanded/displayed.

Shall we rethink this UX policy for desktop AMP?

/cc @cramforce @rudygalfi @jasti @jamescridland @markbiernat @tlong2

[2018-07-18 17:22] aghassemi commented on #16844
@zaxoavoki `amp-sidebar` is a `modal` which makes the page behind not interactive when opened ( it shims the background and any click on the page will close the sidebar). That is by design.

Curious to hear what your use-case is and whether we have existing ways to achieve what you like to do. A Url or screenshot would be great.

/cc @ericlindley-g

[2018-07-18 17:23] aghassemi commented on #16810
/to @lannka

[2018-07-18 17:23] aghassemi commented on #16845
/to @rudygalfi

[2018-07-18 17:29] calebcordry commented on #16334
@jessanastasio Could you please share the profile you saved? I am not able to repro with the performance tab open 😕

[2018-07-18 17:31] newmuis commented on #16845
@ecofriendlyAlternative See [amp-story-analytics.md](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story-analytics.md) for how to use analytics within amp-story.

Events are already fired every time a new story page becomes visible (`story-page-visible` trigger) and at the end of the story (`story-bookend-enter` trigger) trigger, so you can combine these with the other

[2018-07-18 17:41] rudygalfi commented on #16845
@ecofriendlyAlternative: In discussions I've had with product managers for analytics frameworks, they've said they'd advise considering transition to a new story page to be a new page view. So, for that, you'd need to make a customization on top of the `type=googleanalytics` and use `story-page-visible` trigger to create the additional pageview events.

Of course, a story is a really different exp

[2018-07-18 17:41] #16845 closed

[2018-07-18 17:41] rudygalfi commented on #16845
@newmuis Thanks for the doc update.

[2018-07-18 17:41] AutadeJS commented on #15920
960x1280 (3:4) vs 720x1280 (9:16) which image will FILL better on most mobiles, without cutting content on top?

[2018-07-18 17:43] aghassemi opened #16860 "switch to native `element.scrollIntoView` for our implementation."
https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView seems widely supported, but we should access how good it is first (special regarding scrolling to elements in sub-scrollable areas like scrollable lightbox and sidebar)

It does not have all the feature we have such as curve and duration for the `smooth` version, but I will be fine with breaking our API and start ignoring dura

[2018-07-18 17:47] newmuis commented on #15920
@AutadeJS do you have pointers to the two places that give conflicting information?

/to @hongwei1990 for a specific recommendation, but also note that this is likely to shift over time, as devices gain/lose market share.  The best practice is to ensure your design is at least somewhat responsive, and to allow for some amount of cropping on the sides of the assets.

[2018-07-18 17:48] lannka commented on #15608
The 2nd task was tracked here #12215

[2018-07-18 17:48] #15608 closed

[2018-07-18 17:49] calebcordry commented on #16439
Closed by #16806

[2018-07-18 17:49] #16439 closed

[2018-07-18 17:53] kevinkassimo commented on #16431
Taking this one if no one else is checking out

[2018-07-18 17:59] honeybadgerdontcare opened #16864 "LGTM analysis: JavaScript shouldn't run on PRs without JavaScript"
LGTM analysis: JavaScript runs on all PRs even those with just document changes. While this is not blocking for merge, it does waste resources and can lead to confusion for developers on when they can merge.

Ideally it would only run on PRs with JavaScript changes, or perhaps exclude PRs that have only markdown changes to start.

[2018-07-18 18:03] AutadeJS commented on #15920
@newmuis Congratulations of launch of AMP Stories 1.0

On image sizes, what I mean is when we create images to use as fill background in a page in AMP stories, what size do we create them? What's your official recommendation?

[2018-07-18 18:06] newmuis opened #16866 "Ensure reasonable behavior if 0.1-style bookend used with 1.0 binary"
If users specify bookend v0.1-style `share-providers`, the error message is very vague (`b.forEach is not a function`).  We should, instead, assert exactly what we're looking for and throw a meaningful error.

At first glance, we could probably also stand to add a code sample to the [social sharing section](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story.md#social-

[2018-07-18 18:12] cramforce commented on #16856
@ericlindley-g I think we did something like that for iframes, right?

[2018-07-18 18:20] lannka opened #16869 "test-requests.js fails when run alone locally"
● should handle batchPlugin function error
            Chrome 67.0.3396 (Mac OS X 10.13.4)
          AssertionError: expected spy to have been called exactly once, but it was called 0 times

[2018-07-18 18:29] #16708 closed

[2018-07-18 18:30] bthomas16 opened #16870 "Lightbox should be able to open after form submission with data from server."
## What's the issue?

AMP-Lightbox should have multiple layout options instead of being forced to use "layout=nodisplay".  This will allow custom error messages to be returned from the server inside of a lightbox component.

## How do we reproduce the issue?

We are trying to implement various error messages for failed POST requests and relying on `on="submit-success...;submit-error:...` does not

[2018-07-18 18:36] rsimha opened #16871 "Patching node_modules should be resilient with Travis' caching"
See https://github.com/ampproject/amphtml/pull/16857#issue-202325051 for context

[2018-07-18 18:46] calebcordry commented on #16334
![image](https://user-images.githubusercontent.com/16087874/42901367-40fe3ec4-8a80-11e8-9038-ac45c3fb1d2f.png)

[2018-07-18 18:55] tusharbanerjee opened #16875 "Please consider for Beta partnership for AMP Stories monetisation."
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-07-18 19:03] jpettitt commented on #16856
If we're going to do this is should resolution dependent but independent of orientation.  I'd also like the see the parent element that ads are being inserted into made invisible until such time as all ads above the fold are inserted (or a timeout happens).  I think screen jump is a worse sin that render delay.

[2018-07-18 19:08] jpettitt commented on #16784
This is almost certainly a CORS error, if the fonts are on your origin server they won't need an `Allow-origin` and will work,  however when the page is loaded from the cdn it will need an `Allow-origin: *` or `Allow-origin: <domain of the cache>` to be set by your server.

[2018-07-18 19:20] jpettitt commented on #16783
Could be cache bug, could be a Safari bug.  css `mask:` on safari requires CORS headers.  I'm guessing Safai is treating masks the same way browsers treat fonts, whereas Chrome sees masks as images.

This is the offending line in the example page

[code]

[2018-07-18 19:31] curseagain commented on #16334
Hi @calebcordry, here are the steps I've taken to reproduce the issue:
1. Clear your browser's cache of images and files
2. Continuously visit different recipe pages on tasty.co on chrome desktop.  Eventually you'll encounter a page that takes a very long time to load.  Here is a little video to demonstrate: https://monosnap.com/file/CXKKYapljhUXWRqqfybvApaYbpHXHs

The error that I'm seeing each t

[2018-07-18 19:40] alanorozco opened #16876 "I hate the `no-mixed-operators` lint rule."
![tenor 2](https://user-images.githubusercontent.com/254946/42903743-a9046eba-8a87-11e8-9043-7a516ebf5a6d.gif)

[2018-07-18 19:40] Gregable commented on #16783
Unassigning for amp cache to look at.

[2018-07-18 19:40] rsimha commented on #16876
/cc @jridgewell @gmajoulet

[2018-07-18 19:41] Gregable commented on #16779
Unassigning for amp cache to look at.

[2018-07-18 19:50] jasti commented on #16786
It's an open beta at the moment, so shouldn't have any restrictions but please do contact DFP support if you are having any issues regarding this.

[2018-07-18 19:52] jpettitt commented on #16876
+100

[2018-07-18 19:55] jridgewell commented on #16876
I only care about `||` and `&&`. We can disable every other mixed operator.

[2018-07-18 19:57] gmajoulet commented on #16876
`false && false || true` result is not obvious at all, especially in real word cases where it's method calls and not booleans

I'd be happy with @jridgewell's suggestion though

[2018-07-18 20:54] jpettitt commented on #16720
Closing as invalid

[2018-07-18 20:54] #16720 closed

[2018-07-18 21:03] gmajoulet opened #16880 "Story video ads are playing in the background, before being displayed."
Story video ads are playing in the background, before being displayed.

[2018-07-18 21:10] markbiernat opened #16883 "amp-auto-ads not working on Firefox"
@lannka
I started a new thread to branch from here https://github.com/ampproject/amphtml/issues/16599#issuecomment-406004994 because the issue seems not to be limited to desktop but includes mobile and is OS and Browser specific.

I did more testing.

I tested two different domains on multiple pages, with different IPs using the AMP lastest JS code here is what I observed:

Andriod OS Chrome - Ads

[2018-07-18 21:17] hongwei1990 commented on #15920
Sorry for the conflicting information that you saw in different places. Please let us know where you saw it so we can fix it. The recommended aspect ratio for vertical background content is 3:4. The viewport aspect ratio on standard devices without browser navigation and OS navigation is close to 17:25, so 3:4 scales better than 9:16.

[2018-07-18 22:04] alanorozco commented on #16876
![tumblr_liy7k0ttjw1qixleeo1_400](https://user-images.githubusercontent.com/254946/42910307-e7ba8ae0-8a9b-11e8-878f-7c6145075efa.gif)

Great compromise.

[2018-07-18 22:08] alanorozco commented on #16431
@kevinkassimo
Awesome, thanks!
Feel free to assign yourself to any given issue when taking it.

[2018-07-18 22:10] alanorozco commented on #16860
+1

- Would be a bundle size win.
- Totally fine to break duration and easing in all cases and ASAP.

[2018-07-18 22:15] alanorozco commented on #2374
Hi @oliverfernandez

That would require a larger effort, partially to design an API around it. There's more to lightbox that goes on whilst animating (e.g. resource scheduling, focusing, etc.), so that would require some sort of coordination between `amp-animation` and `amp-lightbox`.

There's also technical and UX questions:

- How does one ensure that the opening and closing keyframes are exactl

[2018-07-18 22:18] alanorozco commented on #15795
Hi @AmyLiversidge,

There's no blockers at the moment. Release is coming up, so I'll let you know here (and on Slack!) when it's available on experimental channel so you can start integrating with it, let us know of any bugs, etc.

After that there should be roughly a couple of weeks before usage of the tag becomes stable and valid.

[2018-07-18 22:20] alanorozco commented on #4503
Taking this especifically for video.

[2018-07-18 23:38] jamescridland commented on #16856
From an AdSense publisher point of view: the thing that earns the money is visible ads. If amp-auto-ads deliberately doesn't show any ads on the initial viewport, requiring a scroll to even be able to see any ads, that's difficult for publishers. Indeed, recent AdSense seminars have been recommending that publishers increase their 'visibility' score by thinking carefully about ad position. This is

[2018-07-18 23:39] rsimha commented on #16876
![2wbwmkw](https://user-images.githubusercontent.com/26553114/42913311-25436988-8aa9-11e8-9dc4-0188db1f8446.gif)

[2018-07-18 23:53] rudygalfi opened #16887 "[Accessibility] Focus lost after accepting amp-consent"
## What's the issue?

From an external report: Accepting amp-consent causes focus to get lost after the user clicks on the "Allow" Button.

## How do we reproduce the issue?

The <amp-consent> component is used by The Economist to get the user to allow their uses of cookies. That component causes focus to get lost after the user clicks on the "Allow" Button. Ideally the Button would hand off the f

[2018-07-19 00:02] rsimha opened #16888 "Fix all instances of mixed use of `&&` and `||`"
This stemmed from the discussion in #16876. There are 40 instances of mixed use of `&&` and `||` that should be fixed. After that, the `no-mixed-operator` rule must be made an error instead of a warning.

Here are the logs from a local run of `gulp lint`, where I flagged them as errors:

[code]

[2018-07-19 00:12] choumx opened #16890 "amp-list: reset-on-refresh invalid for [src] variant"
`b/111614828`

[2018-07-19 00:37] rsimha opened #16893 "Add a progress indicator for visual tests on Travis"
As requested by @cramforce. This helps when you're watching an in-progress Travis build. Something like a single-line series of dots, one for each test, will do.

I take it that you're already printing the URL / name of each test when `gulp visual-diff` is run during local development.

[2018-07-19 02:18] lannka commented on #16076
I'm taking the cid related tests

[2018-07-19 02:39] #12023 closed

[2018-07-19 03:05] dryleaf commented on #12998
Thanks for fixing this.

[2018-07-19 03:37] lannka commented on #14406
I found `rethrowAsync` is a major culprit of this issue. And none of the existing solution worked for that, since it does not only print console errors but also throw an exception in the next test.

The current console error stub somehow completely shielded the exception from `rethrowAsync` and silently skipped the remaining tests. (I tried that removing the console error stub will surface the exc

[2018-07-19 04:45] AutadeJS commented on #15920
Thank you so much. I'll let you know soon where I saw the 720x1280.

[2018-07-19 06:08] #16888 closed

[2018-07-19 06:21] rsimha commented on #14406
@lannka Nice find! Would it make sense to throw the error synchronously during tests? That way, we won't lose the error information, and we will have a complete call stack in the test logs.

[2018-07-19 07:00] ahmedkaludi commented on #12197
@aghassemi Any tips on how to change the content-type of the font?

[2018-07-19 08:22] trvanhai4 opened #16901 "Uncaught exception when using scrollTo after setState and open link"
## What's the issue?

I got an uncaught exception when using scrollTo after setState and open link.

## How do we reproduce the issue?

I want to fetch remote state, open a new tab with an anchor and scroll to a specific element on the page.

There are 2 cases: https://gist.github.com/trvanhai4/11e6237177603b33aece631c3ce04b98
- scroll_before.html
- scroll_after.html

Please try running those case

[2018-07-19 08:58] trodrigues commented on #2968
@dvoytenko we'd probably be interested in having this functionality in amp-access-laterpay if it became available in amp-access.

We've discussed adding it to our similar, non AMP website integration using a token provided by our API that a publisher's backend could verify, possibly with a shared secret as some of our other APIs already do, or with some other API for the purpose of verification, a