[2018-10-29 21:33] newmuis commented on #12078
Sure! Thanks for the contribution!

@gmajoulet may be a good person to review the code

[2018-10-29 22:21] lannka commented on #19030
Likely the same cause of #18972

[2018-10-29 22:41] jridgewell commented on #18972
Yup, `FixedLayer` [already has](https://github.com/ampproject/amphtml/pull/18797) a `MutationObserver` specifically to track `hidden` attribute changes (which is now the only official way to show/hide an element). We could extract this out into a `HiddenAttrMutationObserver` service, and have both `FixedLayer` and the InOb Polyfill register with it.

As a short term, I'm fine with InOb adding anot

[2018-10-29 23:02] choumx commented on #19017
@mofidksy I can't reproduce. That said, the implemented UX is confusing and possibly wrong. The selector tabs (`div.tabButton`) that change the displayed page are invisible:

![screen shot 2018-10-29 at 6 59 29 pm](https://user-images.githubusercontent.com/20525523/47685504-14d30900-dbad-11e8-9841-3e11fdafc8cf.png)

@teksteshqip I also can't reproduce this on desktop (Chrome, Safari) or mobile (Sa

[2018-10-29 23:07] #19016 closed

[2018-10-29 23:08] choumx commented on #18982
I'd suggest looking up Mailchimp documentation for forms support. Closing as off-topic.

[2018-10-29 23:08] #18982 closed

[2018-10-29 23:09] choumx commented on #18976
Closing as off-topic.

[2018-10-29 23:13] choumx commented on #18887
/cc @zhouyx

[2018-10-29 23:17] Gregable commented on #18896
The change is easy. Do we need to wait for @dvoytenko to respond?

@aghassemi 	confused about your comment - do you mean that we need to maintain this requirement for stories?

[2018-10-29 23:57] johnboxall commented on #2139
I believed I had a use-case for this, but in working on it, I realized we didn't.

_I'll leave what I found here in hopes it helps others._

We operate a server that responds with AMP pages. Let's call it `amp.example.com`.

Traffic arrives from ads with unique URLs, passed via anchor:

* `amp.example.com/#clickid=1`
* `amp.example.com/#clickid=2`
* `amp.example.com/#clickid=3`

We wanted to repor

[2018-10-30 01:18] sparhami opened #19041 "amp-lightbox-gallery swipe up/down to dismiss polish"
Swiping up/down to dismiss an `<amp-lightbox-gallery>` feels like it could be improved a bit. For example, in the Google Photos app, when you press and swipe on a lightboxed image, the photo becomes slightly smaller and follows your finger around until you release. It then animates from the released point to the final resting point on the page. As you move your finger around, the background lighte

[2018-10-30 01:28] torch2424 commented on #19030
@lannka I don't see any use of `amp-bind`. After we get #19034 pulled, I can definitely try to run this through our proxy and see if it fixes this 😄

[2018-10-30 01:31] torch2424 commented on #18972
@jridgewell Definitely in favor in having a single service in order to create and manage Mutation Observers. Depending on the comment we receive on how to move forward, perhaps we can have this server pass in their own [MutationObserverInit](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserverInit)? 😄

[2018-10-30 01:38] #18808 closed

[2018-10-30 04:35] cathyxz commented on #412
This was done by @nainar in https://github.com/ampproject/amphtml/pull/18166.

[2018-10-30 04:35] #412 closed

[2018-10-30 04:47] cathyxz commented on #15553
This bug is interesting. It actually works fine in Chrome desktop (the flags will load), but repros in Chrome mobile emulators. `<amp-lightbox>` has logic to take over resource scheduling of its children, and checks on
 lightbox open and scroll to layout all of its visible children. My guess here is that something is getting miscalculated here:
https://github.com/ampproject/amphtml/blob/36fe72c963

[2018-10-30 08:29] vegtelenseg opened #21641 "Why !important gets stripped out?"
Hello

Thanks for the great library.

Quick one, why is the `!important` css rule get stripped out?

Thanks so much

Siya

[2018-10-30 09:08] lvillanne commented on #15007
This bug affect :
- All browser on IOS (Safari Mobile, Chrome Mobile, ...)
- Safari on Mac OS

In my case, this error is more than 90% of my javascript errors.

[2018-10-30 11:21] teksteshqip commented on #19017
@choumx [Here is a video reproducing the bug](https://www.teksteshqip.com/kartolina/amp-bind.mp4)
Broswers where I tried:
Desktop: Chrome, IE, Firefox
IOS mobile: Safari, Chrome, UC Browser
I couldn't find a browser where this was working after this AMP version: 1810091721120
If you clear browser's cache, amp-bind will work and it usually will be disabled after you submit the form.

[2018-10-30 13:10] glevitzky commented on #17764
Yes, this is safe to close. Apologies for not doing so sooner.

[2018-10-30 13:10] #17764 closed

[2018-10-30 14:50] #18985 closed

[2018-10-30 14:50] abdelbolanos-cbc commented on #15803
Hi team,
any update on this?
Thanks

[2018-10-30 15:04] aghassemi commented on #17763
@alanorozco Since you have been doing video analytics recently, do you think you can fit this request in your schedule? It is needed for A4A. Should be fairly similar to the current `video-seconds-played` which takes in an `internal` param.

Maybe we can call it `video-segment-played` and take in a `segments:<n>`. So to get `quartile` tracking, `segments = 4` (maybe it can also default to 4 if not

[2018-10-30 16:22] choumx commented on #19017
@teksteshqip Thanks for the repro video. Are you refreshing the browser at 0:32? If so, I still can't reproduce this on Chrome 70 desktop or Safari iOS 12 with AMP version 1810281911260.

[2018-10-30 16:37] morenz commented on #19021
<amp-sidebar on="sidebarClose:scroll
do not know where to scroll... but there's a simple solution:
on=tap: close; scroll
in practice, just invert will solve, calling close after calling scroll.

[2018-10-30 16:38] lannka commented on #17763
thx @aghassemi . to be even more flexible, does it make sense to let it take an array of percent numbers ?
[code]

naming TBD

[2018-10-30 16:45] aghassemi commented on #17763
I like that, doesn't enforce segments to be equal which is good.

[2018-10-30 17:04] lannka commented on #14240
@keithwrightbos any updates from your experiment? If things look good, we will go forward for all 3P ad networks.

[2018-10-30 17:11] lannka commented on #18866
It's confirmed to be a Search Viewer bug. Tracked internally: b/118598702
Will update here once we have a clear ETA for a fix.

[2018-10-30 17:18] mrjoro opened #19045 "Status Update 2018-10-29"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-10-30 17:19] #18702 closed

[2018-10-30 17:20] mrjoro commented on #19045
# Stories
contact: @newmuis

## What was accomplished

- Resolved prerendering bug
- Resolved amp-consent UI race condition
- Resolved actions whitelist race condition
- Hold to pause
- Allowing clicking on elements outside of CTA layer

## What's next

- Finish up clickable elements
- Prototype of new desktop experience
- Prototype fullscreen behavior
- Tapping to next story
- Resolving design fo

[2018-10-30 17:22] mrjoro commented on #19045
# UI
contact: @aghassemi

## What was accomplished

- animationWorklet support experimental PR merged
- New stand-alone carousel prototype
- Custom analytics for video-iframe
- amp-list auto-resize back to experimental
- autoplay=n for amp-carousel
- input-masking MVP merged
- Strategy for image transition (TS -> JS)
- Video docking bug fixes
- localhost:8000 is now valid AMP!
- iOS jank debugging

[2018-10-30 17:29] mrjoro commented on #19045
# Special Ops
contact: @kristoferbaxter

## What was accomplished

- amp-script & worker-dom
  - Serialization/debugging output
  - AMP sanitization hooks
  - Validation and experiment
  - QuerySelector/QuerySelectorAll for ids and classes
  - Comment Nodes
  - Patch releases including 0.1.7
- Bundle Size
  - Brotli support for static JS payloads (within Google’s network only)
  - Publish Brotli b

[2018-10-30 17:29] #19045 closed

[2018-10-30 17:36] lannka commented on #18967
I'm struggling with the stackdriver reports. I don't see the "Request cid failed: document is not visible" msg anymore, but I could see it in history either...

Also, the link now points to different error messages.

[2018-10-30 17:38] #18967 closed

[2018-10-30 17:46] diaryofdiscoveries commented on #12078
Thank you @newmuis. Will do @gmajoulet and thanks for the pointer.

[2018-10-30 17:54] alanorozco commented on #17763
Just for naming consi

[2018-10-30 17:59] teksteshqip commented on #19017
Hi @choumx Yes I refresh at 0:32.
I keep trying this in all browsers (also in Chrome 70 desktop or Safari iOS 12) and it happens just like in the video.
Please try  2-3 times submiting the form and then refreshing the page.
I don't know why clearing browser's cache is the only way to enable amp-bind

[2018-10-30 17:59] dmvjs commented on #18931
Sounds good to me ^^^

[2018-10-30 18:03] jridgewell commented on #18661
Confirmed fixed in latest canary. https://output.jsbin.com/sajapul#development=1&embeded=1

[2018-10-30 19:06] sparhami commented on #19041
/cc @spacedino Is this something we have considered in the past?

[2018-10-30 19:08] jonkeller opened #19048 "XCode is now a dependency to build on Mac?"
Rebased to master today and tried to build, got the following error.  Seems to be a Brotli library used as a transitive dependency of bundlesize.
This should at least be documented at https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-quick.md but would be better if this dependency could be removed / if the normal install steps would install a pre-built binary. This is

[2018-10-30 19:09] sagarkbhatt commented on #18671
@aghassemi
While debugging I figured out that we are not reaching till `scrollIntoViewInternal_`  when user click on skip to link instead runtime will return from `handleNavClick_` function in navigation.js

Ref code:
https://github.com/ampproject/amphtml/blob/master/src/service/navigation.js#L450-L463

[2018-10-30 19:29] jridgewell commented on #19048
We've got to back to `bundlesize: 0.15.3` if we want to avoid. @rsimha

[2018-10-30 20:27] cvializ opened #19050 "Discussion to avoid node version incompatibility with LTSs"
We want to avoid needing to transpile features changing between LTS versions. But we also want to support the lowest common denominator until we decide to migrate off of `^8.0.0`.

@jridgewell @kristoferbaxter

[2018-10-30 20:32] dvoytenko commented on #18861
The #19007 should be a long-term bugfix for this issue.

[2018-10-30 20:32] #18861 closed

[2018-10-30 20:46] sagarkbhatt commented on #18671
\to @aghassemi I have updated changes to fix the issue that I mentioned above. Can you please take a look at it.

Thank you

[2018-10-30 21:05] NNSTH opened #19052 ""The document is too complex" issue can not be fixed"
## What's the issue?

on AMP section in search console I get this error related some pages in my site. when trying to run these pages on AMP validator, or using the AMP extension for chrome - validation passes OK (green).
This  issue can't be fixed if I don't know what causes it- too much DOM elements? TOO deep? rich style?
Can you help us fix those problems please?

## How do we reproduce the iss

[2018-10-30 21:11] lannka commented on #18880
Those are all good questions.

I think fundamentally we should decide what's the right analytics behavior on user `swipe away` & `swipe back` in Search Carouse, which directly corresponds to `unload` and `resume` in amp-analytics's lifecycle.

**Option A**
Treat it as a completely new pageview (like browser refresh). everything should be reset. we could save those trigger instances for performance

[2018-10-30 21:30] aghassemi commented on #18896
@Gregable sorry I meant it makes sense for something like `amp-story` to start at `<1 scale` when it is embedded in another page which relaxing this requirement helps with.

[2018-10-30 21:40] kristoferbaxter commented on #19048
We could also build our own version of this check and use the `emscriptem` port of `brotli` until support for this compression is added to node core.

`emscriptem` brotli – https://www.npmjs.com/package/brotli

[2018-10-30 22:14] #16410 closed

[2018-10-30 22:16] #18671 closed

[2018-10-30 22:35] torch2424 opened #19054 "Extract the HiddenAttrObserver into a service"
cc @jridgewell

Per a recommendation of #19034

We already have a Hidden Mutation observer in https://github.com/ampproject/amphtml/blob/master/src/service/fixed-layer.js

Would be great to have a single service handle this for us.

[2018-10-30 22:40] dvoytenko commented on #19009
#19055 to unlaunch. The fix was found to create another issue.

[2018-10-30 22:53] jridgewell commented on #19050
I'm ok with abandoning v6. It's no longer getting updates.

But abandoning v8 just because v10 became the active LTS doesn't make good sense. We're just cutting off potential users.

[2018-10-30 22:57] Gregable commented on #18896
Sounds good. @westonruter 	do you want to take a stab at the change.

I think you need to modify:
 - `validator/validator-main.protoascii` to change the rules for meta viewport.
 - Modify `validator/testdata/feature_tests/minimum_valid_amp.html` to show that this now works. Then run gulp validator --update-tests to update `minimum_valid_amp.out`
 - update `spec/amp-html-format.md` to simplify the

[2018-10-30 23:02] calebcordry commented on #19020
Hello @justforfun, thanks for reporting. I did some investigating and I believe I am able to recreate the desired behavior. That being said there is a lot of moving parts here. Do you have an example page that I could look at?

I copied all that I could from above but it seems like that `https://rep.repubblica.it/api/checkpw-v1/premium/amp/get_ReaderID` is not your real endpoint?

[2018-10-30 23:04] calebcordry commented on #18507
@nikse the error comes from out document register element patch. It seems like it was explained a bit in the previous thread, but should not be affecting your use case.

@RonanDrouglazet Could you please open a separate issue around the safeframe problem and mention me? I don't want to confuse it with the original issue here, and I will make sure it gets routed appropriately. Thanks!

[2018-10-30 23:28] torch2424 commented on #19052
cc @Gregable @honeybadgerdontcare

Could you help out with this? 😄

[2018-10-30 23:32] aboekhoff commented on #18479
@choumx bump
This bug only happens in the viewer in Safari on an actual iOS device.

[2018-10-30 23:50] #18972 closed

[2018-10-31 07:57] justforfun commented on #19020
Hello @calebcordry ,
that endpoint hasn't been deployed in our production environment yet, we are using our test environment.
To reproduce the issue you can use any endpoint of your choice.
Meanwhile we think to have found a way to solve the issue.
It works if you change the value of the _layout_ attribute of the <amp-list> element and add _width_ and _height_ attributes assigning to them the same

[2018-10-31 08:13] hoavo commented on #10230
At now, I cannot still unable to use `resizable-children`

[2018-10-31 09:31] jeffwhelpley commented on #13471
Hey, so what is the status of this? Can I experiment with WorkerDOM today?

[2018-10-31 10:10] spinmar opened #19060 "amp-live-list: reference point update problem on google cache"
Hi,
I have a problem on reference point update in tag amp-live-list on google amp cache.
On my server in page with amp-live-list, when there are new items the reference point (a button) is shown and on tap they are seen by users and the button is hide.
When the page is served by google amp cache, on tap the button is not hide. The new items are inserted correctly and the button (reference point) i

[2018-10-31 10:58] sxsted commented on #17875
Hi @cvializ , sorry I am late, I have been busy these days

First, I am so sorry that I didn't clearly describe my development environment or the UI that user will see

In your situation, it look reasonable, because you have two input tag, that user know (start or end) what they are selected.
So what you described above, it's all make sense, no BUG :+1:

But in my situation,  **we only have one in

[2018-10-31 13:01] mofidsky commented on #19017
Hi @choumx
the problem only exist in IOS devices like iphone (iphone 7  - ios version 11.0.3)
so i have created a video showing the problem on ios even the problem does not exist on android devices.
[video link](https://drive.google.com/file/d/1_zivaRqeIdnLkha-2lP1Fi3SmhDNzIux/view)

[2018-10-31 14:09] jpettitt commented on #8929
I did look very briefly at using the geolocation API in `amp-geo`. The reasons I didn't use it include:

1. For the specific use case, country level customizations for privacy permissions, asking for privacy centric data (precise location) would have been counter productive.
2. The need to prompt the user and the questions around the scope of the permission. For example if an iframed AMP page requ

[2018-10-31 15:27] mikeswright49 opened #19061 "Breaking change with amp-list and CORS variable substitution in AMP 1810301740350"
## What's the issue?

A change was introduce which updated how the amp-list handles CORS variable replacements. This causes an issue where an error is thrown and the amp-list can no longer hydrate.

`Error fetching amp-list: URL variable substitutions in CORS fetches from dynamic URLs (e.g. via amp-bind) require opt-in. Please add data-amp-replace="CLIENT_ID(ghs-amp-pages)" to the <AMP-LIST> eleme

[2018-10-31 15:56] cvializ commented on #15201
`amp-form` is capable of automatically interacting and extracting values from other amp-elements using the new form submit service. So it might not be necessary for document authors to create their own hidden inputs or specify a `data-payment-data-input-id`.

[2018-10-31 16:18] nakigoe opened #19063 "<amp-video> NO VOLUME CONTROL"
my AMP page:
<h1><a href="https://nakigoe.github.io/articles/as.html">girls</a></h1>

Why there is no volume control for hosted video?

[2018-10-31 16:32] choumx commented on #13471
It's in active development but still rough around the edges. You can follow along and play with it on a local build here: https://github.com/ampproject/amphtml/tree/master/extensions/amp-script

[2018-10-31 16:36] jpettitt commented on #19063
Conformed video player on Chrome is not showing volume control (just mute / unmute)

[2018-10-31 16:37] aghassemi commented on #10230
@hoavo This feature is under an experimental flag until we are fully ready to launch it again.

[2018-10-31 16:41] calebcordry commented on #19020
I see. Glad you were able to get it working. It is one of AMPs philosophies that the runtime should be able to determine height of things ahead of time. For amp-list, you can have the elements try to resize but the runtime will only let this happen on user interaction, or if it is not in viewport.

Let me know if you have any further questions, or if I should go ahead and close the issue. Thanks!

[2018-10-31 16:45] kristoferbaxter commented on #19050
There is definitely a tradeoff. Supporting multiple versions means we need to ensure (via travis) that each commit works against the supported versions. When debugging an issue it will be important to know which versions are impacted. Developers working on the AMP codebase will likely need to use `nvm` or similar to test changes on multiple versions of Node (especially if leveraging newer APIs).

[2018-10-31 16:51] aghassemi commented on #19063
@nakigoe Chrome team has fixed this and next version (I just tested with Chrome Canary 72) will have a volume slider.

(amp-video uses HTML5 video behind the scene as @jpettitt alluded to)

[2018-10-31 16:52] aghassemi commented on #19063
Closing per comment above (fixed in Chrome 72)

[2018-10-31 16:52] #19063 closed

[2018-10-31 17:14] #19014 closed

[2018-10-31 17:21] jasti opened #19066 "Support AdSense account approval on AMP First sites"
AdSense approval process requires that a website host place a piece of script to verify ownership on the website. https://support.google.com/adsense/answer/7584263?visit_id=636766026204825987-3846587781&rd=1

There isn't an AMP version to do this at the moment. The AdSense team is aware of the issue and plans to launch an AMP version of the approval script. Please use this issue to notify yourself

[2018-10-31 17:49] mrjoro commented on #19061
/cc @choumx

[2018-10-31 17:49] choumx commented on #19061
This was changed from a warning to an error about six months ago in #15009. Context: #12498

[2018-10-31 17:52] choumx commented on #19061
@mikeswright49 Can you provide some context on why this appears to be a new change for your use case and its impact?

[2018-10-31 17:54] mikeswright49 commented on #19061
So this has been working in our PP/RC candidate environments for a month or so with data-amp-replace="CLIENT_ID". Within the last 24 hours we're now getting this updated error requiring us to use data-amp-replace="CLIENT_ID(a-key)" as a result we believed that it was tied to the previous release.

[2018-10-31 17:55] mikeswright49 commented on #19061
The concern here is that the list is not populating for a key component on our platform, which would be  removing the main user functionality on our pages.

[2018-10-31 18:00] Enriqe commented on #18089
This was fixed in #18244

[2018-10-31 18:00] #18089 closed

[2018-10-31 18:06] curseagain commented on #18658
@aghassemi is this a good place to ask about i18n for amp-ima-video?  https://github.com/ampproject/amphtml/issues/18533

[2018-10-31 18:12] lannka commented on #18866
This should have been fixed in Search Viewer. Please verify.

[2018-10-31 18:12] #18866 closed

[2018-10-31 18:21] choumx commented on #19061
I can reproduce this. Behavior changed between 1810281911260 and 1810301740350 and culprit PR must be [one of these](https://github.com/ampproject/amphtml/releases/tag/1810301740350). Investigating further.

[2018-10-31 18:50] choumx commented on #19061
This is a bug. `data-amp-replace="CLIENT_ID"` is the correct usage and we're working on a fix.

[2018-10-31 19:31] aghassemi commented on #18658
@curseagain yep, anything that can benefit from a discussion is a good candidate for this meeting.

[2018-10-31 20:34] calebcordry opened #19073 "🌸 Cherry pick request for #19061 into #18971 (Approved)"
**GitHub issue your cherry pick is fixing:**

Issue #19061

**PR that you are requesting a cherry pick for:**

PR #19069

**Release(s) you requesting this cherry pick into:**

Production Release? YES  1810301740350

Canary release? YES 1810241929000

*Why does this issue meet the [cherry pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-c

[2018-10-31 20:35] calebcordry commented on #19073
cc/ @lannka @choumx

[2018-10-31 21:34] calebcordry opened #19074 "Introduce a better way to extract macro names"
Sometimes AMP wants to take a string that will be eventually expanded and extract all the macros that it contains. This is used for things like comparing against a whitelist before actually sending a ping. The current solution is to use `opt_collectVars` which will expand the whole string in order to find these names.

This is doing unnecessary work, as it results in the string being expanded twic

[2018-10-31 21:35] calebcordry commented on #19074
This is a result of conversations around #19069

[2018-10-31 21:49] torch2424 commented on #19050
Thank you @kristoferbaxter for the detailed writeup! 👍

I like a lot of the points made, and agree **it may be a good idea to only support one node version**. Supporting multiple keeps coming up with these problems that we are facing, and have a hard time dealing with. **However, this leads to a few issues**:

1. Anyone new to AMP or Node will already have a bit of a task getting node installed an

[2018-10-31 22:45] aghassemi commented on #18658
**amp-list auto-resize**
- options were wither finding a better name or making this the default (and fix a few other bugs) and bump the `amp-list` version to 2
- decision folks were in favor was upping the version number and making this default. /cc @cathyxz

[2018-10-31 23:06] #19061 closed

[2018-11-01 01:34] cramforce commented on #19073
Approved

[2018-11-01 03:36] #18944 closed

[2018-11-01 05:43] choumx commented on #19061
This is fixed in version 1810312337520.

[2018-11-01 05:43] #19073 closed

[2018-11-01 10:51] spinmar commented on #19060
It seems that the problem is related to the fact Google amp cache serves the page in an iframe and when there is an update Google puts the button outside iframe and amp-live-list js is not able to hide it in tap.
Is it a bug?

[2018-11-01 14:41] jpettitt commented on #19050
Since LTS branches change once a year is it really that much of a burden to require the highest LTS version that's available?   It's not hard to install a new version with`nvm`

[2018-11-01 15:00] gramorris commented on #18866
Confirming I'm seeing this fixed. Thanks all.

[2018-11-01 15:16] mchr3k opened #19078 "AMP-AD sandbox iframe"
<amp-ad> should sandbox the ad iframe to protect against forced top level navigation. This was raised back in 2016 and closed because Chrome was deploying an Intervention and Safari didn't support allow-popups-to-escape-sandbox: https://github.com/ampproject/amphtml/issues/5189

Safari added support for allow-popups-to-escape-sandbox in 2017: https://bugs.webkit.org/show_bug.cgi?id=158875. The Chr

[2018-11-01 15:55] Enriqe opened #19080 "[amp-story] Vertical grid layers are sometimes broken"
#18871 is causing breakage to publisher stories because grid layers with template="vertical" don't necessarily have to be 100% height

[2018-11-01 15:57] Enriqe opened #19081 "🌸 Cherry pick request for #19079"
GitHub issue your cherry pick is fixing:

Issue #19080

PR that you are requesting a cherry pick for:

PR  #19079

Release(s) you requesting this cherry pick into:
Production Release? YES 1810312123110
Canary release? New canary will include fix.

Causes breakages to existing publisher stories because grid layers with template="vertical" don't necessarily have to be 100% height

/cc @alanorozco

[2018-11-01 16:47] Gregable commented on #19052
This error isn't specific because we don't typically know what's going on in this case. It implies that the parse tree for the document has exploded in some fashion. These cases are rather rare. @jpettitt probably has it right. If the nesting gets too deep, most parsers will probably blow up / give up, including some browsers.

[2018-11-01 16:47] #19052 closed

[2018-11-01 17:02] Gregable opened #19082 "Special case AMP Caches when using #development=1"
AMP Caches make transformations to AMP documents for serving which renders the AMP documents invalid AMP. This is expected / normal.

If a user loads a document on the AMP Cache and appends `#development=1`, the validator will run and display some errors, which is a source of confusion for developers in some cases.

This feature request is to add some special case javascript code to not run valida

[2018-11-01 17:02] aghassemi commented on #18917
I think this is WAI, Taboola, etc al ads at the bottom of the page do resize (based on the logic that the last element in the page is allowed to resize) so if user scrolls too quickly to the end, they may notice the reflow.

[2018-11-01 17:04] aghassemi commented on #18917
There are other cases like this such as amp-twitter resizing always. Technically speaking, AMP page's layout is not 100% static, but it is to a large extend so bad UX is very much minimized.

[2018-11-01 17:04] #18917 closed

[2018-11-01 17:38] jonkeller opened #19083 "Create amp-analytics example with repeat:true in visibilitySpec"

[2018-11-01 17:52] Enriqe commented on #19081
/cc @mrjoro @dvoytenko for approval

[2018-11-01 18:05] dvoytenko commented on #19081
LGTM

[2018-11-01 18:27] cvializ opened #19085 "Cursor positioning incorrect after partial input and blur"

[2018-11-01 18:43] cvializ opened #19088 "Input mask characters incorrectly show up on hover"

[2018-11-01 18:48] cvializ opened #19089 "Clarify behavior with mask mandatory characters at beginning"
https://vializ-project.firebaseapp.com/examples/masking.amp.html (developer console: `AMP.toggleExperiment('amp-inputmask', true)`)

/cc @spacedino (and Andrew)

[2018-11-01 19:00] jonkeller opened #19090 "Yarn unhappy now that Node 10.x is LTS"
Fresh install. Node 10.x became LTS 2 days ago (Oct 30, 2018) per https://en.wikipedia.org/wiki/Node.js#Releases. I get this:

[code]

[2018-11-01 19:20] cvializ opened #19092 "amp-inputmask performance"
A first attempt to reproduce shows a couple of instances of lag in the Chrome performance tab, but more investigation is needed.

[2018-11-01 19:24] cvializ opened #19093 "Clarify empty inputmask behavior"
What should the input box show when the input is empty? Should it show the placeholder? Should it show no input?

#19089 is a special case of this issue, which asks "When the user tries to empty the input, should the mandatory characters of the mask remain in the input?"

/to @spacedino (and Andrew)

[2018-11-01 19:26] cvializ opened #19094 "Incorrect chrome autofill behavior"

[2018-11-01 19:38] cvializ opened #19095 "Ensure all amp-inputmask examples show the correct mobile keyboard"

[2018-11-01 19:41] torch2424 commented on #19050
@jpettitt

Yes, I agree LTS changes don't happen to often, and changing them once a year isn't too bad 😄

But I guess I am speaking more for the developer who may be new to development, or, a developer who doesn't work on AMP regularly. In both cases, it can be an extra step that can be annoying quickly if you are jumping around projects, or trying to understand why things aren't working. Though,

[2018-11-01 19:48] #18817 closed

[2018-11-01 19:59] cvializ commented on #17308
Hi @atl-love ! how is your work on the issue progressing? If you need any assistance with fixing the bug or with managing AMP's GitHub processes just shout and we'll be glad to help

[2018-11-01 20:14] #18714 closed

[2018-11-01 20:28] cvializ opened #19097 "Discuss possible sane default styles for amp-inputmask"
/to @spacedino for UX evaluation, during UX office hours?

[2018-11-01 20:30] jpettitt opened #19098 "I2I Add publisher definable user agent based override to amp-subscriptions"
## Context
`amp-subscriptions` when operating as a client side paywall provides a mechanism for publishers to suppress some or all of the page content for users who do not have a subscription.  Subscription verification is obtained by a CORS request to a publisher supplied endpoint (or a service provided endpoint in the case of `amp-subscriptions-google`.)

## Problem
Canonical pages often grant a

[2018-11-01 20:33] jpettitt commented on #19098
From a discussion with @cramforce a month or so ago.

cc @dvoytenko @chenshay

[2018-11-01 20:39] dvoytenko commented on #19098
The markup of amp-subscriptions article indicates explicitly which sections are premium. It's fairly easy for indexers to take that into account. I'd rather avoid client-side override. That'd also not be compatible with any "server-side" strategy we decide to adopt.

[2018-11-01 21:37] dvoytenko commented on #18697
This is exactly how it works for the login flow b/c the login flow passes through the viewer. However, it's currently failing in the authorization request. Since authorization request does not travel through the viewer the `RETURN_URL` cannot be fully replaced.

So, the question specifically I'm wondering about: do you have to have `RETURN_URL` in the authorization request? You have `Origin` heade

[2018-11-01 21:53] hongwei1990 opened #19101 "Mic AMP story Content bleed off problem"
## What's the issue?

In this mic story https://mic.com/stories/484/will-young-voters-turn-out-in-the-midterm-elections. 10% of the bottom page content bleed off. The system equalizer icon getting bleed off too.
![6317090833380770816](https://user-images.githubusercontent.com/33703058/47882162-d1171400-dde5-11e8-95ca-3f233bceed72.png)

## What browsers are affected?
all browsers, also GSAs

Is thi

[2018-11-02 01:15] felixarntz opened #19105 "AMP Cache Viewer removes document element classes on iOS"
## What's the issue?

I noticed that [on my website](https://felix-arntz.me) the hamburger menu toggle in the fixed navigation bar does not show up when accessing the site in its [Google AMP Cache version](https://www.google.com/amp/s/felix-arntz.me/) on iOS.

@westonruter and I investigated and discovered that this is caused by custom classes on the `html` element being removed.

On AMP in iOS, t

[2018-11-02 01:52] newmuis commented on #19101
This seems like #19080.  We should have a cherrypick to fix.

[2018-11-02 02:03] felixarntz commented on #19105
While fixing it, I noticed there is a test explicitly testing that the original `html` element does not include the classes. So I'm wondering whether that's intended, and if so, for which reason. In that case we might need to find another solution than the obvious one.

[2018-11-02 10:50] matthiasrohmer commented on #18922
I thought about this recently as well and wondered if it has been considered someday to handle this in the CDN? So for example if a document relies on `amp-list`, `amp-bind` and `amp-carousel` you would have

[code]

But maybe the CDN could be enabled to also handle combined component URLs like for example

[code]

for the same set of dependencies. Though this might still be slower than independen

[2018-11-02 12:14] jtart opened #19107 "Enable focusable attribute on SVGs"
## What's the issue?

SVGs have a `focusable` attribute that is used to take SVG's out the tab order for keyboard and assistive technology users who use Internet Explorer. JAWS is the main assistive tech library used for this case. See the [w3 spec](https://www.w3.org/TR/SVGTiny12/interact.html#focus-api).

When the the `focusable` attribute is set to `false`, the AMP validator fails with the mess

[2018-11-02 14:01] cvializ commented on #19090
For now you can use `nvm` to stay on Node `8.x.x` to make the build process work. Once the discussion is over we'll document what Node versions are supported. I'll close this as duplicate and you can watch the discussion issue for updates.

[2018-11-02 14:01] #19090 closed

[2018-11-02 14:05] jonkeller commented on #19090
Sounds good - thanks, Carlos!

On Fri, Nov 2, 2018 at 10:01 AM Carlos Vializ <notifications@github.com>
wrote:

[2018-11-02 14:09] cvializ commented on #19090
np!

[2018-11-02 14:59] chadladensack commented on #18960
@alanorozco due to the code freeze next week, is it realistic to expect the PR to go live the week of November 13th?

[2018-11-02 15:38] cvializ opened #19109 "amp-date-picker regression when used in amp-lightbox"
Reported by @JakobEichler https://github.com/ampproject/amphtml/pull/18691#issuecomment-435115380 as possible cause

Issues:
- amp-date-picker changed to not appear without any site changes
- hide action does not work before template is rendered, and console error appears

[2018-11-02 15:59] cvializ commented on #19109
I want to figure out what changed to cause the date picker to not appear as in your bug-report links, and I'm currently investigating that.

For the template element issue, if the elements need to be hidden on the first render, then you should use the `hidden` attribute and then either call the `.show` action or bind to `[hidden]` when the messages need to be shown.

[2018-11-02 16:34] jpettitt commented on #19105
There are always going to be issues with how we handle the fixed layers in IOS - as soon as we create the double `html > html > body` needed to make scrolling work without jank some breakage is going to be inevitable.    For example CSS that depends on parent of the element that's promoted to fixed layer will break because the fixed layer no longer has that parent.

The quick fix on your site is c

[2018-11-02 17:55] nainar commented on #18911
@jasti this is FR is in master.

[2018-11-02 18:13] JakobEichler commented on #19109
cvializ, thanks for pointing out that the hidden attribute is recommended. I agree with you. Anyways when using the hidden attribute, this would not solve our current issue. Because the element is not available after the amp update anymore before the date-picker is rendered. Saying this, the .show action would result in an error.

[2018-11-02 18:40] alanorozco commented on #18960
@chadladensack That sounds right. It's possible it's available on dev channel later today as well.

[2018-11-02 18:43] alanorozco commented on #15218
Implemented.

[2018-11-02 18:43] #15218 closed

[2018-11-02 18:53] morsssss opened #19112 ""Cannot read property 'create' of undefined" in Shadow AMP"
This error gets emitted at least once, sometimes twice, on [Shadow Reader](https://amp.cards) pages.  See, for example, https://amp.cards/theguardian/us/business/2018/nov/02/shares-soar-as-trump-hints-at-possible-us-china-trade-deal

I assume the third error in the screenshot below comes from `<amp-analytics>`.

I wonder also if this is related to #17997 .

![screen shot 2018-11-02 at 2 50 36 pm](

[2018-11-02 19:20] AutadeJS commented on #18585
The issue is solved. Thank you.

[2018-11-02 19:35] jpettitt commented on #19105
See also https://github.com/ampproject/docs/issues/1283

[2018-11-02 19:40] #17658 closed

[2018-11-02 19:46] ericlindley-g commented on #14060
Thanks @heiwen  — I defer to @cathyxz if additional help would speed up the timeline here, but we appreciate the info on your use case either way

By the way — great AMP-first implementation of your site! It's awesome to see AMP used to build great experiences on the main version of a site like yours

[2018-11-02 19:52] aghassemi commented on #19107
/to @Gregable unless there was a security reason ( I can't think fo any ), we should allow this.

[2018-11-02 20:02] torch2424 commented on #18626
This has been merged and resolved. Closing... 😄

[2018-11-02 20:02] #18626 closed

[2018-11-02 20:04] torch2424 commented on #18922
@matthiasrohmer

Yes definitely, I agree it is possible 😄 But yeah there will be some performance tradeoff happening here if so, gonna to pull someone else from the team into the discussion 👍

Pinging @aghassemi , Is there a way we handle feature requests? Or is this something we would want to implement?

[2018-11-02 20:05] torch2424 commented on #16825
Haven't had much time to work on this. If anyone has the time to tackle this, feel free to reach out!

[2018-11-02 21:28] aghassemi commented on #18922
@matthiasrohmer @aladaghlou yep, all about trade offs, classic bundling dilemma. We ( @erwinmombay ) are actually working on solution that is a good middle ground. It is part of the "single pass" project. Idea is that we will have v0 + a few new intermediary bundles (like ads.js, media.js, base.js) which hold common code for extensions but bring extension sizes down significantly. This actually in

[2018-11-02 21:28] aghassemi commented on #18922
Closing per above comment. This is something that we constantly try to improve in AMP Cache.

[2018-11-02 21:28] #18922 closed

[2018-11-02 21:49] ericlindley-g opened #19117 "[amp-pan-zoom] support more customization for zoom level"
For instance: could allow developers to set various levels of zoom (ex. the number of steps corresponding to different % values, as well as which level of zoom is the default value for the first tap)

[2018-11-02 22:08] dvoytenko commented on #19030
@torch2424 Do we have a confirmation on this?

[2018-11-02 22:19] #19082 closed

[2018-11-02 22:33] dvoytenko commented on #19019
/to @prateekbh could you please take a look?

[2018-11-02 22:42] lannka commented on #19030
I believe `amp-access` might also use `hidden` attribute to show/hide stuff.

[2018-11-02 22:47] torch2424 commented on #19030
@dvoytenko

So after a discussion in #19034 it was decided that we should only be using the hidden attribute on the element to toggle visibility, as mutation observer tracking can be expensive.

`amp-access` is not using hidden to hide any child elements, thus our mutation observer does not pick up the changes.

So this bug is still valid, and the fix would to add a hidden attribute on amp-access

[2018-11-02 22:53] #18903 closed

[2018-11-02 23:12] ayumihamsaki opened #19121 "Whitelist Validator issue with decoding attribute in images"
I have the following code example:

[code]

AMP Validator Issue: **The attribute 'decoding' may not appear in tag 'img'. Debug. Learn more.**

Please note: I am using `decoding="auto"` in the `noscript` tags section. This is a validate HTML Attribute under the HTML Spec see here: https://html.spec.whatwg.org/multipage/embedded-content.html#attr-img-decoding

Therefore I believe this attribute shou

[2018-11-02 23:19] felixarntz commented on #19105
It might indeed be the case that there is no solution for this problem that doesn't introduce other problems. I think it makes sense to consider the different alternatives and their severeness though. Also, whatever ends up not working should probably be documented somewhere as in "don't do it" :)

[2018-11-02 23:29] honeybadgerdontcare commented on #19121
@aghassemi 	Do you see any issue allowing the `decoding` attribute on an `img` tag when `img` has a `noscript` ancestor?

https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L1968

[2018-11-02 23:30] torch2424 commented on #19030
@dvoytenko

So @jridgewell encouraged that I open #19054 for this exact reason. It's on my TODO list to pick up after I finish some other things I am working on. We can simply add the other attribute cases there in the `attributeFilter`, but that being said, we don't want to watch too many. 😄

[2018-11-02 23:34] aghassemi commented on #19121
@honeybadgerdontcare no, SGTM. (amp-img already implicitly sets decoding on the internal img too)

[2018-11-02 23:59] #19121 closed

[2018-11-02 23:59] honeybadgerdontcare commented on #19121
This will be live in production in 1-2 weeks.

[2018-11-03 00:20] jasti opened #19124 "Public feedback for AMP Story ads"
Placeholder for the community to provide feedback about AMP Story ads.

[2018-11-03 00:37] ayumihamsaki commented on #19121
@honeybadgerdontcare Thank you!

[2018-11-03 04:47] #6031 closed

[2018-11-03 05:44] lannka opened #19126 "amp-analytics double encoded macro in extraUrlParams"
For example:

[code]

the above tag will have URL contains `?a=AMP%2520Test` while  `?a=AMP%20Test` is expected.

It's a regression since PR #18410, as we now expand macro TITLE first (1st encoding), and then attach to URL params (2nd encoding).

Before #18410, TITLE macro was resolved after `extraUrlParams` being appended to URL.

[2018-11-03 05:47] lannka commented on #19126
A potential fix is to have `url-replacement-impl.expandStringAsync` not encode its result.
Unlike `url-replacement-impl.expandUrlAsync`, encoding does not seem necessary when expanding a regular string template.

[2018-11-03 06:02] lannka commented on #19126
Actually, the nested MACRO also has this issue:

`$TRIM(TITLE)` in request URL will be expanded as `AMP%2520Test` @calebcordry

[2018-11-03 08:30] sagarkbhatt commented on #17053
Here I see that when amp-img is used with srceset and sizes attribute then the meaning of sizes attribute is different than how other amp element uses sizes attribute. It looks like there is a conflict. Maybe introducing one new attribute specific to the amp-img element for sizes ( map that new attribute with actual image sizes attribute and let allow the browser to handle srcset and sizes calcula

[2018-11-03 09:11] jaygray0919 commented on #19117
We could use this for large SVGs
examples:
  https://afdsi.org/test/amp_pan_zoom_0/
  https://afdsi.org/test/amp_pan_zoom_1/

[2018-11-03 18:02] ayumihamsaki opened #19127 "Whitelist Validation False Positive Error in AMP-IMG sizes and attribution attributes not whitelisted in noscript section"
Hello,

The following needs to be added to the whitelist for the Validator, please.

See example code as proof:

[code]
The `sizes` attribute passes ok in the amp-img however, it does not pass in the `noscript` tag section. The following Error message will show up:

**The attribute 'sizes' may not appear in tag 'img'. Debug. Learn more.**

I request this to be added to the whitelist as I believe i

[2018-11-03 18:38] ayumihamsaki commented on #19127
I am also getting another false positive error, please can this attribute also get added to the whitelist:

See example code as proof:

<amp-img alt="Hummingbird"
  src="images/hummingbird-wide.jpg"
  width="640"
  height="457"
  attribution="CC courtesy of Cats on Flicker">
<noscript>
  <img alt="Hummingbird"
  src="images/hummingbird-wide.jpg"
  width="640"
  height="457"
  attribution="CC court

[2018-11-03 18:39] ayumihamsaki commented on #19127
Therefore I request the following two attributes whitelist:

- sizes
- attribution

(For use in the `**noscript**` section)

[2018-11-03 18:41] ayumihamsaki commented on #19127
Therefore I request the following two attributes whitelisted in the Validator:

- sizes
- attribution

(For use in the **`noscript`** section)

[2018-11-04 02:51] rahulkhosla opened #19130 "Can't submit forms in Safari, Edge or IE."
## What's the issue?

Can't submit a form in Safari. I get the error "Failed to parse response JSON: SyntaxError: The string did not match the expected pattern." in the search console.

## How do we reproduce the issue?

1. Open Safari, go to this [amp-website](https://pointandquack.com/contact/)
2. submit the contact form(s)
3. Check the developer's console
4. Reproduce this in Chrome or Firefox

[2018-11-04 02:51] rahulkhosla commented on #19130
CC @dvoytenko

[2018-11-04 06:51] westonruter commented on #18896
@Gregable Thanks for the direction. I've opened #19129 for your review.

[2018-11-04 13:54] DamonHD opened #19132 "amphtml-validator cli not created for macOS"
## What's the issue?

macOS version of CLI does not seem to install correctly.

## How do we reproduce the issue?

On RPI (... 4.1.19-v7+ #858 SMP Tue Mar 15 15:56:00 GMT 2016 armv7l GNU/Linux):

    sudo npm install amphtml-validator -g
    [sudo] password for XXX:
    /usr/local/bin/amphtml-validator -> /usr/local/lib/node_modules/amphtml-validator/index.js
    + amphtml-validator@1.0.23
    upd

[2018-11-04 15:36] aurbanczik opened #19133 "Is there a way to include a paypal "Buy now" button in AMP ?"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-11-04 18:40] ghelapratik opened #19134 "Provide a button to enable all tooltips on an AMP Story Page"
AMP Story Tooltips are really great. But, chances are that people may not be aware about one. A good use case will be to offer a CTA button at the bottom clicking which makes all the available tooltips active. Also, apart from just allowing text in tooltips, it will be awesome to allow images inside tooltip content. An example of this can be as follows.

![story-final](https://user-images.githubus

[2018-11-04 18:42] psdtomanythings commented on #18624
+1 for this feature.

[2018-11-04 19:39] dvoytenko commented on #19130
/to @aghassemi @cvializ anything you see?

[2018-11-04 22:04] rahulkhosla commented on #19130
I've fixed it!

if ( ! isset( $_POST['conact_form'] ) ) {

<form name="contact_form">

[2018-11-04 22:04] #19130 closed

[2018-11-05 04:41] lannka opened #19135 "Move expandInputValueAsync & expandInputValueSync logic to amp-form"
The logic is only needed by amp-form. Moving it out to amp-form saves core runtime bytes.

/cc @aghassemi @cvializ

[2018-11-05 11:52] zhang-90 opened #19136 "'hidden-mutation-observer' breaks amp-lightbox"
### bug

- when close `amp-lightbox` with close event can not really close it if the `amp-lightbox` have `position: fixed`

### reproduce

1. open [detail page](https://m.aliexpress.com/item/32820771289.html)
2. click Free Ship
![image](https://user-images.githubusercontent.com/13830429/47997219-1022cd80-e136-11e8-9a2c-4104ad9fffaf.png)

3. click Ship To
![image](https://user-images.githubusercont

[2018-11-05 12:06] leonalicious commented on #19136
![image](https://user-images.githubusercontent.com/4065175/47997248-24ff6100-e136-11e8-8fc5-e5252f499f0b.png)
![image](https://user-images.githubusercontent.com/4065175/47997269-33e61380-e136-11e8-93bc-73984ff467b7.png)

[2018-11-05 13:40] kuldeep opened #19138 "launch amp-lightbox for AMPHTML ads"
Is there any timeline to take it live? @zhouyx

[2018-11-05 14:19] ndahmani opened #19139 "Error: "Cannot read property 'create' of undefined""
## What's the issue?
We should be able to use window.$sf.ext (SafeFrame API) but didn't exist due to this error I think

<img width="1432" alt="47360018-8521ec00-d6ce-11e8-92a0-56d3573442c9" src="https://user-images.githubusercontent.com/29407178/48003044-9b3b9d80-e10d-11e8-8694-ede0ff1a7f02.png">

When the error "Cannot read property 'create' of undefined" is thrown, the entry point for SafeFrame

[2018-11-05 14:42] newmuis commented on #19080
Fixed by #19079.

[2018-11-05 14:42] #19080 closed

[2018-11-05 14:42] newmuis commented on #19101
Verified that this appears fixed now that #19080 is fixed.

[2018-11-05 14:42] #19101 closed

[2018-11-05 14:48] cvializ commented on #19130
Hi @rahulkhosla thanks for opening this issue, I'm not able to reproduce on other sites so it must have only been a problem in the pasted code.

[2018-11-05 14:54] choumx commented on #19136
Looks like `transitionend` or `animationend` events are not triggered by [setting the `closedStyle`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L446-L447), which means this [collapse callback](https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L428-L435) is never called. Not sure why yet.

Doesn't repro o

[2018-11-05 15:04] leonalicious commented on #19136
please try with the sample here : https://github.com/aemsite/ampdemo/blob/master/cant-close-lightbox.html

Basically when the `lightbox` is styled with `position:fixed`, then when users trigger `lightbox.close` actions, the `[hidden]` will not be appended to the `lightbox` anymore.

[2018-11-05 15:11] newmuis commented on #19134
*Re: showing all available tooltips*
The publisher of the story should make it clear that an element is interactive with publisher-defined styles.  Think of this as being analogous to creating links on a standard web page; links are generally given some type of visual treatment (blue text, underlines, etc) to indicate that they are indeed links.

*Re: images in tooltips*
The tooltips are not gener

[2018-11-05 15:12] choumx commented on #19136
Yea, probably related to fixed-layer. Looks like the problematic lightbox is being tracked by `FixedLayer` per its `i-amphtml-fixedid`:

[code]

@leonalicious Adding `position: fixed` and `top` and `bottom` CSS is redundant since amp-lightbox already has it:
https://github.com/ampproject/amphtml/blob/78e80f1ac5de8ed96d529e54db2da4a064ebb94b/extensions/amp-lightbox/0.1/amp-lightbox.css#L16-L24

[2018-11-05 15:30] choumx commented on #19136
`transitionend` and `animationend` events are not triggered because `FixedLayer` sets `transition: none`.

[2018-11-05 15:37] spinmar commented on #19060
Did anyone experimented this problem?

[2018-11-05 15:50] choumx commented on #19136
Disabling `hidden-mutation-observer` experiment fixes this, which is an easy and low-risk cherry-pick. @cvializ

One idea to roll-forward is to avoid tracking AMP elements that are known to be fixed-position e.g. amp-lightbox, amp-image-lightbox, etc. A simple early-return in `FixedLayer.setupElement_` appears to work.

[2018-11-05 16:56] jpettitt commented on #19133
@aurbanczik Please edit the issue to describe exactly what you want, include links to the paypal documentation

[2018-11-05 17:33] aghassemi commented on #19138
@alanorozco any remaining items before launching this? /cc @lannka

[2018-11-05 17:36] aghassemi commented on #19139
Seems dup of #18507. @calebcordry assigning to you for triaging.

[2018-11-05 17:37] djrosenbaum commented on #12150
Just commenting on `content=”doubleclick=30">`

That first double quote is not your standard double quote

[2018-11-05 17:38] zhouyx commented on #19138
@alanorozco Is there any remaining blockers to launch 'amp-lightbox-a4a-proto'? If so can we document the blockers? I'm happy to work on it. Thank you.

[2018-11-05 17:45] lannka commented on #19126
Yep. It's separate issue. Let's fix `expandStringAsync` first.

[2018-11-05 18:02] cvializ opened #19142 "🌸 Cherry pick request for #19079 (Approved)"
GitHub issue your cherry pick is fixing:

Issue #19136

PR that you are requesting a cherry pick for:

PR  #19141

Release(s) you requesting this cherry pick into:
Production Release? YES 1811012008580
Canary release? 1811020033190

Causes breakages to AliExpress pages (see #19136 for details)

/cc @choumx @jridgewell
/cc @mrjoro @dvoytenko for approval

[2018-11-05 18:12] kristoferbaxter commented on #19050
The issue with pinning to an exact version is delayed upgrades via manual enforcement. Although infrequent (~ once a year), the delay in upgrading can be removed entirely by using `lts/*`.

Downsides:
1. Version changes automatically, without notice, for all developers.
2. Uncertainty regarding stability of `lts/*`, since codebase isn't tested before the `lts` release is required for all developer

[2018-11-05 18:18] jridgewell commented on #19136
The issue is not with `hidden-mutation-observer`, but the experiment surfaced it. This can still happen if a fixed-layer update happens in between the close action and when it actually finishes.

[2018-11-05 18:19] calebcordry commented on #19139
Thanks for pulling this into a separate issue @ndahmani.

@keithwrightbos Can you take a look at what is happening here with SafeFrame? Or please reassign appropriately.

[2018-11-05 18:28] #18282 closed

[2018-11-05 19:02] cathyxz commented on #17670
This is actually due to https://github.com/ampproject/amphtml/issues/17796. The fix for this bug would be in the gestures library.

[2018-11-05 19:10] choumx opened #19143 "Publish GitHub releases on promotion"
Can we automate the publishing of GitHub releases during promotion? It's often forgotten as part of "on duty" rotation.

Looks like using this API with `draft: false` will publish an existing release: https://developer.github.com/v3/repos/releases/#edit-a-release

[2018-11-05 19:15] choumx commented on #19136
True but when do fixed-layer updates trigger without the mutation observer? AFAICT only on init and a few special cases (viewer, amp-live-list).

[2018-11-05 19:16] lannka opened #19144 "Add integration test for amp-list URL macro expansion logic"
To prevent bug #19069 from happening

[2018-11-05 19:29] cathyxz commented on #19117
So we currently have 2 levels of zoom only: min and max, where MIN_SCALE is 1, and MAX_SCALE is a variable that defaults to 3.

Technically, you can already kind of do this with the `transform` action and `bind`, since the `transform` action takes a `scale` variable, so you can arbitrarily set the `scale` to anything you want. You can keep track of the current scale using `amp-state`, and incremen

[2018-11-05 19:56] mattwomple commented on #17792
`.scrollTo` has been broken in PWAs for between 2-3 months now. I'd like to bump this issue because there has been a patch waiting for review since the first day this issue was reported. Would someone mind giving pull request #17804 some attention -- even if it is just to say "not ready"?

[2018-11-05 19:57] danielrozenberg opened #19146 "I2I: AMP Bundle Size GitHub App"
## Objective

Create a GitHub app to replace the existing bundle-size check, and make the check differential instead of absolute.

<table>
  <tr>
   <td>

![image1](https://user-images.githubusercontent.com/1839738/48022659-ba383080-e109-11e8-960a-3603a92806f8.png)

   </td>
  </tr>
  <tr>
   <td><em>mock screenshot of the new bot</em>
   </td>
  </tr>
</table>

## Background

*This design doc sup

[2018-11-05 20:01] danielrozenberg commented on #18659
I'd like to discuss #19146, a proposal to implement a GitHub App ("bot") to replace the existing bundle size check, which is currently only inside the Travis check.

[2018-11-05 20:29] danielrozenberg commented on #18660
I'd like to discuss #19146, a proposal to implement a GitHub App ("bot") to replace the existing bundle size check, which is currently only inside the Travis check.

[2018-11-05 20:44] jridgewell opened #19149 "Lightbox-mode elements should not be tracked by fixed-layer"
This is the core issue behind #19136. `<amp-lightbox>` and friends are never be shown with the viewer's UI visible, so `FixedLayer` doesn't really apply to them. There should be an official API that allows lightboxes to never be tracked by `FixedLayer`.

[2018-11-05 22:17] JakobEichler commented on #19109
Hello cvializ, are there any updates concerning this issue? Is it possible for you to reproduce to before and after version?

[2018-11-05 22:37] gmajoulet commented on #18986
Android only: https://stamp-fullscreen.firebaseapp.com/examples/s20/body-painting/index.html

[2018-11-05 23:02] gmajoulet commented on #17797
We fixed different bugs possibly causing this issue, but mostly a pre-rendering bug #18906.
Please re-open if you see this happening again.

[2018-11-05 23:41] cvializ opened #19154 "Document AMP components' analytics events that support the `selector` property"
It was noticed recently that the [`amp-form-submit-success` analytics event](https://www.ampproject.org/docs/reference/components/amp-form#analytics-triggers) supports the [`selector` property in amp-analytics configuration](https://www.ampproject.org/docs/reference/components/amp-analytics#element-selector), but it is not documented.

[code]

https://ampb.in/#ibSihxSgnCnCK5J8AG0p

Document that t

[2018-11-05 23:51] jasti commented on #18911
Awesome! Would you please close this issue out once the feature is launched and I'll let the issue requestor know?

[2018-11-05 23:55] cvializ commented on #19109
Sorry about the lack of updates! I was able to reproduce on the before version, and the after version is fixed. I have not yet found the root cause, but I am continuing to investigate.

[2018-11-06 00:14] nainar opened #19155 "Compile code snippets into blobs for workers/worklets"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?
Use case: In `web-animations.js` we create a string that is essentially a function see [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-animation/0.1/web-animations.js#L208). This code is then added to a worker as can be seen [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-

[2018-11-06 01:46] alanorozco commented on #19138
@zhouyx Let's sync offline. I need to yet again wrap my head around these, but as far as I remember we're pretty close to launch.

[2018-11-06 02:31] #19107 closed

[2018-11-06 02:32] #18896 closed

[2018-11-06 05:13] choumx commented on #19136
This is fixed in version 1811051833450.

#19149 tracks the follow-up work that will allow `hidden-mutation-observer` to roll forward.

[2018-11-06 05:13] #19136 closed

[2018-11-06 05:35] choumx commented on #19136
Hmm, works fine for me on iOS Chrome 72 on iOS 12.

[2018-11-06 05:55] Hanrui commented on #19136
I think that's a new issue. This time, when you click the close button on the top left corner of the shipping-to country list, the page is not stuck, but you will be brought back to the product list page.

[2018-11-06 12:19] leonalicious commented on #19136
here you go with the UA of Chrome on iOS：

Mozilla/5.0 (iPhone; CPU iPhone OS 12_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/70.0.3538.75 Mobile/15E148 Safari/605.1

hope it helps.

[2018-11-06 15:45] Programmatic1000 opened #19158 "Rendering of Google Ads on AMP pages"
Hi@all

we're using AdSense via separated booked LineItems per ad unit (group) in Google Ad Manager, but do have some problems with the delivering of Adsense Ads. Just blanks, unless this line item is running on sponsorship level for a test.

The creatives are delivered via the Third Party Tag Template in Google Ad Manager, using HTML type "AMP".

[code]
You can see this AdSense Ad via Admanager l

[2018-11-06 15:51] jpettitt commented on #19050
I was suggesting pinning to a major version. eg `^8.0` to `^10.0` that should keep us up to date with bug fixes bug avid major version breakage.

Another approach would be to let greenkeeper do it on the basis that if it tries to update no in a way that breaks the test will catch it and it won't get merged.

[2018-11-06 15:57] c-nichols commented on #16435
Hi @choumx, I am a coworker of @pbecotte's.  We've spent some time looking over `amp-skimlinks` (nice work all).  We think the best way forward, especially now that the extension is merged, is to implement our own extension, and look for common behavior to consolidate once the two extensions are up.  If that sounds reasonable to you, we will start the process this week (beginning with an i2i issue

[2018-11-06 17:29] donmccurdy commented on #18892
I'm not precisely sure what iOS produces, but it's not a valid glTF file. It should be possible to convert them to glTF (I've seen an article on this somewhere, but can't find it now...). That does sound like a non-trivial change in scope for `amp-3d-gltf`. If you're going to load the image and depth map client-side, it would be simpler just to show them directly in three.js, without converting to

[2018-11-06 17:36] donmccurdy commented on #18822
Quick thoughts on technical options:

Some viewers, like Facebook, only allow the binary GLB (`.glb`) variant of glTF, which is expected to be a single file with no external assets. Packing a multi-file `.gltf` into a `.glb` is a very easy process, see https://glb-packer.glitch.me and https://github.com/AnalyticalGraphicsInc/gltf-pipeline. If restricting `amp-3d-gltf` to not allow multi-file asset

[2018-11-06 17:53] ssantosms commented on #19146
I like the idea of tracking the Delta on PR instead of absolute size.
I just wonder if there is still a desire to keep the bundle under a certain size and if that will still be enforced even if it's a higher threshold. Was that discussed?

[2018-11-06 18:03] laderjk commented on #10837
Any update on this? Looking forward to use it

[2018-11-06 18:13] danielrozenberg commented on #19146
@ssantosms we had an offline discussion about this, the gist of it is that we prefer to keep an eye on the absolute bundle size without having it block PR-level changes. We're also discussing whether we should create a GitHub Team whose members will be the exclusive approvers of large increases. I'd love to have input on these decisions!

[2018-11-06 18:45] ryanashcraft opened #19160 "Intent to Implement: Amplitude"
We at [Amplitude](https://amplitude.com/) are kicking off a project to build official support for AMP. This will require (1) a new set of APIs on our side and (2) a contribution to this project in order to make Amplitude a builtin analytics vendor option.

The exact API details are still being worked through, but I don't foresee them dramatically changing from this proposal. I am mostly modeling t

[2018-11-06 19:05] ssantosms commented on #19146
@danielrozenberg I think not blocking the PR for this reason is fine, but the absolute bundle size should be tracked and there needs to be a plan of action in case it increases to a certain threshold. I know it's very unlikely to happen but if several PRs are approved around the same time with exceptions, it could cause the overall bundle size to explode and we would only know about that when gene

[2018-11-06 20:31] cathyxz commented on #17053
Context: The AMP runtime defines `sizes` behavior for all components.
I think this would be a reasonable thing to do:
1. If `sizes` is set on an `<amp-img>`, then it behaves exactly the same as a normal `<img>` tag. We should keep API consistency with html.
2. For all other components, we'd like the `sizes` attribute to behave as currently defined.

Maybe this is just a case of special-casing `siz

[2018-11-06 20:34] sagarkbhatt commented on #17053
@cathyxz
But we still require sizes for amp-img right?

[2018-11-06 21:39] choumx commented on #19149
Bumping to P2 now that the mitigation patch #19150 has been merged.

[2018-11-06 22:06] cathyxz commented on #17053
`sizes` is an optional attribute for `<amp-img>`.
We were thinking of auto-populating it if undefined for components like `<amp-lightbox-gallery>` as a future feature request, but that shouldn't impact what we want to do here.

[2018-11-06 22:11] lannka opened #19165 "🌸Cherry pick request for #19161"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #19126

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR with a fi

[2018-11-06 22:12] cvializ opened #19166 "🚄Release tracking issue for canary release 1811061842310 → 1811072108000 → 1811081843340 → 1811091519050 (Canary)"
# Release tracking issue

- [x] Release [`1811061842310`](https://github.com/ampproject/amphtml/releases/tag/001811061842310) is cut as a new canary release
- [x] Release 1811061842310 pushed to dev channel (<CL submit time>)
- [x] Cherry pick "Don't encode `ExpandStringAsync`" (#19161)
- [x] Release [`1811072108000`](https://github.com/ampproject/amphtml/releases/tag/1811072108000) created with c

[2018-11-06 22:18] dvoytenko commented on #19165
Approved.

[2018-11-06 23:16] #16465 closed

[2018-11-06 23:30] choumx commented on #16435
Sounds good.

[2018-11-07 00:37] lannka commented on #6031
Hi folks,

This feature is out in canary right now. Please play with it, and let me know how it fits your need.
To use it, simply put `useBody` in the transport config, and data in `extraUrlParams`:
[code]

One caveat to keep in mind:
The value in the body payload are URL encoded (which should not). #19126
It's already fixed. We plan to patch it to canary soon.

[2018-11-07 00:40] aghassemi commented on #2745
Thanks for sharing @paulrobillard!

[2018-11-07 00:41] aghassemi commented on #19158
to @lannka

[2018-11-07 00:42] aghassemi commented on #19160
Thanks @ryanashcraft for creating an ITI.
/to @jeffehobbs and @zhouyx for review of ITI.

[2018-11-07 00:52] #19127 closed

[2018-11-07 03:01] checkup45 commented on #18226
Any updates?

[2018-11-07 04:41] duane opened #19170 "AMP breaks url-based content filters"
This applies to all url-based content filters, but I am writing specifically based on firefox focus.

For instance, if you block reddit.com, it is still easily accessible via searches from engines which integrate AMP, which rather defeats the point of content filters.

Possible solution: allow an opt-out that either links to the search result or redirects to it. Alternatively, make AMP opt-in, or

[2018-11-07 04:42] duane commented on #19170
Another option would be to allow blacklisting urls at the AMP or search engine level.

[2018-11-07 11:20] jeffjose commented on #18880
I'm leaning towards **Option A** since it aligns with our current thinking of amp-next-page and we can leverage some of the work done in that.

**Option B** will lead us into a territory of memory management in case the user swipes, say 100 pages.

[2018-11-07 11:37] jeffjose commented on #18733
@PaulGgithub Do you know of an upper bound of how many data-vars you might construct in an html element? Trying to see if we can relax the `32` to a different number instead of `infinity`

[2018-11-07 11:53] jeffjose commented on #18138
@alanorozco I see #18869 has been merged. Can we close this one? or are there pending tasks?

[2018-11-07 12:45] jeffjose commented on #18949
It sounds like there's 2 things being requested here. 1. Support for new triggers 2. Grouping them as part of a multi-step workflow.

In general supporting new triggers is a good idea as AMP pages are used for complex pages. The second one is interesting in itself -- an ability to categorize certain triggers into a group (say *checkout-steps*)

Let me know if I'm understanding the requirement inco

[2018-11-07 12:53] PaulGgithub commented on #18733
@jeffjose We have over 60 attributes right now so I think that an upper bound of `128` should be fine.
Thanks!

[2018-11-07 16:11] alanorozco commented on #18138
Whoops, forgot to close, thanks!

[2018-11-07 16:11] #18138 closed

[2018-11-07 16:24] RonnieWinter opened #19172 "When redirecting from AMP cache page to a page on our domain (cross-domain) the clientId changes. Only when coming in from google.co.uk (and not from google.com)"
## What's the issue?

Steps to recreate:
1. Go to google.co.uk and search for 'travelsupermarket new york holidays' and click on the amp result for travelsupermarket.
This will open https://www.google.co.uk/amp/s/www.travelsupermarket.com/en-gb/holidays/amp/united-states/new-york/

2. Go to the developer tools and click on the network tab, and filter by 'collect'. The 'cid' will look something lik

[2018-11-07 16:41] jpettitt commented on #19170
This is not an AMP bug, it's a content filter bug. All url based content filters are going to be trivially bypassed via proxy or cache servers.

AMP cache urls are deterministic and contient filters can can easily add code to map canonical -> camp cache urls if they want to filter AMP pages. See [AMP Cache URL format](https://developers.google.com/amp/cache/overview)

[2018-11-07 16:43] #19170 closed

[2018-11-07 16:51] #19142 closed

[2018-11-07 17:49] lannka commented on #19158
@jasti do you know who from AdSense should be involved to look into this?

[2018-11-07 18:06] enzo-giancola commented on #19020
Hi,

we are facing a problem with the tag amp-list using a template containing a tag amp-ad with type="adagio".

As follows a sample of the code we are using:

[code]

Expected behaviour:
the div with class="p-fixed" is using the style overflow:hidden in order to show the div with class="p-dynamic", using the template with id="profile-p"
meanwhile the div with the class="p-static" is not visible (

[2018-11-07 18:36] lannka commented on #19030
+1 want to know more into the use cases.
overall, if possible we should simplify the contract between AMP extensions and InOb polyfill

[2018-11-07 18:36] lannka commented on #19030
@dvoytenko

[2018-11-07 18:37] newmuis commented on #18681
Closing this in favor of #16522, which aims to serve as a roadmap for all components being integrated with `amp-story`.

[2018-11-07 18:37] #18681 closed

[2018-11-07 18:37] alanorozco commented on #19050
*driving by 🚗*

I would argue that "we support LTS" is a much clearer message than "we support X and Y". It's also easier to develop against, since the only contextual information needed is that support for LTS is available and so are its features.

The hurdle of switching Node versions should be just as frequent regardless of the versions we choose to support, assuming we're trying to keep a mode

[2018-11-07 18:43] lannka commented on #17763
hi @alanorozco , just a status check, is this on track?

[2018-11-07 19:16] alanorozco commented on #17763
Hi @lannka. Not yet, expect to be prioritized for next sprint.

[2018-11-07 21:42] dougscher opened #19176 "amp-analytics: Canary version error "reportWhen and repeat are mutually exclusive.""
## What's the issue?
Canary version console error "reportWhen and repeat are mutually exclusive."

## How do we reproduce the issue?
This trigger snippet will cause the above error and prevent the event from firing
          "hiddenPings": {
            "on": "hidden",
            "extraUrlParams": {
              "pp_ev": "blur"
            },
            "visibilitySpec": {
              "totalT

[2018-11-07 21:49] Programmatic1000 commented on #19158
Good News. Problem Solved. Reason was a missed checkmark for "dynamic allocation" in settings of the selected adsense account OR/AND a missing information in the ads.txt with the pub-id of the adsense account. I'm not really sure, but seems to be something like that. If anyone had problems the last day like this - please let me know.

One last thing: It's still not so clear how to create AdSense C

[2018-11-07 22:22] #18658 closed

[2018-11-07 22:35] #16512 closed

[2018-11-07 22:35] #16521 closed

[2018-11-07 22:35] #16516 closed

[2018-11-07 22:49] newmuis commented on #16516
@Enriqe do we have a separate issue to track unit and visual diff tests?

[2018-11-07 23:00] aurbanczik commented on #19133
As far as I can see, payment through paypal require an external script which will not validate in AMP.
What's the work-around ? Thanks. Ales

[2018-11-07 23:16] #19009 closed

[2018-11-07 23:21] dvoytenko opened #19180 "Cherrypick reauthorization in subscriptions to canary"
GitHub issue your cherry pick is fixing:

b/119114010

PR that you are requesting a cherry pick for:

PR #19178

Release(s) you requesting this cherry pick into:

1810241929000 (canary)

Production Release? NO

Canary release? YES

Why does this issue meet the cherry pick criteria? Be specific.

A significant bug where the page is not reauthorized post account linking.

/cc @jpettitt

[2018-11-07 23:58] torch2424 commented on #18828
Placeholder loader: https://jsbin.com/yerevoz/1/edit?html,output

[2018-11-08 00:09] Enriqe opened #19181 "Add tests and validation for amp-story-tooltip"
Now that #18945 is merged, we still need to add tests and validation before it can be used.

Part of #16521, #16512, #16516

[2018-11-08 00:10] Enriqe commented on #16516
@newmuis filed #19181

[2018-11-08 00:42] lannka opened #19183 "HTML_ATTR not resolving in transport-iframe"
Issue can be reproduced in `http://localhost:8000/examples/analytics-html-attr.amp.html`

/cc @joel-regus @jonkeller

[2018-11-08 01:08] nainar commented on #18659
Pasting notes from prev discussion here: https://github.com/ampproject/amphtml/issues/18658#issuecomment-434873162

[2018-11-08 01:14] lannka commented on #18949
@kristoferbaxter would amp-script complicate the landscape here even further? What potential would amp-script enable user to build a single page app?

[2018-11-08 02:47] torch2424 commented on #19172
@lannka @calebcordry Is this a linker issue?

[2018-11-08 05:32] dthukral-amazon opened #19187 "A9 Integration with AMP"
As per issue #18939, I was told my changes, that were merged on 25th October, would come in production within 7-14 days.
It is requested to plz let me know when it would come in production, as our customers are waiting.

[2018-11-08 10:33] ro2ni3 commented on #19172
I don't know if it is the AMP Linker. As far as I know, when initiating the journey from www.google.com everything works fine.

[2018-11-08 11:01] enzo-giancola commented on #19020
Hi,

here is a sample screen capture, where you can see
the described issue with AdBlock running.

Best Regards

![issue](https://user-images.githubusercontent.com/19192170/48194670-ee039800-e34d-11e8-8a51-0c7a0402f7b8.png)

[2018-11-08 11:32] dritter opened #19189 "FR: amp-action-macro"
It would be awesome to be able to set state via an `amp-bind-macro`.

To give an example, imagine we have two navigations on our page, and want to be able to close both by click on a close button and a backdrop. Currently is is necessary to duplicate the state on tap on each button.

[code]
This would make it clearer what a button does (naming things), than have to figure it out by looking at the

[2018-11-08 14:04] SimonHogstromRonbol opened #19191 "amp-fx-collection - fly-in has different behavior in internet explorer and edge."
## What's the issue?

Amp-fx-collections fly-in effects work differently if you are in internet explorer or edge, compared to modern browsers.

in browsers that are not internet explorer or edge, the fly-in element stats off-screen and flies in, where as in internet exlorer or edge, the element starts on screen, and flies off screen in the opposite direction.

i was able to do a workaround giving

[2018-11-08 15:00] cvializ commented on #12079
amp-inputmask has been launched experimentally by #18631 and this issue will be closed when it is launched into production.

[2018-11-08 15:39] ericlindley-g commented on #14060
Thanks for reaching out, @leonalicious — @cathyxz is in the best position to know if there are opportunities to contribute on this component, so I'll let her answer that aspect. My guess is that the most important place to contribute is in testing the component when it's feature complete and experimentally available, but @cathyxz may know of opportunities to contribute to the development itself.

[2018-11-08 15:39] calebcordry commented on #19172
Hey @ro2ni3 thanks for reporting. This shouldn't be a linker issue (unless you are seeing this on safari only). I will take a look later today.

[2018-11-08 15:44] calebcordry commented on #18068
This is now live in prod.

[2018-11-08 15:44] #18068 closed

[2018-11-08 15:48] ro2ni3 commented on #19172
So far I have tested this on:
MacOs 10.13.6: Chrome (latest) and Safari (latest)
Ubuntu 18.04 LTS: Chrome (latest)
Windows 10: Chrome (latest)

I have noticed that this is a very intermittent issue. At one point during the day today, it started working fine, but now the bug is back.

[2018-11-08 16:19] #19081 closed

[2018-11-08 16:24] Enriqe commented on #13433
We had to revert the last PR since it was causing breakages to existing publisher stories because grid layers with template="vertical" don't necessarily have to be 100% height.

I'm sending a PR soon to apply 100% only to `thirds` and `fill`.

/cc @newmuis

[2018-11-08 16:35] aghassemi opened #19193 "FR: "reading-progress" component"
Please see https://paulstamatiou.com/made-on-an-ipad-pro/ for a sample.

Essentially a scrollbound progressbar and indicates where user is when reading an article.

![c81yxijld9q](https://user-images.githubusercontent.com/2099009/48212857-58f2a600-e331-11e8-9645-7ca4b9490041.png)

This component would be stand-alone and useful on its own, but per @spacedino's suggestion can also be integrated with

[2018-11-08 16:54] aghassemi commented on #19189
/to @choumx

[2018-11-08 16:57] aghassemi commented on #19187
@dthukral-amazon Our next release is on 11/13. Please follow us on #release channel on our Slack for up-to-date release schedule. You can sign up to join Slack [here](https://docs.google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877).

Thanks

[2018-11-08 16:57] #19187 closed

[2018-11-08 17:03] Enriqe opened #19195 "Update positioning of absolute elements in amp-story"
We sometimes position elements that take the whole width and height of their space by specifying:

`top:0;` `left:0;` `bottom:0;` `right:0;`

We should use: `top: 0 left: 0 width: 100% height` instead, since what we use now has some caused some bugs. e.g. #13433

[2018-11-08 17:05] cramforce commented on #19180
Approved

[2018-11-08 17:08] jpettitt commented on #19180
cc @cvializ

[2018-11-08 17:34] newmuis commented on #19195
The bugs are only relating to grid areas, so I think we're probably okay.

[2018-11-08 18:52] aboekhoff commented on #18479
I was notified of another bug today. On the same page in the viewer on iOS, if you scroll all the way to the bottom then it becomes impossible to scroll back up. Thinking this might be related to the above fix.

@choumx @jridgewell

[2018-11-08 19:12] cathyxz commented on #14060
It's experimentally available under `amp-list-load-more`, with a in-progress demo [here](https://amp-list-demo.glitch.me/infinite-scroll.html). I'm trying to resolve the `amp-list-resizable-children` right now, and will be iterating on various corner cases for infinite scroll after that.

[2018-11-08 19:32] choumx commented on #19189
Oops, closed this prematurely.

(A) FYI you should be able to do this today:

[code]

(B) The following would be more concise but less readable:

[code]

(C) We'd need a separate new feature to de-dupe actions:

[code]

[2018-11-08 20:05] #18479 closed

[2018-11-08 20:53] choumx commented on #18162
Typically takes about two weeks. Should be live by next Tuesday.

Closing since the PR was merged.

[2018-11-08 20:53] #18162 closed

[2018-11-08 21:22] lannka opened #19199 "Cherrypick request for #19185"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #19183

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR with a fi

[2018-11-08 21:39] jwold commented on #18892
1. I tried this on my Mac with Chrome, and saw the Facebook image supplied; that it moves around a bit when you hover the mouse. Is this all we're intending, or are we thinking more like a 360° option?
2. I tried this on my iPhone X with Safari on Facebook.com and nothing seems to happen. Should something be happening here?
3. Is the intention to just be able to offer this 3D image as part of AMP?

[2018-11-08 21:44] jwold commented on #19098
Just want to make sure I understand the intent of this feature, coming from someone with more of a design than development background.

1. Are we hoping to solve the problem of mismatched errors ONLY from a client-side perspective?
2. If so, is there any proposal for how this could work on a server side paywall, or is that simply not an option?
3. Could you point me to a working page with amp-subs

[2018-11-08 22:17] prateekbh commented on #19019
@justforfun do you have a sample page/dom where you are trying to configure this?
I wonder if it has all the required ` subscriptions-action="login"` attributes on it.

[2018-11-08 22:18] jwold commented on #12945
Would this feature need to work for an AMP native site only, what would happen if some articles were AMP and some weren't?

Love this idea, and the short gif shown feels like it will work quite well from a UX perspective.

[2018-11-08 22:45] Enriqe opened #19200 "Add documentation for inline config in amp-story-bookend"
Now that we've introduced the ability to add inline JSON configs for the bookend (#19171), we have to add documentation to let amp-story developers know they can do this.

[2018-11-08 22:51] jpettitt commented on #19133
Please provide links to paypal doc and follow the instructions in the issue template (above)

[2018-11-08 22:57] cramforce commented on #19199
Approved

[2018-11-08 23:07] michaelprflores commented on #2745
@paulrobillard this is quite wonderful. Thank you!

[2018-11-08 23:59] calebcordry commented on #18900
Turns out these are good numbers and some people are just clicking back and forth a lot :)

[2018-11-08 23:59] #18900 closed

[2018-11-09 00:40] calebcordry commented on #18901
closed by #19103

[2018-11-09 00:40] #18901 closed

[2018-11-09 00:44] dritter commented on #19189
Well, setting the states inner values (variant A) makes more sense with increasing state complexity. But that helps a bit anyway. Thanks.

Will B or even C supported some day? Writing `AMP.setState({idOfStateContainer: state })` all over is quite cumbersome.

[2018-11-09 01:18] westonruter commented on #12945
All of the documents used in the infinite scroll would need to be available as AMP.

[2018-11-09 01:30] cramforce opened #19203 "STAMP: Always set theme color to background color"
For STAMP documents that do not have a theme color, STAMP should set it to the same color as the background color.
https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android

We should consider making theme color meta tag mandatory for standalone STAMP

[2018-11-09 04:01] choumx commented on #19189
I think it'd certainly be nice to have. If this issue proves to be a common issue then we can prioritize more aggressively.

How bad is the code dupe in your use cases?

[2018-11-09 04:06] andreyMakahov opened #19205 "Unregister service-worker using amp-install-serviceworker component"
## What's the issue?

Impossible to unregister ServiceWorker using amp-install-serviceworker component.

The reason why we need the feature is because we have to unregister service-worker, if something goes wrong after deploy. The only thing we can do is redeploy application with new service worker file, but it will take some time. We want to unregister service worker immediately (we can do it usi

[2018-11-09 07:43] justforfun commented on #19019
@prateekbh : Here it is the html file
[index.html.zip](https://github.com/ampproject/amphtml/files/2564988/index.html.zip)

[2018-11-09 09:35] sebastianbenz commented on #19189
I'd be definitely in favour of (C), I had several situations in the past where I encountered the same problem.

1) building a stepper:

[code]

or performing the same action for different elements:

[code]

[2018-11-09 13:56] dritter commented on #19189
@choumx We are still at the beginning with amp-state, so the code-dupe is not that bad ATM, but we are planning to expand our app..

@sebastianbenz :+1: Awesome examples!

[2018-11-09 15:21] #19165 closed

[2018-11-09 15:51] #19180 closed

[2018-11-09 15:59] #14074 closed

[2018-11-09 16:01] jpettitt commented on #19098
@jwold . We're looking at solving a specific client side use case.  Existing client side paywalls tend to have some sort of bot match (the match list in the example config came from looking at the source code of a large US publisher).  It's not the ideal solution and it's not compatible with server side paywalls.  We're looking at a different server side strategy for `amp-subscriptions`, it's stil

[2018-11-09 16:19] honeybadgerdontcare commented on #17269
Trying to catch up on all of this. It sounds like there is a desire to do some kind of experimentation that @nainar 	proposed. Currently the validator doesn't really handle experimentation like this. If we do introduce something to handle experiments we'll need to be very explicit that at some point the experiment will end and those pages may become invalid. Is that something we're comfortable wit

[2018-11-09 16:31] cvializ opened #19207 "Remove or replace unmaintained ads documentation"
There is a demo site `google-ads-amp-demos.com` linked in `ads/google/csa.md` but the demo site appears to be down. This issue tracks the effort to remove or replace the linked example after a conversation.

/cc @jasti

[2018-11-09 17:30] lannka commented on #13282
hi @gremz please let me know if you are still on it. we have some users are asking for this feature. So we want to get it prioritized.

[2018-11-09 17:57] lannka commented on #19199
Yes.

[2018-11-09 18:37] andrewwatterson commented on #19097
yeahhh, the jumpy display is my least favorite thing about input masks. monospacing is the obvious solution, but we definitely can't expect all of our customers to switch to monospaced forms, and i don't even think we'd want to specify it as a default.

the only other thing we could do is have multiple fixed-size content areas separated by mask characters (so a phone number would be <3 numbers><fi

[2018-11-09 18:46] newmuis commented on #19203
We have a primary accent color (generally a brand color, not a per-story color), that is optional.  Most publishers do not set background colors on a per-story or per-page basis.

We can set it to the accent color, but we'll need a fallback.  Making this mandatory is definitely an option, but it would be a breaking change, and I'm not sure how much we stand to gain from it?

[2018-11-09 18:56] Enriqe commented on #17312
I don't see any cutoffs on desktop:
![image](https://user-images.githubusercontent.com/5449100/48282020-82412e00-e426-11e8-8c8b-f13bd1158e12.png)

Additionally, the limits are set by design because long titles and paragraphs are discouraged in the bookend. The bookend is semantically a "related links" page, where "links" are never supposed to be long sentences/paragraphs. They're just indicators o

[2018-11-09 19:11] CrystalOnScript opened #19210 "Reverse `<amp-animation>` with second click"
## What's the issue?

amp-animation component doesn't allow for toggle start/reverse. Makes it hard to make user interaction animations - such as an animated hamburger button.

Suggesting: `on="tap:myAnim.toggleReverse"`

## How do we reproduce the issue?

Check out the second hamburger example here:
https://codepen.io/SeaBert/pen/rQLmgP

## What browsers are affected?

n/a

## Which AMP version i

[2018-11-09 19:13] andrewwatterson commented on #19095
where do these examples show up? would we ever do something like throwing a comment in the example like
[code]

[2018-11-09 19:20] jridgewell commented on #19050
This is what Travis is for.

I think this is minor issue. As far as I'm aware, we've only had one issue with using a v8 feature when we were still supporting v6.

The infrastructure team, only. Everyone else will be fine with whatever they have installed during their setup.

I think you're overstating the speed at which normal devs adopt new features, and the speed at which features are added to n

[2018-11-09 19:48] lannka opened #19211 "amp-analytics integration test idea"
We built `describes.integration` as an integration test lib to check of a XHR request from an AMP extension. However, it does not support complicated use case. Imagine the following rendering flow:

1. AMP runtime instantiated amp-ad element
2. amp-ad made ad request, which returned an AMP ad
3. the returned AMP ad contains amp-analytics element
4. the amp-analytics element is configured to inject

[2018-11-09 20:12] newmuis opened #19213 "Support interacting with iframe-based AMP components"
Any AMP component that is backed by an iframe can be supported in stories by rendering a tooltip when clicked (#16521), and opening the component in a fully-interactive mode, in a lightbox, when the tooltip is clicked.

![screen shot 2018-11-09 at 2 59 20 pm](https://user-images.githubusercontent.com/1651960/48285674-5a0afc80-e431-11e8-8d59-9e44fc3fdd18.png)

Elements should have a default (overri

[2018-11-09 20:30] andrewwatterson commented on #17796
This is one of those things that you can't really reason about until you can feel it, but my instinct is that @cathyxz's proposal is the right way to go.

[2018-11-09 21:38] lannka commented on #14240
@ampproject/a4a

to protect user experience, we plan to leverage the stricter sandboxing features available on Chrome 66+ for `amp-ad`. According to Google Ad Manager's experiment, no noticeable revenue impact was seen.

We plan to turn on the feature on the week after Thanksgiving (12/4). Please let us know if you have any concerns.

/cc @jasti do you want to add anything?

[2018-11-09 21:45] lannka commented on #19078
Seems a dupe of #14240 . we plan to launch it to all ad networks in 12/4 stay tuned.

[2018-11-09 21:45] #19078 closed

[2018-11-09 21:46] #19183 closed

[2018-11-09 21:48] lannka commented on #19158
Sounds like those are non-AMP specific questions and should have been answered on a AdSense or Google AdManager forum.

[2018-11-09 21:48] #19158 closed

[2018-11-09 21:54] lannka commented on #13122
Will not do.

[2018-11-09 21:54] #13122 closed

[2018-11-09 22:44] jpettitt opened #19215 "Add account link/unlink analytics events to amp-subscriptions"
`amp-subscriptions` does not generate link/unlink analytics events.  The `login` events are ambiguous in this context.

Tracked internally as b/119115941

[2018-11-09 23:36] rsimha commented on #19050
Thanks for starting this discussion.

To recap, The 10.0 LTS release broke us because we pinned our project's `package.json` to the latest major LTS version (`^8.0.0`). This was okay when there was just one active LTS, although it still needed us to manually update the currently allowed version.

To fix this, the plan (after discussing with others) is to enable node version updates from Renovate u

[2018-11-10 00:12] aghassemi opened #19219 "amp-iframe: support an option for not adding `#amp=1`"
Currently if Url for an `amp-iframe` does not already have `#` we add `amp=1`. Some embeds just break if there is `#` at all and currently there is no way to make make `src` not have `#` (since either it has to have it from the start or we add `#amp=1`.

We need an attribute to turn of this auto-adding of `#amp=1`

[2018-11-10 00:30] cathyxz opened #19220 "[amp-pan-zoom] hide contents until correctly sized"
Sometimes contents show before being resized, which causes an unexpected content jump. Use visibility hidden to hide contents while calculating aspect ratio and unhide after correctly sized.

Repro: https://amp-demos.glitch.me/seatmap.html

[2018-11-10 01:00] #17792 closed

[2018-11-10 01:13] CrystalFaith opened #19237 "Weird behavior of amp-fx-collection 'fly-in-left/right` behavior"
## What's the issue?

`fly-in-left` and `fly-in-right` applied to `<p>` tag cause weird behavior
https://codepen.io/SeaBert/pen/MzeBZg

[2018-11-10 08:05] harshjv opened #19240 "The attribute 'slide' may not appear in tag 'amp-carousel'"
## What's the issue?

`<amp-carousel>` is missing support for the `slide` attribute which makes it hard to set a default slide. The component is already supporting `slide` attribute via `[slide]`.

See https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/validator-amp-carousel.protoascii

## How do we reproduce the issue?

https://jsbin.com/rikonaw/edit?html,output

## What br

[2018-11-10 19:13] davidstrauss commented on #19050
Would this mean that Travis would not test against older (but still active) LTS releases?

[2018-11-11 01:53] honeybadgerdontcare commented on #19240
@cathyxz any reason to not allow `slide` as an attribute for `amp-carousel`?

[2018-11-11 05:49] martindybal opened #19247 "The attribute sizes should be allowed for tag img"
## What's the issue?
When I use `img` element as a fallback for `amp-img` in `noscript` I get a validation error: `The attribute 'sizes' may not appear in tag 'img'.`

[code]

## How do we reproduce the issue?
There is a sample [https://codepen.io/martindybal/pen/EOgZJV](https://codepen.io/martindybal/pen/EOgZJV)

## What browsers are affected?
All browsers

## Which AMP version is affected?
I'm n

[2018-11-12 02:52] aghassemi commented on #19240
@honeybadgerdontcare I would need runtime support before it would work. Dup of https://github.com/ampproject/amphtml/issues/12591. @harshjv Please follow/comment on https://github.com/ampproject/amphtml/issues/12591. Closing as dup.
/cc @nainar

[2018-11-12 02:52] #19240 closed

[2018-11-12 07:40] leonalicious commented on #14060
Cool, any timeline for the `infinite scroll` ? May I assist you ? which branch are you using for development of this feature ?

[2018-11-12 14:16] vdhalmann-nm commented on #16955
Hi,
I was using multi-size ads with layout=responsive on the website I'm working on and the ads were not displayed. The console shows that the layout=fixed was forced.

By setting layout=fixed the ads are correctly displayed (and we use css to center the ad).

[2018-11-12 15:29] jtart commented on #19107
Hi @Gregable, @westonruter, thanks for doing this work. When I run the `amphtml-validator` CLI tool, SVG `focusable` is still failing. Has an update to the CLI been published?

[2018-11-12 15:33] newmuis commented on #18568
Duplicate of #18714.

[2018-11-12 15:33] #18568 closed

[2018-11-12 16:01] rsimha commented on #19050
Correct. As configured today, Travis will only test against the latest active LTS.

In order to run all tests on Travis against the latest LTS, we'd need to double our VM usage. The argument could be made for merely making sure the runtime builds correctly on older active LTS version(s), but I'm not sure if that's a large enough benefit, given that we expect a subset of development to be done usin

[2018-11-12 16:50] bradfrizzell commented on #9546
@zhouyx  Would it be possible to change the current collapse behavior of no-fill for flying carpet slots that are partially visible in the first viewport? See my attached diagram of what I propose it would look like

![flying carpet collapse issue](https://user-images.githubusercontent.com/4276992/48362152-02f36a80-e671-11e8-9592-d4d3bc466c55.png)

[2018-11-12 17:16] aghassemi commented on #17604
Seeings this again: go/ampe/CJCb_oOVlvvHYw

[2018-11-12 17:23] aghassemi opened #19252 "Error logs in intersection-observer-polyfill"
New error in Canary release, please see go/ampe/CKrhq5ni6tjc6AE

Seems to just be from iOS 12.

Please investigate as P0 and downgrade priority as needed. /cc @zhouyx @torch2424

[2018-11-12 17:27] aghassemi opened #19253 "amp-add-this: Error: The string did not match the expected pattern."
looks like it needs to be a `user()` error.

[2018-11-12 17:29] aghassemi commented on #19252
Another instance go/ampe/CI7A9JHmssSDkwE but these ones are Chrome and not just iOS.

[2018-11-12 17:31] aghassemi opened #19254 "amp-apster-media: Error: Display No Content for provided tag"
Comes from
[code]
Logging these is noisy and issue is either from backend or user's bad configuration in the tag management system. Switch to warning or user error.

[2018-11-12 17:35] aghassemi opened #19255 "amp-apester-media: Error: null is not an object (evaluating 'a.h.classList')"
Likely related to https://github.com/ampproject/amphtml/issues/19254

[2018-11-12 17:36] aghassemi commented on #19255
/to @IdanLanger @OmriKeret Looks like `amp-apester-media` is throwing in certain cases when it tries to access `classList` on some node.

[2018-11-12 17:46] choumx opened #19256 "Add integration test for amp-crypto-polyfill"
Context: #18856

[2018-11-12 17:48] choumx opened #19257 "Ban module.exports outside of node_modules/"
Context: https://github.com/ampproject/amphtml/issues/18851#issuecomment-431731610

[2018-11-12 18:00] zhouyx commented on #19252
Found the cause. IntersectionObserverApi fail to unobserve and remove mutationObserver event listener after it has been destroyed.

This happens with `<amp-iframe>` when  nested iframe listen to intersection change after unlaid out. Fail to free up resources and caused error logs. But doesn't lead to behavior regression. Set as P1.

to @torch2424

[2018-11-12 18:03] aghassemi commented on #19252
Thanks @zhouyx, great investigation.

[2018-11-12 18:12] aghassemi commented on #19247
Thanks @martindybal. Fixed by https://github.com/ampproject/amphtml/pull/19167 already. Will be in production in a week or two.

[2018-11-12 18:12] #19247 closed

[2018-11-12 18:17] zhouyx commented on #9546
@bradfrizzell Thank you for bringing this up. I think it's a great idea to improve user experience.

This also reminds me of one request we had before: To collapse a no-fill ad slot when possible (for example: when user scroll it to the bottom of the viewport later)

I don't believe this is straightforward to support because the idea doesn't fit our current `attemptToResize` framework, but worth t

[2018-11-12 18:29] choumx opened #19258 "amp-bind: Document data-amp-bind-*, new console tools"

[2018-11-12 18:34] #19050 closed, assigned to kristoferbaxter, jridgewell, rsimha

[2018-11-12 18:42] sparhami opened #19259 "Add a way to pause/resume lifecycle callbacks"
In some situations we want to temporarily pause lifecycle callbacks for children. This can be useful if you are scaling up/down an element during a user gesture and you want to prevent re-layout due to size change while the user is in the middle of the gesture. Currently, you can use `setAsOwner` to control the lifecycle callbacks of children, but that is not ideal as you may forget to call some l

[2018-11-12 18:46] coreybyrnes commented on #9546
@zhouyx That would be great and something I've been wanting for over a year! I have to mention however that I was testing this case out today and I was seeing the flying-carpet component collapse (via a _hidden_ attribute) when it was a no-fill and out of view but now I can't reproduce it.
<img width="1639" alt="screen shot 2018-11-12 at 11 34 03 am" src="https://user-images.githubusercontent.com/

[2018-11-12 19:06] torch2424 commented on #19252
Thank you @aghassemi and @zhouyx For looking into to this and finding the cause! Will get on this ASAP

[2018-11-12 19:13] #18183 closed

[2018-11-12 20:06] 6081902811485155 opened #19263 "amphtml"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-11-12 20:55] GrizzlyEnglish opened #19265 "Multiple External Links in Amp-Story"
## What's the issue?

When creating the default UI amp-story-consent, can we have the ability to integrate multiple external links since the modal is scrollable based on vendors anyway

## How do we reproduce the issue?

Attempt to add multiple external links to the amp-story-consent, just like having the array of vendors.

## What browsers are affected?

All

## Which AMP version is affected?

18

[2018-11-12 20:58] rsimha opened #19266 "`gulp visual-diff --skip` no longer works"
I think there's a new `node` flag called `--skip`, so the flag isn't being passed on to `gulp`.

https://travis-ci.org/ampproject/amphtml/jobs/454165927#L621-L626

We'll need to rename it for the dummy build to work.

[2018-11-12 20:58] jridgewell commented on #9546
I'm OK with that, but we'd have to define which elements can be shrunk somehow. Also, I'm not sure when I'd have to time to add it to `Resources`.

[2018-11-12 21:53] jyn15 opened #19269 "amp-img doesn't load when initial size is zero (animations)"
## What's the issue?

amp-img does not load image when its initial size is zero, even if the size becomes greater than zero later.

## How do we reproduce the issue?

The demo shows a rotating card animation. At the first frame the image is rotated 90deg around the Y-axis so it's rendering width is zero. Its transform matrix is animated to rotate the image:
https://jsbin.com/zoxafihuco/edit?html,o

[2018-11-12 21:55] choumx commented on #19259
Do you have an example of which lifecycle methods may be forgotten? Not sure which methods would need to be called in your use case (e.g. while element is being scaled).

[2018-11-12 22:03] choumx commented on #19155
Compilation would be great too. :)

Seems like you'll need the output a new standalone binary to get a URL to pass to `addModule()`. Doesn't exist yet in our build infra but should be straightforward to add support, similar to `cssBinaries` that we have currently. I had a PR that did this awhile back but reverted the change for simplicity.

[2018-11-12 22:08] gmajoulet opened #19270 "Stories desktop full bleed experience."
Provide a desktop full bleed experience for stories.

[2018-11-12 22:11] jridgewell commented on #19259
Ferrying `inViewport` usually. I actually don't know what the full requirements are for ownership, and I imagine no one else does either.

[2018-11-12 22:11] sparhami commented on #19259
I don't actually want to call any lifecycle methods during the scaling. I want to avoid calling lifecycle methods (mostly `layoutCallback`) during the scaling. I can stop all lifecycle methods with `setAsOwner`, but then I need to manage the lifecycle callbacks for the child. I don't really want to manage the lifecycle for my child though, because I'll need to manage / remember to tell the child w

[2018-11-12 22:17] jridgewell commented on #19205
An attribute in the HTML is likely the wrong place for this, because it would require all CDNs to re-ingest the doc, but there's no API to do it in the SW itself.

So, if it's really necessary, you should be doing as much cleanup in the SW itself. We can then add an unregister attribute to finalize the unregister when the doc is re-ingested.

[2018-11-12 22:22] choumx commented on #19259
Sounds like you want `unsetAsOwner`. I thought you meant lifecycle callbacks during scaling.

[2018-11-12 22:24] #15826 closed, assigned to Enriqe

[2018-11-12 23:17] aghassemi commented on #19269
One solutions is having `amp-animation` **force** layout on all targets when it initializes. We wouldn't want runtime to try to schedule as animations run. @jridgewell What do you think? (also I don't think we have a way to force layout regardless of visibility yet).

[2018-11-12 23:41] jridgewell commented on #19269
amp-animation needs to invalidate the measurements on the elements it animates.

[2018-11-13 00:13] aghassemi commented on #19269
@jridgewell amp-animation runs off main thread, it can invalidate at the beginning or end of animation but not during (even if it could by running a parallel rAF loop, seems wasteful to invalidate every rAF eventhough nothing about measurements of the element may have changed - we just don't know what keyframes are doing - Passes could be running during the animation remeasuring everything we inva

[2018-11-13 00:38] torch2424 commented on #18828
Add a refactor PR, to make ui actions match the same `type/action` format.

[2018-11-13 04:45] andreyMakahov commented on #19205
Yes, unfortunately, I can't [unregister](https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/unregister) the service worker inside my service-worker file.

In my understanding we have two choices how to archive it:
1. Add new attribute to amp-install-serviceworker component and call [unregister API](https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/u

[2018-11-13 08:29] OmriKeret commented on #19255
Hi @aghassemi we will take care of this during our upcoming sprint, thanks!

[2018-11-13 09:58] RonnieWinter opened #19276 "Safari blocks <amp-analytics type="googleanalytics"> pageview requests"
## What's the issue?

Affects: Safari iOS

1. Enable the Develop menu in Safari Preferences, then click on the menu: 'Develop > Enter Responsive Design Mode'. Then select a mobile device such as 'iPhone 8',
2. On the url bar go to: https://www.google.com/amp/s/www.travelsupermarket.com/en-gb/holidays/amp/spain/canary-islands/tenerife/
3. Open the developer tools and go to the network tab, then fil

[2018-11-13 10:55] BenjaminAt10SQ commented on #17007
Sorry for the delay @ampprojectbot! ;-) We're still working on it.

@lannka are there any ways to implement a custom parameter encoding instead of url building (`param1=value1&param2=value2`)? Without this we are forced to implement a special protocol just for AMP sites.

Here's for example how we encode multiple tracked records, which all have the same field list:

`fields=field1_field2_field3`
`

[2018-11-13 12:20] jarek-gilewski commented on #18849
Any feedback? Auto-resize is really needed.

[2018-11-13 13:45] trodrigues commented on #18697
As I stated in my last message, we don't have to have the `RETURN_URL` in the authorization request, but we need to know what we are redirecting back to.

The `Origin` header does not give the same info.

Looking at an example request on https://ampexample.laterpay.net/article1.html for instance:
<img width="627" alt="screenshot 2018-11-13 14 40 53" src="https://user-images.githubusercontent.com/3

[2018-11-13 14:33] GrizzlyEnglish opened #19277 "Amp-Validator errors on poster for amp-video"
## What's the issue?

According to the documentation [here](https://www.ampproject.org/docs/reference/components/amp-video#poster). The poster attribute will be defaulted to the first frame; yet, if I do not provide a poster for the amp-video the validator throws an error "No "poster" attribute has been provided for amp-video."

## How do we reproduce the issue?

I don't have a publice URL; but if

[2018-11-13 14:53] Miguelslo27 opened #19278 "amp-ima-video not reproduced and freezes on ios"
## What's the issue?

When I open my amp page with video and ad rolls on iOS on any browser, and tap the video to start watching it, the video stays freezed on the first photogram, then I need to pause the video and play again to watch it and the Ad never shows up

## How do we reproduce the issue?

Open any amp project that contains a video implemented with amp-ima-video with a valid vast url wit

[2018-11-13 15:08] newmuis commented on #19265
/to @jasti for prioritization

[2018-11-13 15:22] jukefr opened #19279 "Submit form with target="_blank" inside amp-iframe not working"
[code]
I have a form on B.
I have an amp-iframe on A that loads the form on B.

## What's the issue?
If the target is "_blank" on the form, clicking the submit button **inside the iframe does nothing.**

I started out with target="_parent" and every sandbox option allowed on the amp-iframe and it all seemed to work, until I tried it on the AMP CDN, I then realised Google won't allow me to use _par

[2018-11-13 16:19] ayumihamsaki opened #19281 "amp-pinterest module fails lighthouse tests 100% of the time"
The basic issue is that this module does not give an Accessibility Link Name, see screenshot:

![untitled](https://user-images.githubusercontent.com/17784082/48426919-9f943600-e75f-11e8-979e-0600bdc826b5.png)

Is it possible for the authors to add the following code:

[code]

Then I believe this should make this module pass lighthouse and give a better Accessibility Experience to people.

Also wou

[2018-11-13 16:30] GrizzlyEnglish commented on #19277
@aghassemi Ah, that makes perfect sense. Sorry about that!

[2018-11-13 16:49] aghassemi commented on #19278
@Miguelslo27 testing your Url on Chrome (desktop/android), Safari (desktop and iOS emulator), I can successfully play the video and see the ad as well. (Both on your Url and https://ampbyexample.com/components/amp-ima-video/ ).

Are you still running into this issue? Looks like configuration and/or a temp glitch from Ad side.

[2018-11-13 16:49] aghassemi commented on #19278
/cc @torch2424

[2018-11-13 16:57] Miguelslo27 commented on #19278
@aghassemi Hi, and thank you for taking the time to try, I'm still having this issue, I have few questions to you

* When you open in Chrome and turn on the native emulation from the Developer console, are you refreshing the page? If you aren't the add works fine, after you refresh, it stop working

* Did you open the link in a real device?

I'm experimenting the issue in both places, in the prod

[2018-11-13 17:15] GrizzlyEnglish opened #19284 "Amp-Story non-configured share providers"
## What's the issue?

On my amp-story, I would like to add non-configured share providers to the sharebar; but I can not add endpoint due to it prepending data-param when the endpoint needs data-share.

## How do we reproduce the issue?

I don't have a public url, but if you add a bookend with this shareprovider

`{
  "provider": "reddit",
  "share-endpoint": "https://www.reddit.com/submit"
}`

It

[2018-11-13 17:21] Enriqe commented on #19284
/cc @newmuis

[2018-11-13 17:22] aghassemi commented on #19276
/to @zhouyx @jeffjose

[2018-11-13 17:23] dvoytenko commented on #19019
@prateekbh Did you have a chance to look into this?

[2018-11-13 17:24] dvoytenko commented on #19215
@jpettitt I don't think we'll ever have an unlink event. But `link` events would probably be relatively straightforward to create?

[2018-11-13 17:24] Enriqe opened #19286 "[amp-story] Clickable targets inside amp-story-cta-layer are displaying a tooltip"

[2018-11-13 17:43] zhouyx commented on #19276
I'll take a look.

[2018-11-13 18:00] mrjoro opened #19288 "Design Review 2018-11-21 21:00 UTC (cancelled)"
Time: [2018-11-21 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=11&day=21&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20181121T210000Z/20181121T220000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-11-13 18:00] mrjoro opened #19289 "Design Review 2018-11-29 01:00 UTC (cancelled)"
Time: [2018-11-29 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=11&day=29&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20181129T010000Z/20181129T020000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-11-13 18:00] mrjoro opened #19290 "Design Review 2018-12-05 16:30 UTC (Africa/Europe/western Asia)"
Time: [2018-12-05 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=12&day=05&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20181205T163000Z/20181205T173000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-11-13 18:01] aghassemi commented on #19278
@Miguelslo27 yeah refreshing as well, I always get Ads and never see freeze.

Looks like issue is not with the player itself but on the Ads side. I wonder if location difference is causing different type of ads to be returned triggering the bug.

/to @torch2424 to investigate from Ads side.

[2018-11-13 18:05] mrjoro opened #19291 "Design Review 2018-12-12 21:00 UTC (Americas)"
Time: [2018-12-12 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=12&day=12&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20181212T210000Z/20181212T220000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-11-13 18:05] mrjoro opened #19292 "Design Review 2018-12-20 01:00 UTC (Asia/Oceania)"
Time: [2018-12-20 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=12&day=20&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20181220T010000Z/20181220T020000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-11-13 18:05] mrjoro opened #19293 "Design Review 2018-12-26 16:30 UTC (Africa/Europe/western Asia)"
Time: [2018-12-26 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=12&day=26&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20181226T163000Z/20181226T173000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-11-13 18:06] mrjoro commented on #19288
Cancelling since many regular attendees won't be available.

[2018-11-13 18:06] #19288 closed

[2018-11-13 18:09] mrjoro commented on #19293
Cancelling since many regular attendees won't be available.

[2018-11-13 18:09] #19293 closed

[2018-11-13 18:10] #18659 closed

[2018-11-13 18:40] jeffjose commented on #18931
This actually came up yesterday in a conversation I was having. I think there's a need to have better SESSION support inside AMP. In addition to the use case mentioned by @dmvjs, having robust SESSION IDs can aide in debugging when you're trying to tie a certain frontend state to a backend.

[2018-11-13 18:51] aghassemi commented on #19166
1811091519050 was just promoted to production.

[2018-11-13 18:51] #19166 closed

[2018-11-13 19:15] Miguelslo27 commented on #19278
Great so you say the issue could be on Ads it self, and maybe related to the location, I'm in Uruguay, using a VPN maybe I can trigger the way to see Ads and validate that asumption.

Let me try and I will get back to you.

Thank you a lot in advanced.

[2018-11-13 19:18] dvoytenko commented on #18697
It's a matter of which endpoint you're using at any particular time. `RETURN_URL` is only guaranteed in the context of the login endpoint. And you're trying to receive it in the context of the authorization endpoint, where it's not guaranteed.

[2018-11-13 19:20] Miguelslo27 commented on #19278
@torch2424 Thank you a lot to take this in care.

[2018-11-13 19:35] keithwrightbos opened #19295 "amp-gwd-animation does not work in FIE"
amp-gwd-animation does not properly execute when placed within FIE rendering due to incorrect AmpDoc (reference parent page instead of FIE).

[2018-11-13 19:57] Miguelslo27 commented on #19278
Sorry, muy bad XD

I've just clicked without intention on the `Close issue` button haha

[2018-11-13 20:15] jridgewell commented on #19205
What I mean is you shouldn't be waiting for the HTML to be updated in downstream caches. In your service worker, clean up your caches, stop listening to fetches, and perform any other cleanup. You control that JS, and it's checked for updates very frequently. You don't have that guarantee with the cached HTML.

[2018-11-13 20:26] bradfrizzell opened #19297 "Flying Carpet collapsing empty ad slot is broken"
The spec'd behavior of flying carpet is that when a child element collapses due to no-content, the flying carpet is supposed to also collapse. For instance, when an amp-ad gets an empty response and attempts to collapse (when outside viewport) the flying carpet should also collapse. However, this functionality is broken. In my testing just now, it seems that mutateWorkViaResources is not working a

[2018-11-13 20:40] caiotomazelli opened #19298 "FR: amp-form conditional variable substitution"
Today we have something like "conditional var substitution" with the [data-amp-addparams](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#appending-parameters-to-the-href) attribute for links.

I'd like to achieve a similar conditional behavior with form inputs.

My use case is the following: I'd like to check if a query param is present at the URL. If so, i'd like

[2018-11-13 21:36] coreybyrnes commented on #10471
@outoftime I found this ticket when trying to debug this exact issue.

1. A new ticket has been opened to try to solve this: https://github.com/ampproject/amphtml/issues/19297

2. Calling `context.noContentAvailable` from within a DFP ad in the hopes of forcing the collapse of the flying-carpet component is failing for me - yielding a "Uncaught DOMException: Blocked a frame with origin "https://tp

[2018-11-13 21:36] choumx commented on #19295
/to @sklobovskaya /cc @dvoytenko

[2018-11-13 21:37] csLittleye commented on #16783
The fix for this issue was rolled out and I verified the issue is resolved. Please let me know if there is still any issue.

[2018-11-13 21:39] coreybyrnes commented on #9546
@bradfrizzell opened https://github.com/ampproject/amphtml/issues/19297 to resolve the issue of no-fill not collapsing the flying-carpet component

The other issue is: calling `context.noContentAvailable` from within a DFP ad in the hopes of forcing the collapse of the flying-carpet component is failing for me - yielding a "Uncaught DOMException: Blocked a frame with origin "https://tpc.googlesynd

[2018-11-13 21:42] prateekbh commented on #19205
My 2 cents:
- For immediate fixes, an attribute or a component might not suffice.
Imagine a worst case scenerio where you cached your page via the service worker, now it doesn't matter if you add the proposed `amp-uninstall-serviceworker` or the attribute in your next deploy. It will never go to network to fetch the new document.

- The `unregister` attribute, IIUC will unregister the sw before th

[2018-11-13 21:50] #19286 closed

[2018-11-13 21:55] jridgewell commented on #19205
AMP doesn't allow this currently. For this, an unregister attribute is an appropriate solution. But as you explained in your other two points, this should be the last step. First should be deploying an updated SW that fixes itself or stops itself from doing anything. After that, you should update the HTML to unregister the SW entirely.

[2018-11-13 21:57] nainar commented on #19237
Hi @CrystalFaith what is the weird behaviour, this seems working as intended?

[2018-11-13 21:57] aghassemi opened #19302 "🚄Release tracking issue for release 1811132019350 (Canary)"
- [x] Release [1811132019350](https://github.com/ampproject/amphtml/releases/tag/1811132019350) is cut as a new canary release
- [x] Release [1811132019350](https://github.com/ampproject/amphtml/releases/tag/1811132019350)  pushed to dev channel
- [x] Release [1811132019350](https://github.com/ampproject/amphtml/releases/tag/1811132019350)  pushed to 1%
- [ ] Release [1811132019350](https://github

[2018-11-13 22:00] chadladensack commented on #18960
Hey @alanorozco, we see the `amp-powr-player` component is now live at https://cdn.ampproject.org/v0/amp-powr-player-0.1.js. Our initial tests are looking good.

When can we expect the documentation on https://www.ampproject.org/docs/reference/components to include the powr-player?

[2018-11-13 22:05] aghassemi commented on #19237
@nainar Paragraph is initially visible and then flies to the right. (instead of hidden and fly to the left)

[2018-11-13 22:07] newmuis commented on #19284
We could expose a JSON key representing the endpoint, but the problem is going to be the icon.  Thus far, all of the icons are inlined; I'm not sure what the most reliable way to have a configurable icon would be.  Maybe we can accept the icon URL in the configuration JSON as well, but then have a default that is shown if the icon fails to load?

/cc @hongwei1990 @Enriqe

[2018-11-13 22:44] #19022 closed

[2018-11-13 22:48] torch2424 commented on #19298
Triaging to @cvializ 😄 Feel free to move anywhere else.

[2018-11-13 22:49] torch2424 commented on #19279
cc @aghassemi Could you look at this? Not sure what this would triage under.

[2018-11-13 22:50] GrizzlyEnglish commented on #19284
@newmuis  I honestly didn't even consider the icon. The styling would also have to be enforced, right? To keep the sharebar consistent.

[2018-11-13 22:57] torch2424 commented on #19278
@Miguelslo27 You are welcome!

I sent out an email, will report back here once we get a response.

Also, another thank you to @aghassemi for trying to reproduce this 😄

[2018-11-13 22:59] rsimha commented on #17040
Assigning to @esthkim

[2018-11-13 23:03] choumx commented on #19189
@alabiaga This is a good component candidate.

[2018-11-13 23:13] rsimha commented on #17040
Here is the list of dependencies above 50 MB. Clearly, moving `puppeteer` to an on-demand install will greatly speed up development for most contributors.

[code]

[2018-11-13 23:39] aghassemi commented on #19279
@jukefr You would also need to add `allow-popups` to the sandbox for `_blank` to work.

[2018-11-13 23:40] aghassemi commented on #19279
Closing per comment above, please feel free to reopen if that does not solve your issue. Thanks.

[2018-11-13 23:40] #19279 closed

[2018-11-13 23:41] Enriqe commented on #17108
running `gulp visual-diff` doesn't set AMP_TEST to true by default. Is this expected?  (see https://github.com/ampproject/amphtml/pull/19250/files#r233264120)

[2018-11-13 23:50] zhouyx commented on #19276
After a couple hours of investigation,  Here's what I found

1. I am able to reproduce the issue with Safari
2. It happens both with https://www.google.com/amp/s/www.travelsupermarket.com/en-gb/holidays/amp/spain/canary-islands/tenerife/ with viewer and https://www.travelsupermarket.com/en-gb/holidays/amp/spain/canary-islands/tenerife/ w/o viewer
3. I can't reproduce with a simple local page with

[2018-11-14 00:05] newmuis commented on #19284
Yes, we'll need to keep that consistent as well.  This seems possible, as long as we can come up with good ways to ensure the visual consistency of the icon itself.

[2018-11-14 00:07] torch2424 commented on #18735
The analytics team, ( @lannka @zhouyx @calebcordry ) and I decided that it would be good to re-think how we are doing scroll events, and decide what would be the expected behavior on this before we start implementing a solution.

[2018-11-14 00:47] #17796 closed

[2018-11-14 00:49] cathyxz commented on #17670
Fixed by https://github.com/ampproject/amphtml/pull/19212

[2018-11-14 00:49] #17670 closed

[2018-11-14 01:14] sparhami commented on #19259
Turns out `setAsOwner` is not enough for what I am trying to do. If I call `mutateElement` on my element while scaling a child, it can/will cause my child to run its `onMeasureChanged` callback. That will do some resizing logic that isn't correct / should not be done at that point in time.

For now, I can probably just let the child know it is scaled or maybe have it check if it has an ancestor th

[2018-11-14 01:22] aghassemi opened #19310 "amp-orientation-observer is a bit jumpy"
see demo here: https://s.codepen.io/aghassemi/debug/eQvORz

I think we need to smooth it out a bit more.
/to @nainar
/cc @andrewwatterson

[2018-11-14 02:36] yukah000 opened #19312 "amp-ad media query doesn't work with fluid"
## What's the issue?

amp-ad fluid + media query combination makes 2 ad requests, although we expect only 1 ad request.

Tag
[code]

Test page
https://storage.googleapis.com/mps-storage/yukah/test/Fluid_mediaquery_test_20181114.html

Screenshot
https://docs.google.com/a/google.com/drawings/d/e/2PACX-1vRAdaZ2WkvoSQnQEcjcKE6SHI__GbUWQvyQ7kBMucgF83wyf9mrj1mPl7dTcl8_2OSvalnN2S9ScI5Y/pub?w=964&h=1136

[2018-11-14 03:49] andreyMakahov commented on #19205
Right, but it can be avoided by not to cache the page.

That is what we want. Sorry guys, that did not explain it clearly. I will try to show the problem with the image:
<img width="435" src="https://user-images.githubusercontent.com/5758614/48458668-45987c80-e802-11e8-8527-a3edf3ed569e.png">

We want to avoid such situation. We have dynamic configuration, which does not need redeploy. We will use

[2018-11-14 09:05] RonnieWinter commented on #19276
@zhouyx Thanks for your reply. Yes we have seen a drop in pageview requests on our server side, and this is what lead us to investigate and find this issue.
Regards

[2018-11-14 09:47] david-aa commented on #13005
Maybe it's a silly question but, have you published your GTM container?

[2018-11-14 10:42] ndahmani commented on #19139
Hi Team, thanks for taking a look.
@keithwrightbos any chance to have an update? Publishers are asking for an ETA (and are losing monetizations).
Feel free to ask if we can provide anything that can help.

[2018-11-14 10:47] fjanevski opened #19314 "amp-carousel not rendered"
## What's the issue?

`amp-carousel` content is not displayed. There is issue regarding building the `amp-casourcel` as show in the browser console.

Error: http://prntscr.com/li7fwp

## What browsers are affected?

It is affecting all browsers.

## Which AMP version is affected?
version number: 1811091519050.

[2018-11-14 12:52] JakobEichler commented on #19109
Hello @cvializ , are there any updates? I am ready to schedule a skype call with you and provide more information about the issue we had with the date picker, which was shipped with an amp update.

Skype: j.a.eichler ;)

[2018-11-14 15:12] prateekbh commented on #19019
Hi! I just saw the login button and clicking on it seems to be logging the expected events

<img width="1660" alt="screen shot 2018-11-14 at 7 10 50 am" src="https://user-images.githubusercontent.com/5960497/48491538-a7de8680-e7dc-11e8-9973-e0e0965a009e.png">

[2018-11-14 15:30] darko407 commented on #19314
We have fixed the issue by removing the value from the autoplay attribute. We had: autoplay="true" and it should have been only autoplay. I am guessing some kind of validation was added in the last update in the amp script that caused this error.

[2018-11-14 16:33] cvializ commented on #19298
Hey @caiotomazelli thanks for opening this feature request!

If I understand correctly, the server that receives the form request will trigger different behavior if the `gclid` queryparam is empty vs if the `gclid` queryparam is absent, is that correct?

The `data-amp-addparams` still adds the empty queryparam if the value is not present in the original URL so I believe that it is not conditional

[2018-11-14 16:51] caiotomazelli commented on #19298
Hey @cvializ, thanks for your reply!

I was under the impression that the "dynamic" part of `data-amp-addparams` was about checking for non-existence, but you're right, proposition 1 does not work as I thought. Actually, what I need ("test for null or empty string") is covered by amp-bind expressions, so something like proposition 2.

I will wait for any considerations that @choumx might have befo

[2018-11-14 17:10] mrjoro commented on #18660
*GitHub app replacing bundle size check*

- @rsimha - now two builds, one on Travis, one outside of Travis?
  - no, Travis does the build and reports the size to the app, and then the app makes the decision on whether this is an acceptable increase (so the comparison is being done outside of Travis)
  - this means it also doesn't block the Travis checks, Travis checks will continue
  - only specif

[2018-11-14 17:10] #18660 closed

[2018-11-14 17:30] zhouyx commented on #19276
Thank you @RonnieWinter. Could I get a bit more information on the data to help me investigate.

1. When did the drop first happen?
2. How much percentage is the drop?
3. Does the drop happen across all Safari version? Mobile and Desktop?

Thank you!

[2018-11-14 17:38] #19191 closed

[2018-11-14 17:49] danielrozenberg commented on #17108
The fix for this issue was accidentally reverted in #18158. I'll take a look at fixing it again asap

[2018-11-14 18:04] keithwrightbos commented on #19139
I don't see how the stacktrace above is related to SF usage as the stacktrace is part of FIE rendering for AMPHTML creatives.    Note that by default the safeframe API is not included in AMP creatives unless required.  Can you try retagging that slot with data-force-safeframe=true which will ensure that the safeframe library is included in the creative (see https://github.com/ampproject/amphtml/bl

[2018-11-14 18:04] #19139 closed

[2018-11-14 18:11] avimehta commented on #19276
Not sure why.

@zhouyx If I understand your investigation so far correctly, sendBeacon pings are not getting sent from the browser to GA. If you change the URL to point to a local server, the pings do go through and they also show up in Network tab. Is that correct?

@RonnieWinter Is this happening throughout your site or on one particular section? A date when this started happening will help debu

[2018-11-14 19:07] cvializ commented on #19109
: ) I found some time to bisect the commits to find the first commit with the different behavior. It looks like it's https://github.com/ampproject/amphtml/pull/18691 and I'm continuing to investigate why it changed things.

[2018-11-14 19:13] rustycourses commented on #12865
I am still getting an error form this with stories that have more than 15/16 video clips.

The error appears in the console when you get to the 15/16 video clip: _Cannot_ read property 'classList' of undefined_

[2018-11-14 19:53] clawr commented on #19269
this also affects native CSS keyframe animation: https://jsbin.com/qocenunode/edit?html,output

is the recommendation to always use amp-animation?

[2018-11-14 20:03] coreybyrnes commented on #9546
@bradfrizzell was able to help resolve the cross-domain issue with `noContentAvailable`. I now have a successful "Blank" creative serving from DFP that successfully kills the <amp-ad> and also collapses an AMP component (except the Flying-carpet atm) if present. Here's a demo where the "Blank" creative kills the Sticky component:
http://rev.cbsi.com/corey/test/amp/amp_demo_sticky_blank.html

This

[2018-11-14 21:03] aghassemi commented on #19269
We could take the same approach to fix both amp-animation and CSS animations by forcing layout on any targets and revalidating when animation ends. Easier to fix amp-animation than CSS however since we would need to parse and find targets in CSS.

[2018-11-14 21:13] hadidotj opened #19320 "Missing Documentation for VARIANT and VARIANTS Variable Substibutions"
## What's the issue?

The [AMP HTML URL Variable Substitutions](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md) page is missing definitions for "VARIANT(experiment)" and "VARIANTS" as suggested by the link on the [amp-experiment Reporting section](https://www.ampproject.org/docs/reference/components/amp-experiment#reporting).

## Steps to Reproduce

1. Navigate to

[2018-11-14 21:22] alabiaga opened #19321 "Support templates within script tags."
For components like amp-mustache, AMP currently only supports providing template strings through <template> elements.

This is problematic in some cases because browsers will parse a <template> into a DocumentFragment, which causes foster parenting in tables, loss of HTML entities (e.g. &amp;), etc. We can avoid browser parsing of template strings by allowing developers to use <script type=text/ht

[2018-11-14 22:03] cvializ commented on #19109
This issue should be fixed following the [AMP release schedule](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md), and should be live in production in about 2 weeks. Thanks again for reporting this!

[2018-11-14 22:03] #19109 closed

[2018-11-14 22:33] zhouyx commented on #19276
@avimehta  Based on my experiment. I can see `#sendBeacon()` being called. But I am not sure if the pings are sent to GA. One thing worth mention is that I am able to locate other scroll event pings in the Network tab.

That's correct.

[2018-11-14 22:48] zhouyx commented on #19297
Thank you @bradfrizzell and @coreybyrnes

I am able to reproduce the issue and locate the cause. The reason why `<amp-ad>` collapse request is rejected is because the ad is applied position:fixed in the background. This is how we implemented the flying carpet effect. Because of that, AMP runtime will not be able to collapse the ad because it always thinks the ad is within viewport.

One thing I ca

[2018-11-14 22:50] #17108 closed

[2018-11-14 22:52] coreybyrnes commented on #19297
@zhouyx THANK YOU! I've been trying to accomplish this for over a year. Much appreciated.

here's a test page with a no-fill <amp-ad> as the only child of the flying-carpet:
http://rev.cbsi.com/corey/test/amp/amp_demo_flying-carpet_nofill.html

[2018-11-14 23:39] nainar opened #19326 "Allow developers to define the smoothing constant in <amp-orientation-observer>"
Const proposed names:

`{alpha|beta|gamma}-smoothing`

[2018-11-14 23:47] zhouyx commented on #19297
Thank you @coreybyrnes for the test page.

Here's the example use case
[code]

@jridgewell If you agree with proposal, do you think we should force collapse all component if it is the only child of `<amp-fx-flying-carpet>` or only `<amp-ad>`?  Thanks

[2018-11-14 23:54] zhouyx commented on #10471
@coreybyrnes Regarding 2. Is there another issue opened for that? I knew @bradfrizzell is on it right?

[2018-11-14 23:57] gmajoulet opened #19330 "Video audio playing while the story is muted."
Video audio can be playing while the story is muted:

1. Unmute the story and mute it back
2. Navigate to a page that has a video with audio
3. Audio is playing, even though the story is muted

When blessing the media elements, `amp-story` emits `VideoServiceSignals.USER_INTERACTED`, that unmutes the video:
https://github.com/ampproject/amphtml/blob/master/src/service/video-manager-impl.js#L760

[2018-11-15 00:08] coreybyrnes commented on #10471
@zhouyx re:2 @bradfrizzell was able to help me resolve this today... the following chunk renders a no-fill in the ad slot and will hide the amp-ad and component container (if present):

`<script type="text/javascript">
if (!window.context) {
	window.addEventListener('amp-windowContextCreated', () => {
		window.context.noContentAvailable();
	});

	ampContextScript = document.createElement('script')

[2018-11-15 00:12] fstanis opened #19331 "Update worker-dom in amp-script"
It seems the currently published version of amp-script (1811091519050) is not up-to-date with the latest worker-dom, specifically, functions like [querySelector](https://github.com/ampproject/worker-dom/blob/6fbcc591488780d15b66d117123bf068b3919be4/src/worker-thread/dom/Element.ts#L414) are missing.

[2018-11-15 00:40] #19330 closed

[2018-11-15 01:41] aghassemi commented on #19314
@darko407 correct, 'autoplay' used to be valueless, now it optionally accepts a number which indicates how many loops it does before stopping.

[2018-11-15 01:41] #19314 closed

[2018-11-15 04:14] jridgewell commented on #19297
Sounds alright to me. Flying carpet container is a special case since it won't cause total page adjustments.

[2018-11-15 09:41] JakobEichler commented on #19109
@cvializ Thank you very much. The things that changed are bascially from my perspective
1.) visibility of the date picker, when using the above named css propperty to center it
2.) the texts bellow the date picker & the possibility to hide/show elements which are in the <template> of the datepicker, before the datepicker is opened.

Thank you so much for taking this seriously and improving the AMP

[2018-11-15 09:42] JakobEichler commented on #19109
Hopefully you observed both incidents and both will be fixed. Not only 1.) ; )

[2018-11-15 10:56] RonnieWinter commented on #19276
@avimehta
Hi, yes it seems like the pageview doesn't appear on the network tab for Safari, but it is actually being sent.
I have just had confirmation from the data team that they can see that there are iOS safari users that do register 'pageviews'. The real problem is that they do not convert once they click the search button (which takes them to the results page). This would therefore imply that

[2018-11-15 11:01] RonnieWinter commented on #19172
Our data team has seen a lot of Safari iOS journeys that do not continue to the results page (coming in from the amp cached page)
They are seeing lots of journeys that stop once they click on the Search button (at the point of going cross-domain). This therefore is more evidence that the users are being given a new ClientID.
Please have a look at one of the many journeys that appear to end at clic

[2018-11-15 12:07] TidyFire commented on #14239
Hi, and many thanks nainar. The position:fixed was a legacy of an older off-canvas menu design. I have now experimentally changed it to use positioned flex-layout instead. There are no fixed elements in the page layout anymore, which did fix the iOS scrolling issue, sort of. The image loading and amp-youtube autoplay issues remain. When the amp-youtube video is scrolled up from the amp-carousel, a

[2018-11-15 12:41] cscheini commented on #16566
@pbazerque good point..  i think we live in an https-only world here :) - so would suspect this should not be an issue (also after Direct was close to 0% before the tracking bug appeared)

[2018-11-15 13:52] trodrigues commented on #18697
Right! So that makes sense now. I wasn't aware of that.

We do have a reason to have to pass the `RETURN_URL` to the authorization endpoint, but I'll talk to the team and figure out if we can change that behavior, otherwise we'll try to figure it out from the available info.

Thanks for the help in figuring out the issue. I'll close this now as we're sure now this is an issue we have to fix on our

[2018-11-15 13:52] #18697 closed

[2018-11-15 15:07] cvializ commented on #19109
I believe both issues had the same root cause, so they should be fixed now. I am seeing the correct messages at the correct time, and the date picker is positioned correctly. Those reproduction documents really helped, thank you for making them!

[2018-11-15 15:33] RonnieWinter opened #19337 "Dynamic <amp-list> with <option><select> with required validation fails in IE11 due to amp-mustache braces being ignored"
## What's the issue?

Please refer to [this CodePen](https://codepen.io/ro2nie/pen/ZmKjZv)

The way this snippet works is that when the user leaves 0 children and submits, the form should submit successfully. If he/she however chooses > 0 children number, then the validation fill fail if not setting any of the ages.

Now on Internet Explorer 11, there is a problem in where if a user selects 0 chil

[2018-11-15 17:17] aghassemi commented on #19326
👍

[2018-11-15 17:19] aghassemi commented on #19337
/to @cvializ

[2018-11-15 17:21] aghassemi commented on #19312
/to @glevitzky
/cc @jasti @lannka

[2018-11-15 17:21] aghassemi commented on #19320
to @CrystalFaith

[2018-11-15 18:20] #19310 closed

[2018-11-15 18:52] zhouyx commented on #19276
Thank you @RonnieWinter for the investigation! I've also verified with the ampproject.org pageview data, and there signs of pageview drop has been identified.

Lessons learned about Safari network tab : )

[2018-11-15 18:52] #19276 closed

[2018-11-15 18:53] cvializ commented on #19337
@jridgewell have we already considered adding a template polyfill to IE11 to make sure that strange behavior like this does not occur?

[2018-11-15 19:08] zhouyx commented on #19172
@RonnieWinter To understand the issue better

1. You have opted in into the clientId API using metatag on AMP pages and with ga on non AMP pages
3. Only happens with Safari when page served from cache but not from google.com

I do know we have add support to subdomain via the `alternateUrl`  which should handle this specific use case.

@rudygalfi @Gregable for more insight into the issue.

[2018-11-15 19:47] choumx commented on #16322
Upgrading to P1 due to recent bugs.

[2018-11-15 19:56] choumx commented on #19331
Thanks for the report. #19248 upgraded to 0.2.2 which should help.

[2018-11-15 19:59] #19195 closed

[2018-11-15 21:05] calebcordry opened #19349 "Linker: multiple href mutation"
Linker mutates `href` on anchor elements when clicked. If a link is opened in a new tab, then clicked again linker will add multiple linker params. It should nor.

[2018-11-15 21:35] torch2424 commented on #19278
@Miguelslo27 Still waiting to hear back from the IMA team, I sent out an email but they may be out for the week. I'll ping them again Monday morning if no response by then 😄

[2018-11-15 21:42] newmuis opened #19351 "Video integration tests timing out"
https://travis-ci.org/ampproject/amphtml/jobs/455599424

[code]

[2018-11-15 22:05] alanorozco commented on #19351
Fixed in https://github.com/ampproject/amphtml/pull/19342

[2018-11-15 22:05] #19351 closed

[2018-11-15 22:42] andrewwatterson commented on #19310
is this something that should have ux eyes? i'm not super sure how to get my local sandbox on mobile, and not sure how to verify that the local sandbox proxy is working rather than just serving up your demo's original AMP version.

[2018-11-15 23:29] sklobovskaya opened #19354 "amp-gwd-animation: repeated gotoAndPlay does not work"
The compiler appears to be stripping out code which forces layout reflow between removing and adding CSS classes, which is breaking repeated "go to label" animation controls.

Source:
The function at https://github.com/ampproject/amphtml/blob/master/extensions/amp-gwd-animation/0.1/amp-gwd-animation-impl.js#L417

Compiled (previously):
[code]

Compiled (now):
[code]

`c==b&&(a.offsetWidth=a.offset

[2018-11-15 23:42] sklobovskaya commented on #19354
@dvoytenko Hi Dima, do you know if this is a recent change? Is there some updated way to annotate that line of code to prevent it from being stripped out, or do we need to resort to a different approach?

[2018-11-15 23:43] #13433 closed

[2018-11-16 00:34] zhouyx commented on #19172
@RonnieWinter Talked with @Gregable offline.

Looks like the problem here is different CID is stored under google.com and google.co.uk.

Once user navigate from the cached AMP pages to your origin. The AMP clientId API tries to get the CID stored under google.com. If not found, based on the user ip, an alternateUrl will then be provided to attempt to get CID stored under the tld domain (here googl

[2018-11-16 00:47] avimehta commented on #19172
@zhouyx GA will read the value from linker. but this only works for IOS 12+ so all the other safari versions will still be broken.

[2018-11-16 06:38] nawabamit opened #19358 "ap menu"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-11-16 10:03] ndahmani commented on #19139
Hi @keithwrightbos,
Thanks for the feedback much appreciated,
Unfortunately, this doesn't solve the issue. Please see below the current setup:
<img width="1068" alt="capture d ecran 2018-11-16 a 10 57 43" src="https://user-images.githubusercontent.com/29407178/48614711-385cc880-e98f-11e8-9a8c-0649f7d5608a.png">

[2018-11-16 10:43] RonnieWinter commented on #19172
1. That is correct yes.
2. According to the data, yes Safari iOS seems to be hit the hardest by this bug. But when I recreate the bug, I am able to do so in Chrome, Firefox and Safari Desktop, Safari (emulating different iOS devices) and on different machines.

There are 2 journeys affected by the ClientID not being carried over.

**1st Journey - from AMP cache page to non-AMP page**
- Go from the

[2018-11-16 11:05] RonnieWinter commented on #19172
In answer to 1 and 2: We have ruled out the problem being caused by Safari not sending pageviews on issue [19276](https://github.com/ampproject/amphtml/issues/19276)
Even though Safari GA 'pageview' requests do not show up on the network tab, they are however hitting the GA endpoint. This is explained in issue 19276. I corroborated with our data guys in London that pageviews are indeed being track

[2018-11-16 11:48] RonnieWinter commented on #19172
Here is the HAR output of running 1 to 6. (On 3. I filtered by 'collect'):
https://paste.ee/p/DisHo

Publisher:getClientId returns:
![screen shot 2018-11-16 at 11 46 17](https://user-images.githubusercontent.com/32260852/48619733-5e856700-e995-11e8-99c2-27867d888e90.png)

viewer:getClientId returns:
![screen shot 2018-11-16 at 11 46 09](https://user-images.githubusercontent.com/32260852/48619751-7

[2018-11-16 12:54] Miguelslo27 commented on #19278
Thanks @torch2424 I will be anxious all the weekend haha :) talk to you on monday then

Thanks for the update

[2018-11-16 13:51] adamkasprowicz opened #19359 "Intent to Implement: Keen Analytics as a vendor to Amp-Analytics"
Hi there!

We'd like to add [Keen](https://keen.io) to the analytics vendors list, so our customers will be able to use Keen on AMP pages.

[2018-11-16 14:45] newmuis commented on #19203
@bramanudom The accent color comes from a CSS variable called `--primary-color`.  We can [read the CSS variable](https://stackoverflow.com/questions/41725725/access-css-variable-from-javascript) and use it to output the theme color meta tag described in the [document Malte linked above](https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android).

[2018-11-16 16:35] prateekbh commented on #19205
Thanks for explaining the issue @andreyMakahov, I have a question though:
Why is rendering an attribute via a dynamic configuration is any faster than just reverting the SW file to it's old state or deploying a blank SW file for time being.

I do understand the need of a mechanism for unregistering a SW, but I am just trying to wonder what's a better fix for the above said situation.

[2018-11-16 17:42] dvoytenko commented on #18697
@trodrigues LMK if any current variable can substitute the RETURN_URL for you...

[2018-11-16 17:50] ryanashcraft commented on #19160
@aghassemi @jeffehobbs @zhouyx Hi all. Just curious on the expected timeline for a green light or feedback here. Would like to be able to set appropriate expectations with my team and our customers. Thanks!

[2018-11-16 18:12] zhouyx commented on #19160
Thank you @ryanashcraft for the ITI. Yes please! Please refer to the [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md) here for more implementation instructructions.

@calebcordry Can help you with the linker settings if there's any question. Thank you!

[2018-11-16 18:23] Gregable commented on #19172
I can maybe provide a little help, but I'm not familiar with everything here, hopefully this is useful and not just noise.

I just tried this particular case using these exact URLs in Chrome at least. I used an incognito window so as to start with a clean set of cookies. In this case, I see consistent CID values on both pages.

What I looked for was in Chrome's network tab, I filtered for requests

[2018-11-16 18:29] grandloser opened #19364 "amp-img not rendering a new image as src attribute changes when served from Google Cache"
## What's the issue?
This problem is only reproducible from AMPs that are served from google cache.
when `amp-img` src attribute bound to `amp-state` changes, the new image is not rendered.

srcset attribute might need to change as well.

## How do we reproduce the issue?

https://ampbyexample-com.cdn.ampproject.org/c/s/ampbyexample.com/components/amp-bind

1.  Change the state to Cat by clicking

[2018-11-16 18:36] rudygalfi commented on #19172
cc @jeffjose

[2018-11-16 18:40] sklobovskaya commented on #19354
Updated description with the input and output.

[2018-11-16 18:55] alanorozco commented on #19354
@rsimha I realized this might be caused by upgrading Closure?

[2018-11-16 18:57] zhouyx commented on #19297
Thank you @jridgewell.

And thank you @torch2424 for offering to help : ) @coreybyrnes We are prioritizing the fix. Will keep you updated.

[2018-11-16 19:02] rsimha commented on #19354
@alanorozco, could it be that the code needs to get annotated differently so it doesn't get stripped out?

/cc @erwinmombay

[2018-11-16 20:17] newmuis commented on #11639
We should also re-enable the skipped flaky visual diff tests: https://github.com/ampproject/amphtml/blob/master/test/visual-diff/visual-tests

[2018-11-16 20:17] newmuis commented on #16460
Closing this in favor of keeping all skipped tests tracked in #11639

[2018-11-16 20:17] #16460 closed

[2018-11-16 20:18] newmuis commented on #12191
On navigation, we should also include:

- What page the user was coming from (if any)
- What AdvancementMode was used (manual advancement, time-based auto-advancement, media-based auto-advancement)

[2018-11-16 20:18] newmuis commented on #18567
Merging this into #12191

[2018-11-16 20:18] #18567 closed

[2018-11-16 20:20] newmuis commented on #18855
I agree that this user experience actually ends up being better, since it allows for seamless media playback.  Closing this, since the behavior is intended; feel free to reopen if there are further considerations that should be taken into account.

[2018-11-16 20:20] #18855 closed

[2018-11-16 20:22] danielrozenberg commented on #11639
Note that I'm just marking two more tests as flaky now (#19365) since they're causing PRs to fail

[2018-11-16 20:23] danielrozenberg commented on #18141
Hasn't happened in a while. Closing.

[2018-11-16 20:23] #18141 closed

[2018-11-16 20:24] danielrozenberg commented on #17321
We no longer have tests for iframe based components. Closing this for now

[2018-11-16 20:24] #17321 closed

[2018-11-16 20:28] danielrozenberg opened #19366 "Incomplete visual diff tests should cause `gulp visual-diff` to exit, not hang"
e.g., https://travis-ci.org/ampproject/amphtml/jobs/456056607#L640 this log shows that a crashed test just hangs the process

[2018-11-16 20:39] #19295 closed

[2018-11-16 21:00] alanorozco commented on #19354
Based on [this](https://developers.google.com/closure/compiler/docs/api-tutorial3#removal) it looks like there's no annotation to accomplish what @rsimha is mentioning.

Closure thinks there aren't any side effects since the value is not assigned anywhere. So the solution I can come up with is tricking Closure to think we're exporting the value read.

[code]

This outputs the following:

[code]

W

[2018-11-16 21:14] RonnieWinter commented on #19172
@Gregable Thanks very much for your reply. Sorry I forgot to include the body.

The publisher:getClientId response body on the journey initiated from the amp cached page in google.co.uk is an empty body {}. I recorded my screen showing this (and you can see the empty response body at minute 1:24)
The video is [here](https://drive.google.com/file/d/1eDETavAJ0sLf3Klpy5mjhZCLKMyVUory/view?usp=sharing

[2018-11-16 21:31] sklobovskaya commented on #19354
Yeah, creating some fake side effects seems fine if there's no appropriate annotation. (LGTM on your PR) Thanks for the quick fix!

[2018-11-16 21:45] calebcordry commented on #19160
Happy to help with any linker questions! Looking forward to the contribution!

[2018-11-16 21:54] #19354 closed

[2018-11-16 22:37] #17040 closed

[2018-11-16 23:08] jasti commented on #19265
Hey @GrizzlyEnglish we've been meaning to keep the UX of the consent dialogue on stories as consistent as possible across publishers. Could you explain what type of information you are trying to link to?

[2018-11-16 23:10] ishaan381 opened #19370 "IntersectionObserver not dispatching event until scroll"
## What's the issue?

Viewability events not being dispatched in desktop safari until the page is slightly scrolled. When an element is being tracked in AMP and is loaded/refreshed so that 100% of the element is in view, on some computers no viewability events were dispatched on the window until there was a scroll. The scroll could be extremely faint, but was needed to trigger the viewability even

[2018-11-16 23:15] jasti commented on #14240
All good from my end.

[2018-11-16 23:35] aghassemi commented on #19364
/to @choumx issue is if a given bind Url value is relative, it would be wrong. I think bind needs to try to resolve relative Urls. This probably happens with `amp-list` as well.

[2018-11-16 23:37] aghassemi commented on #19364
@grandloser as a work-around, please use a fully-qualified Url when binding src, e.g. instead of `/img/foo.jpg` as value of expression, make sure it is `yourdomain.com/img/foo.jpg`.

[2018-11-16 23:38] Gregable commented on #19172
OK, so slightly different case than I originally understood.

As I understand it from watching your video, this would be the case where you start with no cookies, then go to `google.co.uk` which sets a CID-related cookie for `google.co.uk` and generates a related CID for Google-Analytics.

Next, you visit `www.travelsupermarket.com` and the Google-Analytics code makes a request to `google.com` for

[2018-11-16 23:39] aghassemi commented on #19364
Also @Gregable @honeybadgerdontcare, have we never set `<base>` to origin during transformation? that's another solution for this, but I suspect there are reasons I don't see a `<base>`.

[2018-11-16 23:40] aghassemi commented on #19370
to @zhouyx
cc @torch2424

[2018-11-16 23:41] aghassemi commented on #19359
/cc @jeffjose

[2018-11-16 23:53] Gregable commented on #19364
Do we want the amp cache to use the publisher's URLs for img src rather than the AMP Cache?

[2018-11-16 23:56] Gregable commented on #19364
Also note that I don't think you can even rewrite this correctly in bind. The AMP Cache will rewrite all URLs to be absolute (and point to the amp cache as necessary in the case of images) while considering base tags. It then removes the base tag.

So, if the publisher origin page has a base tag, by the time the AMP Cache has run, the value of that tag has been removed and is unavailable to amp-bi

[2018-11-17 00:00] torch2424 commented on #19370
Thanks @aghassemi !

@ishaan381 Yes so we also noticed this issue, and actually just fixed it recently #19168 . Thus, should be in PROD within about 2 weeks 😄

Also, do you have an example we can test? Tends to happen when amp-bind is on the page and an element visibility is changed. Would be a good way for us to debug this issue if that is not the case.

[2018-11-17 00:02] aghassemi commented on #19364
Runtime knows the origin and we have utils to correctly resolve relative urls with origin as base, I was hoping to avoid that however since if `<base>` is present, relative Urls will be correctly resolved by the browser against the base, so no need for amp-bind to do anything (at least for `<img>` I am not sure if JS APIs like `fetch` honor presence of `<base>`, probably not...)

[2018-11-17 00:20] jeffjose commented on #19359
:tada: Thanks for the I2I. Looks like @torch2424 is reviewing your PR over at #19360.

Super excited to see Keen onboard!

[2018-11-17 00:31] aghassemi commented on #19364
@Gregable pointed out offline, we can tell cache what dimensions to generate an image for, so we could modify the new `src` to generate a pixel perfect size based on the current layout dimensions!

[2018-11-17 00:33] Gregable commented on #19364
And we could do this for all `<amp-img>`s, not just ones that are amp-bind'ed. I think this would be a really cool optimization.

[2018-11-17 00:38] ryanashcraft commented on #19160
Thanks all. @calebcordry, I just noticed https://github.com/ampproject/amphtml/pull/19102 - this would be extremely helpful. Any reservations using this new `useBody` feature for Amplitude? This would make nested the nature of our API much more natural and familiar to our customers:

[code]

vs

[code]

[2018-11-17 20:32] Publimix opened #19375 "Value of Input (text, button etc.) is not sent by event "tap""
Hello, please see the code bellow. Just tapping the button "myButton" should get its value to var "myVar" and then fill in the value of input "myInput".  But it only puts **null** in the "myInput". Am I doing something wrong? If yes, what is the solution to transfer the value from one element to another via AMPState using "TAP" event?

 `<amp-state id="tempo"><script type="application/json">{"test

[2018-11-18 01:12] andreyMakahov commented on #19205
We can change dynamic configuration without deploy. So, the SW issue can be fixed much faster. The 5 - 10 mins difference matters for us due to big amount of users.

We can use redeploy in such situations  temporary, but would be great if amp supports unregistering of SW.

[2018-11-19 03:35] leonalicious commented on #14060
@cathyxz good day there ! it has been a while since we last heard the update from you, any progress / assistance I may offer please?

[2018-11-19 04:58] vbarshai commented on #19124
Hi @jasti ! Super excited about AMP Story ads integrations, for someone with a DFP account, where is the best place to find documentation to add inventory to serve AMP Story ads from the inventory?

[2018-11-19 10:00] jfitzinger opened #19378 "I2I: Analytics Vendor Pinpoll"
[Pinpoll](https://pinpoll.com) would like to become an AMP Analytics vendor.

[2018-11-19 10:21] devignerforhire commented on #10230
Any suggestions on how to work around the amp-list height issue when the number of items changes (filter/search/paginating), switching views (grid/list) or viewport resize?

I'm pulling our wines and grapes posts from a custom endpoint using the WordPress rest api (https://winefolly.staging.wpengine.com/wp-json/api/v1/wines), formatted as a nested "items" array, as recommended in the amp docs, the

[2018-11-19 14:50] sebastianbenz opened #19379 "[amp-story] Thirds layout broken in Safari"
...see this page: https://ampbyexample.com/stories/features/layouts/#thirds

<img width="926" alt="screenshot 2018-11-19 at 15 48 29" src="https://user-images.githubusercontent.com/380472/48714275-a2d16b00-ec12-11e8-8b6f-a85ac6aaa22e.png">

Broken Desktop (Version 12.0.1 (14606.2.104.1.1)) & mobile Safari. Works in Chrome.

//cc @newmuis

[2018-11-19 16:51] newmuis commented on #19379
Duplicate of #13433

[2018-11-19 16:51] #19379 closed

[2018-11-19 16:55] zhangsu opened #19380 "Run v0.js in strict mode"
On this line:

https://github.com/ampproject/amphtml/blob/7731c43f2c7d01da647e31ccf61b85e773d8e4b7/src/error.js#L212

The first argument to `call` sets the `this` for the `onError` function, and in this case it is `undefined`. However, the function actually assumes that this is a `!Window` (for various checks such as whether to report the error to the viewer). Currently it always fail on this line

[2018-11-19 17:30] westonruter opened #19381 "Validator: Allow additional print-specific style similar to keyframes-specific style"
In the continual effort to keep CSS less than 50KB, one segment of the custom CSS has emerged as a candidate for removal: the print styles. When running CSS code coverage to try to identify which rules could be removed, I noticed (expectedly) none of the print styles would ever apply to the page as I tried various breakpoints.

In particular, [the print CSS](https://github.com/WordPress/twentynine

[2018-11-19 17:47] aghassemi commented on #19375
Hi @Publimix `input` exposes a `change` event where `event.value` is available. `tap` does not expose `event.value`, so you would need `on="change:AMP.setState({testVar:event.value})"`

p.s. other events exposed by `input` are `input-debounced` and `input-throttled`.

Hope this helps.

[2018-11-19 17:48] aghassemi commented on #19375
Closing per comment above, please feel free to reopen if it does not solve your issue.

[2018-11-19 17:48] #19375 closed

[2018-11-19 17:48] aghassemi commented on #19378
to @zhouyx @jeffjose

[2018-11-19 17:49] aghassemi commented on #19380
/to @jridgewell
/cc @erwinmombay

[2018-11-19 18:01] jeffjose commented on #19378
Thanks for the I2I @jfitzinger!

Incase you havent seen our integration guide, its over [here](https://www.ampproject.org/docs/analytics/integrating-analytics). Please dont hesitate to ping on thread if you have questions.

Looking forward to your PR!

[2018-11-19 18:09] rsimha commented on #19048
Assigning to @danielrozenberg who is working on a bundle-size app.

[2018-11-19 18:11] rsimha commented on #17120
Happy to work on some pieces of this.

[2018-11-19 18:13] rsimha commented on #15664
Closing since there's nothing left to do here.

[2018-11-19 18:13] #15664 closed

[2018-11-19 18:20] rsimha opened #19383 "Fix misleading error message about `gulp` during first time run of `yarn`"
When `yarn` is run for the first time while [setting up a new local clone](https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-quick.md#one-time-setup) of `ampproject/amphtml`, the package manager check at `build-system/check-package-manager.js` complains that it was not able to determine the local version of `gulp`.

The error message should not be printed when the `nod

[2018-11-19 18:37] #19181 closed

[2018-11-19 18:38] cathyxz commented on #17416
This has been done a while ago with `disable-double-tap`.

[2018-11-19 18:38] #17416 closed

[2018-11-19 18:56] jridgewell commented on #19380
AMP's code runs in sloppy mode, and in sloppy mode `.call(undefined)` is equivalent to `.call(window)`. We can make this more explicit by changing it to `.call(self)`.

I don't think there's actually an error here, which makes me curious why you're flagged it? Is there an error somewhere that you're not receiving?

[2018-11-19 18:59] ishaan381 commented on #19370
@torch2424 Thank you for the update!

Here's a page I was seeing an issue on: https://urldefense.proofpoint.com/v2/url?u=https-3A__www.cbssports.com_mlb_news_mlb-2Dmonday-2Dscores-2Dhighlights-2Dlive-2Dteam-2Dupdates-2Dnews-2Dreds-2Dindians-2Dsee-2Dwinning-2Dstreaks-2Dend_amp_-3FadTargeting-5Fcampaign-3Damphtml-5Ftest&d=DwMFaQ&c=RoP1YumCXCgaWHvlZYR8PZh8Bv7qIrMUB65eapI_JnE&r=-Pxv2eJzfBcKQ5u60M0LvYj

[2018-11-19 19:44] torch2424 commented on #19278
Hello!

So we got a response back from the IMA team. They said they will need more information to debug the issue. I also tried to reproduce this, using the steps you described, and everything worked fine. Thus I agree it may be a regional thing unfortunately.

Could you check / provide any errors that are logged to the Chrome Dev Tools Console? Or any failed requests when trying to get the Ad fro

[2018-11-19 19:45] rsimha commented on #18155
Update: Still waiting on Travis FR.

[2018-11-19 19:47] rsimha commented on #17793
This investigation can be done as a part of what @esthkim will be working on.

[2018-11-19 19:48] rsimha commented on #17829
@erwinmombay Will it be easy to turn on our bot that applies "In Canary" and "In Production" labels for the time being, while we investigate other fixes?

[2018-11-19 19:49] rsimha commented on #17518
What needs to be done here? Is it a special case flow for this component? Or a more general tooling fix?

[2018-11-19 19:49] zhouyx commented on #19370
@ishaan381 Thanks for the demo. The issue doesn't look like it is related to the fix, because `<amp-bind>` doesn't seem to be involved here.
From the page source, the element you're tracking is an ad? I couldn't find the visibility tracking config related to this specific element and I didn't see any remote config? Could you point me to the config you have?

To help us reproduce the issue, could y

[2018-11-19 19:51] rsimha commented on #16226
Seems like this is a runtime issue? (Please reassign if I'm wrong.)

[2018-11-19 19:51] rsimha commented on #16198
@esthkim is going to pick up this work.

[2018-11-19 19:52] newmuis commented on #17793
How would this fit in with the interactive visual diff testing that @danielrozenberg added in #15356?

[2018-11-19 19:53] rsimha commented on #15868
Closing this issue since it's obsolete. Most individual tracking bugs in https://github.com/ampproject/amphtml/issues/15868#issuecomment-395491076 are now fixed, and the remaining ones can stand on their own.

[2018-11-19 19:53] #15868 closed

[2018-11-19 20:33] Miguelslo27 commented on #19278
Hello again, nice to get news from you, even bad ones.

Here I will paste a shared video url I just recorded to show how it behaves when accessing from iOS (emulated from chrome), as you would see in the video, when I load the page from iOS, the pubads endpoint return in a empty VAST response.

I will paste here the headers and the request, I think is something from there.

[code]

Video
https://d

[2018-11-19 20:34] jpettitt opened #19385 "🌸 Cherry pick request for 19384 into 19302 (Approved)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue # N/A

amp-subscriptions fails to reset entitlements after a login using the local service. when the local

[2018-11-19 20:35] erwinmombay commented on #19385
cc @newmuis

[2018-11-19 20:52] dvoytenko commented on #19385
Approved.

[2018-11-19 21:29] jeffkaufman opened #19388 "I2I: amp-mraid"
## Background

With amp-inabox we have AMP ads on non-AMP pages, and mobile APP webviews are a special case of these.  These webviews commonly provide an API to things such as open external links or determine visibility status.  The most commonly available API is [MRAID](https://www.iab.com/wp-content/uploads/2017/07/MRAID_3.0_FINAL.pdf).

The amp-mraid component is intended to bridge AMP and MRAI

[2018-11-19 21:32] #19366 closed

[2018-11-19 22:05] estherkim commented on #18784
@rsimha @aghassemi Is it okay to change this from Chrome Canary to Chrome Dev? Reason being that Sauce Labs understandably doesn't support Chrome Canary (daily releases) but supports Chrome Dev (weekly releases).

[2018-11-19 22:07] rsimha commented on #18784
I see. Yes, running on Chrome dev will still work as an early-warning system for features that might break on Chrome.

[2018-11-19 22:09] rsimha commented on #18784
In addition, it would be nice for our existing Sauce labs configs to always target the latest stable version of Chrome. (We currently target specific version numbers, which can get old, and need manual updates.)

[2018-11-19 22:17] estherkim commented on #18784
Makes sense. Sauce Labs supports `version: latest` so I'll include that.

[2018-11-19 22:35] zhangsu commented on #19380
Uh, I didn't know AMP's code runs in sloppy mode. Thanks for clarifying.

I ran into this while using a `localhost` AMP server trying to simulate a non-user error (i.e., a bug in the AMP runtime) by putting a `dev().error()` somewhere in the runtime code. Then, a "Script error." gets thrown when executing `Services.ampdocServiceFor(win)` because `win` is `undefined`. This is because locally-built

[2018-11-19 23:10] jridgewell commented on #19380
Yah, let's do it.

[2018-11-19 23:14] torch2424 commented on #19278
Oh this is perfect! Thank you! I'll go ahead and forward this over to them 😄

[2018-11-19 23:29] torch2424 commented on #19278
So I tried some more testing to reproduce, as I thought maybe it was caused by a race condition on network speeds, and got the same results of not being able to reproduce on my end.

Also, I noticed in the video, the bug only happens at around 1:00, after that, it never happens again. Is this correct?

That being said, I'll still wait on the IMA team response and report back here.

[2018-11-20 00:03] calebcordry commented on #19160
@ryanashcraft I think you should go for it! (it looks like you might be the first to use this new feature, so happy to help along the way)

[2018-11-20 00:04] #18533 closed

[2018-11-20 00:08] torch2424 opened #19393 "amp-ima-video: Follow up Tracking Issue for New Features"
relates to #18954

* [x] show controls on hover (New Feature PR)
* [x] document the new `adLabel` in [reference docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ima-video/amp-ima-video.md), as well as state the default
* [x] Update AMP By Example

@curseagain feel free to take on as many of these as you would like, and feel free to reach out for help on any of them. Or if you

[2018-11-20 01:00] aghassemi commented on #18634
Legit use-case: https://www.kqed.org/science/1934405/see-the-camp-fire-smoke-from-space?linkId=100000004081074

Still don't like the fact that it messes up the scrolling but definitely a vertical slider makes more sense here than horizontal.

[2018-11-20 01:51] cathyxz commented on #9423
I'm going to close this issue in favor of https://github.com/ampproject/amphtml/issues/14060, which is effectively the same thing.

[2018-11-20 01:51] #9423 closed

[2018-11-20 02:45] jasti commented on #19124
@vbarshai glad to hear that! https://support.google.com/admanager/answer/9038178

[2018-11-20 04:20] Publimix commented on #19375
Thank you very much, Ali! It make sense, since `<input type="text" ... />` is for typing.

[2018-11-20 06:35] Publimix opened #19401 "Pre selected value in AMP-list"
Is it possible to have a pre selected value in AMP list? Let's say that the third option should be selected by default when data is retrieved from JSON and the options in the select box are shown (without user interaction)?

Since amp-bind does not evaluate expressions on page load, you cannot use a solution like [selected]="..."

`<select>
<amp-list width="auto"  height="100"  layout="fixed-heigh

[2018-11-20 06:45] justforfun commented on #19019
I'm sorry but I keep on failing to intercept the expected events such as subscriptions-action-subscribe-rejected. This is the analytics code snippet I'm using:
`<amp-analytics>
        <script type="application/json"> {
            "requests":{

                "host": "https://www.facebook.com",
                "base": "${host}/tr?noscript=1",
                "ViewPaywall" : "${base}&ev=ViewPaywa

[2018-11-20 07:48] jaswrks commented on #13471
This is great news. Is there a ballpark release date? Couple of months, couple of years?

[2018-11-20 11:01] slocka opened #19402 "Broken validator: the tag 'amp-skimlinks' is disallowed."
## What's the issue?

`amp-skimlinks` tag is not allowed anymore by the validator.

`amp-skimlinks` was released last week and was considered valid by the validator until today or yesterday. It is now considered as invalid.

## How do we reproduce the issue?

https://validator.ampproject.org/ validator is showing an error "The tag 'amp-skimlinks' is disallowed."  when using  `<amp-skimlinks></amp-

[2018-11-20 11:46] francesconatali opened #19403 "amp-sticky-ad wrong height"
## What's the issue?

When using a responsive ad-unit (Adsense) with **amp-sticky-ad**, the latter remains always 100px high (its maximum) even on small mobile screen (e.g. iPhone SE).

On small mobile screen, ad-units are 50px high. So what happens is a small ad-unit (50px high) inside a large sticky-ad (100px high). Not only it looks wrong, but also on small mobile screen 100px is just too high,

[2018-11-20 12:55] Miguelslo27 commented on #19278
Hi @torch2424

After the first time the bug happen, where the Ad doesnt reproduce and the video freezes, a minute after (if you refresh the page) the video does not freezes again, but the Ad still does not work, in fact the Ad never reproduces on iOS, at least on my end it doesnt

I will keep tuned for AMP and your feedback :)
Thanks again

[2018-11-20 13:38] spinmar commented on #19060
I'm discussing about this problem also in Google amp forum (Peter):

[https://productforums.google.com/forum/#!msg/webmasters/PLxvgtvS-pw/FCpa7I5kAwAJ](url)

What is not clear is that it is a bug of amp-live-list.js or a Google amp cache problem.
Maybe if some developers could reply....

[2018-11-20 15:37] ow commented on #18624
Hey! I'm really investing in this right now as a part of a new product. Is there any interest in implementation? Can I help guide this in any way or provide feedback?

[2018-11-20 16:09] slocka commented on #19402
I am not familiar with the release process of the `validator.js` but I noticed that all the following releases seem to have the exact same code for`validator.js` despite some changes happening in the validator:
https://cdn.ampproject.org/rtv/001811132019350/v0/validator.js
https://cdn.ampproject.org/rtv/001811091519050/v0/validator.js
https://cdn.ampproject.org/rtv/001811091510240/v0/validator.js

[2018-11-20 16:32] newmuis commented on #12786
There are two problems we're seeing currently:

1. **Media on the first page the user is on does not play.**
There is nothing that we can do about this directly.  When the device is in low-power mode, media playback requires a user gesture.  We will need to introduce a new user experience that explicitly asks the user to perform a user gesture in the case that we detect that playback has failed.

[2018-11-20 16:50] alin04 commented on #19402
@jridgewell for more context. The last JS validator deployment was done Nov 13. Justin, any chance the brotli process changed things?

[2018-11-20 17:00] honeybadgerdontcare commented on #19402
@slocka 	when a 	`layout` isn't specified, `container` is the default and `container` is not allowed for `amp-skimlinks`. The only allowed layout is 	`nodisplay`. Is there another issue you're facing with `amp-skimlinks`?

[2018-11-20 17:02] honeybadgerdontcare commented on #19402
Closing as this is expected behavior. If there is another issue then please let us know. The AMP validator is not released at the same time of code commit nor Runtime release.

[2018-11-20 17:05] Gregable commented on #19402
I think you are seeing a cached copy of the validator @honeybadgerdontcare

[2018-11-20 17:09] slocka commented on #19402
@honeybadgerdontcare
Sorry, I pasted the minimum code which raises an error. The same error happens when using:
[code]
There is defintely something wrong with the validator, any reference to "amp-skimlinks" has disappeared from the source code of `validator.js`. (I personally checked and it was there few days ago)

Could you please re-open the issue? This is impacting us and our publishers quite b

[2018-11-20 17:47] slocka commented on #19402
Thanks @Gregable. Some publishers have removed our extension from their site after seeing the error. Can you confirm that it's safe for our publishers to put the extension back even though https://validator.ampproject.org/ and other validation tools are raising errors?

I noticed that https://search.google.com/test/amp doesn't seem to raise any error and considers pages with`amp-skimlinks` extensi

[2018-11-20 17:57] Gregable commented on #19402
Yes, it is safe to add this extension.

[2018-11-20 17:59] honeybadgerdontcare commented on #19402
Note that search.google.com/test/amp should be giving the same result as validator.ampproject.org and that should never change. This is an unfortunate situation where the two diverge temporarily and will be fixed soon.

[2018-11-20 18:05] cathyxz commented on #14060
Hi @leonalicious !
The target launch date for this is going to be mid January. The main challenges remaining here are:
1. Building out enough examples to get a good coverage of potential use cases.
2. Handling loading state / end state / load failed states with the proper UI affordances (there's some debugging and UX tweaking still in progress here).
3. Checking compatibility (or at least non-brea

[2018-11-20 18:07] #19383 closed

[2018-11-20 18:12] honeybadgerdontcare commented on #19402
According to validator.ampproject.org this is now fixed. Please let me know if you're seeing any additional issues.

[2018-11-20 18:12] #19402 closed

[2018-11-20 18:35] aghassemi commented on #19269
@lannka This came up in the context of the A4A where it is higher priority to fix this. Are you planning to have a different resource manager in A4A given there is no scrolling?

[2018-11-20 18:40] erwinmombay opened #19408 "prepend-config should use magic-string instead of normal cat"
magic-string has the ability to update the source map files so it is better than a normal cat

[2018-11-20 18:44] slocka commented on #19402
@honeybadgerdontcare It seems to be fixed on the live validator 👍. However, when turning on the devchannel, the same issue is still happening on validator.ampproject.org. I am worried that this issue comes back next release. Has the root of the issue been identified and fixed?

[2018-11-20 18:57] Miguelslo27 commented on #19278
Very glad to hear that, taht's the light at the end of the tunel we need :D haha.

I will check with the DFP guys to get this fixed, and I will get back to you with the good news.

Thank you so mutch for the help, really appreciated.
Mike

[2018-11-20 19:02] ryanashcraft commented on #19160
@calebcordry Awesome. I’ll play aorund with it. I did notice that variable substitution wasn’t working as I expected - it’s not doing any substitution. Should this work?

[code]

[2018-11-20 19:02] torch2424 commented on #19278
@Miguelslo27

You are welcome! I'll go ahead and close this issue. If they say it is on our end at some point, feel free to mention me, and we can re-open.

Have a nice day, and good luck! 😄

[2018-11-20 19:02] #19278 closed

[2018-11-20 19:17] erwinmombay commented on #19408
https://github.com/Rich-Harris/magic-string

[2018-11-20 20:10] camdunne opened #19411 "amp-analytics: iframe transport not loading"
## What's the issue?

For MOAT amp-analytics config, Sometimes the iframe transport does not load even though the creative is fully loaded and is 100% in view.

## How do we reproduce the issue?

Steps to recreate issue:

1.  if you scroll past ad with out stopping, the iframe (https://z.moatads.com/ampanalytics093284/iframe.html) most likely will not load. seen on mobile and desktop for chrome an

[2018-11-20 20:58] calebcordry commented on #19160
@ryanashcraft We do not currently support macro resolution outside of the first level. I would imagine that as `useBody` becomes more popular this will be a more common feature request. I will think through how we might do this and discuss it with the team. cc/ @jeffjose

[2018-11-20 21:04] Marcial1234 commented on #19408
Hey @erwinmombay, do you have any more documentation/requirements on this?

[2018-11-20 21:18] ryanashcraft commented on #19160
@calebcordry Hmm I think that will be a blocker to us adopting this approach. For what it’s worth, we’d just need it support two levels of depth, or one level deep within certain top-level fields (e.g. all fields within `event_properties`). If you all think it’s possible to support and can recommend an approach, I’d be happy to help!

[2018-11-20 21:21] cathyxz commented on #10230
We're working on a `changeToLayoutContainer` action and a `is-layout-container` attribute per #19184. It'll be experimentally gated under `amp-list-resizable-children`. Basically this will allow you to trigger a change to layout container on user interaction.

[2018-11-20 22:13] slocka commented on #19402
@honeybadgerdontcare I confirm that the issue is still happening when devchannel is on, I tried in two different laptops, in incognito mode. Caching might be the reason why you don't see it. Here is how to reproduce the issue:

1 - Open a new incognito window.
2 - Go to https://cdn.ampproject.org/experiments.html
3 - Turn dev-channel experiment to "On"
4 - Go to https://validator.ampproject.org/
5

[2018-11-20 22:14] gmajoulet commented on #12786
I've been playing with this today, and even if `blessAll` performance as a low-priority task at the end of the page navigation code is fine, it doesn't fix the bug...
Our current `bless` operation unmutes and mutes back the media elements.
I updated it to also play and then pause back the media, hoping it'd work as a "play bless", but... the video still doesn't play after a auto-advance :(

I coul

[2018-11-20 22:50] Gregable commented on #19402
I can confirm this isn't working on devchannel. Investigating.

[2018-11-20 22:55] newmuis commented on #12786
@gmajoulet, out of curiosity, does the bless with a `play()` call fix the bug if done in the first step of the navigation?

[2018-11-20 23:10] Marcial1234 commented on #19408
Will ping tomorrow for a quick walk thru.

Need to know:
- Which `gulp` trigger calls the code inside `single-pass`. Code exported as part of `tasks/index.js`, but I lose track after.
- Attempted a to create a base html for testing but got the errors below. will expand on later
  - `Uncaught Error: Unrecognized method: undefined`
  - `document-register-element.patched.js:1235 Uncaught (in promise)

[2018-11-20 23:17] gmajoulet commented on #12786
Wow, you're right, moving the bless in the first step of the navigation does work. Even with the BlessTask we have right now, without the `play()`.

[2018-11-20 23:34] calebcordry commented on #19160
@ryanashcraft Thanks for the offer. The code that handles this logic lives here https://github.com/ampproject/amphtml/blob/ef1c5950bd607a5d441818a74c1baa10cece94ab/extensions/amp-analytics/0.1/requests.js#L343-L365

You can see that right now we are checking that the `typeof value === 'string'` you could maybe reconstruct this so that it would keep going  recursively for objects. There are also tw

[2018-11-20 23:45] erwinmombay commented on #19408
Which gulp trigger calls the code inside single-pass. Code exported as part of tasks/index.js, but I lose track after.

- `gulp dist --single_pass` is the command to run single pass

Any way to test more than one JS at the time? So far the ones I build with gulp dist don't have source map issues.

- hmm that's interesting, it should always generate source maps (.js.map files)

feel free to ping me

[2018-11-20 23:48] newmuis commented on #12786
Okay.  My theory is that the fact that the latter steps of `switchTo_` are deferred is throwing it off, i.e. the browser doesn't think that code is being executed in response to a user gesture.

[2018-11-21 04:38] newmuis commented on #19385
This has been cherry-picked into [1811202351440](https://github.com/ampproject/amphtml/releases/tag/1811202351440).

[2018-11-21 04:38] #19385 closed

[2018-11-21 04:52] newmuis commented on #18624
@ow It's definitely on the list, and tentatively seems like something we can get to early on in the new year.  If you're willing to help contribute code, that would be a wonderful addition, but I also certainly understand that's not for everyone.

[2018-11-21 05:45] KENNYSOFT opened #19420 "<amp-mathml> only supports block mode"
## What's the issue?

`<amp-mathml>` only supports block mode, which is in `\[ ... \]` or `$$ ... $$` form. ASCIImath with \` delimiters only produces non-block mode `div` and `\( ... \)` form also, so it needs to be changed with handling `inline` attribute. (The difference with `\[ ... \]` and `\( ... \)` is not only the block mode but also the display style especially for fractions and etc.) Sug

[2018-11-21 05:46] KENNYSOFT commented on #17038
Maybe this is related to that `<amp-mathml>` doesn't support the non-block mode. \` delimiters are used in ASCIImath, with the non-block mode. See #19420 for more information.

[2018-11-21 05:51] KENNYSOFT commented on #19420
Wanna mention @adamsilverstein :smile:

[2018-11-21 07:31] kevinhq commented on #4555
In case anyone still struggling with 50k CSS size, whether you like it or not, you need to follow the rule ( at least for now ), here I wrote a use case [how to reduce CSS to be under 50k for AMP](https://kevinhq.com/how-i-reduce-css-size-under-50kb-for-amp.html)

[2018-11-21 08:38] AcidRaZor commented on #5225
Do we still have no meaningful way to go back to the previous page? The concern with point 2.b in the feedback of the feedback is how browsers *currently* function. So a normal user, hitting the back button like a crazy person, would get to the home/empty tab screen regardless if they were using an amp button to tap or their phone or their mouse.

From a UX standpoint, it is quite fundamental to g

[2018-11-21 09:22] dennyak47 opened #19421 "sidebar component produces error in console"
## What's the issue?

I use side bar and toggle it, in the first time no problem. But I toggle it again, i can show an error in the chrome console, it says:

Inline styles with `top`, `bottom` and other CSS rules are not supported yet for fixed or sticky elements (#14186). Unexpected behavior may occur.

I inspect the sideBar element and found:
`<amp-sidebar id="sidebar1" layout="nodisplay" side="

[2018-11-21 10:30] TWsky commented on #18634
Update another use-case here which my partner are just asking for it
![Uploading Screen Shot 2018-11-21 at 5.58.35 PM.png…]()
([origin design page](http://design.sugarfun.com.tw/illuma/website/demo.html?page=mobile&id=1-6))

Guessing it won't be released in the near sprint, so I've thought of a work-around with using a div to wrapper the whole amp-image-slider, and make that div do the rotation.

[2018-11-21 11:23] devignerforhire commented on #10230
Thanks for the reply @cathyxz :)

I read through #19184 and it sounds like this would address the height issues we're having.

I went ahead and added the AMP Experiment meta tag for _amp-list-resizable-children_, then added the is-layout-container attribute to my amp-list and finally the changeToLayoutContainer to my search input, like so:

https://gist.github.com/devignerforhire/0330af8ee33399590

[2018-11-21 12:15] SHAVERMA93 opened #19422 "How can I call external css and js in AMP pages"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-11-21 15:48] newmuis opened #19423 "Set default UI for amp-sidebar within amp-story"
Currently, `<amp-sidebar>` components within `<amp-story>` have a default gray background color, a non-standard animation, and can be of any width.

Ideally, we would want to default the background color to white, and enforce a specific width and opening/closing animation.

Part of #16532

[2018-11-21 16:05] aghassemi commented on #19422
@SHAVERMA93 AMP does not support external CSS files, you would need to inline them inside a `<style amp-custom>` using a CSS processor that works with your backend stack. Please see https://www.ampproject.org/docs/design/responsive/style_pages for some options and help.

[2018-11-21 16:05] #19422 closed

[2018-11-21 16:08] aghassemi commented on #18634
@TWsky can't think a good workaround, really needs to be in the component itself.

@nainar I think P1/P2 makes sense for this since component is new (so in post-launch support mode) and use-cases for this has come up.

[2018-11-21 17:59] jeffjose commented on #19160
This is great discussion. Thank you both!

@ryanashcraft - Do you think you can take a first crack at this? We can start with limiting it to 2 levels, and look to relax it later if there's more usecases we need to support.

Jeff

[2018-11-21 18:30] cathyxz commented on #10230
The PR is not yet merged. It will probably make the next canary cut and land in production in approximately two weeks.

[2018-11-21 18:30] torch2424 commented on #19420
Going to triage to @aghassemi , as I don't know what this would fall under 😂 Feel free to re assign 😄

[2018-11-21 18:31] newmuis commented on #12786
@gmajoulet found that putting the bless in the critical path is too slow, so we can try to attempt this by trying to resolve point (1) from [my comment above](https://github.com/ampproject/amphtml/issues/12786#issuecomment-440338183), ensuring that we bless all videos in the pool.

We need to verify that blessing with a `play()` call will actually allow autoplay videos on auto-advance pages.

[2018-11-21 18:32] torch2424 commented on #19421
Assigning to @choumx as it seems this was introduced by your PR. I noticed this as well in some of my work, so a quick explanation on why this is, I think can resolve this. Thanks!

[2018-11-21 18:34] torch2424 commented on #19388
cc @zhouyx @lannka (When you are back from vacation 😄 )

[2018-11-21 18:39] gmajoulet commented on #12786
Blessing with `mediaEl.muted = true; mediaEl.muted = false` is actually enough to autoplay videos on auto advance in this context.
(please disregard my previous message, I'll edit it to make this thread less confusing)

[2018-11-21 18:52] newmuis opened #19427 "Allow using amp-timeago and amp-date-countdown in stories"
`amp-timeago` and `amp-date-countdown` work fine in stories without any changes.  They can be added to [the list of allowed descendants for amp-story-grid-layer](https://github.com/ampproject/amphtml/blob/df2c3190326ffce4dc1fb84a5bc139460ce0d291/extensions/amp-story/validator-amp-story.protoascii#L537-L626) and [the list of allowed descendants for amp-story-cta-layer](https://github.com/ampproject

[2018-11-21 18:59] cathyxz commented on #19401
=)

[2018-11-21 20:30] cathyxz commented on #18376
We can close this now that `auto-resize` has been rolled back and `changeToLayoutContainer` has been changed to an action and bindable attribute, gated under experiment `amp-list-resizable-children`.

[2018-11-21 20:30] #18376 closed

[2018-11-21 20:40] cathyxz commented on #10462
Let's track this via the master issue for infinite scroll here:  #14060

[2018-11-21 20:51] cathyxz commented on #12669
I think this is solved by https://github.com/ampproject/amphtml/pull/18820:

[code]

Aside from layout container, there shouldn't be any layout where the placeholder ends up adding space to the `amp-list`, since it should just be sized to fit 100% of the amp-list, which will control its own size.

[2018-11-21 21:07] zhouyx commented on #19160
I would like to point out a few things here.

- Two levels of nested object sounds reasonable to me when the object is appended to body. But we want to make sure that the solution also works with image request or when `useBody` value is `false. There're also the case of batching and parentPostMessage that we need to take into consideration.

- If we support nested `extraUrlParams` we will also nee

[2018-11-21 21:21] newmuis opened #19428 "Tooltip overlay should only show previous/next arrow if navigation in that direction is possible"
If on the first page of a story, we should not show the previous arrow in the tooltip overlay.
If on the last page of a story, we should not show the next arrow in the tooltip overlay.

[2018-11-21 21:52] erwinmombay commented on #17829
@rsimha yes

[2018-11-21 21:59] cvlahakis opened #19429 "Node js amphtml-validator not catching validation issue"
## What's the issue?
There seems to be an edge case with amp-sidebar validation that's not caught by amphtml-validator but is caught by Google's production AMP validation system. The impact was a large number of AMP pages being deemed invalid.

We use amphtml-validator in our pipeline and it was green. The alert we got via email contained:
`‘Wrong parent AMP tag 'div' of tag 'amp-sidebar'’`

## Ho

[2018-11-21 22:37] #19252 closed

[2018-11-21 22:42] zhouyx commented on #19252
🎉 Thank you @torch2424 for the quick fix! Manually verified the error logs were gone after the fix.

[2018-11-22 00:53] aghassemi commented on #19420
@KENNYSOFT Thanks for debugging and proposing a solution. It seems good to me. @adamsilverstein thoughts?

@KENNYSOFT if you don't mind, I suggest testing your solution a bit more and sending a PR for the fix. That would be very much appreciated.

Thanks

[2018-11-22 01:16] aghassemi commented on #5225
Hi @AcidRaZor We have `AMP.goBack()` action already supported. It works with both normal navigations and `amp-bind's AMP.pushState()`. Sorry for not updating this ticket when that feature was added.

[2018-11-22 01:18] aghassemi commented on #5225
Closing the issue as `AMP.goBack` action has been already implemented.

[2018-11-22 01:57] KENNYSOFT commented on #19420
@aghassemi Absolutely. I will do some fix with tests, and I think that `inline` attribute could be deleted also. Thanks for confirming. 👍

[2018-11-22 04:38] SHAVERMA93 commented on #19422
thank you but what about the js?

On Wed, Nov 21, 2018 at 9:35 PM Ali Ghassemi <notifications@github.com>
wrote:

[2018-11-22 04:47] aghassemi commented on #19422
No JS is allowed in AMP, external or inline. Please see 'amp-bind' as it provide a light way of programming in AMP pages

[2018-11-22 05:42] ChintanPalan opened #19431 "AMP-STORY : Page ID change freezes the story totally!"
## What's the issue?

AMP Story saves the last visited page id while visiting the story, if it cannot find the page on reload due to some reasons, then it should start from first page instead of just freezing the whole functionality.

## How do we reproduce the issue?
It is a fairly easy issue to reproduce, I wonder how has this been out for such long, To be precise we are facing this issue from t

[2018-11-22 06:32] opam22 opened #19432 "Return 403 invalid pem key, tried using same public & private key on different domain and it works."
## What's the issue?

Always return 403 invalid pem key whenever I try to update-cache. I tried using the same public & private key on different domain and it works.

I already following the docs to set the public key to be accessible at https://id.techinasia.com/.well-known/amphtml/apikey.pub with text/plain as content-type.

I have PHP script for generating update-cache url

`<?php
function urls

[2018-11-22 07:33] devignerforhire commented on #10230
Ok cool :) I'm looking forward to testing it out once it's released. In the meantime I removed the grid/list toggle and set the api call to show all posts, that way we don't need the pagination and can push the update. Thanks again for your input and your contributions to AMP :)

[2018-11-22 07:36] aghassemi commented on #19420
Thanks @KENNYSOFT! Regarding deleting `inline`, it would be a backward-incompatible change, so would need to leave it as is.

[2018-11-22 07:45] KENNYSOFT commented on #19420
@aghassemi Oh, I see. Thanks for comment!

[2018-11-22 10:40] SHAVERMA93 commented on #19422
if i am using bootstrap.js or jquery.js  so it is possible to call a page?

And also i am using bootstrap.css or font awsome, It's possible to call?

On Thu, Nov 22, 2018 at 10:17 AM Ali Ghassemi <notifications@github.com>
wrote:

[2018-11-22 12:21] usecdn opened #19433 "why error the amp-iframe?"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-11-22 14:21] egianco73 opened #19434 "amp-experiment doesn't work in PWA mode"
Hi we have an issue with
[code]
when an AMP document is injected via
[code]
in a Progressive Web App.

Within AMP document we have configured:
**1)** the library:
[code]
**2)** the json configuration, like this:
[code]

**3)** we are using the runtime variable VARIANTS

**The problem we noticed:**

once an amp page using amp-experiment is injected in the shadow dom
the variable VARIANTS isn't reso

[2018-11-22 16:17] danieltxok opened #19435 "amp-action-macro: Conditional invocation based on amp-state"
To perform actions after listening to events only under certain conditions is a very common use case. To help improve the amp-bind component I would like to suggest the following:

The ability to listen to events and perform actions with the _on_ attribute but **only if a condition is met** (e.g. only if a variable in the state has a certain value). It would be something like this:
`<select on="my

[2018-11-23 07:52] sebastianbenz commented on #18995
Friendly ping. This is also needed in other cases, see this [thread on SO](https://stackoverflow.com/questions/53433903/implementing-cookies-on-a-dismissible-slide-in-panel-with-amp).

[2018-11-23 10:03] KENNYSOFT commented on #19420
#19436 Have no idea why ci in PR fails 😭

[2018-11-23 16:15] taacton commented on #19139
Hello guys,

I'm having this exact problem on this site too: https://www.freundin.de/beauty-foehn-im-test?amp&google_preview=vQ8hGQ9h31MY1Ifb3wUw1KOQ5wWIAYCAgKDbkYXoCw&iu=40748507&gdfp_req=1&lineItemId=4870567891&creativeId=138251967304

Again, $sf is not defined within the Google safeFrame.

Could someone see if there's any similarities causing the issue?

Thanks!

[2018-11-24 09:45] Publimix opened #19438 "Options not rendered inside AMP-list"
What is the solution to populate a `<select>` elements with `<option>` from `<amp-list>` and have the selected value sent to the `$_POST` variable? See the two situations below:

**1. CASE ONE:**
If the `<select>` element is INSIDE the `<amp-list>`, the options are shown, but the value of the selected option will not be transmitted in $_POST variable:

`<form id="myF" method="post" action-xhr="URL