[2017-05-03 21:27] lannka commented on #9108
@pdufour thanks for reporting. This is a publisher mis-configuration. Unfortunately it's hard for AMP runtime to detect the 1st error case because the config block can just be very late parsed by the browser, that we can't know its existence early enough.

One thing we could possibly try is check such an error when documentReady event is received. However, I felt this might be out of scope of AMP

[2017-05-03 22:06] jasti commented on #8694
Closing for now since this has been open for a week. Please feel free to reopen if you have more details.

[2017-05-03 22:06] #8694 closed

[2017-05-03 22:11] #9084 closed

[2017-05-03 22:18] jasti commented on #6676
@keithwrightbos can this be prioritized? We'd want to get to solving any P1s within a week.

[2017-05-03 22:18] muxin opened #9125 "Amp-analytics Failed to execute 'matches' on 'Element'"
[code]
Failed at https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/analytics-root.js#L443

When the selector is not valid in amp-analytics, the above error occurs. It seems it should be handled in the catch block as user error but somehow it reported as dev error.

Sample url: https://biggo-com-tw.cdn.ampproject.org/v/s/biggo.com.tw/a/%E8%9D%B6%E8%B1%86%E8%8A%B1+%E7%A8

[2017-05-03 22:19] muxin commented on #9125
@dvoytenko Could you help take a look?

[2017-05-03 22:20] zhouyx opened #9126 "Investigate race condition on custom-element stubbing"
Once data collected, follow up on #9123
cc @dvoytenko

[2017-05-03 22:24] jridgewell commented on #9125
https://github.com/ampproject/amphtml/issues/8917.

[2017-05-03 22:24] #9125 closed

[2017-05-03 22:31] muxin commented on #8917
Also appears as error
[code]
in Android Chrome
See https://github.com/ampproject/amphtml/issues/9125

[2017-05-03 22:53] aghassemi opened #9128 "amp-bind: Update history & page URLs"
A few use-cases have been brought up that require interaction with browser history and url. I am creating this issue to discuss possible approaches that ideally can handle all these needs.

Most requirements are around remembering search/filter/pagination/sort state so that
1. User can navigate back/forward between different states of the UI (e.g. in a paginated list) using browser's back/forward

[2017-05-03 22:54] aghassemi commented on #9113
@imparvez Most AMP pages are served from AMP cache meaning there is no server-side hit on page load.

[2017-05-03 22:55] aghassemi commented on #9113
Created https://github.com/ampproject/amphtml/issues/9128 to discuss history and url sharing problems.

[2017-05-03 23:12] adelinamart commented on #1316
@cramforce what are the latest updates here? Thanks

[2017-05-03 23:16] jasti opened #9129 "Enhance amp-animation for CSS animations parity and beyond"
Master tracker issue - ITI and subtasks to be filed by @dvoytenko
Details: https://docs.google.com/presentation/d/1z-a6Hxy3XIjRCAb4ExuFTe3AsLUsRRBezGyU3cVvwC0/edit#

Items:

- [x] selector support
- [x] multiple target support
- [x] full CSS syntax for timing
- [x] introduce `var()` and `calc()`
- [ ] sub-targets
- [x] `rand`
- [x] `width` and `height`
- [x] full API
- [x] animation composition
-

[2017-05-03 23:17] #8917 closed

[2017-05-03 23:18] adelinamart commented on #3402
@camelburrito is this still a bug?Thanks

[2017-05-03 23:22] adelinamart commented on #8668
I do not see a request here, so I'll close this issue.

[2017-05-03 23:22] #8668 closed

[2017-05-03 23:23] camelburrito commented on #3402
i think @muxin solved this again -
@muxin can you test on FB webview and close?

[2017-05-03 23:24] adelinamart commented on #8688
Please reopen if the issue continues. Thanks.

[2017-05-03 23:24] #8688 closed

[2017-05-03 23:26] adelinamart commented on #8733
@rudygalfi can you answer this one. Thanks.

[2017-05-03 23:31] zhouyx commented on #9123
I merged #9127
@muxin Please cherry pick. Thanks!

[2017-05-03 23:32] #9123 closed

[2017-05-03 23:34] adelinamart commented on #1156
Any updates here?

[2017-05-03 23:36] adelinamart commented on #1213
@erwinmombay @mrjoro to provide updates here. Thanks

[2017-05-03 23:37] adelinamart commented on #1252
@dvoytenko are we planning to prioritize this anytime soon?Thanks

[2017-05-03 23:37] adelinamart commented on #1353
Any updates here?Thanks

[2017-05-03 23:50] lannka opened #9131 "Saucelab tests are not running on latest browser versions"
According to [Saucelab's documentation](https://wiki.saucelabs.com/display/DOCS/Test+Configuration+Options#TestConfigurationOptions-BrowserName.1), it's easy to fix.

To back up our word on [supported browsers](https://www.ampproject.org/support/faqs/supported-platforms), we should put `latest-1` for each major browsers.

[2017-05-04 00:01] aghassemi commented on #8901
`amp-filter` https://github.com/ampproject/amphtml/issues/9113 (20-30 mins)
`embed-only features in AMP` https://github.com/ampproject/amphtml/issues/8971#issuecomment-298449336 (5-10 mins)

[2017-05-04 00:07] lannka opened #9132 "detectJsEngineFromStack test failed on FF 53"
[code]

[2017-05-04 00:32] taymonbeal commented on #6676
I think PR #9040 is going to fix this.

[2017-05-04 06:56] bjalford commented on #7364
This has now been committed to master.

[2017-05-04 10:28] TimLohmann commented on #8941
@zhouyx
Yes, you are right. amp-ad receives a class i-amphtml-layout-size-defined which has the css statement `overflow:hidden !important;`

In my test I was able to overwrite it with giving the amp-ad an id-attribute and setting `overflow:visible !important;` to that id.

I don't know if this breaks any amp rules and should be avoided. In this case I would be happy if you can clarify this.

So my

[2017-05-04 11:56] niutech opened #9135 "Allow referencing AMP pages using Link response header"
This was previously published as a comment in issue #498 and in the [AMP HTML discussion forum](https://groups.google.com/d/topic/amphtml-discuss/dooT9czqJ1I/discussion):

Please allow users to reference AMP pages not only using `<link href="..." rel="amphtml">` HTML tags, but also using the `Link: <....>; rel="amphtml"` response header (as in RFC 5988), and please add this to the AMP spec.

The r

[2017-05-04 14:00] gilbox opened #9136 "FR/Bug: amp-state should not be required by amp-bind"
## What's the issue?

If you use `amp-bind` without `amp-state` you get the error

... but this is a silly requirement since it's legit to use `amp-bind` without `amp-state`, we do that [here](https://www.airbnb.com/amp/s/sf), for example.

Currently we work around the error by including an empty `amp-state`

## What browsers are affected?

tested on chrome

## Which AMP version is affected?

[2017-05-04 14:12] bpaduch commented on #8085
@zhouyx, @dvoytenko, @jridgewell

Can you all clarify what is to be documented?

1) Is it the `overflowCallback` method?  If so, where should this be documented?  Do people who create custom elements expect to call that method, under what circumstances, etc.
2) Is it the `overflow` element?  If so, for what and where? Does it need to be clarified in [Ad resizing](https://github.com/ampproject/amph

[2017-05-04 14:14] eike-hass opened #9137 "amp-carousel: type=slides in iOS homescreen mode jitters"
The amp-carousel `type="slides"` seems to jitter when opend in "homescreen"-mode on iOS devices.

## How do we reproduce the issue?
1.Navigate to https://ampbyexample.com/components/amp-carousel/ with a iOS device
2. Add page to homescreen
3. Open page via homescreen
4. Notice the amp-carousel `type="slides"` example jitter on swipe

## What browsers are affected?

sofar iOS 9.2, 10.3.1

## Which

[2017-05-04 14:55] bpaduch commented on #7807
Already documented in new PWA Guide - https://www.ampproject.org/docs/guides/pwa-amp/amp-in-pwa#use-the-shadow-amp-api-to-render-a-page-inline

[2017-05-04 14:55] #7807 closed

[2017-05-04 15:05] shimonenator commented on #4154
@aghassemi wanted to add that CBS would also be interested in adapting `<amp-video-iframe>` and the video interface.

[2017-05-04 16:00] aghassemi commented on #9137
Thanks @eike-hass. Setting as duplicate of https://github.com/ampproject/amphtml/issues/8553
@camelburrito

[2017-05-04 16:01] aghassemi commented on #9136
/to @choumx

[2017-05-04 16:45] tlong2 opened #9140 "Remove need for <amp-auto-ads> tag in the body"
Currently to use amp-auto-ads a publisher has to place a `<script>` tag in the `<head>` as well as an `<amp-auto-ads>` tag in the body.

It would make the set up simpler if this could be reduced to a single snippet that has to be copied into the `<head>`. We propose to achieve this by allowing the setup data to be specified as follows:

`<script id="amp-auto-ads" type="application/json">{"client":

[2017-05-04 16:49] jridgewell commented on #8085
Just the `overflow` element, `#overflowCallback` is an internal API. It should be mentioned for ads and iframes. You're example sounds perfect to me.

[2017-05-04 17:01] honeybadgerdontcare commented on #9108
@Gregable thoughts?

[2017-05-04 17:20] aghassemi commented on #4154
/cc @ericlindley-g setting to P2

[2017-05-04 17:34] zhouyx commented on #8941
@TimLohmann `!important` will make the page an invalid AMP page. Please refer to [doc](https://www.ampproject.org/docs/guides/responsive/style_pages)

[2017-05-04 17:40] aghassemi opened #9142 "amp-ima-video: does not support more than one per page"
Currently we can not have more than one `amp-ima-video` per page.

[2017-05-04 17:41] jridgewell commented on #9108
I'm more worried about the second report. First one should be handled by validator.

[2017-05-04 17:43] lannka commented on #9108
@jridgewell we already print errors for the 2nd case.

[2017-05-04 17:46] jridgewell commented on #9108
From the report, we the analytics never fire. That's a problem, it should error and report with the un-replaced URL.

[2017-05-04 17:55] aghassemi opened #9143 "Support multiple custom elements per extension"
Support space separated list in `custom-element`

Maybe either:
[code]
or a new attribute `custom-elements`
[code]

Although this is currently somewhat possible (an extension can register multiple tags and they _mostly_ work) it breaks in a few places:
1. Runtime looks at `custom-element` and only stubs what it finds there.
2. Validator uses `custom-element` for warnings (e.g. you are using `<amp-

[2017-05-04 17:56] choumx opened #9145 "amp-bind: Integration test for amp-state[src] cycle"
Add integration test to avoid cycles due to `amp-state[src]` mutations (#8948).

[2017-05-04 18:17] choumx commented on #9136
@gilbox Thanks for the report!

[2017-05-04 18:20] #9132 closed

[2017-05-04 18:53] lannka opened #9149 "Unblock next ad load on current ad iframe onload event"
We right now limit ad loading to 1 per second (code [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/concurrent-load.js)), though the original intention was to only load one ad a time.

We can listen to ad iframe onload event to unblock the next ad load.

Will start it with an experiment and make sure if does not degrade user experience metrics introduced in #7789.

[2017-05-04 19:05] jridgewell commented on #9149
The issue is that the outer frame's onload event does not mean the actual ad has loaded.

[2017-05-04 19:35] #7364 closed

[2017-05-04 19:36] jridgewell commented on #9135
/to @Gregable, @dvoytenko

[2017-05-04 19:39] kmh287 commented on #8810
@aghassemi Can you think of anything else covered by this issue that should be fixed?

[2017-05-04 19:40] lannka commented on #9149
In most cases onload event reflect the ad resources load. @dvoytenko had a chat with ads folks the other day, and the feeling is that the assumption is almost always true.

A typical 3p implementation looks like below:
1. frame.html load, our integration.js calls 3p code.
1. 3p code typically writes a 3p external js to the dom.
1. once the 3p js gets loaded, it writes another nested iframe which l

[2017-05-04 20:23] aghassemi commented on #8810
@kmh287 added couple more I found to description (accordion and social-share). Most places use `<button>` which is fine.

[2017-05-04 20:47] #9136 closed

[2017-05-04 20:50] lannka commented on #7500
The metrics and experiment infrastructure is already set up: #7789. We can start to tweak params and run experiment.

Right now, the voluntary delay is from 2 rules:

1. maximum one ad load per second
1. no ad load in the first 2 seconds of page visible

We can loosen constraint 1), detailed plan here: #9149.
For 2, this is a default setting of AMP resource scheduling. It was introduced as a penal

[2017-05-04 20:50] honeybadgerdontcare commented on #9136
The code fix is checked in but will take two to three weeks to reach production.

[2017-05-04 20:58] taymonbeal opened #9151 "test-amp-ad-network-doubleclick-impl.js fails when run by itself"
We seem to once again have a non-hermeticity problem.

Log:
[code]

cc @ampproject/a4a

[2017-05-04 21:13] keithwrightbos opened #9153 "Fast Fetch allow AMP creatives to remain after pause in viewer"
Current Fast Fetch, AMP creatives are destroyed when a user swipes between pages in the viewer.  Presumably this is to ensure that custom JS within creatives cannot execute when a user is not viewing the page.  AMP creatives do not allow for custom JS and therefore any of their custom pings (amp-pixel or amp-analytics) already ensure they cannot fire when in the "prerender" state.  Leaving the cre

[2017-05-04 22:30] choumx opened #9154 "Web worker (ww.js) can't be canary-ed"
- Cross-origin web workers are not natively supported yet, and workaround requires fetching JS as text and creating worker via blob URL.
- Can't send credentials (experiments cookie) with XHR due to CORS. Specifically, if sending credentials then cache's `Access-Control-Allow-Origin` is value must not be wildcard (`*`).

Some options:
- Figure out the current RTV and fetch that instead.
- Ask cach

[2017-05-04 23:16] taymonbeal opened #9155 "More comprehensive documentation of AMP lifecycle methods"
In the wake of #9066, it's clear that we need a better understanding of the API contracts offered by the AMP lifecycle methods. In particular, it'd be nice to have documentation of all the ordering guarantees: which methods can be called before, during, and after which other methods?

[2017-05-04 23:24] #8853 closed

[2017-05-05 01:07] dvoytenko commented on #1156
@powdercloud Would like to hear about webworker experimentation.

[2017-05-05 01:08] dvoytenko commented on #1252
This sounds useful, but I still see it as a p3.

[2017-05-05 01:21] dvoytenko commented on #9140
This sounds like a reasonable enhancement.

Few very quick tech pointers:

1. The amp-auto-ads will have to be set up as a doc service (`AMP.registerServiceForDoc`).
2. Lookup for the `script` element will have to be chained on `ampdoc.whenBodyAvailable()` to ensure that the whole `<head></head>` is parsed.
3. I still think ideally we'd support both forms.
4. This happens automatically for element

[2017-05-05 02:06] #8948 closed

[2017-05-05 04:22] #5756 closed

[2017-05-05 07:30] hindsc52 opened #9157 "AMP social-share opens a blank window/tab"
## What's the issue?
We are just looking into implementing the amp-social-share component, this looks pretty fitting for our needs however, I have noticed that wen using some of the share tools i.e. Whatsapp, email etc on a non mobile device that blank windows/tabs open when clicking the share icon.  We are soon to be redirecting users from the canonical page to the AMP version of that page and th

[2017-05-05 08:31] TimLohmann commented on #8941
@zhouyx
Thank you for pointing me to the specific rule!

@topic
In this case there will be no quick solution without altering some code. May be it is possible to add an attribute to amp-ad which contains the text for the specific advertisment-label which will be positioned above the amp-ad?

In Germany such labels are necessary for identifying ads to the users. I think many websites (inlcuding NY

[2017-05-05 12:31] ktmn commented on #6104
Any ETA for being able to use multiple sidebars?

[2017-05-05 14:16] bpaduch opened #9161 "ampproject.org stylesheet is too long - fails AMP validation"
On the main page - https://www.ampproject.org/, the page fails AMP Validation with the following error: **The author stylesheet specified in tag 'style amp-custom' is too long - we saw 53675 bytes whereas the limit is 50000 bytes.**

We need to trim our CSS.

[2017-05-05 14:17] bpaduch commented on #9161
Closing issue - I logged in wrong place.

[2017-05-05 14:17] #9161 closed

[2017-05-05 14:51] dakkad opened #9162 "AMP Call Tracking Error Not Reported"
During testing of the AMP call tracking https://www.ampproject.org/docs/reference/components/amp-call-tracking the module does not report errors but does not function.

Go to URL: https://amp-demo-landing-page.appspot.com/static/amp-page.html#development=1

The call tracking component does not substitute the phone number provided but does not report errors on the console.

Sebastian Benz was able

[2017-05-05 14:55] keithwrightbos commented on #9153
@dvoytenko @jridgewell @lannka:

General thoughts?

Is it safe to assume that AMP analytics events (e.g. visibility, ini-load) and amp-pixel for delayed impressions will not fire again once met on the original page render?  In other words, for a slot on the page the fired the amp-pixel or amp-analytics, if the user swipes away, we do not remove the creative or amp-analytics within unlayoutCallback

[2017-05-05 15:10] taymonbeal opened #9163 "Consider some kind of dependency injection"
Our (by which I mean A4A's) tests currently rely heavily on Sinon fakes of classes like `Xhr`. These tend to be fragile; a change to the internals of Fast Fetch (where it started calling `fetchJson` instead of `fetch`) meant rewriting all the tests to use new fakes. Also, some kinds of objects (like top-level functions and objects) are difficult or impossible to fake in this way. All of this makes

[2017-05-05 15:11] #6856 closed

[2017-05-05 15:23] bradfrizzell commented on #9163
+1

[2017-05-05 15:44] taymonbeal opened #9164 "Test doubles for the AMP lifecycle"
Currently, our (A4A's) tests generally work by manually calling the AMP lifecycle methods of our components. Sometimes we get the invariants wrong. It would be a lot better if we had some kind of AMP test fixture that allowed us to create components of a specified type (and know what type they'd be; we've had a lot of difficulties with native elements where custom elements were expected) and to mo

[2017-05-05 15:59] dvoytenko commented on #7500
It's fine to experiment with this numbers. Let's just make sure we get the right comparison. What numbers (besides `perceivedContentDelay`) will we look at? I assume "bad frame probability" and `perceivedContentDelay[priority < 2]`?

[2017-05-05 16:07] aghassemi commented on #5286
from @taymonbeal in https://github.com/ampproject/amphtml/issues/9163

[2017-05-05 16:07] aghassemi commented on #9163
Dup of https://github.com/ampproject/amphtml/issues/5286 added your comments there.

[2017-05-05 16:07] #9163 closed

[2017-05-05 16:07] aghassemi commented on #5286
/cc @rsimha-amp

[2017-05-05 16:09] dvoytenko commented on #9149
So, whether or not iframe.onload roughly equal to the actual work done is a subject of a big debate with ads. But I'm finding out is that this is true more often than not.

But I do wonder why isn't regular scheduling enough? Do we have that high of a probability that several ads would load at the same time?

[2017-05-05 16:10] dvoytenko commented on #9143
SGTM

[2017-05-05 16:14] choumx commented on #5286
Re: #9163, @dvoytenko tackled a similar problem for globals like `window` via `describes.js`, which allows callers to use real or fake objects in `fake-dom.js`. It may suffice to have shared fake objects for commonly used services like `Xhr` + helper methods for easier stubbing.

IMO we can have better testability in dynamic languages without introducing dependency injection.

[2017-05-05 16:18] dvoytenko commented on #9135
Overall, `Link` header is a standard thing. I believe some of AMP crawlers out have to use it already, since they often restitch such headers back into crawled html for passing it around. While it's a nice optimization, I'm not sure we can require `Link` header in all cases since it'd be a somewhat higher barrier comparing to the `<link>` in HTML.

/cc @alf7

[2017-05-05 16:21] #9131 closed

[2017-05-05 16:28] aghassemi commented on #5286
@choumx Globals are easier to mock since they are not `import x from y`. Totally agree that we don't want actual dependency injection in JS, but for testing we need some tooling help. For example if you are testing `foo.js` and `foo.js` does `import bar from 'bar.js'` and you want to mock `bar`, some tooling is required to rewrite the `import` to the mock version of `bar`.

[2017-05-05 16:30] honeybadgerdontcare commented on #9143
Just throwing this out there for comment:

Should it be a new attribute since it is multiple? e.g. `custom-elements` instead of `custom-element`.

If an extension defines multiple custom elements, should the default be that all custom elements exist on the page? e.g. in amp-bind that wouldn't be the case since amp-state is not required, but maybe the default should be that it is.

[2017-05-05 16:32] ericlindley-g commented on #9143
@aghassemi Looks interesting — is the benefit here just that it is less code, or does this enable new functionality as well?

[2017-05-05 16:40] #7921 closed

[2017-05-05 17:05] taymonbeal commented on #5286
The other half of the problem is a need for stable interfaces that can be used as stub targets. E.g., if I'm faking `Xhr` in my test, then I ought to be able to write something that covers the "core" of what `Xhr` does (e.g., the part that makes the actual network request) and expect all the helper methods to still work. Otherwise you have the aforementioned problem where a refactor that changes `

[2017-05-05 17:20] bpaduch commented on #8692
Docs corrected at https://developers.google.com/analytics/devguides/collection/amp-analytics/.

[2017-05-05 17:20] #8692 closed

[2017-05-05 17:39] ericlindley-g opened #9168 "Support opt-out for native app banners in amp-app-banner"
Passing on this request from developers to opt out of the native banner, and instead show custom UI for amp-app-banner in all contexts (including Safari on iOS and Chrome on Android).

Not sure what this would look like in practice (stripping meta tags at runtime after getting the relevant data?), but wanted to track this request either way.

/cc @muxin @aghassemi

[2017-05-05 17:40] jridgewell commented on #9153
The page should never go back into prerender state after it's initially shown, so this isn't an issue. The reason we unload all the iframes is because they're really expensive resources, especially if they have JS running inside.

If A4A can't have iframes, then it should definitely not be unloading during pause.

[2017-05-05 17:47] aghassemi commented on #9143
@honeybadgerdontcare sure. Updated description to include your suggestion. I think default should be `one of` rather than `all`. `amp-filter` is also similar to `amp-bind` and not all of its components need be present.

@ericlindley-g Mostly perf benefit when multiple related components need to be loaded on the page. For instance
[code]
would cause three mostly identical JS files to load and get p

[2017-05-05 17:54] aghassemi commented on #3320
@camelburrito why not leave it up to the developers to decide if they want multiple open-sidebars or not?

If they want sidebar1 to close when sidebar2 is opened, it's a simple `on="tap:sidebar1.close, sidebar2.open`

Opening sidebar2 from sidebar1 without closing sidebar1 can enable interesting use-cases as well For example it allows "sheet" like hierarchal navigation where a link in sidebar1 ope

[2017-05-05 17:58] #6104 closed

[2017-05-05 17:58] aghassemi commented on #6104
This is fixed. Please allow 3-4 weeks for changes to show up in production.

[2017-05-05 17:59] #8085 closed

[2017-05-05 18:01] taymonbeal commented on #5286
Also, the idea of this being a Babel plugin makes me nervous. It seems desirable to be able to compile tests in Closure, to debug issues that manifest differently there, or to run the tests uncompiled once browsers support that. Could this happen at the AMP service level instead? What determines whether something is a services?

[2017-05-05 18:16] aghassemi commented on #5286
yeah whatever we do here needs to work with closure as well. We run compiled tests. Mocking a service (similar to mocking globals) is a simpler problem and may not need the generic `ability to mock any deep dependency` part. @dvoytenko

[2017-05-05 18:21] aghassemi opened #9170 "amp-app-banner: detect `navigateTo` capability of the viewer before showing it on iOS"
with https://github.com/ampproject/amphtml/pull/8291 we now expect viewer to support `navigateTo` so we can properly make `amp-app-banner` work in iOS embed case.

Not all viewers support `navigateTo` yet however, so we need to feature detect and not show the `app-banner` in iOS embed case if viewer does not support `navigateTo` (otherwise banner shows up and user tapping it does nothing which is

[2017-05-05 18:39] jridgewell commented on #9157
I believe this was done because certain mobile browsers do not support opening the app using self links... But maybe it was just to keep the user on the page?

[2017-05-05 18:41] jridgewell commented on #9143
This sounds like a lot of work for publisher devs to do. Why can't we just bake it in that `amp-filter` provides multiple elements?

[2017-05-05 18:50] jridgewell commented on #9162
We should probably make it clear that this XHR was initiated from `<amp-call-tracking>`.

"Important - Your XHR endpoint needs to follow and implement [CORS Requests in AMP spec](../../spec/amp-cors-requests.md)."

Are you reading the GitHub markdown, or the ampproject rendered docs? The GitHub markdown is definitely muddled because of our callout code. /cc @bpaduch

[2017-05-05 18:52] dvoytenko commented on #9143
Comparing to the current state, this is about the same amount of work for a publisher.

Generally, this depends on the component. Some components can indeed register elements directly (and do so today). It depends on whether the element needs to be stubbed. So, the line I'd currently draw is whether or not the element is inherently displayable. If not - we can forgo stubbing if we do so carefully.

[2017-05-05 18:53] #4752 closed

[2017-05-05 18:56] dvoytenko commented on #9153
I agree. I think we can forgo unloaded fie a4a.

[2017-05-05 18:56] jridgewell commented on #9143
What I mean is the ideal is to have `custom-element="amp-filter"` and nothing else. Custom element is the wrong terminology here, it should be `custom-extension` (or something else, not not tied to "element").

I'd be annoyed having to modify my include script just to enable `amp-filter-condition`, I've already included the extension. "(Publisher personality) Why the hell isn't AMP smart enough to

[2017-05-05 18:57] dvoytenko commented on #9153
Another reason for unload, btw, is that we need to force-pause any playing videos and audios. With FIE A4A, we execute pause against all known resources. So this is already done.

[2017-05-05 18:59] dvoytenko commented on #9143
Not sure about `amp-filter-condition`. At the start, AMP has no idea what extensions might be registered. So we lookup `script[custom-element]` and stuff whatever is defined in the `custom-element`. This way we can get away w/o a big dictionary of all extensions and sub-elements. We can certainly change this somewhat, especially for rare cases.

[2017-05-05 19:02] aghassemi commented on #9157
Correct. iOS has complicated rules for what the target needs be. For instance, for `mailto:` iOS only works if target is `_top` even `_blank` doesn't work in that case.

If we allow override for `_self` we would need to restrict it to only certain platforms.
/cc @ericlindley-g

[2017-05-05 19:02] jridgewell commented on #9143
That's what I'm asking for. AMP should be smart enough to know `amp-filter` means `amp-filter-condition` can now be on the page and not require the pub to do it.

For single elements, the current is fine. But as we get these multi-elements, we should have a dictionary in runtime.

[2017-05-05 19:13] aghassemi commented on #9143
@jridgewell I agree your solution is ideal, but that dictionary would need to exist in multiple places (which is fine) as `validator` and `cache` also care about it:

- Validator warnings: e.g. "you are including script for extension `amp-x` but no tag for `amp-x` present in doc"
- Cache optimization: e.g. "remove script for extension `amp-x` when no tag for `amp-x` present in doc"

[2017-05-05 19:23] honeybadgerdontcare commented on #9143
@aghassemi FYI We are probably going to change the extensionspec that the validator uses to include things like this and have the cache be made aware of it from the validator protoascii files. The first item will be what scripts are render blocking but there's potential for more uses.

[2017-05-05 19:51] #8713 closed

[2017-05-05 19:55] #9154 closed

[2017-05-05 21:03] erwinmombay commented on #8906
@gustavopaes thanks so much for that. currently out of town but will prioritize this asap!

[2017-05-05 21:17] zhouyx commented on #8941
cc @jasti

[2017-05-05 21:30] taymonbeal commented on #5286
To be clear, we do need the ability to mock some things that aren't currently implemented as services, and that in some cases are specific to a particular extension. (Example: The Fast Fetch signing service registry.) If making those things mockable requires them to be ported to the service framework, then we can do that, but I'd like to understand whether that's a good idea, hence my question abo

[2017-05-05 21:59] cvializ opened #9174 "Cleanup "amp-form-verifiers" experiment"

[2017-05-05 22:24] dvoytenko commented on #8963
Appears to go down a lot. Downgrading and will recheck on next sprint.

[2017-05-05 22:38] dvoytenko opened #9177 "Error: null is not an object (evaluating 'a.__AMP_TOP')"
A typical stack is:
[code]

It appears it fails to request `vsync` service for an element because `element.ownerDocument.defaultView` is not available. A most likely cause is the race condition b/w browser's iframe cleanup and resources cleanup in AMP.

[2017-05-05 22:45] dvoytenko opened #9178 "Pantheon lost error stacks"
For instance, see p/2126860046192464866

Both "Parsed" and "Raw" stacks are not available. However, when I expand the first error report, I clearly see the stack in the "Report location" field:
[code]

So, either Pantheon fails for some reason, or we are not feeding error stacks in correctly.

Please investigate ASAP. This is blocking PROD monitoring.

See [error.js](https://github.com/ampproject/

[2017-05-05 22:46] cvializ commented on #8736
https://docs.google.com/document/d/1px778s_qe11kVQVOpK3Fu-RprnsCf5LXs098Qeh2Xx4/edit

[2017-05-05 22:50] jridgewell commented on #9178
Is this because of `SHORT`?

[2017-05-05 23:34] dvoytenko commented on #9178
Definitely possible. We need to find out and possibly compensate for it in our error transformer, such as cutting down to the nearest `\n`. Or we can also re-order arguments in the ping to avoid stack being cut. But the best option might be to beacon/post error if it's too big to be sent in GET.

[2017-05-05 23:36] zhouyx commented on #6169
close by #9042

[2017-05-05 23:36] #6169 closed

[2017-05-05 23:38] lannka commented on #8930
It's not firefox only. It ties with browsers does not support IntersectionObserver.

In browser missing IntersectionObserver, amp4ads-v0.js tries to communicate with parent window to get iframe position, which failed in this case because the ad is rendered in top window.

So this is working as intended.

@andrejoblakceltra what's the use case that you will render the ad in top domain?

[2017-05-05 23:39] muxin opened #9180 "Validate amp-app-banner url in ios"
Validate the `app-argument` inside `<meta name="apple-itunes-app" ... >`

[2017-05-05 23:58] aghassemi commented on #9180
@muxin are you thinking runtime or validator?

[2017-05-06 00:02] aghassemi commented on #9155
Is the close enough? https://github.com/ampproject/amphtml/blob/master/src/base-element.js#L27

[2017-05-06 00:03] muxin commented on #9180
runtime

[2017-05-06 01:30] dvoytenko commented on #8965
Reopening since the test is still fully skipped. Please either remove or unskip.

[2017-05-06 01:32] dvoytenko opened #9184 "Cleanup closed TODOs for videos"
TODO(aghassemi, #5306) in /Users/dvoytenko/DNI/amphtml/css/amp.css
TODO(aghassemi, #4780) in /Users/dvoytenko/DNI/amphtml/src/service/video-manager-impl.js

[2017-05-06 01:33] dvoytenko opened #9185 "Cleanup closed TODOs for resources/elements/ads"
TODO(jridgewell, #4826) in /Users/dvoytenko/DNI/amphtml/src/custom-element.js
TODO(jridgewell, #5803) in /Users/dvoytenko/DNI/amphtml/src/service/resource.js
TODO(jridgewell, #5980, #8218) in /Users/dvoytenko/DNI/amphtml/extensions/amp-ad/0.1/amp-ad.js

[2017-05-06 02:10] aghassemi commented on #9184
I have a feeling you made an automated script to detect these?!  :)

[2017-05-06 02:34] dvoytenko opened #9186 "Cleanup closed TODOs related to in-a-box"
TODO(lannka, #3449) in /Users/dvoytenko/DNI/amphtml/src/url.js
TODO(lannka, #6213) in /Users/dvoytenko/DNI/amphtml/src/service/viewport-impl.js

[2017-05-06 02:35] dvoytenko opened #9187 "Cleanup closed TODOs for live list"
TODO(erwinm, #3332) in /Users/dvoytenko/DNI/amphtml/extensions/amp-live-list/0.1/amp-live-list.js

[2017-05-06 02:35] dvoytenko commented on #9184
https://github.com/ampproject/amphtml/pull/9182

[2017-05-06 04:41] NoahWilcox commented on #2273
Thought I'd throw a vote in for this.

[2017-05-06 06:53] Traveller198 opened #9188 "Experiment "amp-bind" is disabled."
When i tried using amp state it throws error that 'amp-bind' is disabled.Can anyone help me.Thnaks.

[2017-05-06 15:58] aghassemi commented on #9188
Hi @Traveller198
`amp-bind` is an experimental feature and needs to be enabled before it works. You can do so by running `AMP.toggleExperiment('amp-bind')` on Browser Developer console. See https://www.ampproject.org/docs/reference/experimental for details about experimental features.

You can also signup for amp-bind origin trial for your site here: https://amphtml.wordpress.com/2017/04/19/test-a

[2017-05-06 15:58] #9188 closed

[2017-05-06 16:47] aghassemi commented on #9143
@honeybadgerdontcare this means we can completely get rid of `custom-element` right? If we keep a mapping of ([tags] -> 'extension') in the spec, we can, at build time, generate a JS config to include the the map so runtime's problem is solved ( we might even be able to find a way for runtime to not need this map, maybe by using `:unresolved` selector ).

[2017-05-06 17:31] honeybadgerdontcare commented on #9143
@aghassemi Yeah I don't think we'd need `custom-element` if it's in the protoascii and the runtime doesn't need it.

@Gregable fyi

[2017-05-08 00:39] mrjoro opened #9198 "Weekly Status 2017-05-08"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-05-08 00:39] #9058 closed

[2017-05-08 06:07] milesthedisch opened #9200 "developing amp-a"

[2017-05-08 06:07] #9200 closed

[2017-05-08 06:08] milesthedisch opened #9201 "No way of developing amp-ads locally using srcdoc"

[2017-05-08 06:08] #9201 closed

[2017-05-08 06:31] milesthedisch commented on #6694
Hey @cramforce excuse my ignorance but Is it possible to add a `amp-ad` that supports srcdoc's? This would be particularly useful for developers like myself to test and debug amp-ad's. I understand there are security implementations for production environments and 3p ad scripts, but the workflow to get a amp-ad's working on a local build is quite indirect compared to the "old" way of appending a s

[2017-05-08 06:34] littleMissAnstrengend opened #9202 "moderation of Facebook comments"
## What's the issue?

I like to use the Facebook comments integration but without the possibility to use also moderate function i am not able to use it because we have no control about the comments on our website.
To use this function i need to connect my app id with the comments.

## How do we reproduce the issue?

Without AMP you would the comments functions like this:

Integrate the SDK in body

[2017-05-08 07:25] andrejoblakceltra commented on #8930
@lannka so if I understand correctly, this will work properly if ad is embedded in `amp-ad` tag?

In general it should not be rendered outside of `amp-ad` tag, we only render it in top domain for internal testing purposes.

[2017-05-08 12:27] pratham2003 commented on #3586
I'm experiencing a similar problem as @juliantoledo but mine is only related to pre-expanded accordions.

Directly opening the article doesn't reproduce this issue : https://www.bijlibachao.com/top-ten-appliances/best-air-conditioner-ac-window-split-hitachi-lg-carrier-samsung-electricity-consumption-tonnage-in-india.html?isamp=1

Link with the issue : https://www.google.co.in/amp/s/www.bijlibachao

[2017-05-08 13:11] eduardogoncalves commented on #9202
Here it's working:
Powered by AMP ⚡ HTML – Version 1493855940942 https://www.testesmegadivertidos.com.br/teste/23_megasena-quais-sao-meus-numeros-da-sorte-na-mega-sena.html

![Imgur](http://i.imgur.com/NbrigLt.png)

[2017-05-08 13:35] littleMissAnstrengend commented on #9202
And how you implemented it?

[2017-05-08 15:16] #7946 closed

[2017-05-08 16:39] kmh287 commented on #9198
- Working on origin trials #8944
- Working on accessibility of `amp-accordion` #9204
- Working on eliminating the two distinct "flavors" of amp-state #8897

[2017-05-08 16:57] aghassemi commented on #9198
- `amp-filter` design, demo and prototype ( #9113 )
- scroll-bound AMP animation draft PR (experimental) ( #9194 )

[2017-05-08 16:59] ericlindley-g commented on #3586
@aghassemi, with @camelburrito OOO do you know if anyone is taking a look at this? Thanks!

[2017-05-08 17:09] cpacifico opened #9206 "AMP PHP Contact Form Don't Redirect"
I have HTML form in AMP, with POST action; PHP file for emails use Sendgrid API. I was try headers response for Json redirect, but, don't works.

For this reason i applied JavaScript redirect (yes, i know, this generate error for AMP validation, but i need redirect to thanks page for track online conversions).

PHP file works fine, all emails are send it's, but whithout JavaScript redirect, only w

[2017-05-08 17:14] camelburrito commented on #3586
@ericlindley-g
This should have been fixed long ago.  Are we prioritizing this now?
@pratham2003
Img seem to be loading now (on page load) on the same url, is there are specific browser/os config that we should look at

[2017-05-08 17:15] camelburrito commented on #3586
<img width="496" alt="screen shot 2017-05-08 at 10 11 36 am" src="https://cloud.githubusercontent.com/assets/1037311/25815896/2d9a928e-33d7-11e7-97d9-a709b727d68b.png">

[2017-05-08 17:26] choumx commented on #9198
- Avoid update cycles with `amp-state[src]` (#9104)
- Allow web worker to be canary-ed (#9172)
- Other `amp-bind` bugs (#9057, #9136)

[2017-05-08 17:27] pratham2003 commented on #3586
@camelburrito I'm not sure why its working now. Earlier it wasn't. The images used to appear only when I changed the orientation of the browser earlier (resize event as described in the original issue above).

Few hours ago the issue occurred in my phone's chrome browser + chrome desktop emulating a Galaxy S5.

[2017-05-08 17:27] bpaduch commented on #9198
- New guide on [Responsive Design with AMP](https://www.ampproject.org/docs/guides/responsive/responsive_design) published
- Adding embedded samples to docs: Example: [amp-img](https://www.ampproject.org/docs/reference/components/amp-img)

[2017-05-08 17:32] pratham2003 commented on #3586
Oh actually wait, I just tried something and have the steps to reproduce. It only happens when opening the article from a google result.

1) Google search for 'bijlibachao top inverter ACs'
2) Click on the 1st result (the article mentioned earlier should open)
3) Scroll down, issue should be visible

[2017-05-08 17:34] dvoytenko commented on #9198
* Working on safe URL substitution
* Working on animation improvements

[2017-05-08 17:36] dvoytenko commented on #9143
We can only remove `custom-element` and `custom-template` by (a) increasing the size of main binary, (b) doing more parsing in JS URLs to extract extension names.

[2017-05-08 17:37] mrjoro commented on #9198
* updated docs for new release schedule (#9092)

[2017-05-08 17:41] camelburrito commented on #3586
I was able to repro the issue as @pratham2003 said above.

One additional info - reload the viewer and the image loads.

This looks like a viewer/scheduling issue.

CC - @ericfs @chenshay @jridgewell

[2017-05-08 17:47] jridgewell commented on #3586
Let's open a new bug report.

[2017-05-08 17:49] jridgewell commented on #9198
- AMP layers
- Ensure errors are writable https://github.com/ampproject/amphtml/pull/9046
- Updated JS engine detection https://github.com/ampproject/amphtml/pull/9134

[2017-05-08 17:58] ericlindley-g commented on #7672
Note: Replicable for amp-sidebar as well, so raising priority on this

[2017-05-08 17:58] ericlindley-g commented on #7672
/cc @camelburrito

[2017-05-08 18:01] muxin commented on #9198
- Work on lightbox viewer 2.0: lightbox caption
- On duty

[2017-05-08 18:03] jridgewell commented on #8976
We have a second request for this #9206.

[2017-05-08 18:04] jridgewell commented on #9206
Hi @cpacifico: Looks like you're requesting a way to change the URL after user interaction. We have a request for just that in #8976, so I'm going to close this as a duplicate. Please feel free to comment in the other request.

[2017-05-08 18:04] #9206 closed

[2017-05-08 18:06] derekcecillewis commented on #9198
### Docs
Last week:
 - Fixed breadcrumbs breakage ([#461](https://github.com/ampproject/docs/pull/461))
 - Survived finals week

### amp-sort ([#8691](https://github.com/ampproject/amphtml/issues/8691))
This week:
 - Link up with @aghassemi for briefing and discussion
 - Hopefully commit empty component skeleton

[2017-05-08 18:07] muxin commented on #9180
Adding it to current sprint since it's trivial to implement

[2017-05-08 18:13] muxin commented on #8739
Closed via https://github.com/ampproject/amphtml/pull/8865

[2017-05-08 18:13] #8739 closed

[2017-05-08 18:17] muxin commented on #9030
The last try doesn't work, reverted (disabled) in https://github.com/ampproject/amphtml/pull/9089

[2017-05-08 18:18] zhouyx commented on #9198
- amp-sticky-ad force upgrade
- Small fixes to the gulp server change

[2017-05-08 18:18] #8900 closed

[2017-05-08 19:23] zhouyx opened #9208 "Position Observer Improvement"
Tracker issue to improve positionObserver and support PositionObserver for AMP Inabox in non AMP host.
- [x] Enable communication between AMP Inabox and AMP host (#10867)
- [x] AMP host send position data to inabox (#10987)
- [x] Inabox pull position data from AMP host (#11017)
- [x] Introduced Viewport method to get latest clientRect position async (#11148)
- [x] Make PosOb work transparently acr

[2017-05-08 19:48] kschmidtdev opened #9209 "Intent to Implement Mobify Analytics as vendor to amp-analytics"

[2017-05-08 20:49] Gregable commented on #9135
We definitely couldn't require a link header, because it wouldn't be backward compatible and would be difficult to implement for many sites.

It could be optional and take precedence, but then useragents would thus still need to download the document body, or make two requests (first a HEAD request, followed by a GET request if a link header is missing). I doubt that this pattern would offer a sav

[2017-05-08 20:52] Gregable commented on #8875
You are essentially requesting that an internal intermediate format be valid by amp, but this is not the format that will be sent as an AMP document. This doesn't make much sense, please make the replacements before validating.

[2017-05-08 20:52] #8875 closed

[2017-05-08 23:29] aghassemi opened #9216 "amp-video-ima: imaVideo.js can not import from video-interface due to type check failing"
[code]

when compiling 3p

[2017-05-08 23:41] #9016 closed

[2017-05-08 23:41] #8183 closed

[2017-05-09 00:14] aghassemi commented on #5284
`amp-app-banner` should also use this component.

[2017-05-09 00:26] niutech commented on #9135
Provided that AMP Cache servers add these Link headers based on the
<link> tags, it should be enough to perform HEAD requests to
*.cdn.ampproject.org for AMP links.

[2017-05-09 00:56] milesthedisch commented on #6829
@Iannka Whats the status on this feature? Would love to use AmpContext ATM.

[2017-05-09 00:56] milesthedisch commented on #8239
@alanorozco Can we start using AmpContext ATM? Sorry was tracking this https://github.com/ampproject/amphtml/issues/6829 but then got lost in the github label mayhem...

[2017-05-09 00:58] lannka commented on #6829
@milesthedisch what is your use case?

[2017-05-09 01:10] #9044 closed

[2017-05-09 03:42] tassawarr opened #9220 "AMP DIV BLOCKS / SECTIONS"
AMP Sections/blocks could be a revolution in amp project. Like in bootstrap we use `<section></section>` tag . So i want to contribute to the `<amp sections >` .

[2017-05-09 03:44] tassawarr commented on #9220
@aghassemi I need your assistance about it.

[2017-05-09 04:20] aghassemi commented on #9220
@tassawarr could you please provide more details on what you have in mind? Is #7972 similar to you idea?

[2017-05-09 04:46] aghassemi commented on #3586
@camelburrito @jridgewell I think this is just a race, not related to viewer.
One possible race condition is:
1- amp-accordion.js loads, CSS is injected, hides everything in accordion.
2- runtime does a pass (it does not layout image inside accordion since it is hidden)
3- accordion's `buildCallback` is called, adds 'i-amphtml-accordion-header' now all of a sudden things are visible but too late f

[2017-05-09 04:51] camelburrito commented on #3586
CC @dvoytenko

[2017-05-09 05:57] tassawarr commented on #7972
`<amp sec>` / `<amp section>` may easy to use and it may easy to use and easy to understand . Rather then that we may use the bootstrap css according to this one.

[2017-05-09 06:14] tassawarr commented on #7972
@aghassemi layout seems to be the whole layout of the page. `<section>` may refer them in the best to understand and code. Rather then that it has a good understanding too using in css .
What if we use

[code]

or we may clasify them as
[code]
Which is easy to use, compelling and with an understanding nature. We're here to make amp easier and tend load faster then simple html.

[code]

[2017-05-09 06:29] tassawarr commented on #7972
`<amp layout> </amp layout>` Seems to the main div like body or something like that in the beginning to end. We can think to classify them as below

`<div class="MAIN"></div>`

# SUGGESTIONS .

##  MAIN DIV START
`<amp layout> `

##  1st Section With Columns STARTS
[code]
##  1st Section END

##  2nd Section With Columns  STARTS
[code]
##  2nd Section ENDS

`</amp layout>`
##  MAIN DIV END

[2017-05-09 09:14] pratham2003 commented on #3586
Just an update : We've temporarily switched to a CSS based accordion instead. We can switch back to the amp-accordion when its fixed to test.

[2017-05-09 10:30] erykpiast commented on #1939
@cramforce What is the motivation behind the requirement to specify image size ALWAYS in EVERY case? I can image situations when it makes perfect sense but also many others when it doesn't at all.

Suppose you have container with of dynamic but known size, let's say its width and height they both are 1/3 of the viewport (so we have sort of "responsive squares"). Let's say there is one image displa

[2017-05-09 11:31] tassawarr commented on #9220
all i want to you see my idea (suggestion) and add the tag to amp html for the users to evaluate what their design :+1:  . My idea is about to have `sections` , `cards` and `columns` in `amp html` . Like the bootstrap has. Also i want to become the member of this organization too.

[2017-05-09 12:28] eduardogoncalves commented on #9202
Hi, are you already using [amp-facebook-comments](https://github.com/ampproject/amphtml/blob/master/extensions/amp-facebook-comments/amp-facebook-comments.md)?

I just have the **meta fb:app_id** in the `head`:
`<meta property="fb:app_id" content="1666669130310338"/>`
and load amp extension:
`<script async custom-element="amp-facebook-comments" src="https://cdn.ampproject.org/v0/amp-facebook-comme

[2017-05-09 12:57] littleMissAnstrengend commented on #9202
Hi,

thank! Yes i use it already and it works fine. But then i tried to use the moderation tool and this didn't work for me. So i disabled the comments. I see no difference between your and my code. I am using siteleaf and jekyll, maybe it is an issue with this?

[2017-05-09 13:00] cramforce commented on #1939
@erykpiast You can implement this with CSS within AMP today.

[2017-05-09 13:01] cramforce commented on #6694
Could you explain your use case a bit more?

On Mon, May 8, 2017 at 8:31 AM, Miles Disch <notifications@github.com>
wrote:

[2017-05-09 13:42] dakkad commented on #9162
The issue is related to the fact that there are no errors reported on the console when the endpoint doesn't implement the CORS request AMP spec.

[2017-05-09 14:10] micyeung opened #9222 "copyAndSplice not available in the latest v0.1 of amp-bind"
While using amp-bind, getting an error saying that copyAndSplice is not a supported function. See screenshots.
![laloynvj680cg80ema_1072_643](https://cloud.githubusercontent.com/assets/9668639/25854907/3bad3ec0-3504-11e7-894f-95de6db8c374.png)
![laloynvj2s0cfs0ema_1176_638](https://cloud.githubusercontent.com/assets/9668639/25854906/3ba9aa26-3504-11e7-83c1-5e76ed36a307.png)

## Which AMP version i

[2017-05-09 14:20] choumx commented on #9222
/to @kmh287 Kevin can you take a look?

[2017-05-09 14:40] erykpiast commented on #1939
Woah, I didn't know that. That's great. Could you point me out some docs or example site?

[2017-05-09 14:46] taymonbeal commented on #8017
@jridgewell, since it looks like some degree of refactoring of the XHR API is happening in #9054, I'm curious whether this is something that's been given any further degree of consideration as to whether we'd be open to it or not.

[2017-05-09 15:46] aghassemi commented on #9220
@tassawarr ampstart.com is AMP's CSS framework that also includes http://basscss.com/ (which similar to bootstrap has a Grid system for rows and columns, etc..) Please take a look there.

[2017-05-09 15:46] #9220 closed

[2017-05-09 15:48] tassawarr commented on #9220
Sure i'll take a look in there.

[2017-05-09 16:08] #3586 closed

[2017-05-09 16:09] aghassemi commented on #3586
@pratham2003 fix will be in prod in 10 days or so.

[2017-05-09 17:18] jridgewell commented on #9162
I see the CORS message every time, are you not?

[2017-05-09 18:22] dvoytenko commented on #5286
At this point we can mock all things except top-level function calls, right?

[2017-05-09 18:26] muxin commented on #9030
@lannka Since you are on call this week, could you take a look?

[2017-05-09 18:31] dvoytenko opened #9226 "Scrollable carousel: make it easier to customize margin"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- CSS
- Javascript

### Background
Amp carousel type="carousel" (See [doc](https

[2017-05-09 18:46] choumx commented on #9045
Two things to do:
- [ ] Add support to `amp-carousel` to handle children with dynamic contents (e.g. `amp-list`, `template`)
- [ ] Add support to `template` to use bindable state as render data source

Context: [Design review doc](https://docs.google.com/document/d/1niL4oreE3GJHyqdpuCD7Zxb_zfNdScdHSFa2Z-AZ9gI/edit#), https://github.com/ampproject/amphtml/issues/8900#issuecomment-299038050

[2017-05-09 18:46] bradfrizzell opened #9227 "A4A Test Case silently failing"
```resumeCallback w/ measure required no onLayoutMeasure``` within test-amp-a4a.js never actually gets inside its then block. All the expects etc within are never executed. This includes the use of `.to.never.be.called`, which is not valid as `.never` is not a part of the framework.

[2017-05-09 18:47] bradfrizzell commented on #9227
I suspect that all of our tests that utilize a then block don't have any way of complaining if we never go inside the then block.

[2017-05-09 18:48] choumx commented on #8921
Closing in favor of #9045.

[2017-05-09 18:48] #8921 closed

[2017-05-09 18:56] #9222 closed

[2017-05-09 19:13] choumx opened #9228 "web-worker: BindEvaluator is not initialized"
Caused when evaluating expressions when there are no bindings on the page.
[code]

[2017-05-09 19:15] jridgewell commented on #9227
[Line 691](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/test/test-amp-a4a.js#L691) has to be returned.

[2017-05-09 19:18] cramforce commented on #1939
See e.g. https://css-tricks.com/almanac/properties/o/object-fit/

Does that make sense?

On Tue, May 9, 2017 at 4:40 PM, Eryk Napierała <notifications@github.com>
wrote:

[2017-05-09 19:19] ericlindley-g commented on #9077
Also may be repro'd on Firefox + Android

/cc @aghassemi

[2017-05-09 19:23] dvoytenko commented on #7672
Huh. That's pretty bad. I'm bumping this to P1.

[2017-05-09 19:24] jridgewell commented on #9202
It looks like this might be better asked on StackOverflow, if it's working for @eduardogoncalves.

[2017-05-09 19:24] #9202 closed

[2017-05-09 19:45] camelburrito commented on #7672
Happens with sidebar, accordions etc too.

[2017-05-09 19:55] erykpiast commented on #1939
Hmm, not really. I perfectly know how to accomplish this with CSS, that's not the issue. What I mean is that `amp-img` component, as far as I understand it, requires exact image size and only once you specify it, page is considered as AMP-compilant. Isn't that true?

[2017-05-09 19:57] dvoytenko commented on #9135
I think we can definitely go as far as recommending sending `Link` header for `amphtml` for canonicals.

[2017-05-09 20:06] jaygray0919 commented on #9091
@honeybadgerdontcare Can we help "white list" `rel` values?
Currently, all of our `rel` values are openly-defined ontologies, their `classes` and their `properties`.
One source we use extensively is Wikidata and roughly 200 of its properties.
We can a comprehensive list if helpful.

/jay

[2017-05-09 20:18] #8933 closed

[2017-05-09 20:18] zhouyx opened #9231 "Remove dep-check whitelist for position-observer-impl"

[2017-05-09 20:24] zhouyx opened #9232 "pwa: change in amp-ad-xorigin-iframe-handler may break."
new change in amp-ad-xorigin-iframe-handler probably crash PWA.
https://github.com/ampproject/amphtml/pull/8940#discussion_r115546151

[2017-05-09 20:32] kmh287 commented on #4488
[Here's an example](https://github.com/ampproject/amphtml/blob/master/examples/bind/video.amp.html#L46) of changing `amp-youtube`'s `data-videoid` attribute with bind. @ericlindley-g can we close this issue?

[2017-05-09 20:56] #9228 closed

[2017-05-09 21:04] ericlindley-g commented on #4488
Yep—thanks @kmh287 !

[2017-05-09 21:04] #4488 closed

[2017-05-09 21:08] cramforce commented on #7672
Wow. Filed https://bugs.webkit.org/show_bug.cgi?id=171883

[2017-05-09 21:22] alanorozco commented on #2273
@NoahWilcox

If you're talking about the reCAPTCHA component, no more voting should be needed :)

We're actively working on this and you can expect this issue to be updated soon.

[2017-05-09 21:22] dvoytenko opened #9235 "Review/redesign boilerplate to accommodate visibility issues on iOS"
See https://bugs.webkit.org/show_bug.cgi?id=171883

[2017-05-09 21:47] dvoytenko commented on #7672
Ok. Closing this in preference of https://github.com/ampproject/amphtml/issues/9235. Please continue the discussion there.

[2017-05-09 21:47] #7672 closed

[2017-05-09 21:48] cramforce commented on #9235
sub

[2017-05-09 22:30] aghassemi commented on #6953
@ericlindley-g I don't believe this is fixed. Reopening.
/cc @muxin @cvializ @bpaduch

[2017-05-09 23:11] lannka commented on #9186
The 1st TODO is waiting for "not supporting IE11". Do we support IE11 still?
The 2nd TODO, did you add for me? Needs some clarification what needs to be done :-).

Is it really P1? I got many items in this sprint.

[2017-05-09 23:13] lannka commented on #8930
@andrejoblakceltra you're mostly right. except that the AMP ad can be iframe embedded in non-AMP page, which does not have `amp-ad` tag.

[2017-05-09 23:13] #8930 closed

[2017-05-09 23:14] cvializ commented on #6953
If the fix was implemented by the viewer integration, are you observing broken behavior inside or outside the viewer for the repro?

[2017-05-09 23:21] aghassemi commented on #6953
I looked at the code it was not implemented using viewer approach (still does window.top instead of sending a navigateTo message to the viewer). Not all viewers support `navigateTo` yet. We should only do this issue after #9170 so we could detect if viewer supports `navigateTo` or not

[2017-05-09 23:56] #8731 closed

[2017-05-10 00:38] #9184 closed

[2017-05-10 03:17] milesthedisch commented on #6829
@iannka To give you more context, the projects main purpose is to allow designers/developers to quickly create a mock up that works in an AMP environment. Something like jsbin but aimed at a amp enviroment.

At the moment Im trying to get a `<amp-ad/>` tag to render without having to make an external request. The reason for this is that one of our projects needs to be "fast" at loading. One thing

[2017-05-10 03:22] jasonpang commented on #8791
Hey @adewale @sebastianbenz,

We've been hard at work on a proof of concept to demo an early version of our AMP extension and how it would work. We're happy to show a demo of an alpha version of our plugin!

## amp-push-notifications Demo

### Demo Link

**[AMP Push Notifications Extension Demo](https://onesignal-staging.pw/webpush/amp?https=1)**

### Demo Walkthrough

1. You should see a blue _Su

[2017-05-10 04:40] #8737 closed

[2017-05-10 09:08] cramforce commented on #1939
I think something like this should work

[code]

Might need some tweaking, but both `layout=fill` and `layout=container` should be able to achieve what you want. The width and height would be mandatory but ignored.

[2017-05-10 10:38] eduardcotmrf opened #9243 "Restrictions about svg"
In the documentation (https://www.ampproject.org/docs/reference/spec#svg) it says that you cannot reference any svg with the "xlink:href" attribute not starting wtih '#'. Why is that?

In our amp page we have to load icons that are used below the fold but because of this restriction we are having them inline in the html above the fold and then used with '#' references. That makes no sense as this

[2017-05-10 10:50] erykpiast commented on #1939
Alright, thank you!

It'd be nice to cover such case in documentation. I'm not sure if you've noticed, but literally all code snippets with `amp-img` have `height` and `width` specified, in one form or another. (https://ampbyexample.com/components/amp-img/, https://www.ampproject.org/docs/guides/amp_replacements, https://www.ampproject.org/docs/reference/components/amp-img)

[2017-05-10 12:24] cramforce commented on #1939
If you have a good example working, would you mind posting it here? Agree
that it would be nice to document it.

On Wed, May 10, 2017 at 12:51 PM, Eryk Napierała <notifications@github.com>
wrote:

[2017-05-10 14:16] hindsc52 commented on #9157
So am I right in thinking that right now we cannot get around the blank tabs opening when on a non-mobile device?

[2017-05-10 14:43] #7483 closed

[2017-05-10 14:49] erwinmombay commented on #9178
this is not fully resolved yet, still have firefox and safari issues

[2017-05-10 14:55] keithwrightbos commented on #9153
Great then we will start as an experiment to measure impact.  Likely in a later version will use the time between pause and resume to potentially refetch to ensure that ad is not too stale.

@bradfrizzell will be taking lead on implementation

[2017-05-10 16:19] tlong2 opened #9247 "Cleanup bug for amp-auto-ads-adsense-holdout experiment"

[2017-05-10 16:22] aghassemi commented on #9157
@hindsc52 currently you can't. We would need to expose something like a `target` attribute so you can set it to `self` (and we would need to ignore `target` in iOS for certain types of links)

[2017-05-10 16:35] erykpiast commented on #1939
Well, it turns out my previous (non-AMP) example may be easily adapted: http://jsbin.com/sojidok/edit?html,output

[2017-05-10 16:36] lannka opened #9249 "Blank ads caused by doc.write in environment.js"
`doc.write('<script>window.parent.ampManageWin(window)</script>');` is making ads blank.
(we might override doc.close too late?)

<img width="1038" alt="screen shot 2017-05-05 at 3 53 42 pm" src="https://cloud.githubusercontent.com/assets/8496897/25767035/243fc2f0-31ab-11e7-8222-7359fde1553e.png">

[2017-05-10 16:59] niutech commented on #9135
That would be great. Thank you.

[2017-05-10 17:07] cramforce commented on #1939
Assigning for figuring out the best way to document it. Could also go into ABE @sebastianbenz

[2017-05-10 17:10] lannka commented on #9186
Downgraded to P2 and moved to next sprint

[2017-05-10 17:15] lannka commented on #7500
@dvoytenko yes, you're right

[2017-05-10 17:36] #9249 closed

[2017-05-10 17:41] lannka commented on #8741
@jasti there's no APIs needed for FIE case. If you were talking about the fast fetch delayed rendering case, same APIs are exposed, but creative needs to load ampcontext lib to be able to access the APIs. According to @keithwrightbos this is still unclear what creatives are relying on those APIs. I will close this for now.

[2017-05-10 17:41] #8741 closed

[2017-05-10 18:12] #8594 closed

[2017-05-10 18:18] jridgewell commented on #9235
/cc @dknecht

[2017-05-10 18:42] dvoytenko commented on #9235
Can we revisit why we are not using `opacity`? I think in all my tests, opacity works well. Couple big benefits that we considered for visibility were:

1. Content is actually not clickable. So, it's much harder to tap on a button that's not even visible.
2. In theory, `visibility:hidden` is more optimizable comparing to `opacity:0`.

So, I don't really see us removing `visibility:hidden`, but may

[2017-05-10 18:57] camelburrito commented on #9235
The reasons we did not use opacity are

1. Per https://docs.google.com/document/d/1gZFaKvcDffceJNaI3bYfuYPtYU5u2y6UhE5wBPTsJ9w/edit#heading=h.8yiaghh39dex

2. I remember running some tests (in addition to this https://docs.google.com/spreadsheets/d/1rLB5vNlVROErK5dqCJwIMFQPrymoROxEysKiFB49Nug) and finding there were more repaints when using opacity.

I think Adding opacity seems to be a fine compr

[2017-05-10 19:08] choumx commented on #8901
I'd like to briefly discuss the `AMP.goToURL` proposal: #8976 (5 mins)

- Currently we support three types of events in AMP Actions: `tap`, `submit`, `change`
- [`change`](https://developer.mozilla.org/en-US/docs/Web/Events/change) can be fired by `<input>`, `<select>` and `<textarea>`
- Since navigation is such a strong action, perhaps we should restrict its usage to certain events or elements

P

[2017-05-10 19:17] shimonenator opened #9251 "PushState support on scroll"
I've looked through the issues list and I couldn't find an existing implementation or feature request, but please point me in the right direction if it's already discussed somewhere. The closest I was able to find is #9128 but it solves another use case.

I'd like to propose a feature that would allow you to update hash or page url on scroll or another similar action. Common examples could be scro

[2017-05-10 19:53] lannka commented on #9030
@jridgewell I moved it to next sprint and assigned back to you.

[2017-05-10 20:25] keithwrightbos commented on #9227
Fixed in #9244

[2017-05-10 20:25] #9227 closed

[2017-05-10 21:05] mrjoro commented on #8901
**amp-filter #9113**
- alternative design seems like a lot of work; "pretending like this is being evaluated in the same web context" but it's actually being evaluated in a web worker, so you'd need to pass stuff from the DOM to it
- in the first example (in the initial proposal) a single condition can have "and" and "or" but why limit it to a single attribute; why not expose it to the entirety of

[2017-05-10 21:06] mrjoro commented on #8901
**embed-only features in AMP #8971**

- constraining features to the component are not controversial; would allowing certain formats (i.e. A4A) to have more flexibility for non-user-initiated events be okay
- A4A is used as an example because it's in a constrained size so the big issue we're worried about with non-user-initiated events (the screen jumping around) won't be an issue
- allowing flexi

[2017-05-10 21:07] mrjoro commented on #8901
**AMP.goToURL proposal: #8976**

- select element can't have anchor tags so the only way to navigate is via JS
- it's a powerful action and we're not sure if the set of events we currently support justify use of this action (e.g. should changing a slide in amp-carousel be able to cause a navigate?  or changing text in a text area?)
- Dima: would be nice for us to have a smarter user initiated acti

[2017-05-10 21:07] #8901 closed

[2017-05-10 21:09] mrjoro opened #9254 "Design Review 2017-05-31"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-05-10 21:10] mrjoro opened #9255 "Design Review 2017-06-07"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-05-10 21:11] mrjoro opened #9256 "Design Review 2017-06-14 (video analytics, immersive video, amp-carousel iOS jitter)"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hangouts/_

[2017-05-10 21:17] dvoytenko commented on #9235
A good example is https://amp.www.1800flowers.com/roses. What happens here is that few elements define `.toggle_header:after {visibility:visible}` inside the document which causes the FOUC - our boilerplate does not affect this style. It's possibly not a huge deal, but would be nice to find some solution to this. Obviously, I'd hate to make boilerplate any bigger than it already is...

[2017-05-10 21:20] machadoug commented on #2273
@alanorozco
What about support for other captcha providers such as phpcaptcha.org?

The amp-captcha tag suggested by @nickmoline would be nice, however it would be just missing a way to refresh the captcha image.

[2017-05-10 21:27] aghassemi commented on #8971
@jpettitt brought up a good point in the design meeting today: This feature is useful outside of AMP in-a-box case and if we go with approach 1 (https://github.com/ampproject/amphtml/issues/8971#issuecomment-298061119) then top-level AMP page will either miss out on this feature or they will be forced to unnecessarily iframe another AMP page just to get this feature.

At this point I am recommendi

[2017-05-10 21:45] dvoytenko commented on #9178
@jridgewell Could you describe what you mentioned offline needs to happen here for Safari?

[2017-05-10 21:45] aghassemi commented on #8976
@choumx @jridgewell #8515 (`amp-exit`) would also handle this use-case (I personally don't mind having both, each has its own pros and cons. `amp-exit` is more flexible but less ergonomic than `goToUrl`)

since I am voicing my opinion, I slightly prefer `navigateTo` to `goTourl` for wording.

[2017-05-10 21:54] jridgewell commented on #9178
1. Translate Safari frames into Chrome:
[code]
    into
[code]
   - Importantly
     - `MESSAGE` must be prepended to stack
     - Frames that do not match `/.*\.js:\d+:\d+$/gm` must be dropped
2. (Optional) Unminify

[2017-05-10 22:05] camelburrito commented on #9235
@dvoytenko - my recommendation is to add `opacity 0 to 1` along with `visibility`. Thing to watch out for is how this is gonna affect the performance of the boilerplate and if it is going to cause any additional repaints.

[2017-05-10 22:21] jonkeller commented on #8935
As I look at this more, I think I was just not using it properly. For instance, it was displaying the raw JSON enclosing the creative HTML, but that seems to be because I was using fakesig==true. Removing that seems to make it work. Although the documentation could stand to be improved to mention that, what the signature is used for, steps for generating the signature, etc.
I'm tempted to just kil

[2017-05-10 23:22] aghassemi commented on #6468
Yes

[2017-05-10 23:26] adelinamart commented on #5580
@dvoytenko is this still needed? Thanks

[2017-05-10 23:27] adelinamart commented on #5535
@cramforce is this fully rolled out? Thanks

[2017-05-10 23:29] adelinamart commented on #4358
@camelburrito @ericlindley-g is this still needed?

[2017-05-10 23:33] choumx commented on #8971
Approach 1 may be feasible if we implement a tiered trust levels for events and actions as suggested in https://github.com/ampproject/amphtml/issues/8901#issuecomment-300612756:
- Add new video play/pause/end events under new "LOW" trust level (current actions have a higher trust)
- Add support for "overlay" elements for children of AMP components with "LOW" trust actions `show`, `hide`, `toggle`

[2017-05-10 23:37] lannka commented on #9113
Consider that we can do simple filtering with CSS selector and `amp-bind`:

[code]

[2017-05-10 23:38] adelinamart commented on #7270
@cramforce any updates here? Thanks

[2017-05-10 23:41] adelinamart commented on #5888
@dvoytenko shall we open a new issue for the discussion here if still needed, and keep this bug only for cleaning up the experiment? Thanks

[2017-05-10 23:42] choumx commented on #8976
@aghassemi Thanks for the heads up. Though, `amp-exit` would share the same "trust" issue discussed in https://github.com/ampproject/amphtml/issues/8901#issuecomment-300612756 if it uses `on="tap:"`.

Good suggestion on `navigateTo()`.

[2017-05-10 23:42] adelinamart commented on #6792
@erwinmombay is this still needed? Thanks

[2017-05-10 23:47] taymonbeal commented on #8020
Here's an idea for an API design for this. What do you think? Adding @rsimha-amp.

[code]

An example of how this would be used in tests:

[code]

[2017-05-10 23:50] adelinamart commented on #7238
@cramforce what else we need to do here? Thanks

[2017-05-10 23:56] adelinamart commented on #7063
@dvoytenko is there an issues related to the work that needs to be done for this to be cleaned up? Thanks

[2017-05-10 23:57] adelinamart commented on #6990
@bradfrizzell I think this can be cleaned up? Thanks.

[2017-05-10 23:57] adelinamart commented on #6923
@erwinmombay any updates here? Thanks

[2017-05-10 23:58] adelinamart commented on #6756
@dvoytenko do we still need this? Thanks.

[2017-05-10 23:59] adelinamart commented on #6712
@aghassemi are there any updates here? Thanks

[2017-05-11 00:02] adelinamart commented on #6696
@tdrl any updates here? Thanks

[2017-05-11 00:03] adelinamart commented on #6670
@lannka any updates here? Thanks

[2017-05-11 00:04] adelinamart commented on #6574
@jridgewell any updates here? Thanks

[2017-05-11 00:05] adelinamart commented on #6570
@erwinmombay @dvoytenko is this something we are looking into fixing? Thanks

[2017-05-11 00:07] adelinamart commented on #6522
@muxin @aghassemi what's the latest status here? Thanks

[2017-05-11 00:08] adelinamart commented on #6357
@ericlindley-g do we have any updates here? Thanks

[2017-05-11 00:08] adelinamart commented on #6260
@dvoytenko @sebastianbenz what's the latest status here? Thanks

[2017-05-11 00:09] adelinamart commented on #6139
@aghassemi @ericlindley-g I think we need to add this to your triage queue? Thanks

[2017-05-11 00:10] adelinamart commented on #5776
@aghassemi maybe consider this for next week FIXIT week? Thanks

[2017-05-11 00:14] adelinamart commented on #5750
It seems there's some new activity on https://bugs.webkit.org/show_bug.cgi?id=163911

[2017-05-11 00:15] aghassemi commented on #6712
just a low priority bug.

[2017-05-11 00:16] aghassemi commented on #6522
still a bug (low priority)

[2017-05-11 00:17] aghassemi commented on #5776
Good idea. added

[2017-05-11 00:37] erwinmombay commented on #7238
@cramforce this is the one listed on infra OKR right?

[2017-05-11 01:06] aghassemi commented on #9251
related: https://github.com/ampproject/ampstart/issues/209
@ericlindley-g we could create a small project around improving in-page navigation experience. (this issue, `.focus()`, navlink highlighting as user scroll) all sort of fit together.

[2017-05-11 01:09] ericlindley-g commented on #9251
Agreed — there's a nice set of features here that all circle in the same area (and are on the docket to take a closer look at soon). Thanks for the request, @shimonenator !

[2017-05-11 04:09] aghassemi opened #9258 "amp-ima-video: switch to `describes` for tests"

[2017-05-11 09:39] andrejoblakceltra commented on #8930
@lannka It doesn't work even if I embed it in an iframe:
[code]
Note: a4a-ad.html contains the code from "A4A example" in my opening post. It triggers event in Chrome, but not in Firefox. Am I doing this the right way?

[2017-05-11 09:52] cramforce commented on #7238
Yep

[2017-05-11 10:19] MarkusDima commented on #8501
Hi all, just an update about the issue above.
We can no longer reproduce the problem, all is working fine.
Have you fixed it?
In any case thank you!

Regards,
Marco

[2017-05-11 11:44] lexandera opened #9262 "ALP preloading appears to be broken"
While trying to implement ALP support in ad clickthroughs I was unable to get the behavior described in [this document](https://github.com/jasti/amp-ads-testing/blob/master/dfp-amp-testing/amp_tests/playground/landingpages/ALP%20Docs/alp.md).

Instead of seeing a document request on touch start, the following warning is printed in the browser console: `<link rel=preload> must have a valid "as" val

[2017-05-11 12:24] taymonbeal commented on #6792
Personally, I'd still like to see something like this, although my faith in `clang-format` in particular is a bit diminished as of late (it often squishes things up against the right-hand side of the page).

[2017-05-11 13:36] jilt commented on #8090
Can I have a try?

[2017-05-11 13:49] cvrlebg opened #9263 "Facebook comments language"
## What's the issue?

Hi, can you add new attribute for amp-facebook-comments, something like data-locale where we can add language code like on FB documentation page: [https://developers.facebook.com/docs/plugins/like-button#language](https://developers.facebook.com/docs/plugins/like-button#language)?

## How do we reproduce the issue?

This will be very useful for non-english sites.

Thanks!

[2017-05-11 13:50] bradfrizzell commented on #6990
Already done, issue just wasn't closed.

[2017-05-11 13:50] #6990 closed

[2017-05-11 13:51] cvrlebg opened #9264 "amp-facebook-*: support different languages"
Currently we always load the `US_en` SDK. At minimum it should load the one based on document `lang` and also maybe allow overriding the locale at element level by introducing `data-locale` on all `amp-facebook-*` components.

--- Originally reported by @cvrlebg :
## What's the issue?

Hi, can you add new attribute for amp-facebook-like, something like data-locale where we can add language code li

[2017-05-11 14:26] km-newsday commented on #6454
Since “amp-app-banner” component’s Availability is now Stable, I tried to implement it on AMP pages for https://www.newsday.com/.
I followed all the steps, as mentioned here:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-app-banner/amp-app-banner.md

1. Imported the amp-app-banner component.
<script async custom-element="amp-app-banner" src="https://cdn.ampproject.org/v0/amp-app

[2017-05-11 14:27] shawnbuso commented on #8843
For the case where a user sees a pod of ads (multiple ads in a row, like a TV commercial break) should I fire AD_START at the start of the pod and END at the end of the pod, or fire those events around each individual ad?

[2017-05-11 14:51] pearlwang1106 opened #9265 "I will develop a component called amp-baidu-stats"
Dear AMPers:
I am a Baidu FE, today i received a demand to develop a component named amp-baidu-stats.

amp-baidu-stats is a Baidu statistical component which is used to collect all kinds of business data that including communication's quantity, the number of clicks, conversion's number. The component will send the data to Baidu statistical open platform. After the users login, the data can be anal

[2017-05-11 15:12] ericlindley-g commented on #6454
/cc @muxin @aghassemi

@km-newsday , can you tell us what context you're testing in? Is this on the origin (pub.com), through an AMP cache (cdn.ampproject.org), or through an AMP viewer (e.g. google.com/amp/pub.com)?

Also, if it's in an AMP viewer, can you say if it's on the web or in an app? (e.g. Google News & Weather or Google Web Search)

[2017-05-11 15:36] rudygalfi commented on #9265
Hello! We're interested to have support for Baidu stats in AMP. Have you looked at amp-analytics? This is the preferred approach for supporting page data collection.

Cc @lannka

[2017-05-11 15:41] km-newsday commented on #6454
Hello,

A: I am testing it in stage environment in Chrome (browser app) on iPhone with origin https://stage.newsday.com/amp/entertainment/tv/carol-burris-former-li-principal-takes-post-with-education-advocacy-group-1.10719527

B: I am not sure how to test through an “AMP cache”.

C: I also tried https://www.google.com/amp/s/stage.newsday.com/amp/entertainment/tv/carol-burris-former-li-principal-ta

[2017-05-11 15:55] taymonbeal opened #9266 "AMP_CONFIG variable for Google SafeFrame version"
Under some circumstances, Fast Fetch renders creatives into a Google SafeFrame. When Google updates the SafeFrame version that it uses in GPT, then it becomes out of sync with the one used in Fast Fetch, which makes cache misses more likely (since the version used in GPT is likely to already be cached in users' browsers). Currently, the version number is a hardcoded constant in `amp-a4a.js`, which

[2017-05-11 16:01] #8955 closed

[2017-05-11 16:14] aghassemi commented on #8843
So we would use that signal only in `autoplay` case for now to remove the transparent overlay shim so taps during the Ad play are captured by the ad itself, in that sense it doesn't really matter, either would work.

[2017-05-11 16:19] aghassemi commented on #6454
@ericlindley-g  dup of #9077

[2017-05-11 16:56] lannka commented on #9265
@pearlwang1106 pls take a look at [amp-analytics](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md). you're welcome to provide a configure for Baidu stats in [vendors.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js)

[2017-05-11 17:30] ericlindley-g commented on #6454
Thanks @km-newsday  and @aghassemi  — closing this bug as a duplicate of #9077, but we're looking into it and will update there when a fix is in.

[2017-05-11 17:30] #6454 closed

[2017-05-11 17:34] ruborg opened #9267 "<amp-img> children of <amp-selector> don't load without user intervention"
## What's the issue?

When an `amp-selector` container contains `amp-img` children, the images do not load until the user interacts with the page, for example with a tap, or by resizing the browser on desktop.

Furthermore, if the `amp-accordion` script is included in document head, even though it is not being used, then the problem does not occur, i.e. the images are loaded and rendered on page l

[2017-05-11 17:51] jridgewell commented on #8501
Not sure what the issue was, but if it's fixed great!

[2017-05-11 17:51] #8501 closed

[2017-05-11 18:19] aghassemi commented on #9264
@cvrlebg thanks for reporting. Updated the bug a it to cover all `amp-facebook-*` components as all have the same issue.

[2017-05-11 18:19] aghassemi commented on #9263
Closing as dup of https://github.com/ampproject/amphtml/issues/9264

[2017-05-11 18:19] #9263 closed

[2017-05-11 18:20] lannka commented on #9266
Is it just about cache miss? In fact, I think an older version might have higher cache hit rate during the migration time period right?

[2017-05-11 18:20] aghassemi commented on #9264
/cc @ericlindley-g

[2017-05-11 18:53] dvoytenko commented on #9267
BREAK:
  works in : 011492571781980
  doesn't work: 011493083583453

[2017-05-11 19:07] #9145 closed

[2017-05-11 19:37] lannka opened #9268 "Shall we generate cookie for Ad CID?"
Code [here](https://github.com/ampproject/amphtml/blob/e00a3da988672d60fae47105c663793c1119e64a/src/ad-cid.js#L39) and [here](https://github.com/ampproject/amphtml/blob/e00a3da988672d60fae47105c663793c1119e64a/extensions/amp-analytics/0.1/cid-impl.js#L118) and [here](https://github.com/ampproject/amphtml/blob/e00a3da988672d60fae47105c663793c1119e64a/extensions/amp-analytics/0.1/cid-impl.js#L182) i

[2017-05-11 19:53] choumx commented on #9045
Moving to "New FRs" pending triage.

[2017-05-11 20:09] avimehta commented on #9268
WAI. The id is used for GA and Ads data joining and if there is no analytics tag on the page, Ads doesn't need to send it across.

[2017-05-11 20:15] dvoytenko commented on #9186
IE11 is still supported. Next sprint is fine. But not further, since I'm trying to enable monitoring for everyone.

[2017-05-11 20:33] dvoytenko commented on #9235
@camelburrito Ok, let's schedule some tests run to evaluate performance impact of adding opacity.

[2017-05-11 20:34] dvoytenko commented on #5580
Yes

[2017-05-11 20:36] dvoytenko commented on #5888
@unitydynamics Some of this is also handled in `amp-live-list`. Feel free to open this request as a separate issue.

[2017-05-11 20:40] jridgewell opened #9270 "Review all container elements"
Anything that's not specifically designed for fixed/response/etc layouts should enforce a `CONTAINER` layout.

[2017-05-11 20:43] lannka commented on #9268
Let amp-ad set cookie can potentially increase the linking coverage, imagine user visited pages without amp-analytics first. My understanding is that in non-AMP world, ads tag also write the cookie if it does not exist yet, right?

Also, I saw one other ad network is specifying a cookie scope: [AMP_ECID_EZOIC](https://github.com/ampproject/amphtml/blob/master/ads/_config.js#L259) which probably wa

[2017-05-11 20:44] lannka commented on #9186
if we're going to support IE11 for a while, I will just remove the TODO and keep a comment.

[2017-05-11 20:52] erwinmombay commented on #8020
adding @dvoytenko as well since i know he's looked/thought about this

[2017-05-11 21:08] lannka commented on #6670
We can prioritize it in next sprint.

[2017-05-11 21:13] lannka opened #9272 "Remove a4a dependency on ads/_config.js"
The whole _config.js file is added to the binary of each ad network extension. Instead, we can copy the ad network specific config to its own file under the extension.

[2017-05-11 21:16] bjalford opened #9273 "PWA: url-replacements-impl.js:181 Uncaught TypeError: Cannot read property 'then' of null"
When using amp shadowdom, we're seeing the error wnehn navigating around.

To replicate go to: https://www.standard.co.uk/news/london/cabaret-compere-told-she-deserves-to-be-raped-after-standing-up-to-vile-catcalling-at-white-city-a3536886.html?ines_tg=1
(note this will drop a cookie for ines_tg, you will want to delete after testing)

Click on a few links e.g. menu items and review consolw log. Y

[2017-05-11 21:16] krogersforbes commented on #8713
Hey everyone,

I see that the ticket was marked as closed, and it looks good on my desktop, but it's still not working on mobile (android or iphone)

[2017-05-11 21:16] lannka commented on #8930
that will not work. the host page has to implement the ["host" logic](https://github.com/ampproject/amphtml/blob/master/examples/inabox.host.html) to cooperate with the ad.
in real world, this job is done by the ad tags, so the publishers don't need to worry about that.

[2017-05-11 21:19] bjalford commented on #9273
//cc @choumx

[2017-05-11 21:44] taymonbeal opened #9274 "Clean up Fast Fetch error reporting"
Mostly opening this because TODOs have to have issue numbers now. Feel free to close as a duplicate of something else if applicable. @ampproject/a4a

[2017-05-11 22:00] taymonbeal opened #9275 "StringIndexOutOfBoundsException in Closure on Travis"
The Travis build [failed](https://travis-ci.org/ampproject/amphtml/builds/231337393) on #9040 with a Java error.

[2017-05-11 22:01] jpettitt opened #9276 "amp-rewrite-links i2i"
**[Edit: Note the iframe has changed to a CORS request per comments below from @cramforce]**

There are several use cases where rewriting the `href` tags on AMP pages would be useful.  These include AMP to AMP linking and affiliate link automation.

This is a tentative proposal for a way to handle this via new `amp-rewrite-links` component.

The basic model would be similar to `amp-ad` and `amp-an

[2017-05-11 22:04] dvoytenko commented on #7063
This is still blocked by @erwinmombay 's work.

[2017-05-11 22:05] dvoytenko commented on #6756
/to @aghassemi to decide

[2017-05-11 22:07] dvoytenko commented on #6570
Yes. Possibly part of another bug, @erwinmombay ? In short the goal is to monitor baseline of expected errors and alert when there's big deviation from it.

[2017-05-11 22:07] dvoytenko commented on #6260
Not reproducible.

[2017-05-11 22:07] #6260 closed

[2017-05-11 22:07] dvoytenko commented on #6260
Please re-open if repro case is found.

[2017-05-11 22:24] lannka commented on #9268
And if you read the [README](https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-information), the `window.context.clientId` is something we persist for ad network.

@rudygalfi

[2017-05-11 22:30] dvoytenko opened #9280 "Cache: support `style` attribute within `<svg>`"
Spun off from validator issue #3578.

The goal is to allow `style` attribute within inline `<svg>` documents. This is desirable b/c many tools, such as Inkscape and most of others that generate SVGs, use freely style attributes. It makes it hard to scrub such SVG docs to enable for AMP. On the other hand, since SVGs are essentially non-HTML embeds, there's very minimal security/performance risk in

[2017-05-11 22:34] dvoytenko commented on #9186
I agree. It's totally reasonable to state in comments that something is required due to IE11 support w/o any `TODO`. These are easy to find and correct once compatibility requirements change whether or not `TODO` is present :)

[2017-05-11 22:36] dvoytenko commented on #8713
@krogersforbes Thanks a lot for chiming in. The issue was fixed in https://github.com/ampproject/amphtml/pull/9169 - you can check on it - we will mark it "In PROD" once it has been rolled out. It should be live by the end of next week.

[2017-05-11 23:04] dvoytenko commented on #8020
Yeah, I can see this. Probably would have to be only allowed via `describes` b/c it'd need access to pre-created `sandbox`.

[2017-05-11 23:09] aghassemi commented on #6756
technically image-lightbox will be folded into the new lightbox viewer @muxin is working on soon, so I am okay with closing this.

[2017-05-11 23:09] #6756 closed

[2017-05-11 23:24] jridgewell opened #9283 "Forbid creating non-AMP "amp-*" elements"
Examples include:

- [`<amp-sticky-ad-top-padding>`](https://github.com/ampproject/amphtml/blob/4435faeedc6585acd3bf6758e746b0fa388eb257/extensions/amp-sticky-ad/1.0/amp-sticky-ad.js#L96-L97)
- [`<amp-body>`](https://github.com/ampproject/amphtml/blob/4435faeedc6585acd3bf6758e746b0fa388eb257/src/shadow-embed.js#L174)

These should be `i-amphtml-*`, the `amp-` tag prefix is reserved for AMP element

[2017-05-11 23:36] cvializ commented on #8132
There is documentation for this feature in [amphtml/spec/amp-var-substitutions.md](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#whitelisted-domains-for-link-substitution) and it was merged by #8234. Does it need to be documented elsewhere or is this technical spec sufficient to close this issue?

[2017-05-11 23:41] jridgewell commented on #9267
This has been around since the initial version of `<amp-selector>` (and others). Downgrading to p1, with patch incoming tomorrow.

[2017-05-12 01:29] taymonbeal commented on #8020
Why would we need a Sinon sandbox? Those aren't any kind of magic, they just monkeypatch the object under test, and this could do the same directly.

Would it be okay for me to put together a pull request for this?

[2017-05-12 03:49] dvoytenko commented on #9273
Fixed via #9284.

[2017-05-12 03:49] #9273 closed

[2017-05-12 04:01] erwinmombay commented on #9275
this is a closure compiler bug

see: http://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540output_file_name%2520default.js%250A%252F%252F%2520%2540compilation_level%2520SIMPLE_OPTIMIZATIONS%250A%252F%252F%2520%253D%253D%252FClosureCompiler%253D%253D%250A%250Avar%2520test%2520%253D%2520%2560%250Ahello%255C0%250A%2560%253B%250Acons

[2017-05-12 04:01] #9275 closed

[2017-05-12 04:03] erwinmombay commented on #9275
reported here: https://github.com/google/closure-compiler/issues/2488

[2017-05-12 07:21] ruborg opened #9288 "Different layout behaviour for images with layout="responsive" displayed in lightboxes depending on context"
Hi AMP team,

(Apologies if this is already known/being worked on - I know Lightbox 2.0 is in the works, and I saw a similar issue, but not quite the same, discussed here: #1531)

## Issue
Different layout behavior for images with layout="responsive" displayed in lightboxes depending on context of `amp-img`

## Cases
1. `amp-img` inside `amp-carousel`, rendered in `amp-image-lightbox`
**Result**:

[2017-05-12 08:08] macstens opened #9289 "No scrolling in iOS8 Safari"
## What's the issue?

When opening an amp site in Safari on iOS8 devices, there is no way to scroll down. This seems to affect all AMP sites and is not to be narrowed down to a single website.

## How do we reproduce the issue?

Open any desired amp website via the google search result list, for example:

[AMP Site 1](https://www.google.de/amp/s/www.11880.com/amp/branchenbuch/bonn/081645047Z385337

[2017-05-12 12:55] echopi opened #9290 "https://cdn.ampproject.org CSP prevent a worker from creating when use amp-bind"
[code]
## What's the issue?

amp-bind  not work in page served by cdn.ampproject.org

## How do we reproduce the issue?

1. visit https://cdn.ampproject.org/c/s/m.aliexpress.com/amp/item/32608337089.html
2. and you can see the error from console

![image](https://cloud.githubusercontent.com/assets/16034964/25998909/ac6bd114-3755-11e7-88ee-b07d9d7e36d4.png)

[2017-05-12 13:54] machadoug commented on #8601
It looks like `form [submitting]` is also missing from [amp.css](https://github.com/ampproject/amphtml/blob/master/css/amp.css#L554).

[2017-05-12 15:08] krogersforbes commented on #8713
I'm sorry for the misunderstanding, thanks a lot for jumping on this so quickly.

[2017-05-12 15:09] bjalford opened #9291 "Errors when attaching shadow doc with slides"
Open the carousel here: https://www.standard.co.uk/stayingin/tvfilm/bafta-tv-awards-2017-date-time-nominees-and-how-to-watch-in-the-uk-a3537786.html?ines_tg=1

and close it to see the error message. You'll need to let the service worker install

[code]

[2017-05-12 15:19] choumx commented on #9291
Looks like the same issue as https://github.com/choumx/amp-pwa/issues/10.

[2017-05-12 15:19] kmh287 opened #9292 "Cleanup opt_ctor and opt_factory params in runtime.js"
Once #9212 has been in production for two releases.

[2017-05-12 16:04] aghassemi commented on #9180
@muxin as discussed, we would definitely want the viewer to validate the Urls as a P1 (e.g. refuse to `nativeTo` potentially dangerous Urls), AMP runtime doing it should only be a secondary check (Still useful)
/cc @ericlindley-g @ericfs

[2017-05-12 16:22] aghassemi opened #9301 "amp-animation: support scenes and configurable start/end conditions based on visibility and position within viewport"
Tentative Spec https://github.com/ampproject/amphtml/issues/8411
Total points: 13

- [ ] Sprint H2 May: Spent 2 pts on redesign and discussion
- [ ] Sprint H1 June: 8 points left

/cc @dvoytenko @ericlindley-g

[2017-05-12 16:25] andreban commented on #9291
I'm testing locally, and it seems to be related to `type="slides"`, so this breaks:

[code]

but this works:
[code]

Will try to share my test somewhere.

[2017-05-12 16:33] aghassemi commented on #9170
b/35322742 likely will be in prod by May 17

[2017-05-12 16:35] micyeung commented on #9290
Looks like this issue only shows up on Chrome Canary... Chrome Production works without a problem.

[2017-05-12 16:36] echopi commented on #9290
More detail: the problem above only happened on Chrome Canary or dev

[2017-05-12 16:41] lannka opened #9303 "Keep travis log concise: hide successful link checks in travis log"
We had effort to reduce the length of travis log: #6835 .
We want to keep it short by only showing errors and summaries of passed tests.

Let's try to hide successful link checks, which is taking a lot spaces.
<img width="936" alt="screen shot 2017-05-12 at 9 40 06 am" src="https://cloud.githubusercontent.com/assets/8496897/26007820/ffe21f4c-36f6-11e7-925d-8790c159092b.png">

[2017-05-12 16:50] andreban commented on #9291
Using Chrome 58.0.3029.110

To reproduce:
1. Navigate to: https://amp-pwa-carousel.firebaseapp.com/
2. Navigate to any of the 2 links, no errors will be show on the console.
3. Click on the blue header to return to the main page (back button not setup properly)
4. Navigate to the second link.

The 2nd link, uses `type=carousel` and never breaks.

[2017-05-12 17:08] ericlindley-g opened #9305 "Catalog actions and triggers to determine "trust" levels in AMP"

[2017-05-12 17:12] lannka commented on #8534
will work on test after we cleaned up visibility v2 code and fully migrated to v3.

[2017-05-12 17:24] ericlindley-g commented on #9170
@aghassemi  — absolutely: talking to other viewers now to add. May take a while, but the nice thing is that we won't be blocked on viewers releasing new features for a good chunk of them. (though this may break down in cases where you can't simply show/hide based on support — we may have to figure out more sophisticated fallbacks for future features :)

[2017-05-12 17:27] honeybadgerdontcare opened #9306 "Add test files for extension(s)/component(s) missing test files"
The validator is tested by per-extension/component test files (e.g. `0.1/test/validator-amp-<extension/component-name>.html`). Such files are compared against an out file (e.g. `0.1/test/validator-amp-<extension/component-name>.out`) to see if they are pass/fail and if fail what errors occurred and where.

Example of extension/component missing a validator test: amp-ima-video

[2017-05-12 17:32] lannka opened #9307 "Fully launch 3p-use-ampcontext, and clean up old code"
This is the follow up work for #8087

Proposed phases:
- [x] write a simple integration test checks the existence of all documented APIs
- [x] launch in 1% canary, check error logs
- [x] full launch
- [ ] clean up code

Since this should be a no behavior change refactoring, it's optional for developers to opt-in and test. @jasti what you think? any channel to bring this up to developer's attention

[2017-05-12 17:40] aghassemi opened #9308 "form verifier launch tracker"
- [ ] 1 partner waiting for feature tries it in experimental and provides feedback ( @ericlindley-g )
- [ ] thumbs up from @dvoytenko on the final design
- [ ] ampbyexample.com sample
- [ ] integration test in `integration/test-integration-form.js`

then
- [ ] flag flip for experiment to 100%
- [ ] blog/tweet? ( @ericlindley-g )

then (after few weeks of experiment 100% live in prod)
- [ ] #9174

[2017-05-12 19:00] ericlindley-g commented on #9305
Critical criteria for each action include the level of risk for bad UX associated with it, and for each event the associated "trust level" it should be given.

[2017-05-12 19:06] aghassemi opened #9311 "a4a: Provide ability to test creatives without running a local version of amphtml repo"
It would be a useful feature for users to be able to test their A4A creatives without uploading them to DFP or running a local clone of amphtml repo, specially to test/demo experimental features which won't even validate (and therefore can not be submitted to DFP)

We should either allow  `<amp-ad type="fake" data-use-a4a="true">` work with prod binaries (but not validate as valid AMP) or come up

[2017-05-12 19:07] aghassemi commented on #9311
/cc @ampproject/a4a

[2017-05-12 19:16] krcrawford opened #9312 "amp-ad: OpenX Not passing DFP attributes, other than slot"
Using `<amp-ad type="openx">`, `data-dfp-*` values other than `data-dfp-slot` are not passed to DoubleClick as documentation suggests:

Load several consecutive ads with similar attributes, (six in my case)
[code]

Error:
[code]

Browser: Chrome Version 57.0.2987.133 (64-bit)
AMP Version: 1494446565961

[2017-05-12 19:19] ericlindley-g commented on #9305
/cc @choumx @cvializ

[2017-05-12 19:23] krcrawford commented on #9312
This seems to be a data validator issue where openx amp-ad is trying to validate the data intended for dfp, and thus fails in `3p:validateData`.

[2017-05-12 20:16] choumx commented on #9290
Strange, since `script-src` is not supposed to be a fallback directive for `worker-src`:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/worker-src

I'll reach out to the Chrome team.

[2017-05-12 20:18] kmh287 commented on #5988
I believe this was fixed in #6488

[commit](https://github.com/ampproject/amphtml/commit/9b832f8bc2a8d02416cac85f1e9ffd7f34136223)

[2017-05-12 20:18] #5988 closed

[2017-05-12 20:31] jridgewell commented on #9303
That's what I said. 😛

[2017-05-12 20:40] jridgewell commented on #9289
/to @dvoytenko, though I don't know if we specifically support iOS 8.

[2017-05-12 20:44] kmh287 commented on #4852
@ericlindley-g Can we close this issue? Looks like bind covers this use-case, as you mentioned.

[2017-05-12 20:50] jpettitt commented on #2861
See #9276

[2017-05-12 20:56] choumx commented on #9290
This was a recent change in W3C: https://github.com/w3c/webappsec-csp/issues/146 and https://github.com/w3c/web-platform-tests/pull/5175

[2017-05-12 21:04] adelinamart commented on #638
@cramforce @mrjoro are we still considering this as a candidate for a first issue? Thanks

[2017-05-12 21:05] Rahul007shah commented on #6625
Hi Team,

This is Rahul Shah from Priceline.com. We want Typeahead functionality in our home page. User types destination, From, To etc. fields to search for location. **Autocomplete is show stopper** to go live with AMP version of Priceline.com. Autocomplete feature is must in e-commerce applications as a basic feature, which will be useful for e-commerce platform to come on AMP platform.

Thanks

[2017-05-12 21:06] adelinamart commented on #5230
@dvoytenko @jridgewell is this still happening? Thanks

[2017-05-12 21:08] adelinamart commented on #5177
@aghassemi is this something we are looking into? Thanks

[2017-05-12 21:09] adelinamart commented on #5166
@ericlindley-g @erwinmombay can this be cleaned? thanks

[2017-05-12 21:10] aghassemi commented on #5177
not actively, but good to keep it. It is somewhat a high-risk change to make.

[2017-05-12 21:11] adelinamart commented on #5125
the referenced bug seems to be fixed :) @dvoytenko can we close this also? Thanks

[2017-05-12 21:11] adelinamart commented on #1347
@dvoytenko is it still an issue? Thanks

[2017-05-12 21:13] adelinamart commented on #2751
@ericlindley-g @aghassemi we should consider prioritizing this soon. Thanks

[2017-05-12 21:14] adelinamart commented on #2771
@erwinmombay anything else to be done here? Thanks

[2017-05-12 21:15] adelinamart commented on #3578
@Gregable are we still considering this as an issue? Thanks

[2017-05-12 21:15] jridgewell commented on #9266
This isn't true, config changes require a whole new binary to be pushed.

[2017-05-12 21:16] adelinamart commented on #3618
@cramforce is this still an issue? Thanks

[2017-05-12 21:17] adelinamart commented on #4087
@jridgewell any updates here? Thanks

[2017-05-12 21:17] lannka commented on #9311
@Gregable can we add a rule to disallow `<amp-ad type="fake">`? So that we can enable it in production but only for testing and demo purpose.

[2017-05-12 21:18] jridgewell commented on #5125
Will waiting on the [clarification](https://bugs.webkit.org/show_bug.cgi?id=162499#c5).

[2017-05-12 21:18] adelinamart commented on #4104
@aghassemi if this is 'framework', shall we assign to @jridgewell ? Thanks

[2017-05-12 21:18] jridgewell commented on #5230
Nessy bugs are unsolvable. RIP `nessy` label.

[2017-05-12 21:18] #5230 closed

[2017-05-12 21:19] lannka commented on #9266
Still a bit faster.

But honestly, I still don't understand the benefits here.

[2017-05-12 21:19] adelinamart commented on #4171
@aghassemi I think some of the these can be cleaned up. Thanks

[2017-05-12 21:19] adelinamart commented on #4279
@avimehta are you still considering working on this issue? Thanks

[2017-05-12 21:20] jridgewell commented on #9266
How is it faster? Still requires a cherry-pick, new release branch, full compile, push, promotes. Everything is the same except the file that changes.

[2017-05-12 21:21] adelinamart commented on #4332
@erwinmombay @ericlindley-g is this still a P2 bug? Thanks

[2017-05-12 21:21] jridgewell commented on #4087
Need layers first.

[2017-05-12 21:22] adelinamart commented on #4455
@ericlindley-g @erwinmombay shall we consider this fixing it soon? Thanks

[2017-05-12 21:23] adelinamart commented on #4613
@lannka it seems @ColombiaOnline is not answering. Is there any otehr to reach them or shall we close this? Thanks

[2017-05-12 21:23] adelinamart commented on #4731
@erwinmombay shall we consider closing this one? Thanks

[2017-05-12 21:24] adelinamart commented on #4754
@ericlindley-g @aghassemi this might be good to have an update. Thanks

[2017-05-12 21:24] lannka commented on #4613
I will remove the example and close the bug.

[2017-05-12 21:24] adelinamart commented on #5024
@erwinmombay is this still a P2? Thanks

[2017-05-12 21:26] taymonbeal commented on #9266
My understanding was that it was a process issue; config flag changes are allowed to be pushed into production without waiting for the next canary cut, which means we don't have to wait two weeks to see the results. Is this not the case?

Adding @keithwrightbos since this was all his idea.

[2017-05-12 21:27] adelinamart commented on #5177
What are the risks and who else should be involved in this decision? Thanks

[2017-05-12 21:34] jridgewell commented on #9266
Ahh, yes, I hadn't thought of that. As long as you're not looking for emergency patches, this will be a week faster.

[2017-05-12 22:09] aghassemi commented on #4754
updated priority, still good todo for perf

[2017-05-12 22:16] lannka opened #9321 "AssertionError: expected 'amp-ima-video=1,test-exp=1,disabled-exp=0' to equal 'test-exp=1,disabled-exp=0'"
[Travis build](https://travis-ci.org/ampproject/amphtml/builds/231705944) is failing for a day.

[code]

[2017-05-12 22:44] aghassemi commented on #4104
@jridgewell would be happy when these are gone :) either way is fine with me.

[2017-05-12 22:46] aghassemi commented on #4171
Still experimental feature and not shipped.

[2017-05-12 22:57] #4613 closed

[2017-05-12 23:10] aghassemi commented on #9288
@ruborg thanks for the detailed report. Meanwhile, you can use `amp-img img { object-fit: contain }` in the scope that makes sense for you (e.g. `.my-lightbox amp-img img { object-fit: contain }` ) to get around this bug.

@muxin Something to test with lightbox 2.0

[2017-05-12 23:25] #8369 closed

[2017-05-12 23:32] ericlindley-g commented on #4332
Good question—bumping to P3

[2017-05-12 23:34] ericlindley-g commented on #4852
+1  Closing

[2017-05-12 23:34] #4852 closed

[2017-05-12 23:40] ericlindley-g commented on #9308
Thanks for filing!

Is there already documentation in an .md?

May be good to combine multiple form-related things into a single blog post (like de-bounced input trigger / autocomplete) — definitely good to get it all on the radar, regardless.

[2017-05-12 23:44] adelinamart commented on #9270
@jridgewell what category is this? Also, is it a bug or an FR? Thanks.

[2017-05-13 00:14] lannka commented on #9312
@krcrawford are you a user of openx? can you report bug to openx?
a temp fix might be removing [this line](https://github.com/ampproject/amphtml/blob/master/ads/openx.js#L50), but just want to make sure openx is aware of this change.

[2017-05-13 00:18] lannka opened #9325 "Error compiling extensions/amp-sticky-ad/1.0/amp-sticky-ad.js"
Build flaky:
[code]

[2017-05-13 01:03] lannka opened #9326 "Introduce examiner.js"
Following discussion [here](https://github.com/ampproject/amphtml/pull/9260).

`examiner.js` is a js tool that's served at `https://cdn.ampproject.org/examiner.js` and executed when user turn on `#development=1` on an AMP page.

It prints extra debug info to developers, in addition to `validator.js`, which prints format rules violations.

A main use case can be to leverage browser API [Performance

[2017-05-13 01:38] #9321 closed

[2017-05-13 02:17] lannka opened #9327 "amp-youtube Autoplay play/pause should play when in view port initially FAILED"
https://travis-ci.org/ampproject/amphtml/builds/231771730

[2017-05-13 02:24] aghassemi commented on #9327
Yeah this has been flaking too much recently, I will look into it.

[2017-05-13 15:00] keithwrightbos commented on #9272
@glevitzky please take lead on this.  Thanks

/cc @ampproject/a4a

[2017-05-13 15:03] keithwrightbos commented on #9266
Safeframe is used by GPT and thus throughout the mobile web.  Having the same version will greatly increase the probability of being in cache.  This is especially important as its used for iOS which does not support preload so we can't fetch it in advance of render (unless we're ok with creating an iframe src=<safeframe path> with sandbox disallow JS).  I'm ok with having to wait for the next prod

[2017-05-14 05:34] aghassemi opened #9328 "Android Chrome's disappearing header bar causes jumps in scrollbound animations"
Looks like `getBoundingClientRect` does not return the correct value while the addressbar header itself is animating; when header finishes animation, then correct coordinates are reported causing undesirable jumps with scrollbound animations :(

[2017-05-14 07:53] Liron-Gigya commented on #2586
Hi Graeme,

Which company do you work for? Who is your AM? We can continue this through
SF.

Thanks!
Liron

On Thu, Apr 20, 2017 at 3:59 PM, Graeme Pirie <notifications@github.com>
wrote:

[2017-05-14 10:51] ruborg commented on #9288
Ok, great, this is a good workaround. I'd been wrapping the carousel image in a flex `div` and using `align-items: center` to position correctly in the lightbox, but the `object-fit: contain` solution is cleaner, thanks.

[2017-05-14 10:54] cramforce commented on #3618
Yes

[2017-05-14 10:55] cramforce commented on #3618
CC @rsimha-amp We should do this at some point. Not sure how much we can win.

[2017-05-14 17:45] aghassemi commented on #6625
Hi @Rahul007shah. We have started working on supporting autocomplete. Please see and subscribe to #8824 #8825
/cc @ericlindley-g

[2017-05-15 01:01] mrjoro opened #9334 "Weekly Status 2017-05-15"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-05-15 01:01] #9198 closed

[2017-05-15 01:22] mrjoro commented on #8777
Any updates on this one?  We want to make sure to have a variety of Great First Issues when people are interested in helping out, and there some upcoming events (like I/O) that might attract more new people.  Please try to get a new one in soon.

[2017-05-15 01:23] mrjoro commented on #8776
Did you end up creating one in ampstart?  Should we create a Great First Issues milestone in ampstart or should we just track them here?

We want to make sure to have a variety of Great First Issues when people are interested in helping out, and there some upcoming events (like I/O) that might attract more new people.  If you haven't already, please try to get a new one in soon.

[2017-05-15 01:37] 1987yama3 commented on #7983
@avimehta @lannka

I'm sorry for reply late.

I think that this PR is wrong.
If I setting to ```'anonymizeIP': ''```, the request parameter will be ```_v=a1&ds=AMP&&_s=something```(duplicate ampersand).

How about thinking that the code below is better?

[code]

[code]

[2017-05-15 03:51] milesthedisch commented on #6829
@lannka Ping

[2017-05-15 04:55] aghassemi commented on #9311
So I ended up with a custom build of binaries on firebase to be able to embed non-valid A4A creatives for demos on AMP-By-Example. Not planning to maintain that build however, hoping this feature can be added soon.

Few notes on how I think this should work based on this experience:

Let's assume a different format for this for simplicity:
`<amp-ad-fake-a4a src="Url">`

1. Whether Url is the same

[2017-05-15 06:52] duksh commented on #7972
Does AMP use any sort of Grid system (for the css)? I understand that the styles are defined inline

[2017-05-15 14:04] aonurdemir commented on #2663
I am not sure that the discussion is addressing my problem. Therefore, I would like to describe my problem:

I have a blog having a lot of articles. Also have amp pages(links) of them. In each article, there are links to other articles, which are also amp links.(Those links are created in the server side if an amp version exists. If not, non-amp links are placed.)
When a user views one of my artic

[2017-05-15 14:04] Rahul007shah commented on #6625
Hi @aghassemi Thanks for the update.

[2017-05-15 15:39] alf7 commented on #9135
Yeah, this seems like a very reasonable thing to support, but as Greg and Dima pointed out, it's just an optimization.

[2017-05-15 15:39] msukmanowsky opened #9337 "Support for time engaged since last timer trigger"
## What's the issue?

Hi @rudygalfi and team, we're looking to add engaged time support to the Parse.ly analytics tracker. Following #1296 and examples I'm seeing in the code, it seems that the recommended approach is to implement a timer trigger that uses a special request which appends `${totalEngagedTime}`.

Parse.ly's JavaScript tracker has an engaged time implementation that sends a "heartbea

[2017-05-15 16:02] krcrawford commented on #9312
From OpenX Sr.

[2017-05-15 16:55] dvoytenko commented on #9283
Overall, great idea. I need to check -  we possibly may need to exclude `<amp-body>` from this though. I think it's explicitly public, for PWA/SD polyfill only.

[2017-05-15 17:03] aghassemi commented on #7972
@duksh  http://ampstart.com is AMP's CSS framework that also includes http://basscss.com/ (which similar to bootstrap has a Grid system for rows and columns, etc..) Please take a look there.

[2017-05-15 17:16] dvoytenko commented on #9267
I believe this example has been fixed and the fix is already in Canary.

[2017-05-15 17:19] dvoytenko commented on #9334
Working on:
* Animations `calc`/`var` support
* A4A measurements

[2017-05-15 17:44] muxin commented on #9334
- Continue working on lightbox viewer 2.0: lightbox caption
- Fix cannot apply fromCharCode in old chrome

[2017-05-15 17:53] lannka opened #9341 "Create GFI"
Everyone create at lease one GFI.

[2017-05-15 17:55] rsimha-amp commented on #8340
With the above PRs, this issue can be closed. Scaling up the number of snapshot tests will be tracked in a different issue.

[2017-05-15 17:55] #8340 closed

[2017-05-15 18:00] rsimha-amp commented on #9334
- Added a new gulp task that checks for dead links in .md files (PR #9225)
- Integrated Percy visual diff testing with Travis (Issue #8340)

[2017-05-15 18:00] dvoytenko opened #9343 "Chunker blocks document's render-start until all already-received extensions are installed"
This comes from https://github.com/ampproject/amphtml/blob/c3115c80aede8316949cb2880316c94fef9f4051/src/runtime.js#L303

This is unnecessary, b/c most of extensions do not really block rendering and those that do have special processing. Also, dependency on whether the extension has already been downloaded constitutes a race condition.

Can we find a reliable way to _always_ slow down extension in

[2017-05-15 18:01] rsimha-amp commented on #9303
Okay! My assumption was that md file changes were rare, and this wouldn't affect most PRs. Happy to make the change.

[2017-05-15 18:05] dvoytenko commented on #1347
Yes

[2017-05-15 18:06] dvoytenko commented on #3578
Yes. Actively being developed right now.

[2017-05-15 18:07] dvoytenko commented on #5125
I did independently confirmed that this appears to be the direction that's being taken by iOS Safari.

[2017-05-15 18:07] #5125 closed

[2017-05-15 18:10] spacedino commented on #9334
AMP Start
- Config
- more templates strategy
- new landing page type

ABE
- new demo page type
- IA of site
- adding new features

Ads Loader
- choose final and launch
- slow down animation

[2017-05-15 18:14] dvoytenko commented on #9289
With policy of N-2, indeed, AMP is not supposed to be launched on iOS8 anywhere. However, I do see it launched in Google Search. I'll discuss it with them. And I'll fix the bug as well for now.

[2017-05-15 18:16] lannka commented on #9266
Honestly I doubt this will improve the cache hit rate. In fact, the late we change the version, the better chance we hit the cache for the new version. Isn't it?

[2017-05-15 18:16] madocar opened #9345 "Custom Post Type Support To WordPress AMP Pages"
Hi,

​I would like to ask you there is any possibility to help me.​
The thing is I have a lot of specific pages (taxomies) with no AMP functionality.

​Look here:
http://www.foodfest.sk/jedla/obed/amp/
http://www.foodfest.sk/ingrediencie/vajcia/amp/

These pages are redirected to URL with no /amp/ at the end.​
I added this code to function.php but still no progress.

    function isa_amp_add_cpt()

[2017-05-15 18:19] zhouyx commented on #9334
- Implemented very initial experimental version of Position Observer that now can only be used for amp-animation.
- Investigating data difference between `hidden` `hidden-v3`.
- Working on cleaning ad uiHandler code.
- Working on supporting selector to customEvent trigger.

[2017-05-15 18:22] jridgewell commented on #9343
I'm not sure I follow.

[2017-05-15 18:22] aghassemi commented on #9334
* allow more than on `amp-sidebar` on the page #9165
* amp-accordion bug fix #9221
* prioritization change for some heavier embeds #9224
* scrollbound amp-animations merged. #8737
* amp-by-example samples for scrollbound amp-animations https://github.com/ampproject/amp-by-example/pull/812
* A4A fake network discussions https://github.com/ampproject/amphtml/issues/9311and #9331

[2017-05-15 18:24] dvoytenko commented on #9326
+1

I'd recommend maybe to load it under `#development=2` or such. Unless you believe it's a good info for page authors as well.

[2017-05-15 18:39] dvoytenko commented on #9343
How about this: [this code](https://github.com/ampproject/amphtml/blob/c3115c80aede8316949cb2880316c94fef9f4051/src/runtime.js#L303) appears to block [this code](https://github.com/ampproject/amphtml/blob/1c23274890c590f550df5d37b5f51a94c620baf3/src/amp.js#L101) a lot of times, which is unnecessary.

[2017-05-15 18:48] tdrl commented on #9266
The point is that SafeFrame is used extensively _outside_ of AMP.  So it's highly likely that the user will have the new SafeFrame in browser cache just from non-AMP browsing.  But if we allow the version used by Fast Fetch to fall too far out of date, then it will be more likely to be a cache miss, since the only source for it will be AMP page views, not (AMP page views + all other page views).

[2017-05-15 18:55] lannka commented on #9326
@dvoytenko my intention was to bring it up to content authors' attention. So they have an idea who are the 3Ps that are degrading theirs user experience.

[2017-05-15 18:58] dvoytenko commented on #9326
Cool. Then it looks great!

[2017-05-15 20:09] #9303 closed

[2017-05-15 20:10] rsimha-amp commented on #5294
Ping.

[2017-05-15 20:10] lannka commented on #9266
That's a fair point, if SafeFrame is almost guaranteed to be used outside AMP first.

I actually like this idea. One step further, we can let ad response decide the whole frame URL. We can default to AMP name frame. Not sure what's the security implication though.

[2017-05-15 20:22] taymonbeal commented on #9266
This doesn't work as nicely as you might be envisioning, because we'd still need runtime logic for each possible `name` format. NameFrame just uses the entire creative text as the `name`, but SafeFrame does something more complicated with a multipart string.

At any rate, this is all supposed to be temporary, we want to support NameFrame as the only rendering option for non-AMP creatives eventuall

[2017-05-15 20:31] camelburrito commented on #9043
Design is done on this and PHP implementation will begin next week (Alberto is taking on that task.). Ill update this bug with the design if possible.

[2017-05-15 20:33] camelburrito commented on #8776
Yes i did - https://github.com/ampproject/ampstart/issues/354

[2017-05-15 20:33] #8776 closed

[2017-05-15 20:35] camelburrito commented on #8553
Looks like apple did not release the fix on IOS beta yet - they did release it on desktop safari- ill try to find some time to make it look better until apple fixes it.

[2017-05-15 20:38] jridgewell commented on #9345
Hi @madocar: This is a repo for the open source AMP library, not for publishing AMP pages using wordpress. You'll likely get a much better answer on [StackOverflow](http://stackoverflow.com/questions/tagged/amp-html).

[2017-05-15 20:38] #9345 closed

[2017-05-15 20:40] jridgewell commented on #9334
- AMP layers
- defering measures of contained elements (https://github.com/ampproject/amphtml/pull/9279, https://github.com/ampproject/amphtml/pull/9282)

[2017-05-15 20:44] #7984 closed

[2017-05-15 20:47] lannka commented on #9266
Merging into single option sounds great.

@dvoytenko do we envision `AMP_CONF` to be used for 3rd party config? That's my only concern. It can reduce our future flexibility on this config, because so far this config is purely for our own experiment flags.

On the other hand, the improvement from this proposal seems really tiny to me (Cutting 2wk to 1wk). Meantime, the version upgrade seems to be a

[2017-05-15 20:59] taymonbeal commented on #9266
This is really not a very good example of "third-party config". Every Fast Fetch ad network uses this. It's currently the case that, through an accident of development history, a universal-in-principle AMP component happens to depend on this particular bit of third-party infrastructure. Hopefully that'll change at some point soon as we find a way to eliminate the dependency.

SafeFrame changes hav

[2017-05-15 21:38] jridgewell commented on #9048
Pulling this as my Fixit.

[2017-05-15 21:46] cramforce commented on #9343
Does this code somehow now help in your case https://github.com/ampproject/amphtml/blob/c3115c80aede8316949cb2880316c94fef9f4051/src/runtime.js#L999
?

[2017-05-15 22:21] johnnyshankman commented on #1968
I'd still really appreciate this. There is currently no way to know if a page is valid using standard JS.

Can there not be a class selector on the HTML and/or an object accessible via window which holds the validation state when developers append `#development=1`?

This would be really useful for E2E testing via things like Robot Framework and Ghost Inspector.

[2017-05-15 22:35] lannka commented on #9334
AMP Ads & Analytics
- Fixed a blank ads bug  #9249.
- GA cookie migration: allow specifying cookie name for CID #8847

Misc
- Introduced examiner.js #9326

[2017-05-15 22:49] erwinmombay commented on #9334
- fixed error report truncation in go code (https://github.com/ampproject/amphtml/pull/9240)
- dynamically insert script for unknown extensions found in live-list

[2017-05-15 22:55] dvoytenko opened #9352 "Racy layout=nodisplay"
Some elements occasionally get measured before `layout=nodisplay` is applied which leads to incorrect initial measurements.

[2017-05-15 22:57] dvoytenko opened #9353 "Cleanup `toggleLayoutDisplay` API usage"
Related to #9352. Can only be done when #9352 fix is in PROD.

Related elements:

- [ ]     amp-animation
- [ ]     amp-app-banner
- [ ]     amp-lightbox
- [ ]     amp-image-lightbox
- [ ]     amp-lightbox-viewer
- [ ]     amp-sticky-ad
- [ ]     amp-sidebar
- [ ]     amp-user-notification

[2017-05-15 23:33] #9289 closed

[2017-05-15 23:36] sebastianbenz opened #9355 "amp-twitter: support fallback"
amp-twitter does not support fallback elements in case a tweet could not be loaded. It'd be great if we could support something like this:

[code]

Context: http://stackoverflow.com/questions/43975240/amp-twitter-fallback-when-tweet-deleted

[2017-05-15 23:37] dvoytenko commented on #9266
@lannka

AMP_CONFIG is currently only for 1p needs. It's update latency, per request, can be as low as 1hr.

[2017-05-15 23:42] jasti commented on #9307
@lannka approach seems fine. I suggest we get to the point of launching 1% canary and notify developers in the AMP ads "team" in GH and Slack.

[2017-05-15 23:44] #9180 closed

[2017-05-15 23:47] dvoytenko commented on #9343
I think the opposite - it may hurt. I.e. we always want any extension to be loaded after render-start.

[2017-05-15 23:52] jridgewell commented on #9343
Can't we make extensions low priority then? IE, use `chunk` and not `startupChunk`?

[2017-05-15 23:53] dvoytenko commented on #9343
Maybe. Whichever is the most appropriate here.

[2017-05-16 00:19] aghassemi commented on #9355
/cc @ericlindley-g

[2017-05-16 00:21] aghassemi opened #9358 "amp-form XHR test is flaky"
[code]

https://travis-ci.org/ampproject/amphtml/builds/232622496?utm_source=github_status&utm_medium=notification

[2017-05-16 00:39] #9352 closed

[2017-05-16 00:44] cramforce commented on #9343
The code I pointed to runs the extension installation after all chunks.

[2017-05-16 00:46] ericlindley-g commented on #8844
/cc @sebastianbenz

[2017-05-16 00:48] dvoytenko commented on #9276
@jpettitt Thanks for the I2I. We'll review it. Normally I'd schedule it for a design review this week, but give I/O we'll probably push it to the following week...

[2017-05-16 08:03] pearlwang1106 commented on #9265
#9363 When can AMP support baidu stats?

[2017-05-16 12:39] kmh287 commented on #8844
@choumx That's definitely one of the motivating use cases here. XHR would take precedence over JSON, allowing for unchanging or fallback data in the child JSON.

[2017-05-16 12:54] mbreinesberger commented on #6109
Hello! I am new to AMP.

Has this already been fixed? I tried to implement adtech, but the magic number is still not replaced and the banner is not displayed. If not, can the issue please be re-opened or what else could I do? Thanks.

[2017-05-16 12:55] kmh287 commented on #8197
Thank you to @sreenidhipm for splitting off the tests for text integration! :tada:

I'm un-assigning @sreenidhipm due to inactivity. Anyone who would like to work on this, feel free to claim the issue.

[2017-05-16 13:22] jasti commented on #6109
@mbreinesberger could you please reach out to adtech directly as they control their AMP implementation? Thanks.
CC @lisamayo

[2017-05-16 15:41] johnnyshankman commented on #1968
@Gregable are there any new options for what I've described since this issue was opened? Looking for a reliable way to check validation status using just vanilla JS after appending `#development=1`

[2017-05-16 15:53] keithwrightbos commented on #9266
Resolved via #9360

[2017-05-16 15:53] #9266 closed

[2017-05-16 16:11] aghassemi commented on #2751
`amp-social-share` will be supporting SMS with https://github.com/ampproject/amphtml/pull/9365 . That provides a good alternative for this issue.

Closing, feel free to reopen if SMS support in `amp-social-share` is not enough for your use-case.

[2017-05-16 16:11] #2751 closed

[2017-05-16 16:53] dvoytenko commented on #9343
Ok, let's double-check. I seemingly was able to get into the reverse very easily.

[2017-05-16 17:42] zhouyx opened #9370 "Analytics root: wait for document ready before select element"

[2017-05-16 17:49] zhouyx commented on #9325
Should be related to #9042. I am thinking there's a race condition here on whether amp-sticky-ad-0.1 or amp-sticky-ad-1.0 gets built first. @erwinmombay Would you please take a look, I am pretty confused 😢

[2017-05-16 17:49] johnnyshankman opened #9371 "Feature Request: No way to check AMP Validation State using Vanilla HTML+JS"
## What's the issue?

_**Feature request:**_

_Gherkin:_
As a developer writing end to end tests
When I go to an AMP page with `#development=1` appended to the URL
I expect that I can check the validation state of the current page using a single line of synchronous JS in the console

_More info_
I think it makes the most sense for there to be a data attribute appended to the `<html amp>` element i

[2017-05-16 18:20] dvoytenko commented on #7952
The animations now correctly wait for all dependent elements as defined in #7921. The next step here is to disable all loading indicators inside an Ad/embed. The actual blocking of rendering however, I believe, we should not do. Let's complete all other issues and reassess.

[2017-05-16 18:39] choumx commented on #7230
/cc @kmh287 Would be nice to de-dupe some internal data structures if you're interested.

[2017-05-16 18:41] choumx commented on #9045
/cc @kmh287

[2017-05-16 18:51] jasti commented on #9021
As discussed with @zhouyx and @lannka . We decided to reset analytics in cases where the unlayout happens. The two cases we know are:
1. when user swipes between documents and goes back to the original document  - this happens rarely and resetting analytics in this case shouldn't impact metrics by a lot
2. AMP ad refresh case - since ads ship their own analytics in the A4A case, this case is fine.

[2017-05-16 19:01] jridgewell commented on #9371
Why aren't you just using the [validator](https://www.npmjs.com/package/amphtml-validator)?

[2017-05-16 19:06] jridgewell commented on #9265
After merge, it will take roughly 2 weeks before it enters production.

[2017-05-16 19:10] jridgewell opened #9375 "Cleanup isProtocolValid"
- [x] https://github.com/ampproject/amphtml/pull/9351#discussion_r116621164
- [x] https://github.com/ampproject/amphtml/pull/9351#discussion_r116625018

[2017-05-16 20:03] zhouyx commented on #9325
https://travis-ci.org/ampproject/amphtml/builds/231656087

[2017-05-16 20:10] #8418 closed

[2017-05-16 20:14] Gregable commented on #8978
See https://github.com/ampproject/amphtml/blob/master/validator/CHANGELOG.md

We'll update this on ever validator release from here out.

[2017-05-16 20:14] #8978 closed

[2017-05-16 21:17] diggy106 commented on #8978
Thanks!

[2017-05-16 21:30] gilbox opened #9378 "AMP "More Info" feature Breaks the X-button"
## What's the issue?

- Search google for "short term rentals new york"
- Click on the first airbnb AMP link
- Click the 3-dot button in the top-right and click "More Info"
- Click the browser back button
- Notice that the `X` button disappeared.

Maybe this is intended? Seems like a bug to me though.

## What browsers are affected?

iOS Safari

[2017-05-16 22:20] aghassemi opened #9379 "unskip youtube and ima integration tests"
too flaky at the moment.

[2017-05-16 23:12] jridgewell commented on #9378
Tracking internally at b/38353314.

[2017-05-16 23:22] lannka opened #9383 "clientId scope needed for analytics vendor snowplow"
See https://github.com/ampproject/amphtml/pull/8227/files#r116880604

@ecoron

[2017-05-16 23:25] #9009 closed

[2017-05-16 23:30] aghassemi opened #9385 "Error: race condition on customElement stubbing"
has been reported several times.

seems to be happening on Chrome 4x and SamsungBrowser only
/to @zhouyx

[2017-05-16 23:40] dvoytenko commented on #9178
@erwinmombay new transformer has been deployed, right? If so, then it was definitely not enough and the next step is a must - translating to `MESSAGE -> at -> NAME -> URL:COL` format that Justin has described.

I have to push the priority back to P0 :(

[2017-05-16 23:58] jridgewell commented on #9385
Any more details?

[2017-05-17 00:02] cramforce commented on #9276
Why does there need to be a vendor iframe? A CORS request should be fine.

Should define that if the process for resolving links hasn't finished, then the base link is followed.

[2017-05-17 00:02] aghassemi commented on #9385
It's a signal @zhouyx has been monitoring for sticky ad , just wanted to inform her it is being seen.

[2017-05-17 00:09] lannka opened #9387 "Reduce the travis build time"
Right now it takes travis ~30m for a [pull request](https://travis-ci.org/ampproject/amphtml/builds/233030921) and ~40m for a [release build](https://travis-ci.org/ampproject/amphtml/builds/232917583). Let's speeeed it up!!

[code]

Some ideas:
- [Parallelize jobs](https://docs.travis-ci.com/user/speeding-up-the-build/) on different VMs. All presubmit checks can be moved to a separate VM (~4min).

[2017-05-17 00:17] cramforce commented on #9268
The current feature doesn't support writing a cookie. This could be changed, but the current user doesn't want it.

[2017-05-17 00:30] lannka commented on #9268
Then [README](https://github.com/ampproject/amphtml/blob/master/ads/README.md#available-information) is misleading.

[2017-05-17 00:32] cramforce commented on #9268
You mean to add a bullet point:

- A cookie if it is not present yet.

?

[2017-05-17 00:39] lannka commented on #9268
Or we can fix the behavior. Why don't we just write a cookie if it does not exist. I think it's valuable as ads in 3P frame will have problem to do cookie in safari.

Non-related finding: I saw we have 10 networks calling `context.clientId`, but only 3 configured `clientIdScope` in `_config.js`. Seems this is something few people doing right.

[2017-05-17 00:40] cramforce commented on #9268
I don't have a strong opinion. It would certainly be reasonable to change.

[2017-05-17 00:53] muxin commented on #8358
Still not fixed

[2017-05-17 01:01] cramforce commented on #9387
We will need to prioritize this.

Good news is that we do have a very significant speed up for the compilation part on the horizon. I believe this is on @erwinmombay's OKRs for this quarter. It does, however, require significant changes and will take a few months.

[2017-05-17 01:15] lannka commented on #9387
Besides the compiler script improvement, we can still get the low hanging fruit like [Parallelizing jobs](https://docs.travis-ci.com/user/speeding-up-the-build/) on different VMs.

[2017-05-17 02:06] pearlwang1106 commented on #9265
2 weeks?!  A u kidding me? It's really too long.

[2017-05-17 02:17] aghassemi commented on #9358
reopening, didn't do it. still happening:

[code]

[2017-05-17 02:30] lannka commented on #9265
@pearlwang1106 no kidding, since you just missed today's binary cut. So it will be in next Tuesday's cut, which will hit production one week after.

[2017-05-17 02:49] pearlwang1106 commented on #9265
Too sad

[2017-05-17 06:25] ecoron commented on #9383
Hi, i take a look on it.

[2017-05-17 10:06] eike-hass commented on #8553
Does this issue regard pages added to the homescreen in particular? As described in #9137 the carousels seem to jitter a lot more in that scenario.

[2017-05-17 11:51] akhter004 opened #9392 "Error: Experiment "amp-bind" is disabled.​​​ _reported_"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-05-17 13:09] ericfs commented on #9378
Thanks for the report. Actually tracking at b/35339712.

[2017-05-17 14:14] cramforce commented on #9387
Absolutely!

On Tue, May 16, 2017 at 6:15 PM, Hongfei Ding <notifications@github.com>
wrote:

[2017-05-17 14:41] jpettitt commented on #9276
A CORS request requires vendors to build new endpoints vs an iframe that allows existing infrastructure to be shimmed.

[2017-05-17 14:46] cramforce commented on #9276
Right, our bar for reducing user experience over ease of implementation (by the vendor) is very high.
https://github.com/ampproject/amphtml/blob/master/contributing/DESIGN_PRINCIPLES.md#user-experience--developer-experience--ease-of-implementation

Since these vendors can then use the same endpoint to make their other integrations simpler as well, I think it is good for the web to only allow imple

[2017-05-17 15:28] aghassemi opened #9395 "amp-bind fails to upgrade in Friendly Iframe"
When `amp-bind` is used in an A4A ad, it fails when ad is rendered in FIE, works in 3p.

in FIE case, error is:

[code]

/cc @choumx @dvoytenko

[2017-05-17 16:04] gregdevs opened #9397 "AMP Image loading issue on long form story page."
## What's the issue?
AMP Images don't seem to load after the first few hundred pixels from the top of the browser as you scroll a long form story. Reference > https://www.google.com/amp/abcnews.go.com/amp/International/International/deepdive/syrian-refugee-children-photos-this-is-home-42066342

## How do we reproduce the issue?

1. Google search ABC News This is home
2. Click First link
3.  As you

[2017-05-17 16:08] aghassemi commented on #9392
@akhter004 `am-bind` is still an experimental feature. You need to enable it before being able to use it. Please follow instructions on this page: https://www.ampproject.org/docs/reference/experimental

You can also apply for origin trial for `amp-bind` if interested. Details here: https://www.ampproject.org/fr/latest/blog/test-amp-bind-on-your-site-with-an-origin-trial/

[2017-05-17 16:08] #9392 closed

[2017-05-17 16:40] rudygalfi commented on #9337
@msukmanowsky There's probably some syntax we could add to support this, but the question I have is whether that complexity in AMP would outweigh the server-side cost of getting an accumulated total and needing to compute differences. In other words, it seems like the data needed is available and it's just a question of how to get the derived data. Typically in AMP we prefer to take as much additi

[2017-05-17 16:48] jridgewell commented on #9378
Internally, this is working at intended. They're looking to change it, but don't have a timeline.

[2017-05-17 16:48] #9378 closed

[2017-05-17 16:54] jpettitt commented on #9276
Good point.  CORS it is.

[2017-05-17 17:11] msukmanowsky commented on #9337
@rudygalfi completely understand the reluctance to place any additional computational effort on the client. We debated this internally at Parse.ly in our non-AMP design but decided that computing the deltas server-side would require some visitor + url state map across all our customers that wasn't worth the effort compared to clients maintaining this state on their own.

I think your initial propo

[2017-05-17 17:20] aghassemi commented on #9397
Some investigations:

1- This only happens if the page is `prereneded` first via SERP first. Refreshing the page or hitting the viewer link directly does not repro the issue.
2- Similar long image pages under same condition do not repro the issue: Search for "top 25 news photos", the Atlantic AMP blue link is prerendered similar to this one but the issue is not producible on that page, there is pr

[2017-05-17 18:51] #9358 closed

[2017-05-17 19:16] johnnyshankman commented on #9371
@jridgewell not possible from something like Ghost Inspector or Ruby based feature testing a la Cucumber.

[2017-05-17 19:44] aghassemi commented on #9082
I also investigated this before I saw this issue. Vast majority of Ads on ABC News disappear because of this. (I almost reverted our release thinking we are the cause). This seems fairly a high priority issue to fix, no?

[2017-05-17 19:56] gregdevs commented on #9397
Interesting. Ok, i'll continue to dig in and try to find the cause of the issue.

[2017-05-17 20:01] choumx commented on #9395
Blocked by #7779.

[2017-05-17 20:30] yieldmo-rao commented on #9082
We've got a workaround on our end that is set to release tomorrow in the AM. I'll post here once that is done.

[2017-05-17 20:40] aghassemi commented on #9397
@gregdevs Still an AMP bug regardless, we are just hitting a race condition on that page that we are not hitting on some similar pages.

[2017-05-17 20:43] aghassemi commented on #9397
/cc @rsimha-amp Something to consider for image diffing infrastructure, how one lands on an AMP page (considering SRP, cache transformations, viewer pre-rendering, all play a role) matters on the final rendered result. Ideally we can account for these (or at minimum start with the common case which is SRP + cache + viewer rather than direct canonical link hit)

[2017-05-17 20:55] jridgewell commented on #9397
I'm debugging it now. Very close to finding the root cause.

[2017-05-17 21:14] rsimha-amp commented on #9387
Picking this up now.

[2017-05-17 21:47] jridgewell commented on #9397
The issue is the images think they're wayyyyyyy further down the page (some 10000px more) than they actually are. If I manually request a remeasure on the images, they get their correct positions, and rendering works properly (they're either `inViewport` or `renderOutsideViewport` eligible).

This is caused by an `<amp-carousel>` element with a ton of elements. Particularly, there are:

1. An `<am

[2017-05-17 21:47] aghassemi commented on #9170
Verified that this is in prod now for SRP viewer

[2017-05-17 21:58] aghassemi commented on #9397
Interesting, `.i-amphtml-layout-size-defined` should have protected against this with its `overflow:hidden` and applying fixed size before the extension even loads. Is the problem that `applyLayout_` is happening too late? I'd have expected no measuring to happen until `applyLayout_` is done for all elements.

[2017-05-17 22:04] jridgewell commented on #9397
Right, the carousel has not been stubbed yet, so it doesn't have `i-amphtml-notbuilt` nor `.i-amphtml-layout-size-defined` yet.

[2017-05-17 22:05] jridgewell commented on #9371
Can you use Cloudflare's validation API?

[2017-05-17 22:07] lannka commented on #9265
@pearlwang1106 don't forget to get an item to this file: https://github.com/ampproject/docs/blob/master/content/docs/guides/analytics_amp/analytics-vendors.md

[2017-05-17 22:07] rsimha-amp commented on #9387
@lannka: FYI, from a comment in pr-check.js, it appears that gulp dep-check does depend on gulp build having been run, so that one task cannot be run in a different VM. I'm testing a parallel run with the rest of the tasks you've marked in bold.

[2017-05-17 22:09] jridgewell commented on #9397
This is another that would be fixed by https://github.com/ampproject/amphtml/pull/9279. @dvoytenko I think we should merge it while we work on Layers.

[2017-05-17 22:19] lannka commented on #9387
@rsimha-amp I'm not sure why the dependency exists ( @erwinmombay can you chime in?), but this works:
[code]

[2017-05-17 22:21] rsimha-amp commented on #9387
@lannka, css files is precisely the reason. I think I can  do a css-only build and thereby separate out dep-check into a parallel task that's not on the main build task. Working on it.

[2017-05-17 22:39] gregdevs commented on #9397
whoa, interesting. I checked another page that is similar content type without the carousel and yeh, the images load as expected https://www.google.com/amp/abcnews.go.com/amp/US/deepdive/disappearing-beaches-sea-level-rise-39427567

[2017-05-17 22:41] rsimha-amp commented on #9387
From https://travis-ci.org/ampproject/amphtml/builds/233425954, it seems like Travis is running the shards one after another. I think we might need to enable concurrent builds for our project via the Travis settings. I'll look into doing that once I'm sure that the shards I've created are truly independent.

[2017-05-17 22:50] #9153 closed

[2017-05-17 23:27] lannka commented on #9387
The result is promising: https://travis-ci.org/ampproject/amphtml/builds/233430708?utm_source=github_status&utm_medium=notification

The failed unit test seems to be integration tests which should be probably moved to `/integration` test.

I suggest we do a `gulp build` for unit test now, and create another issue for people to clean those tests up.

[2017-05-17 23:32] choumx commented on #9290
AMP Cache CSP change: `cl/156356007`

[2017-05-17 23:59] rsimha-amp opened #9404 "Clean up unit tests and move all integration tests to integration/"
Some integration tests live in the unit tests directory. Discovered via issue #9387

[2017-05-18 00:10] #9375 closed

[2017-05-18 00:21] techhtml opened #9405 "Add support for embeding imgur"
## What's the issue?

`Imgur` is huge image community on the web,
They support embedding but that codes are
[code]

Proposed format:
[code]

I think this can't embed using Iframes.

[2017-05-18 00:28] rjvelicaria commented on #7937
We can close this.  This feature was successfully released at around 2017-03-31.

[2017-05-18 00:28] #7937 closed

[2017-05-18 00:42] rjvelicaria opened #9406 "Intent to Implement: additional OpenX amp-ad optional parameters"
This is only for OpenX amp-ads.
attributes to add:
* data-inventory-type  (naming subject to change)
  A number of our partners just want to reuse their old inventories instead of making a new set for AMP.  With the inventory type, they will not be stuck to mobile inventories and will be able to use regular desktop ones.  If this is missing, OpenX will refer to the partner's mobile inventory.
* da

[2017-05-18 02:05] rsimha-amp commented on #9387
@lannka, change made. The sharded build was fully parallel this time, and the build time is down to ~16 mins. However, since the unit tests currently need a full dist build, and it's not possible to do two parallel dist builds on the same machine, we're going to first have to clean up the unit tests before merging this change.

[2017-05-18 02:13] pearlwang1106 commented on #9265
Got it @lannka

[2017-05-18 02:46] bjalford commented on #1446
+1 for this. Our use case is to render the share count from Facebook using the graph API. It returns an array and not an object.

[2017-05-18 02:57] johnnyshankman commented on #9371
@jridgewell Yes, I could write a separate test suite that solely hits Cloudflare's validation API endpoint and then parses the JSON to check for validity. This just seems like a redundant/unnecessary step  to me since I'm already running E2E feature tests against fully-rendered AMP pages in Selenium/Capybara (or alternatively Ghost Inspector).

Wouldn't it be more efficient to take my same E2E tes

[2017-05-18 03:09] lannka commented on #9404
@choumx could you take a look the [failed tests](https://travis-ci.org/ampproject/amphtml/jobs/233463856) in test-bind-impl.js ?

It fails locally as well if you do
[code]

[2017-05-18 03:21] lannka commented on #9404
And it passes if you do
[code]

Ideally for unit test we should have no dependency with build at all, i.e., we should be able to do:
[code]

[2017-05-18 05:11] #9387 closed

[2017-05-18 05:26] Lillian-wang commented on #8592
Hey @camelburrito, just to confirm is this just a matter of updating the cursor CSS property when we're hovering over the selector? This seems pretty straightforward, but want to make sure I'm not missing something.

[2017-05-18 06:01] amphtml-team commented on #8592
Yeah
On Wed, May 17, 2017 at 10:26 PM Lillian <notifications@github.com> wrote:

--
-- Sriram

[2017-05-18 12:09] edhollinghurst opened #9410 "Closing amp-lightbox causes popstate to be triggered"
We're finding that closing an amp-lightbox causes the popstate event to be triggered.

This is an issue for us when using amp documents within our Progressive Web App (using AMP Shadow). We have an event listener for popstate (that fires when the browser forward or back button is clicked) to load that appropriate document:

[code]

However because the popstate event is also triggered when amp-ligh

[2017-05-18 13:07] eduardcotmrf commented on #9243
Hi,

any update in this question?

Thanks

[2017-05-18 13:57] kmh287 opened #9411 "Rename Keycodes enum to KeyCodes"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know

In order to prevent comparisons against "magic numbers" when responding to keyb

[2017-05-18 15:20] cvializ opened #9413 "Cleanup "input-debounced" experiment"

[2017-05-18 15:42] rsimha-amp commented on #9387
We now have a parallel build, so this issue is fixed. Note that even though the time reported by Travis appears to have increased, it is a result of the total server time spent by all parallel jobs. (See https://github.com/travis-ci/travis-ci/issues/1486 for a discussion on this.) The actual wall clock time for a full build has gone down from ~40 minutes to ~25 minutes.

[2017-05-18 16:15] yieldmo-rao commented on #9082
@jasti @aghassemi this has been launched. Just spot checked on a few websites, and the ad renders within the larger space without flickering and disappearing. Please let me know if you folks see the same behavior (please note: cache invalidation on our end might take up to 30 mins).

[2017-05-18 16:41] bjalford opened #9414 "pwa: combination of amp-ads and dfp ads"
When building using the pwamp pattern (shadowdown amp doc into pwa) and using a combination of DFP ads for the leaderboard for example and then the rest of ads are in the amp doc, it's not possible to do SRA.

One benefit would be to pass the correlator from the pwa to the amp doc through the ampshadow. That would help with non-guaranteed roadblocks.

[2017-05-18 16:52] bjalford opened #9415 "ITT: amp-timeago add cutoff time"
We have a use case where we want the date to be formatted as time ago only for a defined time period e.g. if the time ago is over a week then display the date rather than X days ago.

This ITT is to add support for a cutoff property of the timeago component.

e.g.
<amp-timeago layout="fixed-height" height="20" datetime="2017-04-11T00:37:33.809Z" locale="en" **cutoff="604800000"**>Saturday 11 April

[2017-05-18 17:44] ericfs opened #9416 "Update path prefix check"
Check is here:
https://github.com/ampproject/amphtml/blob/012b8ea65b5bccf26b3f8ed146a1ac3d6fea734e/src/url.js#L361

Internally tracked: b/38323512

[2017-05-18 17:46] age401 opened #9417 "SVG Validation error on DEFS tag"
## What's the issue?
Hi, I'm getting a validation error on an inline SVG graphic:

I understand that DEFS is supported, any ideas?

## How do we reproduce the issue?
1. The URL to check is:
http://netbis.com.ar/ventas-online-inmobiliarias/dev-index-10.html

2. The SVG code is:
`<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><defs><style>.cls-1{fill:non

[2017-05-18 18:03] aghassemi commented on #9082
Thanks! Verified

[2017-05-18 18:03] #9082 closed

[2017-05-18 18:41] johnnyshankman commented on #9371
Another reason why using Cloudflare isn't a perfect solution:

We host our CI/pre-prod builds on a private server requiring username+password credentials. We'd have to expose our credentials into the URL using `name:pwd@url.com` syntax in order to let Cloudflare through our authentication when validating against new builds and looking for smoke before going to production. Not ideal.

[2017-05-18 18:47] aghassemi commented on #9405
@techhtml Thanks for filing.

Should be similar to `<amp-instagram>` embed (likely much lighter on the implementation).

Contributions are very welcomed! https://bit.ly/helpamp  if you are interested.

[2017-05-18 18:49] aghassemi commented on #9415
SGTM!

[2017-05-18 18:50] aghassemi commented on #9417
to @ampproject/validator

[2017-05-18 18:56] jridgewell commented on #9371
/to @powdercloud. Ideally, the validator included with `#development=1` would have just have a `validate` that works like the NPM module.

[2017-05-18 18:58] rjvelicaria commented on #9406
I'll close this one for now since it got deprioritized.

[2017-05-18 18:58] #9406 closed

[2017-05-18 19:03] aghassemi commented on #9415
Could cutoff be an ISO date similar to datetime attr instead is ms?

[2017-05-18 19:09] bjalford commented on #9415
@aghassemi the thinking behind a relative time was to cater for pages that are in caches including CDNs. I guess that can be calculated on the backend so yes maybe ISO date is better.

[2017-05-18 19:21] coryphwang opened #9421 "AMP carousels on 'Who is AMP for?' pages need navigational arrows so viewers on mobile or narrow viewport pages know to scroll for more content"
## What's the issue?
When viewing three sub-pages to 'Who is AMP for?', I noticed that I missed some of the content in AMP carousels when viewing the pages from my mobile phone (Nexus 5X), or a Chrome browser window using a narrow viewport.

It would be great if we could add the "controls" attribute per the docs: https://www.ampproject.org/docs/reference/components/amp-carousel#attributes

WORKING

[2017-05-18 19:22] choumx commented on #9290
AMP Cache change submitted, we added `script-src blob:` to CSP.

/cc @dknecht FYI

[2017-05-18 19:22] #9290 closed

[2017-05-18 19:33] jridgewell commented on #9415
If we go with cutoff being a maximum diff, let's use seconds and not ms. Or, let's do an ISO date. Either is fine.

[2017-05-18 19:53] rsimha-amp commented on #9069
Tracking quota purchase with a different issue. Closing this.

[2017-05-18 19:53] #9069 closed

[2017-05-18 19:54] #9038 closed

[2017-05-18 19:55] rsimha-amp commented on #8
Basic infrastructure is in place. Tracking the addition of more tests via separate issues.

[2017-05-18 19:55] #8 closed

[2017-05-18 19:57] jridgewell commented on #9038
@rsimha-amp Use (explicitly) "Fixes #ISSUE" or "Closes #ISSUE" to auto-close when merging.

[2017-05-18 19:58] jridgewell commented on #9421
/to @pbakaus

[2017-05-18 21:15] ericlindley-g opened #9423 "FR: Infinite scroll"
Thinking through this, but first idea is allowing scroll events to trigger `amp-list[src]` update if a) w/in certain distance of bottom of document and b) target amp-list element is last child of `<body>`

Though there may be a better approach (e.g. w/ an entirely custom element)

[2017-05-18 21:19] alannawalton commented on #442
I would like to claim this.

[2017-05-18 21:23] choumx commented on #9291
This is weird.

`connectedCallback` is invoked for `amp-img` descendants of `amp-carousel[type="slides"]` immediately after [this line](https://github.com/ampproject/amphtml/blob/e562037b71b77b5ce2bff5a99e073fd4d0fd5688/extensions/amp-carousel/0.1/slidescroll.js#L184). This is surprising since the parent (`slideWrapper`) is clearly not connected.

In fact, the full dance caused by `appendChild` is

[2017-05-18 21:25] rsimha-amp commented on #9038
@jridgewell I added an annotation to #9348, but the format was wrong.

[2017-05-18 21:26] ericlindley-g opened #9424 "FR: Support collapsing <amp-list> parent element if amp-list call returns no data"
Intended to support UI for Suggested products or articles, comments, and other dynamic data that may not exist (yet) for a given page.

Typically there's a parent container with text like "Comments" or "Recommended for you" that is not a part of amp-list, followed by amp-list content. Would be great if there were an easy way to collapse this contextual parent container if no data is returned by am

[2017-05-18 21:41] xileftenurb opened #9427 "add "as-you-go-and-show-all-on-submit" for form "custom-validation-reporting""
I would like to have both reporting strategy ("as-you-go" ans "show-all-on-submit") for the same form.

so if the users interact with a input, the validation message will be visible right away, and if the user submit the form before touching required field, the "required" error show up.

right now, when I use "as-you-go", if there is some required field, nothing happen. there is no error showing t

[2017-05-18 21:51] xileftenurb commented on #7537
I got the same problem until I fount amp-form send all data of xhr request in enctype="multipart/form-data". if the server is not properly configured, there is a good chance body will remain empty in this condition.

I hope this help.

[2017-05-18 22:19] techhtml commented on #9405
@aghassemi I'll tried build that.
thanks :)

[2017-05-18 22:29] jridgewell commented on #9264
Closed by #9310.

[2017-05-18 22:49] Gregable commented on #9243
@dvoytenko

[2017-05-18 23:32] lawnsea commented on #6221
We shipped a new AMP test that employs the suggested workaround. Currently live here: https://www.google.com/amp/s/www.retailmenot.com/amp/view/airbnb.com

Unfortunately, calling `window.opener.location.assign` in the new tab results in the following error:

I took a look at this with @sebastianbenz, who provided the helpful information that Search loads AMP pages from the cache in an iframe. So,

[2017-05-19 00:00] ericlindley-g opened #9430 "update default placeholder for amp-img, amp-iframe, etc"

[2017-05-19 00:06] powdercloud commented on #9371
I looked into it for a bit. The status quo is that when #development=1 is appended, this code runs:
https://github.com/ampproject/amphtml/blob/master/src/validator-integration.js
Specifically, there's a call to amp.validator.validateUrlAndLog.
And it looks like once this is all done and I'm in the browser's console (I use Chrome), I can put
amp.validator.validateUrlAndLog(window.location.href);
to

[2017-05-19 00:30] lawnsea commented on #6221
I spoke with @cramforce who clarified that we should be *assigning* to the `location` property, not calling `location.assign()`. This works from the console within the context of the AMP iframe, but when I try `window.opener.top.location = 'https://airbnb.com'` from the console of the new tab, I get the following errors:

[code]

It's possible that the console is affecting the result. We will try

[2017-05-19 01:10] #9291 closed

[2017-05-19 03:02] jonkeller opened #9433 "AMP Analytics 3P Obfuscation"
One-Pager: https://docs.google.com/document/d/1mCW7HbQBWQONTWA2q_rKNJyTEdqGOyhX-x-ces4JHWc/edit#

Initial PR: Initial implementation, including:
* xframe creation
* xframe teardown when no longer used
* supplying URL via vendors.js only
* supplying some mechanism for additional config (initially explored URL hash but possibly changing that), and making this XSS-safe
* messages to and from creative

[2017-05-19 03:02] jonkeller commented on #9433
CC @keithwrightbos

[2017-05-19 03:54] lannka commented on #9387
this is awesome. I suggest we can enable integration test for each pull request now.

[2017-05-19 05:56] droms commented on #9411
I would like to give this issue ago if no one has claimed it yet

[2017-05-19 08:07] CemDemirkartal opened #9435 "Javascript Pollyfill"
I have an script which runs after AMP project,

Mainly i use, (native) **closest** and  **querySelector with :scope**; On some browsers it gives error.

AMP uses same but,
- Does AMP provides pollyfill; or Does it selfish pollyfill?

[2017-05-19 09:55] rowangray opened #9436 "Amp live list fails in shadow dom, no ampdoc found"
Including <amp-live-list> extension in a shadow AMP causes an error, that it can't find the ampdoc:

[2017-05-19 10:29] droms commented on #9411
I've updated all the occurrences of keycodes to KeyCodes.
I'm having trouble running the tests on my system getting multiple fails on both a fresh fork of the repository and with the changes. Any suggestions?

I'll create the pull request anyway but it hasn't been tested

[2017-05-19 12:18] tampajohn opened #9438 "Intent to Implement: Bringhub Mini-Storefront for amp-embed"
We would love to add support for the Bringhub Mini-Storefront widget.

We will be submitting a PR via the bringhub/amphtml fork.

[2017-05-19 12:45] kmh287 commented on #9411
Are you seeing test failures in files changed by your PR?

[2017-05-19 13:29] droms commented on #9411
Doesn't look like it. The same tests are failing on the clean fork of the repository

[2017-05-19 13:46] cramforce commented on #9387
@lannka that is a separate issue. It is now possible with changes of how secrets work in Travis. @erwinmombay started work, but I think it got stuck. What is the status?

[2017-05-19 14:32] cramforce commented on #8
I have a few questions that I'm not clear at:

- Are we blocking PRs yet on these tests succeeding?
- Can everyone see the diffs? I saw something about redacted secret tokens in the URL.

[2017-05-19 14:37] cramforce commented on #6221
It might be that what you are trying to do is explicitly forbidden.

Question: Do you normally do the navigation of the original window on click (at the same time as opening the window) or is it always the opened window navigating the opener?

[2017-05-19 14:56] kmh287 commented on #9411
Fixed by #9437

[2017-05-19 14:56] #9411 closed

[2017-05-19 15:04] lannka commented on #9268
@rudygalfi @avimehta any opinion on this? The behavior is inconsistent on CDN and pub hosted domain, because on CDN ad network can always get an AdCID, but on pub hosted domain, it relies on a cookie written by amp-analytics, which is not always there.

[2017-05-19 15:23] lannka commented on #9387
@cramforce i thought it will be a simple change in pr-check.js to enable integration test for pull requests, not just builds?

[2017-05-19 16:06] ecoron commented on #9383
hopefully solved in PR # 9440
have a nice weekend

[2017-05-19 16:37] #9383 closed

[2017-05-19 17:16] choumx opened #9441 "PWA: Survey components that re-parent children"
There may be other components that exhibit #9426.

[2017-05-19 17:25] jridgewell commented on #9435
We don't polyfill either, but we have helpers.

- [closest](https://github.com/ampproject/amphtml/blob/a3d4bd9d439786696a6c7a785dc2076b375b05aa/src/dom.js#L217-L231) (called closestBySelector, but it's the same)
- [querySelector](https://github.com/ampproject/amphtml/blob/a3d4bd9d439786696a6c7a785dc2076b375b05aa/src/dom.js#L416-L437)

[2017-05-19 17:25] #9435 closed

[2017-05-19 18:03] jpettitt commented on #9276
I have scheduling conflict of next week - can we put this on design review for the 31st?  Should be fairly quick.

[2017-05-19 18:32] CemDemirkartal commented on #9435
That mean's amp project is only for amp project.
There is no help for web designers / programmers.

People need heavy libraries to do pollyfill, which amp doesn't want it to be in HTML pages and amp doesn't share with in common.

[2017-05-19 18:45] lawnsea commented on #6221
@cramforce yes, we open a new tab with the code and then navigate the opener via JavaScript running in the opener.

[2017-05-19 18:52] zhouyx commented on #9385
duplicate of #9126

[2017-05-19 18:52] #9385 closed

[2017-05-19 18:53] zhouyx commented on #9385
@aghassemi Thanks of let me know. Will remove in next sprint.

[2017-05-19 18:57] aghassemi commented on #9427
/cc @ericlindley-g @cvializ

[2017-05-19 19:26] Cauchon opened #9445 "amp-iframe documentation states the 'allowfullscreen' attribute is allowed, but AMP page becomes invalid if used"
## What's the issue?

allowfullscreen is listed as an allowed attribute in the documentation, but the AMP Validator throws the following error when used:

`The attribute 'allowfullscreen' in tag 'amp-iframe' is set to the invalid value 'true'.`

Documentation: https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md

## How do we reproduce the issue?

Example URL: http

[2017-05-19 19:36] jridgewell commented on #9445
`allowfullscreen` shouldn't have a value, it's a naked attribute:

[code]

[2017-05-19 19:36] #9445 closed

[2017-05-19 20:37] Gregable commented on #9417
This is complaining about the `<style>` tag. The error could be better, but we are already tracking that. See https://www.ampproject.org/docs/guides/responsive/style_pages for more information.

[2017-05-19 20:37] #9417 closed

[2017-05-19 23:47] cramforce commented on #9387
Until recently saucelabs did not work in PRs because they could steal the
credentials. There is now a way to do it.

On Fri, May 19, 2017 at 8:23 AM, Hongfei Ding <notifications@github.com>
wrote:

[2017-05-19 23:48] cramforce commented on #9276
I will probably be out (moving), but otherwise should work.

[2017-05-19 23:51] rsimha-amp commented on #9387
@cramforce, from reading https://docs.travis-ci.com/user/pull-requests#Pull-Requests-and-Security-Restrictions, I was under the impression that secure keys are not available to PRs because if they were, anyone could write a test that simply printed the env vars containing the keys. Am I missing something?

[2017-05-19 23:54] cramforce commented on #9387
That used to be true, but their own info is outdated. See https://docs.travis-ci.com/user/sauce-connect/ for the JWT based solution.

It would be super awesome to finally get that to work for PRs!

[2017-05-20 01:07] #8358 closed

[2017-05-20 01:11] ericlindley-g commented on #9427
+1

Would be nice, in addition, if we could distinguish fields where the user has already made an attempt but hasn't made a valid entry, versus fields where they haven't made an attempt yet

[2017-05-20 01:14] #8966 closed

[2017-05-20 11:51] NithishReddy opened #9453 "After opening amp-lightbox in iphone safari browser it is removing uri part from the url. Any solution?"
Ex:
initial url is www.example.com/abc/user/def-123
after opening amp-lightbox in this page, the url becomes www.example.com.

is there any solution for this issue?

[2017-05-21 14:04] magyarandras opened #9455 "Users can't zoom pages in AMP Viewer"
## What's the issue?
The google mobile search results page has the following viewport settings in the head:
[code]
```user-scalable=yes```, but ```maximum-scale=1.0```, so the users can't zoom the search results and the AMP Viewer with their mobile devices.
![amp-viewer2](https://cloud.githubusercontent.com/assets/7831107/26284561/b270d68c-3e3e-11e7-9b87-6108d9b35d67.png)

I think it would be a go

[2017-05-21 15:27] ithinkihaveacat commented on #560
Is there a public viewer bug to follow?

[2017-05-21 20:47] jasti commented on #9438
@tampajohn, thanks. Stand by for review.

[2017-05-21 20:58] jasti commented on #9414
There is an internal discussion going on regarding this. @keithwrightbos FYI who is already working on AMP only SRA.

[2017-05-22 13:03] kmh287 opened #9459 "iOS text to speech reads origin instead of highlighted text"
Steps:
1: Enable text to speech by going to Settings -> accessibility -> speech
2: Open an AMP page in safari (or Chrome) on an iOS device.
3: Highlight a block of text
4: Select "Speak" to have the text read aloud

Expected:
iOS reads the highlighted text.

Actual:
iOS reads the origin name.

NOTE: I tested this on an iPhone running 10.3.3. I was also able to reproduce on XCode's simulators.

[2017-05-22 14:15] p2er opened #9461 "AMP Shadow incompatible with AMP Boilerplate"
## What's the issue?

When using AMP boilerplate incompatible with AMP shadow.

## How do we reproduce the issue?

Can be reproduced here: https://p2er.github.io/amp-articleslider/amp-pwa-with-ampshadow.html
*Warning:* race condition may change outcome as described on demo page

1. Open Example URL
2. Navigate with link to related article
3. Problem varies depending on initially loaded library
3.1

[2017-05-22 15:26] mrjoro opened #9464 "Weekly Status 2017-05-22"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-05-22 15:53] aghassemi commented on #9453
That's shouldn't happen, likely a regression bug. We will investigate.

/cc @ericlindley-g

[2017-05-22 15:59] aghassemi commented on #9455
/to @chenshay
/cc @ericfs

WAI? what are the concerns with enabling zoom in the viewer?

[2017-05-22 16:01] choumx commented on #9433
/to @lankka for triage.

[2017-05-22 16:02] aghassemi commented on #9459
I have a feeling this is somehow related to #5750 which has WebKit bug files under https://bugs.webkit.org/show_bug.cgi?id=163911

@kmh287 Could you try this with http://output.jsbin.com/kufici and see if it repros? http://output.jsbin.com/kufici is not an AMP page but rather a minimal repro case for https://bugs.webkit.org/show_bug.cgi?id=163911

[2017-05-22 16:03] aghassemi commented on #9461
/to @dvoytenko

[2017-05-22 16:07] aghassemi commented on #9047
done:
https://github.com/ampproject/amp-by-example/pull/812
https://github.com/ampproject/amp-by-example/pull/821
https://github.com/ampproject/amp-by-example/pull/822
https://github.com/ampproject/amp-by-example/pull/823
https://github.com/ampproject/amp-by-example/pull/825

[2017-05-22 16:07] #9047 closed

[2017-05-22 16:11] cramforce opened #9465 "Investigate whether amp-img decodes images on UI thread"
If this is the case, we might be able to use one of several work-arounds:

- `createImageBitmap`
- CSS background image
- …

[2017-05-22 16:16] rsimha-amp commented on #9387
Cool, good to know. I'll look into JWT this week.

[2017-05-22 16:25] #9436 closed

[2017-05-22 16:33] kmh287 commented on #9459
@aghassemi Cannot reproduce on that page, text to speech works as normal on that page.

I did a little digging on this and it looks like text to speech doesn't work for text inside of an iframe. If you create a simple HTML page (no AMP at all) that has text and then an iframe that contains text, when you try to have iOS read the text inside the iframe, it will instead read the text outside. It loo

[2017-05-22 16:52] aghassemi commented on #9459
@kmh287 Thanks! Added a comment to the WebKit bug, looks like it has not been shipped with any iOS versions yet. (BTW, that bug was created and fixed by our own @ericfs :clap:)

Closing since tracked externally.

[2017-05-22 16:52] #9459 closed

[2017-05-22 16:53] #9334 closed

[2017-05-22 16:53] ericfs commented on #9455
Tracked internally: b/38496044

The meta viewport tag is defined for the search page so please do feel free to file Google feedback about it.

[2017-05-22 16:59] aghassemi opened #9467 "amp-carousel: Attempting to access a non-existant slide"
Have seen a few of these errors recently. (do a search in error reporting to see examples).
Not to many cases but something to investigate as there should be no legit code path to get to this error.

/to @camelburrito

[2017-05-22 17:02] aghassemi commented on #9455
Thanks @ericfs

[2017-05-22 17:04] rsimha-amp commented on #9464
- Sped up Travis build through sharding (down from ~40m to ~25m) #9403
- Refactored exec commands in build-system into their own library #9348
- Cleaned up node-style done callbacks in mocha it tests #9450

[2017-05-22 17:19] cvializ commented on #8902
I'd like to briefly discuss #7168. I'm particularly interested in fielding @rudygalfi and @cramforce's perspectives.

[2017-05-22 17:35] kmh287 commented on #9292
#9292

[2017-05-22 17:43] choumx commented on #9464
- Fixed PWA bug with `amp-carousel` (#9291)
- Fixed CSP error on Chrome Canary (#9290)
- ["Building beautiful, interactive AMP pages"](https://events.google.com/io/schedule/?section=may-19&sid=a73c46cc-7732-4acc-b205-37be05338302) session at I/O

[2017-05-22 17:59] #8601 closed

[2017-05-22 18:04] rsimha-amp opened #9468 "Add tests that measure, compare, and report AMP vs. non-AMP battery consumption"

[2017-05-22 18:17] rsimha-amp opened #9469 "Make visual diff tests PR blocking in case of failures"

[2017-05-22 18:19] #442 closed

[2017-05-22 18:19] rsimha-amp opened #9470 "Make link checker tests PR blocking in case of failures"

[2017-05-22 18:22] rsimha-amp commented on #9469
Getting to this point will require a quota purchase on Percy, and infrastructure work to integrate results with GitHub.

[2017-05-22 18:25] rsimha-amp commented on #8
- We are not blocking PRs yet. I'm tracking that work via #9469.
- The free version of Percy doesn't appear to allow everyone to see the diffs. This has nothing to do with secret tokens (that's related to logs). I'm in the process of exploring a paid account on Percy to see if that will give us the ability to make diffs public.

[2017-05-22 18:35] lannka commented on #9464
- Looked into slow travis build, and proposed ideas to speed it up #9387.
- Collecting more user experience metrics #9408
- Fix analytics example page. Improved it with a vendor filter
- Talked to various publishers and introduce them AMP in I/O

[2017-05-22 18:50] magyarandras commented on #9455
Thanks! I sent a feedback report to Google as well.

[2017-05-22 19:30] aghassemi commented on #9464
* New Amp Ad samples on https://ampbyexample.com/amp-ads/#amp-ads/experimental_ads
* Clean up and testing of [Beautiful, interactive, canonical AMP pages codelab](https://codelabs.developers.google.com/codelabs/amp-beautiful-interactive-canonical/#0) for I/O
* Small tests/bug fixes: https://github.com/ampproject/amphtml/pull/9346, https://github.com/ampproject/amphtml/pull/9361, https://github.com

[2017-05-22 19:32] zhouyx commented on #9464
- Investigate analytics data difference between `hidden` and `hidden-v3` trigger
- I/O sandbox
- 3P Ads reviews

[2017-05-22 19:33] muxin commented on #9464
- Validate amp-app-banner url in ios
- Bug fix: remeasure amp-app-banner after built
- I/O sandbox

[2017-05-22 19:35] cvializ commented on #9464
- Deflaked `amp-form` unit- and integration-tests
- Allow the `amp-form` `submitting` state to be styled like `submit-success` and `submit-error`
- `amp-form` verification

[2017-05-22 19:53] bradfrizzell commented on #9404
Currently when running `gulp test` at head, I am seeing 35 test failures. All are related to amp-bind as far as I can tell. @jonkeller reproduced.

[2017-05-22 20:08] ericlindley-g opened #9471 "Document AMP CSRF solution"
I've gotten the question a couple times as to whether AMP supports CSRF tokens — it would be great to clearly articulate in the amp-form documentation how CSRF is handled, and why tokens are not needed.

/cc @aghassemi

[2017-05-22 20:34] bradfrizzell opened #9472 "35 Test Failures currently at head on master branch when testing locally"
Running `gulp test` locally right now is showing 35 test failures, while Travis is showing a green build.

This has been reproduced by @jonkeller and @lannka

This has been a recurring issue of the test suite running differently on Travis than locally (with the difference usually being that tests that fail locally pass on travis).

[2017-05-22 20:36] choumx commented on #9404
Thanks for raising this.

Failures are due to 404s because we always fetch the compiled `ww.js` instead of `ww.max.js`. Also, most tests in `test-bind-impl.js` are not really unit tests since they require web worker.

TODO:
- Move `test-bind-integration.js` to `test/integration`.
- Add support for fetching non-compiled URLs in `extension-location#calculateEntryPointScriptUrl`.
- Either move `test-

[2017-05-22 20:47] aghassemi opened #9473 "Fixed layer: Hidden elements toggled with show() missing top offset"
If a position fixed item is hidden and then display using `AMP.show('id')` the `top` property is not updated to reflect the current state of the viewer header.

[2017-05-22 20:49] choumx commented on #9472
Sorry about that. `amp-bind` tests currently require `gulp dist --fortesting` first (which is what Travis runs). You can run that locally until #9404 is fixed. Closing as dupe.

[2017-05-22 20:49] #9472 closed

[2017-05-22 20:53] choumx commented on #9404
/to @kmh287 Can you work on this? 😃

[2017-05-22 21:14] aghassemi commented on #9453
@NithishReddy Do you have a Url for a page that reproduced this issue? I have tried it with https://ampbyexample.com/components/amp-lightbox/ (in both origin and Google search viewer cases) and in both Url is unchanged after lightbox opens (Safari on / iOS 1.3.3)

[2017-05-22 21:16] aghassemi commented on #9459
Got a reply on the webkit bug regarding when fix will ship:  "A future version of iOS is all we can say"

[2017-05-22 22:28] aghassemi opened #9480 "amp-app-banner: Testing matrix"

[2017-05-22 22:29] aghassemi opened #9481 "amp-app-banner: Hide if no storage service"
If storage service is not available to store the "dismissed" state of the amp-app-banner, don't show the banner.

[2017-05-22 22:32] #9416 closed

[2017-05-22 22:58] taymonbeal opened #9482 "Developer documentation for describes.js and related files"
`describes` seems to be the current best practice for writing tests, but there's almost no API documentation, so I have a hard time determining what exactly the various APIs do and which ones I should use when.

[2017-05-22 22:59] taymonbeal commented on #9155
On reflection, it might be, so I'll close this for now. I may reopen it later if it turns out that we need any specific things that are missing.

[2017-05-22 22:59] #9155 closed

[2017-05-22 23:20] zhouyx opened #9483 "Launch `hidden-v3`"
Tracker issue.
After migrate to `hidden-v3` we can remove old code for v2.

[2017-05-22 23:28] zhouyx opened #9484 "Provide APIs to 3p extensions for analytics custom events"
Two API methods are provided for extension element to send analytics pings and customize their pings in different use cases.

### Manual trigger - CustomEventReporter class
Analytics triggers typically come from user events but one can also do manual triggering to send analytics pings with their customized data.

To trigger custom events, 3P extension element first need to build a `customEventRepo

[2017-05-22 23:37] choumx commented on #9482
/cc @dvoytenko

[2017-05-23 00:17] aghassemi opened #9487 "allow amp-lightbox z-index be configurable by removing !important rule"
Restricting to z-index 1000 is arbitrary, we should allow authors to change it to fit their content's z-index hierarchy.

/cc @dvoytenko Do you foresee any issues?

[2017-05-23 00:35] dandv commented on #2691
Now that I/O is over, I'm back to work on this since it can unblock a number of partners.

/cc @joemarini FYI

[2017-05-23 00:55] ericlindley-g commented on #9355
Might be nice to generalize this to anything that requires a network request — would that be possible?

[2017-05-23 01:01] ericlindley-g commented on #8819
@aghassemi ,  I'm assuming this is a bug; is that right?

[2017-05-23 01:03] #8380 closed

[2017-05-23 02:31] dvoytenko opened #9490 "PWA: switch shadow doc attachment to always use streams"
This can be done once #9491 graduates out of experimental.

[2017-05-23 03:14] lannka commented on #9472
@choumx I couldn't pass the test with:
[code]

[2017-05-23 03:29] dvoytenko opened #9491 "PWA: support shadow document streaming"
Currently the shadow-doc API provides only a fully-loaded document API. However, waiting for the last byte to arrives creates a high perceived latency. To address this, it's possibly to incrementally construct the shadow doc while streaming HTML as described [here](https://jakearchibald.com/2016/fun-hacks-faster-content/)

/cc @bjalford

[2017-05-23 04:25] lannka commented on #9433
A couple of things I can think of so far:
- please put everything behind an experiment flag
- we will want to limit the access to some sensitive vars of the document, like ClientID
- please expand the "additional triggers" and "additional vars" according to the requirement from Moat

We prefer web worker to iframe. Can web worker meet Moat's requirement?

[2017-05-23 05:58] Lillian-wang commented on #8592
I just did a pull request. PTAL. Thanks.

[2017-05-23 06:42] camelburrito commented on #8592
@lillian-wang can you link this issue in your PR description

[2017-05-23 06:50] #8592 closed

[2017-05-23 13:56] bradfrizzell commented on #9472
+1, I also couldn't pass with that

[2017-05-23 14:17] jonkeller commented on #9433
I have asked Victor @ MOAT about Web Worker, and am awaiting his response.
Re: everything else, I agree, and will do.
Thanks!

On Tue, May 23, 2017 at 12:25 AM, Hongfei Ding <notifications@github.com>
wrote:

[2017-05-23 16:04] kul3r4 commented on #9424
There was a similar discussion in #5686

[2017-05-23 16:25] NithishReddy commented on #9453
Hi Ali,

We are implementing AMP functionality for my project, that still in
development state only. while testing AMP pages, we have identified this
issue.

Testing device is iphone 6/6s.

is there any development mistake ???

any solution ???

--Nithish Reddy

--Nithish Reddy

On Tue, May 23, 2017 at 2:44 AM, Ali Ghassemi <notifications@github.com>
wrote:

[2017-05-23 16:26] aghassemi commented on #8825
We should put this on AmpByExample.com, I believe composing the following AMP components should gives us a good autocomplete sample:

-`input-debounced` event ( #9277 )
-`amp-list` to render
-`amp-selector` for selection and keyboard support
- `amp-bind` to change `src` of `amp-list` when `input-debounced` triggers.

/cc @ericlindley-g Good candidate for next sprint?

/cc @cvializ

[2017-05-23 16:29] aghassemi commented on #9453
@NithishReddy It is hard for me to tell without seeing it. What version of iOS do you have? Could you please try visiting `https://ampbyexample.com/components/amp-lightbox/` on your phone and see if the issue reproduces there as well?

[2017-05-23 16:29] choumx commented on #9472
Discussed this with @rsimha-amp and the local flakiness is due to a shorter timeout compared to Travis (configurable in `karma.conf.js`). The changes in #9404 should still fix these.

[2017-05-23 16:31] rudygalfi opened #9497 "Update googleanalytics config to use _ga for origin cookie"
Phase 1:
- [x] Update `googleanalytics-alpha` config to use the name "_ga" for origin cookie while keeping AMP_ECID_GOOGLE for non-origin cases (based on using #8847)

Phase 2:
- [ ] Update `googleanalytics` config to use the name "_ga" for origin cookie while keeping AMP_ECID_GOOGLE for non-origin cases (based on using #8847)
- [ ] Update ads to use "_ga" on origin and "AMP_ECID_GOOGLE" for non-o

[2017-05-23 16:49] Gregable commented on #9136
This is live in the most recent release.

[2017-05-23 16:49] Gregable commented on #6104
This is live in the most recent release.

[2017-05-23 16:51] Gregable commented on #3578
This is live in the most recent release.

[2017-05-23 16:53] aghassemi commented on #9355
agreed. `fallback` is the right general solution for this and is already implemented for `amp-img` for instance (e.g. if image fails to load, element with `fallback` is displayed - https://codepen.io/aghassemi/pen/jmdPvZ ).

For `amp-twitter`, we should make sure it is not just network failure that triggers `fallback` but also deleted/misconfigured tweets.

[2017-05-23 16:59] rsimha-amp commented on #9472
I can confirm that increasing the timeout from 2 seconds results in all the bind tests passing. I'm working on a PR to change the timeouts for local and travis runs. Stay tuned.

[2017-05-23 17:13] #3578 closed

[2017-05-23 17:28] Gregable commented on #9091
Hi @jaygray0919, let's figure this out.

`rel=` attributes on `<link>` and `<a>` tags have been a challenge.

They are commonly used for semantic-only annotations by a wide variety of various useragents and those usages are ignored by browsers. See [old validator rules](https://github.com/ampproject/amphtml/blob/ab51b551b38c4e26f8bcca5c979751d83168ddee/validator/validator.protoascii#L1100) for a s

[2017-05-23 17:34] Lillian-wang commented on #8592
Just added the link to my PR description.

[2017-05-23 17:58] lannka commented on #9186
@dvoytenko can you clarify what needs to be done for the 2nd TODO?

[2017-05-23 18:03] dvoytenko commented on #9395
@choumx This looks like a duplicate of  #7779? If so, let's close it out?

[2017-05-23 18:08] lannka opened #9500 "Tasks queued up in Travis"
![screenshot from 2017-05-23 11 03 00](https://cloud.githubusercontent.com/assets/8496897/26368910/ed3d79e0-3fa7-11e7-9366-80df23208864.png)

anyway to increase the throughput?

[2017-05-23 18:17] dvoytenko commented on #9397
@jridgewell I'd prefer if at this time we did something like this: remeasure everything once stubbing is done. Again, I don't think the #9279 would really address enough of issues here, b/c this not only affects AMP element's children, but it affects siblings. Actually, it looks like it affects siblings more.

I think we already have a relayout-all signals in resources - we may need to trigger it

[2017-05-23 18:21] rudygalfi commented on #9268
This can be restricted to just write cookies for ad networks that are used right (we don't write a 1P cookie for all ad networks unconditionally)?

[2017-05-23 18:25] #8824 closed

[2017-05-23 18:33] jridgewell commented on #9467
Dupe of https://github.com/ampproject/amphtml/issues/8920?

[2017-05-23 18:35] jridgewell commented on #560
@ericfs

[2017-05-23 18:37] dvoytenko commented on #9243
@eduardcotmrf Do you have an example SVG? Basically, we restricted xlinks to `defs` to only use local resources. If we were to extend it to non-local resources, they'd have to be rewritten by caches and verified to be HTTPS, etc. We did an initial research and found that this is not common. So, please share your samples with us and we'll discuss.

[2017-05-23 18:39] ericfs commented on #560
Only tracked internally: b/33734828

[2017-05-23 18:39] malev commented on #2808
I wonder if there is still interest on having this one done. I definitely need it to be working 😄

[2017-05-23 18:39] aghassemi commented on #9467
I guess this is the 'extra logging' mentioned in #8920

[2017-05-23 18:40] #9467 closed

[2017-05-23 18:40] aghassemi commented on #8920
@camelburrito The extra logging have started showing up. see #9467

[2017-05-23 18:43] cvializ opened #9501 "XHR errors are reported incorrectly"
Since the new errors are not an instance of an error object, when they are thrown by callers to the AMP error service, the service does not recognize them as a valid error. Possible fixes are returning to the mutated-error approach, or creating a custom error type decorated with the xhr data.

This error manifests itself as `Error: [Object object]` in the console.

[2017-05-23 18:49] #9108 closed

[2017-05-23 18:50] clawr opened #9502 "Cleanup 'amp-ad-exit' experiment"

[2017-05-23 18:50] jridgewell commented on #9464
- Report XHRs before viewer is visible https://github.com/ampproject/amphtml/pull/9350
- Fix false report with render delaying extensions https://github.com/ampproject/amphtml/pull/9382
- Fix waiting for element provided services (not extension provided services) https://github.com/ampproject/amphtml/pull/9386
- Only log XHR request's origin for privacy https://github.com/ampproject/amphtml/pull/9

[2017-05-23 18:58] jridgewell commented on #9501
Already working on it. https://github.com/ampproject/amphtml/pull/9448

[2017-05-23 18:58] lannka commented on #9268
we only write cookie if
- the ad network specified `clientIdScope`
- pub is using that ad network

[2017-05-23 19:00] cvializ commented on #9501
Cool

[2017-05-23 19:03] dvoytenko commented on #9254
amp-rewrite-links (#9276) by @jpettitt

[2017-05-23 19:03] dvoytenko commented on #9276
I scheduled for 5/31 in #9254.

[2017-05-23 19:22] jridgewell commented on #9501
Don't have an issue for it, so I'm going to reopen this.

[2017-05-23 19:23] dvoytenko commented on #9186
@lannka No idea :) Since neither of us knows, maybe it should just be removed?

[2017-05-23 20:11] lannka commented on #9186
happy to do :-)

[2017-05-23 20:19] chenshay opened #9504 "get rid of unconfirmedViewerOrigin_ in amp-viewer-integration"
instead, pass around the origin variable.

[2017-05-23 20:28] #9072 closed

[2017-05-23 20:34] rsimha-amp commented on #9500
There are three potential reasons for this:

1. The setting for auto-cancelling multiple (duplicate) test runs for consecutive commits on one branch had been turned off. I've turned it back on, and this should de-dupe PRs.
2. Now that we're sharding unit tests and integration tests, we're building twice, once on each shard. This will be fixed with #9404
3. Now that steps are sharded, if a run were

[2017-05-23 20:35] #9050 closed

[2017-05-23 20:56] dvoytenko commented on #9461
@p2er Hi! There are few issues on this page. In short, shadow docs are not created to work on an AMP page at this time. Shadow API specifically allows opening AMP documents inside the non-AMP shell. This way, any technology can be used in the shell, such as React and Angular.

More specifically:

#### Shadow vs AMP Runtime
[code]
Shadow runtime cannot be used with main AMP Runtime in the same cont

[2017-05-23 21:19] dvoytenko commented on #9414
With PWA/shadow area: is this only related to ads inside shadow docs (e.g. `<amp-ad>`)? Or ads in the main shell page that are deployed via shadow slots?

[2017-05-23 21:26] dvoytenko commented on #9482
I think @lannka has been trying to add some docs there?

[2017-05-23 21:27] dvoytenko commented on #9487
No, not foreseeing issues yet. It'd be nice to have some very good defaults though.

[2017-05-23 21:45] SchnWalter commented on #9091
I think that a generic prefix white-list could solve the issue for rel and rev attributes, since they are allowed on all HTML5 elements:

For example, if you set `schema:` as a prefix for shema.org values:

    <html amp prefix="schema: http://schema.org/ ...">

you could then just use the RDFa rel and rev attributes like:

    <span rel="schema:author">{{ author_info }}</span>
    <div rel="schem

[2017-05-23 22:06] #7585 closed

[2017-05-23 22:16] lannka commented on #9482
the [typedefs](https://github.com/ampproject/amphtml/blob/master/testing/describes.js#L86) in the code is a good start

[2017-05-23 22:25] #9186 closed

[2017-05-23 22:40] muxin commented on #9077
I'll create a separate issue for android firefox after verifying the repro.

[2017-05-23 22:51] muxin commented on #8077
Done by https://github.com/ampproject/amphtml/issues/8739

[2017-05-23 22:51] #8077 closed

[2017-05-23 22:56] #9438 closed

[2017-05-23 23:15] comolongo commented on #9491
Is the idea here that streaming pre-rendered DOM and putting it onto the page is quicker than generating it on the client side via JS? This reminds me of YouTube' use of soft page transitions: https://github.com/youtube/spfjs.

[2017-05-23 23:34] dvoytenko commented on #9491
This is slightly different. AMP itself intrinsically supports prerendering. This work is specifically to incrementally build DOM as it comes via HTTP.

[2017-05-24 00:45] pbakaus opened #9512 "AMP Shadow replaces the history state object with its own"
Currently, calling attachShadowDoc in a PWA host replaces the history state object for that history entry. That's problematic, as the host then misses information from its own stack.

Suggested fix: Amend the object, not replace it.

[2017-05-24 00:46] jasti commented on #9414
@dvoytenko this is referring to correlating two ads in the same request. One regular GPT ad in the main shell page and one <amp-ad> that's inside of the shadow slot.

[2017-05-24 01:13] dvoytenko commented on #9129
/cc @lexandera

[2017-05-24 01:34] #9077 closed

[2017-05-24 03:19] pearlwang1106 commented on #9265
DONE see at: [https://github.com/ampproject/docs/pull/511](https://github.com/ampproject/docs/pull/511)

[2017-05-24 04:31] vydn opened #9514 "[amp-lightbox] Allow lightbox inside template tag"
After form submit success I want to show a lightbox to display the response but it could not find the target lightbox

[code]

[2017-05-24 04:48] momofan opened #9515 "[amp-img] I don't know the size of the picture. What should I do?"
I see the size must be marked when use amp-img,so if I don't know the size of the picture. What should I do?

Expect reply

thanks

[2017-05-24 04:53] #9515 closed

[2017-05-24 05:25] #9491 closed

[2017-05-24 08:46] eduardcotmrf commented on #9243
What we want to achieve is something like this:

HTML example:

[code]
SVG EXAMPLE:

[code]

So the browser will cache the below.svg file and the icons data won't be contained in the HTML.

[2017-05-24 11:55] jaygray0919 commented on #1866
@ericlindley-g
I lost my handle on this thread and am late to the party.
Here is an example of a preview image that, on click, opens a lightbox.
  https://afdsi.org/page/Concept.html

the structure looks like this:
[code]

We're currently using a Javascript, and would replace that with amp-lightbox.
And would convert <img> to `<amp-img>` and specify dimensions.

We would like to put the preview im

[2017-05-24 13:44] kul3r4 commented on #1866
@jaygray0919 is this something similar to the image carousel in [product sample](https://ampbyexample.com/samples_templates/product_page/preview/). If you click on the image in the main carousel, a lightbox is opened.

[2017-05-24 15:16] #9504 closed

[2017-05-24 16:05] aghassemi commented on #9514
/cc @cvializ @ericlindley-g

sounds reasonable to be able to show a modal after `submit`, `submit-success` or `submit-error` events.

to handle this we need to:
1- Ensure `amp-mustache` can render `amp-lightbox` and that it is not invalid based on validation rules
2- Ensure templates are rendered before the actions defined on `submit` events are triggered so one can reference the `id` of the light

[2017-05-24 16:28] rsimha-amp opened #9522 ""gulp clean" is broken"
[code]

[2017-05-24 16:29] lannka commented on #9522
you need to do `npm i`

[2017-05-24 16:29] #9522 closed

[2017-05-24 16:38] aghassemi commented on #8902
https://github.com/ampproject/amphtml/issues/7972
https://github.com/ampproject/amphtml/issues/9487
https://github.com/ampproject/amphtml/issues/9405

[2017-05-24 16:51] rsimha-amp commented on #9522
Interesting. Yes, `npm i` fixed it. Was that documented somewhere?

[2017-05-24 17:09] choumx commented on #9522
It's a common error that happens when a new package dependency is added.

[2017-05-24 17:14] lannka commented on #9522
oh ye, it came to me yesterday, so i knew it :-)

[2017-05-24 17:34] cvializ commented on #8902
In addition to #7168 I'd like to add #8825

[2017-05-24 17:36] rudygalfi commented on #4279
cc @aghassemi

[2017-05-24 17:41] cramforce commented on #7972
@duksh But you can also use whatever you want. AMP Start is just one option.

[2017-05-24 17:42] cramforce commented on #9405
Instead of the heavyweight embed, could we just load an image with some imgur branding and link it to the respective page on imgur?

[2017-05-24 17:46] lannka opened #9524 "Regression: parsing _ga cookie incorrectly"
Line [here](https://github.com/ampproject/amphtml/blob/master/src/service/url-replacements-impl.js#L259,) becomes incorrect after #9239 and #9499

[2017-05-24 17:50] lannka commented on #9524
Thanks to @avimehta for catching the bug.
@choumx I will need to do a quick fix and patch it to canary

/cc @rudygalfi

[2017-05-24 17:59] lannka opened #9526 "Add integration test for CID logic that involves cookies"
Which can prevent bug #9524 from happening

[2017-05-24 18:21] chenshay opened #9528 "Create npm package for viewer messaging"
to expose messaging.js

[2017-05-24 19:22] #9524 closed

[2017-05-24 19:29] choumx commented on #9500
Addendum to #2 above, we should skip building the runtime since integration tests are skipped on PR builds anyways.

[2017-05-24 19:42] cvializ commented on #8825
Sample code, doesn't yet work with production AMP.  Small changes need to be made to `bind-impl.js` and `action-impl.js`. Additionally, some actions and events could be added to improve UX, e.g. focus, blur.

https://gist.github.com/cvializ/fe3640d14ec7e91596aae101a97bc383

[2017-05-24 19:54] cramforce opened #9531 "AMP Cache SSR breaks amp-sidebar"
See hamburger menu on https://ampstart-com.cdn.ampproject.org/c/s/ampstart.com/ as an example.

[2017-05-24 20:21] honeybadgerdontcare commented on #9531
The Runtime isn't applying ` i-amphtml-display` to the `amp-sidebar` when the hamburger is clicked.

The following amp.css is still being applied because of that
[code]
Note this is the hamburger at the top of the page and not the one in the screenshot.

[2017-05-24 20:27] ericlindley-g commented on #8825
Agreed that this is a great ABE candidate (pending the tweaks to make it work in production). (along with—per design review discussion—encapsulating a more opinionated behavior as a separate component)

[2017-05-24 20:44] rudygalfi commented on #8132
I think the documentation I added should cover this. Closed by #8234

[2017-05-24 20:44] #8132 closed

[2017-05-24 21:03] cramforce commented on #9531
OK, this code is super weird.
https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L331

Will need to talk to @dvoytenko to find out what is going on.

[2017-05-24 21:07] cramforce commented on #9531
Hmm, that was #9354. I don't understand why the class is adding `i-amphtml-display` when the intention is for that to be not added. Why is the `toggleLayoutDisplay` method created? Its comment seems wrong, but it is never called?

[2017-05-24 21:34] Gregable commented on #9091
So the proposal would be to allow a `prefix` attribute on `<html>` which can be any string prefixed with `schema:` and also allow a `rel` or `rev` attribute prefixed with `schema:` as well, correct?

That sounds pretty reasonable.

[2017-05-24 21:49] honeybadgerdontcare commented on #9531
Ahh thanks for finding that. It was introduced 9 days ago.

@dvoytenko #9354 introduced the new class attribute `i-amphtml-display` for layouts of `nodisplay`. Is this permanent? Should we update the [server-side rendering document](https://docs.google.com/document/d/1gViU1hxtGXwMSTNnum2zY_p9ZWvFwMKoachNdIRUgh0/edit#) that they also need to implement this or is `toggleLayoutDisplay` eventually goi

[2017-05-24 22:09] cvializ commented on #9514
I believe `amp-bind` might be a better solution for this task. You can use something like the following markup:

[code]

What do you think?

[2017-05-24 22:09] #8764 closed

[2017-05-24 22:31] aghassemi commented on #9514
@cvializ I like that! @vydn wanna give that solution a try? Note that `amp-bind` is experimental feature but if you like to ship to production with it, you can sign up for origin trial: https://www.ampproject.org/latest/blog/test-amp-bind-on-your-site-with-an-origin-trial/

[2017-05-24 22:43] muxin commented on #9077
FYI, I tested and verified that for android firefox, both the non-embedded and embedded cases work fine now.

[2017-05-24 22:43] #9170 closed

[2017-05-24 23:00] aghassemi commented on #8902
**Carlos - Relaxing requirement for variable substitution only for origin**
- What were the risk factors?
- Malte: no question that we should allow it.
- For links, whitelist was needed to avoid accidental leaking to others.
- Whitelist may not be needed for forms
- **Consensus** seems to that no need for whitelist and allow for all origins.

**Carlos - Autocomplete in AMP**
- Demo of autocomplete

[2017-05-24 23:00] techhtml commented on #9405
@cramforce I think it's not hard if they have only single images or videos(gif).
but when uploaded multiple images, it's quite harder because can't know how many images are loaded.

If having only support single images or videos(gif), it can do that.

[2017-05-24 23:11] #9528 closed

[2017-05-24 23:13] aghassemi opened #9536 "issues with amp-list in amp-selector"
if `amp-list` renders new `options` inside an `amp-selector`, `amp-selector` has no idea and does not rescan children to find these new options.

Repro case from @gustavopaes
[code]

/to @camelburrito
/cc @gustavopaes

[2017-05-25 00:29] cramforce commented on #9531
Yes, we should add a very big comment to this function. Dima created a fix for this case.

[2017-05-25 01:29] vydn commented on #9514
@cvializ @aghassemi `amp-bind` has been already used. But as @aghassemi  said it is experimental feature so I am quite worried about it, but it might be the best solution now.
In the other hand, thanks for your support and I think this issue can be closed.

[2017-05-25 03:35] #9531 closed

[2017-05-25 03:49] dvoytenko commented on #9243
@eduardcotmrf Thanks for the examples. I don't see any major problem opening this up as long as the Caches can correctly proxy these links. So, let's start with caches and we'll enable in validator.

/cc @vitaliybl @codewiz @dknecht

[2017-05-25 08:06] eduardcotmrf commented on #9243
What can we do to help?

/cc @alexmrf

[2017-05-25 13:06] honeybadgerdontcare commented on #9243
@eduardcotmrf At this point we need to wait for the caches (Google, Cloudflare, etc) to implement the proxy for these links and update the [modifications best practices](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-modifications.md). For Google AMP Cache it's tracked internally at b/62073090.

Once those are done then it can be enabled in the validator.

[2017-05-25 15:03] coreybyrnes opened #9546 "collapse ad space issues"
Let me start by saying that I know if an ad is not in view, no ad loads, and there's no fallback that the ad space will collapse. But we have the need to run blank ads for reporting and for ad bundle purchasing and we need these blank ads to collapse the ad space. So then I recently learned of the `context.noContentAvailable()` function which collapses the ad space but kills the content of the ifr