[2020-05-06 15:02] Enriqe commented on #28225
Sorry, late to the party here. But like @gmajoulet mentioned, this is a bug on the player side. I was using `url.origin`, while we should've been using `location.origin`. I sent #28238 to fix it.

[2020-05-06 15:08] calebcordry commented on #28237
Interesting, refinery29 just activated their ads. This error seems to indicate that they were being served non-story ads. It could be a pub config error or ad network error, either way maybe I can handle this scenario more gracefully. Will investigate.

[2020-05-06 16:01] tla-sirdata commented on #27190
Hi, I'm not sure if this feature is live but I just want to let you know that we updated our [checkConsentHref endpoint](https://sddan.mgr.consensu.org/api/v1/public/amp/check) to include `gdprApplies`.

[2020-05-06 16:31] Gregable commented on #28103
Fixed on AMP Cache in change id `310025020`. Will likely be released this week.

[2020-05-06 16:31] #28103 closed

[2020-05-06 17:02] denmark-admin commented on #28194
Thanks @micajuine-ho for the reply, `${firstVisibleTime}` looks close. Have some doubts though as of now we are using a timer with frequency 15 seconds to invoke our API

[code]
to use `${firstVisibleTime}` it seems we'll have to use `visibilitySpec`. Can you please tell us both `visibilitySpec` and `timerSpec` can be used simultaneously i.e. is the following a valid trigger

[code]
Basically our

[2020-05-06 17:46] thekp commented on #27251
Hi, thanks for raising this issue. I am also having this issue with my attempt to use amp-list. My component will render with the correct height on the initial render but when the page is resized and the height is increased, it will also not reclaim the height increase.

I am using the `layout='repsonsive'` attribute. My implementation of amp-list can be seen here: https://github.com/bbc/simorgh/p

[2020-05-06 18:00] zhouyx commented on #28112
I lowered the priority of this task because we haven't heard similar request from ad/analytics vendors.
Happy to prioritize if there's such a feature request.

[2020-05-06 18:23] micajuine-ho commented on #27190
Hi @tla-sirdata, thanks for the update.

The AMP team plans to change the `checkConsentHref` API in the near future which will directly change the `gdprApplies` field.

Would you be willing to hold off your change until this or be willing to change your API when the `checkConsentHref` API changes?

[2020-05-06 18:28] micajuine-ho commented on #28220
Seems like it could be related to #26683

[2020-05-06 18:32] micajuine-ho commented on #28194
Hi @denmark-admin, `${firstVisibleTime}` does not need to be used in conjunction with a `visibilitySpec`, so you can continue to use your `timerSpec`, and just add `${firstVisibleTime}` to your request.

[code]

[2020-05-06 18:32] #28194 closed

[2020-05-06 18:42] tla-sirdata commented on #27190
If that's OK for you, I prefer to let the new field on. The `consentRequired` field is still unchanged.
I'll be able to update quickly when the API changes.

Thanks

[2020-05-06 18:45] micajuine-ho commented on #27190
Yes, that sounds good to me. Will update you when the changes occur.

[2020-05-06 20:48] jridgewell opened #28244 "triggerAnalyticsEvent doesn't wait for viewer.isVisible"
Context: https://github.com/ampproject/amphtml/pull/28203#discussion_r421043233

We're trying to add `prerenderAllowed` to a new extension that calls `triggerAnalyticsEvent`. However, this helper doesn't seem to wait for `viewer.isVisible` at all, so this could accidentally send an analytics event before the user has opened the viewer.

/cc @ampproject/wg-analytics

[2020-05-06 20:58] cramforce commented on #28244
amp-analytics itself doesn't do anything until the doc is visible.

@zhouyx I'll leave it up to you, but I think it might be fine to just close this issue and possibly document those expectations.

[2020-05-06 21:17] erwinmombay commented on #28110
Would like to present about allowing module/nomodule script tags on transformed AMP pages

cc @ampproject/wg-performance @ampproject/wg-caching

[2020-05-06 21:23] jridgewell commented on #28244
Cool, I manually tested by patching on https://output.jsbin.com/zuvexej/quiet#visibilityState=prerender. It seems the event is still triggered, but Analytics won't actually fire anything else.

[2020-05-06 21:23] calebcordry commented on #28237
@gmajoulet I looked a bit deeper and these are not story urls. Also the error rate has fallen off since this morning.
![image](https://user-images.githubusercontent.com/16087874/81229582-e9e92280-8fa4-11ea-91f5-9705b023b0f7.png)

This makes me think it was a pub config that has been fixed, but I will check again tomorrow to make sure the rate is still low

[2020-05-06 21:37] zhouyx commented on #28244
Analytics won't fire analytics requests before the doc is visible.

However calling `triggerAnalyticsEvent()` does buffer events from pre render mode. Is that expected?  `triggerAnalyticsEvent()` is designed for components to trigger custom events like `video-play`. I can't think of a good example of calling `triggerAnalyticsEvent` during pre-rendering.

[2020-05-06 21:47] cramforce commented on #28244
I don't think we have cases where this would be expected to happen. Just a defense-in-depth that if it happens, then that should not be catastrophic.

[2020-05-06 22:12] zhouyx commented on #28244
I see. I'm seeing two layers of protections here
1. `triggerAnalyticsEvent()` is designed for custom user events (e.g. enter-lightbox ,video-play). Code review should help us detect any misuse.
2. Analytics service will buffer the event and only send requests after the document is visible.

These should be sufficient. Closing the issue.

[2020-05-06 22:12] #28244 closed

[2020-05-06 22:42] jridgewell commented on #28244
This won't always be true, though. We're now using it an extension that prerenders, and the event is automatically triggered (the auto slide-change). We're just relying on Analytics to always guarantee that events won't trigger before visible.

[2020-05-06 22:51] zhouyx commented on #28244
Hmmm should we only enable the auto slide-change after the doc is visible, otherwise it sounds like a waste of resources to me. And the user may landed on the doc with the hero slide already scrolled away.

We can always add another layer of protection to not buffer the event. But my feeling is that if we allow such event during prereder, it makes sense to also allow those events to be collected b

[2020-05-06 23:12] jridgewell commented on #28244
Yes, that's probably good. We never thought about this before, because the carousel never prerendered before.

I think that's good. Can you point to where the buffer is consumed after the viewer is visible? Like, what's the thing that waits for `whenFirstVisible`?

[2020-05-06 23:15] jridgewell opened #28248 "Carousels autoslide during prerender"
Now that Carousels are `prerenderAllowed` (https://github.com/ampproject/amphtml/pull/28203), there's an unexpected behavior where carousels can auto advance during the prerender phase. I think we should probably add `pauseCallback` and `resumeCallback` to them, so that we can pause/resume (and initially start) only when the doc is actually visible.

/cc @ampproject/wg-ui-and-a11y

[2020-05-06 23:27] cramforce commented on #28244
FWIW carousel 0.1 was prerendering. It was just forgotten to port to later versions.

[2020-05-06 23:36] zhouyx commented on #28244
The `buffer` is consumed when `CustomEventTracker.add()` is called.
https://github.com/ampproject/amphtml/blob/cb57fe236c0e904b2030efcf611332d4c83fcea3/extensions/amp-analytics/0.1/events.js#L337-L342
Call stack:
`CustomEventTracker.add()` <= `AnalyticsGroup.addTrigger()` <= `AmpAnalytics.registerTrigger()` <= `AmpAnalytics.ensureInitialized_()`.
https://github.com/ampproject/amphtml/blob/cb57fe23

[2020-05-06 23:41] jridgewell commented on #28244
Thanks! I think this is fine.

[2020-05-07 00:06] erwinmombay commented on #27603
Would like to present about allowing module/nomodule script tags on transformed AMP pages (15-20mins)

cc @ampproject/wg-performance @ampproject/wg-caching

apologies i put this for june when i meant to request to do this today

[2020-05-07 00:13] jridgewell commented on #27603
Caching status update at https://github.com/ampproject/wg-caching/issues/17

[2020-05-07 01:28] erakor commented on #27835
Hi @caroqliu!

We load recommended articles via `amp-list` at the end of our articles.
We would like to track impressions of the list items.

However, expectedly, browser throws an error when trying to track visibility for something that's not there yet:

[code]
Throws
[code]

[2020-05-07 01:47] erakor commented on #27835
I found [another thread issue](https://github.com/ampproject/amphtml/issues/6413) (from 2017) for a similar request that ended up with the addition of the `ini-load` trigger.
I don't think the solution was what was requested though.

[2020-05-07 03:53] erakor commented on #27835
Actually, I keep mentioning `on: visible` as the trigger we're looking forward to having but none of the triggers work for `amp-list` items as far as we're concerned.
We'd love to see more opportunities to use `amp-analytics` within `amp-list`.

[2020-05-07 12:33] tochwill commented on #28193
Hey! I've been trying to get my head around different AMP caching scenarios too, and @tannerbaum has previously commented on this issue from my team (within our own repo): https://github.com/bbc/simorgh/issues/6317. There's some detail in there regarding how we've tried to look at how stale the data is on some of our pages, if that could provide another angle. I'd be really interested in any recom

[2020-05-07 13:00] erakor commented on #27835
Other closed issue (#3857) supposedly fixed.

[2020-05-07 13:01] nllorca commented on #28195
micajuine-ho, thanks...but...if i put in html, amp validator fails..."Custom JavaScript is not allowed."

[2020-05-07 13:22] caroqliu commented on #27835
cc @ampproject/wg-analytics

[2020-05-07 13:40] caroqliu commented on #28248
Looked at the relevant carousels:

`amp-base-carousel` and `amp-carousel:0.2` already implement `pauseCallback`/`resumeCallback` which handle auto-advance.
- `amp-inline-gallery` basic, pagination, and thumbnail versions do not autoadvance
- `amp-stream-gallery` (experimental) does not autoadvance

Oddly enough, `amp-carousel:0.1` has had `prerenderAllowed` all along and does not appear to have th

[2020-05-07 16:56] vfedoseev commented on #27695
Could anybody comment on the issue?

[2020-05-07 17:04] erwinmombay commented on #27603
public design doc for allowing module/nomodule script tags on origin web pages https://docs.google.com/document/d/1aD7MSHNlS8MsyBOjBx57OuLxVuIMPXVWDIrjt0ItzM8/edit#heading=h.hyyaxi8m42a

[2020-05-07 17:28] aeadio opened #28252 "Remove Yieldbot plugin"
## What's the issue?

AMP embeds a connection with the Yieldbot ad/tracker, https://github.com/ampproject/amphtml/blob/master/ads/yieldbot.js

Yieldbot has since went out of business. While their domain remains active, their previous SVP reported their closure via LinkedIn, and users on Reddit are reporting total unresponsiveness from them.

https://www.linkedin.com/feed/update/urn:li:activity:647

[2020-05-07 18:00] micajuine-ho commented on #28195
Hi @nllorca, as I said above, amp-experiment-1.0 is still under development, so it's not expected to be valid amp at this point. I recommend using amp-experiment-0.1 if that fits your use cases.

[2020-05-07 18:10] gmajoulet opened #28253 "amp-owners-bot unsubscribes reviewers from notifications"
## What's the issue?

The `amp-owners-bot` unsubscribes a reviewer it notified as they submit a review.

## How do we reproduce the issue?

1. Someone sends a PR and the `amp-owners-bot` notifies you (in my example, it did not add me as a reviewer), which subscribes you from notifications
2. You submit a review for the PR
3. You get unsubscribed from notifications and don't get emails as the PR's

[2020-05-07 18:31] jatinvmehta opened #28254 "Google AdSense Auto Ads Not Working"
## What's the issue?

We are launching AMP site and for our testing, we launch 10 URLs with AMP support. Adsense on AMP page isn't working. Adsense is working absolutely fine for non-amp page. We are seeing warning "[amp-auto-ads] No ad placements found for publisher ID 'ca-pub-*************'. Check that the provided publisher ID is correct."

I did follow below thread but it says it is fixed and

[2020-05-07 18:37] techzotezo opened #28255 "Page showing valid but error in webmaster console"
Some of my url is showing error in AMP console in google webmaster,but Pages are showing valid in when we AMP validation checking-
1) A mandatory AMP HTML tag is missing from this document.
https://www.zotezo.com/in/reviews/relief-bunion-shield-with-ring/?amp
https://www.zotezo.com/in/reviews/burberry-brit-for-her-eau-de-toilete-spray-100ml-3-3oz/?amp
2) Custom JavaScript is not allowed and A mand

[2020-05-07 18:41] micajuine-ho commented on #26229
Hi all! Currently, consent dialogs can be configured to a max of 60vh, and be scrollable/expandable.

I wanted to get your opinions on if this current setup is sufficient to display all disclosures required by TCFv2, as well as the accept/reject buttons.

![ezgif com-crop](https://user-images.githubusercontent.com/30711678/81237275-13f61100-8fb4-11ea-9dd6-50369d24c95c.gif)

/cc @yoannOgury @Pierig

[2020-05-07 18:44] zhouyx commented on #27835
Thanks for reporting this. Yes this is a known issue. `<amp-analytics>` observe elements during initialization once. Because of that dynamic element that's loaded after `<amp-analytics>` initialization won't be observed.

Another restriction that you may encounter is: AMP doesn't support tracking the visibility of non AMP elements. We are working to remove this restriction.

#21727 is related. And

[2020-05-07 19:00] tla-sirdata commented on #26229
Hi, if we want to keep the UI as readable as possible for the user, 60vh is definetly not sufficient considering the amount of information CMPs have to disclose with the TCF v2.
In my opinion making it scrollable is bad for user experience so we're not considering this option.

Another thing is that it might be useful to allow CMPs to exit fullscreen mode so the initial layer would always be displ

[2020-05-07 19:48] Enriqe commented on #28225
After playing around with this a bit more I found an issue with the messaging / viewer-integration code:

1. The viewer-integration.js takes the `origin` from the `#origin=...` param in the viewer containing the STAMP and creates a `WindowPortEmulator` with it.

https://github.com/ampproject/amphtml/blob/471bbb957ba9ee4c3d1778dbb987d8fee3352e0b/extensions/amp-viewer-integration/0.1/amp-viewer-inte

[2020-05-07 21:05] ampprojectbot opened #28260 "🚨 Error: Cannot read property 'length' of null"
Details
---
**Error report:** [link](http://go/ampe/CMDnz-vSiraiyQE)
**First seen:** Apr 9, 2020
**Frequency:** ~ 455,777/day

Stacktrace
---
[code]

Notes
---
`@calebcordry` modified `src/service/url-expander/expander.js:75-75` in #12682 (Jan 20, 2018)
`@rsimha` modified `src/service/url-replacements-impl.js:889-893` in #21212 (May 16, 2019)
`@caroqliu` modified `extensions/amp-social-share/0.1/a

[2020-05-07 21:05] rcebulko commented on #28260
/cc @caroqliu This seems related to #28100, think you could take a peek?

[2020-05-07 21:09] rcebulko commented on #28260
Note: This has existed in other forms for a while, but it spiked a bunch when the latest Experimental was promoted on 05-06 this week. Since it's mostly appearing in Experimental, this is probably related to some experiment being run

[2020-05-07 21:09] ampprojectbot opened #28262 "🚨 Error: null is not an object (evaluating 'a.length')"
Details
---
**Error report:** [link](http://go/ampe/CK7QrPu58JKzhgE)
**First seen:** May 6, 2020
**Frequency:** ~ 25,834/day

Stacktrace
---
[code]

Notes
---
`@calebcordry` modified `src/service/url-expander/expander.js:75-75` in #12682 (Jan 20, 2018)
`@rsimha` modified `src/service/url-replacements-impl.js:896-897` in #21212 (May 16, 2019)
`@caroqliu` modified `extensions/amp-social-share/0.1/am

[2020-05-07 21:10] rcebulko commented on #28262
Closing as a dupe of https://github.com/ampproject/amphtml/issues/28260
(separate errors likely created because of how different browsers report the error)

[2020-05-07 21:10] #28262 closed

[2020-05-07 21:23] ampprojectbot opened #28264 "🚨 Error: Cannot read property '__AMP_TOP' of null"
Details
---
**Error report:** [link](http://go/ampe/CPiTkt6qrtq-mgE)
**First seen:** May 4, 2020
**Frequency:** ~ 1,167/day

Stacktrace
---
<pre><code>Error: Cannot read property '__AMP_TOP' of null
    at win (<a href="https://github.com/ampproject/amphtml/blob/2005050322000/src/service.js#L325">src/service.js:325</a>:9)
    at getTopWindow (<a href="https://github.com/ampproject/amphtml/blob/200

[2020-05-07 21:24] morsssss commented on #28193
Thanks to you both! We don't usually get such a detailed bug report. Since caching situations are often complex, this will really help us determine whether there's a problem somewhere or whether we just need to provide much more explicit instructions about how to use the cache. And more examples.

@tannerbaum , something got eaten at the end of the first sentence of your last comment. Do you know

[2020-05-07 21:28] omar-dulaimi commented on #24428
Hello, we're facing this issue as well
`ATTR_LIST: getNode(19) is null.`
the console said that the error in a file called
`attributes.js line 20`
it had this error message, hope it helps locating the issue:

`Could not load content for https://raw.githubusercontent.com/ampproject/amphtml/2004252135000/node_modules/@ampproject/worker-dom/output/main-thread/commands/attribute.js (HTTP error: status

[2020-05-07 21:28] rcebulko commented on #28264
Seems to be a variant of https://github.com/ampproject/amphtml/issues/9177 , but this one appeared as soon as the May 5 release hit Nightly and later spiked when that release was promoted to beta/experimental.

@zhouyx It seems likely this is related to #28174 , possibly a race condition.

[2020-05-07 21:31] rcebulko commented on #28264
![image](https://user-images.githubusercontent.com/6694512/81346651-a5cf4e00-9088-11ea-9140-728719e8f7fb.png)

[2020-05-07 21:39] rcebulko commented on #28260
![image](https://user-images.githubusercontent.com/6694512/81347244-be8c3380-9089-11ea-9c3b-156db1f952bb.png)

[2020-05-07 21:48] ampprojectbot opened #28266 "🚨 Error: undefined is not an object (evaluating 'a.replace')"
Details
---
**Error report:** [link](http://go/ampe/CK-euvLFydaZpwE)
**First seen:** May 4, 2020
**Frequency:** ~ 358/day

Stacktrace
---
[code]

Notes
---
`@choumx` modified `extensions/amp-list/0.1/amp-list.js:1069-1069` in #16513 (Jul 3, 2018)
`@powerivq` modified `src/service/mutator-impl.js:231-233` in #26638 (Feb 12, 2020)
`@jridgewell` modified `src/service/vsync-impl.js:470-471` in #20836

[2020-05-07 21:53] zhouyx commented on #28264
👀

[2020-05-07 22:03] zhouyx commented on #28264
I found two related changes.
1. #28174 as @rcebulko mentioned. The PR added `variableServiceForDoc(element)`.
Or
2. #28069. This PR turned on `analytics-chunks` in canary. it delays the call of the `loadConfig`, and thus increase the frequency of the error.

[2020-05-07 22:36] zhouyx commented on #28264
After some investigation. I think it's mostly like due to #28069.

Reason being we have:
https://github.com/ampproject/amphtml/blob/c985e344b25effca5e8f2a604a3cef11eff6c0d3/extensions/amp-analytics/0.1/config.js#L220
If there's a race condition, the `Services.urlReplacementsForDoc(this.element_)` should throw the same error before.
I can add additional check to `this.win_ != null` if that's helpfu

[2020-05-07 22:49] zhouyx commented on #28220
Thanks for the info. I agree, looks related to #26683.
However #26683 was merged a few months ago, I wonder why it leads to the error only recently.

[2020-05-07 22:53] zhouyx commented on #28220
@rcebulko I saw the First seen date is : Apr 30, 2020,
but also:
05-02 Nightly (0055)
05-05 Nightly (0322)

Could you clarify when the error first occurred? I wonder if this is also related to #28069

[2020-05-07 23:17] choumx commented on #28264
Nice catch and thanks for the quick debugging and response. What's the race condition?

[2020-05-07 23:32] zhouyx commented on #28264
Read from
https://github.com/ampproject/amphtml/blob/c985e344b25effca5e8f2a604a3cef11eff6c0d3/src/types.js#L85-L89
My understanding is that `element.ownerDocument.defaultView` is `null` and the race condition is that the document is disconnected.

My guess on the error above:
https://github.com/ampproject/amphtml/blob/c985e344b25effca5e8f2a604a3cef11eff6c0d3/extensions/amp-analytics/0.1/amp-analyt

[2020-05-07 23:35] zhouyx commented on #28133
Related to #20100.

[2020-05-07 23:36] jridgewell commented on #28260
It's because social-share does an early return in `buildCallback`, and does `toggle(false)` in those cases to make it `display: none`. But, making an element `display: none` doesn't always prevent the element from receiving `layoutCallback`. (I'm looking into why this is.)

When this early return happens, there's no `shareEndpoint_` value set. And we then call `expandUrlAsync` with a `null` value.

[2020-05-07 23:59] rcebulko commented on #28220
@zhouyx It appears this is probably an error that appeared in some similar form on April 30 for an unrelated reason, but then something in 05-02 Nightly (0055) introduced a similar error that Stackdriver grouped together based on the stacktrace. The graph of occurrences over the last week is below:

![image](https://user-images.githubusercontent.com/6694512/81355664-2bf58f80-909d-11ea-9b63-da320d7

[2020-05-08 00:44] zhouyx commented on #28220
Thank you @rcebulko. In that case I'm certain that the error is related to the `analytics-chunks` experiment we are running in canary.

However I don't have any idea on what's causing the error. I've created #28268 that can remove the `ShadowRoot` check entirely.

[2020-05-08 00:46] zhouyx commented on #27823
👍 Yes please.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md
Please refer to the instruction above. Let me know if there's any question. Thank you

[2020-05-08 01:39] ampprojectbot opened #28269 "🚨 Error: <script> child must have type="application/json""
Details
---
**Error report:** [link](http://go/ampe/CLnR08HWvOnjoQE)
**First seen:** Apr 16, 2020
**Frequency:** ~ 1,968/day

Stacktrace
---
[code]

Notes
---
`@zhouyx` modified `src/json.js:135-158` in #17888 (Sep 5, 2018)
`@alanorozco` modified `extensions/amp-animation/0.1/amp-animation.js:93-93` in #27597 (Apr 16, 2020)
`@zhouyx` modified `src/custom-element.js:477-479` in #14306 (Apr 3, 2018)

[2020-05-08 02:00] ampprojectbot opened #28270 "🚨 Error: <script> child must have type="application/json""
Details
---
**Error report:** [link](http://go/ampe/CLnR08HWvOnjoQE)
**First seen:** Apr 16, 2020
**Frequency:** ~ 1,982/day

Stacktrace
---
<pre><code>
Error: <script> child must have type="application/json"
    at Error (<a href="https://raw.githubusercontent.com/ampproject/amphtml/2004252135000/src/json.js#L150">src/json.js:150</a>:14)
    at getChildJsonConfig (<a href="https://raw.githubuserc

[2020-05-08 02:00] rcebulko commented on #28269
Closing in favor of linkified https://github.com/ampproject/amphtml/issues/28270

[2020-05-08 02:00] #28269 closed

[2020-05-08 02:14] ampprojectbot opened #28271 "🚨 Error: <script> child must have type="application/json""
Details
---
**Error report:** [link](http://go/ampe/CLnR08HWvOnjoQE)
**First seen:** Apr 16, 2020
**Frequency:** ~ 1,988/day

Stacktrace
---
<pre><code>Error: <script> child must have type="application/json"
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2004252135000/src/json.js#L150">src/json.js:150</a>:14)
    at getChildJsonConfig (<a href="https://github.com/ampproject/amph

[2020-05-08 02:16] rcebulko commented on #28270
Closing in favor of https://github.com/ampproject/amphtml/issues/28271

[2020-05-08 02:16] #28270 closed

[2020-05-08 08:10] tannerbaum commented on #28193
Ha that is funny, hadn't seen that happen before. Edited the comment, it was amp-live-list

[2020-05-08 14:04] cramforce opened #28275 "Story loading indicator seems to sometimes show even though video is playing fine"
This is kind of annoying and makes the video performance appear worse than it is.

Could there be a race condition where we're somehow missing the `playing` event and don't hide the indicator until the video first loops?

CC @gmajoulet

[2020-05-08 14:33] gmajoulet commented on #28271
cc @alanorozco @ampproject/wg-ui-and-a11y

[2020-05-08 14:35] jamesozzie commented on #27712
@Jiaming-X @calebcordry I'm happy to share some examples of sites using Auto ads for AMP which would be impacted by this. Easy to replicate, and I not sure it's specific to users with wide viewports.

[2020-05-08 14:49] caroqliu commented on #28260
I'd prefer to directly check `shareEndpoint_` or element visibility in the `layoutCallback` to early return instead of calling `expandUrlAsync` -- I'm not sure I agree with throwing a different error earlier to avoid this error later.

[2020-05-08 15:14] choumx commented on #28264
Ah ok, it's the same issue. The root fix is probably removing `toWin()` and unsafe casting.

[2020-05-08 15:24] morsssss commented on #28193
Oh! Do you mean that you've been using the wrong public key?

Certain issues you describe are not ideal in any case, but I'd very much hope that using the proper keys will make things much better. In that case, we'd simply want to recommend that a proper error message gets output when the keys don't match.

[2020-05-08 15:28] morsssss commented on #28193
But, in general, if you want to guarantee very fresh content, I do think `<amp-list>` and other server call methods (like `<amp-live-list>` and `<amp-script>`) are the best bet. In cases, of course, where that's practical.

[2020-05-08 16:08] rcebulko commented on #28260
^^^ +1

[2020-05-08 16:18] Jiaming-X commented on #27712
@jamesozzie Thanks James. Feel free to share it. I think there are a few flows would create the similar issues in the bug. The Formatopia(this one) is one of them. I might need to create another issue for the auto ad one.

[2020-05-08 17:47] bx67212 commented on #28254
Same here: https://www.google.it/amp/s/amp.duepuntotre.it/%3fp=https://www.duepuntotre.it/2020/04/oroscopo-maggio-2020-ariete.html (google cache version)
https://amp.duepuntotre.it/?p=https://www.duepuntotre.it/2020/04/oroscopo-maggio-2020-ariete.html (Original amp version)
All ads works fine except auto-ads

[2020-05-08 17:59] Enriqe opened #28278 "[amp-story] Localization performance improvements"
There's some room for improvement when using the `LocalizationService`, and while #27990 and #28224 have been paving the road, we can go further, by e.g.:

- [ ] Move initialization of LocalizationService to `buildCallback()` in `amp-story` and in any relevant components.
- [ ] Lazy load localization files.

/cc @ampproject/wg-stories

[2020-05-08 17:59] Enriqe commented on #28278
This could be a good fixit candidate.

[2020-05-08 18:04] Jiaming-X opened #28279 "I2I: Limit the Full-Width Responsive Upgrade in Auto Ads to mobile users."
## Summary
Currently, according to the Auto Ads[ logic in placement.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-auto-ads/0.1/placement.js#L202), the ads will be upgraded to full-width responsive if the responsive flag is enabled.

This full-width expansion will likely to cover the nearby contents in desktop layout and will create broken user experience like this [one](http

[2020-05-08 18:27] mszylkowski opened #28280 "I2I: Reaction Components"
## Summary

This feature aims to bring reaction components to the web stories platform. As part of this effort, we will be adding two categories of components:
- Quizzes: Components with an optional prompt and 2-4 objective options to select, one of which will be correct.
- Polls: Components with an optional prompt and 2-4 subjective options to select, that will display the aggregate percentages o

[2020-05-08 18:31] jridgewell commented on #28248
I had tested with amp-carousel v2, which will autoplay during prerender.

[2020-05-08 18:38] jamesozzie commented on #27712
@Jiaming-X Sure, below are examples of some sites I've came across which I've noticed Auto ads for AMP placing adverts directly above the content.
- [Site 1](https://www.zodiacenthusiasts.com/cancer-boss/?amp) ([Screenshot](https://i.imgur.com/fg0RZRT.png))
- [Site 2](https://beijing.ie/?amp) ([screenshot](https://i.imgur.com/pPVDj4f.png))
- [Site 3 ](https://meetrussia.online/magical-attributes-i

[2020-05-08 18:49] caroqliu opened #28281 "[amp-fit-text:1.0] Bento tracking issue"
## High-level requirements
| Consideration  | Ready when | Status |
| ------------- | ------------- | ------- |
| Component compatibility | [Conformance with 0.1 (see below)](https://amp.dev/documentation/components/amp-fit-text/) | ✅ |
| Testing | Unit tests and e2e tests from 0.1 | ✅ |
| Internationalization | n/a | n/a |
| Analytics | n/a | n/a |
| Accessibility | Audit performed, [0.1 for refe

[2020-05-08 18:50] caroqliu opened #28282 "[amp-selector:1.0] Bento tracking issue"
## High-level requirements
| Consideration  | Ready when | Status |
| ------------- | ------------- | ------- |
| Component compatibility | [Conformance with 0.1 (see below)](https://amp.dev/documentation/components/amp-selector/) | ✅ |
| Testing | Unit tests and e2e tests from 0.1 | ✅ |
| Internationalization | n/a | n/a |
| Analytics | `select` event is supported | ✅ |
| Accessibility | Audit pe

[2020-05-08 18:56] caroqliu opened #28283 "[amp-social-share:1.0] Bento tracking issue"
Open tasks:

- [x] Initial implementation in #26543
- [x] Storybook samples in AMP in #27745
- [x] AMP service reconfiguration in #28137
- [x] Unconfuse `params` and `bindings`. Likely remove one of them and flatten the other one into component props. #28137
- [x] Cleanup typing in the `amp-social-share-config.js`. #28137
- [x] Declare and use prop types. See [FitTextProps type](https://github.com

[2020-05-08 18:57] caroqliu opened #28284 "[amp-carousel:1.0] Bento tracking issue"
Open tasks:

- [ ] Initial design and implementation
- [ ] Storybook samples

[2020-05-08 19:14] micajuine-ho commented on #28133
@MaximePlancke Thanks for your help! I'm able to repro the issue now. Would you be able to spin up a quick jsbin/example that I can test locally?

[2020-05-08 19:15] caroqliu commented on #28076
Closing this issue as we are moving to [the CSS property approach](https://github.com/WICG/display-locking/blob/master/README.md)

[2020-05-08 19:15] #28076 closed

[2020-05-08 19:27] caroqliu commented on #27844
@choumx Thanks for weighing in here. Since this is getting mixed reviews I'd recommend @ampproject/wg-stories folks add `notify` or `required` as they see fit on their format components since this is the only group that expressed interest in the change.

Closing the issue, feel free to re-open if folks want to discuss further.

[2020-05-08 19:27] #27844 closed

[2020-05-08 19:35] Jiaming-X commented on #28279
https://github.com/ampproject/amphtml/pull/28288

[2020-05-08 19:50] jridgewell commented on #28266
/to @ampproject/wg-ui-and-a11y

[2020-05-08 20:58] caroqliu commented on #28266
Dedup with #28062

[2020-05-08 20:58] #28266 closed

[2020-05-08 21:01] caroqliu commented on #27953
Dedup with #25377

[2020-05-08 21:01] #27953 closed

[2020-05-08 21:01] caroqliu commented on #28078
Dedup with #25377

[2020-05-08 21:01] #28078 closed

[2020-05-08 21:07] #28260 closed

[2020-05-08 21:22] rcebulko commented on #28260
Great work taking care of this so quickly!

[2020-05-08 21:56] ericfs opened #28293 "TalkBack select hidden items"
## What's the issue?

Items that are not visible are selectable using TalkBack gesture navigation to cycle through items.

![Screenshot_20200508-165029](https://user-images.githubusercontent.com/851850/81452559-2d828e80-9155-11ea-9904-856ee7566210.png)
![Screenshot_20200508-165010](https://user-images.githubusercontent.com/851850/81452527-19d72800-9155-11ea-92d7-935f3c7498ed.png)

## How do we rep

[2020-05-08 22:03] ericfs opened #28294 "TalkBack reads too much text on each Story page"
## What's the issue?

Too much text is read for each story page. In addition to the reading the displayed text it reads "Updated, alert, Sound off..." on every page of the story.

![Screenshot_20200508-154153](https://user-images.githubusercontent.com/851850/81452929-3aec4880-9156-11ea-9f15-97572be921f6.png)

## How do we reproduce the issue?

1. Enable TalkBack
2. Open a story such as https://www

[2020-05-09 01:05] #28220 closed

[2020-05-09 06:32] Sshuichi commented on #26734
Any update on this guys? Having the same issue..

[2020-05-10 00:16] #26121 closed

[2020-05-10 00:17] a-haan commented on #26121
I had unknowingly set the z-index of amp-youtube to 1 - issue is now fixed after removing this css.

[2020-05-10 11:35] newmuis commented on #28280
As a note, it's been suggested we rename this to "interactive/interactivity" components rather than "reactions", to avoid confusion with e.g. per-page or per-story hearts, thumbs up, etc.

[2020-05-11 08:59] Sshuichi opened #28301 "Auto ad requires ARTICLE selector?"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-05-11 10:41] matthiasrohmer opened #28302 "amp-bind: Validator doesn't error on AMP.setState without extension JS"
## What's the issue?

Using amp-bind on a page without adding `<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>` to the `<head>` element is still considered valid by the validator while it throws an error of `MISSING_REQUIRED_EXTENSION` for other extensions.

Currently, this only throws the error "AMP-BIND is not installed." and also only when t

[2020-05-11 11:18] aishwaryavora commented on #28279
LGTM. Thanks!!

[2020-05-11 13:35] #28275 closed

[2020-05-11 13:37] cramforce commented on #28275
@gmajoulet You asked for repo steps:

For me this happens all the time when going through video-heavy stories. I was testing with this one

- https://www.lonelyplanet.com/stories/amp/21-free-things-to-do-in-tokyo-3/
- http://localhost:8000/proxy/s/www.lonelyplanet.com/stories/amp/21-free-things-to-do-in-tokyo-3/

[2020-05-11 14:35] DanielMuller opened #28304 "lightbox-auto not created when using srcset"
## What's the issue?
When using srcset in an amp-img tag, lightbox-auto isn't set-up.
All conditions for lightbox-auto to work have been met.

## What isn't working?
When using images with srcset, lightbox isn't autmatically created with lighbox-auto.

## What is the expected behavior?
Images defined with srcset should have a lightbox created (with lightbox-auto), same as images with only src

##

[2020-05-11 15:42] choumx opened #28307 "🌸 Cherry-pick request for #28306 into #28223 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #28306 | #28306 |     **YES

[2020-05-11 15:49] gmajoulet commented on #28235
cc @ampproject/wg-stories @Enriqe

[2020-05-11 15:56] cramforce commented on #28307
Approved

[2020-05-11 16:05] mrjoro commented on #28095
@lannka is out until next week; @jeffjose can you take an initial look?

[2020-05-11 16:10] caroqliu opened #28308 "amp-selector[multiple] should display cursor: pointer on selectable options"
[Related comment thread](https://github.com/ampproject/amphtml/pull/27365#discussion_r420203420)
Caveat: Unless item is `disabled`

[2020-05-11 16:19] kborisov93 opened #28309 "amp-list not resized after page reload."
## What's the issue?

If the user scrolls down the list and then reloads the page, the list is not automatically resized.

## How do we reproduce the issue?
[https://somnishop.com/kategorie/schnarchschienen/](https://somnishop.com/kategorie/schnarchschienen/)
Scroll down the product list and reload the page.

## What browsers are affected?

All browsers.

## Which AMP version is affected?

2004252

[2020-05-11 16:26] kborisov93 commented on #28309
Possible workarounds:

- To use the _changeToLayoutContainer_ action, but this will require a user interaction, which is absurd.

- To somehow prevent the page from auto scrolling, but I haven't found a way to do this in AMP.

[2020-05-11 16:58] erwinmombay opened #28310 "I2S: Turn on module/nomodule build in production"
As described in https://github.com/ampproject/amphtml/blob/master/AMP_MODULE_BUILD.md
The module/nomodule pattern allows for us to ship a modern build of the AMP runtime. We intend to ship this gradually as this is a big change to how we ship code.

## Experiment(s) to enable
Module/nomodule

## Required release version
We have been deploying the module/nomodule build since late march 2020 to all

[2020-05-11 17:55] calebcordry commented on #28012
Took me a bit to realize what happened here. IIUC with the even with exp turned off any ad unit not using `data-loading-strategy` will have this value set to `12`, explaining why elimination of this feature would have such measurable impact.

https://github.com/ampproject/amphtml/blob/5365f610383b3b91d487ffb8f82723e25889f6be/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick

[2020-05-11 17:55] ericfs commented on #27604
Once again, I'll plan on a written report only as I think it will be very brief.

[2020-05-11 18:03] iGigant opened #28311 "AMP1"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2020-05-11 18:06] #28311 closed

[2020-05-11 18:13] caroqliu commented on #28309
Hi @kborisov93 thanks for filing this issue! I was able to reproduce the behavior you described. Has this feature worked as expected before this version?

[2020-05-11 18:13] choumx commented on #28012
Yea, also confusing since `idleRenderOutsideViewport` is supposed to return a boolean.

[2020-05-11 18:35] iGigant commented on #28311
I don't know how can I close? the bottom is not use

[2020-05-11 18:40] #28133 closed

[2020-05-11 18:57] caroqliu commented on #28304
Hi @DanielMuller thanks for filing this issue. Can you please describe what is the "broken" behavior and what is the expected behavior?

[2020-05-11 19:22] samouri opened #28312 "Fixit: make `gulp e2e` directly call dist() and build()"
**summary**
Currently the `gulp e2e` spawns a new process to call either `gulp dist` or `gulp build`. We can potentially simplify the code _and_ get all the flag parsing for free by instead directly calling `dist()` or `build()`. This idea was [originally suggested](https://github.com/ampproject/amphtml/pull/28305#discussion_r423168406) by @rsimha.

[2020-05-11 19:39] #27603 closed

[2020-05-11 21:03] calebcordry commented on #28231
Sorry, not sure I fully understand. Could you explain why `ADCID` does not work for your use-case?

[2020-05-11 21:46] morsssss commented on #28193
@tannerbaum , some folks who work on the Google AMP cache can look into this. They'd just like to know first whether you've fixed your public key - and whether that's made things better.

[2020-05-11 23:42] rsimha opened #28322 "Reduce the frequency and number of `amphtml` package upgrades"
**Background:**

The `amphtml` repo has [>150](https://github.com/ampproject/amphtml/blob/b65705aae8892fe3c4dceab624296fbfbee58315/package.json#L16-L195) dependencies in `package.json`. We use [`renovate`](https://github.com/renovatebot/renovate#renovate) to keep them up to date.

**Advantages:**
- Allows us to use the latest open-source tools
- Allows our `node` environment to be auto-updated (se

[2020-05-11 23:43] rsimha commented on #28322
Related: https://github.com/ampproject/amp-github-apps/issues/284

/cc @ampproject/wg-infra

[2020-05-12 00:52] newmuis commented on #28235
Can we implement our own `autofocus` attribute? (And also provide the programmatic hook?)

[2020-05-12 01:18] cramforce commented on #28280
Please add a11y concerns to the design/testing. Usually I2Is have a bit more technical detail. E.g. How are these connected to a backend?

[2020-05-12 01:22] Gregable commented on #28193
One thing I've observed is that your own server appears to be returning different results on multiple fetches. I suspect that there is some caching issue going on on your end. That's not to say that the AMP Cache isn't doing something odd here.

For example, amongst about 10 or so runs of the command, I saw this sub-sequence in this order:

[code]

If each one was unique, then perhaps this article

[2020-05-12 02:14] DanielMuller commented on #28304
I amended the issue to include in a clearer way what is "broken" and what is expected

[2020-05-12 06:38] akashshah3991 opened #28327 "Text is not rendering in amp story slides having amp fit text mainly for ios devices."
## What's the issue?
Text is not rendering in amp story slides having amp fit text mainly for ios devices. Text on first slides is visible as they do not have amp fit text. There may be another issue but seems to be amp fit text issues. It happens randomly. Sometimes it shows text and sometimes it's not.

## How do we reproduce the issue?

Live Urls:https://stories.whatahotel.com/top-5-resorts-in-

[2020-05-12 08:13] cyrusssschen commented on #1816
Has this one being fixed?
It seems the issue still remains in the example posted by @derekpeterson

[2020-05-12 08:40] massa1240 commented on #28231
Hi @calebcordry
unless I misunderstood how `adClientId` works, it doesn't give us the desired value. Currently, we use `CLIENT_ID(AMP_ECID_GOOGLE,,_ga)` on both parent page and ads when firing tracking events because we need to know what ads were shown in a given page load. Because we display ads using `amp-list` with our current ads-server we have this macro available, however, Google uses iframe

[2020-05-12 09:14] cpauwels opened #28330 "amp-fit-text doesn't fit text properly in amp-stories"
## What's the issue?

amp-fit-text has very inconsistent behavior when used in amp-stories. Here's a GIF:

![amp-fit-text](https://user-images.githubusercontent.com/4594196/81665591-2b644c80-9441-11ea-85bb-c58a0caa4467.gif)

As you can see, on some screen sizes amp-fit-text renders text at the smallest possible size.

## How do we reproduce the issue?

Open https://tappable.co/gifs/2020-05-10/, an

[2020-05-12 09:22] Facens commented on #24464
@zhouyx Bumping this up because the deadline for TCF v2 is getting closer and 200 bytes are not enough for the v2 string, so increasing the size becomes unavoidable. As I've said in my earlier comment, 1kb is minimum viable option, while 4kb would be ideal. Can we get this prioritized?

[2020-05-12 09:24] cpauwels commented on #26319
@Enriqe @gmajoulet @newmuis Any updates on this? This issue is still present on all our stories that include transparent images.

[2020-05-12 09:52] Emiliano-Bucci opened #28331 "Intent to implement: Create AMP myvideo player Component"
## Summary
Create an AMP component that embeds the MyVideo Video Player; `<amp-myvideo-player>`. This component will be used by publishers using [TheOutPlay](http://www.theoutplay.com/) platform.

The player will be embedded inside an iframe.

### Usage example
[code]

Detailed info about the component can be found here -> https://github.com/Myntelligence/amphtml/tree/amp-myvideo-player/extensions

[2020-05-12 11:24] massa1240 commented on #28231
Alright, I did a sanity check and indeed they almost give me the same value, but not quite. You will notice that when I use ADCID `GA1.2.` gets appended while using `CLIENT_ID` it only returns `amp-hKsywMdr9hRy0ERBK8dCNg`.

[code]

[code]

[code]

[code]

[2020-05-12 13:15] jashraf82 opened #28334 "🚨 406 (Not Acceptable): [Failed to load resource]"
GET https://mydomain.com/amp/assets/js/custom.js 406 (Not Acceptable)
[code]
Amp script Code:

"<"amp-script  layout="container" src="https://mydomain.com/amp/assets/js/custom.js" class="amp-script-sample">
        <button id="hello">Click!</button>
</amp-script">"
[code]
<"add name="AMP-Same-Origin" value="true" />
      <add name="Access-Control-Allow-Origin" value="https://mydomain-com.cdn.ampp

[2020-05-12 13:28] caroqliu commented on #28304
It looks like for some viewport sizes the lightbox is triggering in the srcset example, but not for others. @alanorozco to take a look as he is more familiar with the sizing criteria for auto-lightbox behavior.

[2020-05-12 14:11] jeryj commented on #26396
`amp-carousel-0.2.js` appears to have broken `Enter` / `Spacebar` presses on the Next/Previous buttons. The keyboard interactions work in `amp-carousel-0.1.js` .

You can see this in the [amp playground](https://playground.amp.dev/) with this code:

[code]

Switching the `amp-carouse` version to `0.1` brings the keyboard interactions back.

Also, the Amp Carousel documentation uses version `0.1`,

[2020-05-12 15:37] #27023 closed

[2020-05-12 16:05] gmajoulet commented on #28307
Done at May 11, 2020, 4:53:57 PM GMT-7

[2020-05-12 16:21] rcebulko commented on #28322
Does this matter enough that it should really factor into a decision?

We already group commits by component/directory, and there's a dedicated section for package updates. Given how the release notes are used (ie. often a developer looking at a release to see if their PR is present), maybe we could remove all the renovate commits from the list (possibly indicating at the end of the list that N we

[2020-05-12 16:24] wassgha opened #28339 "Upgrade Storybook AMP decorator to ES2020"
Add ES2020 features to the storybook AMP decorator

[2020-05-12 16:35] gmajoulet opened #28341 "White flash when switching Story from non visible visibilitystate to visible"
When switching a Story from a non visible visibilitystate (ie: `prerender` or `paused` or `hidden`) to `visible`, the Story can have a white flash.

Not sure if this happens only when there's a video on the first page or not.

More info: b/156128288

cc @ampproject/wg-stories

[2020-05-12 16:36] gmajoulet commented on #28341
Repro URL: https://www.vice.com/stories/amp/worst-summer-jobs/

[2020-05-12 16:55] mdmower commented on #23815
This issue occurs because the mutation of an element without width or height results in `this.toggleLoading(false)` due to the element being classified as `!inViewport`. Here's the chain:

The width and height of the `amp-list` are removed in `undoLayout_()`:

https://github.com/ampproject/amphtml/blob/201289bfb7f9354626163a6b2b2d9b8126629f74/extensions/amp-list/0.1/amp-list.js#L1332

When a subse

[2020-05-12 17:24] mrjoro commented on #27604
Since there are no topics other than the WG update, we'll cancel this Design Review.

@ericfs please provide a link here to the written Viewers WG update when it's ready.

[2020-05-12 17:26] #27600 closed

[2020-05-12 17:37] kborisov93 commented on #28309
No, it behaves like that for at least 2 months. I thought that I made some mistake, and got to it a few days ago.

[2020-05-12 17:45] rsimha opened #28343 "Sauce Labs runs frequently fail with disconnection errors / zero-test warnings"
I've noticed a few Sauce Labs failures recently that are due to disconnection errors / zero-test warnings.

For example: https://travis-ci.org/github/ampproject/amphtml/jobs/686172826#L2358 (pasting screenshot below in case build gets restarted)

![image](https://user-images.githubusercontent.com/26553114/81726656-b94a3280-9455-11ea-9f45-7bca9898583c.png)

There is a plan add a heartbeat, but it h

[2020-05-12 17:52] DanielMuller commented on #28304
To add more infos. I tested on a desktop browser. But any window size(up to 1920x1080) didn't work.
On a mobile chrome browser, no issue (any orientation).

[2020-05-12 18:30] stephengardner opened #28348 "AMP Analytics multi-selector on amp-form-submit"
The documentation provided (https://amp.dev/documentation/components/amp-form/?format=websites) does a good job of describing how to track form submissions for POST request forms using `form-submit` and `form-submit-success` along with `amp-analytics`

Unfortunately, while testing, we've found this doesn't work on GET requests.  GET request forms are used frequently to do things like perform Searc

[2020-05-12 18:36] jridgewell commented on #28322
If we don't want to give renovate merge rights, perhaps we can create a bot that will scan for PRs from renovate that are approved and merge them?

[2020-05-12 18:46] gmajoulet commented on #28136
From @cramforce about the optimal sources order:

[2020-05-12 18:59] zhouyx commented on #24464
Thank you @Facens for bumping this up. There were some discussion around this topic with multiple teams last week, and the AMP team **decided to expand the raw string size limit to 1kb** to accommodate the TCF v2 requirement.

More context on the size limit can be found [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-localstorage.md#storage-policy).
Right now the size limit Googl

[2020-05-12 20:04] mhart opened #28353 "Don't trigger amp-next-page for large viewports on initial load"
## Describe the new feature or change to an existing feature you'd like to see

Hard to know whether this is a bug/feature-request that belongs in this project, or whether it's something that Googlebot should fix, but basically the way amp-next-page fetches multiple pages on initial load is apparently considered a no-no according to John Mueller:

https://twitter.com/JohnMu/status/1260120253469806

[2020-05-12 20:30] Enriqe opened #28355 "Uncaught ReferenceError: module$build_system$global_configs$caches_json is not defined"
`amp-story-player` is throwing the following error:

[code]

Causing the player to stop loading.

This is because in #27658 we import the `caches.json` found in `build-system/`, but it looks like it's not bundled in production.

/cc @ampproject/wg-stories

[2020-05-12 20:58] Enriqe opened #28359 "🌸 Cherry-pick request for #28355 into #28223 #28389 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #28355 | #28356 |     **YES

[2020-05-12 20:59] samouri opened #28360 "I2I: New metrics for optimizing the resources loading rect."
### Objective

To enable the optimization of AMP loading performance by introducing new runtime metrics for measuring the effectiveness of our "loading rect". The new metrics are:

1. Slow element ratio: percentage of elements where layout happens after entering viewport.
2. Eager element ratio: percentage of laid out elements that never enter viewport.

### Background

The Resources service is re

[2020-05-12 21:08] dgilman opened #28361 "amp-script "terminated due to illegal mutation" glitches the chrome profiler"
## What's the issue?

I have an amp-script that is doing an excessive amount of DOM mutations, some possibly illegal, and the amp-script runtime wants to kill it after some time. Here are the console log messages:

[code]

I didn't write the amp-script code that's running inside the web worker, so I decided to break out Chrome's JS profiler to try and see what it was doing wrong.

The bug is that

[2020-05-12 21:21] Enriqe commented on #28355
Importing @jridgewell's comment here for visibility https://github.com/ampproject/amphtml/pull/27658/files#r424018799

"Importing from build-system isn't supported, because isn't not included as one of our files when we pass them to closure."

@ampproject/wg-infra can we add a pre-submit check to prevent importing from `build-system/`? Is that something that could've prevented this?

[2020-05-12 21:39] dvoytenko commented on #28359
Approved

[2020-05-12 21:44] rsimha commented on #28343
Seeing more reports of this: https://travis-ci.org/github/ampproject/amphtml/jobs/686250218#L2535

[code]

[2020-05-12 21:47] rcebulko commented on #28355
My inclination is that this should be a compilation/build-time failure rather than a presubmit check. Ideally it would fail as soon as a developer tried to build locally

[2020-05-12 21:49] Enriqe commented on #28355
Discussed with @jridgewell offline, he came up with a [fix](https://github.com/ampproject/amphtml/pull/28356/commits/6b2688ee6f983a22ac6d9d9915b72d3e7ef4940f) to the existing regex that checks for unknown dependencies. He thinks Closure possibly changed the import identifier format.

[2020-05-12 21:52] rcebulko commented on #28343
It's interesting this is resurfacing so suddenly. I haven't seen this error in a while, and our VM concurrency today has been very low, so it's not the concurrency limit issue. Will have to dig in

[2020-05-12 22:19] #28312 closed

[2020-05-12 22:41] GeorgeLuo commented on #27939
@rsimha can you clarify the state of this job? As I understand it the completion of `gulp validator-java ` is no longer a predicate to completing the job. So why did java come into play in the [latest travis job](https://travis-ci.org/github/ampproject/amphtml/jobs/686329451)? Was the logic added to watch for changes to under _validator/java_ path? thank you

[2020-05-12 22:45] rsimha commented on #27939
Successful completion of `gulp validator-java` is not a requirement for PRs that do not touch `validator/java`.

Correct, it is a requirement for code that does touch that directory, to prevent _new_ breaking changes from being merged. Here's the logic (notice the presence / absence of `OrDie`):

https://github.com/ampproject/amphtml/blob/aca8b111c3a3e3d3133edfb2ffaa8acf38bed60c/build-system/pr-ch

[2020-05-12 22:58] GeorgeLuo commented on #27939
Ah awesome, thanks. The system works!

[2020-05-12 23:00] choumx commented on #28307
Thanks Gabriel!

[2020-05-12 23:02] rsimha commented on #28343
Yeah, I doubt this is due to concurrency. I wonder if some tests are causing a browser crash / restart on the VM. Since you're our in-house expert on this, I've assigned this to you for investigation when time permits 😃

[2020-05-12 23:18] #28355 closed

[2020-05-13 01:02] vtisnado commented on #5225
Hey guys, any update or workaround about this?

[2020-05-13 03:22] cramforce commented on #28353
I think the best implementation here is likely to not trigger loading more pages if not scroll event has ever been observed.

[2020-05-13 11:53] mhart commented on #28353
Agreed, I think the only question is whether there are use cases that ppl *want* this behavior – eg, a related list of items that you're just paginating through. Because they're related, it might make sense to load as many as can fit in the viewport as once.

So basically, should there be an option for it

[2020-05-13 12:12] techzotezo opened #28378 "AMP compatible Woocommerce and Post Search functionality"
## Describe the new feature or change to an existing feature you'd like to see
Need to implement Powerful AMP search with woocommerce compatibility and Adding Shortcode function in code.
A clear and concise description of what you want to happen.
Amp Supported and compatible search
## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or f

[2020-05-13 12:34] dharmin opened #28379 "Imgur post embed gives 404 error"
## Bug Description

The Imgur post embed generates AMP tag, it uses post id as data-imgur-id, and it creates incorrect embed URL: `https://imgur.com/2q6AS6i/embed?pub` so it’s not displayed on the AMP page.

[code]
In the official AMP documentation, there is no information available for Imgur post embed.
https://amp.dev/documentation/components/amp-imgur/

And there is a merged PR to add the suppo

[2020-05-13 14:32] tannerbaum commented on #28193
With the correct public key we are now getting a 200 back from the clearing cache requests. Just confirmed it with this link:

https://www-br-de.cdn.ampproject.org/update-cache/c/s/www.br.de/nachrichten/amp/deutschland-welt/coronavirus-alle-entwicklungen-im-live-ticker,Rt6bDgj?amp_action=flush&amp_ts=1589379560&amp_url_signature=YOfpdofi-wbhqyWSHqBquplwj4lJTFyrGHJSgBUltJg2KDBAQB1_hmsq1zfsjrdIRJf0u

[2020-05-13 14:33] tannerbaum commented on #28193
@Gregable, just saw your comment, thanks a ton. I am going to look into this.

[2020-05-13 15:18] #24083 closed

[2020-05-13 15:19] caroqliu commented on #18058
Fixed by #18590

[2020-05-13 15:19] #18058 closed

[2020-05-13 15:22] caroqliu commented on #28379
Dedup with #28049

[2020-05-13 15:22] #28379 closed

[2020-05-13 15:23] rsimha commented on #28343
I took a look at the Sauce Labs logs. The Karma server is getting disconnected while running tests even though the browser is still up and running. This is happening early in test runs (~2-5 mins in), so it isn't due to the idle timeout, which is 10 mins.

Will escalate this to Sauce Labs support.

**Example below:**

**Travis logs:** https://travis-ci.org/github/ampproject/amphtml/jobs/686410570

[2020-05-13 15:30] caroqliu commented on #27344
You should be able to use unescaped HTML with `{{{` [under the documented restrictions](https://amp.dev/documentation/components/amp-mustache/#restrictions).

It sounds like it is stripping `<h3>` and `<amp-img>` tags -- are there others you want to request to be allowed?

[2020-05-13 15:35] caroqliu commented on #27344
Anyway IIUC the changes required are to add the desired tags to this list:
https://github.com/ampproject/amphtml/blob/master/src/purifier/sanitation.js#L120

[2020-05-13 15:48] mszylkowski opened #28380 "Reaction elements not properly positioned on thirds layout with & without CTA layer"
When grid-layout is thirds, reaction components such as quizzes (and probably other components bigger than 1/3 of the height) are not properly positioned so they stick out of the screen and behind the CTA layer.

Potential solutions:
- self-align:end for lower-third, self-align:start for upper-third (suggested).
- not allow thirds with reaction components (restrictive).
- not allow cta and page at

[2020-05-13 15:55] wswebcreation commented on #28343
@rsimha

Can you try to run on Sauce Labs again and use Chrome and try to provide the capability `extendedDebugging: true`. That might show some network traffic on the browser

Secondly try to log the Sauce Connect logs to a file so we can see what it happening there?

[2020-05-13 16:05] sagarnasit opened #28383 "Custom poster for video is not fitting appropriately"
## What's the issue?

Custom poster used in amp-video not fitting appropriately if the aspect ratio of poster and video are different.

## How do we reproduce the issue?

Here is the [codepen link](https://codepen.io/sagarnasit/pen/ExVpRXo).

1. Add the amp-video component.
2. Add poster image with different aspect ratio.

## What browsers are affected?

All browsers.

## Which AMP version is affe

[2020-05-13 16:10] rsimha commented on #28343
@wswebcreation Thanks for the tips. Both steps are done in the debugging PR #28384. Results should be available in a few minutes in [this](https://travis-ci.org/github/ampproject/amphtml/builds/686646104) Travis build. (See [job 9](https://travis-ci.org/github/ampproject/amphtml/jobs/686646114) for Sauce labs logging.)

[2020-05-13 16:12] gmajoulet commented on #28359
Cherry-pick deployed to production at May 12, 2020, 7:59:05 PM GMT-7

[2020-05-13 17:02] gmajoulet commented on #28253
Friendly ping @rcebulko

This happens to me almost daily and has been creating confusion in our review process. Is there any way we can help getting a fix?

[2020-05-13 17:10] westonruter commented on #28383
Comparing the non-AMP and AMP version as generated by the AMP plugin, I do see a difference:

The reason for why the non-AMP version has a poster image that is `cover`ing rather than `contain`ing the element is that in the non-AMP version WordPress is using the MediaElement.js library which puts the poster image in an element that overlays the video, and the poster image is set as the background i

[2020-05-13 17:28] rcebulko commented on #28253
Hi @gmajoulet , sorry for not getting to this sooner. I poked at this last week but realized I couldn't trigger it for myself and it fell behind other work.

Initial investigation suggests this is a result of the PR changing, and the bot editing the comment to remove reviewers on the PR. When that happens, even if you've left a review, GitHub's Activity/Notifications logic appears to be "since the

[2020-05-13 17:32] powerivq opened #28386 "I2I: Allow sticky ads in amp-ad component"
## Summary

This PR proposes to merge the feature available on amp-sticky-ad into amp-ad.

## Design document

[code]

### Dynamic size
In the traditional amp-ad tag, the size of the ad slot must be statically defined at the page creation time. This constraint ensures layout stability within the page. However, since this type of ads is fixed on the viewport, allowing dynamic size should not cause

[2020-05-13 17:41] rsimha opened #28387 "Add JSDoc enforcement + some sort of type checking for `build-system/`"
For the AMP runtime, we enforce JSDoc requirements for all code, and check types using closure compiler. However, `build-system/` currently lacks JSDoc enforcement, and we do not type-check it using closure.

This issue is to track two things:

- [ ] Enforce JSDoc requirements and backfill missing documentation for existing code.
- [ ] Do some sort of type checking. If not closure, perhaps [use ty

[2020-05-13 17:52] gmajoulet commented on #28253
Thank you for the update Ryan! Let me know when/if you need any help to repro or test a fix :))

[2020-05-13 18:05] rcebulko commented on #28253
This fix will likely come at the expense of https://github.com/ampproject/amp-github-apps/issues/473, which was the initial FR to remove reviewers from the comment. Doing so while accounting for the order of events on the thread in such a way as to ensure notifications aren't impacted would introduce a significant degree of complexity (the current approach only requires the current state of the PR

[2020-05-13 18:17] cramforce commented on #28386
Is allowing `amp-ad` to upgrade itself from non-sticky to sticky in scope here as well? Or is that not desired?

[2020-05-13 18:41] #28253 closed

[2020-05-13 18:45] gmajoulet opened #28389 "🚄 Release tracking issue for release 2005151837000"
# Release tracking issue

This issue tracks release [2005080549000](https://github.com/ampproject/amphtml/releases/tag/2005080549000)

- [x] Release 2005080549000 promoted to Experimental and Beta (opt-in) channels (May 13, 2020, 2:51:37 PM GMT-4)
- [x] Release [2005080549001](https://github.com/ampproject/amphtml/releases/tag/2005080549001) created with cherry picks #28359
- [x] Release 200508054

[2020-05-13 18:45] gmajoulet commented on #28223
Next release: #28389

[2020-05-13 18:45] #28223 closed

[2020-05-13 18:47] gmajoulet commented on #28359
This needs to be cherry-picked into beta/exp as well. https://github.com/ampproject/amphtml/issues/28389

cc @dvoytenko @Enriqe

[2020-05-13 18:58] Enriqe commented on #28359
Updated description

[2020-05-13 19:11] rsimha opened #28391 "Frequently failing `ad choices` and `amp-bind` e2e tests"
Seeing many of these of late. Example: https://travis-ci.org/github/ampproject/amphtml/jobs/686700022#L2340

[code]

/cc @ampproject/build-cop

[2020-05-13 19:49] rsimha commented on #28322
Thanks for the comments. As a start, I think we should consolidate `amphtml`'s renovate upgrades into at most one `MINOR` and one `PATCH` PR per day per `package.json` file. `MAJOR` upgrades can still be tested separately given the likelihood of being a breaking change. (@rcebulko since you initially proposed something similar in https://github.com/ampproject/amp-github-apps/issues/284#issuecommen

[2020-05-13 19:55] powerivq commented on #28386
@cramforce Not in scope for this. However, since upgrading ads to match an environment is done in some cases (DoubleClick), we can defer this question to the specific ad network.

[2020-05-13 20:00] THE-VR7 commented on #28308
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 20:00] zhouyx commented on #28386
So if I understand it correctly, the proposal is only to change the tagging.
By changing `<amp-sticky-ad>` to `<amp-ad format=sticky>`.
Publishers are still required to decide and tag which ad will be displayed as sticky ad.

[2020-05-13 20:01] THE-VR7 commented on #27344
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 20:03] THE-VR7 commented on #27121
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 20:10] dvoytenko commented on #28359
Approved for beta.

[2020-05-13 20:12] rcebulko commented on #28095
/tryassign joshfg

[2020-05-13 20:12] rcebulko commented on #28095
/tryassign @joshfg

[2020-05-13 20:21] caroqliu commented on #27121
Please do, thanks for volunteering. :)

[2020-05-13 20:22] caroqliu commented on #27344
You're welcome to make this contribution once there is more clarity on what desired tags are being requested. :)

[2020-05-13 20:23] caroqliu commented on #28308
Sure thing, thanks for your contribution!

[2020-05-13 20:29] #28380 closed

[2020-05-13 20:34] krdwan commented on #28283
Tracking Open Items Here:

High Priority -
1. In Preact component, `params` and `bindings` are currently separate `props`.  After re-design of AMP component, we will take a comprehensive look into how `params` and `bindings` may be redesigned to create a simpler interface.

Nice to Have -
1. `PropType` type checking on Preact component `props`.

[2020-05-13 20:42] rcebulko commented on #28322
The above PR takes the first step of grouping by `MINOR` and `PATCH` type. As for grouping by `package.json`, I was thinking of a grouping like the following:

[code]

Within each group, we'd combine MINOR and PATCH updates into PRs for each. For example, all PATCH updates for the Validator and subpackages would get one PR, same for build-system, etc. In some cases (Misc, Purifier) we might even c

[2020-05-13 20:54] rsimha commented on #28322
I like your idea of separating updates into groups! `Root`, `Validator`, `Other`, and `Build System` SGTM, but I think `Purifier` should be called `Runtime`, so that it can include other potential additions inside `src/`. Also, +1 to your idea for how to assign updates for review.

👏 👏 👏

[2020-05-13 21:15] gmajoulet commented on #27944
Friendly ping @Enriqe

[2020-05-13 21:20] gmajoulet commented on #26319
@ampproject/wg-ui-and-a11y does anyone know if this a known AMP issue, or if it is a Story bug?

cc @ampproject/wg-stories

[2020-05-13 21:20] rsimha commented on #28387
/cc @ampproject/wg-infra and @ampproject/wg-runtime for opinions / ideas.

[2020-05-13 21:20] Noah-Lc commented on #27344
You know most of who using amp now they are focused to get a full SEO website, like in my case I'm trying to build a website using AMP so when I want to show articles I need some tags to respect SEO rules like H1, H2, BLOCKQUOTE, and also amp-img to display pictures inside an article.

[2020-05-13 21:22] hartman-owens opened #28394 "🚨 Error: [error message]"
Details
---

**Error report:** `[link](go/ampe/<Error_ID>)`
**First seen:** <First seen date>
**Frequency:** ~ <Daily occurrences>/day

Stacktrace
---
[code]

/cc @ampproject/release-on-duty

[2020-05-13 21:26] estherkim commented on #28387
What if we wrote build-system in TypeScript?

[2020-05-13 21:29] jridgewell commented on #28387
Typescript would be cool, and you won't need to spin up a java process to typecheck. The Typescript language server can be spun up by your editor by default, and run the checks incrementally as you code.

[2020-05-13 21:32] rcebulko commented on #28387
Agree build system is a good target for Typescript. Explicitly defining some of the types might also make obvious some ways to organize existing infra

[2020-05-13 21:33] gmajoulet opened #28395 "Add an attribute to amp-story for publishers to know if the story audio is muted."
Add an attribute to amp-story for publishers to know if the story audio is muted.

Audio playing:
`<amp-story ...>`

Audio muted (default):
`<amp-story muted>`

Publishers can then write CSS targeting muted or unmuted states:
`amp-story:not([muted]) {}`
`amp-story[muted] {}`

cc @ampproject/wg-stories

[2020-05-13 22:03] #28394 closed

[2020-05-13 22:25] gmajoulet opened #28397 "Create new Story viewer capability to support "Swipe down to close" gestures."
Create new Story viewer capability to support "Swipe down to close" gestures, for singleton documents that don't have the `cap=swipe`.

cc @ampproject/wg-stories

[2020-05-13 22:34] rsimha commented on #28387
I agree with the long-term goal of moving to TS. However, I suspect it will be a multi-quarter effort to rewrite the 40K+ lines of JS code in `build-system/`. Not sure if / when we'll have the bandwidth to prioritize something like this.

Meanwhile, I think it's worth enforcing and backfilling JSDoc annotations, which should take substantially less time than a full rewrite, and help avoid simple c

[2020-05-13 22:42] laurelfulford opened #28398 "amp-img: Issues with IE11 and layout="intrinsic""
## What's the issue?

When using `layout="intrinsic"`,  images displayed using `amp-img` are squashed, or not displaying at full size, in IE11.

Visually, it looks like the same issue as: https://github.com/ampproject/amphtml/issues/17652, but I'm not experiencing any JavaScript errors.

I did try the CSS fix suggested in that issue, just in case, but it didn't seem to fix the issue for me.

## Ho

[2020-05-13 22:44] samouri commented on #28387
I don't think a full rewrite is needed immediately in order to start using TS, we can adopt it incrementally. Some possible ways include:
1. Converting files one by one to `.ts` instead of all at once. This allows us to have a relatively more strict tsconfig.
2. Converting them all at once but having an initially lax `tsconfig` that we gradually make more strict (e.g. with `any`'s).

[2020-05-13 23:07] morsssss opened #28399 "Warn if <amp-sidebar> isn't a direct child of <body>"
I was glad when, in #21895, we removed the requirement for `<amp-sidebar>` to be a direct child of `<body>`. There were plenty of cases before where this requirement made it hard to convert a page to AMP. Sometimes you had to rejigger your HTML and CSS substantially.

That said, I just got bit by this while teaching a class yesterday. Trying to code live, I forgot this requirement, and I couldn't

[2020-05-14 00:24] dvoytenko commented on #28283
@krdwan

This is great. But also a simple `TODO` item in the "Open tasks" in the description would suffice. See how I placed it into the description of the bug. It's nice to have it in a list in one place.

[2020-05-14 05:56] powerivq commented on #28095
@joshfg Thanks for making this proposal. It is well written. I have left some comments on your google doc. In general, on-device handling of targeting information makes a lot of sense, but let's resolve these technical questions.

[2020-05-14 09:37] Usercentrics-AMP commented on #27823
Closing because MR was merged.

[2020-05-14 09:37] #27823 closed

[2020-05-14 10:01] Jiaming-X opened #28403 "I2I: Convert Full-Width Responsive to Container-Width for desktop users"
## Summary
Historically, Adsense implemented the full-width responsive tags(Auto Responsive and Core Responsive) to serve AMP users assuming that most users would be mobile users, and that publishers would have canonical pages to sereve desktop uers. As its name suggested, full-width responsive will occupy the width of the viewport, and expand the Ads. This would not work for the desktop users on

[2020-05-14 11:02] bc-stef commented on #27930
When will the merged pull request be deployed and live? Try to connect with the amp-analytics type="blueconic" but no response yet. And when are we added to this list: https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics-vendors/?format=websites

[2020-05-14 12:02] Enriqe commented on #28397
This was done in #27055. Does this not resolve the requirements?

[2020-05-14 12:39] gmajoulet commented on #28397
No, the story runtime would still block the events. What is #27055 used for? I believe it's a no-op on a Story.

[2020-05-14 12:49] Enriqe commented on #28397
It's used for the "swipe down to close" feature in Google's SERP, for singleton documents. It allows the viewer to receive touch events, without enabling all the `cap="swipe"` functionality in the story runtime.

[2020-05-14 12:56] gmajoulet commented on #28397
How did you test it? I'm 99% sure that it does not work, we even have unit tests to ensure that events don't bubble up beyond the amp-story:

https://github.com/ampproject/amphtml/blob/7a69be3f4cfdcb3fd1d1895de609d3afb8f0d404/extensions/amp-story/1.0/test/test-amp-story.js#L1572-L1578

[2020-05-14 13:48] krdwan commented on #28283
Thanks @dvoytenko !  I'm still a few merges away from having write access to the repo (and edit access on this issue).  I'll be sure to consolidate once I have it!

[2020-05-14 14:03] Enriqe commented on #28397
It sends the event as a message, it doesn't actually block the event from bubbling up the DOM.

See
https://github.com/ampproject/amphtml/blob/7a69be3f4cfdcb3fd1d1895de609d3afb8f0d404/extensions/amp-viewer-integration/0.1/touch-handler.js#L140-L143

[2020-05-14 14:09] newmuis commented on #28395
😂 this was the initial implementation way back in the day. Glad to see it come full circle

[2020-05-14 14:10] gmajoulet commented on #28395
/to @mszylkowski

[2020-05-14 14:13] gmajoulet commented on #28397
What I meant in my previous message is that the story swallows the touch events and won't let them get to the `touch-handler.js` listeners, cf the unit test.
How did you test it? Maybe our implementation and unit tests are broken, but it'd be good to know if so.

[2020-05-14 14:29] gmajoulet commented on #28235
+1 for a programmatic hook
cc @Enriqe who's finalizing the Player API

[2020-05-14 14:55] Enriqe opened #28404 "[amp-story] amp-audio isn't playing audio"
Getting this error
[code]
and audio is not playing

/cc @ampproject/wg-stories

[2020-05-14 14:58] Enriqe commented on #28404
I'm thinking this might be the cause:

https://github.com/ampproject/amphtml/blob/7dc79a0a5cf144ee9c165d3cc2298b32602b43be/extensions/amp-story/1.0/amp-story-page.js#L1109-L1116

We recently made a change to wait for the `amp-audio` element to be laid out before registering it to the media pool, but since `amp-audio` elements use `layout="nodisplay"` in stories, they aren't laid out, and thus the

[2020-05-14 15:09] Enriqe commented on #28404
For `amp-audio` we really only have to wait for it to be built, not laid out. We can do something like
[code]

[2020-05-14 15:09] gmajoulet commented on #28404
From the `amp-audio.js` file, it looks like the `layoutCallback` not running with `layout=nodisplay` is expected.

Let's fix our Story code to work with it:
if 'AMP-AUDIO' && layout is not Layout.NO_DISPLAY -> wait for LOAD_END
if 'AMP-AUDIO && layout is Layout.NO_DISPLAY -> wait for BUILT

[2020-05-14 15:11] Enriqe commented on #28404
We only validate ` Layout.NO_DISPLAY` in stories though, so I think we should only wait for it to be built.

[2020-05-14 15:45] gmajoulet opened #28408 "Talkback: Story text read twice"
Talkback reads the story text twice, eg: https://www.10best.com/web-stories/amp/mead-is-being-reborn/ reads "Mead is being reborn, and it's something you need to try" twice

cc @ampproject/wg-stories

b/155933975

[2020-05-14 15:46] Enriqe opened #28409 "🌸 Cherry-pick request for #28404 into #28223 #28389 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #28404 | #28407 |     **YES

[2020-05-14 15:51] gmajoulet opened #28410 "Talkback: story education reads special characters"
When the story education is visible, talkback reads the special characters (or SVG?).

To display the education layer, append `#cap=education` to your Story URL, and add `this.setState_(State.NAVIGATION_TAP)` as the very last line of `amp-story-education.buildCallback()`.

cc @ampproject/wg-stories
b/156132895

[2020-05-14 15:53] gmajoulet commented on #28410
Additionally, talkback should not read what's behind the education layer.

[2020-05-14 15:53] ampprojectbot opened #28411 "🚨 Error: null is not an object (evaluating 'a.getBoundingClientRect')"
Details
---
**Error report:** [link](http://go/ampe/CJjOx6D55fWCFg)
**First seen:** Apr 12, 2020
**Frequency:** ~ 15,433/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.getBoundingClientRect')
    at content (<a href="https://github.com/ampproject/amphtml/blob/2005050322002/src/service/viewport/viewport-binding-ios-embed-wrapper.js#L252">src/service/viewport/viewport-bin

[2020-05-14 16:08] calebcordry commented on #28231
Thanks for the detailed report. If we allow the `CLIENT_ID` macro in the `json` attribute (#25190) would that also solve your use case?

[2020-05-14 16:10] calebcordry commented on #25190
We have discussed with the Doubleclick team are now planning on implementing this feature as soon as time permits.

[2020-05-14 16:11] rcebulko commented on #28411
First seen date appears misleading, as the graph shows a big spike around May 12, right after 05-12 Nightly (2316) appeared, and at the same time as the cherry-pick release 0322+1 came out. This cherry-pick ([request](https://github.com/ampproject/amphtml/issues/28307)) is linked to https://github.com/ampproject/amphtml/pull/28306, which was a reversion of #28043. It was performed  the afternoon o

[2020-05-14 16:18] newmuis commented on #28410
Is there some way we can not special case the education layer, but rather any time there's a modal or drawer overlaid?

[2020-05-14 16:25] #28404 closed

[2020-05-14 16:47] cramforce commented on #28409
Approved

[2020-05-14 16:50] forking-renovate[bot] opened #28414 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2020-05-14 16:54] rcebulko commented on #28322
The config has been updated; we'll see tonight at midnight how it shakes out :)

[2020-05-14 17:11] zhouyx commented on #25190
is the plan to expand variables within the  doubleclick `json`attribute? OR it will be applied to all `data-` attributes?

[2020-05-14 17:28] Enriqe opened #28416 "I2I: Programmatic control of the amp-story-player"
Users have raised requests to control the player programmatically through an API. The proposed API design is as following:

## Exposing the AmpStoryPlayer class

In order for other libraries to control the player and its behavior (e.g. when it loads) we plan on exposing the `AmpStoryPlayer` class as a global variable.

This will be exposed in [`src/amp-story-player/amp-story-player.js`](https://gi

[2020-05-14 17:28] samouri commented on #28361
Hi @dgilman,

The error you are seeing regarding illegal mutations are not referring to any restraint that regular [web workers](https://developer.mozilla.org/en-US/docs/Web/API/Worker) have.  AMP in general attempts to remove any possible [layout shift](https://web.dev/cls/) that could occur on a webpage.

In order to minimize cls, we place a restriction on `<amp-script>` that mutations may only

[2020-05-14 17:31] Enriqe commented on #27331
Continuing the discussion in #28416

[2020-05-14 17:37] micajuine-ho commented on #27930
You can opt into the nightly builds, where it should be out already or the weekly build (canary) where it will be out next week.

Checkout out our release documentation for more info.
https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/

If you do not want to opt into any of these releases, this change will be out in production on Jun 1.

[2020-05-14 17:37] #27930 closed

[2020-05-14 17:46] dgilman commented on #28361
I really think that error message is slightly misleading.  I gave you the link above that triggers the errors reliably.  However, I have other pages whose amp-script markup (including the same amp-script container layout) is much smaller (fewer rows in the table) and the whole thing works perfectly, no errors in the console, the javascript works well, the table gets mutated.

I have a feeling some

[2020-05-14 17:47] dgilman commented on #28361
And if this action should be denied because of amp-script rules I guess the working examples are a bug of their own.

[2020-05-14 17:54] calebcordry commented on #25190
The idea was just to do the json attribute, do you think it would be better to change the scope?

[2020-05-14 18:03] gmajoulet opened #28421 "Talkback should only read active story page content."
Talkback should only read active story page content.

Talkback reads the active story page content, and then proceeds with the following page before user navigation happens.

cc @ampproject/wg-stories
b/155936295

[2020-05-14 18:07] gmajoulet opened #28422 "Talkback: provide a way to navigate to the previous story page"
There is no way to navigate to the previous story page using Talkback.

Here's the code determining if a click event should navigate forward or backward:

https://github.com/ampproject/amphtml/blob/3c4af2940d1a40e8541b2d643c4db6a22af6daaa/extensions/amp-story/1.0/page-advancement.js#L653-L670

Desktop has navigation arrows that are focusable, but they are hidden on mobile so there is no focusable

[2020-05-14 18:12] cramforce commented on #28421
I tried to prevent this by making every slide except the current slide `aria-hidden="true"`. If that isn't working, what can we do?

[2020-05-14 18:16] samouri commented on #28361
I haven't read up on the linked data-tables library, but assuming it performs dom mutations on initialization then this is indeed intended behavior.

Which working examples are a bug? Can you include a link to one?

[2020-05-14 18:22] choumx commented on #28411
Thanks for the initial investigation. Since the PR above is just a reversion to old behavior, this was likely an existing error. The offending line also implies that `document.body` is null, which is strange/exceptional behavior that probably can add a simple guard against.

[2020-05-14 18:33] zhouyx commented on #25190
I don't have a preference. asked because the requirement was not clear to me. Thanks for the clarification.

[2020-05-14 18:34] gmajoulet commented on #28421
There is a chance that your changes (https://github.com/ampproject/amphtml/pull/27820 for reference) were not in production at the time of the accessibility review.
If `aria-hidden` attributes are not enough, @processprocess found out that `visibility: hidden;` were working. That'd be a mobile only solution though.

[2020-05-14 18:38] processprocess commented on #28421
I'm unable to reproduce this bug on my Pixel 3. I wonder if it has been fixied.

`aria-hidden` should be enough. I think the `visibility: hidden` attributes should just be used for interactive UI elements.

[2020-05-14 18:43] #26852 closed

[2020-05-14 18:43] gmajoulet opened #28424 "Add mszylkowski to @ampproject/reviewers-amphtml"
@mszylkowski from @ampproject/wg-stories has 11 merged PRs and 4 open ones, including some complex/high quality ones (https://github.com/ampproject/amphtml/pull/28412, https://github.com/ampproject/amphtml/pull/28209, https://github.com/ampproject/amphtml/pull/28054) and should be added to @ampproject/reviewers-amphtml

cf: https://github.com/ampproject/amphtml/pulls/mszylkowski

[2020-05-14 18:45] gmajoulet commented on #28421
Awesome, thanks to both of you 🏅

[2020-05-14 18:45] #28421 closed

[2020-05-14 18:48] keepitsimple commented on #5225
@vtisnado Forget about it until 2040 :)

[2020-05-14 19:00] kbarneyforbes commented on #25190
We are expecting to use it in the json attribute. Something like

`<amp-ad height="251" width="321" type="doubleclick" data-block-on-consent data-slot="/7175/fdcmobile/article-amp/topline/default/standard" data-multi-size="321x251,300x250,320x50,300x50,1x1,300x251" data-multi-size-validation="false" rtc-config="{&quot;vendors&quot;: {&quot;medianet&quot;: {&quot;CID&quot;: &quot;8CU66O230&quot;},

[2020-05-14 19:09] rsimha commented on #28322
Thanks for all the work! I'll merge the backlog of PRs today so we can start afresh tomorrow.

[2020-05-14 19:17] gmajoulet opened #28425 "Story not getting a touchend event as users swipe in a player"
As users swipe away from a Story in a viewer, the Story is paused on touchstart. In certain viewers (cf b/), it seems that the story does not get a touchend, and does not resume the playback/show the system UI again.
We should force show the system UI on `visibilitystate` change to `visible`.

cc @ampproject/wg-stories

Video at b/156537752

[2020-05-14 19:26] Enriqe commented on #28235
Sounds good, I'll add it to #28416

[2020-05-14 19:31] processprocess commented on #28410
It doesn't look like there are any special characters when the `NAVIGATION_TAP` or `NAVIGATION_SWIPE` states are active.
That might have been a part TalkBack reading content behind the modal in b/156132895.

I'm not sure if we can prevent TalkBack from reading special characters but we can prevent the screen reader from reading specific elements.

I wonder if we want to make a separate bug for hid

[2020-05-14 19:45] mrjoro commented on #28424
Done!

[2020-05-14 19:45] #28424 closed

[2020-05-14 19:45] THE-VR7 commented on #27121
I am new to this , Please can you guide me ,
Am i supposed to make the changes in amp-lightbox-gallery-caption css file or somewhere else

[2020-05-14 19:52] powerivq opened #28428 "I2I: Make SafeFrame API available for all amp-ad network"
## Summary
Currently, only Adsense and DoubleClick fast fetch extension supports SafeFrame API. This issue proposes to implement SafeFrame APIs for all 3p ads.

## Design document
We propose to implement the following SafeFrame APIs, as delineated in the [API doc](https://www.iab.com/wp-content/uploads/2014/08/SafeFrames_v1.1_final.pdf).

Whether we run the safeframe container or not will be contr

[2020-05-14 20:05] krdwan opened #28429 "🚨 Error: gulp dist --fortesting --single_pass failing for ?? operator within preact component (bento)"
I am running into an issue with: `gulp dist --fortesting --single_pass`
It appears to be erroring out based on the null coalescing operator in my code (`??`).
The null coalescing operator is within a preact component, which may be contributing to this error.

Link to PR: (I have sinced removed the null coalescing operator and replaced with `||`).
https://github.com/ampproject/amphtml/pull/28137

T

[2020-05-14 20:11] caroqliu commented on #27121
1. Modify [lightbox-caption.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox-gallery/0.1/lightbox-caption.js#L42). Where it currently generates `<div class="i-amphtml-lbg-caption-text"></div>`, make sure it also has: `amp-lightbox-gallery-caption` class.
2. Add an example usage in with the class being used to style the caption.
3. Modify `extensions/amp-lightbox-galler

[2020-05-14 20:22] dgilman commented on #28361
https://dgilman.xen.prgmr.com/webworker_small/

That's the same code as the earlier example but with 90% of the `<tr>`s removed. You can click the headers there and it'll sort correctly and amp-script won't try to block anything.  If it was doing illegal operations you're not catching it and if they aren't you're giving a misleading warning.

[2020-05-14 20:28] zhouyx commented on #28428
Combined with #28386, will there be a `requestFixed` API that and ad can request to upgrade to a sticky-ad? (And potentially flying carpet ad in the future)
Is that in scope of this I2I?

[2020-05-14 20:35] gmajoulet opened #28431 "Story animations issue leads to unclickable CTA links."
The animation resets on touchstart and touchend, making the animated links unclickable, and actually any animation restart on tap.

Cf: https://www.google.com/search/static/gs/animal/m096mb.html

cc @ampproject/wg-stories @alanorozco

[2020-05-14 21:10] krdwan opened #28432 "gulp dist --fortesting --single_pass failing for ?? operator within preact component (bento)"
I am running into an issue with: `gulp dist --fortesting --single_pass`
It appears to be erroring out based on the null coalescing operator in my code (`??`).
The null coalescing operator is within a preact component, which may be contributing to this error.

Link to PR: (I have sinced removed the null coalescing operator and replaced with `||`).
https://github.com/ampproject/amphtml/pull/28137

T

[2020-05-14 21:10] krdwan commented on #28429
Recreated as a bug instead of an error: https://github.com/ampproject/amphtml/issues/28432

[2020-05-14 21:10] #28429 closed

[2020-05-14 21:17] alanorozco opened #28433 "🌸 Cherry-pick request for #28423 into #28223 #28389 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #28431 | #28423 |     **YES

[2020-05-14 21:18] gmajoulet commented on #28433
+1

[2020-05-14 21:25] #28395 closed

[2020-05-14 21:33] cramforce commented on #28433
Approved

[2020-05-14 21:46] gmajoulet commented on #28431
Fixed by https://github.com/ampproject/amphtml/pull/28423

[2020-05-14 21:46] #28431 closed

[2020-05-14 22:05] #24464 closed

[2020-05-14 22:14] zhouyx opened #28435 "I2S: Break Analytics initialization into chunks"
This is to tracker to ship the `analytics-chunks` experiment.

[2020-05-14 22:28] samouri commented on #28361
Seeing the two behaviors side by side, you are right that it is related to performance. I added `#development=1` to the url so that I could see the logging statements from `worker-dom`.

Seems like the bigger version takes a _long_ time to calculate the necessary mutations. After a user gesture there is a 5s window of time where you may create dom mutations, after which they are deemed "illegal" b

[2020-05-14 22:28] gmajoulet commented on #28409
Done, cf release issues.

[2020-05-14 22:28] #28409 closed

[2020-05-14 23:56] kevinkimball opened #28437 "I2I: Inline analytics vendor config on Google AMP Cache"
## Summary
AMP loads predefined analytics vendor config and merges it with the inline config one client side. The proposal is to handle the above operations on the server. That will help reduce analytics requests delay by saving one round trip to get the static json object. Merging configs on the server will also save end users some CPU resources.

## Design document
WIP

## Motivation
This is a p

[2020-05-15 00:07] zhouyx opened #28438 "`expectAsyncConsoleError` not throwing error"
I tried to use the `expectAsyncConsoleError()` method, but it's not failing a unit test as I expected. Am I missing anything?

Here's my fake test
[code]

The test passed. Got
![image](https://user-images.githubusercontent.com/5419904/81997455-a2960e00-9604-11ea-830c-bec6de638f5e.png)

When I tried to debug it,  I noticed the test was run twice and failed the second time.
![image](https://user-ima

[2020-05-15 00:10] zhouyx commented on #28438
#28439 is the draft PR.

[2020-05-15 00:12] zhouyx commented on #28438
cc @micajuine-ho

[2020-05-15 00:30] zhouyx commented on #28437
Thank you @kevinkimball. Super excited about this feature.

Current order of precedence for configs is
Remote config > Inline config > Vendor config > Default config.

With this optimization we can merge default and vendor config to inline config. And only need to handle remote config on the client side!

[2020-05-15 00:36] gmajoulet opened #28441 "🌸 Cherry-pick request for #28440 into #28389 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #28440 | #28440 |     **YES

[2020-05-15 00:45] cramforce commented on #28441
Approved. Low-risk change into unlaunched (but launching) feature.

[2020-05-15 00:56] rsimha commented on #28438
@zhouyx The source of this bug is #20091, but the root cause lies in https://github.com/mochajs/mocha/issues/1635. Here's my understanding of what is going on:

- If a test cannot predict when an asynchronous expected `console.error` will actually happen, they can call `expectAsyncConsoleError()` at the start
- At the end of each test, we do a check in `afterEach()` to see if the error message was

[2020-05-15 01:34] zhouyx commented on #28438
Thank you @rsimha for the detailed explanation. Sign...
I find #20091 to be very useful. Killing karma due to a failing test sounds bad.

Can we avoid verifying the console error in `afterEach()` block? What about having `expectAsyncConsoleError()` to return a promise and request individual test to wait for that promise to be resolved.

[2020-05-15 01:46] rsimha commented on #28438
Totally [agree](https://github.com/ampproject/amphtml/pull/20091#pullrequestreview-188192268)!

The original goal of making `expectAsyncConsoleError` a single-line call instead of a wrapper like `allowConsoleError` was to make tests easy to write. With your suggestion, will the usage of `expectAsyncConsoleError` now effectively change to a wrapper that waits for the expected error? (All [existing

[2020-05-15 02:12] gmajoulet commented on #28433
Could not cherry-pick today, cf https://github.com/ampproject/amphtml/pull/28423#issuecomment-628984547

[2020-05-15 03:52] RuChuanLin commented on #26410
@choumx @jridgewell This issue has been open for a while, we need to fix this problem as soon as possible because we think we lose our clients when they find there are nothing to be browsed.

If you are not nice to handle this issue, could you provide me ways to debug on Google App Browser? It seems to be hard to find out development tools on the Internet.

[2020-05-15 07:37] #27699 closed

[2020-05-15 10:17] molnarg commented on #28225
Null origin inside srcdoc was pretty surprizing to me, but after some digging, it makes sense and I think we can just use `window.origin` instead of `window.location.origin`. From the spec at https://html.spec.whatwg.org/multipage/webappapis.html#dom-origin-dev :

Browser support should be checked though. MDN says not all browsers are supported, but I've tested on Safari which is listed as not sup

[2020-05-15 10:19] edoudou commented on #28416
Hi,

I've got a feedback on the subject :
- Will there be a security to prevent unmute without user interaction. It would be cool if it was possible to unmute a story onFocused for example.
- It could be cool to have a way to reorder the stories inside the player. A use case could to put unseen stories first.
- An event for when the story lose focus would be nice too.

[2020-05-15 11:21] cw-RayeesKausar opened #28442 "can we restart the same instance of amp-date-countdown multiple times?"
I went through the amp page documents. and i wanted to restart the amp-date-countdown on click of a button, but i was not able to restart it. I added the hidden attribute on amp-date-countdown depending on a variable but after first rendering timer was not working again, I mean i was not able to restart it.

[2020-05-15 15:20] Enriqe commented on #28225
Thank you for taking a look at this @molnarg !

`self.origin` sounds promising, and checking [webkit changelog's](https://trac.webkit.org/changeset/214147/webkit/) it looks like it was actually implemented in [Safari preview 27](https://webkit.org/blog/7497/release-notes-for-safari-technology-preview-27/) and [Firefox 54](https://bugzilla.mozilla.org/show_bug.cgi?id=1306170).

[2020-05-15 15:56] choumx commented on #28307
Reopening since this patch is missing in this week's RC.

This happened because our canary "cut" is on Fridays and canary promotion is still Tuesday, which means cherry-picks to RC on Monday/Tuesday are missing from that week's canary.

Working with @ampproject/wg-infra to prevent this in the future.

[2020-05-15 15:59] kkloc-smi commented on #26657
@alanorozco
Hi
it's been a long time, or maybe something moved with the acceptance of the component?

[2020-05-15 16:01] choumx commented on #26410
Sorry for the delay, I think this is a bug in the Google iOS app. I've followed up with the team internally, but can you also file feedback in the app itself?

[2020-05-15 16:02] #27947 closed

[2020-05-15 16:18] RuChuanLin commented on #26410
Hi, I have reviewed most of our pages and I found something interesting.
The following two pages are made from 2 template, but very similar from each

- https://tw.buy.yahoo.com/?sub=656
- https://tw.buy.yahoo.com/act/flagship/story/656.html

I searched on Google App for both, the former does not show AMP tag, while the latter works nice.

I cloned both html and compared them. There are no big dif

[2020-05-15 16:24] RuChuanLin commented on #26410
If you need to reproduce it, here are the steps
### For the former
keyword : `點睛品官方旗艦館`
![image](https://user-images.githubusercontent.com/22973504/82073200-803ae800-970b-11ea-899f-d1a4655900c3.png)

### For the latter
keyword : `YAHOO旗艦故事館`
![image](https://user-images.githubusercontent.com/22973504/82073283-9e084d00-970b-11ea-8093-887adc803db8.png)

[2020-05-15 16:28] RuChuanLin commented on #26410
How do I file feedback to that app? On App Store?

[2020-05-15 19:20] alanorozco commented on #26657
@kkloc-smi Could you please respond to the [previous questions](https://github.com/ampproject/amphtml/issues/26657#issuecomment-590516866)?

[2020-05-15 20:18] Enriqe commented on #28416
Yeah, I think this should be possible.

That is a very cool idea, we should discuss what's the right level of control that the player should provide here, since there are several ways to accomplish this. e.g. having the equivalent of a `push()` and `pop()` methods. The publisher can then keep track of what stories has the user seen and update them as necessary.

Another approach is for the player

[2020-05-15 20:27] gmajoulet commented on #28416
Awesome Enrique! This LGTM :))

[2020-05-15 21:20] zhouyx commented on #28438
Yes, all the existing usage will need to be converted.  Some of them may silently fail today, will also need to fix that after the conversion.
Can be a good fixit week item : )

[2020-05-15 21:35] rsimha commented on #28343
From #28384, here is a full set of logs:

**Travis logs:** https://travis-ci.org/github/ampproject/amphtml/jobs/687581857#L2448

**Tunnel info:**

Tunnel ID: `689d7336f79d4deca411382a075bd88a`, Identifier: `75029.10`

![image](https://user-images.githubusercontent.com/26553114/82097652-506eee80-96d1-11ea-8968-f0b40f1cb920.png)

**Disconnections:**

![image](https://user-images.githubusercontent.co

[2020-05-15 21:42] #27944 closed

[2020-05-15 22:14] joshfg commented on #28095
Thanks for the comments @powerivq ! I have left some replies in the google doc.

[2020-05-15 23:09] gmajoulet commented on #28389
/to @Enriqe

[2020-05-15 23:11] gmajoulet commented on #28433
Done, cf #28223 and #28389 for release times.

[2020-05-15 23:11] #28433 closed

[2020-05-15 23:12] gmajoulet commented on #28307
Done, cf #28389 for release times.

[2020-05-15 23:12] #28307 closed

[2020-05-15 23:46] powerivq commented on #28428
@zhouyx Not in this safeframe proposal today, but it is feasible. Are there a big demand for that?

[2020-05-16 08:56] kkloc-smi commented on #26657
@alanorozco

The configuration has changed in the last commit, changed load config from js to JSON
<amp-moviads-player data-video-custom-conf="" height="1" width="2"
layout="responsive"></amp-moviads-player>

The parameter (data-video-custom-conf) accepts data in the format JSON

The parameters are described in AMP document (amp-moviads-player.md)

[2020-05-16 11:29] arpanjain100 commented on #12245
Hi, has this been implemented? Is is possible to zoom on images in AMP?

[2020-05-16 18:09] choumx opened #28456 "Rename misleading API: [idle]renderOutsideViewport()"
Current names are confusing because:
- `renderOutsideViewport` uses "viewport" to mean the actual viewport (100vh), but `idleRenderOutsideViewport` uses "viewport" to mean the loading rectangle (500vh)
- `idleRenderOutsideViewport() == true` has higher priority than `renderOutsideViewport() == true`

Suggestion: `renderOutsideViewport` -> `preferredRenderDistance`

"Preferred" informs callers that

[2020-05-16 20:48] #11639 closed

[2020-05-16 22:37] stephengardner commented on #17878
Hey gang, been a while.  Has there been any progress on this front?

[2020-05-16 23:45] abdulwahabone commented on #27777
Facing the same issue, any updates on this?

[2020-05-17 07:56] AtharvaSune commented on #28308
Hi, I am new here. If the issue is not already assigned I would like to work on it

[2020-05-17 13:52] kazmenko commented on #27777
Not. I just whil use old version in my projects.

[2020-05-17 17:58] AtharvaSune commented on #27082
Hi i am new here, if this issue is still open and available to work on i would like to work on it

[2020-05-18 01:37] #19205 closed

[2020-05-18 06:31] RuChuanLin commented on #26410
@choumx  How do I file feedback to that app? On App Store?

[2020-05-18 06:59] Aivaras100 opened #28459 "Amp disable link and buttons"
I have problem with Iphone phone, IOS 13.4.1. Safari browser.

I get problem when:
1. Open amp product category;
2. Click on product (no amp url);
3. Go back to amp category.
4. Then I not can click on product. Disable all url and buttons.

Why does this happen?

[2020-05-18 13:04] caroqliu commented on #27082
Sure thing! Thanks for volunteering!

[2020-05-18 13:05] caroqliu commented on #28308
@THE-VR7 Let us know if you are still planning to contribute. Otherwise it sounds like @AtharvaSune will be happy to take this on. :) No rush either way.

[2020-05-18 13:23] ericfs commented on #27604
Sorry for the late submission. There's not much to report, but the update is [here](https://github.com/ampproject/wg-viewers/issues/4).

[2020-05-18 14:14] THE-VR7 commented on #28308
yeah sure @AtharvaSune  can work on it, I am also new here and i am already working on another issue of this repository, so no problem

[2020-05-18 15:46] ampprojectbot opened #28463 "🚨 Error: this.element.toggleAttribute is not a function. (In 'this.element.toggleAttribute("muted",a)', 'this.element.toggleAttribute' is undefined)"
Details
---
**Error report:** [link](http://go/ampe/CLy3kon1mOmMhgE)
**First seen:** May 15, 2020
**Frequency:** ~ 60/day

Stacktrace
---
<pre><code>Error: this.element.toggleAttribute is not a function. (In 'this.element.toggleAttribute("muted",a)', 'this.element.toggleAttribute' is undefined)
    at MUTED (<a href="https://github.com/ampproject/amphtml/blob/2005150002000/extensions/amp-story/1.0

[2020-05-18 15:47] jaygray0919 opened #28464 "amp-mustache sanitation"
The output of `amp-mustache` "triple-braces" is sanitized to allow, for example,  the following tags: `a`, `div`, `li`, `ol`, `p`, `span`, `table`, `tbody`, `td`, `th`, `thead`, `tfoot`, `tr`, `ul`

In short, paragraphs, tables and lists can be embedded and reused in `{{{triple-braces}}}`

Please add support for `dl`, `dt` and `dd` as these elements often are used to provide more detail than is po

[2020-05-18 15:47] rcebulko commented on #28463
/tryassign @mszylkowski This error appeared in the Nightly following #28417, and appears related to the muted attribute. Would you mind taking a look?

[2020-05-18 16:06] #27604 closed

[2020-05-18 16:20] mrjoro opened #28466 "Design Review 2020-06-10 20:00 UTC (Americas)"
Time: [2020-06-10 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=06&day=10&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200610T200000Z/20200610T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-05-18 16:20] mrjoro opened #28467 "Design Review 2020-06-18 00:00 UTC (Asia/Oceania)"
Time: [2020-06-18 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=06&day=18&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200618T000000Z/20200618T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-05-18 16:20] mrjoro opened #28468 "Design Review 2020-06-24 15:30 UTC (cancelled)"
Time: [2020-06-24 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=06&day=24&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200624T153000Z/20200624T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-05-18 16:21] mrjoro opened #28469 "Design Review 2020-07-01 20:00 UTC (AMP.goBack)"
Time: [2020-07-01 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=07&day=01&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200701T200000Z/20200701T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-05-18 16:21] mrjoro opened #28470 "Design Review 2020-07-09 00:00 UTC (cancelled)"
Time: [2020-07-09 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=07&day=09&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200709T000000Z/20200709T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-05-18 16:21] mrjoro opened #28471 "Design Review 2020-07-15 15:30 UTC (cross origin iframe, wg-caching)"
Time: [2020-07-15 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=07&day=15&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200715T153000Z/20200715T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-05-18 16:22] mrjoro commented on #28468
We are cancelling this design review since it conflicts with [OpenJS World](https://events.linuxfoundation.org/openjs-world/).

[2020-05-18 16:31] jeffkaufman commented on #19466
Sorry for dropping this!

The workaround described above of manually modifying the creative to include ext.js should work as a temporary fix, but over time could have problems as the version of ext.js gets out of sync with the version of the host.

I think the root problem is that Google AdManager is not injecting `ext.js` into the creative when serving to safeframes on AMP pages the way it does w

[2020-05-18 16:43] Ichigo3d commented on #28459
Hello. Thank you for your participation. Could you provide url of website, where appeared this issue?

[2020-05-18 16:45] mrjoro commented on #28466
The Analytics Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-analytics @zhouyx

[2020-05-18 16:45] mrjoro commented on #28467
The Bento Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-bento @dvoytenko

[2020-05-18 16:46] mrjoro commented on #28469
The Infrastructure and Outreach Working Groups will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-infra @rsimha
/cc @ampproject/wg-outreach @sebastianbenz

[2020-05-18 16:47] mrjoro commented on #28470
The Performance Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-performance @kristoferbaxter

[2020-05-18 16:48] mrjoro commented on #28471
The Validation & Caching Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-caching @Gregable

[2020-05-18 16:48] #28468 closed

[2020-05-18 16:54] choumx commented on #24109
Adding a note that a single task scheduler is needed for trying out [`scheduler.postTask`](https://github.com/WICG/main-thread-scheduling/blob/master/PrioritizedPostTask.md) API in AMP. Origin trial slated for [Chrome 82-84](https://github.com/WICG/main-thread-scheduling/blob/master/OriginTrialStatus.md).

[2020-05-18 17:05] rcebulko opened #28473 "Validate .renovaterc.json when changed"
The `renovate` package ships with [`bin/config-validator.js`](https://github.com/JamieMagee/renovate/blob/master/bin/config-validator.js), which does exactly what you'd expect. It turns out, we've had some configuration settings (`dependencies: { enabled: true }`) that did nothing; as well as recent PRs which updated the configuration and broke renovate bot. We should incorporate this config valid

[2020-05-18 17:23] powerivq commented on #28108
The Ads WG will be presenting https://github.com/ampproject/amphtml/issues/28386 and https://github.com/ampproject/amphtml/issues/28428 for expanding types of creatives being supported on AMP.

[2020-05-18 18:00] zhouyx commented on #28428
I've definitely received that request a few times.

Publishers works with ad networks and rely on ad networks to tell which ad should be rendered as sticky ad. It would make a nice addition to #28386.

[2020-05-18 18:51] Gregable commented on #26496
This has been fixed (thanks @honeybadgerdontcare ), awaiting push and release.

[2020-05-18 18:51] #26496 closed

[2020-05-18 18:58] zhouyx commented on #17878
Hello @stephengardner. Thank you for bumping this up. Unfortunately the analytics working group hasn't got a chance to work on this feature request.
We'll update here if there's any progress. In the meanwhile, any input or contribution is welcome.

[2020-05-18 20:21] rsimha commented on #28473
Agree that this check will be useful.

Context: The [config setting](https://github.com/ampproject/amphtml/blob/6a26555d8d72c53de754e6b2dab29bbd14a91965/.renovaterc.json#L8-L10) that disabled `dependencies` was valid as of last year. Since then, it appears to have changed. [Then](https://github.com/renovatebot/renovate/blob/50e9a85961fca834d171f9ae222facd84e0f38b2/website/docs/configuration-option

[2020-05-18 20:32] forking-renovate[bot] opened #28477 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] 📦 Update babel devDependencies (patch) (`@babel/core`, `@babel/helper-module-imports`, `@babel/helper-plugin-test-runner`, `@babel/plugin-proposal-class-properties`, `@babel/plugin-transform-react-constant-elements`

[2020-05-18 20:37] rcebulko commented on #28477
TODO: Include pinned dependencies with minor updates

[2020-05-18 20:50] choumx opened #28480 "Make sure cherry-picks to beta channel on Mon/Tues are included in the next beta channel release"
Follow-up to https://github.com/ampproject/amphtml/issues/28307#issuecomment-629338702.

[2020-05-18 22:03] micajuine-ho commented on #28108
The Analytics WG would like present our ideas for improving the amp-consent UI for 3P iframes to be better display disclosures TCFv2 (15 minutes).

/cc @ampproject/wg-analytics

[2020-05-18 23:55] rcebulko commented on #28322
With recent updates, renovate PRs will now be grouped by category and, where relevant, labeled with the appropriate working group label. Patch and Minor updates will get separate PRs.

Due to [known permissions issues](https://github.com/renovatebot/renovate/issues/1908) with renovate, it cannot assign a GitHub team as a reviewer. However, all of the `package.json` files live in directories which

[2020-05-19 00:18] rsimha commented on #28480
Drive-by comment with terminology update for posterity:
- The rc (release candidate) channel is now called beta channel
- The manual step of cutting the `canary` branch has been replaced by the automated step of cutting the `nightly` branch

That aside, +1 to both your suggestions 😃

[2020-05-19 10:15] AtharvaSune commented on #28308
hey @caroqliu , from what i understood from the linked thread in the description, i need to add
[code]
something like this in the extensions/amp-selector/0.1/amp-selector.css, right ?

[2020-05-19 13:03] caroqliu commented on #28308
@AtharvaSune Yes that's right :)

[2020-05-19 14:12] user631 commented on #28254
Hello,
I am also facing the same issue here: https://fknol.com/candle/aapl.php
log.js:258 [amp-auto-ads] No ad placements found for publisher ID 'ca-pub-xxxxxxx'. Check that the provided publisher ID is correct.

Mine is a AMP-only site - that is, there is only one single AMP-only version.

Please let me know what is going wrong, and what changes do I need to make.

[2020-05-19 14:26] massa1240 commented on #28231
Hi @calebcordry , I believe on the json attribute would be even better as macros count to the timeout of the RTC and I am not yet sure if we will be able to respond within the current limit of ~1s!

[2020-05-19 14:33] #28359 closed

[2020-05-19 14:34] #27908 closed

[2020-05-19 14:34] #27765 closed

[2020-05-19 16:08] krdwan commented on #28464
Thanks @jaygray0919 for the request.  We will prioritize against other priorities and provide an update at a later time.

[2020-05-19 16:09] krdwan commented on #28442
Thanks @cw-RayeesKausar.  We will prioritize this feature request against other priorities and provide and update at a later time.  Thanks!

[2020-05-19 16:11] krdwan commented on #28442
@cw-RayeesKausar For reference, amp-date-countdown does not currently support restart multiple times.  It is a countdown to a set time in the future.  Are you able to share any additional background on what your use case is?  Maybe there is another component that may fit your use case.

[2020-05-19 16:30] #28463 closed

[2020-05-19 16:33] rcebulko commented on #28463
Thanks for taking care of this so quickly!

[2020-05-19 16:36] rcebulko commented on #28322
I'm thinking it may make sense to also group all changes, across all packages in the repo, to `eslint`, `prettier`, and related extensions. For example, https://github.com/ampproject/amphtml/pull/28488 has a handful of innocuous changes, but the eslint update causes Travis to fail the initial checks due to a new lint error. Instead, we can group all lint/prettier updates together, and let renovate

[2020-05-19 17:50] rcebulko opened #28497 "Java Validator tests cause Ubuntu keyserver error, breaking builds"
The Ubuntu keyserver is down, which is killing all the builds when they try to fetch a key to run the Java Validator checks.

![image](https://user-images.githubusercontent.com/6694512/82360603-9f6d9a00-99d7-11ea-93da-29f2a6acf6b6.png)

![image](https://user-images.githubusercontent.com/6694512/82360587-9b417c80-99d7-11ea-87ea-75846ee85378.png)

/cc @ampproject/wg-infra

[2020-05-19 18:06] jatinvmehta commented on #28254
We reached to Google AdSense team and they confirmed following;

"Thanks for reaching out! Hope you're doing well. Unfortunately, we are experiencing a product error where our auto ads are unable to serve to AMP pages at this time. Our product team has been working very hard in the past couple of weeks to resolve this error, but for now I would suggest disabling auto ads from your AMP pages until

[2020-05-19 18:08] samouri commented on #28361
@dgilman, do you think theres any further action to take here? If not, I'll close this issue

[2020-05-19 18:18] AtharvaSune commented on #28308
Hey @caroqliu just submitted the pr, could you have a look at it , :sweat_smile:  if any further changes are required do tell

[2020-05-19 18:22] rsimha commented on #28497
FYI @ampproject/wg-caching @GeorgeLuo

Given our discussion around moving the java validator tests to a new repo, we are going to disable them on `amphtml`'s Travis builds for the time being.

[2020-05-19 18:23] Enriqe opened #28500 "🚄 Release tracking issue for release 2005150002000"
# Release tracking issue

This issue tracks release [2005150002000](https://github.com/ampproject/amphtml/releases/tag/2005150002000)

- [x] Release 2005150002000 promoted to Experimental and Beta (opt-in) channels (May 19, 2020, 2:22:39 PM GMT-4)
- [x] Release 2005150002000 promoted to Experimental and Beta (1% traffic) channels (May 20, 2020, 2:38:43 PM GMT-4)

- [X] Release [2005150002001](http

[2020-05-19 18:24] #28389 closed

[2020-05-19 18:24] rcebulko commented on #28497
Update: Ubuntu keyserver appears to be back up for the time being, but still moving ahead with skipping `gulp validator-java` so we can remove the dependency altogether.

[2020-05-19 18:34] danielrozenberg commented on #28480
I prefer to modify the cherry-picking instructions instead of instructing to use a later nightly - since nightly builds are cut at ~midnight (PT) there's still going to be a small skew, so this wouldn't solve the problem for when a fix to some P0 issue is merged between midnight and Tuesday morning

As for the automated check for cherry-picks, I'd rather block this for now on @estherkim's planned

[2020-05-19 18:44] samouri opened #28501 "gulp performance: report viewer metrics"
**summary**

The new `gulp performance` task was added in order to help us track amp performance and ensure we get faster over time. It reports if there are any perf deviations between "current branch" and master. Right now, it is limited to built-in browser metrics.

I think we'd benefit from being able to see our custom metrics that `v0` emits to the viewer. Examples include:
1. `firstViewportRe

[2020-05-19 18:45] micajuine-ho commented on #26229
We have some ideas to improve the UI for the consent dialog that we are taking to design review #28108 tomorrow. Please feel free to join or once we get feedback from the whole amp team, we can discuss further.

[2020-05-19 19:12] estherkim commented on #28480
I'm writing up / thinking through the design right now. Solving this is one of its goals. Design review coming soon!

[2020-05-19 19:34] #28225 closed

[2020-05-19 20:08] caroqliu opened #28504 "amp-image-lightbox.open should be allowed in email"
#27561 allowed certain components to allowlist their own actions, including a modification to amp-image-lightbox which allows the "open" action inside its `buildLightbox_` method.

Unfortunately the `buildLightbox_` method is not called until [after the first `open` invocation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-image-lightbox/0.1/amp-image-lightbox.js#L788), which ne

[2020-05-19 21:09] dgilman commented on #28361
It may be nice to do a console.log() when the five second timeout is hit.

There was still my original issue with being unable to profile the web worker. If your code is using the web worker API correctly I'd appreciate your help navigating the bug tracking system to get the issue over to the Chrome people in the right place.

[2020-05-19 21:40] samouri commented on #28501
Will made the point that we may not need to actually have a viewer if we expose a global from the Performance service.

[2020-05-19 22:07] Enriqe opened #28511 "[amp-story] Using background-audio + autoadvance is not working."
Having a `background-audio` attribute on an `<amp-story-page id="my-page">`,  plus an `auto-advance-after="my-page"` should auto-advance the page when the audio is over. But this is not currently working.

example: https://www.gstatic.com/amphtml/stamp/qa/audio-story.html

Expected: page should auto-advance after audio is over
Actual: Progress bar is completely filled in current page and is not au

[2020-05-19 22:09] Enriqe commented on #28511
From a quick investigation it looks like the `duration` in the dynamically created `<audio>` is returning NaN. This [stackoverflow](https://stackoverflow.com/questions/44610417/audio-duration-returns-nan) question recommends adding `preload="metadata"`, but I think we already add `preload="auto"` which should preload the metadata too...

[2020-05-19 22:14] gmajoulet commented on #28511
Thanks for looking into this!!
To know when the duration is available you can look at the `readyState` `HAVE_METADATA` or the `loadedmetadata` event, cf https://html.spec.whatwg.org/multipage/media.html#mediaevents

[2020-05-19 23:09] Nemo64 opened #28515 "Remove documentation on overflow"
## What's the issue?

I want to use overflow-x in code snippets on a site. The amp documentation does this: [example, scroll the code snipped](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amp-boilerplate/?format=websites).
But the documentation also states that I'm not allowed to use [overflow](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/?format=websites#

[2020-05-19 23:21] Nemo64 commented on #28515
I also noticed that other parts of the documentation don't mention it: https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/style_pages/?format=websites

So the missing validation and the inconsistent documentation leads me to belive it's just a documentation error?

[2020-05-19 23:28] sushan04 opened #28516 "Remove AMP Analytics error when remote config returns empty response"
When amp-analytics component uses remote config to retrieve the json configuration, a console log error is thrown when there's no response found (Screenshot attached).
![amp-analytics](https://user-images.githubusercontent.com/45952279/82388160-d7d89c80-9a06-11ea-985d-2f4cc3d236c7.png)

Since this can be an expected behavior for remote config, it'd be better to handle the no response case with eit

[2020-05-20 00:44] catherinehoule commented on #27114
@caroqliu I'd like to help on that. My work could free me some time to focus on helping accessibility in amp. Let me know if we can collaborate!

[2020-05-20 01:08] erakor commented on #27835
@zhouyx @caroqliu
Placing `<amp-analytics>` within the `<amp-list>` did the trick.
Thank you both!

[2020-05-20 01:08] #27835 closed

[2020-05-20 07:29] itsmsc commented on #24262
What is the time horizon for changing the validator rules?
I have integrated an editor for AMP stories based on the CSS variables into a CMS. In the end I had to find out that these are not valid AMP stories :-(

[2020-05-20 07:47] stephengardner commented on #11380
This appears to also apply to an "amp-form-submit" event, such that the form selected in "selector" is only the first form.  I'm not sure if this is intended to also be resolved with this update.  Also wondering if there's been any more progress made?  Thanks

[2020-05-20 10:10] deeksha-agarwal commented on #26693
Hi @gmajoulet is the documentation avaliable now for the new tooltip analytics. I can't seem to find anything in docs. Thanks in advance!

[2020-05-20 10:33] jaygray0919 commented on #27910
@choumx

this does not work, per earlier shared examples.
we **would like** it to work, but GSDTT, for example, will not acknowledge `JSON-LD` rendered from `amp-list`

[2020-05-20 14:19] caroqliu commented on #27114
Sounds great, thanks for volunteering your time to contribute! For this change I'd recommend:

1. Add an event listener for `blur`, similar to the [`keydown` listener added in the `open_` method](https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L275-L278). The callback for this event listener should call `close_` with trust level of `ActionTrust.HIGH`.

[2020-05-20 14:27] Enriqe commented on #26693
Hi @deeksha-agarwal ! Sorry, we haven't gotten to it yet, but I will send a PR soon. I'll add you to make sure you get notified.

[2020-05-20 15:58] rcebulko opened #28523 "Distinguish renovate updates to major versions split by directory"
For example, https://github.com/ampproject/amphtml/pull/28521 and https://github.com/ampproject/amphtml/pull/28522 both update the same dependency, but the first is in the root `package.json` and the second is under `validator/package.json`. They have the same PR title/commit message. We should explore if it's possible to add context to the PR title.

[2020-05-20 16:01] rcebulko opened #28524 "Update OWNERS files with more specific rules for package.json files"
Currently, Owners Bot assigns reviewers based on the normal ownership hierarchy. This works in most cases, but we may wish to narrow the reviewer pool to a more specific set of WGs and users.

[2020-05-20 16:04] rcebulko opened #28525 "Experiment with more readable branch names for renovate major updates"
Currently, renovate branches created for major version updates take the following form:
`renovate-bot:renovate/{{groupName}}-{{kebab-case-dependency}}.{{version}}.x`
for example: `renovate-bot:renovate/validator-google-closure-compiler-20200517.x`

[2020-05-20 16:49] rcebulko commented on #27675
Closing this as done

[2020-05-20 16:49] #27675 closed

[2020-05-20 17:20] gmajoulet opened #28530 "Make polls and quizzes have the same level of configuration options and customization."
Make polls and quizzes have the same level of configuration options and customization.
Today, publishers can tweak more styles on a quiz than on a poll. Polls don't have prompts, etc.
We should implement the components so that all these components are consistent.

cc @ampproject/wg-stories

Progress on binary polls:
- [x] Accept background customization
- [x] Accept accent color customization
- [x

[2020-05-20 17:44] zhouyx commented on #11380
Hi @stephengardner, the proposal here is only for visibility event triggers.
Other events like the `amp-form-submit` event, (or click event).  Selector is supported a bit different and no multi selector is required. For custom events, the check is applied afterwards. Whether the selected element contain the event.element.

Could you try
[code]
 @micajuine-ho is working on this project and can give

[2020-05-20 17:46] mszylkowski opened #28532 "Fix amp-story-reaction positioning and pointer events"
Currently on pages with grid-layer template="center" or "vertical" the outer amp-story-reaction components take up more space than needed, and the empty spaces around it seem to catch the clicks not allowing to go to the next page.

Steps to reproduce: Open [amp-story/reactions.html](https://github.com/ampproject/amphtml/blob/master/examples/amp-story/reactions.html) after running gulp and try cli

[2020-05-20 17:52] rcebulko opened #28533 "Move Java Validator to separate repo and remove `validator-java` gulp task"
Tracking issue for this migration and removal of the testing infra surrounding it.

Related: https://github.com/ampproject/amphtml/issues/28497, https://github.com/ampproject/amphtml/issues/27939, https://github.com/ampproject/amphtml/issues/27786, https://github.com/ampproject/amphtml/issues/27093

/cc @rsimha

[2020-05-20 17:55] rsimha commented on #28533
Adding @Gregable, who is in the process of creating a new repo.

[2020-05-20 18:09] stephengardner commented on #11380
Wow, thanks @zhouyx, I wasn't aware this was a feature.

Our pages have forms of the same type all across the page, and we'd like to target them.  Using something like `.my-form-class`, and `amp-form-submit` seems like it flows with all the other event methodologies.  By catching the root node, and then all forms within it, it seems hard to pinpoint different analytics events for different forms.

[2020-05-20 18:11] Enriqe commented on #26693
Just sent out #28534 to address this

[2020-05-20 18:30] zhouyx commented on #11380
Add @caroqliu

`<amp-form>` should have sent additional form fields that can be accessed in analytics.  I think `formId` is a good variable to send along with the request. @caroqliu can provide more context on the `formDataForAnalytics`
https://github.com/ampproject/amphtml/blob/0854539c677767c0f30ae233ff22a944720a3abd/extensions/amp-form/0.1/amp-form.js#L512-L522

[2020-05-20 18:33] zhouyx commented on #28516
It's reasonable for the remote config to return an empty object.
We decided to switch the user error to a user warning.

[2020-05-20 18:38] gmajoulet commented on #28532
cc @ampproject/wg-stories

[2020-05-20 18:43] stephengardner commented on #11380
@zhouyx they certainly are available, no issue there.
The way amp-analytics is constructed, you have an `amp-form-submit` that does, however, have to go to the same single `request` endpoint.

So in a case where you have three forms, all going to three different endpoints, you'll have an parent "selector", with an "on: amp-form-submit" that can only go to one endpoint.  You also can't have the "re

[2020-05-20 19:12] zhouyx commented on #11380
The idea of the additional vars is to generate different requests.

I'm imaging something like this
[code]

That's definitely an option. IMO it's switching the formField to the className.

[2020-05-20 19:23] stephengardner commented on #11380
@zhouyx that does make sense unless you're trying to use something like facebookpixel or gtag/ga, which provide set requests based on a remote config, which we're trying to do in this case.
It also then necessitates that every form within that parent selector provides a ${someFormFields} attribute, otherwise an improper endpoint will be pinged.

Consider the very common case for an analytics provi

[2020-05-20 19:44] rsimha opened #28537 "Add a mode to `gulp clean` to delete all `node_modules` dirs under `amphtml`"
This can help in cases where we have breaking dependency changes. E.g. issues due to babel upgrades, or the recent `chromedriver` issue.

Nice to have: logging that prints out the directories that were actually deleted.

[2020-05-20 19:45] rsimha commented on #28537
/to @estherkim to decide if this is worth it.

[2020-05-20 19:47] zhouyx commented on #11380
Makes sense.

analytics support many triggers, you can have one `<amp-analytics>` like
[code]

But I agree, without multi selector support, it would be difficult to group two forms into one.

[2020-05-20 19:48] #28516 closed

[2020-05-20 20:01] stephengardner commented on #11380
Sorry to get things confused here, the issue is that `selector": ".wishlist"` only targets the very first instance of .wishlist.  So if you have 25 of these forms on one page, then you cannot simply create one amp-analytics trigger.  You have to do something like:
[code]
Or you can do this:
[code]
Which causes a problem, again, because in the example, we have Three forms in quick succession:
Add t

[2020-05-20 20:15] stephengardner commented on #11380
So if you have 25 of these wishlist forms on one page, you have to do something like:
[code]
Assuming you know every #`wishlist_id` during rendering the amp-analytics element, which you might not, depending on your renderer.

This is hypothetically OK, but seems to break if you're trying to do this inside an AMP list.  If that were the case, you'd have to target the entire scope, like this:
[code]

[2020-05-20 20:32] estherkim commented on #28537
Could be a good fixit issue.

[2020-05-20 21:13] calebcordry commented on #28108
Notes:

@powerivq

- Would like to expand kinds of creatives being supported especially for reservation
- demo.kargo.com/ad/3023316
- These kinds of creatives are not supported on amp pages only sticky ad
- These are in high demand from pubs

Allow sticky ads in amp-ad component

- We can think of this as a type of sticky ad with an animation
- Proposing to have amp ads tag support these kinds of

[2020-05-20 21:24] gmajoulet commented on #28048
#28227

[2020-05-20 21:24] #28048 closed

[2020-05-20 22:16] zhouyx commented on #11380
Thanks for the detailed explanation.  I agree this is challenge to set up with the current configuration.
@micajuine-ho to see if we can expand the multi selector to customEvent trigger as well.

[2020-05-20 23:31] stephengardner commented on #28348
We're finding that the issue we were facing stemmed from the fact that an `amp-form-submit` "selector" does not operate similarly to a normal `amp-analytics` selector like `click`.  The selector instead will target only the FIRST instance of a form.  This causes some headache when attempting to track forms.  Commented on here: #11380 but doesn't have a dedicated issue for the bug/feature request.

[2020-05-21 00:06] jeffkaufman commented on #28108
@calebcordry excellent notes!

With `it is declared by the creative`, does the publisher or ad network need to opt in?  I'm worried about publishers seeing different ads than they thought they had signed up for

[2020-05-21 02:30] powerivq commented on #28108
@jeffkaufman Let's move the discussion to the respective Github issue. https://github.com/ampproject/amphtml/issues/28428

[2020-05-21 03:50] deeksha-agarwal commented on #26693
Thanks @Enriqe for your prompt reply!

[2020-05-21 09:26] dhawal-rudder opened #28543 "I2I: Add analytics vendor RudderStack"
Hi there!

We'd like to add [RudderStack](https://rudderstack.com/) to the amp-analytics vendors list, to make it easier for our customers to integrate [RudderStack](https://rudderstack.com/) with their AMP pages.

cc @ampproject/wg-approvers
cc @ampproject/wg-analytics

[2020-05-21 14:10] hirethisdeveloper commented on #1816
We're also seeing the issue still happening as well.
<img width="269" alt="2020-05-21_1009" src="https://user-images.githubusercontent.com/684661/82567388-4b83c200-9b4b-11ea-887f-9c19eb7cc71a.png">

[2020-05-21 14:41] #28308 closed

[2020-05-21 14:45] chetan268code opened #28545 "amp-social-share 0.1: Clicked before href is set"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-05-21 15:23] calebcordry commented on #25190
@kbarneyforbes I just noticed your example has the CID in `rtc-config`. My plan was to expand this macro in the json attributes `targeting`. Does this satisfy your use case?

[2020-05-21 15:33] Enriqe commented on #28511
So after some sleuthing I found a few things...

When `page-advancement.js` checks for the audio's duration:

https://github.com/ampproject/amphtml/blob/9e08d3be66a7fcb0c3552cd3e59f86823fe9ae38/extensions/amp-story/1.0/page-advancement.js#L1056

`this.mediaElement_` is actually an `<audio>` placeholder element created by the `media-pool` which contains no `src`.

This happens because in `amp-story

[2020-05-21 16:24] Enriqe commented on #28511
Maybe related we are handling different audio elements of the media pool

in AmpStoryPage.layoutCallback() we register / play audio element we created (placeholder)
https://github.com/ampproject/amphtml/blob/9e08d3be66a7fcb0c3552cd3e59f86823fe9ae38/extensions/amp-story/1.0/amp-story-page.js#L535

and then in `AmpStoryPage.resume_()` we are dealing with the element that was initialized in the media

[2020-05-21 16:36] mrjoro commented on #28108
@jpettitt please update this issue with the Access & Subscriptions update when it's available.

/cc @ampproject/wg-access-subscriptions

[2020-05-21 17:39] micajuine-ho commented on #11380
@zhouyx I can take a look at this and see how much work will need to be done. In the meanwhile, we can use #28348 to continue the conversation.

[2020-05-21 17:49] micajuine-ho commented on #28348
To recap from the other thread; we need to expand the `amp-form-submit` trigger's selector capabilities to capture all `form-submit` elements. Currently AMP pages will only capture the first element with the given selector.

We could apply the same changes that we did with the visibility trigger (allow for selectors within an array to capture multiple/all elements) or we could think about adding s

[2020-05-21 17:53] micajuine-ho commented on #28543
@dhawal-rudder Thank you for your i2i! Once you have your PR out, please make sure to link this issue :)

Feel free to assign me to the PR as well.

[2020-05-21 17:53] zhouyx commented on #28348
To continue the discussion in #11380.

I thought more about this yesterday. I agreed with @stephengardner point that the current set up is not very efficient when one wants to group triggers together. I also realized the concept `selector` doesn't fit very well here.

When used in visibility trigger, we need to wait for all the to-be-tracked element to have been selected to call `IntersectionObser

[2020-05-21 17:59] zhouyx commented on #28348
@Enriqe How to filter and only send out storyEvents for selected elements?

[2020-05-21 18:40] stephengardner commented on #28348
Thank you @micajuine-ho and @zhouyx.  To add to the suggestions expressed, it would definitely have unexpected side-effects to existing implementations to change the "selector" to querySelectorAll.

Based on documentation here https://amp.dev/documentation/components/amp-analytics/#element-selector a non-breaking change would be adding another option to "selectionMethod" such as "querySelectorAll"

[2020-05-21 18:56] Enriqe commented on #28348
Hmm sorry, I'm a bit lost here. Are you asking how we currently filter and only fire events from a particular element?

Basically, we compare the tagName provided by the publisher's config with the element responsible firing the event:

On the event side:
https://github.com/ampproject/amphtml/blob/fd697d52c4daa1117ddf9d776f06ce7e64e7e14f/extensions/amp-analytics/0.1/events.js#L460-L468

On the sto

[2020-05-21 19:34] zhouyx commented on #28348
What about the case where there are 3 `<amp-foo>` that are firing a `story-foo` events.
Is it possible to have events from `<amp-foo id=1>` `<amp-foo id=2>` sent to endpoint1, while the other one send to endpoint2?

[2020-05-21 19:35] #28497 closed

[2020-05-21 19:38] Enriqe commented on #28511
I sent #28550 which adds a patch addressing https://github.com/ampproject/amphtml/issues/28511#issuecomment-632156407, but I think we could clean this up further to address https://github.com/ampproject/amphtml/issues/28511#issuecomment-632189114

[2020-05-21 19:41] rcebulko commented on #28523
Closed by https://github.com/ampproject/amphtml/pull/28513

[2020-05-21 19:41] #28523 closed

[2020-05-21 19:52] Enriqe commented on #28348
Oh no, I don't think that's possible today.

I can imagine expanding the concept of `tagName` and adding a new property and attribute to address the requirement here. Something like:

[code]

[code]

But I guess this would be too similar to `selector`? And instead of a new attribute we could use the `class` in the element. But IIUC we can't use `selector` here because it will only detect the first

[2020-05-21 20:06] krdwan commented on #28545
@chetan268code This may actually be expected behavior.  Amp is able to deliver fast user experiences by creating the button on your browser first, then in the background it runs logic to create a link to the Social Sharing platform.  If you click on the button before the background logic completes, this error will be displayed.

Can you confirm whether or not you see the error after waiting a bit

[2020-05-21 22:47] #28511 closed

[2020-05-21 22:56] dvoytenko commented on #28281
Added task:

[2020-05-22 00:31] zhouyx commented on #28348
Thanks @Enriqe. Sounds like an issue that applied to storyEvents as well.

I like the idea of expanding the `selectionMethod`. Let me think through this, and see what's a good way to add the support here.

[2020-05-22 07:20] eperezf commented on #26734
I have the same issue

[2020-05-22 07:22] Sshuichi commented on #26734
This is the SOF issue and how I fixed it.
https://stackoverflow.com/questions/61726920/adsense-return-the-wrong-selectors-on-my-amp-pages

[2020-05-22 07:25] eperezf commented on #26734
I already have the <article> tag inserted. Still having the error.

[2020-05-22 07:26] Sshuichi commented on #26734
Can you post the placement answer from Google?

[2020-05-22 07:27] eperezf commented on #26734
I'm sorry, what is the placement answer?

[2020-05-22 07:30] Sshuichi commented on #26734
Read the SOF question, it's the response you get from this link:
`https://pagead2.googlesyndication.com/getconfig/ama?client=ca-pub-7726580065556509&plah=[site_url]&ama_t=amp&url=[Page_url]&__amp_source_origin=[site_url]`

Check your network tab

[2020-05-22 07:42] eperezf commented on #26734
I searched in the network tab and didn't find that link.
[https://pisapapeles.net/subtel-lanza-consulta-publica-sobre-ciberseguridad-en-redes-de-telecomunicaciones/amp](Here's an example.)

[2020-05-22 07:54] Sshuichi commented on #26734
I do see ads on your site, but I don't think the auto ads are implemented correctly.
Try pasting the snippet code right after the body tag

[2020-05-22 08:03] Aivaras100 commented on #28459
I my site amp disabled, to solve this problem. But ex: https://www.google.com/search?client=firefox-b-d&q=alybaba+pencil is the same problem with Iphone phone, IOS 13.4.1. Safari browser.

[2020-05-22 08:56] mattwmc commented on #26734
I have the article tag, too. Doesn't work.

[2020-05-22 12:06] wswebcreation commented on #28343
@rsimha

I'm trying to debug this one, but it's pretty hard with the logs from Sauce Connect and not having the instances in Sauce Labs that failed, can you provide them also?

[2020-05-22 13:33] user631 opened #28554 "AMP Ads NOT showing on Desktops"
## What's the issue?
**Title:** AMP-ADS are not working on desktop for AMP-only site.

**Details:** I have built a AMP only site - that is, there is only one (AMP-only) version where all pages are AMP compatible.

However, after almost a year of hard work in abiding to AMP rules and making lots of compromises for limited features, I found it the hard way that the Google Adsense AMP ads (non-auto)

[2020-05-22 16:29] vyoungnyc commented on #26229
any ETA on increasing the consentString?

[2020-05-22 16:32] rsimha commented on #28554
@ampproject/wg-ads

[2020-05-22 17:13] AtharvaSune commented on #27082
I ll start working on this then :slightly_smiling_face:

[2020-05-24 01:13] calebcordry opened #28555 "🧪Clean up 'expand-json-targeting' experiment"
After monitoring with sufficient traffic.

[2020-05-24 12:40] shoho opened #28556 "column-count property doesn't work on Safari"
## What's the issue?

In iOS Safari, `column-count` property doesn't work as intended because of the conflict with the following css setting. It's working as expected on Google Chrome.

`.i-amphtml-layout-size-defined {overflow: hidden!important;}`

### Screenshot
#### Google Chrome
![Chrome](https://user-images.githubusercontent.com/1287721/82754271-d17f6180-9e06-11ea-9cf1-83590e88ce2f.png)

####

[2020-05-24 18:13] jaygray0919 opened #28559 "combination fails: amp-state + amp-list + amp-mustache + amp-date-display"
this combination fails: amp-state + amp-list + amp-mustache + amp-date-display

[code]

`amp-validator` error message:

But from "AMP Date Display: cannot be used in amp-list": https://github.com/ampproject/amphtml/issues/21758

You can use `<script type="text/html" template="amp-mustache">` instead of `<template>` for the nested case.

(corrected small type in issue-21758)

Have we made an error?

[2020-05-24 19:08] xv commented on #9455
3 years later and I still can’t zoom on pages using this shithole of a framework. Fuck you Google.

[2020-05-24 22:22] erikian commented on #23672
Hello, any news about this?

[2020-05-25 09:04] jaygray0919 commented on #23672
We have not found a solution. GSDTT has not responded/reacted to the stated problem. Our (ugly) fallback is to generate two files from a common source: content for `amp-state`; content for `JSON-LD`. We then inject the `JSON-LD` into the target amp-page, and re-use the same content in `amp-list` and `amp-mustache` (src=amp-state).  IOHO, it's a ridiculous contortion, but we've not found any workab

[2020-05-25 11:40] tla-sirdata commented on #26229
Hi @micajuine-ho do you have any update on the UI ? Thanks

[2020-05-25 12:14] Vasile-Peste opened #28562 "I2I: amp-consent/iubenda"
## Summary
I have created a PR introducing the integration of the iubenda Cookie Solution configuration in the amp-consent component.

Everything is described in the PR https://github.com/ampproject/amphtml/pull/28667.

/cc @ampproject/wg-approvers
/cc @ampproject/wg-monetization

[2020-05-25 13:01] AtharvaSune commented on #27082
hi, i had some doubts regarding writing tests , could you please help :sweat_smile: ?

[2020-05-25 13:33] erikian commented on #23672
Do you inject the JSON-LD using AMP or server-side? I didn't manage to do it using AMP.

[2020-05-25 16:39] jaygray0919 commented on #23672
Server-side.

[2020-05-25 23:49] RuChuanLin commented on #26410
@choumx I have commented Google App on iOS App Store. Is there anything new?

[2020-05-26 00:55] CameronWills opened #28563 "amp-video-iframe component fails to render - incorrectly reported as 'tracking iframe'"
## What's the issue?

`<amp-video-iframe>` component fails to render and console errors with:
"`<amp-video-iframe>` does not allow tracking iframes. Please use amp-analytics instead."

From my initial investigation, seems to be some race condition with measuring the LayoutBox.

## How do we reproduce the issue?

See JS fiddle: https://jsfiddle.net/dhemj45x/7/

The LayoutBox is still the defaults:

[2020-05-26 10:24] dev-theoutplay commented on #28331
@Emiliano-Bucci some update?
/cc @cramforce

[2020-05-26 11:54] micajuine-ho commented on #26229
Hi @tla-sirdata, we took our [design proposals](https://docs.google.com/document/d/1T-R1dAv1YwSfBnTh5os710qT2vQ17ssv5-cky06alMw/edit) to design review last week, meeting notes can be found [here](https://github.com/ampproject/amphtml/issues/28108#issuecomment-631729827).

We decided that option three (Immediate Lightbox iframe) is how we would like to proceed. Next steps will be to design an API f

[2020-05-26 13:21] artneo7 opened #28564 "amp-base-carousel loop transition animation issue"
## What's the issue?

amp-base-carousel loop “next” transition animation ok, but “previous” transition animation is an instant jump

![issue](https://user-images.githubusercontent.com/17693529/82905617-76e72200-9f3a-11ea-9b11-20ba84e44c9a.gif)

## How do we reproduce the issue?

Check https://a3motorsweb.com.br/ and click the arrows inside the home carousel.

## What browsers are affected?

Chrome

[2020-05-26 13:26] tla-sirdata commented on #26229
HI @micajuine-ho thank you, option 3 looks great to me.

I have some questions :
- do this option will replace the current one or both will be available ?
- have you thought about my request to allow CMPs to quit the fullscreen mode after being triggered ?
- it appears that some publishers now develop their websites with AMP only, including for desktop. In this case `amp-consent` doesn't fit well

[2020-05-26 13:43] micajuine-ho commented on #26229
@tla-sirdata Thanks for the questions!

We will design for both to be available, so that it is backwards compatible with older consent frameworks.

For the immediate lightbox design, we are thinking to not allow the fullscreen API; in the common mobile case; the disclosure will take up as much space as possible (only limited by our lightbox margin), and so going from ~90% of the screen to 100% wou

[2020-05-26 13:47] cramforce commented on #28331
Looks like your original notification didn't go through.

@alanorozco Are you handling video players these days?

This LGTM from my end.

[2020-05-26 14:11] #28504 closed

[2020-05-26 14:13] Emiliano-Bucci commented on #28331
@cramforce Thanks for the answer! I'll wait then for the approval of @alanorozco and then, in case, i'll create the pr.

[2020-05-26 15:33] krdwan commented on #28545
@chetan268code I am going to go ahead and close the issue for now.  Per my previous comment it's likely this is expected.  If you feel this in error, please feel free to open a new bug or provide more info here.  Thanks!

[2020-05-26 15:33] #28545 closed

[2020-05-26 16:02] tla-sirdata commented on #26229
I think it depends the schedule because we will probably use the new lightbox flow for our TCF v2 version if available on time. In any case, we obviously won't apply the new lightbox flow to our TCF v1 version so my request is mainly for this one. But I think if the old flow remains an option, that feature would be useful for UX.

60vh is too big for desktop. You can see one of our publishers havi

[2020-05-26 16:20] calebcordry commented on #28554
Thanks for reporting. I was able to repro. This seems to be an adsense specific issue where the ad server is returning this as the creative: `<html><body style="background-color:transparent"></body></html>` @Jiaming-X could you take a look?

[2020-05-26 16:37] Princetp634 opened #28574 "Events to distinguish bookend share providers in amp story"
## Describe the new feature or change to an existing feature you'd like to see
Hi currently It become to difficult to track which share provider user clicked on bookend amp story.Please mark some events for the same

## Describe alternatives you've considered
If events for those are not possible, then do developers create custom share providers so that we can manually set tracking data for them by

[2020-05-26 18:24] dvoytenko commented on #27420
@alanorozco To clarify: are we all done here? Is it on the way to Beta/Stable as launched?

[2020-05-26 18:29] kliuless commented on #27754
@jpettitt We are having the same issue, in that `AUTHDATA` fields aren't being populated on free pages. I believe your suggestion will work.

When you say "treat `isAccessibleForFree` as false", I assume this is only for the purposes of deciding whether to call `authorize` & providing access to the result via `AUTHDATA`. I'm not familiar with all the effects of `isAccessibleForFree` which is why I

[2020-05-26 18:30] ampprojectbot opened #28582 "🚨 Error: Cannot read property 'src' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CPec4rKTn8-KPA)
**First seen:** May 16, 2020
**Frequency:** ~ 311/day

Stacktrace
---
<pre><code>Error: Cannot read property 'src' of undefined
    at scriptsInHead (<a href="https://github.com/ampproject/amphtml/blob/2005150002000/src/service/extensions-impl.js#L556">src/service/extensions-impl.js:556</a>:29)
    at Promise (<a href="https://git

[2020-05-26 18:32] roopakv commented on #25346
@samouri that makes sense. But if we considered gzip instead of brotli that is still a huge win and gzip is supported in almost all browsers

![image](https://user-images.githubusercontent.com/678239/82937046-5ae87e00-9f44-11ea-90ef-a5a88d5530f4.png)

And yes uncompressed has performance aspects, but we could account for that and change the limits accordingly. so maybe not 150,000 but 140,000? At

[2020-05-26 18:51] tobiastromm commented on #25845
Hi. I am having this exactly problem.

[amp-auto-ads] No ad placements found for publisher ID 'ca-pub-xxx'. Check that the provided publisher ID is correct.

Can someone tell me how to fix?

[2020-05-26 18:51] ampprojectbot opened #28584 "🚨 Error: undefined is not an object (evaluating 'a.replace')"
Details
---
**Error report:** [link](http://go/ampe/CNXtuND08Zmmdg)
**First seen:** May 13, 2020
**Frequency:** ~ 324/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'a.replace')
    at onBeforeMask (<a href="https://github.com/rtv/042005220120000/blob/v0/amp-inputmask-0.1.js#L16">amp-inputmask-0.1.js:16</a>:48)
    at <a href="https://github.com/ampproject/amphtml/blo

[2020-05-26 20:17] #17243 closed

[2020-05-26 20:17] jridgewell commented on #17243
Already done.

[2020-05-26 20:47] jaygray0919 commented on #16507
Any progress here? We have multiple amp-list/amp-state + template issues and would like to get our problems onto a development plan.

[2020-05-26 21:00] caroqliu commented on #27114
Discussed further offline with the following new finding:

It is not so simple to take away focus from the lightbox because the focus may not be in the subtree upon `open` in the first place. Some publishers will use `[autofocus]` to focus on a lightbox sub element when the `open` event occurs, as discussed in #13332. In all other cases focus stays on the element that triggered the lightbox to ope

[2020-05-26 21:13] kristoferbaxter commented on #25346
Apologies, I’m out on paternity leave. But believe this comment still applies:

Are you interested in submitting a design document that explores how we could determine a safe high band? If so, we'd love to work together on it.

Additionally, using compressed size versus uncompressed size doesn’t appear to be a good idea (fails for some browsers, passes in others).

We’ve seen it possible to delive

[2020-05-26 22:23] bradleymyers opened #28585 "amp-iframes not loading on ios 13.5"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-05-26 22:50] gmajoulet opened #28586 "Video poster background-size cover not working on Android"
`amp-video` renders an extra element on Android to render a poster image. This element's does not center the poster image as it appears on non Androids.

This is especially visible during Story video prerendering, which can be tested here:
https://www.gstatic.com/amphtml/stamp/qa/prerender-video.html?amp_js_v=0.1#origin=https://www.google.com&prerenderSize=1&visibilityState=prerender&paddingTop=0&

[2020-05-26 23:08] roopakv commented on #25346
@kristoferbaxter would be happy to work on a design doc. I just want to make sure I am looking in the right direction before I get started.

The thing that is (I believe) making it hard for us is that we use react and on its own that crosses some of the boundaries defined. I would love to see if it possible for us to continue using react and support amp.

[2020-05-26 23:37] zhouyx opened #28588 "Allow variable substitution in amp-consent"
CMP may need to keep record of user consent decision on the server side, that requires passing the userId and pageId to the consent endpoint.

Option #1: Make variable substitution a generic support feature in amp-consent, protect with an allowed list.

Option #2: Limit the support to `CLIENT_ID(AMP-CONSENT)`, `PAGE_VIEW_ID` and `PAGE_VIEW_ID_64`.

[2020-05-26 23:44] mrjoro commented on #28109
We are canceling since there are no non-WG topics.  @lannka please provide a link to the Ads update here.

[2020-05-26 23:44] #28109 closed

[2020-05-27 01:25] powerivq opened #28590 "🚄 Release tracking issue for release 2005220120000"
# Release tracking issue

This issue tracks release `[2005220120000](https://github.com/ampproject/amphtml/releases/tag/2005220120000)`

- [x] Release 2005220120000 promoted to Experimental and Beta (opt-in) channels (<CL submit time>)
- [x] Release 2005220120000 promoted to Experimental and Beta (1% traffic) channels (by @newmuis on June 2, 2020, 6:39:06 PM GMT-4)
- [x] Release 2005220120000 prom

[2020-05-27 01:31] cathyxz commented on #16507
The design for amp-list v2 and amp-render was done in Q4 2019. I'm not too sure when implementation will be prioritized. I've left the AMP team and no longer actively work on this, so I'm re-assigning to @nainar and @kristoferbaxter for triage.

[2020-05-27 04:15] mayapaul opened #28595 "AMP-LIST not triggering the src network call on the initial load"
I have an amp page created for displaying the  search result, which resides inside a lightbox. As I input the search values, the src network call is not triggered initially. When I close and reopen the lightbox, eventually, call starts getting triggered, and the list is loaded.

 <amp-list id="searchAmpList"  width="auto" class="category-results" height="500"
                  layout="fixed-height

[2020-05-27 06:29] #28595 closed

[2020-05-27 07:44] vigneshcamar commented on #23166
@lannka Hi Hongfei, We have started working on the changes, we had agreed upon during our design phase. I was wondering if you would help us during the CR Phase. please do let me know your comments.

[2020-05-27 12:55] jaygray0919 opened #28598 "Are nested templates supported?"
AMP documentation says that the following example of nested templates is valid and operational
For example see: https://github.com/ampproject/amphtml/issues/21758

Here is a sample structure where the source for the nested `<script>` could be a JSON endpoint or `<amp-state>` and a child processor could be `amp-date-display`
[code]
The structure does pass the validator but does not work.
In contras

[2020-05-27 14:14] nabaleka commented on #26734
Using the Newspaper WordPress theme and WordPress AMP Plugin I am also experiencing this issue.

[2020-05-27 14:23] cramforce commented on #28500
I rolled back the release due to #28441 missing this release.

[2020-05-27 15:33] alaa-awartany commented on #15007
Thanks for your efforts, watching...

[2020-05-27 16:59] micajuine-ho commented on #26229
I see, that sounds good. It sounds like a reasonable request, I will see how we can plan around this work.

You should be able to set the initialHeight to 30vh. Are you having trouble doing so?
When you send the [ready signal](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md#requesting-ui-state-change) to the AMP parent doc from your consent iframe, y

[2020-05-27 17:21] tla-sirdata commented on #26229
When you send the ready signal to the AMP parent doc from your consent iframe, you can add the initialHeight field to 30vh (see here for an example).

Yes I can, that's what I do when I set the 60vh initialHeight. But I would like to set the good initialHeight depending on the window width, for example 60vh for mobile and 30vh for desktop.

[2020-05-27 17:29] micajuine-ho commented on #26229
Ahhh I understand. Thanks for the clarification. Not sure if we have something like this/how feasible this would be to add to amp-consent. I will look into it.

Also, @tla-sirdata, for the new Lightbox flow/TCFv2 support, do you imagine that you will upgrade all of your publisher's pages to it? Or would it be up to the publisher or some other factor? Essentially I am trying to determine who choose

[2020-05-27 17:50] tla-sirdata commented on #26229
If we manage to design a nice and readable UI with the old flow despite all information we have to disclose, I think we'll provide publishers with the two flows and it will be up to them to choose. And on the first place we will decide the default flow (probably the lightbox flow).
About the transition between TCFv1 and TCFv2, it will also be up to publisher to upgrade as it requires their partner

[2020-05-27 17:53] samouri commented on #28361
That would mean firing a console.log 5s after every user interaction, which would not be useful. We have no way of knowing which mutations were a direct result of which user actions,.

As for the profiling a web worker, its actually possible to do that right now in the performance pane.  Instead of looking at "main thread" you have to look at "Worker", see this screenshot:
<img width="1501" alt="S

[2020-05-27 17:57] caroqliu commented on #28584
Dedup with #28062

[2020-05-27 17:57] #28584 closed

[2020-05-27 18:27] krdwan commented on #28442
Hi @cw-RayeesKausar !  I am closing out this bug as this is not the intended behavior of amp-date-countdown!  If you would like to request this functionality as a new feature or potentially new amp component, please file a feature using the link below (select 'Feature request' for the type of issue).  Thanks!

https://github.com/ampproject/amphtml/issues/new/choose

[2020-05-27 18:27] #28442 closed

[2020-05-27 18:48] #28473 closed

[2020-05-27 19:17] mattwmc commented on #26734
I'm using Drupal. Seems to be a problem where adsense is not detecting certain tags for some reason.

[2020-05-27 19:23] nainar commented on #27064
Forbes should be using version 1.0 right now. Andrew can you have them check if they are still getting this issue.

[2020-05-27 19:30] nainar commented on #26818
@mdvb1001 is there a demo URL you can share with us?

[2020-05-27 19:37] nainar commented on #25807
Seems reasonable to me.

[2020-05-27 19:58] nainar commented on #22502
Can't be reproduced anymore

[2020-05-27 19:58] #22502 closed

[2020-05-27 19:58] #22739 closed

[2020-05-27 19:59] nainar commented on #21511
Page is unavailable.

[2020-05-27 19:59] #21511 closed

[2020-05-27 19:59] nainar commented on #19961
Original URL doesn't work. But the bug should still repro

[2020-05-27 20:12] MrCsabaToth commented on #13005
It's 2020 May 27th, and I viewing @sryze test page. It's still erroring out. It uses the code what GTAG site suggests. I'm experiencing the problem with my site as well. How to overcome this?

[2020-05-27 20:17] nainar commented on #26148
Closing this in favour of #26232

[2020-05-27 20:17] #26148 closed

[2020-05-27 20:18] nainar commented on #26232
Original link can't be accessed - closing the issue. Please file again if this issue still persists.

[2020-05-27 20:18] #26232 closed

[2020-05-27 20:26] nainar commented on #25500
@wassgha can this be closed?

[2020-05-27 20:33] wassgha commented on #25500
Yup!

[2020-05-27 20:33] #25500 closed

[2020-05-27 20:46] choumx commented on #25346
I believe AMP's CSS limit also looks at uncompressed size. I think the deeper question is why is 150KB uncompressed insufficient for your use case?

[2020-05-27 21:21] dvoytenko commented on #23839
Hmm. All extensions should already be side-effect free via `AMP.extension()`. Here's how it's handled in the test:

https://github.com/ampproject/amphtml/blob/72e82c633e46a301ec04b7b5824f59af778ec460/test/_init_tests.js#L77

[2020-05-27 21:22] rsimha commented on #23839
Makes sense, thanks Dima. Closing out this issue.

[2020-05-27 21:22] #23839 closed

[2020-05-27 21:22] dvoytenko commented on #23839
That's the intention, but perhaps this is broken in some cases? Or maybe some extensions are missing `AMP.extension()`?

[2020-05-27 21:25] rsimha commented on #23839
Pretty sure this isn't the case, because every `AMP.extension()` call contains `AMP.registerElement()`, without which I'm not sure the extension will even work.

/cc @lannka for comment, in case I'm missing something.

[2020-05-27 21:32] jpettitt commented on #27754
@kliuless The original though was for contributions content where the main body of the article is free but there is some call to action that should only be displayed to non members.  What is your use case?

[2020-05-27 21:52] kliuless commented on #27754
@jpettitt Our case sounds very similar. We have both premium & free content. We have two buttons, "login" and "subscribe", and they were hidden/shown based on what our `authorize` function returned (whether the user is logged in, and whether they are a subscriber). We also perform an analytics call.

This was working well on amp-access, but after switching to amp-subscriptions the buttons always s

[2020-05-27 22:12] lannka commented on #28109
Updates here: https://github.com/ampproject/wg-ads/issues/30

[2020-05-27 22:27] choumx commented on #28515
I think might just be a developer warning since AMP historically did not support horizontal scrollers well. AMP does support horizontal scrollers now so the documentation can probably be removed.

[2020-05-27 22:32] dgilman commented on #28361
Looks good to me

[2020-05-27 22:32] #28361 closed

[2020-05-27 22:37] choumx commented on #9455
Just tested and it still doesn't work on iOS Safari/Chrome. `user-scalable` is not overridden to `no` and `maximum-scale` is no longer set, so my guess is this is a platform limitation that restricts pinch-to-zoom on scrollable iframes.

Pinch-to-zoom _does_ work on the google.com viewer header, but that's not really a practical UX.

[2020-05-27 22:39] zhouyx commented on #13005
Hello @MrCsabaToth,

As you described https://codepen.io/yajiv185/pen/ePWozd still errors out. I'm able to verify. But the error is different from the reported error here, as you can see the outgoing request has the
`__amp_source_origin` param set correctly.
![image](https://user-images.githubusercontent.com/5419904/83079135-03274100-a030-11ea-8be6-e33125ae71f2.png)

It was resolved by publishing

[2020-05-27 22:45] choumx commented on #28556
Weird. At first glance, looks like a WebKit bug since the `amp-img` elements in the right column appear to have the correct position (client rect), so there shouldn't be any overflowing content. Removing `position: relative` CSS from the `amp-img` also fixes it.

<img width="789" alt="Screen Shot 2020-05-27 at 6 43 05 PM" src="https://user-images.githubusercontent.com/20525523/83079518-03343a80-a0

[2020-05-28 00:09] zhouyx commented on #28348
Sounds like a `filter` feature to me. While I'm trying to come up with a design, I realize `enabled` may be able to solve the issue here.

What about
[code]

[2020-05-28 02:14] MrCsabaToth commented on #13005
@zhouyx I was looking at https://www.upnest.com/amp-gtm-test.html The quoted error sound like exactly the same as the Issue opener, except with different URLs because they are not the same site. Even on the little screenshot you just included. A slight difference is "Access to fetch" vs "Failed to Load", but semantically they seem to be the same.

![Screenshot_2020-05-27_19-13-45](https://user-ima

[2020-05-28 03:07] #19284 closed

[2020-05-28 03:07] #19265 closed

[2020-05-28 04:07] #16856 closed

[2020-05-28 06:14] trademinister commented on #11222
Hello,
Can You send sample code in AMP for Load more?

[2020-05-28 11:27] Sitanderkumar opened #28607 "Virtual keyboard pops up when opening an amp-lightbox with an amp-date-picker"
URL: https://m.cheapoair.com/flights/amp?preview=1

When a user inputs a depart or return date into the fullscreen amp-date-picker, the keyboard pops up and covers the calendar:

![image](https://user-images.githubusercontent.com/36926473/83135567-a09f7500-a103-11ea-821d-bcb25268dd80.png)

(Note: it can only be replicate  on physical device)

@mdiblasio @niallkennedy @cvializ

[2020-05-28 12:55] powerivq commented on #28441
Cherry pick on stable https://github.com/ampproject/amphtml/commit/2d71cd26716ec991b4e035218dba69a1543fed32

[2020-05-28 13:28] cramforce commented on #28500
When rolling forward, please verify that no other cherry-picks were missing from the release.

[2020-05-28 15:39] stephengardner commented on #28348
Thanks @zhouyx, I don't see the `enabled` attribute documented in the [amp analytics](https://developers.google.com/analytics/devguides/collection/amp-analytics) page.   Is this a feature?

Also, just checking in on any intent to implement an otherwise selector-based approach

Thanks for all the assistance.

[2020-05-28 16:00] jpettitt commented on #27754
Yep - I asked them to point you to this issue.  So I think what we need is for `alwayAuthFreeContent` combined with `isAccessibleForFree: true` to internally generate an entitlement that unlocks the page but continue with the auth request and subsequent render so the `data` fields are respected.

We have a "fixit" week coming up June 8th I'll add this to the list for both amp-access and amp-subscr

[2020-05-28 16:29] Ichigo3d commented on #28585
Hello. Thank you for participation in improving our product. I checked it on current production 2005151844001 and beta 2005150002000. Browsers: Chrome and Safari. IOS 13.5. But bug is unreproducible. Could you provide screenshots and more info?

[2020-05-28 17:35] bradleymyers commented on #28585
Thanks for getting back. I was able to fix the issue yesterday evening. There where two problems and only one of them really had anything to do with amp-iframe issue.

1. On the map iframe there was an SSL issue. Seems that iOS 13.5 didn't like the cert. So I regenerated it and it started working
2. The main nav locations drop down on mobile had an iframe in it. Seems like the height and width of

[2020-05-28 17:35] #28585 closed

[2020-05-28 19:20] zhouyx commented on #13005
From the discussion above, I believe the cause to the issue above is that the container hasn't been published yet. So the required header isn't added by the server. The testing page probably hadn't been updated for a while.
@mrienstra Are you seeing the same error with your own site after publishing changes.

cc @zikas to comment on the GTM error message.

[2020-05-28 20:31] alanorozco commented on #28607
Thanks for reporting this, @Sitanderkumar.

I've spent some time debugging this and can provide more information and an okay-ish workaround, but not a fix yet.

A reduced case for this is [like our provided example for using `[fullscreen]`](https://go.amp.dev/c/amp-date-picker/#fullscreen), composing the datepicker inside an `<amp-lightbox>` which is triggered when one of the reference fields is t

[2020-05-28 20:42] Gregable commented on #28533
Repo created here: https://github.com/ampproject/validator-java

cc @nhant01 @GeorgeLuo

[2020-05-28 21:40] zikas commented on #13005
The container that is being loaded on the test page is not a valid GTM AMP container, so server replies with 403 thus does not send valid cors headers.
Please use valid GTM AMP container ID.

[2020-05-28 22:04] dvoytenko commented on #23839
@rsimha The way it works is this with tests:

1. All `AMP.extension(component, version, installer)` callbacks are stored in an internal buffer map, e.g. `{'amp-ext1:0.1', installer}`. They are not executed. So `AMP.registerElement()` will not be called until later.
2. A test can specify the `extensions: ['amp-ext:0.1']` in its configuration. The test runner (`describes` fixture) will go through a

[2020-05-28 22:19] #28199 closed

[2020-05-28 22:57] zhouyx commented on #28348
It's an AMP feature, not a Google Analytics feature. You're absolutely right, we failed to document it : ( [Here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors/googleanalytics.json#L35) you can find an example use case by GA. And we need to document the feature : )

After reviewing the code, imo this is not a selector. Because the analytics service is not a

[2020-05-28 22:58] MrCsabaToth commented on #13005
@zikas https://www.upnest.com/amp-gtm-test.html passes validation for me. Not my page though.

[2020-05-28 23:04] zhouyx commented on #13005
@MrCsabaToth if you're referring to AMP validator. Then it is completely different concept.
The test page you're referring is a valid AMP page, but using an invalid GTM container.

[2020-05-28 23:15] stephengardner commented on #28348
Thanks @zhouyx
We spent some time playing with this, and it appears not to work.

Full reproduction example, with steps:
https://stackblitz.com/edit/amp-gtag-example-dmf2ii

Can you clarify what is misconfigured in this example?  It appears to follow the method outlined.

[2020-05-28 23:23] zikas commented on #13005
Simple check would be just to click on the link from the error message.
https://www.googletagmanager.com/amp.json?id=GTM-MSRHHLG&gtm.url=https%3A%2F%2Fwww.upnest.com%2Famp-gtm-test.html
returns 403 error page but should give you a valid json.

For example look at the response for the valid GTM AMP container: https://www.googletagmanager.com/amp.json?id=GTM-WC8J58F

[2020-05-28 23:50] MrCsabaToth commented on #13005
@zikas Gotcha. I thought the 403 was because I was not making the proper type of call to the endpoint, although I tried REST POST and GET with REST client too. So I have also had a tag ID defined for my site but had the same problem: https://www.googletagmanager.com/amp.json?id=GTM-NPS2Q4K

After you pointed this out I realized that the "Container" was not published. If for example someone has a T

[2020-05-28 23:53] Ichigo3d opened #28616 "Twitter's video post redirects to twitter web site instead play video in STAMP on FFox Android"
## What's the issue?
Twitter's video post redirects to twitter web site instead play video in STAMP

## How do we reproduce the issue?
1) Got through this link: https://www.gstatic.com/amphtml/stamp/qa/tooltip.html
2) Tap on post image
3) tap on appeared tooltip "Expand"
4) tap on video button in twit
5) Observe result

## What browsers are affected?

FFox MacOS in mobile view Iphone Xs

## Which

[2020-05-29 00:06] Ichigo3d commented on #28616
please close it

[2020-05-29 00:22] Ichigo3d opened #28617 "Video doesn't play on tweet post in FFox Android"
## What's the issue?
Video doesn't play on tweet post in FFox Android

## How do we reproduce the issue?
1. Got through this link: https://www.gstatic.com/amphtml/stamp/qa/tooltip.html
2. Tap on post image
3. tap on appeared tooltip "Expand"
4. tap on video button in twit
5. Observe result
Actual result: video doesn't play
Expected result: video should start to play in tweet post

## What browsers

[2020-05-29 00:41] zhouyx commented on #28348
Unfortunately `data-vars` is not supported for the `on-form-submit` event yet. I can fix it you think the approach works for you. (Your configuration looks correct, I'm able to get the request sent out with data vars hard coded)

[2020-05-29 00:51] stephengardner commented on #28348
Thanks. This approach should work for us when fixed/added

On Thu, May 28, 2020, 8:41 PM Yuxuan Zhou <notifications@github.com> wrote:

[2020-05-29 01:10] zhouyx commented on #28348
Great. I'll keep you updated on the upcoming support.

[2020-05-29 03:22] ka2jun8 opened #28618 "amp-carousel (type slides) actions speed up option"
When the web site uses amp-carousel's 'on' action event 'slideChange', this event is called after finish completely moving the slide, because `debouncedResetScrollReferencePoint_` uses `debounce` method.

https://github.com/ampproject/amphtml/blob/master/extensions/amp-base-carousel/0.1/carousel.js#L186

If another view changed by 'slideChange' action, users sometimes feel time lag.

So I'd be hap

[2020-05-29 03:32] #8480 closed

[2020-05-29 08:01] normanfan opened #28620 "can i hide the tooltip when i click the link in the amp-story?"
## Describe the new feature or change to an existing feature you'd like to see

in my case, I want to show some links in the page center. I don't want to show the tooltip when the user clicks it. so, how can I do it?

## Describe alternatives you've considered
Can I use the  'show-tootip=false' to hide the tooltip?

[2020-05-29 08:21] askmeoffers opened #28621 "Urgent : AMP Unused JS issue"
Hi Team ,

Thanks in advance for building and working on such a great AMP framework and helping us with easy to use wordpress plugin .

Recently I noticed that all AMP java scripts are being flagged as unused for our oyo coupons stores and all other stores as well

https://askmeoffers.com/coupon-deal-offer-promo-store/oyorooms-com/

on google page speed tool
https://developers.google.com/speed/pag

[2020-05-29 11:53] vigneshcamar commented on #23166
@lannka Hi Hongfei, Can you let me know your comments?

[2020-05-29 17:19] alanorozco commented on #28617
This appears to be an issue with the embedding script provided by Twitter:

[code]

This occurs with a basic embed that doesn't use AMP: https://jsbin.com/venebumedo/edit?html,output

[2020-05-29 17:28] Ichigo3d commented on #28617
I found that FFox in mobile version changed settings by default in privacy. They changed: allowance cookies excluding social tracking cookies, enable tracking protection, and enable "do not track feature. If I disabled all this settings and enabled all cookies - everything works well.

[2020-05-29 17:36] alanorozco commented on #28617
@paularmstrong Escalating to Twitter since this appears to be an issue with the embed itself. Let us know if we can help out further.

[2020-05-29 17:44] Ichigo3d opened #28625 "Video is played with sound on the mute mode in STAMP FFox MacOS"
## What's the issue?
Video is played with sound on the mute mode in STAMP FFox MacOS

## How do we reproduce the issue?
1. Go to https://www.gstatic.com/amphtml/stamp/qa/video.html
2. tap for switching to the next page
3. Observe result

Actual result: video is playing with sound in the mute mode
Expected result: video should play without sound in the mute mode.

Notice: When I tap twice on the mu

[2020-05-29 17:50] gmajoulet commented on #28625
cc @ampproject/wg-stories

@Enriqe do you have time to look into this and assess if it's release blocking?

[2020-05-29 17:51] rcebulko commented on #28322
Closing this for now, as it seems the work around package grouping and reviewer assignment via Owners Bot has addressed these issues

[2020-05-29 17:51] #28322 closed

[2020-05-29 17:52] rcebulko commented on #28524
Closing this; will be best to react to mis-assigned PRs and update OWNERS files as issues arise.

[2020-05-29 17:52] #28524 closed

[2020-05-29 18:01] rcebulko commented on #28525
Closed by https://github.com/ampproject/amphtml/pull/28627

[2020-05-29 18:03] rcebulko commented on #24784
These have been enabled, but are not auto-merged because I believe we don't want to give Renovate those permissions at this time. I'm closing this issue for now, but we can re-open down the line if auto-merging becomes necessary/desirable.

[2020-05-29 18:03] #24784 closed

[2020-05-29 18:07] rcebulko commented on #26861
Given that this will require a network request to find out the LTS RTV, the added complexity here may not be worth the dev time. Punting this until we add dropdown of RTVs, if we ever get there. At that point, marking LTS and other RTVs will be trivial.

[2020-05-29 18:07] #26861 closed

[2020-05-29 18:56] Ichigo3d opened #28628 "Celebrity stories is unavailable on the 1st page of Google search page."
## What's the issue?
Celebrity stories is unavailable on the 1st page of Google search page.
Briefly describe the bug.

## How do we reproduce the issue?
1. Go to google.com
2. Type search request:  Denzel Washington or Emma Stone
2. Observe result

## What browsers are affected?
All browsers

## Which AMP version is affected?
All versions
<img width="413" alt="Screen Shot 2020-05-29 at 11 56 00 A

[2020-05-29 19:02] paularmstrong commented on #28617
Thanks @alanorozco . I've handed this off to our internal team to figure out.

[2020-05-29 19:20] Enriqe commented on #28625
I'm able to repro, taking a look

[2020-05-29 19:28] gmajoulet commented on #28628
Closing as this is an internal Google thing.

[2020-05-29 19:28] #28628 closed

[2020-05-29 20:11] powerivq commented on #28500
Verified that all cherry picks of the week have been in. Two issues found by QA are verified to be existing issues.

[2020-05-29 20:11] #28500 closed

[2020-05-29 20:13] caroqliu commented on #28607
Played around with this with the VoiceOver feature -- from what I can tell the a11y user flow isn't great but also isn't worsened by the proposed fix. The status quo for the lightbox feature of datepicker is that on opening the lightbox, the user is not notified but the dates are focusable and selectable after opening the lightbox. Closing the lightbox is not ergonomic since the `Esc` key is the o

[2020-05-29 20:31] alanorozco commented on #28607
Awesome, thanks for your input @caroqliu!

Since this approach maintains status quo, let's consider this an additional a11y improvement.

[2020-05-29 20:32] #28441 closed

[2020-05-29 21:51] micajuine-ho opened #28634 "Add e2e test for all amp-consent metadata values"
- consentStringType #28028
- gdprApplies
- additionalConsent

Use external API provided to test (or analytics variable substations).

[2020-05-30 00:56] zhouyx opened #28636 "Support data-vars for all analytics event"
Variables as data attribute is supported by click and visible events.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#variables-as-data-attribute

To follow the thread in #28348, we propose to expand the `data-vars` attribute support to more analytics events. Including all custom events like `form-submit-success` and story events.
With this
[code]
`form

[2020-05-30 00:56] zhouyx commented on #28348
Created #28636 to track the work

[2020-05-30 07:19] zarar3333 opened #28637 "amp page not update when changes occured"

[2020-05-30 09:39] #28637 closed

[2020-05-30 22:11] stephengardner opened #28638 "PageSpeed Insights now reporting all AMP scripts as "Unused Javascript""
Reproduction steps:
- run PSI test on "https://amp.dev"
- results:
![image](https://user-images.githubusercontent.com/7368566/83339881-f4df5c00-a29f-11ea-8798-d7019aa5243f.png)

As an aside, AMP pages across the board seem to be scoring less on the PSI report, and LCP's seem to fail the 2.5s threshold across the board.  Not reporting this LCP note as a bug, but it is relatively alarming to those w

[2020-05-30 22:25] stephengardner commented on #28638
In an effort not to overload the issues tab, if someone could comment on the fact that the AMP homepage doesn't pass Google's Core Web Vitals assessment, that would be helpful.  As the AMP framework is generally touted as the fast, mobile-friendly and user-first ideal, it would be great to see it as an example of what it preaches.  Of course, PSI is a pretty key benchmark for users across the boar

[2020-05-31 03:07] kweephyu opened #28639 "🌸 Cherry-pick request for #<ISSUE_NUMBER> into #<RELEASE_ISSUE> (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #<_ISSUE_NUMBER_> | #<_PR_N

[2020-05-31 03:09] kweephyu opened #28640 "🌸 Cherry-pick request for #<ISSUE_NUMBER> into #<RELEASE_ISSUE> (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #<_ISSUE_NUMBER_> | #<_PR_N

[2020-05-31 03:18] kweephyu opened #28641 "Ok"
ok
ok

[2020-05-31 03:19] kweephyu commented on #28641
123

[2020-05-31 03:19] kweephyu opened #28642 "I2I: <your feature/change>"
ok
ok

[2020-05-31 06:30] #28642 closed

[2020-05-31 06:31] #28641 closed

[2020-05-31 06:31] #28639 closed

[2020-05-31 06:31] #28640 closed

[2020-06-01 04:36] kristoferbaxter commented on #28638
Apologies for the slow response, I’ve been out on paternity leave.

I’m back tomorrow and will make sure this item gets an answer that clarifies things.

[2020-06-01 13:38] #27955 closed

[2020-06-01 15:42] gmajoulet commented on #28110
I'd like to discuss a new way for publishers to provide different `amp-video` sources with different bitrates, to be used within an `amp-story`.

cc @ampproject/wg-stories

[2020-06-01 15:44] gmajoulet commented on #28625
Awesome thanks :)) It looks like this issue is not new so not release blocking. We should work on a fix asap though.

[2020-06-01 16:30] rsimha commented on #28391
Hello, @ampproject/wg-ads, these tests have been flaking fairly often recently. Before I set out to skip them, would someone like to take a look to see if there's an easy fix?

https://travis-ci.org/github/ampproject/amphtml/jobs/692751359#L2384

[2020-06-01 16:57] lannka commented on #27666
closed via #27667

[2020-06-01 16:57] #27666 closed

[2020-06-01 17:13] morsssss commented on #16507
I know @kristoferbaxter is just returning today and @nainar has a million other things going on, but perhaps someone can provide an update on any work that may be happening with `<amp-list>`. I know there are some open issues outside of this one, and a bit of work has happened on at least one of those.

[2020-06-01 17:18] ampprojectbot opened #28645 "🚨 Error: Cannot read property 'getAttribute' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CI6Qxsae-v6n4AE)
**First seen:** Apr 9, 2020
**Frequency:** ~ 1,298/day

Stacktrace
---
<pre><code>Error: Cannot read property 'getAttribute' of undefined
    at doc (<a href="https://github.com/ampproject/amphtml/blob/2005150002001/src/dom.js#L704">src/dom.js:704</a>:4)
    at getUsableTarget_ (<a href="https://github.com/ampproject/amphtml/blob

[2020-06-01 17:19] newmuis commented on #28645
/to @alanorozco
/cc @ampproject/wg-ui-and-a11y

[2020-06-01 17:49] newmuis commented on #28620
@normanfan it is not possible to hide the tooltip for links in the center of an `amp-story-page`.  Doing so conflicts with navigating through a story.

[2020-06-01 17:49] #28620 closed

[2020-06-01 17:52] powerivq commented on #28391
@rsimha Thanks for letting us know!

[code]

Do you know if that is a timeout?

[2020-06-01 18:43] #27308 closed

[2020-06-01 18:44] #27548 closed

[2020-06-01 18:52] Ichigo3d opened #28646 "Opt-in feature of https://cdn.ampproject.org/experiments.html doesn't work on Safari MacOS"
## What's the issue?
Feature of opt-in of versions on https://cdn.ampproject.org/experiments.html is not working.
When I tried to switch to beta version, site shows that I switched, but when I opened https://cdn.ampproject.org/v0.js for checking. I saw that I was still on production version

## How do we reproduce the issue?
1. Go to https://cdn.ampproject.org/experiments.html
2. Toggle ON Beta ve

[2020-06-01 19:04] #28646 closed

[2020-06-01 19:27] gmajoulet opened #28649 "Story players flash of content before first page renders"
In some Story players (not the open source one as far as I know), the Story frequently flashes some content before rendering the first page, when it was not pre-rendered.
This does not repro on a regular cold load.

Ideas of things that could cause these flashes to look into:
- Switching player `visibilitystate` to visible/hidden (any combination)
- AMP Cache server side rendering (with `usqp` par

[2020-06-01 19:47] gmajoulet opened #28650 "Story media performance last page metrics not sending"
Story media performance metrics are not sent when navigating away from a Story in a viewer. The code waits for a page navigation to send the metrics, whereas navigating to the next story remains on the page and pauses the story through the `visibilitystate` messaging.

When we detect the player is no longer interested in the story (`visibilitystate === 'inactive'`), we should:

- Send the video me

[2020-06-01 19:53] gmajoulet opened #28651 "Correctly track LCPx metrics for Stories"
We received feedback that Stories LCPx metrics appear to be incorrect for Stories:

https://github.com/ampproject/amphtml/blob/65a678662ebf7a7043083f938d8ed8c73feefc81/src/enums.js#L50-L52

cc @ampproject/wg-stories

[2020-06-01 20:05] gmajoulet commented on #28650
We have had reports that they're not sent on the first story page either, which might be a format or player bug, but would need to be clarified.

[2020-06-01 20:15] #28108 closed

[2020-06-01 22:13] saipulbacry commented on #5225
https://github.com/users/saipulbacry/emails/106013097/confirm_verification/878b90f454cc40c13805269e772c80f21cda373f?utm_campaign=github-email-verification&utm_content=html&utm_medium=email&utm_source=verification-email

[2020-06-01 22:39] gmajoulet commented on #28574
@Enriqe do you know if we have any way to track sharing from the bookend or even the desktop sharing menu?

cc @ampproject/wg-stories

[2020-06-01 22:52] gmajoulet commented on #25595
Closed by https://github.com/ampproject/amphtml/pull/27815

[2020-06-01 22:52] #25595 closed

[2020-06-01 22:54] gmajoulet commented on #25351
I forgot what the fix was but it's been verified with 3p publishers who could repro very often.

[2020-06-01 22:54] #25351 closed

[2020-06-02 04:28] stylecnc commented on #28638
I am troubled with the same problems, including unused JavaScript, Total Blocking Time,  and Largest Contentful Paint, the scores always change from 70 to 80, I can not get higher score anymore!
Here is an example:
https://amp.stylecnc.com/cnc-router/

[2020-06-02 09:03] PlumbersNearMe commented on #27546
I have implemented on my production website, so far it seems to work great. Although I am getting some errors in the console, it affects the best practices score in lighthouse as well. I am getting about 6 errors of the same type each page load. They are all similar to this:

Should never attempt to set cookie on proxy origin.

Are these something I am able to remedy on my end? I built the amp run

[2020-06-02 10:06] sebastianbenz commented on #21912
@jridgewell did we ever consider generating a `picture` element inside an amp-img? This would make it easy to add webp support.

[2020-06-02 12:37] powerivq commented on #25509
@piotr-galas Look like your problem is subsidized, so I am closing this issue for now. Please see my comment on Mar 13 for a solution to the problem raised here.

If anyone still has unresolved problem related, feel free to reopen.

[2020-06-02 12:37] #25509 closed

[2020-06-02 12:43] #27566 closed

[2020-06-02 15:11] gmajoulet commented on #28330
cc @ampproject/wg-stories

[2020-06-02 15:12] gmajoulet commented on #28327
cc @ampproject/wg-stories

Might be the same as https://github.com/ampproject/amphtml/issues/28330

[2020-06-02 15:14] gmajoulet commented on #28235
Tracked in https://github.com/ampproject/amphtml/issues/28416

[2020-06-02 15:15] gmajoulet commented on #28189
cc @ampproject/wg-stories

[2020-06-02 15:22] gmajoulet commented on #28574
@zhouyx confirmed that using `data-vars` would work, Enrique do you know if we could automatically add `data-vars=<provider>` attribute for people to track which sharing option was clicked?

[2020-06-02 15:23] newmuis commented on #28189
There are details in #14222

[2020-06-02 15:23] gmajoulet commented on #28530
cc @hongwei1990 @processprocess

[2020-06-02 15:27] Ichigo3d commented on #28625
Fix is verified on 2005220120000

[2020-06-02 15:29] Ichigo3d commented on #28625
Still repro on 2005220120000 in FFox

[2020-06-02 15:29] gmajoulet commented on #28136
This might actually already be working.

[2020-06-02 15:36] gmajoulet commented on #28397
We should verify Enrique's PR, and either rename it, or roll it back to create a new `swipeToClose` capability for singleton documents, that doesn't disable the bookend or the navigation UI hint, but forwards "swipe down" touch events to the viewer.

[2020-06-02 15:43] gmajoulet commented on #27462
Both look re-enabled.
Closed by https://github.com/ampproject/amphtml/pull/27487

[2020-06-02 15:43] #27462 closed

[2020-06-02 15:43] gmajoulet commented on #27420
@alanorozco do you have an update on the documentation conversation? Thanks!

[2020-06-02 15:45] gmajoulet commented on #27332
Tracked in https://github.com/ampproject/amphtml/issues/28416

[2020-06-02 15:45] #27332 closed

[2020-06-02 15:45] gmajoulet commented on #27331
Tracked in https://github.com/ampproject/amphtml/issues/28416

[2020-06-02 15:45] #27331 closed

[2020-06-02 15:46] gmajoulet commented on #27050
cc @ampproject/wg-stories

[2020-06-02 15:48] gmajoulet commented on #27007
Do they show a tooltip by default with Enrique's new PR that detects the link coordinates? I'm closing, please re-open if I misunderstood the ticket.

[2020-06-02 15:48] #27007 closed

[2020-06-02 15:49] gmajoulet commented on #26997
Fixed by https://github.com/ampproject/amphtml/issues/28511

[2020-06-02 15:49] #26997 closed

[2020-06-02 15:53] gmajoulet commented on #26671
Reassigning to @MaxBittker

[2020-06-02 15:55] gmajoulet commented on #26617
I think @mszylkowski fixed this one. Matias, can you double check and close this issue if so? Thanks!

[2020-06-02 15:55] gmajoulet commented on #26582
Still can't repro, please re-open if you're experiencing this issue again.

[2020-06-02 15:55] #26582 closed

[2020-06-02 15:56] gmajoulet commented on #26569
We prioritized https://github.com/ampproject/amphtml/issues/28650 that should fix this issue.

[2020-06-02 15:57] mrjoro commented on #28466
We're cancelling this design review since most of the people working on AMP will be focused on fixit tasks.

@zhouyx you can either provide a written update for the analytics WG here or present at the next design review.

[2020-06-02 15:57] #28466 closed

[2020-06-02 15:58] gmajoulet commented on #26308
@Enriqe is it ready to be closed now that new features are tracked separately?

[2020-06-02 16:06] Gregable commented on #6378
I am closing this issue. The changes to accept a wider range of URLs seem to have resolved most of the concerns folks have. Feel free to reopen if there are remaining concerns.

[2020-06-02 16:06] #6378 closed

[2020-06-02 16:07] gmajoulet commented on #26160
Please re-open with repro steps or a URL to your story if you're still experiencing this issue.

[2020-06-02 16:07] #26160 closed

[2020-06-02 16:09] Enriqe commented on #26308
I think it's fine to keep open, as there are other general features that could be tracked here (non programmatic API-related)

[2020-06-02 16:09] gmajoulet commented on #26036
This has been done in https://github.com/ampproject/amphtml/issues/27097
Tracked in https://github.com/ampproject/amphtml/issues/27828, to document the new `education` feature.

[2020-06-02 16:09] #26036 closed

[2020-06-02 16:11] gmajoulet commented on #25716
@mszylkowski @processprocess

cc @ampproject/wg-stories

[2020-06-02 16:13] gmajoulet commented on #25615
Tracked in https://github.com/ampproject/amphtml/issues/28280

[2020-06-02 16:13] #25615 closed

[2020-06-02 16:14] gmajoulet commented on #25311
Can no longer repro.

[2020-06-02 16:14] #25311 closed

[2020-06-02 16:14] Gregable commented on #28515
@choumx the validator doesn't have any treatment for this, warning or otherwise. Should it? If not, I think we can just move this to be a documentation issue.

[2020-06-02 16:15] gmajoulet commented on #25166
Closed by https://github.com/ampproject/amphtml/pull/26343

[2020-06-02 16:15] #25166 closed

[2020-06-02 16:16] Gregable commented on #27776
@wassgha Can you outline a specific proposal for the parts that we should have the Cache implement?

[2020-06-02 16:16] gmajoulet commented on #25127
You can either:

Add a `#page=<amp-story-page.ID>` parameter to the Story URL, or use the `selectPage` viewer message:
https://github.com/ampproject/amphtml/blob/8f0446b4d13880bc8f0ee38fb2d729ee96c94dc8/extensions/amp-story/1.0/amp-story.js#L808

[2020-06-02 16:16] #25127 closed

[2020-06-02 16:17] Gregable commented on #27606
This has been complete for a while.

[2020-06-02 16:17] #27606 closed

[2020-06-02 16:17] cramforce commented on #28136
This might have been fixed by your change to always wait for the component to init from the media pool.

[2020-06-02 16:18] cramforce commented on #28136
Maybe we should add a test :)

[2020-06-02 16:19] gmajoulet commented on #25037
Closing as there's no amp-story-embed experiment in https://github.com/ampproject/amphtml/blob/master/tools/experiments/experiments-config.js

[2020-06-02 16:19] #25037 closed

[2020-06-02 16:20] gmajoulet commented on #25020
#26505

[2020-06-02 16:20] #25020 closed

[2020-06-02 16:22] Enriqe commented on #28397
I can tackle this if you want, I was just taking to Greg about it

[2020-06-02 16:22] gmajoulet commented on #24539
Tracked in https://github.com/ampproject/amphtml/issues/26308

[2020-06-02 16:22] #24539 closed

[2020-06-02 16:22] Gregable commented on #27467
@westonruter did you want to do more with this proposal? If there isn't a concrete plan, I might recommend that we close the issue in the meantime.

[2020-06-02 16:23] gmajoulet commented on #23892
Tracked in https://github.com/ampproject/amphtml/issues/26693

[2020-06-02 16:23] #23892 closed

[2020-06-02 16:23] wassgha commented on #27776
@alanorozco and I are going to be reviewing the impact of #27781 since it reached production, however, the initial proposed change (Google Fonts) would be as easy as `&display=optional` to pages that link to a Google Fonts stylesheet. For example:
[code]

[2020-06-02 16:24] gmajoulet commented on #23855
Fixed by https://github.com/ampproject/amphtml/pull/28051

[2020-06-02 16:24] #23855 closed

[2020-06-02 16:24] #23409 closed

[2020-06-02 16:25] Gregable commented on #26655
@ashu82492 . Said another way, the distinction is that the JSON is invalid JSON, but valid JSON is not a requirement for valid AMP. This is working as intended.

[2020-06-02 16:25] #26655 closed

[2020-06-02 16:25] Gregable commented on #26544
Closing this issue. Feel free to reopen if there is new discussion.

[2020-06-02 16:25] #26544 closed

[2020-06-02 16:27] Gregable commented on #26402
@jridgewell would this be something runtime would be interested in collaborating on as a Fixit item?