[2018-12-17 21:39] choumx commented on #19647
Chrome 71 also caused a different set of tests to flake on SauceLabs (on Windows 10):

[code]

[2018-12-17 21:45] jridgewell commented on #13343
Why aren't we just using `scrollHeight`?

[2018-12-17 21:49] sushan04 commented on #19821
Hi Rob,

We need some more information regarding the setup with DV360.

- Is there any particular creative type (Image, Custom H5, or templated) in DV360 being used for this workflow?
- How are these deals setup? Is it using a sell-side PG deal or DV360 CRUMBS tags to run? It'd be helpful if you could provide a sample tag with this setup to debug the issue.
- If so, is there any forcing of AMP-ser

[2018-12-17 21:55] choumx commented on #13343
We should use `scrollHeight` when `scrollHeight > clientHeight`, and Peter's "content height" otherwise.

[2018-12-17 21:55] peterjenkins opened #19931 "Update mparticle.js to allow custom screen names"
## Describe the new feature or change to an existing feature you'd like to see

Currently it's not possible to customize the page name that's sent to mParticle for page view events. We'd like to update the integration to allow customers to change the default screen name by providing it as a variable.

This will require a server change on our side which is not yet in place but creating the issue an

[2018-12-17 21:57] jridgewell commented on #13343
`clientHeight` can't be trusted to give an accurate height. How about screen height or scroll height?

[2018-12-17 21:57] #19647 closed

[2018-12-17 21:58] jshau commented on #19292
Will mentioned that it would be good to run this through a review!

Issue with design explained:
https://github.com/ampproject/amphtml/issues/18012
PR:
https://github.com/ampproject/amphtml/pull/18647

There will be a separate PR to integrate the parser into the amp-bind premutate operation.
Thanks!

-Jasper

[2018-12-17 22:39] aghassemi commented on #19683
@leonalicious What do you think about the following API

`AMP.closeOrNavigate(url=<fallbackUrl>)`

The API will:
1- Close the window if
   a- there is an `window.opener` AND
   b- there is no `window.parent` ( e.g. no embedded in an `iframe` ) AND
   c- it is a SingleDoc (e.g. no embedded in a multi-doc PWA)
2- Navigate the window otherwise

I am thinking about the case where the back button in yo

[2018-12-17 22:43] #19875 closed

[2018-12-17 22:53] sjvs commented on #19924
Thanks for pinging me. This should be resolved now. Let me know if it persists!

[2018-12-17 22:55] aghassemi commented on #19905
Thanks @JosefJezek. We have started designing for a holistic seamless page transition experience in AMP which would also include the logic of prefetching (and prerendering since AMP can do that).

Please follow https://github.com/ampproject/amphtml/issues/12981 for updates.

If it turns out that separating page transitions and prefetching into different components makes sense, you may do that as w

[2018-12-17 23:07] aghassemi opened #19935 "Validator: Allow warning mode for the "unused extension when tied to an attribute usage""
Recently a new feature was added to the validator for https://github.com/ampproject/amphtml/pull/19437 where if an extension script that is meant for an attribute usage (e.g. `amp-video-docking` extension for `dock` attribute) is included in the page without the attribute being used at all, it becomes a validation error.

This would be great if we could run this in warning mode as well.

Currently

[2018-12-17 23:11] #19623 closed

[2018-12-17 23:49] rsimha commented on #19924
@sjvs thanks for the update!

Is there a way we can enable just JS analysis for our repo, and disable Python? (There's very little Python code, and it's analysed via other checks.)

[2018-12-17 23:56] aghassemi opened #19939 "ITI: Allow `amp-list` to "shrink" when `src` is changed via `amp-bind`"
When `src` of `amp-list` is changed via `amp-bind`, the list will resize, however currently the list is only allowed to **expand** and it never **shrinks**.

See https://plain-punch.glitch.me/ to see this in action.

We intent to fix this behavior and allow `amp-list` to expand and shrink after its source is changed via `amp-bind`.

This change will initially be under an **experiment** flag that w

[2018-12-18 00:02] aghassemi commented on #19914
@cvializ Runtime could skip if `height == 0` and `width == 0`. Won't cover `visibility:hidden` or `opacity:0` but a good start.

[2018-12-18 00:09] aghassemi opened #19941 "attemptChangeSize not denied for above-the-fold iframe"
https://beta.ctvnews.ca/national/canada/2018/10/10/1_4128456.html

This page has an iframe above the fold but somehow `attemptChangeSize` is not denied and it causes content shifting.

/to @jridgewell @choumx

[2018-12-18 01:07] calebcordry opened #19944 "amp-analytics not getting laid out if far from viewport"
`<amp-analytics>` elements that are more than 3 viewports away will not get laid out. Problem exists in current canary.

Root cause seems to be analytics CSS getting overwritten by amp.css. Appears to be a regression introduced in #19680

Able to reproduce in `examples/analytics.amp.html`.

[2018-12-18 01:23] cathyxz opened #19945 "[amp-list] cleanup 'amp-list-viewport-resize' experiment"
The bug this is trying to fix is the fact that amp-list doesn't react well to browser resizing. If you resize narrower, then it gets cut off at the bottom. Wider, and there are big spaces between rows.

This is a tracking issue for cleaning up the `amp-list-viewport-resize` experiment that tries to solve this.

[2018-12-18 01:48] torch2424 commented on #19908
Triaging to @zhouyx 😄 They are more familiar with this experiment than I am.

[2018-12-18 03:30] leonalicious commented on #19683
@aghassemi Good Day there, yeah, it makes sense to me, thank you for the considerations

[2018-12-18 06:39] sushan04 commented on #19821
Following up, could you also give us a timeline on since when have you been running these deals against amp-ad tags? and your source for Active View metrics?

[2018-12-18 07:16] gswetha commented on #19911
Thanks for the prompt reply! The VPN endpoint should be recognized since the AMP_GEO(ISOCountry) value changes after manually clearing cache/close and reopen incognito window.

I tried to test the 30min max-age by open URL and record request --> after 1.5hrs --> simulate another country --> reload URL. However, the max-age doesn't have any impact as the location value still doesn't change. It only

[2018-12-18 10:14] leonalicious opened #19949 "input.focus is not working on iOS on a default `hidden` element"
Good Day there, I have created a [demo](https://aemsite.github.io/ampdemo/amp-ios-input.html) , please play around with iOS device, by clicking on the button, it will do the following 2 actions

1. show the element which wraps the `input`
2. set `focus` on the `input`

As you can see, on the first click attempt on the button, the focus is not working as expected while it will only work on the seco

[2018-12-18 13:08] robmurtagh commented on #19821
Thanks @sushan04, answers are:
* We're seeing the issue with HTML5 Rich Media creatives
* Deals are set up via Admanager as a PG AdX deal targeting AMPHTML pages
* The ads themselves are not AMPHTML, they're regular Javascript
* iOS appears to have near 0% measurable impressions according to DV360
* Android has a normal level of measurable impressions but took a ~15% drop in viewable impressions b

[2018-12-18 13:16] eagerterrier opened #19950 "AMP Story "expand your window" message is misleading for desktop users"
## What's the issue?

We (the BBC) had a complaint from a user for AMP Stories, who encountered the "expand your window" message.

![30siljd](https://user-images.githubusercontent.com/91352/50156330-73238a80-02c6-11e9-8258-0f06b12e4aa3.jpg)

They, quite rightly to my mind, tried to expand their window width-ways and the message did not disappear even when they were at the full width of their scree

[2018-12-18 13:56] dianomi-mjs opened #19951 "Template ads integration for Dianomi"
## What's the issue?

We have been serving AMP ads via Firebolt from Cloudflare and they've told us that they are closing this service down.  So we're looking to sign them ourselves.

## How do we reproduce the issue?

Here's an example of how we are integrated

On:

https://amp-kiplinger-com.cdn.ampproject.org/v/amp.kiplinger.com/slideshow/retirement/T006-S001-worst-states-for-retirement-2018.htm

[2018-12-18 13:57] pavelgubarev opened #19952 "Auto-ads are not working "Unable to fulfill ad strategy""
I have the issue with AMP pages on my website. Adsense auto-ads are not showing at all. For instance https://onethree.ru/zdorovye/vetryanka-u-detej/amp

The auto-ads code is placed properly.

In console I have the messages

[code]
Is is possible that the problem is not on my side? How can I debug the issue?

Thanks!

[2018-12-18 13:57] vinaymahag commented on #19950
@newmuis @gmajoulet , can we change the text to "Expand the height of your window to view this experience"? Thanks.

[2018-12-18 14:08] sushan04 commented on #19821
Rob, has this drop been consistent since 29th of November until now? or is it just between 28th and 29th?

[2018-12-18 14:16] robmurtagh commented on #19821
It dropped on the 29th and has stayed at the new, lower level since then

[2018-12-18 15:18] jpettitt commented on #19911
That sounds like the amp-geo file is being cached for longer than it should. Which browser version and can you post the full http headers you are seeing? (in particular the cache and encoding headers)

[2018-12-18 16:05] jasti commented on #19951
@lannka is template ads ready to be shared for Dianomi's use?

[2018-12-18 16:23] gmajoulet commented on #19950
This message appears if your screen is big enough to trigger the desktop version, but has either a height under 550px, or a width under 1024px, meaning it could be either because of the width, or the height.
Maybe we could detect if the message is displayed because of the screen's width or height, and update the message accordingly?

[2018-12-18 16:32] DamonHD commented on #18461
Any ETA for when this might appear in a production release?

Just so I can do some planning...

Rgds

Damon

[2018-12-18 17:14] taymonbeal opened #19955 "🏗️ Make build artifacts available from master"
For parties (such as my team at Google) that are somehow integrating AMP into their offerings, it's useful to have AMP runtime binaries built from the latest GitHub master available at any given time, so that if a change breaks us we can find out about it immediately, before it's released. We could build it from source, of course, but that requires setting up a bunch of infrastructure and possibly

[2018-12-18 17:44] rsimha commented on #19924
@samlanning Thanks! Everything looks good now.

[2018-12-18 17:44] #19924 closed

[2018-12-18 17:58] aghassemi commented on #19949
@leonalicious Thanks for the report. The root cause of this bus is that
1- iOS never focuses hidden elements
2- Our `hide/show` is actually asynchronous (because of batch mutations for performance) but `focus` is synchronous so focus is actually happening before show!

I will try to find a way to batch `focus` with the rest of mutations.

[2018-12-18 18:07] #19777 closed

[2018-12-18 18:22] #19944 closed

[2018-12-18 18:38] zhouyx opened #19957 "🌸 Cherry pick request for #19947 into #19847 (Pending)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #19944

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR with a fi

[2018-12-18 18:52] cramforce commented on #19957
Is this pending?

[2018-12-18 18:57] zhouyx commented on #19957
Patch is pending, PR is ready. Thought we remove pending once we start patching.

[2018-12-18 18:58] cramforce commented on #19957
Definitely approved for canary.

[2018-12-18 18:59] zhouyx commented on #19957
Thanks! to @danielrozenberg

[2018-12-18 19:01] lannka commented on #19952
Looks like an empty ad is returned. @keithwrightbos any thoughts for further debugging?

<img width="1067" alt="screen shot 2018-12-18 at 11 00 09 am" src="https://user-images.githubusercontent.com/8496897/50176410-220a9b00-02b4-11e9-9f06-c8473cccebb1.png">

[2018-12-18 19:34] lannka commented on #19743
Looks like an empty ad is returned. @keithwrightbos any thoughts for further debugging?

<img width="1067" alt="screen shot 2018-12-18 at 11 00 09 am" src="https://user-images.githubusercontent.com/8496897/50178281-eaeab880-02b8-11e9-8cc0-ae71b7ac1447.png">

[2018-12-18 20:03] jridgewell opened #19958 "Faulty boolean logic in ALP"
https://github.com/ampproject/amphtml/blob/master/src/impression.js#L98

This boolean logic makes no sense. I think these are supposed to be `||`s.

[2018-12-18 20:07] choumx commented on #19941
Hmm, I'm not sure `attemptChangeSize` is succeeding. Adding a breakpoint in the callback (below) shows that the request is denied.

https://github.com/ampproject/amphtml/blob/962e125a55faaa8da05bf143ff47cba6973940ac/src/service/resources-impl.js#L892-L899

It might *appear* to be changing size due to the iframed content changing during load.

[2018-12-18 20:08] jridgewell commented on #12554
Fixed by #17774 and #18018.

[2018-12-18 20:08] #12554 closed

[2018-12-18 20:09] choumx commented on #19941
In fact, you can see the overflow button "Click to Expand" being shown. @aghassemi did you notice differently?

[2018-12-18 20:16] danielrozenberg opened #19960 "🚄Release tracking issue for canary release 1812181822170 (Canary)"
# Release tracking issue

- [ ] Release [1812181822170](https://github.com/ampproject/amphtml/releases/tag/1812181822170) is cut as a new canary release
- [ ] Release 1812181822170 pushed to dev channel (<CL submit time>)
- [ ] Release 1812181822170 pushed to 1% (<CL submit time>)
- [ ] Release 1812181822170 pushed to production (<CL submit time>)

See the [release documentation](https://github.co

[2018-12-18 20:35] jridgewell commented on #19958
The code you've written performs ALP in all cases, except for when: `isTrustedViewer` is false, `isTrustedReferrer` is false, and we've not enabled ALP experiment:

| isTrustedViewer | isTrustedReferrer | isExperimentOn(ALP) | perform ALP |
|-----------------|-------------------|---------------------|-------------|
| false           | false             | false               | no          |
| false

[2018-12-18 20:38] zhouyx commented on #19908
From what I recall, the reason we didn't launch this feature was that there were some remaining work on differentiate error from FIE and parent doc, in order to not report error from iframe.

to @jeffjose @lannka

[2018-12-18 20:38] jridgewell commented on #19958
[code]

[2018-12-18 20:41] zhouyx commented on #19958
That's exactly what I am expecting.

[2018-12-18 20:44] westonruter commented on #18461
#18440 has been merged

[2018-12-18 20:47] zhouyx commented on #19958
Talked offline The code is expected to run in trusted viewer OR trusted referer OR when it is enabled.

I'll update the comment to make more clear.

[2018-12-18 20:47] #19958 closed

[2018-12-18 20:50] DamonHD commented on #18461
Thanks again!

How long might that take to wind through the system and be available in a new released validator?

(It's not like anyone's doing anything for the next couple of weeks, right?  %^P)

Rgds

Damon

[2018-12-18 21:11] honeybadgerdontcare commented on #18461
There's currently a production freeze due to the holidays. Expect to see it once that ends in the new year.

[2018-12-18 21:11] #18461 closed

[2018-12-18 21:13] Alvillarroel opened #19961 "input type="range" does not slide on amp-lightbox"
I think it's a bug, the point is like post title said,
I have a page on amp and I want to show a form in amp-lightbox element with inputs to filter data, two of this inputs are type="range" to filter Years and Price.
but when I want to filter by these type of inputs does not slide. (this only happens on mobile version)

I added the same inputs type outside amp-lightbox element in same page and wor

[2018-12-18 21:18] DamonHD commented on #18461
Hurrah!  \o/

[2018-12-18 21:44] jridgewell commented on #13343
Doing some checks:

| Chrome (Galaxy S5)              | [short](https://output.jsbin.com/potaquf/quiet) | [long](https://output.jsbin.com/suxifuf/quiet) | [margin+padding](https://output.jsbin.com/namahag/quiet) |
|---------------------------------|-------------------------------------------------|------------------------------------------------|----------------------------------------------------

[2018-12-18 22:39] jridgewell commented on #13343
So what is it that we want here? This entire thing confuses the hell out of me.

[2018-12-18 22:55] aghassemi commented on #19961
@Alvillarroel It's a bug, you can workaround it for now by adding `scrollable` to lightbox.

[2018-12-18 23:33] zhouyx opened #19966 "viewerIntegrationVariables singlepass issue"
I think there's an issue with how we retrieve viewer integration variables with singlepass

https://github.com/ampproject/amphtml/blob/9af9ce5d9673d5823dcf66ba8cbd8b9b50fe6487/src/service/url-replacements-impl.js#L225-L230

https://github.com/ampproject/amphtml/blob/9af9ce5d9673d5823dcf66ba8cbd8b9b50fe6487/extensions/amp-viewer-integration/0.1/variable-service.js#L39-L47

[2018-12-18 23:56] zhouyx opened #19968 "amp-geo issue in singlepass"
Some are from inline config, but we are accessing them by Data.key. I believe this should be extern or we need to use JsonObject

https://github.com/ampproject/amphtml/blob/9af9ce5d9673d5823dcf66ba8cbd8b9b50fe6487/extensions/amp-geo/0.1/amp-geo.js#L94-L103

[2018-12-19 00:17] aghassemi commented on #19949
I am trying to find a workaround for this, but not luck so far. Not only iOS does not focus if input is hidden, trying to focus after input is displayed only works if it is directly tied to the same stack that displayed the item.

[2018-12-19 00:18] aghassemi commented on #19949
We managed to make this happen with amp-lightbox but I am not sure if we can with actions or amp-bind as expression parsing and mutations are scheduled with a timer

[2018-12-19 01:07] torch2424 opened #19969 "AMP-CONSENT v2 UI Followup Design Changes"
relates to #18828
relates to #19841

cc @zhouyx

After (UI/UX) design review with @spacedino , we came to the following remaning UI / UX things we should address before completing the AMP Consent v2 UI/UX:

* [x] Implement Nicer Example in `diy-consent.html`
* [x] Fix the Flash of the "teal" background in `diy-consent.html`
* [x] Compensate for the iOS Safari Nav Bar.
  * If easy fix, have the con

[2018-12-19 01:10] torch2424 opened #19970 "[Optional] AMP Consent UI v2: Allow iframe to customize initial height."
relates to #18828

[2018-12-19 01:10] torch2424 commented on #18828
Finished as of #19841

Continuing in #19969

Opened an issue for the optional item at: #19970

[2018-12-19 01:10] #18828 closed

[2018-12-19 02:11] torch2424 commented on #19955
Triaging to @erwinmombay or @rsimha 😄

[2018-12-19 03:31] aghassemi commented on #19949
Changing doesn't fully solve this in iOS, unlike other things that require user-interaction like playing unmuted video which honors the call chain, focus seems to be a lot more restrict and doesn't seem to follow the same logic. For example, playing unmuted video works even if the initial tap is tied to bunch of promises or even postMessage, focus does not.

[2018-12-19 03:35] leonalicious commented on #19949
okay, actually i have tried it with `amp-bind` + `<textarea>` as [`<input>` is not supporting `[autofocus]`](https://www.ampproject.org/docs/reference/components/amp-bind#element-specific-attributes), but seems like `textarea` will not be `focus` with amp-bind on iOS either

[2018-12-19 03:36] rsimha commented on #19955
@danielrozenberg was talking about doing this, and I believe the reason why this might be hard to do is GitHub's rate limits. Not sure if that's indeed a problem if we associate the artifacts with a release.

[2018-12-19 03:39] aghassemi commented on #19949
I am fairly confident we can make show() and autofocus work together (same way we did for lightbox). Would that work for you or do you have to use bind for toggling visibility?

[2018-12-19 03:49] leonalicious commented on #19949
yes, it will work for us, we are not using bind for toggling the visibility, we will only `input-wrap.show, inputFocus.focus`, anyway, moving forward will `input` support `[autofocus]` too ?

[2018-12-19 03:54] aghassemi commented on #19949
`[autofocus]` should be doable but let me fix `show` first though as there isn't a need for `[autofocus]` yet.

[2018-12-19 03:55] leonalicious commented on #19949
yeap, agreed with you. appreciate it, thank you

[2018-12-19 04:44] taymonbeal commented on #19955
I'm confused about how this could possibly result in a rate-limit problem. According to the Insights tab, there are on the order of 100 commits to master per week, less than one per hour.

[2018-12-19 05:35] hereisethanhunt commented on #2978
The link https://ampbyexample.com/advanced/how_to_create_interactive_amp_pages/  is unavailable.
Can i get the working link ?

[2018-12-19 08:54] dortzur commented on #19916
Hey @jasti @jpettitt
Thank you very much for you swift response.

Spot.IM's community widget involves a commenting & content recommendation system.
It can also be optionally monetised by our publishers.

Out initial inclination was that the widget doesn't belong in the "ads" section since that's not its main purpose. What do you guys think?

[2018-12-19 09:43] leonalicious opened #19974 "FR - Support `Alphabetical Indexed List` on amp-list"
## Describe the new feature or change to an existing feature you'd like to see

User can leverage on the `indexed list` and pinpoint to the particular content more quicker

## Describe alternatives you've considered

None:

## Additional context

![ezgif-2-87a5d4293eba](https://user-images.githubusercontent.com/4065175/50212136-413d2180-03b5-11e9-89c6-48a168735060.gif)

[2018-12-19 11:02] leonalicious opened #19976 "FR: Support CAPTCHA library"
## Describe the new feature or change to an existing feature you'd like to see

Hi @kristoferbaxter , in order to deal with Crawlers as we stated in #19580 , we would need to include some js library provided by the security team. Is there a way that we can import third js library into AMP page please ?

## Describe alternatives you've considered

None

## Additional context

![https://user-images.

[2018-12-19 12:03] sandeepie commented on #19444
Can we put <amp-youtube> within <amp-story-grid-layer>

[2018-12-19 12:46] Alvillarroel commented on #19961
@aghassemi thanks it works! 😃

[2018-12-19 13:34] eagerterrier opened #19977 "amp-mustache: "alert(1)" popup on Opera Mini"
## What's the issue?

When opening any AMP page in opera mini, you are confronted on page load with an alert - `javascript alert: 1`

![img_1439](https://user-images.githubusercontent.com/91352/50222998-e0502200-0391-11e9-8397-84872dffc078.PNG)
![img_1438](https://user-images.githubusercontent.com/91352/50222999-e0502200-0391-11e9-8e4a-16417db9e857.PNG)

## How do we reproduce the issue?

Go to an

[2018-12-19 14:06] newmuis commented on #19444
Hi @sandeepie, `<amp-youtube>` is not currently supported within `<amp-story>`.  You can track this support by following #15847.

[2018-12-19 14:11] newmuis commented on #13673
@alanorozco don't we still need this to track the work being done in #19510, as well as the pending stories change to use `getMediaReference()`?

[2018-12-19 14:12] newmuis commented on #15847
@spinmar We are planning on looking at this over the course of the next three months or so.  It is dependent on both the ability to expand components (#19213), as well as the media refactor we're doing (#13673), plus the other custom work tracked by this issue, to handle video playback from video interface players like `amp-youtube`.

The best way to keep up-to-date is by subscribing to this GitHu

[2018-12-19 15:44] nurse opened #19978 "CLIENT_ID(scope) returns strings not prefixed with amp-"
## What's the issue?

The description about `CLIENT_ID` in AMP HTML URL Variable Substitutions says "These cookies will always have the prefix "amp-" followed by a random base64 encoded string."
https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#client-id

But actually as its `example value` insists, it may return non prefixed strings by Google's AMP Viewer and it seem

[2018-12-19 16:19] rsimha commented on #19955
I may have used the wrong words when I said "rate limits". IIRC, the old discussion was around storing binary files in a separate repository for artifacts under `ampproject`.

Based on my reading of the [Travis](https://docs.travis-ci.com/user/deployment/releases/) and [GitHub](https://help.github.com/articles/about-releases/) documentation around releases, making binaries available certainly look

[2018-12-19 16:38] choumx commented on #19941
Weird, I can repro now. Thanks for the GIF.

[2018-12-19 16:40] jpettitt commented on #19968
I'm not going to get to this until sometime in January @erwinmombay and @zhouyx if you can get to it sooner please do so.

[2018-12-19 17:07] estherkim opened #19980 "Errors when running integration tests on unstable browsers are failing builds"
Failures when testing on Chrome Beta should not fail the build, but only print warnings.

Here are some builds that fail due to errors on Chrome Beta -
https://travis-ci.org/ampproject/amphtml/jobs/469689459
https://travis-ci.org/ampproject/amphtml/jobs/469680513

cc/ @rsimha @danielrozenberg

[2018-12-19 17:13] rsimha commented on #19980
Agree. The logic that fails tests when Karma detects zero tests is here:

https://github.com/ampproject/amphtml/blob/73e9f99c900c05bc2402e88da6df2c0bbe2a44f0/build-system/tasks/runtime-test.js#L680-L688

This could be made browser aware.

[2018-12-19 17:20] #19499 closed

[2018-12-19 17:50] aghassemi commented on #19976
@leonalicious depends, would the script be able to run and do its thing inside a web worker? we are not planning to allow 3P JS run in the same context as the AMP page, but rather sandboxed in a worker and communicating with the page through [WorkerDom](https://github.com/ampproject/worker-dom), which is exposed as `amp-script`.

/to @choumx

[2018-12-19 18:38] lannka commented on #14010
This becomes a blocker for #19711 now, since in tests we are always in a nested iframe mode.

[2018-12-19 18:47] Gregable commented on #19688
FYI, just an update. The issue is that the code for determining if a link is document-relative (ie: `<a href=#top>`) vs a navigation was using the base URL of the document to compare to. In most cases base URL == document URL or if not, base URL != the link URL. Either way, it would work fine.

In your case the base URL was the same as the link URL, so this bug triggered and rewrote the link to be

[2018-12-19 18:58] choumx opened #19981 "amp-mustache-0.1 broken in single pass"
Discovered this when rewriting amp-bind integration tests.

/cc @erwinmombay

[2018-12-19 18:59] belobrad opened #19982 "Ability to Set Calendar Picker's State Through Binding"
## Describe the new feature or change to an existing feature you'd like to see

Ability to set the calendar picker's initial state through binding. It would be great to be able to set the `amp-date-picker` state by using `amp-bind` and a parameter, specifically the month displayed after show action.

We are using this in a use case where two separate calendars are used to set the date range which

[2018-12-19 19:01] cnabar opened #19983 "amp-carousel - feature to show preview of next image in slider"
## What's the issue?

Need a way for amp-carousel to show preview of next image in the slider - This helps user know there is another image in slider (in addition to currently supported functionality such as active slide indicator below the carousel)

## How do we reproduce the issue?

See
![screen shot 2018-12-19 at 10 45 28 am](https://user-images.githubusercontent.com/17832995/50241704-1b942600

[2018-12-19 19:02] mrjoro commented on #19773
@jshau said:

Will mentioned that it would be good to run this through a review!

Issue with design explained:
https://github.com/ampproject/amphtml/issues/18012
PR:
https://github.com/ampproject/amphtml/pull/18647

There will be a separate PR to integrate the parser into the amp-bind premutate operation.
Thanks!

-Jasper

[2018-12-19 19:03] mrjoro commented on #19292
Cancelling since there are no topics.

[2018-12-19 19:03] #19292 closed

[2018-12-19 19:31] aghassemi commented on #19983
Thanks for the feature request @cnabar . We are currently working on version 2 of amp-carousel and this is one of the features we are considering.
/to @nainar
/cc @andrewwatterson @sparhami

[2018-12-19 19:35] cnabar commented on #19983
Thanks! Appreciate the quick reply

[2018-12-19 19:49] nainar commented on #19983
Hi @cnabar are you looking for merely a 'peek' at the next slide or something more elaborate like a smaller thumbnail etc?

I see that in the screenshot provided we are just seeing a small percentage of the next slide, but just wanted to see if you had more elaborate needs as we consider this feature for carousel V2.

[2018-12-19 19:58] nickmoline opened #19988 "AMP Cache Pages are staying stale for a long time"
## What's the issue?

Google's AMP Cache (cdn.ampproject.org) is not refreshing cache reliably on our pages on https://www.justia.com/lawyers.  Pages are cached well beyond (in some cases for weeks) even with multiple attempts to use the update-cache mechanism and multiple requests to the page.

We noticed this issue yesterday and when doing investigation (including [discussing on slack](https://a

[2018-12-19 20:14] cnabar commented on #19983
This request was only for a peek at the next slide

[2018-12-19 20:15] sebastianbenz opened #19989 "[amp-iframe] Allow iframe resizing without `allow-same-origin`"
Iframe resizing currently requires the `allow-same-origin` flag to be present. `allow-same-origin` is technically not needed for the resizing API to work and there is no risk of potentially breaking iframes in AMP caches.

Would be great if we could drop this restriction.

//cc @cramforce @aghassemi

Related feature request for `srcdoc`: https://github.com/ampproject/amphtml/issues/16098

[2018-12-19 20:27] erwinmombay opened #19990 "`clicking close icon should attempt to close dialog` test fails"
this test fails https://github.com/ampproject/amphtml/blob/master/extensions/amp-web-push/0.1/test/test-web-push-permission-dialog.js#L226 with `Missing required parameter.` caused by this line https://github.com/ampproject/amphtml/blob/master/extensions/amp-web-push/0.1/amp-web-push-permission-dialog.js#L138

@dvoytenko could you triage this?

[2018-12-19 21:18] #19710 closed

[2018-12-19 22:00] jpettitt commented on #19977
I suspect this in amp-bind-0.1.max.js

[code]

[2018-12-19 22:03] lannka commented on #17623
If it's indeed a config problem, we might need better error messages? "No anchor element found" sounds like a system error. + @tlong2  to provide more insights from AdSense side

[2018-12-19 22:07] lannka commented on #19952
I saw ads loaded on my end. Was it a config error you've already fixed? (similar to #17623)

![Uploading Screen Shot 2018-12-19 at 2.05.51 PM.png…]()

[2018-12-19 22:21] torch2424 opened #19997 "Allow passing a flag to disable origin checking on the local dev server"
SSH Reverse proxying (think ngrok) is often used to expose a ports on a local machine, through a port on a VPS.

However, the dev server does some origin checking, and we have an allowed list to only allow certain origins for development. See the following:

https://github.com/torch2424/amphtml/blob/ecefc5f81ff9c1dd1555171a7d5000bdca6bcd1e/build-system/app.js#L193
https://github.com/torch2424/amph

[2018-12-19 23:06] Enriqe opened #19999 "[amp-story] Add fallback tooltip string for expandable components"
For expandable components inside amp-story, we need to add a fallback localized string, in case the publisher doesn't specify any.

[2018-12-19 23:08] vinaymahag commented on #19950
@gmajoulet , that makes sense. This means we'd have 3 different messages:

1. Expand the height of your window to view this experience.
2. Expand the width of your window to view this experience.
3. Expand both the height and width of your window to view this experience.

[2018-12-19 23:29] Enriqe opened #20001 "[amp-story] Refactor amp-story-tooltip to better accomodate embedded components"
Initially `amp-story-tooltip` made sense for anchor links, but now that we will be starting to support embedded components (e.g. `amp-twitter`) and are adding code to `amp-story-tooltip`, it makes sense to rename it and do some refactoring to allow more reusable code between the components.

We can make each component specify default text, icons, and selectors. e.g.

[code]

* `componentIcon` is t

[2018-12-19 23:34] lannka opened #20002 "Fix amp-context API for single pass."

[2018-12-19 23:38] cramforce commented on #19989
For the special case where the origin is unknowable/opaque because of iframe sandbox we should accept those messages. I agree. We should continue to drop them when the messages are from unexpected origins.

[2018-12-19 23:54] aghassemi commented on #19977
@jpettitt nice find. I can confirm ampbyexample page for `amp-bind` throws the `alert`

[2018-12-20 00:09] zhouyx commented on #20002
Since we need to treat everything in amp-context API as externs, I don't think it's a good idea to manually add everything to amp.extern.js
@erwinmombay Do you have any idea on supporting ampcontext API in singlepass.

[2018-12-20 00:14] zhouyx opened #20003 "Use whitelist to check configAttributes value in story auto ads"
Follow up from #19994

We should be more strict on appending attribute to amp-ad, so that story-auto-ads doesn't create an invalid amp-ad element. The whitelist should sync with what we have for validator https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/validator-amp-ad.protoascii#L54
Plus all attributes start with `data-`.

Backward compatible wise, it should be fine since we o

[2018-12-20 00:18] #19736 closed

[2018-12-20 01:45] torch2424 commented on #19978
Triaging to @jridgewell , Feel free to re-assign 😄

[2018-12-20 01:52] leonalicious commented on #19976
thank you for the prompt solution, sounds legit, please spare me some time to double confirm this with our security team and I will get back to you. But regard the `amp-script`, if i remember it correctly it should be rolled out at the Q1 of 2019 right ?

[2018-12-20 02:41] cathyxz commented on #19974
A few open questions / things to think about:
1. The content of the list should be fetched *dynamically* (not static, or at least be able to work with both), since we'd like to make it work for not just countries but also cities, names, addresses.
2. *i18n* - does this work for character-based languages or those that aren't ASCII? Do we need a sortBy parameter that matches to a particular field?
3

[2018-12-20 04:18] benjamingram commented on #19883
AMP containers in Google Tag Manager (GTM) do not support the debug window you are referring to. Preview mode will still let you preview your changes prior to publishing.

For a bit more context, Google Tag Manager AMP containers are built using the functionality provided by amp-analytics. This currently relies on providing configuration, but does not enable injecting script or an iframe into the

[2018-12-20 05:18] leonalicious commented on #13891
hey @AndrewKGuan , maybe you can try out something like [this](https://aemsite.github.io/ampdemo/amp-mustache-get-index.html)

I agree that `amp-mustache` should be `logic less` and we should keep it simple as it is.

Interesting to find out that the size of `handlebar` is 10x larger than `mustache`, but anyway, I think it is reasonable to provide `amp-handlebar` and leave the option for developer

[2018-12-20 05:31] fr1991 opened #20005 "Chrome's Audits tool complains amp-imgs have no alt tag although they do"
## What's the issue?

Chrome's "Audits"/lighthouse tool says amp images on my site have no "alt" tag, even though they do. This only happens when the amp-img layout is set to "intrinsic".

![image](https://user-images.githubusercontent.com/45749799/50266075-28059680-03f0-11e9-9376-c96a34fa5c43.png)

![image](https://user-images.githubusercontent.com/45749799/50265788-25ef0800-03ef-11e9-89aa-20c198

[2018-12-20 07:05] aghassemi commented on #20005
Thanks for the report. We use an img to do resizing for layout intrinsic and looks like we are not setting the alt properly (should be set to empty ). If you are interested in contributing the fix, getting started with contributing to AMP is easy: https://bit.ly/helpamp if not, no worries, we will fix it soon.

[2018-12-20 08:03] pavelgubarev commented on #19952
No. I have added 2 regular codes to avoid losing money. Auto-ads code still produces an error.

[2018-12-20 10:47] pavelgubarev commented on #19952
Could anybody be so kind to explain what config everybody mentions? I don't see any configs for auto-ads. It's just 2 pieces of code on my side and "ON" button in Adsense panel.
Thank you.

[2018-12-20 11:58] sandeepie commented on #19444
@newmuis I just want to know how i use youtube in 'amp-story' tag

[2018-12-20 15:06] oliverfernandez commented on #19919
@calebcordry It was exactly that, I think I got the documentation wrong. Everything works fine

[2018-12-20 15:51] jpettitt opened #20008 "amp-subscriptions broken in shadow doc in latest canary"
There error thrown is

[code]

Which appears to be triggered by [url-builder.js#L30](https://github.com/ampproject/amphtml/blame/a7fdb61116f61c901167c7c3b0c91e67f74cbf22/extensions/amp-subscriptions/0.1/url-builder.js#L30)

What seems to be happening is `getAmpdoc` fails to find the ampdoc service from the `documentElement` we just got from `ampdoc.win.document`.  The repro case has a multi nested

[2018-12-20 15:52] jpettitt commented on #20008
cc @prateekbh @ed-bird

[2018-12-20 16:23] jpettitt commented on #19977
@aghassemi all I did was grep for `alert(1)` in the dist files  :-)

[2018-12-20 16:36] aghassemi commented on #19977
DOMpurify is a 3P, maybe we need to upgrade or patch it. @choumx we patch web-animations 3P in build files with regex hacks, same may work here too

[2018-12-20 16:52] #19203 closed

[2018-12-20 17:15] cvializ commented on #19982
Thanks for the feature request! We'll prioritize this for work soon and update this issue when any changes are made.

[2018-12-20 18:08] #19423 closed

[2018-12-20 18:25] zhouyx opened #20010 "amp-consent behavior on receiving response in incorrect format"
Follow up issue to https://github.com/ampproject/amphtml/pull/19985#discussion_r243130760 Thanks @torch2424 for the summary.

cc @lannka @jasti

This issue is to discuss: When an incoming pose message from iframe is received, what should be the expected behavior.

#### Real Example ####
Stored consent information {state: accept, value: 'test'}, Message from cmp iframe {state: reject}. In this case

[2018-12-20 18:41] nickmoline commented on #19988
Hello,

Just an update here.  At approximately 10:30 PST (06:30 UTC) last night, we discovered that several of the pages (including the ones here) suddenly updated.  Upon further investigation it seems that the behavior has changed and we are now getting the expected behavior of AMP.  We visit a page, and check a couple minutes later and see that the timestamp has updated to sometime between the t

[2018-12-20 18:49] jgluk commented on #19988
I'm glad to see the issue resolved itself. I am also internally tracking this for follow up investigation.
However, maybe we can close this specific issue in the meantime? (Since we have the internal tracking)

[2018-12-20 19:01] #19789 closed

[2018-12-20 19:09] erwinmombay commented on #20002
@zhouyx would creating an extern for ampcontext suffice?

[2018-12-20 19:09] erwinmombay commented on #20002
also @lannka i guess this confirms that ampcontext-v0.js is used?

[2018-12-20 19:13] nickmoline commented on #19988
Hi @jgluk

As the issue is not actively ongoing at this moment, I think that it is fine to close the github issue and rely on your internal tracking, however we would greatly appreciate it if you could let us know if your follow up investigation finds anything, especially if it finds something that we need to be proactively aware of to make sure this doesn't happen again in the future

[2018-12-20 19:13] rsimha commented on #19890
@newmuis @Enriqe Still seeing flakiness with other tests, like `amp-story: sidebar`

https://percy.io/ampproject/amphtml/builds/1276401

/cc @danielrozenberg

[2018-12-20 19:15] zhouyx commented on #20002
@erwinmombay the AmpContext class? Or the ampcontext.js file.

And there's also `ampcontext-integration.js` Should we need to create another extern for that?

[2018-12-20 19:17] lannka commented on #20002
@zhouyx is right. it's also used by `f.js` in ads 3p frame

[2018-12-20 19:19] erwinmombay commented on #20002
@zhouyx it all depends on the compilation unit. an extern for each compilation unit makes sense to me

[2018-12-20 19:31] cvializ opened #20014 "Linter should show global `event` reference as an error"
## Describe the new feature or change to an existing feature you'd like to see

Currently the linter / type checker does not complain if a reference to `window.event` is used in a function. This is a common footgun in JavaScript and should be avoided in AMP's code.

## Describe alternatives you've considered

Code review is one way to avoid adding references to `window.event` in code, but it can m

[2018-12-20 19:34] erwinmombay commented on #20014
would doing https://eslint.org/docs/rules/no-restricted-globals suffice?

[2018-12-20 19:40] cvializ commented on #20014
Oh cool! That looks like exactly what's needed for this

[2018-12-20 19:51] newmuis commented on #19890
Yep, those tests are new.

Instead of disabling every perfectly good test that is broken by this feature, I will try to disable this feature in all of those tests.

[2018-12-20 19:55] danielrozenberg commented on #19890
Any ideas why this keeps shifting up and down between tests?

[2018-12-20 20:01] newmuis commented on #19890
No 😦   That's the real fix, but we haven't been able to track that down or reproduce it in a real browser.

[2018-12-20 20:07] jgluk commented on #19988
Yes, we will let you know if there is an action you can take on your side as a result of our investigation.

[2018-12-20 20:08] choumx commented on #19977
I can file this upstream with DOMPurify. Thanks for the investigation.

[2018-12-20 20:12] newmuis commented on #19890
It should be noted that there was a similar issue that I (supposedly) fixed in #17378.

If you look at [the old diff](https://percy.io/ampproject/amphtml/builds/894594/view/52499859/1440?browser=firefox&mode=diff) vs. [the new diff](https://percy.io/ampproject/amphtml/builds/1260087/view/81168191/1440?mode=diff&browser=firefox&snapshot=81168191), it looks like the old one shows the entire button m

[2018-12-20 20:17] newmuis commented on #19890
Nevermind -- we tried that on some of the other tests, and they were still flaky 😢

[2018-12-20 20:47] belobrad opened #20020 "Separate Width and Height day-size Parameters for Calendar Picker"
## Describe the new feature or change to an existing feature you'd like to see

It would be great to be able to specify calendar cell's `day-size` width and height parameters for the `amp-date-picker` separately thus allowing for additional information to be displayed properly underneath the day number text. The current setup results always in a square cell--having a rectangular shape would provid

[2018-12-20 20:56] newmuis opened #20021 "Create a centralized CSS file for baseline functionality in story visual diff tests"
All stories visual diff tests need to disable certain features in order to guarantee determinism.  We currently manually copy this CSS to each test created, which will cause the tests to break if new tests are introduced that do not have this CSS.

[2018-12-20 21:00] belobrad opened #20023 "Add ignore-readonly Parameter For The amp-form Component"
## Describe the new feature or change to an existing feature you'd like to see

It seems like the only reliable way to prevent touch devices from displaying a soft keyboard when an input field receives focus (i.e. text filed with a datepicker) is to add `readonly` parameter to such field--this, however, prevents the form from including the given field in validation and in tab index. Would it be fe

[2018-12-20 21:07] #20008 closed

[2018-12-20 21:52] #19160 closed

[2018-12-20 21:55] calebcordry opened #20026 "🐛meta tag "amp-cta-landing-page-type" is not valid"
We would like pubs to use this tag, but we haven't made it valid a4a :(

<meta name="amp-cta-landing-page-type" content="NONAMP">

[2018-12-20 22:06] grandloser commented on #19364
hey I'm wondering if there is any update on this issue

[2018-12-20 22:09] erwinmombay opened #20027 "changelog should use git information to look for base instead of github API"
using the github API to find the "last good tag" can sometimes be incorrect. use git directly instead to find the last tag.

even if a previous "tag" is an unofficial tag, this is still more correct than it printing a version that was never actually in the current tree

[2018-12-20 22:19] jasti commented on #20010
@zhouyx  As the AMP runtime, I don't think we are in a position to determine if a value is indeed an error.
My recommendation is Option1: Print console error/ warning and Option1: Respect incoming message and override existing state.

Let me know if I'm not thinking of any edge cases.

[2018-12-20 22:50] #19890 closed

[2018-12-20 22:50] #19471 closed

[2018-12-20 23:09] calebcordry commented on #19919
Glad it works! Thanks for the update!

[2018-12-20 23:09] #19919 closed

[2018-12-20 23:10] choumx commented on #13343
I'm not aware of a good way to do that either.

We could use `scrollHeight` when the document doesn't fit in viewport. But after some thought, it's probably better to be "consistently wrong" than "sometimes wrong depending on browser size".

I think AMP developers should be able to restructure overflowing child elements such that they're recognized by our "content height" calculation. Is this poss

[2018-12-20 23:11] calebcordry commented on #19734
closed by #19900

[2018-12-20 23:11] #19734 closed

[2018-12-20 23:13] jridgewell commented on #19978
I think this goes to @lannka, I've got nothing to do with `CLIENT_ID`.

[2018-12-20 23:22] zhouyx commented on #20010
@jasti I completely agree. Option 1 is the one that I think it's the best as well. \

@lannka I remember that you don't like this option because it could break their use case if an invalid message is received. Could you let us know what is your concern?

[2018-12-20 23:42] calebcordry commented on #18288
Closed by #18293

[2018-12-20 23:42] #18288 closed

[2018-12-20 23:50] choumx commented on #13891
We're still planning to add this eventually, just haven't gotten around to it yet.

[2018-12-21 00:17] fr1991 commented on #20005
Thanks for the quick reply. I'll try & dabble with it if I free up, maybe I can get it done before you. We'll see...

[2018-12-21 00:33] jridgewell commented on #19941
Huh, funnily enough, this is related to https://github.com/ampproject/amphtml/issues/13343. It's falling into https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L1368-L1371, which uses `contentHeight` to determine how close the element is to the bottom. But, `contentHeight` returns `0`! That's obviously a bug.

[2018-12-21 00:36] jridgewell commented on #19941
And it's because their `.article-body-wrapper` (a direct child of `<body>`) has `float: left`.

[2018-12-21 00:50] aghassemi opened #20034 "amp-orientation-observer: 3D background image parallax issue"
See https://amp-demos.glitch.me/

Two issues:
1- there is a 'jump' when phone goes goes passed the 90, 1800 degrees
2- there is a `jump` at load time. This is because transformation is not relative. There is no way for author to know what the first keyframe would be to apply it in CSS (unlike amp-position-observer) is there is always a change. We may need to provide `relative` events to `amp-posit

[2018-12-21 00:55] aghassemi commented on #20023
Hi @belobrad, if the input is not "typeable", there is no need to use an actual `input`, you can open the date picker with a button or link and submit its value using a `hidden input` (and optionally use `amp-bind` to show the selected date in a `div`).

@cvializ Do we have a sample for such case.

[2018-12-21 00:57] aghassemi commented on #20020
/to @cvializ

[2018-12-21 00:57] zhouyx commented on #20002
Talked to @erwinmombay offline. We are not using singlepass to compile ampcontext.js bundle. Thus the right fix to this would be to pass context object from AMP to ampcontext in JsonObject.

[2018-12-21 01:05] aghassemi commented on #19364
@grandloser This is currently not prioritized, you can workaround it by also binding `[srcset]` to the same value as `[src]` per the documentation here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-bind/amp-bind.md#element-specific-attributes

[2018-12-21 01:19] aghassemi commented on #19974
a basic static version (possibly close to the UI shown herE)  may be currently doable in AMP by using `input range`, `change event`, `scrollTo() action` and `amp-bind` for showing the overly tooltip. Might be worth a try @leonalicious

We should still have a component for this regardless.

[2018-12-21 03:57] zhangsu commented on #13343
Sounds good. We can document the overflow caveat in a best practices doc somewhere for developers.

[2018-12-21 07:41] sebastianbenz commented on #20034
Two more things:

1. There's no way to debug amp-orientation-observer, would be great to have a way to log the events.
2. We should add an attribute that'll switch the orientations when the phone switches to landscape mode. You can reproduce with the sample above, the directions are off when the phone is rotated.

P.S. This is the stable URL for the demo: https://amp-demos.glitch.me/parallax.html.

[2018-12-21 08:11] tryazi commented on #19952
I have this problem. I'm wasting my time on this problem

[2018-12-21 08:40] tryazi commented on #19952
![adss](https://user-images.githubusercontent.com/45657726/50333067-2386ce00-0515-11e9-8629-c9c54645c402.png)

an ad looks. But I'm not sure it's automatic

[2018-12-21 08:49] pavelgubarev commented on #19952
Thanks, tryazi. You are right. There is an ad. I just never noticed it, because I expected auto-ads to be put after every 2-3 paragraphs of text like it does on my other sites.

So I guess it is an issue of Adsense algorithms and does not belong here...

[2018-12-21 08:49] #19952 closed

[2018-12-21 12:55] thanhsr commented on #18709
After 1 hour of research I modified it by replacing width='100'.
It seems like 100=100%
`<div class='comments'>
<amp-facebook-comments data-numposts='10' expr:data-href='data:post.canonicalUrl' height='200' layout='responsive' width='100'>
</amp-facebook-comments></div>`

[2018-12-21 16:42] antispog opened #20043 "amp nextpage amp controls not initialized in pages loaded"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2018-12-21 16:43] jpettitt opened #20044 "Add integration test for shadow dom"
We've had multiple issues with DOM inconsistencies when AMP code is imported through a shadow dom based mechanism (in Polymer <amp-viewer>), see list below.  We need some shadow dom integration tests.

Here some of the issues:
#19434 amp-experiment
#19694 amp-subscriptions-google
#12912 amp-ads
#12388 amp-img
#12151 amp-list
#10799 amp-access

[2018-12-21 16:51] antispog commented on #20043
Sorry, I hit enter by accident and submitted the form

What's the issue?
using amp-next page, my ampcarousel control does not initialize on any of the auto loaded pages. The carousel contents are stacked with i-amphtml-sizer images padding them and the carousel does not initilize.

How do we reproduce the issue?
Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that e

[2018-12-21 17:02] newmuis opened #20045 "Scroll clicked bookend element into view when resuming from history"
When the user clicks an element in the bookend, we can store that href in the history state as e.g. `clickedBookendArticleUrl`.  Then, when we load the bookend from history state, we can do:

[code]

@Enriqe @gmajoulet WDYT?

[2018-12-21 17:15] jpettitt opened #20046 "Add dev.error() when amp-geo is launched unpatched."
`amp-geo` is a special case extension.  It's `.js` is "hot patched" as it's served with the ISO country code of the requesting user.   This introduces fragility into the serving infrastructure in two cases:

1. Some failure of the serving infrastructure causes `amp-geo` to not be patched with the country.
2. `amp-geo` is re-homed onto a server that does not patch in the country code.

The proposed

[2018-12-21 18:52] zhouyx opened #20049 "Element get measured before build"
Right now element can get measured before its buildCallback, and use it's previously measured rect after its build complete.

This could lead to issues, where the element position change or display value change at buildCallback or via its css file. We are currently seeing amp-analytics layoutRect being measured too early before its css load.

Related code
https://github.com/ampproject/amphtml/blob

[2018-12-21 18:54] jridgewell commented on #20049
I think the core issue lies with the two if statements:

- https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L1531-L1533
- https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L1553-L1557

If we're not built, we shouldn't be measuring the element.

[2018-12-21 19:50] #16825 closed

[2018-12-21 20:15] coreybyrnes commented on #15216
@lexandera Not sure if this helps, but I figured out how to horizontally and vertically center an image that is larger than the browser in an amp-ad running inside the flying-carpet component. We also wanted to be able to run an ad in this component that did not have any whitespace around it and had a full-bleed image. Again, not sure if this exactly relates to your request but thought I'd mention

[2018-12-21 21:43] lannka commented on #19960
Question: are we going to push this canary to prod after release freeze? Or do we just abandon this and cut a new one?

This canary has an issue: #19963

[2018-12-21 21:49] lannka opened #20057 "Flakes in test-amp-bind.js and test-amp-analytics.js on SL"
saw this a couple of times in travis SL:

[code]

e.g.:
- https://travis-ci.org/ampproject/amphtml/jobs/471150119
- https://travis-ci.org/ampproject/amphtml/jobs/471155956

[2018-12-21 23:53] #20002 closed

[2018-12-22 00:23] eveyiyuan opened #20064 "AMP Cache triggers reCaptcha Challenge Page"
## What's the issue?
When the AMP cache tries to fetch our AMP page, it is receiving the reCaptcha challenge page instead of our AMP page.
@torch2424 Suggested that this might be a cache issue

## How do we reproduce the issue?

1. Visit https://www.google.com/amp/s/www.redfin.com/UT/Park-City/6434-Silver-Lake-Dr-84060/home/71407701/amp (Or search "6434 Silver Lake Dr Redfin")

2. An error page wi

[2018-12-22 00:42] torch2424 commented on #20064
cc @Gregable @honeybadgerdontcare Just wanted to check in and was wondering if this is a cache issue?

Though after playing with this myself, the way the Cache works is that we go ahead and crawl AMP pages to be served. Thus, if the page gets crawled by a bot, then you are probably serving the recaptcha to the bot crawling the page. [This explains it much better than I do](https://www.ampproject.o

[2018-12-22 00:53] honeybadgerdontcare commented on #20064
It also looks like the amp page is being redirected to the non-amp page.

https://www.redfin.com/UT/Park-City/6434-Silver-Lake-Dr-84060/home/71407701/amp
redirects to
https://www.redfin.com/UT/Park-City/6434-Silver-Lake-Dr-84060/home/71407701

[2018-12-22 00:58] cathyxz commented on #20057
I've observed a strange issue with the `<amp-bind>` tests where almost all the timeouts fail because the `this.ww_` promise fails to return in time in this line:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-bind/0.1/bind-impl.js#L838
Whenever it does this, for whatever reason we're trying load a `browserify.js` file which seems to be the compiled AMP runtime twice. Haven't quit

[2018-12-22 01:12] lannka commented on #20057
Thanks @cathyxz Meantime, I'm adding retries on Saucelabs to work around.

[2018-12-22 01:31] acsant commented on #20064
@honeybadgerdontcare We do that when we don't want the users to see an amp page temporarily and see the canonical instead but the google search still has the AMP page indexed

[2018-12-22 01:32] acsant commented on #20064
@torch2424 So if I understand it correctly, are you saying that the googlebot that crawled the side saw a recaptcha challenge page and that's why the AMP cache is serving that?

[2018-12-22 01:36] torch2424 commented on #20064
@acsant The comment you made to @honeybadgerdontcare we discussed briefly online that the cache would consider a redirection to a non-AMP page, a non-AMP Page. Though, they understand this better than I do, so I may be incorrect.

And the comment to me, yes, that is what it seems like it happening here 😄 Your webserver for serving the AMP page, may realize it's a bot/crawler, and is serving a reca

[2018-12-22 01:38] acsant commented on #20064
@torch2424 I ran the URL inspection tool from our search console on the canonical's last indexed version and the result came out saying that it has valid AMP html. If the crawler is seeing a recaptcha for the AMP html, then the inspection tools would be reporting it as an invalid AMP html if I understand it correctly?

[2018-12-22 01:46] torch2424 commented on #20064
@acsant Huh that is quite strange, I'll let @honeybadgerdontcare answer that one.

But after investigating, your page does appear to be valid AMP, but it seems like it is just an amp page, that opens an iframe, that redirects to a non-AMP page. Is that your intended behavior? Or is it because I am on a desktop device?

[2018-12-22 01:47] torch2424 commented on #20064
Or better yet, could explain to me your user journey for accessing the site through AMP. And how you expect the journey to be for a bot accessing the AMP site?

[2018-12-22 01:50] acsant opened #20066 "Elements in the document are overlaid on the lightbox for `amp-lightbox-gallery` when it "fades in""
If you have a bug for AMP please fill in the following template.  Delete everything except the headers (including this text).

## What's the issue?
Elements in the HTML with a z-index >= 1 tend to overlay on the lightbox when amp-lightbox-gallery during it's "fade-in" transition to fullscreen

## How do we reproduce the issue?

URL to reproduce it on:
https://www.redfin.com/UT/Spring-City/271-N-Mi

[2018-12-22 02:10] eveyiyuan commented on #20064
@torch2424 We came up with this behavior because we were having issues removing AMP pages from the cache after we unlinked the AMP page from the canonical page. We are running AMP as an experiment right now, so we wanted some kind of "kill-switch" behavior to stop serving AMP pages when we turned off the experiment. The AMP crawler seemed to have been ignoring the 302 we were sending originally wh

[2018-12-22 02:10] acsant commented on #20064
@torch2424 Yes, that is the currently intended behavior. We want to be able to control when a user sees the AMP page vs. the canonical. So often times we will have AMP pages enabled for testing and then we'd decide to disable it temporarily at some point. When we disable it, we would want the users to see the canonical right away. But that wouldn't really happen unless Google re-crawls the page an

[2018-12-22 02:11] acsant commented on #20064
lol @eveyiyuan beat me to it

[2018-12-22 02:15] #19719 closed

[2018-12-22 02:19] torch2424 commented on #20064
Awesome! Thanks for the thorough responses!

I'm not sure if this is an intended high level use case for AMP? Cc @cramforce

[2018-12-22 07:33] leonalicious commented on #19974
Okay, I will give it a try ~

[2018-12-22 07:34] leonalicious commented on #19908
@zhouyx sure, and do let us know when it is ready to use, it is really helpful for us

[2018-12-22 12:41] RaFr opened #20068 "amp-lightbox-gallery swipes 2 images on left swipe"
## What's the issue?

amp-lightbox-gallery moves 2 images on swipe left. it works fine on right swipe or if it is swiped very slowly.

## How do we reproduce the issue?

1. open this page https://ampbyexample.com/components/amp-lightbox-gallery/
2.  tap on an example on the page to open the lightbox
3. then swipe left to change the opened image.

## What browsers are affected?

tested on andoird c

[2018-12-22 19:41] cramforce commented on #20064
CC @sebastianbenz for some insights.

While I understand such kill switches make sense for rollouts, the Search index will always have some latency for some pages.

I'd recommend to run experiments on a subset of pages to minimize risk, and at least avoid needing to do quick back and forth by design (outside of emergencies).

[2018-12-23 23:38] westonruter commented on #8810
@aghassemi Has there been any discussion about adding a `preventDefault` action? In the Twenty Seventeen theme for WordPress there is a link target that has smooth scrolling behavior via using jQuery scrollTo with the following markup:

[code]

To achieve this in AMP as noted in https://github.com/ampproject/amp-wp/pull/1777 we currently have to do:

[code]

The downside here is that the semantic

[2018-12-24 06:58] TWsky opened #20070 "Support audio-play event on amp-audio for amp-analytics"
## Describe the new feature or change to an existing feature you'd like to see

We hava video-play event which can use to tracking playing behavior on [amp-video](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-video-analytics.md), but there is not any play/pause event hook for amp-analytics to use on audio.

## Describe alternatives you've considered

One thought is

[2018-12-24 08:59] dthukral-amazon opened #20071 "Next release"
My changes were merged 4 days ago (https://github.com/ampproject/amphtml/pull/19986), so I wanted to know when is next release scheduled, when my changes would come in production?

[2018-12-24 15:21] devignerforhire commented on #10230
Heya @cathyxz,

I just updated our grapes and wines index using the new amp-list-resizable-children experiment with changeToLayoutContainer and it seemed to be working until I checked the list on my other laptop. I had previously enabled the experiment in my console using AMP.toggleExperiment('amp-list-resizable-children') and had also enabled it in the experiments page.

d

You can see our dev si

[2018-12-25 15:34] aghassemi commented on #20071
@dthukral-amazon Next scheduled release will be created on Wednesday, January 2, 2019 (targeting full rollout on January 8)

More info here: https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md

[2018-12-25 15:34] #20071 closed

[2018-12-25 15:35] aghassemi commented on #20068
Looks like a `amp-carousel` bug. Might be surfacing in lightbox more often

[2018-12-25 15:38] aghassemi commented on #20066
@sparhami Same issue as the AMPByExample header going over we chatted about.

[2018-12-25 15:40] aghassemi commented on #20070
dup of https://github.com/ampproject/amphtml/issues/13653 but will keep this one and closing https://github.com/ampproject/amphtml/issues/13653

[2018-12-25 15:41] aghassemi commented on #13653
de-duping for #20070

[2018-12-25 15:41] #13653 closed

[2018-12-26 02:24] fritexvz opened #20073 "Add support for serviceworker to run on AMP cached site?"
As stated "The Service Worker won't be able to interact with the AMP-cached version of your page. Use it for onward journeys to your origin.".

So, why to implement the service worker while it cannot be used on the "first click" form Google Search results?

Is there a way to run "add to homescreen" on the first click from search results?
Because it does not show "add <app> to homescreen" and users

[2018-12-26 02:30] fritexvz opened #20074 "Add support to allow Ajax POST on AMP Cached (first view of the AMP page from Google Search Results) site "tap and drag" or "scroll" with finger?"
I wonder if there is possibillity to send Ajax POST request on AMP cached site like "onLoad" in JavaScript?

For example as iFrame pageview or just on="tap.submit.form" to add onto <html>.

But, the problem is when we add on="tap" to <html>, the tap and drag on the screen is not registered as "tap" on AMP Cached site on "first view" of the AMP page from Google Search Results.

Anywhere "tap" on th

[2018-12-26 02:32] fritexvz commented on #20074
Any idea how to send Ajax POST "onLoad" of the AMP cached site?

[2018-12-26 04:00] andreyMakahov opened #20075 "[Amp-Redirect-To] Header does not work for cached AMP page"
## What's the issue?

Amp-Redirect-To does not work as expected in amp cached version

## How do we reproduce the issue?
1. Visit m.aliexpress.com cached product detail page [link](https://m-aliexpress-com.cdn.ampproject.org/v/s/m.aliexpress.com/item/32580819279.html?amp_js_v=0.1&usqp=mq331AQGCAEoAVgB)
![image](https://user-images.githubusercontent.com/5758614/50429917-df704080-08fb-11e9-8be1-77e8

[2018-12-26 16:35] rsimha commented on #19767
Here are the `TODO`s in `build-system/`:

[code]

[2018-12-26 16:40] jeffjose commented on #19883
Thanks for chiming in, @benjamingram. Looks like this is working-as-intended considering some of the restrictions AMP puts in place (no 3p javascript). Closing this out, but feel free to reopen @SimonHogstromRonbol if you think otherwise.

[2018-12-26 16:40] #19883 closed

[2018-12-26 18:46] torch2424 commented on #20074
Hello! Thank you for the issue!

So if your overall goal is to send a POST request on pageview, you may be better off using `amp-analytics`. See [this documentation of sending data to a URL](https://www.ampproject.org/docs/reference/components/amp-analytics#sending-data-in-house), and [this documentation on sending an XHR POST](https://www.ampproject.org/docs/reference/components/amp-analytics#spe

[2018-12-26 18:47] torch2424 commented on #20073
Triaging to @prateekbh , as they may be familiar with service workers with AMP 😄

[2018-12-26 19:36] torch2424 commented on #19421
@choumx

Thanks for the thorough explanation!

@dennyak47

I tried reproducing this in Chrome, Safari, and Firefox, and I couldn't trigger this specific error. I toggled the sidebar a bunch of times, and couldn't get the `style` error.

<img width="1440" alt="screen shot 2018-12-26 at 11 35 28 am" src="https://user-images.githubusercontent.com/1448289/50455366-5f010e00-0902-11e9-91f9-c2ce16ce8abb.

[2018-12-26 22:26] prateekbh opened #20082 "Release tracking issue for canary release 001812261943070 (Canary)"
# Release tracking issue

- [x] Release [001812261943070](https://github.com/ampproject/amphtml/releases/tag/1812181822170) is cut as a new canary release
- [x] Release 001812261943070 pushed to dev channel
- [x] Release 001812261943070 pushed to 1%
- ~~Release 001812261943070 pushed to production~~ _(no production release this week!)_

See the [release documentation](https://github.com/ampproject

[2018-12-26 22:31] bramanudom opened #20083 "Support branching within stories"
Allow publishers to create and users to engage with stories that have non-linear page progressions.

[2018-12-26 23:57] #20066 closed

[2018-12-27 01:48] cathyxz opened #20087 "gulp test --fortesting broken"
Not sure what happened lately, but running gulp test --fortesting seems to be broken. E.g. for amp-bind integration tests that need to load `ww.js`, it's trying to load from cdn even when you add the --fortesting flag.

[2018-12-27 07:40] varungargofb commented on #11693
Hi, To whom it may concern:

I want to update the input element value on submit-success of the amp-form using the AMP State which is "isFav"
But it just make the input blank,

<amp-state id="markFavAmpState" class="i-amphtml-element i-amphtml-layout-container" hidden="" aria-hidden="true">
<script type="application/json" data-reactid="204">{"isFav":true}</script>
</amp-state>

Here comes my code:

[2018-12-27 13:14] dianomi-mjs commented on #19951
Hi, is there anything we need to do to progress things?

[2018-12-27 16:43] tryazi opened #20090 "adsense automatic ads issue"
Automatic ads for Amp do not work in any way. I'm using add-in and native. There is no solution to this problem. Required libraries are installed. Many issues have been opened here, but no solution has been produced yet.

example
https://www.odevbul.org/somut-ve-soyut-isim-nedir-konu-anlatim.html (amp page)

[2018-12-27 19:32] nickmoline commented on #19988
Closing in interim per your suggestion, we look forward to finding out what caused this though.

[2018-12-27 19:32] #19988 closed

[2018-12-27 21:20] stephengardner opened #20092 "-webkit-text-stroke-color disallowed, but no mention in docs"
`The property '-webkit-text-stroke-color' in attribute 'style' in tag 'span' is disallowed. (see https://www.ampproject.org/docs/guides/author-develop/responsive/style_pages)`

The referenced document doesn't seem to mention the restriction, [here](https://www.ampproject.org/docs/guides/author-develop/responsive/style_pages).

Not sure if it's me that is confused, or the docs that are incomplete.

[2018-12-27 21:21] torch2424 commented on #20090
cc @keithwrightbos would you happen to know what is happening here? Feel free to re-assign.

[2018-12-27 22:11] armandAkop opened #20093 "[amp-list] - set [src] to the root state object"
## Describe the new feature or change to an existing feature you'd like to see

Is there a way to set the [src] value equal to the root amp state object? Something like
[code]

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature

[2018-12-28 02:47] torch2424 opened #20095 "Allow viewing Safari as not a NATURAL_IOS_EMBED for development"
See: https://github.com/ampproject/amphtml/blob/master/src/service/viewport/viewport-impl.js#L1297

This was noticed by @sparhami and I, that this was enabled by default and can make UI testing a bit more difficult if you are expecting the same behavior as [ampproject.org](https://www.ampproject.org/)

The only similar looking command right now is the serve mode in [TESTING.md](https://github.com/

[2018-12-28 11:02] fstanis opened #20097 "[amp-animation] Add count() CSS extension"
## Describe the new feature or change to an existing feature you'd like to see

Add a CSS extension to `amp-animation` called `count()` (or `len()`) that would return the number of targets caught by the selector.

Currently, [this example](https://www.ampproject.org/docs/reference/components/amp-animation#css-index()-extension) is given for `index()` to create a staggered effect when animating som

[2018-12-28 18:21] prateekbh commented on #20073
Service workers control the domain, they are installed upon.
With AMP  cached site the domain is always *.google.com so even if you install a service worker there your webapp will not gain anything out of it on the first click.

Adding a "add to homescreen" on AMP cached site will result on *.google.com added to the device and not your domain web app.

P.S. This changes with webpackaging coming so

[2018-12-28 22:31] cathyxz commented on #19880
@armandAkop can you clarify what you would like the button to do if the submit condition fails? Would you like the button to be disabled, or would you like tapping the enabled button to do nothing? The former should be already doable via the alternative you describe. The latter seems like strange UX to have what's basically a sometimes lying button. Would you need to then trigger some notification

[2018-12-28 22:38] cathyxz commented on #20093
Hi @armandAkop ! Why you want to set it to the root state as opposed to just any other state initialized on the ampdoc?

[2018-12-29 12:31] fritexvz commented on #20073
Thanks for feedback!

Well then, the AMP project has bottleneck for us all.

Each "1st click" is important to us as publishers, but regarding the Google, we cannot get 1% of it.
Either ads not displayed (OpenX) or pageview not counted as it should be (regarding Google Analytics), or this "add to homescreen" feature not prompted to the user on the 1st time.

Hope it will be in future.

[2018-12-29 12:33] fritexvz commented on #20074
Thanks for feedback!

Will try that one

[2018-12-29 23:26] IamAlta opened #20103 "Flex for amp-list amp-mustache to make child heights the same."
## Describe the new feature or change to an existing feature you'd like to see

Imagine a row of boxes of different heights. They will wrap onto a second, third, etc row.

Use <amp-list><template type="amp-mustache"> where the the inner elements are these boxes.

PROBLEM. When a row has a shorter box, the next row is disrupted and begins after that shorter box on the previous row.

It'd be nice vi

[2018-12-30 12:01] hermannz1977 commented on #13677
I usually add `padding-bottom: 45px` or `50px` or `55px` or `60px` for selector `amp-carousel` since its height looks dynamically gives spaces based on the image size.

If I have `.floating-caption` (_non-amp_) in the same bottom of the image, then I add, say, : `bottom: 55px;` to the floating caption :)

[2018-12-30 17:02] DamonHD opened #20104 "<amp-img> (at least via cdn.ampproject.org) inserts bizarre non-optimal srcset"
This may all simply be a misunderstanding on my part: please educate me if so!

## What's the issue?

The AMP cache (at least for cdn.ampproject.org which I can observe) *deoptimises* image access if presizing has already been done.  A srcset is added that specifies several (fictitious) image versions *all* *larger* than the original.

## How do we reproduce the issue?

For example, in http://amp.

[2018-12-31 10:34] dianomi-mjs commented on #19951
Looks like I didn't manage to paste our integration code a few comments back ... here is it

<amp-ad class="i-amphtml-layout-fixed i-amphtml-layout-size-defined" data-cf-network=dianomi data-id=3186 height=100 i-amphtml-layout=fixed src="https://www.dianomi.com/smartads.pl?format=a4a" style=width:350px;height:100px; type=cloudflare width=350>

[2018-12-31 10:35] dianomi-mjs commented on #19951
Looks like I didn't manage to paste the integration code in the original description or it got removed somehow.  Here it is

`<amp-ad class="i-amphtml-layout-fixed i-amphtml-layout-size-defined" data-cf-network=dianomi data-id=3186 height=100 i-amphtml-layout=fixed src="https://www.dianomi.com/smartads.pl?format=a4a" style=width:350px;height:100px; type=cloudflare width=350>`

[2018-12-31 19:11] Patryk-Kawecki opened #20106 "Can someone from ampproject.org minify the v0.js script on the ampproject CDN server?"
I found that the v0.js script on the ampproject.org CDN server could be minified to reduce its size by 929B (2% reduction). I discovered this testing my website. Here is the GTmetrix report: https://gtmetrix.com/reports/fakesony.co.uk.s3-website.eu-central-1.amazonaws.com/mL7HLCAB. There is also a problem with "Leverage browser caching" of that script and recommendation is "Add Expires headers. Th

[2018-12-31 22:52] DamonHD commented on #18461
Data point FYI, the live validators are now fine with details/summary, but Google Search Console continues to complain about "Disallowed tag present." on a sample page.

Hope you have had a good break when/if you see this!  B^>

Rgds

Damon

[2019-01-01 00:49] DamonHD commented on #18461
Ta!

It will be interesting to see what GSC does with a page that doesn't change and a spec that does, ie will the latter trigger a re-parse and an AMP validation pass automatically?  B^>

Rgds

Damon

[2019-01-01 05:16] cathyxz commented on #20103
I think you can override those styles with something like `amp-list div[role="list"]` to select the div container inside amp-list (similar to the example [here](http://amp-infinite-scroll.glitch.me/) ).

[2019-01-01 05:17] cathyxz commented on #20104
/cc @Gregable

[2019-01-01 18:45] IamAlta commented on #20103
I think that will work. Is this explained somewhere in the online AMP Docs? It'd be nice to have it explained in the AMP examples.

Thanks for working on this during a holiday season.

[2019-01-02 06:54] Patryk-Kawecki commented on #20106
2% maybe it's not much, but it lowers the page score. You can download minified v0.js script from GTmetrix report and just update on the amp server. For "Leverage browser caching" You can set the expiration time to 50 minutes, it will be enough to pass page score test and will not affect pages.

[2019-01-02 08:50] Patryk-Kawecki commented on #20106
2% maybe it's not much, but it lowers the page score. You can download minified v0.js script from GTmetrix report and just update on the amp server. For "Leverage browser caching" You can set the expiration time to 50 minutes, it will be enough to pass page score test and will not affect pages.

[2019-01-02 13:25] aurbanczik opened #20108 "reCAPTCHA for AMP"
I am confused abut ReCAPTCHA for AMP. I couldn't figure out in the threads if and when it will become available.

[2019-01-02 14:45] #15095 closed

[2019-01-02 15:46] cvializ commented on #20020
Hi @belobrad thanks for telling us about your use-case for this feature. Currently the `day-size` attribute is passed through to `react-dates` `daySize` prop. They don't currently support non-square cell sizes, so there's no existing solution in the component for your feature. We can put effort toward it when it's possible after addressing higher-priority issues. For now, consider using padding in

[2019-01-02 15:53] cvializ opened #20112 "Create amp-date-picker example for bind-only use-case"
Users want to open a date picker and see their selected date in a UI element, but without an input-box treatment. There is no existing code sample for document authors to easily implement this use-case.

[2019-01-02 15:54] cvializ commented on #20023
Are you using a `mode="static"` picker or a `mode="overlay"` picker? Overlay pickers should automatically prevent the input from triggering the keyboard. Does that functionality work in your case?

https://github.com/ampproject/amphtml/blob/ea883c254c8f60b0fb2a9c023131082942c5edd1/extensions/amp-date-picker/amp-date-picker.md#L164-L170

@aghassemi I don't believe there is a good example for that u

[2019-01-02 16:20] coreybyrnes commented on #19297
Thanks @torch2424! I'm still not seeing the bug fixed on my demo page, so I want to make sure it didn't push to prod yet and to get an idea of when it might push. Thanks!

[2019-01-02 16:45] morsssss commented on #10230
Hi! Has this been released to prod yet? We're eager to try this out too :)
+ @demianrenzulli + @antoinebisch

[2019-01-02 17:41] mrjoro opened #20113 "Design Review 2019-01-23 21:00 UTC (Americas)"
Time: [2019-01-23 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=01&day=23&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190123T210000Z/20190123T220000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2019-01-02 17:41] mrjoro opened #20114 "Design Review 2019-01-31 01:00 UTC (Asia/Oceania)"
Time: [2019-01-31 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=01&day=31&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190131T010000Z/20190131T020000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2019-01-02 17:41] mrjoro opened #20115 "Design Review 2019-02-06 16:30 UTC (Africa/Europe/western Asia)"
Time: [2019-02-06 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=02&day=06&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190206T163000Z/20190206T173000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2019-01-02 18:13] calebcordry commented on #17346
This is still going on ~32k errors in trailing 7 days.

[2019-01-02 18:37] lannka commented on #19951
hi @dianomi-mjs , sorry for the delay.

as @jasti mentioned, the other option is to use "template ads" to completely skip the signing. The concept is simple:
1. the ad template needs to be served from AMP cache
2. the ad response will contain the template URL and the data to populate the template.
3. the ad is fully client side rendered

That said, it will require some work at your side to get int

[2019-01-02 18:46] cathyxz commented on #20103
I think we wanted to avoid getting into this level of detail in the docs, but I think there should definitely be place for things like this somewhere in examples. One thing we sometimes do is to curate codepens and glitch examples which can often be found when you search keyword + codepen.

@CrystalFaith do you have any thoughts on where examples or documentation like this can go?

[2019-01-02 18:50] IamAlta commented on #20103
@CrystalFaith
How about an advanced developers' section? It will definitely grow as AMP does.

[2019-01-02 18:54] jeffjose commented on #11689
Closing old issues.

The original question was about the launch status of AMP Client ID API - which has been operational for some time now.

Take a look at this [help page](https://support.google.com/analytics/answer/7486764?hl=en) to see how you can use AMP Client ID API with Google Analytics.

Future development of the API is paused since the recently launched AMP Linker is a more flexible solut

[2019-01-02 18:54] #11689 closed

[2019-01-02 19:03] calebcordry opened #20120 "Error: No messaging channel: initMessagingChannel"
About 6500 errors in canary trailing 7 days. I think this is runtime related, feel free to reassign if not.

[code]

[2019-01-02 19:10] lannka commented on #20057
Retries seems to give some relief :-)
15+ greens in a row so far: https://travis-ci.org/ampproject/amphtml/builds

@cathyxz & @choumx do you still want to follow up on the root cause?

[2019-01-02 19:13] lannka commented on #19978
@nurse thanks for reporting.

literally it's actually still true that the cookies will always have the `amp-` prefix, because Viewer generated CLIENT_ID are never persisted to cookie.

[2019-01-02 19:13] #19978 closed

[2019-01-02 19:20] Gregable commented on #20104
None of these images are actually larger than the original. The `/ii/w680` is indicating a maximum width, not the actual width. The cache doesn't actually return an image that large, it returns an image of min(original width, indicated width).

You are correct in that in this case, the `srcset` is not actually helping any. All of the images in the srcset are essentially the same. So in theory it's

[2019-01-02 19:24] Gregable commented on #20104
There is also a comment [here](https://github.com/ampproject/amphtml/issues/19364#issuecomment-439569129) suggesting that what we should really do is have `<amp-img>` generate the srcset in javascript with the precise width that the page requires, rather than a few specific possible widths.

[2019-01-02 19:24] #20104 closed

[2019-01-02 19:24] cathyxz opened #20121 "Resources startup "it should not remeasure if fonts load before doc-ready" test flakes"
This test flakes on Safari

[code]
https://travis-ci.org/ampproject/amphtml/jobs/474523174

[2019-01-02 19:29] cpapazian opened #20122 "ITI: Support for text clamp/truncation that doesn't require display: -webkit-box;"
**Summary**

Support for text clamp/truncation that doesn't require `display: -webkit-box;`

**Motivation**

When `amp-fit-text` is used to line clamp text the element is styled with `display: -webkit-box;` and `-webkit-box-orient: vertical;`, which prevents content float/clear from working within the div.

Specifically, we have a design that includes a couple lines of teaser text with a click-for

[2019-01-02 19:32] bradfrizzell commented on #19743
hi @Narendharr

Have you made sure that this site is properly setup and approved on the adsense frontend?

[2019-01-02 19:33] cpapazian commented on #17464
`line-height` is a hard-coded constant, `const LINE_HEIGHT_EM_ = 1.15;`. We could add an optional attribute to override the constant value. Happy to submit a PR for this ...

[2019-01-02 19:39] cpapazian commented on #15448
@jpettitt were you thinking of an overflow element similar to `amp-list`? This is something that we would like to see, as well, and I'm happy to work on this. Click-to-expand seems simple enough. How were you envisioning the modal working? This could also be bound to an action, and trigger amp-lightbox, amp-animation, etc.

Ideally, the overflow element could be styled to float right, rather than

[2019-01-02 19:54] #12902 closed

[2019-01-02 20:04] CrystalOnScript opened #20125 "Add user scroll events `on:scrollUp` and `on:scrollDown`"
## Describe the new feature or change to an existing feature you'd like to see

A way to dispatch events based on the user's scroll direction. This would be great for animations, such as a header that's removed when the user scrolls down and reappears when the user scroll up again. Might be nice to be able to put a range of scrolling: `on:scrollUp.100vh.event` for full screen scrolling and `on:scr

[2019-01-02 20:05] belobrad commented on #20023
We are using `mode="static"` with a full-screen lightbox to achieve full-screen calendar view (we have lot of additional data to display and need full screen view) and also to achieve horizontal scrolling between the months (the desired UX behavior was not to scroll vertically.)

Using `mode="overlay"` did not allow us to add the additional info we needed around the datepicker and to to achieve th

[2019-01-02 20:35] DamonHD commented on #20104
Thanks for the swift reply.

I think that rather than add more JS, you could take the supplied width as a clue and indeed an upper bound and an exact size in the srcset.  That would probably at least trim some useless entries from the HTML.

Bits of bloat like that add up and so (in part, though this is NOT a very fair comparison) my AMP docs end up being quite a bit larger than the equivalent m-d

[2019-01-02 20:39] belobrad commented on #20020
Yes please--if you could eventually add it that would be much appreciated.

The problem with the CSS approach is that the `react-dates` script seem to be rendering all table-cells inlined with CSS code specifying the cell height which cannot be modified by the CSS as the inline rule take precedence if I understand this correctly.

![screen shot 2019-01-02 at 12 14 09 pm](https://user-images.github

[2019-01-02 20:39] lannka commented on #13542
according to the original design #8515 , ping back URL in amp-ad-exit supports extra features like filtering out "unintentional clicks", which is not supported in amp-analytics click trigger.

Let us know if any useful macros are needed in amp-ad-exit.

/cc @clawr

[2019-01-02 20:39] #13542 closed

[2019-01-02 20:46] lannka commented on #19211
After a series of improvements (#19605, #19613, #20037, #20062) to `describes.integration` during the fixit week, I think most of the requirements here are already covered. Closing this now.

[2019-01-02 20:46] #19211 closed

[2019-01-02 20:50] Gregable commented on #20104
Damon, the width is unfortunately just used by amp to determine a width/height ratio not an actual size, depending on the layout. For example, some publishers will shave a few bytes by writing `<amp-img width=2 height=1 ...>` to specify an image that will end up being shown as 200x100 or so forth. Sadly, in the general case, the cache has no way to know what size the image will eventually be displ

[2019-01-02 20:57] DamonHD commented on #20104
Hi,

Goodness, I had no idea people did such things, which is presumably why browsers for 'normal' non-AMP HTML cannot use width/height to actually leave space to display.  This is why we can't have nice things!

As I understand it, if I supply a srcset it will be used as-is though?

Can you possibly point me to the reasoning behind the 220/470/680 width split, since I may have a cunning plan!  B^

[2019-01-02 20:57] #19706 closed

[2019-01-02 20:59] lannka opened #20126 "Add integration test for amp-analytics sandbox mode"

[2019-01-02 21:00] lannka opened #20127 "Add integration test for amp-analytics custom events"

[2019-01-02 21:00] lannka commented on #19706
We already had some coverage for batch mode in test-amp-analytics.js

Sandbox & custom events does need extra coverage. tracked separately: #20126 #20127

[2019-01-02 21:03] Gregable commented on #20104
Yes, if you supply a srcset, it will be used. So, one workaround would probably be to simply add `srcset=" "` to the tag. Note that a completely empty string will not work, I think. I haven't tested this, but looking at the code I think it would work.

You can see the algorithm for the width selection [here](https://github.com/ampproject/amppackager/blob/bdcd591e2327be58e4a6492582a6f64775819056/tr

[2019-01-02 21:03] bramanudom opened #20128 "Cleanup amp-story-branching experiment"
Cleanup amp-story-branching experiment

[2019-01-02 21:04] DamonHD commented on #20104
Thank you!

[2019-01-02 21:07] Gregable commented on #20104
No problem.

[2019-01-02 21:09] lannka commented on #17657
@Ahh42 just to circulate back, given we had the JSON support in POST payload now (#19102), do we still need this feature, given there's really no agreed formal way to serialize the object in URL that satisfies everyone?

[2019-01-02 21:10] lannka commented on #17657
@adamkasprowicz as well

[2019-01-02 21:14] #19931 closed

[2019-01-02 21:14] cvializ commented on #20023
I think adding an additional parameter to apply validation behavior to input elements with the `readonly` violates the HTML5 spec. Because of that, I don't think AMP should implement it because AMP intends to conform to the standard spec.

Until we find a better solution for when to show mobile keyboards, amp-form custom validation can fill the gaps in the standard validation.

https://ampb.in/#oO

[2019-01-02 21:14] lannka commented on #12494
I suggest we implement a generic DomEvent triggering in amp-analytics.
Another use case can be: #7508

/cc @zhouyx

[2019-01-02 21:32] lannka commented on #14160
/cc @zhouyx , we had a proposal to solve this issue. Yuxuan, do we have anything written down that we can link to?

[2019-01-02 21:38] lannka commented on #14252
can we just let them put `imgData=${htmlAttr(#ad .some_class img,src,decoding)}`  and add `.` & `#` to allowed charset?

[2019-01-02 21:45] lannka commented on #14711
@jeffkaufman is this still needed given #14709 is solved in a different way?

in general, I felt the proposed approach is adding a lot complexity, as then the triggers are dependent to each other.

[2019-01-02 21:48] lannka commented on #18083
Not seeing this error any more.

[2019-01-02 21:48] #18083 closed

[2019-01-02 21:50] lannka commented on #11106
This can be per vendor's request.

[2019-01-02 21:50] #11106 closed

[2019-01-02 21:59] zhouyx commented on #19297
@coreybyrnes In the meanwhile, you should be able to test canary by opt-in to our dev channel [here](https://cdn.ampproject.org/experiments.html). Thank you

[2019-01-02 22:00] mrjoro commented on #19773
- only on initial state or after?  only on initial state
  - would potentially be too expensive at other times
  - some data for premutate can come from the URL (viewer passes it to runtime using the premutate post-message)
- is the state a public API for the document?
  - yes you could consider it that; two different parties are communicating through this (e.g. Google Viewer and DoorDash page)
-

[2019-01-02 22:00] #19773 closed

[2019-01-02 22:08] jeffkaufman commented on #14711
Yes, this isn't something we need anymore.

[2019-01-02 22:08] #14711 closed

[2019-01-02 22:20] torch2424 commented on #20108
@aurbanczik

Hello! So the last PR for recaptcha for AMP just got approved! You can find that here: https://github.com/ampproject/amphtml/pull/19334

Now, we gotta wait for it to get into PROD (I think if I merge today, it'll be in by next week possibly), and it will be under an experiment flag for you to try out 😄

I'll be sure to update this thread once everything gets sorted out, and should be

[2019-01-02 22:49] zhouyx commented on #12494
There's a list of related requests to track dom event.
The issues I know: #7508 #12494 #18280 #17878

If there's not one created already, I am going to create an I2I issue for this. cc @jeffjose for prioritization input.

[2019-01-02 22:57] choumx commented on #19880
Closing as a dupe of #14661.

/cc @cvializ

[2019-01-02 22:57] #19880 closed

[2019-01-02 23:06] aghassemi commented on #20122
👋 @cpapazian.

What's the use-case you have in mind? is it doable with `position:absolute`?

[2019-01-02 23:08] aghassemi commented on #20122
/cc @cpapazian

[2019-01-02 23:14] cpapazian commented on #20122
we're hoping to do something like this

[2019-01-02 23:36] DamonHD commented on #20104
OK, I like a challenge!

When I next regenerate my AMP pages many of my <amg-img>s will have gained a srcset which will have an entry to target displays down to 360 CSS pixels at 1.5x density, thus ~20% reduced width and maybe ~33% image weight savings...  B^>

Rgds

Damon

[2019-01-02 23:36] aurbanczik commented on #20108
Thanks Aaron - do keep me posted please !

[2019-01-02 23:36] torch2424 commented on #20064
Also, in the meantime while we wait for a response from @sebastianbenz

Here is a good resource for removing AMP pages: https://developers.google.com/search/docs/guides/remove-amp

cc @eveyiyuan @acsant

[2019-01-02 23:41] Gregable commented on #20104
Nice! I like it.

[2019-01-02 23:42] #18829 closed

[2019-01-03 00:00] aghassemi commented on #20122
@cpapazian Thanks. Too bad JS is not avoidable for this. For https://github.com/ampproject/amphtml/issues/15448, we could just add an new action like `myFitText.expand` and let pubs implement the overflow instead of a new attribute.

[2019-01-03 00:03] aghassemi commented on #20122
(in all honestly, unlikely we can prioritize this. PRs welcomed and appreciated of course. We can move much faster on reviews than infinite list from back then as this is a much more contained feature)

[2019-01-03 00:04] zhouyx commented on #19908
There's another major concern about this. Once we launch the feature, we need to be careful on future change to the user error messages. I know there's an ongoing project to convert the user error message compile time to save some bytes. Wondering how that project will affect the progress here. @erwinmombay @rsimha

[2019-01-03 00:19] cpapazian commented on #20122
The reason I figured a new attribute made sense was that I would only want it to be visible if the text was overflown, though we could do that with a CSS class.

Aside from that, a `myFitText.expand` action sounds good to me.

(don't expect you guys to prioritize this ... we can find resources if it ends up being a must-have for us).

[2019-01-03 00:45] jonkeller commented on #14252
@lannka SGTM. Period is already allowed so we would just need to add #

[2019-01-03 00:48] #19817 closed

[2019-01-03 01:37] acsant commented on #20064
@torch2424 We tried having a redirect with 301 or 302 to the canonical. The only downside of doing that is that since the canonical is an invalid AMP HTML, Google will show that blue phone error screen if the AMP page is still indexed

[2019-01-03 08:15] adamkasprowicz commented on #17657
@lannka we're good, thanks

[2019-01-03 08:42] Ahh42 commented on #17657
@lannka
Thanks for the update
Just a small inquiry to be able to assess.
Is there a "base 64 encoding Func" that can be used in constructing the body of the post request?

Data are supposed to be sent as POST Request to some endpoint with the following "application/x-www-form-urlencoded" body:
{data : base64encodingFunc(JSON.stringify( [ {some_key: 'some_val'} ] )}

[2019-01-03 14:21] pravinweb opened #20135 "amp-instagram fallback in case post is deleted"
In case of twitter there is a [fallback](https://www.ampproject.org/docs/reference/components/amp-twitter#placeholders-&-fallbacks) option, you can also specify fallback message. I tried same with Instagram but it does not render fallback div in case if Instagram post is deleted.

On this [online playground](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp

[2019-01-03 14:42] cvializ commented on #19880
I could see this specific case implemented as a binding to an input's `pattern` attribute. e.g.

[code]

But since bindings are not applied on page load, this would not be a full solution.

[2019-01-03 15:29] enzo-giancola opened #20136 "Shadow dom inconsistencies"
Hi,

we are facing errors related to DOM inconsistencies
raising when AMP code is imported through a shadow dom based mechanism (in Polymer <amp-viewer>).

The problem we noticed:

as logged user, when we click/tap user menu
we can see the following error console:

Uncaught Error: No ampdoc found for undefined
    at ab (log.js:525)
    at Ya.f.createError (log.js:286)
    at Kn.f.getAmpDoc (docum

[2019-01-03 15:40] aghassemi commented on #10230
Discussed offline a bit in more details. tldr  a new action (and equivalent bindable attribute) to turn layout of amp-list to container upong user action (e.g. toggling between list and grid views) is live but under an experiment flag so folks can try it and provide feedback

[2019-01-03 15:45] estherkim commented on #19763
Closed in #20117

[2019-01-03 15:45] #19763 closed

[2019-01-03 16:45] choumx commented on #19880
Neat idea!

[2019-01-03 17:17] aghassemi commented on #20125
@CrystalFaith We were originally thinking to create a dedicated component for the scroll-direction-based sticky headers, but I like your proposal much better as it is generic and maybe useful for other cases as well. Aligns nicely with amp-position-observer pattern too.

[2019-01-03 17:22] aghassemi commented on #20097
Totally, we already have `index`, adding `len` should be simple. @fstanis If you are interested in contributing this, I'd be happy to help.

[2019-01-03 17:40] fstanis commented on #20097
Sounds good, already explored it a bit in a branch and it seems easy enough.

Any preference on function name? `len()` / `length()` / `count()` / something else?

[2019-01-03 17:46] lannka commented on #17657
@Ahh42 Thanks for asking. Right now, POST are sent with `Content-Type=text/plain`. The body is the stringified JSON.

AFAIK, `Content-Type=application/x-www-form-urlencoded` is normally used in form submission. It expects the body payload string to be key-value pairs separated by `=` and `&` (similar to URL params). It won't handle nested object, which is the key requirement here.

I see your prop

[2019-01-03 17:53] lannka commented on #14252
@calebcordry do you see any problem if we start to accept `.` and `#` as macro params?

[2019-01-03 18:01] aghassemi commented on #20097
let's go with `length()` to match JS

[2019-01-03 18:02] calebcordry commented on #14252
If I understand correctly `.` is already accepted. I think adding `#` should be fine.

[2019-01-03 18:05] erwinmombay opened #20138 "refactor some of the code in changelog to git.js"
theres some reusability in the changelog file that can be moved over the the common git.js helpers

[2019-01-03 18:05] #20027 closed

[2019-01-03 18:10] CrystalFaith commented on #20103
Happy new year!

@IamAlta, thanks for bringing this up! I think something like this might fit in an advanced style guide, depending on how many other style issues seem similar enough. Or as @cathyxz suggested, we could fit it in as a code example for `amp-list`. I'll take a look into it!

[2019-01-03 19:00] coreybyrnes commented on #19297
@zhouyx Thanks that's really helpful. I enabled the dev channel and was able to verify that it works!

[2019-01-03 19:50] choumx commented on #17346
Same as #7520. We should make this an expected error.

[2019-01-03 20:01] choumx commented on #7617
@lannka Do we still care about logging errors in our 3p integration script? It's been a long time and maybe our existing coverage is Good Enough™️.

[2019-01-03 20:05] choumx commented on #8158
Closing inactive sub-issue. Follow #3434 instead.

[2019-01-03 20:05] #8158 closed

[2019-01-03 20:09] choumx commented on #9140
Closing since this approach has been shelved for now: https://github.com/ampproject/amphtml/pull/9669#issuecomment-306323169

[2019-01-03 20:09] #9140 closed

[2019-01-03 20:13] choumx commented on #9276
Closing as stale. Note that we have `amp-skimlinks` now too. Please reopen as desired.

[2019-01-03 20:13] #9276 closed

[2019-01-03 20:17] choumx commented on #9712
Seems like the right layer to solve this is at the embedder (AMP viewer) or browser layer (e.g. Chrome data saver). Closing for now -- please reopen as desired.

[2019-01-03 20:17] #9712 closed

[2019-01-03 20:18] #9749 closed

[2019-01-03 20:21] choumx commented on #9838
Closing since this is not really an AMP-related FR.

[2019-01-03 20:21] #9838 closed

[2019-01-03 20:23] choumx commented on #10058
I remember @sparhami also brought this up. It would be good to have runtime checks for CE spec conformance.

[2019-01-03 20:26] mrjoro opened #20141 "Status Update 2018-12-10"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2019-01-03 20:30] mrjoro commented on #20141
# UX
contact: @spacedino

## What was accomplished

- Carousel - Finished first iteration of interaction spec, started planning cafe study
- amp-list-load-more - Designed and implemented default UI - new loader test

## Lessons learned
- Our job usually isn’t to come up with something groundbreaking; often the simple/existing answer will do you just fine.

## What's next

- Carousel - prototyping

[2019-01-03 20:31] choumx commented on #13385
IIRC, the issue was the inability to support both iOS and Android deep-link URLs in a single anchor. I believe Chris's workaround was to use amp-access to detect the platform and render the appropriate deep-link at runtime.

[2019-01-03 20:31] mrjoro commented on #20141
# amp-story
contact: @newmuis

## What was accomplished

- Runtime design doc for story-to-story feature
- Tap-to-play for data saver/low battery modes
- Landscape experience code complete
- AMP stories talk at Digital Publishing Innovation Summit in SF

## Lessons learned

- Don't have a meeting that could be an email; don't have an email that could be a ping
- Find/replace all is dangerous

## W

[2019-01-03 20:32] mrjoro commented on #20141
# Runtime
contact: @choumx

## What was accomplished

- Brotli: URL rewriting workaround
- Refactoring FIE service APIs
- AMP4EMAIL: \<script\> templates, fixed template SSR + amp-bind bug
- Design review for amp-action-macro

## What's next

- Wrap up outstanding PRs, then fix-it!

[2019-01-03 20:33] choumx commented on #10877
This may be covered by @cvializ's new testing infra project.

[2019-01-03 20:34] mrjoro commented on #20141
# Infrastructure
contact: @rsimha

## What was accomplished

- Two new checks on GitHub PRs:
  - Bundle size
  - Owners check
- Browser matrix now includes latest Chrome, Firefox, Safari, and Chrome Dev
- Fine tuned bundle size bot baseline picking logic
- Planning around analytics integration tests

## Lessons learned

- New browser releases break our tests. (Mitigation: Early warning mode for Ch

[2019-01-03 20:36] mrjoro commented on #20141
# Performance (formerly "Special Ops")
contact: @kristoferbaxter

## What was accomplished

- worker-dom
  - Document Fragments
  - Support for Google Cloud Console
- Bundle Size
  - Production Single Pass
  - Peace Room for Bundle Size, several open PRs reducing overall size by 10% on single pass build.
- Service Worker Generator
  - Integration with amp.dev, and other AMP documentation sites.
-

[2019-01-03 20:36] #20141 closed

[2019-01-03 20:38] choumx commented on #13497
Closing as stale. Let us know if this is still planned and we'll reopen.

[2019-01-03 20:38] #13497 closed

[2019-01-03 20:47] cathyxz commented on #655
Closing this since it's tracked Master Feature by https://github.com/ampproject/amphtml/issues/14059.

[2019-01-03 20:59] cpapazian commented on #13385
yup. that worked pretty well for us. we're hoping to migrate some of that markup that doesnt' require android intent:// links to the new [linker-id-forwarding](
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-forwarding.md).

[2019-01-03 21:20] choumx commented on #16435
Closing since amp-skimlinks is now available.

[2019-01-03 21:20] #16435 closed

[2019-01-03 21:30] aghassemi opened #20142 "Deploy nightly builds (was http://amphtml-nightly.herokuapp.com is old)"
Do we still do nightly pushes to http://amphtml-nightly.herokuapp.com ?

Files looks old (From Dec 21)

[2019-01-03 21:47] choumx commented on #16459
@jridgewell Would it be possible to calculate the bounding rect of the sticky element and set its `top` style to match the original position?

[2019-01-03 21:59] cathyxz commented on #20142
I think pushing to heroku no longer works now because our repo size exceeded the maximum size heroku could handle.

[2019-01-03 22:36] CrystalFaith commented on #20092
@cathyxz  - I see this labeled as a bug, should we be supporting `-webkit-text-stroke-color` in inline styles? Or will it always be disallowed?

[2019-01-03 22:50] #19502 closed

[2019-01-04 00:19] lannka commented on #19821
@robmurtagh having 0% measurable impression on iOS is as expected because the lacking of native IntersectionObserver API on Safari.

To help further debug the 15% drop on Android, 1) do you see the drop being creative independent? 2) have you done comparison with the same set of creatives running on non-AMP pages?

[2019-01-04 00:34] calebcordry opened #20146 "🚄Release tracking issue for canary release 1901021931380 (Canary)"
# Release tracking issue

- [x] Release `[1901021931380](https://github.com/ampproject/amphtml/releases/tag/1901021931380)` is cut as a new canary release
- [x] Release 1901021931380 pushed to dev channel (3:56 PM, Jan 4, 2019 UTC-8)
- [x] Release 1901021931380 pushed to 1% (3:56 PM, Jan 4, 2019 UTC-8)
- [x] Release 1901021931380 pushed to production (5:06 PM, Jan 8, 2019 UTC-8)

[2019-01-04 05:41] nurse commented on #19978
Indeed.. Thank you for comment! I understand it!

[2019-01-04 11:42] ndahmani opened #20148 "amp-ad / Webediads : Document stays into Loading state"
## What's the issue?

The webediads amp-ad iframe document is never complete, the DOMContentLoaded event is never fired.
As a consequence all scripts requiring the document to be loaded are stuck.

## How do we reproduce the issue?

1. Got to http://www.allocine.fr/amp/article/fichearticle_gen_carticle=18677367.html
2. Check webediads amp-ad iframe below:
<img width="1219" alt="capture d ecran 201

[2019-01-04 16:19] ayumihamsaki opened #20150 "Should we Preload the cdn.ampproject.org Javascript Modules?"
I would like to find out if it's a good idea or not to preload all the cdn.ampproject.org Javascript Modules.

When I ran some tests I got the following results, repeated the test on several web pages and got the same results, these are as follows:

## Without Preload

![not-preload](https://user-images.githubusercontent.com/17784082/50697749-084eaf00-103b-11e9-87f6-8f20ec62f505.png)

Results: The

[2019-01-04 17:05] aghassemi commented on #10230
@devignerforhire Thanks for trying it out. I don't mind turning this into a doc-level option experiment so you can enable it with the experimental meta tag. We can keep it a doc-in for a month and unless we hear negative feedback as folks try it, we can launch end of Jan, @cathyxz thoughts?

[2019-01-04 17:34] robmurtagh commented on #19821
Thanks for the update @lannka.

Just to check, is this iOS behaviour documented anywhere? It would be good to let users know about it. And also, how do you trigger animations then on iOS if theres no intersection observer?

In answer to your questions:
1) Yes, the drop is creative independent
2) Unfortunately we don't have a comparable set of non-AMP creative data

Just to check was there any chan

[2019-01-04 17:43] aghassemi commented on #19939
Update:

Unfortunately this happens to be a breaking change for certain usages of `amp-list` such as https://m.aliexpress.com/category/200001918/accessories.html?categoryName=Accessories&spm=a2g0n.category-amp.leafcat.Accessories where CSS does not expect an explicit `height` value to be added to the element.

Moving this for V2 of `amp-list` where we can make breaking changes.

[2019-01-04 17:44] gremz commented on #19030
@torch2424 sorry for the delay. It looks the example you provided doesn't have the `amp-access-hide` attribute on the `<section amp-access="NOT subscriber">` element, without the attribute the trigger works since it is visible by default. In your example if `subscriber` were `false` I believe it would still trigger the event (w/ a flash of the paywall element).

[2019-01-04 17:46] aghassemi commented on #19939
Meanwhile, the `changeToLayoutContainer()` action and its equivalent `[is-layout-container]` bindable attribute as implemented in https://github.com/ampproject/amphtml/issues/10230 can be used as an alternative in cases where list needs to shrink after a user-action.

[2019-01-04 17:47] AndrewKGuan commented on #18548
This is super useful to dynamically (server-side) verify a user's input to provide timely feedbacks such as blocked dates by zip codes, etc.
Any timeline on this feature?

[2019-01-04 18:04] aghassemi commented on #20150
Hi @ayumihamsaki

Yes, it is recommended to preload at least `v0.js` (along with other things such as hero images, etc..)
Please see some details and tips here: https://www.ampproject.org/docs/fundamentals/optimize_amp

AMP cache does a lot of transformations on AMP documents to optimize them further, including adding preloads for the main `v0.js`. For AMP pages served from origin, of course these

[2019-01-04 18:35] LenaMartens opened #20152 "amp-ads fallback div not being collapsed for fluid ad in fixed size slot"
## What's the issue?
The fallback div is not being collapsed for fluid ads delivered in a fixed size ad slot above the fold, throwing reflow warnings in the console ("Cannot resize element and overflow is not available"). When the returned ad is not fluid the overlay collapses without issue.

## How do we reproduce the issue?

Can be reproduced here: https://jsbin.com/yeloyaqidu
See screenshot: ![

[2019-01-04 18:39] torch2424 commented on #20152
cc @lannka @zhouyx @calebcordry

[2019-01-04 18:40] torch2424 commented on #20148
cc @lannka @zhouyx @calebcordry

[2019-01-04 18:57] torch2424 commented on #20136
Triaging to @prateekbh , Feel free to re-assign 😄

[2019-01-04 19:09] #20014 closed

[2019-01-04 19:43] estherkim commented on #17793
I looked briefly into Cypress and saw how it could be really helpful for e2e tests (faster runs, easier to write tests, interactive debugging, etc). The only downside that I could find is that it only works with Chrome, with cross browser support coming later - https://github.com/cypress-io/cypress/issues/310

I'll try to add a small Cypress test in in our Travis builds and see what happens!

[2019-01-04 20:02] cathyxz commented on #10230
I wanted to see if it was possible to address the feedback of this approach being overly verbose, but I don't think that will impact the existence or API of this action. I'm cool with this launching by the end of Jan.

[2019-01-04 21:12] ayumihamsaki commented on #20150
@aghassemi Thank you for all the information it helps a lot.

[2019-01-04 21:19] #20150 closed

[2019-01-04 21:33] #20097 closed

[2019-01-04 22:15] AndrewKGuan commented on #18548
By the way, the 'blocked' attribute is not bindable either, so there's no way to dynamically block out dates.
I would expand this feature request to making all attributes on date picker bindable.

[2019-01-04 23:22] torch2424 opened #20159 "Create Markdown File For Demoing Local Builds Externally"
Currently this resides in https://github.com/ampproject/amphtml/blob/master/contributing/TESTING.md

But I think it would make more sense to have a contributing/DEMO.md , and have the testing link to that for testing (demoing) local build externally.

cc @cathyxz

[2019-01-05 00:39] aghassemi commented on #826
Main use-case is handled by `amp-geo`
lat/lon for `amp-list` is tracked under https://github.com/ampproject/amphtml/issues/8929

Closing

[2019-01-05 00:39] #826 closed

[2019-01-05 00:42] aghassemi commented on #1347
to @choumx for routing to infra

[2019-01-05 00:49] aghassemi commented on #1356
1/4 done :) I am sure there are a lot more than 3 more things we want for v1. I am closing this, it can still be referenced when thinking about v1.

[2019-01-05 00:49] #1356 closed

[2019-01-05 02:01] fritexvz opened #20160 "Signed HTTP Exchanges?"
Is there possibillity to support the Signed HTTP Exchanges?

Example here:
https://wicg.github.io/webpackage/draft-yasskin-http-origin-signed-responses.html

How can we implement this on our server?

I am running Nginx.

Or, is there possibillity with CloudFlare?
https://www.cloudflare.com/website-optimization/ampersand/
and
https://blog.cloudflare.com/real-urls-for-amp-cached-content-using-cloudf

[2019-01-05 06:30] riham13 commented on #6516
is it allowed to have multiple "submit-error" under one form ?

[2019-01-05 14:01] Ahh42 commented on #17657
@lannka

Yes.... to be specific, I am trying to implement "Mixpanel" analytics which are not a supported Analytics vendor. So we need to use amp-analytics to send Data in-house.

Now Mixpanel provides two methods (GET & POST) to send Data through HTTP endpoints, mentioned above in the following comment:
https://github.com/ampproject/amphtml/issues/17657#issuecomment-419863466

This is why I am ask

[2019-01-05 15:36] fritexvz opened #20161 "Content Security Policy on AMPHTML pages returns frame-src error - is not loaded"
How to unblock frame.html for AMP pages?

URL:
https://www.racunalo.com/redmi-7-premijera-xiaomijeva-redmi-serija-pametnih-telefona-10-sijecnja-postaje-samostalni-brend/amp/

I got error:
[code]

Current CSP:
[code]

Anyway to fix it and allow Google Ads through iframe?

Thank you

[2019-01-06 03:22] Anondobangla opened #20162 "https://bdperiscope.blogspot.com in join amp page"
## Describe the new feature or change to an existing feature you'd like to see

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature request here.

[2019-01-06 03:59] Anondobangla opened #20163 "🌸 Cherry pick request for <YOUR_ISSUE_NUMBER> into <RELEASE_ISSUE_NUMBER> (Pending)"
**Replace *everything* in angle brackets in the title AND body of this issue.  If you have any questions see the [cherry pick documentation](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks).**

**GitHub issue your cherry pick is fixing:**

Issue #<ISSUE_NUMBER>

**PR that you are requesting a cherry pick for:**

*(Put N/A if you do not yet have a PR

[2019-01-07 09:11] ahmedzidan commented on #10230
We are using amp-state to bind the height, but we calculate the height on the server side which is not perfect and doesn't cover all the cases, so we are waiting this feature. @cathyxz we are happy to help if you need.

Our code on production you can check it out, https://iprice.my/nike/. the filter part is using amp list.

[2019-01-07 09:48] devignerforhire commented on #10230
Thanks @aghassemi and @cathyxz. This is one of the biggest challenges we've had with amp-list, so I'm excited to start using this in production.

On a side note, I'm needing to push an update to our wines index sorting (specifically changing the rarity sorting to popularity and sorting by total acreage). All works as expected when the popularity default is initially loaded or one of the other sort

[2019-01-07 10:40] kalwalt commented on #15847
I tried to add `amp-youtube` into my amp story but i discovered after, that is not supported ATM. I will follow this issue, thank you. :+1:

[2019-01-07 11:45] dortzur commented on #19916
@jasti @jpettitt @lannka any updates?

[2019-01-07 15:59] choumx commented on #1347
So far there are three such grammar files for amp-access, amp-animation and amp-bind.

[2019-01-07 16:37] choumx opened #20167 "amp-bind: Add keyword for top-level scope"
Top-level variables whose names contain operators e.g. `-`, `+` etc. can't be referenced since there is no global scope keyword.

E.g. for a variable `foo-1`:

[code]

This can be worked around by nesting the variable:

[code]

[2019-01-07 16:51] rsimha commented on #1347
@dvoytenko @aghassemi @choumx To confirm what's involved here:

- Remove these files:
[code]
- Refactor `build-system/tasks/compile-expr.js` to process all extensions that have the need for `.jison` precompilation, instead of hard-coding the list of extensions that need it

Anything else?

@estherkim, is this something you'd have the time to work on?

[2019-01-07 16:55] #20163 closed

[2019-01-07 16:55] #20162 closed

[2019-01-07 16:59] dianomi-mjs commented on #19951
adding @michael-stevens

[2019-01-07 17:00] choumx commented on #17469
Closing as stale. Layers will also fix this eventually.

[2019-01-07 17:00] #17469 closed

[2019-01-07 17:00] choumx commented on #17629
@alabiaga Can this be closed now?

[2019-01-07 17:15] choumx commented on #18923
@TH-NK-JamesAllis We'll need a URL to a live page that exhibits this error to investigate. Will reopen once it's available.

[2019-01-07 17:18] choumx commented on #19742
Hey @anirudhkhanna, you're correct that `__amp_source_origin` must be URL-encoded (as it's passed via URL) while the header is matched without encoding. This isn't really an AMP bug, so I'm going to close this issue.

Consider trying tech support forums or Stack Overflow for Nginx!

[2019-01-07 17:18] #19742 closed

[2019-01-07 17:31] zobaer99 opened #20168 "Clickjacking: X-Frame-Options header missing"
Hello
I got a clickjacking bug in your Website,sign up Page and Login Panel , about , tools ,docs , etc...

1. First i was visiting your website then i saw your main website are vulnerable to clickjack then i was going to try same thing in your Sing up page then i found that bug again . Then i open notepad and use that following code to confiming that bug :

<html>
<head>
<title>Clickjack test pag

[2019-01-07 17:48] jpettitt commented on #20106
The cache settings for `v0.js` and other AMP js files are intentional. For pages served via the amp cache a versioned js file is substituted and that has a much longer cache lifetime. (`cache-control: public, max-age=31536000`).

The other thing to keep in mind about cache is that browsers that "double key" the cache (Safari, Firefox) will not share a cached js file between pages from differing or

[2019-01-07 17:48] #20106 closed

[2019-01-07 18:08] aghassemi commented on #20168
Thanks @zobaer99.
@pbakaus, any reason to keep ampproject.org embeddable in all iframes? If not, good idea to enforce it.

[2019-01-07 19:02] zobaer99 commented on #20168
It risked to client id. A Clickjacking attack uses seemingly innocuous features of HTML and Javascript to force the victim to perform undesired actions, such as clicking a button that appears to perform another operation. This is a “client side” security issue that affects a variety of browsers and platforms.

[2019-01-07 19:12] mauricionr commented on #11222
i'm getting the user info using `xhr` with `amp-state` and trying to send the `userToken` in `action-xhr` but i can't put the value dynamicaly with `amp-bind`, how can i proceed?

[2019-01-07 19:18] mrjoro opened #20173 "Status Update 2019-01-07"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2019-01-07 19:20] mrjoro commented on #20173
# UI
contact: @aghassemi

## What was accomplished

- Video
  - Launched: `amp-video-iframe` 🎉
  - WIP: video-interface.seekTo()
  - Docking improvements
-  Carousel
  - WIP: comparing base code with V1 features & Writing tests using new infra
  - UX: Carousel interaction spec
-  Infinite Scroll
  - Bug fixes, Docs
  - WIP: validation
-  Functional E2E Testing
  - New to the API (windowSize, scree

[2019-01-07 19:22] mrjoro commented on #20173
# Ads & analytics
contact: @lannka

## What was accomplished

- amp-recaptcha
  - last PR merged
- amp-consent V2
  - Some code refactoring
  - Consent UI in progress
- Amp-analytics
  - Introduced varGroups concept to configRewriter to better support OGT integration
- Bug bash

## What's next

- Amp-consent
  - Major feature code complete
- Amp-recaptcha
  - Validation rule change
  - Integration

[2019-01-07 19:23] mrjoro commented on #20173
# Infrastructure
contact: @rsimha

## What was accomplished

- ~2 dozen fixit PRs merged
- Eliminated several test failures due to new Chrome release
- Added early warning system that runs tests on beta Chrome / FF
- Refactored / cleaned up gulp test
- Single pass fully deployed to production
- More modular AMP release scripts
- RC binaries and version snapshots are now a part of AMP releases
- WI

[2019-01-07 19:32] gmajoulet opened #20175 "Story progress bar improvements."
If a story has a high number of pages, each segment of the progress bar becomes too small to be visually useful, and can almost disappear.

![image](https://user-images.githubusercontent.com/1492044/50789018-024e0d80-1289-11e9-8d7a-e73a0f07b8c9.png)

![progress-bar-25-pages-auto-advance](https://user-images.githubusercontent.com/1492044/50788793-5e646200-1288-11e9-8071-6ee0445417dd.gif)

[2019-01-07 19:56] choumx commented on #3434
Deduping with #14088.

[2019-01-07 19:56] #3434 closed

[2019-01-07 20:06] choumx commented on #1347
Was just re-triaging old runtime issues and noticed this should be "tooling". Note that this is "only" a P3.

[2019-01-07 20:09] rudygalfi commented on #18548
cc @nainar

[2019-01-07 20:10] florance12 opened #20177 "[AMP for WP] ability to add adsense code directly"
## Describe the new feature or change to an existing feature you'd like to see
Adsense ads tab in amp plugin in wp

we would like to be able to add Adsense code to amp page directly from amp c panel in WordPress

## Describe alternatives you've considered
amp for wp plugin
the amp for wp plugin offer this features but it has some problem with google webmaster.
## Additional context
no

[2019-01-07 20:48] cramforce commented on #20064
For single-URL-intent-clicks (click not going to a carousel), the error
isn't shown to users. Instead they are redirected to the origin server.

On Wed, Jan 2, 2019 at 5:37 PM Akash Sant <notifications@github.com> wrote:

[2019-01-07 20:57] jridgewell commented on #16459
We would have to set it to `position: abolute; top: YYYpx`, then transition it to `position: sticky; top: 0px` at just right moment. It's unlikely we'll get a good result, and it'll be very expensive to calculate (this has to happen during scrolling).

[2019-01-07 21:11] choumx commented on #16459
I meant transferring the element and calculating its new position on the post-transfer layer. Though I suppose then we'd need a scrolling "sticky layer" in addition to "fixed layer".

[2019-01-07 21:13] jonkeller commented on #11456
Closed with #20174

[2019-01-07 21:13] #11456 closed

[2019-01-07 21:32] jridgewell commented on #16459
The fixed layer doesn't scroll, all it's contents need to be position-fixed (and on the screen).

[2019-01-07 22:02] choumx commented on #16459
Right, could a "sticky layer" even fix the jitter? Of course, not excited about adding yet another `<html>` sibling for this iOS bug.

[2019-01-07 22:26] cathyxz opened #20180 "[amp-list-load-more] allocates too much height for see-more button"
when amp-list resizes as result of `show-more`, its new height is "load-more-button"'s height too much

[2019-01-07 22:27] cathyxz opened #20181 "[amp-list-load-more] focus is lost after hitting enter on see-more button while tabbing"
focus is lost on see more button (need to keep focus on it for a11y)

[2019-01-07 22:47] torch2424 commented on #19030
@gremz Thank you for the response! Sorry I missed that, I'll go ahead and re-investigate when I can 😄

[2019-01-08 01:01] acsant commented on #20064
@cramforce I'm not sure what you mean by "click not going to a carousel" here. Could you please explain this in a bit more detail and how we could ensure that we follow the correct steps as to not see the error screen? :)  Thanks

[2019-01-08 01:03] jasti commented on #17618
New Requirement from Post Media: Ability to set '‘data-loading-strategy’' value on a campaign basis based on what's returned within the creative from the ad server.

[2019-01-08 01:17] jasti commented on #20152
@glevitzky would you please be able to triage?
CC @keithwrightbos

[2019-01-08 02:31] pbakaus commented on #20168
Just rolled out a fix, good catch, thanks!

[2019-01-08 02:31] #20168 closed

[2019-01-08 02:34] torch2424 commented on #20160
Triaging to @Gregable

[2019-01-08 02:37] torch2424 commented on #20161
Huh I didn't get a CSP Error, just general pertaining to other things:

<img width="1308" alt="screen shot 2019-01-07 at 6 35 51 pm" src="https://user-images.githubusercontent.com/1448289/50806366-1c004c80-12ab-11e9-9748-b1bdbf598364.png">

Also, I noticed you are trying to load Ads? Are you using `amp-ad`?

cc @lannka @zhouyx

[2019-01-08 02:38] torch2424 commented on #20177
Triaging to @amedina , Feel free to re-assign 😄

[2019-01-08 13:39] Praveshmakkpress opened #20184 "design issue of product page"
Hi,

AMP having some issue on products page. product url automatic add on "?amp=1" in the last of product and product design is worsening. if we are remove ?amp=1 from url by manual product design is properly showing.
Please help on this issue. For example like this

https://www.doggyfriend.com/Barbichon-Easy-Step-Cushion_p_13497.html?amp=1

[2019-01-08 13:56] olivier-gnagora commented on #19466
Hi all,
any update on this issue?
Is there none workaround we can use?
thanks.

[2019-01-08 15:25] alabiaga commented on #17629
Yes, closing as this isn't required on their end as discussed with @Enriqe. Thanks

[2019-01-08 15:25] #17629 closed

[2019-01-08 15:51] Enriqe opened #20186 "[amp-story] Position tooltip on touch event, not on element position"
Right now, the tooltip will be positioned on the center of the clicked element. After some publisher usage, we noticed some edge cases where the tooltip position looks weird, even if positioned in the center of the element. We want to change it so the tooltip is positioned wherever the touch event happened.

Example of when the tooltip looks broken when positioned in the center of an element:

![i

[2019-01-08 16:07] michael-stevens commented on #19951
Hi,

We've tried to create a fast fetch implementation as documented at https://github.com/ampproject/amphtml/blob/master/ads/google/a4a/docs/Network-Impl-Guide.md#creating-an-amphtml-ad-extension-implementation

and I have an amp-ad tag that seems to work on a test page served locally from our https://github.com/dianomi-mjs/amphtml fork.

I couldn't find any documentation how to handle the valida

[2019-01-08 16:09] cramforce commented on #20064
If you click a normal search result (not part of a carousel), there should
never be such an error message (in Google, not sure about Bing, Twitter,
etc).

On Mon, Jan 7, 2019 at 5:01 PM Akash Sant <notifications@github.com> wrote:

[2019-01-08 16:31] siddiqrahman opened #20187 "Why bookend tag is not validating for AMP Story?"
i have uploaded bookend json tag for my AMP story page. but its not validating , its showing like this "my Tag 'amp-story-bookend' is disallowed as child of tag 'AMP-STORY (beta)'. Child tag must be one of ['amp-analytics', 'amp-pixel', 'amp-story-auto-ads', 'amp-story-page']"

[2019-01-08 16:41] nainar commented on #15343
@choumx is this something that will benefit from a design discussion to talk about potential security issues here?

[2019-01-08 17:14] choumx commented on #15343
I don't think there are security implications here. It's more of a dev-x trade off between publisher flexibility and validator enforcement of required attributes, etc.

One potential concern is for AMP specs that have extension whitelists. E.g. `amp4ads` spec may not allow extension `amp-foo`, but allowing all `amp-*` tags in triple mustache would bypass this. This is not a problem yet since such

[2019-01-08 17:16] jonchenn opened #20189 "Errors in amp-script live demo"
In the amp-script live demo at https://willchou-misc.firebaseapp.com/, I clicked the button of "insert Hello World' and the console showed the following error:

[code]
I've turned on the amp-script experiments on https://cdn.ampproject.org/experiments.html, and manually turned on amp-script by running AMP.toggleExperiment('amp-script') in the console.

[2019-01-08 17:32] erwinmombay commented on #20142
@cathyxz LOL

[2019-01-08 17:34] aghassemi commented on #20142
@erwinmombay any plans to have a nightly deploy somewhere? http://amphtml-nightly.herokuapp.com has been super useful for verifying fixes and doing demos on latest code

[2019-01-08 17:50] belobrad commented on #20023
Got it--thank you!

It would be great if you could eventually implement this functionality though, resources permitting, as I think it would provide more intuitive UX.

We will probably opt for the regular input field and an adjacent calendar icon button setup in order to retain the instant form validation for the time being.

[2019-01-08 18:09] Gregable commented on #20160
Yes, please take a look at https://github.com/ampproject/amppackager

[2019-01-08 18:09] #20160 closed

[2019-01-08 18:14] everlovingvijay commented on #13451
Is there a way to pass PHP echo function in the AMP targeting parameter. Idea to pass key value of URL, POST ID and Category from the wordpress AMP page:

Sample code:

<amp-ad width=300 height=250
    type="doubleclick"
    data-slot="/21687966607/KontroKultura_AMP2_NOGADS"
    data-multi-size-validation="false"
    rtc-config='{
      "vendors": {
           "criteo": {"NETWORK_ID": "8317", "LIN

[2019-01-08 19:09] acsant commented on #20064
@cramforce I don't think there is a carousel for real estate is there? Here's a screenshot of what we were seeing on using a redirect. The error says "missing attribute with the amp lightning symbol" when we redirected to the canonical instead of returning a valid AMP page.

![image](https://user-images.githubusercontent.com/5479907/50852926-c1600280-1335-11e9-8ad4-287402606ff3.png)

[2019-01-08 20:09] alanorozco commented on #13673
Let's keep it open.

[2019-01-08 20:19] cathyxz commented on #20082
@calebcordry can this issue be safely closed?

[2019-01-08 20:34] brandonmcconnell opened #20194 "[actions] lower default timing of input-throttled and make it customizable"
Feature Suggestion / Improvement: Currently, the only events I'm seeing are tap change and a few other very specific ones like lightboxClose. I'd like to see more events added, such as input. Currently, a field must be exited for the field to make any bind-changes on the page. But for some fields, especially range inputs, I need a label of the range-value to change as the slider is dragged. Simila

[2019-01-08 20:45] cathyxz opened #20196 "🚄Release tracking issue for canary release 1901081935550 (Production)"
# Release tracking issue

- [x] Release [`1901081935550`](https://github.com/ampproject/amphtml/releases/tag/1901081935550) is cut as a new canary release
- [x] Release [`1901081935550`](https://github.com/ampproject/amphtml/releases/tag/1901081935550) pushed to dev channel (5:08 PM, Jan 8, 2019 UTC-8)
- [x] Release  [`1901081935550`](https://github.com/ampproject/amphtml/releases/tag/190108193555

[2019-01-08 20:52] erwinmombay commented on #20142
@aghassemi i think we can move it over to firebase or app engine even.

@lannka where do we have this process running from again?

[2019-01-08 21:12] calebcordry commented on #20082
Yep. Thanks for cleaning up 🙂

[2019-01-08 21:12] #20082 closed

[2019-01-08 21:20] cathyxz commented on #20194
Hi @brandonmcconnell ! Thanks for reaching out. =)

We have both `input-throttled` and `input-debounced` per [amp-actions-and-events.md](https://github.com/ampproject/amphtml/blob/a4bd6008982cfd05747596227020890fa1a39cf9/spec/amp-actions-and-events.md). Do these work for you? If not, why?

[2019-01-08 21:20] cramforce commented on #20064
@ericfs Is it expected that this is shown to users?

Having said that: The redirect is a fallback not design to be regularly used, of course.

[2019-01-08 21:20] choumx commented on #17548
@westonruter Going to merge this with #15583. Thanks for writing up the detailed FR.

[2019-01-08 21:20] #17548 closed

[2019-01-08 21:24] choumx commented on #15583
Combining the FR #17548 with this one. They are two facets of a related topic:

1. Make AMP components function independently without the AMP runtime, e.g. in React.
2. Expose a standard API in AMP components that other frameworks can invoke, e.g. lifecycle callbacks.

[2019-01-08 21:33] acsant commented on #20064
@ericfs That's because we added our own valid AMP page there which redirects the users manually to the canonical

[2019-01-08 21:39] acsant commented on #20064
This one for instance: https://www.google.com/amp/s/www.redfin.com/UT/Millcreek/1161-E-4085-S-84124/home/91760398/amp

[2019-01-08 21:45] acsant commented on #20064
This is what we're doing to get around the error screen (always serving a valid AMP page instead of ever redirecting):
![amp-gif](https://user-images.githubusercontent.com/5479907/50860763-997b9980-134b-11e9-9d27-d42632b20c1d.gif)

[2019-01-08 21:47] acsant commented on #20064
In short, the bug still exists. We just have measures placed on our side to ensure that our users don't ever see that "sad phone error screen"

[2019-01-08 21:47] ericfs commented on #20064
Thanks. I think @cramforce's point is that when Google's AMP Viewer tries to open an invalid AMP document, it is supposed to redirect instead of showing the error pages that are in the screenshot.

Both
https://www.google.com/amp/s/www.redfin.com/UT/Park-City/6434-Silver-Lake-Dr-84060/home/71407701/amp
and
https://www.google.com/amp/s/www.redfin.com/UT/Millcreek/1161-E-4085-S-84124/home/91760398/a

[2019-01-08 21:49] acsant commented on #20064
@ericfs oh yes, I can confirm that it is only shown for an instant. I had to throttle the network speed down to slow 3G in order to capture that error screenshot lol. But still, we just thought that it was confusing from an end user perspective to be seeing that error screen

[2019-01-08 21:50] ericfs commented on #20064
Got it, thanks. That is working as intended, then.

[2019-01-08 22:04] acsant commented on #20064
Out of curiosity, why is that error page shown even for an instant? When I first saw it, it wasn't long enough for me to understand why I was seeing it (it was too fast). Wouldn't it be a smoother experience to just not show it and follow the redirect instead of both? That's just my opinion though

[2019-01-08 22:06] choumx commented on #8017
Closing since this is stale and there's already a (untyped) workaround.

[2019-01-08 22:06] #8017 closed

[2019-01-08 22:15] choumx commented on #14753
@jridgewell Can this be closed now that we have URL as a service? Do we have a cleanup issue for removing `parseUrlDeprecated`?

[2019-01-08 22:17] estherkim opened #20197 "Standardize the location of test files across amphtml repo"
Currently tests exist in `test/unit`, `test/integration`, `extensions/**/test`, and `extensions/**/test/integration`.

The location of tests should be standardized across the repo. One suggestion is to move the test files into the same dir structure (ex: `test/unit/test-3p.js` and `test/integration/test-3p-frame.js` into `3p/`)

This would require
1. Making sure all integration test files start wi

[2019-01-08 22:19] rsimha commented on #19050
Update: According to https://github.com/nodejs/Release, node 8 has entered Maintenance LTS status. The current active LTS is node 10.

I'll send out a PR.

[2019-01-08 22:46] brandonmcconnell commented on #20194
Hi @cathyxz! Thanks so much for the quick response! The `input-throttled` is exactly what I was looking for, but the 100ms delay is still throwing it off a bit. Any way to do away with that delay altogether or lessen it to 25ms-50ms?

[2019-01-08 22:54] choumx commented on #15883
Possibly related: #9177

[2019-01-08 23:01] choumx commented on #16021
Closing as dupe of #16124.

[2019-01-08 23:01] #16021 closed

[2019-01-08 23:31] choumx commented on #17492
Closing as dupe of #10058.

[2019-01-08 23:31] #17492 closed

[2019-01-08 23:49] choumx commented on #15939
I don't think Layers would fix this. We'd probably need IntersectionObserver plus a way to identify AMP elements as being part of animations (or a way for publishers to manually flag such elements).

[2019-01-08 23:57] ericfs commented on #20064
It seems like it may just be legacy reasons. We don't want to slow down the display in the case that the document is not an error, but it should still be possible to avoid showing the error. The internal b/122539181 will track this.

[2019-01-09 00:10] #17024 closed

[2019-01-09 00:13] choumx commented on #9473
This should be fixed now that fixed layer detects `show`, `hide`, `toggle` due to `hidden` attribute mutation observer.

[2019-01-09 00:13] #9473 closed

[2019-01-09 00:48] ericfs commented on #20064
The tracker isn't public, but we can update here.

[2019-01-09 01:17] cathyxz opened #20202 "position-observer unable observe position of element outside the viewport"
Due to https://github.com/ampproject/amphtml/blob/5f75efe35b734a4fcf0884d373315de60cd42df9/src/service/position-observer/position-observer-worker.js#L103-L109

we've programmatically decided to pass a null `positionRect` if the element being observed is outside of the viewport. This makes it impractical to use position observer for observing if the bottom of an infinitely scrolling list is within

[2019-01-09 05:02] leonalicious commented on #19949
@aghassemi any idea when will this be available, please?

[2019-01-09 05:16] aghassemi commented on #19949
@leonalicious sorry this did make it in the last Fix it week, we are doing another week of bug fixes in 2 weeks, so ~4 weeks to prod? (If this is more urgent from your side, please let me know)

[2019-01-09 05:48] leonalicious commented on #19949
actually everything for us is quite urgent, haha.

How about lets treat it as , do you think this bug fixed is risky ? if it is risky, we should take 2 weeks + 2 weeks to ensure its stability, else why let's roll it out earlier ~

[2019-01-09 05:50] aghassemi commented on #19949
I don't think it's risky. It just resourcing and prioritization against other work. We will do our best to get it in soon.

[2019-01-09 08:14] devignerforhire commented on #7806
@aghassemi, I'm working on our new style guide and combining the amp-selector tabs with amp-accordion, but not being able to nest the amp-selector tabs, means I'd need to create an amp-bind/amp-state

[2019-01-09 09:06] steffenweber commented on #10883
@Gregable Do you have new about this issue? Since today, the "update-ping" are not working anymore (404 response). So there is currently no way for me to ping AMP caches about updated URLs.

[2019-01-09 09:38] steffenweber commented on #17534
This issue seems to have been fixed meanwhile.

[2019-01-09 09:38] #17534 closed

[2019-01-09 10:19] jenia2015 opened #20207 "amp-fx-flying-carpet: Jittery in viewer"
Flying Carpet jerks on iPhone when it is delivered from the AMP cache at www.google.com/amp/.
See video example:

![google-amp-flying-carpet](https://user-images.githubusercontent.com/12524738/50892580-29c6e680-13ff-11e9-8e9a-ac1c3e09385e.gif)

Good: https://ampbyexample.com/components/amp-fx-flying-carpet/
Bad: https://www.google.de/amp/s/ampbyexample.com/components/amp-fx-flying-carpet/

Tested

[2019-01-09 10:22] Letushev opened #20208 "How to override `object-fit: contain` for amp-img inside amp-carousel slides?"
I want to create amp-carousel with the slides type. Images should have `object-fit: cover`.
[code]
But images have default `object-fit: contain` property.
`amp-img.cover > img { object-fit: cover }` doesn't work, because `.amp-carousel-slide>.i-amphtml-replaced-content { object-fit: contain }` has more specificity.
I can't use `!important` and `.i-amp-*` rules, because they are forbidden.
Please,

[2019-01-09 10:49] DamonHD commented on #18461
Ahem ... I'm itching to release a small feature that probably no one will ever notice (!), and GSC still says "no" as of a few minutes ago!  Do you have any particular visibility of when these will be really OK in G's index?  B^>

Rgds

Damon

[2019-01-09 12:18] Felixbachmann commented on #17950
This is still an issue that prevents me for using the datepicker on our sites. Would be great if this feature could be implemented.

[2019-01-09 12:47] devignerforhire commented on #9267
I see this is one is marked as fixed, but I'm getting the same behaviour as described in this issue. Amp-img loads fine on the default selected tab, but not on subsequent tabs. Once the browser is resized, the images are loaded. We're on amp 1901021931380.

[2019-01-09 14:39] brandonmcconnell commented on #20194
I don't mind at all @cathyxz! Looks good. Thanks for taking care of that 🙌🏼

[2019-01-09 15:04] cvializ commented on #17950
Thanks for letting us know this is still an important issue for you. Some initial investigation has been done. I assessed the difficulty and learned that it wouldn't be a quick issue to solve, so work is still in progress.

[2019-01-09 15:53] choumx commented on #16322
Still in progress. See PRs above.

[2019-01-09 15:56] choumx commented on #19977
Tracked in DOMPurify: https://github.com/cure53/DOMPurify/issues/312

Just need to upgrade past the patch to fix it AMP.

[2019-01-09 16:06] choumx commented on #19976
@leonalicious Which browser APIs does this robot-detection script depend on? `amp-script` is based on `worker-dom`, which only supports a subset of available APIs.

Would putting the script in an `amp-iframe` work? We also have a new component for a similar feature in `amp-recaptcha`.

[2019-01-09 16:19] gmajoulet opened #20209 "AMP Story page attachment (swipe up feature)"
Implement the `amp-story-page-attachment` component, aka "Swipe up feature".

![drag-release-viewer 2](https://user-images.githubusercontent.com/1492044/50912529-5fb89a80-1400-11e9-9c63-903ef33f1730.gif)

[2019-01-09 16:21] choumx commented on #17994
Either I can't repro this or I don't understand the issue.

amp-bind does set the `required` attribute on the `select` element as expected:

[code]

The form is not submitted when an empty value is selected on the `<select required>` element.

[2019-01-09 16:44] mdiblasio commented on #15343
`<amp-img>` would be a great start as it's likely the most common element that would be dynamically fetched and would satisfy all of the requirements commented in this thread.

[2019-01-09 16:50] gmajoulet commented on #17941
Jon is actively working on this, as part of the media playback reliability milestone.

[2019-01-09 16:53] Gregable commented on #20064
Since this is an internal product issue, closing here on github.

[2019-01-09 17:34] calebcordry commented on #16737
@jeffjose I think that this is complete. I will leave it up to you to close.

[2019-01-09 17:36] calebcordry commented on #17989
closed by #19520

[2019-01-09 17:36] #17989 closed

[2019-01-09 17:56] mrjoro commented on #19774
Cancelling since there are no topics.

[2019-01-09 17:56] #19774 closed

[2019-01-09 18:13] danielrozenberg opened #20212 "Consider installing the `WIP` GitHub application"
App link: https://github.com/marketplace/wip

This app allows contributors to ensure a PR cannot be merged by accident (which happened once or twice in the recent past.) The free plan only supports blocking PRs if the word `WIP` is included in the title, the paid plan allows configuring other words (we often use `DO NOT MERGE`) and labels (we have the `blocked` label for that purpose)

[2019-01-09 18:22] dvoytenko commented on #20136
@prateekbh I'll take a look at this one.

[2019-01-09 18:22] andrewwatterson commented on #20194
I would have guessed that 100ms was reasonably responsive for most applications I can see this being used for (form validation, changing the label on a range slider), but I can also imagine the frustration if that delay were the biggest thing making your app feel slow. :)

So: 👍to making it customizable, but I think 100ms is a reasonable default.

[2019-01-09 18:28] calebcordry opened #20213 "Document more doubleclick features in amp story"
We have a general paragraph describing how to copy attributes from amp-story-auto-ads config to the underlying amp-ad, but we expand on things like RTC config and targeting with examples.

[2019-01-09 18:38] #18548 closed

[2019-01-09 18:39] dvoytenko commented on #20136
@enzo-giancola, the error message is a bit masked, but it appears the underlying error is due to some incompatibility with `amp-experiment` extension in PWA mode. I will dig deeper and try to fix this as soon as I can.

[2019-01-09 19:13] alanorozco opened #20214 "Video docking can't switch between slot mode and corner mode on window resize"
Corner case, but should occur in a lot of cases where slot element is picked based on media query conditions.

/cc @aghassemi @nainar

[2019-01-09 19:18] cathyxz commented on #20208
/to @sparhami /cc @nainar

[2019-01-09 19:23] cathyxz commented on #20184
Hi @Praveshmakkpress,
Apologies but I don't understand what that you are trying to describe is. The link you provided does not link to an AMP page--it seems to be having some issues with jquery. Could you explain what the AMP-related bug is and provide steps to reproduce it?

[2019-01-09 19:42] alanorozco opened #20215 "Video gets undocked to wrong y-position if placeholder is not present in viewport"

[2019-01-09 20:35] sparhami commented on #20208
You could do something like:

[code]

I think two `.cover`s should handle it. If not, you could add a third one. This is something we can look into making easier with the new version of amp-carousel.

[2019-01-09 21:16] gmajoulet commented on #18201
Fixed by #19079

[2019-01-09 21:16] #18201 closed

[2019-01-09 21:28] aghassemi opened #20219 "Upgrade `amp-image-lightbox` to use `amp-lightbox-gallery` automatically"

[2019-01-09 21:51] Bill-SnowWolf opened #20220 "amp-bind: textarea's [text] binding loses focus on input"
## What's the issue?

I'm trying to use amp-state to cache text values for textarea (textarea is inside a form, then inside a amp-list). When amp-list is refreshed by some other reasons, I would like to set textarea text to cached value.

Example: https://jsbin.com/xaxiwod/edit?html,output

I've tried to bind [text] and "on:input-throttled" event to same amp-state, but this will only allow me to t

[2019-01-09 22:09] choumx opened #20224 "FR: Auto-resizing textarea in amp-form"
Would be great to support multiline text inputs that automatically increase in height as the user types.

Context: `b/122451407`

/to @cvializ /cc @aghassemi

[2019-01-09 22:10] torch2424 opened #20225 "Intent-to-implement: Support Third Party AB Testing vendors with amp-experiment"
We should expand the current functionality of AMP experiment to work with third party A/B Testing providers.

**Design Doc is a draft, and only acts as an idea of how this can be implemented. Does not reflect a final idea or stance from AMP as a whole.**

**Last Updated: January 22nd, 2018**

# Project Goal(s)

To expand the current functionality of AMP experiment to work with third party A/B Test

[2019-01-09 22:13] aghassemi opened #20226 "[Master Feature] Launch `amp-date-display`"
This feature allows you to display a time that is local to the user (shown in their timezone) as opposed to a constant timezone as set by the author.

E.g.
3pm Saturday 11th November 2017 (UTC)
Someone in Europe still sees that time but I'd like to show them as 4pm (CET)

or in New York as 10am (EST)

[2019-01-09 22:14] brandonmcconnell commented on #20194
Thanks @andrewwatterson! Yeah, for form field entry, I think it's very reasonable. I've just already implemented on my range slider and there's a really noticeable delay on my end between the AMP version and my live jQuery version when dragging the slider-thumb.

[2019-01-09 22:15] choumx commented on #20220
I think the issue is with the `[text]` binding in your `textarea` element:

1. Input character `x` into the textarea
2. `input-throttled` triggers `AMP.setState({state: {word: 'x'}})`
3. textarea's [text] binding triggers and sets `el.textContent = 'x'`, which causes loss of focus

We can probably fix this. Do you need to have that `[text]` binding on the textarea though?

[2019-01-09 22:18] choumx commented on #20207
@jridgewell Known issue?

[2019-01-09 22:20] choumx commented on #20212
Do you have links to the PRs? I haven't noticed this.

[2019-01-09 22:20] gmajoulet opened #20227 "AMP Story CSS animations very janky in iGSA"
1. Open any AMP Story in iGSA (ie: the Lebron James Google Stories story)
2. Notice how the progress bar is flickering on the pages that have a `auto-advance` mode
3. Notice how the bookend opening animation is not as smooth as in a regular browser

## What browsers are affected?

iGSA

[2019-01-09 22:30] gmajoulet commented on #20187
Are you still using the `amp-story-0.1.js` or are you using the version `1.0`?
Adding that `amp-story-bookend` tag is only available with `1.0`.

If you need help with migrating your code, [here's the documentation](https://www.ampproject.org/docs/reference/components/amp-story#migrating-from-0.1-to-1.0).

[2019-01-09 22:36] gmajoulet commented on #15845
Actual implementation is tracked here: #20209

[2019-01-09 22:39] danielrozenberg commented on #20212
The only one I remember is #19865, except that we never applied the [blocked] label to it :roll_eyes:

[2019-01-09 22:41] AndrewKGuan commented on #13491
Hi Nainar,
should I file an FR/bug for cursor movement?

[2019-01-09 23:02] cramforce commented on #20212
Doesn't our presubmit cover this already?

[2019-01-09 23:08] rsimha commented on #20212
`gulp presubmit` does cover `DO NOT SUBMIT`, but only when it is a part of source code. (It could be made to include `DO NOT MERGE` and `WIP`.)

https://github.com/ampproject/amphtml/blob/d17f36fe794ec43b8ff2fad964c041da839a5b98/build-system/tasks/presubmit-checks.js#L45-L47

I think the desire here is to block PRs based on the description text. I wonder how many people actually use the descriptio

[2019-01-09 23:21] torch2424 commented on #20113
I would like to present an update to amp-experiment to support Third Party AB testing providers. Intent to implement: #20225

[2019-01-09 23:31] acsant opened #20234 "`amp-lightbox-gallery` slides are very janky"
## What's the issue?
Image slides on the `amp-lightbox-gallery` are janky

## How do we reproduce the issue?

1. Go to https://www.google.com/amp/s/www.redfin.com/UT/Salt-Lake-City/1616-Federal-Pointe-Dr-84103/home/91713798/amp
2. Open the lightbox gallery in full screen and swipe through photos

![ampmblbgexp](https://user-images.githubusercontent.com/5479907/50936223-a370cb80-1423-11e9-9f77-7d56

[2019-01-09 23:32] nainar opened #20235 "[MASTER FEATURE] amp-video docking"
A UI by which if video is playing, scrolling down the page minimizes and moves the video to the corner.
When scrolling back again, video maximizes and takes it original space.
The minimized video can be moved around by the user as well.
A dismiss affordance will also be supported.

More details and discussions here: #8088

cc @aghassemi @alanorozco

[2019-01-09 23:33] trjones1 commented on #11222
I'm using the Load More button in a form in order to grab the next page of results and update the listing. This works by itself. When filtering, the `action-xhr` will need to change to reflect the user's selection. So currently the next page will be the unfiltered dataset.

I was able to overcome this by using another amp-list element, and `setState `on a `tap:` event.

[2019-01-09 23:40] nainar opened #20236 "[MASTER FEATURE] auto lightbox <amp-img>"
Currently developers can mark an `<amp-img>` to be lightboxed by adding the `lightbox` attribute to it.

We should be able to (following some heuristic) auto-lightbox some images in a page. For e.g. all images in an article, images in a recipe.

cc @ampproject/wg-ui

[2019-01-09 23:43] nainar opened #20237 "[MASTER FEATURE] New default loaders for AMP"
New loaders that indicate an image or embedded feature is loading will be utilized in AMP and are in the process of being built. A current 3-dot loader exists. This issue also encompasses the research  necessary to determine whether redesigns will be received favorably by comparison.

cc @aghassemi @andrewwatterson

[2019-01-09 23:49] choumx commented on #20220
Oh I think I understand your use case. Should be a quick patch.

[2019-01-09 23:53] #17706 closed

[2019-01-10 00:16] dvoytenko commented on #19019
@justforfun @prateekbh I see. Looking...

[2019-01-10 00:37] dvoytenko commented on #19019
@justforfun I think I now see what you mean, but could you please confirm: you're clicking on a SwG offer which pops up the Google payments screen, but you are not seeing the associated event for this. Correct?

If so - I can clearly see that SwG payments screen is not logged in analytics. I can add these events quickly. But please confirm to be certain.

[2019-01-10 00:46] cgdev332 commented on #15007
Is there an update for this...

[2019-01-10 01:09] siddiqrahman commented on #20187
@gmajoulet Which is latest? am using 1.0

[2019-01-10 01:43] cathyxz opened #20241 "[amp-lightbox-gallery] panning a zoomed image causes carousel swipe"
Repros on ABE: https://ampbyexample.com/components/amp-lightbox-gallery/.

[2019-01-10 02:22] torch2424 commented on #19393
Closing this as everything has been merged in! 🎉 😄

[2019-01-10 02:22] #19393 closed

[2019-01-10 03:01] leonalicious commented on #19976
Based on what I can tell from what we are missing is `navigator`.

amp-iframe is something async and I personally think it will not work, maybe worth to give a try

[2019-01-10 03:43] Bill-SnowWolf commented on #20220
awesome thanks.

[2019-01-10 06:32] justforfun commented on #19019
Hi I confirm and I don’t even see any event related to the outcome of the payment

Inviato da iPhone

[2019-01-10 06:41] Praveshmakkpress commented on #20184
Hi @cathyxz ,
Apologies for this. We have use some script for this because it is live site and design is showing worse. And my script is replace "?amp=1" from the complete url and redirect to own url. if you can do work on this we have give you multiple url include amp below.

https://www.doggyfriend.com/Barbichon-Easy-Step-Cushion_p_13497.html?amp=1
https://www.doggyfriend.com/Siso-Play-Mcdonalds

[2019-01-10 09:20] rahulbgpandey opened #20244 "Need page to auto scroll and redirect to a page after amp-date-counter timeout"
## Describe the new feature or change to an existing feature you'd like to see

I have a requirement that we have a single page application in which we show top of the page and have a form under it, which should scroll up after 10s of page loading (only if page is not scrolled manually or scroll button is not clicked). also after a form submission we show a popup which have counter after counter e

[2019-01-10 12:07] Letushev commented on #20208
Thanks. It works

[2019-01-10 12:20] gui-poa commented on #19023
Hi @prateekbh . If I understood correctly, both amp-install-serviceworker and amp-web-push, now accept the param data-scope. You just need to update the doc, right?

[2019-01-10 12:22] 4tek opened #20246 "Google Ads denied the correct AMP ad"
Hi guys,

has anyone had a problem with the new Google Ads account refusing valid AMP ads?

When you try to upload your ad, the system displays an error message that this is an HTML5 ad.
The ad is done in Google Web Designer and passes the AMP4ADS test correctly on the page with the validator.
**The most important thing is that the ad loads correctly in other Google Ads accounts.**
I am convinced

[2019-01-10 12:32] gui-poa commented on #14802
There are a lot of publishers using FCM and getting more and more AMP pageviews. I believe this is a key issue to eliminate barriers between AMP and non-amp pages.

@micyeung did you use a workaround in the meantime?

[2019-01-10 14:17] gilbertococchi commented on #14418
I think this is closed based on [#19915](https://github.com/ampproject/amphtml/pull/19915)

[2019-01-10 14:17] #14418 closed

[2019-01-10 14:51] #20046 closed

[2019-01-10 15:16] jpettitt commented on #20246
This is outside the scope of amphtml - if it passes validation and the ads system won't take it your best bet is to follow their support protocol (sorry I'm not familiar enough with their support options to give specific advice).  There is nothing we can really add to this.

[2019-01-10 15:17] #20246 closed

[2019-01-10 15:24] jpettitt commented on #20208
As a general rule you can fake `!important` by bumping the specificity with id's:

So
[code]
becomes
[code]
Generally adding two id's is enlough but you can add more `:not(#X)`'s if you need to.

[2019-01-10 15:37] gmajoulet commented on #20187
`1.0` is the latest version, you're right :)
If you fix the first warning, your validation issue goes away.

Please update your `<amp-story>` tag to remove the `bookend-config-src`, and add the required attributes, like this:

[code]

Feel free to reopen the bug if it doesn't work!

[2019-01-10 15:37] #20187 closed

[2019-01-10 15:50] #19473 closed

[2019-01-10 15:52] aghassemi commented on #14802
Good one to keep track for ecom @nainar

[2019-01-10 16:20] siddiqrahman commented on #15845
@gmajoulet can i use this feature for my amp-story-page? has it updated?

[2019-01-10 16:23] choumx commented on #20184
Still don't see AMP in those pages. Please follow the bug filing steps to clearly explain and outline reproduction steps: https://github.com/ampproject/amphtml/blob/master/.github/ISSUE_TEMPLATE.md

[2019-01-10 16:23] #20184 closed

[2019-01-10 16:35] leonalicious commented on #14060
![ezgif-2-ecdc355f95d3 1](https://user-images.githubusercontent.com/4065175/50976614-63950b80-152b-11e9-93bb-d2189e51c08e.gif)

hey @cathyxz , sorry for the delay and I have tested it on our use case and it works! but throughout the development, I wanna to share some of my thoughts with you, listed as below:

1. Here is some little background, because of the complicated business requirements, we a

[2019-01-10 16:47] gmajoulet commented on #15845
We're still working on the implementation, and are aiming to have it available at the end of this quarter. You can follow the linked bug for more updates: #20209

[2019-01-10 17:10] glevitzky commented on #20152
Looking into this now.

[2019-01-10 18:29] lannka opened #20252 "Change rethrowAsync()'s behavior in test mode"
To follow the conversation [here](https://github.com/ampproject/amphtml/pull/20233#issuecomment-452918331)

Can we change `rethrowAsync` to `console.error()` +  `reportErrorToServer()`

/cc @erwinmombay @jridgewell @dvoytenko @choumx @rsimha

[2019-01-10 18:31] choumx commented on #16124
Aaron, would you mind taking a crack at these two flaky tests? I've noticed them a lot recently on master and PR builds.

Recent failure on master: https://travis-ci.org/ampproject/amphtml/jobs/477890970

[code]

[2019-01-10 18:40] zhouyx opened #20253 "Introduce an easy way to block components by amp-consent"
This is part of the amp-consent-v2 work. We need a feature to block all amp-ad components on the page in an easy way. So that CMP can manage all ads on the page.

Approach 1: Block all `<amp-ad>` components on the page if there's `<amp-consent type='cmp_name'>` on the page.
- Pro: Requires minimal work for the publisher if they use CMP to manage consent
- Con: Introduces extra delay to every `<amp

[2019-01-10 18:43] danielrozenberg commented on #20212
Sounds like there's not a lot of interest in installing an app for this. Closing this issue - we can revisit this in the future if that becomes a real problem and we don't want to solve it using pr-check.

[2019-01-10 18:43] #20212 closed

[2019-01-10 18:54] zhouyx commented on #17742
Hi all, Happy New Year.

We're close to the code complete of the feature on AMP side. Would like to look for early adopters who would integrate with us. Please let us know if you're interested.

Implementation Progress from AMP

- [x] Stored consent string
- [x] Cmp configuration integration
- [x] Consent-response API to pass consent string back to AMP runtime
- [x] Render iframe provided by cmp t

[2019-01-10 18:57] jawadst commented on #17742
@zhouyx Happy to start the integration with the Didomi CMP whenever you are ready. Do you plan to release a test version before the final production release?

[2019-01-10 19:08] jridgewell commented on #20252
Copying @dvoytenko's https://github.com/ampproject/amphtml/pull/20233#issuecomment-452921216:

@rsimha Not sure if this is the best forum for `rethrowAsync` discussion, but to kick it off. The original intent with `rethrowAsync` was this: "Don't block the code, but still treat it as an error downstream, including reporting to console, analytics services, diagnostics logging". I realize that it cau

[2019-01-10 19:09] jridgewell commented on #20252
I'm also supportive of `rethrowAsync`, for exactly the reasons @dvoytenko's has above.

[2019-01-10 19:11] lannka commented on #20252
Right, I do see the value of throwing an error (stack trace etc).

Can you explain what `logging packages` is?

[2019-01-10 19:15] #20220 closed

[2019-01-10 19:21] jridgewell commented on #20252
`src/log.js`

[2019-01-10 19:39] lannka commented on #20253
Approach 2 is essentially splitting the amp-consent config into 2 parts, one in document head one in amp-consent element. The one in document head can be used by any other extensions on the page without waiting for amp-consent to load. I think this is the right way to go.

[2019-01-10 19:49] dvoytenko commented on #19019
Fix is in #20257.

[2019-01-10 19:57] jridgewell commented on #20207
Hmm, probably a change in iOS 12 that caused the CSS/GPU hack to stop working.

[2019-01-10 20:00] jridgewell commented on #20207
Page scrolling itself is not affected, just the presentation of the flying carpet. There's probably nothing we can do to fix at this point, FixedLayer transfer isn't an option here. Just have to wait for Apple to fix their shoddy iframe scrolling.

[2019-01-10 20:13] jpettitt commented on #20253
What about other components that can have ads or handle PII? `amp-iframe` and all of the video components that can carry preroll, twitter, FB, instagram et al.  You only mention `amp-ad` in # 1 and # 2 implies more than `amp-ad` but isn't specific, an example or two would help.

[2019-01-10 20:32] jasti commented on #20253
Based on the AMP principle: the user experience > developer experience > work we have to do. This seems to fall under the user experience bucket because we want to load the ads as quickly as possible without waiting for build callback. Option 2 SGTM.

[2019-01-10 20:47] cvializ commented on #20224
I could see this being a good size and priority for a fixit. Lmk if that's not accurate in your view

[2019-01-10 20:54] #20146 closed

[2019-01-10 21:11] alanorozco commented on #15795
Closing since `amp-video-iframe` has been released. Please ping this issue if you still wish to create an additional component.

[2019-01-10 21:11] #15795 closed

[2019-01-10 21:18] aghassemi commented on #20244
@rahulbgpandey Unfortunately both of these use-cases are not aligned with AMP's UX principles and therefore not possible. We do not allow disruptive UI changes (redirects, content shifting, popups, etc..) without an explicit user action.

[2019-01-10 21:28] curseagain opened #20259 "Add prebid to amp-ima-video via rtc-config"
## Description

Real Time Config was recently added to the `amp-ad` element via the `rtc-config` attribute.  We would like to enable prebid for video ads as well.  Possible to add the `rtc-config` attribute to the `amp-ima-video` element?

## Additional Context

- [Vamsee's RTC Config blog post](https://medium.com/ampfuel/better-than-header-bidding-amp-rtc-fc54e80f3999)
- [AMP Real Time Config Wit

[2019-01-10 21:30] aghassemi commented on #19570
@pbakaus put it on top of my list for next week. ETA: in prod 29th?

To clarify, the item that needs to be scrolled to is inside the sidebar, correct?

[2019-01-10 21:34] #19019 closed

[2019-01-10 21:37] Enriqe opened #20260 "[amp-story] Allow more parameters in zoom/pan animations"
Right now we only allow publishers to specify an `animate-in-duration` and `animate-in-delay`. The duration allows us to control the speed of the animation but not the position.

Our new proposal is to expose the start/end arguments of the zoom and pan animations:

e.g.

Scales the image from 1x to 3x over 4 seconds:
`animate-in="zoom"` `animate-in-duration="4s"` `scale-start="1"` `scale-end="3"`

[2019-01-10 21:58] torch2424 commented on #20259
@curseagain Thanks for making this! Assigned this to both of us.

cc @jasti @lannka

Let me know If this has any large implications on the extension, or if it would be a simple implementation on our end. Thanks!

[2019-01-10 22:09] Gregable commented on #20092
It's marked on [developer.mozilla.org](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke-color) as:

However the browser compatibility matrix at the same URL shows broad compatibility, so I don't see any strong reason for AMP to have an opinion on it, and so we should probably allow it, along with `text-fill-color`, `text-stroke-width`, and `text-stroke`.

@stephengardner would

[2019-01-10 22:23] cathyxz commented on #20202
Cool. Thanks a lot @zhouyx for the quick response and offline followup. Circling back here, the solution we ended up with (#20230) is to register a `viewport.onScroll` callback and measure the position of the out-of-viewport element with `viewport.getClientRectAsync`. This has the added benefit of being a lot less expensive, since this use case doesn't actually require a measurement every single a

[2019-01-10 22:23] #20202 closed

[2019-01-10 22:58] cathyxz commented on #10230
Just a call out to those following on this thread. We've now had this feature in experiment for a month now in canary. The main feedback I've gotten is the verbosity (which we can work on in future iterations), but so far it seems to unblock everyone that has tried it and doesn't seem to break anyone. I'd like to go ahead and launch this in the Jan 15th release if there are no objections.
Cheers,

[2019-01-10 22:58] #19968 closed

[2019-01-10 23:03] trjones1 commented on #14060
@cathyxz Are we still to be expecting this release Mid-January? Currently validation fails while using this experimental feature.

[2019-01-10 23:19] choumx commented on #10230
Did I miss the bikeshed party? 😅 How about `containerize` action and `[container]` binding?

[2019-01-10 23:53] cathyxz commented on #14060
The validation PR is here: https://github.com/ampproject/amphtml/pull/20094. It will be the second to last PR to merge (last PR will be turning on the experiment flag). Feature and bug-wise, I think we don't have anything launch-blocking left after https://github.com/ampproject/amphtml/pull/20230. But this is all subject to QA that we're currently doing as well as feedback from people on this thre

[2019-01-10 23:57] choumx commented on #10705
Deduping with #16769.

[2019-01-10 23:57] #10705 closed

[2019-01-11 00:00] cathyxz commented on #10230
That's exactly what I proposed, but it lost the vote.... =(

[2019-01-11 00:01] choumx commented on #19976
Cool, let us know if `amp-iframe` doesn't work!

[2019-01-11 00:05] choumx commented on #19435
This is an interesting enhancement for `amp-action-macro`:

[code]

[2019-01-11 00:07] choumx commented on #19017
Sorry guys, it's still not clear to me what the issue is.

[2019-01-11 00:07] #19017 closed

[2019-01-11 00:11] zhouyx commented on #20253
Thank you all for the feedback. I'll go with Option 2. To introduce a new meta tag that the publisher can include in the page header to block AMP components.

@jpettitt made a good point that we need to provide more flexibility to the publisher. So that they can specify which components they want to block.

I propose we make the meta tag content customizable. The publisher can define which AMP com

[2019-01-11 00:12] choumx commented on #17998
Closing as stale. If this is still an issue, please share a reproducible example and we'll reopen. Thanks!

[2019-01-11 00:12] #17998 closed

[2019-01-11 00:13] choumx commented on #10053
These tests are running on SL.

[2019-01-11 00:13] #10053 closed

[2019-01-11 00:14] choumx commented on #15816
amp-list has a few integration tests now, though they haven't replaced the unit tests.

[2019-01-11 00:14] #15816 closed

[2019-01-11 00:15] aghassemi commented on #10230
No promises but we hope we can just support `<amp-list layout=container>` in V2 of `amp-list` (with enough restrictions to make the content shifting case very unlikely and automatically handling the case where overflow happens with some default UI)

[2019-01-11 00:16] choumx commented on #16012
This was implemented in #18836.

[2019-01-11 00:16] #16012 closed

[2019-01-11 00:20] choumx commented on #16411
I reread this a few times again and I'm still not sure what the intent of this FR is.

Can you clearly describe your high-level use case? Then we'll reopen the issue.

[2019-01-11 00:20] #16411 closed

[2019-01-11 00:34] twifkak commented on #10883
@steffenweber It appears that, yes, you should be able to mix your original query parameters in with the update-cache parameters. If any of them share the same name, make sure the original values appear after the update-cache values, like `?amp_ts=<the value update-cache uses>&amp_ts=<your original value>`. I'm not sure what happens if your original URL has some unusual query serialization like `?

[2019-01-11 00:34] choumx commented on #13267
amp-list has developed a lot since this discussion and is shaping up for a V2 soon. Going to close this issue as stale.

[2019-01-11 00:34] #13267 closed

[2019-01-11 00:38] choumx commented on #14637
Sorry it took so long to respond to this.

This somewhat bends the semantics of amp-bind not executing on page load. Plus, there would be a race between form submission and `amp-bind` initialization (unless we chose not to override user selection, which is even more bendy).

IMO we should use a different mechanism for interaction between amp-form and amp-geo.

[2019-01-11 00:40] zhouyx commented on #20253
We could expand the `content` value upon further request, if the publishers want to select ads of certain type.

@lannka concerns that the publisher can forget the meta tag when using CMP.

@Gregable @honeybadgerdontcare Is it possible to force the following rule with validator?
When `<amp-consent>` has a `type` attribute,  `<meta name="amp-consent-block" content="">` must be included in the heade

[2019-01-11 00:47] choumx commented on #4020
This is now implemented with `.i-amphtml-blurry-placeholder`.

[2019-01-11 00:47] #4020 closed

[2019-01-11 00:55] dryleaf opened #20267 "Does amp-access authorization endpoint request sends the original reader's user-agent?"
Not a well structured ask, but here's my concern in the form of a question.

I am trying to attempt a solution to display ads based on the device type, respectively:
- iOS
- Android

For example if the `amp-access` is as follows:
[code]
→ reference: https://www.ampproject.org/docs/interaction_dynamic/login_requiring/login

When I receive the `authorization` request on my server, can I be certain t

[2019-01-11 00:55] honeybadgerdontcare commented on #20253
@zhouyx 	Yes and no.

There isn't anything within an AttrSpec that would require another TagSpec (outside of extensions). However, this is possible to do on the TagSpec.

To accomplish this and allow `<amp-consent>`s without `type` attribute, then there will need to be two TagSpecs. One without the `type` attribute and another with the `type` attribute set as `mandatory`. Then that second TagSpec

[2019-01-11 01:01] zhouyx commented on #20253
Thank you @honeybadgerdontcare. One question, if we use two tagSpecs, can we still enforce only one `<amp-consent>` element on the page?

[2019-01-11 01:09] honeybadgerdontcare commented on #20253
@zhouyx 	Yes! Both can have `unique: true` set on them. What the validator does is it looks for the best matching validator rule to apply and applies that rule. So if the document does not have the `type` attribute present, it will apply the TagSpec without the `type` attribute.

[2019-01-11 01:09] cathyxz commented on #17406
Reopening this bug as it occurs when the `reset-on-resize` attribute is added.

[2019-01-11 01:40] #19969 closed

[2019-01-11 02:36] torch2424 commented on #20267
Triaging to @dvoytenko , feel free to re-assign 😄

[2019-01-11 04:59] siddiqrahman commented on #20209
@gmajoulet How to get this code? Could you help me to implement this feature for my story

[2019-01-11 05:16] siddiqrahman commented on #20187
@gmajoulet  i am attaching the code given below, kindly check the code is wrong or not. let me know how to add exact code..
<body>
          	<amp-story-page id="cover" >
          	    <amp-story-grid-layer template="fill">
				<amp-img src="title.png"
					width="720" height="1280"
					layout="responsive">
				</amp-img>
				</amp-story-grid-layer>
			<amp-story-grid-layer template="thirds">

[2019-01-11 08:45] rahulbgpandey commented on #20244
@aghassemi is there any workaround ? we can do to achieve this.

[2019-01-11 09:45] kode8 commented on #12279
Wow I can't understand why this is so f__king difficult to do, not impressed at all.

[2019-01-11 10:32] steffenweber commented on #10883
@twifkak Thank you for helping! :)

So if I understand you correctly, then the request

https://www-computerbase-de.cdn.ampproject.org/update-cache/c/s/www.computerbase.de/2019-01/nvidia-geforce-rtx-2060-test/?amp=1&amp_action=flush&amp_ts=1547202530&amp_url_signature=jqByqDsupw6-WfZZpnltbW6MV6rifWzSTmHbkYgBmt_Z_vOLUhCGB0MLYtX_GTtA6e_YjpIgbve__ZQWJtUA_9A3WsO-pifu4U0R8lLlprguOoHr6smgIq-7V5aB5CL4lRj

[2019-01-11 10:36] sebastianbenz commented on #4853
Hey @torch2424 are there any updates on this? It'd be really fantastic to have this available for amp.dev.

[2019-01-11 13:18] santoshkjena opened #20269 "Amp cache purge API issue"
We are using AMP cache purge API from google to purge any URL from google amp cdn but this is not working .
 Below is the code showing the way we are executing the API .
[Code here](https://github.com/santoshkjena/ampcachepurgeissue/blob/master/amp_cache_update.php )
Please find the curl command screenshot  (showing the response headers and body) link  below
[screenshot   here](https://github.com/

[2019-01-11 14:26] morsssss opened #20270 "Validator crashes after finding errors"
## What's the issue?

On more than one occasion, I've seen the validator crash when it hits validation errors.

## How do we reproduce the issue?

Here's one sample of the output:
[code]
## What browsers are affected?

All

## Which AMP version is affected?

All

[2019-01-11 14:41] jaygray0919 commented on #10230
Per previous threads, we request that the `<amp-list>` be generated as a `<span>` object, not as a `<div>` object.
While some have suggested that CSS can be used to keep 2+ `amp-list`s together in a `<p>`, we cannot reliably and consistently achieve that use case.
We have several cases where a single paragraph uses different amp-lists.
An example is several tool-tips used within paragraph, as seen

[2019-01-11 16:03] #16183 closed

[2019-01-11 16:12] choumx commented on #16572
Closing now that Chrome 69 has been out for awhile.

[2019-01-11 16:12] #16572 closed

[2019-01-11 16:44] gmajoulet commented on #20209
We merged the first PRs but the feature won't be available before a few weeks of polishing/testing. You can monitor this issue, it'll most likely be available once we close it and add some documentation.

[2019-01-11 17:00] andrewwatterson opened #20271 "amp-accordion: Accordions containing images don't animate open"
https://ampbyexample.com/components/amp-accordion/

In the "Animated Accordions" section:
1. Click "Section 2"
Expected: Section 2 smoothly animates open like Sections 1 and 3 do
Actual: Section 2 snaps open after a perceivable pause

Observed on Chrome 71 and AMP 1901021931380.

[2019-01-11 17:04] andrewwatterson opened #20272 "amp-accordion: Animated accordions containing images distort the image on collapse and don't animate on open"
## 1
https://ampbyexample.com/components/amp-accordion/

In the "Animated Accordions" section:
1. Click "Section 2" to expand
2. Click "Section 2" to collapse
Expected: Bottom border of section progressively covers image content until section is fully collapsed
Actual: Image aspect ratio changes to fill new section size, making image distorted and looking terrible.

Observed on Chrome 71 and AMP 1

[2019-01-11 17:12] choumx commented on #18958
`<use>` isn't supported by default in DOMPurify: https://github.com/cure53/DOMPurify/blob/303db0fc57bef5dee115135a1e9d022a41c1041c/src/tags.js#L126-L173

We'd need to allow it in our custom hook, e.g. https://github.com/cure53/DOMPurify/issues/233

[2019-01-11 17:19] DamonHD commented on #18461
\o/

GSC is apparently now happy with details/summary.  I have unleashed the hounds.  Well, a auto-ToC...  %-P

Thanks again,

Damon

[2019-01-11 17:20] choumx commented on #18549
Sorry forgot to respond. I took a look at these issues.

This hasn't changed recently -- `<select [disabled]="foo.bar">` was added over a year ago. Might be a new browser?

In the second case, it looks like the `href` attribute has an unexpected curly brace:

[code]

Should be using `href={{...}}` since attribute calculation is not allowed by the AMP validator: https://github.com/ampproject/amphtm

[2019-01-11 17:20] #18549 closed

[2019-01-11 17:47] gmajoulet opened #20275 "Can't run gulp pr-check --nobuild"
All my software (node/gulp/yarn) is up to date and I'm on an up to date master branch.

When trying to run `gulp pr-check --nobuild`, I get the following error:

[code]

Please let me know if I can help in any way!

[2019-01-11 18:01] zhouyx commented on #20253
Great! Thank you @honeybadgerdontcare. I'll try that.

[2019-01-11 18:01] honeybadgerdontcare commented on #20270
There are multiple ways to call the validator. Could you elaborate your setup and also include the html that eventually causes it to fail like this?

[2019-01-11 18:06] #20136 closed

[2019-01-11 18:54] choumx commented on #19189
Closing as dupe of #19494.

[2019-01-11 18:54] #19189 closed

[2019-01-11 19:09] torch2424 commented on #4853
@sebastianbenz My apologies! Wasn't sure if the iframe solution would suffice or not. I will pass this around the team in mountain view, and see if we can get some traction on this 👍

[2019-01-11 19:17] choumx commented on #19615
This is similar to #17194. Due to DOM streaming, sometimes the `TreeWalker` is constructed while the body is incomplete. Need to wait for document ready.

[2019-01-11 19:17] choumx commented on #19615
This is similar to #17194. Due to DOM streaming, sometimes the `TreeWalker` is constructed while the body is incomplete. Need to wait for document ready.

[2019-01-11 19:56] rsimha commented on #20275
@danielrozenberg recently changed this in #20256

[2019-01-11 20:00] helin24 opened #20279 "Add tracking of article reading progress"
We'd like to track the latest paragraph a user has read in an article and send this information to a server.

Originally we planned to add this to the amp-access-scroll extension:
https://github.com/ampproject/amphtml/pull/20222

@cramforce

[2019-01-11 20:05] danielrozenberg commented on #20275
Taking a look…

[2019-01-11 20:08] calebcordry opened #20280 "✨Introduce `varGroups` to config rewiter"
`varGroups` is a feature designed for `configRewriter` which allows publishers to opt in to a predefined set of variables using a simple API

Vendor API
[code]
Publisher API
[code]
Payload
[code]

- [x]  Write integration test to cover existing configRewriter logic (#20251)
- [x]  Introduce new varGroups logic (#20190)
- [x]  Complete documentation (#20295)

[2019-01-11 20:14] twifkak commented on #10883
@steffenweber Yes, that's correct.

[2019-01-11 20:25] Enriqe commented on #17312
Closing since I think this is fixed by some recent UI changes we've made. Let me know if the problem still persists and I'll reopen.

[2019-01-11 20:25] #17312 closed

[2019-01-11 20:34] Enriqe commented on #19697
We ended up not using this experiment.

[2019-01-11 20:34] #19697 closed

[2019-01-11 20:35] Enriqe commented on #19697
We ended up not launching this experiment. Closing.

[2019-01-11 20:44] #20275 closed

[2019-01-11 20:46] aghassemi commented on #20241
looks like a regression, I do remember testing this case. Setting as P1

[2019-01-11 20:50] aghassemi commented on #20234
@nainar @sparhami Carousel v1 bug, looks pretty bad, we should fix this before v2. Putting on next fixit.

[2019-01-11 20:53] jpettitt commented on #20267
Yes the request is directly from the user to the endpoint

[2019-01-11 21:04] jpettitt commented on #20267
I think you can do what you want with CSS - see https://stackoverflow.com/questions/30102792/css-media-query-target-only-ios-devices

[2019-01-11 21:12] cramforce commented on #20279
Does element visibility trigger doe this:
https://www.ampproject.org/docs/reference/components/amp-analytics#page-and-element-visibility-trigger

[2019-01-11 21:13] rudygalfi commented on #4853
cc @nainar - can you investigate prioritization?

[2019-01-11 21:34] sparhami commented on #20234
I notice some minor jankiness, both on stable and dev channel, (e.g. the white flashing borders) when trying to reproduce, but not the slides skipping issue. I tried Chrome 71/72 as well as they layers experiment with the same results.

@acsant I have a couple of questions: What version of Chrome are you running? Do you notice this on a specific mobile device, desktop with devtools or both?

[2019-01-11 21:51] acsant commented on #20234
One of the devices that we tested on had the chrome version 71.0.3578.99 (Android 8.1 Galaxy Note 9) and (One Plus 5 Android 9). I've also seen this on dev tools when you swipe the images slowly. But it's very obvious on the actual devices. I would try to swipe really slow and then really fast and the jankiness becomes obvious. Sometimes the photo loads on the top of the screen and moves down to t

[2019-01-11 21:54] torch2424 opened #20286 "amp-video-iframe: Reference documentation missing copyright"
https://raw.githubusercontent.com/ampproject/amphtml/master/extensions/amp-video-iframe/amp-video-iframe.md

Example: https://raw.githubusercontent.com/ampproject/amphtml/master/extensions/amp-gist/amp-gist.md

[2019-01-11 22:02] acsant commented on #20064
Hello! Any updates on this? Just trying to figure out how this is going to play into our timeline.

[2019-01-11 22:03] torch2424 commented on #4853
I'll let @nainar investigate/prioritize this. Feel free to reach out to me on this topic, I actually made an extension for this about a year and a half ago, so before we start implementation perhaps we can possibly re-use some of that code (probably not though).

Thanks for catching this @rudygalfi ! 😄

[2019-01-11 22:07] helin24 commented on #20279
Partially, but we'd like to trigger based on many elements in the page (i.e. all paragraphs) and it looks like element visibility is intended for single elements. Is there a way to modify the usage of element visibility to fit our use case, though?

[2019-01-11 22:08] cathyxz commented on #10230
Hi @jaygray0919 thanks a lot for your comments, but they seem parallel to this issue. I'm aware of issues you have with trying to implement a tooltip experience via amp-lightbox and I know that we have https://github.com/ampproject/amphtml/issues/8366. But I'm missing a bit of context on trying to produce tooltips with `<amp-list>`. Do you mind tagging me on the relevant issue(s), or filing a sepa

[2019-01-11 22:09] cramforce commented on #20279
@helin24 I'd certainly be open to allow the selector to match multiple elements and having the match element as a variable.

CC @jeffjose @zhouyx

[2019-01-11 22:09] #17406 closed

[2019-01-11 22:13] dryleaf commented on #20267
@jpettitt
Am I wrong in assuming that the `Authorization` request parameter is the first to be called by amp-html so that the reader is rendered a view of what he is allowed to see according to his permission?
->reference: [Authorization Endpoint](https://www.google.com/amp/s/www.ampproject.org/docs/reference/components/amp-access)

If I am can be certain that the actual reader's user-agent is sen

[2019-01-11 22:13] cathyxz commented on #20241
I think I know why and will probably have a fix for this before the next canary cut.

[2019-01-11 22:33] torch2424 commented on #8841
@aghassemi @jasti Is it alright if I close this?

We've made a bunch of improvements to ima-video, and we've determined we can't use native controls. But implemented all the needs that were asked by own custom player.

[2019-01-11 22:33] jaygray0919 commented on #10230
Hi @cathyxz - will do. Had not seen https://github.com/ampproject/amphtml/issues/8366 but have used other `amp-list` threads to present our issue. We'll update the #8366 thread with examples and past comments by @aghassemi and @choumx. We will need a systematic tool-tip solution soon, so will use #8366 to find a solution. However,  the content of an `amp-lightbox` for a tool-tip is variable height

[2019-01-11 22:36] torch2424 commented on #9793
Assigning to myself as I've been owning `amp-ima-video`. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

[2019-01-11 22:36] torch2424 commented on #10502
Assigning to myself as I've been owning `amp-ima-video`. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

Anything I should know about this @aghassemi ?

[2019-01-11 22:37] torch2424 commented on #10561
Assigning to myself as I've been owning `amp-ima-video`. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

Though, ima-video already supports fullscreen on all devices I've tested on. Can I close this @aghassemi ?

[2019-01-11 22:38] torch2424 commented on #9216
Assigning to myself as I've been owning `amp-ima-video`. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

Is this still valid @aghassemi ?

[2019-01-11 22:40] torch2424 commented on #10780
Assigning to myself as I've been owning amp-ima-video. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

[2019-01-11 22:40] torch2424 commented on #11008
Assigning to myself as I've been owning amp-ima-video. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

[2019-01-11 22:43] torch2424 commented on #17725
Assigning to myself as I've been owning amp-ima-video. If anyone needs updates/desires this feature, feel free to mention me while this is in our backlog.

@felerticia If possible, could we close this, and open more issues that are more specific for the features you are looking for? We do agree amp-ima-video should follow amp-video more closely, and is what we are currently working on when we have

[2019-01-11 22:53] helin24 commented on #20279
Okay, great! Let me know if these two things are also okay:
- Triggering based on `<p>` elements (not just AMP extended elements)
- Sending information about the text of the paragraphs to the request locations

If that's all reasonable then would you like me to start making modifications to amp-analytics?

[2019-01-11 22:54] cramforce commented on #20279
@zhouyx PTAL

[2019-01-11 23:34] choumx opened #20291 "Replace ancestorElementsByTag with closestByTag in dom.js"
Replace all usages of `ancestorElementsByTag` with `closestByTag`. They do the same thing except the latter uses a browser API if available (better).

Bonus points for looking for and replacing other doppelganger functions!

[2019-01-11 23:49] jpettitt commented on #20267
You could do that and it would work (you could also use `amp-list`).  However external endpoints are not called until the page is visible so as not to be a privacy leak.  That means your ads will not get rendered until `access_endpoint_latency + ad_latency` ms after the page is visible. That's going to add 500 ms to a second or more to your ad latency for mobile users (possibly way more since ther

[2019-01-11 23:50] jpettitt commented on #20267
cc @jasti for thoughts on platform specific ads.

[2019-01-12 00:18] aghassemi commented on #8841
Let's lower the priority but keep open.

[2019-01-12 00:20] aghassemi commented on #10502
Let's close it. no plan to launch custom controls for amp-video anymore since both Chrome and Safari have updated the UX for the native controls.

[2019-01-12 00:20] #10502 closed

[2019-01-12 01:19] zhouyx commented on #20279
@helin24 Thank you for filing the issue.

I see three requests here:
1. Allow amp-analytics visible trigger to select any random element on the page (not AMP elements)
    - This has been a popular request. We decided to restrict visible trigger to AMP element due to performance concern. Maybe it's time to expand the feature @jeffjose
    - A workaround we usually suggest is to use <amp-layout> to

[2019-01-12 01:32] zhouyx commented on #17742
@jawadst great! We'll keep you updated once the last piece of work is done.

We are protect the feature with an `amp-consent-v2` experimental flag. And plan to flip that flag once we believe it's ready.

[2019-01-12 01:41] #13343 closed

[2019-01-12 01:41] #19941 closed

[2019-01-12 02:02] siddiqrahman opened #20296 "Why AMP-Stories take too much time to load?"
my amp-stories taking too much time to load. am attaching the link given below. http://siddiqrahman.com/story/amp.html

[2019-01-12 07:09] siddiqrahman opened #20297 "How To add Facebook Pixel in AMP-Story"

[2019-01-12 22:52] jimbojetlag commented on #17977
@aghassemi sorry to get back to you late. I do not have a sample ready at the moment, but regenerating this issue is easy: Simply make a long (100+) `amp-img` tags wrapped by `a` tags. On page load, click on one of the `a` tags, and then click on the browser back button.

You will notice that many of the already loaded `amp-img` elements will appear as 3 dos, that is the loading status. This seems

[2019-01-13 22:19] nainar commented on #19093
cc @andrewwatterson

[2019-01-14 06:07] vishalitg commented on #20269
I'm also facing the same issue. Please, help me to fix this issue.

[2019-01-14 13:07] anathex opened #20302 "Support of amp-analytics in amp-call-tracking module"
## What's the issue?

On page of [amp-call-tracking module](https://www.ampproject.org/docs/reference/components/amp-call-tracking) there is [design document](https://docs.google.com/document/d/1UDMYv0f2R9CvMUSBQhxjtkSnC4984t9dJeqwm_8WiAM/edit#heading=h.zha4avn54it8) (almost 2 years has passed since last update - is it still valid?) which has section describing that this module will support amp-an

[2019-01-14 14:33] mcmd commented on #13823
Hi, any updates on this? Thanks!

[2019-01-14 16:42] andrewwatterson commented on #19093
I think it should show the placeholder or be empty (if no placeholder). The argument for showing only the mandatory characters for a mask is that it helps the user understand what to put there, but ideally developers will include a placeholder to cover that.

[2019-01-14 16:47] jeffjose commented on #20279
1. @zhouyx Can you provide more details of the performance penalty? Are some tags worse than others? If so, we could start with a small allow-list.
2. +1.
3. I agree with @zhouyx. If you really want plain-text in the request, you could do something like `data-vars-snippet="<one-sentence-snippet>". Will that work for you, @helin24?

[2019-01-14 16:48] cvializ commented on #19093
Agreed. Since this is the current behavior, I'll close this issue. Thanks @andrewwatterson!

[2019-01-14 16:48] #19093 closed

[2019-01-14 16:53] andrewwatterson opened #20304 "amp-inputmask: credit card example doesn't work the way it should"
At the bottom of the page, go to "15 or 16 digit Credit Card (switches on 37 or 34)"

1. Type "3"
2. Type "7"
(Notice the value is now "347")
3. Type a 13 more digits
Expected: Card number beginning with 37 is displayed sequentially as characters are entered
Actual: Field displays number starting with "347" until I reach the 15th digit, when the errant 4 magically disappears.

@cvializ

[2019-01-14 16:54] cvializ commented on #13823
No updates for now. I'll lower priority to P3 to align with our priority spec. We can raise if there is more interest and it aligns with AMP's other priorities.

[2019-01-14 17:03] andrewwatterson opened #20305 "amp-inputmask: weird treatment of input mask characters in phone numbers"
The phone number input mask seems to allow you to "skip" part of the mask by adding one of the punctuation characters before you've added part of a phone number.

1. Type "+1()-"
Expected: This should probably be an illegal value
Actual: I can legally input that and am blocked after four more digits

More realistic example: I am someone who is used to separating my phone numbers with dashes.
1. Ty

[2019-01-14 17:24] aghassemi opened #20306 "Enable `allowfullscreen` for all `amp-iframe` cases"
I have been running into multiple cases where an `amp-iframe` is used to embed a video player but because the developer/CMS has neglected adding `allowfullscreen` attribute, the fullscreen button for video is disabled causing bad UX.

I like to propose we auto-enabled `allowfullscreen` for all `amp-iframe` cases. This needs to be reviewed by the larger group but given fullscreen API can only be tr

[2019-01-14 17:33] aghassemi commented on #20269
@santoshkjena Thanks for the report, is this something that used to work with the same code or is the code new?

/to @jgluk to triage.
/cc @Gregable

[2019-01-14 17:33] anuragphadke opened #20307 "[BUG] amp-carousel: images not loading"
Images in amp-carousel are not loading on user scroll.

We are using amp-carousel on our pages and while the page passes AMP-validation, I noticed that the images are not loading once the user scrolls to the left.

https://amp.paladintrue.com/amp/it-product-Frullatore-a-immersione-12540.html
Scroll to Prodotti Correlati and then try scrolling left/right, only the first three images load.
In actual

[2019-01-14 17:38] aghassemi commented on #20304
Setting to `P1` and adding to `UI - Recent Launch Support`. Please adjust the priority as needed after triage @cvializ.

[2019-01-14 17:39] aghassemi commented on #20305
Setting to `P1` and adding to `UI - Recent Launch Support`. Please adjust the priority as needed after triage @cvializ.

[2019-01-14 17:44] aghassemi commented on #20307
@anuragphadke The issue is that a wrapper div (`products-teaser-list layout-row`) of `amp-carousel` is used for the overflow scroll instead of the carousel itself. For AMP to do its lazy loading, the carousel should be the one overflowing. Essentially you can not have `overflow-x: auto` on anything.

You can fix this be removing the parent of amp-carousel and ensuring the carousel is the only item

[2019-01-14 17:45] aghassemi commented on #20307
Closing per comment above.

[2019-01-14 17:45] #20307 closed

[2019-01-14 19:02] Gregable commented on #20269
Tracked internally for Google's Cache as 122836254

[2019-01-14 19:06] morsssss commented on #20270
Any error I create seems to trigger this failure. I first noticed it when I foolishly left a stray double quote near an HTML tag:

[code]

Saw it again when our build process requested a JS file from the AMP CDN that doesn't exist yet:

[code]

[2019-01-14 19:08] Gregable commented on #20269
@santoshkjena - can you share the amp cache URLs with me? If you don't want to share them on github, you can send me a private message on our [slack channel](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#discussion-channels). My user name there is also `gregable`.

[2019-01-14 19:19] choumx opened #20308 "Fixed layer: Unexpectedly hidden when lightbox is open"
Added in #3407. It'd be nice if we could avoid hiding fixed elements when lightboxes are opened.

~Minimally, we shouldn't hide fixed-position descendants of lightboxes when entering lightbox mode.~ Fixed in #20954.

`b/110976337`, `b/118774159`

[2019-01-14 19:33] cathyxz opened #20309 "I2S: allowing amp-list to change height on viewport resize"
`<amp-list>` currently doesn't resize on orientation change / viewport-resize. This results in buggy-looking UI because viewport resize often causes an increase or decrease to the number of items per line, resulting in a height change of the `<amp-list>` contents. The `amp-list-viewport-resize` experiment triggers a potential height change for `amp-list` based on a measurement of its contents. Thi