[2016-12-19 19:14] jridgewell commented on #6737
/to @camelburrito, @zhouyx

[2016-12-19 19:14] zhouyx commented on #6737
cc @ericlindley-g

[2016-12-19 19:20] jridgewell commented on #6736
Checking the HTML source code of your page, you've somehow replaced every image with the same 1x1px transparent GIF, which is what AMP is rendering. This is likely some interaction with Photon.

[2016-12-19 19:20] #6736 closed

[2016-12-19 19:25] jridgewell commented on #6729
This seems to be working now? I can see the dog image on the linked page.

Closing per @jpettitt's comment.

[2016-12-19 19:25] #6729 closed

[2016-12-19 19:56] dvoytenko commented on #6734
The spec is vague.

Chrome returns strictly the mathematically closest. Safari always returns the next equal or higher.

I was looking to make a compromise here and return higher up to a point. I'm pretty sure I just miss a basic edge condition. Should be easy enough to fix.

[2016-12-19 20:05] shawnbuso commented on #5233
I'm making pretty good progress here but I'm hung up on implementing the video interface. YouTube has all of their logic in their AmpYoutube object, which makes it pretty easy. All of my logic, however, is in the functions in ads/google/imaVideo.js, which isn't extending AMP.BaseElement. Are there any examples of getting the code in my object at extensions/amp/ima-video/0.1/amp-ima-video.js to int

[2016-12-19 20:17] jridgewell commented on #6733
/to @camelburrito

[2016-12-19 20:20] jridgewell commented on #6731
amp-ooyala has been merged into the codebase, but it's not been released yet. You can enable canary [here](https://cdn.ampproject.org/experiments.html) to test for now.

[2016-12-19 20:20] #6731 closed

[2016-12-19 20:32] ankurp opened #6740 "AMP Google Analytics not working"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Google analytics used to work with `<amp-a

[2016-12-19 20:49] jridgewell commented on #6740
I don't see a `<amp-analytics type="googleanalytics">` anywhere on the page? Only a `type="comscore"`, and a custom which defines its own requests to `https://srepdata.usatoday.com`.

[2016-12-19 21:41] ankurp commented on #6740
@jridgewell If you look at the source you will see the following but I see they don't specify `type="googleanalytics"`

[code]

But this is an issue with another website which does specify `<amp-analytics type="googleanalytics">` If you view the source of this site you will see the markup is there and set correctly but google analytics does not fire https://cdn.ampproject.org/v/s/www.bloomberg.com

[2016-12-19 21:57] jridgewell commented on #6740
/to @avimehta

@lannka, maybe you could help?

[2016-12-19 22:21] jpettitt commented on #6737
This could lead to content jumps if a section above that's closing is shorter than the lower section that's opening, I know @cramforce has strong view on content jumping ...

[2016-12-19 22:35] ericlindley-g commented on #6737
Agreed w/ @jpettitt on the risk here, but generally this seems like a nice enhancement to the accordion, maybe configured via an attribute, so as not to disrupt current implementations, but allow for a developer option.

User interaction is a pretty strong signal of the user's intent and focus, so maybe we can make sure the click-target (the header of the accordion that the user has tapped/clicked

[2016-12-19 22:37] camelburrito commented on #6737
@jpettitt - right that is one of the reasons we did not want to do it in the first place. However we can see if there is a way to make sure we can do this without content jumping (the bind protocol which is under development will have to solve this. so looking forward to how we can address this.)

[2016-12-19 23:08] jpettitt commented on #6740
We are seeing the analytics tag firing at a doubleclick address instead of the normal GA one and it's not including our extra vars.  This is only pageview events - our visibility events are still hitting www.google-analutoics.com/collect

https://stats.g.doubleclick.net/r/collect?v=1&aip=1&t=dc&_r=3&tid=UA-73338518-2&cid=amp-fHZgKWzWlyzNG9qJZynjfnZuFZw-7y-8TvyZokMMAd8x95daLFPrGlvFV6IKFu2L&jid=0.34

[2016-12-19 23:13] jpettitt commented on #6740
See also https://github.com/ampproject/amphtml/issues/6714

[2016-12-19 23:40] cramforce commented on #5233
@shawnbuso so your code runs inside the iframe, right? Your code in your AMP component would look similar to youtube, but you have to pass messages via `postMessage` from an do the iframe.

[2016-12-19 23:49] jridgewell commented on #6714
This is due to Chrome not showing redirected XHR requests in the Network DevTools. Testing in Firefox, I see two XHRs:

1. POST to www.google-analytics.com
  - Includes extra params
  - Returns 302 redirect to stats.g.doubleclick.net
2. GET to https://stats.g.doubleclick.net
  - No extra params

Is your data being logged incorrectly in doubleclick.net?

[2016-12-19 23:49] #6714 closed

[2016-12-19 23:52] jridgewell commented on #6740
Cross posting https://github.com/ampproject/amphtml/issues/6714#issuecomment-268112606:

This is due to Chrome not showing redirected XHR requests in the Network DevTools. Testing in Firefox, I see two XHRs:

1. POST to www.google-analytics.com
   - Includes extra params
   - Returns 302 redirect to stats.g.doubleclick.net
2. GET to https://stats.g.doubleclick.net
   - No extra params

Is your dat

[2016-12-20 00:33] jpettitt commented on #6740
Chrome bug https://bugs.chromium.org/p/chromium/issues/detail?id=675789

[2016-12-20 00:33] jpettitt commented on #6714
Chrome bug https://bugs.chromium.org/p/chromium/issues/detail?id=675789

[2016-12-20 00:55] jridgewell commented on #6678
Closed by #6581.

[2016-12-20 00:55] #6678 closed

[2016-12-20 01:00] Gregable commented on #4919
Marking closed in #6739 by @darobin.

Will be a few weeks before it goes live.

[2016-12-20 01:00] #4919 closed

[2016-12-20 01:13] cramforce commented on #6737
I only have strong views on content jumping that were not triggered by a user interaction.

[2016-12-20 07:14] xgretsch commented on #6714
Wow - didn't see that answer coming! My impression is that data was not being logged properly in doubleclick.net. However, it's difficult to tell precisely because of the time lags involved: it can sometimes take over a day before details become visible. When I'm back from leave, I'll investigate further: for now, I've moved the analytics for the AMP pages to a separate property, which is non-idea

[2016-12-20 08:35] ahmedkaludi commented on #3454
@cramforce I agree and we care about UX too but users take the Google's pagespeed tool and it's recommendation very seriously and we need a solution for this, because people think that google AMP isn't really good because it doesn't rank high in Pagespeed tool. I know what you are thinking, but this is the user's perspective, Think about this from the User Experience perspective.

[2016-12-20 11:01] marcofortina commented on #3454
Hello people! I also agree. Anyway, as I said before this is not an issue of AMP but of infrastructure, so ** it is not required to combine AMP ** components, but to avoid this "controversy" with Google's pagespeed it is enough to ask to system engineers who manage the web servers hosting the url https://cdn.ampproject.org to increase the header "max-age" from the current value 3000 (50 minutes) w

[2016-12-20 12:58] andreapernici opened #6751 "Adding the possibility to use Speed Report in GA also for AMP."
It would be great to let AMP pages populate the Speed Report in Google Analytics?

https://support.google.com/analytics/answer/1205784?hl=en#PageTimings

And to extend the sample to 100.

https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#siteSpeedSampleRate

[2016-12-20 14:30] nickveenhof commented on #6031
I'd love to see this too. Our analytics system is expecting a POST payload instead of having all parameters in the url of the GET or POST request

[2016-12-20 14:57] akshaylive opened #6754 "Invalid AMP validation for amp-lightbox"
Recently, a new "scrollable" tag was added to amp lightbox ( https://github.com/ampproject/amphtml/pull/6398 ).

This is the latest "everything AMP" example
https://raw.githubusercontent.com/muxin/amphtml/361ec9e264b5bb7e8045c4677ceaf71fc714cc45/examples/everything.amp.html

However the validator considers it to be an invalid AMP. https://validator.ampproject.org/#url=https%3A%2F%2Fraw.githubuserc

[2016-12-20 15:26] cramforce commented on #5414
Is this done?

[2016-12-20 15:27] cramforce commented on #5095
Over to @chenshay since she is working on the viewer integration already.

[2016-12-20 15:27] #3299 closed

[2016-12-20 15:27] #3691 closed

[2016-12-20 15:27] #3692 closed

[2016-12-20 15:31] cramforce commented on #6740
Can we close this?

[2016-12-20 15:34] cramforce opened #6755 "Implement integration test for lightbox"
The test should

- load a page with a lightbox and a button that opens it
- click the button
- observe that lightbox is opened
- measure dimensions of lightbox to see that it has expected dimensions
- check content of lightbox
- close lightbox
- check that page is restored correctly

[2016-12-20 15:34] cramforce opened #6756 "Implement integration test for image lightbox"
The test should

- load a page with an image that has the image lightbox attached
- click the image
- observe that lightbox is opened
- measure dimensions of lightbox to see that it has expected dimensions
- check content of lightbox
- close lightbox
- check that page is restored correctly

[2016-12-20 15:36] cramforce opened #6757 "Implement integration test for sidebar"
The test should

- load a page with a sidebar component
- click the element that opens the sidebar
- observe that sidebar is opened
- measure sidebar to see that it has expected dimensions
- check content of sidebar
- play through various mechanisms that can close the side bar (and observe that it is closed)
- observe changes to history stack

[2016-12-20 15:39] cramforce commented on #3454
This won't happen for a while. Explained above. We actually do see this from the user perspective. We do not see it from a customer perspective.

With the upcoming ServiceWorker launch the effective cache time is infinite, so from that time on PageSpeed will be literally wrong.

[2016-12-20 16:04] ankurp commented on #6740
@cramforce  This can be closed if `302` is the correct status code and response for Google analytics call that has extra parameters.

[2016-12-20 17:24] cramforce commented on #6740
You should be able to verify with Safari or Firefox devtools.

[2016-12-20 17:31] Gregable commented on #6754
It typically takes a few weeks for validator changes to roll out, with the holidays it's a big longer. I'll try to update this issue when it's live.

[2016-12-20 17:56] lannka opened #6758 "I2I: Require ampCors in custom ad"
For better security, we want to enforce [AMP CORS](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md#cors-security-in-amp) in the XHR made in custom ad.

We will want to
- Turn [this](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-custom.js#L88) to true
- Update documentation.

Accordingly, we expect the custom ad servers to handle AMP CORS

[2016-12-20 18:08] #6644 closed

[2016-12-20 18:08] chenshay commented on #6644
change reverted

[2016-12-20 18:10] bradfrizzell opened #6760 "Remove iframeContextInName flag"
Remove this experiment flag once we are confident that the change is not breaking anything important. See #6498

[2016-12-20 18:14] #6740 closed

[2016-12-20 18:37] rudygalfi commented on #3831
@zhouyx Is there any other issue being used to track ad loading improvements, or is this the main one? (Mainly asking because this hasn't been touched for 3 months.)

[2016-12-20 18:38] rudygalfi commented on #3831
Ah, I think I found it. Part of #5918.

[2016-12-20 18:41] rudygalfi commented on #3817
Part of #5918

[2016-12-20 18:43] rudygalfi commented on #5432
@lannka Can you confirm whether improvements to amp-sticky-ad are fully rolled out? I see the documentation version is now at 1.0. If so, then can we close this issue?

/cc @ericlindley-g @jasti

[2016-12-20 18:44] shawnbuso commented on #5233
Ok thanks, I wasn't sure if AMP had any kind of messaging channel set up already. I'll give that a shot!

[2016-12-20 18:44] rudygalfi commented on #6169
Just wondering if this needs to remain open or can be closed?

[2016-12-20 19:08] zhouyx commented on #5432
version 1.0 is fully rolled out, close issue

[2016-12-20 19:08] #5432 closed

[2016-12-20 19:16] zhouyx commented on #6169
let's keep this open as a track issue to the deployment process.

[2016-12-20 19:38] zhouyx opened #6763 "Enable integration test for 3p ads"
integration test for ads is skipped now https://github.com/ampproject/amphtml/blob/master/test/integration/test-amp-ad-doubleclick.js#L52.

I think we now need two integration tests for A4A and 3P ad respectively. I plan to change our old test (make use of our fake `_ping_` type instead of doubleclick, since doubleclick ad will render as A4A) to cover the case of 3p.

I believe we will also need i

[2016-12-20 19:46] #6507 closed

[2016-12-20 20:01] dvoytenko opened #6764 "Flaky test: amp-form Var Substitution should substitute hidden fields variables in XHR async"
[code]

See https://travis-ci.org/ampproject/amphtml/builds/185563826

[2016-12-20 20:05] xgretsch commented on #6758
Sure - just be aware that it will be next week before I get to it.

[2016-12-20 20:06] #6735 closed

[2016-12-20 20:18] rudygalfi commented on #4660
You're right that this doesn't seem to fit neatly into one of those categories. That's OK - much more complex and comprehensive integrations can be considered, but they just won't have the benefit of a well-worn path.

An integration would still stick to the [guidelines](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contributing-features) you referenced, particularly starting w

[2016-12-20 20:42] shawnbuso commented on #5233
Alright I think I've got this set up but I'm running into some issues. I implemented the video player interface and ran the test suite, and I'm getting 3 test failing that all have to do with autoplay on my element. I tried manually testing with autoplay set on the element, and the video does *not* autoplay. I did some debugging and it looks like I do fire the LOAD event, but my video interface ev

[2016-12-20 20:47] jridgewell commented on #6751
/to @avimehta

[2016-12-20 20:47] jridgewell commented on #6751
Also @cramforce

[2016-12-20 21:25] #5306 closed

[2016-12-20 21:27] rudygalfi commented on #6298
Is there an AMP By Example update planned? @ericlindley-g

[2016-12-20 21:29] rudygalfi commented on #6265
Ping?

[2016-12-20 21:29] camelburrito commented on #6298
Already on ABE

[2016-12-20 21:30] #6734 closed

[2016-12-20 21:40] ericlindley-g commented on #6265
I think this is fixed, but @camelburrito or @abeck000, please re-open if there's anything else needed here

[2016-12-20 21:40] rudygalfi commented on #6298
So it is! Somehow missed it earlier. Thanks for confirming.

[2016-12-20 21:44] tdrl commented on #6763
I wrote some preliminary tests for A4A that are intended to be integration-like, in the sense that they test client code end-to-end, but stub out servers: https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/test/test-a4a-integration.js

But I'm not sure that this functions as an 'integration test' in the sense that the other AMP tests do.  (E.g., doesn't just load a controlled

[2016-12-20 21:46] jridgewell commented on #6625
/cc @cramforce

[2016-12-20 21:58] dvoytenko commented on #6626
@tlong2 Could you please clarify this? The 3p embed would ask for a new margin?

[2016-12-20 22:16] rudygalfi commented on #4771
Hi @senthilp - I wanted to ask if you have any updates on this?

@chenshay is starting to take a look at this.

[2016-12-20 22:22] rudygalfi commented on #5415
@muxin I think this is in progress, right? Are there any PRs that can be linked to this issue?

[2016-12-20 22:30] cramforce commented on #6751
Yeah, I think that would be awesome!

[2016-12-20 22:31] cramforce commented on #6625
CC @rudygalfi

Thanks for the report! This is definitely on our radar.

[2016-12-20 22:32] dvoytenko commented on #6626
@tlong2 sorry, just fully realized the scope of your request. I think, yes, we have to support this API. Although, I think we just should go ahead and add a single `opt_margin` attribute with all four sides for margin.

[2016-12-20 23:39] rudygalfi commented on #6625
We're definitely looking into this. We've also got #3403 open for autocomplete, but I appreciate the additional detail you specified in your request.

[2016-12-21 00:01] #6620 closed

[2016-12-21 00:11] dknecht commented on #4293
@erwinmombay any chance you will still get to this?

[2016-12-21 02:59] callionica commented on #6210
I think the argument that the banner is a reasonable way for users to identify the source of the page is bizarre. Imagine that you actually manage to change user expectations enough that they actually start to rely on the banner instead of the address bar: congratulations you've trained users to be phished, reversing years of security training. That would be a bad result. If I create a page at my-

[2016-12-21 03:03] callionica commented on #6210
Also URL shorteners are terrible for security, a bad experience for users, and make the web environment worse for publishers. I think Google can do better than that with AMP.

[2016-12-21 06:37] HERBdotSYSTEMS commented on #6210
"Also URL shorteners are terrible for security, a bad experience for users, and make the web environment worse for publishers. I think Google can do better than that with AMP."

And, I think many fairly unsophisticated users still know what a URL shortener is. This: https://goo.gl/NI7S9e doesn't cause the same sort of confusion as this: google.com

[2016-12-21 12:15] Arnold85 opened #6769 "When loaded with AMP :Website is not rendered correctly and unable to scroll"
When I follow the link (that points to googles AMP cache) from the searchresults I can see the website, but it is not rendered correctly and much more important I does not scroll

## How do we reproduce the issue?

Just follow the link on chrome for android
https://www.google.de/url?sa=t&source=web&rct=j&url=/amp/s/hpphysio.com/voraussetzungen-und-anerkennung/&ved=0ahUKEwiPov6Q9YTRAhUEN1AKHRK5Bzw4

[2016-12-21 13:48] Lith commented on #6096
Hi,

We have the same issue with our ad server ([Webediads](https://github.com/ampproject/amphtml/blob/master/ads/webediads.md)).
Do you have any idea how to fix that ? It seems to be a CORS problem, but I'm not sure than this can be fixed on our side...

iOS devices are very restrictive, and we know Google et is not an Apple's best friend, but maybe you can help us to find a solution ?
No ad is w

[2016-12-21 15:36] cramforce opened #6770 "Adjust CID strategy in presence of viewer"
Right now we intermingle both localStorage retrieval and viewer based retrieval.

The new algorithm should disentangle that:

- If not iframed or viewer not trusted use localStorage
- Otherwise go through existing viewer strategy, but never read and write from localStorage.

[2016-12-21 15:41] cramforce opened #6771 "Support viewer initiated handshake"
Add a feature to viewer integration where:

- everything stays the same, but
- if the handshake never succeeded and the doc receives a message with data `amp-handshake-start`
- and the original handshake hasn't yet timed out
- restart the handshake

[2016-12-21 15:51] ericfs commented on #6771
When you say that data is `amp-handshake-start`, you mean Event.data not the `payload` field of the message format?

https://github.com/ampproject/amphtml/blob/a1488ca593d5ee9d781de3c6d9663b1719ff497d/extensions/amp-viewer-integration/0.1/messaging.js#L123

[2016-12-21 15:54] cramforce commented on #6771
@ericfs Good question. Should we just do a bare message? It might make the state machine with requestIds, etc. simpler in that it always starts with the document initiated handshake.

Don't feel strongly, though.

[2016-12-21 16:00] ericfs commented on #6771
That's fine. It looks like that's what you're already doing with `amp-handshake-request`. We'll need to update the Viewer messaging to do the same, but I think it is reasonable.

[2016-12-21 16:00] cramforce commented on #6771
CC @dvoytenko who had some opinions about evolving the new viewer integration.

[2016-12-21 18:11] dvoytenko commented on #6771
I actually liked some aspects of the current PROD viewer integration. I'd rather we make steps to get closer to that handshake.

[2016-12-21 19:04] honeybadgerdontcare commented on #6769
The AMP Cache is having an issue with the self closing div tag:
`<div class="green" id="topline"/>`

Try changing that to a non self closing div tag and put a closing `</div>` just before `</nav>`. I'll take a look to see if this can be also addressed on the AMP Cache side.

[2016-12-21 19:17] honeybadgerdontcare commented on #6769
Yes, that is the issue. `div` is not a void element, so in HTML5 it can not be self-closing.

[2016-12-21 19:21] zhouyx opened #6773 "master is red"
https://travis-ci.org/ampproject/amphtml/builds/185645230

![image](https://cloud.githubusercontent.com/assets/5419904/21402923/9803d68c-c76f-11e6-8733-85c9e6532f55.png)

[2016-12-21 19:30] erwinmombay commented on #6773
@Gregable @honeybadgerdontcare @powdercloud any of you know what the issue is? looking into it but thought to ping you guys if you know at the top of your head

[2016-12-21 19:46] erwinmombay commented on #6773
looks like it is https://github.com/ampproject/amphtml/commit/edaada49213aefdba7fda0f6597d5271fa4dfb45 when i bisected

[2016-12-21 20:09] Gregable commented on #6773
I should probably make that error message indicate which tag is the problem.

You can fix this by adding

`also_requires_tag_warning: "amp-video"`

To the `<script>` TagSpec for `amp-video-0.1.js`

[2016-12-21 20:09] honeybadgerdontcare commented on #6773
amp-video is missing the also_requires_tag.

[2016-12-21 20:14] thomaslove commented on #2820
It'd be great to get this implemented as a feature!

[2016-12-21 20:15] #6728 closed

[2016-12-21 20:27] zhouyx commented on #6773
Thanks @erwinmombay  @Gregable @honeybadgerdontcare, i will make a quick fix

[2016-12-21 20:28] zhouyx commented on #6773
#6775

[2016-12-21 20:41] cramforce opened #6776 "Error message for missing layout on amp-img is not helpful."
![Imgur](http://i.imgur.com/BMT30HX.png)

This is what you get for an `amp-img` that doesn't have a `layout` attribute. This is likely worth special casing in that the error should convey that the user should likely pick a layout instead of saying that the default layout is unsupported.

[2016-12-21 20:50] cramforce opened #6778 "JS validator broken with SW"
URL is https://cdn.ampproject.org/v0/validator.js

Trigger on any AMP page with `#development=1`

[2016-12-21 20:53] jridgewell commented on #6778
Ugh, this is another "special" file like `experiments.js`. What about rejecting anything that does not start with `amp-` in the v0 directory?

- Good
  - v0.js
  - v0/amp-component.js
  - v1.js
  - v1/amp-component.js
- Bad
  - v0/experiments.js
  - v0/validator.js
  - v1/experiments.js
  - v1/validator.js

[2016-12-21 20:55] tdrl opened #6780 "A4A has apparent race condition in crypto validation"
A4A is exhibiting apparently non-determinist behavior in creative crypto signature validation.  The symptom is that correctly signed, valid creatives are sometimes being rendered in friendly iframe (as intended) and sometimes in cross-domain iframe (broken behavior).  We suspect a race condition in the crypto verification promise...  Graph.

## How do we reproduce the issue?

The following is how

[2016-12-21 20:57] tdrl commented on #6780
Assigning initially to @taymonbeal , but it may fall more into @glevitzky 's area.  Taymon may reassign.

[2016-12-21 20:57] #6773 closed

[2016-12-21 20:58] cramforce commented on #6778
I think we want to stop using the `amp-` prefix on components at some point.

[2016-12-21 21:00] jridgewell commented on #6778
I can add another exception for "validator.js" then.

[2016-12-21 21:01] Gregable commented on #6776
As an alternative, should we bake in different defaults by tag, so that in this case we pick a default that is usable?

[2016-12-21 21:05] erwinmombay commented on #4293
@dknecht thanks for the ping, ill prioritize

[2016-12-21 21:24] #6635 closed

[2016-12-21 21:25] erwinmombay opened #6782 "Meeting Notes 2016-12-19"
# 2016-12-19

@cramforce
*   260 contributors
*   Interesting "starve yourself" bug in my chunking experiment.
*   Lots of 2017 planning.
*   Found that <link rel=preload> doesn't work with uncacheable resources on iframes yet. Fixed youtube to not make that request.

@dvoytenko
*   Form proxy
*   Iframe fast restart
*   Srcset nuances
*   Internal class redo
*   Doc visibility refactor
*   amp-pl

[2016-12-21 21:28] stonezhong opened #6783 "Feature request: amp-accordion to allow user to override collapsed section css"
amp-accordion to allow user to specify css for collapsed section

## How do we reproduce the issue?
go to https://ampbyexample.com/components/amp-accordion/, click "Show less"

Here is what happened:
When you click show less, the entire section "Id lacus amet. Aliquam eos nunc ut scelerisque lacinia, eu rutrum id, vestibulum aliqua vivamus luctus eu rhoncus ut, sodales id. Velit lacus, fermentum n

[2016-12-21 21:29] jridgewell commented on #6783
/to @camelburrito

[2016-12-21 21:48] cramforce commented on #6776
@Gregable We'd like to avoid such centralized maps that would need to go into our main binary.

May be good to add similar error message as in #6777 for the empty case in the validator, though.

[2016-12-21 21:48] #6776 closed

[2016-12-21 21:54] Arnold85 commented on #6769
Okay, thank you very much.

Von: honeybadgerdontcare [mailto:notifications@github.com]
Gesendet: Mittwoch, 21. Dezember 2016 20:17
An: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Arnold85 <arne.broedel@gmail.com>; Author <author@noreply.github.com>
Betreff: Re: [ampproject/amphtml] When loaded with AMP :Website is not rendered correctly and unable to scroll (#6769)

Yes, that is the issue.

[2016-12-21 23:15] killerkalamari opened #6786 "Amp breaks reason.com"
## Short description of your issue:
Trying to read the news via Google News & Weather, now I can't scroll pages properly because of AMP. It won't allow me to scroll to the right if there are images larger than my phone screen.

## How do we reproduce the issue?
Open this page in Google Chrome on Android, try to look at the entire graph by scrolling to the right, and you can't (the graph goes to 20

[2016-12-21 23:21] cramforce commented on #6786
AMP is not automatically generated, so the AMP team cannot do anything about content. Do you have a way to contact reason.com and let them know to fix their site?

[2016-12-22 00:44] #6778 closed

[2016-12-22 05:14] camelburrito commented on #6783
i don't believe accordion is meant for such a use case. However this can be a feature or a new component.
CC @ericlindley-g

[2016-12-22 12:22] jskvishal commented on #6591
I m new to amp lets do it

[2016-12-22 13:56] remy opened #6790 "amp-img structure limits images loading if JS fails"
## Short description of your issue:

Fallback image is "invalid" and causes AMP error.

## How do we reproduce the issue?

URL: https://validator.ampproject.org/#url=https%3A%2F%2Fremysharp.com%2F2016%2F12%2F22%2Fcool-uris-dont-change%2Famp

I have the following markup (though simplified for this issue):

[code]

This reports this error:

[code]

However, when JavaScript doesn't load (*not* JS dis

[2016-12-22 14:54] slabruyere commented on #5234
@jasti @lannka : just to let you know the PR for Teads supporting `renderStart` is here => https://github.com/ampproject/amphtml/pull/6750
Have a good one!

[2016-12-22 15:35] cramforce commented on #6790
We are pretty unlikely to support this, I think. One problem would be that the preload scanner would pick up and load the image which we don't want https://medium.com/@cramforce/why-amp-html-does-not-take-full-advantage-of-the-preload-scanner-7e7f788aa94e

We try really hard to not fail the JS load, of course. If it does, it falls into the 8 second timeout. In practice this is extraordinarily rare

[2016-12-22 15:39] remy commented on #6790
What about (and I thought this would work out of the box), if the AMP JS finds `amp-img > img` it just adds the appropriate classes to the nested image, instead of adding the second `img` to the top level `amp-img`? Wouldn't that solve the problem entirely?

[2016-12-22 16:11] cramforce commented on #6790
The thing is that in pre-render mode (before user clicked on link) we don't
want to download images that aren't visible in the first viewport to save
bandwidth, and with such markup the browser would still download them.

On Dec 22, 2016 7:39 AM, "Remy Sharp" <notifications@github.com> wrote:

[2016-12-22 16:40] #6769 closed

[2016-12-22 16:51] remy commented on #6790
Okay, I see.

On Thu, 22 Dec 2016, 16:11 Malte Ubl, <notifications@github.com> wrote:

[2016-12-22 17:07] cramforce commented on #6790
CC @pbakaus
Just making sure that bringing back `lazyload` attribute on image (introduced by Microsoft many years ago, but abandoned in standardization) is on our list of W3C/WHATWG initiatives.

[2016-12-22 17:25] pbakaus commented on #6790
@ igrigorik has been fighting for lazy load on a lenghty W3C thread, and (I believe) lost. Ilya, can you quickly summarize?

[2016-12-22 17:36] cramforce commented on #6790
We'd go full circle if the argument was "People should just use custom elements" :)

[2016-12-22 17:39] igrigorik commented on #6790
That attribute is deprecated. IE's implementation -- despite its name -- didn't actually lazyload anything, it simply lowered the fetch priority a bit.

See https://discourse.wicg.io/t/a-standard-way-to-lazy-load-images/1153/12?u=igrigorik.

[2016-12-22 18:19] lannka commented on #3829
This is address in the amp-inabox project #5700

[2016-12-22 18:19] #3829 closed

[2016-12-22 18:28] jridgewell commented on #6790
Could we use a `noscript[fallback]`?

[code]

[2016-12-22 18:33] remy commented on #6790
JavaScript is enabled in the case I've raised.

On Thu, 22 Dec 2016, 18:29 Justin Ridgewell, <notifications@github.com>
wrote:

[2016-12-22 18:40] jridgewell commented on #6790
Yup. Take a look at http://output.jsbin.com/coqigum?quiet=true with JS enabled and disabled. And it's [valid AMP](https://validator.ampproject.org/#url=http%3A%2F%2Foutput.jsbin.com%2Fcoqigum%3Fquiet%3Dtrue).

[2016-12-22 18:42] lannka commented on #6719
@computapars do you own the server code? If so, I think this is something better handled in the server right?

[2016-12-22 18:48] remy commented on #6790
Please go ahead and re-read the issue. This isn't a JS enabled/disabled thread. It's about when JS fails to load, and visibility of images.

[2016-12-22 19:24] taymonbeal opened #6792 "Consider integrating gulp-clang-format"
I've noticed that, at least within the A4A team, code formatting when working on AMP tends to be somewhat inconsistent. This is likely to be even more of an issue as external contributions increase. Do the AMP maintainers think it would make sense to add [gulp-clang-format](https://www.npmjs.com/package/gulp-clang-format) (developed by our friends on the Angular team) to AMP's build toolchain? Thi

[2016-12-22 19:35] erwinmombay commented on #6792
we actually tried this a while ago https://github.com/ampproject/amphtml/pull/774, I think its reasonable to enforce it within the a4a code if you prefer (since its still relatively new) but might be too much for all of AMP source.

[2016-12-22 19:37] taymonbeal commented on #6792
Ah, thanks for the link. Is there any way to make this work incrementally, if doing it all at once is a problem? Or is the problem something else?

[2016-12-22 19:44] lannka commented on #6792
I vote for a consistent code style :-). I think we can probably start with warnings. A link to code style in DEVELOPMENT.md would also helpful for new contributors to read and code reviewers to point to.

[2016-12-22 19:48] taymonbeal commented on #6792
I suspect the only reason there's not already one is because there wasn't a publicly accessible style guide for Google-sponsored ES6 open source projects until a few weeks ago. Will send a PR now to add the link.

[2016-12-22 20:12] erwinmombay commented on #6792
we also don't follow the style guide too strictly, biggest thing for example is we like having inline string literals even when theres duplication. in google style guide this with be putting it in an enum or constants and reusing those symbols.

[2016-12-22 20:16] lannka commented on #6792
we can always have a list of our own rules override the google style guide.

[2016-12-22 22:58] drdamour opened #6798 "amp-link component for amp to amp linking regressing to html"
I was looking for an amp-link component that i could add to my <a> tags and it's function would be to look at the href and if it has an amp representation it would be rewritten to be a link to the amp rep from the amp cache.

Thus i could keep my users in amp for a while.

i couldn't find such a thing..has it been discussed?

It could just fallback to the existing href.

[2016-12-23 00:57] lannka opened #6802 "About isDevChannel"
[code]

The above code can be found [here](https://github.com/ampproject/amphtml/blob/master/src/experiments.js#L48).

It seems to me that the 2 functions will always give the same result. Because whoever turned on devChannel will get `v0.js` with `AMP_CONFIG.canary = true`.

Isn't it? @erwinmombay

[2016-12-23 20:45] jpettitt commented on #6798
+1 for that, perhaps handled at the CDN level?  We're doing it server side when we render pages using the ampapi.

[2016-12-23 20:52] jpettitt commented on #6790
So the case is where the document (loaded from the amp cdn) loads but the JS (loaded from the amp cdn) doesn't?  The only case I can see where that happens is when the user has a blocker that's dumb or loading is borked by a plugin.  Given that mobile plugins are very limited (safari) or non-existent (chrome) this seems to be an edge case of an edge case.

[2016-12-23 20:57] remy commented on #6790
It happened when my network stalled.

I wouldn't be so quick to dismiss the case where js fails to load. I don't
have it to hand, but UK gov has some good data on this. It's not as much of
an edge case as you might think.

On Fri, 23 Dec 2016, 20:52 John Pettitt, <notifications@github.com> wrote:

[2016-12-23 21:44] derekcecillewis commented on #6782
I sincerely hope progress on AMP Start is still on track for the target date (today). I've been highly anticipating the next commit for several days.

cc @erwinmombay @ericlindley-g @abeck000

[2016-12-24 04:14] cramforce commented on #6790
It can definitely happen. However, with our ServiceWorker installed (https://cdn.ampproject.org/experiments.html select the serviceworker experiment and dev channel) it becomes very, very unlikely.

I think that AMP is really the wrong place to address "what happens to a custom element when the JS fails to load". That needs to be addressed in the standards committee for custom elements.

Unfortuna

[2016-12-24 11:32] BDG247 opened #6807 "PODCAST (basic template for subscription youtube without advertisements or bonuses for watching them)"
Please review safety guidelines for loss prevention before using AMP PODCAST:

- Please feedback AMP stock-overflow for the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please solve delegations to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your quota:
:[
:]? ¿

Please and thankyou jsbin.com for exhibitions only at your service.!

1. St

[2016-12-24 12:44] iamravigulia opened #6808 "Amp-project not working with image"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-12-25 18:00] ericlindley-g commented on #6782
@derekcecillewis Sorry to disappoint — the note about AMP Start was referencing just the target for a revision on the visual design. The finished implementation is not targeting before the end of this year.  But glad to hear you're you're looking forward to it — we'll keep updating the notes (and will be more clear about it)

[2016-12-26 06:23] santadom commented on #6729
Bonjour

j''ai un nouveau problème pour mon blog https://santadom.com

Je viens de remarquer que mes tags et category apparaissent dans le moteur
de rechercher google sous forme AMP. Même sur PC

Pouvez vous m'aider?

Voici un exemple :

La prise en charge ambulatoire à mi chemin entre hôpital ... - SantADom
https://santadom.com/Mot-clé/hopital/?amp
Quelle est la prise en charge du cancer du sein

[2016-12-26 19:10] smartadtags opened #6810 "Give support amp-ad to Smartadtags SaaS for AdNetworks"
I want to contribute to add support to Smartadtags network platform https://www.smartadtags.com/

We are one of the biggest ad networks and we want to support our ad tags in AMP language

Thank you

[2016-12-26 20:31] niutech commented on #3348
@mkhatib Why are `<input type="password">` and `<input type="button">` not allowed in AMP? How can I make a login form or add any buttons except for submit/reset? Please reconsider allowing them.

[2016-12-26 20:50] koshka opened #6811 "Allow playsinline attribute on video tag"
## Short description of your issue:
For users that have Javascript disabled, we have a `<noscript>` fallback to our video element that must play inline from a UX perspective.
However, the validator states:
The attribute 'playsinline' may not appear in tag 'video'.

## How do we reproduce the issue?

In Chrome dev tools, click Toggle Device Toolbar to mobile
Go to:
https://gfycat.com/BareSecondaryF

[2016-12-26 21:00] niutech commented on #6150
Not only ReCAPTCHA, but others like Securimage or SolveMedia too.

[2016-12-26 21:35] Alfonso69 opened #6812 "Steps"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-12-26 21:36] darobin commented on #2745
So, having mulled this over I would be happy to take a stab at implementing this, but I'd like to make sure there's interest in the same functionality I'm interested in and hash out a few details first.

There is an [existing proposal for sortable tables](https://docs.google.com/document/d/11PGu3UO9kWPHYUKhI7PRdT73KR-J_1-A_hIqdmwkrMU/edit#heading=h.5wolfmbudvy3) but I think that's different. Sorta

[2016-12-27 11:45] oliverfernandez commented on #6234
@jspettitt @cramforce Are you still considering to implement this? Maintain same client id for content inside an IFRAME is something we also need, and we can contribute if necessary.

Would it be as easy as receiving the post message from AMP-IFRAME, and create an AMP-ANALYTICS component on the fly with the JSON received?

[2016-12-27 13:07] Chan4077 opened #6815 "amp-access demo shows error"
## Short description of your issue:

The [comment section demo](https://ampbyexample.com/samples_templates/comment_section/preview/) shows this warning:

[code]

## How do we reproduce the issue?

https://ampbyexample.com/samples_templates/comment_section/preview/

## What browsers are affected?

Most probably all browsers.

## Which AMP version is affected?

Version on the site.

[2016-12-27 14:56] mastermunj commented on #6619
This is very much required. In many cases a successful submission requires redirection to another page.

[2016-12-27 16:01] chunhualiao opened #6817 "Please allow users to opt out AMP"
Tons of complaints online about this horrible AMP  entrenched in google news and google search and forced into throats of users.  I am not sure if the AMP tried to read them at all.

Two biggest issues are
1. A singe vertical slide can easily be wrongfully  recogonized as a horizontal swipe, triggering disappearing of the article being read. Horrible user experience.

2. Search results return coat

[2016-12-27 16:02] chunhualiao commented on #6817
The link for user complaints

https://productforums.google.com/forum/m/#!topic/webmasters/8ogdv04Cm-k

[2016-12-27 17:13] ericlindley-g commented on #6817
Thanks for the feedback @chunhualiao. The [product forum](https://productforums.google.com/forum/?utm_source=footer#!msg/webmasters/8ogdv04Cm-k/fcSe61u2DgAJ) in your link is the right place to provide this feedback, since the AMP open-source library doesn't directly cause the issues you describe (this GitHub repo is specifically for the open-source library). Instead, distribution platforms like Go

[2016-12-27 17:13] #6817 closed

[2016-12-27 17:21] ericlindley-g commented on #2745
Thanks @darobin — at first glance that sounds good (and is very similar to what some folks on the core team have been thinking), but we should get more input from the team before committing.

Some key voices for this one are away for winter holidays, but we can circle back next week to discuss. In the meantime, if you want to describe your solution in a bit more detail, you can open up an "Intent

[2016-12-27 17:26] #6812 closed

[2016-12-27 17:44] ericlindley-g commented on #6808
There are several validation errors with the code you've pasted in. You can use [the validator](https://validator.ampproject.org/) to help you create a valid page (it may also help to review some of the [core concepts of AMP](https://www.ampproject.org/learn/how-amp-works/)). The documentation for [amp-img](https://www.ampproject.org/docs/reference/components/amp-img) and [layouts](https://github.

[2016-12-27 17:44] #6808 closed

[2016-12-27 17:46] #6807 closed

[2016-12-27 18:38] jridgewell commented on #6798
/to @rudygalfi

[2016-12-27 18:39] jridgewell commented on #6798
Actually, to @ericlindley-g since you've answered things this week.

[2016-12-27 18:42] jridgewell commented on #6815
/to @pbakaus

[2016-12-27 18:42] jridgewell commented on #6810
Please!

/to @zhouyx

[2016-12-27 18:43] jridgewell commented on #6811
/to @Gregable

[2016-12-27 18:53] ericlindley-g commented on #6798
We've been thinking about this kind of feature, so folks can stay on AMP pages if that's the best experience. Another option (aside from at runtime or in the cache) is to do this at the AMP Viewer level. This way, the viewer could potentially perform other optimizations (an example is pre-rendering, though there are so many low-click-probability anchor links, I'm not sure this would be the right t

[2016-12-27 20:32] zhouyx commented on #6810
@smartadtags It's great to know that you will be supporting AMP.  We have an instruction on how to integrate an ad network into AMP. https://github.com/ampproject/amphtml/blob/master/ads/README.md
Please let me know if you have any questions.

[2016-12-27 22:03] honeybadgerdontcare commented on #6811
@jridgewell Is this applicable to `amp-video` as well or only `video`?

[2016-12-27 23:27] ericlindley-g commented on #6783
Agreed — amp-accordion doesn't directly support this, but we could work on ways to do so (re-opening this issue for tracking that feature request).

[2016-12-27 23:46] jridgewell commented on #6811
We automatically add `playsinline` to `<amp-video>`, so I don't think we need to add that.

[2016-12-28 00:08] koshka commented on #6811
hey @jridgewell `<amp-video>` works well for us with `playsinline` default
The issue we have happens when JS is disabled; in that case, we have to fallback in a `<noscript>` section to the `<video>` tag. So we need the validator to not complain in the <video> tag about `playsinline`

[2016-12-28 01:22] jpettitt commented on #6234
I think there would need to be a stub analytics component to catch the message, if only to include the CID and do var substitution.    My take was trigger a regular amp-analytics event with a set of vars merged in from the json payload.  That way all the AMP substitutions would work.

Fortunately for the company but unfortunately for this we've picked up even more work so I don't see having time t

[2016-12-28 11:30] oliverfernandez commented on #6234
@cramforce what do you think which approach work best? I think we can work on this

[2016-12-28 17:29] dknecht opened #6827 "disallowed_domain"
Should disallowed_domain be updated to check for *.cdn.ampproject.org?

https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L2183

Also is it possible to put multiple disallowed_domains?

@Gregable

[2016-12-28 18:55] lannka opened #6828 "[amp-analytics] Deprecate visiblity v1 code"
This is a follow up work of #5697

We'll need
1. have a working IntersectionObserver polyfill to fill the gap when native one is not available
1. remove visibility v1 code.

[2016-12-28 18:55] lannka commented on #5697
Further clean up work is tracked separately in #6828

[2016-12-28 18:55] #5697 closed

[2016-12-28 19:05] lannka commented on #6658
Both examples you gave are working as intended.

The 2nd one actually gave you the right error message: you need to configure your `amp-experiment`.

Please refer to the [spec](https://github.com/ampproject/amphtml/blob/master/extensions/amp-experiment/amp-experiment.md) for how to configure an experiment.

[2016-12-28 19:05] #6658 closed

[2016-12-28 19:08] lannka commented on #6687
@kazi-shahin unfortunately A9 ad network is currently not fully supported yet. Please contact A9 support team for their plan.

[2016-12-28 19:08] #6687 closed

[2016-12-28 19:10] lannka commented on #6554
@swatigoel1991 I suggest you contact Columbia ads support team. Currently there is not much we can do here.

[2016-12-28 19:10] #6554 closed

[2016-12-28 19:21] lannka commented on #4660
@DavidBrowsi is your product more like the [amp-auto-ads](https://github.com/ampproject/amphtml/issues/6196) extension? It's still a work in progress, and it should be extensible to any 3rd parties. If that's something you are looking for, I suggest you have a conversation with @tlong2 .

[2016-12-28 19:27] #6339 closed

[2016-12-28 20:07] bradfrizzell opened #6829 "Intent to Implement: Replacement API for window.context in cross-domain iframes"
# Background
*Parts borrowed from: https://github.com/ampproject/amphtml/issues/3019*

Currently AMP provides a context API to scripts within 3rd party iframes (including amp-ad). This API provides certain metadata (URL, referrer), as well as IntersectionObserver emulation and ability to request resizing of their containing AMP elements.

However, the issue is that this API is only accessible with

[2016-12-28 20:08] lannka commented on #6770
What's the plan for our new CDN domain format? If we eventually will move to CDN domain like `www-example-com.cdn.ampproject.org`, then we can probably fully get rid of the baseCid stuff and move to a pure cookie based solution?

[2016-12-28 20:50] dknecht commented on #6829
I am worried about adding another place third parties are adding in hard coded reference to cdn.ampproject.org

Is there not another way to make this work or pass that information?

[2016-12-28 20:54] bradfrizzell commented on #6829
we could pass the file path down as part of the context blob attached to the name attribute, if that would be preferable.

[2016-12-28 21:03] lannka commented on #6385
Sounds like we agree to install the click handler to whole AMP document? Or is there a privacy or performance concern?

[2016-12-28 21:24] keithwrightbos commented on #6385
SGTM in the event we know the document is an AMP inabox creative.

On Wed, Dec 28, 2016, 4:04 PM Hongfei Ding <notifications@github.com> wrote:

[2016-12-28 21:33] lannka commented on #6829
I think passing down from runtime is a good idea. So any 3P cache service can compile their own serving path of the lib into the runtime.

Does it address your concern @dknecht  ?

[2016-12-28 21:57] lannka commented on #6385
Yes. Very likely I can just move the logic in `amp-a4a.js` to `amp-inabox.js`.

[2016-12-28 23:05] ericlindley-g commented on #6602
@camelburrito  — just to explore our options: does this need a custom element, or would it be possible/advisable to do this with CSS, and then just make an templated example available for easy copy/paste in something like AMP Start?

[2016-12-28 23:22] ericlindley-g commented on #6553
Hi @marcofortina  — just wanted to check in to see if you had any luck contacting TidioChat

[2016-12-28 23:29] camelburrito commented on #6602
@ericlindley-g - we might be able to do a CSS solution for a simple :hover non-nested menu dropdown with amp-selector - but i think it will behave like a dropdown and it might not work on click may be we can try :focus. We can give it a shot but i am not too optimistic.

[2016-12-29 00:20] marcofortina commented on #6553
Hi @ericlindley-g I wrote to them and proposed to implement it also because if they do it, they could be the 1st with a livechat on amp ;) but at the moment no answers.

I wrote an extension but because I can not modify their js, I just can inject their js as posted before.

[2016-12-29 00:23] marcofortina commented on #6553
anyway I inform you that I moved all my website on AMP ;) if you like to take a look and give me some feedback I would be grateful
[Discoteche Roma](https://www.discotecheroma24.it/)

[2016-12-29 00:32] ericlindley-g commented on #6553
Nice! It's great to see a fully AMP'd canonical site like this :)

W/r/t the TidioChat extension, if there's no way to implement as a third-party without directly injecting the js, then we'll have to wait for TidioChat to implement, themselves. Thanks anyway!

[2016-12-29 00:50] marcofortina commented on #6553
Thanks to you. At the moment I'm a little bit busy with the New Year Eve Party here in Rome, but on January I would like to contribute with the AMP project creating extension for some missing feature like a "full responsive menu" (not only sidebar) and all that I see could be useful

[2016-12-29 01:36] ericlindley-g commented on #6553
That sounds great — when you are ready to start, you can open an issue as an "Intent to implement", to briefly describe the feature, including the user-facing behavior, developer markup to use the feature, and the implementation for the library itself. There you can discuss the approach with the team, before submitting a pull request with the implementation.

[2016-12-29 01:41] lannka opened #6833 "Import Gulp webserver as a middleware into Karma test server"
With Karma [middleware](http://karma-runner.github.io/1.0/config/configuration-file.html), we can import all custom endpoints we defined in our local gulp server to Karma test server, so that our automated tests share the same server env as our local dev.

With this, we no longer needs to launch a separate test server to serve endpoints, like we did here #4921.

It will also help the work of #6826

[2016-12-29 04:23] lannka opened #6835 "Travis log is tooooo long to read"
Right now, a [typical travis log](https://travis-ci.org/ampproject/amphtml/builds/187359095) is 5000 lines. It's pretty tiring to scroll down to see a failure.

Of course you can click the "Scroll to the end" button, but I think we should just make the log less verbose.

[2016-12-29 10:13] Miroku87 commented on #690
I'm sorry for the late reply to this but I am concerned about one thing: is AMP about rendering as fast as it can or about what users like? I thought it was the first.
And, by the way, do you have a research to support what you are saying? Since we are talking about a major technology that will affect everyone in the world I would like to see proof before pulling such request.
Why did the project

[2016-12-29 16:31] keithwrightbos commented on #6780
Issue due to #6504 which modified verifyCreativeSignature_ to return null in the event a key provider failed to validate.  The semantics of src/utils/promise#some is that it will return the result of the first promise that resolves.  Change to return null caused invalid providers to return such that other providers did not have a chance to resolve.  The issue only appears in our development enviro

[2016-12-29 16:31] #6780 closed

[2016-12-29 19:17] #6835 closed, assigned to lannka

[2016-12-29 21:27] avimehta commented on #6751
This should already happen. (If it is not, please reopen this bug and provide a sample page where this doesn't happen). To increase the sample size, add the following code to your configuration:

[code]

(Note that threshold value can be 0-100 and will change your sampling rate...)

[2016-12-29 21:27] #6751 closed

[2016-12-29 22:34] ericlindley-g opened #6843 "Add to cart (tracking FR)"
Tracking FR for a fully-featured "add to cart" functionality

Related:
https://github.com/ampproject/amphtml/pull/5214
https://github.com/ampproject/amphtml/issues/5207
https://github.com/ampproject/amphtml/issues/5213
https://github.com/ampproject/amphtml/issues/5206

/to @mkhatib
/cc @rudygalfi

[2016-12-30 01:39] camelburrito commented on #6243
@eike-hass - I finally got some time to dig into this ,

I replicated this issue on JS bin,
http://jsbin.com/sosocot/10

This looks like a windows - chrome bug
Chrome thinks that the scrollbar is still present (visible on the screen) and hence moves the slide-item above it, in reality the scrollbar is hidden using the 20px padding on `-amp-slides-container`

A work-around for this would be to add

[2016-12-30 02:33] MadisonMiner commented on #5909
cramforce, how can I find Google's tracking this as b/32529163?

I'm experiencing the same issue. However, my amphtml tag is at the top of the page. Problem described here:
https://groups.google.com/a/googleproductforums.com/d/msgid/webmasters/ea4b064c-7de7-40d4-a9ba-ff3ef4026d03%40googleproductforums.com?utm_medium=email&utm_source=footer

Thank you,

[2016-12-30 10:16] shireeshaps opened #6846 "Need bit gravity to be added as amp supported video player"
Hi,

Would like to know if any possibility to add Bitgravity player as a vendor http://player.bitgravity.com/10/simple/source.php

[2016-12-30 19:41] jrf0110 commented on #6829
@lannka @bradfrizzell  that works!

[2016-12-31 06:47] hasghari commented on #4520
I too am experiencing a weird issue with a cached amp image where the transparent color has changed. The original image is here: https://images.g2crowd.com/uploads/product/image/thumb_square/thumb_square_1473783866/salesforce-crm.png and the cached amp image is here: https://cdn.ampproject.org/ii/w270/s/images.g2crowd.com/uploads/product/image/thumb_square/thumb_square_1473783866/salesforce-crm.pn

[2017-01-02 14:15] splendidecreature opened #6848 "Cant use amp-ad googleclick"
Hi, I can't use ad doubleclick on this page:

http://www.infomotori.com/motorsport/le-quattro-peugeot-3008dkr-pronte-per-la-partenza-della-dakar-2017_124020/?amp=true#development=1

I get the error
Redirect at origin 'https://stats.g.doubleclick.net' has been blocked from loading by Cross-Origin Resource Sharing policy: A wildcard '*' cannot be used in the 'Access-Control-Allow-Origin' header when

[2017-01-02 18:33] KosIsland commented on #3813
Up to now the disable-session-states attibute does not work at my page. Which update may be necessary?

[2017-01-02 21:24] camelburrito commented on #3813
@KosIsland - right now the attribute is experimental, this will soon be made available for use without experiments.

[2017-01-03 05:45] torch2424 commented on #4853
Hello! As per the [Contributing Guidelines](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md) I'd like to show an "intent to implement", a Pull request for this issue.

I plan on using something like: https://www.sitepoint.com/javascript-copy-to-clipboard/ , and [clipboard.js](https://github.com/zenorocha/clipboard.js/blob/master/src/clipboard-action.js) for any other reference :s

[2017-01-03 07:10] shireeshaps opened #6850 "amp-social-share whatsapp does not show up the icon"
Hi,

Amp social share which has whatsapp element does not render the icon.

Pasting the tag for your reference

[code]

-Regards,
Shireesha

[2017-01-03 07:13] #6846 closed

[2017-01-03 07:13] shireeshaps opened #6851 "amp-video need bitgravity"
Hi,

Would like to know if any possibility to add Bitgravity player as a vendor http://player.bitgravity.com/10/simple/source.php

[2017-01-03 07:28] sebastianbenz opened #6852 "Support open graph prefix attribute"
The AMP validator currently shows a validation error for the [open graph protocol's prefix attribute](http://ogp.me) `<html ⚡  prefix="og: http://ogp.me/ns#">`. This fails validation:

[code]

[2017-01-03 11:16] bjalford opened #6853 "Support server-side rendering with shell URL rewriting"
We're working on a large UK publisher website and in the prototype stage of a PWA/AMP frontend.

For browsers that don't support service workers the user is currently served the AMP page but we'd like to rewrite to the PWA version using Shell URL Rewriting (https://www.ampproject.org/docs/reference/components/amp-install-serviceworker#shell-url-rewrite).

Currently all of the routing is done on th

[2017-01-03 13:27] xgretsch opened #6854 "Need to fully specify origins on CORS documentation"
## How do we reproduce the issue?

Look at https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md#cors-security-in-amp

Note the following text:

Now look at the spec for the "Origin" header (e.g. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)

Note that it does not allow wild cards, other than as a single "*".

## Therefore:

To implement these CORS recomme

[2017-01-03 15:51] keithwrightbos commented on #6848
I am unable to get the ad to fill using the above page.  Is there something special I need to do (e.g. particular browser, cookie, etc)?

[2017-01-03 15:54] jalajc opened #6856 "Facebook social-share parameter `text` not valid"
Facebook parameter `text` is not valid as per Facebook's official spec and has no intended impact if included in share config as mentioned in [AMP documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-social-share/amp-social-share.md#pre-configured-providers)

#### reproducing the issue?
1. Create a amp-social-share component with type = facebook (appended used component

[2017-01-03 16:38] harquail commented on #5603
hey @lannka is this change in production?  We're currently seeing problems with our format animation that may be related to this change.

[2017-01-03 16:48] harquail commented on #5603
Specifically it looks like we are only getting events on intersection with the viewport, rather than on scroll as with the native intersection observer (we rely on these for format positioning).  I can open a new issue once I've done more investigation.

[2017-01-03 16:54] Miroku87 opened #6857 "[enhancement] amp-fx-flying-carpet communicate scroll values to amp-iframes and amp-ads"
Hello guys,
I have tried the `amp-fx-flying-carpet` and I find it very useful for ads.
It would be also useful if it could send informations through `postMessage` to `amp-ad` or `amp-iframe` child elements about the y-scroll value of the viewport.
In this way it would be possible to make animations such as parallax or more complex stuff inside the iframes or ads.
What do you think?

[2017-01-03 16:55] yieldmo-rao commented on #5603
Adding on to @harquail , all our client side reporting is also broken. :(

[2017-01-03 17:21] pbakaus commented on #6853
Heya!

Super great to hear about your PWAMP efforts :)

I'm not sure I fully understand your request. The way shell URL rewriting works is that on an AMP page with `<amp-install-serviceworker>`, you can say "if support for Service Worker is not detected client-side, please rewrite all links on the page to go to somelegacyurl.mydomain.com/*". This is done automagically by AMP (based on your configu

[2017-01-03 17:37] zhouyx commented on #5603
We are not using native intersection observer now. But our polyfill may be a breaking change if you rely on intersection observer for scroll event.
we polyfill the behavior of native intersection observer and only send intersection change entry when ratio cross thresholds. (will not send on every scroll). @lannka Should we revert the change?

[2017-01-03 17:45] j1wilmot commented on #2659
@lannka I'm trying to get a sense of when this feature will be available in production. I see this got merged into master on the 21st, but it looks like it didn't make it into a release. Based on the release guidelines I think this will be available in a dev-channel release this Thursday and then hopefully deployed fully on January 12th, but I wanted to make sure this timeline is accurate. Thanks

[2017-01-03 17:49] harquail commented on #5603
Ok that seems like the cause of our issue.  We need a way to get our actual scroll position on the page — and ideally notifications of position change.  We're open to using another API for this if available, but this is currently a breaking change for us.

[2017-01-03 17:50] Gregable commented on #6811
Sounds good. It appears that this attribute is fairly new, which explains why it's missing. Happy to add it.

[2017-01-03 17:58] Gregable commented on #6852
This is effectively a dupe of https://github.com/ampproject/amphtml/issues/4919 . It's fixed thanks to @darobin, but the actual change hasn't rolled out yet.

[2017-01-03 17:58] #6852 closed

[2017-01-03 18:05] Gregable commented on #6827
Good catch. It should be updated. The field is repeated right now, but I don't think it supports domain suffixes. Will need to make some changes.

[2017-01-03 18:11] aghassemi commented on #5414
Yes. [test/integration/test-video-player.js](https://github.com/ampproject/amphtml/blob/master/test/integration/test-video-players.js) do run on SauceLabs and since we have iOS 10 support in SauceLabs, autoplay logic does indeed get tested on real iOS.

[2017-01-03 18:11] #5414 closed

[2017-01-03 18:24] dvoytenko commented on #690
@Miroku87 This is a very old pull request. The main motivation was to avoid interstitial ads. There are a number of ways to achieve the same feature, e.g. via [amp-sticky-ad](https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad/amp-sticky-ad.md).

RE:scheduling of rendering. The priority is given to the content elements currently in the viewport over other elements. We consta

[2017-01-03 18:24] yieldmo-rao commented on #5603
@zhouyx Also, any insight into when this change was rolled out? I ask so that we can go back and update our internal reports accordingly. Thank you!

[2017-01-03 18:34] Miroku87 commented on #690
Thank you for replying even if this was old. Is there a place where all amp-ad components are gathered? (apart from filtering them by the "ad" substring)
Also I guess an amp-fullscreen is not yet present?

[2017-01-03 18:44] jridgewell commented on #6853
Closing with https://github.com/ampproject/amphtml/issues/6853#issuecomment-270169312.

[2017-01-03 18:44] #6853 closed

[2017-01-03 18:44] dvoytenko commented on #690
@bpaduch, do we have all ad-related components groupped somewhere? I thought we might.

@Miroku87 There's `amp-lightbox` that might do what you need for the fullscreen functionality.

[2017-01-03 18:46] jridgewell commented on #6856
/to @mkhatib

[2017-01-03 18:47] jridgewell commented on #6851
/to @rudygalfi

[2017-01-03 18:48] jridgewell commented on #6850
/to @mkhatib

[2017-01-03 18:48] Miroku87 commented on #690
I will look into that thank you for your time!

[2017-01-03 18:52] dknecht commented on #6827
Can you add in *.amp.cloudflare.com when you make change?

[2017-01-03 19:02] rudygalfi commented on #6163
This might be happening again based on [reports on Reddit](https://www.reddit.com/r/apple/comments/5lnmfi/is_there_a_way_to_disable_google_amp_on_safari_ios/dbyceqi/). @choumx Do you have any status on when the fix went out (if it went out) and can you check again to see if you can reproduce?

[2017-01-03 19:09] choumx commented on #6163
Just tried and can't repro. The fix was released on November 17, 2016. That user may need to update the Firefox Focus app to v2.0+.

[2017-01-03 19:23] bpaduch commented on #690
There's a list of all components, and they're grouped.  Here's the ads-related ones: https://www.ampproject.org/docs/reference/components#ads-analytics-paywalls

[2017-01-03 19:30] jridgewell commented on #4853
@torch2424: That'd be lovely.

[2017-01-03 20:03] avimehta commented on #6031
@MicahMartin and @nickveenhof Can you give examples on how you expect the data to be formatted in the post body? Is it JSON format or the normal query-param format or something else?

[2017-01-03 20:52] camelburrito commented on #6243
I have filed a chrome bug here -https://bugs.chromium.org/p/chromium/issues/detail?id=678054

[2017-01-03 22:12] splendidecreature commented on #6848
ehmm... that's my problem, I am unable to get the ad to fill . that's the ad:

<amp-ad width=300 height=250 layout="responsive"
    type="doubleclick"
    data-slot="/2081496/INFOMOTORI_ROS_Box_300x250">
</amp-ad>

[2017-01-03 22:12] splendidecreature commented on #6848
<  amp-ad width=300 height=250 layout="responsive"
    type="doubleclick"
    data-slot="/2081496/INFOMOTORI_ROS_Box_300x250">
<   /amp-ad>

[2017-01-03 22:18] #6632 closed

[2017-01-03 22:18] dvoytenko commented on #4520
@hasghari Thanks a lot for the examples! We are researching this.

[2017-01-03 23:12] camelburrito commented on #5101
This should have been fixed by the classlist polyfill change that went in couple of weeks ago.

[2017-01-03 23:12] #5101 closed

[2017-01-03 23:13] #4859 closed

[2017-01-03 23:18] #6733 closed

[2017-01-03 23:20] camelburrito commented on #5390
We tried this as an experiment and this does not work well when we try to scroll up of down on the carousel.

Which means if there is a fullscreen carousel then you cant scroll up or down.

[2017-01-03 23:20] #5390 closed

[2017-01-03 23:22] aghassemi opened #6863 "amp-anim and amp-gfycat should behave similar to autoplaying videos"
- [ ] Currently the visibility condition for when `amp-anim` and `amp-gfycat` start playing is different than autoplaying amp-video. They need to be the same.

- [ ] Although `amp-anim` can't support pausing when it goes out of view, `amp-gfycat` can and it should.

- [ ] `amp-anim` and `amp-gfycat` should become "click to play" instead of "autoplay" under the same conditions where the browser dis

[2017-01-03 23:34] aghassemi commented on #6863
@koshka FYI

[2017-01-03 23:43] aghassemi commented on #6851
bitgravity does not look very mobile friendly. @shireeshaps Do you know if they actually have a HTML5 player that does not use Flash?

[2017-01-03 23:59] lannka commented on #3665
have we considered if POSTMESSAGE can be used to steal data sent from viewer? for example our [base CID](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L731)?

[2017-01-04 00:03] zhouyx commented on #5603
@yieldmo-rao  @harquail We did introduce a change (went to prod on Dec 9th). It could be a breaking change if you rely on the frequency of the changeEntry. We used to send a maximum of 10 changeEntries per second. But now we have a threshold of [0, 0.05, 0.1, ..... 0.95, 1.0] and will only send changeEntry when ratio cross the limit.

However to clarify we never send IntersectionObserver changeEnt

[2017-01-04 00:14] harquail commented on #5603
@zhouyx thanks for the clarification!  The breaking change for us is the change to only send changeEntry when the ratio crosses the limit.  We currently use the intersectionObserver events for format animation, which we now only get when the ad is intersecting with the viewport bounds.  We are not relying on these events when the ad is outside the viewport.

Example pages (need to emulate mobile):

[2017-01-04 00:32] Gregable commented on #6827
Sure.

[2017-01-04 00:32] lannka commented on #5603
@harquail I suggest we expose additional param in `window.context.observeIntersection(changesCallback, opt_option)` to let you specify the threshold array. For your particular use case, you might want to have a more granular array to have smooth animation. WDYT?

[2017-01-04 00:46] harquail commented on #5603
@lannka That would solve part of our use case!  But we are also using this API currently to detect all position changes, not just those when intersecting with the viewport.  The majority of our ads animate in response to granular position changes, and we also use this information to calculate engagement (a user scrolling up and down to interact with a Yieldmo ad).

However, from amp's perspective

[2017-01-04 00:51] lannka commented on #5603
@harquail I still don't believe our deprecated implementation worked for position changes outside viewport.

But if this is really something you need (position change outside viewport), could you open a separate "Intent to implement" for broader discussion? As you said, IntersectionObserver is definitely not to serve that suppose.

[2017-01-04 01:05] shireeshaps commented on #6851
They are using Adobe Flash. I am unable to find out if they have html5 player.

[2017-01-04 01:43] lannka commented on #5603
@harquail I think I understand the problem now. We were sending pings 10/s when the full ad is in viewport, and you were relying on that for animation. However, now we're only sending pings on intersection ratio change (not position change).

We will consider a temporary rollback to reduce the damage at your side (@erwinmombay what's the best way to do that in this case?). As for a long term solut

[2017-01-04 08:58] eike-hass commented on #6243
@camelburrito thank you very much. We will give the css fix a spin

[2017-01-04 09:43] 1987yama3 commented on #6230
Hi

Does cross-domain tracking implemented in future release versions? I would like to see the implementation content. Please tell me the Pull Request, Issue or commit.

Thanks.

[2017-01-04 10:44] erwinmombay commented on #5603
@lannka if we can revert the PR that made the change cleanly without conflicts we can just cherry pick the revert and deploy that quickly

[2017-01-04 10:55] erwinmombay commented on #5603
or if we can't do a revert just try and do a undo PR that we can patch to prod

[2017-01-04 11:53] nickveenhof commented on #6031
Sure!

The API we have available is of the format as seen below. Obviously this format can change depending on the data that can be sent along. Our system allows multiple analytic "captures" to be sent in a single call, as this was invented before the webworkers that support beacon requests existed. So when a page was halted before it was sent, we keep the info in localstorage or cookie so it can

[2017-01-04 14:48] keithwrightbos commented on #3665
POSTMESSAGE support is unique to amp-signal-collection-frame (PR #6830) at
this time and as such in that PR I ensure that only messages from an iframe
within amp-signal-collection-frame element will be allowed.  Let's discuss
offline.

On Tue, Jan 3, 2017 at 6:59 PM Hongfei Ding <notifications@github.com>
wrote:

[2017-01-04 15:23] harquail commented on #5603
Thank you all!  We will make an I2I for the new API proposal.  Really appreciate your quick response.

[2017-01-04 15:44] yieldmo-rao commented on #5603
Thanks for your help everyone! REALLY appreciate this!

[2017-01-04 15:56] shawnbuso commented on #5233
OK looking for advice on one more thing - it looks like the the video interface has really good support for autoplay, but unfortunately the IMA SDK doesn't :/ We have a method that initializes a video player which must be called as the result of a user action. What's the best way for me to handle auto-play in this situation? Should I disable ads or drop support for auto-play?

[2017-01-04 16:45] keithwrightbos commented on #6848
I see no errors when attempting to reproduce (no request to stats.g.doubleclick.net).
@jasti could assist in determining why the reservation slot in question is not filling?

[2017-01-04 17:47] lannka opened #6869 "I2I: introduce experiment toggle in document meta data"
Currently, [AMP experiments](https://github.com/ampproject/amphtml/blob/master/tools/experiments/README.md) are controlled by [binary config](https://github.com/ampproject/amphtml/blob/master/build-system/global-configs/prod-config.json) and [cookie based user opt-in](https://cdn.ampproject.org/experiments.html).

Here I propose an extra page level control using HTML meta data:
[code]

The priorit

[2017-01-04 18:29] jridgewell commented on #3084
Yup.

[2017-01-04 18:38] jridgewell commented on #6869
I want to propose an alternative precedence:

cookie (user opt-in/out) > binary config (global) > meta (page level)

Importantly, this allows us to disable anything (ie, with a bug) for everyone, probably fixing the publisher's page without them ever realizing.

[2017-01-04 18:39] faelgabriel opened #6870 "Is there any specific reason to disallow HTML <progress> Tag?"
Is there any specific reason to disallow HTML `<progress>` Tag?
It's a HTML5 element, is there an issue to allow this tag?

[2017-01-04 18:40] jridgewell commented on #6870
/to @Gregable

[2017-01-04 18:42] dvoytenko commented on #6243
@camelburrito Should we just add this style to slides ourselves if this would affect a wide range of situations. Chrome bug or not, but if we can address it ourselves, that would be a good idea.

[2017-01-04 18:47] Gregable commented on #6870
I don't see any reason why not. I'm unsure why it was missed. I'll add it.

[2017-01-04 18:59] darobin commented on #2745
@ericlindley-g I filed a PR directly (because the implementation is simple), do you reckon I need to also open an "Intent to Implement" issue? Or could this one be so labelled?

[2017-01-04 19:01] Gregable commented on #6870
OK, now I see why it was originally left out. It's part of section 4.10 (forms) of the HTML5 spec. Forms weren't originally supported in AMP and so form related elements were also left out.

There is no reason not to add them in at this point. I'll also add `<meter>` and `<output>` while at it.

[2017-01-04 19:16] lannka commented on #6869
@jridgewell but the entire purpose of this is for publisher to be able to override our binary config, isn't it? If anything went wrong, they have to turn off by themselves. I would expect serious publishers will have a feature flag their side to control this.

[2017-01-04 19:27] jridgewell commented on #6869
They still can, as long as we don't override them. Publishers will be slow, and allowing them to override us (after we've disabled something because of a bug) is going to hurt them.

[2017-01-04 19:44] lannka commented on #6869
It might hurt the other way.

Imagine we introduced a new extension protected with a flag.
Then a bunch of pubs started to opt-in.
Then we introduced a bug to the feature, which breaks some pubs (not all).
Then we turn off the feature completely.
All of sudden, all pubs using this feature break.

For a minimum damage, I'd rather pubs detect problems themselves and opt-out themselves individually.

[2017-01-04 20:48] jridgewell commented on #6857
That information can be obtained through [send-intersections](https://github.com/ampproject/amphtml/blob/efc1f15b078850e9d45162008670ad3b1cfa3fef/extensions/amp-iframe/amp-iframe.md#iframe-viewability), right? The intersection you receive is effectively the y-scroll.

[2017-01-04 20:49] jridgewell commented on #6857
/cc @lannka, for the ad's equivalent

[2017-01-04 20:49] computapars commented on #6719
@lannka we do. I'll talk to my BE team to see how we can process that. thanks for the suggestion.

[2017-01-04 20:52] jridgewell commented on #6854
Those values aren't the literal values needed in the `Allow-Access-Origin` Header. Further, the subdomains of `cdn.ampproject.org` (eg mobile-nytimes-com.cdn.ampproject.org) are computed based on the Source URL's domain, so it'd be impossible to list all of them.

/cc @cramforce

[2017-01-04 21:12] harquail opened #6873 "I2I: API for position change for amp ads"
Currently, Yieldmo is relying on a side effect of the IntersectionObserver API to calculate our format's position on the page (we use this position for interactive animated formats and engagement metrics).  However, it may make more sense to introduce a separate API to inform the ad of scroll position changes.  (Especially if other ad networks are also relying on IntersectionObserver for scroll po

[2017-01-04 21:20] jridgewell commented on #6873
Also requested in https://github.com/ampproject/amphtml/issues/6857.

[2017-01-04 21:21] xgretsch commented on #6854
If you can't list them all, would it be possible for the documentation to explain how to figure them out? Because the only way I made anything work was by trial and error, which left me worried that I'd missed one of the possibilities needed for me.

[2017-01-04 21:44] zhouyx commented on #6873
@harquail Would this be enough? Even with the old IO, the position is all relative to viewport not to the top window context.
[code]

[2017-01-04 21:47] bradfrizzell commented on #6873
As per @jridgewell's comment in #6857, can you just use [send-intersections](https://github.com/ampproject/amphtml/blob/efc1f15b078850e9d45162008670ad3b1cfa3fef/extensions/amp-iframe/amp-iframe.md#iframe-viewability)?

[2017-01-04 21:49] harquail commented on #6873
@zhouyx yep that would meet our needs

[2017-01-04 21:51] harquail commented on #6873
@bradfrizzell That's basically what we're doing now. The motivation behind this is a desired change to the intersection observer to only send change events when the intersection ratio with the viewport changes (not on position changes when the ad is fully inside the viewport).  This was a breaking change for us, but @lannka wanted to explore the possibility of adding a separate API for this. (see

[2017-01-04 21:52] jpettitt opened #6874 "Validator does not catch path traversal in whitelisted urls"
This passes the validator, it does not load what the validator thinks it loads.

```<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/../bootstrap/3.3.7/css/bootstrap.min.css">```

[2017-01-04 21:57] bradfrizzell commented on #6873
ah I see

[2017-01-04 22:09] lannka commented on #6873
We introduced a [PositionObserver](https://github.com/ampproject/amphtml/blob/master/ads/inabox/position-observer.js#L27) for [amp-inabox (https://github.com/ampproject/amphtml/issues/5700) project. Eventually, we'll also provide the same API in AMP runtime. So that should address your need.

@jridgewell I suppose this is something we get for free when LayoutManager is done :-).

[2017-01-04 22:12] zhouyx commented on #6873
And I assume we can switch to use the native IntersectionObserver with this done. As it covers the missing `rootBound` info.

[2017-01-04 22:18] jeannieh commented on #6719
Given that machine learning, AMP, and JSON-LT structured data are growing in importance for digital marketers, it will be very helpful to have this work for Google Tag Manager Amp containers.

[2017-01-04 22:24] aghassemi commented on #6851
@shireeshaps We will not support flash video players because they don't work on mobile. Before we can consider supporting bitgravity, they need to implement a mobile-friendly video player. Closing the issue for now, feel free to reopen when bitgravity ditches Flash for HTML5.

[2017-01-04 22:24] #6851 closed

[2017-01-04 22:30] jridgewell commented on #6874
/to @Gregable

[2017-01-04 22:32] jridgewell commented on #6873
Hm? Doesn't native specifically exclude `rootBounds`?

[2017-01-04 22:34] muxin opened #6875 "amp-ad-network-doubleclick Cannot read property 'map' of undefined"
[code]

[2017-01-04 22:34] cramforce commented on #6234
@oliverfernandez I think the configuration of analytics events should be on the main page. iframes should only send events.

[2017-01-04 22:35] cramforce commented on #6770
@lannka Unfortunately with a viewer URL that isn't per publisher we cannot. We'd no longer need it for the local localStorage, though.

[2017-01-04 22:38] cramforce commented on #5909
@MadisonMiner Do you have a sample link? The most likely problem is that you have something in your `<head>` that is not allowed to be there per HTML spec (and which per HTML spec auto-closes the head.

[2017-01-04 22:39] cramforce commented on #6163
@rudygalfi Apparently it isn't entirely trivial to get focus to update the ruleset. I do not have instructions, though.

[2017-01-04 22:42] cramforce commented on #4853
I wonder if requiring the show the URL is a little too opinionated. Awesome you are working on this @torch2424!!

[2017-01-04 22:45] jridgewell commented on #6870
@Gregable: Remember to ban `<output>`s with [special name properties](https://github.com/ampproject/amphtml/issues/6579).

[2017-01-04 22:48] Gregable commented on #6870
Yep, @honeybadgerdontcare reminded me of this one as I was implementing. Change is simple, but it'll be a while before released.

[2017-01-04 22:49] muxin commented on #6875
Not sure who to send to. @keithwrightbos ?

[2017-01-04 23:02] muxin opened #6876 "TypeError: doubleclick Error on emitLifecycleEvent adRequestEnd: this.g.setQqid is not a function"
[code]
Sample page: https://cdn.ampproject.org/v/www.mynet.com/magazin/detay/magazin/acun-ilicalidan-sevgilisi-seyma-subasi-ve-eski-esi-zeynep-ilicaliya-62-milyon-dolarlik-jest/85301/amp/?amp_js_v=6

@keithwrightbos Is this error expected?

[2017-01-04 23:10] jridgewell commented on #6875
This is because https://github.com/ampproject/amphtml/blob/ec703a549a0c1fc024100150f2738fabe2779c66/extensions/amp-a4a/0.1/amp-a4a.js#L874 and https://github.com/ampproject/amphtml/blob/ec703a549a0c1fc024100150f2738fabe2779c66/extensions/amp-a4a/0.1/amp-a4a.js#L866 return an object without a `keys` array.

[2017-01-04 23:14] jridgewell commented on #6876
Fixed by https://github.com/ampproject/amphtml/pull/6505.

[2017-01-04 23:14] #6876 closed

[2017-01-04 23:16] Gregable commented on #6874
It would be nice if their server didn't implement this kind of traversal. Oh well, I can make the regex more strict.

[2017-01-04 23:21] keithwrightbos commented on #6875
Will look into it.  Thanks

On Wed, Jan 4, 2017, 6:10 PM Justin Ridgewell <notifications@github.com>
wrote:

[2017-01-04 23:24] zhouyx commented on #6873
Yes, native one specifically exclude `rootBounds` But we provide `rootBounds` before, and many depend on that to get viewport size. This proposed API can provide an alternative method to get that piece of info instead of using `rootBounds`

[2017-01-04 23:31] muxin opened #6877 "Error: Use autoplay attribute instead of data-param-autoplay​​​"
[code]
Sample page: https://cdn.ampproject.org/v/amp.androidcentral.com/how-galaxy-s7-and-s7-edge-perform-gear-vr?amp_js_v=6
This is a `user().error` in `preconnectCallback` but got reported to error logs. Couldn't figure out why. Mind having a look @cramforce ?

[2017-01-04 23:33] jridgewell commented on #6873
Why the need for the new API though? We're having all these troubles with creating an InOb inside the ad's iframe which would just go away (including this) if we just created it in the AMP Doc's window and sent messages down.

[2017-01-04 23:39] cramforce commented on #6869
This cannot be allowed for all experiments. One purpose of experiments is that they allow shipping code that hasn't been security reviewed yet. So experiments must opt into this (similar to the ones that opt into being triggerable by URL param).

I really don't see the publisher opt-in part. Why not launch it fully then? If doing opt-in, something like Chrome's origin-trial tokens makes more sense

[2017-01-04 23:41] jridgewell commented on #6877
It's being logged, because it's [thrown](https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L672), then [caught](https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L676) and [reported](https://github.com/ampproject/amphtml/blob/master/src/custom-element.js#L677)

[2017-01-04 23:42] zhouyx commented on #6873
That will work. But I believe using native InOb inside ad's iframe can be a performance improvement, and we should still consider using that when it's possible.

[2017-01-04 23:45] muxin commented on #6877
OK I see, but we don't really need to log this, right?

[2017-01-04 23:47] cramforce commented on #6854
@dvoytenko Do you want to take a shot. The trick is that one needs to echo back the origin, which isn't obvious. We should also directly document the new origin scheme, though.

[2017-01-04 23:48] jridgewell commented on #6877
Nope.

[2017-01-05 00:01] cramforce commented on #6877
@muxin Does this show up as a non-user-error? If yes, then I don't yet understand why.

I don't think @jridgewell's observation is fully correct. The error should not be thrown at all. This is a log with an async throw.

[2017-01-05 00:02] stonezhong opened #6879 "amp-img tag to support retina display"
## amp-img tag with layout set responsive does not support retina display very well

If you look at the sample code at https://ampbyexample.com/components/amp-img/
[code]
you can choose different size of the picture for different container size. However, the logic to choose the picture is based on the container width, e.g., `600w` represent 600px, however, on retina display, 600px is roughly 1200

[2017-01-05 00:18] muxin commented on #6877
I saw this error in the error report log `assert-cdn-1p`. Does `assert-cdn-1p` mean user error?

[2017-01-05 00:18] stonezhong commented on #6879
It seems `600w` means `600 pixels` not `600 px`. Pls close this issue if that is true and sorry for the false alarm.

[2017-01-05 00:23] jridgewell commented on #6877
Oh, you're correct, it's async thrown.

[2017-01-05 00:28] cramforce commented on #6877
@muxin Right. Maybe we can make this clearer in that tool. I typically start from the error graphs that have a label.

Basically `assert` should have been named `user-error`. Could we put that into the onduty docs?

[2017-01-05 00:29] #6265 closed

[2017-01-05 00:37] camelburrito commented on #6243
@eike-hass i made the css fix in AMP - you should see it live in 2 weeks

[2017-01-05 00:40] camelburrito commented on #6783
Closing this here - please re-open a new feature request for auto ellipsisng text.

[2017-01-05 00:40] #6783 closed

[2017-01-05 00:48] muxin commented on #6877
OK, I just sent out a CL for the onduty docs. @erwinmombay

[2017-01-05 00:48] #6877 closed

[2017-01-05 00:58] shireeshaps commented on #6851
No issues

[2017-01-05 00:59] oliy opened #6881 "Example A4A ad network extension supporting Cloudflare signing"
This is a PR to give an example A4A ad network implementation that supports the Cloudflare transparent signing services.  This is modeled after the fake ad network implementation.

[2017-01-05 01:02] camelburrito commented on #5714
@eike-hass -Your approach toggles display between two images which requires the runtime to pick up the change. i believe this is what you want

[code]

I have tried this and it works!

[2017-01-05 01:02] #5714 closed

[2017-01-05 01:19] camelburrito commented on #5319
@dvoytenko - do we need this experiment any longer? i believe you already made the body block somewhere right?

[2017-01-05 01:29] szach opened #6883 "Intent To Implement: A4A support for TripleLift amp-ads"
# Overview

Support for A4A will be added to [TripleLift](http://triplelift.com) `<amp-ad>` elements.
### Comments

TripleLift will be submitting a PR via the `triplelift/amphtml` fork from the `feature/triplelift-a4a` branch.

[2017-01-05 05:58] jasti commented on #6848
@splendidecreature  In DFP, I see two line items eligible to serve but both don't start delivery until Jan 9th. To be absolutely sure, you should create a comparable non-AMP pages and request the ad using GPT.

[2017-01-05 05:58] #6848 closed

[2017-01-05 07:28] jpettitt commented on #6234
@cramforce are you saying that no data can be passed or that the main analytics event is defined in the parent but the variables used by that event can be passed up from the iframe?  We'd like to be able to pass variables out of the frame - eg play length for videos.

[2017-01-05 07:46] Miroku87 commented on #690
Thank you very much @dvoytenko and @bpaduch

[2017-01-05 08:31] muxin opened #6885 "amp-analytics TypeError: Cannot read property '1' of null"
[code]

The error occurs in https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/amp-analytics.js#L550 when the `match` is `null`.

Sample page: https://cdn.ampproject.org/v/www.heraldextra.com/news/community/animals/how-to-keep-it-a-toasty-winter-for-furry-friends/article_0f6a093e-69db-5618-a62d-3540caad4245.amp.html?amp_js_v=6

[2017-01-05 09:02] eike-hass opened #6886 "amp-carousel: prev/next arrows are not displayed on IE11"
It seems the navigation arrows in a `amp-carousel` are not displayed on IE 11.

## How do we reproduce the issue?

1. open https://ampbyexample.com/components/amp-carousel/ with IE11
2. notice no white arrows on the navigation triggers

## What browsers are affected?

Edge, IE 11, maybe below

## Which AMP version is affected?

1482359659944, most likely not a new issue

[2017-01-05 09:46] jet10000 opened #6887 "Please add bottom-navigation Tag"
Please add bottom-navigation Tag

https://material.io/guidelines/components/bottom-navigation.html

[2017-01-05 13:37] tdrl commented on #6875
Okay, I see the issues that @jridgewell is pointing to and I can probably do a quick fix.  But I'd also like to add tests around it.  @muxin : How was this triggered?  Do you have some code that reproduces?

[2017-01-05 13:57] keithwrightbos commented on #6875
Issue occurs if fetchJson to get the crypto public keys fails (likely due to network error).  We should create a test verifying this behavior and fix by ensuring default object returned in catch includes empty keys array.  Thanks @tdrl for taking lead!

[2017-01-05 14:10] jasti commented on #6667
@taymonbeal is this on your list? @keithwrightbos

[2017-01-05 14:13] jasti commented on #6563
Ping @lannka

[2017-01-05 14:13] Miroku87 commented on #6857
Thank you @jridgewell I will look into that!

[2017-01-05 14:19] jasti commented on #6464
@zhouyx yes, let's go ahead with restricting resize on sticky ads.

[2017-01-05 14:21] keithwrightbos commented on #6667
Yes, we are finalizing the design and will start implementation soon.  Thx

[2017-01-05 14:30] jasti commented on #6379
Ping @avimehta.
@dmitrymotorin, think it would help reaching out directly to GA support for this. AFAIK, the GA reporting from amp-ad is all done in the adsense backend in an offline way.

[2017-01-05 14:35] jasti commented on #5276
@taf2 did you get a chance to open a new ITI/ approach without 3P JS execution on the AMP page? Thanks.

[2017-01-05 15:47] cramforce commented on #6234
@jpettitt The latter. The parent should not send analytics hit requests that it did not expect, but iframes can parametrize those it does.

[2017-01-05 15:56] taf2 commented on #5276
@jasti, sorry I'm not following can you elaborate on this?   Really I think to support Call Tracking in AMP pages we'll need AMP pages to support services such as Optimizely.   The methods we used to update phone numbers on a website is very similar to dynamic content changes... This might not be compatible with the design goals of AMP unfortunately...

[2017-01-05 16:16] ericlindley-g commented on #6389
Reopening and passing to @camelburrito for the regression (specifically in the prod viewer)

[2017-01-05 16:17] randallbpotter15 commented on #6389
Thank you @ericlindley-g :)  I'm still seeing interplay between the carousel's injected header and the top of the actual page content.

[2017-01-05 16:37] cramforce commented on #5276
@taf2 Do you need anything besides:

- change a text string (aka the phone number)
- track clicks (to send analytics beacons on clicks onto `tel:` links?

[2017-01-05 17:08] aghassemi opened #6888 "Remove the 300ms delay in amp-youtube layoutCallback."
Currently we wait 300ms in `loadPromise` of `amp-youtube` for some obscure bug which might have been fixed already. Investigate and remove the delay.

YouTube embeds already take 2 seconds to go from iframe creation to playing state (not AMP specific - quiet.jsbin.com/wuwokatito ) on Mobile Chrome which is already bad enough so we should not be adding more to the load time.

[2017-01-05 17:37] dvoytenko commented on #5319
@camelburrito Still need the experiment for some time longer. I remove `display:block` elsewhere.

[2017-01-05 17:45] muxin commented on #6875
I cannot reproduce it by following the link that reported the error, but the error happens every now and then since last canary release (1482359659944).
Also saw error logs:
[code]

[2017-01-05 17:52] zhouyx opened #6892 "Unskip integration test on Edge"
follow up of #3591.

[2017-01-05 18:02] oliverfernandez opened #6893 "Support for Shadow DOM v1 in AMP Shadow"
Currently, AMP Shadow uses Shadow DOM v0 API.

Since Safari in iOS 10 supports Shadow DOM v1, I've made the test to add both implementations (v0 and v1) in shadow-embed.js

attachShadowDoc works fine, but the problem is that no extensions are being loaded inside the ampdoc.

I think that the problem  is that in Safari, Custom Elements is polyfilled using a MutableObserver, and this Mutable Observe

[2017-01-05 18:29] stonezhong opened #6894 "Feature request: need a amp-read-more widget"
This feature request is created per https://github.com/ampproject/amphtml/issues/6783

## Need a amp-read-more widget

It should have
a section for "short" text
a section for "long" text
a toggle button which user can toggle. When the button is toggled, either short text or long text will be visible.

User should have control to the style for short text, long text and the toggle button it self.

#

[2017-01-05 18:34] jridgewell commented on #6894
/to @ericlindley-g

[2017-01-05 18:35] jridgewell commented on #6893
/to @dvoytenko

[2017-01-05 18:43] jridgewell commented on #6887
/to @rudygalfi, @ericlindley-g

[2017-01-05 18:43] jridgewell commented on #6886
/to @camelburrito

[2017-01-05 18:44] jridgewell commented on #6885
/to @avimehta

[2017-01-05 18:49] ericlindley-g commented on #6887
Thanks for getting in touch, @jet10000 — agreed that this is a nice mobile pattern to support.

@camelburrito: I think this basic pattern is already supported in AMP (correct me if there are missing pieces — I know scrolling of fixed elements on iOS has been an issue in the past). If that's the case, @jet10000, you can already build this UI.

However, we could make it easier to build out-of-the-bo

[2017-01-05 18:49] camelburrito commented on #6886
Dup of #6591

[2017-01-05 18:49] #6886 closed

[2017-01-05 18:55] avimehta commented on #6885
looking.

[2017-01-05 18:56] aghassemi commented on #6376
Blocked on several YT bugs. See b/34104933 for reference.

[2017-01-05 19:01] camelburrito commented on #6887
@jet10000 you should be totally able to do it on your page with `position: fixed`. As component does not make any sense if there are only links that we can navigate to. I think this would make total sense if they are implemented as Tabs (@ericlindley-g  we should remember this use case when we build amp-tabs)

@ericlindley-g yes we could build a theme that showcases this on AMP start

[2017-01-05 19:06] avimehta commented on #6885
so this happens because there is a newline character in the string and the regex does not match anything when there is a newline character.

How often does this happen? I can fix it for today's release but would just prefer to test it more if it is not widespread.

[2017-01-05 19:21] #2387 closed

[2017-01-05 19:33] lannka commented on #6869
Another usage I didn't mention is for our own testing in production. For example, before fully launching our analytics visibility-v2 feature, we'd like to test in our site `ampproject.org` first to catch any regression (we have to test with real traffic and real data): https://github.com/ampproject/docs/issues/282

Maybe Chrome's origin-trial is an option for it?

[2017-01-05 19:33] taf2 commented on #5276
@cramforce yes, i can attempt to summarize

- tracking page position
- tracking visibility of dom elements
- tracking text selection
- dom changes such as text color and visibility
- alt, href attributes
- there's more...

[2017-01-05 19:38] ericlindley-g commented on #6887
@camelburrito Good point on remembering this when building amp-tabs ( /cc @chenshay for visibility)

[2017-01-05 19:53] dknecht opened #6897 "Validator inconsistency"
The javascript validator will fail for <a href="">Link</a>

but CDN changes to
<a href target="_top">Link</a>

Shouldn't the cache be failing these?

[2017-01-05 19:55] jridgewell commented on #6897
@dknecht: I cleaned up your OP, please confirm this is what you meant.

/to @Gregable

[2017-01-05 20:25] Gregable commented on #6897
Javascript was just rolled out that behaves the same. Make sure your cache is refreshed. See the change here:
https://github.com/ampproject/amphtml/pull/6761/commits/84ed29e7f76446b43764bd29bae6413f3cb020c5

[2017-01-05 20:27] jridgewell commented on #6897
I definitely didn't mean to label this "invalid/obsolete", but it turns out it is. 😀

[2017-01-05 20:37] cramforce commented on #5276
@taf2 Should be either supported by amp-analytics or can be added as individual feature requests.

[2017-01-05 21:02] tdrl commented on #6875
When one small fix turns into a refactor and a new test suite...

This is taking longer than hoped.  (On the plus side, it's uncovering some edges that we hadn't tested well, so is pushing us to improve.  Yay?)

I hope you're not blocking a canary or release on this.  It's a low-threat failure case in the wild b/c even when network errors occur, the key request gets re-issued later so there's a ch

[2017-01-05 21:06] tdrl opened #6900 "A4A unit tests broken on Safari"
A number of A4A tests appear to be broken on Safari.  E.g.,
[code]
yields at least 10 failing tests at head on my system.  Some of these are simple (changed default rendering pathway for non-AMP ads on Safari), but some appear to be in the test framework (a "this mock is already wrapped" error that doesn't occur on Chrome).  It's quite possible that other test suites have problems as well.

We nee

[2017-01-05 21:17] avimehta commented on #6379
Update from GA side: Working on fixing this. Once the PR gets submitted, we will have to way up to 14 days for release.

[2017-01-05 21:25] zhouyx opened #6901 "presubmit check fail to check `console` in test files"
related line:
https://github.com/ampproject/amphtml/blob/master/build-system/tasks/presubmit-checks.js#L718

Any other forbiddenTerms with a whitelist will not be checked if the file is in test folder. I think this is desired but not for the case of `console`?

[2017-01-05 21:35] #6684 closed

[2017-01-05 21:55] camelburrito commented on #6389
@ericlindley-g - the fix is still on canary and will hit prod soon

[2017-01-05 21:56] darobin opened #6906 "Add support for container layout to amp-carousel"
Content that features items that cannot be reduced to fitting inside a limited width (eg. tables) are currently difficult-to-impossible to use in AMP. This has been discussed in issue https://github.com/ampproject/amphtml/issues/2745 and further in PR https://github.com/ampproject/amphtml/pull/6842 where @camelburrito suggested it would be simpler to address this by having `amp-carousel` support c

[2017-01-05 22:02] mkhatib commented on #5919
I am working on a PR that adds a default `description` parameter for `pinterest` but in general the `amp-social-share` provides convenient defaults to some attributes that it can. In this case AMP cannot fill a default pinterest `media` attribute, so when using it please provide a `data-param-media="url-to-media"` to allow pinterest sharing box to pick it up.

Let me know if this still doesn't wor

[2017-01-05 22:05] zhouyx commented on #6597
Ah! Sorry this has been stalled so long. I just sent out a PR for this.

[2017-01-05 22:09] mkhatib commented on #6856
I am dropping the documentation of the `text` parameter from the docs. @ericlindley-g do we wanna add a default config for the `quote` attribute?

[2017-01-05 22:11] mkhatib commented on #6850
`Whatsapp` didn't have default config so one would have to provide their own styling. I just sent a PR to add the default config.

[2017-01-05 22:26] jridgewell commented on #6906
/to @camelburrito

[2017-01-05 22:37] camelburrito commented on #6389
I think there are multiple things being discussed here. Can someone clarify what is the fix we are looking for here.

[2017-01-05 22:42] aghassemi opened #6909 "VideoManager: isInteractive() can dynamically change now with amp-bind"
video-manager needs to support `isInteractive()` changing at runtime since `controls` attribute can change with bind. It should become an observable.

[2017-01-05 22:54] choumx opened #6910 "amp-bind: Improve init performance"
Related to #6199.

Several slow tasks are necessary during initialization. We should speed it up where possible and chunk/amortize across multiple frames otherwise:

- [x] DOM scan for bindings
- [ ] Expression parsing and AST generation

[2017-01-05 22:55] choumx commented on #6910
### Re: DOM scan for bindings

Did some profiling and it looks like using an attribute selector with `querySelectorAll` is faster by roughly the proportion of bound elements to all elements.
[code]
However, this is less user friendly and still takes several ms for documents with thousands of elements/attributes, which may not fit in a single frame's budget.

For both cases, the majority (> 90%) of

[2017-01-05 23:49] erwinmombay commented on #6802
that makes sense. the question i still have though is should we make the assumption that AMP_CONFIG exists. (it does for google's amp cache, but what about other caches?)

[2017-01-06 00:04] muxin commented on #6875
Thanks for looking into it. We're not blocking the release on this.

[2017-01-06 00:21] #6885 closed

[2017-01-06 00:21] muxin opened #6912 "Flaky integration tests: TypeError: undefined is not an object (evaluating 'a.length')"
Flaky saucelabs integration tests:
[code]

Occurs in https://github.com/ampproject/amphtml/blob/master/src/iframe-helper.js#L169

[2017-01-06 00:35] aghassemi opened #6913 "SlideScroll snapping is broken in iOS/Safari on master"
Visit https://amphtml-ae5fc.firebaseapp.com/ytdelay/test/manual/amp-slidescroll.amp.html on iOS/Safari and try to change the slides slowly, they may not snap back and they get stuck half way.

@muxin Probably need to patch the fix for this on the canary

[2017-01-06 01:07] muxin commented on #6885
Thanks for fixing this! It's not widespread so I'll include the change in this week's canary.

[2017-01-06 01:45] lannka commented on #6802
how would other cache service do canary? I guess they have to provide AMP_CONFIG in binary as well?

[2017-01-06 01:46] mkhatib opened #6916 "amp-form on=form.submit won't work for GET non-XHR requests"
The call we make to `this.handleSubmit_` in `amp-form` doesn't actually invoke `form.submit()` and since this isn't an actual submission event we'd need to trigger it manually in that case.

[code]

[2017-01-06 01:47] erwinmombay commented on #6802
we don't really have that defined on how they would do canary or if they even need to. they could just rely on us to do canary and always just take our production version

cc @cramforce @dknecht

[2017-01-06 01:55] lannka commented on #6802
Nevertheless, I see `isDevChannel` is only used in tests, we can safely remove it.

[2017-01-06 02:27] #6888 closed

[2017-01-06 03:27] cramforce commented on #6802
I think this was just a migration that wasn't cleaned up. The function should also be renamed to `isCanary` because this includes non-opt-in users. Can we just delete it, though?

[2017-01-06 04:01] jpettitt commented on #6389
BTW figured out how to force a viewer -` http://www.google.com/amp/<amp article domain>/<amp article path>` does the trick, but only on mobile or in mobile emulation.  Not sure if this is a bug or a feature but I like it.

Ex https://www.google.com/amp/dailydot.relaymedia.com/amp/entertainment/only-in-hella-webseries-interview

[2017-01-06 04:21] jpettitt commented on #6894
95% of this exists - it's `amp-access` where the login url doesn't pop a dialog it just short circuits to the return url with 'success' .  In fact this would make a good extension to `amp-access` IMHO becasue then the ability to read more could be tied to metering and paywall.

[2017-01-06 06:29] torch2424 commented on #6591
Going to take this on, per request be @camelburrito

[2017-01-06 06:53] jet10000 opened #6918 "Please make amp-plugin for WebStorm or PyCharm."
Please make amp-plugin for WebStorm or PyCharm.

https://www.jetbrains.com/

https://www.jetbrains.com/webstorm/

https://www.jetbrains.com/pycharm/

[2017-01-06 13:37] tdrl commented on #6900
Here's the output of one run of
[code]
this morning.  The same test under Chrome runs green.

[code]

[2017-01-06 16:37] ericlindley-g opened #6921 "FR: Support "add to homescreen" banner/button for PWAs"
Tracking issue to extend '<amp-app-banner>' support to include promo for progressive web apps ["add to homescreen" banner](https://developers.google.com/web/fundamentals/engage-and-retain/app-install-banners/)

[2017-01-06 16:38] aghassemi commented on #5233
@shawnbuso Is is possible to turnoff ads only when `autoplay` is set for now until we have a plan autoplay and ads?

[2017-01-06 17:04] thomaspessato commented on #6921
Looking forward to have this possibility 🛏

[2017-01-06 17:19] honeybadgerdontcare commented on #6600
This is now live in prod.

[2017-01-06 17:40] schanami commented on #5116
Any updates on the attribute "useSameDomainRenderingUntilDeprecated" being deprecated?  Much appreciated if you could update the date this attribute will be deprecated.

[2017-01-06 17:44] keithwrightbos commented on #5116
@bradfrizzell is working on a replacement API now (see i2i #6829)

[2017-01-06 17:47] schanami commented on #5116
@keithwrightbos Thanks for the update!  We are working with a vendor that requires us to use  the useSameDomainRenderingUntilDeprecated attribute.  Will using this attribute have any negative impact on other vendors running through AMP?

[2017-01-06 17:53] keithwrightbos commented on #5116
I'm sorry what do you mean by "vendors" in this context?  The biggest
impact is that the solution in progress will have a slightly different API
causing any creatives currently using the context library to be modified.

On Fri, Jan 6, 2017 at 12:48 PM Sze Chan <notifications@github.com> wrote:

[2017-01-06 18:19] schanami commented on #5116
No worries, "vendors" as in 3rd party ad networks

[2017-01-06 18:46] mlb7687 commented on #5116
The update to the tag will be that the opt out would no longer be respected after an acceptable period of time to change over. Instead, creatives will be expected to use the API @bradfrizzell is working on.

[2017-01-06 18:48] jridgewell commented on #6389
Yup, that'll get you into a viewer context. It's a little different than what happens on a normal search, though, since there's no left/right swipe to next article.

The forwarding is on purpose for shares that end up being clicked on Desktop.

[2017-01-06 18:48] jasti commented on #5233
@shawnbuso why does the IMA SDK not have autoplay support?

[2017-01-06 18:51] jridgewell opened #6923 "Presubmit: Ban utf8 data uri charset shorthand"
Re: https://github.com/ampproject/amphtml/pull/6920

[2017-01-06 18:55] harquail commented on #5116
We'd also appreciate an update to the deprecation date in the doubleclick document: "This attribute will be deprecated by the end of August 2016, when the GPT Light tag will become the default, and all ads will always be rendered inside a second cross domain iframe".  This has caused confusion for some of our other publishers as well, who were concerned about using a deprecated feature.  Yieldmo w

[2017-01-06 19:15] zhouyx commented on #6892
fixed by #6789

[2017-01-06 19:15] #6892 closed

[2017-01-06 19:28] #6379 closed

[2017-01-06 19:29] avimehta commented on #6379
Note that although the bug is closed, it will take about 14 days to rollout globally.

[2017-01-06 19:46] megankj commented on #2659
Just confirmed that it should available in the dev-channel at the end of today (most likely) and fully deployed next Thursday, January 12.

[2017-01-06 19:54] jridgewell commented on #6918
/to @ericlindley-g, @rudygalfi

[2017-01-06 20:57] chenshay opened #6926 "Move whitelist from viewer-impl.js to amp-viewer-integration extension"

[2017-01-06 20:58] lannka commented on #6253
This is related to #5700 . This causes problem when AMP document get rendered inside a SafeFrame implementation like [this one](http://output.jsbin.com/xehinez).

So to minimize the impact (duplicated script error), we might always scan whole document for extensions .

It will not solve any potential rendering issue though. If any extension script in body isn't parsed during our initial scan, the

[2017-01-06 21:31] lannka commented on #6802
@cramforce indeed. this is my PR #6803 PTAL

[2017-01-06 21:57] erwinmombay commented on #6802
the isDevChannel removal is good with me 👍 , still hesistant on bypassing the cookie read

[2017-01-06 22:53] mkhatib opened #6927 "amp-form should wait for amp-selector to finish loading before submission"
This is a followup issue to keep track of `amp-selector` and `amp-form` submission.

Splitting these into different PRs. First PR will address waiting for `amp-form` through delegating XHR submissions through action service and the next PR will address waiting for `amp-selector`.

[2017-01-06 23:17] lannka commented on #6802
that's why function name changed to `isCanary()`, which is exactly determined by AMP_CONFIG, not cookie.

[2017-01-06 23:19] mkhatib opened #6928 "XHR submission should be delayed until amp-form is loaded"
To make sure submissions made while `amp-form` is still being loaded go through, all XHR submissions will be delegated through AMP's own action service and executed once `amp-form` install the action handler.

This will be followed up with a fix for #6927

[2017-01-06 23:21] erwinmombay commented on #6802
right, but AMP_CONFIG is not guaranteed to exist currently on non amp cache and it'll always just fallback to prod which is a sane default anyways

[2017-01-06 23:25] lannka commented on #6802
in that case, `isCanary()` should just return `false` no matter if the cookie is turned on or off, right?

[2017-01-06 23:27] erwinmombay commented on #6802
@lannka yeah i think that ok for now

[2017-01-07 00:07] lannka commented on #6869
@cramforce to work around your concern, how about restrict the set of experiments to the ones listed in prod-config.json (AMP_CONFIG)?

So for my above use case, we can add `"visibility-v2": 0` into `prod-config.json`, and allow pub to opt-in and override.

[2017-01-07 00:25] cramforce commented on #6869
Why not let experiments opt into such an override? We can use `AMP_CONFIG` to define the set of experiments for which such override is OK.

[2017-01-07 00:32] #6802 closed

[2017-01-07 00:40] lannka commented on #6869
Sure. Will introduce a new field in `(prod|canary)-config.json`:

[code]

Sounds good?

[2017-01-07 01:17] #2831 closed

[2017-01-07 01:17] #5919 closed

[2017-01-07 01:17] #6850 closed

[2017-01-07 01:25] cramforce commented on #6869
SG

On Fri, Jan 6, 2017 at 4:40 PM, Hongfei Ding <notifications@github.com>
wrote:

[2017-01-07 01:58] mkhatib opened #6930 "Support basic validation rules on amp-selector"
**Looking for a workaround for this feature?**
See couple of them [below](https://github.com/ampproject/amphtml/issues/6930#issuecomment-391127624) in the comments

----

The most basic one would be to support `required`.

This will probably require implementing the different validation/input interfaces the browser provides for built in inputs. For example, the following APIs are used on `input`:

[2017-01-07 02:01] mkhatib opened #6931 "Expose change event for amp-selector"
This allows users to submit on selection change `on=change:form.submit`.

Not sure if using `amp-bind` would cover this already.

[2017-01-07 03:10] tdrl commented on #6900
Actually, this is assigned to @jonkeller , who is helping out a bit with A4A, with the possibility of joining the team.  But GitHub wouldn't let me assign it to him.  If he decides to join A4A, we'll ask to add him to the team and whatever other magic is necessary for him to be assigned and make assignments himself.

[2017-01-07 11:29] thomaskuntzz opened #6932 "Easy way to view the non-AMP version of a page"
Hi, it's just an idea of a feature (likely a button on the bar at the top of the page where there is the website URL) that allows to easily go to the non-AMP version of a page, because it's annoying when you're viewing an AMP page and you want the original one to manually edit the URL to find the original page.

You may find this stupid because I suppose you want people to use AMP, but there are r

[2017-01-07 11:44] thomaskuntzz opened #6933 "Make AMP pages viewable offline"
As I explained it in #6932, the impossibility to view an AMP page offline may make users not want to use AMP versions of web pages. That's why I suggest making them viewable offline, so that we can benefit from a fast loading time, a non-cluttered web page and a lighter data usage even if we're not always connected to the Internet.

Because - from my point of view at least - nobody cares that the

[2017-01-07 16:08] cramforce opened #6934 "amp-form docs should explain what XSRF is"
1 sentence and a link is enough. https://www.ampproject.org/docs/reference/components/amp-form#security-considerations

[2017-01-09 12:47] cgorbit opened #6942 "Different top-level domain for 3rd party content in Cacher"
Hi!
Does custom AMP cachers must distribute content from domains which differs in top-level domain?

Or does scheme below meet all requirements?
(.+\.)?cdn.foobar.TLD
(d-\d+\.)?3p.foobar.TLD
(TLDs in both domains are the same)

[2017-01-09 16:53] aghassemi opened #6943 "When amp-video validation rules ship to prod we need to:"
When validation changes from #6743 are pushed to prod, we need to:
- [x] Add `<script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>` as a `Required Script` to `amp-video.md`
- [x] Remove the `builtin/amp-video.md` as it is no longer a builtin element.
- [ ] Update AmpByExample page for `amp-video` to  include the script.
- [x] Update any files in `

[2017-01-09 17:07] Miroku87 commented on #6857
@jridgewell I've tested `send-interactions` on both `amp-iframe` and `amp-ad` and it works just on `amp-iframe` for now.
Is there an equivalent for `amp-ad`?

Thank you!

[2017-01-09 18:32] jridgewell commented on #6857
https://github.com/ampproject/amphtml/tree/master/ads#position-in-viewport

[2017-01-09 18:39] #6591 closed

[2017-01-09 18:49] jridgewell commented on #6932
/to @rudygalfi, @ericlindley-g

[2017-01-09 18:51] bradfrizzell opened #6945 "Presubmit check being run on generated file"
## Description
Presubmits are being run on dist.3p/current/integration.js
Is this the desired behavior to run a presubmit on a generated file?

## How do we reproduce the issue?
https://travis-ci.org/ampproject/amphtml/builds/190334019
PR that fails travis (and is blocked) due to this: https://github.com/ampproject/amphtml/pull/6922/files

[2017-01-09 18:59] jridgewell commented on #6933
There are two parts to this problem:

1. Publisher content needs to be accessible offline
2. AMP JavaScript needs to be accessible offline

**1** is entirely in the control of the publisher. We're already working to solve **2** using the experimental Cache Service Worker. Soon, it'll be enabled for all AMP documents, either served by the cache or served by the publisher.

[2017-01-09 18:59] #6933 closed

[2017-01-09 19:00] jridgewell commented on #6945
/to @erwinmombay

[2017-01-09 19:04] thomaskuntzz commented on #6933
Right now an AMP page looks like this on my phone when I'm offline... You see the issue? 😄

![screenshot_2017-01-09-08-32-57](https://cloud.githubusercontent.com/assets/16361470/21778961/d662b91c-d6a5-11e6-885e-7104ad323686.png)

I think this introduction of [an article about offline first web applications on A List Apart](http://alistapart.com/article/offline-first) could be relevant:

[2017-01-09 21:15] mkhatib opened #6948 "[Validator] data-amp-replace="space delimited tokens" on input[type=hidden]"
Allow `data-amp-replace="Space delimited tokens"` param on `input[type=hidden]`.

This is a follow up to #6421 - as we updated the format to how to use variable substitutions in forms. Also drop `default-value` attribute from that rule - no longer supported.

cc/ @Gregable @honeybadgerdontcare @powdercloud

[2017-01-09 21:18] zhouyx commented on #6597
PR is merged.

[2017-01-09 21:33] honeybadgerdontcare commented on #6948
Is it necessary to restrict to only `Space delimited tokens`? If so, what are those tokens comprised of? If not then we can just allow any value like we did in `default-value`.

[2017-01-09 21:33] erwinmombay commented on #6945
@bradfrizzell this is actually intentional as we wanted to keep f.js as light as possible we make scan it again so that it doesn't bring in polyfills etc. You might just need to whitelist it in presubmit-checks.js

[2017-01-09 21:45] dvoytenko commented on #6893
Thanks for the report. We'll definitely add SD v1 soon.

[2017-01-09 21:59] #6875 closed

[2017-01-09 22:02] dvoytenko commented on #6253
@lannka The situation is a bit complicated by the fact that even w/o scan, the extension will still self-register. In this SafeFrame case, is it unavoidable that an extension would be registered in the head? We can certainly expand script search to look throughout in the body, but I'd like to understand the source of the issue in general.

[2017-01-09 22:03] jonkeller commented on #6900
Assignment to me works now, so self-assigned :)

[2017-01-09 22:12] shoxty commented on #6619
+1

After submission we would like to redirect users to a "thank you page" that fires our conversion pixels. We would love to see this functionality as well.

[2017-01-09 22:15] #6913 closed

[2017-01-09 22:22] Miroku87 commented on #6857
Thank you. I will try it as soon as I can.

[2017-01-09 22:26] mkhatib commented on #6619
Will start working on this.

Just FYI we do [expose events](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#events) that you can hook to and do things like show a lightbox with a thank you message. We also expose [analytics triggers](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#analytics-triggers) to allow you to do conversions

[2017-01-09 22:30] #6716 closed

[2017-01-09 22:59] mkhatib opened #6953 "iOS Safari delayed navigation broken for deep linked URLs"
This is a tracking bug for a general problem when AMP docs are embedded. This is currently impacting providing a full implementation of the `amp-app-banner` as [noted on the docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-app-banner/amp-app-banner.md#dec-15-2016-note-we-have-discovered-an-issue-with-amp-app-banner-going-into-the-holiday-code-freeze-banner-links-are-not-forwa

[2017-01-09 23:33] lannka commented on #6253
Discussed offline. The duplicated script bug can be fixed by always scan `head`.

Extensions inserted in `<body>` will still register themselves after loaded. The problem is that at the time of extension scanning (body load), we don't know those extensions are in use, hence will not layout them immediately. In worst case, it can cause UX problem such as a "page sudden jump". This has to be address

[2017-01-10 00:17] muxin opened #6957 "Create subdomain when deploying to heroku for cross-origin tests"
Currently when testing on heroku, the bootstrapUrl generated for 3p ads is still same origin. We should create subdomain when deploying to heroku and override boostrapUrl when running in heroku environment. This way, we can see cross-origin behavior for ads when testing on heroku.

[2017-01-10 00:22] #6243 closed

[2017-01-10 00:24] techjoshua commented on #6906
Personally, I'd like the `amp-carousel` component to support `type="carousel" layout="responsive"`.
I've been trying to figure out how I can make a carousel full of square child elements to be as wide as the viewport, and have its height adjust so I can choose to fully show 2, 3, or 4 carousel items based on the viewport dimensions.

I've hacked together something that works, but of course it does

[2017-01-10 00:39] techjoshua commented on #5977
I'm glad to see you guys are working to support `type="carousel" layout="responsive"`.
I've been trying to figure out how I can make a carousel full of square child elements to be as wide as the viewport, and have its height adjust so I can choose to fully show 2, 3, or 4 carousel items based on the viewport dimensions.

I've hacked together something that works, but of course it doesn't validate.

[2017-01-10 00:41] honeybadgerdontcare commented on #6948
Code complete, but not live in prod yet.

[2017-01-10 00:41] #6948 closed

[2017-01-10 00:56] cramforce commented on #6933
The above is a Google URL. We all agree that Google should make that work offline :)

[2017-01-10 00:59] joshcp commented on #4771
Glad to see `amp-tabs` continue moving forward! Can I help in any way?

Thanks @rudygalfi and @chenshay

[2017-01-10 01:18] jasti commented on #6597
@jpettitt Would you please test this in canary and let us know if you have any feedback? Thx.

[2017-01-10 02:32] muxin opened #6961 "Travis build failed sometimes because of too less log"
After https://github.com/ampproject/amphtml/pull/6836, the travis build sometimes failed with the following error:
[code]
In the command `gulp dist --fortesting`, without the output log for too long, travis kills the build.

Shall we add exception to `gulp dist --fortesting` for longer wait time [in travis config](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-ou

[2017-01-10 05:15] ebbeck commented on #6754
Has a date been set for this to roll out? Seems like there was a release last Thursday but this is still causing our AMP pages to be invalid.

[2017-01-10 12:11] serendipitist opened #6963 "Intent to Implement: qlitics as amp-analytics vendor."
Intend to implement qlitics  as amp analytics vendor . Would like to know the procedure to configure.

[2017-01-10 13:46] sensever commented on #2820
+1

[2017-01-10 15:38] abogdashkin opened #6965 "Intent to implement: mywidget for amp-ad"
# Overview
Provides support for amp-ad type=mywidget
It will be widget with content recommendations.

Project site https://widget.my.com/

MyWidget is a service for personalizing content and increasing user metrics.
Our NeuroClick technology uses behavioral data of eighty million users, collaborative filtering algorithms and neural networks. NeuroClick delivers the most relevant content to every u

[2017-01-10 18:28] shawnbuso commented on #5233
I believe it's that we never provided an option to initialize the ad player in muted mode, so I need to work with our eng team to get that added. I'm running some tests now though to see if I can put together a fix myself.

On another note, my manual test page starting failing today and I have no idea why, so I'm hoping someone can help me out. When I run gulp and navigate to http://localhost:8000

[2017-01-10 18:34] aghassemi commented on #5233
@shawnbuso For the manual test pages issue, please add `<script async custom-element="amp-video" src="../../dist/v0/amp-video-0.1.max.js"></script>` to the page similar to how this PR #6868 did for other manual test pages

[2017-01-10 19:00] Gregable commented on #6754
I anticipate releasing late this week, but cannot guarantee that of course.

[2017-01-10 19:02] shawnbuso commented on #5233
Makes sense, thanks. Not sure how I managed to accidentally change that.

[2017-01-10 19:28] johnnyshankman opened #6966 "Badly Documented Upgrade from Warning to Error"
# Information

The new warning takes this pattern
[code]

Firstly, none of my tags or incorrect. I know this because the tag type it warns me about is no where on the page. That means it must be missing. I think this should be a separate warning as they are very different issues.

Secondly, this is a pretty serious change and the documentation provided neither has a date for this upgrade to error

[2017-01-10 19:35] Gregable commented on #6966
Agreed. I'll soon be changing the error message to (using youtube as an example):

`The extension 'amp-youtube extension .js script' was found on this page, but is unused (no 'amp-youtube' tag seen). This may become an error in the future.`

[2017-01-10 19:38] johnnyshankman commented on #6966
@Gregable That's definitely a big improvement. That way devs know exactly what the issue is without further investigations on their end.

Are there notes anywhere on when `the future` will be for warnings like this? Is this outline in a schedule somewhere so that I can make sure we allot development time to silence those warnings before they become errors?

[2017-01-10 19:39] camelburrito commented on #5245
Dup of https://github.com/ampproject/amphtml/issues/6666

[2017-01-10 19:39] #5245 closed

[2017-01-10 19:39] jridgewell commented on #6963
/to @avimehta

[2017-01-10 19:40] Gregable commented on #6966
There is currently no schedule for this. If we converted this to an error, it would be with significant announcement lead time.

The reason we want to do this is that unused javascript like this has a negative performance impact for your page. As a result, you may choose to do this earlier simply for the performance improvements that you'd get.

[2017-01-10 19:40] jridgewell commented on #6965
/to @lannka

[2017-01-10 19:42] johnnyshankman commented on #6966
@Gregable Update definitely makes sense. Unused JS scripts are always bad news.

Extremely relieved to hear that there will be ample lead up time to the update with an announcement. Thank you so much! I'm at ease knowing that and the fact that the warning will become less cryptic soon :)

Thank you for your quick help!

[2017-01-10 19:49] avimehta commented on #6963
@shireeshaps Please follow instructions on https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md to send out a PR. you can cc me and I'll review the PR.

[2017-01-10 20:03] abeck000 commented on #5918
@edlea-g

[2017-01-10 20:12] aghassemi commented on #5233
Not your fault :) we made a change that was not backward compatible for manual test pages ( due to the unique way manualtest pages include AMP scripts)

[2017-01-10 20:24] jpettitt commented on #6597
I'm not seeing this change in dev-channel yet.

[2017-01-10 20:26] #6833 closed

[2017-01-10 20:28] jasti commented on #6597
You will after this Thursday's release.

[2017-01-10 20:34] dandv opened #6968 "Strange tag surfaced by error format code WARNING_TAG_REQUIRED_BY_MISSING"
The error [WARNING_TAG_REQUIRED_BY_MISSING](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L3192) has the following format:

In [several](https://github.com/ampproject/amphtml/blob/c44a48fbb1dbd0de0b5a9e20f8f69bb920705dde/extensions/amp-sticky-ad/0.1/test/validator-amp-sticky-ad.out#L2) test [cases](https://github.com/ampproject/amphtml/blob/edaada49213aefdba

[2017-01-10 20:42] jridgewell commented on #6968
Dupe of https://github.com/ampproject/amphtml/issues/6966?

[2017-01-10 20:42] #6968 closed

[2017-01-10 20:43] dvoytenko commented on #6893
@oliverfernandez Thanks for reporting again. The issue is with the custom elements polyfill we use. I filed it in https://github.com/WebReflection/document-register-element/issues/96 and we'll try to work with the polyfill repo to address this.

This is why our original goal was to launch SD support on iOS when Safari supports both SD and CE APIs. My expectation is that this should happen in the u

[2017-01-10 20:44] Gregable commented on #6968
Yes.

[2017-01-10 20:54] camelburrito commented on #6879
@stonezhong , in this case you should be using the sizes attribute and set it to the appropriate value . Feel free to re-open if you have more questions.

[2017-01-10 20:54] #6879 closed

[2017-01-10 21:00] dvoytenko commented on #5977
I believe @aghassemi found an auto-resizing solution via shape-defining SVG.

[2017-01-10 21:02] adelinamart commented on #4264
@lannka if your open question is still a problem, please open a new issue. Otherwise since the PR for the issue was closed, I will close this issue also.

[2017-01-10 21:02] #4264 closed

[2017-01-10 22:09] lannka commented on #6965
@abogdashkin it mywidget a [Taboola](https://github.com/ampproject/amphtml/blob/master/ads/taboola.md) like service?

/cc @jasti

[2017-01-10 22:14] camelburrito commented on #2948
@atiqul - we added a scrollable attribute to the lightbox and you should be able to use that to make the scrolling happen let me know if that works for you (i see the reported issue is also working now as well) let me know if these work for you. Else feel free to re-open

[2017-01-10 22:14] #2948 closed

[2017-01-10 22:36] jasti commented on #5276
@rudygalfi are these FRs something you'd be able to help with for amp-analytics or should I take a crack?

[2017-01-10 22:39] rudygalfi commented on #5276
@jasti If you could file the individual FRs, that would be helpful.

[2017-01-10 22:45] muxin commented on #6875
The fix will go into next canary release (current canary doesn't include this).

[2017-01-10 22:47] #6253 closed

[2017-01-10 22:47] #6869 closed

[2017-01-10 23:07] muxin commented on #6961
@lannka @erwinmombay Looks like `script: travis_wait 20 node build-system/pr-check.js` will add a timeout to the entire `pr-check.js` but not a max time limit with no output, therefore using `travis_wait` is not working. See the [build log](https://travis-ci.org/ampproject/amphtml/builds/190780685)
Shall we bring back some of the output log to fix the build fail problem?

[2017-01-10 23:10] muxin commented on #6961
Also, when using `travis_wait`, there will be no log output until the timeout passed or the command finished running. Doesn't seem like a good idea to use `travis_wait`.

[2017-01-10 23:15] aghassemi commented on #5977
@techjoshua The solution we like to implement here is a responsive behaviour based on height and auto-resizing the width based on height of each item being 100% of the carousel without distorting the aspect ratio. That would allow items with different aspect ratios to mix with each other and removes the need to do breakpoints.

[2017-01-10 23:41] ericlindley-g commented on #4771
@joshcp If you have any additional examples, use-cases, or needs for the feature to share, it can help guide the plan for what to support. Thanks!

[2017-01-10 23:43] ericlindley-g opened #6973 "Bug: amp-live-list scrolls scroll does not account for AMP Viewer banner"
To repro:

Open a document using amp-live-list in the Google AMP Viewer context
Tap for an update
Notice that the document scrolls to the top, minus the height of the banner (top of most recent update is cut off by the banner)

[2017-01-11 01:16] mkhatib opened #6976 "Launch amp-form-custom-validations"
Tracking issue to launch `amp-form-custom-validations` experiment.

Make sure all validation rules in place.

[2017-01-11 01:26] honeybadgerdontcare commented on #6948
/facepalm. This is already live as `data-*` attributes are allowed by the validator. I'll create another PR to roll this back and just remove `default-value`

[2017-01-11 05:18] cramforce opened #6981 "Consider delaying fixed layer by one frame"
I was profiling a bit and found that we ran the fixed layer code before we painted.

Could we delay it by another measure block to avoid that? It is not critical to do this as absolutely early as possible, right? @dvoytenko

[2017-01-11 09:03] chrisstoneking commented on #6966
@Gregable Thanks for the information. Our system is having the same problem: Every AMP on our site is valid except for this new warning, so it's nice to know there will be plenty of time to fix this if it really does become an error.

I started a topic about this in [Google Groups](https://groups.google.com/forum/#!topic/amphtml-discuss/txxonN2w6C4), and Guilherme mentioned the cache could simply

[2017-01-11 09:19] abogdashkin commented on #6965
@lannka differs in technologies and features

[2017-01-11 09:32] oliverfernandez commented on #6893
Thanks @dvoytenko !

Yes, CE was landed past November in Webkit. If they follow the same pattern than they did with SD (which was landed in Webkit in November 2015, and released in Safari iOS 10), we can expect they release it the next Safari version for iOS 11.

However, I think it's worth giving the CE Polyfill a try. Right now iOS 10 is installed in around 75%. That means we'd need to wait arou

[2017-01-11 12:17] atiqul commented on #2948
Thanks for your reply but no luck in my case. I have given you [mockup link](http://jsbin.com/mitobo/edit?html,output). Could you please test on the mockup given?
I think it is created long ago and better if you create a new ticket and link it with that new one would be better than to reopen this one.
Thanks.

[2017-01-11 17:20] dvoytenko opened #6984 "Trigger amp-pixel directly, not via layout."

[2017-01-11 18:10] cypherlou opened #6985 "Safari not drawing embedded amp-img elements in amp-live-list"
Hi,
I have a AMP page containing an `amp-live-list` list element containing a number of `amp-img` elements. The page is valid according to the various, obvious, test tools and is rendered reliably by Chrome on OSX and iOS.

Safari (on those two platforms - I haven't been able to test others) doesn't reliably draw the `amp-img` elements contained in the `amp-live-list` although other parts of the l

[2017-01-11 18:12] aghassemi opened #6986 "Closing sidebar crashes Android Google News App"
Possibly related to document click or history.

repro:

Find a CNN article on Google News Android App, open the sidebar, close the sidebar by tapping outside the sidebar. App crashes..

Reproducible on version 2.9.2 of Google News.

[2017-01-11 18:16] aghassemi commented on #6986
b/34220171

[2017-01-11 18:16] zhouyx commented on #3813
Code live in PROD. @KosIsland let me know if it still doesn't work.

[2017-01-11 18:16] #3813 closed

[2017-01-11 18:22] zhouyx commented on #6091
3p ad integration test for this. `_ping_` ad type call `validateData()` with opt_optionalFields.
https://github.com/ampproject/amphtml/blob/master/ads/_ping_.js#L25

[2017-01-11 18:22] #6091 closed

[2017-01-11 18:28] aghassemi commented on #6985
/to @erwinmombay
/cc @dvoytenko

Looks like a custom element upgrade race since Safari version is async but Chrome version is sync.

[2017-01-11 18:29] roderickhsiao opened #6987 "amp-list being render twice from google cache"
Please walk through the following steps for reporting an issue about AMP:

## Short description of your issue:

Just notice recently, our amp-list being render twice via google cache

## How do we reproduce the issue?

1. Access https://www.google.com/amp/s/bookmate.app.link/foodcombining
1. Notice that there are *two* amp-list xhr fired and render twice amp list items.
1. Accessing directly via t

[2017-01-11 18:44] dvoytenko commented on #6893
@oliverfernandez If we can, for now, condition the PR to enable `attachShadow` only when native CE are present - we should definitely proceed. On our end, we are actively pursuing CE polyfill fix. When it's done, we can expand `attachShadow` to all platforms. How does this sound?

[2017-01-11 18:47] bradfrizzell commented on #6244
Any update on this?

[2017-01-11 19:12] bradfrizzell opened #6990 "Cleanup Sentinel Name Refactor"
See https://github.com/ampproject/amphtml/pull/6922

Remove sentinel-name-change experiment flag once it is ramped up to 100%

[2017-01-11 19:27] aidantwoods opened #6992 "Don't forbid nonces in AMP spec"
Nonces are currently forbidden in the AMP spec.

AMP requires that their own content security policy does not produce any errors with AMP pages that others produce (https://www.ampproject.org/docs/reference/spec#security), while simultaneously making the advice given by Google towards best practices for the future of CSP (https://research.google.com/pubs/pub45542.html) incompatible with the specif

[2017-01-11 19:46] cramforce commented on #6771
Just leaving here: @dvoytenko mentioned this is also needed for Android web view messaging.

[2017-01-11 20:30] jridgewell commented on #6992
/to @cramforce

[2017-01-11 20:36] jridgewell commented on #6987
/to @dvoytenko

[2017-01-11 20:53] cramforce commented on #6992
Generally I agree, we could allow nonces if they got stripped by the AMP Caches.

From a security perspective, though, using a CSP more similar to the AMP Cache itself might be appropriate: https://github.com/ampproject/amphtml/blob/master/examples/csp.amp.html#L9

AMP is a bit of a special case with respect to whitelist based CSPs, because it can be so strong, that many (all known) whitelist base

[2017-01-11 21:00] aidantwoods commented on #6992
@cramforce Not a lot of sites take advantage of the fact that CSP can be deployed per page (and may require architectural changes). Most apply a single policy domain wide – so I'm not sure that using that CSP is going to be a solution for all (or many) sites (despite that CSP being quite strong).

What you'll probably more likely see is the domains required for AMP being appended to the sites exis

[2017-01-11 21:01] cramforce commented on #6992
Is there anything else to do here beside:

- Make `nonce` attribute legal
- Remove `nonce` attribute in cache layer (would be optional, I assume, without CSP rule matching nonce on the catch).

CC @Gregable

[2017-01-11 21:05] aidantwoods commented on #6992
I think that would be it! 😃

Stripping the `nonce` from HTML would only really serve to save bandwidth (so would be optional for usability)  – it'll be the CSP on the caching server that will determine whether the browser enforces them.

[2017-01-11 21:08] Gregable commented on #6010
This has been fixed, but was never closed. There are still some things to do around emitting a warning if 0.1 is present that suggests you should upgrade, but the specific bug of forbidding both versions is complete and live.

[2017-01-11 21:08] #6010 closed

[2017-01-11 21:10] Gregable commented on #5947
This is now allowed in validator, but the bug was never closed.

[2017-01-11 21:10] #5947 closed

[2017-01-11 21:22] Gregable commented on #6378
@rafaelhbarros , the 'empty' href case is now valid. It's the easier case as it doesn't require cache changes. Leaving the issue open for the 'invalid' href case.

[2017-01-11 21:31] Gregable commented on #6992
Just to check:

We want to basically allow any number of `<script nonce='whatever'></script>` tags, only in the `<head>`, right? Or are there other tweaks to this. I'm not familiar with nonces.

[2017-01-11 21:32] cramforce commented on #6992
@Gregable It can also go on `<style>` tags at least. We may just globally whitelist it.

However, this doesn't change any other rules, just makes the `nonce` attribute legal.

[2017-01-11 21:32] killerkalamari commented on #6786
They shouldn't have to change their site. If incompatible or broken HTML etc is detected, then AMP should back off so it doesn't break sites.

[2017-01-11 21:35] Gregable commented on #6992
We can globally whitelist it. Still need to do something specific for the script case as `<script></script>` is not currently legal, so globally whitelisting `nonce` will not make `<script nonce='whatever'></script>` legal either, but that's easy to do. Just trying to understand the set of tags you want this for.

[2017-01-11 21:40] cramforce commented on #6992
Basically this should do this.

If

[code]

is legal

[code]

should be legal.

@sirdarckcat How do you feel about this?

[2017-01-11 21:47] cramforce commented on #6786
This is not AMP's role. AMP is a JavaScript framework. It can be used to make broken web pages. Do you have a way to contact reason.com and let them know to fix their site?

[2017-01-11 21:47] Gregable commented on #2277
Closing this old issue. `<base href=/>` is now valid. We may extend this in the future to other `href` values, but this works for the given use case.

[2017-01-11 21:51] killerkalamari commented on #6786
This is not a valid response. I now consider AMP to be web hostile software that breaks the web and doesn't care.

[2017-01-11 21:53] killerkalamari commented on #6786
Note that reason is an innocent bystander, it's being wrapped in the AMP trojan horse software by Google News.

[2017-01-11 21:53] #6786 closed

[2017-01-11 21:56] killerkalamari commented on #6786
Coward! Stop breaking the web you dipshits!

[2017-01-11 22:01] jridgewell commented on #6786
This isn't AMP's fault, and it isn't Google News' either. Reason has published a page that with an image larger than the viewport. Open http://reason.com/blog/2016/12/21/death-penalty-sentences-in-america-conti/amp. Notice that's _not_ a cdn.ampproject.org page. Google News is just linking to a broken page, published directly by Reason.

[2017-01-11 22:06] killerkalamari opened #6993 "ampproject.org is a web hostile trojan horse"
The ampproject.org site is used to wrap websites and then breaks them, with no recourse to end users that simply wanted to use these websites how they used to be used. The AMP developers then cry "tell them to fix their site" rather than fixing any problems. Quit cramming your bad ideas down the throats of innocent websites! Shame on you all for foisting this scam site on the web!

[2017-01-11 22:12] #6993 closed

[2017-01-11 22:35] killerkalamari commented on #6993
Way to take responsibility!

[2017-01-11 23:00] chenshay opened #6994 "Messaging + Handshake in webview (Native apps)"
Make the amp/viewer messaging work in webview. Allow Viewer to initiate handshake w/ lots of pings until ampdoc is ready

https://github.com/ampproject/amphtml/issues/4997

[2017-01-11 23:01] chenshay opened #6995 "amp-viewer-integration extension handle unload"
handle amp document unload

https://github.com/ampproject/amphtml/issues/4997

[2017-01-11 23:02] chenshay opened #6996 "amp-viewer-integration extension touch"
forward touch events

https://github.com/ampproject/amphtml/issues/4997

[2017-01-11 23:03] chenshay opened #6997 "amp-viewer-integration channels"
implementation for multiple channels

https://github.com/ampproject/amphtml/issues/4997

[2017-01-11 23:05] chenshay opened #6998 "amp-viewer-integration compile code"
talk to @erwinmombay about compiling extension code for examples.
Use extension code in the examples instead of the javascript that's in viewer.html.
delete js code from viewer.html and remove viewer-integr.js and viewer_integr_messaging.js

https://github.com/ampproject/amphtml/issues/4997

[2017-01-11 23:06] chenshay opened #6999 "amp-viewer-integration implement counterpart"
implement counterpart of amp-viewer-integration

https://github.com/ampproject/amphtml/issues/4997

[2017-01-11 23:10] stonezhong opened #7000 "Feature request: amp-list to support layout 'container'"
## amp-list need to support layout 'container'

## How do we reproduce the issue?
We expect the code below to work: (however, currently amp-list does not support layout container)
[code]

The expectation is:
- it produces a div for the entire list
- for each item, the html from template gets inserted
- the total height of the list depend on the number of items returned.

## What browsers are affec

[2017-01-11 23:15] jridgewell commented on #7000
/to @dvoytenko

[2017-01-11 23:15] zhouyx commented on #7000
7000! 🎉

[2017-01-11 23:35] drukepple opened #7002 "hash hrefs become `undefined` on MS Edge"
Utilizing hash locations in `<a href>` results in "undefined" location in MS Edge

## How do we reproduce the issue?

Create a simple AMP page (it seems to be enough to simply include the amp.js script and otherwise ignore the rest of the required elements) that uses `<a href="#something">` links

Bug is reproducible in MS Edge here:
http://common.bbcomcdn.com/target-amp.html

This page is identic

[2017-01-11 23:38] jridgewell commented on #7002
@mkhatib: I believe you have a MS Edge install? Or @camelburrito?

[2017-01-11 23:48] mkhatib commented on #7002
I can take a look. Thanks for filing @drukepple

[2017-01-12 00:18] rudygalfi commented on #6874
ping? @Gregable can you update the milestone depending on when you'll work on this?

[2017-01-12 00:19] cramforce commented on #6786
@killerkalamari Please refrain from further code of conduct violations or we will block you https://github.com/ampproject/amphtml/blob/master/CODE_OF_CONDUCT.md

[2017-01-12 00:21] rudygalfi commented on #6857
Just reading through this quickly, it seems like there's a resolution and it needs to be checked. Can this be closed out?

[2017-01-12 00:22] rudygalfi commented on #6856
Did #6908 close this?

[2017-01-12 00:23] rudygalfi commented on #6854
@dvoytenko Can you assign the milestone depending on when you'll work on this?

[2017-01-12 00:32] mkhatib commented on #6856
I removed the documentation of invalid `text` attribute, kept this open in case we want to document `quote` attribute or have a default value for it in the config - publishers can still use it without default config. I am ok with closing this

[2017-01-12 00:32] rudygalfi commented on #6829
Can the assignees help slot this the appropriate milestone based on when this I2I will be implemented?

[2017-01-12 00:37] rudygalfi commented on #6828
@lannka Any estimate on when this can be done? Or any notable dependencies?

[2017-01-12 00:38] rudygalfi commented on #6827
@Gregable Can you update milestone to Current when you start working on this?

[2017-01-12 00:45] mkhatib commented on #6854
So one way people do this is by sitting the headers based on the request coming in itself. So when a page from `mobile-nytimes-com.cdn.ampproject.org` makes a request to your endpoint, your backend can say hey, does this match a regex that that we think we can allow - in this case yes, so the header is not set to the exact same Origin that sets it.

Here's some pseudo code for demonstrating how th

[2017-01-12 01:09] #6961 closed

[2017-01-12 02:02] #6619 closed

[2017-01-12 04:57] randallbpotter15 commented on #6757
On the measuring phase can it detect if there is anything else influencing it's top position or if anything is masking it on the page via z-indexing?  Thinking of recent bugs.  Not sure which test suite is being used for this though.

Love that you are implementing this!!

[2017-01-12 05:03] randallbpotter15 commented on #6389
@jridgewell By "a little different" - does that mean it's code is different or just that it's a single view and not a true swiping carousel?

@cramforce Were there any more thoughts around a demo viewer?  Or could you elaborate on the security dimension you mentioned?

@camelburrito Did you get the information you needed for regression?

[2017-01-12 05:04] randallbpotter15 commented on #6973
@ericlindley-g  If I say "AMP Viewer" -- I take it that is a more easily understood term for what I've been calling the production carousel?

[2017-01-12 05:45] camelburrito commented on #6389
@randallbpotter15
"Sidebar is AutoScrolling Page when Toggled " --> is this the issue you are seeing?

[2017-01-12 08:50] tomayac opened #7008 "Add support for Content-Security-Policy's "upgrade-insecure-requests" meta tag"
Currently adding the Content Security meta tag to [upgrade insecure requests](https://www.w3.org/TR/upgrade-insecure-requests/)…
[code]
results in the [error message](https://validator.ampproject.org/#url=https%3A%2F%2Fblog.tomayac.com%2Fcategories%2Fles-francais)…
[code]
Can we add support for it?

(CC: @mikewest, @cramforce)

[2017-01-12 10:27] plegner opened #7009 "Add a max-width attribute for amp-img elements with layout=responsive."
Small AMP images that have `layout=responsive` are upscaled if the available space is larger. This can be fixed by adding a special ID and a `max-width` style in `style amp-custom`, but this is cumbersome if there are lots of images, and if the page styles are generated independently of the page content. You

You could also use the `sizes` attribute to achieve this, but that is difficult if there

[2017-01-12 11:30] advzr opened #7010 "Intent To Implement: Relap support for amp-ads"
# Overview

Support for Relap widgets will be added to `amp-ad` elements

## Comments

Relap will be submitting a PR via `advzr/amphtml` fork from `relap` branch.

[2017-01-12 12:10] Miroku87 commented on #6857
I've checked what @jridgewell pointed me and it works ok for my needs.
It can be closed, thank you!

[2017-01-12 12:10] Miroku87 commented on #6857
I've checked what @jridgewell pointed me and it works ok for my needs.
It can be closed, thank you!

[2017-01-12 12:10] #6857 closed

[2017-01-12 12:24] abogdashkin commented on #6965
We've looked at Taboola example and improved our decision.
Updated main post.

[2017-01-12 12:54] cypherlou opened #7012 "amp-form not populating template element"
I have a simple [amp-form](https://github.com/ampproject/amphtml/files/701582/amp-form-exmple.txt) which passed validation but, when submitted, does not populate the `template` values in `submit-success` or `submit-error`.

The server is currently returning a simple (canned) JSON payload of `{"interesting": false, "name": "John Doe"}` with a status code of `200`. I have also responded with a `403`

[2017-01-12 13:08] DavidBrowsi commented on #6196
@tlong2
Hi there, following the reference by @lannka (lannka: Thanks for that!), I'm contacting you to understand if amp-auto-ads will help our engine adjust to AMP.
If I understand correctly, amp-auto-ads require creating hidden placements in the markup - and according to a remote JSON, will fill these placements with ads when necessary.
Am I understanding correctly?

[2017-01-12 14:10] tlong2 commented on #6196
Hi,

The amp-auto-ads approach doesn't require the publisher to have created anything in the markup to specify where ads should go. The remote JSON config provides CSS selectors that identify places on the page where ads can go.

For the AdSense implementation that we're putting into AMP currently, the places that ads can go are decided by an offline process that analyzes the publisher's site to f

[2017-01-12 15:31] cramforce commented on #5276
My proposal would be to build something like

[code]

The vendor config would supply the replacement phone number and an `amp-analytics` config.

An alternative would be to just make this `amp-list` based. My intuition is that this is a frequent enough use case to warrant a special purpose extension. CC @dvoytenko

[2017-01-12 15:32] cramforce commented on #7008
Since we would strip this on cache delivery (that has its own, different CSP), I think the right solution is just to use a HTTP header instead.

[2017-01-12 15:35] cramforce commented on #6389
@randallbpotter15 Does https://search.google.com/search-console/amp work for you (it has a built-in viewer preview). It currently doesn't work for non-indexable content. I'm trying to get that fixed.

[2017-01-12 15:40] DavidBrowsi commented on #6196
@tlong2
Thanks for the detailed reply!

About the offline process you described, is it part of amp-auto-ads?
How does the offline process keeps track of AMP pages that contains amp-auto-ads?

[2017-01-12 16:31] ericlindley-g commented on #6973
@randallbpotter15 — Yep, that's essentially right. The Google AMP Viewer is what will open (and display an AMP) if you tap on an item in a carousel on google.com that contains AMPs, but the Viewer will also open if you tap on an AMPd "blue link" on the page (which isn't in a carousel).

[2017-01-12 16:32] aghassemi commented on #7012
/to @mkhatib for triage

[2017-01-12 16:34] jasti opened #7015 "Whitelist amp-lightbox as part of an AMP ad"
amp-lightbox is currently not allowed in an AMP ad. Here is a legitimate use case.
https://joystick.app.box.com/s/oo42mzgbx8t6leohqfl4se98pvtcxzyp
 CC @ampproject/a4a

Can we whitelist it?

[2017-01-12 16:57] keithwrightbos commented on #7015
@dvoytenko / @tdrl do you recall if there was a reason we did not allow it to start?  Do we expect it to behave properly when within a friendly frame?

[2017-01-12 17:15] jasti commented on #7015
I tested this creative in a cross domain iframe and expansion works just fine.

[2017-01-12 18:05] zhouyx commented on #6158
work done

[2017-01-12 18:05] #6158 closed

[2017-01-12 18:32] mkhatib commented on #7012
Hey @cypherlou thanks for filing. Do you have that example live on https://unlimitedbroadband.org.uk somewhere? I am guessing this is where you're trying to submit the form, right?

Your example and headers seem to be in good shape (given that you're trying to submit the form that is being served from https://unlimitedbroadband.org.uk)

A link would be great so we can help debug what might be happ

[2017-01-12 18:52] cypherlou commented on #7012
@mkhatib, Hi, thanks for getting back to me so quickly. Yes, the test form on https://unlimitedbroadband.org.uk/ is the one I have been working on. Feel free to play with that and let me know what you think. The backend is in Python (very basic Flask App) so happy to let you have that too if it helps.

[2017-01-12 18:56] mkhatib commented on #7012
ha! totally didn't open that link 😌.

So this seems to be working for me (on latest Chrome OSX) and the template is being rendered (see screenshot) - what browser and OS are you seeing the problem in?

<img width="389" alt="screen shot 2017-01-12 at 10 54 36 am" src="https://cloud.githubusercontent.com/assets/2647/21903716/ce998032-d8b5-11e6-8221-fef7ee66437d.png">

[2017-01-12 19:02] #6984 closed

[2017-01-12 19:03] mkhatib commented on #7012
Wait I feel I missed something. Did you mean that the template actually renders but the variables are not being used from the response correctly? If that's the case could you update that page to use variables (it doesn't seem to have any variables in the templates currently) so I can test it out?

[2017-01-12 19:09] dvoytenko commented on #7015
`amp-lightbox` (and `amp-image-lightbox`) take over the whole viewport. This is what we want to do here as well?

In A4A we can do this. I'm pretty sure it doesn't currently fully work.

In 3p case, however, we need to establish some form of control. This would have to be done via messaging from the 3p iframe. We can't blankly allow all such requests from 3p. We have to ensure that request is sent

[2017-01-12 19:11] cypherlou commented on #7012
@mkhatib, I'm wondering if I've missed something obvious. As far as I can tell from the documentation the response JSON payload is _pumped_ into the `submit-success` `div` element and if there is a `template` element of type `amp-mustache` it will replace tokens with the related references from the response JSON structure.

In my case the success path has the following `<template type="amp-mustach

[2017-01-12 19:12] dvoytenko commented on #6854
I should get to this in a next week.

[2017-01-12 19:30] dvoytenko commented on #6985
@erwinmombay ptal. Let's see if we can reliably identify this as a risk condition.

[2017-01-12 19:31] dvoytenko commented on #6981
It's pretty important to do it asap. Big part of what fixed layer does it offsets positions to be visible under the header. W/o early execution we risk the fixed elements jumping.

[2017-01-12 19:38] #6981 closed

[2017-01-12 19:38] mkhatib commented on #7012
That's exactly right - @cypherlou

Except the current code on the website you sent me doesn't have any reference to name and the template is just:
[code]

Can you update it to use `{{name}}` reference and if it doesn't work let me know so I can take a look?

[2017-01-12 19:49] cypherlou commented on #7012
@mkhatib, you have spotted a massive oversight on my part for which I apologise profusely for wasting your time. The page is being drawn via a Jinja2 template engine extension to Flask which recognises `{` as a control character, clashing with its usage in the mustache.

I have now escaped it and it is working as expected.

Once again, sorry for wasting your time and thanks for your patience, it's

[2017-01-12 20:13] dvoytenko commented on #7000
@stonezhong `layout=container` is currently disabled in `amp-list` because we do not allow disruptive resizes. The rules are generally the same for all elements, not just `amp-list`. Some situations where we allow resize are:
 1. When the element (e.g. `amp-list`) is not currently visible in viewport (e.g. below the fold and the resize would not disrupt the user reading). This is especially true w

[2017-01-12 20:43] jonkeller commented on #6676
@jridgewell Could I get some newbie-level instructions on how to reproduce this? i.e. does this occur during unit tests, or when viewing article.amp.max.html, or...? Thanks!

[2017-01-12 20:48] jridgewell commented on #6676
I remember getting the particular error was nearly impossible (I downloaded an old Chrome that didn't support pkcs). Essentially, anytime you call `subtle.METHOD` that returns a promise, you need to put a `Promise#catch` handler somewhere promise tree.

[2017-01-12 20:48] #7012 closed

[2017-01-12 20:48] jridgewell commented on #7012
Closing per https://github.com/ampproject/amphtml/issues/7012#issuecomment-272263729.

[2017-01-12 21:00] mkhatib commented on #7012
No worries! Glad you caught it! 😄

[2017-01-12 21:02] cramforce opened #7019 "Update error tracker to classify new domain format as AMP Cache traffic"
See https://github.com/ampproject/amphtml/blob/master/tools/errortracker/errortracker.go#L118

ht to @dknecht

[2017-01-12 21:08] cypherlou commented on #7012
Thanks guys!

[2017-01-12 21:19] dvoytenko commented on #6987
@roderickhsiao Thanks for the report!

This happens in the iOS or iOS emulation modes, right? It looks like we have a bug when `amp-list` is a `position:fixed` element. In some cases on iOS we reparent these elements to avoid janky scrolling and that causes re-load. We'll fix.

[2017-01-12 22:18] roderickhsiao commented on #6987
Thanks @dvoytenko, yes it happens on iOS.

Very good to know the janky implementation, thats really neat.

[2017-01-12 22:46] #6995 closed

[2017-01-12 23:33] #606 closed

[2017-01-12 23:34] erwinmombay commented on #606
deprecated work.

[2017-01-12 23:34] erwinmombay commented on #808
should be deprecated. we have the no-spread eslint rule in place

[2017-01-12 23:34] #808 closed

[2017-01-12 23:36] erwinmombay commented on #824
@adelinamart related to internal cleanup/tooling

[2017-01-12 23:37] erwinmombay commented on #898
This is obsolete since closure compiler will DCE this

[2017-01-12 23:37] #898 closed

[2017-01-12 23:41] erwinmombay commented on #1224
@dvoytenko is it worthwhile to measure that ensure visibility etc on the runtime?

[2017-01-12 23:42] erwinmombay commented on #1225
@ericlindley-g currently i don't see anything user facing benefit as there is almost always just 1 amp-user-notification component

[2017-01-12 23:42] #1225 closed

[2017-01-12 23:44] erwinmombay commented on #1229
since this is unlikely to happen, closing.

[2017-01-12 23:44] #1229 closed

[2017-01-12 23:44] erwinmombay commented on #1346
this is completed.

[2017-01-12 23:44] #1346 closed

[2017-01-12 23:46] erwinmombay commented on #2759
this has been recategorized to expected errors.

[2017-01-12 23:46] #2759 closed

[2017-01-12 23:48] erwinmombay commented on #3166
closed by https://github.com/ampproject/amphtml/pull/5890

[2017-01-12 23:48] #3166 closed

[2017-01-12 23:49] erwinmombay commented on #3481
@dvoytenko you happen to remember what happened to this?

[2017-01-12 23:53] erwinmombay commented on #3730
@camelburrito we can close this i think right? I don't remember how to replicate this

[2017-01-12 23:53] erwinmombay commented on #4058
closing since it is only chrome dev tools issue

[2017-01-12 23:53] #4058 closed

[2017-01-13 00:12] zhouyx commented on #3176
work on our end is done.

[2017-01-13 00:12] #3176 closed

[2017-01-13 00:12] zhouyx commented on #3801
close, cannot repro.

[2017-01-13 00:12] #3801 closed

[2017-01-13 00:14] zhouyx commented on #3264
"allow-same-origin" attribute is documented in our README file.

[2017-01-13 00:14] #3264 closed

[2017-01-13 00:16] zhouyx commented on #4078
@cramforce I think the PR is merged, can we close this?

[2017-01-13 00:17] zhouyx commented on #4923
Close this. We can reopen it if it comes back.

[2017-01-13 00:17] #4923 closed

[2017-01-13 00:20] zhouyx commented on #5178
@kevinlisota Do you still have this issue? Also You should be able to customize the padding height through CSS.

[2017-01-13 00:21] dvoytenko opened #7022 "Support server-rendered AMP pages."
Server-rendered here refers to an AMP cache that executes the initial transformations that AMP would otherwise apply to a document (such as element layout) on the server side.

[2017-01-13 00:26] adelinamart commented on #5200
Assigning this to Vamsee to decide if this something that will be needed to be added on the roadmap or close.

[2017-01-13 00:27] cramforce commented on #4078
@zhouyx No, because the experiment is still off, pending some research.

[2017-01-13 00:28] dknecht commented on #7022
What types of transformation are you thinking?

[2017-01-13 00:30] cramforce commented on #7022
Mostly what we call "applying layout" (like `layout=responsive`) and inserting AMP's core CSS.

The goal is to be able to remove the "AMP boilerplate" CSS, so the document can be painted in a decent fashion without running JS.

[2017-01-13 00:32] dknecht commented on #7022
That makes sense.   Can you share design doc when ready?

[2017-01-13 00:32] zhouyx commented on #5603
@jasti @lannka What's our next step on using native IntersectionObserver?

[2017-01-13 00:45] lannka commented on #5603
Once we build #6873 then we can ask everyone moves to that API.

[2017-01-13 01:04] Gregable commented on #6966
Fixed in https://github.com/ampproject/amphtml/pull/7023/commits/795ccdab2fdcab1e250c12a80fd04f7e6dc77409

Hopefully will be able to get this released quickly, but not yet.

[2017-01-13 01:04] jpettitt commented on #6066
It the plan to make this only work in the publisher includes the viewer JS or will it become part of the AMP core?

[2017-01-13 01:13] dvoytenko commented on #7022
@dknecht Sure! In short right now though: everything in [`applyLayout` method](https://github.com/ampproject/amphtml/blob/9b66415b9fc290b74782b286621a8c69fee3b149/src/custom-element.js#L225-L339) does not depend on runtime capabilities at all. So, the idea is that server can port this code and execute it server-side, thus leaving less work to do for runtime. but more importantly - the document can

[2017-01-13 01:14] dvoytenko commented on #7022
/to @honeybadgerdontcare when you have design doc ready, could you please post it here?

[2017-01-13 01:15] dvoytenko commented on #3481
This is what I just fixed :)

[2017-01-13 01:15] dvoytenko commented on #1224
Yeah, we determined in other projects that this is no longer a concern.

[2017-01-13 01:15] #1224 closed

[2017-01-13 01:18] honeybadgerdontcare commented on #7022
We don't have a design doc as we've been using the code in [`applyLayout` method](https://github.com/ampproject/amphtml/blob/9b66415b9fc290b74782b286621a8c69fee3b149/src/custom-element.js#L225-L339) as what needs to happen in AMP Cache. I can try to be more verbose than the code if that's helpful.

[2017-01-13 01:21] dvoytenko commented on #7022
@honeybadgerdontcare Perhaps let's add more description to this item with details, including `applyLayout` port?

[2017-01-13 01:26] honeybadgerdontcare commented on #7022
Sounds good.

[2017-01-13 01:54] stonezhong commented on #7000
@dvoytenko, thanks for explaining this, now I understand why 'layout=container' is not supported.

So if I have a container and the content is based on the JSON response (and bind to specified template), in such case, you have to be able to tell the size of the container before the AJAX call, otherwise, if after the AJAX call and it changes the container's size then it is considered as `disruptive

[2017-01-13 02:04] cramforce commented on #6066
@jpettitt It will be an extension injected by the cache on request of the embedder.

[2017-01-13 06:44] jalajc commented on #4771
@ericlindley-g,
ONE of the WAY, I have included this is combining amp-list-> the new feature of nested navigation to fetch data into tabs. Somehow it worked clean on pure css Tabs thing I have created.
However some learning:
1. Possibility of automatic tabs creation based on number of  objects in tab json file pulled through amp-list. Currently I specify 4 tabs manually and fill the tabs template

[2017-01-13 08:02] ymotongpoo opened #7024 "Auto height/width insertion support for amp-img tags"
## Short description of your issue:

Currently, ampporject official repository doesn't provide a tool to convert normal HTML to AMP HTML. Especially one of hardest part is to get height/width property of images. It would be great if there's a tool to fill mandatory attributes for amp-img.

## How do we reproduce the issue?

1. create an AMP HTML page that has `amp-img` tags without height/width at

[2017-01-13 12:35] cgorbit commented on #6942
?

[2017-01-13 15:04] #6556 closed

[2017-01-13 15:22] tonyruscoe opened #7025 "`amp-iframe` overflow elements layered behind iframe content"
When an overflowing resizable [`<amp-iframe>`](https://www.ampproject.org/docs/reference/components/amp-iframe) element is loaded in the viewport, and therefore not resized automatically, I would expect the `overflow` element to be positioned in front of the iframed content so that site visitors are able to easily tap it. Instead, the `overflow` element is currently positioned behind the iframe co

[2017-01-13 15:56] keithwrightbos opened #7026 "Modify AdSense adtest parameter to return "on" instead of "true""
## Short description of your issue:

Currently when testing A4A flow as a developer, 'adtest' parameter is included in the request with an incorrect value of "true" when it should be "on".  In addition, adtest=false is included for all other requests unnecessarily.

## How do we reproduce the issue?

For adtest=true, run local dev build and include exp=a4a:-1 on page url with adsense tag.
For adte

[2017-01-13 16:49] aghassemi opened #7027 "Support show standard actions on all elements"
Currently AMP supports `hide` on all elements as a [standard action](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md).

I like to extend the standard actions to include `show` and `toggle` for all elements as well. Showing/hiding elements is already somewhat supported by using `amp-accordion` or CSS tricks such as using `:focused` pseudo-selector. `amp-bind` would

[2017-01-13 16:52] aghassemi commented on #6198
/cc @ericlindley-g @dvoytenko @cramforce
this would expose `play`, `pause`, `mute`, `unmute` actions for video players than implement the video interface ( e.g. `amp-video`, `amp-youtube`)

[2017-01-13 17:00] ericlindley-g commented on #6198
/cc @rudygalfi re: video & @choumx re: Bind (not sure if it's relevant, but wanted to get it on your radar as there may be some overlap with the notion of custom video controls in Bind)

[2017-01-13 17:32] aghassemi commented on #6198
@ericlindley-g This will allow custom video controls for play/pause and mute/unmute. The primary use-case for this is having a "Play Video" element somewhere else on the page. Hiding native controls and implementing custom ones is definitely discouraged but makes sense for certain cases (specially video ads)

[2017-01-13 17:45] aghassemi opened #7028 "Support `playsfullscreen` on `amp-video`"
Authors should be able to specify where a video plays inline or full-screen when it starts playing.

Safari/iOS has always had good support for this feature but Chrome did not. We should polyfill Chrome.

`play-fullscreen` should behave as follows in _ALL PLATFORMS_:

- When user taps the video to play or when the video is played through the play AMP action, it should go to `native` full-screen (n

[2017-01-13 18:17] jacobdfriedmann commented on #6360
Hi @cramforce — Hope your 2017 is off to a nice start.

We’ve found publishers to be pretty drawn by the benefits AddThis share tools offer beyond navigator.share and the included buttons. The ability to personalize the look and feel of buttons, access to analytics, and influence over the sharing experience are a few meaningful features. Not to mention that we hope to eventually bring our whole su

[2017-01-13 18:25] aghassemi opened #7030 "Make `amp-video` tap-to-play UX consistent across iOS/Safari and Android/Chrome"
Native HTML5 players' UX is different on iOS/Safari and Android/Chrome. AMP should act as a normalizing force here and bring the best of each platform's UX into a single cross-platform implementation.

## Current behaviour:

**iOS/Safari:** It is NOT tap anywhere but iOS puts a pretty big "play" icon in the middle. iOS also does not show the controls until video plays.

**Android/Chrome:** tapping

[2017-01-13 18:39] dvoytenko commented on #6198
A note I made some time before: we need to think how to make this kind of actions to expose an interface that supports `isEnabled` API. E.g.
[code]

This way, supporting custom controls should be straightforward and can avoid most of event bindings - instead we can automatically update the state of the control and implement the action. This may or may not be part of binder.

[2017-01-13 18:41] dvoytenko commented on #7027
This is only a matter of us supporting a more advanced layering system so that we can react to arbitrary UI changes.

Another thing we have to keep in mind - some actions use transitions, so we need to be ready to run our update/layer pipelines after transitions complete.

/cc @jridgewell

[2017-01-13 18:48] dvoytenko commented on #7000
@stonezhong Do you have an example? We do allow resizes in very many cases and in practice we've seen resizes on `amp-list`s to be mostly allowed.

[2017-01-13 18:59] aghassemi commented on #7027
@dvoytenko is the advanced layering system is requirement before we support this? Looking at `amp-accordion`, it does nothing other than hiding/showing its container and waiting for the `pass` to do the proper scheduling. I assumed we can take the same approach as  `amp-accordion` for these actions.

[2017-01-13 19:28] jonkeller opened #7031 "Test failure on Mac due to browserslist not liking op_mini"
When running "gulp test --watch --safari --files=./extensions/amp-a4a/0.1/test/test-amp-a4a.js" on Mac, multiple occurrences of this are seen:

UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): BrowserslistError: Unknown browser query `op_mini all`

This results in the CSS not getting built. I suspect this is due to conflicting version requirements of browserslist, a

[2017-01-13 19:29] jridgewell commented on #3481
https://github.com/ampproject/amphtml/pull/7018? Can we close then?

[2017-01-13 19:30] jridgewell commented on #7031
/to @erwinmombay

[2017-01-13 19:48] jridgewell commented on #6942
I'm not sure I understand the question.

[2017-01-13 19:51] jridgewell commented on #7024
Duplicate of https://github.com/ampproject/amphtml/issues/2039#issue-134010121. This is something you'll have to solve on the server side, we can't provide a generic solution.

[2017-01-13 19:51] #7024 closed

[2017-01-13 20:07] KosIsland commented on #3813
@zhouyx: Up to now it is working without any problem. Thank you for your help.

[2017-01-13 20:16] jridgewell commented on #7025
@dvoytenko: Have some CSS wizardry for this? I noticed that if a reorder the DOM nodes, putting the overflow as the last child, and apply `transform: translateZ(0)` to it everything paints correctly.

[2017-01-13 20:26] cgorbit commented on #6942
Google AMP Cache delivers content from cdn.ampproject.org and 3p.ampproject.net.
Why TLDs differ?
Do they differ because of 3p is commercial content or for technological reason (e. g. web-security)?

[2017-01-13 21:00] cramforce commented on #6360
@jacobdfriedmann Sounds great!

[2017-01-13 21:19] jridgewell commented on #6942
They're different due to security concerns. All third-party content goes through `3p.ampproject.net`, which prevents it from accessing data in `cdn.ampproject.org` (cross origin policy).

[2017-01-13 21:19] #6942 closed

[2017-01-13 21:30] cgorbit commented on #6942
But {cdn,3p}.ampproject.org will be enough to be cross-domain (but Google use {cdn.ampproject.org, 3p.ampproject.net}).

The only thing I can imagine is the cookies set in ampproject.org with explicit domain (they will be seen in all subdomains, including 3p.ampproject.org).

[2017-01-13 21:37] dknecht commented on #6942
Cloudflare use amp.cloudflare.com and 3p(d-*).cloudflareamp.net for security reasons.

[2017-01-13 21:39] jridgewell commented on #6942
Exactly. To prevent any data access, we put them on entirely separate origins.

[2017-01-13 22:21] cgorbit commented on #6942
Thank you for the answer.
Could you clarify one me thing about domains in AMP? Why 3p.ampproject.net use random subdomains? After all, javascript in d-RANDOM.3p.ampproject.net could set/get cookies for 3p.ampproject.net.

[2017-01-13 22:31] jridgewell commented on #6942
The random subdomains prevents ad A from taking control of ad B. It they used the same domain (say, just `3p.ampproject.net`), they'd be able to communicate, redirect, etc.

[2017-01-13 22:33] #6916 closed

[2017-01-13 22:33] #6928 closed

[2017-01-13 22:42] mkhatib opened #7032 "Implement a build promise that resolve when an element builds"
As a follow up for #6951 we need a way to know when an element has been built.

This is because waiting for an extension to download still allows for a small chance of a race condition where we execute submission after the extension has installed but before elements have been built.

[2017-01-13 22:48] cramforce commented on #3578
@dvoytenko and me discussed this. Anything to report here?

[2017-01-13 22:51] jridgewell commented on #7032
We've been using services to do this:

 - https://github.com/ampproject/amphtml/blob/master/extensions/amp-experiment/0.1/amp-experiment.js#L50
 - https://github.com/ampproject/amphtml/blob/master/extensions/amp-share-tracking/0.1/amp-share-tracking.js#L91

[2017-01-13 22:56] mkhatib commented on #7032
Not sure if this would work for the dependency between `amp-selector` and `amp-form`. Basically `amp-form` needs to wait until `amp-selector` has finished downloading and building.

It's not clear to me how `getService` can be used here? Will `amp-selector` basically be required to define a service at the end of its `buildCallback` that `amp-form` would wait for?

[2017-01-13 22:58] jridgewell commented on #7032
Basically. Is this something that needs to be done for every `<amp-selector>`, or just once for all?

[2017-01-13 23:04] mkhatib commented on #7032
That's a good question. I think if the upgrade and build cycle happens for all `amp-selector`s synchronously once the extension is installed then once should be enough - otherwise we'll have to wait for each separate `amp-selector` to build.

What do you think?

@dvoytenko should we be using this method or would we still want to introduce a build promise?

[2017-01-13 23:13] muxin opened #7033 "sendRequest with awaitResponse false in viewer-integr-messaging not working"
When testing in `viewer.html`, there's problem with `sendRequest_`. Using `this.sendRequest_('scroll', {scrollTop}, true);` works but using `this.sendRequest_('scroll', {scrollTop}, false);` will not send the request to runtime correctly.

[2017-01-13 23:23] honeybadgerdontcare commented on #6966
This is now live. If you're still seeing the old error message then it's because the validator code is currently cached in your browser.

[2017-01-13 23:23] #6966 closed

[2017-01-13 23:27] honeybadgerdontcare commented on #6874
This is now live in prod.

[2017-01-13 23:27] #6874 closed

[2017-01-13 23:28] honeybadgerdontcare commented on #6870
This is now live in prod.

[2017-01-13 23:28] #6870 closed

[2017-01-13 23:29] honeybadgerdontcare commented on #6827
This is now live in prod.

[2017-01-13 23:29] #6827 closed

[2017-01-13 23:36] honeybadgerdontcare commented on #6811
This is now live in prod.

[2017-01-13 23:36] #6811 closed

[2017-01-13 23:38] honeybadgerdontcare commented on #6754
This is now live in prod.

[2017-01-13 23:38] #6754 closed

[2017-01-13 23:38] honeybadgerdontcare commented on #4919
This is now live in prod.

[2017-01-13 23:44] aghassemi commented on #6943
@chenshay Validator changes are live now.

[2017-01-14 02:57] jasti opened #7038 "Use 3p path instead of fast fetch if site is on HTTP"
For an AMP ad to be signed, the host page must be on HTTPS. We should optimize to fallback to 3P path if we recognize that the site is HTTP.
CC @lannka @ampproject/a4a

[2017-01-14 05:34] aghassemi commented on #7031
@jonkeller Please run `npm install` and try again. We recently upgraded our css dependencies to resolve this issue.

[2017-01-14 06:56] dknecht commented on #7038
Isn't this going to be a mixed content issue and blocked by the browser?

[2017-01-14 14:59] dknecht opened #7039 "Build fails on clean checkout"
Checkout fresh repo checkout 1484259764365 and run:

[code]

[2017-01-14 15:20] michaelkleber commented on #7038
For AdSense and DoubleClick, this is automatically handled by isGoogleAdsA4AValidEnvironment (in amphtml/ads/google/a4a/utils.js), where we check the browser for supportsNativeCrypto.  Probably this should be part of AmpAd's upgradeCallback instead, since the crypto requirement is an AMP dependency, not a decision made by each individual ad network.  (Also, should this call isCryptoAvailable from

[2017-01-14 15:51] taymonbeal commented on #7038
@michaelkleber is correct; browsers without Web Crypto can use Fast Fetch if the ad network permits it (AdSense and DoubleClick currently don't), but the creative will be rendered using delayed rendering regardless of its signature status.

@dknecht, unless my knowledge of browser security policies is rusty, HTTP pages can make AJAX requests to HTTPS URLs just fine (and all A4A Fast Fetch ad netwo

[2017-01-14 16:16] dknecht commented on #7038
Makes sense.  I was thinking more of amp only context where pages were https only.

[2017-01-14 18:29] taymonbeal commented on #7038
AMP isn't HTTPS-only; AMP Caches are (or at least should be), but A4A Fast Fetch works fine on AMP pages served directly from the publisher domain if the ad network permits it (again, AdSense and DoubleClick currently do not, though it seems TripleLift does). That said, we don't intend to allow _ad networks_ to serve Fast Fetch ads over insecure HTTP (a network impl that built non-HTTPS URLs would

[2017-01-14 19:14] aghassemi commented on #7039
@dknecht An npm sub-dependency has introduced changes breaking any build without https://github.com/ampproject/amphtml/commit/c5d305c93bafb4ac273c49ddac761b3a30a6d1f1 . `1484259764365` does not include c5d305c93bafb4ac273c49ddac761b3a30a6d1f1, if you cherry pick c5d305c93bafb4ac273c49ddac761b3a30a6d1f1 and remove `node_modules` and do a `npm install`, problem should go away.

[2017-01-14 19:32] dknecht commented on #7039
So does that mean when we publish a tag versioned it could technically be different based on when we build?

[2017-01-14 19:32] #7039 closed

[2017-01-14 19:41] erwinmombay commented on #7039
@dknecht i think its time we move to yarn so we can guarantee deterministic builds

[2017-01-14 19:59] dknecht commented on #7039
I am not a javascript guy so it just never occurred to me.

[2017-01-14 20:00] dknecht commented on #7039
/to @ipostelnik this is why the auto-deployer broke

[2017-01-14 21:29] puppetmaster3 commented on #2455
+1. Markdown to AMP flavor, for example of <IMG/>

[2017-01-14 23:45] jonkeller commented on #7031
@aghassemi Unfortunately the issue is not resolved.
I ran git pull (from master) and then npm install. Output looked hopeful:
 jonkeller@jonkeller-macbookpro  ~/workspace/amphtml   master  npm install
amp-html@0.1.0 /Users/jonkeller/workspace/amphtml
├─┬ autoprefixer@6.6.1
│ ├── browserslist@1.5.2
│ └── normalize-range@0.1.2
├── postcss@5.2.10
└─┬ postcss-import@9.1.0
  └─┬ promise-each@2.2.0

[2017-01-15 00:21] aghassemi commented on #7031
@jonkeller Would you please remove `node_modules` directory and doing `npm install`, `gulp build` again?

[2017-01-15 14:46] jonkeller commented on #7031
@aghassemi Yikes, you're right, I did forget to rm node_modules! After your change + doing that, yes, this bug is gone. Thank you!

[2017-01-15 15:26] wupengFEX commented on #961
@cramforce , I have two questions to ask:
1. Under server type, how to ensure the unique of client identify. if local storage, when clear it, how to match the client identify with publisher's database?
2. For paid pages,Whether to consider strong login or not. if clear local storage, other paid pages can be read,I think this is not a reasonable design!

[2017-01-15 16:06] wupengFEX opened #7042 "How to ensure data continuity when deleted client identify?"
When using authorization endpoint or pingback endpoint, I send data through client identify and save data in the publisher's database. After that i deleted local storage in browser, then the publisher data become useless. because when i browse the page again, the id will be re-created and is different from the previous id, so we can't update publisher id with current id, what should we do at this

[2017-01-15 18:54] aghassemi commented on #7031
Great! Closing the issue. https://github.com/ampproject/amphtml/pull/7041 should prevent this in the future.

[2017-01-15 18:54] #7031 closed

[2017-01-16 02:56] heiwen commented on #3403
+1

[2017-01-16 08:34] jaspersorrio opened #7044 "On Tap sometimes not responsive"
When using on tap attribute to open a sidebar on an iPhone, sometimes the tap/click doesn't register.

## How do we reproduce the issue?

1. Open https://output.jsbin.com/jopora on an iPhone 7.
2. Click on Menu (=).
3. Close on Close (X).
4. Click on Menu (=).
5. Close on Close (X).
6. Experience the bad UX.

Please note that I copied the compiled version of my site and deleted the content as i di

[2017-01-16 10:33] nickveenhof opened #7045 "Intent to Implement: amp-analytics support for Acquia"
Acquia intends to implement analytics support with AMP. I am not sure if we need to add more details. We are currently discussing internally what to do with https://github.com/ampproject/amphtml/issues/6031 so this is somewhat an impediment for us to support AMP quickly.

[2017-01-16 10:39] dignustech opened #7046 "amp element/result does not loading on submit, but loads on shaking the browser window"
I am working on a project where i am using the POLL widgets. It is currently working with combination of api and data is loading inside amp-list tag. When I submit the result via selecting any option the result does not show up, but when i zoom-in/zoom out the browser window, the result loads.

Does anyone experience the same problem with amp or have any solution and suggestions?

![widget-screens

[2017-01-16 14:55] gslsouza opened #7047 "Adsense for Search not clickable"
Ads generated by adsense for search, amp-ad type csa,
are not clickable.

## How do we reproduce the issue?
In the demo the ads are not clickable:

http://google-ads-amp-demos.com/amp_tests/csa/afs-atf.html

## What browsers are affected?

All browsers I tested: chrome, canary, ios safari, firefox, android chrome

## Which AMP version is affected?

This is a new issue. AMP version 1484259764365

[2017-01-16 16:35] tlong2 commented on #6196
I mentioned the AdSense offline system just as an example of how an ad network can create the JSON configs. Any offline systems/analysis are up to the network serving the config and are not part of amp-auto-ads, which is just the client-side AMP extension.

Any pages that have the <amp-auto-ads> tag will issue XHR config request to a URL specified in the network impl of https://github.com/ampproje

[2017-01-16 17:08] oliverfernandez commented on #6893
@dvoytenko

I'm working on it right now!

[2017-01-16 20:02] jacobwgillespie opened #7050 "Lightbox only closes with escape key on first close"
`amp-image-lightbox` only closes with the escape key if it has never been closed before, otherwise escape does nothing.

## How do we reproduce the issue?

**Works**

1. Visit http://bpsk31.com/articles/psk31-vs-cw/
2. Click on the first article image
3. Observe that pressing escape closes the lightbox

**Doesn't Work**

1. Visit http://bpsk31.com/articles/psk31-vs-cw/
2. Click on the first articl

[2017-01-16 23:37] tomayac commented on #2277
While my first AMP pages have just gone live (e.g., https://cdn.ampproject.org/c/s/blog.tomayac.com/categories/technical), it seems like ```<base href=/>``` is not back-translated to the origin URL, as all links currently ```404```, e.g., https://cdn.ampproject.org/2015/06/24/mediterranea-js-trip-report-151125 that should actually point to https://blog.tomayac.com/2015/06/24/mediterranea-js-trip-r

[2017-01-17 04:20] cramforce commented on #2277
That seems buggy, indeed. I would have expected the base tag to be removed from the output document and the links to be rewritten.

[2017-01-17 10:42] plegner opened #7054 "AMP validation should allow <meta value="">"
Currently, the AMP validator does not allow `value=""` attributes on `<meta>` tags:

[code]

However, this is required for Facebook Instant Article site verification tags:

[code]

Could you remove this restriction?

[2017-01-17 10:44] plegner commented on #7054
Actually, it seems like Facebook now also supports `<meta property="fb:pages" content="12345">`. Sorry!

[2017-01-17 10:44] #7054 closed

[2017-01-17 11:21] adewale commented on #5799
What's the current status of this issue?

[2017-01-17 13:05] semiromid opened #7056 "-amp-slides-container"
## Short description of your issue:

При использовании amp-carousel, будет добавляться в настольной версии отступ с низу.
/
When using the amp-carousel, will be added to the desktop version of the indentation from the bottom

Если мы используем мы используем в настольной версии браузера:
If we use, we use the desktop version of the browser:
http://imgur.com/a/QJ49e

Если мы используем мобильную ве

[2017-01-17 14:17] fulldecent commented on #534
We are not concerned about insecure versions of amp; we are concerned with insecure versions of NOT amp. Integrity guarantees that something an author links to is the same thing a viewer gets.

[2017-01-17 15:43] cramforce commented on #534
I understand, but against SRI is fundamentally incompatible with AMP. AMP, as it stands, cannot be used without trusting https://cdn.ampproject.org to deliver only official AMP versions.

I think what would make a lot of sense is to document how external parties can verify that the delivered sources are actually build from the open source repositiory.

[2017-01-17 15:45] shireeshaps commented on #6850
Whatsapp icon still not rendering like other social icons (twitter and facebook)

[2017-01-17 15:55] cramforce opened #7057 "Support indexing related meta tags"
I believe meta tags like `<meta name=robots content=noindex>` don't currently validate, but might be mistaken. If I am not, we should add support for them.

http://www.robotstxt.org/meta.html

[2017-01-17 16:10] jpettitt commented on #6597
I'm not seeing this in the current dev channel version 1484265443309 - did it go out?

[2017-01-17 16:29] jasti commented on #6597
I don't see it. @aghassemi, do you know why this didn't go out with last week's cut?

[2017-01-17 17:07] ericfs opened #7058 "send canonical url in `documentLoaded` messaage."
## Short description of your issue:

Send canonical url in `documentLoaded` [message](https://github.com/ampproject/amphtml/blob/93b67b07731f4176bef1350ef1d041644dceac15/src/service/resources-impl.js#L801).

This is to support Viewers so they can providing links, sharing, etc. to the canonical.

## What browsers are affected?

All browsers

[2017-01-17 17:10] dvoytenko commented on #7058
@muxin Could you please add? Canonical can be found by executing:
[code]

[2017-01-17 17:14] dvoytenko commented on #6893
@oliverfernandez  Thanks!

[2017-01-17 17:23] dvoytenko commented on #3578
@cramforce @nbeloglazov @Gregable The update here is that we will:

1. Update AMP Cache to rewrite URLs in `style` attributes. (b/34233580)
2. Then, we will allow `style` attribute in SVGs.

/cc @dknecht Depending on whether you do similar rewrites in the `<style amp-custom>`, you may also want to do the same.

[2017-01-17 17:26] aghassemi commented on #6597
The code is definitely in but I don't think #6907 is addressing the issue.
There is still the requirement that user needs to scroll equivalent of 1 viewport height before sticky ad shows up, that by itself enforces the fact that page needs to have 2 viewports (otherwise user can never scroll 1 viewport height) #6907 is removing the two viewpoint check, but in reality that has no effect for the rea

[2017-01-17 17:33] dvoytenko commented on #7025
Looks like a bug. I'll take a look.

[2017-01-17 17:34] dvoytenko commented on #3481
@erwinmombay Could you confirm?

[2017-01-17 17:36] dvoytenko commented on #7027
@aghassemi We can certainly do additional ad-hoc improvements and fixes to the current set of tools we employ - they can cover probably most of these actions. Some more serious issues will arise from above-the-element style changes and transitions.

[2017-01-17 17:39] erwinmombay commented on #3481
can't replicate anymore

[2017-01-17 17:44] rudygalfi commented on #4955
I think this was unintentionally closed. Reopening.

[2017-01-17 17:44] dvoytenko commented on #7032
@mkhatib @jridgewell This particular feature, looks like, needs per-element build promise, since `amp-form` relies on the state of each particular `amp-selector`. Obviously, most of time, the upgrade will force near-immediate build of all elements of the same type. However, we cannot rely on this being true 100% of the time - thus doing so would create a risk condition. So, I think we should consi

[2017-01-17 18:01] aghassemi commented on #6597
(To clarify we still want #6907, it handles the case where viewport size changes after load due to device rotation, etc.. but #6907 is not relaxing any requirements in regards to `amp-sticky-ad` requiring 2 viewports of content)

[2017-01-17 18:15] oliverfernandez commented on #6893
@dvoytenko PR done

[2017-01-17 18:21] jasti commented on #6597
Thanks. I think doing `user should scroll min(1 viewport)` as the restriction might be good enough (which implies that there is at least 1 viewport). Any reason why you suggest 50% of page heigh min?

[2017-01-17 18:23] #3481 closed

[2017-01-17 18:31] honeybadgerdontcare commented on #7057
`<meta name=robots content=noindex>` is valid as are other combinations of `name` and `content`. https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L379

[2017-01-17 18:33] Gregable commented on #3578
To clarify point 2, we will allow any attribute value for these `style` attributes.

[2017-01-17 18:34] aidantwoods commented on #6992
@cramforce (just to pick up on the discussion here)

That seems sensible. Change would only to be to allow the nonce attribute in scripts and styles – arbitrary scripts should stay illegal per spec.

i.e. `<script nonce='whatever'></script>` is still not allowed.

But currently allowed scripts should permit use of the nonce attribute.

[2017-01-17 18:34] Gregable commented on #7057
wai

[2017-01-17 18:34] #7057 closed

[2017-01-17 18:40] Gregable commented on #534
@cramforce, what do you think about allowing these for stylesheets, e.g.:

`<link rel=stylesheet href='https://fonts.googleapis.com/css?family=Lato|Bad+Script' integrity="...">`

[2017-01-17 18:44] #6588 closed

[2017-01-17 18:44] cramforce commented on #534
@Gregable we can definitely allow `integrity` on all non-JS resource elements. for `amp-img` and similar it would require a small JS change,

[2017-01-17 18:45] aghassemi commented on #6597
"user should scroll min 1 viewport" implies "that there is at least **2** viewports of content" which is the current behaviour. If there is only 1 viewport of content, user can not scroll at all (since all content fits the screen and there is no need for scrolling).

My suggestion relaxes this 2 viewport requirement a bit but not by much. Maybe a better approach is:

- If page <= 1vh (viewport hei

[2017-01-17 18:50] muxin commented on #7058
Ok, will do.

[2017-01-17 18:50] Gregable commented on #534
Hm, I don't think this attribute exists except for `<link>` and `<script>`, at least not according to https://www.w3.org/TR/SRI/#elements

So, I don't think there is any reason to implement code for `<amp-img>`

[2017-01-17 18:52] cramforce commented on #534
Definitely +1 on allowing it on `link`

[2017-01-17 18:55] dvoytenko commented on #7025
@jridgewell We've run into this browser nuance (or bug? can't find evidence one way or the other) before. It's fixed by adding `position:relative` to the div displayed on top of an iframe. PR is on the way.

[2017-01-17 19:03] dvoytenko commented on #7025
Actually, now that I thinking this through - this is an expected behavior. `z-index` requires non-static positioning. So, this is definitely a bug.

[2017-01-17 19:03] erwinmombay commented on #6973
@ericlindley-g will look into this tomorrow. you mind showing me a replication?

[2017-01-17 19:04] fulldecent opened #7060 "Update guidelines to recommend SRI for custom fonts."
Custom fonts are documented at:

You CAN reference an external file for fonts.

The current example (link above) shows a link to a font style sheet:

Best practice for `<link>` is to use Subresource Integrity. SRI is documented at:

Therefore, the example should be updated to:

[2017-01-17 19:05] fulldecent commented on #534
To be clear: this is issue is concerned with AMP creating versioned and integrity-verified releases of AMP. Issues related to font CSS integrity are separate and I have created an issue https://github.com/ampproject/amphtml/issues/7060 to discuss that separately. Also that includes more specific action points to that issue.

[2017-01-17 19:13] aghassemi opened #7062 "form proxy failing on `id` when `name=id`"
Happening in **prod** and **canary** as well.

If there is a `select` in a form with `name="id"`, `amp-form` initialization fails with:
[code]

Looks like `target.id` in `installActionHandler` returns an `array` in this case instead of empty string. Not sure why the proxy is not kicking in, proxy is definitely installed by the time `target.id` is called. Happening in latest Chrome so not a legacy

[2017-01-17 19:18] ryanpoplin commented on #6389
Hey Team,

(Disclaimer: I'm working with @randallbpotter15 and I'd like to continue on this thread despite the topic title conflict because of the Google AMP Viewer conversations mentioned here. Let me know if there's a more appropriate issue thread available.)

Currently we're having an issue for example where our navigation icon renders correctly during local testing (no CSS barking from the Goo

[2017-01-17 19:21] dvoytenko commented on #7062
/cc @erwinmombay @mkhatib

The work to fix these issues is ongoing. I'll see if we can have some short-term solution in the meantime.

[2017-01-17 19:22] aghassemi commented on #7062
Some sample Urls with the failure:

http://www.boxingnewsandviews.com/2017/01/17/lemieux-stevens/amp/?amp_js_v=6
https://www.britroyals.com/kings.asp?id=george5&amp_js_v=6

[2017-01-17 19:23] fulldecent commented on #534
Following is an action plan for correcting this instant issue of SRI for AMP.

 - [ ] Make a release NOW using a real version number.
    - Discussion: the latest version of this project is [1484265443309](https://github.com/ampproject/amphtml/releases/tag/1484265443309)
    - Recommendation: release https://cdn.ampproject.org/v0.js as https://cdn.ampproject.org/v0.0.1-1484265443309.js
 - [ ] Comm

[2017-01-17 19:23] camelburrito commented on #6389
@ryanpoplin - could you try and see it in the web-inspector on chrome or safari (or paste a search link - i can debug for you)

[2017-01-17 19:23] dvoytenko opened #7063 "Cleanup form proxy rewrite"

[2017-01-17 19:26] erwinmombay commented on #7063
this is for the AST transformation correct? (if so ill assign to myself)

[2017-01-17 19:27] jmadler commented on #4953
Post-Holidays Ping :)

[2017-01-17 19:28] mkhatib opened #7064 "CID service failing in Shadow DOM"
We'll probably need to make CID work on doc-scope since it has a dependency on viewer visibility.

[2017-01-17 19:31] cramforce commented on #534
AMP is an evergreen JavaScript library. We will not allow users to lock themselves into a particular release. Using an old version of AMP is bad for the same reason of using an old version of Chrome.

If link is covered in a separate issue we can close this.

[2017-01-17 19:37] ryanpoplin commented on #6389
https://www.google.com/amp/s/amp.cnn.com/cnn/2016/07/15/world/live-blog-turkey/index.html

[2017-01-17 19:45] ryanpoplin commented on #6389
I'll open a new issue on this now.

[2017-01-17 19:47] dvoytenko commented on #7063
No. This is cleanup after your work is done :)

[2017-01-17 19:58] ryanpoplin opened #7066 "AMP Viewer causing CSS alterations in production"
## How do we reproduce the issue?

Steps for reproduction:

1. Go here: https://www.google.com/amp/s/amp.cnn.com/cnn/2016/07/15/world/live-blog-turkey/index.html (We're using latest Chrome via inspect mode)
2. You'll notice in the top right hand corner a hamburger icon is not visible in the header (there is a visible hamburger icon during local testing, however; not when it's within the 'AMP Viewe

[2017-01-17 20:00] cramforce commented on #7057
Woot. Thanks!

[2017-01-17 20:14] ryanpoplin commented on #6389
For any Devs running across what I have mentioned in the previous comments, I've opened an issues here: https://github.com/ampproject/amphtml/issues/7066.

[2017-01-17 20:32] fulldecent commented on #534
@cramforce Could you please link to where this "evergreen JavaScript library" concept is documented as a best practice?

Please note that the work plan above does allow AMP to continue recommending that developers link to the always-latest version of the project, as is currently the case today.