[2016-05-15 16:46] ericlindley-g commented on #2911
@88kbbq That's a great suggestion—it may even make sense as an option in [amp-fixed](https://github.com/ampproject/amphtml/issues/2309), so the hide-on-scroll-down/show-on-scroll-up behavior can apply to a range of fixed-position cases

/cc @cramforce

[2016-05-15 20:37] jpettitt commented on #2911
@88kbbq so you're talking about [headroom.js](https://github.com/WickyNilliams/headroom.js) ?   I like that although I'd want to have more flexibility than the single offset trigger it offers.  I can see a bunch of use cases.

1. The header bar (both a disappearing version and one that gets smaller when you scroll past a given point)
2. A footer bar that appear after you pass the end of the articl

[2016-05-15 20:46] jpettitt commented on #1196
@cramforce - can you elaborate on why this didn't happen?  It would have been quite helpful.

[2016-05-15 20:56] cramforce commented on #1196
Primary reason is that some use cases where this is useful like analytics should use a more specialized method instead.

[2016-05-15 21:06] jasti commented on #3176
@cramforce On the call, we explored the possibility of amp-ad taking additional sizes as input (in addition to the primary w and h - additional sizes need to be smaller than primary sizes), pass those sizes along to the ad server (Could be any ad server, but let's take DFP as an example - because it supports multi-size). If the ad server returns an ad with primary size, do nothing and display ad -

[2016-05-15 21:26] 88kbbq commented on #2911
I get the AMP premise and mobile-first approach, but the process of vetting anything to do with JS and getting functionality integrated with some amp-extension is slow and resource intensive. I don't understand why little libraries like headroom.js can't just be whitelisted in the same way fonts are, or why we can't include a 50k of inline JS like with CSS. I'm just finding this AMP project so res

[2016-05-16 14:02] cramforce commented on #2911
Just allowing arbitrary JS to implement such a feature would disable many of the optimizations in AMP (which are based on having control on when things change their position) and often JS libs aren't build with all-async loading in mind.

No reason headroom.js couldn't be wrapped in a quick extension. The project would likely do slightly more generic extension when designing from scratch (which is

[2016-05-16 14:16] 88kbbq commented on #2911
Thanks for your reply @cramforce. My thoughts were that rules could be set for adding custom JS just like with CSS (no picture element, no !important, etc.) and if the page validates then it's AMP'd; if not, it isn't. Then it would be for developers and website owners to decide direction with much less difficulty and in a much shorter timeline. For example, if I was getting paid to build an AMP HT

[2016-05-16 14:18] cramforce commented on #2911
@88kbbq Custom JS will come. Not too optimistic about us shipping it this year, but we're working on it. Plan is embedded in this post https://medium.com/@cramforce/2016-will-be-the-year-of-concurrency-on-the-web-c39b1e99b30f#.85pep8oqy

[2016-05-16 15:26] RonanDrouglazet opened #3227 "requestResize broke layout="responsive""
## Short description of your issue:

As we discuss on #3182 , we can't be sure to be closed by AMP Framework when no content available

So we choose to start with an amp-ad container closed (height=1) and only open it if we have some ad to display, according to the AMP resizing rules

BUT use of context.requestResize broke the layout="responsive" behaviors

We just want to update the responsive ra

[2016-05-16 16:03] cramforce opened #3228 "Simulate various load order race conditions"
The task is to implement **multiple variants** a simple integration test that loads one or two simple extensions (ideally extensions that do not depend on external resources such as `amp-fit-text` or `amp-iframe` with a `srcdoc`) and tests that rendering works as expected. The test should be as simple (and thus stable as possible), but needs to ensure that elements are properly upgraded.

The vari

[2016-05-16 16:52] cramforce commented on #3220
@indianburger just clarifying: You are waiting for onload on `<link rel=stylesheet>` and it doesn't fire?

[2016-05-16 17:32] dvoytenko opened #3229 "Translate referrer from CCT's new format"
Starting M50, CCT reports referrer in the following format:

[code]

We may want to translate it into a more canonical URL. E.g. for `com.google.android.googlequicksearchbox` it's `www.google.com`.

[2016-05-16 17:32] dvoytenko commented on #3229
/cc @cramforce to chime in.

[2016-05-16 17:33] cramforce commented on #3229
I think its enough for the viewer to handle this since they have a mechanism to override the referrer.

[2016-05-16 17:45] indianburger commented on #3220
That's correct. It usually fires, but once in a few times it doesn't. Don't know why.

[2016-05-16 17:54] dvoytenko commented on #3229
And if an AMP page is opened in a CCT directly from `cdn.ampproject.org`, are we ok to just passing through `android-app://package-name`?

[2016-05-16 18:10] cramforce commented on #3227
I don't think this is something we want to support directly. I'd expect you to send another `requestResize` after an orientation change. Any reason that doesn't work?

[2016-05-16 18:18] cramforce commented on #3229
Yeah. I think that is a feature.

[2016-05-16 18:25] #3229 closed

[2016-05-16 18:40] esprehn commented on #3220
Please file a bug at crbug.com and we'll follow up. :)

[2016-05-16 18:47] cramforce commented on #3220
@indianburger Would you mind to file and cc malteubl  at google.com

[2016-05-16 18:58] #3207 closed

[2016-05-16 19:21] RonanDrouglazet commented on #3227
Hi @cramforce ,

Okay i've just tested and it seems work well 80% of time (sometimes denied i don't know why yet)

Sorry for the misunderstanding, the AMP resizing rules are not very clear about that. We 've got some troubles concerning opening or closing the amp-ad component if user scroll fast to our slot and is in view during the resize request.

we hoped to enjoy your effective responsive layo

[2016-05-16 20:11] jasti commented on #3058
#3133 ads are a perfect fit here. Replace 'Fast Ads' with 'AMP' Ads.

[2016-05-16 20:45] cramforce commented on #3220
I found out that if you turn off cross iframe script sharing that the problem goes away

[2016-05-16 20:47] benbakhar opened #3233 "Intent to implement: Apester unit embed"
This proposed `<amp-apester>` component would embed a responsive Apester unit in an iframe.
This single component would support publishers using Apester CMS and enable them easy embed in AMP articles.

Exmaple:

[code]

This markup exmaple will create an iframe with src [https://preview.qmerce.com/interaction/573a302aeac5f7343b74dae1](https://renderer.qmerce.com/interaction/573a302aeac5f7343b74dae

[2016-05-16 20:57] cramforce commented on #3220
@indianburger I found out what is causing this in Chrome. AMP uses the same Twitter `platform.js` across multiple frames and it just so happens that Chrome throttles the frame that loads it (which is basically a random tweet on the page).

One thing Twitter could do to be more robust about this, is to always be explicit what window to use.

E.g. instead of `document.createElement` do `tweet.ownerD

[2016-05-16 21:24] nedward3 commented on #3176
@cramforce Confirming we use DFP. @jasti This would be a perfect strategy for us. Can you clarify what you mean by filling the remaining space with parent color? Would that be the background color of the page?

[2016-05-16 22:01] cramforce commented on #3220
Filed https://bugs.chromium.org/p/chromium/issues/detail?id=612272 against Chrome.

This might (or might not) be entirely different from Mobile Safari issue.

[2016-05-16 22:01] jasti commented on #3176
@nedward3 By parent color:  instead of filling with 'white' space, if technically possible, fill with the color of the surrounding element so the 'white' color doesn't stand out in contrast.
Background color of the page may be one option but I'm thinking of a scenario where the background color is different than an element that surrounds the ad.

[2016-05-16 22:10] avimehta commented on #3149
@jpettitt That is correct. I think this request can be closed. Please reopen if you think otherwise or have any other questions.

[2016-05-16 22:10] #3149 closed

[2016-05-16 23:59] cramforce commented on #3176
I think the color stuff is fully up to the page. I believe the ad starts out transparent.

This is definitely something that can be implemented. Just needs to be prioritized against other work. Also happy to guide external contributors, of course :)

[2016-05-17 00:32] zhouyx commented on #2472
@kashyapnitin

Do we have to recompute a maximum height every time on orientation change? 1/6vh will be smaller than 100px in landscape mode (for cellphones).

[2016-05-17 01:39] michaelkleber commented on #3058
Yes, the amp-ad tag will end up with a way to specify that only a4a-style AMP-format ads are permitted, and the runtime will be able to enforce the restriction.

[2016-05-17 02:11] jasti commented on #3176
@nedward3 any chance you or anyone from the team is willing to contribute? Think it'll be an awesome feature to have that'd help a lot of publishers.
CC @kashyapnitin

[2016-05-17 14:49] polohero opened #3243 "Validator errors, no idea why or how to fix"
I'm getting the below errors when I run the validator against my website. "http://www.baby-stats.com/homeamp.html#development=1".

For testing, I've commented out everything in the body so it's just a blank body without anything and it still failed. I've also tried removing everything just in case the comments were causing the issue and still no go. So, I don't believe it to be anything in my page

[2016-05-17 15:51] dvoytenko commented on #3243
/to @Gregable @powdercloud

[2016-05-17 17:12] Gregable commented on #3243
The contents of your boilerplate `<style>` tags are slightly incorrect. If you copy the string from here:
https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md
It'll validate.

Some variants in whitespace and such from the above work, but we are currently stricter than we need to be. There is a separate issue tracking this: https://github.com/ampproject/amphtml/issues/1877

[2016-05-17 17:12] #3243 closed

[2016-05-17 17:58] dvoytenko opened #3244 "Closure compiler: forbid use of un-imported global functions"
This would remove a common case of failure when an import is missed. I don't believe we ever use global functions anyway, instead referencing them off `window` object. If we do need them sometimes, we can define a single externs file with them. This is a very typical and hard-to-catch bug.

[2016-05-17 17:58] dvoytenko commented on #3244
/cc @cramforce @jridgewell

[2016-05-17 18:09] cramforce commented on #3233
This looks good. You will likely need a `layout` attribute. Should the value be `fixed-height` or `responsive`?

[2016-05-17 18:15] erwinmombay commented on #3244
@cramforce we're probably going to need the externs you wrote in https://github.com/ampproject/amphtml/pull/3223/files to get this working right?

[2016-05-17 18:23] cramforce commented on #3244
I find it somewhat surprising that this doesn't break yet :)

On Tue, May 17, 2016 at 11:15 AM, erwin mombay <notifications@github.com>
wrote:

[2016-05-17 18:25] Preen opened #3245 "amp-social-share custom width / height"
Is there a reason why it's not possible to set a custom width / height of the amp-social-share? it always defaults to 60x44.

[2016-05-17 18:28] erwinmombay commented on #3245
to: @mkhatib

[2016-05-17 18:36] dvoytenko commented on #3233
@benbakhar Thanks a lot. This sounds great. Two quick questions to start this off:

1. Sizing: how predictable is the sizing of your widgets? AMP is pretty opinionated as far as initial layout concerned to avoid disruptions due to unexpected resizes. We provide a few models to accommodate typical layout needs and hopefully these widgets would fit into that well.

2. E.g. with polls, do you current

[2016-05-17 18:37] dvoytenko commented on #3245
Definitely sounds like a bug.

[2016-05-17 21:46] jasti commented on #2472
@zhouyx If performance is not a problem, we should initiate a fresh amp-ad request when user switches orientation and adhere to these calcs but restrict the width to max 320 px (this is the most common sticky size). Does that make sense?
QQ: What will happen if the returned ad is greater than 1/6th of the vh?

[2016-05-17 21:57] nedward3 commented on #3176
@jasti Definitely. @elitetruong from our Partner Platforms team can help with this.

[2016-05-17 22:00] jasti commented on #3176
@nedward3 Excellent. @elitetruong Welcome! https://github.com/ampproject/amphtml/blob/master/DEVELOPING.md

[2016-05-17 22:17] zhouyx opened #3250 "amp-sticky-ad maximum height"
The current amp-sticky-ad max-height does not take viewport height into calculation and is set to 100px all the time.
When orientation changes, the current amp-sticky-ad max-height doesn't change. Is it supposed to work like this?

[2016-05-17 22:26] ccnixon commented on #2360
Hey team - any updates here or thoughts on when it might be available? Thanks!

[2016-05-17 22:46] #2422 closed

[2016-05-17 22:46] #2423 closed

[2016-05-17 23:52] kul3r4 opened #3253 "Validator is not supporting amp-sticky-ad"
The AMP Validator is not supporting amp-sticky-ad that was added from [here](https://github.com/ampproject/amphtml/pull/3119)

## How do we reproduce the issue?

https://github.com/ampproject/amp-by-example/blob/sticky-ads/src/20_Components/amp-ad.html
When running the page with #development=1 I get the validation error. (The tag 'amp-sticky-ad' is disallowed.)

## What browsers are affected?

Chr

[2016-05-18 00:01] Gregable commented on #3253
@erwinmombay , is this spec ready for validation?

[2016-05-18 00:29] adamzr opened #3254 "Enable CORS for assets on https://cdn.ampproject.org"
I'd like to get the browser to preload https://cdn.ampproject.org/v0.js, so I sent an HTTP header on the response from my AMP HTML page like so:

`Link:<https://cdn.ampproject.org/v0.js>; rel=preload; crossorigin
`

However, this gets me the error:

`Link element resource from origin 'https://cdn.ampproject.org' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Cont

[2016-05-18 00:53] cramforce commented on #2472
This is fine for orientationchange, but is a reload also OK for resize
events (rare on mobile, but happens on desktop)? Might need to be heavily
throttled then.

On Tue, May 17, 2016 at 2:46 PM, Vamsee Jasti <notifications@github.com>
wrote:

[2016-05-18 00:55] cramforce commented on #2360
@ccnixon Do you have a contact at Keen.io who could contribute a pull request to implement this?

[2016-05-18 00:56] cramforce commented on #3253
Yes, @zhouyx for details.

[2016-05-18 01:00] cramforce commented on #3254
Hmm. My understanding is that this is not technically true. For some reason, preloads issued via header are not (somewhat ironically) executed until after the first chunk has been parsed. We tried :)

I think this is because, the browser devs found that resources in the top part of the doc are more critical than the header.

It is a bit sad. Ideally the request would be issued immediately from the

[2016-05-18 01:16] adamzr commented on #3254
I was actually hoping that my CDN (CloudFlare) would push them via HTTP2 Server Push. But, it turns out that they only do that for non-crossorigin assets (not surprising).

Is that after 1st chunk rule part of the spec or just browser implementation? Because browsers may change....

[2016-05-18 01:20] cramforce commented on #3254
Sure, may change.

Push does only work if the resources are in the same HTTP2 tunnel (same IP and cert, can be different origin), but push is not good here, because there is little way to know whether the client already has them cached, and this being likely it would waste a lot of bandwidth.

[2016-05-18 01:22] cramforce commented on #3254
Anyway, I'm generally fine with adding this on the serving side. Do you know whether it actually doesn't work? Does it go into the cache?

Do you know why there is the origin limitation on the header when it is not present on the equivalent link tag?

[2016-05-18 02:10] adamzr commented on #3254
This is the screenshot of the error:
![Imgur](http://i.imgur.com/KKa8PJd.png)

[2016-05-18 02:10] adamzr commented on #3254
I don't know why this limitation is only on the header

[2016-05-18 02:15] mkhatib commented on #1286
@nicblass thanks for the feedback. a lot of what you mentioned might be out of the scope of enabling forms support in AMP but might warrant a special extension if there's a big demand for these kind of flows.

I am working initially on adding the initial support for forms while keeping in mind future features and flows - #3251 - this PR is still early and would probably change a lot as we have a b

[2016-05-18 15:03] jasti commented on #2472
yup, this can get out of control if we allow reload on resize. We should restrict to reload only on orientation change. There are AdX policies which don't allow triggering an ad refresh without user action. (People could take advantage of constantly resizing a number of times BTF which trigger fake impressions in the ad server).

[2016-05-18 15:35] Nodemio commented on #3254
fork this repo and mantain update you fork... lazy

[2016-05-18 17:37] Gregable commented on #1564
This one is fixed.

[2016-05-18 17:37] #1564 closed

[2016-05-18 18:09] honeybadgerdontcare commented on #1967
Here's a code snippet that would allow one to get the result for validation using XHR. One can also get the specific warnings/errors from the result as well via result.errors.

var xhr = new XMLHttpRequest();
xhr.open('GET', document.location, true);
xhr.onreadystatechange = validationResult;
xhr.send();
function validationResult() { if (xhr.readyState === 4) { result = amp.validator.validateStrin

[2016-05-18 18:24] Gregable commented on #3253
It would be best if someone could draft some documentation for this one: https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad/amp-sticky-ad.md

[2016-05-18 19:48] ccnixon commented on #2360
@cramforce I do not. I'm with Segment and our API looks for base64 encoding as well (as do a few other analytics providers I believe). Happy to see where I could contribute unless you think this is something that is close to a release?

[2016-05-18 19:50] ericlindley-g opened #3264 "Improve documentation for amp-iframe resize"
@sriramkrish85 — opening this bug from the convo in #3046, to track the task to improve the documentation for amp-iframe resize (or change the origin check)

[2016-05-18 19:54] JoelRegus opened #3265 "Observe Intersection and nested AMP documents."
If an amp-ad element exists within an AMP page that is served within an iframe, the data returned from observeIntersection will be relative to the iframe, not the parent document.

This makes sense, however it posses an issue when measuring viewability.

For example, the ad on this page is always going to be in view:

http://dfp-amp-testing-1185.appspot.com/amp_tests/dfp-image-layouts-fixed.html

[2016-05-18 19:55] rudygalfi commented on #2360
Nobody is currently working on this, so we would appreciate a pull request. I'm assuming @avimehta and @cramforce are fine with introducing the described behavior. From my point of view, this looks like a useful addition to integrate with services that require this encoding format.

[2016-05-18 20:51] zhouyx commented on #3253
will work on that

[2016-05-18 20:53] Gregable commented on #3253
Thanks!

[2016-05-18 21:08] kushal commented on #2916
I've been chewing this over, but I still think it'd be useful to support multiple amp:access blocks for cases where information can come from both a third-party and the publisher themselves. Even with social login support, it's easy to imagine other scenarios where it's helpful to be able to condition aspects of the display of an article on the results of a RPC to an external service that the user

[2016-05-18 22:41] hemanth opened #3267 "FR: Search AMPs."
It would be great to have a place where I can search all the AMP components, I am more than happy to do a PR ;)

[2016-05-18 23:03] benbakhar commented on #3233
Hey guys thanks for answering,

@cramforce i guess we will use the `fixed-height` property as our units indeed have fixed height per unit across all platforms.

@dvoytenko to ensure one person one vote we are using local storage api if supported on client. about our unit's sizes, we are using fixed height with fluid width layout supporting `max-width` of 700px

[2016-05-19 01:07] dandv commented on #1877
Is this issue causing this block to fail (not the space after the opening `{`)?

[code]

After deleting the space, validation passes.

The validation error message could be a lot more helpful... confused one partner today at I/O.

[2016-05-19 01:47] jridgewell commented on #1877
Re: https://github.com/ampproject/amphtml/issues/2369#issuecomment-190954736t

[2016-05-19 01:50] pdufour opened #3269 "Click tracking support"
## Short description of your issue:

It would be very useful to have extra amp-analytics vars for the element that was clicked. This would be especially useful for instance if you wanted to track which outbound links were clicked the most. They would be similar to these vars https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#interaction.

My proposal, borr

[2016-05-19 08:21] jilt commented on #1286
Working on a dynamic gpg-form for amp website, very interested in this amp-dynamic-form implementation (I need a contact form for every member of a team), thanks a lot for your time and efforts

[2016-05-19 11:40] tori3 opened #3270 "chrome v48+. layout issue of flex box."
When using ```flex box``` and ```overflow: hidden``` on chrome v48+, will occur layout problem.
Can you modify using amp.js for this issue?

Sample code
http://jsbin.com/qujuhifufo/edit?html,js,output

Related URL
https://github.com/angular/material/issues/6841#issue-128627963

If you add the bellow css, does not occur issue.
But ```*``` may not be used in author stylesheets.
https://github.com/am

[2016-05-19 14:45] cramforce commented on #3233
LGTM

[2016-05-19 14:46] cramforce commented on #3233
Would `amp-poll-apester` make sense here?

We're trying to make the names a bit more useful :)

[2016-05-19 15:11] elitetruong commented on #3176
Hi @jasti! We're currently figuring out when we can work on this with our internal revenue teams and getting priorities together. In the interim, what would be our next steps to test or implement dynamic ad calls?

[2016-05-19 15:37] tdrl opened #3271 "New amp-ad extension needs a .md doc file"
In the refactor from a builtin to an extension, amp-ad docs got left behind.  I can see rationale for that, since the lazy script loading allows publishers to treat it as a builtin.  But there should be at least some docs in extensions/amp-ad.

@zhouyx ?

[2016-05-19 17:40] parisholley opened #3272 "3P: computeInMasterFrame order"
According to the documentation, contributions for amp-ad can use computeInMasterFrame() to bundle HTTP requests for placements on an AMP page. I have tried implementing such behavior but it does not appear that the framework will guarantee the order of execution?

For example, say my page looks likes this:

[code]

I would expect that each 3P ad provider could register computeInMasterFrame() on pa

[2016-05-19 19:29] jridgewell commented on #3267
What exactly do you mean? We do have all our components on in https://github.com/ampproject/amphtml/tree/master/extensions (hopefully with a description in the README there).

[2016-05-19 19:30] jridgewell commented on #3272
Assigning to @cramforce to give you a proper answer.

[2016-05-20 00:06] poscar commented on #1877
This issue is also affecting us. The following fails to validate:
[code]

is there an ETA for a fix?

Thanks!

[2016-05-20 00:23] powdercloud commented on #2996
@zhouyx This was has been out for a while - sorry I'm a bit slow with following up. Closing the bug since it's all done.

[2016-05-20 00:23] #2996 closed

[2016-05-20 04:15] hemanth commented on #3267
@jridgewell Something like [this](http://yeoman.io/generators/)

[2016-05-20 12:12] Internet-BillBoard opened #3278 "Add iBILLBOARD Adserver in AMP"
Hi,
According to the technical specifications we're able to implement iBILLBOARD AdServer to the AMP registered subjects, and so we want to proceed with it.
Can we move on to signature of the CLA, or is there some further information required?

[2016-05-20 14:25] cramforce commented on #3220
Working in AMP was pushed to prod and the Chrome team already landed a fix on their side. We might need to keep the workaround, because Safari has the same bug.
@dvoytenko Could you file a webkit bug?

[2016-05-20 14:28] cramforce commented on #3272
@parisholley Your assessment is correct. The master is assigned by which ever loads first and it isn't aware of the configuration of other not-yet-rendered frames.

What is your exact use case?

[2016-05-20 15:08] parisholley commented on #3272
@cramforce When publishers use our tags direct normally, we scan for all placements on the page then make a single HTTP request for ads to fill each spot. This allows us to optimize by reducing duplications, bid across multiple placements, properly enforce frequency capping, etc. In DFP, this would be considered "Single Request Mode".

To work around this right now, I have to write a "lock" to the

[2016-05-20 16:28] indianburger commented on #3220
Forgot to update here. I have filed a Twitter bug internally to use the target node's ownerDocument. There are a lot of references, so it'll take some time to get this out.

[2016-05-20 17:42] powdercloud commented on #2369
I've submitted an update to allow leading and trailing spaces, so the particular version in @PaulElschot's post should start working once this is live (I'll try to update this issue). The regex I put is not as elaborate as @jridgewell's however - I'd like to keep this a bit simpler for now.

[2016-05-20 20:08] jasti commented on #3176
Thanks, @elitetruong. @cramforce, would you be able to guide please?
@michaelkleber what's the best way to pass in an optional multi-size on amp-ad, so the ad server extension can take advantage of requesting a multi-size request to the adserver? (As JSON parameter on amp-ad or as a new optional attribute in amp-ad? Something else? )
Key restrictions is that the additional size should be smaller t

[2016-05-20 22:52] j-e-shaw commented on #1297
Would it be possible to add AMP_SELECTOR_RIGHT/BOTTOM to go with AMP_SELECTOR_X/Y so we can get the full box?

If not, what about AMP_SELECTOR_WIDTH/HEIGHT?

[2016-05-20 23:04] avimehta commented on #1297
Either of those work but I find Width/height a bit more readable. I'll go with that if you don't mind.

[2016-05-20 23:31] j-e-shaw commented on #1297
width/height will work fine. Thanks!

[2016-05-22 04:01] dknecht commented on #2968
It looks like some code has been committed.  Can you explain more of what the CDN will do in this case?

[2016-05-22 13:13] OksanaSemenov commented on #3233
@cramforce regarding the name:
amp-apester
or
amp-apester-media

thanks!

[2016-05-23 10:24] slivorezka opened #3287 "Add multiple side of amp-sidebar"
HI guys!
So we can  set open side of `amp-sidebar` by `body ` tag’s dir attribute (ltr => left , rtl => right’).
But if I have two `amp-sidebar` and I need use first menu open from left side
and last menu open from right side?
Can we implement a rule for open sidebar left / right by tag side=right / side=right inside `amp-sidebar` tag?
For example:

[code]
[code]
Thanks!

[2016-05-23 16:15] dvoytenko commented on #3287
/to @sriramkrish85
/cc @rudygalfi @ericlindley-g

[2016-05-23 16:23] cramforce commented on #3272
Makes sense. One thing that has been discussed before is to make the configuration for all sibling frames available to the master. We definitely don't want to eagerly create the siblings, but the master could have all the meta info about them.

[2016-05-23 16:25] cramforce commented on #3176
Most straight forward would be to support passing `dimensions` down as JSON. In this proposal, they always be smaller then the slot, right?

[2016-05-23 16:26] cramforce commented on #3233
The name should encode what it is for. It is used for more than polls?

[2016-05-23 16:29] parisholley commented on #3272
@cramforce If that is a design the AMP team is ok with, I'd be happy to provide a pull for the implementation. Haven't dug around the code yet, but I assume it would be simple enough to perhaps ad a "slaves" parameter to the context of the master?

[2016-05-23 17:10] dvoytenko commented on #2968
@dknecht Still working on the details. But we are currently exploring with the CDN initially sending pre-filtered document with only sections that are initially visible and then sending the rest on the second authorization request.

[2016-05-23 17:25] cramforce commented on #3272
Feel free to give it a shot!

I think you may need to use `postMessage` to request the info from the parent page as otherwise URLs could get super large.

[2016-05-23 17:31] rudygalfi commented on #3278
@Internet-BillBoard If you are planning to contribute an implementation according to https://github.com/ampproject/amphtml/blob/master/ads/integration-guide.md, then please submit a pull request. You can sign the CLA and the travis check on the pull request should go green once you've signed.

/cc @kashyapnitin

[2016-05-23 17:33] dvoytenko commented on #3233
@benbakhar Thanks for the responses! And what do you store in the local storage? I'm asking because AMP requires a greater document embed-ability and there are some notable restrictions for use of local storage in iframes, especially in Safari. E.g. see https://github.com/ampproject/amphtml/issues/2970#issuecomment-214530415

[2016-05-23 18:20] dvoytenko commented on #3270
@jridgewell @sriramkrish85 It looks like `min-width: 0px` is only needed on the `body`. Does anyone know why? It looks like the behavior is the same on Chrome and Firefox, but not on iOS.

[2016-05-23 18:20] dvoytenko commented on #3270
/to @jridgewell for now.

[2016-05-23 18:22] dvoytenko commented on #3269
/cc @avimehta

[2016-05-23 18:23] cramforce commented on #3265
Good point. As we formalize the viewer API we will need to require viewers to supply their own change records down to us. The current viewport implementations should, to some extend handle this already.

CC @dvoytenko

[2016-05-23 18:25] cramforce commented on #1877
@Gregable any chance boilerplate validation could be switched to use the CSS parser instead?

[2016-05-23 18:27] cramforce commented on #3267
CC @pbakaus @sebastianbenz

[2016-05-23 18:46] erwinmombay commented on #1542
closed by https://github.com/ampproject/amphtml/pull/2976

[2016-05-23 18:46] #1542 closed

[2016-05-23 18:46] dvoytenko commented on #3077
Would really like this, but no solution currently. Dropping to backlog.

[2016-05-23 18:54] erwinmombay commented on #2882
closed by https://github.com/ampproject/amphtml/pull/3230

[2016-05-23 18:54] #2882 closed

[2016-05-23 19:10] pbakaus commented on #3267
yep I think that'd be awesome! A PR on the docs repo (https://github.com/ampproject/docs) would be pretty sweet. Have a look how things are setup and let me know if there are any questions.

@cramforce not sure if there's a way to move an issue? Or should we reopen one in the docs repo?

[2016-05-23 19:15] cramforce commented on #3267
New issue and just reference them each other.

[2016-05-23 19:20] dvoytenko commented on #3265
Right now we require AMP to be sized to the whole viewport (`top = 0; left = 0; right = 0; bottom = 0`) and provide offsets in the form of padding. This however, is purely the initial implementation choice and we will likely add more API to support more complicated cases.

[2016-05-23 19:27] rudygalfi commented on #3269
This seems to overlap with #1298.

[2016-05-23 19:33] jridgewell commented on #3270
This is also fixed by using:

[code]

Note that it's not directly related to the body. It happens when we have two flex containers `A` and `B` (`B` is a child of `A`). In that case, we must specify a width on `B`.

I think this is instead an issue with the crazy way we define responsive images.

 - - -

`overflow: hidden` seems to have nothing to do with it, we just need something wide enough to o

[2016-05-23 20:29] cramforce commented on #2042
@dvoytenko how do you feel about this?

[2016-05-23 20:56] Gregable commented on #1877
Yes, we'd like to do that eventually, but for now I think some tweaks to the regexp are a more appropriate solution. @powdercloud has just added a few updates which should help when they roll out.

[2016-05-23 21:44] zhouyx commented on #3271
Working on that. But basically no feature changed and the amp-ad docs in builtin already got updated. It seems to me adding docs to extensions/amp-ad would simply be adding a duplicate docs file there?

[2016-05-23 21:48] rudygalfi commented on #3271
This is about updating https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad/amp-sticky-ad.md, right?

I think we should have some content here. It should have the table that other extensions have with listings for Description, Availability, Required Script, Supported Layouts, and Examples. However, where it makes sense, it can heavily reference and make use of the documentati

[2016-05-23 21:59] zhouyx commented on #3271
I believe this is about adding new amp-ad.md because it's moved to extension .
For the amp-sticky-ad.md, The pull request is #3280. Thanks for the comment I will add the reference to amp-ad there.

[2016-05-23 22:59] #3267 closed

[2016-05-23 23:31] dvoytenko commented on #3270
@jridgewell So, the recommendation is to just define `width: 100%` on body in all cases?

[2016-05-23 23:44] sriramkrish85 commented on #3270
I would say , lets recommend not making body a flex-box?

[2016-05-23 23:45] jasti commented on #3176
Correct, always smaller than W and H on amp-ad.

[2016-05-23 23:47] sriramkrish85 opened #3296 "Make amp-font polyfill use font-weight and font-style to download the right font file"
The following JS is where the bug needs to be fixed (in fontloader.js)

[code]

[2016-05-23 23:49] hemanth opened #3297 "FR: generator-amp"
Hello Folks,

Do checkout [generator-amp](https://github.com/hemanth/generator-amp) it's still in `v0.0.1` and all it does for now is the below:

![amp](https://cloud.githubusercontent.com/assets/18315/15487954/44a18d64-2106-11e6-8aa3-de081d3f44ee.gif)

If some of you have some time we can make this stable and live soon, let me know what you think of this.

[2016-05-23 23:52] dvoytenko commented on #3270
@sriramkrish85 @jridgewell Correct: we need to be very careful allowing to change display of the body. It's easy enough to add an extra div if needed.

However, I think it's totally reasonable to add `width: 100%` on body if there are no negative consequences.

I don't think there's anything really crazy about them. I believe they simply take the available width which is simply much bigger here th

[2016-05-23 23:56] dvoytenko commented on #2042
Functionality wise - it's good. I'd only be concerned that we are currently not set up very well to easily measure visibility and opacity (we already do positioning against the viewport). Specifically we would want to monitor css/class changes, media queries, etc which we currently do very spotingly.

[2016-05-24 00:55] zhouyx opened #3298 "`amp-accordion` is not returning to its previous state in the case of coming back to a page"

[2016-05-24 01:03] cramforce commented on #3298
@sriramkrish85 Are we tracking this already?
This should be fixed by storing the state in `sessionStorage`

[2016-05-24 01:04] sriramkrish85 commented on #3298
@cramforce no we are not - and yes we are fixing with sessionStorage,

[2016-05-24 01:21] mkhatib opened #3299 "AMP Ad Integration Tests broken"
[code]

[2016-05-24 10:58] willy182 opened #3304 "AMP validation Had errors:"
anybody knows where the problem is??
how do I fix it?

![error](https://cloud.githubusercontent.com/assets/15019686/15501694/0aa9bc0c-21d9-11e6-8002-e530c5dfd181.jpg)

[2016-05-24 13:01] Adirbe commented on #3233
@OksanaSemenov @cramforce Apester is used for all storytelling purpose, so publishers can use polls, quizzes, Journey, video and more - so not just polls :)

We would love to get amp-apester-media or amp-apester-stroytelling

Thank you!

[2016-05-24 13:22] yevheniiminin opened #3306 "Intent to implement: O2Player embed"
This proposed amp-o2player component would embed a responsive O2Player in an iframe. This single component would support publishers using AOL O2Player.

Example:

<amp-o2player
    data-vid="57029f58e4b09a9cae6cc82f"
    width="480" height="270">
</amp-o2player>
The above would yield http://delivery.vidible.tv/htmlembed/57029f58e4b09a9cae6cc82f.html.

The component supports a pause postMessage eve

[2016-05-24 13:23] yevheniiminin commented on #3306
#3305

[2016-05-24 14:54] erwinmombay opened #3307 "remove amp-sidebar experiment 2 weeks from now"
used to force out of experiment

[2016-05-24 14:55] erwinmombay opened #3308 "remove amp-social-share from global amp config"
used to force out of experiment

[2016-05-24 15:10] ericfs opened #3309 "hasNextNodeInDocumentOrder causes infinite loop"
It always sets currentElement = element.parentNode instead of currentElement.parentNode
https://github.com/ampproject/amphtml/blob/master/src/dom.js#L402

[2016-05-24 15:34] erwinmombay commented on #3309
@mkhatib assigned to you

[2016-05-24 15:39] cramforce commented on #3233
SGTM
Would there be a type attribute that makes it semantically visible what type of embed is being shown?

[2016-05-24 15:41] erwinmombay commented on #3309
introduced in https://github.com/ampproject/amphtml/pull/3174 which is currently in this weeks opt-in canary

[2016-05-24 15:54] Meggin commented on #3304
This doc should help:
https://www.ampproject.org/docs/reference/validation_errors.html

On Tue, May 24, 2016 at 3:58 AM, willy kristianto <notifications@github.com>
wrote:

[2016-05-24 16:18] Adirbe commented on #3233
@cramforce Sure! for each engine there is a other logo.

[2016-05-24 17:18] dvoytenko commented on #3227
@RonanDrouglazet The best place to read about ad resizing is here:
https://github.com/ampproject/amphtml/blob/74b9daf2263d45c401dbf4810c9751c15d86e46a/ads/README.md#ad-resizing

The ad element will follow the specified `layout`, e.g. `layout=responsive`, which will automatically resize based on the page layout. As an Ad author you can listen to your window's resize events and react to them as nece

[2016-05-24 17:19] dvoytenko commented on #3227
I will close this issue, but please feel free to respond with more questions as needed.

[2016-05-24 17:19] #3227 closed

[2016-05-24 17:22] michaelkleber commented on #3176
I can imagine two ways this could work.  Roughly:

(1) AMP allows an iframe that's the only child of a fixed-sized div to resize itself any time without user interaction, even if it's on-screen.  Then any ad network that supports multi-sized ads could use their existing multi-size mechanism with a postMessage to AMP to ask for a resize.  The <div> can be styled with CSS to make the non-ad-containi

[2016-05-24 17:25] jridgewell commented on #3304
We're pretty clear with the error messages.

- Your `amp-custom` inline stylesheet is too long. You're allowed at most 50kb.
- Only `https` is allowed for sources
- `<img>` is an invalid tag in AMP, use `<amp-img>`. (`<img>` _is_ allowed under a `<noscript>`)
- You have a `;` attribute in your `<a>`? Not sure how that happened.
- `<form>` is an invalid tag in AMP. (We're [working](https://github.c

[2016-05-24 17:25] #3304 closed

[2016-05-24 17:31] jridgewell commented on #3270
That doesn't solve the [generic issue](https://github.com/ampproject/amphtml/issues/3270#issuecomment-221071860), though. I think this is a user beware: you're CSS can affect the page layout.

Why don't we define the width to be the viewport width?

[2016-05-24 17:56] dvoytenko commented on #3270
@jridgewell

Agree. Let's do. But under experiment.

Sorry, can you clarify? Viewport width = width for what?

[2016-05-24 18:02] jridgewell commented on #3270
Do what?

The `<amp-img>` tag. Why don't we define it's width (or max-width) to be `100vw`, so that they never do this.

[2016-05-24 18:23] dvoytenko commented on #3309
Is this already in PROD?

[2016-05-24 18:34] dvoytenko commented on #3270
Set body width to 100%.

The responsive width is defined not in terms of viewport width, but in terms of how much space the image has. E.g. based on the parent element's width + padding. Viewport width doesn't give us that.

[2016-05-24 18:37] mkhatib opened #3314 "Investigate why iframe-helper test fails when test iframes are failing"
[code]

[2016-05-24 18:39] mkhatib opened #3315 "Investigate why cleaning up iframes break integration tests on Safari"
Currently in `_init_tests.js` we remove all test `iframe`s to allow chrome to collect the memory. We only do this on Chrome because tests on Safari seems to break.

[2016-05-24 18:56] pinto-resmadrid opened #3316 "Papel Pintado"
``<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<title>Papel Pintado</title>
<meta name="description" content="Los Mejores Profesionales en Colocar Papel Pintado y Decoraciones interiores de Hogar ">

<meta name="robots" content="all">
<meta name="generator" content="One.com Web Editor">
<meta http-equiv="Cache-Control" content="must-revalidate, max-age=0, public">
<meta http-equiv="Expires"

[2016-05-24 18:59] pinto-resmadrid opened #3317 "Como Quitar Gotele"
`<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<title>Como Quitar  Gotelé</title>
<meta name="description" content="Como Quitar Gotelé al Temple,Plástica,de forma manual con espátula o con máquina  profesional">

<meta name="robots" content="all">
<meta name="generator" content="One.com Web Editor">
<meta http-equiv="Cache-Control" content="must-revalidate, max-age=0, public">
<meta http-equ

[2016-05-24 19:00] pinto-resmadrid commented on #3317
COMO SE QUITA GOTELE

[2016-05-24 19:28] dvoytenko commented on #2891
This is not related to the `amp-fit-text` - this looks like a general iframe testing thing. Closing in favor of other improvements we do here.

[2016-05-24 19:28] #2891 closed

[2016-05-24 19:45] powdercloud commented on #2369
The slightly more lenient regex is live, so @PaulElschot's example in particular should work from hereon. I'll take the liberty and close this particular issue - thanks much for raising it.

[2016-05-24 19:53] powdercloud commented on #1877
@poscar's version works now.
@dandv the space after { is still not allowed.
The criterium I used for what's allowed and what isn't is to take the original boilerplate and make a regex that allows arbitrary whitespace where whitespace is *required*, plus whitespace for putting the CSS on a seperate line, the way html5 tidy wants to do it (as documented by someone in #2369). This keeps the regexes r

[2016-05-24 20:09] #3317 closed

[2016-05-24 20:13] powdercloud commented on #2221
This is live in the validator.

[2016-05-24 20:13] #2221 closed

[2016-05-24 20:37] #2369 closed

[2016-05-24 20:48] dvoytenko opened #3318 "Research and make a decision on whether `body` needs `width: 100%`"
AMP exercises a great control over `body` element at this time, e.g. by forcing `overflow-x: hidden` on it and other CSS properties. We may also want to add `body {width: 100%}`. Some reasons why this may be needed:
1. The general goal is to ensure that the content properly fist within the visible viewport horizontally. This matters on mobile since we allow horizontal swipe to navigate between doc

[2016-05-24 20:49] dvoytenko commented on #3270
@tori3 So to sum this up. To fix the situation right now you need to either (a) move `display: flex` from the  `body` to a nested `div`, or (b) add CSS `body {min-width: 0;}` - both will fix this issue.

We will research and make decision on whether our `body` needs `width: 100%` separately in the #3318.

[2016-05-24 21:12] zhouyx commented on #3271
@erwinmombay
So we want to redirect amp-ad docs from builtins to extensions?

[2016-05-24 21:32] camelburrito opened #3320 "Close all other sidebars when a new sidebar is opened."
Although not recommended we could still have more than 1 sidebar on a page.

The issue here is we could have more than 1 sidebar open at the same time.

For example - open sidebar 1 and have a button inside sidebar 1 to open sidebar 2. This would open sidebar 2 without closing sidebar 2.

This needs to be fixed. The fix would be is to close all other sidebars on the page when any sidebar is opened

[2016-05-24 21:34] sriramkrish85 commented on #3287
@slivorezka just curious - what is the use-case for this ?
Although 2 sidebars are not recommended it is possible to do what you described.
Given that you should also note that we do have a UX bug (https://github.com/ampproject/amphtml/issues/3320) that will be fixed. And make your plans accordingly.

You are also welcome to help fix this bug :)

[2016-05-24 21:59] jridgewell commented on #3270
Closing this with https://github.com/ampproject/amphtml/issues/3270#issuecomment-221396858.

[2016-05-24 21:59] #3270 closed

[2016-05-24 22:00] senthilp opened #3322 "`amp-lightbox` should toggle the `aria-hidden` attribute when showing/hiding the lightbox"
During the initial view of a page the `amp-lightbox` component should be hidden from screen readers. Only when activated or displayed it should be screen reader accessible. This can be done by toggling the `aria-hidden` attribute on the dialog element (or directly on the `amp-lightbox` web component).

**Default state**
[code]

**When lightbox is open**
[code]
This will be an a11y requirement.

[2016-05-24 22:46] dvoytenko commented on #3322
Lightbox pre-visibility has `display: none` set on it and that should be enough to hide it from screen readers.

@senthilp Are you finding it not to be the case in some cases? Could you please advise on the browser/platform where you are observing this?

[2016-05-24 23:08] erwinmombay commented on #3271
yes we have to do it for www.ampproject.org/docs/* since we can do redirects there

[2016-05-24 23:47] ericfs opened #3323 "Add support for viewers scrolling away UI during document consumption"
E.g. a viewer might show the origin of the doc and may want to hide that as the user scrolls down, but show it again when they scroll up.

Event should be send on `scroll` event and contain `scrollTop` and potentially the cached `scrollHeight`

[2016-05-25 00:46] cramforce commented on #3323
@ericfs Tuned your description a bit :)

Assigned to @muxin

[2016-05-25 06:36] benbakhar commented on #3233
@cramforce currently we are no using any data attribute like so.

[2016-05-25 16:22] senthilp commented on #3322
@dvoytenko It was reported by our internal accessibility validation tool, when it ran on the markup. We did some deep dive and it looks like `display: none` is sufficient to hide it for all screen readers. We will update our internal tool to reflect this. We can close the issue.

Thanks for your quick response.

[2016-05-25 17:29] slivorezka opened #3328 "Allow use amp-iframe inside amp-sidebar"
Hi guys!
Can we allow use `apm-iframe` inside `amp-sidebar`?
I seen in the [amp-iframe rules](https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/0.1/validator-amp-iframe.protoascii)
... `disallowed_ancestor: "amp-sidebar"` ...

So why we have this disallow rule?

Tahaks!

[2016-05-25 17:36] erwinmombay opened #3329 "make amp-live-list have smooth scroll"

[2016-05-25 17:36] erwinmombay opened #3330 "make amp-live-list respect max-items-per-page limit"
currently we don't remove items from the items slot even if we go over the limit

[2016-05-25 18:39] sriramkrish85 commented on #3328
@slivorezka what is the use-case?

CC @ericlindley-g @rudygalfi

[2016-05-25 18:41] #3322 closed

[2016-05-25 18:55] jridgewell commented on #3323
The converse of this would enable "tap scrollbar to scroll to top" in iOS. If a user does, it'll trigger a scroll event (if the viewer is not already at the top) in the viewer window. If we send down that scroll event, we can scroll to the top of the AMP doc as well.

[2016-05-25 19:46] erwinmombay opened #3332 "compensate for scroll position when doing an amp-live-list replace/tombstone"
the tombstone and replace operations are batched with the insert operation which required a user interaction wherein we scroll to the top of the component after insertion to display the new items, this makes the sizing of component itself not obvious and is not surprising to the reader as it required a user interaction. when there is a tombstone or replace operation requested but NO insert operati

[2016-05-25 20:21] jasti commented on #3176
Thanks @michaelkleber.
I was hoping this would be more straightforward, without any work on the ad server. We definitely don't want to do 2) (Invasive & large changes on the server side for every ad server).
Sending a multi-size request to the ad server is a trivial change but : a) Receiving smaller size and b) padding with whitespace (transparent/ publisher defined), both need to happen on the cl

[2016-05-25 23:10] jpettitt opened #3333 "Feature request - allow amp-list in amp-sidebar"
I'd like to be able to use `amp-list` in `amp-sidebar` elements.

The use case is to create dynamic, user or geo specific,  menu items, show breaking news etc.

[2016-05-25 23:12] rudygalfi commented on #3333
/to @ericlindley-g and @sriramkrish85

I know we were conservative on the initial whitelist... Did we consider amp-list?

[2016-05-25 23:14] rudygalfi commented on #3323
Putting in Backlog for now. @muxin, if you plan to work on soon, please change to Current or Next as appropriate. Thanks!

[2016-05-25 23:14] rudygalfi commented on #3318
Putting in Backlog for now. @jridgewell, if you plan to work on soon, please change to Current or Next as appropriate. Thanks!

[2016-05-25 23:15] #3316 closed

[2016-05-25 23:15] rudygalfi commented on #3308
Putting in Backlog for now. @erwinmombay, if you plan to work on soon, please change to Current or Next as appropriate. Thanks!

[2016-05-25 23:15] rudygalfi commented on #3307
Putting into Next, given description to do in ~2 weeks

[2016-05-25 23:17] rudygalfi commented on #3298
Looks like work is in progress for this in #3300 so putting into Current.

[2016-05-25 23:18] rudygalfi commented on #3297
Can you be more specific about the request? What change is needed to AMP?

[2016-05-25 23:19] rudygalfi commented on #3296
Putting in Backlog for now. @sriramkrish85, if you plan to work on soon, please change to Current or Next as appropriate. Thanks!

[2016-05-25 23:23] rudygalfi commented on #3250
Putting in Backlog for now, but please update if being worked on now/soon.

[2016-05-25 23:24] rudygalfi commented on #3228
Adding to Backlog

[2016-05-25 23:25] rudygalfi commented on #3271
Putting into Current milestone assuming this is getting actively worked on...

[2016-05-25 23:27] rudygalfi commented on #3244
Putting in Backlog, but please change if being worked on now / soon.

[2016-05-26 00:14] hemanth commented on #3297
@rudygalfi I was looking for boilerplate codes, was planning to use the same that's in the examples dir.

[2016-05-26 03:40] tori3 commented on #3270
@dvoytenko @jridgewell Thank you for giving me good advice.

[2016-05-26 07:36] slivorezka commented on #3328
@sriramkrish85
For example some forms, search form, etc by iframe inside `amp-sidebar`
I think it is necessary functionality.

[2016-05-26 13:46] kul3r4 opened #3336 "amp-fx-flying-carpet library returns 404"
## Short description of your issue:
https://cdn.ampproject.org/v0/amp-fx-flying-carpet-0.1.js  returns 404

## How do we reproduce the issue?

Open in a browser https://cdn.ampproject.org/v0/amp-fx-flying-carpet-0.1.js.
I was trying to create an example [here](https://github.com/kul3r4/amp-by-example/blob/amp-flying-carpet/src/20_Components/amp-flying-carpet.html) but the call returns 404

## What

[2016-05-26 14:30] torbenbrodt commented on #2640
2 month have passed. Any updates on this?

[2016-05-26 15:00] uniquelygeneric opened #3337 "Intent to Implement: Nielsen analytics"

[2016-05-26 16:26] jridgewell opened #3338 "Flying Carpet should collapse if only child fails to load"
Eg. if we have an `<amp-ad>` that fails to load the ad and does not have a fallback, the `<amp-fx-flying-carpet>` should collapse.

[2016-05-26 16:47] rudygalfi commented on #3328
There is work for forms tracked by #1286 with initial implementation in #3251. Direct support rather than via amp-iframe will be the way to go here.

[2016-05-26 17:09] erwinmombay opened #3339 "implement `disabled` property for `amp-live-list`"

[2016-05-26 17:48] ericfs opened #3340 "border-top-width on body element causes incorrect display of lightbox in iOS Safari in Viewer"
Example page with issue:
https://www.google.com/amp/mashable-amphtml.googleusercontent.com/amphtml/pages/CAIiEAkT4PrPGjd0a1zZrN_xpVQqIggEKhoIACIQd3d3Lm1hc2hhYmxlLmNvbSoECAowCDCBmB4#

Tap the image to open the lightbox

## What browsers are affected?
iOS Safari

## Which AMP version is affected?
1463506087793

Is this a new issue? Or was it always broken? Paste your AMP version. You can find it in

[2016-05-26 18:53] mkhatib opened #3343 "Intent to Implement: AMP Forms Support"
AMP will allow the usage of HTML5 `<form>` and `<input>`s. Publishers and Developers wanting to use Forms in their AMP Docs would be required to include the `amp-form` extension. There would be no `amp-form` element provided initially though it might be introduced in the future if we see need to it.

For now the AMP Form extension will polyfill support for validation where missing and allow forms

[2016-05-26 19:00] dvoytenko commented on #3333
I think it'd be fine, but it will initially be broken due to resize rules and thus these rules will have to be adjusted for the sidebar use-case.

[2016-05-26 19:23] avclicky opened #3345 "Intent-to-Implement: Clicky Web Analytics"
Hello,

Proposal to add simple support for Clicky Web Analytics. The development has occurred already, on a separate branch in a separate fork [0], and is entirely contained within one commit [1].

We are working on getting the CLA processed.

avclicky

[0] https://github.com/avclicky/amphtml/tree/clicky-support
[1] 11c5f2526431b940ab377c9e39c4817e6bcbbb22

[2016-05-26 19:40] mkhatib opened #3347 "Exclude <input> and other input tags from being placeholders"
Now that we plan to support forms #3343 we need to make sure AMP differentiate between the AMP `placeholder` attribute to indicate an element is a placeholder for its parent and the `placeholder="some text"` on input-types to show a placeholder text inside the input field.

One way to do this is by just excluding inputs from being AMP placeholders. It doesn't actually make sense since AMP placehol

[2016-05-26 22:05] mkhatib opened #3348 "Validator: Allowing Forms and Inputs"
AMP will start supporting forms - see #3343, filing this to get discussion going and to start on the validator part in parallel.

* Allow usage of `form`, `input`, `textarea`, `select`, `option` tags in AMP Docs.
* Must include amp-form extension script if document uses form/input/select/textarea tags.
* Must use inputs tags inside form tag.
* Form must have at least one `<input type=submit>`
* Fo

[2016-05-26 22:44] rudygalfi commented on #2640
Hi @torbenbrodt -- Sorry no updates yet.

You could submit a pull request /cc @cramforce for feedback if that's the path you want to go

[2016-05-27 00:01] JoeArizona opened #3350 "Syntax guide for using fonts already on the device"
Enhancement request:

It would be extremely helpful to have a guide specifying the correct syntax for using locally installed fonts. With AMP there's still a presumption that we're making the user download fonts, which I'd like to avoid with some caveats.

What we need – and what I haven't found on Android dev docs – is an accurate list of exactly which fonts are installed on Android devices. It s

[2016-05-27 01:59] jridgewell opened #3354 "Build Resource Infinite Loop"
We currently have a hidden infinite loop:

When building `<amp-lightbox>`, we [append each child](https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L55-L57) to a new container element. This causes a us to call `attachedCallback` on that child, which [adds](https://github.com/ampproject/amphtml/blob/d90cfc89b48c5aba822f5a2ca099397d7db5fc65/src/custom-elem

[2016-05-27 02:49] mkhatib opened #3356 "Re-attached elements are being built again"
Follow up to #3354

We sometimes re-parent children to wrap them in a container (e.g. Carousel, Lightbox). But those children may have already been built. But since we fire another `attachedCallback`, we'll add them to the unbuilts again, and try to build again. It's cool to add them to the list again, but we should make sure they're really unbuilt before trying to #build them again.

I believe we

[2016-05-27 02:51] mkhatib commented on #3356
It doesn't seem we reset `this.built_` in the detached callback so I think this should do it. Worth looking more into it.

[2016-05-27 05:58] #3309 closed

[2016-05-27 07:25] azizhk commented on #1497
Please guide me with this PR:
https://github.com/ampproject/amphtml/pull/3360

It adds box-sizing to all elements but it can be easily overriden.

[2016-05-27 08:04] avimehta commented on #2487
@rudygalfi  a few questions:

What exactly does invisible mean? Does user swiping to a different document count? does changing browser tab or minimizing the window count? Or only the page getting unloaded counts?

Also, is this supposed to work for pages that are not inside a viewer? (eg: directly on publisher website or through cache?) If they are supposed to work, viewer.onVisibilityChanged will

[2016-05-27 16:15] rudygalfi commented on #2487
I'd be curious to hear @uniquelygeneric's requirements here.

I think this event is going to be pretty best-effort given we're trying to do work just as the page is going away. I think definitely in a viewer context `viewer.onVisibilityChanged` sounds like the way to go. I assume that will cover swiping to a different document.

Changing browser tab or minimizing window seem like they might be bet

[2016-05-27 16:54] #3121 closed

[2016-05-27 17:15] zhouyx opened #3363 "test-insert-extension is failing locally"
<img width="567" alt="screen shot 2016-05-27 at 10 13 17 am" src="https://cloud.githubusercontent.com/assets/5419904/15615531/c5f3315c-23f3-11e6-88d5-462235d1dd96.png">

[2016-05-27 17:17] dvoytenko commented on #3348
This would be good to discuss if we can do this behind the experiment in validator.

[2016-05-27 17:20] zhouyx commented on #3363
@muxin Could you please take a look at `calculateExtensionScriptUrl` function in `insert-extension.js` file. Thanks!

[2016-05-27 17:33] pdufour opened #3364 "amp-analytics does not load sometimes"
## Short description of your issue:

I will provide more information as I can get it, but I've noticed times where the analytics code will not fire at all. There aren't any network issues like the scripts not loading or anything, so I think there must be some sort of race condition within the AMP code. Maybe something with how the "visible" trigger works?

## How do we reproduce the issue?

1. Ref

[2016-05-27 17:35] pdufour commented on #3364
I have a tab open now where GA & the other pixels never loaded. Is there any sort of debug information I can provide?

[2016-05-27 17:39] dvoytenko commented on #3345
Sounds good

/cc @rudygalfi @avimehta

[2016-05-27 17:41] dvoytenko commented on #3350
/cc @rudygalfi @cramforce @sriramkrish85

[2016-05-27 17:46] erwinmombay commented on #3364
@cramforce who should this be triaged to?

[2016-05-27 17:50] dvoytenko commented on #3354
@jridgewell @mkhatib Makes sense and let's proceed with the fix. One thing: if the element is already built - we certainly don't need to build it again. But adding it to the "pending" set today shouldn't really cause any problems since CustomElement always ensures that it builds only once. Again - it's certainly better not to even try to build it in this case.

One case that still would fall throu

[2016-05-27 17:52] jridgewell commented on #3356
Oh why do we have `Resource` and `ElementProto`. :sigh:

So looks like there's an issue further up in `Resources#add`. We shouldn't be pushing the element into the `resources_` array if it already has an associated `Resource` in the array.

[2016-05-27 17:53] cramforce commented on #3350
I think this is a good suggestion, but not really AMP specific, is it? That'd be a great resource for the web.

[2016-05-27 17:55] cramforce commented on #3364
@pdufour thanks for the report!
@avimehta could you try to reproduce?

[2016-05-27 17:55] dvoytenko opened #3365 "Do not build a cloned node twice"
To repro create a document with e.g. an `amp-carousel` element. Wait for it to build (`buildCallback` is called) and run the following code on this element:

[code]

You will see that the cloned node will be built again and thus will have duplicate built artifacts such as container, slides, arrows, etc.

We can solve it by setting state on the built node that will survive cloning: a class or an at

[2016-05-27 17:55] dvoytenko commented on #3365
/cc @jridgewell @mkhatib

[2016-05-27 17:58] jpettitt commented on #1241
Closing this, will revisit later when the viewer is documented.

[2016-05-27 17:58] #1241 closed

[2016-05-27 18:01] mkhatib commented on #3354
What are cloned nodes? These are other than the re-parenting of a node?

[2016-05-27 18:04] dvoytenko commented on #3356
We should not be resetting `this.built_` ever (though there might be exceptions). The element should be built the first time it's added to DOM and stay built until it's destroyed.

However, we may want to reset `element[RESOURCE_PROP_]` when resource is removed in `Resources.remove`. That would be my preference. It should work correctly right away, I believe - the Resource instance already initial

[2016-05-27 18:04] dvoytenko opened #3366 "Reset `element[RESOURCE_PROP_]` when the resource is removed from resource manager"
`Resources.remove(element)` should reset `element[RESOURCE_PROP_]` since we can consider that resource no longer exists.

[2016-05-27 18:04] dvoytenko commented on #3356
I filed #3366 for `element[RESOURCE_PROP_]`

[2016-05-27 18:08] jridgewell commented on #3309
Closed by #3310.

[2016-05-27 18:16] mkhatib commented on #3356
@jridgewell for re-attached elements the detach-flow would remove it from `resources_` and then the attach would re-add it to `resources_`.

[2016-05-27 18:21] jridgewell commented on #3356
Whoot, sweet. In that case, we can just optimize `Resource#build` to return early if it's already built.

[2016-05-27 18:23] mkhatib commented on #3356
Like a check for the state?
[code]

I guess that would avoid another call stack to the `element.build`, don't know how much of optimization that would do but I am cool with doing this.

[2016-05-27 18:25] jridgewell commented on #3365
This is a bit more in-depth because we'll need to get make a `cells_` array and the `container_`, etc. Might be better to make a `Element#clone` and a `clone` helper to do all of this for us and forbid using `element.cloneNode` directly.

[2016-05-27 18:27] jridgewell commented on #3356
We do essentially that all over `Resource`.

[2016-05-27 19:11] jridgewell commented on #3366
Per https://github.com/ampproject/amphtml/issues/3356#issuecomment-222217540, I'm not sure this is the case when moving or cloning an element.

Yes we can solve the cloning issue with something like https://github.com/ampproject/amphtml/issues/3365#issuecomment-222219602 (we should definitely do this), but that won't help for moving into a wrapper. I think instead leaving the resource attached to

[2016-05-27 23:59] dvoytenko commented on #3365
@jridgewell good point. Definitely needs to be thought through.

[2016-05-28 00:00] #3354 closed

[2016-05-28 00:17] jridgewell commented on #3356
Fixed by https://github.com/ampproject/amphtml/pull/3355.

[2016-05-28 00:17] #3356 closed

[2016-05-28 01:02] avimehta commented on #3364
@pdufour I have not been able to reproduce it so far. Does it happen on slow/flaky internet connection? Is there a test page you have been looking at? curious about the chrome version. also, just to double check, you don't see anything in realtime dashboard?

[2016-05-29 04:49] pdufour commented on #3364
Pretty stable internet connection. Have an email I can send the test page too? Not public-facing atm.

Chrome Version 51.0.2704.63 (64-bit), Mac.

Also may have been able to track down the issue. I'm pretty sure this is not how it's supposed to behave.

1. Open page with AMP enabled
1. Scroll down the page fast
1. See that now GA pixel has loaded
1. Scroll back to the top of the page, GA pixel loa

[2016-05-29 22:57] indianburger opened #3377 "Intent to implement: Alternate resizing for amp-twitter"
Hello,

I'm an engineer on the Twitter widgets team. I was looking at the source code for amp-twitter and I thought I'll suggest a slightly different implementation which doesn't involve looking for iframes and setting up mutation observers. Relevant documentation for resize is [here](https://dev.twitter.com/web/javascript/events#event-resize).

The part of the code I am talking about is [here](ht

[2016-05-29 23:42] mkhatib commented on #3377
Hey @indianburger thanks for filing this! You should know better the best way to implement this and this sounds like a much better solution!

Would this work for both the old iframe based implementation and the shadow dom implementation of the tweet embed? If yes then this LGTM.

[2016-05-30 08:52] oewaoffice opened #3379 "Intent-to-Implement: oewa web analytics"
We're trying to add support for ÖWA analytics.

The following variables must be defined:
in "vars"-section:
•	s: offer
•	cp: categorypath
in "requests"-section:
•	url: HTTPS location of amp-analytics-oewa.html

Call should look like this:

[code]

A copy of amp-analytics-oewa.html via HTTPS is required on a subdomain (because we require our script to be run in an unmodified version):

[code]

[2016-05-30 13:23] slivorezka opened #3380 "Google Tag Manager examples"
Hi to all!
I don't found how to use GTM directly via `amp-analytics`.

Maybe make sense add this description to [Use Case](https://www.ampproject.org/docs/guides/analytics/use_cases.html) documentation like amp-analytics - googleanalytics?

Thanks!

[2016-05-30 15:31] antipath opened #3381 "amp-ad DFP rendering issue"
Hey guys,

ads served via DFP using amp-ad tags seems to create a random issue where the body of the ad would get a margin:8px by default from the browser causing the ad to be mis-aligned with others.

please see screenshot for example.
![screen shot 2016-05-30 at 11 08 23 am](https://cloud.githubusercontent.com/assets/17549718/15653263/e5a5a206-2659-11e6-8d94-81804cfb0236.png)

Since i can't over

[2016-05-30 17:19] indianburger commented on #3377
Yes. The element returned by createTweet could be an iframe or shadow dom, but AMP doesn't need to know.

What kind of testing do you recommend? I plan to do manual tests on the twitter examples on various browsers. I'll try to write automated tests (which don't exist now I believe) but I haven't looked into them.

[2016-05-30 19:31] vetri02 opened #3382 "Issue when setting up AMP project"
Am getting the following error when installing the amp project

when I run 'npm i' getting the following error. PFA the log file

[npm-debug.log.zip](https://github.com/ampproject/amphtml/files/290011/npm-debug.log.zip)

[2016-05-31 02:14] mkhatib commented on #3377
@muxin is working on adding tests to twitter in #2536

@cramforce was talking about maybe creating an integration test for tweets since it's pretty important to make sure it works, but our integration tests are still flakey so not sure.

[2016-05-31 03:18] cramforce commented on #3377
Ugh, duh :) Please send PR!!!!
LGTM

[2016-05-31 09:43] andreban commented on #3379
@dvoytenko

[2016-05-31 14:46] cramforce commented on #3379
HI @oewaoffice, your implementation includes a usage of the `iframePing` mechanism which we highly discourage and only allow when it comes together with an implementation plan and timeframe when it would be removed.

From a quick glance it should be pretty simple to implement https://dispatcher.oewabox.at/oewa.js in terms of the standard `amp-analytics` capabilities. It appears you are using local

[2016-05-31 15:48] michaelkleber commented on #3381
Thanks for the bug report -- quite right, looks like we have a serving path is failing to override the browser-default styling.  We'll look into it.

[2016-05-31 16:32] dvoytenko commented on #3380
/to @avimehta

[2016-05-31 17:20] jridgewell commented on #3381
@michaelkleber: Is this an AMP specific issue, or is there another place better suited to track this?

[2016-05-31 17:24] #3328 closed

[2016-05-31 17:28] dvoytenko commented on #3382
/cc @erwinmombay

[2016-05-31 17:31] erwinmombay commented on #2762
documentation here https://github.com/ampproject/amphtml/pull/3335

[2016-05-31 17:35] erwinmombay commented on #3382
@vetri02 just want to clarify, did you clone https://github.com/ampproject/amphtml repo or was it https://github.com/ampproject/amp-by-example ? i see a lot of amp-by-example reference in the logs

[2016-05-31 17:56] cramforce commented on #3381
I think this might be a Glade issue. @nekodo

[2016-05-31 18:02] #3363 closed

[2016-05-31 18:11] #3339 closed

[2016-05-31 18:19] vetri02 commented on #3382
sorry this should go to https://github.com/ampproject/amp-by-example

[2016-05-31 18:19] #3382 closed

[2016-05-31 18:21] michaelkleber commented on #3381
It's a Glade problem, a fix will not involve touching AMP code, and tracking would be Google-internal.

[2016-05-31 18:21] erwinmombay commented on #3382
@vetri02 its no problem! 👍

[2016-05-31 20:26] sriramkrish85 commented on #3350
Definitely a nice to have - here is the list i was able to find for IOS

http://iosfonts.com/

Android seems to require some testing (no such list is available for android.)

@cramforce would this be be something to work on during a fixit?

[2016-05-31 20:41] Gregable commented on #2966
This is now fixed by allowing the SD in the `<body>`.

[2016-05-31 20:42] Gregable commented on #1618
This is fixed.

[2016-05-31 20:42] #1618 closed

[2016-05-31 20:53] cramforce commented on #3350
@sriramkrish85 Sure, or during commercial breaks of NBA finals :)

[2016-05-31 21:05] #2966 closed

[2016-05-31 21:31] uniquelygeneric commented on #2487
For minimizing/tab switching, you could also use document-level [focus/blur](https://github.com/ampproject/amphtml/issues/2564) events.

I understand if a hidden event does not fire due to page close. It could still be inferred from the termination of a timer event. However, I had noticed in testing that the heartbeats/timer event could still potentially fire after the browser has been minimized,

[2016-06-01 01:24] zhouyx opened #3394 "amp-ad without amp-ad script is not working."
<img width="1034" alt="screen shot 2016-05-31 at 6 21 04 pm" src="https://cloud.githubusercontent.com/assets/5419904/15695506/b80d11e0-275c-11e6-862f-0846c86fcc6b.png">
Seems relative to #3363

[2016-06-01 01:58] dvoytenko commented on #3394
@zhouyx is this in canary or prod?

[2016-06-01 02:00] zhouyx commented on #3394
I found in local using .max.html

[2016-06-01 02:15] #3394 closed

[2016-06-01 07:44] erwinmombay commented on #2762
disabled property here https://github.com/ampproject/amphtml/pull/3369

[2016-06-01 12:24] JeromeParis commented on #1768
Hi,
On my webpage http://m.avocatferval.com/index.htm I still have the error message
"The mandatory text (CDATA) inside tag 'head > style : boilerplate' is missing or incorrect"
while I respects https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md
Could you help me finding what is wrong?
Thanks in advance
Jerome

[2016-06-01 15:05] karolk commented on #2861
@cramforce Regarding the "side request" approach as opposed to a redirect: we think this is something that would be a significant change in how our technology works at the moment, and presumably how lot of other affiliate technology works. We put a lot of effort into making sure these redirects are as fast as possible by minimising what the code does and minimising geo latencies.

I looked into pi

[2016-06-01 16:34] kul3r4 commented on #3336
Hi,
this is happening again. Is there anything we can check?

[2016-06-01 16:58] Gregable commented on #1768
@JeromeParis you need to split your CSS into separate style tags. You have placed custom style inside the boilerplate style tag. Instead it needs to be in a `<style amp-custom>` tag.

[2016-06-01 17:21] erwinmombay commented on #3340
/to @dvoytenko , feel free to reassign

[2016-06-01 17:23] erwinmombay commented on #3336
@kul3r4 hello, it looks like this javascript file is currently just in our dev channel and not yet in our prod.
you will need to opt-in to our dev channel here https://cdn.ampproject.org/experiments.html . let me know if you need any more help.

[2016-06-01 17:29] kul3r4 commented on #3336
Hi, I opted in and it works ok. The problem is that sometimes it returns 404.
This also happen if you just try to curl the URL, for example:

curl https://cdn.ampproject.org/v0/amp-flying-carpet-0.1.js

<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 404 (Not Found)!!1</title>
  <style>
    *

[2016-06-01 17:33] erwinmombay commented on #3336
right, curl'ing it would definitely be currently a 404 since i believe the opt-in is through a cookie. We should have the flying carpet js file in our prod environment by tomorrow if you are able to wait. thursday is our normal release but we weren't able to release last week because of some critical bugs

[2016-06-01 17:36] jridgewell commented on #3336
Yup, you've got to send the `AMP_CANARY=1` cookie if you want to get the file.

[code]

(also, we renamed it to amp-*fx*-flying-carpet, which still trips me up too)

[2016-06-01 19:04] erwinmombay opened #3401 "investigate "no handler found" errors"
this error coming from the viewer, and is probably caused by us sending events it doesnt know about.

[2016-06-01 19:17] camelburrito opened #3402 "amp-sidebar: Facebook web view (IOS) bug"
amp-sidebar: Facebook web view (IOS) bug:
When you scroll the sidebar- the content below scrolls. We have already fixed this issue on IOS safari. We need to apply the same fix to FB webview

Code :
https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/0.1/amp-sidebar.js#L84

Test:

post www.ampproject.org on your FB. And then try clicking the link from FB IOS App. and open the s

[2016-06-01 19:47] kul3r4 commented on #3336
Thank you very much for explaining.

[2016-06-01 19:47] #3336 closed

[2016-06-01 20:33] avimehta commented on #3380
Hi @slivorezka GTM does not support AMP yet. I know that the team is looking into it. Look for announcements from them for amp support.

[2016-06-01 20:33] #3380 closed

[2016-06-01 20:51] rudygalfi commented on #1286
Please note that #3343 is the ITI for Forms support that's currently being worked on. Any feedback, please add it there.

[2016-06-01 20:52] rudygalfi opened #3403 "Autocomplete support for textbox field in AMP forms"
As a follow on to #3343, which will introduce support for form fields, including text box, let's also consider how to add autocomplete support.

/cc @mkhatib

[2016-06-01 21:53] #2536 closed

[2016-06-01 22:30] jaygray0919 opened #3405 "amp list and mustache"
There are several examples of `amp-list` that also use `mustache`.

For example:

[code]
However, none of these examples work WRT the mustache substitution.

Is the reason that this url [(https://ampbyexample.com/json/examples.json)] is not CORS-enabled?

Using the test CORS site [(http://test-cors.org/)] the XHR staus is 200 and status text is OK. The site appears to be CORS-enabled.

We also hav

[2016-06-01 23:09] dvoytenko opened #3406 "Remove overlay API from BaseElement"
Calling this API from BaseElement without viewport is not meaningful.

[2016-06-01 23:13] rudygalfi commented on #3338
Putting in Backlog.

[2016-06-01 23:13] rudygalfi commented on #3402
Putting in Backlog.

[2016-06-01 23:23] dvoytenko opened #3409 "Relax CSS filter restriction to allow `blur`"
We would like to carefully start whitelisting CSS filter rules. We will start by allowing `blur`. E.g. the following will be allowed:

[code]

[2016-06-01 23:23] dvoytenko commented on #3409
/cc @Gregable @powdercloud

[2016-06-01 23:38] #3296 closed

[2016-06-02 01:45] #3049 closed

[2016-06-02 02:10] avimehta commented on #3364
Hi @pdufour, please send the example to <github account>@google.com. I tried to copy the analytics example to https://jsfiddle.net/cL6zr6hy/2/ (see full page version at http://fiddle.jshell.net/cL6zr6hy/1/show/light/). I was not able to reproduce it there or locally.

[2016-06-02 03:55] avimehta commented on #3364
@cramforce I am not completely sure why this isn't working but I think I can repro the issue. Sometimes, when I reload the page, the analytics hit is not sent. Executing `AMP.resources.resources_.forEach(x => {console.log(x.debugid + "   " + x.state_)})` in console gives:

[code]

When I scroll all the way to the top, the element lays out. And obviously the output for the same command changes to

[2016-06-02 04:15] sriramkrish85 opened #3411 "amp-font: Chrome bug 347460 breaks amp font"
documents.font

We have a web font loader script which has this logic -

[code]

And the check almost always fails.  It is due to this chrome bug

https://bugs.chromium.org/p/chromium/issues/detail?id=347460#

Here is the actual code

https://github.com/ampproject/amphtml/blob/master/extensions/amp-font/0.1/fontloader.js#L116

And here is the page to test this out

https://ampskrish.herokuapp.com/

[2016-06-02 05:52] JeromeParis commented on #1768
Hi,

Tanks a lot for your answer!

Best regards
J?r?me

-----------------

Le 1 juin 2016 ? 18:59, Greg Grothaus <notifications@github.com<mailto:notifications@github.com>> a ?crit :

@JeromeParis<https://github.com/JeromeParis> you need to split your CSS into separate style tags. You have placed custom style inside the boilerplate style tag. Instead it needs to be in a <style amp-custom> tag.

-

[2016-06-02 06:34] xaxadmin opened #3413 "issue"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-06-02 09:42] Polylike commented on #2376
Hey, the problem is still there and there are a other blocked resource: https://video-iad3-1.xx.fbcdn.net Thanks a lot.

[2016-06-02 14:18] jart opened #3414 "Consider adopting Bazel Closure Rules"
Greetings. I noticed you're using the Closure Compiler for this project. In that case, you may want to consider adopting [Closure Rules for Bazel](https://github.com/bazelbuild/rules_closure) as your build system. This is an effort to open source the build system Google uses internally for JavaScript. Since you're already writing JavaScript in a very Googley way, you have the most to benefit from

[2016-06-02 14:20] cramforce commented on #3364
Ha. So, the scroll down fast part is important. Very interesting.

I have a better repro URL here
http://output.jsbin.com/polorufage/quiet

[2016-06-02 14:24] cramforce commented on #3364
CC @dvoytenko

I think this is a bug where we, for fixed positioned elements, think we can calculate their intersection with the viewport based on the originally measured layout box offset by `scrollTop`. Which is wrong.

[2016-06-02 14:30] cramforce commented on #3364
Yep, so if you trigger the bug and then resize the window (causing full re-measure) the layout is successfully executed.

[2016-06-02 14:37] avimehta commented on #3364
Scrolling to the top also triggers the relay out I think.

[2016-06-02 14:46] cramforce commented on #3364
@avimehta AMP just treats the element as being at the top, so slightly different case. We have to fix this for many reasons :)

[2016-06-02 14:48] cramforce commented on #3364
The correct fix here (I think) is to change `overlaps` in `Resource` to check `isFixed` (which doesn't exist yet), if that is true make the comparison with a viewport rect rooted at `0, 0`.

[2016-06-02 14:51] cramforce commented on #3364
I leave it to @dvoytenko to know what the best way to implement `isFixed`. `FixedLayer` might be able to provide the answer. The naive way would be to call `getComputedStyle` on the element and all parent elements.

[2016-06-02 15:12] cramforce commented on #3414
We have an explicit goal to use the most mainstream way of building things, to make the project as accessible to developers as possible.

[2016-06-02 15:12] #3414 closed

[2016-06-02 15:14] guyra1 opened #3415 "window.context not available in ad iframe"
window.context not available in ad iframe

when adding amp-ad the ad is served in side and iframe created by amp. it looks something like this:
https://d-1540743224269529284.ampproject.net/1463506087793/frame.html
this frame contains amp api under window.context

inside this iframe there may be the ad iframe which may look as follows
https://securepubads.g.doubleclick.net/gampad/ads?gdfp_req=1&gla

[2016-06-02 15:54] cramforce commented on #3415
Right. It is only available in the layer AMP controls. Deeper iframes do not get access.

@nekodo is working on allowing deeper frames to get access in #3019

[2016-06-02 15:54] #3415 closed

[2016-06-02 16:20] jmadler commented on #2376
In Google's Search Console, you can send them feedback by clicking on Help -> Send Feedback.  It'll take a screenshot of the page (with blackout/hilight options), so they can have a complete bug report.

[2016-06-02 16:27] #3413 closed

[2016-06-02 16:32] jridgewell commented on #3405
CC @kul3r4.

[2016-06-02 16:44] jridgewell opened #3416 "Flying Carpets should collapse when in first or last viewport"
This is something intrinsic to the "flying carpet" effect. If you're in the first viewport, you'll never see the bottom of the content inside. And if you're in the last viewport, you'll never see the top of the content.

So when we are inside the first or last viewport, we should instead collapse the flying carpet.

Related to https://github.com/ampproject/amphtml/issues/3338.

[2016-06-02 16:54] #3340 closed

[2016-06-02 17:20] dvoytenko commented on #3364
I'll take care of this.

[2016-06-02 18:48] yields opened #3418 "Intent-to-Implement: segment"
We would love to add [Segment](https://segment.com) as an amp-analytics plugin, we already shipped query string support to our APIs and have the [plugin](https://github.com/segmentio/amphtml/tree/add-segment) ready in our fork.

A simple example that sends a pageview:

[code]

Cheers!

[2016-06-02 19:23] jaygray0919 commented on #3405
An update here. My default browser is Firefox. My AMP testing has been done there. Just before sending a snarky email to someone about my issues with amp-mustache, I thought I'd take one last shot and test my URL in Chrome. The amp-mustache examples work in Chrome, but not in Firefox. I've now also tested in Edge and Safari; both work as Chrome works. What information should I be looking for that

[2016-06-02 19:35] cramforce commented on #3418
Awesome to have you on board!

LGTM

[2016-06-02 19:35] cramforce commented on #3418
CC @rudygalfi

[2016-06-02 19:35] jridgewell commented on #3405
The error logs would be helpful. Or, can you make a jsbin that shows the problem?

[2016-06-02 21:41] jaygray0919 commented on #3405
Here is one example: [https://cdn.ampproject.org/c/ontomatica.com/amp_test/amp_list_mustache_6/index.html]
Works in Chrome; fails in Firefox.
We have others that are not as messy (i.e. reading smaller JSON files), but the above illos the issue.

[2016-06-02 21:56] jridgewell commented on #3405
Seems to be an issue with our XHR service:

[code]

[2016-06-02 21:56] jridgewell commented on #3405
CC @dvoytenko

[2016-06-02 21:58] mkhatib opened #3423 "Consider introducing --debug flag for gulp test command"
So with #3313 we started removing the test iframes after the test is run. Sometimes it's useful to keep them around to debug the DOM structure that was generated during tests. I suggest we enable this kind of behavior with a `--debug` flag or something more specific like `--nocleanup`.

@jridgewell suggested to make this the default behavior when one passes `--watch`. I think it'll be useful to ke

[2016-06-02 23:13] avclicky commented on #3345
The CLA appears to have been processed and PR #3346 has passed the CI mechanism. Might we have any work left to do on our end?

[2016-06-03 00:09] #3190 closed

[2016-06-03 01:02] #3411 closed

[2016-06-03 02:29] #3345 closed

[2016-06-03 10:18] slivorezka opened #3431 "Page 404 for amp-ad script"
Hi to all!
I have 404 page for `amp-ad` script  https://cdn.ampproject.org/v0/amp-ad-0.1.js

Thanks!

[2016-06-03 11:49] jaygray0919 opened #3432 "amp-list and flexibility when targeting a JSON object"
amp-list and amp-mustache expects a JSON object containing an array property "items".
The official AMP example is:

[code]
Is it possible with AMP to navigate a JSON object by specifying an alternative JSON key for "items"?
For example, in the JSON object below, specify that "Properties" is a substitute for "items"?

[code]

A mustache template would look like this:
[code]

[2016-06-03 15:58] cramforce commented on #3431
CC @erwinmombay

Are you trying to include it directly?
This is a temporary condition while we are rolling out the change to make it available.

[2016-06-03 16:13] cramforce opened #3433 "Make it easier to determine what went to prod when"
We have two main issues right now we should fix:
1. When we patch a release, the release notes do not point to the original release. We should have a link to the release it is based on.
2. We should make a note in the release notes for when they go to 1%, full production, etc. including date and time.

This will make it easier to track bugs to specific releases.

[2016-06-03 16:49] dvoytenko opened #3434 "Introduce runtime layers system to describe different coordinate and scrolling systems on the page"
The `LayoutRect` has to be calculated relative to each individual coord system such as "root layer", "fixed layer", "sidebar layer", etc. Based on these layers, we can then correctly always construct intersection observers and verify visibility and "time to visibility".

[2016-06-03 17:45] #3364 closed

[2016-06-03 17:49] dvoytenko commented on #3405
Looks like Firefox started implementation of `fetch` and have some issues. I'll work it around, or will try.

[2016-06-03 18:20] jaygray0919 commented on #3405
TY. It's beyond my ability to debug this issue much less fix it. FYI, I have another issue with FF. The Google AMP documents use `word-break: break-word`. FF does not support `word-break: break-word` (using `word-wrap: break-word`). As a result, the AMP docs break on letters, not words. These browsers are diverging in very subtle but troublesome ways.

[2016-06-03 18:25] dvoytenko commented on #3405
@jaygray0919 Thanks! The issue with CORS calls and Fetch API discrepancies are easy to fix and we'll make sure we cover this by regression tests. However, I don't understand the issue with `word-break`. AMP itself doesn't use this style anywhere nor mandate it in any way. Where are you running into issues with it?

[2016-06-03 19:29] jaygray0919 commented on #3405
First, view this document in Chrome: [https://www.ampproject.org/docs/get_started/about-amp.html]
Then take a look at it in Firefox (I'm running 46.0.1). For me in FF, the right margin breaks on letters. In Chrome, the right margin breaks on a word. IMHO, the reason is that the AMP doc uses `word-break:break-word` which is not on the MDN valid value list. If I replace `word-break:break-word` with

[2016-06-03 19:42] jaygray0919 commented on #3405
As an aside, AMP is a fantastic project. Irrespective of its laudable goals for mobile, it serves to rein-in highly irregular HTML/JS programming. I speak from a managerial perspective where issues of consistency, maintainability and access to 'normal programmers' are more important than exotic menus and complex UX services. Also collision among JS libraries is a serious problem and few can debug

[2016-06-03 19:50] #3405 closed

[2016-06-03 19:59] erwinmombay commented on #3432
/to @dvoytenko for discussion and reasoning of why "items" was chosen

[2016-06-03 20:26] dvoytenko commented on #3405
Ok. The Firefox issue with CORS requests is fixed and it will be in canary in a couple of hours.

We considered opening up JSONP format, but decided against it due to a set of security issues associated with it in the past and also due to additional CSP requirements that we'd like to support. The most basic form of CORS is very minimal and should be supportable with a great ease. More complicated

[2016-06-03 20:28] dvoytenko commented on #3432
@jaygray0919 I can certainly see expanding this format to allow to specify the path to the items array. We'd welcome a pull request on this.

[2016-06-03 20:31] mkhatib commented on #3101
By local server are you suggesting we actually run a node server for these tests or just rely on sinon fake server?

I took a quick look yesterday at this and found few things:

* Sinon Fake Server [doesn't mock fetch API requests](https://github.com/sinonjs/sinon/issues/727)
* The flakey tests seem more than unit tests, we need to mock all these calls.
* Mocking [window.fetch is possible](https:/

[2016-06-03 20:39] mkhatib commented on #3138
This is improved but would like to keep this open and try to do some more debugging at some point, but for now the local tests are now more stable and less flakey. Moving this to Backlog.

[2016-06-03 20:40] mkhatib commented on #3000
Closing this now with fixes in #3372 and #3313.

If this is still happening please reopen.

[2016-06-03 20:40] #3000 closed

[2016-06-03 20:42] mkhatib commented on #3044
This should be fixed with #3197 and #3313 in place. If still happening please re-open.

[2016-06-03 20:42] #3044 closed

[2016-06-03 20:43] mkhatib commented on #3097
This should be fixed with #3313 in place. If this happens again please re-open.

[2016-06-03 20:43] #3097 closed

[2016-06-03 20:46] mkhatib commented on #2354
This is also related to #3101

[2016-06-03 20:47] #2354 closed

[2016-06-03 21:07] erwinmombay opened #3442 "fix Edge related integration tests"
master has been red for over 2 weeks now

[2016-06-03 22:32] camelburrito opened #3444 "amp-sidebar: make use of the enterLightboxMode or a variation for the sidebar"
amp-sidebar: make use of the enterLightboxMode or a variation for the sidebar

[2016-06-03 22:37] #3287 closed

[2016-06-03 22:38] sriramkrish85 commented on #2890
Not happening anymore after @mkhatib s fixes.

[2016-06-03 22:38] #2890 closed

[2016-06-03 22:54] mkhatib commented on #3442
Similar with some logs: #3139 #2349

[2016-06-03 23:01] erwinmombay commented on #3442
@mkhatib thanks marking this as dupe

[2016-06-03 23:01] #3442 closed

[2016-06-03 23:14] mkhatib commented on #3139
Related to #2349

[2016-06-04 13:46] alfiehanssen opened #3448 "Allow non-HTTPS amp-list JSON"
The docs indicate that the JSON file that contains the "items" list must be available via HTTPS.

For my one page personal website this isn't practical, it forces me to pay for a cert to achieve a level of security that isn't really necessary for my server / content.

Is it possible to use HTTP instead / is this something you would consider?

[2016-06-04 19:03] cramforce commented on #3448
No. AMP only supports HTTPS. Among many other reasons, because it relies on HTTP 2.

You can get a free cert for your personal site from https://letsencrypt.org/

[2016-06-04 19:03] #3448 closed

[2016-06-04 22:41] talawahdotnet opened #3449 "amp-video does not work on Internet Explorer 11 when using host relative urls"
HTML5 video embedded using amp-video does not play on IE 11 if the src url is host-relative (i.e. starts with a single forward slash). When you load the page with the console open you see the following error:

This is a false positive since in this case the url is relative (/static/video/amp-phone.mp4) and is being served over https.

#### Steps to reproduce

1. Visit https://www.ampproject.org/ u

[2016-06-05 04:21] JoeArizona opened #3451 "AMP homepage rendering bugs on mobile"
Hi AMP team,

I noticed some rendering glitches with the AMP homepage. I've collected three screenshots on [imgur here](http://imgur.com/a/6cbn5).

##### This is all on a US Galaxy S7 running Android 6.0.1.

##### Highlights:

1. Title heading of the spec page is broken in Firefox.
2. The AMP logo loses its padding on the homepage, but renders with correct padding/positioning on every subsidiary p

[2016-06-05 20:33] davidreghay commented on #1318
@dvoytenko  Thanks this looks really great!

[2016-06-06 05:19] erwinmombay commented on #3451
@JoeArizona thanks, looking into this

[2016-06-06 06:40] triblondon opened #3453 "AMP components as standalone web components?"
I like a lot of the things AMP is trying to achieve, but I fear that in aiming high and wanting to get there quickly it may be too aggressively pushing publishers to create separately maintained, siloed versions of their web applications.  It is, today, essentially a non-starter to build a major news website that is AMP compliant (I work directly for an organisation that runs such a site and have

[2016-06-06 06:50] Polylike opened #3454 "Combine AMP Components - Browser-Caching Issue - PageSpeed Insights"
Hey, is there a way to combine the AMP extended components to one script? When you use a lot of components, Google PageSpeed Insights gets crazys
![5ouoi](https://cloud.githubusercontent.com/assets/16958775/15814004/ab61376c-2bc3-11e6-9678-90fe264546ef.png)

Thanks!

[2016-06-06 07:48] 88kbbq commented on #170
This was a perfect title to what's happening with amp-fit-text. When applying different layout values, behavior was unpredictable and unintuitive. Fill should fill the height and width defined in amp-fit-text, but this does not happen; multiple amp-fix-text in a grid will overlap each other, ignoring other CSS rules. Fixed does what exactly? Flex? I'd love to contribute examples but I can't figure

[2016-06-06 08:37] rudygalfi opened #3455 "Allow JSON-LD markup in <body>"
Currently will give a validation error, as documented here: https://productforums.google.com/forum/#!topic/webmasters/srBTjitFZEU

[2016-06-06 10:59] Polylike opened #3456 "Supported Retargeting Companies?"
Hey,

is there any official solution for retargeting like adroll, criteo and co.?

Most of the companys didn't work with noscipt pixels so that amp-pixel is no solution.

Quick and dirty: Load the script via amp-iframe on the bottom of the page?

Thanks!

[2016-06-06 11:12] jaygray0919 commented on #3453
Very thoughtful @triblondon . We have a challenge similar to your `<img>` example; ours is handling remote data sources. We can start with `amp-list` and `amp-mustache`, but need more powerful features medium-term if we are going to commit to AMP. The Github **ampproject** is remarkable open and transparent, and specialized threads provide valuable hints and solutions. If we had better information

[2016-06-06 11:43] rudygalfi commented on #3456
/to @kashyapnitin

[2016-06-06 13:32] rudygalfi opened #3459 "Support for: click something, send data, get response, update page"
I'm hoping this isn't too generically described, though it might be.

Basically we need a way to have some element, which, upon click by the user, will be able to make a request to a server, get back some data, and modify the page in some way:
- Click a button that says (for now, ignoring the account login pieces required here) "Add to cart", "Add to wishlist", "Read later", "Like" and the button

[2016-06-06 13:35] rudygalfi commented on #1017
I would say this is partially addressed by #1849 (amp-accordion). Obviously there are many directions to go with enhancements, but I'll call out two things already mentioned in this thread to figure out if we should open separate tracking issues for them:

* Ability to dynamically fetch the data to be displayed when an amp-accordion header is clicked (just filed #3459 to cover this)
* After reachi

[2016-06-06 13:58] Joostvanderlaan commented on #2380
@venkatgig Just add:
`
// Disable newrelic
  if (extension_loaded('newrelic')) {
 newrelic_disable_autorum();
}`

Somewhere in your template PHP

[2016-06-06 14:09] #2845 closed

[2016-06-06 14:10] sidkshatriya opened #3460 "[Validator] Template attribute values in `data-*` attributes not validated"
The following template attribute values correctly generate validation errors:

[code]

These errors are triggered by the `validateAttrValueBelowTemplateTag()`

Interestingly, the following _will not_ trigger any validation error:
[code]

This is because all `data-*` attribute values are not validated at all. (`data-*` attribute _names_ are validated though). (see `validateAttrNotFoundInSpec()`)

I

[2016-06-06 14:12] cramforce commented on #2447
As of last week, the ads code was removed from AMP core and must be explicitly loaded as an extension, so none of the above is included anymore unless pages ask for it.

[2016-06-06 14:21] cramforce opened #3461 "Allow visibility-states test to work with compiled JS"
This is currently deactivated
https://github.com/ampproject/amphtml/blob/master/test/integration/test-visibility-states.js#L32

because the test stubs out private properties of production code which no longer works, due to #3223.

[2016-06-06 14:29] rudygalfi commented on #3454
@Polylike Breaking out the components is a design feature. That way, if your page *doesn't* use specific functionality, the user isn't paying for those things with their data and time to download them.

Unfortunately my German capability is non-existent, so I'm not sure what to make of your error -- @cramforce :) -- but we can raise this with the Google PageSpeed Insights team.

[2016-06-06 15:24] Polylike commented on #3454
@rudygalfi Sorry for the german screenshot and my non-existent english capabilitys :-)
![screen](https://cloud.githubusercontent.com/assets/16958775/15827072/5ec31afa-2c0a-11e6-9c6d-5b9ec83292bf.PNG)

I'm working on a Mobile-First-Super-Fast-Website with AMP HTML but i need to include a lot of small scripts. The results of "Check your Mobile-First-Super-Fast-Website" tools like Google PageSpeed In

[2016-06-06 15:33] cramforce commented on #3454
When served from the AMP cache, the cache time is infinite.

We still want to make the origin case fast, but there is a trade off with the usability of non-versioned URLs and caching.

One thing that PageSpeed ignores is that we send the `stale-while-revalidate` header, authorizing the browser to once-in-a-month use a stale version while it is fetching a new version into the cache. This is current

[2016-06-06 15:33] #3454 closed

[2016-06-06 15:47] lisamayo opened #3462 "Intent to Implement: Modifications to adtech amp-ad code"
AOL will make a pull request for review; we need to modify the existing adtech ad type to include support for additional parameters which were not part of the inital setup that was not done by us.

The modified code will not alter what is there already and that will continue to work, however, we need to allow publishers to use our internal ad call methodology and also include optional variables fo

[2016-06-06 16:10] kul3r4 opened #3464 "amp-sticky-ad (experimental) sometimes does not show"
## Short description of your issue:

I was trying to create an example for amp-sticky-ad [here](https://amptest-fed77.firebaseapp.com/.) I enabled the example in [here](https://cdn.ampproject.org/experiments.html) and I run AMP.toggleExperiment('amp-sticky-ad'). The issue is that sometimes the ad is showing up, and sometimes not. I noticed that, when I have the developer console open, the ad is al

[2016-06-06 17:03] dvoytenko commented on #3462
/cc @cramforce @kashyapnitin

[2016-06-06 17:21] Gregable commented on #1976
json tags are now allowed as direct children of the `<body>` tag in addition to the `<head>` tag.

[2016-06-06 17:21] #1976 closed

[2016-06-06 17:23] dvoytenko commented on #3449
This cannot be related to the video itself - something has to be off with the URL resolution on IE11. We need to look into this sooner.

[2016-06-06 17:25] jridgewell commented on #3455
Dupe of https://github.com/ampproject/amphtml/issues/1976 (which was just fixed).

[2016-06-06 17:25] cramforce commented on #3449
@lannka Could you take a look? Thanks!

[2016-06-06 17:26] jridgewell commented on #3449
Removing Fixit label then.

[2016-06-06 17:31] cramforce commented on #3462
SGTM

[2016-06-06 17:34] lannka commented on #3449
Sure, will take a look.

[2016-06-06 17:35] dvoytenko commented on #3460
/to @Gregable

I'd indeed expect the same partial/unescaping rules to apply to data attributes as well.

That being said, the validation of templates is mainly aimed to "inform" of potential pitfalls when using templates. The results of template execution are still pushed via HTML sanitizer as well.

[2016-06-06 17:36] sriramkrish85 opened #3465 "Make slide - carousel scrolling better"
As of now swiping through iframes/ads is not possible in the existing carousel. try and leverage native scrollbars to help with this.

will fix  - https://github.com/ampproject/amphtml/issues/2366

[2016-06-06 17:43] ericlindley-g commented on #3333
Duping to the [existing bug](https://github.com/ampproject/amphtml/issues/3083)

[2016-06-06 17:43] #3333 closed

[2016-06-06 17:56] Gregable commented on #3460
This is a legitimate bug, the data-* attributes take a slightly different code path through the validator due to being 'wildcard' attribute names, and aren't getting run through the template validation.

As Dima said though, our primary goal in validation is to make sure that the pre-mustache-rendered document doesn't break amp validation rules. The post-mustache-rendered doc will be validated sep

[2016-06-06 18:00] taymonbeal opened #3466 "Error reporting isn't testable"
Currently, when writing an extension that needs to do error reporting, there's no practical way to write a unit test that verifies that reportError is called when it should be. Spying on reportError with Sinon doesn't work because it's exposed as an ES6 module export rather than as a property of an object that can be monkeypatched.

One possible approach I can think of to fix this would be to intr

[2016-06-06 18:02] zhouyx commented on #3464
ad is loaded correctly, but its content are blocked. I set ads border to better display the layout.
<img width="858" alt="screen shot 2016-06-06 at 10 56 44 am" src="https://cloud.githubusercontent.com/assets/5419904/15832098/82c2e500-2bd5-11e6-9373-32c9bc3c7edf.png">
Looks like ad loading or blocking issue to me. I changed the example ad type and can't reproduce the issue.

[2016-06-06 18:26] jaygray0919 commented on #1976
excellent. Will not be able to place JSON-LD islands near their related DIV.

[2016-06-06 18:30] Gregable commented on #1976
@jaygray0919 , note that the current implementation still requires the `<script type="application/json">` to be a direct child of the `<body>` tag, so you can't place it inside a `<div>`. https://github.com/ampproject/amphtml/issues/3455 was started to discuss if we want to relax this further.

[2016-06-06 18:32] jaygray0919 commented on #3455
Our preference is to be able to position a JSON-LD island near the DIV with which it is associated. We have pages with 10+ JSON-LD islands. Each island is equivalent to a microformats `itemscope itemtype`. In RDFa, an island is equivalent to an `about` a `type`.

[2016-06-06 18:38] jaygray0919 commented on #1976
Is this change about `<script type="application/json">` or `<script type="application/ld+json">`? Our concern relates to `<script type="application/ld+json">` and the ability to have many such structures (e.g. `<script type="application/ld+json" id="2">` in BODY.

[2016-06-06 19:29] Gregable commented on #1976
`<script type="application/ld+json">`, I mis-typed.

[2016-06-06 19:38] talawahdotnet opened #3467 "CDN - Dynamically combine/bundle core library plus extensions to be fetched using single url"
Filing this feature request after I [found a similar question on Stack Overflow](http://stackoverflow.com/questions/37611651/amp-html-combine-extended-components-browser-caching-issue-pagespeed-insi) but no corresponding issue.

It would be great if we were able to fetch the core AMP js library plus extensions as a single url instead of having a separate http request for each. e.g.

`<script async

[2016-06-06 20:15] kul3r4 commented on #3464
Hi,
could you update the example code?

[2016-06-06 20:44] erwinmombay opened #3468 "docs: make update mechanism clearer for amp-live-list"

[2016-06-06 20:44] #3228 closed

[2016-06-06 20:45] erwinmombay commented on #3468
/cc @kul3r4 for feedback

[2016-06-06 21:10] erwinmombay commented on #3467
duplicate of https://github.com/ampproject/amphtml/issues/3454, please see corresponding answer there and feel free to open for further discussion.

[2016-06-06 21:10] #3467 closed

[2016-06-06 21:19] kul3r4 commented on #3468
Hi,
I think we could make it clearer that, if you don't specify data-update-time and there are no insertions in the document, the amp-live-list will not show any changes. I added in the bold my suggestions.

In the section "Update behaviour and user experience"
....
If a replace or tombstone operation is found but no insert (no new items) is found on a poll request, the replace and the tombstone o

[2016-06-06 21:24] mkhatib opened #3469 "Forms should respect the novalidate attribute"
Currently we do validate regardless if this was provided or not.

[2016-06-06 22:30] mkhatib commented on #3348
@powdercloud when can we get this into the validator?

[2016-06-06 22:53] zhouyx opened #3473 "amp-sticky-ad: background opacity doesn't work on body borderBottom(IOS)"
The sticky-ad container has opacity less than 1 when it first appears.

In IOS, after setting body `borderBottom` to the height of `amp-sticky-ad` the background opacity no longer works.The translucent ad container appears but disappears really fast.

Possible fixes: Try `paddingBottom` for HTML element.

[2016-06-06 23:36] ericlindley-g opened #3474 "Bug: amp-live-list content shifts position on update"
To reproduce:

Open staged version of amp-live-list
Get enough updates that you can scroll the viewport so the top-most update is no longer in view

Observe: when the next update comes in (when the top-most update is scrolled out of view), the existing updates on the page are bumped down (instead, they should stay in place as updates are inserted above, without a "get updates" button)

[2016-06-06 23:46] adewale commented on #3453
@jaygray0919 the roadmap is available here: https://amphtml.wordpress.com/2016/05/31/introducing-the-amp-roadmap/

If there are other features you want then the best approach is to file separate feature requests for each one.

[2016-06-06 23:47] talawahdotnet commented on #3454
Hi,

I get get that AMP is broken down into components by design, and rightly so, but the question is basically whether or not the AMP CDN can be configured to serve up pre-bundled (or dynamically bundled and then cached) assets based on well defined urls e.g.

<script async src="https://cdn.ampproject.org/v0.js?1=amp-analytics-0.1.js&2=amp-youtube-0.1.js"></script>

That way multiple extensions c

[2016-06-06 23:53] Gregable commented on #3454
Google Fonts does something similar:
`https://fonts.googleapis.com/css?family=Lato|Roboto`
I don't know if this is necessary with HTTP2 pipelining though. It also reduces cache-ability with unique URLs on each document.

[2016-06-06 23:55] ericlindley-g opened #3475 "Validation for amp-live-list"
Kicking this bug off to put validation in place for [amp-live-list](https://github.com/erwinmombay/amphtml/blob/03a0670debea10f1f5f3e373e347d10f03fc6994/extensions/amp-live-list/amp-live-list.md) — @erwinmombay is implementing the feature

[2016-06-07 00:15] cramforce commented on #3454
Correct. Bundling is bad (Unless files are super tiny, but AMP is not playing in that world) in an HTTP 2 world. It increases URL entropy which reduces cache effectiveness and has little other benefit.

HTTP2 plus `stale-while-revaldiate` is a much better option. Also, note, that while AMP document files may not be delivered by HTTP2 (they always are when served from the AMP Cache), the JS files a

[2016-06-07 00:34] talawahdotnet opened #3476 "Pages that use AMP trigger a security warning on Android 2.x and in IE and Safari on XP"
IE/Safari on XP and the Android browser on 2.x doesn't support SNI. It would appear that whenever an AMP page tries to fetch the amp js files from the CDN infrastructure, a default SSL certificate is returned which does not include *.ampproject.org in the list of SANs. This triggers a security warning.

##### Steps to reproduce
1. Visit https://www.ampproject.org/ using Internet Explorer 8 on Wind

[2016-06-07 05:20] senthilp commented on #1298
One suggestion would be to have the `on` attribute on elements with values `track:` prefixed, which will be replaced in the request URL query string when the event happens. This is similar to how we attach events to components like [lightbox](https://www.ampproject.org/docs/reference/extended/amp-lightbox.html#closing-the-lightbox), [sidebar](https://www.ampproject.org/docs/reference/extended/amp-

[2016-06-07 07:36] sidkshatriya opened #3477 "[Validator feature tests] Repeated id for `<circle>` in `svg.html`"
There is a very minor issue in https://github.com/ampproject/amphtml/blob/3dbfefbaa346dc2eaf2e86ebb9be7bbffa7b7b96/validator/testdata/feature_tests/svg.html

The `id="svg_3"` is repeated. id's should be unique.  See line number 58 and 68.

[2016-06-07 12:30] monteduro commented on #3381
i'm having this problem too.

<img src="http://s32.postimg.org/8u6fbb9dh/Schermata_2016_06_07_alle_14_28_55.jpg">

[2016-06-07 16:08] gagadada11 commented on #1768
I have near the same problem with you today. But i can fix it now.
Could you try to unintall some plugins on your website, then check install step by step again,

Then try to find out which plugin make this error, After that check the setting on that plugin.

Some plugins will conflict and cause the problem. Prevous time, I install WP Fastest cache plugin on my wordpress, it make error when i run

[2016-06-07 17:13] jridgewell commented on #3416
CC @kashyapnitin @jasti

Alternatively, we can:

- Relatively easy to accomplish:
  - Collapse Flying Carpet
  - Render without the effect (essentially, turn `<amp-fx-flying-carpet>` into a normal `<div>`)
  - Render with partial effect (top or bottom of the content will never be shown, but effect works)
- **Very** hard to accomplish:
  - Parallax scrolling (ie, scrolling the carpet at a different

[2016-06-07 18:36] lannka opened #3480 "test-stub-element missing required requires"
[code]

[2016-06-07 18:59] mkhatib commented on #3480
@lannka Thanks for filing this. This seems to be related to the usage of the `--files` args in the `gulp test` command - one way to fix this is requiring the elements scripts inside the test now.

Will work on debugging this and see if there's a better way to handle this.

[2016-06-07 20:22] jridgewell commented on #3126
Closed by https://github.com/ampproject/amphtml/pull/3118.

[2016-06-07 20:22] #3126 closed

[2016-06-07 20:43] erwinmombay opened #3481 "news.google.com scrolling in ios 8.1 safari is broken"
Please walk through the following steps for reporting an issue about AMP:
## Short description of your issue:

vertical scrolling on first article clicked on news.google.com on ios 8 safari is broken

works on standalone AMP article link without being under news.google.com

carousel + click interaction is OK on the news carousel in google.com (not same article)
## How do we reproduce the issue?
1.

[2016-06-07 21:49] mkhatib commented on #3480
@sriramkrish85 just had a similar issue without `--files` being used. The cause was he wasn't importing the correct source file for the extension inside the test. Simialr to what I mentioned above.

--files should work but you'd need to require or import the source files for the extensions your code is using otherwise the test will never see them.

Will be closing this bug since `--files` is worki

[2016-06-07 21:58] jasti commented on #3416
@jridgewell My preference is to 'Collapse Flying Carpet' and we are super clear about placement in docs. Motivation behind this is to fail fast and get the right behavior vs hope that the alternate is palatable. Also we should prob never not show content :)

Also as discussed, can we collapse when there is no ad returned and no placeholder?

[2016-06-07 21:59] mkhatib commented on #3480
Ok I was gonna file a separate bug, but this is good. We need to import both `amp-analytics` and `amp-ad` inside the `test-element-stub` to allow the tests to load the extensions.

[2016-06-07 22:06] jasti commented on #2472
Couple of outstanding items:
1. Read me needs updating for all the supported parameters for background colors
2. Swipe to dismiss
3. Edge case testing
   a. What happens when more than a single element is wrapped inside of the amp-sticky element
   b. What happens when more than a single amp-sticky element is on the page
4. #3473 . @jridgewell's thoughts needed for a workaround.

[2016-06-07 23:07] mkhatib opened #3485 "test-element-stub broken tests"
[code]

[2016-06-07 23:24] #3480 closed

[2016-06-07 23:27] mkhatib commented on #412
Just tried `gulp test --integration` locally after removing the `.skip` part and it seems to be passing.

[2016-06-07 23:34] mkhatib commented on #412
Yup even with `gulp test` these seem to pass.

[2016-06-07 23:47] erwinmombay opened #3489 "amp-live-list: investigate if we need to do a replace for the tombstone'd amp-element"
if a tombstone'd item is an `amp-element` of some sort and we tombstone and empty out its subtree the element might still do some operation that might cause an error (timeout operation on its children w/c is now gone etc). we might need to replace it with a dummy empty div and transfer the id and data-tombstone property.

[2016-06-08 02:32] mkhatib opened #3492 "Local test-amp-ad render an ad fails"
This seems to be similar to why `test-element-stub` was failing earlier. After debugging it seemed that the `iframe.onload` never fires for the first test block but fires for the rest!!! I am not entirely sure if this is a new chrome bug or what is happening.

cc/ @muxin @dvoytenko, Yuxi mentioned you folks debugged this and this was your conclusion as well. Any idea what's happening?

[2016-06-08 09:45] SantoshDhanjal opened #3494 "Analytics vendor to be added to AMP Project"
Hi,

We currently use IBM Digital Analytics (DA) for our web reporting. DA have not yet integrated with amp project, I have contacted them. Please can I request to add this vendor to the list of analytics that the amp project supports. I have followed the guideline stated in : https://www.ampproject.org/docs/guides/analytics_amp.html

Thanks
Santosh
Johnston Press Publishing

[2016-06-08 09:51] rudygalfi commented on #3494
IBM would need to add a vendor configuration, so you've done the right thing by contacting them. Perhaps you could reference this issue in your communications with them.

[2016-06-08 09:56] SantoshDhanjal commented on #3494
Hi - I just need to tell IBM to add a vendor configuration? Are there any links I should give them. I think they have been on contact with amp project.

[2016-06-08 10:02] rudygalfi commented on #3494
Best thing would be if they could just reply here.

[2016-06-08 14:18] weeblr commented on #2380
@RReverser We are still having a user with this problem, though the code inserted is not exactly the same as initially, I think:

`<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1465027686,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"38dbd94d94476a3bd906cc74fe67ab04",petok:"b2a42bbfa7d27

[2016-06-08 15:11] igrigorik opened #3495 "sendBeacon should check return value"
Current source: https://github.com/ampproject/amphtml/blob/f4ec2ffabc6fd6e49021e29d36b82955a6b0b525/extensions/amp-analytics/0.1/transport.js#L78

[code]

Per spec, [`sendBeacon()` returns a boolean](http://w3c.github.io/beacon/#sec-sendBeacon-method) indicating if the request was queued or not. AMP should check said return value and adjust accordingly - e.g. fallback to other delivery method if `

[2016-06-08 15:12] igrigorik commented on #2446
If sendBeacon supported GET, would this allow us to make it the default for all browsers that support it?

[2016-06-08 15:31] dvoytenko commented on #2446
@igrigorik I'd think so. I can't think of any reason then not to use it as a default.

[2016-06-08 16:56] jridgewell commented on #3416
But that's what I mean by "collapse flying carpet". We plan on making it have `height = 0`, so that it does't disrupt the reader.

https://github.com/ampproject/amphtml/issues/3338

[2016-06-08 17:06] dvoytenko commented on #3476
@talawahdotnet WAI since these devices are too old.

[2016-06-08 17:06] #3476 closed

[2016-06-08 17:08] lannka commented on #2424
Addressed in #3482

[2016-06-08 17:08] #2424 closed

[2016-06-08 17:09] dvoytenko commented on #3466
@taymonbeal I'd be happy to look into PR. We typically mock/stub `user.error` and other methods from `log.js` module to test user facing errors. `dev` instance from the same module can be used for non-user facing errors, but that's not a requirement to test.

[2016-06-08 17:14] jasti commented on #3416
👍 My comment :

was specifically regarding your option

We are good!

[2016-06-08 20:04] #3485 closed

[2016-06-08 20:11] ejcx commented on #3063
Final question @rudygalfi .

Which features? Is this mostly to support first-click free ?

[2016-06-08 21:01] lannka opened #3499 "Need a HTTPS gulp server"
**Rationales**

- We have many places only allow HTTPS resources. On current HTTP gulp server, manual tests cannot be done against relative URLs (like src="/video.mp4"), which makes reproducing bugs like #3449 locally difficult.

- Due to the same reason, some of our manual tests have to use external resources that are hosted on HTTPS. There're no guarantee that those resources will be there for g

[2016-06-08 23:54] pbakaus opened #3501 "Add easy way to toggle a class based on user input"
A lot of times, I have wanted the ability to toggle a class on an element when a user clicks on something. Here's my proposal:

[code]

Of course, this would allow you to arbitrarily alter the layout of the page, but only when triggered by a user action. There's probably opportunity for abuse, but I thought I'd start the conversation.

[2016-06-08 23:56] erwinmombay commented on #3501
/to @dvoytenko for binding work

[2016-06-09 00:40] cramforce commented on #3453
It would definitely be nice to use parts of AMP outside of AMP (and you sure can, we can't stop anyone at all), but doing it well is actually very hard to impossible right now. It might seem to work, but a single `document.body.classList.add('foo')` can break it.

`amp-img` is a good example. It is essentially impossible to make a generic implementation in browsers that do not implement `Intersect

[2016-06-09 00:57] muxin opened #3503 "Fix more local flaky tests by not loading external resources"
There are still some flaky tests that could be fixed by using `doNotLoadExternalResourcesInTest` introduced in #3132 to avoid loading external resources in the test.

Follow up of #3194

[2016-06-09 01:49] muxin opened #3504 "Apply property shorthand syntax following ECMAScript 6 format"

[2016-06-09 06:16] patHyatt opened #3505 "Instagram extension - a11y update"
Hey everyone,
Running an accessibility (using tota11y) check the amp-instagram component yields an issue for not containing an alt attribute value.

Secondly the iframe that is pulled in does not have a title attribute which can be problematic for screen readers. This is suggested for helping screen reader users differentiate frames.

I'm sitting on changes which allow for an alt attribute on the

[2016-06-09 09:36] Joostvanderlaan commented on #2380
First part: Cloudflare insertin GA. Disable the app on Cloudflare & add GA in your template.
Second part: Google pagespeed module. You must completely disable that for all AMP pages. (by creating a location in your NGINX for example) To do a test you could of course disable pagespeed alltogether.

[2016-06-09 09:59] weeblr commented on #2380
Hi @Joostvanderlaan

There must be a confusion in your reading of my past message. All of this JS is inserted by Cloudflare on the fly. From past discussion on this thread, Cloudflare is supposed now to leave AMP pages alone, unmodified, it seems they don't yet.

Rgds

[2016-06-09 10:21] Joostvanderlaan commented on #2380
Then still, you could stop Cloudflare from doing that by creating a PageRule for that.

[2016-06-09 10:23] RReverser commented on #2380
@weeblr Actually this part from your example makes me suspicious too:

[code]

This looks like PageSpeed module and not CloudFlare.

If you're certain that it's not, can you please show at least URL where this is happening so that we could look into it?

[2016-06-09 10:34] weeblr commented on #2380
@Joostvanderlaan

The question here is not to "solve the problem". It's to understand why this is happening, and whether it's expected (by Cloudflare) behavior.

Again, it was said that Cloudflare would not "touch" any AMP page from now on. Whether you are affected or not may depends on the Cloudflare features you use, right?

@RReverser You are right. I have sent a message to customer, as they se

[2016-06-09 10:46] RReverser commented on #2380
@weeblr Cool, glad it's resolved.

[2016-06-09 11:12] rudygalfi commented on #3063
I'm actually not super familiar with publishers' Access implementations, but I suspect Google's first click free policy is one of the places where referrer information comes in. There may be others.

[2016-06-09 11:50] rudygalfi commented on #1411
@lannka moving this over to you

[2016-06-09 12:24] jmarantz commented on #2380
For the record, the next release of PageSpeed will automatically disable
any injection of scripts or other non-amp-compliant changes, whenever
serving an AMP document.

In the meantime, a good workaround is to use
  ModPagespeedRewriteLevel OptimizeForBandwidth (apache)
  pagespeed RewriteLevel OptimizeForBandwidth;  (nginx)
in the /amp subdirectory.

-Josh

On Thu, Jun 9, 2016 at 6:47 AM, Ingvar

[2016-06-09 12:58] weeblr commented on #2380
Thanks for this information. Few users have actually control over their servers. Was wondering if adding a header would also be a valid alternative solution? as in:
`Cache-Control: no-transform`

Rgds

[2016-06-09 13:20] cramforce commented on #3501
This has been discussed a few times before and is quite the obvious change. No need for a new element, something as imperative as
`<button on="tap:toggle-class('.foo', 'class-name')">Open lightbox</button>`
could work.

The simple reason why I've been reluctant to put this into AMP is that it would immediately be used to build "READ MORE" buttons.

[2016-06-09 13:26] ruz opened #3508 "facebook pre-configuration in amp-social-share is wrong"
https://github.com/ampproject/amphtml/blob/master/extensions/amp-social-share/0.1/amp-social-share-config.js#L37

Argument named "url", while it is "href". See "URL Redirection" on the following page:

https://developers.facebook.com/docs/sharing/reference/share-dialog

[2016-06-09 13:33] jmarantz commented on #2380
RE disabling PageSpeed via server controls: usually a user who has
installed mod_pagespeed/ngx_pagespeed will be in control of how to adjust
the settings.  I guess you are talking about situations where a hosting
provider has installed mod_pagespeed for a site without giving them any
control?  Do you see that a lot?

Anyway, in that situation, adding
response-header cache-control:no-transform will

[2016-06-09 13:39] kashyapnitin commented on #3176
Technically speaking
Doubleclick.js code already has a notion of the slot width being different from the request size (hxW) parameters as mentioned here: https://github.com/ampproject/amphtml/blob/5c2710de99a55b0c8c5a6008734db54a558efb93/ads/google/doubleclick.md#ad-size
could we extend the override height & widths to take more than one size (as long as in the multisize case, all of them were less

[2016-06-09 14:30] dkolba commented on #3133
Will a4a distinguish between mobile and desktop clients and deliver the appropriate ads?

[2016-06-09 14:41] weeblr commented on #2380
Re: hosting companies, I assume so, and I don't have a large sample enough for a valid opinion.
I will add the PageSpeed:Off header anyway, doesn't cost much and can save some head scratching for some.
Thnks

[2016-06-09 14:58] Joostvanderlaan commented on #2380
@weeblr could you make that an option? Since I would still like to use pagespeed for my images :)

[2016-06-09 15:02] weeblr commented on #2380
Well I am doing the Joomla AMP extension, so I was only talking about the HTML document response. Assets are not going through the CMS, and are simply served by the server, so there's no issue there.

[2016-06-09 15:03] taymonbeal commented on #3466
To clarify, this is about reporting errors to the server via `error.js`, not about making them visible in the console. The use case is that we have the ability to recover from an unexpected error by falling back to a different approach, so the error won't propagate to the top level, but we still want to know about it. As far as I can tell `log.js` doesn't make any network requests.

Also, since th

[2016-06-09 15:08] ericlindley-g commented on #3508
Passing to @mkhatib

[2016-06-09 15:56] ejcx commented on #3063
So it sounds like becoming "trusted" only gives you the ability to modify the referrer, which is to provide publishers/ad-networks with additional and more accurate information.

[2016-06-09 16:12] pbakaus commented on #3501
Fair enough. I agree that the bulk of the content probably shouldn't be hidden upon arrival. Tricky problem. We could use some heuristics to see whether there's content in the toggled paragraph, but any such heuristic would be faulty and produce lots of false positives and negatives.

I don't have an immediate solution and my use case isn't strong enough to warrant read more buttons, so feel free

[2016-06-09 17:21] dknecht opened #3510 "amp cache link re-writes can cause validation error"
If a page is served from cdn.ampproject.com/c/example.com/test.html and has amp-pixel with relative url `<amp-pixel src="/pixel?status=bar"></amp-pixel>` it will pass validations on edge but then cause error on page because of http vs https src `<amp-pixel src="http://example.com/pixel?status=bar"></amp-pixel>`

[2016-06-09 20:01] jridgewell opened #3515 "Resources Performance"
I'm doing some profiling for iOS scrolling. On some frames, we spend around 5.3ms running the [`Resource doPass`](https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L1456-L1476).

25% of that time is [spent](https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L1472) (1.4ms) trying to determine if the [`Body#scrollHeight`](https://github.com/

[2016-06-09 20:33] erwinmombay opened #3516 "generate csv file from commit history size.txt"

[2016-06-09 20:43] jridgewell commented on #3505
I think that'd be great!

[2016-06-09 20:46] Gregable opened #3517 "Add mechanism for selecting image file based on capability"
[WebP](https://developers.google.com/speed/webp/) images are not supported on all browsers, but can be enabled per browser as a means of reducing bytes on the wire.

In the case of the AMP Cache, the origin can't respond selectively with different image types based on the browser request headers, so the decision of image variant would need to be something the browser selects.

With a `<picture>` t

[2016-06-09 20:57] erwinmombay opened #3519 "maximum call stack size exceeded"
[code]

we originally only saw these on android 5, this recent one is android 6
Mozilla/5.0 (Linux; Android 6.0.99; Build/NPD35K; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/51.0.2704.36 Mobile Safari/537.36

page:
https://cdn.ampproject.org/v/s/www.washingtonpost.com/amphtml/world/middle_east/the-latest-israel-to-boost-troops-in-west-bank-after-attack/2016/06/09/03fe90b6-2e28-11

[2016-06-09 20:58] jridgewell commented on #3519
Can you give more callstack?

[2016-06-09 20:58] erwinmombay commented on #3519
@jridgewell all i got form our error logs :(

[2016-06-09 21:28] tdrl commented on #3133
@dkolba A4A itself will be agnostic -- it will be up to an individual ad network's implementation to check client state and deliver an appropriate creative.  (Either because the network's sub-class of A4A itself checks and crafts an appropriate URL request or because the ad network server, say, detects user agent and chooses a creative to deliver based on that.)

[2016-06-09 22:29] lannka opened #3521 "test-ad-cid is flaky"
Chromium 45.0.2454 (Ubuntu 0.0.0) ad-cid-embed cid-ad support provides null if cid service not available FAILED
	Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.

Seems to be a timeout of an external resource loading. Is it a convention to load "https://schema.org" in amp-ad btw :-).

[2016-06-09 23:10] erwinmombay opened #3523 "investigate using --checks-only flag for the type checking task"
Related to https://github.com/ampproject/amphtml/pull/3506

tried using --checks-only, usually get an error that its looking for the build/cc/*\* files which don't get generated when --checks-only is on (makes sense since it suppresses output). best guess right now is its trying to create the source maps.

[2016-06-09 23:13] ericlindley-g commented on #3517
Slotting in Backlog to start, but please feel free to update if the milestone is different or changes

[2016-06-10 01:00] dvoytenko commented on #3517
I'd like to consider a more general element, e.g. `<amp-select-one>` that would interrogate its children based on media queries, browser capabilities, network parameters, etc and would pick the winning child and hide all other.

[2016-06-10 01:07] dvoytenko commented on #3515
`getScrollHeight` in `Resources` is completely useless and should be removed. Leftover of the old viewport experiment.

[2016-06-10 01:12] dvoytenko commented on #3510
@dknecht In this case, the cache appears to have correctly made `http` determination, which is appropriately blocked. If this page is HTTPs, it should be accessed via `cdn.ampproject.com/c/s/example.com/test.html` (_/c/s/_). I'm not sure, however, why this page validates in the first place.

/cc @Gregable

[2016-06-10 01:18] dvoytenko commented on #3466
If we don't want it in console, you can use `dev.error`. `log.js` errors are directed via `error.js` via the same `reportError`.

[2016-06-10 03:16] dandv commented on #2700
I see the PR has been merged. Can we close?

[2016-06-10 11:46] cramforce commented on #3515
Great find. Lets fix!!!

[2016-06-10 13:14] cramforce commented on #3519
Hmmm, looks like a recursion through `setState` and `work_` is most likely.

@jridgewell Could that we? Could we add a defense-in-depth.

[2016-06-10 14:30] HerbertL commented on #3343
Is there a timeline on when AMP Forms Support will be added?

[2016-06-10 15:25] rudygalfi opened #3528 "currentContinuousVisibleTime variable for visibilitySpec in amp-analytics"
#3512 follow up: It would be nice to have a currentContinuousVisibleTime variable that emits the continuous visibility time of the element (as opposed to max or min).

[2016-06-10 17:02] calvinfo commented on #3418
Thanks guys! We've tested and deployed AMP tracking on our side of things–is there anything else we have to do to be included? Appreciate the reviews here.

[2016-06-10 17:05] calvinfo commented on #3418
Whoop, totally missed that this is an issue–not a PR. Once we PR is there anything we need to do before merging?

[2016-06-10 17:44] jridgewell commented on #3418
We just need to review the PR to make sure it's following all of our conventions. It usually goes very quickly.

[2016-06-10 17:46] #2700 closed

[2016-06-10 19:16] mkhatib opened #3533 "Validator: Allow alt="string" attribute on amp-instagram"
See: #3520

Optional `<amp-instagram alt="text"></amp-instagram>`.

[2016-06-10 19:58] jridgewell commented on #3519
I can't find it. Can we report more of the call stack?

[2016-06-10 20:47] erwinmombay commented on #3519
@cramforce you ok with increasing the `Error.stackTraceLimit`?

[2016-06-10 21:02] #3515 closed

[2016-06-10 21:03] cramforce commented on #3519
Hmmm, I don't think that will help, will it? We often have longer traces.

[2016-06-10 21:04] erwinmombay commented on #3519
@cramforce yeah i dont think it will in this case

[2016-06-10 21:31] taymonbeal commented on #3466
Ok, will use `dev.error` for this instead of modifying `error.js`.

[2016-06-10 21:31] #3466 closed

[2016-06-10 21:39] mkhatib commented on #3245
@Preen do you have an example page where this is happening? This example page for [example shows different layout with different width/height](https://amp-mk-1.herokuapp.com/examples.build/social-share.amp.max.html).

[2016-06-10 21:40] kul3r4 opened #3542 "Can't center amp-fx-flying-carpet when multiple columns in the page"
While working on [this](https://amptest-fed77.firebaseapp.com/amp-flying-carpet.html) example, I couldn't center the amp-fx-flying-carpet on the right column. The class -amp-fx-flying-carpet-container contains:
`    left: 0!important;
    width: 100%!important;`
My case could be solved by being able to set the width, for example to 30% and removing the left constraint. That would not work for mobi

[2016-06-10 21:51] #3508 closed

[2016-06-10 22:02] #3469 closed

[2016-06-10 23:07] jridgewell opened #3545 "Is #isReadyToBuild Needed Anymore?"
After https://github.com/ampproject/amphtml/pull/3174, is `Element#isReadyToBuild` needed anymore?

[2016-06-10 23:12] mkhatib commented on #3545
No, we're dropping it. Marking this as dup to #3196

[2016-06-10 23:12] #3545 closed

[2016-06-10 23:30] mkhatib commented on #3533
Closing this in favor of #3549

[2016-06-11 02:28] lannka commented on #3521
#3503

[2016-06-11 12:03] calvinfo commented on #3418
Got it, thanks @jridgewell!

[2016-06-11 14:39] telmanik opened #3553 "google adsense Page-level ads"
I'm not sure if we are missing something. Or if this is not supported yet. We are looking to get working google adsense Page-level ads

What I have tried.
`<amp-ad
    type="adsense"
    data-ad-client="ca-pub-XXXXXXX"
   enable_page_level_ads: true
</amp-ad>`

[2016-06-12 15:56] jaygray0919 opened #3554 "proposal for amp-list and amp-mustache"
We have used `amp-list` and `amp-mustache` successfully in several situations.

However, the requirement that the root term is `"items":[{}]` is limiting and basically requires full edit control of the target JSON file.
Example:

[code]

Here's our proposal:
Require the developer to specify the root term when reading a HTTPS/CORS/JSON document.
A developer already has to specify tree navigation wi

[2016-06-12 16:35] adewale commented on #800
@mkhatib some feedback based on discussion with @noahrs and other publishers.

Let's make it possible for banners to be shown inline like these: https://goo.gl/photos/HobYuSoDhUZc9rEH7

Note that these aren't modal. They act like inline ads inside the article. The main reason for providing this feature is that currently the user lands on a page and is asked to make a decision about installing an a

[2016-06-12 21:11] dandv commented on #1267
See #1531 for previous work on this.

[2016-06-12 21:22] dandv commented on #1531
@dvoytenko

Should we mention in the [`amp-carousel` documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md) that the user needs to add a CSS rule for the `amp-img imp` setting `object-fit: contain;`?

See [this SO question](http://stackoverflow.com/questions/34517869/how-to-make-a-responsive-amp-carousel). @adewale's answer is now out of date.

[2016-06-13 15:00] cramforce commented on #3521
Are you sure that URL is being requested? Where?

[2016-06-13 15:03] tdrl commented on #3553
Page level ads aren't supported in AMP (and won't be).  They require dynamic modifications to the DOM that aren't allowed under AMP.

What are you trying to achieve?  Is there a different way you can get there?

[2016-06-13 15:58] jaygray0919 commented on #3432
Please see: https://github.com/ampproject/amphtml/issues/3554
Should have added the above there.

[2016-06-13 16:13] jaygray0919 commented on #3554
Please merge with https://github.com/ampproject/amphtml/issues/3432

[2016-06-13 16:47] dvoytenko commented on #3554
@jaygray0919 Could you provide the example of what the template would look like in terms of your PropertyTable/Properties example above?

[2016-06-13 16:51] jridgewell commented on #3533
Fixed by https://github.com/ampproject/amphtml/pull/3549?

[2016-06-13 16:53] dvoytenko commented on #1531
@dandv We may do so, yes. So far we resisted because it's easy not to notice the improper original image size issues with the default `object-fit: contain`. So far, most of issues we've seen were due to the incorrect sizing rather than intentional image fitting in a different aspect ratio.

[2016-06-13 16:59] jridgewell commented on #3553
Marking closed per https://github.com/ampproject/amphtml/issues/3553#issuecomment-225608460. We can reopen later if we can work around the dynamic modifications.

[2016-06-13 16:59] #3553 closed

[2016-06-13 17:09] Gregable commented on #3455
I will work on changing the JSON-LD to allow it anywhere in the body.

Your comment about the CSS is confusing. The size constraint (50,000 bytes) is on the byte length of the CSS (ie: everything between `<style amp-custom>` and `</style>`). Do you have any example where the CSS length is <= 50,000 bytes, but the validator is failing?

[2016-06-13 17:39] lannka commented on #3521
https://github.com/ampproject/amphtml/blob/master/test/functional/test-ad-cid.js#L150

[code]

[2016-06-13 17:58] jridgewell commented on #3253
Closed by #3547.

[2016-06-13 17:58] #3253 closed

[2016-06-13 17:58] jridgewell opened #3559 "Validator: <amp-fx-flying-carpet>"
https://github.com/ampproject/amphtml/pull/3118

[2016-06-13 18:03] lannka opened #3560 "Deploy a nightly build server on Heroku"
It should be pushed automatically with latest code everyday.

It serves the following purposes:

- View examples and conduct manual test against the latest code anywhere without a local build.
- Serves as HTTPS endpoints that are required by some of our manual tests/examples. (See discussions here: #3522 ).

Let me know if this sounds helpful.

- [ ] We probably want to have an official Heroku acc

[2016-06-13 18:05] erwinmombay commented on #3560
this should be super easy with a cron job in one of our workstations

[2016-06-13 18:06] jaygray0919 commented on #3554
Here's the `amp-mustache` default case (template-1):
[code]
The amp-list looks like this:
[code]
For the above to work, we have to edit the source as follows:
[code]

Next, let's look at the PubChem target:
https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/2244/property/MolecularFormula/JSON

We have to wrap the source in a root `items:[ ]` like so:
https://dl.dropboxusercontent.com/u/3094317

[2016-06-13 18:12] jaygray0919 commented on #3455
TY.
I'll need to reconstruct the files that had the problem; we've modified all of them based on your change.
Gimme a day to get back to you on this. We **thought** our problem had to do with the size of `<head>`. When we moved the JSON-LD from `<head>` to `<body>` the validation passed. Perhaps something else was wrong and we didn't get it at the moment

[2016-06-13 18:12] lannka opened #3561 "Saucelab tests are continuously failing"
All the [recent build](https://travis-ci.org/ampproject/amphtml/builds) are failing: https://travis-ci.org/ampproject/amphtml/builds/137291477

[code]

[2016-06-13 18:18] cramforce commented on #3521
That does not actually request that URL (I think :). It only provides a
canonical URL to the ad.

On Mon, Jun 13, 2016 at 10:40 AM, Hongfei Ding <notifications@github.com>
wrote:

[2016-06-13 18:46] mkhatib commented on #3533
Yes

[2016-06-13 18:46] #3533 closed

[2016-06-13 20:03] lannka commented on #3560
Maybe this is even better: https://devcenter.heroku.com/articles/scheduler ?

[2016-06-13 20:21] cramforce opened #3564 "Test out CSS containment"
Experiment with auto-applying CSS containment rules to elements with layout types that guarantee containment semantics (such as really most `layout` values).
https://developers.google.com/web/updates/2016/06/css-containment

[2016-06-13 20:24] cramforce commented on #3560
Awesome idea!

[2016-06-13 20:41] jridgewell opened #3567 "AMP Sidebar: Use `toggle` style helper"
Instead of the `setStyles(element, { display: 'none' })`.

[2016-06-13 20:46] jridgewell opened #3568 "Strange display styling in amp-user-notification"
Is [this](https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/0.1/amp-user-notification.js#L283) display unsetting needed?

[code]

[2016-06-13 20:57] erwinmombay commented on #3568
@jridgewell if i remember correctly this is because `amp-user-notification` starts off as `layout=nodisplay` which sets `display = 'none'` through javascript. any issue? we could move it to css too if that is better

[2016-06-13 21:39] #3542 closed

[2016-06-13 22:47] avimehta commented on #1298
I personally like the second proposal. `on` attribute means something different and overloading the meaning might not be desirable. for example `on="click..."` does something on clicks. `track` is not an action though. It is usually click or tap.

The negative of using the second proposal is that some data might have to be duplicated in `on` and `data-*`. I think duplication is okay because clarit

[2016-06-13 23:07] #3449 closed

[2016-06-13 23:08] lannka commented on #3499
It's available via the --https flag now.
`gulp --https`

[2016-06-13 23:10] #3499 closed

[2016-06-14 01:28] jasti commented on #2472
For those interested in an early look at sticky ads in AMP, please see : https://ampbyexample.com/components/amp-sticky-ad/
Suggestions and feedback welcome while we finish up some more essential enhancements like 'swipe to dismiss' and #3473

[2016-06-14 08:31] Joostvanderlaan commented on #2380
Ah ok, that would be fine then :)

[2016-06-14 09:53] weeblr commented on #2380
Still a bit confused. InPlace optimization means the images URLs are not altered. Optimization happens independently of the HTML, so adding PageSpeed off on the HTML should not prevent Pagespeed to optimize your images

[2016-06-14 11:13] Joostvanderlaan commented on #2380
Pagespeed still needs to read the image urls from the HTML. That's why it needs to be enabled for that html (or better: amphtml) page.

[2016-06-14 12:52] juliantoledo opened #3573 "amp-sidebar: browser back button breaks the sidebar functionality"
## Short description of your issue:
When clicking on a link in an amp-sidebar the browser back button brakes the amp-sidebar functionality

## How do we reproduce the issue?
1. Create a page with amp-sidebar (http://localhost:8000/)
2. Click on a link in the amp-sidebar (http://localhost:8000/newpage/)
3. On the new page click on the browser's back button
4. The browser keeps the # for example (ht

[2016-06-14 13:30] weeblr commented on #2380
No, it does not. https://developers.google.com/speed/pagespeed/module/system#ipro

[2016-06-14 13:37] Joostvanderlaan commented on #2380
ok, you're right in this case. Still, there's other filters like trim url's that could be useful with AMP.
https://developers.google.com/speed/pagespeed/module/filter-trim-urls#operation

[2016-06-14 13:41] weeblr commented on #2380
Actually, that's probably another example that would not work, as using the "base' tag is not allowed in AMP html spec (not sure why actually, maybe to make link resolution easier for AMP js?).
It looks like each feature in PS would have to be reviewed and checked for validity.

[2016-06-14 13:59] Joostvanderlaan commented on #2380
There is a base tag in the example, though I am not sure that needs to be explicitly there. couldn't it trim the urls without the base tag? (it knows the domain from the config and request uri)

[2016-06-14 14:06] RReverser commented on #2380
@Joostvanderlaan in any case such transformation is unlikely to give any benefits if you're using gzip.

[2016-06-14 14:09] weeblr commented on #2380
Though I'm not familiar with PS, trimming seems to be the act of putting the base URL in the base tag, and removing all unneeded parts of URLs on the page, to make them relative to the base tag content. Don't see what could be trimmed otherwise.

[2016-06-14 14:33] weeblr commented on #2380
You're right with that, the base tag is not needed.
This discussion however totally convinced me that for a distributed product such as mine, from a support standpoint, making this a user-available setting is a bad idea.
Remember, we are not talking about disabling PS on AMP pages, only on the HTML. Meaning that resources (images mostly in our case) will still be optimized.
And indeed, this is not

[2016-06-14 15:17] ericlindley-g commented on #3573
Passing to @sriramkrish85 to take a look

[2016-06-14 15:24] sriramkrish85 commented on #3573
@juliantoledo
https://ampskrish.herokuapp.com/test/manual/amp-sidebar.amp.html

Tried here seems to work fine on iOS chrome. Are you seeing any error on the console?

[2016-06-14 15:27] sriramkrish85 commented on #3573
Tried on localhost too, (desktop chrome), seems to be working fine.

[2016-06-14 17:37] zhouyx commented on #3564
Tested on `amp-iframe` and `amp-img` but didn't see major improvement,  I changed style by setting `element.style.left` to different values, and calculated time taken using chrome profiles tool. I suppose it is because browser already limit scope for us. Any suggestions on a style change that browser may fail on limiting scope automatically?

[2016-06-14 17:39] polastre opened #3576 "Whitelist Medium fonts"
Medium uses custom designed and licensed fonts that have select spacing rules (which we encode in CSS for our web clients). The CSS and font files are served from:

[code]

Each revision of our fonts is fingerprinted into a CSS file, such as the following example:
https://cdn-static-1.medium.com/_/fp/css/fonts-base.by5Oi_VbnwEIvhnWIsuUjA.css

This is a request to whitelist Medium's CDN for serving

[2016-06-14 17:58] cramforce commented on #3576
Unless you want to make these available to non-Medium sites, I think this will not scale. The URLs have to be whitelisted in our CSP, which would be very spammy to pages that do not use it.

Any chance you can use `@font-face` in inline CSS instead? That would require no whitelisting.

[2016-06-14 18:16] #3298 closed

[2016-06-14 19:30] nbeloglazov opened #3578 "AMP validator forbids "style" attribute in <stop> svg element."
Please walk through the following steps for reporting an issue about AMP:
- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ
## Short description of your issue:

AMP validator disallows "style" attribute in

[2016-06-14 19:37] Gregable commented on #3578
Good point. The spec also reads (https://www.ampproject.org/docs/reference/spec.html#html-attributes) that "The `style` attribute must not be used.". I'm guessing that the rule for svg elements trumps the rule for html attributes, but it would be good to get a confirmation on this. @cramforce @dvoytenko

[2016-06-14 19:54] dvoytenko commented on #3578
We have currently disallowed `style` on all elements: HTML/SVG. We have previously discussed that we may relax this rule for `SVG`. @cramforce any opinion on this?

[2016-06-14 20:06] polastre commented on #3576
@cramforce The CSS fonts are a 254kb file (compressed to 187kb during transit). That's larger than the 50,000 bytes allowed for inline CSS.

[2016-06-14 20:15] antseburova opened #3579 "Brightcove player (amp-brightcove) doesn't get resized properly on Android devices"
Hi guys,

Brightcove player (amp-brightcove) doesn't get resized properly on Android devices after changing views from portrait to landscape. I found the issue not only in my project, but on one of the Brightcove customers' sites as well: http://www.lastampa.it/2016/02/24/edizioni/vercelli/carcoforo-il-paese-con-abitanti-che-sopravvive-grazie-a-facebook-eOH6evfEIMTWMkUMLMO53N/amphtml/pagina.amp.ht

[2016-06-14 20:27] cramforce commented on #3578
Could somebody point to a few example usages of style in SVG?

[2016-06-14 20:28] cramforce commented on #3576
@polastre I meant to reference actual font URLs from a font face rule (not inline them).

Note, that in AMP, because there are only inline styles and the script tags are all async, the problem of late font downloads goes away and thus one does not need to use the base64-in-CSS-file delivery for good performance.

[2016-06-14 20:35] polastre commented on #3576
@cramforce thanks, we'll give it whirl.

[2016-06-14 21:08] nbeloglazov commented on #3578
One example is what I already provided. Here is clearer version: http://jsbin.com/jamuyi/edit?html,output radialGradient creates shadow effect and <stop> used to control it.

[2016-06-14 21:12] cramforce commented on #3578
FMI: Is this subject to style CSP rules or independent?

On Tue, Jun 14, 2016 at 2:08 PM, Nikita Beloglazov <notifications@github.com

[2016-06-14 22:01] dvoytenko commented on #3579
@mister-ben I checked and it looks like the `amp-brightcove` itself and its iframe get the correct size after resize, but the `video` inside is not resized. Do you know why? Are you processing resize events?

[2016-06-14 22:02] dvoytenko commented on #3579
/cc @rudygalfi

[2016-06-14 22:32] dvoytenko commented on #1298
I'll be pretty happy with a `track=""` attribute - its meaning will be clear and all DOM bubbling/nesting behavior will be obvious. The format itself is tbd.

[2016-06-14 23:19] dvoytenko commented on #3554
@jaygray0919 I think I understand, but I'm not sure how `amp-list` would "understand" which properties to iterate? I see one option to supply the "root" expression to find the array to iterate on. E.g. something like this:

[code]

The `items` attribute will default to `"items"` to keep backward compatibility with the current codepath.

Then the JSON can simply be:
[code]

Would this solve your pr

[2016-06-15 00:03] dvoytenko commented on #3578
FWICT the same CSP rules w.r.t. `style` attribute apply to SVGs. However, the argument here, I believe, is convenience. Most of SVG generators add `style` attributes to SVGs freely and refactoring them in classes is difficult at best.

[2016-06-15 00:51] jaygray0919 commented on #3554
Lemme speak with some folks and get back to you quickly. Also will reach out to @danbri as he's leading the schema.org initiative which uses, among other structures, JSON-LD to represent structured data. TY for your analysis and attention.

[2016-06-15 06:37] mister-ben commented on #3579
Odd, the player is stretching to fill the height (as the controls are at the bottom of the frame), just not the width. I'll look into it.

[2016-06-15 07:23] julien51 commented on #3576
@cramforce would it be possible to also use `data-url` but have them not be accounted toward the 50K limit for stylesheets?

[2016-06-15 11:52] bansalUdit opened #3584 "CSS issue"
I have created a simple HTML page using AMP guidelines, but when I check that page with google toolbar AUDIT button that show me unused AMP classes.

How can I remove those with static html without using any package or any other stuff
Please help to get rid out of this.

[2016-06-15 12:29] sebastianbenz commented on #2975
Any news on this? Was surprised to see the validator complaining when I added a manifest to ampbyexample.

[2016-06-15 13:01] BenDz opened #3585 "extraUrlParams vendor's implementation not prefixed with &"
Hi,

When using extraUrlParams with AT Internet analytics, the extra params are not prefixed by a "&".
In our (AT Internet) implementation, this cause issue since the first parameter name will be include to the previous parameter.
For vendors who don't use the extraUrlParams in their requests, they are added at the end of the request, and are prefixed by the "&".

Since this extraUrlParams are opt

[2016-06-15 14:54] cramforce commented on #3576
@julien51 actually inlining them in the doc would be really bad.

Any chance you could just upload the font files to your CDN?

[2016-06-15 14:58] cramforce commented on #2975
@mkhatib can summarize latest discussion.

But TL';dr is: Manifests should be valid, of course! And that is pretty urgent. The AMP Cache rewriter should neuter the link-tag by renaming the rel to a different value like `origin-manifest`.

[2016-06-15 15:03] juliantoledo opened #3586 "amp-sidebar+amp-accordion do not render amp-img for sections pre-expanded"
## Short description of your issue:

amp-sidebar+amp-accordion do not render amp-img for sections pre-expanded
## How do we reproduce the issue?
1. Create an amp-sidebar with an amp-accordion inside
2. Create a `<section expanded>` with an amp-img inside.
3. The image is not rendered by default (it shows the alt), it will be drawn on windows resize or after re-expanding the section.
## What browse

[2016-06-15 15:09] juliantoledo commented on #3573
I found that we had  href="#" on the sidebar button and that was braking it.

[2016-06-15 15:09] #3573 closed

[2016-06-15 15:38] #3416 closed

[2016-06-15 15:53] julien51 commented on #3576
Sure! We'll do that!

[2016-06-15 15:55] jridgewell commented on #3584
Hi @bansalUdit, these classes are included by the [default AMP CSS](https://github.com/ampproject/amphtml/blob/master/css/amp.css) or one of the various extensions CSSes. You don't need to worry about these classes being unused, the high cachability of the CSS files will more than make up for the few extra bytes.

[2016-06-15 15:55] #3584 closed

[2016-06-15 17:08] Gregable commented on #2975
Sounds like a plan. Will allow them on amp docs and strip them in the cache.

[2016-06-15 17:11] Gregable commented on #2975
I'll add one additional tiny constraint just to be explicit. Since we'll be stripping out the tag, we won't allow space separated rel attributes for manifest, ie `<link rel=manifest href=...>` is fine. `<link rel="manifest lemur" href=...>` will not validate. You can always use two link tags with the same href.

[2016-06-15 17:27] cramforce commented on #2975
@Gregable Can you do the rewrite instead of strip I suggested above? We actually need to be able to find the manifest, because there is an AMP component that reads it at runtime.

[2016-06-15 17:42] mkhatib opened #3587 "Cleanup rendered templates during submissions in forms"
A follow up to #3583 specifically to [this part](https://github.com/ampproject/amphtml/pull/3583#discussion-diff-67188147)

[2016-06-15 17:55] Gregable commented on #2975
Sure, I missed that part of your comment.

[2016-06-15 18:16] mkhatib opened #3588 "Closure compiling renames external resources methods"
Reproduce:
* Build a local master with `gulp build --fortesting && gulp dist --fortesting`
* Run `gulp`
* Navigate to `ads.amp.min.html` example in the browser
* Scroll toward `Criteo` ad
* Notice the following error in the console.

[code]

This points to [this code](https://github.com/ampproject/amphtml/blob/master/ads/criteo.js#L25). Closure compiler seems to be renaming `Criteo.DisplayAd` to `

[2016-06-15 18:32] mkhatib opened #3589 "Appnexus Ads are broken"
App Nexus ads in amp seems to be broken since awhile with the following error:

[code]

![image](https://cloud.githubusercontent.com/assets/2647/16092402/94ed35f0-32ec-11e6-8fc8-190f31a6d297.png)

@mkendall07 any idea if you can take a look and see if you can fix this? You can reproduce this by running `gulp` and navigating to `ads.amp.max.html` example.

[2016-06-15 18:45] mkendall07 commented on #3589
Thanks for letting me know. I'll take a look

[2016-06-15 18:53] #3588 closed

[2016-06-15 19:26] erwinmombay opened #3592 "fix examples in ads"
![image](https://cloud.githubusercontent.com/assets/354746/16094289/62f71702-32f4-11e6-908b-e756dedef140.png)

reduce noise in errors for better release testing confidence

bad or missing attributes

[2016-06-15 19:34] erwinmombay commented on #3592
@ColombiaOnline can you provide us a divid to use for the example?

@nmochizuki is https://github.com/ampproject/amphtml/blame/master/examples/ads.amp.html#L474 supposed to be valid?

[2016-06-15 20:53] zhouyx opened #3594 "amp-sticky-ad needs a close button"
need a way to dismiss sticky ad
#2472

[2016-06-15 21:58] jridgewell opened #3596 "Carousel Slides Styling"
Small Fixit: Implement Carousel type="carousel" styling as a CSS class. See https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/scrollable-carousel.js#L72-L76

This can be accomplished with some CSS class and constant styles, instead of using the  `style` object (which is basically inline styles).

[2016-06-15 22:58] zhouyx opened #3599 "amp-sticky-ad display only after user stop scrolling (IOS)"
amp-sticky-ad should display after one viewport scroll. But now it display for a super short time and disappear then will only display again after scrolling is fully stopped.

[2016-06-15 23:27] ericlindley-g commented on #3599
@zhouyx Looks like this is currently being worked on, so slotting there, but feel free to re-slot if that's not the case

[2016-06-15 23:28] ericlindley-g commented on #3594
@zhouyx Looks like this is currently being worked on, so slotting there, but feel free to re-slot if that's not the case

[2016-06-15 23:29] rudygalfi commented on #3504
Can this be closed since #3471 has been merged?

[2016-06-15 23:30] ericlindley-g commented on #3592
@erwinmombay Slotting in backlog, but feel free to correct/update the milestone

[2016-06-15 23:31] ericlindley-g commented on #3586
@sriramkrish85  Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:32] ericlindley-g commented on #3585
@avimehta  Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:33] dvoytenko commented on #3585
Upgrading to current. @avimehta PTAL.

[2016-06-15 23:34] ericlindley-g commented on #3578
@Gregable  Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:36] ericlindley-g commented on #3564
@muxin @zhouyx  Slotting in Current, as it sounds like you're working on this now, but feel free to correct/update the milestone as needed

[2016-06-15 23:36] dvoytenko commented on #3578
I'd like to make a decision on this in this milestone.

[2016-06-15 23:36] ericlindley-g commented on #3559
@Gregable  Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:36] sriramkrish85 commented on #3586
@juliantoledo could you give me a link to an example page?
You could use this to deploy AMP on a cloud and share the link.

[2016-06-15 23:37] ericlindley-g commented on #3523
@erwinmombay   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:37] #3504 closed

[2016-06-15 23:38] ericlindley-g commented on #3521
@lannka   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:38] nbeloglazov commented on #3578
In our case we use svg as drop-in replacement for image icons as svg scale better. So they're pretty independent of the rest of the page and can be easily added/removed. Refactoring all styles to classes would be pretty painful indeed.

[2016-06-15 23:38] ericlindley-g commented on #3519
@jridgewell @mkhatib @cramforce   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:39] ericlindley-g commented on #3516
@erwinmombay   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:39] ericlindley-g commented on #3510
@Gregable  Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:42] mkhatib commented on #3586
@sriramkrish85 this could be also related to #3084

[2016-06-15 23:42] ericlindley-g commented on #3501
@cramforce Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:43] ericlindley-g commented on #3495
@avimehta   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:44] ericlindley-g commented on #3481
@dvoytenko   Slotting in current, as it looks like you're working on this, but feel free to correct/update the milestone as needed

[2016-06-15 23:44] ericlindley-g commented on #3461
@jridgewell   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:46] ericlindley-g commented on #3460
@Gregable   Slotting in backlog, but feel free to correct/update the milestone as needed

[2016-06-15 23:48] rudygalfi commented on #3169
@mkhatib Any updates on this? If not a priority, can you change milestone?

[2016-06-15 23:49] dvoytenko commented on #3559
I'll upgrade to current since the component is otherwise ready, I believe.

[2016-06-15 23:49] rudygalfi commented on #1297
@avimehta Can you confirm that #3512 will close this out?

[2016-06-15 23:50] mkhatib commented on #3169
@muxin have you made any progress on this?

[2016-06-15 23:51] rudygalfi commented on #2892
This hasn't been touched in awhile. Can we move to "Next" or "Backlog" milestone?

[2016-06-15 23:53] rudygalfi commented on #3433
Did #3435 and #3439 completely resolve this, or still more to do? Is Current still a good milestone?

[2016-06-15 23:54] ericlindley-g commented on #2622
@sriramkrish85 Haven't seen updates for this, so bumping this back to backlog, but please feel free to update/correct as needed

[2016-06-15 23:56] #3366 closed

[2016-06-15 23:58] Gregable commented on #3578
Validation is trivial either way. If we don't change the validation rules, we should update the spec document.

There are plenty of html generators that generate snippets with inline styles for convenience. The same argument could also be made regarding html generated by any such tool. I don't mind allowing this, but it's definitely a pro: developer convenience, con: user experience.

[2016-06-16 00:00] Gregable commented on #3559
Ah, I hadn't seen this one yet. Documentation [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-fx-flying-carpet/amp-fx-flying-carpet.md) it seems.

[2016-06-16 00:11] erwinmombay commented on #3433
not yet, theres some internal work left to be done to put in the percentage when we transition from opt-in to percentage and change of percentage value.

[2016-06-16 00:37] rajkumarsrk opened #3602 "amp-carousel: Scrolling on carousel is not smooth"
Scrolling on amp-carousel is not smooth

Steps to reproduce:
1. Load [eBay AMP](https://cdn.ampproject.org/c/m.ebay.com/sch/amp/Camera-Drones/179697/bn_89951/i.html) on Android chrome browser
2. Try to scroll through any of the following modules which uses amp-carousel
    a) Shop by brand
    b) Save on Camera Drones
    c) Sponsored listings

This is happening on all mobile browsers
AMP version:

[2016-06-16 00:54] rajkumarsrk commented on #1298
@dvoytenko In that case will attribute "track" will be whitelisted from the AMP validation? or can we go with "data-track"

[2016-06-16 01:13] dvoytenko commented on #1298
Yes, I'd prefer we whitelist `track` for validation. But first let's confirm a more complete format so that we can make this decision easier. @avimehta could you please summarize this solution?

[2016-06-16 02:01] erwinmombay opened #3604 "no `value` declaration in curve.js"
https://github.com/ampproject/amphtml/blob/master/src/curve.js#L158, only value declaration in this function is a const in a for loop here https://github.com/ampproject/amphtml/blob/master/src/curve.js#L139 which is locally scoped to the for loop

[2016-06-16 05:08] bansalUdit commented on #3584
thanks @jridgewell

[2016-06-16 08:59] sidkshatriya opened #3609 "[Validator feature tests] Typo in mandatory_dimensions.html"
There is a very trivial issue in:
https://github.com/ampproject/amphtml/blob/e1aa24df8432963423ee6cec1ce4d57529767e6e/validator/testdata/feature_tests/mandatory_dimensions.html#L127

[code]

The closing tag should be `</amp-anim>` and not `</amp-anum>` (spelling issue)

[2016-06-16 11:47] juliantoledo commented on #3586
Hi @sriramkrish85, I am staging it here:
https://abe-stage.firebaseapp.com/components/amp-access/
That page keeps the the "components" section expanded and you can see two images missing for the experimental icons until you colapse/reopen the section or you change the size of the browser window.

[2016-06-16 14:59] cramforce commented on #3602
Noticed this yesterday as well. Pretty terrible.

@sriramkrish85 when does your work land? Can we merge this with a different bug?

[2016-06-16 16:04] cramforce opened #3610 "Implement retry logic for integration tests"
This is sad, because it increases test runtime, but likely needed.

Should be something like

`it.retry(2).`

[2016-06-16 16:04] dvoytenko commented on #3602
@sriramkrish85 Might be worth checking it our directly for non-iOS browsers since the scrollable will land there later.

[2016-06-16 16:10] erwinmombay commented on #3610
@cramforce isnt this already supported? in an `describe` or `it` block you can do `this.retries(4)` (w/o using arrow function)

[2016-06-16 16:11] cramforce commented on #3610
That might be all we need. Was going to to say: `or document how it works.`

[2016-06-16 16:11] cramforce commented on #3610
I think we might want to consider retries for all tests on saucelabs. How do people feel about that?

[2016-06-16 16:12] erwinmombay commented on #3610
@cramforce i asked this in the channel a month or so ago and people weren't turned off on the idea (especially with the tests that do network requests)

[2016-06-16 16:13] erwinmombay commented on #3610
if we need it to get tests green i'm all for it, there are other bottlenecks we can improve upon to make the travis runs a bit faster

[2016-06-16 16:17] cramforce opened #3611 "Flaky: Rendering of one ad with ad script"
We should consider deleting this test or the other one if we have sufficient confidence.

Or write a specialized test. Copying the doubleclick test is bad, because it makes network requests and thus is flaky.

[2016-06-16 16:18] cramforce opened #3612 "Flaky: Error: Timeout waiting for frame to load"
This poll times out
https://github.com/ampproject/amphtml/blob/master/test/integration/test-amp-ad-doubleclick-with-script.js#L72

This is very early in the test; before network requests are made. Could this hit the iframe creation bug @dvoytenko was mentioning a week or so ago?

[2016-06-16 16:18] dvoytenko commented on #3609
/to @powdercloud

[2016-06-16 16:19] cramforce opened #3613 "Fix SauceLabs tests in Edge"
See e.g. https://travis-ci.org/ampproject/amphtml/builds/137863931

They are currently being skipped, but should be unskipped.

[2016-06-16 16:23] cramforce opened #3615 "Safari: Rendering of one ad with ad script should create an iframe loaded with ad"
It might be possible to make this test more robust.

Test locally in Safari and try to repro. Probably flaky.

[2016-06-16 16:25] cramforce opened #3616 "Fix amp-ad tests to not make network requests to actual ads."
I believe we render a lot of a9 ads.

One way would be to use the fake type `_ping_`.

[2016-06-16 16:26] cramforce opened #3618 "Profile tests and make them go faster"
:)

[2016-06-16 16:27] cramforce opened #3619 "Fix all 404 in tests"
So that these warnings go away:

[code]

[2016-06-16 16:29] cramforce opened #3620 "Switch postMessage ping-pong tests to use fixture iframe."
In particular these files would be better loaded without a network request:
https://github.com/ampproject/amphtml/tree/master/test/fixtures/served

The existing fixture mechanism should enable that. It should become very easy to do the right thing in a test.

[2016-06-16 16:35] erwinmombay commented on #3619
ill take this

[2016-06-16 16:46] #3604 closed

[2016-06-16 17:07] lannka commented on #3610
Verified, mocha supports retry: https://mochajs.org/

[code]

I will add documentation to [DEVELOPING.md](https://github.com/ampproject/amphtml/blob/master/DEVELOPING.md#build--test). Sounds good?

[2016-06-16 17:21] lannka opened #3622 "Saucelab tests are flaky on Safari: Disconnected (1 times), because no message in 120000 ms"
Example failed builds:
https://travis-ci.org/ampproject/amphtml/builds/138137465
https://travis-ci.org/ampproject/amphtml/builds/137959604
https://travis-ci.org/ampproject/amphtml/builds/137964423

A potential fix can be found [here](http://stackoverflow.com/questions/24093155/karma-sauce-launcher-disconnects-every-test-run-resulting-in-failed-runs-with-ie)

[2016-06-16 17:42] dvoytenko commented on #3612
Which browser does it falke out on? I tried Chrome 51 and 52 - can't get it to flake out.

It doesn't sound like the same bug though. The bug I mentioned - the iframe contents were available, but `load` event didn't fire.

[2016-06-16 17:51] dvoytenko commented on #2749
/cc @erwinmombay @jridgewell we did this already, right?

[2016-06-16 18:07] nbeloglazov commented on #3578
btw, why style attributes are forbidden in HTML? Does it improve rendering performance when all styles are in one place in <head>?

[2016-06-16 18:12] zhouyx commented on #3611
We could definite delete the test with script included. But would the left test still makes net requests and it's still flaky?

[2016-06-16 18:15] cramforce commented on #3611
This test is inherently flaky, but very valuable. We will need to live with it.

[2016-06-16 18:15] zhouyx commented on #3611
Should I also do this?
not make network requests to actual ads  #3616

[2016-06-16 18:17] cramforce commented on #3611
@zhouyx That bug is about the unit test for ads. Feel free to take it.

[2016-06-16 18:19] zhouyx commented on #3611
So for integration test, we can't make a fake ad and will have to make network requests?

[2016-06-16 18:29] cramforce commented on #3611
@zhouyx This integration test is testing that actual ad rendering works. It must talk to doubleclick for that.

[2016-06-16 18:35] zhouyx commented on #3611
Got it.  Thanks ; )

[2016-06-16 18:38] sriramkrish85 commented on #3586
@juliantoledo Thanks for filing the bug!

@mkhatib , i guess this would also solve it not sure - #3444

[2016-06-16 18:48] sriramkrish85 commented on #3567
Toggle can't be used here - since the APIs are specifically for open and close - calling open twice should not close the sidebar.

[2016-06-16 20:02] avimehta commented on #3585
@BenDz Thanks for the bug report. I have mixed feelings about the bug described here.

`extraUrlParams` can be inserted at the beginning, middle or the end of the URL. If it is at the beginning of the URL, the starting character should be `?` and not `&`. In the middle and end, it should be `&`.

Making the `extraUrlParams` aware of the position where the insertion happens makes the code complicat

[2016-06-16 20:37] avimehta commented on #1297
Lets close this out. the unload trigger is left but I would like to do it a little thoughtfully so that this, #2487 and #2564 all get addressed at the same time.

[2016-06-16 20:49] rudygalfi commented on #3585
I agree. I think the value of extraUrlParams should be neither `?` nor `&`. The outer configuration should determine it based on where it's used.

@avimehta There's a "lazy" way to use extraUrlParams, though, which is to define the values but not specify a place in the hit request for the params to be ended. In this case, they are just tacked onto the end and must necessarily add `&`, right? (I'm

[2016-06-16 20:50] rudygalfi commented on #1297
Does unload trigger need its own issue?

[2016-06-16 20:51] rudygalfi commented on #1297
Or perhaps #2487 covers it?

[2016-06-16 22:24] powdercloud commented on #3609
Thank you @sidkshatriya. I'll take care of it, we change this particular file internally and push it out here, so could take a little while.

[2016-06-16 22:27] cramforce commented on #3610
Sounds good. Should we auto-retry all integration tests?

[2016-06-16 22:28] lannka commented on #3622
Found this one:
[Karma: Disconnected tests, particularly with Safari](https://support.saucelabs.com/customer/en/portal/articles/2440724-karma-disconnected-tests-particularly-with-safari) on SauceLabs's official website.

Seems to be a solution worth to try.

[2016-06-16 22:39] sriramkrish85 commented on #3350
I am starting to collect this list -
Posting URLs that would help with it.
https://www.w3.org/Style/Examples/007/fonts.en.html
http://www.upsdell.com/BrowserNews/res_fontsamp.htm
http://web.mit.edu/jmorzins/www/fonts.html
http://iosfonts.com/

I will build a table with these fonts in mind and share them soon.

[2016-06-16 23:10] #3611 closed

[2016-06-16 23:16] ericlindley-g commented on #3561
Looks like this is fixed, but temporarily putting in fixit in case there is more outstanding work

[2016-06-16 23:19] ericlindley-g commented on #3560
Whoops—didn't notice that you had modified the milestone, @cramforce. Pulling it back out

[2016-06-16 23:22] ericlindley-g commented on #3602
@sriramkrish85 — putting this in current, as I believe you're working on related items right now, but please re-slot/dedupe as necessary

[2016-06-16 23:26] erwinmombay commented on #2749
i can't remember, ill have to double check.

[2016-06-17 00:48] lannka commented on #3610
It might hide potential flaky bug. I think we should always try to fix flaky test first and Use retry as the last resort

[2016-06-17 01:14] cramforce commented on #3610
Absolutely!

On Thu, Jun 16, 2016 at 5:48 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-06-17 02:02] sriramkrish85 commented on #3350
@cramforce @JoeArizona @dvoytenko  - i created this JS bin that would tell what fonts are available on a device on a browser (when this page is loaded).
http://jsbin.com/koceci

I will use this and make a useful table and publish it soon.

[2016-06-17 02:49] JoeArizona commented on #3350
@sriramkrish85 Thank you! Is it using an OS heuristic to generate the list? It doesn't seem to be listing all the fonts actually installed on my machine (I have no idea how to make JS do that). For example, I have Open Sans, Roboto, Inconsolata, Source Code Pro, and Linux Libertine installed, among others, but they aren't listed. (Chrome 51 64-bit, Windows 10).

[2016-06-17 03:47] sriramkrish85 commented on #3350
@JoeArizona i hand curated the list from the sources i mentioned above, it would only show fonts that are available by default on your device (may be not all of them - but i think the list is pretty comprehensive). You can find the list here - https://gist.github.com/anonymous/019afa8f2a3a9aae458760e435ef63e1#file-index-html-L2297

[2016-06-17 06:24] BenDz commented on #3585
@avimehta Yes, our processing will work correctly with `&&`. I mainly wanted to get your point of view on it, not sure if we had to consider it as a bug.
If it is okay for you to keep this design, I would greatly appreciate if you could push it on your side.
Thanks!

[2016-06-17 08:32] juliantoledo commented on #3586
Now, the close icon image is missing and when I open the sidebar I get:
`base-element.js:585 Uncaught TypeError: this.c.scheduleLayout is not a functionJSCompiler_prototypeAlias.scheduleLayout @ base-element.js:585(anonymous function) @ amp-sidebar.js:153`
And when I close it:
`base-element.js:593 Uncaught TypeError: this.c.schedulePause is not a functionJSCompiler_prototypeAlias.schedulePause @ b

[2016-06-17 08:33] juliantoledo commented on #3084
Now at (https://abe-stage.firebaseapp.com/), the close icon image is missing and when I open the sidebar I get:
`base-element.js:585 Uncaught TypeError: this.c.scheduleLayout is not a functionJSCompiler_prototypeAlias.scheduleLayout @ base-element.js:585(anonymous function) @ amp-sidebar.js:153`
And when I close it:
`base-element.js:593 Uncaught TypeError: this.c.schedulePause is not a functionJSC

[2016-06-17 11:58] telmanik commented on #3553
It was a new feature by adsense. I was told there was a higher rate when it comes to the amount being earned.

[2016-06-17 16:09] sriramkrish85 commented on #3586
@cramforce looks like a compilation issue

[2016-06-17 16:13] ericlindley-g commented on #3586
FWIW: @kul3r4 was getting something similar for amp-live-list as well

[2016-06-17 16:37] cramforce commented on #3586
This is canary only. @erwinmombay has a fix.
@ericlindley-g Lets not put "Major breakages" into backlog :)

[2016-06-17 16:54] #1297 closed

[2016-06-17 17:00] cramforce commented on #3578
@nbeloglazov Reasons against style attribute

- Feasibility of using a CSP for styles without nonces (which can't be used in publicly cacheable docs)
- Can make doc very slow and bloated if overused
- No, good idea how to enforce limits of usage

Reasons pro:

- very convenient sometimes
- heavily used by SVG generation tools
- better semantic match for content dependent styles

[2016-06-17 17:06] cramforce commented on #3586
Fixed by #3628

[2016-06-17 17:40] Gregable commented on #3559
https://github.com/ampproject/amphtml/pull/3629 includes this. It'll be deployed soon.

[2016-06-17 18:21] rudygalfi commented on #2685
@avimehta Any updates on this?

[2016-06-17 19:01] erwinmombay opened #3632 "iframe_ is null in amp-ad in some instances"
[code]

[code]

[2016-06-17 19:01] erwinmombay commented on #3632
investigating if this bug is in prod or just canary

[2016-06-17 19:06] erwinmombay opened #3633 "unterminated regex group"
[code]

user agent: Mozilla/5.0 (Linux; Android 4.4.2; SM-G800F Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.81 Mobile Safari/537.36

page: https://cdn.ampproject.org/v/www.sport1.de/fussball/em/2016/06/em-2016-gruppe-b-england-zum-auftakt-nur-remis-gegen-russland.amp?amp_js_v=5

not sure if this error is valid or not, has low occurrence.

[2016-06-17 19:08] rudygalfi commented on #1298
@senthilp @rajkumarsrk Any interest in putting together a PR for this feature?

[2016-06-17 19:12] erwinmombay commented on #3633
/to @dvoytenko to determine if this is valid issue or not

[2016-06-17 19:13] erwinmombay commented on #3632
/to @zhouyx @cramforce

[2016-06-17 19:16] cramforce commented on #3632
I could see `.name` happening as a rare-ish race condition. How often do these occur?

[2016-06-17 19:17] erwinmombay commented on #3632
confirmed this issue is in prod

[2016-06-17 19:18] cramforce commented on #3632
Ah, can also see how `.style` would happen. These should be harmless, but lets fix!

[2016-06-17 19:23] erwinmombay opened #3634 "Cannot call method 'build' of undefined"
[code]

[2016-06-17 19:26] erwinmombay opened #3635 "srcset_ is null"
[code]

assigning to @dvoytenko for triage

[2016-06-17 19:29] erwinmombay opened #3636 "if localstorage does not exist, dont call getItem/setItem"
[code]

this should be in the storage-impl.js file

/to @dvoytenko for triage

[2016-06-17 19:30] senthilp commented on #1298
Yes that is the plan. We are waiting on @avimehta to finalize the format for the `track` attribute.

[2016-06-17 19:33] erwinmombay opened #3637 "accessing property on null"
[code]

[code]

will try and gather more info

[2016-06-17 19:33] mkhatib commented on #3101
Ok, so most tests should be mockable. The ones that @dvoytenko tests CORS stuff pointed to seems to be really testing a browser functionality rather than our implementation.

I suggest we drop these tests in favor for something that focus on testing the implementation, for example, instead of doing this:
[code]

We do something like this:
[code]

The other approach is what Malte and Dima suggested

[2016-06-17 19:36] erwinmombay commented on #3636
ill take this, related to https://github.com/ampproject/amphtml/issues/2759

[2016-06-17 19:42] mkendall07 commented on #3589
This is just an issue with the `ads.amp.html` page and the 2 different ways that AppNexus ads are loaded. Because the "simple" ads are loaded first, our global context doesn't have a reference to the `apntag` object. Really these 2 different ad types should never be mixed. I can fix it by switching the order of the ads loading or just remove the first 2 ad spots...

[2016-06-17 20:06] mkhatib commented on #3519
I think I might know why we couldn't reproduce this initially, this seems to trigger after a visibility state change - unfortunately it doesn't look like the logs can tell us what that transition was, so will have to experiment a bit and see which states transitions triggering this.

[2016-06-17 23:07] mkhatib commented on #3519
Tried to match the user agent as much as possible with a nexus 7 running android 5.1 and a document embedded in a webview, unfortunately was unable to trigger the stack overflow.

[2016-06-18 00:50] dvoytenko commented on #3633
I don't believe this is a real issue. This is very bizarre. It looks like JS hasn't fully arrived. I'll close, but let's reopen if continues.

[2016-06-18 00:50] #3633 closed

[2016-06-18 01:23] #3635 closed

[2016-06-18 01:27] dknecht opened #3649 "gulp dist fails"
Running `gulp dist` on OS X El Capitan I am failing here:

`Minifying amp-login-done-0.1.max.js
Command failed: java -jar -XX:+TieredCompilation build-system/runner/dist/runner.jar --flagfile="/var/folders/2h/9l7nysd16sq7dtr3gm9sbjfw0000gn/T/4be74401-f6ad-49d8-aac5-5801f2157587" --compilation_level=SIMPLE_OPTIMIZATIONS --assume_function_wrapper=true --language_in=ECMASCRIPT6 --language_out=ECMASCR

[2016-06-18 01:28] erwinmombay commented on #3649
@dknecht is that all of the error log? did you run `gulp build` before running `gulp dist` (unfortunately they have a dependency)

[2016-06-18 01:49] dknecht commented on #3649
No i didn't.   That makes sense.   What commands are you using before you push to cdn.amprojrect.org.  I can't seem to replicate.  I am seeing the start of v0.js on cdn.amproject.org `window.AMP_CONFIG={"canary":false,"amp-sidebar":1,"amp-social-share":1,"v":"011466016447690"};`

vs `gulp dist`

`window.AMP_CONFIG||(window.AMP_CONFIG={"canary":false});`

[2016-06-18 18:06] jaygray0919 commented on #2762
Please put me on your beta-test list when appropriate. We're holding off converting our blogs to a conventional AMP structure in favor of using the new AMP elements.

[2016-06-18 20:23] erwinmombay commented on #3649
i run:

[code]

[2016-06-18 20:39] ericlindley-g commented on #2762
Good timing—though the feature isn't 100% finished, we're hoping publishers can start testing the component. You shouldn't use amp-live-list in production until the component itself is officially pushed to prod (it won't work for any user not opted into the experiment), but it's available now as an experiment to gather feedback.

You can find documentation about how to implement `amp-live-list` [h

[2016-06-18 21:37] dknecht commented on #3649
Then does the google amp cache server add "window.AMP_CONFIG={"canary":true,"amp-sidebar":1,"amp-social-share":1,"v":"001466185787499"};" ?

[2016-06-18 23:13] erwinmombay commented on #3649
@dknecht our internal release process adds those in. (mostly just flags for any new component)

[2016-06-19 05:39] lukebjerring opened #3651 "amp-analytics config parser chokes on JS-escaped value"
[AmpAnalytics analytics]" "Analytics config could not be parsed. Is it in a valid JSON format?" SyntaxError: Unexpected token x in JSON at position 237(…)

## How do we reproduce the issue?
With this input:

[code]

## What browsers are affected?

Def Chrome, probably all browsers.

## Which AMP version is affected?

Powered by AMP ⚡ HTML – Version 1466016447690

[2016-06-19 06:03] #3634 closed

[2016-06-19 06:03] #3637 closed

[2016-06-19 06:17] erwinmombay commented on #3649
@dknecht closing. feel free to open if you have more questions :+1:

[2016-06-19 06:17] #3649 closed

[2016-06-19 13:07] SteinHDanCxense opened #3654 "Intent to implement: amp-analytics type: cxense"
We would like to contribute code to add support for Cxense Insight analytics to amp-analytics.

A pull request will be submitted shortly.

The CLA is already signed by me (stein.danielsen@cxense.com) on behalf of Cxense ASA

Best regards,
Stein H. Danielsen

[2016-06-19 13:08] jaygray0919 commented on #3554
Allow me to "review the bidding" so all information is one place.

There are three simple tests in this file: https://dl.dropboxusercontent.com/u/3094317/index_subset.html

Template 1 edits PubChem data to fit an items-based JSON structure. We simplified by removing PubChem classification labels "PropertyTable" and "Properties."
[code]
Template 2 follows Template 1 but uses original PubChem labels

[2016-06-20 14:38] ericlindley-g commented on #3233
@cramforce Is this ready for a PR, or are there any outstanding questions beforehand?

[2016-06-20 16:37] gkellogg commented on #3554
Seems like a reasonable direction. I'm happy to help fine-tune such a mechanism.

[2016-06-20 17:13] jridgewell commented on #3567
Pass the [second parameter](https://github.com/ampproject/amphtml/blob/master/src/style.js#L135) then.

[2016-06-20 17:44] jridgewell commented on #3559
@Gregable I don't see anything related to Flying Carpets in #3629.

[2016-06-20 17:47] #3585 closed

[2016-06-20 17:47] #3609 closed

[2016-06-20 17:50] dvoytenko commented on #3651
/to @avimehta

[2016-06-20 17:50] dvoytenko commented on #3654
/cc @avimehta

[2016-06-20 17:57] sriramkrish85 commented on #3567
@jridgewell
i don't see a big difference between toggle and setStyle/Styles , also toggle does not explicitly set display to block (probably not a big deal now). Why is it a compulsion to use this?

[2016-06-20 17:58] dvoytenko commented on #3101
The explicit goal here is to make sure that whatever invocations we do with XHR is equivalent and correct binding to the newer `fetch` protocol where we have to polyfill it. The initial goal was also to understand the fetch/CORS better. So, at this time, we can certainly switch to basic unit testing, imho. The only real goal is to ensure that XHR is correctly configured for any type of request. Th

[2016-06-20 17:59] cramforce commented on #3233
Can definitely move into a PR!

[2016-06-20 18:05] jridgewell commented on #3567
Just because we have a dedicated function to do it instead of having two separate ways to `display: none` (even if they are trivial).

[2016-06-20 18:13] dvoytenko commented on #3567
Partially why `toggle` exists is because we kept repeating the same error, by setting explicit `display: block`. This is indeed sometimes necessary, but most of time this is incorrect and the most appropriate step is to simply remove `display:none`, otherwise `display:block` often overwrites the original definition of `display:flex` and so on.

[2016-06-20 18:24] zhouyx commented on #3632
Here's what I understand, please correct me.
 `.style` will happen if `noContentHandler_()` gets called first.
`.name` will happen if `unlayoutCallback()` gets called first.
For the fix of `.style` `this.iframe_` is null before the the return of `layoutCallback()`, what should be returned?

[2016-06-20 18:25] mkhatib opened #3662 "Facebook resize test is broken locally"
[code]

@muxin was looking into this last week, just wanted to file this to keep track of it.

[2016-06-20 18:30] nbeloglazov commented on #3578
Can't you just calculate total size of style attributes in the doc?

I see the reasons behind cacheability, but I think for some cases like [a4a](https://github.com/ampproject/amphtml/issues/3133) it doesn't matter as ad css is not extracted/cached on AMP servers?

[2016-06-20 18:44] jridgewell commented on #3632
Both are happening because when `#noContentHandler` is called (which defers a mutation) then `#unlayoutCallback` is called (which unsets `#iframe`). The mutation will either try accessing `iframe.style` or `iframe.name` on the now `null` `#iframe` depending on whether is a fallback element or not.

[2016-06-20 18:56] avimehta commented on #3651
Tested this in Chrome and Firefox and it reproduces in both the browsers.

This is a weird error case. Officially, JSON RFC requires Unicode encoding. So the escape sequence should be `\u0027` or in this case, directly putting the `'` in the string is fine. Browsers however behave strangely for the config listed in the bug: `JSON.parse('{"title": "It\x27s not working..."}')` works without error. H

[2016-06-20 19:39] pdufour opened #3663 "Iframe resize height adjustment"
## Short description of your issue:

I may be missing something, but I don't understand why there is a limit around making an iframe height smaller. I have a legitimate case where I have created a responsive ad that needs to adjust height at a couple of breakpoints.

Source: https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L757

## How do we reproduce the issue?
- Cr

[2016-06-20 19:49] zhouyx commented on #3632
I could see that happening on `iframe.name`. But the mutation never try to access `iframe.style`. `iframe.style` is only been accessed in `layoutCallback()`

[2016-06-20 19:55] keithwrightbos opened #3665 "Intent to Implement: Anchor Destination Expand on Click"
## Description

Allow for expansion of anchor destination at the time of click to support adding click event information to the click string.  The click x and y position are routinely sent with ad clicks. Bundling view information from an iframe subscribing to the intersectionObserver API will also be useful.  Additionally allow for capturing post message based information to be included.
## Imple

[2016-06-20 19:57] Gregable commented on #3559
Good catch, looks like we messed up the commit, my bad. Johannes has a fix in https://github.com/ampproject/amphtml/pull/3664

[2016-06-20 20:00] jridgewell commented on #3632
Whoops, misread `this.element` for `this.iframe_`.

[2016-06-20 20:03] dvoytenko commented on #3432
De-dupping to #3554 since most of the discussion is taking place there.

[2016-06-20 20:03] #3432 closed

[2016-06-20 20:11] jridgewell commented on #3559
Thanks guys!

[2016-06-20 20:11] dvoytenko opened #3667 "Ensure that JSON-response XHR fetchers require correct Content-Type in the response"
It sounds like we do not currently check the response's content-type in `xhr-impl.js` before parsing the JSON. We should do it. But at this point, we need to be careful with publishers who may have not set it up correctly, so we may want to do it via an experiment and monitor errors.

[2016-06-20 20:17] rajkumarsrk opened #3668 "JS Parsing & initialization is taking more time which blocks amp-image"
JS Parsing & initialization is taking more time (approximately 250ms on desktop and 500ms to 700ms on mobile devices). And this delays the image downloads on amp-image tag(above the fold), addressing this would speed up the pages.

Steps to reproduce:
1) Load [eBay AMP](https://cdn.ampproject.org/c/m.ebay.com/sch/amp/Camera-Drones/179697/bn_89951/i.html) on chrome browser.
2) Have the network tab

[2016-06-20 20:40] dvoytenko commented on #3554
/cc @cramforce

Thanks, @jaygray0919 ! I'd like to clarify a few things to make sure I understand the need and a set of problems correctly.

First, it sounds like we have a bug that doesn't confirm the response content-type. That's a bad omission and we'll definitely address it (#3667). We'll wait a bit on fixing it before we understand if we make it serve the needs here better.

Second, your goal

[2016-06-20 20:59] #3559 closed

[2016-06-20 21:07] cramforce commented on #3668
This is, of course, to some extend working as intended, but we also really try to optimize this to be as short as possible.

I was playing with your example on my machine and was seeing better behavior. For this it is much better to use the Timeline view instead and activate network requests there (might not be in Stable yet).

[2016-06-20 22:22] erwinmombay opened #3673 "create markdown or variable list of z indexes"

[2016-06-20 22:40] avimehta commented on #3651
Forgot to add links to previous section. RFC section is here: https://tools.ietf.org/html/rfc7159#section-7

Also, http://www.json.org/ shows what all characters need to be escaped.

I am inclined to mark this as working as intended. Please reopen the issue and chime in if(and why) this doesn't work for you.

[2016-06-20 22:40] #3651 closed

[2016-06-20 22:52] avimehta commented on #1298
We could implement this in two ways.
  1. Prescribe only one attribute that can be specified by markup that `amp-analytics` reads and fills in.
  2. Read all the `data-` attributes on the clicked element and provide the values for substitution.

A solution like (2) allows one to have markup like this:

[code]

When the link is clicked, a request of format `http://example.com?ev=${event}&el=${event

[2016-06-20 23:03] cramforce opened #3674 "Document the DocumentState class"
It can be easily misused (confusing with viewer visibility state) and has no docs.

Maybe require whitelisting for usage?

[2016-06-20 23:06] cramforce commented on #3578
Alright. I'm not opposed to allowing style on SVG, because SVG is great and we want people to use it :)

[2016-06-20 23:06] rudygalfi commented on #1298
Looping in validator folks to help with design direction from validation point of view: cc @Gregable @powdercloud.

To summarize so far, it sounds like we won't go with

[code]

Instead, we'll use one or several attributes as @avimehta outlined. The decision point is whether to allow just one or many.

@avimehta, I'm assuming in your proposal (1) above, that would require something like

[code]

O

[2016-06-20 23:09] cramforce commented on #3665
I think this could be really useful for other use cases as well, such as cross-context conversion ID propagation which would be needed in many e-commerce use cases. CC @rudygalfi

One issue is that URL replacement can be async which would block `target=_blank` emulation with `window.open`. Should we limit expansion to values that are available synchronously?

[2016-06-20 23:16] Gregable commented on #1298
Preface: I'm not certain I follow this discussion completely. The `data-*` attributes are allowed by the validator universally on all tags already with any value, so if all you want is that the validator allows these, we're done already.

If on the other hand, you want to validate the specific attribs/values, then we will be removing allowed currently states from validation. Today, any combination

[2016-06-20 23:24] gigster99 commented on #3554
Some quick history with apologies if this is "old hat" to readers. The marriage between XML and HTML has always been problematic. RSS was among the first processors to display XML to a human reader. RDF/XML (and subsequently OWL) is the content structure many publishers use to apply controlled vocabularies to specify the meaning of and relationships among their content. But RDF/XML does not easily

[2016-06-20 23:28] rudygalfi commented on #1298
I think your first comment about `data-*` attributes is what I was wondering and good to know.

[2016-06-20 23:30] jaygray0919 commented on #3554
Some quick history with apologies if this is "old hat" to readers. The marriage between XML and HTML has always been problematic. RSS was among the first processors to display XML to a human reader. RDF/XML (and subsequently OWL) is the content structure many publishers use to apply controlled vocabularies to specify the meaning of and relationships among their content. But RDF/XML does not easily

[2016-06-20 23:38] cramforce opened #3675 "Facebook test still waits for FB code"
The one test that doesn't use a fake iframe still waits for onload of the iframe which depends on the external resource.

[2016-06-20 23:43] mkhatib commented on #3675
This is the resize test right? I filed #3662 this morning - @muxin was working on this, Yuxi let me know if you want me to take this over?

[2016-06-21 00:24] cramforce commented on #3675
Yep

[2016-06-21 04:56] #3654 closed

[2016-06-21 05:13] mkhatib commented on #3675
Closing this for #3662

[2016-06-21 05:13] #3675 closed

[2016-06-21 06:07] mkhatib opened #3685 "Consider removing videos/iframe-based-players on unlayout"
For those players that provide a way to seek programmatically we could store where the player is at before destroying the iframe/video and then restore the location of the player when re-layouting.

[2016-06-21 09:09] bansalUdit opened #3686 "Need to add external JavaScript or inline javascript"
I am creating a generic for my Static simple HTML page, How I can include external JavaScript or Inline functions on page?

[2016-06-21 14:30] keithwrightbos commented on #3665
Yes with the caveat that we are allowing for replacement of data received from async post message.  There are additional issues to consider:

1. How to handle later click listeners that may prevent navigation (i.e. a protection against accidental clicks).  We do not want to prevent later replacement should a non-prevented click occur.  I propose storing the original href in an attribute (i.e. data

[2016-06-21 14:45] cramforce commented on #3665
@keithwrightbos upon click, do you need to wait for that `postMessage` to arrive, or should it have arrived already? If we do need to wait for the async operation, this would be problematic due to the `window.open` limitations described above.

[2016-06-21 14:56] cramforce commented on #3686
This is not possible on AMP pages. You could look into `amp-iframe` or explain what you are actually trying to achieve, as there might be other options.

[2016-06-21 15:13] keithwrightbos commented on #3665
No, we do not need to wait.  Idea is that dependency has been sending post message in advance of possible click.

[2016-06-21 15:30] cramforce commented on #3665
@keithwrightbos Cool. Yeah. Then we just need to create a sync mode, where only substitutions that can be fulfilled immediately are performed.