[2019-06-27 17:06] zhouyx commented on #23071
cc @lannka @jeffkaufman

[2019-06-27 17:12] zhouyx opened #23072 "🌸 Cherry-pick request for #23071 into #22937 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23071 | #23069 | **Yes** | **Yes** | #22937 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteri

[2019-06-27 17:12] zhouyx commented on #23072
cc @jeffkaufman

[2019-06-27 17:15] #22990 closed

[2019-06-27 17:20] randomascii commented on #23033
I use Windows Live Writer to write my posts - always have - so I get whatever HTML quirks that it defaults to.

[2019-06-27 18:11] zhouyx commented on #23072
cc @sparhami

[2019-06-27 18:30] torch2424 commented on #22994
@hrkhal Thank you very much for finding this!

cc @zhouyx 😄

[2019-06-27 18:49] zhouyx commented on #15653
Hello @jeteve Thank you for your question.

AMP only provides a tool for publisher along with consent management platform and vendors to collect and maintain their user consent. As you mentioned, the support is provided via iframe. AMP helps store and pass consent information from the iframe. But it's up to the publisher or the CMP to provide IAB's granular support within the iframe.

We do have A

[2019-06-27 18:59] zhouyx commented on #23072
ping @dvoytenko and @mrjoro

[2019-06-27 19:00] westonruter commented on #23033
Please look at the code view of the editor and copy/paste the raw underlining `post_content` as saved in the database and share it here so we can try to reproduce the issue.

[2019-06-27 19:24] #6757 closed

[2019-06-27 19:43] zhouyx commented on #23017
@jonathantyng-amp do you have bandwidth on this? Thanks

[2019-06-27 19:45] torch2424 commented on #23036
@hrkhal Thank you very much for filing this issue! 😄

[2019-06-27 20:11] aghassemi opened #23076 "`element.getPlaceholder()` may return incorrect data."
It only looks for `placeholder` as the last child of the element but this is not correct, certain components that override `createPlaceholderCallback` may append other DOM later on making the `placeholder` not the last item.

This means depending on when `getPlaceholder` is called, it may or may not return the placeholder.

/cc @choumx I have a fix that I will send out later as part of a new loade

[2019-06-27 20:22] jridgewell commented on #23076
It's looking for a child that matches the predicate in reverse order. 😉

Is there are name that would make this more clear?

https://github.com/ampproject/amphtml/blob/master/src/dom.js#L366-L383

[2019-06-27 20:24] jonathantyng-amp commented on #23017
Discussed offline. What do you think @zikas

`$MATCH(str, regex, opt_index)`

Applies the [match function
](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/match) to the given `str` with the given `regex`.

Returns the matching group declared by `opt_index`, where `opt_index=0` indicates the full match. Defaults to 0.

E.g.
`$MATCH(test.123, test\.(\d+), 0)`

[2019-06-27 20:30] zikas commented on #23017
Sure this will work as long as it returns empty string/undefined/null if there's no match
so we could still use it like
`"cookieName": {
   "value":  $MATCH(invalid, test\.(\d+), 1)
 }
`

[2019-06-27 20:32] aghassemi commented on #23076
Oh that explains why changing it to use scoped selector made no difference.

Name is fine, it is me being stupid and not noticing the predicate callback.

[2019-06-27 20:32] #23076 closed

[2019-06-27 20:34] jridgewell commented on #23072
I approve.

[2019-06-27 21:12] mrjoro commented on #23072
@lannka/@zhouyx, can you reply to @sparhami's comment in the PR to be cherry-picked?

https://github.com/ampproject/amphtml/pull/23069#issuecomment-506511282

[2019-06-27 22:11] #17614 closed

[2019-06-27 22:13] dvoytenko commented on #22136
@choumx @sebastianbenz this has landed.

[2019-06-27 22:16] jpettitt opened #23081 "Support SwG text color in amp-subscriptions-google"
## Support SwG text color in amp-subscriptions-google

Add support for the smartbox text color option.

[2019-06-27 22:18] Stefany93 opened #23082 "AMP validation: The attribute '[type]' may not appear in tag 'INPUT [type=password]'."
## What's the issue?

AMP validation error `The attribute '[type]' may not appear in tag 'INPUT [type=password]'.`

## How do we reproduce the issue?

I am creating a show / hide password button and if I set the input type to `password`, AND add the `[type]` amp-bind attribute, the AMP validator starts screaming with the above-mentioned error. If I set the input type to text, it works fine.

Code:

[2019-06-27 22:27] caiotomazelli commented on #8929
This is awesome, thank you for your work on this long-awaited feature!
Any timeline on moving this out of experimental? I got more than a handful of partners waiting eagerly to use it!

[2019-06-27 22:33] #23070 closed

[2019-06-27 22:36] aghassemi commented on #8929
Credit goes to @cvializ , I just closed the issue 😆 . @cvializ can tell you about the timeline as well.

[2019-06-27 22:44] gmajoulet opened #23083 "🌸 Cherry-pick request for #23070 into #23073 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23070 | #23073 | **NO** | **YES** | #23047 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-06-27 23:12] #22966 closed

[2019-06-28 01:01] lannka commented on #23072
@sparhami I think you're on the right route, but just to double confirm because the situation a little bit special this time.

The ActiveView issue is in the release of 1906191709480, which is right now on prod for regular AMP and RC for amp4ads (that's the special part).

So we need to cherrypick on top of 1906191709480, and then promote to RC/canary. We will abandon the CL for regular AMP and su

[2019-06-28 05:01] sryze opened #23086 "The value passed to VARIANT() is not a valid experiment name"
## What's the issue?

When I load my page I see the following error:

[code]

I did not receive this error with previous experiments that had hyphens in names. It seems like a breaking change, no?

## How do we reproduce the issue?

1. Create an experiment with hyphens/dashes in name in Google Optimize (this step is probably not required)
2. Add it to the page
3. Visit the page and open dev tools

[2019-06-28 06:39] clodisewp opened #23087 "The height of a responsive amp-list does not change after the list refreshed?!!"
The problem is described in the title in the condition of manual load;

Thanks to @choumx, I got the right way to refresh the list. But the height doesn't change anyway.

[2019-06-28 06:49] vitsuchanek opened #23088 "Allow passing htmlFormat together with url parameter"
We would like to use AMP validator for validation of AMP4EMAIL. That is by calling https://validator.ampproject.org/#htmlFormat=AMP4EMAIL&url=xxx. However, if a query string contains a value of 'url' parameter, parameter 'htmlFormat' is ignored.

I checked AMP validator source codes a bit so I suppose this would represent a change in /validator/webui/@polymer/webui-mainpage/webui-mainpage.html. So

[2019-06-28 07:24] cramforce commented on #23083
Approved. I left a comment on the PR that might or might not be relevant. Let's definitely get this in if it fixes the example stories.

[2019-06-28 08:37] dianomi-mjs commented on #19951
Hi there

We are seeing some problems in our own metrics system which I've been investigating. We are counting the number of requests made for our ads and the numbers are an awful lot higher than in the previous system.

I've been trying to work out why. If you load this page and look at the network tab you can see many many requests coming though, especially if you for example drag the line that

[2019-06-28 08:44] dianomi-mjs commented on #19951
forgot the URL:

https://www.dianomi.com/mjs/amp/one.epl?smartad_id=5001

[2019-06-28 10:47] designgrill opened #23089 "amp-mustache strips off structured data tags (e.g. `meta`) and attributes e.g. `itemprop` from templates"
## What's the issue?

AMP supports Structured Data [including the use of meta tags](https://github.com/ampproject/amphtml/blob/5f75efe35b734a4fcf0884d373315de60cd42df9/examples/metadata-examples/recipe-microdata.amp.html#L94) in content. However, same meta tags get stripped off when you try to get them through `amp-mustache` templates.

## How do we reproduce the issue?
Please create an `amp-musta

[2019-06-28 12:21] deprantik opened #23090 "Amp audio analytics missing"
There is no documentation on amp-audio analytics. Please help me find it or built it!

[2019-06-28 13:17] merakmarey opened #23092 "AMP-Carousel - Unable to load image in gallery when the original img contains spaces"
Image show as missing on gallery mode if  file name is duplicated, even if path is different.

Image sources on carousel:

/i/images/4/image-1.jpg
/i/images/5/image-1.jpg

Error arrives when setting srcset attribute, the first image will be set to "/i/images/1/image-1.jpg 1x" while the second image "/i/images/2/image-1 - Copy.jpg 1x", rendering the second image missing.

Chrome and possibly all ot

[2019-06-28 14:06] cvializ commented on #8929
We're still reviewing it to make sure it's a great experience, so stay tuned while we work on that!

[2019-06-28 15:21] rsimha commented on #22637
Nice catch, @choumx. Fix in #23093

[2019-06-28 16:16] lannka opened #23094 "Duplicated ad request in amp-ad-custom extension"
Reported by Dianomi integration: "We are seeing some problems in our own metrics system which I've been investigating. We are counting the number of requests made for our ads and the numbers are an awful lot higher than in the previous system.

I've been trying to work out why. If you load this page and look at the network tab you can see many many requests coming though, especially if you for exa

[2019-06-28 16:17] lannka commented on #19951
thanks for reporting. issue tracked here: #23094
will have someone look at it ASAP.

[2019-06-28 16:36] #22612 closed

[2019-06-28 17:16] lannka commented on #22916
@gurodrigues this will need a thorough discussion in this I2I or a separate design doc to cover all the implementation details. I'm especially interested in the automating ad units part.

To avoid further back-n-forth here, we can connect on our [Slack channel](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#discussion-channels).

[2019-06-28 17:35] gurodrigues commented on #22916
Hi @lannka,

We are glad to hear this and we will do our best to implement this technology as soon as possible.

I just sign up on Slack and i will send you a private message there.

Thank you

[2019-06-28 17:56] sparhami commented on #23072
I'm not super familiar with the canary/rc process, but my understanding is that I cannot push different versions for inabox and amphtml for canary/rc. What you are saying is we should nuke the existing rc (for this week) and go back to a cherry pick for inabox, then go forward at some point to the existing rc + cherrypicks. This will delay the regular release by one week since we would not have an

[2019-06-28 17:59] #11165 closed

[2019-06-28 17:59] #13552 closed

[2019-06-28 17:59] zhouyx commented on #23072
@sparhami I believe we can skip the amp runtime canary/rc by directly changing the inabox_canary and Inabox_rc file. Let's talk offline.

[2019-06-28 18:49] choumx commented on #23087
amp-list has [specific resizing rules](https://amp.dev/documentation/components/amp-list#dynamic-resizing). Alternatively, you can add a `[height]` binding.

Please post usage questions on StackOverflow from now on. This repository is meant for reporting bugs and feature requests.

[2019-06-28 18:49] #23087 closed

[2019-06-28 19:19] #22770 closed

[2019-06-28 19:21] choumx commented on #23062
amp-script has a 150KB max total script size limit: https://github.com/ampproject/amphtml/blob/master/extensions/amp-script/amp-script.md#im-getting-a-size-exceeded-error

[2019-06-28 19:21] #23062 closed

[2019-06-28 19:24] choumx commented on #23020
I think you're right that there's no current mechanism that supports this use case. This would likely have to be implemented as a new extension, although I have some concerns about this:

I'm not sure how to do this while preserving layout stability. It may have to only operate on elements outside of current viewport.

[2019-06-28 19:26] choumx commented on #23024
@pbakaus Can we transfer this issue to @ampproject/docs?

[2019-06-28 19:29] choumx commented on #23088
validator.ampproject.org is meant as an ad hoc devtool. If you'd like validation as part of your dev pipeline, use the [amphtml-validator npm package](https://www.npmjs.com/package/amphtml-validator).

[2019-06-28 20:18] sparhami opened #23097 "Error coming from amp-accordion"
[code]

[code]

There are two different stack traces that I think these are the same issue, but I am not sure.

go/ampe/CP-WoIfG56zOPQ
go/ampe/CK_bk82bgs3HRg

[2019-06-28 20:29] sparhami commented on #23097
Also likely related:

[code]

go/ampe/CJi8jLXxhJ_v6gE

[2019-06-28 20:41] dvoytenko opened #23101 "Allow configured fetch calls to execute before the page is activated"

[2019-06-28 20:42] dvoytenko opened #23102 "Restore safe-prerendering mode in SwG"
Blocked on #23101.

To resolve, simply rollback #23103 once #23101 is fixed.

[2019-06-28 20:50] dvoytenko opened #23104 "🌸 Cherry-pick request for #23101 into #1906191709480 (PROD) and #1906272257090 (Canary)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23101 | #23103 | **YES** | **YES** | #1906191709480 |
| #23101 | #23103 | **NO** | **YES** | #1906272257090 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/

[2019-06-28 20:51] dvoytenko commented on #23104
/cc @jpettitt @ChrisAntaki

[2019-06-28 21:10] sparhami commented on #23092
Do you have an example page where this happens?

[2019-06-28 21:22] dvoytenko commented on #23101
Once this is fixed, it will unblock #23102.

[2019-06-28 21:34] mrjoro commented on #23104
Approved for cherry pick into prod and RC.

[2019-06-28 21:45] aghassemi opened #23108 "new loaders: move them out of v0"
We should be able to move majority of the new loader code to a new extensions and gets dynamically loaded. We may only need to keep the code that creates the container and decided whether the gray placeholder is needed in v0.

This is because new loaders don't show up for 0.6 seconds anyway, so if we dynamically load the extension and then adjust the start time of animation as `0.6 -  extension lo

[2019-06-28 22:29] merakmarey commented on #23092
Try this, let me know if doesn't work, since its a dev server
https://us.trapichero.com/a/wayne/pennsylvania/buy-or-sell/cells-and-accesories/safgasfgsfgsdgfs/1561593245-68.html

Thanks

Merak Marey
Sr. Software Engineer.
Miami. Florida. USA.LinkedIn : http://www.linkedin.com/in/merakmarey

    El viernes, 28 de junio de 2019 05:11:14 p. m. EDT, Sepand Parhami <notifications@github.com> escribió:

[2019-06-28 22:39] sparhami commented on #23092
Hmm, the problem seems to be the code doesn't play well with spaces in the filename currently. This works for `src`, but not `srcset`. We can fix this by simply using `src` if we never had a `srcset` to start with or uri-encoding any `src` we convert over to a `srcset`.

[2019-06-28 23:13] merakmarey commented on #23092
I don't think that is the main issue. From my point of view the problem is this...why for the second srcset the "- Copy" is added, when the src uri is different from the first one?

[2019-06-28 23:19] sparhami commented on #23092
I'm not sure how you are generating the page, but the page source, as received from the server has:

[code]

The src is then translated into a srcset, which fails to load due to the space. The adding of "- Copy" is prior to the AMP page being loaded, so you may want to look into how the page itself is generated.

As far as AMP itself is concerned, failing to load an image with a space in the name

[2019-06-28 23:48] #23094 closed

[2019-06-28 23:56] sparhami commented on #23047
Quick update, due to potential issues with the current canary, the 1% has been restored to `1906282130140`, the current production.

[2019-06-29 00:05] lannka commented on #13287
Pls clean up the feature flag if this is fully launched.

[2019-06-29 00:06] lannka commented on #20394
Seems the feature has been launched for a while. Mind clean up the flag?

[2019-06-29 08:37] dianomi-mjs commented on #23094
Thanks - I presume I have to wait a while to test this for myself. Will this address the multiple requests before the layout changes?

I see 4 requests for the JSON on https://www.dianomi.com/mjs/amp/one.epl?smartad_id=5001 without resizing the window

[2019-06-29 14:27] merakmarey commented on #23092
I see what you mean now, yes, the page is generating the " - Copy". So, only issue would be the treatment of the space in filling the srcset attribute.

[2019-06-29 16:01] glevitzky commented on #23094
Unfortunately, yes, you'll need to wait to test this, unless you're willing to set up a local AMP build and test against that.

With my fix there will only be the one request.

[2019-06-29 18:49] lannka commented on #23094
@dianomi-mjs you can use our nightly build to test it now.

[code]

Note that the link right now redirects because your page is invalid AMP (missing amp-form script). It should work after a fix. Let me know if you see problem.

[2019-06-30 15:52] ghost opened #23116 "Set some standards in the amp-pinterest extension"
I find there are quite a few bugs in the amp-pinterest module. I would like to suggest some ideas of fixing them.

## 1. CSS font-size

When testing text in Lighthouse it suggests using `16px` text. I usually set my text to `1rem` instead. With this module it's setting the font-size to 9px in many cases. This is way too small and I can't even read the word 'save'

![1](https://user-images.githubus

[2019-06-30 16:05] ayumihamsaki opened #23117 "Request to remove the !important in amp-consent extension"
I want to create the following:

![3](https://user-images.githubusercontent.com/17784082/60399168-958d3f00-9b58-11e9-9e4c-ba64fc9a33c4.png)

The problem is that the code in the amp-consent is the following:

[code]

The issue is the `overflow` line and I want to know why you have decided to set it to `!important`

To fix the issue I have to add this code:

[code]

The issue I have is that the vali

[2019-06-30 21:25] ayumihamsaki opened #23118 "Add WAI-ARIA to amp-social-share extension"
Testing the `amp-social-share` extension, it appears that the WAI-ARIA is incomplete and you are missing some important coding.

Currently it contains:

- tabindex="0"
- role="button"

But it doesn't contain:

- aria-pressed="false"
- aria-pressed="true"

Say for example a blind person clicks on the button, the Screen Reader will not be able to confirm and tell them that they have clicked the butt

[2019-06-30 22:12] aghassemi commented on #23118
Hi @ayumihamsaki ,

`aria-pressed` is only applicable for toggle buttons. Button and links that perform an action such as social share should not have those attributes.

[2019-06-30 22:30] virgiltu opened #23119 "Amp Forum"
For the log of god, can we please get a from or maybe a link to the google forum that matches amp. Also would be nice to have something like codepen where people can put their work. If i build a nice amp module i can showcase it so other can use it. And also a god dam search on the documentation. I know this was requested.

These have to be the top must have to have this more popular. I know so ma

[2019-06-30 22:36] virgiltu opened #23120 "amp-selector: Lazy-loading hidden resources"
So i realized that I can make a tab system using the  amp-selector component. But what I am looking to do is to have a tab with 5 tabs that are lazy loaded. I do not want to load all the tabs at once since they will all have a lot of pictures and information. Is that something we have or can we get that.

[2019-06-30 22:37] ayumihamsaki commented on #23118
ok thanks.

[2019-06-30 22:37] #23118 closed

[2019-07-01 05:34] dackmin opened #23121 "Redirected inside amp-access-poool iframe on click events"
## What's the issue?

Actions inside `amp-access-poool` component that usually needs a redirect are redirected inside its iframe.

## How do we reproduce the issue?

https://jsbin.com/tuyerex/edit?html,output

Click on  "Je m'abonne" inside the component and be redirected inside the iframe

## What browsers are affected?

All

## Which AMP version is affected?

1906282130140

[2019-07-01 05:41] anuragphadke opened #23123 "rel="preload" does not support fonts in stylesheet"
I am using Google Fonts to load Open Sans family of fonts.

## What's the issue?
[code]
rel="preload" does not load the font.

[code]
the above line loads the font.
However, this affects PageSpeedInsights score with the message "Eliminate render blocking CSS"

## How do we reproduce the issue?

Gist: https://gist.github.com/anuragphadke/a45d4bbc64371b3604e24cfa7bd28fe0
## What browsers are affecte

[2019-07-01 06:03] vineeth22 commented on #20070
@zhouyx Can I take this up?

[2019-07-01 08:15] cramforce commented on #23047
Are we shipping in 4th of July week?

[2019-07-01 10:13] akash4223 opened #23125 "amp facebook comment is not working on dynamic page."
In amp facebook comment component we have a field called data-href. This is where the absolute url of page where comments go has to be entered. But when a page is dynamic and the url is dynamic its becomes very difficult to do so.

If one is not using AMP framework it is actually very easy to do. Just leave the data-href field empty and it will automatically take the current url of the page, but w

[2019-07-01 10:33] hrkhal commented on #23036
@torch2424 No worries. It should be noted we also found this happening in ios7 so it may be safe to assume it's happening in all versions of ios8 and under.

[2019-07-01 11:22] ivanionut opened #23126 "<amp-auto-ads>: unable to fulfill ad strategy (since Friday)"
Hi,
<amp-auto-ads> no longer works on (all pages) my website since Friday.

I activated debugging (#development=1) and in the console I found:
`
No placements in config
log.js:184 unable to fulfill ad strategy
`

Some pages of my site:

https://www.petyoo.it/blog/cani/omega-6.amp
https://www.petyoo.it/blog/cani/rimedi-casalinghi-prurito-allergie.amp
https://www.petyoo.it/blog/cani/5-oli-essenziali

[2019-07-01 12:38] nicjansma commented on #18976
Response from the Akamai Bot Manager team: Current Akamai customers can exclude the injection of BMP JavaScript on AMP pages by adding an exclusion path in the injection rules.

Akamai is exploring other options of excluding BMP JavaScript from AMP pages automatically

[2019-07-01 12:52] lvberkum opened #23128 "Amp-carousel sometimes won't load images."
## What's the issue?

Amp-carousel sometimes won't load images if a page is called without specifying its (default) filename.

## How do we reproduce the issue?

https://www.homes-in-provence.com/ => does not always load carousel images. Always loads carousel HTML though. Images won't load 2 out of 10 reloads on average.

https://www.homes-in-provence.com/index.html => always loads carousel images

[2019-07-01 15:31] cnabar commented on #18976
Sounds good - thanks for the update @nicjansma

[2019-07-01 16:32] lannka opened #23131 "AdSense amp-auto-ads stopped working"
Reported by an AdSense auto ads user:

[2019-07-01 16:35] lannka commented on #23131
The first look is the response does not contain `placements` object, meaning no ads are returned from AdSense server. So it might be an AdSense server side regression or a mis-configuration.

[code]

Then also found that there are recent code changes in amp-auto-ads extension: #22956

[2019-07-01 16:47] lannka commented on #23131
Then also found that there are recent code changes in amp-auto-ads extension: #22818 . This change entered production on 6/25, which does not align with the timeline here (6/28).

/cc @aishwaryavora

[2019-07-01 16:51] lannka commented on #23131
Another AdSense customer experienced the same issue and reported on AdSense forum: https://support.google.com/adsense/thread/8944708?msgid=8944708

Quote from the previous reporter:

[2019-07-01 17:02] dbarcosb opened #23133 "amp-bind: Add support for Math.pow"
This is a request to add [pow() method](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/pow) to the [whitelisted Math JS functions](https://amp.dev/documentation/components/amp-bind#white-listed-functions).

Currently '^' or '**' are not working to perform the power of two numbers. If there is a workaround for this, happy to know about it. Thank you!

[2019-07-01 17:18] jaygray0919 opened #23134 "amp-list performance"
a recent change to `amp-list` has improved the performance of a look-up significantly. Previously, page loads were very slow for a list with 10,000 items. Now the lookup has very little delay.

[2019-07-01 17:32] cvializ commented on #23029
When you click `check`, the blur event is triggered on the input, so this is expected behavior for a blur condition.

We can leave this open as a feature request to dedupe blurs that fire as a result of clicking on the submit button

[2019-07-01 17:32] choumx commented on #23134
Glad to hear it! Does your sample page use amp-bind? If so, it may be #22938.

[2019-07-01 17:37] choumx commented on #23082
If the format of the AMP document is AMP4EMAIL, this is working as intended. We currently disallow `input[type=password]` as well as changing `input[type]` at runtime to prevent potential spam/cloaking.

@Stefany93 Can you share the full page HTML?

[2019-07-01 17:38] zhouyx commented on #20070
@vineeth22 That would be great!! I added you as assignee. Let me know if you want me to list all the steps so that you can follow. Or you have figured the changes out : ) Thank you!

[2019-07-01 17:42] choumx commented on #23119
Sorry that you're having difficulty with our documentation. Are there specific queries or problem areas you noticed?

Also, have you tried StackOverflow or [other discussion channels](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#discussion-channels)?

[2019-07-01 17:44] choumx commented on #23120
AMP should do this automatically e.g. `amp-img` that are hidden won't be loaded until they are visible.

If you're seeing otherwise, can you share a sample page?

[2019-07-01 17:59] choumx commented on #23123
This isn't AMP specific. `link[rel=preload]` is a supplementary browser hint and doesn't replace `link[rel=stylesheet]` for your font. Use [font-display](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display) to reduce render-blocking time.

[2019-07-01 17:59] #23123 closed

[2019-07-01 18:38] virgiltu commented on #23119
So in general as I am working on a big project I find myself looking for information. The back end is laravel so I can go to laravel.com and just search the documentation. In seconds I can find what I need and keep going to the next task. If I have an issue I can go to laracast and pay for the tutorials or open a forum post with an issue.   Than I go back to amp and I can’t find something, so i ha

[2019-07-01 19:00] ivanionut commented on #23131
Hi @lannka
yes, I reported the problem on the adsense forum...

but also here: https://github.com/ampproject/amphtml/issues/23126

[2019-07-01 19:33] ivanionut commented on #23126
@choumx any news? Thanks! 👍

[2019-07-01 19:33] virgiltu commented on #23120
Yep so I use that, but I wanted to lazy load the entire tab. I guess since it will be products, there won’t be much text.

[2019-07-01 20:06] lannka commented on #23126
dup with #23131

[2019-07-01 20:06] #23126 closed

[2019-07-01 20:44] aghassemi opened #23140 "Create lint rule and babel optimizer for the new `svgFor` template literal"
Similar to `htmlFor`, https://github.com/ampproject/amphtml/pull/23026 has added an `svgFor` method which uses the right namespace for svg templating. However similar to `htmlFor` it needs a lint rule to prevent use of dynamic template which is not supported and optimizations for single pass.

Thanks @alanorozco for taking this on.

[2019-07-01 21:00] choumx commented on #23120
You could do that by using an `amp-list` to wrap the contents of each hidden tab.

[2019-07-01 21:09] jaygray0919 commented on #23134
just plain `amp-list`. In the following case we fire 10,000 individual "gets".

`<amp-list class="m1" width="auto" height="50" layout="fixed-height" src="https://m.wikidata.org/wiki/Special:EntityData/Q35120.json" items="entities.Q35120.sitelinks.eswiki" single-item="url"><template type="amp-mustache"><p><span>_result_</span><span>{{url}}</span></p></template><div fallback><p>Missing URL</p></div>

[2019-07-01 21:17] choumx commented on #23134
What version of AMP are you using? It will be printed in dev console.

[2019-07-01 21:30] Stefany93 commented on #23082
Sure! https://codepen.io/Stefany93/pen/KjyryP?editors=1000 I made a button to hide / show password field.
I hope you won't disallow it, heh. The `type` is initially `text` which is actually better user experience than being initially `password` but I was wondering if it is a bug. It is working fine. Just now `password` to `text`

[2019-07-01 21:36] Stefany93 commented on #22520
^^ Thank you @newmuis

[2019-07-01 21:40] choumx commented on #23082
Ok, this is just an inconsistency for the AMP format. Thanks for the report.

[2019-07-01 23:08] westonruter opened #23144 "amp-soundcloud should support responsive layout"
Given an example Soundcloud track:

https://soundcloud.com/jack-villano-villano/mozart-requiem-in-d-minor

When adding this as a Soundcloud embed block in WordPress, the output looks like the following:

[code]

In the Twenty Nineteen theme (and other WordPress themes) this is rendered responsively.

At 640px screen width:

![image](https://user-images.githubusercontent.com/134745/60471320-1318840

[2019-07-01 23:18] jaswrks opened #23146 "Support Beacon API in <amp-analytics> Gtag"
It is not currently possible to set the transport type to `beacon` when using Gtag for Google Analytics. Doing so returns an AMP validation error, and also triggers 405 errors (unsupported request method) on some DoubleClick requests used by GA.

I'd like to get this working with Gtag in AMP.

[code]

[2019-07-02 00:14] zhouyx commented on #17347
Closing due the no new occurrence.

[2019-07-02 00:14] #17347 closed

[2019-07-02 02:01] caraya commented on #14425
@aghassemi  OK, whatever.

It says it can't be done but not how. I'll keep looking and work trying to figure out how.

@westonruter This is not for PHP or WordPress.

[2019-07-02 02:03] zhouyx commented on #20939
Track in #20120. Close the issue

[2019-07-02 02:03] #20939 closed

[2019-07-02 02:16] zhouyx commented on #22733
cc @ampproject/wg-ads Does this mean that FIE will have its own instance of ampdoc in the future?

[2019-07-02 02:19] zhouyx commented on #23146
@jaswrks thank you for reporting the issue. I'd like to understand why would doing so lead to validation error. Is there a demo page or a demo config that you can share.
cc @zikas on the gtag support for transport beacon.

[2019-07-02 02:21] zhouyx commented on #23144
to @ampproject/wg-ui-and-a11y

[2019-07-02 02:24] zhouyx commented on #23090
Hello @deprantik, thank you for opening the issue. We currently don't have analytics support for amp-audio.
There's a GFI opened #20070, where we will be adding play/pause trigger support. Please let us know what else support are you thinking. Thank you.

[2019-07-02 09:07] vineeth22 commented on #20070
Great! It would be helpful if you could list the steps. Thank you!

[2019-07-02 09:19] MaximePlancke commented on #17742
Hi @zhouyx @torch2424

I have a quick question. We need the URL of the website where we are integrated and it has to be dynamic (We can't just pass it through string in the JSON). Would it be possible to use one of your pre-built variables: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#amp-document-hostname inside the JSON passed through amp-consent?

Thank you in

[2019-07-02 11:26] jaygray0919 commented on #23134
version `1906282130140`

[2019-07-02 11:32] Binipro commented on #21783
@aghassemi

Please let me know as soon as this issue is fixed!

Meanwhile I want to add a point to this issue.
As most of the ads on mobile has a "learn more" link on the left corner it collapses with the "X" button, it would be nice if the button could be outside of the tech area.

Screenshot below:

![image](https://user-images.githubusercontent.com/10253396/60509187-9e068680-9ccc-11e9-9315-5657

[2019-07-02 14:41] Stefany93 commented on #23082
@choumx thank you

[2019-07-02 14:57] anuragphadke commented on #23123
@choumx fair point, however,
[code]
doesn't load the font at all. Shouldn't the above value load + render the font eventually?

[2019-07-02 15:01] kristoferbaxter commented on #23123
@anuragphadke Unfortunately not. Here's an article describing the functionality of `rel=preload`.

https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content

Preload doesn't indicate to the user-agent the resource should be leveraged, just requested.

[2019-07-02 15:11] anuragphadke opened #23151 "Automatically add @font-face for custom whitelisted Google fonts via AMP CDN."
Google Fonts and certain whitelisted fonts are extremely popular and widely used. There are two main ways to load them:

1. via css "<link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans:400,700&amp;display=swap" rel="stylesheet"/>"
2. via @font-face

The CSS option is render blocking and causes slowness. The @font-face option is the preferred and super-fast. However, using @font-face

[2019-07-02 16:33] morsssss commented on #14788
That would help! Though sadly most developers won't notice the console warning.

I guess it would help if we could also document the problem, pinpointing the circumstances under which it happens. Developers will still be surprised much of the time, but we'll do what we can!

[2019-07-02 16:35] justforfun commented on #19019
We keep on having problems with the firing of the additional events for SwG.
If you look at the reference:
https://amp.dev/documentation/components/amp-subscriptions#analytics
for example given what reported in the document:

_subscriptions-action-ActionName-started
Triggered when the execution of action ActionName starts_

 we should expect the corresponding SwG subscribe event  to be fired:
```s

[2019-07-02 16:42] prateekbh commented on #19019
cc: // @jpettitt

[2019-07-02 17:27] ericandrewlewis opened #23154 "Introduce new tick event cls (Cumulative Layout Shift)"
## Describe the new feature or change to an existing feature you'd like to see

We introduced support for viewers to read a new tick event `lj` (layout jank) in #21060. Layout jank was a new, experimental metric behind a Chrome Origin Trial. Since then, the metric has matured a bit. It is now a [draft](https://wicg.github.io/layout-instability) under the Web Platform Incubator Community group, has

[2019-07-02 17:32] zhouyx commented on #1899
cc @jeffjose

[2019-07-02 17:37] lannka commented on #8871
Closing now. Feel free to reopen when it is more actionable.

[2019-07-02 17:37] #8871 closed

[2019-07-02 17:44] lannka commented on #2737
Closing it for now. So far hasn't seen this requirements pop up.

[2019-07-02 17:44] #2737 closed

[2019-07-02 17:46] zhouyx commented on #8403
So this is not to track the scroll within one element, but the scroll of part of the document.
If we are going to track scroll of a certain area of the document, I agree that visibility trigger may be a better feature to use.
Closing the issue for now. Feel free to reopen if we still see the requirement. Thank you

[2019-07-02 17:46] #8403 closed

[2019-07-02 17:49] lannka commented on #3265
we already supports a window.context API to track view-ability: https://github.com/ampproject/amphtml/blob/master/ads/README.md#ad-viewability

[2019-07-02 17:49] #3265 closed

[2019-07-02 17:50] zhouyx commented on #7508
Any update here? Thanks

[2019-07-02 17:52] zhouyx commented on #7222
The incoming linker param will be removed from url once it has been read by AMP. Closing the issue

[2019-07-02 17:52] #7222 closed

[2019-07-02 17:54] zhouyx commented on #10891
This is a bigger of a change than I expected. The most difficult part is to handle helper function where there's no instance of element.  cc @jeffjose on the prioritization.

[2019-07-02 17:56] zhouyx commented on #5402
Duplicate of #5402. Closing

[2019-07-02 17:56] #5402 closed

[2019-07-02 18:02] calebcordry commented on #22042
@lannka shall we close this issue, or are you using it to track the default behavior change.

[2019-07-02 18:08] zhouyx commented on #10599
It would be great to enable these optimizations. However there are two issues that may be difficult to solve. 1. Multiple analytics components on the page. It may or may not worth it to provide this global service to track all analytics config. 2. Component can choose to inject amp-analytics to the page which requires a listener to the service instead of an one time check

[2019-07-02 18:08] gmajoulet opened #23155 "Do not strip the "format-detection" meta tag in the AMP Cache transformations"
## Describe the new feature or change to an existing feature you'd like to see

Whitelist the "format-detection" meta tag so it is not removed by AMP caches.

## Additional context

Code numbers such as video games cheat codes can be interpreted as phone numbers by iOS. Numbers get different native iOS styles and unintended behaviors (like triggering the phone app on tap).

Using the `<meta name="

[2019-07-02 18:15] zhouyx commented on #11679
We do get this request from story analytics trigger and visibility trigger as well. The default value maybe confusing because the behavior is different across different triggers. To be clear I'd still like us to provide the config within trigger specs.

[2019-07-02 18:16] calebcordry commented on #21797
Closing this as it seems to be working as expected. @mehulchauhan let us know if there is still an issue.

[2019-07-02 18:16] #21797 closed

[2019-07-02 18:17] zhouyx commented on #11436
Based on previous discussion. We decide NOT to ship the iframe transport feature except to A4A. Closing the issue.

[2019-07-02 18:17] #11436 closed

[2019-07-02 18:19] westonruter commented on #21955
@calebcordry I don't think there is anything I can do here. This seems to be an AdSense integration issue.

[2019-07-02 18:19] lannka commented on #6676
Don't see that many of errors anymore. https://pantheon.corp.google.com/errors?time=P30D&filter=text:The%20requested%20operation%20is%20unsupported&order=COUNT_DESC&resolution=OPEN&resolution=ACKNOWLEDGED&project=amp-error-reporting&authuser=0

[2019-07-02 18:19] #6676 closed

[2019-07-02 18:21] zhouyx commented on #11317
@cvializ We'd need your help to understand the current implementation. Do you still think that we need to buffer the events? And if so do you find this to be a good fixit week candidate?

[2019-07-02 18:21] lannka commented on #6696
Seems to be obsolete. Fake impl is working fine now.

[2019-07-02 18:21] #6696 closed

[2019-07-02 18:27] calebcordry commented on #21955
@westonruter Sounds good, I will move it to our "to investigate" bin.

[2019-07-02 18:29] zhouyx commented on #12411
Looks like the feature has been shipped. @warrengm Do you know if there's any remaining work? Also have we documented the feature?

[2019-07-02 18:29] westonruter opened #23156 "amp-script: Mutating hidden attribute raises error in sanitizer"
Given this JS used for `amp-script`:

[code]

An error is raised when attempting to set `navMenu.hidden`.

![image](https://user-images.githubusercontent.com/134745/60536976-4829e280-9cbc-11e9-9236-e1ae2532a7c9.png)

In [Slack](https://amphtml.slack.com/archives/C99NYV631/p1562090536003200), @kristoferbaxter identified the problem was happening in the sanitizer:

[code]

Mutating the `hidden` attr

[2019-07-02 18:31] zhouyx commented on #12278
Sounds to me that the new introduced link rewriter can help here.

[2019-07-02 18:33] kristoferbaxter commented on #23156
Looks like the sanitizer doesn't like the replacement of a value with `null`. Perhaps the sanitization request isn't correctly plumbed from the `AttributeExecutor` to the AMP Sanitizer?

![Screen Shot 2019-07-02 at 11 31 59 AM](https://user-images.githubusercontent.com/61764/60537342-2da43900-9cbd-11e9-9a42-09a9083381b6.png)

[2019-07-02 18:42] choumx commented on #23134
Hm, I'm not sure which change is causing this apparent performance boost in 1906282130140.

Anyways, thanks for the feedback and let us know if it changes in the future.

[2019-07-02 18:42] #23134 closed

[2019-07-02 18:42] lannka commented on #23131
The reporter of the issue said the traffic is back. @ivanionut can you confirm?

[2019-07-02 18:42] #23131 closed

[2019-07-02 18:44] choumx commented on #14788
Huh, is that so? How do you know?

[2019-07-02 18:45] torch2424 commented on #23086
@sryze Thank you for the issue! 😄

Could you share which version of amp-experiment you are using?

Thank you! 👍

[2019-07-02 18:51] cvializ commented on #11317
It is still needed, and yes this should be a good size for a fixit week issue.

[2019-07-02 19:03] sryze commented on #23086
0.1

[2019-07-02 19:04] ivanionut commented on #23131
Hi @lannka

[2019-07-02 19:24] zikas commented on #23146
AMP doesn't allow redefining transport inside on-page configuration (although, it looks like it only reports error right now)
https://github.com/ampproject/amphtml/blob/2888ba72742755dcc3de02cd687081dc80845a92/extensions/amp-analytics/0.1/config.js#L334

sendBeacon() always sends POST request which is not supported by Doubleclick. This shouldn't be an issue for UA properties as even when Google An

[2019-07-02 19:27] #20340 closed

[2019-07-02 19:34] cathyxz commented on #23128
Hmm. I took a quick look at this in both Firefox and Chrome and I'm observing that the carousel images do load 10/10 times (with network throttling as well). Could I ask for a few more clarifications?

Are you referring to this carousel on the page or something else?
<img width="1251" alt="Screenshot 2019-07-02 at 12 30 37 PM" src="https://user-images.githubusercontent.com/1528181/60541040-7bbd3a8

[2019-07-02 19:36] cathyxz commented on #23116
I took a quick look at the `<amp-pinterest>` component recently and yes it could definitely use some updating. I think Pinterest itself offers two standard font sizes (11 px, and 14px), based off of their reference embed creator at https://developers.pinterest.com/tools/widget-builder. Would it work if we just defaulted to Pinterest's recommended styling? Since there aren't any `!importants` here,

[2019-07-02 19:44] sryze commented on #23086
Found the root cause - experiment name inside `VARIANT()` did not much any experiments declared in `<amp-experiment>...</amp-experiment>` on my page, i.e. not related to `-` characters in the name.

It would be nice to have a better error message for this kind of mistake.

[2019-07-02 19:52] lannka commented on #7768
It does not seem to fall in priority in any way. Closing now

[2019-07-02 19:52] #7768 closed

[2019-07-02 19:54] #10011 closed

[2019-07-02 20:03] lannka commented on #9546
This issue is a bit long and diverted. Closing now. If issue still exists, feel free to file a separate one.

[2019-07-02 20:03] #9546 closed

[2019-07-02 20:05] lannka commented on #7500
Closing this as we switched direction to push adoption for fast fetch.

[2019-07-02 20:05] #7500 closed

[2019-07-02 20:09] lannka commented on #9283
seems already done.

[2019-07-02 20:09] #9283 closed

[2019-07-02 20:10] lannka commented on #9274
Closing now. If it's needed pls provide more info.

[2019-07-02 20:10] #9274 closed

[2019-07-02 20:11] morsssss commented on #14788
Just from personal experience... most people that work with AMP aren't that
experienced with AMP, and it takes a while for most people to notice that
there are helpful notices in the Console.

On Tue, Jul 2, 2019, 2:45 PM William Chou <notifications@github.com> wrote:

[2019-07-02 20:40] lannka commented on #10353
Not sure if this test flake still exist. Feel free to reopen with more info.

[2019-07-02 20:40] #10353 closed

[2019-07-02 20:46] torch2424 commented on #23117
Hello!

So for this use case, we suggest making a transparent container that is the full height of the `amp-consent` element. And then having an inner container that you want to show (that is a smaller height). That then has the "hanging off of the top" element. In your case, the red "X".

Let me know if that makes sense 😄 Thank you!

[2019-07-02 20:51] lannka commented on #9581
Closing now since no test flakes observed anymore.

[2019-07-02 20:51] #9581 closed

[2019-07-02 20:53] zhouyx commented on #13079
Is there any work left here?

[2019-07-02 20:56] zhouyx commented on #13282
@gremz Any update on this? Thanks

[2019-07-02 20:58] zhouyx commented on #13226
Closing because there's no update. Please feel free to reopen if there's still request.

[2019-07-02 20:58] #13226 closed

[2019-07-02 20:59] lannka commented on #8965
The test was unskipped already.

[2019-07-02 20:59] #8965 closed

[2019-07-02 21:00] calebcordry commented on #21340
@lannka Are we ready to announce this change on the mailing list?

[2019-07-02 21:05] zhouyx commented on #14154
Do we still need this? Any update

[2019-07-02 21:10] zhouyx commented on #14252
Any update?

[2019-07-02 21:15] zhouyx commented on #14916
Work has been merged and shipped.

[2019-07-02 21:15] #14916 closed

[2019-07-02 21:17] calebcordry commented on #21017
Closing for inactivity. Feel free to reopen if you want to discuss further.

[2019-07-02 21:17] #21017 closed

[2019-07-02 21:18] lannka opened #23159 "Provide default height for the context.resize API"
should use the following as the default, to prevent issues like #22042
[code]

[2019-07-02 21:18] zhouyx commented on #15654
There's an issue with #22815 implementation. COOKIE macro only works for request not for linker. Use this issue to track the bug.

[2019-07-02 21:18] lannka commented on #22042
created a separate tracker #23159

[2019-07-02 21:18] #22042 closed

[2019-07-02 21:19] zhouyx commented on #15267
Closed by #20995

[2019-07-02 21:19] #15267 closed

[2019-07-02 21:21] cathyxz commented on #23125
I think maybe there is a bit of confusion here. The `data-href` field is supposed to take in the `url` of the facebook comment that you are trying to display, not the url of your own page. In order to embed a facebook comment, you have to know the url of that comment. Are you by chance looking for a sharing component instead, that will, for example, automatically share the current page you are on?

[2019-07-02 21:21] zhouyx commented on #15114
cc @jeffjose Idea on supporting hover over?
Also this could be part of the support browser event project.

[2019-07-02 21:23] zhouyx commented on #15912
to @jeffjose to triage.

[2019-07-02 21:24] torch2424 commented on #21599
@lannka Can we provide an update on this? 😄 👍

[2019-07-02 21:25] lannka commented on #10524
obsolete

[2019-07-02 21:25] #10524 closed

[2019-07-02 21:26] zhouyx commented on #16140
Hello AMP has added support for CMP to integrate. Please refer to https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md for more information. And please let us know if there's any question. Thank you

[2019-07-02 21:27] zhouyx commented on #16126
Any update on this?

[2019-07-02 21:28] torch2424 commented on #21419
@arunke1 Did @zikas solve your issue?

If so, we will go ahead and close this issue. Thank you! 😄

[2019-07-02 21:30] lannka commented on #10808
done in #10506

[2019-07-02 21:30] #10808 closed

[2019-07-02 21:30] calebcordry commented on #16126
This is solved by @jonathantyng-amp 's work 🎉

[2019-07-02 21:30] #16126 closed

[2019-07-02 21:34] zhouyx commented on #16308
Any update? I am closing the issue but feel free to reopen if there's work on our side.

[2019-07-02 21:34] #16308 closed

[2019-07-02 21:34] calebcordry commented on #20880
@hrkhal Are you still planning on working on this?

[2019-07-02 21:35] #9703 closed

[2019-07-02 21:35] zhouyx commented on #16413
Closing as this is WAI. Feel free to reopen if there's concern. Thank you

[2019-07-02 21:35] #16413 closed

[2019-07-02 21:36] torch2424 commented on #19083
@jonkeller Is this still active? 😄

[2019-07-02 21:37] zhouyx commented on #16963
Looks like the issues has been resolved. Closing

[2019-07-02 21:37] #16963 closed

[2019-07-02 21:41] torch2424 commented on #18862
@thewebknight Is this still an issue? 😄 Thank you! 👍

[2019-07-02 21:41] lannka commented on #18949
as @zhouyx pointed out this could be implemented as a DOM event tracker. do we have a tracker for that? We can close this one.

[2019-07-02 21:41] zhouyx commented on #17007
@BenjaminAt10SQ Thank you for the information. I can see that's a reasonable request. But AMP Analytics attempts to provide a generic solution that works for every vendors. Where we would prefer that the customization happens at server side. Is it possible for you to implement the special protocol? Thank you very much

@lannka I do see how batch plugin could fit in here? Any ideas?

[2019-07-02 21:42] torch2424 commented on #18617
Is this still an issue @zhouyx ? Thanks 😄

[2019-07-02 21:42] lannka commented on #14154
obsolete requirement

[2019-07-02 21:42] #14154 closed

[2019-07-02 21:43] zhouyx commented on #17604
Closing since we don't see them for 6 months.

[2019-07-02 21:43] #17604 closed

[2019-07-02 21:43] calebcordry commented on #20500
@jeffkaufman Is there any update on this?

[2019-07-02 21:43] torch2424 commented on #18616
Is this still an issue @zhouyx ? Thanks! 😄

[2019-07-02 21:43] zhouyx commented on #17657
@lannka What's our decision here?

[2019-07-02 21:45] torch2424 commented on #18221
@jeffjose Any updates on this? 😄

[2019-07-02 21:45] jonkeller commented on #19083
It would be nice if it were to get done, but realistically I'm unlikely to
prioritize it very high myself since I'm not really doing AMP very much
these days.

On Tue, Jul 2, 2019 at 5:37 PM Aaron Turner <notifications@github.com>
wrote:

[2019-07-02 21:46] calebcordry commented on #20026
This is done.

[2019-07-02 21:46] #20026 closed

[2019-07-02 21:47] calebcordry commented on #20450
Closing this as it seems this discussion has concluded. Feel free to reopen if that is not the case.

[2019-07-02 21:47] #20450 closed

[2019-07-02 21:48] zhouyx commented on #17877
@avimehta Any update?

Closing the issue as it's not an AMP issue can should be tracked elsewhere

[2019-07-02 21:48] #17877 closed

[2019-07-02 21:49] calebcordry commented on #20259
@curseagain Any update here?

[2019-07-02 21:50] calebcordry commented on #20090
Closing as a stale issue, let me know if this is still a problem.

[2019-07-02 21:50] #20090 closed

[2019-07-02 21:54] torch2424 commented on #23086
@sryze Glad you found the issue! And thanks for letting us know. I'll go ahead and keep this issue open to change the error name.

Thank you! 😄

[2019-07-02 21:56] calebcordry commented on #19916
@dortzur Closing for inactivity, feel free to reopen if you are still working on this.

[2019-07-02 21:56] #19916 closed

[2019-07-02 21:57] torch2424 commented on #21045
@murraybiscuit Did @calebcordry solve the issue for you? Let us know! 😄

[2019-07-02 21:57] calebcordry commented on #19878
@jasti Any update here?

[2019-07-02 21:59] lannka commented on #17657
The original issue is resolved. @Ahh42 @eeriksson feel free to open a separate issue for extra needs on the base64 encoding.

[2019-07-02 21:59] #17657 closed

[2019-07-02 22:00] calebcordry commented on #19869
@zombifier is this still being worked on?

[2019-07-02 22:02] lannka commented on #11795
Is this still needed?

[2019-07-02 22:02] #11795 closed

[2019-07-02 22:03] zhouyx commented on #19908
user error event is already launched. Closing

[2019-07-02 22:03] #19908 closed

[2019-07-02 22:08] calebcordry commented on #19466
Closing this as it seems the original reporter has fixed? Feel free to reopen.

[2019-07-02 22:09] calebcordry commented on #19312
@glevitzky any update on this?

[2019-07-02 22:10] lannka commented on #18656
obsolete. error message no longer fail tests

[2019-07-02 22:10] #18656 closed

[2019-07-02 22:13] lannka commented on #16557
tracked here: #22867

[2019-07-02 22:13] #16557 closed

[2019-07-02 22:13] calebcordry commented on #19138
@lannka Is this prioritized?

[2019-07-02 22:14] lannka commented on #16558
We need to make some improvement to playground.amp.dev

[2019-07-02 22:14] #16558 closed

[2019-07-02 22:16] zhouyx commented on #22007
Feature implemented

[2019-07-02 22:16] #22007 closed

[2019-07-02 22:16] #17241 closed

[2019-07-02 22:16] calebcordry commented on #19124
Closing as this is a bit outdated. You can find many documents at the new amp.dev. Feel free to reopen this issue with any specific questions.

[2019-07-02 22:16] #19124 closed

[2019-07-02 22:20] lannka commented on #17932
sorry this fell through cracks. is this still an issue?

[2019-07-02 22:20] #17932 closed

[2019-07-02 22:22] calebcordry commented on #18482
@clawr This is quite stale, do you think we should close.

[2019-07-02 22:42] cathyxz commented on #22041
Since it's two different share endpoints, I think the easy way to achieve this would be to add an additional config item in `amp-social-share-config.js`. I don't think the current social-share code is structured to be smart enough to make that exception. We could call it something like `facebook-url` and perhaps use it like so?

[code]

[2019-07-02 22:58] choumx commented on #13079
I believe sharing variable interpolation code between extensions is not done yet. I think priority can be dropped though.

[2019-07-02 23:25] torch2424 commented on #19083
@jonkeller Thank you for the update! 😄

[2019-07-02 23:27] zhouyx opened #23161 "🌸 Cherry-pick request for #23063 into #23047 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23063 | #23001, #23063, #23113 | **No** | **Yes** | #23047 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cher

[2019-07-02 23:34] cathyxz commented on #22041
On second thought, although I've tested and verified that this works, I'm not able to find official documentation on Facebook for this endpoint. @CairnsPaul would you mind pointing me to it (before I merge this PR)? Just so I'm not accidentally reverse engineering a deprecated endpoint xD. In the meantime, if this is urgent, you can also make this happen yourself with something like the following:

[2019-07-02 23:52] Gueorgi commented on #5402
So closing #5402 because it is duplicate of... itself #5402?
@zhouyx can you update the comments to show what other (different then this, i.e. not 5402) issue this was duplicate of?

[2019-07-02 23:59] jaswrks commented on #23146
😄  Thank for the details. Yes, that describes exactly what I am experiencing and the 405's are coming from the doubleclick ads configured in Gtag. The reason for wanting Beacon as the transport is that I'd like to enable click tracking on outbound links and in doing so, there is a race condition between tracking a click and a user leaving the page entirely. The `beacon` API guarantees those clicks

[2019-07-03 00:26] zhouyx commented on #21751
Any update on the issue @calebcordry We get few request for the fix. And it's blocking us from documenting the nested macros.

[2019-07-03 00:30] calebcordry commented on #21751
I am not sure where we landed after our previous discussion. I had #22379 but there were some tradeoffs with that approach.

[2019-07-03 00:50] zhouyx commented on #21751
Here's what I recall from the last discussion.
We are thinking about two ways to solve this issue.
1. Expand variables before appending them to url, so we won't be having the encoding issue.
2. Expand the `#getNameArgs` function to support all the cases. This will be similar to what we have in expander.

We went with Approach#1 in #22379 because we believe that implementation is cleaner. However t

[2019-07-03 00:51] zhouyx commented on #18616
Sounds like we haven't seen new occurrence of the error. Closing.

[2019-07-03 00:51] #18616 closed

[2019-07-03 00:52] zhouyx commented on #18617
No new occurrence. Closing

[2019-07-03 01:19] zhouyx commented on #5402
LOL
@Gueorgi nice catch! I'm sorry, duplicate of #10864

[2019-07-03 01:30] torch2424 commented on #22994
Hello! So I figured out why this does not mimick Lightbox's behavior. The reason is, it seems that Lightbox calls `enterLightboxMode` on the viewport service, which in turn [sends a message to the viewer to hide itself](https://github.com/ampproject/amphtml/blob/master/src/service/viewport/viewport-impl.js#L772). Thus we need to mimick this behavior. From what I can tell, all we should need to do

[2019-07-03 02:24] zhouyx commented on #20070
### Step by step
- [ ] See the [Getting Started End-to-End Guide](https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-e2e.md) for [an intro to Git & GitHub](https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-e2e.md#intro-to-git-and-github) and [how to get a copy of the code](https://github.com/ampproject/amphtml/blob/master/contributing/gettin

[2019-07-03 05:15] yunabe opened #23164 "`scroll-behavior:smooth` on `html` behaves badly in AMP"
## What's the issue?

[`scroll-behavior: smooth`](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior) on `<html>` is allowed in AMP now. But it causes unnecessary scroll animations when scroll positions are adjusted automatically in AMP.

`scroll-behavior: smooth` on `<html>` should be disallowed in AMP.

## How do we reproduce the issue?

1. Open an AMP page with `scroll-behavior: s

[2019-07-03 06:12] ChiangChienHui commented on #23062
But I use amp-script include third-party javascript , the javascript file size is 128KB, so how can i do...?

[2019-07-03 06:59] lvberkum commented on #23128
That carousel as well, but it is maybe easier to focus on the first cover image carousel, which loops three 960x480 images at the top of the page.

I just checked again, Amsterdam 8:30am. FireFox on Mac and Windows on desktop still affected. Safari on mobile as well. Chrome seems to be ok on desktop and mobile.

I checked from various locations including the Netherlands, Germany, Spain and United

[2019-07-03 07:41] mont23 opened #23165 "AMP4EMAIL: Attribute [src] not appearing in AMP-IMG"
## What's the issue?

I am following the AMP-BIND tutorial and getting this error: The attribute '[src]' may not appear in tag 'AMP-IMG (AMP4EMAIL)'

## How do we reproduce the issue?
When following the amp-bind tutorial https://amp.dev/documentation/components/amp-bind?format=email in the "A slightly more complex example" it give me the error of [src] not being supported.

[code]

Output error in

[2019-07-03 11:08] ankikala opened #23166 "Supporting amazon onetag on amp pages"
## What's the issue?

Its a feature request. I'm part of Amazon's Affiliate Marketing team. Amazon affiliate marketing is a channel that helps the content creators monetize their content by paying a fraction of profit for purchases from traffic coming from their websites.

We've a script called OneTag, which associate can add to their pages. Some benefits of OneTag script are:
1. It tags the amazo

[2019-07-03 12:01] dritter opened #23167 "Tracking of multiple form submissions"
We have multiple forms on our page and we want to track them with one analytics config. This is currently not possible, we have to add one config per form.

Here is an example:
[code]

If the analytics config would be working (credentials not included here), the tracking would work for the first form, but not for the second one. Just open the dev tools and filter in network tab for "collect" and c

[2019-07-03 12:46] dritter opened #23168 "Tracking form submission that was rendered via mustache"
Hi there!

We have a form that is rendered via a mustache template. Having a lot of content on our site, registering the event listeners for analytics is faster than the template being rendered, which results in an error on page load:

![Screenshot_20190703_143918](https://user-images.githubusercontent.com/1544760/60592240-839ddd00-9da0-11e9-91e5-96861e1e8ad6.png)

This is reproducible in the amp

[2019-07-03 12:57] vitsuchanek commented on #23088
Hi William, thanks for you feedback! But if validator.ampproject.org is meant to be just an adhoc tool, why do you support passing Base64-encoded content together with HTML format as URL GET parameters? I would expect a consistent approach when you open the validator using either of both approaches (passing encoded AMP content via GET parameters or using a URL to the AMP content). Vít

[2019-07-03 13:06] seomaz opened #23169 "Alexa code don't work on AMP cache url domain"
Hi,

The alexa code for this domain: cibercuba.com is:

`<amp-analytics type="alexametrics">
<script type="application/json"> {"vars": { "atrk_acct": "1BFEn1QolK10T3", "domain": "cibercuba.com" }}</script>
</amp-analytics>`

This code work fine (and stats are equal than other analytics) when the user navigate on the canonical domain (cibercuba.com), but when the user enter to de amp document via A

[2019-07-03 13:28] jeffkaufman commented on #20500
This isn't something I've been prioritizing.  It would be nice to have, but validation is already a lot of protection.

[2019-07-03 15:16] rsimha commented on #23161
I nominate this CP request for approval.

[2019-07-03 15:20] ayumihamsaki commented on #23116
I personally don't like the Pinterest default styling and think you guys can could up with a better solution, for this extension!

Also would it be a good idea to set a range for the width in the doc's that Users can set, e.g. something like:

[code]

As for the height attribute, have the extension automatically set it, itself. Because it can be quite difficult for a user to set the correct ratio

[2019-07-03 15:23] ayumihamsaki commented on #23117
@torch2424 thanks for your comment, that's a good idea and I will do that.

[2019-07-03 15:23] #23117 closed

[2019-07-03 15:24] johnbarr opened #23170 "AMP4Email: blacklist amp-lightbox and amp-image-lighbox"
amp-lightbox and amp-image-lightbox don't make much sense because they occupy the full height of the document (email) and don't change their appearance based on the vertical size of the outer page nor the scroll position of the outer page.

https://github.com/ampproject/amphtml/issues/22297 is one example of this.

We have come up with no good solutions to this problem and so Gmail thinks we shoul

[2019-07-03 15:47] rrjanbiah commented on #23029
@cvializ I understand what are you saying. But, do you have any solution for this case--without implementing FR?

[2019-07-03 15:51] morsssss commented on #20225
Hi Aaron!

Just wanted to ask - how is this progressing toward release?

[2019-07-03 15:55] choumx commented on #23062
Is the total size of your JS 128KB?

[2019-07-03 15:56] cramforce commented on #23161
Approved

[2019-07-03 16:12] lannka opened #23172 "I2I: remove amp-embed allowed list"
`<amp-embed>` is a custom-element alias for `<amp-ad>` to support 3rd party content embed that are not ads. In reality most of the usages are so called "Content Recommendation" services. Those serves either provide cross-site link exchange or in-site article recommendation. Sometimes those content are mixed with ads.

We right now maintain a whitelist of vendors that are allowed to use this `<amp-

[2019-07-03 16:56] calebcordry commented on #21751
Right, thanks for the recap. #2 SGTM. I tried this originally but it was a while ago and I don't think I saved the code (it was incomplete anyway). Let me know if you want me to work on this and I can start on it next week.

[2019-07-03 17:09] zhouyx commented on #21751
I'd like to prioritize the work here, it's blocking @zikas's work. Do you have an estimate to the workload? Thanks

[2019-07-03 17:28] lannka commented on #21751
Discussed with @zhouyx offline, let's go with #22379 and admitting the caveats in documentation. The benefit is obvious as it avoids this error-prone getNameArg code.

@calebcordry let's prioritize this next week, as it's the last item for launching #13371

[2019-07-03 18:24] alankent commented on #12619
I was reading up on UX research on menus recently. There was advice like "hover should not reveal menu immediately to stop page flicker when mouse moves across screen - there should be a delay", but there was an interesting discussion on submenus. I am sure you have all experienced a submenu where you hover, the submenu appears, and you have to move your mouse exactly horizontally sideways to get

[2019-07-03 18:26] zhouyx commented on #23172
Sounds good, I agree that we don't have an actionable criterial for whitelisting.

One comment. From all the vendor integration I reviewed previously, most vendor only support one syntax. And because of that I never ask them to implement the `renderStart` API when they add themselves to the amp-embed whitelist. We may need to ask them what syntax they want to support in the future, and document th

[2019-07-03 18:29] lannka commented on #23172
@zhouyx do you see reasons why we not recommend renderStart API for embed? I think the vendors will get the same benefit of an improved loading experience.

[2019-07-03 18:37] zhouyx commented on #23172
It's not that we don't recommend. The API is mostly used to toggle placeholder and show ads at the proper time. But we don't apply any placeholder for amp-embed, so the API is not very useful.

[2019-07-03 18:38] jridgewell commented on #22994
What's unneeded?

Just sending the message like https://github.com/ampproject/amphtml/blob/50102ccd813e6f8ecfbc34cbeb6a7f28db313964/src/service/viewport/viewport-impl.js#L772-L776 should work fine.

[2019-07-03 18:42] calebcordry commented on #21751
SGTM, thanks all!

[2019-07-03 18:47] lannka commented on #23172
That makes sense.

[2019-07-03 18:47] #21661 closed

[2019-07-03 19:04] westonruter commented on #22410
See also https://github.com/ampproject/amphtml/issues/18615#issuecomment-427999056

[2019-07-03 20:03] dvoytenko commented on #22733
yes

[2019-07-03 20:08] choumx commented on #22410
Will work on this soon.

[2019-07-03 20:19] dvoytenko commented on #5225
This is just a question of consistency in standalone site vs viewer vs native app viewer.

[2019-07-03 20:22] dvoytenko commented on #22714
@westonruter No, I don't think it'd be a blocker. We could always follow the same protocol and send "rejection" message as well, in case anyone can react to it.

[2019-07-03 20:31] zhouyx opened #23176 "Remove hardcoded object which converts variable to macro"
Right now we hardcoded all the conversion here https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js#L110.
This won't be an issue if the list is short enough. But as the list is grouping, we can remove the list and instead calculate the macro value. (We will still need a list to keep all the supported variables though).

I just ran a quick check, this should dec

[2019-07-03 20:37] zhouyx commented on #14920
@jasti The requirement here is a bit unclear to me.  I suppose we can close the issue since we've added support to 1. have checkConsentHref return an object. 2. send request whenever the stored request value changes.

Closing. But feel free to reopen if you think there's still action item on this one. Thank you

[2019-07-03 20:37] #14920 closed

[2019-07-03 20:40] calebcordry commented on #17618
@ampproject/wg-ads Would the new meta tags accomplish the functionality needed here?

[2019-07-03 20:40] zhouyx commented on #17787
From the last investigation, the delay occurs after the `player.play()` is called. cc @ampproject/wg-ui-and-a11y if they know what could be the cause to the delay. Thanks.

[2019-07-03 20:42] lannka commented on #14344
Closing it now for inactivity. Also, it's unclear how this should be done.

[2019-07-03 20:42] #14344 closed

[2019-07-03 20:43] calebcordry commented on #17045
@harquail is this still an issue for you all?

[2019-07-03 20:44] zhouyx commented on #14083
I'm going to close this issue because we track the fix externally. Please feel free to reopen if you still find this to be an issue. Thank you

[2019-07-03 20:44] #14083 closed

[2019-07-03 20:46] calebcordry commented on #16675
Maybe this can be lumped in with #22418

[2019-07-03 20:49] zhouyx commented on #16637
Since the issue has been tracked and fixed externally. I am going to close it. Please feel free to reopen if you still see this. Thank you

[2019-07-03 20:49] #16637 closed

[2019-07-03 20:51] calebcordry commented on #15843
Closing this based on the last comment. Feel free to reopen if we have an AMP side way to make this experience better.

[2019-07-03 20:51] #15843 closed

[2019-07-03 20:52] zhouyx commented on #23161
Cherry pick done. New opt-in and 1% rtv 1907022322580

[2019-07-03 20:52] #23161 closed

[2019-07-03 20:53] lannka commented on #11617
Close for inactivity.

[2019-07-03 20:53] #11617 closed

[2019-07-03 20:55] lannka commented on #11187
Not sure if this initiative has been moved forward. Closing for now.

[2019-07-03 20:55] #11187 closed

[2019-07-03 20:55] calebcordry commented on #15539
@glevitzky Did you ever get to work on this?

[2019-07-03 20:56] zhouyx opened #23177 "Error: Cannot read property 'style' of null"
Error: Cannot read property 'style' of null
at ka (https://cdn.ampproject.org/rtv/001907022322580/v0/amp-twitter-latest.js:12)
at (https://cdn.ampproject.org/rtv/001907022322580/v0/amp-twitter-latest.js:30)
at Yj.a.w.runPromise.mutate (v0.js:331)
at an (https://cdn.ampproject.org/rtv/001907022322580/v0.js:524)
at Xm.f.Qh (v0.js:523)

go/amp-error/CPn-he3v-cCcrgE

[2019-07-03 20:58] zhouyx commented on #23177
cc @ampproject/wg-ui-and-a11y

[2019-07-03 20:59] calebcordry commented on #15456
Closing as it appears there is a solution with media queries. Please reopen if further discussion is needed.

[2019-07-03 20:59] #15456 closed

[2019-07-03 21:00] lannka commented on #13315
@jridgewell I don't see the description matching the title. Could you clarify?

[2019-07-03 21:01] #11583 closed

[2019-07-03 21:01] calebcordry commented on #22636
Closing as dup of #14949

[2019-07-03 21:01] #22636 closed

[2019-07-03 21:04] calebcordry commented on #14644
Closing as it doesn't seem feasible to ensure every adblocker works correctly.

[2019-07-03 21:04] #14644 closed

[2019-07-03 21:05] zhouyx commented on #14893
The support has been added. postPromptUI no longer need to be a child of amp-consent. Closing the issue. Thanks.

[2019-07-03 21:05] #14893 closed

[2019-07-03 21:05] calebcordry commented on #14605
Closing as efforts seem to be around programmatic/reservations.

[2019-07-03 21:05] #14605 closed

[2019-07-03 21:06] lannka commented on #11742
I feel all the use cases described above is AMP agnostic, what really matters is whether the ad is in friendly or foreign iframe. If ad wants to mutate an AMP page, there will need to be behaviors and APIs defined. Exposing a boolean state won't be helpful.

Closing for inactivity. Feel free to reopen with more info.

[2019-07-03 21:06] #11742 closed

[2019-07-03 21:08] zhouyx commented on #23047
We are not cutting new canary or promoting prod this week.

[2019-07-03 21:09] glevitzky commented on #15539
Yikes, no, this totally slipped off my radar. I'll take a look after the holiday.

[2019-07-03 21:13] calebcordry commented on #13326
@jamesshannon Is this still a problem for you?

[2019-07-03 21:14] calebcordry commented on #12400
Closing based on last comment. Feel free to reopen if there is an impact to creatives.

[2019-07-03 21:14] #12400 closed

[2019-07-03 21:17] calebcordry commented on #14548
I think this is solved by including the blocked by consent attribute on the amp-story-auto-ads tag. Please reopen if this is not the case.

[2019-07-03 21:17] #14548 closed

[2019-07-03 21:21] kmturley commented on #14505
I need this event for a type carousel which needs to show indicator dots.

There is a Google code lab showing <amp-carousel> using the slideChange event to update indicator dots:
https://github.com/googlecodelabs/advanced-interactivity-in-amp/blob/master/static/final.html#L216

However when you change the `type="slides"` to `type="carousel"`, the event stops working. I believe because  it checks f

[2019-07-03 21:23] aaron-renovationbrands commented on #8929
We are tuned in!

[2019-07-03 21:25] lannka commented on #10599
Discussed offline, there will be trade off between saving some CPU in those extensions but costing more in amp-analytics. Closing for now unless we see bigger needs.

[2019-07-03 21:25] #10599 closed

[2019-07-03 21:42] lannka commented on #21197
@keithwrightbos @jeffkaufman  I'm wondering how this is done in Ad Manager, would that need a flag in request?

[2019-07-03 21:50] lannka commented on #8323
closing for inactivity

[2019-07-03 21:50] #8323 closed

[2019-07-03 22:39] xiao-lix commented on #22156
@zhouyx hey, I have a question about "extraUrlParam" field. Can I nest data in it? The scenario is, my end service only accept extra customer data under "data" bag, but when I nest it like this:
[code]
the same error happens.. only the first click display the correct info, the following clicks will all display the same info as the first click. I tried on your test page too, but the response is lik

[2019-07-03 23:01] zhouyx commented on #22156
Hello @xiao-lix
We don't support serializing nested object in POST request. However if you use the `useBody: true` https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md#use-body-for-extra-url-params, nested object is supported. Please let me know if that answer your question, thank you

[2019-07-04 08:36] robmurtagh commented on #17787
Thanks for updating the issue @zhouyx. I've also refreshed the links to the videos in the original bug report, so they should be working again now.

If AMPHTML ads are going to hit the mainstream, I think this is an important one to get fixed.

[2019-07-04 21:12] alankent commented on #14637
Just noticed a Stack Overflow question I think is the same issue. https://stackoverflow.com/questions/56882857/amp-state-getting-ignored-until-setstate-fired

`<amp-geo>` provides useful functionality we are asking applications to re-implement server side to initialize the initial values for pages not served from an AMP cache. But it seems impossible to do if served from the AMP cache. Geo data se

[2019-07-04 22:38] caiotomazelli commented on #19435
Adding another use case that I believe could only be solved by conditional actions:

This would translate to something like this implementation, using choumx@ suggested API for conditional amp-action-macro:

`
    <amp-action-macro action="D2.setDate({d1Date.offset(1))" condition="d1Date > d2Date">

    <amp-date-picker  id="D1 on="select:conditionalSetD2(),AMP.setState({d1Date: event.value})">

[2019-07-04 23:54] ahmadalfy commented on #22435
@aghassemi I would love to work on this one. There is an optional argument called `force`; should that case check for amp specific classes as well or the check is cancelled if that argument is true?

[2019-07-05 06:06] ChiangChienHui commented on #23062
Yes is the total size of mine JS 128KB , and the web site is private, so I need your working hours, I will open web site permission with your working hours.

[2019-07-05 07:14] aferrandini opened #23181 "amp-subscriptions has no way to print user information like amp-access without a dialog"
## amp-subscriptions has no way to print user information like amp-access without a dialog

When `amp-subscriptions` is implemented and you get logged in and receive some user informacion in the payload, there is no way to print some information received in the payload with a mustache template in the web without a dialog.

**Payload received:**
[code]

**AMP html implemented:**
[code]

`data.fisrt

[2019-07-05 09:45] designgrill opened #23182 "amp-list doesn't convert relative URLs to absolute URLs for use with next"
# What's the issue?
amp-list supports relative URLs in the src attribute as of now, but the relative URL picked up for the *next* call is not converted to absolute one and results in breaking load more behavior.

The issue is visible only when the amp page is requested through a different logical origin.

## How do we reproduce the issue?
Have a JSON response for amp-list where the next URL is rel

[2019-07-05 10:45] justforfun commented on #19019
Hi,
I managed to track the events, I was expecting to have the subscribe action event at the opening of the  show offers carousel.
When the user taps on the SWG button the ShowOffers event is triggered and when the user taps on a single product then the subscribe action related event is finally triggered.
At the end of the day the events triggering is working properly.
Thank you!

[2019-07-05 15:48] gmajoulet opened #23184 "Video playback issues on story 3 panels desktop experience."
Video playback fails for some hardware on the story 3 panels desktop experience.

[2019-07-05 19:55] IanDoone opened #23185 "amp-fit-text can truncate the lower portions of some fonts"
## What's the issue?

The amp-fit-text component is capable of truncating the lower portions of some fonts.

**Note:** this could be patched by adding an option to the component to preserve line height instead of setting it to 1.15em, as that line height is why that part of the text is below the element height.

## How do we reproduce the issue?

[JSBin test page](https://output.jsbin.com/kequvizi

[2019-07-07 05:41] westonruter opened #23189 "amp-bind: Initial amp-state with falsy value is not recognized"
Given the following state:

[code]

Doing `AMP.printState()` yields an empty object:

![image](https://user-images.githubusercontent.com/134745/60764417-0ee7ce80-a03e-11e9-9859-0cfe5e5c08d7.png)

This also causes a warning to be raised with the following code:

[code]

Since the `count` state is `null`, a warning is issued:

If the value is changed from `0` to `1` then it is recognized:

![image](

[2019-07-07 05:42] westonruter commented on #23189
/cc @choumx

[2019-07-07 07:38] westonruter commented on #23189
Actually, other falsy values get ignored as well:

[code]

![image](https://user-images.githubusercontent.com/134745/60765449-63477a00-a04f-11e9-9d5b-3a1621f38aa4.png)

[2019-07-07 09:50] saitho opened #23190 "New release for NPM amphtml-validator"
Hi there,

I'm using the NPM package "amphtml-validator" to ensure the generated CSS is valid.
The package however is over a year old. Thus it is reporting that the CSS is valid even though it is not with the current "live" validator of AMP.
Can you put out a new release for that? :)

Thanks.

[2019-07-08 09:03] dianomi-mjs commented on #23094
Hi @lannka can you tell me when we can expect the fix to be hitting production?

I've removed the form from that page for testing - still getting redirected at the moment, will try later and report back.

[2019-07-08 13:33] dianomi-mjs commented on #23094
http://amphtml-nightly.herokuapp.com/proxy/s/www.dianomi.com/mjs/amp/one.epl?smartad_id=5001 is still being redirected although the page passes the AMP validator now.

[2019-07-08 14:13] zombifier commented on #19869
@calebcordry we're running an experiment on it, but it's lossy at the moment. My suspicion is that the experimental code is inefficient and I'm working on a fix.

[2019-07-08 15:28] choumx commented on #23189
Thanks for the detailed report. I'll tackle this in the fix-it sprint coming up.

[2019-07-08 15:40] gmajoulet commented on #23184
Example story: http://demo.minute.ly/stamp-mlb/index.html

[2019-07-08 15:50] #23140 closed

[2019-07-08 15:54] choumx commented on #23177
Tangent: curious why this stack isn't unminified. @jridgewell

[2019-07-08 15:56] choumx commented on #23168
@ampproject/wg-analytics When are trigger selectors queried?

[2019-07-08 15:57] choumx commented on #23167
@ampproject/wg-analytics

[2019-07-08 15:58] alanorozco commented on #21783
Fixed by #23149

[2019-07-08 16:03] choumx commented on #23165
This is an intentional difference between the AMP4EMAIL and AMP formats. We should add some language to the amp-bind documentation about the format differences.

/cc @fstanis

[2019-07-08 16:07] choumx commented on #23019
Anything greater than this? Why is a threshold necessary?

[2019-07-08 16:15] choumx commented on #23166
@ampproject/wg-ads Another affiliate marketing component FR.

[2019-07-08 16:16] mister-ben commented on #21783
#23149 fixes the autoplay mask, not the docked controls overlay

[2019-07-08 16:17] fstanis commented on #23165
@CrystalOnScript can we put that section behind a "format filter"?

[2019-07-08 16:32] lannka commented on #23094
@dianomi-mjs I'm also experiencing issues with the nightly server. I will take a look when a got a chance.  Worst case, the change will be in canary for testing tmr.

[2019-07-08 16:53] sparhami commented on #23177
Closing as a dupe of #22990

[2019-07-08 16:53] #23177 closed

[2019-07-08 16:57] lannka commented on #23166
@ankikala thanks for creating this.

high level, AMP does not allow loading custom javascript in the main window. are you able to integrate using the `amp-link-rewriter` extension: https://github.com/ampproject/amphtml/blob/master/extensions/amp-link-rewriter/amp-link-rewriter.md

[2019-07-08 17:17] sparhami commented on #23092
To recap: the problem is that if a `src` has spaces in it, we carry over the space when we generate a `srcset` from the `src`. This confuses the `srcset` parsing.

A simple change would be to call `encodeURI` when we convert a `src` attribute into a `srcset`, Another option would be to stop operating on `amp-img`, and instead do `img.src` on the internal `<img>`, which will give a URI encoded vers

[2019-07-08 17:43] cramforce commented on #23070
Are they using CSS animations triggered on active or what is the mechanism?

On Fri, Jun 28, 2019 at 12:33 AM Gabriel Majoulet <notifications@github.com>
wrote:

[2019-07-08 17:45] ericandrewlewis opened #23198 "Retire layoutJank tick event reporting"
We introduced support for viewers to read a new tick event `lj` (layout jank) in #21060. Layout jank will be retired in Chrome 76, being replaced by the cumulative layout shift metric, see #23154.

We can retire the layoutJank tick event, I would suggest a month or so after Chrome 76.

[2019-07-08 17:45] merakmarey commented on #23092
encoding works <img class="i-amphtml-lbg-gallery-thumbnail-img" srcset="/i/images/2/gallery-1-4-full%20-%20Copy.jpg 1x">..

[2019-07-08 18:20] choumx commented on #21715
Do you have a specific use case in mind? Note that the 300px height only applies to `layout=container` amp-script elements.

[2019-07-08 18:29] gmajoulet commented on #23070
Yes: the `<amp-story-page>` that's displayed gets an `[active]` attribute. I thought Google Stories was not using built in animations but using this attribute to trigger their custom CSS animations, but actually it turns out they don't.
I'll still send a follow up PR just in case someone uses this one day, but it didn't need to be in the cherry-pick

[2019-07-08 18:33] choumx commented on #19981
This was fixed in #22073.

[2019-07-08 18:33] #19981 closed

[2019-07-08 18:40] sparhami commented on #23164
`<amp-base-carousel>` handles this when restoring scroll position. It disables smooth scrolling using a function here:

https://github.com/ampproject/amphtml/blob/c3940a0a90663270e8c244d0e82fb3d67958ad34/extensions/amp-base-carousel/0.1/carousel.js#L54-L66

Perhaps the base runtime can do the same thing when restoring scroll position. If we want to work around it, things that "animate" scroll need

[2019-07-08 19:02] #20394 closed

[2019-07-08 19:33] fstanis opened #23203 "Broken link to EdgeHTML issue in docs"
It seems that this line from the `amp-animation` docs contains a broken link:

https://github.com/ampproject/amphtml/blob/0937333cb3f4d1b09bd41f86db565c2dcda7ed3a/extensions/amp-animation/amp-animation.md#L646

Specifically, the link is to: [CSS transforms (+ feature detection) not working on SVG elements](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/1173754/) ([archived ve

[2019-07-08 22:00] cramforce commented on #23070
For the CSS animations could can also make the duration be 0s with
!important in vertical mode.

On Mon, Jul 8, 2019 at 8:29 PM Gabriel Majoulet <notifications@github.com>
wrote:

[2019-07-08 22:07] choumx commented on #23120
Closing this since there are ways to accomplish the use case. Thanks for chatting!

[2019-07-08 22:07] #23120 closed

[2019-07-08 22:09] archon810 commented on #22610
I'm not sure if this is the same issue, but we can easily reproduce this on our own AMP site we're working on, when using Chrome Dev Tools and emulating any mobile device. An easy way to do so is loading an AMP page with Disqus, scrolling down to the Disqus form, then reloading.

For example:
![image](https://user-images.githubusercontent.com/469543/60845740-1e782c00-a192-11e9-9079-79ba48755914.pn

[2019-07-08 22:10] choumx commented on #17943
One option is to disable this behavior for obviously invalid AMP pages (which will never be served from cache) e.g. missing "amp" attribute in `<html>` tag.

[2019-07-08 22:11] zhouyx commented on #23168
Trigger selectors are queried at initiation time. The reason here is that the querySelector for `#tracking-form` happens too early.

To fix this, could you please try
[code]

[2019-07-08 22:23] zhouyx commented on #23167
@dritter Thank you for reporting. Yes, that's something we are aware of.
Right now amp-analytics doesn't support selecting multiple elements at the same time. There's proposal to add multi selector support from #11380. Please let us know if that works for your use case. Thank you

[2019-07-09 01:08] alankent commented on #10568
I should have searched here first, but I had a chat with some Algolia folks this morning looking to see if amp-autocomplete could be useful with Algolia. Short answer, not at present because the API assumption of the frontend and backend are different. (AMP assumes a particular response type, Algolia does not have an API returning the JSON AMP expects. Might be some HTTP header issues as well.)

I

[2019-07-09 01:36] cathyxz commented on #23128
Thank you! I'll take another look.

[2019-07-09 07:12] Haroenv commented on #10568
Great idea @alankent, this would prevent us from needing to add more amp-specific logic

[2019-07-09 08:12] sebastianbenz commented on #22136
Whoop whoop! I'll deprecate amp-toolbox/amp-cors.

[2019-07-09 08:23] ithinkihaveacat commented on #22136
@sebastianbenz You mean update? The module injects still-necessary (but not AMP specific) headers such as `Access-Control-Allow-Origin` so sites that currently use it still need to generate these headers in some way. (Though they could eventually switch to e.g. https://expressjs.com/en/resources/middleware/cors.html.)

[2019-07-09 08:30] sebastianbenz commented on #22136
@ithinkihaveacat you're right, deprecation is not needed. Injecting `Access-Control-Allow-Origin` if the `__source_origin` header is present still makes sense.

[2019-07-09 08:52] Axos11 opened #23214 "Amp-Carousel-Slides "overflow when loop is enabled""
## What's the issue?

when i use a carousel as a slider on mobile and the loop="" attribute is enabled it depends on how fast you swipe if or if not one slide is skipped. so far not the biggest problem but, when you use this together with a trigger for a preview or progress dots like 'on="slideChange:AMP.setState({selectedSlide: event.index})"' then it is actually possible to break the function. I

[2019-07-09 10:09] lvberkum commented on #23128
Hi! I cannot reproduce the problem anymore, since a few days actually, I kept this open in case the problem would reappear. Any insight you might have would be more than welcome!

[2019-07-09 12:06] jidanni commented on #22967
Here:
![16478-1](https://user-images.githubusercontent.com/1230959/60886604-033a1900-a285-11e9-98aa-6631385ed683.jpg)

[2019-07-09 13:18] dritter commented on #23167
@zhouyx Thanks for your reply. If I understand you correctly, #11380 is specifically for visibility tracking. This Issue here is for submit tracking of multiple forms with the same selector. If this is fixed with your PR that would be awesome!

[2019-07-09 13:27] ithinkihaveacat opened #23217 "System layer missing from ads in desktop mode"
Desktop:

![Screenshot 2019-07-09 at 14 20 57 (1)](https://user-images.githubusercontent.com/51244/60891573-77f55f00-a255-11e9-955a-ad897a3e1868.png)

Mobile:

![plentifun com_how-to-make-bubbles-with-glycerin(Pixel 2)](https://user-images.githubusercontent.com/51244/60891631-965b5a80-a255-11e9-82d3-042e414fc46b.png)

URL is https://plentifun.com/how-to-make-bubbles-with-glycerin

/cc @calebcordry

[2019-07-09 13:52] #19751 closed

[2019-07-09 14:39] cvializ commented on #23029
At this time I do not : (

[2019-07-09 14:43] cvializ commented on #22435
Feel free to work on it! I think the `force` parameter should also check, since it should only apply to the toggle state and not the internal class check.

[2019-07-09 15:12] dritter commented on #23168
@zhouyx Indeed, this works around the problem. Will there be a proper fix implemented anyhow? We have our analytics config in one place at the moment. Or should be switch to a single file component approach and put our analytics config next to each component, resulting in a lot of amp-analytics configs scattered around. Btw. is there a max limit for amp-analytics configs?

[2019-07-09 15:41] choumx commented on #20447
This would be a pretty challenging (but super interesting) feature to add.

[2019-07-09 15:50] nainar opened #23222 "Improve hover menu experience via diagonal hover surface area"
E.g. a submenu where when you hover, the submenu appears, and you have to move your mouse exactly horizontally sideways to get onto the submenu, then vertically to make your selection. If you go on a diagonal the submenu disappears.

A better solution suggested by both @alanorozco and @alankent is that once the submenu appears draw diagonal lines from the current menu item bounding box up to the b

[2019-07-09 15:51] choumx commented on #17901
Documentation and tutorials have been added.

[2019-07-09 15:51] #17901 closed

[2019-07-09 16:28] alankent commented on #23222
Clearly this is a good idea for at least the Alan's in this world, right @alanorozco?

For UX advice on some of the issues please see https://baymard.com/blog/dropdown-menu-flickering-issue. There is also "diagonal mouse movement" advice here https://www.nngroup.com/articles/mega-menus-work-well/, including hover recommendations.

[2019-07-09 17:10] gmajoulet opened #23224 "Story hold to pause sometimes doesn't resume the animations."
Story hold to pause sometimes doesn't resume the animations.

[2019-07-09 17:14] cvializ commented on #23217
/cc @ampproject/wg-ads @ampproject/wg-stories

[2019-07-09 17:18] lannka commented on #23217
/cc @calebcordry

[2019-07-09 17:18] cvializ commented on #23151
/cc @ampproject/wg-caching @ampproject/wg-performance

[2019-07-09 17:24] Enriqe commented on #23217
Thanks for triaging @cvializ.

@calebcordry can confirm, but the fact the progress bar is missing while an ad is playing is WAI.

The only issue I see here is that the "Ad" badge isn't visible due to the white background of the ad page. @hongwei1990 might have an opinion on what to do here.

[2019-07-09 17:27] ivanionut opened #23225 "amp-auto-ads & Configuration Spec"
Hi,
I had [problems with amp-auto-ads](https://github.com/ampproject/amphtml/issues/23126) and would like to implement the amp-auto-ads configuration: https://amp.dev/documentation/components/amp-auto-ads#example-configuration

I didn't understand where I need to enter the json configuration code. Directly on the page _(head)_ like this?

[code]

Thanks,
Ivan

[2019-07-09 17:29] calebcordry commented on #23217
I agree with @Enriqe. This works on mobile because there is the gradient on top so you can still see the ad badge. This gradient doesn't exist on the desktop view. @hongwei1990 Should we give this badge some sort of outline or something for this case?

[2019-07-09 17:42] gmajoulet commented on #23217
If that helps, here's the `text-shadow` we usually set on white text that could potentially be displayed against a white background: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story.css#L973
We usually try to combine it with a small gradient though.

[2019-07-09 17:50] diantekyrie opened #23226 "Uncaught (in promise) Error: CANCELLED"
## What's the issue?

Error when swiping between articles produces `Uncaught (in promise) Error: CANCELLED`

## How do we reproduce the issue?

1. Opt into Canary
2. Open JavaScript console
3. Go to Google search for NBA
4. Select an article
5. Begin swiping between articles

## What browsers are affected?

macOSX Chrome Version 75.0.3770.100
Not reproducible in FireFox due to separate issue.

##

[2019-07-09 17:57] dianomi-mjs commented on #23094
cheers @lannka, I'll try the canary release tomorrow.
When are we looking at the fix hitting production - a week's time?

[2019-07-09 17:58] zhouyx commented on #23167
Ah you're right. #11380 is specifically for visibility tracking. Sorry about the confusion.

For custom trigger like 'amp-form-submit' we do support listening to event from multiple elements.

Our implementation looks like

[code]
So what you can do is to remove the `selector` from your config or set it to a parent div which contains both forms. Does that work for you? Thank you

[2019-07-09 18:24] zhouyx commented on #23226
I do see this error. Comes from `AmpA4A.checkStillCurrent()`. Looks like an expected issue where the promise chain got cancelled due to user swipe away.
cc @ampproject/wg-ads

[2019-07-09 18:33] dritter commented on #23167
Ha! That works. Thanks.

For the record, here is my markup that worked in the playground:
[code]

[2019-07-09 18:38] zhouyx commented on #23168
Glad to hear that it works. We've discussed this issue before in  #21727, one possible approach is to have the analytics update its selector on DOM update.

Re: multiple amp-analytics configs. Having analytics configs scattered or in one place doesn't affect performance much. So it's really up to publisher's preference. And there's no max limit for amp-analytics configs.

One thing I notice is tha

[2019-07-09 18:50] zhouyx commented on #23167
Great! Glad this works. I'm going to close the issue. Let me know if there's other question.

[2019-07-09 18:50] #23167 closed

[2019-07-09 18:57] dritter commented on #23168
Awesome! That even works with forms rendered via mustache! Small caveat: We cannot use that technique (removing the `selector`) for all forms, because they send different tracking informations (we had to implement the same form multiple times only once). That would be a great use case for additional infos via `data` attributes, if they would be checked on the originating form (AFAIK they are not).

[2019-07-09 19:54] alabiaga commented on #12994
Taking this up again. This will help unblock several partners and help with a launch.

[2019-07-09 20:12] cathyxz commented on #8447
This has been mitigated and documented by the work on automatically generating sizes, unfortunately we can't do anything about `sizes` changing the the size of the image due to backwards compatibility reasons.

[2019-07-09 20:12] #8447 closed

[2019-07-09 20:37] #21714 closed

[2019-07-09 20:59] zhouyx commented on #23072
Fix verified.

[2019-07-09 20:59] #23072 closed

[2019-07-09 21:02] sparhami commented on #14553
Just tested this out on Firefox Android and I was able to double tap, then pinch to zoom on https://preview.amp.dev/documentation/examples/components/amp-lightbox-gallery. Closing this since there does not appear to be an issue with this currently. We did make a few changes for the double tap gesture, they may have fixed this as a side effect.

[2019-07-09 21:02] #14553 closed

[2019-07-09 21:09] erwinmombay opened #23238 "Error parsing json encoded files"
This error occurs when we use `--pseudo_names` flag with `gulp dist`. Might possibly be a race condition because `--pseudo_names` has a different code path in CC or because it is a bit slower.

This is currently mitigated by using `MAX_PARALLEL_CLOSURE_INVOCATIONS = 1` in `compile.js`

[2019-07-09 21:50] rsimha commented on #23238
Ran into this for single pass (which uses `--pseudo_names` and tried solving it in #22040, but hit some issues. Will investigate a fix.

[2019-07-09 21:54] choumx commented on #22783
I'd like to discuss an optional, new placeholder/fallback behavior: #22704. Should take ~15 mins.

[2019-07-09 22:46] sparhami commented on #16860
Doing some research on what value of duration developers use, the vast vast majority use a value between 200 and 400ms. As a result, ignoring duration (with the exception of zero, which should disable the smooth scroll) is not a major problem.

[2019-07-09 23:04] erwinmombay commented on #23047
1907022322580 is now in prod

[2019-07-09 23:04] #23047 closed

[2019-07-09 23:09] zhouyx commented on #23017
Closed by #23100

[2019-07-09 23:09] #23017 closed

[2019-07-09 23:14] choumx commented on #21028
I think this is because of the use of a closure which doesn't bind to `this`. If you change it to a normal function it'll do the right thing:
[code]

[2019-07-09 23:14] #21028 closed

[2019-07-10 00:09] sparhami opened #23248 "Remove uses of Animation from runtime"
There are two uses of Animation in runtime:

1. Animating scrolling position:

https://github.com/ampproject/amphtml/blob/89ec76ce6d45deb6e86d097ecb4e9205786254f2/src/service/viewport/viewport-impl.js#L662-L671

2. Animating translate for fixed layer elements when a viewer header disappears:

https://github.com/ampproject/amphtml/blob/89ec76ce6d45deb6e86d097ecb4e9205786254f2/src/service/viewport/v

[2019-07-10 00:15] candice-womp opened #23249 "Add Bazaarvoice AMP Component"
A good number of AMP websites we have created utilize the Bazaarvoice reviews and questions and answers services for their non-AMP websites. Considering its presence, it would be ideal if AMP websites had a Bazaarvoice component available that would allow people to read, submit, filter, and vote on both reviews and questions and answers based on the Bazaarvoice API key and/or campaign ID being use

[2019-07-10 00:28] choumx commented on #23156
Dupe of #22371. Will be fixed by #23245 and https://github.com/ampproject/worker-dom/pull/569.

[2019-07-10 00:28] #23156 closed

[2019-07-10 06:49] demil opened #23252 "Swipe gestures"
Is there possibility to detect swipe event in amp on body or any other element and set desired event callback, just like on intersection observer for example?

[2019-07-10 10:03] cloudb opened #23254 "amp-accordion not working on IE11 & Edge"
## What's the issue?

As of sometime today the amp accordion component is no longer working in IE11 and Edge.
The following error appears in the console.

`failed to build: amp-accordion#24 SyntaxError`

Assume it's related to [this](https://github.com/ampproject/amphtml/pull/22755) PR which allows 'bind on [data-expand]' but also appears to have amended the integration test to skip Edge.

## How

[2019-07-10 13:09] ChrisAntaki commented on #23081
Fixed by #23212

[2019-07-10 13:09] #23081 closed

[2019-07-10 13:45] gilbertococchi commented on #20400
Hi all, any Bento AMP approach that will be available for components such as amp-subscription?

Rep Repubblica is measuring a really high TTI especially because of the late triggering of the amp-subscription module via shadow-amp.

[2019-07-10 14:35] jpettitt commented on #23181
We don't recommend doing this via `amp-subscriptions` `data` values.  With `amp-subscriptions` the data object will not be present when a secondary platform (eg `amp-subscriptions-google`) returns entitlements.

If you use `amp-list` and call the same endpoint the value will be available to `amp-list` templates and only one network call will be made as fetched resources are cached for the life of

[2019-07-10 14:52] vladdeev opened #23257 "I2I: <amp-embed type="insticator">"
## What we want to achieve
We’d like to add a new type to the `<amp-embed>` tag.
The desired name for the type is insticator: `<amp-embed type="insticator">`

### Expected Behavior
When implemented in AMP articles or sidebars this `<amp-embed type="insticator">` would embed our content enhancement unit. The unit is white labeled and serves quizzes and polls to better engage a publishers audience.

[2019-07-10 14:53] vladdeev commented on #22027
As suggested by @lannka we’ll continue with <amp-embed type=“insticator”>.
New i2i opened: #23257

[2019-07-10 14:53] #22027 closed

[2019-07-10 15:05] lannka commented on #23257
@vladdeev thanks for coming up with the alternative solution.

This looks good to me. One thing to keep in mind is that you will need to [resize](https://github.com/ampproject/amphtml/blob/master/ads/README.md#ad-resizing) the `amp-embed` after your ad is ready. The `resize` might be rejected though if amp-embed is already on the screen.

Alternatively, you would let pub reserve space for both ad

[2019-07-10 15:26] #21288 closed

[2019-07-10 17:01] diantekyrie opened #23258 "Cannot swipe through articles on FireFox 68.0"
## What's the issue?

Cannot swipe through articles on FireFox 68.0

## How do we reproduce the issue?

1. Open FireFox browser
2. Turn on Responsive Design Mode
3. Turn on Web Console
4. Search for something in Google, (I searched for NBA and presidential candidates)
5. Open an article, attempt to swipe through articles

Note: Swiping will skip to end of articles list and you cannot swipe to the

[2019-07-10 17:05] #23184 closed

[2019-07-10 17:36] kmturley opened #23259 "AMP validation error: The attribute 'height' may not appear in tag 'symbol'."
## What's the issue?

AMP says it supports SVG in the spec:
https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml#svg

But when using an SVG symbol for example:
https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol

It throws an error:
[code]

## How do we reproduce the issue?

Example here:
https://jsbin.com/mukisaf/edit?html,console,output

Steps to reproduce:
1. Create

[2019-07-10 18:23] gmajoulet opened #23260 "AMP linker not working with Stories bookend links."
AMP linker not working with Stories bookend links.

To repro:

1. Navigate to [this story](https://www.laroche-posay.fr/article/anthelios-story/amp-a36900.aspx)
2. Navigate to the last page of the story and click on the CTA.
3. GOOD: notice the `_gl` GET parameter that has been added to the URL by the AMP linker
4. Click on the link from the bookend
5. BAD: notice how this parameter has not been a

[2019-07-10 18:24] gmajoulet commented on #23260
cc @Enriqe do you have time to look into this?

[2019-07-10 20:43] #23101 closed

[2019-07-10 20:49] Pateriack commented on #21746
@newmuis In regards to your second point, does that imply that what you're exploring is to allow an iframe to take up the entire attachment?

What I'm looking for is the ability to embed a map at the top of the attachment content, with other content following underneath (which would be swipe-able).

[2019-07-10 20:57] choumx commented on #22783
### wg-caching update

https://github.com/ampproject/wg-caching/wiki/Status-Update-July-2019

### New placeholder/fallback behavior

- CSS layout is an issue since placeholder and fallback are both `position: absolute` and fill the bounds of the parent. Could fix this with an opt-in to change the CSS.
- Syntax: can add the opt-in attribute to the `[fallback]` element itself instead of the parent.

[2019-07-10 20:57] #22783 closed

[2019-07-10 21:04] mrjoro opened #23264 "Design Review 2019-07-31 20:00 UTC (wg-ads, new loaders, dynamic resizing)"
Time: [2019-07-31 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=07&day=31&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190731T200000Z/20190731T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-07-10 21:04] mrjoro opened #23265 "Design Review 2019-08-08 00:00 UTC (cancelled)"
Time: [2019-08-08 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=08&day=08&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190808T000000Z/20190808T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-07-10 21:04] mrjoro opened #23266 "Design Review 2019-08-14 15:30 UTC (Africa/Europe/western Asia)"
Time: [2019-08-14 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=08&day=14&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190814T153000Z/20190814T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-07-10 21:05] Enriqe commented on #23260
After debugging a little bit it looks like the bookend isn't forwarding the clicked target when the click event is fired. It passes the entire shadow DOM instead.

I'll change it so that the bookend forwards the clicked target correctly.

[2019-07-10 21:06] mrjoro commented on #23265
Cancelling as many of the regular attendees will be busy with an AMP Fixit Week.

[2019-07-10 21:06] #23265 closed

[2019-07-10 21:07] Enriqe commented on #23260
It looks like we were already trying to do this here:

https://github.com/ampproject/amphtml/blob/16f4ec184a7117859bb75e292fa364ad37c8203f/extensions/amp-story/0.1/amp-story-bookend.js#L516-L536

Investigating why it's not working.

[2019-07-10 21:17] #20517 closed

[2019-07-10 22:03] cvializ opened #23270 "form data contains submit buttons without name attributes"
Introduced in #21518

Related to #21498

[2019-07-10 22:04] choumx commented on #22410
@ithinkihaveacat Do you have any `amp-script` actions/events in mind other than plumbing `AMP.setState()` to the worker?

[2019-07-10 22:22] jarrett-pon commented on #11679
Does the `video-start` or `once: <true, false>` config exist currently?

[2019-07-10 22:47] Gregable commented on #23155
The change is now in the Google AMP Cache, and should be released soon.

[2019-07-10 22:47] #23155 closed

[2019-07-10 22:50] ithinkihaveacat commented on #22410
I was thinking of events too, so that, for example, a `select` event on `<amp-selector>` could be received by `<amp-script>`:

[code]

Is there any way for the script to listen for the `dosomething` event?

(Trying to test this again now, but running into the `amp-experiment-token` problem. Is there any way to get around that? Seems to want a token even for `localhost`.)

[2019-07-10 23:44] erwinmombay opened #23271 "🚄Release tracking issue for production release 1907091704050"
# Release tracking issue

- [x] Release [1907091704050](https://github.com/ampproject/amphtml/releases/tag/1907091704050) is cut as a new canary release
- [x] Release 1907091704050 pushed to dev channel (<CL submit time>)
- [x] Release 1907091704050 pushed to 1% (<CL submit time>)
- [x] Release [1907152257550](https://github.com/ampproject/amphtml/releases/tag/1907152257550) created with cherry pi

[2019-07-10 23:48] kmturley opened #23273 "Add additional amp-geo presets"
## Describe the new feature or change to an existing feature you'd like to see

Currently the <amp-geo> document describes how to add presets of countries to a page e.g.
[code]
https://amp.dev/documentation/components/amp-geo

However it only provides one preset:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/0.1/amp-geo-presets.js

Can we have presets to cover each continent

[2019-07-11 07:05] robinac30 commented on #23254
"Assume it's related to this PR which allows 'bind on [data-expand]' but also appears to have amended the integration test to skip Edge." - that's worrying - this is a supported browser no?

[2019-07-11 07:34] Madagar opened #23276 "amp-analytics: Triggers in Infonline html vs. image request"
## What's the issue?
@infonline

When i use <amp-analytics> with the type "infonline" the only thing what is working is the inital pageview track.

When i try to use trigger events like click or video i can not use the same request as before, because then came the message "Response unparsable or failed to send image request". This is because after the Link is a html File and not an Image.

## How

[2019-07-11 09:01] aferrandini commented on #23181
@jpettitt thank you for your answer.
We are trying with `amp-list` component fetching the same endpoint but we see at network profiler that both requests are happening been sent to our servers.
In fact, it has sense because the `amp-list` request must use `credentials` in order to get the user data and seems that in this case it isn't cached.

Here you can see how we are implementing `amp-list` an

[2019-07-11 10:21] Ahmed1832 opened #23277 "The author stylesheet specified in tag 'style amp-custom' is too long - document contains 251744 bytes whereas the limit is 50000 bytes."
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-07-11 11:40] Binipro commented on #21783
@alanorozco hiding the autoplay mask only doesn't solve the issue!

[2019-07-11 14:06] Sitanderkumar commented on #22688
thanks issue has been resolved, however performance is bit slow, now calendar take more time then previous.

[2019-07-11 15:07] choumx commented on #22410
The way AMP actions/events works is that `dosomething` would have to be invoked on the `amp-script` element itself:

[code]

And there's the question of what `dosomething` actually does. :) Is there a specific, higher level use case you had in mind? E.g. selecting an product on an e-commerce pages causes X.

Have you tried `AMP.toggleExperiment('amp-script')`?

[2019-07-11 15:41] lannka commented on #23094
@dianomi-mjs the canary was out yesterday, i just verified that the issue has been fixed on your test page:
https://www.dianomi.com/mjs/amp/one.epl?smartad_id=5001

It will hit prod next Tuesday on 7/16.

[2019-07-11 16:05] #22968 closed

[2019-07-11 16:09] rsimha opened #23278 "Bundle size is using a deprecated octokit API"
https://travis-ci.org/ampproject/amphtml/jobs/557031733#L345-L348

[code]

[2019-07-11 16:42] diantekyrie opened #23281 "AMP-Carousel icon numbers don't change when scrolling/swiping"
## What's the issue?

When swiping/scrolling through images the number icon doesn't identify which image you're on

## How do we reproduce the issue?

1. Opt into Canary
2. Go to webpage ([link](https://m.aliexpress.com/item/32898425649.html?pid=808_0000_0101&spm=a2g0n.search-amp.list.32898425649&aff_trace_key=&aff_platform=msite&m_page_id=4930amp-i-NUhnrXOPm9ijLvWkMEcQ1562861606115))
3. Open Web

[2019-07-11 16:47] rsimha commented on #23238
This is because of https://github.com/google/closure-compiler-npm/issues/9. A good workaround for AMP is to use `--pseudo_names` only for local debugging, which will allow us to increase closure concurrency on Travis.

[2019-07-11 17:26] erwinmombay opened #23283 "Add eslint rule that enforces reset of state on our babel transformers"
Module level and the exported function state in a babel plugin should be reset in a Program visitor.

This is because module level and the exported function are evaluated once when babel is loaded and this can cause hard to find bugs.

[2019-07-11 19:48] cvializ opened #23286 "amp-list-load-more loads more than 3 viewports away"
However, our pages seem to be preloading much more than that. It seems to try and load enough so that that current view is near the middle of the page.

[2019-07-11 19:52] cathyxz commented on #22041
Hi @CairnsPaul! Since there isn't clear documentation for this endpoint, and we do have a documented way for developers to configure `<amp-social-share>` with non-configured providers per my comment above, I'm going to close this issue for now. Feel free to reopen this issue or to resubmit #23160 if you need help or find the relevant Facebook developer documentation for that endpoint.

[2019-07-11 19:52] #22041 closed

[2019-07-11 20:28] Axos11 opened #23287 "amp-fx="fly-in-right" causes overflow-y enabled on safari (mobile)"
#23072  What's the issue?

I use amp-fx="fly-in-right" on images on my page and as long i use chrome on mobile everything is fine, but when i use safari on iphone (iphone 7 and XR) it seems to break the overflow-x:hidden. As soon i pass the section where the image flew in it is possible to scroll to the right on the whole page (https://bit.ly/2xIeMmf) . This issue is Visible on the amp by example

[2019-07-11 20:53] #12258 closed

[2019-07-11 20:53] #9847 closed

[2019-07-11 21:07] #23270 closed

[2019-07-11 21:08] cathyxz commented on #23128
Still can't repro unfortunately, feel free to reopen if the issue reoccurs.

[2019-07-11 21:08] #23128 closed

[2019-07-12 04:10] RuChuanLin opened #23291 "[amp-carousel] Is it possible for amp-carousel adapting Dynamic Scroll Distance"
## Issue

Hi, I am using AMP on my project and I am researching amp-carousel tag. Generally, it works fine. However, sometimes when I need to set the element not as wide as the amp-carousel container, and when I click the right arrow, the element inside it seemed to travel over than its width, so the total behavior seems to be weird. Here is the demo.

![bad](https://user-images.githubusercontent.

[2019-07-12 05:02] devnullzero commented on #23097
Probably related... :

[code]
Using an old browser:

[code]

[2019-07-12 08:40] gilbertococchi commented on #23254
@rudygalfi @aghassemi Can you please take a look at this issue?

Issue is reproducible by browsing https://amp.dev/documentation/examples/components/amp-accordion/preview/?format=websites on Desktop Edge.

Screenshot below

![Screenshot 2019-07-12 at 10 39 09](https://user-images.githubusercontent.com/329023/61114807-66000000-a491-11e9-94b7-7ce9332e7950.png)

[2019-07-12 11:49] yogurito commented on #17997
Is the fix already deployed? We still see this error message in console.

[2019-07-12 13:37] aghassemi commented on #23254
@kristoferbaxter, this is a regression. Likely due to use of Mutation observer in the PR reference above. Regression is usually treated as somewhere between P0 and P1. I suggest patching the canary that is going to prod next week with a fix.

[2019-07-12 16:04] alexandr-kazakov opened #23295 "AMP4EMAIL: data from amp-list does not appear in gmail"
**Type: Discussion/Question**

## What's the issue?

Data from amp-list does not appear in gmail. I use the Sparkpost service to send, the amp-email itself is displayed in my gmail, but the data from the amp-email is not displayed, instead it is just an empty space.
It seems that correctly I register CORS-headers, but for some reason all the same does not work.

## How do we reproduce the issue?

[2019-07-12 16:08] slocka opened #23296 "Cloudflare AMP validator API not working"
##  What's the issue?

Cloudflare AMP validator API doesn't validate properly.
Issue initially reported here: https://community.cloudflare.com/t/amp-validator-false-result-with-amp-skimlinks-component/97413

Cloudflare AMP validator raises errors on valid pages. The issue in the link above mentions amp-skimlinks but this doesn't seem to be directly related to the amp-skimlinks extension.

## How d

[2019-07-12 16:12] gustavopaes commented on #22637
Maybe need to update here too?
https://cdn.ampproject.org/v0/amp-web-push-helper-frame.html

Following the documentation, I still get error:
https://amp.dev/documentation/components/amp-web-push

AMP Version 1907022322580

![Screenshot from 2019-07-12 13-11-34](https://user-images.githubusercontent.com/227400/61142654-a74eda80-a4a6-11e9-91da-913140a9be0f.png)

[2019-07-12 16:26] rsimha commented on #22637
The last PR to touch that code was #22839.

@erwinmombay Can you take a look?

[2019-07-12 16:36] cathyxz commented on #23286
Closed by https://github.com/ampproject/amphtml/pull/23288.

[2019-07-12 16:36] #23286 closed

[2019-07-12 16:36] #19281 closed

[2019-07-12 17:42] erwinmombay commented on #22637
looking

[2019-07-12 19:45] lannka commented on #21340
Announced here: https://groups.google.com/forum/m/#!topic/amphtml-announce/_CU2TF1bpfM

[2019-07-12 20:50] virgiltu opened #23300 "AMP sidebar mobile bug?"
you can check out my test site at http://cleardeal.com/

Using chrome on IOS the page will refresh when you close the sidebar
Using Safari on IOS it will work just fine
Using any desktop browser it will also work OK.

Any ideas?

[2019-07-12 21:00] virgiltu opened #23302 "Page fails validation for amp elements"
I am a bit confused. Maybe I am doing something wrong. Here s my validation report

Please disregard the CSS failure.

Validation fails saying that JavaScript is not allowed. But it tags the JS failed from amp and fontawsome.  Lower is fails that these modules are required. The files do load as the website works so what is the issue?

[https://search.google.com/test/amp?utm_source=gws&utm_medium=o

[2019-07-12 21:17] virgiltu opened #23303 "Rich page transitions e.g. swup.js"
Have you guys seen https://swup.js.org/

This thing is amazing and honestly I would love to see this in amp. It really makes a website feel instant and more app like.

One of the best plugins is the preload one. This made some of our sites super fast. If not the entire thing we at minimum need this plugin.
https://swup.js.org/plugins/preload-plugin

[2019-07-12 21:29] virgiltu opened #23304 "Material Design Icons?"
Ok so there are no more icons supported for amp as the current moment.

Typography.com: https://cloud.typography.com   -- NO Icons
Fonts.com: https://fast.fonts.net   -- NO Icons
Google Fonts: https://fonts.googleapis.com  -- NO Icons
Typekit: https://use.typekit.net   -- NO longer a working project
Font Awesome: https://maxcdn.bootstrapcdn.com, - CDN changed to stackpath.bootstrapcdn.com
 https:/

[2019-07-12 22:44] lannka opened #23307 "Have binary size check for amp4ads-v0.js"
As to ensure the success of the inabox-lite project #22867, we would like to monitor the binary size for amp4ads-v0.js in the same way as v0.js.

@rsimha is this something your team can help? Thanks

[2019-07-12 22:54] rsimha commented on #23307
Assigning to @danielrozenberg.

@lannka I assume you're interested in the `brotli` compressed size? (See related issue #21275)

[2019-07-12 23:14] lannka opened #23311 "I2I: Refactor & remove resources service from amp4ads runtime"
The plan is
- [x] Refactor resources-impl.js, reduce the number of its public methods.
- [x] Extract interfaces: `ResourcesDef`, `OwnersDef`, `MutatorsDef`. In future, we can split them to 3 services.
- [x] Provide a light-weight impl of the interface in amp4ads runtime.

This is a subtask of #22867

[2019-07-13 00:06] bburbach commented on #23170
I know the original Pinterest demo AMP email shown below used `amp-lightbox` to show more detail on clicked items. And we were evaluating some use cases that do something similar.
[https://www.youtube.com/watch?v=Ghx9uxvusrE](url)

[2019-07-13 00:20] lannka commented on #23307
@rsimha yep, that sounds better. Thanks!

[2019-07-13 02:01] #23300 closed

[2019-07-14 20:12] wille commented on #17943
Also requesting this feature so we can have proper iframe support.

[2019-07-15 05:59] alanorozco commented on #21783
My bad, reopening.

[2019-07-15 06:24] ankikala commented on #23166
@lannka Sorry for the late reply.
Integrating with "amp-link-rewriter" won't suffice the usecase. The script is also responsible for analytics on the page.

Same script has also been used in https://github.com/ampproject/amphtml/blob/master/ads/a9.md

[2019-07-15 07:26] cloudb commented on #23254
Is this going to be resolved in time for the upcoming release?  If this is somewhere between a P0 and P1 can it be labelled as so to ensure someone takes a look at it?

[2019-07-15 11:07] bruce7075 opened #23318 "too many redirect"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-07-15 11:09] bruce7075 commented on #23318
Hi,

I change the settings from Reader to Standard. After this change, my store products all show TOO MANY REDIRECTS errors. I have cleared all cookies and still the same.

Please HELP!!!

Bruce

[2019-07-15 11:50] itsmsc commented on #23097
Probably related... :
`Error: An invalid or illegal string was specified.
    at https://cdn.ampproject.org/v0/amp-accordion-0.1.js:17:342
    at Array.forEach (native)
    at S.push.f.S.buildCallback (https://cdn.ampproject.org/v0/amp-accordion-0.1.js:15:200)
    at https://cdn.ampproject.org/v0.js:267:336
    at Cc (https://cdn.ampproject.org/v0.js:45:283)
    at new zc (https://cdn.ampproject.o

[2019-07-15 13:57] mrjoro commented on #22785
The Access & subscriptions Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-access-subscriptions @jpettitt

[2019-07-15 13:58] mrjoro commented on #23264
The Ads Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-ads @lannka

[2019-07-15 13:59] mrjoro commented on #23266
The AMP4Email Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-amp4email @choumx

[2019-07-15 14:11] #23121 closed

[2019-07-15 16:27] joezimdelta opened #23324 "Not a bug with AMP itself, but the website"
The Amp-Analytics page is broken: https://amp.dev/documentation/components/amp-analytics/?format=websites

See https://www.screencast.com/t/VHca1oTYb

[2019-07-15 16:31] GrizzlyEnglish opened #23325 "Allow multiple link-rewriter configs"
## Describe the new feature or change to an existing feature you'd like to see

Allow for the amp-link-rewriter to be configured for multiple input/output objects. This would allow for more customization for sites with multiple vendors.

Currently the amp-link-rewriter is expecting a singular config and throws error if missing output. If the rewriter is updated to take an array of configs, then th

[2019-07-15 18:22] sparhami commented on #23281
It looks like the problem is actually with amp-bind, this is potentially affecting a large number of sites. I do not think we should release a new version until this has been investigated / fixed.

@kristoferbaxter Lets hold off on releasing.

[2019-07-15 18:27] #23278 closed

[2019-07-15 18:31] sparhami commented on #23281
@choumx Can you take a look to see why the binding is not being applied on canary/RC? The `slideChange` event is being fired correctly.

[2019-07-15 18:54] choumx commented on #23281
Great find. This is caused by #22938 on this line: https://github.com/ampproject/amphtml/blob/9f13b9aa14f07630dcba6a98a1a13d1e40711054/extensions/amp-bind/0.1/bind-impl.js#L862

If the ternary condition is true but there's no next sibling, the tree walker gets stuck on that node. It should be: `walker.nextSibling() || walker.nextNode()`

[2019-07-15 18:56] nainar commented on #23254
Hi folks,

I have marked this issue as a P0. Sorry this has gotten to prod pages.

@cvializ could you provide an update here when you have a handle on the issue? Thank you!

[2019-07-15 19:04] cvializ commented on #23254
Found root cause and opened PR #23328

[2019-07-15 19:08] candice-womp opened #23329 "[RC Channel] amp-bind on tap events unable to set amp-state"
## What's the issue?

Elements that are direct children of the body or are descendants of direct children of the body are unable to set an amp-state on tap.

## How do we reproduce the issue?

Example URL: https://amp.luckyvitamin.com/
Make sure that RC Channel is active in order to reproduce the issue.

After the page has loaded click on the Menu button in the header. This menu button has two on

[2019-07-15 19:37] #23254 closed

[2019-07-15 20:33] alabiaga opened #23332 "Browser Developer Console only supports AMP spec format"
The browser developer console validation via `#development=1 ` in URL always defaults to the "AMP" spec. It does not respect the format specified on the html tag. e.g. ⚡4email, ⚡4ads

[2019-07-15 20:49] cvializ opened #23334 "🌸 Cherry-pick request for #23254 into prod 1907022322580 and canary 1907091704050"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23254 | #23328 | Y | Y (not sure, yes? @erwinmombay can you answer?) | https://github.com/ampproject/amphtml/issues/23271 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/amppr

[2019-07-15 21:01] #23224 closed

[2019-07-15 21:38] choumx opened #23338 "🌸 Cherry-pick request for #23281 into #23271 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #23281 | #23333 | **NO** | **YES** | #23271 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-07-15 22:04] cathyxz commented on #23324
Thanks for letting us know! I filed this as https://github.com/ampproject/docs/issues/2498 with our docs repo instead. That's the repository for amp.dev.

[2019-07-15 22:04] #23324 closed

[2019-07-15 22:25] #23281 closed

[2019-07-15 22:25] choumx commented on #23338
/to @dvoytenko

[2019-07-15 22:40] jridgewell commented on #23334
/to @dvoytenko

[2019-07-15 23:20] nainar opened #23340 "Moving elements for fixed layer can prevent CSS selectors from working"
https://www.hiscox.com/amp/small-business-insurance/

See the following screenshot, which shows the phone number of a popup getting cut off, along with text above the button. It appears 5 seconds after page load using amp-animation.
![image](https://user-images.githubusercontent.com/7919520/61255144-3b75a780-a71c-11e9-877c-19d43defd7ff.png)

The expected behavior is visible on their hosted AMP pag

[2019-07-15 23:41] candice-womp commented on #23329
We are also seeing issues with amp-bind where bindable attributes are not listening to the amp-state whenever it changes.

Example: predictive search does not work at https://amp.raise.com

[2019-07-15 23:54] choumx commented on #23329
Thanks for the report. I confirmed this is the same root cause as #23281 and is fixed by #23333. We'll patch the RC tomorrow before promoting it to prod.

[2019-07-16 01:06] noodles opened #23342 "500 Error on AMP Email about page"
I was trying to access the [AMP Email About page](https://amp.dev/about/email/).

The page says:

The [cached version](https://webcache.googleusercontent.com/search?q=cache:jxMLzMDnTsAJ:https://amp.dev/about/email+&cd=4&hl=en&ct=clnk&gl=au) is visible so I think someone might have broken something in a recent release of the website

[2019-07-16 03:59] noodles commented on #23342
The following pages are also facing the same issue:

- https://amp.dev/about/ads/
- https://amp.dev/about/stories/
- https://amp.dev/documentation/tools/?format=websites

All other menu bar & footer links appear to be working

[2019-07-16 05:35] himanshu-myupchar commented on #22637
Hi! Is this resolved ?

[2019-07-16 05:47] westonruter commented on #22855
@wassgha I'm noticing something unexpected where the title of the video flashes momentarily when the video loops. For example, try this:

[code]

[2019-07-16 12:06] Madagar commented on #13753
Would be great to have this feature.

[2019-07-16 15:38] gaborszita commented on #20959
Didn't the public key expire?

[2019-07-16 16:53] #23260 closed

[2019-07-16 17:24] dvoytenko commented on #23334
Approved

[2019-07-16 17:24] dvoytenko commented on #23338
Approved

[2019-07-16 17:38] jpettitt commented on #23181
Hmm, that makes sense.  My concern about adding this to `amp-subscriptions` is that it will not work as expected if a secondary authorizer (eg `amp-subscriptions-google`) is used.   Specifically if the user has a linked account it's likely the `amp-subscriptions-google` entitlement will arrive first and the data object may not be available as expected.

The secondary issue is page jump.  `amp-list

[2019-07-16 17:38] jpettitt commented on #23181
cc @dvoytenko

[2019-07-16 17:44] erwinmombay commented on #23334
@cvializ if its P0, then yes RC needs to be patched (it is essentially in step with canary)

[2019-07-16 17:46] cathyxz commented on #23342
Thanks for letting us know! Based on the filing of https://github.com/ampproject/amp.dev/issues/2510 and the current state of all the pages referenced, I think @sebastianbenz and folks have already fixed this. But if any further issues arrive with amp.dev, you can let us know here: https://github.com/ampproject/amp.dev/issues. =)

[2019-07-16 17:46] #23342 closed

[2019-07-16 18:08] aferrandini commented on #23181
First of all, thanks for the answer @jpettitt

For us, making two calls it's not exactly a problem, but we have to think that we're handling a huge AMP traffic in our sites (~25 online medias and some online magazines). In this case, doubling the call will change our auth service systems requirements and this makes us to almost double the scale of the system of our service just to handle this two

[2019-07-16 18:11] dvoytenko commented on #23334
+1 on RC patch

[2019-07-16 18:11] jridgewell opened #23352 "Store configuration objects as JSON"
## Describe the new feature or change to an existing feature you'd like to see

Large JSON-like configuration objects (eg, [vendors.js](https://github.com/ampproject/amphtml/blob/master/ads/_config.js) or [ads config.js](https://github.com/ampproject/amphtml/blob/master/ads/_config.js)) should be stored as JSON and parsed before use.

## Additional context

Parsing a configuration object from JSON

[2019-07-16 18:14] jridgewell commented on #23334
We're going to patch RC, then promote that to production.

[2019-07-16 18:15] #23104 closed

[2019-07-16 18:15] #23083 closed

[2019-07-16 18:16] #22937 closed

[2019-07-16 18:16] #22793 closed

[2019-07-16 18:32] lannka commented on #23352
@jridgewell can you confirm this is all ready in all browsers? I remember we hit an issue here: https://github.com/ampproject/amphtml/issues/13288#issuecomment-372777160

[2019-07-16 18:36] erwinmombay commented on #22637
@gustavopaes @nawazMoEngage @himanshu-myupchar can any of you give me a live link to replicate the code. appreciate it

[2019-07-16 18:56] jridgewell commented on #23352
The chome canary fix has been live for almost a year. But that was specific to memory impact (we were expecting better memory usage). What we've not considered before is how much more efficient it is to parse and execute, which is [consistently faster](https://github.com/GoogleChromeLabs/json-parse-benchmark#analysis) in all browsers.

[2019-07-16 19:00] mrjoro commented on #22784
The Viewers WG provided a written update.

Since there are no other topics we will not have a video conference this week.

[2019-07-16 19:00] #22784 closed

[2019-07-16 19:20] gustavopaes commented on #22637
@erwinmombay here:
https://www3.uol.com.br/gpaes/amp-web-push/index.htm

Both `helper-iframe.html` and `permission-dialog.html` files I got here:
https://amp.dev/documentation/components/amp-web-push

[2019-07-16 19:28] choumx commented on #23329
Verified this is fixed in [1907152257550](https://github.com/ampproject/amphtml/releases/tag/1907152257550).

[2019-07-16 19:28] #23329 closed

[2019-07-16 20:08] rsimha commented on #17538
We no longer recommend `nvm` on windows

[2019-07-16 20:17] rsimha commented on #10223
Assigning to the UI team to triage

[2019-07-16 20:17] rsimha commented on #20044
I think this can be covered by E2E tests now. @prateekbh Can you comment?

[2019-07-16 20:18] #19457 closed

[2019-07-16 20:19] #18662 closed

[2019-07-16 20:23] rsimha commented on #19620
@jridgewell is working on this

[2019-07-16 20:24] rsimha commented on #15328
This is done. We use `version()`

[2019-07-16 20:24] #15328 closed

[2019-07-16 20:26] rsimha commented on #23034
This hasn't reared its head recently.

[2019-07-16 20:26] #23034 closed

[2019-07-16 20:33] prateekbh commented on #20044
Yes, I had a conversation around the same and definitely looks like this can be done via e2e tests

[2019-07-16 20:52] jridgewell commented on #17997
The fix is still waiting to go out into experiment phase. We'll be doing that sometime this quarter.

[2019-07-16 21:11] sanchezedgar opened #23356 "amp-ima-video: browser freezes after pre-roll ad plays"
## What's the issue?

`amp-ima-video` with pre-roll ads will freeze browser tab when network conditions are poor. The tab freezes right about when the regular video starts to play after the pre-roll. You can see the moment right after the pre-roll ad that the CPU climbs up to 100%:
![Screen Shot 2019-07-16 at 1 41 15 PM](https://user-images.githubusercontent.com/1435153/61332064-4e0de080-a7f1-11e9

[2019-07-16 21:21] jridgewell commented on #19620
https://github.com/ampproject/amphtml/pull/23327

[2019-07-16 21:21] #19620 closed

[2019-07-16 21:24] #23154 closed

[2019-07-17 10:20] dzuendorf opened #23365 "amp-ima-video in amp-carousel: video did not pause on swipe"
The amp-ima-video did not pause on swipe/ slide change in an amp-carousel. The amp-video works fine.

Here is an code example testet in AMP Playground:

[code]

## What browsers are affected?

Testet in Chrome and Safari.

[2019-07-17 12:48] jawadst commented on #17742
@zhouyx
Some of our publishers' pages are failing AMP validation with the message `The tag 'meta name=amp-consent-blocking' is missing or incorrect, but required by 'amp-consent [type]'.`
There seems to be a new constraint that was recently added on the meta tag (https://github.com/ampproject/amp-wp/issues/2551). I can see a mention of it on https://github.com/ampproject/amphtml/blob/master/extens

[2019-07-17 13:53] oliverfernandez opened #23367 "I2I: amp-ad always show fallback element when no ad available"
## Summary
`amp-ad` element supports a fallback child element, that is shown only when these two conditions are met
- No Ad available
- The attempt to collapse the `amp-ad` element fails

The proposal is to add a new attribute to `amp-ad` element, called `data-on-no-content` to give more control how the `amp-ad` behaves when no Ad is available.

For now, the only value supported by this attribute

[2019-07-17 13:57] Stefany93 commented on #13527
Thank you for sharing your solution @sryze

[2019-07-17 13:59] oliverfernandez commented on #23367
Pull request opened with an implementation proposal

[2019-07-17 13:59] alexandr-kazakov commented on #23295
I figured out what the problem was. Sorry to take your time, it was a simple question.
If someone is interested, then below I share the solution.

CORS Headers had to be added not to the service for mailing(I use sparkpost), but to the server so that it would send a response when requested from gmail. More information: https://developers.google.com/gmail/ampemail/security-requirements

For my exam

[2019-07-17 13:59] #23295 closed

[2019-07-17 14:14] ankikala commented on #23166
@lannka @choumx I've raised the pull request. Could you guys take a look please?

[2019-07-17 14:36] Joelsz commented on #20703
Is there a working example of this somewhere?

I tried it and it doesn't seem to expand or to add the `expanded` attribute when the `[data-expand]` evaluates to true. Is this the expected behavior?

[2019-07-17 15:45] Stefany93 commented on #23304
I just go to Material Icons and download the `svg` icons to add them to my pages.

[2019-07-17 15:49] virgiltu commented on #23304
I mean I found a work around also by adding individual ones, just annoying that none of the options on the project work.

It also sucks because what if the company has their own font? I can’t use it because it is not hosted on the whitelisted services. :/

[2019-07-17 15:52] RedhatPH8 opened #23370 "Edge Browser navbar"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-07-17 16:03] L42y opened #23371 "Feature Request: Pull to Refresh"
## Describe the new feature or change to an existing feature you'd like to see
[Pull to Refresh](https://en.wikipedia.org/wiki/Pull-to-refresh) is a popular UI pattern

### A clear and concise description of what you want to happen.
I would like to see an implementation letting me refreshing page's data such as those in `amp-list`

## Describe alternatives you've considered
I've googled to see if

[2019-07-17 16:43] zhouyx commented on #23367
Current behavior: attempt to collapse -> provided fallback -> default fallback. With the exception that sticky ad and flying carpet ad always collapse.

Personally I'm fine with the proposal as long as the fallback is not another `<amp-ad>` component.

to @ampproject/wg-ads

[2019-07-17 16:56] jridgewell opened #23372 "🚄 Release tracking issue for production release 1907161745080"
# Release tracking issue

- [x] Release [1907161745080](https://github.com/ampproject/amphtml/releases/tag/1907161745080) is cut as a new canary release
- [x] Release 1907161745080 pushed to dev channel (4:31 PM, Jul 17, 2019 UTC-4)
- [x] Release 1907161745080 pushed to 1% (7:11 PM, Jul 17, 2019 UTC-4)
- [x] Release 1907161745080 pushed to production (3:02 PM, Jul 23, 2019 UTC-7)

See the [release

[2019-07-17 18:10] choumx commented on #23166
+1 to integrating with `amp-link-rewriter`. Analytics should interface with `amp-analytics`.

[2019-07-17 18:32] Stefany93 commented on #23304
@virgiltu , have you tried using `amp-font` for custom fonts ?

[2019-07-17 19:52] erwinmombay commented on #22637
@gustavopaes could you update the amp-web-push-helper-frame html file with the latest from view-source:https://cdn.ampproject.org/v0/amp-web-push-helper-frame.html and see if that fixes the problem?

it looks like there is a bit of disconnect here since the html source is supposed to be copied. I'll talk to @rsimha to see if theres anything we can do about this

[2019-07-17 20:00] #21898 closed

[2019-07-17 20:04] gustavopaes commented on #22637
@erwinmombay updating and working.

[2019-07-17 20:22] choumx commented on #23318
This doesn't seem relevant to AMP.

[2019-07-17 20:22] #23318 closed

[2019-07-17 20:25] choumx commented on #23304
+1 to what @Stefany93 said.

For fonts: https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/custom_fonts/

[2019-07-17 20:25] #23304 closed

[2019-07-17 20:25] torch2424 opened #23376 "amp-experiment: Document when/how VARIANTS variable in Analytics becomes 'none'"
On the current documentation page: https://amp.dev/documentation/components/amp-experiment/

It has no mention of 'none'. This was noticed by a client, and fix this.

[2019-07-17 20:27] choumx commented on #23303
@ampproject/wg-ui-and-a11y

[2019-07-17 20:29] choumx commented on #23302
There are typos in the script tags:
[code]
https://validator.ampproject.org/#url=http%3A%2F%2Fcleardeal.com%2F

[2019-07-17 20:29] #23302 closed

[2019-07-17 20:31] choumx commented on #23277
https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/?format=websites#maximum-size

[2019-07-17 20:31] #23277 closed

[2019-07-17 20:32] choumx commented on #23259
@ampproject/wg-caching

[2019-07-17 20:33] choumx commented on #23252
What's your intended use case?

[2019-07-17 20:36] choumx commented on #23190
Can you share an example of CSS that's affected by this bug?

[2019-07-17 20:50] Gregable commented on #23259
It looks like `width` and `height` were added to that document in October 2018:

- https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol$revision/1371828
- https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol$revision/1422709

They should be added to the AMP spec as well.

[2019-07-17 20:54] zhouyx commented on #17742
@jawadst Thank you for reporting. That's is an expected behavior.

The `amp-consent-blocking` meta tag is required if a publisher is working with a CMP using amp-consent component.

The meta tag serves the same purpose as the `data-block-on-consent` attribute. Except that it applies the rule to all components with that tag name.

For example
`<meta name=amp-consent-blocking content=amp-ad>` blocks

[2019-07-17 21:03] dvoytenko opened #23379 "Launch and cleanup ios-scrollable-iframe experiment"
See https://bugs.webkit.org/show_bug.cgi?id=149264

Also see b/137776580.

[2019-07-17 21:20] saitho commented on #23190
media queries

Live validator says:

The validator via NPM package does not report that.

[2019-07-17 21:24] choumx commented on #23303
Deduping with #12981.

[2019-07-17 21:24] #23303 closed

[2019-07-17 21:27] virgiltu commented on #23303
Thank you

[2019-07-17 21:29] choumx commented on #6229
Closing since this is now possible per https://github.com/ampproject/amphtml/issues/6229#issuecomment-408954289.

[2019-07-17 21:29] #6229 closed

[2019-07-17 21:29] cvializ commented on #23303
Thanks for triaging @choumx!

[2019-07-17 21:32] virgiltu commented on #23303
@chroumx what about preloading internal links? Is that something? I think the only thing I seen is if the page has three children that it will load these. But what about if I have a page with products and I want the site to preload the product on hover

[2019-07-17 21:38] sparhami commented on #23340
The animations themselves are working just fine.

The positioning is due to the fixed layer handling moving elements. More specifically, the header bar is moved from the current location into the duplicated body. This prevents the following CSS rule from working correctly:

[code]

The sibling selector no longer works since the `.ampstart-headerbar` has been moved to a different DOM subtree. I'm n

[2019-07-17 21:41] sparhami commented on #23340
@nainar We can't actually fix this issue, but we can perhaps document it. There is also no way for us to validate which sibling selectors `+` or `~` will be impacted by this issue.

[2019-07-17 21:54] choumx commented on #8215
Per the WebKit thread, looks like they've marked this behavior as WAI. Closing since postMessage remains necessary.

[2019-07-17 21:54] #8215 closed

[2019-07-17 21:57] choumx commented on #14889
Closing as obsolete.

[2019-07-17 21:57] #14889 closed

[2019-07-17 21:59] jawadst commented on #17742
@zhouyx
That makes sense, thanks for the explanation.
The main caveat is that vendors (and, in particular, IAB vendors), are expected to read the consent string in JavaScript so you will have websites that do not explicitly block anything with a `meta` tag or a `data-block-on-consent` attribute but still use a CMP for IAB vendors. I don't think that a page that lacks the `meta` tag is always inval

[2019-07-17 22:03] #19977 closed

[2019-07-17 22:03] #19657 closed

[2019-07-17 22:05] nainar commented on #23303
Hi @virgiltu thanks for sending this through - let's chime in on the linked issue since that is the page where we are gathering product requirements?

[2019-07-17 22:06] erwinmombay commented on #22637
@nawazMoEngage @himanshu-myupchar could you ya'll also try and update the helper frame html and see if it works?

[2019-07-17 22:08] choumx commented on #16128
Closing as obsolete.

[2019-07-17 22:08] #16128 closed

[2019-07-17 22:17] zhouyx commented on #17742
Thank you for clarifying.

When you mentioned vendor, I believe you're referring to the ad vendor. As you said some ad vendors choose to only read the consent string, but not have them blocked by the consent. The behavior can be overwritten by vendors. For example, adsense has the `consentHandlingOverride: true,` in their config, so `<meta name=amp-consent-blocking content=amp-ad>` won't be able t

[2019-07-18 05:05] devhelper commented on #18862
How to solve this JS error?

[2019-07-18 06:05] oliverfernandez commented on #23367
@zhouyx Thanks!

What problem do you see by having another `<amp-ad>` as fallback?

[2019-07-18 07:28] amitchauhan5991 commented on #14928
Hello, can you help me how to remove it  **i-amphtml-sizer** padding
![amp](https://user-images.githubusercontent.com/53036123/61437848-ad87ff80-a95b-11e9-99f0-2d4eb3101445.PNG)
****

[2019-07-18 10:41] stoneshower commented on #16605
Hello, let me ask you about the situation since I need to the feature for my page.
Does amp-carousel already support RTL, if so if there a documentation how to implement?
Or is the feature under development?
Thank you in advance :)

[2019-07-18 12:54] himanshu-myupchar commented on #22637
No still not working

[2019-07-18 13:11] demil opened #23396 "scrollTo() doesn't work in fixed element"
Here is pen:

[https://codepen.io/anon/pen/GVRxYz](https://codepen.io/anon/pen/GVRxYz)

Scroll to top event dont work inside fixed element.

[2019-07-18 14:12] fstanis opened #23398 "Align component documentation with AMP for Email spec"
It seems the component documentation generally doesn't take into account AMP for Email restrictions, e.g. `[src]` not allowed in `amp-img` (#23165) or `src` not allowed in `<amp-state>` ([SO question](https://stackoverflow.com/questions/57094275/is-src-attribute-allowed-in-amp-state/57096427)) which is causing confusion for users.

Would be good to review [the supported components](https://amp.dev

[2019-07-18 14:12] fstanis commented on #23398
@CrystalOnScript, do you think you could pick this up?

[2019-07-18 14:36] eduardogoncalves commented on #22527
related to #12360

[2019-07-18 15:05] jawadst commented on #17742
@zhouyx
I wasn't aware that you could have a `<meta name=amp-consent-blocking content>` tag. I think that works fine in this case. More documentation on this tag that we could refer our clients to would be appreciated but the principle works well :)

Thanks for your help!

[2019-07-18 17:43] sparhami commented on #16605
Does amp-carousel already support RTL, if so if there a documentation how to implement?
Or is the feature under development?
Thank you in advance :)

amp-carousel currently has a few issues in RTL mode (see https://github.com/ampproject/amphtml/issues/16605#issuecomment-403974974 above) . We are working on releasing a version 0.2 that will fix those issues.

[2019-07-18 18:28] CrystalOnScript commented on #23398
@fstanis You can assign it to me, but I have a few other high priority things in the pipeline. An SME might be better for this if you're in a rush.

[2019-07-18 19:10] newmuis commented on #22816
This is a duplicate of #21898, which was just fixed.

[2019-07-18 19:10] #22816 closed

[2019-07-18 19:19] newmuis commented on #15601
This was fixed as part of #22684.

[2019-07-18 19:19] #15601 closed

[2019-07-18 19:21] newmuis commented on #18458
This is obsolete, as we have deprecated this UI.

[2019-07-18 19:21] #18458 closed

[2019-07-18 19:22] newmuis commented on #18937
We now actively do not want this; MediaSession API will open some browser behaviors we don't want, like Chrome's [global media controls](https://www.theverge.com/2019/7/6/20684353/google-chrome-global-media-controls-play-button-pause-experimental-test-canary)

[2019-07-18 19:22] #18937 closed

[2019-07-18 19:24] newmuis commented on #13481
Since grid is supported by 93% of browsers, I don't think this will be worth the maintenance cost.

[2019-07-18 19:24] #13481 closed

[2019-07-18 19:32] demianrenzulli opened #23402 "Extend support for RUM metrics in AMP Pages"
## Describe the new feature or change to an existing feature you'd like to see

Allow to collect more Real User Monitoring metrics from AMP Pages.
Currently, there are many available [Performance metrics](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#performance) as amp-var-substitutions.

It would be useful to count with a broader set (like the metrics described

[2019-07-18 19:35] newmuis commented on #21325
We've taken the approach of adding a new trigger (`story-last-page-visible`) that is triggered when the user has arrived on the last page, which you can use for completion rates.  In the future, we may also provide ranges (e.g. 0%, 25%, 50%, 75%, 100%), since those can be provided accurately.

We don't want to unnecessarily inflate completion rates, so we don't want to change `storyProgress` from

[2019-07-18 19:35] #21325 closed

[2019-07-18 19:41] newmuis commented on #12182
This was done in #20238 and #20777, although it exists behind the `amp-story-branching` experiment, which is not yet launched.

[2019-07-18 19:41] #12182 closed

[2019-07-18 19:42] newmuis commented on #12183
This is all implemented behind the `amp-story-branching` experiment, but not yet launched.

[2019-07-18 19:42] #12183 closed

[2019-07-18 19:45] mrjoro opened #23403 "Design Review 2019-08-21 20:00 UTC (Americas)"
Time: [2019-08-21 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=08&day=21&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190821T200000Z/20190821T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-07-18 19:45] mrjoro opened #23404 "Design Review 2019-08-29 00:00 UTC (Asia/Oceania)"
Time: [2019-08-29 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=08&day=29&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190829T000000Z/20190829T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-07-18 19:45] mrjoro opened #23405 "Design Review 2019-09-04 15:30 UTC (wg-outreach)"
Time: [2019-09-04 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=09&day=04&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190904T153000Z/20190904T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-07-18 19:46] mrjoro commented on #23403
The Analytics Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-analytics @zhouyx

[2019-07-18 19:47] mrjoro commented on #23404
The Infrastructure Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-infra @rsimha

[2019-07-18 19:47] mrjoro commented on #23405
The Outreach Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-outreach @pbakaus

[2019-07-18 19:53] alexandr-kazakov opened #23407 "AMP4EMAIL: styles do not apply to the amp-selector option in gmail"
## What's the issue?

Styles do not apply to amp-selector option after being sent to gmail.

## How do we reproduce the issue?

I have prepared an example. It is based on an example from here:  https://amp.dev/documentation/examples/components/amp-selector/?referrer=ampbyexample.com
1. Get this is a fully valid AMP4EMAIL code:
[code]

2. Paste here: https://amp.gmail.dev/playground/
3. And send it

[2019-07-18 20:17] pshihn opened #23409 "amp-story styling"
Is there a standard way to customize the styling of amp-story?
I'd like to change color/background-color of buttons, sound on/off, share buttons,
Also progress indicators

[2019-07-18 20:26] #21792 closed

[2019-07-18 20:58] choumx commented on #23340
Looks like this CSS originates from ampstart, so this probably affects a bunch of other sites: https://github.com/ampproject/ampstart/blob/9acc6ca2e48f984f4749748cc53ab6405d47d4d4/components/navbar/navbar.css#L24-L27

Chatted with @jridgewell and there doesn't seem to be a good way to track and restore lost styles due to reparenting. 🤞 for scrolling iframes in iOS 13.

[2019-07-18 21:03] ChrisThorn10 opened #23411 "AMP4EMAIL: Invalid URL protocol 'tel:' for a[href]"
## What's the issue?
I am trying to validate code using https://amp.gmail.dev/playground/ and I am getting an error message for an anchor tag that has a telephone as the link.  I haven't read anywhere where tel links are not allowed so I thought it might be a bug.

## Briefly describe the bug.
I am getting an error message when trying to validate links that contain telephone numbers. Error message

[2019-07-18 21:13] ChrisThorn10 commented on #23411
Please note: I did send a test email using the playground and when I have the phone number included as just text (no anchor link) the gmail email client doesn't convert it into a clickable phone number.

[2019-07-18 21:14] choumx commented on #23407
Thanks for reporting this. This is a duplicate of #23407 and due to lack of CSS attribute selector support in email providers today.

[2019-07-18 21:14] #23407 closed

[2019-07-18 21:19] choumx commented on #23411
@ampproject/wg-amp4email

[2019-07-18 21:21] choumx commented on #23411
These are the protocols currently allowed in a[href]: https://github.com/ampproject/amphtml/blob/680499c2c973ab4c97efb314d1da2c4ac3bff3f3/validator/validator-main.protoascii#L1927-L1929

Can we loosen this?

[2019-07-18 21:42] #23338 closed

[2019-07-18 21:45] taytus opened #23412 "[amp-list] dynamic src emulation doesn't work"
## What's the issue?

Template is not updating after the form submit a new request

## How do we reproduce the issue?

I'm using a slightly modified version of this tutorial: https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Finteractivity-dynamic-content%2Fadvanced_server_request&format=email&_gl=1*1o0m9e9*_ga*MzU1NzgzMDgzLjE1NTM2MjE0NzI

## What browsers a

[2019-07-18 21:48] choumx commented on #22610
@raquelyustemrf The [linked site](https://areajugones.sport.es/2019/05/19/por-que-madhouse-no-es-la-respuesta-para-que-one-punch-man-vuelva-a-brillar/amp) appears to be working for me on Safari 12.3.1. I do recommend adding an overflow button in case the resize request happens too late (when the iframe is already in viewport).

[2019-07-18 21:49] choumx commented on #22610
@archon810 Resizing is not allowed if the widget is already visible.

[2019-07-18 22:04] archon810 commented on #22610
Curious why the Disqus widget itself doesn't include a load button for such a case. We had to insert our own that then disappears if the widget does load.

[2019-07-18 22:40] kaewka commented on #23411
This is a pretty useful feature on mobile phone.  It could also work on Desktop if you have the right set up.  Otherwise, you won't be able to make the call on Desktop.  The good practice is to put the phone number in the anchor text to make sure that user can also see the phone number in the email.  I don't have any security concern.

[2019-07-18 22:57] jridgewell commented on #22823
This is because amp-next-page.js includes **all** of v0.js's code, including it's own copy of `Resources` and `Layers`. /cc @peterjosling

[2019-07-18 23:03] zhouyx commented on #23367
I don't think it's the best user experience by falling back to another ad. But I also understand that's possible today. Will let @lannka and @jasti make the decision.

[2019-07-18 23:06] zhouyx commented on #18862
Could you please provide us with more detail to reproduce the bug. Otherwise i do see this as an expected error when the cid request timeout. Thanks.

[2019-07-18 23:20] alexandr-kazakov commented on #23407
@choumx What is a duplicate? You gave me a link to my own message.

[2019-07-18 23:55] torch2424 commented on #23356
Hello!

Nice to e-see you @sanchezedgar 😄

And thanks for the issue!

SO I went ahead and tried to reproduce this, but I can't get the bug to happen. In both the JSBin and our `examples/ima-video.amp.html` example. See the gif below:

![imaVideoNoCPUFreeze](https://user-images.githubusercontent.com/1448289/61499631-c654dd00-a97c-11e9-90c0-99b516b9b45f.gif)

Let me know if I am doing something wron

[2019-07-19 01:06] virgiltu commented on #23304
OK i thought we were limited to the ones on the page. Thank you

[2019-07-19 03:46] erwinmombay commented on #22637
@himanshu-myupchar do you have a live page i can debug?

[2019-07-19 06:16] himanshu-myupchar commented on #22637
Can you check this:
https://www.myupchar.com/en/tips/immunity-boosting-foods-in-hindi.amp

And also is there a way by which the user automatically gets asked for notifications, rather than clicking on Subscription button, like in Non-Amp Pages.

[2019-07-19 06:20] sudeeshr opened #23420 "amp-list: overflow show-more not working with load-more attribute"
amp-list: overflow show-more not working with load-more attribute.
https://amp.dev/documentation/components/amp-list/

## Code?
`<amp-list width="auto" height="100" src="<%= process.env.API_URL %>/api/123/comments?limit=5"
                            single-item items="data" template="allcomments"
                            binding="refresh"
                            load-more="manual"

[2019-07-19 08:32] matthieuberger commented on #13282
@lannka @zhouyx as  there is no news from @gremz, I plan to move on this one

[2019-07-19 10:19] duycong2509 opened #23421 "amp-list: triple mustache remove actions"
I am using Laravel and  save field `content` of comment into database by string like:
`"<div class="text-primary" on="tap:id-5931.show">※5931※</div>"`
But after render in view by `amp-list`:
`<div class="comment-body"> {{{ content }}} </div>`
action` on="tap:id-5931.show"` was removed
[code]

[2019-07-19 10:44] bashaalex opened #23422 "amp-access examples fail with error"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-07-19 15:26] lannka commented on #13282
Thanks @matthieuberger ! Let us know if you need any help!

[2019-07-19 15:53] choumx commented on #22610
@archon810 Me too. :) Fixing this common issue might be as simple as updating their example code.

Where did everyone find the code for the `amp-iframe` usage for Disqus? Was it here? https://github.com/disqus/disqus-install-examples/tree/master/google-amp

[2019-07-19 15:54] choumx commented on #23407
🤦‍♂ it's #22894. Sorry about that.

[2019-07-19 15:55] choumx commented on #22823
😱

[2019-07-19 16:15] archon810 commented on #22610
@choumx I'm not sure now, but I've asked my developer to chime in here. Here's our current source: https://android-police.github.io/disqus-amp/disqus-amp.html.

https://github.com/android-police/disqus-amp

The logic to add the Load Comments button that resizes is done elsewhere in our code though.

[2019-07-19 17:16] erwinmombay opened #23425 "Extract Typedefs into extern"
To get around the problem of obfuscating typedefs in single pass mode (where the typedefs are casts from JsonObject type's ), we will try and extract typedefs on selected subfolders into an extern.

- [ ] locate typedefs
- [ ] transform typedefs
- [ ] add annotations back to extern declarations
- [ ] pass through the extern declarations into single pass

[2019-07-19 17:34] jpettitt commented on #23181
If you set `Cache-control: private, max-age=2` on your entitlement response that should solve the double request.  Also you have "disable cache" checked on your developer tools window which won't help :-)

[2019-07-19 17:48] dollup commented on #22610
@choumx, we used that code but we added an overflow button per AMP specifications and still ran into this issue.

We switched to this implementation (resizable) after not being able to get scroll bars to work on iOS.

[2019-07-19 18:03] choumx commented on #22610
@dollup Can you share a link to a page with your current implementation?

[2019-07-19 18:03] #22749 closed

[2019-07-19 18:09] pstricker opened #23428 "amp-user-notification - data-show-if-href not behaving as expected"
## What's the issue?

We have implemented an amp-user-notification and are using the data-show-if-href attribute to control its visibility. It appears to be working when accessing the page from a Desktop browser using mobile emulation, however, on actual iOS devices, the notification is never shown.

I have been able to verify that the HTTP response returned from the data-show-if-href request does

[2019-07-19 19:04] dollup commented on #22610
@choumx I've included a link below.

https://www.google.com/amp/s/arrowheadaddict.com/2019/07/19/tyreek-hill-will-not-receive-suspension-nfl/amp/

[2019-07-19 19:20] rsimha opened #23429 "Fix `React.Component` type errors in `amp-date-picker` and remove suppressions"
The latest version of closure compiler returns these type errors in `amp-date-picker`.

The `moment` errors were fixed by renaming the local variable to `Moment`. The `React.Component` errors were a tougher nut to crack, so I had to suppress them in https://github.com/ampproject/amphtml/pull/23417/commits/53b4fc10143178f6929e2c2f7eee212813ed1474.

/cc @jridgewell

[code]

[2019-07-19 19:47] #23032 closed

[2019-07-19 21:15] jridgewell opened #23432 "Error: r.trimStart is not a function"
[code]

https://github.com/ampproject/amphtml/blob/4fa2a3fff693161112ce1d0d3731413a22702f71/src/service/url-expander/expander.js#L153

go/ampe/CPX3kej5m92CswE

[2019-07-19 21:17] jridgewell commented on #23432
`trimStart` is an extremely new String API. I'll be banning its use shortly.

[2019-07-19 21:21] lannka commented on #23432
yep, it is [Chrome 66+](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart) . let's ban

[2019-07-19 21:29] #20935 closed

[2019-07-19 21:30] calebcordry commented on #23432
Got it. Will fix.

[2019-07-19 21:31] jridgewell commented on #23432
We already have a helper for it in `src/string.js`.

[2019-07-19 21:41] jridgewell commented on #22823
Closing as a dupe of https://github.com/ampproject/amphtml/issues/22357

[2019-07-19 21:41] #22823 closed

[2019-07-19 21:42] jridgewell commented on #22357
This is because amp-next-page.js includes **all** of v0.js's code, including it's own copy of `Resources` and `Layers`. /cc @peterjosling

[2019-07-19 21:51] jridgewell opened #23433 "Error: Cannot read property 'contains' of null"
[code]

Seems related to layers, but I'm not sure what's causing it yet. Possibly an FIE that's leaked?

[2019-07-19 21:52] jridgewell commented on #21114
Closing as a dupe of https://github.com/ampproject/amphtml/issues/20691

[2019-07-19 21:52] #21114 closed

[2019-07-19 23:05] #22826 closed

[2019-07-19 23:45] alankent commented on #20903
One of the things Magento (open source e-commerce platform) has been trying to encourage is site test automation to be included in the deployment pipeline. I will say up front that most e-commerce platforms have from average to weak (to no) support for release test automation. But the more customized a site is, and the larger the merchant is, test automation is definitely on the rise.

If you beli

[2019-07-19 23:49] calebcordry commented on #23432
@jridgewell Maybe I am missing something, but I don't see the helper?

[2019-07-19 23:54] jridgewell commented on #23432
Oh, we only have `trimEnd`. Add one for `trimStart`?

[2019-07-19 23:55] calebcordry commented on #23432
Sounds good, thanks.

[2019-07-20 08:23] nicopujol commented on #2691
We'd love to use this feature and know of many users who would too.

[2019-07-21 17:12] wassgha commented on #22855
@westonruter Could you please confirm that this is different from the behavior on Wordpress? I'm seeing this on Wordpress: https://youtu.be/_UT9UfuL-a8

[2019-07-22 08:49] maciejmackowiak commented on #22610
@choumx
You are right, our implementation is based on this https://github.com/disqus/disqus-install-examples/tree/master/google-amp

But for the "Load Comments" button we are using [placeholder] and [overflow] elements in amp-iframe.
If the iframe is in the viewport the resizing is not allowed so the button is vissible,
but once user clicks the button he/she interacted with the iframe so resizing

[2019-07-22 11:25] vfsoraki opened #23448 "Allow links in lightbox gallery"
## Describe the new feature or change to an existing feature you'd like to see

Allow use of links or arbitrary HTML in image captions in lightbox gallery.

My specific use case is to have a lightbox gallery of products in home page, and having a link to product page in image captions.

Even allow a single link, below or above caption.

## Describe alternatives you've considered

Nothing found yet

[2019-07-22 11:59] nitindumbre opened #23449 "Error: amp-iFrame is not working inside amp-selector inside an accordion"
## What's the issue?

Error: amp-iframe is not working inside amp-selector inside an accordion

## How do we reproduce the issue?

iframe contents are not getting loaded when the iframe is inside amp-selector inside an accordion

If we used iframe inside the selector or accordion then the iframe content is getting loaded..

Please find the sample code . Go to the 'AMP iframe Selector' tab and see

[2019-07-22 12:16] fstanis commented on #23411
I'm a bit unclear on how standardized / supported this is. [RFC 3966](https://www.rfc-editor.org/rfc/rfc3966.txt) is what I found deals with it, but it didn't seem to get much traction.

Is this supported in HTML emails?

[2019-07-22 13:56] Timer commented on #20974
Hi there, team!

The Next.js team is getting occasional issues from users asking why their apps don't pass AMP validation in development (e.g. https://github.com/zeit/next.js/issues/8050).

Is this planned for prioritization in the near future? Are there any resources the Next.js team could offer to help?

[2019-07-22 13:56] alexandr-kazakov opened #23450 "AMP4EMAIL: Confusing behavior when max email size exceeded in Gmail"
## What's the issue?

amp-selector inside amp-list sometimes does not appear in gmail and gives an error:
[code]

It somehow depends on the number of amp-selector blocks inside the amp-list. If there are few blocks with amp-selector, everything works fine in gmail, and if there are many blocks with amp-selector, they are not displayed.

## How do we reproduce the issue?

I have prepared a detailed

[2019-07-22 15:14] #23181 closed

[2019-07-22 16:04] jamesozzie opened #23453 "AMP Cache: Cached img smaller than AMP origin img"
AMP Cache optimisations result in smaller image dimensions compared from AMP origin. While it renders different image sizes per screen the initial load image is much smaller than AMP origin for the same size container.

Standard/Origin AMP: [https://www.reviewcenter.in/8837/lg-dual-inverter-air-conditioner-ac-review-features-specifications/?amp](https://www.reviewcenter.in/8837/lg-dual-inverter-ai

[2019-07-22 16:35] cathyxz commented on #23420
Hi there! Thanks for getting in touch. Could I trouble you to be more specific about what behavior you are expecting and what behavior you are observing with a reproducible code example?

A few comments on the interaction of `overflow` with `load-more`:

When the `load-more` attribute is active, it overrides the `overflow` element. Specifically, it has a `load-more-button` element that serves the

[2019-07-22 16:42] #23102 closed

[2019-07-22 16:52] choumx commented on #22610
Thanks, we'll try to contribute an update to that code sample that adds an overflow button.

[2019-07-22 17:24] cathyxz commented on #23412
Hi @taytus,
Unfortunately binding `src` in `<amp-list>` is not supported in `AMP4EMAIL` right now. Please see:

<img width="764" alt="Screenshot 2019-07-22 at 10 23 27 AM" src="https://user-images.githubusercontent.com/1528181/61651476-cdc10280-ac6a-11e9-935b-6f1dcdba3393.png">

Source: https://amp.dev/documentation/guides-and-tutorials/learn/email-spec/amp-email-components/?format=email

[2019-07-22 17:28] cathyxz commented on #23125
Closing for now, since we haven't heard a response. Feel free to re-open this issue and follow up if needed.

[2019-07-22 17:28] #23125 closed

[2019-07-22 17:41] #21314 closed

[2019-07-22 17:43] #19253 closed

[2019-07-22 17:47] #23432 closed

[2019-07-22 17:48] nainar commented on #23449
Hi @cathyxz could you explore this? It seems like there is some issue with the loading detection.

The iframe loads when you open devtools after page loads.

[2019-07-22 17:58] sparhami commented on #14257
Closed via #23360.

[2019-07-22 17:58] #14257 closed

[2019-07-22 18:08] philkrie commented on #23340
What's the best way to deal with this on the client side? Are there any workarounds? It's a key component of their site.

+1 to documentation on this... easy to miss. In fact, would be great to have a tool that generates a group of screenshots that confirm everything looks consistent across AMP Viewer, Cache, and Hosted AMP across a range of devices.

[2019-07-22 18:12] jridgewell commented on #23340
Can you avoid any sibling selectors on fixed position elements?

[2019-07-22 18:19] choumx commented on #23340
Things to do here:
1. Add documentation for fixed position elements on iOS in iframes.
2. Refactor the amp-start template to avoid this edge case.

@jridgewell Let's schedule (1) for the fix-it.

[2019-07-22 18:24] rudygalfi commented on #2691
@nicopujol Have you had a chance to take a look at this guide for implementing star ratings in AMP: https://amp.dev/documentation/examples/interactivity-dynamic-content/star_rating/ ?

It would be great to hear what kinds of use cases you think a dedicated component would address vs what's possible with the capabilities illustrated in the guide linked above.

cc @nainar

[2019-07-22 18:29] #23433 closed

[2019-07-22 18:39] philkrie commented on #23340
@jridgewell perfect, makes sense, I see @sparhami originally suggested that. Thanks!

[2019-07-22 18:46] taytus commented on #23412
Hello @cathyxz,

Thank you for taking the time in replying. Yes, I know that [src] is not available right now. However, that is not what I was asking.

I apologize for the confusion but what I was asking was about a way to retrieve a grid (instead of just one element like in the linked example) and using the same template to do so.

The template is modified by the form-success, not via amp-list [s

[2019-07-22 19:10] newmuis commented on #23409
Hi @pshihn, currently, none of the UI elements that you have mentioned are customizable; they are standardized UI affordances that are the same across all stories.

[2019-07-22 19:28] rsimha commented on #20843
Filed https://github.com/ampproject/amp-github-apps/issues/271 to track this separately

[2019-07-22 19:41] andrewwatterson opened #23461 "Merging/yarn installing didn't produce working build process"
## What's the issue?

Merging the latest master on a fairly outdated branch and running `yarn install` still produced a failing `gulp` run.

Issue was fixed by blowing away `node_modules` and re-`yarn install`ing.
I also had to `gulp clean` to solve a different issue that occurred later in the build.

![screenshot of terminal](https://user-images.githubusercontent.com/1370189/61660012-c9521500-ac7

[2019-07-22 19:43] rsimha commented on #23461
@andrewwatterson Thanks for the report. Do you remember approximately how old your branch was before you synced it today? (I wonder if this is due to dependencies that were once declared in `package.json` but have since been removed.)

[2019-07-22 19:49] jridgewell commented on #23432
New APIs were banned in https://github.com/ampproject/amphtml/issues/23432.

[2019-07-22 20:46] kristoferbaxter opened #23464 "Cleanup `macro-after-long-task` experiment"

[2019-07-22 20:51] rsimha commented on #23461
Did some digging and found that this was a breaking change introduced by #23179. Unfortunately, the only workaround is to delete `node_modules/`.

[2019-07-22 20:51] #23461 closed

[2019-07-22 20:58] cathyxz commented on #23412
I see. Sorry about that. I misread this as a question about `<amp-list>` due to your issue title. Turns out this is actually about the usage of `<amp-form>`'s submit-success not working in a neat example that shares a `<template>` with `<amp-list>`.

I think you're getting this error because your template in `<amp-form>` and your template in `<amp-list>` is expecting a different data format. `<amp

[2019-07-22 21:07] choumx opened #23465 "I2I: [fetch-error] and [diffable] in amp-list"
## Summary

- Supports "fetch error" UI via `[fetch-error]` child (#22704)
- Shippable path for DOM diffing via optional `[diffable]` (experiment added in #17000)

These features are distinct but can interact: `[diffable]` allows "fetch error" UI to modify the position of the actual content to avoid overlapping. More details below.

## Design

### Fetch error
A "fetch error" UI is a nice way to in

[2019-07-22 21:08] choumx commented on #22704
Closing in favor of a feature specific to amp-list: #23465

[2019-07-22 21:08] #22704 closed

[2019-07-22 21:16] alankent commented on #15647
Example use case: The current amp-list causes page flicker as it refreshes the page after it is rendered. This is bad UX as the eyes are drawn the such flicker. You really want say a product list page to be pre-rendered server side so first display renders instantly, while still using an amp-list so you can change the sort order easily later.

You can do a trick like have two divs, one hidden one

[2019-07-22 21:19] choumx commented on #15647
Good timing, #23465 will help with the flicker. :)

[2019-07-22 21:30] alankent commented on #15647
Nice! But the flicker I was referring to is the delay in the amp-list going to the origin to do the API call to get the data to render the amp-list. I assume that is being looked at in amp-list v2...

[2019-07-22 21:31] rsimha commented on #21527
Got a [response](https://travis-ci.community/t/origin-master-moving-forward-between-build-stages/4189/2?u=rsimha) from the Travis forums. It turns out we should be using `TRAVIS_COMMIT` (which should be stable across build stages) and not `origin/master` (which is a moving target).

[2019-07-22 21:47] alankent commented on #15647
Oh, also, I quite like the idea of being able to bind fields out of amp-state to a cookie. The cookie then sets the amp-state on page load, and updates to the amp-state field update the cookie. Gives you state persistence across page boundaries (like a shopping cart, personalization preferences etc). That would then link in with amp-list using amp-state on page load as well. "Welcome back {usernam

[2019-07-22 21:59] rsimha commented on #21527
Hmm. `TRAVIS_COMMIT` returns the latest commit, including the unmerged commits that are a part of the PR. I've posted a [follow up](https://travis-ci.community/t/origin-master-moving-forward-between-build-stages/4189/5?u=rsimha) question to the Travis forum.

[2019-07-22 22:46] choumx commented on #23465
Draft implementation: #23470

[2019-07-23 08:17] maciejmackowiak commented on #22610
@choumx We are using code like this:
[code]
and css for it:
[code]

[2019-07-23 09:33] nicopujol commented on #2691
Hi @rudygalfi @nainar ,

Some thoughts:
- We run sites on WordPress (largely food blogs) with the official AMP plugin. Due to site theme, recipe plugin and other CSS elements on the site, we sometimes see CSS overflow on AMP pages, breaking the layout. Not sure adding if adding more CSS would make things worse.

- WordPress recipe plugins embed star rating for standard non-AMP pages, and display r

[2019-07-23 11:32] maciejmackowiak commented on #21177
@dmvjs Have you any news regarding this issue?

[2019-07-23 12:33] dmvjs commented on #21177
I will bring it up again. Our product team needs to prioritize it but its probably easy.

[2019-07-23 12:40] maciejmackowiak commented on #21177
Great, thanks for the update.
Do You think it's possible that your team will implement something similar to outbrain ads data-styleFile?

https://github.com/ampproject/amphtml/blob/master/ads/outbrain.md#optional-parameters

[2019-07-23 12:45] sebil opened #23478 "I2I: Add `tabindex` attribute to `amp-iframe`"
## Summary
In order to have full control over accessing an iframe via keyboard use, it should be possible to set the `tabindex` attribute in `amp-iframe`.

## Motivation
When I tried to make the **amp.dev home page** more accessible by keyboard, I found out that the user gets stuck inside the **code-preview** of the "AMPHTML Playground" section, which is implemented as an iframe.

Giving the `amp-

[2019-07-23 13:34] cvializ commented on #23412
I think your interpretation is correct @cathyxz 👍

[2019-07-23 13:54] Enriqe opened #23479 "amp-twitter not showing in landscape mode"
1. Go to this story https://stories.ampstor.co/
2. Navigate to page 11
Expected: `amp-twitter` should show.
Actual: `amp-twitter` is not showing.

[2019-07-23 15:47] rsimha commented on #21527
Update: I tried using the first half of `TRAVIS_COMMIT_RANGE`, but that didn't work either. In the example below, the first half of `TRAVIS_COMMIT_RANGE` is 5dc1e49, but the test stage includes 4f93227. Therefore, the commit range isn't a good indicator of the latest commit from `master` that is included in the test stage of a PR build.

![image](https://user-images.githubusercontent.com/26553114/

[2019-07-23 17:40] dmvjs commented on #21177
I'll bring this up to our product team for priority review, thanks for mentioning this approach.

[2019-07-23 18:04] taytus commented on #23412
@cathyxz Thank you for the explanation, that helped me a lot to better understand amp-form and amp-list differences.

Unfortunately, neither of the suggestions worked for me.

The form calls the same [JSON endpoint](https://amp4email2.roboamp.com/amp4email/asr/a/b), I just wanted to make it work

This is my template:

`<template id="animal-template" type="amp-mustache">
    @{{#items}}
    <a href

[2019-07-23 18:18] fstanis commented on #23412
The template you wrote starts with `{{#items}}` which iterates an array called `items`.

However, `amp-list` by default will iterate `items` inside the returned JSON. In other words, the way things are now, your `amp-list` expects an object that looks like this: `{ items: [ { items: [ ... ] } ] }`.

What you want to do is make sure your amp-list consumes a flat object, the same one as `amp-form`.

[2019-07-23 18:25] taytus commented on #23412
I truly appreciate your time helping me here.

The problem I'm having is not with the list thou. Is with the form, the list loads perfectly fine, I think that is what is confusing me.

[2019-07-23 18:33] Gregable commented on #23012
Ping on this issue. I'm happy to make the change, so this issue amounts to a question at this point.

[2019-07-23 18:35] sudeeshr commented on #23420
I am trying to show comments on a page. The comments API returns 10 comments in 1 page. When there are less than 10 comments the next_page url is null so the load-more button doesn't appear but the content is overflowing so in this case the show-more button must be displayed.
![image](https://user-images.githubusercontent.com/7287187/61736809-8a6aaf00-ada4-11e9-9118-461dd6f57824.png)

[2019-07-23 18:36] rsimha opened #23484 "Running time of `gulp dist` on Travis has recently started fluctuating between ~9m and ~15m"
Running times from the past day (in no particular order):
9m 12s: https://travis-ci.org/ampproject/amphtml/jobs/562654614#L339
13m 31s: https://travis-ci.org/ampproject/amphtml/jobs/562663373#L339
16m 23s: https://travis-ci.org/ampproject/amphtml/jobs/562143551#L339
10m 17s: https://travis-ci.org/ampproject/amphtml/jobs/562708640#L328

/cc @ampproject/wg-infra
/cc @erwinmombay

[2019-07-23 18:38] rsimha commented on #23484
I wonder if this has to do with the `babel` transforms being done before compilation. A good first step would be to add progress indicators for the transforms to separate out the two steps.

[2019-07-23 18:54] cathyxz commented on #23412
In addition to using `{{#items}} ... {{/#items}}` in your template above, try to add the following attributes to your `<amp-list>`: `single-item`, `items="."`. Your code should look like this:

[code]

[2019-07-23 18:56] sparhami commented on #23012
Did some manual testing and it seems like it should work fine if we allow `lightbox` on `type="carousel"`.

[2019-07-23 19:07] archon810 commented on #21177
Here are the current layout problems, just to demonstrate.

Non-AMP:
![image](https://user-images.githubusercontent.com/469543/61739838-20212280-ad42-11e9-9846-669290800926.png)

AMP:
![image](https://user-images.githubusercontent.com/469543/61739866-2a432100-ad42-11e9-8eb6-86b690b3bc82.png)

As you can see, the AMP version is not aligned right and sits on its own row, looking less than ideal.

He

[2019-07-23 19:09] Enriqe commented on #22975
I'd like to take a stab at this :-)

[2019-07-23 19:22] jridgewell commented on #22975
Stealing our fixit bugs? 😛

[2019-07-23 19:25] Enriqe commented on #22975
Is it stealing if I asked for permission first? 😛

[2019-07-23 20:07] taytus commented on #23412
@cathyxz @fstanis it's working!! 🎉🥳🎉

The issue was...drumroll please....

The closing tag for items is </items> not </#items>

That was it.

Can't thank you enough both of you 🙏🏼

[2019-07-23 20:10] #23412 closed

[2019-07-23 20:32] lannka opened #23487 "amp4ads-v0.js size regression"
The bundle size of amp4ads-v0.js went back to 285K.

Caused by #23153
in specific this line:
https://github.com/ampproject/amphtml/blob/506b47f2298a2e9b9fca901d3c4aa090c604ad9b/src/service/extensions-impl.js#L469

/cc @dvoytenko

[2019-07-23 20:34] lannka commented on #23307
Can we prioritize this item? We just got a bundle size regression: https://github.com/ampproject/amphtml/issues/23487

It's very easy to pull in regular AMP code to AMP4ADS and cause a big size regression.

@rsimha @danielrozenberg

[2019-07-23 20:58] torch2424 commented on #22994
@jridgewell

So from the code, it seems like enterLightBox mode does a lot of overlaying handling that is specific to the lightbox extension, as well as implementing thins like a friendly iframe. All we want to do in our case is hide the viewer, that way our animation can slide up our consent UI. We don't need any special overlay or friendly iframe from what I can tell 😄

Yep, had to do a lot of d

[2019-07-23 21:33] dianomi-mjs commented on #23094
Thanks, looking good

[2019-07-23 21:37] dianomi-mjs opened #23492 "original publisher url when using amp-ad-custom"
Is it possible to get the original publisher URL (instead of the cache URL) when using amp-ad-custom?

The system is working fine for our own internally served ads but when we are connecting to other supply via programmatic they require the equivalent publisher URL and I don't have this (ok I can maybe guess from the cache URL but hopefully there's a better way).

[2019-07-23 21:41] sparhami commented on #23396
#16860 would solve this, as `scrollIntoView` supports nested containers. The current scrolling implementation does not. The main problem is that `scrollIntoView` doesn't support smooth scrolling on Safari.

I think the scope of this is larger than a fixit task, we need to investigate async loading and either handling nested scrolling or loading a polyfill.

[2019-07-23 22:03] alanorozco commented on #23271
(Reopening since [1907161745080](https://github.com/ampproject/amphtml/issues/23372) is not prod yet.)

[2019-07-23 22:04] alanorozco commented on #23271
(In prod now.)

[2019-07-23 22:04] #23271 closed

[2019-07-23 22:04] doppl3r opened #23494 "amp-carousel animation duration attribute"
Developers should be able to alter the duration of the carousel animations.

For example, adding `duration="2000"` should animate the current slide to the next/previous slide for 2 seconds. Currently, it feels like 1 millisecond between each transition.

The only time attribute we have is `delay="4000"`, which only controls the pause time on each slide.

[2019-07-23 22:06] alanorozco commented on #23334
[1907161745080](https://github.com/ampproject/amphtml/issues/23372) with the patch has now been promoted to production.

[2019-07-23 22:06] #23334 closed

[2019-07-23 22:14] alanorozco opened #23496 "🚄Release tracking issue for canary release 1907231757120"
# Release tracking issue

- [x] Release [`1907231757120`](https://github.com/ampproject/amphtml/releases/tag/1907231757120) is cut as a new canary release
- [x] Release 1907231757120 pushed to dev channel (10:11 AM, Jul 24, 2019 UTC-7)
- [x] Release 1907231757120 pushed to 1% (2:35 PM, Jul 24, 2019 UTC-7)
- [x] Release 1907231757120 pushed to production (<CL submit time>)

See the [release documen

[2019-07-23 22:34] sanchezedgar commented on #23356
Hey @torch2424 👋

We can still reproduce this bug. We can even reproduce the issue on the raw HTML example you used in the screenshot you provided:
https://github.com/ampproject/amphtml/blob/master/examples/ima-video.amp.html

**A few notes:**
- Sometimes a Slow 3G connection wasn't enough. Try it again with a more aggressive throttle.
- It can sometimes play through with no freezing. Reloading an

[2019-07-23 23:08] #23144 closed

[2019-07-23 23:09] #23478 closed

[2019-07-24 00:17] cathyxz commented on #23453
/to @ampproject/wg-caching

[2019-07-24 02:05] Gregable commented on #23453
Here's what I see on the origin site, newlines added for readability:

[code]

And on the cache:

[code]

The only differences are the URLs and the srcset. The image URLs are the same size as well. There must be something interesting going on with CSS, but I'm not entirely sure what to look for.

[2019-07-24 02:23] Gregable commented on #23012
Thanks!

[2019-07-24 02:24] jridgewell commented on #23453
I think it's a UI issue with `layout=intrinsic` and `srcset`.

[2019-07-24 02:27] jridgewell commented on #23453
No, it's the automatic `sizes` attribute.

[2019-07-24 02:40] Gregable commented on #20974
No updates as of yet. It's currently a P3, but I've also just marked it for our next fixit sprint.

[2019-07-24 05:11] omar-toma opened #23504 "Load mustache templates from remote resource"
I am looking for loading mustache templates remotely, for example
    `<script type="text/plain" template="amp-mustache" src="https://domain.com/endpoint">`

This will help us to reduce the HTML size and will enhance our dynamic content experience.

[2019-07-24 05:42] #22452 closed

[2019-07-24 08:26] oliverfernandez commented on #23367
What do you think @lannka @jasti ?

[2019-07-24 08:41] shreyaa1 opened #23507 "AMP Story Auto Ad documentation shows different script to load"
## What's the issue?

AMP Story Auto ad documentation (https://amp.dev/documentation/components/amp-story-auto-ads/) shows to include `<script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>` to load where it should have been `<script async custom-element="amp-story-auto-ads" src="https://cdn.ampproject.org/v0/amp-story-auto-ads-0.1.js"></script>`

#

[2019-07-24 08:59] hrkhal commented on #22943
@torch2424 Does #23491 fix this? I see nothing in the PR that affects the height, only that the AMP viewer will now be hidden with `requestFullOverlay`. Am I missing something?

[2019-07-24 10:21] timneutkens commented on #20974
Awesome @Gregable 💯

[2019-07-24 13:47] nitindumbre commented on #23449
Hi Team,

Did you get any chance to look into the issue ?

[2019-07-24 13:58] cvializ opened #23509 "Use play event for analytics instead of playing"
Related to https://github.com/ampproject/amphtml/pull/23317#issuecomment-514438498

The `playing` event fires when a video begins playing for any reason, including after the buffer runs out and the video must pause then play again. `play` fires when the user initiates a play event. It looks like a mistake that the `playing` event was used initially.

| Event | Description |
|--|--|
|`play`|The ele

[2019-07-24 15:26] westonruter commented on #20456
This is the master issue for Bento AMP?

[2019-07-24 16:05] #22785 closed

[2019-07-24 17:12] nandosangenetto commented on #15807
@mpatnode how you did to handle with the pixel? I was trying to implement the pixel as a workaround, but I couldn't see new pageviews.

[2019-07-24 17:53] mpatnode commented on #15807
Nothing too magical.   I'm still seeing the pixels fire on the page above, even when served from the CDN.   Note that the Chrome Debug tools network search seems a little buggy in that they didn't always show up when I searched by hostname:
[code]
I do see we don't fire a GA pixel there, but we do Adobe, Comscore and our local counter.   We should probably add GA.

[2019-07-24 18:02] wassgha commented on #18995
Can't reproduce, can anyone confirm they can still see this behavior?

[2019-07-24 18:47] sparhami commented on #23494
We are moving to use the browser's native smooth scrolling timing for carousel in 0.2, which is not configurable. We currently have no plans to implement our own transitions.

@nainar Is this something we are interested in asking the browsers for?

[2019-07-24 19:30] torch2424 commented on #22943
@hrkhal Yes! So from my understanding, the height of light box (in full screen mode), should be the same as they are both based on either viewport or percentage units.

Perhaps I misunderstood the problem then. Are you more curious about the non fullscreen height?

Thank you! 😄

[2019-07-24 20:10] cathyxz commented on #23504
I don't think we currently have plans to support this. @omar-a-toma could you tell us a bit more about the use cases that you are using this for? Templates really should not be so large that they need to be loaded from a separate endpoint.

[2019-07-24 20:21] zhouyx commented on #23509
Add @jeffjose and @nainar on ideas to communicate with existing users that we are planning to change the current behavior. THanks

[2019-07-24 20:21] rsimha opened #23514 "Consolidate `git` branch point detection logic on Travis"
See https://github.com/ampproject/amphtml/pull/23495#issuecomment-514756840 for details

[2019-07-24 20:51] torch2424 commented on #23356
@sanchezedgar Awesome! Will try the additional steps above 😄

[2019-07-24 21:39] wassgha commented on #21542
Can't reproduce, is this fixed?

[2019-07-24 22:47] zhouyx commented on #23226
close as expected error.

[2019-07-24 22:47] #23226 closed

[2019-07-24 23:37] cathyxz commented on #23371
I think there are a few ambiguities here that makes awkward to have as a feature of just `<amp-list>`.  E.g. Does it refresh when I pull the entire page or just the amp-list that it's supposed to be refreshing? Do I refresh all the amp-lists on the page or just one? Which ones do I refresh?

I think maybe one thing to do here could be a general swipe down action, that has a UI element (e.g. loader

[2019-07-24 23:38] torch2424 commented on #23356
@sanchezedgar

So By using a [custom network profile, 250 down, 50 up, 300ms latency](https://support.google.com/google-ads/answer/7336589?hl=en) I was able to reproduce the bug 👍 And yeah totally it pegs the Page / CPU after the ad is finished.

Getting the performance profile was very difficult since, the page is completely frozen. But I finally got lucky, and got a performance profile. You can

[2019-07-24 23:48] zhouyx commented on #23356
haha only learnt about the `playing` event yesterday 😄glad that we figured out the reason : )
Add @cvializ for ideas on how to measure the time played with poor network connection.

[2019-07-25 01:27] torch2424 commented on #23356
@zhouyx Looked into the 'playing' event, and if [I rename it to 'play'](https://github.com/ampproject/amphtml/blob/master/src/video-interface.js#L270), the bug is fixed (probably because it is not called as often).

However, this could lead to completely different analytics / behavior. Perhaps a debouncing solution is the way to go? 🤔

[2019-07-25 04:02] aghassemi commented on #23504
So far templates had to be static to be validated with the same rules as the rest of AMP markup. With `amp-script` duplicating a lot of our validation rules in the runtime sanitizer, this might now be doable if we decide to.

[2019-07-25 05:56] omar-a-toma commented on #23504
@cathyxz So we are using AMP in our price-aggregator website [https://iprice.my](url), we are using amp-list in multiple places and most of them are not shown unless the user triggered them with an action. cutting out those templates will help to reduce the HTML size also it can help us to provide a personalized user experience

[2019-07-25 13:04] alexandr-kazakov commented on #22894
Guys. In amp-selector, the selected option is given the attribute: `selector`, but it turns out that I can't write styles on the attribute. Strange logic. Maybe in an amp-selector selected the option to add the class `selected`?

[2019-07-25 13:50] sebastianbenz opened #23523 "[amp-accordion] tap action does not trigger on heading"
See the following sample:

[code]

Expected behavior: `myElement` becomes visible when expanding the first section
Actual behavior: `myElement` stays hidden

[2019-07-25 14:04] sebastianbenz commented on #23523
After reading the docs, I realized that I could accomplish this via: `<section on="expand:myElement.show;collapse:myElement.hide">`.

Not supporting the `tap` event inside an amp-accordion breaks the assumption that the `tap` event is defined for all elements.

[2019-07-25 15:17] cvializ commented on #23356
I think the approach we are considering is to change the event to `play` from `playing` and communicate it. See #23509

[2019-07-25 16:20] GabeChurch commented on #11133
This is an awesome fix, I have been attempting to resolve this maddening issue for some-time

[2019-07-25 17:05] cvializ opened #23527 "[MASTER FEATURE] Stateful AMP"
- [x] Research browser back/forward cache support level in AMP
- [x] Support bfcache and create test documents #23634  #23528
- [ ] Polyfill-like feature for preserving scroll position on browsers that do not support bfcache (priority?)
- [ ] Additional layers of state preservation on top of bfcache
- [ ] Page transitions between preserved states

Related issues: #22527 #12360 #23634

/cc @nainar

[2019-07-25 17:33] zhouyx commented on #23356
Thanks @cvializ. Given this bug we should prioritize #23509
My question is on the `SECONDS_PLAYED` implementation. Haven't looked into the implementation, but does it depends on the `playing` event?

[2019-07-25 17:42] doppl3r commented on #23494
@sparhami, what the intent of using the browser's native scrolling behavior? Currently, the default scroll speed is so fast, you can hardly see it animate from either direction.

[2019-07-25 17:49] eduardogoncalves opened #23529 "[amp.dev / amp-ad] Iframe not loading on "Example: Displaying a few ads""
## What's the issue?
At section "Example: Displaying a few ads" the iframe is not loading https://amp.dev/documentation/components/amp-ad/?#example:-displaying-a-few-ads

## How do we reproduce the issue?
Visit https://amp.dev/documentation/components/amp-ad/?#example:-displaying-a-few-ads in any browser, it was supposed to load the page in the image below in the iframe:
![image](https://user-imag

[2019-07-25 17:51] cvializ commented on #23356
Good question. So `SECONDS_PLAYED` uses `entry.getPlayingState() !== PlayingStates.PAUSED` and the playing state is updated with `playing`. It looks like we might want to keep `playing` for `SECONDS_PLAYED` if a video stopping because it ran out of buffer triggers `pause`.

[2019-07-25 17:53] sparhami commented on #23494
To match what the platform thinks is the correct speed as well as moving the scrolling animation off the main thread. The speed can depend on distance scrolled (e.g. if you have a button to move multiple slides away) and might differ based on viewport size. Since the platform can probably make a better determination and using the platform's behavior makes it consistent with how other things work o

[2019-07-25 17:58] zhouyx commented on #23356
I see. My concern is that if listening to the `playing` event is going to be too expensive with poor network connection. @torch2424 proposed something like debounce the event a little bit. However that's going to make the `SECONDS_PLAY` not so accurate.

@torch2424 Can we look at the analytics trigger in this file. Let's figure out if it's Analytics `PLAY` or `SECONDS_PLAY` or both that cause the

[2019-07-25 17:59] doppl3r commented on #23494
That makes sense, thanks @sparhami!

[2019-07-25 18:01] rsimha commented on #21175
Found a recent (stray) instance of clone taking ~9 minutes: https://travis-ci.org/ampproject/amphtml/jobs/563339357#L233

![image](https://user-images.githubusercontent.com/26553114/61897111-58f8fd00-aee4-11e9-989e-b711bf42378f.png)

Adding here for documentaion. Nothing actionable for now.