[2021-01-19 11:36] ka2jun8 opened #32036 "amp-carousel scrolls to weird position by prev/next button ?"
## What's the issue?

We use amp-carousel (type carousel) for displaying multiple components horizontally.
When `amp-carousel-button-next` is clicked, it is scrolled the same as width of carousel component (`i-amphtml-carousel-scroll`) to right.
On the other hand, if the carousel component width and carousel item width are different, carousel moving position seems weird.

- Before click next butto

[2021-01-19 13:00] esafwan opened #32037 "AMP playground throws error for valid AMP4Email markup"
## What's the issue?
`<input type=file>` is listed under allowed input type in the [official documentation](https://amp.dev/documentation/components/amp-form/?format=email). However, both AMP Playground and Gmail AMP for Email playground throws validation error as below:

## How do we reproduce the issue?
Run below markup in AMP playground with email as format:

[code]

## Which AMP version is aff

[2021-01-19 13:09] lucamago commented on #31951
Hi, any update?

[2021-01-19 14:03] #30315 closed

[2021-01-19 14:17] vyoungnyc commented on #30566
@micajuine-ho Just wanted to ping you and see if we are still on track for a Q1 fix? is there an eta?

[2021-01-19 15:18] kristoferbaxter commented on #32004
This makes sense to me, and hopefully eliminates concerns around the impact of transforms on CSS payloads.

[2021-01-19 15:48] micajuine-ho commented on #32036
Hi @ka2jun8. Thank you for your bug report. `amp-carousel` `type=carousel` slides the carousel by 1 viewport when the prev/next button is clicked. This is the intended behavior. If you'd like there to always be one slide shown in the carousel, you can use `type=slides`. Additionally, if you'd like to have multiple slides in view on a carousel, you can try `<amp-base-carousel visible-count="2">`. S

[2021-01-19 16:40] Enriqe commented on #31953
Thank you very much for the elaborate description and the repro case. I'm able to repro using your sample. Taking a look.

[2021-01-19 16:41] micajuine-ho commented on #30566
Hi @vyoungnyc, I think our proposed solution we will be working towards is adding the CookieWriter module into amp-consent. We will expose the API in the same way it is exposed in amp-analytics.

[code]

This cookieWriter will not be able to expand all variables, as it will not have the amp-analytics variable source. Since this is the case, it should only be used for reading LINKER_PARAM values (w

[2021-01-19 16:47] kristoferbaxter commented on #32036
Closing this issue since this behaviour is as specified. Feel free to comment again with other thoughts and we can reopen if needed.

[2021-01-19 16:47] #32036 closed

[2021-01-19 16:59] kristoferbaxter commented on #32037
@honeybadgerdontcare Can you clarify if this is a documentation issue?

https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L3515

[2021-01-19 17:04] Enriqe commented on #31953
I found the issue can be boiled down to this:

1) When getting to the last page of the last story that has auto-advance, it will dispatch the `noNextStory` event once it finishes. (intended)
2) Using the player APIs to call `pause()` and then `play()` again will send again the `noNextStory` event, since the story page has already reached its end of the `auto-advance` and it's trying to advance to

[2021-01-19 17:21] calebcordry commented on #32035
@cburaca for valid amp pages we do not allow 3rd party javascript i.e. the GPT script tag. Are you trying to serve amp ads to a non-amp page?

If you are trying to serve these ads to an amp page,  we already have doubleclick & adsense integrations, perhaps you have a feature you would like to ad to those implementations?

[2021-01-19 17:32] vyoungnyc commented on #30566
LGTM

[2021-01-19 17:36] swissspidy opened #32038 ""Can't open page" error when accessing story via Google AMP Cache"
## What's the issue?

I'm getting a "Can't open page" error when viewing a story in Google AMP Cache and trying to navigate to the canonical URL.

Originally noticed at https://github.com/HTTPArchive/almanac.httparchive.org/issues/1571#issuecomment-762404247

Similar to https://github.com/ampproject/amphtml/issues/12266

## How do we reproduce the issue?

1. On your iPhone, search for any web stor

[2021-01-19 17:40] westonruter commented on #30414
Specifically, it accounts for the `responsive` layout but not the `intrinsic` one. In the `responsive` layout, the sizer looks like:

[code]

Whereas in the `intrinsic` layout, the sizer looks like:

[code]

I'll open a new issue specifically for the intrinsic layout.

[2021-01-19 17:45] alanorozco opened #32039 "Allow <section> / <blockquote> / maybe other tags on mustache triple brace syntax"
- `section` is fine ([friends](https://github.com/ampproject/amphtml/issues/32039#issuecomment-763030874) are also probably fine)
- `blockquote` is fine.
- `pre` is probably fine.
- we likely need to go through a standard tag list so that we don't need to include tags piecemeal again.

https://github.com/ampproject/amphtml/blob/0827b5bee99e121d88a76f5e03ea026c6cac4afc/src/purifier/sanitation.js#L1

[2021-01-19 17:46] westonruter opened #32040 "[Story Player] AMP validator failures for SSR'd <amp-story-player> with intrinsic layout"
This is a follow-up to #30414 which fixed a validator issue for SSR'ed `amp-story-player` with a `responsive` layout. The fix in #30434 addressed the issue with `responsive` layout, but not the `intrinsic` layout.

Given this input:

[code]

The SSR'd output via `amp optimize input.html` can be seen on the [playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+PGh0bWwg4pqhIGktYW1waHRtb

[2021-01-19 17:47] westonruter commented on #32040
cc @ampproject/wg-caching

[2021-01-19 17:47] westonruter commented on #30414
See #32040

[2021-01-19 17:49] westonruter commented on #32040
cc @ampproject/wg-stories

[2021-01-19 17:50] dvoytenko commented on #32039
I certainly don't see a problem whitelisting `<section>` and `blockquote`. A bit surprised they are not whitelisted already. I thought our purify dictionaries should be up-to-date?

[2021-01-19 17:54] caroqliu commented on #32039
I don't have the context for why we have as limited of a set of allowed tags as we do, and support proactively expanding this set. It would be nice if this was up to date so folks who need disallowed tags don't have to go through the 2-week release cycle to get it, especially if we don't have a good reason why it is disallowed in the first place.

Since sanitization is involved, maybe @ampproject/

[2021-01-19 17:59] #31049 closed

[2021-01-19 18:00] jpettitt commented on #32030
This may be an issue with `webview=1` causing amp to try and get a readerid seed from the viewer and not failing gracefully.

[2021-01-19 18:20] alanorozco commented on #32039
@dvoytenko I think we just missed all the "semantic elements" that act like `<div>`. If `<section>` is fine, then maybe so are all of these:

- `<article>`
- `<aside>`
- `<details>`
- `<figcaption>`
- `<figure>`
- `<footer>`
- `<header>`
- `<main>`
- ~~`<mark>`~~ (included)
- `<nav>`
- `<section>`
- `<summary>`
- `<time>`

[2021-01-19 18:26] Enriqe commented on #32040
I'm thinking the right fix for this would be to create a spec for the `i-amphtml-sizer` tag which allows an `img` tag as a child. And then add that new spec to the list of `allowed-descendants` of the `amp-story-player`. Is this right @ampproject/wg-caching ?

[2021-01-19 18:33] jaygray0919 commented on #32039
One last request here: `<pre>`. We have this statement that, currently, is ineligible for triple braces: `<pre class="line-numbers language-html">` (which, in JSON, of course would be: `<pre class='line-numbers language-html'>`). As you might expect, that element + class formats code with line numbers. Currently, the statement is inline HTML. We would like to include it in JSON (with the balance o

[2021-01-19 18:56] caroqliu commented on #31287
Neither @TomerAberbach nor I can reproduce the original issue anymore. It looks to be fixed in or before `2012301722001`, which oddly enough does not appear to contain #31317. Closing the issue.

[2021-01-19 18:56] #31287 closed

[2021-01-19 19:10] cburaca commented on #32035
Thanks @calebcordry .
I'm trying to serve ads on amp pages.

I thought it would be possible, as I saw other 3rd party networks using GPT also, and in non amp pages GPT ad requests seem to correctly include consent parameters.

If I'd use doubleclick integration, how could I inspect the served ad to retrieve the lineItemId, size, etc.(as I do when using GPT slotRenderEnded event), and pass that dat

[2021-01-19 19:18] Enriqe commented on #31908
Could you share the story / player you are using? Even a codepen or something similar would be helpful.

[2021-01-19 19:23] Enriqe commented on #31419
Not sure I understand, the iframe shouldn't be affected since we are targeting the `<a>` tags.

[2021-01-19 19:42] Gregable commented on #26406
I'd like to revisit this and recommend option 1 from https://github.com/ampproject/amphtml/issues/26406#issuecomment-696332071. In particular, I recommend supporting `@-moz-document` with any value for the "conditional group rules" section of which `url-prefix()` is an example.

To date, AMP validation doesn't validate this part of CSS with the exception of verifying it parses correctly. There are

[2021-01-19 19:49] Enriqe commented on #31010
It seems that updating the `src` of an iframe will write an entry to the parent window's history object.

An alternative is to use the `replace()` method on the location object of the iframe, but that only works for same-domain (friendly) iframes.

For cross-origin iframes we will need to remove the iframe, update the `src`, and then re-append to the DOM.
https://stackoverflow.com/a/8681618/210372

[2021-01-19 20:15] Gregable commented on #32040
@Enriqe That sounds like it would work. I'd need to see the actual changes to be sure.

[2021-01-19 20:52] andreHashimoto commented on #32030
Tracked internally on Google: b/177929227

[2021-01-19 21:00] asadkn commented on #20951
Definitely need a fix for this. While relying on prefers-color-scheme is an option, it's not ideal. Just because I prefer light scheme globally doesn't mean I don't wish to have some websites in dark mode.

[2021-01-19 21:04] dvoytenko commented on #26406
My main concern was that `url-prefix()` is essentially an `if` that would allow different UIs on cache vs origin. While this could be a useful feature, it also has some possibility for abuse.

[2021-01-19 21:18] westonruter commented on #26406
That usage hasn't been supported since Firefox 59 which was released almost 3 years ago. Firefox since has only supported `url-prefix()` with no value, as I understand.

[2021-01-19 21:22] dvoytenko commented on #26406
Ok. I guess that makes our lives a bit easier?

[2021-01-19 21:29] Gregable commented on #26406
What kind of abuse do you have in mind? If a publisher wanted to intentionally produce different UIs on cache and origin, this is already quite possible. They could respond differently based on useragent for example, giving the cache an entirely different document than user requests.

I suspect there are probably other ways to do this within a static AMP page too, either via amp javascript, mustac

[2021-01-19 22:10] krdwan commented on #31474
@Beethoven Thanks for the follow up, this is currently in our backlog of issues.

cc: @ampproject/wg-components if anyone has a chance to take a look

[2021-01-19 22:58] #23448 closed

[2021-01-19 23:00] dvoytenko commented on #26406
I was thinking more about differences on different caches. But I see your point. We can relax in these circumstances.

[2021-01-19 23:33] calebcordry commented on #30769
@couchcrew-thomas for sure, I should have already had something here.

Story ads are built upon the AMPHTML Ads specification. For an ad network to serve ads to serve ads to AMP stories they must:

1. Serve valid [AMPHTML Ads](https://amp.dev/documentation/guides-and-tutorials/learn/intro-to-amphtml-ads/) with a couple extra [pieces of metadata](https://amp.dev/documentation/guides-and-tutorials/d

[2021-01-19 23:36] #32004 closed

[2021-01-19 23:51] calebcordry commented on #32035
Ah you are right that some ad networks are using GPT in their code, sorry for the bad info. However, I know very little of how GPT is supposed to work, and I am not sure what level of support the GPT folks offer for this use case. Maybe you could read the consent from context yourself and feed it into whatever logic you need?

@zombifier who will have a better idea on GPT related support. Khoi, th

[2021-01-19 23:58] honeybadgerdontcare commented on #32037
@kristoferbaxter I don't think it's a documentation issue but an oversight that the AMP4EMAIL html format was not included for that tagspec. Especially since certain attributes are disabled by that format. I'll confirm the with the email team and respond back.

[2021-01-20 00:13] honeybadgerdontcare commented on #32037
@esafwan This is a documentation issue and both type=file and type=password are not allowed in AMP4EMAIL.

@CrystalOnScript for triaging documentation.

This is listed under allowed:
`<input type=password> and <input type=file> inside of <form method=POST action-xhr>`
but should be under not allowed as:
`<input type=password> and <input type=file>`

[2021-01-20 00:18] zhangsu commented on #32037
Send #32055 to fix the incorrect documentation.

[2021-01-20 00:35] CrystalOnScript commented on #31742
Both component reference documents specify they must be the last child of the `amp-story-page` tag. But I've added a note that specifies only one may be used per page. Sorry for any confusion!

[2021-01-20 01:42] ka2jun8 commented on #32036
Thank you for your advices :)

Sorry, I think our use case is not like that case.
I want to display a next carousel image a little bit because it causes to be interested for users.

However this is a hint for me.
I had no idea to use amp-base-carousel, instead of amp-carousel.
The option `visible-count` can be set a decimal number like `visible-count="1.5"`.

I think it is useful for me, thank you

[2021-01-20 02:06] dmanek commented on #29449
@oliverfernandez Hey I cannot repro this issue because next page does not have `<amp-consent>`. Can you please provide me with a link where I can repro? Thanks.

[2021-01-20 02:24] samouri commented on #31930
Now that the relevant fixes have already landed in `master`, we are going to skip this release and instead cut a new Beta from today. Will make a new tracking issue for the new release tomorrow

[2021-01-20 04:34] travisj opened #32060 "amp-analytics linkers config not working on all web stories links"
## What's the issue?

I'm trying to share `CLIENT_ID` from amp cache pages to our primary domain. I believe this is the intended use-case for setting `linkers` in the `amp-analytics` config. We have our own analytics package and not using google analytics.

outbound links in the lower 20% of the `amp-story-page` seem to work correctly and the linker id values set in the config work. any links not

[2021-01-20 04:36] esafwan commented on #32037
@honeybadgerdontcare Thanks for the clarification.

1. Is there a roadmap or something where we can see what features are in pipeline for future releases? And is there any chance for file upload to be included in allowed input types?

2. In cases of user onboarding process for certain critical services, such as in financial services we need to collect  ID and external links are resulting in 60 dro

[2021-01-20 09:32] jaygray0919 commented on #32039
@alanorozco can we depend on the above changes to be made in the near future? We're at a point where we can edit several triple brace documents and would like to move the target elements into JSON. We're OK if the pages fail the validator since the pages won't be in production until February 2021. The important elements for us (at this time) are `<section>` `<blockquote>` and `<pre>`.

[2021-01-20 09:57] couchcrew-thomas commented on #30769
@calebcordry : I see. So it is not possible to include any arbitrary amp-ad vendor inside an amp story because it is not possible to load 3rd party JS? We would have to create an extra implementation of our ad code explicitly for this?

[2021-01-20 10:07] edoudou commented on #31953
Yes it is indeed a good solution for most cases, but it still doesn't work if the last story is 1 page long :disappointed:

`player.go(0, -9999)` does not seems to rewind the autoplay if you are on the first page.

Plus I think it would be a great feature for the amp story player to rewind a story when it was readed till the end (or at least to be an option).
I would was looking into doing it myse

[2021-01-20 10:16] cburaca commented on #32035
Yes, I can read the consent from context, as my image above shows, but I need it to be sent in the 'ads' request to the ad server also, and have no idea why it is not included in the parameters, as for other networks using GPT.

Please see also the image below, from other 3p.
In the 'https://securepubads.g.doubleclick.net/gampad/ads' request, these parameters should be included, but are not:
![ads

[2021-01-20 13:36] Beethoven commented on #31474
I saw here, In 1.0 there´s no image in placeholder.
And no problem in loading.
It´s ok for me.

[2021-01-20 14:22] micajuine-ho commented on #32060
Hi @travisj, I see that you have the "linkers" module in the amp-analytics tag, however, you will also need the "cookies" module to read the LINKER_PARAM on origin and write the CID to cookies.

See here for more details: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-receiving.md

[2021-01-20 14:42] guiann opened #32064 "Add Documentation on Fast Fetch expected ad response"
This is a documentation update request.

## What's the issue?

Fast fetch network implementation is unclear.
Please see this request on stackoverflow with no answer:
https://stackoverflow.com/questions/62267848/getting-started-with-amp-and-rtc-as-a-vendor

### Tips on Rendering Bugs

When trying to implement an AMP RTC integration, we find the need to implement a Fast fetch adserver endpoint. Can

[2021-01-20 15:03] vahandev commented on #29449
Here is example page
https://www.searchenginejournal.com/hiring-search-agency/392516/amp/

[2021-01-20 15:21] samouri opened #32065 "🚄 Release tracking issue for release 2101211748000"
# Release tracking issue

This issue tracks release [2101211748000](https://github.com/ampproject/amphtml/releases/tag/2101211748000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2012301722001...2101211748000).

- [x] Release 2101200139000 promoted to Experimental and Beta (opt-in) channels.  -- **issues discovered**
- [x] Release 2101211748000 promoted t

[2021-01-20 15:24] samouri commented on #31930
Closing this thread/fully stopping release train in favor of: https://github.com/ampproject/amphtml/issues/32065

[2021-01-20 15:24] #31930 closed

[2021-01-20 15:28] travisj commented on #32060
hi @micajuine-ho, thanks for the response. in some cases these links from our web stories are going to non-amp pages, so i've chosen to parse the `linker` querystring param on the server and use a `set-cookie` header. i have not deployed that to our origin server yet since i am not seeing the `linker` querystring param set on all outbound links from web story pages in amp cache.

[2021-01-20 15:28] Enriqe commented on #31953
Got it, that's super helpful input.

I think we are getting to the point where we are describing the requirements / objectives of a "rewindStory" API. I think we have an existing issue #31424 so I will close this one. But feel free to reopen / comment there if anything is missing.

Thanks again for your contributions :)

[2021-01-20 15:28] #31953 closed

[2021-01-20 15:40] #31282 closed

[2021-01-20 15:47] Enriqe commented on #32040
@Gregable how can I test a document with the validator rules for transformed AMP? It seems that when I run `gulp validator` locally it disallows `i-amphtml-sizer` entirely even if it's in the `descendant_tag_list`:

`amp-story-player/0.1/test/validator-amp-story-player-sizer.html:31:4 The tag 'i-amphtml-sizer' is disallowed except in specific forms.`

I was trying to add the tag `IMG-I-AMPHTML-INT

[2021-01-20 16:18] samouri commented on #31980
As described in more depth in https://github.com/ampproject/amphtml/issues/31930, the CP to beta was cancelled in favor of cutting a new beta from master.

[2021-01-20 16:30] dmanek commented on #29449
@vahandev I'm not able to repro on that link. I dont get any sort of consent UI, perhaps due to the following JS error:
`[amp-consent-ui] postPromptUI element with id=postPromptUI not found`

 

[2021-01-20 16:31] vahandev commented on #29449
@dmanek  can you pls use proxy from Europe ?

[2021-01-20 16:35] Enriqe commented on #31929
Yep, that's right.

[2021-01-20 16:38] TomerAberbach commented on #17464
I would like to use `amp-fit-text` in an email and customize the line height, and I can't use `amp-truncate-text` because it is not available for email. Any chance we can make it possible to customize the line height as already suggested?

@caroqliu FYI

[2021-01-20 16:40] Enriqe commented on #31838
It seems like the amp-cache-toolbox is resolving the url

`https://recipes-timesofindia-com.cdn.ampproject.org/v/s/recipes.timesofindia.com/web-stories/8-vegetable-flours-and-their-benefits/photostory/80139765.cms"`

but checking the actual cache url, I get:

`https://m-recipes-timesofindia-com.cdn.ampproject.org/v/s/m.recipes.timesofindia.com/web-stories/8-vegetable-flours-and-their-benefits/phot

[2021-01-20 16:46] joshm33333 commented on #21513
just want to say, this is an absolute deal breaker for our company and our 50+ clients
pinch to zoom is critical because many people with poor vision use our sites, to think amp has determined accessibility to be less than a priority concern is unfortunate

[2021-01-20 17:00] kristoferbaxter commented on #31913
Thank you for presenting today, closing this issue.

[2021-01-20 17:00] #31913 closed

[2021-01-20 17:20] samouri commented on #31980
CP to stable is complete

[2021-01-20 17:20] samouri commented on #31989
CP to stable is complete

[2021-01-20 17:33] honeybadgerdontcare commented on #32037
I'm unaware of a feature pipeline for AMP4EMAIL. @zhangsu do you have any that you can share?

The [documentation](https://amp.dev/documentation/components/amp-form/?format=email) mentions:

(Relaxing some of these rules might be reconsidered in the future - [please let us know](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#make-a-suggestion) if you require these and provide us

[2021-01-20 17:37] sebastianbenz commented on #31838
No idea. I don't think that this is a problem with how we're calculating the cache URL. My guess is that GoogleBot gets a different document served. For example, https://m.recipes.timesofindia.com/web-stories/8-vegetable-flours-and-their-benefits/photostory/80139765.cms redirects me to https://recipes.timesofindia.com/web-stories/8-vegetable-flours-and-their-benefits/photostory/80139765.cms.

[2021-01-20 17:40] #32037 closed

[2021-01-20 17:52] kristoferbaxter commented on #7617
Closing due to inactivity.

[2021-01-20 17:52] #7617 closed

[2021-01-20 18:21] gmajoulet opened #32067 "[Story format] Greatly increase timeout before dispatching "storyContentLoaded" event"
The `storyContentLoaded` event has the same timeout as the `amp-story-renderer` service, which is 2900ms. This event is used by Players to know when the initial content is loaded.
Use cases include:
1. The open source Story Web Player uses it as a heuristic to start prerendering the following story
2. Some players could use it to show an animation (eg: loading spinner) or a preview before revealin

[2021-01-20 18:42] zombifier commented on #32035
Regarding GPT, it will be able to collect the consent signals as long as the corresponding consent API framework (CCPA, TCFv2, etc.) is loaded on the page. This might be your page's problem.

[2021-01-20 18:42] Gregable commented on #32040
Use `<html ⚡ transformed="self;v=1">` for example.

[2021-01-20 18:42] Cauchon commented on #31951
@dmanek Have you been able to reproduce the scrolling issue? Since the 'auto-scroll back to top of doc' issue affects reading experience and seems 100% reproducible with folks on our end, we are likely to remove amp-next-page from CNET later today or tomorrow.

Once we remove it from CNET, it should still be reproducible when viewing any AMP article from the AMP cache - I was just able to reproduc

[2021-01-20 18:54] cburaca commented on #32035
I believe so, using the amp-consent component, because when I print the consent information retrieved from the window.context, I see this:
![context](https://user-images.githubusercontent.com/34578048/105220494-b6a8ec80-5b4f-11eb-95c8-0cba9ac1fba0.png)

The way the amp-ad component gets this from the CMP isn't the same as GPT would?

[2021-01-20 18:58] TomerAberbach opened #32070 "Consider using standard format for `amp-timeago` locale"
## Describe the new feature or change to an existing feature you'd like to see

I would like [`amp-timeago`'s `locale` attribute](https://amp.dev/documentation/components/amp-timeago/?format=websites#locale-(optional)) to use some standardized format, such as [IETF language tags](https://en.wikipedia.org/wiki/IETF_language_tag) (e.g. zh-CN), as opposed to some custom format (zhCN).

## Describe al

[2021-01-20 19:01] micajuine-ho commented on #32060
@travisj Thanks for the explanation. I'm able to repro the problem now.

It looks like the problem here is that the `<a>` within a shadow doc isn't getting picked up by the navigation service.

@ampproject/wg-performance Should the navigation service be able to work on `<a>` elements within a shadow doc?

https://github.com/ampproject/amphtml/blob/e2ac9d9b6f98486281d5a25207e10b3b1584127a/extension

[2021-01-20 19:18] #32067 closed

[2021-01-20 19:19] flaviori commented on #32067
8k LGTM

[2021-01-20 19:26] zhangsu commented on #32037
@nainar for the question on roadmap.

[2021-01-20 19:39] Enriqe commented on #32040
@Gregable I'm a bit confused because it seems that there is a TagSpec in validator-main.protoascii that exists for this purpose:

https://github.com/ampproject/amphtml/blob/53dd79cbfce73496c13f3b1b227d3f67c35d14c9/validator/validator-main.protoascii#L4539-L4570

Do you know what else is needed for this to work with the player?

[2021-01-20 19:46] calebcordry commented on #30769
That's right, any vendor can create a fast fetch implementation if they wish, but they must create one to serve story ads.

[2021-01-20 20:14] Enriqe commented on #31838
Found an older issue that bumped into the same issue https://github.com/ampproject/amphtml/issues/7274

We need to make a change to the viewer integration messaging library to handle the redirect case.

[2021-01-20 20:16] alanorozco commented on #32039
@jaygray0919

@dmanek will be making this change soon. The change should be in production within what's typically two weeks after merging.

[2021-01-20 20:42] #31742 closed

[2021-01-20 20:50] zombifier commented on #32035
To be more specific, GPT cannot read the `window.context` object, it will need to interact with the TCFv2 API in order to get GDPR consent information. You'll need to load or implement this API on the AMP page that provides the information from `window.context` (populated by `amp-consent` beforehand). Let us know if you have more questions.

[2021-01-20 21:14] jeffkaufman commented on #32035
Another way to say this is that you probably would need to build an adapter. The adapter would consume the consent signals from `window.context` and present them to GPT by implementing the CMP side of the TCFv2 API.

Note that this is not a recommended way of handling this. Instead, we recommend publishers use amp-doubleclick, which does understand AMP's method of handling consent, and is also muc

[2021-01-20 21:39] jaygray0919 commented on #32039
Thank you. Will reduce complexity.

[2021-01-20 22:04] jridgewell commented on #2931
This has to be fixed by SlideShare. There's nothing we can do on our end to help here.

[2021-01-20 22:11] jridgewell commented on #24262
@honeybadgerdontcare: `--[\w]?[\w-]*` seems odd. `--[\w][\w-]*` should capture every valid case, and excludes `--` which is invalid. (And we need to exclude `--i-amphtml*`, so:

[code]

[2021-01-21 00:16] Enriqe commented on #32060
Hi @travisj thanks for the report, and thanks @micajuine-ho for chiming in.

We actually have a separate trigger for tooltip clicks called `story-click-through`. Is this what you were looking for?

Read more in the story analytics page: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story-analytics.md#tooltip-click-through-trigger-on-story-click-through

[2021-01-21 00:47] #23396 closed

[2021-01-21 02:04] samouri opened #32091 "Integration tests always fail the first time ran"
**summary**
Happens on my machine every time. If others can't repro super easily I can dive deeper to see if I have anything weird going on.

Example command: `gulp integration --files=test/integration/test-amp-ad-3p.js --safari`
Output:
<img width="991" alt="Screen Shot 2021-01-20 at 9 02 35 PM" src="https://user-images.githubusercontent.com/4656974/105270032-0e048800-5b63-11eb-9301-8384d170f6dc.

[2021-01-21 02:08] kakinada9 opened #32092 "Script cdn.ampproject.org/v0/amp-ad-0.1.js is identified as Potentially Suspecious file by "https://scanner.pcrisk.com/""
I tried to scan my websit "https://www.kakinada9.com" for any suspecious Phishing/Malware detection using the online scanner "https://scanner.pcrisk.com/" in the end report I got a result  show that my website has a Potentially suspecious  File and the file is "cdn.ampproject.org/v0/amp-ad-0.1.js" Could you help me in this regard, why this file might be Suspecious. Is this the problem with my webs

[2021-01-21 04:25] rebeccanthomas commented on #30649
On potential solution for this would be to permanently add the `overflow: hidden;` style to this component.
However this change would be backwards incompatible and would require a new revision of the social-share component.

@alanorozco, @kristoferbaxter, @krdwan Do you have any thoughts the correct path forward?

[2021-01-21 04:37] ikriser commented on #23527
This would be great for amp for ecommerce as I am trying to get product variations to work. I can change the variation with `AMP.pushState`, but then I am not able to update to the url, so refreshing the page goes back to the initial state, not the most recent state. So I would also request that either the url be able to update with `AMP.pushState` for server-side rendering on refresh, or a type o

[2021-01-21 05:14] travisj commented on #32060
Hi @Enriqe thanks for looking in to this. I read through the documentation you provided above and I don't think it is what we need.

If I understand the page correctly, it documents how to trigger events to our analytics when certain story events happen. For example, if we wanted to track how many clicks the `Get App` tooltip on the top of the story received, we could set up our config to trigger

[2021-01-21 07:00] alanorozco opened #32096 "Storybook configuration doesn't work when using Storybook 6"
Related to #32072

- **opened browser tabs now point to IP instead of localhost**, which may fail in some network configurations (e.g. corporate proxies). either use `--host` with default value to `localhost` or `--ci` to prevent Storybook from launching browser tabs.

- **stories hang while loading with error** `TypeError: storyStore.setSelectionSpecifier is not a function`.
It's suggested to rem

[2021-01-21 09:24] cburaca commented on #32035
Thanks @zombifier and @jeffkaufman.

I'll try to build this adapter and let you know.

[2021-01-21 10:15] cosmin-vi commented on #31824
Thank you @alanorozco
We will try them on the stable build.

[2021-01-21 14:29] Enriqe commented on #32060
Gotcha, thanks for the detailed description!

Then yes, I believe the story-specific analytics code isn't configured correctly to use the navigation service, like @micajuine-ho was mentioning. I'll take a look at this.

[2021-01-21 15:43] rnkimani commented on #31010
Yeah. replace should do the trick :)

[2021-01-21 15:45] rnkimani commented on #31010
Yeah, and it seems it couldn't be overridden with any replace function call above it. It would still retain history of the ones on the iframe.

[2021-01-21 15:52] gmajoulet commented on #31010
To update this thread, @Enriqe is working on simplifying some Player code to make the overall library faster and more reliable. These updates will have the nice side effect of fixing this bug.

[2021-01-21 16:06] jeffkaufman commented on #32035
Reviewing https://github.com/InteractiveAdvertisingBureau/GDPR-Transparency-and-Consent-Framework/blob/master/TCFv2/TCF-Implementation-Guidelines.md it's possible that you need to register as a CMP with IAB Europe before implementing the CMP side (consent signals producer) of this adapter.  Probably good to check in with them regardless, since they "own" this API?

[2021-01-21 16:34] processprocess opened #32098 "[Panning media] Animate with JS"
Animate with JS instead of css transitions.
This will allow:
- better control over animation:
  - better syncing between components
  - only transitioning specific pages
  - ability to pause and resume animation

This is a follow up to #31504
Code can be referenced from [this](https://github.com/ampproject/amphtml/pull/31559/commits/212765a472e30ea4f1dd41f3bf8afa4144bf16e1#diff-ec7336e877efc70655d

[2021-01-21 16:44] gmajoulet commented on #32060
How does the linker-manager code you linked work and know which links to intercept/apply the linker to? Two questions:
- If we change the navigation to happen programmatically from the JavaScript, will it intercept it and apply the linker?
- If we create a <a> tag on the fly and programmatically trigger it (ie: dispatch ClickEvent), will it intercept it and apply the linker?

Side note: We can onl

[2021-01-21 16:49] gmajoulet commented on #32060
Chatting with @Enriqe, a tentative fix could look like:

1. Listen for click events on the tooltip link in the shadow DOM
2. Create a new <a> tag in the light DOM
3. Trigger a programmatic click on that new <a>
4. Look at if it's intercepted by the linker code
5. Check that it works on Chrome AND Safari (cf target=blank comment I added)

[2021-01-21 17:06] micajuine-ho commented on #32060
This was the fix I was thinking of. I think the navigation service should be able to pick up the programmatic click on  new light  tag in the light DOM, and thus trigger the analytics linker callback.

[2021-01-21 18:25] adamsilverstein commented on #30176
@zhouyx Are you sure this is the correct behavior? When testing and reviewing `gtag.js` linker functionality, I noticed that gtag will **never** decorate a link to the exact same domain (it does this check first). `domains` does not override that, unlike in AMP.

I feel like the AMP auto-linker should match this logic, what do you think?

[2021-01-21 18:30] honeybadgerdontcare commented on #32039
We prefer an allowedlist if there is ever a situation where a disallowed list may be needed in the future. Also in favor of expanding the list as requests come in. A 2-week cycle seems an okay trade off with having to do an emergency sanitization.

[2021-01-21 18:36] adamsilverstein commented on #30176
Moving up the check in `isDomainMatch_` would fix this: https://github.com/ampproject/amphtml/pull/32100

[2021-01-21 18:44] Enriqe opened #32101 "[amp-story-player] Overriding default autoplay behavior on the player"
Currently the player decides when to pause / play the first story: it first prerenders it and when it shows up in the viewport it plays it (#31305). We decided on this to improve performance metrics (mainly LCP), and the fact that the player was playing off-screen would mean that users would be missing content by the time they saw the player #29798

We've received several requests to be able to pa

[2021-01-21 18:48] gmajoulet commented on #32101
Good point. We could try to mimick the HTMLMediaElement `autoplay` attribute, but keeping it true by default. Publishers could opt-out by specifying `autoplay="false"`.

[2021-01-21 18:56] gmajoulet commented on #32060
Sounds good. We need to make sure it is still considered a trusted user interaction and is not blocked by any browser.
@mszylkowski will look into this soon.

[2021-01-21 19:03] #32039 closed

[2021-01-21 19:18] adamsilverstein commented on #30176
@micajuine-ho can you please review this issue/PR when you have a chance?

[2021-01-21 19:29] rsimha opened #32103 "Regular failures in `test/unit/test-iframe-helper.js` due to cross-origin frame access"
Failure links: [Travis](https://travis-ci.com/github/ampproject/amphtml/jobs/473957046), [CircleCI](https://app.circleci.com/pipelines/github/ampproject/amphtml/189/workflows/0b9bc954-c5f1-42f2-b77d-72b188bbb362/jobs/1134/parallel-runs/0/steps/0-110)

[code]

[2021-01-21 19:39] westonruter commented on #26452
We get support forum topics about this for the WordPress plugin as well.

[2021-01-21 19:45] mszylkowski opened #32106 "[Story devtools] Fast navigation triggers race condition between players"
### Description
If you navigate fast on a player on the dev-tools, a second navigation on user input might get reported before a first navigation on the other players due to the programmatic navigation, so the programmatic advancement can trigger an endless loop of players updating each other between those two pages.

### Example
Player A gets 2 manual advancements from page-1 to page-3, and playe

[2021-01-21 19:49] kristoferbaxter commented on #32092
This appears to be an issue with the scanning software, not the Open Source library. Using `JSON.parse` instead of inlining a large Object literal is a preferred approach.

<img width="1090" alt="Screen Shot 2021-01-21 at 11 47 45 AM" src="https://user-images.githubusercontent.com/61764/105404163-8197ab00-5bde-11eb-8108-673a62805e58.png">

Additional information is available here: https://www.yout

[2021-01-21 19:49] #32092 closed

[2021-01-21 19:51] Gregable commented on #32040
@Enriqe @westonruter Can you give me a full example that doesn't currently work which you think should?

[2021-01-21 19:52] westonruter commented on #32040
@Gregable See the playground link in the description.

[2021-01-21 20:01] #31504 closed

[2021-01-21 20:02] jridgewell commented on #26452
ping @nainar

[2021-01-21 20:12] mbarinov commented on #31854
@dvoytenko Thanks for your answer. We don't use a subscription model, users pay per article. So, amp-access looks like the best option.

[2021-01-21 20:13] rsimha commented on #28975
This test is still flaky.

[2021-01-21 20:32] rsimha commented on #24195
@ampproject/wg-components This suite of tests has been failing quite regularly of late and is affecting most CI runs. For example: [this one](https://app.circleci.com/pipelines/github/ampproject/amphtml/199/workflows/3fa375ca-6b63-49fd-9175-85e36bd7eeb0/jobs/1282/parallel-runs/0/steps/0-110).

![image](https://user-images.githubusercontent.com/26553114/105408856-8586f580-5bfd-11eb-808c-4a3ff72309b

[2021-01-21 20:40] micajuine-ho commented on #30176
Hi @adamsilverstein @westonruter

Thanks for bringing this up again.

This would fix this specific case, however I am hesitant to make this fix as it would cause problems for other users since it would be breaking functionality.

The problem here is that the `gtag` analytics config is using a linker without `proxyOnly: true`.

We could bring this up to the gtag team and see if there is a way to cu

[2021-01-21 20:42] micajuine-ho commented on #24195
@rsimha SGTM. I'll take a look ASAP.

[2021-01-21 20:47] caroqliu commented on #24195
@rsimha As a point of clarification, the above screenshot looks relevant to 1.0 (bento) amp-base-carousel and may not be related to the other pre-existing flaky tests this issue was filed for. I'll take a look. I see that it is [passing most of the time](http://amp-test-cases.appspot.com/test-cases/stats/fail), is there a better resource that shows the higher rates of failure?

[2021-01-21 20:50] rsimha commented on #24195
@caroqliu Here is the list of `master` builds on CircleCI: https://app.circleci.com/pipelines/github/ampproject/amphtml?branch=master. If you click through failing builds, most if not all the E2E failures are due to this test suite. (Obviously, feel free to ignore the other failing suites like unit / performance. I'm following up on those separately.)

[2021-01-21 20:52] Enriqe opened #32110 "Support importing AMP from an npm package"
Currently importing from AMP from an npm package is not supported, since the file is not pre-processed before publication.

See example PR https://github.com/ampproject/amphtml/pull/32076 and related https://github.com/ampproject/amphtml/pull/32109#discussion_r562182768

/cc @ampproject/wg-infra

[2021-01-21 20:57] caroqliu commented on #24195
Thank you! I'll look briefly and send out a skip PR by EOD if there isn't an obvious fix.

[2021-01-21 21:21] caroqliu commented on #24195
Some notes after reviewing runs 99-213:
- [`amp-base-carousel test snap property`](https://app.circleci.com/pipelines/github/ampproject/amphtml/213/workflows/cc34f8e7-a425-430f-8563-8ed9dce54142/jobs/1386) is a 0.1 failure with `StaleElementReferenceError: stale element reference: element is not attached to the page document`
- [`AMP carousel arrows when non-looping`](https://app.circleci.com/pipe

[2021-01-21 21:21] #31943 closed

[2021-01-21 21:28] adamsilverstein commented on #30176
I can understand why you wouldn't want to risk breaking existing functionality. I'm still not sure I understand why not adding the linker to local links would be problematic. Is that related to a cache serve case? Do you have an example of what this would break? Is the existing behavior you described documented anywhere (ie "AMP won't decorate a url with the exact same domain. However the domains

[2021-01-21 21:28] samouri opened #32111 "🌸 Cherry-pick request for #32087 into #31929 (Done)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32087 | #32087 |     **NO*

[2021-01-21 21:30] rsimha commented on #24195
Wow, that was comprehensive. Thanks for the careful analysis, @caroqliu!

We're currently using the "XLarge" VM provided by CircleCI, so tests should run fairly fast.

https://github.com/ampproject/amphtml/blob/ca87c8e7f762964c5bd21aeab438d1b42d051aa2/.circleci/config.yml#L21-L25

CircleCI tests are indeed non-blocking for now (as is the `ampproject/tests/e2e (nomodule)` test status). The plan is

[2021-01-21 21:50] jridgewell commented on #32111
Approved.

[2021-01-22 09:18] edoudou commented on #32101
As I told @Enriqe on slack, correct me if I am wrong but I understood that the player uses the visible state to pause and play the story. In my opinion, both state should be treated differently, even if they will impact the story in a similar way.

Enriqe told me it was for performance issues, but I am having trouble imagining how this could be so impactful on performance that we prefer to keep a

[2021-01-22 11:36] yk1979 opened #32120 "[amp-base-carousel] next button is visible even if all items are in the viewport"
## What's the issue?

the next-button is shown if all the carousel items are contained in the viewport of scrollable area.
I think this is a bug,  because there is no more contents and nothing happens if the button is clicked.

<img width="539" alt="スクリーンショット 2021-01-22 20 30 42" src="https://user-images.githubusercontent.com/26158752/105485758-b85de600-5cf0-11eb-8d70-b3c193a14a0e.png">

## How do

[2021-01-22 14:18] micajuine-ho commented on #30999
The Funding Choices team has told me that they will be prioritizing the AMP integration in Q3.

[2021-01-22 15:02] micajuine-ho commented on #30176
Yes it is documented [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-forwarding.md#format)

I don't have too much context around why we don't automatically allow the same hostnames to be automatically decorated, maybe @calebcordry  can chimes in here. But I imagine it's because we have the `proxyOnly` option that we expected to be used.

I see. This idea

[2021-01-22 15:35] edoudou commented on #32101
Do you think it is possible to prioritize this ?

Right now, the lack of a good way to disable the autoplay through the player makes it almost unusable for most of our case, as most of the time, our clients prefer to have autoplay on everycard to remind of instagram

[2021-01-22 16:21] mszylkowski opened #32124 "[Story devtools] Stories don't load on preview tab if starting on other tabs"
Stories don't load on the players if users start on another tab and go to the preview tab.

To repro:
1) Open [any story on the logs tab](https://wp.stories.google/stories/intro-to-web-stories-storytime/#development=1&tab=logs)
2) Go to the preview tab
3) The players won't load unless you click them

[2021-01-22 16:24] #31929 closed

[2021-01-22 17:52] #31284 closed

[2021-01-22 17:54] Gregable commented on #32040
@Enriqe in that case, the `value_regex` isn't matching the `src`. The validator tries multiple tagspecs for a tag and if none of them matches, it guesses which one the author intended and returns it's best guess of what the mismatch was from the tag to that one tagspec. The guesses aren't always right.

In this case, none of the tagspecs match and it's using one of the two tagspecs with an amp-img

[2021-01-22 18:14] dmanek commented on #29449
@oliverfernandez can u share the consent config from the host as well the next page from where you could repro this issue? Were they the same config or different?

[2021-01-22 18:35] adamsilverstein commented on #30176
Yes. @westonruter gave some sample Site Kit output [above](https://github.com/ampproject/amphtml/issues/30176#issue-697243233) where you can see the full configuration. WordPress users might use the official [AMP plugin](https://github.com/ampproject/amp-wp) and Google's [Site Kit](https://github.com/google/site-kit-wp) for AMP compatible Analytics integration.

In addition, gtag comes in because

[2021-01-22 19:18] #30868 closed

[2021-01-22 19:26] processprocess commented on #31931
Duplicate of #31932

[2021-01-22 19:26] #31931 closed

[2021-01-22 19:35] sebsg opened #32139 "Add support for Text Fragments in AMP"
## Describe the new feature or change to an existing feature you'd like to see

Chrome has implemented this new [W3C draft spec about Text Fragments](https://wicg.github.io/scroll-to-text-fragment/) that allows linking to specific parts of a web page. Upon opening the link the browser will scroll-to and highlight the specified section.

While this works on most sites, one big issue with the featur

[2021-01-22 19:49] honeybadgerdontcare commented on #26406
Fixed in #32133

[2021-01-22 19:49] #26406 closed

[2021-01-22 20:21] ampprojectbot opened #32142 "🚨 Error: Cannot read property 'left' of null"
Details
---
**Error report:** [link](http://go/ampe/CJOjio_HnLm1fw)
**First seen:** Jan 21, 2021
**Frequency:** ~ 55/day

Stacktrace
---
<pre><code>Error: Cannot read property 'left' of null
    at ib (<a href="https://github.com/rtv/042101210130000/blob/v0/amp-ad-latest.mjs#L4">amp-ad-latest.mjs:4</a>:9041)
    at mb (<a href="https://github.com/rtv/042101210130000/blob/v0/amp-ad-latest.mjs#L4">a

[2021-01-22 20:21] ampprojectbot opened #32143 "🚨 Error: Cannot read property 'left' of null"
Details
---
**Error report:** [link](http://go/ampe/CJOjio_HnLm1fw)
**First seen:** Jan 21, 2021
**Frequency:** ~ 55/day

Stacktrace
---
<pre><code>Error: Cannot read property 'left' of null
    at ib (<a href="https://github.com/rtv/042101210130000/blob/v0/amp-ad-latest.mjs#L4">amp-ad-latest.mjs:4</a>:9041)
    at mb (<a href="https://github.com/rtv/042101210130000/blob/v0/amp-ad-latest.mjs#L4">a

[2021-01-22 21:07] ampprojectbot opened #32144 "🚨 Error: Cannot read property 'left' of null"
Details
---
**Error report:** [link](http://go/ampe/CJOjio_HnLm1fw)
**First seen:** Jan 21, 2021
**Frequency:** ~ 55/day

Stacktrace
---
<pre><code>Error: Cannot read property 'left' of null
    at ib (<a href="https://github.com/rtv/042101210130000/blob/v0/amp-ad-latest.mjs#L4">amp-ad-latest.mjs:4</a>:9041)
    at mb (<a href="https://github.com/rtv/042101210130000/blob/v0/amp-ad-latest.mjs#L4">a

[2021-01-22 22:38] zhangsu opened #32150 "AMP for Email: sanitize non-HTTPS image URLs in Mustache template"
The spec doesn't allow non-HTTPS image URLs, but currently we don't have any code in the sanitizer that enforces this. Email clients sanitize this on the server-side anyway, but it'd be nice to align the AMP runtime behavior with email clients for DevX (e.g., playground behavior consistent with production).

/to @nainar

[2021-01-22 22:40] Gregable commented on #30546
This has been resolved to add `kit`.

[2021-01-22 22:40] #30546 closed

[2021-01-22 22:42] nainar commented on #32150
@samouri or @jridgewell to take this on

[2021-01-22 22:45] Gregable commented on #24161
Closing will not implement. To reopen, I'd like to see a stronger rationale for tightening the rules here.

[2021-01-22 22:45] #24161 closed

[2021-01-22 22:52] micajuine-ho commented on #30176
To reiterate our offline conversation:

We needed the `proxyOnly` along with the domain name allowlisted in `destinationDomains:[]` for fragment links from cache to canonical.

However, adding the origin to the `destinationDomains` also means that internal navigation will always be linker decorated.

A possible solution here is to add a feature that disallows linker decoration for internal navigat

[2021-01-22 23:41] dvoytenko opened #32155 "Bento: provide boilerplate CSS to avoid CLS"
TODO:

- [ ] A simple `bento.css` stylesheet deployed to CDN.
- [ ] A `bento.js` script that installs stylesheet and provides some utilities.

[2021-01-23 01:46] calebcordry commented on #30176
I vaguely remember something about some pubs wanting same domain decoration, but when I looked through old issues I couldn't find anything concrete. I agree with Mica that Adam's PR would be a breaking change if there is a valid use case, but again, I don't have a real world example. I like the new flag idea, but it would require coordination with the vendors. I will defer to Mica and team as to w

[2021-01-23 03:25] yk1979 opened #32159 "[amp-base-carousel] make the width of the scrollable area adjustable"
## Describe the new feature or change to an existing feature you'd like to see
the scrollable area of the amp-carousel is adjustable with setting padding to the parent element.
but it's not the case with the amp-base-carousel.

<img width="777" alt="スクリーンショット 2021-01-23 12 24 20" src="https://user-images.githubusercontent.com/26158752/105567546-f9e4a480-5d75-11eb-85b7-c1fc014e1ead.png">

see [play

[2021-01-23 11:47] ampprojectbot opened #32161 "🚨 Error: Cannot read property 'left' of null"
Details
---
**Error report:** [link](http://go/ampe/CKbrmPiGgMXhqQE)
**First seen:** Jan 15, 2021
**Frequency:** ~ 2,955/day

Stacktrace
---
<pre><code>Error: Cannot read property 'left' of null
    at left (<a href="https://github.com/ampproject/amphtml/blob/2101210130000/src/layout-rect.js#L114">src/layout-rect.js:114</a>:16)
    at layoutRectFromDomRect (<a href="https://github.com/ampproject/a

[2021-01-23 22:30] samouri commented on #32161
already fixed.

[2021-01-23 22:30] #32161 closed

[2021-01-24 05:40] westonruter commented on #32040
Humm. Doesn't it match?

Given this rule:

https://github.com/ampproject/amphtml/blob/53dd79cbfce73496c13f3b1b227d3f67c35d14c9/validator/validator-main.protoascii#L4565-L4569

[code]

[2021-01-24 06:25] ampprojectbot opened #32163 "🚨 Error: Cannot read property 'left' of null"
Details
---
**Error report:** [link](http://go/ampe/CIO5jvK8rdik7AE)
**First seen:** Jan 15, 2021
**Frequency:** ~ NaN/day

Stacktrace
---
<pre><code>Error: Cannot read property 'left' of null
    at left (<a href="https://github.com/ampproject/amphtml/blob/2101210130000/src/layout-rect.js#L114">src/layout-rect.js:114</a>:16)
    at layoutRectFromDomRect (<a href="https://github.com/ampproject/amp

[2021-01-24 07:29] normanfan opened #32164 "🚨 Error: [data-vars-* is valid in amp-story ,but not valid in amp-story-page, i can't get values defined in the amp-story-page]"
data-vars-* is valid in amp-story ,but  not valid in amp-story-page, i can't get values defined in the amp-story-page

Details
[code]
[code]

and i  can't get the 'eventId', how can i  get the value

[2021-01-25 04:20] dmanek opened #32165 "User is sent back to the top of the first article when next page loads"
Issue:
When I approach the end of the first article and the start of the amp-next-page article, the user is sent back to the top of the first article.

To reproduce:

Search "CNET" in Google, click on an AMP page from SERP
Scroll to near end of article and into amp-next-page.
Notice that you are thrown back to top of the first article
Demo:

Via iPhone Safari browser: https://drive.google.com/file

[2021-01-25 04:22] dmanek commented on #31951
@Cauchon Yes, I was finally able to repro the issue! I created a new issue (above) for it, so we can track it separately. Thanks for reporting this & glad that the amp-ad/amp-img issue is fixed.

[2021-01-25 04:47] opencmp commented on #26229
Hi!

Has there been implemented a solution yet? I can't find anything in the docs except expireCache.

Is it possible to give more control to the CMP? Right now AMP is in control of the CMP. But in my opinion the CMP needs to be in control of when to show the popup. Only the CMP knows about changes in the vendorlist and in our case the CMP can be configured by our users to control its behaviour. B

[2021-01-25 10:51] ghelapratik opened #32171 "Allow target blank for amp-story-page-attachment Links"
Currently, while linking the page attachment to an external URL opens the URL in the same window. This behavior is taking away people from the story and the flow is broken and confusing. A good alternative to this will be to open the external URLs in a new tab. So, allowing target="_blank" in the <amp-story-page-attachment> tag will be really helpful.

[2021-01-25 14:46] #31304 closed

[2021-01-25 14:49] gavingrv opened #32173 "amp-youtube stops videos after initial video load in amp-lightbox"
## What's the issue?

When using the `amp-youtube` element inside of `amp-lightbox`, after the initial video has played - any videos to play after will just freeze and continuously stop working.

## How do we reproduce the issue?

I have created a JSFiddle which reproduces this issue: https://jsfiddle.net/f4rjn2wg/2/

1. Click any button to open the lightbox with the video in it.
2. Close the ligh

[2021-01-25 14:55] rsimha commented on #24195
I have more data points after observing weekend builds. The remaining flake is from the 0.1 tests, and likely has to do with initial state. This might need a fix for the `beforeEach()`, since I'm not sure skipping individual tests is sufficient. For example, [this build](https://app.circleci.com/pipelines/github/ampproject/amphtml/385/workflows/56ac39b5-04c4-4683-8b72-e0d893d25a2b/jobs/3178):
[cod

[2021-01-25 15:01] #32124 closed

[2021-01-25 15:37] adamsilverstein commented on #30176
Thanks for the feedback @calebcordry, appreciate the consideration.

[2021-01-25 16:21] gmajoulet commented on #32101
Of course.

To clarify, the current behavior is:

1. Story is prerendered and not playing on page load
2. When the story gets visible in the viewport, it starts playing
3. If you scroll further and the Story is no longer visible, it's still playing

From what you said, you're okay with (1) and (2), but would want to get more control over (3)?

[2021-01-25 16:28] samouri commented on #32144
Dupe https://github.com/ampproject/amphtml/issues/32143

[2021-01-25 16:28] #32144 closed

[2021-01-25 16:30] #32143 closed

[2021-01-25 16:31] samouri commented on #32143
Was solved in the on Jan 21 and fix should be in Jan 22nd nightly.
Fix: https://github.com/ampproject/amphtml/pull/32087

[2021-01-25 16:31] samouri commented on #32142
Was fixed with https://github.com/ampproject/amphtml/pull/32087, and should no longer occur as of Jan 22nd nightly

[2021-01-25 16:31] #32142 closed

[2021-01-25 16:32] samouri commented on #32163
NaN/day? This error should have been fixed on Jan 21 and not occur as of Jan 22nd. (https://github.com/ampproject/amphtml/pull/32087)

[2021-01-25 16:32] #32163 closed

[2021-01-25 16:32] rcebulko opened #32177 "Consolidate automated test fixtures from `test/manual` to `test/fixtures/e2e`"
`test/manual/` existed before we started e2e tests and is used for manual testing/examples. New fixtures mostly went to `test/fixtures/e2e/`, but some ended up here possibly due to confusion over the "right" destination. Any fixtures used in automated testing should be moved out of `test/manual` into `test/fixtures/e2e`, and the e2e testing framework can be modified to ensure this stays consistent

[2021-01-25 17:23] caroqliu commented on #25284
@krdwan @rebeccanthomas Would you two like to work on this together for 0.1?

[2021-01-25 18:09] Gregable commented on #18246
This has been implemented as a warning only. I don't anticipate we'll want to move to an error for AMP, only email, so closing this.

[2021-01-25 18:09] #18246 closed

[2021-01-25 18:59] #31980 closed

[2021-01-25 19:01] baconjulie opened #32195 "Rename "master" branch to "main""
Following up on our discussion in the 1/25 AMP AC Meeting to rename the `master` branch to `main` or a similar name.

[2021-01-25 19:01] powerivq commented on #32024
@modessef1 Looking at the ads config, it seems that smartadserver is the one backfilling the google ad manager. They are in a better position to see what happened with how gpt is backfilled and why consent is not provided.

[2021-01-25 19:06] dmanek commented on #31951
Closing as the amp-next-page issue in Google AMP viewer (affecting amp-img and amp-ad components) is fixed.

[2021-01-25 19:06] #31951 closed

[2021-01-25 19:23] rcebulko commented on #32177
/cc @caroqliu

[2021-01-25 20:59] ericfs commented on #31364
Thank for the report. Filed internal issue b/178405438
I'm sharing with the team

[2021-01-25 21:14] #16866 closed

[2021-01-25 21:47] hjjinnie opened #32188 "Cannot get access to the article url for shadow docs"
## What's the issue?

For publishers using amp-smartlinks and amp-next-page, API requests from the first article are successful, but requests from succeeding pages (which are shadow docs) are failing.

## How do we reproduce the issue?

1. Go to this example publisher page: https://www-purewow-com.cdn.ampproject.org/c/s/www.purewow.com/fashion/leggings-with-pockets?amphtml=true
2. Filter the netwo

[2021-01-25 21:53] hjjinnie commented on #32188
Putting up a PR in the next couple days!

[2021-01-25 21:59] stephengardner commented on #24621
11 days since the last comment, really hoping we can give users an update of some sort.  Any news?

[2021-01-25 22:18] ericfs commented on #31364
@jridgewell @dvoytenko for your iOS scrolling expertise

[2021-01-25 22:44] jessekinsman opened #32191 "Amp List infinite scroll freezes on IOS when inside a scrollable container"
## What's the issue?

Infinite scroll in amp list freezes on IOS devices (Chrome and Safari) when loading the next set of data. The amp-list must be in a scrollable container (either fixed or absolute positioning).

It appears the list loads the content, it then tries to measure the height by setting some inline styles on the child div. It then freezes and doesn't adjust the height until you scrol

[2021-01-25 22:59] dvoytenko opened #32192 "🌸 Cherry-pick request for #32180 into #32065 (Done)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32155 | #32180 |     **YES

[2021-01-25 23:16] kristoferbaxter commented on #10318
Resolved with #32011. Now the pin component will attempt resize after first layout.

[2021-01-25 23:16] #10318 closed

[2021-01-25 23:19] kristoferbaxter commented on #32192
Approved.

[2021-01-25 23:44] rsimha commented on #32195
Thanks for filing this issue @baconjulie, and for transferring it to `amphtml`, @kristoferbaxter.

I see the renaming guide at https://github.com/github/renaming. This is useful.

Right now, there are a few hundred references to `master` in `amphtml`'s build-system code and our custom app repo `amp-github-apps` combined. In addition, there are O(1000) references in various `amphtml` files. Moreove

[2021-01-25 23:46] pshihn commented on #31563
I found a page where it happens a lot.

Go to this URL in an incognito window so nothing is in the cache, etc. https://pinchofyum.com/korean-bbq-style-cauliflower-lettuce-wraps

Above the paragraph that begins with "If these cauliflower lettuce wraps do not make.." there is an embedded story.

Note that the page is loading lots of stuff. Ads, videos, resources what not. Eventually a story will app

[2021-01-25 23:49] pshihn commented on #31563
May be a red herring, but In this above example, it tends to happen when the video just starts playing and you scroll it off the page and back down.

[2021-01-25 23:58] kristoferbaxter commented on #32195
For clarity, the default branch name for `ampproject` at the org level is `main`. This was changed after both `amphtml` and `meta-ac` were created though.

<img width="765" alt="Screen Shot 2021-01-25 at 3 56 12 PM" src="https://user-images.githubusercontent.com/61764/105780715-ec6e1c80-5f25-11eb-9e50-21bb61765749.png">

@rsimha If this was complete within a quarter I'd consider it a success given

[2021-01-26 07:55] guiann commented on #32064
Can anyone answer those questions please:

In order to add a demand source through RTC with amp-ad type doubleclick,  should we add a vendor in "callout-vendor.js"?
RTC doc is only mentioning targeting informations. Is it the same process for demand source?
How does the ad network (doubleclic here) makes the difference?

With multiple demand source set in RTC, what's the arbitration process betwee

[2021-01-26 08:12] powerivq commented on #32064
RTC does not do bidding on the client side. What RTC allows is calling out to various targeting endpoints, and collects the responses and send it to the ad server. It would be the responsibility of the ad server to decide what to do with the targeting information, and execute header bidding.

AMP waits for all targeting callout responses and merge them. An example can be seen here: https://github.

[2021-01-26 10:02] guiann commented on #32064
Thanks a lot for those answers!

So targeting data should have this format:   "{"targeting": {"ages": "18-24", "g":["m", "f", "o"]}}"

How can demand sources can be plugged into a doubleclick integration?  And how does fast fetch interact with this case?
I guess doubleclick have allowed some ad response format instead of targeting  informations?
Do you know where to find details on this particular

[2021-01-26 14:38] micajuine-ho commented on #24621
Hi all. Thank you for your patience. Still no updates to report. We are trying to determine how best to support GA4. Hopefully we will have more progress soon.

[2021-01-26 15:31] Zer0Divis0r commented on #31840
@lannka , can you please comment on this? Is there any lib in the probect to do a mutex? Thanks.

[2021-01-26 15:39] Enriqe commented on #32101
Talking with @edoudou through Slack I think the desired behavior is controlling (2), since they use a modal that is visible in the viewport but with `opacity: 0`. So even if the player is "hidden", it is still considered `visible` and will be playing.

They would like to control (2) to only play the story whenever they call `play()` explicitly.

As a workaround, I suggested applying a `translate3d

[2021-01-26 15:56] kristoferbaxter opened #32203 "Design Review 2021-1-27 21:00 UTC (Americas)"
Time: [2021-1-27 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=1&day=27&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210127T210000Z/20210127T220000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds

[2021-01-26 15:59] kristoferbaxter opened #32204 "Design Review 2021-02-03 01:00 UTC (Asia/Oceania)"
Time: [2021-02-03 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=02&day=03&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210203T010000Z/20210203T020000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2021-01-26 16:04] edoudou commented on #32101
As @Enriqe said, we used a workaround that work for our main integration right now.

But ideally, it could be great to have a way to prevent (2) as well.

We are working on an integration where the story can be visible but not the focus of the user yet. It is a not fullscreen iframe that display the story. When the user click on it, it goes fullscreen and start to play. when the user close it, it

[2021-01-26 16:23] kristoferbaxter opened #32205 "Design Review 2021-2-10 16:30 UTC (Africa/Europe/western Asia)"
Time: [2021-2-10 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=02&day=10&iv=0) ([add to Google Calendar](https://calendar.google.com/calendar/u/0/r/eventedit?text=AMP+Project+Design+Review&dates=20210210T163000Z/20210210T173000Z&details=https://bit.ly/amp-dr&sf=true
))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds week

[2021-01-26 16:27] rickbairstow commented on #28180
I've revisited this again today and to extend on my original post, it looks like it's specifically not building `amp-inline-gallery-thumbnails` when used in an `amp-list`.

I don't know enough about amp to know if it's an issue with `amp-list` not supporting `<amp-inline-gallery`, but considering that it correctly builds everything but the thumbs 🤷

Please let me know if I do need to put in a feat

[2021-01-26 16:36] #21857 closed

[2021-01-26 16:41] dvoytenko commented on #32192
This can now be done. Please do before the Stable release.

[2021-01-26 16:46] gmajoulet commented on #32101
Thank you both for explaining the use case :)) The API described above should work then, Enrique's plan SGTM

[2021-01-26 17:02] #32120 closed

[2021-01-26 17:17] micajuine-ho commented on #32188
@hjjinnie Thanks for your bug report (and future contribution)! Please tag the @ampproject/wg-components when you submit your PR :D

[2021-01-26 17:25] #32098 closed

[2021-01-26 17:25] processprocess commented on #31934
Closed by #32129

[2021-01-26 17:25] #31934 closed

[2021-01-26 17:52] processprocess opened #32215 "[Panning media] Desktop panels, transition only active page"
Previous and next pages do not need to animate in desktop panels mode.

cc @ampproject/wg-stories

[2021-01-26 18:16] kristoferbaxter commented on #31557
The three core metrics for Core Web Vitals are made available via `amp-analytics`. @micajuine-ho will followup with an example.

[2021-01-26 18:16] samouri commented on #11998
Now that we can use amp-state as a data source for amp-list, I think this issue is worth closing. That method will wait for amp-state to complete loading before render.

For reasons explained directly above, this may not be worth fixing in amp-list 0.1.

@sebastianbenz WDYT?

[2021-01-26 18:25] raxsha commented on #31862
Nit: it's `show-tooltip` not `has-tooltip` now.

[2021-01-26 18:27] Gregable commented on #32040
@westonruter Ah, I didn't see that the regex had an `|` at the end. I just saw that it was looking for a charset=utf-8 and thought they didn't match. I didn't try actually running it.

For future reference, regexes are matched using full match syntax if they are "positive" regexes and partial match if they are "negative" matches, so your test isn't quite correct, but it doesn't matter in this case

[2021-01-26 18:40] micajuine-ho commented on #31557
Hi @MrCsabaToth, thanks for your bug report. You can use [`amp-analytics`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md) to track the 3 Core Web Vital metrics and send them to your server endpoint.

The three CWV are:
- ${cumulativeLayoutShift}
- ${firstInputDelay}
- ${largestContentfulPaint}

These [macros](https://github.com/ampproject/amphtml/blob/

[2021-01-26 19:00] rebeccanthomas opened #32219 "I2I: Create a component to display Tiktok posts"
## Summary
This document outlines the creation of an `amp-tiktok` component.

This component will consist of a Tiktok embed, which is a single video file loaded through an `iframe`.
A TikTok video URL consists of a base URL, a TikTok video identifier, and a language code ex: https://www.tiktok.com/embed/v2/6718335390845095173/en-US

Here the TikTok video identifier is '6718335390845095173', and th

[2021-01-26 19:23] rebeccanthomas commented on #32203
We would like to present issue #32219 regarding creating an `amp-tiktok` component.

[2021-01-26 19:26] #31695 closed

[2021-01-26 19:28] micajuine-ho commented on #31901
Closed via #31902

[2021-01-26 20:20] #31872 closed

[2021-01-26 20:30] alanorozco commented on #32173
This reproduces more simply without `amp-bind`:

[code]

1. When closing the lightbox, the `<amp-youtube>` element is unlaid out.
2. When opening the lightbox a second time, the `<amp-youtube>` element is laid out again.

The `VideoManager` then incorrectly stores two entries. When playing for a second time it will `pauseOtherVideos()`, incorrectly pausing itself—so the video never plays.

Working

[2021-01-26 20:48] samouri commented on #31997
Love how deep you went here!
Whats the next step? Remove the cache?

[2021-01-26 20:59] samouri opened #32222 "Need integration tests for ads initialIntersection + SEND_INTERSECTIONS messages."
**summary**

Recent CP (https://github.com/ampproject/amphtml/issues/32111) was necessary to fix an issue with code that gathers IntersectionObserverEntries for 3p iframes.

We should have integration tests for these. They must
- Also have a viewer case
- Viewer should be x-origin as InObs behave in a more restricted manner in those cases.

[2021-01-26 21:00] #32111 closed

[2021-01-26 21:01] processprocess commented on #30294
This could be fixed by deprecating desktop panels mode :)

I agree with the suggestion to adjust the `z-index`.
Maybe a fix for now would be to have the viewport warning on top of the education layer.

[2021-01-26 21:08] Enriqe commented on #32040
Thanks for chiming in @westonruter and for the help debugging @Gregable!

I've done what you suggested and found the culprit:
[code]
The `img` tag isn't allowed as a descendant of the player yet (we were actually working on this in #30753 but I think we're still blocked on https://github.com/ampproject/amphtml/issues/30442), I was hoping that for this specific case the validator would pass for tra

[2021-01-26 21:08] processprocess commented on #30294
The description of #28410 has instructions on how to force the education overlay to display.
From there we might be able to debug the `z-index` value.

[2021-01-26 21:09] dvoytenko commented on #30291
Aspect Ratio CSS has landed in Chrome 88.

[2021-01-26 21:24] cyface commented on #31364
Confirmed I am also getting this behavior as well; only on AMP links clicked from Google Search results.  This happens very aggressively in embedded browsers like the Google App and Google News App to the point where AMP pages are totally stuck for up to 45 seconds before they are scrollable.

[2021-01-26 21:33] krdwan opened #32229 "🚄 Release tracking issue for release 2101230412000"
# Release tracking issue

This issue tracks release [2101230412000](https://github.com/ampproject/amphtml/releases/tag/2101230412000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2101211748001...2101230412000).

- [x] Release 2101230412000 promoted to Experimental and Beta (opt-in) channels (January 26, 2021, 5:16:11 PM GMT-5)
- [x] Release 2101230412002

[2021-01-26 21:33] #32173 closed

[2021-01-26 21:41] krdwan commented on #32192
Completed!

[2021-01-26 21:41] #32192 closed

[2021-01-26 21:56] ericfs commented on #31364
Thanks for the additional report. I am able to reproduce the issue for the document you noted in the Google Search App. It looks like there is a double scroll bar.

![724E1B86-E947-443D-9244-7037D52A8546](https://user-images.githubusercontent.com/851850/105910668-44288880-5ff7-11eb-9691-f4eec5047c94.png)

[2021-01-27 00:21] dvoytenko opened #32235 "🌸 Cherry-pick request for #31364 into #32229 (Done)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #31364 | #32232 |     **YES

[2021-01-27 00:22] dvoytenko commented on #32235
/cc @jridgewell @ericfs

[2021-01-27 00:28] jridgewell commented on #31364
@cyface: We're addressing your issue with #32232, but this is unrelated to the issue bug (which only happens on iOS 12 in Safari).

[2021-01-27 11:11] PratkinV commented on #8090
Hey folks, any news when this will be added? I tried to implement nested tabs with amp-selector and it worked just fine except for validation part.

[2021-01-27 11:28] normanfan opened #32239 "the link in the amp-story-grid-layer cannot be clicked near the edge of the page"
today, I found that I cannot click the link in the red area. How can I solve it. I remember there was no problem long ago!

Is it because of any update that caused this error？

[image](https://user-images.githubusercontent.com/14563140/105984582-4a8d3200-60d5-11eb-922a-dbfbda198c10.png)

 my code like this (this is the example code on the dev documentation)
[code]

[2021-01-27 11:29] normanfan commented on #32239
All click areas close to the edge of the page cannot be clicked

[2021-01-27 11:33] normanfan commented on #32239
https://github.com/ampproject/amphtml/blob/master/examples/amp-story/cta-layer-outlink.html
the link of this example also cannot be clicked near the left edge of the page

[2021-01-27 12:05] #2691 closed

[2021-01-27 15:34] #32060 closed

[2021-01-27 16:00] bokand commented on #32139
Since the fragment directive (everything including and after `:~:`) is hidden from the page, it isn't the AMP page somehow interfering with it. A page writing to the `location.hash` will cause it to clear the text fragment from the omnibox but that's a small UI glitch, it shouldn't affect behavior.

I believe the AMP viewer displays the content in an iframe? If so, that's the reason we don't get t

[2021-01-27 16:50] mfainshtein commented on #31884
I would like to kindly follow up and see if there is any update or expected SLA for the review and approval.

[2021-01-27 17:01] Enriqe commented on #32239
Hey @normanfan, we actually reserve those areas on the edge of the screen for navigation. This way users won't ever be trapped by buttons if they just want to keep navigating through the story.

Closing this issue, but let us know if you have any other questions.

@ampproject/wg-stories

[2021-01-27 17:01] #32239 closed

[2021-01-27 17:03] a2intl commented on #31673
+1 here from Quantcast, we're getting several publishers who are running into this issue with Choice. We're having to tell them to just turn off Google Additional Consent mode for AMP for now.

[2021-01-27 17:05] Enriqe commented on #32171
/cc @gmajoulet @newmuis @raovs for product decision on opening it in the same window.

@ampproject/wg-stories

[2021-01-27 17:08] Enriqe commented on #32038
/cc @ampproject/wg-stories

[2021-01-27 17:45] honeybadgerdontcare commented on #7414
This is something we'd still like to have. Removing `stale` and it's a good fixit candidate.

[2021-01-27 17:45] honeybadgerdontcare commented on #20422
Taking ownership to get this done.

[2021-01-27 17:46] honeybadgerdontcare commented on #22088
If someone has a PR to make this happen we'd love to review it. Until then we're closing this issue.

[2021-01-27 17:46] #22088 closed

[2021-01-27 18:26] jridgewell commented on #32235
Approved into Beta

[2021-01-27 18:28] rsimha commented on #32110
@Enriqe can you elaborate on what exactly needs to change here? I see from https://github.com/ampproject/amphtml/pull/32109#discussion_r562182768 that `extensions/amp-viewer-integration` now takes a `cdnProxyRegex` arg. What are you looking for from an infrastructure point of view to support this?

[2021-01-27 18:29] kristoferbaxter commented on #31347
This was recently resolved with a change to ensure CSS is brought in from valid locations.

[2021-01-27 18:29] #31347 closed

[2021-01-27 18:35] jridgewell opened #32246 "New Media Query resolver doesn't handle complex expressions"
Cross posting an issue noticed in slack:

But we found the issue of calc is ignored yesterday. So the height of iframe is calculated as 0.
`<amp-embed width="1" height="1" heights="calc(50% + 100px)"></amp-embed>`

You can see a simple demo of the bug at https://output.jsbin.com/tideceh. Try resizing the page to be small, and watch the image disappear

This seems to be caused by the recently upgra

[2021-01-27 18:36] Enriqe commented on #32110
Yep, that's a workaround from the root issue, which is that you currently cannot import any AMP files from an npm package (i.e. [you can't do this](https://github.com/ampproject/amphtml/pull/32076/commits/6b8ebb139f0d3d50c35200e7222bfa02891f1d1b)) in AMPHTML,  because publishing this package outside of AMP's regular `gulp dist` won't pre-process them. So when trying to import these files, they won

[2021-01-27 19:35] dvoytenko opened #32251 "🌸 Cherry-pick request for #32250 into #32065 and #32229 (Done)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32246 | #32250 |     **NO*

[2021-01-27 19:40] kristoferbaxter commented on #32251
Approved.

[2021-01-27 19:49] processprocess opened #32254 "[Panning media] Accelerate transitions using translate3d"
Using translate3d for higher performance.
This will improve the experience noticeably on lower end devices.

cc @ampproject/wg-stories

[2021-01-27 20:01] #32246 closed

[2021-01-27 20:04] dvoytenko commented on #32251
PR merged.

[2021-01-27 20:47] #31342 closed

[2021-01-27 20:47] kristoferbaxter commented on #31342
Resolved with #32252.

[2021-01-27 21:52] Enriqe opened #32258 "[amp-story] amp-story-cta layer is not restricted to the bottom 20%"
There's a way to circumvent our bottom 20% limits with the `amp-story-cta-layer` by applying `transform: translateY(-Xpx)` and `height`.

Example: Navigate to the last page of https://www.tiktok.com/amp/tag/salaamalaikum

Expected: `amp-story-cta-layer` should only be in the 20% percent of the screen
Actual: `amp-story-cta-layer` can be in the middle of the screen

/cc @ampproject/wg-stories

[2021-01-27 22:19] dmanek commented on #32139
@bokand I haven't had a chance to look into this in depth. Plan to start looking next week and will comment when I have something.

[2021-01-27 22:20] krdwan commented on #32235
Completed!

[2021-01-27 22:20] #32235 closed

[2021-01-27 22:20] krdwan commented on #32251
Completed!

[2021-01-27 22:20] #32251 closed

[2021-01-27 23:11] #32203 closed

[2021-01-28 02:33] normanfan commented on #32239
Can you tell me the exact distance?

[2021-01-28 05:57] #23020 closed

[2021-01-28 11:49] paraboloidas opened #32272 "Public RSA key returns 404 in AMP"
## What's the issue?
Yesterday I created a new RSA key and uploaded it into my website:
https://lottodraw.com.au/.well-known/amphtml/apikey.pub

When I'am trying request to update my key in here:
https://lottodraw-com-au.cdn.ampproject.org/r/s/lottodraw.com.au/.well-known/amphtml/apikey.pub
It returns 404 error:

Do I have to wait longer for Google crawler to fetch my key or it might be some serve

[2021-01-28 14:18] oliverfernandez commented on #29449
@dmanek I've prepared you a valid AMP page whose `amp-next-page` also contains a `amp-consent` element, so you can reproduce the issue.

https://live.mrf.io/amp/www.brandeating.com/2020/10/review-wendys-sausage-egg-and-cheese-burrito.html

Remember that, in order to reproduce the issue:

1. You need to view it from a GDRP / CCPA region
2. You need to view it through Google's AMP viewer

Unfortunat

[2021-01-28 14:52] gmajoulet commented on #32239
The `max(48px, 12vw)` distance on each side of the screen is protected and will navigate to the next story page even if there is a link. The area of the link not in the protected zone will still work and trigger the link tooltip though.
This is however not a new behavior, we made the zone a bit larger on tablets (or very large phones), but it's been working this way on mobile phones from the day l

[2021-01-28 15:02] processprocess opened #32273 "[Panning media] Visual tests"
Add visual tests to confirm render position rendering.

cc @ampproject/wg-stories

[2021-01-28 17:15] news-lukevenn commented on #25252
@alanorozco any update on this? we've just hit the same issue so it doesn't appear to have been resolved yet

[2021-01-28 17:25] gmajoulet commented on #32258
If we enforce `height` we also need to enforce, from the top of my head: `max-height`, `min-height`, `margin`, `padding`, `border`. Resetting `translate` should be enough to avoid any transform or change width + rotate hack

[2021-01-28 17:30] honeybadgerdontcare commented on #16272
Fixed with:
https://github.com/ampproject/animations/pull/58
https://github.com/ampproject/worker-dom/pull/1018
https://github.com/ampproject/filesize/pull/124
https://github.com/ampproject/amp-viewer/pull/150
https://github.com/ampproject/amp-sw/pull/71

[2021-01-28 17:35] kristoferbaxter opened #32277 "Create Transformer for AMP Caches and Optimizers defaulting to font-display: optional"
## Describe the new feature or change to an existing feature you'd like to see

1. By default make Google Font usage (since it doesn't contain icon fonts) leverage `optional` font-display.
2. If not specified by page authors, convert font loading to `font-display: optional`.

## Describe alternatives you've considered

Ignore #2 since there is a higher chance of accidentally causing icon fonts to

[2021-01-28 17:36] twifkak commented on #32277
/cc @ampproject/wg-caching

[2021-01-28 17:38] kristoferbaxter commented on #32277
From @cramforce "also consider this"

[code]

[2021-01-28 17:40] honeybadgerdontcare commented on #16272
Reopening till PRs are merged (I do not have merge access to all those repos, hopefully Kris does)

[2021-01-28 17:51] gmajoulet commented on #32171
This is technically infeasible because of browser limitations. Opening a link in a new tab requires a trusted event gesture, and iOS Safari doesn't consider a "swipe" gesture as such. Ie: on swipe, you can only open a link in the same window.

If you want to open a link in a new tab you have to use something that can only be clicked (regular link), not swiped (page attachment).

[2021-01-28 17:51] #32171 closed

[2021-01-28 18:44] processprocess opened #32282 "[Panning media] Respect prefers-reduced-motion"
if `win.matchMedia('(prefers-reduced-motion: reduce)').matches` do not animate

cc @ampproject/wg-stories.

[2021-01-28 19:09] #32254 closed

[2021-01-28 20:29] Enriqe commented on #31989
/to @erwinmombay for closing when PM / action items are completed

[2021-01-28 21:20] #20962 closed

[2021-01-28 22:01] gmajoulet commented on #32282
+1

This will be consistent with all the other content animations provided by publishers.

[2021-01-28 22:07] gmajoulet commented on #32038
@swissspidy can you still repro? It seems to be working for me today.

[2021-01-28 22:13] bazzadp commented on #32038
I can't repo this now either. Neither in Chrome mobile emulation on desktop, nor on iOS. I was previously able to repo in both.

(I was the one that notice this and reported to @swissspidy btw)

[2021-01-28 22:21] swissspidy commented on #32038
I can still reproduce it. Even with all possible content blockers disabled.

Tried with the steps above but also by searching for a story from "wp.stories.google" and then going from there.

Using Safari on iOS 14.4

[2021-01-28 22:26] bazzadp commented on #32038
Actually you're right.

There's two issues:
1. Get that error and error screen. This seems intermittent. Can reproduce on iOS again now quite consistently, but not mobile emulator on Chrome desktop.
2. Get no error but canonical URL does not open and page stays on Google domain. Can reproduce this on iOS and the Chrome mobile emulator on Chrome desktop.

[2021-01-28 23:01] #31932 closed

[2021-01-29 00:04] samouri opened #32291 "textarea autoexpand does not work when padding and zoom are applied."
**summary**

There is a super specific bug affecting `amp-form`. I believe it is due to a small bug in Chrome height calculations.

`<textarea autoexpand>` will not expand when the element has padding on it AND there is exactly 80% zoom.
This is due to a weird quirk in that the temporary dom node clone we use for `scrollHeight` measurement has `position:absolute` which ends up modifying the height

[2021-01-29 00:27] makusnikomi commented on #32258
Resetting translate will also conflict with our own animations (e.g. `animate-in="fly-in-bottom"`.

WDYT about, separately from actually enforcing the size, transforming any `<a>` tags to have `show-tooltip="auto"` (or changing the code that intercepts link clicks for that feature to also select `amp-story-cta-layer a`)?

[2021-01-29 01:14] #31838 closed

[2021-01-29 01:26] Gregable commented on #29607
What's going on is that the javascript validator does not believe you are closing your `<path>` tags. It sees each `<path />` as nested under the previous, despite the trailing `'/>'`.

The second `path` is no longer a child of `<amp-selector>` so the reference point no longer applies, and we use this (https://github.com/ampproject/amphtml/blob/67b2bf1e36a01b5b1d2bb0e176b5fb8939984db5/validator/va

[2021-01-29 01:30] Gregable commented on #26402
Closing due to lack of interest.

[2021-01-29 01:30] #26402 closed

[2021-01-29 01:33] Gregable commented on #28302
@choumx What would be the condition that the validator should trigger on? Is it sufficient to throw an error if the document contains an `on` attribute, but not `amp-bind` js?

[2021-01-29 01:35] Gregable commented on #19479
@choumx Is this still something we want to implement? Has the runtime change been implemented?

[2021-01-29 02:19] HeikkiKangas commented on #17538
The issue still exists.

[2021-01-29 10:11] ahmedkaludi commented on #24621
Looking forward to this, as we are eagerly waiting for this.

[2021-01-29 11:01] ChrisBAshton commented on #21649
Happy to close in favour of #18615.

[2021-01-29 11:01] #21649 closed

[2021-01-29 16:52] #32291 closed

[2021-01-29 17:14] kristoferbaxter commented on #32277
Additional thoughts:
1. Move to inline all Google Fonts resources, instead of using `link` with preload conditions.
2. Use `preload` + `onload` configuration for other allowlisted properties.
3. Only configure fonts loaded from Google Fonts as `font-display: optional` since these will never be icon fonts.

[2021-01-29 18:31] Cauchon opened #32305 "[amp-next-page] AMP Client ID changes when scrolling through to amp-next-page in AMP Viewer"
## What's the issue?

The [AMP Client ID](https://webcache.googleusercontent.com/search?q=cache%3AVRskkkr1q5IJ%3Ahttps%3A%2F%2Fdevelopers.google.com%2Fanalytics%2Fdevguides%2Fcollection%2Famp-analytics%2Fclient-id%20&cd=1&hl=en&ct=clnk&gl=us) (used in amp-analytics) is changing on scrolling into amp-next-page in an amp viewer (but not on publisher origin).

## How do we reproduce the issue?

Pleas

[2021-01-29 18:31] Cauchon commented on #31238
Flagging a ticket with similar symptoms -- but affecting client id instead of reader id https://github.com/ampproject/amphtml/issues/32305

[2021-01-29 18:38] alanorozco opened #32306 "JavaScript files in examples/ (like visual tests) are not linted/formatted"
JavaScript files in `examples/` are not formatted with `prettier` or linted.

[code]

There's a rule somewhere excluding `examples/` because we don't want to format `.html` files. We should exclude `.js` files from that rule.

@ampproject/wg-infra
@danielrozenberg
@rsimha

[2021-01-29 18:42] rsimha commented on #32306
Here's where the files are ignored:

https://github.com/ampproject/amphtml/blob/e9e76fdbaeecf0062d3eaaf99734abbdc376da38/.eslintignore#L15

Wanna send out a PR to make the rule less broad (and auto-fix)? 😃

[2021-01-29 19:38] gmajoulet commented on #32258
Can you add a `animate-in` on the `<amp-story-cta-layer` TAG today?

[2021-01-29 20:33] rebeccanthomas opened #32309 "`amp-instagram` placeholder image does not load."
## What's the issue?

The placeholder image in the `amp-instagram` component does not load because that endpoint is deprecated.

## How do we reproduce the issue?

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-instagram&format=websites&_gl=1*jby4u0*_ga*YW1wLWgxZ0dlRDJjZWk5emRoTmZta3o5U0E.

This issue can be reproduced in the amp playgro

[2021-01-30 07:21] patrickkettner opened #32313 "amp-stream-gallery not passing in validator"
`<amp-stream-gallery>` is not [currently passing the validator](https://playground.amp.dev/amp/undefined#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8aGVhZD4KICAgIDxtZXRhIGNoYXJzZXQ9InV0Zi04IiAvPgogICAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICAgIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiIC8+CiAgICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoIiAvPgogICAgPHN0eWxlIGFtcC1ib

[2021-01-30 16:38] abhiz10 commented on #24417
Hi, @zhouyx I need help with this
Add your amp-analytics configuration to the story. We will be using the ${storyInteractiveId} and ${storyInteractiveResponse} to gather additional information on the responses.
https://amp.dev/documentation/examples/components/amp-story-interactive-quiz/?format=stories
How to add in my existing GA code.
{
   "vars":{
      "account":"@Html.DisplayFor(modelitem =>

[2021-01-31 02:12] westonruter commented on #18378
Still going to work on this, but I'll implement it using Bento APIs.

[2021-01-31 20:54] macgyver commented on #24262
It's been over a year since this was reported, is anybody ever going to fix this or should I just accept that my amp site is stuck in the year 2015

[2021-02-01 08:39] vigneshcamar commented on #23166
@lannka Hi Hongfei,
We have completed the coding work for this issue. However, during Integration testing, we found a issue. We found out that the third party cookies were not sent over the http request and It looks like this is the default AMP framework behavior.  The cookie is essential for our data collection flow and is a must have in the http request. Can you help to let us know as to how we

[2021-02-01 09:47] Beethoven commented on #32313
Same as [amp-instagram] Placeholder not loading - The Instagram endpoint (for embed) is deprecated #31474

[2021-02-01 13:57] kkloc-smi commented on #26657
@alanorozco It’s been 10 months since the last update, we would like to refresh our issue, and move forward with our component. Who is responsible of approving component in current stage & how we can contact them? Could you provide us some email contact or @mention them here directly in this issue?

[2021-02-01 15:04] processprocess opened #32320 "[Panning media] Add early exit on animation loop"
The loop currently runs when landing on the page even though it snaps to the default value.
Create an early exit to prevent loop from running when animation is not needed.

This issue relates to #32282 and might share logic.

cc @ampproject/wg-stories

[2021-02-01 15:11] caroqliu commented on #17440
@ampproject/wg-components Anyone interested in investigating?

[2021-02-01 16:40] kristoferbaxter opened #32322 "Intent-to-Remove: Placeholder for amp-instagram"
## Summary

The placeholder image element for `amp-instagram` supports loading a preview image of an instagram post from Facebook's servers. However, on October 24, 2020 the Facebook team stopped supporting the necessary feature to support this.

https://developers.facebook.com/docs/instagram/oembed-legacy

As a result, all placeholder elements currently 404 in the `0.1` version of `amp-instagram`

[2021-02-01 16:44] Enriqe opened #32323 "[amp-story] Videos not working in stories"
On AMP version 2101230412002
MacOS Safari 14.0.2

Go to https://www.gstatic.com/amphtml/stamp/qa/navigation.html

Video on page 7 will get stuck ~60% of the time when navigating to it.

https://user-images.githubusercontent.com/5449100/106650529-04b2ec80-6561-11eb-8839-0de97a2f361b.mov

Checking the video element, it seems like `play()` was never called on the element, as it is still has `video.pa

[2021-02-01 16:48] kristoferbaxter commented on #32205
I'd like to discuss the intent to deprecate `<amp-instagram>` image placeholders.

https://github.com/ampproject/amphtml/issues/32322

[2021-02-01 16:49] mlapeyre3 opened #32324 "Add "_when_accepted" block-data-on-consent value for <amp-ad>"
## Describe the new feature or change to an existing feature you'd like to see

Hello everyone! As part of a complex mechanism that needs two different adNetworks to deliver an <amp-ad>, I was looking for a way to:
* block networkA / allow networkB to send an ad request when the GDPR consent is negative/missing
* allow networkA / block networkB to send an ad request when the GDPR consent is positi

[2021-02-01 16:59] processprocess commented on #32323
I'm not able to repro.
Seems to always play on direct navigation and auto-advance.

Does the network request complete?
I wonder if the weather might be effecting connection speed.

[2021-02-01 17:09] Enriqe commented on #32323
Could you double check you're testing the right AMP version and with Safari version? I'm able to consistently repro with those.

The fact that calling `element.play()` on the video element and that `element.paused` suggests that it is not an issue with the network, but either with a) our runtime is not calling `play()` at the right time or b) a change in Safari is causing this issue.

[2021-02-01 17:39] patrickkettner commented on #32313
@Beethoven what? I don't see the connection

[2021-02-01 17:52] alanorozco opened #32326 "PR deploy subdomains"
Pull requests are optionally built and uploaded to an accessible endpoint so that reviewers can test/demo a particular change. This serves the built `.js` files in addition to every file under `examples/` and `test/manual`:

[code]

This endpoint scheme problematic since it breaks relative paths that are absolute to origin, which would otherwise work on a local server:

[code]

As a result, a larg

[2021-02-01 18:05] #30294 closed

[2021-02-01 18:09] caroqliu commented on #32322
Thanks for filing, Kris! A few notes:
- Should this also be I2R since we will be removing the feature?
- I believe this impacts all instances of `amp-instagram`, since it is not an attribute enabled behavior nor documented in the component behavior on amp.dev.
- Does the 2-week discussion period still apply if the current behavior of the placeholder is broken anyway? (404 in `0.1`, unimplemented i

[2021-02-01 18:50] alanorozco commented on #25104
This would be fixed by #32326

[2021-02-01 18:56] #29758 closed

[2021-02-01 18:58] lannka commented on #23166
are you use the xhr util to send request? you can pass along 'credentials: include' as params.
https://github.com/ampproject/amphtml/blob/06123ab062b2be8d04bdb3e232c7c02a8cffe09b/extensions/amp-access/0.1/amp-access-client.js#L133-L135

[2021-02-01 19:00] kristoferbaxter commented on #31120
@M-J-Robbins I replicated this example but used a slightly different pattern.

`input-throttled:AMP.setState({ page: event.valueAsNumber })`

Now the event value is not a `String`, and other interpretations work as expected with it.

I'm going to mark this as resolved and closed, but feel free to re-open if there are other ideas you'd like us to persue.

[2021-02-01 19:00] #31120 closed

[2021-02-01 19:04] micajuine-ho commented on #30176
After getting results back form cookbook, I'm seeing a good amount of URLs that use `destinationDomains` w/ same origin and `proxyOnly: false` (including a few notable pubs). I also see that `localhost` is allowlisted in `destinationDomains` in some of these pages--alluding to the fact that devs need the current setup to test locally.

With these findings, I think we should move ahead with the int

[2021-02-01 19:05] alanorozco commented on #26657
@kkloc-smi

Apologies. I've reopened your PR. Please [ping me on Slack if necessary](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#discussion-channels). I'll give it another review soon.

[2021-02-01 19:22] cramforce opened #32329 "Make feComponentTransfer and its children elements valid in AMP/SVG"
See https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feComponentTransfer for details.

Sample SVG
[code]

[2021-02-01 19:23] alanorozco commented on #26657
This I2I can't be approved until @kkloc-smi can justify why this can't be `amp-ima-video` instead.

Additionally, PR #26521 includes severe violations:

- Including 3rd-party JS code on the top frame.
- Resizing and collapsing without user interaction.

[2021-02-01 19:23] cramforce opened #32330 "Make `<a xlink:href="URL">` valid in AMP"
I think `<a xlink:href="URL">` inside of SVG should be considered valid with the same rules as `<a href="URL">` in HTML

[2021-02-01 19:25] cramforce opened #32331 "Links in SVGs don't work in Stories"
It appears that `<a href>` inside of inline SVGs don't work in Stories.

[2021-02-01 19:38] Gregable commented on #32330
According to https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/xlink:href this is deprecated/obsolete syntax and should not be used.

[2021-02-01 19:38] #32330 closed

[2021-02-01 19:43] Gregable commented on #32329
This looks like it was added since the last pass over [this list](https://developer.mozilla.org/en-US/docs/Web/SVG/Element). We should add it as well as any other new elements here.

[2021-02-01 19:57] kristoferbaxter commented on #31557
Closing this issue as an example was added to `amp.dev` and provided here in the issue.

[2021-02-01 19:57] #31557 closed

[2021-02-01 19:58] micajuine-ho commented on #31557
Link to `amp.dev` PR: https://github.com/ampproject/amp.dev/pull/5268

[2021-02-01 20:01] Gregable commented on #6666
Despite the fact that this is validation work, the caching tag wasn't added and I think we lost track of this. That said, I'm going to close this explicitly. There are no negatives to allowing developers to use these prefixes in AMP so I see no reason to invalidate pages that use them.

[2021-02-01 20:01] #6666 closed

[2021-02-01 20:16] Gregable commented on #3517
I think this is still a reasonable request. Publishers should be able to select between image formats based on capability.

[2021-02-01 20:33] jridgewell commented on #32322
I think at this point, removing immediately is acceptable. The feature is completely broken, and wastes network resources trying to load something that won't work.

[2021-02-01 20:34] rcebulko opened #32333 "`amp-pinterest` expects JSON from Pinterest, gets JSONP, fails"
These failures can be seen in the `examples/pinterest.amp.html` example file (also `test/manual/amp-pinterest.amp.html`). It's likely be because the example file is very old (5 years) and most of it hasn't been updated recently. This is likely to be one source of #31463

[2021-02-01 20:35] rcebulko commented on #32333
![image](https://user-images.githubusercontent.com/6694512/106515022-0d44ed80-64a3-11eb-875e-7be739d9ca94.png)

[2021-02-01 20:37] Gregable commented on #32040
That sounds reasonable.

[2021-02-01 20:39] rcebulko commented on #32333
Checked amp.dev, it looks like we are still listing this as valid Flickr usage:
![image](https://user-images.githubusercontent.com/6694512/106515388-9d833280-64a3-11eb-9953-5fc97444d611.png)

[2021-02-01 21:30] newmuis commented on #13579
@ampproject/wg-stories this is a great reminder for us to take a look at contributor-facing documentation.  I don't know that the areas that I outlined above are the correct ones, but if you have ideas, please add them!  We should find the right way to make meaningful progress on this list.

[2021-02-01 21:32] newmuis commented on #32258
Yes: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/validator-amp-story.protoascii#L496

[2021-02-01 21:34] #32106 closed

[2021-02-01 21:43] #31010 closed

[2021-02-01 21:43] #31212 closed

[2021-02-01 21:54] Gregable commented on #29076
@honeybadgerdontcare
Let's go ahead and update the npm doc to describe this usage, then close out this issue.

[2021-02-01 21:56] Gregable commented on #27939
I think this has already been resolved last year. If I'm missing something, please reopen.

[2021-02-01 21:56] #27939 closed

[2021-02-01 21:59] Gregable commented on #27880
This was fixed last year, but the external issue never got closed. Closing.

[2021-02-01 21:59] #27880 closed

[2021-02-01 22:04] mszylkowski opened #32337 "[Story video] Add cached sources with different qualities to amp-video"
Create sources with different bitrates for amp-video cached sources.

[code]

Pointers:
https://github.com/ampproject/amphtml/blob/855a2a3d74b3df27e6b99d57fc26a11a144b985a/extensions/amp-video/0.1/amp-video.js#L438-L450

https://github.com/ampproject/amphtml/blob/855a2a3d74b3df27e6b99d57fc26a11a144b985a/extensions/amp-video/0.1/amp-video.js#L126-L160

[2021-02-01 22:18] Gregable commented on #21617
Tracked as a google-cache specific issue, so no need to continue tracking here.

[2021-02-01 22:18] #21617 closed

[2021-02-01 22:50] #29076 closed

[2021-02-01 23:23] alanorozco commented on #32326
https://storage.googleapis.com/amp-test-website-1/amp_nomodule_c6d4238865ef15a27b4276d8bf840a248a427e6d/examples/amp-script/todomvc.amp.html

https://amp--nomodule--c6d4238865ef15a27b4276d8bf840a248a427e6d.guava.bar/examples/amp-script/todomvc.amp.html

[2021-02-01 23:25] alanorozco commented on #32326
An adjacent issue is that `/dist/rtv` is not present on uploaded files, so scripts loaded by the runtime will 404 in any case.

https://storage.googleapis.com/amp-test-website-1/amp_nomodule_c6d4238865ef15a27b4276d8bf840a248a427e6d/examples/amp-script/todomvc.amp.html

![image](https://user-images.githubusercontent.com/254946/106530654-99eeac00-64a1-11eb-9a76-80f9728f0893.png)

https://amp--nomodu

[2021-02-02 14:53] kristoferbaxter commented on #32333
@kentbrew This endpoint seems to have changed.

`https://widgets.pinterest.com/v1/urls/count.json?return_jsonp=false&url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&__amp_source_origin=http%3A%2F%2Flocalhost%3A8000`

The `return_jsonp` parameter no longer seems to be respected. Is there an updated endpoint?

[2021-02-02 15:41] kristoferbaxter commented on #32313
@patrickkettner This component is currently under experiment, not released.

[2021-02-02 15:41] #11738 closed

[2021-02-02 15:58] #11601 closed

[2021-02-02 16:00] patrickkettner commented on #32313
@kristoferbaxter ah! gotcha. thanks!

[2021-02-02 16:00] #32313 closed

[2021-02-02 16:22] caroqliu commented on #32326
Could this approach also make it possible to host [server endpoints](https://github.com/ampproject/amphtml/blob/74ddeabaa3e0f545984c0e092059c1c06752bb7a/build-system/server/app.js)? Demos that rely on these don't currently work as PR deploy bot does not actually listen for requests.

[2021-02-02 16:23] #31090 closed

[2021-02-02 16:23] #31092 closed

[2021-02-02 16:30] rcebulko commented on #32326
/cc @estherkim directly as she's the Deploy Bot czarina
I think part of the simplicity of the PR bot deployment is that it's essentially just dumping a bunch of files into storage bucket, which keeps retention and deletion and access all extremely simple. Once we want a real server/backend, we have to start thinking about provisioning instances, deploying actual servers, figuring out routing subdo

[2021-02-02 16:49] alanorozco commented on #32326
auto-proxy requests through to those files (I think we do something like this in Storybook).

Storybook outputs a bunch of static files and puts them on `examples/`, it doesn't do anything special like proxying.

[2021-02-02 16:55] alanorozco commented on #32326
@caroqliu I keep going back and forth on server endpoints on my head. This is out of scope for this issue but there are two options:

1. **Host as serverless funcs** somewhere; this requires refactoring the local server somewhat so it works locally and as deployed lambdas but it should be achievable.

2. **Decouple so that server is not required with PR**; obviously you cannot make live changes to

[2021-02-02 17:25] kristoferbaxter commented on #31020
This issue appears to be unrelated to AMPHTML. Closing.

[2021-02-02 17:25] #31020 closed

[2021-02-02 17:27] newmuis commented on #32323
I can repro, on Mac OS Chrome.  Let's treat this as P0, maybe blocking the `2101230412002` release

[2021-02-02 17:33] Beethoven commented on #32313
Sorry, my mistake, wrong Issue...

[2021-02-02 17:35] Beethoven commented on #32309
Same as [amp-instagram] Placeholder not loading - The Instagram endpoint (for embed) is deprecated #31474

[2021-02-02 17:37] kristoferbaxter commented on #32322
Changed title to `Intent to Remove`.

[2021-02-02 17:38] kristoferbaxter commented on #30938
Filed an intent to remove for the `0.1` component, it's going to design review today and the PR is out for the implementation.

https://github.com/ampproject/amphtml/issues/32322

[2021-02-02 17:39] samouri commented on #29457
The naming isn't that clear. The current dev mode doesn't just skip-hash, but also skips size checks

[2021-02-02 17:41] newmuis commented on #32323
Seems to be working for me in `2101211748002`.

The only differences are https://github.com/ampproject/amphtml/compare/2101230412002...2101211748002

[2021-02-02 18:34] Enriqe commented on #32323
We found the potential culprit, which comes from https://github.com/ampproject/amphtml/pull/31976

`amp-video` introduces a `detachedCallback()` which updates the video state to false.

In stories the media pool recycles videos (detaches and re-attaches same video elements in the DOM), which means that whenever a video is detached from the DOM it will call `unobserveDisplay()`. Not sure yet what t

[2021-02-02 18:36] samouri commented on #31888
I believe this was fixed with https://github.com/ampproject/amphtml/pull/31988

[2021-02-02 18:36] #31888 closed

[2021-02-02 18:37] Enriqe commented on #32323
To clarify, I think we found 2 different bugs here:

1) is described by the first comment in this issue
2) when a story has more than 8 videos, the next videos will not play. This is reproducible in MacOS Chrome

[2021-02-02 18:38] gmajoulet commented on #32323
What would a patch look like?
Can we get away with a couple `if (managedByPool) return`?

[2021-02-02 18:43] Enriqe commented on #32323
I've created a draft PR with the necessary changes. I think we could get away with the `if (managedByPool) return`

https://github.com/ampproject/amphtml/pull/32355

[2021-02-02 18:52] Enriqe commented on #32323
Confirmed that by short-circuiting the

[code]

in amp-video, the videos start to work again for stories.

[2021-02-02 19:27] Enriqe opened #32360 "🌸 Cherry-pick request for #32323 into #32229 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32323 |  #32355 |     **YE

[2021-02-02 19:28] zhangsu commented on #25926
The warning is fine, but can we perhaps split the rule for AMP4EMAIL when we make this an error? We don't know how many emails are using this attribute.

[2021-02-02 19:30] newmuis commented on #32360
As a followup: @ampproject/wg-stories needs to ensure that the case of video element recycling is covered by at least a manual QA test (the current manual QA test only tests 5 videos)

[2021-02-02 19:31] Enriqe commented on #32323
Closed by #32355

[2021-02-02 20:08] Enriqe commented on #24417
@mszylkowski have we added analytics to the `amp-story-interactive-*` components?

[2021-02-02 20:23] #21998 closed

[2021-02-02 20:23] #23618 closed

[2021-02-02 20:28] mszylkowski commented on #24417
@Enriqe Yes that has been integrated since the beginning, check https://github.com/ampproject/amphtml/blob/1ff2dfb860b8d9752cae6292d51b799c4586caa9/extensions/amp-story-interactive/0.1/amp-story-interactive-abstract.js#L517-L536

[2021-02-02 21:01] Enriqe commented on #24417
Have we also documented those? Would you mind linking them for @abhiz10 please?

[2021-02-02 21:12] rsimha commented on #29833
This was fixed in #31550.

[2021-02-02 21:12] #29833 closed

[2021-02-02 21:14] rsimha commented on #28168
Looks like this can be closed?

[2021-02-02 21:16] tobie commented on #28168
Oh, wow, awesome! Congrats, folks!

[2021-02-02 21:20] danielrozenberg commented on #28168
Haha a while ago! Yes :)

[2021-02-02 21:20] #28168 closed

[2021-02-02 21:40] rsimha opened #32367 "Modernize `build-system/tasks/server-tests.js` to use node 14's `import`"
The tests for our dev server transforms live in `build-system/tasks/server-tests.js`. When they were added, we were using node 12, which does not support the `import()` construct. See https://github.com/ampproject/amphtml/pull/27396#discussion_r397921581

See line 114:
https://github.com/ampproject/amphtml/blob/e417e7aa20add9810d7988fb8b77597880c513d4/build-system/tasks/server-tests.js#L102-L115

[2021-02-02 21:53] mszylkowski commented on #24417
https://amp.dev/documentation/components/amp-story-interactive/#analytics

[2021-02-02 22:01] rsimha commented on #24009
I wonder if Safari E2E tests can now be run during our GitHub Actions workflow on macOS.

https://github.com/ampproject/amphtml/blob/884f4962f7ed66ca609b9758e6a97ccc028c4c6e/build-system/pr-check/cross-browser-tests.js#L31-L78

Assigning to @rileyajones for experimentation when time permits.

[2021-02-02 22:07] calebcordry commented on #28231
Hi all, we are now also allowing CLIENT_ID to be used in RTC callouts as of #31949. I believe this addresses all concerns in this thread. Please reopen if I missed something.

[2021-02-02 22:07] #28231 closed

[2021-02-02 22:07] calebcordry commented on #25190
Hi all, we are now also allowing CLIENT_ID to be used in RTC callouts as of #31949. I believe this addresses all concerns in this thread. Please reopen if I missed something.

[2021-02-02 22:07] #25190 closed

[2021-02-02 22:24] #24417 closed

[2021-02-02 22:37] #31609 closed

[2021-02-02 22:42] cramforce commented on #32329
@honeybadgerdontcare I'm not a good person to say. If yes, then we should probably track that separately. @nainar

[2021-02-02 22:51] kristoferbaxter commented on #32360
Approved.

[2021-02-02 23:06] honeybadgerdontcare opened #32369 "Allow SVG animation elements"
This is a follow up to #32329 which led to adding several filter primitive elements.

AMP currently doesn't allow any SVG [animation elements](https://developer.mozilla.org/en-US/docs/Web/SVG/Element#animation_elements). Should AMP allow the non-deprecated ones within SVGs?

These are:
 - [animate](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/animate)
 - [animateMotion](https://develop

[2021-02-02 23:17] amaltas commented on #29852
This regex match is not matching multiline values. https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L4839

The fix is to change the pattern to something like "tap:(.|\n)*" which match newlines. However this fix won't make it until we identify if a large number of existing valid amp documents will get invalidated due to the missing attribute which was not detect

[2021-02-02 23:18] samouri commented on #32204
I'd like to discuss my proposal for an AMP Optimizer running on a Cloudflare Worker: https://docs.google.com/document/d/1Q5o4Y-HvxwrWLolyYIn7chDlaMi3BWzeL6pbturj7ic/edit

[2021-02-02 23:19] amaltas commented on #29852
cl/355064647 for internal reference.

[2021-02-02 23:32] Enriqe commented on #32040
Thanks, sent a PR @Gregable #32371

[2021-02-02 23:52] kristoferbaxter commented on #31384
Looks like this has been addressed.

[2021-02-02 23:52] #31384 closed

[2021-02-02 23:53] #32309 closed

[2021-02-02 23:54] kristoferbaxter commented on #31474
Closing for https://github.com/ampproject/amphtml/issues/32322.

[2021-02-02 23:54] #31474 closed

[2021-02-03 00:18] asfarmed opened #32375 "Problem with _gl tracker"
HI
I found a problem with using the Html code to call the phone number in AMP page :

```<a class="number" href="tel:+111-11111111" target="_blank">ِCall</a>```

In the computer (and non amp) it appears correctly
But on the phone, a tracker is added at the end of the number
like that :

```+111-11111111?_gl=1*1ym6ytt*_ga*YW1wLTZXM295bXNORVJMdEFEQmQ1SThOM2c.```

This causes an error in the phone nu

[2021-02-03 00:23] newmuis commented on #32369
FWIW, we've had this FR several times for stories use cases

[2021-02-03 00:29] kristoferbaxter commented on #32369
This seems like a good topic to discuss at a design review.

[2021-02-03 01:07] honeybadgerdontcare commented on #32204
I'd like feedback on AMP allowing SVG animation elements, see #32369.

This is to see if allowing these are beneficial to AMP. The change itself would be a straight-forward validation rules change and not a complicated implementation necessitating a design document.

[2021-02-03 03:48] #23569 closed

[2021-02-03 03:48] #8970 closed

[2021-02-03 03:48] #21311 closed

[2021-02-03 03:48] #23710 closed

[2021-02-03 03:48] #17698 closed

[2021-02-03 03:48] #23713 closed

[2021-02-03 03:48] #18496 closed

[2021-02-03 03:48] #20828 closed

[2021-02-03 03:48] #9022 closed

[2021-02-03 03:48] #15707 closed

[2021-02-03 03:48] #20955 closed

[2021-02-03 04:49] tanyaMel opened #32382 "error while using "conrtorls" and "slide" in amp-base-carousel"
## What's the issue?

When I try to set prop "controls" in tag amp-base-carousel, amphtml-validator shows `The attribute 'controls' may not appear in tag 'amp-base-carousel'`. This prop exist in [documentation](https://amp.dev/documentation/components/amp-base-carousel/#controls) and in [github](https://github.com/ampproject/amphtml/blob/master/extensions/amp-base-carousel/validator-amp-base-carou

[2021-02-03 05:09] honeybadgerdontcare commented on #32382
@tanyaMel while `controls` was added in #31873 that does not make it instantly live. It will be going live some time tomorrow. Validator releases on a weekly basis, typically Tuesday or Wednesday.

If it is still not working for you by Thursday then please reopen.

[2021-02-03 06:12] honeybadgerdontcare commented on #32382
I'll update this issue when it is live.

[2021-02-03 07:22] abhiz10 commented on #24417
Thank you so much @mszylkowski @Enriqe

[2021-02-03 07:38] powerivq opened #32383 "I2I: 3p iframe integration splitting by vendor"
## Summary
This I2I proposes to split up the third party iframe integration js to multiple by vendor.

## Design document

Currently, we inject a script tag referencing to `f.js` (also being preloaded) within each 3p iframe, containing every 3p integration. This I2I proposes to change it to one file per vendor.

### Bundle size
I have compiled several versions of `f.js` (minimized) to determine th

[2021-02-03 11:05] sebastianbenz opened #32387 "Blurry placeholders hides ssr'd hero images"
I was wondering why blurry placeholders delay rendering ssr'd hero images. Turns out, placeholder images hide server-side rendered images on load as they define ` z-index: 1;`.

[code]

Is the z-index really needed here?

Example: https://toolbox-optimizer.glitch.me/blurry-hero.html

[code]

//cc @jridgewell

[2021-02-03 12:41] Beethoven commented on #32322
When can we use new 1.0? Schedule to leave experimental.

[2021-02-03 13:13] Zer0Divis0r commented on #31652
The reason the ads do nto appear is exactly what it says in the console: "Cannot resize element and overflow is not available."

The ad was crated, but it tried to resize itself, but the reflow was not avaialble.

"Reflow is not avaialble" stands for the situation when elements want to resize themselves, but that would cause visible DOM changes in the viewpoert, and that negatively affects user ex

[2021-02-03 14:58] kristoferbaxter commented on #32322
@Beethoven `1.0` is a Bento component, and is available for developer preview. We'd love to hear feedback about how it works for you!

As for when it's available in valid AMP documents? This timeline isn't certain yet.

[2021-02-03 16:33] #32040 closed

[2021-02-03 16:56] alanorozco commented on #30865
Hi @merlinnot. This needs approval before carrying on:

1. Please present [on design review.](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md) I'm curious about the offscreen canvas being drawn on the top-level document and we may need to discuss that then.

2. If we're using Lottie binaries on #32315, please clarify whether `amp-lottie-animation` should be a diffe

[2021-02-03 17:33] samouri commented on #31452
`intersect-resources` is currently turned down to 0 ([src](https://github.com/ampproject/amphtml/blob/master/build-system/global-configs/prod-config.json#L12)) and we may choose a significantly simpler approach instead. Depending on how that research goes, I'll either put this on the top of my todo list or close as obsolete

[2021-02-03 17:34] alanorozco commented on #31883
This error is not triggering anymore.

[2021-02-03 17:34] #31883 closed

[2021-02-03 17:37] alanorozco commented on #31895
`module` has been rolled forward, but this error is not triggering anymore.

[2021-02-03 17:37] #31895 closed

[2021-02-03 17:52] dmanek commented on #30953
Hi @iingato the URL you've added does not have an amp-next-page. Do you another with amp-next-page where this issue is reproducible?

[2021-02-03 18:12] #32229 closed

[2021-02-03 18:13] newmuis commented on #32360
This was cherrypicked into the `2101230412003` release.

[2021-02-03 18:13] #32360 closed

[2021-02-03 18:18] kristoferbaxter commented on #32375
Adding @micajuine-ho, this appears to be related to Linker between domains.

[2021-02-03 18:40] merlinnot commented on #30865
1. I'll do that before I continue with the work on this component. I think that the first PR I made is quite lightweight (#32315), I suppose we'll need a design review for offscreen canvas only?
2. I think that we should still merge the PR into the existing component, as the updates are non-breaking and they deliver very significant performance improvements (it's been over three years since it was

[2021-02-03 18:45] alanorozco commented on #30865
Sorry for being unclear, #32315 is fine irrespective of this I2I (I've approved it).

Got it. Once you're ready please specify what the breaking changes would be. We may be able to make them non-breaking if possible, I think the component should be aliased in any case.

[2021-02-03 18:45] #14469 closed

[2021-02-03 18:50] #32329 closed

[2021-02-03 19:23] TomerAberbach opened #32398 "amp-timeago screen reader verbalization is bad"
## What's the issue?

`amp-timeago` is not verbalized well by Voice Over on Mac and I suspect the same is true for other screen readers and other operating systems. There are a few problems:
* The placeholder text is verbalized instead of the generated time ago text and the element is called a "group". Verbalizing the generated time ago text requires an extra key press.
* The element is verbalized

[2021-02-03 19:43] Enriqe commented on #31562
Fixed by #32153

[2021-02-03 19:43] #31562 closed

[2021-02-03 19:43] #32282 closed

[2021-02-03 19:43] #32320 closed

[2021-02-03 19:44] jridgewell commented on #32387
What do you mean delay here? As soon as the `<img>` loads, we should be transitioning out of the placeholder.

[2021-02-03 19:44] Enriqe commented on #31925
Closed by #32153

[2021-02-03 19:44] #31925 closed

[2021-02-03 19:48] #32306 closed

[2021-02-03 19:48] sebastianbenz commented on #32387
Yes, but that's currently not the case: the placeholder is hidden once runtime has been loaded. You can easily reproduce this by loading the demo page with JS disabled.

[2021-02-03 20:01] Enriqe commented on #31738
Instead of adding stories by appending anchor tags to the DOM, you should use the `add()` API on the player

https://github.com/ampproject/amphtml/blob/master/spec/amp-story-player.md#add

taking your example, this would look like:
[code]

If there are some exceptions, it might be because there were some weird race conditions that were fixed by #32153, so just opt-in to the nightly channel to test

[2021-02-03 20:01] #31738 closed

[2021-02-03 20:07] honeybadgerdontcare commented on #32382
This is now live.

Tested on http://validator.amp.dev with

[code]

[2021-02-03 20:07] #32382 closed

[2021-02-03 20:09] micajuine-ho commented on #32375
@asfarmed Thank you for your bug report. `amp-analytics`'s Linker forwards the linker param on all outgoing navigation links that fit it's criteria.

Can you please attach the amp-page/reproducible example of this behavior?

[2021-02-03 20:19] jridgewell commented on #32387
Ahh, see https://output.jsbin.com/bipuvaj (which disables runtime and modifies the CSS rules a bit).

We could either:
1. Disable z-index for `.i-amphtml-blurry-placeholder`
2. Update the format to use `background-image` like https://www.industrialempathy.com/posts/image-optimizations/#blurry-placeholder
   - This is actually necessary for the eventual `<amp-img>` deprecation

[2021-02-03 21:05] mszylkowski commented on #29498
Would this refer to "fully loaded" or "somewhat loaded"? And I assume this is only valid after implementing https://github.com/ampproject/amphtml/issues/29501 right (so it's only on slow initial load that this could happen)?

[2021-02-03 21:13] asfarmed commented on #32375
@micajuine-ho This problem only occurs when opening the link from the phone device
This is an example  https://kushiftasarub.com/amp/

[2021-02-03 21:23] newmuis opened #32408 "🚄 Release tracking issue for release 2101300534000"
# Release tracking issue

This issue tracks release [2101300534005](https://github.com/ampproject/amphtml/releases/tag/2101300534005). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2101230412003...2101300534005).

- [x] Release 2101300534000 promoted to Experimental and Beta (opt-in) channels (February 3, 2021, 2:37:24 PM GMT-5)
- [x] Release 2101300534003

[2021-02-03 21:26] caroqliu commented on #32398
@nainar @zewenliang Would either of you know the how much hover text is relied upon? Could we reasonably "break" this behavior given the placeholder text is not an essential part of the component either before or after it has been replaced with the time ago text?

[2021-02-03 21:26] nainar commented on #27303
@micajuine-ho and @dmanek is this one that one of you can take on?

[2021-02-03 22:44] micajuine-ho commented on #32375
Hi @asfarmed, the problem here is that in one of you `amp-analytics` elements, in your config you allow list `null` as your domain:
[code]

This turns into an empty string in our code, which matches with your `href="tel:+966-539134026`. To fix this, please allow list a valid domain, instead of `null`.

[2021-02-03 22:45] #32375 closed

[2021-02-03 23:13] linhlanweb commented on #28638
I was really impressed with AMP from the start. But now (2021), I find it too bad. It's not like before. I had to remove it in order to use the standard web site standards. The speed is much improved.
I'm really sorry to have to quit AMP. Thank Developers!

[2021-02-03 23:34] kristoferbaxter commented on #28638
@EndiHariadi43 AMP's page experience tools have a few suggestions for your site: You can see them here: https://amp.dev/page-experience/?url=https://nickgenom.com/en

[2021-02-03 23:35] kristoferbaxter commented on #28638
@nicolasfaurereboot Agree with your statement, synthetic testing tools like those mentioned are best used as a way to gain insight into improvements not to compare the results against one another.

[2021-02-03 23:37] kristoferbaxter commented on #28638
Since this issue has moved away from its original concerns, I'm going to mark the issue closed.

Efforts are ongoing to reduce the size of AMP's JavaScript payloads, including Bento, AMP Compiler, and Module/NoModule mode.

[2021-02-03 23:37] #28638 closed

[2021-02-03 23:46] kristoferbaxter commented on #32387
Can we do both?

- 1 quickly to fix the issue as seen.
- 2 within a month or so to not derail the `amp-img` deprecation?

[2021-02-04 01:26] honeybadgerdontcare commented on #32369
Design Review Feedback

 - These are not hardware accelerated which is why they probably weren’t allowed to begin with.
 - Chrome made an effort to provide improvements but it stalled.
 - Follow up with Chrome on that effort to see if there may be movement in the near future

Decision: Await feedback from chrome, until then will not allow these elements.

[2021-02-04 01:30] kristoferbaxter commented on #32204
Thanks everyone for attending today, here are the conclusions found during the meeting:

1. Cloudflare Worker is a great idea for Optimizer, and the tradeoffs make sense.
2. We should likely apply the changes to allowlisting SVG animations, and provide additional guidance on the AMP Page Experience tool if they become an issue.

[2021-02-04 01:30] #32204 closed

[2021-02-04 01:32] #32322 closed

[2021-02-04 01:35] kristoferbaxter commented on #32322
This item was discussed at design review and we'll proceed as planned.

[2021-02-04 06:51] kdnanmaga commented on #8929
This page is giving me a 404, is there any way to get the user's precise GPS coordinates? My use-case is a location based search.

[2021-02-04 11:17] MrCsabaToth commented on #28638
I found referneces to Bento:

* https://amp.dev/community/working-groups/bento/
* https://blog.amp.dev/2021/01/28/bento/
* https://drive.google.com/file/d/1qzO7ZR0W9lFlyBCZKidR3QB8seU2dT0t/view

What are the best references to AMP Compiler (I found AMP Closure Compiler, but I'm not sure that's what you mean) and the Module/NoModule mode. My web page is Jekyll based, I'll explore how I can take adv

[2021-02-04 11:32] MrCsabaToth commented on #31557
What should I set the `endpoint` to if I'd like to see these CWVs in Google Analytics and the Google Search Console Page Insights / CWV?

[2021-02-04 12:55] jamesozzie opened #32427 "Only some images rendering on sites served from AMP cache - no issues with AMP origin"
[One user in the WordPress support forums](https://wordpress.org/support/topic/images-not-showing-on-amp-page/#post-14002451) is encountering AMP Cache issues, with some images not appearing in AMP cache, yet they all appear in AMP origin.

Looking at the image markup in their non AMP URLs I don't see [any differences](https://www.diffchecker.com/N8oahVqn) that could impact this behaviour. The pro

[2021-02-04 14:05] TcsEmotion opened #32428 "TcseMotion_AMP Vendor Not available in Ads Vendor"
Hi Team,

We developed AMP adapter for TcsEmotion and submitted.We got approved by AMP and added as official vendor.

But our adserver  TcsEmotion not available here https://amp.dev/support/faq/platform-and-vendor-partners/?referrer=ampproject.org.

Let us know the details we need to modify anything in adapter and submit again.

[2021-02-04 14:40] asfarmed commented on #32375
@micajuine-ho  Do I put the current domain for the site?

[2021-02-04 14:51] micajuine-ho commented on #32375
You can, that makes the most sense here. See this documentation for more info: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-forwarding.md

[2021-02-04 15:42] caroqliu commented on #32398
Confirmed this only affects version 0.1. Version 1.0 behaves [as expected in the playground](https://playground.amp.dev/amp/undefined#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5hbXAtdGltZWFnbyAtIEV4YW1wbGUgMTwvdGl0bGU+CiAgPHNjcmlwdCBhc3luYyBzcmM9Imh0dHBzOi8vY2RuLmFtcHByb2plY3Qub3JnL3YwLmpzIj48L3NjcmlwdD4KICA8c2NyaXB0IGN1c3RvbS1lbGVtZW50PSJhbXAt

[2021-02-04 15:53] #5866 closed

[2021-02-04 15:53] #11408 closed

[2021-02-04 15:53] #20159 closed

[2021-02-04 15:53] #23753 closed

[2021-02-04 15:53] #23756 closed

[2021-02-04 15:53] #23757 closed

[2021-02-04 15:53] #21961 closed

[2021-02-04 15:53] #23708 closed

[2021-02-04 16:22] DayneRich opened #32430 "AMP version for LiveBlog article does not update as quickly as the non-AMP version."
## What's the issue?

Our AMP cache is not updating when Google revisits the page (Even when we manually requesting re-indexing via Google search console and the update cache endpoint).
o	Ex: When we click through to AMP on Mobile, our Article content isn’t matching the non-AMP mobile experience

## How do we reproduce the issue?

1. Visit our non-AMP instance: https://www.forbes.com/sites/jackbre

[2021-02-04 17:38] #30566 closed

[2021-02-04 18:18] #32337 closed

[2021-02-04 18:21] #30940 closed

[2021-02-04 18:39] gmajoulet commented on #29498
Let's only do fully loaded, or over 80% loaded for now. There is a lot of context to "somewhat loaded", happy to share it but I don't want to overload this ticket with extra context.

This piece of code needs to be optimized, right now it will try to preload ALL the videos that are managed:
https://github.com/ampproject/amphtml/blob/e7798f4fbd1128a5d3785ab1f098bf2ea2d4c782/extensions/amp-video/0.1

[2021-02-04 19:10] Enriqe opened #32436 "[amp-story-player] Replace iframe.onload() for storyContentLoaded"
Currently the iframes inside the player have a handler for the `onload()` event which sets some loading-related CSS classes (they show the poster image / loading spinner).

https://github.com/ampproject/amphtml/blob/e7798f4fbd1128a5d3785ab1f098bf2ea2d4c782/src/amp-story-player/amp-story-player-impl.js#L637-L641

The issue with using `iframe.onload()` is that it could be fired twice (once when the

[2021-02-04 19:23] choumx commented on #19479
Sorry, dropped the ball on this. @jridgewell can you follow up?

[2021-02-04 19:30] honeybadgerdontcare commented on #32369
Chrome is making progress on H/A for SVG elements. M89 should have some work done and should release in early March to stable. Chrome [bug to track](https://bugs.chromium.org/p/chromium/issues/detail?id=1101002).

Marking this as P3 and keeping open.

[2021-02-04 20:57] gmajoulet commented on #30990
cc @Enriqe can you double check if your last improvement to optimize the LCP fixed this, and close if everything is now working? Ty!

[2021-02-04 20:58] choumx opened #32441 "[Story devtools] Restructure technical details in preview tool"
The "Logs" and "Page experience" tabs in the story dev/preview tool are not well-suited for non-technical creators (e.g. users of the WordPress Stories plugin).

Suggestions:
- Rename "Logs" tab to a more technical-sounding name e.g. "Advanced", "Debug", or other
- Move "Page experience" iframe into the "Help" popup

@mszylkowski @ampproject/wg-stories

[2021-02-04 21:23] #31776 closed

[2021-02-04 21:31] caroqliu commented on #29957
Dedup with #32333

[2021-02-04 21:31] #29957 closed

[2021-02-04 21:38] rsimha commented on #28387
Dusting off this old issue and assigning to our new Infra friend @rileyajones, who mentioned wanting to do something like this today 😃

[2021-02-04 21:54] #29449 closed

[2021-02-04 21:59] jridgewell commented on #19479
@samouri Do we rewrite template CSS urls at runtime? If we don't, disabling the Cache rewriting would cause all CSS URLs to break.

[2021-02-04 22:09] #24009 closed

[2021-02-04 22:24] rsimha opened #32442 "Non-deterministic flakiness in E2E tests"
Of late, we're seeing an uptick in flakiness on our E2E tests. We recently started running push builds on CircleCI for commits to `master`, and many of the new failures appear to be in the experiment tests. In addition, PR jobs are showing failures too.

Here's the list of `master` builds: https://app.circleci.com/pipelines/github/ampproject/amphtml?branch=master. All failures in the past 24h seem

[2021-02-04 22:27] #6369 closed

[2021-02-04 22:29] rsimha commented on #32442
ccing a few people who have dealt with this before, in case they have suggestions to offer.

@caroqliu, who recently fixed flakiness in carousel tests
@kristoferbaxter, @jridgewell, who have reported flakiness recently
@estherkim, who has dealt with this kind of stuff in the past

I'm initially assigning this to @rileyajones, who has some ideas for code checks, that might be worth trying.

[2021-02-04 23:12] #32101 closed

[2021-02-04 23:15] Enriqe commented on #31392
@pshihn we recently added an autoplay API to only play the story when desired (#32414) will this solve your use case described here?

[2021-02-05 00:04] kristoferbaxter commented on #32398
Thanks @caroqliu, closing this issue with the fix for `0.1` landed.

[2021-02-05 00:04] #32398 closed

[2021-02-05 07:55] camelburrito opened #32447 "Do not restrict the "form" attribute on inputs inside a form tag"
Per - https://amp.dev/documentation/components/amp-form/#not-allowed - the form attribute seems to be restricted
[code]

Usecase

if i have inputs on my form on desktop and use amp-sidebar's toolbar to put it elsewhere on the page at different breakpoints,
ill need the form to consider these as it's own inputs at all breakpoints.

(in my site , i am doing some massive filters and they are under on

[2021-02-05 08:56] tla-sirdata commented on #31673
+1 here from Sirdata
As a workaround, we're recommending publishers to limit the Google Additional Consent providers in their CMP but it doesn't always work.
I also agree with the c) option but I think Google should be responsible for this in the first place, thus they could propose a new way to encode the AC string that we could use in all environments.

[2021-02-05 12:39] zarzosa commented on #24621
+1

[2021-02-05 13:38] lucas-rds opened #32449 "amp-iframe content disappear after tab change when using amp-consent"
## What's the issue?

When using amp-consent with a amp-iframe inside it (External User Consent Flow), when changing browser tab and focusing the amp page again, the amp-iframe content will dissapear and never show again.

## How do we reproduce the issue?

The bug is reproducible through the playground demo "External User Consent Flow", here: https://playground.amp.dev/?url=https%3A%2F%2Fpreview.

[2021-02-05 15:46] rcebulko commented on #28387
I'll echo `@samouri` above and +1 the suggestion to make all of build-system run TypeScript all at once, but just spit out warnings until tasks can gradually be migrated

[2021-02-05 17:26] dmanek opened #32455 "[amp-next-page] Request replaceHistory failed console error on viewer"
## What's the issue?

When viewing a page on AMP viewer that loads next pages via the amp-next-page, there are the following console errors:
[code]

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing the issue:

1. Open google.com in mobi

[2021-02-05 17:27] alanorozco commented on #32449
This appears to be working properly on 4937457ff before change #31976

[2021-02-05 18:44] Gregable commented on #32447
I can't imagine any reason allow-listing the `form` attribute on `<input>` elements would be a problem.

I think the correct change would be to add this to the `"input-common-attr"` list [here](https://github.com/ampproject/amphtml/blob/a6e5faf2636fbc157137aaf6be14f5ce24a6d91f/validator/validator-main.protoascii#L2575) as well as add a test.

[2021-02-05 19:04] rsimha opened #32461 "Increased visual-diff flakiness during CI"
After running `gulp visual-diff` on CI, we have the odd diff show up in Percy. Of late, I'm seeing way more flaky tests. Not sure if this is due to new tests, or if it's an infrastructure issue (new version of Chrome, puppeteer, or the Percy agent?) that's causing this spike in flakiness.

E.g. See [these diffs](https://percy.io/ampproject/amphtml/builds/8716818/changed/495171451?browser=firefox&b

[2021-02-05 19:18] honeybadgerdontcare commented on #24262
We've gone a slightly different route but it will enable custom properties for inline styles. It should be going live middle of next week. cl/24262

[2021-02-05 19:18] #24262 closed

[2021-02-05 19:18] jridgewell commented on #28387
I would instead suggest using JS syntax only with Typescript JSDoc annotations. 0 runtime dependencies to run the code, which means running `gulp` (which is already extremely slow for us) won't get any slower.

[2021-02-05 19:25] samouri opened #32463 "🌸 Cherry-pick request for #32449 into #32229 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32449 | #32459, #32466 |

[2021-02-05 19:30] alanorozco commented on #32447
This requires additional work to function as expected given behavior implemented in `amp-form`:

Some things [I tried](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiIC8+CiAgPHRpdGxlPmlucHV0W2Zvcm1dPC90aXRsZT4KICA8bGluayByZWw9ImNhbm9uaWNhbCIgaHJlZj0ic2VsZi5odG1sIiAvPgogIDxtZXRhIG5hbWU9InZpZXdwb3J0IiBjb250ZW50PSJ3aWR0aD1kZXZpY2Utd2lkdGg

[2021-02-05 19:31] #32449 closed

[2021-02-05 19:39] Gregable commented on #32447
Ah, I didn't realize this would involve more than just a caching change. @alanorozco would this be a runtime wg thing then?

[2021-02-05 20:27] alanorozco commented on #32447
Likely @ampproject/wg-components

[2021-02-05 21:21] jridgewell commented on #32463
Approving after speaking with @dvoytenko

[2021-02-05 21:22] dvoytenko commented on #32463
Approved

[2021-02-05 21:48] #32367 closed

[2021-02-05 22:24] camelburrito commented on #32447
isn't `data-amp-replace` tied to the input element itself (rather than the form)?

[2021-02-06 00:14] newmuis commented on #32258
Let's just make amp-story-cta-layer reuse [isInScreenBottom](https://github.com/ampproject/amphtml/blob/558da27cc31ff066f4f3f6da45e331b838ed92ed/extensions/amp-story/1.0/page-advancement.js#L564-L567) or similar.

[2021-02-06 00:16] newmuis commented on #31760
This UI is likely to change soon anyway, but when it does, it will allow for some degree of both color and icon customization.

[2021-02-06 00:22] dmanek opened #32477 "I2I: amp-render - a simpler content fetching and rendering component"
## Summary

We propose amp-render - component that fetches and renders remote or inline JSON data with these features:
1. render any shape of data (supported by mustache templates)
2. customizable with JS to enable developers roll out their own features
3. support layout="container"

## Design document

https://docs.google.com/document/d/1V1rqeFmMT5bvM-z0iPR7wonbYtjwAQjMkBhmVDLrY8w/edit?ts=601c244

[2021-02-06 00:25] dmanek commented on #32205
I'd like to discuss the proposal for `<amp-render>`.

i2i: #32477

[2021-02-06 01:05] bcrazydreamer commented on #24262
@honeybadgerdontcare can you mark the MR that include this issue fix or its under progress?

[2021-02-06 04:17] #10338 closed

[2021-02-06 04:17] #10967 closed

[2021-02-06 04:17] #13714 closed

[2021-02-06 04:17] #14065 closed

[2021-02-06 04:17] #14860 closed

[2021-02-06 04:17] #10784 closed

[2021-02-06 04:17] #11059 closed

[2021-02-06 04:17] #16207 closed

[2021-02-06 04:17] #16684 closed

[2021-02-06 04:17] #17411 closed

[2021-02-06 04:17] #15396 closed

[2021-02-06 04:17] #15310 closed

[2021-02-06 04:17] #16860 closed

[2021-02-06 04:17] #18180 closed

[2021-02-06 04:17] #17508 closed

[2021-02-06 04:18] #17182 closed

[2021-02-06 04:18] #17254 closed

[2021-02-06 04:18] #17038 closed

[2021-02-06 04:18] #15867 closed

[2021-02-06 04:18] #16578 closed

[2021-02-06 04:18] #17419 closed

[2021-02-06 04:18] #16014 closed

[2021-02-06 04:18] #16015 closed

[2021-02-06 04:18] #18049 closed

[2021-02-06 04:18] #15848 closed

[2021-02-06 04:18] #17159 closed

[2021-02-06 04:18] #17157 closed

[2021-02-06 04:18] #16449 closed

[2021-02-06 04:18] #16662 closed

[2021-02-06 04:18] #17448 closed

[2021-02-06 06:44] #8507 closed

[2021-02-06 06:44] #12591 closed

[2021-02-06 06:44] #11869 closed

[2021-02-06 06:44] #13774 closed

[2021-02-06 06:44] #13894 closed

[2021-02-06 06:44] #10558 closed

[2021-02-06 06:44] #11476 closed

[2021-02-06 06:44] #10903 closed

[2021-02-06 06:44] #13872 closed

[2021-02-06 06:44] #14239 closed

[2021-02-06 06:44] #14209 closed

[2021-02-06 06:44] #8906 closed

[2021-02-06 06:44] #10453 closed

[2021-02-06 06:44] #11405 closed

[2021-02-06 06:44] #12260 closed

[2021-02-06 06:44] #10807 closed

[2021-02-06 06:44] #14861 closed

[2021-02-06 06:44] #10937 closed

[2021-02-06 06:44] #12619 closed

[2021-02-06 06:44] #13973 closed

[2021-02-06 06:44] #12659 closed

[2021-02-06 06:44] #14163 closed

[2021-02-06 06:44] #10686 closed

[2021-02-06 06:44] #9514 closed

[2021-02-06 06:44] #11311 closed

[2021-02-06 06:44] #10043 closed

[2021-02-06 06:44] #10768 closed

[2021-02-06 06:44] #12817 closed

[2021-02-06 06:44] #9270 closed

[2021-02-06 06:44] #16206 closed

[2021-02-06 09:00] #17234 closed

[2021-02-06 09:00] #19863 closed

[2021-02-06 09:00] #20122 closed

[2021-02-06 09:00] #20851 closed

[2021-02-06 09:00] #20830 closed

[2021-02-06 09:00] #19193 closed

[2021-02-06 09:00] #18709 closed

[2021-02-06 09:00] #18459 closed

[2021-02-06 09:00] #21397 closed

[2021-02-06 09:00] #19219 closed

[2021-02-06 09:00] #19798 closed

[2021-02-06 09:00] #19912 closed

[2021-02-06 09:00] #19210 closed

[2021-02-06 09:00] #19866 closed

[2021-02-06 09:00] #19117 closed

[2021-02-06 09:00] #19144 closed

[2021-02-06 09:00] #21888 closed

[2021-02-06 09:00] #22623 closed

[2021-02-06 09:00] #22644 closed

[2021-02-06 09:00] #22767 closed

[2021-02-06 09:00] #21684 closed

[2021-02-06 09:00] #21727 closed

[2021-02-06 09:00] #22383 closed

[2021-02-06 09:00] #22148 closed

[2021-02-06 09:00] #16779 closed

[2021-02-06 09:01] #23828 closed

[2021-02-06 11:54] #16538 closed

[2021-02-06 11:54] #8366 closed

[2021-02-06 11:54] #4367 closed

[2021-02-06 11:54] #8368 closed

[2021-02-06 11:54] #6357 closed

[2021-02-06 11:54] #4754 closed

[2021-02-06 11:54] #5020 closed

[2021-02-06 11:54] #7009 closed

[2021-02-06 11:54] #6906 closed

[2021-02-06 11:54] #4626 closed

[2021-02-06 11:54] #6522 closed

[2021-02-06 11:54] #8314 closed

[2021-02-06 11:54] #7628 closed

[2021-02-06 11:54] #4503 closed

[2021-02-06 11:54] #3170 closed

[2021-02-06 11:54] #6611 closed

[2021-02-06 11:54] #7930 closed

[2021-02-07 00:47] honeybadgerdontcare commented on #24262
It'll be pushed to GitHub by Tuesday/Wednesday.

[2021-02-07 02:05] #23798 closed

[2021-02-07 17:12] Notebit opened #32486 "[amp-base-carousel]swipe on touch devices doesn't respect advance-count attribute"
You can check the issue in this playground example
[example on amp playground](https://playground.amp.dev/?format=websites#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5hbXAtaW5saW5lLWdhbGxlcnkgLSBFeGFtcGxlIDE8L3RpdGxlPgogIDxzY3JpcHQgYXN5bmMgc3JjPSJodHRwczovL2Nkbi5hbXBwcm9qZWN0Lm9yZy92MC5qcyI+PC9zY3JpcHQ+CiAgPHNjcmlwdCBjdXN0b20tZWxlbWVudD0iYW1wLWl

[2021-02-07 21:15] bluej4ker opened #32487 "Iframe refreshes automatically when tab change."
There has been a change in amp iframe after the last update. Iframe is automatically refreshed when you switch to a different tab on the site with iframe. Do you have a solution to prevent this?

[2021-02-07 21:23] ampprojectbot opened #32488 "🚨 Error: Parse error on line 1:"
Details
---
**Error report:** [link](http://go/ampe/CKvrvr-sro2dvQE)
**First seen:** Nov 25, 2020
**Frequency:** ~ 1,933/day

Stacktrace
---
<pre><code>Error: Parse error on line 1:
    data.viewsLeft =0 1
    ------------------^
    Expecting 'EOF', 'OR', 'AND', ')', 'EQ', 'DEQ', 'NEQ', 'LT', 'LTE', 'GT', 'GTE', got 'NUMERIC'
    at Error (<a href="https://github.com/ampproject/amphtml/blob/21012

[2021-02-08 04:19] estereofonico commented on #30999
The Google News Initiative promotes AMP Pages, and we're using an AMP Theme to get more visitor. Is a must that the project supports AMP pages

[2021-02-08 13:14] danyal1248 opened #32489 "How to call one Javascript function on different places in one amp HTML document using ID or Class?"
**Call add to cart to perform action on this id**

<amp-script script="addToCart" target="amp-script" data-ampdevmode>
               <button id="bottomSheetView" on="tap:AMP.setState({productId:{id : {{id}}}})" class="btn btn-block btn-sm btn-view">add</button>
</amp-script>

**I want to append result in this amp script container or add any div in this container but script will remain same addToC

[2021-02-08 13:20] swissspidy opened #32490 "amp-story-bookend: Error fetching bookend configuration"
## What's the issue?

With a bookend configuration like follows I'll get console errors like this:

Markup (transformed AMP):

[code]

Related, but with different error message: #15669

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing t

[2021-02-08 13:20] danyal1248 opened #32491 "How can we create reusable function in javascript and execute on different stages from the document?"
There are some problems that I am facing while working on Amp.
1)If I change the state of any input field or DIV and need to perform any event action on this, is it possible?
2)How can I use one amp script on different places without impacting IDs?
 Kindly answer this as soon as possible.

[2021-02-08 15:09] kristoferbaxter commented on #32428
@powerivq Is this a timing issue or is there a missing component to automatically add new vendors into the output on `amp.dev`?

[2021-02-08 15:11] kristoferbaxter commented on #32487
@samouri is this related to https://github.com/ampproject/amphtml/issues/32463?

[2021-02-08 15:16] kristoferbaxter commented on #32488
@powerivq or @calebcordry, this is relatively low volume but could be a regression.

[2021-02-08 15:18] kristoferbaxter commented on #32489
@morsssss This looks like a question about how you could execute something with AMP Script. Could you take a look and see if we have adequate answers in our documentation?

[2021-02-08 15:19] kristoferbaxter commented on #32491
@morsssss This appears to be a question related to building AMP documents, can you ensure we have coverage on AMP.dev these topics?

[2021-02-08 15:25] caroqliu commented on #32486
Hi @Notebit, thanks for filing this issue!

The `advance-count` attribute configures exactly what you described: it determines the number of slides that advance when using the previous and next buttons.

When scrolling freeform, the number of slides you transition by is a function of the momentum on your scroll and the snapping configuration on the carousel. By default, we allow the carousel to sn

[2021-02-08 15:25] #32486 closed

[2021-02-08 15:29] powerivq commented on #32428
@kristoferbaxter It's a manual process right now (https://github.com/ampproject/amp.dev/blob/2c7be2541118b0d4832fcaa85c518db86b653322/pages/shared/data/faq.yaml#L73). I can update it for now and opened another issue (https://github.com/ampproject/amp.dev/issues/5322) to automate it.

[2021-02-08 15:48] TetraLogicalHelpdesk opened #32493 "amp-story: Images with missing or inadequate text descriptions"
# Images with missing or inadequate text descriptions

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/s

[2021-02-08 15:49] TetraLogicalHelpdesk opened #32494 "amp-story: Visual progress bar missing an alternative"
# Visual progress bar missing an alternative

## WCAG Level
Level A

## Priority
Medium

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa

[2021-02-08 15:51] TetraLogicalHelpdesk opened #32495 "amp-story: Missing or inaccurate transcript"
# Missing or inaccurate transcript

## WCAG Level
Level A

## Priority
Low

## Pages/screens/components affected
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-story.html)
* [Audio - amp-story-page background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-page.html)
* [Audio - amp-story using amp-audio](https://www.gstatic.com/amphtml/stamp/qa/amp-audi

[2021-02-08 15:52] TetraLogicalHelpdesk opened #32496 "amp-story: Missing or inaccurate captions for prerecorded content"
# Missing or inaccurate captions for prerecorded content

## WCAG Level
Level A

## Priority
Low

## Pages/screens/components affected
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [AMP Story Player - AMP Story 360](https://www.gstatic.com/amphtml/stamp/qa/amp-story-360.html)

## Description
When captions are not available for video/multimedia content that has an audio track, pe

[2021-02-08 15:53] TetraLogicalHelpdesk opened #32497 "amp-story: Missing or inaccurate audio description or media alternative"
# Missing or inaccurate audio description or media alternative

## WCAG Level
Level A/AA

## Priority
Low

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Prerender - Video](https://www.gstatic.com/amphtml/stamp/qa/prerender-video.html?amp_js_v=0.1#origin=https://www.goog

[2021-02-08 15:57] TetraLogicalHelpdesk opened #32498 "amp-story: Content from other inactive pages is available to screen readers"
# Content from other inactive pages is available to screen readers

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Tooltip](https://www.gstatic.com/amphtml/stamp/qa/tooltip.html)
* [AMP Story Player - Player](https://www.gstatic.com/amphtml/stamp/qa/player.html)

## Description
While generally inactive pages in a story are correctly hidden from assistive technolog

[2021-02-08 16:04] TetraLogicalHelpdesk opened #32499 "amp-story: Content behind dialogs is available to screen readers"
# Content behind dialogs is available to screen readers

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml

[2021-02-08 16:09] TetraLogicalHelpdesk opened #32500 "amp-story: Content restricted to a particular orientation"
# Content restricted to a particular orientation

## WCAG Level
Level AA

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp

[2021-02-08 16:12] TetraLogicalHelpdesk opened #32501 "amp-story: Non-text content has insufficient colour contrast"
# Non-text content has insufficient colour contrast

## WCAG Level
Level AA

## Priority
Medium

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/

[2021-02-08 16:14] TetraLogicalHelpdesk opened #32502 "amp-story: Content is unreadable when text style is adjusted"
# Content is unreadable when text style is adjusted

## WCAG Level
Level AA

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/st

[2021-02-08 16:17] TetraLogicalHelpdesk opened #32503 "amp-story: Zooming obscures content"
# Zooming obscures content

## WCAG Level
Level AA

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-story.html)

[2021-02-08 16:19] samouri commented on #32487
@bluej4ker: can you please provide an example reproduction (and especially one where it is undesired). I believe this is the intended behavior for iframes to unload when inactive and then reload when active again

[2021-02-08 16:20] TetraLogicalHelpdesk opened #32504 "amp-story: Best practice: add focusable controls in small-screen view"
# Best practice: add focusable controls in small-screen view

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-story.html)
* [Audio

[2021-02-08 16:24] TetraLogicalHelpdesk opened #32506 "amp-story: Pages visually break when navigating with keyboard"
# Pages visually break when navigating with keyboard

## WCAG Level
Level A

## Priority
Critical

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [Sharing](https://www.gstatic.com/amphtml/stamp/qa/sharing.html)
* [Tooltip](https://www.gstatic.com/amphtml/stamp/qa/tooltip.html)
* [AMP Story Player - Player](https://www.gstatic.com/amp

[2021-02-08 16:29] TetraLogicalHelpdesk opened #32507 "amp-story: Controls cannot be used with a keyboard"
# Controls cannot be used with a keyboard

## WCAG Level
Level A

## Priority
Critical

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/

[2021-02-08 16:33] TetraLogicalHelpdesk opened #32508 "amp-story: Make play/pause button focusable on mobile UI"
# Timing not adjustable

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story-page background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-page.html)
* [Audio - amp-story using amp-audio](https://www.gstatic.c

[2021-02-08 16:36] TetraLogicalHelpdesk opened #32509 "amp-story: Video/animations cannot be paused or stopped"
# Video/animations cannot be paused or stopped

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Animation](https://www.gstatic.com/amphtml/stamp/qa/animation.html)
* [Prerender - Video](https://www.gstatic.com/amphtml/stamp/qa/prer

[2021-02-08 16:37] TetraLogicalHelpdesk opened #32510 "amp-story: Missing or inaccurate page titles"
# Missing or inaccurate page titles

## WCAG Level
Level A

## Priority
Low

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-story

[2021-02-08 16:46] TetraLogicalHelpdesk opened #32511 "amp-story: Incorrect focus order/handling"
# Incorrect focus order/handling

## WCAG Level
Level A

## Priority
Critical

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/audio-sto

[2021-02-08 16:49] TetraLogicalHelpdesk opened #32512 "amp-story: Lack of visible focus indication"
# Lack of visible focus indication

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Sharing](https://www.gstatic.com/amphtml/stamp/qa/sharing.html)
* [Tooltip](https://www.gstatic.com/amphtml/stamp/qa/tooltip.html)
* [Page attachment](https://www.gstatic.com/amphtml/stamp/qa/page-attachment.html)

## Description
Keyboard users rely on the browser's focus outline to

[2021-02-08 16:51] TetraLogicalHelpdesk opened #32513 "amp-story: Motion-based functionality"
# Motion-based functionality

## WCAG Level
Level A

## Priority
Critical

## Pages/screens/components affected
* [AMP Story Player - AMP Story 360](https://www.gstatic.com/amphtml/stamp/qa/amp-story-360.html)

## Description
Particularly on portable (mobile/tablet) devices, it is possible for web content to react to device motion or user motion (through additional sensors, such as a webcam or mot

[2021-02-08 16:52] TetraLogicalHelpdesk opened #32514 "amp-story: Language of page content is not indicated"
# Language of page content is not indicated

## WCAG Level
Level A / AA

## Priority
Medium

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stam

[2021-02-08 16:54] TetraLogicalHelpdesk opened #32515 "amp-story: Controls/widgets with an incorrect/missing role"
# Controls/widgets with an incorrect/missing role

## WCAG Level
Level A

## Priority
Low

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/

[2021-02-08 16:55] TetraLogicalHelpdesk opened #32516 "amp-story: Controls/widgets without an accessible name"
# Controls/widgets without an accessible name

## WCAG Level
Level A

## Priority
High

## Pages/screens/components affected
* [Navigation](https://www.gstatic.com/amphtml/stamp/qa/navigation.html)
* [RTL](https://www.gstatic.com/amphtml/stamp/qa/rtl.html)
* [Video](https://www.gstatic.com/amphtml/stamp/qa/video.html)
* [Audio - amp-story background audio](https://www.gstatic.com/amphtml/stamp/qa/

[2021-02-08 16:56] TetraLogicalHelpdesk opened #32517 "amp-story: Status messages are not explicitly announced by assistive technologies"
# Status messages are not explicitly announced by assistive technologies

## WCAG Level
Level AA

## Priority
Medium

## Pages/screens/components affected
* [AMP Story Player - AMP Story 360](https://www.gstatic.com/amphtml/stamp/qa/amp-story-360.html)

## Description
When status messages/notifications appear on a page dynamically, without automatically receiving keyboard focus, it is important th

[2021-02-08 16:59] alanorozco commented on #32447
@camelburrito They probably should be, but they're not at the moment:

https://github.com/ampproject/amphtml/blob/ca438adeefff4e5e53e05a1f052661db70745411/extensions/amp-form/0.1/amp-form.js#L696-L699

There are other selectors that derive from the instance form that cause these issue, my instinct is that they should all probably work by scoping to root and then comparing form id.

[2021-02-08 17:06] micajuine-ho commented on #32447
No, `amp-form` finds the input elements that have `type=hidden` and `data-amp-replace`, and then does url substitution.

I imagine for this to work, we would need a query selector on the document to find all the input elements that are connected to the `amp-form`. Additionally, we might need to consider shadow doc case, for dynamically added elements (via `amp-list` , etc).

Will sync with @alanor

[2021-02-08 17:24] Notebit commented on #32486
Hi @caroqliu
sorry my fault, I didn't notice the snap-by attribute. I added it, it also supports media queries as advance-count, so now anything looks fine and i have the swipe by touch and next/previous moving with the same pace.
thanks again

[2021-02-08 17:35] calebcordry commented on #32488
to/ @ampproject/wg-monetization for prioritization

[2021-02-08 18:07] camelburrito commented on #32447
https://github.com/ampproject/amphtml/blob/a6e5faf2636fbc157137aaf6be14f5ce24a6d91f/extensions/amp-form/0.1/amp-form.js#L205 - This already has all inputs in and out of the form , this is probably why the form submission works without a problem.

[2021-02-08 18:07] #32441 closed

[2021-02-08 18:57] danielrozenberg commented on #32461
On initial investigation this looks related to the `layout-aspect-ratio-css` experiment - it's set to 10% in `prod-config.json` which explains why it produces flakiness in these tests - example diff of [one of the flaky tests](https://percy.io/ampproject/amphtml/builds/8739672/changed/496279614):

[code]

@powerivq got any ideas what's going on?

[2021-02-08 19:05] honeybadgerdontcare commented on #32430
@DayneRich The AMP version shows four validation errors around `style` for `amp-keyframes`. The AMP cache won't serve the current version if it's invalid and if it has an older valid version will serve that honoring expiry headers. Currently the AMP cache is redirecting to the forbes.com origin version.

[2021-02-08 19:07] bluej4ker commented on #32487
![wetwetew (1)](https://user-images.githubusercontent.com/33478397/107268794-b9657600-6a59-11eb-944c-cb90406c9609.gif)

Imagine watching a video in a tab. You may experience this problem when we move to a different page. Or imagine that you are opening a pop-up page in iframe, the same problem occurs again.

You may think that we should use different tags for the video, but if we are using our own

[2021-02-08 19:24] powerivq commented on #32461
@dvoytenko Looks like it, correct?

@danielrozenberg  I wonder how we usually handle this situation: where an experiment affects a visual diff. Should we turn off temporarily till fully deployed?

[2021-02-08 20:21] dvoytenko commented on #32487
This is being fixed in https://github.com/ampproject/amphtml/pull/32478

[2021-02-08 20:22] dvoytenko commented on #32461
I'll take a look at this one.

[2021-02-08 20:25] dvoytenko commented on #32461
So. I'm retesting these pages and they all look good. I don't see a regression shown in the visual diff with or without an experiment.

[2021-02-08 20:30] jridgewell commented on #32487
Ok, so the from is the same [PR](https://github.com/ampproject/amphtml/pull/31976) that caused #32463. However, #32436 was caused by the interaction with the Owners system leading to an incorrect state.

This seems to be caused because we're interpreting the tab switch (iframes shouldn't unload) the same as a Viewer swipe-to-next-doc (iframes should unload). We'll need to fix this.

[2021-02-08 20:41] dvoytenko opened #32521 "🌸 Cherry-pick request for #32487 into #32408 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32487 | #32478 |     **YES

[2021-02-08 21:06] #32487 closed

[2021-02-08 21:06] dvoytenko commented on #32521
The CP is ready.

[2021-02-08 21:07] jridgewell commented on #32521
Approved

[2021-02-08 21:08] #32065 closed

[2021-02-08 21:16] morsssss commented on #32489
Hey @danyal1248 ! I can't entirely tell what you're trying to do from the partial code you provide. It does look like you want to make it so that when a user clicks one DOM element, you set a state variable to `false`.

If that's it, does [this sample](https://amp.dev/documentation/examples/components/amp-script/?format=websites#interacting-with-%3Camp-state%3E) help?

If that's not enough, please

[2021-02-08 21:22] morsssss commented on #32491
Hello again @danyal1248 !

1) In an AMP document, normally the best way to perform an actions is to use AMP's [actions and events system](https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/). You can also do a lot with `amp-script`, but if you're using AMP, you might as well use what's built into the framework if you can, instead of trying to create your own solution.

[2021-02-08 21:39] honeybadgerdontcare commented on #32461
We're doing a validator roll out which changes no runtime or extension javascript and getting visual errors, see https://percy.io/ampproject/amphtml/builds/8742078/changed/496444959?browser=firefox&browser_ids=5&subcategories=unreviewed%2Cchanges_requested&viewLayout=side-by-side&viewMode=new&width=800&widths=375%2C411%2C800%2C1400
/cc @MichaelRybak

[2021-02-08 21:40] caroqliu opened #32523 "Tracking issue for Bento component performance analysis on AMP documents"
## Summary

This is a tracking issue for `experimentC` channel in `experiment-config.json` to measure the performance impact of Bento components on valid AMP documents.

## Background

[Bento](https://amp.dev/documentation/guides-and-tutorials/start/bento_guide/?format=websites) is an experimental AMP feature which aims to extricate AMP components from the AMP runtime. A couple corollaries of this

[2021-02-08 21:50] Enriqe opened #32524 "[amp-story-player] Show placeholder background / spinner while story loads"
Currently when navigating through stories in the player, it will show the next story's content loading. This can cause some undesired UX.

We should add a background + spinner until the `storyContentLoaded` event is dispatched by the story.

Background color: `#202125`
Fade out animation duration: 200ms

Spinner animation:
Duration: 1s
curve: 	cubic-bezier(0.0, 0.0, 0.2, 1);

![loading spinner sto

[2021-02-08 21:57] rsimha commented on #32442
Bumping this issue with some links from recent builds:
- https://app.circleci.com/pipelines/github/ampproject/amphtml/1446/workflows/462431af-f123-4af0-b219-45c722647c9c/jobs/13677/parallel-runs/0/steps/0-108
- https://app.circleci.com/pipelines/github/ampproject/amphtml/1438/workflows/04c3a37d-0c54-4f48-811b-372568089c7b/jobs/13574/parallel-runs/0/steps/0-108
- https://app.circleci.com/pipelines/

[2021-02-08 22:10] jridgewell commented on #32387
Currently, we have a transition when the image loads:

https://github.com/ampproject/amphtml/blob/4a434785df9d89fce6ba3a5f725dd3dda475ea39/css/ampshared.css#L35-L38

When image loads, we set `opacity: 0` on the blurry placeholder, and it fades to the real image. If we eliminate the `z-index`, we'll lose the fade. Is that acceptable? If so, I'll make the change to remove it all.

[2021-02-08 22:40] dvoytenko commented on #32461
@danielrozenberg is there any way to know for certain which browser is used for snapshotting? E.g. which Chromium version is used?

[2021-02-08 23:14] #32430 closed

[2021-02-08 23:15] honeybadgerdontcare commented on #32272
@paraboloidas The AMP cache serves AMP documents and their related images and videos. It is not expected to serve public keys.

For updating the AMP cache see documentation for [update-cache](https://developers.google.com/amp/cache/update-cache).

[2021-02-08 23:15] #32272 closed

[2021-02-08 23:18] Gregable commented on #25926
Update: This is now a warning in validation for Javascript.

[2021-02-08 23:20] honeybadgerdontcare commented on #25926
Code merged in #32357

[2021-02-08 23:27] honeybadgerdontcare commented on #25926
This will be come an error the week of March 1, 2021.

[2021-02-08 23:30] amaltas commented on #25926
One more note related to lang attribute. Anything that is not <!doctype html> cause parser to parse document in quirks mode. We made this exception in doctype.cc[](https://github.com/ampproject/amphtml/blob/master/validator/cpp/htmlparser/doctype.cc#L64) which can be cleared once lang is disallowed.

[2021-02-08 23:48] honeybadgerdontcare commented on #31405
@kevalteknopoint the URL used in your issue for `Google CDN path` is not a valid AMP cache URL. The documentation for [AMP Cache URL Format](https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cache-urls/) goes into detail what a valid path is.

Given this URL:
https://www.iffcotokio.co.in/content/dam/iffcotokio/iffco-images/sprite-sheet.svg
The AMP Cache URL would be:

[2021-02-08 23:48] #31405 closed

[2021-02-09 00:00] honeybadgerdontcare commented on #32427
@jamesozzie Thank you for the report. We're looking into it.

[2021-02-09 00:04] Enriqe commented on #32490
Just checked and this is caused by not having a `"components"` property in the config, adding an empty array of `"components": []` should fix it.

We can use this issue to provide a better error message.

[2021-02-09 00:51] kristoferbaxter commented on #32205
I'd also like to discuss the proposal to add font based transformations to AMP Caches.

https://docs.google.com/document/d/1iQ9fe1eDceDYuNC6bKx3bnPAGoBZm5sglYXL9un1fkU/edit?usp=sharing

[2021-02-09 00:54] dvoytenko commented on #32461
Actually, it looks like all diffs are done via Firefox? Is that configurable at all? Do we know which FF?

[2021-02-09 01:00] dvoytenko commented on #32461
I have one guess, but it could be completely off. Is it possible that the page snapshots are produced on Chrome, but visual diff is done on FF?

[2021-02-09 04:56] micajuine-ho commented on #32463
Cherry picks are all complete.

[2021-02-09 06:40] danyal1248 commented on #32491
Hey morssss,
The problem is, I want to perform one action in amp script and then get the value of that action, after that using JavaScript I want to create some data with that value. These things are working fine but, the problem is that when the time comes to append that data on the other place in the document except that amp-script or if I use another amp-script with the same script id, so it is

[2021-02-09 07:53] dritter commented on #31583
This seems to be fixed with the release of `2101230412006`. I suspect that it got fixed along with https://github.com/ampproject/amphtml/issues/32449 .
Only a small Issue remains: The IFrame gets reloaded completly on switching one slide, but not if I switch multiple slides. IMHO the full reload is unnecessary.

[2021-02-09 07:55] dritter commented on #31941
Even though this looks similar to https://github.com/ampproject/amphtml/issues/31583, this is not fixed with the release of `2101230412006`.

[2021-02-09 10:43] milindmore22 commented on #24621
+1

[2021-02-09 15:43] #31416 closed

[2021-02-09 15:45] rsimha commented on #28152
Closing because tests have been running on IE for a few months now.

[2021-02-09 15:45] #28152 closed

[2021-02-09 15:47] DayneRich commented on #32430
Thanks @honeybadgerdontcare !

It looks like at some point these started throwing those errors.
Will let you know if fixing this resolves.

[2021-02-09 15:48] micajuine-ho commented on #32447
Didn't know about this!

After chatting with Alan, we will plan to support `<input type=form>` elements outside of an `<amp-form>` (which will require a validation change). For `amp-form`, this means that we'll have to find these elements (either using form.elements or query selector on the root). We don't think that shadow doc case should be something to be considered right now. We'll also have t

[2021-02-09 16:26] cpauwels opened #32543 "[amp-story-player] Allow programatic updating of the JSON configuration"
## Describe the new feature or change to an existing feature you'd like to see

The JSON Configuration in the player enables many use cases, but it would be amazing if there was a way to programmatically update that configuration. This would make it possible to enable state-based use cases (such as starring a story, with the icon reflecting the starred status).

[2021-02-09 16:32] cpauwels opened #32544 "[amp-story-interactive] Allow for not displaying results"
## Describe the new feature or change to an existing feature you'd like to see

There are some cases for polls or quizes where the story publisher might not want to show the results. A simple case would be one of polling for customer satisfaction. If customers are not satisfied, the publisher might not want to show the results or make them public.

I think simply removing the response percentage t

[2021-02-09 16:35] cpauwels opened #32545 "[amp-story-interactive] Align the design for polls and quizes"
## Describe the new feature or change to an existing feature you'd like to see

Our customers are wondering why the design for polls is different to the design for quizes.
I also think there could be a better visual alignment between both, so having both polls and quizes within a story feels a bit more consistent.

[2021-02-09 17:01] tomayac commented on #7008
I have stopped caring personally, but it still sounds like a good feature to support. So, [stale](https://github.com/marketplace/stale) 🤖, keep this open, please.

[2021-02-09 17:21] westonruter commented on #23804
This should still be done. We just need an example unlisted Vimeo video to test.

[2021-02-09 17:34] newmuis commented on #32545
/to @hongcatlover

[2021-02-09 17:35] newmuis commented on #32544
@mszylkowski I know if no backend is specified, we (obviously) don't aggregate the results; is it possible to trigger that state while still sending data to the backend?

[2021-02-09 17:38] newmuis commented on #32524
We should make sure that the background color is easily overridable.  My personal preference would be if setting the `background-color` CSS attribute on the `<amp-story-player>` root were sufficient to override the color.

[2021-02-09 17:50] mszylkowski commented on #32544
On our v1 launch we designed components to always show the responses but I think this is a completely valid use-case.

Currently the way I see this working in this way would be to have the backend return an invalid JSON (but still record the vote), so the percentages don't show but they get recorded in the backend. This requires some development from the backend owner but I think is the more robus

[2021-02-09 18:04] dvoytenko commented on #32523
Approved on behalf of @ampproject/wg-approvers for RTV experiment.

[2021-02-09 18:20] dvoytenko commented on #32461
@danielrozenberg could you pls comment on the changes here for posterity?

[2021-02-09 18:23] danielrozenberg commented on #32461
Sure - we've switched the Percy project's config to render on Chrome instead of Firefox. I'll look into running the visual diff tests in parallel on both Chrome and Firefox and report them to two separate Percy projects.
@rsimha wrote #32546 to ensure visual diff tests only run on CircleCI, not on Travis

[2021-02-09 18:27] newmuis commented on #32544
Good point about changing the endpoint's response.  Sounds reasonable to launch an attribute to disable the result state and provide documentation on the shape of the JSON response in that case.

/cc @raovs @hongcatlover to ensure this sounds reasonable to them

[2021-02-09 18:39] dvoytenko commented on #32461
Can we also confirm the current Chrome version running on Percy?

[2021-02-09 18:42] rsimha commented on #32461
DOM snapshots are created on Chrome latest stable channel (on CircleCI), but as we discovered recently, they are being rendered on the Percy side using an older version of Chrome.

**CI build:** [here](https://app.circleci.com/pipelines/github/ampproject/amphtml/1534/workflows/8ae5ab2f-2a24-41c8-96f2-cbf5d071dfe3/jobs/14666) (expand the last two sections)
**Corresponding Percy build:** [here](http

[2021-02-09 18:54] camelburrito commented on #32447
not supporting for `amp-selector` is fine. but if you eventually want to support it , it should be no harder than piping the `form` attribute to the `<input type="hidden">` here https://github.com/ampproject/amphtml/blob/a6e5faf2636fbc157137aaf6be14f5ce24a6d91f/extensions/amp-selector/0.1/amp-selector.js#L341

But it looks like `amp-selector` takes in a `form` attribute and pipes it in :)

[2021-02-09 19:20] catherinehoule opened #32549 "[Amp-accordion] overuse [noise] of aria/role/section"
## Describe the new feature or change to an existing feature you'd like to see

We are using amp-accordion in a way that does not require all those aria-labelledby and role=region added by the component
We use a subtitle (h3) then content relevant to it. The contents of each accordion is obvious by the semantic structure (correctly applied!)
An accessibility consultant also confirmed us that it's

[2021-02-09 20:13] rsimha commented on #24421
Reopening because this test is repeatedly failing again. E.g. https://app.circleci.com/pipelines/github/ampproject/amphtml/1549/workflows/cdbc541d-1fdb-467a-9a28-6612a08f542f/jobs/14788/parallel-runs/0/steps/0-108

/cc @ampproject/wg-monetization

[2021-02-09 20:21] hongcatlover commented on #32545
Thanks for the feedback!
We are using a consistent UI language designing all the new interactive components. The elements inside all interactive features are created based on consistent UI styling with some unique UI highlights that differ by its types. We want to offer a consistent uniformed components UI but with the notable highlights to make sure users can identify various interactive componen

[2021-02-09 21:37] newmuis commented on #32323
This is still an issue in `2101300534004`.

[2021-02-09 21:45] newmuis opened #32562 "🌸 Cherry-pick request for #32323 into #32408 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #32323 | #32355 |     **YES

[2021-02-09 21:46] kristoferbaxter commented on #32562
Approved.

[2021-02-09 22:14] kristoferbaxter opened #32565 "Design Review 2021-2-17 21:00 UTC (Americas)"
Time: [2021-2-17 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=2&day=17&iv=0) ([add to Google Calendar](https://calendar.google.com/calendar/u/0/r/eventedit?text=AMP+Project+Design+Review&dates=20210217T210000Z/20210217T220000Z&details=https://bit.ly/amp-dr&sf=true
))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community holds weekl

[2021-02-09 22:16] kristoferbaxter opened #32566 "Design Review 2021-2-24 01:00 UTC (Asia/Oceania)"
Time: [2021-02-24 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2021&month=02&day=24&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20210224T010000Z/20210224T020000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2021-02-09 22:35] caroqliu commented on #32549
Thanks for filing @catherinehoule! We should respect any pre-existing role/aria attributes that we attempt to set on the elements here, and I'd be supportive of a change to that affect. Would you be interested in contributing that change?

As for the verbosity issue, there wasn't any recommendation related to that in our recent audit with @TetraLogicalHelpdesk, not sure what the advice would be ab

[2021-02-09 22:40] adamsilverstein commented on #1612
Is work on this issue still on your roadmap?

[2021-02-09 23:42] samouri commented on #31583
FYI @dvoytenko

[2021-02-10 00:52] catherinehoule commented on #32549
@caroqliu Thanks for the quick answer ! I'm thinking that if the component respect the pre-existing, it would be a big improvement in verbosity.
Would there be a way to avoid mandatory section too ?

I don't think I can make the time soon to contribute but maybe in the future. I will let you know for sure if me or my team I do.

[2021-02-10 02:58] micajuine-ho commented on #32562
CP is complete.

[2021-02-10 04:39] camelburrito commented on #17140
I could reproduce it on mac/chrome. https://storywall-staging.firebaseapp.com/storywall

click on any video , scroll to the bottom , close the lightbox, click on another video

[2021-02-10 05:52] cathyxz commented on #25104
Nice! xD

[2021-02-10 09:36] patrickhlauke commented on #32549
Partly, this is down to the fact that fairly artificial small demos of the components were assessed. The excessive verbosity does become more apparent once you apply it to extensive real-world content like this. And noting that this is more related to "usability for AT users", rather than a straight-up flaw/failure of the code. Combining these two reasons, that's why nothing specifically about thi

[2021-02-10 09:46] TcsEmotion commented on #32428
Hi @sebastianbenz @powerivq ,
Let us know, anything pending in our side?
Thanks

[2021-02-10 11:51] rickbairstow opened #32577 "No ampdoc found error for nested forms in amp-list"
## What's the issue?

Forms using action-xhr are causing an `Uncaught (in promise) Error: No ampdoc found for [object HTMLFormElement]` error in the console. If the endpoint returns a 200 status then the `submit-success` binded to the form is correctly ran, however if the endpoint returns a 400 status the `submit-error` binded to the form does not run at all. This causes multiple areas of our webs

[2021-02-10 12:17] powerivq commented on #32428
@TcsEmotion The site has been updated. Closing this issue.

[2021-02-10 12:17] #32428 closed

[2021-02-10 12:41] mxdvl commented on #31998
We’ve noticed that this `addtlConsent` is missing from the saved local store, even though it comes through a remote `amp-consent`’s `window.postMessage`’s payload as `consentMetadata`.

[2021-02-10 14:05] edoudou opened #32580 "[amp-story-player] Add swipe down to close the player"
## Being able to allow swipe down to close the story
As on instagram, the user should be able to close the story through a Swipe down gesture.

We should implement events to allow this :
- an event that triggers when swipe down starts (like a `touchStart` event)
- an event that triggers when the swipe moves, with data about the progression of the swipe (like a `touchMove` event)
- an event that tr

[2021-02-10 15:06] micajuine-ho commented on #31998
@mxdvl Can you file a new issue? I want to keep this thread separate.

[2021-02-10 15:10] powellish opened #32583 "Consent data object returned from amp-consent runs out of space - need gdprApplies to build ad request"
We're trying to integrate amp-video-iframe with amp-consent. Using getConsentData method on the iframe source page returns the consent data object from amp-consent, but on the first attempt (page load) it's missing a few key value in the consentMetadata property. In the attached screenshots you can see additionalConsent is returned but gdprApplies isn't. It looks like there's not enough space to r

[2021-02-10 15:29] rsimha opened #32585 "Modernize AMP’s development tasks"
The era of heavyweight `nodejs` task runners like `gulp` and `grunt` is [over](https://blog.logrocket.com/node-js-task-runners-are-they-right-for-you-bb29ea30b7fa/) .

Today, AMP’s development tasks use `gulp` in two ways.

1. For file streaming (along with various outdated `gulp` plugins)
https://github.com/ampproject/amphtml/blob/0ab0609b034232d58611cb990fcc850a59f9cc88/package.json#L108-L125

2

[2021-02-10 15:31] HarveyPeachey commented on #12817
What was the status of this issue? I know it's been 3 years so a very long time. Would be very useful if this feature was included to help solve https://github.com/bbc/simorgh/issues/8811#issuecomment-772684278

[2021-02-10 15:56] caroqliu commented on #32442
Grouping this comment by the three types of errors I identified in the runs linked above.

### `Waiting for element to be located`
"Fixing flaky carousel tests" is high praise @rsimha! Unfortunately I spent some time investigating and ended up skipping the carousel tests which yield `Waiting for element to be located` errors such as [the second one above](https://app.circleci.com/pipelines/github/

[2021-02-10 16:15] alanorozco commented on #32583
Thanks for the report!

- Do you have a code sample?
- Does this behavior persist when you add a `data-block-on-consent` attribute to the `<amp-video-iframe>`?

[2021-02-10 16:19] alanorozco commented on #32583
cc @micajuine-ho

[2021-02-10 16:19] #32562 closed

[2021-02-10 17:48] newmuis commented on #32580
AFAIK this should already work in viewers that provide the `#cap=swipe` fragment parameter on the story URL.  It's documented [here](https://github.com/ampproject/amphtml/blob/06123ab062b2be8d04bdb3e232c7c02a8cffe09b/extensions/amp-viewer-integration/CAPABILITIES.md).

@Enriqe can you check if that's true by manually adding that param to stories in a player?

If so, we should:

1. Document this (a

[2021-02-10 17:49] honeybadgerdontcare opened #32587 "Encourage AMP Email usage of data-css-strict"
Currently the AMP Email format is permissive on it's CSS usage. However, email providers will restrict CSS usage for various privacy and security reasons including those that are allowed by the validator. As a result, AMP Email document creators may be including CSS that will not work when received by email providers.

To remedy this a new restricted usage of CSS was put in place when the attribut

[2021-02-10 18:02] mxdvl opened #32588 "Save additional consent string to AMP-STORE"
## What's the issue?

We’ve noticed that the `addtlConsent` is missing from `consentMetadata` in the saved local storage, even though it comes through the `window.postMessage.payload` from an `amp-consent` configured with remote.

We think it might be related to #31998.

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits

[2021-02-10 18:17] #32258 closed

[2021-02-10 18:27] dvoytenko commented on #31583
Correct, #32449 should fix this. The full reload, I believe, has always existed in that case b/c there's no safe way to pause an iframe otherwise and it could be a problem with the playback going on where a user might not be able to find where it's coming from.

[2021-02-10 18:52] micajuine-ho opened #32592 "🚄 Release tracking issue for release 2102060044001"
# Release tracking issue

This issue tracks release [2102060044001](https://github.com/ampproject/amphtml/releases/tag/2102060044001). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2101300534005...2102060044001).

- [x] Release 2102060044001 promoted to Experimental and Beta (opt-in) channels (February 10, 2021, 11:01:59 AM GMT-8)
- [x] Release 210206004400

[2021-02-10 19:32] Enriqe commented on #29706
Closed by #32115 and #32153

[2021-02-10 19:32] #29706 closed

[2021-02-10 19:33] Enriqe commented on #31560
Closed by #32341

[2021-02-10 19:33] #31560 closed

[2021-02-10 19:40] Enriqe opened #32594 "[amp-story-player] Improve performance on players above the fold"
Follow up for https://github.com/ampproject/amphtml/issues/30990

Now that we have improved the scenario of the player below the fold https://github.com/ampproject/amphtml/issues/30990, we should improve the scenario of the player above the fold.

The problem is that currently we load the player right away when loading a page that embeds the player above the fold.

We can improve this by not loadi

[2021-02-10 19:40] Enriqe commented on #30990
Just tested with the recent improvements and the results seem promising.

Taken the following tests:
1. No player (control) https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ftemp-player.web.app%2Fexamples%2Famp-story%2Fplayer-no-player.html (speed score 100)
2. Player below fold https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ftemp-player.web.app%2F

[2021-02-10 19:40] #30990 closed

[2021-02-10 20:08] honeybadgerdontcare commented on #32427
It appears that these images may not be being served correctly. Reproduce by:

1. Open a new and unused icognito window
2. Go to URL: https://www.gistfocus.com/wp-content/uploads/2020/11/beautiful-hairstyles-marley-twist-559x600.jpg
3. Note that this returns a 404
4. Go to URL: https://www.gistfocus.com/hairstyles-for-nigerian-ladies/?amp
5. Note that this returns the image
6. Go to URL: https://w

[2021-02-10 20:08] #32427 closed

[2021-02-10 20:18] Enriqe commented on #31110
@swissspidy how does the widget create the player? I'm asking because given the following configuration:
[code]

The player will use "My Cool Title" provided between the `<a>` tags as title for the iframe. Or alternatively if the story is added via `add(storyObj)`, the `storyObj` passed should contain a title for it to be added to the iframe.

[2021-02-10 20:21] Enriqe commented on #32580
@newmuis yeah, the `<amp-story-player>` adds the `#cap=swipe` to each story url that it contains. We actually already use these events for swiping / scrolling.

The problem is that the touch events are only passed from the story document to the player via the messaging library (post messages), so they still need to be propagated from the player to the DOM.

[2021-02-10 20:24] mszylkowski opened #32597 "[Story video] Avoid managing placeholders on amp-video with mediapool"
When an `amp-video` is managed by a mediapool, it shouldn't make the BitrateManager manage `this.video_`. It should only manage the mediapool element. This will improve performance and remove potential sources of errors while waiting for operations on the wrong element.

Look at:
- `amp-video`: Prevent calling `getBitrateManager(this.win).manage(this.video_)` on the placeholder if managed by a poo

[2021-02-10 20:40] #31392 closed

[2021-02-10 21:04] jeffkaufman commented on #31998
Passing the additional consent as a URL parameter makes sense to me

[2021-02-10 21:12] Enriqe commented on #31193
@edoudou are you still seeing this, or is this good to close?

[2021-02-10 21:15] Enriqe commented on #30513
This seems to be a duplicate of https://github.com/ampproject/amphtml/issues/30990 and will be closed by https://github.com/ampproject/amphtml/pull/32469

[2021-02-10 21:24] caroqliu commented on #31985
@rosemaria0996 Have you tried upgrading to `amp-carousel` version `0.2`?

[2021-02-10 21:46] #31488 closed

[2021-02-10 21:51] swissspidy commented on #31110
@Enriqe yeah that's the markup we print in the plugin.

I just tried reproducing this locally and was unable to do so. Perhaps this got fixed since initial reporting.

[2021-02-10 21:54] Enriqe commented on #31110
Ok, closing for now but feel free to reopen if it pops up again.

[2021-02-10 21:54] #31110 closed

[2021-02-10 21:59] caroqliu commented on #30649
The "print" button appears to have `display: inline-block` which aligns itself to the baseline of the amp-social-share icons. It looks like applying `overflow: hidden; vertical-align: top;` to the `amp-social-share` selector will fix it for [this particular document](https://tasty.co/amp/recipe/garlic-bread-bruschetta), not sure about others. Alternatively, the developers for  could apply`vertical

[2021-02-10 22:08] gurodrigues commented on #31301
@powerivq I was debugging a little more and found that even with fixed size ads this error was happening.

Removing the `i-amphtml-layout-awaiting-size` class from the amp-ad element would solve the problem in all scenarios that I tested.

https://github.com/ampproject/amphtml/blob/58eb59d5b42a83a23e5b62e8200f57d610b84d71/extensions/amp-auto-ads/0.1/placement.js#L286

https://github.com/ampproject

[2021-02-10 23:18] #23903 closed

[2021-02-10 23:18] #15706 closed

[2021-02-10 23:18] #23248 closed

[2021-02-10 23:18] #23786 closed

[2021-02-10 23:18] #23249 closed

[2021-02-10 23:18] #23886 closed

[2021-02-10 23:18] #23273 closed

[2021-02-10 23:18] #10882 closed

[2021-02-10 23:18] #18357 closed

[2021-02-10 23:18] #23325 closed

[2021-02-10 23:18] #23862 closed

[2021-02-10 23:18] #23891 closed

[2021-02-10 23:18] #23916 closed

[2021-02-11 00:21] gurodrigues commented on #31301
I was able to find another issue reporting this problem. https://github.com/ampproject/amphtml/issues/27081

[2021-02-11 00:21] ShihaoJing opened #32603 "[AMPHTML ads] Support Conversion Measurement API"
## Motivation
The Chrome team started an effort which provides a new API surface to measure conversions in a privacy preserving manner. This API will potentially become a new web platform standard which allows for measuring and reporting click through conversions. With third-party cookies are either unavailable or undesirable in the near future, privacy preserving conversion measurement becomes im

[2021-02-11 00:24] ShihaoJing commented on #32565
I'd like to discuss the feature request that adds support for conversion measurement API through amp-ad-exit.
feature request: #32603

[2021-02-11 03:06] #15891 closed

[2021-02-11 06:04] SiddhantaDutta opened #32606 "The attribute 'href' in tag 'link rel=stylesheet for fonts' is set to the invalid value '/css/style.min.css'."
**Please only file bugs/feature requests for AMP here.**

-   If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
-   If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an

[2021-02-11 09:49] lucamago commented on #32165
Hi, this also happens to my sites, any update about this issue?

[2021-02-11 10:29] edoudou commented on #32580
The touch events are indeed passed through, I already tried using them to create a swipe down in our code base, and I was confronted to 2 major problems :

- There are not formatted by the player and so are concurrent to the swipe to next feature : Once the swipe down is detected, swipe to next/previous should be disable. When the swipe to next/previous is detected, swipe down should be disabled ?

[2021-02-11 10:32] edoudou commented on #32580
For the scroll issue, we currently lock the scroll in the page behind to the top, as it is not visible while the story is open, but we can't do that is we want to display the page behind the story during the swipe down animation.

[2021-02-11 11:47] jamesozzie commented on #32427
@honeybadgerdontcare Thanks for checking, I'll follow up with the user.

[2021-02-11 14:17] mmilowski commented on #24621
+1

[2021-02-11 14:18] a-haan commented on #24621
-1 I'm ditching AMP

[2021-02-11 14:46] newmuis commented on #15891
For anyone who finds this issue in the future, polls (and other such interactive components) have launched: https://amp.dev/documentation/components/amp-story-interactive/

[2021-02-11 16:31] micajuine-ho commented on #32588
@mxdvl Would you mind doing a screen recording of the issue and posting here?

[2021-02-11 16:33] micajuine-ho commented on #32583
@powellish Thanks for the error report. Can you please provide a sample page that exhibits this behavior? I'd like to see the consent config you have on the page as well as the response from `checkConsentHref`.

[2021-02-11 16:34] Enriqe commented on #32580
Yep, you are right. The player has a mechanism which scrolls the page when a vertical swipe is detected. This way users don't get stuck when scrolling through a page that embeds a player.

Summing up these points I think we could make this FR work by:
* Introducing an option to disable page scrolling.
  * Vertical swipes would still disable swipe-to-next/previous actions.
* Dispatch the touch even

[2021-02-11 16:55] micajuine-ho commented on #31361
Hi @mandril888 , it sounds like https://github.com/ampproject/amphtml/issues/31607 should be able to help satisfy this requirement. Please let me know what you think.

[2021-02-11 17:02] edoudou commented on #32580
@Enriqe ok, I understand best why there is this scroll behavior.

An option to disable this scroll behavior could indeed fix our problem.

For the 2nd part, I'm not sure how this would help, however it would make the events more consistent. IMO we would need an event to be fire when a swipe (or a `touchMove`) is being detected as a vertical swipe (and used for swipe to next/previous) or when it is