[2020-10-09 08:50] #28905 closed

[2020-10-09 08:50] #28920 closed

[2020-10-09 09:03] molnarg commented on #26406
I'd prefer option 2 (or 3), just so that we don't depend on
- Firefox to not extend this feature once again to support more than empty values
- some other browser's decision to interpret moz- prefixes for compatibility's sake

These are both quite unlikely but also hard for us to notice.

[2020-10-09 10:17] PaulHale commented on #30573
I spent weeks getting our videos to look good on both mobile and desktop.
Are you now telling me that was a complete waste of my time?

#29496 is all about bitrate. What about video dimensions?
Are we supposed to only target mobile videos now and not videos targeted at desktop?
I thought the Accelerated "Mobile" Pages ancroym was dropped?
How do I escalate this?

Please advise.

[2020-10-09 10:41] PaulHale commented on #30573
The more I think about this the more furious I get.

There should have been an API bump to introduce this change. You can't go around introducing breaking changes and simply state that you're "sorry you missed our site" and "didn't think anyone was using this feature".
This is totally unaceptable.

Again, please let me know how we can escalate this.

[2020-10-09 10:49] jaygray0919 commented on #18830
Can we run an `amp-iframe` in `amp-story`?

[2020-10-09 12:42] Beethoven commented on #30493
And The back button closes the lightbox but not dispatch the lightboxClose event #30136

[2020-10-09 12:44] Beethoven commented on #30493
And Allow amp-lightbox to be closed by swiping down #28900 like Bookend on Stories

[2020-10-09 12:50] isaac-tru commented on #30547
Thank you very much. I will close this out and await the PR getting approved.

[2020-10-09 12:50] #30547 closed

[2020-10-09 12:58] fjanevski commented on #30553
Hi @micajuine-ho, we switched back to the general amp-consent implementation because it was a critical for us. The issue can be reproduced only when using the `ConsentManager` as a `type` of CMP.

[2020-10-09 13:12] newmuis commented on #18830
No, `amp-iframe` is not allowed in `amp-story`, and, with all likelihood, will never be allowed within the page itself, given that it's impossible to control or understand the user experience within the iframe.

What would you want to use it for?

[2020-10-09 13:22] jaygray0919 commented on #18830
Run D3.JS instances. We run those in an iFrame now on an amp-page. It's the only realistic way of running non-amp services, of which chart.js and similar are examples, on an amp-page. We have tried and failed several times to adapt our d3.js instances in amp-script. So if we have interesting data animated using libs such as d3.js, we can't run those in amp-story. Our work around: show a PNG and th

[2020-10-09 13:55] caroqliu commented on #30548
We try to hold off on pinging the other APIs until we've heard from the linter -- this tells us whether or not a page is AMP at all, and we don't want to waste resources if it's not.

Let me look into the keys for you.

[2020-10-09 14:08] rafaelmuttoni commented on #26791
I'm having this issue too. I'm trying to get the current URL with amp-script to pass it as query params in my amp-iframe src. Any other way to do it maybe? Opened a [request at Stack Overflow ](https://stackoverflow.com/questions/64281259/dynamic-src-in-amp-iframe) with further information.

[2020-10-09 14:28] avitorio opened #30592 "[amp-video] First frame not showing on iOS (tested on iPhone)"
## What's the issue?

Amp-video doesn't show the first frame of the video on Safari, iOS.

## How do we reproduce the issue?

Visit [this playground link](https://playground.amp.dev/?format=websites&_gl=1*1ba1m0k*_ga*YW1wLWota0pFT2FuMjg0V1F3cVRXalN0bkE.#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5hbXAtdmlkZW8gLSBFeGFtcGxlIDE8L3RpdGxlPgogIDxzY3Jp

[2020-10-09 15:35] newmuis commented on #30588
nit: should we do the listening for `documentStateUpdate` and re-trigger a javascript event?  That way the only code necessary is standard event listening (either vanilla JS or from the publisher's framework of choice)

If the `documentStateUpdate` event doesn't match one specifies by the UI Controls API, we can just continue to propagate it.

[2020-10-09 17:36] micajuine-ho commented on #30553
I still cannot reproduce this when I test locally using `ConsentManager` type. Can you share the  amp-consent config that triggered this error?

[2020-10-09 17:36] Enriqe commented on #30588
Yep, that's what I had in mind for the `amp-story-player`. I didn't mention it in this issue because I think @gmajoulet wanted this to be something that any publisher could reference to and implement in their own viewer/players.

[2020-10-09 17:58] stabee commented on #30523
Would I be able to work on this issue?

[2020-10-09 18:02] caroqliu commented on #30523
Absolutely! I'd be happy to review. Please also be sure to add unit tests and a manual sample to test :)

[2020-10-09 18:15] zhouyx commented on #30515
@Kundanchy I noticed you're also using comscore to collect data. Are you seeing the similar issue there? or only with GoogleAnalytics? Thanks

[2020-10-09 19:00] Enriqe opened #30596 "[amp-story] Sharing broken in iOS Chrome"
1. Open any story in iOS Chrome.
2. Tap on the sharing icon.

(Expected) Native sharing dialog should pop up.
(Actual) Nothing happens.

@ampproject/wg-stories

[2020-10-09 19:04] gmajoulet commented on #30596
Duplicate of https://github.com/ampproject/amphtml/issues/30302

[2020-10-09 19:04] #30596 closed

[2020-10-09 19:27] gmajoulet commented on #30573
Absolutely not a waste of your time. You spent time generating different transcode quality for your video and it's actually exactly what we recommend doing in #29496.

We spent a lot of time monitoring and optimizing the video experience that was, let's say it, pretty broken. We got the playback error rate down from up to ~60% to less than 0.1%, reduced the joint latency (time to start playing) by

[2020-10-09 19:47] enderton commented on #26823
Hello!  We've been following this issue, and are very excited for these changes to improve our impression analytics logic (and have tried it locally in development).  Is there a known timeline for when the experiment flag will be removed (for the `querySelectorAll` portion)?  Thanks.

[2020-10-09 19:54] mszylkowski opened #30599 "🌸 Cherry-pick request for #30598 into #30542 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| https://github.com/ampproje

[2020-10-09 20:13] micajuine-ho commented on #26823
Hi @enderton, have you used this feature with the experiment flag on?

[2020-10-09 20:44] newmuis commented on #30599
@cramforce approved in https://github.com/ampproject/error-reporting/issues/13#issuecomment-706366819

[2020-10-09 20:54] micajuine-ho commented on #30379
@miaosisi  When did you first notice this behavior?

[2020-10-09 21:08] kristoferbaxter opened #30601 "Design Review 2020-10-14 20:00 UTC (Americas)"
Time: [2020-10-14 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=10&day=14&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20201014T200000Z/20201014T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-10-09 21:08] kristoferbaxter opened #30602 "Design Review 2020-10-22 00:00 UTC (Asia/Oceania)"
Time: [2020-10-22 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=10&day=22&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20201022T000000Z/20201022T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-10-09 21:08] kristoferbaxter opened #30603 "Design Review 2020-10-28 15:30 UTC (Africa/Europe/western Asia)"
Time: [2020-10-28 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=10&day=28&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20201028T153000Z/20201028T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-10-09 21:11] enderton commented on #26823
Yes - in local and staged environments, yes (via toggling in dev tools `AMP.toggleExperiment('visibility-trigger-improvements')`.

Is not yet in production code served by AMP CDN, so have not used https://amp.dev/documentation/guides-and-tutorials/learn/experimental/#served-from-cdn.ampproject.org.

It's our understanding that we could not enable this experiment for all users, so have held off mak

[2020-10-09 22:21] #27036 closed

[2020-10-09 22:59] rsimha commented on #30601
I'd like to discuss a potential move from Yarn to NPM for package management. #30518

[2020-10-09 23:38] zhouyx commented on #30193
Just get feedback from the security review. Based on the feedback, we'd need to sandbox the web worker within an iframe. The infrastructure will be kind of similar to the ads iframe, but all scripts will run within the web worker in the iframe. Something like this
![image](https://user-images.githubusercontent.com/5419904/95639577-d0656e80-0a4d-11eb-8192-804f29164bc7.png)

[2020-10-09 23:46] zhouyx commented on #30193
If you need to handle the response back from the worker specially, I think an amp-permutive component makes sense. However AMP's goal is to generalize the use cases. Can we expect the response to be in a standard format that a generalized component can handle?

Would your script need to access cookies or storage value
Yes, our worker script would need access to storage. Not cookies, but ideally lo

[2020-10-10 00:02] miaosisi commented on #30379
@micajuine-ho In the middle of September, our data analyst find that the events number and the actual number(server logs) not matching. I looked into this problem and reproduced this issue.

[2020-10-10 16:38] joaopsrleal commented on #26525
Hi, I've been looking at this issue and I have a solution that works locally. In the next few days I'll be polishing the code and preparing a PR for this.

@caroqliu could we assign this issue to me in the meantime?

[2020-10-10 17:40] ampprojectbot opened #30607 "🚨 Error: The operation is insecure."
Details
---
**Error report:** [link](http://go/ampe/COrRhdvZ-teclgE)
**First seen:** Mar 1, 2018
**Frequency:** ~ 26/day

Stacktrace
---
<pre><code>Error: The operation is insecure.
    at win (<a href="https://github.com/ampproject/amphtml/blob/2009252320001/extensions/amp-access/0.1/amp-access-iframe.js#L252">extensions/amp-access/0.1/amp-access-iframe.js:252</a>:20)
</code></pre>

Notes
---
`@d

[2020-10-10 19:00] ampprojectbot opened #30608 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:00] ampprojectbot opened #30609 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:01] ampprojectbot opened #30610 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:01] ampprojectbot opened #30611 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:03] ampprojectbot opened #30612 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:03] ampprojectbot opened #30613 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:03] ampprojectbot opened #30614 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-10 19:53] ampprojectbot opened #30615 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CK_WsKW98LiXlgE)
**First seen:** Oct 6, 2020
**Frequency:** ~ 36/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052301000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010052

[2020-10-11 00:27] ampprojectbot opened #30616 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CPu9tILeqfLQ7gE)
**First seen:** Aug 27, 2020
**Frequency:** ~ 4,791/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at message (<a href="https://github.com/ampproject/amphtml/blob/2009252320001/src/log.js#L710">src/log.js:710</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/20

[2020-10-12 03:07] rsmith4321 commented on #27036
Is there is way to know when this update will live? Do we have to wait for a version 0.3 of the amp-carousel?  Thanks!

[2020-10-12 07:25] klipstein commented on #30385
@zhouyx, @jridgewell, @alanorozco what can we do to move this forward?

[2020-10-12 08:49] Kundanchy commented on #30515
@zhouyx , No we are facing this issue with GA only.

[2020-10-12 09:57] songkhka77 opened #30617 "Xozaslot"
[**Please]([url]([url](url))) only file reports about bugs in AMP here.**
[debug.log](https://github.com/ampproject/amphtml/files/5364375/debug.log)
Xozaslot
- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have quest

[2020-10-12 13:28] samouri opened #30620 "Runtime: removing viewportCallback"
**summary**
In an effort to shrink and simplify the V0 Runtime, we'd like to remove `viewportCallback`. There are three usages of it today:
1. [x] Maintaining a variable in base-element: *inViewport_* and its associated getter *isInViewport()*. Only used by 5 components.
2. [x] Used by *custom-element* for loading indicator support.
3. [x] Miscellaneous by extensions:
   1. Video VISIBILITY events

[2020-10-12 13:55] samouri opened #30621 "Fix test in test-amp-ad-xorigin-iframe-handler"
**summary**
While addressing https://github.com/ampproject/amphtml/pull/30578, an unrelated test failure became blocking. The failure was pre-existing within _master_, so I opted to `skip` it. This issue is for attempting to debug the issue and figure out why the test is failing / fix it.

Test: `should be able to use user-error API` within extensions/amp-ad/0.1/test/test-amp-ad-xorigin-iframe-han

[2020-10-12 14:32] techzotezo commented on #28638
I also faced the same issue in my pages https://www.zotezo.com/?amp
How to fix the issue?
Also address this issue here https://github.com/ampproject/amphtml/issues/30336

[2020-10-12 15:19] joshfg commented on #30193
OK that makes sense, in that case we may be able to get away without an `amp-permutive` component. I can't immediately think of a reason we'd need to handle responses from the worker, under the following assumptions:
- there is a separate communication mechanism for the integration between our worker script and `amp-ad`
- all interaction with local storage can be done from within the worker itself

[2020-10-12 16:13] andreylipattsev commented on #28120
Hi @nainar any news here?

[2020-10-12 16:36] candice-womp opened #30623 "amp-script nodom error in AMP cache viewer"
## What's the issue?

We have an amp-script component with the **nodom** attribute set up to act as a source for an amp-list. This works perfectly when we view the AMP page directly, but when we view the same AMP page via the Google AMP cache we’re seeing this error message in the console for the **nodom** amp-script component. As a result, the amp-list component that relies on this amp-script as

[2020-10-12 17:23] PaulHale commented on #30573
I created two versions of every video for our AMP stories, over fifty in all. We were targeting mobiles at 720x1280 and desktops at 1080x1920. We moved elements around within all videos so they looked as good as we could make them on mobiles and desktops. Not perfect, but the 720's looked good on all mobiles we tested and the 1080's looked good in full screen even on my 43" 4k monitor.

As it stan

[2020-10-12 19:03] zhouyx commented on #30515
@Kundanchy Thanks for confirming.

@zikas and I investigated the issue offline. What we found is that the document.referrer information was sent correctly from AMP documents.

Since the timeline didn't match, and you indicate the issue is GA specific. We assume the issue is not on the client side. The best way to proceed is to file a support ticket directly to GA. Please include information from t

[2020-10-12 19:14] Enriqe commented on #30588
I think we should render at least the footer in the story. There are plans to move some controls (e.g. share) to the footer, and having some elements in the lower part of the story (video loading spinner, sound equalizer), it would make sense for the story to manage these, same as with the header controls.

For the logo, I think we should also render it at the story level since the story would kno

[2020-10-12 19:37] caroqliu commented on #29193
This appears to be a dupe of #30133, closing.

[2020-10-12 19:37] #29193 closed

[2020-10-12 19:40] #30584 closed

[2020-10-12 19:45] #29933 closed

[2020-10-12 20:23] #29938 closed

[2020-10-12 20:46] LichaoYin opened #30631 "I2I: Support Assist.js on amp pages"
## Summary

Assist.js is a javascript library third party developers can include on their website to "Assistant enable" it. It provides features such as:

- Assistive "breadcrumbs" (e.g. add items to my Assistant list)
- Voicification

Assist.js currently support regular html pages and this project is to add support for amp pages.

## Design document

https://bit.ly/38evFqN

## Motivation

Amp has

[2020-10-12 21:45] samouri commented on #30623
@candice-womp: I just checked a page on the AMP Cache and [cannot reproduce the issue](https://sun--zippy--hubcap-glitch-me.cdn.ampproject.org/c/s/sun-zippy-hubcap.glitch.me/). Can you reproduce the error in a shareable way?

[2020-10-12 21:47] samouri commented on #30623
@candice-womp: on closer inspection, I believe the issue is that you've set `layout=container`. In order for `nodom` to work, there must be no layout.

That said, we should probably emit a warning that it is an invalid configuration, as well as have nodom have higher priority over other layouts.

[2020-10-12 22:11] micajuine-ho commented on #30566
Hi @vyoungnyc , thanks for your issue.

We made the decision back in 2018 to not have AMP support syncing consent out of the box. However, you should be able to use the [Linker feature](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-receiving.md) to forward the CID from the proxy origin to the non-proxy origin in order to have a consistent CID.

[2020-10-12 22:29] jridgewell commented on #30385
It needs to be brought do a design review, with @ampproject/wg-monetization in attendance. /cc @zhouyx

[2020-10-12 22:30] jridgewell commented on #27036
It will be live in beta (1% of users) tomorrow afternoon, and production (100%) next Tuesday.

[2020-10-12 23:30] Gregable commented on #30409
I'm not sure I understand what the security risk is here. Can you provide a specific example?

[2020-10-13 00:13] zhouyx commented on #30617
Closing as this is a pure template.

[2020-10-13 00:13] #30617 closed

[2020-10-13 00:29] zhouyx commented on #30631
@LichaoYin

Could you expand a little bit on the assist.js library and what it does on the page?

We need to review the usage to make sure that there's no iframes running in the background (invisible iframes), and also the DOM manipulating won't lead to content shift, or negatively impact LCP.

[2020-10-13 00:41] LichaoYin commented on #30631
Here is the brief introduction:  in the regular html world, the third-party site imports assist.js script, and embedded several assist.js widgets tags like <google-assistant-add-to-list>. The imported assist.js runtime will initialize and render those tags with google-owned iframe, and also an invisible bottom sheet which shows as the assistant dialog plate.

So, yes, we currently have an invisibl

[2020-10-13 06:24] schlessera commented on #17269
Given that https://github.com/ampproject/amphtml/issues/26466 was implemented, is this issue still relevant?

[2020-10-13 07:35] oxdef commented on #30409
@Gregable The risk is about Clickjacking attack (please, see the link above). Consider e-commerce website and button "Add to cart". If this functionality is also supported in AMP-version of this website attacker could make iframe (with URL of AMP-version page for specific product) of this page on attacker's site and force to navigate user on it. Then in case of Clickjacking attack specific product

[2020-10-13 16:23] #29509 closed

[2020-10-13 16:28] samouri commented on #30487
Instead of deduping, completely deleted in https://github.com/ampproject/amphtml/pull/30492.

[2020-10-13 16:28] #30487 closed

[2020-10-13 16:50] renebaudisch opened #30640 "computeInMasterFrame not working as expected"
One of our customers wanted to use our amp-ad type="springAds" within amp-carousel.
A demopage ca be found [here](http://398-review-ml-1668-ne-7nklmn.sport1.it/article/5566841)

The amp-ad frames get invoked properly but inside it context.isMaster always return false and so
the queue gets more and more functions that will never be processed:

![image](https://user-images.githubusercontent.com/1598

[2020-10-13 17:18] andyblackwell opened #30641 "amp-next-page bugs - fallback/placeholder rendering"
## What's the issue?

We first noticed yesterday that pages pulled in via amp-next-page (both v0.1 and v1.0) are rendering very buggy. Ad placeholders are behind and stretched across the entire length of the article, and image fallback/placeholders are not being removed and stacked above the image. In one case a modal is also auto-popping (which shouldn't), and isn't dismissable. This all only see

[2020-10-13 17:20] andyblackwell commented on #30641
You can see below the grey ad placeholder expands outside the ad div to the top and bottom of the article, rendering behind it.

![Screen Shot 2020-10-13 at 12 17 25 PM](https://user-images.githubusercontent.com/372590/95894111-428bcb00-0d4e-11eb-9d92-433454c68d0e.png)

[2020-10-13 17:31] zhouyx commented on #30631
Thanks for the information.

Sounds to me, we need an invisible bottom sheet (iframe) and a button on the page which can trigger the iframe. The iframe will have 'position:fixed' and stick to the bottom of the page. Is that right? Is it possible to delay the initialization of the iframe only after the user click on the button?
Though designed for different purposes, this sounds very similar to the

[2020-10-13 17:56] Enriqe commented on #30461
Quick update: We plan on launching the dev preview in October 2020. This will include support for custom UI configurations (#30031), fetching more stories from an endpoint (#29864), plus many programmatic APIs (#28416) that will allow developers to perform and listen to actions in the player.

For whoever is interested, remember to sign up to the Web Stories Dev Preview email list to receive the l

[2020-10-13 19:39] jonchenn opened #30645 "Guidance or examples on Web Stories and ADA for video/audio play controls"
## Describe the new feature or change to an existing feature you'd like to see

Regarding to web stories with video/audio content: there's no specific guidance on the ADA compliance particularly around auto visual and audio play controls and options to support zoom and pan across images.

The main goal is to provide the best user experience for all users with the support of ADA using aria-*. Most

[2020-10-13 20:16] andyblackwell commented on #30641
Looks like the amp version I'm getting is different now: 2010010034001
And things are looking normal again for me as well

Any chance the buggy version is just running at a percent of traffic and will come back? Like it's being tested and may be merged in later?
Or does this newer version # mean we're good moving forward?
Is there a way to see if 2009252320001 is still being used on live traffic?

[2020-10-13 20:18] #30621 closed

[2020-10-13 20:19] gmajoulet commented on #30588
That all sounds good!

We can make the footer decision later once we know more about our plans but it's great that this API will let us pass its configuration as well, if needed.

[2020-10-13 20:42] zhouyx commented on #30641
I'm not aware of any [changes](https://github.com/ampproject/amphtml/compare/2009252320001...2010010034001) to `<amp-next-page>` or ad placeholder between 2009252320001 and 2010010034001

While 2010010034001 is the new Stable version, 2009252320001 will be promoted to our [LTS](https://github.com/ampproject/amphtml/blob/master/contributing/lts-release.md) version soon, so it will be used on live t

[2020-10-13 21:38] #29816 closed

[2020-10-13 23:44] zhouyx commented on #30641
@andyblackwell I tried again with `2009252320001` version, still couldn't reproduce the issue.

As shown, the ad size is correct, and the fallback placeholder has size 0.

![image](https://user-images.githubusercontent.com/5419904/95927320-3e25d900-0d73-11eb-9889-85c89de62535.png)

[2020-10-13 23:45] zhouyx commented on #30641
If possible, can you opt in to `012009252320001` version via the Advanced tab in https://www-eastmojo-com.cdn.ampproject.org/experiments.html
And verify if that issue still exist. Thank you

[2020-10-14 00:08] kevinkimball opened #30649 "amp-social-share causes layout shift on upgrade"
## What's the issue?

When `.i-amphtml-unresolved` class is removed on component upgrade, overflow is changed from `hidden` to `visible`, which causes subsequent elements to shift (both sibling inline element and following image).

This issue was surfaced by this issue from the Page Experience tool (https://github.com/ampproject/wg-performance/issues/48).

This may be related to https://github.com

[2020-10-14 00:28] LichaoYin commented on #30631
The invisible iframe currently doesn't have any position style with it.
Any particular reason to delay the initialization?

Thanks for the pointer. Let me take a look.

Unfortunately no.

Basically, we have two kinds of iframes: widget buttons and bottom sheet.
- Each widget has its own iframe with its rendering and initialization. We are thinking to implement as amp component \<amp-assistjs-widge

[2020-10-14 00:51] alanorozco opened #30650 "I2I: Server-side render every <amp-img>"
`<amp-img>` was historically created to schedule the insertion and load of `<img>` tags. With [`loading="lazy"`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-loading), native `<img>` elements can now be scheduled directly by the browser in a similar way to the AMP runtime.

The AMP runtime already understands how to take static (e.g. server-side-rendered) images that are opti

[2020-10-14 00:56] gmajoulet opened #30651 "[Story video] Poster stretched on first page"
When loading a video with a video on first page, the poster sometimes appears stretched while the video is loaded.

cc @ampproject/wg-stories

[2020-10-14 04:50] newmuis commented on #30650
I think the heuristic is different depending on the AMP format.  The one you've specified makes sense for AMP websites, but should be different for stories (and, I assume, ads, but I'm not certain)

[2020-10-14 05:01] kristoferbaxter commented on #30650
My take for stories is we should test the behavior with the goal of removing the usage of amp-img in the long term.

If there are good reasons to continue using it for now, we should create proposals for how we can ultimately resolve these problems in the underlying HTMLImageElement.

[2020-10-14 10:22] damjan25 opened #30653 "Is there a way to collapse amp-ad slot when we don't get any ads ?"
When we do not get any ads the `<amp-ad>` stays empty and it shows white blank.
Is it possible to trigger some function inside `<amp-ad> ` that will collapse/close it ?

[2020-10-14 10:49] jnathansdm opened #30654 "🚨 Error: [error message] AMP HTML file can't render because https://cdn.ampproject.org/robots.txt set to disallow"
Googlebot is blocked by file robots.txt
Type: Image
https://static-cnews-fr.cdn.ampproject.org/ii/w1000/s/static.cnews.fr/sites/default/files/2020_redaction/0-2-1-taille640_5f7f3b2db22ff.jpg

Googlebot is blocked by file robots.txt
Type: Image
https://static-cnews-fr.cdn.ampproject.org/ii/w1000/s/static.cnews.fr/sites/default/files/2020_redaction/joel_and_iphone_photog_2019_john_martin_photo-taill

[2020-10-14 12:04] newmuis commented on #30650
Sorry, yes, the goal of removing amp-img and SSRing imgs instead seems viable; the specific heuristic of `if (!ampImg.hasAttribute('data-hero')) { img.setAttribute('loading', 'lazy') }` seems like it might be overly simplistic.  But, SSR definitely seems tractable, just perhaps not in a format-agnostic way.

[2020-10-14 14:33] andyblackwell commented on #30641
Getting the same as you, is working fine now on both v0.1 and v1.0. Is strange that it was broken for a day, but fixed itself within a couple hours of my report 🤷
We had several reports of the broken behaviour, so it wasn't just me. Maybe there was a bad cached version out there or something that happened to get cleared?

Guess we can close this out

[2020-10-14 14:57] westonruter commented on #4853
Just came across this. I have a WordPress plugin for adding syntax highlighting to code blocks (which is used on blog.amp.dev). Various users have asked for a Copy to Clipboard button to go next to the code block: https://github.com/westonruter/syntax-highlighting-code-block/issues/192

But this is blocked by not having the capability in AMP.

[2020-10-14 15:09] fjanevski commented on #30553
this is the configuration we used:
[code]
I can see the issue in AMP playground as well for this configuration.

![image](https://user-images.githubusercontent.com/7254205/96008563-fae56c00-0e3f-11eb-8709-bb2f53f71e0e.png)

[2020-10-14 16:05] mszylkowski opened #30657 "[Story interactive] Binary poll won't properly clamp long options to two lines"
![image](https://user-images.githubusercontent.com/22420856/96015120-2f8ffe00-0e15-11eb-898a-75ebe43a53b7.png)

The text should be clamped to two lines, showing "This is a really..."
However, the height of the text doesn't get restricted so it looks off. Check image.

[2020-10-14 17:22] samouri commented on #30620
amp-fx-flying carpet actually can be removed for free after everything else is removed. It has no behavior besides delegating vpcb to children.

[2020-10-14 18:00] powerivq opened #30659 "I2I: migrating amp-sticky-ad to amp-ad"
## Summary
We have made an amp-sticky-ad extension to allow displaying of amp-ad in a way that sticks to the bottom of the page.

[code]

We propose to merge all the features of amp-sticky-ad into amp-ad, and deprecate the amp-sticky-ad extension. Amp-sticky-ad features will become attributes on amp-ad, and all existing amp-sticky-ad usage can be transformed one-to-one into an amp-ad tag with no c

[2020-10-14 18:03] powerivq commented on #30602
I would want to discuss moving amp-sticky-ad to amp-ad https://github.com/ampproject/amphtml/issues/30659

[2020-10-14 18:12] #29453 closed

[2020-10-14 18:12] #30243 closed

[2020-10-14 18:36] rcebulko opened #30661 "De-flake or fix skipped tests in `test-amp-carousel.js`"
File: https://github.com/ampproject/amphtml/blob/master/test/integration/test-amp-carousel.js
Currently skipped: 6 tests
Related issues: #29783

Some of these tests have been skipped for quite a while. If it's possible to run them, they should be unskipped. If the test can no longer pass, it should be removed.

@ampproject/wg-components could you take a look at these when you have a chance please?

[2020-10-14 18:44] jerryluk opened #30663 "[amp-story-player] Videos in story are playing and auto-advanced to next page when the amp-story-player is not in viewport"
## What's the issue?

For a page that embed AMP story player, it would expect the story to play only when the amp-story-player is in viewport. However, the story will play when it's outside of viewport. This will cause issues such as AMP ad will be 0% viewable.

## How do we reproduce the issue?

Here is a simple markup to show the issue (copy and paste it to AMP Playground to see):
[code]

1. Scr

[2020-10-14 18:50] rcebulko opened #30664 "De-flake or fix skipped tests in `test-video-players-helper.js`"
File: https://github.com/ampproject/amphtml/blob/master/test/integration/test-video-players-helper.js
Currently skipped test cases: 8 tests (out of 14)
Currently skipped tests (total): 72 (out of 126)
Related issues: #14827, #16154, #9379

These issues are at least 2 years old, and the test file itself hasn't been touched in ages either. Each of these skipped tests is skipped across all the video

[2020-10-14 19:10] rcebulko opened #30666 "De-flake or fix skipped tests in `test-amp-user-notification.js`"
File: https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/0.1/test/test-amp-user-notification.js
Currently skipped: 13 (out of 44)

None of these skipped tests have a TODO with an associated Flaky Tests issue. If it's possible to run them, they should be unskipped. If the test can no longer pass, it should be removed.

@erwinmombay I see you're an owner of this compo

[2020-10-14 19:15] rcebulko commented on #30664
Follow-up: it looks like just about every video player component's tests are skipped in `test-video-players.js`. If they can be re-enabled, we should. If not, we should remove them.

[2020-10-14 19:15] rcebulko commented on #30664
/cc @ampproject/wg-components

[2020-10-14 20:24] processprocess opened #30671 "[Story 360] Resolve "activate" button and video "play" and "eq" graphics"
When this happens the ui looks broken.
<img width="425" alt="Screen Shot 2020-10-15 at 3 19 36 PM" src="https://user-images.githubusercontent.com/3860311/96176241-17de7580-0efa-11eb-9ae0-fa088e3399a7.png">

cc @ampproject/wg-stories @hongcatlover

[2020-10-14 20:40] caroqliu opened #30672 "Add wg-bento to extensions/ OWNERS"
Some of the former wg-ui-and-a11y members no longer are OWNERS for changes in `/extensions` as a consequence of not being formally part of @ampproject/wg-components. Can we add @ampproject/wg-bento as owners to this subtree, too, so we can make changes on `1.0` components as well as help out with reviews during the transition?

cc @kristoferbaxter

[2020-10-14 20:44] kristoferbaxter commented on #30672
Happy to fix this, apologies for the confusion during our wg structural changes.

[2020-10-14 21:09] rsimha commented on #30518
This was discussed during design review. Option C received a thumbs up from @kristoferbaxter, @dvoytenko, and @jridgewell among others. (Please confirm with a 👍 reaction to this comment.) Implementation has begun and is expected to land in the next couple of days.

[2020-10-15 09:21] Mich-es opened #30679 "AMP Cache with 404 Error on Fonts"
I asked in the Google AMP-Forum:
https://support.google.com/webmasters/thread/76687977?hl=en#

## What's the issue?
i want to implement 3 Font-Styles: Roboto, Oswald 400 & Oswald 500
I do that with custom css like this:

![grafik](https://user-images.githubusercontent.com/58422824/96103602-36337980-0ed8-11eb-8be7-dcbc3d47dfe8.png)

I check the site, everything is fine - the Fonts are loaded. But i

[2020-10-15 14:04] #30657 closed

[2020-10-15 14:50] gmajoulet opened #30680 "Write amp-story-animation documentation"
How to write custom animations for stories is a question we get a lot, and `amp-story-animation` is pretty amazing. But undocumented :(

cc @ampproject/wg-stories

[2020-10-15 15:59] dvoytenko commented on #30518
LGTM from me.

[2020-10-15 16:42] zhouyx commented on #30641
Glad to hear the issue is gone. Agreed this very strange. I checked our release history, only `2009190410000` was out for only one day (from 9/29-9/30), but the time didn't match.

Definitely let us know if we're seeing this again. Thanks

[2020-10-15 17:04] ydnikolaev commented on #28900
same here
will be usable  for creating  native app like menus

[2020-10-15 18:16] priver opened #30686 "I2I: pulse extension for amp-ad"
## Summary

Provides support for amp-ad type=pulse
It is widget with personal content recommendations and ads.

Project site https://pulse.mail.ru/

## Motivation

Pulse is personalized content recommendations service from Mail.Ru Group. We also have different widgets that can be placed on our partner's sites.

Our partners demand widget that could be displayed on their AMP pages.

/cc @ampproject

[2020-10-15 19:13] newmuis commented on #30671
Is that the right fix?  A video is not necessarily does not always just go from loading to loaded.  It can go from loading to loaded and back again multiple times.

[2020-10-15 19:22] processprocess commented on #30671
Good point. I revised the comment.
It also overlaps the eq.

[2020-10-15 19:25] philkrie commented on #30471
+1, is there a workaround currently available for this? If not, it'd be great if this behaviour could be modified with an attribute.

[2020-10-15 19:28] #30002 closed

[2020-10-15 19:32] #30651 closed

[2020-10-15 20:17] #30457 closed

[2020-10-15 21:16] jerimiahwelch opened #30691 "amp-script fails for incognito Chrome users in Google Search results"
## amp-script fails for incognito Chrome users in Google Search results

amp-script fails for incognito Chrome users in Google Search results or any other iframe amp-viewer. This appears to be because localStorage is not available. All amp-script components on the page fail to initialize, render, or handle interactions.

## How do we reproduce the issue?

1. Load this demo page in both a regular C

[2020-10-15 23:05] #30672 closed

[2020-10-15 23:40] kristoferbaxter commented on #30691
In `amp-script.js`, storage is retrieved, but isn't passed as null in this case to WorkerDOM.

[code]

[2020-10-15 23:47] #30601 closed

[2020-10-16 09:12] ampprojectbot opened #30701 "🚨 Error: undefined is not an object (evaluating 'e.targets[Object.keys(e.targets)[0]].finalUrl')"
Details
---
**Error report:** [link](http://go/ampe/CO_q2cXD7pjVWg)
**First seen:** Jul 18, 2020
**Frequency:** ~ 3,507/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'e.targets[Object.keys(e.targets)[0]].finalUrl')
    at target (<a href="https://github.com/ampproject/amphtml/blob/2010010034001/extensions/amp-story-auto-ads/0.1/story-ad-page.js#L477">extensions/amp-s

[2020-10-16 09:40] ampprojectbot opened #30702 "🚨 Error: undefined is not an object (evaluating 'e.targets[Object.keys(e.targets)[0]].finalUrl')"
Details
---
**Error report:** [link](http://go/ampe/CO_q2cXD7pjVWg)
**First seen:** Jul 18, 2020
**Frequency:** ~ 3,507/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'e.targets[Object.keys(e.targets)[0]].finalUrl')
    at target (<a href="https://github.com/ampproject/amphtml/blob/2010010034001/extensions/amp-story-auto-ads/0.1/story-ad-page.js#L477">extensions/amp-s

[2020-10-16 13:54] renebaudisch commented on #30640
#25791

[2020-10-16 15:35] KEcclesTelegraph commented on #30193
We would be very interested in seeing this proposal progress, so we are able to target across our scaling amp inventory.  Following for updates.

[2020-10-16 15:44] rcebulko commented on #30702
Dupe of #30701

[2020-10-16 15:44] #30702 closed

[2020-10-16 16:05] rcebulko commented on #30562
Related: https://github.com/ampproject/amphtml/issues/30661

[2020-10-16 16:05] rcebulko commented on #29783
Related: https://github.com/ampproject/amphtml/issues/30661

[2020-10-16 16:21] samouri commented on #30691
There are two AIs we can pursue to stop the bleeding:
1. worker-dom can guard for an error in its sanitizer `setStorage` call
2. amp-script can check for storage support before attempting any calls.

While either of these (or both) would keep worker-dom and amp-script running, if a page relies on storage for its flows as opposed to just as a progressive enhancement, then the page will break no mat

[2020-10-16 16:27] kristoferbaxter commented on #30691
If we move to make `worker-dom` behave more like the standard API when `localStorage` is unavailable, this would keep the contract the same as traditional web applications.

Is likely a bit more work though.

[2020-10-16 16:33] Johrten commented on #27559
Hey @alanorozco, is this still a blocked issue? 😃

[2020-10-16 16:50] #30379 closed

[2020-10-16 18:07] micajuine-ho commented on #28634
I believe this change will be in before the holiday freeze.

[2020-10-16 18:13] micajuine-ho commented on #30553
I see now. This behavior is intentional for `amp-consent` when using a CMP integration.

See this comment for more information on this: https://github.com/ampproject/amphtml/issues/17742#issuecomment-512564655.

In any case, I will update the documentation to make this more clear.

[2020-10-16 18:34] swissspidy commented on #29949
I like how @cramforce worked around this with his stories: https://www.industrialempathy.com/new-on-the-web/

[2020-10-16 18:50] caroqliu commented on #17244
Fixed by #30018

[2020-10-16 18:50] #17244 closed

[2020-10-16 18:51] caroqliu commented on #5509
Closing as this is described as fixed above.

[2020-10-16 18:51] #5509 closed

[2020-10-16 19:13] cramforce commented on #29949
I used the story player that @newmuis suggested.

[2020-10-16 21:57] Enriqe commented on #29864
Closed by #30676

[2020-10-16 21:57] #29864 closed

[2020-10-16 22:30] Gregable commented on #30409
Hi @oxdef , I'm not sure I understand the specific attack you have in mind. Having clarity on that would help to understand the usefulness of this change. Feel free to respond on [slack](http://amphtml.slack.com/) or other more private channels if you have specifics you don't want to share publicly.

Typically, my understanding of a clickjacking attack would be something like: `https://bank.exampl

[2020-10-17 03:37] stephengardner opened #30719 "Carousel does not support image media attributes/queries"
When using `<amp-carousel>` and using a slide with two images, designated by media queries `<amp-img media="(max-width: ...)">` , the image that does not satisfy the original media query never renders.

Once the screen is resized, the second image should show, however, it never does.

Perfect, simple example [here](https://playground.amp.dev/?mode=Responsive#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKao

[2020-10-17 09:22] barruka commented on #28638
Same problem here, changed full project to amp and then all metrics rise up.

Problem with CLS: more than 0,1 (mobile)
Problem with LCP: more than 2,5 s (mobile)

We are wondering to rollback...

AMP must be cutting-edge web tech but I don't like what it's becoming to.

Production .js cannot be a realm to experiments, it only must contain the minimal code to run.
/v0.js code is growing up every we

[2020-10-17 13:50] neerajklite commented on #30342
Can we close the issue ? i think this is not the correct way to do art direction in amp. I used the media attribute on the <amp-img> tag.  `<amp-img alt="grey cat"
    media="(min-width: 470px) and (max-width: 669px)"
    width="450"
    height="340"
    src="/static/inline-examples/images/cat-medium.jpg"></amp-img>` [link](https://playground.amp.dev/?format=websites#share=PCFkb2N0eXBlIGh0bWw+Cjxo

[2020-10-17 14:08] #30342 closed

[2020-10-17 17:56] kristoferbaxter commented on #28638
Hi there,

A few comments here have been wondering about the size and efficiency of v0.js (AMP Runtime). We are actively working on reductions to its overall size as previously mentioned in this issue. The rollout of the module version of the AMP runtime is at 50% on the Google AMP Cache, and once complete will be available for valid transformed documents via the AMP Optimizer.

If you're looking

[2020-10-17 23:43] #30553 closed

[2020-10-19 07:57] oxdef commented on #30409
@Gregable

There are at least 2 scenario to make it possible:

1. CORS (https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cors-requests/) with cookies. Simple example is "Like" button (https://amp.dev/documentation/examples/interactivity-dynamic-content/favorite_button/?format=websites)

![Image from CORS AMP docs](https://amp.dev/static/img/docs/CORS_with_Cache.png)

[2020-10-19 08:28] rayjack opened #30720 "Somene Planted this code on my amp page"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2020-10-19 13:42] #30720 closed

[2020-10-19 16:03] vivekumar opened #30722 "Form auto submit page load or call ajax on page load on amp"
## Form auto submit page load on amp.

I have not find code to auto submit form without submit button.

## How to call ajax on page load on amp.

I have not find code to call ajax on page load in amp .

[2020-10-19 17:16] westonruter commented on #27468
As opposed to adding a single new `style[i-amphtml-layout-style]` in the `head` like so:

[code]

What if instead this `style` element were added as an SSR'ed child of the AMP element? So like:

[code]

That could perhaps be easier to validate, and it would reduce the amount of CSS in the `head`.

[2020-10-19 17:21] samouri opened #30723 "Add unregister() to video-manager-impl for cleanup."
**summary**
Within register, events are subscribed to and InOb starts observing, but there is no corresponding location where unregistering and unobserving occurs. We should add an `unregister()` to handle cleanup.

[2020-10-19 17:23] caroqliu commented on #8992
Closing as the above items have been completed.

[2020-10-19 17:23] #8992 closed

[2020-10-19 17:57] westonruter opened #30726 "Validator counts SSR-inserted style attributes against style amp-custom max bytes of 75000"
Consider an AMP document that includes an `style[amp-custom]` that is maxed out at 75,000 bytes (or close to that limit). If this document also includes any AMP elements which have a `layout` such as `fixed`, then server-side rendering for transformed/optimized AMP will a `style` attribute to specify the `width` and `height` (which eliminates the need for the AMP boilerplate CSS). The inclusion of

[2020-10-19 17:58] westonruter commented on #30726
cc @ampproject/wg-caching

[2020-10-19 18:18] honeybadgerdontcare commented on #30726
This is also tracked internally at b/127517621

[2020-10-19 18:19] westonruter commented on #30726
Possible implementation for Node.js:

[code]

[2020-10-19 18:22] alextcone commented on #26229
Hi. I am the product leader for TCF at IAB Tech Lab. I'm getting a lot of questions about this AMP limitation on string size. Is it possible to make the change @Facens suggested my the quoted comment above?

[2020-10-19 18:32] caroqliu opened #30727 "Accordion content section should have accessibility roles"
[According to this example,](https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html) the content section should have `aria-labelledby` and `role=region`.

[2020-10-19 19:04] joaopsrleal commented on #30136
Hey @caroqliu I'm happy to give this one a try. I think I know what's causing this issue :)

[2020-10-19 19:18] caroqliu commented on #30136
Sounds good, thanks!

[2020-10-19 19:33] levin-roski commented on #15406
@rolebi I really like the way you presented the flow for consent updates, but in AMP there is currently no way to show a placeholder/fallback when consent is not given yet or rejected.

And even after updating the consent it's kind of painful for the user to manually reload the page to see the blocked component. Most search engine visitors are gone by then.

This placeholder/fallback and auto-relo

[2020-10-19 19:45] nainar commented on #30649
This is a high priority if this is causing CLS issues - it is a highly used AMP component.

@zhouyx to assign and @caroqliu for context.

[2020-10-19 19:58] dmanek commented on #24555
Seems like this issue is WAI. Will update the docs for `scrollTo` to pair with `focus()` as an a11y best practice.

[2020-10-19 20:05] caroqliu commented on #29874
@realPrimoh Will be working on this - for some reason you don't come up in the assignees UI. 😅

[2020-10-19 20:07] levin-roski commented on #28112
As there are more components then just ads, tracking and pixels, I would like you to reconsider the de-prioritization as there are some UI components like amp-youtube and amp-recaptcha, which are sometimes really important for user experience.
See this use case: https://github.com/ampproject/amphtml/issues/15406#issuecomment-662520421

If the components directly render or de-render on consent-chan

[2020-10-19 20:13] micajuine-ho opened #30736 "amp-consent focus on consent modal immediately"
With the new consent modal for amp-consent, we should immediately focus on the iframe to allow Screen Readers to interact with it.

Since the modal (different from the bottom pane) is visually focused on immediately once loaded (centered, takes up most of the screen, and has an overlay behind it), this experience will be similar for both visually impaired and non-visually impaired users.

Last tas

[2020-10-19 20:29] caroqliu commented on #24555
Closing as this is marked WAI and clarified in a follow up PR.

[2020-10-19 20:29] #24555 closed

[2020-10-19 20:29] Gregable commented on #30409
@oxdef Thanks for the details. It seems like the attack requires some form of credentials transfer via the CORS response to `amp-list` or similar components. This was not an angle I had considered.

I'm reviewing this with some security folks to better understand the attack surface. Since there is a security issue here, it's considered P1 and will remain so unless we determine the risk is otherwis

[2020-10-19 20:32] krdwan opened #30738 "Bento Clone of amp-social-share: Image-based buttons with missing text descriptions / accessible name"
Cloned of https://github.com/ampproject/amphtml/issues/29563
For Bento

Opening a clone bug for Bento.  Original bug addressed in `0.1` version of component.

[2020-10-19 20:45] powerivq opened #30740 "🌸 Cherry-pick request for #30730 into #30741 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #<_ISSUE_NUMBER_> | #30730

[2020-10-19 20:50] zhouyx commented on #26229
@alextcone Thanks for reaching out

AMP has removed the consent string size limit when [the Storage API](https://github.com/ampproject/amphtml/blob/master/spec/amp-localstorage.md#amp-viewers-support) is not used. That applies when the AMP page is served directly from the publisher's origin.

Regarding to the AMP viewer case, this is a known technical restriction on AMP. We have expanded the conse

[2020-10-19 21:21] erwinmombay commented on #30599
request was cherry picked into 2010010034001

[2020-10-19 21:21] #30599 closed

[2020-10-19 21:24] erwinmombay opened #30741 "🚄 Release tracking issue for release 2010122315000"
# Release tracking issue

This issue tracks release [2010122315000](https://github.com/ampproject/amphtml/releases/tag/2010122315000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2010010034001...2010122315000 ).

- [x] Release 2010122315000 promoted to Experimental and Beta (opt-in) channels (October 14, 2020, 5:26:46 AM GMT-7)
- [x] Release 2010122315000

[2020-10-19 21:33] #30518 closed

[2020-10-19 21:34] dmanek commented on #29564
Looking into this.

[2020-10-19 21:38] rsimha commented on #30518
With #30694, this transition is complete.

[2020-10-19 21:46] micajuine-ho commented on #30006
Closed via #30152

[2020-10-19 21:46] #30006 closed

[2020-10-19 21:47] micajuine-ho commented on #26229
The PR has been merged.

[2020-10-19 21:53] jridgewell commented on #30740
I approve.

[2020-10-19 22:59] Enriqe commented on #30588
Closed by #30502

[2020-10-19 22:59] #30588 closed

[2020-10-20 09:17] rolebi commented on #15406
Well you kinda can display a placeholder and open the cookie banner on click (alas in a convoluted way), but either way, you won't be able to display the underlying content post consent update.

So yes, having this kind of workflow doable "natively" would greatly help !

[2020-10-20 10:40] levin-roski commented on #15406
Thanks @rolebi I tested this before I wrote my answer, but seemed like I tested it wrong.
Here is the example:
https://amp-rejected-consent-placeholder.glitch.me/

Nice to have this functionality already implemented.
Just needing a reload or render on consent update for this use case to work.

[2020-10-20 12:42] #29563 closed

[2020-10-20 14:50] kelseyjohnson8 commented on #29596
Hi @micajuine-ho - I am working alongside Juan on this issue. Can you provide us with an update please?

[2020-10-20 15:55] micajuine-ho commented on #29596
Hi @kelseyjohnson8 and @jpolanco91, sorry for the delay. I have created a doc for this feature and I am still getting feedback. I will share it here once it's in a good state.

[2020-10-20 15:58] austintude opened #30758 "amp-fx-collection animate count to X number"
I'd love to see an amp-fx-collection addition to the group that animated a counting mechanism starting from 0 and progressively increasing the count up to a designated number.

In theory, this should be simple to accomplish with CSS and HTML, but it is currently not supported in AMP.

Ideally, I'd like to see something like this:
@property --num {
    syntax: "<integer>";
    initial-value: 0;

[2020-10-20 16:27] #30527 closed

[2020-10-20 16:31] calebcordry commented on #30590
Hi @jerryluk we have plans to tweak this algorithm soon. We are thinking about some sort of time based solution that should help here, but we don't want to gives publishers complete control because of the potential for abuse.

cc/ @ampproject/wg-monetization

[2020-10-20 16:38] honeybadgerdontcare commented on #30527
This has been released as [1.0.6](https://www.npmjs.com/package/gulp-amphtml-validator/v/1.0.6)

[2020-10-20 16:56] honeybadgerdontcare commented on #30527
@zvikarp thank you for reporting this and identifying the root cause! please let us know if you encounter additional issues.

[2020-10-20 18:25] #30740 closed

[2020-10-20 18:33] Gregable commented on #30442
@rebeccanthomas

If I understand this correctly, this represents a significant departure from `amp-img`. My understanding here is that the `height` & `width` in `img` only inform initial layout, not enforce final layout. With `amp-img`, the initial dimension layout is fixed, regardless of what file-specified dimensions the image eventually has.

Is there anything available here that would allow us

[2020-10-20 19:06] micajuine-ho commented on #29557
@TetraLogicalHelpdesk Thank you for this very helpful analysis! I put this issue into the our Q4 a11y fix-it week sprint.

This request seems to be a larger change and would require more planning, so I will not tackle this it in this sprint.

I will address these two points in my upcoming PR.

[2020-10-20 19:11] kristoferbaxter commented on #29557
Can we make this configurable for document developers as part of this change? This would be a breaking change in the eyes of many domains.

[2020-10-20 19:16] micajuine-ho commented on #29557
Happy to do this. However, I'm wondering, is it generally better to offload the accessibility responsibilities/configurations onto the publishers rather than being opinionated ourselves?

[2020-10-20 19:18] kristoferbaxter commented on #29557
To make a breaking change to an existing component should be discussed at a Design Review, but in general avoided if possible.

The next major revision could introduce this by default though.

Also, I'd recommend bringing this topic to design review (in short format) so others can weigh in too!

[2020-10-20 20:15] calebcordry opened #30769 "💰Tracking Issue for Story Ad network integrations"
If you are an ad provider that would like to serve ads to Web Stories please reach out on this issue.

[2020-10-20 20:33] caroqliu opened #30770 "🚄 Release tracking issue for release 2010162313001"
# Release tracking issue

This issue tracks release [2010162313001](https://github.com/ampproject/amphtml/releases/tag/2010162313001). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2010122315000...2010162313001).

- [x] Release 2010162313001 promoted to Experimental and Beta (opt-in) channels (October 20, 2020, 3:36:41 PM GMT-4)
- [x] Release [2010162313002

[2020-10-20 20:39] micajuine-ho commented on #29557
@kristoferbaxter  To clarify, are you suggesting that I should bring this whole issue to design review or just this feature?

[2020-10-20 20:49] micajuine-ho commented on #29557
@TetraLogicalHelpdesk This change makes sense for pages not on mobile. Is there another recommendation for pages on mobile?

My thought would be that if a user tapped/clicked on the image while on mobile, then we should also stop the autoplay.

[2020-10-20 20:52] kristoferbaxter commented on #29557
Just the breaking change.

[2020-10-20 21:30] honeybadgerdontcare commented on #22151
This is fixed in cl/338138658

[2020-10-20 21:30] #22151 closed

[2020-10-20 22:03] Enriqe commented on #30258
Closing this in favor of https://github.com/ampproject/amphtml/pull/30753, since publishers will be able to specify an `img` and apply a `background-color` to it if they like.

[2020-10-20 22:03] #30258 closed

[2020-10-20 22:53] gmajoulet opened #30777 "Story tooltip icon cropped"
The tooltip icon appears cropped.

https://pinchofyum.com/web-stories/apple-cake

![image](https://user-images.githubusercontent.com/1492044/96652738-8316b600-1305-11eb-8f83-fff9294d3885.png)

cc @ampproject/wg-stories

[2020-10-20 22:54] gmajoulet commented on #30777
@processprocess can you take a look when you get a chance?

[2020-10-20 23:43] zhouyx commented on #29611
I'll break the issue to two `<amp-list>` and `<amp-carousel>`. and I'll start with `<amp-list>` first.

[2020-10-21 00:33] calebcordry opened #30781 "🧪 Launch Inabox Story Ad Rendering Experiment."
TODO: Add integration tests when no longer RTV experiment

Part of #27851

cc/ @ampproject/wg-monetization

[2020-10-21 01:25] #20577 closed

[2020-10-21 04:32] westonruter commented on #26406
I found an alternate CSS hack for Firefox, to use `@supports (-moz-appearance:meterbar) {…}` instead of `@-moz-document url-prefix() {…}`. This being the case, I've opened https://github.com/ampproject/amp-wp/pull/5530 to automatically do that replacement when the WP AMP plugin parses a stylesheet.

So this issue is no longer a blocker for the AMP plugin.

[2020-10-21 08:11] cpauwels opened #30783 "amp-story-player fails to render story"
## What's the issue?

The amp-story-player fails to render the story. The error mentioned is
[code]

## How do we reproduce the issue?

Use the amp-story-player on a page. [Here's an example.](https://stories.sincere-chariot.link/test-1)

## What browsers are affected?

Confirmed failing in Chrome, Firefox and Safari.

## Which AMP version is affected?

Latest player release.

[2020-10-21 09:31] nielsbaarsma opened #30785 "I2I: Adding liveramp cmp to registered cmps"
Hi,

I have created a PR to add LiveRamp CMP to the registered CMPs list.

Described in PR #30784

/cc @ampproject/wg-approvers
/cc @ampproject/wg-monetization

[2020-10-21 09:40] renebaudisch commented on #30640
What's left? I hoped to be merged before release freeze...

[2020-10-21 10:44] rnkimani commented on #30783
@Enriqe

[2020-10-21 11:38] ruizb opened #30786 "Make consent type available for 3p ad iframes"
## Describe the new feature or change to an existing feature you'd like to see

Hello, I'd like to get the _consent type_ (TCF v1, v2, CCPA...) value when using `window.context.getConsentState` in a third-party ad iframe, i.e. in a `amp-ad` component.

## Describe alternatives you've considered

There's no alternative to my knowledge since the `getConsentMetadata` function is not available in a 3p

[2020-10-21 12:28] #30727 closed

[2020-10-21 14:22] Enriqe commented on #30783
Taking a look

[2020-10-21 14:48] Enriqe commented on #30783
We're going to rollback the latest AMP prod release.

[2020-10-21 14:54] kelseyjohnson8 commented on #29596
Thanks @micajuine-ho ! Erwin M on the AMP Slack Project said to ask you when you are doing the design review, so that @jpolanco91 and I can attend and give feedback in person. Can we coordinate that when you are ready?

[2020-10-21 14:57] Enriqe commented on #30783
Can I get approval from @gmajoulet or @cramforce for an AMP production release rollback?

[2020-10-21 15:08] Enriqe commented on #30783
Rollback is in progress. Should be live soon.

[2020-10-21 15:23] yuliialunova commented on #30783
@Enriqe still see an error
log.js:727 Uncaught Error: Render timeout waiting for service amp-story-render to be ready.​​​
    at gb (log.js:710)
    at ab.f.createError (log.js:359)
    at timer-impl.js:142
    at timer-impl.js:83

[2020-10-21 15:34] mszylkowski opened #30788 "[Story interactive] Borders don't scale well for small values"
On smaller screens or when the components are scaled down, the borders might disappear on the corners of the options since they get too thin. Only happens on iOS.

![image](https://user-images.githubusercontent.com/22420856/96742454-f285b780-1390-11eb-858b-c16d5b3bb94b.png)

[2020-10-21 16:01] cramforce commented on #30783
Verified fixed on https://www.industrialempathy.com/new-on-the-web/

Note, that the change is still rolling out through data centers around the world, and it'll take another roughly 40 minutes to complete. Right now it is still heavily flapping.

@Enriqe Please provide a full post-mortem. We need to ensure that there is proper automated and manual test coverage before the next release. CC @rsimha

[2020-10-21 16:11] dvoytenko commented on #30442
IMHO we should still require width and height for validation. They are intrinsic data about the image and any recommendation about the layout would be based on these values. The final layout confirmation will have to be left to CLS.

[2020-10-21 16:26] gmajoulet commented on #30783
The fact that the story didn't render makes me think it might be a Story iframe position/size issue. A story height of 0px would produce this error. Given we've changed the DOM tree that could be what's causing the issue.

[2020-10-21 16:29] calebcordry commented on #30640
to/ @ampproject/wg-monetization

[2020-10-21 16:38] calebcordry opened #30789 "Change window.context API to avoid problematic terms"
We will still need to maintain backwards compatibility, so will likely alias to the new name.

to/ @ampproject/wg-monetization

[2020-10-21 16:46] processprocess opened #30790 "fly-in preset display issue"
`fly-in` preset should start fully off screen.
Currently they're appearing in screen before transition start.
This is apparent in desktop mode when screen is higher than 1180px.

Preview link, when on page 5 this is visible on page 6
be sure to be in desktop mode with screen higher than 1180px:
https://webstoriesinteractivity-beta.web.app/animals-polls.html

This may be a problem with the distance

[2020-10-21 17:02] realPrimoh commented on #30602
I would like to discuss the Bento port of amp-lightbox.

[2020-10-21 17:09] #30777 closed

[2020-10-21 17:40] samouri opened #30794 "Experiment to see if rootMargin can be removed from viewportObserver"
**summary**
This was introduced to stay in line with how viewportCallback historically worked.

https://github.com/ampproject/amphtml/blob/ae98fd687a292246106c173d37f0f11cd47f3714/src/service/resources-impl.js#L1335-L1340

Once viewportObserver and friends land and are stable, we should experiment to see if we can remove the rootMargin. My guess is that it was initially included in resources to ac

[2020-10-21 18:16] Gregable commented on #30442
@dvoytenko Do you see anything preventing this rule from just turning into teams setting `width=1 height=1` or whatever constants until the file loads? If the validator isn't preventing the poor loading behavior, I would not feel comfortable enforcing the property presence. Let Web Vitals do that.

[2020-10-21 18:19] samouri commented on #30522
Closing now that https://github.com/ampproject/amphtml/pull/30535 was merged. If we start detecting flakes due to the test randomness, we may want a followup PR to use `Math.round` on experiment values.

[2020-10-21 18:19] #30522 closed

[2020-10-21 18:21] kristoferbaxter commented on #30442
https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5NeSBBTVAgUGFnZTwvdGl0bGU+CiAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9InNlbGYuaHRtbCIgLz4KICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoLG1pbmltdW0tc2NhbGU9MSxpbml0aWFsLXNjYWxlPTEiPgogIDxzdHlsZSBhbXAtYm9pbGVycGxhdGU+Ym9keXstd2Via2l0LWFuaW1hdGlvbjotYW1wLXN0YX

[2020-10-21 18:21] jeffkaufman commented on #30789
I'd suggest adding `window.coordinator` as an alias for `window.master`

[2020-10-21 18:21] jeffkaufman commented on #30789
and `computeInCoordinatingFrame` for `computeInMasterFrame`

[2020-10-21 18:22] samouri commented on #25720
If the only goal is to remove randomness, we could also normalize via `Math.round()`

[2020-10-21 18:26] dvoytenko commented on #30442
It's possible we change the workflow to Pixi. But looking at the current rules that we have. A native `<img>` can be used when:

1. It specifies `loading=lazy`
2. It has an intrinsic size (`width` and `height`) or explicit size (in styles).

I'd just stress that (1) without the (2) is even worse for CLS than wrong values.

[2020-10-21 18:39] micajuine-ho commented on #29910
Closing for now. Feel free to reopen.

[2020-10-21 18:39] #29910 closed

[2020-10-21 18:52] cramforce opened #30798 "[amp-story] No ampdoc found for [object HTMLElement]"
The render-fail also happens on the rolled-back version but more rare and with a different stack trace.

I can only repro this with a local web server (For the doc not AMP) and caching disabled.

[code]

<img width="1324" alt="Screen Shot 2020-10-21 at 11 44 48" src="https://user-images.githubusercontent.com/89679/96768916-41345100-1393-11eb-8114-88c5231558d6.png">

[2020-10-21 19:54] cramforce commented on #30442
We could force AMP's current behavior with `img {aspect-ratio: attr(width) / attr(height)!important}` in browsers that support aspect ratio. That might be enough to disincentivize abuse.

[2020-10-21 19:57] micajuine-ho commented on #30786
/cc @zhouyx @lannka This seems like a reasonable request to expose the `consentMetadata` collected by `amp-consent` to `amp-ad-3p-impls` via window.context, since we already exposing `consentString`, `consentState`, and `sharedData` in this fashion. Any concerns?

[2020-10-21 20:05] westonruter commented on #30442
I don't think this is the case? Both of these [result](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5NeSBBTVAgUGFnZTwvdGl0bGU+CiAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9InNlbGYuaHRtbCIgLz4KICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoLG1pbmltdW0tc2NhbGU9MSxpbml0aWFsLXNjYWxlPTEiPgogIDxzdHlsZSBhbXAtYm9

[2020-10-21 20:09] Enriqe commented on #30783
The issue was caused by the introduction of an intermediate element in #30433.

Introducing a new element between the `<amp-story-player>` and the Shadow DOM was meant to fix the responsive behavior in the AMP version of the player. The problem was that I mistakenly added the styles for this intermediate element in our stylesheets for the shadow DOM, not for the light DOM. And because this element

[2020-10-21 20:21] cramforce commented on #30442
You need to assume that sizing was overridden in CSS to ignore the width
and height.

On Wed, Oct 21, 2020 at 1:05 PM Weston Ruter <notifications@github.com>
wrote:

[2020-10-21 20:22] cramforce commented on #30783
Wow, good catch on that quirks mode issue!!

[2020-10-21 20:27] gmajoulet commented on #30798
Let's make sure this does not happen with the newer version we will rollforward. If it does we'll need a second cherry-pick, but we should batch them.

cc @Enriqe

[2020-10-21 20:31] Enriqe opened #30805 "🌸 Cherry-pick request for #30783 into #30741, #30770 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #30783 | #30804 |     **YES

[2020-10-21 20:32] cramforce commented on #30805
Approved. However, I'm not sure it technically needs to go into stable since stable was rolled back.

[2020-10-21 20:35] Enriqe commented on #30805
Correct, it just needs to be CP into the rolled back release (2010122315000) and then we can proceed with a rollforward.

[2020-10-21 20:41] samouri commented on #30525
Since the PR was merged, are there any outstanding items to be addressed? Can this I2I be closed?

[2020-10-21 20:50] samouri commented on #30548
An alternative to getting special API key for me, would be ensuring that page experience works even when accessed via the amphtml gulp local proxy

[2020-10-21 21:03] #30783 closed

[2020-10-21 21:09] Enriqe commented on #30798
I'm not able to repro

[2020-10-21 21:10] samouri commented on #30623
Actually, even with using `layout=container` in conjunction with `nodom`, I could not reproduce this error. Is it possible you have local css styling with `!important` that is forcing the width/height to be 0?

[2020-10-21 21:55] gmajoulet commented on #30798
Testing on 100+ Player integrations on publisher websites, I have only been able to repro once. Interestingly on the first document I opened. So I tried to open it again in private navigation or a different browser but it only repro'd that one time.

The code path hints at a Story, and not Player bug. I re-reviewed all the code we checked in in the past 2 weeks and did not find anything that could

[2020-10-21 22:03] Gregable commented on #30442
Right. @cramforce I think the simple abuse looks something similar to:

[code]

[2020-10-21 22:30] cramforce commented on #30442
My proposal would mitigate that.

[2020-10-21 22:51] nicobatalla commented on #26229
Hi @zhouyx . I'm creating an amp-consent solution for Quantcast CMP. I have pretty much all working by now, but I have a question. I saw that you can save a consentMetadata like this:

  "consentStringType": {enum} [1: TCF V1, 2: TCF V2, 3: US Privacy String] (optional),
  "gdprApplies": {boolean} (optional),
  "additionalConsent": {string} (optional)
}

But how is that read from the `amp-ad` comp

[2020-10-22 00:00] #29963 closed

[2020-10-22 00:19] caroqliu commented on #30805
Cherry-picks are complete. @Enriqe please verify.

[2020-10-22 01:00] alanorozco commented on #30471
@infillrc @philkrie

The AMP runtime has a few issues determining visibility for components inside `position: fixed` elements. `amp-video` only autoplays when it's sure it's visible by >50%.

We're changing how this works internally so that we use an `IntersectionObserver` instead, which shouldn't have that issue.

As for now, there's no way to disable this behavior via markup. Apologies!

[2020-10-22 01:00] #30471 closed

[2020-10-22 01:14] micajuine-ho commented on #26229
Hi @nicobatalla, I assume since you're using `window.context` to read `consentState`, that you are trying to read the `consentMetadata` value from an `amp-ad-3p-impl`. If so, then here is the relevant issue #30786;  we will be looking to expose the `consentMetadata` value through the `window.context` soon. Please let me know if this is not the case for you.

[2020-10-22 07:29] eduardcotmrf opened #30810 "Web Vitals: not triggering with timer"
## What's the issue?

I create an amp-analytics with a timer to send the CLS, LCP and FID it doesn't behave like a timer until, i assume, it has all variables calculated. This breaks the timer approach, what I expected is that if at the time of the timer it doesn't have some web vital calculated it just sends a null in that property.

Creating an amp-analytics like:
[code]

Works fine and sends ev

[2020-10-22 07:32] renebaudisch commented on #30786
Wouldn't this be obsolete when going towards IAB implementation as mentioned here #30385 which is intented to implement?

[2020-10-22 07:32] oxdef commented on #30409
I've made special URL for diagnostic:
[code]
And from the AMP Cache:
[code]
By the way, you can decrease size for existing default CSP policy to something like (of course after consulting with  security folks):
[code]

[2020-10-22 07:33] renebaudisch commented on #26229
@nicobatalla @zhouyx
Wouldn't this be obsolete when going towards IAB implementation as mentioned here #30385 which is intented to implement?

[2020-10-22 07:40] #29895 closed

[2020-10-22 08:33] ram-mar opened #30811 "AMP Pages perform poorly in Page Speed Insights"
## What's the issue?

Normal Pages are scoring significantly better results in Google Page Speed Insights than AMP pages. I am working in [SwipePages](https://swipepages.com/), a landing page creation tool. We love the performance boost pages get out of being AMP and we are trying to take AMP pages to the masses. In fact, we are convincing all our customers to build AMP pages instead of normal pag

[2020-10-22 09:17] priver commented on #30686
/cc @ampproject/wg-ads-reviewers

[2020-10-22 09:52] renebaudisch opened #30812 "Thoughts about amp-fx-flying-carpet"
The actual flying-carpet is meant to arrange a full placement in this style. This removes the option for marketers to sell this kind of ad at higher prices because every 0,01 cent MPU will be rendered within this effect.
Setting a floor price would also reduce the revenue because then empty places will be the result.

To improve this there should be a channel for communication between the content

[2020-10-22 10:48] spormeon commented on #30471
I have a similar issue to this but my video is in a side rail and is basically always 90%+ viewable,  how can I stop it pausing on scroll down?

I'm using amp-ima-video

![Uploading https___ads_vsvl_co_uk_pub000018_scripts_AMPTEST_html.png…]()

[2020-10-22 12:12] Zabi09 opened #30813 "<iframe> elements do not have a title in Lighthouse"
Added just a youtube video on one of my posts- https://monosnap.com/file/XIXggJgslnAxcMnNLBtHpwA3LXJluT and I am getting this error inside the amp-youtube tag that `<iframe>` elements do not have a title in Lighthouse - https://monosnap.com/file/0R4ehteXwmLk517l2sp0yKq2vNQw1E

[2020-10-22 14:20] babadopulos opened #30815 "I2I: Add analytics vendor Tail DMP"
Hi!

We'd like to add Tail DMP to the amp-analytics vendors list to help our customers integrating our services in their amp pages.

cc @ampproject/wg-approvers
cc @ampproject/wg-analytics

[2020-10-22 14:36] #30542 closed

[2020-10-22 14:48] Enriqe commented on #30805
I verified the fix is in production by trying out several players in various URLs. Will close this issue once PM is complete.

Thanks @caroqliu for all your work here!

[2020-10-22 15:20] Enriqe opened #30817 "Rewrite amp-story-player CDN hosted script to the local build"
Currently, importing a script with the CDN URL (`https://cdn.ampproject.org/...`) in a local sample will be rewritten by the build system so you get the local build of the library. This is not the case for the non-AMP version of the `amp-story-player`.

### Steps to repro:
1. Open a local sample with the amp-story-player and import it using the `<script async src="https://cdn.ampproject.org/amp-st

[2020-10-22 15:23] sultanboss opened #30818 "AMP Ima Video pause upon scrolling page"
Hi,

I have implemented APM Ima Video and it is working great. The only problem is when you scroll thru half of the page, the video automatically pauses. If you return back to the top half, video auto-resume.

How can I make it play all the time without pausing?

Thanks!

[2020-10-22 15:25] Enriqe opened #30819 "amp-sidebar not opening in the viewer in FF"
Trying to open the `amp-sidebar` in an AMP doc opened in the viewer from the Google Search results page results in a failure. The opacity of the story is decreased (expected) but no sidebar is opened (unexpected).

A suspicious warning also appears when clicking the sidebar:
[code]

Steps to repro:
1. In firefox mobile emulation, search "fun things to do in nyc"
2. scroll down until you find the c

[2020-10-22 15:28] gmajoulet commented on #30819
Is it a Story specific or AMP bug? Did you try the feature in a regular AMP document?

[2020-10-22 15:29] Ichigo3d commented on #30819
the Side bar feature works properly in the amp page

[2020-10-22 15:30] Ichigo3d commented on #30819
![Uploading Screen Shot 2020-10-22 at 8.30.44 AM.png…]()

[2020-10-22 15:32] Ichigo3d commented on #30819
<img width="1149" alt="Screen Shot 2020-10-22 at 8 31 42 AM" src="https://user-images.githubusercontent.com/37351864/96895220-0b4da600-1441-11eb-91c8-8f032fc40bb0.png">

[2020-10-22 15:33] Enriqe commented on #30819
I think that screenshot is from Chrome, and doesn't look like it's opened from the viewer, though? Could we confirm this in an AMP document opened in FF in a viewer please @Ichigo3d ?

[2020-10-22 15:35] Ichigo3d commented on #30819
Yes, sure. <img width="1671" alt="Screen Shot 2020-10-22 at 8 34 43 AM" src="https://user-images.githubusercontent.com/37351864/96895621-71d2c400-1441-11eb-9289-f138c02d18f8.png">

[2020-10-22 15:37] Enriqe commented on #30819
I think we'd need to try it on an AMP page opened in the google viewer, I don't thing the amp.dev sample is opened in one.

[2020-10-22 15:47] Enriqe commented on #30819
Searching for [balance-positivo-para-el-segundo-fin-de-semana-con-salidas-recreativas-en-carlos-paz] and opening the AMP doc in FF yields the same results. This is an amp-sidebar bug. @ampproject/wg-components

![image](https://user-images.githubusercontent.com/5449100/96897131-4f01d900-145c-11eb-954c-6b89e15ccb71.png)

[2020-10-22 16:22] spormeon commented on #30818
i'm a +1 on this,  my video is in a slide rail, so basically always viewable but it still pauses after scroll, i need it to continue playing on scroll

[2020-10-22 16:42] micajuine-ho commented on #26229
My understanding is not all vendors/publishers will support an IAB implantations so it is good to accommodate these cases. I also don't think this change would be a large and will not have an impact on performance.

[2020-10-22 16:43] micajuine-ho commented on #29596
I have not signed up for design review yet. By next week will have the document in a good place to share it and get your feedback.

[2020-10-22 16:58] renebaudisch commented on #26229
Taking about advertising everybody SHOULD follow the IAB (International advertising bureau) and if not - you force everyone to go your way, so why not here too, rely on IAB and force everybody to use it?
Right now you/AMP are/is doing the same the other way round, I cannot get tc data as I'm use to, I have to go your idle way, that only exists on AMP.
But it's your baby not mine...

[2020-10-22 17:13] micajuine-ho commented on #30815
Hi @babadopulos , thanks for your issue. You can follow the instructions here https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md on how to integrate Tail DMP into the amp-analytics vendor list. Please feel free to reach out if you need any assistance. Additionally, once you have your PR out, please tag me so that I can help you merge your changes.

[2020-10-22 17:18] gmajoulet opened #30821 "I2I: change how storyProgress analytics metric is computed"
## Summary

The `storyProgress` is exposed as an `amp-analytics` variable and is meant to let publishers know how much of a story a user has seen, cf its [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story-analytics.md#storyprogress).
It is documented as being a value `[0, 1]` but in practice it is `[0, 1[` and never goes to 1. This is problematic as pu

[2020-10-22 17:31] nicobatalla commented on #26229
@micajuine-ho  @renebaudisch Thank you guys, I'm going to be following both issues.

[2020-10-22 17:41] rsimha commented on #25720
I'm good with this plan (all non-zero experiment fractions effectively become 1 while running tests).

[2020-10-22 17:42] hungfu opened #30822 "AMP broken in IE11"
## What's the issue?

AMP pages are not fully functional in Internet Explorer v11

## How do we reproduce the issue?

1. View https://amp.dev/ in Internet Explorer v11
2. Open the console and refresh the page
3. The console will show this SyntaxError:
[code]
or this error:
[code]
4. Click on the search icon next to the language selector in the top right
5. Nothing will happen and it will throw an

[2020-10-22 18:13] dvoytenko opened #30824 "I2I: support "disallowDocumentAccess" for same-origin-iframes"
## Summary

Support the new [disallowDocumentAccess API](https://github.com/whatwg/html/issues/4435) and allow same-origin iframes in AMP.

The main impact of this proposal is the removal of AMP's [Iframe origin policy](https://github.com/ampproject/amphtml/blob/master/spec/amp-iframe-origin-policy.md).

## Design document

The `disallowDocumentAccess` API prevents cross-context DOM access even fo

[2020-10-22 18:40] rebeccanthomas commented on #29556
Claiming this issue for the fixit. :)

[2020-10-22 19:08] westonruter commented on #29874
Just to note that `amp-iframe` _does_ propagate the `title` attribute to the `iframe` (as of #27037), as this attribute is among the `ATTRIBUTES_TO_PROPAGATE`:

https://github.com/ampproject/amphtml/blob/7785e940fbac13bb0314d78a2a270d6219c84b66/extensions/amp-iframe/0.1/amp-iframe.js#L51-L62

But `amp-youtube` (and others probably) [does not](https://github.com/ampproject/amphtml/blob/7785e940fbac

[2020-10-22 19:46] Enriqe opened #30825 "[amp-story] Navigational safe zones are not respected in desktop 3 panels UI"
On our helper to check if a tap was on the edges of the screen, we don't account for the desktop case where the page could be in the middle of the screen.

Here is the piece of code that needs to be fixed:

https://github.com/ampproject/amphtml/blob/7785e940fbac13bb0314d78a2a270d6219c84b66/extensions/amp-story/1.0/page-advancement.js#L548-L560

@ampproject/wg-stories

[2020-10-22 21:30] realPrimoh commented on #29874
@westonruter Thanks Weston, this is good to know. It seems to be mostly an internal iframe issue where the iframe is created within the AMP element to display external sites, for things like amp-youtube, amp-instagram, amp-facebook, etc.

[2020-10-22 21:34] westonruter commented on #29874
Yes, I think the main issue is that the same `ATTRIBUTES_TO_PROPAGATE` logic needs to be adapted from `amp-iframe` into the other AMP components that also create `iframe`.

[2020-10-22 21:38] nainar commented on #29555
Unfortunately, since these are the official brand logos that are provided to us by these companies themselves we can't change the default icons.

We also can't provide high contrast options as that it would be a liability for the AMP project. We could and should change the documentation to describe this in the a11y section for the `<amp-social-share>` component

[2020-10-22 22:20] gmajoulet opened #30831 "[Story 360] controls is not a valid attribute"
Add `controls` and its allowed values to the list of attributes allowed by the validator.

cc @ampproject/wg-stories

[2020-10-22 22:31] dmanek commented on #27356
Seems like this issue has been fixed or is working as intended. I'm able to use arrow keys to focus on next/prev tabs and use enter/space key to select a tab. By design the currently selected tab does not show the focus outline when focussed.

[2020-10-22 23:08] choumx commented on #28009
FYI we've received a couple reports of this for the WordPress editor so far:
- https://wordpress.org/support/topic/some-serious-bugs/
- https://github.com/google/web-stories-wp/issues/4700

Fixing the scroll touch consumption is a straightforward fix.

A more comprehensive solution (with better UX) is to support an initial inactive/preview state. Activating the player expands the story to full-scr

[2020-10-22 23:10] HelaGone opened #30833 "amp-facebook not working on firefox"
## What's the issue?
The amp-facebook component does not load anything on Firefox browser mobile and desktop altogether.

Briefly describe the bug.
When using amp-facebook to display a video or post on any website it works fine on most browsers except for Firefox (desktop & mobile)

## How do we reproduce the issue?
Use the amp-facebook component to display any video or post from facebook and try

[2020-10-23 01:46] cramforce commented on #30824
It was always possible to work-around via redirect, so this is not a security issue

[2020-10-23 01:56] micajuine-ho commented on #29484
PR has been merged. This feature will be available under the experiment flag `amp-cid-backup`.  Next week we will turn on the flag in prod. So about 3 weeks to change vendor config if you would like to opt-out of this feature.

/cc @kushal @avimehta @joshschwartz

[2020-10-23 03:53] micajuine-ho commented on #30818
Hi @sultanboss thank you for submitting this issue. Could you or @spormeon  please provide example code that exemplifies this behavior?

[2020-10-23 04:57] tanakayuki opened #30838 "browser back can cause clicks to not working in AMP Cache"
## What's the issue?

browser back can cause clicks to not working in AMP.
However, origin AMP is fine.

## How do we reproduce the issue?

1. Open Google AMP Cache
2. Make transitions within the site
3. Browser Back to AMP Cache (AMP Viewer)  <- (Click not working here)

## What browsers are affected?

I think it will happen at least if you use safari or chrome on iPhone with OS version 13 or hig

[2020-10-23 05:41] spormeon commented on #30818
i think its quite simply this thats doing it: https://cdn.ampproject.org/v0/amp-ima-video-0.1.js

[2020-10-23 05:43] spormeon commented on #30818
i can send you a demo page, but dont want to put it in a public forum, how can i send it to you?

[2020-10-23 05:43] pgdeep opened #30840 "Cdn url throws error briefly"
When I try to open AMP page from Google search, briefly I see cdn.ampproject.org is throwing error saying ERR_NAME_NOT_RESOLVED
In a second it will start showing the web page and post that it won't throw error for subsequent calls.

However, if I open a new instance it will again show this error.
![Screenshot_20201023-013646_WhatsApp](https://user-images.githubusercontent.com/16613943/96960717-13e

[2020-10-23 05:58] #21924 closed

[2020-10-23 06:01] sultanboss commented on #30818
Hi @micajuine-ho thanks for your response.

This is happening with a fixed positioned video setup. For example:

`<amp-ima-video id="content_video" style="width: 366px; height: 206px; position: fixed; left: 100px; bottom: 100px;" width="640" height="360" layout="responsive" data-tag="tagUrl..." data-src="sourceUrl..." data-delay-ad-request="false" autoplay data-ad-label="Adverts (%s of %s)"></amp-

[2020-10-23 08:24] #30840 closed

[2020-10-23 12:28] sidor1989 commented on #30822
`SCRIPT5022: SyntaxError
v0.js (56,392)`
The same problem.

[2020-10-23 13:58] TetraLogicalHelpdesk commented on #29557
Conceptually, note that mouse/hover-capable inputs are not exclusive just to desktop/laptop - you can/will find users that have paired mice (or hovering stylus/pen inputs) even on mobile (see https://css-tricks.com/interaction-media-features-and-their-potential-for-incorrect-assumptions/#whats-the-primary-input) - so the hover-related approach should be taken for mobile as well. Ditto for keyboard

[2020-10-23 15:24] #30831 closed

[2020-10-23 15:48] Enriqe commented on #28009
I can look into this soon. I don't think the "touch to full-screen mode" is a good default though, since we don't really have context on where the player is embedded or what it would take to make it actually go "full screen".

I do think that https://github.com/ampproject/amphtml/issues/28009#issuecomment-619129955 is a good start though. WDYT @raovs @hongcatlover ?

[2020-10-23 15:50] #30805 closed

[2020-10-23 15:59] choumx commented on #28009
It would have to be publisher-configurable. But yea, let's fix the scrolling issue first.

[2020-10-23 16:00] samouri commented on #30818
This may be solved as a side-effect of https://github.com/ampproject/amphtml/pull/30647

[2020-10-23 16:06] samouri commented on #30471
Noting here that this issue should be resolved via: https://github.com/ampproject/amphtml/pull/30647

[2020-10-23 16:08] caroqliu commented on #27356
Closing as we are not able to reproduce the original issue, please re-open if you are still encountering the issue. :)

[2020-10-23 16:08] #27356 closed

[2020-10-23 16:14] cory-work commented on #29484
@micajuine-ho I think this is a great feature. A quick question thought, the design doc details the process to opt-in but your comment above mentions opting out. Am I misreading the design doc or did this decision change post design review?

[2020-10-23 16:31] micajuine-ho commented on #29484
@cory-work Thanks for pointing that out. It's an oversight on my end, as we ended up changing the design slightly as I was working on the PR. Please refer to the PR description for a more up-to-date and succinct summary of the changes.

[2020-10-23 16:31] caroqliu commented on #29561
Fixed by #30775

[2020-10-23 16:31] #29561 closed

[2020-10-23 16:31] cory-work commented on #29484
@micajuine-ho Thanks, I'll take a look.

[2020-10-23 16:32] dvoytenko commented on #30824
Right. This is not a security feature, but rather a consistency and avoid-the-bugs issue mainly.

[2020-10-23 16:33] micajuine-ho commented on #30818
Awesome, thanks Jake!

[2020-10-23 16:34] caroqliu commented on #30517
We unfortunately cannot reorder the buttons in the DOM as this could be a breaking change if anyone is relying on `:nth-child` CSS selectors. Another option could be to give an increasing `tabindex` between the previous button, slides, and next buttons, but seeing as we cannot control or coordinate the user provided `tabindex` on slides, this may not be fixable without breaking the current version

[2020-10-23 16:34] #30517 closed

[2020-10-23 16:57] #30818 closed

[2020-10-23 16:59] raovs commented on #28009
+1 to Publisher configured fullscreen / lightbox mode (pull @hongcatlover in if you need UX)

If the publisher wants the content to be consumed within the embed we can do a few things:
1. As is being discussed, don't consume interactions that don't apply to the Story
2. On first tap, show an X in the top to exit interactions with the Story (another tap would reopen engagement with the Story)

[2020-10-23 18:30] #29560 closed

[2020-10-23 19:29] #29559 closed

[2020-10-23 19:42] nainar commented on #28120
Landed here: https://github.com/ampproject/amphtml/tree/master/extensions/amp-onetap-google

[2020-10-23 19:42] #28120 closed

[2020-10-23 20:22] #29555 closed

[2020-10-23 21:30] #30822 closed

[2020-10-23 22:29] newmuis opened #30853 "[amp-story] Video playback not working in some players"
Something really odd is going on:

(1) find a video in a story
(2) while the video is playing, swipe to next
(3) swipe back
(4) hold to pause

Result: The video won't pause (although the system layer goes away, so I know the runtime is handling the event)

(5) swipe to next
(6) swipe back

Result: Video won't play.  No amount of swiping will fix; only tapping to next and back.

Assuming this is a

[2020-10-23 22:33] newmuis commented on #30853
Could potentially be an interesting data point to try this in the open source player and see if it is reproducible

[2020-10-24 01:04] #21965 closed

[2020-10-24 02:37] micajuine-ho commented on #30815
Closed via #30823

[2020-10-24 02:37] #30815 closed

[2020-10-24 10:43] #21923 closed

[2020-10-25 10:54] ampprojectbot opened #30855 "🚨 Error: Cannot read property '__AMP_TOP' of null"
Details
---
**Error report:** [link](http://go/ampe/CPDbj9zCr9GZ5AE)
**First seen:** Oct 15, 2020
**Frequency:** ~ 1,031/day

Stacktrace
---
<pre><code>Error: Cannot read property '__AMP_TOP' of null
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010162313002/src/service.js#L285">src/service.js:285</a>:9)
    at getTopWindow (<a href="https://github.com/ampproject/amphtml/blob/20

[2020-10-25 11:09] ampprojectbot opened #30856 "🚨 Error: Cannot read property '__AMP_TOP' of null"
Details
---
**Error report:** [link](http://go/ampe/CPDbj9zCr9GZ5AE)
**First seen:** Oct 15, 2020
**Frequency:** ~ 1,031/day

Stacktrace
---
<pre><code>Error: Cannot read property '__AMP_TOP' of null
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010162313002/src/service.js#L285">src/service.js:285</a>:9)
    at getTopWindow (<a href="https://github.com/ampproject/amphtml/blob/20

[2020-10-26 08:33] aqvaspirt commented on #29949
like thise feature!
We need to place closed button on the top of stories. Now we solve thise problem with ourself widget. https://testovskiy.vercel.app/test.html
<img width="1031" alt="Screenshot 2020-10-26 at 11 32 03" src="https://user-images.githubusercontent.com/49196731/97150294-f5ace900-177e-11eb-9da7-120c4ad501c0.png">

[2020-10-26 12:37] nikhilambre opened #30857 "amp-facebook component leave blank space below when loaded in landscape mode and changed to portrait mode"
## What's the issue?

amp-facebook component leave blank space below when loaded in landscape mode and changed to portrait mode. Same way it leave blank space on right side when loaded in portrait mode and changed to landscape. Blank space examples below. It' appears large on actual devices.

No such issue with twitter, youtube and instagram components.

![image](https://user-images.githubusercont

[2020-10-26 14:55] MegKrish commented on #30216
@zhouyx and @alanorozco checking in if there were any last min thoughts on this?

[2020-10-26 15:38] dritter opened #30860 "Tracking multiple Video Elements in one Configuration"
Hi there,

we have a hard time optimizing our tracking configuration. Especially the video tracking configuration is vast, because we have to write a special configuration for every video. It is not possible write a configuration for all players that handles an event. If we do this, only the first player is tracked.

For [reproduction in Playground](https://playground.amp.dev/#share=PCFkb2N0eXBlIG

[2020-10-26 15:49] #26525 closed

[2020-10-26 16:18] micajuine-ho commented on #30860
Hi @dritter thank you for submitting this issue. Amp-analytics currently does not support multi-selctor capabilities for video analytics. This seems like a good idea, especially if it leads to a large reduction in config size for vendors and publishers.

Can you describe or share what a typical config would look like to track multiple videos?

This issue is for multiple selectors for visibility tr

[2020-10-26 16:40] dritter commented on #30860
Ha. I missed that condition. :)

You mean the workaround I was talking about? Sure. [Here it is](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CjxtZXRhIGNoYXJzZXQ9InV0Zi04Ij4KICA8dGl0bGU+YW1wLWJyaWdodGNvdmU8L3RpdGxlPgogIDxzY3JpcHQgYXN5bmMgc3JjPSJodHRwczovL2Nkbi5hbXBwcm9qZWN0Lm9yZy92MC5qcyI+PC9zY3JpcHQ+CiAgPHNjcmlwdCBhc3luYyBjdXN0b20tZWxlbWVudD0iYW1wLWxpZ2h0Ym94IiBzc

[2020-10-26 17:18] micajuine-ho commented on #29596
@kelseyjohnson8 @jpolanco91 Hi there, iiuc, for your pages, you would always like this feature regardless of the location of the user. Is this assumption correct, and if so do you see a use case in the future where you would only want this feature in select geolocations?

[2020-10-26 17:29] Gregable commented on #30442
@cramforce Where does that CSS live? Is that part of the AMP CSS, boilerplate, or something we expect publishers to add?

[2020-10-26 17:35] cramforce commented on #30442
AMP CSS

[2020-10-26 18:45] #29564 closed

[2020-10-26 18:46] WTVOX opened #30864 "Not recognising SSL"
## What's the issue?
Have installed the AMP plugin on a new site we are setting up (https://thevou.com) and it keeps throwing a message stating that there's no SSL. We have installed and reinstalled the plugin several times, it is still unable to recognise the SSL.

## How do we reproduce the issue?
Not sure, see the pics below:
<img width="1321" alt="Screenshot 2020-10-23 at 13 39 18" src="https:

[2020-10-26 18:56] #30736 closed

[2020-10-26 18:59] jridgewell commented on #30864
Hi @WTVOX, can you reopen this on the [amp-wp](https://github.com/ampproject/amp-wp) repo?

[2020-10-26 19:41] honeybadgerdontcare commented on #30726
I'd prefer the solution mentioned in the link I shared: While validating server-side rendering changes, count how many bytes are being added as inline styles, then subtract that when checking for the byte limit.

Isn't the WordPress plugin already arbitrarily reducing the number of bytes in `style[amp-custom]`? Is it possible as a stop-gap measure to have it account for this and reduce it slightly

[2020-10-26 19:48] westonruter commented on #30726
The issue is that the plugin is sanitizing and validating `style[amp-custom]` at an intermediary state on a pre-optimized document. The AMP plugin only works with unoptimized AMP documents as input. It then passes the validated unoptimized AMP document over to the Optimizer to do server-side rendering, so the `style` attributes added by the Optimizer don't exist at the time of sanitization.

[2020-10-26 20:05] merlinnot opened #30865 "I2I: New component `amp-lottie-animation`"
## Summary

There's an AMP element available already which enables developers to use Bodymovin animations on AMP pages: [amp-bodymovin-animation](https://amp.dev/documentation/examples/components/amp-bodymovin-animation/). This component is based on an old version of Bodymovin, v4.

Version 5 comes with very significant improvements, especially around performance. The current component, based on a

[2020-10-26 20:29] dvoytenko commented on #30865
/cc @ampproject/wg-components

[2020-10-26 20:47] zhouyx commented on #30865
Thanks for the I2I

If this is updating the existing component in a backward compatible way, I don't see a reason why not.

I'm curious on the rendering using Web Workers and OffscreenCanvans goal here. That seems new to the component. Could you expand a little bit more. Thanks

[2020-10-26 20:54] micajuine-ho commented on #30860
Looking at your example, it seems that each video element on your page has a unique identifier, and thus you'd want an API along the following lines:

[code]

An alternative and/or addition to this could be to let each selector in the array map to multiple elements instead of just one:

[code]

I would lean towards the first option; where we extend the `selector` API to allow arrays and each selec

[2020-10-26 21:17] dritter commented on #30860
I may misread [the code](https://github.com/ampproject/amphtml/blob/68dfea1c94bffeaa9d68d7391cd5240c4617e6b7/extensions/amp-analytics/0.1/analytics-root.js#L357-L361), but IMHO `this.root.getElements` is not ready in its current form. It returns an array of a single element (probably the first found; exception is if feature flag `visibility-trigger-improvements` is set). That is [why I went with `

[2020-10-26 21:24] rsimha opened #30868 "`amp-user-notification` visual diff test is flaky"
I've seen this test flake more often than usual in the past few days. From the [snapshot](https://percy.io/ampproject/amphtml/builds/7428747/view/423992155/400?mode=diff&browser=firefox&snapshot=423992155), it seems to be due to a non-static ad loading animation.

Any way to freeze that element before diffing?

[2020-10-26 21:25] rsimha commented on #30868
Assigning to @zhouyx for triage.

/cc @danielrozenberg in case my hunch is wrong, and this needs an infra level fix.

[2020-10-26 22:01] jpolanco91 commented on #29596
@micajuine-ho my understanding so far is that the feature should work regardless of the user's location, at least with GDPR (EU). However I'll consult with @kelseyjohnson8 to see if there are future regulations that might require the ability of activating this on selected countries

[2020-10-26 22:14] zhouyx commented on #30860
This makes sense to me. Can we expand the multi selector support so it works just like the visibility selector.

[2020-10-26 22:56] coreyching commented on #27691
@morsssss

Here are the steps I am seeing that is repeating the issue:

Steps to reproduce.
1. Open Google (in ios safari)
2. Type "Niel Patel AMP"
3. Click on "Why AMP & Facebook Instant Can Be Bad for ... - Neil Patel" result.
4. Click on "neilpatel logo" in the orange bar
5. Click back
6. Links no longer work.

Similar complaints on the web:

https://support.google.com/webmasters/thread/1652683

[2020-10-26 23:15] zhouyx opened #30872 "I2I: Expand LocalStorage Usage when Storage API is not used"
## Summary

Today AMP restricts localStorage usage to limited [cases](https://github.com/ampproject/amphtml/blob/master/spec/amp-localstorage.md#current-usage). The reason is that such stored value needs to be passed to AMP Viewer to be stored.

The proposal is to expand the localStorage usage to all AMP components when the Storage is not applied.

## Design document

Expand the existing `storageF

[2020-10-26 23:18] zhouyx commented on #30193
Filed an I2I to expand the LocalStorage usage to all #30872

Let's bring the topic to the design review. Otherwise I don't see any blocker to building this messaging infrastructure and allow 3p scripts to run in AMP.

[2020-10-26 23:21] zhouyx commented on #30603
I'd like to discuss #30193

[2020-10-26 23:49] eduardogoncalves commented on #30833
It's working on v81.0.2
![image](https://user-images.githubusercontent.com/4308648/97240281-4135b600-17c4-11eb-92fa-7872c1d754a0.png)

[2020-10-26 23:53] coreyching commented on #27691
@mauricengo-revolve

[2020-10-27 00:28] nainar commented on #30813
@zhouyx @realPrimoh was this addressed in the Fixit last week?

[2020-10-27 01:14] micajuine-ho commented on #30860
@dritter

Yes this is correct, however, we should use `getElements` and then guard this new feature under a different experiment flag as part of our rollout plan.

I would say that the video elements have some sort of unique identifier, weather it be an ID or a `data-vars-*` attribute (like we require with the multi-selector visibility trigger), so that each request made can be unique (so that you

[2020-10-27 01:45] uskay commented on #27691
@coreyching , While both are related to browser back, I feel the issue you are mentioning here is more related to #30838 . I'll add a link to your comment there as well.

cc/ @nainar

[2020-10-27 01:46] uskay commented on #30838
This seems to be a common issue we are seeing recently. cc/ @nainar
Reference: https://github.com/ampproject/amphtml/issues/27691#issuecomment-716868604

[2020-10-27 02:07] mauricengo-revolve commented on #27691
Hi @uskay and @morsssss, we are occasionally seeing both issues occurring with the back button use case — the 404 and the not clickable links. We're waiting on both issues to be addressed before launching our AMP site. @coreyching has been assisting us. Thank you for looking into this.

[2020-10-27 03:57] #30602 closed

[2020-10-27 06:12] westonruter commented on #30442
Will deprecation of `amp-img` entail that the `picture` element should be allowed in addition to `img`?

[2020-10-27 08:46] greghuet opened #30877 "cmp"
## Describe the new feature or change to an existing feature you'd like to see

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature request here.

[2020-10-27 08:47] greghuet opened #30878 "consent"
## Describe the new feature or change to an existing feature you'd like to see

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature request here.

[2020-10-27 11:08] #29289 closed

[2020-10-27 12:10] WTVOX commented on #30864
Done, thanks for pointing to the right project. Best

[2020-10-27 15:16] danielrozenberg commented on #30868
How are loaders animated? If they use CSS or built-in JS animations, Percy should be disabling the animation, in which case this is a Percy-side issue that we should report. If we do it in some custom way, maybe it should be disabled when AMP_CONFIG is set to test mode

[2020-10-27 15:16] kelseyjohnson8 commented on #29596
@micajuine-ho Confirming what Juan said. We want the feature to be built in a way that it could potentially be used with anyone! We don't want to limit it to a specific geolocation.

[2020-10-27 15:17] kelseyjohnson8 commented on #29596
@micajuine-ho And I'm emailing you now to set up time. Thanks!

[2020-10-27 16:16] #30877 closed

[2020-10-27 16:17] kevinkimball commented on #30819
We identified that this was due to an error with the testing environment (Firefox tests were using a iOS 12 user-agent, should be using modern UA that does not use FixedLayer).

[2020-10-27 16:17] #30819 closed

[2020-10-27 16:23] #30878 closed

[2020-10-27 16:41] samouri commented on #30261
I've implemented (1) which emits a warning when `single-item` is used incorrectly. Going to close this issue but anyone should feel free to reopen/comment if they believe we should be pursuing (2).

[2020-10-27 16:41] #30261 closed

[2020-10-27 16:45] dvoytenko commented on #30442
@westonruter I believe, yes, the hope is to eventually allow `picture` element. But it's currently blocked on implicit aspect ratio support for picture elements (see https://github.com/whatwg/html/pull/5894 and [crbug/1137794](https://bugs.chromium.org/p/chromium/issues/detail?id=1137794)).

[2020-10-27 16:59] cramforce commented on #30442
@dvoytenko I'm super sure that is already working. In practice the picture element has no layout of its own and the thing that is actually being rendered is the `img` element inside of it which has the `currentSrc` informed by the surrounding picture.

[2020-10-27 17:02] dvoytenko opened #30884 "🌸 Cherry-pick request for #30871 into #30770 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #30871 | #30871 |     **YES

[2020-10-27 17:05] dvoytenko commented on #30442
@cramforce It works for `<img>` fallback, but not for `<source>`. And `picture` allows different geometries for different sources. That's why https://github.com/whatwg/html/pull/5894 is important.

[2020-10-27 17:09] dvoytenko commented on #30872
I don't see a reason why we shouldn't allow extensions to use `localStorage` for more use cases. However, I'd not use `storageForDoc` service for that and instead allow direct access to the `localStorage` and `sessionStorage`.

[2020-10-27 17:17] #30786 closed

[2020-10-27 17:45] andyblackwell commented on #25190
I just saw this and was hoping it meant all var substitutions would work now for the json attribute like: QUERY_PARAM, EXTERNAL_REFERRER, $DEFAULT, $REPLACE, etc.
which would be nice for passing utm_* params, referral domain, etc, in json targeting for reporting purposes.
but sadly it looks like merely CLIENT_ID was whitelisted as a valid var substitution 😞

[2020-10-27 17:49] kevinkimball commented on #28437
I wrote up a TDD on this and determined that there would be a significant amount of complexity relative to the performance improvement. For that reason I decided with Kris to focus on other higher-impact work and I don't plan to implement in the near future.

[2020-10-27 17:49] #28437 closed

[2020-10-27 18:02] realPrimoh commented on #30813
Yes, it just has to be merged. https://github.com/ampproject/amphtml/pull/30834

[2020-10-27 18:03] dmanek opened #30887 "[amp-carousel] Add visual diff tests"
Currently, we do not have any visual diff test for amp-carousel.

[2020-10-27 18:11] micajuine-ho commented on #26229
@nicobatalla  #30820 has been merged.

[2020-10-27 19:17] zhouyx commented on #30860
I'm not sure about the `data-vars-*` attribute requirement. Because each video already has an id.

[2020-10-27 19:20] zhouyx commented on #30868
@alanorozco to comment on how the loader is built.

I like disabling the loader in test for good. If not maybe I can replace the test with a static placeholder.

[2020-10-27 19:31] HelaGone commented on #30833
Well this is weird.. I'm Using that same version of FF and it doesn't seem like its working.
<img width="2396" alt="Screen Shot 2020-10-27 at 12 03 05" src="https://user-images.githubusercontent.com/5982932/97342911-771e7d00-184c-11eb-98f1-8e99c48ee741.png">

Also, If I follow the validator url that appears in the dev tools I got this:
<img width="2400" alt="Screen Shot 2020-10-27 at 12 06 55" src

[2020-10-27 19:38] realPrimoh commented on #30813
@Zabi09 Hi there, this should be fixed now (after this PR: https://github.com/ampproject/amphtml/pull/30834)

[2020-10-27 20:22] Enriqe opened #30889 "[amp-story-player] Opt-out of animation in go() / show()"
Currently using the `go()` (or `show()`, since it uses `go()` internally) will show the swiping animation. Sometimes this is undesirable and would be ideal to opt-out of it. e.g. a carousel entry point.

@ampproject/wg-stories

[2020-10-27 21:08] Enriqe commented on #30031
All main tasks have been finished. Remaining items are:

- Deleting previous `exit-control` API.
- Writing documentation.

Will file separate issues for those.

[2020-10-27 21:08] #30031 closed

[2020-10-27 21:27] jakewantulok commented on #19435
A situation with a project came up that made me ask if this were possible. Will this be included in the near future? It would be amazing to have more of this kind of feature. I hate I sometimes have to write a conditional inside an amp-state. :/

[2020-10-27 21:36] jakewantulok commented on #19435
Here is an example of what I was hoping to achieve:
[code]
I suppose with @alabiaga's implementation:
[code]

[2020-10-27 21:41] jakewantulok commented on #19435
Hold up! This works??  😲

[2020-10-27 22:27] #21925 closed

[2020-10-27 22:36] #30887 closed

[2020-10-27 23:58] zhouyx commented on #29556
Any update on this?

[2020-10-28 07:22] powerivq opened #30890 "I2I: amp-ad v2"
## Proposal
We are proposing to change how ads are integrated into the amp-ad environment, and how these ad integrations are loaded on an AMP page. This proposal will allow all advertisers to gain access to fast fetch automatically, have an easier time integrating with AMP, and the ongoing cost of maintaining integrations will be lowered.

## Background
We launched [amp-ad](https://amp.dev/documen

[2020-10-28 07:25] powerivq commented on #30603
Would like to discuss https://github.com/ampproject/amphtml/issues/30890

[2020-10-28 13:22] samouri commented on #30193
@zhouyx: Is the plan to expand the functionality of `<amp-script>` to meet this use-case or to develop a new system?

[2020-10-28 13:44] Enriqe commented on #29718
Closed by #30031

[2020-10-28 13:44] #29718 closed

[2020-10-28 14:38] infillrc commented on #30471
I can confirm that the issue has been resolved. Thank you very much.
(AMP ⚡ HTML – Version 2010272236000 nightly-channel enabled)

[2020-10-28 15:44] #15004 closed

[2020-10-28 16:10] zhouyx commented on #30193
Feedback from Design Review.

1. We should be able to reuse `<amp-script>` here. We will expand `<amp-script>` to support a new running in sandbox and no DOM case. Something like following
[code]
where no script hash will be required

2. We've already have messaging API built for `<amp-script>` (Sending & Receiving messages)
If cannot fulfill the use case, we can build the messaging channel into t

[2020-10-28 16:50] rolandfarkasCOM opened #30891 "Storing GCLID on amp cache pages."
When your landing page is amp on google ads, the amp cache overwrites the "gclid" URL parameter, therefore the value goes lost/ or will posts through as a URL parameter to the XHR-POST endpoint as _gl. I would like to propose a built-in solution so more and more google ads users can benefit from the speed amp provides, without losing gclids making OCT inaccurate.

As a solution, I suggest a google

[2020-10-28 17:25] realPrimoh commented on #29874
This has been fixed and merged as of this week: https://github.com/ampproject/amphtml/pull/30834.

[2020-10-28 17:34] #30523 closed

[2020-10-28 20:04] jridgewell commented on #30864
Closing as dupe of https://github.com/ampproject/amp-wp/issues/5544. Thanks!

[2020-10-28 20:04] #30864 closed

[2020-10-28 20:35] jridgewell commented on #30884
Approved

[2020-10-28 20:35] krdwan opened #30895 "amp-accordion - toggle all and expand all functionality when `expand-single-section` is true"
The accordion has an attribute called `expand-single-section`.  When it's true, only one of multiple accordion sections can be expanded at a time.  See this example: https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fcomponents%2Famp-accordion.example.3.html%3Fformat%3Dwebsites&format=websites&_gl=1*1itn1wq*_ga*YW1wLTJXM1NxS3lqTFNmLXBuYUlkaC1VdWc.

Accordion enables tw

[2020-10-28 20:48] dvoytenko commented on #30884
Closing for now since we expect new Beta soon and no Stable releases in between. Will reopen if needed.

[2020-10-28 20:48] #30884 closed

[2020-10-28 21:42] #22070 closed

[2020-10-28 22:14] esng25 commented on #25976
Seconded. I've been trying to use on="tap:videoElementID.play" It preloads and buffers the video but doesn't start playing. The user has to click the play button again which seems extremely counter-intuitive.

[2020-10-29 04:02] jamescridland opened #30903 "Google Analytics 4 and AMP - "unknown ID" // documentation issue?"
## What's the issue?

amp-analytics returns `[AmpAnalytics <unknown id>]` error, and does not send information back to Google Analytics 4.

## How do we reproduce the issue?

I've successfully set up a new Google Analytics 4 property. Under "Web Stream details", it gives me a measurement ID of `G-BR6HXXXXXX` ([here's an image of that](https://user-images.githubusercontent.com/231941/97523887-0a8fb

[2020-10-29 11:03] spormeon commented on #30818
its still doing it  when i tested it this morning, this is fixed for amp-ima-video?  as testing this file the behaviour is still there:
//cdn.ampproject.org/v0/amp-ima-video-0.1.js

[2020-10-29 11:39] levin-roski commented on #18044
@aghassemi please reopen, I don't see this as implemented in #9891. Would need this festure, as many E-Commerce Shops use this festure.

[2020-10-29 12:50] swissspidy commented on #30377
Looks like #30031 has been progressing nicely!

@Enriqe is there any update / preliminary docs on the API so that we could explore this?

[2020-10-29 15:45] samouri commented on #30818
@spormeon: the fix can be verified if you do a build at HEAD. All AMP deployments are paused right now and won't resume until the [election freeze](https://github.com/ampproject/meta-tsc/issues/51) is over.

[2020-10-29 16:02] dero opened #30905 "<amp-base-carousel>: buggy when advance-count = 1 and visible-count > 1"
## What's the issue?

See this pen in a desktop browser: https://codepen.io/iamdero/pen/bGeLPqy

1. Click the next button and observe the carousel animation to advance by one slide to slide nr. 2 (correct)
2. ... but then immediately advance again with no animation to slide nr. 3 (incorrect).
3. Click the next button, the carousel will not advance (incorrect).
4. Click the next button yet again, i

[2020-10-29 16:18] samouri opened #30907 "Unit test: compilation error leads to hang."
**summary**
When I forget to annotate a test function with `async` when using await, the test runner freezes and I can only escape by creating a new terminal and `kill`ing it.

![Screen Shot 2020-10-29 at 12 18 09 PM](https://user-images.githubusercontent.com/4656974/97601724-dca37280-19e0-11eb-80e6-89cb4f62217d.png)

cc @rsimha to triage

[2020-10-29 16:48] taiyarihasenllc opened #30908 "Pending Javascript"

[2020-10-29 17:10] gmajoulet opened #30909 "🌸 Cherry-pick request for #30651 into #30741 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #30651 | #30652 |     **NO*

[2020-10-29 17:11] gmajoulet commented on #30909
FYI @ampproject/wg-stories

[2020-10-29 17:13] cramforce commented on #30909
This is a pretty big change for a cherry-pick, but it has gotten significant beta-testing already (Would have been released this week if it wasn't for the freeze).

Given the severity of the bug, I think this is worth doing.

But I'd like to get an independent review from @dvoytenko or @kristoferbaxter

[2020-10-29 17:24] dvoytenko commented on #30909
Why is Beta CP not needed?

[2020-10-29 17:39] cramforce commented on #30909
Because it is in Beta already.

[2020-10-29 18:00] dvoytenko commented on #30909
Approved

[2020-10-29 18:03] #30231 closed

[2020-10-29 18:31] rsimha commented on #30909
@gmajoulet can you please fill in the manual verification steps? I'd like to make sure @Ichigo3d has a chance to test this out before a potential cherry-pick.

[2020-10-29 18:34] dvoytenko opened #30911 "Ensure that shadowroot templates do not cause vulnerabilities"
The new [Declarative Shadow DOM API](https://github.com/mfreed7/declarative-shadow-dom/blob/master/README.md#syntax) is promising a lot of benefits for LCP and CLS metrics. However, it also poses some risks. What previously was assumed to be inert DOM can soon be parsed into the live Shadow DOM. For some details on how this can be exploited, see [slides 9 and 10 in this presentation](https://docs.

[2020-10-29 18:42] Enriqe commented on #30377
We are still prepping the material which we will share very shortly. What I can say is that in this first iteration we will not include support for custom buttons, since we still need to clarify a few items from the product / UX side. We will have discussions early next week to unblock this, though.

[2020-10-29 18:56] gmajoulet commented on #30909
It's hard to repro consistently in the wild as you never know how fast the poster or video will load. Here are some steps:

1. Clear your cache or go in private navigation. You will need to clear the cache or open a new private navigation window every single time, otherwise the video will be loaded from the browser cache and you won't see the poster image
2. Open https://www.gstatic.com/amphtml/st

[2020-10-29 18:57] Gregable commented on #30911
The only thing the validator can really do statically is ensure that the subtree of `<template>` are "valid" in the case of a browser that doesn't understand `<template>`. Since AMP mustache treats the contents of `<template>` as a string, not as HTML, when rendering the mustache template, we can't guarantee anything statically about what will happen post rendering.

[2020-10-29 18:57] rsimha commented on #30907
This is a perfect use case for our [Ctrl+C handler](https://github.com/ampproject/amphtml/blob/master/build-system/common/ctrlcHandler.js), which starts a child process that listens for Ctrl+C and bails immediately, even when an async task causes the main process to be unresponsive.

Looking at the code, we're already using it during unit and integration tests (line 240):

https://github.com/amppr

[2020-10-29 19:02] #10864 closed

[2020-10-29 19:06] dvoytenko commented on #30911
To stress, the declarative shadow root cases are distinctly different from mustache templates - they are non-inert DOM fragments that are parsed into a shadow root.

In either case, I think it's the best first step to ensure that we simply do not allow `<template>` with the `shadowroot` attribute in the validator.

[2020-10-29 19:14] jridgewell commented on #30911
Agreed. I think we can just forbid the `shadowroot` attr in `<template shadowroot>`.

[2020-10-29 19:19] cramforce commented on #30909
Approved

[2020-10-29 19:22] jridgewell commented on #30909
Why isn't LTS affected?

[2020-10-29 19:25] kristoferbaxter commented on #30909
I did a review of the change, and it looks good to me.

In the future, we should enhance test coverage for this so we do not regress.

[2020-10-29 19:26] samouri commented on #30907
1. I've confirmed that the createCtrlcHandler is running. Moving it higher up did not help :(
2. I'm back to using a Mac ever since the new byod policies took place this week.
3. Handler process is exiting properly, not sure whats still going on in the main process.

You should be able to repro very simply! Just remove an `async` from a unit test.

[2020-10-29 19:34] premesh-freestar opened #30912 "Amp documentation example around sendRegardlessOfConsent is not correct"
## What's the issue?
The current amp [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/rtc-documentation.md) shows that the `sendRegardlessOfConsent` attribute is to be set at the top level RTC Config object
![image](https://user-images.githubusercontent.com/66525000/97623168-80415280-19e2-11eb-90df-49fb687c4ea5.png)
When doing this you will see warnings in the c

[2020-10-29 19:39] jridgewell opened #30913 "🚄 Release tracking issue for release 2010222244000"
# Release tracking issue

This issue tracks release [2010222244000](https://github.com/ampproject/amphtml/releases/tag/2010222244000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2010122315000...2010222244000).

- [x] Release 2010222244000 promoted to Experimental and Beta (opt-in) channels (2020-10-27 16:59 -04:00)
- [x] Release 2010222244000 promoted to

[2020-10-29 19:48] rsimha commented on #30907
To further clarify item 3, my suspicion is that the `teardown()` function is exiting the Ctrl+C handler, and is then getting stuck in `async` code with no way for the user to exit out. Here is the function:

https://github.com/ampproject/amphtml/blob/698171e8d9f298e3ca9e02313580c07ecfb85d76/build-system/tasks/runtime-test/runtime-test-base.js#L250-L262

A simple check for this is to comment out li

[2020-10-29 21:16] Gregable commented on #30911
Since we use an allowlist model for attributes, this is already the case.

[2020-10-29 21:30] morsssss commented on #27691
Thanks everyone! I'm pinging some people over here...

[2020-10-29 21:31] dvoytenko commented on #30911
Thanks a lot, @Gregable! I'll confirm this on the purifier as well. And if all good, we can close this issue.

[2020-10-29 21:47] morsssss commented on #27691
Trying this with https://www.google.co.jp/amp/s/restaurant.ikyu.com/sd/101876/amp/ as described by @abeak above, in Chrome DevTools emulating an iPhone, I get this 404 as well. I don't get it in DevTools emulating an Android device.

![Screen Shot 2020-10-29 at 5 44 38 PM](https://user-images.githubusercontent.com/29419498/97635871-7f261a80-1a0e-11eb-9422-3c6cc957a893.png)

[2020-10-29 21:58] morsssss commented on #27691
/cc @flaviori - have you seen this behavior?

[2020-10-29 22:43] spormeon commented on #30818
I think someone just pushed some changes about an hour ago, when everything is meant to be freezed until after elections?  it gives me a break in this:  we basically hacked the amp-ima-video file to work for our need and host the file ourselves but this error started occurring now and no player show on page in effect.
![DevTools_-_ads_vsvl_co_uk_pub000018_scripts_AMPTEST_html_and_CloudWatch_Manage

[2020-10-29 22:57] alanorozco opened #30916 "I2I: Dock audio players"
## Summary

This allows [docking (pinning to a corner on scroll)](https://go.amp.dev/c/amp-video-docking) audio player components rather than just video.

## Required changes

### Player components

1. The `VideoInterface` should be supported by these audio players like a video player would. The name for the interface is inappropriate, but the contract for effective operations (play/pause, mute/un

[2020-10-29 23:03] Enriqe opened #30917 "[amp-story-player] Add a label option for custom controls"
Related to #30031

We should allow the option to add a `label` to a custom control of the player inside the configuration.

[2020-10-30 01:18] samouri commented on #30818
@spormeon: I'm not sure whats going on to produce [that error](https://github.com/ampproject/amphtml/blob/246b09c4f8c80a621289d3b9dcb67436af94a291/src/service/extensions-impl.js#L244-L271). If you think there is an AMP bug, can you file a separate issue with full details for reproduction?

[2020-10-30 06:01] cw-bharat opened #31354 "Feasibility for dynamic data attributes for amp analytics"
## 🚀 Feature Request

### Problem
I'm not able to dynamically change the value of data attribute based on amp-state.
E.g.
This is a simple button which expands and collapses the text and we want to track the user action on it.

[code]
I want to change the value of `data-vars-action` dynamically based on `showFullText` and fire the tracking every time user clicks on the button with the action `More

[2020-10-30 16:17] dev-theoutplay commented on #28331
Hello @alanorozco and @cramforce
this project is really important for our business and we are blocked at this point.
Could someone give us feedback?

[2020-10-30 17:10] joshcp opened #30924 ""load more" option on amp-instagram component"
## Describe the new feature or change to an existing feature you'd like to see

It would be nice to have a "Load More" config option available in the amp-instagram component

## Describe alternatives you've considered

Possibly incorporate amp-list and amp-bind to create a load more link?

[2020-10-30 20:01] realPrimoh opened #30928 "[amp-lightbox:1.0] Bento tracking issue"
Design doc: https://docs.google.com/document/d/1z7BdxsMdPOcfJpXQacd5Yfmskxih71AAk2sz8S08-ZI/edit#

TODOs:
- [ ] Complete AMP version of extension
- [ ] Write unit tests
- [ ] Address accessibility

PR: https://github.com/ampproject/amphtml/pull/30836

[2020-10-30 20:51] kristoferbaxter opened #30930 "Design Review 2020-11-04 21:00 UTC (Americas)"
Time: [2020-11-04 21:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=11&day=04&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20201104T210000Z/20201104T220000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-10-30 20:52] kristoferbaxter opened #30931 "Design Review 2020-11-12 01:00 UTC (Asia/Oceania)"
Time: [2020-11-12 01:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=11&day=12&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20201112T010000Z/20201112T020000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-10-30 20:52] kristoferbaxter opened #30932 "Design Review 2020-11-18 16:30 UTC (Africa/Europe/western Asia)"
Time: [2020-11-18 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=11&day=18&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20201118T163000Z/20201118T173000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-10-30 21:29] shishirm opened #30935 "Story layout from iMessage to Chrome on iPhone seems broken"
## What's the issue?

When clicking on an iMessage/Whatsapp Story URL on an iPhone with the default browser set to Chrome, this Story seems to open with the content shifted down. Please see attached video. I've been able to reproduce on some URLs but not others.

For example, I'm seeing this behavior with this URL -> https://stori.es/Dy9Rd
Not seeing the behavior with this URL -> https://www.pcgam

[2020-10-30 21:30] Enriqe commented on #30935
@ampproject/wg-stories

[2020-10-30 21:45] Enriqe commented on #30442
Do we have a timeline/owner for @cramforce's proposal of enforcing `aspect-ratio` in AMP CSS? I can help making that change if necessary. For context, #30753 is blocked on this.

[2020-10-30 22:07] kristoferbaxter commented on #30442
@zhouyx and @rebeccanthomas are who to speak with regarding timing.

[2020-10-30 22:53] dvoytenko commented on #30916
This sounds very interesting and appropriate. It sounds like we may want a MediaInterface/MediaManager to correspond to the `HTMLMediaElement` interface (it also supports `autoplay`, btw). But I think we can continue to track for video docking and figure out how to reactor it to general MediaInterface once we figure the interfaces there?

[2020-10-30 23:50] zhouyx commented on #30924
amp-instagram loads the instagram iframe. Is the load more link a link to expand the iframe instead?

[2020-10-30 23:55] zhouyx commented on #30810
This is expected behavior.
Requests with variables that resolve asynchronously will only be sent out once those variables has been resolved. It is recommended that we collect those variables separately, not with timer request.

We should probably document the recommended use case.

[2020-10-30 23:55] #30813 closed

[2020-10-30 23:58] zhouyx commented on #30758
@alanorozco I'm not familiar with amp-fx-collection at all. Does the FR make sense to you?

[2020-10-31 00:02] zhouyx commented on #30515
Close as this is tracked on the GA side.

[2020-10-31 00:02] #30515 closed

[2020-10-31 00:04] zhouyx commented on #30857
Since this is not an issue with twitter, youtube or instagram components. I wonder if this is related to the facebook implementation within the iframe.

[2020-10-31 00:07] zhouyx commented on #30562
Close and track in #30661

[2020-10-31 00:07] #30562 closed

[2020-10-31 00:08] zhouyx commented on #30525
Close as the change has already been merged.

[2020-10-31 00:08] #30525 closed

[2020-10-31 00:16] kristoferbaxter commented on #30857
Another option, this is using attemptResize based on orientation change but is denied since it's in the viewport.

[2020-10-31 10:54] arunvc opened #30938 "🚨 Error: [amp-instagram] This endpoint is deprecated."
Amp instagram  throws error in browser console, any alternative solution

[code]
![image](https://user-images.githubusercontent.com/9069988/97777271-0f8e6780-1b95-11eb-842c-5eeed7a65a5f.png)

On click of url https://www.instagram.com/p/CG_v_NFpreN/media/?size=l
[code]

Stack trace
[code]

/cc @ampproject/release-on-duty

[2020-10-31 11:00] matthiasrohmer opened #30939 "amp-animation play state on page reload with page already scrolled"
## What's the issue?

Not quite sure if that's expected behavior but something I stumble over once in a while. `amp-animation`s triggered by `enter` and `exit` events do not get played at all if a user has already scrolled and then reloads the page or comes back to the page via browser history in browsers that restore scroll position.

## How do we reproduce the issue?

Go to https://stories.googl

[2020-10-31 13:53] kevinkimball commented on #30810
Yes, what @zhouyx said. Specifically, FID only resolves after user interaction with the page, and CLS/LCP are only resolved after the page becomes hidden/inactive. I think in the case of CLS/LCP it may make sense to also add a timeout (say, send these metrics after 5 seconds) to aid in metrics collection on origin.

[2020-10-31 14:00] kevinkimball opened #30940 "Improve amp-analytics documentation for async macros & Core Web Vitals"
## Describe the new feature or change to an existing feature you'd like to see

Improve documentation to discourage use of async macros for timers/events. Note that this will delay the dispatch of requests until the macros are fulfilled.

Document fulfillment time for core web vital metrics

## Describe alternatives you've considered

n/a

## Additional context

Prevent confusion as seen in https:

[2020-10-31 14:02] yalattas opened #30941 "🚨 Error: [error message]"
I installed AMP but it seems not able to initialize due to missing component which is dom
I installed php-xml on the EC2. Yet, same issue appearing

I moved my website from another host and migrate it through wp migrate and re-configured the EC2 to maintain same configurations

Appreciate your support
---

Error message
-> AMP plugin unable to initialize.

The following PHP extension is missing: d

[2020-10-31 19:22] joaopsrleal commented on #25609
I've been taking a look at this FR.

A quick and somewhat hacky fix for this, would be to clear the date property we provide to the Picker component when responding to the [onDateChange event](https://github.com/ampproject/amphtml/blob/55ac520ca649f068aea56edf0fb15447df95c389/extensions/amp-date-picker/0.1/amp-date-picker.js#L1479-L1488).

Instead, I was thinking that we could maybe add this funct

[2020-10-31 21:07] #22127 closed

[2020-11-01 05:07] micajuine-ho commented on #30903
Hi @jamescridland, the`type="gtag"` causes amp-analytics to use the [gtag.json](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors/gtag.json) vendor config. This config uses the [config-rewriter](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md#dynamically-rewrite-a-configuration) module, to fetch a custom config from t

[2020-11-01 05:12] micajuine-ho commented on #30430
closed via #30464

[2020-11-01 05:12] #30430 closed

[2020-11-01 05:13] micajuine-ho commented on #30905
Hi @dero, I am testing this locally but I am unable to reproduce this error. Are you able to reproduce this outside of codepen.io environment?

[2020-11-01 09:58] dero commented on #30905
Hi @micajuine-ho – thanks for the quick reply!

Yes, I've encountered the issue on a project I'm working on and the issue is still there. The project is not live yet and is not shareable ATM, but the issue is identical to what the pen shows.

I've also taken the code and ran it on a local webserver and the issue is still there.

Are you able to verify and reproduce the issue on codepen?

Any chanc

[2020-11-01 10:50] jamescridland commented on #30903
Thanks for trying to help.

`gtag` is [not listed as a valid vendor type](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics-vendors/?format=websites#vendors) in the `<amp-analytics>` documentation. I find this confusing.

Nevertheless, it successfully calls [this file](https://cdn.ampproject.org/rtv/012010132225003/v0/analytics-vendors/gtag.json)

[2020-11-01 17:45] SebastianZ commented on #30430
Thank you for adding this to the documentation, @micajuine-ho!

Sebastian

[2020-11-01 18:36] ro-hitr commented on #30938
I encountered the exact same issue but still am looking for a fix. Apparently Facebook made some changes to Instagram's API which replaces the legacy 'oEmbed' with their new version. A GET request is now required to fetch the image/vid which includes a unique access token (probably to track/security reasons).
More on this on their official website: [https://developers.facebook.com/docs/instagram/o

[2020-11-02 10:26] ampprojectbot opened #30945 "🚨 Error: Uncaught ReferenceError: fetch is not defined"
Details
---
**Error report:** [link](http://go/ampe/CPfhrOai5o2kfw)
**First seen:** Oct 16, 2018
**Frequency:** ~ 1,653/day

Stacktrace
---
<pre><code>Error: Uncaught ReferenceError: fetch is not defined
    at uncaught-referenceerror-fetch-is-not-defined.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2020-11-02 14:02] caroqliu commented on #25609
Contributing the change at the level of react-dates SGTM. Will we have to bump our version of `react-dates` as well?

[2020-11-02 14:47] GhufranShahid opened #30947 "Can "amp-position-observer" used in an inner div scroll"
I am using "amp-position-observer" to hid an amp-img from a scrolling div but "amp-position-observer" is only working on the whole page not inner scrolling div.

![image](https://user-images.githubusercontent.com/37533270/97881067-bc0e4c00-1d43-11eb-9d86-91c61486c502.png)

In the image I marked red color on the scroll on which I want to hide the red marked image but it is hiding on blue marked scr

[2020-11-02 15:06] SimonHogstromRonbol opened #30949 "amp-autocomplete should respect an already set autocomplete attribute."
## Describe the new feature or change to an existing feature you'd like to see

@caroqliu

As discussed on the amphtml slack chat in this thread.
https://amphtml.slack.com/archives/C9HPA6HGB/p1603982346083600

currently, amp-autocomplete overwrites the autocomplete attribute of an input and sets it to off.

I have a use case, seen here: https://www.fridaforsikring.dk/skadesanmeldelse
where i'm get

[2020-11-02 16:22] emmett9001 commented on #29324
Any updates @zhouyx?

[2020-11-02 18:09] dvoytenko opened #30952 "Bento: custom-element/Preact binding"
The binding rules are documented [here](https://docs.google.com/document/d/1mOjmA56HNZGfTtLH51kFpZXSadpk0YYoEikxe6TJA_0/edit?pli=1#heading=h.mhuayjp9i9sl).

TODO:

- [x] Standard wrappers for size-defined vs content elements
- [x] Light DOM and Shadow DOM rules
- [x] Detached DOM model
- [x] Install shadow stylesheets
- [x] Simple attribute types
- [x] Boolean attribute types
- [x] Attribute prefi

[2020-11-02 18:35] iingato opened #30953 "[amp-next-page] [v0.1] Overrides runtime params set by viewer (including paddingTop)"
## What's the issue?

When embedded in a viewer, amp-next-page appears to override [params](https://github.com/ampproject/amphtml/blob/7119dec068d31b26c914535c4653395b901296ce/extensions/amp-viewer-integration/amp-doc-viewer-api.md#amp-runtime-parameters) set by the viewer (in particular [`paddingTop`](https://github.com/ampproject/amphtml/blob/631fb3d6eb4a36e4a988b3dd648165ef4f2b3e92/src/service/

[2020-11-02 18:56] alanorozco opened #30954 "Publish Storybook with releases"
#30926 introduces a gulp task to generate a static Storybook. This allows reviewers to test components on a UI on every change (like for a PR [here](https://storage.googleapis.com/amp-test-website-1/amp_dist_82969/examples/storybook/preact/index.html)).

[code]

This generates a directory: `examples/storybook/`, containing `preact/` and `amp/`.

We can publish this directory to the CDN to allow te

[2020-11-02 18:58] alanorozco commented on #30954
/cc @ampproject/wg-outreach

[2020-11-02 18:59] #30810 closed

[2020-11-02 19:15] danielrozenberg commented on #30954
This shouldn't be too difficult to implement, I believe this would only require a configuration change to the CDN (_maybe_ some code change, but probably not) - two questions that need an answer are:
1. Would we want this to be affected by opt-in cookies? (I think it makes sense)
2. Would we want to have diversion experiments on this (i.e., send some % of traffic to different versions, or send eve

[2020-11-02 19:53] alanorozco commented on #30954
I'd like for @kristoferbaxter to weigh in with a more official answer, but this is what my instinct tells me:

Agreed, the opt-in channel should be reflected.

This is not a production environment, but a testing tool for publishers to tinker with. So I'm not sure what the value is brought from diverting to a certain % of traffic. If it's not difficult to have this behavior with the current CDN con

[2020-11-02 20:20] rebeccanthomas opened #30956 "Add native `img` to the AMP validator"
## Add native `img` tag to the AMP Validator

This issue falls under the umbrella of changes which are a part of the '`amp-img` deprecation': #30442.

We will be adding the native `img` tag to the validator which will allow for native `img` tags which require the following attributes...

Standard  image:

- `alt`
- `decoding=async`
- `height`
- `loading=lazy`
- `src`
- `width`

Hero image:

- `alt

[2020-11-02 20:21] demianrenzulli commented on #30953
Hi @nainar are you know, Forbes is one of the early adopters of <amp-next-page> and they're currently using the latest version of the component.

Nevertheless they are still experimenting this issue in the amp viewer. Any help is highly appreciated!

[2020-11-02 20:37] kristoferbaxter commented on #30954
Potentially, but with the ability to override would be prudent (in the Storybook UI).

I don't think we should do this by default, but instead include a dropdown in the storybook UI (where TBD) that allows the visitor of the storybook to choose which branch to use (this could also be used to help isolate issues between releases).

[2020-11-02 21:32] nainar opened #30957 "iOS 14.1: Offscreen images are not loaded correctly after scrolling to viewport"
Search "Bed Bath and Beyond" on Google Search, and click the first AMP page that leads to the homepage.

This opens up the AMP viewer. Scroll down to the "Make your office work for you" section, which contains a few horizontal cards.

Scroll right to show the third card. You'll see the third card remain blank like below:

The same issue happens on Chrome and Safari on iOS 14.1 (Tested on an iPhone

[2020-11-02 21:32] nainar commented on #30957
This seems to be a regression on iOS in 14.1.

@Ichigo3d to confirm

[2020-11-02 21:35] honeybadgerdontcare commented on #30956
To be considered:

 - do not allow for ancestors that are `amp-` elements
 - do not allow for ancestors of `template`
 - consider limitations regarding `amp-bind`

[2020-11-02 21:38] kristoferbaxter commented on #30956
For a first revision yes, if an image has a `amp-` custom element ancestor, it must be a `amp-img`. This could be loosened in the future but would be a component by component change.

Sound reasonable for a first revision, can re-visit after first phase.

Which limitations are you thinking?

[2020-11-02 21:41] honeybadgerdontcare commented on #30956
We weren't exactly sure and it's an action item to determine if any need to exist. We plan to follow up with @jridgewell or @choumx to see if they thought this would be something to consider.

In all things validation, we prefer to be more strict at first and open up later once we're sure that's the direction we want. The intention here is to confirm that this is okay.

[2020-11-02 21:45] honeybadgerdontcare commented on #30956
The Validator currently has a `disallowed_ancestor` [1] feature but not an `allowed_ancestor`. Is it a requirement to only allow some amp components to have this as a child when the time comes?

[1] https://github.com/ampproject/amphtml/blob/master/validator/validator.proto#L627

[2020-11-02 21:46] jonchenn commented on #30957
Thanks for filing this issue @nainar. I'm attaching the screenshot for the issue of offscreen image:

- The `<amp-img>` is missing the `<img>` tag, hence the blank image in the 3rd card in the carousel-like horizontal section.

![image (5)](https://user-images.githubusercontent.com/1644724/97922597-bbb58700-1d2a-11eb-88c5-ff53e41e2d38.png)

- Screenshot
![AMP iOS 14 issue](https://user-images.gith

[2020-11-02 22:35] rebeccanthomas opened #30958 "Modify various extensions to support the use of native `img` as a descendent"
## Describe the new feature or change to an existing feature you'd like to see
This change is part of the umbrella of changes which make up the `amp-img` deprecation: #30442
This change will also follow the implementation of: #30956 which will allow the use of native `img` tags in valid AMP documents.

The following components will require changes to support native `img` as children.
- Amp-auto-li

[2020-11-02 22:40] Gregable commented on #30409
Since this doesn't affect any existing usage, reducing the priority slightly.

[2020-11-03 07:58] rnkimani opened #30967 "AMP story player: cannot programmatically control the player"
## What's the issue?
- With the latest player versions(v0 and v1), every time I try to programmatically control the player, the stories don't show.
- It could also be handy if the docs are updated on how to use it with the recent versions.

## How do we reproduce the issue?
- Try using the new API as documented [here](https://github.com/ampproject/amphtml/issues/28416)

## What browsers are affect

[2020-11-03 08:01] rnkimani commented on #30967
Reproduced [here](https://svelte.dev/repl/22524365295644adbf4f154436af1724?version=3.29.4)

[2020-11-03 09:16] eduardcotmrf commented on #30810
Ok, thanks

[2020-11-03 09:19] nmtri-dev opened #30968 "amp-mustache cannot pass value to `src` attribute in amp-img"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-11-03 12:05] eduardcotmrf commented on #30810
Even though @zhouyx should be calculated with a timer, as the result is accumulative during all the session of the pageview. So if I put a trigger on visible, the normal result could be 0, but after some time, when the user has scrolled, loaded ads, etc... could be bigger. How can I retreive that accumulative measure without a timer?

[2020-11-03 12:44] bjalford commented on #30798
I've got an example on a dev site that I can replicate this issue 100% of the time [here](https://indy-web-dev.brightsites.co.uk/visual-story/32) - SSR optimised version, and the amp version [here](https://indy-web-dev.brightsites.co.uk/visual-story/32)

[2020-11-03 13:32] kevinkimball commented on #30810
So right now, only the accumulative score is exposed (which is why it waits until the page state changes to hidden). If you setup a separate event on: visible, that only tracked the CLS and LCP metrics, that would be sent when the page changed to hidden. I think zhouyx suggestion is just not to mix those variables into other triggers with other metrics you want collected.

[2020-11-03 13:35] Enriqe commented on #30967
I think you forgot to import the player CSS in your `<head>`.

[code]

more info:
https://github.com/ampproject/amphtml/blob/master/spec/amp-story-player.md#-amp-story-player

We will be sending new updates and documentation for the player today. Will link it here as well.

[2020-11-03 13:35] #30967 closed

[2020-11-03 13:40] eduardcotmrf commented on #30810
Ok, I understand then that when the page is inactive that's the CLS it's sended. Thanks!

[2020-11-03 15:56] eduardcotmrf commented on #30810
One last question, another option that maybe makes sense in order to use web vitals in timers, could be to make the $IF statement in analytics to resolve to false on pending results. So we could do:

[code]

What do you think?

[2020-11-03 16:09] Enriqe commented on #30798
This looks like a runtime / `amp-story` bug. @processprocess as STAMP on duty, would you mind taking a look? @ampproject/wg-stories

[2020-11-03 16:31] alanorozco opened #30974 "🚄 Release tracking issue for release 2010302236001"
# Release tracking issue

This issue tracks release [2010302236000](https://github.com/ampproject/amphtml/releases/tag/2010302236000). See what's new compared to stable [here](https://github.com/ampproject/amphtml/compare/2010132225003...2010302236000).

- [x] Release 2010302236000 promoted to Experimental and Beta (opt-in) channels (November 3, 2020, 8:38:49 AM GMT-8)
- [x] Release 2010302236000

[2020-11-03 16:40] alanorozco commented on #30954
I understand correctly, these are the changes to make:

### CDN

1. Ensure that CDN serves same Storybook as opt-in. (@danielrozenberg Probably nothing to do here?)

### Storybook

1. Allow setting opt-in cookie.
2. Allow picking `/rtv/.../*.js` binaries to select specific release.

(I don't think the required Storybook changes should block this, but @kristoferbaxter can let me know if he disagree

[2020-11-03 17:51] gmajoulet commented on #30798
@bjalford thanks for sending some examples! Can you check the links you sent? I can't open any of them here, and both look identical?
We'd like to fix this one asap, any help is really appreciated! Thank you.

[2020-11-03 17:57] bjalford commented on #30798
@gmajoulet I've updated the links - work now?

[2020-11-03 18:19] mauricengo-revolve commented on #27691
@morsssss Thanks for looking into this. Is there any update on these issues?

[2020-11-03 18:37] gmajoulet commented on #30798
They do, thank you! I found an issue and a tentative fix, we will need to run a lot more tests but we'll send a fix asap.

[2020-11-03 18:59] shemExelate opened #30979 "Add a way to get the consent string for analytics vendors"
## Add a way to get the consent string for analytics vendors

Some of our clients want to pass the consent string as part of their analytics data
[here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/customizing-extension-behaviors-on-consent.md#on-consent-string) it states that a way to do it is coming soon
so I was wondering when will it be possible to get it inside `<a

[2020-11-03 19:06] kevinkimball commented on #30810
@eduardcotmrf The whole if statement would not be evaluated until after largestContentfulPaint is resolved.

[2020-11-03 19:31] gmajoulet opened #30983 "[Story QA] Add a visual diff test for a transformed AMP document"
Add a visual diff test for a transformed AMP document.

Context: https://github.com/ampproject/amphtml/issues/30798

cc @ampproject/wg-stories

[2020-11-03 19:32] gmajoulet commented on #30798
The issue only repro's in compiled mode (run gulp with the `--compiled` flag, might have to rebuild after each code modification as the watch didn't work for me (cache?)), with transformed AMP. I double checked with Malte and he was using transformed documents too.

The code tries to access the `ampdoc` before it's available and everything fails. This is caused by the service getters in `amp-story

[2020-11-03 19:34] gmajoulet commented on #30798
@processprocess is taking over :))
FYI @ampproject/wg-stories

[2020-11-03 19:55] #30905 closed

[2020-11-03 20:01] micajuine-ho commented on #30979
Hi @shemExelate, sending the collected consent string to amp-analytics through macro is not currently supported. It seems like a reasonable request, and I think we can add this to our next sprint.

[2020-11-03 20:38] B0nifaci0 opened #30985 "Erro de datos estructurados"
al validar mis pst en la herramienta de datos estructurados me sale el siguiente error aqui les dejo la imagen del error
https://tinyurl.com/y6kj6uj4

[2020-11-03 20:52] processprocess commented on #30798
Noting that in addition to @gmajoulet steps, throttling the network to `Fast 3G` will expose the bug.

[2020-11-03 22:33] inakivb commented on #30810
It will be awesome that $DEFAULT or $IF evaluate the variables that are deferred to the default or false value, it will alow much simpler implementations

[2020-11-03 22:40] #15454 closed

[2020-11-03 22:40] #22120 closed

[2020-11-03 22:40] #22106 closed

[2020-11-03 22:54] shishirm opened #30990 "Performance impact of web player embeds"
## What's the issue?

Embedding the we player on a page has an impact to performance, specifically the interactivity and the visual completeness of the page.

## How do we reproduce the issue?

1. URL with web player embedded below the fold -> https://travisj.dev/2020/10/07/32-ideas-for-jumpropes-for-september-2020/
2. URL with web player embedded above the fold -> https://travisj.dev/2020/10/07/a

[2020-11-03 23:51] Enriqe commented on #30377
I was able to squeeze it in #30914. The docs will be merged in #30988. Keep in mind there is a release freeze, but you could start reading the docs / opting-in to nightly to try it out.

[2020-11-03 23:51] #30377 closed

[2020-11-03 23:57] micajuine-ho commented on #30903
Thanks for your response. I guess the answer to your original question is that it's a documentation issue. We should document that sometimes using `type='gtag'` might not work out of the box.

Using the `gtag` config with your original `UA-1002XXXXX-1` gtag_id results in the gtag server returning a config with triggers. With your new gtag_id `G-BR6HXXXXX` a config is not being returned from their

[2020-11-04 02:10] jamescridland commented on #30903
Thanks.

So, when [this page](https://developers.google.com/analytics/devguides/collection/amp-analytics/) says: "When amp-analytics is configured with a Google Analytics property ID, page_view events are automatically logged by default" then this is entirely incorrect?

This screenshot...
![Screen Shot 2020-11-04 at 12 08 49 pm](https://user-images.githubusercontent.com/231941/98060916-8463e900-1

[2020-11-04 02:40] gurodrigues opened #30997 "amp-analytics doesn't find an element"
## What's the issue?

I am using `amp-analytics` to track my ads, but when using `amp-analytic` with `amp-auto-ads` it doesn’t track for the elements created after the `amp-analytics` has been loaded.

I believe this is happening with all amp extensions that dynamically loads elements on the page and not only `amp-auto-ads`.

Error message

## How do we reproduce the issue?

I created 2 environmen

[2020-11-04 04:16] jamescridland commented on #30903
I have [reported this in the Google Analytics forum](https://support.google.com/analytics/thread/80865614?hl=en).

[2020-11-04 05:00] #21380 closed

[2020-11-04 10:17] smonnier commented on #24621
+1 on this one. GA4 is now the default Analytics experience . We would need an ETA for a better planning for some of our clients. Thanks a lot

[2020-11-04 10:22] greghuet opened #30999 "CMP / Funding Choices for AMP"
Hi, we are working on converting all our sites to AMP responsive tech, for desktop / mobile users. We are using Adsense and Ad Manager, and we have some issues with the update of the rules regarding consent for advertising. As we still have some desktop sites in standard HTML, our Google Account Manager suggested that we use the Funding Choices CMP script. This solution is great as really simple t

[2020-11-04 13:45] Vint7r opened #31000 "Webp image with fallback/child and "auto-advance-after" causes incorrect work in AMP Story"
## What's the issue?

When I use _.webp_ image with _fallback/child_ image (for not supported browsers) with "_auto-advance-after"_ my AMP Story breaks: lagged scrolling, no auto-sliding.
[Example](https://examples.webstoryz.com/test_story/story2.html)

I tried all documented methods to use _.webp_ and _fallback/child_ image, but nothins works with _"auto-advance-after"_

When I delete _"auto-adva

[2020-11-04 15:22] newmuis commented on #21380
This issue is pretty old at this point, but for posterity, you should now be able to achieve this on your site by using the [`amp-story-player`](https://amp.dev/documentation/guides-and-tutorials/integrate/embed-stories/).

[2020-11-04 16:15] micajuine-ho commented on #30903
Awesome, thank you for reporting it to the GA team. I will close this issue for now, but if you need help setting up your analytics config, please feel free to reopen.

[2020-11-04 16:19] #30798 closed

[2020-11-04 16:23] newmuis commented on #15091
This is still an issue, though it can be worked around

[2020-11-04 16:30] zerkshaban commented on #25960
Somehow I am facing the same error but for amp-bind, did you got anything on this ?

[2020-11-04 17:28] #29894 closed

[2020-11-04 18:31] kevinkimball commented on #27330
@martinschierle I don't believe this is amp-ad related. I do see a warning related to the amp-sidebar usage (relating to where it is in the DOM). Does the issue persist if that is fixed?

[2020-11-04 19:33] Zerototh opened #31003 "CLS of 1.0 caused by "async" for https://cdn.ampproject.org/v0.js"
## What's the issue?

Async for https://cdn.ampproject.org/v0.js is causing 1 Cumulative Layout Shift that penalizes our amp-only site with a CLS of magnitude 1.0.

Removing async removes the CLS issue but the "async" for v0.js is mandatory for amp.

## How do we reproduce the issue?
Step 0. Make a boilerplate amp-html: https://amp.dev/boilerplate/
Step 1. Add some "lorem ipsum".
Step 2. Inspect p

[2020-11-04 19:35] samouri opened #31004 "🌸 Cherry-pick request for #30937 into #30974 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #30937 | #30937 |     **YES

[2020-11-04 20:08] micajuine-ho commented on #30997
Hi @gurodrigues, how are you dynamically loading you ad?

[2020-11-04 20:10] gurodrigues commented on #30997
Hi @micajuine-ho, I am using `amp-auto-ads` extension to dynamically load ads.

[2020-11-04 21:07] kristoferbaxter commented on #30930
Looks like there were no items to discuss today. Closing.

[2020-11-04 21:07] #30930 closed

[2020-11-04 21:46] joaopsrleal commented on #25609
Given that this is effectively introducing a feature in a backward-compatible way, we could consider bumping the minor version of the repo. If that happens, then yes. I'll file a FR in the react-dates repo and we can have this discussion there.

[2020-11-04 21:56] micajuine-ho commented on #30979
Hi @shemExelate, just wanted to make sure you are aware that sending the TC String could make the request URL very long, which might exceed the browser/server limit.

[2020-11-04 22:11] kristoferbaxter commented on #30954
No disagreement here! Thanks @alanorozco.

[2020-11-04 22:22] Enriqe commented on #30461
We just posted an update regarding the player (formerly "dev preview") here: https://github.com/ampproject/amphtml/blob/master/src/amp-story-player/README.md

[2020-11-04 23:25] dmanek commented on #24687
Reassigning to me since this issue has been inactive for a while.

[2020-11-05 00:37] alanorozco commented on #30565
Gave it a go on #30565.

@ilknureren This PR ensures that the video is keyboard operable, but I have a couple of questions that I'd love for @caroqliu to weigh in.

[2020-11-05 00:50] zhouyx commented on #29324
Thanks for the reminder. @rebeccanthomas will work on this soon.

[2020-11-05 01:42] jamescridland commented on #30903
This shouldn't be closed. Putting a link in a community forum isn't closing this issue.

[2020-11-05 01:43] jamescridland commented on #30903
AMP-HTML's own documentation is incorrect. Please reopen this issue.

[2020-11-05 01:43] gerardorn opened #31009 "Failed to integrate amp-analytics with Firebase Analytics"
## What's the issue?

When integrating AMP with Firebase Analytics no information is registered

## How do we reproduce the issue?

1. Create a firebase project with a new Analytics Account in the Firebase Console
2. Register a web application with Firebase Hosting enabled
3. Initialize a local Firebase Project with the Firebase CLI with Hosting integration
4. Create a simple AMP page using the am

[2020-11-05 04:58] newmuis commented on #22174
I still think we should take this on if we haven't already.  /cc @gmajoulet

[2020-11-05 06:28] rnkimani opened #31010 "AMP Player: Cannot manipulate history API as it causes issues"
## What's the issue?
- I have been trying to implement custom functionality using the history API but it has issues.
- This is because the history contains multiple states and causes flaky functionality.
- This is because the player already uses history API to go from one story to another

## Which AMP version is affected?
- Latest

cc @Enriqe

[2020-11-05 13:18] sushiltechvision commented on #26058
An AMP component 'script' tag is present, but unused.
Sir, there is no ad on my site, yet I am having this problem, please help me
url https://blogseohelp.com/blogger-blog-me-seo-kaise-kare/
![amp error](https://user-images.githubusercontent.com/73654269/98245746-63cf8800-1f97-11eb-87f1-e23f062bee7e.JPG)

[2020-11-05 13:29] mhalabi-google opened #31013 "I2I: Google Read Aloud Player"
I2I: Google Read Aloud Player

## Summary
Google has developed a technology to **read web articles out loud**. The technology can take public web pages and transform their content into longform audio using Text-to-Speech. The technology is already available in [Google Assistant](https://blog.google/products/assistant/easier-access-web-pages-let-assistant-read-it-aloud/) ([video](https://www.youtub

[2020-11-05 13:42] mhalabi-google commented on #30932
I would like to discuss #31013.

/cc @alanorozco
/cc @omrishefi

[2020-11-05 13:51] fricikoma commented on #26058
HiThis is the amp version of your site, not the one you validated: https://blogseohelp.com/blogger-blog-me-seo-kaise-kare/amp/Kind regards,Ferenc

    On Thursday, November 5, 2020, 03:18:23 PM GMT+2, sushil kumar <notifications@github.com> wrote:

An AMP component 'script' tag is present, but unused.
Sir, there is no ad on my site, yet I am having this problem, please help me
url https://blogseoh

[2020-11-05 15:22] ivansurif commented on #25190
Hi @andyblackwell I just tested inserting CLIENT_ID within amp-ad and it's not populating. You mentioned whitelisting, do you know when it will actually be available?

[2020-11-05 15:33] Enriqe commented on #31010
Could you please provide more details on what you are trying to achieve? Listing the repro steps and the expected / actual behavior would be very helpful.

[2020-11-05 16:20] samouri opened #31015 "Outdated references to ampbyexample.com"
**summary**
Throughout the codebase there are _37_ references to ampbyexample.com. Most of these are html files, with some being markdown or documentation.

Since ampbyexample is no longer a functional website, it would be good to remove references to it.

[2020-11-05 16:38] gmajoulet commented on #23659
This was fixed a while ago, when Stories starting taking ownership of AMP elements within page attachments.

[2020-11-05 16:38] #23659 closed

[2020-11-05 16:39] gmajoulet commented on #18986
@newmuis I was about to close this as it might be a Player feature but saw your comment, do you still think there's value in doing it from an invididual Story?

[2020-11-05 16:40] gmajoulet commented on #22820
Fixed by #23754

[2020-11-05 16:40] #22820 closed

[2020-11-05 16:40] gmajoulet commented on #22329
@processprocess I believe you might have fixed this one?

[2020-11-05 16:45] gmajoulet commented on #22174
I remember working on this at some point and figuring out it was much harder than we thought, but honestly can't remember the context. My guess would be that we either (1) lacked knowledge on how to add an attribute (here `loop`) to `amp-video` and then propagate it to the `video` element, regardless of who controls it, or (2) were struggling with race conditions between amp-video.layoutCallback a

[2020-11-05 16:52] micajuine-ho commented on #30903
I see your point. I can put a PR out to fix our docs :)

[2020-11-05 16:57] processprocess commented on #22329
This needs to be double checked and tested with elements of different heights and widths.
fly-in also has this problem in some aspect ratios #30790

[2020-11-05 17:10] micajuine-ho commented on #31009
Hi @gerardorn , thank you for your issue.

Firebase currently does not have an integration with `amp-analytics`. For a list of vendors that do integrate with `amp-analytics`, please see [here](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics-vendors/).

[2020-11-05 17:15] micajuine-ho commented on #19083
Closed via #20096

[2020-11-05 17:15] #19083 closed

[2020-11-05 17:52] gerardorn commented on #31009
Hey @micajuine-ho
Thanks for the reply

It would be nice to have or maybe an example of how to integrate them if thats possible

[2020-11-05 18:04] gerardorn commented on #31009
I've found an issue that might be related
https://github.com/ampproject/amphtml/issues/30903#issue-731978373

Thanks @micajuine-ho

[2020-11-05 18:04] #31009 closed

[2020-11-05 19:02] jridgewell commented on #31004
Approved.

[2020-11-05 19:10] samouri commented on #31004
@alanorozco: I think you are the current release eng.
Please let me know when you're able to CP this into Beta!

[2020-11-05 19:24] micajuine-ho commented on #30997
Thanks @gurodrigues. I am curious, why do you want to track the ad visibility yourself? Most of these ad vendors will provide tracking scripts in their creative and show the tracking data through their platform.

[2020-11-05 19:49] micajuine-ho commented on #30903
Reading through the issue again, it seems like the problem problem with the documentation is this:

Using the `type` attribute allows `amp-analytics` to pull in a stored config; this config doesn't have to be from a vendor. I believe in this case, using the Google Tag Manager config should help format your tracking requests (sent to your analytics vendor) in a specific way that GTM can do stuff wi

[2020-11-05 20:45] zhouyx commented on #30442
I created an example page using `aspect-ratio` as @cramforce suggested and the abuse example provided by @Gregable   https://jsbin.com/sananijaji/1/edit?html,css,output
It didn't work as I would expect.

1. Chrome and Firefox reports `aspect-ratio: attr(width) / attr(height)` as invalid attribute after I turn on the experiment. I had to switch to actual number to get rid of the error. `aspect-rati

[2020-11-05 20:50] gurodrigues commented on #30997
@micajuine-ho Usually the most ad vendors doesn't provide an advanced report in real time. Using `amp-analytics` I am able to extract the report the way i need and also in the moment i need using a streaming process (real time).

I can also use this info to compare the reports with the ad vendors reports, so i can check if there is something wrong

[2020-11-05 20:58] ivansurif commented on #25190
(the purpose is to insert CLIENT_ID within the "rtc-config" element, not "json". Is this in the roadmap?

[2020-11-05 21:31] samouri commented on #30952
all todo items are done! is this closable?

[2020-11-05 21:36] samouri commented on #29783
@rcebulko: I believe I fixed this in https://github.com/ampproject/amphtml/pull/30933. Do you know if there is a way to see test runs for a specific test over time in Travis so that we can close both this and https://github.com/ampproject/amphtml/issues/30661?

If not, then I vote lets close them pre-emptively and reopen if people notice they are failing again.

[2020-11-05 21:39] #30908 closed

[2020-11-05 21:56] samouri commented on #29783
Ryan just pointed me [here](http://amp-test-cases.appspot.com/test-results/history/e773cd70eb0181c8806f6b2d742dd92f). Closing 🎉

[2020-11-05 21:56] #29783 closed

[2020-11-05 22:36] micajuine-ho commented on #30997
I see. Unfortunately, `amp-analytics` cannot track dynamically loaded ads through `amp-auto-ads`. Is this feature something that you need?

[2020-11-05 23:24] zhouyx commented on #30442
Synced with @kristoferbaxter offline on this.
We could apply the `aspect-ratio` @cramforce suggested in the future once browsers ships support. However based on research today, that didn't help eliminate the issue.

We would still want to support native `<img>` because we think the performance gain is worth compromising on the potential image size abuse. We are aware that resize of the `<img>` may

[2020-11-05 23:33] morsssss commented on #27691
Thanks for the ping. Let me check...

[2020-11-06 00:01] dvoytenko commented on #30952
I'll keep it as a palceholder for a bit longer. The binding questions popup and it's easier to track them from the same bug #

[2020-11-06 00:26] arifbaskan opened #31020 "html extension removal"
Hello, how do I name the html extension of my website?

I have a windows server.

Is there a code for this? help please.

I want to delete the index.html part of my site name.

can we delete html and rename it?

[2020-11-06 00:36] raxsha commented on #30821
Why is the first page 0 instead of a >0 value? I think it would be useful to have a different value when the first page is viewed compared to a story not being viewed at all. ie. If you see the cover page, you've seen a part of the story, not none of the story.

So my proposed change would be: (currentPageIndex + 1) / totalPages

Before
0    | 0.25 |  0.5  | 0.75
After
0.25  |   0.5  | 0.75 | 1

W

[2020-11-06 00:53] #22123 closed

[2020-11-06 00:55] flaviori commented on #27691
This seems to be related to https://github.com/ampproject/amphtml/issues/25179 where the query and fragment parameters are stripped out from the iframe on back.

In particular, on back the iframe tries to load the following which is a 404
https://restaurant-ikyu-com.cdn.ampproject.org/v/s/restaurant.ikyu.com/sd/101876/amp/

Whereas the URL actually available on the AMP Cache is:
https://restaurant

[2020-11-06 00:58] flaviori commented on #27691
@choumx @ericfs

[2020-11-06 01:03] flaviori commented on #27691
Worth noting that this only reproducible in the standalone viewer as far as I can see.
Whereas if you get to the same page from the viewer in Google Search, the bug won't occur.

[2020-11-06 01:44] uskay commented on #27691
Thanks @flaviori for looking into this. This thread is talking about two different issues as far as I can tell.

1. The original issue this thread points out. Viewer results in 404 b/c of missing query parameters.
2. The issue @coreyching [points out](https://github.com/ampproject/amphtml/issues/27691#issuecomment-716868604) relates to #30838 where it does show the page on Safari browser back but

[2020-11-06 01:46] uskay commented on #30838
cc/ @flaviori , @choumx and @ericfs
Have you seen this behaviour?

[2020-11-06 09:11] gilbertococchi commented on #30999
@jeffjose FYI

[2020-11-06 10:45] lucasmodena commented on #26249
Waiting for this as well. Can't figure out what I'm doing wrong (using Galaxy Note9).
Open carousel, swipe from slide 1 to next. As soon as it finishes sliding to slide 2, it blinks and shows slide 3. Repeat process, as soon as it finishes sliding to 4, it blinks and shows 5, and so on... Interestingly, going backwards works fine.

Here's an example: https://youtu.be/lge7pQMCLmc

[2020-11-06 11:01] yarbogach77 commented on #31000
Guys, fix it please..
web Story do not working

[2020-11-06 13:08] nikhilambre commented on #30857
Even if element is not in view port and you scroll to it, It doesn't resize on on orientation changed, blank space will be there.

[2020-11-06 13:28] krdwan commented on #29783
Awesome thanks @samouri !!!

[2020-11-06 13:34] monstermage commented on #26249
Yes indeed.

https://aironellc.com is a perfect example.

On Fri, Nov 6, 2020, 5:45 AM lucasmodena <notifications@github.com> wrote:

[2020-11-06 14:12] processprocess opened #31027 "Desktop panels pagination tap target misalignment"
The `.prev-container` and `.next-container` are misaligned in desktop mode.

This math may be the issue:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/amp-story-desktop-panels.css#L76-L84

![unnamed](https://user-images.githubusercontent.com/3860311/98375464-21965d00-2010-11eb-979a-39a696e675a6.png)

cc @ampproject/wg-stories

[2020-11-06 16:13] rcebulko commented on #30666
@erwinmombay Do you think you'll have time to take a look at this in the next week or so?

[2020-11-06 17:25] rcebulko commented on #30664
Bump @ampproject/wg-components

[2020-11-06 18:04] gmajoulet commented on #30821
Fixed by https://github.com/ampproject/amphtml/pull/31024

[2020-11-06 18:04] #30821 closed

[2020-11-06 18:12] mszylkowski opened #31031 "[Story Content layout] Create extension to preview story responsiveness"
Create an extension similar to dev-tools that can be triggered with a flag on the URL of any story.

- [x] Create extension separate from amp-story and take over the experience

- [x] Add view of multiple devices

- [x] Add page experience iframe

- [x] Add validation logs

    - [ ] Integrate console errors (eg duplicate page id)

- [ ] Integrate UX designs

- [ ] Show bleed zones in stories if p

[2020-11-06 18:31] alanorozco commented on #31004
@samouri  2010302236001 has been available as opt-in as of yesterday, 2:41:42 PM GMT-8.

[2020-11-06 18:31] #31004 closed

[2020-11-06 18:36] mszylkowski opened #31032 "[Story Content layout] I2I: Aspect-ratio with bleed-zone"
## Summary

We want to allow story creators to have backgrounds that stay in-line with aspect-ratio contents but also provide extra bleed-zone to cover for taller or wider devices.

Documents can set up a page with bleed-zone by defining:

[code]
## Design document

TBA

## Motivation

We want to make all stories more responsive and consistent across different devices and experiences.

[2020-11-06 18:47] samouri commented on #30661
I think I just missed that somehow. made a new pr to unskip that test

[2020-11-06 18:58] mszylkowski opened #31034 "[Story Content layout] I2I: Remove viewport warning"
## Summary

We want to remove the warning that prevents stories from being shown in all devices and experiences, and improve the experience in unconventional devices by removing the warning "Expand width/height of the window to view the story".

![image](https://user-images.githubusercontent.com/22420856/98404240-38e94080-2038-11eb-814b-264174b57631.png)

## Design document

When removing the warn

[2020-11-06 19:11] zhouyx commented on #30810
One proposal was to introduce synchronously resolving version of those macros. cc @micajuine-ho

[2020-11-06 20:29] samouri commented on #30968
@tri-nguyen-nfq: can you provide a repro case using just `amphtml`? most of us here don't know Laravel so won't be able to help much with the integration

[2020-11-06 21:10] #30565 closed

[2020-11-06 21:28] ericfs commented on #30838
Thanks for the detailed report. I think I was able to reproduce it.

Repro steps:
- Using Safari in iOS Simulator 13.4.1
- Open https://www.google.com/amp/s/akiba-pc.watch.impress.co.jp/docs/sp/1160/581/amp.index.html
- Click the "PC" link
- Navigate back
- Try to click the same "PC" link
  - nothing happens
- Scroll the page up and down
- Try to click the same "PC" link
  - It works

Long press t

[2020-11-06 21:40] ericfs commented on #27691
I'm having trouble reproducing the 404. @choumx, Are the query and fragment only stripped in certain cases?

[2020-11-06 21:43] morsssss commented on #26499
This was a nice idea! Does anyone have time to work on it in the near future?

@SimonHogstromRonbol , have you ever considered contributing to AMP yourself? If you'd like to work on this feature, we can help you get started.

[2020-11-06 22:08] jerimiahwelch commented on #30691
Any updates on an eta for a solution for this? Even some kind of error would be helpful. Since the amp-script doesn't run, we currently have no way to notify the user what is wrong.

[2020-11-06 22:10] a-straus commented on #30566
Hi @micajuine-ho

I'm working with @vyoungnyc on this issue.  We're able to use the linker feature to forward the CID from proxy origin to non-proxy origin.  Thank you!  I've confirmed that we have the CID in the url.

The plan is to then use the [cookies feature](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-receiving.md) to receive the CID and save it to a

[2020-11-06 22:10] powerivq commented on #30890
As the first step, we are tracking the ad vendor's traffic share.

[2020-11-06 23:29] Gregable commented on #30442
I think the validator would have a very difficult time avoiding the width/height override in CSS. Certainly inline style is easier to enforce, but as you said, it's trivial to move to stylesheet.

Applying the aspect-ratio in the future is risky as it could break pages that were working before. I don't know how to evaluate that trade off easily, especially at this decision point. We should probabl

[2020-11-06 23:37] zhouyx commented on #30442
If we say we rely on publishers providing the correct width and height, I sorta agree that it makes sense to not have validator enforce the  `width/height`.

cc @kristoferbaxter

We will proceed with `width`/`height` requirement as first step. It's always easy to remove the requirement.

[2020-11-07 00:55] micajuine-ho commented on #30810
I do remember this proposal. Are there any other variables we would like to create synchronous version of? I assume the web vitals would be the main focus (except for CLS).

[2020-11-07 01:03] newmuis commented on #18986
It might be a player feature, but:

(1) I wonder if that should actually be implemented as a feature in our open source player (e.g. swapping enter fullscreen icon to exit fullscreen icon)

(2) maybe we still need to prototype even in a codepen just to double-check the current state of the fullscreen transition in the current day

[2020-11-07 08:42] schlessera commented on #30726
The following attributes should also be allowed without size penalty in inline styles: `object-position` & `object-fit`.

These are currently being copied as regular attributes during SSR operations by all Optimizer implementations, but then the AMP Runtime moves them to inline styles, causing a layout shift. To avoid that layout shift, the SSR operation should immediately turn them into an inline

[2020-11-07 20:49] shinoharake opened #31038 "Page experience issue"
Details
---

| Metric                  | Field data  | Lab data    |
|-------------------------|-------------|-------------|
| LCP                     | <pass/fail> | <pass/fail> |
| FID                     | <pass/fail> | <pass/fail> |
| CLS                     | <pass/fail> | <pass/fail> |
| HTTPS                   | <pass/fail> | <pass/fail> |
| Safe browsing           | <pass/fail> | <pass/fai

[2020-11-08 01:44] kristoferbaxter commented on #31038
Closing due to no details provided.

Please comment if there is data to provide and we can reopen.

[2020-11-08 01:44] #31038 closed

[2020-11-08 21:44] willangley opened #31041 "<amp-mathml> renders fonts too small for surrounding text"
## What's the issue?

`<amp-mathml>` requests MathJax match ex-height, by using a config that includes `matchFontHeight: true`. But since MathJax is running in an iframe, it matches the ex-height of the user agent stylesheet font instead.

In Chrome on Mac, it renders with an ex-height of 9.1px unconditionally.

If you've increased the font size on your website, it looks noticeably too small. I di

[2020-11-08 21:47] willangley commented on #31041
Affected page on my website: https://willangley.org/ampproject-amphtml31041/

![Screen Shot 2020-11-08 at 4 47 02 PM](https://user-images.githubusercontent.com/999089/98485124-0a0ece00-21e2-11eb-9691-9830da557944.png)

[2020-11-08 22:00] willangley commented on #31041
Suggested resolution: add support for configuring MathJax styles.

Mirroring or merging an [in-line configuration](https://docs.mathjax.org/en/v2.7-latest/configuration.html#using-in-line-configuration-options), aka `<script type="text/x-mathjax-config">`, from the page into its MathJax iframes might work for this.

[2020-11-09 03:17] camelburrito opened #31042 "[amp-sidebar] Toolbar Broken because layout not triggered when viewport size changes"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-11-09 11:19] shemExelate commented on #30979
@micajuine-ho
good point, sending via image will not have the same issue?

[2020-11-09 13:01] Sebschock commented on #31003
I'm also experiencing this issue.

Performance with: `<script acync src="https://cdn.ampproject.org/lts/v0.js"></script>`
<img width="706" alt="Skærmbillede 2020-11-09 kl  13 59 34" src="https://user-images.githubusercontent.com/6289019/98544163-e3a96b00-2293-11eb-9b77-f235398a0ece.png">

Performance with: `<script src="https://cdn.ampproject.org/lts/v0.js"></script>`
<img width="708" alt="Skærmbi

[2020-11-09 13:54] kristoferbaxter commented on #31003
Triaging to @kevinkimball.

I'll also take a look when starting work today.

Theoretically, this makes little sense but we will root cause it.

[2020-11-09 14:18] gurodrigues commented on #30997
Denakop is the first Ad Network in Brazil delivering real time analytics for its supported ad formats, our platform allows publishers to quickly enable and disable multiple ads format without changing a single line in the code.

We usually delivery ads through doubleclick using the `amp-ad` extension and we collect the ad information using `amp-analytics`, without collecting the ad information at

[2020-11-09 15:23] erwinmombay commented on #30666
@rcebulko yes thanks for bringing it up again. Ill prioritize this into my sprint. Thanks

[2020-11-09 15:41] zarzosa opened #31045 "amp-analytics (gtag) incompatibility with Google Analytics 4"
## What's the issue?

Google recently released GA4, and it does not have AMP support.
https://support.google.com/analytics/answer/9964640?hl=en

When inserting an ID that contains the format G-XXXXXXXXXX, the following error is obtained in the console:
[AmpAnalytics <unknown id>] No triggers were found in the config. No analytics data will be sent.

## How do we reproduce the issue?

I have left t

[2020-11-09 16:25] samouri opened #31046 "Rename buildCallback and layoutCallback"
**summary**
I think it would make sense to drop the `Callback` suffix from `buildCallback` and `layoutCallback`. The current naming was inspired by CustomElement callbacks, like `connectedCallback` and `disconnectedCallback`.

The CE names makes sense because they refer to how the functions are being called in response to an event that just happened. For build and layout, however, they don't make

[2020-11-09 16:25] mszylkowski opened #31047 "[amp-story-player] Add support to go to page by ID"
## Describe the new feature or change to an existing feature you'd like to see

Expose a method on the player that allows users to send an event to the story to switchTo a page by pageId.

For instance, players that have stories with an index (eg: menu with sections) should be able to go to a section programmatically.

## Describe alternatives you've considered

The method .go() with pageDelta is

[2020-11-09 16:35] choumx commented on #27691
I can repro this too. Flavio is right that this is caused by #25179.

Query params are stripped before navigation (on Safari 13+, in viewer) and restored either immediately (`target=_blank`) or when restoring page from back/forward cache (`target=_top`).

Looks like the issue is the case where the page is not stored in bfcache and needs to do a cold load (need to investigate when this happens). In

[2020-11-09 16:44] samouri commented on #30691
@jerimiahwelch: I plan on prioritizing this for next week

[2020-11-09 16:54] gmajoulet commented on #27615
@kristoferbaxter do you have guidance on how to proceed here?

[2020-11-09 17:13] kristoferbaxter commented on #31003
Given the example, I created a sample here to illustrate: https://lavender-jumpsuit.glitch.me/

1. As you can see this uses the 'async' attribute on `v0.js`.
<img width="579" alt="Screen Shot 2020-11-09 at 9 03 22 AM" src="https://user-images.githubusercontent.com/61764/98572411-7208f700-226a-11eb-9606-a6906099a490.png">

2. There is a Layout Shift once JavaScript loads (as expected).
<img width="

[2020-11-09 17:15] #30788 closed

[2020-11-09 17:23] cw-ashish-sharma opened #31049 "Amp-list gets rendered twice sometimes in the browser from google cache"
At times our amp-list is getting rendered twice.
I noticed when tracking were fired twice for a unique element
url: https://www.google.com/amp/s/www.carwale.com/amp/used/cars-in-navi-mumbai/

example:
![image](https://user-images.githubusercontent.com/49865803/98574201-a5d13480-22dd-11eb-979c-7e04bf7fd4ae.png)
as you can see the element is present 4 times but is should be present only 2 times
1 fo

[2020-11-09 17:24] cw-ashish-sharma commented on #31049
@choumx  can you please help me

[2020-11-09 17:26] cramforce commented on #30442
@dvoytenko Let's discuss with Chrome folks how aspect-ratio doesn't override `height:auto`. @zhouyx Can't you just set `height: unset !important;`?

[2020-11-09 17:27] cw-ashish-sharma commented on #31049
@dvoytenko can you please help me out

[2020-11-09 17:29] #30983 closed

[2020-11-09 17:49] omar-dulaimi commented on #20120
Hello,
this still occurs:

[code]

[2020-11-09 17:57] choumx commented on #27691
Poked around a little more.

- It appears the feature is still useful in Safari 14 for preserving document referrer
- I can only repro inconsistently on my MBP and iPhone

@abeak @uskay Do we have a sense of how many users are impacted by this?

@ampproject/wg-caching Is it possible to add a fallback for missing required query params for cache URLs? E.g. missing `amp_js_v=0.1` causes 404: https://

[2020-11-09 18:02] zhouyx commented on #30442
Didn't know that, i can try

[2020-11-09 18:09] micajuine-ho commented on #30997
Is using `amp-auto-ads` required here?

[2020-11-09 18:16] dvoytenko commented on #30911
Both server and client-sides are confirmed to not allow this vector.

[2020-11-09 18:16] #30911 closed

[2020-11-09 18:17] rcebulko commented on #20120
Hello @omar-dulaimi ,

This is an expected failure case that can't be avoided in all cases, so this error is reported and logged but does not necessarily indicate anything is broken.

[2020-11-09 18:19] #30979 closed

[2020-11-09 18:23] omar-dulaimi commented on #20120
Thanks for clarifying. Although I've never seen it before until I started implementing amp app banner today. I was thinking that these errors were the reason why I'm unable to see the banner on mobile, even though no validation errors are present.

[2020-11-09 18:27] dvoytenko commented on #30442
@zhouyx Could you pls ping me and we can go over https://jsbin.com/biveqehoho/2/edit?html,css,output? I'm not yet sure what's the problem is from the description. `height:auto` is exactly what allows the aspect ratio to apply.

[2020-11-09 18:28] rcebulko commented on #20120
Consider reaching out on the [#using-amp](https://amphtml.slack.com/archives/C9HPA6HGB) channel of the AMP Slack!

[2020-11-09 18:28] dvoytenko commented on #31049
/to @kristoferbaxter for triage.

[2020-11-09 18:29] Gregable commented on #27691
@choumx Can you elaborate a little more on what the fallback should do here? I'm not sure I follow the whole issue well.

[2020-11-09 18:37] ericfs commented on #27691
I think @seanjallen may have had a proposal about how to simplify `amp_js_v` usage, which could help here. I'll need to dig to find the proposal.

[2020-11-09 18:53] gurodrigues commented on #30997
Yes, we are using `amp-auto-ads` extension to allow publishers to enable or disable the ad formats with only one click through our platform, so they don't need to insert/edit anything in the code.

[2020-11-09 19:11] micajuine-ho commented on #30947
Hi @GhufranShahid the `amp-position-observer` component monitors the position of elements relative to the viewport and works in conjunction with other components such as `amp-animation` to trigger other functionality, such as starting an animation.

What are you trying to accomplish by adding the `amp-position-observer` component to the left-most scroll portion of the page?

[2020-11-09 19:12] realPrimoh opened #31052 "[amp-lightbox:1.0] Bento tracking issue"
## High-level requirements
| Consideration  | Ready when | Status |
| ------------- | ------------- | ------- |
| Component compatibility | [Conformance with 0.1 (see below)](https://amp.dev/documentation/components/amp-lightbox) | ✅  |
| Testing | Unit tests and e2e tests from 0.1 | ✅  |
| Internationalization | n/a | n/a |
| Analytics | n/a | n/a |
| Accessibility | Audit performed, [0.1 for ref

[2020-11-09 19:55] choumx commented on #27691
I believe the `?amp_js_v` param controls the version of `amp-viewer-integration-X.Y.js` script that's injected into the page. If it's missing, we could fallback to a default version (currently 0.1) instead of 404'ing.

However, this is not a complete recovery since the iframe fragment would still be missing. This means paddingTop is not set (viewer header occlusion) and no viewer capabilities (swi

[2020-11-09 19:56] micajuine-ho commented on #30997
Ok that sounds good. After talking with @zhouyx, we see 3 options here to build feature:

1. Have amp-analytics listen for a custom signal from amp-auto-ads when it inserts a new ad onto page. This will cause amp-analytics to then add that trigger.
2. Change amp-auto-ads to insert an amp-analytics element each time it ads a new ad onto the page.
3. Change amp-analytics to listen for dynamically ad

[2020-11-09 20:09] micajuine-ho commented on #30979
Hi @shemExelate, I misspoke; you should use `xhr` or `beacon` transport method in conjunction with the [`useBody` option ](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md#extra-url-parameters-), and then it will not have the issue of :)

[2020-11-09 20:12] zhouyx commented on #30442
`height: unset !important;` override the height set by `height` attribute as well.

[2020-11-09 20:23] cramforce commented on #30442
If we do it this way, it should probably be guarded by a css-class that allows applies the aspect ratio.

[2020-11-09 20:47] micajuine-ho commented on #30566
Hmmm maybe we could do something like this:

When CLIENT_ID is triggered by runtime, check to see if we have `amp-analytics` + CookieWriter.
If so, then have analytics return a promise (with an arbitrary timeout) that resolves when the CookieWriter finishes.

As long as the CookieWriter finishes writing before the timeout, the CID will be correct when the `promptUiSrc` iframe loads.

Thoughts @zho

[2020-11-09 21:16] micajuine-ho opened #31054 "amp-carousel-0.2 slides rtl not working as expected"
Repro: https://mysterious-foil-chokeberry.glitch.me

Left arrow should be shown and should 'advance' to next slide. Right arrow should be hidden.

[2020-11-09 21:17] honeybadgerdontcare commented on #30726
This is not the case for all SSR implementations though. Let's start with those attributes inserted by SSR implementations. We can look at additional feature requests post that.

[2020-11-09 22:22] gurodrigues commented on #30997
@micajuine-ho Glad to know that you understand the problem and are willing to help us :)

Any of the 3 options mentioned above would solve this problem, another alternative would be:
- Adding the triggers as an attribute on the element itself, so we could avoid listening for dynamic elements as suggested on option 3 which I believe it can be heavy depending on how it is structured. In addition thi

[2020-11-09 22:43] choumx commented on #27691
/to @ampproject/wg-analytics

[2020-11-09 23:40] gmajoulet commented on #30461
Can we close this ticket @Enriqe?

[2020-11-10 00:09] samouri commented on #31049
@cw-ashish-sharma: are you able to provide a small reproduction of the bug? That would greatly help us get to the root of the issue. A good tool for doing that is http://glitch.me/. Thanks!

[2020-11-10 04:34] cw-ashish-sharma commented on #31049
@samouri I will get you the snippet but may I know how will it help to fix the caching in google Because locally even I see the list rendered only once.

[2020-11-10 05:58] GhufranShahid commented on #30947
Thanks for you reply, @micajuine-ho I want to hide the arrow I marked red(shown in screenshot) on the scroll end of left-most scroll of the page.

[2020-11-10 10:26] omar-dulaimi commented on #20120
Hey @rcebulko
Unfortunately I don't have a @google email account. Is it possible to get an invitation?

[2020-11-10 10:27] SimonHogstromRonbol commented on #28921
Has anyone had a chance to work on this issue yet?

We've implemented this on several sites for several clients, and we've had a ton of questions about "why is the animation wierd?" and "is this broken?" and we've been assuring our clients that it is being worked on with a P2 priority level "soon".

[2020-11-10 13:12] ivansurif commented on #28231
Hi @massa1240 and @calebcordry, reaching out to you because this would be required to work on the rtc attribute (it currently doesn't). That's the attribute that is used to place a request to an _[RTC-compatible endpoint that returns this targeting data](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/doubleclick-rtc.md)_
The json attribute will not res

[2020-11-10 13:46] 7487938887 commented on #25012
I have the same issue.
Any updates ?

[2020-11-10 14:17] ivansurif commented on #28231
Hi @massa1240 and @calebcordry, adding to the latter comment, please note that I'm reaching out on behalf of Piano DMP, which is used by major publishers globally. This issue has turned into a blocker for us affecting AMP implementations

[2020-11-10 15:20] Enriqe commented on #20120
@omar-dulaimi you don't need a Google account to join the slack channel, you can find the info on how to join at https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#discussion-channels

[2020-11-10 15:24] Enriqe commented on #30461
What do you think @raovs? Do you want to keep this open until the Q4 update? or should we close this now that we have sent the November update?

[2020-11-10 16:39] processprocess opened #31061 "[amp-story-360] gyroscope mode, bad frame on page navigation"
In gyroscope mode the first frame after navigation does not have the orientation correctly set.
This is very visible on devices with lower GPU. It's noticeable on high power devices for a fraction of a second but it still catches the eye.

Only the active page's 360 components are updated in the current implementation.
The `isActivePage` check is slightly asynchronous which may cause an old frame

[2020-11-10 16:48] processprocess opened #31062 "[amp-story-360] animation does not always play"
Sometimes happens on load.
Sometimes happens when navigating back.

In addition, sometimes the animation appears to play at 2x speed.

![Nov-10-2020 12-03-41](https://user-images.githubusercontent.com/3860311/98706448-dac8a000-234c-11eb-9525-3ff89edeb8d1.gif)

cc @ampproject/wg-stories @t0mg

[2020-11-10 17:00] chopinesque opened #31063 "AMP page showing invalid when visiting with Chrome despite showing valid when checking with validator"
## What's the issue?
https://stackoverflow.com/questions/64757682/amp-page-showing-invalid-when-visiting-with-chrome-despite-showing-valid-when-ch

AMP page showing invalid when visiting via Chrome following a Google search, despite showing valid when checking with amp validators.

## How do we reproduce the issue?
To replicate the issue, use Chrome from a phone and run a Google search for **pre-o