[2016-09-27 00:22] cramforce commented on #5245
![LGTM](https://camo.githubusercontent.com/c13eeb81b1485ccc0d2b248f19360c7ba2419167/687474703a2f2f6a756e6b796172642e64616d6f776d6f772e636f6d2f353633)

[2016-09-27 00:26] cramforce commented on #5245
I'm all for a smaller boilerplate if it gives sufficient coverage. Since the worst case here is FOIC (right?), it is fine if we loose some older Fx coverage.

[2016-09-27 00:34] erwinmombay commented on #5246
@cramforce I'm having a hell of a time figuring out where the approval field is right now in the github PAI and i even tried querying with preview Accept headers like:

"Accept:application/vnd.github.polaris-preview"
"Accept:application/vnd.github.machine-man-preview+json"
"Accept:application/vnd.github.inertia-preview+json"

will test around a bit more and try and ping people on support/twitter 😸

[2016-09-27 00:36] Gregable commented on #5245
Does it make sense to reduce coverage only to save a few tens of bytes?

[2016-09-27 00:40] sriramkrish85 commented on #5199
This is 1% on prod now - will be 100% soon!

[2016-09-27 00:40] erwinmombay commented on #5246
guessing it might not be exposed yet in the current API or even the announced preview API's

[2016-09-27 00:43] estelle commented on #5245
-ms-animation was never supported. According to http://caniuse.com/#search=css%20animation, -o- was never necessary either.

[2016-09-27 00:44] cramforce commented on #5245
The primary benefit it less eye sore, I guess :)

[2016-09-27 00:54] aghassemi commented on #5233
Had a quick chat with @jasti, I will take a look at some IMA samples and come up with some approaches we can discuss.

[2016-09-27 01:12] dvoytenko commented on #5230
@jridgewell I can't see either of these happening: `fixedLayer` is created in the constructor - it can't be `undefined`. How many errors of this kind are we seeing?

[2016-09-27 01:21] pbakaus commented on #829
Quick update, I just learned that you can append ".pibb" to any Gist url, which will render the contents directly in HTML (interestingly, without head but who cares). This makes it viable to use amp-iframe to insert Gists into a page, but we still don't know the resulting height. Thoughts?

[2016-09-27 02:30] mkhatib commented on #5239
@dvoytenko looks like we might have a problem with the fixed layer on iOS in landscape mode. This seems to affect both `sticky-ads` and `amp-app-banner` inside `viewer.html` only.

I am thinking this might be about the viewer.html example code. Are we missing something there?

[2016-09-27 02:32] mkhatib commented on #5141
This is a duplicate issue to #5239 - will work with @dvoytenko to figure out what is happening on that issue.

[2016-09-27 02:32] #5141 closed

[2016-09-27 02:44] estelle commented on #5245
@cramforce I think the other benefit is not demonstrating such code. People learn from project code examples. Wouldn't want anyone to think declaring all those animations and keyframes was necessary

[2016-09-27 03:30] mkhatib commented on #4935
I am not sure I understand this correctly. But this might just be because I put the code for the amp-banner on the top of page in the example, this can be easily moved to the bottom of the page if that's the idea.

[2016-09-27 03:39] mkhatib commented on #4942
So I am unable to reproduce this, and @aghassemi has experimented with this as well, it seems the document still gets back the focus and so the user can resume reading the page from start by swiping right.

I am not sure if anything else need to be done here.

[2016-09-27 03:41] dvoytenko commented on #5230
And it's definitely `fixedLayer_`, not `viewport` - that code is not inlined (which I'm a bit surprised by).

[2016-09-27 03:47] saurabhdixit123456 commented on #5220
how can we solve this issue

[2016-09-27 03:53] sriramkrish85 commented on #5230
@dvoytenko - this is one or 2 occurrences in the past 2 days on canary.

[2016-09-27 04:03] dvoytenko commented on #5230
Hmm. Should we go 5% and see if there are more logs on this?

[2016-09-27 04:06] sriramkrish85 commented on #5230
I think we should , it would not hurt us. Also given that we have 2 weeks of code on canary , it would be useful to find if there are more errors

[2016-09-27 04:28] smeder commented on #4078
Fwiw, the general approach should solve our problem (session attribution when doing deep-linking) and would prefer either the JSON "metadata" version or the attribute.

[2016-09-27 05:58] yang-wei commented on #5234
From the example I see, to start using `renderStart` api, ad request has to emit an event to let amp-ad know that ad is successfully fetched. For e.g https://github.com/ampproject/amphtml/blob/216a628337fd472520bd839c312f82f1d839fde2/ads/google/doubleclick.js#L261

I believe not all ad network support this kind of event, instead of emit an event after fetching ad, we just insert the ad into DOM. T

[2016-09-27 08:02] Nicola1976 commented on #5188
Hello,
I confirm that the problem had been reported and solved as you can see in this old ticket.

**https://github.com/ampproject/amphtml/issues/2633**

As suggested by Erwin Mombay we added amp-analitycs to allow the definition of the CID _(.... to add amp-analytics on your page, as amp-analytics is required for cid (client id) generation on amp-user-notification.)_.
I therefore guarantee that e

[2016-09-27 12:49] frazjp65 commented on #5234
I have the same dilemma as yang-wei. My ad network adds the ad tag to the DOM, but does not trigger an event before it is rendered. I can call `renderStart` right before I add it to the DOM, but it is not really rendering at that point (because it hasn't even called our ad server at that point). We do trigger an event after the ad is rendered, but it seems like that is too late.

Also, my ad units

[2016-09-27 14:10] julien51 commented on #4555
I am not sure lifting the 50k limit to 100k would make things much better.
I understand that the goal of using `<style amp-custom>` is to reduce latency but at the same time it means that there is no efficient way to cache the styles sheets across multiple documents. If you load 10 articles from the same publishing entity, you load 10 times 50k worth of CSS when you could really have loaded that j

[2016-09-27 14:29] cramforce commented on #4555
Other models are certainly possible. E.g. a 30KB site wide CSS file + allowing 20KB inline or some variation thereof.

The real goal is to motivate CSS hygiene. So far, AMP is achieving this goal. No site can make their CSS "append only", which is in stark contrast to most CSS on the internet that rarely gets a rule removed. Want to render that "Christmas Special 2013"? Cool, CSS is still there :)

[2016-09-27 14:29] ericlindley-g commented on #4935
That makes sense—may be worth testing to see if that works, and then we can include a recommendation in a11y guidelines in the documentation.

[2016-09-27 14:32] ericlindley-g commented on #4935
Though actually, it may make more sense to keep the banner before the content, even if it visually is below it in the first viewport (often these app install banners sit above the content anyway). You wouldn't want the user to have to swipe through the entire article to get to the banner, so unless there's some other solution we can keep it how it is. What do you think?

[2016-09-27 14:33] cramforce commented on #5220
Try to find what is adding the `kid_directed_site` attribute and make it stop.

[2016-09-27 14:47] shawnbuso commented on #5233
Thanks for the info. The SDK itself is not open source, but the implementation can be (we already have an [open source implementation for video.js](https://github.com/googleads/videojs-ima)). I look forward to your input!

[2016-09-27 15:03] cramforce commented on #5246
Besides the API, I was mostly wondering about a query like
https://github.com/ampproject/amphtml/pulls?q=is%3Aopen+is%3Apr+author%3Acramforce+label%3ALGTM

I don't want to block this, though. Switching to approval-only is probably
a good idea.

On Mon, Sep 26, 2016 at 8:40 PM, erwin mombay <notifications@github.com>
wrote:

[2016-09-27 15:12] simonferndriger opened #5259 "YouTube size too big in IE11"
1. Open https://www.ampproject.org/docs/get_started/about-amp.html in InternetExplorer 11 (Windows 10 Desktop)
2. You should see a way too big YouTube player (screenshot below)

![screenshot](https://cloud.githubusercontent.com/assets/1435963/18879686/8aa54804-84d5-11e6-9615-17f651e3cfcc.jpg)

[2016-09-27 15:20] erwinmombay commented on #5246
@cramforce yeah i'm not aware of a filter for it currently =/

[2016-09-27 15:55] shimonenator commented on #4643
@ericlindley-g when you implement a gallery, it displays right and left arrows to navigate within the gallery. When you wrap gallery into the new lightbox, it displays its own arrows, and prevents gallery interaction.

I think the only way in my case to address my use-case is to disable the concept of slides in the lightbox, and allow gallery to continue to be in charge of that. In other words, se

[2016-09-27 16:51] #5186 closed

[2016-09-27 16:54] Gregable commented on #5245
Sure, if something was never supported it's a no brainer. I'm asking about the cases that are there for older browsers. We could remove -ms-animation and leave -moz-animation / -o-animation, for example.

[2016-09-27 17:07] lannka commented on #5234
@yang-wei @frazjp65 renderStart API is not mandatory. But it helps:

- A better ad loading experience. We'll show loading indicator and fallback content at the right time point. #3817 #3831
- Support multi-size ad request. Pub can request multiple ad sizes in one request, and do a resize when the response arrives. #3176
- Client side ad latency reporting. And we would make this data available to a

[2016-09-27 17:17] dynes commented on #4844
When you say counting you would prefer more than just a binary value?  Something along the lines of, a count of requests since backgrounded that gets reset whenever the window is foregrounded?

[2016-09-27 17:23] rudygalfi commented on #4844
I'm OK with it being a binary value. I was just pointing out that my reading of `backgrounded` suggests that once the page meets the "backgrounded" condition, the value will always be 1 for future hits. However, if the desire is to count something like engaged time, then the value of `backgrounded` should reset to 0 once the page is back in the foreground, if it's desired to use `backgrounded` in

[2016-09-27 17:31] cramforce commented on #5245
@sriramkrish85 Could you re-do your original testing with the new snippet provided by @estelle?

[2016-09-27 17:44] estelle commented on #5245
IMHO, Best option is to allow but not require -o-, -moz- or even -webkit-

[2016-09-27 18:51] dynes commented on #4844
Yes, the desire would to reset backgrounded to 0 on foregrounded.  I have attached the pull request to should satisfy that requirement.  Unfortunately, the CI test failed, and I cannot reproduce that locally.  Is there a way to kick off the CI build again, or do I need to submit another commit in order to do that?

[2016-09-27 19:12] jridgewell commented on #5259
Giving to @rudygalfi, delegate to whoever has IE 11 installed.

[2016-09-27 19:43] rudygalfi commented on #4154
Note: This covers #3799.

[2016-09-27 20:00] Gregable commented on #4515
No major modern browsers currently support `longdesc` as far as I can tell. It seems that it's only used for javascript to access and then display something. I could be wrong, this is just from some quick research. Please correct me otherwise.

Considering the `<IMG>`tag is only allowed inside `<noscript>`, it will have no effect.

Normally I'm fine with validating something that has no effect. In

[2016-09-27 20:00] #4515 closed

[2016-09-27 20:11] mkhatib commented on #4935
I don't really have a preference but keeping it to the top sounds good to me. This is overall would be a decision for the publishers to decide where to put the code of the banner. Should we close this bug?

[2016-09-27 20:17] ericlindley-g commented on #4935
Agreed—thanks!

[2016-09-27 20:17] #4935 closed

[2016-09-27 20:24] AlanDalton opened #5265 "Amp HTML allows the attribute `content` only in the `meta` element"
Could you allow the attribute `content` in other elements, and not just in the `meta` element, please?

I’m trying to create an Amp HTML version of a website that I made for a barber. When I try to create an Amp HTML version, the Amp HTML validator says that the attribute `content` may not appear in `tr` or `span`. This  [project’s metadata examples](https://github.com/ampproject/amphtml/tree/mast

[2016-09-27 20:27] jridgewell commented on #5265
/to @Gregable

[2016-09-27 20:41] Gregable commented on #5265
`content` is not a legal HTML5 attribute for these tags. `<tr>` for example: [TR Element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr)

It is also not one of the [global HTML attributes](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes).

Can you use `data-content` instead? We allow `data-*` on all tags.

[2016-09-27 20:43] mkhatib opened #5266 "Document custom validations for forms"
We checked in custom validation in #5006. We need to update the `amp-form.md` docs to reflect that.

ITI: #3343

[2016-09-27 21:14] #4941 closed

[2016-09-27 21:20] AlanDalton commented on #5265
Ah…I didn’t know that. I presumed that `content` was allowed on tags such as `span` and `tr`. [The HTML5 validator allows `content` on `span` and `tr` on a website I made](https://validator.w3.org/nu/?showsource=yes&doc=http%3A%2F%2Fwww.WarrenTheBarber.com), and some examples on [Schema.org’s “Offer”](https://schema.org/Offer) webpage use `content` on `span` and `div`.

Thanks for your suggestion.

[2016-09-27 21:22] #5265 closed

[2016-09-27 21:25] mkhatib opened #5268 "Validator: Forms custom validation reporting"
We need to update validator for form to allow the following:

* `[custom-validation-reporting=show-first-on-submit|show-all-on-submit|as-you-go]` can optionally appear on `<form>` elements
* `[visible-when-invalid=badInput|customError|patternMismatch|rangeOverflow|rangeUnderflow|stepMismatch|tooLong|typeMismatch|valueMissing]` and `[validation-for=id-regex]` can optionally appear on any element in

[2016-09-27 21:31] erwinmombay opened #5269 "remove IE8 polyfills in `document-register-element`"
we can probably make IE8 = false so the code paths can be DCE'd

[2016-09-27 21:52] #5150 closed

[2016-09-27 22:21] dynes commented on #4844
Pull request has now passed CI.

[2016-09-27 22:23] rudygalfi commented on #4844
Added @avimehta to review, although it looks like @jridgewell is taking a look as well.

[2016-09-27 22:26] #5266 closed

[2016-09-27 22:33] mkhatib commented on #5259
Will test this out.

[2016-09-27 22:49] lannka opened #5273 "Move `incrementLoadingAds` to a later time for a4a ads"
As discussed, there's no need to block 3P ads rendering when the a4a ad response is on its way, instead, we can just do it right before creating the 3P ad iframe.

This will also simplify code by removing the logic that forces `decrementLoadingAds`.

[2016-09-27 23:38] mkhatib commented on #5259
This looks like a bug in how ampproject.org handles `<pre>` tags there. IE seems to take its full width as the content width, and since YT is responsive it expands it with that. Filed under ampproject/docs.

[2016-09-27 23:38] #5259 closed

[2016-09-28 00:06] mkhatib commented on #4570
Can't reproduce this on `IE 11.0.14393.0`. iframes are rendering as expected.

I can see the version mentioned is larger, so will try to update to that version and see if I can reproduce.

[2016-09-28 00:07] zhouyx commented on #4923
I can't reproduce this bug. I tested several ad with responsive layout, the `amp-ad` element and the child iframe all seem to resize correctly.
I do find that the first working version of the ad includes an ad script which the AMP version  doesn't. I assume the included ad script will resize the ad image. That's why the real ad image is not resized correctly in the AMP version.

[2016-09-28 00:17] mkhatib commented on #4570
@Polylike looks like [IE had a known-bug](https://support.microsoft.com/en-us/kb/3176757) in recent security updates with `iframe`.

Can you please update your IE and see if you're still seeing the issue? Please reopen if you do.

[2016-09-28 00:17] #4570 closed

[2016-09-28 01:32] mkhatib commented on #5268
One more thing, we also need to whitelist `submit-success` and `submit-error` attributes on dependents of form.

This allows users to instruct form to render submit success/error messages.
[code]

[2016-09-28 02:38] chrisdesrochers opened #5276 "Support for Call Tracking Vendors"
We utilize call tracking on our pages to track conversions that occur via phone. This is also a critical need for mobile landing pages. Current call tracking providers usually require the inclusion of an external JavaScript library which rewrite the phone numbers on a page with a unique tracking number. Requesting a component which standardizes call tracking implementation in AMP similar to how [a

[2016-09-28 05:31] Polylike commented on #4570
After Update, everything works fine. Looks like the known IE Bug. Thanks a lot.

[2016-09-28 05:49] kp25 commented on #5051
@Incaprules @rudygalfi what is the status of the issue ? any resolution so far ?

[2016-09-28 07:22] erwinmombay opened #5278 "TypeError: a.loadPromise is not a function in amp-image-lightbox"
TypeError: a.loadPromise is not a function
at (https://cdn.ampproject.org/rtv/001474668269104/v0/amp-image-lightbox-0.1.js:36)

[2016-09-28 07:56] erwinmombay opened #5280 "TypeError: task failed: amp-img#40#L amp-img#40: Cannot read property 'select' of null"
TypeError: task failed: amp-img#20#L amp-img#20: Cannot read property 'select' of null
at Ke (https://cdn.ampproject.org/rtv/001474668269104/v0.js:135)
at Je.f.layoutCallback (v0.js:134)
at amp-img.Fe.b.layoutCallback (v0.js:122)
at Uf.f.startLayout (v0.js:200)
at h (https://cdn.ampproject.org/rtv/001474668269104/v0.js:279)
at Rf.setState (https://cdn.ampproject.org/rtv/001474668269104/v0.js:190)

[2016-09-28 11:45] taf2 commented on #5276
It looks like the amp-analytics package might already be compatible with at least CallTrackingMetrics - working on this now to see if that's the case.

[2016-09-28 12:17] andscova commented on #5188
Hi,

doubling the request here, as we have the same problem.
Please advise.
Best,

a.

[2016-09-28 13:55] quarterto opened #5281 "amp-mustache data attribute values are stripped"
When a mustache is used in the value of a `data-*` attribute, the attribute value is stripped. It seems you're stripping unrecognised attributes, which is reasonable, but I don't think data attributes should come under this. This is preventing us using custom analytics vars in an `amp-list`.

## How do we reproduce the issue?

http://blog.153.io/amp-test-mustache/

Inspect element on the amp-list

[2016-09-28 14:04] taf2 commented on #5276
If anyone is interested I created a branch and started on adding support for CallTrackingMetrics.  I believe this is a generic enough start so the other vendors could use a similar approach and we'd still need to add some test coverage before this would probably be accepted.   Additionally, I hacked into the preconnect view code to inject our scripts this may or may not be okay.

here's my initial

[2016-09-28 14:37] cramforce commented on #5234
@frazjp65 How exactly do you define "after the ad is rendered"?

`renderStart` should be called just after the ad was rendered (otherwise you cannot know the dimensions yet), but ideally before all its sub resources have finished downloading.

[2016-09-28 14:52] cramforce commented on #5188
CC @jasti
I think we should change the existing "block on notification" feature to be independent of whether the ad requests a CID.

This code
https://github.com/ampproject/amphtml/blob/master/src/ad-cid.js#L33
would need to be lifted up to top level and call the `UserNotificationManager` service directly instead of going through `Cid`.

[2016-09-28 15:02] aghassemi opened #5282 "iOS can only play 1 inline video at a time"
Currently the autoplay UX breaks slightly on iOS if more than one autoplaying video is visible in the view port. This is because iOS can only play a single video at a time and automatically paused other videos.

When a visible autoplay video is paused by iOS because another autoplay video becomes visible, we need to track it and when the other video goes out of view, we should resume the previous

[2016-09-28 16:31] rudygalfi commented on #5276
cc @cramforce @avimehta

Looking at the design of the code, one concern I have is that this looks like it permits arbitrary 3P script execution, which is something that's now allowed in AMP except through sandboxed iframes. AMP must be able to have awareness of the performance characteristics of the scripts that run directly on the main page.

The design of amp-analytics enables an external reques

[2016-09-28 16:35] dvoytenko commented on #5245
This needs to be reviewed by @sriramkrish85 - he did a very extensive checking on all browsers.

[2016-09-28 16:39] sriramkrish85 commented on #5245
@estelle thanks for filing the bug, ill take a look at this.

[2016-09-28 16:45] taf2 commented on #5276
@rudygalfi - yeah that makes sense perhaps we could have call tracking providers publish a manifest of some sort that determines the page transformations to run?  The important thing to keep in mind is most vendors would have proprietary solutions.   They all generally work the same way - issue a unique tracking number given either a landing or referring URL pattern.    Some require an additional

[2016-09-28 16:47] dvoytenko commented on #5230
Do we have new info on this?

@jridgewell What's "Nessy"?

[2016-09-28 16:53] dvoytenko commented on #5225
All, this sounds like a very legitimate request but with some nuances.

@Gregable, I think we'll just continue using our `on` actions. Something like `<a on="tap:history.back">`.

@ericlindley-g, I'd like to hear more on this. But I'd ideally like to avoid going over viewer/document boundary. I.e. ideally I'd see this action going back in history for the document only: close lightbox, back to top,

[2016-09-28 16:57] rudygalfi commented on #5276
Thanks for the details @taf2. Yeah, to get this working in AMP, it sounds like we'll definitely need to explore a new approach than what's used today.

Once a design is ready that doesn't involve 3p script execution on the main AMP page, I'd suggest moving this discussion to a new Intent to Implement issue so we can flesh out the finer points of the extension behavior.

[2016-09-28 17:01] samiamorwas commented on #5062
Resolved in https://github.com/ampproject/amphtml/pull/5283

[2016-09-28 17:17] zhouyx commented on #4328
As discussed offline. We will keep the `apiHandler` class for cross domain iframe logic sharing. In the meanwhile, we will move UI related functionalities outside this `apiHandler` class and will import them as utility functions.

[2016-09-28 17:37] erwinmombay commented on #5230
@dvoytenko it refers to the loch ness monster which is elusive and might not be even real

[2016-09-28 17:38] erwinmombay commented on #5230
these errors seem to happen to some random method/property every week and it always seems to be on samsung browser + phone combo

[2016-09-28 17:38] dvoytenko commented on #5230
@erwinmombay Got it. Personally would have preferred "ragnarok" :)

[2016-09-28 17:40] erwinmombay commented on #5230
@dvoytenko @jridgewell i would have preferred the [chupacabra](https://en.wikipedia.org/wiki/Chupacabra)

[2016-09-28 17:51] ericlindley-g opened #5284 "Native app deep-link button"
Tracking issue for a button that deep-links to the same page in-app for iOS/Android, or (if the native app is not installed) links to the relevant app store page

[2016-09-28 18:02] mjrusso commented on #5156
@jasti (and team) — do you have an ETA on when version 1474668269104 will be released?

This project's README states:

It sounds like this just missed last Thursday's cutoff — is that the case?

[2016-09-28 18:08] sriramkrish85 commented on #5245
i think `-ms-animation` is needed for IE 10 per this- https://msdn.microsoft.com/library/hh673530.aspx

[2016-09-28 18:28] honeybadgerdontcare commented on #5268
- [visible-when-invalid=badInput|customError|patternMismatch|rangeOverflow|rangeUnderflow|stepMismatch|tooLong|typeMismatch|valueMissing] and [validation-for=id-regex] can **optionally appear on any element** in the document but must appear together on the element.

Is the request for `visible-when-invalid` and `validation-for` to appear on any element in the document? IOWs, any element in any doc

[2016-09-28 18:34] mkhatib commented on #5268
All attributes are form-related so it makes sense to only appear if a `form` exists (and hence `amp-form.js` is loaded).

<form> need to be present but these elements don't need to be descendants.

Sorry meant to say descendants - autocorrected. These can only appear as descendants of `<form>`

[2016-09-28 18:36] dvoytenko opened #5285 "Move all doc-level visibility calls to ampdoc from viewer"
Ampdoc is the best judge of its visibility state.

[2016-09-28 18:57] aghassemi opened #5286 "Support dependency mocking for testing"
We should integrate something like https://github.com/speedskater/babel-plugin-rewire so unit tests can mock sub dependencies.

`babel-plugin-rewire` requires babel 6+ however.

Integrating this should be fairly straight forward, we need to add `"plugins": ["babel-plugin-rewire"],` to `.babelrc` but we may want to add a `test` profile however to only use this plugin in test builds. Also need to se

[2016-09-28 19:13] dvoytenko commented on #5227
@cekvenich Templates themselves do not execute CORS, but elements that use them could. For instance, `amp-list` executes a CORS endpoint before executing a template. Could you explain your use case a bit so that we can discuss a recommendation?

[2016-09-28 19:14] dvoytenko commented on #5239
@mkhatib So what's happening? Does it not recalculate offsets when orientation changes?

[2016-09-28 19:27] ericlindley-g commented on #4643
I think I see—your requirements are as follows:

If you have implemented an existing `<amp-carousel type="carousel">` on your page, you would like to support the following interaction:

* User tap on an individual item in the carousel should open a lightbox containing the items in that carousel

With the following requirements:

* Ads should be supported in this lightbox carousel (this will be sup

[2016-09-28 19:33] cekvenich commented on #5227
Thx. The use case would be generic Read/Write, like reading or writing to
firebase http://masons-foundation.org/en/s_home/160703_fb-hello/story or
any other REST/CORS. I want to do master detail/click on a row and edit and
save the data.

On Wed, Sep 28, 2016 at 12:13 PM, Dima Voytenko <notifications@github.com>
wrote:

[2016-09-28 19:41] mkhatib commented on #5227
@cekvenich If you can write the read/write functionality as a `<form>` submission, you should be able to render response you get from firebase in `submit-success` template. See [forms.amp.html](https://github.com/ampproject/amphtml/blob/master/examples/forms.amp.html#L106) example.

`amp-list` would be the automatic `read` part without user-interaction (a form submission).

[2016-09-28 19:43] mkhatib commented on #5239
I don't think it's about orientation changes, because even when the page is loaded in landscape mode it seems this happens. Not entirely sure what's happening.

I am wondering if this might already be happening in the google.com AMP viewer - will try to look for examples that triggers a sticky ad or see if the user notification have the same issue or not - that might be easier to trigger.

[2016-09-28 19:50] aghassemi commented on #4988
http://www.washingtonpost.com/amphtml/world/as-the-west-pays-tribute-to-peres-many-arabs-recall-a-legacy-of-destruction/2016/09/28/c7525d3a-8581-11e6-b57d-dd49277af02f_story.html has been in top carousel for a day now with a badly stretched image. The issue is user defined width/height ratio on `amp-img` is wrong but if we had defaulted to `object-fit: contain` at least it would have looked okay (

[2016-09-28 19:56] rohitverma007 commented on #3343
Great work on this! Just wondering when will this be out of experimental stage since some components such as `submit-success` fail the AMP validation. I see that there's only one issue left which is in regards to fieldsets validation.

[2016-09-28 19:56] rohitverma007 commented on #4317
Would it make sense to skip the validation on `fieldset` and not add any `.-user-` fields to `fieldset` since all browsers besides chrome do not support it anyways?

[2016-09-28 19:59] rudygalfi commented on #3343
The `submit-success` validation is being tracked here: https://github.com/ampproject/amphtml/issues/5268#issuecomment-250048435

[2016-09-28 20:02] doodirock commented on #2820
So it there currently no way to use typekit as a font provider with AMP?

[2016-09-28 20:05] lannka commented on #5188
The regression is caused by #4854, which times out the CID blocking after 1s.

I agree with @cramforce we should lift up the notification block and make it independent to CID.

[2016-09-28 20:58] rohitverma007 commented on #3343
@rudygalfi I see, thanks! I hope this is the right place to ask but I was wondering If the form component is no longer prohibited as it passes the validation (after including the amp-form extension) and whether it can be used in production-ready AMP documents. The docs state it is as experimental and also state that experimental components will fail validation.

[2016-09-28 21:35] choumx opened #5291 "Migrate to Custom Elements V1"
- V0 is deprecated in Chrome and [V1 support is planned](https://developers.google.com/web/fundamentals/primers/customelements/?hl=en#historysupport) for mainstream browsers.
- Consider replacing current 12KB [document-register-element](https://github.com/WebReflection/document-register-element/blob/master/build/document-register-element.js) polyfill with smaller 7KB [webcomponentsjs](https://gith

[2016-09-28 21:37] rudygalfi commented on #2820
@doodirock Not currently.

@bramstein Any updates on Typekit support that you could share?

[2016-09-28 21:52] senthilp commented on #4771
@dvoytenko @rudygalfi Is the decision made to create a new component `amp-tabs` or for now to enhance `amp-accordion`? Also has any work started on this or assigned to a particular release?

[2016-09-28 22:02] ericlindley-g commented on #4771
@senthilp At this point, the most likely path is a new `amp-tabs` component. We've done some initial exploration for this approach, but it hasn't been assigned to a particular release yet.

[2016-09-28 22:32] ericlindley-g commented on #5020
One last clarification :)

Assuming that these anchor links just trigger naive page navigation (and that they don't update content on the current page, like the proposed [tabbed UI component](https://github.com/ampproject/amphtml/issues/4771)), then styling the link for the current page (bold, underline, etc, as in the Medium and Polymer examples) is already possible.

So the only feature needed h

[2016-09-28 22:46] ericlindley-g commented on #5167
@muxin — I'm assuming this is "Current", but please update if that's not quite right. Thanks!

[2016-09-28 22:50] erwinmombay opened #5293 "newly generated changelog should contain all commits up to the last non pre-release tag"
currently we generate only up to the last "tag" wherein that last tag could be another pre-release version. this makes it super confusing what the code is in canary/prod as you need to take the union of n number of versions to figure out what is rolled into the latest canary optin/percentage canary/prod

cc @tdrl @cramforce

[2016-09-28 22:53] ericlindley-g commented on #5164
It would be nice to support this. With 2 images we might just want to go back and forth (go right to second slide, return left to first slide, as opposed to looping in the same direction for carousels with 3+ slides)

[2016-09-28 23:30] ericlindley-g commented on #5219
Will be curious to hear if the `attr-scrolling` fix works for you, @tungvn. We can look into a dedicated component for facebook embedded comments, regardless.

[2016-09-28 23:34] #5278 closed

[2016-09-28 23:35] mkhatib opened #5294 "Refactor last instances of loadPromise import"
`amp-analytics/transport.js` and `amp-ad-api-handler.js` both import `loadPromise` refactor this to avoid importing it.

`amp-ad-api-handler` constructor already gets an instance of the base element passed as a first argument.

[2016-09-28 23:42] ericlindley-g commented on #5219
And you're welcome to contribute code to support embedded facebook comments, as well :)

[2016-09-28 23:52] Gregable opened #5295 "Discussion: Require a matching amp-* tag when including new amp extension javascript"
Currently, if an AMP page makes use of an amp extension (eg `<amp-foo>`) the AMP validator requires that the matching script tag be located on the page, for example:

[code]

However, the reverse is not true. You can include `amp-foo-0.1.js` without the presence of any `<amp-foo>` tag and it is not a validation error.

This results in an anti-pattern of folks generating a header for a site that in

[2016-09-29 00:43] erwinmombay commented on #5295
what about something like amp-access which is not a custom-element?

[2016-09-29 01:21] mkhatib opened #5296 "Black border (left, right, bottom) added to body after lightbox closes on iOS Safari"
Not sure if this is already in prod/canary. But it's in current master.

Repro:

1. Run local server
2. navigate to everything.amp.max.html example
3. Locate the Open Lightbox button
4. Click it
5. Click close dialog
6. Notice a visible black border appearing.

Computed styles for body changes as follow:
[code]

<img width="578" alt="screen shot 2016-09-28 at 5 55 59 pm" src="https://cloud.githubu

[2016-09-29 01:23] erwinmombay commented on #5296
@mkhatib can you checkout 1474310684773 and check if this bug is there?

[2016-09-29 01:43] cramforce commented on #5276
All sounds good.

Is the unique ID typically defined on the client side? If it is server
side, one could possibly just standardize the protocol that is used to talk
to the respective providers.

On Wed, Sep 28, 2016 at 9:57 AM, Rudy Galfi <notifications@github.com>
wrote:

[2016-09-29 01:59] cramforce commented on #5295
I hadn't thought about the fact that we can do this in a backward compatible manner. I like that a lot. This is one of the optimizations that the cache can do transparently, but it is definitely better to have the sources be correct to avoid weird side effects.

We do and will have a few "headless" extensions that do not need a script, but those can be special cased.

LGTM from me.

[2016-09-29 02:01] cramforce commented on #5219
I think the only reasonable way to really do this is an a new feature to `amp-facebook`. We should positively not encourage in-page scrolling.

[2016-09-29 02:17] #5296 closed

[2016-09-29 02:59] mkhatib opened #5301 "Image lightbox jumps the image around when opened"
Tested on iOS, though I think same thing happens on other browsers.

Image lightbox stretches the image to the right most of the page and then add a padding and the photo finally sits in its place.

[2016-09-29 03:50] pengyiwang commented on #4859
Hi, @ericlindley-g @aghassemi , when can we expect this issue is fixed.
I found there are some changes on the page, but the style is still messed up. It's really bad experience for our customers.
Besides, why only this page is displayed as amp page, actually we have a lot, but I only submit this page on google webmaster, I can see other page on webmaster, but they won't be displayed on search resu

[2016-09-29 04:18] ericlindley-g commented on #4859
@aghassemi Did you learn anything about this issue? FYI @sriramkrish85 @cramforce

I'm also escalating this internally at b/31813710 to rule out viewer issues

[2016-09-29 04:47] sriramkrish85 commented on #4859
looking at what might have caused this (looks the same with and without `amp-slidescroll`)

[2016-09-29 04:56] sriramkrish85 commented on #4859
[code]
Looks like the height is not defined (plus a few layout issues in the html) should have caused this.
The carousel remains almost hidden.

[2016-09-29 05:02] sriramkrish85 commented on #4859
@pengyiwang please give a height to the `amp-carousel`

[2016-09-29 05:29] pengyiwang commented on #4859
@sriramkrish85 where should I put a height? it's already there: height="667", actually it's a copy of sample here: https://ampbyexample.com/samples_templates/recipe/preview/ ,there is no issues when I test it on chrome developer tool.

[2016-09-29 05:37] pengyiwang commented on #4859
![eggplant_caponata_with_toasted_ciabatta__arugula___parmesan](https://cloud.githubusercontent.com/assets/13607061/18942212/cf33d39e-8649-11e6-9a8e-b3d40855b5bc.png)

[2016-09-29 05:42] sriramkrish85 commented on #4859
<img width="1192" alt="screen shot 2016-09-28 at 10 42 04 pm" src="https://cloud.githubusercontent.com/assets/1037311/18942307/e399e468-85cc-11e6-8476-8840831caf50.png">

[2016-09-29 05:43] sriramkrish85 commented on #4859
@pengyiwang we will debug and update the bug.

[2016-09-29 05:46] pengyiwang commented on #4859
@sriramkrish85 thank you! It seems <img> element isn't generated, but if I don't add #development=1, it works.  Does carousel affect the whole style?
![_2016-09-29_ 1_40_00__2_](https://cloud.githubusercontent.com/assets/13607061/18942362/10002692-864b-11e6-895d-d767b89e0a30.png)

[2016-09-29 05:50] pengyiwang commented on #4859
@sriramkrish85 I mean it's totally different when you see this page on chrome developer tool and mobile production.
<img width="250" src="https://cloud.githubusercontent.com/assets/13607061/18940411/85146f26-863a-11e6-8e82-9cdeb9ea2f16.jpg">

[2016-09-29 05:51] sriramkrish85 commented on #4859
yes - i believe the source of the problem is the same.

[2016-09-29 05:59] sriramkrish85 commented on #4859
looks like the element is not being laid-out for some reason from

https://www.google.com.hk/amp/s/www.peachdish.com/menus/V7LsTygAAAqbo1pI/eggplant-caponata-with-toasted-ciabatta-arugula--parmesan%3fsource=amp

but everything looks fine from

https://cdn.ampproject.org/v/s/www.peachdish.com/menus/V7LsTygAAAqbo1pI/eggplant-caponata-with-toasted-ciabatta-arugula--parmesan?source=amp&amp_js_v=5#orig

[2016-09-29 06:00] sriramkrish85 commented on #4859
CC @dvoytenko

[2016-09-29 06:28] amans1690 opened #5302 "Email sharing is not working iPhone 6 [OS : 10.0.1] Safari Browser."
Email sharing is not working iPhone 6 [OS : 10.0.1] Safari Browser.

## How do we reproduce the issue?

URL: https://www.google.co.in/amp/www.ahmedabadmirror.com/entertainment/bollywood/Krushna-Abhishek-Theres-leg-pulling-no-insulting-on-Comedy-Nights-Bachao/amp_articleshow/54578875.cms

1. Go to the above mention URL in Safari Browser of iOS 10.0.1 device.
2. Try sharing via email icon (next to g

[2016-09-29 07:56] tania0339 commented on #1877
I've been trying to have my pages validated for 2 weeks, making attempts every day!
I really don't know what's wrong with my "amp-boilerplate" portion of code.. As far as I can see there are no invalid spaces in between...
One example of page is http://www.fantagazzetta.com/amp/approfondimenti/racconti/29_09_2016/fantaracconti---vincere-grazie-a-bruno-fernandes-all-86-232667#development=1
The Cons

[2016-09-29 12:36] sandeepv10 opened #5304 "Inside the form action is not accepting "http url or custom url""
Hi Teams,

When we go to use the form but inside the form action is not accepting "http url or custom url" lilke below

[code]
Acknowledge please.

Thanks
Sandeep

[2016-09-29 14:35] frazjp65 commented on #5234
@cramforce

It is after the entire ad unit and all of the assets are loaded. I can add it then, but it would miss your ideal situation.

[2016-09-29 14:43] akshaylive commented on #4274
Looking forward to this as well. @dvoytenko can we have an option which doesn't consume the gestures? `<amp-lightbox enable-scroll="true">` or something similar? This wouldn't be too hard to implement I guess. LMK if you like the idea and want me to send a PR! Thanks :)

[2016-09-29 15:06] cramforce commented on #5234
@frazjp65 Yep, that may be too late, especially because we have a timeout that is designed to be reasonable for an ad request, but not for more requests. Any chance you could add an event for "Ad request just came back and we can start rendering"?

[2016-09-29 15:12] frazjp65 commented on #5234
@cramforce I think that is possible, but I am a bit backlogged and can't make any promises on when I will get that done.

[2016-09-29 15:19] e2corporation commented on #5234
@cramforce I have a branch in development to get revcontent updated with a
stripped down tag, and use of window.context.requestResize() to achieve
proper responsive height. Thank you.

On Sep 29, 2016 11:13 AM, "Joseph Frazer" <notifications@github.com> wrote:

[2016-09-29 15:24] sparks1975 opened #5305 "cannot change .-amp-accordion-header background color"
Background color of accordion header cannot be changed.  When background-color style is applied to the first child of the amp-accordion, it is overwritten by the .-amp-accordion-header style injected by the js.

[2016-09-29 15:42] aghassemi opened #5306 "Move <amp-video> and video-manager out of core (but stay backward compatible)"
We should move `<amp-video>` to its own extension but keep the builtin tag and have it load the extension.

`amp-video` depends on `video-manager` which is increasing in size and having these in core negatively effects the size of `v0.js` unnecessarily.

[2016-09-29 16:20] ericlindley-g commented on #5225
@dvoytenko  That makes a lot of sense—on reflection, it seems like the use-cases for an additional UI element in the document itself that navigates history back would only make sense within the context of that document, anyway, and not have particular need to close the viewer.

[2016-09-29 16:58] #5151 closed

[2016-09-29 17:00] corvusinaloeCMENA opened #5307 "White empty bar displayed when scrolling vertically"
When scrolling up and down, a white empty bar is displayed below the AMP carousel on immersive mode.

1 In Chrome Go to opt into "pan-y" at https://cdn.ampproject.org/experiments.html

2 In Chrome Go to opt into the "dev-channel" at https://cdn.ampproject.org/experiments.html

3  Go to www.google.com

4  Search for Hillary Clinton

5  When the AMP Carousel is displayed in the search results page,

[2016-09-29 17:11] corvusinaloeCMENA opened #5308 "(X) Close button not working on AMP Carousel immersive view"
When on immersive AMP Carousel mode, the (X) button for closing and going back to Google search resuls is not working.

1 In Chrome Go to opt into "pan-y" at https://cdn.ampproject.org/experiments.html
2 In Chrome Go to opt into the "dev-channel" at https://cdn.ampproject.org/experiments.html
3 Go to www.google.com
4  Search for Hillary Clinton
5.  When the AMP Carousel is displayed in the search

[2016-09-29 17:17] Gregable commented on #5295
Of course.

[2016-09-29 17:20] Gregable commented on #1877
Your page is valid. Search Console lags behind due to crawl delays, but will eventually be correct.

You can see your document in the AMP Cache, which wouldn't be possible if it wasn't valid:
https://cdn.ampproject.org/c/www.fantagazzetta.com/amp/approfondimenti/racconti/29_09_2016/fantaracconti---vincere-grazie-a-bruno-fernandes-all-86-232667

[2016-09-29 18:01] sriramkrish85 commented on #4859
@pengyiwang - this breaks because of `display: flex` on the body (which is not supported by AMP) could you try removing it and may be set it on a container where it is required?

[2016-09-29 18:13] akshaylive opened #5309 "Internal links broken on Google AMP viewer"
I was working on an amp page which has internal links using the "#" symbol. i.e;

[code]

While testing it on ampproject CDN, the link works fine without issues. Example link - https://cdn.ampproject.org/c/s/dl.dropboxusercontent.com/u/530650439/abc.html

However, in the google viewer (https://www.google.com/amp/dl.dropboxusercontent.com/u/530650439/abc.html), as soon as I click on the internal li

[2016-09-29 18:14] akshaylive commented on #5309
+ @ericlindley-g

[2016-09-29 18:25] akshaylive commented on #4274
Here's why we need a scrollable lightbox -

At Genius, our music community annotates lyrics of songs. When a line is clicked upon, we would like to display the annotation. Here's one of our amp pages - https://google.com/amp/genius.com/amp/Beyonce-love-drought-lyrics

Currently, we scroll the page to the annotation. We recently found out that this way of displaying annotations was broken because o

[2016-09-29 18:52] aghassemi commented on #5302
Hi @amans1690 I can't reproduce on my iOS 10. Do you have the `Mail` app installed on the phone you are testing with? If `Mail` app is removed, `mailto:` links will not work on iOS.

Can you also try http://www.w3schools.com/html/tryit.asp?filename=tryhtml_mailto to see if it works on the same phone?

[2016-09-29 18:56] sriramkrish85 opened #5310 "Experiment making body display: block; when body is visbile"
Some layouts (may) break when the body's display is set to something other than `block`

https://github.com/ampproject/amphtml/issues/4859

Create an experiment to test out if making body `display: block` has any consequences.

[2016-09-29 19:14] dvoytenko opened #5312 "Cleanup preconnect migration to remove public `preconnect` var."

[2016-09-29 20:01] corvusinaloeCMENA opened #5313 "Switching between landscape and portrait mode makes the screen incomplete"
When on immersive AMP Carousel mode, switching between landscape and portrait modes makes the  article to be displayed in half or incomplete. When scrolling up and down the article gets broken and the user has to go back and reload to read the rest.
1 In Safari Go to opt into "pan-y" at https://cdn.ampproject.org/experiments.html
2 In Safari Go to opt into the "dev-channel" at https://cdn.ampproje

[2016-09-29 20:02] sriramkrish85 commented on #5313
can you attach some video(s) or screenshots?

[2016-09-29 20:08] sriramkrish85 commented on #5313
Also are you talking about the carousel on the google search page or an (image) carousel on a particular AMP page.

[2016-09-29 20:16] #5312 closed

[2016-09-29 20:26] corvusinaloeCMENA commented on #5313
Screenshots added, I am talking about the carousel on the google search page.
![image3](https://cloud.githubusercontent.com/assets/22305326/18970999/4d47af82-8648-11e6-978a-938bfa2dda8c.PNG)
![image2 1](https://cloud.githubusercontent.com/assets/22305326/18970998/4d464e94-8648-11e6-9510-1e2795d23023.PNG)

[2016-09-29 20:43] Gregable commented on #4625
The relevant parts of the C++ parser were ported over in https://github.com/ampproject/amphtml/pull/5274. This isn't live yet, but I'll close the bug for now. If you find other examples of parsing differences, let me know.

[2016-09-29 20:43] #4625 closed

[2016-09-29 20:44] Gregable commented on #5071
These were added over in https://github.com/ampproject/amphtml/pull/5274 . Marking closed, but will take a little while longer to roll out.

[2016-09-29 20:44] #5071 closed

[2016-09-29 20:45] Gregable commented on #4537
This is live everywhere.

[2016-09-29 20:45] #4537 closed

[2016-09-29 20:46] Gregable commented on #4654
This is fixed everywhere.

[2016-09-29 20:46] #4654 closed

[2016-09-29 20:51] corvusinaloeCMENA commented on #5307
This issue is also presente on iGSA 19.0.1 for iOS9 on Iphone 5c
![image1 3](https://cloud.githubusercontent.com/assets/22305326/18971891/af2b8036-864b-11e6-89ce-0d7e63f6ea55.PNG)

[2016-09-29 21:01] ericlindley-g commented on #5313
@corvusinaloeCMENA I can't repro on iPhone 6. Is this only on 5s? Also, does this happen only with the pan-y experiment enabled, or does this happen without that as well? If it happens without, we can escalate to the Google team working on the viewer on the search results page

[2016-09-29 21:14] avimehta opened #5318 "amp-analytics vars inside A4A."
Currently amp-analytics does not work inside A4A but with #5196, it will start working. Once it starts working, we need to figure out how different features will work for amp-analytics and amp-pixel. A few open questions are:
- What variable expansions should be supported wrt security/privacy issues. eg: document_referrer
- When the variables are expanded, will they be about the ads iframe or the

[2016-09-29 21:18] camelburrito opened #5319 "Cleanup `make-body-block` experiment"

[2016-09-29 21:27] corvusinaloeCMENA commented on #5313
This issue is also presente on iGSA 19.0.1 for iOS9 on Iphone 5c
![image1 3](https://cloud.githubusercontent.com/assets/22305326/18973122/e762cb12-8650-11e6-87ef-bea8d12fd092.PNG)

[2016-09-29 21:38] ericlindley-g commented on #5313
Escalated internally: b/31831214

[2016-09-29 21:56] sriramkrish85 commented on #2960
just checked this on IOS 10 - Safari (10). The new fonts api is supported as expected. (FF and chrome already support this). So we wont be improving the polyfill.

CC @cramforce

[2016-09-29 21:56] #2960 closed

[2016-09-29 23:44] mkhatib opened #5321 "Investigate Brid.tv Dynamic Image placeholder"
Dynamic Image Placeholders for brid.tv doesn't seem to work.

@DarXector do you happen to know if there's public documentation on this? Or an example where this works? The examples I've seen online seems to refer to different URL for the placeholders.

For example:
This works and its what's used by the player code.
[https://cdn.brid.tv/live/partners/264/snapshot/shot2015.jpg](https://cdn.brid.tv/l

[2016-09-29 23:47] corvusinaloeCMENA opened #5322 "Reloading an AMP carousel site makes the carousel disapear"
When on immersive AMP Carousel mode, reloading an article
1 In Chrome Go to opt into "pan-y" at https://cdn.ampproject.org/experiments.html (this bug is only available when this flag is turned on)
2 In Chrome Go to opt into the "dev-channel" at https://cdn.ampproject.org/experiments.html
3 Go to www.google.com
4 Search for Hillary Clinton
5. When the AMP Carousel is displayed in the search results

[2016-09-30 00:14] #5310 closed

[2016-09-30 00:37] keithwrightbos opened #5324 "Allow for AMP ad anchors to target _top"
## Short description of your issue:

Anchor links within an iframe that lead to itunes do not navigate on Safari iOS 9 however AMP validator does not allow target _top.

## How do we reproduce the issue?

1. browser is safari on ios 9
2. there is a link that leads to itunes
3. link is in iframe
4. link has target=_blank
5. click on link does not navigate

## What browsers are affected?

Safari iOS

[2016-09-30 00:44] cramforce commented on #5318
It would be really nice to write this up as a design doc.

I think the direction should be

- whitelist what is available to ads
- introduce a scoping mechanism (CC @dvoytenko) where the same variable may have a different value

[2016-09-30 00:56] avimehta commented on #5318
Sounds good. Will start the doc and present for review.

[2016-09-30 01:01] mkhatib opened #5325 "Investigate O2 Player Dynamic Image Placeholder"
O2 Player not taking advantage of dynamic generated placeholders. Couldn't find any documentation about whether O2 has a calculable or not.

@yevheniiminin Do you know if there's a way to generate a poster image like the following but only using the data taken by `amp-o2-player` (the following urls can't be calculated from that as far as I can tell)?

https://img.vidible.tv/prod/2016-03/04/56d9d6f

[2016-09-30 01:08] mkhatib opened #5326 "Reach Player Example is broken"
@mikepmtl Would you be able to update the reach-player.amp.html example? The current one is broken.

Would also like your input on #5325 for Reach Player?

[2016-09-30 01:21] mkhatib opened #5327 "Springboard Player Placeholder Mismatch Poster Image"
Springboard Player dynamically calculated placeholder doesn't match the first poster image when the player loads.

Typically we'd like the loaded placeholder image to match the first frame or poster of the video player (see youtube examples to see smooth transition between the placeholder image and the actual player).

Currently there's a clear visual jump between the placeholder and the player.

[2016-09-30 01:47] mkhatib opened #5328 "JWPlayer Placeholder is invalid for playlists"
The calculated URL for a playlist-based jwplayer generates a 404 placeholder image URL.

@pablos1 do you know if there's a way to generate a thumbnail for the first video in the playlist?

If there is no way, does JW Player have a default playlist thumbnail we can use?

[2016-09-30 02:24] jpettitt commented on #4555
The hygiene part I get, we have sites we convert  that have 5000+ css rules where only 400 are in use on an AMP page.  We've seen 800k+ of CSS on a mobile page.

The original motivation for this request was being able to keep the 500 rules that are in use on a complex page so we don't have to get humans involved in rewriting or start cutting functionality.   Right now every site we work with fits

[2016-09-30 02:35] jpettitt commented on #5322
This happens on regular (non-experiment) amp searches.  It appears to be a feature.  (Google team can you confirm?)

This is why I think it does that: If you share the amp article using the built in share tools in the browser the URL you share will reload just that article and not your entire search result.

If it did reload the entire carousel that would be a privacy issue because people would be

[2016-09-30 02:44] jpettitt commented on #5305
Put an id on your `amp-accordion` then you can do `#accordionId .headerClass { background: red; }` and it will work becasue the Id has a higher specificity in the CSS.

See the footer of https://fresnobee.relaymedia.com/amp/news/local/education/article61889207.html for a live example.

This article explain CSS specificity really well https://css-tricks.com/specifics-on-css-specificity/

[2016-09-30 03:05] #5305 closed

[2016-09-30 03:15] erwinmombay commented on #5305
feel like this is a bug on our end, but its a hard problem because of the injected styles which are delayed

[2016-09-30 03:19] cramforce commented on #5062
@samiamorwas are you affiliated with Reddit in any way? While this is totally not required to contribute this embed, it would be good to know.

[2016-09-30 04:40] tungvn commented on #5219
Yeah, the `attr-scrolling` bring scrollbar for me, @ericlindley-g. But I found a bug.
I set my iframe with a fixed height and when a comment/expand sub-comments or something else, the height of box not flexibility change.

`<amp-iframe width="800" height="2000"
    sandbox="allow-scripts allow-same-origin"
    layout="responsive"
    frameborder="0"
    scrolling="auto"
    src="https://www.facebo

[2016-09-30 06:06] pengyiwang commented on #4859
@sriramkrish85 Awesome! it works now!

[2016-09-30 06:33] amans1690 commented on #5302
Hi @aghassemi,
If I open the link http://www.ahmedabadmirror.com/entertainment/bollywood/Krushna-Abhishek-Theres-leg-pulling-no-insulting-on-Comedy-Nights-Bachao/amp_articleshow/54578875.cms then email share works fine in Safari Browser on iOS 10.0.1.
But it the same link is open using google search, on which the URL is https://www.google.co.in/amp/www.ahmedabadmirror.com/entertainment/bollywood/K

[2016-09-30 09:20] konakk commented on #4464
Channels can be set up using adsense UI without changing anything in the
tag. Support help center has a video showing how to do it.
https://support.google.com/adsense/answer/65083?hl=en-GB

On Mon, Sep 26, 2016 at 6:24 PM, Vamsee Jasti <notifications@github.com>
wrote:

[2016-09-30 11:24] P3N5K4 opened #5332 "Broken links on Supported CSS page"
Documentation Issue
On the "Supported CSS" page, in the Custom Fonts Exception section there are 2 external links:

https://fast.fonts.net
https://fonts.googleapis.com

Both of these give a 404 error when followed.

To reproduce:

1. Navigate to https://www.ampproject.org/docs/guides/responsive/style_pages.html#the-custom-fonts-exception

2. Click either of the external links

[2016-09-30 11:27] P3N5K4 commented on #5332
This issue should be in the /docs project. Removing it

[2016-09-30 11:27] #5332 closed

[2016-09-30 11:31] P3N5K4 commented on #5332
I've just re-read the page - it's listing the accepted origins.
Maybe these shouldn't be links?

[2016-09-30 14:00] tania0339 commented on #1877
OK! I can see more valid pages also in the search console now. Thanks!

[2016-09-30 14:34] samiamorwas commented on #5062
@cramforce I am not. My company is trying to get 100% AMP support for our articles, and Reddit embeds are just one of the last pieces of content that seem to be unsupported.

Someone from Reddit might have the knowledge to implement this in a better manner, so if there's anyone associated with them working on this project, it would be great to hear their thoughts.

[2016-09-30 14:53] tomasvts commented on #4154
There is no autoplay attribute propagation in chrome v53 android.
muted autoplay is only working on IOS in the last version 1475106123549 thanks to `fixIOSCanplayEventForAutoplay_` method.

[2016-09-30 15:05] aghassemi commented on #4154
@tomasvts We don't actually propagate the `autoplay` attribute and call `play()` manually (even in `fixIOSCanplayEventForAutoplay_`, `autoplay` attribute is removed afterwards).

Are you seeing `autoplay` not working in Android or iOS? (There is a bug with Chrome autoplay in 4G/LTE which is fixed by https://github.com/ampproject/amphtml/pull/5228 - will be in the next release)

[2016-09-30 15:27] ericlindley-g commented on #5304
cc/ @mkhatib @rudygalfi

[2016-09-30 15:33] cramforce opened #5334 "Fragment link navigation is broken on iOS10"
## How do we reproduce the issue?

1. Go to https://www.google.com/amp/dl.dropboxusercontent.com/u/530650439/abc.html#amph=1 on iOS 10 Safari and Chrome
2. Click the internal fragment link.

The first time it is broken. Subsequent clicks works.

## What browsers are affected?

iOS 10, all

## Which AMP version is affected?

Current

[2016-09-30 15:34] cramforce commented on #5334
@sriramkrish85 Could you take a look?

[2016-09-30 15:35] cramforce commented on #5062
Great. @jmadler FYI. Maybe you could at let Reddit know and see if they want to pitch in or take on long term maintenance since @samiamorwas did all the work already.

[2016-09-30 15:49] ericlindley-g commented on #5309
Thanks for filing, @akshaylive! I'm duping to the [new bug](https://github.com/ampproject/amphtml/issues/5334) filed after conversation on amphtml-discuss.

[2016-09-30 15:50] #5309 closed

[2016-09-30 15:51] ericlindley-g commented on #5309
FYI @sriramkrish85 , who is looking into the bug

[2016-09-30 15:59] jpettitt commented on #5305
@erwinmombay It's not really a bug, you're adding a class and you're injecting your CSS above the user CSS so it's trivial to override the default.  Pretty much the only way around this would be to not provide default styling, removing it at this stage would be a breaking change.

There is a good question here going forward about very careful review of default styling, particularly in -amp styles

[2016-09-30 16:02] jasti commented on #5156
Hey @mjrusso we released 1474668269104 last night.
Yes, we switched dates last Thursday's because of a bug.

[2016-09-30 16:02] aghassemi opened #5335 "Use NewTypeInference for type checking"
We should switch to NTI as OTI is no longer supported and in particular [this bug](https://github.com/google/closure-compiler/issues/2050) is important to us as we like to ensure all properties are defined in the constructor so V8 can optimize types and create hidden classes for them. Currently this rule can't be enforced with ES6 classes due to https://github.com/google/closure-compiler/issues/20

[2016-09-30 16:02] jasti commented on #5156
Please let us know if the issue persists. Closing.

[2016-09-30 16:02] #5156 closed

[2016-09-30 16:08] jasti commented on #5116
Hey @RonanDrouglazet , if you are part of the @ampproject/ads team, we will announce the feature as soon as it's available.

@mlb7687, correct me but the publisher actually doesn't have to update the tag. It is Teads that will need to, if they'd like their creatives to have access to context APIs.

FYI @michaelkleber

[2016-09-30 16:11] jasti commented on #4598
@lannka can this be closed?

[2016-09-30 16:17] jasti commented on #3456
From AMP's perspective, there is nothing stopping re-targeters to set cookies using amp-pixel on the advertiser page. Please reach out to Criteo and let us know if you have any issues.

[2016-09-30 16:17] #3456 closed

[2016-09-30 16:19] jasti commented on #3272
@keithwrightbos I know you've been looking into supporting SRA, so wanted to put this on your radar in case we can arrive at a solution within AMP that any ad network can re-use.
FYI @michaelkleber.

[2016-09-30 16:20] cramforce commented on #5335
Cool. Last time I tried it just crashed :)

[2016-09-30 16:22] lannka commented on #4598
Still want to work on the 2nd item when I get a chance. Maybe move to backlog now.

[2016-09-30 16:23] oleggromov opened #5337 "How to add Yandex Advertisement Network to AMP?"
Hello!

We at Yandex are about to give our partners (publishers) the ability to show our ads on their AMP-powered websites. In order to do this we give them scripts that use:

- Adding scripts to the page to load JS bundles, using JSONP for data requests.
- Global context sharing (all ads code is executed in the same `window`).
- Tracking visibility by accessing main page's `window.document` DOM n

[2016-09-30 16:24] jasti commented on #2565
I thought the issue here is to allow a publisher to configure the ad loading distance instead of the default- 1.25 viewport before.
I think we can close this because we've been seeing that 1.25 works pretty well. Always can experiment later.
@jridgewell @avimehta do you agree?
If so, we can close this.

[2016-09-30 16:33] sparks1975 commented on #5305
@jpettitt Thank you for the solution.  It worked for what I was needing to do. It does seem odd to have a major style such as background color associated with a selector that cannot be directly overwritten.

[2016-09-30 16:34] maliskono opened #5340 "maliskono"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-09-30 16:50] lannka commented on #5337
@oleggromov please take a look the this [doc](https://github.com/ampproject/amphtml/blob/master/ads/README.md), and hopefully you will find most of your questions answered.

For example:

You can take a look at the "multi-size request" and "ad resizing" section.

There is the "ad viewability" section.

[2016-09-30 17:06] #5340 closed

[2016-09-30 17:09] dvoytenko commented on #5334
Reassigning to @mkhatib since he has more context on click handlers.

[2016-09-30 17:20] lannka commented on #5318
@tdrl @keithwrightbos

[2016-09-30 17:33] sriramkrish85 commented on #5199
this is 100% on production now.

[2016-09-30 17:33] #5199 closed

[2016-09-30 17:34] tdrl commented on #5273
It sounds like we're on track to restructure the A4A promise chain anyway.  We'll probably move all rendering into `layoutCallback`, and resolve all network ops before making any decisions there.  That will simplify the logic about throttling 3ps considerably.

[2016-09-30 17:35] sriramkrish85 commented on #2366
The experiment is 100% now  and hence you should not see this issue any longer.

[2016-09-30 17:35] #2366 closed

[2016-09-30 17:36] sriramkrish85 commented on #4364
Scrollable slides is 100% now  and hence you should not see this issue any longer

[2016-09-30 17:36] #4364 closed

[2016-09-30 17:40] sriramkrish85 commented on #4833
The new scrollable carousel has been launched now  and hence you should not see this issue any longer

[2016-09-30 17:40] #4833 closed

[2016-09-30 17:40] sriramkrish85 commented on #5194
The new scrollable carousel has been launched now  and hence you should not see this issue any longer

[2016-09-30 17:40] #5194 closed

[2016-09-30 17:40] sriramkrish85 commented on #5195
The new scrollable carousel has been launched now  and hence you should not see this issue any longer

[2016-09-30 17:40] #5195 closed

[2016-09-30 17:42] aghassemi opened #5342 "Chromecast adds a giant icon on `<video>` despite `controls` being `false`"
On Chromecast connected Adnroid phones, Chrome adds a big Chromecast icon to top corner of video element despite `controls` attribute being off.

Let's see if we can find a way to hide it as it really messes up the autoplay experience. Hiding this icon won't take any functionality away from the user since when `controls` are displayed there is another Chromecast icon in the control panel anyway.

[2016-09-30 17:42] sriramkrish85 commented on #5098
This should be fixed now - please re-open if that is not the case

[2016-09-30 17:42] #5098 closed

[2016-09-30 17:44] rudygalfi commented on #4292
@sriramkrish85 Could you take a look at this?

[2016-09-30 17:51] jridgewell opened #5343 "Kill amp-carousel/0.1/slides.js"
Now that slidescroll is the default carousel, let's 🔪 some dead code.

[2016-09-30 17:54] #2565 closed

[2016-09-30 17:59] sriramkrish85 commented on #4292
@rudygalfi - should the events be triggered for touch only or for both touch and button navigation? do we need to distinguish between touch and button nav?

[2016-09-30 18:02] dvoytenko commented on #4292
Any forward/backward nav in carousel should trigger analytics events.

[2016-09-30 18:06] avimehta commented on #1302
@Meggin Any progress on this? I will need this for an upcoming feature. If you haven't started and or can't, I'll be happy to take this over..

[2016-09-30 18:11] rudygalfi commented on #4292
Agree - either one. I don't think the how is important to call out. I'm thinking:

- new trigger type for a carousel advancement of any kind
- contextual substitution variable to tell you about which slide was swiped to

@eike-hass for further feedback on needs

[2016-09-30 18:13] sriramkrish85 commented on #5343
Lets make sure we dont have to rollback for another 2-3 days and kill! Thanks for filing the bug

[2016-09-30 18:19] #4283 closed

[2016-09-30 18:22] michaelkleber commented on #5116
@RonanDrouglazet Is your goal just access to the AMP window.context object, or something more than that?  What specific parts of window.context do you need?  In particular, will #3019 address everything you care about?

[2016-09-30 18:23] michaelkleber commented on #5116
(FYI @nekodo for postMessage API progress)

[2016-09-30 18:25] erwinmombay opened #5346 "remove TransitionDef signature in favor of TimeTransitionDef"
@dvoytenko suggested to remove the "complete" param and rely on the `then`/`thenAlways` methods at the end of animation

[2016-09-30 18:25] erwinmombay commented on #5346
see https://github.com/ampproject/amphtml/pull/5339/files#r81376794 for previous discussion

[2016-09-30 18:28] jridgewell commented on #5280
Closed by #5279.

[2016-09-30 18:31] dvoytenko commented on #4274
The `<amp-lightbox scrollable>` or `<amp-lightbox scrolling=yes>` would be fine. Maybe even we could rename finally `amp-lightbox` to `amp-modal` or such to avoid constant confusion.

[2016-09-30 18:33] cramforce commented on #4292
We'll need something like `data-slide-id` that is being made available on the trigger.

[2016-09-30 18:35] avimehta commented on #4292
@sriramkrish85 https://github.com/ampproject/amphtml/issues/4292#issuecomment-236714336 should give you an idea of how to integrate with amp-analytics. Also see amp-access on how to define custom triggers.

[2016-09-30 18:36] dvoytenko commented on #5318
To start with, we need to go var-by-var and mark what should happen to each var for an embed. I'd assume the action would be one of: pass through unchanged, override, disable.

This would give us the best mode of action to scope these vars. But my guess is that this would be that we just need to add additional scoping to `UrlReplacements` class.

Further, we need to look at other questions related

[2016-09-30 18:38] aghassemi commented on #5302
@amans1690 Thanks. I can reproduce now. Fix coming soon.

[2016-09-30 19:10] mlb7687 commented on #5116
Also @glevitzky who is working on the JS Wrapper to tie the postMessage API together
@RonanDrouglazet, glevitzky is working on the last component of this. Perhaps he can put together a better timeline and answer questions related to how the API will look.

[2016-09-30 19:36] jridgewell commented on #5308
/to @ericfs to file internally.

[2016-09-30 19:37] jridgewell commented on #5307
/to @ericfs to file internally.

[2016-09-30 19:38] ericfs commented on #5308
Thanks. Tracking internally b/31859380

[2016-09-30 20:12] ericfs commented on #5308
Do you have a video or other demo of this? I cannot repro on Chrome 53.0.2785

[2016-09-30 20:13] ericfs commented on #5307
Do you have a screenshot of this?

[2016-09-30 20:17] ericfs commented on #5307
b/31860236

[2016-09-30 20:30] devjsun opened #5351 "Amp Ads Untestable via Heroku due to Frame.html 404"
I would like to use heroku to test new amp ads that are not available yet in production/release. It seems like there is a bug that prevents this.
## How do we reproduce the issue?
1. Go to: http://amphtml-nightly.herokuapp.com/examples/ads.amp.max.html
2. Look at console and you see the errors like this: https://d-2518138595135783351.ampproject.net/1475185251892/frame.html 404 ()
## What browsers

[2016-09-30 20:32] cramforce commented on #5351
I think the fix is to override the config for `url.cdn` to point to the heroku name when running there. CC @erwinmombay

[2016-09-30 20:38] dvoytenko commented on #5225
Sounds good, in this case, I suggest the format be:
[code]

[2016-09-30 20:45] erwinmombay commented on #5351
@cramforce right that is the fix

[2016-09-30 20:52] mkhatib commented on #5239
@dvoytenko tracked the issue down to iOS `window.innerHeight` and the height of the viewer being set larger than that. Setting the proper size of the viewer fixes it.

As this is not a bug in `amp-app-banner` I am closing this one.

[2016-09-30 20:52] #5239 closed

[2016-09-30 20:55] cramforce opened #5352 "Add pr-check.js as npm script"
Add `node build-system/pr-check.js $TRAVIS_COMMIT_RANGE` to `package.json` as an npm script and document it in DEVELOPMENT.md

[2016-09-30 21:25] mkhatib opened #5353 "Update viewer.html example to properly set heights in iOS Landscape"
A follow up to #5239

We need to update the `viewer.html` example to set the `body` height or another solution to avoid cases where on iOS landscape mode the body height itself would be larger than the `window.innerHeight`

We've started a discussion with the google.com viewer to get some feedback on this issue and see if they have a reason to do this. Once we hear back and get a consensus we can

[2016-09-30 21:27] dvoytenko commented on #5346
This can be closed now. Right?

[2016-09-30 21:30] erwinmombay commented on #5280
unfortunately this isnt fixed yet, looking at it now. #5279 only fixes amp-image-lightbox

[2016-09-30 21:30] #5302 closed

[2016-09-30 21:41] erwinmombay commented on #5280
saying that though, this is actually a userland error that we just need to assert

[2016-09-30 21:42] sriramkrish85 commented on #4292
@cramforce `data-slide-id` => would this be the index of the slide?

[2016-09-30 21:43] dvoytenko commented on #4292
I'd assume it'd be a author-set ID. We don't need `data-` attributes to send indexes :)

[2016-09-30 21:45] sriramkrish85 commented on #4292
i meant when the author does not set it :) what do we do with this

[2016-09-30 21:55] cramforce commented on #4292
index seems like a reasonable default

On Fri, Sep 30, 2016 at 2:45 PM, Sriram Krishnan <notifications@github.com>
wrote:

[2016-09-30 22:12] erwinmombay commented on #5346
@dvoytenko probably, is it still a good idea to remove the "complete" param?

[2016-09-30 22:45] mkhatib commented on #5334
So looks like first click is default prevented,  handled by the `document-click` logic.

It also actually works at first but then when `scrollIntoView` gets called it scrolls back to the top for some reason I don't understand yet.

The second click exits early since the hash has already been set when handling the first click.
[code]

@dvoytenko any reason the `scrollIntoView` is needed? It looks l

[2016-09-30 22:50] cramforce opened #5359 "IntersectionObserver test fails consistently on master"
See https://travis-ci.org/ampproject/amphtml/builds/164163236

[code]

[2016-09-30 22:56] dvoytenko commented on #5334
The need for `scrollIntoView` is likely due to the header offset (aka padding). Please try without for Android and iOS and see if it's really necessary.

[2016-09-30 23:00] amphtml-team commented on #5334
this was so it didn't fudge with history right?
On Fri, Sep 30, 2016 at 3:56 PM Dima Voytenko <notifications@github.com>
wrote:

--

Erwin Mombay | UX Engineer | erwinm@google.com | 650-772-9166

[2016-09-30 23:05] sriramkrish85 commented on #5334
@mkhatib i think we need a solution that fixes both the bugs

 https://github.com/ampproject/amphtml/issues/4184

[2016-09-30 23:17] mkhatib commented on #5334
Ok I see the importance of `scrollIntoView` call and yes it is needed otherwise the item as you mentioned would be hidden by the viewer header.

The problem seems to come from calculating the `top` value for the element. This is the calculated rectangle for the target element which is pretty weird!

[code]

Still debugging why this is happening.

[2016-09-30 23:31] sriramkrish85 commented on #5343
will be dealt as a part of this.

https://github.com/ampproject/amphtml/issues/3997

[2016-09-30 23:33] #5343 closed

[2016-09-30 23:59] ericlindley-g opened #5362 "Can't dismiss sidebar with click on main page content"
Sidebar scrim is set to display:none (can't dismiss sidebar with click outside of sidebar)

[2016-10-01 00:13] renegademike opened #5364 "Intent to implement: `amp-ad` type for AdvertServe"
Hi,

I intend to implement an `amp-ad` type for @AdvertServe (http://www.advertserve.com)

Actually, I have already completed the implementation and signed a CLA for our parent company Renegade Internet, Inc so I will send a pull request along shortly.

I did also implement hooks into the AMP ad viewability and resizing APIs on our end.  Our "code wizard" can also generate the `amp-ad` tags for ou

[2016-10-01 01:24] mkhatib commented on #5334
Ok we figured out what's going. The `scrollIntoView` is getting called before the `viewport.onScrolled` have got a chance to update its values of where the scrollbar is at hence returning 0 and scrolling the user back up to the top of the page.

Working on a fix.

[2016-10-01 01:53] dvoytenko commented on #5334
@mkhatib I'm wondering if we can somehow update fragment without causing it to scroll? As ugly as it goes, perhaps we could even remove the `id` or `name` attribute and put it back after hash change?

[2016-10-01 01:59] mkhatib commented on #5334
That was @muxin idea as well, will play around with it and see. Something like this also works but with a small jump in UI that might be undesirable.

[code]

[2016-10-01 09:03] pierrefar opened #5367 "8s wait for fallback is too long"
From [chat on Twitter](https://twitter.com/cramforce/status/782042350893735936) with @cramforce.

## Short description of your issue:

Google's new blog.google website has AMPHTML alternate pages that were not loading AMP because of a CSP policy (I didn't look and I'm using Malte's diagnosis).

The problem is that 8 second wait with a blank screen waiting for AMP to load, then fail and use the fal

[2016-10-01 14:43] cramforce commented on #5367
The tooling flagged it clearly in development, so that wouldn't have helped. The developers of the blog programmed a bug. We can't protect against all possible bugs.

This is a very special variant of what the 8s is designed for. It typically triggers on extremely bad network conditions where users experience load times near the 99%ile around 10-100s and so 8s seems appropriate.

[2016-10-01 14:43] #5367 closed

[2016-10-01 14:47] cramforce commented on #5367
It is also worth mentioning that a typical non-AMP page would likely have not loaded at all with the same delivery bug, so, I think, this is 100% working as intended.

[2016-10-02 07:27] erwinmombay opened #5369 "Uncaught TypeError: Converting circular structure to JSON"
super easy to replicate here: https://cdn.ampproject.org/v/iltirreno.gelocal.it/massa/cronaca/2016/10/01/news/la-casa-va-all-asta-imprenditore-si-toglie-la-vita-1.14185249/amp/?amp_js_v=5

its _context.clientId which seems to have a reference to `amp-user-notification`

[2016-10-03 13:58] FabienU commented on #4464
I think you wrongly understand me, I'll try to clarify my question.
For now I have already created google_ad_channel's in adsense,
and showing ads like below (I passing additionally google_ad_channel for tracking performance by this parameter):
$('#' + {{adContainer}}).html(
         '<ins class="adsbygoogle" style="display:block" data-ad-client="{{adClient}}" data-ad-slot="{{adSlot}}" data-ad-for

[2016-10-03 17:37] #3997 closed

[2016-10-03 18:02] dom-devel opened #5376 "Currency caching on sites with currency set by cookie for AMP Product Pages"
## AMP Pages will be cached with the incorrect currency

As AMP is used for more types of pages, we will run into this potential problem with AMP product pages.

Googlebot (or whoever is caching AMP pages) will crawl and cache AMP pages from a single country. They will therefore serve a product page with a single currency. However for users from another country this could be very disorientating an

[2016-10-03 19:59] aghassemi opened #5379 "Cleanup: Remove --nti flag from compiler when NTI is the default."
See https://github.com/ampproject/amphtml/pull/5378
- [ ] remove the `--nti` flag
- [ ] change `function(?)` to `function(*)` and `{function(new:T, ?)=}` to `{function(new:T, *)=}` in `service.js`
- [ ] remove `nti.extern.js` and `oti.extern.js` (merging `nti.extern.js`  to `amp.extern.js`)

[2016-10-03 20:08] dvoytenko commented on #5334
@mkhatib Yes, it'd definitely jump in UI. Let's see if we can avoid that.

[2016-10-03 20:09] mkhatib commented on #5334
@dvoytenko looks like the way to disable the default browser scrolling behavior is by removing the target attribute and adding it later as you suggested. So I am going with that solution.

Also, during debugging, I've also encountered another bug in another part of the code. Namely, when the `hash` does NOT change. In that case it seems we're leaving it back to the browser to handle it and hence f

[2016-10-03 20:18] aghassemi opened #5380 "Video should go to fullscreen mode on orientation change into landscape"
If a **visible** video with **landscape aspect ratio** is **playing** (autoplay or user-initiated) in the middle of the screen in **portrait** mode and user rotates device into **landscape**, it is a strong signal user wants immersive fullscreen and therefore video should automatically go into fullscreen mode.

We may want to put this behind a page-level config (ideally opt-out).

UX thoughts? @cr

[2016-10-03 20:18] dvoytenko commented on #5334
@mkhatib I think it simply means we should remove the current `if (tgtLoc.hash == curLoc.hash) {return;}` and instead simply forgo history/location operations when they are equal?

[2016-10-03 20:26] aghassemi commented on #5380
+ @abeck000

[2016-10-03 20:26] mkhatib commented on #5334
Yes that's exactly what I did. Checkout the PR I just sent. Let me know if it looks good. Deploying an example so you can check it out now.

[2016-10-03 20:39] #3212 closed

[2016-10-03 20:42] #3406 closed

[2016-10-03 20:44] mkhatib commented on #5304
@sandeepv10 Yes. AMP only accepts forms submissions to `https` endpoints. See [details in docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#attributes).

[2016-10-03 20:44] #5304 closed

[2016-10-03 20:50] jridgewell commented on #5322
/to @rudygalfi

[2016-10-03 21:21] cramforce commented on #5380
Assuming the video is in portrait. We should do this only if major platforms such as FB and Snapchat do it.

[2016-10-03 21:27] jridgewell commented on #5376
/to @rudygalfi. I believe we're trying to solve this with `<amp-fresh>` or Geo detection features.

[2016-10-03 21:33] jridgewell commented on #5362
@sriramkrish85: Closed by #5365?

[2016-10-03 21:33] #5362 closed

[2016-10-03 22:16] sriramkrish85 commented on #5362
yes

[2016-10-03 22:24] aghassemi commented on #5380
Added the aspect ration requirement to the description.

FB (Native): Doesn't do this for autoplay videos, user-played videos always go to fullscreen mode anyway, so this is not applicable for non-autoplay videos. Same with twitter.

FB(Web): Unlike native, videos do play inline but orientation change does nothing.

Snapchat(Native): All videos are immersive fullscreen to start with, so not applic

[2016-10-03 22:36] aghassemi opened #5384 "Video: animated icon for muted autoplaying videos"
Something like the animated one in YouTube Music App. We should try to do it in CSS and keep it 60fps with features that have hardware-acceleration.

![6cjcn8xze9m](https://cloud.githubusercontent.com/assets/2099009/19056581/05d9b53e-897f-11e6-8a9c-8d59f8c24506.png)

[2016-10-03 22:42] aghassemi commented on #3799
There for `<amp-video>` and tracked under #4154 for other players.

[2016-10-03 22:42] #3799 closed

[2016-10-03 22:46] aghassemi opened #5385 "Video: iOS Safari displays `play` icon insteas of `pause` for autoplaying videos"
If an video is auto playing in iOS, when user taps the video, we display the `controls` but iOS mistakenly displays a `play` icon despite the fact that the video is actually playing! Need to find a work-arond for this and file a bug with Webkit.

[2016-10-04 00:11] #112 closed

[2016-10-04 00:11] #111 closed

[2016-10-04 00:29] cramforce opened #5386 "Support required vars in AMP analytics"
I recently saw a case where a Google Analytics user failed to correctly send their account id.

From reading the code, this is currently a silent failure which is very hard to debug.

I think we should introduce a concept of required vars where a trigger fails with a clear error message in the dev tools console if a variable that is absolutely required was not set.

CC @rudygalfi @avimehta

[2016-10-04 00:40] cramforce opened #5387 "Perform video autoplay feature detection in vsync"
Both the [`appendChild`](https://github.com/ampproject/amphtml/blob/master/src/service/video-manager-impl.js#L366) and `remove()` should run in vsync to avoid style recalcs when not needed.

[2016-10-04 00:50] rudygalfi commented on #5386
Could this just be a vendor config feature? I don't think it makes sense in any other context because there's not an expectation of inherited behavior.

[2016-10-04 01:19] cramforce commented on #5386
Yeah, I think `vendors.js` would be a good place for this.

[2016-10-04 02:04] muxin commented on #5069
Instead of adding offset value to the scrollTop, we found a way to not adjust the scrollTop at all when hide/show header. This issue is resolved in #5256 because the scrollTop message sent to viewer is continues now.

[2016-10-04 02:04] #5069 closed

[2016-10-04 03:01] camelburrito opened #5390 "Add `touch-action: pan-x` to amp-carousel"
This is done to support the body pan-y experiment

[2016-10-04 04:15] mkhatib commented on #4184
@dvoytenko what do you think of @aghassemi suggestions above?

[2016-10-04 04:27] sriramkrish85 commented on #4184
@mkhatib - both me an @dvoytenko thought that was the way to go!

[2016-10-04 04:43] mkhatib commented on #4184
This is easy to do. We're already handling scrolling to the element with JS. So we'd have to drop the following calls:

[code]

[2016-10-04 06:50] pbilik commented on #4628
related to https://github.com/ampproject/amphtml/pull/5392

[2016-10-04 10:37] alex-moreno commented on #5107
is it a bug, or can we make the arrows to be displayed? Is not just a bug in iphone, it happens in android too.

[2016-10-04 10:44] alex-moreno commented on #5107
what do you mean that works as intended @sriramkrish85

Thanks.

[2016-10-04 11:08] oleggromov commented on #5337
Thank you Hongfei!

If I understood you correctly, you recommend to implement custom `amp-ad` element, don't you? Unfortunately, switching to such tough environment with iframes, custom AMP API for communicating with other ads instances and the page itself is a rather expensive project - on the one hand. On the other hand it seems that we already have a lot of customers who want to show our ads on

[2016-10-04 11:53] eike-hass commented on #4292
sounds great! can we have a rough ETA?

[2016-10-04 12:12] sriramkrish85 commented on #5107
You can use the controls attribute to make the arrows permanent . Else they will flash and disappear as a cue to indicate that this is a carousel

[2016-10-04 12:22] alex-moreno commented on #5107
Is there any specific attribute on those controls that I have to use?  I
couldn't find that in the docs.

Thanks a lot

On Tue, 4 Oct 2016, 13:12 Sriram Krishnan, <notifications@github.com> wrote:

[2016-10-04 12:25] sriramkrish85 commented on #5107
The name of the attribute is 'controls' it is documented as the first thing under 'attributes' here https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md

[2016-10-04 13:04] jp26jp opened #5394 ".-amp-sidebar-mask is included but hidden by default"
AMP Version: 1475106123549
Sidebar Version: 0.1

The sidebar mask that's supposed to become visible when the sidebar nav is toggled has a default `display` attribute of `none`.

[Example](https://www.j-26.com/ampseo/essentials/webpages/)

[2016-10-04 13:44] alex-moreno commented on #5107
right, sorry, I am an id*&**, I saw that page, but I couldn't understand
exactly how the attribute works. I'll open a PR with and example around
that  update that in case

just in case someone else reads this, it is as simple as:

<amp-carousel width="<?php echo $dims['width'] ?>" height="<?php echo
$dims['height'] ?>"
 controls
 layout="responsive" type="slides">

Simply controls being there shou

[2016-10-04 14:36] quarterto opened #5396 "amp-live-list sort order is not configurable"
Our live blogs have a configurable sort order. However, amp-live-list only supports new messages at the top. Ideally amp-live-list should have an attribute like `data-sort-order="(asc|desc)"` to configure this behaviour.

[2016-10-04 14:44] pablos1 commented on #5328
@mkhatib It is possible to upload a thumbnail via the JW Platform [API](https://developer.jwplayer.com/jw-platform/reference/v1/methods/channels/thumbnails/update.html).  However, a thumbnail is not created by default for each playlist, so `createPlaceholderCallback` would need to include some logic to gracefully handle a 404.

If a thumbnail does exist for a particular playlist ID, it would be lo

[2016-10-04 15:21] ericlindley-g commented on #5396
Agreed that this would be nice to have. I'm assuming you need a sort order configurable by the user, right? Feel free to include a link to a non-AMP implementation so we can get a good idea of the UX.

This might be reasonably straightforward with single-page `amp-live-list` implementations, but it gets more complicated once it needs to square with pagination, since a single AMP page does not know

[2016-10-04 15:28] sriramkrish85 commented on #5394
This has been fixed on Friday! Will be available on prod soon ! Thanks for filing the bug!

[2016-10-04 15:28] #5394 closed

[2016-10-04 16:00] dvoytenko opened #5399 "Migrate document-submit module to ampdoc scope"
See `getServiceForDoc` and family.

[2016-10-04 16:11] andscova commented on #5188
Thanks for looking into this!
Do you plan to release a fix any soon?
Cheers

[2016-10-04 16:12] quarterto commented on #5396
We don't need configurable by the user; our use case is we have "Live Blogs" that load new posts at the top and "Live Q&A" which load new posts at the bottom.

[2016-10-04 16:20] ericlindley-g commented on #5396
Got it—that simplifies things :)  Do you have an example of a "Live Q&A" page?

[2016-10-04 16:28] quarterto commented on #5396
Not on AMP, and probably not unpaywalled, sorry 😕

[2016-10-04 17:06] quarterto opened #5400 "amp-twitter breaks when amp-3p-iframe-src is defined"
amp-twitter uses the base URL specified by the amp-3p-iframe-src meta tag, which I don't think is valid. There should be no reason not to use the Twitter URL for this frame.

[2016-10-04 18:28] Gueorgi opened #5401 "AMP analytics per-request transport (and other) options. Make 'request' a proper object."
AMP analytics transport spec currently is stand-alone info affecting all request.

This means for example there is no way to use the new (and important) Yandex analytics setup with any other request but perhaps the GA since the Yandex request does not permit image protocol (it allows only for beacon & xhrpost) while the rest all require image protocol.

This hinders development of AMP analytics us

[2016-10-04 18:45] zhouyx commented on #3271
Thanks to @lannka, this should be closed by #4761 and #5026

[2016-10-04 18:45] #3271 closed

[2016-10-04 18:46] #3464 closed

[2016-10-04 18:46] #3473 closed

[2016-10-04 18:50] Gueorgi opened #5402 "AMP analytics support of getTriggerElementAttribute(attribute_name) for triggers with specific element."
The ebay implementation adding [variables as data attributes](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#variables-as-data-attribute) is good but really limited and requires non-trivial modifications to existing pages. It also makes the whole document larger even when data about common attributes like class & id is sought.

A more generic and bette

[2016-10-04 18:53] zhouyx commented on #3663
Closes this issue as we make `attemptChangeSize()` a promise, iframe can know the size is denied when the promise is rejected.  And in the case of amp-ad, we always send response.

[2016-10-04 18:53] #3663 closed

[2016-10-04 18:54] avimehta commented on #5402
/cc @rudygalfi

[2016-10-04 19:16] jeremyclarke opened #5404 "AMP docs should specify whether fallback 'image' is OK for newsArticle"
Relevant Stack Overflow: http://stackoverflow.com/questions/35710385/image-missing-and-required-wordpress-amp-structure-doesnt-add-image-attribute

I'm in the same situation. Thousands of posts on a site where I'm enabling AMP. Most of back-catalog has missing "featured image" in WP because the feature didn't exist at the time AND because some posts just don't have images (also applies to some new

[2016-10-04 19:52] muxin opened #5405 "Write tests for scrollable-carousel"

[2016-10-04 20:16] muxin opened #5406 "Sometimes fixed elements have wrong offset"
Some position fixed elements could have wrong offset because fixed layer doesn't adjust the top correctly. It seems that the top should add `paddingTop`. This bug could happen in non-embedded mode and embedded mode, android and ios.

[2016-10-04 20:21] poscar opened #5407 "New amp-carousel jitters when changing slides"
## How do we reproduce the issue?

Observe the carousel included in the following example:
http://output.jsbin.com/mojuqakosu
1. Switch slides by clicking the next or prev buttons.

**Result:** Jitter as slides are transitioned.
**Expected Result:** No jitter.
## What browsers are affected?

Specifically tested:
Chrome: 53.0.2785.116
Safari: 9.0.3 (11601.4.4)
## Which AMP version is affected?

`Po

[2016-10-04 20:24] erwinmombay commented on #5407
/to @sriramkrish85

[2016-10-04 20:24] sriramkrish85 commented on #5407
@poscar is this on a linux machine?

[2016-10-04 20:27] sriramkrish85 commented on #5407
if this is on a linux machine - possibly a dupe of - https://github.com/ampproject/amphtml/issues/5092

[2016-10-04 20:31] poscar commented on #5407
@sriramkrish85 I'm under MacOS 10.11.3

[2016-10-04 20:50] alisonkohl opened #5409 "CSS columns causing some images not to load in iOS"
When using CSS columns, images not in the first column never load on iOS browsers (Safari and Chrome). Behavior seems fine in Chrome for desktop and Android and Safari on Desktop. It seems that because the first image in the second column is ordered after the last image in the first column, AMP is trying to load images in order as opposed to what is actually in view. Images attached below.

To rep

[2016-10-04 20:52] sriramkrish85 commented on #5407
Okay ! Could you upload a video of what you are seeing ? That would be very helpful

[2016-10-04 21:04] poscar commented on #5407
@sriramkrish85 yessir, here it is:
[amp-carousel-jitter.zip](https://github.com/ampproject/amphtml/files/509523/amp-carousel-jitter.zip)

[2016-10-04 21:05] cramforce opened #5410 "SW: Consider sending a ping when serving a given version"
We could e.g. make a request to something like `https://cdn.ampproject.org/preconnect.gif?rtv=$rtv`

With that we could graph what is being requested in the wild.

[2016-10-04 21:12] cramforce opened #5411 "Install error reporting in service worker"
If possible, reuse this code,

https://github.com/ampproject/amphtml/blob/master/src/error.js#L102

…but the `new Image` probably doesn't work.

[2016-10-04 21:23] senthilp commented on #4771
@ericlindley-g is there a documentation on how to create a new component in AMP? We have made changes to an existing component but not created a new one. We want to evaluate the effort involved in creating `amp-tabs` and see if we can contribute.

[2016-10-04 21:53] dvoytenko commented on #4628
/to @lannka

[2016-10-04 21:54] rohitverma007 opened #5413 "amp-sidebar broken when using #development=1 in iOS devices"
When using the AMP validator built into chrome browser, i.e, appending `#development=1` to an amp page, the sidebar is displayed behind the fixed header. This only happens on iOS devices, tested it via the built in simulator in chrome devtools as well as on an iPhone 5 (Safari) physical device. Sidebar works as expected when not in "validation mode", i.e., without the `#development=1` parameter.
#

[2016-10-04 22:00] sriramkrish85 commented on #5407
Ugh. That looks ugly -  (im still not able to repro on my mac :) )

Chrome: Version 53.0.2785.116 (64-bit)
OSX - 10.11.6 (15G31)

Will dig into this.

[2016-10-04 22:06] dvoytenko commented on #4184
@mkhatib Do changes to `document-click` solve issues for all use cases? If I understand right, we currently only install click interceptor for iframe'd case.

[2016-10-04 22:11] mkhatib commented on #4184
Yeah correct. We only install on iframed docs.

[2016-10-04 22:15] dvoytenko commented on #4184
Ok. So what's the plan? Will it still be broken in standalone? Or will we extend document click to standalone?

[2016-10-04 22:15] aghassemi opened #5414 "Video: Add integration tests that run on on Sauselab"
See https://github.com/ampproject/amphtml/pull/5412

At minimum we should test `supportsAutoplay` on actual devices/browsers on Sauselab (simulator should be fine)

[2016-10-04 22:21] sriramkrish85 commented on #5407
@poscar i could not see images on your js bin may be thats why im seeing the jitter - could you post a direct url if you have one.

[2016-10-04 22:26] cramforce opened #5415 "Support fragment navigation with viewer present"
AMP already supports fragment navigation (click on links like `<a href="#some_heading">` which jumps to `<element id=some_heading>` in the same page).

We do, however, not update the URL of the viewer, nor do we support the viewer giving us the initial fragment.

After this change a URL to a viewer like https://www.google.com/amp/example.com/#some_heading should jump to `<element id=some_heading>`

[2016-10-04 22:30] mkhatib commented on #4184
Ok, I wanna work on the other bug separately and see if we can get to this one, as I think these are two different issues.

I don't fully agree yet on the idea of popping history when sidebar is manually closed. This should just push another history to the browser instead. Otherwise the any history that happened during that navigations are gone.

* Open Sidebar
* #link1
* #link2
* Close Sidebar

*

[2016-10-04 22:51] #5280 closed

[2016-10-04 22:53] jridgewell commented on #5400
/to @cramforce

[2016-10-04 22:56] jridgewell commented on #5413
/to @sriramkrish85

[2016-10-04 22:59] jridgewell commented on #5409
This is the happiest bug report ever. 😄

[2016-10-04 22:59] zhouyx opened #5416 "ServiceWorker can't fetch new .js file that's not cached before"
Thanks to @jridgewell for the explanation on how service worker will try to fetch the cached version. In the race condition where the same client try to fetch multiple files we will stick to the first version we get. I see one potential issue here in the case of a brand new file (or a renamed file) is being requested, and it's never cached.

Say we have `rtvV0` and `rtvV1`. where `rtvV0` has file

[2016-10-04 23:04] jridgewell commented on #5404
/to @rudygalfi

[2016-10-04 23:11] jridgewell commented on #5406
Are you talking about the layoutBox offsets?

[2016-10-04 23:25] jridgewell commented on #5411
Correct. Can we just do a GET request using `fetch`?

[2016-10-04 23:41] sriramkrish85 commented on #5413
I see a inline z-indes on the header that is > that of the sidebar hence the issue.

real issue is how z-index is getting added when there is a `#development=1`

@dvoytenko do you know of anything that might  cause this - i see a fixedlayer iframe being created only on `#development=1`

[2016-10-05 06:49] camelburrito opened #5418 "Add ability to "Add to calendar" on amp-socialshare ?"
Add ability to "Add to calendar" on amp-socialshare ?

[2016-10-05 06:49] camelburrito commented on #5418
CC @mkhatib @dvoytenko

[2016-10-05 10:38] jaygray0919 opened #5421 "Bug in amp-carousel"
In desktop, when scrolling thru amp-carousel slides, the images shimmer vertically.

The best place to view this bug is on https://www.ampproject.org/

Go to "What contributors are saying".

We have dozens of amp-carousels and they all began demonstrating this behavior begining about 2 weeks ago.

The shimmer is more pronounced in Firefox than in Chrome.

---

update:
https://github.com/ampproject

[2016-10-05 11:30] nachitox commented on #2254
The same is happening to us. Any clues ?

[2016-10-05 13:39] Wadekone commented on #2834
Hey guys, any news on resolution for this issue? Hope you understand this is an awful UX as every new page user opens is a new browser tab (way too much consumption of mobile device's resource at least). We are currently in a process of implementing the solution that will allow the customers to navigate through AMPs using the AMP CDN and this bug is causing a trouble.
Hope someone can update this

[2016-10-05 14:40] cramforce commented on #5400
@quarterto there is definitely an argument for changing this. It definitely shouldn't "break" in this case, though. The default documented frame content should work just fine for Twitter (and facebook, etc.)

Do you maintain a site where this is actually broken?

[2016-10-05 14:45] poscar commented on #5407
@sriramkrish85 ah yes, sorry. Here it is: http://www.wmagazine.com/story/why-alice-lancaster-and-other-young-artists-are-making-their-names-with-fashion-collabs-first/amp

[2016-10-05 14:46] cramforce commented on #5416
This can definitely happen. We have a similar problem today, where we cannot do a canary diversion to files that do not exist in prod.

Similarly, you can get an old version of a file where the feature is still experiment guarded.

This isn't as nice as always getting the fresh version, but the benefits of never (asymptotically) having to wait for the network seem to outweigh it.

[2016-10-05 14:47] cramforce commented on #5411
Lets for a start, check if Image is available and use it, and fallback to
fetch otherwise.

On Tue, Oct 4, 2016 at 4:25 PM, Justin Ridgewell <notifications@github.com>
wrote:

[2016-10-05 14:48] cramforce commented on #5418
Is there a common scheme for this?

[2016-10-05 14:55] quarterto commented on #5400
Yes, example article where it's broken: http://amp.ft.com/content/b1be7a87-0f52-3159-bf8e-1a72742bf8be (you'll probably get the paywall, but there are [ways around it](https://github.com/Financial-Times/google-amp/blob/master/app.js#L112)). We're using the meta tag to configure `amp-ad` so we can use our own targeting. I'm guessing we could go about that with `src` instead?

[2016-10-05 15:05] cramforce commented on #5400
@quarterto A few comments on that

- I'd recommend calling draw3p synchronously. You can just slightly rearrange things. Of course, you can still call `done` at the same time you do now.
- As the first line you want to look at `config.type` and only if the type is whatever ad network you use, go into the krux code path. Otherwise just call `done` without doing anything.
- Not all browsers that AMP

[2016-10-05 15:22] quarterto commented on #5400
Thanks for the pointers, I'll look into it. We're [including a polyfill](https://github.com/Financial-Times/google-amp/blob/master/views/ads-iframe.html#L7).

[2016-10-05 15:50] cramforce commented on #5400
You definitely want to put that polyfill script tag after the inline
script. Otherwise it blocks fetching AMP's iframe JS.

On Wed, Oct 5, 2016 at 8:22 AM, Matt Brennan <notifications@github.com>
wrote:

[2016-10-05 15:57] ericlindley-g commented on #5421
Thanks for flagging this— @camelburrito is investigating (closing this and marking as duplicate of #5407

[2016-10-05 16:01] jaygray0919 commented on #5407
Per previous issue, can also be seen here:
  https://www.ampproject.org/

[2016-10-05 16:03] #5421 closed

[2016-10-05 16:24] aghassemi commented on #4184
@mkhatib

I expect tapping `link1` in the sidebar to close the sidebar, so I don't think we can have a `open > link 1 > link2 > close` sequence, instead it will be `open > link1 > close > open > link2 > close`

I also think closing sidebar should pop the open from history otherwise the history gets really messy (picture `open > close > open > close`) and back button opening a sidebar is not a patt

[2016-10-05 16:34] cramforce opened #5422 "ServiceWorker and canarying of AMP"
The current ServiceWorker implementation doesn't handle users getting diverted into a canary version on a page-by-page basis well.

Since the percentage-canary version is never the version of `sw.js` file itself, it would consider the canary version requested by the page to be "old". The consequence is that we'd get essentially 0 coverage of canary pages from users who have the ServiceWorker.

I h

[2016-10-05 17:39] rudygalfi commented on #3343
Experimental means that things might change and could still break your docs without notice. The component is close to stable and we don't anticipate that (in fact, the validation problem I noted in my previous comment is the main thing we're tracking to fix before calling this stable).

[2016-10-05 17:51] rudygalfi commented on #1302
@avimehta I suspect it will be best for you to take it from here. cc @bpaduch

[2016-10-05 18:28] mkhatib commented on #4184
Actually sidebar doesn't close when tapping a link - I know people probably are divided on this, but maybe we can loop in Abbey and see what she thinks about the UX of clicking a link in sidebar - should it close it or not. Or we can expose an attribute about this like `close-on-navigation`.

I get the case where history get messy, I don't think this is an issue we need to handle. OR at least we c

[2016-10-05 18:32] mkhatib opened #5423 "Remove amp-form-custom-validations experiment"

[2016-10-05 18:32] camelburrito commented on #4184
@mkhatib i think it should close on click too (only for #bookmark links )

[2016-10-05 18:34] jaygray0919 commented on #5407
Seems to us that this is a severity-level-1 problem. We see this problem on our carousel's, on Google AMP carousels, and on publisher carousels such as the Guardian.

[2016-10-05 18:43] camelburrito commented on #5407
@poscar - https://www.youtube.com/watch?v=NYQvNFiXG7Q - this is what i am seeing on

Chrome: Version 53.0.2785.116 (64-bit)
OSX - 10.11.6 (15G31)

On an external monitor. Looks like the issue is on smaller screens.

Works perfectly fine on all Cellphones too.

@jaygray0919 -  this has nothing to do with Google search carousel

Will try and see if can isolate the problem and do a quick fix.
--

[2016-10-05 18:45] mkhatib commented on #4184
**Camel Burrito** I think that would actually make it easier to fix if we're taking the should close on click approach. If we can pop history before actually handing the click then things would work out terrific!

@dvoytenko what do you think about changing the `amp-sidebar` behavior to close. I am not entirely sure which handler is first called but we probably can capture the click inside sidebar

[2016-10-05 18:46] camelburrito commented on #5407
Works well on my 13" mac pro - but was able to repro on my colleague's 15" pro. Will keep digging

[2016-10-05 18:48] poscar commented on #5407
@camelburrito

This is very weird.

I see this: https://youtu.be/dFPX5pQeKOM

[2016-10-05 18:54] camelburrito commented on #5407
@poscar @jaygray0919 can you post your monitor sizes (and makes if using external monitor) and mention if you are using retina displays.

@poscar could you try this out on some other machine/monitor.

@jaygray0919 -- understood - the issue is with the carousel so we will see it on all sites -- also post your browser/os versions

[2016-10-05 19:19] ericlindley-g commented on #4184
@abby001

* I think using a close-on-navigation (or similar attribute) is the way to go on this, since the sidebar could be used for a lot of other UI, and not necessarily strictly navigation, so it would be useful to have an explicit opt-in. Though if the fastest path to fixing this bug is to close on click for local navigation in the short term, I think there's low risk in doing that, given the

[2016-10-05 19:22] mkhatib commented on #4184
@camelburrito what was the reasoning behind adding the open/close sidebar status to history?

[2016-10-05 19:23] ericlindley-g commented on #4184
cc/ @abeck000

[2016-10-05 20:00] #5334 closed

[2016-10-05 20:03] poscar commented on #5407
@camelburrito it doesn't on my machine happen if I simulate an iPhone 6 with the Chrome Dev Tools.  Leads me to believe that this might some inconsistent animation math within the new `amp-carousel` component.

[2016-10-05 20:04] #4825 closed

[2016-10-05 20:51] spacedino opened #5427 "The carousel swipe / slide interaction is too fast"
Actual behavior: As a user, when I go forward or backwards in the carousel, the image and text that transition happens too fast and looks jumpy at the end.

Intended behavior: As a user, when I go forward or backwards in the carousel, the image and text that transition should be smooth and barely noticeable.

To reproduce: Use AMP by example template > news article. OR Use and example doc that I c

[2016-10-05 20:57] maddoxnelson commented on #5055
If I could chime in, I'm trying to implement a pure CSS menu in amp, using a checkbox-like system described here: https://codepen.io/surjithctly/pen/pLDwe

Just wanted to post a use case, in the event you were looking for them. I'm running into the exact problem where an "input" box must be the child of a form element.

And just for context, I started by trying to use amp-sidebar and amp-accordion

[2016-10-05 21:10] jaygray0919 commented on #5407
Am running dual HP w2007 monitors, Windows 10 Pro. 1050 x 1680 and reverse. Other team members are running smaller external monitors on Windows 7 and Windows 10 platforms - they too see the same problem. One team member runs a MacBook (uncertain version) and does not see the problem.

[2016-10-05 21:15] jaygray0919 commented on #5407
We believe this problem began 4 to 6 weeks ago. We know all of our implementations worked before then. We began to see the problem ~ 4 weeks ago but didn't take it seriously. A week ago we revisited previous work and realized we had a problem. When we reproduced the results on Google pages and Guardian pages, we were somewhat relieved because it no longer seemed to be just our problem. No snarking

[2016-10-05 21:16] mkhatib opened #5428 "Slide resets when user pause movement midway of a swipe"
Repro:
- Open [example on mobile](https://ampbyexample.com/samples_templates/news_article/preview/)
- Scroll down to the slideshow
- Swipe to next image on the carousel but don't finish the swipe and just pause your movement mid-way.
- Notice the slide jumps back to the initial position ignoring the user is still holding that slide.

cc/ @abeck000

[2016-10-05 21:24] camelburrito commented on #5407
the only difference i see between the machines is the model of the graphics cards :) This is hard to

@jaygray0919 - We did launch an improvement on carousels last week (now you can have good swiping experience on your mobile devices and now we can swipe through iframes/embeds). not sure what you saw 4-6 weeks ago.

[2016-10-05 21:33] ericlindley-g commented on #5427
We tweaked this a bit before releasing, but I agree it's not ideal yet. Fixing the abrupt jump at the end would make particular impact. Slotting this in the backlog for now, though, as UX/feature work (e.g. visual indicators for progress through slides) may take priority over this polish (unless there's a quick win to be had)

[2016-10-05 21:38] ericlindley-g commented on #5351
@cramforce @erwinmombay  — can this be closed? Should we add documentation to amp-ad around this?

[2016-10-05 21:44] ericlindley-g commented on #5418
I like this idea generally—add to calendar actions would be nice to support. I second Malte's question, and wonder, is amp-social-share the right place for this? The general mechanic for these is similar, but the semantics start to get a little muddy.

[2016-10-05 21:47] camelburrito commented on #5418
@ericlindley-g i am not very picky on where this lives - i think this might be light weight enough to put it here. I don't really feel we need a separate component for it. WDYT?

[2016-10-05 21:47] ericlindley-g commented on #5406
I'd be curious to see an example of this to gauge severity

[2016-10-05 21:54] ericlindley-g commented on #5401
cc / @rudygalfi

[2016-10-05 22:08] ericlindley-g commented on #5322
Closing as the intended behavior.

[2016-10-05 22:08] #5322 closed

[2016-10-05 22:15] mkhatib commented on #5281
Thanks for filing @quarterto - I don't see any problem with keeping `data-*` attributes. I am looping in some security folks just to make sure this is fine to do. If we get the clear we can then introduce this easily.

I know other frameworks do something similar (for example Angular 1.X sanitizer) but the best answer I got for stripping out `data-` attributes was because of the use of a whitelist

[2016-10-05 22:20] ericlindley-g commented on #5376
Enabling geo-variation would fix this, but it's still in early stages, with a lot of tricky details to work out. FWIW, I don't think `<amp-fresh>` would fix, because I believe the plan there is to just fetch updates to the same document from the host.

Workarounds until geo-variation is supported might include using `<amp-list>` to make a server call for price content on the first load, or to use

[2016-10-05 22:28] jridgewell commented on #5376
And they can return the correct price?

[2016-10-05 22:30] ericlindley-g commented on #5404
@jeremyclarke The best guideline here is the quote you included from the docs, to only use an image that directly belongs to the article. As you mention, we want to avoid the bad user experience of getting uninformative images.

All of your AMP pages will be eligible for organic search results, and pages with a representative image is eligible for the Top Stories carousel (assuming all other crite

[2016-10-05 22:30] #5404 closed

[2016-10-05 22:31] ericlindley-g commented on #5306
Slotting into "next" based on context in #5297

[2016-10-05 22:40] ericlindley-g commented on #5376
@jridgewell True. I believe `<amp-fresh>` would return the correct price in whatever currency is already present in the document on the client (if the price had changed from $3.99 to $4.99 in the time between when the document was initially loaded on the client, and when `<amp-fresh>` requested the host document again, for instance), but I don't think there are plans to enable switching currency *

[2016-10-05 22:45] jridgewell commented on #5376
But it's arbitrary what the server can return? And it's just a request to their servers, so they can geo locate based on the IP?

[2016-10-05 22:54] ericlindley-g commented on #5376
@rudygalfi  and @erwinmombay would know more, but I thought `<amp-fresh>` was like `<amp-live-list>`, in that update requests are sent to the same host document (the cache, if the page on the client was originally requested from the cache). If the request always goes to the original publisher's servers, even when the original document is served from the cache, then what you're describing would be

[2016-10-05 23:05] mkhatib opened #5431 "Unlayout amp-facebook and amp-twitter"
Currently neither do override `unlayoutCallback` and hence their iframes are never removed or cleaned up when document is no longer active.

[2016-10-05 23:14] jasti commented on #4022
Closing this issue since render-start is implemented and publicly announced to devs.

[2016-10-05 23:14] #4022 closed

[2016-10-05 23:21] Gregable commented on #5281
The validator already allows the document to contain `data-*` attributes on any tag, so if the presence of these tags is a security risk, the sanitizer isn't the only place where the issue results. The AMP cache similarly does not strip these tags.

[2016-10-05 23:25] jasti opened #5432 "Improvements to amp-sticky-ad"
- [x] Even with DoubleClick ads that have implemented render-start, we see a translucent overlay. The overlay should not be user visible.
  ![sticky](https://cloud.githubusercontent.com/assets/2366341/19135002/96f131f8-8b2f-11e6-8f3a-0f64bbaa972b.png)
- [ ] The close button appears separate from the ad. Paint the close button the same time as the ad.
- [ ] @ericlindley-g Can you also add your feed

[2016-10-05 23:27] jasti commented on #5432
@ampproject/ads and @jpettitt FYI, incase you have additional feedback.

[2016-10-05 23:29] mkhatib opened #5433 "amp-facebook video embed improvements"
Facebook [provides few APIs](https://developers.facebook.com/docs/plugins/embedded-video-player/api) that we can use to improve `amp-facebook` video embeds.
- Explose autoplay functionality
- Player state (playing, paused...) - Use a better event for load promise resolving
- Implement `pauseCallback`
- Use iframe-based embed (though this is not documented this is the code that is given to the user

[2016-10-05 23:32] zhouyx commented on #5432
@jasti I don't quite understand. Even with render-start implemented, there will be a short period of time before we receive `render-steart` msg. shouldn't we put transparent overlay there?

[2016-10-05 23:32] mkhatib commented on #5433
Actually even post embedding seems to have iframe-based embedding now.

[code]

[2016-10-05 23:57] mkhatib opened #5436 "Test Iframe should only explicitly call build and layout when runtime is turned off"
I've encountered few examples where elements are being built and laid out twice during test because runtime is on and `addElement` was used.

Maybe only explicitly call `build` and `layoutCallback` when `opt_runtimeOff` is true.

[2016-10-06 00:21] lannka commented on #5436
I just did very similar thing, in case you're interested in taking a look: #5417

[2016-10-06 00:23] camelburrito commented on #5407
This will be on prod along with next Week's release

[2016-10-06 00:23] #5431 closed

[2016-10-06 00:30] cramforce commented on #5376
`amp-fresh` does not make direct requests to the origin. In any case, it would be wrong to use it.

Right now the misnamed `amp-list` is the only workable (but really bad) solution. Geo targeting would need to be implemented to do this well.

[2016-10-06 00:31] jaygray0919 commented on #5407
We're developers. ~6 weeks ago it worked; today it does not. Please roll back to a working version.

[2016-10-06 00:36] cramforce commented on #5351
It can't be closed yet. We need to fix our heroku deployment to do the right thing by default.

[2016-10-06 03:05] derat opened #5440 "amp-sidebar remains open when tapping outside of it"
AMP 1475106123549
Chrome Linux 53.0.2785.144, Chrome Android 53.0.2785.124

1. Load a page that uses amp-sidebar, e.g. https://ampbyexample.com/components/amp-sidebar/.
2. Open the sidebar.
3. Click on the document body outside of the sidebar.

Per https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/amp-sidebar.md, "Tapping back on the partially-visible main content area close

[2016-10-06 03:53] camelburrito commented on #5440
@derat Thanks for filing, we already found and have a fix merged.
Dup of #5362

[2016-10-06 03:53] #5440 closed

[2016-10-06 04:10] gctommy commented on #2851
Oh, the irony. The whole AMP Project is more or less about reinventing HTML.

Material Design Lite offers swatches: https://getmdl.io/customize/ so no reason why they couldn't throw in some starter templates onto the AMP by Example site.

@VedranBrnjetic Did you try this one? https://github.com/uncompiled/amp-bootstrap

[2016-10-06 05:02] twins16 opened #5441 "hello apm page don't sow te pdf can i add plgin or js for amp page"
hello apm page don't sow te pdf can i add plgin or js for amp page

[2016-10-06 08:18] xgretsch opened #5442 "amp-ad tag with type "_ping_" deleting its iframe after loading"
## Short description of your issue:

&lt;amp-ad&gt; tag with type "\_ping\_" is loading everything correctly, but the ad never shows: the iframe inside the &lt;amp-ad&gt; is being deleted.

## How do we reproduce the issue?

https://bachtrack.com/amptest.html

Just load the file, and watch the Network tab on developer tools. You will see that the iframe is created, the source remotetest.html is lo

[2016-10-06 11:35] dknecht commented on #5351
I think this is related to our previous issue about the last few hard coded URLs.

[2016-10-06 14:05] cramforce commented on #2851
I guess, I never commented here :)

@gctommy AMP is not reinventing HTML. AMP is an application of HTML, just like HTML once was an application of SGML. Since AMP is literally HTML it cannot reinvent it.

So, most CSS frameworks should be fine. Bootstrap has to be heavily massaged for size, but works great (and this is exactly working as intended).

Our goal is simply for people to have an **optio

[2016-10-06 14:36] pbakaus commented on #2851
What Malte said :)

I'm in favor of this plan – means we won't take on too much work building another big project within AMP, and still gives folks a decent recommendation to start with.

[2016-10-06 15:02] derat commented on #5440
Great, thanks! I unfortunately searched for [amp-sidebar] rather than [sidebar] when trying to see if this had already been reported. :-)

[2016-10-06 15:28] cramforce commented on #2851
The truth is that this project only exists, because I want to make an AMP
page and I suck at CSS :)

On Thu, Oct 6, 2016 at 7:36 AM, Paul Bakaus <notifications@github.com>
wrote:

[2016-10-06 15:28] kevinSuttle commented on #2851
The problems with Bootstrap are that it sets globals, and relies on Normalize and HTML5 Boilerplate. The user has to do a _lot_ of overriding.

[2016-10-06 15:37] ericlindley-g commented on #2851
cc/ @abeck000 (UX on the project)

[2016-10-06 15:49] camelburrito commented on #5440
It's good to have bugs filed :) thanks for taking the time !

[2016-10-06 16:06] poscar commented on #5407
Great, thank you @camelburrito !!

[2016-10-06 17:04] lannka commented on #5442
@xgretsch `_ping_` is used for test only. The behavior is actually as expected, it timed out and ended up with a fallback with iframe removed.

Is there any specific reason you want to use type `_ping_`?

[2016-10-06 17:26] aghassemi opened #5446 "this.loadPromiseResolve_ is not a function errors"
I am seeing bunch of `this.loadPromiseResolve_ is not a function errors` on HEAD (just load `everything.amp.max.html` and scroll a bit). Not seeing it on CDN (Prod or Canary).

Will investigate.

/cc @jridgewell @dvoytenko @erwinmombay FYI

[2016-10-06 17:31] dblankenbaker opened #5447 "Support for IBM Digital Analytics (Coremetrics)?"
Is anyone working on adding IBM Digital Analytics (Coremetrics)?

[2016-10-06 17:44] xgretsch commented on #5442
I used type {\_ping\_} because it seemed to be the only one that could be used with a custom  {amp-3p-iframe-src}, which, as I understand it, is the only way to serve ads from my own domain.

So if {\_ping_\} is for test only, can you please tell me what ad type I should be using, when I'm just serving my own ads and not using a third party ad network?

[2016-10-06 18:16] walia opened #5448 "amp-ad not centering with multi-size and layout=responsive"
## Short description of your issue:
Having an issue with 300x250 ad not centering when within a multi-size ad.
![300x250](https://cloud.githubusercontent.com/assets/6536430/19164102/9d8e13d0-8bcc-11e6-905c-7b05ec64f535.png)

## How do we reproduce the issue?

code snippet: http://jsbin.com/yacejajume/edit?html,console,output

## What browsers are affected?
all

## Which AMP version is affected?
Ve

[2016-10-06 18:30] zhouyx commented on #5446
this seems to be the reason #5398

[2016-10-06 18:55] jasti commented on #5448
@walia I can't seem to reproduce it consistently.  Works every time on my end. What device and browser are you using?

![screen shot 2016-10-06 at 2 52 46 pm](https://cloud.githubusercontent.com/assets/2366341/19166257/d79b2bfa-8bd4-11e6-8921-5c314a84bf8b.png)

@glevitzky @lannka FYI

[2016-10-06 18:58] jasti commented on #5432
As discussed offline @zhouyx, let's experiment without the transparent overlay for those networks that implement render-start. Having the transparent layout increases the perceived latency of the ad - especially on slow networks.

[2016-10-06 19:22] walia commented on #5448
I have adjusted the code snippet. It needed more text so that the ad is below the viewport and can resize. I am using chrome on iOS.

![image](https://cloud.githubusercontent.com/assets/6536430/19167139/5cede4c0-8bd8-11e6-9601-457feb231fb3.png)

[2016-10-06 19:33] jasti commented on #5448
This is WAI.
layout= responsive will always align the creative left to right. It expects a responsive image, but what's returned is a fixed size image.
Why not just center align the ad all the time?
http://jsbin.com/suhebuyoxo

[2016-10-06 19:53] walia commented on #5448
The `<center>` element is a deprecated tag. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center.

[2016-10-06 19:54] #5188 closed

[2016-10-06 19:57] lannka commented on #5188
@andscova the fix is in, will be cut in this week's canary release.
You should be able to test it in the opt-in mode (click [here](https://cdn.ampproject.org/experiments.html) and turn on dev channel).

If everything is OK, we plan to have it in prod next week.

[2016-10-06 20:15] camelburrito commented on #4184
When sidebar has an external link it would be good to maintain state when we navigate is back and forth

[2016-10-06 20:16] dvoytenko commented on #2834
@Wadekone, this bug is deduped to #1572. Could you please chime in there?

[2016-10-06 20:23] dvoytenko commented on #5413
@camelburrito It's possible that fixed transfer layer interferes here. `#development=1` turns it on iOS Safari to spot these issues easier. The onus is on the component to work correctly in both scenarios.

[2016-10-06 20:28] erwinmombay commented on #5376
can we add an alias for amp-list? (like amp-embed)

[2016-10-06 20:31] camelburrito commented on #5413
@dvoytenko - when there is a fixed layer - the header element gets a higher z-index - how does the component know what z-index is being added by the fixed layer?

[2016-10-06 20:31] dvoytenko commented on #4184
@mkhatib

I'd say that re-opening sidebar on back button is definitely NOT an expected behavior. Just as is the case with native apps when you close sidebar on tap, clicking on back button doesn't reopen it. A tap or back button are just two ways for a user to close sidebar.

Generally, the goal is to always keep history stack shallow. Normally a user cannot remember how far back they can click an

[2016-10-06 20:33] erwinmombay commented on #5441
apologies we currently do not allow for arbitrary js to run on amp page. closing issue but feel free to open if you have more questions

[2016-10-06 20:33] #5441 closed

[2016-10-06 20:34] dvoytenko commented on #5413
Sidebar should be in the fixed layer as well and thus should also get a higher z-index. Right? For a deeper answer - please see `fixed-layer.js`

[2016-10-06 20:38] mkhatib opened #5450 "AccessServerJwtAdapter tests flakes"
[code]

[2016-10-06 20:49] camelburrito commented on #5413
![screen shot 2016-10-06 at 1 48 04 pm](https://cloud.githubusercontent.com/assets/1037311/19170037/a7417bf2-8bcb-11e6-82e2-446f89d75aac.png)

[2016-10-06 20:50] camelburrito commented on #5413
This happens only on development=1

fixedlayer recalculates style for header (since it is in the transferred layer), but does not do it for the sidebar (which is also in the fixed layer but not transferred). Will dig into it.

[2016-10-06 20:52] erwinmombay commented on #5369
@lannka can you look at this?

[2016-10-06 20:59] lannka commented on #5369
Might be fixed by #5290

[2016-10-06 21:00] #5369 closed

[2016-10-06 21:00] jpettitt commented on #5432
We've already got CSS to suppress the overlay and delay display conditional on `.amp-sticky-ad-loaded`.  However there is still la very noticeable delay between the ad box appearing and the ad content if you scroll the page fast.   In a perfect world the whole thing would be `display: none` until there was an actual ad to show.

[code]

[2016-10-06 21:14] #5399 closed

[2016-10-06 21:15] senthilp commented on #4771
We found the doc [Building an AMP Extension](https://docs.google.com/document/d/19o7eDta6oqPGF4RQ17LvZ9CHVQN53whN-mCIeIMM8Qk/edit#). Will evaluate and update back.

[2016-10-06 21:17] jasti commented on #5448
Was talking Brian Anderson on Slack. We think this can work with DFP creative wrappers. Good luck!

[2016-10-06 21:17] #5448 closed

[2016-10-06 21:29] zhouyx commented on #5432
@jpettitt I think toggle display after ad load is not going to work. With `display:none` we wouldn't be able to schedule layout for ad. Also toggle display on early is to solve the blink issue we had with ios.

[2016-10-06 21:36] erwinmombay opened #5453 "TypeError: Cannot read property 'amp-share-tracking' of undefined"
We're seeing an issue were `window.ampExtendedElements`  is undefined possibly in `isElementScheduled` call inside `src/element-service.js`

[code]

[2016-10-06 21:37] erwinmombay commented on #5453
@jridgewell has a quick fix but we want to make sure this isn't an ampdoc related issue
cc @dvoytenko

[2016-10-06 21:38] erwinmombay commented on #5453
this doesnt seem to be in production but in the current canary that is about to go out

[2016-10-06 21:50] cramforce commented on #5376
Yeah, maybe amp-client-render. Might be better to make 2 extensions. A
direct one would have a more straight forward API.

On Thu, Oct 6, 2016 at 1:28 PM, erwin mombay <notifications@github.com>
wrote:

[2016-10-06 21:52] jridgewell commented on #5453
For more context, this is coming from:

1. [`UrlReplacements.constructor`](https://github.com/ampproject/amphtml/blob/1ba0160/src/service/url-replacements-impl.js#L82-L89)
  2. [`shareTrackingForOrNull`](https://github.com/ampproject/amphtml/blob/1ba0160/src/share-tracking-service.js#L28-L29)
    3. [`getElementServiceIfAvailable`](https://github.com/ampproject/amphtml/blob/1ba0160/src/element-ser

[2016-10-06 21:54] erwinmombay commented on #5351
yeah, just need to add docs on how to override the configs i think. I'll test it out today

[2016-10-06 22:04] #5453 closed

[2016-10-06 22:31] banderson623 commented on #5448
Thanks for the support @jasti !

[2016-10-06 22:39] jpettitt commented on #5432
You mean it's not a perfect world?

[2016-10-06 22:47] dvoytenko commented on #5453
@jridgewell Did you see if that document actually defined the share-tracking script? I have concerns that this fix will create false negatives, as in will report that service is not available when in fact it is. Perhaps a better (hacky) fix would be to instantiate `window.ampExtendedElements` in the bootstrap `amp.js`?

[2016-10-06 22:51] dvoytenko commented on #5413
This is not really because of `development=1`. This is a iOS iframe emulation mode. We simply trigger it with `development=1` so we can spot problems like this sooner. For example, this is currently a problem in production for Google Search on iOS Safari.

[2016-10-06 23:09] zhouyx commented on #5432
@jpettitt i guess the world is just not that perfect : )
I will be sending out a pr soon. that sticky-ad with `render-start` implemented ad will only be visible after ad has render started. I think it will solve the issue you mentioned for ads that support render start.

However there is still la very noticeable delay between the ad box appearing and the ad content if you scroll the page fast. In

[2016-10-06 23:24] jridgewell commented on #5447
/to @rudygalfi

[2016-10-06 23:36] lannka commented on #5432
Not yet, but soon. I mean perfect world, lol

[2016-10-06 23:42] jridgewell commented on #5453
The [doc](https://cdn.ampproject.org/v/www.forbes.com/sites/scottmendelson/2016/01/19/tyler-perry-reteams-with-lionsgate-for-boo-a-madea-halloween/amp/?amp_js_v=5) does not include the share-tracking script, which is totally fine.

Nah, that won't help. We'll run into the following case.

I see. Currently, if the element service hasn't been scheduled yet, it'll wait until the body is available. Ma

[2016-10-06 23:44] #4844 closed

[2016-10-07 01:39] JoeArizona commented on #5218
Thanks Rudy. I should've thought of that. I'm still confused by all the different JS files I was seeing – it doesn't look like Google's code, but I'll dig into it some more.

[2016-10-07 02:40] JoeArizona opened #5460 "AMP JS runtime (v0.js) is no longer in the repo"
The AMP JS runtime (v0.js) used to be in the repo, but is no longer. Can we get it back? We can grab it by browsing or CURLing to https://cdn.ampproject.org/v0.js, but it would be very helpful to be able to track official changes to the runtime in the repo.

[2016-10-07 03:15] jridgewell commented on #5460
/to @rudygalfi

[2016-10-07 03:18] rudygalfi commented on #5460
You can track release info here: https://github.com/ampproject/amphtml/releases

I'm not sure about the v0.js change. /to @erwinmombay @cramforce

[2016-10-07 04:10] cramforce commented on #5460
Nothing in this direction changed. As @rudygalfi pointed out one can follow the release page for changes. It certainly doesn't make sense to check the actual code into GitHub since it changes with every commit.

I assume https://github.com/ampproject/amphtml/releases is the right answer here :)

[2016-10-07 04:10] #5460 closed

[2016-10-07 06:07] erwinmombay commented on #5460
our changelog's are slightly confusing right now since a "release" can be a union of multiple versions. I plan to make it so that the latest version will have the changelog of everything that hasn't been released yet this makes it so that you only need to look at 1 pre-release version instead of all pre-release versions.

https://github.com/ampproject/amphtml/issues/5293

[2016-10-07 06:08] #5446 closed

[2016-10-07 06:10] aghassemi commented on #5387
Not Applicable anymore per https://github.com/ampproject/amphtml/pull/5412

[2016-10-07 06:10] #5387 closed

[2016-10-07 07:26] Wadekone commented on #1572
Per instruction from dvoytenko I would like to clarify if the solution for the issue was developed?
Hope you understand this is an awful UX as every new page user opens is a new browser tab (way too much consumption of mobile device's resource at least). We are currently in a process of implementing the solution that will allow the customers to navigate through AMPs using the AMP CDN and this bug

[2016-10-07 07:57] DarXector commented on #5321
Hi, this is the correct syntax. There was a change on the Brid.tv side for this player specifically. It was using a custom snapshot URL. This has been fixed now.
There already is a fallback placeholder for these situations, but support for custom URL should probably bee added.

[2016-10-07 13:58] cramforce commented on #5460
@erwinmombay Neat! Also consider adding `<summary>` and `<details>` to the notes :)

[2016-10-07 16:28] erwinmombay commented on #5460
@cramforce will do!

[2016-10-07 16:38] rudygalfi commented on #5447
AFAIK, nobody from IBM Digital Analytics has yet engaged with the AMP Project. @dblankenbaker Do you have any contacts there that you could point to this issue?

[2016-10-07 17:35] mkhatib commented on #5321
Not sure what you mean here, but glad the fix is in, is the fix only work for videos and not playlists?

Anything else needs to be done here or should we close this issue?

[2016-10-07 18:09] zhouyx opened #5465 "let amp-ad expose `isRenderStartImplemented` through attribute"
we have different behaviors for ad who support `render-start` or not. This is not a problem for the ad itself since it has access to adConfig file.
However it would be nice to expose this property to some ad containers (like sticky-ad) through attribute. One thing to note is that setting this attribute in `#layoutCallback` is too late, this need to be done no later than amp-ad `#buildCallback`. Si

[2016-10-07 18:18] ScotsScripts opened #5466 "AMP Product page carouselstarted jumping/flickering & drawer/sidebar menu has stopped working"
I've been incorporating AMP into an ecommerce platform and everything was working fine when I took break to work on something else a week or two ago, but this morning when I came back to it the product carousel had started to flicker/vibrate/jump on every slide and the sidebar/drawer (hamburger menu) has stopped working.

Here is a sample product page. The last time I worked on it everything was w

[2016-10-07 18:23] tdrl commented on #5318
Feature request:  In PR #5373 , we did a very quick/dirty implementation of some timing and instrumentation pings for A4A and 3p ads.  It would be much better to let Analytics handle this, though.  Independent of the ad content, we'd like to be able to measure properties like:

- Total number of ad slots on a page vs. number of ad slots that actually execute.
- Time from page load to ad start.  (N

[2016-10-07 18:54] jridgewell commented on #5466
I believe @camelburrito fixed this.

[2016-10-07 19:02] camelburrito commented on #5466
@ScotsScripts - The fliker happens with some desktops/laptops with older GPUs - and it has been fixed in and will be live next week (you can opt in to our dev channel to verify) - https://github.com/ampproject/amphtml/pull/5435

For the sidebar not showing up - remove the display: none here.
[code]

[2016-10-07 19:02] #5466 closed

[2016-10-07 21:41] ScotsScripts commented on #5466
Thanks for checking into this! I'm glad the flicker is going to go away. The drawermenu fix did not work for me. Was there a change in the drawermenu js/css recently that caused this? I'll look into pulling in the most recent CSS and see if that fixes it.

[2016-10-07 21:49] camelburrito commented on #5466
@ScotsScripts - we did cause and fix an unrelated issue (https://github.com/ampproject/amphtml/pull/5365) on amp-sidebar - let me know if you need more help with this.

[2016-10-07 22:22] #5346 closed

[2016-10-07 22:40] jridgewell commented on #5409
Ok, so after debugging, this is not an AMP issue specifically: this is a problem with iOS shoddy CSS-GPU rendering.

[Here's a similar page](http://jsbin.com/leguto) (without AMP and extra content) that has the same problem. It appears to be some interaction with:

[code]

Disabling any one of those three styles fixes the issue.

A horrible, no-good, hacky, you-really-shouldn't-do-this fix is to a

[2016-10-07 22:40] #5409 closed

[2016-10-07 22:40] jridgewell commented on #5409
Oh, and thanks for the puppy filled day. 😁

[2016-10-07 22:59] dvoytenko commented on #5428
/to @camelburrito

[2016-10-07 23:02] ScotsScripts commented on #5466
I'm not super savvy here as far as where to find the update. I've been checking various links in this thread but see only snippets. Will you point me in the right direction? Thanks, I appreciate the help.

[2016-10-07 23:59] jridgewell opened #5471 "Serving incorrect <amp-ad> script"
Go to https://cdn.ampproject.org/c/amp.usatoday.com/story/91751472/

Notice that the current prod AMP version is `1475796420615`, and we load that version for `v0.js`.

The `<amp-ad>` script that is automatically injected is `1475174282386`. That's last week's prod version.

[2016-10-08 00:07] jridgewell commented on #5471
This is related to the Cache SW (😢). Thankfully, that's under an experiment guard, so no real issue yet.

[2016-10-08 00:12] camelburrito commented on #5428
This is a known compromise.

This is because -
we identify scroll end with a timeout - and this scenario is actually ending scroll

This is technically not feasible for now because we rely on the scrolling and scrollEnd timer for slide switching - but here is what i am thinking we could do to improve

1) check if the current slide is not an embed and then look for touchEnd not being triggered afte

[2016-10-08 00:22] zhouyx opened #5472 "A4A resolve layoutCallback early when renderViaCrossDomainIframe"
I found that if an A4A decide to render as 3p ad it will call `this.renderViaCrossDomainIframe_` and resolve the `#layoutCallback` immediately after that.

However in 3PAdImpl, we will only resolve `#layoutCallback` when this `apiHandler.startUp` promise is resolved. https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-3p-impl.js#L217

I think we should keep the timestamp

[2016-10-08 00:24] dvoytenko commented on #5324
/cc @cramforce

[2016-10-08 00:45] camelburrito commented on #5466
@ScotsScripts - You can checkout the fix for the jitter on our dev channel.
https://cdn.ampproject.org/experiments.html  turn on dev channel here

[2016-10-08 01:05] jridgewell commented on #5471
See #5474 for explanation.

[2016-10-08 01:06] twins16 commented on #5441
fixed today thank's <3

[2016-10-08 01:28] jridgewell commented on #5471
We could return `302 Moved Temporarily` Response to the cached RTV version, which would eliminate this "problem". But, you probably wouldn't ever notice it to begin with.

[2016-10-08 02:00] dvoytenko commented on #5301
On every page? Or some specific example?

[2016-10-08 02:30] jridgewell opened #5476 "Install Core Runtime Styles into Test Iframes"

[2016-10-08 05:49] Arun1048576 opened #5477 "amp-sidebar mask issue"
Please walk through the following steps for reporting an issue about AMP:

amp-sidebar has an issue. The amp-mask does not seem to get displayed when the sidebar opens. In the example given on ampbyexample.com, it seems amp-sidebar works fine when the code comes from the service worker, and on hard reload it doesn't. I think the service worker has cached a previous version of amp-sidebar and in th

[2016-10-08 06:31] dvoytenko commented on #5476
Do you want to do it in all iframes? Or only fixtures?

[2016-10-08 06:41] dvoytenko commented on #5477
/to @camelburrito

[2016-10-08 06:48] camelburrito commented on #5477
This has been fixed and cherrypicked to prod . Just checked on an incognito tab works now

[2016-10-08 06:48] #5477 closed

[2016-10-08 14:36] dblankenbaker commented on #5447
Yes--I'm at IBM and we'd like to engage.

[2016-10-08 20:05] JoeArizona opened #5478 "Gzipped AMP JS files can be further reduced by ≈ 4%"
Today's gzipped AMPv0.js file weighs in at 52,618 bytes. This can be reduced to approximately 50,800 bytes by using a better gzip compressor. I ran zopfli, libdeflate, and ECT on it, and they all deliver a file size in that sub-51K ballpark. Files like this should be maximally compressed in advance (I assume it isn't being gzipped on-the-fly by the Google AMP CDN servers, but was compressed once i

[2016-10-08 20:49] jaspersorrio commented on #3454
I think the problem at hand is not about combining the scripts but enabling caching on the cdn's server side.

Since the amp cdn serves up versions of amp, shouldn't caching on amp cdn's server be enabled?

I do understand that amp is undergoing much changes currently. But this should be fixed in the future to allow caching optimizations to kick in.

[2016-10-09 05:25] Arun1048576 commented on #5477
@camelburrito Thanks !

[2016-10-09 16:59] ScotsScripts commented on #5466
Thanks! Now for a total github newbie question, after I turn on the dev channel where is it? I've been looking around but sometimes I miss the obvious.

[2016-10-09 20:12] Arnold85 opened #5479 "Strange flickering resize effect in amp carousel"
A few days ago a did not see this behaviour. Today the first amp-carousel on my website https://hpphysio.com/fortbildung-zum-heilpraktiker-physiotherapie/ has an anooying flickering resize effect. You can see it in chrome but much more in firefox.
Searching for a possible error I recognized that the same behaviour can be seen on https://ampbyexample.com/components/amp-carousel/ for the carousel wi

[2016-10-09 20:22] Arnold85 commented on #5479
in the dev tools I can see the "amp-no-scroll" property on the <div class="amp-slides-container"> appear and disappear just as the picture resizes.

[2016-10-09 20:34] Arnold85 commented on #5479
deleting the 	overflow-x:hidden!important from the class
[code]
resolves the problem.

[2016-10-09 23:14] camelburrito commented on #5479
@arnold85 we have ready identified and fixed this issue (happens on some old model GPUs) the fix will be live with the next release

[2016-10-09 23:14] #5479 closed

[2016-10-10 10:48] selfcatering commented on #5055
I'm too much interested in the same use case as @maddoxnelson
Since custom javascript code is not allowed the only and actually quite neat approach to toggle a css menu is to use a label along with an input checkbox. The requirement to keep box tags as an immediate descendants of a form tag is breaking this nice feature.

[2016-10-10 11:54] roablep commented on #3019
Hi there - What is the timeline for implementing this?

[2016-10-10 12:16] georgecrawford commented on #2198
I originally raised https://github.com/ampproject/amphtml/issues/2476, and I'm wondering what the latest is on this? I'd like to send a boolean value in my analytics submission based on an access decision made in the client (e.g. `barrier: 'NOT AUTHDATA(access)'`, as described in the other ticket). How close are we to being able to do this?

[2016-10-10 13:58] cramforce commented on #5324
@keithwrightbos We're tracking this in b/32003819. Could you take a look and see if this is a separate issue?

[2016-10-10 14:09] cramforce commented on #3454
For Chrome users this will be fixed when our foreign-fetch ServiceWorker launches. Beyond that cache time has to stay reasonably low to avoid skew issues.

[2016-10-10 14:42] e2corporation commented on #5234
Has anyone experimented with a MutationObserver to monitor when ad elements are added to the DOM (async requests etc.)? Aside from using a setTimeout, I've found that when inside a MutationObserver.observe() event, this provides better timing for detecting a valid/non-zero body height value which can then be passed to renderStart() or requestResize().

[2016-10-10 15:46] georgecrawford commented on #5281
Thanks @mkhatib and @Gregable. Are we now in a position to 'introduce this easily'? It's preventing us from tracking something quite important. Let us know if you'd like any further information. Thanks!

[2016-10-10 15:54] ericlindley-g commented on #5301
Possibly related: https://github.com/ampproject/amphtml/issues/4716

[2016-10-10 16:15] ericlindley-g opened #5483 "Support scroll-dependent CSS"
Tracking the ability to change CSS styles based on scroll position

Related:
https://github.com/ampproject/amphtml/issues/5059 (Generic binding protocol)
https://github.com/ampproject/amphtml/issues/1443 (Parallax scrolling)
https://github.com/ampproject/amphtml/issues/2911

[2016-10-10 16:18] aghassemi opened #5484 "[A11Y] Slides carousel: The preloaded slides need `aria-hidden`"
SlideScroll preloads the previous and next slides and removes `display:none` from them (although they are still hidden because of overflowing the parent). Currently a TalkBack user can view all three slides, therefore we need to add `aria-hidden` to the preloaded slides to hide them.

[2016-10-10 16:35] aghassemi opened #5485 "[A11Y] Slides carousel: carousel container needs `aria-live=polite`"
Currently activating the next/previous buttons in the carousel does not announce any changes which is not ideal. As soon as user activates next/previous, they should hear the description of the new item that just became visible. Adding  `aria-live=polite` to the `-amp-slides-container` will achieve this behaviour.

[2016-10-10 17:06] aghassemi opened #5486 "[A11Y] Slides carousel: Unclear what 'Next', 'Previous' refer to"
Their text should be changed to `Next item in carousel` and `Previous item in carousel`

Applies to both type="carousel" and type="slides"

[2016-10-10 17:14] aghassemi opened #5487 "[A11Y] Slides carousel: Slides not navigable by screen readers without `controls` attribute present"
without `controls` attribute screen reader users lose access to the next/previous buttons (because their visibility is set to hidden) and therefore have no way of navigating the carousel.

We need to hide next/previous buttons differently (can't do `display:none` or `visibility:hidden`). One approach is moving them off-screen, another approach is using `opacity:0` (my recommendation)

Applies to b

[2016-10-10 17:17] alisonkohl commented on #5409
@jridgewell Thanks for looking into this and glad you enjoyed the puppies :)

[2016-10-10 17:29] lannka commented on #5465
It sounds good to me.

But if possible, I would avoid these kind of hassle by not supporting such a requirement. I think external widgets should not behave differently depending on the implementation detail about the amp-ad (w/ or w/o render-start), although the external widget here is a parent that owning the amp-ad.

e.g., we can have a same ad loading experience no matter of w/ or w/o render-st

[2016-10-10 17:31] aghassemi opened #5488 "[A11Y]: accordion: `aria-expanded` should be on header not content"
currently `aria-expanded` is set on the content, it should be set on the `header` instead.

[2016-10-10 17:32] lannka commented on #5442
@jasti do you think we will add support to a custom ad server? I think if we allow this path, it will be eventually similar to have ads in `amp-iframe`.

[2016-10-10 17:41] camelburrito commented on #5092
fixed ny #5435

[2016-10-10 17:41] #5092 closed

[2016-10-10 18:06] aghassemi opened #5489 "[A11Y]: <amp-img>, <amp-anim> should propagate `aria-*` to the inner `<img>`"
Currently
`<amp-img aria-label="Some Image"  ..` does NOT read "Some Image" when using screen readers the same way `<img aria-label="Some Image" ...` does.

Same is true for other `aria-*` attributes.

We need to propagate all `aria-*` and `role` attributed from the parent `<amp-img>` to `<img>` since the `<img>` is the real component here.

**IMPORTANT**
I believe it is fine to leave the aria att

[2016-10-10 18:59] cramforce opened #5492 "Embeds (ads, tweets, etc.) sometimes broken in canary"
Not sure why. Could be a Chrome Dev Channel issue.

[2016-10-10 19:05] jasti commented on #5465
@lannka As long as we don't show the the white background (and close button) before the creative itself for those networks that have render-start implemented, we are good. (Showing the placeholder before the ad increases perceived latency)
Implementation details up to y'all.

[2016-10-10 19:21] jridgewell commented on #5476
@camelburrito?

[2016-10-10 19:23] jridgewell commented on #5447
@dblankenbaker: Either @rudygalfi or @ericlindley-g as our product managers, or @avimehta who oversees the analytics integrations in AMP.

[2016-10-10 19:40] rudygalfi commented on #5447
@dblankenbaker Do you have any questions about integrating IBM Digital Analytics with AMP?

The key thing to know is that AMP will not allow any JS to run on the main page, which means the instrumentation for analytics is handled by AMP and a [vendor config](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js) can be defined to specify how hit requests should

[2016-10-10 19:48] jridgewell commented on #5478
/to @cramforce.

[2016-10-10 19:52] zhouyx commented on #5465
@lannka you mean get rid of transparent overlay in both cases?

[2016-10-10 19:53] aghassemi opened #5493 "[A11Y]: <amp-video>, <amp-audio> should propagate `aria-*` to the inner `<video/audio>`"
Currently
`<amp-video aria-label="Some Video"  ..` does NOT read "Some Video" when using screen readers the same way `<video aria-label="Some Video" ...` does.

Same is true for other `aria-*` attributes.

We need to propagate all `aria-*` and `role` attributed from the parent `<amp-video>` to `<video>` since the `<video>` is the real component here.

**To be on the safe side**, we can start by on

[2016-10-10 20:12] xgretsch commented on #5442
@jasti Can I add my $0.02 worth?

I do not think that it is proper for AMP to discriminate against small website publishers who want to sell their own ads, in favour of large ad networks.

So here's what I'm doing: I have done a pull (my first ever Github pull!) and just about finished implementing my own site as an ad network, following all the rules. Soon, I will push this, and expect it to be a

[2016-10-10 20:13] cramforce commented on #5478
Yep, no need to track here, since this is just a function of support on the serving system side that is not part of the open source project, but we will start serving both `brotli` and slightly less likely `zopfli` payloads.

[2016-10-10 20:13] #5478 closed

[2016-10-10 20:15] mkhatib commented on #5281
Unfortunately, we've found that there might be an issue with some of data attributes - that Mustache and AMP sanitizer treat a bit differently. I am working on figuring out if this pauses any security issues yet.

[2016-10-10 20:16] erwinmombay opened #5495 "add amp-reddit to validator"

[2016-10-10 20:26] dblankenbaker commented on #5447
Hi. I do have questions, but they are from a process perspective vs a development perspective. @rudygalfi --I sent you an invite to connect via LinkedIn, but couldn't include my email. It's dblanken@us.ibm.com. If you could send me a note via email, that would be great.

[2016-10-10 20:26] cramforce commented on #5492
Can't repro anymore

[2016-10-10 20:26] #5492 closed

[2016-10-10 20:34] aghassemi opened #5497 "[A11Y] <amp-bird-player>'s buttons are not accessible."
bird-players needs to use `role=button` and proper `title` attributes such as `Play video` on its UI controls (which are just `div`s) Currently even the `play` action is not accessible in TalkBack.

Not specific to the AMP component but a general a11y issues with bird-player.

@DarXector Do you work for brid.tv or do you know of any contacts there? Thanks!

[2016-10-10 20:35] amphtml-team commented on #5442
I don't think we have an issue as long as you use amp-ad to serve ads
instead of amp-iframe.

For now, we should keep your implementation separate, so we know who to
contact when there is an issue with an implementation.
@cramforce
On Mon, Oct 10, 2016 at 3:12 PM xgretsch <notifications@github.com> wrote:

[2016-10-10 20:52] cramforce commented on #5442
For what its worth, the reason this doesn't work, is because you need to call the callback that is passed as the second argument to the `draw3p` callback.

Note, that after you fix this, the code will be still broken, because one cannot use `document.write` in an async callback.

The implementation of an ad network will not be accepted if it is used by only one site.

If you see the ads yourself,

[2016-10-10 20:53] dandv opened #5499 "Geolocation component"
An AMP extended component offering access to the [HTML5 Geolocation API](https://www.w3.org/TR/geolocation-API/) would enable publishers to offer geographically targeted information to users and improve monetization:

* links to local stores selling items featured in the article
* local discounts
* nearby events tickets and discovery
* route/transit information

[2016-10-10 21:01] aghassemi opened #5500 "[A11Y] amp-by-examples: image-lightbox: set `alt` AND `title` on the images"
https://ampbyexample.com/components/amp-image-lightbox/ needs to add:

[code]

 to the image.

The `alt` is for the image and the `title` is for the fact that this a button that opens the image in the lightbox. Both are needed since when in the lightbox, `title` does not apply anymore.

[2016-10-10 21:05] lannka commented on #5465
@jasti there is no way we can prevent showing a white background before the displaying creative. even with the change zhouyx@ is working on.

I just wanted to point out that this is complicating the logic but making little impact since only a small amount of ad traffic doesn't have render-start implemented. We should probably just work on other stuff to move more ad networks to implement render-st

[2016-10-10 21:07] xgretsch commented on #5442
@cramforce The ads are selected randomly from a pool, so if I inline them, it would not be possible to cache the page. And that would lose one of the main points of using AMP.

I'm being told not to use `_ping_` except for testing. You're saying I can't set myself up as an ad network - so I can't use `amp-ad`. And I'm expressly forbidden from using `amp-iframe`.

So can you tell me what you're exp

[2016-10-10 21:08] aghassemi opened #5501 "[A11Y] amp-image-lightbox: Should copy `alt`, `aria-label`, `aria-labelledby` from the source image."
Currently the `<img>` inside the  amp-image-lightbox is a clone of the soure image but without the `alt`, `aria-label`, `aria-labelledby` copied from the original image.

[2016-10-10 21:10] aghassemi opened #5502 "[A11Y] amp-image-lightbox: `aria-describedby` should be set to the caption element when available."
When `amp-image-lightbox` discovers the caption for an image, it created a `div` with `amp-image-lightbox-caption -amp-image-lightbox-caption` as the class. It also needs to set the `aria-describedby` on the cloned `img` to the id of this caption div.

[2016-10-10 21:18] aghassemi opened #5503 "[A11Y] amp-image-lightbox: Needs an accessible (yet invisible) close button."
tapping the back-padding area around the image inside a `amp-image-lightbox` closes the lightbox but that is not accessible. There needs to be an invisible (but read by screen-reader, e.g. off-screen) button as the last element in `-amp-image-lightbox-container` that says `Close image lightbox`.

Closing the lightbox should move the focus back to the source image that opened the lightbox in the fi

[2016-10-10 21:18] jridgewell commented on #5499
Thanks for the issue! We're already tracking this as https://github.com/ampproject/amphtml/issues/826.

[2016-10-10 21:18] #5499 closed

[2016-10-10 21:23] dandv commented on #826
Another use case would be the ability to pass the lat/lon to an endpoint returning data for `<amp-list>`, such as:

* local stores selling items featured in the article
* local discounts
* nearby events tickets and discovery
* route/transit time/information

[2016-10-10 21:30] cramforce commented on #5442
I don't currently have a good answer for this, but we should probably discuss in an issue titled "Support for custom ad servers" or something like that. I think we should probably support it, as that is better than not-supporting it while I also having no way to precent it :)

[2016-10-10 21:31] erwinmombay opened #5505 "research unwrapping `AMP.extension`'s 2nd argument and turn it into an IIFE"
this is for the work @dvoytenko wants to do with removing side effects in tests

[2016-10-10 21:44] lannka commented on #5442
It's probably a valid use case for "house ad" (your own ad).

However, my only concern is that it can become a corner cutter that publishers will use for new ad networks that haven't had a presence in AMP. Otherwise the requirements would go to the ad networks for an official AMP support.

That will lose all the benefits of having an official support in AMP (all those APIs). I think this is one of

[2016-10-10 21:47] camelburrito opened #5506 "Create documentation for using analytics on amp-carousel"
Create documentation for using analytics on amp-carousel

(Also work on whitelisting `data-slide-id`)

[2016-10-10 21:55] dvoytenko opened #5507 "Inline `AMP.extension` call."
The format of this call is:

[code]

This call is functionally equivalent to `AMP.push()` that we use in PROD binaries. The goal is to remove `AMP.extension` call and inline the callback (second argument).

/cc @cramforce

[2016-10-10 21:57] mkhatib commented on #5055
The only obvious issue that I see with this is whether we still want to enforce the inclusion of `amp-form` when `input` is used without a `form` or not. I vote for not.

For the use-case mentioned in here I don't see a reason to enforce this, since enforcing inclusion of `amp-form` was to allow us to polyfill some behavior in the browsers submissions (validation, reporting and submitting blocking

[2016-10-10 21:59] cramforce commented on #5442
Definitely, but custom `amp-ad` is better than custom `amp-iframe`. Definitely has downsides in terms of long term ability to make updates. I'm not yet decided what the right way forward is.

[2016-10-10 22:03] dvoytenko commented on #5476
We should definitely do this in `describes.js`.

[2016-10-10 22:13] jridgewell commented on #5476
👍

[2016-10-10 22:16] ericlindley-g commented on #5020
FYI: given that the general ability to swipe-to-scroll is supported with `<amp-carousel type="carousel">`, the only outstanding item seems to be the ability to select an item in the carousel to be in view on page load.

Likely something to enable with the binding protocol, but may be worth incorporating as a feature of `<amp-carousel>` directly, with an attribute like `index` that takes numerical

[2016-10-10 22:20] aghassemi opened #5508 "[A11Y] Components with dynamic placeholders need to have a reasonable `alt` for the default placeholder."
### TLDR
Components that override `createPlaceholderCallback()` (and `amp-youtube`) need to set a reasonable `alt` for the image placeholder they create. For instance `amp-jwplayer` may add `"Loading Video " + (aria-label || textContent of aria-labelledby)` as the alt for the placeholder image.

## Instructions
### Implementation
- Pick a component from the list below. The component code can be fo

[2016-10-10 22:23] aghassemi opened #5509 "[A11Y] Deprecate `alt` on `<amp-instagram>`"
currently `<amp-instagram>` is the only iframe-based component that has `alt` attribute. Unfortunately since we can not pass that alt value through the embed API to instagram, it is pretty useless. It is used as the title for `iframe` which unfortunately does not do anything in new screen-readers (iframes are not exposed to AT anymore) and also used as `alt` for the placeholder image which can be

[2016-10-10 22:34] cramforce commented on #5020
The binding work is for changing stuff at runtime. It won't even be allowed to make changes at page load time. This will need need to be added as a (very reasonable) feature to `amp-carousel`.

[2016-10-10 22:36] cramforce commented on #5507
Ship it.

[2016-10-10 22:41] erwinmombay commented on #5505
dupe of https://github.com/ampproject/amphtml/issues/5507

[2016-10-10 22:41] #5505 closed

[2016-10-10 23:11] aghassemi opened #5511 "[A11Y] video: controls get hidden quickly before a TalkBack user has a chance to activate them"
We probably need to file this with Chrome folks, but when the HTML5 video controls are displayed, the quickly disappear not gicing the TalkBack user enough time to activate pause or be able to seek. When they are hidden, they are no longer accessible to TalkBack also. Ideally the UI controls stay accessible to AT and should not disappear after some timeout.

[2016-10-10 23:19] aghassemi opened #5512 "[A11Y] amp-fresh and amp-live-list: need a default `aria-live:polite` attribute"
`amp-fresh` should add `aria-live:polite` to the element but only if it does not already have a user-defined `aria-live` attribute (because we want to allow authors to be able to set the verbosity of the `aria-live` if they like to)

[2016-10-10 23:40] aghassemi opened #5513 "[A11Y] amp-list, `list` role should be on the container not the element"
The `role=list` should be on the `container_` which is the parent of `role=listitem` children. Currently the role is on the element itself and TalkBack is not announcing items as list items. Alternative approach is using `aria-owns` but that's not worth it.

Also we should fix the examples on https://ampbyexample.com/components/amp-list/ they are invalid HTML and there is no need for the wrapper U

[2016-10-11 00:37] aghassemi opened #5516 "[A11Y] Sidebar needs aria role=menu and must get focused when opened"
We need to apply `role=menu` to `amp-sidebar` (if not defined by the author) and also when it is opened, we need to focus on it.

Currently when sidebar is opened, nothing happens, user's next tab stop is not the items inside the sidebar and nothing is announced to the user.

By doing the role and focus, TalkBack should announce something like: "Menu, navigation, list showing 10 items" (assuming t

[2016-10-11 00:40] aghassemi opened #5517 "[A11Y] Sidebar always needs an accessible (yet invisible) close button."
Regardless of whether someone has put an actual close button in the sidebar or not, we need to always add one for screen readers a the end of the sidebar. This is similar to https://github.com/ampproject/amphtml/issues/5503

Closing the sidebar should move the focus back to the source image that opened the sidebar in the first place.

[2016-10-11 00:47] aghassemi opened #5518 "[A11Y] sticky-ad: aria-label for close button should say "Close this ad" not just "Close""
When user is just navigating between the button on the page, `Close` is meaningless without a context.

[2016-10-11 00:48] camelburrito commented on #5516
Sidebar can be use as a container for menu(s), but it itself is not a menu we do have aria hidden and shown. We should definitely set the focus on its first child.

[2016-10-11 00:55] aghassemi opened #5519 "[A11Y] user-notification should set the `role=alert` if not already set by the author"
`user-notification` should default the role to `alert` unless `role` is explicitly set by the author.

[2016-10-11 00:56] cramforce commented on #5516
Can we enforce that the right thing is being done? Why would we not add the
role to the sidebar?

On Mon, Oct 10, 2016 at 5:48 PM, Sriram Krishnan <notifications@github.com>
wrote:

[2016-10-11 01:05] camelburrito commented on #5516
sidebar need not necessarily contain a menu. Thats why we named it sidebar.

[2016-10-11 01:08] aghassemi commented on #5516
I think default role of menu makes sense for sidebar (changed description of issue to add role=menu if not already defined by author so they can override it).

`menu` role is a pretty generic and simply implies `widget that offers a list of choices to the user.` Also `menu` has the implicit meaning that it is an overlay that can be opened and closed. Most accessible sidebar implementation I have s

[2016-10-11 01:15] camelburrito commented on #5516
that is one argument -

The real thing that needs to be added is
`aria-controls` on the trigger. and add `aria-expanded` on the sidebar - https://www.w3.org/WAI/GL/wiki/Using_aria-expanded_to_indicate_the_state_of_a_collapsible_element

[2016-10-11 03:04] mkhatib commented on #4184
Alright, so been experimenting with closing the sidebar before handling the internal-link navigation.

However I believe due to event queue the pushing of the new state (the internal link navigation) is happening before popping the previous state (the open sidebar) and hence when that state is popped it also pops the newly pushed state.

I [played around with this and got it working with a sample

[2016-10-11 03:18] mkhatib opened #5521 "Consider supporting moving `forward` in history"
Embedded AMP docs rely on messages to communicate with the viewers and communicate changes in history both ways. Currently `forward` is not supported and is broken in embedded docs.

The rational was that `forward` is not easily invoked on mobile. This is partially true and subject to UX changes of the browsers. Almost all browsers on iOS for example has a back AND forward buttons exposed for the

[2016-10-11 07:15] xgretsch commented on #5442
I can suggest an alternative, that I'm willing to implement and which would give my users the best performance. I would implement a new add-in called something like `<amp-imagead>`. This would not use an iframe: at runtime, it would be filled by an `<img>` tag wrapped in an `<a>` tag. It would contain a parameter with the URL to be used for fetching the ad, but this would not fetch javascript: it

[2016-10-11 07:15] tonyruscoe commented on #5055
Agreed. As I said in the original issue:

What are the next steps?

[2016-10-11 07:31] mkhatib commented on #5055
Deferring to @rudygalfi to prioritize this, but I think @Gregable said he can start implementing this in the validator. This will most likely not require changes in runtime.

[2016-10-11 08:23] mkhatib commented on #2125
This has already been done. Please re-open if anything else needed.

[2016-10-11 08:23] #2125 closed

[2016-10-11 08:25] mkhatib commented on #30
Should this be closed in favor of all video development that's happening?

[2016-10-11 08:27] mkhatib commented on #393
@aghassemi has this been implemented through the new lightbox changes? Close this?

[2016-10-11 08:34] mkhatib commented on #5295
One exception in the naming currently is `amp-form` script doesn't have an `<amp-form>` element and is only an extension. I believe `amp-dynamic-css-classes` are the same thing.

[2016-10-11 08:35] mkhatib commented on #416
Closing this in favor of the new discussion here #5295 - I believe these two are trying to do the same thing.

[2016-10-11 08:35] #416 closed

[2016-10-11 08:52] mkhatib commented on #644
Closing for #412

[2016-10-11 08:52] #644 closed

[2016-10-11 09:26] mkhatib commented on #2512
Duplicate #1963

[2016-10-11 09:26] #2512 closed

[2016-10-11 09:28] mkhatib commented on #2540
@cramforce is actually back! Believe it or not for awhile now 💃

[2016-10-11 09:28] #2540 closed

[2016-10-11 12:57] jasti commented on #5465
@lannka sorry, I misunderstood your original question. As part of #5432, the only change I'm suggesting is to remove the transparent overlay for those that have implemented render-start. According to @zhouyx  it's impossible to paint the close button the same time as the ad, for those that don't have render-start implemented. (Right @zhouyx ?)
For your second point - if > 80% of ad view benefit fr

[2016-10-11 14:09] #30 closed

[2016-10-11 15:01] keithwrightbos commented on #5324
Change within validator is ideal and appears to be imminent so closing.

[2016-10-11 15:34] aghassemi commented on #393
yeah it is the main point of lightbox 2.0, let's close in favour of #4152

[2016-10-11 15:34] #393 closed

[2016-10-11 15:58] aghassemi commented on #286
Closing this, I did a run-through of components for general a11y and results are here: https://github.com/ampproject/amphtml/projects/9

[2016-10-11 15:58] #286 closed

[2016-10-11 16:15] aghassemi commented on #5516
If `sidebar` did not shim and overlay the page and simply pushed the main content to the right expecting the user to go back and forth between the sidebar and main area to their task (e.g. two vs one column page layout) then I would agree with you but the current sidebar has behaviour that is very specific, e.g. it automatically closes when user interacts with the area outside of it and it overlay

[2016-10-11 16:36] Gregable commented on #5295
I'm going to mark this as closed and make this our policy going forward for new amp extensions. We'll watch out for the specific oddball cases such as `amp-form` requiring `<form>` (though this example is grandfathered in).

[2016-10-11 16:43] Gregable commented on #5324
Just to be sure I understand, this is a runtime-only change, not a validator change, correct?

[2016-10-11 16:44] #5281 closed

[2016-10-11 17:09] zhouyx commented on #5465
@jasti right, it's impossible to do anything the "same time" as the ad, for those that don't have render-start implemented because we have no idea on that "same time" point. I think what @lannka is suggesting here is to get rid of the inconsistent for both cases.

It would be super easy to just remove the transparent overlay, however to keep it for ads that don't support render-start while removin

[2016-10-11 17:14] dvoytenko commented on #4184
@mkhatib I didn't understand the issue with event sequencing. Let's continue that thread on the PR.

[2016-10-11 17:22] lannka commented on #5465
@jasti I meant only < 20% of the ad view will be affected by the change. And the number is getting smaller as we're moving more ad networks to render-start. On the other hand, for those "<20%" ad view, I'm not sure the change is really an improvement, because it's inconsistent with the 80% (having such a animated transparent layer thing).

I know the loading experience isn't good for the 20%. But

[2016-10-11 17:45] cramforce commented on #5442
I would love this.

On Tue, Oct 11, 2016 at 12:15 AM, xgretsch <notifications@github.com> wrote:

[2016-10-11 17:45] cramforce commented on #5324
@Gregable We don't currently limit `target=_top`, right? I checked, but want to make sure. If we did not allow it, we should allow it now.

[2016-10-11 17:47] xgretsch commented on #5442
Great - watch this space (or, to be precise, the push requests). There may be screams for help in the Slack feed, as I have never, ever worked with any of these tools or libraries before!

[2016-10-11 17:58] lannka commented on #5442
Instead of making it a separate extension, what do you folks think about having it as a sepcial type in `amp-ad`?

`<amp-ad type="imagead">`

The logic will be exactly the same as @xgretsch described, instead of creating `iframe`, it creates `img`. Or if we don't like overload the type concept, we can introduce new attribute.

Keep them in same extension so that we don't need to keep a list of ads

[2016-10-11 18:17] camelburrito commented on #5506
@powdercloud could you help with whitelisting `data-slide-id` data attributes for direct siblings of `amp-carousel`

[2016-10-11 18:24] cramforce commented on #5442
I fall this does is

[code]

then a new extension probably makes more sense :)

[2016-10-11 18:40] lannka commented on #5442
@cramforce not sure why 2-round trips are necessary here. Can't the ad server just return the image ad in a non-cachable response in the first round-trip?

[2016-10-11 18:45] camelburrito commented on #5516
@aghassemi - we might have a implementation of sidebar like that - there was some request on that and is in backlog.

But for the existing use i guess it would not hurt to add a role - also focus seems to be more important here since i dont see a way that sidebar could be accessed without setting focus on it. Thanks for filing!

[2016-10-11 19:37] Gregable commented on #5324
For `<a>` tags and a few other places, we allow only `target=_self` and `target=_blank`. The original thread mentions `data-target`, which we do not constrain.

[2016-10-11 19:39] cramforce commented on #5442
@lannka You could return the image with the JSON as a base64 payload. You probably want to retrieve image URL and click URL in the same request to avoid stateful servers.

[2016-10-11 19:46] cramforce commented on #5324
I see. So, we'd like to extend validity to include target=_top.

On Tue, Oct 11, 2016 at 12:37 PM, Greg Grothaus <notifications@github.com>
wrote:

[2016-10-11 19:58] cramforce opened #5527 "makeBodyVisible depends on too many services"
We need to be able to call it early. E.g. if all service installations failed.

It should be refactored to only have optional dependencies on services.

[2016-10-11 20:49] jridgewell commented on #5359
Tracked it down to [stubbing](https://github.com/ampproject/amphtml/blob/master/test/functional/test-intersection-observer.js#L438) on a cross domain iframe. 🙄

[2016-10-11 20:51] jridgewell commented on #4552
Dupe of (the latter) https://github.com/ampproject/amphtml/issues/5359. I'm making it the canonical.

[2016-10-11 20:51] #4552 closed

[2016-10-11 21:09] jasti commented on #5465
@lannka @zhouyx See your point. Let's remove the transparent overlay in both cases then.

[2016-10-11 21:14] Gregable commented on #5324
OK

[2016-10-11 21:15] Gregable commented on #4625
This is now live.

[2016-10-11 21:15] Gregable commented on #4625
Scratch that, it is not yet live. Will update again later.

[2016-10-11 21:16] Gregable commented on #4567
This is fixed and live everywhere.

[2016-10-11 21:16] #4567 closed

[2016-10-11 21:16] Gregable commented on #5071
This is live everywhere.

[2016-10-11 21:26] cramforce opened #5530 "Support .only for describes"
So, one can run only one block in tests.

[2016-10-11 21:41] jridgewell commented on #5521
Forward is a left swipe (from the edge), backwards is a right swipe. That's in all the iOS browsers.

[2016-10-11 21:49] mkhatib commented on #5521
Nice, also my comment about Chrome iOS being an exception for a forward button was wrong, it actually does have a Forward button that appears when there's history to go forward in.

So forward is actually a prominent action in mobile browsers.

On Android Chrome the Forward button is hidden under the overflow menu but prominent in that menu to the top.

[2016-10-11 21:54] #5359 closed

[2016-10-11 21:54] camelburrito opened #5532 "Move amp-ad styles from amp.css"
Now that amp-ad is an extension , we should move the css for amp-ad from amp.css and put it in its own file

[2016-10-11 21:54] camelburrito commented on #5532
CC @dvoytenko @cramforce

[2016-10-11 22:23] lannka commented on #5442
@cramforce make sense.

Back to the separate extension discussion. If all you want is cleaner code separation, we can have the code in a separate element AmpImageAdElement, and let amp-ad upgrade to it when appropriate.

Or is the code size the actual concern?  I actually don't see too much code will be added.

Again, I just don't like to introduce another new extension for ad, we'll need to chang

[2016-10-11 23:09] camelburrito commented on #5487
we should give them a -ve z-index and set them to display: none only when there are no next/prev actions available.

[2016-10-11 23:23] aghassemi commented on #5487
I am adding a a core `-amp-screen-reader` class that can be used to visibly hide elements but keep them accessible. We should use the same class here ( and other similar places) PR coming soon.

[2016-10-11 23:29] rudygalfi commented on #5506
@camelburrito @powdercloud We should track the validator update as a separate issue, no?

cc @avimehta

[2016-10-11 23:38] rudygalfi commented on #5055
Shifting assignment over to @Gregable and @powdercloud for the validator update.

I'm OK to do this. cc @cramforce as FYI in case he can think of any good reasons not to allow `<label>` and `<input>` outside of `<form>`.

[2016-10-12 00:01] zhouyx commented on #5465
Cool @jasti just to confirm. In order not to complicate things, we are also removing the 1 sec delay for ad that doesn't support `render-start`.

[2016-10-12 00:01] powdercloud commented on #5506
Usually, data- attributes are allowed by default. Are you seeing some validation error? Or are you looking to make such an attribute required? (From looking at the code, that doesn't seem to be the case but I could be wrong)

[2016-10-12 00:03] jasti commented on #5465
Yes, would love to see a QA implementation. Thanks!

[2016-10-12 00:06] camelburrito commented on #5506
@powdercloud i was not sure about data- attrs. if that is the case no validation changes are needed. just documentation needs to be updated.

[2016-10-12 00:45] cramforce opened #5535 "Cleanup chunked-amp experiment"

[2016-10-12 00:50] cramforce commented on #5055
SGTM

[2016-10-12 00:51] cramforce commented on #5442
Could this use the A4A implementation mechanism?

On Tue, Oct 11, 2016 at 3:23 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-10-12 03:07] mkhatib opened #5539 "Investigate and Consider Allowing form-related attributes on inputs"
This is a holder issue and these are initially blacklisted in validator because we start with small whitelisted attributes and expand these as needed and appropriate. For example, as the need for using `input` and `label` outside form rose we have decided to allow that in #5055

This issue is for discussions of use cases that this could enable. Let us know if you have any.

[2016-10-12 03:30] rudygalfi commented on #2198
@avimehta has been working on this and could provide updates

[2016-10-12 04:12] #5229 closed

[2016-10-12 04:13] lannka commented on #5442
@cramforce yep, that is what I was thinking

[2016-10-12 04:14] choumx commented on #5291
Fixed by #5243.

[2016-10-12 04:14] #5291 closed

[2016-10-12 04:38] lannka opened #5541 "Intent to implement: support custom ad (house ad) served from pub's own server"
Following the discussion #5442, we want to introduce a new amp-ad impl to support simple image ads served from a custom server. It will not live in an 3P iframe, but rather have simple structure like `<a><img></a>`. It will load the image src URL and click landing page URL via a single XHR

The tentative HTML will look like:

[code]

**Implementation plan:**
- Introduce a new element impl `AmpAdCu

[2016-10-12 04:39] lannka commented on #5442
Opened an "intent to implement": #5541. Let's have further conversation over there.

[2016-10-12 04:39] #5442 closed

[2016-10-12 05:46] mkhatib commented on #2794
Closing in favor #2831

[2016-10-12 05:46] #2794 closed

[2016-10-12 09:05] eike-hass opened #5544 "<amp-carousel> height calculation in latest version causes jumping"
In Chrome Desktop (53.0.2785.143) with Desktop User-Agent the rework for native scrolling causes jumping of 100% height elements. Please see https://ampbyexample.com/components/amp-carousel/ for an example.

[2016-10-12 09:51] sebastianbenz commented on #5544
I can't reproduce it - can you please provide more detailed steps on how to reproduce the issue.

[2016-10-12 11:00] Nicola1976 commented on #5188
Hi,

Sotty I'm afraid I can't not able to see the fix in canary browser.

Activating dev chanel at this url (https://cdn.ampproject.org/
experiments.html) I dont see cookie policy overlay end I have just infinite
loader on the adv placeholder.

How can I see the fix?

Let me know

Thanks a lot
Nicola

[image: Immagine incorporata 2]

[image: Immagine incorporata 1]

2016-10-06 21:57 GMT+02:00 Hong

[2016-10-12 11:20] adentify commented on #5156
Unfortunately it would appear that this bug has reappeared.
http://www.telegraph.co.uk/news/2016/10/11/revealed-hard-brexit-will-cost-britain-66billion-per-year/amp/

[2016-10-12 11:30] eike-hass commented on #5544
I recorded a quick gif. We can reproduce this on Windows and OSX machines. Only In chrome Desktop though. I think this is caused by the height offset for the scrollbar and the toggling of the overflow modes.
https://gfycat.com/SaltyVengefulGuernseycow

[2016-10-12 12:29] oleggromov commented on #5337
@lannka Can you please give me an answer?

[2016-10-12 13:31] adentify opened #5547 "DFP ads incorrectly being resized to values of height/width overrides (again)"
Previously reported: https://github.com/ampproject/amphtml/issues/5156
This issue was fixed and closed. we are seeing this behaviour again

You can see this happening here:
http://www.telegraph.co.uk/news/2016/10/11/revealed-hard-brexit-will-cost-britain-66billion-per-year/amp/

![image](https://cloud.githubusercontent.com/assets/1849728/19311964/59ad36bc-9088-11e6-98e0-20f3f3407a3f.png)

This see

[2016-10-12 13:58] cramforce opened #5549 "Carousel is not preloading next slide"
Example https://www.google.com/amp/s/www.washingtonpost.com/amphtml/business/clinton-proposes-closing-real-estate-loophole-not-trump/2016/10/12/5698d66a-9052-11e6-bc00-1a9756d4111b_story.html

When advancing in the carousel in Chrome, loading the next slide does not happen until after the animation is complete.

It should

- most likely preload +1 (and -1 in case of non-default start or loop) when

[2016-10-12 14:21] jasti commented on #5156
@adentify are you sure it is this issue?
I don't see the lineitem even returning for the ad call.
![screen shot 2016-10-12 at 10 19 14 am](https://cloud.githubusercontent.com/assets/2366341/19313718/862e23e0-9065-11e6-8ca8-6f01c5e07cf0.png)

Here is a test page: http://output.jsbin.com/bidinokibo

@glevitzky FYI

[2016-10-12 14:29] cramforce commented on #5541
@lannka Could this be implemented as a special A4A implementation that is upgraded from `amp-ad`?

A few things:

- Probably good to support a target on the a tag (default to `_top` and allow overriding to `_blank`)
- Must ensure that landing page URL is `https` URL
- Do we need to support URL replacement on destination URL?

[2016-10-12 14:49] glevitzky commented on #5547
I'm not seeing a collapse to override values. Instead, if the ad is in the viewport, I see an empty rectangle with the primary dimensions, and if the ad is not in the viewport, then the runtime collapses it completely for me.

[2016-10-12 15:24] cramforce opened #5551 "Use a local gulp on travis"
We currently run `npm install -g gulp` on travis which takes 9s.

Could we instead use the gulp that is installed with the regular `npm install`?

[2016-10-12 15:50] poscar commented on #5032
Any updates on this one? :)

[2016-10-12 16:22] dvoytenko commented on #5532
Yes, we should. I assigned it to FixIt milestone.

[2016-10-12 16:49] ericlindley-g commented on #5210
Related: would be good to have a way to advance to a particular item index for the scrollable carousel as well.

This does not relate to the use-cases described in the current issue, but is useful in the context of https://github.com/ampproject/amphtml/issues/5020, for instance, to advance a scrollable nav to a particular item on load.

[2016-10-12 17:11] cramforce commented on #5246
Yes, lets change it.

LGTM

[2016-10-12 17:11] #5246 closed

[2016-10-12 17:13] #5551 closed

[2016-10-12 17:19] dandv opened #5555 "Docs: broken link in published docs vs. GitHub .md files"
At https://www.ampproject.org/docs/reference/components/amp-iframe, the link under

is broken. It points to https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/#sandbox rather than https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md#sandbox

While the fix would be trivial to implement, I wanted to create this issue in case the problem is more w

[2016-10-12 18:02] mjrusso commented on #5156
@jasti the ads are geo-targeted to the UK, which is why you aren't seeing any fill.

Note that my original test page (submitted when this ticket was filed) is still active. The page is currently working properly (i.e., there does not appear to currently be a regression): https://amp.polarmobile.com/dfp-override.html?google_glade=0#development=1.

@adentify — we looked into the issue on our end and

[2016-10-12 18:21] jridgewell commented on #5188
/cc @lannka ^

[2016-10-12 18:29] bobcassels opened #5557 "Intent to implement: Ad slot DOM fingerprint"
We propose to implement an ad slot “DOM fingerprint." This will distinguish different ad slots on a single page, based on where they appear in the DOM structure.

For some operations involving ads, including ad selection machine learning, it is sometimes useful to have a rough fingerprint of the DOM surrounding the place an ad is going to appear. This is distinct information from the pixel x/y loc

[2016-10-12 18:45] camelburrito commented on #5544
Dup of this ? - https://github.com/ampproject/amphtml/issues/5407

[2016-10-12 18:49] zhouyx commented on #5465
PR is lgtmed. I will send you the testing url, and merge that pr after your approval @jasti

[2016-10-12 19:43] zhouyx commented on #5465
#5456 merged.

[2016-10-12 19:43] zhouyx commented on #5465
close this issue as we decide this feature is not needed any more

[2016-10-12 19:43] #5465 closed

[2016-10-12 19:49] jridgewell commented on #5557
/to @jasti, @lannka. Don't we already have an issue for this?

[2016-10-12 19:51] jridgewell commented on #5555
A PR would be lovely. 😄

/to @braraujo.

[2016-10-12 19:52] jridgewell commented on #5032
/cc @adewale

[2016-10-12 19:54] jridgewell commented on #5547
/to @lannka, @glevitzky (Who I can't assign since he's not in the Github org...)

[2016-10-12 19:56] jridgewell commented on #5337
/cc @ericlindley-g

[2016-10-12 20:18] #5364 closed

[2016-10-12 20:27] nbeloglazov commented on #3578
Any update on this issue?

[2016-10-12 20:28] mkhatib commented on #5210
Discussing this during format review, the main question of moving forward with this is whether to just wait for binding protocol to do this or implement this by supporting the mentioned triggers.

[2016-10-12 20:46] jasti commented on #5557
@jridgewell Not that I know of. @bobcassels discussed this on an email thread.

[2016-10-12 20:47] bpaduch commented on #5555
Yes, it turns out this is a more widespread issue for any anchor links created with `#anchorname` (another example in [amp-analytics](https://www.ampproject.org/docs/reference/components/amp-analytics) for the ["analytics vendors"](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/#analytics-vendors) link).  This is related to how urls from relative github urls are created

[2016-10-12 21:02] taymonbeal commented on #2198
This is good! Can we please have a hash function as one of the filters? A publisher has requested this functionality.

[2016-10-12 21:03] emphaticsunshine opened #5560 "Ads not resizing for multiple sizes"
I am working on a prototype and it's still in development so can't post a public url.
## Problem:

I am specifying `data-multi-size` for DoubleClick ads and have to give primary height to the biggest size. The ad slot doesn't resize once ad size is selected. So if a smaller size is selected so there is lot white empty space around.

Browsers Affected:
- Just looking at Chrome iPhone6 Emulator on M

[2016-10-12 21:09] Gregable commented on #3578
not currently

[2016-10-12 21:16] jridgewell commented on #5555
Oo, thank you for pointing me to the right direction. https://github.com/ampproject/docs/pull/225

[2016-10-12 21:22] jridgewell commented on #5560
/to @jasti. Please assign to whoever can look at it.

[2016-10-12 21:28] jasti commented on #5560
@emphaticsunshine  That's the expected behavior if the ad is in the current viewport since AMP doesn't allow resizing iframes that cause a visual reflow of the page.
https://github.com/ampproject/amphtml/blob/master/examples/doubleclick-multisize.amp.html

@glevitzky could you please document this case here? https://github.com/ampproject/amphtml/blob/master/ads/google/doubleclick.md#multi-size-ad

[2016-10-12 21:32] lannka commented on #5541
I'm not sure it's a good idea to mix this image ad concept with A4A, and I also don't know how much code can be shared between the 2. To me, a separate upgrade path would be a cleaner approach.

I agree with your other points.

For URL replacement on dest URL, what major use cases are you thinking of? I think we can probably enable it later when requirements are clear.

[2016-10-12 21:33] erwinmombay opened #5561 "make sure to forward to forward the actual referrer to error reporting logs"
is this an errortracker.go change?

[2016-10-12 21:37] aghassemi commented on #5485
@cramforce we fixed this during the team meeting as an exercise, but since you were not there, you get the bug :)

[2016-10-12 21:37] jridgewell commented on #5555
Fixed by https://github.com/ampproject/docs/pull/225.

[2016-10-12 21:37] #5555 closed

[2016-10-12 21:38] aghassemi commented on #5484
/to @muxin

[2016-10-12 21:42] aghassemi commented on #5487
/to @camelburrito
Please wait for https://github.com/ampproject/amphtml/pull/5542 and reuse the `-amp-screen-reader` to fix this.

[2016-10-12 21:42] cramforce commented on #5541
All sounds good.

On Wed, Oct 12, 2016 at 2:32 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-10-12 21:44] aghassemi commented on #5513
/to @lannka

[2016-10-12 21:45] aghassemi commented on #5508
/to @erwinmombay

[2016-10-12 21:46] aghassemi commented on #5509
/to @erwinmombay as well, can be part of #5508

[2016-10-12 21:50] aghassemi commented on #5503
/to @jridgewell
Please wait for https://github.com/ampproject/amphtml/pull/5542 and reuse.

[2016-10-12 21:50] cramforce opened #5563 ""Untrusted viewer url override" error emitted for every web view page load"
This affects the iOS Google app.

We hit this line every time
https://github.com/ampproject/amphtml/blob/f28e1169aaf7732d26a17cab469cd377a0374265/src/service/viewer-impl.js#L373

Is that a problem? Should the severity go down?

I also noticed that there are no callers of the `getViewerUrl` method.

CC @erwinmombay @dvoytenko

[2016-10-12 21:51] aghassemi commented on #5489
/to @mkhatib

[2016-10-12 21:51] aghassemi commented on #5493
@mkhatib pretty much same thing as #5489 so you get two issues :)

[2016-10-12 21:53] aghassemi commented on #5501
/to @zhouyx (this is the old image lightbox, but worth fixing since lightbox 2.0 is still months away)

[2016-10-12 21:55] aghassemi commented on #5502
@zhouyx, very related to #5501, so you get two issues!

[2016-10-12 21:56] aghassemi commented on #5519
/to @choumx

[2016-10-12 21:59] aghassemi commented on #5488
/to @dvoytenko you get an easy one since you have other _Duties_ to take care of :)

[2016-10-12 22:01] aghassemi commented on #5486
/to @camelburrito an extra one for you

[2016-10-12 22:03] aghassemi commented on #5518
@lannka Since you like Ads, you get an extra one to fix :)

[2016-10-12 22:07] lannka commented on #5518
@aghassemi when you said everyone get one bug, I was about to say: "you can assign the bug you have demoed to me".

[2016-10-12 22:08] muxin opened #5564 "Use extra padding-top on body when creating space on top for header"
Currently, to create a space on top for the viewer header, we use the following implementation:
- Android
  - CSS: nothing special
  - Initial setup: add `padding-top: Xpx` on **html document**
  - Hide header: do nothing
  - Show header: do nothing
- IOS
  - CSS: position absolute body
  - Initial setup: add `border-top: Xpx` on **body**
  - Hide header: set `border-top: ''` on **body** and add `

[2016-10-12 22:14] choumx opened #5565 "`amp-analytics` in shadow AMP broken"
Including `<amp-analytics>` extension in a shadow AMP causes an error that looks like this:

This starts in `mergeShadowHead` when attaching the shadow doc -- the extension is attached to the window's document rather than the shadow root document. `Activity` fails to construct when trying to grab a couple services off the AmpDocument, and `getAmpDoc` understandably fails to locate the shadow root.

[2016-10-12 22:18] aghassemi commented on #5518
lol, I gave that to Malte since he didn't see the fix :)

[2016-10-12 22:22] lannka commented on #5518
Big challenge for him :).

[2016-10-12 22:23] jridgewell commented on #5563
At least some of these are because of `https://www.google.cat`, which won't pass our [`TRUSTED_ORIGIN_HOSTS` regex](https://github.com/ampproject/amphtml/blob/f28e1169aaf7732d26a17cab469cd377a0374265/src/service/viewer-impl.js#L87).

[2016-10-12 23:32] ericlindley-g commented on #5396
Just to capture notes on this request, after doing a little exploration, there are at least two changes necessary to make this work:

* Ability to slot new items in at the bottom of the list (currently new items are assumed to be at the top of the list)
* Ability to scroll to the bottom of the list on tapping the update button (currently scrolls to the top of the list)

Also, my sense for the live

[2016-10-12 23:35] #5238 closed

[2016-10-12 23:38] erwinmombay opened #5567 "Meeting Notes 2016-10-10"
2016-10-10

@cramforce
- @pbakaus updated our docs to be much more readable and have more logic navigation.
- Implemented limited click url param substitution for A4A
- Wrote design doc for more advanced url replacement.

@dvoytenko
- Submitted new test setup.
- Completed PWA and visibility.
- Background research and work in WhatWG on user gesture bit.
- Background research and work in WhatWG on s

[2016-10-12 23:59] ericlindley-g commented on #5549
Would be great to get a fix in— @camelburrito, is this low-effort enough to do in the short term without disrupting Kickstart work? (optimistically slotting in "Next")

[2016-10-13 00:06] cramforce commented on #5549
I think this is pretty high priority. The current behavior is pretty broken to me.

[2016-10-13 00:13] #5561 closed

[2016-10-13 00:22] lannka commented on #5557
I remember we talked about in one of the meetings when you guys were visiting. I still had the question, why the ordinal of the ad slot does not work, if all you want is to uniquely identify a slot.

BTW, this would again require the CryptoService to be moved to core for the hashing functionality: #3888

[2016-10-13 00:22] dvoytenko opened #5570 "Why is restore routine not being triggered?"
See this PR: https://github.com/ampproject/amphtml/pull/5568

All tests pass...

[2016-10-13 00:30] dvoytenko commented on #5565
/to @mkhatib This will require us to migrate `amp-analytics` services to ampdoc-level.

[2016-10-13 00:32] zhouyx opened #5571 "Error log: seem to relate to slide carousel"
As tested on a firefox device. the carousel behavior is not desired.

Request
https://cdn.ampproject.org/v/mobile.reuters.com/article/amp/idUSKCN12C294?amp_js_v=5

stack
 Ch@https://cdn.ampproject.org/rtv/021475798648076/v0.js:282:24
https://cdn.ampproject.org/rtv/021475798648076/v0.js:281:474
forEach@[native code]
uh@https://cdn.ampproject.org/rtv/021475798648076/v0.js:281:437
vh@https://cdn.ampp

[2016-10-13 00:40] dvoytenko commented on #5563
@cramforce The issue is not with the logging level, but the fact that we actually deny setting `viewerUrl` in webview mode. That's likely cause some issues downstream. So, for now, the error in logs is good.

@jridgewell Do we know why it's a `www.google.cat`?

[2016-10-13 00:43] camelburrito commented on #5549
Looked into this. Preload is being called for all adjacent slides --

https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/slidescroll.js#L463

Looks like this is preventing it
https://github.com/ampproject/amphtml/blame/master/src/service/resources-impl.js#L1404

Should we render it outside the viewport or try and fix the schedulePreload?

[2016-10-13 00:43] muxin commented on #5406
Not the layoutBox offset, it's the `element.style.top` value.
The bug happens in some extreme case when amp is embedded in viewer.
In https://github.com/ampproject/amphtml/blob/master/src/service/fixed-layer.js#L275, sometimes the `top` is explicitly set by the user but we thinks `isImplicitAuto == true`. Then we don't calculate the adjusted `top` for the fixed element.

[2016-10-13 00:44] cramforce commented on #5549
We should render outside the viewport.

[2016-10-13 00:51] cramforce commented on #5549
CC @dvoytenko

[2016-10-13 00:54] dvoytenko commented on #5549
We absolutely need to fix this. It might have regressed since we restricted horizontal overflow. Layers would ultimately resolve this by allowing preload as we do now for body. In the meantime, we need to enable it by hardcoding. E.g. we can extend intersection check left/right 50% of the viewport width.

[2016-10-13 01:02] camelburrito commented on #5549
@cramforce -

Seems to be a good idea - for loops - would we say `distance == min(left dist, right dist)` ?

[2016-10-13 01:09] dvoytenko commented on #5549
I'd not do loops yet. With the owner system, carousel already indicates very clearly what it wants to preload with the full knowledge of the structure of its DOM. We just need to make sure that (a) We call schedulePreload when runtime actually can preload; (b) runtime does not improperly vetoes preload.

[2016-10-13 01:10] #5530 closed

[2016-10-13 01:13] jasti commented on #5547
As acknowledged in #5156, this is not an issue anymore. Closing.

[2016-10-13 01:13] #5547 closed

[2016-10-13 01:30] muxin commented on #5406
We compares `offsetTop` values with and without `style.top = auto` to determine whether an element is `top: auto`. In some extreme case, the `offsetTop` is equal to imagined `auto-offset` but that element is actually not `top:auto`.
@dvoytenko First of all, I wonder why we didn't do `calc(paddingTop + X)` when `top != auto`?

[2016-10-13 03:09] bobcassels commented on #5557
@lannka -- for some uses, the ordinal is sufficient. But sometimes a publisher will have an overall template with several postions for ads, and put ads in only some of them. For example, there may be a banner ad, one on the left side of the page, and one on the right side of the page. Compare, for example, [the home page of nameadog.com](http://www.nameadog.com/home.html), an [article page](http:/

[2016-10-13 05:29] muxin commented on #5406
For example, it is broken at https://yuxichen.herokuapp.com/examples/article-fixed-header.amp.max.html#paddingTop=54, but works fine at https://yuxichen.herokuapp.com/examples/article-fixed-header.amp.max.html#paddingTop=50

[2016-10-13 07:53] eike-hass commented on #4574
@cramforce Sorry for the delay. We considered that pattern and found it to be subpar in some use cases. Especially the iframe content is essential and not additional.

[2016-10-13 07:57] eike-hass commented on #5020
@ericlindley-g our current use case would be a navigation that consists of "classical" page links and anchor links on the same page. For the anchor links we would like to highlight the corresponding link on user scroll.

[2016-10-13 09:22] pranjal-jain opened #5573 "Delayed rendering for AMP extensions."
These are the versions of [Housing's](https://housing.com) project details page (please emulate in mobile else you'll get 404).
[Normal Page](https://housing.com/in/buy/projects/page/57)
[AMP with the amp-style boilerplate](https://housing.com/amp/projects/page/57)
[AMP without amp-style boilerplate](https://housing.com/amp/projects/page/57?hidestyle=true)

We ran webpage tests on our normal page