[2017-05-25 15:37] ericlindley-g commented on #8150
Closing as a duplicate of ABE issue https://github.com/ampproject/amp-by-example/issues/699 and potential solution: https://github.com/ampproject/amphtml/issues/7848

[2017-05-25 15:37] #8150 closed

[2017-05-25 15:43] ericlindley-g commented on #5219
Closing, as there is now support for [Facebook comments](https://github.com/ampproject/amphtml/blob/master/extensions/amp-facebook-comments/amp-facebook-comments.md), but please feel free to open a new issue with additional feature requests if there are any outstanding

[2017-05-25 15:43] #5219 closed

[2017-05-25 15:55] ericlindley-g commented on #7985
This is something we want to make work — tracking the issue [here](https://github.com/ampproject/amphtml/issues/4405), so closing this as a duplicate

[2017-05-25 15:55] #7985 closed

[2017-05-25 16:19] cramforce commented on #9405
@techhtml Good point.

[2017-05-25 16:21] chenshay opened #9548 "pushHistory, popHistory errors in prod"
Our production error reporting reveals errors with pushHistory & popHistory

[2017-05-25 16:37] taymonbeal commented on #9546
@lannka @ampproject/a4a

[2017-05-25 17:04] cvializ commented on #9536
If @gustavopaes hasn't already found a workaround, the following example can work. If you can change the endpoint, you can wrap the data for `amp-list` in a single-item array and render all of `amp-selector` inside the `amp-list` template e.g.
[code]

[code]

[2017-05-25 17:13] lannka commented on #9546
@coreybyrnes just try to understand your problem:
so you want to count an "impression" (i actually would not call this an "impression") even when the ad slot does not get filled with an ad? Is it to calculate a fill rate? If not, what's your real use case?

/cc @zhouyx

[2017-05-25 17:14] kmh287 commented on #9536
Would that put an amp-selector into each rendered item?

[2017-05-25 17:30] coreybyrnes commented on #9546
But it is being filled with an ad... just a blank one. ;) We do this in almost all our ad slots across the entire CBSi network of sites - when no ad is running, we run a blank creative that collapses the space. There are many reasons/cases for it, but for example one case is when an advertiser purchases a complete buyout of all ad slots on the page but doesn't have a creative for a particular slot

[2017-05-25 17:34] keithwrightbos commented on #9546
Have you considered trying to resize the creative to 0x0 instead of noContent?  I believe noContent causes the frame to be removed while resize should leave it in place but with no size allowing the delayed impression to potentially fire.

[2017-05-25 17:35] cvializ commented on #9536
There is only one rendered "item" since the items array only has one element. It wraps the object containing `docs` so that the whole template isn't repeated multiple times.

[2017-05-25 17:37] kmh287 commented on #9536
Ah, interesting workaround!

[2017-05-25 17:47] coreybyrnes commented on #9546
@keithwrightbos thanks for the reply, but as I stated in the original post the resizeRequest isn't working and the resize events aren't firing. So not sure what's causing that, but this specific case is slightly more complex because I'm trying to collapse the sticky component which is the parent to the ad slot so I'm unsure if a resize would reach that far up.

[2017-05-25 17:50] cvializ commented on #9536
Oh! I forgot, the `option` attribute needs to be whitelisted in templates before this will work anyway. That is part of PR #9553

[2017-05-25 17:56] keithwrightbos commented on #9546
Apologies, I missed that!  Sounds like investigating why resizeRequest is not working is the ideal solution.  Definitely odd and needs to be run down.

[2017-05-25 18:43] coreybyrnes commented on #9546
@keithwrightbos no worries!

@lannka @zhouyx let me know what you think! I can update my test url (posted in the original post) to be using `context.requestResize(0,0)` instead of `context.noContentAvailable` if that seems to be a better option. Then we can attempt to diagnose why it's not executing and if it will collapse the sticky component at the same time?

[2017-05-25 19:10] kmh287 opened #9556 "amp-bind: Some attributes on <input> are initial only, and won't update the input when the attribute is updated"
For example. updating the `value` attribute on `<input type="text">` will not update the text in the input if the user has already typed something into the text input.

/cc @cvializ @choumx @jridgewell

[2017-05-25 19:17] rsimha-amp opened #9559 "Several AMP .md files have inconsistent script tags"
For example, see the raw version of [extensions/amp-animation/amp-animation.md](https://raw.githubusercontent.com/ampproject/amphtml/master/extensions/amp-animation/amp-animation.md). It has escaped "& lt;" tags paired with unescaped > tags. There are numerous instances of such inconsistencies across the code base.

These are tripping up the link checker gulp presubmit task.

Discovered while test

[2017-05-25 19:33] aghassemi commented on #9536
cool workaround!

[2017-05-25 19:39] #9487 closed

[2017-05-25 19:43] #8011 closed

[2017-05-25 20:27] #9470 closed

[2017-05-25 20:57] cramforce commented on #7259
Suggestion for format of the JSON file:

[code]

[2017-05-25 21:03] #9048 closed

[2017-05-25 21:31] zhouyx opened #9565 "Prevent false resizing in long document"
### Description
Publisher usually throw things that are very dynamic and not very important at the bottom of the document. Thus AMP runtime always allow element at the very bottom of the page to resize. The current threshold is the bottom 15% of the document height.

However the percentage threshold doesn't work well with very long documents. It's better to have a combination of fixed value and pe

[2017-05-25 21:33] muxin opened #9566 "Should show amp-app-banner in non-embedded Firefox IOS"
In non-embedded firefox ios, amp-app-banner should be shown.
Visit https://amphtml-nightly.herokuapp.com/examples/article.amp.html on firefox ios

https://github.com/ampproject/amphtml/blob/master/extensions/amp-app-banner/0.1/amp-app-banner.js#L219
has wrong value for `this.canShowBuiltinBanner_` because `platform.isSafari()` is wrong

[2017-05-25 21:33] muxin commented on #9566
/cc @ericlindley-g

[2017-05-25 21:48] rudygalfi commented on #9337
@msukmanowsky We're going to need to schedule this along with other things we have planned. I want to know if this is blocking you and if you'd be open to implementing this so that it happens faster?

[2017-05-25 21:55] nickmoline commented on #2273
Just thought I'd drop a little note here for anyone else who likes my proposed situation for a generic captcha other than recaptcha.  We ended up experimenting to see if this would work just using the existing `<amp-list>` inside of an `amp-form`  as opposed to a brand new component, and sure enough it works just fine.

[code]

[code]

Note this would have worked fine using my discrete fields from

[2017-05-25 21:58] #9370 closed

[2017-05-25 22:15] choumx opened #9571 "amp-bind: Integration tests broken"
https://travis-ci.org/ampproject/amphtml/jobs/236156693

Looks like consistent timeouts and failures on non-Chrome browsers.

/cc @kmh287

[2017-05-25 23:15] lannka commented on #9325
We don't need to compile the same binary twice. Let's just copy 1.0 to 0.1 as an alias.

[2017-05-25 23:18] ericlindley-g commented on #6469
/cc @dandv @choumx @aghassemi

FYI
This has been coming up more recently, now that a lot of the needs for e-commerce have been addressed. Chatted w/ Malte about the feature, and current thinking is that we may be able to take an approach similar to autocomplete, where we both

a) expose the events in bind to make this work and create an ABE that demos how folks could compose an advanced case, and

[2017-05-25 23:55] aghassemi opened #9576 "[amp-lightbox] lightbox inside a fixed element does not work on iOS/embed case"
to repro, run the following locally and use DevTools to emulate iPhone, not that lightbox does not open.

[code]

Issues is `enterLightboxMode` more __hides__ the fixed layer but lightbox is inside the fixed layer because its parent was `fixed` and moved to the fixed layer.

@dvoytenko Only solution I can think of is not to hide the fixed layer if lightbox itself is in the fixed layer. Do you thin

[2017-05-26 00:05] cvializ commented on #9556
Would the way [#9553 solves this problem](https://github.com/ampproject/amphtml/pull/9553/files#diff-6a804af8fcfeafe72321b2a9c0f8f050) be a good fix, or are there reasons that isn't the best fit?

[2017-05-26 00:06] ericlindley-g commented on #7118
Looking at the code sample, it seems that the template is defined in the doc itself (as opposed to an external template). Is that right? As @rudygalfi alluded to, does this support already exist for amp-form? Will close the issue if so.

[2017-05-26 00:17] msukmanowsky commented on #9337
Very open to that, @rudygalfi. I'll take a look at this next week and will ping if I have any questions.

[2017-05-26 00:25] ericlindley-g commented on #5062
Closing, but please re-open as needed

[2017-05-26 00:25] #5062 closed

[2017-05-26 07:20] ChetnaSingh23 opened #9579 "AMP errors"
[https://www.ampproject.org/latest/blog/bringing-the-speed-of-amp-to-search-display-ads/](url)

AMP errors

![image](https://cloud.githubusercontent.com/assets/24791556/26484885/32d3e37e-4212-11e7-95ff-1c4b78f84fe0.png)

[2017-05-26 13:45] kmh287 commented on #9556
I think we can find a way to continue using the logic in the default block while still special casing these attributes. Another input attribute pair that acts this way is `<input type=checkbox>`. Setting the `checked` on the element after the user has clicked it does nothing. I'll have a PR up for this shortly. :smile:

[2017-05-26 13:51] bradfrizzell opened #9581 "Net test failures at head when running locally, not due to timeout."
Currently seeing multiple test failures at head when running locally, in google/a4a/test/test-utils.js due to dev.assert(AMP.AmpAdUIHandler) throwing in amp-a4a.js.

This does not seem to be causing test failures on Travis, however.

@keithwrightbos reproduced.

[2017-05-26 13:58] keithwrightbos commented on #8809
@bradfrizzell could you include the results of a randomized run here?  Would be good to give an idea of how much the tests are currently not hermetic.

FWIW - my vote is that randomized should be the default execution method to ensure tests are properly set up.  This will however require some initial effort to fix currently failing tests and potentially lead to flakiness.

[2017-05-26 14:21] honeybadgerdontcare commented on #9579
@ChetnaSingh23 Thanks for the report! I've posted this to [ampproject/docs](https://github.com/ampproject/docs) which owns the ampproject website. https://github.com/ampproject/docs/issues/523

[2017-05-26 14:21] #9579 closed

[2017-05-26 15:48] ericlindley-g commented on #6221
Just sync'd in person w/ @cramforce , and it sounds like the feature discussed [this issue](https://github.com/ampproject/amphtml/issues/8976) might help. If we exposed a `.goToURL` or `.navigateTo` action, that might be be triggered by a tap on a link with target="_blank", so a new tab is opened at the same time the current page is navigated. This is assuming that preventDefault isn't triggered w

[2017-05-26 15:54] aghassemi commented on #5776
/to @wassgha

[2017-05-26 16:08] lannka commented on #9268
@avimehta sounds good.

and we do plan to promote CID logic from amp-analytics into core #4898

[2017-05-26 16:08] aghassemi commented on #5776
@wassgha

To repro this:
- pick a very short youtube video and change http://localhost:8000/examples/amp-youtube.amp.html to use that video (the autoplaying one at least).
- note that we have an animated equalizer icon at bottom corner.
- that icon is supposed to only be animating when video is playing, manually pausing the video for instance pauses the animation, all is good so far.
- THE BUG: bu

[2017-05-26 16:16] lannka commented on #9581
I guess it's time to pay off the technical debt. How about we start a test fixit week rewrite all the existing tests into modern `describes` form?

I can try to do an example.

[2017-05-26 16:55] aghassemi commented on #9137
re-opening since homescreen issue is different

[2017-05-26 17:36] bradfrizzell commented on #8809
Sure, I just ran a randomize run and got 21 failures:

[code]

If you want to duplicate, copy the following test file blob into a file, and save it as json or txt, and then run `gulp test --testlist=<<name of your file>>`. This was the order of the test run that I just did.

[code]

[2017-05-26 17:40] bradfrizzell commented on #9581
If we are going to do a test fixit, which I am strongly in favor of, I think we should address https://github.com/ampproject/amphtml/issues/8809#issuecomment-304289346

[2017-05-26 18:27] #9566 closed

[2017-05-26 19:48] #7712 closed

[2017-05-26 20:09] choumx opened #9590 "Create GFI"
/to @choumx

[2017-05-26 21:29] jasti commented on #2273
@nickmoline Glad to see this is working without a generic component. Keep us posted.

[2017-05-26 21:38] zhouyx opened #9595 "Remove 'trigger: immediate' on sandboxed analytics element"

[2017-05-26 22:21] zhouyx commented on #9546
@coreybyrnes FYI: we don't allow resizing for sticky ad component, I think that's why `context.requestResize(0, 0)` doesn't work.

I still trying to understand why you still want to keep the iframe after ad collapse.

But it won't run other advertiser's ad either after we kill the iframe? Or do you need to keep the iframe to calculate total impression time or so?

[2017-05-26 22:56] taymonbeal commented on #9546
@zhouyx, if I understand this use case correctly, the iframe only needs to be kept alive long enough to ensure that the delayed impression beacon has a chance to fire, for accounting purposes. In the above link, it was showing up as "(canceled)" in the Chrome dev tools.

[2017-05-26 23:24] choumx opened #9597 "Polyfill Event constructor"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- Some familiarity with JavaScript

### Background
[Events](https://developer.mo

[2017-05-26 23:25] choumx commented on #9590
#9597

[2017-05-26 23:25] #9590 closed

[2017-05-26 23:51] zhouyx commented on #9546
Thanks @taymonbeal
@coreybyrnes  If that is the case, iframe has full control on when to send `no-content`. would sending `no-content` after impression tracking finish help?

[2017-05-27 00:03] choumx commented on #9597
Note: We currently have a helper that does something similar for `CustomEvent` in `src/event-helper.js`. Another approach is to replace all current usages of `Event` with this helper.

[2017-05-27 02:37] #9497 closed

[2017-05-29 23:18] SchnWalter commented on #9091
Actually, RDFa can be used with any number of vocabularies. So as long as there is a `prefix` attribute on the HTML tag with defined vocabularies, then you could use any of those vocabularies for values of all RDFa attributes.

For example here we define 3 prefixes for 3 different vocabularies:
* `dc` for [Dublin Core Metadata Terms](http://purl.org/dc/terms/)
* `foaf` for the [Friend of a Friend

[2017-05-30 01:50] mrjoro opened #9608 "Weekly Status 2017-05-29"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-05-30 01:50] #9464 closed

[2017-05-30 03:25] honeybadgerdontcare commented on #9091
If one was to select a number of prefixes to cover a wide range of uses, what set of prefixes would cover the majority of use cases? Is there any data available for what prefixes are used most often in the "wild"?

[2017-05-30 08:57] Philbob opened #9609 "amp-form: Support id submit-success & submit-error template resolution"
## What's the issue?

At the moment amp-form will only allow the use of submit-success & submit-error templates, if those templates are nested inside the amp-form element itself.  I have been looking at a use case that would require me to be able to post an XHR and on success load the template in another part of the form.

Looking through the documentation suggests that it up to the individual com

[2017-05-30 12:22] #9556 closed

[2017-05-30 14:04] coreybyrnes commented on #9546
@taymonbeal Thanks for chiming in and clarifying.

@zhouyx I don't have control over when the impression fires - it's controlled by DFP. I will investigate if I can override that and manually fire it for this sticky slot only, but I know that won't be a universal option for all our slots so the original question/issue still stands.

[2017-05-30 14:33] #8810 closed

[2017-05-30 16:49] mrjoro commented on #9608
- added AMP to [up-for-grabs.net](http://up-for-grabs.net) ([up-for-grabs PR](https://github.com/up-for-grabs/up-for-grabs.net/pull/621))
- created the [Great First Issue label](https://github.com/ampproject/amphtml/labels/Great%20First%20Issue) (in addition to the milestone) & updated docs since most "first issue" aggregators work better with labels

[2017-05-30 17:10] dvoytenko commented on #9608
* Animations
* PWA: streaming shadow DOM

[2017-05-30 17:40] aghassemi commented on #9609
This has come up couple of times. Allowing `id` to optionally specify the template target is a reasonable request and I can't think of reasons not to support it.
/to @cvializ

[2017-05-30 17:57] aghassemi commented on #9608
- AMP `z-index`s are now overridable #9487
- iOS debugging for carousel and fixed elements in lightbox
- Discussions: amp-sort, amp-imgur, amp-ima-video, amp-video analytics, eCommerce-related use-cases

[2017-05-30 18:00] muxin commented on #9608
- Apply caption to lightbox 2.0
- Fix amp banner bug in non-embedded chrome ios and firefox ios
- Show amp-app-banner only when viewer support navigateTo

[2017-05-30 18:05] choumx commented on #9608
- `amp-bind` support for FIE (#7779)
- Debugging `amp-bind` integration tests (#9571)

[2017-05-30 18:06] erwinmombay commented on #9608
- worked with @chenshay on amp-viewer build setup
- upgrade closure compiler
- speeding up `gulp dist` through single pass compilation

[2017-05-30 18:34] zhouyx commented on #9608
- Turn on `hidden-v3`
- Fix race condition on HTMLElement upgrade to CustomElement
- Skip compile process for deprecated extension version

[2017-05-30 18:40] alanorozco commented on #9608
- Added support for lightboxes on 3p frames (specifically for inabox).

[2017-05-30 19:09] rsimha-amp commented on #9608
- Sped up the Travis queue by adjusting parallelism and number of builds #9500
- Made link checker PR blocking and added whitelist mechanism #9470
- Working on making unit_tests more reliable during local runs

[2017-05-30 19:18] Gregable commented on #9091
I don't want this to become an RDFa validator as well, if we can help it. I want to implement just enough to support RDFa without attempting to catch all possible errors in RDFa.

If we were to go through the effort of generically parsing the `prefix` attribute vocabulary and then allowing `rel`/`rev` values with that prefix, we are effectively allowing any `rel`/`rev` containing the `:` character

[2017-05-30 19:30] taymonbeal commented on #9500
Is there any instrumentation or profiling that tells us how long is spent on each step of the CI pipeline?

[2017-05-30 19:35] taymonbeal opened #9619 "Which Node versions are supported?"
This question has now been raised multiple times on Slack without an answer determined. @erwinmombay and @jridgewell, at least, have said different things about it. I would like to get a canonical answer once and for all and then align the Travis settings with it.

Which version of Node do we officially support for the AMP build tooling?

[2017-05-30 19:37] rsimha-amp commented on #9500
@taymonbeal, all the build and test tasks kicked off by pr-check.js are instrumented. Open the logs for each shard to see how long they took.

[2017-05-30 19:49] jridgewell commented on #9619
Node v4. Validator supports back to v0.10 for archaic ubuntu reasons, but that's their decision.

[2017-05-30 20:12] #9512 closed

[2017-05-30 20:32] #9619 closed

[2017-05-30 20:32] dvoytenko commented on #9576
@aghassemi This could work with some effort, but it'd be pretty hard. Basically, all other fixed elements are best to be hidden to avoid different behavior between platforms that have transfer fixed layer and those that don't.

I wonder if it'd be just better to recommend placing lightbox as the child of `<body>`?

Alternative idea is to always force lightbox itself into the transfer fixed layer.

[2017-05-30 20:35] aghassemi commented on #9576
Forcing lightbox to fixed layer seems like a good way to fix this!

[2017-05-30 20:55] pbakaus opened #9621 "PWA: Allow server to return shell with the document inlined in the response DOM"
For SEO friendliness, a PWA built with the Shadow AMP approach needs to have routes that already include the embedded AMP page inlined when coming from the server.

This is needed as we cannot assume any support for JavaScript from search engines.

[2017-05-30 21:10] dvoytenko commented on #9621
One approach we could take is to allow inclusion of the document clearly marked and then this document will be re-streamed into fully instrumented shadow doc using the new streaming API.

[2017-05-30 21:45] choumx commented on #9404
FYI, `amp-bind` unit tests no longer require `gulp dist` which should speed up PR builds.

In fact, `gulp build --css-only` suffices since it still appears to build web worker.

[2017-05-30 22:10] SchnWalter commented on #9091
On the previously [linked page](https://www.w3.org/2011/rdfa-context/rdfa-1.1), you can find this list:

| Prefix | URI | Description | For more details see |
| --- | --- | --- | --- |
| cc | http://creativecommons.org/ns# | ccREL | [ccREL: The Creative Commons Rights Expression Language](http://www.w3.org/Submission/2008/SUBM-ccREL-20080501/) |
| ctag | http://commontag.org/ns# | Common Tag Ontol

[2017-05-30 22:11] jridgewell commented on #9608
- Finishing Fixit PRs
- Layers

[2017-05-30 22:29] SchnWalter commented on #9091
Please note that most RDFa attributes use those prefixes, see [RDFa Core 1.1 - Third Edition -- 5. Attributes and Syntax](https://www.w3.org/TR/rdfa-core/#s_syntax)
* `about`
* `content`
* `datatype`
* `inlist`
* `property`
* `rel`
* `resource`
* `rev`
* `typeof`

These are excluded from the above list:
* `href` -- which only take resource identifiers as values (URIs/IRIs) as values
* `prefix`
* `

[2017-05-30 23:05] dvoytenko commented on #8975
Now supported via width/height extensions in `amp-animation`: https://github.com/ampproject/amphtml/blob/master/extensions/amp-animation/amp-animation.md#css-width-and-height-extensions

[2017-05-30 23:05] #8975 closed

[2017-05-30 23:15] dvoytenko opened #9625 "Validator: allow additional amp-keyframes style"
The goal is to allow a bigger `<style>` aimed for animations. Animations are often bigger in size due to heavy use of vendor prefixes and due to high detail in mutations. On the plus side, however, keyframes animations do not affect the critical rendering path.

The format will be:
[code]

The following rules will be applied to this tag:
 1. The `amp-keyframes` style will only be allowed to contai

[2017-05-30 23:17] mcaveniathor commented on #9597
I would like to work on this!

[2017-05-30 23:28] rsimha-amp commented on #9404
@choumx, good to hear. I've sent out #9626, which eliminates `gulp dist` from PR runs.

[2017-05-30 23:29] rsimha-amp commented on #9404
attn: @erwinmombay

[2017-05-31 00:27] aghassemi opened #9627 "isSafari() is wrong in standalone mode (added to Homescreen in iOS)"
When a app-like page (e.g. with `<meta name="apple-mobile-web-app-capable" content="yes">`) is added to Homescreen in iOS, it opens in "standalone" mode (without addressbar, etc..).

The issue is, in that case the UA string does not have the word `safari` in it (otherwise it is identical). Our `isSafari` checks for `safari` text.'

Added to homescreen as standalone app (must be `apple-mobile-web-a

[2017-05-31 00:37] jridgewell commented on #9627
Can you posts a sample UA?

[2017-05-31 01:29] choumx commented on #9404
Closing since `amp-bind` is no longer the bottleneck. I'll follow up with a new issue for removing the `gulp build --css-only` dependency when we're ready for it.

[2017-05-31 01:29] #9404 closed

[2017-05-31 02:04] vsiv commented on #6469
Can't wait for autocomplete and this. 👍

[2017-05-31 03:42] #5776 closed

[2017-05-31 04:08] honeybadgerdontcare opened #9628 "check-links.js should allow for links that are within the PR"
In #9434 a new component is introduced that includes the validator protoascii and the markdown describing how to use it. All component markdown files link to the validator protoascii for reference. However, [check-links.js](https://github.com/ampproject/amphtml/blob/master/build-system/tasks/check-links.js) is showing an error because that link doesn't exist. While technically correct it would be

[2017-05-31 08:48] bjalford opened #9632 "Empty ad analytics event"
Primarily to detect adblocking, would it be possible to fire an analytics event if the amp-ad doesn't get filled?

[2017-05-31 15:33] rsimha-amp opened #9635 "Unit tests in amp-ad-network-doubleclick-impl fail without a dist build"
After #9626 is merged, we will no longer be doing a full `gulp dist` for unit tests, and instead, will be doing a `gulp build` followed by a `gulp test --nobuild`. When I tested this change, I noticed that the tests in amp-ad-network-doubleclick-impl fail. It turns out this is due to a missing stub.

See https://travis-ci.org/ampproject/amphtml/jobs/237958534 for full failure logs

[2017-05-31 16:02] aghassemi commented on #9627
added to description of the issue

[2017-05-31 16:23] aghassemi commented on #8819
@ericlindley-g @src-code Well, without `allow-same-origin` the origin of the `resize` postMessage will be `null` and the receiver will ignore it. #8545 is really the solution to this

[2017-05-31 16:57] choumx opened #9640 "All common `gulp` commands should be able to run from a clean state"
Currently it's necessary to run `gulp build --css-only` before `gulp dist` to avoid errors like:
[code]
The issue is missing extension-specific CSS*, however `gulp build` also does a bunch of work in addition to that. We can speed up our builds by making sure that `compileCss()` and `buildExtensions()` (CSS only) are run before compiling entry points.

*Another option is to figure out why extensio

[2017-05-31 17:13] Gregable commented on #9091
@SchnWalter , how do you feel about my recommendation above to just move forward with a more relaxed set of rules here?

[2017-05-31 17:16] zhouyx commented on #9262
I found a related discussion in #2492. Chrome seems to the take `as=document` as an invalid value, though it should be a valid value according to [spec](https://w3c.github.io/preload/#link-element-interface-extensions)

I found one example from the spec. Chrome throws `<link rel=preload> must have a valid "as" value` warning, while Safari doesn't.
[code]

[2017-05-31 17:17] #8902 closed

[2017-05-31 17:29] jaygray0919 commented on #1866
@kul3r4 not quite. Our example uses one image as a preview (thumbnail) and another as the image in the lightbox. The AMP product sample uses the same image for preview as for the lightbox. A preview/thumbnail enables a smaller carousel.

[2017-05-31 18:00] cvializ commented on #9609
I'll have to check if there was an intentional reason for the current form template API, but I agree, this could be useful. Until that time, you might be able to use [the experimental `amp-bind`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-bind/amp-bind.md) extension to meet your needs. To use it in production you need to sign up for the origin trial, but it can help fill the

[2017-05-31 18:05] muxin commented on #9480
Done

[2017-05-31 18:05] #9480 closed

[2017-05-31 18:11] zhouyx opened #9642 "Support version other than 0.1 in testing/building"
I was trying to remove amp-sticky-ad 0.1 folder as that version is deprecated. Then I found we use hardcoded path like `${extensionFolder}/0.1/...` in lots of places. We need to support other version than 0.1.

[2017-05-31 18:19] aghassemi commented on #8411
@dvoytenko So the original design was fairly close to what we discussed today. (it is a bit more powerful as it allows different ratios for end/start optionally). It however does not allow margin offsets for the scene container, given container itself can be anything, I don't really see he need to allow margins on the scene container anyway.

I am planning to implement this design very soon, PTAL

[2017-05-31 18:21] jaygray0919 commented on #9091
We second the point that it's not AMP's job to validate RDFa (or JSON-LD). Google SDTT does that. IOHO (in our humble opinion) the change should be: allow `rel` and `rev` on an element. Our analysis indicates that `about`, `datatype`, `typeof`, `resource` and `content` are all AMP valid. Also, the AMP validator does not choke on vocabulary declarations, either in `<head>` or `<body>`

Also, we hav

[2017-05-31 18:48] choumx commented on #9640
Turns out this is a bit more involved than I anticipated. 😅

I have a PR that fixes a [related bug in compile()]( https://github.com/ampproject/amphtml/blame/fb78cfbcd0fa00dc3e45a319c49a1274df5caf1b/gulpfile.js#L205) that gets us going in the right direction. The rest I'll leave /to @rsimha-amp

[2017-05-31 19:00] Rahul007shah commented on #8976
Hi Team, Is there any update for the `navigateTo()` feature? Looking forward to embed this feature in Priceline.com Google-AMP conversion.

Thanks
Rahul

[2017-05-31 19:08] choumx commented on #8976
Hi Rahul, thanks for reaching out. It's on our radar and we're hoping to tackle the prerequisite "trust" feature in the next sprint, after which `navigateTo` will be a simple change.

[2017-05-31 19:13] #7779 closed

[2017-05-31 19:45] supriya-raj opened #9644 "Images not loading when a carousel is present inside a lightbox"
## What's the issue?
I have a set of 4 thumbnails shown as preview and 'on tap' of  any of these,I do the following 2 actions:
1. Open a lightbox that has a carousel composed of the same 4 images(however the urls of images used in the carousel are different from the ones used for preview ..for better clarity).
2. Use goToSlide to show the relevant slide in the carousel.

The issue I noticed is tha

[2017-05-31 19:54] coreybyrnes commented on #9546
@zhouyx @lannka I tried manually firing an impression before calling `noContentAvailable` but it doesn't work. The ad network inserts the scripts that handle the impression after the creative code, so as soon as you call `noContentAvailable` everything is wiped. I tried to set up a timer to call `noContentAvailable` after 10s but it never fired.

Ideally there would be a new function, something li

[2017-05-31 20:20] kul3r4 commented on #1866
I see, at the moment the amp-image-lightbox `src` is the same as the one in which the `tap` event is specified. For example in the Product page:
` <amp-img src="/img/red_apple_2_1024x793.jpg"
                ..." on="tap:gallery-lightbox">
    </amp-img>
    <amp-image-lightbox id="gallery-lightbox" layout="nodisplay">
      <div on="tap:gallery-lightbox.close" role="button"
          tabindex="0"

[2017-05-31 20:31] mrjoro commented on #9254
- Original idea was an iframe that does the actual backend API work.  Vendors already have ways of rewriting links and the iframe would act as a shim.  The design principle of "put the design work on the vendor developers, not on the amp runtime" which changed the design
- How are the links matched, e.g. are wildcards allowed?  It has to be an exact match, but it's possible that the same URL would

[2017-05-31 20:31] #9254 closed

[2017-05-31 20:33] muxin commented on #3402
Tested on facebook web view and this is not fixed yet.

[2017-05-31 20:55] choumx opened #9648 "amp-bind: Huge text layout can crash page"
We should probably cap the size of `[text]` results to avoid this.

[2017-05-31 20:57] alanorozco commented on #8754
[Now on ampbyexample](https://ampbyexample.com/amp-ads/#amp-ads/experimental_ads).

[2017-05-31 20:57] #8754 closed

[2017-05-31 21:00] taymonbeal commented on #9546
@coreybyrnes, what happens if you try putting the call to `noContentAvailable` inside an `onload` event listener?

[2017-05-31 21:25] #9635 closed

[2017-05-31 21:27] rsimha-amp commented on #9635
This issue is now closed, and PR #9626 is unblocked.

ccing @ampproject/a4a in case there's a better way than what I did in #9645

[2017-05-31 21:33] taymonbeal commented on #9500
Do you need `sudo: required`? Removing it means Travis doesn't have to spin up VMs. And there's no reason in principle why it shouldn't be possible to install Chrome without root, is there?

[2017-05-31 21:40] rsimha-amp commented on #9500
/cc @erwinmombay to comment on why we needed sudo, and whether we still do.

From  http://docs.travis-ci.com/user/trusty-ci-environment/, there is now beta support for trusty without sudo, although, as you point out, it doesn't spin up VMs, and therefore, doesn't offer the same kind of no isolation between consecutive test runs since there might be state that persists between builds.

[2017-05-31 21:41] taymonbeal commented on #9500
It still offers full isolation. It's just that isolation is achieved through Docker containers, not through VMs, so it's faster. That's why I'm suggesting that it be used.

[2017-05-31 21:50] rsimha-amp commented on #9500
While Docker appears to offer full isolation when it comes to persistent state (you're right), I don't believe it reserves resources like VMs do, and this may affect some of our tests. I'll spin this off into its own issue for further discussion, and if it turns out that we can do without full VMs, I'm open to making the change.

[2017-05-31 21:54] rsimha opened #9651 "Explore the feasibility of using Docker containers instead of full VMs on Travis"
From looking at .travis.yml, ampproject/amphtml enables `sudo: required` and uses full VMs with the trusty environment. While these are slow, they guarantee isolation between test instances, and resources allocated for each VM.

It appears that we currently use sudo in one place: to install chrome. If we can do away with the sudo requirement and use Docker containers, we may see a significant spee

[2017-05-31 21:55] rsimha-amp commented on #9651
/cc @cramforce @erwinmombay @choumx @taymonbeal

[2017-05-31 21:56] #9500 closed

[2017-05-31 22:00] rsimha-amp commented on #9500
Update: The PR build time (including a `gulp build` and a full unit test run) is now down to around 15 minutes, with a total CPU time consumption of less than 20 minutes. With this, we can close out this issue.

[2017-05-31 22:42] rsimha-amp opened #9653 "Validator smoke tests failing on master"
Error message: `Smoke test failed. returncode=1 stdout="" stderr="c.includes is not a function`

See https://travis-ci.org/ampproject/amphtml/jobs/238116751, for example

These tests pass locally.

[2017-05-31 22:47] jridgewell commented on #9653
- https://github.com/ampproject/amphtml/blob/8d71e34b6bebda8cca67ec6ae7accb153c591a53/validator/engine/validator.js#L840
- https://github.com/ampproject/amphtml/blob/8d71e34b6bebda8cca67ec6ae7accb153c591a53/validator/engine/validator.js#L862
- https://github.com/ampproject/amphtml/blob/8d71e34b6bebda8cca67ec6ae7accb153c591a53/validator/engine/validator.js#L2809
- https://github.com/ampproject/amph

[2017-05-31 22:47] rsimha-amp commented on #9653
This is due to @jridgewell moving to Node v4 on Travis. Assigning to you :)

[2017-05-31 23:01] rsimha-amp commented on #9178
@erwinmombay, is there anything left to do here? Unassigning myself under the assumption that you are looking into this.

[2017-05-31 23:05] #9653 closed

[2017-06-01 00:01] #9405 closed

[2017-06-01 00:02] jaygray0919 commented on #1866
my suggestion: provide `src-prev="preview.jpg"`. If `src-prev` is specified, use it in the carousel. If not, use `src=""` for both preview and lightbox. If that would work, the benefit is that the height of a carousel could be smaller, but the target image (the `src`) is displayed in lightbox, as it is now.

[2017-06-01 00:10] jridgewell commented on #9178
My intern is taking this.

[2017-06-01 00:10] jaygray0919 commented on #1866
Additional thought:  for a specific carousel, all .jpg and/or .png for `src-prev` would have the same height. For example `height=72` is a good size for a preview. An author would select the best 72x72 part of `src=""` as the preview.

[2017-06-01 00:21] zhouyx commented on #9021
So:
We will ignore the publisher inserting analytics element case since it happens very rarely.

Analytics in FIE: FIE won't be destroyed during `unlayoutCallback` and there's no new ad request, thus it makes sense to keep the analytics element inside FIE as well.

Analytics inserted by ad. If not using FIE, we will remove inserted analytics element during `unlayoutCallback` and re-insert them aga

[2017-06-01 00:21] #9021 closed

[2017-06-01 01:13] #9129 closed

[2017-06-01 01:21] dvoytenko commented on #7952
@alanorozco When you get a chance, please go ahead and disable loading indicator inside embeds, including in-a-box and FIE.

[2017-06-01 01:26] dvoytenko commented on #8643
@honeybadgerdontcare Is this in prod everywhere now?

[2017-06-01 01:31] honeybadgerdontcare commented on #8643
@dvoytenko Yes it is. I just verified it on validator.ampproject.org as well with:

[code]

[2017-06-01 01:35] stoneshower commented on #4405
I also need to use amp-carousel with pulling data from amp-list.

It seems amp-list works with amp-selector.
https://github.com/ampproject/amphtml/issues/9536#issuecomment-304064722

So, no implementation for amp-carousel?

[2017-06-01 01:42] ericlindley-g commented on #4405
Thanks for the feedback — this is something we've started thinking about in earnest again (presented in a recent design review), and makes sense in a range of use cases. (am bumping the priority up a bit for the GitHub label)

[2017-06-01 03:18] jasti opened #9659 "Do not allow <amp-iframe> pop ups."
Sample: https://amp-demo-5c971.firebaseapp.com/article.amp.html
We might consider allowing this on user interaction, but probably should only do that for whitelisted AMP components and not amp-iframe.

[2017-06-01 03:39] cramforce commented on #9651
Definitely worth researching with we can get rid of the `sudo` for Chrome.

[2017-06-01 10:45] msukmanowsky commented on #9337
Just a heads up @rudygalfi - on vacation this week and will be looking in on this next week (got my dates mixed up).

[2017-06-01 13:31] coreybyrnes commented on #9546
@taymonbeal Thanks for the suggestion, but it unfortunately didn't fire. I'm sure there's a reason, but it seems like `noContentAvailable` won't execute if there's any delay either through a timer or waiting for the onload event. Here's what I tried (and I do see the log in the console):

`window.addEventListener('load', function(){ console.log('window loaded'); window.parent.context.noContentAvai

[2017-06-01 14:51] johnnyshankman commented on #9371
@powdercloud I noticed the same method and found the same confusion, why is there no function to revalidate the current page and return the state synchronously?

`validateUrlAndLog` is okay, but not nearly as useful because it's async/promise-based (due to the underlying GET request).

Storing the return value in a global variable would be better than the current implementation because our front e

[2017-06-01 15:08] ericlindley-g opened #9663 "Support passing arbitrary messages into amp-iframe"
Primary goal from format perspective is to support more interactivity between parent page and iframed content. Would be useful for highly interactive journalism (scroll-driven storytelling, data visualizations toggled by page-level filters), but is expected to have a wide range of applications beyond that.

Might also consider taking arbitrary messages passed * out of * amp-iframe, but would need

[2017-06-01 15:31] ericlindley-g commented on #5376
Just a quick update that we're still working on this one — though will drop the label to P3 since the implementation may still take a bit more time

[2017-06-01 15:33] ericlindley-g commented on #6906
Should we close this as a duplicate of [layers](https://github.com/ampproject/amphtml/issues/3434)? (sounds like we're pretty sure Layers will cover this case)

/cc @aghassemi @camelburrito @jridgewell

[2017-06-01 15:34] ericlindley-g commented on #5866
@erwinmombay  — just wanted to see if you were still blocked on getting info on the response headers

[2017-06-01 15:43] rsimha-amp commented on #9325
This issue is causing master to go red today. Taking a look.

[2017-06-01 16:03] aghassemi commented on #9663
very similar to https://github.com/ampproject/amphtml/issues/9074 same approach can work for both use-cases.

[2017-06-01 16:03] ericlindley-g commented on #8084
Closing as duplicate of the geo variation work: https://github.com/ampproject/amphtml/issues/826

[2017-06-01 16:03] #8084 closed

[2017-06-01 16:05] ericlindley-g commented on #8819
Closing as dupe of #8545, but please re-open if there's something not captured there

[2017-06-01 16:05] #8819 closed

[2017-06-01 16:06] ericlindley-g commented on #7787
Closing this based on activity in the PR, but feel free to re-open if anything changes, or if there's an alternate path forward

[2017-06-01 16:06] #7787 closed

[2017-06-01 16:06] rsimha-amp commented on #9325
Just noticed that @zhouyx is already working on this in #9587, so re-assigning.

[2017-06-01 16:09] ericlindley-g commented on #9663
Ah yes — I had seen that but forgot we were already tracking. Will close this as dupe

[2017-06-01 16:09] #9663 closed

[2017-06-01 16:14] taymonbeal commented on #9546
Ah, I think I know what's wrong here! The relevant `postMessage` listener listens for only one message, which can be either `render-start` or `no-content`. Once it's received one, it stops listening and any further messages are ignored.

Fellow maintainers: would you be in favor of changing this so that `noContentAvailable()` can be called at any time?

[2017-06-01 16:22] aghassemi commented on #9663
updated #9074 to include description of this as well as a goal.

[2017-06-01 16:42] alanorozco commented on #7952
That's a long(ish) task. Will create a separate issue.

[2017-06-01 16:44] alanorozco opened #9664 "Disable loading indicators inside embeds"
Embeds (including ads) have a pre-display placeholders. Loading indicators are redundant in this case.

Issue partially in response to #7952

[2017-06-01 16:57] coreybyrnes commented on #9546
@taymonbeal thanks for making that discovery!

[2017-06-01 17:03] lannka commented on #9608
- Loosen the one ad per second constraint.
- Use "yield" to test promise code
- Let ad-cid write cookie.
- code review: amp-ad-exit

[2017-06-01 17:35] zhouyx commented on #9659
We do have `isAdLike` function that detect most common ad sizes `[[300, 250], [320, 50], [300, 50], [320, 100]]`.
However in the given example the width and height are [320, 520] and we fail to detect it.

[2017-06-01 17:47] #9325 closed

[2017-06-01 18:22] aghassemi opened #9670 "Remove input-debounced experiment"
Chatted with Malte and we are comfortable launching this event.
We should remove it before doing the sample on AmpByExample (https://github.com/ampproject/amp-by-example/issues/852)

/to @cvializ
/cc @ericlindley-g

[2017-06-01 18:24] ericlindley-g commented on #9670
Sounds good—excited to see this live

[2017-06-01 18:41] zhouyx commented on #9546
I am not sure about handling `no-content` after `render-start`. The point of `render-start ` is to inform AMP runtime when the ad starts rendering and set the ad visible to user. So I think it's quite reasonable for AMP runtime to assume only one message will be received.
In the special case for sticky ad. Once AMP runtime receive `render-start` it will unhide the ad. Upon receiving another  `no-c

[2017-06-01 18:57] camelburrito commented on #8553
i think #9668 should fix this as well

[2017-06-01 18:58] rsimha-amp commented on #9651
For posterity, here is the documentation from Travis:

Blog post: https://blog.travis-ci.com/2016-11-08-trusty-container-public-beta
Documentation: https://docs.travis-ci.com/user/trusty-ci-environment/

[2017-06-01 18:59] coreybyrnes commented on #9546
@zhouyx @taymonbeal But I am able to run a creative that calls `noContentAvailable()` and it does indeed kill the iframe and in the case of the sticky it doesn't ever appear - no "blink". It's only if I try to call `noContentAvailable` after a delay via `setTimeout` or waiting for the `window.onload` event that it won't execute. But we need to delay it until the impression has successfully rendere

[2017-06-01 19:05] alanorozco commented on #9162
Can't reproduce. Do you not see the errors when setting the URL fragment to `development=1`?

[2017-06-01 19:50] zhangsu opened #9672 "Support application/json for XHR"
## What's the issue?

Is it feasible to add the ability to send XHR with an `application/json` content type? Currently with `amp-form`, we can only send XHR with `multipart/form-data` content type. We are asking this because a lot of non-GET RESTful APIs these days take requests with a JSON body.

For example, the [Google Drive API](https://developers.google.com/drive/v3/reference/comments/create)

[2017-06-01 20:02] cvializ commented on #9670
Cool!  🎉🎉🎉

[2017-06-01 20:03] choumx commented on #9672
/cc @aghassemi @rudygalfi

[2017-06-01 20:11] taymonbeal commented on #7618
@oliy, Google is now sending the new header. What's Cloudflare's status on this?

[2017-06-01 20:21] aghassemi commented on #9672
similar request for configurable `enctype` here: https://github.com/ampproject/amphtml/issues/7607

/cc @ericlindley-g @cvializ

[2017-06-01 20:23] zhouyx commented on #9546
@coreybyrnes delaying the call to `noContentAvailable` should work. I used to delay the signal by few seconds during manual testing and it works as expected. When you delay the call to `noContentAvailable`, do you have control of `renderStart`? I assume it's possible that `renderStart` is called by nested window since impression has successfully rendered.

[2017-06-01 20:28] coreybyrnes commented on #9546
@zhouyx I don't believe I have control over `renderStart`, but I'm really not sure how/when that is fired. Perhaps it is tied to the impression? Really not sure, but it seems like if the impression successfully fires then `noContentAvailable` cannot execute.

[2017-06-01 20:47] taymonbeal commented on #9546
Since you're using `useSameDomainRenderingUntilDeprecated`, `renderStart` is [triggered by](https://github.com/ampproject/amphtml/blob/155e23b11216ed5725eb85df6876497d24bf8edb/ads/google/doubleclick.js#L192) the GPT event [`slotRenderEnded`](https://developers.google.com/doubleclick-gpt/reference#googletageventsslotrenderendedevent). There's no synchronization between this and the delayed impressi

[2017-06-01 21:02] choumx commented on #9571
Most integration tests in test-amp-bind.js are now running and green. Will investigate flakes separately.

[2017-06-01 21:02] #9571 closed

[2017-06-01 21:11] dandv commented on #6469
+1. Date *range* picking has been requested by travel partners - searching for hotel availability for example.

[2017-06-01 21:13] coreybyrnes commented on #9546
@taymonbeal thanks for the clarification. So can we test out your idea to allow a `noContentAvailable` call even if a `renderStart` has fired? It seems worth testing to see if an ad blink would occur if the `noContentAvailable` fired on `window.onLoad`.

[2017-06-01 21:17] jasti commented on #8695
Closing since the issue seems to be on the smart ad server side. Please reopen if the issue persists.

[2017-06-01 21:17] #8695 closed

[2017-06-01 21:22] jasti commented on #3265
Ping @chenshay

[2017-06-01 21:22] rajkumarsrk opened #9673 "Option to add tracking parameters dynamically through data-amp-addparams for links on anchour tags"
## What's the issue?
Providing option to add tracking data along with the destination URL for source attribution. This is a feature request on top of https://github.com/ampproject/amphtml/pull/9086

## How do we reproduce the issue?
With this PR https://github.com/ampproject/amphtml/pull/9086 we have provided option to add the query params dynamically provided `data-amp-replace` is present. But fo

[2017-06-01 21:25] jasti commented on #8635
@keithwrightbos What's the status on this? Can this be closed?

[2017-06-01 21:26] jasti commented on #8204
@glevitzky can this be closed?

[2017-06-01 21:26] jasti commented on #8602
@glevitzky can this be closed?

[2017-06-01 21:28] jasti commented on #8544
@arunchaitanyagyan I'd recommend getting in touch with Teads support directly about this issue.

[2017-06-01 21:28] #8544 closed

[2017-06-01 21:30] jasti commented on #8235
Ping @Gregable

[2017-06-01 21:33] choumx commented on #9395
This should work now. Tested on `https://localhost:8000/a4a/examples/bind/basic.amp.html`.

[2017-06-01 21:33] #9395 closed

[2017-06-01 22:04] #9268 closed

[2017-06-01 22:08] jasti opened #9678 "Implement amp-recaptcha shell extension"
Create a new AMP component called amp-reCAPTCHA that loads the reCAPTCHA iframe for any advertiser/ publisher that wants to use reCAPTCHA on their AMP pages.

The reCAPTCHA team will be doing their side of the work.

- [ ] design
- [ ] implement

[2017-06-01 22:13] jasti opened #9679 "Test amp-ad works seamlessly when embedded inside of a PWA"
Main thing to ensure is that the ads are loaded and viewability pings (active view) are fired for both AMP and non-AMP ads when they are delivered into an AMP page that is embedded inside of a shadow DOM within a PWA.

[2017-06-01 22:18] oliy commented on #7618
We've been sending the new and old headers already.  Is there a good way to validate that our new headers are working (over the old headers), short of dropping the old headers?

[2017-06-01 22:22] choumx commented on #9597
@mcaveniathor Great!

[2017-06-01 22:23] jridgewell commented on #9673
Sounds fine, can you do this one too?

[2017-06-01 22:35] dvoytenko opened #9681 "dvoytenko ooo"
@amphtml-team @ampproject/a4a

Hi All! I'll be out on vacation June 5th through June 28th. See you all soon and happy hacking!

[2017-06-01 22:36] SchnWalter commented on #9091
@Gregable, I just realized that your suggestion works perfectly, and I can also confirm that jay's analysis regarding the other RDFa attributes being AMP valid.

So +1 for the allowing `rel` on any tag with a simple blacklist and just skip the parsing of the `prefix` attribute.

And I can also confirm that the vocabulary declarations, using either a `prefix` or `vocab` attribute, work on `<html>`,

[2017-06-01 22:38] muxin commented on #9226
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- CSS
- Javascript

### Background
Amp carousel type="carousel" (See [doc](https

[2017-06-01 23:03] aghassemi commented on #6469
I highly recommend we try to find an existing good open-source implementation and integrate it. A high quality, mobile friendly date picker with a11y and i18n support is a lot of work. Supporting non-Gregorian calendars adds a lot to it as well.

Looking at Airbnb's version (https://github.com/airbnb/react-dates): 500 commits, 57 contributors, thousands lines of code...

[2017-06-01 23:07] muxin commented on #8777
https://github.com/ampproject/amphtml/issues/9226

[2017-06-01 23:07] #8777 closed

[2017-06-01 23:46] muxin commented on #6953
@aghassemi This is fixed right?

[2017-06-01 23:54] aghassemi commented on #6953
not really, this is about normal deep links outside of app-banner. Dup of https://github.com/ampproject/amphtml/issues/5284 so closing.
Work done in #9533 and #8291 will unblock creating `amp-deep-link` now.

[2017-06-01 23:54] #6953 closed

[2017-06-01 23:56] dvoytenko commented on #7184
/to @zhouyx could you please take a look?

[2017-06-02 01:57] rajkumarsrk commented on #9673
Sure. I can take it

[2017-06-02 08:27] trodrigues commented on #9681
I might submit that PR to remove the experimental flag from amp-access-laterpay sometime next week. Will anyone be able to merge that, or is there someone I should tag/mention? Would be nice to not leave it hanging around until you come back 😁

Also have a nice vacation!

[2017-06-02 09:06] trodrigues commented on #9681
I've created a PR for this at https://github.com/ampproject/amphtml/pull/9685

We still need to deploy production changes for one of our backend components related to this (happening early next week) but I've actually thought that it should be ok to remove the flag already, because this is only relevant to our customers and any of our customers that would use this would eventually be in contact wi

[2017-06-02 16:02] choumx commented on #8673
There's currently a race between bind's DOM scan and amp-list's `buildCallback` (which instantiates the dynamic container element).

[2017-06-02 16:23] rudygalfi commented on #8851
I think this is the same as #7654. Marking as duplicate. /cc @avimehta @lannka

[2017-06-02 16:23] #8851 closed

[2017-06-02 16:26] rudygalfi commented on #9632
Could you post more information about the kind of analytics event you would like to have fire (e.g. trigger type)?

[2017-06-02 16:28] rudygalfi commented on #3337
We can close this out because #9356 covered this, right?

Also, can you make sure to add content to the linked documentation page (https://engineeringportal.nielsen.com/wiki/DCR_Static_-_Google_AMP)?

[2017-06-02 16:30] jpettitt opened #9687 "Can we allow amp-list to accept object instead of arrays in the json?"
Right now `amp-list` is limited to handling responses that return an array somewhere in the json, it then iterates the array populating a template for each element.

Would it be possible to have it also accept non array values?  In the case where the response was not an array it would treat it as a single entry array and populate the template once. This might be as simple as when the target is not

[2017-06-02 16:49] rudygalfi commented on #7654
This behavior is by design, but we can take this as a feature request to support multiple things being selectable via a selector.

[2017-06-02 16:49] uniquelygeneric commented on #3337
Yes, we should be able to close this out. My apologies, we've changed the URL for the documentation. I've commented the change on the amp docs PR

https://engineeringportal.nielsen.com/wiki/DCR_Static_Google_AMP_Cloud_API

[2017-06-02 16:53] dvoytenko commented on #9681
@trodrigues Just assign mention @rudygalfi and he'll forward it along to the best person to review.

[2017-06-02 16:56] rudygalfi commented on #3337
Excellent - thanks!

[2017-06-02 16:56] #3337 closed

[2017-06-02 17:05] jpettitt commented on #9276
`amp-rewrite-links` Preliminary design Incorporating feedback from Design Review

There are several use cases where rewriting the href tags on AMP pages would be useful. These include AMP to AMP linking and affiliate link automation.

This is a tentative proposal for a way to handle this via new amp-rewrite-links component.
The basic model would be similar to `amp-list`, a CORS endpoint with a def

[2017-06-02 17:07] src-code commented on #7654
Thanks @rudygalfi, it'd be huge to get this use case supported soon.  Very difficult to track things like native ads in a stream of content without it.

[2017-06-02 17:11] choumx commented on #8197
Closing since 2/3 tasks are complete now. Will open a new issue with the remaining smaller-scoped task.

[2017-06-02 17:11] #8197 closed

[2017-06-02 17:42] dvoytenko opened #9691 "Animations: add support for new conditionals"
Currently we define a single conditional: `media` - it's equivalent to CSS `@media`.

Additionally, we'd like to support `supports` and `hasStyle`.

#### `supports`

This is equivalent to `@supports (...) {}` CSS.

Format:
[code]

Implementation is very simple:
[code]

Nuance, `supports` will yield false on platforms that do not support `@supports {}`, even if the browser actually does support the

[2017-06-02 17:59] aghassemi commented on #9687
@jpettitt sounds good to me.

after this change, it might be a good time to introduce an alias for `amp-list` to make this more semantic. Maybe:
1. `amp-template-renderer`?
2. `amp-mustache-renderer`?
3. `amp-partial` ?
4. `amp-remote-renderer`?

(this will be purely an alias, both amp-list and this will behave exactly the same. In documentation we will target them for different use-cases)

@cramf

[2017-06-02 18:58] bradfrizzell opened #9692 "Local test failures causing gulp crash"
When running
``` gulp test --testlist=test/functional/TEST_FAILURE_AND_CRASH.json ```
it will crash gulp every time. (TEST_FAILURE_AND_CRASH.json is a test ordering that I generated from running gulp test --randomize).

There are many random test orderings that will cause a crash from what I have seen. Why this is happening is unknown for now. Should be investigated at some point, as test failures

[2017-06-02 19:17] rudygalfi opened #9694 "Support additional semantics for buttons on amp-user-notification"
amp-user-notification currently supports [`dismiss` semantics](https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/amp-user-notification.md#usage). Depending on the message conveyed by the user notification, it may be desired to be able to capture additional kinds of user responses to the notification.

This FR proposes supporting the following *additional* semantics

[2017-06-02 19:29] rsimha-amp commented on #9628
@honeybadgerdontcare: interesting issue, thanks for filing it. We used to have check-links.js emit a warning instead of an error, but that ended up allowing bad links to slip through unnoticed.

I'm pretty sure it should be possible to implement an exception for links to new files being added in the same PR. Meanwhile, sorry you had to take the roundabout path of temporarily adding an exception to

[2017-06-02 19:35] aghassemi commented on #9453
@NithishReddy Please reopen the issue with more details on repro steps. I have not been able to repro as suggested.

[2017-06-02 19:35] #9453 closed

[2017-06-02 19:36] aghassemi commented on #9514
reopening as this is still something we need to fix regardless of the workaround.

[2017-06-02 19:42] jridgewell opened #9695 "Upgrade to Babel 6"
Babel 6 offers a number of features (bug fixes, and speedups, and more ES* compatibility), but really the biggest thing it offers is [babel-preset-env](https://github.com/babel/babel-preset-env).

Essentially, `babel-preset-env` allows us to tailor our development build to the browser we're running. Instead of compiling every ES6 feature down to ES5, we can run the ES6 features Chrome supports and

[2017-06-02 19:46] aghassemi opened #9696 "amp-form: async verification - design changes"
Issue to track incorporating design changes as discussed among @aghassemi @cvializ @dvoytenko

[2017-06-02 19:49] choumx opened #9697 "Launch amp-bind"

[2017-06-02 19:50] aghassemi opened #9698 "autocomplete: ABE - Product browse page: Rich auto suggest integration"
Bring ampproject/amphtml#9553 to AmpByExample by implementing an autocomplete feature for the Product browse page's search functionality.

Ideally the suggestion list is rich and includes additional details such as price, photo, etc.. of the matched items.

/to @cvializ
/cc @ericlindley-g

[2017-06-02 19:56] choumx opened #9699 "Implement Trust for AMP Actions"
Related: #8976, #9305.

- [x] Add trust levels to actions system.
- [ ] Change trust levels for existing actions to match #9305.

[2017-06-02 19:58] dvoytenko commented on #9178
Can we reassign?

[2017-06-02 19:58] rsimha-amp commented on #5294
Assigning to @erwinmombay until we have more context around what's left to do.

[2017-06-02 19:59] aghassemi opened #9700 "amp-form: async verification - ABE sample"
Sample on ABE that uses async verification.

Check with @kul3r4 to see if there is an existing template or page that makes sense to host it.

[2017-06-02 20:02] aghassemi commented on #8825
Closing. Remaining work tracked under #9698

[2017-06-02 20:02] #8825 closed

[2017-06-02 20:08] jridgewell commented on #9030
@camelburrito's on duty next, lucky. 😉

[2017-06-02 20:13] shawnbuso commented on #8841
I'm not sure if this one is technically feasible. So far I have exactly what we need working great on desktop and Android, but iPhone is giving me all kinds of problems. First, it won't let me disable controls during ads - I'm calling `videoPlayer.setAttribute('controls', false)`, but it seems to just be ignored - I still see controls while ads are playing, which interferes with our ad UI. \

Seco

[2017-06-02 20:20] aghassemi opened #9701 "video dock: extend video-manager to know playing state of each video"
- `getPlayingState(videoElement)` on `video-manager`
-  For now it would return one of the following enums: `PlayingState.PLAYING_MANUAL, PlayingState.PLAYING_AUTO, PlayingState.PAUSED`
- edge case when user taps an autoplaying video, it's status should echange from `PLAYING_AUTO` to `PLAYING_MANUAL`

Part of #8088

[2017-06-02 20:28] aghassemi opened #9702 "video dock: phase 1, playing video to dock and minimize to corner"
part of #8088
Just the part where a playing video minimizes to corner when scrolling up
- [x] add experiment flag
- [x] add attribute `dock=(when-playing|never)` (default to never for now)
- [x] restricted to phone/portrait mode only for now.
- [x] works/integration tested for amp-video and amp-youtube

does NOT include
- any controls or gestures to dismiss, etc..
- different UX based on scroll di

[2017-06-02 20:33] aghassemi commented on #9308
Closing tracked under # #9696 #9700

[2017-06-02 20:33] #9308 closed

[2017-06-02 20:37] aghassemi commented on #9267
Closing per:

[2017-06-02 20:37] #9267 closed

[2017-06-02 20:47] keithwrightbos opened #9703 "Fast Fetch not making ad request due to getIntersectionElementLayoutBox incorrectly reporting height/width 0"
Steps to reproduce:

- go to http://localhost:8000/proxy/investir.lesechos.fr/amp/1670243.php#exp=a4a:-1 which will enable fast fetch
- no ad request is sent for first slot on page

Verified that getIntersectionElementLayoutBox is returning height/width 0 within onLayoutMeasure despite the fact that calling element.getBoundingClientRect() reports correct non-zero size.

Issue does not occur when u

[2017-06-02 20:51] dvoytenko commented on #9703
This is because the source document declares these styles:
[code]

The idea behind `amp-notbuilt` was to allow simple UI features, such as shading the box in grey before it can be fully loaded. The `display:none` makes it impossible for an Ad to load, but also would make UI jump once `amp-ad.js` script is downloaded.

We could potentially address this issue by simply scheduling remeasure of the el

[2017-06-02 20:56] #6156 closed

[2017-06-02 20:58] lannka commented on #4457
@chenshay since you're making the open source viewer, is this something in your scope?

[2017-06-02 20:59] #3561 closed

[2017-06-02 21:04] rsimha-amp commented on #9559
After doing some more research, it turns out that all instances of inconsistent tagging are within <code> blocks, where we must use & lt; instead of <, since these .md files are embedded in raw HTML as part of AMP documentation.

The link checker will continue to mis-parse these links, but this was alleviated in #9552 by filtering out links in script tags.

Closing this issue as there is nothing l

[2017-06-02 21:04] #9559 closed

[2017-06-02 21:12] jridgewell commented on #9178
Done.

[2017-06-02 21:21] cvializ commented on #9305
Cataloged in this doc: https://docs.google.com/spreadsheets/d/1QnIxWMQLcNINaNGpHcMsSUt5_l9Q7_bvHVMwQfwyypg/edit#gid=0

[2017-06-02 21:21] #9305 closed

[2017-06-02 21:40] jasti commented on #9632
@bjalford  Since amp-ads are served into cross domain iframes (most of the time), I doubt if we can detect such a thing consistently. This especially changes depending how the ad is being blocked, right? @lannka for confirmation.

[2017-06-02 21:43] wassgha opened #9705 "video dock: extend video-manager to know playing state of each video"

[2017-06-02 21:51] #8238 closed

[2017-06-02 21:53] jasti commented on #9664
@alanorozco Not sure I understand. Can you point me to an Embed having a pre-display placeholder?

[2017-06-02 21:55] jasti commented on #7846
@alanorozco Could you please document the final decision and next steps, if any, here?

[2017-06-02 21:58] jasti commented on #9312
Thanks, closing here since it's not a core AMP issue.

[2017-06-02 21:58] #9312 closed

[2017-06-02 22:01] alanorozco commented on #9255
I'd like to present a design for [blurry image placeholders](https://docs.google.com/document/d/1NWlpOe-sZONPAvxYjyEApI1PTdBqEVPBEd2ikYJOvvA/edit#).

[2017-06-02 22:05] #9608 closed

[2017-06-02 22:09] jasti commented on #9307
@alanorozco Is this going to finished today or does it need to be moved to the next sprint?

[2017-06-02 22:13] alanorozco commented on #9664
By a "pre-display placeholder" I mean the placeholder that says "Ad" on ad embeds, for example.

[2017-06-02 22:17] alanorozco commented on #7846
Will do.

[2017-06-02 22:30] zhouyx commented on #9546
@coreybyrnes Sorry I am super confused again. 😢

First I want to make sure this discussion is all about 3P ads render in a cross origin iframe.

Then I have few questions:
How would you tell if an ad is blank ad that should be collapsed?
When you make the change to delay `noContentAvailable` where are you making the change?
Since `slotRenderEnded` event is triggered, does it mean that the ad slot

[2017-06-02 22:31] jasti commented on #7952
Still doesn't solve the original two issues.

1. Some assets could appear on screen before all assets appear, giving the ad a 'broken' feeling
2. Some animations might be triggered before assets have even loaded, giving the user a broken animation.

Let's disable loading indicators inside embeds but explore if custom resource dependencies is something we want to do. Moving to prioritized FR.

[2017-06-02 23:25] rudygalfi commented on #3061
Is this still needed? Also, any more detail on motivation for removing the referrer to provide context?

Per @lannka amp-pixel supports this currently.

[2017-06-02 23:50] muxin commented on #3402
Tried several approach but failed.
Adding a potential solution reference for future investigation: https://stackoverflow.com/questions/10238084/ios-safari-how-to-disable-overscroll-but-allow-scrollable-divs-to-scroll-norma

[2017-06-02 23:50] cramforce commented on #9276
I don't have strong opinions on your question. Overall this looks good to me. @dvoytenko pinged our security person to take a look and check if we are doing anything bad. My thinking is that while this is a bit weird, it is 10x better than injecting random 3P JS.

[2017-06-02 23:52] cramforce commented on #9687
We cannot rename `amp-list` or I would lose me example for the worst named AMP extension :)

I'm all for this. `amp-partial` is great. I'm also happy to make that an alias and retrofit `amp-list` to support the non-list case.

[2017-06-02 23:55] jridgewell opened #9707 ""defined" is not a magic Chai method"
Have I ever mentioned how much I **hate** chai's magic property-access getter method bulllshit?

`.defined` is not a Chai method. But because it uses stupid getter API (and not real methods), you'd never know it.

[code]

Instead, any sane API would use real methods

[code]

[code]

[2017-06-03 00:02] #9326 closed

[2017-06-03 00:12] cramforce commented on #9707
This is so bad.

Could be fixed with something like

[code]

[2017-06-03 00:14] cramforce commented on #9703
+1

On Fri, Jun 2, 2017 at 1:51 PM, Dima Voytenko <notifications@github.com>
wrote:

[2017-06-03 00:21] choumx commented on #9343
Tested this on everything.amp.html and I can't repro. I'm not even sure that `maybePumpEarlyFrame` makes a difference for this issue since the chunk that contains `makeBodyVisible` is already enqueued by the time `runtime.js#adopt` is invoked. Closing for now.

[2017-06-03 00:21] #9343 closed

[2017-06-03 00:36] jridgewell commented on #9707
Apparently they do [exactly this](https://github.com/chaijs/chai/pull/721) in Chai 4.0.0.

[2017-06-03 00:37] cramforce commented on #9343
This is the difference that `maybePumpEarlyFrame` is supposed to make:

Usually during visible render we execute all chunks in the same microtask phase. Hence the browser cannot paint in between. `maybePumpEarlyFrame` is supposed to delay non-critical work into a macro task, so that the browser can paint once in between.

Did you see that?

[2017-06-03 01:27] muxin opened #9708 "Avoid using global document in tests"
Many tests add elements directly to the global document which leaves elements not cleaned up after each test.

[2017-06-03 03:39] #8515 closed

[2017-06-03 13:16] pachori01shubha opened #9709 "How to magange of user notification time cookies"
Hi

Task  : I have to reopen user notification popup or we can say notification box after every 5 to 6 hours  .
Query : how to define time for cookies of google amp user notification box
thanks
shubha

[2017-06-03 13:21] shubha01 opened #9710 "How to define cookies and custom time limit of cookies for amp user notification"
Hi ,
Task : i have to notify user notification after every 5 to 6 hours
query : how we define time period for amp-user-notification box or we can say how to  define time for cookies of google amp  user notification

thanks
shubha

[2017-06-04 08:31] jamesek opened #9711 "Missing external link from content"
## What's the issue?

Missing external link in content.

## How do we reproduce the issue?

Compare two simple links:
https://rychlofky.wordpress.com/2017/06/02/slusni-lide-na-facebooku-analyzovani-josefem-slerkou/
https://rychlofky.wordpress.com/2017/06/02/slusni-lide-na-facebooku-analyzovani-josefem-slerkou/amp/

You can see missing first very important link.

<img width="268" alt="snimek obrazo

[2017-06-04 12:01] lexandera commented on #8411
I'd like to suggest also adding support for binding animation progress to video playback time. This would make it possible to create an HTML layer on top of video (interactive elements, annotations, ...) and have it always be in sync with the playing content.

[2017-06-04 13:43] SchnWalter opened #9712 "Disable loading of non-critical page content on very slow connections"
## What's the issue?

It sometimes makes sense to put emphasis on the user experience by never loading certain resources, or loading them on request (a user clicks a "Play Video" button -- displayed inside the `fallback` content, with visibility controlled by an `on-load-add-class` attribute similar to how `amp-font` works)

For example, it would be nice to have the option to disable loading of Ad

[2017-06-04 14:12] SchnWalter commented on #9712
The `<script type="application/json" custom-elements-definition>` could also be used just to stub elements in the header and then include the scripts in the body footer, this would make sure that main AMP script is always loaded before all other scripts.

[2017-06-04 17:36] lannka commented on #8765
I think this is obsolete, as we've already fully moved to `amp4ads-v0.js`.

[2017-06-04 17:36] #8765 closed

[2017-06-04 18:52] lannka opened #9713 "Promote CID related code to core (out of amp-analytics)"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- Some familiarity with JavaScript

### Background
[What is CID?](https://github

[2017-06-04 18:53] lannka commented on #4898
The remaining work is tracked as a Great First Issue here: #9713

[2017-06-04 18:53] #4898 closed

[2017-06-04 18:54] lannka commented on #9341
Created one: #9713

[2017-06-05 02:01] ericlindley-g commented on #9698
+1

Basic need here is for a set of broad search terms that are autocompleted (can come with bells and whistles like bolding of the portion of the word that is already filled out by the user). A key use-case for this is to get recommendations for broad types of items or categories that one would search for on a retail site. (e.g. "shoes" or "umbrella"). Once the user taps on such a term, it could

[2017-06-05 04:42] mrjoro opened #9714 "Weekly Status 2017-06-05"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-06-05 14:37] shawnbuso commented on #8841
OK after a full weekend of shower-levels of thinking I think I've resolved both of these. For anyone else stumbling upon this with a similar issue:

For the first issue, I had to change `videoPlayer.setAttribute('controls', false);` to `videoPlayer.removeAttribute('controls');` It looks like maybe iPhone just looks for the presence of the controls attribute and disregards the value associated with

[2017-06-05 15:39] cramforce commented on #9712
@SchnWalter We have plans to experiment with a variation of your proposal as an AMP Cache rewrite later this year.

Did you know that the AMP Cache supports a "lite" mode? It is currently used when linking to AMP pages from Google's lite search product.

[2017-06-05 16:07] aghassemi commented on #8841
@shawnbuso Awesome, thanks for powering through quirks. Behaviour of binary attributes are certainly not consistent across browsers. I ran into a similar issue with `muted`.

@spacedino can help with design of the fullscreen button. Added `Needs UX` to the issue.

I might be worth bringing up the IMA requirements for fullscreen functionality with the Web Platform folks (/cc @mounirlamouri) so it c

[2017-06-05 16:18] aghassemi commented on #9698
@ericlindley-g @cvializ Basic autocomplete with two triggers (one to trigger search and one to just put the suggestion in the input) sounds good to me and should be possible by bringing `amp-bind` into this mix. Highlighting the matched part is the only thing I am not sure is possible (might be by some creative use of `amp-bind`). FWIW native Android Google Search App does not highlight the letter

[2017-06-05 16:25] rsimha-amp commented on #9651
It turns out that while using Docker containers instead of VMs on Travis reduces VM startup time, it has significantly increased build and test time, increasing the overall PR check round trip from < 20 mins to > 30 mins.

Compare https://travis-ci.org/ampproject/amphtml/jobs/238464404 (with this change) against https://travis-ci.org/ampproject/amphtml/jobs/238462066 (without this change).

[2017-06-05 16:26] aghassemi commented on #8411
@lexandera That's a really neat idea! It fits nicely with the discussions we have been having on https://github.com/ampproject/amphtml/issues/8971 as well. I will combine https://github.com/ampproject/amphtml/issues/8971 and this request into a new feature request for `amp-video`.

[2017-06-05 16:30] mounirlamouri commented on #8841
Glad to hear that you want to use native controls :) /CC @beaufortfrancois @avayvod

1. I guess nothing on the spec side here.
2. Would you be interested to have a way to request controls without a seek bar?
3. We launched recently an API to disable a few buttons on the HTMLMediaElement, see https://developers.google.com/web/updates/2017/03/chrome-58-media-updates#controlslist Among other things,

[2017-06-05 16:37] aghassemi commented on #8841
@mounirlamouri `controlslist` is great! Didn't know about it.
RE: fullscreen, I believe what would help here is ability to change the `onclick` behaviour of the native fullscreen button (My understanding is that IMA likes to take a totally different element to fullscreen rather than the video itself @shawnbuso correct me if I am wrong). Current workaround is to hide the native fullscreen button an

[2017-06-05 16:41] lannka commented on #9678
For this sprint we will come up with a design and get signed off by the reCaptcha team.

[2017-06-05 16:49] Gregable commented on #9091
Sounds like we have a plan then. The changes required are:

- [ ] Edit `validator/testdata/feature_tests/rdfa.html` to include some additional valid examples of `rel`/`rev`/`prefix`.
- Edit `validator/validator-main.protoascii` in two places:
  - [ ] For the tag `"html ⚡ for top-level html"`, add `attrs: { name: "prefix" }`
  - [ ] In the attr_list named `"$GLOBAL_ATTRS"`, add `attrs: { name: "rev

[2017-06-05 16:50] lannka commented on #9659
I read this as to either
a) build more heuristics to detect an ad like amp-iframe
or
b) disallow any fixed floating position of an amp-iframe

For a), we're relying on a naive "ad like sizes" check, which can be easily bypassed by developer if they spent a minute in our code base. Sure, we can still add [320, 520] to the list.

For b), would that kill existing valid use cases? We need a good think

[2017-06-05 16:50] lannka commented on #9679
@choumx do we have an amp-ad example in your PWA shell?

[2017-06-05 16:51] luigi commented on #4524
Is this still being considered? We've implemented `<amp-live-list>` support for liveblogs for The Verge. The user having to tap on the update button goes against their expectations.

![apple wwdc 2017 keynote live blog - the verge 2017-06-05 12-50-19](https://cloud.githubusercontent.com/assets/417/26793871/96068b26-49ed-11e7-9720-1c1178d43cba.png)

[2017-06-05 16:55] zhouyx commented on #9126
closed by #9542

[2017-06-05 16:55] #9126 closed

[2017-06-05 16:55] #9483 closed

[2017-06-05 16:56] zhouyx commented on #9484
#9506

[2017-06-05 16:57] cvializ commented on #9714
- amp-form test robustness
- autosuggest demo improvements
- catalog of amp actions and events, updated docs

[2017-06-05 17:00] #9705 closed

[2017-06-05 17:03] alanorozco commented on #9714
- PR for lightboxes on 3p A4A
- work for deprecation of old impl for window.context API
- [blurry placeholders design doc](https://docs.google.com/document/d/1NWlpOe-sZONPAvxYjyEApI1PTdBqEVPBEd2ikYJOvvA/edit#)

[2017-06-05 17:05] shawnbuso commented on #8841
@mounirlamouri @aghassemi Correct, changing the behavior of the fullscreen button would be most ideal. I currently have my own button that works as needed, and I was able to hide the fullscreen button from the native controls by removing 'allowfullscreen' from the parent iframe attributes. The thing I'm wrestling with now is syncing showing/hiding my fullscreen button with the native controls - it

[2017-06-05 17:06] rsimha-amp commented on #9714
- Reduced Travis PR build round trip from ~45 mins to ~15 mins #9626
- Experimented with using Docker containers instead of VMs on Travis #9651 (VMs are faster overall)
- Various build-cop-style fixes to keep master green #9645, #9654

[2017-06-05 17:08] alanorozco commented on #8755
This should be working now.

[2017-06-05 17:10] erwinmombay commented on #9709
@pachori01shubha couldnt you return `{ "showNotification": true }` from the endpoint or specifically do you mean when we store the value in local storage?

[2017-06-05 17:16] muxin commented on #9714
- Add tests to amp-app-banner covering various browsers and platforms
- Investigating amp-sidebar ios bug that disabling scroll doesn't work

[2017-06-05 17:17] choumx commented on #9714
- `amp-bind` in FIE
- Speed up and de-flake `amp-bind` integration tests
- Investigated possible render blocking issue
- New GFI

[2017-06-05 17:18] erwinmombay opened #9720 "integrate splittable or its concepts into our build system"
instead on n (number of binaries) runs, we can make it so that it only runs 1 where the runner has a full view of the world

[2017-06-05 17:22] cramforce commented on #9659
We certainly can't do b. We **might** be able to do it for a new version of `amp-iframe` (1.0), but I'm not convinced it is a good idea.

[2017-06-05 17:24] zhouyx opened #9722 "Support variable substitution for user agent"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- Some familiarity with JavaScript

### Background
[How AMP support variable sub

[2017-06-05 17:26] zhouyx commented on #9341
#9722

[2017-06-05 18:01] choumx opened #9723 "amp-bind: FIE integration tests"
Integration tests to ensure that state scopes are disparate -- FIE cannot modify parent page and vice versa. Currently only have a unit test.

/cc @rsimha-amp

[2017-06-05 18:29] shawnbuso commented on #8842
Taking a look at this one and I've got a quick question - do I have access to the amp-ima-video element in imaVideo.js? If I only have access to it in amp-ima-video.js, when is the earliest that I can send a message to the code in imaVideo.js to let it know what the potential sources are?

[2017-06-05 19:19] #8844 closed

[2017-06-05 19:29] jridgewell commented on #9659
For a), looks do a slightly smarter check. Instead of `[320, 520]`, assert that it's not fixed-position and full screen (some arbitrary percentage, like `> 90%` width and height).

[2017-06-05 19:30] jridgewell commented on #9714
- Finishing fixits
- yield test reviews
- Layers

[2017-06-05 19:48] jridgewell commented on #9711
This appears to have corrected itself.

[2017-06-05 19:48] #9711 closed

[2017-06-05 19:49] jridgewell commented on #9710
Closing as a duplicate of https://github.com/ampproject/amphtml/issues/9709.

[2017-06-05 19:49] #9710 closed

[2017-06-05 19:49] ericlindley-g commented on #4524
Hi Luigi — this feature is still being considered. I believe getting it implemented is mostly a question of prioritizing the change relative to the other work for the team. (cc/ @erwinmombay )

If anyone in the community is interested in implementing it — one basic guarantee we'd have to make is that content in the viewport won't be reshuffled when new updates come in.

[2017-06-05 19:50] jridgewell commented on #9709
I think he's asking for after the user has already accepted the terms. Right now, we never show the notification again.

[2017-06-05 20:04] powdercloud commented on #9371
This might be a way.
1) Load the AMP page. E.g. load this one, with development=1 so that the validator gets loaded:
https://www.ampproject.org/docs/tutorials/login_requiring#development=1
2) In the console, run this:
`var request = new XMLHttpRequest(); request.open('GET', location.href, false); request.send(null); var validationResult = amp.validator.validateString(request.responseText);`
valida

[2017-06-05 20:52] aghassemi commented on #9714
* amp-animation: polyfill partial keyframes from CSS #9689
* amp-animation: visibility API design iteration

[2017-06-05 21:08] #9670 closed

[2017-06-05 22:53] cramforce commented on #6174
Quick update.

So, we'll create `https://cdn.ampproject.org/caches.json` See #7259

It needs to be documented for the update-ping that clients should fetch that file to discover caches as a first step.

[2017-06-05 22:54] Gregable commented on #8141
@powdercloud I think this is complete. Feel free to repoen.

[2017-06-05 22:54] #8141 closed

[2017-06-05 22:58] Gregable commented on #8120
As this isn't currently prioritized work, I thought I'd mention a workaround that will probably serve your needs.

Run the regular AMP validator over your output, and build a small whitelist of errors that you see on correct test cases. Examples would include RTV cases. I suspect this list is reasonably small, though I don't think I could enumerate them off the top of my head. For example, no cach

[2017-06-05 23:13] torch2424 commented on #9256
I'd like to present a design for: [Amp Sidebar v1](https://docs.google.com/a/google.com/document/d/13FNIL3YtF1GFn9Sl5ZuxnP4iA-kO61WNgIC_S4-5Kmk/edit?usp=sharing)

[2017-06-05 23:14] torch2424 commented on #9255
If time allows, I'd like to present designs for [Amp sidebar v1](https://docs.google.com/a/google.com/document/d/13FNIL3YtF1GFn9Sl5ZuxnP4iA-kO61WNgIC_S4-5Kmk/edit?usp=sharing)

If not, this can be presented [in the next design review](https://github.com/ampproject/amphtml/issues/9256)

[2017-06-06 00:22] rajkumarsrk opened #9732 "Allowing whitelisted origins to have the data-amp-replace to work even if the URL is not secure"
## What's the issue?
Support for `data-amp-replace` for non secure URL's of links if they are whitelisted through `amp-link-variable-allowed-origin`

Currently the `data-amp-replace` doesnt replace the URL values like `CLIENT_ID, QUERY_PARAM` when the destination link is on http (non secure). Can we enable this if these links are whitelisted through `amp-link-variable-allowed-origin`

Example:
Pag

[2017-06-06 00:27] cramforce commented on #9732
Hmm, I like only providing powerful features to HTTPS pages :)

Why isn't the destination available on HTTPS?

[2017-06-06 00:33] rajkumarsrk commented on #9732
Some of our pages are yet to get migrated to `https` and it would take some more time and with this change we would like to see if the current session stitching solutions fixes the analytics gap that we have

[2017-06-06 00:45] cramforce commented on #9732
@rudygalfi This is probably OK.

[2017-06-06 03:10] kkruups opened #9734 "Codelab: Issue with Getting Started Section example file name"
## What's the issue?
AMP CodeLab, **_[first AMP Component_**](https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/index.html?index=..%2F..%2Findex#1),  needs revision.

Example url : http://localhost:8000/examples/amp-hello-world.amp.max.html

**html filename in above url is ` amp-hello-world.amp.max.html is no longer supported.**

When opening url indicated above the

[2017-06-06 07:11] saqibnaveed commented on #9722
Hello, I am a Jr. developer, I want to contribute to this issue.

Kindly guide me

[2017-06-06 11:31] shubha01 commented on #9709
actually i asking that how we generate user notification popup after every 5 to 6 hours

[2017-06-06 12:20] ui-xp commented on #9713
'First issuer' here, reporting for duty.

[2017-06-06 12:49] dwncy opened #9735 "amp-ad type custom didn't work with amp-sticky-ad"
## What's the issue?
[code]
this code show the image
but when I'm covering with `amp-sticky-ad` the image didn't show
[code]
## What browsers are affected?
I try using Chrome Version 55.0.2883.75 (64-bit)

## Which AMP version is affected?
1496670637476

[2017-06-06 13:00] dagar07 opened #9736 "Amp carousel issue"
AMP Carousel is not showing , when it served from google cache.

google caching url in mobile is :- https://www.google.co.in/amp/s/www.lybrate.com/amp/delhi/sexologist

And it's also not visible from cdn server:  https://www-lybrate-com.cdn.ampproject.org/v/s/www.lybrate.com/amp/delhi/sexologist?amp_js_v=0.1

while amp carousel visible on amp Cloudflare
 https://www-lybrate-com.amp.cloudflare.com/

[2017-06-06 15:10] bpaduch opened #9737 "Misleading validator error when stylesheet isn't in head"
Receive the error:

`The attribute 'rel' in tag 'link rel=' is set to the invalid value 'stylesheet'.`

When `<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">` is not in the `<head>`, for example, if in the `<body>`.

[code]

**Expected**: The error to state that `<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">` must be in `<head>`.

Reference

[2017-06-06 15:57] jaycribas commented on #9226
Hey there, first time contributor, I'd love to work on this today.

[2017-06-06 16:06] choumx opened #9738 "Enum for AMP events"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know

- Some familiarity with JavaScript.

### Background

The DOM has a [rich event

[2017-06-06 16:25] zhouyx commented on #9722
@saqibnaveed Great!

[2017-06-06 16:51] cramforce opened #9740 "Discover if (maybeBoolean) in linter"
I'm not sure this may be possible in eslint due to lack of type info, but maybe we can find a way to opt out of the lint where it it OK:

Rule

`if (maybeBoolean)`

should be a lint error if `maybeBoolean` is not actually always of `boolean` type (has value `false` or `true`), because if people really want to check whether it is null or an object they should write `if (maybeNull != null)` for much

[2017-06-06 17:28] erwinmombay commented on #9740
it's kind of possible, we can look up the variables raw type but this breaks down with any indirection (where we assign the value to another var declaration)

lmk if you think its still worth it

see:
![hey](https://user-images.githubusercontent.com/354746/26842787-d8795154-4aa2-11e7-88d4-adf9388dca93.png)

[2017-06-06 18:00] aghassemi commented on #9736
/to @honeybadgerdontcare Looking at the source ( view-source:https://www-lybrate-com.cdn.ampproject.org/v/s/www.lybrate.com/amp/delhi/sexologist?amp_js_v=0.1 ) all the `amp-carousel` instances are remove by cache for some reason.

[2017-06-06 18:01] jridgewell commented on #9734
@pbakaus?

[2017-06-06 18:05] rsimha-amp commented on #9640
One more piece of work needed before we eliminated the need for `gulp build` before `gulp dist`. Coming up in #9741

[2017-06-06 18:11] honeybadgerdontcare commented on #9736
@aghassemi They're actually not being removed by the cache. The cache had the old version before there was an amp-carousel on the site. I did an update-ping and the amp-carousel is there now.

@dagar07 The Google AMP Cache will serve the latest version it has and poll for newer copies (respecting host limits). To ask the AMP Cache to poll for a new version more quickly it's possible to use the [up

[2017-06-06 18:13] jridgewell commented on #9226
Awesome, go for it @jaycribas!

[2017-06-06 18:35] jridgewell commented on #9740
I think this is [dubious](https://jsperf.com/if-falsey-vs-nullish).

[2017-06-06 18:36] #5844 closed

[2017-06-06 18:40] DanielDocekal commented on #9711
No, i am sorry to say, it did not corrected itself. It still eats links in amp which are ok in normal page. Look at end of that paragraf.  Still needs to be fixed

![2017-06-06 20_38_34-slusni lide na facebooku analyzovani josefem slerkou _ rychlofky](https://user-images.githubusercontent.com/29236775/26845876-3505aca6-4af8-11e7-9d25-abbfc528b205.png)

First link (at beginning of paragraph) will b

[2017-06-06 18:45] zhouyx commented on #9735
I can reproduce this. Not only in `amp-sticky-ad`, but in `amp-carousel` as well. It's a bug that parent element only schedule layout for direct child element. In this special case `amp-img` is never laid out. We need to fix this before launching `ad-type-custom`.

[2017-06-06 18:51] jridgewell commented on #9711
Moved to https://github.com/Automattic/amp-wp/issues/707. This is a WordPress output issue, not AMP's.

[2017-06-06 18:53] pbakaus commented on #9734
over to @erwinmombay, as he created the codelab.

[2017-06-06 19:00] cramforce commented on #9740
I think I was misunderstood. I only want to transform `if (object)` to `if (object != null)`. Nothing else.

[2017-06-06 19:02] jridgewell commented on #9740
Those are the last 4 cases in the jsperf.

[2017-06-06 19:18] jaygray0919 commented on #9091
Thanks for the plan @Gregable and @honeybadgerdontcare . We'll defer to you on the update. We'll share back RDFa examples after the plan is implemented. If there are nay further issues, we can discuss how to resolve those specific issues. @SchnWalter also will probably be on the look-out.

[2017-06-06 19:30] aghassemi commented on #9736
@honeybadgerdontcare Got it. Thanks!

[2017-06-06 19:47] jaygray0919 commented on #9091
FYI - the use case here is to define items that cannot be defined easily using schema.org and JSON-LD. Example items are foods, drugs and human bioactivity (genes, proteins, enzymes, adverse events). We need to use domain-specific ontologies to define our target items. @Gregable previously was helpful by allowing JSON-LD in `<body>`. With RDFa support we can complement the JSON-LD with expressive

[2017-06-06 19:49] rudygalfi commented on #9732
I will ask privacy reviewers to get their take and respond back here.

[2017-06-06 19:56] aghassemi commented on #8842
@shawnbuso adding/changing `<source>` later __could__ be problematic ( see comment https://github.com/ampproject/amphtml/issues/9085#issuecomment-298497385 ) so I recommend against doing it with a `postMessage`.

We could scan the sources in `amp-ima-video`'s `buildCallback` and serialize and put them as an attribute on the element, then when you create the 3P iframe, it would have access to that

[2017-06-06 20:07] cramforce commented on #9740
The relevant test would use `{}` instead of `true`. Unfortunately test editing is broken for me right now.

[2017-06-06 20:08] cramforce commented on #9740
The slowdown (if any) comes from having to call `valueOf()` method on the object to find out whether it is falsy.

[2017-06-06 20:13] erwinmombay commented on #9740
also maybe writing a custom conformance rule would be better for this task

[2017-06-06 20:15] johnnyshankman commented on #9371
@powdercloud that works great with one minor addition.
[code]

You are right that it is inefficient but this gets the job done for now, assuming the underlying implementation of the validator doesn't change suddenly. If it does, my tests will start failing and I'll have to refactor or remove the step.

[2017-06-06 20:19] jridgewell commented on #9740
jsperf's gone downhill. Here's an [updated one](https://jsperf.com/if-falsey-vs-nullish-2).

[2017-06-06 20:24] cramforce commented on #9694
My thoughts: We need to define semantics. Because the opt-out will be global and not per scope (while it is currently possible to have multiple notifications and accept scope.

Opt out should

- Store opt-out bit in Storage API
- Notify viewer about opt-out if present
- Optionally call opt-out endpoint on pub side.

Question: What should CID Service do? Suggestion: We reject the user notification

[2017-06-06 20:27] cramforce commented on #9740
Cool. Lets close this until @bmeurer convinces me otherwise :)

[2017-06-06 20:27] #9740 closed

[2017-06-06 20:38] #9697 closed

[2017-06-06 20:51] jridgewell commented on #9501
Fixed by https://github.com/ampproject/amphtml/pull/9574.

[2017-06-06 20:51] #9501 closed

[2017-06-06 21:03] camelburrito opened #9748 "[canary error]The object does not support the operation or argument."
[code]

[2017-06-06 21:04] camelburrito commented on #9748
postMessage@[native code] sendMessage@user-script:1:13:56 W@user-script:1:13:316 v@user-script:1:13:1141 [native code] Xj@https://cdn.ampproject.org/rtv/001496360274808/v0.js:400:59 sendMessage@https://cdn.ampproject.org/rtv/001496360274808/v0.js:398:489 https://cdn.ampproject.org/rtv/001496360274808/v0.js:337:98 kj@https://cdn.ampproject.org/rtv/001496360274808/v0.js:363:229 Uf@https://cdn.amppro

[2017-06-06 21:16] abc516 commented on #9738
Hi @choumx , I would like to claim this issue.

[2017-06-06 21:18] camelburrito opened #9749 "Battery API throws: Not a top-level browsing context."
`http_user_agent: "Mozilla/5.0 (Linux; Android 4.4.2; KYY24 Build/108.1.2110) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3118.0 Mobile Safari/537.36" `

[2017-06-06 21:18] camelburrito commented on #9748
http_user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) GSA/27.0.155813979 Mobile/14F89 Safari/602.1"

[2017-06-06 21:20] Gregable commented on #9737
The validator is confused, since we do allow `<link>` tags in the `<body>`, but they must have a different `rel` value. For example `<link rel=foo href="https://fonts.googleapis.com/css?family=Lato"> is perfectly valid in the body, which is what the error is trying to tell you.

This is something we'd like to eventually improve however.

[2017-06-06 21:23] jaycribas commented on #9226
Hello @muxin - submitted a pull request for ya!

[2017-06-06 21:25] camelburrito opened #9751 "[canary error] Error: [object Object]"
[code]

[2017-06-06 21:25] Gregable commented on #4555
I think we are moving forward with https://github.com/ampproject/amphtml/issues/9625

Does this address the primary concerns?

[2017-06-06 21:35] avimehta commented on #7983
hi @1987yama3 GA anonymizes ip addresses event if you send `&aip=&`. The only way to not anonymize the ip addresses is to not specify the parameter. This is the reason the pull request was designed this way.

[2017-06-06 21:42] camelburrito opened #9752 "[canary Error] RangeError: Maximum call stack size exceeded"
[code]

[2017-06-06 21:55] #9226 closed

[2017-06-06 21:57] Gregable commented on #7350
Closing, this change is live everywhere.

[2017-06-06 21:57] #7350 closed

[2017-06-06 22:06] jridgewell commented on #9752
Pantheon id?

[2017-06-06 22:06] jridgewell commented on #9751
Pantheon Id?

[2017-06-06 22:08] jridgewell commented on #9749
Stack trace? Pantheon id?

[2017-06-06 22:10] erwinmombay commented on #5293
this is done.

[2017-06-06 22:10] #5293 closed

[2017-06-06 22:11] jridgewell commented on #9748
Pantheon id? What's the referrer?

[2017-06-06 22:19] cvializ commented on #9748
I've seen "HTTP Status 0" caused by the browser canceling in-flight XHRs when the user navigates away from a page. Do you think that could be part of what we're seeing here?

[2017-06-06 22:23] jridgewell commented on #9748
Tracked internally at b/37641406.

[2017-06-06 22:25] camelburrito commented on #9748
@jridgewell - i think this is new.

@cvializ - i only found the status 0 one log

[2017-06-06 22:40] #8673 closed

[2017-06-06 22:40] jridgewell commented on #9749
Likely a Payment API bug. https://www.google.com/search?q=site%3Achromium.googlesource.com+"top-level+browsing+context"

/to @alanorozco and @aghassemi

[2017-06-06 22:42] jridgewell commented on #9749
p/8825548812496955127, all errors coming from Chrome 61.

[2017-06-06 22:51] jridgewell commented on #9748
It's an issue with recycling webviews in iOS apps. Fixed in iGSA.

[2017-06-06 22:51] #9748 closed

[2017-06-06 22:53] jridgewell commented on #9752
Another nessy sighting.
- https://github.com/ampproject/amphtml/issues/3795
- https://github.com/ampproject/amphtml/issues/3519

[2017-06-06 22:53] #9752 closed

[2017-06-06 23:00] #9640 closed

[2017-06-06 23:40] aghassemi commented on #9137
@camelburrito re-opening the issue

[2017-06-06 23:52] choumx commented on #8331
Keystore config: `cl/158202165`

[2017-06-07 00:08] powdercloud commented on #9371
amp.validator.validateString(inputText) isn't going to change, and neither is the status field of the return value; if we make changes they'll be backwards compatible by necessity because the runtime, the npm library, the chrome extension, etc. depends on this. I also don't see why the behavior of loading this for #development=1 would change.
@johnnyshankman It looks like we're both happy so I'll

[2017-06-07 00:08] #9371 closed

[2017-06-07 01:22] rsimha-amp opened #9757 "test/integration/test-visibility-states.js flaky on master"
The integration test `test/integration/test-visibility-states.js` relies on uncompiled JS. However, after recent build optimizations, `gulp dist` only generates minified JS.

Figure out if `test-visibility-states.js` can be made to run with just `gulp dist`, and if not, figure out a minimal addition to `gulp dist` to create compiled and minified versions of those specific files the test needs.

[2017-06-07 02:53] camelburrito opened #9759 "amp-bind: <amp-form> integration test broken on Edge & Safari 9"
Here is the travis build
https://travis-ci.org/ampproject/amphtml/jobs/240195458

[code]

[2017-06-07 02:59] camelburrito commented on #9759
@choumx @cvializ - These tests are blocking the canary , please take a look and skip them if you think its ok to skip or submit fixes/revert them. I would like to make the master green and cut the canary

[2017-06-07 03:51] bmeurer commented on #9740
I'd argue that you should use `o === null` to check whether something is `null`, because `o == null` also yields true if `o` is `undefined` or `document.all` (thank you Internet Explorer!). If you want to check for `null` or `undefined`, write `o === null || o === undefined`. The performance difference can be noticeable compared to using *ToBoolean* (up to 15% faster on average for simple examples

[2017-06-07 04:07] ui-xp commented on #9713
Pushed [here](https://github.com/ampproject/amphtml/pull/9760)

[2017-06-07 05:25] dagar07 commented on #9736
@aghassemi thanks. But why it's only visible first time after update-ping not second time??

[2017-06-07 08:39] SchnWalter commented on #9091
I'll have some time for this task next week, if nobody gets to work on this until then.

[2017-06-07 10:25] rowangray opened #9761 "Amp shadow - ShadowDOM v1 slots not supported"
ShadowDom V1 slots are not supported by firefox or safari < 10. And don't seem to be working with the polyfills that come with AmpShadow

I would usually polyfill these, but it seems that the shadyDom and ShadowDom polyfill are incompatible with AmpShadow.

[2017-06-07 14:30] cramforce commented on #9740
This just reminds me that we need to do some investigations with respect to deopts in AMP's startup sequence.

[2017-06-07 15:33] erwinmombay commented on #9695
ill take this. i have something working with webpack + babel6 but the build is slower than the current setup

[2017-06-07 15:54] cramforce commented on #9749
Stack trace shows this comes from the PerformanceObserver code. I pinged @lannka this a few days ago. We should def fix before pushing this canary to prod.

[2017-06-07 15:55] rsimha-amp opened #9764 "`gulp test` doesn't properly handle karma failures"
When a karma (integration) test fails, `gulp test` returns a format error because it expects an `Error` object, while karma returns an exit code.

We must call `done()` after converting the exit code to an `Error`.

For example, see https://travis-ci.org/ampproject/amphtml/jobs/240195458

    at Gulp.<anonymous> (/home/travis/build/ampproject/amphtml/node_modules/gulp/bin/gulp.js:195:15)
    at em

[2017-06-07 16:11] aghassemi commented on #9736
@honeybadgerdontcare Not sure what's happening. `update-ping` refreshes it for like a minute and then it goes back to the old version without carousel. thoughts?

[2017-06-07 16:17] #9764 closed

[2017-06-07 16:40] honeybadgerdontcare commented on #9736
Hmmm, it did disappear again but with an update-ping it is back again.

@dagar07 Are you sure there isn't an instance of your site that may be serving an older version without the amp-carousel?

I've filed an internal issue for this b/62410881 to have a look on Google's end as well.

[2017-06-07 17:10] edhollinghurst opened #9768 "amp-list strips out <form> elements"
I'm trying to create an amp-list where each item contains a form.

Unfortunately the form is getting stripped out.

Example:
https://edhollinghurst.com/amp-list/amp-list.html

[2017-06-07 17:20] choumx commented on #9759
- This only affects Edge and Safari 9, but is fine on Chrome, Firefox and Safari 10.
- Not caused by a race with `AmpFormService` registration.
- The Travis logs don't show anything useful.

Reducing priority since master is green now.

[2017-06-07 17:45] rsimha-amp opened #9772 "Don't run unit tests for changes involving just integration tests"
Today, if you are making a quick change to disable a flaky integration test, the PR sits on a Travis queue for about 20 minutes in order to run unit tests (that don't really exercise the change) before allowing you to merge.

For PRs that contain *only* integration test changes, we should still do a proper build and run presubmit and other tests, but we should skip unit tests. This will save a con

[2017-06-07 18:01] Gregable commented on #9091
Awesome. I noticed the `prefix` attribute was already present, so this is even easier than I initially thought. I've updated the required changes above.

If you don't find time, let me know and I'll knock it out.

[2017-06-07 18:02] #9772 closed

[2017-06-07 18:52] rsimha-amp opened #9778 "Update pr-check.js with a mechanism to detect outdated branches"
Often times, a PR will fail on Travis because a branch is out of date. This will manifest as an error related to the mixing of flag-config and non-flag-config files in a PR, while in reality, this is simply due to a stale branch that has a huge list of diffs from master.

It would be useful to add a detection mechanism to pr-check.js, with clear instructions on how to sync and push the branch.

Fo

[2017-06-07 18:53] jridgewell commented on #9757
I'll need to revert https://github.com/ampproject/amphtml/pull/9758 after fixing.

[2017-06-07 19:40] rudygalfi commented on #4020
cc @alanorozco

[2017-06-07 19:46] adelinamart commented on #1443
@cvializ This is a P1 that was not updated in a while. Can you provide a status here. Thank you.

[2017-06-07 19:46] adelinamart commented on #3434
@jridgewell This is a P1 that was not updated in a while. Can you provide a status here. Thank you.

[2017-06-07 19:47] adelinamart commented on #5487
This is a P1 that was not updated in a while. Can you provide a status here. Thank you.

[2017-06-07 19:48] rsimha-amp commented on #9772
Verified. See https://travis-ci.org/ampproject/amphtml/jobs/240510675. Travis runs for PRs containing just integration test changes are now reduced by half, to about 9 mins.

[2017-06-07 19:48] adelinamart commented on #5580
Any updates here? Thank you.

[2017-06-07 19:49] jridgewell commented on #3434
I'm actively working on the Layers class APIs.

[2017-06-07 19:55] aghassemi commented on #1443
This is already shipped under an experiment flag, closing. (experiment will be launched when we are comfortable with the perf/FPS of this by aligning it with #8411 work)

[2017-06-07 19:57] aghassemi commented on #5487
PR is the works: https://github.com/ampproject/amphtml/pull/8822 lack of proper support in mobile screen readers is adding complications.

[2017-06-07 20:14] kul3r4 commented on #9700
@aghassemi I couldn't find the code for this change to have a better idea what this is about, could you point me to the doc/commit?

[2017-06-07 20:35] adelinamart commented on #9397
@jridgewell any updates on the comment above? Thanks.

[2017-06-07 20:35] adelinamart commented on #6066
@chenshay any updates here? Thanks

[2017-06-07 20:36] adelinamart commented on #6199
@choumx any updates here? Thanks.

[2017-06-07 20:37] adelinamart commented on #6625
@aghassemi referenced issues are closed. Anything else to do here? Thanks

[2017-06-07 20:38] cramforce commented on #9276
Feedback from security was positive.

LGTM for the I2I from my side.

[2017-06-07 20:39] adelinamart commented on #6985
@erwinmombay any updates here? Thanks.

[2017-06-07 20:39] adelinamart commented on #7613
@erwinmombay any updates here? Thanks.

[2017-06-07 20:39] adelinamart commented on #7692
@erwinmombay any updates here? Thanks.

[2017-06-07 20:39] adelinamart commented on #7804
@camelburrito any updates here? Thanks.

[2017-06-07 20:40] adelinamart commented on #7929
@aghassemi any updates here? Thanks.

[2017-06-07 20:40] adelinamart commented on #8028
@Gregable any updates here? Thanks.

[2017-06-07 20:41] adelinamart commented on #8507
@alanorozco any updates here? Thanks.

[2017-06-07 20:41] adelinamart commented on #8727
@newmuis any updates here? Thanks.

[2017-06-07 20:41] adelinamart commented on #8730
@dvoytenko any updates here? Thanks.

[2017-06-07 20:41] adelinamart commented on #8836
@aghassemi any updates here? Thanks.

[2017-06-07 20:42] adelinamart commented on #8843
@aghassemi any updates here? Thanks.

[2017-06-07 20:42] adelinamart commented on #8849
@erwinmombay @rsimha-amp any updates here? Thanks.

[2017-06-07 20:43] adelinamart commented on #8906
@erwinmombay is this still a P1?

[2017-06-07 20:43] aghassemi commented on #6625
All the pieces are complete. Just needs a sample on AmpByExample, tracked under #9698
@Rahul007shah there is already a sample for this under https://github.com/ampproject/amphtml/blob/master/examples/autosuggest.amp.html which can get you going with the implementation. A more comprehensive sample coming soon with #9698

[2017-06-07 20:43] #6625 closed

[2017-06-07 20:43] adelinamart commented on #8995
@chenshay any updates here? Thanks.

[2017-06-07 20:43] adelinamart commented on #9017
@erwinmombay any updates here? Thanks.

[2017-06-07 20:44] adelinamart commented on #9142
@shawnbuso any updates here? Thanks.

[2017-06-07 20:44] adelinamart commented on #9231
@zhouyx any updates here? Thanks.

[2017-06-07 20:44] adelinamart commented on #9235
@camelburrito any updates here? Thanks.

[2017-06-07 20:45] adelinamart commented on #9283
@dvoytenko @zhouyx any updates here? Thanks.

[2017-06-07 20:45] adelinamart commented on #9379
@aghassemi any updates here? Thanks.

[2017-06-07 20:49] aghassemi commented on #9700
@kul3r4 this is essentially for use-cases such as ZIP code validation. Docs are  here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md#verification-experimental

But the API is likely to change with #9696.

Is there an existing template on ABE that can benefit from adding server-side validation (other than the amp-form component page: https://ampbyexample.com/comp

[2017-06-07 20:53] aghassemi commented on #8843
@adelinamart all of `amp-ima-video` P1s are P1 relative to the other `amp-ima-video` tasks but not globally a P1. Wasn't really sure what the best way is to track priority of items within a bucket which itself has a different (lower) priority. Any ideas?

[2017-06-07 20:53] aghassemi commented on #7929
not really a p1

[2017-06-07 21:00] jridgewell commented on #9397
This has to wait for Layers to fix.

[2017-06-07 21:01] #9751 closed

[2017-06-07 21:08] powdercloud commented on #7325
@dknecht Sorry this took so long. Today, I was able to reproduce what you're reporting here, as in, in cdn.ammproject.org, the first link you provided produced an error page with validation errors. Upon checking out the debug link there, however, the validator.ampproject.org would verify this with PASS.
Getting a bit confused I thought it's the validator.ampproject.org's fault, that it fails to se

[2017-06-07 21:08] #7325 closed

[2017-06-07 21:14] jridgewell commented on #8849
@Raphaeljunior: This could be something we implement.

[2017-06-07 21:26] ericlindley-g opened #9785 "[MASTER FEATURE] Dedicated autocomplete component"
Dedicated component for an autocomplete field using AMP.

Tracking bug — making this available first as a feature that can be composed using existing AMP functionality (https://github.com/ampproject/amphtml/issues/6625), but we're considering making this possible.

[2017-06-07 21:47] Gregable commented on #8028
nope

[2017-06-07 21:53] abc516 commented on #9738
Hi @choumx . I made the changes as specified in the Pull Request. However, the changes I've made are making the Travis-CI build fail.

It seems adding the src/amp-events.js file as a dependency to various files in the 3p/ and extensions/ folders is violating dependency injection rules. Is it ok if I whitelist these files in build-system/dep-check-config.js?

[2017-06-07 21:54] Raphaeljunior commented on #8849
@jridgewell Sure.

[2017-06-07 21:55] camelburrito commented on #9255
## Blurry

- Amp loading indicators are ugly
- Use low res bitmaps encoded as a part of markup
- Better than the 3 dots indicator
- Less jarring
- Perceived performance is better
- Using arbitrary res for placeholders
- Authors need to do downsampling
  - This could be a deterrent
  - May be we could use server-side rendering for this?
- Upsampling
  - Draw pixels on canvas
  - Server-side can bas

[2017-06-07 22:06] camelburrito opened #9786 "<amp-bind> Flaky integration test"
Safari 9.1.2 (Mac OS X 10.11.6) amp-bind with <amp-video> "before each" hook for "should change alt when the alt attribute binding changes" FAILED

https://travis-ci.org/ampproject/amphtml/jobs/240544338

[2017-06-07 22:08] adelinamart commented on #8843
@aghassemi if some of the tasks are P1s we should to provide updates for those if they are not tracked in a different issues. Thanks.

[2017-06-07 22:26] choumx commented on #6199
Yes! Closing since this is launching in next release.

[2017-06-07 22:26] #6199 closed

[2017-06-07 22:35] krcrawford opened #9787 "AMP-AD: doubleclick: Ads not loading ONLY on iOS (small platforms)"
## What's the issue?

Safari only. iOS platforms, are not displaying doubleclick amp-ads, but the same ads are displaying on other browsers.

My source code is as follows:
[code]

## How do we reproduce the issue?

Try the desktop Safari in responsive design mode, and load any `300x50` or `320x50` doubleclick amp-ad

1. Using either Desktop Safari in responsive design mode or an iPhone of the vers

[2017-06-07 23:20] zhouyx commented on #9231
blocked until we are comfortable with the implementation.

[2017-06-07 23:23] zhouyx commented on #9283
Unfortunately I'll have to exclude `<amp-sticky-ad-top-padding>` as well. It is documented, renaming it will bring a breaking change.
I can however add a presubmit check to prevent future non AMP element with tagName 'amp-*'. How does that sound? Or any other ideas?

[2017-06-07 23:31] choumx commented on #9786
Reducing priority since it's not blocking release. Fix coming up soon.

[2017-06-07 23:35] krcrawford commented on #9787
Essentially, it seems that some URLS are getting malformed in the doubleclick API regarding iOS user agents?

[2017-06-07 23:56] #9778 closed

[2017-06-08 01:04] #9786 closed

[2017-06-08 01:14] 1987yama3 commented on #7983
Hi @avimehta

Thanks for your reply.
I knew it for the first time. It is not a parameter to set with true/false.

Thanks.

https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters?hl=en#aip

[2017-06-08 02:05] keithwrightbos commented on #9787
Testing locally emulating iphone on safari, it appears that the ad request is sent without issue but does not fill.  Perhaps the slot is not configured correctly in DFP?  Are you sure you have an inventory unit matching /1004147/LTK_Beauty_Style_Makeup_Top?

[2017-06-08 02:15] krcrawford commented on #9787
We definitely have the inventory unit. Try to hit the same URL on chrome or some ither browser...it works just fine.
Try also the same URL without the `.amp` extension in the path, and the ad loads just fine.
We've had this site for years, and we have a dedicated specialist who does nothing but ad network massaging.
That being said, do you agree that the console errors provided above have malforme

[2017-06-08 04:41] dagar07 commented on #9736
@honeybadgerdontcare No, first of all I were trying to find issue on my side. But when i don't understand what is wrong then i raised issue for carousel. And it is showing my amp page url, but not on google cache url.

[2017-06-08 05:46] honeybadgerdontcare commented on #9736
@dagar07 Thank you for confirming that your site may not be serving older versions in some instances. We are looking into it.

[2017-06-08 06:01] jpettitt commented on #4020
You can do it on AMP with CSS.   We're doing it conditionally if we have CSS budget to hold the images.  It adds about 400 bytes of CSS per image.  We only do it on images greater than 50x50 pixels.

Turn off caching and throttle to 4g for the full effect.

http://amp.toofab.com/2017/06/07/the-only-5-buzzworthy-moments-from-the-2017-cmt-music-awards-video

[2017-06-08 08:01] dagar07 commented on #9736
@honeybadgerdontcare  thanks

[2017-06-08 08:45] jarek-picanova opened #9791 "FR: File upload"
An option that user is able to upload a file.
Currently amp-form doesn't allow `<input type=file>`, neither `<input type=image>`.
perfect would be do define parameters like: size limit, allowed formats, etc.

[2017-06-08 09:13] andreban opened #9792 "Make dependencies included from amp-shadow pre-cacheable"
When AMP pages are added from amp-shadow, it transforms the URL of the AMP scripts into a versioned form.

On example is https://cdn.ampproject.org/v0/amp-ad-0.1.js becomes https://cdn.ampproject.org/rtv/011496360274808/v0/amp-ad-0.1.js

A publisher using AMP Shadow may desire to pre-cache the AMP Runtime when their service worker is installed (and serve using the fastest strategy on further navig

[2017-06-08 13:38] imparvez commented on #9113
Hi @aghassemi, I tried using the prototype and implemented it on two product workflow and to some extent, I can see the positive results.

The implementation can be found in the provided URL: https://github.com/imparvez/amp-filter-implementation

1. File with a name `index.html` consist of an e-commerce website displaying a list of shoes.
There I tried using category(Sports and Casual Shoes) and d

[2017-06-08 14:10] krcrawford commented on #9787
Addendum:
URLS that end with the amp_preconnect_polyfill seem to be reserved for AMP resources. Here are two intermittent examples I received 200 for:
https://d-2633554710493860842.ampproject.net/amp_preconnect_polyfill_404_or_other_error_expected._Do_not_worry_about_it?1496929500000
https://3p.ampproject.net/amp_preconnect_polyfill_404_or_other_error_expected._Do_not_worry_about_it?1496929500000

[2017-06-08 14:26] shawnbuso opened #9793 "amp-ima-video: enable preloading"
Use the [IMA SDK preloading APIs](https://developers.google.com/interactive-media-ads/docs/sdks/html5/v3/apis#ima.AdsRenderingSettings.enablePreloading) to preload video ads.

I thought I could do the following after opening this but apparently I can't :/ Can someone

1. Label as FR.
2. Add category A/V.
3. Assign to me.
4. Add to IMA Launch project.
5. Mark as P1.

Thanks!

[2017-06-08 14:35] shawnbuso commented on #9142
I haven't started work on this yet - I plan on starting this after I get #8841 resolved because that will greatly simplify the code base.

[2017-06-08 14:38] shawnbuso commented on #8836
This is next on my list after #8842 since it shares a lot of similarities. Once that's reviewed I'll know best practices for handling these child elements and I can apply the same things here.

[2017-06-08 14:42] cramforce commented on #9787
The preload is a red-herring here and entirely unrelated. That is why the
URL says: 404_or_other_error_expected._Do_not_worry_about_it

Ads not rendering / filling must have a different reason.

On Thu, Jun 8, 2017 at 7:10 AM, Kyle Crawford <notifications@github.com>
wrote:

[2017-06-08 15:12] rsimha-amp commented on #9757
Still red on master: https://travis-ci.org/ampproject/amphtml/jobs/240618920

[2017-06-08 15:19] krcrawford commented on #9787
Interesting. Not directly pointing at it, just considering possible culprits. One thing thats certainly consistent is the relationship between 404s for preconnect URLS and ad not loading. Not assigning fault specifically, just noting the behavior.

Essentially, I wouldn't worry about it if it didn't show up each and every time the ad did not load.

Anyway, must be OS|browser related as the ads loa

[2017-06-08 15:50] cramforce commented on #9787
This preconnect polyfill only happens in WebKit, because other browsers
support it natively.

On Thu, Jun 8, 2017 at 8:19 AM, Kyle Crawford <notifications@github.com>
wrote:

[2017-06-08 16:03] aghassemi commented on #1443
reopening to track until experiment flag is removed and feature is fully launched.

[2017-06-08 16:19] aghassemi commented on #8843
@shawnbuso @adelinamart I updated `amp-ima-video` bucket of issues: p1->p2 and p2->p3

[2017-06-08 16:45] aghassemi commented on #9768
@edhollinghurst Currently they are not whitelisted to be used by `amp-mustache` templates.

@cvializ disallowing form elements in templates probably predates forms support. We should look into enabling them. Important part is ensuring same validation rules are applied on the client side when they are removed from the blacklist in `sanitizer.js`.

/cc @ericlindley-g

[2017-06-08 16:46] wassgha commented on #9379
Same for Dailymotion

[2017-06-08 16:46] aghassemi commented on #9791
/to @cvializ
/cc @ericlindley-g

[2017-06-08 16:49] aghassemi commented on #9793
done and added to [IMA Launch project](https://github.com/ampproject/amphtml/projects/24). (Note: I am using only P2 and P3 for IMA tasks now to keep P1 reserved for anything we should ship in < 2 weeks in AMP)

[2017-06-08 17:03] Gregable commented on #5607
Right now, if a form action is `GET`, then validation requires:

- target attribute with value of _blank or _top
- action attribute

Right now, if a form action is `POST`, then validation requires:

- target attribute with value of _blank or _top
- action-xhr attribute

I'm confused as to what, if anything, this still requires. It looks like the thread is requesting that for `GET` forms, `action`

[2017-06-08 17:06] zhouyx commented on #9749
Related to betteryAPI in Chrome 61. Can only repro in Chrome 61.

[2017-06-08 17:27] ericlindley-g commented on #9791
@aghassemi, @rudygalfi  — do you know what kept us from doing this in the past?

[2017-06-08 18:00] aghassemi opened #9797 "amp-video: if no `src` it should preconnect to first `source` that satisfies `canPlay` and `media` not just first `source`"
**Before doing this**, we need to be sure `canPlay` and checking `media` is not an expensive call!

Currently `amp-video` preconnects to the first `source` if `src` is no present. That does not handle all cases, it should preconnect to first one that satisfies `canPlay` and `media`.

[2017-06-08 18:15] jridgewell commented on #9757
Damn, my fault. I missed the private `#setVisibilityState_` when reviewing it.

[2017-06-08 19:52] bradfrizzell opened #9800 "Add support for validator rule for RTC config in head"
As part of adding support for RTC, publishers will be asked to include a config in their head, formatted like the following example. We need validator support added for this.

[code]

- Keys of the object must be the name of an ad network that supports AMP RTC.
- The value of ‘url’ must be a valid url.
- ‘sendAdRequestOnFailure’ is an optional member of the inner objects.
- The id of the script mu

[2017-06-08 20:02] #9628 closed

[2017-06-08 20:08] rsimha-amp commented on #9628
@honeybadgerdontcare, note that the fix only checks for the base name of the file being added in the PR, and not the entire `github.com/ampproject/amphtml/blob/master` URL. This is to account for the case where an existing file `foo.md` adds a link to a file `bar.md` in the same directory, which is added by the same PR.

This may allow corner cases to slip through when they should fail (like addin

[2017-06-08 20:09] rsimha-amp commented on #9628
FYI @mrjoro, who frequently changes our documentation :)

[2017-06-08 20:42] torch2424 opened #9803 "Clean up amp-sidebar v1 experiment after launch"

[2017-06-08 22:04] Gregable commented on #9800
If it's OK with you, we'll leave validation of the json contents up to the javascript library, rather than making it a requirement for the document to be valid AMP, thus we'll validate:

 - [ ] script element, in the head
 - [ ] type="application/json"
 - [ ] id="amp-rtc"

[2017-06-08 22:04] jridgewell commented on #9800
Why does it need an id?

[2017-06-08 22:05] #9341 closed

[2017-06-08 22:08] jasti opened #9809 "A/B experimentation framework when page is delivered from an AMP cache"
This feature is especially useful for advertisers who want to test the efficacy of their AMP pages delivered via a cache vs non-AMP landing pages delivered via the advertiser's server.

One possible option is to create an A/B framework that diverts 'B' traffic via a redirect from the cache to the advertiser's server.  A downside with this approach is the additional latency caused by the redirect.

[2017-06-08 22:17] Gregable commented on #9800
@bradfrizzell , I don't know the RTC reason.

For validation, it helps distinguish this from other script tags, for producing good errors. For example, if the user left off `type=application/json` by accident but included the id, we can produce an error that directs the user to correcting the type. Without the id, we'd just need to give a generic "javascript is not allowed" type error.

[2017-06-08 22:24] aghassemi opened #9810 "Expose global cid opt-out mechanism in amp-user-notification"
`optoutOfCid` will be exposed as an `action` on `amp-user-notification` component, when triggered:
- Dismisses the user notification
- Sets a bit that user has opted out of cid for that domain
- Any future/currently-pending requests for cid will be rejected after the flag is set

/cc @rudygalfi @lannka @cramforce

[2017-06-09 00:16] jridgewell opened #9813 "CSS Keyframe test flake"
[code]

[2017-06-09 00:19] jridgewell opened #9814 "Amp Context Test Error"
[code]

[2017-06-09 01:16] lapolinar opened #9818 "how to contribure"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-06-09 01:17] #9818 closed

[2017-06-09 01:18] lapolinar commented on #9818
http://stackoverflow.com/questions/tagged/amp-html

[2017-06-09 01:18] lapolinar commented on #9818
https://goo.gl/utQ1KZ

[2017-06-09 02:08] #9813 closed

[2017-06-09 04:14] cramforce commented on #9809
This should at least explain why `amp-experiment` is not good enough. I don't see we'll do redirects.

[2017-06-09 11:22] lexandera commented on #9262
Is ALP supposed to be supported in A4A? And does it still require alp.js to be included, or is it supposed to just work automatically? I couldn't find any documentation related to this, and validation fails for A4A documents containing a script tag that loads alp.js.

[2017-06-09 13:57] cramforce commented on #7259
Lets reopen this, since the whole point of the new file is, of course, for it to have more than one entry.
Assigning to @oliy
CC @dknecht

[2017-06-09 13:59] cramforce commented on #9262
There is some churn on the spec lately. `document` as a preload value is currently not supported. The right way today is to use both no value and the value `fetch`.

[2017-06-09 14:29] jasti commented on #9809
@cramforce `amp-experiment` helps A/B test two versions of an AMP page, but it doesn't allow testing an AMP page vs a non-AMP page, right?

Some advertisers wouldn't want to switch over to AMP without knowing that it performs better than their current non-AMP page.

[2017-06-09 15:46] #8842 closed

[2017-06-09 15:47] #9814 closed

[2017-06-09 15:51] cramforce commented on #9809
@jasti should be tested using an experiment system on the referral side.

[2017-06-09 16:09] jasti commented on #9809
Thanks.

[2017-06-09 16:09] #9809 closed

[2017-06-09 16:47] cramforce commented on #7259
This now serves https://cdn.ampproject.org/caches.json

[2017-06-09 17:19] bradfrizzell commented on #9800
The ID, from our end, was so we can grab it with getElementById. Is there something else I should do instead? Is there an issue with requiring an ID?

[2017-06-09 17:29] Gregable commented on #9800
This is the exact same thing we do for `amp-access`, I think `id` is fine.

[2017-06-09 17:44] #9642 closed

[2017-06-09 18:03] lannka commented on #9714
- Introduced `yield` in test.
- Fully launched GA cookie migration.
- Do performance monitoring with examiner.js while `#development=2`
- Write cookie for ad CID.

[2017-06-09 19:34] camelburrito opened #9829 "Flaky <amp-video> Integration tests"
[code]
https://travis-ci.org/ampproject/amphtml/jobs/241302754

Fix these or skip them to avoid flakes and drop the priority.

[2017-06-09 21:07] zhouyx commented on #9484
@rudygalfi @lannka please take a quick look at the design. I'll work on it once everyone thinks it looks good.
Once the implementation is done we should document it somewhere for extensions developers to use amp analytics.

[2017-06-09 21:15] choumx commented on #9829
Looks like this was a rare flake (haven't seen this in the past few days) and is already resolved on master. Decreasing priority until we see another failure.

[2017-06-09 21:26] choumx opened #9835 "amp-carousel: Tapping arrow buttons triggers `slideChange` action twice"
`slidescroll#customSnap_` is called twice:

- At animation start in `go`
- When animation completes in `scrollHandler_`

/cc @camelburrito

[2017-06-09 21:39] rsimha-amp opened #9836 "isValidatorFile in pr-check.js is not catching all validator related changes"
See https://travis-ci.org/ampproject/amphtml/jobs/241356980

It should have detected the build target VALIDATOR, but did not.

[2017-06-09 21:39] rsimha-amp commented on #9836
/cc @erwinmombay, @Gregable

[2017-06-09 21:41] rsimha-amp commented on #9836
Discovered via #9834, which should have gone through testing for its validator changes, but did not

[2017-06-09 21:42] honeybadgerdontcare commented on #9836
#9812 most likely fixes this but still working on it.

[2017-06-09 21:43] rsimha-amp commented on #9836
Assigning to @honeybadgerdontcare. Let us know if there's more to be done after #9812.

[2017-06-09 21:49] rudygalfi commented on #9632
To @lannka to confirm

[2017-06-09 22:27] amphtml-team commented on #9829
Sounds good ! Thanks for looking into this

On Fri, Jun 9, 2017 at 2:15 PM William Chou <notifications@github.com>
wrote:

--
-- Sriram

[2017-06-09 22:45] jpettitt opened #9838 "Feature request - all google product that support iframe embeds should send AMP resize request"
Many Google product (docs, forms) support being embedded as an iframe.  All that's needed to make them work on AMP is for them to send an unsolicited embed-size request and amp-iframe will take care of the rest.  This will remove the need to create a shim frame for each one.

Request - AMP team ask Google docs team to add the embed-size postmessage.

[2017-06-09 22:53] Gregable commented on #9800
The changes are committed in #9831, The `type` attribute will be `application/json`, not `application/ld+json` which is a separate thing. We will not validate the actual json contents - anything is allowed. That'll be a runtime issue. Let me know if there is anything more we need here.

Note that this won't be released for another 2 weeks or so.

[2017-06-09 22:53] #9800 closed

[2017-06-09 23:53] camelburrito commented on #9835
This is expected . Go happens via button click so we custom snap from the beginning.

In scrollhandler we monitor scroll and decide when to start snapping (custom snap is needed here too)

[2017-06-10 00:12] #9149 closed

[2017-06-10 00:50] #6285 closed

[2017-06-10 01:42] lannka commented on #9632
I did some experiments, ad blocker blocks HTTP requests, for which the errors are not catchable by javascript. So I don't see a way to detect such a block.

@bjalford Please advice if you have other idea for javascript to catch such a block.

[2017-06-10 02:45] wassgha commented on #4154
@aghassemi  #6285 checks off `amp-dailymotion` on the list

[2017-06-10 04:59] wassgha opened #9843 "Ability to turn on/off URL redirection in chrome extension"
Not sure how many people are using the extension but for me I find it useful although it gets a bit annoying when my local distribution is not running and I have to disable the extension to access AMP content.

[2017-06-10 06:28] honeybadgerdontcare commented on #9836
This may have more to do with #9730 than with #9812. Components of v1.0 were introduced before validator was able to handle them. #9812 added them to their test suite but the validator itself is still not prep'd for versions other than 0.1 and work arounds are currently employed to make them "work". Validator team will introduce abilities to handle other versions in the near future so until then v

[2017-06-10 07:37] MKDan opened #9844 "AMP cached version of the page ignores "custom content based on user location""
Hi,
Some of my AMP pages displays content based on the user location. The user from the US will see a different block of content and the user from India will see a different block of content on a web page.

This works perfectly on the normal web page and in the AMP version of the web page. But on the AMP cached web page, all users are seeing only the content for the US. How can I fix this?

Is the

[2017-06-10 16:25] mrjoro opened #9845 "Improve code/feature contribution documentation"
Our documentation for contributing code & features is a bit haphazard, e.g. separate sections in CONTRIBUTING for new features vs. new extensions, some "advanced" topics in DEVELOPING in addition to bullet points in CONTRIBUTING, etc.  We should clean this up.

[2017-06-10 18:54] letsila commented on #7800
Hi guys ! Can I pick this one ?

[2017-06-10 19:13] choumx commented on #9835
Thanks for the context.

[2017-06-10 19:43] camelburrito commented on #9835
Can we close this or is there something else that we need to discuss?

[2017-06-10 21:21] choumx commented on #9835
No, this is definitely a bug since `slideChange` should not be triggered twice. Need to add guards or change the implementation.

[2017-06-10 23:12] camelburrito commented on #9835
ooops - i did not see the slidechange event being triggered.

https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/0.1/slidescroll.js#L584

`this.slideChange_` will not do anything if it is already snapping at the slideindex , this is also how we do analytics for the slides, i deally the event should be triggered exactly where the analytics gets triggered.

[2017-06-11 10:41] SchnWalter opened #9847 "[A11Y] Sidebar should disallow discovering items not in the sidebar"
## What's the issue?

When `amp-sidebar` is open, the content outside of it should not be discover-able by screen readers.

E.g. you should not be able to explore content that is bellow the ".i-amphtml-sidebar-mask" element, which will include things like the footer links.

## How do we reproduce the issue?

1. Enable Talkback on Android (or your your favorite screen reader on your favorite device

[2017-06-11 17:08] #9714 closed

[2017-06-11 17:08] mrjoro opened #9848 "Weekly Status 2017-06-12"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-06-11 17:09] #9255 closed

[2017-06-11 17:26] mrjoro opened #9849 "Design Review 2017-06-21"
**Note that we will not have a design review the week of June 28, 2017.**

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [V

[2017-06-11 17:28] mrjoro opened #9850 "Design Review 2017-07-05 (amp-webpush)"
**Note that we will not have a design review the week of June 28, 2017.**

The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time)
Location: [V

[2017-06-12 09:22] bjalford commented on #7795
@mister-ben Any update on this? It would be great if Brightcove could support the docked video player in AMP when it's generally available.

[2017-06-12 11:07] dagar07 commented on #9736
@honeybadgerdontcare  any update on this???

[2017-06-12 13:52] bradfrizzell commented on #9800
Thanks!

[2017-06-12 13:57] szynszyliszys commented on #2691
I have fixed the reverse arrow issue in Starability.css. Now it works with keyboard in correct order. You might consider that.  https://github.com/LunarLogic/starability

[2017-06-12 15:39] camelburrito opened #9856 "To be Ignored"

[2017-06-12 15:41] camelburrito commented on #9856
- Release duty - Making the build Green!
- Sidebar 1.0 Design
- Intern ramp-up
- Carousel fliker on homescreen debugging

[2017-06-12 15:44] cramforce commented on #9856
- Working on cross AMP-origin/AMP-cache analytics.
- Early design discussions for improving AMP URLs inside of viewers.
- Update to latest `link-rel-preload` spec.

[2017-06-12 15:48] cramforce commented on #9848
- Working on cross AMP-origin/AMP-cache analytics.
- Early design discussions for improving AMP URLs inside of viewers.
- Update to latest `link-rel-preload` spec.

[2017-06-12 15:48] camelburrito commented on #9848
- Release duty - Making the build Green!
- Sidebar 1.0 Design
- Intern ramp-up
- Carousel fliker on homescreen debugging

[2017-06-12 15:49] #9856 closed

[2017-06-12 16:02] camelburrito commented on #9847
@torch2424 Can you take care of this as a part of your project?

[2017-06-12 16:11] #9091 closed

[2017-06-12 16:15] aghassemi commented on #9847
/to @camelburrito @torch2424

[2017-06-12 16:17] Gregable commented on #9091
Thanks @SchnWalter .

FYI, the issue is closed, but validator releases typically end up with about 2 weeks before this goes live. I'll update this issue when that occurs.

[2017-06-12 16:23] mrjoro commented on #9848
- Documentation improvements ([Getting Started E2E fixes](https://github.com/ampproject/amphtml/pull/9762), making [design review info](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md) more clear and easier to find)

[2017-06-12 16:28] lannka commented on #9659
Agreed.

But overall, I don't feel we need to further hack around the size constraints. For this case, publisher intentionally wants floating ads, and we hardly can stop them.

[2017-06-12 16:30] aghassemi commented on #9838
My opinion on this: Given many iframe embeds already send some sort of resize message to talk to their host JS, maybe AMP can start maintaining adapters for certain embed urls.

Also ideally we allow publishers to write simple mapping adapters inside `amp-iframe` for cases we don't have builtin adapters.  e.g.
[code]

@cramforce

[2017-06-12 16:34] lannka commented on #9749
This seems to be a browser bug. Will keep it off until browser gets it fixed.

[2017-06-12 16:38] honeybadgerdontcare commented on #9736
We're seeing two different versions of the page, one with and one without the amp-carousel. Not sure why, but the server the page is coming from might be responding differently for some user agents and/or IP blocks.

[2017-06-12 16:50] erwinmombay commented on #6174
@cramforce from a deployment pov do we always want master HEAD of caches.json to be always deployed to prod every release?

[2017-06-12 17:00] erwinmombay commented on #9848
- update to babel6
- continue dist improvements
- help out in amp-viewer work

[2017-06-12 17:07] SchnWalter commented on #9091
Thanks, I'm in no hurry, we are actually making our whole website as an AMP website, and we haven't added the magical `amp` attribute on the HTML tag, yet. :D

P.S. AMP Rules!!! Thank you for a great job!!!

[2017-06-12 17:10] torch2424 commented on #9848
* Sidebar 1.0 Design
* Implementing Sidebar 1.0
* Various a11y bugs on AMPStart

[2017-06-12 17:29] cvializ commented on #9848
- Review of form verifiers refactor
- Security review of form variable substitution on non-canonical origins
- Autosuggest ABE sample

[2017-06-12 17:47] zhouyx commented on #9848
- Version overriding for extensions
- Position observer design doc

[2017-06-12 17:52] aghassemi commented on #9848
- `amp-list` + `amp-carousel` [sample]( https://codepen.io/aghassemi/pen/vZOdQL?editors=1001#0 )
- `amp-fx-flying-carpet` and autoplay [sample](https://s.codepen.io/aghassemi/debug/ZyQoNW)
- Global CID optout design and discussions
- Flaky test fix

[2017-06-12 18:07] lannka commented on #9679
Confirmed with @choumx , 3P ads works: https://choumx.github.io/amp-pwa/content/21.amp.html
Will need to add an example for A4A. @choumx will take a look and see if he has bandwidth for this sprint.

[2017-06-12 18:09] cramforce commented on #9838
Like

[2017-06-12 18:10] cramforce commented on #6174
@erwinmombay Lets manually deploy for now.

[2017-06-12 18:13] erwinmombay commented on #7692
Closed by https://github.com/ampproject/amphtml/pull/9840

[2017-06-12 18:13] #7692 closed

[2017-06-12 18:28] lannka opened #9859 "A4A Cloudflare demos not working"
/examples/a4a.amp.html does not load ads for CloudFlare.

[code]

I guess `/fake_a4a.json.html` will not work anymore?

/cc @choumx

[2017-06-12 18:35] muxin commented on #9848
- Go to target slide in gallary view in lightbox 2.0
- Lightbox 2.0: add toggling between gallery and slide view

[2017-06-12 18:43] rudygalfi commented on #9484
High-level looks OK, but it's a bit hard to discern which areas need my closest review. Let me know if there's specific aspects I should take a closer look at.

[2017-06-12 18:55] hamousavi opened #9860 "Fallback for amp-list returning empty list"
## What's the issue?

When amp-list returns an empty list, there is no easy way to render a message such as "No data" because the amp-list’s child template is not even evaluated when the list is empty.

Can we provide a fallback value for amp-list calls to better deal with cases when no data is returned?

Along the same lines there are two others issues filed (however they do not directly address

[2017-06-12 19:08] hamousavi opened #9862 ""on" attribute on amp-list and amp-list specific events"
## What's the issue?

AMP provides a number of element specific events as listed on https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#element-specific-events

Can we have an amp-list specific event that is triggered when the amp-list fetching is completed?

## How do we reproduce the issue?

We are looking for something like the "load" event as outlined in the follow

[2017-06-12 19:52] aghassemi commented on #9862
/to @choumx

[2017-06-12 19:53] aghassemi commented on #9860
/to @choumx

[2017-06-12 19:56] zhouyx commented on #9757
I still see test-visibility-states fail on master.
https://travis-ci.org/ampproject/amphtml/jobs/242105387
@jridgewell Could you take a look?

	timeout of 10000ms exceeded. Ensure the done() callback is being called in this test.
........................................
Mobile Safari 9.0.0 (iOS 9.1.0): Executed 119 of 216 (1 FAILED) (skipped 73) (1 min 2.153 secs / 36.182 secs)
...................

[2017-06-12 20:07] rsimha-amp commented on #9757
Seems like there's a common theme of `beforeEach()` timing out in all these failures. Let me know if there's any infra work that can go into making these tests more resilient.

[2017-06-12 20:21] hamoon88 opened #9864 "Calling 3P APIs from an AMP page"
## What's the issue?

It seems that amp-list is the only way one could call third-party APIs from inside an AMP page (see [this](https://stackoverflow.com/questions/44507714/calling-third-party-apis-from-an-amp-page)).

Given that, could we have a mechanism in amp-list for sending oauth2's access tokens in HTTP authorization header?

## How do we reproduce the issue?

Sending access token in query

[2017-06-12 20:25] hamoon88 commented on #9862
This is awesome William. Thanks.

[2017-06-12 20:27] aghassemi commented on #9864
@hamoon88 Similar to many other places that AMP does XHR, the endpoint for `amp-list` must also adhere to [AMP CORS requirement](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) which 3p APIs won't support. You would need to proxy 3p API calls in your server instead.

[2017-06-12 20:27] #9864 closed

[2017-06-12 20:43] medicalspanw opened #9865 "The last-child amp-img does not render when CSS changes from display: none to display:block"
## What's the issue?
Briefly describe the bug/feature request.
Attempting to display a different image when the mouse hovers over the base image. This works for regular images, not amp-img.

## How do we reproduce the issue?

If this is a bug please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else.  Then provide step-by-step in

[2017-06-12 20:57] #9049 closed

[2017-06-12 21:17] dandv commented on #7786
See also [Support AMP.goToURL action](https://github.com/ampproject/amphtml/issues/8976)

[2017-06-12 21:25] zhouyx commented on #9484
@rudygalfi my apology that the doc goes into too much details. I changed it a bit. A closer look at the Config & Manual Trigger part would be good. Thanks!

[2017-06-12 21:44] #9843 closed

[2017-06-12 21:49] aghassemi opened #9867 "amp-sidebar: optional attribute to change text for screen-reader close button."
**Reserved For write/speak/code event**

### Description
In [amp-sidebar](https://ampbyexample.com/components/amp-sidebar/), users can tap somewhere outside of the sidebar area to close it, however this is not accessible for blind users who rely on screen-readers to consume the Web. Therefore an alternative approach has been implemented that adds a visually hidden button to `amp-sidebar` which is

[2017-06-12 22:01] #9696 closed

[2017-06-12 22:19] jpettitt commented on #9838
I like that a lot.

[2017-06-12 22:19] aghassemi opened #9868 "amp-image-lightbox: optional attribute to change text for screen-reader close button."
**Reserved For write/speak/code event**

### Description
In [amp-image-lightbox](https://ampbyexample.com/components/amp-image-lightbox/), users can tap somewhere outside of the image or swipe up/down to close the lightbox, however this is not accessible for blind users who rely on screen-readers to consume the Web. Therefore an alternative approach has been implemented that adds a visually hidden

[2017-06-12 22:20] hamoon88 commented on #9864
I was under the wrong impression that amp-list could be used for api calls. Thanks a lot for clearing that out and also thanks for the quick response @aghassemi.

[2017-06-12 22:33] jpettitt commented on #9423
I think a dedicated element would be the way to go, ideally we'd be able to bring in a section of another amp page and have it display the part we want and bring in any needed amp extensions that were not on the page already.

We also want the new page to be able to refresh the config so that we could specify the next page dynamically.

Might need to start trimming stuff at the top of the page to

[2017-06-12 22:35] zhouyx opened #9870 "TypeError: Cannot read property 'document' of undefined"
Request:
https://www-dailystar-co-uk.cdn.ampproject.org/v/s/www.dailystar.co.uk/showbiz-tv/hot-tv/621704/Geri-Horner-Rylan-Clark-Neal-This-Morning/amp?amp_js_v=0.1

User agent:
Mozilla/5.0 (Linux; Android 5.1.1; SM-J500FN Build/LMY48B; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36

TypeError: Cannot read property 'document' of undefined
    at HTML

[2017-06-12 22:40] zhouyx commented on #8920
same here. @camelburrito able to see extra logging.

https://www-elle-com.cdn.ampproject.org/v/www.elle.com/culture/gmp26125/types-of-skinny-leg-pose-flattering/?amp_js_v=0.1
User agent
Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1

[2017-06-12 23:12] zhouyx opened #9871 "TypeError: Cannot read property 'origin' of undefined"
From: https://github.com/ampproject/amphtml/blob/master/src/url.js#L314

https://huntsongs-com.cdn.ampproject.org/v/huntsongs.com/video/ishq-karoge-to-dard-milega-video-song-ekka-raja-rani-govinda-ayesha-julka-kumar-sanu-alka-yagnik-udit-narayan-2437?pg=amp&amp_js_v=0.1
Referrer
https://www.google.co.in/
User agent
Mozilla/5.0 (Linux; Android 5.0.2; vivo Y51L Build/LRX22G; wv) AppleWebKit/537.36 (

[2017-06-13 00:10] muxin opened #9873 "insertExtensionScriptIfNeeded generates wrong url in heroku"
When calling `extensionsFor(this.win).loadExtension('amp-carousel');`, [`insertExtensionScriptIfNeeded`](https://github.com/ampproject/amphtml/blob/master/src/service/extensions-impl.js#L533) inserts a wrong script url in heroku

Example:
- go to https://amphtml-nightly.herokuapp.com/test/manual/amp-lightbox-viewer-optin.amp.html, the script inserted is
[code]

However the correct url should be
[c

[2017-06-13 00:47] muxin commented on #9873
[`replaceUrls`](https://github.com/ampproject/amphtml/blob/master/build-system/app.js#L1035) is not taking effect when inserting new extension script

[2017-06-13 13:35] Philbob commented on #9609
excellent, thanks

[2017-06-13 16:18] kul3r4 opened #9874 "Logout page does not close after redirecting"
I have been trying to add Google Sign in to an [existing sample](https://ampbyexample.com/samples_templates/comment_section/preview/) which has login implemented with amp-access.

I added the Google sign in button to the [login page](https://github.com/ampproject/amp-by-example/blob/google-login-2/static/login.html) and added a [logout page](https://github.com/ampproject/amp-by-example/blob/google

[2017-06-13 16:21] ruborg commented on #7258
Hi folks, I see that this issue is closed, but I'm experiencing a very similar issue to what's described here.

I have two slide carousels, one hidden by default, and one visible.
Each carousel has four `amp-img` children as slides.
Each carousel also has as next sibling an `amp-selector`, with four `amp-img` children, these are the previews, clicking on one of these changes the slide in the assoc

[2017-06-13 16:23] cramforce opened #9876 "Allow AMP to be compiled with full property obfuscation"
@erwinmombay and me are preparing the AMP code base for more aggressive optimizations in the closure compiler.

Right now only private properties are obfuscated. Soon, among other things, all properties will be obfuscated unless we stop them.

That means stuff like

`foo.mutateElement` might become a.a;

saving lots of bytes :)

However, it also means that if you so something like

`JSON.stringify

[2017-06-13 16:48] mrjoro commented on #9713
Thanks @ui-xp!  Welcome to the community. :)

[2017-06-13 16:53] bjalford commented on #9410
Any update on this?

[2017-06-13 17:05] zhouyx commented on #9722
@saqibnaveed Thanks for claiming this issue. Is there any update on this? Please let me know if you need any help.

[2017-06-13 17:09] zhouyx commented on #9873
We always insert the cdn version script to DOM. However local server will proxy it to the correct version. What is the real file that the page fetched?

[2017-06-13 17:58] aghassemi commented on #9256
I like to talk about Video Analytics (Design in progress, will link to ITI here later today)

[2017-06-13 18:14] jridgewell commented on #9870
Ooo, this is fun.

[code]

The issue is that we called `#layoutCallback`, which returns a promise. When then queue a `#then` block on top of it. Before that then block is called, something happens to the element that causes it to lose the `document` -> `window` -> `document` pointers.

[2017-06-13 18:23] ruborg commented on #7258
I created a jsbin example here:

http://jsbin.com/pekejedece/edit?html,output

You can reproduce the issue if you load up the jsbin, click the blue thumbnail, then click 'carousel 1', then click back to carousel 0, and it jumps to the last slide.

If you do an AMP.printState() after the carousel has jumped to wrong slide the amp-state looks fine.
e.g.

[code]
But it the carousel jumped to slide 3

[2017-06-13 18:55] ruborg commented on #7258
On further investigation, it's an issue with amp-carousel, not amp-bind, I took amp-bind out of the page altogether, and used instead goToSlide() etc. and switching back to first slide (making it visible) always makes it jump to last slide

[2017-06-13 19:40] rajkumarsrk commented on #9732
Do we have any updates on this ?

[2017-06-13 20:05] ruborg opened #9882 "amp-carousel jumps to last slide when the visibility of its parent container is toggled"
## What's the issue?

amp-carousel jumps to last slide when the visibility of its parent container is toggled

## How do we reproduce the issue?

See jsbin here:
http://jsbin.com/zosomuqezo/edit?html,output

1.Tap blue or green preview thumbnail (i.e. not first or last)
2. Tap carousel 1
3. Tap carousel 0
4. Carousel 0 now jumps to final slide

**Expected**: carousel 0 stays on same slide.

Note t

[2017-06-13 20:25] choumx commented on #9738
@abc516 That should be fine since it's just an enum. Thanks!

[2017-06-13 20:29] jridgewell commented on #9283
Presubmit would be great. Let's deprecate `<amp-sticky-ad-top-padding>` (just remove documentation for the tag name) and add a public class instead.

[2017-06-13 21:13] rudygalfi commented on #9484
Thanks. What does "not supporting remote config fetching with url keyword" mean?

[2017-06-13 22:05] rudygalfi commented on #9732
@rajkumarsrk Still discussing. I will try and finalize this over the next couple days.

[2017-06-13 22:39] muxin opened #9890 "Image lightbox double tap doesn't zoom from the tapping point"

[2017-06-13 22:40] muxin opened #9891 "implement pinch zoom on <amp-image-lightbox>"
Pinch zoom was added to `<amp-lightbox-viewer>` (now `<amp-lightbox-gallery>`) in https://github.com/ampproject/amphtml/pull/12219. This FR is to backport it to `<amp-image-lightbox>`.

### What you need to know
- Some basic knowledge of how to use the Gesture Recognizers library
- Be able to find [`<amp-image-lightbox>`](https://github.com/ampproject/amphtml/blob/ad427149f5609b0dbe78b100ee2ed197e

[2017-06-13 22:53] #9829 closed

[2017-06-13 22:55] cvializ commented on #9413
Closed by #9724

[2017-06-13 22:55] #9413 closed

[2017-06-13 22:58] honeybadgerdontcare opened #9892 "Update validator to not require amp-mustache for amp-form"
It was intended to handle this in #8565 but the validator wasn't also changed. Let's allow this in the validator.
@cvializ

[2017-06-13 23:12] wassgha commented on #9256
I will share some updates on the immersive video project (will link to the slides)

[2017-06-13 23:14] muxin commented on #7800
Sorry this issue is reserved for write/speak/code event this week. We will have more great first issues coming.

[2017-06-13 23:48] #9892 closed

[2017-06-13 23:55] choumx opened #9898 "Document amp-list's [state] binding"

[2017-06-14 00:53] muxin commented on #9873
OK, the true cause is that `getMode().localDev` is false in amphtml-nightly.herokuapp.com
[code]
In heroku mode, `FORCE_LOCALDEV` is `true` and `win.location.hostname == AMP_CONFIG_3P_FRAME_HOST` should be true. However in `amphtml-nightly`, `AMP_CONFIG.thirdPartyFrameHost` and `AMP_CONFIG.thirdPartyFrameHost` is [not set correctly](https://github.com/ampproject/amphtml/blob/master/gulpfile.js#L52

[2017-06-14 01:09] aghassemi opened #9902 "Intent To Implement: Video Analytics"
## Summary
The goal is for `amp-video` and also other video players in AMP to issue events for major states to be reported through [`amp-analytics`](https://www.ampproject.org/docs/reference/components/amp-analytics).

https://github.com/ampproject/amphtml/issues/1654 and https://github.com/ampproject/amphtml/issues/2802 have some background on the requirements.

## Example
[code]

## Common Varia

[2017-06-14 01:28] aghassemi commented on #9902
/cc @rudygalfi @avimehta @lannka @ThomasPaq @TomMSNBC @ampproject/video-on-amp

[2017-06-14 01:51] zhouyx opened #9904 "Flaky integration test amp-video autoplay"
[code]

[2017-06-14 01:53] zhouyx opened #9905 "Flaky integration test amp-bind"
[code]

[2017-06-14 01:54] zhouyx opened #9906 "Flaky integration test: test-extensions-loading & test-errors"
https://travis-ci.org/ampproject/amphtml/jobs/242641942

[code]

[2017-06-14 01:55] zhouyx opened #9907 "Flaky integration test amp-form"
https://travis-ci.org/ampproject/amphtml/jobs/242641942

[code]

[2017-06-14 01:56] zhouyx opened #9908 "Flaky integration test: amp-pixel"
[code]

[2017-06-14 01:57] zhouyx opened #9909 "Flaky integration test: amp-3q-player"
[code]

[2017-06-14 01:57] zhouyx opened #9910 "Flaky integration test: amp-brid-player"
[code]

[2017-06-14 05:23] yskoh commented on #8880
Hi
I'm looking for opportunity to contribute to open source for the very first time.
Can I work on this?

[2017-06-14 05:29] saqibnaveed commented on #9722
@zhouyx , sorry for the delay. I got caught up with task at my workplace. I want to handle this issue, I will give you update by tomorrow
Thanks

[2017-06-14 06:19] letsila commented on #7800
hum ok, gonna find another one then :)

[2017-06-14 12:16] edhollinghurst opened #9916 "Issue using amp-bind with Shadow DOM"
I'm having problems using amp-bind within a PWA that uses the Shadow DOM.

Steps to reproduce:

1. Go to the example I've created at: https://www.edhollinghurst.com/amp-bind-pwa/amp-bind-pwa.html
2. Observe that if you click an answer it is correctly bound to the element used to display the answer.
3. Refresh the page. This should move you across to the 'PWA' with the 'App Shell' header displayed.

[2017-06-14 12:26] awsomedesigner opened #9917 "Is there necessary to submit AMP website to google?"
I have created AMP for a website. Now I want to publish those pages as AMP. Is there a process regarding how to publish AMP? I have used canonical URL as per AMP's guideline to make pages discoverable and my amp is valid as per AMP's validation. Can someone share as to how to deploy AMP pages so that I can see then in mobile when I search in Google

[2017-06-14 17:04] erwinmombay opened #9922 "remove skipped over lint rules"
to by pass some flakey integration tests im skipping a few rules in integration files for now

[2017-06-14 17:38] camelburrito commented on #9882
@ruborg : Does this happen on a specific OS/Browser/version?

[2017-06-14 18:04] camelburrito commented on #9137
This is a very weird ios 10.3.* issue (They have fixed it on ios 11), i did manage to replicate the issue with a reduced/simple use case here http://jsbin.com/xakogul/quiet (Try adding it to the home screen from safari to replicate the issue). Click the button and wait for the flicker

The screen flashes when the no-scroll class adds a `overflow:hidden` and/or `-webkit-overflow-scroll: auto`. Anyt

[2017-06-14 18:11] camelburrito commented on #9137
List of things i tried -
`-webkit-backface-visibility: hidden;`
`-webkit-transform: translate3d(0,0,0);` (The cure for almost all IOS Safari issues :) )
`-webkit-transform: translateZ(0);`

`will-change: opacity;` -Toggle opacity between 1 and 0.9 on the container(when no-scroll is added and removed)

add `transform`  to Toggle opacity between 1 and 0.9 on the container (when no-scroll is added an

[2017-06-14 18:26] cvializ commented on #8880
Wonderful, we're glad to have you as a contributor. Yes, if you're interested and motivated to start in the next day or so, I'll assign the issue to you. Let us know if you have any questions. Happy coding : )

[2017-06-14 18:28] #9922 closed

[2017-06-14 18:29] jridgewell commented on #9871
The cause is because https://github.com/ampproject/amphtml/blob/97649ad0fdeac8b5d7ff57db1a2671c56622fd4f/src/service/document-info-impl.js#L70 (the `$g.get` call in the trace) is somehow returning `undefined`.

[2017-06-14 18:39] jridgewell opened #9924 "Dead Links Check Doesn't Show the "Dead Link""
All that's output is:

[code]

[2017-06-14 18:41] rsimha-amp commented on #9924
I don't get it. `../../../src/spec/amp-actions-and-events.md` is the dead link.

[2017-06-14 18:41] #9924 closed

[2017-06-14 18:43] jridgewell commented on #9924
Ohhh, I thought that was the file being checked. Sorry.

[2017-06-14 18:49] jridgewell commented on #9917
If they're properly linked to using `rel="amphtml"` from the canonical, there's nothing you need to do. The next time Googlebot crawls your website, your AMP pages will be crawled, too.

[2017-06-14 18:49] #9917 closed

[2017-06-14 19:28] avimehta commented on #9902
Hi @aghassemi,

I won't be able to attend the design review. Here are some comments about the I2I:

1. This looks great! Thanks for putting the proposal together.
1. `spec` should probably be renamed to be more specific? `videoSpec`?
1. Are these going to be available in amp-pixel?  I guess not because selectors can't be specified in amp-pixel. Just wanted to confirm.
1. `${ended}/${paused}` could

[2017-06-14 19:34] shawnbuso commented on #9902
As far as IMA is concerned, we report metrics on the video ad for first frame (impression), 25%, 50%, 75%, 100%, and some other things depending on the ad format (skipped, interact (for VPAID ads), viewability, etc.). This is all part of the VAST video ad spec and is handled by the SDK internally - my amp plugin doesn't do anything special to make this happen (other than provide the IMA SDK with a

[2017-06-14 19:53] #8836 closed

[2017-06-14 19:56] #9898 closed

[2017-06-14 20:03] camelburrito commented on #9256
I would like to talk about https://github.com/ampproject/amphtml/issues/9137 if we have time

[2017-06-14 20:03] zhouyx commented on #9757
Oh no! still get integration tests failed 😭
https://travis-ci.org/ampproject/amphtml/jobs/242944862

[2017-06-14 20:07] rsimha-amp commented on #9757
@jridgewell, @camelburrito: These tests are particularly flaky. Can they not just be disabled while they're fixed?

[2017-06-14 20:14] #9736 closed

[2017-06-14 20:14] rudygalfi commented on #9902
I think this could be useful but would require thought around how to use the substitutions. It might we worth considering to report these as a JSON object that contains all of the video state (play/pause, time position, etc.) based on specifying a variable like this:

`VIDEO_STATE(selector, reported_attributes_list)`

[2017-06-14 20:21] jridgewell commented on #9844
See https://github.com/ampproject/amphtml/issues/826.

[2017-06-14 20:21] #9844 closed

[2017-06-14 20:23] jridgewell commented on #9017
@Raphaeljunior is working on it.

[2017-06-14 20:44] zhouyx opened #9927 "Use css class to customize sticky ad top padding bar"
**Reserved For write/speak/code event**

### Description
`<amp-sticky-ad>` has a top padding bar `amp-sticky-ad-top-padding` to make it looks better. However the element has a name start with `amp-*`, the name should be reserved for AMPElemnt only.

We can't rename the element's name now because it can introduce a breaking change to existence pages. We can however provide an alternative way to cus

[2017-06-14 20:53] rsimha-amp opened #9928 "Run pre-build steps in travis.yml only when necessary"
Today, we run steps like connecting to sauce labs and installing percy on all build shards for all PRs. There's scope for reducing this by an order of magnitude, which will put less of a load on the services and marginally speed up the travis build cycle.

[2017-06-14 20:54] mrjoro commented on #9256
Video Analytics

- maybe pause & ended can be combined into a single state enum vs. booleans
- there are some issues when using onunload events; we might have to live with analytics events not being triggered e.g. when the browser closes (a lot of stuff in this space works on a "best effort" basis)
- Malte would not build variables unless people are actually asking for them, e.g. video-seconds-pla

[2017-06-14 20:55] mrjoro commented on #9256
Immersive Video

- video placeholder
  - the main question is what to do when we exhaust all fallbacks
  - should we make the placeholder image part of the video interface?
  - take a canvas snapshot of the current frame when you start scrolling, maybe blur it?
- dismissing minimized video
  - is it a problem to show text indicating how to dismiss the video?  not a problem to add interface element

[2017-06-14 20:56] mrjoro commented on #9256
amp-carousel jitter on iOS

- Malte: the issue showing up on the home screen may be a red herring; new iOS is using WKWebView for home screen, current iOS is using UIWebView; so this may affect all apps using UIWebView
- Brave/FB/etc. use UIWebView (we think), so the new iOS version is not necessarily a fix for this issue

[2017-06-14 20:56] #9256 closed

[2017-06-14 21:19] zhouyx opened #9931 "Remove all .max usage in doc"
### Description
.max.html and .min.html usage has been deprecated. However we fail to update them everywhere in our documentation and comment

Ref PR: #8559

### The Fix

- Search for `.max.html` in our code base.
- Find deprecated usage of `localhost:8000/examples/***.max.html` and rename them to end with `.html`
- Submit for review!

Once approved, your changes will be merged.  **⚡⚡⚡Congrats on

[2017-06-14 22:12] jridgewell commented on #9865
We don't support changing the visibility of an element through the `:hover` css selector yet. Instead, you can use the `hidden` attribute and the AMP `show()` action. See http://codepen.io/aghassemi/pen/JWmNoB

[2017-06-14 22:12] #9865 closed

[2017-06-14 23:03] camelburrito commented on #9137
@eike-hass - can you confirm if you can still replicate this in 9.2?

[2017-06-14 23:35] camelburrito commented on #9882
WoW! @ruborg this is a great find - Thanks for filing!

CC @jridgewell, @dvoytenko  - This is super interesting , i have no clue why this is happening!

@jridgewell can you think of why something like this would happen

[2017-06-14 23:51] choumx commented on #9916
Thanks for reporting this. We'll take a look soon.

[2017-06-14 23:57] cvializ opened #9934 "Add isStandalone method to the AMP platform service"
**Description**

iOS devices allow users to add web pages to the home screen and look like an app icon. When a user opens the page from the home screen, the page renders fullscreen in Safari. AMP needs a way to detect if an AMP document was opened from the iOS home screen.

**The Fix**

- [ ] Go to `platform-impl.js` file
- [ ] Add an `isStandalone` method. Research how to implement this behavior

[2017-06-15 06:58] muxin opened #9937 "Improve lightbox example page"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- CSS
- html

### Background
Amp lightbox 2.0 is an amp-component that is still

[2017-06-15 06:59] wassgha commented on #9902
Not sure how useful it might be but we might wanna include analytics for minimization events when implemented if there's interest. Just something to keep in mind.

[2017-06-15 07:22] 1987yama3 commented on #9902
This is looks great!

But I want to track "Video Impression" event. Because I want to know the play start rate for each video. It is calculated from the number of impressions and the number of play start.

Note that, If visibilitySpec can be used to measure the number of impressions for each video ID, there is no problem.

[2017-06-15 10:13] eike-hass commented on #9137
@camelburrito just tested with a iOS 9.3.4 device and your example. We observe the behavior you described.

[2017-06-15 13:00] yskoh commented on #8880
okay! thanks!

[2017-06-15 13:17] jasti opened #9939 "Design complete sizeless ads in AMP"
ITI to follow

[2017-06-15 13:25] jasti commented on #9632
@bjalford closing for now, but please reopen if you think there is a way to detect the ad blocker.

[2017-06-15 13:25] #9632 closed

[2017-06-15 15:37] eduardcotmrf commented on #9243
Do we have any update on this?

Thanks!

[2017-06-15 16:55] zhouyx opened #9944 "AmpAnalytics <unknown id> Failed to process trigger "ini-load": null is not an object"
Request: https://www-thesun-co-uk.cdn.ampproject.org/c/s/www.thesun.co.uk/tvandshowbiz/3762742/victoria-beckham-gets-hilariously-trolled-by-son-romeo-as-he-mocks-her-carrot-outfit/amp/
User agent:
Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) GSA/28.0.157793287 Mobile/14A456 Safari/602.1

[2017-06-15 17:05] zhouyx commented on #9484
Sorry I was trying to say 'config' or 'type' keyword, where they use default type config or fetch remote config through a provided url. I changed the doc.

[2017-06-15 17:56] coreybyrnes commented on #9546
@zhouyx Sorry for the delayed response. To recap, this is about a DFP creative that is intended to collapse the ad space by setting `display:none`. We need to serve these "blank" creatives that collapse the ad space for tracking purposes (hence the need to preserve the impression) and more importantly when an advertiser buys all ad spaces on a page but doesn't have a creative for a specific ad spa

[2017-06-15 18:08] jridgewell commented on #9944
Stack trace? Pantheon id?

[2017-06-15 18:12] zhouyx commented on #9944
no stack trace found.

[2017-06-15 18:19] jridgewell commented on #9944
What's the pantheon id?

[2017-06-15 18:21] zhouyx commented on #9944
don't know where to find it.... i'll ping you the link

[2017-06-15 18:27] sklobovskaya opened #9949 "Intent To Implement: amp-gwd-animation"
## Introduction
[Google Web Designer](http://www.google.com/webdesigner) (GWD) is an HTML5 authoring tool geared towards display advertising. GWD provides tools for authoring CSS animations, and several custom GWD animation features, such as animation go-to points and controlling playback on events, rely on a custom JavaScript runtime.

As part of GWD’s plan to add support for authoring AMP-compli

[2017-06-15 18:34] cferic commented on #8437
Question about inserting versioned AMP CSS as part of Server-Side Rendering.

Item 2 of the Proposal section of the [design document](https://docs.google.com/document/d/1gViU1hxtGXwMSTNnum2zY_p9ZWvFwMKoachNdIRUgh0) states: "Insert versioned AMP CSS before any style or link elements appear."

When inspecting the source of https://cdn.ampproject.org/c/s/ampstart.com/ I see that the versioned CSS is

[2017-06-15 18:34] shawnbuso commented on #8841
Any additional insight on this one? Like I mentioned earlier I've got this more or less working, I just need to figure out how to best sync showing and hiding the fullscreen button with the rest of the player controls. Are there some hard and fast rules about when the video player will show and hide controls that I can mimic in my own code? It seems to be browser and platform dependent:

on deskto

[2017-06-15 18:46] #9265 closed

[2017-06-15 18:48] lannka commented on #9908
@zhouyx The link isn't pointing to a failed test.

[2017-06-15 19:06] zhouyx commented on #9908
Sorry I did a rebuild incase to merge the PR. But the information is copied from previous travis failure on this flaky integration test.

[2017-06-15 19:17] rudygalfi commented on #9484
@zhouyx Makes sense - thanks!

[2017-06-15 19:50] jridgewell commented on #9944
Stack trace is:

[code]

[2017-06-15 19:58] honeybadgerdontcare commented on #8437
The inline of the css in `<style amp-runtime></style>` is coming and the document is correct.

[2017-06-15 20:19] honeybadgerdontcare commented on #9243
Unfortunately not right now.

[2017-06-15 20:31] aghassemi commented on #9882
lower priority since looks like it is FF only.

[2017-06-15 22:53] #9757 closed

[2017-06-16 00:14] #8976 closed

[2017-06-16 00:33] choumx opened #9953 "Muted play should only require ActionTrust.LOW"
Splitting this task off of #9699.

- [ ] Add ability to query muted state in videos, e.g. `isMuted()` to `video-interface.js`.
- [ ] Change `BaseElement.activationTrust()` to `BaseElement.requiredTrustForAction(method)` to be able to specify variable trust for a single action.

Note that we don't have any low trust events (yet), so implementing this won't yield any change in functionality.

/to @e

[2017-06-16 00:41] jridgewell commented on #9953
So a automatic slidechange would be able to unmute?

[2017-06-16 00:53] choumx commented on #9953
Oops, typo. Playing a muted video should only require low trust actions. We actually don't have any low trust events yet though.

[2017-06-16 01:06] #9909 closed

[2017-06-16 02:56] kellyk commented on #9937
I'll take this one!

[2017-06-16 03:01] kellyk commented on #9868
I'll take this one!

[2017-06-16 03:19] muxin commented on #9937
closed via #9955

[2017-06-16 03:19] #9937 closed

[2017-06-16 03:45] rhapsodyai commented on #9867
I'll do this one

[2017-06-16 04:11] lannka commented on #8925
@avimehta should this be part of your "Filter" work?

[2017-06-16 04:14] #9868 closed

[2017-06-16 04:17] kellyk commented on #9927
I can take this one!

[2017-06-16 04:21] lannka commented on #8514
@tiendt would you take a look at this? A good practice for chrome debugging.
The bug can be reproduced in your local server by visiting:
[code]

It's only reproducible with minified binary, so you will do
[code]
and visit
[code]
to turn on minified binary in local server.

let me know if you have questions

[2017-06-16 06:06] saqibnaveed commented on #9722
I have found a way to add user_agent in the url-replacement-impl file. I will add and test it and will send a pull request. Thanks

[2017-06-16 07:17] sktvl commented on #6058
Hi @mkhatib,

iam newbie in AMP Form .  how we can show success or error messages in same view.  As soon as possible please describe same code here

[2017-06-16 07:27] muxin commented on #7800
@letsila Now that the event is over, feel free to work on this.

[2017-06-16 09:26] 1987yama3 opened #9959 "AMP Variable "TIMESTAMP" Format"
I suppose a feature that it possible to format AMP variable 'TIMESTAMP'.

This is for displaying data as a character string for users when sending data with AMP Analytics.

For example, I think following usages.

[code]

The format will be based on other language datetime format function, too.

[2017-06-16 10:13] shubha01 commented on #9709
hi i  am returning this { "showNotification": true }to frontend but my question is  amp-user-notification create cookies for a 1 year as it a default cookie time limit if i want to add cookies for less time suppose 1 month only how to do this

[2017-06-16 12:33] letsila commented on #7800
Great, I am on it.

[2017-06-16 13:53] dagurk commented on #7283
We at guidetoiceland.is have been trying to find a fix for this on our end but have been unsuccessful, perhaps some of our findings will help solve this

We originally thought this bug could be negated by using different CSS. So we tried many different methods to achieve our design, but the bug was always present.

We also tried finding a website that was not affected by this bug, and made some in

[2017-06-16 15:24] aghassemi commented on #9910
closed by #9925

[2017-06-16 15:24] #9910 closed

[2017-06-16 15:24] aghassemi commented on #9904
closed by #9925

[2017-06-16 15:24] #9904 closed

[2017-06-16 15:38] aghassemi commented on #9694
#9810 took over this issue for a more targeted solution. Still keeping this as a FR in the backlong

[2017-06-16 15:40] aghassemi commented on #1654
Design: #9902

[2017-06-16 15:50] aghassemi opened #9961 "video dock: gestures"
part of #8088, next step to #9702

- [x] Gestures for minimized version for dismiss

[2017-06-16 15:51] aghassemi commented on #9961
/cc @spacedino

[2017-06-16 15:52] aghassemi opened #9962 "video dock: Drag Drop Snap support for minimized video"
part of #8088

[2017-06-16 16:07] rudygalfi commented on #9732
I think we could go ahead with allowing such URLs and whitelisting as follows:

`<meta name="amp-link-variable-allowed-insecure-origin" content="http://www.example.com">` (notice "insecure")

@cramforce Does this look OK to you or do you have alternate suggestions on how to do the whitelisting or the name?

[2017-06-16 16:21] cramforce commented on #9732
Works for me.

On Fri, Jun 16, 2017 at 9:08 AM, Rudy Galfi <notifications@github.com>
wrote:

[2017-06-16 16:25] rudygalfi commented on #6770
@cramforce @lannka Will this still be needed going forward?

[2017-06-16 16:30] cramforce commented on #6770
NO

[2017-06-16 16:42] patrick-mcdougle opened #9964 "[Ads][Doubleclick] Allow multi-size reordering"
## What's the issue?

Currently `<amp-ad type="doubleclick" .../>` requires the larger size to be primary (even if using a size override). This is unnecessarily limiting. For example, a requirement was passed down to me to have the ad sizes in the ad request be smaller first, then larger (our ad-ops team claims this effects reporting). In order to achieve this, I would have expected the following

[2017-06-16 16:43] #6770 closed

[2017-06-16 17:00] lannka commented on #9659
@jasti what do you think? Can we close it for now?

[2017-06-16 17:09] lannka opened #9966 "I2I: AMP Ads Playground in ampbyexample.org"
## Motivation
The motivation of building a specific AMP ad playground on ampbyexample.org (ABE) is:
It can be used by other AMP creative demos on ABE, which are currently depending on a manually hacked version of AMP runtime. #9311
It can be used by creative agency to design AMP creatives and share with their customers. We will save the work of hosting the creatives and enable an one-click sharing

[2017-06-16 17:12] lannka commented on #9311
Discussed with @aghassemi and @kul3r4 offline, we will introduce a AMP Ads Playground in ABE to address this #9966

[2017-06-16 17:12] jasti commented on #9659
"For this case, publisher intentionally wants floating ads, and we hardly can stop them."
@lannka not convinced with the reasoning. Checks that help with better user experience is the reason we have AMP!
I like @jridgewell's idea to check to check for  "full screen" size (some arbitrary percentage, like > 90% width and height). Is that feasible?

[2017-06-16 17:23] lannka opened #9967 "Generate ClientID using ClientID API via Viewer"
### Before
Right now AMP runtime generates base CID and pass to Viewer for storage.
AMP runtime is responsible to generate “scoped CID” by hashing base CID with the scope string. Base CID is never sent over the wire.

Runtime communicates with Viewer using postMessage.

[code]
Opt_data is an object:
[code]

If `opt_data` is present, this is a SET
If `opt_data` is missing, this is a GET

### After

[2017-06-16 17:32] choumx commented on #9953
/to @aghassemi

[2017-06-16 17:44] alanorozco commented on #9876
What about `setStyles`? Uses the object key names for the style props.

[2017-06-16 17:51] aghassemi commented on #8841
@shawnbuso for now I think we should special case the popular platforms: Android-Chrome, iOS-* (iOS should be the same regardless of browser) and for everything else do a reasonable default (show/hide on tap/hover and do 3 second timeout)

[2017-06-16 17:55] muxin opened #9969 "Lightbox 2.0: merge top two icons into a gradient bar"
Currently the close button and gallery button on top each has a gray background box. According to new design, we need to put them together inside a top bar.

Also, the top two buttons should be dismissed along with the caption when user tap on the middle area, to provide a whole full screen experience.

[2017-06-16 17:57] cramforce commented on #9876
@alanorozco Should be covered by externs.

[2017-06-16 17:57] muxin opened #9970 "Lightbox 2.0: be able to expand overflown caption"

[2017-06-16 17:59] alanorozco commented on #9876
@cramforce AFAICT externs would cover that from `setStyles` -> native API, right? What about the actual uses of `setStyles`? Like `opacity` in `setStyles(x, { 'opacity': 0 });`

[2017-06-16 18:07] cramforce commented on #9876
@alanorozco We'll need to try, but basically because the compiler is very conservative it will assume that this might be an externed object.

[2017-06-16 18:13] rudygalfi commented on #1654
@aghassemi I'd suggest closing this because we have #9902, but defer to you in case you're using this issue in any tracking.

[2017-06-16 18:15] alanorozco commented on #9162
Closing this. We can reopen if we have repro steps.

[2017-06-16 18:15] #9162 closed

[2017-06-16 18:19] rudygalfi commented on #2802
We have a more proper design in #9902 that covers most or all of what's proposed here. Could you turn your attention to #9902 and give us additional feedback based on that design?

FYI @aghassemi closing this out in favor #9902.

[2017-06-16 18:19] #2802 closed

[2017-06-16 18:23] aghassemi commented on #1654
yeah let's close in favor of  #9902

[2017-06-16 18:23] #1654 closed

[2017-06-16 18:33] alanorozco opened #9971 "Document nuances for amp-lightbox in A4A"

[2017-06-16 18:34] alanorozco opened #9972 "Confirm need for intermediate container for amp-lightbox in A4A"

[2017-06-16 18:34] rudygalfi commented on #9902
@aghassemi Do you think this will be in the June H2 sprint, or do you want to wait a bit for feedback on the design?

[2017-06-16 18:35] jasti commented on #9311
Tracked separately.

[2017-06-16 18:35] #9311 closed

[2017-06-16 19:48] aghassemi commented on #9902
@rudygalfi we are planning for June H2 Sprint. There are some good feedbacks on the design here and having an initial implementation soon for folks to try out would be good for iterating on the solution.

[2017-06-16 19:49] honeybadgerdontcare commented on #9311
@lannka The validator already disallows any `id` attribute to begin with `i-ampthml-` as those are considered internal runtime `id`s. Perhaps you could reuse that for this case with something like `id=i-amphtml-fake-ad`.

[2017-06-16 20:17] aghassemi opened #9976 "Lightbox 2.0: transition animations"
Transition animation from/to opener similar to amp-image-lightbox

[2017-06-16 20:18] aghassemi opened #9977 "Lightbox 2.0: image zoom/pan functionality"
- [ ] pinch zoom
- [ ] double tap zoom
- [ ] pan
- [ ] vertical swipe to dismiss

[2017-06-16 20:19] aghassemi commented on #8078
replaced by https://github.com/ampproject/amphtml/issues/9977 and https://github.com/ampproject/amphtml/issues/9976

[2017-06-16 20:19] #8078 closed

[2017-06-16 20:26] camelburrito opened #9978 "[amp-sidebar 1.0] [Toolbar] Create a Toolbar Class"
- [x] Create a Toolbar class
- [ ] Instantiate Toolbars on build callback
- [ ] Build Toolbars on Build callback - the toolbar will stay on the dom after build -

[2017-06-16 20:31] camelburrito opened #9979 "[amp-sidebar 1.0] [Toolbar] Show/Hide Toobar"
- [ ] Create a `attemptShow` function for the toolbar, create measure/mutate functions and use vsync or mutateElement to handle the DOM mutation. - Try and use CSS to achieve this.
- [ ] Create a `Close` function for the toolbar - Try and use CSS to achieve this.
- [ ] Attempt to show toolbar during `buildcallback` and `onLayoutChange`

[2017-06-16 20:35] camelburrito opened #9980 "[amp-sidebar 1.0] [Toolbar] Use CSS to style and Layout the toolbar"
Use CSS to style and Layout the toolbar

[2017-06-16 20:36] camelburrito opened #9981 "[amp-sidebar 1.0] [Toolbar] Add support for `toolbar-only` Attribute"
Add support for `toolbar-only` Attribute so that there is a way to exclusively add items on the toobar.

[2017-06-16 20:39] camelburrito opened #9982 "[amp-sidebar 1.0] [Toolbar] Add support for enabling `target` attribute on the toolbar"
Add support for enabling `target` attribute on the toolbar

[2017-06-16 20:47] camelburrito opened #9983 "[amp-sidebar 1.0][Toolbar] Add support for positioning the toolbar on the top or bottom"
- [ ] Add support for positioning the toolbar on the top or bottom of the page, You will need to compensate the page for the toolbar height since we don't want any part of the page to become inaccessible (hint: use border/padding/margin hacks as needed). IOS might need special compensation (look at old sidebar code.)
- [ ] Make sure this works in the viewer

[2017-06-16 20:51] camelburrito opened #9984 "[amp-sidebar 1.0][Toolbar] Support Sidebar with only toolbar content"
Will need ux / product decisions - we don't want to show empty sidebar if the sidebar only has toolbar contents

[2017-06-16 20:51] camelburrito opened #9985 "[amp-sidebar 1.0][Toolbar] Create Manual tests"
Evaluate Scenarios to be supported and create manual tests for all possible scenarios

- [ ] Sidebar with no toolbar
- [ ] Sidebar with one toolbar - min media, min & max media, max media, min 0px, no media (this scenario should not build the toolbar.)
- [ ] Sidebar with multiple toolbars on different media
- [ ] Sidebar with Multiple toolbars on same media (users could position on top or bottom)

[2017-06-16 20:58] camelburrito opened #9987 "[amp-sidebar 1.0][Toolbar] Validation + MD file polish"
Reachout to the validator team and work with them (They have offered to help with complex cases or the whole thing if needed)

Add validator support for toolbar

Work with Barb on polishing the MD file and have it ported over to the docs site.

[2017-06-16 21:00] #9699 closed

[2017-06-16 21:00] camelburrito opened #9988 "[amp-sidebar 1.0][Docking] Make the Sidebar Dockable at certain screen widths"
- [ ] Make the Sidebar Dockable at certain screen widths
- [ ] Add validation support
- [ ] update Documentation

[2017-06-16 21:12] camelburrito opened #9989 "[amp-sidebar 1.0] [Edge-cases] Docking + toolbar"
After Docking , Evaluate a combination of docking and Toobar and make decisions with @ericlindley-g and @spacedino and implement them/update validation rules as needed.

[2017-06-16 21:13] aghassemi commented on #9810
June H1: 2
June H2: 3
Total: 5

[2017-06-16 21:19] #9928 closed

[2017-06-16 21:29] #9836 closed

[2017-06-16 21:41] camelburrito opened #9991 "[amp-sidebar 1.0] Add an AmpByExample - Example"

[2017-06-16 21:53] ericlindley-g opened #9992 "Design for ABE autocomplete example"
/cc @cvializ

https://github.com/ampproject/amphtml/issues/9698

[2017-06-16 22:17] aghassemi commented on #9988
H2 June: 8

[2017-06-16 22:20] aghassemi commented on #9991
June H2: 3

[2017-06-16 22:22] aghassemi commented on #9702
June H1: 10
June H2: 3

[2017-06-16 22:29] aghassemi opened #9993 "video dock: UI controls"
part of #8088, next step to #9702

- [x] UI controls for minimized version

[2017-06-16 22:32] aghassemi opened #9994 "video dock: design work"

[2017-06-16 22:33] #9994 closed

[2017-06-16 22:51] Gregable commented on #9800
This change has been released to the validator and will be live within an hour.

[2017-06-16 23:08] #9469 closed

[2017-06-16 23:08] #569 closed

[2017-06-17 00:02] keithwrightbos opened #10000 "AdSense/Doubleclick Fast Fetch SERP ifi should reset when user swipes back to page"
Steps to reproduce:

- Load page in SERP viewer with at least one slot
- Ad Request will have ifi=1 for first slot which triggers pageview accounting
- User swipes away and swipes back.  First slot will not report ifi > 1 causing pageview to be lost

Delayed fetch uses master frame for ifi accounting which is destroyed when swiping away and thus does not have this issue.  Fast Fetch must be modifi

[2017-06-17 00:33] jasti commented on #9949
Awesome! Look forward to the PR.

[2017-06-17 04:16] levidurfee opened #10001 "[amp-gist][validator][test] Fix validator/test"
## What's the issue?

`amp-gist` isn't passing validator tests ran by `amp-by-example` repo.

## How do we reproduce the issue?

[travis-ci](https://travis-ci.org/ampproject/amp-by-example/builds/243902984) test results.

Tests should also include `data-file` attribute.

[2017-06-17 05:12] honeybadgerdontcare commented on #10001
Hey, sorry this isn't working as expected. According to the [validation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-gist/validator-amp-gist.protoascii#L33) for amp-gist `data-file` is required to be an empty string (`value: ""`).

If this is supposed to be a url then `value_url` can be used instead. If it's supposed to be anything then no `value` should be set in the validato

[2017-06-17 07:37] steffenweber opened #10002 "[Regression] Validator claims "'amp-ad' was found on this page, but is unused" although it is being used"
## What's the issue?

Since today, the AMP validator logs the following warning when loading the 'amp-ad' extension *even if 'amp-ad' tags actually exist in the HTML code*:

[code]

## How do we reproduce the issue?

1. Open https://www.computerbase.de/2017-06/dell-ultrasharp-u3818dw/?amp=1#development=1
2. Have a look at the developer tools console

Alternatively install `amphtml-validator` and r

[2017-06-17 12:41] honeybadgerdontcare commented on #10002
/cc @Gregable

[2017-06-17 13:01] honeybadgerdontcare commented on #10002
This was introduced in PR #9742. See new [test .out file](https://github.com/ampproject/amphtml/pull/9742/files#diff-75f921f16c86f0e6561f0e729b7bc902) for amp-ad.

[2017-06-17 13:16] levidurfee commented on #10001
I intended `data-file` to allow any valid filename as a string. I agree that it's best to remove `data-file` from `validator-amp-gist.protoascii`.

Updated [validator-amp-gist.protoascii](https://github.com/levidurfee/amphtml/blob/amp-gist-validator/extensions/amp-gist/validator-amp-gist.protoascii) and [test-amp-gist.js](https://github.com/levidurfee/amphtml/blob/amp-gist-validator/extensions/amp

[2017-06-17 14:27] keithwrightbos opened #10003 "Allow for master frame to be shared across networks who explicitly opt-in"
Doubleclick and AdSense need to track the number of slots on the page across networks as part of pageview accounting.  Currently this is done via the master frame however master frame allocates by including the frame type (see https://github.com/ampproject/amphtml/blob/master/3p/ampcontext-integration.js#L31) preventing this information from being accessible.

Proposed fix is to add a config optio

[2017-06-17 14:28] keithwrightbos commented on #10003
/cc @ampproject/a4a @lannka

[2017-06-17 14:50] keithwrightbos opened #10004 "AdSense/Doubleclick Delayed Fetch ensure slot count state survives pauseCallback"
AdSense/Doubleclick stores in master frame the number of slots that have sent an ad request such that the first indicates pageview.  When a user swipes away, the master frame is destroyed as part of the 3p unlayoutCallback flow such that if the user swipes back, an ad request indicating its the first slot on the page will be sent and treated as a pageview.  However, amp-analytics does not send a p

[2017-06-17 14:52] keithwrightbos commented on #10000
Sadly despite this being the 10k issue, I am closing it in favor of #10004 as it appears that amp-analytics does not send a duplicate pageview event if a user swipes back so the fix is to ensure Delayed Fetch does not trigger pageview accounting on ad requests.

[2017-06-17 14:52] #10000 closed

[2017-06-17 14:53] keithwrightbos commented on #8986
@glevitzky friendly ping

[2017-06-17 14:54] #8986 closed

[2017-06-17 15:00] Gregable commented on #10002
This was missed because it is only a warning, but I'm rolling back the javascript release for not until this is solved.

[2017-06-17 15:49] honeybadgerdontcare commented on #10001
Validator change looks good, but I'd remove the comment about it as it's not necessary (line 31)

[2017-06-17 16:06] camelburrito opened #10005 "[A11Y] [Web] Focus is not set on Lightbox when opened"
STEPS TO REPRODUCE:
Open https://ampstart.com
Navigate to Templates tab
Using chromevox, navigate to article
Navigate to view templates button and click

ACTUAL RESULTS:
Using chromevox, navigate view templates button and select. Pop up will appear with template sample. Focus is not oriented on the pop up template and is still set on the background page.

EXPECTED RESULTS:
User focus is set on pop

[2017-06-17 16:12] Gregable commented on #10002
This is now fixed.

[2017-06-17 16:12] #10002 closed

[2017-06-17 16:18] steffenweber commented on #10002
Thank you! :)

[2017-06-17 16:27] camelburrito opened #10006 "[A11Y] [iOS] Unable to navigate cells after button taps"
ENVIRONMENT:
Form factor : iPAD
Model : MC705LL/A
Version : 9.3.5(13G36)
Browser : Safari

Pre-requisite:
Turn 'VoiceOver' ON. ( Settings->General->Accessibility->VoiceOver->ON )

STEPS TO REPRODUCE:

Navigate to the URL: https://ampstart.com
Linearly navigate to the “Build with AMP Start” section.
Linearly navigate through the template carousel and move focus on the “previous item in carousel” an

[2017-06-17 20:08] cramforce commented on #8
Did you make progress on "Can everyone see the diffs?"

I think they require an invite, right?

[2017-06-17 21:01] choumx opened #10008 "Failure in test-example-validation"
[Unit and integration test breakages](https://travis-ci.org/ampproject/amphtml/jobs/243865808) on master seemingly due to #9997:

	AssertionError: expected 'DISALLOWED_ATTR [src] amp-list\nEXTENSION_UNUSED amp-bind' to equal ''
	    at /home/travis/build/ampproject/amphtml/test/integration/test-example-validation.js:120:37 <- /tmp/57e74a45ba6487b46c25745bb825b639.browserify:209513:38

/to @Gregabl

[2017-06-18 02:32] bradfrizzell commented on #10000
![image](https://user-images.githubusercontent.com/4276992/27257657-bd3e13c6-53ac-11e7-9ee7-d0d1ed9806a2.png)
congratulations!!

[2017-06-18 21:50] ericlindley-g commented on #9953
I'd prioritize this as low until we actually have something concrete to link this to — like scroll events. Sound good?

[2017-06-19 03:04] #9848 closed

[2017-06-19 03:05] mrjoro opened #10010 "Weekly Status 2017-06-19"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-06-19 11:21] SchnWalter opened #10011 "[amp-ad] AdSense support for screen orientation and viewport width changes"
## What's the issue?

The `amp-ad` element for the `AdSense` provider does not properly support device orientation or viewport width changes.

On the [Create an AMP ad unit](https://support.google.com/adsense/answer/7183212) AdSense documentation you are instructed to "Create a responsive ad unit".

And on the [About responsive ad units](https://support.google.com/adsense/answer/3213689) AdSense d

[2017-06-19 11:32] SchnWalter commented on #10011
Also, the served ads are (most of the times) responsive, so, a fixed-height layout would cause the width of the Ad to change when the browser width changes (not just the orientation), but the Ad `<iframe>` inside the AMP 3p frame.html doesn't get updated, it remains at the original width.

[2017-06-19 14:37] peterbaran opened #10012 "Intent To Implement: Adding Nielsen marketing cloud analytics config to amp-analytics"
## Implement tracking pixel of Nielsen Marketing Cloud for amp-analytics tag

For ease of use for publishers using AMP and Nielsen Marketing Cloud analytics, so the external configuration doesn't have to be used
We'll generate the Patch that can be reviewed then

[2017-06-19 14:38] kul3r4 commented on #10008
This is also impacting websites like [iene.it](https://www.iene.mediaset.it/) which is using this binding to amp-list src.

[2017-06-19 15:53] cramforce opened #10013 "Reliably shutdown server.js when gulp crashes"
Lets put in some signal trap or similar to make sure that `build-system/server.js` always shuts down when gulp crashes. It often keeps lingering and then blocks restarting gulp because it hangs on to the port.

[2017-06-19 15:54] p2er opened #10014 "Click to play broken on IE11 Win 7/8.1"
## What's the issue?

Click to play does not hide poster image and play button on IE11 Win 7/8.1. Video does not start and does not become visible. Play button and poster image remain visible. Error occurs:

SCRIPT438: Object doesn't support property or method 'includes'
File: v0.js, Line: 218, Column: 154

## How do we reproduce the issue?

1. Open https://ampbyexample.com/advanced/click-to-play_

[2017-06-19 16:09] cramforce commented on #10014
@aghassemi Could you take a look? We might need to polyfill https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes?v=control

[2017-06-19 16:17] erwinmombay commented on #10013
is there any easy way to replicate the "gulp" crashing and leaving the port in use?

[2017-06-19 16:20] choumx commented on #10008
Actually this is probably caused by #9742. The DISALLOWED_ATTR is caused by the accidental [removal of a few lines](https://github.com/ampproject/amphtml/pull/9742/files#diff-a17ce4927fbb7859b6c703250cd885edL48) and EXTENSION_UNUSED seems related to the new `requires_extension`.

I'll add the missing test cases to `validator-amp-list.html` which would've helped catch the first issue.

@Gregable, c

[2017-06-19 16:42] mrjoro commented on #9722
Hi @saqibnaveed I sent you an invitation to join ampproject on GitHub; once you accept that you can assign this issue to yourself.  Thanks!

[2017-06-19 16:44] mrjoro commented on #9738
Hi @abc516; I sent you an invitation to join ampproject on GitHub; once you accept that I think we'll be able to assign this issue to you.  Thanks!

[2017-06-19 16:46] cramforce commented on #10013
My gulp often crashes with `Abort trap: 6`.

[2017-06-19 16:57] mrjoro commented on #9867
Hi @rhapsodyai; I sent you an invitation to join ampproject on GitHub; once you accept that I think we'll be able to assign this issue to you. Thanks!

[2017-06-19 16:59] abc516 commented on #9738
OK Joey, I just joined.

On Mon, Jun 19, 2017 at 12:44 PM, Joey Rozier <notifications@github.com>
wrote:

[2017-06-19 17:11] mrjoro commented on #9713
@ui-xp I sent you an invitation to join ampproject on GitHub; once you accept we'll be able to assign this issue to you.  Thanks!

[2017-06-19 17:14] cvializ commented on #10010
- amp-by-example samples for form verification and autosuggest
- merge PR for non-canonical-origin variable substitution in amp-form
- video analytics

[2017-06-19 17:14] mrjoro commented on #9927
Hi @kellyk; I sent you an invite to join ampproject on GitHub.  Once you accept it we'll be able to assign this issue to you.  Thanks!

[2017-06-19 17:18] torch2424 commented on #10010
* Continue Working on AMP sidebar v1
* Squash some more bugs on AMP Start in my free time

[2017-06-19 17:20] mrjoro commented on #8880
Hi @yskoh; I invited you to join ampproject on GitHub.  Once you accept that we can assign this issue to you.  Thanks!

[2017-06-19 17:21] Gregable commented on #10008
It looks like a bad merge, I went through the files just now and this was the only issue I could fine.

I don't think we can revert at this point. It's 2 weeks worth of changes, and is already live in various releases. I'll make an immediate change to github though.

We should also debug why travis didn't catch this earlier if it's breaking now.