[2018-04-10 23:17] rudygalfi opened #14538 "[Master feature] amp-consent support in amp-story"
Bring the feature described in #13716 into amp-story.

[2018-04-11 03:13] micyeung commented on #13332
Ping for @cathyxz @aghassemi  - any updates here?

[2018-04-11 03:59] jamescridland commented on #14486
I think webcal would make sense to whitelist, given it is relatively well used.

I'd leave breaker up to you; I can't really think it works to have every single strange app's random protocols whitelisted. I don't quite know why you're whitelisting, to be honest - but there we are... :)

[2018-04-11 04:27] aghassemi commented on #14524
I think `i-amphtml-intrinsic-sizer` class needs a `display:block`

[2018-04-11 04:44] cathyxz commented on #13332
I'll slate this for the upcoming sprint.

[2018-04-11 08:07] mfahadi commented on #14483
So I got to test and changing any thing in `signatureUrl `, referring to your variable above, causes signature verification error. Be it time stamp or cached page URL.

[2018-04-11 08:36] flo-rider commented on #14483
Not sure what you're saying here. Does it only throw the error if you change anything, but it works if you don't change anything? I presume that it never works for you, but how can we narrow down where the issue lies exactly then? I used the private key from my SSL certificate and stored that in a file. Could I as an alternative create any random private key, store it in a static file and use that

[2018-04-11 09:45] matthias-erl commented on #13841
Let me know if there is anything I can support you with ;)

[2018-04-11 10:48] TWsky opened #14542 "amp-ad with AFS has a expand button click error"
## amp-ad with AFS has a expand button click error

## What's the issue?

A publisher use the amp-ad with AFS below the fold, the ad code they used is as
[code]

And the AFS ad (middle part of the image) show-up correctly with the decribed height and expand button
<img width="411" alt="screen shot 2018-04-11 at 6 37 28 pm" src="https://user-images.githubusercontent.com/4546841/38611881-82f7d602-3d

[2018-04-11 12:13] akabiru commented on #14487
Thanks for reopening the issue @choumx. I'm afraid I unable to share the asset here as it's still in development/requires authorisation.

I've made a quick pen here https://output.jsbin.com/kivuxid for what we're looking at.

So far I'm ruling out the following:
- does the number of amp components being loaded affect this in some way (we have 6 amp scripts)
- Toggling to a slow 3G connection makes

[2018-04-11 15:33] #7381 closed

[2018-04-11 15:51] rsimha commented on #14406
Update: With #14432, there are a few changes to note:
- We now use `sinon.mock` instead of `sinon.stub` to keep track of when `console.error` is called during tests.
- We no longer throw an error during tests when `console.error` is detected (some tests have legitimate reasons to do so). Instead, we check for `console.error` in the global `afterEach`.
- Tests can wrap code that legitimately calls

[2018-04-11 15:52] jasti opened #14548 "Block Publisher served ad story based on result from amp-consent"
Publisher may want to block requesting the ad if user consent is declined. Make this configuration optional because publishers may have other ways to collect consent. Part of https://github.com/ampproject/amphtml/issues/14538

[2018-04-11 15:54] jasti commented on #14538
- [ ] Optionally block publisher served ads based on consent status https://github.com/ampproject/amphtml/issues/14548

[2018-04-11 16:51] jpettitt commented on #14524
Agree - adding it.

[2018-04-11 17:33] cathyxz opened #14552 "`<amp-lightbox-gallery>`description overflow mask does not fill screen on iOS"
<img width="255" alt="screen shot 2018-04-11 at 10 32 14 am" src="https://user-images.githubusercontent.com/1528181/38633155-a42e5ea2-3d73-11e8-995d-4e4434b58653.png">

This was fixed for Desktop Safari but still repros on iOS.

[2018-04-11 17:38] cathyxz opened #14553 "`<amp-lightbox-gallery>` zoom doesn't work on firefox"
Double tap, pinch, and tap zoom don't work on FF Android / FF iOS. Animation also contains visible flicker at end.
Windows: lightbox doesn't open on FF Windows.

[2018-04-11 19:10] jonkeller commented on #14166
@rsimha Here is an example. I ran the following commands:
[code]

...and immediately got:
[code]

I realize I used --nobuild in executing the test. But I had just done "gulp build" immediately prior. Shouldn't this work? It always used to.

[2018-04-11 19:10] choumx commented on #14487
Thanks for the jsbin. I can't reproduce `amp-x-foo-bar-experiment` not being set on the `<body>` even with network throttling, and look at the source code I don't see a timeout. As long as the fetch of the `amp-experiment` extension itself completes, this should work.

[2018-04-11 19:10] choumx commented on #14487
/cc @lannka

[2018-04-11 19:12] jonkeller commented on #14166
Update: Then I ran the same "gulp test" command, without the "--nobuild", and got the same error:

[code]

[2018-04-11 19:24] rsimha commented on #14166
@jonkeller Yeah, you should be able to run `gulp test` with `--nobuild` after having run `gulp build`. A couple questions:
1. The error says `/Users/jonkeller/workspace/unskip_tests/amphtml/extensions/amp-analytics/0.1/test/test-amp-analytics.js` couldn't be found. That path looks weird. Can you confirm that you indeed built the runtime within that directory? (Most people do development within a f

[2018-04-11 19:30] choumx opened #14559 "Move surface-specific code out of "src""
Overall, we should try to move surface-specific code (e.g. viewer/CCT code) out of "src" and into specialty extensions if possible (which are injected by cache appropriately). For example, it doesn't make sense for publisher-origin AMP pages to incur these costs.

Example: #14450 increases v0.js by 0.3KB.

- `viewer-cid-api.js` is an example of a file that probably should live in `amp-viewer-integ

[2018-04-11 19:33] rsimha commented on #14166
@jonkeller I tried running your tests, and was able to do so successfully. See https://gist.github.com/rsimha/92f13fdab40452e9d6a1871276a5ed1e

(I'm still curious about what could be causing the errors your saw, and would love to fix it if we can find a cause.)

[2018-04-11 19:44] jonkeller commented on #14166
@rsimha
1. Yes, that is the correct path. I do create a subdir off of ~/workspace
for each branch.
2. Didn't know about --unit, will use this in the future. Thanks!
It does seem flakey - I repeated the same commands a few minutes later and
it worked fine. Then I ran "gulp test
--files=extensions/amp-analytics/0.1/test/test-visibility-manager.js
--nobuild" and it failed with the same error message,

[2018-04-11 19:51] josh313 opened #14560 "Intent to Implement: Changing <title> with amp-bind"
We should allow AMP pages to change their titles dynamically by adding a `[text]` attribute to the `<title>` tag.

[code]

cc @choumx

[2018-04-11 19:54] rsimha commented on #14166
@jonkeller I suspect this might have to do with you not using `--unit`. When you run a unit test with `--unit`, the set of test files includes just the unit tests. When you run a unit test without `--unit`, the entire build directory is included in the list of test files. This could be messing with your tests due to some logic in some component somewhere.

If we find out what the issue is, we can

[2018-04-11 19:56] jonkeller commented on #14166
Ok, sounds good to me. I will use --unit from now on. Thanks!
cc: @bradfrizzell

On Wed, Apr 11, 2018 at 3:54 PM Raghu Simha <notifications@github.com>
wrote:

[2018-04-11 20:02] akabiru commented on #14487
hmm, no worries. I'll see if there's any other way I can reproduce the issue. Cheers! 👍

[2018-04-11 20:04] choumx commented on #14487
Thanks and good luck!

[2018-04-11 20:06] #14528 closed

[2018-04-11 20:06] #14524 closed

[2018-04-11 20:12] RJSumi opened #14562 "gulp test --files does not work for test/functional/test-cid"
## What's the issue?

Using the --files flag for test/functional/test-cid produces spurious unit test breakages.  .only works, but gives a much slower startup time.

## How do we reproduce the issue?

gulp test --files=test/functional/test-cid.js --watch

## What browsers are affected?

N/A

## Which AMP version is affected?

This is a testing issue; no specific version of AMP is affected.

[2018-04-11 20:13] RJSumi commented on #14562
/cc @jridgewell

[2018-04-11 20:15] choumx commented on #14562
I don't experience this locally. Also you can use `--nobuild` for unit tests for a much faster run.

[2018-04-11 20:48] alabiaga commented on #1156
@sanjsanj I just looked through this issue and I believe we can remove SVG from the blacklist without issue...as I quickly prototyped a local PR with the changes allowing this. The html sanitizer will already remove the necessary markup to disallow scripting the SVG, which I am assuming is not something you are trying to do.

@molnarg what are the many ways of scripting SVG? is it not only via the

[2018-04-11 22:01] alankent commented on #4191
What about seasonal themes? During Christmas, I make significant changes to the CSS and look of the site to make it feel more seasonal. The CSS is in the AMP page, not fetched via amp-bind/amp-state etc. To stop Christmas themed pages coming up for tail products later, I think it would be useful for a site to control the stale-while-revalidate timeout. E.g. a site might set it to a value like a fe

[2018-04-11 22:09] ericlindley-g commented on #4191
That a good use case to cover — I think the solution would be to fix this directly in a given AMP Cache. My assumption is that the existing update-cache request for the Google AMP Cache would trigger a fetch on too many pages at once for some merchants to be practical (?)

@alf7 and @rudygalfi for thoughts

[2018-04-11 22:10] #13118 closed

[2018-04-11 22:24] cramforce commented on #4191
The update cache API is the way to go. Merchants can throttle requests so it doesn't overwhelm themselves.

[2018-04-11 23:05] alankent commented on #4191
First, yes, if a ecomm site had 1M SKUs, that would be 1M update-cache requests.

But more importantly, you are assuming the Google AMP Cache is the only cache. A merchant should not have to know what caches have been implemented. Making the merchant responsible to set a stale-while-revalidate (or max-stale or whatever) timeout header is fine, but asking them to keep an up to date list of caches s

[2018-04-11 23:41] cramforce commented on #4191
The way use of the API is documented, it automatically picks up new caches.
https://developers.google.com/amp/cache/update-cache

It would definitely be good to hear from e.g. AliExpress how they are
handling the problem.

I'm open to thinking about changes, but this is a clear case where our main
design rule comes into play:
https://github.com/ampproject/amphtml/blob/master/contributing/DESIGN_PR

[2018-04-11 23:53] cramforce commented on #14560
Ship it.

[2018-04-11 23:55] #11989 closed

[2018-04-12 00:08] rudygalfi commented on #13716
Moving discussion from https://github.com/ampproject/amphtml/pull/14557#issuecomment-380626787 to here for more visibility (@zhouyx @src-code) regarding support for multiple consent instances.
@src-code:

@src-code, can you provide more details on the use case and user experience? As @zhouyx said, we're going with single consent support for now, but that's mainly because we'd like to collect feedb

[2018-04-12 00:27] cramforce commented on #14181
The spec looks mostly good to me. My main feedback is that there should not be additional limitations on the CSS. We should go back to the email team and have see if we can get that changed. Until then I'm withholding my LGTM.

[2018-04-12 00:28] aghassemi commented on #14181
## Notes
### AMPHTML Email spec

To establish a new AMPHTML format for email to allow sending a  conservative subset of amp documents.

-Q: Does gmail add additional CSS restrictions on top of AMP?
-A: We will just take the gmail CSS restrictions and validate against that.

-Q: What's the reasoning behind blocking navigateTo since links do a similar thing
-A: mail clients want to override <a> link

[2018-04-12 04:51] #14181 closed

[2018-04-12 06:16] #14560 closed

[2018-04-12 06:19] Jade05 opened #14569 "Range type amp-date-picker: cann't keep the selected state when choosing a larger date"
Hi, when i use amp-date-picker with range type, I find a little thing that can be improved.

For example,

#### When i choose 1st May and 10th May, the area from 1st May to 10th May is marked selected as below:

![date1](https://user-images.githubusercontent.com/5029635/38658898-9214ea7e-3e59-11e8-89a4-0b35803e3403.jpg)

#### Then, if I choose 30th Apr(a smaller date), the previous selected dates

[2018-04-12 07:05] liamqma opened #14570 "AMP Appnexus 'below the fold' ads not showing up"
## What's the issue?

For AppNexus ads, if using AST setup, 'showTag' function does not trigger for the 'below the fold' ads.

## How do we reproduce the issue?

Please see the example at https://codepen.io/liamqma/pen/yKrbPW

You should see the 'above the fold' ad rendered. However, if you scroll down to the bottom of the page, the 'below the fold' ad does not render. If I remove the big chunk of

[2018-04-12 07:08] liamqma commented on #14570
Maybe it's related to https://github.com/ampproject/amphtml/pull/14038

[2018-04-12 11:42] newmuis opened #14572 "Story-level background-audio should be paused during advertisements"
Whenever an advertisement is active, story-level background audio should be paused.  Once the advertisement is no longer active, the background audio may be resumed.

/cc @jasti

[2018-04-12 11:44] newmuis opened #14573 "Write documentation for upgrading amp-story to new version"
There will be format specification differences between versions 0.1 and 1.0 of amp-story.  Although [amp-story.md](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story.md) should always have complete documentation for the latest version, we should also consider writing documentation specifically targeted at those already using 0.1 who wish to upgrade to 1.0.

[2018-04-12 11:46] newmuis opened #14574 "amp-story canshowsystemlayerbuttons does not affect desktop UI"
The `canshowsystemlayerbuttons` state in the `AmpStoryStoreService` should hide all system UI buttons.  This works in the mobile UI, but the desktop UI remains unaffected.  We should change this to also affect the desktop UI.

[2018-04-12 12:06] newmuis opened #14575 "Consider using aria-roles for indentifying amp-story navigational clicks"
We consider all clicks on the amp-story system layer as navigational, unless they are on "protected elements":

https://github.com/ampproject/amphtml/blob/09ecc372d357df8aea3559177da4ccf558693ac0/extensions/amp-story/0.1/page-advancement.js#L305-L312

The list of protected elements is:

https://github.com/ampproject/amphtml/blob/09ecc372d357df8aea3559177da4ccf558693ac0/extensions/amp-story/0.1/pag

[2018-04-12 12:42] newmuis commented on #14199
Duplicate of #14538

[2018-04-12 12:42] #14199 closed

[2018-04-12 15:13] rsimha commented on #14406
Update: With #14549, all the tests that were skipped in #14336 are now re-enabled. When a test contains a `console.error` that's not wrapped in `allowConsoleError`, a warning will be printed with instructions. Tests will continue to pass for now.

Once all errors are cleaned up, we will go back to failing tests with unexpected errors.

[2018-04-12 15:47] jasti commented on #14572
I guess this is already not working in publisher served ads? i.e the audio continues to play even during the ad?

[2018-04-12 15:55] newmuis commented on #14572
I haven't tested this, but don't recall any code to handle this being written, so I think you are correct.

[2018-04-12 16:24] jizzy73 opened #14579 "Request to allow amp-lightbox-gallery doc-level-opt-in"
is it possible to add amp-lightbox-gallery to the prod-config.json?

[2018-04-12 17:50] jridgewell commented on #14178
Allowing inline styles should not require any new uses of `!important`.

`element.style.prop` and `element.style.prop = 'x'` should already be forbidden.

[2018-04-12 18:00] #11834 closed

[2018-04-12 19:07] jridgewell commented on #14178
Additionally, I'm worried about browser bugs that we'll encounter with this.

For instance, when I [fixed](https://github.com/ampproject/amphtml/pull/11344) a bug with `FixedLayer`'s [interaction](https://github.com/ampproject/amphtml/issues/11340) with `<amp-sticky-ad>`'s `top: 0 !important`, we got a new [bug](https://github.com/ampproject/amphtml/issues/11453) in Safari we can't directly unset

[2018-04-12 19:20] danielrozenberg opened #14587 "Fail/warn on tests that use `allowConsoleError` but don't actually call `console.error`"
Followup to #7381. Now that we fail (or for now, warn) on tests that call `console.error` without expecting it, we should prevent test writers from being overzealous with `allowConsoleError(() => { … });` - this method should fail or warn on the test if the code inside it does _not_ call `console.error`.

This can help us avoid tests that technically pass, but do nothing, because the code behind t

[2018-04-12 19:30] alabiaga commented on #14178
@jridgewell  Yes, I saw that usage in fixed layer. I reverted the new usage of !important from #14424. Thanks

Is this true? the following usage in amp-story-grid-layer.js was not caught

element.style[propertyName] = attribute.value;

and i also tried linting with the following

`element.style.width` = ...

and it was not flagged..thus this PR #14547. Let me know if i am missing something? Thanks

[2018-04-12 19:36] alabiaga commented on #14178
@jridgewell

nvm. found it.

[15:23:09] Starting 'presubmit'...
[15:23:16] Found forbidden: "style.width = " in extensions/amp-story/0.1/amp-story-grid-layer.js:151:13
[15:23:16] Use setStyle instead!
[15:23:16] ==========
[15:23:20] Please remove these usages or consult with the AMP team.

a presubmit check. A lint check would catch it faster. Thanks

[2018-04-12 20:04] jridgewell commented on #14562
/to @rsimha

[2018-04-12 20:15] rsimha commented on #14562
Also, can you post a gist of the spurious unit test breakages? How slow is the startup time, and where does it look like it's waiting? Are you fully synced to `HEAD`? (There have been a bunch of test infra changes over the past couple days.)

[2018-04-12 20:22] Enriqe opened #14591 "Remove old amp-story bookend API references"
We are working on implementing a new API for the bookend in amp-story in #12167, but we are still going to support the current one for some time.

After the new API is implemented and when we think it's time to deprecate the old one, we will need to remove all references that use the old API.

[2018-04-12 20:38] mrjoro opened #14593 "Design Review 2018-04-25 20:00 UTC (AMPCORS)"
Time: [2018-04-25 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=04&day=25&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180425T200000Z/20180425T210000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-04-12 20:38] mrjoro opened #14594 "Design Review 2018-05-03 00:00 UTC (Asia/Oceania)"
Time: [2018-05-03 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=05&day=03&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180503T000000Z/20180503T010000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-04-12 20:38] mrjoro opened #14595 "Design Review 2018-05-09 15:30 UTC (cancelled)"
**We're cancelling this design review since many people who normally attend will be at AMP booths/office hours/talks at Google I/O.**

Time: [2018-05-09 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=05&day=09&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180509T153000Z/20180509T1630

[2018-04-12 20:57] flo-rider commented on #14483
Ok, I've now created some test private and public keys, but still I get the same 403 error: URL signature verification error. That’s all we know.

Steps I took:

Generate private key:
openssl genrsa 2048 > private-key.pem

Generate public key:
openssl rsa -in private-key.pem -pubout > public-key.pem

Create certificate signing request:
openssl req -new -key private-key.pem -out certificate.csr

Cr

[2018-04-12 20:57] jaspermdegroot opened #14597 "amp-story development mode features affect audio control position"
The presence of the three (invisible) icons of the `amp-story` development mode features (PR #11627) result in the audio control not floating all the way to the right.

It also seems like the development mode features don't work since the icons are invisible, but maybe that's just because of issues with the CSS.

<img width="1552" alt="screen shot 2018-04-12 at 22 31 12" src="https://user-images.g

[2018-04-12 21:10] jpettitt opened #14599 "amp-bind turing.amp.html example is broken."
The turing.amp.html example is broken.

It's logging console errors: Expression size (199) exceeds max (50).

[2018-04-12 21:15] #14595 closed

[2018-04-12 21:17] mrjoro opened #14600 "Design Review 2018-05-16 20:00 UTC (Americas)"
Time: [2018-05-16 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=05&day=16&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180516T200000Z/20180516T210000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-04-12 21:17] mrjoro opened #14601 "Design Review 2018-05-24 00:00 UTC (Asia/Oceania)"
Time: [2018-05-24 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=05&day=24&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180524T000000Z/20180524T010000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-04-12 21:17] mrjoro opened #14602 "Design Review 2018-05-30 15:30 UTC (Africa/Europe/western Asia)"
Time: [2018-05-30 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2018&month=05&day=30&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20180530T153000Z/20180530T163000Z&details=https%3A%2F%2Fhangouts.google.com%2Fhangouts%2F_%2Fgoogle.com%2Famp-eng-desrev))
Location: [Video conference via Google Han

[2018-04-12 21:26] choumx commented on #14599
It predates the expression complexity limit. We should just remove this example.

[2018-04-12 21:59] #14587 closed

[2018-04-12 22:14] #14486 closed

[2018-04-13 00:40] jasti opened #14605 "Improve publisher served ad stories documentation"
Add the following details:
- link to CORS support
- Gotchas around grid layer support
- link to Mustache support
- Purge old documentation - https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story-auto-ads.md

Related to #12381

[2018-04-13 04:15] aghassemi commented on #14513
@casbboy yes, there is no restriction on `amp-ad` inside `amp-lightbox`. here is sample https://ampb.in/#-L9xC_EHpLncyGp6SLlV

[2018-04-13 04:15] #14513 closed

[2018-04-13 04:30] choumx commented on #14514
Must be a bug -- thanks for reporting this. You can try replacing with a whitespace char instead in the meantime.

[2018-04-13 05:00] NithishReddy opened #14608 "amp-sticky-ad sticky is not working with html"
custom html in  amp-sticky-ad is not working after google update it's amp-sticky-library, before update it's working fine.
`<amp-sticky-ad layout="nodisplay">
  <amp-ad width="0" height="200" type="doubleclick" layout="responsive">
            <div>
                Sticky ad
            </div>
        </div>
    </div>
  </amp-ad>
</amp-sticky-ad>`

Any help?

[2018-04-13 06:37] obeyer commented on #11455
Hi @codewiz,
Could you please help with the same issue that other have? I keep getting:
403. That’s an error.
Your client does not have permission to get URL /update-cache/c/s/www.popsugar.com/fashion/Olivia-Munn-Red-One-Piece-Swimsuit-44352095/amp?amp_action=flush&amp_ts=1523601115&amp_url_signature=AUNLk1uRInwqbvJm11wPnHAhRDbmb68lqIpdBWJZ5-xRfwRZQfTLNR9zqQ5fbii0MkHwCh9z0U--0yJCewMc1kZ_S1Z1uLt7WJ

[2018-04-13 07:56] obeyer commented on #11455
I had the same issue. my problem was:
1) I used phpseclib\Crypt\RSA, and it wasn't signing it in a way that was expected apparently. once I switched to openssl php library, and used OPENSSL_ALGO_SHA256 in openssl_sign(), it finally worked! 2) also, I was only replacing + and / for web-safe encoding. After reading comments, I added = to it as well, so it looks like this:
$encoded_signature = str_re

[2018-04-13 08:26] Dimasmagadan commented on #11455
Hey @obeyer
thanks for an update. I've tried to replace '=' as well, but it didn't work.

The resulting generated link is this one:
/update-cache/c/s/studentloanhero.com/featured/fico-auto-score-guide/?amp_action=flush&amp_ts=1523607919&amp_url_signature=pj_Q-MhePQ2_vA9i-MTe4pBva5dy7FiXbusIBRY4yM0I9csgFG_-oZDxQcB7nx1RgTmoQw6reNJnDzzTKr1rQeK_UnT1e0E7UtshSkK545eMv3wV-PTDiWc4d2L8DW7FbkqoHUsT_gDEMdbup

[2018-04-13 15:38] rsimha commented on #14587
Good call on filing this. There are several tests that don't really need `allowConsoleError`, and this should help weed out the unnecessary uses.

Search https://gist.github.com/rsimha/1fd65d747250f8e84531432eb5e740b9 for `contains an "allowConsoleError" block that didn't result in a call to console.error`.

[2018-04-13 16:25] yskoh commented on #13282
Hi @lannka,
Is this issue still open?
If so, I'd like to work on it :)

[2018-04-13 17:27] lgrrealag opened #14612 "amp-ad data-enable-refresh does not work in Safari"
Enabling ad refresh on a sticky ad works fine with Chrome on Android, however it does not work appear to with Safari and Chome on iOS.

<amp-sticky-ad layout="nodisplay">
	<amp-ad width=320 height=50
		type="doubleclick"
		data-slot="doubleclick-ad-slot"
		data-enable-refresh="30">
	</amp-ad>
</amp-sticky-ad>

In Chrome on Android the ad slot refreshes every 30 seconds with a new ad. In Safari the

[2018-04-13 18:06] #12713 closed

[2018-04-13 18:07] #13314 closed

[2018-04-13 18:08] cathyxz commented on #13789
Submitted via G3.

[2018-04-13 18:08] #13789 closed

[2018-04-13 18:45] #13573 closed

[2018-04-13 20:21] mrjoro opened #14616 "Status Update 2018-04-16"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-04-13 20:43] sjmeff commented on #13716
Is there a way to detect location on AMP pages? In the case of GDPR, we would only want to show the AMP consent messages to readers who are in the EU.

[2018-04-13 20:52] zhouyx commented on #13716
@sjmeff BYI: There is `<amp-geo>` extension that is currently under development.

[2018-04-13 21:40] cvializ commented on #13903
I am not able to reproduce on an Android device Samsung J2 Prime / Chrome 65. Is there an example document where this was reported to be happening?

[2018-04-13 21:42] kristoferbaxter commented on #14329
### AMP Script

**Accomplished**
1. Chicago Roadshow
2. DOM Document API
3. Mutation + Property Observer

**What's Next**
1. Transmission of Mutations between threads.

[2018-04-13 21:49] choumx commented on #14480
/cc @alabiaga

[2018-04-13 21:55] jpettitt commented on #13716
@sjmeff [`amp-geo`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/amp-geo.md) is in the current dev-channel build.  The server side is not yet deployed but you can test it with #amp-geo=XX to force the country code.  It should be fully functional early next week, just waiting on a final code review sign off.

[2018-04-13 22:00] jpettitt commented on #14616
Geolocation via [`amp-geo`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/amp-geo.md) is in the current dev-channel build.  The server side is not yet deployed but you can test it with #amp-geo=XX to force the country code.  It should be fully functional early next week.

[2018-04-13 22:24] cvializ commented on #14516
Able to reproduce at demo site https://valiant-voyage.glitch.me/ (code at https://glitch.com/edit/#!/valiant-voyage). Will investigate root cause

[2018-04-14 00:17] aghassemi commented on #13903
@cvializ Good news! I had "Experimental web Features" enabled on my chrome and that was messing this up.

Phew!

Closing the issue, thanks for investigating.

[2018-04-14 00:17] #13903 closed

[2018-04-14 12:51] IdoMor commented on #13105
@choumx,
We had created a PR.
https://github.com/ampproject/amphtml/pull/14521

As you will see, we are loading our widget's JS using AMP.
In the JS, we are interesting to know the actual URL in which the widget is loaded from.

Unfortunately, when loading the widget in the AMP example, the URL refers to the Iframe URL and not for the actual URL.

My question is, is there some bast practice in whi

[2018-04-14 13:04] Refurb opened #14624 "Background-audio does only work for 8 pages"
## What's the issue?

I'm using background-audio in Google AMP Story, it's doing fine in the first 8 pages. But from page 9 it doesn't work anymore.

## How do we reproduce the issue?

Create 9 pages, all with background-audio

## What browsers are affected?

All

## Which AMP version is affected?

1523662348051

## Note
Is there any other thing I can do? Looks like amp-audio doesn't work too. I w

[2018-04-14 13:30] ayumihamsaki commented on #13716
Hello,

Can I ask a few more questions, as next week I want to start coding GDPR into lots of websites and also there are lots of Googlers and clever people here so I am sure I will get a good reply!

From looking at a lot of Plugins from other developers they have created an annoying pop-up / banner method, which I think is poor UX and also would not pass a Google Interstitial Penalty.

I was thi

[2018-04-14 16:43] IamAlta opened #14625 "REQUEST: <amp-selector> Require one or multi options"
**Please only file bugs/feature requests for AMP here.**
## What's the issue?

<amp-selector>
Can you kindly add to your list to allow "required" for <amp-selector required name='myname"> <div options="1">...
For now, I'm making the first one selected, but it would be nice to have it "required" so people read the choices.
Either require-one or require-multiple would do if you can.

## How do we re

[2018-04-14 18:49] flo-rider commented on #14483
@mfahadi could you help please? Would you need anything else from me to be able to test on your end? Thanks!!

[2018-04-15 17:49] IamAlta commented on #5305
Putting an id on the header doesn't work if you use dynamic coding where all ID's need to be in the style sheet. E.g., what if you had 3 or 4 accordions on a page? Each needs its own ID. You need to anticipate that and ensure they are all in the stylesheet.

This should be a quickie for you to fix.
The styling for the <amp-accordion><header> is being overridden by the amp code styling, .i-amphtml-

[2018-04-15 17:54] IamAlta commented on #5305
Putting an id on the header doesn't really work if you use dynamic coding where all ID's need to be in the style sheet. E.g., what if you had 3, 4+ accordions on a page (which my client has)? Each needs its own ID. You need to anticipate that and ensure they are all in the style sheet.

This should be a quickie fix.
The styling for is being overridden by the amp code styling, .i-amphtml-accordion-

[2018-04-15 19:09] dmitriid commented on #13600
@cramforce commented on Feb 22 (52 days ago):

Meanwhile there are great essays on how "the project is well lit" and how "we must have empathy".

[2018-04-15 23:40] IamAlta opened #14627 "amp-accordion header with amp-img -> lightbox image doesn't work"
**Please only file bugs/feature requests for AMP here.**
## What's the issue?
amp-accordion header won't allow an image with a tap to enlarge (lightbox).
input type="radio" in the header doesn't work, either.

I tried a very large z-index on the amp-img but it doesn't work.

amp-select won't work because it's used in the second child of the accordion sectio> and amp-select cannot be nested.

## Ho

[2018-04-16 02:36] meistudioli opened #14629 "Is it possible to add method play on <amp-audio>"
To whom it may concern:

I like to add some sound effect when some element has been tapped.  I wonder is it possible to add method play on &lt;amp-audio&gt;, so I could take control when to play it.

Sample code:
[code]

Thanks for replying.

Paul

[2018-04-16 03:07] newmuis commented on #14624
Thanks for the report @Refurb!  To clarify, are you using the `background-audio` attribute on the `<amp-story>` element?  Or on multiple different `<amp-story-page>` elements?

[2018-04-16 03:30] meistudioli opened #14631 "Is it possible to add event for Long-Press Gestures"
To whom it may concern:

I wonder is it possible to add event for Long-Press Gestures. So develops could do more vivid interaction on AMP pages, such as Instagram.

Sample code:
[code]

Thanks for replying.

Paul

[2018-04-16 06:06] Refurb commented on #14624
Multiple amp-story-pages.
All different mp3's. And from amp-story-page #9 the mp3's stop working.

Any idea? :-)

[2018-04-16 07:25] insanesvk opened #14632 "amp-sidebar - make the empty div injection configurable"
Whenever amp-sidebar is used, amp injects the following html to the bottom of the sidebar:

`<div style="height: 10vh; width: 100%; background-color: transparent;"></div>`

In some cases, this is really annoying and I had to go with a workaround that would not display such div. It would be really good if this empty div would be configurable via a special (optional) property.

Thanks

[2018-04-16 07:50] mcmd commented on #10837
@robinpokorny what issues? doc-related and in the documentation ([ampproject/docs](https://github.com/ampproject/docs))?

[2018-04-16 09:05] dlehmhus commented on #14519
@aghassemi yes it happens reliably, but still it is sporadically. I also witnessed the problem on a smartphone  (Android 8.1.0 / Chrome 65.0.3325.109) !

[2018-04-16 09:46] #13998 closed

[2018-04-16 13:01] kul3r4 opened #14634 "Unmeaningful console errors for null content in object map when amp-bind evaluation"
When using an object map with amp-bind, I get errors like

for each element when the key is not contained. It should be possible to check if the value for the specified keys exists without getting an error if it doesn't (and it returns null)
To reproduce, open [https://amp-playground.appspot.com/amp/5660612814176256](https://amp-playground.appspot.com/amp/5660612814176256), open the Chrome console

[2018-04-16 13:13] ithinkihaveacat opened #14635 "AMP Story: progress bar "skips" two pages at the same time"
## How do we reproduce the issue?

- https://www.washingtonpost.com/graphics/2018/national/amp-stories/the-5-biggest-political-headlines-facebook-and-paul-ryan/ (on mobile device or mobile emulator)
- tap through a few pages, until a video of a woman in a red jacket appears
- tap on the right hand side of the screen

Actual:

- the progress bar shows two pages being "advanced" simultaneously (also

[2018-04-16 13:15] Tonsil commented on #13716
You have an error in your example. In here:
[code]
Either the button should have the text "Accept" or the action should be dismiss. Also, I noticed that fancy quotes have crept in; you might want to remove those.

[2018-04-16 13:29] bradfrizzell opened #14636 "Getting lots of travis errors due to changes to the test runner, unclear how to proceed"
I am getting a lot of [travis errors](https://travis-ci.org/ampproject/amphtml/jobs/366290414) on my [PR](https://github.com/ampproject/amphtml/pull/14563)

These errors appear to maybe be related to: https://github.com/ampproject/amphtml/issues/14406

I have tried rerunning a couple times now, and see the same thing. Unsure how I should proceed with these errors.

[2018-04-16 13:37] newmuis commented on #14635
This is technically not a bug in the code.  The issue is that when transitioning from auto-advance pages to manual-advance pages (or vice versa), this appears because the auto-advance page appears to have 0% progress in its initial state, whereas the manual-advance page appears to have 100% progress in its initial state.  As a result, when going back from a manual-advance page to an auto-advance p

[2018-04-16 14:17] newmuis commented on #14624
This seems like a duplicate of #13476; I will migrate the conversation there.

[2018-04-16 14:17] #14624 closed

[2018-04-16 14:19] newmuis commented on #13476
/cc @Refurb who had this issue in #14624

@alanorozco does the video refactor affect audio at all?  I'm wondering whether we are good to start investigating this now, or whether it makes sense to wait until after the video refactor lands.

[2018-04-16 14:26] jpettitt opened #14637 "Allow form element default values to be set from amp-state"
I'd like to allow form element default values to be set from `amp-state`.  Currently `amp-bind` operates on user interaction so initial state state (eg `[selected]`) can't be set from an `amp-state`.  An example use case would be allowing the `amp-state` injected by `amp-geo` (or loaded from a CORS endpoint) to set a default currency on an ecommerce site.

[2018-04-16 14:34] jpettitt commented on #14608
`amp-sticky-ad` can only have one child element which must be `amp-ad` you can however use `:before` or `:after` CSS to add tag text above or below the `amp-ad` tag.

[code]

![image](https://user-images.githubusercontent.com/524856/38815273-67ac1734-4148-11e8-9f6a-b638432ca40d.png)

[2018-04-16 14:36] #14608 closed

[2018-04-16 14:57] rsimha commented on #14636
@bradfrizzell Your build didn't fail due to the console errors (they're printed so test owners can clean them up, and don't fail tests). The build failed due to some tests timing out on Safari: https://travis-ci.org/ampproject/amphtml/jobs/366290414#L698-L699 Unfortunately, short of rewriting all the integration tests, the only way past this is to re-run your tests.

If you sync to `master` and ru

[2018-04-16 14:57] #14636 closed

[2018-04-16 15:06] meschiany opened #14638 "FR: Add support for data-vars-* to video events"
I hope I am not mistaken in the platform or forum and not crossing any guideline, if so, truely sorry.

Assuming I have a couple of `<amp-video>` elements and I want to send player events of trigger `video-play` [https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-video-analytics.md] and I want to send the data-vars as query param for the in house analytics.

the click e

[2018-04-16 15:27] flo-rider commented on #14483
@mfahadi Something weird happens now: I've created the keys and checked URL validation locally, all works. However, I now get the error "Invalid PEM key" upon requesting: https://www-toptrouwen-nl.cdn.ampproject.org/update-cache/c/s/www.toptrouwen.nl/artikelen/132/het-uitwisselen-van-de-trouwringen-hoe-voorkom-je-bloopers/amp?amp_action=flush&amp_ts=1523891707&amp_url_signature=gCAJkA4BpchUL6Z9CN5

[2018-04-16 16:00] thebinarium commented on #3586
This is still happening under almost identical circumstances as described in the original report, but in my case it's a nested `<amp-lightbox>` -> `<amp-accordion>` -> `<amp-img>`. Setting the accordion to `expanded` ensures that the images are always loaded when the `lightbox` is opened, but this is not a viable workaround for our use case.

[2018-04-16 16:06] aghassemi commented on #3586
@thebinarium Thanks for reporting, do you mind creating a new GitHub issue? Thanks you!

[2018-04-16 16:15] mfahadi commented on #14483
That is weird. I guess you placed your private key by mistake in apikey.pub and google cached it.

I generated a cache-update URL for your site for [this ](www.toptrouwen.nl/artikelen/132/het-uitwisselen-van-de-trouwringen-hoe-voorkom-je-bloopers/amp) document and got OK response from google when opened it via browser. So public key was working correctly the time I tested it, same time I posted co

[2018-04-16 16:29] #14574 closed

[2018-04-16 17:02] lannka commented on #13282
you can try here first. or, there other options via Slack or Google group: https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#discussion-channels

[2018-04-16 17:04] kristoferbaxter commented on #14616
### AMP Script

**Accomplished**
1. Transmission of Mutations between threads.

**What's Next**
1. Transmission of Events between threads.

[2018-04-16 17:24] aghassemi commented on #14329
## UI

### What's done!
- Support for `input type=date` as the input for `amp-date-picker` https://github.com/ampproject/amphtml/pull/14451
- Locale support fix for `amp-date-picker` #14616
- Clear input fix for `amp-date-picker ` #14326
- `amp-date-picker` is now at doc-level optin experimental stage
- `open` action for `amp-lightbox-gallery` #14618
- Various bug fixes for `amp-lightbox-gallery`

[2018-04-16 17:41] thebinarium commented on #3586
@aghassemi can do!

[2018-04-16 18:05] dis-aster-ous opened #14642 "[Layers] amp-lightbox > amp-accordion > amp-img do not load if the accordion isn't expanded by default"
## What's the issue?

When nesting an amp-img within an amp-lightbox and amp-accordion (`<amp-lightbox>` -> `<amp-accordion>` -> `<amp-img>`), the image will not be loaded if the accordion is closed by default. However, if the accordion defaults to `expanded`, the image will be rendered.

## How do we reproduce the issue?

To see the images in their unloaded state:
1. Visit https://genius.com/amp/

[2018-04-16 18:14] jasti opened #14644 "Stories break with publisher served ads when using adblock"
Story pages shouldn't break.
- Show blanks where ads are
- Completely remove the ad when adblock is detected

CC @newmuis @calebcordry

[2018-04-16 18:16] jasti commented on #14644
[ad-block-stamp.zip](https://github.com/ampproject/amphtml/files/1916646/ad-block-stamp.zip)

[2018-04-16 18:27] cathyxz commented on #14632
Hi @insanesvk !

This div comes from https://github.com/ampproject/amphtml/pull/2823. It should show up on iOS / safari only and its purpose is to compensate for the fact that iOS safari has a bottom navbar, so that the sidebar doesn't try to squish items into the navbar.

[code]

Could you give an example of how it interferes with the UX / functionality of what you're trying to achieve?

[2018-04-16 18:30] aghassemi commented on #14642
/cc @jridgewell another good test case for Layers.

[2018-04-16 18:39] danielrozenberg commented on #14627
This seems to be a duplicate of #14642. Please reopen if you think otherwise :)

[2018-04-16 18:55] jridgewell commented on #14642
For now, this is a bug with accordion not laying out its children.

[2018-04-16 19:14] flo-rider commented on #14483
Disabling the caching on this file solved the issue, thanks! :-D

[2018-04-16 19:59] cathyxz commented on #14627
This is due to the fact that we register a clickHandler on the entire `<header>` section and use that to toggle the collapse / expand of the section. Currently links are special cased. To solve the `amp-img` lightbox issue, we could special case anything with an `on="tap"` to avoid triggering the header toggle. This would solve the issue for anything that the developer chooses to manually set a ta

[2018-04-16 20:02] cathyxz commented on #14627
Oh oops, race condition. Sorry I didn't realize it was a duplicate.

[2018-04-16 20:47] cathyxz commented on #14530
Going to close this issue in favor of filing one on ABE, since most of the rest of this pertains to ABE anyway.

[2018-04-16 20:47] #14530 closed

[2018-04-16 20:50] sebastianbenz commented on #14257
Hey Carlos! Are there any updates on this bug? Thanks!

[2018-04-16 20:51] cvializ commented on #14182
Maybe discuss input masking #12079

[2018-04-16 20:54] cvializ commented on #14257
Not yet. The solution will need a better solution than the one in the PR above.

[2018-04-16 20:57] flo-rider commented on #14483
Hi @mfahadi , sorry one final question. Your code works on my local Windows 10 machine, but throws an error on my Windows Server 2016 production machine: https://www.toptrouwen.nl/test2
What's going on here? I looked here https://stackoverflow.com/questions/22581811/invalid-provider-type-specified-cryptographicexception-when-trying-to-load-pri, but don't think that's the solution since I'm already

[2018-04-16 21:13] cathyxz commented on #13313
This was one of those heisenbugs that disappeared after a few rounds of QA.

[2018-04-16 21:13] #13313 closed

[2018-04-16 21:17] Gregable commented on #6281
I had lost this thread. Added to 'Category: Validator' so I won't again.

I found the unfurling image you mentioned here: https://api.slack.com/docs/message-link-unfurling

However, even in that image, they use both `content=` and `value=` in the same doc. I think slack's examples here are probably a typo. Likely they just accept either. The twitter docs (https://developer.twitter.com/en/docs/twee

[2018-04-16 21:35] #14388 closed

[2018-04-16 22:57] IamAlta commented on #14627
Hi @cathyxz
Thank you for taking the time for this.

My client sells stuff.
Some products are configurable such as
PRODUCT A
Option A1 has selections that depend on what is selected. When Option A1 is selected, those selections show up. E.g., these are hidden until Option A1 is selected.
  RADIO A1 = Red
  RADIOA2 = Blue

Option A2 has DIFFERENT selections (e.g., list of radio options) that depend

[2018-04-16 22:58] #10902 closed

[2018-04-16 23:16] westonruter commented on #5396
I see the validator updates are now live.

[2018-04-16 23:48] cathyxz commented on #14627
Thanks a lot for the context! That helps a lot. Okay, I think there are two separate issues we want to solve here. The first one, allowing lightboxed images to open in lightbox, is easy. We can and should just special-case elements with `on="tap"` defined in `<amp-accordion>`.

The second issue, nesting collapsable selectors based on user selection, is a bit more complex. Let me first clarify that

[2018-04-16 23:54] jridgewell opened #14657 "Build step: Reduce static template whitespace"
Post #14623, there is one more requirement necessary for the best build sizes.

Given some static template, it will be common for us to place newlines/leading whitespace after elements (and before the first element):

[code]

The problem is, all this whitespace adds up. It can't be stripped by default, because template literals allow newlines and whitespace. Breaking up the templates into multiple

[2018-04-17 00:10] jridgewell opened #14658 "Build Step: Transform Tagged Template Literals into Simple Code"
Post #14623, we'll have a lot of code using the ``` html`<div />` ``` Tagged Template Literal.

But, the output of TTLs is very large:

[code]

Notice the duplication between the `var $0` and `$0.raw`. For the `html` static template helper, we **never** use `raw` (it's actually forbidden in the linter), we only use the cooked value (the first array).

So, we can do a simple build transform (for th

[2018-04-17 00:30] ericlindley-g commented on #14625
/cc @aghassemi

@IamAlta , can you clarify your request? I don't quite understand the ask yet. Thanks!

[2018-04-17 00:59] nainar commented on #14150
Demos (for both phases) are here: https://ampnainar.herokuapp.com/examples/article-fade-in.amp.html

[2018-04-17 01:24] newmuis opened #14659 "Migrate amp-story to use static HTML template helper"
Once #14623 is merged, we should migrate amp-story to use the static HTML template helper instead of simple-templates.

[2018-04-17 03:39] meistudioli opened #14661 "Event listener add expression to decide which method should be executed"
To whom it may concern:

I wonder is it possible to add expression on event listener  to decide which method should be executed.

Sample code:
[code]

Thanks for replying.

Paul

[2018-04-17 04:06] Jade05 commented on #14484
@cvializ

Yes.
According to our testing, this error can't be reproduced on chrome of mac but windows. The Enviroment is chrome62, win7.

When it is ok, the date can open expectedly

![s1](https://user-images.githubusercontent.com/5029635/38848029-594e5c84-4237-11e8-94de-662554eeb1f8.png)

or,
![f1](https://user-images.githubusercontent.com/5029635/38848050-79fef9d4-4237-11e8-82dc-79f3fbf93a89.png)

[2018-04-17 05:18] stoneshower commented on #4405
@zhang-90
Your solution works. Great work around!

[2018-04-17 07:41] insanesvk commented on #14632
Hi!

The problem first appeared in Chrome on macOS High Sierra 10.13.3. What I'm trying to achieve is this:

<img width="342" alt="monosnap 2018-04-17 09-37-26" src="https://user-images.githubusercontent.com/9151969/38855206-29d6c504-4223-11e8-880d-090793e53f6b.png">

(had to add blur because of company identifying info)
So the two elements in the bottom are fine without the div, with it, there's

[2018-04-17 08:36] mfahadi commented on #14483
I'm not sure about that. You can use below code to generate and RSA and sign with that. I found it on stackoverflow and used in an other project.

The code is in c#, you can convert it to VB via some online utility.

Use it like this.

    RSACryptoServiceProvider privateRSAkey = CreateRsaProviderFromPrivateKey(PrivateKey);

    SHA256Managed sha256 = new SHA256Managed();
    byte[] signatureUrlBy

[2018-04-17 10:40] DavidCramer commented on #14278
Another simple solution is to have something like `amp_last_check=_timestamp_` added to the poll call. This should solve the caching issue on multiple environments.

[2018-04-17 11:36] jaygray0919 commented on #14282
@adamsilverstein Success.
We put our `<amp-mathml>` in a `<span>` and use your `.amp-formula{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}`

no more `<sup>`

Thanks to your CSS colleague

/jay gray

[2018-04-17 11:38] jaygray0919 commented on #14341
solved using @adamsilverstein solution

[2018-04-17 11:38] #14341 closed

[2018-04-17 11:38] jaygray0919 commented on #14311
solved using @adamsilverstein solution

[2018-04-17 11:38] #14311 closed

[2018-04-17 13:44] jaygray0919 commented on #14282
here's what it looks like now:  https://afdsi.org/test/amp_mathml_1/

as intended. TY for the CSS.

/jay

[2018-04-17 14:28] jpettitt commented on #14637
cc @choumx @cramforce

[2018-04-17 15:14] adamsilverstein commented on #14282
@jaygray0919 - Good to hear, still haven't figured out why some specific formulas don't render properly, but hope to look at this again once @aghassemi has a chance to review

[2018-04-17 15:36] nainar commented on #13748
Fixed in #14470

[2018-04-17 15:36] #13748 closed

[2018-04-17 15:43] nainar commented on #14150
PR landed:
* `amp-fx="fade-in"` -> #14351

PR inflight:
* `amp-fx="fade-in-scroll"` -> #14454

[2018-04-17 16:53] Enriqe opened #14667 "Write doc regarding amp-story bookend v1.0"

[2018-04-17 17:28] cvializ commented on #14484
I do see consistently see incorrect behavior in the "flights" page in Chrome 62 / Windows 7. I could not reproduce in Chrome 63 , 64 or 65. However AMP's browser support policy is the previous two major versions of modern browsers, and Chrome 62 is no longer supported. If you see the incorrect behavior in a supported version of Chrome we can reopen this. Thanks for reporting and providing the deta

[2018-04-17 17:30] #14484 closed

[2018-04-17 18:04] IamAlta commented on #14627
Hi @CathyXZ, @cvializ,
Cathy, you're good :)

Add to your description to _deselect all sub options under the parent option that is _not selected regardless of the input type of the sub option (radio, amp-select, textbox, textarea, select, etc.).

Also, for the selected parent option, I plan to hide the sub options that are not selected to unclutter the page as the customer goes down the page makin

[2018-04-17 19:54] rsimha opened #14675 "Seeing several instances of errors from src/utils/video.js"
@aghassemi Can you comment on whether this is expected? It's the top reported error from last week.

[code]

[2018-04-17 19:58] alanorozco commented on #14675
It looks like some tests that should be skipped, aren't. Issue likely introduced by #14213, but could have been there previously given the `console.error` changes to our tests.

[2018-04-17 19:59] aghassemi commented on #14675
@rsimha It is expected, that code tries to do support detection by calling a WebAPI method which may print error. We might be able to put a try-catch around it, not sure if that would suppress the error or not ( depends on whether browser is throwing or just console logging)

[2018-04-17 20:00] aghassemi commented on #14675
@alanorozco Could you look into it? it is the `The request is not allowed by the user agent ` method

[2018-04-17 20:00] rsimha commented on #14675
@alanorozco These are logs from canary, not test failures.

@aghassemi SGTM, will leave it to your team to figure out how to silence this.

[2018-04-17 22:26] jridgewell opened #14683 "Forbid impure method calls inside dev().assert()"
We have a build step that removes `dev().assert` calls:

[code]

Generally, that `ASSERTION` then gets removed in `v0.js`, because it's a useless (side-effect free) reference. But, sometimes we assert call expressions...

Now, Closure Compiler sucks pretty badly tries to decide if a method call will have a side effect. So, this will not be eliminated from the final build.

[code]

That's no good.

[2018-04-17 22:54] sucharithav opened #14684 "AMP runtime should strip out AdWords escape param"
AMP Viewer in AGSA inserts amp_i into the URL to denote start of AdWords tracking params. This should be stripped out from the source URL that is used for Analytics etc.

Internal bug: b/78188092

[2018-04-17 23:21] cramforce opened #14685 "Make XHR service only do requests after first visible by default"
We currently have the wrong default in terms of privacy. It'd be better to opt-into the more dangerous behavior than opting out from it.

[2018-04-17 23:32] jridgewell opened #14686 "Layers: Expose element dirty method"
Certain events require DOM manipulations in the same process tick to work (eg, https://github.com/ampproject/amphtml/pull/14676).

So, we can't wait for a vsync mutate phase. But, if we mutate immediately, the cache will still provide invalid values until it's busted in the next mutate.

So, I need to add a method to dirty the cache immediately for these special cases.

[2018-04-17 23:40] jridgewell commented on #14685
I [advocated](https://github.com/ampproject/amphtml/pull/9350#discussion_r116655597) for this originally, but @dvoytenko shot me down.

[2018-04-17 23:43] cramforce commented on #14685
We can obviously make all existing call sites opt into the old default behavior. I don't see how changing the default should be a problem.

[2018-04-18 00:57] #14529 closed

[2018-04-18 07:10] shahfahad-10p commented on #10773
Any update on this? Even though I can see 'interact-and-submit' in the switch case now, but the error is still there.

[2018-04-18 07:49] flo-rider commented on #14483
That did the trick, thanks!

[2018-04-18 11:40] jaygray0919 opened #14689 "Cannot use amp-list in amp-carousel"
Here is an `amp-list` that features a Wikipedia image
  https://afdsi.org/test/amp_list_wikidata_1/

However, when placed in an `amp-carousel`, it fails
  https://afdsi.org/test/amp_list_wikidata_1_carousel/

We've looked at
  https://github.com/ampproject/amphtml/issues/10706
and
  https://github.com/ampproject/amphtml/issues/4405#issuecomment-318204399

But we can't use the work around because w

[2018-04-18 11:54] jaygray0919 commented on #14282
@adamsilverstein we've run into another problem. On our site, this displays properly:
  `<span class="amp-formula"><amp-mathml layout="container" data-formula="\[x\]"></amp-mathml></span>`

But the inline version does not:
  `<span class="amp-formula"><amp-mathml inline="" layout="container" data-formula="\[x\]"></amp-mathml></span>`

On `fivethirtyeight`, we see it working, but it fails on our si

[2018-04-18 12:11] sumeetj opened #14690 ""amp-user-notification is already registered. The script tag for amp-user-notification is likely included twice in the page." - Integrated AMP in a Drupal 7 website."
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-04-18 13:46] sumeetj commented on #14690
@MARQAS any idea on how we could do for Drupal what you did for WP here https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/142366bc3d2454bfc2738121554e8b42ac4e5031

[2018-04-18 14:22] ithinkihaveacat opened #14692 "Document/list dynamically-generated components"
The upcoming `<amp-geo>` component (see #14280) is dynamically generated by the server, based on the user agent's IP. (The constant [`{{AMP_ISO_COUNTRY_HOTPATCH}}`](https://github.com/ampproject/amphtml/blob/7ff090b9022cfedc5973e3d8edd991686a5d57c6/extensions/amp-geo/0.1/amp-geo.js#L60) is replaced at delivery time by a string representing the country code of the user.)

This behavior can break sy

[2018-04-18 14:22] Chee32 opened #14693 "AMP amp-redirect-to header not honored on Google AMP cache"
## What's the issue?

I have created a flower shop within a Wordpress site that relies mainly on amp to run quick mobile pages.  When I load the site via the main url it runs smoothly but when I use Google AMP cache the forms to add to cart do not work.  The issue is that it seems that the amp-redirect-to header does not run after the form is submitted.

## How do we reproduce the issue?

The work

[2018-04-18 14:34] ithinkihaveacat commented on #14692
Created a PR to add this to `amp-cache-guidelines.md` but probably also should be mentioned somewhere else? (Self-hosters are unlikely to find this.)

[2018-04-18 15:15] jpettit commented on #14692
@jpettitt the mention was meant for you....

And pick a different username! 😛

[2018-04-18 15:25] newmuis opened #14695 "amp-story documentation points to 1.0"
The amp-story documentation at https://www.ampproject.org/docs/reference/components/amp-story.html refers to the 1.0 version of `amp-story` component instead of the 0.1 version.

The documentation should refer to 0.1 until 1.0 is ready.

[2018-04-18 15:26] newmuis commented on #14695
/to @bpaduch do you know what needs to be changed to fix this?  Is it just `amp-story.md`?

[2018-04-18 15:29] bpaduch commented on #14695
Yes, that's correct.  The [documentation on ampproject.org](https://www.ampproject.org/docs/reference/components/amp-story.html
) is imported from the [amp-story.md](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story.md
) file. So, any changes made to amp-story.md will be reflected on ampproject.org (after being imported in the nightly production build).

[2018-04-18 15:44] jaygray0919 commented on #14689
Thank you John @jpettitt

BTW, we also have you to thank for the `items` parser that enables us to walk-the-wikidata-tree
there is one problem with the parsing routine that we'll open as a separate issue.

Thanks again for the amp-list in amp-carousel solution

/jay

[2018-04-18 15:44] #14689 closed

[2018-04-18 15:52] mrjoro commented on #14182
- are the curves the same ones that CSS uses?  no
- will people be able to overwrite the curves?
  - some default CSS curves aren't as great, there are other options
  - Abby/other UX people gave input that these curves are the desired ones
- data- prefixed attributes?  yes; you can reuse the attributes across the presets
- should "fly-in" before for slide in animations?  (that's what amp-story us

[2018-04-18 15:52] #14182 closed

[2018-04-18 15:52] ithinkihaveacat commented on #14692
Sorry @jpettit, and thanks!

[2018-04-18 15:58] aghassemi commented on #14616
## UI

### What's done!
- Support for `input type=date` as the input for `amp-date-picker` https://github.com/ampproject/amphtml/pull/14451
- Locale support fix for `amp-date-picker` #14616
- Clear input fix for `amp-date-picker ` #14326
- `amp-date-picker` is now at doc-level optin experimental stage (tp enable include `<meta name="amp-experiments-opt-in" content="amp-date-picker">` in your page)

[2018-04-18 16:07] nainar opened #14697 "Treatment for clashing amp-fx presets to the same element?"
Currently we have the following types of presets for amp-fx (either in design, inflight or launched phases):
* Scroll dependent
  * parallax
  * fade-in-scroll
* Scroll triggered
  * fade-in
  * fly-in-bottom
  * fly-in-top
  * fly-in-left
  * fly-in-right

Allowing a mix of scroll dependent/scroll triggered animations seems fine. You can fly in from the bottom and then be locked into a scroll dep

[2018-04-18 16:09] aghassemi commented on #14329
## UI

### What's done!
- 🐛 `amp-lightbox-gallery` polish and bug fixes: #14126, #14140, #14141, #14162, #14331
- ✨Actions (`play`, `pause`, etc..) for `amp-bodymovin-animatins`#14040
- ♿ Allow `space` to activate more tappable elements #14040
- 📖 Document `select` event for `amp-selector` https://github.com/ampproject/amphtml/pull/14320
- 🏗 Initial draft implementation for `amp-fx=fade-in`

[2018-04-18 16:42] ericlindley-g commented on #14697
Really good point — I also vote for this option of accepting the first input, clearly documenting this behavior in the .md, and throwing a warning in the console (though others should correct me if there's a better practice for console warnings).

FWIW, there's a third option, which would be to invalidate the page and make no guarantees for how it will function, but I think the above is a better d

[2018-04-18 16:53] nainar commented on #14697
By invalidate the whole page do you mean via the validator? We discussed using the validator to check for this. Turns out a) the validator doesn't currently support this and b) like you said that wouldn't make a good developer experience. We should perform at a best effort level.

[2018-04-18 17:09] gmajoulet commented on #14616
## Stories

### What's done

- Added share button to system layer on mobile
- Started implementation for bookend redesign
- GDPR requirements finalized
- Added analytics for story length, progress, and muted state
- Fix for Ken Burns animation in template="fill" layers
- Fix for video captions on iOS Safari 11.2

### What's next

- "Autoplay" mode for stories in feeds
- Stories GDPR design/impleme

[2018-04-18 17:11] dvoytenko commented on #14685
My recommendation was to always throw an error pre-visibility for XHR requests to origins different from the document's (or Cache's). My reason was that doing XHR pre-visibility is most likely an error and putting it into waiting state would hide the symptoms.

This was however at the time where we tried to find all violations and address them at the source. I'm totally fine changing this behavior

[2018-04-18 17:12] gmajoulet commented on #14329
## Stories

### What's done

- Render templated UI in shadow DOM to enforce style isolation
- Implementation for Ken Burns animation
- Bookend performance improvements
- Eng design for bookend redesign
- Allow default-unmute audio option in embed modes
- Allow ``fallback`` for ``amp-story``

### What's next

- Begin implementation for bookend redesign
- Refactor of amp-story-page management to bet

[2018-04-18 17:25] jridgewell commented on #14685
We can both log an error and wait for visible?

[2018-04-18 17:29] zhouyx commented on #14616
## Ads & Analytics

### What's done
- Added single page story ad example to ABE
- `<amp-story-auto-ads> ` moved to its own extension
- Explored path forward for embedding FIE in story
- `<amp-consent>` V1 features ready
- `<amp-consent>` documentations
- Fluid layout css fix

### What's next
- Pause background audio for story ads
- Add Story ad lifecycle analytics
- Begin impl of inlining sponsore

[2018-04-18 17:39] jasti commented on #12968
Closing this again in favor of #13716

[2018-04-18 17:39] #12968 closed

[2018-04-18 17:45] jasti commented on #13716
@jweigt it is in our plans to be compatible with the IAB proposed solution but can you tell us what you see to be not compatible at this point?

[2018-04-18 17:55] jasti commented on #13716
We wanted to update this thread with some features we plan to implement in the future. Please note that we haven't committed to implement all the features and the final set will be based on the feedback we receive after amp-consent has been launched.

**'checkConsentHref' Related**
- Enhance ‘checkConsentHref’ to respond with additional key value pairs, including support for variable substitution

[2018-04-18 18:03] ericlindley-g commented on #14661
/cc @aghassemi — do you know the best person to take a look while Will is out?

[2018-04-18 18:07] cathyxz commented on #14697
Best effort + documentation in bold +1. =)

[2018-04-18 18:08] ericlindley-g commented on #14319
/cc @cvializ @aghassemi

[2018-04-18 18:10] cathyxz commented on #14632
Interesting! I'll investigate. Thanks for reporting!

[2018-04-18 18:12] aghassemi commented on #14661
@choumx @ericlindley-g  My vote would be for making `actions` on components `bindable`. For example `<amp-video [action:play]="bind-boolean-expressions">` or `<amp-sidebar [action:open]="bind-boolean-expression">` . Action then would be dispatched whenever the expression **changes** and evaluates to `true`.

I can't think of a  workaround that works now for this. @meistudioli is what you are tryin

[2018-04-18 18:13] cathyxz commented on #13332
The intended fix is to support `autofocus` in lightbox. You should be able to remove the `on="lightboxOpen:input.focus"` and just add the autofocus attribute per #14676.

[2018-04-18 18:14] ericlindley-g commented on #14299
/cc @aghassemi for the best approach here

[2018-04-18 18:25] aghassemi commented on #14299
@kirillsalikhov

Sorry for the delay in getting back to you.

Few comments:

1- we normally use the `player` keyword for videos. Also `amp-3d-player` seems too generic, my understanding is that this extension would only support playing `glb` model files. My suggestion is `amp-3d-glb` or similar. We normally make these decisions in Design Review [meetings](https://github.com/ampproject/amphtml/blob

[2018-04-18 18:43] jridgewell opened #14702 "Media Task PlayTask Failures"
[code]

[2018-04-18 18:44] jridgewell opened #14704 "AMP Video test flake"
[code]

[2018-04-18 18:56] aghassemi commented on #14702
@alanorozco Looks like now headless Chrome is not firing `playing` event when `play` is called on a  video. Might be because the `src` are fake or maybe they disabled video playback in a recent version for headless

[2018-04-18 19:09] jeffkaufman opened #14707 "amp-analytics: add shortcutOnZeroArea to visibilitySpec"
DoubleClick would like to be able to configure amp-analytics `visible` pings to short-circuit for zero-area ads.  Specifically, what we'd like to do is: if the ad is zero-area, immediately trigger the ping regardless of whether the ad is in the viewport.  Otherwise, trigger the ping as usual when the ad meets our viewability definition.

We currently trigger these with:

[code]

What we're proposi

[2018-04-18 19:12] alabiaga opened #14708 "Update docs for tags supported in triple-mustache"
update amp-mustache docs in regards to tags supported for triple-mustache once #14447 is checked in, as support has been broadened to not just text formatting tags.

[2018-04-18 19:18] jeffkaufman opened #14709 "amp-analytics: add unload trigger"
DoubleClick would like to be able to trigger amp-analytics events on the document being unloaded.  This would include both `unlayoutCallback` for cases like the Google Search carousel and `beforeUnload` for cases where the tab is being closed.  We understand `beforeUnload` is lossy, but best-effort pings are still very useful.  This could look like this:

[code]

When the referenced selector would

[2018-04-18 19:25] cathyxz commented on #13916
Closing this issue as resolved. Feel free to reopen if there are further issues.

[2018-04-18 19:25] #13916 closed

[2018-04-18 19:28] jeffkaufman opened #14711 "amp-analytics: prevent double triggering"
DoubleClick would like a way to keep from firing unnecessary triggers in cases where we only care about the first of two things to happen.  For example, imagine we want to send a ping at Ns or scroll, whichever happens first.  Right now we could do:

[code]

But if the user both scrolled and spent Ns on the page we'd send two pings.

One way to handle this would be to add an `onlySendBefore: [list

[2018-04-18 19:29] jridgewell commented on #11869
It's not prioritized. We'd need someone from reddit to help us figure out their iframe API.

[2018-04-18 19:55] cvializ commented on #14319
Ah dropped this one. I was able to reproduce. Investigating root cause.

[2018-04-18 19:56] johnnyshankman commented on #11869
Hm alright. Well I guess I'll subscribe to this issue and check back in the future.

My team will punt on implementing `<amp-reddit>` for now since there's no reliable way to find the proper aspect ratio from the embed code (for dynamically setting `height` and `width` properties) and we can't have broken-looking embeds on the site.

[2018-04-18 20:50] Cauchon commented on #11869
I just reached out to a contact at Reddit to see if they could send this to the right team for feedback.

[2018-04-18 20:54] jridgewell commented on #11869
Thanks @Cauchon!

[2018-04-18 21:16] cathyxz commented on #13661
Addressed by #13687

[2018-04-18 21:16] #13661 closed

[2018-04-18 21:38] cathyxz commented on #12100
Taking this feedback into account, for `<amp-lightbox-gallery>` whose image dimension logic lives in [`<amp-image-viewer>`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-image-viewer/0.1/amp-image-viewer.js#L267-L289), we have:

[code]

This takes the attributes you specify on `<amp-img>` first, followed by `naturalWidth` / `naturalHeight`, before falling back to `offsetWidth` a

[2018-04-18 21:46] nainar commented on #2374
@cathyxz raised a great point offline that once we fully launch `<amp-fx="fade-in">` this can be done using that? AMP components eating their own dogfood!

[2018-04-18 22:00] rsimha commented on #14329
## Infrastructure

### What's done
- JWT / Sauce [replacement](https://github.com/ampproject/amphtml/tree/master/build-system/sauce_connect)
- LGTM.com notifications will come from amphtml-lgtm-bot

### What's next
- Solve subscriptions / third_party bundling
- Tests will warn if the runtime calls `console.error`

[2018-04-18 22:02] rsimha commented on #14616
## Infrastructure

### What's done
- Tests now print a warning for `console.error`

### What's next
- Window / DOM / global state clean up between tests
- Single pass closure compile

[2018-04-18 22:16] cathyxz commented on #13565
I think we can close this now that we've resolved this discussion via the lightbox weeklies and have basically got to QA/launching point.

[2018-04-18 22:16] #13565 closed

[2018-04-19 00:47] Cxwooten84 commented on #14032
Wya

[2018-04-19 01:28] meistudioli commented on #14661
Hi, @aghassemi (Ali):

Here comes what I like to implement: I try to on sound effect on "like" action, once user like this item / article and press like button, it will have sound effect when web service back success signal.

(https://blog.lalacube.com/mei/gitImg/like.png "like button")

[demo link](https://blog.lalacube.com/mei/yahoo_auction_fp_amp.php)

Paul

[2018-04-19 03:38] jpettitt commented on #14690
Closing. Not an amp bug.

[2018-04-19 03:38] #14690 closed

[2018-04-19 05:34] insanesvk commented on #14632
Thanks for your response @cathyxz, I've been doing some investigating on my own and I can confirm this makes sense in Safari on a real iOS device, but the execution is not perfect, it seems like `10vh` is just not enough when the bottom Safari toolbar is visible.

[2018-04-19 05:52] cathyxz commented on #13922
Another design pattern I've seen is on wider screens, having the menu be in the top bar instead of the side bar. For an example, see the Land and See template here: https://ampstart.com/templates. You could show / hide that based on a media query.

[2018-04-19 07:41] robinpokorny commented on #10837
More like validator: https://github.com/ampproject/amphtml/tree/master/validator

[2018-04-19 09:34] htrex opened #14722 "amp-facebook element disappears when clicking on the post author avatar"
## What's the issue?
amp-facebook element disappears when clicking on the post author avatar

## How do we reproduce the issue?
1. Go to https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-facebook%2Fsource%2F
2. Click on the Mark Zuckenberg face

## What browsers are affected?
All

## Which AMP version is affected?
Version 1524089272632

[2018-04-19 09:46] kul3r4 opened #14723 "Add support to amp-bind for images in svg"
At the moment it's not possible to use `amp-bind` to change dynamically the image in a svg.

for example:
[code]

@choumx FYI

[2018-04-19 09:50] ithinkihaveacat commented on #14692
A similar sort of list, for comparison: the [list of render blocking elements](https://github.com/ampproject/amphtml/blob/master/src/render-delaying-services.js#L27).

[2018-04-19 11:11] kirillsalikhov commented on #14299
Thanks for the replay.

1. We will `amp-3d-glTF`, if it's ok.
I think we are not ready to present our proposal yet.

2. The big difference between 3d-player and other amp components involving third party js is that code that lives in iframe in other components is very consice. Which is not our case, we have 6 files and some of them quite large. Is it still ok to put them in `3p/`?

3. Another prob

[2018-04-19 14:24] jp-washpost opened #14727 "New Amp Story Ad Call to Action: "Listen Now" & "Subscribe Now""
## What's the issue?

We want to be able to promote podcasts and other audio inside of our house ad inventory on Amp Story ads. Can we include a **"Listen Now"** and **"Subscribe Now"** call to actions in ads to give us more flexibility around promoting podcasts (and other subscription-based products).

Relevant part of ad spec:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-stor

[2018-04-19 14:55] jpettitt commented on #10837
Where is your fork, I'll take a look at your validator issue if you want.

[2018-04-19 15:02] jpettitt commented on #14692
@ithinkihaveacat I've been using "jpettitt" since before the internet was invented and I'm kinda attached to it so I think I'll keep it. 😛

[2018-04-19 15:24] jpettit commented on #14692
According to your twitter you have been using the Internet since before I was born.  I suppose you get a pass.

On Apr 19, 2018, at 8:02 AM, John Pettitt <notifications@github.com> wrote:

[2018-04-19 15:40] robinpokorny commented on #10837
@jpettitt, you guys are great. A help would be nice 🙏

The fork is here: https://github.com/robinpokorny/amphtml/tree/add-amp-date-display

[2018-04-19 16:25] jasti commented on #13716
@cramforce, yes. It's actually one big difference between the way amp-consent works versus the IAB proposal - getting consent on a per vendor basis.
This would also mean that each vendor integrated in AMP will need to have a unique ID recognized by ad networks because not only does the AMP page need to block requests, so does the ad auctions as well.
I've updated the comment with future enhancemen

[2018-04-19 16:52] rudygalfi commented on #14066
What state is this in? It's marked "Done" in the Roadmap project.

[2018-04-19 16:59] zhouyx opened #14734 "Update Intersection Observer API Polyfill"
A new `isIntersecting` value is added to `IntersectionObserverEntry`, that can help determine intersection of a zero area element on top of intersection ratio.
We need to update our polyfill to include the change.

[2018-04-19 17:02] ericlindley-g commented on #14066
yep — this is launched. I'm updating all these roadmap issues today. Thanks for the prod and update!

[2018-04-19 17:02] #14066 closed

[2018-04-19 17:05] Gregable opened #14735 "Validator Errors should output instructions on how to 'regold' output files."
Thanks to @powdercloud's change, validator files can now be 'regolded' by running a simple `build.py` command. We should add documentation on how to run this in https://github.com/ampproject/amphtml/blob/master/contributing/component-validator-rules.md and make sure that the related test failures spit out a link to this doc.

[2018-04-19 17:08] Gregable commented on #6281
@ebbeck Can you try `content=` out and let us know if it works for your use case?

[2018-04-19 17:09] IamAlta commented on #10475
@aghassemi, @mianuddin
Good addition to AMP:)

We need to clear other amp-selectors if one has a selection.
Console error: "amp-bind: Binding to [clear] on <AMP-SELECTOR> is not allowed.​​​"
Ditto for <DIV>

Only one PARENT is allowed to be selected. They are the same radio "name" that solves it.

We need only the amp-selector chosen under the selected PARENT radio that is chosen. The amp-selector

[2018-04-19 17:10] honeybadgerdontcare commented on #14735
`gulp validator --update_tests`
or directly inside `validator` directory as `python build.py --update_tests`
https://github.com/ampproject/amphtml/blob/master/validator/build.py#L715

[2018-04-19 17:13] jpettitt commented on #10837
Quick first pass TODO's

* Input validation:
  * Use the user.assert() function to make sure the inputs are what you expect them to be (eg numbers are actually numbers).  See `amp-geo` for an example of using asserts to throw users errors.
* Unit tests:
  * You need to add some unit tests, check of all the expected outputs and and that all the asserts throw when they should. - the `amp-geo` tests

[2018-04-19 17:15] gmajoulet opened #14736 "Undefined STORY_PAGE_ID and STORY_PAGE_INDEX"
We're getting the following errors in production:

[code]

[2018-04-19 17:27] jpettitt commented on #14244
@cathyxz Shouldn't the pre-render check in layout detect the existing sizer and not add another one?

[2018-04-19 17:43] ericlindley-g opened #14737 "[Master feature] Geo-variation"
Feature description: TODO

[2018-04-19 17:45] ericlindley-g opened #14738 "[Master feature] Seamless page transitions"
Users highly value page transitions that preserve as much context and happen as quickly as possible, but standard page navigations refresh the entire page (header bars, menus, etc disappear and reappear again), increasing actual and perceived loading time. App shell patterns (as with progressive web apps) address this opportunity—[this feature](https://github.com/ampproject/amphtml/issues/12981) i

[2018-04-19 17:46] ericlindley-g opened #14740 "[Master feature] Tilt-based animations"
Developers sometimes link device title to the background position of images, so that the content shifts on the screen in different directions and at different speeds based on the direction and degree of tilt. Ideally we can link this to an intuitive natural metaphor, so it feels predictable and natural. Phase one will be a low-level API along the lines of amp-position-observer, that allows such an

[2018-04-19 17:47] ericlindley-g opened #14741 "[Master feature] Immersive video consumption"
Feature description: TODO

[2018-04-19 17:48] jridgewell opened #14742 "Find unused (dead) class fields"
I found in #14739 two unused class fields:

[code]

Even though these private fields were not being accessed at all, they were still present in the v0.js:

[code]

Bytes add up. We can detect things like this, and lint them out.

[2018-04-19 17:48] ericlindley-g opened #14743 "SSR toolkit validation"
Feature description: TODO

[2018-04-19 17:50] ericlindley-g opened #14744 "[Master feature] Date picker"
Feature description:

Well-designed date pickers are a common requirement for web pages that require users to select a date (e.g. scheduling an appointment, choosing a range of dates as criteria for a flight or hotel search, etc). The range of customizations needed to create good UX across the required use cases is not handled directly or consistently across the web platform, so custom JS is requi

[2018-04-19 17:51] ericlindley-g opened #14745 "[Master feature] Input masking"
A common pattern on the web to assist form completion is input masking: automatically inserting expected characters and spaces in a given form input. For instance, "+1 (_ _ _) _ _ _-_ _ _ _" for a phone number in the United States. As the user types, their input fills out the blank entries, and sometimes showing validation issues automatically. This feature is to implement this type of input maski

[2018-04-19 17:53] ericlindley-g opened #14746 "[Master feature] File upload"
Feature description:

Until now it has not been possible to upload files from an AMP document. This feature is to support the ability to upload files in AMP with a simple, flexible API with no built-in styling of its own.

Initial FR #9791

[2018-04-19 17:54] ericlindley-g opened #14747 "[Master feature] input[type="password"]"
Feature description:

`<amp-form>` didn't launch with support for `<input type="password">`, due to the initial complexity, but developers have started to ask for this flexibility. This type of input, where the characters are visibly masked as a bullet or asterisk, is used in cases where third parties can directly see the screen of users entering confidential information.

/cc @cvializ , can you i

[2018-04-19 17:58] jpettitt commented on #14280
`amp-geo` is live as of release 1524001085966

[2018-04-19 17:58] #14280 closed

[2018-04-19 18:09] rudygalfi commented on #5415
@choumx @aghassemi Do you know if we ever ended up doing this? It seems like it was added to the UI team roadmap about a year ago.

[2018-04-19 18:10] #2820 closed

[2018-04-19 18:27] gmajoulet commented on #14736
Update: only affects the canary version, not production

[2018-04-19 18:35] #14737 closed

[2018-04-19 19:28] zhouyx commented on #13526
@kushal Apology for the late response!

I've looked at both of your PR.

1. Given that you are not adding extra params to your example, will you be expecting extra params with requests?

2. As you mentioned in one of the PR, are you planning to only send that after user log in? I am not very familiar with how log in works with `<amp-access>` @dvoytenko? I am worrying that the vendor approach may n

[2018-04-19 19:37] zhouyx commented on #13526
@dvoytenko when will the amp access authorization finish? See [comment](https://github.com/kushal/amphtml/commit/4afa185513451f65a1d2c2bf7a69a7bbec0bf0b5#r28659354)

[2018-04-19 19:42] kushal commented on #13526
@zhouyx I understand you're slammed, thank you for picking this back up!

1. We are not currently adding extra params, but we're worried about boxing ourselves in if we need them later. However, it seems like we can just pass through from amp-access config?

2. Yes, this is only for logged in users. In the vendor approach, this is done via this line https://github.com/ampproject/amphtml/pull/14471

[2018-04-19 19:56] zhouyx commented on #13526
The behavior is different,  because the start point for `maxTimerLength ` is different in two cases. For vendor approach: the order is  page load > analytics layout > start timer.
For inserting analytics element approach, the start point is user log in > inserting analytics > analytics layout > start timer

[2018-04-19 19:57] cathyxz commented on #14722
Unfortunately I think this is a function of how Facebook's embeds work, not unique to the `<amp-facebook>` component, so there isn't anything we can do about this here, since `<amp-facebook>` is essentially a wrapper around the facebook embed iframe.

You can see the same behavior on Facebook's developer documentation example here: https://developers.facebook.com/docs/plugins/embedded-posts/

[2018-04-19 19:57] #14722 closed

[2018-04-19 20:05] kushal commented on #13526
Ah, interesting! I don't think we feel strongly about the difference, though.

[2018-04-19 20:18] jridgewell opened #14751 "getMode code included in every binary"
If binary needs `getMode`, you get this lovely code:

[code]

Move it into a service in the main binary, where it's already needed.

[2018-04-19 20:29] jridgewell opened #14752 "Logs cache init code included in every binary"
Every binary that needs logs includes:

[code]

[2018-04-19 20:43] jridgewell opened #14753 "Code bloat from URL parsing"
Guess how much code is imported into every binary that uses `isProxyOrigin`, or, as far as I can tell, any url parsing? https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/0.1/amp-geo.js#L43 results in:

[code]

Nearly 1kb! For touching a URL! 😭

[2018-04-19 21:01] aghassemi commented on #14299
1- sounds good.
2- Your code would need to run in an iframe as well. We can not allow three.js, etc.. run as first-party in AMP pages. If you look at components such as `amp-mathml`, `amp-ima-video`, `amp-twitter`, etc.. They have "two" files: 1- in 3P folder that runs "inside" iframe. This file can load external JS files (e.g. three.js) from other CDNs and then you can write whatever needed to ma

[2018-04-19 21:08] aghassemi commented on #14661
@meistudioli Given allowing bindable actions is a medium-sized effort and there are other priorities, I think you might be able to handle your particular use-case with existing features.

Can your form return non-200 if it fails? In that case, you don't need check the response and can just do `on="submit-success: play` because if non-200 is received, then "submit-error" is called instead. It is go

[2018-04-19 22:13] shishirm opened #14757 "Select within amp-sidebar loses focus due to CSS rules"
## What's the issue?

This video helps explain the issue at hand -> https://www.youtube.com/edit?o=U&video_id=eAszaiH_M0w

Basically, there is an amp-sidebar with a select on the inside. There is an arrow animation that is created on the select to indicate the drop down being open v/s closed. In order to animate, a "focus" property in CSS is applied on the select.

If I click on the select to see

[2018-04-19 22:57] kushal commented on #13526
@zhouyx I went ahead and opened #14760 in addition to #14471 and we can merge either. If you have the time to review it, our preference remains for the automatic approach in #14760 unless I misunderstand the extraParams issue, or if there is some other risk of regression or privacy challenge. Thanks!

[2018-04-20 01:30] meistudioli commented on #14661
@aghassemi bind with non-200 and fall in submit-fail might ok, but I have already do some stuff with submit-fail case. If I do so, it will face same situation (need to check response to do A or B) just like the issue.

[2018-04-20 04:06] #14627 closed

[2018-04-20 04:06] #12100 closed

[2018-04-20 04:10] #11215 closed

[2018-04-20 08:03] sumeetj commented on #14690
@jpettitt - I just created a Drupal setup with Vanilla addition and used the available "amp" module in Drupal community. It seems the issue is still showing up the AMP version is same as "1524089272632"

FYR: http://d7vanila-sumeetjaggi.c9users.io/amp-vanila?amp

Tx,
Sumeet

[2018-04-20 12:59] QES commented on #13716
I'm still trying to understand what will be required of publishers for GDPR compliance with regard to advertising <amp-consent> seems to provide some tools that will be useful but until there is clarity of what http://advertisingconsent.eu/ means in reality its hard to know.

However, it is important that not consenting is not the same as avoiding advertising.  Looking at some of the examples and

[2018-04-20 13:53] lexandera commented on #12400
I'd just like to add that we've been seeing the same error for 3rd party serving of amphtml ads as well. There seems to be some kind of correlation between the error and the response time allowance - it appears under the 300ms deadline, but we never saw it when the time allowance was raised temporarily for testing purposes, then it started to appear again when we went back down to 300ms.

[2018-04-20 13:55] ithinkihaveacat opened #14765 "Validator rejects relative URLs in <amp-story bookend-config-src>"
In https://github.com/ampproject/amphtml/pull/14192, the validator was changed to reject relative `bookend-config-src` URLs. Can this be changed back? A few reasons:

- Reducing the number of options available to developers makes this feature more difficult to deploy. (Often it is inconvenient to determine, at story construction time, how/where a document will be exposed to the internet.)
- It's i

[2018-04-20 14:57] #11855 closed

[2018-04-20 15:32] staceyfenton opened #14768 "HTML URL Variable Substitutions not working when user opens link in new window"
## What's the issue?

We are trying to use variable substitution in links [as documented here](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#variable-substitution-in-links).

Here is an example of the HTML we are using:
`<a href="//example.com/?SRC=QUERY_PARAM(SRC,XXXX)" data-amp-replace="QUERY_PARAM">Go to my site</a>`

This is working fine if you click on the li

[2018-04-20 16:25] jehan96 opened #14769 "FAN on AMP"
hi there
quick question

i am searching on how to monetize my blog with FAN..
i know that normal blog can use FAN, but does AMP support it?
while searchin
this link brought me here
https://developers.facebook.com/docs/instant-articles/other-formats#instant-articles-to-amp

but i don't found FAN supported in here
https://www.ampproject.org/docs/reference/components/amp-ad#supported-ad-networks

can

[2018-04-20 16:45] jpettitt commented on #12697
Haven't seen this recently, closing. Will reopen if it happens again.

[2018-04-20 16:45] #12697 closed

[2018-04-20 16:48] jpettitt commented on #11881
@Gregable making it the sum of makes this a useless feature.  It's also unnecessary ars style attributes  do not have the same performance hit that a `<style>` tag in the header does because they are single element scoped.

[2018-04-20 17:02] #8217 closed

[2018-04-20 17:05] keithwrightbos commented on #12400
We insert amp-analytics using src/extension-analytics#insertAnalyticsElement where we pass loadAnalytics as true (https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick-impl.js#L951).  insertAnalyticsElement indicates that it will "Force load analytics extension if script not included in page" so if this is causing the extension

[2018-04-20 17:08] cathyxz commented on #14632
Oh sorry, my language above was inprecise. I meant to say yes, the code injects `10vh`, but the value of `10vh` no longer matches the width of the safari bottom navbar, so this value should be changed.

[2018-04-20 17:11] #14736 closed

[2018-04-20 17:16] cathyxz opened #14772 "Unskip <amp-list> should only process one fetch result at a time for rendering test"
Failing build: https://travis-ci.org/ampproject/amphtml/jobs/369174825
[code]

Also noted the following console errors in this test suite that could be fixed:
[code]

[2018-04-20 17:25] alanorozco commented on #14492
(Approach changed, no longer an issue.)

[2018-04-20 17:25] #14492 closed

[2018-04-20 17:33] dvoytenko commented on #14685
I really do think at this time, waiting for visibility right inside the XHR is fine.

[2018-04-20 17:42] jridgewell commented on #14685
Passing to @alabiaga.

[2018-04-20 17:55] aghassemi commented on #14768
/to @choumx

[2018-04-20 17:58] aghassemi commented on #14769
/to @jasti

[2018-04-20 18:06] lannka commented on #14769
@jehan96 FAN is not supported in AMP at the moment. What you probably can do is to seek help from FAN team, raise the issue that the instant article to AMP conversion tool is incomplete because FAN is not available in AMP.

AMP is an open source project that any 3rd party vendors are welcome to integrate.

[2018-04-20 18:08] aghassemi commented on #14693
Hi @Chee32, the `access-control-expose-headers` needs to also include `AMP-Redirect-To` per https://www.ampproject.org/docs/reference/components/amp-form#redirecting-after-a-submission. Looking at your site, it currently does not and I believe that's the cause of the issue.

[2018-04-20 18:08] aghassemi commented on #14693
Closing the issue per comment above, if it does not work, please feel free to reopen the issue.

[2018-04-20 18:08] #14693 closed

[2018-04-20 18:17] cathyxz opened #14774 "Unflake <amp-img> should respect media queries test"
[code]

[2018-04-20 18:29] cathyxz opened #14775 "Fix <amp-sticky-ad> tests"
### Flaky test: should listen to scroll event
Produces error:
[code]

### Console errors
[code]

[2018-04-20 18:48] guilef commented on #14418
It would be great if the same feature gets added on [amp-web-push](https://www.ampproject.org/docs/reference/components/amp-web-push) component.

[2018-04-20 19:20] jerimiahwelch opened #14778 "amp-bind: Broken on iOS 9.3 in SERP viewer"
## What's the issue?

On iOS 9.3 devices, amp-bind does not modify the page when the amp page is viewed in the Google Search Results' amp viewer iFrame.

When viewed in an iOS 9.3 tab directly or viewed in iOS10 Google Search Results amp viewer iFrame, amp-bind does modify the page.

## How do we reproduce the issue?

To reproduce:
1. View on iPhone or simulator using iOS 9.3 or lower
2. Search go

[2018-04-20 19:29] cathyxz commented on #10521
/cc @alanorozco for github issue housekeeping.

[2018-04-20 19:32] zhouyx commented on #14685
We can definitely avoid the privacy leak [bug](https://github.com/ampproject/amphtml/pull/14656) I made before with waiting for visibility inside XHR 😄

[2018-04-20 19:58] jridgewell commented on #14774
Should be fixed by #14035.

[2018-04-20 19:58] #14774 closed

[2018-04-20 20:06] calebcordry opened #14781 "amp-story: progress bar showing on ads"
Due to CSS alterations in `amp-story` the `amp-story-auto-ads` extension no longer correctly hides the progress bar when ad is showing.

Can repro using `examples/amp-story-auto-ads.amp.html`

[2018-04-20 23:09] jerimiahwelch opened #14788 "Fixed layer: Support per-element opt-in for transfer to fixed layer"
## What's the issue?

Feature Request: Stable fixed elements in iOS amp search results

As you are aware, the amp framework currently has a workaround of moving fixed elements that meet certain criteria to a pseudo-fixed element in iOS google search results. However, this has a few disadvantages:

1. Fixed elements shown in the main body after page load display in a juttery way. See video below.
2

[2018-04-20 23:51] #14743 closed

[2018-04-21 00:05] lannka opened #14789 "Simplify AMPCORS spec"
With template ads and story ads, more and more servers are required to integrate AMPCORS. However, the current [AMPCORS spec](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) wasn't trivial to follow, which caused many back-and-forth, wasting time. /cc @calebcordry @jasti

AMPCORS was introduced before the CURLS launch, at the time when all AMPs from different publisher

[2018-04-21 00:06] lannka commented on #14593
Simplify AMPCORS spec #14789

[2018-04-21 01:51] aghassemi commented on #14788
/to @jridgewell

[2018-04-21 01:53] aghassemi commented on #14788
Thanks for the detailed bug report @jerimiahwelch and laying out possible solutions! I am assigning to @jridgewell to move this forward.

[2018-04-21 04:20] choumx opened #14790 "Resize fails when content height < viewport height"
`amp-list` resize fails for the last element on the page when the page contents completely fit in the viewport (content height < scroll height).

Concerns case "6" in our resize algorithm:

https://github.com/ampproject/amphtml/blob/eb5666e96c313ef01625cd4a819e59a9009e4239/src/service/resources-impl.js#L1316-L1320

We should probably use `min(contentHeight, scrollHeight)` when calculating `docBott

[2018-04-21 09:08] choumx opened #14792 "Reduce dupe in natural and iOS viewport bindings"
I noticed that `viewport-binding-natural.js` and `viewport-binding-ios-embed-wrapper.js` share a lot of code. Might be able to avoid some code dupe (and save a couple bytes) with inheritance. Just an idea.

OTOH, `viewport-inabox.js` is very different.

/cc @jridgewell

[2018-04-21 16:15] startef opened #14793 "Add web+mastodon: to whitelist for custom protocols"
Just like whatsapp: and the others, I would like to suggest to add web+mastodon:// (used by https://github.com/tootsuite/mastodon) to the whitelist for custom protocols.

Basically the same request as https://github.com/ampproject/amphtml/issues/3727 for threema back then.

Cheers
JP

[2018-04-22 00:55] aghassemi commented on #14793
/to @honeybadgerdontcare
/cc @Gregable

[2018-04-22 00:57] aghassemi commented on #14765
/to @newmuis @choumx

[2018-04-22 10:51] jaygray0919 opened #14794 "Google Translate support"
We would like to add Google Translate support to our AMP pages
An AMP iframe technique will not work
Please consider extending the AMP JavaScript libraries to associate the following with a list-box on an AMP page
[code]

/jay gray

[2018-04-23 03:43] Jade05 commented on #14484
@cvializ Thanks. The problem has been solved.

[2018-04-23 06:43] piStats opened #14795 "Intent-To-Implement : Analytics support for piStats in AMP analytics suite"
## **Objective**
Add piStats Analytics configuration to AMP analytics.

## **Overview**
PR to follow with implementation

## **Proposed Configuration**
[code]

[2018-04-23 06:43] piStats commented on #14795
Can you please add an Intent to implement label as I am not able to do so.

[2018-04-23 06:59] Jade05 opened #14796 "amp-date-picker is not efficient enough"
Hi, I find amp-date-picker performs slowly on some devices. For example, when the user clicks a date, the date is selected after a 3~4 seconds delay.

You can watch the video [here](https://drive.google.com/file/d/1zmBUvAt_iunKThcVcdYB4OiL4lNr0tV8/view). We record it in Safari iPhone6. And you can experience it over our [website](https://m.trip.com)——https://m.trip.com.

[2018-04-23 07:08] StevenX911 commented on #14796
marked

[2018-04-23 07:29] juanlizarazo commented on #12908
Little update here!

This is the current status, I am aiming to finish the remaining tasks in the next few days.

I closed the existing PR because the new `amp-embedly-card` component's implementation is quite different.

- [x] Create and register extension.
- [x] Do not trust html, use 3p iframe.
- [x] Parse url data attributes.
- [x] Load external script in 3p iframe
- [x] Render card
- [x] List

[2018-04-23 07:42] choumx commented on #14765
I figured we might as well do this during the 1.0 bump to avoid special-casing more URLs for rewriting at the cache level. However, allowing relative URLs might fall under the "Developer Experience > Ease of Implementation" dictum per [AMP design principles](https://www.ampproject.org/about/amp-design-principles/).

/cc @honeybadgerdontcare

[2018-04-23 08:31] leonalicious opened #14798 "amp-list: Unsynchronized rendering in action sequences"
please visit this link https://m.aliexpress.com/wholesale/dress.html to try them out on both Safari and Chrome

Basically, when user clicks on *Brand Wall*

1.  We will submit the form and during the Form Submission, we will show the *loading animation*
2. When the Form Submission is returned with success, we will hide the *loading animation*

please refer to the coding snippet as below:

![image]

[2018-04-23 08:45] leonalicious commented on #14798
btw, i have even tried to include `reset-on-refresh` to trigger out `placeholder` under `amp-list` but it is not working as expected

[2018-04-23 09:40] Programmer407 opened #14799 "How to save data of response to access in multiple pages in AMP?"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-04-23 10:26] ithinkihaveacat commented on #14765
Do we have a document explaining how to decide whether a URL should be absolute or not? If other components are going to need to switch to absolute URLs at some point, then I agree a breaking 1.0 release is a good time to change `<amp-story>`, but the rules at the moment seem a bit arbitrary. I imagine something like `<amp-img src>` will always support absolute URLs?

[2018-04-23 13:30] bradfrizzell opened #14800 "Increased flakiness on Travis over the last 1-2 weeks"
My team and I have all been experiencing greatly increased flakiness on Travis the last 2 weeks or so. In addition to integration tests being perhaps a bit more flaky than usual, the unit tests have also started to flake at high frequency whereas they used to never flake at all. Is there any understanding of why this is happening now, and is there any way we can try to help with remedying the situ

[2018-04-23 13:43] glevitzky opened #14801 "Require Layout Not Being Honored in Safari"
## What's the issue?

Requesting layoutCallback to be triggered does not appear to work on iOS Safari. This was discovered while trying to figure out why refresh for ads is not working on the same browser.

## How do we reproduce the issue?

1. Pull down the glevitzky-request-layout branch and run gulp.
2. In __Chrome__ with dev console open, navigate to localhost:8000/examples/refresh.amp.html an

[2018-04-23 14:41] jpettitt commented on #14768
Right click takes a different path in the browser, it doesn't fire the click event handler so we never do the substitution.  May be fixable by catching right click events, stashing the original url somewhere and updating the href url in place.

[2018-04-23 15:09] danielrozenberg commented on #14799
Hi @Programmer407 - this is not the best forum to ask this type of questions, this is to report bugs in AMP or request features. Your best bet is to ask your question in [StackOverflow](http://stackoverflow.com/questions/tagged/amp-html) with the tag #amp-html, or try out [Slack channel](https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewfor

[2018-04-23 15:09] #14799 closed

[2018-04-23 15:10] #14178 closed

[2018-04-23 15:16] #14599 closed

[2018-04-23 15:24] #14692 closed, assigned to ithinkihaveacat, jpettitt

[2018-04-23 15:38] micyeung opened #14802 "FR: Support FCM Javascript API for sending web push notifications"
The FCM Javascript SDK greatly simplifies the process of working with web push notifications - a consistent client-side SDK helps with receiving notifications across Firefox, Chrome, and Opera, and a unified POST endpoint abstracts away the complexity with sending messages to clients on those browsers.
https://firebase.google.com/docs/cloud-messaging/js/client

There have been some good case studi

[2018-04-23 15:45] cvializ commented on #14484
Ah excellent, Service Workers can be tricky that way. Thanks for the follow up!

[2018-04-23 16:36] #14329 closed

[2018-04-23 16:36] #14616 closed

[2018-04-23 17:42] niutech commented on #11998
Please allow referencing `<amp-state>` as a data source for `<amp-list>`.

[2018-04-23 19:09] jaygray0919 commented on #14794
here's a good example:
  https://www.openlinksw.com/
/jay

[2018-04-23 19:30] cramforce commented on #14789
@dvoytenko
I think we can and should do this for documents that were served over HTTPS.

[2018-04-23 20:04] cvializ commented on #14794
Thanks. Looks like you can use a URL to translate documents like: https://translate.google.com/translate?sl=en&tl=es&js=y&ie=UTF-8&u=https%3A%2F%2Fwww.nyt.com and change the urlencoded URL at the end to be your URL. We could probably implement this as a demo with amp-bind rather than as a dedicated component.

[2018-04-23 20:15] jaygray0919 commented on #14794
The URL technique might be a bit of work as we'll need to set the URL for each 'source:target' pair.
In the case of the Google Translate JavaScript, we only need to initialize the page on which the Translate button appears.

And the URL technique looks a bit different, with the translation "pairs" at the top of the page.

Nevertheless, a small step is better than no step. And we have a list of tar

[2018-04-23 20:29] jaygray0919 commented on #14794
This would be a good UI:
  https://www.ampproject.org/

Upon selecting the target language from the list, load the translated page.
We could use your URL technique above for each link in the list-box.
But we'd like to avoid the 'source:target' pairing that appears above the NYT page example.
That extra element does not appear in the Google Translate button technique.
Instead, the selected language

[2018-04-23 20:43] Gregable commented on #14793
Will add.

[2018-04-23 21:05] #13442 closed

[2018-04-23 21:12] cathyxz commented on #14800
I'm not sure about the root cause, but I know that @rsimha is working on increasing our resource limits for both Travis and Saucelabs. One part of the flakiness issue may simply be that our PR count and CI load has increased a lot, so longer queue times are making flakiness extra painful.

A couple of things that we can do is:
1. Aggressively skip flaky tests and leave issues (assigned to componen

[2018-04-23 21:15] cvializ commented on #14800
Logs that reproduce the error: https://travis-ci.org/ampproject/amphtml/jobs/370168309

[2018-04-23 21:17] lannka commented on #13879
Closing for now. Feel free to reopen if you still see the problem.

[2018-04-23 21:17] #13879 closed

[2018-04-23 21:45] shishirm commented on #2273
Hello. Just checking in to see the proposed timeline. Is this still scheduled for release this month? Is there a beta version that we can try out using dev flags or will this be released live once it is ready.

[2018-04-23 22:27] aghassemi commented on #2273
@ericlindley-g I don't believe the team that was working on this is still actively doing so, do you know?

[2018-04-23 23:08] ericlindley-g commented on #2273
I'm not sure about the status, but I think @rudygalfi might be.

[2018-04-23 23:15] cvializ commented on #9791
Looks like for secure XHR forms, we only need to modify the validator rules to allow `input[type="file"]` in POST XHR forms. I have a demo running of how a currently-invalid form can submit a file, but it would be valid after changing the validator.

Code: https://glitch.com/edit/#!/dramatic-star?
Demo: https://dramatic-star.glitch.me/

[2018-04-23 23:28] piStats commented on #14795
Have signed the CLA certificate. Also the build seems to be breaking. Do let us know the next steps.

[2018-04-23 23:49] rsimha commented on #14800
We're tracking this via a ticket I've opened with Sauce Labs. Meanwhile, I've merged #14814, which should mitigate the issue on our side by force-quitting the `gulp test` process on Travis after all browsers have reported test completion.

Occurrences of Travis builds timing out due to no activity during `gulp test` should go away after this.

[2018-04-23 23:58] rsimha commented on #14800
@bradfrizzell In addition to my comment above, a good way to help reduce unit test flakiness is to pay attention to the `console.error` output that's printed at the end. Right now, we're seeing the AMP runtime report errors from several tests. We can't suddenly start failing all those tests, so we're printing warnings for now. It would greatly improve things if owners of tests were to run them and

[2018-04-24 05:41] juanlizarazo commented on #12908
@aghassemi @alanorozco New PR #14819 is up and ready for review :grin:

[2018-04-24 06:03] kamranuddin opened #14820 "How can I update the state with response data in AMP-form?"
<form method="post"  action-xhr="/shop/1" " target="_top" on="submit-success:AMP.pushState({ currentPage: currentPage+1 })">

         <div submit-success  >
                <template type="amp-mustache">
                        {{respData}}
                 </template>
           </div>

      <div submit-error>
               <template type="amp-mustache">
                   {{respData}}

[2018-04-24 06:37] johnteee opened #14821 "FR: Math.floor() for amp-analytics number values."
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-video-analytics.md

It's wonderful to use amp-analytics on amp-video
However the `currentTime`variable seems not a rounded value...
Is it possible to add something like `floor()` in `amp-bind`?

for example:

Current:
[code]

Expected:
[code]

Thanks a lot :D

[2018-04-24 06:45] zikas opened #14822 "Intent-To-Implement : Analytics support for configuration rewriter"
##  Objective

We'd like to be able to dynamically rewrite provided configuration. This is very similar to remote-config feature but additionally includes user-provided configuration in the request.

For example:
1. Configuration in vendors.js specifies **configRewriter** property with a server url.
1. Configuration on page gets posted to the specified url.
1. Response contains a configuration tha

[2018-04-24 07:52] irvin opened #14823 "plugin for CKEditor to produce amp-validated html"
## What's the issue?

Our website uses CKEditor as our content editor interface on backends, but it produced non-cleaning HTML that needs a manual conversion to make it amp-compatible. We wrote a giant Regex to doing it, but it would be better to have an official plugin to introduce CKEditor to avoid some attributions, and/or checking on the fly to see if the content is AMP compatible.

## How do

[2018-04-24 09:43] kirillsalikhov commented on #14299
1- We renamed component to amp-3d-glTF

2- We moved 6 files that are run in iframe to [amphtml/3p/3d-gltf/](https://github.com/webgears-3d/amphtml/tree/13c2de28ddc97082eebfed04a7567746e7852480/3p/3d-gltf) folder and reworked amp-3d-gltf component to use infra structure for 3P iframe.
Is it correct way?

[2018-04-24 10:02] tomayac opened #14824 "Rendering issue in iOS Google app"
Steps to reproduce:

1) Open the Google app.
2) Search for “pedidos ya grido” ([search link](https://www.google.pt/search?q=pedidos%20ya%20grido)).
3) Click through to the AMP result, notice the weird cropping (see screenshot below).
4) The issue does *not* seem to occur when the page is loaded directly ([deep link](https://www.pedidosya.com.ar/cadenas/grido/amp)).
5) The issue likewise seems *not

[2018-04-24 10:59] ithinkihaveacat commented on #14824
I can reproduce with iGSA, however not with Chrome or Firefox Focus. So I think the problem is somewhere in iGSA's viewer/wrapper rather than WkWebView.

[2018-04-24 11:26] tomayac commented on #14824
Thanks, @ithinkihaveacat, confirming this is not `WKWebView` but Google app specific. Changed title and steps to reproduce accordingly.

[2018-04-24 11:30] Arijit1303 commented on #11455
Hello
Iam having an issue with the amp_cache update , I followed the guide provided it this link
-------------------------------------------------------------------
 https://developers.google.com/amp/cache/update-cache
-------------------------------------------------------------------
which is not very specific and a bit hard to follow
My Apikey link is =  https://everest.trodly.com/.well-known/a

[2018-04-24 13:33] jeffkaufman commented on #14707
After discussion internally we see a way we may be able to do this without any changes to amp-analytics, so we're going to pursue that first.  If that's not possible I'll reopen and we can continue the discussion here.

[2018-04-24 13:33] #14707 closed

[2018-04-24 14:03] cramforce commented on #14824
Please file in b/ component `164566`

[2018-04-24 14:03] #14824 closed

[2018-04-24 14:09] tomayac commented on #14824
@sbenz has tracked this as #78497541.

[2018-04-24 14:50] jasti commented on #13716
@QES, some thoughts below.
- Purpose based consent on a per vendor basis isn't supported right now but we plan to in the future.
- Once we have purpose based consent, AMP will make the status available so each ad network implementation can read vendor consent status and purpose to process appropriately.
- Reg UI from 16/17. Please see https://ampbyexample.com/user_consent/advanced_user_consent_flo

[2018-04-24 15:08] ithinkihaveacat opened #14826 "validator.js should be served with shorter max-age"
`validator.js` has a max-age of 7 days:

[code]

This resource is used by the official AMP validator at https://validator.ampproject.org/; the long max-age increases the likelihood that different users will get different results depending on when they last performed a validation.

I suggest either shortening the max-age (to e.g. 60 seconds) or changing the validator to output "versioned" URLs.

Th

[2018-04-24 15:18] fabsn182 opened #14829 "Whitelist FontAwesome Pro"
FontAwesome introduced a CND-hosted version of the pro-package - url format: `https://pro.fontawesome.com/releases/v5.0.10/css/all.css`. So can you please whitelist pro.fontawesome.com as host in `<link rel="stylesheet">`?

[2018-04-24 15:56] danielrozenberg commented on #14820
Hi @kamranuddin - this is not the best forum to ask this type of questions, this is to report bugs in AMP or request features. Your best bet is to ask your question in [StackOverflow](http://stackoverflow.com/questions/tagged/amp-html) with the tag #amp-html, or try out [Slack channel](https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform)

[2018-04-24 15:56] #14820 closed

[2018-04-24 15:56] rsimha opened #14831 "Babel error seen during `gulp build` due to size of `react-dates/bundle.js`"
[code]

[2018-04-24 16:06] alex-magana commented on #14487
_Cross-sharing this from slack._

Hello
I’m reaching out to provide another sample amp document for use in resolving this issue,as raised by Austin.

Since the actual sample amp document requires credentials, that we aren’t able to share, to access, I have copied the raw html on the amp document, returned by accessing the link in the steps below.

The validator shall report errors for this webpage

[2018-04-24 16:09] nikoviedo opened #14832 "amp-carousel with src=myJson"
We need a dynamic carousel. Amp-list into amp-carousel doesn't work :/

[2018-04-24 16:21] cvializ opened #14833 "fix and unskip amp-brid-player tests"
amp-brid-player is broken due to a bug in their embed html.
<img width="100%" alt="screen shot 2018-04-24 at 09 00 11" src="https://user-images.githubusercontent.com/2363700/39200307-abe8ebf8-47a0-11e8-8ae1-0347d0d3aa3c.png">

[2018-04-24 16:44] cvializ commented on #14831
This should be fine, since that bundle is already minified. It would be nice to get rid of it though. I'm working on a few ways to reduce bundle size and they should resolve this.

Is this causing any misbehavior elsewhere, or is it just adding to the noise?

[2018-04-24 16:49] rsimha commented on #14831
Just noise for now. I opened this issue because the error might be indicative of bloat that we can get rid of.

[2018-04-24 17:01] cvializ commented on #14627
Hi @jaygray0919! Is this related to an amp-accordion issue? If not you should [post in amphtml-discuss](https://groups.google.com/forum/#!forum/amphtml-discuss) or if you think there is a bug you can  [open a separate new issue](https://github.com/ampproject/amphtml/issues/new) instead. This helps us track this discussion better.

[2018-04-24 17:11] danielrozenberg commented on #14832
Hi @nikoviedo, can you please elaborate on what you mean? Can you provide a simple example of source code that doesn't work as you expect and explain what you want this code to do?

[2018-04-24 17:11] rsimha opened #14835 "Maintain the history of flaky / failing tests on `master`"
This can be done by generating and uploading a passed / failed / skipped report for each Travis push build on `master` to a folder on github.com/ampproject/amphtml. This will lets us dig in to past failures and understand where test flakiness is stemming from.

[2018-04-24 17:12] rsimha commented on #14835
/cc @cramforce @erwinmombay

[2018-04-24 17:13] danielrozenberg commented on #14823
@jpettitt this looks like a partnership issue, similar to what we have with WordPress. Care to weigh in?

[2018-04-24 17:48] cathyxz commented on #14627
Hi @jaygray0919, it would help troubleshooting if you had demos illustrating the issue. Feel free to ping me on slack, or open a new issue re: `<amp-image-lightbox>`. =)

[2018-04-24 18:08] jaygray0919 commented on #14627
duh! should have demo'd the problem. will set example and ping on slack (@cathyxz , @cvializ )

[2018-04-24 18:12] #6322 closed

[2018-04-24 18:15] danielrozenberg commented on #14832
The way these two components work is by design, so GitHub is not the best forum to ask this type of questions. It might be worth seeking help either on [StackOverflow](http://stackoverflow.com/questions/tagged/amp-html) with the tag #amp-html, or try our [Slack channel](https://docs.google.com/a/google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform)

[2018-04-24 18:15] #14832 closed

[2018-04-24 18:42] jpettitt opened #14841 "Race condition in services provided by extensions."
There looks to be a race in the service promise for `amp-geo`.   Repro steps:

Load a page with amp geo
Clear the browser cache
Load `v0.js, v0.css`, etc but not `amp-geo` etc in another browser window to prime cache.
Reload the `amp-geo` page.

Result is a console error `To use variable  AMP_GEO , amp-geo should be configured`

[2018-04-24 18:44] jpettitt commented on #14841
/cc @kul3r4

[2018-04-24 18:44] alanorozco opened #14842 "I2I: `fixed-header`"
## Background

In some cases, components will have to render a fixed-size element that overlays the document. One case is [minimizing videos to corner](https://github.com/ampproject/amphtml/issues/14061).

In cases where there is:

a) a component rendering an overlay
b) a fixed header in the page

The component (a) has no way to determine that a fixed header (b) exists and that its margin should b

[2018-04-24 19:12] jridgewell commented on #14788
Oo, seem to have missed this since it was posted late on Friday. Reviewing it now.

[2018-04-24 19:35] danielrozenberg commented on #13841
@matthias-erl I noticed that you have an `<amp-analytics>` component both in `i3.shadowcontent.html` (where it should be) and in `i3.pwa.html`, which if I understand correctly is only for the shell. The shell should not be built using AMP compontents, and I believe its that "outer `<amp-analytics>` that's throwing the error (the inner one successfully triggers and POSTs, as can be seen in the Netw

[2018-04-24 19:38] jpettitt opened #14846 "Should amp-geo be render blocking?"
@jridgewell says it should because it will cause issues with layers and the class changes amp-geo makes will cause a page re-layout. @cramforce initially said no during design.

[2018-04-24 19:53] jridgewell commented on #14846
We're adding CSS classes to the body element, which can completely rearrange the page.

At the very least, this needs to invalidate the layers cache of the entire document.

[2018-04-24 20:24] Enriqe opened #14848 "Karma tests disconnect when running tests on Safari"
When running the tests on Travis for my PR #14679, I'm getting: Test disconnected because Safari 11.0.1 is not generating any test output for 2 minutes. https://travis-ci.org/ampproject/amphtml/jobs/369330113#L725 Note that it eventually reports a success in L728.

Have tried running it several times and the problems seems to persist.

[2018-04-24 20:28] rsimha commented on #14848
I see several console errors being printed during Safari runs. Probably related? https://travis-ci.org/ampproject/amphtml/jobs/369330113#L826-L883

[2018-04-24 20:29] rsimha commented on #14848
https://support.saucelabs.com/hc/en-us/articles/225104707-Karma-Tests-Disconnect-Particularly-When-Running-Tests-on-Safari contains several workarounds, but we already have them in place.

[2018-04-24 20:53] jpettitt commented on #14846
/cc @Gregable  since the cache pre-render is a factor here.

[2018-04-24 20:54] rsimha commented on #14848
Let's see if #14759 fixes this.

[2018-04-24 21:00] rsimha commented on #14848
Another PR that could potentially improve things is #13818

[2018-04-24 21:42] rsimha commented on #14848
@Enriqe Seems like your tests were run on a version of `master` that's 6 days old. Can you rebase and re-run?

[2018-04-24 21:45] Enriqe commented on #14848
@rsimha sorry about that. Rebased and re-ran. Waiting for results.

[2018-04-24 21:59] jerimiahwelch commented on #14788
Justin,

Sorry about the acronym - GSR = "Google Search Results"

Splitting this into two different bugs is fine with me.

I was hoping for a quick solution, but the reason I included a list of needs was so that you could find creative solutions that meet the needs.

However, if it comes down to a choice between fixed element jutter and intertial scrolling, we would choose stable fixed elements. J

[2018-04-24 22:01] jerimiahwelch commented on #14788
Should I start a separate bug for amp-bind not updating fixed elements in iOS Google Search Results?

[2018-04-24 23:02] jerimiahwelch commented on #14788
Perhaps this is helpful:

Our first attempt to solve this problem involved creating a single, full-screen fixed element that contained all of the "fixed" elements on the page as absolutely positioned children. Our hope was that this parent fixed container would get moved to the "pseudo-fixed" element in iOS. However, it wasn't moved because it 1) was transparent and 2) was over 300px high.

If the

[2018-04-24 23:06] jridgewell commented on #14788
/cc @cramforce, @dvoytenko, who'll need to make this decision.

I'm getting internal bug reports about this too, I'll reprioritize to see if we can go this way.

That'd be great. 😃

That might have captured all click events...

Maybe we can see about loosening the transfer restrictions?

[2018-04-24 23:12] rsimha commented on #14848
Seems like this is a widespread problem on Safari, where even passing runs are idling for several minutes: https://travis-ci.org/ampproject/amphtml/jobs/370751738#L2053

[2018-04-25 00:59] jpettitt commented on #14841
Looks like this is actually a runtime bug.  There is a race condition where iif the extension Js file is slow to load the service may not get created by the time the runtime gives up.  At a minimum `amp-geo` and `amp-experiment` have this issue and I suspect all element provided services do.

[2018-04-25 02:12] cramforce commented on #14788
To @dvoytenko :)

[2018-04-25 02:13] cramforce commented on #14846
I thought we'd leave it non-blocking and see how much of an issue it would be.

We should also try to SSR it soon.

[2018-04-25 02:30] alanorozco commented on #14842
Giving this more thought, this should be handled on some level by tools available in the runtime.

[2018-04-25 02:30] #14842 closed

[2018-04-25 02:37] alanorozco commented on #10521
Thanks @cathyxz for bringing this up. This list is useful knowledge.

Closing this as obsolete in favor of #14061.

[2018-04-25 02:37] #10521 closed

[2018-04-25 09:13] AcidRaZor opened #14859 "Getting the text value of a select element"
Hi,

event.value is used to get the value of the selected option on a drop-down select HTML element, however, I'm unable to get the text within that element (not the value) when it is selected.

Is there anything I'm missing?

Why was String.replace() not included in the white-listed options for string manipulation? (Which is a solution to the above, since the display of the item and it's value di

[2018-04-25 09:27] peterjosling opened #14860 "ActionService can't trigger animations defined in shadow documents on `enter`"
## What's the issue?

• Document `x` has an `amp-animation`, used by `<amp-position-observer on="enter:recommendedSlideIn.start">`
• `x` is attached to another document `y` using the `attachShadowDoc` method
• When the `enter` action tries to fire, in runs in the context of the parent document `y`. It uses `getElementById` to try and find the animation, and fails, as it's hidden within the shadow

[2018-04-25 09:31] aghassemi commented on #11647
@newmuis @choumx Could we consider move this to P1/P2? Another market this has come up is Japan.

[2018-04-25 09:31] bnku commented on #6165
Is AMP an independent opens ource project, or an extension to the Material Design Guidelines?
I am fully confident that the designer should be able to fully manipulate the screen space!

[2018-04-25 09:34] morsssss commented on #11647
This is harder no doubt... but would it be worth creating another issue to enable vertical instead of horizontal?  At least one major language group expects that :)

[2018-04-25 09:36] erwinmombay commented on #11647
i want to read my manga :)

[2018-04-25 10:22] bjalford opened #14861 "Option on flying carpet to disable scroll if ad inside is same size as window"
Goal:

Use flying carpet to display ad that can be either MPU or double MPU. When double MPU then flying carpet woks as is, when single MPU it's displayed as is not inside flying carpet i.e. no scroll

How can this be achieved?

[2018-04-25 11:54] vamshi5889 commented on #10230
@choumx , @ericlindley-g and @aghassemi

Is there any update on allowing dynamic heights for amp-list? We are eagerly waiting for this FR.
I would recommend in Introducing a new layout option for **amp-list**

Thanks,
Kvg

[2018-04-25 12:18] JoyceBabu commented on #11455
I have published a composer package for clearing AMP cache

https://packagist.org/packages/ennexa/amp-update-cache

[2018-04-25 14:25] gmajoulet opened #14862 "amp-story: background-audio playing on ads"
When an ad is displayed, a ``background-audio`` set on the ``<amp-story>`` element should be muted.

[2018-04-25 14:36] Enriqe commented on #14848
#14679 is now green. Thanks!

[2018-04-25 15:12] ericlindley-g commented on #14860
/cc @nainar @aghassemi @cathyxz

[2018-04-25 15:16] carsugar opened #14863 "Request for new element-{top, left, bottom, right} macro"
It would be useful to have macros for positioning that simply give the top, left, bottom, and right of the element relative the the screen in addition to the elementX, elementY, elementWidth, and elementHeight macros.  This would allow standard positioning to be sent instead of waiting to calculate bottom and right once the currently available macros have been filled in.

[2018-04-25 15:57] ericlindley-g commented on #10230
@vamshi5889 — this feature is on the stack of things we're working to fix before the end of June, but we don't have a solid release date yet

[2018-04-25 15:59] rsimha commented on #14835
@cramforce, does this sound like a good idea? If so, is there a publicly available directory under the amphtml github repo (that won't get downloaded during a `git fetch`) that I can upload these reports to?

[2018-04-25 16:12] danielrozenberg commented on #14859
Hi @AcidRaZor, can you give a simple example of an AMP document that doesn't work the way you expect it to? What is it that you want the AMP page to do but doesn't work as you would expect?

[2018-04-25 16:27] lannka commented on #14822
As talked offline, this is a good enhancement to the existing remote config feature, which can only include simple data in the request.

One question, how is the 'requests' config in the vendors.js used?
[code]

[2018-04-25 17:44] jridgewell commented on #14861
Passing over to @jasti.

[2018-04-25 17:47] gmajoulet opened #14868 "Optimize the mute/unmute operations performed on navigation."
Right now, here is what happens upon navigation:

- all the media elements of all pages + the story ``background-audio`` are muted
- the new active page media elements + the story ``background-audio`` are unmuted

We perform a lot of unnecessary operations that slow down page navigation, and there is no need to mute the background-audio to unmute it again in the next function call.

Instead, we co

[2018-04-25 18:28] lannka commented on #14822
I thought vendor config is also going to be sent to server?
[code]
In this case, the config rewrite will be the final step, which takes the merged config as input. Or you are thinking other way?

/cc @btownsend

[2018-04-25 18:33] zikas commented on #14822
From the efficiency standpoint there' not a lot of value in sending vendor config (as it's static and doesn't change). I was thinking that
[code]

[2018-04-25 18:36] glevitzky commented on #14801
Dima, assigning this to you since you wrote the requireLayout code. Please reassign to someone more appropriate, if necessary.

[2018-04-25 18:48] lannka commented on #14822
split off inline config with vendor config will break the current paradigm. it also might bring in some more complexity to the feature itself (you need to explain what will be rewritten and what will not). just want to see how much bandwidth we are going to save, is it worth it?

/cc @rudygalfi

[2018-04-25 18:55] obeyer commented on #11455
@Dimasmagadan your key gets downloaded, if I click on the link. it should just return the key, like this: http://www.popsugar.com/.well-known/amphtml/apikey.pub

[2018-04-25 19:47] #7368 closed

[2018-04-25 20:22] jasti opened #14873 "Consider supporting wrapper ad format in AMP pages"
Sample here: https://formats.yieldmo.com/#/format/wrapper_Interactive

[2018-04-25 20:32] #14593 closed

[2018-04-25 20:50] lannka commented on #14789
Discussed in design review.

To avoid potential vulnerability for http sites (described below), we decided to only turn off AMPCORS for HTTPS traffic (source origin is HTTPS).

---- potential vulnerability for http sites
Compromised http sites (for example victim of BGP attack) could have injected malicious code in the AMP Cache page at caching time. Turning off AMP CORS on those pages would enabl

[2018-04-25 20:57] lannka commented on #14789
Thinking twice, if such vulnerability exists for http sites, only doing a client side AMPCORS check is not helping much.

If a compromised HTTP cache page is sending a mutation request to HTTPS server, and if the server does not check `__amp_source_origin`, then the mutation request will be handled. Client AMPCORS check is only blocking the response to be seen.

@cramforce what you think?

[2018-04-25 21:06] cathyxz commented on #14757
@shishirm we're on a 2 week release schedule, so the fix should hit production approximately 2 weeks after merging to master.

[2018-04-25 21:39] zikas commented on #14822
After offline discussion I have updated the original proposal with "defaults" section in configRewriter definition.
Could you please take another look.

[2018-04-25 21:41] lannka commented on #14822
I'm also thinking if we should deprecate the remote config, given
1. config-rewriter provides a superset of feature. only feature wise difference is the HTTP request is a POST not a GET, but we might also work around this if we want.
2. having 2 ways to get config remotely is a bit confusing from product's stand of point.
3. we can migrate major vendors using remote config to config-rewriter, so t

[2018-04-25 21:44] nainar opened #14876 "<amp-next-page> needs enough text to trigger a scroll before the next page loads"
E.g.

<amp-next-page> doesn't trigger and display the next pages if it is the only thing (or if there isn't a scroll trigger).

This should either be documented in the markdown as WAI or fixed.

[2018-04-25 21:44] nainar commented on #14876
cc @peterjosling

[2018-04-25 21:49] zikas commented on #14822
I'm not sure that config-rewriter will provide a superset of features.

For example the following use cases will be affected by the deprecation.
* Customer already has both, GTM AMP configuration and inlined configuration with extra triggers.
Unless GTM starts merging inlined config with generated config on server, page tagging will change (user expects union of GTM tags and inlined tags, only GTM

[2018-04-25 21:49] lannka opened #14877 "Expose amp-consent states to 3p iframes"
With `amp-consent`,  AMP elements can be configured to be blocked at build time to wait for user interaction with the consent dialog.

The consent state is readable by extensions, but not yet accessible from within iframes, use cases includes `amp-ad` and `amp-iframe`.

Here we propose additions to the window.context API:

- context.initialConsentState
- context.getConsentStateAsync() // the state

[2018-04-25 21:51] zikas commented on #14822
* Another complication is we'll need to stick with remote-config attribute for configRewriter as customer migration would mean retagging.

[2018-04-25 21:56] lannka commented on #14822
Unless GTM starts merging inlined config with generated config on server, page tagging will change (user expects union of GTM tags and inlined tags, only GTM tags will be available)

Yep, work for vendor server.

They cannot do it with GTM or other tag manager now in anyway, since we only allow them get remote config from one place. Do you see this can be a feature for your case?

Not necessary. F

[2018-04-25 22:04] jasti commented on #14877
Thanks. @lannka please link to master issue from next time.
Master Issue: https://github.com/ampproject/amphtml/issues/13716

[2018-04-25 22:16] jridgewell commented on #11445
We have another report of this at b/78497541, again tied to iGSA using the Natural Viewport with `body { overflow-x: hidden; overflow-y: visible; }`.

I've reduced the issue affecting this report down to https://output.jsbin.com/poyejox/quiet. This affects both Chrome and Safari. Try toggling the `body { overflow-x: hidden }` in the console, and watch how it affects the layout.

[2018-04-25 22:47] lannka commented on #14789
OK, revised version now is:

For publishers who only host AMPs on HTTPS, they can skip AMPCORS on non-mutation APIs.

So I guess this becomes much less exciting. Any publishers who have a mutation API will need to read and understand the whole AMP CORS article. And even if they don't have a mutation API at the moment, they have to remember that they will need to come back once they plan to add one

[2018-04-25 22:56] jridgewell commented on #14594
iOS Viewports: https://github.com/ampproject/amphtml/issues/11445

[2018-04-25 22:56] cathyxz commented on #14632
Since there are a lot of users in the wild who currently depend on the existing behavior, I think we're going to wait to revisit this compensate for iOS bottom bar strategy until Chrome launches its bottom bar (Duplex). https://www.androidpolice.com/2018/02/16/experimental-chrome-home-interface-now-chrome-duplex-address-bar-back-top/

If you feel strongly about this, you are more than welcome to c

[2018-04-25 23:01] cramforce commented on #14789
They don't have to understand it, they only have to understand the query param.

[2018-04-25 23:04] cramforce commented on #14789
One more thing:

[2018-04-25 23:08] cramforce commented on #14835
Can you write it to a Google Spreadsheet?

[2018-04-25 23:11] lannka commented on #14789
Regardlessly, can we deprecate the custom header `AMP-Access-Control-Allow-Origin`? If publishers want to reject a request, they can simply not write the standard `Access-Control-Allow-Origin` header, or just reject the request completely.

Was it there due to some browser compatibility issue? Is it still a concern?

[2018-04-25 23:49] cramforce commented on #14789
The header ensures that sites don't forget to check the query string, since requests break if they forget.

[2018-04-25 23:51] rudygalfi commented on #14822
I think this will work and it seems like a pretty good way to address a complicated set of requirements. Just to confirm: `configRewriter` is something you can include both in vendors.js but also in the direct markup for amp-analytics? That is, a publisher could use the same pattern for their own proprietary, non-vendor analytics?

My feedback is to really ensure the merging logic can be communica

[2018-04-26 00:12] jridgewell opened #14883 "amp-story: Remove Unused Private Fields"
There's a bunch of unused private fields in the AMP Story code. Rather than do them all myself, I'm assigning this to you all:

1. `gulp lint`
2. Look for any "Unused private" warnings
3. Either annotate appropriately, or remove the unused private.
4. Profit!

Note, this is just a warning now, but it will be promoted to an error shortly.

A lot of them are very easy: #14881, #14882, etc.

Part of

[2018-04-26 00:59] aghassemi commented on #14299
@kirillsalikhov yes that approach is great. If someone those files are generic enough and available on CDNs (same way 3d is) you can also use the CDN version. Are these files written by yourself for this amp-component? If they are 3P, we need to ensure licenses match and are attributed properly.

I think a good next step is getting the code to a good state and submitting a PR and we can collaborat

[2018-04-26 01:00] cathyxz opened #14887 "amp-youtube with autoplay in amp-carousel will not pause on swipe"
Repro sample: https://codepen.io/cathyxz/pen/xjOoNr

Swipe to 2nd slide. Pause video. Play video. Swipe to 3rd slide. Note that video does not pause when you swipe past slide 2.

Debugging with console logs (paste the example into a file inside `/test/manual/` and log in `amp-youtube.js`), we notice that the autoplay on the second video causes the `play()` function to be triggered with `this.playe

[2018-04-26 01:09] jerimiahwelch opened #14888 "amp-bind: Support bindings on fixed layer elements"
## What's the issue?

Amp-bind not updating fixed layers on iOS devices in Google Search Results amp-viewer iFrame

This is an offshoot of this bug https://github.com/ampproject/amphtml/issues/14788
/cc @choumx
/cc @jridgewell

## How do we reproduce the issue?

1. Using x-code simulator, open any iOS device
2. Using Safari, go to this url: https://search.google.com/test/amp?utm_source=gws&utm_med

[2018-04-26 02:06] aghassemi commented on #14860
/cc @danielrozenberg as this might apply to all actions in shadow dom.

[2018-04-26 04:37] choumx opened #14889 "FR: "Super eager" mode for robots"
AMP's resource scheduling system results in apparent missing content for some robots like search crawlers. To avoid this, we should implement a "super eager" mode which renders all page content immediately for robot user agents.

Internal context link: `go/amp-bot-mode`

/cc @cramforce @jridgewell @alabiaga

[2018-04-26 07:11] aloha202 commented on #12000
Hey guys, i have a related question
I've got a pwa and i want to open it from another application using the url like mypwascheme:http://my.test.host/mypage

But i have no idea what should i use for the scheme part

Any ideas?
Thanks in advance

[2018-04-26 07:48] piStats commented on #14795
Anyone on it?

[2018-04-26 10:53] vamshi5889 commented on #10230
@ericlindley-g -- Thanks Eric.

Actually **fixed-height** layout is working for me and height is set dynamically on page load. But if i expand any accordion, height is not getting increased. And user cannot see the bottom content (not-scrollable). Refer the below two states of a page i'm working on.

In the below page, I gave **height="600"** with **fixed-height** and it dynamically/automatically

[2018-04-26 11:39] sebastianbenz opened #14893 "[amp-consent] Support inline postPromptUI"
**Problem:** currently, the postprompt UI needs to be within the amp-consent element. This has two problems:

1) It's hard to position the UI as amp-consent already uses `position: fixed` which means using `position: fixed` for the postPromptUi is not possible (e.g. https://ampbyexample.com/user_consent/basic_user_consent_flow/ is currently broken on Safari for this reason).

[code]

2) It's not p

[2018-04-26 14:10] gmajoulet commented on #14883
Thanks. I'm on it

[2018-04-26 14:41] #14575 closed

[2018-04-26 15:44] calebcordry commented on #14605
CORS strategy being tracked here: #14789

[2018-04-26 15:49] cvializ commented on #12000
Hello! I think a general question like this would be more appropriate on a dedicated forum or QA discussion site like StackOverflow. If you have an AMP related question, feel free to open a new issue so we can track that discussion separately from existing issues.

[2018-04-26 17:09] #14883 closed

[2018-04-26 17:10] jridgewell commented on #14889
👍

[2018-04-26 17:16] IamAlta opened #14900 "Anything with a thumbnail and click to enlarge"
## What's the issue?
Feature request.

The idea of AMP is to _accelerate_ the page loads. However, loading an extra large image as a thumbnail defeats the purpose.

Many times, the visitor does not want to see an extra large image, and loading the extra large image results in unnecessary transit bits. Some extra large images cannot stand much compression if it's a detailed image where the customer

[2018-04-26 19:34] rudygalfi commented on #14893
Cc @jasti

[2018-04-26 19:51] #14757 closed

[2018-04-26 20:05] nainar commented on #14860
It does apply to all actions in ShadowDOM - the only fix that I can think of is to traverse over all elements in the shadow DOM if a target isn't found here: https://github.com/ampproject/amphtml/blob/master/src/service/action-impl.js#L471
Proposed (slow) solution:
Traverse over all elements to see if a shadowRoot exists and see if the selector matches one in the shadowDOM.

I will have a PR up ho

[2018-04-26 20:12] bpaduch commented on #11989
@choumx  - In validation, the URLs for `publisher-logo-src` and `poster-portrait-src` and now `bookend-config-src` (and probably the other new meta attributes) disallows relative urls, that is, you have to spell out the full URL.  I didn't expect this, also the docs show otherwise, is this correct?

![rel-url-error](https://user-images.githubusercontent.com/1012254/39329513-8a7f5b32-496c-11e8-94b4

[2018-04-26 21:09] nainar commented on #14900
cc @cathyxz

[2018-04-26 21:15] jasti commented on #14893
Related to #13716

[2018-04-26 21:29] cathyxz commented on #14900
This is blocked by https://github.com/ampproject/amphtml/issues/11575. For reference, we have for addressing this in lightbox specifically https://github.com/ampproject/amphtml/issues/12929. Ideally we should be able to achieve this with `srcset` and `sizes`, which is another reason to prioritize https://github.com/ampproject/amphtml/issues/11575.

[2018-04-26 21:39] #13354 closed

[2018-04-26 21:43] jasti opened #14913 "Support external consent flow within amp-consent"
Some publishers have existing consent flows on their non-AMP pages that they'd like to use for AMP as well.
Possible options:
1. Use a way to iframe and message communication between the iframe and the AMP page, so consent status is available to the AMP page
2. Send user using links in amp-consent to the non-AMP page but have the ability to direct the user back to the AMP page (even when AMP page

[2018-04-26 21:49] calebcordry commented on #14572
working on a fix in #14869

[2018-04-26 21:50] jasti opened #14914 "Enhance checkConsentHRef to suppress additional amp-consent"
The publisher may sometimes get consent on the non-AMP pages. In such a case, the publisher can send the consent status directly to the AMP page and therefore, as a result choose to
1) Suppress consent
2) Suppress consent and override local storage to consent status that's made available to ad networks and analytics

CC @lannka @rudygalfi

Master Issue: #13716

[2018-04-26 21:55] jasti opened #14915 "Support passing key-value pairs from checkConsentHRef to amp-ad"
Publishers need to indicate if a user is under-age to the ad network to serve different type of ads.

CC @lannka @rudygalfi

Master Issue: #13716

[2018-04-26 21:58] jasti opened #14916 "Support <amp-analytics> vendors to get consent status"
Currently only amp-ad vendors are able to get consent status and we should allow analytics vendors to also know about the consent status so the analytics vendors can customize how they treat the user's consent action.

CC @lannka @rudygalfi

Master Issue: #13716

[2018-04-26 23:57] jasti opened #14920 "Support amp-consent block configuration using checkConsentHRef"
At the moment, the only way to get consent information is by hardcoding the consent block on the publisher AMP page or by fetching the data dynamically using amp-list which could be slow.

Provide a way to respond back with amp-consent data on checkConsentHRef XHR response.

CC @lannka @rudygalfi

Master Issue: #13716

[2018-04-27 00:02] lannka opened #14921 "amp-consent: forward KV pairs from consent remote endpoint to 3p vendors"
There are use cases where the remote endpoint want to share more information in addition to the consent state to 3p vendors, such as if the current user is under certain of age or so.

We propose a generic data object named `sharedData` in the checkConsentHRref response, which will be passed along with consent state to any 3p vendors that are interested in consent state.

[code]

For privacy reaso

[2018-04-27 00:12] jasti commented on #14915
Closing in favor of #14921

[2018-04-27 00:12] #14915 closed

[2018-04-27 00:29] lannka commented on #14921
@keithwrightbos would this work?

[2018-04-27 01:07] choumx commented on #14889
Bumping to P2 since an upcoming `amp-story` fix will reduce the impact of this. /cc @newmuis

[2018-04-27 01:12] newmuis commented on #14889
The `amp-story` fix went in as #14895

[2018-04-27 02:10] choumx commented on #11989
@ithinkihaveacat also reported this in #14765.

[2018-04-27 02:55] choumx commented on #14768
/cc @alabiaga

[2018-04-27 05:12] vamshi5889 commented on #10230
Thanks @ericlindley-g 😄

[2018-04-27 07:45] #13264 closed

[2018-04-27 07:57] choumx commented on #14888
We just need to scan the fixed layer container as well as the document body.

[2018-04-27 09:03] christian-felix commented on #13716
I got some question regarding the storage of user consent:
All consent instance state will be stored and handled client side, that's ok, but how i am supposed to fetch it and trigger some action depending on user consent.
For example disable the Opt-In button when already user has given his consent.

[2018-04-27 11:44] kirillsalikhov commented on #14299
We found CDN for 2 of these files in 3p. Added license info for rest of them.

We are almost ready for PR, need some time for small refactor

[2018-04-27 13:59] newmuis opened #14923 "Add an "i" icon for embedded viewers to amp-story system layer"
For embedded viewers where the URL of the viewer differs from the URL of the story, we should add an "i" icon that provides access to the original URL, and (optionally) a link to viewer-specific documentation on the matter.

![screen shot 2018-04-27 at 9 58 58 am](https://user-images.githubusercontent.com/1651960/39366338-a41c3f84-4a01-11e8-9a76-9809ae494d0e.png)

We don't have placeholder functio

[2018-04-27 14:00] newmuis commented on #14923
/cc @flaviori

[2018-04-27 14:07] newmuis opened #14924 "Add an amp-story embed mode for viewers that handle sharing"
Some viewers already handle sharing, and do not need our sharing icon (or the original document link added in #14923); we should add an embed mode (2) that removes these from the UI.

[2018-04-27 14:07] newmuis commented on #14924
/cc @flaviori

[2018-04-27 14:28] IamAlta commented on #14900
Thanks for the suggestion to achieve this with srcset and sizes. It's not immediately intuitive how it'll load a small image with the page load, and then load a larger one when the small image is clicked. I'll research it. Have a wonderful day, @cathyxz!

[2018-04-27 15:53] Gregable commented on #14793
Fixed and live.

[2018-04-27 15:53] #14793 closed

[2018-04-27 16:36] jasti commented on #14861
We'll need to do some supporting multi-size for flying carpet. However, that isn't a priority right now. Please feel let us know if you are able to contribute to the feature. Moving to backlog for now.

[2018-04-27 18:09] reyesemf opened #14928 "i-amphtml-sizer under amp-iframe"
We are having problems with an amp-iframe, in this case an i-amphtml-sizer is being generated as the first child.
The i-amphtml-sizer is added with a padding-top equal to the parent's height (but in percentage) which generates a huge white space below the content of the amp-iframe.

Here I leave the example:

![captura de pantalla de 2018-04-27 14-59-23](https://user-images.githubusercontent.com/2

[2018-04-27 18:28] nainar commented on #14067
PR landed:
amp-fx="fade-in" -> #14351
amp-fx="fade-in-scroll" -> #14454

[2018-04-27 18:57] jpettitt commented on #14928
This is how it's supposed work. The sizer creates a fixed aspect ratio box and the iframe is pinned to it using absolute positioning.  If you are seeing a lot of white space it's probably because you have a similar padding on an element that wraps the frame.

[2018-04-27 18:57] #14928 closed

[2018-04-27 19:34] newmuis opened #14932 "amp-img CSS should be injected into amp-story bookend shadow root"
The amp-story bookend uses `amp-img`, but is also in a shadow root, so the component's styles are not applied.  We should inject the `amp-img` styles into the bookend shadow root.

[2018-04-27 19:59] dvoytenko commented on #14788
All,

I think it's fine to remove some of these restrictions, but we should be careful. Perhaps the this option is better:

I.e. we could add an attribute `trasfer-fixed` and default it to `auto` with current rules. And define `true`/`false` to control it directly.

This is hard to swallow since the iOS scrolling is very complicated. Did anyone check what's the actual behavior for this now? Last t

[2018-04-27 20:23] newmuis opened #14935 "Add "continue anyway" to amp-story unsupported browser screen"
We should add a "Continue anyway" button to the amp-story unsupported browser screen:

![screen shot 2018-04-27 at 4 22 37 pm](https://user-images.githubusercontent.com/1651960/39383438-3cf44af0-4a37-11e8-97b1-6df7907aff31.png)

Clicking this button reveals the story in its current state, which may or may not be broken.

[2018-04-27 20:26] jerimiahwelch commented on #14788
Here is a video showing Inertial Scrolling(left) vs non-Inertial Scrolling (right) on iOS 9 and iOS10 in Google Search Results amp-viewer.

https://www.youtube.com/watch?v=gAFD_wS0wg4

If you expand the video to high quality, you can see the css rule applied to each page.

Scrolling in iOS 11 google search results amp-viewer currently behaves like the phone on the right in the video. You can sampl

[2018-04-27 21:11] cramforce commented on #14788
I'm confused. Do we have inertial scrolling turned on, or not? I believe we do; and it should behave the same as regular body scrolling as of iOS 11.

[2018-04-27 21:12] jridgewell opened #14936 "onMeasureChanged lifecycle callback"
@cathyxz noticed a infinite async loop in her code:

1. It's common to use the `onLayoutMeasure` callback to mean "when my measurements change" (from page resize, bind change, etc)
2. In `onLayoutMeasure`, she issues a `mutateElement` to a child element to synchronize it's measurements with the amp-element.
3. `mutateElement` invalidates the amp-elements cached measurements, requiring the next pas

[2018-04-27 21:25] jridgewell commented on #14788
We do, and it does.

But iOS 11 still uses non-inertia scrolling for inner boxes by default.

[2018-04-27 21:40] jridgewell commented on #14788
I'm ok with this route.

It's the same as before, still **sucks**.

Testing with the more [expensive page](https://www.google.com/amp/s/amp.docusearch.com/how-to-find-a-social-security-number-online.html), it seems #11900 is incorrect and the transfer is still needed in iOS 11. 😞

[2018-04-27 21:41] jridgewell commented on #11900
Unfortunately, this doesn't appear to be the case for more expensive pages. 🤦‍♂️

[2018-04-27 21:41] #11900 closed

[2018-04-27 22:12] jridgewell opened #14940 "Cleanup Unified iOS Viewport Experiment"
Spec: https://github.com/ampproject/amphtml/issues/11445

[2018-04-27 22:48] lannka opened #14943 "Console errors on test-amp-ad-3p-impl.js"
[code]

[2018-04-27 23:21] lannka opened #14944 "Status Update 2018-04-30"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-04-27 23:35] lannka commented on #14944
## Ads & Analytics

#### Past sprint:
- amp-consent: MVP launched
- amp-consent: amp-geo integration PR merged
- story ads: fixed a couple of bugs for ad network support
- template ads: AMP Cache support verified
- amp-analytics config-rewriter proposal
- proposal to simplify AMPCORS

#### Next sprint
- amp-consent: ads and analytics integration
- amp-consent: Client ID API opt-out
- amp-consent:

[2018-04-27 23:58] amedina opened #14947 "amp-img doesn't load when CSS zoom is set"
## What's the issue?
Images in viewport not being loaded properly.

## How do we reproduce the issue?

1. Go to https://staging.paulbakaus.com/
1. A list of article cards is displayed; some of the cards have a small image on the right
1. Some of those images are not loaded on page load despite of been in viewport

/cc @aghassemi
<img width="770" alt="screen shot 2018-04-27 at 4 48 36 pm" src="http

[2018-04-28 04:51] xiekun09 opened #14949 "3p ad frame (*.ampproject.net/) not accessible in China"
I tried to change my website to AMP project, all work's well just Amp-Ad can't show in China, before I used normal code get from ADS can show, but i used AMP-AD can't, it always show https://d-13591525921658173190.ampproject.net/ time out.

Thanks

[2018-04-28 10:49] aghassemi commented on #14947
\to @jridgewell may have something to do with `layout=intrinsic`

[2018-04-30 09:40] cloudb opened #14958 "Appending a Query Parameter with a default value to the href in links does not work"
## What's the issue?

We are trying to use variable substitution in links as documented [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#query-parameter) and [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#query-parameter).

Here is an example of the HTML we are using:

`<a href="//example.com/" data-amp-addparams="SRC=QU

[2018-04-30 12:25] seanthegeek commented on #11995
@jasti @tlong2 I get this error even on mobile devices

[2018-04-30 13:11] christian-felix commented on #13716
Thank you @jasti for your response.  That is exactly the solution which I had missed.
I have falsely assumed that one single div is designed to Opt-In and Opt-Out.... now I have two separate div container, where do i handle the Opt-In and Opt-Out settings.

Unfortunatelly, the post-prompt-ui does not work  as expected.

1. After the User gives his consent, the div immidiately  switch to the post-p

[2018-04-30 13:15] jasti commented on #13716
@sebastianbenz do we have an ABE for the post prompt UI by any chance?

[2018-04-30 14:16] sebastianbenz commented on #13716
That’s already built into both samples.
Vamsee Jasti <notifications@github.com> schrieb am Mo. 30. Apr. 2018 um
15:16:

[2018-04-30 14:49] IamAlta commented on #6516
@honeybadgerdontcare
Can you kindly clarify the nesting for submit-error, submit-success to this page where they first show up under "Success"? The example shows it but it is not intuitive about the nesting. Thank you.
https://ampbyexample.com/components/amp-form/

[2018-04-30 14:54] christian-felix commented on #13716
Somehow i don't grasp the concept behind the scences, so according to the sample the post-prompt-ui serves only to display the parent element again.
I thought i can configure the  "post prompt UI" somehow and apply only opt-out related elements there.
Then question remains the same: How do i may disable the opt-out button when user consent already given?

![usr_consent_img](https://user-images.git

[2018-04-30 16:21] rudygalfi opened #14964 "Shift optoutOfCid to core out of amp-user-notification"
Currently optoutOfCid is tied to amp-user-notification, but the feature is actually relevant outside of amp-user-notification. In particular, it might be desired to use it with amp-consent, or with neither of the aforementioned features. Thus, this issue tracks moving it into AMP core.

[2018-04-30 16:39] honeybadgerdontcare commented on #6516
@IamAlta I'm not sure I understand what you're asking. AMP by Example explicitly states:

[code]

[2018-04-30 16:58] prateekbh commented on #14958
CC: @jridgewell

[2018-04-30 17:00] prateekbh commented on #14949
CC: @zhouyx

[2018-04-30 17:16] rsimha commented on #14944
## Infrastructure

#### Past sprint:
- Investigated Sauce labs / Karma failures (temporarily skipped Safari)
- Percy timeouts were due to exceeding quota (mitigation coming up)
- Number of console.errors in tests down from 804 to 779
- Eliminated `yarn` warnings during first time install

#### Next sprint
- Fix for Sauce failures on Safari
- Mitigations for slowness / flakiness on Travis / Percy /

[2018-04-30 17:19] cvializ commented on #14594
AMP Input Masking: #12079.
[Public link to doc](https://docs.google.com/document/d/1tCw8oXTRuVTggA-0pXFQeLTJUS7qX8tlNY6RmhLRGZ4/edit?usp=sharing).

[2018-04-30 17:27] jridgewell commented on #11445
And b/65454911 is caused by it, too.

[2018-04-30 17:28] cathyxz commented on #5508
Closed by https://github.com/ampproject/amphtml/pull/14468.

Thank you very much!

[2018-04-30 17:28] #5508 closed

[2018-04-30 18:29] aghassemi commented on #14944
## UI

### What's done!
* ✨`input type=password` now allowed in AMP https://github.com/ampproject/amphtml/pull/14533 (pending validation rollout)
* ✨ `rotate-on-fullscreen` for amp video players is experimentally available: #14655
* 🌷Better default style for `amp-date-picker` https://github.com/ampproject/amphtml/pull/14701
* 🐛 Fix for `amp-sidebar`'s focus issue: https://github.com/ampproject/amp

[2018-04-30 19:52] jamesshannon opened #14971 "FR: Better client-side customization and personalization through expressions and <html> attributes"
Thought I'd start a discussion around a possible solution to what, IMO, is one of AMP's weaker areas.

Personalization and other load-time customizations are a continual challenge. `<amp-bind>` is fine for BTF content, but even where it's allowed it adds in the fundamental delays of an additional request.

`<amp-experiments>` has "solved" this by blocking the page until a (small) amount of JS can

[2018-04-30 20:14] nainar opened #14972 "`toggleLoading()` does not honor `isLoadingEnabled()`"
Loading indicators should only be allowed for some elements as can be seen [here](https://github.com/ampproject/amphtml/blob/master/src/layout.js#L298) and [here](https://github.com/ampproject/amphtml/blob/master/src/layout.js#L98) in layout.js

However, we are currently forcing all elements to allow the loading indicator as can be seen [here](https://github.com/ampproject/amphtml/blob/master/src/

[2018-04-30 20:33] jridgewell commented on #14972
This looks to be coming from https://github.com/ampproject/amphtml/pull/13782.

/cc @aghassemi.

[2018-04-30 20:34] lannka commented on #14913
Design sketch for option 2:

- On AMP page consent popup, publisher put a link that takes user out to an external consent flow in a new browser tab.
- Upon user finishing the external consent flow, the new tab can use the `window.opener.postMessage` API to passback a consent state.
- Once AMP page receives such a message, it will close the popup and save the consent state as if user has done the i

[2018-04-30 20:57] aghassemi commented on #14972
@nainar @jridgewell that function is not called if `isLoadingEnabled_` returns `false`. I can't repro the issue. `amp-facebook` is not showing loading icon (as intended until #14974) and attributes such as `noloading` which also impact the return of `isLoadingEnabled_`  seem to work as well for me on latest release.

[2018-04-30 21:00] keithwrightbos commented on #14921
Idea would be to call this after getConsentPolicyState returns?  How do you plan to pass this info for delayed fetch?  window.context.consentInstanceSharedData?

[2018-04-30 21:05] jridgewell commented on #14972
The element itself can call it. Clear your caches and refresh.

[2018-04-30 21:06] nainar commented on #14972
Re: the loading indicator, following is a screenshot taken on ABE on prod. Could you try clearing your browser's cache? That seemed to do the trick for @jridgewell.

<img width="610" alt="screen shot 2018-04-30 at 12 28 00 pm" src="https://user-images.githubusercontent.com/7919520/39450136-24e13686-4c7f-11e8-8c40-b98618c5acbc.png">

[2018-04-30 21:29] nainar commented on #14972
Tangent: This issue explains why prod allows the loader but doesn't explain why master doesn't show a loader element unless I whitelist the elements individually.

I have checked out master and the loader for facebook-* elements only shows up when I whitelist the components. This obviously worked when I submitted the PR but doesn't anymore! 😱

[2018-04-30 22:18] jridgewell commented on #14958
/cc @Gregable, can you think of any security issues with just plain concating the `data-amp-addparams` to the `href`?

[2018-04-30 22:32] zhouyx commented on #14921
It doesn't make much sense to me having`<amp-consent>` pass a not used data to other extensions. Especially if we are going to support multiple consent, how would we merge multiple `sharedData`?
Would it be better for the ad to directly fetch the data? (in rtc?)
cc @keithwrightbos @jasti

[2018-04-30 22:44] lannka commented on #14913
Design sketch for option 1:
- On AMP page consent popup, publisher put a button that will show up an amp-lightbox containing an full screen amp-iframe. The amp-iframe loads the external consent flow.
- Upon user finishing the consent flow in the amp-iframe, the iframe runtime pass back the consent state using `window.parent.postMessage` API
- Once AMP page receives such a message, it closes the co

[2018-04-30 22:45] jridgewell commented on #14947
Nope, this is actually due to the `zoom: 0.5` style applied affecting bounding boxes:

``js
$0.getBoundingClientRect();
//  {
//   height: 169,
//   left: 558,
//   top: 1027,
//   width: 169,
// }

$0.style.zoom = '1'
$0.getBoundingClientRect();
//  {
//   height: 169,
//   left: 199,
//   top: 525,
//   width: 169,
// }
[code]

[2018-04-30 23:02] lannka opened #14980 "build-system/tasks/check-links.js fails on node v8.9.3"
[code]

It works fine in v8.11.1. Node might have started support regex better in 8.11? Should we change our package.json to force node version ^8.11.1?

@rsimha

[2018-04-30 23:13] dvoytenko commented on #14801
@lannka, @jridgewell  could you ptal or reassign?

[2018-05-01 00:30] rsimha commented on #14980
... and I just realized you were talking about forcing the min version to `^8.11.1`. Agreed!

[2018-05-01 02:10] IamAlta commented on #6516
@ honeybadgerdontcare
I see it now under "Form Submission with Page Update"
I was concentrating on XHR (XMLHttpRequest) form submissions and didn't look there.
Do you think putting it under "Setup" is more appropriate?

[2018-05-01 02:12] jasti commented on #14921
As discussed, I think not having it passed via checkConsentHref would mean that the publisher would need to host 2 end points. The other issue is that RTC can't be triggered without user consent which is a catch 22.

[2018-05-01 02:30] jasti commented on #14921
Not if the publisher uses, "Supress consent" or "promptIfUnknown = false", right?

[2018-05-01 02:41] honeybadgerdontcare commented on #6516
@bpaduch thoughts?

[2018-05-01 02:54] zhouyx commented on #14921
In both cases, the consent would have resolved.

[2018-05-01 15:49] MarkkiPiho commented on #13677
Hi Cathy,

How are you? Do you have any news about this issue?

Best regards,

Markki

[2018-05-01 17:16] aghassemi opened #14989 "validator --update_tests does not seem to work"
Based on @alanorozco's findings, the `UPDATE_VALIDATOR_TEST` environment that gets set in Python does not stick when the `node` process runs.

/to @honeybadgerdontcare

[2018-05-01 17:52] aghassemi commented on #14971
/to @ericlindley-g specially now that `amp-geo` is allowed to run at load time, we may want to allow similar features as long as they don't need to make a network request.

[2018-05-01 19:53] jridgewell commented on #14801
This is not a Resources issue, I've verified everything inside Safari (it worked, once).

Rather, it appears to be a spotty keyset fetch. I can't understand it. It's literally a `fetch('...keyset.json', opts)` and it's never resolving.

[2018-05-01 20:39] alanorozco commented on #14989
Just a note: this occurs in my Linux workstation as well.

[2018-05-01 20:46] jridgewell commented on #14801
Promoting this to a P0 because, frankly, it scares me that Safari would fail to resolve a fetch's promise. We really need to figure out what the hell is going on, and whether we need to fall back on Polyfills in Safari (which would be a major drag).

[2018-05-01 20:53] rsimha commented on #14980
@lannka With #14995, we no longer need to force users to upgrade from `node` `^8.0.0` to `8.11.1`

And with #14983, we'll have a mechanism in place to suggest the latest LTS version of `node` and the stable version of `yarn` to users (warning mode only)

[2018-05-01 21:38] MarkkiPiho commented on #13677
Hi Cathy,

Thank You for your quick answer. That's a shame. But I keep my fingers crossed for the next quarter, because the issue has been around since 2016.

By any chance, would it be possible to remove at least !important attribute from .i-amphtml-slides-container sooner, so it can me overridden in valid way, if needed. For me it seems almost impossible to use it in a bad way, because amp-carou

[2018-05-01 22:00] jridgewell commented on #14801
Not a P0, whoo.

This is looks to be because one of your timers trips due to the debugger call in `layoutCallback`. If I disable breakpoints, reload, then enable the breakpoints after the ad renders, it hits the debugger in `refresh`.

Back to ads.

[2018-05-01 22:03] glevitzky commented on #14801
It sounds like it still does not call `layoutCallback` a second time (which is the crux of the issue for me), is that correct? If so, do you have any ideas why that might be?

[2018-05-01 22:29] jridgewell commented on #14801
I hit it every time.

There's an issue with `this.friendlyIframeEmbed_.destroy()` throwing because the node isn't attached, but that's not the same issue.

[2018-05-02 01:24] aghassemi commented on #11575
@cathyxz has started working on a fix. Thanks Cathy!

[2018-05-02 07:55] clumsyjedi commented on #13716
The UI framework for capturing and persisting consent seems suitable for my own purposes (GDPR compliance) but echoing some of the earlier commenters, I don't see how the users consent status can be used effectively...

For example for amp-ad components I don't want to block these from rendering outright, but would prefer the ad to receive the users consent status, so that we can serve a house ad

[2018-05-02 08:08] QES opened #15004 "FR: AMP-STICK-AD and Media settings to change advert depending on device"
Hi,

I have been looking at using AMP-STICKY-AD to display a fixed advert to the bottom of the page this works well but my AMP site is viewed on both mobile phones and tablets and I would like to use media tags to display a different advert sizes depending on the device.

This works BUT in validation says that you can ONLY have one AMP-STICKY-AD on a page.

OR if you place the check inside the AMP

[2018-05-02 08:10] QES commented on #14913
I think this sounds very sensible - with the whole uncertainty of what consent is required whatever is ultimately delivered by the advert networks it would seem sensible if there was a way to wrap that into the AMP-CONSENT process so that it doesn't have to be built twice.

[2018-05-02 09:38] christian-felix commented on #13716
Are there any chance that the amp-list component will work inside the amp-consent as propsed by this example:

[](https://ampbyexample.com/user_consent/basic_user_consent_flow/)

For some reasons the content delivered by the endpoint

[](https://ampbyexample.com/json/consent-items.json)

and stated by the text:

_This is some more information about this choice. Here's a list of items related to th

[2018-05-02 09:53] sebastianbenz opened #15006 "amp-app-banner not working in viewer on iOS and Android"
The custom app banner does not work correctly inside the Google AMP Viewer in iOS and Android.

Example URL: https://amp.welt.de/amp/wirtschaft/article175560166/Horror-Unfall-Triebwerk-explodiert-Passagierin-wird-fast-aus-Flugzeug-gesaugt.html

Viewer URL: https://www.google.de/amp/s/amp.welt.de/amp/wirtschaft/article175560166/Horror-Unfall-Triebwerk-explodiert-Passagierin-wird-fast-aus-Flugzeug-g

[2018-05-02 11:54] choumx commented on #14542
@TWsky What's the URL to the page that repros this? I can't seem to repro locally since the ad request 403's due to `x-frame-options: SAMEORIGIN`.

This is the line from the error: https://github.com/ampproject/amphtml/blob/459f1d6e4e668cfe484f19b206ca891bec912903/3p/ampcontext.js#L218

Weird since `this.client_` should never be null.

[2018-05-02 12:13] glevitzky commented on #14801
Okay, that's good news. Thanks for testing, Justin.

[2018-05-02 12:13] #14801 closed

[2018-05-02 12:39] rokerkony opened #15007 "amp4ads-host-v0.js: b.postMessage is not a function error msg"
## What's the issue?
AMP is poluting our application logs in bugsnag. See more here:
![screen shot 2018-05-02 at 14 27 00](https://user-images.githubusercontent.com/156132/39523589-7322aaee-4e16-11e8-8839-9bf026e8f3eb.png)

## How do we reproduce the issue?
Unfortunatelly I don't know.

## What browsers are affected?
![screen shot 2018-05-02 at 14 37 02](https://user-images.githubusercontent.com/1

[2018-05-02 13:02] choumx commented on #12498
Update: There appears to be very little production impact of this change (N < 5 per day). I think it's safe to make it blocking now without further warning.

[2018-05-02 13:50] danielrozenberg commented on #14860
Without having verified this (I just got back from vacation and am quickly catching up on an inconceivable amount of emails,) I believe we do keep track of all the shadow roots that we create in one of the service objects. @jridgewell or @dvoytenko can probably give more details off the top of their head, otherwise I can help find the relevant bits, ping me offline about this!

[2018-05-02 14:04] alanorozco opened #15010 "Check for fullscreen element support when rotating to fullscreen"
/cc @aghassemi

[2018-05-02 14:06] sebastianbenz opened #15011 "[amp-consent] inconsistent styling"
Dismissing the amp-consent flow adds `top: calc(0px);` to amp-consent. This causes the postPromptUi to behave differently based on whether the dialog has been dismissed or the page has been reloaded.

After dismissing:

<img width="416" alt="screen shot 2018-05-02 at 15 52 42" src="https://user-images.githubusercontent.com/380472/39527093-e1c65f4a-4e20-11e8-9744-70d5dfd6bda3.png">

After reload:

[2018-05-02 14:06] sebastianbenz commented on #15011
//cc @jasti @zhouyx

[2018-05-02 16:04] ericlindley-g commented on #15006
Can repro both issues.
On Android, I observed that the banner appears briefly but then is hidden

/to @aghassemi

[2018-05-02 16:27] lannka commented on #14913
@QES  This is just to provide an alternative solution for publishers who want to host their own consent flow. AMP-CONSENT itself will still provide a full end-to-end process.

[2018-05-02 17:01] jpettitt commented on #14823
This is really something for the CKEditor authors. @irvin have you reached out to them?

[2018-05-02 17:27] aghassemi commented on #15007
/to @lannka Looks like an in-a-box issue.

[2018-05-02 17:56] lannka commented on #15007
Might be cause by this [code](https://github.com/ampproject/amphtml/blob/master/ads/inabox/inabox-host.js#L72).

Pending messages are from external scripts. They might be passing wrong message data.

If so, this is legitimate errors we should bring up to ad networks who send those wrong messages.

Which ad network is your application using? Is it doubleclick?

[2018-05-02 19:56] jasti commented on #15004
@QES thanks for filing the feature request! We'll try to get this prioritized within the quarter.

[2018-05-02 20:13] newmuis commented on #11940
@aghassemi Do you have ideas on this?  We looked into trying to determine this programmatically, but `audioTracks` has poor support and the Web Audio API would (AFAICT) only really be suitable to tell you whether the element is *currently* playing sound (i.e. a video that has no sound at the current timecode (but has sound later) and a video that just never has any sound would appear the same).  A

[2018-05-02 20:16] newmuis commented on #14944
## amp-story

### What's done!
- Version 1.0 forked from 0.1 (but not yet ready for use)
- New bookend JSON API (also not yet ready for use)
- Translations are available (based on the `lang` attribute)
- Bugfixes for the ads experience
- CTA layers now disallowed on the first page of stories

### What's next?
- Integration with `amp-consent`
- New bookend DOM element (`<amp-story-bookend>`), compo

[2018-05-02 20:27] cathyxz commented on #4154
/cc @alanorozco for housekeeping? I think at least parts of this is now tracked elsewhere so I don't know if this is still relevant.

[2018-05-02 20:29] newmuis commented on #12170
I'm uncertain whether we will still do this, but we are now in a position where the necessary metadata is populated.

The icon can be pulled from the `publisher-logo-src` attribute of the `amp-story` tag; the color should be passed through a custom CSS property.

We also have additional metadata that can be shown if desired:

* The name of the publisher (the `publisher` attribute on the `amp-story

[2018-05-02 20:35] zhouyx commented on #13716
Hi amp-list can worked inside the amp-consent component, as a promptUI or postPromptUI. The ampbyexample page you referred to did show the content of amp-list? Is there anything I am missing? Or could you give me more details to reproduce? Thanks.

[2018-05-02 20:36] newmuis commented on #11870
This is done.

[2018-05-02 20:36] #11870 closed

[2018-05-02 20:38] newmuis commented on #14924
Fixed by #14990

[2018-05-02 20:38] #14924 closed

[2018-05-02 20:42] nainar commented on #14860
Reached out to @danielrozenberg offline as asked with some initial thoughts.

[2018-05-02 20:47] jasti commented on #13716
@clumsyjedi

That exact use case is supported! amp-consent itself don't block the ad request, it just makes the state available to the ad network to do whatever is appropriate. For e.g. when a user rejects consent, the state [CONSENT_POLICY_STATE.INSUFFICIENT](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/customizing-extension-behaviors-on-consent.md#advanced-blocking-be

[2018-05-02 20:52] #14921 closed

[2018-05-02 21:29] Enriqe opened #15025 "gulp will not show a stack trace when parse error occurs"
It will only show something like this

[code]

when calling `err` instead of `err.stack.replace(/    at[^]*/, '').trim();` in `gulpfile.js` I actually get the expected:
[code]

[2018-05-02 21:37] newmuis opened #15028 "Migrate amp-story-share-menu away from position: fixed"
amp-story-share-menu uses `position: fixed` to affix itself to the bottom of the viewport.  We should position it to the bottom of the amp-story element.  These two things are currently the same, but when the restriction of including the `standalone` attribute is removed, they can become different.

[2018-05-02 21:50] cvializ opened #15029 "Unskip flaky a4a refresh test"
https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/test/test-refresh.js#L137

[2018-05-02 22:18] spacedino commented on #14635
Did we figure this out?

(Is there a way to have an override / reset / rule when switching in and out? Ex: If auto > user clicks > reset to 100% / 50% / wait 1 extra second...?)

[2018-05-02 22:29] #15025 closed

[2018-05-02 23:43] aghassemi commented on #11940
One approach could be actually trying to play the video without muting it first, browsers are "supposed" to allow autoplay on videos that don't have soundtrack but who knows if the implementation matches the spec. This approach won't work for 3P players anyway since we don't get enough signals back whether the video played or errored, and "reset" is not part of the API either.

Anyway, I think you

[2018-05-03 00:09] newmuis commented on #14635
We can do any arbitrary ux here, we just need to spec out what we want 🙂

[2018-05-03 00:10] jridgewell commented on #11445
@aghassemi brought up that this would break URL Bar hiding on origin pages. Testing, that is the case. ☹️

[2018-05-03 00:16] ericlindley-g commented on #14971
Great ideas — I've been thinking about spinning up a dedicated project for this, since I agree it's one of the biggest gaps for AMP that puts certain use-cases out of reach.

I think the best first step is to assemble concrete use-cases. @jamesshannon , do you have a set in mind to seed the list? We can circle back offline to make an actual doc to take to design review to reduce chatter in-thread.

[2018-05-03 00:33] mrjoro commented on #14594
iOS Viewports was moved to a future design review.

**AMP Input Masking**
- text-mask library used by Intuit; assuming they use it that's a positive since they have a lot of forms
- there are so many different telephone formats; are there any other libraries that try to show everything?  implemented by one of the repos, and there was a lot of logic there; maybe not an MVP feature?
- could credit c

[2018-05-03 02:37] TWsky commented on #14542
The url which happened this issue is https://www.google.com.tw/amp/s/m.feebee.com.tw/amp/bid/%E4%B8%83%E5%AD%90%E7%99%BD%E9%9D%A2%E8%86%9C%E7%B2%89/%3fpage=1&mode=l&ptab=0
And scrolling down the product list would see the ad shown up after it, which [clicking the expand button](https://screenshot.googleplex.com/cUvvTTjjRjV.png) would cause the error.

[2018-05-03 02:57] cramforce commented on #11445
@aghassemi Good point. Also likely the scroll-to-top gesture.

[2018-05-03 03:12] camdunne opened #15037 "AMP-ANALYTICS: macro BACKGROUND_STATE callback not getting invoked"
Bug Fix Request

## What's the issue?
Issue seems to occur with amp-ad, but works fine with amp-video.

For example the same vendor config is used in both cases:
1. 'examples/fake_amp_ad_with_iframe_transport.html':
<img width="1440" alt="screen shot 2018-05-02 at 10 33 09 pm" src="https://user-images.githubusercontent.com/22266951/39557922-e281e21e-4e58-11e8-91dd-29630bb29353.png">
2. 'examples/a

[2018-05-03 04:39] westonruter commented on #1032
Here's how I ended up implementing a state-based toggle on the `body` element in WordPress:

[code]

Importantly, this only would allow for toggling a single class. It's also not very pretty.

[2018-05-03 04:53] westonruter commented on #1032
In the WordPress theme there is a button that invokes jQuery to `toggleClass`:

[code]
Here's how I worked out to accomplish (mostly) the same with AMP, with hacking a `label` to work like a button that toggles a hidden checkbox:

[code]
Notice importantly that the “button” isn't only needing to cause the `body` class to toggle. It also needs to cause the  `aria-expanded` attribute to toggle. This

[2018-05-03 05:54] bobaaaaa commented on #15006
I'am one of the maintainer of amp.welt.de. If you need more infos or some kind of 'testing in production' give me a hint.

[2018-05-03 06:40] #14887 closed

[2018-05-03 09:28] sebastianbenz commented on #13716
@zhouyx I can reproduce @christian-felix observation.

Steps to reproduce:

1. Visit https://ampbyexample.com/user_consent/basic_user_consent_flow/
2. Clear local storage in dev tools
3. Reload the page -> amp-list content shows
4. Reload the page -> amp-list content does not show

[2018-05-03 11:11] Antoinebr opened #15038 "amp-bind : example from documentation shows errors"
## What's the issue?

In the documentation https://www.ampproject.org/docs/reference/components/amp-bind the "A slightly more complex example" demo seems to be buggy.

It's very very frustrating to try to learn it when the doc is not cristal clear :(

## How do we reproduce the issue?

To reproduce :

use the dev mod ```#development=1```

[code]

erros

[code]

## What browsers are affected?

All

[2018-05-03 13:13] dbemiller commented on #13716
@zhouyx Small correction to a code block in the top post?

Looks like it should be:

[2018-05-03 13:49] cramforce commented on #14594
Haha, DOMTokenLists are separated by space! Is this a DOMTokenList?

[2018-05-03 14:06] AndrewKGuan commented on #10844
Hi Ali,
love to be able to contribute, could you recommend me a starting point?

[2018-05-03 14:33] sebastianbenz commented on #1032
Interesting problem. Here is another approach that supports toggling multiple `body` classes:

[code]

Full example: https://jsbin.com/qilalovife/edit?html,output.

It's still not very nice, but solves the problem. It'd be nicer if amp-bind-macro would support actions (or a new extension `amp-bind-action`.

[2018-05-03 16:13] alabiaga commented on #14768
@jpettitt right. This looks to be an easy fix for the variable substitution case just by just binding the same handler for the 'contextmenu' event as we do with the 'click' event handler which updates the inlined href with the variable substitutions. Then when the user chooses open in new tab or window, the updated href is reflected. But this does not work for the other type of links we support, l

[2018-05-03 16:29] prateekbh commented on #15038
CC: @choumx

[2018-05-03 16:40] aghassemi commented on #10844
@AndrewKGuan http://bit.ly/helpamp is a good starting point. Adding @cathyxz to the conversation who can help you with questions and implementation strategy. Let's continue the discussion on #11358.

[2018-05-03 16:48] jgladden opened #15041 "Freewheel Ad Network"
The Freewheel Ad network does not appear to be supported yet. I am working on porting a client site  and they do not have the option of swapping ad networks. I am considering, until amp supports freewheel, using the amp-iframe. I noticed in the documentation it is not recommended for serving ads but I do not see any other viable approach? Are there any options beyond telling my client they are out

[2018-05-03 16:52] #14408 closed

[2018-05-03 17:04] westonruter commented on #1032
@sebastianbenz Good idea to use concat. That made me realize I could actually avoid manipulating the body class state entirely, in favor of dynamically concatenating a class name based on whether or not some other state value changes:

[code]

Given this value of the `[class]` attribute, the `.concat( minnow.navMenuExpanded ? 'sidebar-open' : '' )` part could be repeated any number of times accord

[2018-05-03 17:10] jridgewell commented on #11445
Yup.

[2018-05-03 17:15] cathyxz commented on #11358
So to clarify, we can auto collapse other times with the attribute [`expand-single-section`](https://www.ampproject.org/docs/reference/components/amp-accordion#expand-single-section).

@AndrewKGuan Am I correct in understanding that this FR here is basically about animating the expansion / collapse?

If so, you can start by looking at the [toggle](https://github.com/ampproject/amphtml/blob/671ec47

[2018-05-03 17:17] hongwei1990 commented on #14635
Based on what we discussed in the meeting this morning. Let's try to cut the width animation for the "previous" page progress bar. Making it instantly fill to 100% white, or 0% white (by changing the opacity).

[2018-05-03 17:54] westonruter commented on #1032
What I wrote in https://github.com/ampproject/amphtml/issues/1032#issuecomment-386191349 was wrong. It is trivial to toggle state already using straight `AMP.setState()`.  All that is needed is to add an `on` attribute like so:

[code]

[2018-05-03 18:02] sebastianbenz commented on #1032
:-) even better. I thought being able to toggle multiple classes on the same element was your problem, which can result in awkward nested if statements.

[2018-05-03 18:05] #14685 closed

[2018-05-03 18:07] cvializ commented on #14594
It could be, but it wouldn't behave quite the same as a class list, and it would always be pretty short.

[2018-05-03 18:59] jasti commented on #15041
@jgladden requesting Freewheel to add support is the right way to go.

[2018-05-03 19:15] jgladden commented on #15041
In the interim (or if my client can not get freewheel onboard) could i add a function to the amp-3p-iframe-src remote.html draw3p call to createElement('iframe') then src it to the ad on our server? It seems an ugly, very convoluted approach in comparison to just src'ing the ad from amp-iframe but I am guessing would be supported?

[2018-05-03 19:33] newmuis commented on #14635
Thanks @hongwei1990!

We should apply an `active` CSS class to the progress bar segment for the currently-active page (which should get updated to the new page upon navigation), and only apply the `transition` CSS property to the `active` segment.

[2018-05-03 19:37] gmajoulet opened #15057 "Migrate amp-story-consent away from position: fixed"
See: #15028

[2018-05-03 19:39] alabiaga commented on #14708
fixed in #14898

[2018-05-03 19:39] #14708 closed

[2018-05-03 19:40] #11094 closed

[2018-05-03 20:12] jridgewell opened #15058 "Layers: Consolidate LayoutElement ancestry traversal scorers"
Move `LayoutElement` ancestry traversal scorers to a single static method on `LayoutElement`:

- https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L1708-L1751
- https://github.com/ampproject/amphtml/pull/14918#discussion_r185474808

[2018-05-03 20:17] jgladden commented on #6694
This might be a beneficial approach for my issue as well, although I am looking for a production friendly solution. My client uses an ad network not yet supported by google amp. My initial approach was to use amp-iframe to iframe in the ads, but the documentation states this is not allowed. I am now considering using the draw3p createElement iframe src strategy mentioned above but ideally would pr

[2018-05-03 21:04] newmuis opened #15064 "Populate "en" as amp-story language if the lang attribute is unset"
We respect the `lang` attribute in `amp-story`, but we should default to `en` if it is unset.  Currently, it defaults to nothing.

[2018-05-03 21:14] aghassemi opened #15065 "video-players: Support autoplay based on network connection type"
Using https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API on supported browsers we should be able to restrict autoplay to wifi only.

If browser does not support NetInfo API, then it should not autoplay IMO (since idea is to be conservative with data here)

/to @alanorozco , WDYT?
/cc @ericlindley-g

[2018-05-03 21:39] gmajoulet commented on #14538
- [ ] ``<amp-story-consent>`` component #15062
- [ ] Validator
- [ ] Change to use CSS variables to configure the main color
- [ ] Switch from simple template to ``htmlFor``

[2018-05-03 22:17] wonderwoob commented on #4405
@zhang-90
Your solution worked for me as well. Thank you!!!

[2018-05-03 22:26] jasti commented on #14914
No longer necessary.

[2018-05-03 22:26] #14914 closed

[2018-05-03 22:29] rsimha commented on #9651
Reopening this old issue to revisit docker images, now that we don't use `sudo` since we use the `chrome` addon on Travis instead of installing it ourselves.

[2018-05-04 00:02] jasti opened #15077 "Document usage of sharedData in amp-consent"
PR is missing documentation
https://github.com/ampproject/amphtml/pull/14997/files

[2018-05-04 00:46] cramforce commented on #6694
@jgladden Adding an ad network is super easy. That might be the simplest path. If interested we can guide you through the process.

[2018-05-04 00:52] cathyxz opened #15079 "Firefox fires focus events whose target is the entire page and not an element"
I get an assert error [here](https://github.com/ampproject/amphtml/blob/master/src/focus-history.js#L47) on Firefox (macOS, Windows) from the [lightbox sample article](https://github.com/ampproject/amphtml/blob/master/test/manual/article-with-lightbox-2.0-gallery.amp.html) (localhost & heroku) whenever you try to click on an image to open the lightbox. Sometimes clicking on the page will trigger a

[2018-05-04 01:13] jgladden commented on #6694
@cramforce That sounds great. I do not work for the ad network but would be happy to do it on their behalf if possible. They do not seem interested in doing it themselves. Even if I can not do it for them, if I could pass them clear instructions on how to do it themselves I might be able to get them to budge.

[2018-05-04 01:19] #14964 closed, assigned to lannka

[2018-05-04 01:24] cramforce commented on #6694
@zhouyx @lannka Could you point @jgladden to the latest docs and sample PRs for a simple non-A4A ad network integration?

[2018-05-04 01:45] jasti commented on #14538
- [ ] Update  amp-consent [availability](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/amp-consent.md#integrations-and-availablity) and docs

[2018-05-04 02:38] #13526 closed

[2018-05-04 03:37] meistudioli opened #15082 "amp-social-share[type="line"] occurs error"
To whom it may concern:

I try to implement amp-social-share[type="line"]  to my AMP page and it occurs error whatever I set **data-param-url** / **data-param-url** or not.

Sample code:
[code]

- [Document which I referenced](https://github.com/ampproject/amphtml/blob/master/extensions/amp-social-share/amp-social-share.md#pre-configured-providers)
- [Demo page](https://blog.lalacube.com/mei/yahoo

[2018-05-04 05:43] vamshi5889 commented on #11358
Well, we can use `amp-selector` to mimic the behavior of `amp-accordion` with auto collapsing.

@AndrewKGuan @cathyxz
You have to control the auto toggling from css (display --- show, hide) with selected attribute.

[2018-05-04 06:25] camelburrito commented on #11358
using amp-selector is the easiest way to achieve this.

[2018-05-04 06:33] vamshi5889 commented on #11358
Yes @camelburrito

[2018-05-04 06:35] gctommy commented on #12324
@aghassemi — Still looking for a solution for this. On some pages, we display a lot of external images with unknown dimensions, so getting the width/height would be slow and not ideal.

[2018-05-04 09:41] piStats commented on #14795
Hi Can we please get an update on it?

[2018-05-04 10:01] samuelcolvin commented on #13685
@concept-id I don't think that's necessary, we have font awesome pro and our dedicated CDN is at `https://use.fontawesome.com/xxx.js`.

**please** can you get `use.fontawesome.com` whitelisted, currently fontawesome 5 both pro and standard are unusable with amp.

[2018-05-04 10:33] samuelcolvin commented on #13685
So apparently `use.fontawesome.com` is already whitelisted, just not documented.

[2018-05-04 11:11] Boudybuilder opened #15086 "amp-list sort is reset to default after reload page"
https://ampbyexample.com/samples_templates/product_browse_page/preview/

Set SORT "Price low to high", refresh page and see that select still low to high but amp list items sorted different. How to fix it? Maybe it must be used selected value in src of amp-list. But how?

[2018-05-04 12:56] TidyFire commented on #14239
Any updates on this?

[2018-05-04 13:00] christian-felix commented on #13716
I don't know if its really an accurate and thoughful questions, but suppose i want to  prompt the amp-consent only if the user require it by himself, and not to show it up as long no option has been obtained.
Is there any possibilty to disable the default functionality?

my endpoint consists mostly of this code:
`echo json_encode(['promptIfUnknown' => 'false/true']);`

I'm not sure, but for some r

[2018-05-04 15:07] newmuis opened #15087 "Custom sharing parameters are broken in v1.0 bookend spec"
We normally allow publishers to specify custom parameters, like so:

[code]

But translating this to the 1.0 format:

[code]

The custom `text` parameter is not honored for the Twitter platform.  The Facebook `app-id` parameter does appear to work.  Generally, we should honor any parameters specified by just passing them through to `<amp-social-share>` as attributes, with `data-param-` prepended (

[2018-05-04 15:15] newmuis opened #15088 "Rename "article-set-title" bookend component to "heading""
Technically, a publisher can have a bookend with multiple components, where none are articles.  Let's just make this more general-purpose by using the name "heading" instead of "article-set-title".

[2018-05-04 15:20] newmuis opened #15089 "Prepend a heading to components if first component is not a heading"
Right now, it's possible to create a bookend with no heading, which is not the desired user experience:

![screen shot 2018-05-04 at 11 18 21 am](https://user-images.githubusercontent.com/1651960/39635950-e3764126-4f8c-11e8-90b4-5733ac1d755a.png)

Instead, let's just check the `components` once they have been loaded, and if the first one is not already a section heading, let's prepend our own defa

[2018-05-04 15:25] newmuis opened #15091 "Subtitles get rendered under content"
If an `<amp-video>` is on any layer other than the topmost layer, subtitles will get rendered underneath the content of all other layers above:

![screen shot 2018-05-04 at 11 22 32 am](https://user-images.githubusercontent.com/1651960/39636184-808abc26-4f8d-11e8-9eb2-3c571431e113.png)

This is not fixable with CSS because since the elements are in separate layer DOM trees, the video (and, transit

[2018-05-04 16:21] nainar opened #15094 "`<amp-position-observer>` can't trigger actions on `<amp-animation>` in different document"
E.g.
If we add an `<amp-position-obersver>` in the main doc and add an `<amp-next-page>` with an `<amp-animation>` to the document, the `<amp-position-obersver>` can't trigger events on the `<amp-animation>` as they belong in separate docs. The `ActionService` associated with `<amp-position-obersver>` will not find the element to target in the shadowRoot.

Related to: #14860

cc @aghassemi

[2018-05-04 16:21] newmuis opened #15095 "Store BOOKEND_STATE in history state"
We should store the `BOOKEND_STATE` in the history state so that if users navigate back to the page they were on, the bookend will still be open if it was before.

[2018-05-04 16:31] Cauchon commented on #11869
Update from Reddit:

[2018-05-04 16:34] nainar commented on #13521
This would be a great good first issue!

@Dreen would you like to work on it? Below are some notes that should help you get started!

### What you will need to know
Twitter has a [JavaScript API ](https://dev.twitter.com/web/embedded-moments/javascript-create
) that allows you to create moments as well. Files you will need to modify are either files in `extensions/amp-twitter/` or `3p/twitter.js`

[2018-05-04 16:39] nainar commented on #300
Hi @joshprice, I was wondering if there had been progress here? If not is it open for others looking for GFI to take on?

[2018-05-04 16:46] ericlindley-g commented on #11358
@cathyxz — if possible, it would be great if animation were baked into amp-accordion; I think that would make the user experience more seamless and clear (especially for large sections of expanded content, where animation is useful in conveying that information is being shown or hidden). Though @camelburrito , I seem to remember that there were performance concerns—is that a concern for amp-accord

[2018-05-04 17:12] ericlindley-g commented on #15065
To make sure I understand:

Is the proposal to limit autoplay for all videos in AMP to only those cases where the runtime is able to confirm that the user is on WiFi?

Thinking through the UX ramifications (this is great for anyone who's very judicious about data; but sometimes users want to have a video autoplay, even when on a data plan), as well as business impact to consider (engagement, monet

[2018-05-04 17:40] cathyxz commented on #11358
@AndrewKGuan @vamshi5889 so to clarify, by "auto collapse", are we referring to only having one section open at a time, or referring to the separate FR, https://github.com/ampproject/amphtml/issues/2980? Feel free to +1 to #2980 and discuss it there. =)

About animating expand / collapse: yes, there are performance concerns about animating the `height` attribute, so it would not be a reasonable th

[2018-05-04 18:09] jridgewell commented on #11869
WOO! We can work with http://docs.embed.ly/v1.0/docs/provider-height-resizing!

Passing this to @aghassemi

[2018-05-04 18:16] mlwilkerson opened #15100 "Please whitelist pro.fontawesome.com"
Please whitelist `pro.fontawesome.com`. This is required for Font Awesome 5 Pro subscribers to use our Pro CDN.

Note: `use.fontawesome.com` is still the correct URL for our Font Awesome 5 Free CDN.
So, both `use.` and `pro.` need to be whitelisted.

—Mike, on the Font Awesome dev team

[2018-05-04 18:17] mlwilkerson commented on #13685
See also: #15100

[2018-05-04 18:25] samuelcolvin commented on #13685
Thanks, sorry for my mistake above on `pro.`

[2018-05-04 19:17] jridgewell commented on #15100
/to @Gregable

[2018-05-04 19:36] alanorozco commented on #15065
@ericlindley-g Not for all videos, it's a [new mode](https://docs.google.com/document/d/1vC3y8Hi4cHVlkva1RMre5NabzIPkCwajmIbIUwoeCbI/edit) that page authors can enable.

[2018-05-04 19:42] sucharithav commented on #14684
We're not planning to use the amp_i solution for AdWords anymore  (b/79259180)

[2018-05-04 19:42] #14684 closed

[2018-05-04 19:45] sucharithav opened #15102 "Support AdWords tracking URLs in viewerless AMP"
Request:
- Get "replace URL" from cache URL, rather than through Viewer-runtime messaging, to support the feature in viewerless surfaces
- Avoid rewriting the window location, so page refresh in viewerless surfaces does not result in a cache miss. Instead override SOURCE_URL and QUERY_PARAM substitutions to use replace URL.
Internal bug: b/79259180

[2018-05-04 19:56] #14841 closed

[2018-05-04 19:58] alanorozco commented on #14657
Can HTML comments be stripped as well? It would be nice to be able to make notes in the markup itself.

[2018-05-04 20:05] cathyxz commented on #15082
You should not need to since it has already been configured in https://github.com/ampproject/amphtml/pull/14687. It seems to be fine in this minimal example: https://codepen.io/cathyxz/pen/BxdgpE as I can't reproduce any error.

Since #14687 was a relatively recent change, this code is in canary but not in production. You will be able to use it if you're opted in to the dev channel only. It should

[2018-05-04 20:05] #15082 closed

[2018-05-04 20:14] #12473 closed

[2018-05-04 20:16] jridgewell commented on #14657
File a new issue.

[2018-05-04 20:16] newmuis opened #15103 "Optimize amp-story resource loading depending on network capabilities"
Inspired by #15065, we can use the [Network Information API](https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API) to determine the quality of the user's connection, which can allow us to optimize resource loading.

More concretely, it might be worth experimenting with the size of the [MediaPool](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/media-p