[2018-02-05 23:59] zhouyx opened #13281 "Fake Ad enhancement"
ref: #9311
We create the `amp-ad-network-fake-impl` extension to test fake Amp Ad locally.
Right now this extension doesn't work properly and its documentation is outdated.
And the extension only works in localDev mode, and thus makes it impossible to demo an AMPHTML ad creative using the extension.

- [x] Fix the extension, right now when serving creative from `amp-ad-network-fake-impl/data/` fol

[2018-02-06 00:00] lannka opened #13282 "Introduce new URL macro `PAGE_VIEW_ID_64`"
### First Timers Only
We know figuring out the process for contributing to an open source project can be intimidating, so we created this issue as a way for you to learn the ropes.  (If you feel comfortable contributing to open source projects, please leave this issue for someone else.)

### What you will need to know
- Some familiarity with JavaScript

### Background
[How AMP support variable sub

[2018-02-06 00:01] lannka commented on #12674
Tracked as a GFI here: #13282

[2018-02-06 00:01] #12674 closed

[2018-02-06 00:10] lannka opened #13283 "Fix ad demos on AMP by example site"
The ad demos on [AMP by example site](https://ampbyexample.com/amp-ads/#amp-ads/advanced_ads) are using non-prod AMP runtime, which made them invalid AMP. They were introduced as proof of concepts.

Now given some features are officially available in AMP, we should migrate to the version on prod and remove the "experiment" label.

[2018-02-06 00:15] ericlindley-g commented on #5396
Update:

@erwinmombay is planning to work on a fix that will support the static case of oldest-first order

Requirements:

**API**

- Add new attribute for sort order

- TODO: determine naming for attribute, options:
-- 'data-sort-order="oldest-first | newest-first"'  (this one has my vote, since it seems faster to understand the behavior)
-- boolean: 'ascending-sort-order'
-- 'data-sort-order="(a

[2018-02-06 01:12] westonruter commented on #5396
@ericlindley-g I should clarify that users do not need to dynamically change the ordering when viewing the list. The switching of the sort order is a setting in the admin. In other words, WordPress just needs to be able to change the ordering of the comments when first rendering the page. They don't need to change while the page has loaded. Dynamically changing the order _after_ could be nice feat

[2018-02-06 01:44] cramforce commented on #12496
Looks good as discussed in review. No semiconolon in `content`.

[2018-02-06 03:02] dvoytenko opened #13287 "Intent to implement: AMP Access client-side via iframe"
## Introduction

[AMP Access](https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access.md) spec provides a way for to lock/unlock content.

At the core of the protocol are three concepts:
 1. AMP Reader ID. Globally unique session identifier in AMP context.
 2. Authorization endpoint. A credentialed CORS GET HTTPS endpoint that returns the authorization response that can

[2018-02-06 03:04] dvoytenko commented on #2970
Opened ITI for this on #13287.

[2018-02-06 03:04] #2970 closed

[2018-02-06 03:06] jridgewell opened #13288 "amp-ad, amp-analytics: Use JSON for configuration"
One of the insights from today's V8 Memory meeting was that using large object literals as dictionaries is much more memory intensive than initiating them from JSON strings.

Using object literals: 164,864b
Using JSON.parse: 122,496b
25% savings

[2018-02-06 03:11] jridgewell opened #13289 "amp-ad: Use JSON for configuration"
One of the insights from today's V8 Memory meeting was that using large object literals as dictionaries is much more memory intensive than initiating them from JSON strings.

Using object literals: 143,400b
Using JSON.parse: 40,208b
70% savings!

[2018-02-06 04:08] cramforce commented on #13287
I really like the compromise between developer flexibility and performance.

[2018-02-06 04:38] gtonysam commented on #11434
HI ,

I am facing the same issue, I try to pass say 10 or more state parameters in url, but it is failing
amp-bind: Expression compile error in Expression size (61) exceeds max (50). Please reduce number of operands.

[2018-02-06 05:42] rarkins commented on #12946
@cramforce would you consider running Renovate on the four `package.json` files that are current uncovered? i.e. configure it to not run on `./package.json` but instead on the remaining files?

[2018-02-06 09:06] SergeyBl commented on #13101
@jasti @lannka   hi,  I also haven't rights to request review  for this issue (as you can see on my screenshot above ^).
Can some body review it ?  :)

[2018-02-06 15:28] rsimha-amp commented on #12135
@bradfrizzell It appears that you're calling `user()` or `dev()` from `src/log.js` in a bunch of places in the A4A code, but logger hasn't yet been initialized via `initLogConstructor`. This is likely the root cause of the errors you're seeing when only the a4a tests are run without loading any other AMP components. See this comment at https://github.com/ampproject/amphtml/blob/master/src/log.js#L

[2018-02-06 15:46] bradfrizzell commented on #12135
For what it's worth, in the past I'd tried loading a testing-only file that initialized the logConstructor before anything else, but it never worked. The problem from what I could see was that the way that extensions are loaded means that the scope that the logs class lives in was not something I could readily modify with a testing file, but it's entirely possible I missed something really obvious

[2018-02-06 15:50] cramforce commented on #12946
Its an interesting idea. Will chat with Raghu about it!

[2018-02-06 15:58] rsimha-amp commented on #12946
I just looked for the other `package.json` files.

[code]
- The one in `extensions/amp-viewer-integration/0.1/messaging` is something we publish, and has no dependencies to maintain.
- The one in `build-system/tasks` is unused and can be deleted.
- This leaves us with the four in `validator/`, which are owned by the Validator team. IIUC, the code in `validator/` is developed internal to Google, an

[2018-02-06 16:32] ithinkihaveacat opened #13293 "amp-story: animations can be annoying if revisiting a page"
The need to wait for an animation to complete can be annoying if attempting to rapidly switch between  pages (because you missed something on the previous page, for example, or just want to read over something again). This is particularly annoying if you can't find the right page--for every candidate page, you need to wait for the animation to complete.

One potential fix is to disable animations

[2018-02-06 16:39] powdercloud commented on #12946
@rsimha-amp For the validator package dependencies, we could probably update them some. But I don't think it's a good idea to automate it, it'll just create churn / conflicts / busy work for us. Better to do this when needed or when it's easy. Also, all four package.json files are used.

[2018-02-06 16:43] rsimha-amp commented on #12946
Thanks @powdercloud. In that case, we have all the coverage we need right now.

[2018-02-06 17:03] rudygalfi commented on #2198
@calebcordry Is there an issue tracking adding documentation?

[2018-02-06 17:10] choumx commented on #5212
@zhouyx @lannka Want to confirm that this is deprecated before removing the code.

[2018-02-06 17:15] rsimha-amp commented on #12135
@bradfrizzell I tried adding `test/functional/**/*.js` to `a4aTestPaths` in `build-system/config.js` and all tests passed when I ran `gulp build` followed by `gulp test --a4a`. Obviously, something is missing when just the A4A tests are run.

Adding @erwinmombay who first added `initLogConstructor` in #5161 to see if he knows what's wrong. To recap...

**This works:**
[code]
**This fails:**
[code]

[2018-02-06 17:16] rudygalfi commented on #12432
Should this be closed? If no, can you list remaining tasks?

[2018-02-06 17:24] lannka commented on #12432
We can close, since the doc is now merged #13065

[2018-02-06 17:24] #12432 closed

[2018-02-06 17:29] choumx commented on #11434
@gtonysam Which component URL are you mutating? `amp-list` or `amp-state`?

[2018-02-06 17:29] calebcordry opened #13299 "New Url Replacement Macros Need Documentation"
## What's the issue?

We have implemented a new feature that allows resolution of nested macros in url replacement. e.g. `BASE64(TOUPPERCASE(CLIENT_ID(__ga))`

This new functionality (currently in experimental phase) needs to be well documented. There does not appear to be any existing documentation for the previous experiment.

see #2198 for background

[2018-02-06 17:31] calebcordry commented on #13299
/cc @rudygalfi

[2018-02-06 17:39] newmuis commented on #12917
#13720 is a partial temporary fix for this issue.  We can take on shadow DOM migration later.

[2018-02-06 17:42] rsimha-amp commented on #8809
Since this issue was filed, several fixes have been made to the framework including the adoption of `chai` v4, which detects things like sandbox errors that cause test flakiness.

In addition, the `--randomize` flag was removed in #13292. We're tracking the last remaining log initialization bug in the A4A tests in #12135.

This issue is obsolete and can be closed.

[2018-02-06 17:42] #8809 closed

[2018-02-06 17:46] shimonenator commented on #6234
@cramforce perhaps allowing variable substitution only for `amp-video-iframe` would avoid the concern about iframe based analytics? The core goal here is not to collect more analytics by means of violating AMP policies, but rather to be able to correlate video streams to the outer page session.

[2018-02-06 17:47] newmuis commented on #11855
This won't be able to get in before the developer preview; my suggestion is to update the documentation first, and enforce it later.

[2018-02-06 17:53] newmuis commented on #13135
Actually, we already do this:

https://github.com/ampproject/amphtml/blob/9b101fa000b7dc911073cacdf3ccafb187c2012d/extensions/amp-story/0.1/share.js#L202-L218

My theory is that the actual copy code is broken in an iOS-specific way.  This is tracked by #13136.

[2018-02-06 17:53] #13135 closed

[2018-02-06 17:59] choumx commented on #11855
Related: #13192 adds a document-level whitelist for actions with a `<meta>` tag in the document head. Perhaps we can use a blank whitelist and enforce that at the validator level (not sure if such a validator rule exists yet though).

[2018-02-06 19:04] newmuis commented on #11855
Can we update the whitelist?  Because we could also dynamically insert a blank whitelist at runtime.

[2018-02-06 19:09] choumx commented on #11855
Racy and the error message will probably be confusing, but doable. A separate amp-story-only solution might be more developer-friendly.

[2018-02-06 19:34] newmuis commented on #13136
The code for this lives here:

https://github.com/ampproject/amphtml/blob/0a55db7a18dbac85135a5b5ad7c46200464870ec/src/clipboard.js#L25-L57

[2018-02-06 19:44] jridgewell commented on #13280
While you're at it, make the LRU's cache a prototype-less object. 😉

[2018-02-06 20:14] lswang1618 opened #13308 "Datepicker: add option to disable blocked dates completely"
When selecting a date-range, it is currently possible to include blocked dates in the range - for something like flights, this is fine, but for hotels, we would want to include a way to disable this.

[2018-02-06 20:59] #5212 closed

[2018-02-06 21:17] rsimha-amp commented on #985
Item 1 is done, item 2 is to be done. This is not a tooling bug, so moving to the regular pile.

[2018-02-06 21:20] rsimha-amp commented on #3199
This is fixed. Try running `gulp serve` twice with the same port.

[2018-02-06 21:20] #3199 closed

[2018-02-06 21:24] rsimha-amp commented on #5286
Is this still something we want to do?

[2018-02-06 21:26] rsimha-amp commented on #5294
Let's write up a GFI based on this.

[2018-02-06 21:26] rsimha-amp commented on #5335
Obsolete.

[2018-02-06 21:26] #5335 closed

[2018-02-06 21:27] cathyxz commented on #12982
So `amp-fit-text` uses the `-webkit-line-clamp` property, which means that it only works on languages that use whitespace (no Japanese or Chinese sadly), and that it isn't supported by IE, Edge, and Firefox. For those browsers, the current expected behavior is that it truncates to line and no "..." shows up. On Chrome, I'm observing a curious case where the "..." is actually there, but you can res

[2018-02-06 21:27] rsimha-amp commented on #5379
Obsolete.

[2018-02-06 21:27] #5379 closed

[2018-02-06 21:27] rsimha-amp commented on #5716
@zhouyx Is this still relevant?

[2018-02-06 21:28] aghassemi commented on #5286
We can close this, the recent fetch-mock and service mocks have been very helpful and cover what I had in mind.

[2018-02-06 21:28] rsimha-amp commented on #5778
Obsolete. Already fixed.

[2018-02-06 21:28] #5778 closed

[2018-02-06 21:30] rsimha-amp commented on #7336
Let's make sure `SERVING.md` is updated once more.

[2018-02-06 21:32] rsimha-amp commented on #8751
This is done!

[2018-02-06 21:32] #8751 closed

[2018-02-06 21:34] rsimha-amp commented on #7575
Infeasible.

[2018-02-06 21:34] #7575 closed

[2018-02-06 21:43] rsimha-amp commented on #9164
Seems like something that automates the transitions between the states in https://github.com/ampproject/amphtml/blob/master/src/base-element.js might do the trick?

[2018-02-06 21:44] rsimha-amp commented on #10499
I believe this is obsolete.

[2018-02-06 21:46] rsimha-amp commented on #10499
Perhaps not!

[2018-02-06 21:49] rsimha-amp commented on #11978
Remove existing checks of this sort: https://github.com/ampproject/amphtml/blob/master/build-system/tasks/presubmit-checks.js#L363
Add a check of this sort: https://github.com/ampproject/amphtml/blob/master/build-system/conformance-config.textproto#L181

[2018-02-06 22:02] lannka commented on #11973
Is the proposal here to support a different config format? I'm actually wondering if a JSON config is any easier than writing a URL.

[2018-02-06 22:08] cathyxz commented on #9976
This has been done quite a bit ago. Follow up work tracked in https://github.com/ampproject/amphtml/issues/13039

[2018-02-06 22:08] #9976 closed

[2018-02-06 22:18] lannka commented on #12023
@Gregable and I are working on a new template language designed with AMP validator in consideration. Details are coming soon.

We might deprioritize this work and recommend users to move towards the new templating language once built.

[2018-02-06 22:24] newmuis opened #13309 "Disable touch zoom in amp-story"
We should disable touch zoom in amp-story, since it is always meant to be viewed full-bleed, and zooming in on the content makes it consume more than one viewport.

[2018-02-06 22:24] Enriqe opened #13310 "Zoom should be disabled for stories."
Right now stories are zoomable by the user while they shouldn't.

[2018-02-06 22:24] #13310 closed

[2018-02-06 22:25] cathyxz opened #13311 "Lightbox: Picking from thumbnail grid “sometimes” has a “very long delay”."
To repro: navigate to http://localhost:8000/test/manual/article-with-lightbox-2.0-gallery.amp.html.
1. Open CN tower
2. Quickly open thumbnail grid
3. Pick the last image. Notice it takes a few seconds before it shows up.

[2018-02-06 22:26] Enriqe commented on #13310
Duplicate of #13309

[2018-02-06 22:29] rsimha-amp commented on #1213
Reopening because we shouldn't cancel `watch` when an edit causes a compilation error.

[2018-02-06 22:32] cathyxz opened #13313 "Scroll delay after closing lightbox is too long"
the page won't scroll after tapping image -> opening gallery -> closing back to document -> attempt to scroll. Seems to be mobile only? Doesn't repro in current version of lightbox on desktop.

[2018-02-06 22:34] cathyxz opened #13314 "[needs ux] Lightbox Animation duration and curves"
Enter / Exit transition time is not constant, feels “fast” when opener image is in the middle of viewport and feels “slow” when image is at the bottom of the viewport.

[2018-02-06 22:39] jridgewell opened #13315 "Remove a4a experiment code from src/experiments.js"
None of it has to do with the main binary's experiment implementations.

- [slowButAccuratePrng](https://github.com/ampproject/amphtml/blob/14e352a628261124a702c2700e069a8f36a8c8ee/src/experiments.js#L337-L350)
- [RANDOM_NUMBER_GENERATORS](https://github.com/ampproject/amphtml/blob/14e352a628261124a702c2700e069a8f36a8c8ee/src/experiments.js#L352-L362)
- [selectRandomItem](https://github.com/amppro

[2018-02-06 22:40] rsimha-amp commented on #5286
SGTM.

[2018-02-06 22:40] #5286 closed

[2018-02-06 22:43] choumx opened #13317 "src/url.js#isProtocolValid() likely insufficient"
Uses protocol blacklist: https://github.com/ampproject/amphtml/blob/14e352a628261124a702c2700e069a8f36a8c8ee/src/url.js#L45-L49

Should use whitelist approach for deep-link protocols like the validator does. This will avoid pubs using runtime navigation features like `<button on="tap:AMP.navigateTo(someUrl)>` to circumvent the validator rule.

/cc @Gregable

[2018-02-06 22:48] cathyxz opened #13318 "Update arrow icons for carousel (add gradient)"
- [ ] Update carousel's icons per the new designs, and add a gradient per mocks (below).

Carousel arrow mocks.
<img width="751" alt="screen shot 2018-02-06 at 2 47 06 pm" src="https://user-images.githubusercontent.com/1528181/35888517-c361cc54-0b4c-11e8-8c23-ca18b3d65ecd.png">

[2018-02-06 22:59] erwinmombay commented on #8236
first phase removal https://github.com/ampproject/amphtml/pull/13320

after that hits prod for a few weeks, remove experiment entry and config entry

[2018-02-06 23:00] cathyxz opened #13321 "Lightbox performance review"
1. Go through Chrome devtools performance profiling to identify bottlenecks.
2. Go through all measurements and mutations and make sure that they only happen within `vsync` blocks.
3. Review the component design to see if there are other performance optimizations that we can do.

[2018-02-06 23:05] #1213 closed

[2018-02-06 23:20] ithinkihaveacat opened #13322 "amp-story: <amp-img> within template="fill" does not fill if child of <div>"
This code:

[code]

Produces:

![127 0 0 1_8080_cnn-drones html nexus 5x](https://user-images.githubusercontent.com/51244/35889558-f59cbbd8-0b93-11e8-8fd3-95210070ea00.png)

Expected:

![127 0 0 1_8080_cnn-drones html nexus 5x 1](https://user-images.githubusercontent.com/51244/35889565-fbf27b44-0b93-11e8-9407-2c5a2698c5c9.png)

(The problem is somehow caused by the empty `<div>`; removing it fixes

[2018-02-06 23:32] cathyxz commented on #13174
@newmuis how does this feel as a GFI description (feel free to delete this comment after updating)? Should we update the description of this issue, or create a new one linking to it?

### What you will need to know
- Some basic javascript
- How to build and run this project on your local machine

### Background
[AMP Story](https://github.com/ampproject/amphtml/blob/7bcb8fb01eb56d4e760c5a8d1a7766d3

[2018-02-06 23:47] lannka commented on #13289
amp-analytics/0.1/vendors.js is a huge object. are you saying we can save memory by changing the file to a JSON string, then JSON.parse the string at runtime?

Do we know how much is the extra CPU cost for the JSON parsing?

[2018-02-06 23:59] jridgewell commented on #13289
Yah. I literally wrapped it in

[code]

I'd doubt it be much, JSON parsing has been heavily optimized.

[2018-02-06 23:59] newmuis commented on #13174
Wow, this is amazing!  Thanks @cathyxz!

[2018-02-07 00:05] #10499 closed

[2018-02-07 00:07] ericlindley-g commented on #5396
Thanks for clarifying, @westonruter — glad this will already work for WP!

[2018-02-07 00:32] cathyxz commented on #13174
I think the only thing that a new contributor would need here is the actual icon that we want for the new message. @newmuis is there something we could direct them to?

[2018-02-07 00:41] zhouyx opened #13326 "Iframe messaging doesn't work when ad fallback via Safeframe path"
Please check the fallback example in https://github.com/ampproject/amphtml/blob/master/test/manual/amp-animation/scrollbound-embeds.amp.html#L62

Messaging between iframe and parent AMP document doesn't work because the `sentinel` is not matched.

We have our logic to check for `sentinel` in `window.name`, and if not found generate a random one. It seems that the safeframe script always remove `wi

[2018-02-07 01:07] newmuis commented on #13174
@hongwei1990 do you have any opinions on what this icon should be for the desktop case?

[2018-02-07 01:18] zhouyx opened #13327 "Error: Tried to add display:none element to FixedLayer AMP-STICKY-AD"
Error: Tried to add display:none element to FixedLayer AMP-STICKY-AD
at Error (https://raw.githubusercontent.com/ampproject/amphtml/1517876307637/src/log.js:504)
at apply (https://raw.githubusercontent.com/ampproject/amphtml/1517876307637/src/log.js:219)
at apply (https://raw.githubusercontent.com/ampproject/amphtml/1517876307637/src/log.js:233)
at (https://raw.githubusercontent.com/ampproject/amp

[2018-02-07 01:41] #7259 closed

[2018-02-07 01:58] rsimha-amp commented on #12135
/cc @cramforce in case he knows what we can do to solve the problem described in https://github.com/ampproject/amphtml/issues/12135#issuecomment-363495868

[2018-02-07 01:58] rsimha-amp commented on #12135
/cc @ampproject/a4a

[2018-02-07 03:24] bradfrizzell commented on #10499
Thanks Raghu! You are just closing issue after issue of mine this week!!! Very much appreciated :D :D

[2018-02-07 03:32] zhang-90 opened #13330 "The goToSlide(index=INTEGER) method for amp-carousel[type="slides"] does not support variables"
Hello, met a problem, hope can get support.

In our detail page feedback, clicking on the image will show a preview of the large image of the currently loaded item, and swiping left and right. The implementation code is shown in the following figure. However, because `goToSlide (index = INTEGER)` method, `index` must be specified as an exact number, although I can get the current image in the fron

[2018-02-07 03:44] choumx commented on #13330
I assume that by "variable" you mean `amp-state` variable to be used with `amp-bind`?

In general, you can only use `amp-state` variables inside attribute bindings. For this case, you want to use a `[slide]` binding:

[code]

ABE has a sample here: https://ampbyexample.com/advanced/image_galleries_with_amp-carousel/#linking-carousels-with-amp-bind

[2018-02-07 03:58] choumx commented on #13267
One reason why this is works for amp-list and not amp-bind is that the former, as an AMP component, is subjected to AMP's layout constraints. This means that UX is more predictable WRT changing content after page load (rendering the fetched JSON into a template). It also supports a placeholder for graceful fallback under poor network conditions.

I think you're right that amp-list is growing more

[2018-02-07 04:02] zhang-90 commented on #13330
thanks

[2018-02-07 04:02] #13330 closed

[2018-02-07 04:02] rsimha-amp commented on #12135
It turns out that when the runtime is built via `gulp build`, the following directories are generated and included with the A4A test files via `build-system/config.commonTestPaths`:
[code]
I don't think any of these files are actually needed to run the A4A unit tests, and they should be removed from the list of test files.

The good news is that doing so fixes `gulp test --a4a` irrespective of whe

[2018-02-07 05:46] choumx commented on #13322
/to @newmuis

[2018-02-07 05:48] choumx commented on #13226
/cc @lannka

[2018-02-07 05:55] choumx commented on #13116
Sounds like the runtime needs to share the canonical URL with the viewer, but isn't hash fragment used for viewer to document communication? I'm missing something clearly.

[2018-02-07 06:10] newmuis commented on #13322
I would expect this to mean the `div` should be full-bleed, and the contents of the `div` are sized according to styles and the `layout` attribute.

[2018-02-07 06:34] wudizhuzhuxia opened #13332 "input autofocus inside <amp-lightbox> does not work on iOS"
Hi, I have a problem with focus. When I open amp-lightbox, I want to be able to automatic focusing on the inside of the amp-lightbox input tag,under the android mobile phone can do it, but under the ios browser can't do that. you can separately use android and ios mobile phone open the following url, click on the search button, will be able to reproduce the problem.

m.aliexpress.com

![search](ht

[2018-02-07 07:15] gtonysam commented on #11434
@choumx  Hi we are using amp-state to bind the values to the url.
We have as many as 20 paramters to pass to the url. We tried amp-bind macro as well to add values but still the below issue comes always- amp-bind :Expression compile error in Expression size () exceeds max (50). Please reduce number of operands.

[2018-02-07 14:11] newmuis opened #13334 "Cannot click amp-story audio control in desktop UI"

[2018-02-07 14:14] newmuis commented on #13164
We will evaluate whether changing the easing function is good enough for practical purposes, or whether we need to evaluate a `requestAnimationFrame`-based approach.

[2018-02-07 14:20] #12135 closed

[2018-02-07 14:42] ericfs commented on #13116
It's only used for viewer->document initialization. After that it should be safe to change.

[2018-02-07 15:07] choumx commented on #11434
Can you share the markup for this element?

[2018-02-07 15:34] #13309 closed

[2018-02-07 16:34] lannka commented on #13226
/cc @rudygalfi

@tygavin the iframe analytics is deprecated. those exists only for legacy reasons.
have you considered implement your tracking solution using amp-analytics? Like how Google Tag Manager did: https://support.google.com/tagmanager/answer/7086920?hl=en

[2018-02-07 16:43] tygavin commented on #13226
@lannka Thank you for your reply. Yes, we have an AMP Analytics option as well that is documented here: https://community.tealiumiq.com/t5/Mobile-Libraries/Tealium-for-AMP/ta-p/13720

However, we are in the same position as Adobe in that we need to offer our enterprise clients both options.  Reasons for this is documented here:

https://marketing.adobe.com/resources/help/en_US/sc/implement/acceler

[2018-02-07 17:26] lannka opened #13336 "Remove googleanalytics-alpha config in vendors.js"
It was introduced for a opt-in launch #5761. Since it's now fully launched #9497 we should be able to remove it.

/cc @rudygalfi @jasti

[2018-02-07 18:44] zhouyx opened #13340 "Error: Cannot read property 'getBoundingClientRect' of null"
Error: Cannot read property 'getBoundingClientRect' of null
at getBoundingClientRect (https://raw.githubusercontent.com/ampproject/amphtml/1517876307637/extensions/amp-story/0.1/utils.js:64)
at (https://raw.githubusercontent.com/ampproject/amphtml/1517876307637/extensions/amp-story/0.1/page-scaling.js:62)
at measureTargetDimensions_ (https://raw.githubusercontent.com/ampproject/amphtml/15178763076

[2018-02-07 18:46] cpapazian opened #13341 "FR: amp-bind style syntax for amp-access fields"
We are using amp-access templates pretty extensively to add secondary components or make minor, invisible changes to the page based on the user. For some of these types of changes, we're just changing a single attribute in the template based on the `amp-access` response, and the mustache templates seem like overkill. Would it be possible to use `amp-bind` or similar syntax for making updates based

[2018-02-07 18:53] zhangsu opened #13343 "`documentHeight` calculation not considering bottom margin/padding and overflow content"
We used to calculate the `documentHeight` value using `scrollHeight` on `scrollingElement`, but we recently changed the formula in #12229 to use the height of the bounding client rect of `<body>` plus any margin/padding on any element between the top of the viewport and the the top of `<body>`:

https://github.com/ampproject/amphtml/blob/7b211a1486e135728a99d814013e33b83cf6d22f/src/service/viewpor

[2018-02-07 19:17] collinkrawll opened #13345 "Add AdPlugg support to amp-ad"
Add ability to serve ads from the AdPlugg ad system via amp-ad.

[2018-02-07 19:22] collinkrawll commented on #13345
Please add the following labels:

* INTENT TO IMPLEMENT
* Category: Ads

[2018-02-07 20:11] choumx commented on #12028
Fixed by #13236.

[2018-02-07 20:11] #12028 closed

[2018-02-07 20:24] sebastianbenz commented on #9860
@choumx @aghassemi I have to agree with @command3r here. The data-structure changes required by the workaround proposed by Ali makes things more complicated.

In my case, the amp-list input is an array that is transformed via amp-bind-macro. The workaround only works with objects, which is not possible in my case.

My sample looks like this, where myItems is an array of objects:
[code]

[2018-02-07 20:35] ericlindley-g commented on #13314
Thanks for filing! Let me know if there's anything I need to do here (including prioritizing in the UX tracker—I'll assume that this is part of general polish back and forth between you two and has similarly low effort to other polish tweaks unless I hear otherwise)

[2018-02-07 20:44] cathyxz commented on #13314
@ericlindley-g just expect to prioritize this in the UX tracker maybe in 2 sprints time. We have other more pressing things like the API to discuss for the next sprint.

[2018-02-07 20:45] choumx commented on #13341
Thanks for filing this. We generally require user gestures to trigger amp-bind because the mutations can affect the entire page (rather than constrained to a single component like amp-list). I sympathize since using amp-mustache does seem rather heavyweight for a single attribute change.

Let us know if this becomes functionality blocking for your use case.

[2018-02-07 20:54] cramforce commented on #6234
@aghassemi for plans on `amp-video-iframe`

I'm not super sure we can do this. Generally `amp-video-iframe` should allow for integration with AMP's build-in video analytics approach.

[2018-02-07 20:56] #10919 closed

[2018-02-07 21:41] mrjoro commented on #12940
**amp-img container-based srcset**

- @cramforce: we probably shouldn't do this
  - e.g. when data saver is on it changes the srcset algorithm and our polyfill implementation couldn't respect that
  - what's the use case where you can't know which portion of the screen would be used by the image?
- we don't currently support sizes, but that's a bug and should be fixed; if we did that (and we will)

[2018-02-07 21:43] mrjoro commented on #12940
**amp-carousel URL interface**

- @aghassemi: we already want to be able to change the URL based on push state rather than adding it as a custom feature for carousel (e.g. you could also add page transitions to amp-bind like in a form wizard)
  - binding the fragment to the visible slide?  we don't want bind state to get applied at page load, but we could use variable substitution (currently attri

[2018-02-07 21:43] #12940 closed

[2018-02-07 22:22] rsimha opened #13351 "`sanitizeHtml` in src/sanitizer.js is causing visual diff JS errors (started with prod push)"
See discussion at https://github.com/ampproject/amphtml/pull/13333#issuecomment-363918699

This started failing on master with this error:
[code]

[2018-02-07 22:22] rsimha-amp commented on #13351
/cc @choumx

[2018-02-07 22:24] rsimha-amp commented on #13351
The root cause of this bug isn't clear, so let's disable the test for now.

[2018-02-07 22:26] choumx commented on #13351
Thanks for finding this.

[2018-02-07 22:28] lannka opened #13353 "Validator rule change to support ads in story"
For #12381

- `<amp-story-auto-ads>` has to be a direct child of `<amp-story>`
- `<amp-story-auto-ads>` takes no attributes, but a single child element as its configuration: `<script type="application/json">`.
- `<amp-story-auto-ads>` does not require extra extension script (it uses amp-story.js)
- Allow `<template>` to be a direct child of `<amp-story>`
- If `<template>` is a direct child of `<am

[2018-02-07 22:28] choumx commented on #13351
Ah shoot, this is caused by a new user error introduced in #13176.

[2018-02-07 22:31] rudygalfi opened #13354 "Customizable conditional triggers"
amp-analytics provides for a specific set of events that can cause analytics requests to be made. While this covers a lot of popular use cases, there are at least two imaginable ways it can not support what one is looking to do:

1. You might want a completely new kind of trigger event. For example, some amp-bind state value being reached.

2. You want to generally trigger and event, but hold it b

[2018-02-07 22:31] choumx commented on #13351
Timing most likely related to the 1% to prod promotion today: https://github.com/ampproject/amphtml/releases/tag/1517876307637

Remind me if our visual diffing is supposed to use prod binaries?

[2018-02-07 22:34] rsimha-amp commented on #13351
@choumx It's supposed to use local binaries with the `canary` and `prod` configs respectively. Clearly, something must have changed with the test pages in `examples/visual_tests`, causing the test to fetch the prod AMP binary.

I'm making some wholesale changes to the visual diff infra as we speak and will investigate, but meanwhile, let's disable the failing test while we investigate. SG?

[2018-02-07 22:43] rsimha-amp commented on #13351
@choumx I just ran `gulp visual-diff --webserver_debug` to see the logs from the local webserver that's started in order to serve the AMP runtime. The visual tests are indeed pulling the test pages from the webserver, but there's no clear indication of where the test pages are pulling their AMP runtime. See https://gist.github.com/rsimha-amp/04cbc1581e3c593d29f5538422afbed8

I think the problem li

[2018-02-07 22:48] choumx commented on #13351
From your link it appears that the served JS is also local.

GET /dist/v0/amp-mustache-0.1.max.js 200 3.207 ms - 224023
GET /dist/v0/amp-list-0.1.max.js 200 5.413 ms - 268702
GET /dist/amp.js 200 2.101 ms - 1553784

[2018-02-07 22:52] rsimha-amp commented on #13351
Yeah, I'm puzzled. Could one or more of the components be internally relying on prod URLs?

[2018-02-07 23:00] rsimha-amp commented on #13351
Here's a theory: [src/sanitizer.js](https://github.com/ampproject/amphtml/blob/master/src/sanitizer.js#L496) uses `cdn` from [src/config.js](https://github.com/ampproject/amphtml/blob/master/src/config.js#L37), which relies on `cdnUrl` set in [build-system/app.js](https://github.com/ampproject/amphtml/blob/master/build-system/app.js#L991). Perhaps there's a race between sanitizer.js and app.js?

[2018-02-07 23:15] rsimha-amp commented on #13351
To help you debug, here are the `amp-img` [image element](https://github.com/ampproject/amphtml/blob/master/examples/visual-tests/amp-list/amp-list.amp.html#L43) that's causing the sanitizer error (there's one more like it further down the file), and the [json data](https://github.com/ampproject/amphtml/blob/master/examples/visual-tests/amp-list/amp-list-data.json) used to populate the image

[2018-02-07 23:16] rsimha-amp commented on #13351
/cc @dvoytenko who wrote this visual test

[2018-02-07 23:22] choumx commented on #13351
I don't think that's it. That `cdn` reference only rewrites image URLs to point to CDN.

The error complains that the following is invalid:

[code]

This is technically true. These classes are added during an AMP custom element's lifecycle (before buildCallback, obviously). However this shouldn't happen since elements that live in a `<template>` should not be bootstrapped before sanitization.

Wha

[2018-02-07 23:24] rsimha-amp commented on #13351
Yeah, we use PhantomJS. See the link under https://github.com/ampproject/amphtml/blob/master/contributing/DEVELOPING.md#visual-diff-tests.

I guess there are two questions to answer:
1. Why is this failing on PhantomJS?
2. Why did a prod push affect the behavior of a locally built runtime?

[2018-02-07 23:24] #13281 closed

[2018-02-07 23:39] cathyxz opened #13357 "Toggle next / prev buttons on <amp-lightbox-gallery>"
### What you will need to know
- Basic Javascript
- HTML attributes (`element.setAttribute()`, `element.removeAttribute()`)
- A little bit of CSS

### Background
`<amp-lightbox-gallery>` implementation [here](https://github.com/ampproject/amphtml/blob/14e352a628261124a702c2700e069a8f36a8c8ee/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js), enables users to open an image in an immersiv

[2018-02-07 23:57] nainar commented on #11359
@camelburrito - is it ok if I take this on?

[2018-02-08 00:01] camelburrito commented on #11359
sure go ahead !

[2018-02-08 01:23] rsimha-amp commented on #12597
Comments enabled. Still working on trying to make them arise from an account different from @cramforce

Meanwhile, here's a graph of LGTM errors in `ampproject/amphtml` over time.
<img width="721" alt="" src="https://user-images.githubusercontent.com/26553114/35950425-87524c68-0c44-11e8-9589-fd5389a064aa.png">

[2018-02-08 02:25] gtonysam commented on #11434
Hi Choumx,

This is what I am trying to do,

 <amp-bind-macro id="dynamicDate" arguments="" expression="searchForm.departureDay+searchForm.departureMonthURL+searchForm.departureMonth+searchForm.departureYearURL" />
    <amp-bind-macro id="LocationURL" arguments="" expression="searchForm.originLocationURL+searchForm.source+searchForm.destinationLocationURL+searchForm.destination" />

    <amp-bind-

[2018-02-08 02:27] aghassemi commented on #13332
@wudizhuzhuxia @cathyxz Browsers tend to refuse to focus on invisible items in random fashion and `autofocus` has no concept of waiting for something to become visible first before moving focus. Transitions and such make building a true `autofocus` behaviour very difficult and that's why native `autofocus` doesn't really work passed basic cases.

What we need here is two new `events` on `amp-light

[2018-02-08 02:28] aghassemi commented on #13332
/cc @ericlindley-g

[2018-02-08 05:03] nainar commented on #12368
Just curious: [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/position) states that position:sticky is supported on Chromium (Chrome, Opera namely), Safari, Edge, Firefox.

Is this to ensure compatibility with IE? And potentially browsers based on old versions of the Chromium codebase?

[2018-02-08 05:05] #13334 closed

[2018-02-08 05:16] choumx commented on #11434
Where is `dynamicURL` used in your case?

It looks like most of these variables are from `<input>` fields of a form. Have you considered flipping the logic? E.g. use amp-bind to modify the values of these inputs (e.g. `[value]` binding) and submit the form when ready?

[2018-02-08 06:08] nainar commented on #10947
Hi @cvializ is it ok if I claim this issue?

[2018-02-08 06:34] gtonysam commented on #11434
dynamicURL is the base url, the searchform parameters are to be passed in the url. But the url is not a straightforward one as it contains string values.

Example of sample url : https://example.com/&outboundOption.departureDay=+"**SearchForm.startDate**"+/&outboundOption.departureMonth=+"**SearchForm.startMonth**"

The searchform values are dynamic values. We used amp-macro-bind , still the size

[2018-02-08 12:23] wudizhuzhuxia commented on #13332
Oh, thank you. I'll try my best.

[2018-02-08 12:24] wudizhuzhuxia commented on #13332
Oh, thank you. I'll try my best.@aghassemi

[2018-02-08 14:25] ahmedkaludi opened #13366 "Content Blank when coming through AMP CDN"
Hi, I'm one of the lead developers of AMPForWP plugin, we have a unique issue which we just couldn't solve.

## What's the issue?

When coming from the Google AMP CDN, the whole content is blank, Please see this video: http://take.ms/DLAZy

## How do we reproduce the issue?

If this is a bug please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your iss

[2018-02-08 14:39] mountin opened #13367 "how to insert amp-form script ?"
Hello
 how is it possible to install AMP form and input script like
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
in HEAD tag?

thanks

[2018-02-08 14:54] bradfrizzell commented on #13264
Hey @monish-chhadwa

This is on our roadmap for RTC. Is this something that's blocking your current implementation? I can look into expediting if needed.

[2018-02-08 15:34] sanjsanj commented on #1156
@choumx Hey there!  My team have hit this issue too just today while trying to build a dynamic nav using amp-mustache and it not liking SVGs.  Any idea when this might get addressed please?  If it's not too complicated I can see if I can rope some of my team into working on a PR.

[2018-02-08 15:35] sanjsanj commented on #8214
Same for me and my team, luckily we stumbled upon this issue or we would've carried on debugging for even longer.

[2018-02-08 15:52] cvializ commented on #10947
Sure, thanks! I'll assign you

[2018-02-08 16:41] gmajoulet commented on #12917
Now that https://github.com/ampproject/amphtml/pull/13303 is merged, I'll work on the shadow DOM migration.
#13720 will still be useful on browsers that don't support shadow DOM.

[2018-02-08 16:44] aghassemi commented on #13367
@mountin Please see https://ampbyexample.com/components/amp-form/ for some samples.

[2018-02-08 16:44] #13367 closed

[2018-02-08 16:50] cramforce opened #13369 "[New Safari Beta] amp-install-serviceworker needs to not load iframes in 3p mode"
Due to double-keying, the iframe install will not work. For details see
https://webkit.org/blog/8090/workers-at-your-service/

For now we should probably UA detect this and just skip the iframe method.

[2018-02-08 17:02] choumx opened #13370 "amp-bind: Sort with compare function"
`sort` and `splice` are "custom built-ins" that have no caller -- they return a mutated copy of the array. This is to distinguish them from the classic `Array.prototype` functions that mutate the caller.

We can either (1) support the second param for the custom built-ins or (2) replace the native implementations of `Array.prototype.sort` and `Array.prototype.splice` with ours. Note that using clo

[2018-02-08 17:06] aghassemi commented on #13366
@ahmedkaludi we have seen this a few time, the cause tends to be a GPU bug and only kicks in with rate situations where `overscoll:touch` badly interactions with some other CSS in the page. The solution is normally involving making changes to the CSS.

The way I recommend debugging this is by inspecting the CSS for the top wrapper elements in your page from Safari's remote debugger and toggling CS

[2018-02-08 17:30] lannka commented on #13336
@rudygalfi do you know if anyone is using it?
I did a quick query in AMP cache, no page is using it.

[2018-02-08 17:44] lannka opened #13371 "Launch url-replacement-v2"
A couple of things need to be done before we can fully turn on the feature flag.

- [x] migrate sync calls to use v2 code
- [x] handle opt_collectVars (or remove)
- [ ] documentation

After turning on the feature flag, there will be clean up work to remove v1 code.

[2018-02-08 17:44] lannka commented on #2198
Remaining tasks to launch the feature is tracked here: #13371

[2018-02-08 17:45] lannka commented on #13299
Tracked here instead: #13371

[2018-02-08 17:45] #13299 closed

[2018-02-08 19:00] rsimha opened #13380 "Consider not running all Travis checks during push builds on master"
During busy times of the day, a large number of commits get merged to `master` and are individually tested on Travis CI. This not only slows down the [push build queue](https://travis-ci.org/ampproject/amphtml/builds), but also starves the [PR build queue](https://travis-ci.org/ampproject/amphtml/pull_requests).

**Push build queue:**
![screenshot from 2018-02-08 14-06-12](https://user-images.gith

[2018-02-08 19:01] rsimha-amp commented on #13380
/to @cramforce @erwinmombay @choumx @lannka @aghassemi for comments on what the historic reasons were for running all tests on push builds, and if there are any concerns with pursuing this proposal.

[2018-02-08 19:28] choumx commented on #8214
@command3r @sanjsanj Sorry about that! We just added an error for attribute sanitization in #13176 so it should be easy to add another for elements.

[2018-02-08 20:09] bradfrizzell opened #13382 "Add adCid as targeting param"
For RTC

[2018-02-08 20:32] #12496 closed

[2018-02-08 20:32] #13056 closed

[2018-02-08 20:52] cramforce commented on #13380
I don't think we can do this. We don't have a deterministic mechanism to understand what affects what, and without that it is super easy to get into a state where we don't know which change broke something and we can't really pick high confidence builds.

We should consider getting in touch with travis about more parallel builds.

[2018-02-08 21:36] lannka commented on #13380
In general, that requires a better code structure. It only works when the dependencies are strict.

Right now, there is something we know for sure that they're independent.

- for extension only changes, we only need to run tests for that extension.
- for changes in `ads/` and `3p/`, we only need to run 3p tests.

But as @cramforce said, maybe we just need more machines.

[2018-02-08 21:45] lannka commented on #11973
Discussed offline. The solution will be for AdWords to provide a code snippet for users to copy-paste.

[2018-02-08 21:45] #11973 closed

[2018-02-08 21:51] mountin commented on #13367
thank you but what about AMP plugin for Wordpress ?

[2018-02-08 21:52] rsimha-amp commented on #13380
Fair point re: not having a deterministic mechanism that we can apply across the entire codebase. I took a stab at creating a list of the most obvious opportunities for optimization.

1. For `DOCS`-only changes, don't build the runtime or run the unit / integration tests. (Saves ~50 mins CPU)
2. For `INTEGRATION_TEST`-only changes, don't run the unit tests, since none of the integration test files

[2018-02-08 22:05] choumx opened #13385 "Support more features in AMP.navigateTo()"
The `AMP.navigateTo()` action doesn't support some navigational features that `<a>` tags do, e.g. custom protocols and URL replacements. Perhaps it should?

[2018-02-08 22:11] choumx commented on #13380
Looks like Angular uses Bazel for this: https://medium.com/@Jakeherringbone/what-angular-is-doing-with-bazel-and-closure-21f526f64a34

https://github.com/angular/angular/blob/master/docs/BAZEL.md

[2018-02-08 22:22] lannka commented on #13288
I'm not sure if I'm looking at the right numbers but I got different experiment results:

Using object literals: 80,912

![screenshot from 2018-02-08 14 15 29](https://user-images.githubusercontent.com/8496897/36001393-ff0c49ac-0cda-11e8-96be-d7e71d079297.png)

Using JSON.parse: 114,192
![screenshot from 2018-02-08 14 17 53](https://user-images.githubusercontent.com/8496897/36001409-0785cc84-0cdb-

[2018-02-08 22:22] aghassemi commented on #13367
@mountin For Workpress related questions, I suggested asking on Wordpress forum, folks on the core side of AMP are not too familiar with all integration points to be able to help in all cases.
/cc @amedina Where is the best place to ask questions regarding AMP + Wordpress?

[2018-02-08 22:27] jridgewell commented on #13288
What's your setup?

[2018-02-08 22:31] lannka commented on #13288
What setup? I'm on desktop chrome Version 64.0.3282.119 (Official Build) (64-bit).

Running with a local dev build (non-compiled js)

[2018-02-08 22:34] jridgewell commented on #13288
No, I mean how did you transform it into JSON? The exact code you have (copy paste it all here).

[2018-02-08 22:35] lannka commented on #13288
export const ANALYTICS_CONFIG = JSON.parse('{"default":{"transport":{"beacon":true,"xhrpost":true,"image":true},"vars":{"accessReaderId":"ACCESS_READER_ID","adNavTiming":"AD_NAV_TIMING","adNavType":"AD_NAV_TYPE","adRedirectCount":"AD_NAV_REDIRECT_COUNT","ampdocHost":"AMPDOC_HOST","ampdocHostname":"AMPDOC_HOSTNAME","ampdocUrl":"AMPDOC_URL","ampVersion":"AMP_VERSION","authdata":"AUTHDATA","available

[2018-02-08 22:36] lannka commented on #13288
sorry, it's huge.

what i did was pasting the output of JSON.stringify(object) back to the code.

[2018-02-08 22:40] jamesshannon commented on #13326
Shouldn't this be higher priority? It's breaking existing implementations of amp-ad that rely on fallback and collapsing?

@aghassemi

[2018-02-08 22:41] jensbroecher opened #13388 "Amp-form name validation fails for special characters"
## What's the issue?

The form validation from the demo fails if a name contains special characters, for example Jens Bröcher. It says please enter 2 names separated by a space. If I write it as Jens Broecher it works.

## How do we reproduce the issue?

See above

## What browsers are affected?

All

## Which AMP version is affected?

All

[2018-02-08 22:46] lannka commented on #13326
no creatives in production right now is using the messaging API, so it's not uncovered until now

[2018-02-08 22:51] lannka opened #13389 "Remove the vendors.js dependency in amp-ad-exit"
vendors.js alone is 20K large.

[2018-02-08 22:55] jamesshannon commented on #13326
Oh? Maybe I'm seeing something else, then.

https://ampbyexample.com/components/amp-ad/#using-placeholders

Notice that the fallback doesn't work. I see that DFP is returning an effectively blank ad:

`<html><body style="background-color:transparent"></body></html>`

Which is then dutifully copied to the iframe.

In a test of collapsing (same ad without the `<div fallback>`) the iframe doesn't col

[2018-02-08 23:01] zhouyx commented on #13326
@jamesshannon This is not related to the bug here. This bug is about an AMP ad fallback to render in cross origin iframe case. Not the fallback element.

Whether to collapse the ad iframe or display the fallback element, depends on whether the ad is in viewport or not. We only try to collapse the iframe if it is not in viewport.

BTW https://ampbyexample.com/components/amp-ad/#using-placeholders T

[2018-02-08 23:15] jridgewell commented on #13288
Pinged Chrome, let's see if they can help.

[2018-02-08 23:19] jamesshannon commented on #13326
It's not showing the fallback for me -- just an iframe body with a transparent background.

![image](https://user-images.githubusercontent.com/761381/36003456-0761b62a-0ce3-11e8-9869-23298f53de7d.png)

(This behavior was initially reported by Lonely Planet, so I don't think it's just me.)

I don't know enough about doubleclick impl or amp-ad to figure out which layer isn't working. While I would e

[2018-02-09 00:27] lannka commented on #13289
let's track it together with amp-analytics #13288

[2018-02-09 00:27] #13289 closed

[2018-02-09 00:31] jasti commented on #12725
How are you calculating '164K views' on your end?

[2018-02-09 00:35] lannka commented on #9966
Runtime change is done by #13306

[2018-02-09 00:35] #9966 closed

[2018-02-09 00:55] cpapazian commented on #13341
Not a blocker, per se, but we've had some bugs related to these templates recently.

We're tracking a bug right now with links ... we added some whitespace to the template for readability, but it seems like AMP is interpreting links with leading whitespace as relative links (the links in question should be absolute links)

We are fixing this on our side by stripping the whitespace in our markup, b

[2018-02-09 01:25] #13232 closed

[2018-02-09 02:02] newmuis opened #13393 "Split amp-story media-tasks.js into separate files"
Currently we have many tasks with different functions all in one file.  We can instead create a `media-tasks` directory in `amp-story` and split the tasks up.  The same should likely be true for their tests.

[2018-02-09 03:10] seomaz commented on #9860
In my case i need to hide <amp-list> element when there is no result or json is empty.

I need for a "breaking news" list

[2018-02-09 05:02] gtonysam commented on #11434
@choumx Any updates please ?

[2018-02-09 06:39] rsimha-amp opened #13395 "Visual diff: switch from phantomjs to headless chrome"
Phantom js is not being maintained: https://github.com/teampoltergeist/poltergeist/issues/906

There's been some progress on using headless chrome with capybara: https://github.com/teamcapybara/capybara/issues/1860

[2018-02-09 06:48] choumx commented on #11434
Does my suggestion above work for you? I'd need to see the entire page markup to fully understand what would or wouldn't work.

[2018-02-09 06:52] gtonysam commented on #11434
@choumx  Please provide you email ID - so that I can share the entire page itself, so that you will be able to understand what the exact issue is.

[2018-02-09 06:55] choumx commented on #11434
You can reach on privately on the amphtml Slack channel with the same username.

[2018-02-09 07:13] gtonysam commented on #11434
[amp-macros-06Feb old - Copy.txt](https://github.com/ampproject/amphtml/files/1710049/amp-macros-06Feb.old.-.Copy.txt)

Attached it text format

[2018-02-09 08:22] ithinkihaveacat commented on #13322
Ah, my misunderstanding then. Thanks!

[2018-02-09 08:22] #13322 closed

[2018-02-09 09:20] atishaybaid opened #13398 "Testing amp pages for Performance"
Hi,

What is the best way to test amp page performance, I have tried with lighthouse and page speed insides, both don't provide satisfactory results for amp pages.
My amp pages are validated however i wish to check  ,if i can improve the page performance.
url:m.timesofindia.com/amp_business

[2018-02-09 16:43] danielrozenberg opened #13402 "Switch `gulp test` to use headless Chrome"
Right now `gulp test` pops a Chrome window and runs all the tests in an epileptic flash of rapidly changing `<iframe>`s. Since the Chrome window is not headless the user risks interrupting the test accidentally. e.g., imaging you start running the test in your terminal, switch to another window and begin typing. A few seconds later a Chrome window opens, takes focus (depending on your OS,) and you

[2018-02-09 16:44] #13395 closed

[2018-02-09 16:51] rsimha-amp commented on #13351
@choumx I've just switched the visual tests from phantomJS to headless chrome.

[2018-02-09 17:07] ryanmcgrail95 opened #13403 "Source maps are no longer working."
## What's the issue?

Source maps are not working in browser debuggers. On Chrome, the files appear empty, and on Firefox, 404 errors are displayed instead of code.

## How do we reproduce the issue?

Navigate to google.com in a mobile/responsive view and locate a news story with AMP enabled. If you then visit this page and view the JavaScript sources, you should be able to find the GitHub filesys

[2018-02-09 17:21] danielrozenberg commented on #6923
@jridgewell fixed this a year ago with #7263

[2018-02-09 17:21] #6923 closed

[2018-02-09 17:50] rsimha-amp commented on #13351
@choumx With #13404, question 1 in https://github.com/ampproject/amphtml/issues/13351#issuecomment-363946198 is moot. I'll leave it to you to decide if question 2 is worth investigating.

[2018-02-09 17:56] rsimha-amp commented on #10377
This bug is now moot because the visual tests no longer use phantomjs to render pages. I ran the `Fonts 404` test on Chrome, and all I had to do was remove the check for `.comic-amp-font-loading` while continuing to make sure that `.comic-amp-font-missing` was found on the page. Fix coming up.

[2018-02-09 18:01] #10377 closed

[2018-02-09 18:01] #11496 closed

[2018-02-09 18:42] jridgewell commented on #13403
We forgot to publish the release (/cc @zhouyx), so the github urls were broken. It's fixed now.

[2018-02-09 18:42] #13403 closed

[2018-02-09 18:47] danielrozenberg commented on #11186
Already fixed by @erwinmombay in the past

[2018-02-09 18:47] #11186 closed

[2018-02-09 19:20] sohanirao commented on #4853
It was concluded that due to lack of cross browser support, this is infeasible. Should not be a GFI candidate anymroe.

[2018-02-09 19:33] #13136 closed

[2018-02-09 19:44] ryanmcgrail95 commented on #13403
Thanks!

[2018-02-09 19:47] weeblrpress opened #13407 "Specification clarification"
Hi

I am implementing the updated guidelines for json-ld page image information -
 696px to 1200px, min 800,00px, etc (https://developers.google.com/search/docs/data-types/article)

I find a contradiction in terms:

I understand this as "only images visible to the visitor, inside the current page". But then:

And the example is:

[code]

Are we supposed, for "best results", to have a square, 4:3 a

[2018-02-09 23:03] rudygalfi opened #13417 "Analytics event for story bookend?"
The current analytics spec allows `story-page-visible` for capturing story page traversal; however, there's nothing specifically mentioned for the bookend.

@alanorozco Is there a way you can think of to know when the bookend is reached, or should we treat this issue as a feature request to add a new trigger? I haven't tried it, but is the storyPageIndex just one higher than the last story page? W

[2018-02-09 23:03] rudygalfi commented on #13417
cc @newmuis for story tracking

[2018-02-09 23:07] lannka commented on #12345
sorry for the delay. @zhouyx to help

[2018-02-10 00:20] javiergarzac opened #13419 "Passing along URL parameters to amp-iframe."
Hello.

Found there is no way to pass along URL parameters from the AMP page (i.e. `https://www.google.com/amp/s/...?campaign=123`) down to the amp-iframe component.

Marketing team wants to sponsor an AMP page. They add parameters to the sponsored AMP page to know the visit was from a campaign. We want to show specific content in the amp-iframe if the visit was paid or organic, but currently ther

[2018-02-10 00:27] aghassemi commented on #6139
closed by https://github.com/ampproject/amphtml/pull/13091

[2018-02-10 00:27] #6139 closed

[2018-02-10 00:34] aghassemi commented on #13419
This has come up a few times https://github.com/ampproject/amphtml/pull/10884 and the decision has been not to allow variable substitution on `amp-iframe`'s `src`.

@cramforce Considering this use-case and the fact that two-way messaging @choumx is working on will allow this anyway, should we reconsider?

[2018-02-10 00:39] #12867 closed

[2018-02-10 00:45] aghassemi opened #13420 "Add `open` and `close` events to `amp-lightbox`"
### What you will need to know
- Javascript
- HTML/DOM

### Background
[amp-lightbox](https://www.ampproject.org/docs/reference/components/amp-lightbox) is a component that displays its children in a full-viewport overlay.

`amp-lightbox` is opened and closed via `open()` and `close()` [AMP Actions](https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#amp-lightbox)

We

[2018-02-10 03:31] choumx commented on #13419
IIUC, the proposed two-way communication is gesture-driven and won't have access to URL vars.

[2018-02-10 19:05] jeffkaufman opened #13422 "Tests not running because expect isn't assert"
There are ~26 test uses of `expect(condition)` that should either be `assert(condition)` or `expect(thing).with.long.series.of.dots`.  Since `expect(false)` will not fail a test, these appear to be real tests but in fact will never fire.  Here are the ones I see:

* ads/google/a4a/test/test-utils.js
    * `expect(truncUrl.indexOf(TRUNCATION_PARAM.name) != -1)`
* extensions/amp-a4a/0.1/test/test-am

[2018-02-10 19:06] jeffkaufman commented on #13422
I'm planning to submit a PR that switches them to proper uses of `expect`.

[2018-02-10 20:01] jeffkaufman commented on #13422
I ran into one of these on my own, found several more with primitive grepping, and then wrote a hacky script to find the rest:

[code]

It has a few false positives, in places where we have a helper function that returns `expect(foo)` with the idea that the caller will do `helper(...).stuff.in.english`.

I wonder whether this is something chai could catch by default?  When you call `expect` chai c

[2018-02-10 21:09] rsimha-amp commented on #13422
Nice issue, @jeffkaufman!

A simple fix would be to add https://www.npmjs.com/package/eslint-plugin-chai-expect to our list of `.eslint` checks to detect the misuse of `expect`. I believe `chai-expect/missing-assertion` is the rule we want in this case.

Happy to work with you on PRs to detect / fix these errors.

[2018-02-10 22:38] bizimunda opened #13427 "The mandatory text (CDATA) inside tag 'noscript &gt; style[amp-boilerplate]' is missing or incorrect."
Dear Sir,
I have no idea why I'm getting this message.
When I check my website on your validation system it validates my page but I get error message from your "search console"
The mandatory text (CDATA) inside tag 'noscript &gt; style[amp-boilerplate]' is missing or incorrect.
The mandatory text (CDATA) inside tag 'head &gt; style[amp-boilerplate]' is missing or incorrect.

Here is my url: http:/

[2018-02-11 08:33] gtonysam commented on #11434
@choumx  is it possible to call REST service in amp ?

[2018-02-11 08:49] gtonysam opened #13429 "AMP -Bind Issue and Web service Call"
## What's the issue?

Briefly describe the bug/feature request.

1)Hi we are using amp-state to bind the values to the url.
We have as many as 20 paramters to pass to the url. We tried amp-bind macro as well to add values but still the below issue comes always- amp-bind :Expression compile error in Expression size () exceeds max (50). Please reduce number of operands.
Attached the file, need to co

[2018-02-11 13:55] shaibo10 opened #13432 "amp-playbuzz iframe parent url is not correct"
## amp-playbuzz iframe parent url is not correct

The parent URL and the parent host are not correct and the amp-playbuzz iframe can't make customization for sites who use amp-playbuzz

## It happens always for any amp page, reprodusing:
1. go to https://amp-elmundo-es.cdn.ampproject.org/v/s/amp.elmundo.es/f5/comparte/2017/08/08/597b652146163f3f458b461a.html?amp_js_v=0.1&usqp=mq331AQECAEYAQ%3D%3D

[2018-02-11 18:33] ithinkihaveacat opened #13433 "amp-story: "lower-third" grid area incorrectly positioned"
**This only appears to affect beta versions of Safari.**

The "lower-third" grid area of the "thirds" template is not positioned in the bottom third of the viewport  in beta versions of Safari. (Screenshots are from desktop Safari Technology Preview Release 49 (Safari 11.2, WebKit 13606.1.3.3); it has been reported that the version of Safari that ships with the beta version of iOS exhibits the sam

[2018-02-11 23:24] #13382 closed

[2018-02-11 23:25] bradfrizzell commented on #12374
Hi @nibuca
Please refer to PR to add this functionality for you here: https://github.com/ampproject/amphtml/pull/13434

Will have this merged in before the cut on Tuesday.

Best,
Brad

[2018-02-12 04:31] juanchaur1 opened #13436 "TypeError: null is not an object (evaluating 'e.disabled')"
## What's the issue?
In a multi shadow dow carrousel when swiping fast in an iOS device the document doesn't initialize correctly cause the fix-layer to have a list of stylesheets with null values.
 FixLayer (fix-layer.js ln: 108 ``` ... if (stylesheet.disabled)  ...```

## How do we reproduce the issue?
You can go to: https://www.davidemaggio.it/archives/159006/le-iene-nadia-toffa-cancro
And swip

[2018-02-12 07:44] cpapazian commented on #13385
one thing that would be interesting in both regular `<a>` and `navigateTo()` would be the ability to specify android intent and other custom deeplink URLs in a way that could take the mobile OS into account.

We have found ways to get these to work, but it would be great if the platform supported them.

[2018-02-12 08:00] cpapazian commented on #13287
this is great. we currently use amp-iframe for some custom tracking of auth-ed users, but there has been no way yet for us to pass this data back to AMP. let me know if there's anything I can do to help this along ...

[2018-02-12 09:24] aghassemi commented on #13436
/to @choumx @danielrozenberg

[2018-02-12 12:28] erwinmombay commented on #5294
Step by Step
- [ ] Claim this issue by adding a comment below.  Please only claim this bug if you plan on starting work in the next day or so.  (If you [join the AMP Project](https://goo.gl/forms/T65peVtfQfEoDWeD3) we'll be able to assign this issue to you after you've claimed it.)
- [ ] If you aren't too familiar with Git/GitHub, see the [Getting Started End-to-End Guide](https://github.com/amppr

[2018-02-12 12:32] erwinmombay commented on #5294
extensions/amp-ad/0.1/amp-ad-xorigin-iframe-handler.js is the only file that can be optimized from what's left of the loadPromise use. we can only switch the non module call if there is any instance of AMP.BaseElement

[2018-02-12 12:35] erwinmombay commented on #7527
removing GFI candidate label since this will take some work

[2018-02-12 13:15] cathyxz opened #13442 "Unflake regression test for amp-image-lightbox activation"
### The Bug
A test was written in #13458 for the bug fixed by #13440 , but it's flaky (sadness). So what we'd like to do is figure out what environments they are flaky for on SauceLabs and understand whether these are legit failures (in which case we need to fix something) or just flakes (in which case we should skip those environments).

### What you need to know
- SauceLabs
- Javascript testing

[2018-02-12 13:27] seomaz opened #13443 "AMP-IMAGE-LIGHTBOX activate: Unsupported element: IMG​​​"
The amp-img-lightbox it stopped working, when you click the element, this log appear: "AMP-IMAGE-LIGHTBOX activate: Unsupported element: IMG​​​"

You can test here: https://www.cibercuba.com/noticias/2018-02-11-u73624-e73624-s27065-habla-director-vivir-cuento-estos-son-problemas-podrian

I see the error in ampbyexample.com too: https://ampbyexample.com/components/amp-image-lightbox/

click the fir

[2018-02-12 14:35] #11978 closed

[2018-02-12 15:27] katzgrau opened #13444 "Support for Broadstreet Ads (Pull Request is In)"
Hey everyone, first of all, fantastic job with the AMP project. I know that managing a major open source project is tough, I've done it as well. Secondly, I'm sorry to open an issue for this, but I didn't really know of any other way to raise this.

I run a smaller adserver called Broadstreet, and we've had a PR (#12475) for integration for about two months, but it doesn't seem to have been notice

[2018-02-12 16:53] mdiblasio opened #13446 "amp-bind: Links break when mutating between hash and non-hash"
@cramforce

## What's the issue?

Clicking on the following link on an AMP page results in a broken AMP page when viewing in the Google AMP Viewer (only) in a Safari browser (only):

`<a on="tap:AMP.setState({showErrors: true})"
   class="searchButtonLink"
   [href]="searchForm.locationsUrlSegment && searchForm.dateUrlSegment && searchForm.paxNumber ? 'https://m.cheapoair.com/remotesearchhandler.a

[2018-02-12 19:11] seomaz commented on #13443
its ok now!

[2018-02-12 19:43] JoshuaWordSmith commented on #4892
I'm not sure if this is the appropriate place to ask, but are there currently any possible workarounds to mitigate a11y issues with lightboxes/modals? specifically focus management and aria attributes?

[2018-02-12 21:51] serchserch opened #13450 "Polymer2.0 conflict Firefox - CustomElementRegistry"
AMP causes error when Polymer webcomponents-hi-sd-ce.js tries to overwrite `CustomElementRegistry`

[code]

https://github.com/ByPrice/shop/blame/master/index.html#L28

![image](https://user-images.githubusercontent.com/2801648/36120322-707e40f6-1008-11e8-9f24-9b06f7f885f8.png)

`Tested using Firefox Quantum 58.0.1 (64-bits) for macOS High Sierra 10.13.3`

[Live test](http://kernel.company/) (is a

[2018-02-12 21:57] rquilliet opened #13451 "Pass dynamic DFP Key-Values in amp-ad tag"
Hi,
The idea would be to attach key-values dynamically generated by a Javascript code located in the header of the page.
Let's say we define a JS function called generateDynamicValue() in the header of a page.
Then I would like to be able to pass the result of this function in the targeting part of the amp-ad tag:

<amp-ad
      height="250"
      width="300"
      data-slot="/121212121/mytest/dyn

[2018-02-12 22:03] nickrenfo2 opened #13452 "Testing multiple conditions using amp-bind-macro fails for some unknown reason."
## What's the issue?

When I test individually against a couple filters I set up through amp-bind-macro, they work fine. However, when I test against them both at the same time, an error "unsupported function" appears, and the page breaks.

## How do we reproduce the issue?

Check out [this codepen](https://codepen.io/nickrenfo2/pen/wyeqWX#development=1) for a live example. Alternatively, the code

[2018-02-12 23:38] nainar commented on #12088
@aghassemi is it ok if I take on this issue?

[2018-02-13 04:24] nainar commented on #12088
The strategy I intend to use is to the derive the `data-embed-as` attribute from the `data-href` and then set the [`data-show-text`](https://developers.facebook.com/docs/plugins/embedded-video-player) attribute to 'true'. This will address the problem of not being able to see the text of the post if we set `data-embed-as` to 'video'.

Let's see how it goes.

[2018-02-13 06:57] cathyxz commented on #13443
Hi @seomaz thank you for reporting this bug! It was patched by https://github.com/ampproject/amphtml/pull/13440.

[2018-02-13 06:57] #13443 closed

[2018-02-13 07:36] newmuis opened #13455 "amp-story bookend layout issues"
- Sharing icons overlapping (from @rudygalfi)
- Bookend partially loaded (from @christianbersch)

[2018-02-13 07:53] newmuis opened #13456 "amp-story bookend layout issues"
- Sharing icons overlapping (from @rudygalfi)
- Bookend partially loaded (from @christianbersch)

[2018-02-13 09:00] choumx opened #13457 "AMPHTML Email"
# Motivation

Email is a cornerstone of many consumer and enterprise workflows. However the content that is sent in an email message is still limited — messages are static, can become out of date, and are not actionable without opening a browser.

Our goal is to enhance and modernize the email experience through added support for dynamic content and interactivity while keeping users safe. We propo

[2018-02-13 09:12] matijagrcic commented on #13457
This is huge given how consumer behavior has changed over years, but email has not.

[2018-02-13 10:41] cpapazian commented on #13186
If I understood this morning's presentation correctly, [amp-toolbox-optimzer](https://github.com/ampproject/amp-toolbox/tree/master/optimizer) should solve this problem nicely.

[2018-02-13 10:41] #13186 closed

[2018-02-13 10:42] choumx commented on #11434
Sorry busy at AMP Conf and haven't gotten a chance to look at your example yet.

For amp-bind use cases, you can try using the `src` attribute on `amp-state` which loads data from a JSON endpoint.

[2018-02-13 10:44] choumx commented on #12517
Planning to tackle this in the sprint after AMP Conf.

[2018-02-13 10:46] choumx commented on #13385
@cpapazian Interesting, can you provide an example of what you'd like?

[2018-02-13 11:01] kul3r4 commented on #12388
@cvializ could you please reopen this as it is still happening

[2018-02-13 14:59] camelburrito commented on #9137
This has been solved for the latest version of IOS :)

[2018-02-13 14:59] #9137 closed

[2018-02-13 15:22] bradfrizzell opened #13468 "Refactor RTC to only notify if timeout is exceeded, no need to actually give the exact time"
Right now it is timing the RTC execution for no reason. We aren't getting any useful info from that. Change to only indicate if timeout is exceeded as a binary yes/no.

[2018-02-13 15:22] edent commented on #13457
I'm confused. Why is this using version 4 of AMP? I don't remember seeing AMP2, AMP3, etc.

Will this also be semantically versioned? If so, do I have to support AMP4.1EMAIL, AMP4.01EMAIL etc?

[2018-02-13 15:26] choumx commented on #13457
"4" is just shorthand for "for", not a version number. `⚡4email` is meant to be ready as "AMP for email".

[2018-02-13 15:27] #13422 closed

[2018-02-13 15:41] juliantoledo commented on #13457
You can start playing with amp4email in AmpByExample's Playground:
https://ampbyexample.com/playground/#runtime=amp4email

[2018-02-13 15:47] edent commented on #13457
I'm still confused.  In the post you call it by four different names:

* text-x-amphtml
* AMPHTML Email
* amp4email
* ⚡4email

Why don't some of them have the "for"/"4" in their name?

[2018-02-13 16:08] BenDz commented on #13457
That's just huge! I can see a bunch of application for it!
Any chance to get the source code of Pinterest/Booking/Doodle examples?

[2018-02-13 16:55] ocdtrekkie commented on #13457
It is hard to even express how shameful it is to see Google going full-tilt on ruining the Internet, and now email, for everyone.

*Embrace, extend, extinguish*

[2018-02-13 17:04] wassgha opened #13470 "amp-story : swiping down should close the story"
## What's the issue?

[Feature Request] I believe it is more natural to close the story when the user swipes down on it (currently refreshes the page instead)

Needs UX Review @spacedino

[2018-02-13 17:04] dreki commented on #13457
AMP is unnecessary. By embracing it, it results in a de factor ‘ownership’ of the lingua franca of the internet by a huge, monolithic corporation.

I’d rather have my plain old ‘unsafe’ internet and remain circumspect, instead of soluting the Alphabet flag.

[2018-02-13 17:19] choumx opened #13471 "JS in AMP"
# Motivation

AMP offers the ability to easily author web pages with good performance and UX characteristics. One of the tradeoffs of AMP has made to guarantee good performance is the restriction on executing custom JS—this avoids the problems of heavy, slow JS but also prevents reasonable JS use cases. Features like `amp-bind` help but, compared to non-AMP pages, it’s still more difficult for pag

[2018-02-13 17:25] semiadam commented on #13457
This is a great idea ONLY for promotional emails. Personal, business and transnational emails must be explicitly out of this practice, otherwise a major function of email will be destroyed. Emails are documents that cannot be altered once sent, and this is known to everyone, including courts and legal systems. The minute the news breaks, that emails now have dynamic content, people have to switch

[2018-02-13 17:43] findar commented on #13471
Is 3P JS the customized version of [Preact](https://github.com/developit/preact)mentioned at AMP Conf 2018?

[2018-02-13 18:04] kristoferbaxter commented on #13471
3P JS is author written script intended to run within the Sandboxed Web Worker and mutate the DOM within the `<amp-script>` element.

[2018-02-13 18:18] bradfrizzell commented on #12374
hey @nibuca
Just a heads up, apparently there is no canary release this week (presumably due to so much of the team being away for AMP Conf). I'll still aim to have PR #13434 in today, and can show you how to test against local if needed.

[2018-02-13 18:33] ras9929 commented on #13457
Question: Does this mean that the AMP will be rendered dynamically at view time?   Looking to populate a form via JSON for a list of available times for appointments that are constantly changing.

[2018-02-13 18:43] happyboredom commented on #13457
I wonder if GMail will relax its 100kB email size limit for messages with AMP.

[2018-02-13 19:51] Ajedi32 commented on #13457
What's the purpose of this line?

    <script async src="https://cdn.ampproject.org/v0.js"></script>

I was under the impression email clients don't execute JavaScript...

[2018-02-13 19:54] andreyors commented on #13457
GMail has 102kB for clipping, maximum is 25MB

[2018-02-13 20:17] smndhm opened #13476 "amp-story can only play 8 audio or 16 video elements"
## What's the issue?

background-audio in amp-story only works for the 8 firsts items.

## How do we reproduce the issue?

Create a 9+ pages amp-story.

## What browsers are affected?

All browsers, desktop and mobile.

## Which AMP version is affected?

Version 1518441587106

[2018-02-13 20:42] seomaz commented on #11680
it's possible to collapse the element <amp-brid-player> when the ad ends ?

[2018-02-13 21:05] jpettitt commented on #13457
@Ajedi32 AMPHTML email, like AMP web pages served from the amp cache, will be validated and only the AMP `script` tags allowed.  AMPHTML email compatible clients will only run valid AMPHTML email.  If the amp part is invalid they should fall back to the regular text/html mime part.

@ras9929 yes `amp-list` allows you to generate dynamic content populated from a json endpoint.   The demo shown toda

[2018-02-13 21:19] xori commented on #13457
I'm surprised to see `amp-form` on the whitelisted components. What are your plans to prevent phishing of user credentials?

[2018-02-13 21:20] Ajedi32 commented on #13457
@jparise So you're saying that line is intended to convey to AMPHTML-compatible email clients that they should treat the rest of the page as an AMPHTML Email? Or is it more that AMPHTML-compatible email clients _will_ execute JavaScript, but only JavaScript loaded from `cdn.ampproject.org`?

Forgive me if this is straying a little off-topic. It's starting to sound like this might just be the same

[2018-02-13 21:26] dmitriid commented on #13457
AMP Github Page currently lists 1000 open issues.

Google's handling of AMP (because, let's admit it, it's Google's baby through and through) has been horrible, has drawn ire and criticism from nearly everyone who've bought the false promises and from nearly everyone who had to deal with AMP pages on the internet.

So. The question is: why would anyone want AMP for Email proposed and implemented g

[2018-02-13 21:28] ocdtrekkie commented on #13457
@dmitriid What's really shocking is how tone deaf Google has been to said ire and criticism. The value add for Google's ad team must be of a pretty high level for Google to ignore the fact that they are lighting the goodwill they have left with the Internet aflame and pressing on anyways.

[2018-02-13 21:39] DeffeDotCom commented on #12177
Hello,

I am looking for an AMP Counter similar to the one illustrated with the GIF. Is there anything in  AMP that would work to create a counter like that? (Its supposed to handle big numbers btw).

Or do I have to generate loads of gifs?

[2018-02-13 21:53] jreidgreer commented on #13457
I think this is a great start to fixing a problem, but a poor way to do it. I'm confused _why_ this is combined into the AMP project. AMP's explicitly stated purpose was to make webpages faster and more performant - particularly for mobile. However, this seems to do the _opposite_ by adding more rich features and custom JavaScript. I also find the combination of a markup spec and JS library to be

[2018-02-14 02:29] nbaum commented on #13457
AMP for Email as currently implemented on the [AMP playground](https://ampbyexample.com/playground/#runtime=amp4email) prohibits inline styles. This is a blocker for us, as we want our emails to work as well as they can on less competent clients, and the only way to style emails on many of them is with inline styles.

[2018-02-14 02:59] xori commented on #13457
@nbaum to my understanding you would send a `text/plain` a `text/html` and a `application/amp4mail` each separate messages. Each with their own limitations.

[2018-02-14 06:27] kevinflo commented on #13457
I vehemently oppose this. It is bad for the internet. I was a gmail user since beta, but in the interest of not being complacent I just migrated to fastmail. I'm leaving this feedback in the hopes that you'll reconsider and leave email (an impossibly wonderful piece of technology) alone.

[2018-02-14 06:34] jpettitt commented on #13457
@Ajedi32 Yes just like regular AMP the only JS allowed is the AMP supplied JS.  With regular AMP there is also `amp-iframe` where you can run your own code.  In AMPHTML email that's disallowed for security reasons.  It does however support `amp-bind` that gives you quite a lot of interactivity.

[2018-02-14 07:15] ocdtrekkie commented on #13457
@jreidgreer I can think of cool uses for interactive apps in emails, it's just that amp4mail is an inherently user hostile way to do it. I wouldn't mind some sort of app that plugs into my email client to give certain types of emails more interactive capabilities. For example, if I could have my Twitter notifications in my email where I can favorite or retweet them without leaving my email box, li

[2018-02-14 07:19] ericlindley-g commented on #12177
Hi @DeffeDotCom — for now, depending on your use case, you could use `<amp-iframe>` to embed this behavior on your page. In the future something like the date countdown component referenced by @aghassemi above might support the use case natively

[2018-02-14 07:40] amolk commented on #13457
This seems over-engineered and misguided. There is some merit to making emails interactive, but why not extend an email's behavior in a sane way? For example -

- user receives an email with a link that points to an AMP page
- user clicks on the link

Gmail:
- renders the AMP page in-place, replacing email content

Non-gmail clients:
- keep whatever "link" behavior they currently have, presumably

[2018-02-14 07:44] newmuis commented on #13476
Thanks for the report @smndhm!  Was this using the `background-audio` attribute on an `amp-story` element that has 9+ `amp-story-page` children?  Or did you put the `background-audio` attribute directly on 9+ `amp-story-page` elements?

[2018-02-14 07:45] ocdtrekkie commented on #13457
@amolk I assume the reason why is because Google's only real customers are marketing teams, who would absolutely love to shove interactive advertising down users' throats without prior consent.

[2018-02-14 07:45] newmuis commented on #13470
Thanks for the report @wassgha!  Is this when coming from Google search?  What would you expect this to do on origin?  We can always use `history.back()`, but that may have unintended consequences.

Also /cc @hongwei1990 since we've had this discussion before :smile:

[2018-02-14 07:47] newmuis commented on #13456
Accidental dupe of #13455

[2018-02-14 07:47] #13456 closed

[2018-02-14 07:47] smndhm commented on #13476
I'm using it on the `amp-story-page`

[2018-02-14 07:48] newmuis commented on #13433
Looks like Safari is not respecting grid area names with dashes 👎

[2018-02-14 07:49] newmuis commented on #13476
👍  Thanks @smndhm.  I'll investigate.  My first guess is to blame the [`MediaPool`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/media-pool.js).

[2018-02-14 07:51] newmuis commented on #11329
Closing this, since `amp-story` is now A Thing 😄

[2018-02-14 08:02] artjacob commented on #13457
The fact that messages are static is precisely the reason why email is "a cornerstone of many consumer and enterprise workflows". We trust email to receive and keep invoices, receipts and other kinds of important messages because it is as static as it gets. This is a major feature, not a weakness.

A 2018 Dr. Ian Malcolm would say _["Email is the most reliable feature the internet's ever seen, but

[2018-02-14 08:03] edbedbe commented on #13457
That's true, but please don't forget that email is also still a way that individual people communicate to each other. Introducing the strange Google-y AMPHTML does not expand opportunities for anyone except advertisers, and it invalidates some pretty fundamental benefits of email for normal users.

You're getting backlash from the developer community now, but when you roll out those dynamic emails

[2018-02-14 08:06] newmuis commented on #11857
This can track adding the equalizer icon to the video; the data of whether the video actually contains sound can be tracked in #11940.

[2018-02-14 08:07] newmuis commented on #11865
@alanorozco Can this be tracked with the `BOOKEND_ENTER` state change?

https://github.com/ampproject/amphtml/blob/fb01033fd3c0d239c4a59dc3550d0c58c36e66ac/extensions/amp-story/0.1/navigation-state.js#L24-L29

[2018-02-14 10:08] rsimha-amp commented on #12157
This will be fixed in #13474

[2018-02-14 10:19] tschoffelen commented on #13457
Some of you seem to be denying all the things wrong with email right now. I don’t know if you’ve ever tried to build an email template in HTML that is supposed to look the same in every client, but let me tell you that it’s so much worse than building web pages for both Chrome and IE6 back in the day.

So any spec to provide some clarity to how email clients are supposed to render emails is someth

[2018-02-14 11:01] philipwhiuk commented on #13457
"Preserves users’ privacy expectations of email e.g. network requests are anonymous"

Not strong enough. Network requests must be preventable.

[2018-02-14 11:15] tschoffelen commented on #13457
@philipwhiuk I think this only regarding network requests for loading images (and perhaps other media files), not much different from how most email clients currently handle these. Any other network requests aren't allowed anyways.

[2018-02-14 11:26] newmuis opened #13481 "Improve browser support for amp-story"

[2018-02-14 11:43] philipwhiuk commented on #13457
@tschoffelen

This won't fix broken email clients, it'll just add another option.This is classic XKCD 927. It won't help.

Most email clients just don't load the remote content. They don't try to "anonymise requests" whatever that's supposed to mean when anonymisation of traffic data is hard and normally broken.

[2018-02-14 11:44] bizimunda opened #13482 "AMP image is not loading in firefox:54.0b9 (64-bit)"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-02-14 12:02] tschoffelen commented on #13457
@philipwhiuk agreed on the first point!

With regards to the second: most web-based email clients (including Gmail and Outlook.com) already do exactly that. If you add an image with a remote `src` to an email and view it in Gmail, your request to retrieve that image is proxies through the Gmail servers, removing any headers that contain sensitive data (IP address, etc.)

I think this part of the o

[2018-02-14 12:13] philipwhiuk commented on #13457
That's not really anonymisation.  Part of point of 'remote content' surrounds the fact that you know the email is being opened and when. If Google just does it for you that buys you nothing.

And it certainly doesn't work for desktop clients or mobile clients which don't pull all your email unencrypted through a big cloud infrastructure.

[2018-02-14 12:15] martinmakesitwork opened #13485 "srcset for amp-video / workaround?"
Hi guys.

I have two different animation videos for a site.
The first one has a vertical format (espacially for mobile devices in portrait), the second a horizontal format.  Which one should be displayed depends on the width of the screen. With amp-img i can use srcset´s to realize this. But how can i solve it with video?

Best regards

[2018-02-14 12:19] tschoffelen commented on #13457
@philipwhiuk Agreed, but that's quite a different discussion, my point is that this is not specific to AMPHTML, so in that sense having AMPHTML Email won't differ from the current way email clients choose to handle remote content (either by blocking it, completely allowing it, or using a proxy).

I think the original post is written based on Gmail's current handling of remote content, which is all

[2018-02-14 12:31] dmitriid commented on #13457
So. Instead of fixing these issues, the proposal introduces a yet another set of tags and behaviours that will not be supported correctly, or at all. Also, it doesn't solve a single issue with trying to compose nice-looking email template that would look nice across multiple clients. It just throws in a few accordions and slideshows. That's it.

BTW, Google's own Gmail is the probably the most hor

[2018-02-14 13:18] ocdtrekkie commented on #13457
@tschoffelen This comment seems like you may be unaware Google operates a monopoly in this space. When I recently entered my most used personal contacts into a piece of software, I realized I am literally the only person in my circle of contacts who isn't using Gmail.

[2018-02-14 13:39] rudygalfi opened #13486 "AMP story analytics: Support tracking interaction with mute/unmute button"
In an amp-story, it should be possible to track clicks of the mute/unmute button. Likely implementation would be 2 triggers: STORY_MUTE and STORY_UNMUTE.

[2018-02-14 13:41] aghassemi commented on #13485
I suggest having two different amp-video tags and using "media" attribute on them to select the right one for the right screen size.

[2018-02-14 14:37] the-mj opened #13488 "Workaround for validating amp html pages on yahoo small business hosting"
I am absolutely frustrated with validating and indexing amp html pages for my client. To make matters worse the website is hosted at Yahoo small business hosting. The amp validator validates my amp html page but google refuses to index it stating the "user authored java script" error. After 2 agonizing hours i finally found the culprit. Yahoo injects a lexity tracking script (by default) on every

[2018-02-14 14:38] ilovric00 commented on #8941
cc @calebcordry

[2018-02-14 15:31] mathiasbynens commented on #13289
JSON is much easier to parse than JavaScript, so if anything I’d expect the CPU cost to decrease rather than increase. (Of course, the JS containing the JSON still has to be parsed — I’m assuming it’s easier to parse within the context of a string literal than outside of it.)

[2018-02-14 17:08] markfinst opened #13490 "Horizontal swipe gesture for amp-story"
Currently, when horizontally swiping AMP Story the "hint" overlay is shown suggesting to use tap instead. ( https://github.com/ampproject/amphtml/blob/d8df163c1598ba2cfe76a5d833ad0a294febf73a/extensions/amp-story/0.1/amp-story-hint.css ).

Can you please elaborate what is the reason of disabling swipe feature? Or it's planned for future release?

Thank you.

[2018-02-14 17:17] #12157 closed

[2018-02-14 18:11] AndrewKGuan opened #13491 "as-you-go amp-form doesn't move to the next input when hitting 'enter' key"
The custom validation 'as-you-go' strategy is not moving the cursor to the next input even when validation passes.
Verifiable in this example (the 5th form from the top):
https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-form%2Fsource%2F

Expected behavior:
the cursor should be brought to the next input for uninterrupted data entry, should have the same beh

[2018-02-14 18:45] wassgha commented on #13470
I don't think this should be implemented on `amp-story` but rather on the google search amp viewer (assuming we can capture gestures on the whole screen through the viewer, which might be the case). I am not sure how stories are currently viewed on google search but ideally, users would be able to drag down the whole viewer to go back to the search page (similar to the UX we currently have for swi

[2018-02-14 18:59] tomayac opened #13492 "Animated GIFs included via `<amp-img>` and `<amp-anim>` should be reencoded as videos as an AMP Cache optimization"
Animated GIFs can get [huge](https://twitter.com/henrihelvetica/status/963649435254259713). It would be great if the AMP Cache reencoded huge (*ToDo: determine the threshold*) animated GIFs included via `<amp-img>` and `<amp-anim>` into videos. Safari Technology preview now also accepts video as the source of an image, which might help ([background article](https://calendar.perfplanet.com/2017/ani

[2018-02-14 19:25] hallmedia commented on #13457
Please send the draft spec to the [W3C HTML for Email Community Group](https://www.w3.org/community/htmail/) mailing list.

This proprietary MIME type, markup, feature set and behavior get us further away from ever having standards for email.

[2018-02-14 22:49] hamousavi opened #13497 "Dedup the code for creation of whitelist from meta tags"
## What's the issue?

After pull request #13192 and its follow up pull request for variable substitution are merged the following must be done: Move the logic for the creation of whitelist of actions from meta tags to a common util class. This functionality will be used for other whitelists such as variable substitutions.

[2018-02-14 23:33] ldstevens commented on #13457
I'd ask all non-Googlers (and Googlers!) to seriously reconsider your involvement with the AMP project.

AMP for email has nothing to do with making the web faster, it's just another part of Google's attempt to essentially fork the web & control the platform so they can compete with Facebook by shoehorning FB/IG/Messenger features on to the web (Instant Articles, Stories, Carousels, "interactive"

[2018-02-15 00:04] mauricionr commented on #13457
Totally agree with AMPHTML Email

[2018-02-15 00:33] RReverser commented on #13492
@tomayac "Modern browsers" might be a bit overstatement - it's implemented only in Safari and not even sure if it got out of Technology Preview branch.

[2018-02-15 00:34] RJSumi opened #13498 "Support access to ancestorOrigin and container token hash param in amp-analytics"
## What's the issue?

I would like to allow an amp-analytics configuration to have access to a variable holding the origin containing an AMP document, e.g. https://www.google.com for AMP surfacing in Google Search.  I would also like to allow an amp-analytics configuration to have access to a variable holding the value of a hash param (provisionally 'ct'), which will be passed by the enclosing pag

[2018-02-15 04:30] simevidas commented on #13492
@RReverser It did not. Expected in Safari 11.1 sometime next month.

Fwiw, `<video src="gif.mp4" muted autoplay loop playsinline></video>` is a pretty good replacement for animated GIFs.

[2018-02-15 08:45] tomayac commented on #13492
**Note:** not saying this should be implemented as `img[src$=".mp4"]`, just saying it might be _one_ option, apart from the `video` rewrite from @simevidas's [comment](https://github.com/ampproject/amphtml/issues/13492#issuecomment-365822727) above.

Chrome folks are tracking "video in images" as https://crbug.com/791658. General developer feedback on the idea seems positive ([Twitter search](http

[2018-02-15 09:40] bizimunda commented on #11411
http://www.hochzeitsfotografffm.de/
here is my site and I cannot see images on safari browser. I'm using iphone 7

[2018-02-15 09:42] bizimunda opened #13502 "Images embedded with amp-img are not shown in Safari on iOS"
## What's the issue?
Images are not shown

## How do we reproduce the issue?
http://www.hochzeitsfotografffm.de/ visit this website

## What browsers are affected?
Safari

## Which AMP version is affected?
latest version CDN

[2018-02-15 11:58] marczellm commented on #13457
Please just no.

[2018-02-15 13:00] seomaz commented on #7000
@dvoytenko for example

I create a amp-list based on json response with "show more" featured using amp-form, amp-bind.. like this: https://ampbyexample.com/advanced/show_more_button/

I can calculate the height of a fixed amount of elements (example 24 items * 300px), but when the json response was 4 items the amp-list height is too much...

Im using amp-bind to recalculate the height when click o

[2018-02-15 13:04] seomaz commented on #10230
Any updates on this ? i really need a solutions

[2018-02-15 13:14] seomaz commented on #10230
@choumx

I create a amp-list based on json response with "show more" featured using amp-form, amp-bind.. like this: https://ampbyexample.com/advanced/show_more_button/

I can calculate the height of a fixed amount of elements (example 24 items * 300px), but when the json response was 4 items the amp-list height is too much and the "show more" button is too far from the last item

Im using amp-bind

[2018-02-15 14:06] QES opened #13505 "amp-story bookend"
The example in the docs at https://www.ampproject.org/docs/reference/components/amp-story#bookend-json-endpoint show a bookend with wrapping share icons (#13455) but also in the "More to Read" there is reference to time and URL which don't seem to appear in the JSON description as options.

[code]

Are there other features and options in the bookend.json that aren't yet described in the documentat

[2018-02-15 14:40] sryze opened #13506 "Documentation for layout="fill" should mention position: relative"
The documentation for `layout="fill"` doesn't say a lot and can make someone think that just using that attribute alone will make the element fill its parent, whereas in reality it fills the element with `position: realtive`. I think that this should be mentioned in the docs.

[2018-02-15 15:29] trodrigues commented on #13457
Is there a reason as to why `amp-access` isn't on the list of supported components other than the fact that it injects hrefs into the list of links? If `amp-access` could be changed to work with server generated anchor tags, would there be any other reason as to why it wouldn't be allowed?

[2018-02-15 16:31] ahmadmarafa opened #13507 "Question: how to deal with amp cdn blocking ?"
First , im really sorry for posting a question .

my country blocked amp cdn .
so how i can deal with this ?
is there any way to check if amp js is loaded or not ?

[2018-02-15 16:45] omarreiss opened #13508 "Support noarchive meta tag to discourage third parties hosting / caching AMP content."
## What's the issue?

Briefly describe the bug/feature request.

One of the main concerns people seem to have with AMP is that AMP Pages can be cached and hosted by third parties, most famous example being Google [AMP Cache](https://developers.google.com/amp/cache/). This is a matter of ownership of content. There should be a way to prohibit or discourage third parties from hosting my content. Thi

[2018-02-15 17:09] m4dc4p commented on #13457
Would the proposed `amp-script` tag (https://github.com/ampproject/amphtml/issues/13471) be allowed?

[2018-02-15 17:47] cramforce commented on #13457
@m4dc4p Most likely not given that iframes are also not allowed.

[2018-02-15 18:24] TristanTheKnightAway opened #13510 "Can't get arrow button to turn the page?"
Hi

I load up the demo provided here: https://www.ampproject.org/docs/tutorials/visual_story and the cover page loads fine and I can see the preview of page 1, but I can't get the arrow button to turn the page. So even though there are 5 pages in code, I can't see pages 2-5.

I've tried this in the most recent versions of Chrome and Firefox, and have used the Chrome Web Server extension and MAMP a

[2018-02-15 19:05] rektide commented on #13471
I love the notion of this. And it sounds, fundamentally, like a good top level idea. I think AMP should do this.

But at the same time, this makes me very nervous. How much experience do we have with 3P JS in the field? What other examples of moving UI-interaction work into web-workers do we have?

This is super exciting and super cool, but I'd be terrified & mortified to consider any specific pro

[2018-02-15 19:47] #7118 closed

[2018-02-15 20:06] seomaz opened #13512 "<amp-auto-ads> dont show ads on <amp-list>"
When you active the amp-auto-ads dont work with <amp-list> content (from JSON)

example amp list: https://www.cibercuba.com/noticias?
example without amp list: https://www.cibercuba.com/galerias?

Chrome, Safari on iOS iphone 6s

AMP version: 1518441587106

[2018-02-15 20:20] adewale commented on #13457
@trodrigues a useful way to think about this is that each additional component has to justify its inclusion rather than its exclusion because email is a much more conservative context.

[2018-02-15 20:21] adewale commented on #13283
@sebastianbenz FYI

[2018-02-15 20:30] ocdtrekkie commented on #13457
@adewale Indeed, and AMP4Email has not justified it's inclusion as a whole: https://techcrunch.com/2018/02/13/amp-for-email-is-a-terrible-idea/

[2018-02-15 20:42] stomaskov opened #13513 "Add amp-ad event when ad failes to load"
## What's the issue?
Our ads have the "AD" label above them and we need to hide it in case the ad slot is not filled. The `amp-ad` properly collapses but there is no event that we could use to hide the label that is above the ad.

## How do we reproduce the issue?
How it look when the ad loads: http://prntscr.com/if7op7
How it looks when it doesn't: http://prntscr.com/if7psq
We would like to hide

[2018-02-15 20:43] lannka commented on #13283
This is done and lunched in amp by example

[2018-02-15 20:43] #13283 closed

[2018-02-15 20:47] senthilp commented on #13471
@choumx The “ahead-of-time” rendering should also be done by the 3P JS author right? Meaning they should put the markup inside `<amp-script>`.

[2018-02-15 21:02] kristoferbaxter commented on #13471
@rektide Agree it's a good idea to continue to reinforce the speculative nature of this work. When announced at AMPConf earlier this week, a slide was used to communicate this.

![screen shot 2018-02-15 at 12 53 48 pm](https://user-images.githubusercontent.com/61764/36280719-09b3d6c0-1250-11e8-88ea-d2c81c58b718.png)

As for module support, the current plan is for author code to be a single standal

[2018-02-15 21:05] kristoferbaxter commented on #13471
@senthilp – That's correct. One approach we've been brainstorming is a pre-render Node.js driven CLI leveraging the same DOM implementation shipping within the WorkerGlobalScope.

[2018-02-15 21:07] ComputerGirl opened #13514 "Fatal error: Can't use function return value in write context in"
After just updated your plugin got this error:

Fatal error: Can't use function return value in write context in /..../wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 4709

Could not access anything had to manually delete plugin through C-panel.

[2018-02-15 21:49] omarreiss commented on #13508
I realize there is actually already `noarchive` for this purpose exactly. Is this supported for AMP? http://noarchive.net/meta/

[2018-02-15 21:56] donohoe commented on #13471
You do understand that this is just another step in the direction of forking the web as-is and making a whole new version?

From a technical perspective this is a very exciting challenge, but the end result is that any company with a web presence must now create a regular HTML page and also create a separate AMP-specific version with increasingly divergent code base.

Basically, everything needs t

[2018-02-16 08:17] QES commented on #13470
I showed an amp-story to a colleague who thought the lack of any swipe interactions odd.  Why no left / right swipe to next previous.

I assume there is a reason for this but curious because it doesn’t seem intuitive.

However for close I would have thought a push (swipe) up the screen would be a better close gesture.

[2018-02-16 08:18] QES commented on #13490
Totally agree the first thing colleagues commented on when I made a test story

https://amp.sportsmole.co.uk/stories/

[2018-02-16 09:32] cramforce commented on #13471
@donohoe The meta goal here is to make "AMP go out of the way" from being a JS library to more of a set of UX guidelines. With this change developers can use the framework and tooling of their choice (Be it React, Preact, Angular, Vue, or WebPack, Rollup). At that stage, one doesn't need to use "parallel versions with divergent code bases" as one may either use just one version of use the exact sa

[2018-02-16 09:38] #13485 closed

[2018-02-16 09:42] martinmakesitwork opened #13519 "Change background color of fixed div onscroll"
Hi guys!

We have a fixed header on our site that has a transparent background.
When i scroll down 100vh it should get a white background.
How can i achieve this? Is there a possibilty with amp or an only css solution?

Thank you a lot for answers!

[2018-02-16 11:40] Dreen opened #13521 "amp-twitter widget doesn't support Moments"
## What's the issue?

Twitter Moments are collections of tweets with some extra data on top of them. A moment has a tweet ID, just like a normal tweet, so they should be pulled by `<amp-twitter>` widget.

## How do we reproduce the issue?

The basic code for the widget renders empty space and then some links from tweets in the moment.

[code]

A fallback is displayed when provided, indicating some

[2018-02-16 11:51] martinmakesitwork commented on #13519
The solution could be something like that - but is it possible to change the background color as well?

https://codepen.io/aghassemi/pen/GOEWEz

[2018-02-16 12:03] segue04 opened #13522 "Json to AMP (NATIVE in AMP"
I'm trying to rendering my json inside my div but I don't know how can i do that..

[2018-02-16 14:20] cathyxz commented on #13519
I think `background-color` isn't one of the currently supported CSS properties. Per [amp-animation doc](https://github.com/ampproject/amphtml/blob/aee8968eb4592e2e0ac506a928acc8781daa89b8/extensions/amp-animation/amp-animation.md).

The currently supported properties to animate are:
- opacity
- transform
- visibility
- 'offsetDistance'

Maybe you could have a div that's purely the background color

[2018-02-16 14:39] martinmakesitwork commented on #13519
yeah i´ve done it like that. Thank You!

[2018-02-16 14:50] stephengardner commented on #6354
This issue seems to have resurfaced for me.  Fresh build on windows 10 Node `8.9.3` fails on the `amphtml-validator` postinstall script

[2018-02-16 15:11] kul3r4 commented on #10230
if you use `amp-state` and load the endpoint values into a variable, then you can bind the `height` of `amp-list` to the length of the array. In [hotel sample](https://ampbyexample.com/samples_templates/hotel/) we do something similar, could you check if that would work in your case?

[2018-02-16 15:15] seomaz commented on #10230
@kul3r4  I'm currently doing it like that, but my problem is when amp-list load the first elements on page load not by user interaction

[2018-02-16 15:29] #11359 closed

[2018-02-16 15:29] kul3r4 commented on #10230
are you using `amp-state`? I just tried to minimize the list height to 200 and I can see that it resize to a taller list because the height is in a binding without clicking on a button.

[2018-02-16 15:35] seomaz commented on #10230
This is my example: https://www.cibercuba.com/tags/tiroteo-broward if i set the height of the amp-list to 800px for example the list does not resize until user clicks

im usin amp-state doing this [height]="(nodesState.items.length / 2) * 400"

<amp-state id="nodesState" src="/json/46637/nodes.json?amptheme&amp;nocache=1" class="i-amphtml-element i-amphtml-layout-container" aria-hidden="true" styl

[2018-02-16 15:47] kul3r4 commented on #10230
you are right, sorry about the confusion!

[2018-02-16 16:02] #13519 closed

[2018-02-16 16:52] juanchaur1 opened #13524 "userErrors not working for specific end point"
## What's the issue?
When configuring the error trigger as specified [here](https://www.ampproject.org/es/docs/reference/components/amp-analytics#error-trigger) and adding a specific url as [here](https://github.com/ampproject/amphtml/blob/master/examples/analytics-error-reporting.amp.html#L90) the request that fires is to: amp-error-reporting.appspot.com/r

## How do we reproduce the issue?
You c

[2018-02-16 17:22] tygavin commented on #13197
Be sure to handle the case where my visitor has already "opted in" to analytics on my domain and I don't need/want to present consent UI again when they arrive on a Google AMP page served up by google.com cache domain.  Doing a 'double consent' step defeats the purpose of AMP HTML which is to deliver content faster.  It also seems strange that google.com cookies are now responsible for my website'

[2018-02-16 19:50] kushal opened #13526 "Add amp-analytics config from an extension? / I2I for new vendor"
We have an extension (amp-access-scroll) that has corresponding analytics endpoints that should be added if and only if the extension is present. It'd be great if this could just be configured from our extension, is that something you've thought about?

If not, we'd still love to go ahead and send a vendors PR to make integration easier for our partners. We have the following configuration
[code]

[2018-02-16 19:54] cathyxz commented on #13502
Hi @bizimunda, thanks for getting touch. Would you mind being a bit more specific as to what the issue is? I checked out your page, and it seems like all of your `<amp-img>` tags on the page are commented out. Also, I don't think the page you've included is valid amp. You need to include amp runtime script (` <script async src="https://cdn.ampproject.org/v0.js"></script>`), the amp boilerplate sty

[2018-02-16 19:55] #13502 closed

[2018-02-16 20:17] sryze opened #13527 "Use amp-list with Google Place Autocomplete API"
## What's the issue?

It doesn't seem to be possible to use the [Place Autocomplete API](https://developers.google.com/places/web-service/autocomplete) with `amp-list`:

Is there a workaround?

I would like to implement an auto suggestions feature where when a user types a city name a list of cities is displayed below the input. I haven't been able to find an AMP component for Google Places, which

[2018-02-16 20:39] rangarajanr opened #13528 "amp-bind white-listed functions not working on IE"
## What's the issue?
[white-listed functions](https://www.ampproject.org/docs/reference/components/amp-bind#white-listed-functions) of amp-bind do not work on IE (in this example, it was the function - String split)

## How do we reproduce the issue?

1. Open this in Internet Explorer (ex: IE 11) - https://codepen.io/anon/pen/VQrOOy
2. Change the selection to Option 2
3. See the console error in d

[2018-02-16 21:24] jaygray0919 commented on #13522
use amp-list and format with amp-mustache. the file.json must be on an HTTPS server

[2018-02-16 22:31] jridgewell opened #13531 "amp-apester-media: Element mutation outside mutation phase"
amp-apester-media inserts its iframe inside `#layoutCallback`, but because it's inside a Promise's then chain, it's outside of a mutation phase.

[code]

[2018-02-16 22:38] cvializ commented on #13388
Hmm it's probably an issue with the demo server code

[2018-02-16 22:39] jridgewell opened #13532 "amp-image-viewer: mutation inside measure phase"
https://github.com/ampproject/amphtml/blob/885d81aabfa0495de7f64982b5d16a611d679b81/extensions/amp-image-viewer/0.1/amp-image-viewer.js#L322-L327

https://github.com/ampproject/amphtml/blob/885d81aabfa0495de7f64982b5d16a611d679b81/extensions/amp-image-viewer/0.1/amp-image-viewer.js#L342

This is done inside a measure phase!

[2018-02-16 23:06] jridgewell opened #13534 "amp-sticky-ad: Measure/mutate outside vsync"
https://github.com/ampproject/amphtml/blob/885d81aabfa0495de7f64982b5d16a611d679b81/extensions/amp-sticky-ad/1.0/amp-sticky-ad.js#L245-L256

While it's technically [called](https://github.com/ampproject/amphtml/blob/885d81aabfa0495de7f64982b5d16a611d679b81/extensions/amp-sticky-ad/1.0/amp-sticky-ad.js#L199-L206) inside a mutate phase, it's interleaving a measure and mutate, which means it needs to

[2018-02-17 00:19] ericlindley-g opened #13537 "Firefox bug: Audio disabled for AMP-JWPLAYER video"
Carrying over issues filed by QA from AMP by Example repo:

Description: Audio disabled for second video_AMP-JWPLAYER

Steps to Reproduce:

Launch Firefox
Go to https://ampbyexample.com/
Tap on 'AMP-JWPLAYER' under Components
Tap on second video
Observed Result: Audio disabled for second video.
Expected Result: Audio should be audible as expected.

Environment:
Device: Samsung SM-G900H
Version: 5.

[2018-02-17 00:29] ericlindley-g opened #13538 "Layout=responsive not working for amp-reach-player (on firefox & chrome)"
Per https://github.com/ampproject/amp-by-example/issues/1073#issuecomment-365280384

Steps to reproduce:
1.Launch FireFox
2.Go to https://ampbyexample.com/
3.Click on the hamburger menu
4.Tap on "Components"
5.Tap on AMP-reach-player

Observer result: "Play" button is misaligned to the right lower corner
Expected result: display in the middle of the video screen

ENVIRONMENT DETAILS:
-FireFox 57.0

[2018-02-17 00:32] ericlindley-g opened #13539 "amp-reach-player: fullscreen button doesn't trigger fullscreen in firefox or chrome"
per: https://github.com/ampproject/amp-by-example/issues/1055#issuecomment-365278242

Expand button isnt working for video in components section for amp-reach-player card
1.Go to https://ampbyexample.com/
2.Tap on Components
3.Tap on amp-reach-player and observe video and try viewing video in full screen by clicking full screen icon and observe not expanding when click for full screen.
Observed re

[2018-02-17 00:51] ericlindley-g opened #13540 "amp-kaltura player does not play on firefox (endlessly buffers). potentially just iOS"
from: https://github.com/ampproject/amp-by-example/issues/1122#issuecomment-365237367

Video buffering forever and not playing in  components amp kaltura player  card in IOS 10.3.3 mobile
Steps to reproduce:
1.Launch FireFox
2.Go to https://ampbyexample.com/
3.Click on the hamburger menu
4.Tap on "Components"
5.Tap on "amp kaltura player"
6.Observe buffering video forever in example box and not pl

[2018-02-17 05:45] seomaz opened #13541 "Adsense matched content unit parameters on <amp-ad>"
The adsense matched content unit need these parameteres to be customize
    ` data-matched-content-ui-type`
   `  data-matched-content-rows-num`
     `data-matched-content-columns-num`
Adsense `<amp-ad>` does not allow these parameters.

thanks!

[2018-02-17 14:05] lexandera opened #13542 "Using amp-ad-exit vs amp-analytics for click tracking within AMPHTML ads"
The documentation does not mention anything about how amp-ad-exit compares to amp-analytics when it comes to pinging click URLs from AMPHTML ads. Are there any differences when it comes to things like reliability vs using a click handler that's attached to the link that opens an external URL?

amp-ad-exit does not appear to currently support all variable substitutions that we need (like COUNTER) a

[2018-02-17 22:21] sryze opened #13543 "Issue regarding "<varaible> is not defined; returning null" warning"
## What's the issue?

There is no way to define a default value for a global state variable via `<amp-state>`, only for named states, so when accessing a global state property you get a warning in development mode like this:

[code]

## How do we reproduce the issue?

See the autosuggest example on AMP by Example:

https://ampbyexample.com/advanced/autosuggest/#development=1

You will see the foll

[2018-02-17 22:26] sryze commented on #13527
I've found a way to implement this using `amp-list` and a bunch of other componets. For those who are interested see this example:

https://ampbyexample.com/advanced/autosuggest

Note: You probably won't be able to call the Place Autocomplete API directly from the browser using `<amp-list>` because of CORS. I worked around this by implementing an endpoint in my server that calls Google's API. I do

[2018-02-17 22:26] #13527 closed

[2018-02-17 23:05] svdoever opened #13544 "npm run dist gives error on Windows"
When I try to execute npm run dist on Windows 10 I get the following error:

[code]

Same happens on npm run build, but everytime at a different file:

[code]

[2018-02-19 01:02] rudygalfi opened #13546 "Story has padding and doesn't fill viewport"
## What's the issue?

AMP stories from Wired seem to have padding and won't fill the whole viewport. It's easier to see on mobile emulation (Chrome) but on device shows a white strip on top and bottom.

## How do we reproduce the issue?

1. Google search: [wired]
2. Choose any story, e.g. https://www.google.com/amp/story/s/www.wired.com/amp-stories/microscope-photography/

If this is a feature req

[2018-02-19 04:32] inidaname commented on #13420
I will like to take this up

[2018-02-19 05:00] seomaz commented on #5433
what about amp-facebook with amp loader ? right now when the facebook video/post is loading the element does not have amp loader

[2018-02-19 08:53] SergeyBl commented on #13101
@lannka Hi, I added render-start and no-content-available . Please check.

[2018-02-19 10:38] xsyfrost opened #13547 "Amp sticky ads / height 100px"
Hi all,

First thank you for all the work already achieved.
I noticed a trouble on amp sticky ads. When putting the 100px (maximum that can be set) the "adsense" ads are cutted.
![amp-ad2](https://user-images.githubusercontent.com/9862529/36373581-daf92616-1568-11e8-9341-4959d43b9d63.jpg)
Everything has been set correctly on the amp tag
![amp-ad1](https://user-images.githubusercontent.com/9862529/

[2018-02-19 11:30] newmuis commented on #13546
The stories themselves seem to have custom styles limiting the width and height of the story container (`max-height:736px;max-width:414px`).

We can let them know, but also we can forcibly override this on our end to prevent others from making the same mistake.

[2018-02-19 17:04] jasti commented on #6829
@bradfrizzell @lannka Can you confirm that window.context (via AMP Context) is not available in delayed rendering mode?
We need to get this done ASAP especially if we are deprecating useSameDomainRenderingUntilDeprecated by end of March.

[2018-02-19 17:05] petitpress commented on #2968
Hi, according to https://www.ampproject.org/roadmap/ this should be in limited-beta right now. Is it so? If yes can we contribute in testing? If no, when it will be ready?

[2018-02-19 17:34] mrjoro opened #13549 "Status Update 2018-02-19"
If you are contributing to the AMP Project open source community, please use this issue to provide updates regarding the status of the projects you are responsible for and what you will be working on next.

[2018-02-19 17:34] #13235 closed

[2018-02-19 18:33] billykov commented on #13105
Hey @choumx,
Thanks for the tag!

What are the next steps here, is there anything required from us at this point?

[2018-02-19 21:55] camelburrito commented on #11537
This has been fixed and will be on prod this week

[2018-02-19 21:55] #11537 closed

[2018-02-19 22:37] sucharithav commented on #11096
This is no longer required for AdWords click tracking.

[2018-02-19 22:37] #11096 closed

[2018-02-19 22:37] sucharithav commented on #11095
This is no longer required for AdWords click tracking.

[2018-02-19 22:37] #11095 closed

[2018-02-20 00:59] nainar opened #13550 "Add toggle action to <amp-selector>"
Something like:

`<button on="tap:mySelector.toggle(index=3, value=true)">Select the third option</button>` should allow you to select the third element in the list.

Related to #10946 to enable list box behavior in AMP.

[2018-02-20 08:17] erwinmombay opened #13552 "Remove `amp-live-list-sorting` experiment flag"
Remove once https://github.com/ampproject/amphtml/issues/5396 requirements are fully implemented

[2018-02-20 08:44] weeblr commented on #12046
Not been able to follow up on this. Closing for now.

[2018-02-20 08:44] #12046 closed

[2018-02-20 15:05] joshgreen commented on #13457
AMP for email will hopefully go the same way as Google Wave and Google Panel Ads in Gmail. Its evil proprietary technology that harms the open web with aims at creating a monopoly. #Googleisevil

[2018-02-20 15:41] inidaname commented on #13420
@aghassemi I need your guide been trying to replicate #12505, will be glad if you can give me a little direction

[2018-02-20 15:59] danielrozenberg opened #13555 "Replace magic numbers in overrides of getPriority() with constants and rename method to getLayoutPriority()"
Currently extensions that override the getPriority() method use magic numbers (e.g., [amp-state.js](https://github.com/ampproject/amphtml/blob/9b101fa000b7dc911073cacdf3ccafb187c2012d/extensions/amp-bind/0.1/amp-state.js#L33) returns `1`.)

These values aren't clear, we should change them into constants. We use values between 0–2, with 3 being added in PR #13409, in 12 files. I propose the followi

[2018-02-20 16:00] danielrozenberg commented on #13555
/to @choumx @cramforce

[2018-02-20 16:13] newmuis opened #13556 "Move all amp-story strings to messages, defaulting to empty"
Until #4146 is resolved, we can at least have some type of simple messages to allow us to swap out the messages for empty strings (in lieu of actual translations).  Even if this format changes over time as #4146 gets implemented, the important part is having a single location for all the strings, rather than having them strewn throughout the codebase.

We can use something like [chrome.i18n](https

[2018-02-20 16:15] newmuis commented on #12815
The feedback from the design review was to take option 2.  Additionally, it may make sense to make this requirement go the other way as well: to disable automatic advancement in cases where it was explicitly specified.  This will be useful to force determinism for testing in some cases.  So, we at least want this construct to have three states (naming is temporary):

- As specified (i.e. if the pu

[2018-02-20 16:23] danielrozenberg commented on #13555
Both are legit, question is whether we want them to be descriptive or prescriptive :)

[2018-02-20 16:25] choumx commented on #13513
/to @zhouyx

Another option is to add a feature to `amp-ad` for wrapper markup (so the custom "ad" label is a child element that will also be collapsed).

@stomaskov Have you tried using CSS for this? E.g. `::before` selector + `content` property?

[2018-02-20 16:29] newmuis commented on #12182
The history state should also be preserved for the open/closed state of the bookend, although we do not need to serialize this into the URL.

[2018-02-20 16:39] aghassemi commented on #4892
https://github.com/ampproject/amphtml/issues/13420 that is being worked on currently will allow you to run AMP actions when lightbox opens and closes which means you can focus (using `.focus()`) action on a particular element as lightbox opens and closes. This will also allow you you to run `setState()` which can be used as part of `amp-bind` to change any `aria-*` attributes.

What's currently no

[2018-02-20 16:40] stomaskov commented on #13513
@choumx Yes we tried using CSS but it didn't hide the label if there was no ad.

Using a wrapper markup would probably work in this case.
I just think some post-load event and amp-bind interaction would give more flexibility.

[2018-02-20 16:51] dvoytenko commented on #13526
/to @zhouyx could you pls advise on how to auto-register analytics for amp-access-scroll extension? Notice that "scroll" refers to brand name, not scrolling.

[2018-02-20 16:52] #12264 closed

[2018-02-20 17:31] zhouyx commented on #13513
duplicate of #8941

`::before` selector won't work, because we force the child iframe to fill the ad component, as well as set `amp-ad` `overflow: hidden !important`

Few thoughts here:
1. Use the `amp-layout` component as the ad wrapper. And collapse the `amp-layout` component if possible.
2. Have the `amp-ad` component support an inner wrapper to the child iframe. This may cause some visibility

[2018-02-20 17:47] rudygalfi commented on #13546
Yeah, I think an override makes sense since it was also affecting how the system UI looked.

[2018-02-20 17:53] jamesshannon opened #13560 "Regression - amp-ad fallback doesn't work"
I brought this up 2 weeks ago on another issue but it might have been unrelated and got ignored.

This causes a very negative UI experience when ads don't show.

amp-ad fallback doesn't work, neither via the `<div fallback>` element or via collapsing.

This is with DFP so may be an issue with the DFP implementation. When I looked at this 2 weeks ago DFP was very clearly returning no ad (ie, it's n

[2018-02-20 18:15] jamesshannon commented on #13560
@aghassemi

[2018-02-20 18:18] aghassemi commented on #13560
/to @lannka @zhouyx Setting as high priority for now until you triage.

[2018-02-20 18:35] aghassemi opened #13562 "amp-animation: animation is not resumed correctly when switching tabs"
Repro case: http://jsbin.com/racivijeso/edit?html,output

[2018-02-20 18:36] aghassemi commented on #13562
b/73292810

[2018-02-20 18:50] jridgewell commented on #9124
[Working on it](https://github.com/ampproject/amphtml/pull/13223).

[2018-02-20 18:59] zhouyx commented on #13560
@jamesshannon To confirm. I get this for the first ad. It doesn't collapse
![image](https://user-images.githubusercontent.com/5419904/36442883-025013dc-162c-11e8-9d33-304b6f583876.png)
This for the second ad that collapses.
![image](https://user-images.githubusercontent.com/5419904/36442916-1902158a-162c-11e8-9f8e-f6d57ca85e8e.png)

They look correct to me. Can I know what went wrong here? Thanks.

[2018-02-20 19:18] jamesshannon commented on #13560
Weird. Anybody else?

zhouyx is seeing what I'd expect. But my screenshots show something else.

It's WAI in FF but not Safari (where I don't run anything special) and Chrome on my phone.

However, it's not WAI in Chrome on my desktop, even incognito mode. The frame instead has the "blank DFP ad" html:
![image](https://user-images.githubusercontent.com/761381/36444211-b4ca8bc0-162f-11e8-8e9a-98cf2

[2018-02-20 19:49] aghassemi commented on #13537
@ericlindley-g Not much we can do here. It is most likely an issue with that video using an audio track format not supported by FF. Regardless, it is a JWPlayer issue. The component is just an iframe. /to @pablos1

[2018-02-20 19:53] aghassemi commented on #13538
/to @mikepmtl

[2018-02-20 20:09] ericlindley-g opened #13565 "[discussion] amp-lightbox-gallery support: CSS API, content support, captions"
CSS API
-
Start with all restrictions in place: remove "!important" styles as compelling use cases come up in the wild

Tradeoff: less flexibility in short term / potentially less adoption by folks who see restrictions as a barrier to use; better backward-compatibility for any changes in the future; fast/easy to make changes as they come up

CONTENT SUPPORT
-
INITIAL LAUNCH
- Images and videos
inc

[2018-02-20 20:25] ericlindley-g commented on #13565
/cc @cathyxz @aghassemi @spacedino

This is a proposal bringing together some of the outstanding decision points from our conversations about the lightbox-gallery. Would be worth discussing in person ( @cathyxz — I forget what the state of video is now w/r/t content support), but thought it would be useful to get something on GitHub to track.

[2018-02-20 21:00] jridgewell opened #13569 "amp-ad: handle resizes measures in a mutate phase"
https://github.com/ampproject/amphtml/blob/82f4ceb2/extensions/amp-ad/0.1/amp-ad-xorigin-iframe-handler.js#L352-L366

You have two measures directly, then `AmpAdUIHandler#updateSize` will do even more measures. Nothing in here directly mutates the element, so it should just be using a measure phase.

[2018-02-20 21:18] newmuis commented on #13549
## Stories

### What's done

- [Announcement](https://developers.googleblog.com/2018/02/amp-stories-bringing-visual.html) and [talk at AMP Conf 2018](https://www.youtube.com/watch?v=aael0hECWFw)
- Analyzed some video performance bottlenecks
- Fix for copying links to clipboard (#13400)
- Fix for touch zoom (#13316)
- Fix for flash on navigation (#13529)

### What's next

- Improved video implement

[2018-02-20 21:51] ithinkihaveacat commented on #13505
That's correct, time/date for the "more to read" section in the bookend is not supported; the only fields supported right now are [title, URL and image](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/bookend.js#L91-L110). I guess datetime it was in a prototype!

[2018-02-20 21:59] aghassemi commented on #13420
@inidaname  Thanks for taking this on!

You essentially want to dispatch a `lightboxClose` event in the `finalizeClose_` method of `amp-lightbox` and a `lightboxOpen` event in the `finalizeOpen_` method.

[2018-02-20 22:28] alabiaga commented on #11881
/cc @jridgewell

[2018-02-20 22:41] zhouyx commented on #13526
@kushal We allow an extension to use `<amp-analytics>` to collect data. Please take a look at our doc https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-components-analytics.md and let me know. Thanks!

[2018-02-20 22:57] cramforce opened #13572 "Remove CDATA references from error messages"
We have error messages like `The text (CDATA) inside tag 'style amp-custom' contains 'CSS !important', which is disallowed. (see https://www.ampproject.org/docs/reference/spec#stylesheets)`.

Outside of HTML parser community and people who have spend too much time with XML nobody knowns what CDATA is. I think it'd be better if we simply removed the mentions of CDATA from the error messages.

[2018-02-20 23:12] jridgewell commented on #11881
Ok, so there's an issue with this on the runtime side. Up until this, we've considered `element.style` to be a pristine record of _runtime's_ changes to the element's style. Specifically, we can set a value, then unset it to get back to the publisher supplied style state.

[code]

This style of mutate then unset is used extensively in `FixedLayer`, `dom#toggle`, and I'm sure a few other places.

S

[2018-02-20 23:28] kushal commented on #13526
This looks promising! Just so I understand, I would add `trackInterval` to the `useAnalyticsInSandbox` whitelist, and then use that method? And `useAnalyticsInSandbox` would report document-wide events and have access to `ACCESS_READER_ID`, `SOURCE_URL`, etc?

[2018-02-20 23:32] alabiaga commented on #11881
Thanks for your input Justin. I will work on this runtime transformation
and will keep you up to date with its progress.

On Tue, Feb 20, 2018, 6:12 PM Justin Ridgewell <notifications@github.com>
wrote:

[2018-02-20 23:45] cpapazian commented on #11881
@jridgewell my understanding is that the 50k CSS limit was meant to prevent a hard block in the render path. The styles that we'd like to inline are for content below the fold. Would adding an arbitrary amount of inline styling lead to performance issues? or do you mean to suggest that the inline styles would be injected into the head _after_ initial render?

[2018-02-20 23:54] #13532 closed

[2018-02-20 23:55] aghassemi opened #13573 "amp-facebook-* do not show the AMP loader"
Likely because we only wait for the 3P iframe load which is pretty quick but does not mean the SDK has drawn anything inside of it.

We likely need to send a message back from the iframe when drawing is done and wait for that instead.

[2018-02-20 23:55] aghassemi commented on #5433
@seomaz thanks for reporting. Created a separate issue for this: https://github.com/ampproject/amphtml/issues/13573

[2018-02-21 00:00] #13432 closed

[2018-02-21 00:17] jridgewell commented on #11881
These would be after initial render. We could discuss SSR (doing the above algorithm on server) with the AMP Cache devs, but it would have to fall under the 50k limit.

In the end, it'd probably mean still forbidding the `style` attribute (which the browser would control) and instead giving you an `amp-style` (or whatever name) that we could control when it applies.

[2018-02-21 00:31] choumx commented on #11881
`amp-style` won't degrade gracefully. Maybe we can split this work into stages, e.g. for first pass, rewrite `style` to `''` for fixed elements in `FixedLayer#setup` and output a user error.

[2018-02-21 00:38] jasti commented on #8480
@rowangray @jamesshannon would it be reasonable to automatically request the ad when the user is on the ad-1 slide? (ad will be re-requested when the user navigates back and forth the carousel) That way the ad is ready and viewable by the time the user gets to the ad slide.

[2018-02-21 00:44] cpapazian opened #13575 "Intent to implement: Built-in see-more for amp-list"
# Motivation
Paging for `<amp-list>` is currently limited and requires integration with other AMP components. Adding a "see more" would simplify common use cases, and adding an option to automatically fetch more more elements would allow publishers to build powerful infinitely scrolling lists.

# Proposed design
Add a "load-more" parameter to `<amp-list>` to indicate that more items are available

[2018-02-21 00:50] cpapazian commented on #13575
@choumx @aghassemi we discussed this feature last week at the conference. You suggested that infinite scroll be built into the `<amp-list>`, rather than bolted on via `<amp-position-observer>` ... thoughts on whether we can stage that work? Just adding a "low trust" fetch-page action (and it appears to be safe, based on how the resize rules are implemented in `src/service/resources-impl.js`) would

[2018-02-21 00:55] aghassemi commented on #13513
@zhouyx Ideal fix IMO is for `amp-ad` to officially support the concept of wrappers which it can collapse or just `visibility:hidden` same way it does with ads. (i.e. `<amp-ad wrapper-id="someId"`) runtime would validate wrapper is a ancestor of the ad.

Adding a `collapse` action to `amp-layout` which either `display:none` or `visibility:hidden` depending on whether in the viewport or not is fine

[2018-02-21 01:07] mdiblasio opened #13576 "amp-form invalidation messages shown immediately"
## What's the issue?

amp-form custom invalidation messages (e.g. "visible-when-invalid") are sometimes shown before a form submit is attempted if the amp-form library is still loading after the initial page render.

This is problematic for sites who display these error messages above-the-fold: users are immediately shown error messages before they take any action.

## How do we reproduce the issu

[2018-02-21 01:10] cramforce commented on #13555
I like descriptive.

On Tue, Feb 20, 2018 at 4:23 PM, Daniel Rozenberg <notifications@github.com>
wrote:

[2018-02-21 01:14] cathyxz commented on #12995
Actually this was done in https://github.com/ampproject/amphtml/pull/12961.

[2018-02-21 01:14] #12995 closed

[2018-02-21 01:24] choumx commented on #13457
@semiadam The AMPHTML markup of emails will be static, so it’ll be clear which parts of an email are static or dynamic. Also worth noting that images in HTML emails today already exhibit this dynamism.

As demonstrated at [AMP Conf](https://www.ampproject.org/amp-conf/), the current plan for Gmail is for transactional and promotional emails, though this is ultimately up to each email provider to d

[2018-02-21 01:26] #13539 closed

[2018-02-21 01:31] ocdtrekkie commented on #13457
@choumx As far as feedback from other email providers, FastMail responded publicly: https://blog.fastmail.com/2018/02/14/email-is-your-electronic-memory/

Please consider the ethics of what you are doing. Don't lend your expertise to doing something that can't be undone. Look at what your peers _outside of Google_ are saying.

[2018-02-21 01:38] cramforce commented on #13457
@ocdtrekkie I liked the https://blog.fastmail.com/2018/02/14/email-is-your-electronic-memory/ post, especially because it is easy for them to build exactly what they want in AMP, because AMP uses a very simple data model that can easily be serialized and stored. With that an AMP email provider could decide that email would never change after open unless the user interacts–and thus retain the "elec

[2018-02-21 01:57] ocdtrekkie commented on #13457
@cramforce The only reason they'd need to build any support for AMP at all is a monopoly plans to shove it down everyone's throats, despite being universally panned by the entire tech community. If Google intended to be a good member of the Internet community, why would it take something everyone is already upset about being forced on websites due to Google's search monopoly, and start forcing it

[2018-02-21 02:03] cramforce commented on #13457
Let's keep this discussion technical. Please note that this issue is an
"intent to implement" which is different from an intent to ship, so exactly
the right time to have a conversation about how to do it. You can see how
the process looks like in our contribution guidelines.

By the way: +1 on the G+ integration in Gmail having being awesome. Having
a way to avoid that one off hack will be neat.

[2018-02-21 02:05] ldstevens commented on #13457
@choumx @cramforce

What user feedback does Google have that "opening a browser" is a problem?

What developer feedback does Google have about the appropriateness of AMP4email as the solution to this problem?

What email client feedback does Google have that support for AMP4email is desirable?

Surely you can understand that remaking a "cornerstone of many consumer and enterprise workflows" in AMP

[2018-02-21 02:08] ldstevens commented on #13457
@cramforce

Can you please point to where this is explained?

Where is the appropriate place for feedback on the idea itself?

[2018-02-21 02:13] ocdtrekkie commented on #13457
@ldstevens Despite my obvious aversion to amp4email, here's my feedback on why dynamic email can be desirable: The old G+ interface took 12 seconds to load a page on average (according to a G+ engineer when they launched the new version). Therefore, +1ing a post or comment from Gmail saves me twelve seconds per notification, which is significant.

Of course, while having an app notification be dyn

[2018-02-21 02:26] ldstevens commented on #13457
@ocdtrekkie Indeed. If these features are truly integral to modernise email, and should be widely supported for decades to come, then let's see it discussed and critiqued thoughtfully, widely and patiently to sift through the pros and cons, build consensus, and get the best result for all involved.

The fact that Google isn't doing this...

[2018-02-21 03:01] cramforce commented on #13457
I think it is important to understand the AMP scope here: provide a useful
set of tags that allow building dynamic apps on web tech without executing
arbitrary JS and without leaking the user's IP address.

Given that AMP exists and the obvious well-suited-ness for the above
constraint set it seems like a good idea to try this.

On Feb 20, 2018 6:26 PM, "Luke Stevens" <notifications@github.com> wr

[2018-02-21 03:13] nainar commented on #12669
@aghassemi this also makes sense from a rendering perspective. Most rendering engines have a fast path for elements that have `display:none` set. I doubt that the perf benefits would be perceptible, but I would still vote for the change suggested here and would be happy to make it myself.

[2018-02-21 04:09] cramforce commented on #13457
I'm firmly in the camp of trying things in a nimble way, and then learning from that in standardization, instead of going down a long process only to find out in implementation that one missed several important parts.

Thats why the extensible web is so powerful: We can get far using primitives, and when things to be heavily used standards can be put in place to make such usages that have been pro

[2018-02-21 04:14] jamesshannon commented on #8480
The implementation I had in mind is where the ad is outside of the slide.

E.g., carousel with 10 items. On the right of the carousel you have a skyscraper ad. The ad loads on initial page load (as normal). However, because of the nature of the carousel content, the user might be looking at this screen for 5+ minutes. While you could have a refresh time on the ad of, e.g., 2 minutes lots of publis

[2018-02-21 04:22] newmuis opened #13579 "Write contributor-facing documentation for amp-story"
This is a broad issue to cover a lot of things:

Priority | Category | Item
-- | -- | --
P0 | General | General: Overview
P0 | General | General: Design Principles
P0 | General | General: Table of Contents
P1 | Localization | Localization: Deprecating a string
P1 | Localization | Localization: Updating a string
P1 | Localization | Localization: Injecting the service
P1 | Localization | Localizatio

[2018-02-21 04:23] ldstevens commented on #13457
Thanks for the response. Isn't a standards process redundant if Google decrees this as a defacto standard and implements it anyway?

I get the appeal of being nimble, and I get standards are hard. However you're asking us to accept your nimble experimentation with a "cornerstone of many consumer and enterprise workflows"; with email itself. I don't know if it's hubris, naivety, or both, but that i

[2018-02-21 04:30] cramforce commented on #13457
The way I see it: By introducing a new mime type it is possible to experiment with a new format with very little risk, since all existing clients are supported. If the experiment turns out well, everybody is smarter. If it turns out badly, that is sad, but all emails continue to work.

Whether the extensible web was a good idea or not is probably a discussion better had outside of this forum :)

[2018-02-21 04:44] ldstevens commented on #13457
"Everybody is smarter" is a naive view of the outcome here. What does it mean for Google's competitive interests? What does it mean for Google's control of this new format? What precedent does it set for dictating future "enhancements" to something as fundamental as _email_?

And if it doesn't work, what does it mean for everyone who implemented it? When you launch this, people will hear Google sa

[2018-02-21 04:52] cramforce commented on #13457
@ldstevens We have a process for this. The next thing is to discuss the topic in the AMP design review to which you and everyone here is invited. It'll be mentioned here once the date is scheduled.

I absolutely agree that there should be a wider discussion as to whether it is a good idea in email. This isn't the place, since the AMP GitHub project is really the place to talk about the AMP impleme

[2018-02-21 04:58] ldstevens commented on #13457
@cramforce I agree it's an awkward place to discuss these issues. But where is the place to have this discussion?

[2018-02-21 04:58] cramforce commented on #13457
@ldstevens I don't know, but we'll get the gmail folks to come to our design review session :)

[2018-02-21 05:02] ldstevens commented on #13457
@cramforce That there evidently isn't a place to have this discussion is deeply concerning. This is the glaring problem with standards-by-decree: the idea of discussion isn't even considered, much less encouraged :(

[2018-02-21 05:09] cramforce commented on #13457
@ldstevens Come to the design review and go from there. The process is well lit.

[2018-02-21 05:13] ocdtrekkie commented on #13457
Is it possible to ask what Gmail team's position stands at right now? Is implementation in Gmail planned? Is this truly so early stage that Gmail team had no idea this was coming and may or may not desire to implement it?

As @ldstevens points out, the main issue is that if Gmail team does something with how they handle mail, _it's a global Internet standard_. Whether or not anyone else had any sa

[2018-02-21 05:15] ldstevens commented on #13457
@cramforce But I'm not interested in reviewing the tech, and I'm not interested in acquiescing to the model of Google-as-standards-gatekeeper.

I'm interested in discussing the implications of the tech & this approach of Google as standards gatekeeper for (what I see as) an attempt to fork the web.

This is what real standards bodies do: they have email lists and/or meetings and hash out the impli

[2018-02-21 05:18] cramforce commented on #13457
@ldstevens If you'd like to have a meta discussion about AMP, please feel free to open a new dedicated issue for that or post to amphtml-discuss@googlegroups.com (We nowadays use GH over the mailing list, but it is around for you if you prefer email). Also happy to schedule time for that on the design review.

[2018-02-21 05:20] ldstevens commented on #13457
@cramforce Does anyone with any authority over the direction of AMP participate in that discussion?

(And to re-iterate a point I've made elsewhere: soliciting volunteer work so people can help Google implement its corporate strategy to compete with FB et al is _gross_.)

[2018-02-21 05:22] ldstevens commented on #13457
If you're serious about AMP as a standard, take it to the WHATWG. Take it to the W3C. But most of all: take it somewhere independent of your management.

[2018-02-21 05:25] cramforce commented on #13457
@ldstevens yes, I participate, and according to the [project governance rules](https://github.com/ampproject/amphtml/blob/master/GOVERNANCE.md#amp-project-open-source-governance) I have the authority, which, by the way, is in no way contingent on my employment at Google.

AMP is not a web standard and shouldn't be one. That would be AGAINST the principles of the web. It is an application of the ex

[2018-02-21 05:33] cramforce commented on #13457
@ldstevens Saw your edits. As you can see above, the current governance structure is just BDFL through me. We'd actually like to move this to a more modern model. See this GitHub for an ITI about that soon-ish.

PS: Please move further meta comment into a new issue. I'll otherwise will copy non-email comments into a separate issue to keep the discussion here focused.

[2018-02-21 05:36] ldstevens commented on #13457
@cramforce I understand you have authority over the "AMP open source project" as the Tech Lead who "will have the final say on all decisions regarding *technical direction*." I'm interested in what comes before and after the tech. I suspect that's what the VP who oversees AMP decides - does he participate?

If AMP really was just another framework like React or Angular we wouldn't be having this d

[2018-02-21 05:37] ocdtrekkie commented on #13457
On amp4email specifically, my concern is this may be a "when you're a hammer, everything looks like a nail" issue. amp4email presumes that anyone should be able to send a user dynamic content, whether they want it or not. At least, I can't see any other benefits to pushing the dynamic content through the email itself. And it adds a heavy dependence on someone operating an AMP cache, somewhere, pre

[2018-02-21 05:42] ocdtrekkie commented on #13457
Another concern is.... if the dynamic content in an AMP email is user specific, i.e., I can +1 or reply to someone's post... what happens if I forward that email to someone else? Can they reply as me?

[2018-02-21 08:09] dmitriid commented on #13457
Says the same person who participated in the following dialog on this very page:

---

@cramforce : You can see how the process looks like in our contribution guidelines.

Q: **Can you please point to where this is explained? Where is the appropriate place for feedback on the idea itself?**

@cramforce: Marketing nonsense about "if tech exists, let's try it"

Q: but you haven't addressed my questi

[2018-02-21 08:30] philipwhiuk commented on #13457
If it's not expected to be a web or email standard then against what spec are email developers supposed to be working against?

[2018-02-21 09:27] mattkeenan commented on #13457
With regards to the MIME type and it still supporting non AMP speaking clients, this is an argument that has already proved to be false in the past. The same argument was put forward for HTML MIME parts in emails because the text/plain quoted-printable would always be there, except now it isn't; already about 25% of my email contains no text/plain quoted-printable section. I'm almost tempted to wr

[2018-02-21 09:41] philipwhiuk commented on #13457
As an end user application K-9 will probably have to say something like "This email has only been provided in an unsupported nonstandard proprietary format" if there's no fallback mechanism.On 21 Feb 2018 09:28, Matt Keenan <notifications@github.com> wrote:With regards to the MIME type and it still supporting non AMP speaking clients, this is an argument that has already proved to be false in the

[2018-02-21 09:55] gilbertococchi commented on #12912
It seems like on Firefox it happens no matter the Amp-ad element in viewport compared to the behavior on Chrome: https://rep.repubblica.it/pwa/commento/2018/01/10/news/il_galateo_di_serracchiani_per_il_bon_ton_dei_sindaci-186240380/

[2018-02-21 10:19] mattkeenan commented on #13457
I am aware that clients will ignore MIME types they don't support and possibly complain if there are no MIE parts they do understand. My point is that end users will complain and effectively force people to implement AMP even if it is not in the end users best interests because FOMO.

My point about the server returning a 501 is that then the **sender** will be notified that the email they attempt

[2018-02-21 12:11] sandiprb commented on #7012
Thanks @cypherlou  I had the same issue in my Django Template. I wasted two hours trying to figure out what was wrong. Later realised Jinja2 was considering {{message}} as a variable! Thank you everyone.

[2018-02-21 12:28] tomayac opened #13581 "AMP Viewer Header Bar jumps around"
# Description

The [AMP Viewer Header Bar](https://3.bp.blogspot.com/-oBHDZfOxYrI/WJpekN2LyfI/AAAAAAAACbY/xJTgyFkgxAwWGOdfFJVKyLXd-iCyj6a3gCEw/s1600/Image3.png) jumps around when content is loading.

# Background:

- **Device:** iPhone 6
- **Browser:** Observed on *Chrome for iOS*
- **URL:** https://www.google.de/amp/s/www.e-food.gr/delivery/rethimno/picasso/amp
- **Video:** See [screencast](https

[2018-02-21 14:37] QES commented on #13505
Thanks - that is how I read it but saw an example that showed something else.

[2018-02-21 14:37] #13505 closed

[2018-02-21 14:41] kul3r4 commented on #12245
@cathyxz is this part of Ligthbox 2.0?

[2018-02-21 14:42] ithinkihaveacat commented on #13505
No problem, that's understandable! If you're interested in that feature you can create a feature request in this repo. (Or even implement.)

[2018-02-21 14:54] choumx commented on #13105
You can present this I2I at our weekly design review if you'd like, though I think it may be straightforward enough to directly implement. Please reference this I2I in your pull request(s). @aghassemi can help with code review.

[2018-02-21 14:56] billykov commented on #13105
@choumx if that is the case, I think we'll progress with our PR.
Thanks!

[2018-02-21 15:05] fdiego26 commented on #11455
I have the same 403 error Invalid PEM key
https://kamisetas.com/.well-known/amphtml/apikey.pub

403 error
https://kamisetas-com.cdn.ampproject.org/update-cache/c/s/kamisetas.com/amp/parches-bordados/Homer-en-el-seto-parche.html?amp_action=flush&amp_ts=1519225435&amp_url_signature=j_VAs7hxAxKweXsX8eQqynP6IJZG4MCgpcYob6IJgOejzPU_3NOwC0G8jXgFGxDe1ZHZ6kwGIME9ydzfnATUP8Y13lQ6ErXMP0uu1yB4DGzKGN8ntY72EA5

[2018-02-21 17:03] aghassemi commented on #12669
@td234 Do you have an example of where this is causing unexpected behaviour? `placeholders` always fill the `amp-list` and `amp-list` always has a fixed size. So regardless of `display:none` or `visibility:hidden` for placeholder, the `amp-list` component is the one taking up space.

@nainar I am not sure exactly why but we always `visibility:hidden` placeholders regardless of the component (`amp-

[2018-02-21 17:03] choumx commented on #13457
@ocdtrekkie Using an OSS format like AMP is actually liberalization of the dynamic email status quo. I.e. it'll be much less work for email providers to offer experiences like the G+/Gmail feature since they won't need to implement an integration for each use case (social, flight, scheduling, etc.). This is more flexible than the metadata approach since AMP is use-case-agnostic -- AMP doesn't need

[2018-02-21 17:13] ocdtrekkie commented on #13457
@choumx But there's multiple issues with relying on AMP for that.

- AMP4Email cannot possibly know how I want to use that dynamic info, as a user. Do I want to pull it into my calendar? If so, do I want to use the client app's feature? An operating system level intent? Or pull it into another app? What if I want to pull data into Google Assistant/Cortana/Siri? Does an AMP email have to support my

[2018-02-21 17:15] cpapazian commented on #13575
Additionally, If we decide to include the automatic paging/infinite scroll (as part of the first pass or later), there are a few questions about how and when it would fire ...

- where do we put the position observer? on the container? right after the container? on the last item in the list?
- do we request the next page immediately after the list is rendered if the last item is seen (or similar c

[2018-02-21 17:23] ocdtrekkie commented on #13457
And if I'm interacting with dynamic content, again, my question is what AMP is bringing to the table. I believe above @cramforce suggests two major purposes:

- Not running arbitrary JS: Which is better solved by simply not having JS in emails altogether, see my idea above to provide clients with metadata. I might hesitate to go so far as to suggest allowing JavaScript in websites was a mistake, e

[2018-02-21 17:25] mattkeenan commented on #13457
One feature of current AMP is how it is implicitly tied to Google's CDN and search infrastructure. In my opinion this reads indirectly, if not directly, to product tying, which in effect is a breach of anti-monopoly legislation. Given the FTC's reduced monopoly enforcement in the US this may not be a problem for Google's home turf, but you can be almost certain that Commissioner Vestager would be

[2018-02-21 17:26] rsimha commented on #13047
This was the original issue that tracked the addition of JWT to Travis: https://github.com/travis-ci/travis-ci/issues/1946

We're losing the JWT plugin on April 17, with no alternative in sight.

[2018-02-21 17:52] ocdtrekkie commented on #13457
@m4dc4p Perhaps you should unsubscribe rather than suggesting everyone else on the Internet should be silenced, for your benefit. Presumably, when a completed spec is released, it will be announced via Twitter or Google AMP's blog?

[2018-02-21 18:10] td234 commented on #12669
@aghassemi The amp-list takes up space, but at the bottom of the amp-list the placeholder adds additional space between the last list item and the end of the amp-list container. When empty or not shown, the placeholder should not take up any space. It essentially adds extra blank space at the bottom of the amp-list, which it should not for design purposes. For designs where an extra 20 pixels are

[2018-02-21 18:26] choumx commented on #13457
Started a meta discussion thread on the amphtml-discuss group here: https://groups.google.com/forum/#!topic/amphtml-discuss/VpUpX1mo-gY

Let's continue the meta and off-topic conversations there and leave this issue for technical questions and updates. We'll move future meta comments on this issue to that thread.

@ocdtrekkie We'll soon post an AMPHTML Email FAQ to the group that should answer you

[2018-02-21 18:41] philipwhiuk commented on #13457
Technical question then:

Is use of the AMP project CDN JS file a requirement given the minimal example. Or will the specification allow clients to specify alternative JS file hosts.

[2018-02-21 18:59] cramforce commented on #13457
@philipwhiuk We absolutely expect email providers to host the JS files themselves. In fact, all sophisticated AMP integrations use that. E.g. the Google AMP Cache hosts the files separately from the central CDN and so does the CloudFlare AMP Cache.

[2018-02-21 19:09] cwisecarver commented on #13354
@zhouyx I am able to work on this again now. I looked into the `REPLACE` functionality that you mentioned in your email.

Am I correct that this implementation would still send the heartbeat every time that the timer fired, just without the `inc=${the number}` in the URL?

[2018-02-21 19:17] mattkeenan commented on #13457
So a company that hosts its own email is expected to host JS that could have been crafted by a spearfisher and will also have to proxy all network requests from AMP content (both static resources as well as XHR)? And how is a company supposed to verify AMP content that it didn't author and proxy all requests from the AMP content is didn't author, while at the same time not becoming an open proxy f

[2018-02-21 19:22] cramforce commented on #13457
@mattkeenan Email providers already do this for external images with the same mechanism. AMP adds generic fetch requests to the mix, but it would use the exact same existing mechanism.

[2018-02-21 19:22] cathyxz commented on #12941
Our implementation of `sizes` is different from the browser native `sizes` for `<img>`: https://github.com/ampproject/amphtml/issues/11575.

[2018-02-21 19:42] aghassemi commented on #12669
@td234 Thanks for clarifying. The placeholder should never be able to change the size of its container regardless of `visibility:hidden` or `display:none`. I think that's bug we ought to fix (rather than changing placeholder to become `display:none`.)

I believe (not tested) the root cause pf this behaviour is:
"If a placeholder is `taller` than the final `resized` height of `amp-list`, we `measur

[2018-02-21 19:50] Syntaf opened #13584 "AMP warns about no default value for [disabled] attribute with amp-bind"
## What's the issue?

When using the `[disabled]` attribute, amp warns about no default value specified when in fact no default value is the _only_ way to correctly use the attribute.

## How do we reproduce the issue?

The following minimal example, when validated, will warn

_example.html_:

[code]

## What browsers are affected?

All browsers

## Which AMP version is affected?

All AMP versions

[2018-02-21 19:58] Syntaf commented on #13584
Looks like this can be avoided by providing `false` to the state variable. Is this sufficient in fixing the warning or would it be better to also support `""` for the disabled property? I could make a PR for this fix if needed, otherwise I can close

[2018-02-21 20:05] Syntaf commented on #13543
Is there any reason you want to use a global state variable, and not just define a state? E.g.

[code]

Then within your events, you simply set the global state:

[code]

[2018-02-21 20:08] mattkeenan commented on #13457
That is for endpoint static resources (typically images), and normally only for email providers that want to track users. There is no equivalent at the moment for dynamic look ups (which would imply dynamic state, and probably databases etc). This means that instead of simplistic immutable static system we move to a Turing complete system that requires several gigabytes of RAM, probably copious di

[2018-02-21 20:29] td234 commented on #12669
@aghassemi I am pretty sure it is not the behavior as you mention, because if I changed the placeholder in the developer console to display:none, the space was removed. Pretty sure the placeholder itself has some height assigned to it. So making is invisible it still has the height. But, I am sure you know this code far better than I do. Thanks for even considering the change!

[2018-02-21 20:47] gmajoulet opened #13586 "Stories desktop performance"
Investigate on stories desktop animations performance.

[2018-02-21 20:52] gmajoulet opened #13587 "Sound playing when blessing a story media elements"
When blessing media elements on an iOS device, we can sometimes hear them playing for a very short amount of time, even though they are not supposed to play at all.

I suspect this is caused by the blessing actions being slow on iOS: it unmutes the video, then plays it, and mutes it back. The sound probably comes from the delay between the play and mute actions.

[2018-02-21 20:54] mattkeenan commented on #13457
IMHO for those new to email development here is a list of RFCs you should be familiar with (read several times at least) if you are thinking of implementing AMP for email.

- https://tools.ietf.org/html/rfc2045
- https://tools.ietf.org/html/rfc2046
- https://tools.ietf.org/html/rfc2047
- https://tools.ietf.org/html/rfc2049
- https://tools.ietf.org/html/rfc2184
- https://tools.ietf.org/html/rfc2231

[2018-02-21 20:54] gmajoulet opened #13588 "Unmuting a story does not always work"
On iOS, unmuting a story does not always work. Clicking the unmute button does not play the sound.

Very easy to repro using an iPhone 5.

[2018-02-21 21:02] choumx commented on #13584
@Syntaf Using `false` is recommended since boolean values are recognized for boolean attrs.

[2018-02-21 21:04] choumx commented on #13543
That message is meant to be a helpful hint for figuring out the value of an expression and can be safely ignored. There are probably better ways to convey this without implying that something is broken.

[2018-02-21 21:08] philipwhiuk commented on #13457
Hmm @cramforce this doesn't make much sense to me at all - and neither am I convinced there's a good option.

Just to clarify I'm talking about `https://cdn.ampproject.org/v0.js`

I'll try and cover the cases to explain the problem.

In this example we have an email from a@companyA.com written in a tool by Company B, sent to c@companyC.com opened in email client by Company D.

1. It's always from

[2018-02-21 21:12] Syntaf commented on #13584
@choumx Do you think it would be helpful adding what the initial value of the property is in the warning? It might just be me, but I had to look around the amp-bind validation rules on github to find out why `""` didn't match `()` , before realizing that amp uses boolean values.

[2018-02-21 21:12] cramforce commented on #13457
@philipwhiuk yes, talking about the same JS file. The client (or the server depending on the setup) should replace the JS reference with a file it trusts, so that it doesn't run untrusted JS. The AMP spec only mandates that the JS reference is there, so that

- it works when loaded in a web browser for testing
- the email client can know what JS is expected

Again: All current AMP implementations

[2018-02-21 21:17] zhouyx commented on #13526
@kushal I just realized that you want to collect `timer` event. Right now we only support `visible` and `hidden` event for analytics in extension. But I don't why the reason to not support `timer`. Before that could you please [submit a feature request](https://github.com/ampproject/amphtml/issues/new) first.

After that, you can use the `useAnalyticsInSandbox(this.element, configPromise);` API. W

[2018-02-21 21:19] sryze commented on #13543
OK, thanks for the explanation. For me warnings mean "something might be broken" so I always try to get rid of them or keep their count minimal. Otherwise if some new real warning appears it becomes easy to miss.

I ended up moving variables from the global state to my own state and referencing them though that state using `setState` like @Syntaf. I didn't think of nesting parameters of `setState`

[2018-02-21 21:19] #13543 closed

[2018-02-21 21:23] dmitriid commented on #13457
@choumx

@cramforce

”The process is very well lit”.

[2018-02-21 21:23] philipwhiuk commented on #13457
Okay, so option 5? So individual clients (web / desktop / mobile app) will be making decisions on https://github.com/ampproject/amphtml/tree/master/3p inclusion then?

Thanks for clarifying the design.

[2018-02-21 21:25] alanorozco opened #13591 "Clean up `a4a-doubleclick-disable-sf`"
Flag to be enabled only in case of soft rollback of #13594.

Scheduled 2018/3/12.

[2018-02-21 21:25] cramforce commented on #13457
@philipwhiuk Right. But generally the AMP for email spec is a whitelist of AMP components that doesn't include any of the components that allow running 3P JS. But on top of that, the client is free to ensure that this remains true.

[2018-02-21 21:30] mattkeenan commented on #13457
With the server having to fetch JS components I can see an amplification DoS attack easily; <link src="http://someserver.tld/dev/random">, and a million similar Turing complete attacks.

Also, if the server downloads the JS script then it comes from the servers domain, and hence the browser now trusts this script as it comes from a trusted server domain. And this JS can now snaffle other informati

[2018-02-21 21:31] zhouyx commented on #13560
I see. In your case, there's a blank DFP ad html. But when I investigate the page, there's not ad html. AMP has no idea of the what's the ad creative looks like, whether it's a blank ad or a filled ad. Thus it doesn't apply fallback in your case.

@keithwrightbos Do you have an idea what's the correct behavior here? Thanks.

[2018-02-21 21:40] dmitriid commented on #13457
One point that we are all completely missing is this: **what is the process**?

This is somethibg that will be shoved down the thriats of 1.2 billion Gmail users whether they want it or not. So far bith @choumx and @cramforce have been dikigently avoiding the very sinple question: **what is the process behond the so-called OSS inplementation/proposal of amp4email**

It’s not like @choumx was sitti

[2018-02-21 21:47] jamesshannon commented on #13560
That's what DFP returns when there's a blank ad, in addition to the metadata. While this could be an issue with the DFP implementation (not always communicating that the returned ad is blank), it's also possible that it's passing the HTML and ALSO telling amp-ad that the ad is blank, and amp-ad isn't respecting that.

[2018-02-21 21:49] dmitriid commented on #13457
Hey, whoever deletes “offtopic comments”. There are at most 2 messages per day in the entire discuss group. Tou yourself said mailing list is low priority. Why are you so afraid of discussion?

[2018-02-21 21:53] mattkeenan commented on #13457
I've just checked the 3p page;

- How on earth are all the independent software developers out there supposed to keep up with which ad networks are added to the ampproject?
- How do postmasters get a say in who is included and who isn't? (local blacklists / whitelists?)
- What if a network gets revoked?
- Will postmasters at all email servers have to keep up with this in real time?
- How are the d

[2018-02-21 22:21] alabiaga opened #13595 "Clean up inline-styles experiment"
Please see  #11881

[2018-02-21 22:50] zhouyx commented on #13513
We thought about this approach. The problem here is we really depends on `baseElements` methods when determining whether to collapse or not. For example we use `getLayoutBox` instead of `getBoundingClientRect` for example. We can't do that with any element wrapper.

That's why I am proposing to only allowing `amp-layout` component as the ad wrapper.  I think we will only need an `attemptToCollapse

[2018-02-21 22:53] ldstevens opened #13597 "Transparency and the AMP Project"
Attempts to get answers to [simple and straightforward questions](https://github.com/ampproject/amphtml/issues/13457#issuecomment-367189418) regarding the AMP Project have been met with farcical responses so far. ("Where is the place to have this discussion?" ["I don't know"](https://github.com/ampproject/amphtml/issues/13457#issuecomment-367213905).)

I'd like to restate the questions here in the

[2018-02-21 22:56] ldstevens commented on #13457
I've created a new thread here to discuss the very serious questions that exist about the nature of the AMP Project: https://github.com/ampproject/amphtml/issues/13597.

This is as per @cramforce's [request](https://github.com/ampproject/amphtml/issues/13457#issuecomment-367216660): "If you'd like to have a meta discussion about AMP, please feel free to open a new dedicated issue for that".

Thank

[2018-02-21 23:06] cramforce commented on #13597
Lets put this on the agenda of one of the next design reviews.

[2018-02-21 23:08] ldstevens commented on #13597
What's blocking you from writing a response here?

[2018-02-21 23:13] cramforce commented on #13597
Easier to transport nuance in person. Your questions transport a lot of misunderstandings about AMP, and we should clear that up first and then based on that proceed with answers.

This is our open source project and it has an established path towards resolving tough questions through our weekly public meetings.

[2018-02-21 23:22] #13576 closed

[2018-02-21 23:22] ldstevens commented on #13597
No that's simply not good enough. Either you have answers or you don't, whether you relay them to me personally or not is neither here nor there. I'm not writing because I want an explanation in person. I'm writing as someone who cares about the web & web standards, and I'd like straightforward, considered answers to my straightforward, considered questions. You are the one driving the initiative,

[2018-02-21 23:22] cramforce commented on #13597
@simpss These meetings have minutes. There are 3 times available for daylight time across the world. Our project our rules.

[2018-02-21 23:24] cramforce commented on #13597
I think the relevant sentence from my talk at AMP Conf was "We aren't idiomatic about the implementation of AMP, we care about the UX invariants it provides". You will see us act in accordance to this in the future. The invitation to join our meeting is open.

[2018-02-21 23:26] ldstevens commented on #13597
I can't attend due to accessibility issues which I very much do not want to discuss. Please respond here in text.

I have no idea what this means.

[2018-02-21 23:28] cathyxz commented on #11575
Taking notes from office hours today, we're proposing a solution as following:
1. Propagate `srcset` and `sizes` from `<amp-img>` to `<img>`.
2. Add a new attribute `cancel-sizes-layout` (or better naming) applicable to all components but applicable primarily to `<amp-img>`. If specified, this attribute will cancel the [current layout logic we do based on `sizes`](https://github.com/ampproject/amp

[2018-02-21 23:34] cramforce commented on #13597
I'll write it up then.

On Feb 21, 2018 3:26 PM, "Luke Stevens" <notifications@github.com> wrote:

I can't attend due to accessibility issues which I very much do not want to
discuss. Please respond here in text.

I think the relevant sentence from my talk at AMP Conf was "We aren't
idiomatic about the implementation of AMP, we care about the UX invariants
it provides". You will see us act in acco

[2018-02-21 23:35] ldstevens commented on #13597
Thank you, I appreciate it.

[2018-02-22 00:16] #12375 closed

[2018-02-22 00:26] cramforce commented on #13597
I first want to acknowledge that we are learning how to run such a big open source project and so many things are being figured out. E.g. we are currently rewriting our Governance guidelines to answer many of your questions more directly.

Having said that, I think amp-stories is a great example of our process. The Intent to implement (ITI) was send here in September and it has since been worked o

[2018-02-22 00:30] cathyxz commented on #12881
Chatted with @dvoytenko about this and there are two potential solutions to investigate.
1. The child (e.g. `<amp-image-viewer>`) should register a `TapRecognizer` and on tap, pass a message to the parent who listens to the custom event (e.g. `<amp-lightbox-gallery>`).
2. Implement gesture bubbling properly for `GestureRecognizers`, and then register `TapRecognizer` on the parent.

[2018-02-22 00:35] ocdtrekkie commented on #13597
I really love that you are "in this to make the web win", but I hate that you don't realize that Google and the web are two different things, and this project has, in fact, made one the enemy of the other.

Now you are stating that Gmail is "building the product the way they want to", which suggests a whole new paradigm: That no matter how altruistic any goal of this allegedly open project is, Gma

[2018-02-22 00:37] aghassemi commented on #13513
Forcing wrapper to be `amp-layout` sounds fine to me. Reaming question is whether to be implicit ( e.g. immediate parent being `amp-layout`) or allow any ancestor with a `wrapper-id="someId"`.  I personally think implicit immediate parent being `amp-layout` is good enough to start width. Just needs some good documentation.

[2018-02-22 00:38] ocdtrekkie commented on #13597
Just because something operates over HTTPS and shows up in a browser does not make it part of the open web. I regularly have started to see people accidentally sharing AMP URLs instead of real web URLs and have had to request that they provide real web links to content they want to share.

[2018-02-22 00:49] cramforce commented on #11575
@cathyxz I think this is cool, but I have a few questions:

- This also means that we can fully rely on native `srcset`, right?
- One thing missing here is I think that we need to generate a `sizes` attribute if it is not present. This generated `sizes` attribute should select a `src` from the `srcset` based on the screen width.
- Why do we need `cancel-sizes-layout` instead of just `img-sizes`?

[2018-02-22 00:51] aghassemi commented on #11575
so we will either do `2` or `3`. Alternative name suggestions:
for (2): `sizes-behavior=<native, layout>`, `use-native-sizes` , ??
for (3): `native-sizes`

[2018-02-22 00:53] choumx commented on #13490
I believe we found that tapping is more intuitive in user testing (and avoids conflation with OS-level gestures). /cc @hongwei1990

[2018-02-22 00:53] #13490 closed

[2018-02-22 00:54] cramforce commented on #13597
@ocdtrekkie On URLs https://amphtml.wordpress.com/2018/01/09/improving-urls-for-amp-pages/amp/

[2018-02-22 00:55] choumx commented on #13488
@the-mj Sorry to hear you're having trouble. This sounds like something to raise with Yahoo -- have you tried engaging their support channels?

[2018-02-22 00:55] #13488 closed

[2018-02-22 00:56] choumx commented on #13522
What @jaygray0919 said!

[2018-02-22 00:56] #13522 closed

[2018-02-22 00:57] choumx commented on #13544
/cc @rsimha

[2018-02-22 00:59] ldstevens commented on #13597
Thank you for taking the time to write a considered response; that's very helpful in understanding the motivations of the project.

On question (1), I'm still unsure who is actually responsible for the project. I'm not sure why this is difficult to answer. For example, to whom at Google exactly does the "We" in this paragraph refer?

In any case, it's nice to have the rationale for AMP put out the

[2018-02-22 01:02] dmitriid commented on #13597
I’ll pick apart just one small part of @cramforce’s answer:

The problems:

- (4) and (5) are very small questions. For example, nowhere do they mention “extending scope to proprietary integrations”. That’s *not* what those questions ask.

- if the discussion is “happening here”, why are so many attempts made to stop the discussion then? (beginning from “I don’t know where to have these discussion

[2018-02-22 01:07] cramforce commented on #13597
@ldstevens I appreciate the concern. We obviously disagree on whether it was necessary to safe something to give it a chance whether not trying and hoping for the best. I think it is best to leave this discussion at this stage.

I any case, only further actions and not picking apart semantics counts. The next steps from us are refining governance rules, the increased "unbundling" of AMP into web s

[2018-02-22 01:09] rsimha commented on #13544
@svdoever I believe this should be fixed by #13598. Let me know what you see after syncing to `upstream/master`.

[2018-02-22 01:09] ldstevens commented on #13597
Fair enough, thanks for engaging @cramforce.

[2018-02-22 01:11] cramforce commented on #13597
I locked this conversation since it was linked to on the web and may attract off-topic attention–and is in a decent stage given achievable states :)

New issues can be filed here https://github.com/ampproject/amphtml/issues/new

[2018-02-22 01:18] dmitriid opened #13600 "AMP Email Process"
There’s still one question bothering me about AMP Email that never was answered (well, among others, but still) in #13597 :

@cramforce mentioned that the whole process around AMP Email is very well lit. And yet, the actual process is not explained anywhere.

So what is the process and how any other non-tech issues can be addressed now that the whole discussion is locked? Thank you.

[2018-02-22 01:19] simpss opened #13601 "Defining a clear '"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2018-02-22 01:20] #13601 closed

[2018-02-22 01:30] cathyxz opened #13602 "<amp-pan-zoom> master task"
### Launch blocking
- [x] Prototype demo
- [x] Finalize API
- [x] Launch Experiment
- [x] Validation
- [x] QA / Bug fixes for launch-blocking bugs/FRs
- [x] Cross browser testing / QA
- [x] Cleanup experiment and official launch

### Post Launch
- [x] Desktop UI with icons
- [ ] Accessibility review

[2018-02-22 01:43] simpss opened #13603 "Adding a clear process to Contributing guidelines for non technical discussions."
As issue https://github.com/ampproject/amphtml/issues/13457 and https://github.com/ampproject/amphtml/issues/13597 indicated, the community wants to talk about potential ethical and competitive pitfalls of the AMP project. There were some misunderstandings on where these questions are welcome and where the core contributors would respond.

I personally think this discussion should be welcome and p

[2018-02-22 03:30] aghassemi commented on #13575
@cpapazian Thanks for the great write up and interest in collaborating to design and implement improvements to `amp-list`.

`amp-list` is an important component in AMP and a clean API and easy-to-use features are critical. It may take you, me and @choumx a few iterations to get to a final proposal to run in the design review meeting for the wider community to comment on, but I hope we can move fas

[2018-02-22 04:48] the-mj commented on #13488
@choumx thank you for replying. Yes, I have contacted support and they are unhelpful. I found a similar thread in their forums which seems to be the final nail in the coffin. Link for you to check: https://help.smallbusiness.yahoo.net/s/question/0D51a00001CE5vLCAT/how-to-remove-the-lexity-script-i-am-trying-to-run-an-amp-page-but-the-script-shows-up-leading-to-validation-failure

I know there's no

[2018-02-22 08:40] joaquimsantmrf opened #13606 "null is not an object (evaluating 'sheet.ownerNode')"
This error appears in IOS.
I couldn't reproduce it but I'm tracking it and happens in style-installer.js (https://github.com/ampproject/amphtml/blob/181eb76daacea608493a2f26696116d9b18cf4dc/src/style-installer.js)
Shall we include a check in styleLoaded?
` if (!!sheet && sheet.ownerNode == style)`
 Could it be related to the poll with interval 4?

[2018-02-22 09:19] #13606 closed

[2018-02-22 09:55] QES commented on #7949
Any update to this?

[2018-02-22 13:43] GeekTNT opened #13609 "Problems with amp-facebook-page sizing and not showing the facepile"
## **Problem 1: Sizing**

Here's the sample code:
`<amp-facebook-page width="300" height="300" layout="responsive" data-href="https://www.facebook.com/FileHorse"></amp-facebook-page>` 

The code above renders like this: http://prntscr.com/ii9r8b with the width of 340px instead of 300px as set above: http://prntscr.com/ii9rte . The non-AMP version works just fine.

I have tried changing `layout="fi

[2018-02-22 15:24] kristoferbaxter commented on #13549
## AMP Script

### **What's done**
- Hydration Support
- Worker Code Generation in Main Thread
- Minifiable source

### **What's next**
- Mutation Support
- Tests for Transmission Protocol

[2018-02-22 15:31] choumx commented on #13549
## Runtime

### What's done

- Runtime validator: productionizing "light" JS validator
- Improved scoped-query-selector (better custom eslint rule)
- “Black magic”: more audits/fixes of mutating outside mutate phase
- A2A: `a2aNavigate` and cleanup
- Remove timeout for `amp-install-serviceworker`
- Minor amp-bind dev-ex fixes

### What's next

- Runtime validator: engine profiling & improvements
-

[2018-02-22 16:24] dev-drprasad commented on #7368
Hey @cvializ, I have not contributed to AMP before, but i know JS, AMP. can i take this issue ?

[2018-02-22 16:59] inidaname commented on #13357
Hello
I will like to take this up if it still open

[2018-02-22 17:06] choumx commented on #13600
You're welcome to have a meta discussion about AMPHTML email in this issue, or in the mailing list thread I referenced in the I2I: https://groups.google.com/forum/#!topic/amphtml-discuss/VpUpX1mo-gY

We recommend having nuanced discourse in our [weekly meeting](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md). This is clearly described in the issue you linked above

[2018-02-22 17:14] choumx commented on #13603
Sounds reasonable, I think we can spell this out more clearly. Related: https://github.com/ampproject/amphtml/issues/13600#issuecomment-367749998

/cc @mrjoro

[2018-02-22 17:17] choumx commented on #13595
Nit: Let's call this experiment `inline-styles`.

[2018-02-22 17:19] choumx commented on #13524
FYI `amp-error-reporting.appspot.com/r` is our error endpoint, so any requests sent there are working as intended.

/cc @lannka

[2018-02-22 17:23] juanchaur1 commented on #13524
Correct, but shouldn't it go to the specific url if specified?
Let's say we have
[code]

[2018-02-22 17:23] mrjoro commented on #13603
Makes sense to me; I'll take a stab at this.

[2018-02-22 17:28] choumx commented on #13452
Thanks for creating that codepen. Not obvious to me at first glance what's wrong -- will investigate.

[2018-02-22 17:55] aghassemi commented on #13549
## UI

### **What's done**
- :feet: `amp-lightbox-gallery` **_experimentally_** available. [Docs](https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox-gallery/amp-lightbox-gallery.md) -  [Demo](http://amphtml-nightly.herokuapp.com/test/manual/article-with-lightbox-2.0-gallery.amp.html) - [AmpByExample Tutorial](https://ampbyexample.com/components/amp-lightbox-gallery/)
- :new:

[2018-02-22 18:09] dmitriid commented on #13600
@choumx

Please stop with the mailing list. _It's dead_. There are, on average, 2 messages in that mailing list. It has been clearly stated that GitHub issues is _the preferred_ way to discuss things.

The weekly meeting is a _design meeting_. Where people discuss technical implementations. As evidenced by #13457, this issue and #13603, no one knows what _the actual process_ really is. All public

[2018-02-22 18:10] alabiaga commented on #13595
Done. Thanks

[2018-02-22 18:11] dmitriid commented on #13600
As a follow-up question: would you be willing to provide such a document with answers to questions raised in #13597?

[2018-02-22 18:16] #13096 closed

[2018-02-22 18:30] aghassemi commented on #13609
/to @nainar

[2018-02-22 18:33] cramforce commented on #13600
@dmitriid I know it is unsatisfactory, but this is the place to discuss the AMP implementation. I understand it is an unsatisfactory answer given your expectation, but it is the answer. I appreciate the process input on how AMP introduces new feature, but it is off-topic here. We have had good experiences with it, but will revisit based on this experiences. We will try to find a venue to discuss w

[2018-02-22 18:34] aghassemi commented on #13581
b/73733180

[2018-02-22 18:36] lannka commented on #13086
I want to talk about AMP template ads. I2I is coming. Will update here.

[2018-02-22 18:41] dmitriid commented on #13600
@cramforce

Once again this is contradictory. See intro to  #13597 and bullet points (5) and (6) there, and also https://github.com/ampproject/amphtml/issues/13597#issuecomment-367512424

Where. Is. It. *not*. offtopic? It's like talking to the wall at this point.

**If there is a "well lit" process for feedback about the idea itself, what is it?**

Thank you!

[2018-02-22 18:41] lannka commented on #13549
## Ads & Analytics

### What's done
- Ads in Story publisher spec out
- amp-story-auto-ads WIP
- Template ads AdZerk POC integration done
- Fixed all ad examples on ABE

### What's next
- Have custom ad extension to support story
- amp-story-auto-ads work continued
- I2I for a generic support of AMP template ads

[2018-02-22 18:43] aghassemi commented on #13540
Not much we can do about this. It is either an issue with Kaltura itself or that particular video not being encoded properly.

@itaykinnrot

[2018-02-22 18:44] choumx commented on #13600
Seems like we disagree about what qualifies as a "process" but these lightweight reviews have worked well for us so far and we've had contributors from many different companies across different locales attend, propose features, and give feedback. As AMP matures, I can see this evolving into a more involved, multi-stage system that you may be more familiar with. In the meantime, you're welcome to g

[2018-02-22 18:46] aghassemi commented on #13531
/cc @mrsufgi @OmriKeret

[2018-02-22 18:49] aghassemi commented on #13521
/cc @ericlindley-g

[2018-02-22 18:51] aghassemi commented on #13514
@ComputerGirl Could you please file your issue on https://github.com/Automattic/amp-wp since it is Wordpress related? Unfortunately folks on this GitHub project are not familiar enough to help with Wordpress plugin issues.

Thanks!

[2018-02-22 18:51] #13514 closed

[2018-02-22 18:52] aghassemi commented on #13512
/to @lannka
/cc @jasti

[2018-02-22 18:53] aghassemi commented on #13510
/to @newmuis

[2018-02-22 18:57] aghassemi commented on #13507
If JS does not load, your page will get displayed after a 5second time out.

Unfortunately I don't thing there is a good answer to your question. If CDN is blocked, you would need to host the JS yourself which of course makes tour AMP pages invalid but you can always use AMP as simply a framework.

[2018-02-22 18:57] #13507 closed

[2018-02-22 18:58] aghassemi commented on #13506
Correct, parent must be `relative` or `absolute`
/to @bpaduch

[2018-02-22 19:00] choumx commented on #13528
Thanks for reporting this. Looks like function names are problematic for IE11: http://www.ecma-international.org/ecma-262/6.0/#sec-setfunctionname

[2018-02-22 19:01] aghassemi commented on #13508
@omarreiss If you like to use AMP simply as a JS framework and not get into AMP cache, you can simply omit the :zap: in `<html>` to make your page invalid AMP.

[2018-02-22 19:01] newmuis opened #13612 "Cannot bypass amp-story experiment screen for file:// URLs"
We show an experiment screen when users arrive at a story from a domain that they've not yet enabled the experiment for:

![screen shot 2017-10-30 at 4 43 12 pm](https://user-images.githubusercontent.com/1651960/36558325-af82132c-17d8-11e8-9243-0c60e363f68a.png)

Once the user clicks the "Enable" button, we set a cookie to enable Stories for that domain.  However, cookies are not respected for fil

[2018-02-22 19:03] choumx commented on #13452
Ah, the problem is `offerPassesFilter` is silently ignored since it exceeds the maximum expression size. The errors should be forwarded to the user -- I'll fix that.

Note that the expression size calculation includes the size of referenced macros.

[2018-02-22 19:05] aghassemi commented on #13492
One issue to keep in mind is that iOS has hardware limit (anywhere between 4-16) on number of videos it can autoplay (this is due to decoding on hardware) So a GIF heavy page can quickly run into autoplay not working. There are workarounds for this but we don't have them in AMP yet (we do have them in AMP Story through complicated use of a MediaPool)

[2018-02-22 19:06] aghassemi commented on #13491
/to @cvializ

[2018-02-22 19:12] aghassemi commented on #13482
Hi @bizimunda

The issue is that you are using `webp` images which Firefox does not support. Using `webp` is great but you would need a `fallback` for Firefox and other browsers that don't support `webp`.

Here is example of how to use `webp` with a `fallback`: https://www.ampproject.org/docs/reference/components/amp-img#example:-specifying-a-fallback-image

Hope this resolves your issue.

[2018-02-22 19:12] #13482 closed

[2018-02-22 19:14] cathyxz commented on #13357
Yay! @inidaname feel free to take this up by all means. Also feel free to ping me on slack (czhu) if you have questions. =)

[2018-02-22 19:18] cathyxz commented on #13420
Closed by #13578

[2018-02-22 19:18] #13420 closed

[2018-02-22 19:19] powdercloud commented on #13026
Yeah this is done. I just confirmed by looking at https://cdn.ampproject.org/v0/validator.js and verifying that the whole thing is wrapped into a javascript scope with the usual pattern. Please reopen / complain if you see further issues.

[2018-02-22 19:19] #13026 closed

[2018-02-22 19:19] cathyxz commented on #13332
@wudizhuzhuxia this was actually done in https://github.com/ampproject/amphtml/issues/13420 via #13578, so you should be unblocked to fix this issue with

[code]

when that PR gets to prod.  Happy CNY! =)

[2018-02-22 19:22] newmuis commented on #13510
Hi @TristanTheKnightAway, this appears to be working for me.  Just to clarify, are you clicking the arrow button in the UI, or pressing the arrow key on your keyboard?

[2018-02-22 19:28] powdercloud commented on #13572
There are three choices.
(1) Just edit the English text in validator-main.protoascii. This will change it for the Javascript validator, e.g. in the console and in validator.ampproject.org.
(2) Introduce new error codes and switch to them. This will trigger new translations, so it'll also be fixed for French / German / ... in the Search Console. But we use the error codes in a fair number of places

[2018-02-22 19:30] dmitriid commented on #13600
Of course. Everyone disagrees with you, as evidenced by the discussions you ended up calling "off-topic" and locking.

Because basically *the only* semblance of a process is the "Intent to implement" [which is](https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md#contributing-features): "Here's a bunch of features we have, we'll not even have a meaningful discussion on whether or not

[2018-02-22 19:31] choumx commented on #13427
It looks like that page is no longer AMP. ☹️ I remember another developer had issues with line breaks/whitespace in the boilerplate. Try copy-pasting the boilerplate directly from the minimal AMP doc on validator.ampproject.org.

Please reopen this issue if you're still having problems. Hope this helps!

[2018-02-22 19:31] #13427 closed

[2018-02-22 19:34] powdercloud commented on #10854
Sorry I've been sitting on this for a while. However I think this issue is fixed with release 1.0.23 (https://www.npmjs.com/package/amphtml-validator) The fix was to get rid of the magic which was distinguishing between node and nodejs binary, which means we don't need a postinstall any more: https://github.com/ampproject/amphtml/pull/13536. Please reopen if you see further issues and thanks much

[2018-02-22 19:34] #10854 closed

[2018-02-22 19:42] aghassemi commented on #13547
/to @zhouyx

[2018-02-22 19:43] snlraju commented on #13457
@jpettitt: reg. "amp-list allows you to generate dynamic content populated from a json endpoint" - does this happen on load of the email or on user interaction?

@choumx: one of the requirements here seems to be "Preserves users’ privacy expectations of email e.g. network requests are anonymous". But in the Pinterest demo - how is the user able to pin to his boards? I don't see amp-access whitelis

[2018-02-22 19:48] choumx commented on #13429
Looks like the long expression is in the following macros:

[code]

The submit button is an `<a [href]="dynamicURL()">`. Instead of using an `<a>` tag with a dynamic `href`, can you use `amp-form` instead with `AMP-Redirect-To` to navigate?

[2018-02-22 19:51] choumx commented on #13429
Some references:
https://www.ampproject.org/docs/reference/components/amp-form
https://ampbyexample.com/samples_templates/product_page/

Please reopen if this won't work for your use case.

[2018-02-22 19:51] #13429 closed

[2018-02-22 19:52] choumx commented on #11434
@gtonysam Suggested an alternate implementation here: https://github.com/ampproject/amphtml/issues/13429#issuecomment-367798919

[2018-02-22 19:53] cathyxz commented on #12724
@mazuk6 I think what will actually solve this issue is solving https://github.com/ampproject/amphtml/issues/11575. For both the current `<amp-image-lightbox>` and as designed for `<amp-lightbox-gallery>`, we will use `srcset` to upgrade the image to its desired resolution in lightbox mode depending on the zoom scale. Basically what you should do is just provide a `srcset` that includes a low-res i

[2018-02-22 19:53] #12724 closed

[2018-02-22 19:58] aghassemi commented on #13540
Closing the issue since it is not something we can fix. @itaykinnrot could you please follow up internally with Kaltura team?

[2018-02-22 19:58] #13540 closed

[2018-02-22 19:59] aghassemi commented on #13537
Closing since we can not fix it ourselves. @pablos1 could you please follow up with jwplayer team?

[2018-02-22 19:59] #13537 closed

[2018-02-22 20:05] aghassemi commented on #13508
Closing the issue, please feel free to reopen if previous answer is not satisfactory.

[2018-02-22 20:05] #13508 closed

[2018-02-22 20:06] cramforce commented on #13457
@snlraju When to run `amp-list` requests is up to the email client. Could be

- on receive (immutable)
- on first open (immutable, fresher)
- on every open (non-immutable, always fresh)

For privacy: My understanding that the current scheme can just make requests based on information that can be encoded in the URL. If this uses "secret URLs" it would certainly require that forwarding the email str

[2018-02-22 20:17] cramforce commented on #13572
I think (1) is the way to go for now.

On Thu, Feb 22, 2018 at 11:28 AM, Johannes Henkel <notifications@github.com>
wrote:

[2018-02-22 20:25] adelinamart commented on #3835
@sebastianbenz is this needed? Thanks.

[2018-02-22 20:26] adelinamart commented on #4508
@bpaduch what's the situation with this one? Thanks

[2018-02-22 20:31] bpaduch commented on #4508
Low priority, no action.

[2018-02-22 20:44] ocdtrekkie commented on #13457
@cramforce That's a huge security issue. If any mail client didn't know how to properly strip the AMP component out of a message it was forwarding, it would grant a lot of potentially scary rights to the recipient.

In the aforementioned G+ post example, someone with a regular old email client might get an email, forward it to someone because the content was interesting, and then that person could

[2018-02-22 20:49] bpaduch commented on #13506
will look @ in: Q1/Q2

[2018-02-22 20:49] cramforce commented on #13457
@ocdtrekkie Totally agree that the forwarding behavior needs to be nailed down.

In a way this problem exists today (I can include a secret image URL that shouldn't be forwarded) and senders just have to be aware. The case of secret links is similar as well.

I've heard people considering adding an identity layer and saying: Until that exists, don't put stuff in email that people shouldn't forward

[2018-02-22 20:50] bpaduch commented on #12675
will look @ in: Q1/Q2

[2018-02-22 20:50] bpaduch commented on #12621
will look @ in: Q1/Q2

[2018-02-22 20:50] bpaduch commented on #12513
will look @ in: Q1/Q2

[2018-02-22 20:51] bpaduch commented on #12487
investigating; will look @ in: Q1/Q2

[2018-02-22 20:51] bpaduch commented on #1353
will look @ in: Q2

[2018-02-22 20:51] bpaduch commented on #4508
will look @ in: Q1/Q2

[2018-02-22 20:52] bpaduch commented on #5866
will look @ in: Q2

[2018-02-22 20:53] bpaduch commented on #9471
will look @ in: Q2

[2018-02-22 20:53] bpaduch commented on #11408
will look @ in: Q2

[2018-02-22 20:54] aghassemi commented on #6737
Implemented by #13364

[2018-02-22 20:54] #6737 closed

[2018-02-22 20:55] kienstra commented on #13026
**Thank You**

Hi @powdercloud and @Gregable,
Thanks a lot for fixing this. As you mentioned, [validator.js](https://cdn.ampproject.org/v0/validator.js) is wrapped in a function, and functions like `wp` aren't leaked.

[2018-02-22 20:57] aghassemi commented on #11284
Bootstrap's CSS is simply too large for AMP's 50k limit. Please see ampstart.com for our recommendation of a CSS framework (built based on `basscss` which is much lighter than bootstrap)

[2018-02-22 20:57] #11284 closed

[2018-02-22 20:59] aghassemi commented on #10844
accordion now has toggle action and also supports expand-one-at a time feature.
#11358 for expand/collapse animation.

[2018-02-22 20:59] #10844 closed

[2018-02-22 21:01] ocdtrekkie commented on #13457
I know in the case of like, Amazon, they'll let you see some basic stuff on say, the link in a shipping email, but to get into the full tracking history, you need to sign in on the site, once you get there. That step is gone if you have embedded dynamic content.

The only place I've seen really true one-click secret URLs widespread is probably unsubscribe links. Those are actionable URLs that ofte

[2018-02-22 21:02] lannka commented on #13288
@jridgewell any update for this?

[2018-02-22 21:03] mattkeenan commented on #13457
This is a half technical / half policy question, but it affects people developing AMP4Email, is there or will there be a reference implementation of the AMP cache (including all the validation steps)? The reason I ask is so that people writing content or clients will have something to test against? If there is / will be, will it be open source like the rest of AMP?

[2018-02-22 21:06] mattkeenan commented on #13457
@ocdtrekkie one way that the stripping could be done is to have a tag attribute, say for example class="noforward", class="noreply", class="noforward noreply nobulk", etc. This system would of course assume the the author of said content knows how to properly decide what needs to be secure.

[2018-02-22 21:07] dmitriid commented on #13457
It means that no dynamic content is safe. Otherwise you will end up in a complicated system of heuristics and relying on people to properly structure their email.

[2018-02-22 21:11] lannka commented on #12645
@danielrozenberg to take a look

[2018-02-22 21:13] ocdtrekkie commented on #13457
@mattkeenan I think if someone's going to design an email with secret URLs, it's fair to burden them with flagging how safe it is for email clients to forward it. If an email author allows secret content to be forwarded because they didn't flag it correctly, that's their security issue. Such a feature would be quite useful.

But the biggest question is how non-AMP4Email clients will behave. The AM

[2018-02-22 21:17] cramforce commented on #13457
I get dozens of emails with links shared from Google Docs or Google Photos that are "editable for everybody with the link" per day. Forwarding them can be OK or super bad.

@mattkeenan https://github.com/ampproject/amphtml/tree/master/validator has an open source implementation of the validator. It may need to be extended to support email validation, but that should be a simple change. The rules f

[2018-02-22 21:33] ocdtrekkie commented on #13457
@dmitriid I definitely still lean on the statement that dynamic content in email is a bad place to be, and that Google should probably quit while they're behind. But at the very least, we can have a robust discussion about what risks we open up.

@cramforce Ah, I rarely ever hand out document editing rights via a link, usually I share directly to people's accounts. But again, I think that's a secr

[2018-02-22 21:37] aghassemi opened #13619 "amp-twitter: If tweet does not load, we do not resize for the placeholder."
given `amp-twitter` always resizes when it loads, in cases that it does not (e.g. deleted tweet) we should the placeholder but we do not resize. Given most of the time the placeholder is the quote of the tweet, not resizing causes overflows and cut-offs.

We should resize `amp-twitter` regardless of whether it loads or not since that is the behaviour of it that page authors rely on.

[2018-02-22 21:39] aghassemi commented on #13619
/cc @jpettitt

[2018-02-22 21:41] sebastianbenz commented on #3835
Yes. This is still a problem.
Adelina <notifications@github.com> schrieb am Do. 22. Feb. 2018 um 21:25:

[2018-02-22 21:44] aghassemi commented on #8553
Closed by https://github.com/ampproject/amphtml/pull/13290

[2018-02-22 21:44] #8553 closed

[2018-02-22 21:45] aghassemi commented on #9043
Assigning to @ericlindley-g until it gets prioritized

[2018-02-22 21:54] newmuis opened #13621 "amp-story uses CSS.supports, which is unsupported by IE"
https://github.com/ampproject/amphtml/blob/e9c21493f2d80549cb81c6278d50da703c273f2b/extensions/amp-story/0.1/amp-story.js#L1513-L1515

[2018-02-22 22:01] zhouyx commented on #12345
@renebaudisch I tried searching for "bild der frau coupons" on Google, and visiting the page directly. I couldn't reproduce the bug after like 20 times. Could you double check? Thanks!