[2017-02-07 18:31] jasti commented on #5541
Think this launched and can be closed. Pleas reopen if that's not the case.

[2017-02-07 18:31] #5541 closed

[2017-02-07 18:31] adelinamart commented on #4225
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 18:31] #4225 closed

[2017-02-07 18:33] unitydynamics commented on #5888
As general good UX practice it's natural to want to show the users that something new is appearing on the page without navigation to another page.  From drop down menus to drop down sections it's something that could be useful.  I understand AMP is focused on performance but I thought that certain transforms were performant.

[2017-02-07 18:39] adelinamart commented on #4221
Is this still needed?

[2017-02-07 18:41] dvoytenko commented on #7355
Pinch-zoom is available in both Android and iOS. Could you please clarify what you mean by broken?

If scrollLeft is 0 - we can go ahead and set it as a const.

[2017-02-07 18:41] adelinamart commented on #2673
@rudygalfi who will be the best person to answer here

[2017-02-07 18:42] jasti commented on #7395
@cramforce  The thing I learned was that even the "house ads" are configured via the adserver. So no configuration on the amp-ad itself.
We'll of course provide an opt out if we hear differently.

[2017-02-07 18:42] dvoytenko commented on #7392
@camelburrito Let's check what those tags are and if they are documented. If so - I don't see a reason not to whitelist them.

[2017-02-07 18:42] adelinamart commented on #4207
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 18:42] #4207 closed

[2017-02-07 18:42] adelinamart commented on #4195
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 18:42] #4195 closed

[2017-02-07 18:43] adelinamart commented on #4191
What's the latest status here? Thanks.

[2017-02-07 18:44] adelinamart commented on #4171
What's still pending here? Thanks

[2017-02-07 18:44] dvoytenko commented on #7393
We don't allow `<select>` outside forms right now? If so, we should just whitelist, as we do `button` already.

[2017-02-07 18:44] dvoytenko commented on #7393
/to @Gregable to confirm, whitelist.

[2017-02-07 18:44] adelinamart commented on #4167
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 18:44] #4167 closed

[2017-02-07 18:45] adelinamart commented on #4155
What's the latest status here? Thanks

[2017-02-07 18:47] camelburrito commented on #7393
@dvoytenko - updated the list above, pl take a look again

[2017-02-07 18:47] adelinamart commented on #4146
Do we still need to work on this one?

[2017-02-07 18:48] adelinamart commented on #4123
Seems issue is fixed. Feel free to open a new one if there are still any problems. Thanks.

[2017-02-07 18:48] #4123 closed

[2017-02-07 18:48] adelinamart commented on #4119
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 18:48] #4119 closed

[2017-02-07 18:50] erwinmombay opened #7402 "null is not an object (evaluating 'c.sentinel')"
http_user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 10_2 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) GSA/22.0.141836113 Mobile/14C92 Safari/600.1.4"
   }

exception: "b@https://cdn.ampproject.org/rtv/001486166232176/v0/amp-iframe-0.1.js:5:269"

sample page: https://cdn.ampproject.org/c/www.cbssports.com/nfl/news/watch-patriots-victory-parade-with-live-tv-updates-pictures-from-wild-cele

[2017-02-07 18:51] erwinmombay commented on #7402
@bradfrizzell you familiar with this?

[2017-02-07 18:54] adelinamart commented on #4113
Do we still need to work on this?

[2017-02-07 18:57] #4221 closed

[2017-02-07 18:57] adelinamart commented on #4104
Is this completed? Thanks.

[2017-02-07 18:57] cramforce commented on #4146
yeah

[2017-02-07 19:00] camelburrito commented on #7365
@zhouyx - can you please take a look and fix this.

[2017-02-07 19:04] #465 closed

[2017-02-07 19:05] zhouyx commented on #7365
will take a look

[2017-02-07 19:07] dvoytenko commented on #7402
@bradfrizzell It looks like this is originating from your code. Here's what I found so far.

The error is when accessing [`data.sentinel`](https://github.com/ampproject/amphtml/blob/6a97771cd66ad7706bafe4aaf777d4ee8a5372ea/src/iframe-helper.js#L205)

The reason is that `data` can be null. It's incorrectly force-casted to non-nullable value in [here](https://github.com/ampproject/amphtml/blob/6a977

[2017-02-07 19:08] dvoytenko commented on #7402
/cc @erwinmombay @cramforce

[2017-02-07 19:18] Gregable commented on #7393
The tags we disallow outside forms are:

- select
- datalist
- option
- textarea

`input` is already allowed outside.

[2017-02-07 19:18] Gregable commented on #7393
Should all of those be allowed anywhere in the body?

[2017-02-07 19:19] Gregable commented on #4155
@cramforce , is this still an issue you think needs work, or are we in good shape?

[2017-02-07 19:23] erwinmombay commented on #4155
this should be good with the gulp adapter and everything imo

[2017-02-07 19:23] Gregable commented on #7392
We whitelisted tags using this list in the past (https://developer.mozilla.org/en-US/docs/Web/SVG/Element). The ones flagged here were not on that list on the last pass, so I presume they are new. Looking at compatibility lists, it's unclear if they are supported by all mobile browsers currently, though I don't have a good way to test. Would browser compatibility be a criteria for supporting?

[2017-02-07 19:23] camelburrito commented on #7392
Here is the list - and details

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feOffset

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/fegaussianblur

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/fecomposite

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/fecolormatrix

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/femerge

https://developer.mo

[2017-02-07 19:24] mkhatib commented on #5450
No closing

[2017-02-07 19:24] #5450 closed

[2017-02-07 19:25] mkhatib commented on #7393
@Gregable I believe so, I can't find a reason why not to.

[2017-02-07 19:27] camelburrito commented on #7393
also `<input type='range'>` (anything that can be used for something else on the page)

[2017-02-07 19:28] dlras2 opened #7404 "Gulp Validator plugin failing to install."
I am unable to install the `gulp-amphtml-validator` plugin into my node project.

## How do we reproduce the issue?

Environment: Windows 10.0.14393, Node 7.5.0 (latest), npm 4.1.2 (latest)

- Make a new empty folder and navigate to it with an administrator command prompt
- `npm init` (accept all defaults)
- `npm i --save gulp-amphtml-validator`

Resulting error:

	C:\Users\drasmussen\Documents\te

[2017-02-07 19:36] mkhatib commented on #6953
Closing this. We decided to go with viewer integration solution.

[2017-02-07 19:38] erwinmombay commented on #7400
not sure how to gauge priority on this @dvoytenko

[2017-02-07 19:39] #6589 closed

[2017-02-07 19:40] sebastianbenz commented on #7404
Does a standalone amphtml-validator installation succeed (`npm -i amphtml-validator --save`)? Can you run the [amp validator via the CLI](https://www.ampproject.org/docs/guides/validate#command-line-tool).

[2017-02-07 19:41] mkhatib commented on #6204
Closing this. Most tests should probably move to `describes`.

[2017-02-07 19:41] #6204 closed

[2017-02-07 19:44] #5879 closed

[2017-02-07 19:45] dlras2 commented on #7404
Yes to both:

	C:\Users\drasmussen\Documents\test-app>npm i --save amphtml-validator

	postinstall-windows.js: No amphtml-validator shim found to modify.
	test-app@1.0.0 C:\Users\drasmussen\Documents\test-app
	`-- amphtml-validator@1.0.18
	  +-- colors@1.1.2
	  +-- commander@2.9.0
	  | `-- graceful-readlink@1.0.1
	  `-- promise@7.1.1
		`-- asap@2.0.5

	C:\Users\drasmussen\Documents\test-app>node n

[2017-02-07 19:50] muxin commented on #7400
When the doc is not iframed and in ios, the `getViewportType` returns `NATURAL`. ([code](https://github.com/ampproject/amphtml/blob/master/src/service/viewport-impl.js#L1779)). Is this desired?

[2017-02-07 20:05] sebastianbenz commented on #7404
Looks like a bug in an older amphtml-validator version. Can your try:

`npm i --save amphtml-validator gulp-amphtml-validator`?

Will update the dependency.

[2017-02-07 20:10] dvoytenko commented on #7399
`myAmpState.foo` sounds good. An alternative to `AMP.setState()` we could expand grammar with `{}` like this:

[code]

That way we could keep state and actions in separate grammars since functional calls normally not the same as state manipulation.

RE: grammar: by all means. The only question is the size. Last time I tried, I got 9K minified JavaScript and decided to go down the manual path. With

[2017-02-07 20:10] dlras2 commented on #7404
I believe `gulp-amphtml-validator` just needs its dependency updated (perhaps to a looser version so it updates with the `amphtml-validator` itself?)

It appears it is trying to install both the old and new `amphtml-validator` versions, and failing on the second:

	C:\Users\drasmussen\Documents\test-app>npm uninstall amphtml-validator
	- asap@2.0.5 node_modules\asap
	- colors@1.1.2 node_modules\co

[2017-02-07 20:19] Gregable commented on #7392
We always whitelist tags. This is so that a new browser change cannot cause harm before we become aware and blacklist it.

[2017-02-07 20:19] #7404 closed

[2017-02-07 20:20] #7002 closed

[2017-02-07 20:21] sebastianbenz commented on #7404
Published the new version: https://www.npmjs.com/package/gulp-amphtml-validator

[2017-02-07 20:27] mrjoro commented on #7285
Fixed in PR #7385.

[2017-02-07 20:27] #7285 closed

[2017-02-07 20:27] adelinamart commented on #4073
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 20:30] ericlindley-g commented on #4073
Re-opening :)

[2017-02-07 20:30] Gregable commented on #7396
The validation error you are seeing is pointing out that you have not set a valid width on your `<amp-ad>` tags. The documentation on AMP-AD is here: https://www.ampproject.org/docs/reference/components/amp-ad

You can play with these issues more quickly in the AMP Validator than Search Console if it helps. See
https://validator.ampproject.org/#url=https%3A%2F%2Ftechnosamigos.com%2Fproduct%2Fhuawe

[2017-02-07 20:30] #7396 closed

[2017-02-07 20:32] Gregable commented on #7394
Thanks for the report. I'm not sure it's a P2. The opposite would be (javascript not reporting an issue that cache doesn't like).

[2017-02-07 20:32] adelinamart commented on #4087
Is this still needed?

[2017-02-07 20:36] camelburrito commented on #6931
@choumx - does bind take care of this ?

[2017-02-07 20:38] adelinamart commented on #517
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 20:38] #517 closed

[2017-02-07 20:38] adelinamart commented on #569
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 20:38] adelinamart commented on #599
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 20:38] #599 closed

[2017-02-07 20:42] adelinamart commented on #824
Do you still want to work on this, because is very old. Thanks.

[2017-02-07 20:42] muxin commented on #7355
I couldn't zoom in android. In ios 10, just open any search viewer, after trying zooming in and swiping left and right, the page would be totally broken.

![img_9142](https://cloud.githubusercontent.com/assets/3897214/22710020/a72c536e-ed30-11e6-8227-28b1f0d9b8d2.PNG)

But even in that case, the `scrollLeft` is still `0`.

[2017-02-07 20:42] Gregable commented on #6452
@adelinamart I can implement, but I'm not sure if a decision has been reached. I'll assign @ericlindley-g for now.

[2017-02-07 20:43] erwinmombay commented on #824
no. lets close.

[2017-02-07 20:43] #824 closed

[2017-02-07 20:43] Gregable commented on #7338
@dknecht , is there anything more that we need to do here? Validation just blanket whitelists all attributes starting with `data-` as @honeybadgerdontcare mentions, so even though it's not listed in the rules, it's still valid.

[2017-02-07 20:45] adelinamart commented on #1446
Lat issue referenced here was closed. Anything else left to be done here? Thanks.

[2017-02-07 20:46] muxin commented on #6487
I checked gmail and facebook's modal feature, for example when opening a picture in modal, the background is set to `overflow:hidden` and not scrollable. What do you mean by "noticeable"?

[2017-02-07 20:46] Gregable commented on #7350
Thanks for the report.

[2017-02-07 20:47] adelinamart commented on #1438
@jridgewell  You are are working on this? what's the issue that refers to 'layers refactor'? Thanks

[2017-02-07 20:48] adelinamart commented on #1408
@NataliaLKB to reply here. Thanks

[2017-02-07 20:51] adelinamart commented on #1280
Are there any open questions here, or we can close this? Thanks

[2017-02-07 20:52] erwinmombay commented on #1027
yes, still blocked. closing for now

[2017-02-07 20:52] #1027 closed

[2017-02-07 20:52] erwinmombay commented on #1963
closing this, as this should be possible with `bind`

[2017-02-07 20:52] #1963 closed

[2017-02-07 20:54] jridgewell commented on #6548
Should be, it's a pretty simple change.

[2017-02-07 20:54] adelinamart commented on #1260
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 20:54] #1260 closed

[2017-02-07 20:56] #4155 closed

[2017-02-07 20:56] jridgewell commented on #6719
Could this be handled with `<amp-experiment>`?

[2017-02-07 20:57] erwinmombay commented on #6548
ill work on it this week after my on duty ends

[2017-02-07 20:58] adelinamart commented on #1252
Do we still need this? Thanks

[2017-02-07 20:59] #1408 closed

[2017-02-07 21:06] dvoytenko commented on #5934
@rudygalfi  @lannka I like `pagehidden` better, but I still feel like it's not ideal. I think what we really try to do using `hidden + visibilitySpec` is to report total visibility numbers. So, I think perhaps it'd be better to add a field `totals: true` in the `visibilitySpec`? I think that would clearly communicate the intent: "I'm interested in visibility, but I'd like to know the total duratio

[2017-02-07 21:14] powdercloud commented on #1137
@dvoytenko Yes I am still working on making client side validation cheaper. There's some progress for sure, but also there's still room; I'm trying to make it so the validator instantiates fewer objects.

[2017-02-07 21:44] adelinamart commented on #1138
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 21:44] #1138 closed

[2017-02-07 21:44] choumx commented on #6931
Technically not amp-bind but a new [`select` event](https://github.com/ampproject/amphtml/blob/master/extensions/amp-selector/0.1/amp-selector.js#L204) for amp-selector exists now. Looks like the docs need to be updated.

`<amp-selector on="select:form.submit">` should work.

[2017-02-07 21:48] jridgewell commented on #1438
https://github.com/ampproject/amphtml/issues/3434

[2017-02-07 21:48] #1438 closed

[2017-02-07 21:51] adelinamart commented on #4064
@cramforce what's the latest status on this one?Thanks.

[2017-02-07 21:53] adelinamart commented on #4017
Do we still need this?

[2017-02-07 21:53] src-code commented on #1252
@adelinamart I think so.  The substitutions I referenced above don't really help, since they're encoded and thus can't be used when setting the host portion of a url.

[2017-02-07 21:54] adelinamart commented on #1137
@powdercloud do you have a different issue opened for this/

[2017-02-07 21:56] erwinmombay commented on #4017
probably not lol

[2017-02-07 21:56] #4017 closed

[2017-02-07 21:57] choumx commented on #4017
I pikachoose this issue.

[2017-02-07 21:57] adelinamart commented on #4009
I see the last PR mentioned here was merged.
Closing this one, but if there's still work in progress, feel free to reopen. Thanks.

[2017-02-07 21:57] #4009 closed

[2017-02-07 21:57] adelinamart commented on #4005
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 21:58] adelinamart commented on #3995
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 21:58] adelinamart commented on #3989
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 21:58] #3989 closed

[2017-02-07 21:59] adelinamart commented on #3945
What's the latest status of this? is this a prioritized FR? Thanks

[2017-02-07 21:59] adelinamart commented on #3942
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 21:59] #3942 closed

[2017-02-07 22:00] adelinamart commented on #3915
I see the PR for this was closed. Feel free to reopen if there's still work in progress. Thanks.

[2017-02-07 22:00] #3915 closed

[2017-02-07 22:01] adelinamart commented on #3889
@rudygalfi do we still need this?

[2017-02-07 22:02] adelinamart commented on #3862
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-07 22:02] #3862 closed

[2017-02-07 22:03] ericlindley-g commented on #1963
Tracking the task to create an example for this in [AMP by Example](https://github.com/ampproject/amp-by-example/issues/579)

[2017-02-07 22:37] jridgewell commented on #3889
I think @mkhatib addressed this?

[2017-02-07 22:44] jasti commented on #4038
Closing because of lack of priority.

[2017-02-07 22:55] jridgewell commented on #7400
Yes. This skips all the fixed position, scroll, body reparenting hacks that we have to use when the page is embedded.

[2017-02-07 23:11] mkhatib commented on #6377
Reopening to remember to clean the launch configs in couple weeks.

[2017-02-07 23:32] mkhatib commented on #5681
Assigning this to @erwinmombay - feel free to re-assign

[2017-02-07 23:38] powdercloud commented on #1137
@adelinamart not at the moment. Since it's mostly me working on it at the moment I figured I can get away with it? :-)

[2017-02-07 23:43] #5436 closed

[2017-02-07 23:44] mkhatib commented on #5423
dupe #7405

[2017-02-07 23:44] #5423 closed

[2017-02-07 23:44] #5353 closed

[2017-02-07 23:45] mkhatib commented on #5328
Thanks @pablos1 for the response, this sounds good. Thanks for the clarification

[2017-02-07 23:45] #5328 closed

[2017-02-07 23:46] Gregable opened #7413 "Emit a Validator warning if document contains an older version of an custom element extension"
Currently the only custom element which has two version is `amp-sticky-ad` which allows either version 0.1 or 1.0.

We want validator functionality to allow for us to emit a warning if the current version is too old (0.1 in this case).

[2017-02-07 23:49] mkhatib commented on #7046
Unfortunately @dignustech. I am unable to reproduce this. Can you give more details on where you're seeing this - browser? OS? versions?

[2017-02-07 23:51] mkhatib commented on #6843
Closing this. We already have a good parts of this implemented and there are possible implementations with the current setup.

[2017-02-07 23:51] #6843 closed

[2017-02-07 23:55] Gregable opened #7414 "Report more useful line numbers for validator errors that are computed at end of document"
Currently there are several validator rules that are triggered at end of document. These include things like "the presence of tag A requires the presence of tag B" or "tag X is mandatory".

These rules currently return error messages with the line/col number pointing to the end of the AMP document, which may be technically correct, but is not as useful as possible. We would like to map these, when

[2017-02-08 00:00] adelinamart commented on #3857
Hi. Are there still any open questions here? Thanks.

[2017-02-08 00:01] #5692 closed

[2017-02-08 00:06] Gregable commented on #1377
@rudygalfi @dvoytenko @cramforce
I did a quick check and it looks like this would invalidate about 20% of docs. I presume this is not something that we want to do?

[2017-02-08 00:06] muxin opened #7416 "Test failure in test-visibility-impl"
[code]

[2017-02-08 00:09] mkhatib commented on #7416
`IntersectionObserver` was launched in Chrome 51 I believe, so it won't exist on Chrome 45.

[2017-02-08 00:11] #6931 closed

[2017-02-08 00:17] adelinamart commented on #3836
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:26] #5198 closed

[2017-02-08 00:27] lannka commented on #7416
.. Fixing it.

[2017-02-08 00:30] #4478 closed

[2017-02-08 00:32] adelinamart commented on #2224
Is there anything else needed to be done here? Thanks

[2017-02-08 00:33] adelinamart commented on #2223
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:33] #2223 closed

[2017-02-08 00:33] Gregable commented on #4663
We actually now release a canary validator to validator-canary.js which we can use for these kinds of things. When using #development=1, the canary will be loaded if you are opted into using canary runtime. We don't always release ahead of validator.js, but we can when something like this will happen.

Since the mechanism is in place, I'm going to go ahead and close.

[2017-02-08 00:33] #4663 closed

[2017-02-08 00:34] adelinamart commented on #3780
@jmadler is there anything else left to be done for this issues? Thanks

[2017-02-08 00:34] adelinamart commented on #3776
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:34] #3776 closed

[2017-02-08 00:35] adelinamart commented on #3743
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:35] #3743 closed

[2017-02-08 00:37] Gregable commented on #4726
The main place that folks run into this was the chrome extension. That has been modified to always consider cdn URLs valid, so as to minimize confusion while browsing. If folks are explicitly choosing to validate the doc on the CDN, I think that hiding the errors is a bad idea. The cache output is not intended to be valid.

Closing.

[2017-02-08 00:37] #4726 closed

[2017-02-08 00:38] adelinamart commented on #1137
@powdercloud  :) Let's have an open issues for it so we can track the work you are doing. Thanks

[2017-02-08 00:39] adelinamart commented on #3731
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:39] #3731 closed

[2017-02-08 00:39] adelinamart commented on #3718
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:39] #3718 closed

[2017-02-08 00:41] adelinamart commented on #3615
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:41] #3615 closed

[2017-02-08 00:43] zhouyx commented on #6763
I agree it is hard to not stub server in this case.
However thought the current test is integrated, it is not strictly an "integration test". (As you said: load a controlled test page, and then check the eventually behavior or DOM).
FYI: only an integration test in our integration test folder will run on saucelabs

[2017-02-08 00:44] zhouyx commented on #6763
closed by #6789

[2017-02-08 00:44] #6763 closed

[2017-02-08 00:47] sap1ens opened #7418 "${pageLoadTime} variable is not resolved after default pageview trigger"
## Short description of your issue:

`${pageLoadTime}` variable is not resolved after default pageview (`"on": "visible"`) is triggered. It's resolved later though.

Other similar variables (like `${contentLoadTime}`) are resolved fine.

## How do we reproduce the issue?

Check https://amp.mobify.net/lancome/http://www.lancome-usa.com/makeup

You'll see that one of the requests to `engagement-coll

[2017-02-08 00:48] jridgewell commented on #2224
Yes, still need changes from @mister-ben.

[2017-02-08 00:49] Gregable commented on #5637
This one slipped through the cracks.

Do you mean on a script tag, such as:
`<script async src="https://cdn.ampproject.org/v0.js" referrerpolicy=no-referrer></script>`

The W3C document (https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-delivery) doesn't suggest this is allowed:
```Via a referrerpolicy content attribute on an a, area, img, iframe, or link element.```

If you mean me

[2017-02-08 00:49] #5637 closed

[2017-02-08 00:50] adelinamart commented on #2143
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:50] #2143 closed

[2017-02-08 00:51] adelinamart commented on #2311
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:51] #2311 closed

[2017-02-08 00:51] adelinamart commented on #2349
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:51] #2349 closed

[2017-02-08 00:52] Gregable commented on #5912
There are an infinite number of functionally equivalent strings for the boilerplate. We eventually settled on allowing any amount of whitespace between parts of the string that require whitespace, and none otherwise. If you use the exact boilerplate provided in the spec, it will always work.

[2017-02-08 00:52] #5912 closed

[2017-02-08 00:52] adelinamart commented on #2531
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:52] #2531 closed

[2017-02-08 00:52] adelinamart commented on #3114
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:52] #3114 closed

[2017-02-08 00:53] adelinamart commented on #3139
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:53] #3139 closed

[2017-02-08 00:54] adelinamart commented on #3314
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:54] adelinamart commented on #3315
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:54] #3315 closed

[2017-02-08 00:54] adelinamart commented on #3568
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:54] #3568 closed

[2017-02-08 00:54] adelinamart commented on #3613
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 00:58] Gregable commented on #6123
Hm, well so `amp-iframe` and `amp-video` allow relative URLs because we'd be invalidating docs at this point. The rules actually read:

`allow_relative: true  # Will be set to false at a future date.`

So @cramforce, that's not terribly well defined.

@weeblr, we don't really want validation output to vary based on the document URL, since that can cause confusion when developing.

[2017-02-08 00:58] #5539 closed

[2017-02-08 01:00] #7416 closed

[2017-02-08 01:01] chenshay commented on #6771
https://github.com/ampproject/amphtml/pull/7173/

[2017-02-08 01:03] Gregable commented on #6603
@cramforce is correct. We don't want the validator to treat two documents which are HTML5 parse equivalent as different (one valid and the other invalid). It would be hard to do this correctly.

[2017-02-08 01:03] #6603 closed

[2017-02-08 01:04] chenshay commented on #6994
https://github.com/ampproject/amphtml/pull/7173/

[2017-02-08 01:04] Gregable commented on #7060
Allowed for stylesheets, live everywhere.

[2017-02-08 01:05] Gregable commented on #7060
Actually, I just realized that this is a request for documentation, not validation. Reassigning to @cramforce to see what he wants to do here.

[2017-02-08 01:11] #6579 closed

[2017-02-08 01:13] powdercloud commented on #6433
If you run Ubuntu 14.04, looks like v0.10 is the default install. So I think this should be supported until 14.04 is truly obsolete or until it's been upgraded or very few people use that version, to make the command line validator work fine out of the box. I looked here: http://packages.ubuntu.com/trusty/nodejs
I'll close this for simplicity, but plese feel free if there's grounds for disagreemen

[2017-02-08 01:13] #6433 closed

[2017-02-08 01:14] Gregable commented on #7392
Let me know what you think about my concerns of compatibility. If you want all of these, I'll get them implemented.

[2017-02-08 01:20] Gregable commented on #7338
Let's add validation for it, same rules as src (except optional of course)

[2017-02-08 01:45] adelinamart commented on #4736
@jridgewell is this still an P0?

[2017-02-08 02:09] powdercloud opened #7420 "Optimize the runtime performance of the validator."
This will serve as a summary issue for ongoing work to improve the runtime performance of the Javascript validator - that is, the (minified) code which we build from validator/engine/*.js. The objective is to make the validator tolerable in client-side applications, that is, in the browser on a user's cell phone; but there may also be benefits to better performance for server side applications. So

[2017-02-08 02:11] powdercloud commented on #1137
@adelinamart https://github.com/ampproject/amphtml/issues/7420 OK :-)

[2017-02-08 02:12] adelinamart commented on #3835
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:12] adelinamart commented on #3554
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:12] #3554 closed

[2017-02-08 02:27] adelinamart commented on #1796
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:27] #1796 closed

[2017-02-08 02:29] adelinamart commented on #2458
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:29] #2458 closed

[2017-02-08 02:30] adelinamart commented on #2394
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:30] #2394 closed

[2017-02-08 02:33] adelinamart commented on #2301
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:33] #2301 closed

[2017-02-08 02:34] adelinamart commented on #2250
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:34] #2250 closed

[2017-02-08 02:36] adelinamart commented on #1936
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-08 02:36] #1936 closed

[2017-02-08 03:30] dknecht commented on #4521
Any thoughts if we still want to do this?

[2017-02-08 03:36] lannka commented on #7366
@tlong2 do you want to take a look?

[2017-02-08 03:49] lannka commented on #7388
@JamesIves I don't fully understand what is misleading here.
We have a couple of AMP elements (`amp-img`, `amp-ad`, `amp-video`) allow user to define a `fallback` as placeholder in case of load failure, and `amp-notsupported` is added in that case.

@dvoytenko any reason why it's named `amp-notsupported` instead of `i-amphtml-fallback-displayed`, which seems to be more consistent with other CSS cl

[2017-02-08 04:05] #4064 closed

[2017-02-08 04:07] cramforce commented on #4017
@erwinmombay Can you write a GitHub bot, though, that closes GitHub issues when apps fall below a certain app store rank?

[2017-02-08 04:11] #3780 closed

[2017-02-08 04:11] winstonma commented on #1280
@adelinamart Now I understand that `amp-img` chooses image based on the screen width, but not screen width **and** view width. I now understands more on the `amp-img` but still supporting view width would be very useful. Could I request view width support on `amp-img`?

[2017-02-08 04:14] cramforce commented on #3613
Obsolete

[2017-02-08 04:14] #3613 closed

[2017-02-08 04:15] jpettitt opened #7422 "Google CDN validator accepts invalid unicode characters in data- attributes."
If a code snippet gets pasted from a pdf file the '`-`' characters, get mangled to unicode `e2 80 90.` If this makes it to a production web site the Google AMP CDN will accept the invalid attribute (the Cloudflare CDN and JS validator will correctly reject it).

I just noticed in in an `amp-ad` tag  `<amp-ad data-ix-id= ...` it may show up elsewhere.

tagging @dknecht

[2017-02-08 04:19] cramforce commented on #6123
@Gregable Do we allow protocol relative or true relative URLs?

Both `amp-iframe` and `amp-video` have runtime asserts that the effective URL is secure. `amp-form` is the same. It is probably OK to have them all validate the same inputs in that case.

[2017-02-08 04:20] cramforce commented on #7060
We don't really document how to include these fonts. Happy to add a link to a downstream provider who does support it where applicable.

[2017-02-08 04:20] #7060 closed

[2017-02-08 04:23] cramforce commented on #3835
I suppose we can close in favor of #3861

[2017-02-08 04:38] cramforce commented on #7422
CC @Gregable

[2017-02-08 05:11] dvoytenko opened #7423 "Intent to implement: AMP Hero Element"
AMP Hero markup would allow a page author to specify which elements are most important on the page. This specification will be used by analytics and other components.

For details see https://docs.google.com/document/d/1RmQl9B_dzk481R9SR-tsOVV1tO2piDLgSZ7yuIZGBnw/edit#

[2017-02-08 05:13] dvoytenko opened #7424 "Intent to implement: sprite animations component (amp-sprite-anim)"
The `amp-sprite-anim` can take a set of image fragments from one or more physical images and animate them in sequence. Part of a wider animations package.

For details see:
https://docs.google.com/document/d/1_x8_NONn4ecaUDzuo9e02xSpe4paGHMkinAdqCe2c1g/edit?usp=sharing

[2017-02-08 06:00] sebastianbenz commented on #3835
@cramforce #3861 describes a related but different problem. Both require different fixes.

[2017-02-08 06:37] ericlindley-g commented on #2019
@camelburrito  — is this issue obsolete after your carousel native scrolling work?

[2017-02-08 06:41] ericlindley-g commented on #3453
Closing this issue, as I think the main question here is addressed. But please feel free to re-open it or start another if there are any outstanding issues or feature requests to tackle. Thanks!

[2017-02-08 06:41] #3453 closed

[2017-02-08 09:31] derekcecillewis commented on #6057
Wow, I was not aware of the Flexbox order property. I'm surprised this was not mentioned when we were drafting the design doc. Great idea! Although I hypothesize you are correct in that Flexbox ordering is more performant, quite a bit of your prototype's logic is very different than mine. Unless you feel the ~10ms time difference is large enough to come to a conclusion, maybe a proper experiment i

[2017-02-08 09:36] operezes opened #7426 "I2I: New ad network: sunmedia"
Hi Team
We are interested to integrate our ad plugin (sunmedia) in AMP

——
Example:
http://static.addevweb.com/SMVpaidCreatives/amp/examples/ads.amp.max.html
You have to scroll until you watch the ad in the middle of text block
——
I have signed CLA doc  and in GitHub I am using same email account.

We already have done following pull request:
New ad extension to show ads in AMP #7367

If you need

[2017-02-08 09:58] weeblr commented on #6123
Hi

@Gregable Understand, however if you simply block anything that's not explicitely https (ie https://example.com/my-page.html), you will end up blocking forms that are posted to a perfectly valid target, fully secure ( ie posting to /my-page.hml on https://example.com)

The current situation is of course very confusing, where one can easily post a form to a non-secure origin, simply by using pr

[2017-02-08 10:03] NataliaLKB commented on #1408
@adelinamart No its fine. We have worked around it on our end.

[2017-02-08 10:04] kul3r4 commented on #7399
More than setting variables, I also noticed that inside AMP.setState it's not possible:

- Access anything declared in the amp-state.
Scenario
There are 2 amp-selector: amp-selector1 and amp-selector2. When you select 'a' from amp-selector1 you want select something on amp-selector2 based on a rule defined in the amp-state json. In a real scenario, amp-selector-1 is a color selector and amp-select

[2017-02-08 10:56] tlong2 commented on #7366
The problem seems to be that the tests are inserting real <amp-ad> elements. When running gulp test, this is fine but when running an individual file's tests the amp-ad element isn't registered or something so there is an error?

Could someone explain what the different in test environment is between gult test and gulp test files=...
Or is this simply that there is leakage between tests and the ex

[2017-02-08 11:02] kul3r4 commented on #7399
@ithinkihaveacat FYI

[2017-02-08 14:59] SteffenAnders commented on #5234
@jasti @lannka

Our PR https://github.com/ampproject/amphtml/pull/7152 is merged and released, so you can activate the checkbox for adup-tech ads! :)

[2017-02-08 15:01] jfsoul commented on #4663
@Gregable That sounds great, thank you.

I wasn't able to see it being used with #development=1 on canary or at https://cdn.ampproject.org/v0/validator-canary.js.  Is it not available yet or am I missing something?

[2017-02-08 15:19] dlras2 commented on #7404
@sebastianbenz Thanks for the quick fix! This appears to be working as intended for me, now.

[2017-02-08 15:33] bpaduch commented on #485
@Gregable - Can you shed some light on this?

[2017-02-08 15:41] bpaduch commented on #1316
@cramforce - can you provide further details?

[2017-02-08 15:59] cramforce commented on #1316
We've kind of done this https://github.com/ampproject/amphtml/blob/master/examples/csp.amp.html
but don't link to it anywhere.

The doc would basically be: If you'd like to serve your AMP pages with a CSP (and you should), base the HTTP header on the meta tag in that file.

This is kind of an advanced topic, so we don't have to make it super visible.

[2017-02-08 16:03] cramforce commented on #6123
@weeblr Yes, these checks do allow protocol relative URLs. AMP documents may sometimes render as HTTP, but the very same document can also render as HTTPS (e.g. when using the Google AMP Cache). In that case the protocol relative URL resolves to HTTPS.

We made the decision that using a protocol relative URL is an expression of intent that HTTPS should work. Maybe that was wrong, but that is where

[2017-02-08 16:07] weeblr commented on #6123
@cramforce So HTTPs is not an hardcore requirement for sumitting a form, right. Fine with me, as long as this is the expected behavior and will keep being that way, for backward compatibility reasons.

[2017-02-08 16:09] dknecht commented on #1316
It would be kinda of nice if published under .well-known or somewhere that
we can just monitor for changes.

On Wed, Feb 8, 2017 at 9:59 AM, Malte Ubl <notifications@github.com> wrote:

[2017-02-08 16:27] camelburrito commented on #2019
Yes

[2017-02-08 16:27] #2019 closed

[2017-02-08 16:40] cramforce commented on #6123
I'd be fine with changing it for forms if that still can be done without breakage.

[2017-02-08 16:44] weeblr commented on #6123
@cramforce TBH, I'm not sure what's the rationale behind selecting what can be done HTTPS/only and what can't. Restricting form submission to real-HTTPS only would certainly take out the little interactivity AMP pages can have, from a web site owner standpoint.

[2017-02-08 17:00] cramforce commented on #6123
Everything on an AMP page must work on HTTPS. The exceptions for resources that are allowed on HTTP are simple: It is resources that are proxied by AMP caches. AMP Caches can't really proxy iframes and forms (and currently don't proxy video). Hence the exceptions.

[2017-02-08 17:10] adelinamart commented on #1280
@ericlindley-g is this something we can support?

[2017-02-08 17:12] #1640 closed

[2017-02-08 17:15] dvoytenko commented on #1280
@winstonma

What are "screen" and "view" widths? `srcset` selection is done based on the image's width, `sizes` selection is done based on media queries, which are mostly viewport-based (or window-based).

I'm going to close this issue for now, but feel free to re-open as needed.

[2017-02-08 17:15] #1280 closed

[2017-02-08 17:18] dvoytenko commented on #7388
I agree that naming is a bit confusing for that class and I'm ok if we change. It can't be `i-amphtml-` prefixed though since this is a public class. That also means that we should preserve it for backwards compatibility unless we strip away class-based customization in this case.

[2017-02-08 17:19] dvoytenko commented on #1796
For posterity, this issue has been fixed: loading indicator stops and fallback is displayed.

[2017-02-08 17:21] choumx commented on #7368
`amp-bind` could do this but the markup wouldn't be as clean since you'd need to bind an intermediary variable.

[2017-02-08 17:21] dvoytenko commented on #7392
We always whitelist. Let's add these tags.

[2017-02-08 17:28] adelinamart commented on #1796
Awesome! 👍

[2017-02-08 17:35] dvoytenko commented on #7400
@cramforce

I see `makeIOsScrollable` code in the `amp-iframe.js` that sets `overflow-auto`, but not `-webkit-overflow-scrolling: touch`. Even with that, I'm not sure if it ever was meant to scroll? Would it expect resize even to make the actual iframe bigger and let the parent page scroll it?

[2017-02-08 17:47] dvoytenko commented on #4227
Done. But not yet launched. This can be closed now.

[2017-02-08 17:47] #4227 closed

[2017-02-08 17:48] dvoytenko commented on #4226
Reopening: this is a cleanup task post launch.

[2017-02-08 17:51] dvoytenko commented on #4087
There should be some opportunities to optimize with layers.

[2017-02-08 17:53] weeblr commented on #6123
ok, got it.

[2017-02-08 17:54] dvoytenko commented on #7377
I'd like to discuss sprite animations (#7424) and hero elements (#7423).

[2017-02-08 18:18] Gregable commented on #6123
@cramforce the validator does not distinguish between relative and protocol relative currently.

If runtime allows relative as long as the top level URL is secure, then validator will be more strict than runtime by disallowing relative.

[2017-02-08 18:20] cramforce commented on #6123
@Gregable understood.

[2017-02-08 18:22] Gregable commented on #485
@dvoytenko for decisions on what we want to allow or disallow.

[2017-02-08 18:23] Gregable commented on #4663
I'm not sure what you are asking. Currently the canary and prod releases are identical.

[2017-02-08 18:23] lannka commented on #7388
If we have to preserve the old name for backwards compatibility, I guess it will not address the "misleading" concern @JamesIves had. So I think for now we will just stay with it, until we think it's worth to start a formal process of deprecating `amp-notsupported` and introducing new class name.

[2017-02-08 18:23] #7388 closed

[2017-02-08 18:27] zhouyx commented on #6096
@ascherchen The errors are expected. As the error message says it forbids an iframe from accessing a cross-origin iframe. Seems the ad script is trying to get info from the top window.

[2017-02-08 18:28] Gregable commented on #4521
I think we probably still do, it's just been pretty low prioity.

[2017-02-08 18:34] #6096 closed

[2017-02-08 18:40] bjalford opened #7431 "Conditionally load component based on size of another"
Got an odd one to try and work out how to do in AMP.

Let's say there is a container in a grid that is 600 pixels high.  The current 'web' behaviour I'm trying to match is:

An ad is loaded in the container. If the ad is is 600 pixels tall then nothing else happens as the area is filled.

If the ad is 300 pixels high then an additional call is made to bring in a second 300 pixels ad so that the co

[2017-02-08 18:50] bpaduch commented on #1353
@cramforce - Can you elaborate?  Is this more than the general info at [loads pages in an instant](https://www.ampproject.org/learn/how-amp-works#load-pages-in-an-instant)? If there are specific properties and guarantees, where can I find those details?

[2017-02-08 18:51] lannka commented on #7366
@tlong2 yep, there're leakage between tests.

We typically create iframe for each test case. `describes.realWin()` will help you do that.

[2017-02-08 18:54] #4736 closed

[2017-02-08 18:54] jridgewell commented on #4736
Still an "issue", but it's by design.

[2017-02-08 18:57] dvoytenko commented on #1252
I agree. This would be very helpful.

[2017-02-08 18:59] dvoytenko commented on #6487
The page jumps up from, e.g. `scrollTop = 1000` to `scrollTop = 0`.

[2017-02-08 19:01] dvoytenko commented on #7355
You are trying to zoom Google Search, which doesn't allow you to do that at this point, which is up to each app. Please try directly on a unembedded AMP page. I.e. open cdn.ampproject.org/... page directly.

[2017-02-08 19:04] dvoytenko commented on #485
@Gregable but which of these we do not allow yet?

[2017-02-08 19:05] cramforce commented on #1316
I like.

[2017-02-08 19:06] dvoytenko commented on #5888
I see. We need check with the future plans for page navigation transitions. I believe this subject is being actively discussed. We can certainly consider how an `amp-animation` could be triggered as part of such a transition for both "exit" and "enter".

[2017-02-08 19:46] Gregable commented on #485
@dvoytenko this issue is about *dis*allowing some of these.

[2017-02-08 19:58] sebastianbenz opened #7434 "amp-form does not submit inside amp-live-list"
Forms are not submitted if they are part of an amp-live-list once the live list has updated.

## How do we reproduce the issue?

1. Open https://amp-live-list-form.gomix.me/ [source](https://gomix.com/#!/project/amp-live-list-form)
2. Enter something into the form and press submit -> input is printed inside the doc
3. Wait until the time updates via amp-live-list (15s)
4. Enter something into the

[2017-02-08 20:29] dvoytenko commented on #5219
@ymschaap I agree. Logically comments are different enough to warrant a separate extension. If we have a need to reuse the code between these two extensions, we have tools for that.

[2017-02-08 20:34] dvoytenko commented on #5225
@keepitsimple I see. You actually want to back button to navigate between different pages. The current implementation stays within the boundary of each document. This is what I meant by:

I'll check on what security measures we need to go across the boundary of multiple documents.

[2017-02-08 20:52] cramforce commented on #1353
I think that is basically it, but it would be good to iterate on it a bit. Maybe @pbakaus has a text somewhere that is a bit more coherent than my mumbling.

[2017-02-08 21:04] jfsoul commented on #4663
My assumption (because you mentioned validator-canary.js) was that in canary and #development=1 the network request for the validation would go to a different location.

I'm guessing from the confusion that I got that wrong and the same endpoint is used regardless.

[2017-02-08 21:44] Gregable commented on #7422
Do you have a specific document that you can paste somewhere?

[2017-02-08 21:56] powdercloud commented on #4663
@jfsoul My understanding is that there is a cookie for the dev channel which makes it so that cdn.ampproject.org serves different content. See also here: https://www.ampproject.org/docs/reference/experimental
Like @Gregable mentioned at the moment there's no difference between the validator canary and non canary versions, so you wouldn't be able to tell.
https://cdn.ampproject.org/v0/validator-can

[2017-02-08 22:00] mrjoro commented on #7377
Thanks presenters and everyone who attended & participated!

[2017-02-08 22:00] #7377 closed

[2017-02-08 22:36] ericlindley-g commented on #7009
Thanks @plegner!
@aghassemi — did you have any thoughts about this?

The feature seems useful, but I have some reservations about the slippery slope of what styles we support as attributes versus only in amp-custom CSS

[2017-02-08 22:42] zhouyx opened #7438 "Avoid adding /dist in prod code"
This is a follow up of #6826

In that PR, removing `/dist` from  function `#calculateScriptBaseUrl` fails our tests.

Some things I found so far:
1. Tests fail because `#getMode().localDev` returned the wrong value
2. Seems related to https://github.com/ampproject/amphtml/blob/master/src/mode.js#L89

[2017-02-08 22:54] rudygalfi commented on #6963
Any updates here?

[2017-02-08 22:55] ericlindley-g commented on #6894
Closing this tentatively, as I think the example above covers this use case, but please feel free to re-open if you have more feedback — thanks!

[2017-02-08 22:55] #6894 closed

[2017-02-08 22:56] rudygalfi commented on #7104
Sorry ... Shouldn't have closed this. Any updates on this I2I?

[2017-02-08 22:57] rudygalfi commented on #6128
Any updates on this?

[2017-02-08 22:57] ericlindley-g commented on #6887
Moved to the [AMP Start repo](https://github.com/ampproject/ampstart/issues/25) to track

[2017-02-08 22:57] #6887 closed

[2017-02-08 22:58] rudygalfi commented on #5447
Closing this for now since there hasn't been any activity. Please re-open if further discussion is needed or if there's a pull request.

[2017-02-08 22:58] #5447 closed

[2017-02-08 22:59] rudygalfi commented on #5657
Any updates here?

[2017-02-08 23:25] rudygalfi commented on #5963
I made this a P2, but let me know if this should be bumped up, down, or closed.

[2017-02-08 23:33] rudygalfi commented on #5318
Can anyone give a status update on this issue?

[2017-02-08 23:35] rudygalfi commented on #4948
Making this P3 based on no action happening in 4-5 months.

[2017-02-08 23:36] rudygalfi commented on #4770
Any updates here?

[2017-02-08 23:44] rudygalfi commented on #3857
I think this might still be blocked by #4449, but we've launched the ability to have element-level visibility and click-tracking, as well as `data-` params that can be put on elements to transport additional contextual data regarding the event: https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#variables-as-data-attribute.

Closing this for now, but please

[2017-02-08 23:45] rudygalfi commented on #3494
I think this is a duplicate of #5447.

[2017-02-08 23:45] #3494 closed

[2017-02-08 23:52] rudygalfi commented on #1798
I think this is covered by #2360 and there's more discussion about it over there. I'm closing this as dupe, but please re-open if it's not.

[2017-02-08 23:52] #1798 closed

[2017-02-08 23:52] camelburrito commented on #2851
this is coming up with our ampstart project - will post updates once we have something in a sharable state.

[2017-02-08 23:57] rudygalfi commented on #6230
Putting this in the Pending 3P Implementation milestone since I think this is specific to Google Analytics. Please let me know if that's not correct.

[2017-02-09 00:23] pbakaus commented on #1353
I sadly don't have a better write up, but maybe makes sense to steal some stuff from https://amphtml.wordpress.com/2017/01/13/why-amp-caches-exist/ as well.

[2017-02-09 00:38] #6994 closed

[2017-02-09 00:39] adelinamart commented on #7283
Closing this one for one and will follow up internally. Thanks.

[2017-02-09 00:42] ascherchen commented on #6096
sorry to re-open but why is the error expected and why does this impact the performance of the sticky ad loading? And who can we speak to in the Amp-by-example page to get the x-origin iframe fixed? :)

[2017-02-09 00:45] adelinamart commented on #7158
Closing this one and following up internally.

[2017-02-09 00:45] #7158 closed

[2017-02-09 00:45] ericlindley-g commented on #6411
Following up — @mkhatib or @cramforce , is there a technical reason not to support manual URLs in amp-app-banner?

[2017-02-09 00:47] ericlindley-g commented on #6341
Closing this for now, but @okeul , let us know if the lack of validation causes an issue and we can think through the cost/benefit of validation.

[2017-02-09 00:47] #6341 closed

[2017-02-09 00:48] ericlindley-g commented on #6281
@Gregable  — is there any risk to allowing "value"?

[2017-02-09 00:54] #7365 closed

[2017-02-09 00:58] adelinamart commented on #5313
This was fixed internally.

[2017-02-09 00:58] #5313 closed

[2017-02-09 00:58] adelinamart commented on #5308
Closing this one since it's being tracked internally.

[2017-02-09 00:58] #5308 closed

[2017-02-09 00:59] adelinamart commented on #5307
Closing this one since it's being tracked internally.

[2017-02-09 00:59] #5307 closed

[2017-02-09 01:03] adelinamart commented on #4520
The bug opened for this was fixed internally. If there's still an issue please re-open with new details. Thank you

[2017-02-09 01:03] #4520 closed

[2017-02-09 01:18] zhouyx commented on #6096
It seems ad server script is trying to do something to the top window. Their scripts run in cross domain iframes, thus browser won't allow it and throw these error messages. The only fix I can think of now is to use an ad that doesn't try to do these kind of cross origin operation.
These errors shouldn't impact the performance of sticky ad loading. At least I can't think of one. Do you have more i

[2017-02-09 01:21] zhouyx commented on #6096
@Lith As I mentioned the CORS errors are expected.
However from your screenshot, I think the typeError(see last line) is the reason why your ad is not working on Safari.

[2017-02-09 01:26] zhouyx commented on #6597
will take over.

[2017-02-09 01:33] rudygalfi commented on #7088
I think this thread has answered the core question. There is indeed support.

I've contacted the GTM team to propose some way to make support status / documentation more visible.

[2017-02-09 01:33] #7088 closed

[2017-02-09 01:45] jpettitt commented on #7422
Example sent to @Gregable via slack.

[2017-02-09 01:56] cramforce commented on #7296
This still happens for me. There is an error in the console:

[code]

[2017-02-09 02:36] dvoytenko opened #7442 "Bug: Pinterest extension incorrectly rejects illegal selector type"
[code]

[2017-02-09 02:42] dvoytenko opened #7443 "But: sometimes AMP element is missing implementation in the connected callback"
[code]

Possibly here: https://cdn.ampproject.org/c/ubeda.ideal.es/ubeda/noticias/201702/08/educacion-propone-cierre-tres-20170208125152_amp.html#log=3

[2017-02-09 03:44] #1816 closed

[2017-02-09 03:54] serendipitist commented on #6963
you can close this ticket

On Thu, Feb 9, 2017 at 4:24 AM, Rudy Galfi <notifications@github.com> wrote:

[2017-02-09 04:05] #6963 closed

[2017-02-09 04:16] #7351 closed

[2017-02-09 04:19] jasti opened #7445 "Implement i18n for the "Ad" in the ad loading indicator"
Although the 'Ad' part can be overridden programmatically, we should also have the ability to localize it based on the primary language on the page.

![image](https://cloud.githubusercontent.com/assets/2366341/22769098/5d1d32f0-ee3b-11e6-957c-2f5d83bdd3b8.png)

[2017-02-09 04:20] mrjoro opened #7446 "Design Review 2017-02-22"
The AMP Project holds weekly engineering design reviews on Wednesdays @ [1pm Pacific](https://www.google.com/?#q=1pm+pacific+in+local+time) via video conference using [Google Hangouts](https://hangouts.google.com/hangouts/_/google.com/amp-eng-desrev).

**Participation by the entire AMP Project community is encouraged.**

This issue will be updated by 1pm Pacific on the Monday before the design rev

[2017-02-09 05:04] dvoytenko commented on #7402
@bradfrizzell  I believe the merged #7440 is the right fix. But please confirm.

[2017-02-09 05:28] #7442 closed

[2017-02-09 06:03] #7253 closed

[2017-02-09 07:31] kamtschatka commented on #7104
The patch is ready, but our infrastructure is not ready yet

[2017-02-09 08:01] sham77 commented on #2277
@tomayac thanks for opening that. It's very common indeed. I have the same issue too, and I use the base tag for the same purpose as you mention.

However attn @Gregable @cramforce it seems this hasn't been fully fixed. Trying to validate my amp pages, I get the error  [attribute 'href' in tag 'base' is set to the invalid value]. You can try a test version of it here.  http://test1.shoppinginforme

[2017-02-09 09:12] sigginet commented on #7283
@adelinamart how can I follow the progress on this?
Is there an issue that I can follow?

[2017-02-09 09:40] jfsoul commented on #4663
@powdercloud Ok thanks for the clarification, I see my misunderstanding now.

I wasn't expecting 2 things:

1. https://cdn.ampproject.org/v0/validator.js to potentially serve a different version based on the cookie.  This totally makes sense, I just jumped to the wrong conclusion when validator-canary.js was mentioned!
2. https://cdn.ampproject.org/v0/validator-canary.js to serve a 404 with AMP_CA

[2017-02-09 11:03] ymschaap commented on #5219
@dvoytenko if you can point me in the right direction to reuse `amp-facebook` for a new `amp-facebook-comments` in  #7398, I could move forward with that.

[2017-02-09 11:04] ahmedkaludi commented on #5219
@ymschaap Yes, amp-facebook-comments makes much more sense.

[2017-02-09 11:36] muojp opened #7449 "Document error in triple-mustache section at amp-mustache page"
## Short description of your issue:

Simple documentation error on https://www.ampproject.org/docs/reference/components/amp-mustache

On triple-mustache section, `{{{unescaped}}}` is accidentally written as `{{unescaped}}}`.

![screen shot 2017-02-09 at 8 35 23 pm](https://cloud.githubusercontent.com/assets/766864/22781764/62e45f3e-ef07-11e6-891f-cfc03c25618e.png)

## How do we reproduce the issue

[2017-02-09 15:33] choumx commented on #7296
Ah, that's actually the chunk-related bug in 1486166232176 that was fixed in #7374. I'll re-close when I verify the fix is live on this week's canary.

[2017-02-09 16:28] ascherchen commented on #6096
@Yuxuan, thanks a lot.
@Vamsee: who owns the AMP by Example pages to fix the code for safari?

Alissa Scherchen
Partner Technology Manager

If you received this communication by mistake, please don't forward it to
anyone else (it may contain confidential or privileged information), please
erase all copies of it, including all attachments, and please let the
sender know it went to the wrong person.

[2017-02-09 17:19] dvoytenko opened #7452 "Analytics: support ini-load event that works across AMP elements, documents and embeds"

[2017-02-09 17:21] jridgewell commented on #2277
@sham77: We [only allow `/`](https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii#L111-L117).

[2017-02-09 17:21] lannka commented on #2446
A proposal to implement this is here: #7096

[2017-02-09 17:21] #2446 closed

[2017-02-09 17:22] #7212 closed

[2017-02-09 17:24] dvoytenko commented on #4770
This is mostly complete. The remaining items are tracked by separate issues such as #6128 and #7452.

[2017-02-09 17:24] #4770 closed

[2017-02-09 17:24] #5657 closed

[2017-02-09 17:26] lannka commented on #3528
I believe we already had this:
https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#max-continuous-visible-time

[2017-02-09 17:26] #3528 closed

[2017-02-09 17:26] choumx opened #7453 "Web worker error reporting"
We can slightly generify the code in `src/service-worker/error-reporting.js`.

[2017-02-09 17:49] Gregable commented on #4663
@jfsoul , regarding point 2, I can replicate this. I'm unsure of the reason for this mechanism. @cramforce might know.

[2017-02-09 17:50] lannka commented on #6828
@rudygalfi Right now it's blocked by the visibility-v2 launch.
Bumped it up to P2, as we wanted to get this done ASAP so we don't need to maintain the v1 code. It's slowing done any new changes made to visibility tracking.

[2017-02-09 18:36] adelinamart commented on #7283
Hi @sigginet , unfortunately as for all other internal bugs, there's no good way to track the progress.  Will be asking the Viewer Team to provide updates, and when we get them will try to leave updates on this closed issues. Hope that works for you. Thanks.

[2017-02-09 18:51] Gregable commented on #1377
I'm going to close this. Feel free to reopen if this is the incorrect conclusion.

[2017-02-09 18:51] #1377 closed

[2017-02-09 18:55] dvoytenko opened #7457 "Analytics: update visibility processing to work per-root and observe top-level visibility"

[2017-02-09 19:04] dvoytenko commented on #6128
WIP

[2017-02-09 19:06] dvoytenko commented on #485
To confirm, @Gregable, do we indeed allow everything in the `ALLOWED_SVG_ELEMENTS`?

[2017-02-09 19:26] dvoytenko commented on #7217
@Gregable What would happen to
[code]

[2017-02-09 19:29] dvoytenko commented on #7217
Also, let's maybe do this:
[code]

[2017-02-09 19:31] jasti commented on #6096
It's not ABE that's the issue. It is the way the ad itself is created - which being delivered from DFP. I think we should let this go because this is a niche case.

[2017-02-09 19:41] akshatmalikcoc opened #7459 "Robots Meta Name set to noindex"
Hi

By default all url's show a "index,follow" under meta name=robots, however, when loading from cdn.ampproject.com/example.com/?amp=1 the view source of the page reveals: `<meta name=robots content=noindex>`

Can you please help understand if the cdn pages are supposed to contain this?

AMP Version: 1486153081489

[2017-02-09 20:05] sigginet commented on #7283
Thanks @adelina

On Thu, Feb 9, 2017 at 6:37 PM, Adelina <notifications@github.com> wrote:

[2017-02-09 20:11] muxin opened #7461 "Add viewer integration script to runtime pages based on amp_js_v param"
updated description:

When testing example pages against viewer, the page need to have viewer integration script such as `<script async src="https://cdn.ampproject.org/viewer/google/v7.js"></script>`. It would be nice to add the script programmatically instead of manually.

When we are serving pages with url like
- `http://yuxichen.herokuapp.com/examples/everything.amp.max.html&amp_js_v=7`
- `http

[2017-02-09 20:13] muxin commented on #7461
Maybe it's also helpful for `localhost` debugging against production viewer.

[2017-02-09 21:01] #7162 closed

[2017-02-09 21:05] Gregable commented on #485
You are correct. We do not currently validate:

- solidColor
- mesh
- meshRow
- meshPatch
- hatch
- hatchPath
- metadata
- switch
- style (tracked in #3578)
- Any of the filters, ie: starts with `fe`, however, we intend to whitelist the ones mentioned in #7392

Other than the style special case, we should add all of these.

Still, unsure what to do about removing tags.

[2017-02-09 21:08] jarek-foksa commented on #485
I would suggest asking SVG WG members whether those new elements will actually end up in  the final spec, recently there were some signal that this might be not the case http://tavmjong.free.fr/svg2_status.html

[2017-02-09 21:12] Gregable commented on #7217
OK, I will modify our implementation to match dima's suggestion:

[code]

The two differences are the s/customElements/extensions/ and the addition of the 'custom-template' key.

[2017-02-09 21:14] irtefa commented on #7217
@Gregable  We will change "customElements" to "extensions"

[2017-02-09 21:14] jrf0110 commented on #7283
I _think_ this might actually be runtime-related. I'm seeing the same behavior on Cloudflare's AMPViewer on desktop chrome _only if I set my User Agent to Chrome on iOS_. It's also worth noting that Cloudflare's viewer uses a completely different technique for showing/hiding the viewer header (it doesn't rely on position: fixed + communicating a paddingTop to the runtime). See the following two vi

[2017-02-09 21:21] Gregable commented on #7217
@oliy as well

[2017-02-09 21:37] muxin commented on #7355
Tested in unembedded amp page, the scrollLeft is always 0. I'll go ahead and return constant, PR coming.

[2017-02-09 21:42] jrf0110 commented on #7283
Though, I can't reproduce on Chrome desktop with Google Search's Viewer. That seems a little odd, but it would be even more odd if these things weren't related :)

[2017-02-09 21:44] muxin commented on #7461
@cramforce I wonder what's the difference between `https://cdn.ampproject.org/viewer/google/v7.js` and `https://cdn.ampproject.org/v0/amp-viewer-integration-0.1.js` which @chenshay is working on. Who deploy the `https://cdn.ampproject.org/viewer/google/v7.js` file?

[2017-02-09 21:50] zhouyx commented on #6597
With the proposal display sticky-ad after scroll stops. It is possible that user scroll slowly while consuming content. What's our idea on that?

[2017-02-09 21:59] jasti commented on #6597
As discussed, we shouldn't have any restrictions on scroll. Any user interaction with the document should trigger loading the ad.

[2017-02-09 22:01] #7400 closed

[2017-02-09 22:10] zhouyx opened #7462 "Reconsider the docBottomOffset threshold value for immediate resizing"
When we try to resize an element, we have an threshold value to determine if an element is close to the bottom of the document. The current value is set to `0.85*viewport ScrollHeight` We assume the last 15% of the document to be page footer, and there are few chances that users will read them. So it is fine to resize element in this part or right above this part. Because the jump due to resizing

[2017-02-09 22:24] jasti commented on #6829
@bradfrizzell Could you provide a quick status and ETA for launching this?

[2017-02-09 22:36] ericlindley-g opened #7463 "FR: dynamically fetch, cache, and populate multiple pieces of content on load"
Tracking a recent brainstorm ( @erwinmombay, @cramforce, please jump in and correct anything I've gotten wrong :)

High-level functionality:
On load, a call is sent from the client to the origin server to fetch content for the page, which it will use to populate via template (like amp-list)

Unlike amp-list, content from the server response is cached by the runtime, and used to populate multiple s

[2017-02-09 22:39] zhouyx commented on #6597
Thanks @jasti

As we went back and forth on deciding when to display sticky-ad. I want to explain our discussion conclusions more here. The discussion is based on that we already take care of resources scheduling, and achieving good UX is the only concern.

The bad UX is we display sticky-ad to user before then even start to consume a page. (that's mostly like when users are swiping between amp vi

[2017-02-09 22:42] #5700 closed

[2017-02-09 22:44] choumx commented on #7399
@kul3r4 Interesting, do you have any suggestions beyond fixing this issue? I'll take a closer look at the example once it's live.

[2017-02-09 22:47] choumx commented on #7399
Oops.

[2017-02-09 22:52] dvoytenko commented on #7461
It's best to change our `server.js` to accept `?amp_js_v=X` and based on that either insert `vX.js` from Google or our own `amp-viewer-integration-X.js`. The differentiation can be done based on, X:

- Integer value (e.g. 5) -> https://cdn.ampproject.org/viewer/google/v5.js
- A.B value (e.g. 0.1) -> base/dist/v0/amp-viewer-integration-0.1.js

[2017-02-09 22:53] adelinamart commented on #7283
@jrf0110 thanks so much for the extra troubleshooting. Some people in our team will look into this more closely.

[2017-02-09 23:03] erwinmombay commented on #3401
i dont think ive seen this in a while. going to close

[2017-02-09 23:03] #3401 closed

[2017-02-09 23:05] erwinmombay commented on #5681
lets close this, since import order matters an auto sort might cause some issues

[2017-02-09 23:05] #5681 closed

[2017-02-09 23:06] erwinmombay commented on #3636
this should be fixed with our `expectedError` calls

[2017-02-09 23:06] #3636 closed

[2017-02-09 23:07] erwinmombay commented on #4393
this should be implementable now with bind, now just need to expose the value

[2017-02-09 23:18] ericlindley-g commented on #3871
Looks like this is a dupe of https://github.com/ampproject/amphtml/issues/3871 — this issue is earlier, but the other one has more discussion in it, so keeping that one and closing this.

[2017-02-09 23:18] #3871 closed

[2017-02-09 23:55] Gregable commented on #7217
@dvoytenko , we don't need custom-template here (currently) because we don't allow these templates in ads, so we only need to change the name from 'cusomtElements' to 'extensions'

[2017-02-10 00:59] cramforce commented on #4663
@erwinmombay Can fix that :)

The way the diversion with the cookie works is using a glob that likely doesn't match the new file.

[2017-02-10 01:03] cramforce commented on #7463
Might be a good one for @cvializ to start with.
CC @mrjoro

[2017-02-10 01:04] adelinamart commented on #5750
One referenced issue was fixed. Can we check if this is still an issue? Thanks.

[2017-02-10 01:05] cvializ commented on #7463
I'll take a look!

[2017-02-10 01:07] cramforce commented on #7463
Great. Ping me tomorrow and I can give a quick overview.

[2017-02-10 01:07] adelinamart commented on #3889
@harshamulpuri2913 can you try reproducing this, and if it's still an issue, please re-open this. Thanks.

[2017-02-10 01:07] #3889 closed

[2017-02-10 01:08] cramforce commented on #7463
I filed #7194. From that bug:

@mkhatib and I were discussing a scheme like that, which may be useful in more places:

1. Change fetch/XHR service to support fragment URLs on JSON GET requests. In particular `https://example.com/service.json#key.subkey` fetches the URL, but then returns `actualJSON.key.subKey` to the caller.
2. Cache (using a TBD strategy) the return value for `https://example.com

[2017-02-10 01:08] cramforce commented on #7194
Closing in favor of #7463

[2017-02-10 01:08] #7194 closed

[2017-02-10 01:12] adelinamart commented on #3958
@mkhatib is this still an issue? Thanks

[2017-02-10 01:14] adelinamart commented on #4892
@ericlindley-g to see if we can prioritize this.

[2017-02-10 01:19] adelinamart commented on #5497
Is this issue still blocked?

[2017-02-10 01:20] adelinamart commented on #5500
Are there any updates here?

[2017-02-10 01:22] adelinamart commented on #3937
@mkhatib any updates here? Thanks

[2017-02-10 01:58] cramforce commented on #5750
We are waiting on https://bugs.webkit.org/show_bug.cgi?id=163911

[2017-02-10 02:07] dvoytenko commented on #7462
I'd like to have the `min(0.85*docHeight, 1000px)` or such.

For background: this rule exists mostly due to our rule that if something is very dynamic and not very important - throw it at the bottom of the document. For instance, publishers often use several `amp-list` to render related links for different categories. Because of this, we have couple of nuances such as:
 1. It's secondary content f

[2017-02-10 02:13] dvoytenko commented on #7431
/to @camelburrito
/cc @ericlindley-g

[2017-02-10 02:14] dvoytenko commented on #7426
/to @jasti @lannka

[2017-02-10 02:15] dvoytenko commented on #7418
/to @lannka

[2017-02-10 02:41] jasti commented on #5233
@shawnbuso http://amp-ima-video.herokuapp.com/examples/ima-video.amp.html looks awesome!
Where there other blockers before launching this?

[2017-02-10 03:00] jasti commented on #71
@gcovato, we won't be supporting preroll directly in amp-video but we will support it as part of a new player amp-ima-video. You can follow the implementation progress here: https://github.com/ampproject/amphtml/issues/5233 Please follow progress on that issue.

[2017-02-10 03:00] #71 closed

[2017-02-10 03:04] jasti commented on #2200
This has been open for a while.
To @lannka for prioritization.

[2017-02-10 03:04] #2201 closed

[2017-02-10 03:05] jasti commented on #2236
Please follow future updates for the new context API in this issue: https://github.com/ampproject/amphtml/issues/6829

[2017-02-10 03:05] #2236 closed

[2017-02-10 03:07] jasti commented on #2402
Since there is no active development happening on glade or GPT, closing this. Please consider if we need this for the A4A code path or reopen.

[2017-02-10 03:07] #2402 closed

[2017-02-10 03:08] jasti commented on #2504
Please consider using the flying carpet format which is live now or have Celtra directly support this AMP.

[2017-02-10 03:08] #2504 closed

[2017-02-10 03:10] jasti commented on #2640
@lannka Thoughts on enhancing the window.context API to do this?

[2017-02-10 03:14] jasti commented on #2737
@dvoytenko is this still valid since we moved away from using shadow DOM to friendly iframes? I know @szach would also love to have this feature.

[2017-02-10 03:16] jasti commented on #2829
Adding 'google_ad_host' is not supported in the adsense implementation of AMP :)
Closing for now but as @cramforce says - prob best to have this detail listed on the Adsense site.
@konakk FYI

[2017-02-10 03:16] #2829 closed

[2017-02-10 03:21] jasti commented on #2861
@aaronskim was there an update here? Were you still up for trying alternate solutions? Thanks.

[2017-02-10 03:21] jasti commented on #3019
Closing in favor of https://github.com/ampproject/amphtml/issues/6829

[2017-02-10 03:21] #3019 closed

[2017-02-10 03:32] camelburrito commented on #7431
@bjalford - did you try this - https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing

[2017-02-10 03:52] #4005 closed

[2017-02-10 04:06] cramforce commented on #2200
We fixed the swiping issues in amp carousels. I don't think we can do the proposed thing.

[2017-02-10 04:06] #2200 closed

[2017-02-10 04:15] cramforce commented on #7397
I've not seen such an embed in a while. Last time I looked they were extremely heavy; basically embed the full old G+ legacy site in a little iframe, but that might have changed since.

If this example is correct a typical post weighs in at about 1MB http://output.jsbin.com/suhuha/quiet

[2017-02-10 04:28] rudygalfi commented on #2198
@avimehta Is this released yet?

[2017-02-10 04:41] winstonma commented on #1280
Sorry @dvoytenko I think I said it wrongly. What I look for is `sizes` support.

For example. If I am showing a static album, 2 pictures per row on a phone that its width is 480px. In HTML I could add `sizes="50vw"` so it would collect 240px picture and show it on the screen. As `amp-img` doesn't support sizes yet so it would measure the width of the screen and get 480px picture. I added some comm

[2017-02-10 05:20] jasti commented on #3265
@chenshay, is this something the viewer API already passes down to the ad? Just trying to understand priority.

[2017-02-10 05:26] jasti commented on #3817
Launched. @glevitzky is this also already launched for A4A?

[2017-02-10 05:26] #3817 closed

[2017-02-10 05:26] jasti commented on #3831
Launched.

[2017-02-10 05:26] #3831 closed

[2017-02-10 05:28] jasti commented on #4220
Feedback received.

[2017-02-10 05:28] #4220 closed

[2017-02-10 05:35] jasti commented on #4314
Been open for a while. Please reopen or directly submit PR for review. Thanks.

[2017-02-10 05:35] #4314 closed

[2017-02-10 05:36] rudygalfi commented on #2673
I nominate @cramforce  :)

[2017-02-10 05:37] jasti commented on #4326
Sounds like canonical URL is what you wanted. Feel free to reopen if not.

[2017-02-10 05:37] #4326 closed

[2017-02-10 05:38] jasti commented on #4408
@gkteck Recommend reaching out to Adsense directly to add page level ad support to AMP.
@konakk FYI.

[2017-02-10 05:38] #4408 closed

[2017-02-10 05:40] jasti commented on #4442
Overall received feedback on https://github.com/ampproject/amphtml/issues/4038 that ability to refresh is not priority. Glad to re-evaluate if this comes up again.

[2017-02-10 05:40] #4442 closed

[2017-02-10 05:43] jasti commented on #4660
@DavidBrowsi  Haven't heard back in a while. Closing, but please do discuss with @tlong2 if this is something you plan to pursue.

[2017-02-10 05:43] #4660 closed

[2017-02-10 05:45] jasti commented on #4891
Closing since PR has been merged.

[2017-02-10 05:45] #4891 closed

[2017-02-10 05:45] jasti commented on #5019
@aserrabl do you have an update on this?

[2017-02-10 05:46] jasti commented on #5112
Closing because of lack of priority.

[2017-02-10 05:46] #5112 closed

[2017-02-10 05:48] jasti commented on #5116
Please follow updates on https://github.com/ampproject/amphtml/issues/6829

[2017-02-10 05:48] #5116 closed

[2017-02-10 05:49] jasti commented on #5178
Closing since we've haven't heard back and there haven't been any reports in the last 2 months.
Please reopen if necessary.

[2017-02-10 05:49] #5178 closed

[2017-02-10 05:53] jasti commented on #5200
@zhouyx  @lannka Does it make sense to have a holistic way of tracking and reporting ad performance data? This will tie into the work for reducing 3P ad latency too. Thoughts?

[2017-02-10 05:58] jasti commented on #5318
@michaelkleber @keithwrightbos  is this a must for implementing spam and external party viewability support? Will we need to use amp-analytics to collect the signals necessary and post message them to the requestor?
CC @lannka

[2017-02-10 06:00] jasti commented on #5560
`prefer-viewability-over-views` is similar to lazy loading the ad - therefore leading to better overall viewability.

[2017-02-10 06:00] #5560 closed

[2017-02-10 06:02] jasti commented on #5582
Been a while. @zhouyx is this something you can look into?

[2017-02-10 06:05] jasti commented on #5810
Hi there, unfortunately link ads is not supported at the moment but I hear that it is being worked on by the Adsense team. I'd recommend that you make this request via your Adsense support channels as well. Thanks!
@konakk FYI

[2017-02-10 06:05] #5810 closed

[2017-02-10 06:06] jasti commented on #5875
@zhouyx, can you please confirm if this has been addressed with 1.0? Thanks.

[2017-02-10 06:07] jasti commented on #5889
Ping. Is there a verdict, @jridgewell?

[2017-02-10 06:08] jasti commented on #6009
Can be removed now, right?

[2017-02-10 06:08] #6109 closed

[2017-02-10 06:10] jasti commented on #6127
@Gregable is this accepted for a validator change?

[2017-02-10 06:11] jasti commented on #6162
@ampproject/a4a, can someone take a look please?

[2017-02-10 06:11] jasti commented on #6169
Quick update - this is meant to go live in 2 weeks for those who haven't upgraded already.

[2017-02-10 06:14] jasti commented on #6185
Please reopen if this needs more discussion.

[2017-02-10 06:14] #6185 closed

[2017-02-10 06:15] jasti commented on #6195
@Adverticum Do you have an ETA for your PR?

[2017-02-10 06:16] jasti commented on #6240
Ping @tdrl

[2017-02-10 06:18] jasti commented on #6385
Ping @lannka for prioritization.

[2017-02-10 06:19] jasti commented on #6456
Hi there, do you have an ETA for the PR?

[2017-02-10 06:21] jasti commented on #6563
Ping @lannka

[2017-02-10 06:21] jasti commented on #6667
Ping @taymonbeal

[2017-02-10 06:22] jasti commented on #6670
Ping @lannka

[2017-02-10 06:23] jasti commented on #6718
Ping @lannka

[2017-02-10 06:34] jasti commented on #7423
Removed the ads categorization because this is specifically not meant for ads. Please change if necessary.

[2017-02-10 08:54] DarXector commented on #5497
This issue somehow slipped by me. I will forward this to the Brid Development team and it will be in the next release.

[2017-02-10 09:52] aserrabl commented on #5019
@jasti due to changes in our roadmap we won't me implementing AMP in the medium term. I'm closing the issue.

[2017-02-10 09:52] #5019 closed

[2017-02-10 14:11] km-newsday commented on #6454
Hi Mohammad,

Just wanted to follow up if you have any update on this.

Thanks,
Kavita

<<<<<<

I am implementing amp-app-banner (a wrapper and minimal UI for a cross-platform, fixed-position banner showing a call-to-action to install an app) element on AMP pages forhttp://www.newsday.com/

There is this comment from Dec. 15, 2016 on following page.
https://github.com/ampproject/amphtml/blob/maste

[2017-02-10 14:52] flaviori commented on #1353
In addition to speed/CPU/data benefits mentioned in [Load pages in an instant](https://www.ampproject.org/learn/how-amp-works#load-pages-in-an-instant), it would also be good to mention how AMP correctly handles privacy related mechanisms in prerendering mode e.g., no tracking/analytics/no ads etc.

[2017-02-10 15:41] iamsens commented on #1866
and again
"Any update on this request? "?

[2017-02-10 15:55] bradfrizzell commented on #6829
Currently there is enough in prod to handle using window.context for the metadata, intersection observer, and page positions . Request resize is not yet implemented as that has not been the top priority yet. Most of the remaining work on this is refactoring the existing codebase to all use the new AmpContext class, and getting request resize working. If getting request resize working is a top prio

[2017-02-10 15:59] #2673 closed

[2017-02-10 16:03] lannka commented on #3888
Fixed by #7006

[2017-02-10 16:03] #3888 closed

[2017-02-10 16:05] lannka commented on #4898
One more PR needed: move CID code to core. After that, we should change READMEs of those extensions that previously dependent on amp-analytics to generate CID.

[2017-02-10 16:09] cramforce commented on #6141
@cpapazian's change is ready to be merged. Just need a quick go ahead from @rudygalfi

I'm also realizing this whole topic is in need of docs :)

[2017-02-10 16:18] ericlindley-g commented on #1866
Work that will support has had significant progress — tracked in https://github.com/ampproject/amphtml/issues/4152

I'm closing this bug, but will continue to take the features requested here into consideration

[2017-02-10 16:18] #1866 closed

[2017-02-10 16:22] #6758 closed

[2017-02-10 16:28] ericlindley-g commented on #7431
Is there a non-ads use case for this?

/cc @jasti

[2017-02-10 16:56] rever1992 opened #7472 "Implement SPF Youtube"
Hi Team AMP!.

Are you going to implement the youtube SPF in the future?.

Greetings.

[2017-02-10 17:17] Gregable commented on #6127
Yes, I'll implement empty `src` for `amp-pixel` and `amp-analytics`. @dvoytenko in case there is anything the runtime needs to do to handle.

[2017-02-10 17:19] Gregable commented on #6127
Actually `amp-analytics` has no `src` attribute (https://www.ampproject.org/docs/reference/components/amp-analytics), only `amp-pixel`.

[2017-02-10 17:32] #3523 closed

[2017-02-10 18:15] dvoytenko opened #7476 "Error: "RangeError: Maximum call stack size exceeded""
A typical call stack is:
[code]

The best I can tell is the top line is the `AMP.registerElement` call.

The problem has started on Jan 26th in PROD.

For more details, see https://pantheon.corp.google.com/errors/13800212223959452015?service=default-cdn-1p&time=P30D&refresh=off&project=amp-error-reporting (restricted access)

[2017-02-10 18:28] bradfrizzell commented on #7402
This looks good to me. Sorry about the slow response. Thank you all for taking care of this bug while we've been on an offsite.

[2017-02-10 18:29] jpettitt commented on #5164
+1 for wanting 2 images.  We're going to use this for the "alert bar" at the top of TV station sites which quite often only has 2 items.

[2017-02-10 18:32] cramforce commented on #4949
to @cvializ as a warm up project.

To implement

- open error.js
- save the `isUserErrorMessage(message)` expression into variable (already in there once).
- make the line that appends `'&s='` conditional on the error not being a user error.

[2017-02-10 18:35] #6141 closed

[2017-02-10 18:41] glevitzky commented on #3817
Yes, this is the behavior we currently see in A4A.

[2017-02-10 18:55] zhouyx commented on #6597
update on this issue:

After discussion, we agree in most cases viewport scrolling will be the first user interaction. And we decide to only listen to that to balance between display rate and performance.
PR: #7478

[2017-02-10 18:57] zhouyx opened #7479 "Cleanup "sticky-ad-early-load" experiment"

[2017-02-10 19:35] shawnbuso commented on #5233
Thanks! I've got just a few things:

- The UI is pretty ugly. Right now I'm using unicode characters for play, pause, and fullscreen, but I think it will look better with actual image icons. Do you guys have something you use for AMP in general or should I create my own?

- Autoplay still doesn't work on Android. This is an IMA issue and I've proposed a fix to the eng team, so I'm waiting to see i

[2017-02-10 19:35] zhouyx commented on #6195
I believe the PR is in #6493
Closed.

[2017-02-10 19:35] #6195 closed

[2017-02-10 19:39] zhouyx commented on #5875
This has been addressed both 0.1 and 1.0

[2017-02-10 19:39] #5875 closed

[2017-02-10 19:41] jasti opened #7481 "Do not collapse an ad when in current viewport"
Report from @jpettitt
https://drive.google.com/file/d/0B7Ua3lXLZAIKMkt0YksyYmNVZGM/view
happens on v 1486673261599

[2017-02-10 19:50] jasti commented on #5233
@aghassemi is on vaca
1. any chance we can use the controls from amp-video?
2. Shouldn't be a blocker for our launch
3. Some samples delivering ads from DFP, AdX and  3rd party tags would also be helpful.

@jpettitt FYI, on your request for a default player with ability to monetize.

[2017-02-10 19:52] cramforce opened #7482 "Twitter widget sometimes fails to render on iOS"
This repros about 50% of the time on https://www.google.com/amp/s/www.washingtonpost.com/amphtml/news/the-fix/wp/2017/02/09/donald-trump-finally-met-his-match-the-courts/?client=safari

If it does not repro after a few tries restart Safari and try again.

The tweet will load eventually, but it often take 1 to 2 minutes.

Based on the network tab the requests to get the tweet content run much earli

[2017-02-10 19:57] cramforce commented on #7482
CC @indianburger

When you inspect the iframe in Safari devtools it always immediately renders correctly

[2017-02-10 19:59] shawnbuso commented on #5233
1. I'd love to but the IMA SDK isn't compatible with native video controls (it uses overlays that block them) and I'm not sure how to extract the assets from the video player since it's all just one <video> tag

2. I can try to create a workaround for it, but right now if you use autoplay on Android you get the first frame of the ad and it just freezes there, which is a pretty bad user experience.

[2017-02-10 20:07] choumx commented on #7296
Verified fixed in new canary 1486754279878.

[2017-02-10 20:07] #7296 closed

[2017-02-10 20:12] dknecht commented on #5233
We can help with 3rd party sample.

[2017-02-10 20:26] bradfrizzell opened #7483 "Poor page layout causes AMP page to appear to load super slowly"
## Description

AMP page was displaying a full-page loading icon for image, when text content had actually already loaded. Thus, the page appeared to be taking a much longer time to load than it really was. This was observed while using a very slow internet connection yesterday. Publishers really should not be structuring their pages like this.

This is what the page looked like scrolled all the w

[2017-02-10 20:30] jridgewell opened #7484 "Error Reporting should Record Experiments"
Since we now allow various opt-ins, we should send the currently enabled experiments whenever an error happens.

/cc @cramforce, @dvoytenko

[2017-02-10 20:40] cramforce commented on #7482
Also repros without viewer https://cdn.ampproject.org/c/s/www.washingtonpost.com/amphtml/news/the-fix/wp/2017/02/09/donald-trump-finally-met-his-match-the-courts/?client=safari

[2017-02-10 20:48] lannka commented on #7481
Can be reproduced in canary on https://cdn.ampproject.org/c/dailydot.relaymedia.com/amp/upstream/only-in-hella-webseries-interview/

[2017-02-10 20:48] dvoytenko commented on #7484
+100

[2017-02-10 20:52] cramforce commented on #7484
!!!

[2017-02-10 20:57] adelinamart commented on #2762
What's the status of this? Thanks.

[2017-02-10 21:03] jpettitt commented on #7481
Try https://cdn.ampproject.org/c/dailydot.relaymedia.com/amp/upstream/only-in-hella-webseries-interview/?_rmversion=test the top 320x50 doesn't fill most of the time (that may change when the tag gets fixed but for now it's a solid repro case.

[2017-02-10 21:09] jpettitt commented on #5852
Nudge.  We'd really like to be able to use `amp-experiment` to manage multiple ad providers in an `amp-sticky-ad` without having to resort to doing it server side with DFP.  I seems to me that the "only one `amp-ad` in a sticky" rule is unneeded given the size restrictions of the sticky itself.

[2017-02-10 21:14] erwinmombay commented on #2762
this is still in progress

[2017-02-10 21:29] lannka commented on #7481
Looks like a known issue. Might be related to the domain migration, the new domain does not have the problem:
https://dailydot-relaymedia-com.cdn.ampproject.org/c/dailydot.relaymedia.com/amp/upstream/only-in-hella-webseries-interview/

@jpettitt can you provide the URL that you're seeing the error?

[2017-02-10 21:29] lannka commented on #7481
@keithwrightbos any thoughts?

[2017-02-10 21:45] rudygalfi commented on #2762
@ericlindley-g Might be nice to move remaining items into a project for tracking

[2017-02-10 22:13] cramforce commented on #7482
I dug a bit deeper and the problem is definitely that the promise returned by `twttr.widgets.createTweet` (https://github.com/ampproject/amphtml/blob/master/3p/twitter.js#L74) never resolves. @indianburger solved this before in a similar situation. My guess is that Safari throttles a requestAnimationFrame and then never runs it.

A few suggestions

- Do not use `requestAnimationFrame` when framed

[2017-02-10 22:17] keithwrightbos commented on #7481
Is this a new issue?  I believe what is going on is that ad request includes sz=0x0 for doubleclick blocks indicating they have no size.  This causes our ad server to return a 400 response without a CORS header leading to an incorrect flow (essentially collapse behavior).  I actually started investigating this today unrelated to this issue.

[2017-02-10 22:21] lannka commented on #7481
I found they're actually two separate issues. @keithwrightbos please take a look the Fetch API failure.

I'm looking into this collapse issue, and I believe it has been there from the beginning, meaning element at the top can collapse.

[2017-02-10 22:21] cramforce commented on #7482
Here is the last bug there this same thing happened #3220 @indianburger fixed it on Twitter's side.

[2017-02-10 22:27] ericlindley-g commented on #2762
Agreed— @erwinmombay, what do you want to preserve from this issue? We could either bump those out to a single issue w/ checklist, or separate issues as needed, and close this when they're tracked elsewhere. (I'll also do a sweep to make sure we're capturing the needs expressed in the thread, as well)

[2017-02-10 22:56] cramforce opened #7487 "Load 3p frame JS from cdn.ampproject.org"
It currently loads from https://3p.ampproject.net/1486670309274/f.js
and should load from https://cdn.ampproject.org/3p/1486670309274/f.js

The original made sense when that was the frame domain, but since that is now per page view it causes extra DNS lookups.

[2017-02-10 23:18] dvoytenko commented on #7476
Still debugging. The #7486 is not confirmed as a complete fix.

[2017-02-10 23:20] lannka commented on #7481
Tracked down the error to [here](https://github.com/ampproject/amphtml/blob/master/src/service/resources-impl.js#L972). We actually never handle UI jump caused by element collapse above viewport (we only handled for element expand).

This is something we can do.

[2017-02-10 23:27] lannka commented on #7481
To make it clear, in this particular issue reported, the element to be collapsed is at the very top of the page, we have no way to prevent UI jump after collapsing it, so we should not collapse.

[2017-02-10 23:27] jridgewell opened #7488 "Chunking schedules too frequently"
When chunking, every time you add a new function to defer we reschedule. If we're already scheduled, no reason to reschedule.

[2017-02-10 23:35] dvoytenko commented on #7402
NP. I will close this for now. The logs confirm that the error appears to be gone.

[2017-02-10 23:35] #7402 closed

[2017-02-10 23:40] adelinamart commented on #2977
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-10 23:40] #2977 closed

[2017-02-10 23:41] adelinamart commented on #3136
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-10 23:41] #3136 closed

[2017-02-10 23:42] adelinamart commented on #3332
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-10 23:42] #3332 closed

[2017-02-10 23:42] dvoytenko opened #7489 "A4A: add error ping for network (and possibly other) errors"

[2017-02-10 23:43] adelinamart commented on #3433
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-10 23:44] adelinamart commented on #3434
Referenced issues are merged. Is this still valid? Thanks

[2017-02-10 23:45] adelinamart commented on #4472
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-10 23:45] #4472 closed

[2017-02-10 23:45] adelinamart commented on #3991
Is this still valid? Thanks

[2017-02-10 23:47] adelinamart commented on #4367
Some of the referenced issues here are closed. Is this still valid?

[2017-02-10 23:48] adelinamart commented on #4503
What is the latest update here? Thanks.

[2017-02-10 23:49] adelinamart commented on #4560
Is this still an issue? Thanks

[2017-02-10 23:53] keithwrightbos commented on #7481
Looking into the fetch API issue, it appears the publisher has two amp-ad elements at the top of the page.  The second has class rmAdRelay which sets display:none on the element.  Delayed fetch understands not to send a request in this case as it appears that layoutCallback is never executed since display is set to none.  However, fast fetch has already sent the request with a size set at 0x0 whic

[2017-02-10 23:58] cramforce commented on #3433
@

[2017-02-10 23:58] keithwrightbos opened #7491 "Amp Ad Fast Fetch ad request sent for display:none slots"
## Short description of your issue:

amp-ad elements using fast fetch with display:none (or otherwise size 0x0) are sending ad request because onLayoutMeasure executes.  This does not occur for Delayed Fetch as it appears that layoutCallback never executes however Fast Fetch sends the request via onLayoutMeasure which has no such check.  The result is that AdSense/Doubleclick requests are sent wit

[2017-02-10 23:58] cramforce commented on #3433
Can we close this?

[2017-02-11 00:00] erwinmombay commented on #3433
@cramforce dont think so. we don't do the 1% update yet

[2017-02-11 00:00] adelinamart commented on #5792
What's the status here? What else needs to be done?

[2017-02-11 00:01] keithwrightbos commented on #7026
Turns out on/off and true/false are acceptable so this is moot.

[2017-02-11 00:01] #7026 closed

[2017-02-11 00:03] adelinamart commented on #5878
Is this still an issue? Thanks

[2017-02-11 00:04] ericlindley-g commented on #5599
Might be best owned by @cramforce, unless there are product tradeoffs that it would be useful for me to help research and evaluate.

/to @cramforce for now, but feel free to assign back

[2017-02-11 00:05] keithwrightbos commented on #7487
@tdrl let's ensure nameframe for Fast Fetch moves as well

[2017-02-11 00:09] adelinamart commented on #6541
@jridgewell seems issue referenced is fixed. is this still a problem?

[2017-02-11 00:15] adelinamart commented on #6070
Is there anything else to be done here? Thanks

[2017-02-11 00:20] ericlindley-g commented on #7028
/to @rudygalfi for now (though happy to take this if needed)

[2017-02-11 00:22] jpettitt commented on #7481
@keithwrightbos FYI we're using amp-experiment to select between the 2 ad tags.  It's 80/20 which one will fire.

[2017-02-11 00:32] adelinamart commented on #4317
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:32] #4317 closed

[2017-02-11 00:33] adelinamart commented on #3898
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:33] #3898 closed

[2017-02-11 00:33] adelinamart commented on #3872
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:33] #3872 closed

[2017-02-11 00:34] adelinamart commented on #3848
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:34] #3848 closed

[2017-02-11 00:35] adelinamart commented on #3489
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:35] #3489 closed

[2017-02-11 00:36] adelinamart commented on #3318
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:36] #3318 closed

[2017-02-11 00:38] adelinamart commented on #2358
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:38] #2358 closed

[2017-02-11 00:38] adelinamart commented on #2165
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:38] dvoytenko commented on #3434
Still open

[2017-02-11 00:42] dvoytenko commented on #2762
Let's fan out the remaining issues and close this one since officially launch has been done.

[2017-02-11 00:44] adelinamart commented on #2442
What's the latest status of this one?

[2017-02-11 00:45] adelinamart commented on #2495
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:45] #2495 closed

[2017-02-11 00:45] dvoytenko commented on #7484
One important point. We should do the same with CSI

[2017-02-11 00:47] adelinamart commented on #2557
What's the status here? Thanks.

[2017-02-11 00:47] adelinamart commented on #2661
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:47] #2661 closed

[2017-02-11 00:47] adelinamart commented on #2662
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:47] #2662 closed

[2017-02-11 00:48] adelinamart commented on #2785
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 00:48] #2785 closed

[2017-02-11 01:15] camelburrito commented on #4626
We will need to come up with some kind of format to spec the breakpoint config

[code]

Navigation
The slides work based on the scrolling to the right scrollLeft - in the current scenario if there are 4 slides then the corresponding scroll lefts are (0, slidewidth, 2*slidewidth, 3*slidewidth)

There are 2 code-paths in the existing code.
- snap points assisted scroll
- - User scrolls - css take ov

[2017-02-11 01:15] adelinamart commented on #2920
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:15] #2920 closed

[2017-02-11 01:15] adelinamart commented on #2979
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:15] #2979 closed

[2017-02-11 01:16] adelinamart commented on #2984
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:16] #2984 closed

[2017-02-11 01:16] adelinamart commented on #3012
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:16] #3012 closed

[2017-02-11 01:17] adelinamart commented on #3039
PR closed here. Anything else needed to be done here?

[2017-02-11 01:19] adelinamart commented on #3105
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:19] #3105 closed

[2017-02-11 01:20] adelinamart commented on #3128
@ericlindley-g I think this can be closed?

[2017-02-11 01:20] adelinamart commented on #3141
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:20] #3141 closed

[2017-02-11 01:21] adelinamart commented on #3216
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:22] adelinamart commented on #3233
Is this finalized?

[2017-02-11 01:27] adelinamart commented on #3306
What's the status here? Thanks

[2017-02-11 01:27] adelinamart commented on #3337
What's the status here? Thanks

[2017-02-11 01:27] adelinamart commented on #3365
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 01:27] #3365 closed

[2017-02-11 01:34] cramforce commented on #5792
Stale

[2017-02-11 01:34] #5792 closed

[2017-02-11 01:34] dvoytenko commented on #2737
Yeah. This is exactly why it's relevant - iframes don't do it automatically. The problem with this we found is that it's rather hard to propagate fonts "as is" since the font definition itself (`link`) may need to be copied into iframes. It's often the case that such referrals denied by the font providers.

/cc @keithwrightbos @tdrl

[2017-02-11 01:36] cramforce commented on #7487
@tdrl Where do you load nameframe from? Here we would continue to load the frame from the `.net` domain, but because we have random sub domains it makes sense to load the JS it loads from the standard JS domain.

[2017-02-11 01:36] #6070 closed

[2017-02-11 01:37] cramforce commented on #7484
There we have it planned already

On Fri, Feb 10, 2017 at 4:45 PM, Dima Voytenko <notifications@github.com>
wrote:

[2017-02-11 01:39] dvoytenko commented on #7217
@Gregable cool.

[2017-02-11 01:44] dvoytenko commented on #1280
@winstonma  `sizes` is [supported](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md#sizes). You might have missed because we extended this feature to all AMP elements, so it's documented in the common docs.

[2017-02-11 01:50] cramforce commented on #6210
More things in the direction of the above will come on Google's side in the future and we are working with browser vendors to eventually get the origin right.

[2017-02-11 01:50] #6210 closed

[2017-02-11 01:58] adelinamart commented on #3517
@Gregable is this still a valid request? Thanks

[2017-02-11 01:59] adelinamart commented on #3462
Seems PR was merged. Closing it, but if there's still work to do, feel free to re-open. Thanks.

[2017-02-11 01:59] #3462 closed

[2017-02-11 02:03] adelinamart commented on #2535
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:03] #2535 closed

[2017-02-11 02:04] adelinamart commented on #2310
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:04] #2310 closed

[2017-02-11 02:05] adelinamart commented on #2309
Is this still in progress?

[2017-02-11 02:05] adelinamart commented on #2305
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:05] #2305 closed

[2017-02-11 02:05] adelinamart commented on #2229
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:05] #2229 closed

[2017-02-11 02:06] adelinamart commented on #2131
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:06] #2131 closed

[2017-02-11 02:06] adelinamart commented on #2086
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:06] #2086 closed

[2017-02-11 02:06] adelinamart commented on #1892
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:06] #1892 closed

[2017-02-11 02:06] adelinamart commented on #1285
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:06] #1285 closed

[2017-02-11 02:07] adelinamart commented on #2771
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:08] adelinamart commented on #2967
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:08] #2967 closed

[2017-02-11 02:08] adelinamart commented on #2988
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:08] #2988 closed

[2017-02-11 02:08] adelinamart commented on #3074
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:08] #3074 closed

[2017-02-11 02:09] adelinamart commented on #3122
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:09] #3122 closed

[2017-02-11 02:09] adelinamart commented on #3423
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:09] #3423 closed

[2017-02-11 02:10] adelinamart commented on #3592
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-11 02:10] #3592 closed

[2017-02-11 02:11] adelinamart commented on #2968
Is this still work in progress?

[2017-02-11 02:12] adelinamart commented on #2992
What's the status here?

[2017-02-11 02:53] jridgewell commented on #3128
Yup. https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md#advancing-amp-carouseltypeslides-to-a-specific-slide

[2017-02-11 02:53] #3128 closed

[2017-02-11 03:08] jridgewell commented on #5852
Closing this for #4874.

[2017-02-11 03:08] #5852 closed

[2017-02-11 03:09] jridgewell commented on #4874
/to @zhouyx

[2017-02-11 03:16] #5889 closed

[2017-02-11 03:18] jridgewell commented on #2198
Nope.

[2017-02-11 03:38] jasti opened #7500 "Optimize rendering 3p ads in AMP"
@lannka as discussed, this could be optimized further to remove any voluntary delays for 3P ads.
- [x] Instrument current time to create 3P iframe
- [x] Loosen constraint of maximum one ad load per second #9149
- [ ] Tweak the constraint of "no ad load in the first 2 seconds of page visible"

[2017-02-11 03:53] jridgewell commented on #3337
Stalled in #3511.

[2017-02-11 03:57] jridgewell commented on #3306
Closed by https://github.com/ampproject/amphtml/pull/3305.

[2017-02-11 03:57] #3306 closed

[2017-02-11 04:02] jridgewell commented on #2557
Stalled in https://github.com/ampproject/amphtml/pull/2556.

[2017-02-11 04:11] cramforce commented on #2771
@erwinmombay where are we with yarn on this?

[2017-02-11 04:41] lannka commented on #6719
`amp-experiment` is currently only controls CSS styling.

@computapars @jeannieh I'm not sure I fully understand the requirements.
Do you want to pass a variable via page URL to your amp-ad, or do you want to have AMP to have Google Tag Manager support and pass down the data via GTM container?

If it's the former, I suggest a server side impl. If it's about GTM, we do have [some support](https://a

[2017-02-11 04:45] lannka commented on #6385
@jasti let's aim for the coming sprint

[2017-02-11 04:49] jridgewell commented on #5878
Closed by https://github.com/ampproject/amphtml/pull/5938.

[2017-02-11 04:49] #5878 closed

[2017-02-11 04:49] lannka commented on #5200
will be addressed in #7500

[2017-02-11 04:49] #5200 closed

[2017-02-11 05:07] lannka commented on #5318
I see 3 different FRs here:
- have `<amp-analytics>` inside AMP creative work in preferential rendering mode (in Avi's post). It is already done, @dvoytenko
- have `amp-analytics` instrument the whole request/response lifecyle of A4A (in tdrl's post). This will be addressed in FR: #6417
- have `amp-analytics` collect extra signals for 3P fraud detection or viewability tracking (in jasti's post). d

[2017-02-11 05:10] lannka commented on #7457
@dvoytenko I would suggest we postpone the work one sprint later after we launched visibility-v2 (should be in the coming sprint) and cleaned up the v1 code.

Unless you think you won't make too much change to `visibility-impl.js`

[2017-02-11 05:13] jridgewell commented on #7472
/cc @aghassemi

[2017-02-11 05:16] jridgewell commented on #7431
Could this be solved by `<amp-auto-ads>`?

[2017-02-11 05:37] dignustech commented on #7046
Hi guys, I resolved it myself with a fix. Have used the `div submit-success` to get the result instead of `amp-list` used earlier.
Have another issue, will post in separate thread. Thanks!

[2017-02-11 05:37] #7046 closed

[2017-02-11 05:47] dignustech opened #7501 "amp img not loading in css input tabs but loads on browser resize"
I have a site page where i want to load the news feed with a image and its text. I am using `amp-img` to load the images. The active tab loads the text and images fine, but when switching between the tabs, the content loads but `amp-img` does not. It loads when i resize the browser.

I have also used a simple image with `img` attribute in between to check the tabs working.

Here is the working url

[2017-02-11 07:42] sebastianbenz opened #7502 "amp-mustache: don't strip html links"
The amp-mustache sanitizer currently strips away links.

**Steps to reproduce:**

1. goto https://amp-live-list-form.gomix.me/links
2. submit 'test https:/www.google.com'

**Actual behavior:**

=> the form result
[code]
is rendered as `test `

**Expected behavior:**

Either:

* correctly render the link `<a href=\"https://www.google.com\" class=\"linkified\" target=\"_blank\">https://www.google.co

[2017-02-11 21:04] Mse46 opened #7503 "OPPO F1w"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-02-12 00:47] ericlindley-g commented on #3128
Yep—thanks! @borisf  (and others interested), you can find an example of this in action [here](https://ampbyexample.com/advanced/image_galleries_with_amp-carousel/) (in the "image galleries with previews" section)

[2017-02-12 00:58] ericlindley-g commented on #4559
Closing this for now, given that the existing method to implement a mailto: link might be simpler and more semantic than using the social share component. But please re-open if there's an angle I'm missing here. Thanks!

[2017-02-12 01:05] ericlindley-g commented on #4488
Might be a good fit for amp-bind. @devilbags, can you point to an example web page that demonstrates the feature you'd like to have in AMP?

[2017-02-12 14:52] keithwrightbos commented on #2737
Assuming the AMP validated creative returned is 1st party to the publisher (meaning the publisher setup or _approves_ the creative) where it is explicitly trusted by the publisher, then I see no reason why we couldn't allow the creative to be directly embedded within the page without any CSS isolation container (e.g. just placed directly within amp-ad element).  This would allow as much inheritanc

[2017-02-12 17:56] mrjoro opened #7505 "Weekly Status 2017-02-13"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-02-12 17:56] #7370 closed

[2017-02-12 19:52] sebastianbenz opened #7506 "amp-form: support auto-growing text input field"
...similiar to how text input works when composing a text message in android (not sure of [this](http://alistapart.com/article/expanding-text-areas-made-elegant) approach is still up-to-date or if using contenteditable would be better).

Use Cases:

* comment input field
* review input field

[2017-02-12 21:10] aghassemi commented on #2691
Re-opening since we decided (see https://github.com/ampproject/amp-by-example/issues/558#issuecomment-275824790) to make this an AMP component.

@dandv I assume you are still willing to take this one. When you have the API you have in mind ready, let's do a quick forma review with the team. (Just a PR with an example usage and/or markdown file for the API should be enough for the review)

@ericlin

[2017-02-12 21:13] aghassemi commented on #6628
@mityaha @spaddon Any updates on this from your side? (see https://github.com/ampproject/amphtml/pull/6466#issuecomment-265611391 for a refresher of what Ooyala player needs to change before this get unblocked).

[2017-02-12 21:15] aghassemi commented on #3403
closing as duplicate of #6625

[2017-02-12 21:15] #3403 closed

[2017-02-12 21:18] aghassemi commented on #4113
nope, both amp-video and youtube support the new video interface. Closing.

[2017-02-12 21:18] #4113 closed

[2017-02-12 21:20] aghassemi commented on #4104
Not completed yet and low priority.

[2017-02-12 21:22] aghassemi commented on #4146
To @dvoytenko for framework. I believe @dvoytenko has a design for this as well.

[2017-02-12 21:25] aghassemi commented on #3945
@adelinamart We can close this. We already have the shared interface and it is implemented for youtube and amp-video. Other players would get their own GitHub issue.

[2017-02-12 21:25] #3945 closed

[2017-02-12 21:30] aghassemi commented on #4073
Merged with a similar (technically duplicate) https://github.com/ampproject/amphtml/issues/4073 Closing this one since other one has more details and comments.

[2017-02-12 21:30] #4073 closed

[2017-02-12 21:33] ericlindley-g commented on #2691
@aghassemi @dandv  FYI, bumped the priority on this up slightly, given how useful it is for a range of e-comm use cases — @dandv, do you have a sense of a timeframe for this component?

[2017-02-12 21:36] ericlindley-g commented on #4073
@aghassemi Double-checking: which bug did you dupe this one to?

[2017-02-12 21:45] aghassemi commented on #4073
Sorry updated the comment: #6487

[2017-02-12 21:53] aghassemi commented on #6487
@muxin if `overflow:hidden` does not reset scroll position (it doesn't in Chrome, not sure about Safari, needs to be tested) then that's fine. preventing default on `touchmove` is another possibility. Anyway, let's hold on working on this until it gets scheduled.

[2017-02-12 21:58] aghassemi commented on #7009
@ericlindley-g https://github.com/ampproject/amphtml/issues/4988 is also asking to expose a style property as attribute. Considering we are exposing `width` and `height` as attributes, I am not opposed to exposing `min` and `max` too. But as you mentioned we need to be careful on how far we take this.

[2017-02-12 22:03] aghassemi commented on #6057
@derekcecillewis @camelburrito Flexbox ordering is a brilliant solution! I am worried however that TalkBack and VoiceOver may not yet support `order` yet. My recommendation is testing this with those screen readers, if they pick up proper ordering, let's do `order`, if not, we need to stick with repositioning the elements for now.

[2017-02-12 22:13] aghassemi commented on #5500
moved to ABE repo: https://github.com/ampproject/amp-by-example/issues/618

[2017-02-12 22:13] #5500 closed

[2017-02-12 22:15] aghassemi commented on #5497
@DarXector Thanks!

[2017-02-12 22:15] #5497 closed

[2017-02-12 22:20] aghassemi commented on #3991
@adelinamart Yes. It is pending a launch (or deletion). @ericlindley-g and I will discuss and come up with a decision

[2017-02-12 22:21] aghassemi commented on #3991
Note: If we keep it, we need to move JS to a 3P iframe (too many security issues with the Vega/3D Js library to keep it 1st party)

[2017-02-12 22:23] aghassemi commented on #4367
@adelinamart Yes, the original FR is still valid.

[2017-02-12 23:25] ericlindley-g commented on #3991
@aghassemi  Good to know — the use cases supported by D3 more generally are top-of-mind right now, so let's definitely chat soon to figure out best next steps.

[2017-02-13 06:26] kadircanerergun opened #7508 "Add to homescreen event on AMP-Analytics"
I'm using pwa with amp and i want to track users who clicked to Add To Homescreen button. How can i do it ? I think there is "**beforeinstallprompt**" event on pwa but how can i use it on **AMP-ANALYTİCS** ?

[2017-02-13 10:03] akshatmalikcoc commented on #7459
@rudygalfi - Awaiting your Response. Thanks!

[2017-02-13 14:12] kul3r4 commented on #7399
You can set the value of a (binded) variable by  using`AMP.setState` inside `on=` action. This requires you to know all the information about the variable, but it's not possible to do any encapsulation.

Let's take the following example:
`
    <amp-state id="product">
      <script type="application/json">
      {
          "green": {
            "sizes": {
        			"S": "$5.99",
        			"M":

[2017-02-13 14:41] dougalg commented on #2442
@adelinamart, thank you for your interest. Unfortunately, we've had to put our AMP integration project on hold for the time being. I will close this intent to implement for now, and re-open it later when we have time to work on it. Thank you and @dvoytenko for all the valuable feedback. We will definitely take it into consideration for our next pass at the component.

[2017-02-13 14:41] #2442 closed

[2017-02-13 15:31] michaelkleber commented on #2737
Rendering the ad directly inside the amp-ad element means _no_ CSS isolation, which is usually not what advertisers want.  Responsive creatives also use `@media` queries to detect their size; if we move them out of iframes then they accidentally detect the parent page's size instead.

I think @dvoytenko 's notion of forwarding style properties is better suited to ads' needs.

[2017-02-13 15:33] ericlindley-g commented on #7399
I'll let @choumx speak to the technical limitations and opportunities with the mechanic above, but just as a word on the user-facing functionality, as an aside:

In a real-world example, when a user selects a new color, I don't think we'd want to select a new size automatically. We'd probably want to keep whatever size selection was made, unless the size were unavailable in the new color, in which

[2017-02-13 15:42] kul3r4 commented on #7399
Thanks @ericlindley-g, that's a valuable point!
In this scenario,

if we wanted to keep a global variable `selectedSize` we would still need a way to set it to null or empty when switching between colors. It's true that we can style the selector in order to deselect all the sizes, but the state of the page will not be consistent with what the page is showing. Which component is gonna set it?

[2017-02-13 15:47] BYK commented on #3039
@adelinamart - As Disqus, we are not planning to pursue an official AMP component right now. That said in case there are other people interested in implementing, I think the issue should remain open.

[2017-02-13 16:02] ericlindley-g commented on #7399
Ah! Good point—sounds like it's the same problem :)  I'll defer to @choumx on the best strategy for that.

[2017-02-13 16:41] #7449 closed

[2017-02-13 16:41] choumx commented on #7399
Hmm, I see. So in the case of resorting to the "default" size, `selectedSize` will have a value inconsistent with what's displayed on the page.

Question: do you *need* `selectedSize` to always be consistent with the page's display state? For this page, a form can submit using the `amp-selector#size`'s value instead of the `selectedSize` variable.

I can see how this would be useful though. One wa

[2017-02-13 16:47] ericlindley-g commented on #3836
Possibly same root cause as #6487

[2017-02-13 17:21] mrjoro commented on #7505
- continued work on contribution onboarding documentation (expanded scope from just a Git/GitHub intro to a more complete end-to-end guide)
- created the [#welcome-contributors](https://amphtml.slack.com/messages/welcome-contributors/details/) Slack channel; if you've been around for a while please join it to welcome new contributors/answer their questions
- our [first public design review](https:

[2017-02-13 17:45] honeybadgerdontcare opened #7509 "ValidatorRulesMakeSense errors should be more verbose"
From PR #6126, the two error messages didn't make it clear what the contributor needed to do to address them.

1) ValidatorRulesMakeSense extensions require an additional tag

This means there is a missing also_requires_tag. It would be good to explicitly state that and also mention which tag spec is offending here.

Possible rewording: ValidatorRulesMakeSense Tag Spec `{tagspec}` is missing the `

[2017-02-13 17:48] jridgewell commented on #7505
- Investigated https://github.com/ampproject/amphtml/issues/7476
  - It's another Nessy.
- Fixed assignment in If statement bug https://github.com/ampproject/amphtml/pull/7486
- Finalizing SW's `/diversions` endpoint

[2017-02-13 17:50] aghassemi opened #7510 "Hero mode for video players"
`hero` attribute on video players enables the following UX behavior:

- [ ] Video is moved to the top of the page with full bleed.
- [ ] Video autoplays
- [ ] Docking UX for the playing video https://github.com/ampproject/amphtml/issues/8088
- [ ] Maybe `preload` hero videos as part of preconnect (if not too heavy)
`hero` attribute should be implemented as mostly a syntax sugar that brings existin

[2017-02-13 17:52] erwinmombay commented on #7505
- ampstart build system
  - split up json files
  - split up css binaries
- change github-owners-bot algorithm

[2017-02-13 17:57] cramforce commented on #7505
- Google Search now uses domain-com.cdn.ampproject.org style host names for the AMP Cache
- Fixed experiment opt-in for that setup #7494
- Fixed scrollable iframes on iOS #7444

[2017-02-13 17:57] erwinmombay commented on #2771
@cramforce confirmed it works internally in the release process. i need to update the docs and send out an email to the team

[2017-02-13 17:57] lannka commented on #7505
Ads / Analytics
- Fully launched new ad loading ux on prod (most eng work done by @zhouyx).
- New 3P ad networks: mywidget
- Fixed an amp-analytics visibility tracking bug #7162
- Merged a preparation PR to deprecate visibility v1: use IntersectionObserver polyfill when native API is not available #7383

Page performance
- Normalized AMP page jank metric to a likelihood score: Good Frame Probabili

[2017-02-13 17:58] aghassemi commented on #7310
Caused by (now reverted) https://github.com/ampproject/amphtml/pull/7321

[2017-02-13 18:00] tzkmx commented on #1742
How to override `documentLocation`? I can't find anything like this on documentation or source code of the generated page.

[2017-02-13 18:02] Gregable commented on #7509
Sounds good to me.

[2017-02-13 18:11] aghassemi commented on #5883
verified it is showing.

[2017-02-13 18:11] #5883 closed

[2017-02-13 18:13] ericlindley-g commented on #7508
/to @rudygalfi as well

[2017-02-13 18:14] avimehta commented on #1742
@tzkmx Does the following work?

[code]

[2017-02-13 18:15] muxin commented on #7505
- Worked on measuring document height and send to viewer
- Cleaned up obsolete experiment flag ios-overflow-x
- Make viewport getScrollLeft return 0

Share tracking:
- Make sure share tracking fragment to be updated does not have leading #
- Rename messaging request string in history-impl

[2017-02-13 18:16] aghassemi commented on #5380
Merged with **Hero** video requirements.

[2017-02-13 18:18] aghassemi commented on #5379
related to https://github.com/ampproject/amphtml/issues/5335

[2017-02-13 18:26] dvoytenko commented on #7505
* on rotation
* misc rotation fixes
* continued work on analytics signals for a4a

[2017-02-13 18:26] #7503 closed

[2017-02-13 18:27] zhouyx commented on #7505
- Investigated element collapse in and above viewport.
- Fixed amp-accordion not getting id #7365
- Worked on earlier load of amp-sticky-ad

[2017-02-13 18:28] rosariomg commented on #7505
- Amp'ing up
- Investigating visual diff options

[2017-02-13 18:28] tzkmx commented on #1742
Yeah, it does! Thanks a lot!

[2017-02-13 18:45] camelburrito commented on #7506
@sebastianbenz please file on ampstart

[2017-02-13 18:46] erwinmombay commented on #2762
@ericfs dont see anything i want to preserve that's already not in another issue

[2017-02-13 18:46] #2762 closed

[2017-02-13 18:46] choumx commented on #7488
I noticed this too in the original implementation. Fixing this may offer a small perf boost by avoiding unnecessary method invocations.

[2017-02-13 18:46] rudygalfi commented on #7459
@akshatmalikcoc I think there's something missing after "view source of the page reveals". Can you clarify your question?

[2017-02-13 18:48] choumx commented on #5059
Closing in favor of #6199.

[2017-02-13 18:48] #5059 closed

[2017-02-13 18:49] dvoytenko commented on #7483
Hmm. They do have a placeholder. With that in mind, it's hard to require more. I will analyze it a bit deeper though.

[2017-02-13 18:49] aghassemi commented on #5147
Actually closing this one, we can reopen if it comes up again.

[2017-02-13 18:49] #5147 closed

[2017-02-13 18:50] aghassemi commented on #4999
Dup of https://github.com/ampproject/amphtml/issues/6712

[2017-02-13 18:50] #4999 closed

[2017-02-13 18:50] dvoytenko commented on #6626
@tlong2 This request is done, right?

[2017-02-13 18:51] aghassemi commented on #4947
Closing as dup of https://github.com/ampproject/amphtml/issues/5177

[2017-02-13 18:51] #4947 closed

[2017-02-13 18:52] tlong2 commented on #6626
Yep sorry, forgot to close.

[2017-02-13 18:52] #6626 closed

[2017-02-13 18:53] erwinmombay opened #7511 "update docs to use yarn insead of npm"
we are migrating to yarn for more deterministic builds

[2017-02-13 18:54] choumx commented on #7505
- Web workers for amp-bind (#7436)
- Making `AMP.setState` more powerful (#7399)
- Fixed and deployed amp-bind's usage of `Chunks` (#7473)

[2017-02-13 19:06] rudygalfi commented on #6128
Dima is going to work on this during the upcoming sprint. Reassigning from @avimehta to @dvoytenko.

[2017-02-13 19:06] rudygalfi commented on #6413
Per @dvoytenko during Sprint Planning, this should be covered by work in #7452, also happening in this sprint.

[2017-02-13 19:07] rudygalfi commented on #5318
@dvoytenko Can you confirm on @lannka's last comment and close this issue?

[2017-02-13 19:08] rudygalfi commented on #6417
Per Sprint Planning, not doing this in upcoming sprint.

[2017-02-13 19:09] #2327 closed

[2017-02-13 19:20] ericlindley-g opened #7512 "Tracking: example for tabbed UI in AMP by Example"
Tracking issue in this repo for the example here: https://github.com/ampproject/amp-by-example/issues/559

tentatively /to @aghassemi , to re-assign as needed

[2017-02-13 19:22] ericlindley-g commented on #1443
Bumping up in priority, per discussion

[2017-02-13 19:26] sebastianbenz commented on #7506
@camelburrito can do - out of curiosity: how can ampstart solve this? I'd assumed that this is something that needs to be supported by the runtime?

[2017-02-13 19:37] pdufour commented on #655
Does anyone on the AMP team have an idea on LOE of this? I was thinking about taking a stab at it.

[2017-02-13 19:37] #5027 closed

[2017-02-13 19:38] jridgewell commented on #5061
Dupe of https://github.com/ampproject/amphtml/issues/3461.

[2017-02-13 19:38] #5061 closed

[2017-02-13 19:40] #5728 closed

[2017-02-13 19:42] camelburrito commented on #3084
With layers this will become obsolete - closing this

[2017-02-13 19:42] #3084 closed

[2017-02-13 19:43] camelburrito commented on #3320
@cvializ - this might be a good starter bug , let me know if you want to work on it.

[2017-02-13 19:45] jasti commented on #4874
@jpettitt I see that you've ended up using position:fixed with the carousel. Can this be closed?
<img width="363" alt="screen shot 2017-02-13 at 11 44 41 am" src="https://cloud.githubusercontent.com/assets/2366341/22900080/ee90b848-f1e1-11e6-94b9-e58f28cb3eec.png">

[2017-02-13 19:48] camelburrito commented on #5476
@dvoytenko - all iframes :) hope this is not too late

[2017-02-13 19:50] camelburrito commented on #3730
Was fixed lonnnng back !

[2017-02-13 19:50] #3730 closed

[2017-02-13 19:54] MadisonMiner commented on #7512
Hello,

I created a simple tabbed UI in AMP example, I thought you might find this helpful:
https://jsbin.com/pitalu/edit?html,output

Thank you,

[2017-02-13 19:56] akshatmalikcoc commented on #7459
@rudygalfi I guess it got hidden. My complete content once again below:

By default all url's show a "index,follow" under meta name=robots, however, when loading from cdn.ampproject.com/example.com/?amp=1 the view source of the page reveals: <meta name=robots content=noindex>

I have my newly indexed url's in search results containing "A description for this result is not available because of this

[2017-02-13 20:54] dvoytenko commented on #6340
@lannka Is there anything else left to do here?

[2017-02-13 20:55] #6106 closed

[2017-02-13 20:56] adelinamart commented on #7476
Since this is a P0, I'm adding it to the this Sprint queue.

[2017-02-13 20:57] dvoytenko commented on #5980
Upgrade has been rebuilt around `connectedCallback`. I believe this closes this issue. Please reopen if needed.

[2017-02-13 20:58] lannka commented on #6340
@dvoytenko yes, nothing has been done yet :-).  we need to first agree on the proposal.

[2017-02-13 21:01] camelburrito commented on #7505
- Reinstate amp-selector experiment - #7456
- Amp Start - home page UI - finished and merged
- Amp start - started work on components page.

[2017-02-13 21:03] pesho79 opened #7513 "amp-bind not working from today"
I used amp-bind last week and it works, but today shows the following error. What is the problem?

Uncaught (in promise) TypeError: Cannot read property 'enqueue' of undefined
    at lb (chunk.js:351)
    at jb (chunk.js:331)
    at chunk.js:72
    at Tb (bind-impl.js:196)
    at Rb (bind-impl.js:138)
    at bind-impl.js:101

[2017-02-13 21:04] cramforce commented on #655
Not 100% sure what LOE means :)

I think doing this as a document feature should be reasonably straight forward (although certainly not a small feature). It mostly depends on how much the documents cooperate. One facility that didn't exist when this was last discussed is AMP's shadow DOM support that would solve the style isolation issues between documents.

[2017-02-13 21:06] kmh287 commented on #7505
- Allowing amp-bind to add new bindings without re-scanning the entire DOM - #7439
- amp-bind for templates

[2017-02-13 21:07] cramforce commented on #7513
This is fixed in the latest release. Opt into dev channel here https://cdn.ampproject.org/experiments.html

[2017-02-13 21:07] #7513 closed

[2017-02-13 21:12] cramforce opened #7514 "Implement in amp-bind integration test"
I think something super simple should work like:

- load page with image
- click button
- observe that image source changed to new value

This should give us some confidence that things are working end to end while details are tested in unit tests.

[2017-02-13 21:20] choumx commented on #7369
@cramforce:

[2017-02-13 21:21] choumx commented on #7514
Closing in favor of #7369. Added your suggestion as a comment to that issue.

[2017-02-13 21:21] #7514 closed

[2017-02-13 21:23] alanorozco commented on #649
Taking over this.

@dvoytenko @aghassemi

Agreement on what the preferred syntax should be?

A)

     <amp-img .... on="tap:carousel1.go(1,false);tap:carousel2.go(1,false)">

B)

    <amp-img .... on="tap:carousel1.go(1,false),carousel2.go(1,false)">

[2017-02-13 21:35] aghassemi commented on #649
@alanorozco, `B`

[2017-02-13 21:41] jridgewell commented on #5980
Still an issue, but it's low priority.

[2017-02-13 21:49] Gregable commented on #7422
Couldn't reproduce again when chatting over slack. Added some test cases to our cache to make sure this issue doesn't regress.

[2017-02-13 21:49] #7422 closed

[2017-02-13 21:55] jridgewell opened #7516 "Error Logging test flake"
[code]

[2017-02-13 22:00] jridgewell commented on #7476
@dvoytenko: I've gone though every conceivable code flow and still can't find the recursive bug (hell, I can't find _any_ recursion). I'm certain this is another nessy issue, like https://github.com/ampproject/amphtml/issues/3519 and https://github.com/ampproject/amphtml/issues/3795 that affects crappy Android webviews.

How the hell does a [`String#trim`](https://github.com/ampproject/amphtml/iss

[2017-02-13 22:02] adelinamart commented on #3039
@rudygalfi to see if this can be prioritized as a new FR

[2017-02-13 22:10] spaddon commented on #6628
Ali,

What needs to be changed is clear, but not clear what is currently Blocked
(and would be unblocked)?

The current situation is that we have found a lot of other holes that we
are doing in a batch release that many of our customers really need to make
the AMP implementation useful for them. The biggest one is that we need to
enable the Google IMA plugin, so they can monitize. We're working on

[2017-02-13 22:15] mkhatib commented on #3937
Closing this. We've fixed a18y issues in forms messages.

[2017-02-13 22:15] #3937 closed

[2017-02-13 22:16] mkhatib commented on #3958
Custom validation should be a better accessible approach to show error messages. This message is only shown through CSS classes. Closing this, we launched custom-validation couple week ago.

[2017-02-13 22:16] #3958 closed

[2017-02-13 22:17] mkhatib commented on #6411
I believe the reasoning was to just encourage the usage of platform supported methods (meta on iOS and manifest for Android).

[2017-02-13 22:28] choumx commented on #7201
Closing in favor of #7399.

[2017-02-13 22:28] #7201 closed

[2017-02-13 22:36] dvoytenko commented on #7443
Duplicate of #5230.

[2017-02-13 22:36] #7443 closed

[2017-02-13 22:40] dvoytenko commented on #4849
Let's close for now.

[2017-02-13 22:40] #4849 closed

[2017-02-13 22:41] #4477 closed

[2017-02-13 22:44] #3204 closed

[2017-02-13 22:45] dvoytenko commented on #2968
Yes.

[2017-02-13 22:49] Gregable commented on #7350
I _think_ that the cache is actually correct here and javascript needs to be more strict. Specifically, there are not enough bits here. Note that the cache does accept `<a href="https://[2001:0db8::85a3]/">IPv6 URL</a>`. Note the `::` collapsing syntax. My browser (chrome) seems to agree, treating `https://[2001:0db8:85a3]/` as a query and `https://[2001:0db8::85a3]/` as an URL.

[2017-02-13 22:51] #2309 closed

[2017-02-13 22:58] adelinamart commented on #5327
What's the latest status here? Thanks

[2017-02-13 22:59] #6910 closed

[2017-02-13 22:59] adelinamart commented on #5326
@mikepmtl what's the latest status here? Thanks

[2017-02-13 23:06] jridgewell commented on #2640
[`getHtml`](https://github.com/ampproject/amphtml/pull/6818) may solve this.

[2017-02-13 23:09] #7355 closed

[2017-02-13 23:09] jridgewell commented on #7462
You mean `max(85%, 1000px)`, right?

[2017-02-13 23:16] adelinamart commented on #3022
What is the latest status here? Thanks.

[2017-02-13 23:17] dvoytenko opened #7519 "Bug: Failed to load store: incorrect origin"
Stack:
[code]

This happens due to in-viewer redirect. To support this, viewer has to accept the new URL in handshake. See #7300 (internal b/34893702).

[2017-02-13 23:18] adelinamart commented on #3077
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:18] #3077 closed

[2017-02-13 23:18] adelinamart commented on #3461
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:18] #3461 closed

[2017-02-13 23:18] adelinamart commented on #3618
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:18] jridgewell commented on #7463
We're getting several of these fetch-once-and-cache stores:

- [Call tracking](https://github.com/ampproject/amphtml/pull/7493)
- [amp-custom-ad](https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-custom.js#L33)

They could all use this de-dupe fragment logic (fragment isn't sent to the server), and there are likely other extensions that could take advantage of this. Ti

[2017-02-13 23:19] adelinamart commented on #3619
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:19] #3619 closed

[2017-02-13 23:19] adelinamart commented on #3620
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:19] #3620 closed

[2017-02-13 23:19] adelinamart commented on #3695
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:19] #3695 closed

[2017-02-13 23:19] aghassemi commented on #6628
@spaddon `autoplay` for `amp-ooyala` on mobile platforms is currently blocked until the two items (e.g. `playsinline` attribute and `mute()` setting `muted` property instead of `volume=0`) mentioned in https://github.com/ampproject/amphtml/pull/6466#issuecomment-265611391

[2017-02-13 23:20] dvoytenko opened #7520 "Ensure that internal testing jobs do not pollute error logs"
An example:
[code]

[2017-02-13 23:20] adelinamart commented on #3842
@ericlindley-g is this still needed?

[2017-02-13 23:21] adelinamart commented on #4046
Hey,

The AMP community has been working nonstop to make AMP better, but somehow we've still managed to grow an enormous backlog of open issues.  This has made it difficult for the community to prioritize what we should work on next.

A new process is on the way and to give it a chance for success we will be closing issues that have not been updated in awhile.

If this issue still requires further

[2017-02-13 23:22] dvoytenko opened #7521 "Error reporting: remove error creation from error stacks"
E.g.
[code]

E.g. here, `expectedError` in stack can be ignore and everything above it.

[2017-02-13 23:23] adelinamart commented on #4698
@lannka do we still need this?

[2017-02-13 23:24] adelinamart commented on #4694
@rudygalfi do we still need this? Thanks

[2017-02-13 23:24] jridgewell commented on #4663
Created b/35325316 to track this internally.

[2017-02-13 23:25] ericlindley-g commented on #3842
Yep—updated w/ priority and put in "New FRs"

[2017-02-13 23:25] adelinamart commented on #4677
@yang-wei do we still need to keep this open? Thanks

[2017-02-13 23:25] adelinamart commented on #4637
Do we still need this?

[2017-02-13 23:27] jridgewell commented on #5681
Do wah?

[2017-02-13 23:27] lannka commented on #4698
this is a bug. but all new tests should now use `describes`

[2017-02-13 23:27] #4698 closed

[2017-02-13 23:27] adelinamart commented on #4613
Is this still broken? Thanks

[2017-02-13 23:28] adelinamart commented on #4572
Do we still need this? Thanks

[2017-02-13 23:29] adelinamart commented on #4450
This looks stale. Closing it for now, but feel free to re-open.

[2017-02-13 23:29] #4450 closed

[2017-02-13 23:31] adelinamart commented on #4360
Do we still need to fix this?

[2017-02-13 23:32] adelinamart commented on #2970
What is the latest update here?

[2017-02-13 23:37] ericlindley-g commented on #4572
Closing for now, but please feel free to re-open if @cramforce 's suggestion of `amp-list` doesn't fully address the issue.

[2017-02-13 23:37] #4572 closed

[2017-02-13 23:39] cramforce commented on #7463
Good hint. And yes, that is basically the idea of this to make it accessible to most XHR consumers.

[2017-02-13 23:41] lannka commented on #4613
I believe so. Needs their fix.

[2017-02-13 23:47] ericlindley-g commented on #7512
Nice! Thanks for sharing — @sebastianbenz and @aghassemi, do you have any feedback on the route @MadisonMiner took? Is it a good candidate to shape into a PR? (may be best to follow up in [the issue in AMP by Example's repo](https://github.com/ampproject/amp-by-example/issues/559))

[2017-02-13 23:50] dvoytenko commented on #7501
@dignustech The example doesn't appear to be a valid AMP page. Is that a right example?

[2017-02-13 23:52] ericlindley-g commented on #3320
I'm on the fence if this is the right way to solve potential issues, as there may be use cases where users want to have two sidebars open at the same time. Adding to the "New FRs" milestone to think through.

[2017-02-13 23:57] dvoytenko opened #7522 "getIntersectionElementLayoutBox API is unclear"
Trying to figure out if we can clarify this a lot better:

[code]

The statement that this is "element's intersection with the viewport." and `return this.getLayoutBox()` reads to me like an oxymoron. Could someone please clarify what's the true intent of `getIntersectionElementLayoutBox`?

[2017-02-14 00:03] dvoytenko commented on #7392
I double-checked. All of these are still preserved in SVG2 so we should definitely whitelist.

See https://www.w3.org/TR/filter-effects/

[2017-02-14 00:09] adelinamart commented on #4601
Is this still reproducible?

[2017-02-14 00:10] adelinamart commented on #4609
@pbakaus are there still things to discuss here? Thanks

[2017-02-14 00:10] camelburrito commented on #3320
@ericlindley-g The sidebar was built to show one sidebar at a time , why else would we have a mask. We could re-spec it completely on the next version(which will happen in june i guess ). But this version should only display one sidebar at a time

[2017-02-14 00:11] aghassemi opened #7523 "running `gulp test` locally fails"
Running `gulp test` locally fails with many failured. Travis is fine though. Also doing `gulp dist` and then  using `--compiled --build` to test against dist binaries is fine locally though.

/to @rosariomg
/cc @erwinmombay

[2017-02-14 00:12] adelinamart commented on #4643
Do we still need to work on this one, or do we have another bug for this?

[2017-02-14 00:15] pbakaus commented on #4609
There are things still do do here :) Would be nice if we could find a way to remove the inlining limitation. But we can close this one for now and revisit at a later point.

[2017-02-14 00:18] cnsdjy1212 opened #7524 "122349"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2017-02-14 00:19] #4609 closed

[2017-02-14 00:19] dvoytenko commented on #485
Cool. Let's track style and filters separately.

Let's postpone mesh and hatch - I don't believe they are supported anywhere.

`solidcolor` is indeed defined is lowercase (although all examples are in camelcase). Let's support. https://www.w3.org/TR/SVG2/pservers.html#SolidcolorElement

Let's support `metadata`: https://www.w3.org/TR/2016/CR-SVG2-20160915/struct.html#MetadataElement

Let's support

[2017-02-14 00:19] adelinamart commented on #4793
What's the summary here? Any work to consider for this year? Thanks

[2017-02-14 00:20] adelinamart commented on #4848
Related issue is fixed. Anything else to be done here?

[2017-02-14 00:21] Gregable commented on #485
I'm unsure about SVG, but HTML is case-insensitive when it comes to tag names, thus the validator is as well.

[2017-02-14 00:21] #6934 closed

[2017-02-14 00:22] adelinamart commented on #4852
Do we still need this FR? Thanks

[2017-02-14 00:23] adelinamart commented on #4883
@jridgewell  referenced issues is closed. Anything else left to be done here? Thanks

[2017-02-14 00:23] lannka commented on #7522
This is expected to be overridden by any extension that want to provide a different box. And I only found amp-iframe is doing so.

[2017-02-14 00:24] adelinamart commented on #4986
@dvoytenko who will be the best person to work on this?

[2017-02-14 00:25] adelinamart commented on #5000
@rudygalfi is this still up for discussion?

[2017-02-14 00:25] dvoytenko commented on #6127
I assume `amp-analytics` refers to `config=""` attribute? If so, empty value is supported here.

Not the case for `amp-pixel.src` however. Normally we resolve all URLs against the base or against the source. And normally, an empty `src` is resolved as well. Are we sure that it's a good idea to walk away from these rules in this case?

[2017-02-14 00:27] adelinamart commented on #5062
@jmadler any updates here? Thanks

[2017-02-14 00:29] adelinamart commented on #5111
Referenced issue is closed. Is this still reproducible? Thanks

[2017-02-14 00:35] adelinamart commented on #5206
Does this still needs to be prioritized for this year? Thanks

[2017-02-14 00:36] dvoytenko commented on #7380
#5219: `amp-facebook-comments` extension

[2017-02-14 00:36] adelinamart commented on #5125
Did anyone followed on the external bug lately? Thanks

[2017-02-14 00:36] dvoytenko commented on #5219
I scheduled this for design review this week. See #7380. Please join if you can.

[2017-02-14 00:37] adelinamart commented on #5213
Is this still at discussion level? Thanks

[2017-02-14 00:39] adelinamart commented on #5227
@cekvenich anything else needed to be answered here?

[2017-02-14 00:40] dvoytenko commented on #7380
#5225: allow `AMP.goBack` action to navigate outside the boundary of the current document.

[2017-02-14 00:40] dvoytenko commented on #5225
I scheduled this for a wide audience for this week's design review (#7380). Please join if you can.

[2017-02-14 00:40] adelinamart commented on #5236
@ericlindley-g is this FR prioritized?

[2017-02-14 00:40] jridgewell commented on #4360
Yes.

[2017-02-14 00:41] #7524 closed

[2017-02-14 00:41] dvoytenko commented on #7522
Perhaps. But the default implementation seems to not do what the method promises at all.

[2017-02-14 00:41] adelinamart commented on #5269
@erwinmombay what's this topic about? Thanks

[2017-02-14 00:42] adelinamart commented on #4421
What's the status here? Thanks

[2017-02-14 00:42] adelinamart commented on #4784
Is this still an open discussion? thanks

[2017-02-14 00:43] adelinamart commented on #5017
Is this still a bug? Thanks

[2017-02-14 00:44] dvoytenko commented on #7283
All! So we went for quite a loop trying to debug it. I wonder if anyone has any recommendation on how to debug Chrome iOS on devices?

[2017-02-14 00:47] erwinmombay commented on #7434
so this is because amp-live-list replaces the amp form and no longer gets proxied.
I dont think amp-live-list should know anything about amp-form, amp-form or some other framework level service should detect this imo.

cc @dvoytenko @mkhatib

[2017-02-14 00:48] jridgewell commented on #5111
Still happening.

[2017-02-14 00:48] dvoytenko commented on #7434
We definitely need to find a way to pick up the implementation. Any ideas how do do this? Let's outline couple options available to us. This is pretty important. I'm gonna keep it at P1, but I'd like to have that discussion asap.

[2017-02-14 00:49] puppetmaster3 commented on #5227
Thx for help. I now don't recall my issue. Please close

[2017-02-14 00:49] jridgewell commented on #7522
`<amp-ad>` also does.

How not? By default, the box you want to intersect with is the element's box.

[2017-02-14 00:49] dvoytenko commented on #4986
@adelinamart Not necessarily :)

[2017-02-14 00:49] #5227 closed

[2017-02-14 00:52] jridgewell commented on #4883
Yup. For reference, this was done in several issues:

- https://github.com/ampproject/amphtml/issues/6551
- https://github.com/ampproject/amphtml/issues/6550
- https://github.com/ampproject/amphtml/issues/6549
- https://github.com/ampproject/amphtml/issues/6539

[2017-02-14 00:52] #4883 closed

[2017-02-14 00:53] jridgewell commented on #4848
Still need the documentation.

[2017-02-14 00:54] jasti commented on #6127
For `amp-analytics`, I think Michael was referring to making event and pageview URLs to be optional.
For pixel, there are two use cases to validate from the requestor's perspective:
1. optional attributes
2. ability to validate with macros

Since both of these actually don't lead to visually broken content, I'd recommend we allow it. Or we should consider building a proper templating mechanism int

[2017-02-14 00:55] jridgewell commented on #4601
Haven't seen it in a while.

[2017-02-14 00:55] #4601 closed

[2017-02-14 00:55] dvoytenko commented on #7522
`getLayoutBox` is the position/size in the document. `getIntersectionLayoutBox()` is documented as the intersection with viewport. Unless I'm misreading it and it's as simple as updating docs slightly.

[2017-02-14 00:55] dvoytenko commented on #7522
(this is, btw, I'm asking :))

[2017-02-14 00:57] jridgewell opened #7527 "Forbid for-in looping an array"
Re: https://github.com/ampproject/amphtml/pull/7517

It's a sin. 🤢

[2017-02-14 00:57] dvoytenko commented on #485
@Gregable Since SVG is XML it, in theory, is case-sensitive. We are obviously totally fine if we do our checks in a case-insensitive way since it's very unlikely that the same name would be reused in different case.

[2017-02-14 01:04] jridgewell commented on #7522
It's `#getIntersectionLayoutBox`, not `#getIntersection`. This method is meant to get the box that we will use when we calculate the intersection.

Maybe a better wording is:

[2017-02-14 01:09] mkhatib commented on #5327
Haven't heard back from @Em-PredragMilosevic - closing this for now.

[2017-02-14 01:09] #5327 closed

[2017-02-14 01:10] #5321 closed

[2017-02-14 01:10] #5325 closed

[2017-02-14 01:11] #5005 closed

[2017-02-14 01:12] mkhatib commented on #5004
Custom validations should cover a lot of the use cases where this might be useful. Closing.

[2017-02-14 01:12] #5004 closed

[2017-02-14 01:13] mkhatib commented on #5000
Closing this. This was mostly a look into current limit but I don't think in practice this makes sense.

[2017-02-14 01:13] #5000 closed

[2017-02-14 01:15] mkhatib commented on #4637
No closing this.

[2017-02-14 01:15] #4637 closed

[2017-02-14 01:16] #4677 closed

[2017-02-14 01:16] mkhatib commented on #3685
I'll close this for now. cc/ @aghassemi if this need to be considered in future.

[2017-02-14 01:16] #3685 closed

[2017-02-14 01:16] #3698 closed

[2017-02-14 01:18] keithwrightbos commented on #4360
@lannka I propose moving this to @taymonbeal

cc/ @tdrl

[2017-02-14 01:21] mkhatib commented on #5213
I'll close this for now. This was a suggestion to allow multiple-submit buttons be identified on the server. This first came out in need for implementing add-to-cart flows, we've made a lot of progress there.

cc/ @rudygalfi if this is still needed.

[2017-02-14 01:21] #5213 closed

[2017-02-14 01:27] mkhatib commented on #6455
I am not entirely sure about other viewers. But it looks like yes this was a problem with the testing method - forgetting to add /s/ part of the viewer URL.

Closing this

[2017-02-14 01:27] #6455 closed

[2017-02-14 01:29] elisei commented on #6104
Also with validation error waiting for change and tracking.

[2017-02-14 01:42] #5017 closed

[2017-02-14 02:04] aghassemi commented on #4852
yes, let's keep it.

[2017-02-14 02:06] jrf0110 commented on #7283
Only way I know is Browserstack + firebug:

[code]

[2017-02-14 02:08] dvoytenko commented on #7522
Yeah. That wording is a lot clearer. If I'm the only one who found it confusing, we can skip. But if not - let's update.

[2017-02-14 02:16] dvoytenko commented on #7476
I'll monitor for 2 more days.

[2017-02-14 02:21] dvoytenko commented on #5476
It's in all iframes now.

[2017-02-14 02:21] #5476 closed

[2017-02-14 03:27] ericlindley-g commented on #4852
+1 to keeping this for now. I should note that I think amp-bind covers this, using the amp-video component (you can see a demo in the last example on [this page](https://ampbyexample.com/components/amp-bind/)). Note that amp-bind is currently experimental, so it is not yet in production.

[2017-02-14 03:33] ericlindley-g commented on #5236
It's not in the OKRs, so I think "New FRs" is the right place, though I've assigned a priority to it.

[2017-02-14 03:45] camelburrito opened #7534 "amp-selector - CSS Outline is too Specific"
For example, in AMP start, I needed to make my selector like this to make the override possible.,

[code]

 we should split up the selectors into smaller (less specific ones) to make it easier to override - we would need to follow the same principle in all our components to make overriding more simple.

[2017-02-14 03:46] camelburrito commented on #7534
CC @cramforce @aghassemi

[2017-02-14 04:59] ChuntheQhai opened #7537 "How to pass data through amp-form?"
I have user information form. The form is validated using custom validation amp-form. My xhr-action attributes was pointing to my API url. When I submit my form with POST, my api returns nothing because req.body shows empty. Previously I'm using normal form action is working fine.

`'/api/submit': {
 post: function(req, res){
   console.log(req.body);
 }
}`

[code]

[2017-02-14 05:52] camelburrito opened #7538 "Polyfill position:sticky?"
We should consider polyfilling `position:sticky`. (Only on IE - if possible)

[2017-02-14 06:08] jasti commented on #6127
Re-reading it, 2. is not relevant to this conversation. Still think we should allow empty URLs and remove references during reserialization, if possible.

[2017-02-14 06:15] aghassemi commented on #4643
#4152 should cover these requirements.

[2017-02-14 06:15] #4643 closed

[2017-02-14 07:00] jridgewell commented on #7476
So I don't forget tomorrow: https://output.jsbin.com/qekuxe

[2017-02-14 07:36] derekcecillewis commented on #7505
### amp-sortable-table ([#6057](https://github.com/ampproject/amphtml/issues/6057))

Last week:
 - Provided proof of concept prototype
 - Received feedback

This week:
 - Implement optimizations from @camelburrito's prototype
 - Evaluate screen reader support for Flexbox ordering
 - Update design doc to reflect @camelburrito's feedback (attribute names, logic, initial scope)

[2017-02-14 07:52] aashishpahwa opened #7540 "My website show black page for amp urls."
Hi.
It was working all fine before the update.

Now the website shows a blank white page for any amp query. Please fix this ASAP.

Website - feedough.com

[2017-02-14 07:54] aashishpahwa commented on #7540
Please fix this asap.

I don't want my rankings to suffer

[2017-02-14 08:58] Em-PredragMilosevic commented on #5327
I'm sorry, somehow i didn't see this up to now.

On our video platform, placeholder is controled by users.
By default, placeholder is frame taken from the middle of a video, or it can be uploaded by user.
Placeholder used to match first frame, but we had a lot of complaints, because first frame is usually just black screen and users didn't like that.

[2017-02-14 11:12] tlong2 commented on #7366
Got fixed by https://github.com/ampproject/amphtml/pull/7535

[2017-02-14 15:22] cramforce commented on #4793
CloudFlare was planning to provide a discuss a design in today's design review.

[2017-02-14 15:23] cramforce commented on #5125
@adelinamart Uhm, yes :)

[2017-02-14 15:25] cramforce commented on #7534
Would this change be backward compatible?

[2017-02-14 15:36] dknecht opened #7543 "Cloudflare A4A shouldn't use relative src attribute"
There re-write of spruce in cache ads extra absolute path

`<amp-ad width=320 height=250 type=cloudflare data-cf-network="cloudflare" src="/a4a-ad.html" data-cf-a4a="false"></amp-ad>`

to

`src="https://firebolt.cloudflaredemo.com/_a4a/https://firebolt.cloudflaredemo.com/a4a-ad.html?amp-slot-index=0&a4a-upgrade-type=amp-ad-network-cloudflare-impl&__amp_source_origin=https%3A%2F%2Ffirebolt.cloudfla

[2017-02-14 15:36] ericlindley-g commented on #5527
Passing back to @cramforce to figure out who the best owner is, but let me know if there are product tradeoffs here that I can help research/evaluate, and I'm happy to take it back :)

[2017-02-14 16:00] camelburrito commented on #7534
Yes

[2017-02-14 16:10] aghassemi commented on #7523
Fixed by https://github.com/ampproject/amphtml/pull/7535

[2017-02-14 16:10] #7523 closed

[2017-02-14 16:13] aghassemi commented on #7537
/to @mkhatib

[2017-02-14 16:18] aghassemi commented on #7540
@aashishpahwa Looking at http://www.feedough.com/amp/, that URL returns empty response instead of a valid AMP page. Likely something with your server configuration has changed.

[2017-02-14 16:18] #7540 closed

[2017-02-14 16:22] aashishpahwa commented on #7540
Hi
This is why I opened this issue.

On 14-Feb-2017 9:48 PM, "Ali Ghassemi" <notifications@github.com> wrote:

[2017-02-14 16:24] aghassemi commented on #7534
Question, why do we have the outline in the first place? I ran into this the other day and was surprised to see the outline, initially thought something with my CSS is broken until I inspected the element and noticed the outline is coming from the `amp-selector`.

My opinion is to remove the outline all together and keep `amp-selector` purely a behavior component without any style.

[2017-02-14 16:26] aghassemi commented on #7540
@aashishpahwa Unfortunately this is something that is not related to AMP runtime and a problem with your server configuration which is not something we control or have visibility to help debug.

[2017-02-14 16:28] aghassemi commented on #7540
if http://www.feedough.com/amp/ was returning some HTML and page was blank, we would have been happy to help figure out what is happening, but http://www.feedough.com/amp/ is simply not returning an HTTP response body.

[2017-02-14 16:29] unitydynamics opened #7544 "v0 AMP not compatible with IE 11"
Does AMP support IE 11?  I'm going to a lot of trouble to make sure my page AMP-validates and IE 11 is one of my test browsers.

Potentially two issues:
1) trimLeft is used exactly once in validator.js... something in my AMP page caused this code to try and execute.  IE 11 doesn't support trimLeft.

2) I'm getting a "IE media never resolved" error.  Not sure what to do with that.  No luck on Googl

[2017-02-14 16:32] camelburrito commented on #7534
That was what I thought too , but UX + few others(while reviewing) wanted a default CSS to guide authors. Which is not a bad idea.

[2017-02-14 16:33] cramforce commented on #7544
AMP itself should work in IE11. The validator may not (but do you really need that?), but could be fixed.

Where do you get the second error?

[2017-02-14 16:40] unitydynamics commented on #7544
Thank you for the prompt response... for the first item... yes the validator is probably more of a nice-to-have.

The second item... came from log.js and I'm not sure where else to point you other than I'm using production AMP.

File: v0.js, Line: 5, Column: 365

If you can guide me to how to debug AMP I will try to provide more information.  The error mean anything to anyone?

[2017-02-14 17:04] ajkim opened #7548 "Multisize Ads not getting centered with layout=responsive"
## Short description of your issue:
The multi-size feature for ads has a bug with the layout, in that it will not get centered responsively.

## How do we reproduce the issue?

http://stag.teenvogue.com/gallery/pictures-of-hillary-clinton-and-donald-trumps-election-2016-parties/amp

http://stag.teenvogue.com/story/young-hollywood-2016-meet-11-stars-you-need-to-know/amp

1. Load this url:  http://s

[2017-02-14 17:12] jpettitt commented on #7510
Where did amp-fx-scrollbound suddenly spring from?  Is there any design doc on the future of what sounds really useful feature for other scroll related things like showing a fixed mini-header/share bar when the main header scrolls off.

[2017-02-14 17:13] cramforce commented on #5527
To Justin

[2017-02-14 17:16] cramforce commented on #7544
Ah, yes #2577

CC @dvoytenko for insight what the error means. Wow, that is ugly :)

[2017-02-14 17:16] #4740 closed

[2017-02-14 17:28] dvoytenko commented on #7538
I'd rather not polyfill it. `position:sticky` has been elegantly designed by the WebSpec to have a decent fallback.

[2017-02-14 17:28] #7538 closed

[2017-02-14 17:34] dvoytenko commented on #7457
@lannka It's possible that I will have to do that, yes. I will see how much code reuse vs refactor would be forced here.

[2017-02-14 17:41] dvoytenko commented on #2992
This request is different. It asks to make authorization part to block render-start for the document, just as we do for fonts, experiments, etc.

[2017-02-14 17:41] dvoytenko commented on #2992
@adelinamart This needs to be scheduled and done. Not a controversial thing by any extent.

[2017-02-14 17:46] dvoytenko commented on #7520
One suggestion I have on this: create a small config of errors to be ignored. E.g.:
[code]

Etc. This way we remove false positive, but carefully to avoid false negatives.

[2017-02-14 17:49] dvoytenko commented on #2737
We can go back to the idea of using shadow DOM in some cases. However, it's important to stress why we walked away from SD for ads originally: `@media`, `vw`, `vh` and many others are near-impossible to properly reconstruct with SD.

[2017-02-14 17:54] Gregable commented on #4421
Still needs work, but is in the backlog.

[2017-02-14 17:59] aashishpahwa opened #7550 "No Favicon"
Hi

My amp pages show blank favicon. Is it because of any contradicting plugin or the problem is at the developers end?

[2017-02-14 18:04] dvoytenko commented on #5318
@rudygalfi @lannka @avimehta I believe this bug refers specifically only to an ability to override/restrict variables for AMP. As such, I believe this has been completed long ago.

[2017-02-14 18:04] #7340 closed

[2017-02-14 18:05] kmh287 commented on #7378
#7517

[2017-02-14 18:08] #5318 closed

[2017-02-14 18:25] pdufour commented on #655
Level of effort. What do you mean a document feature @cramforce?

[2017-02-14 18:39] Gregable commented on #6127
@jasti, the validator does not do anything with the JSON contents, so those fields (event and pageview) can be empty or even cat emojis. @dvoytenko, good catch, I missed that part of the spec. I'll also allow `config` to be empty.

If you don't want me to allow those two fields to be empty, speak now.

[2017-02-14 18:52] jridgewell commented on #7548
/to @glevitzky

[2017-02-14 18:53] jridgewell commented on #7510
/cc @dvoytenko

[2017-02-14 18:55] jridgewell commented on #7544
Promoting to a bug. This might be a new case that @dvoytenko media hack doesn't cover.

[2017-02-14 18:57] jridgewell commented on #7520
I thought I filed a bug to make that an expected error...

[2017-02-14 19:00] jridgewell commented on #7550
This is due to your server. For example, both NY Times on the [cdn](https://cdn.ampproject.org/c/s/mobile.nytimes.com/2017/02/14/us/politics/flynn-russia-trump-resignation.amp.html) and their [own domain](https://mobile.nytimes.com/2017/02/14/us/politics/flynn-russia-trump-resignation.html?referer=) display a favicon.

[2017-02-14 19:00] #7550 closed

[2017-02-14 19:01] #7378 closed

[2017-02-14 19:01] jridgewell commented on #7378
Closed by https://github.com/ampproject/amphtml/pull/7401.

[2017-02-14 19:16] jridgewell commented on #4986
This is an easy starter bug. Maybe one of our new team members could take it?

[2017-02-14 19:17] jridgewell commented on #4784
/to @Gregable https://github.com/ampproject/amphtml/issues/4784#issuecomment-245461660

[2017-02-14 19:19] jridgewell commented on #5062
This can be closed, right?

[2017-02-14 19:23] jridgewell commented on #4046
This one might be important.

[2017-02-14 19:26] Gregable commented on #4784
This has been fixed for some time.

[2017-02-14 19:26] #4784 closed

[2017-02-14 19:32] jridgewell commented on #7519
This is an expected error, so can this be closed?

[2017-02-14 19:33] jridgewell commented on #7300
Internal bug at b/34893702.

[2017-02-14 19:33] powdercloud opened #7552 "Validator unittest / build.py failing for Node.js v0.10.25"
When trying to run validator/build.py with this ancient node version there's two failures:
- engine/validator_test.js uses startsWith
- nodejs/index.js fails to report the proper exit status (since process.exitCode isn't supported)

This ancient Node.js version is what's on Ubuntu 14.04, so I think we still care a bit. I have fixes for both, just making a bug here to keep track.

[2017-02-14 19:34] ericfs commented on #7519
Do you have an example doc that causes this?

[2017-02-14 19:36] adelinamart commented on #5285
@dvoytenko do we still need to do this?

[2017-02-14 19:43] glevitzky commented on #7548
We've already had an extensive discussion on this here: https://github.com/ampproject/amphtml/issues/6166. The solution there was for the pub to change their CSS. In this case, doing:

[code]

Will do the trick.

[2017-02-14 19:48] #4777 closed

[2017-02-14 19:49] jridgewell commented on #2394
We did this with `chunk`. 😉

[2017-02-14 19:51] #7548 closed

[2017-02-14 19:52] dvoytenko commented on #6127
@jasti Do you have an example of such a document with empty fields? I'd like to be 100% confident what we'll allow.

[2017-02-14 19:54] dvoytenko commented on #7476
The errors are continuing at the same rate on canary. I'll drop the priority, but will keep the bug open for some time longer.

[2017-02-14 19:54] unitydynamics commented on #7544
Layout-wise I don't see any problems on the page.  My accordions are working fine.  Perhaps if we could change this from an error to a warning?  I'm speaking without knowledge of the root problem/fix.  Just throwing out a suggestion.

[2017-02-14 20:00] dvoytenko commented on #7534
All, TBH, it was me who insisted on the outline. And I still think it's the right thing to do, though would be happy to discuss. Obviously, CSS specificity is a pain and the only way I see it resolve would be via an internal class, as much as I'd hate that. A user would still be invited to override via `x[selected]` or such to preserve semantics.

[2017-02-14 20:11] jridgewell commented on #6771
@chenshay: Can this be closed?

[2017-02-14 20:28] dvoytenko commented on #7544
This is a `dev` error so normally a publisher would never see it unless they increase log level to 2 (`#log=2`). Is this what happened here?

Generally, we are trying to confirm that `window.matchMedia` works on IE correctly. Unfortunately, sometimes it doesn't. @unitydynamics Are you saying that you are seeing this error every time? If so, could  you please describe how you are testing? I.e. plat

[2017-02-14 20:44] camelburrito commented on #7534
@dvoytenko - I think @abeck000 and @ericlindley-g were on board with that too. Its probably not just you.

I think specificity can be solved by writing simple selectors in this case (it was my mistake)

[code]

could have been

[code]
would have made it easier to override.

[2017-02-14 20:44] mkhatib commented on #7537
Hey @ChuntheQhai thanks for filing, do you have a link where this is hosted and can be tested?

I am not clear on what is the exact problem your facing, is the submit request not happening? Or the submission is failing?

[2017-02-14 20:49] unitydynamics commented on #7544
Developing / testing on Windows with my own local server http://localhost:8888/ (no fragment postfixes)
My own installation of IE 11
![image](https://cloud.githubusercontent.com/assets/14965930/22948428/8129d3c0-f2cc-11e6-8447-9ecc94433f53.png)

Seeing the error every time.  When IE dev tools is open it will halt all other javascript and open the debugger.  I don't see any easy options to log to a

[2017-02-14 20:50] sebastianbenz opened #7557 "amp-live-list: support amp-bind"
I'd be great if amp-live-list would support amp-bind. Two scenarios:

- [x] 1. amp-live-list could fire update events (`<amp-live-list on="update:setState(liveBlogUpdated=true)" ...>`). This be good to be able to update the elements in reaction to an update.
- [ ] 2. evaluate bind expressions inside new amp-live-list content: e.g. if users could filter amp-live-list content, these filters need to

[2017-02-14 20:50] adelinamart commented on #4046
@lannka is this something that we can leave assigned to you?

[2017-02-14 20:51] jridgewell commented on #5276
Closed by #7377?

[2017-02-14 20:53] jridgewell commented on #7557
/to @choumx, @erwinmombay

[2017-02-14 20:54] choumx commented on #7557
/to @kmh287

[2017-02-14 20:56] ericlindley-g commented on #7534
The case is somewhat ambiguous, I also still think the current visual styling is the right thing to do, but am happy to discuss. Agree that changes to make it easier to override would be good, given they're fully backward-compatible

[2017-02-14 21:15] powdercloud commented on #1156
Yes I am doing some tests with webworker and I think there is also still some room for more optimizations. I've made this issue https://github.com/ampproject/amphtml/issues/7420 to keep track of my progress.

[2017-02-14 21:17] muxin commented on #7516
Similar test flake
[code]

[2017-02-14 21:17] #5877 closed

[2017-02-14 22:17] src-code commented on #5721
Checking in on this one, is there current plans to address some of the `amp-analytics` gaps mentioned in [the above comment](#issuecomment-266865283)?  (Or have they already been addressed and I just missed it?  Been away from AMP for a little bit...)  If not, I'll open some issues up to track the individual pieces.  (It sounds like PR #7312 will help make item 3 possible, is that right @dvoytenko

[2017-02-14 22:23] codingdesigner commented on #7548
The bug isn't that they're not being centered horizontally. It's that with multisize ads at a range of heights the reserved vertical space for the tallest ad leaves a lot of space for the shortest.

For example on an add I see a attribute like: `data-multi-size="300x50,300x250,320x50"` and a height set to `height="250"` to accommodate the tallest. When that’s the case and we're served a 50px tall

[2017-02-14 22:32] jridgewell commented on #7548
@glevitzky: don't we resize the ad if we can?

[2017-02-14 22:40] glevitzky commented on #7548
We do resize the ad slot when we can. However, if the surrounding container is larger than the returned ad, and we have layout=responsive, then the tag will be styled with "display:block", and will try to align-left.

[2017-02-14 22:42] adelinamart commented on #4574
@eike-hass are there still any open questions here? Thanks

[2017-02-14 22:44] adelinamart commented on #5647
not sure where this FR will fit.

[2017-02-14 22:46] adelinamart commented on #5686
Is there still a request here? Thanks

[2017-02-14 22:47] erwinmombay commented on #5647
will take over this. should be a quick fix.

[2017-02-14 22:48] adelinamart commented on #5695
@erwinmombay is this more of a bug or a FR? Thanks

[2017-02-14 22:49] adelinamart commented on #5698
@aghassemi is this more of a bug or a FR? Thanks

[2017-02-14 22:49] aghassemi commented on #5698
FR

[2017-02-14 22:55] adelinamart commented on #5647
Awesome!

[2017-02-14 22:56] erwinmombay commented on #5695
@adelinamart a FR

[2017-02-14 22:59] adelinamart commented on #4910
@mkhatib do we still need this? Thanks

[2017-02-14 23:01] adelinamart commented on #4948
Assigning it to @rudygalfi until we know when work on this should start.

[2017-02-14 23:01] aghassemi commented on #7510
@jpettitt No design doc yet, but we did a hackaton on scroll-bound visual effects a while back ( you can see some of the work on this fork: https://github.com/ampproject/amphtml/commits/amp-scroll-sync, although the API will most likely change ).

Scroll-bound effects is back on our plate, current rough prioritization is to support a few `named` effects and later expose a generic framework for doi

[2017-02-14 23:02] adelinamart commented on #5051
What's the latest update on this? Thanks

[2017-02-14 23:06] adelinamart commented on #5301
@mkhatib is this still needed?

[2017-02-14 23:07] adelinamart commented on #5660
@dvoytenko is this fixed? I see referenced PR is merged. Thanks

[2017-02-14 23:08] ericlindley-g commented on #5206
Slotting as P3 for now — I've been interested in more opportunities to offer encapsulation/abstraction, and though we should be careful with this when dealing with dynamic content (as Dima points out), I wonder if there's something we can offer that will generalize to non-dynamic cases as well (?)

[2017-02-14 23:10] adelinamart commented on #5844
Any updates here? Thanks

[2017-02-14 23:28] powdercloud commented on #7552
https://github.com/ampproject/amphtml/pull/7558 fixed the second part.
I also made a fix for validator_test.js which will eventually get exported here.

[2017-02-14 23:39] ericlindley-g commented on #5686
@dandv — were you able to solve this without an additional feature to collapse `amp-list` when it doesn't have any items?

[2017-02-15 00:03] jasti commented on #4874
Please reopen is this is still an issue. Thanks.

[2017-02-15 00:03] #4874 closed

[2017-02-15 00:33] jridgewell commented on #5660
Not yet.

[2017-02-15 00:33] cheri3a commented on #7243
just install
: php7.0-xml
`sudo apt-get install php7.0-xml`
thank's

[2017-02-15 00:54] aghassemi commented on #7472
@rever1992 Do you need something like YT SPF to enable amp-to-amp navigation or need it for partial page updates based on user actions/fresh data availability?

We are working on amp-to-amp navigation and considering AMP is already fast to load, partial replacement on navigation is not something we are considering at the moment.

If you need it for partial rendering, there are a few components tha