[2019-03-27 09:19] ifatgv4 commented on #20864
@calebcordry, thank you for handling this.

When will the changes be available?

[2019-03-27 09:21] SimonHogstromRonbol opened #21596 "AMP-Form - add a class indicating wether an input/textarea has text in it."
## Describe the new feature or change to an existing feature you'd like to see

I would like to have a class added to an input field with the type; text, tel, email and such, and textareas, to indicate that the input field has been filled in.

That way we can style the form input based on it being filled in or not.

We have about 100 canonical amp domains that use amp-form, and usually we try to u

[2019-03-27 12:32] alabiaga commented on #21467
Apologies but moving this to the following week when @choumx is back.

[2019-03-27 12:32] alabiaga commented on #21468
I would like to briefly propose and discuss my changes for supporting custom delimiters in the amp-mustache component. #12994

[2019-03-27 13:56] Pateriack opened #21598 "Add data-credentials support to amp-story bookend component"
## Describe the new feature or change to an existing feature you'd like to see

The amp-analytics component supports credentials=include when fetching configuration from a remote url. I would like to see the same functionality added to the amp-story-bookend component. This would allow me to include "related stories" which are personalized to the user.

## Describe alternatives you've considered

I

[2019-03-27 14:11] mrjoro commented on #21467
Canceling since there are no topics.

[2019-03-27 14:11] #21467 closed

[2019-03-27 15:15] trackonomics opened #21599 "I2I: amp-funnel-relay"
## Summary
Funnel relay is a tool for publishers in the affiliate market. The tool involve a script running on articles's pages, extends affiliate links with extra information and track events on analytics that are later merged with other information about the traffic.

Code:
https://github.com/trackonomics/amphtml

## Design document
https://docs.google.com/document/d/1j7p9Mgh8dvQu6JwmZ4WN6Ww8KjC

[2019-03-27 16:04] sebastianbenz opened #21600 "[amp-bind] support `bind-x` as a shorter alternative syntax for JSX"
The current workaround for [amp-bind's brackets in JSX](https://www.ampproject.org/docs/reference/components/amp-bind#bindings) is `data-amp-bind-x="foo"` which is very noisy. It'd be great to also support a shorter version: `bind-x="foo"`.

//cc @cramforce @choumx @timneutkens

@Gregable FYI for possible validator implications.

[2019-03-27 16:25] mrjoro opened #21601 "Design Review 2019-04-17 20:00 UTC (cancelled)"
Time: [2019-04-17 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=04&day=17&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190417T200000Z/20190417T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-03-27 16:25] mrjoro opened #21602 "Design Review 2019-04-25 00:00 UTC (cancelled)"
Time: [2019-04-25 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=04&day=25&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190425T000000Z/20190425T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-03-27 16:25] mrjoro opened #21603 "Design Review 2019-05-01 15:30 UTC (wg-access-subscriptions update, worker-dom Canvas)"
Time: [2019-05-01 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=05&day=01&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190501T153000Z/20190501T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-03-27 16:26] mrjoro commented on #21601
Cancelling due to AMPConf.

[2019-03-27 16:26] #21601 closed

[2019-03-27 17:05] gmajoulet opened #21604 ""Play video" message displayed on story pages with audio but no video."
"Play video" message displayed on story pages with audio but no video.

![image](https://user-images.githubusercontent.com/1492044/55096785-eb050c00-5090-11e9-88bc-8c8013ca145b.png)

[2019-03-27 17:08] gmajoulet opened #21605 "Story audio UX messages font size is broken."
Story audio UX messages font size is broken.

![image](https://user-images.githubusercontent.com/1492044/55096998-5353ed80-5091-11e9-824d-adbfd4e71e48.png)

[2019-03-27 17:27] newmuis commented on #21605
System UIs should not inherit the base font size, which is based on the size of the amp-story-page.  We can either remember to always use `px` sizes, or we can add code in the shadow DOM helper to set the font size of the shadow root to something reasonable (e.g. `16px`).

[2019-03-27 17:28] newmuis commented on #21588
/cc @aghassemi is this a pattern you are okay with, generally?

[2019-03-27 17:44] sparhami commented on #21374
Looks doing #21568 would fix this.

[2019-03-27 18:19] cvializ opened #21609 "🚄Release tracking issue for release 1903281741200 (Canary)"
# Release tracking issue

- [x] Release [1903262017080](https://github.com/ampproject/amphtml/releases/tag/1903262017080) is cut as a new canary release
- [x] Release 1903262017080 pushed to dev channel (2:09 PM, Mar 27, 2019 UTC-4)
- [x] Release [1903281741200](https://github.com/ampproject/amphtml/releases/tag/1903281741200) created with cherry picks #21622 (2:45 PM, Mar 28, 2019 UTC-4)
- [X] Re

[2019-03-27 18:47] aghassemi commented on #21593
to @jeffjose

[2019-03-27 20:48] Gregable commented on #21600
@honeybadgerdontcare also. I don't see any validator problems with this unless bind-x is commonly used by something else in the wild. I don't know of anything like that. Could just be `amp-bind-x` too if so.

[2019-03-27 21:28] #21605 closed

[2019-03-27 21:39] #20312 closed

[2019-03-27 22:20] diantekyrie opened #21612 "Uncaught Error: The first argument to CLIENT_ID, the fallback Cookie name, is required: undefined"
## What's the issue?
[code]

Briefly describe the bug.

## How do we reproduce the issue?

1. Open https://www.google.com/amp/s/pagesix.com/2019/03/27/why-denise-richards-invited-ex-charlie-sheen-to-her-wedding/amp/
2. Open developer tools and see error in console

## What browsers are affected?
macOSX Chrome Version 73.0.3683.86 (Official Build) (64-bit)
macOSX Safari Version 12.0.3 (14606.4.5)
m

[2019-03-27 23:18] aghassemi commented on #21596
@SimonHogstromRonbol You should be able to control styles when input value changes using `change` or `input-throttled` events and `amp-bind`. You can check `empty or not condition` using `amp-bind` expressions however one use-case it won't support is if input already has value in it at load time.

/to @cvializ to further thoughts

[2019-03-27 23:23] aghassemi commented on #21588
@newmuis How are you planning to prevent publishers from calling `open` ?

[2019-03-27 23:43] calebcordry commented on #20864
@ifatgv This hit canary yesterday. Should be in prod next week.

[2019-03-28 01:02] newmuis commented on #21588
There's a [whitelist](https://github.com/ampproject/amphtml/pull/14628) of AMP actions that can be allowed in a document.

Currently we whitelist `open`.  If we instead whitelist `i-amphtml-open`, then publishers will not be able to use it, due to `i-amphtml` being invalid AMP.  They will be able to publish their document using `open`, but it will not function, as it will no longer be whitelisted.

[2019-03-28 01:55] #21324 closed

[2019-03-28 05:19] dvoytenko commented on #5811
/to @jpettitt @chenshay

[2019-03-28 06:43] newmuis commented on #13476
This affects both audio and video.  If `n` is the size of the MediaPool for the specified media type, then the you will encounter an error once you navigate to the page containing the `2n+1`th media element of that type.

This is because we delay clear the associated `replaced-media` after the promise from the `SwapOutOfDomTask` resolves:

https://github.com/ampproject/amphtml/blob/969a0a0ea9d0930

[2019-03-28 07:36] SimonHogstromRonbol commented on #21596
@aghassemi I'll look into using your suggestion as an alternative until this gets prioritised, thank you.

[2019-03-28 08:23] mirceapiturca opened #21617 ".well-known URL flexibility for update-cache"
## Describe the new feature or change to an existing feature you'd like to see

cache-update require a RSA key stored at an exact location: https://example.com/.well-known/amphtml/apikey.pub

There are platforms that do not allow a custom file sistem.
Shopify.com for example keeps all its assets on CDN: https://cdn.shopify.com/s/files/1/xxx/xxx/files/...
Due to this technical limitation, developer

[2019-03-28 09:59] merwan7 commented on #21395
@jpettitt We were hoping to deliver the new meter solution in June of this year. I believe that is when it will become critical for us.  How doable do you think this is? If not very, is there anything we can do to help speed things up?

[2019-03-28 10:23] ifatgv4 commented on #20864
@calebcordry thanks

[2019-03-28 10:47] matthiasrohmer opened #21619 "FR: Make amp-accordion share state across pages"
## Make `amp-accordion` share state across pages

The `amp-accordion` component natively stores the state (expanded|collapsed) of its sections per page in the session. It would be nice if the state would not just be saved for a certain page but across pages as well.

An example real world use case is the sidebar in amp.dev's [Guides & Tutorials section](https://amp.dev/documentation/guides-and-tut

[2019-03-28 11:42] sebastianbenz commented on #21619
//cc @aghassemi

[2019-03-28 14:35] aghassemi commented on #21576
Thanks for the PR @Jessman5 ! Appreciate it. It is merged.

[2019-03-28 14:35] aghassemi commented on #21576
Fixed by #21575

[2019-03-28 14:35] #21576 closed

[2019-03-28 14:38] cvializ commented on #21596
I can see this being a useful feature, but since equivalent behavior is possible through amp-bind, this will be low priority for now

[2019-03-28 16:06] shawnmaten opened #21620 "Support Video Components in Email"
## Describe the new feature or change to an existing feature you'd like to see

Support for amp-video (and/or other video components) in amp4email. Trying to get comments on its feasibility and likelihood.

## Describe alternatives you've considered

There's not really an alternative to video, but I could see this needing to be limited to approved video providers, rather than any content source.

[2019-03-28 16:13] shawnmaten commented on #21620
Tried to mention @ampproject/wg-amp4email team but that doesn't seem to work so mentioning @choumx and @jasti since you're the contributors listed.

[2019-03-28 16:31] diantekyrie opened #21621 "Uncaught (in promise) Error: Response must contain the AMP-Access-Control-Allow-Source-Origin header"
## What's the issue?
`Uncaught (in promise) Error: Response must contain the AMP-Access-Control-Allow-Source-Origin header`

Briefly describe the bug.
Page does not contain "must contain the AMP-Access-Control-Allow-Source-Origin header"

## How do we reproduce the issue?
1. Open https://www.washingtonpost.com/arts-entertainment/2019/03/27/why-prosecutors-dismissed-charges-against-jussie-smollett/

[2019-03-28 17:20] sparhami opened #21622 "🌸 Cherry pick request for 21613 into 1903262017080 (Pending)"
## PR that you are requesting a cherry pick for:

PR #21613

## Release(s) you requesting this cherry pick into:

Production Release? NO
Canary release? YES

## Why does this issue meet the [cherry pick criteria]

This breaks re-opening lightboxes on Safari. Since this is a rollback of a small change, it does not have downstream affects.

/cc @cramforce

[2019-03-28 17:37] cramforce commented on #21622
Approved

[2019-03-28 18:04] cvializ opened #21623 "amp-access accepts a configuration from tags that are not a script tag"
Expected behavior:
If the `id="amp-access"` element is not a `<script type="application/json">` the config should not be loaded and an error should be emitted

Observed behavior:
The `id="amp-access"` element is accepted even if it is a div

https://gist.githubusercontent.com/twifkak/fe2c9c6c9f286e07d44a9044c8e8d2e6/raw/2a8e621d284dbad9063e55914ddc4bf0f0ca0649/weird-amp.html

/cc @twifkak @honeyba

[2019-03-28 18:50] torch2424 commented on #20966
@MARQAS So I tested this out, and I'm having trouble getting the "headline" consent dialog (Which I assume is the consent prompt) to show up.

Could you set the `.gdpr` element to not be `position: fixed`? I think that may help in at least getting something to work in the meantime. The parent `amp-consent` element is already `position: fixed`. Thus you could add your styles to that if that works f

[2019-03-28 19:30] torch2424 opened #21626 "amp-consent: Specify in CMP iframe `name` attribute reason for loading"
Would like to know for example, if the CMP Iframe was loaded by `forcePromptOnNext` or `on="tap:consent.prompt"` or if it is the default bahavior. This should be passed in from the iframe name JSON.

[2019-03-28 19:36] cathyxz commented on #21599
/to @zhouyx and @ampproject/wg-analytics since @lannka is out

[2019-03-28 19:49] torch2424 commented on #21599
Thanks @cathyxz , @zhouyx , did Hongfei leave any last notes on the Affiliate linking extensions before they left? What's our plan forward for this? 😄

[2019-03-28 19:53] hadidotj commented on #15343
Hi @choumx,

I saw a while go that this became prioritized and changed to "P2: Soon". Is there a timeline on when <amp-image> and/or <amp-video> can be injected dynamically/during runtime using "Triple Mustache?"

Thanks,
Tyler

[2019-03-28 20:01] glevitzky commented on #19951
Glad to hear of your success!

On https://www.dianomioffers.co.uk/mjs/amp/test.epl, for some reason we are unable to read the "amp-ad-response-type" header, which is causing the observed error. I've compared the HTTP response from that page against the one from https://www.dianomi.com/mjs/amp/test.epl, and the only difference is that in the latter you use `access-control-allow-origin: *` while in

[2019-03-28 20:01] alabiaga commented on #15343
@hadidotj I'll talk to @choumx on whether this needs to be prioritized. It's assigned to me but I have had other tasks that took priority. Thanks

[2019-03-28 20:22] dianomi-mjs commented on #19951
Hi @glevitzky

Thank you for that - I used the excellent [requestly plugin](https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en) modify the response header to access-control-allow-origin: *. This unfortunately gives me a whole host of console errors starting with

Access to fetch at 'https://www.dianomi.com/smartads.pl?format=amp&id=3186&__amp

[2019-03-28 20:49] glevitzky commented on #19951
Okay, made a little progress. You want to add `amp-ad-response-type` to `access-control-expose-headers`. Verified using requestly that this eliminates the "Invalid Recovery Mode" error, but there's still some further issues. Investigating now.

[2019-03-28 20:58] zhouyx commented on #21599
Hello @trackonomics. Thank you for your interest in integrating with AMP.
We recently get a list of similar requests. Instead of having every service provider add their own component, we think a more general support can best save development and maintenance effort. Please take a look at #20653 and let us know if the general support can fulfill your requirement.

[2019-03-28 20:59] glevitzky commented on #19951
Think I got it. You need to add both `amp-ad-template-extension` and `amp-ad-response-type` to `access-control-expose-headers`. So the full header should look like: `access-control-expose-headers: AMP-Access-Control-Allow-Source-Origin, AMP-Access-Control-Allow-Source-Origin,amp-ad-response-type,AMP-Ad-Template-Extension` (case-insensitve).

[2019-03-28 21:33] dianomi-mjs commented on #19951
Thanks @glevitzky

https://www.dianomioffers.co.uk/mjs/amp/test.epl

now seems to work!

[2019-03-28 21:50] jasti commented on #19951
@dianomi-mjs congrats!
Have you seen any latency differences between the two?

[2019-03-28 21:58] torch2424 commented on #21617
Triaging to @Gregable , Feel free to re-assign 😄

[2019-03-28 22:01] torch2424 commented on #21598
Triaging to @calebcordry , feel free to re-assign.

FYI @newmuis since Caleb is out 😄

[2019-03-28 22:08] dianomi-mjs commented on #19951
@jasti Nothing obvious - but both are noticeably faster than the cloudflare served version

[2019-03-28 22:09] torch2424 commented on #21595
Hello @maquetadortde

Thank you for the issue! 😄

Will investigate once we get the chance.

cc @zhouyx 👍

[2019-03-28 22:15] torch2424 commented on #21514
Triaging to @zhouyx in the meantime, just to get this looked into. 😄

[2019-03-28 22:25] Pkmmte commented on #14059
Any updated timeline on this?

[2019-03-28 22:35] aghassemi commented on #21588
I assume (or suggest) you will be calling `open` from `amp-story` JS code (using `ActionService`'s `trigger` method (https://github.com/ampproject/amphtml/blob/master/src/service/action-impl.js#L375) rather than through `on=...` string.

My recommendation is adding a `ignoreWhitelist` to the existing `options` param of trigger, this way your code can call `open` just fine without a need to alias i

[2019-03-28 22:39] aghassemi commented on #14059
@Pkmmte this feature is currently experimentally available under a `doc-level optin`, please see documentation on how to optin: https://www.ampproject.org/docs/reference/components/amp-next-page

[2019-03-28 23:08] zhouyx opened #21633 "amp-bind: Make [data-vars-*] bindable"
When using amp-bind expression to set attribute values, we want amp-analytics to be able to collect some amp-bind expression value.
This may be done through the `data-vars_*` attribute, I wonder if we can make the attribute bindable?

[2019-03-29 02:27] #13476 closed

[2019-03-29 02:36] newmuis commented on #17627
I believe this has been fixed by requiring `<amp-audio>` to have `layout="nodisplay"` in stories.

[2019-03-29 02:36] #17627 closed

[2019-03-29 02:39] newmuis commented on #14101
We have decided not to allow arbitrary fallbacks, given that the content type is substantially different.  We may at some point separately consider a templated fallback.

[2019-03-29 02:39] #14101 closed

[2019-03-29 02:41] newmuis commented on #20344
This was updated in #21572.

[2019-03-29 02:41] #20344 closed

[2019-03-29 02:45] newmuis commented on #15845
`<amp-story-page-attachment>` is live!

[2019-03-29 02:45] #15845 closed

[2019-03-29 02:50] newmuis commented on #20296
Closing this since the user has not responded; @siddiqrahman please let us know if you're still experiencing issues with this.

[2019-03-29 02:50] #20296 closed

[2019-03-29 02:54] newmuis commented on #17075
Closing this, since a format-level primitive for this doesn't feel right here; publishers can achieve this by embedding the content directly into the page.

[2019-03-29 02:54] #17075 closed

[2019-03-29 02:55] newmuis commented on #16786
Closing this, since there is nothing actionable here.

[2019-03-29 02:55] #16786 closed

[2019-03-29 02:56] newmuis commented on #16533
This desktop experience has rolled out!

[2019-03-29 02:56] #16533 closed

[2019-03-29 02:57] newmuis commented on #16458
This is necessary to ensure that the story UI chrome remains accessible even in the worst case.  I don't think this can be removed.

[2019-03-29 02:57] #16458 closed

[2019-03-29 02:58] newmuis commented on #16376
This is now covered in https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story.md#migrating-from-01-to-10

[2019-03-29 02:58] #16376 closed

[2019-03-29 04:17] westonruter commented on #21371
@cathyxz I believe I've worked out how to successfully incorporate your fix in the AMP plugin. See https://github.com/ampproject/amp-wp/pull/2036

Is the change safe to include in a release of the plugin in the next 1-2 weeks?

[2019-03-29 05:02] honeybadgerdontcare commented on #21588
We do not allow `i-amphtml-` in `<style amp-custom>` nor as the value for attributes `class` or `id`. IOW, it is not generally excluded as a value for any attribute.

[2019-03-29 09:28] joshin2017 opened #21634 "AMP Errors not showing from Shell command in PHP"
Hi
If I ran the command from CMD amphtml-validator https://ampbyexample.com/ it works fine, also give errors if the url is having amp issues.

But if I try same thing from Php Shell command : $output =  exec('amphtml-validator https://ampbyexample.com/'); It get PASS as return if the link is valid but if the link is having some amp issue it return empty.

[2019-03-29 12:51] cramforce commented on #17780
CC @jasti

[2019-03-29 14:15] #21387 closed

[2019-03-29 14:38] #21482 closed

[2019-03-29 15:06] Enriqe commented on #19999
Closed in #20468

[2019-03-29 15:06] #19999 closed

[2019-03-29 16:23] honeybadgerdontcare commented on #21634
I haven't looked at PHP in a while but I'm guessing that this has to do with how `exec` is handling the return object. When validation occurs it returns an ValidationResult object that has both the status (PASS/FAIL) and the errors (ValidationErrors). https://github.com/ampproject/amphtml/blob/master/validator/validator.proto#L881

Have you tried using the [WebUI](https://validator.ampproject.org)

[2019-03-29 16:45] Gregable commented on #21617
Thanks for the suggestion. I'll route your request to the Google AMP Cache product internal issue tracker and give you any updates here, though I'm not much more than a simple router.

I will add that the `<meta>` tag approach is probably not feasible as it is somewhat more common for an attacker to be able to inject content onto a page body than other mechanisms. I don't personally see any partic

[2019-03-29 16:50] mirceapiturca commented on #21617
Thank you,
Really looking forward

[2019-03-29 17:12] aghassemi commented on #21621
@diantekyrie  `response must contain the AMP-Access-Control-Allow-Source-Origin header` are user errors related to AMP CORS ( https://www.ampproject.org/docs/fundamentals/amp-cors-requests )

[2019-03-29 17:13] #21621 closed

[2019-03-29 17:14] aghassemi commented on #21612
also user error.

[2019-03-29 17:14] #21612 closed

[2019-03-29 17:15] aghassemi commented on #21622
It has been cherry-picked.

Closing.

[2019-03-29 17:15] #21622 closed

[2019-03-29 17:23] #21623 closed

[2019-03-29 17:47] cathyxz commented on #21371
The object-fit contains change is fine, since that should not depend on anything and should also not have any side effects. I believe you are also using doc-level opt-in for `amp-img-auto-sizes`, so I don't see any issues with removing sizes either. I haven't looked super closely at the other parts of your PR so I can't speak to that, but I think it should be fine. If you want to wait until `amp-i

[2019-03-29 18:01] sebastianbenz commented on #21634
Adding @westonruter who might have a better suggestion on how to run validation from PHP.

[2019-03-29 19:10] cvializ commented on #20457
I think this was implemented fully by #21236

[2019-03-29 19:24] #20457 closed

[2019-03-29 19:52] westonruter commented on #21371
@cathyxz actually, I didn't include doc-level opt-in for `amp-img-auto-sizes` in this PR. But I just added an opt-in via URL parameter to test:

* ✅ Non-AMP: https://2019-theme.amp-wp.org/bison-image-test/
* ✅ AMP _with_ sizes removed: https://2019-theme.amp-wp.org/bison-image-test/?amp&temp_amp_remove_img_sizes=false
* ⛔️ AMP _without_ sizes removed: https://2019-theme.amp-wp.org/bison-image-test

[2019-03-29 20:00] cathyxz commented on #21371
I see. I think even though it visually looks right, if the underlying `img` tag does not have a `sizes` attribute, there will be a perf hit because you unnecessarily downloading images that are too large (esp for Firefox and Safari, both of which will always pick the largest src in the `srcset` if no `sizes` attribute is given, Chrome does semi reasonable things). So I think it's a good idea to fo

[2019-03-29 20:02] westonruter commented on #21371
@cathyxz oh, how can the experiment be forced on?

[2019-03-29 20:38] westonruter commented on #21371
Thanks for pointing out [the experiment info](https://www.ampproject.org/docs/reference/experimental) for me over chat.

The opt-in has been added! https://github.com/ampproject/amp-wp/pull/2036/commits/034ac82d3307413a422f9d53d14a274b6f785713

See in action here: https://2019-theme.amp-wp.org/bison-image-test/?amp

[2019-03-29 20:56] gmajoulet opened #21642 "Branching share's checkbox is misaligned."
Branching share's checkbox is misaligned.

![image](https://user-images.githubusercontent.com/1492044/55262223-82aa5c00-5243-11e9-8b95-ed7755230d92.png)

[2019-03-29 21:04] caroqliu commented on #17440
From what I can tell, this is not a problem for desktop browsers. I tested manually on macOS on Chrome, Opera, Firefox, and Safari and experienced that `scrollTo` worked even while momentum scrolling was active.

I did experience the problem using Chrome on both Android and iOS devices, and I believe the underlaying cause is the following. When `scrollTo` is assigned to the `tap` event, i.e. `on="

[2019-03-29 21:25] jasti commented on #21514
@allexeye
![Screen Shot 2019-03-29 at 2 24 34 PM](https://user-images.githubusercontent.com/2366341/55263505-7ec00f00-522e-11e9-8728-59c01183c8c2.png)
 it looks like ads are working on your site - could you confirm?

[2019-03-29 21:56] jasti commented on #17780
Bumping up priority. @alanorozco, could you please confirm if you are able to take a look at this issue in the relatively near term? Thanks!

[2019-03-29 22:41] torch2424 opened #21646 "AMP Dashboard / app-index: Allow a link from the examples page to test/manual"
Some people on the team prefer to use `test/manual`, would be nice for an easy way to jump there, since `examples/` is the default.

[2019-03-29 22:49] #21604 closed

[2019-03-30 15:25] #21349 closed

[2019-03-30 17:12] ChrisBAshton opened #21649 "Add support for "Cache, Update and Refresh" caching strategy"
## Describe the new feature or change to an existing feature you'd like to see

Whilst AMP has some support for Service Workers via the [amp-install-serviceworker](https://ampbyexample.com/components/amp-install-serviceworker/) component, interaction between the service worker and the window is extremely limited.

I currently have a [Cache and Update](https://serviceworke.rs/strategy-cache-and-upd

[2019-03-30 19:54] dianomi-mjs commented on #19951
Hi, this seems to work fine without the dev channel I believe ... so I think we are almost ready to roll this out. Would be nice to have the javascript errors resolved though, some people do get upset by that.

Thanks for the help so far!

[2019-03-31 04:42] popov654 opened #21651 "Chrome 45 not supported?"
Not a bug, but a question. Here (https://www.ampproject.org/support/faqs/supported-browsers) you claim that the library should not be completely broken in mobile Chrome 28 and higher.

But then why is it broken in desktop Chrome 45 (I can't get the demos working)?

[2019-03-31 10:32] RymRymRym commented on #4274
hello i've seen this but i still can not display the scroll bar in my site amp . Can you help me please ?

[2019-03-31 14:30] trackonomics commented on #21599
Hello, thank you for your replay.
Our solution is unique and in the future we are planing to do a very unique interaction with web-service regarding link behaviour. Unfortunately we can not use general tag.
Even if there is a general tag for extending link attribute, and/or replacing link HREF value, we will need another custom tag, to cause our settings to interact and configure this tag.   I can

[2019-03-31 23:24] westonruter commented on #21634
@joshin2017 It appears that `exec()` only captures STDOUT. So to capture validation errors you'll need to redirect STDERR to STDOUT. Give this function a try:

[code]

[2019-04-01 06:51] leonalicious commented on #21497
sorry guys, I am kind of lost, please correct me if I am wrong, it means you guys are going to fine-tune the current viewport distance values with some metrics and we do not need to worry about anything or provide any properties in, am I right?

[2019-04-01 07:18] choumx commented on #21633
Not currently. You can see the list of bindable attributes in `bind-validator.js`.

- Do `data-vars_foo` attributes have any other use? Or do you just want a way to expose amp-bind state?
- Which use case does [AMP_STATE](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#miscellaneous) URL substitution var not satisfy?

[2019-04-01 07:33] joshin2017 commented on #21634
_@westonruter : Thanks. Your code works.   (y)_
Thanks you @honeybadgerdontcare , @sebastianbenz

[2019-04-01 07:34] #21634 closed

[2019-04-01 08:41] choumx commented on #21600
Minor implementation issue: `data-*` attributes are allowed by validator, but `bind-*` isn't. Possible to do but adds some noise and additional skew risk. Does saving the "data-amp-" chars help that much?

[2019-04-01 08:45] choumx commented on #21620
Correct, this is a reasonable FR but the issue is in the difficulty of proxying video streams. Certainly an area for future development.

[2019-04-01 09:08] sebastianbenz commented on #21600
I think the main advantage of `bind-*` is improved readability and comprehensibility. I would go even as far as suggesting that this should be the new default for amp-bind related documentation: `bind-text="myValue"` is a lot more intuitive than `[text]="myValue".

[2019-04-01 11:03] ziodave opened #21654 "Validator reporting error on first character of HTML page"
## What's the issue?

Validator is reporting an invalid AMP page. The same URL works on https://search.google.com/test/amp?.

It shows a red dot at the very beginning of the HTML:
![image](https://user-images.githubusercontent.com/11438/55323085-5fb7bc00-547e-11e9-94d0-ac79fa325f9a.png)

This character is nowhere to be found in the response. The response start with `<!DOCTYPE html...`.

## How do

[2019-04-01 12:03] nitzanj commented on #21500
Hi @cathyxz,

Thank you for taking the time to review this request. I hope I answered all the comments/questions raised, I'll be happy to answer any followup questions you may have.

It's possible to generate the URL in the server. The downside is that the definition of the image dimension and manipulation is then handled by the server developer rather than the page author.
Cloudinary provides muc

[2019-04-01 13:03] alicebartlett commented on #19573
Any news on this? Has the timeline slipped?

[2019-04-01 13:50] waldemarschneider opened #21656 "Date Picker (range)"
The user needs to be able to select the same date even if the date-picker is set to "range".
For example, the user wants to book a flight with a return flight on the same day.
One day is also a type of "range".
Doesn't work on the examples on ampproject or ampbyexample as well.

[2019-04-01 13:55] thinkdifferent commented on #21515
We removed the rel=amphtml some months ago. The amp page exists, but we want google to show the current page, not a very old one.

[2019-04-01 14:09] Gregable commented on #21515
The search results on mobile do not show an AMP link for me. Is there something more you are still trying to resolve?

[2019-04-01 17:04] zhouyx commented on #21633
I want a way to expose amp-bind state: The `data-vars-*` attribute is only used to allow amp-analytics collecting element information.
For example  `data-vars-foo=bar` leads to `${foo}=bar`.

`AMP_STATE` doesn't work well, in order to collect the value of an expression, it requires server side computation.

Here's an example
I want to set element `[disable]=case1&&case2&&case3`. Then it requires a

[2019-04-01 17:05] aghassemi opened #21657 "video dock: swipe to dismiss leaves the video in bad state"
when swiping to dismiss, overlay placeholder of the original video does not go away.

[2019-04-01 17:37] #19028 closed

[2019-04-01 18:03] dvoytenko opened #21658 "I2I: Premium content encryption protocol"
Implement protocol described in the [explainer.md](https://github.com/ampproject/wg-access-subscriptions/blob/master/content-encryption/explainer.md).

[2019-04-01 18:06] dvoytenko commented on #19573
All! We published the new protocol described in this [explainer](https://github.com/ampproject/wg-access-subscriptions/blob/master/content-encryption/explainer.md). The Intent to Implement is in #21658. Please review and provide your comments. In the meantime, I will close this bug in preference to the more specific #21658.

[2019-04-01 18:06] #19573 closed

[2019-04-01 18:17] aghassemi commented on #4274
@RymRymRym Can you share a sample Url/Demo? Is `<amp-lightbox scrollable` just not working for you?

[2019-04-01 19:04] morsssss commented on #21517
Thanks! This is one of the biggest issues we've faced in our e-comm demo... a standard site feature that we simply can't create with standard AMP components.

[2019-04-01 20:16] #21642 closed

[2019-04-01 21:55] gmajoulet opened #21661 "Story templating improvements."
The goals of this project are to:

#### 1. Provide an API to write media queries for a Story.

As of today, media queries don’t work for Stories, since the story element doesn’t always fit the viewport. Fixing this would make designing for stories and selecting assets a lot easier.

#### 2. Provide a way to configure different assets (videos, images) depending on the story dimensions and orientati

[2019-04-01 22:01] fstanis commented on #21449
There is a hacky way to do this right now:

[code]

The main hacky thing about this is the `action-xhr="no-op"` bit, where an HTTP request has to be made (but even a 404 works in this case).

Two ideas off the top of my mind on how this can be better:

1.  Allow form to have no action (or something like `action-xhr="#"`) which just always results in immediate success (but still validates).

2. Add

[2019-04-01 22:32] torch2424 commented on #19976
Closing this in favor of #2273 . Please feel free to comment to get this re-opened if this does not support your use case. Thanks! 😄

[2019-04-01 22:32] #19976 closed

[2019-04-01 22:50] gmajoulet opened #21665 "Re-enable embedded components desktop visual diff tests."
Re-enable embedded components desktop visual diff tests, once this test is no longer flaky:

![image](https://user-images.githubusercontent.com/1492044/55364507-e7b5ba00-54ae-11e9-9872-5af4236eac15.png)

[2019-04-02 02:24] moose-codes commented on #20543
Heya! I would love to start contributing to this project, could I start with this issue?

[2019-04-02 02:25] aghassemi commented on #21656
@cvializ to take a look

[2019-04-02 04:04] choumx commented on #21633
I see, sounds reasonable.

You can try prototyping this by adding a condition to this function that allows binding to all attributes starting with "data-vars-": https://github.com/ampproject/amphtml/blob/47bd44948d0c57bd3c8e8b9cbb19b92c1e7c3b7a/extensions/amp-bind/0.1/bind-validator.js#L192

E.g.
[code]

For the binding, `data-amp-bind-x` is equivalent `[x]` and avoids the need for validation chan

[2019-04-02 04:08] choumx commented on #21633
Re: `AMP_STATE()`, you can avoid server-side computation by using `AMP.setState()` on the client. E.g.

[code]
This may be less ergonomic than `data-vars-*` though.

[2019-04-02 04:10] aghassemi commented on #21651
@popov654 Support for older browsers is limited to "DOM will render" but user interaction may be broken. This support is to ensure crawlers that use older browsers to render will see the correct DOM.

[2019-04-02 04:10] #21651 closed

[2019-04-02 04:14] aghassemi commented on #21641
Hi @vegtelenseg.

https://www.ampproject.org/docs/design/responsive/style_pages has some details on our CSS restrictions. In short, disallowing `!important` is needed to enable AMP to enforce its element sizing rules. AMP elements set their one style on the element for sizing and we need to ensure they have the highest specificity.

[2019-04-02 04:14] aghassemi commented on #21641
Hope this answers your question. Please feel free to reopen the issue if needed.

[2019-04-02 04:14] #21641 closed

[2019-04-02 05:23] MARQAS commented on #20966
Hi @torch2424, can you share where you have tested it? at least screenshots?
I have tested it on 2 servers and it seems to be working fine. Maybe I am missing something? I would be very grateful if you can help me with this.
Can you please test this as well @zhouyx?

[2019-04-02 07:15] choumx commented on #20237
I'm curious about the when the "image placeholder" variant will be shown, since AMP placeholders are not necessarily images.

[2019-04-02 07:48] meistudioli opened #21672 "Is there any Linker decode package for client ?"
To whom it may concern:

I like to adopt Linker as parameter  transition solution for AMP page to normal page. I've already check the doc - [linker-id-receiving](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-receiving.md). Looks like [linker.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/linker.js) could do decode and encod

[2019-04-02 08:44] allexeye commented on #21514
Yes, ads got back on the next day @jasti
Thanks for checking!

[2019-04-02 09:06] sryze opened #21673 "Validator says that layout="responsive" is not supported in amp-carousel when width an height are missing which is confusing"
## What's the issue?

The [documentation for `amp-carousel`](https://www.ampproject.org/docs/reference/components/amp-carousel) states that `layout="responsive"` is supported where carousel type is `slides`, but I'm getting an error when using this type of carousel:

The specified layout 'RESPONSIVE' is not supported by tag 'AMP-CAROUSEL [type=carousel]'. (see https://www.ampproject.org/docs/refer

[2019-04-02 09:31] xiaotong-kk9 opened #21674 "Cursor jumps to the end of the line in iOS browsers"
## What's the issue?

When user moves the cursor to the middle to insert some letters, the cursor will automatically jump to the end of the line after one letter has been inserted.

## How do we reproduce the issue?

1. Visit [link](https://m.lightinthebox.com/en) with iOS device(Chrome or Safari)
2. Click on the search bar
3. Input some key words like dress women
4. Click on the middle of the let

[2019-04-02 09:42] xiaotong-kk9 commented on #21674
This issue may be related to input-throttled.
I tried the [official demo](https://www.ampbyexample.com/components/amp-form/preview/) without any input-throttled event. It cannot be reproduced.
Hope this info helps.

[2019-04-02 10:35] MrDiCi opened #21675 "[Layers] amp-carousel: Autoplay broken when far from top of viewport"
## What's the issue?

AMP carousel's autoplay function not working the further the carousel is from the top of the window. Trying to use the amp-carousel to create an amphtml ad banner which will slide several text lines.

## How do we reproduce the issue?

Here's a codepen  https://codepen.io/MrDiCi/pen/KYpajL?editors=1000

To reproduce the issue, I've included 3 amp-carousels, comment out lines

[2019-04-02 10:45] sjparkinson commented on #21658
Hi @dvdyakonov, I'd be interested to know what other solutions have been explored, I find it hard to evaluate the proposed solution in the explainer in isolation.

On the document key that is used to decrypt the content that requires authorisation, it's not clear to me in the explainer if that key is unique to the document, the user, the authorizer, or the document and user. It sounds like it'd be

[2019-04-02 11:00] bjalford commented on #20885
@mister-ben is this something Brightcove is intending to do?

[2019-04-02 13:23] popov654 commented on #21651
But it's not rendered. Look at this page:
https://ampbyexample.com/stories/introduction/amp_story_hello_world/

If I click "Continue anyway" button, nothing happens - I see just a black background.

[2019-04-02 13:58] cvializ commented on #21656
The `minimum-nights` attribute can be set to `0` to allow users to select the same start and end date. Does that work for your use-case?

[2019-04-02 14:05] aghassemi commented on #21675
/to @sparhami to take a look

[2019-04-02 14:19] enzo-giancola commented on #20400
Hi all, is there any update on this?
We are still facing the same issue. Thank you.

[2019-04-02 14:21] waldemarschneider commented on #21656
It would - but I can't get that to work,... seems like the minimum-nights="0" doesn't work at all - even on the amp-by-example playground I can't get it to work...

[2019-04-02 14:52] #21551 closed

[2019-04-02 15:03] andrewwatterson commented on #20237
Hey @choumx - the plan is not to show loaders over placeholders that are anything other than just an image.

Our observation is that placeholders that are just images tend to be previews of the content (video poster frame, Instagram source image, et cetera), whereas placeholders that have more content than that could be trying to implement either a custom loader or some other experience we can't n

[2019-04-02 15:10] andrewwatterson commented on #20237
Note the above spec shows a small ads loader that we've since decided against implementing. Even 320x50 ad units will get the full-sized ads loader. Ads with an image placeholder will get no loader (the current behavior).

[2019-04-02 15:19] rsimha commented on #21175
From looking at [this](https://travis-ci.org/ampproject/amphtml/jobs/514529637#L231) run today, `git clone` on Travis took multiple minutes at ~300 KiB/s.

@estherkim IIRC, you recently investigated authenticated cloning on Windows. Can we deploy this for our linux VMs?

[2019-04-02 15:19] gmajoulet commented on #21468
I would like to present and discuss different solutions for the runtime prerendering to respect its ancestors `prerenderAllowed` options. I'll update this comment with a link to a ticket with more information, but it's mostly about [this PR](https://github.com/ampproject/amphtml/pull/21555).

[2019-04-02 15:30] rsimha commented on #21175
The way to do an authenticated clone is described at https://docs.travis-ci.com/user/customizing-the-build/#authentication

/cc @erwinmombay to create a read-only token using the bot account he manages.

[2019-04-02 15:34] rsimha commented on #21175
Assigning to @estherkim. Thanks for looking into this!

[2019-04-02 15:58] cvializ commented on #21656
Can you help me understand in what way it is not working for you?

I created a demo page to check if it is working, and selecting the same start and end date appears to be working correctly: https://amp-minimum-nights.glitch.me

[2019-04-02 17:00] calebcordry commented on #21598
@zhouyx @jeffjose Do either of you seen any downside to allowing credentials on these requests?

[2019-04-02 17:22] #21273 closed

[2019-04-02 17:22] #21290 closed

[2019-04-02 17:23] #21422 closed

[2019-04-02 17:24] waldemarschneider commented on #21656
Sorry for the short reply - and yes your demo does work. The problem we're running into is that we get "null" instead of the date. Which also seems to be a problem on several examples I found. Your version seems to work as expected - so there must be a way to achieve that.
Thank you so much!

[2019-04-02 17:25] YonahKarp opened #21680 "amp-date-countdown inside of amp-list causes error when list is refreshed"
## What's the issue?

I'm getting the following error in the console:

[code]

The error increments every second, presumably from the timer callback.
It doesn't cause any impediment to the user, but unnecessarily uses resources and clutters the console with errors.

## How do we reproduce the issue?

Place an `amp-date-countdown` inside of an `amp-list` and bind the amp-list's `src`. perform any a

[2019-04-02 17:36] cvializ commented on #21656
Hmm I understand. It could be due to https://github.com/ampproject/amphtml/issues/20727 which was  affecting some use-cases. It was resolved by https://github.com/ampproject/amphtml/pull/21566 but it has not yet landed in production

[2019-04-02 17:39] jridgewell commented on #20237
Do we need to do anything to get this to work with blurry image placeholders, eg https://output.jsbin.com/lokowoj/3/quiet (turn on network throttling to see full effect)?

[2019-04-02 17:42] cathyxz commented on #21500
Got it. Thank you very much @nitzanj for the explanation! This sounds great.
And

**Wow.**

**Nice!**

Two more things to possibly think about:
1. [Layouts](https://www.ampproject.org/docs/design/responsive/control_layout)
For lazy loading purposes, most AMP layouts require specifying image dimensions / aspect ratios / height of all components prior to runtime. So even though you may determine the

[2019-04-02 17:43] #2273 closed

[2019-04-02 17:52] Pateriack commented on #21598
@calebcordry I took a stab at implementing it here https://github.com/ampproject/amphtml/pull/21679.

I assumed based on https://www.ampproject.org/docs/fundamentals/amp-cors-requests#utilizing-cookies-for-cors-requests that it would have been supported.

[2019-04-02 17:59] aghassemi commented on #20237
@jridgewell yes but it is part of my test plan. no loader will show up with blurry image placeholders.

[2019-04-02 18:09] aghassemi commented on #21609
This is now in production.

[2019-04-02 18:09] #21609 closed

[2019-04-02 18:14] jeffkaufman commented on #21340
strongly in favor

[2019-04-02 18:18] aghassemi commented on #21674
@cvializ

[2019-04-02 18:22] aghassemi commented on #21673
@sryze the message it confusing, the problem is you are missing `width` and `height`
```<amp-carousel class="slides" type="slides" layout="responsive" width="300" height="150" controls loop >``` would work.

to @honeybadgerdontcare regarding the confusing error.

[2019-04-02 18:25] honeybadgerdontcare commented on #21673
We may be able to help the validator make a more informative error message with making the attribute `type=slides` a dispatch key for name/value/parent.

P3, will address when we can.

[2019-04-02 18:35] cvializ commented on #21674
This is a known issue that we are looking at. It is a result the value produced by `input-throttled` getting bound to the value of the input by `amp-bind`. Because of a race condition, the value is updated by bind with a value that is older than what the user typed in and the cursor position is not preserved. Are you able to replace `input-throttled` with `input-debounced`?

[2019-04-02 18:43] aghassemi commented on #21314
This is happening way too often. Let's investigate. setting to P1

[2019-04-02 18:46] jeffkaufman opened #21681 "I2I: Support for Content Security Policy with Inabox"
## Summary

The AMP validation process should allow us to trust that AMP creatives are restricted in what they can do, but it would be good to also enlist the browser in this protection.  We should publish a Content Security Policy that we will support for AMP creatives.

## Motivation

While validation should keep an AMP creative from including custom JS or other things the spec disallows, as a d

[2019-04-02 18:48] mrjoro commented on #21414
/cc @ampproject/wg-ads @jasti

[2019-04-02 18:51] sparhami commented on #21675
Looks like the codepen works with the `layers` experiment enabled, but has issues when it is not enabled. Needs more investigation.

[2019-04-02 18:58] jeffkaufman commented on #21681
Note that injecting a CSP like this for Firefox doesn't currently work (https://github.com/w3c/webappsec-csp/issues/207, https://wpt.fyi/results/content-security-policy/inheritance/inherited-csp-list-modifications-are-local.html?label=master&product=chrome%5Bexperimental%5D&product=edge&product=firefox%5Bexperimental%5D&product=safari%5Bexperimental%5D&aligned) because Firefox aliases the parent C

[2019-04-02 19:00] jeffkaufman opened #21682 "I2I: AMP Inabox friendly frame rendering"
## Summary

An ad network may want to protect publishers from potentially malicious creatives, and so render third party ads in cross-domain iframes.  Validated AMP creatives shouldn't allow the kind of malicious behaviors that cross domaining protects against, so AMP should (a) explicitly support rendering friendly to the page and (b) include documentation on how to do this safely.

This behavior

[2019-04-02 19:08] jridgewell commented on #21314
This is coming from https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/0.1/amp-ad-custom.js#L90-L91

The issue is the `fullUrl` is null. From the test page, this happens when the element has neither a `data-slot` nor `data-url` attribute. We should add another user assertion that either a `data-url` or a `data-slot` is provided.

[2019-04-02 19:41] spacedino2 opened #21684 "AMP HTML UX Framework Master"
It's great that we have incorporated UX best practices into our work, via - examples, documentation, and templates, but it would be nice to have them documented in one place for a few reasons:

- to help developers who might want to understand why certain things are best practices, and how to extend these patterns to new components
- to help other designers working on AMP
- to highlight opportunit

[2019-04-02 19:48] spacedino2 commented on #21684
[AMP HTML UX Framework - master_v1_1.pdf](https://github.com/ampproject/amphtml/files/3035665/AMP.HTML.UX.Framework.-.master_v1_1.pdf)

[2019-04-02 20:14] spacedino2 commented on #21684
Intro
![AMP HTML UX Framework - master_v1_1](https://user-images.githubusercontent.com/47966956/55431981-9bb65400-5546-11e9-8055-309add14c8e1.jpg)

Why
![AMP HTML UX Framework - master_v1_2](https://user-images.githubusercontent.com/47966956/55432002-a7a21600-5546-11e9-9cfd-7dcaa5528be2.jpg)

Why AMP
![AMP HTML UX Framework - master_v1_3](https://user-images.githubusercontent.com/47966956/55432018

[2019-04-02 20:33] jasti commented on #19951
@dianomi-mjs if you are interested, if we'd be happy to showcase you as an example using template ads at AMP conf on Apr 17th in Tokyo: https://www.ampproject.org/amp-conf/
Let me know what you think and an email address to reach out to and I can send over more details. Thanks!

[2019-04-02 20:43] dianomi-mjs commented on #19951
Hi - sure thing.  You can reach me at

michael.smith@dianomi.com

It all seems to work fine for our other units now. So we just need to get our publishers to update their code. Hopefully we can roll out some brand new units too.

[2019-04-02 21:00] aghassemi commented on #21684
Thanks @spacedino2

to @andrewwatterson @nainar & @CrystalOnScript to find the best place to have this documented

[2019-04-02 21:13] cvializ commented on #21656
I'll close this for now. Thanks for letting us know about your experience!

[2019-04-02 21:13] #21656 closed

[2019-04-02 22:09] estherkim commented on #21175
Following up - After some digging, I determined that Travis is not getting rate limited by Github. `git clone` is not the same as a GitHub API call, which is rate limited. For example, I can `git clone` all day using an oauth token, but it doesn't decrement the account's remaining rate limit. Regardless of the rate limit, I can't prove the assumption that an authenticated call is faster.

I suspec

[2019-04-02 22:44] andrewwatterson commented on #21684
Heyy - my understanding was that @spacedino2 originally created this as a guide for non-Google contributors to use when designing the UX for their components (and as a reference point for internal folks).

Separately, I've been doing some work to unify the visual style of several of our more UI-forward components (the ones mentioned in this preso + autocomplete + carousel + the payments project ne

[2019-04-02 22:52] torch2424 commented on #20966
@MARQAS So to be honest, when I tested, I just used the same `#amp-geo=FR`, and I was flying without internet access. So my testing probably wasn't the most representative 😂 Thus, I can test this again if you would like, but if it is working for you on an expected environment then that should be the expected results.

If this is working for you know, we are glad to hear that. Our plan then is too

[2019-04-02 22:52] torch2424 commented on #21514
@allexeye Thanks for reporting back! Can we close this? 😄

[2019-04-02 23:05] tyagiudit commented on #21453
@alanorozco : Hope the above feedback was helpfull. Let me know if you need anything else

[2019-04-02 23:10] nainar commented on #21684
@spacedino2 thank you for sharing this! I think this is incredibly useful information for us to disseminate to developers working on the AMP Project to make sure all contributions have the same foundation resources to creating great AMP components.

I am excited to see how @andrewwatterson's work to create a Default UI guideline from AMP link up with @spacedino2's work here. Let's wait till that w

[2019-04-02 23:31] aghassemi opened #21688 "🚄 Release tracking issue for release 1904021746450"
# Release tracking issue

- [x] Release [1904021746450](https://github.com/ampproject/amphtml/releases/tag/1904021746450) is cut as a new canary release
- [x] Release 1904021746450 pushed to dev channel (7:00 PM, April 2, 2019 UTC-7)
- [x] Release 1904021746450 pushed to 1% (2:30 PM, April 3, 2019 UTC-7)
- [x] Release 1904021746450 pushed to production (6:02 PM, Apr 9, 2019 UTC-4)

See the [releas

[2019-04-02 23:32] torch2424 commented on #21654
Triaging to @Gregable , feel free to re-assign 😄

[2019-04-02 23:46] Gregable commented on #21654
Your response starts with an unprintable unicode character before the doctype. It is a byte order mark:

[code]

[2019-04-02 23:46] #21654 closed

[2019-04-03 01:03] newmuis opened #21691 "Move amp-story documentation assets to Git LFS"
amp-story documentation has some really large files, which makes the whole AMP repo take longer to clone.  We can instead use [LFS ](https://git-lfs.github.com/) to store the files.

[2019-04-03 01:55] zhouyx commented on #21633
Great! I think it works.

Re: AMP_STATE()

I kind of like the idea of assigning the expression to a state, and report that state. But since the `foo` state cannot be updated without user interaction? I assume it requires one to set the `foo` value at all interactions where `case1`, `case2` `case3` value are being set. Which is less ergonomic I agree.

[2019-04-03 02:20] zhouyx commented on #21599
@trackonomics Thank you for explaining.

I understand there're some restrictions of the generic solution. It's regex based which requires you to find all rewriting link using regex. And it's a pure client side solution.

I'm trying to better understand your solution. I have a few questions
1. How do you decide which link on the page to rewrite?
2. Is there a configuration to define the behavior
3.

[2019-04-03 03:02] mrjoro commented on #20543
@moose-codes I'd say go for it!  Ping @jridgewell if you have any questions.

[2019-04-03 07:37] ziodave commented on #21654
Thanks @Gregable, I should have checked better.

[2019-04-03 09:13] choumx commented on #21322
#21512 adds the `fetch-error` event to amp-state and amp-list extensions.

However, some minor changes are needed in amp-viewer-assistance to support sending `FAILED_ACTION_STATUS` as a result of `fetch-error`. This is because `updateActionState`'s data format expectation is such that it can can only be called with the `event.response` of an amp-form submission.

One option is to extend the action

[2019-04-03 09:23] MaximePlancke commented on #17742
Hi @torch2424 @zhouyx ,

We have worked on our Iframe and POST endpoint. I created a PR to add Didomi to the list of vendors https://github.com/ampproject/amphtml/pull/21693

I wasn't sure which branch or what to reference. Please let me know if I need to do any changes.

Thank you

[2019-04-03 09:34] dbarcosb commented on #13102
Any update on this? Will [amp-list v2](https://github.com/ampproject/amphtml/issues/16507) tackle this issue? Thanks

[2019-04-03 09:35] #21514 closed

[2019-04-03 10:28] xiaotong-kk9 commented on #21674
Thank you @cvializ for your reply.
This can still be reproduced with `input-debounced`.
And because when another button is clicked, the content in the input need to be updated, so `[value]` is necessary.

[2019-04-03 12:46] gilbertococchi commented on #4482
Hi Rudy and Jeffrey, do you know if there is some reference of Enhanced Ecommerce Tags used with GTM or OGT on AMP?

[2019-04-03 14:37] Hammad6264 commented on #18507
Hy, Did anyone solved the problem???

[2019-04-03 14:52] aghassemi commented on #13102
Issue is unrelated to `amp-list` and more about scrollable lightbox, any fix needs @jridgewell's layers or something similar.

[2019-04-03 15:25] estherkim commented on #20575
Closed with #21236

[2019-04-03 15:25] #20575 closed

[2019-04-03 15:30] #20467 closed

[2019-04-03 16:01] ChrisThorn10 opened #21699 "amp-accordion: images distorted when animate attribute added"
## What's the issue?
When the animate attribute is added to amp-accordion, the image contained as the second child within a section is distorted; the width becomes 100% of the accordion container.

##Briefly describe the bug.
Fixed layout images display properly within an accordion (the second child within a section) until the animate attribute is added to amp-accordion.  Once this happens, the im

[2019-04-03 16:18] aghassemi commented on #21699
Thanks for the report @ChrisThorn10.

Sounds like the same issue as https://github.com/ampproject/amphtml/issues/20272 which as it seems is not fully resolved.

/to @sparhami

[2019-04-03 17:29] Gregable commented on #21654
No worries, it's hard to debug and lots of folks have hit this exact case.

[2019-04-03 17:39] src-code opened #21703 "Bing.com AMP cache sets incorrect __amp_source_origin value on CORS requests"
## What's the issue?

CORS requests made from AMP documents hosted by Bing.com's AMP cache are failing due to incorrect domain being set in the `__amp_source_origin` query param.  The value of this param is being set to the AMP cache domain rather than the publisher's domain.  This causes CORS validation to fail on the source origin's server.

## How do we reproduce the issue?

Yahoo Sports docume

[2019-04-03 17:48] jridgewell commented on #21703
We can change this to be a required setting in the config. /to @rsimha

[2019-04-03 18:16] diantekyrie opened #21704 "Uncaught TypeError: window.jwplayer is not a function"
## What's the issue?
`Uncaught TypeError: window.jwplayer is not a function`

Briefly describe the bug.
Error message saying jwplayer is not a function
## How do we reproduce the issue?

1. Open https://www.google.com/amp/s/warriorswire.usatoday.com/2018/03/16/kevin-durant-fractured-ribs-injury-two-weeks/amp/
2. Open developer tools and see error in console

## What browsers are affected?

macOSX

[2019-04-03 18:27] rsimha commented on #21703
This doesn't look like a tooling issue. Moving to runtime to triage.

[2019-04-03 18:33] jridgewell commented on #21703
It's part of the build process where you specify the URL config changes. Runtime just takes what the config object build creates, and uses it to generate URLs. Definitely a build tooling issue. Ping me to discuss.

[2019-04-03 18:36] zhouyx commented on #21598
I don't see an issue with include credentials. But I'm familiar with the the story bookend request. to @newmuis to confirm

[2019-04-03 18:55] sirshurf commented on #21428
Sorry did not closed this.

It was updated 2 days later

[2019-04-03 18:55] #21428 closed

[2019-04-03 19:41] newmuis commented on #21598
Doesn't seem like it would be an issue to me

[2019-04-03 19:53] calebcordry commented on #21598
Ok sounds good. Thanks all!

[2019-04-03 20:01] torch2424 opened #21705 "amp-experiment: Post Initial Demo Tracker"
relates to #20225

* [ ] [Classes for MutationRecord Types](https://github.com/ampproject/amphtml/pull/21683#discussion_r271515388)
* [ ] [Better Style Attribute Restrictions](https://github.com/ampproject/amphtml/pull/21683#discussion_r271849468)

[2019-04-03 20:01] torch2424 commented on #21705
cc @jeffjose @zhouyx

[2019-04-03 20:10] niutech commented on #13471
You can now use Vue.js in an experimental [`<amp-script>`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-script/amp-script.md) extension - I have added the TodoMVC example in #21701.

[2019-04-03 20:11] eduardogoncalves opened #21706 "amp-inputmask: Leading Zero been stripped when I paste into field"
## What's the issue?
When I paste the text  **00005127120** into the input, it should displays **000.051.271-20**, but is showing **005.127.120**. If I paste **00245127120** it shows **245.127.120**.

## How do we reproduce the issue?
You can reproduce it here: https://codepen.io/egoncalves/pen/MRKymb
step-by-step instructions for reproducing the issue:

1. Step 1: Copy the text **00005127120**
2.

[2019-04-03 20:34] jviviajala opened #21708 "AMP Install Service Worker does not seems to trigger data-iframe-src from AMP cache"
Hi,

I am trying to make the amp-install-service-worker component works, it's working well from the amp URL but not from the Google AMP Cache.

I confirm I set up both src and data-iframe-src attributes but it does not work, I have the following error message : Did not install ServiceWorker because it does not match the current origin

The steps to reproduce is very easy, I just created 2 virtual

[2019-04-03 20:36] mcrump001 commented on #21551
Hello,

Thanks for the very fast turn around on this issue!!

I see this issue has been closed and a PR submitted and merged.  When will the changes actually be applied to an AMP release?

Cheers,

Michael

[2019-04-03 20:38] aghassemi commented on #21551
It is currently in our release candidate. Will be in production next week.

[2019-04-03 20:44] ok09 opened #21709 "File bugs /future requests for AMP here"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2019-04-03 20:52] rsimha commented on #21703
Assigning to @erwinmombay

[2019-04-03 20:56] eduardogoncalves commented on #21706
Hi @cvializ
As amp-inputmask uses RobinHerbots' Inputmask (release 4.0.4), I tested it with same version, and it's working.
[code]

[2019-04-03 21:01] cvializ commented on #21706
Thanks for sharing your experience and for the detailed example! I am able to reproduce and I found the root cause. I'll prioritize it for work soon

[2019-04-03 21:19] #21709 closed

[2019-04-03 21:47] mcrump001 opened #21712 "amp-video on:tap action does not work as expected"
## What's the issue?
The amp-video on:tap action does not work as expected - target action on target element does not fire

Briefly describe the bug.
An amp-video element having the on="tap..." action attribute set does not perform the target action on the target element when "tapped/clicked" when on an IOS or Android device or when tested in the device emulator on chrome dev tools.

## How do we

[2019-04-04 03:40] ssantosms commented on #21703
In our build system, we are replacing the default config to bing. However, I am not sure why it's not working properly.

@erwinmombay Can you check the below is correct?

From Bing v0.js:
var Wc=self.AMP_CONFIG||{},Xc={thirdParty:Wc.thirdPartyUrl||"https://3p.bing-amp.net",thirdPartyFrameHost:Wc.thirdPartyFrameHost||"bing-amp.net",thirdPartyFrameRegex:("string"==typeof Wc.thirdPartyFrameRegex?new

[2019-04-04 10:34] trackonomics commented on #21599
Hello,
Below my answers to your questions.

Q: How do you decide which link on the page to rewrite?
A: Depending on detection rules set by client. the rules are stored in client's specific settings file loaded from server.

Q: Is there a configuration to define the behavior
A: Yes, We have special tool we give to publishers. They use this tool to configure the behaviour of the funnel-relay script.

[2019-04-04 14:24] Enriqe opened #21714 "[Master feature] Support live AMP Stories"
Enable the creation of live stories. Users will be able view stories that are updated in real-time as the publisher adds new pages to it - without the need of having the user refresh the page. Think live blogging.

This will unblock use cases like:
* Live sport match reporting (updated scores, commentaries, etc..)
* Live news coverage
* Live keynote updates (e.g. reporter using AMP Stories in keyn

[2019-04-04 15:09] ifatgv4 commented on #20864
Hi @calebcordry,

I tried using the new code and I am having some issues.

When I add:

"myLinkerParam": "LINKER_PARAM(linker, param)"

to vars is works well. But when I try to do either:

"myLinkerParam": "LINKER_PARAM(linker, param)"
"myParam": "QUERY_PARAM(param, ${myLinkerParam})"

or

"myParam": "QUERY_PARAM(param, LINKER_PARAM(linker, param))"

I get an error in the console that says that:

[2019-04-04 15:31] swindjam commented on #8395
It's not quite the same issue, but this also happens when using amp-mustache templates in amp-bind.
E.g. `data-amp-bind-text=" '{{ offer.name }}' "` breaks if the value from the items in an amp-list includes a `'` such as `Microsoft Xbox One X Console, 1TB, with Wireless Controller, Black and PlayerUnknown's Battlegrounds Game Bundle`

We could replace the quote in our api but we don't want to do

[2019-04-04 15:42] patrickkettner opened #21715 "MAX_FREE_MUTATION_HEIGHT in amp-script is too low"
## What's the issue?

The [current value of 300px](https://github.com/ampproject/amphtml/blob/9d6477b4b638f96c52453d7c19492b693e561bdb/extensions/amp-script/0.1/amp-script.js#L43) is too low to be actually useful

## How do we reproduce the issue?

create an amp-script with a fixed height of > 300px

## Which AMP version is affected?

master

[2019-04-04 17:00] honeybadgerdontcare commented on #21468
A follow up to our validation conversation in the meeting. The `protoascii` are not enough to ensure all rules are enforced. Some rules are explicitly written within the [engine](https://github.com/ampproject/amphtml/blob/master/validator/engine/validator.js) due to efficiency or not needing to generalize.

[2019-04-04 17:09] alanorozco commented on #17780
Looking at it today, will update later.

[2019-04-04 17:11] alanorozco commented on #21704
Not an AMP error.

[2019-04-04 17:11] #21704 closed

[2019-04-04 17:16] Enriqe opened #21718 "Support dynamically added amp-live-lists and add configurable options"
Master issue #21714

In order for `amp-live-list` to work with `amp-story`, we can expose some options as attributes on the `amp-live-list` side to make it more configurable.

In particular for `amp-story`, we need these changes:
* Change the querying logic to look for new updates under amp-story, instead of the <div items> tag - this can be extended so that any arbitrary container can be used.
*

[2019-04-04 17:19] calebcordry commented on #20864
@ifatgv4 thanks for reporting I will look into this.

I think that you should be able to use the `$IF` macro here. Something like `$IF(QUERY_PARAM(foo),  QUERY_PARAM(foo) , LINKER_PARAM(foo))` but it may have the same problem as the bug you are reporting. I will look into this use case as well.

[2019-04-04 17:20] Enriqe opened #21719 "Listen for updates coming from amp-live-list"
Master issue #21714

We will need to listen to the `AmpLiveList#update` method, and take the necessary actions when that happens (i.e. show system button UI, insert page in DOM, update progress bar, etc...)

[2019-04-04 17:23] Enriqe opened #21721 "LiveStoryManager: Show system button UI for new updates"
Master issue: #21714

Show a button in the system UI when new updates are available. When clicked, it will take users to the most recent updates.

[2019-04-04 17:25] Enriqe opened #21722 "Update amp-story progress bar for newly-added pages"
Master issue: #21714

When we support using amp-live-list and a new page is added to the story, we will need to update the progress bar to reflect it.

Our current implementation only builds the progress bar at `AmpStory#layoutCallback`

[2019-04-04 17:52] jridgewell commented on #21703
Everything appears correct in the config. I'm not able to load the actual `https://sports-yahoo-com.bing-amp.com` page (I'm assuming it's `https://sports-yahoo-com.bing-amp.com/c/s/sports.yahoo.com/amphtml/fantasy-basketball-rookies-who-will-provide-the-most-future-value-211618398.html`?) to test.

[2019-04-04 18:28] ifatgv4 commented on #20864
@calebcordry Thanks!

Regarding the cookie, no, you can't use $IF. I checked and you get:

cookie value $IF(QUERY_PARAM(param), QUERY_PARAM(param), LINKER_PARAM(linker, param)) not supported. Only QUERY_PARAM and LINKER_PARAM is supported

[2019-04-04 18:33] ifatgv4 commented on #20864
If on the other hand you try to set the cookie value to:

QUERY_PARAM(param, ${myParam})

The cookie is created with the value:

%24%7BmyParam%7D

(no variable expansion)

[2019-04-04 19:12] alanorozco commented on #21646
Already working on it for an upcoming redesign of the devdash.

[2019-04-04 19:14] alanorozco commented on #17780
This does not repro on friendly iframes. @heather162 it would be nice to have more info:

- does this happen on a non-AMP page embedding an AMP ad?
- does this happen on an AMP page embedding an AMP ad in the origin?

[2019-04-04 19:41] src-code commented on #21703
I believe they’ve taken down Yahoo AMP pages while this issue is open.  @ssantosms I’d be okay bringing the pages back while debugging if needed, the broken content is secondary in nature

[2019-04-04 19:45] zhouyx opened #21723 "Excluding other extensions when an extension is present"
Right now we have some extensions that don't work well together. For example when `<amp-skimlink>` and `<amp-link-rewrite>` works together, the ladder component can affect what the previous component does.
It would be useful to have a feature that only allow one component on a page among a list of mutual exclusive extensions.

@ampproject/wg-caching

[2019-04-04 19:48] honeybadgerdontcare commented on #21723
When discussing this I was thinking of `requires_extension` and that perhaps we should also have a `excludes_extension` feature. This is to be more explicit than `satisfies`, `requires` and `excludes`.

[2019-04-04 19:56] zhouyx commented on #21723
I agree. `excludes_extensions` is also much easier to understand : )

[2019-04-04 20:10] Enriqe opened #21724 "Embedded component issues on landscape devices"
* Expanding the twitter component displays it in a size larger than the viewport
* Can't close the expanded embedded component when in landscape mode. (Element takes whole width and covers the "close button")
* Component does not handle resize well after an orientation change to landscape.

[2019-04-04 20:14] Enriqe opened #21725 "Exit expanded view on `ESC` or `Back` key press"
ESC and/or back keys on the keyboard / soft keyboard should exit the lightbox/expanded view of an embedded component.

[2019-04-04 20:36] #21598 closed

[2019-04-04 20:46] zhouyx opened #21727 "Batching analytics requests from multiple tag"
amp-analytics supports batching analytics requests today, but requests from multiple `<amp-analytics>` components don't get batched.

This can be an issue when trying to track element that's dynamic loaded using `<amp-list>` and template. For example,

[code]

It is current difficult to support batching requests from multiple analytics tag, because all requests are scoped within the component itse

[2019-04-04 20:46] #21009 closed

[2019-04-04 20:52] cathyxz commented on #21727
Is the reason for multiple analytics tag just because they want to track the visibility of each element in an `<amp-list>`? Aside from `visibility`, what are things that they might want to track? Would it be reasonable to add some kind of logic in `<amp-list>` to fire certain analytics events (e.g. visibility, click) per item? Does this apply to vanilla `<amp-list>` or just infinite scroll / load-

[2019-04-04 21:05] jpettitt commented on #21658
@sjparkinson We really appreciate the questions. It's a complex thing to explain (although fairly simple to implement).

We agree the current "hide the content with CSS", client side paywall models are easy to defeat for a technical user.  This is less of a problem for publications that allow metered access since the meter is inherently dependent client side storage. For higher value / non-metered

[2019-04-04 21:24] cathyxz commented on #21727
We chatted about this offline--to summarize:

It seems like the best option forward is as follows:

- `<amp-analytics>` has a per instance `querySelector` that currently only selects 1 item. We can expand this to select multiple items so that it can track all items on `<amp-list>`.
- `<amp-list>` can change / update its items via a bound `[src]` or `load-more`. This triggers the `DOM_UPDATE` event

[2019-04-04 21:52] sparhami commented on #21675
@aghassemi How should we prioritize this?

[2019-04-04 21:56] #20653 closed

[2019-04-05 01:30] alabiaga commented on #12994
Just wanted to note here that from the design review, we are going with the safer route of allowing a restricted set of custom delimiters and start with what I believe is one of the more popular and more importantly non curly brace containing delimiter `<%` and `%>`.

e.g.

Given:
    Hello <% name % >

Data:
    { "name" : "world" }

Output:
    Hello world

We can grow the list when the need for

[2019-04-05 03:18] jridgewell commented on #12994
@alabiaga the design review highlighted the difficulties on HTML parses if we allow delimiters to include `<`. We need to choose anything else.

[2019-04-05 09:45] alabiaga commented on #12994
@jridgewell ah yes, I meant to put #-, -#. We even briefly discussed not using the erb style delimiters in stand-up. I guess unconsciously I would still prefer it. Updated, thanks.

[2019-04-05 12:55] machal opened #21736 "amp-lightbox-gallery: Different images for thumbnail and detail"
## Describe the new feature or change to an existing feature you'd like to see

Feature request for simple use case of the `amp-lightbox-gallery` component. Like in jQuery plugins:

[code]

## Describe alternatives you've considered

I've tried to do it with `srcset`/`sizes` as recommended in #14900 and other issues and I've ended with following code:

[code]

Live website: https://www.vzhurudolu.

[2019-04-05 15:28] Suranga-Aluthgamage opened #21739 "amp-pan-zoom in amp-carousel Image loading issue"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-04-05 17:16] aghassemi commented on #21675
This looks like a runtime issue with `viewportCallback`. Triaging to runtime to take a look.
/cc @jridgewell

[2019-04-05 17:52] erwinmombay commented on #13659
This bug is internally tracked b/124009333

[2019-04-05 18:25] bjalford opened #21743 "Remove G+ from documentation of amp-social-share"
Should the G+ option now be removed from the amp-social-share documentation since G+ close?

https://www.ampproject.org/docs/reference/components/amp-social-share

[2019-04-05 18:52] Pateriack opened #21746 "Allow amp-iframe in amp-story-page-attachment"
## Describe the new feature or change to an existing feature you'd like to see

amp-iframe appears to function as expected within an amp-story-page-attachment, but it doesn't pass validation.

An example use case would be to embed google maps in an attachment.

[validator-amp-story.protoascii#L708](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/validator-amp-story.protoasci

[2019-04-05 19:42] honeybadgerdontcare commented on #21746
@newmuis for feedback on this approach for amp-story. added categories as appropriate.

[2019-04-05 19:50] Pateriack commented on #12209
+1 for this!

amp-story-page-attachment does not allow for amp-iframes, but it would likely allow for something like this. A big help for my use case!

Has there been any design or implementation work done on this one yet? @aghassemi

[2019-04-05 20:56] calebcordry commented on #21672
Hi @meistudioli we do not currently offer any service to decode the linker checksum. It is something we have discussed in the past. In the meantime we recommend copying the code in `linker.js` as appropriate to suit your needs.

@jeffjose @zhouyx FYI, perhaps we should revisit this discussion.

[2019-04-05 20:56] jpettitt commented on #21395
I've added this to my backlog for April. Barring unforeseen events I should have something by the end of April or 1st week in May.  I'll post some design notes here next week for comment.

[2019-04-05 21:04] aghassemi commented on #12209
@Pateriack this is not prioritized from out end since `amp-iframe` handles it. I see the point about more restrict formats like `amp-story` and `amp 4 email` needing this.

@newmuis thought on priority of supporting maps in amp-story?

[2019-04-05 21:57] Enriqe opened #21749 "Re-enable landscape template visual diff tests"
Re-enable landscape template visual diff tests

![image](https://user-images.githubusercontent.com/5449100/55658633-560abd00-57cc-11e9-8278-aed4a4f55ce0.png)

[2019-04-05 22:57] calebcordry opened #21751 "`getNameArgs ` in variables.js doesn't understand nested macros"
We have a function export function `getNameArgs` that extracts the name from the arguments in our macros. `encodeVars` relies on this function to not encode the arguments to a macro which will later be resolved by UrlReplacementService. This does not work for nested macros and thus the arguments get encoded and everything breaks.

example:
`encodeVars(SOME_MACRO(abc,123))  == SOME_MACRO(abc,123)`

[2019-04-05 23:29] calebcordry commented on #21751
Actually this bug in `getNameArgs` affects more than `encodeVars` we are also using it in cookie-writer.js to validate the allowed macros. This is bad because if we wish to allow something like `$IF(QUERY_PARAM(foo), QUERY_PARAM(foo), LINKER_PARAM(foo)` it also is broken due to not recognizing the right names :(

[2019-04-05 23:35] calebcordry commented on #20864
OK @ifatgv4 I did some investigation. There are a few things going on here.

1. Using nested macros with the `${}` syntax. This has nothing to due with linker but is a bug in our `getNameArgs` logic. I created #21751 to track. This manifests itself here with the weird encoding bugs you are seeing. It is unable to extract the args correctly, so it wrongly encodes them and breaks.

2. Using vars ins

[2019-04-06 00:08] torch2424 commented on #21599
@trackonomics Hello! Thanks for the response. Just a heads up on next steps, if the solution we recently released does not work for you, we may need to create a new extension, which has a next steps 😄

So what you will want to do is sign up for a [Design Review](https://github.com/ampproject/amphtml/issues?q=is%3Aissue+is%3Aopen+design+review+label%3A%22Type%3A+Design+Review%22), and unfortunatel,

[2019-04-06 00:17] torch2424 commented on #21743
Triaging to @aghassemi , Feel free to re-assign 😄

[2019-04-06 00:18] torch2424 commented on #21739
@Suranga-Aluthgamage Thanks for the issue! 😄  Could you please fill out the form above? Not quite sure what the issue is.

Thanks! 👍

[2019-04-06 00:19] torch2424 commented on #21712
Triaging to @alanorozco , Feel free to re-assign 😄

[2019-04-06 00:20] torch2424 commented on #21708
Triaging to @prateekbh , Feel free to re-assign 😄

cc @jridgewell while @prateekbh is out. 👍

[2019-04-06 00:22] torch2424 commented on #21715
Triaging to @kristoferbaxter , Feel free to re-assign 😄

[2019-04-06 00:22] torch2424 commented on #21649
Triaging to @prateekbh , Feel free to re-assign 😄

cc @jridgewell while @prateekbh is out. 👍

[2019-04-06 07:56] rintish opened #21753 "Responsive is not working on AMP4EMAIL (AMP Email)"
Hi,

I am trying to make the responsive AMP4EMAIL (AMP Email) email template but it's not working properly without the  `<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">`

If we add the `<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">` tag in the AMP Email it show the error like:

Here is the AMP-Email code example:

`<!doctype

[2019-04-06 10:19] #21753 closed

[2019-04-06 12:37] popovvb opened #21754 "FR: Ability to cancel `AMP. scrollTo()`"
I make a smooth scrolling page for reading.
`<div class="prokr" role="button" on="tap:fbcom.scrollTo(duration=50000)" ></div>`
How to stop scrollTo ???

[2019-04-07 02:43] Suranga-Aluthgamage commented on #21739
Issue is : "If you load the above URL you will notice that, the initail image doesnt load on the first paint.
But when you click on a thumbnail image it does." Here is the dev URL
http://www.sampathmadhuranga.com/projects/superjeweler/amp/item-detail.html

[2019-04-07 08:05] ifatgv4 commented on #20864
@calebcordry Thank you. I will follow it

[2019-04-07 08:26] trackonomics commented on #21599
Thank you. The code was already created and is on github. I will apply to Design review.
As for your question, not exactly - the settings is stored on the server. The funnel-relay script uses this settings to manipulate link on page. This also include recording analytics events.
We do not process links on the server, and in fact we try to avoid doing so.
Also out tag will need the 100% capabilitie

[2019-04-07 13:01] trackonomics opened #21755 "I2S: AMP Funnel relay"
## Summary
Funnel relay is a tool for publishers in the affiliate market. The tool involve a script running on articles's pages, extends affiliate links with extra information and track events on analytics that are later merged with other information about the traffic.

## Intent-to-implement (I2I) issue
https://github.com/ampproject/amphtml/issues/21599

## Experiment(s) to enable
amp-funnel-rela

[2019-04-07 13:27] trackonomics commented on #21599
Hello

I have a question. I probably did not understand correctly the procedure.
You suggested me to submit to design-review, but instead I went and open I2S issue. Probably a mistake.

https://github.com/ampproject/amphtml/issues/21755

Anyway, what do I have to do now, in order for amp-funnel-relay to be approved?
Is Design Review, a mandatory part of the procedure?

Can I move already to phase

[2019-04-08 04:24] jridgewell commented on #20543
Closed by #21757

[2019-04-08 04:24] #20543 closed

[2019-04-08 09:27] fbroersen opened #21758 "AMP Date Display: cannot be used in amp-list"
## What's the issue?

Our backend produces a JSON that needs to be localized in the frontend. Using the `<amp-date-display>` is not possible due to the limitation of putting the `<amp-mustache>` of the `<amp-date-display>` inside the `<amp-mustache>` of the `<amp-list>`.

It works, but does not validate (and thus not cache).

## Suggested fix:
- Allow nested template of `<amp-date-picker>` inside

[2019-04-08 11:16] ifatgv4 commented on #20864
@calebcordry Should I open a feature request for supporting $IF in cookies?

[2019-04-08 12:19] mister-ben commented on #20885
Yes. An update to support this is in testing.

[2019-04-08 14:05] #21278 closed

[2019-04-08 14:12] lsarni opened #21759 "__amp_source_origin not correct"
## What's the issue?

I have multiple `amp-list` on my page and I'm getting this error when accessing the page from Google at https://www.google.com/amp/s/www.chefsfeed.com/amp/experts/740-evan-rich:

This are the request headers:
![Screen Shot 2019-04-08 at 11 05 00](https://user-images.githubusercontent.com/15196342/55730533-cf81f580-59ee-11e9-9ac2-e62682532b1f.png)

And this the response header

[2019-04-08 14:21] SchnWalter commented on #10371
FYI: A new "loading" attribute exists in the browser features pipeline for:

* Chrome: Lazily load below-the-fold iframes and images
  https://www.chromestatus.com/feature/5645767347798016
* Firefox: Add lazy loading for images:
  https://bugzilla.mozilla.org/show_bug.cgi?id=1535749

[2019-04-08 15:02] cvializ commented on #21706
After investigating, I found that the custom mask in `amp-inputmask` was over-optimized for the telephone number use case. I propose we add a `mask-strip-zeros` attribute to allow document authors to opt-in to removing the zeros. This is not backward compatible, but usage is still low and the behavior only applies on paste which is not a critical flow that people will be depending on to remain the

[2019-04-08 15:17] jpettitt commented on #21723
+1 for `excludes_extensions`

`amp-access` and `amp-subscriptions` are mutually exclusive.

[2019-04-08 15:23] jpettitt commented on #21649
Maybe enhance `amp-user-notification` to listen for message from a service worker?

[2019-04-08 15:45] Antoinebr commented on #20269
I'm facing the same issue.

The API sends back : ```OK```  but the cache is not flushed.

My canonical page has a ```cache-control: max-age=0```

To test how fresh is the cached version I echo a timestamp ( server side ) on my canonical page and compare it to the cached page.

The code I used to flush the cache : https://glitch.com/edit/#!/amp-tracking?path=bustCache.js:40:13

I recorded a video w

[2019-04-08 16:06] ifatgv4 commented on #21377
Hi, @jeffjose
Are you planning to support this?
Thanks

[2019-04-08 16:51] aghassemi commented on #10371
re-triaging to runtime team

[2019-04-08 16:59] bomjastik opened #21760 "amp-bind for updating amp-audio attributes"
Given we have an amp-audio player on the page. Then we get some data from the server using amp-state. How can I update amp-audio with the new data?

I have tried to do it in "amp-bind" way:
[code]
but I've got errors:

![amp-audio](https://user-images.githubusercontent.com/1671780/55742360-2829b080-5a38-11e9-93ec-ba6a4a5933f3.jpg)

@sbenz

[2019-04-08 17:28] cathyxz commented on #21500
Hi @nitzanj! I wanted to check in and give you a heads up on the following:
1. If you need help with your implementation or have questions, feel free to ping myself (czhu) or the wg-ui-and-ally channel on slack.
2. If at any point you feel like there are multiple options in your component design or that aspects of it may be controversial (I currently don't see any that are obviously so but this is

[2019-04-08 18:47] jridgewell commented on #21759
`response.headers['Access-Control-Allow-Origin'] = params[:__amp_source_origin]` is incorrect. You want to return the origin of the requesting page (`https://www-chefsfeed-com.cdn.ampproject.org`), not the source origin of the AMP document (`www.chefsfeed.com`).

[2019-04-08 18:47] #21759 closed

[2019-04-08 19:27] jridgewell commented on #21739
`layout=responsive` isn't supported on `<amp-carousel>`. This is likely the reason.

[2019-04-08 20:04] jridgewell commented on #21708
The iframe url should be on the same domain as the AMP document. You can't use cross origin service-workers, so their would be little point in AMP loading an iframe that's cross domain for you to do it.

[2019-04-08 20:04] #21708 closed

[2019-04-08 20:32] aghassemi commented on #21754
That's currently not possible.

[2019-04-08 20:37] aghassemi commented on #21736
Thanks @machal for the feedback. I agree the correct solution is not very ergonomic.

Maybe we can have an API like:
[code]

/cc @cathyxz

[2019-04-08 20:42] aghassemi commented on #21758
Hi @fbroersen

We do support nested templates but the syntax is a bit different:
You can use `<script type=text/html type=amp-mustache>` instead of `<template>` for the nested case.

Please see https://github.com/ampproject/amphtml/blob/84bf6f3203fd7a0a27349a18a560761ae4490320/extensions/amp-mustache/amp-mustache.md#usage for more details.

[2019-04-08 20:42] #21758 closed

[2019-04-08 20:46] aghassemi commented on #21760
Thanks @bomjastik, `amp-bind` does not support everything by default, we add support for it on-demand in a lot of case.

This is fairly straightforward to add if it is something you are interested in contributing. https://bit.ly/helpamp

[2019-04-08 21:27] #19004 closed

[2019-04-08 21:39] jridgewell commented on #10623
Re: b/118645457. In the meantime, can we fix this behavior for scrollable lightbox? Something similar to the 1px scrollTop hack we do for [iOS embed viewport](https://github.com/ampproject/amphtml/blob/5e6b429319e5d6efb74d483732759c3ea20b8679/src/service/viewport/viewport-binding-ios-embed-wrapper.js#L288-L303).

[2019-04-08 21:44] aghassemi commented on #10623
@jridgewell We do that already https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L482 b/118645457 happens regardless of scrollable lightbox.

[2019-04-08 21:51] jridgewell commented on #10623
You're only applying it in scrolling-up direction. You need to apply it to the scrolling-down direction, too.

[2019-04-08 22:25] cathyxz commented on #21736
I still suggest using `object-fit` to crop your initial image because this allows `<amp-lightbox-gallery>` to animate the transition. I think with `object-position`, it might be possible to be a lot more precise with the cropping as well.

The reasoning here is because it's not possible to animate the transition from one image to a second image with a different aspect ratio because it's not possib

[2019-04-08 23:13] gmajoulet opened #21767 "amp-video tests fail but return SUCCESS"
The following command `gulp test --files=extensions/amp-video/0.1/test/test-amp-video.js --nobuild` outputs:

[code]

The tests silently fail and return success, without running the following tests.

We should fix these, but do we know what could be happening that causes the error to not be reported?

[2019-04-08 23:13] gmajoulet commented on #21767
cc @rsimha

[2019-04-08 23:35] torch2424 commented on #21599
@trackonomics

We do not process links on the server, and in fact we try to avoid doing so.
Also out tag will need the 100% capabilities of custom solution, since we going to extend the way we work on links in the future.

Ah, thanks for the explanation. Could you perhaps provide some more documentation, or an expanded design doc so I can get more of a visual. If we end up doing a design review th

[2019-04-08 23:51] torch2424 commented on #21739
@Suranga-Aluthgamage please see @jridgewell and let us know if this fixes the issue for you 😄

[2019-04-09 03:29] Suranga-Aluthgamage commented on #21739
Thanks! We will let you know if this solves the issue.

Really appreciate the support.

Suranga

From: Justin Ridgewell <notifications@github.com>
Sent: Tuesday, April 9, 2019 12:58 AM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Suranga-Aluthgamage <suranga@hansadiamonds.com>; Mention <mention@noreply.github.com>
Subject: Re: [ampproject/amphtml] Initial image Loading Issue (#21739)

l

[2019-04-09 07:20] Suranga-Aluthgamage commented on #21739
Sure. I'll check.

Thanks.

On Tue, Apr 9, 2019, 08:59 <suranga@hansadiamonds.com> wrote:

[2019-04-09 07:52] popovvb commented on #21754
Tell me, maybe through something else you can implement a smooth scrolling with the ability to stop?

[2019-04-09 08:17] dianomi-mjs commented on #19951
@jasti just wanted to make sure you saw the last comment.

[2019-04-09 08:42] vpon-sdk opened #21769 "I2I: ✨ Add Vpon Analytics to AMP analytics vendors"
✨ Add [Vpon Analytics](https://www.vpon.com/) to AMP analytics vendors

[2019-04-09 09:46] p2er opened #21771 "Side by side date-picker"
## Describe the new feature or change to an existing feature you'd like to see

Travel sites often require a start and end date that exceeds a single month. For mobile the solution is pretty nice wich includes multiple months as vertically scrolling list, where switching from one month to the next is seamless while displaying multiple months at once on a taller device. A similar solution should be

[2019-04-09 10:02] p2er opened #21772 "amp-google-maps with amp-bind integration"
## Describe the new feature or change to an existing feature you'd like to see

For travel sites it is often required to show locations on a map and and reflect user selections (e.g. country, state, city) on that map to help inspire the user and find relevant places as markers on that map. The selection on that map should be made available for amp binding to show relevant information in an amp-lis

[2019-04-09 10:31] kenyeung826 commented on #18709
Don't know whether is a correct way to do
This problem seems can be evaded by adding
`<style>
        .fb_iframe_widget_fluid_desktop iframe{
            width: 100% !important;
        }
    </style>`
to remote.html
[https://amp.dev/documentation/components/amp-ad#running-ads-from-a-custom-domain](url)

[2019-04-09 12:40] Binipro commented on #8088
Hello @aghassemi ,

I am currently working on integration of this AMP component with Brightcove player and I noticed that when the player is in dock state during ads playback the click-though on ads click is lost.
Is there a way to re-gain this feature?

Thank you!

[2019-04-09 13:36] Sylgrid opened #21773 "[AMP-IMG] If parent is Position:Fixed / TranslateX -100% = IMG not loaded"
## What's the issue?

When an AMP-IMG is inside a contener in a fixed position and outside the screen (`TranslateX = -100%`), the Image is not loaded. With `TranslateY`, the image is loaded.

If we check the Chrome Console / Network Tab, we can see that the img URL is not called.

## How do we reproduce the issue?

Demonstration :

- [CodePen example](https://codepen.io/anon/pen/oOBzBa)

Check the

[2019-04-09 14:37] ithinkihaveacat opened #21776 "Improve cache documentation for config.js e.g. isProxyOrigin()"
[`isProxyOrigin()`](https://github.com/ampproject/amphtml/blob/4721b11f23920917d7b2eb83991e23a94cfcb724/src/url.js#L371) relies the regular expression `/^https:\/\/([a-zA-Z0-9_-]+\.)?cdn\.ampproject\.org$/` ([source](https://github.com/ampproject/amphtml/blob/84a002d004fdefa3eae85ef8e8647b9f7abfc472/src/config.js#L41)) to determine whether a page is being viewed on a CDN or not. This regexp matche

[2019-04-09 14:42] Svenmay opened #21777 "<amp-lightbox> in <amp-carousel> working differently on iOS vs. Android"
## What's the issue?

<amp-lightbox> is rendering differently on iOS compared to Android when triggered within <amp-carousel>.
On Android everything works as expected, i.e. the navigation arrows (left + right) disappear when lightbox is opened. On iOS the navigation arrows are still visible when lightbox opened and the content of the underlying page is also still visible.

## How do we reproduce t

[2019-04-09 15:06] cramforce commented on #21600
I wouldn't worry about the validator change costing time since this isn't super urgent.

[2019-04-09 15:44] mdiblasio opened #21780 "Broken link (404) in documentation"
The "Google AMP Client ID API documentation" link in [this article](https://github.com/google/amp-client-id-library) returns a 404.

[2019-04-09 16:54] aghassemi opened #21783 "video docking: should toggle the `mask` during Ad play"
By @Binipro:

@alanorozco we should toggle the docking mask between `AD_START` and `AD_END` similar to how `autoplay` does it:
https://github.com/ampproject/amphtml/blob/7d973cd128bead73f99fb21304e20a40da322c38/src/service/video-manager-impl.js#L800

We should keep the "X" button visible and at the corner during Ad play however.

[2019-04-09 16:55] aghassemi commented on #8088
Hi @Binipro, It is an issue with our implementation, created: https://github.com/ampproject/amphtml/issues/21783

[2019-04-09 17:00] aghassemi commented on #21771
/to @cvializ

[2019-04-09 17:04] aghassemi commented on #21772
Thanks @p2er for the FR. There are two approaches here:
1- dedicated Maps component #12209
2- two-way messaging for `amp-iframe` https://github.com/ampproject/amphtml/issues/9074

two-way messaging is getting closer to reality, it has been blocked by inability for us to detect whether a message came from a user-interaction or not. We are working with the Chrome team to get that resolved ( https://

[2019-04-09 17:11] IamAlta opened #21785 "Change <option> "selected" when a second <select> element is changed."
## Describe the new feature or change to an existing feature you'd like to see
I have two "select" elements. When one is changed, I'd like the other to change.

The user should be able to change the second "select" element, but the Destination State "initializes" to the Billing State _when that is selected (of course, when the page loads, the Destination is set to to "Select the State").

I can't

[2019-04-09 17:11] aghassemi commented on #21777
Thanks @Svenmay. We are currently working on version 2 of `amp-carousel`. We will verify this is fixed in the new version but unlikely to backport the fix at the moment.

[2019-04-09 17:20] aghassemi commented on #21785
Hi @IamAlta

For "boolean" type attributes like `selected`, the `bind` expression needs to also be `boolean`.
So switching from `billstate=='APO-AP' ? 'selected' : ''` to just `billstate=='APO-AP'` will solve it.

Here is an example that seems to be working (I also changed the event from `input-debounce` to  `change` since that's more semantic)

https://codepen.io/aghassemi/pen/ROKxrE

[2019-04-09 17:21] aghassemi commented on #21785
Closing per comment above, please reopen if needed.

[2019-04-09 17:21] #21785 closed

[2019-04-09 17:50] jridgewell commented on #21773
Hi @Sylgrid,

Thanks for the report and the code demo! We're aware of this issue, and the tracking bug is https://github.com/ampproject/amphtml/issues/17452. In general, AMP does not have a good understanding of elements that are offscreen and move without explicit control by the runtime.

[2019-04-09 17:50] #21773 closed

[2019-04-09 17:57] mrjoro commented on #21469
Cancelling since there are no topics.

[2019-04-09 17:57] #21469 closed

[2019-04-09 18:18] jridgewell commented on #21776
This is correct. Other caches are not intended to use the exact same JS as the Google AMP Cache uses. Part of the cache transformations is to change `https://cdn.ampproject.org/v0.js` to the Cache specific JS file (eg, `https://www.bing-amp.com/v0.js`). These custom JS are allowed to use their own URL configurations.

This was recently discussed in #21703. We need better documentation around this.

[2019-04-09 19:21] harshvcs commented on #18034
@zhouyx: Is there an open ticket that I can follow to check when the EQUALS macro will be available? Thanks!

[2019-04-09 19:49] ithinkihaveacat commented on #21776
Aha! Yes [amp-cache-guidelines.md](https://github.com/ampproject/amphtml/blob/master/spec/amp-cache-guidelines.md) is probably a good place to explain how to do this? It would also be helpful to add a comment against that particular regexp in `config.js`.

[2019-04-09 19:54] jridgewell commented on #21776
I think so.

[2019-04-09 20:52] choumx opened #21787 "Error: null is not an object (evaluating 'a.sraDeferred.reject')"
This is the top 15th error in 1904021746450 RC by volume.

Looks like "sraDeferred" is from amp-ad-network-doubleclick-impl.js.

`go/ampe/CLCCrqDnuLq2VA`

/to @keithwrightbos /cc @lannka

[2019-04-09 21:55] choumx opened #21788 "🚄 Release tracking issue for release 1904091426070"
# Release tracking issue

- [x] Release [1904091426070](https://github.com/ampproject/amphtml/releases/tag/1904091426070) is cut as a new canary release
- [x] Release 1904091426070 pushed to dev channel (6:56 PM, Apr 9, 2019 UTC-4)
- [x] Release 1904091426070 pushed to 1% (4:56 PM, Apr 10, 2019 UTC-4)
- [x] Release 1904091426070 pushed to production (6:50 PM, Apr 15, 2019 UTC-7)

See the [release

[2019-04-09 21:59] #19023 closed

[2019-04-09 22:22] #21688 closed

[2019-04-09 22:39] choumx commented on #8395
New feature: If you use `<script type="text/plain" template="amp-mustache">` instead of a `<template type="amp-mustache">` to specify the mustache template string, you can use HTML char codes in the template (e.g. `&apos;` instead of `'`) and they will be preserved.

See https://github.com/ampproject/amphtml/blob/master/extensions/amp-mustache/amp-mustache.md#usage for details.

This is probably p

[2019-04-09 22:59] cathyxz opened #21790 "amp-img with layout responsive doesn't work in flexbox"
Repros in Chrome here: https://codepen.io/cathyxz/pen/wZgQqY?editors=1100

Basically today @kristoferbaxter discovered that when you have:
[code]
and
[code]

in AMP, the `<amp-img>` does not display. =(

It turns out that the dimensions of both the `<amp-img>` and the `sizer` are 0x0, and therefore the `<img>` tag is not rendered because the `layoutCallback` is not called.

This does work with `la

[2019-04-09 23:13] src-code commented on #21703
@jridgewell @ssantosms It looks to me like there is an extra `.` in the regex that shouldn't be there:

[code]
Before "bing-amp".  There's another dot inside the capture group, so it's expecting two dots in the string it's matching.

[2019-04-09 23:32] gmajoulet opened #21791 "Prerendering elements in document order."
### Context

AMP prerendering builds 20 elements, so that the content above the fold is already loaded and rendered when a user opens an AMP document.
As of today, AMP builds the elements as they get upgraded, which happens to be bottom up in the DOM: the deepest elements are upgraded first.

### Objective

The goal of this project is to ensure that the first 20 elements allowing prerendering will

[2019-04-09 23:36] gmajoulet opened #21792 "Cleanup 'amp-force-prerender-visible-elements' experiment."
See #21791

[2019-04-10 05:15] Suranga-Aluthgamage commented on #21739
Hi,

I have tried the solution in github, but it is not worked for our issue.
http://www.sampathmadhuranga.com/projects/superjeweler/amp/item-detail.html

Thanks.

On Tue, Apr 9, 2019 at 12:50 PM Vithanage Sampath <
sampath.vithanage1@gmail.com> wrote:

[2019-04-10 07:39] Svenmay commented on #21777
Thanks @aghassemi for looking into this.

Do you have a timeline when to expect the new version of amp-carousel being available? Are we talking about days, weeks(, months)?

This bug was notices by some of our iOS users on our production website, so do we have some urge for a fix/workaround.

[2019-04-10 11:02] Sylgrid commented on #21773
Hi @jridgewell
Thank you Justin.

I had guessed the problem origin (runtime mechanic) but I was skeptical because everything is ok with `TranslateY` while the element is offscreen too. :)
Good luck.

[2019-04-10 11:28] Serhio77777 opened #21794 "amp-story: animations not working in amp-video"
Hi, I have a problem with APM story video (amp-video). I create a simple story with 4 pages. Pages have video inside amp-video tag, it works fine, but when I add amp-animations they often do not start, although the amp-video contains animate-in attribute.

example story - https://test-cutnut-tv.cdn.ampproject.org/c/s/test.cutnut.tv/amp/66c1cd03-2fab-4a0b-9c8e-dcfa79f20bef

Can you help me, please?

[2019-04-10 14:46] gmajoulet commented on #21432
Will be solved by #21791.

[2019-04-10 15:33] morsssss commented on #20269
@jgluk does this API work at all currently? Or is it failing in certain circumstances?

[2019-04-10 15:39] mehulchauhan opened #21797 "amp-ad multisize option does not resize on page load/reload when advertisement "doubleclick" is in view."
## What's the issue?
amp-ad multisize option does not resize on page load/reload when advertisement "doubleclick" is in view.

You can see https://s3.us-east-2.amazonaws.com/f1-amp/en/latest/article.williams-in-2019-best-case-worst-case.6XtWlcZLUi0urIBmGYAmyp.html and scroll down where you will see advertisement just above social sharing buttons.

code we have to handle multisize advertisement is:

[2019-04-10 16:11] rsimha commented on #21767
Assuming these are negative tests for `http://` URLs where the console errors are expected, the line / block that generates the error should use `allowConsoleError` or `expectAsyncConsoleError` to prevent `mocha` from bailing early.

This smells like another instance of #15658 rearing its head.

[2019-04-10 16:19] rsimha commented on #15658
This is still an issue. See https://github.com/mochajs/mocha/issues/94 for reference.

[2019-04-10 17:13] alanorozco commented on #21783
Will need some refactoring of the controls, but definitely a bad issue.

[2019-04-10 17:17] alanorozco commented on #21453
I haven't been able to repro but will continue to take a look.

Valid feature request, will prioritize.

@tyagiudit Would you mind filing two separate issues for each of these? Thanks!

Closing this one since it won't be able to be tracked, but will prioritize the follow-up issues.

[2019-04-10 17:17] #21453 closed

[2019-04-10 17:20] AndrewKGuan opened #21799 "FR: Variable subs on page load for dynamic local content"
Often time, important info are passed over in urls and used displaying messages on the page.  For example, www.example.com?location=Washington%20DC and <p [text]='Welcome to QUERY_PARAM(location')>Where are you...</p>

Right now var substitutions only happens in the src or href attributes and it won't happen until on click.

Ideal feature: all vars can be made available using the substitution MACR

[2019-04-10 17:30] alanorozco commented on #21712
👋

This is the browser's native behavior. Since video renders controls, it wouldn't really make sense to capture tap events on it directly.

If you'd like to implement click-to-play, please refer to [this example.](https://amp.dev/documentation/examples/multimedia-animations/click-to-play_overlay_for_amp-video/?referrer=ampbyexample.com)

[2019-04-10 17:30] #21712 closed

[2019-04-10 17:41] #4988 closed

[2019-04-10 18:06] aghassemi commented on #21794
/to @newmuis, let me know if amp-video needs to do anything for this.

[2019-04-10 18:16] chcohen opened #21803 "AMP consent not working as expected when moving from cache to non cache pages"
Hey,
I think there might be an issue with passing the user's consent from amp cached-pages to amp non-cached pages.
If the user accepts the consent in a non-cached amp page,
than rejects it in a cached amp page,
than navigates again to a non-cached amp page -
the consent will be "accepted" although he rejected it

I tested it with your example page, but now there is a problem there and it can't be

[2019-04-10 18:18] calebcordry commented on #21803
@torch2424 I think you have more context here. Let me know if not, I can look but I thought you might be faster.

[2019-04-10 18:28] rsimha opened #21804 "Refactor the Timer class to use a custom key type instead of `number`"
This came out of the discussion at https://github.com/ampproject/amphtml/pull/21618#discussion_r270519325

We currently use `number` as the default type in the `Timer` class. We should use a custom key type instead, that will make typecasts elsewhere in the code either unnecessary, or less ambiguous.

https://github.com/ampproject/amphtml/blob/a352b31ab681c723819bb793853d156074bfd602/src/service/t

[2019-04-10 18:28] rsimha commented on #21804
/cc @jridgewell @aghassemi

[2019-04-10 20:28] rsimha commented on #18748
#21618 has brought us to 20190301. There are still some outstanding fixes that we are awaiting in the next release. I'll close this issue once we adopt it.

[2019-04-10 20:41] jpettitt commented on #21395
@merwan7 here is what I'm thinking from an API standpoint

This will be a different type of `local` service.  If the `"type": "iframe"` and `"iframeSrc": "..."` are present it will be treated as if it were the local service (that is it will be preferred in platform selection and will be called in any circumstances where the `local` service would normally be called) .

Messages will be sent to the

[2019-04-10 21:09] gmajoulet opened #21809 "Re-enable amp-story-hint tests."
Re-enable amp-story-hint tests.

Context: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/test/test-amp-story-hint.js#L48-L87

[2019-04-10 21:13] rsimha commented on #21809
More context: https://github.com/ampproject/amphtml/pull/21618#discussion_r271931950

[2019-04-10 21:14] diantekyrie commented on #15822
Also reproduces in lightbox gallery at https://m.aliexpress.com/item/32919559167.html?pid=808_0000_0201&spm=a2g0n.search-amp.list.32919559167&aff_trace_key=&aff_platform=msite&m_page_id=4654amp-i-NUhnrXOPm9ijLvWkMEcQ1554929837203 on Chrome 73.0.3683.86

[2019-04-10 21:30] cathyxz commented on #15822
/cc @sparhami so this doesn't slip through the cracks. It looks like this bug is still active and not solved by our previous fixes.

[2019-04-10 22:03] erwinmombay commented on #21703
@jridgewell do you mean we would require `cdnProxyRegex` to be explicitly set through AMP_CONFIG?

For me the main question, and this hasn't been answered is, Is AMP_CONFIG actually a required Object for v0.js (or any other main js binary) to function correctly?

originally we had treated it as optional and that v0.js should work without it.

[2019-04-10 22:32] rsimha commented on #21056
Marking this high priority since it's disrupting visual tests more often than not.

[2019-04-10 22:34] fox94610 commented on #17997
Still checking to see if anyone has looked into this issue. This bug is still out in the wild for <amp-ad>

[2019-04-10 22:34] rsimha commented on #21056
@danielrozenberg I found two leads that might contain a fix for this:

- https://github.com/GoogleChrome/puppeteer/issues/3323, specifically https://github.com/GoogleChrome/puppeteer/issues/3323#issuecomment-475518797
- https://github.com/GoogleChrome/puppeteer/issues/1552

- I've attempted the `networkidle2` fix in #21808, and sent it to you for review.
- There's a `responseHandler` approach to d

[2019-04-10 22:52] jridgewell commented on #17997
We already have the fix, but it's not been deployed yet. We'll be doing it soon. In the meantime, this error has no effect on the page, you can safely ignore it.

[2019-04-10 22:56] jridgewell commented on #21703
Oh, I thought we treated it as a requirement. Does it makes sense to make it required in this case?

[2019-04-10 23:08] rsimha commented on #21703
Today, we don't write the `AMP_CONFIG` to `v0.js` unless...

1. `--fortesting` is passed to `gulp dist`
2. `gulp prepend-global` is explicitly run

https://github.com/ampproject/amphtml/blob/2b8b439203444545acd5c8780ae5ea79ac972b0a/gulpfile.js#L860-L876

I'm not against making the config a requirement. However, which one should we default to? (Tests use `prod-config.json` as the default.)

[2019-04-11 00:12] torch2424 commented on #21256
Found out this is also an issue for Edge: #21812

Thanks for catching this @rsimha 😄

[2019-04-11 00:14] cathyxz opened #21815 "Clarify logging wording wrt auto-rebased test shards"
Today I learned that our test shards are individually auto-rebasing provided that there are no merge conflicts. This is insanely awesome, which is why we should make that clear to readers of our said logs so they can just rerun the shard instead of manually rebasing and causing more than necessary tests to run (like what I did to all the renovate PRs today).

The log currently reads like this:
[co

[2019-04-11 00:14] torch2424 commented on #21739
@Suranga-Aluthgamage

So I looked at your website:

![Screen Shot 2019-04-10 at 5 13 36 PM](https://user-images.githubusercontent.com/1448289/55921981-0ead7380-5bb4-11e9-9ed4-85f241497bed.png)

And it seems that the `amp-carousel` is still `layout=responsive`. Let me know if I am testing this correctly.

Thank you! 😄

[2019-04-11 00:34] Pkmmte commented on #14060
@cathyxz Since amp-next-page is still experimental, my company decided to experiment with element-level infinite scroll to incorporate infinite scrolling for articles. I think we got it working on staging, but we're wondering if this violates any AMP rules. Just wanna make sure our pages still index as AMP on search.

Can you please verify that using amp-list for entire AMP articles won't cause us

[2019-04-11 00:36] erwinmombay commented on #21703
yeah, at this point i think it should be a requirement. The runtime won't really run correctly on cache without it.

prod makes more sense to me as default as it is the majority case.

[2019-04-11 00:36] torch2424 commented on #21803
@calebcordry Thanks for cc'ing me!

Also adding @zhouyx on this, as they will have the most context.

@chcohen

Thank you for the issue! 👍

So I did confirm this with the following URLs:

Non-cache page (canonical): https://amp.dev/documentation/examples/user-consent/external_user_consent_flow/

Cache page (view in mobile dev tools inspector): https://www.google.com/amp/s/amp.dev/documentation/exa

[2019-04-11 00:47] cathyxz commented on #14060
So this feature is now launched, hence any pages using it will be valid AMP, and will index in Search as AMP. However, note that this feature wasn't designed with loading more articles in mind, so its definitely possible that you might run into issues implementation-wise (I currently can't think of a great way to make the code for your use case look very clean...). On the whether this is a good id

[2019-04-11 00:52] shishirm opened #21816 "valueMissing error triggered on select field set via amp-bind/amp-state"
## What's the issue?

I am using amp-state and amp-bind to pre-set values on linked select type dropdowns. While I am able to set the fields as expected, it automatically triggers a valueMissing error and then any manual selection of drop downs does not cause the errors to disappear.

## How do we reproduce the issue?

https://hissing-direction.glitch.me/#development=1

Clicking on the button caus

[2019-04-11 00:59] nainar commented on #14060
Hi @Pkmmte what are the use cases you are trying to solve for document level infinite scroll?
For e.g. what analytics support do you need? Are you able to change the URL as the user scrolls into the next article?

[2019-04-11 01:09] torch2424 commented on #21816
Triaging to @choumx , Feel free to re-assign 😄

[2019-04-11 01:09] torch2424 commented on #21799
Triaging to @choumx , Feel free to re-assign 😄

[2019-04-11 01:10] torch2424 commented on #21797
cc @ampproject/wg-ads

[2019-04-11 01:11] torch2424 commented on #21780
Triaging to @calebcordry , feel free to re-assign 😄

cc @lannka @jeffjose

[2019-04-11 01:12] torch2424 commented on #21769
Thank you for the I2I, when you create your PR, feel free to mention me once it is created. Thank you! 😄

[2019-04-11 03:39] Suranga-Aluthgamage commented on #21739
Hi Aaron,

Ok I will get this double checked and get back to you.

Appreciate your support.

Thanks and Regards

Suranga

From: Aaron Turner <notifications@github.com>
Sent: Thursday, April 11, 2019 5:45 AM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Suranga-Aluthgamage <suranga@hansadiamonds.com>; Mention <mention@noreply.github.com>
Subject: Re: [ampproject/amphtml] Initial image Loa

[2019-04-11 05:04] Suranga-Aluthgamage commented on #21739
Hi,

According to my knowledge  layout='responsive' is supported for
amp-carousel,
which has type=slides.
And also I have compared my code with a example in amp official site. I
couldn't find any difference there.

Below I have attached screens of my code and theirs. Please find the
attachments.

Thanks.

*Amp code -*
[image: amp-code.JPG]

*My code - *
[image: my-code..JPG]

On Thu, Apr 11, 2019

[2019-04-11 05:22] Narendharr opened #21817 "Form Submission issues with 406 error"
## What's the issue?

Form Submission issues with 406 error.

I build AMP pages for my clients. The forms used to work before with same code without any errors. I get the same errors on all the websites I built previously. All forms are not working now and getting the same error.

![image](https://user-images.githubusercontent.com/9212952/55932090-c048b500-5c45-11e9-8029-4705ff5cc20d.png)

All of

[2019-04-11 06:09] chcohen commented on #21803
Thanks  @torch2424 !
Can you please update when you start working on it?

[2019-04-11 08:06] Suranga-Aluthgamage commented on #21739
Hi,

I changed my code as below but every time this issue occurs.

*Change 1* - Here I have replaced 'responsive' by 'fixed-height'.The Issue
is same as earlier.
                     <amp-carousel id="carouselWithPreview"
                          height="300"
                          layout="fixed-height"
                          type="slides"

on="slideChange:carouselWithPreviewSelector.toggle

[2019-04-11 14:02] ahmadalfy commented on #18507
I am seeing the same issue with Amp-ad `type="doubleclick"` as well. Using Chrome the latest versionn

[2019-04-11 15:15] merwan7 commented on #21395
@jpettitt This is great. Thank you for the details! I really like that this would allow us to write something to support both `amp-access` and `amp-subscriptions`. This flexibility will be useful.

Am I correct in assuming that if someone is already using the `amp-subscriptions-google` extension they could also use a service of type `iframe` if they want to? That is, would this work with any `amp-

[2019-04-11 15:29] vaibhav-readwhere opened #21820 "I am making AMP live blogs but they are not appearing anywhere in search."
I have started making AMP Liveblogs for events my team cover i.e cricket or football matches. Everything is according to amp requirements but they are not showing up in search. Please help.

My liveblog sample page url - https://live.indiatvnews.com/article/news-detail/195_10464869/liveblog/amp

Please help.

[2019-04-11 16:06] rsimha opened #21821 "`amp-list` integration tests are flaky"
Failures from the past few hours:

https://travis-ci.org/ampproject/amphtml/jobs/518540806#L1531-L1537
https://travis-ci.org/ampproject/amphtml/jobs/518493595#L1539-L1545
https://travis-ci.org/ampproject/amphtml/jobs/518425950#L1539-L1545
https://travis-ci.org/ampproject/amphtml/jobs/518388001#L1531-L1537
https://travis-ci.org/ampproject/amphtml/jobs/518429018#L1557-L1564

[2019-04-11 16:07] rsimha commented on #21821
/cc @cathyxz who is build cop, to fix / skip.

[2019-04-11 16:09] choumx commented on #21820
Unfortunately we can't give guidance on SEO-related issues. I'd double-check your page against public documentation for AMP in Google Search e.g. https://developers.google.com/search/docs/guides/about-amp

Good luck!

[2019-04-11 16:09] #21820 closed

[2019-04-11 16:12] choumx commented on #21817
I think HTTP 406 indicates an issue with server configuration with respect to `Accept-*` headers. I don't believe this is AMP related.

/cc @cvializ

[2019-04-11 16:12] #21817 closed

[2019-04-11 16:23] rsimha commented on #21815
I think this messaging will be more visible in the "AMP test status" details page. For example, [here](https://github.com/ampproject/amphtml/pull/21811/checks?check_run_id=98451785).

Assigning to @danielrozenberg who can add the line there.

[2019-04-11 17:17] jridgewell commented on #18507
Hi all,

This is a duplicate of #16052. Please see https://github.com/ampproject/amphtml/issues/16052#issuecomment-426386111, in particular. While this appears as an error, it it totally harmless and can be ignored. We're working on this.

[2019-04-11 17:20] machal commented on #21736
@cathyxz Thanks for idea with `object-fit`. But I my case (and many other cases) it is impossible, because I want hand made crops in the thumbnail. No transition is OK in that case.

The case with `<amp-img hidden>` is fine.

But I think there should be an extra option with `<a><amp-img>` for extra simple cases (and jQuery developers). Mostly I don't really need `srcset` for detail image, because

[2019-04-11 18:23] Pkmmte commented on #14060
@nainar We run an editorial website, and I'm trying to surface a new articles after a user has finished reading the original article without them having to click on any suggestions.

We weren't able to change the URL as the user scrolls, but I ended up using an amp-iframe for the article body anyway, given HTML limitations with amp-mustache. The amp-iframe source is an exact copy of the AMP page,

[2019-04-11 18:42] alexandr-kazakov opened #21826 "AMP4EMAIL: "Advanced Server Request" example does not work from Gmail"
## What's the issue?

Code from this example: https://amp.dev/documentation/examples/interactivity-dynamic-content/advanced_server_request/?format=email does not work if I send it to my gmail using this service: https://amp.gmail.dev/playground/

In gmail when you switch select error: http://bit.ly/2KuTdyL

## How do we reproduce the issue?

1. Go to this page: https://amp.dev/documentation/exampl

[2019-04-11 19:05] ssantosms commented on #21703
That's a good point. I will validate and fix if needed.

[2019-04-11 19:39] cathyxz commented on #21736
A few thoughts here:
1. For the `<a><amp-img/></a>` use case, maybe having an `on="tap:myLightboxId.open"` action could solve that. If there are certain cases where we do no transition, we could also allow tap actions to trigger opening a lightbox specified by a lightboxId. This would require a slight refactor to the `open_` function in `amp-lightbox-gallery.js` and expanding the list of `TAP_ELIG

[2019-04-11 20:08] torch2424 commented on #21803
@chcohen Definitely can :) Thank you for your patience!

[2019-04-11 20:21] torch2424 commented on #21739
@Suranga-Aluthgamage Thanks for making those changes! Surprised it didn't work.

@jridgewell

I went ahead and made my own example on glitch, and it seems the issue is that the amp-img never loads:

![Screen Shot 2019-04-11 at 1 19 39 PM](https://user-images.githubusercontent.com/1448289/55990482-a070bb80-5c5c-11e9-9e5e-7c7f05040764.png)

Since I know @sparhami is working on carousel, I'll re-assi

[2019-04-11 20:33] rsimha opened #21828 "`third_party/` code must not be treated as closure code"
AMP components like `extensions/amp-subscriptions/` include third party code that is checked in to our repo under `third_party/`. When we run the type checker via `gulp check-types` or minify code via `gulp dist`, closure compiler treats the code in `third_party/` as if it were closure code.

- This has always been the case, but we've never realized it
- This is risky because code in `third_party/

[2019-04-11 20:34] rsimha commented on #21828
/cc @erwinmombay @dvoytenko @choumx @cramforce for visibility and for ideas.

[2019-04-11 20:45] cramforce commented on #21828
`s/\/\*\*/\/*x/g` may do it. (Remove the JSDoc `/**` open marker.

[2019-04-11 20:56] dvoytenko commented on #21828
@cramforce yes, `/**` -> `/*` removes the problem.

[2019-04-11 21:22] cramforce commented on #21828
I'd just keep the number of chars the same for source maps :)

On Thu, Apr 11, 2019 at 1:57 PM Dima Voytenko <notifications@github.com>
wrote:

[2019-04-11 21:28] choumx commented on #21828
I hit this during the last CC upgrade, which started failing on missing type paths. So this might've been an issue even before Raghu's PR.

If this regex is still being used, we should just update it to catch this instance.

https://github.com/ampproject/amphtml/blob/71339c2a2455b3c98b2cf03c541902d62c9b711f/third_party/subscriptions-project/README.amp#L8-L10

Add a `|<` to the first capture group

[2019-04-11 21:50] cathyxz commented on #21821
So the specific test that is flaky in question is:
[code]
It consistently passes on my computer locally (mac, Chrome/Chrome headless within 500ms, FF within 3000ms), but times out on Linux / headless Chrome on Travis. It's a bit confusing why this would time out on Travis at 15000 ms.

I'll modify this test slightly so that it becomes obvious which poll is failing to further troubleshoot.

[2019-04-11 22:20] rsimha commented on #21828
In #21830, I tried what at first seemed like an elegant solution to replace `/**` with `/* ` in the `gulp` stream that's passed to `gulp-closure-compiler`, but it didn't work because `gulp-closure-compiler` ignores the contents of the file stream passed to it, and instead, picks up the filename and re-reads it from disc.

@choumx
- You're right! I just noticed that your closure compiler upgrade fr

[2019-04-12 01:21] mwakkiy opened #21835 "Yahoo! Japan Template Ads integration"
## What's the issue?

Hi, I'm Yahoo!JAPAN Ad engineer. I need to test "Template Ads" before adopting it in our product. However, I can't upload to ".cdn.ampproject.org/ad/s/". Can you whitelist "mwakkiy.github.io" with AMP Cache?

## How do we reproduce the issue?

I created this amp4ads file.
https://mwakkiy.github.io/amp_template_ads/amp_template/ad_test002.html

I want to cache in the next path

[2019-04-12 07:38] Suranga-Aluthgamage commented on #21739
Hi Aaron,

Good luck and let us know once you figure out the solution.

Appreciate your support.

Thanks and Regards

Suranga

From: Aaron Turner <notifications@github.com>
Sent: Friday, April 12, 2019 1:52 AM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Suranga-Aluthgamage <suranga@hansadiamonds.com>; Mention <mention@noreply.github.com>
Subject: Re: [ampproject/amphtml] Initial image

[2019-04-12 07:41] ssantosms opened #21839 "gulp dist fails on Windows"
## What's the issue?

**gulp dist fails on Windows because it fails to create sub directories**

The issue is that 'gulp-closure-compiler' uses 'graceful-fs' which is not capable of recursively create subdirectories in Windows
I was able to workaround the issue by manually editing **node_modules/gulp-closure-compiler.js**.

**Code sample**
File: node_modules/gulp-closure-compiler.js
`    // Create

[2019-04-12 13:02] machal commented on #21736
The idea with `<picture>` is interesting. You mean something like this?

[code]

Looks good for me and – because it is the standard – it should be one of the options.

But for lot of developers it will be hard to think/write in comparison with `<a><amp-img/></a>` or two `<amp-img/>` elements. So I think `amp-lightbox-gallery` should accept both.

Another problem is that my initial `srcset/sizes` s

[2019-04-12 13:25] coreybyrnes commented on #21414
@lannka @jasti @mrjoro @zhouyx hey team! been about 30 days since i reported this bug... any thoughts? thanks!

[2019-04-12 15:13] jasti commented on #21414
Hey @coreybyrnes, apologies for the delay. Some of the team has been out and we are a bit tied up with AMP conf next week. We'll have the team look into during the week of thee 22nd.
Apologies for the delay!

CC @keithwrightbos @jeffkaufman for help if you have the bandwidth to take a look in the mean time.

[2019-04-12 16:22] erwinmombay commented on #21828
@rsimha , you might need to write the swg files into build (transformed), and change the paths

[2019-04-12 23:13] cathyxz commented on #21821
Let's monitor for a bit and see how these do.

[2019-04-13 06:24] ssantosms commented on #21703
@src-code we brought it back to you can take a look. The CORS error is still there, but the regex has been fixed.

Also, I see the same error in the console when I open your page from Google CDN

[2019-04-14 04:49] asanian commented on #13103
Using placeholder not fixed the problem.

[2019-04-14 04:54] asanian commented on #13103
Example: Iframe with a placeholder

<amp-iframe width=300 height=300
   layout="responsive"
   sandbox="allow-scripts allow-same-origin"
   src="https://foo.com/iframe">
 <amp-img layout="fill" src="https://foo.com/foo.png" placeholder></amp-img>
</amp-iframe>

[2019-04-14 06:42] trackonomics commented on #21599
Thank you.
I will wait for May then.

[2019-04-14 21:17] choumx commented on #21828
I think @jridgewell has looked into modifying source files pre-compile to fix source maps due to version string replacement and license minification, though IIRC there isn't a good way yet.

[2019-04-15 03:39] danielrozenberg commented on #21815
I agree with @rsimha, I'll keep this in mind as I work on the test status bot

[2019-04-15 04:17] vpon-sdk commented on #21769
Hello~@torch2424 :
How can I to solve this problem? (about percy/amphtml)
Would you mind giving me a hand?
https://github.com/ampproject/amphtml/pull/21837

[2019-04-15 10:48] prash-mi opened #21853 "AMP Cache-Update is failing"
AMP Cache update is failing with a 403 error, following is the exact error message:

![Screen Shot 2019-04-15 at 16 10 40](https://user-images.githubusercontent.com/11733935/56126739-3b3d0300-5f99-11e9-91b8-378fa9cf29b8.png)

[This](https://mweb--demos-appspot-com.cdn.ampproject.org/update-cache/c/s/mweb-demos.appspot.com/amp-as-pwa/index.html/?amp_action=flush&amp_ts=1555324826&amp_url_signature=

[2019-04-15 13:41] mpaw commented on #21658
Thanks @dvoytenko and @jpettitt. For the most part I think this would work for us and solves the main problem.

Regarding the way that the "paid" content is inserted after it is decrypted. Would it be possible to still have it replace the "free" content like we can do now with `amp-access="NOT access"` and `amp-access="access"`? I can think of a couple examples where we might want to do more than

[2019-04-15 15:34] safwans commented on #21799
Adding additional context. This feature request initiated from one of the partners we are working with. Our team (MSC) is interested in contributing to the development of the feature.

Would love to get your thoughts on best implementation method. Would it be a component or deeper framework level change?

[2019-04-15 17:09] coreybyrnes opened #21857 "fixed ad above header"
I've been tasked with attempting to recreate a non-AMP ad product that's been very successful for us at CBS. It's a fixed ad that sits above a header/nav (fixed or not). So I'm opening it up for discussion to see if something like this could ever be approved/implemented. I've tried to hack at this from a few different angles but it doesn't seem that ads can be fixed in place aside from the Sticky

[2019-04-15 17:21] Pkmmte commented on #14060
@nainar Any further clarification on this?

[2019-04-15 19:50] jgluk commented on #20269
We are currently internally tracking a project to fix some of the inconsistent behavior of this API.

[2019-04-15 20:21] prateekbh commented on #4479
Work on this is now being tracked in #18615

[2019-04-15 20:43] prateekbh commented on #21649
An effort to standardize the effort of communication between workers and AMP-state is being tracked in #18615. That should in this use case as well

[2019-04-15 21:36] DrewRoberts commented on #21743
Good suggestion, @bjalford. I'll take a stab at it. I also opened an issue for the Docs repo:

https://github.com/ampproject/docs/issues/1894

[2019-04-15 23:19] src-code commented on #21703
@ssantosms It seems to still be working properly for me from Google CDN, can you verify the URL you were visiting was:

https://sports-yahoo-com.cdn.ampproject.org/c/s/sports.yahoo.com/amphtml/fantasy-basketball-rookies-who-will-provide-the-most-future-value-211618398.html

I can't seem to fetch the doc from bing.com still though:

https://www.bing.com/amp/s/sports.yahoo.com/amphtml/fantasy-basket

[2019-04-16 01:30] aghassemi commented on #21839
/to @rsimha

[2019-04-16 01:38] aghassemi opened #21860 "lightbox-gallery: Error: undefined is not an object (evaluating 'Y(a).sourceElement')"
[code]

go/amp-error/CJOA7o2xqfDSYQ

it is not new, but more common now that auto-lighbox is at 100%

[2019-04-16 01:39] aghassemi commented on #21835
/to @lannka

[2019-04-16 01:43] rsimha commented on #21839
I tried rolling back to a version that doesn't use `graceful-fs`. Unfortunately, `gulp-closure-compiler` has stopped publishing updates, and have even deleted their open source repo: https://www.npmjs.com/package/gulp-closure-compiler

@erwinmombay Is there any reason we need to use `gulp-closure-compiler`? (Do we use it only to support `gulp.src`?)

https://github.com/ampproject/amphtml/blob/680d

[2019-04-16 02:03] aghassemi commented on #21853
/to @jgluk to triage. Thanks.

[2019-04-16 02:04] aghassemi commented on #21857
/to @jasti @lannka

[2019-04-16 02:32] rsimha commented on #21828
We currently use `gulp-closure-compiler`, which is [no longer](https://www.npmjs.com/package/gulp-closure-compiler) receiving updates. (The repo has been [deleted](https://github.com/steida/gulp-closure-compiler) too.)

I think we can get around this by directly using `google-closure-compiler` with `gulp.src`. See [here](https://github.com/google/closure-compiler-npm/blob/v20190301.0.0/packages/go

[2019-04-16 02:41] jridgewell commented on #21828
Yah, I looked into the source code of the `gulp-closure-compiler` and it was rereading files directly from disk. When I tried writing the modifications to a temp directory before passing to the complier, it was getting other errors (or just ignoring them completely).

Switching to Closure's official gulp plugin might work. It looks like they take the modifications buffer and apply it before runnin

[2019-04-16 03:12] aghassemi opened #21861 "[Extension loading] amp-story: template rendering: rejected promise [object PromiseRejectionEvent]"
go/amp-error/CMP50_38xZLcmQE

does not seem to have a user-visible effect based on my testing, and does not seem to be new ( I can see it as far as March)

It is reproducible when hitting https://www-washingtonpost-com.cdn.ampproject.org/v/s/www.washingtonpost.com/graphics/2019/world/amp-stories/notre-dame-fire/?amp_js_v=a2&amp_gsa=1#ampshare=https%3A%2F%2Fwww.washingtonpost.com%2Fgraphics%2F2019%

[2019-04-16 03:19] rsimha commented on #21828
Crap, it seems like there's no way to get closure's official gulp plugin to use our custom `runner.jar`. Digging in...

/cc @erwinmombay

[2019-04-16 04:14] aghassemi commented on #21861
@newmuis @gmajoulet I updated the description. This is not a new error (just elevate due to the the WaPo story). Still only happens in `amp-story` pages but I believe it is related to `amp-mustache` trying to read `template` attribute which means a different thing in AMP Story than in normal cases.

Nothing to do on your side, I will investigate and assign appropriately.

[2019-04-16 04:28] aghassemi opened #21862 "`installExtensionForDoc` for `amp-mustache` installs v0.1"
`amp-auto-stories` uses `installExtensionForDoc` to fetch `amp-mustache` extension.

The problem is, it seems to always fetch `v0.1` of `amp-mustache` which can be an issue if the page already has `amp-mustache v0.2` included as it would result in a `Uncaught (in promise) Error: Duplicate template type: amp-mustache​​​` error.

I think `installExtensionForDoc` should load the same version that is

[2019-04-16 04:28] aghassemi commented on #21861
The root cause is https://github.com/ampproject/amphtml/issues/21862

[2019-04-16 04:29] aghassemi commented on #21862
(this is not causing any user-visible issue AFAIK and is not a new thing)

[2019-04-16 04:42] erwinmombay commented on #21828
should be possible, see https://github.com/ampproject/amphtml/blob/master/build-system/single-pass.js#L61

[2019-04-16 04:57] zhouyx commented on #21672
Thank you for suggesting the optimization.
@calebcordry do you recall why we decide to not provide the service in the past.

To verify the LINKER_PARAM, it requires sending the entire thing to the 3p service which includes user data like client id. TBH I'm am a bit concerned and don't think that AMP wants to play this role.
But I think it's worth exploring the possibility of providing a link decod

[2019-04-16 05:37] zhouyx commented on #21797
@mehulchauhan Thank you for reporting. This is the expected behavior.

AMP runtime only resizes element when it doesn't cause page jump, or with user interaction. The case you describes doesn't fall into any of these two categories. Thus the resize attempt is denied by the AMP runtime.

Let me know if this answers your question. Thank you

[2019-04-16 05:38] zhouyx commented on #18034
@harshvcs Thank you for following up. The entire team is traveling for the AMP Conf this week.

I don't think there's one, feel free to create one and reference it here. Thank you very much.

[2019-04-16 05:45] choumx commented on #21862
I wonder why it's trying to install `amp-mustache` when the page already has it (albeit a different version). That's the first thing to fix.

Re: versioning, easiest thing might be to make the version parameter required:

[code]

Then each extension should call this with the latest version.

[2019-04-16 05:49] choumx commented on #20530
Dupe of #18212.

[2019-04-16 05:49] #20530 closed

[2019-04-16 05:53] choumx commented on #21457
@erwinmombay Noticed this too. Looks like our error output formatting is not working as expected.

/cc @alanorozco

[2019-04-16 05:53] aghassemi commented on #21862
@calebcordry
My understanding is that story auto ads is a templated ad and does not require parent to include amp-mustache to work, but parent may include amp-mustache for other reasons.

[2019-04-16 05:55] choumx commented on #21804
I assume this was @jridgewell's suggestion.

[2019-04-16 05:55] rsimha commented on #21839
Good news. I'm working on a way to discontinue the use of `gulp-closure-compiler` and switch to the use of the native `gulp` plugin that's a part of `google-closure-compiler`. This is coming up in #21828.

After this is done, I'd imagine this issue should go away on its own. Stay tuned!

[2019-04-16 05:56] choumx commented on #21675
Layers is nearly ready for launch. Let's close this when it does.

[2019-04-16 05:57] choumx commented on #21410
Closing as stale due to lack of repro information.

[2019-04-16 05:57] #21410 closed

[2019-04-16 05:59] choumx commented on #21260
Yea, we'll need #5225 for that. Closing as a duplicate. Please comment on/follow that issue for updates.

[2019-04-16 05:59] #21260 closed

[2019-04-16 06:00] choumx commented on #5225
Another FR for this: #21260

Note that amp-script won't initially have ability to modify page history state.

[2019-04-16 06:02] choumx commented on #21135
@rsimha Can this be closed now?

[2019-04-16 06:24] xiaotong-kk9 commented on #17950
Just friendly ping. Is there any update on this?

Another travel partner is facing this issue.
All the dates except within the next 11 months should be blocked.
Is there any workaround for this use case?

[2019-04-16 07:48] Binipro commented on #21783
@alanorozco , any news about this issue?

[2019-04-16 08:12] calebcordry commented on #21672
@zhouyx We just weren't sure it was worth the effort, and if people would use it. It seems a few people have asked now.

[2019-04-16 08:32] calebcordry commented on #21862
@aghassemi That is correct. It looks like `installExtensionForDoc` is smart enough not to load the same extension twice if they are the same version, so everything worked as intended before the launch of V0.2.

Separately, would it make sense to switch story ads to always use v0.2? (We would still need to solve this problem in case parent page has v0.1)

[2019-04-16 17:23] prateekbh commented on #19514
@choumx @jridgewell @lannka if you know any such APIs from the top of your head can you please comment?

[2019-04-16 19:18] MediaSmackShahzad commented on #6054
Hi Everyone
How can I load blog posts through Load More button?
I want to create a blog page where when a user clicks on "Load More Button" then new posts appear in AMP theme.

[2019-04-16 20:48] prateekbh commented on #15125
@jridgewell @kalan2001 in order to debug this I followed the [amp-web-push](https://amp.dev/documentation/components/amp-web-push?referrer=ampproject.org) and [amp-shadow-doc](https://amp.dev/documentation/guides-and-tutorials/integrate/amp-in-pwa) tutorials and created https://amp-ex-web-push.netlify.com/
I cant seem to replicate the error, please help

[2019-04-16 22:21] cathyxz opened #21874 "Inabox tests flaky"
[code]

[2019-04-16 22:23] cathyxz commented on #21874
Git blames you @lannka xD, and therefore triaging to you to fix / skip. =)

[2019-04-16 22:29] fox94610 commented on #17997
Thank you!!!! Much appreciated.

[2019-04-17 01:22] rsimha commented on #21839
@ssantosms The dependency on `gulp-closure-compiler` has been removed. Let us know if this solved the problem for you.

[2019-04-17 02:04] rsimha commented on #21828
With #21868, we are no longer blocked by the weird behavior of `gulp-closure-compiler`. The coast is now clear to replace JSDoc comments in `third_party/`. This is coming up in #21878.

[2019-04-17 02:18] mwakkiy commented on #21835
cc/ @calebcordry

[2019-04-17 03:06] rsimha commented on #21828
**Update:** A mechanism for removing JSDoc from third party code is now available in #21878. We now need a strategy for fixing type errors in extensions code that uses third party code. See https://github.com/ampproject/amphtml/pull/21878#issuecomment-483908074

[2019-04-17 03:15] Tzyinc commented on #20685
+1 to facing this issue! Just adding the loop=true attribute breaks the swiping behaviour

[2019-04-17 05:49] watilde commented on #14425
As some people mentioned that there are some workarounds, but I was wondering the same idea.

[2019-04-17 05:59] rsimha opened #21880 "Don't run E2E tests unless runtime changes are included in a PR"
For validator-only changes, there is no runtime build. Therefore, the E2E test job fails.

Let's skip E2E tests unless there are runtime changes and a build was generated.

https://travis-ci.org/ampproject/amphtml/jobs/518871123#L322

[code]

[2019-04-17 06:16] aghassemi opened #21881 "🚄 Release tracking issue for release 1904200955460"
- [x] Release [1904170517570](https://github.com/ampproject/amphtml/releases/tag/1904170517570) is cut as a new canary release
- [x] Release 1904170517570 pushed to dev channel (12:19 AM, Apr 17, 2019 UTC-7)
- [x] Release 1904170517570 pushed to 1% (6:29 PM, Apr 17, 2019 UTC-7)
- [x] Release 1904170517570 push to 1% was **reverted** due to #21915 (10:00 PM, Apr 19, 2019 UTC-7)
- [x] Release [19042

[2019-04-17 06:17] #21788 closed

[2019-04-17 08:31] cathyxz commented on #19866
Hi @leonalicious:
So here's a simplistic demo for the three-list approach @sparhami proposed today: https://amp-infinite-scroll.glitch.me/.
You can play with the source code at: https://glitch.com/edit/#!/amp-infinite-scroll
Click on the "Remix Project" button to get an editable version.
<img width="291" alt="Screenshot 2019-04-17 at 5 15 42 PM" src="https://user-images.githubusercontent.com/15281

[2019-04-17 08:39] choumx commented on #21799
Would be helpful to see some concrete use cases for context. E.g. why is substitution-on-click insufficient?

[2019-04-17 08:44] sebastianbenz opened #21883 "[amp-script] Provide a better error message when fetch is used on page load"
Given the following amp-script declaration with container layout:

[code]

and the following amp-script:

[code]

The script will fail with an error:

[code]

This is confusing as it's actually caused by the fetch.

Suggestion: use a specific error message stating that fetch is not supported on page load.

[2019-04-17 08:46] #19054 closed

[2019-04-17 09:43] waldemarschneider opened #21886 "Date-Picker - consistentently showing date + 1 day"
There is an issue when populating fields with the dates from the date picker - even on the example pages (https://amp.dev/documentation/examples/components/amp-date-picker/?referrer=ampbyexample.com).
The input-selector show the correct date - while fields that get populated with the date show always date +1 day.
(Example from link above, first date-range - error on Chrome/Safari/Firefox )

`<amp-

[2019-04-17 13:17] sebastianbenz opened #21888 "FR: add a way to hide an element once it looses focus"
This is a use case I've encountered multiple times for menus and tooltips. Clicking on a button should show the element, but clicking anywhere outside the element should hide it again.

For example, take the menu that appears when you click on the Github profile icon in the top right icon (on desktop):

* it opens when the icon is clicked
* it closes when clicking anywhere outside the menu
* click

[2019-04-17 15:06] aghassemi commented on #21886
Thanks @waldemarschneider . To @cvializ to take a look.

[2019-04-17 16:50] SchnWalter commented on #7009
This can now be closed. We have [layout="intrinsic"](https://amp.dev/documentation/components/amp-img?referrer=ampproject.org#the-difference-between-responsive-and-intrinsic-layout)

[2019-04-17 19:37] jpettitt commented on #21658
We don't plan to change the page rendering, once a document is decrypted the premium plain text text will replace the encrypted blobs.  How it gets displayed will still be gated by CSS as now.  This will allow the paragraph / paragraph preview as now.

We haven't worked out the exact detail of how public keys will be published.  Probably not in a central location as that would make key rotation ha

[2019-04-17 20:20] jpettitt commented on #21395
Correct, I'm building this as part of the core `amp-subscriptions` as an alternate `local` platform.  It will be compatible with other vendor supplied platforms that cooperate with amp-subscriptions including `amp-subscriptions-google`

[2019-04-17 21:21] Antoinebr commented on #21853
@prash-mi

on : https://mweb-demos.appspot.com/.well-known/amphtml/apikey.pub

You key has a ```content-type: text/html```

It should be ```content-type: text/plain```

The documentation is not very clear so I took some note during my implementation ( node )
https://gist.github.com/Antoinebr/25673fabb11fd18c31cda4e3fbab74c3

I hope this can help

[2019-04-17 23:16] ssantosms commented on #21839
Thanks @rsimha

[2019-04-18 00:08] mpaw commented on #21658
@jpettitt Thanks for the clarifications

Can you clarify how that is going to work? From the document it seems like the response from our server will be in this format:
[code]
Are you saying we will be able to send back other flags that can be used to hide/show elements like is done right now with CSS? Or is there going to be some binary flag set (like `access`/`NOT access`), depending on if a dec

[2019-04-18 00:19] maddoxnelson opened #21895 "Remove requirement that amp-sidebar be the direct child of the body"
## Describe the new feature or change to an existing feature you'd like to see
Some more context on this Issue: https://github.com/ampproject/amp-by-example/issues/16

There has been a requirement for years that `amp-sidebar` must be the direct child of the `body` component. This seems to be because of bugs in iOS safari, but as it's been a couple of years, I would like this assumption to be revis

[2019-04-18 00:24] sebastianbenz commented on #21888
Update: [here is a slightly better solution](https://jsbin.com/jezemuguna/1/edit?html,output) which doesn't require adding a tap handler to `body`. There are still downsides:

* complicated
* requires amp-bind
* accessibility not ideal as there are three elements with `role=button` and redundant functionality.

[2019-04-18 02:26] choumx commented on #19912
@Salindor Looks like this might just be a browser bug. Have you tried using `@font-face` directly as a possible workaround?

[2019-04-18 02:30] choumx opened #21896 "Warnings and flakes in gulp visual-diff"
Sample warning:
[code]

Sample flake:
[code]

Impact: I had to restart the visual test job for #21782 three times. The flake error text seem to indicate an underlying infra issue rather than a poorly written test.

https://travis-ci.org/ampproject/amphtml/jobs/521507045

[2019-04-18 03:36] danielrozenberg commented on #21896
Duplicate of #21056, actively working on this

[2019-04-18 03:36] #21896 closed

[2019-04-18 04:14] gmajoulet opened #21897 "Story attachments: amp-img won't load on scroll"
`amp-img` components won't load when scrolling in a page attachment. It is probably because we scroll the attachment container element, rather than the body element as expected by the runtime.

See: https://tappable.co/s/tokyo/

[2019-04-18 05:00] danielrozenberg opened #21898 "Visual artifacts in amp-story progress bar in Firefox Mobile"
e.g., for this [Washington Post](https://www.washingtonpost.com/graphics/2018/world/amp-stories/photos-of-war-in-yemen/) story:

Chrome | Firefox
------------ | -------------
![Screenshot_20190418-135836](https://user-images.githubusercontent.com/1839738/56337842-374ff180-61e2-11e9-9e1f-d261c88aa272.png) | ![Screenshot_20190417-101359](https://user-images.githubusercontent.com/1839738/56337814-155

[2019-04-18 06:20] rohitkashyap8756 opened #21899 "cdnjs cloudflare font awesome not supported in AMP"
I am trying to include cdnjs cloudflare font awesome in AMP using font face but it is not working and showing error
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css

[2019-04-18 07:01] ssantosms commented on #21703
@src-code Please try this one
https://www.bing.com/amp/s/sports.yahoo.com/amphtml/how-russell-wilsons-monster-deal-impacts-patrick-mahomes-232723776.html

[2019-04-18 07:56] rsimha commented on #21839
Reopening because #21868 had to be reverted. New fix coming up in #21900

[2019-04-18 08:54] choumx opened #21901 "Promote amp-list[binding] & improve performance"
Dev-ex:
- [x] Change examples to use `binding=no|refresh` by default (https://github.com/ampproject/docs/pull/2206)
- [ ] Add user warning to add `binding` attribute
- [ ] Strip bind attributes from children of amp-list[`binding=no`]

Performance:
- [x] Don't bother calling `scanAndApply` if no children have bindings (#22938)
- [x] Don't block `scanForBindings` on amp-bind's DOM scan if possible (

[2019-04-18 13:49] iwoak opened #21902 "amp-list on shadow-dom doesn't render mustache template"
## What's the issue?
amp-list on shadow-dom doesn't render mustache template from yesterday (17 April)

![image](https://user-images.githubusercontent.com/10278898/56364705-80f30900-61ef-11e9-870d-a909ba1e4b01.png)

## How do we reproduce the issue?
You can visit every ours detail article page on https://rep.repubblica.it for example https://rep.repubblica.it/pwa/intervista/2019/04/17/news/orlando

[2019-04-18 13:57] jawadst commented on #17742
@torch2424 @zhouyx
Do you have a sense of when the updates to AMP Consent will be merged into master and the documentation updated? (https://amp.dev/documentation/components/amp-consent)

We are ready to start deploying a few of our publishers and would like to know what timeline we can communicate to them.

I also want to re-emphasize the importance of working out how the IAB consent string gets

[2019-04-18 14:48] breyed opened #21904 "AMPHTML Layout System listed twice in docs"
In the [website guides and tutorials](https://amp.dev/documentation/guides-and-tutorials/?format=websites), the **Learn** sidebar lists the **AMPHTML Layout System** twice, each with a slightly different URL:
* https://amp.dev/documentation/guides-and-tutorials/learn/amp-html-layout/?format=websites
* https://amp.dev/documentation/guides-and-tutorials/learn/amp-html-layout/introduction?format=webs

[2019-04-18 16:32] aghassemi commented on #21888
@sebastianbenz is your use-case primarily `tooltip`? I do think we need a dedicated `tooltip` component in `AMP`

[2019-04-18 16:34] aghassemi commented on #21888
related: https://github.com/ampproject/amphtml/issues/8366 : Maybe a more generalized `amp-overlay` in addition to a high-level `amp-tooltip` is needed.

[2019-04-18 16:46] aghassemi commented on #21895
Thanks @maddoxnelson for the FR. I agree the restriction here is a bit too much, and I am up for relaxing it.

It is worth mentioning the primary reasons why this restriction was added however:
1- Accessibility. It enforces the sidebar to be almost in the right DOM order. Putting the sidebar DOM in a random place will result in same `visual` representation but very different location for screen re

[2019-04-18 16:48] aghassemi commented on #21899
@rohitkashyap8756 Only certain font repositories are whitelisted to be used in AMP. FontAwesome is in the list, however only these CDNs: `https://maxcdn.bootstrapcdn.com, https://use.fontawesome.com`

More info here
https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/custom_fonts

[2019-04-18 16:48] #21899 closed

[2019-04-18 17:04] aghassemi commented on #21902
Hi @iwoak.

Does this always happen? I have not been able to reproduce in Chrome/Safari/Firefox both comment and rating sections show up fine for me with 1904091426070 ( I am testing by going to https://rep.repubblica.it/pwa/generale/2019/04/17/news/iva_tria_non_esclude_i_rincari_lega_e_5_stelle_mai_con_noi_-224316802/ )

Also note that 1904091426070 went to production April 15

[2019-04-18 17:04] aghassemi commented on #21902
/cc @prateekbh

[2019-04-18 17:10] aghassemi commented on #21902
@iwoak

The only time I was able to repro this was
1- clear cache
2- hit https://rep.repubblica.it instead of the article directly
3- click on an article.

In that case, I got the following errors from the service-worker:

[code]

upon next refresh, everything worked and no `service-worker` errors appeared.

Any chance your service-worker updated around that time frame? I can see `amp-list` trying

[2019-04-18 17:27] diantekyrie opened #21906 "Uncaught (in promise) Error: Invalid query selector amp-video[id=]​"
## What's the issue?
`Uncaught (in promise) Error: Invalid query selector amp-video[id=]​`

Briefly describe the bug.
Invalid query selector for AMP-Video

## How do we reproduce the issue?
1. Go to https://www.google.com/amp/s/www.theringer.com/platform/amp/nba/2019/4/18/18412811/brooklyn-nets-playoffs-new-york-city-fan-base
2. Open developer tools

## What browsers are affected?
macOSX Chrome Ve

[2019-04-18 17:28] aghassemi commented on #21904
Thanks @breyed, could you please move the issue to the https://github.com/ampproject/docs repository?

[2019-04-18 17:29] #21904 closed

[2019-04-18 17:39] jackiewung opened #21907 "AMP4Email: Support custom fonts"
## Describe the new feature or change to an existing feature you'd like to see
@ampproject/wg-amp4email

AMP projects currently support custom fonts using `amp-font` `link` or `@import`. The amp4email renders all custom-font methods as invalid, unless I'm missing something.

## Describe alternatives you've considered
N/A

## Additional context
Used HTTPS googlefonts as an import and followed guide

[2019-04-18 17:45] breyed commented on #21904
I can't [move](https://help.github.com/en/articles/transferring-an-issue-to-another-repository) the issue because I'm not an admin, but I made a copy as ampproject/docs#1922.

[2019-04-18 17:54] aghassemi commented on #21904
Perfect, thank you!

[2019-04-18 17:54] src-code commented on #21703
Thanks @ssantosms, the CORS request seems to be working properly now with your fix!

[2019-04-18 18:43] olsantiago commented on #13471
amp-script still fails AMP Validation?

[2019-04-18 19:27] jpettitt commented on #21658
The initial implementation will be on `amp-subscriptions` and the `key` object would live within the larger `amp-subscriptions` authorization response which contains the access grant etc.

[2019-04-18 20:05] kristoferbaxter commented on #13471
To use amp-script on a valid AMP document, your origin needs to be included in the origin trial.

You can signup for a token here: https://bit.ly/amp-script-trial

We expect these tokens to start being issued in the coming days.

[2019-04-18 21:18] src-code commented on #21703
@ssantosms Unrelated, but I see that the ads are failing to render on the above example, seems that the host `bing-amp.net` can't be found.  `www.bing-amp.net` does resolve however.

https://bing-amp.net/1904021746450/f.js
vs.
https://www.bing-amp.net/1904021746450/f.js

[2019-04-18 23:03] ssantosms commented on #21703
@src-code I noticed that yesterday. Team is looking into it with priority.
I will close this bug

[2019-04-18 23:04] ssantosms commented on #21703
Actually @rsimha I can't close this bug. Would you mind closing it? It has been fixed on our side.

[2019-04-19 02:07] sebastianbenz commented on #21888
My primary use case was a menu (similar to the GitHub profile menu on desktop). My first idea was also to propose a component for this, but it feels too heavy for what's needed. That's why I proposed an action instead.

Tooltip has additional challenges (e.g. tooltip placement if the trigger is close the border of a page).

[2019-04-19 07:26] choumx commented on #13471
#21867 enables amp-script in the AMP validator. In the meantime, you can start experimenting with it in local development.

[2019-04-19 07:49] choumx commented on #21907
/cc @zhangsu

[2019-04-19 07:51] #21703 closed

[2019-04-19 08:12] #21839 closed

[2019-04-19 10:37] iwoak commented on #21902
Hi @aghassemi and thanks for your replies, but I still see the problem and I can replicate it in both way (visiting directly detail page or navigate from home page).

![image](https://user-images.githubusercontent.com/10278898/56420609-fbc72d00-629e-11e9-91b4-188075031584.png)

I don't receive any error from service-worker :(

[2019-04-19 10:48] sparhami opened #21912 "Document how to serve webp / jpg based on accept header"
Two things need to be done:

Have a better way to load webp with amp img. We don't want to wait for it to fail to load before falling back to jpg.

Change the optimizer output both webp and jpg. There may be other formats to consider.

[2019-04-19 14:47] safwans commented on #21799
I will share two use cases.

1. Imagine a national distributors such as car parts distributor or phone equipment distributor. They serve customers who are accustomed to buying products over the phone. And the distributor has over a hundred 1-800 numbers. They have one landing page to show different 1-800 numbers. They pass the phone number as a URL parameter. The phone number is then extracted fro

[2019-04-19 14:52] aghassemi commented on #21902
@iwoak Thanks, how often does this repro for you? (like, how many times after refreshing) I still haven't been able to hit it. Using Firefox 66 I get the following everytime i refresh
![Screen Shot 2019-04-19 at 7 49 37 AM](https://user-images.githubusercontent.com/2099009/56429473-d70b8f00-6277-11e9-95f7-dacfceef0c7c.png)

There likely is some sort of a race condition here. Only recent change rel

[2019-04-19 16:08] aghassemi commented on #21902
Chatted with @prateekbh, he will take a look. I doubt that this is new but recent changes may have caused the race to be more obvious. I still haven't been able to repro more than couple of times.

[2019-04-19 16:11] aghassemi commented on #21912
related: https://github.com/ampproject/amphtml/issues/3517

[2019-04-19 20:55] prateekbh commented on #21902
While investigating this, I did observe that the social calls are failing intermittently. Screenshots attached.

This is pretty frequent and happened over a few refreshes
<img width="1679" alt="Screen Shot 2019-04-19 at 1 52 09 PM" src="https://user-images.githubusercontent.com/5960497/56443733-b4469e00-62aa-11e9-9051-fb8ed8979574.png">
![Uploading Screen Shot 2019-04-19 at 1.53.34 PM.png…]()

[2019-04-19 20:56] prateekbh commented on #21902
@choumx I found [this](https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/0.1/amp-list.js#L344) which is similar to #19511. Should this be converted to `this.getAmpDoc()`

[2019-04-19 22:03] lxsedov commented on #21760
would be super useful to provide access to audio content with a signed url

[2019-04-20 01:16] techhtml commented on #21886
Can I grab this issue?

[2019-04-20 04:21] jpettitt commented on #21395
I got most of it written today, unit tests pass, I still need to do full end to end testing, and sample page and some doc.

[2019-04-20 04:50] aghassemi opened #21915 "Lots of `Error: GEONOTPATCHED: amp-geo served unpatched, ISO country not set` in latest Canary"
There are lots of new `Error: GEONOTPATCHED: amp-geo served unpatched, ISO country not set` errors in the new Canary.

go/amp-error/CJOu-fOv5uiPzwE

I am reverting 1% because of it.

[2019-04-20 05:03] aghassemi commented on #21881
1904170517570 push to 1% was reverted due to #21915.

_1% is now same as prod until a fix is merged_

[2019-04-20 05:16] jridgewell commented on #21915
The `trim()` was optimized away, likely in the closure upgrades.

[2019-04-20 05:26] aghassemi commented on #21915
What's happening here is that a `trim()` call that is performed after `amp-geo` replaces the `magic` string is being optimize out by the new version of the closure compiler, so likely caused by https://github.com/ampproject/amphtml/pull/21618

# Prod (without bug)
Notice the `trim` and the end of `"us        "` string

![Screen Shot 2019-04-19 at 10 16 48 PM](https://user-images.githubusercontent.

[2019-04-20 05:27] aghassemi commented on #21915
@jridgewell beat me to it.

[2019-04-20 05:38] aghassemi commented on #21113
@jridgewell also happening in `layers-impl` : go/amp-error/CNKj3ovwxJ3LPw

[2019-04-20 05:59] aghassemi commented on #21915
We can either not pad the country code and break source map or try to outsmart CC (until they outsmart us at somepoint in the future)

Looking at CC's [optimizations around string method ](https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/PeepholeReplaceKnownMethods.java#L197), it doesn't look like they try to optimize `replace`, only `trim` and `upper/lowerCa

[2019-04-20 06:05] jridgewell commented on #21915
I'm putting together a regex now, which can never be optimized.

[2019-04-20 06:06] choumx commented on #21799
A partial workaround you could try today is using a hash anchor link to direct the user to the specific item by `id` attribute. The other items will still be visible, though at thousands of items per page it's probably a good idea to divide them into several pages by category.

AMP by design tries to avoid client-side rendering since it can unnecessarily delay "first meaningful paint". That said,

[2019-04-20 07:34] #21915 closed

[2019-04-20 21:21] justforfun commented on #21902
I'm able to reproduce the problem on Chrome at every hit of this page:
https://rep.repubblica.it/pwa/intervista/2019/04/19/news/di_maio_sulla_legge_decidono_i_giudici_salvini_non_faccia_come_berlusconi_-224471120/

while on the plain AMP page everything is working as expected:

https://rep.repubblica.it/ws/detail/intervista/2019/04/19/news/di_maio_sulla_legge_decidono_i_giudici_salvini_non_faccia_

[2019-04-20 22:54] aghassemi commented on #21881
New Canary was cut with the fix included, new Canary RTV is 1904200955460

[2019-04-21 03:55] AutadeJS opened #21918 "Adsense ads on desktop"
## What's the issue?
Adsense ads in AMP pages don't work on desktop. Due to this issue, sites using Adsense cannot be AMP First and have to use paired AMP.

Discussion with @jasti on https://twitter.com/vamseeJasti/status/1119729999844495360

## How do we reproduce the issue?

1. Open https://vacayholics.com/facts-about-arc-de-triomphe on desktop
2. Open it's AMP version https://vacayholics.com/fa

[2019-04-21 05:58] mansipur commented on #21263
Thank You  @aghassemi for the help

[2019-04-21 14:08] cpauwels opened #21920 "Customizable CTA for Stories attachments"
## Feature description

Currently the CTA for the Stories attachment is "Swipe Up". A customisable title would make the component more suitable for some use cases.

## Alternative to feature

None, the CTA is not customisable.

## Additional context

This feature could give the viewers more context on what the attachment will offer to them. Sign Up, More Info, Read Article, Watch Video, etc. could

[2019-04-21 14:13] cpauwels opened #21921 "Title in Stories attachments"
## Feature description

The draggable area at the top of the attachment is currently empty, and that space could be used to add an optional title to the attachment.

## Alternative to feature

Adding the title of the attachment in the attachment itself, pushing content further down.

## Additional context

This feature could give the viewers a title that matches the attachment. Could be useful for

[2019-04-21 14:20] cpauwels opened #21922 "Age validation component for AMP stories"
## Feature description

Some content can only be shown to users if they confirm they are above a certain age.

A component should exist that offers either a "Confirm" option, "Yes" / "No" options, or a way to enter a birth date.

## Alternative to feature

With AMP Stories this is not easy to implement due to the limited interactivity and lack of `amp-binding`.

An ugly hack is to make the cover a

[2019-04-21 14:33] cpauwels opened #21923 "Inverted Story Progress bar"
## Feature description

On pages with a very light background, the gradient overlay behind the story progress bars at the top of the screen is very pronounced. An inverted progress bar (white gradient overlay with black progress steps) would make the page visually more appealing.

## Alternative to feature

None.

## Additional context

An additional option on the `amp-story-page` component to tog

[2019-04-21 14:37] cpauwels opened #21924 "amp-img loading indicators missing in amp-page-attachment"
## What's the issue

The `amp-img` loading dots don't appear when loading `amp-img` components in `amp-story-attachment`s.

## How to reproduce

1. Create a Story page with an attachment.
2. Add an `amp-img` to the attachment.
3. Make sure you throttle the bandwidth in your browser so the image doesn't load instantly
4. See that the `amp-img` loading dots don't show up

A live example can be found

[2019-04-21 14:41] cpauwels opened #21925 "Links in Stories page content don't always work in Safari"
## What's the issue

The `a` links in the story page don't reliably work on Safari. Some links work, others don't.

## How to reproduce

I can't figure out why some links work and others don't, so I can't provide steps to reproduce. But a live example can be found here: [https://tappable.co/s/tokyo](https://tappable.co/s/tokyo).

On the story cover, the Tappable logo is clickable and works.

On th

[2019-04-21 16:58] farshidbeheshti opened #21926 "Image not rendering on page while the amp-img is out of the viewport"
While the `<amp-img>`  in `<amp-carousel>`  is out of the viewport, it won't be rendered. Inspecting with the devtools,  noticed the img tag is not inserted between the opening and closing `amp-img` tag while the images are out of the viewport, so the images won't be rendered on the page. What is workaround?
See the attachment!
![screen-shot](https://user-images.githubusercontent.com/1665275/56473

[2019-04-22 00:29] techhtml commented on #21926
Hey, How about adding a `display:block` to your a tag?
I think your `amp-img` don't have enough space, So they forgive rendering

[2019-04-22 04:43] #21468 closed

[2019-04-22 04:46] mrjoro opened #21929 "Design Review 2019-05-08 20:00 UTC (Americas)"
Time: [2019-05-08 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=05&day=08&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190508T200000Z/20190508T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-04-22 04:47] mrjoro opened #21930 "Design Review 2019-05-16 00:00 UTC (Asia/Oceania)"
Time: [2019-05-16 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=05&day=16&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190516T000000Z/20190516T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-04-22 04:47] mrjoro opened #21931 "Design Review 2019-05-22 15:30 UTC (wg-infra, shadow dom stability, blurry image opt out, separate ads css)"
Time: [2019-05-22 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=05&day=22&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190522T153000Z/20190522T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-04-22 06:47] siddiqrahman commented on #21714
@Enriqe is it working amp-live-list in amp story?

[2019-04-22 06:54] StebneRuslan commented on #21794
Are there any updates here?

[2019-04-22 09:33] SimonHogstromRonbol opened #21933 "AMP Validator: not reporting illegal animations/transitions"
## What's the issue?

According to [the documentation](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml?referrer=ampproject.org#stylesheets) animations and transitions should be limited as such:

Currently though, the amp validator doesnt invalidate amp pages that break these rules.

## How do we reproduce the issue?

I have written this very janky example:
https://pastebin.co

[2019-04-22 11:55] newmuis commented on #21794
@gmajoulet can you take a look when you get back?

[2019-04-22 12:09] jaygray0919 commented on #13471
@choumx may i ask a 'general' question? We use D3 JavaScript libraries extensively. I can share examples for you look at if needed. We have experiment with vis-vega as an alternative to D3 to run on amp pages. But vis-vega (on non-amp pages does not meet our needs).  Will we be able to run D3 on amp pages under the amp-script plans? If no (i.e. the D3 libraries are not 'ported' to amp), can the D3

[2019-04-22 13:06] farshidbeheshti commented on #21926
I don't think so, since of the css class which `amp-carousel` applied to the slides. The slides all have `display:inline-blobk` (please find the attachment again!).
![image](https://user-images.githubusercontent.com/1665275/56501587-971d0400-6524-11e9-902c-e83bdaedb93b.png)

Notice the slides inside the viewport are rendered (with the same markup).

Just as a note: type of the `amp-carousel`  I us

[2019-04-22 14:06] jpettitt commented on #21926
This is a bug in `rtl` handling of lazy loading. If I remove the `direction: rtl` from the body it works.

[2019-04-22 14:34] leonalicious commented on #19866
hey @cathyxz , tried with your solution, although it looks weird to me, it works fine with the `position: absolute` & `layout: fixed-height`.

btw, I found another issue with the implementation, the request seems has gone hotwired even though I have stopped scrolling. Please refer to the gif below, thank you ~

![ezgif-3-5632a3c1ce98](https://user-images.githubusercontent.com/4065175/56504354-d78f

[2019-04-22 15:56] safwans commented on #8929
I'd love to learn more about this feature request. Is there more information available estimated launch date for getPreciseLocation?

[2019-04-22 15:59] aghassemi commented on #8929
Hi @safwans

@cvializ has started working on this. Plan to launch by end of June.

We would love to hear your use-case and how you imagine to use this feature if you don't mind sharing. /cc @jeffjose

[2019-04-22 16:02] aghassemi commented on #21933
Hi @SimonHogstromRonbol

In AMP4Ads we enforce this in CSS, just not for main AMP documents. I don't believe there is a good reason for not enforcing these rules in CSS for documents other than we initially didn't and now it is too late without breaking many pages.

We are not planning to add non GPU friendly properties to `amp-animation` however.

[2019-04-22 16:03] aghassemi commented on #21933
Similar conversation here: https://github.com/ampproject/amphtml/issues/18253

[2019-04-22 16:08] safwans commented on #8929
That's great news!

The use case in point is search results based on current location. With this feature, our partners can suggest listings that are closer to the user's current location.

[2019-04-22 18:36] cvializ commented on #17950
No update yet, thanks for letting me know it's still blocking some folks. It's still prioritized to be fixed

[2019-04-22 19:12] cvializ commented on #21886
Feel free @techhtml, thanks. I will also investigate this week

[2019-04-22 19:32] SimonHogstromRonbol commented on #21933
makes sense to me, thank you.

[2019-04-22 21:55] AndrewKGuan commented on #21449
Thanks for the work-around, but would that work with browser back buttons?

[2019-04-22 22:04] AndrewKGuan commented on #21799
I think allowing initial use of amp-state won't solve these use cases which specific params are supplied via the urls such as ad campaigns and, in the future, amp-to-amp navigations.
While client-side rendering can delay FMP (marginally), a server-side round-trip fetch something as trivial as a random number would be many times worse.

[2019-04-22 22:22] diantekyrie opened #21937 "Images are cut off on page"
## What's the issue?
Images are cut off on page

Briefly describe the bug.
Images are not fully displayed.

## How do we reproduce the issue?

1. Go to https://m.aliexpress.com/category/100003070.html?spm=a2g0n.home.category.2
2. Open developer tools
3. Select a category from the selection

## What browsers are affected?
macOSX Chrome Version 73.0.3683.103 (Official Build) (64-bit)
macOSX Safari V

[2019-04-22 22:30] prateekbh commented on #20577
Woops, the issue was archived by chrome :'(

I do see that we'll somehow need to parse the style tag declaring `@font-face` and propagate that font face definition to parent doc.

I'll try digging some ways on how to do that

[2019-04-22 22:32] aghassemi commented on #21937
Thanks @diantekyrie.

@leonalicious Looks like an implementation bug.
The category page properly has a
[code]
padding to account for the header but sub-category page seems to be missing it.

[2019-04-22 22:35] calebcordry commented on #21751
cc/ @lannka

[2019-04-23 00:15] jeffjose commented on #8929
Thanks for the extra context, @safwans.

I think your usecase would be covered in the work that @cvializ is doing.

[2019-04-23 00:48] techhtml commented on #21886
@cvializ Cool, I grab this.

[2019-04-23 02:26] fstanis commented on #21449
If that's the functionality you're after, perhaps it makes more sense to make a separate page for each form step and use regular form submission (non-XHR)?

[2019-04-23 02:47] mrjoro commented on #21602
Canceling since there are no topics.

[2019-04-23 02:47] #21602 closed

[2019-04-23 04:04] rsimha commented on #10277
Dusting off this really old (and still important) issue.

While single-pass is under development, multi-pass `gulp dist`, which we rely on for development, testing, and releases, has become all the more slower since this issue was originally filed. (Today, it takes [~30 minutes](https://travis-ci.org/ampproject/amphtml/jobs/523223070#L308) on Travis.)

I have a new approach under development, whic

[2019-04-23 10:01] mcmd commented on #11405
This is interesting not only for publishers but also for e-commerce, where consent also needs to be collected (for conversion tracking), and where scrolling is also used as consent. See example [here](http://bit.ly/2ZpQaLK).

@aghassemi @ericlindley-g this FR is a little bit old, but still open. Is there anything we can do to help triaging?

[2019-04-23 11:12] Suranga-Aluthgamage commented on #21739
Dear Aaron

Any update on the initial image loading issue?

For your information, we have completed our AMPed Deal of the day page and due to this loading issue we are unable to launch it.

And same for our main item page. This one of the major issue for us. And also please let me know if you can suggest an alternative.

Really appreciate your support.

And also I went through a video from the AMP

[2019-04-23 12:59] sebastianbenz opened #21941 "[validator] Transformed AMP validation fails for amp-video-iframe and amp-image-slider"
I'm currently [working on getting AMP Optimizer to produce valid optimized AMP](https://github.com/ampproject/amp-toolbox/pull/291). I've taken our samples from amp.dev as a test set.

For two components I got validation errors. The same validation errors happen when loading the pages via the AMP Cache.

1. amp-image-slider ([example](https://validator.ampproject.org/#url=https%3A%2F%2Famp-toolbox

[2019-04-23 13:24] huanghuiquan opened #21942 "gulp check-types locally error"
## What's the issue?

Run `gulp check-types`  but exit with `Compilation failed for iframe-transport-client-check-types.js:`

Output:
[code]

## How do we reproduce the issue?

1. git clone
2. yarn install
3. gulp check-types

## What browsers are affected?
none

## Which AMP version is affected?
none

[2019-04-23 14:46] cvializ commented on #21603
I'd like to present a design for a [precise geolocation component `amp-user-location`](http://go/amp-geolocation-design)

[2019-04-23 15:42] ghost opened #21945 "Please add to whitelist Google's new priority hints api"
Hi very quick simple issue, please can you whitelist the attribute: `importance`

So I can test and use Google's new priority hints api - see here: https://developers.google.com/web/updates/2019/02/priority-hints

An example I am adding will be like this:

[code]

According to the Spec found here: https://wicg.github.io/priority-hints/

We can add this attribute to the following items:

- scripts

[2019-04-23 17:25] cathyxz commented on #19866
Yeah I suspect that's a different and actual issue with `load-more`. I'm trying to find a cleaner repro to debug.

[2019-04-23 17:32] cathyxz commented on #21926
Our `rtl` support has been known to be slightly problematic in `amp-carousel` per https://github.com/ampproject/amphtml/issues/16605, https://github.com/ampproject/amphtml/issues/5950. I think / hope this is being addressed in the carousel v2, can @sparhami or @nainar confirm?

[2019-04-23 17:46] alanorozco commented on #21906
Not an AMP error. Caused by publisher's misconfig:

[code]

[2019-04-23 17:46] #21906 closed

[2019-04-23 17:56] wgins commented on #13371
Are there any updates to this @calebcordry ?

[2019-04-23 17:56] alanorozco commented on #21783
@Binipro Prioritized, expect an update soon.

[2019-04-23 18:10] calebcordry commented on #13371
@wgins This should be available for use. Please let me know if you run into any issues.

[2019-04-23 18:12] wgins commented on #13371
Super. Thanks!

[2019-04-23 18:36] eduardogoncalves opened #21949 "AMP-Form: add Request Headers to XHR Requests"
## Describe the new feature or change to an existing feature you'd like to see

Need an option to add custom request headers to an AMP-FORM xhr request.

Some APIs needs that some params be set via request headers.

![image](https://user-images.githubusercontent.com/4308648/56606561-7ca26380-65d4-11e9-82a7-2f9a21320faf.png)

[2019-04-23 19:49] aghassemi commented on #11405
I am going to triage this to @zhouyx as `amp-consent` is the right component for collecting `user-consent` and its UX is to some extend defined by AMP.

[2019-04-23 20:04] honeybadgerdontcare commented on #21399
@hellokoji Confirming that all the above steps have been completed before approving #21909. It's just been about six weeks for developers to apply, but I don't see any approvals from core committers here and was there an announcement on the mailing list?

[2019-04-23 20:04] torch2424 commented on #2273
Hello Everyone!

`<amp-recaptcha-input>` is now fully available and can be deployed to AMP pages, as we launched this for AMP Conf 2019 😄 🎉

Here are some resources to get started:

* [amp.dev reference documentation](https://amp.dev/documentation/components/amp-recaptcha-input)

* [amp.dev simple example](https://amp.dev/documentation/examples/components/amp-recaptcha-input)

* [And of course, th

[2019-04-23 20:06] AndrewKGuan commented on #21449
That's functionally viable but doesn't have the same instantaneous UX which client-side logic could provide though.  It requires a page navigation.

[2019-04-23 20:25] cvializ commented on #21949
Thanks for opening this feature request issue! I'll prioritize it and we will address it accordingly

[2019-04-23 21:20] #10277 closed

[2019-04-23 21:39] rsimha commented on #10277
New numbers look good: https://github.com/ampproject/amphtml/pull/21939#issuecomment-485896621

Happy to have finally closed this issue :smiley:

[2019-04-23 21:50] shishirm commented on #21816
Updating with the latest.

https://spicy-need.glitch.me/

In the latest updates to the page, there is a specific usecase where we cannot get the error messages to disappear. To reproduce,

1. Click on "Change Program"
2. Change first dropdown to anything else, say "Criminal Justice"
3. Click "Get Info" button at the bottom of the form. This will cause the invalidation errors to pop up
4. Now selec

[2019-04-23 21:54] jridgewell opened #21952 "I2I: Override AMP Release's least significant digit"
## Summary

Currently, the AMP release version is composed of `YYMMDDHHMMSS0` based on the commit date of the checked-out branch. That `0` can actually be `0` or `1` depending on if the current working directory is clean (`0`) or dirty (`1`).

All our releases are only on clean branches. So, all our releases have a `0` as the least significant digit. This is mainly a side-effect of a our release s

[2019-04-23 22:33] rsimha commented on #21942
@huanghuiquan This should've been fixed with #21932. Can you sync your `master` branch, try this again, and reopen this issue if the problem persists?

[2019-04-23 22:33] #21942 closed

[2019-04-23 22:52] dvoytenko commented on #21952
Aren't the first two significant digits indicate the version of the same release? E.g. the actual RTV is typically something like `011903262220080` where `01` is the minor release number done on the same commit.

[2019-04-23 23:11] jridgewell commented on #21952
We could do it that way, but right now we generate 4 builds of the same amp version. Specifying a new prefix might mean I have to generate `05` `06` `07` and `08`, whereas if I can specify the amp release suffix, we can take advantage of the current 4 build release process.

[2019-04-23 23:14] dvoytenko commented on #21952
Are the 4 builds actually orderly like this? I was always under impression that we simply increment each time we make a new build for any reason.

Anyhow, I don't currently see any problem with changing the last digit either. Unless release folk have some concerns...

[2019-04-23 23:56] prateekbh commented on #21902
Hi @justforfun, while we are trying to figure out the race condition can you please verify that the same happens for you if the service worker is not registered or is bypassed by devtools.

<img width="1106" alt="Screen Shot 2019-04-23 at 4 56 00 PM" src="https://user-images.githubusercontent.com/5960497/56623344-b54c3800-65e8-11e9-92e9-792fd995243d.png">

[2019-04-24 00:56] eeriksson commented on #17657
@Ahh42 did you ever figure this out?

[2019-04-24 02:05] lannka commented on #21414
Sorry for the delay.

The size of the iframe is fixed by the doubleclick multi-size logic. code [here](https://github.com/ampproject/amphtml/blob/9008e3ec65c584570d64574472498609d221ec14/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick-impl.js#L986-L996) .

In case there is no size info in the ad response, can we let the iframe always fill the parent container? @keithwrigh

[2019-04-24 08:17] igecorner opened #21955 "Adsense not working"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-04-24 15:35] ayumihamsaki commented on #21945
Also at a later date in the near future maybe the AMP Team would consider adding the Performance API to the amp core to allow doing something like this:

[code]

[2019-04-24 16:27] aghassemi commented on #21933
Glad it answered your question. Closing this ticket for now.

[2019-04-24 16:27] #21933 closed

[2019-04-24 16:30] jridgewell commented on #21739
/to @cathyxz, can you look into why `<amp-pan-zoom>` isn't calling `layoutCallback` on it's child `<amp-img>`?

[2019-04-24 16:33] Suranga-Aluthgamage commented on #21739
Hi Sampath

Please see below and do the needful and update the team.

Thanks and Regards

Suranga

From: Justin Ridgewell <notifications@github.com>
Sent: Wednesday, April 24, 2019 10:01 PM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Suranga-Aluthgamage <suranga@hansadiamonds.com>; Mention <mention@noreply.github.com>
Subject: Re: [ampproject/amphtml] Initial image Loading Issue (#2173

[2019-04-24 17:10] aghassemi commented on #21777
Will take a look today, setting as high priority

[2019-04-24 17:26] lannka commented on #21881
Promoted to prod at 9:55 AM, Apr 24, 2019 UTC-7

[2019-04-24 17:26] #21881 closed

[2019-04-24 17:28] lannka opened #21958 "Release tracking issue for release 1904240947200"
- [x]  Release [1904240947200](https://github.com/ampproject/amphtml/releases/tag/1904240947200) is cut as a new canary release
- [x]  Release 1904240947200 pushed to dev channel (9:51 AM, Apr 25, 2019 UTC-7)
- [x]  Release 1904240947200 pushed to 1% (10:23 AM, Apr 25, 2019 UTC-7)
- [x] Cherry pick [1904262212040](https://github.com/ampproject/amphtml/releases/tag/1904262212040) to opt-in and 1% (

[2019-04-24 17:39] aghassemi commented on #21777
Hi @Svenmay There is an easy work-around for this that publisher can do to get around the problem:
* Make sure `amp-lightbox` is outside of `amp-carousel` in DOM order, ideally make it direct child `body`.

The problem here is `stacking context`, since `amp-lightbox` is a position fixed element, various CSS rules at any of its ancestors can create a new stacking context and mess up the z-index. In

[2019-04-24 17:42] aghassemi opened #21959 "amp-lightbox should reset its stacking context when it opens."
We missed enforcing `amp-lightbox` to be a child of `body` like we did `amp-sidebar`, now depending on where in DOM developers add `amp-lightbox` they may run into stacking context issues like https://github.com/ampproject/amphtml/issues/21777 .

We should either move `amp-lightbox` to body before opening or have it reset the stacking context when opened and set it back when closed.

This can be d

[2019-04-24 17:44] aghassemi commented on #21777
Created https://github.com/ampproject/amphtml/issues/21959 to track a long-term fix.

Closing this based on the workaround mentioned above.

[2019-04-24 17:44] #21777 closed

[2019-04-24 18:04] cvializ opened #21960 "Unskip flaky amp-iframe test"
Sample Travis failure: https://travis-ci.org/ampproject/amphtml/jobs/523889487

I noticed the HTML typedef has an extra closing `>`, I wonder if that's problematic in the new Chrome version?
https://github.com/ampproject/amphtml/blob/15e085d9f68f030f8535509390c9ef5a43f62001/extensions/amp-iframe/0.1/test/test-amp-iframe.js#L513-L529

[2019-04-24 18:05] cvializ opened #21961 "Unskip flaky amp-ad-xorigin-iframe-handler test"
Sample Travis run: https://travis-ci.org/ampproject/amphtml/jobs/523889487

https://github.com/ampproject/amphtml/blob/15e085d9f68f030f8535509390c9ef5a43f62001/extensions/amp-ad/0.1/test/test-amp-ad-xorigin-iframe-handler.js#L156-L167

[2019-04-24 18:07] lannka commented on #21961
thanks for reporting. @cvializ you can go ahead and mute it for now. we will fix it later

[2019-04-24 18:22] mrjoro opened #21965 "Update ampproject.org references in amphtml repo to amp.dev"
There are a large number of references to ampproject.org in the amphtml repo that should be updated to amp.dev.

https://github.com/ampproject/amphtml/search?q=%22ampproject.org%22+NOT+%22cdn.ampproject.org%22&unscoped_q=%22ampproject.org%22+NOT+%22cdn.ampproject.org%22&type=Code

/cc @ampproject/wg-outreach

[2019-04-24 18:29] aghassemi commented on #21926
I think this is worth fixing in current Carousel @sparhami. Likely is it only an issue with `type=carousel` and not `type=slide`

[2019-04-24 20:13] torch2424 commented on #21797
@mehulchauhan Let us know if @zhouyx answered your issue. If so, can we close this? Thanks! 😄

[2019-04-24 20:36] #21767 closed

[2019-04-24 21:10] gmajoulet commented on #21794
I found the bug but I'm not sure about the best way to fix it yet.

There's a lot of context here, but here's a short summary:
Somewhere in the animation code, it waits for the animated element `layoutCallback` to complete. When it's an amp-video, the code ends up in [this method](https://github.com/ampproject/amphtml/blob/master/src/event-helper.js#L148) that, in the context of a story, sometimes

[2019-04-24 21:13] aghassemi commented on #21794
I think `isLoaded` in `event-helper.js` should be fixed to handle media elements properly same way `loadPromise` is special casing media elements.

[2019-04-24 21:26] MkVII opened #21971 "Math Whitelist Functions: add "sqrt" and "log""
Hi,

I'm designing a medical calculator, and many of the calculations require Math.sqrt and Math.log.

Unfortunately they are not whitelisted Math functions:
https://amp.dev/es/documentation/components/amp-bind?referrer=ampproject.org#white-listed-functions

May the above functions be added to the whitelist please?

Thanks
Brad

[2019-04-24 21:29] jridgewell commented on #21113
These all seem to be coming from amp-next-page, but I can't get a reproducible page to use it.

[2019-04-24 21:42] morsssss commented on #20269
thanks! glad to hear it 👍

[2019-04-24 22:21] torch2424 commented on #6150
Hello,

Sorry to reply on an old issue, but in case anyone gets here from a search engine, just want to say this was implemented in #2273 .

See my comment here for getting started: https://github.com/ampproject/amphtml/issues/2273#issuecomment-485953806

Thanks! 😄

[2019-04-24 22:22] torch2424 commented on #20108
Hello,

Sorry to reply on an old issue, but in case anyone gets here from a search engine, just want to say this was implemented in #2273 .

See my comment here for getting started: https://github.com/ampproject/amphtml/issues/2273#issuecomment-485953806

Thanks! 😄

cc @aurbanczik

[2019-04-24 22:22] torch2424 commented on #19976
Hello,

Sorry to reply on an old issue, but in case anyone gets here from a search engine, just want to say this was implemented in #2273 .

See my comment here for getting started: https://github.com/ampproject/amphtml/issues/2273#issuecomment-485953806

Thanks! 😄

cc @leonalicious

[2019-04-24 22:45] aghassemi commented on #10623
@jridgewell  Runtime doesn't do the bottom either  https://github.com/ampproject/amphtml/blob/5e6b429319e5d6efb74d483732759c3ea20b8679/src/service/viewport/viewport-binding-ios-embed-wrapper.js#L296 because it is expensive to do. Probably fine for lightbox though. I will give it a try

[2019-04-24 22:45] torch2424 commented on #17742
@jawadst

Hello! Thank you for your patience, we were out for AMP Conf last week.

If I could ask, which updates are you looking for? Can you pass along some PRs you are waiting to be deployed? That way I can help you from there.

But in terms of my Consent PRs I may have made, those should be in PROD, but there are some pending documentation details I need to add.

Let me know if there is a parti

[2019-04-24 22:53] #21699 closed

[2019-04-24 23:30] jridgewell commented on #21912
CDN already optimizes images to webp:

[code]

[2019-04-24 23:31] jridgewell commented on #21945
/to @Gregable

[2019-04-25 00:09] cathyxz commented on #21912
Hi @jridgewell ! Yup, I think we can word this better, but basically what @sparhami and I were talking about is actually how many browsers (FF, Safari) don't support webp, and therefore when webp is provided as default to `<amp-img>`, we end up fetching that once, failing to render, and then showing the fallback in `jpg`. There is probably a very nice bite-sized project here to upgrade `<amp-img>`

[2019-04-25 00:17] sparhami commented on #21912
Since the AMP cache already handles this, maybe it would be better let developers know about the same pattern (serving webp based on accept header) for non-AMP cache (but still optimized) pages rather than trying to implement this in AMP.

[2019-04-25 00:24] jridgewell commented on #21912
I think this is a server concern and not AMP's. It doesn't matter what bytes are sent down for `http://example.com/image.jpg`, and the browser doesn't care that the URL ends in `.jpg`. It'll send an `Accept` header like `image/*,*/*;q=0.8` (or `image/webp,image/*,*/*;q=0.8` if it supports webp), and the server just needs to respond with image bytes and the appropriate `Content-Type` header for the

[2019-04-25 00:51] torch2424 opened #21973 "amp-sidebar: Have the mask fade in"
Currently, the amp-sidebar mask doesn't fade in. I think the fade should be something smooth to ease the user into the side bar mode, especially since the sidebar element has a nice transition.

Wanna take a vote @andrewwatterson ? 😄

[2019-04-25 01:15] torch2424 commented on #21971
Triaging to @choumx , feel free to re-assign 😄

[2019-04-25 01:16] torch2424 commented on #21955
cc @lannka @amedina @westonruter

Just looking at the error though, it seems like you have and incorrect publisher ID. Are you sure everything is configured correctly?

Thanks for the issue! 😄 👍

[2019-04-25 01:17] torch2424 commented on #21925
Triaging to @newmuis , feel free to re-assign 😄

[2019-04-25 01:18] torch2424 commented on #21924
Triaging to @newmuis , feel free to re-assign 😄

[2019-04-25 01:18] torch2424 commented on #21922
Triaging to @newmuis , feel free to re-assign 😄

[2019-04-25 01:18] torch2424 commented on #21921
Triaging to @newmuis , feel free to re-assign 😄

[2019-04-25 01:19] torch2424 commented on #21920
Triaging to @newmuis , feel free to re-assign 😄

[2019-04-25 01:20] torch2424 commented on #21918
Triaging to @jasti  , feel free to re-assign 😄

[2019-04-25 01:22] newmuis commented on #21920
This seems completely reasonable.  @gmajoulet can we add an attribute to override the default page attachment CTA text?

[2019-04-25 01:25] newmuis commented on #21921
@gmajoulet WDYT?

I think we'll need to truncate/ellipsify to one line, but otherwise seems reasonable to me.  It's publisher-specified, so they'll need to test it out for content fit.

[2019-04-25 01:27] newmuis commented on #21922
@cpauwels could you use [`<amp-story-consent>`](https://amp.dev/documentation/components/amp-consent?referrer=ampproject.org#prompt-ui-for-stories) for this?

[2019-04-25 01:35] newmuis commented on #21925
@Enriqe can you take a look?

[2019-04-25 01:47] newmuis commented on #21794
Wow, thanks for finding that @gmajoulet!

[2019-04-25 01:53] newmuis commented on #21923
I think this looks good; I wonder a little about publisher control here -- we can't tell in the runtime what color is actually appearing in that region of the screen, so I think we'd have to leave it up to publishers to tell us that they want the dark/light theme for the progress bar.

Which, of course, means that publishers could misuse it, and request the white on white progress bar, or the blac

[2019-04-25 04:58] mattwomple opened #21975 "Hidden observer fails to init in PWAs for fixed layers"
## What's the issue?

When an AMP document is loaded in a PWA on an iOS device, `observeHiddenMutations()` attempts to run but ultimately fails due to error `Cannot read property 'ownerDocument' of undefined` in `getExistingServiceForDocInEmbedScope()`.

## How do we reproduce the issue?

I have created a minimal example that demonstrates the issue. It can be reproduced on an actual iOS device or

[2019-04-25 05:45] igecorner commented on #21955
Hi,

Yes, configured as per the instruction,  please check the error in chrome console from the website.
Check this URL : https://www.gstaff.in
Thanks

[2019-04-25 08:17] hongwei1990 commented on #21923
Will this based on page level or story level? If we open this to the page level, it looks strange when users jump between the dark bar and the light bar. The current white bar is a bit hard to read on a white background, but it is passing AA accessibility. If we open this to the story level, I wonder should we offer dark story theme VS story light theme? Users can pick the theme based on which one

[2019-04-25 09:06] Gregable commented on #21945
@jridgewell I can make the change trivially, but it would be good from someone on @ampproject/wg-runtime to give feedback / approve the behavior of the change.

[2019-04-25 10:27] mister-ben commented on #20885
This was released, Brightcove Players should be re-published to get the latest amp support plugin.

[2019-04-25 11:21] iwoak commented on #21902
Hi @prateekbh, both me and @justforfun has the same problem even with SW not registered or bypassed.

[2019-04-25 11:49] dbarcosb commented on #17959
Hi, any news here? Thanks!

[2019-04-25 11:51] dbarcosb commented on #15553
Hi, this is still pending. Any updates? Thanks

[2019-04-25 13:27] bissy commented on #17652
I'm in a same boat.
layout=intrinsic is not working on IE11, img are very small. (i-amphtml-sizer calculated small size in IE11). layout=responsive is working.
In my case, this solution does not work for me..
https://github.com/ampproject/amphtml/issues/17652#issuecomment-415044600

[2019-04-25 14:21] gmajoulet commented on #21923
+1 to what Hong said, it'd have to be a story - not page - level configuration.

The white progress bar on white background works today and is accessible. What I'm worried about is that the black progress bar would only work against very light backgrounds, making it very easy for publishers to make it not accessible on one or several of their story pages, depending on their images...

[2019-04-25 14:43] gmajoulet opened #21981 "Write developer documentation for the different story UI Types"
Write developer documentation for the different story UI Types.

Context: https://github.com/ampproject/amphtml/pull/21766#discussion_r278372743

[2019-04-25 15:25] StebneRuslan commented on #21794
@gmajoulet, You will plan to fix this bug? or we should try to fix and create a pull request?

[2019-04-25 15:31] prateekbh commented on #21902
Thanks this helps us narrow down the problem 🙂

[2019-04-25 15:59] #21960 closed

[2019-04-25 16:04] gmajoulet commented on #21794
Thanks for offering to help!
I already wrote a fix, that can hopefully be merged today: https://github.com/ampproject/amphtml/pull/21972

[2019-04-25 16:20] andrewwatterson commented on #21973
I'm into it. Anecdotally, we got more comments about `amp-sidebar` at AMP Conf than any other single component, and @aghassemi mentioned it may be up for a new coat of paint. Do we... tag this issue in some way so that we can find it when it gets to be painting time?

[2019-04-25 16:29] ayumihamsaki opened #21982 "Add Native Lazy Loading Support and Whitelist attribute loading"
Google Chrome is officially launching Native Lazy Loading in Chrome 75+ and they have created a new attribute called [loading](https://chromestatus.com/feature/5645767347798016).

Example of the Google Spec will be like this:

[code]

Please can you add the attribute to the whitelist and add it to the AMP Core.

Thanks.

[2019-04-25 16:35] westonruter commented on #21955
Note that AMP is not enabled for the homepage. Native AMP _is_ enabled for posts, for example: https://www.gstaff.in/financial-adviser-job-in-nclat-under-the-ministry-of-corporate-affairs-dopt/

The console has a warning:

There are two separate `amp-auto-ads` elements in the page:

* `<amp-auto-ads type="adsense" data-ad-client="ca-pub-1443978618096162"></amp-auto-ads>`
* `<amp-auto-ads type="ads

[2019-04-25 17:26] aghassemi commented on #21982
Hi @ayumihamsaki

AMP has its own heuristics for lazy-loading, we are thinking about exposing ability to configure this heuristics in https://github.com/ampproject/amphtml/issues/21497 . `loading` attribute that was added was actually a collaboration between AMP and Web Platform to push for bringing some of AMP's features to the general Web.

Please subscribe to https://github.com/ampproject/ampht