[2019-04-25 17:26] aghassemi commented on #21982
Closing as dup of https://github.com/ampproject/amphtml/issues/21497

[2019-04-25 17:26] #21982 closed

[2019-04-25 17:28] aghassemi commented on #21497
/cc @ayumihamsaki as discussed in #21982

[2019-04-25 17:30] aghassemi commented on #21973
Le's track them in `Better Sidebar in UI - Future Wishlist` Project. added.

[2019-04-25 17:43] zombifier commented on #21311
Additional context: When run by themselves on Travis they pass:
![image](https://user-images.githubusercontent.com/12178173/56756626-2bbf7600-6760-11e9-8fa3-039893582a2f.png)

[2019-04-25 17:56] ayumihamsaki commented on #21982
@aghassemi Thanks for the info and link.

[2019-04-25 18:12] aghassemi opened #21984 "amp-lightbox [scrollable]: iOS scroll freeze in scroll-down direction"
see https://github.com/ampproject/amphtml/issues/10623#issuecomment-486455372
and b/118645457 for more details.

Essentially the iOS hack here https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L482 is happening only in one direction.

[2019-04-25 18:24] gmajoulet commented on #21921
Sounds good to me! This was actually in the original mocks, even though the feature evolved a lot since then: https://github.com/ampproject/amphtml/issues/20209

[2019-04-25 18:24] aghassemi commented on #21739
Looks like a problem with the way `ownership` stuff works. Carousel takes ownership of direct children (`amp-pan-zoom`) here and lays it out but runtime does not go further to  layout children of `amp-pan-zoom`. `amp-pan-zoom` also does not do this an expect children to be laid out via runtime.

I think it makes sense for `amp-pan-zoom` to always directly schedule layout for its children regardles

[2019-04-25 18:25] gmajoulet commented on #21920
Thanks for the feature request @cpauwels!

[2019-04-25 18:25] aghassemi commented on #21739
(never mind, thats what Justin said [here](https://github.com/ampproject/amphtml/issues/21739#issuecomment-486317990))

@cathyxz added it to FixIt bucket.

[2019-04-25 18:30] aghassemi commented on #21453
@alanorozco could you split this into FRs and Bugs add to Project [UI - Recent Launch Support]( https://github.com/ampproject/amphtml/projects/74) project?

[2019-04-25 18:50] rsimha opened #21986 "Greenify / speed up E2E tests on Travis"
Currently, the `E2E tests` job on Travis takes ~20 minutes, with several flaky / failing tests that take a long time to time out.

https://travis-ci.org/ampproject/amphtml/jobs/524602478#L1541

Two questions:
- From what we can tell, is the list of failing tests deterministic?
- While this is worked on, can we skip broken tests to speed up Travis?

Even though the `E2E tests` job is non-blocking w

[2019-04-25 18:50] rsimha commented on #21986
/to @cvializ @estherkim

[2019-04-25 20:05] cycleos opened #21987 "amp-ima-video results in JS error"
## What's the issue?
When using amp-ima-video, it never loads ads (edit: From Ad Networks). In the console, there is a JS error
imaVideo.js:1361 Uncaught TypeError: Cannot read property 'event' of null at Cf (imaVideo.js:1361)

## How do we reproduce the issue?
Go here and open the dev console:
https://news.bg/politics/borisov-gleda-bashtinski-na-spora-mezhdu-unss-i-mf.html?amp=true

The error wil

[2019-04-25 20:43] jridgewell commented on #17652
@bissy Can you open a new issue with a URL the demonstrates your issue (preferably one that includes @jpettitt's solution, even if it doesn't work)?

[2019-04-25 20:57] aghassemi commented on #21987
Hi @cycleos

I will look into the errors but I can see Ads loading fine on both https://news.bg/politics/borisov-gleda-bashtinski-na-spora-mezhdu-unss-i-mf.html?amp=true and our example site https://amp.dev/documentation/examples/components/amp-ima-video/ on both desktop and mobile

Do you see any ads loading on our sample page? https://amp.dev/documentation/examples/components/amp-ima-video

I do

[2019-04-25 20:58] aghassemi commented on #21987
(Verified that the errors are not causing user-visible issues, but will be fixing them)

[2019-04-25 21:20] cycleos commented on #21987
I see the ads on the demo page. Changing the ad tag with our own ad tag (DFP) on the demo page results in exactly the same behavior as on our own site. Direct video campaigns are displayed. Videos ads from ADX or other ad networks are not. The last could be caused by other reasons (i.e. low demand in the geo), yet I can't either confirm it. If you have seen ad, then it is very probably low demand

[2019-04-25 21:20] rsimha opened #21993 "Various `amp-list` tests are timing out on Travis (local Chrome)"
Examples from the past couple of hours:

https://travis-ci.org/ampproject/amphtml/jobs/524654095#L1533
https://travis-ci.org/ampproject/amphtml/jobs/524510658#L1533
https://travis-ci.org/ampproject/amphtml/jobs/524244291#L1533

[code]

This is causing redness on `master`.

[2019-04-25 21:24] cycleos commented on #21987
OK, after dozens of refreshes I have seen a network ad, so it is market demand issue.
The JS error is not causing unexpected behavior from user perspective.

[2019-04-25 21:25] rsimha commented on #21993
/to @jridgewell @choumx to triage

[2019-04-25 21:39] jridgewell commented on #21113
Layers issue is probably #21976.

[2019-04-25 21:52] jawadst commented on #17742
@torch2424
We weren't clear on whether the support for CMPs in <amp-consent> was deployed in AMP PROD as we have been testing with a custom build. Is it still part of an experiment? ie do our clients need to add the following code to their pages:

[code]

The main features that were discussed earlier in this issue and that we think are high priority:
- Being able to exit full-screen mode from the

[2019-04-25 21:57] cathyxz commented on #21912
So it looks like the assumption

in https://github.com/ampproject/amphtml/issues/3517 is no longer true.

https://github.com/ampproject/amphtml/issues/18599 (short-circuiting webp on ios) still provides a benefit, but it looks like the main action item here then is just to document this and suggests users to follow the AMP Cache's lead server-side.

[2019-04-25 22:19] rsimha commented on #21311
@zombifier
- This test occasionally times out on Chrome too: https://travis-ci.org/ampproject/amphtml/jobs/524635005#L1527
- And for single-pass builds: https://travis-ci.org/ampproject/amphtml/jobs/524681807#L1908-L1912

[2019-04-25 22:31] cathyxz commented on #21739
FixedIt. xD

[2019-04-25 22:31] sparhami commented on #17318
For carousel v2, `amp-base-carousel`, the current behavior is to only hide the controls if the user swipes to another slide, so this issue should not come up there, unless we want to also implement the autohiding behavior.

[2019-04-25 22:32] cathyxz commented on #21993
This is my fault. I'll take a look.

[2019-04-25 22:35] #21113 closed

[2019-04-25 22:35] #21975 closed

[2019-04-25 22:37] jridgewell commented on #21993
Thanks!

[2019-04-25 22:38] sparhami commented on #10313
Our current thinking is to not support mouse dragging for changing slides for desktop. Perhaps we could have some visual treatment that tells users that they can use "shift + mousewheel" to horizontally scroll. Perhaps some sort of overlay on hover?

@andrewwatterson Any thoughts on this?

[2019-04-25 22:38] rsimha opened #21997 "`amp-image-lightbox` tests are timing out on Firefox"
Results from the past couple hours:

https://travis-ci.org/ampproject/amphtml/jobs/524674697#L1608
https://travis-ci.org/ampproject/amphtml/jobs/524691866#L1594
https://travis-ci.org/ampproject/amphtml/jobs/524691866#L1594

[2019-04-25 22:38] rsimha commented on #21997
/to @aghassemi @cathyxz to triage

[2019-04-25 22:38] calebcordry opened #21998 "Story Ads - Create visual tests"
Helpful to catch regressions.

[2019-04-25 22:40] rsimha opened #21999 "`amp-sidebar` tests are timing out on Firefox"
Results from the past couple hours:

https://travis-ci.org/ampproject/amphtml/jobs/524684465#L1618
https://travis-ci.org/ampproject/amphtml/jobs/524679086#L1616
https://travis-ci.org/ampproject/amphtml/jobs/524678968#L1603

[2019-04-25 22:40] rsimha commented on #21999
/to @aghassemi @cathyxz to triage

[2019-04-25 22:40] cathyxz commented on #21993
Sigh. I added in some test code here the last time these tests flaked to figure out where the timeouts were happening. It looks like it literally times out waiting for `amp-list` to `layout` for the first time.

Basically, what I'm trying test here is to assert that it changes to container layout correctly if I click on a button after `<amp-list>` finishes layout. If we can't get the `amp-list` to

[2019-04-25 22:40] calebcordry opened #22000 "Story Ads - Mustache loaded unneccesarily"
amp-mustache is automatically being loaded on ads that may not use them.

[2019-04-25 22:43] calebcordry opened #22001 "Story Ads - Preloading too many ads."
If a user navigates backwards there can be a case where a new ad starts preloading when you see a previously seen ad. This should only happen when seeing a new ad.

[2019-04-25 22:44] rsimha commented on #21993
Thanks for the context @cathyxz! In general, it's true that Travis VMs are slower than our development workstations / laptops. Therefore, tests that rely on complex / asynchronous stuff tend to take longer on Travis, and are often exposed as timeouts.

[2019-04-25 22:45] torch2424 commented on #20337
This was closed by #20601 I think...

Closing 😄

[2019-04-25 22:45] #20337 closed

[2019-04-25 22:47] anuragphadke opened #22002 "Exclude @font-face from CSS limit"
Exclude @font-face length calculation for 50KB CSS limit.

While we have white listed certain font providers, a lot of us use custom fonts as part of the @font-face tag. It will be really nice if we can exclude the size limit for CSS calculation  when `@font-face` is used in the CSS.

Example gist: https://gist.github.com/anuragphadke/271c7bd0139424960f0b7e4503569bdb
The gist alone is few kb's and

[2019-04-25 22:52] cathyxz commented on #21993
So two different options to fix this:
1. Rewrite this test as a unit test asserting the container layout behavior and an e2e test asserting the e2e behavior.
2. Increase the timeout.
Philosophically speaking, @rsimha are you cool with E2E tests being the tests that are designed to have long timeouts / be relatively flaky?

[2019-04-25 22:55] rsimha commented on #21993
- If your test can run in isolation with just component code, but without the compiled runtime, write a unit test.
- If it tests interactions between components, write an integration test.
- If it relies on external services / browser interactions, write an E2E test.

Based on this, I'd say E2E tests are the way to go, although we'd like to avoid flakiness!

/cc @cvializ @estherkim for advice on E

[2019-04-25 23:44] aghassemi commented on #21997
verified nothing is actually broken in FF 66. looking into the flake.

[2019-04-25 23:45] aghassemi commented on #21999
verified nothing is actually broken in FF 66. looking into the flake.

[2019-04-25 23:51] sparhami commented on #21902
I remember debugging a similar sort of issue with shadow DOM and `amp-access`'s template rendering (#17328). The problem had to do with `viewerCanRenderTemplates` returning `false` when called within Shadow DOM.

I did make a change to fix that portion (#17896), but it could still be a problem or something similar (perhaps the wrong amp doc is being used somewhere). Could also try the `ampdoc-clos

[2019-04-26 00:04] pbakaus commented on #21965
@matthiasrohmer could you and your team take a look at this?

[2019-04-26 00:21] sparhami commented on #21736
You can do crops with a combination of `transform: scale(blah)` and `object-position` on the `<img>` within the `<amp-img>` to do the crop. I do have a pending PR (still need to figure out if it is something we want) to support animating those types of crops correctly: https://github.com/ampproject/animations/pull/18. Here is a demo of what such an animation would look like: https://sparhami.githu

[2019-04-26 01:02] bissy commented on #17652
@jridgewell Thank you! I will do that.

[2019-04-26 01:19] torch2424 opened #22005 "amp-consent v2: Exit full-screen mode"
realtes to: #17742

https://github.com/ampproject/amphtml/issues/17742#issuecomment-486851211

[2019-04-26 01:22] torch2424 commented on #22005
cc @zhouyx

[2019-04-26 01:23] torch2424 opened #22006 "amp-consent v2: Pass the consent string to IAB vendors"
relates to: #17742

https://github.com/ampproject/amphtml/issues/17742#issuecomment-486851211

[2019-04-26 01:25] torch2424 commented on #20858
Closing this as it was merged 😄

[2019-04-26 01:25] #20858 closed

[2019-04-26 01:26] torch2424 commented on #20880
@hrkhal Any updates on this? 😄

Don't mind picking this up, but to be honest, I'm a little spread thin at the moment with other work around the project (especially right after our AMP Conf). Let me know what you think! 👍

[2019-04-26 01:27] torch2424 commented on #19970
This was closed by #21522

[2019-04-26 01:27] #19970 closed

[2019-04-26 01:28] torch2424 opened #22007 "amp-consent v2: Pass the CMP configuration to checkConsentHref endpoint"
relates to: #17742

https://github.com/ampproject/amphtml/issues/17742#issuecomment-486851211

[2019-04-26 01:29] torch2424 commented on #17742
@jawadst Thanks for the thorough response. 😄

I'll let @jasti chime in here, as they are the PM for `<amp-consent>`.

But to answer some of your questions:

Yes, there is still an experiment for our CMP implementation of `amp-consent`. I can sync with @zhouyx and @jasti on that 👍

Awesome thank you for this! I opened the following issues:

Opened #22005 . However, if I remember correctly, I think

[2019-04-26 06:13] dbarcosb commented on #20551
We run into this issue as well. Thanks

[2019-04-26 06:18] iwoak commented on #21902
Hi @sparhami I have this problem every time so I could debug if you write me some instructions.
I confirm: `viewerCanRenderTemplates ` returning `false`

![image](https://user-images.githubusercontent.com/10278898/56787098-b2756100-67fb-11e9-981d-7657c51ae238.png)

![image](https://user-images.githubusercontent.com/10278898/56787126-d0db5c80-67fb-11e9-8199-2c4d689cfc07.png)

[2019-04-26 06:45] iwoak commented on #21902
I found a elaboration difference from amp pure page and amp in shadow dom:

- when callstack through in compileCallback here https://cdn.ampproject.org/rtv/011904200955460/v0/amp-mustache-0.2.js

![image](https://user-images.githubusercontent.com/10278898/56788149-edc55f00-67fe-11e9-8532-cab52aadb923.png)

`"ReferenceError: sc is not defined
    at eval (eval at sc (https://cdn.ampproject.org/rtv/

[2019-04-26 07:02] hongwei1990 commented on #21923
+1 i don’t see a very strong reason that we MUST add the black theme. At
least by now I don’t see strong needs. I think this is something we should
put down to consider but no urgent actions needed?

On Thu, Apr 25, 2019 at 10:21 PM Gabriel Majoulet <notifications@github.com>
wrote:

[2019-04-26 07:19] cpauwels commented on #21923
@hongwei1990 @gmajoulet I would argue for the opposite, make it a page-level configuration. This would allow for the best accessibility in all cases as a story could have very light pages (such as text on white background) as well as darker pages (thinking full screen imagery).

A good example is how Google News handles the change in progress bar on a page basis:

![2019-04-26 09 16 50](https://us

[2019-04-26 07:28] cpauwels commented on #21922
@newmuis didn't think of the <amp-story-consent> component in this use case, in my mind it was GDPR/Cookies/privacy specific. Never used the component so I'll see how it can be used for age consent for instance.

I'll close the issue in the meantime. I'll open <amp-story-consent>-specific issues if I run into usecases that block the implementation of age validation.

Thanks!

[2019-04-26 07:28] #21922 closed

[2019-04-26 10:36] dianomi-mjs commented on #19951
Hi

It's working well and we're trying to get a few publishers to deploy.

One wants to run our AMP ads through DFP - is this possible or does the integration need to be direct?

Thanks

[2019-04-26 12:53] cr-solutions commented on #20959
I have the same Problem, last year same pub-key, code etc. worked!

403. That’s an error.

Your client does not have permission to get URL /update-cache/c/s/bildagentur.panthermedia.net/landingpage/nl-archiv-20190326-360-grad-bilder-reminder/amp/?amp_action=flush&amp_ts=1556281123&amp_url_signature=JQktV0kxGyHlGEotB7lX7VcXar6pkDVfAlCSiIKH9rovscPjXPMu3Bemo8OXvSclCPU66BS3HulrF5lWJQXnOl3y8lIBpJfdf50a

[2019-04-26 13:34] cr-solutions opened #22010 "Invalid public key due to ingestion error"
Pub-Key and Code we use to generate URL worked till last year ....
Whats wrong now?

https://bildagentur-panthermedia-net.cdn.ampproject.org/update-cache/c/s/bildagentur.panthermedia.net/landingpage/nl-archiv-20190326-360-grad-bilder-reminder/%61%6D%70/?%61%6D%70_action=flush&%61%6D%70_ts=1556284754&%61%6D%70_url_signature=FtzBfR96FVnbabFjrcUi3JBDhO3ohHDQ8VnQKBSmQEj7zKLQXowP5o_zHCuqgy8lY_RXdU0FTtC

[2019-04-26 15:35] dnlnav commented on #14514
having the same issue, whether `state.var` is an empty string or a whitespace char

[2019-04-26 17:05] fox94610 opened #22012 "amp-sidebar - empty div at bottom does not work correctly"
The empty div injected to the bottom of the component to compensate for browser tray (unavoidable native UI element in both Chrome and Safari), does not push the sidebar content up, making scrolling to bottom sidebar content impossible without a developer adding a extra hack on top of the existing workaround.

Directly related to close issue:
"amp-sidebar - make the empty div configurable"
https:/

[2019-04-26 17:41] sparhami commented on #21902
Sorry I think I might have had that backwards. I think this may be fine.

[2019-04-26 17:56] alabiaga opened #22013 "FRs for amp-action-macro"
- [ ] Support conditional invocation
- [ ] Support multiple actions
- [ ] Support references by amp-bind-macro (with constraints to avoid sequential `setState`)

Related: #19494

[2019-04-26 18:00] cathyxz commented on #19513
With https://github.com/ampproject/amphtml/pull/21742, this feature has now been launched to 100% of production. We'll monitor for a week and track/fix any bugs here. Following that, I will remove the experiment, update documentation, and close this issue.

[2019-04-26 18:04] #21739 closed

[2019-04-26 18:27] mrjoro opened #22016 "Clean up contribution docs to reflect the current contribution process"
We recently updated our [code contribution process](https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md), but there is some out of date documentation in various places (e.g. references to ["core committers"](https://github.com/search?q=org%3Aampproject+%22core+committer%22&type=Code)).  We should clean this up soon.

[2019-04-26 18:32] honeybadgerdontcare commented on #21399
@ampproject/wg-approvers for 3 approvals from core committers.

[2019-04-26 18:33] honeybadgerdontcare commented on #21399
@hellokoji please announce to  amphtml-announce@googlegroups.com

[2019-04-26 18:36] dvoytenko commented on #21399
LGTM from me, but I agree with @honeybadgerdontcare. Let's assign the I2I to @ampproject/wg-approvers from now on.

[2019-04-26 18:38] dvoytenko commented on #21399
/to @choumx and @Gregable to provide additional approvals.

[2019-04-26 18:43] hellokoji commented on #21399
Apologies, I must have missed this. You're right, this never got announced on the mailing list and never had core committer approval.

I'll send out the announcement on the amphtml-announce@googlegroups.com mailing list.

[2019-04-26 18:52] samparnell opened #22018 "Validator Web UI appears to incorrectly cause the amp-web-push component to change URLs from https to http"
## What's the issue?

Given a valid AMP page I get inconsistent results when using the Validator Web UI vs the NPM CLI/Chrome Extension. This only seems to happen on certain domains and only when querystring params are added to the URL.

This is currently preventing us linking to/rendering this content in our viewer. I believe I have seen similar behavior in the past but wasn't able to reproduce c

[2019-04-26 19:22] prateekbh commented on #21902
just adding @choumx @dvoytenko if they have any idea

[2019-04-26 19:29] cvializ commented on #21993
I like option 1 where we split the layout behavior check into a unit test. It looks like it'd be straightforward through calling `mutatedAttributesCallback`.

My philosophy for E2E tests is that they should test for things that the user would see through interactions. So changing the layout from size-defined to container is not something that the user would observe on their own, so a non-e2e test

[2019-04-26 19:32] jpettitt opened #22022 "amp-subscriptions local service fails to return entitlement."
go/amppr/21670 introduces a bug where the getEntitlements fetch in the local subscriptions platform doesn't return the entitlement promise..

[2019-04-26 19:39] jpettitt commented on #22022
cc @rsimha @danielrozenberg  This is a release blocker for next week's canary.

[2019-04-26 19:43] jpettitt commented on #22022
I'm working on a fix forward PR

[2019-04-26 19:56] aghassemi commented on #21171
@ampproject/wg-ui-and-a11y @nainar:

I have looked at some usages of this and all of them seem be to for `dots` UI in Carousel. I have not found any abuse cases yet.

Given:
- We don't have a solution for updating `dots` with `autoplay` for carousel until `amp-inline-gallery` is launched
- There are no abuse cases yet.

I like to suggest we postpone this deprecation until after `amp-inline-gallery

[2019-04-26 20:37] mrjoro commented on #21603
The Access control and subscriptions Working Group will be providing their periodic update at this design review.

/cc @jpettitt @ampproject/wg-access-subscriptions

[2019-04-26 20:39] mrjoro commented on #21929
The Ads Working Group and Analytics Working Group will be presenting their periodic update at this Design Review (10-15 minutes).

/cc @lannka @ampproject/wg-ads @ampproject/wg-analytics

[2019-04-26 20:40] mrjoro commented on #21930
The AMP4Email Working Group will be presenting their periodic update at this Design Review (10-15 minutes).

/cc @choumx @ampproject/wg-amp4email

[2019-04-26 20:40] mrjoro commented on #21931
The Infrastructure Working Group will be presenting their periodic update at this Design Review (10-15 minutes).

/cc @rsimha @ampproject/wg-infra

[2019-04-26 20:44] triso07 opened #22027 "I2I: amp-insticator"
### **………. What we want to achieve ……….**
We’d like to add a new tag to the components catalogue list called `<amp-insticator>`.

### **………. Expected Behavior ……….**
When implemented in AMP articles or sidebars this `<amp-insticator>` tag would embed our content enhancement unit. The unit is white labeled and serves quizzes and polls to better engage a publishers audience. In the future more conte

[2019-04-26 21:01] aghassemi commented on #22012
Thanks for the detailed report and researching existing issues.

[2019-04-26 21:05] #22022 closed

[2019-04-26 21:17] lannka commented on #20551
@dbarcosb could you provide steps to reproduce the issue?

[2019-04-26 21:30] aghassemi commented on #22027
adding @lannka since there is a monetization piece to this. This may make more sense as an Ad type in `amp-ad` rather than a separate embed component.

[2019-04-26 21:37] aghassemi commented on #22027
@triso07 Could you explain how the monetization piece is configured? Is the Ad configuration tied to the `embed-id` and controlled by the publisher through a separate configurator tool?

[2019-04-26 21:42] aghassemi commented on #22027
Is there a particular reason for wanting to use `amp-ad` within the component? (instead of the units being inside your own `iframe`?).

[2019-04-26 22:01] chenshay opened #22031 "🌸 Cherry pick request for [22022] into [1904240947200] (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | Release issue|
| :---: | :-: | :---------: | :-: | :-----------: |
| #22022 | #22023 | **NO** | **YES** | #21958 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria)?

getEntitlements is broken in the subscriptions local service

#

[2019-04-26 22:03] lannka commented on #22027
@aghassemi I don't think we have anything like this in AMP yet. I did get some similar inquiries before. In addition to @aghassemi 's questions, @triso07 could you share more details about how the content is loaded and how the ad is loaded.

[2019-04-26 22:05] dvoytenko commented on #22031
Approved.

[2019-04-26 22:45] ayumihamsaki commented on #19513
@cathyxz Thank you for all your hard work, has this been mentioned in the doc's or is it just a case of adding the attribute `sizes="auto"` and amp will do the rest. I would like to beta test this, if I come across any errors where should I send a comment too?

[2019-04-26 22:56] cathyxz commented on #19513
Hi @ayumihamsaki !

You can just leave the `sizes` attribute blank, and make sure that the `amp-img-auto-sizes` experiment has been turned on (it is currently on by default, and you can check it [here](https://cdn.ampproject.org/experiments.html)). If a `sizes` attribute is provided to `<amp-img>` it will be propagated to the underlying `<img>`, if not, a `sizes` attribute will be generated for th

[2019-04-26 23:05] aghassemi commented on #22027
/cc @ampproject/wg-approvers

[2019-04-26 23:05] rmc213 opened #22034 "AMP CSS sets body margin to 0!important preventing the margin from being set to anything else"
## What's the issue?

Native ads that are served using Google Ad Manager's native styles for programmatic have the AMP style sheet applied (/css/amp.css) which includes a rule that sets the margin of the body using !important:

body { margin:0!important}

This means that the body can't be centered (margin:auto) and causes ads to be left aligned. Other CSS work arounds aren't possible due to restri

[2019-04-26 23:14] cathyxz commented on #18787
Is there any chance we can extend this functionality to allow generally fetching data with `POST` requests, e.g. to support endpoints like GraphQL?

[2019-04-26 23:52] honeybadgerdontcare commented on #21941
Fixed in #22032
Should be in production in one week

[2019-04-26 23:52] #21941 closed

[2019-04-26 23:53] torch2424 commented on #22034
cc @jasti @dvoytenko @lannka

[2019-04-27 01:08] #21997 closed

[2019-04-27 01:08] #21999 closed

[2019-04-27 07:37] igecorner commented on #21955
Yes, AMP is not enabled for homepage, for that reason only i have added non-Amp code in sidebar to display the ads in non-amp pages.

But for Amp pages i have added amp ad code, but Amp ad is not displaying in the amp pages.

Not sure, where is the issue

Any suggestion will helpful for me

[2019-04-27 08:32] iwoak commented on #21902
@sparhami, what do you think about this?

[2019-04-27 16:29] choumx commented on #21816
Sorry for the delay, we've been busy at the annual AMP Conference.

Looks like this is an issue with custom validation caching when the element being validated is re-rendered via amp-list. The validation element can't be found as a property on the element if the elemnt itself has changed: https://github.com/ampproject/amphtml/blob/23485bf351346743b526c74622004d77e7215860/extensions/amp-form/0.1/fo

[2019-04-27 16:35] choumx commented on #13471
Good question. We're actually investigating D3 support at the moment, stay tuned.

[2019-04-28 08:43] Serkis commented on #5219
I'm wondering about that.

[2019-04-28 09:35] jaygray0919 commented on #13471
We can help! if you want external feedback. Here is a [link ](https://afdsi.org/usda/analysis_nutrient_content/)that uses several libraries (which you may not support). Here is a [link ](https://afdsi.org/usda/analysis_vegetables_circle_pack/) that we hope you could support. Here is a [reference ](https://afdsi.org/usda/nalt_species_sunburst/)for a pure D3 instance. Note: several are implemented a

[2019-04-28 11:43] tazihad commented on #18709
Hi. How did you fix this issue?

[2019-04-28 18:18] sryze opened #22039 "DOMException: Failed to execute 'animate' on 'Element': Partial keyframes are not supported."
## What's the issue?

Hello,

I'm converting a (working) CSS animation into `<amp-animation>`, I think I've done it correctly but I'm getting an error:

[code]

Is this because I'm using `offset` in keyframes?

## How do we reproduce the issue?

Here is both CSS and AMP versions:

https://gist.github.com/sryze/9ce17d9c80f6dff79bb847cefec47f80

It has been auto generated by a script I wrote. I'm re

[2019-04-29 00:25] CairnsPaul opened #22041 "Remove app_id required for Facebook sharing"
Currently to use the social sharing component for Facebook requires an app_id using the share dialog with a link url formatted as below:

https://www.facebook.com/dialog/share?href= { CANONICAL_URL }&app_id={ APP_ID }

Facebook does provide a share endpoint that does **not** require an app_id:

https://www.facebook.com/sharer.php?u= { CANONICAL_URL }

My feature request would be if an app_id is pr

[2019-04-29 05:32] MkVII commented on #21971
Hi. Just following up. Any chance this can be done? Or would you like me to do a pull request myself?
Thanks :-)

[2019-04-29 07:34] anshuman91 opened #22042 "3P iframe ads failed to show on Safari"
## What's the issue?

AMP Iframe not loading in salari browsers.
`Blocked a frame with origin "https://d-27836143831042096785.ampproject.net" from accessing a frame with origin "https://www.aratips.com". Protocols, domains, and ports must match.`
<img width="747" alt="Screenshot 2019-04-29 at 12 56 13 PM" src="https://user-images.githubusercontent.com/3455354/56881524-4b1b1380-6a7e-11e9-9e97-2b3a0

[2019-04-29 11:19] Suranga-Aluthgamage commented on #21739
Hi Guys, when can I expect the solution for my original issue?

[2019-04-29 11:25] gilbertococchi commented on #21902
Hi all, I can confirm that the SW "service-worker.js:1 Uncaught (in promise) DOMException" errors because of Quota Errors are unrelated as I can get the Comments to work with the DOMException error there.

I've noticed that the error occurs 100% when this error is visible from the Console:

[code]

blob:https://rep.repubblica.it/8a96ddc0-0b73-4f68-b721-2b3b1b8fc296

![Screenshot 2019-04-29 at 13 2

[2019-04-29 11:30] Suranga-Aluthgamage commented on #21739
Hi

Sorry I don’t understand. Is my original issue solved?

Please let me know.

Thanks and Regards

Suranga

From: Cathy Zhu <notifications@github.com>
Sent: Friday, April 26, 2019 11:35 PM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Suranga-Aluthgamage <suranga@hansadiamonds.com>; Mention <mention@noreply.github.com>
Subject: Re: [ampproject/amphtml] amp-pan-zoom in amp-carousel Imag

[2019-04-29 12:57] stibio opened #22043 "amp-list State bind, initially list not in view"
Can be **closed**.

The issue was having the attribute binding="no" on the hidden list, for the _original_ example in the 'Step By Step' it needs binding="always" or binding="refresh" attribute in order to work.

Although only binding="always" works for an amp-list that is initially hidden via media query styles without extra code. The performance isn't the best in this case so not an ideal soluti

[2019-04-29 13:46] prateekbh commented on #21902
Will use this today to dig deeper today

[2019-04-29 14:26] devignerforhire commented on #18923
@choumx I've noticed this on our site too. You can see this issue here -> https://winefolly.com/tutorial/wine-sweetness-chart/ (scroll down to see the user-notification slide in. If you resize the browser, the image shows up. Any ideas?

[2019-04-29 14:30] aghassemi commented on #21739
Yes, it is fixed and will be in production release in less than two weeks.

[2019-04-29 15:04] Enriqe commented on #21714
Hi @siddiqrahman, this feature is still in development but you can follow the progress in this issue 👍

[2019-04-29 15:19] rsimha commented on #21993
@cathyxz Meanwhile, could we selectively skip the tests that are causing redness on Travis?

All these failures from the past day show the same message:

https://travis-ci.org/ampproject/amphtml/jobs/525153773#L1526
https://travis-ci.org/ampproject/amphtml/jobs/525064460#L1526
https://travis-ci.org/ampproject/amphtml/jobs/524702728#L1526
https://travis-ci.org/ampproject/amphtml/jobs/524681807#L190

[2019-04-29 15:32] triso07 commented on #22027
@aghassemi The content is tied to an embed-id which is controlled via a separate configuration tool. Each embed has two advertisements "attached". Essentially two DIVs that sit above and below our content in the DOM.

@lannka
Our code works by a publisher placing two pieces of code in their page.

`<head>`
The first is a script placed in the head of the document. It will load our advertising code

[2019-04-29 15:40] Suranga-Aluthgamage commented on #21739
Hi Ali

How do we get informed once its released? Will you guys send an updated email?

And also should I make any changes to the current page after you fixed the issue? Any version updates should be done from my end?

Please advise.

Thanks and Regards

Suranga

From: Ali Ghassemi <notifications@github.com>
Sent: Monday, April 29, 2019 8:01 PM
To: ampproject/amphtml <amphtml@noreply.github.com>
C

[2019-04-29 15:42] triso07 commented on #22027
A single `<amp-insticator>` code affords us the ability to control the advertisements around our content for a given publisher. We can fully service their needs without effort being required on their end.

[2019-04-29 15:42] estherkim commented on #21986
Happy to take a look. With regards to the job delaying the overall PR build status, Travis's `fast_finish: true` setting should have been preventing that. I'm tracking an [issue](https://travis-ci.community/t/work-out-kinks-in-interactions-between-stages-allow-fail-and-fast-finish/1090) about this on Travis's side, but it could also be something on our side with how the GitHub check is implemented

[2019-04-29 15:47] triso07 commented on #22027
@aghassemi We wouldn't want to be a "type" of ad because technically we're not an ad. We're content enhancement with the ability to monetize via ads. We have other monetization methods through the content itself currently and in the future.

[2019-04-29 15:58] triso07 commented on #22027
Let me know if that helps give a better picture. Thanks.

[2019-04-29 16:10] rsimha commented on #21986
Interesting. I'm sure you're right about the `fast_finish` mechanism not kicking in correctly. This likely has nothing to do with GitHub integration, since Travis has full control over when it changes a check's status from "in progress" to "complete".

Meanwhile, I think we should prevent failing E2E tests from running for too long. I chatted with @cvializ about changing the timeout from 20 second

[2019-04-29 16:29] aghassemi commented on #21739
We announce releases on the `#release` channel on Slack. Schedule is and more details also documented here https://github.com/ampproject/amphtml/blob/e52c0ce99f4b06fae7c8af3433735fc0024c54c1/contributing/release-schedule.md#detailed-schedule

You do not have to do anything on your page.

[2019-04-29 16:43] aghassemi commented on #22027
Thanks for the explanation, I am leaning toward `<amp-insticator>` as well instead of an `<amp-ad type=insticator>`.

Let's discuss the ad placement part a bit more, I see two options:
1- The `iframe` handles both Ads and Content. In this case `<amp-insticator>` is a fairly straitforward  iframe-backed 3P embed similar to `amp-playbuzz`, `amp-instagram`, etc..
2- The `iframe` handles the content a

[2019-04-29 16:44] lannka commented on #22027
we have a couple of "content enhancement" [vendors](https://github.com/ampproject/amphtml/blob/master/3p/integration.js#L275) integrated with AMP using the `amp-embed` tag. It's basically identical to `amp-ad` with a different name.

In general, that [type of integration](https://github.com/ampproject/amphtml/blob/master/ads/README.md) is much simpler because it's just a 3rd party iframe. Let us k

[2019-04-29 16:45] rsimha commented on #21880
This is now showing up in other places too: https://travis-ci.org/ampproject/amphtml/jobs/520320463#L333

@estherkim I'm bumping up the priority.

[2019-04-29 16:48] aghassemi commented on #22039
Hi @sryze,

Yes, you need a final keyframe. Currently the last keyframe you have is `"offset": "0.18",`, you need another one with `"offset": "1"` so your keyframe definitions become complete.

[2019-04-29 16:49] aghassemi commented on #22039
Closing per comment above, please feel free to reopen in your concerns are not fully addressed.

[2019-04-29 16:49] #22039 closed

[2019-04-29 16:56] hellokoji commented on #21399
[Sent](https://groups.google.com/forum/#!topic/amphtml-announce/i4SAcd6T6v8).

[2019-04-29 17:08] prateekbh commented on #21902
Confirmed: I can reproduce this in an incognito window using the steps in: https://github.com/ampproject/amphtml/issues/21902#issuecomment-487543633

[2019-04-29 17:08] aghassemi commented on #22043
related: https://github.com/ampproject/amphtml/issues/21901
Thanks for the detailed write up @stibio .
/cc @cathyxz FYI ( also https://github.com/ampproject/amphtml/issues/21901 ) something to incorporate into `amp-list v2` design as we would want a better default here.

[2019-04-29 17:09] aghassemi commented on #22043
I will keep this open and added it to the tracker for `amp-list v2` as use-case to verify.

[2019-04-29 17:15] estherkim commented on #21880
The bug above is unrelated to the E2E job, but I can send fixes for both soon.

[2019-04-29 18:24] cathyxz commented on #21993
I should have linked this, but they've been rewritten  in https://github.com/ampproject/amphtml/pull/22030

[2019-04-29 18:54] shishirm commented on #21816
Hello. Is there an ETA on this fix?

[2019-04-29 19:32] Enriqe commented on #21925
Sorry for the delay, I was out last week...

From taking a quick look, it seems that the issue rises from the fact that the story is embedded in an iframe, since I could not reproduce it in other stories that weren't inside an iframe.

Safari could be doing something weird with links... Taking a look to see what we can do about it.

[2019-04-29 19:33] nainar commented on #21816
Hi @cvializ how often are we expecting this error to trigger? I want to dig into the prioritization for this issue.

[2019-04-29 20:05] dvoytenko commented on #22034
@torch2424 Unfortunately, for now `margin:0` on the body is necessary due to compatibility issues with iOS Safari. I think some of those issues we'll be able to address in iOS12.2, but while we support iOS11 this is going to be an ongoing restriction.

[2019-04-29 20:06] cvializ commented on #21816
This is a bug and is not expected to trigger with normal usage in a valid AMP, so it should be fixed. Is there anything specific information you were looking for to assess priority @nainar? Feel free to ping me

As a workaround while we fix this, consider disabling HTML validation for the bound `<select>` and responding with a server error on form submit if the value is missing.

[2019-04-29 20:14] ekingery opened #22052 "Support HTML5 Ping Attribute on Links"
## Describe the new feature or change to an existing feature you'd like to see

I would like to see AMP support [the HTML5 Ping Attribute on Links](https://www.w3.org/TR/html53/links.html#element-attrdef-a-ping). This is also referred to as [hyperlink auditing](https://html.spec.whatwg.org/multipage/links.html#hyperlink-auditing).

## Describe alternatives you've considered

The amp-analytics comp

[2019-04-29 20:32] #21993 closed

[2019-04-29 20:55] Gregable commented on #21399
I don't think this change has much to do with wg-caching, other than the fact that it is a (small) literal change to validator rules. Perhaps @cramforce instead for the additional approval.

[2019-04-29 21:00] cathyxz commented on #17084
I think we triaged this along with https://github.com/ampproject/amphtml/issues/17053 to be due to the `sizes` attribute having unexpected side effects. I've tried to enable sizes without side-effects by autogenerating sizes in #20968, and am now updating the `<amp-img>` documentation to better reflect our `sizes` behavior in AMP. I *think* we should be able to close this issue with https://github

[2019-04-29 21:16] estherkim commented on #19980
Closed because beta browsers are nonblocking on Travis.

[2019-04-29 21:16] #19980 closed

[2019-04-29 21:20] lannka commented on #21599
@trackonomics could you enable the comment permission to your doc so that we can move the discussion to your doc?

In general, 1) & 2) are common requirements across different affiliate vendors and are well implemented in amp-link-rewriter extension. If you see anything missing, we can address them.
For 3), we'd like to recommend the use of amp-analytics.
For 4), I'd like to hear more details abou

[2019-04-29 21:21] lannka commented on #22031
done

[2019-04-29 21:21] #22031 closed

[2019-04-29 21:25] lannka commented on #19951
@dianomi-mjs hi glad to see it finally worked. Thanks for your patience and great work!

At this moment DFP does not support it. So it has to use your tag.

[2019-04-29 21:26] sparhami commented on #21902
The `self.reportError` part seems to be #20938.

@choumx Can we prioritize fixing this?

[2019-04-29 21:38] jridgewell commented on #22052
/cc @lannka and @Gregable

[2019-04-29 21:39] lannka commented on #21835
@mwakkiy thanks for reaching out.

Instead of whitelisting your github testing domain, as a faster option, I've uploaded your test creative to my test Github domain. Hope that can work for you. Let me know if you have more templates to upload, happy to do so.

[code]

Whitelisting takes about a week. Once you are ready, you can come up with your preferred production domain to get whitelisted.

---

[2019-04-29 21:54] sparhami commented on #21736
This is still a work in progress, but here is a tool where you can choose an image, then select an area to crop and it will give you the HTML you need:

https://sparhami.github.io/animations/docs/tools/img-cropper/?output=amp

[2019-04-29 22:05] choumx commented on #21399
LGTM

[2019-04-29 22:06] Gregable commented on #22052
The validator changes are trivial, however this is more of a question of if behavior makes sense for AMP or not.

For amp4email, I imagine that this wouldn't be allowed in that spec either. I'm just guessing, but the privacy requirements are stricter there. The browser is not supposed to make direct http connections to another site in webmail providers. One could argue that the click event is auth

[2019-04-29 22:11] rsimha commented on #17120
@jridgewell knows how to do these with Babel. If so, we can eliminate the need for a custom `runner.jar`

[2019-04-29 22:46] prateekbh commented on #21902
The stacktrace i am getting is pointing to https://github.com/ampproject/amphtml/pull/21687/files#diff-a244d3899d7cb3930087a9d566a46af9R259

Which should be fixed with #21976,I'll re-check tomorrow with the dev channel once the opt-in is rolled out

[2019-04-29 23:31] westonruter commented on #17084
Yes, I think this is resolved with `amp-img-auto-sizes`.

[2019-04-29 23:36] choumx commented on #21945
Sounds fine, though we should consider what to do if this experimental feature gets canned. Imperfect, but perhaps whitelist it with a deprecation warning to start?

We'd also need to add it here for it to work in amp-img: https://github.com/ampproject/amphtml/blob/35aaf577288af3d66dd95985f675fa76095d6e8d/builtins/amp-img.js#L30-L31

[2019-04-29 23:43] hellofromtonya commented on #17084
Yes, it is resolved.

[2019-04-29 23:43] #17084 closed

[2019-04-30 00:27] torch2424 opened #22059 "amp-inabox: AMP CSS set `height: auto !important` which breaks borders"
relates to b/115342240

# Broken Example

![Screen Shot 2019-04-29 at 6 39 03 PM](https://user-images.githubusercontent.com/1448289/56936809-2c347580-6aae-11e9-9d03-ed8f842f9a51.png)

# Working Example

![Screen Shot 2019-04-29 at 6 39 20 PM](https://user-images.githubusercontent.com/1448289/56936820-3ce4eb80-6aae-11e9-88c4-9f25ea550d9e.png)

[2019-04-30 00:57] honeybadgerdontcare commented on #21399
@Gregable this isn't about wg-caching but instead about getting 3 approvals from wg-approvers which you are a member of. So far Dima and Will approved. You could be the third to move this along.

[2019-04-30 01:44] torch2424 commented on #22059
cc @dvoytenko As this is the fix we would be experimenting as mentioned over email . Using #21731 as a reverse guide on how to implement the experiment.

cc @keithwrightbos @jeffkaufman As if we do go forward with an experiment, hopefully you would be willing to go ahead and handle that from your side.

And lastly, cc @lannka

[2019-04-30 01:47] torch2424 commented on #22059
So after some research into this, I was having as hard time reproducing the issue on my `ads-bug-height-auto-experiment` branch:

![Screen Shot 2019-04-29 at 6 45 53 PM](https://user-images.githubusercontent.com/1448289/56936941-0f4c7200-6aaf-11e9-8c35-a13aa3a53777.png)

And then I realized, that the original bug was done in a friendly iframe, instead of an iframe loaded by `src` tag. Though, I do

[2019-04-30 01:59] torch2424 opened #22060 "amp-dynamic-css-classes: Allow for Targeting platforms using extension"
Was brought up during AMP Conf, and from our CAMP AMP document. 👍

Met a partner that was interested in using [<amp-dynamic-css-classes>](https://amp.dev/documentation/components/amp-dynamic-css-classes) to target Android vs. iOS. They figured this extension would offer this functionality, and it does not. Neither do any other AMP Extensions.

Their use case was to show different App install banne

[2019-04-30 01:59] torch2424 commented on #22060
Assigned to the owners in Owners.yaml. Feel free to re-assign 😄

[2019-04-30 02:01] torch2424 commented on #20259
@jasti Just want to make sure this doesn't get forgotten. Let me know when we can start rolling this along after our AMP Conf discussion 😄 👍

[2019-04-30 02:03] torch2424 opened #22061 "amp-validator: Should non-Hardware Accelerated CSS be valid?"
This was brought up to me during AMP Conf by a partner. They were hopping to get the AMP validator to ensure only hardware accelerated CSS animations would be allowed by their pages, but found we don't enforce that. Do you think it would be a good idea to do so?

cc @Gregable @honeybadgerdontcare

Feel free to close the issue once a decision is made 👍

[2019-04-30 02:17] honeybadgerdontcare commented on #22061
I believe there was a desire to only allow hardware accelerated animations but it isn't necessarily enforced by the validator. @dvoytenko may know more about the initial vision/restrictions.

[2019-04-30 03:19] maddoxnelson commented on #21895
I solemnly swear to take accessibility into account when using this component, good point!

[2019-04-30 03:25] aghassemi commented on #22061
We discussed it here recently https://github.com/ampproject/amphtml/issues/21933 .
tl;dr: yes but because initially we were not parsing CSS in validator it was not possible and now it is too late.

[2019-04-30 03:55] kenyeung826 commented on #18709
1. create your own frame.html (not a amp page) with <style> .fb_iframe_widget_fluid_desktop iframe{ width: 100% !important; } </style>
https://github.com/kenyeung826/amp_poc/blob/master/resources/views/amp/facebook/remote.blade.php

2. add <meta name="amp-3p-iframe-src" content="{{frame.html path}}">
https://github.com/kenyeung826/amp_poc/blob/master/resources/views/layouts/amp.blade.php

[2019-04-30 04:12] honeybadgerdontcare commented on #22061
@aghassemi thank you for pointing out that other thread. This does seem like something we'd like to do starting from square one, but since we're at where we are, then it's not going to happen.

[2019-04-30 04:12] #22061 closed

[2019-04-30 04:50] kristoferbaxter commented on #21945
cc @prakeekbh, we are experimenting with priority hints and discussed this today.

Likely given the way our runtime manages the request flow for amp-img there is little benefit for other cases beyond htmlscriptelement.

[2019-04-30 08:32] pegazee opened #22062 "Any limits to show the number of comments posts in amp-facebook-comments?"
## What's the issue?

I've added the amp-facebook-comments and set the data-numposts to 150 or more than 100 ( data-numposts="150" ). And getting the blank space instead of a comment box.

If I've set the data-numposts to 100 or less than 100, the box was displaying & working perfectly. Is there any limits to show the number of comments posts? I've also read the documentation here: https://amp.dev

[2019-04-30 08:59] TinyTinyKame opened #22063 "amp-analytics facebook additional pageview trigger automatically"
## What's the issue?

When i'm using amp-analytics with facebookpixel vendor, there's always a pageview event that is triggered

## How do we reproduce the issue?

Just use the amp-analytics with facebookpixel vendor, and look at the network, you'll see a call with a pageview event when you are not tracking it and if you are tracking a pageview, then you'll see 2 calls

## What browsers are affect

[2019-04-30 09:07] jackthebunny commented on #8524
Hi all, just curious about the status of the amp-video-iframe. I see contradictory info around, but surely is just because I'm new to the hub. Any info appreciated as would really solve some stuff in my business. Thanks!

[2019-04-30 13:53] jimmyko commented on #15004
We have a similar issue and would like to have multiple <amp-sticky-ad> on page with a different value on the media attribute.

Here is an example of my use case.
[code]

[2019-04-30 13:56] ithinkihaveacat opened #22065 "amp-story + amp-sidebar: can't style as expected"
A few quirks with styling an `<amp-sidebar>` within an `<amp-story>`. (Tested on Chrome and Safari, AMP version 1904200955460.)

1.

(Desktop only:) A 100vh child `<div>` of an `<amp-sidebar>` is not full height:

<img width="1387" alt="Screenshot 2019-04-30 at 14 48 32" src="https://user-images.githubusercontent.com/51244/56966481-175fec80-6b57-11e9-975b-f8abaee430eb.png">

(Expected: the green b

[2019-04-30 14:43] choumx commented on #21945
Might be useful for prioritizing important/hero images in first viewport in the case where first viewport contains a large amount of images, but agree otherwise.

[2019-04-30 14:46] aghassemi commented on #8524
@jackthebunny this has fully launched. Please see documentation here: https://amp.dev/documentation/components/amp-video-iframe

[2019-04-30 14:47] #8524 closed

[2019-04-30 14:58] #21880 closed

[2019-04-30 15:10] gilbertococchi commented on #21902
Hi Prateek, thank you for checking on this.

Did you manage to test it on Dev Channel with the fix?

I also noticed sometimes randomly the Comments via amp-list loads even when I am getting the "self.reportError is not a function" error...

<img width="1037" alt="Screenshot 2019-04-30 at 17 10 30" src="https://user-images.githubusercontent.com/329023/56972210-dffb3b00-6b6a-11e9-81ff-a24d4b919304.p

[2019-04-30 15:16] choumx commented on #18923
In that case, looks like the amp-img sometimes takes a few seconds to get `layoutCallback` after it animates from off-screen to on-screen position.

@aghassemi Does `amp-animation` ensure that AMP components receive correct lifecycle callbacks during animations? Poked around a bit and didn't find anything obvious.

Possibly related to #15939.

[2019-04-30 15:26] #21987 closed

[2019-04-30 15:30] #17532 closed

[2019-04-30 15:38] Gregable commented on #22061
Drive-by comment: I suppose it could be something we add to new formats (aka amp4email) or `<style amp-keyframes>`, etc. Not reopening though as we have no such thing planned in the future.

[2019-04-30 15:45] lannka commented on #21835
/cc @glevitzky

[2019-04-30 15:57] prateekbh commented on #21902
@gilbertococchi the dev channel fix will be available today, will update the thread once I check it. If there are any more errors they are definitely masked by this thus waiting for this fix.

Also the `self.reportError` is a known error and I guess @choumx/ @sparhami are working on it

[2019-04-30 16:43] aghassemi commented on #22062
@pegazee Although not documented, 100 seems to be the limit enforced by FB's embed SDK (which we use behind the scene). I tested http://www.directlyrics.com/adele-25-complete-album-lyrics-news.html on their playground ( https://developers.facebook.com/docs/plugins/comments ) and setting `Number of Posts` to anything above 100 does not render their widget.

I suggest filing a FR with Facebook. We w

[2019-04-30 17:05] Suranga-Aluthgamage commented on #21739
Hi Guys

From 2019 conf - Got to know that amp-script will support third party JS? Can we try that now or not yet launched?

Any examples with amp third party JS?

Thanks and Regards

Suranga

From: Ali Ghassemi <notifications@github.com>
Sent: Monday, April 29, 2019 10:00 PM
To: ampproject/amphtml <amphtml@noreply.github.com>
Cc: Suranga-Aluthgamage <suranga@hansadiamonds.com>; Mention <mention@n

[2019-04-30 17:12] aghassemi commented on #18923
@choumx it is same issue as https://github.com/ampproject/amphtml/issues/19269 and there are some discussions there between me and @jridgewell about potential solutions.

@devignerforhire Using `amp-fx="fly-in-right"` from `amp-fx-collection` extension( https://amp.dev/documentation/examples/components/amp-fx-collection/ ) instead of `amp-animation` would both be lighter and should resolve this is

[2019-04-30 17:13] gmajoulet opened #22070 "Re-enable desktop navigation buttons visual diff tests."
See [previous failures](https://user-images.githubusercontent.com/1492044/56980207-be3d8c00-6b49-11e9-8df5-92c598817eaf.png)

[2019-04-30 17:21] aghassemi commented on #21739
@Suranga-Aluthgamage checkout https://github.com/ampproject/amphtml/blob/master/extensions/amp-script/amp-script.md . It is still an experimental feature.

Our Slack channel would be a better medium for questions. Please join https://bit.ly/amp-slack-signup

[2019-04-30 17:21] #22062 closed

[2019-04-30 18:12] dvoytenko commented on #22060
This was debated, but we decided to move away from this to avoid significantly different document variations between platforms. Many extensions (such as app banner) take the platform into account when making their decision and I think this is a better approach because it can get to the source of the solution better that just CSS classes.

[2019-04-30 18:12] dvoytenko commented on #22060
I'll close this for now, but please feel free to refile an issue with a more specific use case.

[2019-04-30 18:12] #22060 closed

[2019-04-30 18:47] ayumihamsaki commented on #21945
Probably a dumb comment, I will also be using it for beta-testing on the rel-preload e.g.

`<link rel="preload" href="https://cdn.ampproject.org/v0.js" as="script" importance="high">`

Not sure if you need to whitelist it there as well or not?

[2019-04-30 19:58] rsimha opened #22076 "Shorten licenses in `v0.js`"
We currently have two full-length licenses that are shipped with `v0.js`:

From `third_party/webcomponentsjs/ShadowCSS.js`:

[code]

From `node_modules/document-register-element/build/document-register-element.patched.js`:
[code]

We should probably remove these. **Edit:** We can't because of https://github.com/ampproject/amphtml/issues/22076#issuecomment-488094658

Stretch goal: Remove blank line

[2019-04-30 19:58] rsimha commented on #22076
/cc @aghassemi @erwinmombay @jridgewell

[2019-04-30 20:02] jridgewell commented on #22076
These are already the shortest licenses that the lawyercats will let us use. See https://github.com/ampproject/amphtml/pull/11589.

[2019-04-30 20:09] lannka commented on #20653
@parsingeye thanks for contributing! since the feature has been there for a while, want to follow up to see if it is launched at your side and how things are going.

[2019-04-30 20:31] rsimha commented on #22076
Gotcha.

About trimming blank lines, do you think we can eliminate the need for this code...

https://github.com/ampproject/amphtml/blob/f3c72feff5c5e01fdb53e63ce7e3a4d6c47c4540/build-system/compile/shorten-license.js#L22-L31

... by calling `shortenLicense()` on just the two files with the long licenses before compile? (Calling it on all files is a slow O(N^2) operation, so we shouldn't do that).

[2019-04-30 20:47] kristoferbaxter commented on #21945
It's a good idea for testing with rel preload. Tough call about using it outside of the experiment right now, but we should consider it.

@prateekbh is running an experiment on an AMP Cache using this attribute right now. I'll let him comment further.

[2019-04-30 20:54] aghassemi commented on #22076
@rsimha I think making the static `short` versions be same number of lines as the original would work to eliminate this. this function only runs on license part of the file, so not really sure if perf is an issue here.

[2019-04-30 20:57] choumx commented on #21971
A pull request would be great! Check out existing whitelisted Math functions in `bind-expression.js` for example, and make sure to add a test to `test-bind-expression.js`.

[2019-04-30 20:58] choumx commented on #18923
Thanks. Closing as dupe of #19269.

[2019-04-30 20:58] #18923 closed

[2019-04-30 20:59] rsimha commented on #22076
I believe I've managed to eliminate blank lines from the licenses without breaking sourcemaps. Sent out #22077 for revie.

[2019-04-30 21:07] #21395 closed

[2019-04-30 21:10] jpettitt commented on #21395
@merwan7 I just merged the code, it should in the the canary release next tuesday and prod a week later. I'll update the doc later this week but for now you can use the spec above.  The changes are that I also pass in the `publicationId`, `productId` and set the protocol header to `amp-subscriptions`.  The file in the examples directory includes a working stub iframe.

[2019-04-30 21:16] mattwomple commented on #22043
Just want to chime in to say that I've been affected by this as well. I expected that bind attributes would not be evaluated at time of `amp-list` load (when `binding=no`), but was surprised to find that those bind attributes could not be used well after load.

Minimal example: https://android.cmphys.com/temp/amp-list-binding-no-bind.html
The buttons on that page will change the text color of ever

[2019-04-30 21:19] jasti commented on #20259
@curseagain, it was great seeing you at AMP conf.

Apologies again, cause I'm not an expert with the IMA SDK but I'm seeing that the actual ad tag is either loaded from a relative XML or from the ad server and there doesn't appear a way to directly pass key-value pairs from the client side to match targeting: https://github.com/ampproject/amphtml/blob/master/extensions/amp-ima-video/amp-ima-video.

[2019-04-30 21:51] davisshaver commented on #13708
@bpaduch I checked out the docs. I'm still not totally sure what to do though. @QES did you ever figure out the solution here?

[2019-04-30 22:16] calebcordry commented on #19759
Reviving this issue, since the original solution has been proposed the team feels that there might be greater utility in a solution to use unencoded values in other contexts. I know @tingyiwei is blocked on this.

@zhouyx Do you feel now feel that the `DECODE` macro is a better choice, and if so is this the right time for implementation?

cc/ @ampproject/wg-analytics

[2019-04-30 22:27] aghassemi commented on #22043
@choumx anything here that's not captured in #21901?

[2019-04-30 22:47] jasti commented on #17742
Regarding  #22006, the consumption of the consent string is made available to the ad networks on the page and it is it up to the ad network to consume the string and process it. For Google ad networks, I believe there seems to be continued work with the IAB to launch a new version of the consent string, if I'm not mistaken.

@jawadst could you clarify the purpose for the feature: #22007?

[2019-04-30 22:57] davisshaver opened #22082 "CORS error using amp-ad - DoubleClick"
When trying to us a Doubleclick unit on a WordPress site, I get an error like this:

[code]

This doesn't really make sense to me as the requested resource is on the Google server. I raised this issue previously in the AMP repo but the solution wasn't clear to me. I am trying to get the AMP ads to work on both the self-hosted and cached version of the pages.  The unit is copied right out of Ad Man

[2019-04-30 23:02] delima02 commented on #21603
I'd like to present a design for worker-dom's `Canvas` implementation. More specifically about polyfilling methods that return objects. [Link to Doc.](https://docs.google.com/document/d/1gQKP0i3CBzxaTmvQ9O_9XLseI6jyZhNAinKGO87BxwU/edit?usp=sharing)

[2019-04-30 23:07] davisshaver commented on #22082
See related: https://github.com/ampproject/amphtml/issues/13708

[2019-04-30 23:35] tobie commented on #21603
@cvializ would you have a public link to that design doc, please?

[2019-04-30 23:38] tobie commented on #21603
Same request for @delima02: could you make the design doc public, please?

[2019-04-30 23:39] estherkim commented on #21986
IMO the best way to speed up E2E tests is to change the way tests fail. Currently we use implicit waits with our custom `await expect()` so that all tests that are bound to fail have to timeout. I'd like to take that out and use explicit waits where needed, but it may require a bit of refactoring.

[2019-05-01 00:00] choumx commented on #22043
Perhaps just that the naming is confusing, but I think can be closed.

[2019-05-01 00:23] #22082 closed

[2019-05-01 01:43] prateekbh commented on #21902
Hi I tested this with canary: https://cdn.ampproject.org/rtv/001904301721170/shadow-v0.js with a custom redirect and seems like it fixes the problem.

The canary will be available as an opt-in tomorrow and you should be able to check with it as well.

If everything works i'll continue adding tests around this.

[2019-05-01 02:04] torch2424 commented on #22063
cc @ampproject/wg-analytics

[2019-05-01 02:07] torch2424 commented on #22063
@TinyTinyKame

Hello! So I did a quick google search: https://stackoverflow.com/questions/45455167/how-to-add-facebooks-pixel-into-googles-amp

And I think they made a good point, that perhaps using [`<amp-pixel>`](https://amp.dev/documentation/components/amp-pixel) would be a good idea.

There's also some docs on Facebook on how to use their AMP integration: https://www.facebook.com/help/publishe

[2019-05-01 02:07] torch2424 commented on #22042
cc @ampproject/wg-ads

[2019-05-01 02:08] torch2424 commented on #22010
Triaging to @Gregable , feel free to re-assign 😄

[2019-05-01 02:08] torch2424 commented on #22002
cc @aghassemi 👍

[2019-05-01 05:58] devignerforhire commented on #18923
@aghassemi Thanks Ali! I did try the amp-fx="fly-in-right" before, but had some issues getting it working properly. I'll give it another try and let you know how it goes :)

[2019-05-01 06:06] #22076 closed

[2019-05-01 11:21] mwakkiy commented on #21835
@lannka
Thank you for uploading and whitelisting. I am waiting for registration to be completed.
When the in-house testing is complete, I will post a request for registration of the production domain here.

[2019-05-01 11:26] devignerforhire commented on #18923
@aghassemi I updated our staging site to use amp-fx and it's working, but I can't seem to get it to slide in when you reach the bottom of the page and slide when you start scrolling up. Should I be adding a marker to delay triggering the animation?

[2019-05-01 12:05] mattwomple commented on #21901
@choumx Following-up on #22043, would it make sense to strip bind attributes from all elements created by `<amp-list binding="no">` before adding those elements to the `document`? Re-using the sample I posted in that issue, [android.cmphys.com/temp/amp-list-binding-no-bind.html](https://android.cmphys.com/temp/amp-list-binding-no-bind.html), I currently observe inconsistent behavior where sometime

[2019-05-01 12:33] seomaz opened #22087 "amp-list with placeholder load very slow"
You can see on the example of amp-list: [https://playground.amp.dev/?url=https://preview.amp.dev/documentation/examples/components/amp-list](https://playground.amp.dev/?url=https://preview.amp.dev/documentation/examples/components/amp-list)

the 2nd list use the placeholder feature, but you can check the load time is high.

You can see the same problem here: [https://www.cibercuba.com/noticias](ht

[2019-05-01 12:56] mattwomple commented on #22087
In the example `https://playground.amp.dev/?url=https://preview.amp.dev/documentation/examples/components/amp-list`, there is a comment just above `<amp-list id="amp-list-placeholder"` that explains why its load time is high: "We are using an endpoint which intentionally delays the response by 10 seconds." This is done so that users can see the placeholder before the `amp-list` loads.

On `https:/

[2019-05-01 13:15] renegeuze opened #22088 "Allow passing htmlFormat amp4ads in the gulp package"
## Describe the new feature or change to an existing feature you'd like to see

Allow passing the htmlFormat AMP4ADS to gulp-amphtml-validator.

## Describe alternatives you've considered

I'm currently just using my own "fork"(read copy-paste) that includes this feature.
Also instead of just passing htmlFormat it could be an object of settings just in case it ever becomes relevant.

## Additional

[2019-05-01 13:29] merwan7 commented on #21395
@jpettitt thanks so much for the quick work on this! Thank you for the examples in the PR as well. Very helpful!

I will most likely be working on an internal PoC in our next sprint using the canary release and our metering script and will report back.  If all goes well, I'll implement this in production sites thereafter.

Thanks again for all the work and for making this process super smooth!

[2019-05-01 13:30] #22087 closed

[2019-05-01 13:45] cvializ commented on #21603
@tobie Sure, here's a public link to the design doc https://docs.google.com/document/d/1oqnjA5KcUP7bHpz_HCtUTBH2jiqry65zGrpAUie1tHw/edit?usp=sharing

[2019-05-01 13:54] delima02 commented on #21603
@tobie [Here](https://docs.google.com/document/d/1itdZt8ywHJmQP9iYWfOPDWhUIgMXJ-EFHuCpXk_tmrQ/edit?usp=sharing) is a public link to my document.

[2019-05-01 14:01] cvializ commented on #21603
An update, I am going to delay my document's review until next week

[2019-05-01 14:02] cvializ commented on #21929
Moving my [design review for amp-user-location](https://docs.google.com/document/d/1oqnjA5KcUP7bHpz_HCtUTBH2jiqry65zGrpAUie1tHw/edit?usp=sharing) to this week

[2019-05-01 14:19] cvializ commented on #21986
By explicit waits, do you mean something like `await sleep(5000) // dialog takes at most this long to appear`? I would caution against explicit waits of that kind, because it will always wait for 5000ms even if the value it waits for changes faster, and if the test fails it still takes exactly that long to fail.

The E2E tests currently have two levels of timeouts: 5000ms for finding elements, and

[2019-05-01 14:25] choumx commented on #13471
/cc @patrickkettner

[2019-05-01 15:01] choumx commented on #16124
Haven't seen this in awhile -- closing.

[2019-05-01 15:01] #16124 closed

[2019-05-01 15:17] choumx commented on #19149
The "official API" part of this is still outstanding but I think this issue can be closed.

[2019-05-01 15:17] #19149 closed

[2019-05-01 15:20] choumx commented on #21862
Related: #12429

[2019-05-01 15:27] mrjoro opened #22089 "Update who is responsible for approving cherry picks"
Our [current process for cherry picks](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-picks) says that the "TL/designate" is responsible for approving cherry picks.  After the recent governance change we no longer have a TL, so we should decide who should approve cherry picks.

We required the TL (@cramforce at the time) to approve all cherry picks becaus

[2019-05-01 15:32] #20861 closed

[2019-05-01 15:38] choumx commented on #20827
I also can't reproduce this on mobil.stern.de or other examples.

[2019-05-01 15:38] #20827 closed

[2019-05-01 16:08] eeriksson commented on #10864
Any updates on this?

[2019-05-01 16:18] #21794 closed

[2019-05-01 16:30] mrjoro commented on #21603
**worker-dom Canvas**

- @cramforce: could this be used to read data when we otherwise disallow it, e.g. for bitcoin use case 
  - if we don't let them make network requests and read the response, if you include data in pixels it's a way around it, for the case where we disallow fetch
  - @lannka: is the data opaque?
  - @dvoytenko: it's pretty common to want to manipulate the image data (image fi

[2019-05-01 16:32] cathyxz commented on #15553
I took a look at this and the original sample doesn't repro anymore after you fix the urls. This also no longer repros locally.

[2019-05-01 16:44] prateekbh commented on #21902
Hi I just tested with the dev channel and it seems to be working for me with the above steps.

Can you please check and revert

[2019-05-01 16:45] gremz commented on #19030
Hi @torch2424, just wanted to check in to see if this ticket is anywhere on your roadmap. Thanks!

[2019-05-01 17:37] lannka commented on #10864
This issue is currently on our low priority list because the functionality is already there. The proposal here is an optimization.

We're looking for help to implement this feature. Anyone willing to help?

[2019-05-01 17:43] lannka commented on #22034
Should we actually think about not using amp.css for a4a runtime?

[2019-05-01 17:51] #20704 closed

[2019-05-01 17:58] estherkim commented on #21986
I don't think we need the overall test timeout at all because for most cases, an element condition won't change long after user interaction occurs. It doesn't make sense for `expect` to poll an element if it won't change.

There's the case where element conditions do change, like in `carousel autoadvance`, which is where I think we should explicitly wait. Not `await sleep(5000)` but something like

[2019-05-01 18:50] mrjoro commented on #21603
@jpettitt has published the [wg-access-subscriptions update](https://github.com/ampproject/wg-access-subscriptions/wiki/Status-Update---May-2019) he presented.

We'll link to future WG updates on [the meta WG wiki](https://github.com/ampproject/meta/wiki/Working-Group-Updates).

[2019-05-01 18:50] #21603 closed

[2019-05-01 18:58] danielrozenberg commented on #21952
As discussed offline, this seems like a reasonable, non-breaking change, and it's not like we can really rely on this `1`ness property to decide whether a release was built from an unmodified copy of the repository (it is very simple to fake) - so I have no objections to it either. Sent out #22091 to implement this, based on the implementation suggestion above

[2019-05-01 21:19] jackthebunny commented on #6234
We use AMP-iFrames to display videos from our self-hosted customized player in our AMP pages. In terms of analytics, we can't connect anonymous users between the AMP pages and the AMP-iFrames: that brings basically to two different anonymous IDs. Any idea how we can solve this issue?

We use a self-hosted customized version of JW. The dedicated frames for JW don't work if the player is not cloud-h

[2019-05-01 21:23] aghassemi commented on #6234
@jackthebunny 'amp-video-iframe' is explicitly designed to handle this use-case, it supports custom analytics, what are the issue you are running with video-iframe? Please file separate issues and mention @alanorozco on the reports so we can look into them. Thanks

[2019-05-01 21:27] rsimha commented on #21952
To answer @dvoytenko's question:

The builds are indeed orderly, with `00`, `01`, `02`, and `03` always mapping to the four build flavors of `canary`, `prod`, `control`, and `rc`, in that order. In the past, we did have the odd release that incremented the 2 digit prefix, but we no longer do so.

[2019-05-01 21:31] jackthebunny commented on #6234
thanks @aghassemi, will chase a detailed report of the issues (for instance: poster image covers the player buttons) and file them. thanks for the swift reply.

[2019-05-01 22:05] cramforce commented on #22089
I've scheduled this as a discussion point for the next regular TSC meeting https://github.com/ampproject/meta-tsc/issues/13

[2019-05-02 01:14] torch2424 commented on #20074
Closing from no response. Feel free to re-open or continue the discussion if you have more feedback. Thanks again! 😄

[2019-05-02 01:14] #20074 closed

[2019-05-02 01:15] torch2424 commented on #21769
This was merged. Closing 😄

[2019-05-02 01:15] #21769 closed

[2019-05-02 01:27] torch2424 commented on #20551
@lannka

Tested this out myself, and the endpoints provided return a 400

![Screen Shot 2019-05-01 at 6 26 34 PM](https://user-images.githubusercontent.com/1448289/57052841-b875a280-6c3e-11e9-94d1-fbf2074cbcb4.png)

Thus, I'm starting to think I need something else to get JSON back (or a valid 200 response). Let me know! 😄

[2019-05-02 01:54] #19513 closed

[2019-05-02 02:29] cathyxz commented on #21930
I'd like to present a design for solving the [AMP List Resizing problem](https://docs.google.com/document/d/1pJdFeTF8WEGvOQGLctVD1ZxX074FmDxF8m1erElQgKw/edit?ts=5cca42a9#) in context of the next version of [amp-list aka amp-render](https://docs.google.com/document/d/1KOfU1199vXCgPAAFT5qcCOiTepzf3uLgF8FUES3V2n8/edit?ts=5cc9e09c#).

[2019-05-02 07:10] iwoak commented on #21902
Hi @prateekbh with the dev channel it works fine even for me. Thanks a lot!
When could be made a release? Just for understand if we can wait the release or we must found an other temp fix.

[2019-05-02 09:37] MkVII opened #22098 "Unable to reference amp-bind-macro ID from JSON"
Hi.

I'm trying to reference an amp-bind-macro expression (I need to use different amp-bind-expressions depending on user inputs) using JSON format.

Trouble is, when I try to reference them, it doesn't execute the expression. In the console it says syntax error. No matter what I try I can't get it working.

Here's an example of the code I'm trying to implement:

<amp-bind-macro id="exampleMacro"

[2019-05-02 09:50] TinyTinyKame commented on #22063
Hi !

here's the snippet, i'm using pug :
[code]

So when you enter any pages, you'll get 2 calls with pageview instead of only one.

As for using `amp-pixel`, didn't see/try it, since i thought `amp-analytics` would have been alright, i'll give it a try. But i think, for my use cases, it won't be me any good, because i'm not only tracking pageviews, i'm also tracking form submission and other stu

[2019-05-02 09:58] TWsky opened #22099 "AMP Story bookend "get link" & "line" are buggy"
## What's the issue?
![Screenshot_20190502-175651](https://user-images.githubusercontent.com/4546841/57068261-c9d4b280-6d03-11e9-931b-d65c015666ad.png)
As above screenshot the "Get link" doesn't work on mobile, and the "Line" share button miss it's caption.

## How do we reproduce the issue?

1. Use mobile to open this [url](https://graphics.tvbs.com.tw/amp_stories/greenland/greenland.html) and cl

[2019-05-02 11:31] sagart30 opened #22103 "in.com | amp bench validator issue"
We have same type of server side setting for all properties (in.com, Firstpost, News18, etc).
but still we are getting fail status in amp bench tool for logo and article image.

Please share logs or error for Googlebot for reference if you can

Please find attached screenshots

## How do we reproduce the issue?

https://ampbench.appspot.com/validate?url=https%3A%2F%2Fwww.in.com%2Fentertainment%2Fb

[2019-05-02 14:01] abiral commented on #21971
@choumx I have added sqrt and log functions in `bind-expression.js`, added test case in `test-bind-expression.js`
I also have ran the test locally as mentioned in this URL: https://github.com/ampproject/amphtml/blob/master/contributing/getting-started-e2e.md
It showed me no errors at all. So, what else should I do? How can I make sure that I have done it right?

I have committed the changes to fea

[2019-05-02 14:16] anshuman91 commented on #22042
I also found the same issue in another site https://www.snawebdevtest.com/amp/sport/1247915-بصورة-واحدة-تشلسي-يوجه-صفعة-لريال-مدريد

[2019-05-02 14:20] cvializ commented on #21986
Interesting, I could get behind not relying on an overall test timeout, since the individual timeouts can be effective on their own and could fail after their short timeout instead of one long one.

The current implementation of implicit waits already calls `driver.wait`, and this is how `expect` "polls". It's not creating any setIntervals and polling in the usual sense, it's polling how Selenium

[2019-05-02 14:23] anshuman91 commented on #22042
Hello @dvoytenko , @zhouyx  , @jridgewell , @jasti  @lannka

Please check the issue. Ads are working in chrome and firefox but it not loading in Safari.
Iframe also not appending inside `<amp-embed>`.

<img width="1002" alt="Screenshot 2019-05-02 at 7 51 47 PM" src="https://user-images.githubusercontent.com/3455354/57082191-db25bb00-6d13-11e9-9950-aa516f09c742.png">

[2019-05-02 14:38] Facens commented on #15653
@jasti what's the status of this task? Was there any progress?

[2019-05-02 14:42] choumx opened #22105 "AMP4EMAIL: Allow binding to amp-list[src]"
Copied from https://github.com/ampproject/wg-amp4email/issues/1.

[2019-05-02 14:43] choumx commented on #21971
You can create a pull request against amphtml: https://help.github.com/en/articles/creating-a-pull-request

[2019-05-02 14:46] #13457 closed

[2019-05-02 15:07] toruhjp opened #22106 "amp-story JS error "Cannot read property 'checked' of null" when clicking on "get link" button"
# amp-story JS error "Cannot read property 'checked' of null" when clicking on "get link" button

## Evidences

![clicking_on_get_link](https://user-images.githubusercontent.com/11867257/57085037-62842600-6d36-11e9-9e1d-25a245287452.png)
![the_line](https://user-images.githubusercontent.com/11867257/57085046-6617ad00-6d36-11e9-81d5-7ea22bfdccbc.png)

## What's the issue?

Impossible to get and cop

[2019-05-02 15:18] abiral commented on #21971
Hello @choumx,
I have created a pull request - https://github.com/ampproject/amphtml/pull/22107

What else should I do now?

Thanks for help.

[2019-05-02 15:45] prateekbh commented on #21902
I guess I can get this cherry-picked for you today :)

[2019-05-02 16:39] calebcordry commented on #22063
@TinyTinyKame The way this works is that the default configuration provided by the vendor (`facebookpixel.js`) is merged with your custom inline configuration. You are correct that the facebook default is already tracking pageviews.

I am a bit unclear what your end goal is. If you just want the pageview trigger you shouldn't need to add anything inline and the facebook defined trigger will fire o

[2019-05-02 16:40] calebcordry commented on #22063
Please let me know if that helps clarify, otherwise happy to answer more questions.

[2019-05-02 17:24] dvoytenko commented on #21952
@rsimha between the two: prefix and suffix, what's your recommendation for the use case presented in this ITI? Will you be one of the approvers of this ITI?

[2019-05-02 17:27] dvoytenko commented on #22034
@lannka There's certainly no hard and strict requirement that we do use amp.css. I'd vote to separate them - there's always a risk of breaking one type of document with the changes for another. But I'd prefer if we had 1+N files: the common one (component stuff) and one per each document type.

[2019-05-02 17:35] jonasmarco opened #22112 "Custom validations does't working for me"
## What's the issue?

I'm trying to use custom validation on a form, however it keeps popping up the html5 popup.

## How do we reproduce the issue?

## What browsers are affected?

All browsers.

## Which AMP version is affected?

Newest.

Here a link implemented online => http://sites.clickweb.com.br/minhacasanoseua.com.br/post/7/casa-de-aluguel-ou-casa-de-ferias--entenda-qual-investimento-e-o-i

[2019-05-02 17:43] cathyxz commented on #15553
Another update on this. So per my comment above, this used to repro in Chrome's mobile emulators on macOS I believe, but it currently no longer does. I tried reproducing this on Windows 10 via a Saucelabs VM, it does not repro in FF 66, Chrome 74, but repros in Edge 18. So @dbarcosb do you need this for Edge support on Windows 10?

[2019-05-02 17:43] prateekbh commented on #21945
@ayumihamsaki We are currently experimenting ourselves with priority hints on AMP cache with scripts. Once we start seeing some results from this experiment we will be able to take a better decision of whether to make this attribute valid or not and if yes then in what shape. I should be able to update this thread in 3-4 weeks with some findings.

For amp-image, amp runtime has a bunch of optimiza

[2019-05-02 17:56] prateekbh opened #22113 "🌸 Cherry-pick request for #21902 into #1904262212040 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #21902 | #21976  | **YES** | **YES** | #21958 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criter

[2019-05-02 18:02] #22112 closed

[2019-05-02 18:04] cramforce commented on #22113
Approved

[2019-05-02 18:24] #21971 closed

[2019-05-02 18:24] choumx commented on #21971
Congrats on your first contribution!

[2019-05-02 18:45] choumx commented on #21429
Related: #15519

[2019-05-02 19:30] torch2424 commented on #21971
@abiral Thank you for the contribution! Stoked to hear it is your first one! Congrats! 🎉 😄 👍

[2019-05-02 19:34] mrjoro commented on #22016
I realized this is a dupe of https://github.com/ampproject/meta/issues/18.

[2019-05-02 19:35] #22016 closed

[2019-05-02 19:45] rsimha commented on #21952
My opinion is that we should use the last digit, which is for all intents and purposes, not in use today.
- The first two digits have pretty much been baked in to our release process, and into the workflow around opting in to prod (by default) / canary / rc / nightly (coming soon).
- Changing the meaning of the first two digits will require spinning up four (soon to be 5) new version prefixes, wil

[2019-05-02 19:50] estherkim commented on #21986
The two conditions in my example above are different and I think it's important to keep them separate.  The first determines that automation is complete. The second is an assertion specific to your test. The second condition being true does not mean the first is true as well, and I don't think we should make that assumption.

We benefit by keeping them separate - you can see if your test fails in

[2019-05-02 19:54] newmuis commented on #12209
I would say this is actually reasonably high priority for us.  As [announced at AMP Conf](https://youtu.be/i7Br9GmpQWs?t=1003), Google is focusing on providing travel stories experiences, which would lead me to reasonably expect a drastic increase in travel stories (which I would expect may want to use maps).

[2019-05-02 20:17] jridgewell commented on #21952
Would this be better if instead of being the last digit, it was the third digit of the RTV? So it would be `${PREFIX}${extra}${COMMIT_DATE}` instead of `${PREFIX}${COMMIT_DATE}${extra}`.

[2019-05-02 20:24] cathyxz commented on #15553
Okay, this much I'm understanding about the Edge situation. Basically the way this goes is:
1. You open the lightbox, lightbox scans for descendants that are AMP elements and lays them out.
2. amp-list gets laid out, calls fetch, adds all of its children to itself and calls DOM_UPDATE.
3. amp-lightbox gets the DOM_UPDATE, rescans, finds 1 amp-list + n amp-img children, and then calls scheduleLayou

[2019-05-02 20:29] rsimha commented on #21952
I prefer `${PREFIX}${COMMIT_DATE}${extra}`.
- Retains the alphabetical order of releases.
- Makes searching for a version number in `v0.js` trivially easy, no matter what the least significant digit is.
- Will not require any changes to the release / serving infrastructure (other than the `--custom_version_mark` flag)

[2019-05-02 20:33] dvoytenko commented on #21952
SG. LGTM.

[2019-05-02 20:33] rsimha opened #22117 "🚄 Release tracking issue for release 1904301721170"
# Release tracking issue

- [x] Release [1904301721170](https://github.com/ampproject/amphtml/releases/tag/1904301721170) is cut as a new canary release
- [x] Release 1904301721170 pushed to dev channel (12:26 PM, May 1, 2019 UTC-4)
- [x] Release 1904301721170 pushed to 1% (6:35 PM, May 1, 2019 UTC-4)
- [x] Release 1904301721170 pushed to production (1:55 PM, May 7, 2019 UTC-4)

See the [release d

[2019-05-02 20:34] rsimha commented on #21958
Reopening due to cherry-pick request #22113

[2019-05-02 20:35] danielrozenberg commented on #21952
Another reason to prefer the extra digit at the last position is that it maintains the property of version numbers being monotonically increasing

[2019-05-02 20:41] jridgewell commented on #21952
I obviously approve, so I think that makes 3.

[2019-05-02 20:43] mrjoro commented on #22052
/cc @ampproject/wg-analytics and @ampproject/wg-amp4email

[2019-05-02 20:45] torch2424 commented on #20148
@ndahmani Since there hasn't been much activity on this issue in a long while, I'm going to close this, but feel free to re-open if this is still an issue 😄

Thanks Everyone!

[2019-05-02 20:45] #20148 closed

[2019-05-02 20:46] torch2424 commented on #19634
@jasonconway-williams Is this still an issue for you?

@calebcordry Did you see @jeffjose response? If this is something linker fixes, I think we can point them to the docs and close this issue out 😄 👍

[2019-05-02 20:49] torch2424 commented on #19421
@choumx @dennyak47

I'm going to go ahead and close this as a "could not reproduce". As I tried this again on the new amp.dev, and could not get any errors to pop up at all.

Feel free to re-open if this is still an issue 😄

[2019-05-02 20:49] #19421 closed

[2019-05-02 20:50] torch2424 commented on #22052
cc @lannka This is super interesting, and could be used for something like the new link rewriter? 😄 🤔

[2019-05-02 20:53] calebcordry commented on #19634
Sorry for the delay, @jeffjose is correct you will need to use linker to decorate links from cache => self hosted. Please see our docs https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-forwarding.md to forward this unique id, and https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-receiving.md to receive it. Let me know if you hav

[2019-05-02 20:54] torch2424 commented on #19030
@gremz Thanks for your patience! Q1 was very busy for us, and lost track of this.

cc @jridgewell @dvoytenko Do either of you know someone who would have bandwidth on this? I can keep this in my backlog still, but if you know someone willing to pick this up sooner than I can, It would be appreciated 😄

[2019-05-02 20:55] torch2424 commented on #19634
Thank you @calebcordry ! I'll go ahead and close this, since the issue is a bit stale. But if this doesn't solve your problem @jasonconway-williams feel free to reply here, and we can re-open. Thank you everyone! 😄

[2019-05-02 20:55] #19634 closed

[2019-05-02 20:55] gmajoulet commented on #12171
Fixed by https://github.com/ampproject/amphtml/pull/21747

[2019-05-02 20:55] #12171 closed

[2019-05-02 20:58] torch2424 commented on #22034
@lannka @dvoytenko

I'm in agreement we should probably have our own a4a.css . And that strategy of have one "amp-core" css sounds good as well.

@lannka

What does the implementation of this look like? Would it be a good amount of work? Is that something we should own? If it is a large task, I'll go ahead and open an experiment for this like I did `height: auto !important`. And then we can pursue

[2019-05-02 21:01] JamesRoitberg opened #22120 "Galaxy s10 problem using google chrome"
## What's the issue?

We have been reported a bug on this url:
https://esporte.uol.com.br/amp-stories/os-10-mais-bem-pagos-do-futebol-brasileiro/index.htm,
In this case this don't open in the galaxy s9 and s10 using chrome browser (version 73.0.3683.90) android 9.
We found also that the same bug occurs using some of your demo stories, as we mention in the step below

## How do we reproduce the iss

[2019-05-02 23:35] prateekbh commented on #21902
Hi @iwoak We did a cherry pick of a suspected change whose fix is available in production now. But I can still the issue.

I'll try to look for any other suspects.

The complete canary will reach production on Tuesday, but will try to ask if this can be done any sooner.

[2019-05-03 00:11] prateekbh commented on #21902
// @cathyxz

[2019-05-03 00:51] justinph opened #22122 "amp-video-iframe in chrome throws DOMContent exception when attempting play"
## What's the issue?

When using `amp-video-iframe` in Chrome with a custom video player and attempting to instruct the video to play from a user action, Chrome will throw a `DOMContent` exception and the video will not play. The exception message is `play() failed because the user didn't interact with the document first. https://goo.gl/xX8pDD` [link](https://goo.gl/xX8pDD) In these cases, the vid

[2019-05-03 02:00] torch2424 commented on #22042
I think @calebcordry investigated this, and reasoned that it was not on AMP's side. But possibly on the vendor or something that is blocking your iframes.

Don't let me say too much, as I don't quite remember what they said, so I'll let them reply once they get the chance 😄

[2019-05-03 04:27] indieisaconcept opened #22123 "Clearer documentation for amp-geo self hosting"
Hi amphtml team,

I've reviewed the documentation for amp-geo self-hosting & there is very little detail on the subject other than implementation concerns to be aware of when serving the file to end users.

So it's not clear what caveats there are or if there is more configuration required in-order to support this.

For context I'm reviewing this from a publisher perspective for the purpose of sel

[2019-05-03 06:48] iwoak commented on #21902
I still see the issue too, but thanks a lot @prateekbh for cherry pick!

[2019-05-03 11:00] ayushgupta29 opened #22124 "Intent to Implement: WebEngage"
We at [WebEngage](https://webengage.com/) would love to add our platform as an amp-analytics plugin, we already created a new API which supports query string and have everything ready with us.

A simple example that sends us a pageview:

[code]

we would ask our customers to add more triggers/request if they need to send us any other amp-analytics supported events.

Do let us know feedback/issue i

[2019-05-03 11:11] ayumihamsaki commented on #21945
@prateekbh interesting! Is it possible to create a gist of the results, something like cathyxz does in this repo, see here for an example: https://gist.github.com/cathyxz/30fa610e62da3385da8f230c81e236d0

Would be interested to see any results.

[2019-05-03 14:28] aghassemi commented on #22027
@triso07 I will be out for 2 weeks on paternity leave, @lannka can help you get the ITI and PR reviewed and implemented.

[2019-05-03 14:42] triso07 commented on #22027
@aghassemi Congratulations!

@lannka We're most likely going to use `<amp-insticator>`. We've tested an implementation that seems to work well. We'll create a draft pull request soon and CC you.

[2019-05-03 14:53] prateekbh commented on #21945
Yes definitely

[2019-05-03 15:22] cramforce opened #22127 "Adaptive bandwidth handling in STAMP"
Just an idea:

If we notice that images haven't fully loaded when the user tabs to a next page N times (N = 1-2?), could we for future images that we load switch to a lower-res srcset value (assuming that is present)?

[2019-05-03 15:23] cvializ commented on #21986
I think I disagree with the statement that the two conditions are actually separate. From my perspective, waiting for the end of the animation is a proxy for the expectation being true. Let me make sure I understand the example correctly:

- 1. the hypothetical test we're considering is an animation or other ongoing action that needs to complete, and where a separate value needs to be verified aft

[2019-05-03 15:37] newmuis commented on #22127
Good idea!  One thing that's suboptimal is that we can't tell the filesize of the image without initiating the fetch for it.  So, for example, if the image that is loading slowly is a 4K image (which has actually happened), later images that might be smaller will still get downsampled.

[2019-05-03 16:19] cramforce commented on #22127
At least on the AMP cache, you should never see a 4K image, because of the automatic srcset generation. I think it is fair to assume that if a slow-loading image used a srcset, that it provided a reasonable amount of pixels for the respective screen.

[2019-05-03 17:20] lannka commented on #22052
@ekingery thanks for bringing this up.

Could you share the use cases you're looking at? Here are a couple of things we need to consider depend on the real use cases.

- To make the tracking useful, we will want to support macros in the ping URL. In my local testing, the ping post request does not include cookies, (although the spec said credential=include). So likely we will want to put user iden

[2019-05-03 17:27] lannka commented on #22124
@ayushgupta29 you're welcome to add a `<amp-analytics type="webengage">` support. please refer to our integration [guideline](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md).

you can ping @ampproject/wg-analytics once have your PR ready.

[2019-05-03 17:28] lannka commented on #22123
/cc @zhouyx @jeffjose

[2019-05-03 17:35] lannka commented on #22063
@calebcordry is right, the pageview ping is from facebookpixel's default config. you can choose to disable that default ping by adding the following block to your triggers setting,

[code]

closing this bug for now. feel free to reopen if you have any other questions.

[2019-05-03 17:35] #22063 closed

[2019-05-03 17:36] lannka commented on #22088
/cc @Gregable

[2019-05-03 17:37] lannka commented on #22098
/cc @choumx to triage

[2019-05-03 17:50] choumx commented on #22098
Replied on SO.

As the example in the documentation link shows, amp-bind-macro can only be referenced by id in amp-bind expressions. E.g.

[code]

[2019-05-03 17:50] #22098 closed

[2019-05-03 18:21] calebcordry commented on #22042
@anshuman91 I am not sure that the error messages are related to the ads being broken. The errors are coming from moatad.js which is supplied by [moat](https://moat.com/). I still see the errors when all ads are filled:
![image](https://user-images.githubusercontent.com/16087874/57157383-6d21d800-6d95-11e9-9941-dc8eedb1f81e.png)

However, I do see a lot of broken ads when visiting the page in safa

[2019-05-03 19:13] ekingery commented on #22052
@lannka, absolutely. The primary motivation for me to get HTTP Ping into AMP is so that it can be made available in Amp4Email. I am working on an email newsletter-like product and I would like to measure engagement on behalf of the senders. I'm primarily looking to count clicks, I don't need a cookie trail or anything else. I was planning to pass a newsletter-ID in the query string of the ping URL

[2019-05-03 19:51] mattwomple commented on #21902
@prateekbh Based on these comments:

[gilbertococchi](https://github.com/ampproject/amphtml/issues/21902#issuecomment-487991479)

[aghassemi](https://github.com/ampproject/amphtml/issues/21902#issuecomment-484595962)

... the issue sounds directly related to #17532 . If this is the case, it can be remedied in one of two ways:

- AMP project pushes #21854 to production
- rep.repubblica.it adds a "c

[2019-05-03 20:33] cathyxz commented on #21902
So @prateekbh figured out that 1904091426070 was the release that broke it and our new dev channel contains changes that fix it. A breakpoints indicate that the main difference here (to `<amp-list>`) between throttling to Fast 3G is whether or not the `updateBindings_` promise ever returns to result in a call to `render_`, which is the function that appends the elements to the DOM.

`updateBinding

[2019-05-03 20:36] caroqliu opened #22133 "amp-autocomplete: Support `disabled` and `value` on arbitrary element items."
## Describe the new feature or change to an existing feature you'd like to see

At the moment, the way to disable an item on `amp-autocomplete` is by providing a `data-disabled` attribute on the `template` child of the component. Likewise, the way to provide the `value` of an item is to specify a `data-value` attribute. Instead, the developer should be able to specify this with first class `disabl

[2019-05-03 20:37] prateekbh commented on #21902
// @choumx as he might have better idea

[2019-05-03 20:41] lannka commented on #22052
@ekingery thanks for the details.

They are all good. The only challenge that drags me behind is where to put those logic. It wouldn't be ideal to include those extra bytes in the core runtime (v0.js), as I don't foresee a broad usage of this the `ping` attribute.

For your specific email use case, I see 2 possible ways forward
- we ignore the mentioned limitations, no user identifier, no ping-fro

[2019-05-03 21:13] lannka commented on #22042
Agree, the error msgs are unrelated. it's just evidences of how various js tried to jail break a cross origin frame.

It's very easy to reproduce a blank ads on Safari. A typical response of the ad request https://googleads.g.doubleclick.net/pagead/ads is like:
[code]

@keithwrightbos @jeffkaufman any insights? is it a response for no-fill?

[2019-05-03 21:35] honeybadgerdontcare commented on #22088
@renegeuze we'd welcome a PR to add this feature, but we would want it to be backward compatible such that if a htmlformat is not passed in validate would treat is at AMP.

[2019-05-03 21:59] choumx commented on #21902
Cathy was on the right track. The problem is there are actually two shadow AMP docs on this page: (1) the main article and (2) a subscriptions widget in the top right corner.

Both of these shadow docs use amp-bind, but amp-bind's worker is only scoped to support 1 doc per window. This is the cause of the worker console error -- the second doc's amp-bind initialization always fails (before the fix

[2019-05-03 22:03] prateekbh commented on #21902
Thank you @choumx 🤗
@iwoak  the canary rolls out to production on tuesday, but if you need an immediate fix you can load `shadow-v0.js` from `https://cdn.ampproject.org/rtv/011904301721170/shadow-v0.js` instead of `https://cdn.ampproject.org/shadow-v0.js`

[2019-05-03 22:15] dvoytenko opened #22136 "I2I: Remove AMP CORS protocol"
## Summary

[AMP CORS](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) was necessary in a pre-separated domain context. The transition to the fully separated origins has been done long time ago and deployments of AMP with a unified are no longer considered valid and easily detected on the server side.

## Design document

Thus the proposal is to remove most of response

[2019-05-03 22:19] lannka commented on #22136
Happy to revisit but we were stalled on this last time (#14789) because the domain separation does not separate HTTPS & HTTP.

[2019-05-03 22:32] #19951 closed

[2019-05-03 22:33] #13688 closed

[2019-05-03 22:47] lannka commented on #22027
@triso07 could you further explain how the ad insertion will work? Especially, is the ad delivered from your server, or you just plan to put an `<amp-ad>` tag that will fetch an ad from an ad network that supports AMP? be aware that if your widget is already scrolled into viewport but you haven't get your ad back, you might have problem to insert the ad because AMP does not allow content reflow.

[2019-05-03 22:50] lannka commented on #21545
@zombifier could you help to fix this? thanks
(tried to assign the issue to you but could not. I guess you have to join some group to be able to take AMP issues)...

[2019-05-03 22:50] lannka commented on #21874
duplicates with #21545

[2019-05-03 22:50] #21874 closed

[2019-05-03 22:52] lannka commented on #21835
@mwakkiy sorry if it wasn't clear. I'm not going to whitelist your GH testing domain, as I think you can use mine instead.

[code]

[2019-05-03 22:55] #19821 closed

[2019-05-03 23:03] jridgewell commented on #22052
Is amp-analytics necessary here? If amp-pixel is already allowed, we could rely on that?

[2019-05-03 23:05] lannka commented on #22052
we will need the click trigger functionality that amp-analaytics provides. meantime, amp-pixel is also not allowed in amp4email.

[2019-05-03 23:13] jridgewell commented on #22052
So the line between pixel and analytics always confuses me. I don't think we need analytics bundle, sense it does a lot more than is necessary here (actual analytics collection). I think all that's needed is the URL replacements, we pixel uses. The click listener itself should be minimal enough that we can implement it by default in runtime, and we just early exit if URL replacements isn't loaded

[2019-05-03 23:26] lannka commented on #22052
Hm, one race condition to think about for url-replacement . If AMP runtime is not yet ready before user clicking on the anchor, browser will send the ping with unresolved macros.

To be fair, the race condition exists today when amp-analytics is not ready yet before the user click. In that case, we don't send ping.

Hard to say which behavior is better.

@jridgewell I don't see why we can't allow

[2019-05-03 23:37] orionhashax opened #22139 "Trouble Whitelisting amp@gmail.dev"
Hi Amp team. I am an email developer and I have been attempting to create amp emails in the amp playground tool here: https://amp.gmail.dev/playground/. While my clients have been successful in enabling dynamic email content, I have been unable to in my personal gmail. Any idea on why I keep getting sent the html version? I went in and whitelisted amp@gmail.dev in Gmail Settings > General > Dynami

[2019-05-03 23:46] jridgewell commented on #22052
I'm totally fine with whitelisting `ping` with no additional functionality. I think it should be enabled in AMP at least, and A4A and A4E should evaluate whether to allow it (I think they should).

We can add URL replacement functionality later (and A4A and A4E can determine if they want that functionality).

[2019-05-04 04:45] stephengardner commented on #4626
Is it possible to have an `amp-carousel` with, for example, 50%

This is exactly what I'm looking for.
something like: 3 slides on desktop (33% width) and 1 slide on mobile (100% width).

Just confirming that this isn't currently possible.

[2019-05-04 04:46] stephengardner commented on #4626
This is exactly what I am also looking for - looking forward to an update!

[2019-05-04 06:52] ikriser commented on #10408
Any updates on this? I also would like this feature.

[2019-05-04 07:22] Meai opened #22143 "amp-img: Vague "failed to load" error without src"
## What's the issue?
Adding some tags suddenly causes an error that doesnt have any message in it. This is caused by empty img src tags loaded from a test.json, however I get no message indicating this.

## How do we reproduce the issue?

1. Host this on localhost with python3 -m http.server
2. on pageload it will show a generic "Failed to load: http://localhost:8000/amp-index.html​​​"

## Unaccep

[2019-05-06 05:55] leonalicious commented on #19866
hey hi @cathyxz, are you able to reproduce this issue and fix it ?

[2019-05-06 08:13] iwoak commented on #21902
Thanks a lot @prateekbh  and @choumx! the problem is very clear now.
We look forward fo tuesday production release and we'll work to remove the less important second amp shadow dom (subscriptions widget in the top right corner)

[2019-05-06 11:10] SimonHogstromRonbol opened #22148 "Amp-fx-collection: fly-in-direction doesnt take already exsiting transforms into account."
## What's the issue?

If an element is already affected by transforms for positioning, rotations and the like, you cant use any of the fly-in effects.

Since the effect will overwrite the transforms already applied.

I don't really know if this is intentional, in that case, please consider this report a feature request.

## How do we reproduce the issue?

I made this codepen to explain the issue:

[2019-05-06 13:32] iwoak commented on #15454
Hi @jpettitt, we have a large usage of amp canonical on both mobile and desktop on our premium site https://rep.repubblica.it. So, if we could use Credential Management API with AMP (amp-subscriptions) would enable us to develop autologin between site and native mobile apps. This would be a great thing for us!

[2019-05-06 13:38] cvializ commented on #10408
No updates yet, this issue is prioritized but we haven't been able to assign it yet. Thanks for sharing your interest!

[2019-05-06 14:01] aghassemi commented on #22122
@alanorozco This is due to Chrome UserActivation and `allow=autoplay` stuff. Given UAv2 is not making it to Chrome 75, I am thinking to take a whole different approach here:

Although we can't add `allow=autoplay` like we did for a few other video players, what we can do is: "When VideoManager receives a `play` or other actions call, if the event behind it is High-Trust, then it will be safe enoug

[2019-05-06 14:10] auxsoft opened #22150 "Sidebar open animation randomly skipped"
I think a recent change was made that makes the sidebar animation work erratically. Sometimes it opens smoothly but other times the open animation seems to be entirely skipped.

Apart from mine, I tried other amp sites and I can see they have the same problem.

This happens to me on desktop, Android and iOS.

AMP Version 1905021827420

![amp-sidebar-animation (2)](https://user-images.githubusercon

[2019-05-06 14:16] jpettitt commented on #15454
I'll take another look.  @dvoytenko @cramforce WDYT?

[2019-05-06 14:32] sebastianbenz opened #22151 "[transformed AMP] Validator does not support blurry image placeholders"
Here is a blurry image placeholder generated by AMP Optimizer:

[code]

Which will result in the following validation error:

[code]

[2019-05-06 14:32] sebastianbenz commented on #22151
//cc @honeybadgerdontcare

[2019-05-06 14:39] choumx commented on #22151
Are the other SSR/Optimizer transformations valid yet? This bug should be categorized under that same effort.

[2019-05-06 14:46] sebastianbenz commented on #22151
All other SSR transformations should be supported. Here is a live version of amp.dev publishing valid transformed AMP: https://amp-dev-staging.appspot.com (this might go back to the normal version soon).

See also https://github.com/ampproject/amphtml/issues/21941.

[2019-05-06 14:56] estherkim commented on #21527
Here's the exact issue that was raised with Travis - https://github.com/travis-ci/travis-ci/issues/5882

I'll try to come up with a workaround for now. The simplest might be to fail the test job immediately and instruct the requester to restart the whole build if a different SHA is detected.

[2019-05-06 14:56] dbarcosb commented on #15553
Hi @cathyxz, thanks so much for looking into this. No, Edge support is not such a big deal here.

However, I still see the unexpected behavior, at least in Chrome. Your [copen example](https://codepen.io/cathyxz/pen/ZZdeab) works perfectly but it is different than the one @juliavallina mentioned. If you follow her example, the flags are not loaded unless the user interacts.

To show you another ex

[2019-05-06 15:02] honeybadgerdontcare commented on #22151
I don't believe this is a supported transformation. AFAIK we don't do it in the AMP Cache and it's not listed under the SSR documentation.

[2019-05-06 15:18] thinkdifferent opened #22152 "[Search Console] "Linked AMP version is invalid" for a valid page"
In Google Search Console we are getting "Linked AMP version is invalid" error.

Page is:
https://www.ilmeteo.it/notizie/meteo-diretta-video-le-previsioni-per-sabato-4-maggio

which has a (valid) amp page:
https://www.ilmeteo.it/notizie/meteo-diretta-video-le-previsioni-per-sabato-4-maggio/amp

We used the right canonical and amphtml tags.

What is missing?

[2019-05-06 15:25] danielrozenberg commented on #21527
That might be too common in real life (during the day developers merge a few dozen PRs, so it's not unlikely that somebody will send a new PR while another gets merged in the ~8 minutes that it takes for the build stage to finish)

[2019-05-06 15:33] choumx commented on #21509
SWR is being [enabled in Chrome 75](https://www.chromestatus.com/feature/5050913014153216) which becomes [stable on June 4](https://www.chromestatus.com/features/schedule).

[2019-05-06 15:39] jpettitt commented on #22123
`amp-geo` self hosting refers to the case where a publisher chooses to create a non-valid amp page by hosting all the AMP js files on their own server.  If you do this you have to replicate the 'hot patch' at serving time that inserts the country code into `amp-geo`.

If you just want to set the country on the server, but maintain valid AMP, a better way to go is to add the geo classes to the `bod

[2019-05-06 16:47] rsimha commented on #21545
This test has been causing fairly regular failures on Firefox (among other browsers).

[code]

@zombifier Any chance you can skip it too?

[2019-05-06 16:50] rsimha opened #22154 "`amp-skimlinks` tests are flaky"
[code]
Failures from the past few hours:

https://travis-ci.org/ampproject/amphtml/jobs/528860786#L1940-L1944
https://travis-ci.org/ampproject/amphtml/jobs/527886895#L1533-L1539
https://travis-ci.org/ampproject/amphtml/jobs/527096273#L1909-L1914
https://travis-ci.org/ampproject/amphtml/jobs/528755387#L377-L381

/to @sparhami, who is build cop this week

[2019-05-06 16:53] choumx commented on #22151
It's a WIP transformation. `go/amp-blurry-image` for context.

[2019-05-06 17:04] danielrozenberg commented on #17969
This issue is also reflected in go/ampe/CLW3v-GI65b4hAE with a `SecurityError: DOM exception 18` prefix. I don't think we should create a separate issue for that one

[2019-05-06 17:09] AndrewKGuan commented on #21170
Hi all,
just a quick check to see how far this issue has been addressed?

[2019-05-06 17:21] twifkak commented on #21509
Is there is a real concern that usage of new features will break a significant population? Do we have an estimate of what fraction of pageviews is the first one after a new release? If it's significant, then I suspect publisher messaging is insufficient. (What is the medium for that message? How many people will receive it? How will they change their publication processes to prevent such a breakag

[2019-05-06 17:21] xiao-lix opened #22156 "amp-analytics click tracking with dynamic data-var-* attributes only shows info of the first selected element"
## What's the issue?

I'm using amp-analytics to track data sending to my own end point. I need to track which button or link the user clicked by adding data-vars-* attribute for the elements, but it turns out that the result only shows the first element's info I clicked on. Thus it depends on which element I clicked first, my endpoint will receive all other clicked elements the same value of the

[2019-05-06 17:26] alanorozco commented on #22122
@aghassemi That could work, I'll give it a shot.

[2019-05-06 17:31] justinph commented on #22122
Thanks for jumping on this. Let me know if there's anything I can do to assist.

[2019-05-06 17:35] hellokoji commented on #21399
Friendly ping to this thread. Still need 1 more approval from a core-committer.

[2019-05-06 17:37] aghassemi commented on #22122
@mustaqahmed FYI

[2019-05-06 17:55] alanorozco opened #22158 "Cleanup Chrome user-activation workaround in `VideoManager`."
See #22122 for details on original issue. This issue tracks cleanup for implementation of `maybeAddUnsafeAllowAutoplay` once it's no longer needed (ie. once UAv2 is broadly deployed).

[2019-05-06 17:55] jeffjose commented on #21170
Hi Andrew, Can you provide more context on where this is being impacted? It'll help us prioritize the bug in our weekly sprint. Thanks!

[2019-05-06 17:56] cramforce commented on #15454
Super important to support this well. While there may be challenges to support in on AMP caches, I think we just need a strong fallback story, similar to fallbacks for browsers that don't support the API.

[2019-05-06 17:57] cramforce commented on #22136
@dvoytenko Where did we land on only removing the requirement for HTTPS origin documents?

[2019-05-06 17:57] cramforce commented on #21399
Approved

[2019-05-06 18:07] aghassemi commented on #21500
For the extension name, I suggest `amp-cloudinary-image` .
We also need 3 approvals from @ampproject/wg-approvers to move forward. 1 LGTM from me.

[2019-05-06 18:25] choumx commented on #21509
IMO, this is not a major concern. This will only affect new AMP pages that rely on feature X that are published within ~1 week of feature X's release. And even then, the impact is only that feature X is missing, and for a single page view per user.

"Feature X is missing" will likely be mostly transparent to users since features are usually incremental in nature. E.g. this won't affect new extensi

[2019-05-06 18:32] jridgewell commented on #21500
LGTM, too. Note that these will not be pre-renderable images, because we won't be able to deliver them via `cdn.ampproject.org` (or any other AMP Cache) image cache. We actually could make them deliverable that way, if we make the final URLs more static (not dependent on the requesting browser, only the effects applied to the element).

[2019-05-06 18:34] AndrewKGuan commented on #21170
All forms that are redirected to a submit result page such as a 'thank you' page will need to use this because:

- amp-form won't allow a regular post, xhr will have to be used instead.

- after the xhr comes back, NavigateTo is the only way to forward to that submit result page if the destination cannot/should not be determined on the xhr response. Example, if submit-success and submit-error have

[2019-05-06 18:44] harshvcs opened #22160 "Add support for EQUALS macro to allow for easy variable substitution"
## Add EQUALS macro to allow for easier string output mapping

There is currently no support from [available macros](https://github.com/ampproject/amphtml/blob/99d8eac351a94119233295dfda497b0b31b3967f/extensions/amp-analytics/0.1/variables.js#L153-L164) to map [variable](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#variables) values that might be required by a ve

[2019-05-06 18:58] choumx commented on #22052
As Greg mentioned, support in AMP4EMAIL sounds reasonable but may need work from some providers that have strict privacy invariants.

[2019-05-06 19:24] danielrozenberg opened #22162 "Fix and re-enable flaky visual diff test "amp-accordion: page loads""
Disabled in #22161

[2019-05-06 19:31] zombifier commented on #21545
Just want to note that these tests are A4A, and distinct from inabox tests (which I'm responsible for). Nevertheless there's significant overlap between them and I'm happy to submit the PR to skip them (and investigate them later).

[2019-05-06 19:46] torch2424 commented on #22120
Triaging to @newmuis , Feel free to re-assign 😄

[2019-05-06 19:46] torch2424 commented on #22106
Triaging to @newmuis , Feel free to re-assign 😄

[2019-05-06 19:49] torch2424 commented on #22103
cc @sebastianbenz Perhaps you can help here? 🤔

[2019-05-06 19:49] torch2424 commented on #22099
Triaging to @newmuis , feel free to re-assign 😄

[2019-05-06 19:50] torch2424 commented on #22098
Triaging to @choumx , feel free to re-assign 😄

[2019-05-06 19:52] lannka commented on #22052
@choumx are different amp4email providers putting custom restrictions on the content? what's the right way to move forward?

I think we all agreed to make validation rule changes to allow `ping` attribute on anchors for both AMP & AMP4ADS spec. It at least can be immediately used for non-user identifiable tracking. So it's a matter of AMP4EMAIL.

[2019-05-06 19:55] sebastianbenz commented on #22103
adding @ithinkihaveacat who's currently maintaining amp bench.

[2019-05-06 19:59] Gregable commented on #22052
My preference would be to see how far we can get with a single unified set of constraints for AMP4EMAIL. Presumably that would mean **not** supporting html5 ping.

[2019-05-06 20:00] sparhami commented on #22154
It looks like these tests make a request to an external URL (https://t.skimresources.com/api/...), which seems like it times out or fails quite often. Three of the tests timeout 100% of the time for me locally:

        ● Should send the page impression tracking request
        ● Should send the links impression tracking request
        ● should send NA-tracking on non-merchant link click

These m

[2019-05-06 20:03] cvializ commented on #20112
This is complete

[2019-05-06 20:03] #20112 closed

[2019-05-06 20:09] #21958 closed

[2019-05-06 20:11] rsimha commented on #22113
This went out last week with https://github.com/ampproject/amphtml/releases/tag/1905021827420. Closing.

[2019-05-06 20:15] Gregable commented on #21500
LGTM. This is one of those great cases for using images not from the AMP Cache. Justin's point is correct though: We want these to not be pre-renderable until we find a mechanism to load them via the AMP Cache directly. I think that's a reasonable tradeoff in this case. @ampproject/wg-caching as an FYI regarding the unique caching requirements.

[2019-05-06 20:16] choumx commented on #22052
Correct, no support in AMP4EMAIL for now but possibly in the near future.

[2019-05-06 20:21] rsimha commented on #21545
Oh, didn't realise that, since the names of the tests were nearly identical.

Either way, thanks for the help in keeping Travis green!

[2019-05-06 21:02] lannka commented on #22052
So what's the option for @ekingery for click tracking? Do they have to do the redirection?

[2019-05-06 21:44] Gregable commented on #22052
The question gets to what is the privacy model for webmail providers. Clearly they consider clicking a link as implicitly allowing for the origin in the link to gain access to the user's network request. The question is if they consider the same event to allow for any origin that the link sender suggested. More concretely, if foo@example.com sends me an email with a link to http://wikipedia.org/,

[2019-05-06 22:20] jasti commented on #22052
I'll take the action item to get feedback from the providers (Gmail & Co) and if there is a reason why `amp-pixel` was disallowed in the first go around. Please stay tuned.

[2019-05-06 23:43] dvoytenko commented on #22136
@lannka I wonder how this point changes given that we allow CORS to only https resources.

[2019-05-07 02:03] indieisaconcept commented on #22123
@jpettitt thank-you for your input I see that you added the initial documentation for `amp-geo` & self-hosting in #14780.

I think there would be value for the community if there was more detail in relation to self-hosting beyond `apm-geo` which outlined caveats such as validation as there seems to be very little on the [subject](https://github.com/ampproject/amphtml/search?q=%22self+hosting%22&un

[2019-05-07 02:23] welkie opened #22167 "amp-analytics Content-Type header not set to URL encoded or JSON, set to text/plain;charset=UTF-8"
## What's the issue?

Using amp-analytics with the following config:

[code]

I was trying to use Express.js to parse the body, but it always comes in as an empty object.

When inspecting in Chrome dev tools on the AMP page, I saw that the data is in the body, but its `Content-Type` isn't being set to anything that web frameworks can use to parse the body:

![image](https://user-images.githubuserc

[2019-05-07 05:21] ithinkihaveacat commented on #22103
Thanks for the report. This appears to be a bug in ampbench; there doesn't seem to be any issues with the pages themselves. I've created a bug report for ampbench at https://github.com/ampproject/ampbench/issues/115.

[2019-05-07 05:36] patrickkettner opened #22169 "Wildcard domains in origin experiments"
Origin Trials [have the ability to be wildcard](https://github.com/GoogleChrome/OriginTrials/blob/gh-pages/developer-guide.md#13-i-have-multiple-testingstaging-domains-or-subdomains-that-are-programmatically-generated-do-i-need-to-request-a-token-for-every-subdomain) domains (i.e. *.foo.com), however the current implementation [only allows for FQDNs](https://github.com/ampproject/amphtml/blob/ca63

[2019-05-07 06:44] nitzanj commented on #21500
Thanks for the input!

Indeed our initial implementation (see pr #22149) does not use the pre-connect callback at all, there's just no way to pre-render with the current mechanisms. But considering that all of Cloudinary's resources are always delivered through CDNs, we too believe that the trade-off is worth it.
Also, the vast majority of Cloudinary's customers use our automatic optimizations bef

[2019-05-07 08:59] Binipro commented on #15218
@alanorozco , minimizing to an arbitrary slot doesn't work on real mobile devices.

I prepared a test page using the code on AMP advanced docking demo by removing the css part which hide the dock slot on smaller devices to fallback to standard docking and it doesn't consistently dock/undock on any real mobile devices.

Link of the AMP demo:
https://playground.amp.dev/?url=https://preview.amp.dev/d

[2019-05-07 10:43] anshuman91 commented on #22042
Hello @lannka @calebcordry @keithwrightbos @jeffkaufman

After investigating on Safari browser I found `removeElement()` function running two times in safari and when it trigger second time, it removes the iFrame from `<amp-embed>`.

![Screenshot 2019-05-07 at 3 48 52 PM](https://user-images.githubusercontent.com/3455354/57293320-04629480-70e2-11e9-92f8-5fefc472624c.png)

![Screenshot 2019-05-07 a

[2019-05-07 11:30] leonalicious opened #22170 "amp-script: Remove AMP CORS requirements for author JS?"
Hi guys, we have started to play around with `<amp-script>`, the first issue we have bumped into, is there a way that we can request a js file without `AMP-Access-Control-Allow-Source-Origin header​​​` Response Header on it ? reason simply because most of the static files are stored on the `cdn` and we got limited access to add Header onto the Response of the request.

![image](https://user-images

[2019-05-07 14:19] cramforce commented on #21500
I'd like us to consider a view things:

- Move to a generic extension that uses a vendor profile for URL generation. Not 100% sure that is a good idea, but should be considered.
- It is definitely a loss for users to not get pre-rendered images in the first viewport. Are there ideas to mitigate that?
- Please clarify how the extension handles srcset and sizes. I don't currently see how that is sup

[2019-05-07 15:04] cvializ opened #22173 "FR: Add mutatedAttributesCallback equivalent for non-AMP.BaseElement components"
A number of instances have come up where it would be convenient to respond dynamically to attributes mutating on non-AMP.BaseElement components, for example on `<form>` elements. This FR tracks the discussion around these use-cases and the implementation details required to add this functionality.

/to @choumx for prioritization/additional info
/cc @eduardogoncalves

[2019-05-07 15:06] newmuis opened #22174 "Loop videos that are not used for auto-advance"
Videos should either be used for auto-advance, or loop.  If they're not the video used in the page's `auto-advance` attribute, we should enforce the fact that they loop.

[2019-05-07 16:21] grandloser commented on #17909
@matej-marcisovsky, were you able to verify this fix addressed the problem?

[2019-05-07 16:56] cvializ commented on #21986
Revisiting this, I'd like to add that I am would support the FunctionalTestController API having a `waitFor` or similarly named method that is framework-agnostic, and writing a small-to-medium set of tests with it and monitoring its flakiness compared to existing tests. That way we can evaluate the performance of separate-vs-combined waiting mechanisms and make an educated choice.

[2019-05-07 17:14] choumx commented on #22143
This is caused by the amp-img initialization failing:
https://github.com/ampproject/amphtml/blob/d0744039025fb5a31fc53b86f660985dbce3f687/src/event-helper.js#L204-L212

Introduced by #4800. `target.src` appears to be the current document URL if `src` attribute is empty string.

[2019-05-07 17:16] #22043 closed

[2019-05-07 17:23] choumx commented on #22139
This is a better question for Gmail support forums. We'll keep an eye on these similar reports though.

/cc @johnbarr

[2019-05-07 17:23] #22139 closed

[2019-05-07 17:35] rsimha commented on #22154
I'm seeing more `skimlinks` tests failing on `master` today.

[code]
https://travis-ci.org/ampproject/amphtml/jobs/529288928#L1940-L1945
https://travis-ci.org/ampproject/amphtml/jobs/529101437#L1940-L1945

Seems like there's a more widespread problem with this suite?

[2019-05-07 17:54] prateekbh commented on #21931
I'd like to present our future steps to make shadow DOM more stable and have better testing strategy around the same.

[2019-05-07 17:55] #22117 closed

[2019-05-07 17:56] prateekbh commented on #21930
i'd like to present a design for `[amp-prefetch-link](https://github.com/ampproject/amp-sw/issues/15)`.

[2019-05-07 18:17] cvializ opened #22177 "Cleanup amp-user-location experiment"
Related to #8929

[2019-05-07 18:27] choumx commented on #21016
Closing this issue per above discussion.

[2019-05-07 18:27] #21016 closed

[2019-05-07 18:39] sparhami commented on #21986
I think `waitFor` would be okay, I just don't want to give up the readability / power of the current assertions we have. For example, a lot of the carousel tests do something like:

[code]

If this times out, I currently get a very clear message on what failed and why (what the value of x was). I don't want to write custom logic like:

[code]

I think the current pattern is very readable and easy

[2019-05-07 18:46] sparhami commented on #22154
Hmm, maybe we should disable the tests entirely. It seems like the endpoint might not be reliable enough to use it in the tests. Not sure if there is a longer term plan here (have some sort of golden files for network requests? how would they be updated?).

[2019-05-07 18:49] rsimha commented on #22154
I agree with not having tests that rely on an external end point. Would it be possible to use a local endpoint from `examples/` in the tests?

For the time being, skipping the flaky suite SGTM.

[2019-05-07 19:15] danilomasato opened #22179 "Title providers in share not visible in language pt-br"
**Please only file reports about bugs in AMP here.**

<img src="https://github.com/danilomasato/report-ampstories/blob/master/bug-share-lang-pt-br.png?raw=true">

## What's the issue?

Title providers in share not visible in language pt-br.

## How do we reproduce the issue?

changing to language to pt-br, and click in share.

## What browsers are affected?

all browsers and devices (web/mobile)

[2019-05-07 19:20] danielrozenberg opened #22180 "🚄Release tracking issue for release 1905071607430"
# Release tracking issue

- [x] Release [1905071607430](https://github.com/ampproject/amphtml/releases/tag/1905071607430) is cut as a new canary release
- [x] Release 1905071607430 pushed to dev channel (5:19 PM, May 7, 2019 UTC-4)
- [x] Release 1905071607430 pushed to 1% (4:03 PM, May 8, 2019 UTC-4)
- [x] Release [1905091827220](https://github.com/ampproject/amphtml/releases/tag/1905091827220) is

[2019-05-07 20:47] rsimha commented on #21986
Piling on to this discussion with my 2¢:

I think at a high level, a testing library of this sort should try to ensure three things:
1) **No test step should wait longer than it needs to.** Based on the discussion that ended with https://github.com/ampproject/amphtml/issues/21986#issuecomment-490163013, it seems like the plan is to write a bunch of `waitFor*` functions that implicitly wait on diff

[2019-05-07 22:06] nainar opened #22184 "3p Video players: Implement 10s rewind/forward where possible"
Implement the ability to double tap to rewind back/go forward by 10s.

Other players on mobile have this in full screen.

[2019-05-07 22:08] nainar opened #22185 "Automatically add attribute based features in AMP components based on heuristics"
Based on the success of the auto lightbox project, explore other things to automate?

Video:
- dock attribute
- rotate to full screen

Lightbox
- caption?

[2019-05-07 22:13] #22154 closed

[2019-05-07 22:56] fstanis commented on #21826
Thanks for reporting. There's currently an issue with forms with `method="get"` in Gmail that we're working on.

As a temporary solution, you can replace `<form id="animal-form" method="get" action-xhr="https://ampbyexample.com/echo">` with `<form id="animal-form" method="post" action-xhr="https://ampbyexample.com/echo">` and the email should work in Gmail.

Closing this since we can't fix it from

[2019-05-07 22:56] #21826 closed

[2019-05-07 23:27] newmuis commented on #22184
When we do this, let's make sure it doesn't break or delay navigation in stories 😃

[2019-05-07 23:51] alanorozco commented on #22184
@nainar In fullscreen this will not work on Safari.
@newmuis Possibly a non-Stories only feature unless you folks are interested?

[2019-05-08 10:11] rohitkashyap8756 opened #22193 "Response must contain the AMP-Access-Control-Allow-Source-Origin header"
I am new in amp I am using amp recaptcha input but getting this error on form submission

[2019-05-08 10:26] slocka commented on #22154
Thanks for flagging. We are having stability issues with one of our core API and I believe this is the reason why the tests started failing. I am happy to change the tests to not rely on any external endpoint but I am not sure how to do it. Is there a way to mock the response of a request?

[2019-05-08 16:31] sparhami commented on #22154
I'm not sure we have an established pattern or a useful wrapper, but you could do something like `amp-live-list` does:

https://github.com/ampproject/amphtml/blob/df6bc8998892d9b8bf97b56cdf897b99d587975a/extensions/amp-live-list/0.1/test/test-live-list-manager.js#L50-L62

https://github.com/ampproject/amphtml/blob/df6bc8998892d9b8bf97b56cdf897b99d587975a/extensions/amp-live-list/0.1/test/test-live

[2019-05-08 17:16] mcmd commented on #8040
Hi, resurrecting this FR.

The time-elapsed-since-a-given-date is now covered by amp-date-countdown, but conditional format based on date is still a valid use case. This for instance:

A restaurant offer only active during dinner times on weekdays
A "Call us" button only enabled during the times the call center is open

In a non AMP page, doing this in the client side is trivial. In AMP, you would

[2019-05-08 17:48] cvializ commented on #22154
I am not aware of anything better, but stubbing the request somehow, including using the Sinon XHR stubbing with indices would be preferred over making the real request.

[2019-05-08 18:04] xiao-lix commented on #22156
Hi, just want to follow up on my question and provide some more details. I'm sending data to my own endpoint, and I wrote a configuration JSON file, all requests are POST. I tried to update to GET requests, and the problem I mentioned above is gone. Is the format to config for GET and POST request different? Thanks.

[2019-05-08 18:09] zhouyx commented on #22156
@xiao-lix  Thank you for reporting. This sounds like a bug to me. We will take a look. When you say the issue goes away after switching from POST to GET. Could you please provide us with the configuration change. Thank you. cc @ampproject/wg-analytics

[2019-05-08 18:11] zhouyx opened #22197 "Support passing consent string in outgoing request"
Similar to `CONSENT_STATE`. Introduce a macro to pass consent string in the outgoing analytics/rtc request.

to @torch2424 @zhouyx

[2019-05-08 18:13] choumx commented on #21053
Related to #18921.

I think the confusion is the difference in behavior between input and textarea. As Carlos mentions, the default value of input fields is updated when `[value]` binding is applied.

To replicate this behavior for textarea, we'll need to set its `textContent`. The problem with doing that is setting `textContent` removes focus: https://github.com/ampproject/amphtml/blob/ae9ee68c0a

[2019-05-08 18:14] choumx commented on #21053
In the meantime, the workaround above should suffice.

[2019-05-08 18:16] rsimha opened #22198 "Make sure bundle size checks are run for all push builds"
I've seen the odd instance where a Travis push build fails the first stage, and causes problems for all subsequent PRs based on that SHA.

In this example, a PR appears unrelated to validator, so we skipped validator checks during the PR build. It then failed the validator checks during the push build. See https://travis-ci.org/ampproject/amphtml/builds/529555940. This caused a "couldn't find the

[2019-05-08 18:27] torch2424 commented on #22184
cc @curseagain For the `amp-ima-video` side of things 😄

[2019-05-08 18:38] lannka commented on #22052
@Gregable good thinking about the privacy model. Probably that's [why FF disabled the feature ](https://bugzilla.mozilla.org/show_bug.cgi?id=415168) before they can come up with a good UI to inform user about the extra network request.

[2019-05-08 18:47] xiao-lix commented on #22156
@zhouyx sure, the config files are basically identical. Here's the config file:

**POST**
[code]
**User's side**
[code]
**GET**
[code]
**User's side**
[code]
Please let me know if you need other info. Thanks.

[2019-05-08 19:01] #21706 closed

[2019-05-08 19:16] Gregable commented on #22010
Tracked as a Google product issue in b/132270710. I don't have any updates for you, but will update this thread if there are any.

[2019-05-08 19:18] jgluk commented on #22010
Do you get any errors or HTTP response codes as a result of trying this link? Can you describe more what is not working?

Also, putting the exact link is not as helpful because it contains a signature that expires quickly. Clicking on it now, the link no longer works. It's more helpful to copy any of the errors you encounter.

[2019-05-08 19:28] aghassemi commented on #22184
Both iOS and Android native players have this feature. iOS is 15s buttons. Android has double tap.

[2019-05-08 19:46] PilarDCV opened #22201 "AMP forms incompatible with IE 11"
## What's the issue?

Form submission is failing on IE11 with the following error:
Response must contain the AMP-Access-Control-Allow-Source-Origin header
Form submission failed: Error: Response must contain the AMP-Access-Control-Allow-Source-Origin header

The forms used to work before with same code without any errors. All forms are not working now and getting the same error.

All of sudden I a

[2019-05-08 20:07] lannka commented on #21929
Ads WG update: https://github.com/ampproject/wg-ads/issues/7
Analytics WG update: https://github.com/ampproject/wg-analytics/issues/7

[2019-05-08 20:19] mdmower commented on #22180
I let @calebcordry know about a bug in #22137 (see comments there). Please make sure it is either fixed or reverted before 1905071607430 is pushed to production.

[2019-05-08 21:00] twifkak commented on #20848
cc @ampproject/wg-caching

[2019-05-08 21:01] twifkak commented on #20848
see also: https://github.com/dtapuska/documentaccess

[2019-05-08 21:33] pithcell opened #22204 "Dark theme for page attachment"
Feature request: amp-story-page-attachment header should have dark mode or the color of the header should be configurable.

[2019-05-08 21:45] jpettitt commented on #22123
See https://github.com/ampproject/amp-toolbox/tree/master/packages/optimizer

[2019-05-08 21:51] jpettitt commented on #22123
See also https://docs.google.com/document/d/1oqnjA5KcUP7bHpz_HCtUTBH2jiqry65zGrpAUie1tHw/

[2019-05-08 21:51] #21984 closed

[2019-05-08 22:08] twifkak commented on #20848
Quick note that "iframe origin can never be the same as the cache origin" is not true; redirect can evade that too. But cache prevents that resource from being too much of a problem for the unsigned case.

[2019-05-08 22:21] rsimha commented on #21545
@zombifier this is still blocking PR checks.
[code]
Can you skip this until it's more stable?

[2019-05-08 22:42] diantekyrie opened #22209 "Uncaught Error: unknown animation type: must have "animation", "animations" or "keyframes" field"
## What's the issue?
Uncaught Error: unknown animation type: must have "animation", "animations" or "keyframes" field

Briefly describe the bug.
Error message displays unknown animation type: must have "animation", "animations" or "keyframes"
## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing

[2019-05-08 22:42] choumx commented on #22113
Reopening since the PM is unfinished.

[2019-05-08 23:50] alanorozco commented on #22209
1. Not analytics.
2. Not reproduceable.
3. User-level error.

[2019-05-08 23:50] #22209 closed

[2019-05-09 01:00] torch2424 commented on #22204
Triaging to @newmuis , Feel free to re-assign 😄

[2019-05-09 01:01] torch2424 commented on #22201
cc @cvializ 😄

[2019-05-09 01:06] torch2424 commented on #22193
Hello! Thanks for trying out AMP reCAPTCHA 😄

Please see our [Handling CORS in AMP](https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cors-requests?format=websites) documentation. This is how AMP handles CORS requests from a server.

For a quick example, [please see our glitch endpoint in `server.js`](https://glitch.com/edit/#!/torch2424-amp-glitch-express) that we a

[2019-05-09 01:07] torch2424 commented on #22179
I think this is a storied bug? @newmuis 😄

[2019-05-09 01:07] torch2424 commented on #22152
cc @sebastianbenz Could you triage this? 😄

[2019-05-09 01:09] torch2424 commented on #22103
Thanks @ithinkihaveacat ! 😄

@sagart30

I'll go ahead and close this issue, please feel free to continue this on the issue opened by @ithinkihaveacat , or if you have more concenrs feel this issue should still be open, feel free to re-open 😄

Thanks everyone! 😄

[2019-05-09 01:09] #22103 closed

[2019-05-09 01:26] #21626 closed

[2019-05-09 01:31] zombifier commented on #21545
#22165 is ready; since it doesn't look like it's improving you can merge it.

[2019-05-09 04:16] newmuis commented on #22204
/cc @hongwei1990

[2019-05-09 04:19] mwakkiy commented on #21835
@lannka
OK. Please add "s.yimg.jp" domain to the whitelist.
This is Yahoo! JAPAN's production domain.

Sample file:
https://s.yimg.jp/bdv/yahoo/tmp/ad_test002.html

[2019-05-09 05:05] hongwei1990 commented on #22204
We already have the design of dark theme attachment! Gabriel should have my spec :)

[2019-05-09 06:18] Suranga-Aluthgamage commented on #21739
Hi Guys

This is to inform you guys that the initial issue has been fixed and now the initial image is loading fine.

I think with the latest release. Really appreciate your service!

Thanks and Regards

Suranga

From: suranga@hansadiamonds.com <suranga@hansadiamonds.com>
Sent: Tuesday, April 30, 2019 10:35 PM
To: 'ampproject/amphtml' <reply@reply.github.com>; 'ampproject/amphtml' <amphtml@noreply

[2019-05-09 08:32] ChristofRemeysen opened #22212 "AMP - Google Search Console"
Hi AMP team,

We have implemented Google Analytics tracking for our AMP pages, following your documentation guidelines: https://developers.google.com/analytics/devguides/collection/amp-analytics/

Next, we have set up Google Search Console, and linked it to our Google Analytics property.

If we take a look at the Google Search Console report in Google Analytics, we notice that:
(1) No impressions

[2019-05-09 09:33] sebastianbenz commented on #22152
Everything looks OK now. Is it possible that you accidentally broke something around 6 days ago, which is now reverted?

It works on the cache: https://www-ilmeteo-it.cdn.ampproject.org/c/s/www.ilmeteo.it/notizie/meteo-diretta-video-le-previsioni-per-sabato-4-maggio/amp.

Google AMP Tester accepts it as well: https://search.google.com/test/amp?id=iclC3L72eu7fVd_krqnSDw

Google search for 'meteo-di

[2019-05-09 09:33] #22152 closed

[2019-05-09 13:25] newmuis commented on #22204
/cc @gmajoulet

[2019-05-09 13:58] gmajoulet commented on #22204
Sounds good :)
So Hong, you want us to go with the "dark theme" mode that you designed, not a publisher configurable color?

[2019-05-09 14:00] hongwei1990 commented on #22204
Ah! So as our system default. We will offer white and dark two themes.
Regarding open it up let s Alain with Jon and Vinay ：）

*From: *Gabriel Majoulet <notifications@github.com>
*Date: *Thu, May 9, 2019 at 6:58 AM
*To: *ampproject/amphtml
*Cc: *hongwei1990, Mention

Sounds good :)

[2019-05-09 14:06] cvializ commented on #22201
Hi @PilarDCV thanks for reporting what you're experiencing. I checked some other documents that use amp-form in IE11 and it looks like it's working as far as I can tell. Let me know if you find that [the amp-form demos](https://amp.dev/documentation/examples/components/amp-form/) aren't working in the IE11 browser.

Can you share a link to a document where this is occurring? If not, can you share

[2019-05-09 15:15] PilarDCV commented on #22201
Hi **@cvializ** thanks for replying. No changes were made recently in the backend. The forms used to work before with same code without any errors. All forms are not working now and getting the same error.
I share screenshot of the console.

![ie](https://user-images.githubusercontent.com/42724439/57464753-a3f36480-7253-11e9-97af-5d93c75ae8ad.png)

[2019-05-09 15:29] alanorozco commented on #22184
I'm guessing this request is more for the 3p side of things, for which we can only control `ima`.

[2019-05-09 15:42] cvializ commented on #22201
Thanks for that screenshot, but the `Network` tab (`Red` tab in your screenshot) would be more helpful, with the request headers shown in the side panel.

<img width="981" alt="Screen Shot 2019-05-09 at 11 41 10" src="https://user-images.githubusercontent.com/2363700/57466871-6f7da980-724f-11e9-8cd9-a16f20c2a179.png">

[2019-05-09 16:11] choumx commented on #21509
The change has been submitted for AMP Cache and will be rolled out shortly.

[2019-05-09 16:11] #21509 closed

[2019-05-09 16:20] Stefany93 opened #22214 "Is recaptcha still experimental?"
Here https://amp.dev/documentation/components/amp-recaptcha-input?format=websites It says it is still experimental. On a Stack Overflow post they said it was no longer experimental.

Also, any tutorials on how to implement it ? (server and front end)

Thanks!

[2019-05-09 16:27] eschow opened #22215 "Enable unique key value for AMP Ad Refresh"
## Describe the new feature or change to an existing feature you'd like to see

I'd like to see the ability to enable a unique key value for ad refresh v. non-refresh. This would help with track initial load v. refresh.

## Describe alternatives you've considered

N/A

## Additional context

Related: #13471 , but not necessarily thinking about a dynamic solution (yet).

[2019-05-09 16:36] calebcordry opened #22217 "🐛Analytics vars refactor breaks shadow dom"
In my refactor #22137 to move variable service to the document level shadow root was not handled correctly. This causes amp analytics in shadow mode to throw and not send analytics pings.

Plan to fix this, and hopefully prevent similar issues in the future:
- [x] Revert #22137
- [x] Add support for shadow root testing in integration tests
- [x] Create shadow root test for amp-analytics
- [ ] Reim

[2019-05-09 16:42] calebcordry commented on #22180
Filed issue #22217. Cherry pick request to add revert coming shortly.

[2019-05-09 16:42] calebcordry commented on #22217
cc/ @mattwomple

[2019-05-09 16:50] calebcordry opened #22219 "🌸 Cherry-pick request for #22218 into #22180 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #22217 | #22218 | **NO** | **YES** | #22180 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteria

[2019-05-09 17:25] PilarDCV commented on #22201
When clicking on the "submit" button, the form isn't sent and it doesn't redirect me to the error url.
This is the screenshot of the tab network.

![Screenshot from 2019-05-09 13-16-04](https://user-images.githubusercontent.com/42724439/57473470-44eb1b00-7266-11e9-86d2-3a8a0bd0888f.png)

[2019-05-09 17:32] cramforce commented on #22219
Approved

[2019-05-09 17:35] cvializ commented on #22201
Thank you, that helps. It looks like the response is missing the `AMP-Access-Control-Allow-Source-Origin` header, so I believe the backend response code might have changed. The form is sent, but AMP is not accepting the response to render the result because the response is missing the required headers. The form does not redirect to an error URL because AMP forms use AJAX and no redirect is require

[2019-05-09 17:47] #21053 closed

[2019-05-09 17:50] dvoytenko opened #22220 "Remove fixed transfer from iOS 12.2 and up"
The "jumping" fixed issues have been reportedly fixed. We will start an experiment with the goal of removing transfer layer.

[2019-05-09 18:15] PilarDCV commented on #22201
But the form works correctly in the other browsers.
Ex: Chrome

![Screenshot from 2019-05-09 14-51-49-2](https://user-images.githubusercontent.com/42724439/57476527-2fc5ba80-726d-11e9-804b-a950aab4a8ae.png)

On the server side there is nothing that changes according to the browser with which they access

[2019-05-09 18:26] diantekyrie opened #22222 "Unable to scroll on page"
## What's the issue?
Unable to scroll on page

Briefly describe the bug.
Unable to scroll on page after being able to previously scroll

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing the issue:

1. Go to https://m.aliexpress.com/item

[2019-05-09 18:27] cvializ commented on #22201
Can you share some markup from the form to help me reproduce?

[2019-05-09 19:06] aghassemi commented on #22222
Does this happen on real devices (Android and iOS) or just similator in chrome Dev tools?

[2019-05-09 19:22] aghassemi commented on #22222
I can't repro on real devices, but I think I know what's going on. This only happens if mouse down for scrolling happens inside the long `amp-iframe` AliExpress is including for product description.

@leonalicious I believe this is an issue with the page inside that `iframe` preventing scrolling via mouse (maybe a `mousemove)` ( but not a `touchmove`) is doing `preventDefault`? ). Could you please

[2019-05-09 19:30] aghassemi commented on #22222
(this could be a Chrome DevTools bug with iframes as well)

[2019-05-09 19:41] aghassemi commented on #22222
definitely a Chrome Devtools bug. Can repro in non-AMP easily with any iframes. will try to find a Chromium bug or file here.

[2019-05-09 20:00] jpettitt commented on #21395
FYI this is now live in the canary release (enable dev channel at https://cdn.ampproject.org/experiments.html)

[2019-05-09 20:17] aghassemi commented on #22222
https://bugs.chromium.org/p/chromium/issues/detail?id=961426

[2019-05-09 20:18] aghassemi commented on #22222
I am going to close this as a Chrome bug.

[2019-05-09 20:18] #22222 closed

[2019-05-09 22:59] IamAlta opened #22230 "amp-list Documentation page example throws a layout error"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2019-05-09 23:04] IamAlta commented on #22230
Never mind - it does work. Complex page threw me off. Sorry.

[2019-05-10 00:01] jerimiahwelch commented on #18958
We would love to be able to reuse <use> tags in our amp-lists as well.

[2019-05-10 00:14] belobrad commented on #19982
Using [src] binding would require a round-trip data to the server and back to update the 2nd calendar, right? i.e. we have 2 calendars and need to update the startDate parameter in the 2nd calendar based on the value selected in the first calendar (each calendar is in it's own lightbox and they open independently.) Is there a way to do this within the amp page itself?

[2019-05-10 00:19] belobrad commented on #20020
It has been couple of months, any update on where this might be on the priority list?

[2019-05-10 08:44] Jessman5 opened #22237 "AMP-form textarea validation visible class not triggered for [visible-when-invalid]"
## What's the issue?

I have issues with showing the [visible-when-invalid] notification for a required textarea.
AMP html is valid and AMP-form module is included.

## How do we reproduce the issue?

this is my code
[code]

I know that validation for textareas is quite hacky atm.. Though, in my understanding, it is supposed to show foo when I submit the form with an empty textarea. But it doesn't

[2019-05-10 10:24] newmuis commented on #22179
Hi @danilomasato, can you share an example story that has this issue?

[2019-05-10 11:54] melskii opened #22238 "amp-date-picker: add an offset to the [max] date when it's based off the selected date of another date-picker's date"
I'd like to set the `[max]` date on one `amp-date-picker` based on another's value but with an offset of `n` days like you can with the `date-picker.today` and `date-picker.startToday` functions.

So when I select the 1st May 2019 on one date-picker, I expect it to set the max value of the other date-picker to 29th May 2019 with an offset of 28 days.

I've attempted setting `maximum-nights` with a

[2019-05-10 13:46] cvializ commented on #19982
amp-list allows binding amp-bind state objects using its `[src]` attribute, but amp-date-picker does not support this yet, so yes a round trip would be needed for now. This issue can remain open to track that feature request

[2019-05-10 14:07] huanghuiquan opened #22239 "amp.validator.validateUrlAndLog is not a function"
## What's the issue?

Hello, I built validator manual by run `gulp validator`, and got a validator_minified.js.

Proxy `https://cdn.ampproject.org/v0/validator.js` -> `validator/dist/validator_minified.js`,  and then use #development=1, but got error `amp.validator.validateUrlAndLog is not a function`.

[2019-05-10 14:20] #17950 closed

[2019-05-10 15:29] peterquale opened #22241 "Auto-Select "Featured Snippet" on AMP landing page"
## Describe the new feature or change to an existing feature you'd like to see

The AMP feature that automatically highlights the featured snippet in each AMP page and scrolls to the snippet on load is very useful to sighted users. When the page loads using TalkBack, the user is not read the snippet, but they hear "scrolled to section" then the page title. An excellent added feature would be immed

[2019-05-10 16:32] IamAlta commented on #22230
I closed this because there were multiple amp-lists on the page and another one was throwing the error, not the one indicated in this post.

[2019-05-10 16:32] #22230 closed

[2019-05-10 16:32] lannka commented on #21377
@ifatgv4 FYI we're priortizing this feature in the coming sprint

[2019-05-10 16:48] dvoytenko opened #22243 "Reimplement global window scrollTo for Find in Page polyfills in iOS embedded case"
The `element.scrollTo(x-coord, y-coord)` (https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollTo) needs to be patched on iOS embedded viewport to allow improved Find in Page.

[2019-05-10 17:38] philkrie commented on #7607
Bumping this, get this request a lot. Seems like something that should be supported, especially since the amp-form documentation states that "All other form attributes are optional.", without explaining that some just don't work. That's probably caused a lot of frustration.

[2019-05-10 17:41] rudygalfi commented on #7607
cc @nainar Can you take a fresh look at prioritization?

[2019-05-10 17:45] mrjoro opened #22245 "Design Review 2019-05-29 20:00 UTC (wg-outreach, AMP CORS deprecation, monthly releases)"
Time: [2019-05-29 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=05&day=29&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190529T200000Z/20190529T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-05-10 17:45] mrjoro opened #22246 "Design Review 2019-06-06 00:00 UTC (Asia/Oceania)"
Time: [2019-06-06 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=06&day=06&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190606T000000Z/20190606T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-05-10 17:45] mrjoro opened #22247 "Design Review 2019-06-12 15:30 UTC (wg-runtime, Cloudinary extension, localStorage for experiments)"
Time: [2019-06-12 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=06&day=12&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20190612T153000Z/20190612T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP Project holds

[2019-05-10 17:46] cvializ commented on #21929
- Consider separate variable substitution macro for polling vs immediate
- Is there much demand for polling in analytics?
- Is it possible to get the country information from `navigator.geolocation`?
  - No the API does not expose that
- Is there a privacy messaging issue with the JSON fallback value after user "Denies" location?
  - It shouldn't be a concern since existing components use fallback

[2019-05-10 17:59] mrjoro commented on #22245
The Outreach Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @pbakaus @ampproject/wg-outreach

[2019-05-10 18:00] mrjoro commented on #22246
The Performance Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @kristoferbaxter @ampproject/wg-performance

[2019-05-10 18:00] metawise commented on #21047
Wondering what happened to this? I would be great if they put passive listener!

[2019-05-10 18:01] mrjoro commented on #22247
The Runtime Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @jridgewell @ampproject/wg-runtime

[2019-05-10 18:29] sparhami commented on #21047
Will take another look at getting this in.

[2019-05-10 18:54] PilarDCV commented on #22201
Unfortunately I can't share the link : (
The information I can add is that the website is a wordpress with a theme developed in AMP (It doesn't use AMP plugin) and that the forms worked perfectly until very recently and from one moment to another they stopped working only in IE11.

[2019-05-10 18:57] cvializ commented on #22201
I'm sorry to hear that but without more information like anonymized HTML used to make the form I can't effectively reproduce the problem.

[2019-05-10 19:02] #21929 closed

[2019-05-10 20:22] lannka opened #22251 "Sticky ads are covered by iPhone X menu button"
<img width="341" alt="Screen Shot 2019-05-10 at 1 19 36 PM" src="https://user-images.githubusercontent.com/8496897/57554437-48de7200-7326-11e9-9564-a608fa989c22.png">

We plan to detect iPhone X client side and add extra paddings at the bottom. It will look like:

<img width="679" alt="Screen Shot 2019-05-10 at 1 20 51 PM" src="https://user-images.githubusercontent.com/8496897/57554496-76c3b680-73

[2019-05-10 20:46] lannka commented on #22251
The added padding should not be counted into current 100px max height limit.

[2019-05-10 20:53] #21718 closed

[2019-05-10 21:13] fstanis opened #22253 "amp-script: Add a way to preventDefault for events"
## Describe the new feature or change to an existing feature you'd like to see

It would be good to have a way to prevent the default behavior when using events such as `tap` (for example, link opens). This would be equivalent to `event.preventDefault()` in JavaScript.

I propose having a `preventDefault` action that can be added, separated with a comma, like any other action, e.g. `<a href="/" on

[2019-05-10 21:37] choumx commented on #22253
This is also useful for `amp-script` since there's no way to call `preventDefault` from the web worker.

[2019-05-10 21:38] #20938 closed

[2019-05-10 22:53] #18934 closed

[2019-05-11 17:19] anshulagl commented on #20209
It seems that in the example posted in the issue description, you should be able to embed "store.google.com" inside the page attachment. The documentation however says that the html for the page attachment should be inline with amp story html.

Is embedding a website in page attachment still supported? If not, are there any plans to do that?

[2019-05-11 21:51] jaygray0919 commented on #4343
@Gregable we would like to put a button in an SVG that opens an `amp-lightbox`. To do this we will need to use SVG  [foreignObject](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject). We would use the container structure described above by @tigt . My two questions:
1. is `foreignObject` valid amp-svg?
2. can we link a `foreignObject` button to amp-lightbox?

Here is the use ca

[2019-05-12 09:01] seomaz opened #22260 "amp-brid dont work"
The amp-brid not work [example](https://amp.dev/documentation/examples/components/amp-brid-player/?referrer=ampbyexample.com)

The player does not render, thumbnail 404 error.

[2019-05-12 20:57] IamAlta commented on #13676
Has this been resolved?
If so, is there an example on the amp website?
Thanks!

[2019-05-13 09:42] sebastianbenz commented on #18995
Another use case via the AMP Slack:

<img width="761" alt="Screen Shot 2019-05-13 at 11 42 03" src="https://user-images.githubusercontent.com/380472/57611939-2fcb0080-7574-11e9-808a-c66d9f35aabe.png">

[2019-05-13 13:25] huanghuiquan commented on #22239
Anyone can help ？I think it should add `amp.validator.validateUrlAndLog` to entry points.

[2019-05-13 13:53] coreybyrnes commented on #21414
@lannka @keithwrightbos Any update here? We have site teams asking on the regular. Thanks!

[2019-05-13 15:26] dianomi-mjs commented on #19951
Hi

Sorry to update with further questions - in order for publishers to deploy template ads on their site, do they need to add the following to their header?

<script async custom-element="amp-ad-custom" src="https://cdn.ampproject.org/v0/amp-ad-custom-0.1.js"></script>

If so do they need to specify the version or is there a better way?  Or maybe this will become standard rather than an extension

[2019-05-13 15:42] ilkxeren commented on #2745
+1 on this! Much needed. (necessary) tables on mobile are the worst.

[2019-05-13 15:44] lannka opened #22264 "Template ads should remove <link> preload"
eg https://www.dianomi.com/mjs/amp/ccn.epl

[code]

This does not affect ads rendering, but the error message in the console can be annoying. It was caused by the unnecessary preload `<link>` tag in the `<head>`.

This can be solved once the template ads cache logic is cleaned up.

/cc @Gregable

[2019-05-13 15:48] lannka commented on #19951
@dianomi-mjs hi Michael, yes like any other AMP components, pub needs to include the amp-ad-custom script in the head with its version number.

The console errors are known issues #22264 #17997 , it's safe to ignore them.

[2019-05-13 15:58] prateekbh commented on #22113
@choumx can we close this now?

[2019-05-13 16:17] newmuis commented on #17843
We've found that CSS filters are too slow, so I don't think we'll be providing this.  The automated background image is also no longer applied.

[2019-05-13 16:17] #17843 closed

[2019-05-13 17:48] #22243 closed

[2019-05-13 17:52] newmuis commented on #12170
I think we've actually gotten to the point where we don't believe we will need this anymore.  The proposed alternative would be to specify blurry images and be able to render the initial viewport of the document without any other external resources (besides v0.js, amp-story-1.0.js, amp.css, etc. which all would have also been required to do the splash screen described here).

[2019-05-13 17:52] #12170 closed

[2019-05-13 17:59] sparhami commented on #21500
@nitzanj There are a few questions the wider AMP team may have that we should answer about this extension before launching this. I think a design review would be a great format to make sure we have everyone on board.

Take a look at the up coming design review dates here: https://github.com/ampproject/amphtml/labels/Type%3A%20Design%20Review and add a comment to one of them that works for you that

[2019-05-13 18:05] newmuis commented on #13579
Updated with a more comprehensive list.  I think this is something we should start on soon.

[2019-05-13 18:06] newmuis commented on #13470
Since every viewer will need to implement this independently, tracking this bug here might not make sense.  I have communicated this to folks at Google, who can track the implementation of this for each Google property independently.

[2019-05-13 18:06] #13470 closed

[2019-05-13 18:12] sparhami commented on #21500
One concern that came up is that, because this does not use `<amp-img>`, images rendered with this extension will not work with `<amp-lightbox-gallery>`. Regardless of how e proceed, we should make sure that lightbox functionality works.

[2019-05-13 18:57] Stefany93 commented on #22214
guys?

[2019-05-13 18:58] jridgewell commented on #4343
Yup

No, it's still forbidden.

No, per above. Why can't the button be outside of svg?

[2019-05-13 19:08] kristoferbaxter commented on #21500
I too share the concerns brought up by Malte and Sepand. This could make it more difficult to pre-render parts of a document for caches.

Is there a reason we need to express these features in client-side code instead of using a server based approach for declaration?

These transformations could happen on the various `srcset` sizes in a server API driven design I believe. Is there something unique

[2019-05-13 19:15] westonruter opened #22265 "[amp-bind] Escaped characters in amp-state strings fail to be decoded"
According to [docs](https://amp.dev/documentation/components/amp-bind#state), `amp-state` is populated with JSON data.

Nevertheless, we've seen reports in the AMP WordPress plugin where valid JSON that includes Unicode-escaped characters fail (or any escaped characters) to be decoded in AMP:

* https://github.com/ampproject/amp-wp/issues/2286:

* https://github.com/ampproject/amp-wp/issues/1791:

[2019-05-13 20:11] newmuis commented on #18470
This background has been deprecated.

[2019-05-13 20:11] #18470 closed

[2019-05-13 20:12] newmuis commented on #18624
This is being implemented right now as #21714!

[2019-05-13 20:12] #18624 closed

[2019-05-13 20:15] danielrozenberg commented on #21952
Was implemented in #22091

[2019-05-13 20:15] #21952 closed

[2019-05-13 20:20] danielrozenberg commented on #21056
Looking at pull requests on Travis over the past 5 days, I believe this is now fixed. Feel free to reopen if you encounter these again

[2019-05-13 20:20] #21056 closed

[2019-05-13 20:20] newmuis commented on #15146
We decided to go the other way and drop support for the background, since it can't reliably be supported cross-browser yet (in a performant way).

[2019-05-13 20:20] #15146 closed

[2019-05-13 20:21] newmuis commented on #15515
This will be fixed by #22140.

[2019-05-13 20:30] newmuis commented on #19579
This was resolved in #21616.

[2019-05-13 20:30] #19579 closed

[2019-05-13 20:37] newmuis commented on #15091
The other way to go about this is to implement our own captions by parsing the VTT and rendering the captions ourselves (see https://www.w3.org/wiki/VTT_Concepts#Text_tracks_and_audio for a simplistic example).  This would also allow more advanced captions features like showing the active word or seeking to specific timestamps by caption.

[2019-05-13 20:55] newmuis commented on #21981
Added to the master list in #13579.

[2019-05-13 20:55] #21981 closed

[2019-05-13 21:03] newmuis commented on #21380
/cc @hongwei1990 for suggestions on what we would ideally implement here

[2019-05-13 21:05] newmuis commented on #21491
Whoops; those have both been merged for several weeks, but I forgot to close this 😅

Let me know if there are any issues!

[2019-05-13 21:05] #21491 closed

[2019-05-13 21:05] estherkim opened #22270 "Allow E2E tests to check network requests"
Create API method in selenium-webdriver-controller to expose network requests similar to Puppeteer - https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-request

Use case: e2e tests for amp-analytics

[2019-05-13 21:09] estherkim opened #22271 "Fix flaky E2E test that prematurely kills entire test job"
Error seen here - https://travis-ci.org/ampproject/amphtml/jobs/531973468#L1559

[code]

[2019-05-13 23:09] #22198 closed

[2019-05-13 23:46] honeybadgerdontcare commented on #22239
`amp.validator.validateUrlAndLog` is called by https://github.com/ampproject/amphtml/blob/master/src/validator-integration.js

You want to use `validateString` instead via console. There is also the chrome/opera [extension](https://chrome.google.com/webstore/detail/amp-validator/nmoffdblmcmgeicmolmhobpoocbbmknc) and [WebUI](https://validator.amp.dev/)

[2019-05-13 23:48] westonruter commented on #17863
Possibly related: #22265.

[2019-05-13 23:48] lannka commented on #21835
@mwakkiy FYI, this is live:

https://s-yimg-jp.cdn.ampproject.org/ad/s/s.yimg.jp/bdv/yahoo/tmp/ad_test002.html

let me know if you have other questions.

[2019-05-13 23:52] honeybadgerdontcare commented on #22018
@samparnell I noticed running `curl http://civileats.com/2019/04/24/fast-food-workers-can-be-fired-for-no-reason-a-new-bill-could-change-that/amp/` serves up a page where `amp-web-push` has `http` instead of `https` as protocols. Could the issue be server side?

[2019-05-13 23:52] #21377 closed

[2019-05-13 23:53] lannka commented on #21377
@ifatgv4 FYI, the change is merged and you will be able to test on the next canary build (tomorrow)

[2019-05-14 00:00] hongwei1990 commented on #21380
The background color value on default desktop is #202125 which is more like a dark, dark gray. It is not pure black so black content from the page should be assessable. Open to configure the background color creates a new problem. For instance, the accessibility of the system layer (progress bar, share icon, etc.) will face risk when the background color is too bright or too light.

[2019-05-14 00:40] newmuis commented on #20227
I think we should try reimplementing the progress bar animation either (a) without `requestAnimationFrame`, or (b) only with `requestAnimationFrame` and no `transition`, and see if this helps.

[2019-05-14 00:41] newmuis commented on #21746
The question here is whether we can do this without breaking cookies in the embedded document, but I think that needs further investigation.

But, it's pretty clear that it's the best UX, if we're able to achieve it technically.

[2019-05-14 00:45] newmuis commented on #11754
Closing this, since it can be worked around on the publisher side, since they have knowledge of whether or not the story is `standalone`.

Feel free to re-open if you feel the need is not adequately addressed.

[2019-05-14 00:45] #11754 closed

[2019-05-14 01:11] mwakkiy commented on #21835
@lannka
Thank you very much.

[2019-05-14 01:11] #21835 closed

[2019-05-14 01:32] rsimha opened #22277 "Incorrect typedefs in `ads/google/imaVideo.js`"
- The following typedefs in `ads/google/imaVideo.js` are invalid because they are missing curly braces around the `Element` typename.
- When curly braces are added, the presubmit rule that requires the use of `dev().assertElement()` instead of `/** @type {!Element} */` kicks in.
- When `dev().assertElement()` is used, we see test failures due to `videoPlayer` not actually being an `Element`.

**Te

[2019-05-14 02:41] rsimha commented on #22277
/to the UI team for triage @aghassemi @torch2424 @alanorozco

[2019-05-14 06:55] ithinkihaveacat commented on #21714
FYI there are some issues with amp-live-list getting timely update on some caches, see e.g. the Google internal b/124009333.

[2019-05-14 07:35] ifatgv4 commented on #21377
@lannka, thank you very much!

[2019-05-14 08:20] cr-solutions commented on #22010
Since Yesterday it works again without changes on our side!

[2019-05-14 08:20] #22010 closed

[2019-05-14 08:47] yogykwan opened #22278 "I2I: amp-google-thanks"
## Summary
[Thanks](https://docs.google.com/presentation/d/1Tyxgza6hL_cSvCSi0HEmaYRCm7_3N2sOmHZBM2AHOog/edit#slide=id.g508442b524_0_34) is a product that allows users to appreciate content that sparks joy by making a small contribution.
The goal of AMP with Thanks is to create an AMP extension for Thanks which could allow users of 3P AMP websites (e.g. Wordpress with AMP) to contribute to the cont

[2019-05-14 09:37] sebastianbenz commented on #4343
@jaygray0919 AMP actions work inside svgs so you might not need a button:

[code]

See also https://amp.dev/documentation/examples/interactivity-dynamic-content/seatmap/preview/?referrer=ampbyexample.com

[2019-05-14 10:03] dianomi-mjs commented on #19951
Hi @lannka

Thanks - our first publisher has told us that the page doesn't validate when they include the tag, and the ads are blank.

Here's my version

https://www.dianomi.com/mjs/amp/ccn.epl

and indeed the validator isn't happy

https://validator.ampproject.org/#url=https%3A%2F%2Fwww.dianomi.com%2Fmjs%2Famp%2Fccn.epl

and also

https://search.google.com/test/amp?id=dXcA4ulve9eyXahnlK3tJg

Spec

[2019-05-14 10:36] huanghuiquan commented on #22239
@honeybadgerdontcare But why amp validator.js  https://cdn.ampproject.org/v0/validator.js has `amp.validator.validateUrlAndLog`, how they built it?

[2019-05-14 12:09] jaygray0919 commented on #4343
@sebastianbenz perfect (why didn't i think of that ...). @jridgewell The 'action' (the button) cannot be outside the SVG because it performs the role of a tool-tip. The tool-tip needs to be adjacent to the SVG object that 'needs spailin' (needs additional information). Thank you @sebastianbenz

[2019-05-14 13:22] keithwrightbos commented on #21414
Apologies for the delay, I didn't realize this was assigned to me.  On non-AMP pages via GPT we don't resize the iframe on orientation change as there is no way to ensure the creative within will respond "correctly" to the change.  You could force the width by setting CSS amp-ad > iframe { min-width: 100% } on the page (same for min-height depending on your container).  If you're looking for flyin

[2019-05-14 13:24] myupchar commented on #15584
I am also interested as lack of it has really dropped our user registration numbers

[2019-05-14 13:45] coreybyrnes commented on #21414
@keithwrightbos Thanks for the reply! I'll try min-width. The thought was since I'm not explicitly setting a width and height on the amp-ad, but instead using the data-overrides would not constrict the iframe's dimensions.

I have indeed tried the flying-carpet... I was try to make it work for about 1.5yrs. ;) In the end after fixing bugs and making mods it wouldn't work because sites want an over

[2019-05-14 13:57] dylanfpaul opened #22279 "amp-recaptcha-input and SSR: ('TypeError: Cannot read property 'message' of null')?"
## What's the issue?

When clicking the submit button of a form that has an amp-recaptcha-input component, I get the error "TypeError: Cannot read property 'message' of null
    at recaptcha.js:159".

Looking into the code of recaptcha.js where the error was being thrown, I noticed that the function it was inside of is taking the window object possibly as a parameter:

[code]

Could this possibly

[2019-05-14 14:25] keithwrightbos commented on #21414
@lannka to respond to flying-carpet proposal.  Let me know if min-width works, thanks!

[2019-05-14 14:33] Enriqe commented on #21714
Thanks for the heads up @ithinkihaveacat 👍

[2019-05-14 14:37] coreybyrnes commented on #21414
@keithwrightbos I think min-width might work! I had to apply an !important to override another more specific amp-ad>iframe, but upon first glance I think it might work. Thanks for that recommendation!

[2019-05-14 14:45] keithwrightbos commented on #21414
Ok be careful that you're not creating an invalid document as I believe AMP disallows !important but for now I'm going to close the issue.  Please reach out if you need more assistance.

[2019-05-14 14:45] #21414 closed

[2019-05-14 14:48] lannka opened #22280 "Add validation rule for amp-ad-custom"

[2019-05-14 14:49] lannka commented on #19951
That was indeed an oversight. Will fix ASAP: #22280
sorry for the back-n-forth

[2019-05-14 15:31] choumx commented on #17614
@sparhami Any progress on this experiment? I'm planning on doing something similar for service-scoping in amp-script and it'd be nice to use this code path.

[2019-05-14 16:01] estherkim opened #22282 "Error: failed to fetch %s [object URL]: HTTP error 404"
Release error for 1% RC version 031905091827220 seen at [go/ampe/CPnw6Y7bqNzSCQ](go/ampe/CPnw6Y7bqNzSCQ)

[code]

Possible duplicate of #20638 and #20937

[2019-05-14 16:08] coreybyrnes commented on #21414
@keithwrightbos  gotcha... I'll simply assign an id to the amp-ad and create specificity that way. Thanks!

[2019-05-14 16:10] aghassemi commented on #22260
@seomaz . What browser/platform are you using? Could you post more details (screenshot, errors in console). It seems to work to work for me on Chrome and Safari on Mac and Chrome on Android

[2019-05-14 16:11] trackonomics commented on #21599
@lannka

Hello, I hope you’re well and the conference went great. Here
at Trackonomics we’re eager to make progress with amp-funnel-relay tag.

I completely understand that you want to reduce the number of tags on AMP in order to ensure a generally high level of quality assurance. Naturally, you need to balance that approach with the fact that publishers that are using AMP have particular tracking

[2019-05-14 16:34] hellokoji commented on #21399
Marking closed with #21909 being merged.

[2019-05-14 16:34] #21399 closed

[2019-05-14 16:47] #22034 closed

[2019-05-14 17:24] rsimha commented on #22277
After debugging, I found that `videoPlayer` does indeed look like an `Element`, but its `nodeType` field is `undefined`, which causes it to fail the `dev().assertElement()` check below.

Any idea why this might be?

https://github.com/ampproject/amphtml/blob/d974c819a4238ef39983af7d8aeb26af1fcbb2dc/src/log.js#L366-L371

[2019-05-14 17:33] honeybadgerdontcare commented on #22239
It's provided via [validator-in-browser.js](https://github.com/ampproject/amphtml/blob/master/validator/engine/validator-in-browser.js)

[2019-05-14 17:33] #22239 closed

[2019-05-14 18:06] DuncanMacWeb opened #22287 "Opt out of AMP cache for clients that don’t support Signed Exchanges"
Is there any way for publishers who wish to benefit from AMP caches where possible, but need their users to only ever see the **original** URLs of their content, and **never** the [AMP cache or AMP viewer URLs](https://blog.amp.dev/2017/02/06/whats-in-an-amp-url/), to **opt out** of AMP caches serving their content to clients which _do not_ support [Signed Exchanges](https://amp.dev/documentation/

[2019-05-14 18:06] sparhami commented on #17614
There may be a few errors it is causing. Here is at least one:

go/ampe//CNmFiNHr6a7EgAE

[code]

The shadow doc is now being returned, and the shadow root does not have `getElementsByTagName`. Before, this code was searching outside of the shadow dom, so it was still wrong, but the failure path is different. I haven't had a chance to look for what are all the errors that may be caused by the chan

[2019-05-14 18:36] #22180 closed

[2019-05-14 18:39] torch2424 commented on #22277
@rsimha So `amp-ima-video` was originally contributed externally, so I am not sure if it should / shouldn't have the `nodeType` field. That being said, the code does a lot of weird things, and I'd be open to adjusting the types on these things 😄

[2019-05-14 18:42] rsimha commented on #22277
SG. In that case, I'll leave the original type annotations for `Element` and temporarily exempt the file from the presubmit check that requires the use of `dev().assertElement`.

Thanks!

[2019-05-14 18:43] torch2424 commented on #22277
@rsimha You're welcome / Thank you! 😄

[2019-05-14 18:52] torch2424 opened #22291 "amp-consent: Cleanup the original 'amp-consent' exeperiment"
We still have a lot of tests and random bits of code that noop when toggling / checking the original `'amp-consent'` experiment (not `'amp-consent-v2'`).

We need to clean this up, and this should become the `cleanUpIssue` that would have been referenced by the config 😄

[2019-05-14 18:52] torch2424 commented on #22291
cc @kristoferbaxter

[2019-05-14 19:03] choumx commented on #17614
Thanks for the update!

[2019-05-14 19:04] estherkim opened #22292 "🚄 Release tracking issue for release 1905140117570"
# Release tracking issue

- [x] Release [1905140117570](https://github.com/ampproject/amphtml/releases/tag/1905140117570) is cut as a new canary release
- [x] Release 1905140117570 pushed to dev channel (7:05 PM, May 14, 2019 UTC-4)
- [x] Release 1905140117570 pushed to 1% (3:22PM, May 15, 2019 UTC-4)
- [x] Release 1905140117570 pushed to production (<CL submit time>)

See the [release documentati

[2019-05-14 19:05] rsimha commented on #14742
@jridgewell Reopening this issue, since we still have a couple dozen warnings for the `amphtml-internal/unused-private-field` rule that are preventing it from being made into an error.

https://travis-ci.org/ampproject/amphtml/jobs/532446854#L316

[2019-05-14 19:06] choumx commented on #22282
Closing as dupe of #20638.

[2019-05-14 19:06] #22282 closed

[2019-05-14 19:06] choumx commented on #20937
Closing as dupe of #20638.

[2019-05-14 19:06] #20937 closed

[2019-05-14 19:10] rsimha commented on #12748
@jridgewell Bumping this issue, since we still have ~50 warnings for the `amphtml-internal/vsync` rule that are preventing it from being made into an error.

https://travis-ci.org/ampproject/amphtml/jobs/532446854#L316

[2019-05-14 20:07] triso07 commented on #22027
@lannka @aghassemi

We've opened a draft pull request here:
https://github.com/ampproject/amphtml/pull/22295

[2019-05-14 20:13] #22260 closed

[2019-05-14 20:14] seomaz commented on #22260
its working now! thanks

[2019-05-14 21:03] #22280 closed

[2019-05-14 21:25] brettdavis13 opened #22297 "AMP4Email: amp-lightbox positioning issue"
## What's the issue?

In Gmail, amp-lightbox uses `position: fixed!important;` and ` top: 0!important` which attaches it to the top of `<iframe id="amp-iframe">`. If the user scrolls down on the email and then triggers the light-box, the light-box will display above the viewport.

## How do we reproduce the issue?

1. Send yourself an AMP email where you have to scroll down to trigger an amp-light

[2019-05-14 21:59] lannka commented on #19951
FYI, the validator fix is in. It will be out in production next week.

[2019-05-14 23:01] AndrewKGuan commented on #17212
So what is the recommended setup for a page with the following constrains:

- must have an iframe, for example, js widgets that are hard/impossible to replicate using AMP

- a separate domain cannot be afforded due various reasons

- the AMP page could be served directly from the origin, for example, amp-as-canonical and other pages on the site points to the hosted amp.

[2019-05-14 23:46] torch2424 commented on #20551
So we got this down to two possible issues:

1. The URL expansion (to fill in variables) is not working, and giving what the endpoint expects.
2. We need to allow setting the name of the Key in the JSON response as the endpoint gives us.

Here is where we check the key: https://github.com/ampproject/amphtml/blob/master/extensions/amp-call-tracking/0.1/amp-call-tracking.js#L88

[2019-05-15 01:05] samparnell commented on #22018
It could be but the validator urls that I posted are all using the https version. Arguably they should be redirecting to https but that may not be feasible for all publishers who may still support http for non-amp pages (they should be doing it everywhere but not all do).

[2019-05-15 01:11] samparnell commented on #22018
Also I'm not sure how that would explain the issue only came up when we have query string params on the url. They don't redirect to the http version or anything like that.

[2019-05-15 01:14] torch2424 commented on #22297
Triaging to @choumx , Feel free to re-assign 😄

[2019-05-15 01:17] torch2424 commented on #22287
Triaging to @Gregable , feel free to re-assign 😄

[2019-05-15 01:19] torch2424 commented on #22241
cc @sebastianbenz @pbakaus

[2019-05-15 01:20] torch2424 commented on #22238
Triaging to @cvializ , feel free to re-assign 😄

[2019-05-15 01:21] torch2424 commented on #22237
Triaging to @cvializ , feel free to re-assign 😄

[2019-05-15 01:21] torch2424 commented on #22215
cc @ampproject/wg-ads

[2019-05-15 01:32] torch2424 commented on #22214
@Stefany93

Hello! Thanks for opening the issue, and for your patience!

Yes, `amp-recaptcha-input` is no longer experimental. Was an error I forgot to remove on my part. So I opened https://github.com/ampproject/amphtml/pull/22307 👍

Here is a good example of implementing things on the frontend: https://amp.dev/documentation/examples/components/amp-recaptcha-input/

And here is the glitch endpoin

[2019-05-15 01:32] torch2424 commented on #22212
cc @jeffjose can you help with this? 😄

[2019-05-15 01:37] #22214 closed

[2019-05-15 01:59] torch2424 commented on #22279
@dylanfpaul

Thank you very much for filing the issue!

So this is quite interesting, as line 159 leads us to: https://github.com/ampproject/amphtml/blob/master/3p/recaptcha.js#L159

So this makes me think that perhaps it's on the reCAPTCHA end of things, and not our implementation. If I may ask, is the recaptcha script being loaded? For Example:

![Screen Shot 2019-05-14 at 6 57 47 PM](https://us

[2019-05-15 05:55] huanghuiquan commented on #22239
@honeybadgerdontcare Thanks, but is there any script or task to build validator-in-browser.js ? I could not  find it.

[2019-05-15 08:50] dritter commented on #15647
Our use case is slightly different from having the opportunity to display a better placeholder. We want to render the final state of the component based on a local state (that is currently only possible with a dummy request, just to trigger re-rendering the component).

To provide some more context:
We have several Microservices, and sometimes have the situation that we have the information for a

[2019-05-15 10:22] marcorroma opened #22312 "anchor link in an AMP"
Hi, I have a problem with AMP.
I need to create an index for an article, in the desktop and mobile version I have no problems with classic anchor code (`<a href="#example">` and `<a name="example">` code), with the AMP version clicking on the anchor link opens a new window.
What is the right code to insert a list with anchor link in an AMP version (also compatible with desktop and mobile version)?

[2019-05-15 12:03] marcorroma commented on #22312
**I have found a solution.** This is my code for Amp and not.
Code:
`<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:vis

[2019-05-15 12:37] anshuman91 commented on #22042
Hello @lannka @calebcordry @keithwrightbos @jeffkaufman,

any update here ?

[2019-05-15 13:52] fstanis commented on #22297
Hi @brettdavis13, could you tell us more on how you're trying to use amp-lightbox in an email? This problem turned out to be difficult to tackle, so seeing some use-cases would help us better understand which approach to take.

[2019-05-15 14:27] gaurav-coverfox commented on #11734
how do i identify active slide using type= carousel, i've to apply certain UI styles to the active slide

[2019-05-15 14:35] cvializ commented on #22238
Thanks for the feature request! This sounds like a good feature to implement and I think it would be low effort.

[2019-05-15 15:49] KarMurri commented on #8765
Hi, i'm presenting this error on my localhost:
GET https://cdn.ampproject.org/amp4ads-v0.js net::ERR_BLOCKED_BY_CLIENT

Any guest? Am I doing something wrong?

[2019-05-15 15:58] Gregable commented on #22287
Hi Duncan,

There is currently no way to indicate that an AMP document should only presented to browsers that accept signed exchanges.

It's an interesting idea. I think you may be the first to raise it. It's somewhat outside the scope of the AMP Project itself, and is rather a specific feature request for an AMP Cache product. As such, I've filed a matching Google AMP Cache issue to track and wil

[2019-05-15 16:30] Ahh42 commented on #17657
@eeriksson
Unfortunately, it's not feasible without support for the Base64 function, which is not available currently.
So I was never able to do the implementation

[2019-05-15 16:58] fstanis commented on #22105
While not exactly a replacement, [Advanced Server Request](https://amp.dev/documentation/examples/interactivity-dynamic-content/advanced_server_request/?format=email) shows how binding to a hidden `amp-form` field can be used to achieve a similar effect.

[2019-05-15 17:05] welkie commented on #22167
Coincidentally, I was learning more about CORS recently and discovered that a POST request from a browser that is of the three whitelisted `Content-Type` values (`application/x-www-form-urlencoded`, `multipart/form-data`, and `text/plain`) without any custom headers does *not* require a CORS preflight request.

Was this a design decision so that beaconing using `<amp-analytics>` would never have t

[2019-05-15 17:08] QES opened #22315 "AMP VALIDATOR custom css size greater than 50,000 for custom CSS that is less than 50,000"
The issue is that the AMP Validator tools when the check the CSS size seem to overestimate the size of the file, I have been checking my CSS and occasionally I go over the 50,000 however quite frequently I check and my CSS is still below 50,000.  In addition, because the Validator doesn't give any feedback on the size of the CSS file until it is too big its hard to track prior to it becoming too b

[2019-05-15 17:38] lannka commented on #22042
@anshuman91 thanks for debugging into this.
I was able to track down the issue and found out that the iframe removal was caused by an unlayout of `amp-embed`, because it has zero height.

The zero height was cause by a `resize` request sent from inside the iframe by some jubna script. In Chrome, the `resize` request has `width=407;height=500`, but for Safari 12.1 the numbers are `width=407;height=

[2019-05-15 17:40] lannka commented on #22042
@keithwrightbos @jeffkaufman  sorry for the noise. I originally thought it was AdSense (many amp-ad type=AdSense on the page) . No further steps needed from your side.

[2019-05-15 18:03] evmar commented on #21828
(I work on JS within Google and have investigated this problem in depth; Googlers can read go/tpl-js .)

In general you cannot compile arbitrary third-party JS in Closure because the code may use patterns that the optimizer eats.  If you are ok with this and only care about errors, I believe the `--hide_warnings_for=<path prefix>` flag actually turns off all error checking in files matching the pa

[2019-05-15 18:20] nainar commented on #22150
Random URL that I see this happening on:

https://deadline.com/2019/05/james-gunn-guardians-of-the-galaxy-suicide-squad-offensive-tweets-interview-news-1202610248/amp/

(Can repro on Desktop and Android)

[2019-05-15 18:21] fstanis opened #22318 "Disallow emails to have a <title>"
The AMP4EMAIL format currently allows the `<title>` tag to be in `<head>`. However, this has no effect on emails, since they use a different mechanism to specify the subject and the title is never surfaced to the user in email clients.

Since this already caused some confusion with users, I propose we disallow the `<title>` tag in AMP validator rules for AMP4EMAIL.

[2019-05-15 18:29] dvoytenko commented on #21828
@evmar thanks a lot!

@rsimha Do you recollect what were the kind of errors we saw with `--hide_warnings_for`?

@evmar Generally, our goals are:

1. Import library as close to the source as we can.
2. Ensure that we do not have overly aggressive optimizations that we cannot guarantee would work correctly on this subset of code specifically. We still want aggressive optimizations in our 1p code tho

[2019-05-15 18:35] brettdavis13 commented on #22297
Hi @fstanis, please see my [JS Bin example](https://jsbin.com/fiyuqor/edit?html,output). The button at the bottom of the HTML should trigger an amp-lightbox. While this functionality works in JS Bin, it doesn't behave the same way when sent as a dynamic email. Here is a [screen capture of the bug](https://gfycat.com/JovialHarmlessAmericanbulldog).

[2019-05-15 18:53] #21088 closed

[2019-05-15 18:57] fstanis commented on #22297
Understood on the technical side, I was just curious if you could share more about the use-case, i.e. what the lightbox would do in a real-world scenario?

Again, this is to better understand us how the component would be used in emails, since we haven't seen any use-cases for it yet.

[2019-05-15 19:17] anshuman91 commented on #22042
Hello @lannka,
Thank you for your response.

I am using `window.context.requestResize(document.documentElement.clientWidth,document.documentElement.scrollHeight)` to set the container height and width according to size of iframe document.

And this method is working for all browsers except safari. And it was also working on safari a few days but don't know why it stopped working now.

Please let m

[2019-05-15 19:22] brettdavis13 commented on #22297
Ah sorry, I misunderstood.
We populate an email with a list of job openings. This list is usually long enough to cause scrolling.  Currently, users click on a job and land on a landing page with more information about the job. We would like to pass the job information to a lightbox with all of the job information, including a CTA button to "Apply" (which would send you to our web app).

[2019-05-15 19:36] rsimha commented on #21986
Bumping this with a request for two quick fixes while the deeper issues discussed above are worked on:

1. Fix the bug in push builds where the E2E tests are downloading minified build output, but serving unminified code. (Minified code is generally faster. If the E2E tests don't work on minified code, use unminified code for now.)
2. I'm now seeing the same ~6 failures during PR builds. Let's ski

[2019-05-15 20:01] sparhami commented on #22150
Will take a look. For a bit of context, I did a previous change, #16831, to attempt to address some issues with open/close.

[2019-05-15 20:54] gmajoulet opened #22322 "amp-youtube within a story attachment should stop playing when closing the attachment."
`amp-youtube` within a story attachment should stop playing when closing the attachment.

[2019-05-15 21:08] #22197 closed

[2019-05-15 21:40] nainar commented on #21930
We will be delaying discussion for the issues described [here](https://github.com/ampproject/amphtml/issues/21930#issuecomment-488536219) till a later date.

[2019-05-15 22:01] prateekbh commented on #21930
^ design doc for amp-prefetch-link: https://docs.google.com/document/d/1Wxrc4G5vDyWfQEa56GflxEH2PGSs86Qz14ag0pLvBao/edit?usp=sharing

[2019-05-15 22:02] #20638 closed

[2019-05-15 22:41] Gregable commented on #8765
The resource is generally reachable from the internet. This looks like it would be your browser itself which is blocking the resource. Is it possible you are using some browser extension (such as an ad blocker) which is causing your browser to not request this resource?

[2019-05-15 22:42] #15515 closed

[2019-05-16 00:12] zhouyx opened #22328 "Add more macro support to cookieWriter"
Current support macros are `QUERY_PARAM` and `LINKER_PARAM`.
The original thought is to limit the cookieWriter usage to user id stitching usage. (For example, not allowing writing static string)
This is a feature gap between AMP and non AMP. We can expand the whitelist and provide more flexibility on setting cookies on the original domain.

Current ask is `TIMESTAMP`, `SUBSTR`. Open to further exp

[2019-05-16 00:57] mrjoro commented on #21930
**amp-prefetch-link**

- for new extension element, when would CSS rules need to change?
 - e.g. a rule where a hyperlink is a child of a parent, if we introduce a wrapper element they add
- @sparhami: does RequestIdleCallback only deal with JS busy-ness or network busy-ness?
  - mostly JS
  - @jridgewell; in that case, RequestIdleCallback probably doesn't make much sense; it doesn't cause any bod

[2019-05-16 00:58] mrjoro commented on #21930
[wg-amp4email update](https://github.com/ampproject/wg-amp4email/issues/2)

[2019-05-16 00:58] #21930 closed

[2019-05-16 02:06] #22291 closed

[2019-05-16 07:27] sebastianbenz commented on #14257
@cvializ any updates on this?

[2019-05-16 07:59] StebneRuslan opened #22329 "Animate-in of the rotated layer visible before the start"
Hi, I have a problem with APM story animation. I create a simple story with an image layer.  But if I want to rotate the image the image is visible before animation starts.
It is possible to rotate the story layers? Or it’s not supported now?

http://prntscr.com/noqzg8

https://cutnut-tv.cdn.ampproject.org/c/s/cutnut.tv/amp/464fd4b2-f26e-4fd9-ab64-122bde29038f

[2019-05-16 12:06] Jessman5 commented on #21071
Hej @aghassemi,

I'd like to reopen this Bug because it's still an issue.
It gets applied on type="slides" but not on type="carousel".

[2019-05-16 13:33] parsingeye commented on #20653
@lannka Yes, `amp-link-rewriter` is used in production. Everything works well. Only complaint on a publisher side is slightly more complicated configuration (regex). Apart from that, all good so far!

Thanks for all your help and support!

[2019-05-16 13:59] Jessman5 commented on #21071
thank you :)

[2019-05-16 14:29] rsimha commented on #13966
Per conversation with @Gregable, `validator/` can rely on internal `g4 lint` rules. This issue is obsolete, and will be closed by #21212.

[2019-05-16 14:29] rsimha commented on #18601
Per conversation with @Gregable, `validator/` can rely on internal `g4 lint` rules. This issue is obsolete, and will be closed by #21212.

[2019-05-16 14:54] Jessman5 opened #22331 "aria-hidden="true" for focusable content of (i.e.) amp-carousel slides that already have aria-hidden="true""
## What's the issue?

In (i.e.) an amp-carousel, focusable content like simple link tags need to be `tabindex="-1"` or at least have the attribute `aria-hidden="true"`, too, if the parent slide is invisible.
This applies to all modules that have a container that is hidden with aria whose content can have anything inside.

This is an accessibility issue because WCAG 4.1.2 – ARIA hidden element must

[2019-05-16 14:54] PilarDCV commented on #22201
Hi,
Is there any way to test an earlier version of the v0.js file?

[2019-05-16 14:59] #17086 closed

[2019-05-16 14:59] #13966 closed

[2019-05-16 14:59] #18601 closed

[2019-05-16 15:19] lannka commented on #20653
@parsingeye good to hear that!
I thought the plan is to auto generate the config on your side?

[2019-05-16 15:39] cvializ commented on #22201
You can use the RTV URLs with the release numbers from https://github.com/ampproject/amphtml/releases and use the RTV URL (`https://cdn.ampproject.org/rtv/01<RELEASE_NUMBER>/v0.js`) as the script URL in your test document.
 e.g.

- `https://cdn.ampproject.org/rtv/011905021827420/v0.js`
- `https://cdn.ampproject.org/rtv/011905021827420/v0/amp-form-0.1.js`

This will make your document invalid AMP t

[2019-05-16 16:07] lannka commented on #22042
@anshuman91 oh, are you from jubna?

Are you able to verify if you can get non-zero `document.documentElement.scrollHeight` in the iframe? AMP has [some special logic](https://github.com/ampproject/amphtml/blob/master/src/service/viewport/viewport-binding-ios-embed-sd.js#L111) to handle the scrollHeight in Safari iframe, you might want to do the same. @dvoytenko is the expert on this. Hi Dima, do

[2019-05-16 16:10] lannka commented on #22042
@anshuman91 while debugging, I also noticed that the requestResize was continuously being called. You should only call the API again when the previous call is rejected.

[2019-05-16 16:22] ekingery commented on #22052
@jasti any updates from the email providers? Thanks!

[2019-05-16 16:49] samparnell commented on #22018
Update: Civil Eats updated their setup to redirect all http traffic to https. This seems to have resolved the issue for them.

I guess the underlying question is why would the validator use the http version when https one is specified? Not all publishers will be able to change their http/https set up so easily.

[2019-05-16 16:50] diantekyrie opened #22337 "Not able to scroll after switching articles"
## What's the issue?
Not able to scroll after switching articles

Briefly describe the bug.
Scrolling after switching articles fails. Seen 3/5 after refreshing page.

## How do we reproduce the issue?
1. Search for NBA
2. Open developer tools
3. Select an article
4. Use the click and swipe to swipe between articles
5. Attempt to scroll on page

## What browsers are affected?
macOSX Chrome Version

[2019-05-16 16:51] diantekyrie commented on #22337
Could be a problem that's hidden behind an experiment flag.

[2019-05-16 17:46] lannka commented on #22042
@anshuman91 talked with @dvoytenko offline, as an immediate fix, you should read `scrollHeight` from the container div instead of from the document directly.

[code]

meantime, to make future work easier, we are thinking of making it as the default behavior when you call the resize API.

[2019-05-16 19:07] choumx commented on #22337
I'm having trouble reproducing this on macOS Chrome (iPhone emulation) and on Safari on iPhone.

[2019-05-16 19:08] choumx commented on #22337
@diantekyrie Are you able to reproduce this on any mobile devices?

[2019-05-16 19:10] diantekyrie commented on #22337
@choumx, no I checked on iPhone and its fine.

[2019-05-16 19:16] choumx commented on #22337
Thanks, might be an emulation quirk then. Please reopen if you notice this bug on device.

[2019-05-16 19:16] #22337 closed

[2019-05-16 19:18] DuncanMacWeb commented on #22287
Hi Greg, thank you for filing that issue, it’s appreciated. Unfortunately I’m not able to go into details about the use case at this time I’m afraid, but hopefully the idea is clear.