[2020-04-17 00:50] jawadst commented on #17742
@zhouyx
There will definitely be an impact on most CMPs as we use client-side storage for keeping a local copy of the consent (just like AMP). We have a few workarounds possible: using server-side cookies (as cookies set by HTTP responses are unaffected at the moment) or login-based consent when possible being the main two options.

[2020-04-17 00:55] jawadst commented on #26229
@zhouyx Having worked with many vendors in the last months on TCFv1 integration with AMP, the main piece of feedback we have is that most vendors are still unclear on how they can get access to the consent string from their AMP tags.

In particular, they are struggling with two elements:
- What tags can get access to the consent string and how (macros, usually)
- How the different parameters on ad

[2020-04-17 01:12] mdmower commented on #27546
This sounds promising and worthwhile to pursue to me (if only I was the one signing your paychecks...)

This would probably increase the size of `config.js`, which is imported into several files at build time: find first script (not allowed to assume head is fully parsed), get URL part that precedes `v0/` or `v0.js`, hope that dev didn't define their paths like `example.com/v0/amp/v0.js`, and then

[2020-04-17 06:25] hukaicheng opened #27822 "Validation error when linking fontawesome v4 shim"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2020-04-17 08:14] wassgha commented on #22143
Claiming for Rebecca
/cc @nainar

[2020-04-17 08:19] wassgha commented on #20639
Claiming for Rebecca! This should require looking at the error logs.

/cc @nainar

[2020-04-17 08:22] wassgha commented on #24678
Claiming for Rebecca
/cc @nainar

[2020-04-17 08:23] rrjanbiah commented on #27801
@micajuine-ho

I appreciate your patience.

Checked closely. And, still it is **NOT working**. Mostly likely something is broken recently.

## Results of adding `transport` ##
[code]

**Case**: `<amp-analytics type="googleanalytics" data-credentials="include">`

**Error**: `[AmpAnalytics <unknown id>] Inline or remote config should not overwrite vendor transport settings`

**Outcome**: Came to kno

[2020-04-17 08:30] wassgha commented on #25737
Claiming for Rebecca

[2020-04-17 11:38] Usercentrics-AMP opened #27823 "I2I: Add Usercentrics CMP to amp-consent"
## Summary

Usercentrics is a market leader in the area of enterprise consent management platforms (CMP) and empowers companies to obtain, manage and document the consent of their users across platforms.

## Design document

The design will follow the official design and implementation guidelines.

## Motivation

We want to provide an AMP integration for our customers

/cc @ampproject/wg-approvers

[2020-04-17 12:56] estebanbett opened #27825 "amp-video-docking user scroll brokes the video docked"
Steps to reproduce it:
1. Enter to the url [https://amp.dev/documentation/examples/multimedia-animations/advanced_video_docking/preview/?format=websites](https://amp.dev/documentation/examples/multimedia-animations/advanced_video_docking/preview/?format=websites)
2. Choose desktop and play the video.
3. Scrolls up and down.
4. Sometimes the docked video disappear and sometimes the docked video ove

[2020-04-17 13:37] cpauwels opened #27826 "[amp-stories] Sharing is broken on mobile devices"
## What's the issue?

On both Android and iOS the share button in the top right does absolutely nothing.

## How do we reproduce the issue?

Open any AMP story from your mobile device and tap the share icon.

## What browsers are affected?

Tested on Chrome (Android) and Safari (iOS)

## Which AMP version is affected?

Probably the latest release.

[2020-04-17 14:25] caroqliu commented on #26873
@chasefinch Not necessarily, though I can understand the use case. i.e. `changeToLayoutContainer` and `[is-layout-container]` are explicitly gated on user interaction so that any list resize and possible content jumping can be anticipated by the user.

In the case of an amp-list with layout=container, the list will follow the steps on render:
(1) lock height to the height of the placeholder or exi

[2020-04-17 14:47] Enriqe opened #27827 "[amp-story-player] Add e2e / integration tests"
Tracker #26308

Add e2e / integration tests that's representative of real world usage. We should make sure that the test fixture does not load `v0.js` or any polyfills that we don't ship with the player.

This in order to prevent issues like #27734 from happening again.

[2020-04-17 14:50] Enriqe commented on #27734
Good point @choumx, since we're not pursuing the CE route anymore we shouldn't run into this type of issue again. I still agree it's a good idea to add some e2e / integration tests, so I filed #27827.

[2020-04-17 14:55] newmuis commented on #27826
@Enriqe @gmajoulet can you take a look and see what's causing this?

[2020-04-17 15:10] chasefinch commented on #26873
@caroqliu gotcha. I assumed that was the case. I think I understand now that initial binding evaluation is the only thing that gets triggered on an arbitrary user interaction.

[2020-04-17 15:11] Enriqe commented on #27826
I'm ablo to repro in version AMP version `2004161906340` on iPhone.

[code]

[2020-04-17 15:18] caroqliu commented on #26873
Thanks for clarifying, it helps to cover the expected behavior with existing features. One thing to note with the above interaction pattern is that while the UX is in line with the spirit of the current features (`is-layout-container` and `changeToLayoutContainer`, the names of the API used to achieve the behavior become misleading, as the list is not _changing layout format_ so much as it is forc

[2020-04-17 15:30] gmajoulet opened #27828 "Document Story specific viewer features."
Over the past few months we've been adding a few Story specific viewer features, that we should document:

- `(get|set|on)DocumentState`
- `education` capability and `canShowScreen` messages
-  viewer to document `selectPage` message
- document to viewer `selectDocument` message
- To be considered: how to control the story audio experience in a native viewer that can enable audio to autoplay

They

[2020-04-17 15:57] Enriqe commented on #27826
Looks like #27533 moved the assignment of `href` from being set in the `buildCallback()` to being set in `layouCallback()` in `AmpSocialShare`. But for some reason `layoutCallback()` isn't being called in `AmpSocialShare`. Investigating...

[2020-04-17 16:15] gmajoulet opened #27830 "Remove haptic feedback on story page long press."
You can pause a story page and its content with a long press. However, this long press triggers a haptic feedback (vibration) on Android, that we should remove.

cc @ampproject/wg-stories

[2020-04-17 16:17] Enriqe commented on #27826
Problem is we append a hidden `amp-story-share` component here
https://github.com/ampproject/amphtml/blob/7d820920d6c9d890b0f15e6d69a721dfde92ea9e/extensions/amp-story/1.0/amp-story-share-menu.js#L137

https://github.com/ampproject/amphtml/blob/7d820920d6c9d890b0f15e6d69a721dfde92ea9e/extensions/amp-story/1.0/amp-story-share-menu.js#L148

so `AmpSocialShare.layoutCallback()` never gets called.

[2020-04-17 16:54] gerardorm opened #27831 "The extension 'amp-wistia-player' was found on this page, but is unused. Please remove this extension"
Recently I added this extension in order to use the wistia player. After adding all my pages that don't have a wistia element are getting that error message, and the page is not validated successfully.

Is this the desired behavior? or is it an AMP known issue?.

![image](https://user-images.githubusercontent.com/14027305/79594180-6e750f00-8091-11ea-83e5-cd2502ecccb3.png)

[2020-04-17 17:17] gui-poa commented on #24933
Same here, @gilbertococchi . Did you have any advance on making custom prompt to install PWA on AMP pages?
Maybe should have a new tag similar to [allow push notifications](https://amp.dev/documentation/components/amp-web-push/)

[2020-04-17 17:23] dvoytenko commented on #27810
We will definitely be changing services architecture, but I'm not sure it will go where you hope it will. It's still not a super simple `export Service1` sort of thing. We are most likely to be moving toward something similar to React's [contexts](https://reactjs.org/docs/context.html). These are inherently side-effecty. I think we can possibly remove side-effects and bring them closer to what you

[2020-04-17 17:25] newmuis commented on #27826
Do we have a sense of solutions here?

Since it's late on a Friday with an already-crazy release, @caroqliu do you know if #27533 would be a clean rollback?  We could then patch the rollback and then roll forward with a fix.

[2020-04-17 17:31] samouri commented on #26511
@sayjeyhi, this issue is specifically about improving the error messaging around illegal mutations. If you are running into an error with worker-dom or amp-script, please open up a separate issue and I'll be happy to investigate

[2020-04-17 17:32] rrjanbiah commented on #27801
@micajuine-ho Also, FWIW, reporters can't reopen tickets in GitHub

[2020-04-17 17:34] Enriqe commented on #27826
I sent a pr with a fix in #27832

[2020-04-17 17:38] caroqliu commented on #27826
Yes, #27533 would be a clean rollback.

[2020-04-17 17:55] samouri commented on #26511
@sayjeyhi, I was able to run your example without any errors. Can you provide a fully reproducible case?

[2020-04-17 18:11] erakor opened #27835 "Allow `on: visible` to listen to `amp-list` items."
## What
When you use `amp-list` (way below the fold), it should be possible to add a visibility tracker on those `amp-list`'s items when they start showing up. It's currently not possible as the `id` the listeners are attached to are not present yet.

## Additional context

The `visibilitySpec` options don't seem to help.

[2020-04-17 18:50] micajuine-ho commented on #27801
@rrjanbiah Hi, thanks for detailing your testing experience.

Error: [AmpAnalytics googleanalytics] Inline or remote config should not overwrite vendor transport settings

FYI: Both of these errors are user errors, they're meant to be informative, but do not limit any actual capabilities of amp-analytics.

Anyways, the config I gave you above doesn't actually produce the network request log in the

[2020-04-17 19:28] Enriqe opened #27838 "🌸 Cherry-pick request for #27837 into 2004161906340 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #27826 | #27837 |     **YES

[2020-04-17 19:40] danielrozenberg commented on #27838
I rolled back Stable from 2004161906340 to 2004030010070. As this is a Friday we should postpone actually cherry-picking the Stable release until Monday, but since this is also a clean revert we should cherry-pick it into Beta/Experimental

- @ampproject/cherry-pick-approvers to approve cherry picking on Stable on Monday
- @ampproject/wg-approvers (@newmuis and @choumx) already approved cherry pic

[2020-04-17 20:09] rrjanbiah commented on #27801
@micajuine-ho Thank you so much for your patience. Unfortunately, I can modify that only on Monday and then will update you. Hopefully it will be alright. Thanks again!

[2020-04-17 20:39] kbarneyforbes commented on #25190
Have there been any updates with this? We have been trying to use client_id in amp-ad for targeting.

[2020-04-17 21:05] #27826 closed

[2020-04-17 21:59] caroqliu opened #27844 "Require OWNERS approval from all formats that a component is used in"
## Describe the new feature or change to an existing feature you'd like to see

Most components have a primary owner, i.e. `amp-story` by @ampproject/wg-stories or `amp-consent` by @ampproject/wg-analytics, with most non-specialized components defaulting to @ampproject/wg-ui-and-a11y as the OWNER.

There are some components that are used by multiple formats:
- `amp-social-share` by @ampproject/wg-

[2020-04-17 22:43] #27634 closed

[2020-04-18 00:09] calebcordry opened #27851 "🚀Launch Programmatic Story Ads Task List"
Publishers are currently only able to use custom or reservation based story ads in their AMP Stories. This is tracking the launch of programmatic demand to this inventory.

- [x] Enable `adsense` in `amp-story-auto-ads` for e2e testing
- [x] Run experiment
- [x] Write docs

/cc @raovs

[2020-04-18 00:55] #25390 closed

[2020-04-18 01:06] zhouyx commented on #26229
Thank you @jawadst This is very helpful! I've added you as reviewer to #27855

[2020-04-18 01:10] zhouyx commented on #26229
@cmaurersp any specific detail you need?

AMP attempts to support TCF v2 as a generic TC framework as best as we can.
AMP will collect and store raw consent string from CMP and pass the raw string value to vendors.
As described above AMP decided not to support the TCF v2 APIs though, and expect vendors to parse the string on the server side.

[2020-04-18 01:16] zhouyx commented on #17742
Thanks @jawadst
Could you expand a bit more on the server-side cookies workaround. Will publishers need to host the server to echo the consent information via http cookies, otherwise my understanding is that there will also be the third party cookie restriction.

[2020-04-18 08:38] sayjeyhi commented on #26511
@samouri thank you, I now that this is not a good place to talk about, I miss understood the issue title. actually, I fixed it, it was because of the wrong place to wait for getBoundingClientRectAsync, now https://github.com/ampproject/worker-dom/issues/835 is the problem.

[2020-04-18 10:25] chasefinch commented on #26873
Yes, I see what you mean. Thanks!

[2020-04-18 15:03] cramforce opened #27874 "Race condition with HTTP video in Stories"
It seems that video pooling ignores issues with HTTP video URLS while amp-video fails with those.

This leads to things "appearing to work" in most environments, but failing to play on Android, because the poster is never removed.

[2020-04-18 15:25] cramforce commented on #27109
One fundamental problem is I think that media-pool works with `amp-video` elements before they ever had a `layoutCallback` resolve. That breaks all kinds of assumptions like #27874

Is there any reason that the media pool has to ignore the AMP `layoutCallbacks`? If yes, should it turn it off and completely take over the video lifecycle instead of letting both run concurrently?

[2020-04-19 09:21] zarar3333 opened #27878 "amp-script tag sample in amp.dev does not work by default"
## amp-script tag does not work properly
the javascript code not working in amp-script tag.

[2020-04-19 14:37] #27874 closed

[2020-04-19 17:25] PutziSan commented on #21912
So it is intended that AMP can only be rendered on the server side?
Actually not (I thought), but here it is assumed that it would be, why?

The cases you thereby exclude from use (that I can think of):
- static HTML files
- static site generators (hugo, gatsby, jekyll, ...)
- server-side rendered pages that are behind a CDN, which cache the dynamic output (e.g. [zeits now edge caching](https://ze

[2020-04-20 00:42] patrickkettner commented on #27878
hi @zarar3333!

Could you share the code you are attempting to use?

[2020-04-20 06:34] wassgha commented on #27776
#27781 does seem to improve the swapping a little, however to address your previous comment, even though it might not be feasible to use `font-display: optional` for `amp-custom` styles given that there might be no fallback font configured, how do we feel about forcing it for Google Fonts and the other `<link>` [font providers we support](https://amp.dev/documentation/guides-and-tutorials/develop/

[2020-04-20 06:36] rrjanbiah commented on #27801
@micajuine-ho Thank you. It works with `triggers`. Thank you.

[2020-04-20 08:53] chrjs opened #27879 "<amp-vimeo> with autoplay does not start play audio when clicked"
Using the <amp-vimeo> tag with autoplay="true", it actually autoplay the video, but when the video is clicked, it tries to unmute the video as expected but the video instead is stopped and this is printed in Chrome debugger console the following warning:

_Unmuting failed and the element was paused instead because the user didn't interact with the document before. https://goo.gl/xX8pDD_

Example c

[2020-04-20 11:08] ejulcsi opened #27880 "Google's internal AMP Validator doesn't recognize <track> as a void element"
## What's the issue?

A discrepancy found between the html specification in the documentation and the validator regarding the allowed tags inside amp-ima-video component.

Here is a case where the validator says that this site is invalid with the issue `The parent tag of tag 'audio > track' is 'track', but it can only be 'audio'.`
[https://search.google.com/test/amp?id=fMVv8o7rGHTdygYtv1lKzg](http

[2020-04-20 11:35] swissspidy opened #27881 "Google Fonts v2 API does not validate"
**Please only file reports about bugs in AMP here.**

## What's the issue?

While AMP supports including Google fonts via URLs like `https://fonts.googleapis.com/css?family=Tangerine`, using the new v2 API (i.e. https://fonts.googleapis.com/css2?family=Tangerine) causes AMP validation errors.

Google Fonts CSS API v2 docs: https://developers.google.com/fonts/docs/css2

## How do we reproduce the i

[2020-04-20 12:44] Spengreb opened #27882 "Extend amp-audio's analytics to include listen duration"
The amp-audio analytics component does not support how long a user was listening in the case that a user leaves the page without hitting the pause button.

I propose a feature to include an 'audio-seconds-played' similar to the amp-video's 'video-seconds-played' where the trigger is fired every interval seconds when the audio is playing. This interval would be configurable in a similar way. This s

[2020-04-20 13:20] abelerdesz commented on #27880
May I just add that `The parent tag of tag 'audio > track' is 'track'` sounds like a contradiction.

Thanks for anyone looking into this!

[2020-04-20 13:28] abelerdesz commented on #27880
Some additional information:

This page is fine, and it uses the same `<amp-ima-video>` component. The only difference seems to be that this one uses one `<track>` whereas the one in the bug report uses two.

[2020-04-20 13:39] caroqliu commented on #27882
cc @ampproject/wg-analytics

[2020-04-20 13:45] caroqliu commented on #27880
cc @ampproject/wg-caching It appears the non-validating sample code in the link provided above contains two `<track>` elements with this structure:

[code]

In this case the second `track` element triggers a validator error. Based on the [error message](https://github.com/ampproject/amphtml/issues/27880#issuecomment-616548247), is it possible the second `track` is identifying the prior `track` as

[2020-04-20 13:52] cramforce commented on #27776
I think a fine-grained solution scoped to only font providers who do not offer icon fonts is definitely worth exploring! As with the existing intervention it should not override explicitly set font-display.

[2020-04-20 13:54] caroqliu commented on #27835
Thanks for filing this feature request! Can you provide more information on how you anticipate using this? Since AMP actions and events can be used to create dynamic experiences, and something like a `on: visible` event would be passively triggered rather than intentionally done with user interaction, would this feature be able to fulfill your use case with a low-trust event?

[2020-04-20 13:55] caroqliu commented on #27831
Thanks for filing this issue! Can you share more information such as a minimal sample markup of your page that causes the error?

[2020-04-20 13:57] caroqliu commented on #27822
Hi @hukaicheng thanks for filing, can you please provide more specificity to the issue?

[2020-04-20 14:45] tannerbaum opened #27884 "Request: Docs - More detailed example of manifest.json used by <amp-app-banner>"
## Describe the new feature or change to an existing feature you'd like to see
I am having a hard time understanding what value I am supposed to give for the `url` property in the manifest.json based off the example given here.

[code]

https://amp.dev/documentation/components/amp-app-banner/

To an extent the same for the meta tag where I link to the IOS app. This may partly be due to my inexperi

[2020-04-20 15:07] Gregable commented on #27880
@caroqliu is correct. The second track *is* a child of the first in this context, which is an error.

The trailing `/` at the end of each track tag is an HTML parse error and is ignored. It is *not* a "self-closing tag", which is not an actual thing in HTML5.

This is WAI.

[2020-04-20 15:49] estherkim commented on #27838
On-duty here, no cherry-picks or additional approvals are necessary today.
- Stable (2004030010070) does not need a cherry-pick; it does not contain the commit that needed to be reverted.
- Beta (2004172112280) was cherry-picked on Friday. Pending errors and performance monitoring, this will be promoted to Stable tomorrow.

I will leave this issue open for the postmortem write up. Thanks!

[2020-04-20 15:52] #27625 closed

[2020-04-20 16:24] mrjoro commented on #25049
@wassgha the design linked to in this I2I is an internal-to-Google document.

- Is this I2I still active?
- If it is, can we make the design available in a public doc (on an amp.dev account)?

[2020-04-20 16:34] Enriqe opened #27886 "Add integration / e2e tests for sharing"
We should have integration / e2e tests for critical user journeys like sharing to prevent issues like #27826 from happening again.

/cc @ampproject/wg-stories

[2020-04-20 16:42] alanorozco commented on #27825
I've been noticing this happening here and there, but it doesn't appear very consistently. I'll update this thread when I find the conditions that reproduce it.

[2020-04-20 16:48] Enriqe commented on #27838
Finished writing the mini PM. Adding @ampproject/wg-stories and @ampproject/wg-ui-and-a11y in case I missed something.

[2020-04-20 16:48] #27838 closed

[2020-04-20 16:50] estebanbett commented on #27825
My Goal was to change default Top-Right position to Bottom-Right.  Default dock property seems to be more robust, but I can't customize the position.

[2020-04-20 16:55] choumx commented on #27790
@jridgewell You also pointed out was that our error reporter actually caught this. However it was already a hectic release week so it went unnoticed. A more automated alerting mechanism for new errors would help prevent these from slipping under the radar.

[2020-04-20 17:02] Gregable commented on #27546
@jridgewell could you help determine if such an approach (runtime determining the host parameter) would be reasonable or not before we invest in the approach?

[2020-04-20 17:05] alanorozco commented on #27825
Using the default target (without an element) docks only to the top deliberately.

We found docking to the bottom to be awkward when we tie it to scrolling direction. For example, when scrolling back up, the video should undock, but this is weird when going towards the bottom since you'd either a) expect the inline box to reach the bottom, or b) undock early and slide the video across the viewport

[2020-04-20 17:38] gilbertococchi commented on #24933
@nainar do you know if there is already a draft FR about a component to allow PWA UX Install personalization?

[2020-04-20 18:31] estebanbett commented on #27825
1. In the default dock (without an element) example only occur when you scroll down fast before the dock target animation gets to the original box. Is difficult to reproduce it, but it happens.
Septs:
  1.1 Enter to [https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fmultimedia-animations%2Fadvanced_video_docking&format=websites&_gl=1*l9ttzp*_ga*YW1wLWczbjF4

[2020-04-20 18:32] caroqliu commented on #27838
Thanks for finishing this @Enriqe! Added another note to exhaustively require OWNERs review for component changes from WGs concerning formats that a component is enabled in.

[2020-04-20 18:38] samouri commented on #26473
This feature was first implemented as an experiment in https://github.com/ampproject/amphtml/pull/26284 and then launched in https://github.com/ampproject/amphtml/pull/27180.

Closing the thread 🎉

[2020-04-20 18:38] #26473 closed

[2020-04-20 18:43] samouri commented on #15647
This feature landed in https://github.com/ampproject/amphtml/pull/27180.
Documentation is available at: https://amp.dev/documentation/components/amp-list/?format=websites#initialization-from-amp-state

[2020-04-20 18:43] #15647 closed

[2020-04-20 18:44] samouri commented on #20641
This feature landed in https://github.com/ampproject/amphtml/pull/27180.
Documentation is available at: https://amp.dev/documentation/components/amp-list/?format=websites#initialization-from-amp-state

🎉

[2020-04-20 18:44] #20641 closed

[2020-04-20 18:46] nainar commented on #27602
The updates can be found here: https://github.com/ampproject/wg-ui-and-a11y/issues/46

[2020-04-20 19:00] alanorozco opened #27888 "End-to-end test for constructing an amp-animation and ensure it doesn't throw"
Ensures we're correctly using the native or polyfill surface for the Web Animations API.

[2020-04-20 19:08] alanorozco opened #27889 "🌸 Cherry-pick request for #27802 into #27765 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #27802 | #27806 |     **YES

[2020-04-20 19:13] #27802 closed

[2020-04-20 19:23] dvoytenko commented on #27889
Approved.

[2020-04-20 19:56] rcebulko commented on #27601
I'd like to share the plans for a work-in-progress bot to file issues for production errors automatically (https://github.com/ampproject/amphtml/issues/27675)

/cc @ampproject/wg-infra

[2020-04-20 20:14] alanorozco commented on #27825
Custom position refers to arbitrarily placing it on a different side of the horizontal axis, or inside a sidebar for example. It still assumes top position. We can clarify in docs.

[2020-04-20 20:17] estebanbett commented on #27825
Thanks, I'll appreciate so much if this option works well in the short term.

[2020-04-20 20:50] estherkim commented on #27889
On-duty here, thanks for letting me know! Instead of taking 2004191437490, we'll take the nightly generated tonight and promote it to opt-in. That will include your fix and no cherry-pick is needed.

That said, can you update the issue description to remove references to Beta, 2004172112280? It's a bit confusing!

[2020-04-20 21:00] alanorozco commented on #27889
Discussed offline with @danielrozenberg and @estherkim: Instead of cherry-picking, we'll use tonight's cut as tomorrow's Beta.

[2020-04-20 21:00] #27889 closed

[2020-04-20 21:44] conwaydev commented on #8040
This would be real helpful right now, https://github.com/ampproject/amphtml/issues/13797 was closed in favor of a server-side work around but I'd love to be able to (client-side) create an amp-bind-macro that converts a string (think 3pm CST) based off the user's chosen timezone, but I can't accomplish this with https://amp.dev/documentation/components/amp-bind/#allowed-listed-functions

[2020-04-20 22:13] rsimha commented on #27793
I gave this topic some additional thought today, and am beginning to see the value of following @mdmower's recommendation to eliminate the two `seconds` digits from cherry-pick versions only. While it is indeed a deviation from the full 12 digit timestamp used for normal releases, I think it's good enough to have 10 digits in common between cherry-pick versions and their base versions. As correctl

[2020-04-21 00:39] zhouyx opened #27899 "Inabox Host to deal with duplicate event registers correctly"
Inabox `iframeClient` (receiver side) allows one to register multiple handler to the same event type.
https://github.com/ampproject/amphtml/blob/fcf2c2ff8760cc07963cfed7edf953894c78894c/3p/iframe-messaging-client.js#L86-L90

However the inabox host (sender side) doesn't handle duplicate event registration.
https://github.com/ampproject/amphtml/blob/fcf2c2ff8760cc07963cfed7edf953894c78894c/ads/inab

[2020-04-21 01:33] hukaicheng commented on #27822
![image](https://user-images.githubusercontent.com/38412305/79815281-e9e90000-83b2-11ea-86f2-9201587a17fd.png)
![企业微信截图_15874324298763](https://user-images.githubusercontent.com/38412305/79815308-fa00df80-83b2-11ea-9a9e-8c79b0ccb36e.png)
添加这个fontawesome链接https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css，AMP检测报错，AMP官网是支持https://use.fontawesome.com这个域名的，为什么会报错呢？

[2020-04-21 02:15] jorydotcom commented on #27601
@mrjoro - @sumodas plans to join from the @ampproject/ac

[2020-04-21 03:47] zarar3333 commented on #27878
the amp-script not working in amp playground tutorial.
You see this code and preview [https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-script](url)

[2020-04-21 04:00] choumx commented on #27844
I think we already have a `notify` feature e.g. to inform the conduit team of validation changes.

[2020-04-21 04:26] choumx commented on #8040
@conwaydev Do you need to display this data on page load? If so, you probably want to try `amp-script`.

[2020-04-21 05:33] choumx opened #27902 "amp-list: Loading indicator sometimes never hidden"
Race: If the `toggleLoading(true)` call in `viewportCallback` happens after the `toggleLoading(false)` call in amp-list.js, the loading indicator is unexpectedly displayed and never hidden.

I think affects components that override `isLoadingReused()` (amp-list and amp-twitter) because this clause doesn't do the right thing for the first render: https://github.com/ampproject/amphtml/blob/62248e7ad

[2020-04-21 06:41] mdmower commented on #27793
If you opt for the "reset seconds to zero" idea, I don't think you can reserve it for cherry picks only. I think it has to be done when a release is cut from master. For example, if you only reset the seconds when cherry picks begin, how do you know whether the following version is the original release or the 10th cherry pick?

`012004201111010`

[2020-04-21 07:12] chrjs commented on #27879
Seems that the issue can be fixed by adding `allow='autoplay'` to the <iframe>.
Ref: https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

[2020-04-21 08:03] yk1979 commented on #14642
I'm having the same problem.
I think it might be occured as amp-lightbox has a "scrollable" attribute, but not sure...
https://github.com/ampproject/amphtml/blob/master/extensions/amp-lightbox/0.1/amp-lightbox.js#L355-L364

[2020-04-21 12:33] guysharony opened #27903 "There is a problem with your hamburger"
![SmartSelect_20200421-142935_Chrome](https://user-images.githubusercontent.com/40563195/79866282-cfc41780-83dc-11ea-9ba4-3fb90f14f615.jpg)

## What's the issue?
The hamburger is not at the right place on your website on Gamsung Galaxy S8.

## How do we reproduce the issue?
1. Get a Samsung Galaxy S8
2. Open Samsung Internet
3. Go to https://amp.dev

## What browsers are affected?
All the browsers

[2020-04-21 13:25] caroqliu commented on #27822
Thanks for the screenshot. My understanding, which I've been able to reproduce, is that the given href `https://use.fontawesome.com/releases/v5.11.1/css/v4-shims.css` produces an error in the validator. amp.dev suggests that we can [add custom fonts](https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/custom_fonts/) from fontawesome, and fontawesome [provides this specific

[2020-04-21 13:28] caroqliu commented on #27903
Thanks for filing and for the nice PS @guysharony ! :)

@mrjoro to port to the amp.dev repo please.

[2020-04-21 13:35] caroqliu commented on #27878
It appears the console prints the `Script hash not found` error in the AMP playground example included above. There is a helpful section on [common errors and how to debug them](https://amp.dev/documentation/components/amp-script/#errors).

I'm not sure there is a way to work around this in the playground example -- do people trying `amp-script` out in the playground always have to manually replac

[2020-04-21 13:53] caroqliu commented on #27844
Yes, either `notify` or `required` will work for this. No need for any additional work from the infra side to support this. The issue is mainly to discuss between current and potential component OWNERS and reach consensus on a change. i.e. If we go with `required` we can have higher confidence with a potential trade off of elongating the code review period for a given component that's enabled in m

[2020-04-21 13:54] hukaicheng commented on #27822
![fomtawesomr](https://user-images.githubusercontent.com/38412305/79872996-16376780-8419-11ea-9031-ab149e680b87.png)
谢谢您的耐心回答，抱歉，之前上传错一张图，您的意思是现在AMP不支持‘<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">’的引入吗？ [AMP官网](https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/custom_fonts/)是支持”Font Awesome: https://maxcdn.bootstrapcdn.com,

[2020-04-21 14:06] caroqliu commented on #27601
I'd like to discuss [CSS in Bento AMP](https://docs.google.com/document/d/1NfB2mZX9exwTvNGe_nBlpKXxUJGyF_ytd9gBWwHRX6c/edit) if time allows.

[2020-04-21 14:24] estherkim commented on #27793
+1 Matt's point that it has to be set to zero at the time a release is cut.

Building off that and Raghu's example, why not set the last 3 to zero?
Format: `YYMMDDHHmm000`

[2020-04-21 15:00] rcebulko commented on #27793
I'm supportive of this move, both because it holds useful CP info and because simpler RTV strings will make it easier to visually read them.

[2020-04-21 15:15] ampprojectbot opened #27904 "🚨 Error: Uncaught ReferenceError: prompt is not defined"
Details
---

**Error report:** [link](http://go/ampe/CISBw5mK8c7emQE)
**First seen:** Apr 15, 2020
**Frequency:** ~ 48689/day

Stacktrace
---
[code]

[2020-04-21 15:50] rcebulko commented on #27904
This appears to only be occurring on the domain `https://hindi-news18-com.cdn.ampproject.org`, ([example page](https://hindi-news18-com.cdn.ampproject.org/v/s/hindi.news18.com/amp/news/nation/exclusive-coronavirus-outbreak-modi-government-made-lockdown-exit-plan-3036802.html?amp_js_v=0.1)) so far, or at least that's the bulk of the reports. The publisher has code like the following:

[code]

This

[2020-04-21 15:56] rcebulko commented on #27844
Something in the past month resulted in Owners Bot team @ mentions not working properly, so unfortunately `notify` isn't WAI for teams at the moment. I'm working on debugging why it stopped, hope to have it figured out by end-of-week.

[2020-04-21 16:14] rcebulko commented on #27844
Something in the past month resulted in Owners Bot team @ mentions not working properly, so unfortunately `notify` isn't WAI for teams at the moment. I'm working on debugging why it stopped, hope to have it figured out by end-of-week.

[2020-04-21 17:11] samouri commented on #27902
Wow. Great catch. So I think the race here is actually between `viewportCallback` and `layoutCallback`. If layoutCallback completes before the timer in vC fires, then we get the zombie loading indicator.

The `toggleLoading(false)` that we have in amp-list should only be necessary for layouts after the initial one.

[2020-04-21 17:17] Gregable commented on #27822
The specific regular expression for fontawesome stylesheets requires the last component to be `(all|brands|solid|regular|light|fontawesome).css`. My memory is that @cramforce designed this matching rule, so I defer to him on how/if we should update it.

[2020-04-21 17:34] micajuine-ho opened #27907 "Allow CMPs to pass in CONSENT_TYPE"
[Link to original issue](https://github.com/ampproject/amphtml/issues/26229#issuecomment-586075122)

Supported types will be TCF V1, TCF V2, and US Privacy String. More types can be added in  upon request.

Consent String and Consent Type will be updated together and stored in local storage (as an optimization).

Consent type will be available through src/consent API

/cc @zhouyx

[2020-04-21 18:06] danielrozenberg commented on #27793
While the seconds don't provide a meaningful enough granularity to insist on keeping them, there is the issue where there might be existing tools that expect digits 3 through 14 to be in the `YYmmDDHHMMSS` format, especially in the CDN server code - if we go down this route we should triple check that to ensure nothing breaks :)

[2020-04-21 18:31] estherkim opened #27908 "🚄 Release tracking issue for release 2004240001480"
# Release tracking issue

- [x] Release [2004210608300](https://github.com/ampproject/amphtml/releases/tag/2004210608300) cut as a new nightly release
- [x] Release 2004210608300 promoted to Experimental and Beta (opt-in) channels (April 21, 2020, 11:28:04 PM PST)
- [x] Release [2004221922480](https://github.com/ampproject/amphtml/releases/2004221922480) cut with cherry pick https://github.com/amp

[2020-04-21 18:36] cramforce commented on #27822
I don't have specific recollection. Making this broader is probably fine.

[2020-04-21 18:47] Gregable commented on #27822
I plan to make this component `[0-9a-zA-Z-]+.css` unless anyone has a different idea.

[2020-04-21 19:04] mdmower commented on #27793
While I'm still not advocating for the idea, strictly from a "is the format invalid" standpoint, `YYmmDDHHMMSS` won't have any trouble until cherry-pick number 610. I hope this wouldn't ever happen...

[2020-04-21 19:21] samouri opened #27910 "<amp-list>: support rendering outside of viewport"
**summary**

I recently learned of a use case where someone would like to display an `<amp-list>` within a sidebar. The sidebar starts out closed. Ideally the amp-list could fetch and render while not in the closed sidebar for both SEO and performance reasons.

cc  @wassgha  @nainar @ampproject/wg-runtime

[2020-04-21 19:26] danielrozenberg commented on #27793
Yeah I thought about that. It'll just be semantically wrong in those systems that parse the RTV but they wouldn't fail :) alright, I'm gonna change my PR to reflect this discussion

[2020-04-21 20:37] samouri commented on #26511
@morsssss, now that the improvements specified in https://github.com/ampproject/amphtml/issues/26511#issuecomment-601937159 are merged, do you think we should close this issue?

I'll open up a separate thread about piping through exactly which elements and attributes are dropped

[2020-04-21 21:16] dvoytenko commented on #27899
I assume the underlying issue is still open? This is just the preparation to the actual implementation, right?

[2020-04-21 21:28] ampprojectbot opened #27914 "🚨 Error: (intermediate value)(intermediate value).push is not a function"
Details
---
**Error report:** [link](http://go/ampe/COuMo7Ws_Y7dAQ)
**First seen:** Mar 27, 2019
**Frequency:** ~ 9,064/day

Stacktrace
---
[code]

[2020-04-21 21:29] jridgewell commented on #21912
The goal is to serve the same content to every browser: `<amp-img src="example.jpg" />`. But `example.jpg` can be any image, and your CDN server is free to serve a webp response based on the content negotiation headers.

This means we get the benefit of static HTML pages, rendered by static CMSs and served by static serves. The CDN in front of your image has the ability to optimize the image respo

[2020-04-21 22:01] rcebulko commented on #27614
Closing this because of #27624

[2020-04-21 22:01] #27614 closed

[2020-04-21 22:35] rsimha commented on #27793
Good catch @mdmower, and thanks everyone else for the follow up!

[2020-04-21 23:21] zhouyx commented on #27899
The PR has fixed the underlying issue by not allowing duplicate event handlers to be registered on the inabox host side.

[2020-04-21 23:49] stephengardner opened #27918 "Bug - Programatically Refreshing HTML Breaks AMP Bindings (amp-state)"
Previously verified by @nainar, hoping to get some help here.

Full demo Stackblitz: https://stackblitz.com/edit/shopsheriff-amp-bind-error?file=index.html

When creating AMP pages using a dynamic page-builder, such as the editor we've built for AMP on Shopify, dynamic HTML injection typically updates a page.

When doing so, AMP state values break.  All elements that rely on state become static.

[2020-04-22 00:13] zhouyx commented on #27899
Turned out we are all good. This is a non issue, I've reverted the change in #27912.

There're two types of messages that the inabox host support.
`FULL_OVERLAY_FRAME` and `CANCEL_FULL_OVERLAY_FRAME`. Where we *do* want to invoke the event handler whenever a message is received.

With `SEND_POSITIONS`, inabox host only want to invoke the event handler once, because it doesn't want to add two liste

[2020-04-22 00:13] #27899 closed

[2020-04-22 01:18] hukaicheng commented on #27822
谢谢您的解答，我希望能够快点兼容‘ <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">’，因为我非常着急的去使用他，因为图标不显示会影响到我们客户的体验效果，谢谢您，希望可以快点完善并通知到我，谢谢~

[2020-04-22 02:42] choumx commented on #27878
Developers can add `data-ampdevmode` to disable script hash check during development. Details here: https://amp.dev/documentation/components/amp-script/#security-features

[2020-04-22 02:42] #27878 closed

[2020-04-22 02:46] choumx commented on #27910
Maybe there's more context but it's not obvious to me that this is desirable behavior.

Developers can add placeholder content for crawlers (which are not guaranteed to run JS). And lazy loading is WAI.

[2020-04-22 02:53] pm-harshad-mane opened #27927 "I2I: PubMatic Amp-ad GDPR/CCPA support"
## Summary
How to add support for passing GDPR and CCPA consent in ad-request from amp-ad?
Can somebody help here?

/cc @ampproject/wg-approvers

[2020-04-22 03:58] zhouyx commented on #27927
Hello @pm-harshad-mane Have you tried https://github.com/ampproject/amphtml/blob/master/ads/README.md#amp-consent-integration

Let me know if there's any question.

[2020-04-22 05:17] pm-harshad-mane commented on #27927
Thanks @zhouyx for a quick reply.
I am wondering how our code will know if the provided consent is GDPR consent or CCPA consent string?

[2020-04-22 06:14] zarar3333 commented on #27878
Great, thank you

[2020-04-22 09:37] mehmoodumer05 commented on #26608
I've same issue..

[2020-04-22 11:50] newmuis commented on #27601
I can only attend the second half of this meeting; would be great to push the stories WG update towards the end, if possible.

[2020-04-22 12:26] paulrutter opened #27930 "BlueConic amp-analytics vendor"
We at [BlueConic ](http://www.blueconic.com) are kicking off a project to build official support for AMP. This will require a new set of APIs on our side and a contribution to this project in order to make BlueConic an analytics vendor option.

The intention is to track the page visits and events on the AMP pages. Now we track the web- and mobile traffic. But miss all the data of the AMP visits to

[2020-04-22 15:02] estherkim commented on #27666
/cc @ampproject/wg-ads

[2020-04-22 15:28] ampprojectbot opened #27931 "🚨 Error: L(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COHj1Iykwo3AEg)
**First seen:** Apr 16, 2020
**Frequency:** ~ 17/day

Stacktrace
---
[code]

Notes
---
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:175-179` in #27740 (Apr 15, 2020)
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:106-106` in #27740 (Apr 15, 2020)
`@rsimha` modified `src/custom-element.js:1152-1152` in

[2020-04-22 15:28] ampprojectbot opened #27932 "🚨 Error: L(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COHj1Iykwo3AEg)
**First seen:** Apr 16, 2020
**Frequency:** ~ 17/day

Stacktrace
---
[code]

Notes
---
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:175-179` in #27740 (Apr 15, 2020)
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:106-106` in #27740 (Apr 15, 2020)
`@rsimha` modified `src/custom-element.js:1152-1152` in

[2020-04-22 15:28] ampprojectbot opened #27933 "🚨 Error: L(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COHj1Iykwo3AEg)
**First seen:** Apr 16, 2020
**Frequency:** ~ 17/day

Stacktrace
---
[code]

Notes
---
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:175-179` in #27740 (Apr 15, 2020)
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:106-106` in #27740 (Apr 15, 2020)
`@rsimha` modified `src/custom-element.js:1152-1152` in

[2020-04-22 15:29] ampprojectbot opened #27934 "🚨 Error: L(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COHj1Iykwo3AEg)
**First seen:** Apr 16, 2020
**Frequency:** ~ 17/day

Stacktrace
---
[code]

Notes
---
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:175-179` in #27740 (Apr 15, 2020)
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:106-106` in #27740 (Apr 15, 2020)
`@rsimha` modified `src/custom-element.js:1152-1152` in

[2020-04-22 15:29] ampprojectbot opened #27935 "🚨 Error: L(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COHj1Iykwo3AEg)
**First seen:** Apr 16, 2020
**Frequency:** ~ 17/day

Stacktrace
---
[code]

Notes
---
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:175-179` in #27740 (Apr 15, 2020)
`@cramforce` modified `extensions/amp-video/0.1/amp-video.js:106-106` in #27740 (Apr 15, 2020)
`@rsimha` modified `src/custom-element.js:1152-1152` in

[2020-04-22 15:39] ampprojectbot opened #27936 "🚨 Error: Frame contentWindow unavailable."
Details
---
**Error report:** [link](http://go/ampe/CIW5vc6Rxbj2iQE)
**First seen:** Apr 9, 2020
**Frequency:** ~ 39,581/day

Stacktrace
---
[code]

Notes
---
`@rsimha` modified `src/log.js:308-311` in #21212 (May 16, 2019)
`@erwinmombay` modified `src/log.js:323-324` in #6581 (Dec 20, 2016)
`@bradfrizzell` modified `extensions/amp-ad-network-doubleclick-impl/0.1/safeframe-host.js:465-467` in #145

[2020-04-22 16:00] rcebulko commented on #27936
@calebcordry This looks like it may be a dupe of https://github.com/ampproject/amphtml/issues/15764 ; it doesn't look like the underlying issue was resolved. Should we be reporting this as an expected error instead, if it's a known failure case?

[2020-04-22 16:05] Enriqe opened #27938 "Videos aren't playing in amp-twitter"
It's not possible to play videos inside `amp-twitter`.

Steps to repro:
1. Go to an AMP page with the `amp-twitter` component that has a video. e.g. https://amp.dev/documentation/components/amp-twitter/?format=websites
2. Click on the video

Expected:
Video plays

Actual:
Blank frame with play button

Error logs:

`TwitterVideoPlayerIframe.1c7d5c71349918c3.js:1 POST https://api.twitter.com/1.1/gue

[2020-04-22 16:09] #27935 closed

[2020-04-22 16:09] estherkim commented on #27934
Dupe

[2020-04-22 16:09] #27934 closed

[2020-04-22 16:09] rcebulko commented on #27932
Dupe

[2020-04-22 16:09] #27932 closed

[2020-04-22 16:09] estherkim commented on #27933
Dupe

[2020-04-22 16:09] #27933 closed

[2020-04-22 16:09] rcebulko commented on #27931
Dupe

[2020-04-22 16:21] rsimha opened #27939 "Fix Java validator tests and merge maven upgrade PRs"
I'm filing this as a tracking issue based on the conversation starting at https://github.com/ampproject/amphtml/pull/27842#issuecomment-617553437.

There are two things to do:

- [ ] Fix the Java validator [test failures](https://travis-ci.org/github/ampproject/amphtml/jobs/677960140#L375-L550).
- [x] Merge the [backlog](https://github.com/ampproject/amphtml/pulls?q=is%3Apr+is%3Aopen+%22validator%

[2020-04-22 16:22] rsimha commented on #27939
Assigning to @honeybadgerdontcare for triage

/cc @ampproject/wg-caching

[2020-04-22 16:22] rcebulko commented on #27931
Note that the occurrence count is currently very low because this appeared in Nightly, which has an extremely low traffic share. We can expect the frequency to go up by a factor of 1000 if this reaches Stable.

[2020-04-22 16:25] gmajoulet commented on #27931
cc @cramforce can you see a code path that would lead to this `forEach is not a function`? It looks like `this.getVideoSourcesForPreconnect_()` always returns an array.
I can do manual testing but this error is surprising

[2020-04-22 16:26] honeybadgerdontcare commented on #27939
//cc @GeorgeLuo the first task is being handled in #27842.

I think we should do a manual update since there are so many outstanding but would like confirmation from @GeorgeLuo first.

[2020-04-22 16:27] caroqliu commented on #27938
Not able to reproduce on RTV 2004172112280, Chrome 81 :/ Clicking on the video thumbnnail leads to the iframe flashing white then reappearing with the thumbnail, clicking a second time causes the video to play. Not great but not seeing any authentication errors. Am I doing something wrong here?

The video I'm looking at is the [sample under `Behavior`](https://amp.dev/documentation/components/amp-

[2020-04-22 16:37] rcebulko commented on #27931
It looks like the return type of `NodeList` [doesn't support `forEach` in IE11](https://caniuse.com/#search=forEach)

[2020-04-22 16:42] GeorgeLuo commented on #27939
That's a reasonable course, from a usability perspective the tests will fail already, changing the dependencies has a neutral-positive effect in the current state.

[2020-04-22 16:48] newmuis commented on #12209
@nainar we have a contributor who's interested in contributing this, if we have the product nailed down.  Do you think we're in a good place to do this?

[2020-04-22 16:50] rcebulko commented on #27675
Main takeaway from design review: Security/privacy concerns about errors that could contain PII or other sensitive info being auto-published
- Risk reduced by thresholding
- Some sort of moderation/approval buffer would be good
- Possible workaround: Create issue in separate private ampproject repo with link to duplicate into amphtml
- Alternate workaround: Release dashboard integration + separate

[2020-04-22 17:09] zhouyx commented on #27927
There's a feature request for AMP to pass the consent type information as well. #27907
Before that's added, we learnt that people determine the consent string type based on the length.

[2020-04-22 17:10] gmajoulet opened #27941 "Hover/Long press on the remote attachment UI should show full URL"
Web browsers allow users to preview links href by hovering them on desktop or long pressing (context menu) on mobile.

Story remote page attachments should offer this feature on the "swipe up" call to action UI visible at the bottom of a story page.

cc @ampproject/wg-stories

[2020-04-22 17:21] pm-harshad-mane commented on #27927
sounds good @zhouyx .
Thank you for your help :-)

[2020-04-22 18:19] Enriqe commented on #27938
Thanks for looking into this @caroqliu !

Huh weird... It seems like deleting my cookies coming from twitter.com and trying again solved it for me. /cc @gmajoulet who also has this issue

Closing

[2020-04-22 18:19] #27938 closed

[2020-04-22 18:26] gmajoulet commented on #27938
It fails in non private navigation (same issue as Enrique) but works in private nav. I'm not deleting my cookies in case we need someone who can repro :))
Could it be because of an ad blocker?

[2020-04-22 18:35] estherkim commented on #27931
This was seen in Opt In, 2004210608300. Does it need a cherry pick?

[2020-04-22 18:39] gmajoulet commented on #27931
cc @alanorozco

[2020-04-22 18:42] cramforce commented on #27931
I sent #27943 to avoid this class of errors in the future.

[2020-04-22 18:51] #27931 closed

[2020-04-22 18:53] gmajoulet opened #27944 "Story player should allow 'allow-top-navigation' on Safari."
Story player should allow 'allow-top-navigation' on Safari for remote attachment links to open.

cc @ampproject/wg-stories

[2020-04-22 18:55] gmajoulet commented on #27023
Reassigned to @Enriqe

[2020-04-22 19:00] ampprojectbot opened #27945 "🚨 Error: Cannot define multiple custom elements with the same tag name"
Details
---
**Error report:** [link](http://go/ampe/CP-WmqukvN6eOA)
**First seen:** Nov 2, 2019
**Frequency:** ~ 18,482/day

Stacktrace
---
[code]

Notes
---
`@jridgewell` modified `src/service/custom-element-registry.js:144-144` in #25141 (Oct 19, 2019)
`@choumx` modified `src/chunk.js:193-208` in #6967 (Jan 27, 2017)
`@choumx` modified `src/chunk.js:483-483` in #6967 (Jan 27, 2017)

[2020-04-22 19:02] rcebulko commented on #27945
Looks like this is an error throws when using `CustomElementRegistry.define()`. It seems to be an error we should catch and rethrow as a `user().error()`. I'll throw together a PR for this.

[2020-04-22 19:13] alanorozco opened #27947 "🌸 Cherry-pick request for #27940 into #27908 (Approved)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| #27931 | #27940 |     **YES

[2020-04-22 19:20] dvoytenko commented on #27947
Approved.

[2020-04-22 19:27] caroqliu commented on #27601
Notes about CSS in Bento AMP:

- High level summary of styling in AMP today:
  - surface area for styling increase by adding Bento and Preact modes
  -  two types of default styles AMP uses today (functionally critical versus decorative)
- Open questions:
  - inline styling shortcomings i.e. pseudoselectors, additional cost of shipping in JS not always worth it
  - styles lost when component child

[2020-04-22 19:29] rcebulko commented on #27601
Primary takeaway for error issue creation: Security/privacy concerns about errors that could contain PII or other sensitive info being auto-published
- Risk is somewhat reduced by thresholding
- Some sort of moderation/approval buffer would be good
- Possible workaround: Create issue in separate private ampproject repo with link to duplicate into amphtml
- Alternate workaround: Release dashboard i

[2020-04-22 19:33] GeorgeLuo commented on #27939
The changes to catch up the engine to yesterday's changes are somewhat expansive. I'm working on porting them over, but the whole of the changes this won't be resolved today. Can the upgrade PRs be forced through? Or are you guys waiting for a PR from my end to compile all of them?

[2020-04-22 19:35] rsimha commented on #27681
Update: The AST comparison was found to be insufficient because it was based on extracting the `sourcesContent` field from `v0.js.map`, and not the `mappings` field. Back to the drawing board for this.

Meanwhile, I've reduced #27795 to just a sourcemap URL check, which has some non-zero value.

[2020-04-22 19:42] kevinkimball commented on #27770
Updated w/ TDD

[2020-04-22 19:44] sebastianbenz commented on #21912
Stumbled over this as well. We currently suggest using `fallback` for webp support in [our docs](https://amp.dev/documentation/components/amp-img/) which is imo an anti-pattern as the image is being downloaded twice in browsers not supporting webp. If there are no concerns I will remove this from the documentation.

However, I agree with @caroqliu and @sparhami  that it'd be nice to have proper cl

[2020-04-22 19:53] calebcordry commented on #27936
@rcebulko yep this was my misunderstanding of how dev.error() worked. Expected error should be fine. Happy to make a PR, but might not get to it until tomorrow or Friday.

[2020-04-22 19:58] rsimha commented on #27939
I’m leery about force-merging all those dozen plus PRs because it involves using admin privileges. Would you able to put them together into a single PR? I can help by force-merging it for you.

[2020-04-22 20:11] rcebulko commented on #27945
It looks like this is happening on pages that (for some reason) include all the AMP scripts twice in the page, so this is definitely a user error. It's been around at low volume for a while, but a NSFW manga website must have made a change to their site and now it's reporting steadily from that referrer.

We could catch this error and rethrow as a user error, but that could catch other real errors

[2020-04-22 20:15] rcebulko commented on #27936
Took care of it in the PR above :+1:

[2020-04-22 20:27] mahnunchik opened #27950 "Instructions for website owners: how to adapt iframe to be AMP ready"
## Describe the new feature or change to an existing feature you'd like to see

I'm adapting my website to be AMP ready. I've faced with the problem that a little amount of services support embedding as amp-iframe https://amp.dev/documentation/components/amp-iframe/

I mean iframe resizing to be true responsive https://amp.dev/documentation/components/amp-iframe/#iframe-resizing

## Describe alter

[2020-04-22 20:48] ampprojectbot opened #27952 "🚨 Error: null is not an object (evaluating 'a.split')"
Details
---
**Error report:** [link](http://go/ampe/CJGs5Pnur4G9xgE)
**First seen:** Apr 8, 2020
**Frequency:** ~ 7,495/day

Stacktrace
---
[code]

Notes
---
`@cramforce` modified `src/url.js:198-200` in #3163 (May 11, 2016)
`@renovate-bot` modified `extensions/amp-ad-custom/0.1/amp-ad-custom.js:73-73` in #27350 (Mar 30, 2020)
`@rsimha` modified `extensions/amp-a4a/0.1/amp-ad-network-base.js:153-1

[2020-04-22 20:53] rcebulko commented on #27952
Appears to be a dupe of https://github.com/ampproject/amphtml/issues/27614 , and should taper off as validator changes take effect to block this from happening on valid AMPs

[2020-04-22 21:12] #27902 closed

[2020-04-22 21:26] jridgewell commented on #21912
Yes, we should remove that. The recommended approach should be to serve webp when responding to the image request, if webp is advertised in the `Accept` request header.

There was discussion about this in https://github.com/ampproject/amp-wp/pull/3082. As far as I'm aware, there is no good way to determine webp/formatX support on the browser side.

[2020-04-22 21:26] ampprojectbot opened #27953 "🚨 Error: Cannot read property 'removeAttribute' of null"
Details
---
**Error report:** [link](http://go/ampe/CIG648eLzKbBQw)
**First seen:** Jan 22, 2020
**Frequency:** ~ 2,569/day

Stacktrace
---
[code]

Notes
---
`@jridgewell` modified `src/style.js:241-246` in #17988 (Sep 19, 2018)
`@rsimha` modified `extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js:1030-1030` in #21618 (Apr 10, 2019)
`@powerivq` modified `src/service/mutator-impl.js:231-2

[2020-04-22 21:28] rcebulko commented on #27670
Closing as dupe of https://github.com/ampproject/amphtml/issues/27953

[2020-04-22 21:28] #27670 closed

[2020-04-22 21:29] jridgewell commented on #27945
Ignoring sounds fine to me.

[2020-04-22 21:33] #27945 closed

[2020-04-22 21:34] #27936 closed

[2020-04-22 21:56] estherkim opened #27955 "Add runtime test pages to gulp performance config"
We want to use Travis to measure performance of AMP components compared to stable v0.js.

To start, can @ampproject/wg-runtime  add test pages to https://github.com/ampproject/amphtml/blob/master/build-system/tasks/performance/config.json#L7 ?

Once we have at least one URL, we'll run `gulp performance` on master builds, with the option to move it to nightly builds.

Test pages are served on `loca

[2020-04-22 21:57] ampprojectbot opened #27956 "🚨 Error: qc(...).finally is not a function"
Details
---
**Error report:** [link](http://go/ampe/CJ7CzPa70KW3fA)
**First seen:** Apr 8, 2020
**Frequency:** ~ 2,383/day

Stacktrace
---
[code]

Notes
---
`@wassgha` modified `extensions/amp-next-page/1.0/service.js:230-235` in #26841 (Feb 28, 2020)
`@wassgha` modified `extensions/amp-next-page/1.0/amp-next-page.js:42-45` in #25636 (Dec 10, 2019)
`@zhouyx` modified `src/custom-element.js:477-479

[2020-04-22 21:58] ampprojectbot opened #27957 "🚨 Error: lc(this).finally is not a function. (In 'lc(this).finally(function(){b.P();b.Aa()})', 'lc(this).finally' is undefined)"
Details
---
**Error report:** [link](http://go/ampe/CK7g2Jzl7_SFvwE)
**First seen:** Mar 20, 2020
**Frequency:** ~ 1,063/day

Stacktrace
---
[code]

Notes
---
`@wassgha` modified `extensions/amp-next-page/1.0/service.js:219-230` in #26841 (Feb 28, 2020)
`@wassgha` modified `extensions/amp-next-page/1.0/amp-next-page.js:42-45` in #25636 (Dec 10, 2019)
`@zhouyx` modified `src/custom-element.js:507-5

[2020-04-22 21:58] rcebulko commented on #27957
Closing as dupe of https://github.com/ampproject/amphtml/issues/27956

[2020-04-22 21:58] #27957 closed

[2020-04-22 22:58] Gregable commented on #27939
@GeorgeLuo As an aside, one of the commits in yesterday's changes is separated out as a formatting-only change. That may help with porting, as that specific commit can be ignored.

[2020-04-22 23:00] GeorgeLuo commented on #27939
got it thanks 👍I was somewhat aware, but separating out by commit will be handy.

[2020-04-23 03:42] choumx opened #27972 "Iterating on human-readable AMP version numbers"
Follow-up to #27793.

Can we consider changing the computation of the RTV from "time of release cut" to "time of most top commit"? This would be a nice property for human-readability.

I'm guessing this was originally decided against since cherry-picks can cause multiple releases to have the same RTV, but now cherry-picks onto a release preserves most of the base RTV so maybe we're good to go?

Co

[2020-04-23 10:28] cpauwels opened #27981 "[amp-stories] Story invisible after returning from remote attachment"
## What's the issue?

When swiping up on a remote attachment to a link that opens an external app (e.g. a YouTube link), going back on android return the user to the story but the story is invisible. I think the opening animation remains open and hides the story.

![ezgif-6-16ea010cb30e](https://user-images.githubusercontent.com/4594196/80089207-da59ea80-855d-11ea-944d-af378de33a1a.gif)

## How do

[2020-04-23 14:26] estherkim commented on #27972
Makes sense to me!

[2020-04-23 15:32] rcebulko commented on #27972
Slightly related: https://github.com/ampproject/error-tracker/issues/125

I support this, especially because of the added benefit that developers can then look at the date embedded in an RTV and, with some confidence, say that their PR is/isn't in it based on the datetime their commit merged

[2020-04-23 15:50] cramforce opened #27982 "HLS video fails to load in Chrome, works in Safari"
Repro URL
https://www.refinery29.com/stories/amp/easy-makeup-tips-hacks/

There are no errors in the console at all. The network load does not appear to fail.

Only repros on an actual phone, since desktop chrome doesn't support HLS.

[2020-04-23 15:53] cramforce commented on #27982
readyState of these videos is 4.

Playing them via the console does not help

[2020-04-23 15:57] rcebulko commented on #27956
@wassgha for awareness/in case there's an obvious culprit you recognize here. Frequency is pretty low though, so if nothing stands out this can probably be backlogged

[2020-04-23 16:02] cramforce commented on #27982
This can potentially be detected by the video going into playing state but having it's currentTime stay at 0.

[2020-04-23 16:16] gmajoulet opened #27983 "Investigate story video preload attributes."
Story videos have their preload attribute always set to `auto`. Videos will load as soon as their `layoutCallback` ran (ie: when distance <= 2).

We should control this behavior from the JavaScript to get more control over our preloading logic, allowing optimizations like:
- Ensures the media selection process happens only once
- Enables optimization like ensuring the current page is fully loaded

[2020-04-23 16:18] gmajoulet commented on #27983
Special case to keep in mind: during prerendering, we do want to keep the `preload="auto"` for cached source. It can come from the mediapool or from amp-video depending on the implementation. Ideally, the mediapool would control everything.

[2020-04-23 16:20] wassgha commented on #27956
From a quick investigation, it seems like `Promise.finally()` is not available in some old version of Firefox, I'll defer to @ampproject/wg-runtime to check our polyfills (or whether we should ban usage of `.finally` if necessary).

[2020-04-23 16:21] wassgha commented on #27956
@jridgewell feel free to reassign

[2020-04-23 16:49] cramforce commented on #27982
Removing the bad source and calling `video.load(); video.play()` fixes the playback

[2020-04-23 17:06] nainar commented on #27918
@ampproject/wg-runtime to take a look

[2020-04-23 17:26] gmajoulet opened #27986 "Remove amp-gfycat from story documentation."
amp-gfycat support was removed in https://github.com/ampproject/amphtml/pull/25847 and should be removed from the documentation.

cc @ampproject/wg-stories @CrystalOnScript

[2020-04-23 17:30] danielrozenberg commented on #27972
This is already how it's done since #16631. It takes the commit time, which is different from author time - basically it's the time somebody clicked the "squash" button on GitHub.

Before #27848, cherry-picks would cause that commit time to shift to when the release-on-duty ran `git cherry-pick <sha>`. After I merge #27848 the change would be that to figure out a build's version number it will mov

[2020-04-23 17:30] #27972 closed

[2020-04-23 17:32] samouri commented on #27918
That makes sense. `<amp-bind>` doesn't automatically rescan the page for bindings when the document has its contents replaced.

There are a couple of ways I could see us fixing this:
1. Have a listener that rescans for bindings on any non-AMP caused dom mutation. This could happen automatically, but I'd be worried it could impede performance.
2. Expose a JS function on the `AMP` global for develop

[2020-04-23 17:33] cramforce commented on #27982
Reduced repro and workaround https://hls-issues.glitch.me/

Whether we should do this versus just filtering HLS for Android depends on whether it is working in general and there is something weird with this particular HLS source.

[2020-04-23 17:33] micajuine-ho commented on #27930
SGTM, feel free to assign me as a reviewer once your PR is out.

[2020-04-23 17:36] #27819 closed

[2020-04-23 17:39] stephengardner commented on #27918
Thanks @nainar and @samouri

#2 seems like the quickest and least troubling solution.  We could certainly call a function to re-bind state, that'd be easy peasy.

We were looking for any kind of a hacky way around this in the interim, like re-appending the amp runtime script to the head of an iframe, but to no avail.  We'd love to have any solution and we're comfortable with calling functions/perf

[2020-04-23 17:41] micajuine-ho commented on #27819
@hrkhal & @ptrickney Change has been merged. It will be available in next Tuesday's Canary cut/today's [nightly build](https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/#nightly).

[2020-04-23 18:24] rsimha commented on #27939
@GeorgeLuo Looks like we have a [new batch](https://github.com/ampproject/amphtml/pulls?q=is%3Aopen+is%3Apr+author%3Arenovate-bot+%22validator%2Fjava%2Fpom.xml%22) of updates that came in today. I've currently labeled / assigned them to @ampproject/wg-caching folks.

(I recognize that this is a glut of PRs to deal with, but once we're all caught up, the updates should be much less frequent.)

[2020-04-23 18:34] samouri commented on #27918
The hackiest thing I could imagine that may work is writing something like this:
[code]

That said, I _really_ wouldn't recommend it. It isn't part of our public API and will likely break soon.

From this example, it looks like that snippet fixes bind, but there are still issues with the carousel that may need to separately be addressed.

[2020-04-23 18:56] jridgewell commented on #27956
I think we should ban use of `finally`, it's an ES2019 feature. The polyfill we have is just to polyfill ES2015 to ES5, not the more recent features.

[2020-04-23 19:03] jridgewell commented on #27956
In fact, it's already banned: https://github.com/ampproject/amphtml/blob/97099ce8bf4826a08d964e7a02da55a7641b1090/build-system/test-configs/conformance-config.textproto#L186-L190

[2020-04-23 19:05] choumx commented on #27972
Oh yea!! 🎉

[2020-04-23 19:06] GeorgeLuo commented on #27939
Ack. I started and scoped the changes yesterday. It'll be hard to estimate when they can go in, if significant unit test changes need to be implemented. So I may aggregate the dependency changes for a PR if those take an exorbitant amount of time.

[2020-04-23 19:07] wassgha commented on #27956
@jridgewell how is that enforced? the PRs seem to pass

[2020-04-23 19:08] jridgewell commented on #27956
I think I made a mistake, it should be `BANNED_PROPERTY_CALL`. Looking into it now.

[2020-04-23 19:09] wassgha commented on #27956
Sounds good and I'll send a PR to remove usages

[2020-04-23 20:09] jonluca opened #27991 "amp-install-serviceworker is not triggering install via iframe within the AMP Cache [v2]"
## What's the issue?

Service Workers are not being installed via iframes within the AMP cache. The iframe is actually blank/not loaded.

<img width="736" alt="Screen Shot 2020-04-23 at 1 00 26 PM" src="https://user-images.githubusercontent.com/13029040/80143898-6b32c500-8562-11ea-9c66-d74eba2d2a69.png">

Note: This _might_ be due to our CSP - however, the console doesn't show any CSP errors, and

[2020-04-23 20:17] cmaurersp commented on #26229
What do 3rd party CMPs need to do in order to support TCF v2 at this point in time?

[2020-04-23 20:22] Gregable commented on #27822
This fix will be in the next validator push.

[2020-04-23 20:23] Gregable commented on #27239
This fix is now live.

[2020-04-23 20:23] #27239 closed

[2020-04-23 20:24] jonluca commented on #27991
Update - looks like this is the CSP after all. Closing this out.

<img width="456" alt="Screen Shot 2020-04-23 at 1 15 44 PM" src="https://user-images.githubusercontent.com/13029040/80145843-ae426780-8565-11ea-973b-d7e2da9f73f6.png">

[2020-04-23 20:24] #27991 closed

[2020-04-23 20:34] stephengardner commented on #27918
Thanks @samouri
While looking into that hack, I noticed other components are also un-bound, such as "amp-fx-collection" for a parallax effect.  Once HTML is replaced, the parallax effect is nullified.  Though the hack does work for state.
We'll heed your advice and not rely on the hack.
This would be a huge help if something like this were created to re-bind components.  I can't imagine we're the

[2020-04-23 20:58] pbakaus commented on #27239
Amazing, thank you Greg!!

[2020-04-23 21:00] rsimha opened #27994 "`amp-video` analytics tests are flaky on `master`"
Multiple PR and push builds from today contain this error. (Had to restart Travis jobs to unblock development)

[code]

[2020-04-23 21:01] rsimha commented on #27994
/to @alanorozco who is build cop to skip these temporarily
/to @ampproject/wg-analytics for triage and fix

[2020-04-23 21:15] choumx commented on #27918
This is not supported yet. WordPress's AMP plugin had similar problems and this "Bento" initiative was designed in part to address this general "reactivity" issue. The only real solution today is to reload your rendered preview after markup changes, similar to what JSBin et al do.

/cc @westonruter @dvoytenko

[2020-04-23 21:29] gmajoulet opened #27997 "Keep the amp-story title attribute on bot mode."
Keep the `amp-story` title attribute on bot mode.

The `<amp-story title="...">` attribute is removed because it shows a tooltip when hovering any descendants.

https://github.com/ampproject/amphtml/blob/97099ce8bf4826a08d964e7a02da55a7641b1090/extensions/amp-story/1.0/amp-story.js#L434

However, we'd like to keep it when the user agent is a bot, using the `isBot()` method.

https://github.com/amp

[2020-04-23 21:30] gmajoulet commented on #27997
cc @mszylkowski do you have bandwidth to take this one on?

[2020-04-23 21:53] stephengardner commented on #27918
@choumx Yes, we're reloading the preview as an interim approach.  This is unfortunate of course for obvious UX reasons, so looking forward to a way to re-bind state programmatically.

[2020-04-23 22:04] zhouyx commented on #27994
Looks more related to the flaky test rather than the analytics triggering .

[2020-04-23 23:38] dvoytenko commented on #27239
Thanks so much, @Gregable!

[2020-04-23 23:48] zhouyx commented on #26229
If you want to integrate your CMP solution with AMP. For example
[code]
Please follow the CMP integration guideline here. https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md
Let me know if there's any question.

[2020-04-24 00:44] estherkim commented on #27972
Can we convert to Eastern or Pacific Time? Seems like it's in UTC.

For example, I created a cherry pick pick today, April 23, between 7:30 and 8:30 ET. The cherry pick instructions gave me a `20-04-24-*` branch name and the new release is `2004240001480`.

[2020-04-24 01:30] amanintech opened #28009 "[amp-story-player] Player should allow scrolling when possible"
I saw a use case where amp story can be embedded inside another site using iframe. Now When the user comes to this section he is totally stuck and can't scroll or move. This is because the AMP story tap suggestion restrict him from scrolling

Is there a way to remove tap suggestions when the user accidentally tries to scroll on the amp story?

Example URL https://twimbit.com/company/ on Android ch

[2020-04-24 02:01] gmajoulet opened #28010 "Write Story manual tests for audio elements"
Write Story manual QA for:
- `<amp-story background-audio=""`
- `<amp-story-page background-audio=""`
- `<amp-story-page background-audio="" auto-advance-after="<background-audio"` (no idea if that actually works but there's code written for this feature)
- `amp-audio` within a story page
- `auto-advance-after` an `amp-audio` within a story page

cc @ampproject/wg-stories

[2020-04-24 02:08] gmajoulet opened #28011 "🌸 Cherry-pick request for #28000 into #27908 (Pending)"
# Cherry-pick request

|       Issue       |       PR       | Beta / Experimental? |   Stable?    |     LTS?     | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---------------: | :------------: | :------------------: | :----------: | :----------: | ------------------------------------------------------------------------------- |
| No issue | #28000 |     **Y

[2020-04-24 03:50] choumx opened #28012 "Remove idleRenderOutsideViewport()"
Only used by `amp-ad-network-doubleclick-impl` and confirmed OK to remove by ads team.

[2020-04-24 06:12] BenBonBen opened #28014 "amp-carousel 's loop and autoplay display abnormal"
If you are using ‘amp-carousel’ ，and setting loop , autoplay, at least 3 items，it will Rolling incoherence,Vacant position,Can this be fixed to make rotations more coherent？

[2020-04-24 06:13] saraneus commented on #17742
We are creating a CMP for our publishers and would like to do an integration test locally before we actually create a pull request. How can we create a full working demo?

Our demo looks like the following so far:

`<amp-consent id="myUserConsent" layout="nodisplay">
    <script type="application/json">{
        "consentInstanceId": "consent-id",
        "consentRequired": true,
        "promptUIa

[2020-04-24 06:20] saraneus commented on #26229
We are creating a CMP for our publishers and would like to do an integration test locally before we actually create a pull request. How can we create a full working demo?

Our demo looks like the following so far:

[code]

In Dev tools I can see a iframe being created loading promptUISrc, which is the standalone CMP. No errors reported. **But the iframe is hidden and only a spinner is displayed**.

[2020-04-24 08:03] cpauwels commented on #27981
Pinging @gmajoulet since I think you're working on the remote attachment :)

[2020-04-24 08:03] tla-sirdata commented on #26229
Hi we would like to integrate our TCF v2 CMP to AMP and have some questions :
- Can you provide information about integration and the new `CONSENT_TYPE` field ?
- How are we supposed to add the configuration [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/0.1/cmps.js) ?
- Is there something to indicate v2 endpoints or should we create another config type (for exampl

[2020-04-24 08:37] micajuine-ho commented on #26229
Hi @saraneus. To integrate into AMP as a CMP, you need to follow the CMP integration guideline here. https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md

After following these steps, you can test locally with a consent element similar to this (replacing `_ping_` with your CMP name):
[code]

Another hint is that
[code]
should be [here under your new CMP n

[2020-04-24 08:49] micajuine-ho commented on #26229
Hi @tla-sirdata, thank you for your questions.

This is still in the works. Please refer to #27907, and we can continue the discussion there.

To integrate into AMP as a CMP, you need to follow the CMP integration guideline here. https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md
If you have any questions on these steps, please let me know.

I believe y

[2020-04-24 09:10] tla-sirdata commented on #26229
@micajuine-ho Thanks for your answers !

I'm talking about the CMP version a publisher choose to use.
Actually we're already integrated in AMP as a TCF v1 CMP and would like to add our TCF v2 version. I'm wondering if publishers will have to change the `<amp-consent>` type (from `sirdata` to `sirdata-v2`) or if they will be able to switch with a parameter in the JSON config.

Thanks

[2020-04-24 15:30] Enriqe commented on #28009
Hey, thanks for the report and example!

I'm trying to think of a good approach to solve for this use case. Perhaps allowing vertical scroll events via a url param that the iframe host sets. There are some complications with this, though: e.g. when there is a `page-attachment` aka "swipe up". In this case, should a swipe up scroll, or open the `page-attachment`?

Some iframe-based components in th

[2020-04-24 15:46] micajuine-ho commented on #26229
@tla-sirdata Thanks for the clarification.

As a CMP do you anticipate that having publishers using v1 and v2  will be a common use case for you?

Something that we could do would be to include a CONSENT_TYPE field within [the request](https://github.com/ampproject/amphtml/blob/master/extensions/amp-consent/integrating-consent.md#enter-fullscreen) to the CMP (in the checkConsentHref endpoint), tha

[2020-04-24 16:13] #27997 closed

[2020-04-24 16:14] #27986 closed

[2020-04-24 16:56] gmajoulet commented on #28009
There are a lot of precedents for this kind of issue, brought to us by years of carousel components trends :))

The biggest issue I see on the page you linked to, is that on swipe up nothing interesting happens: the page does not scroll, and the story does nothing interesting (the tap back tap next education is irrelevant to what the user is trying to do).

I believe the Story should behave just l

[2020-04-24 17:08] gmajoulet commented on #27981
That's very interesting, I completely forgot to test deep links to native apps. I'll work on a fix, thanks for the report!

cc @ampproject/wg-stories

[2020-04-24 17:59] danielrozenberg commented on #27972
UTC was a deliberate choice as it is never affected by DST. It's a 1:1,000,000,000 chance that someone will build two releases one after the in the one hour span during which DST ends, but why take the risk :P

[2020-04-24 18:03] zhouyx commented on #26229
I have similar questions.
1. Who decide which TCF version to support? Publisher or the CMP.
2. For your integration, will you hit the same endpoint and provide the same UI (via same url) for TCF v1 and v2 support?

[2020-04-24 18:55] tla-sirdata commented on #26229
1. The publisher decides when he chooses to switch to TCF v2 when he's ready to.
2. We've developed two new endpoints (check + UI) for the TCF v2 so both versions could live in parallel. We could use the same endpoints to serve both versions but in this case we'll need to update our current endpoints.

Also I don't know how AMP will deal with CCPA but we were thinking about detect geolocation thro

[2020-04-24 18:58] #27822 closed

[2020-04-24 19:02] jridgewell commented on #27743
Hi @priyankajam: The sizer element is necessary to give elements a responsive layout. If you don't want a sizer, you can try using `layout=fixed` instead.

[2020-04-24 19:02] #27743 closed

[2020-04-24 19:03] jridgewell commented on #27643
It appears this is a documentation bug, the `navigateTo` action does not support URL replacements. /cc @CrystalOnScript

[2020-04-24 19:10] zhouyx commented on #26229
`amp-geo` provides the geolocation support via `preset-us-ca` and `preset-eea`

It will work both ways. If you can reuse the same endpoint, then you can ask publishers to choose the TCF via the `clientConfig`. If you want to have two endpoints, then you can integrate `sirdata-v2` with us as a new CMP. But since the TCF v1 support will be deprecated soon, please let us know your deprecation plan wi

[2020-04-24 19:40] powerivq commented on #25190
@jeffjose to chime in.

[2020-04-24 19:44] 7playstudio1 opened #28021 "amp"
[**Please](url) only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing

[2020-04-24 19:46] 7playstudio1 opened #28022 "🚄 Release tracking issue for release <RELEASE_NUMBER>"
# Release tracking issue

This issue tracks release `[<RELEASE_NUMBER>](https://github.com/ampproject/amphtml/releases/tag/<RELEASE_NUMBER>)`

- [ ] Release <RELEASE_NUMBER> promoted to Experimental and Beta (opt-in) channels (<CL submit time>)
- [ ] Release <RELEASE_NUMBER> promoted to Experimental and Beta (1% traffic) channels (<CL submit time>)
- [ ] Release <RELEASE_NUMBER> promoted to Stable

[2020-04-24 19:59] #27793 closed

[2020-04-24 20:07] choumx commented on #28012
Self-assigning for weekend #mariekondo.

[2020-04-24 20:49] #27982 closed

[2020-04-24 21:09] demianrenzulli opened #28024 "<amp-next-page>: Toggle deep-parsing attribute, based on number of articles rendered"
## Describe the new feature or change to an existing feature you'd like to see

Provide a way of modifying the value of the `deep-parsing` attribute dynamically, based on the number of articles that were already rendered using the `<amp-next-page>` component.

For example: if you want to display 3 articles, you can have deep-parsing set to true in the first two, and false in the third.

## Describ

[2020-04-24 21:18] CrystalOnScript commented on #27643
Thanks for flagging, I've send up a fix!

[2020-04-24 21:26] caroqliu commented on #28014
Hi @BenBonBen thanks for filing this issue! Can you please include minimal sample code and describe the behavior that is expected compared to what is actually occurring? This will help us better investigate and resolve the issue. :)

[2020-04-24 22:02] kristoferbaxter commented on #28021
This appears to be an errant issue opened. Closing for now, please reopen if you can provide additional details.

[2020-04-24 22:02] #28021 closed

[2020-04-24 23:07] #27956 closed

[2020-04-24 23:12] rsimha commented on #27681
I found a way to implement the suggestion in https://github.com/ampproject/amphtml/issues/27681#issuecomment-613712669.

[2020-04-24 23:52] #27681 closed

[2020-04-25 01:30] #28022 closed

[2020-04-25 02:17] gmajoulet opened #28030 "Allow amp-list <template> within story grid-layer"
The `amp-list` component is allowed within `<amp-story-grid-layer>` but not `<template>`, which makes it impossible to use the component.

cc @ampproject/wg-stories

[2020-04-25 03:42] rsimha commented on #27844
Whatever you did seems to be working, because I can confirm that owners-bot team mentions are working as of this evening 😃

This will have to be `required` to guarantee a review from each of the working groups involved.

[2020-04-25 06:33] stephengardner commented on #23560
From an AMP-first perspective, many websites have a search/filter functionality which updates the URL so that it can be easily shared with filters pre-applied.

Similarly, all Shopify websites update the URL with ?variant={{variant.id}} so that when sharing a page with friends, the recipient auto-selects the proper variant.

For websites that do this, it does seem especially useful.

Is this inten

[2020-04-25 12:56] tla-sirdata commented on #26229
OK so it will be up to the publisher to implement geolocation and choose CCPA or GDPR.

I prefer not to multiply CMPs. Passing the version via the `clientConfig` sounds good to me as both endpoints receive it. We'll dig on this.

Thank you!

[2020-04-25 14:02] walling opened #28034 "`TIMEZONE_CODE` not working in `<amp-state>` src URL"
## What's the issue?

Including the [`TIMEZONE_CODE` variable](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#timezone-code) in the URL of `<amp-state>` doesn't produce the desired result. It seems that only the `TIMEZONE` part is replaced with the UTC offset and the `_CODE` remains in the URL, sent to the server.

## How do we reproduce the issue?

Example code:

[2020-04-25 16:03] cramforce commented on #27944
Is there a b/ for this?

[2020-04-26 01:45] choumx commented on #23560
Definitely possible, just hasn't been prioritized yet.

I think this can be done today with `amp-list` and a `QUERY_PARAM` variable substitution in the `src` attribute, though it would fire a network request.

[2020-04-26 11:11] hukaicheng commented on #27822
okay, thank you

[2020-04-26 14:53] walling commented on #11248
Another use case: I'm using the CSS trick with `:focus` and the sibling selector `+` for the input fields to give the label a focus color. However, for radio buttons inside a `<fieldset>` it's not possible to use. For fieldset, the `<legend>` element must be the first child and therefore I can't use the sibling selector `+` to match it in CSS. Having `focus` and `blur` events for all input element

[2020-04-26 16:26] joshm33333 opened #28041 "<amp-video muted is deprecated (according to search console) but still appears in WordPress plugin"
Got an email notification of an amp issue on my site from google search console. muted is deprecated, use autoplay instead. checked my page in wordpress and found the muted toggle in the gutenberg editor.

I have the official amp plugin. Should it not strip the muted tag automatically? Should I post this as a bug in the Gutenberg bugs forum?

[2020-04-27 04:25] choumx opened #28042 "Deprecate "owners" system"
Follow-up to #25428.

Once resource scheduling with IntersectionObserver is stable, we should be able to simplify/remove `owners-interface.js`/`owners-impl.js`, and usages in extension code.

Should have a minor performance benefit. Curious how much of a binary size code reduction we'd get from ripping it out.

Also, there are probably other codepaths that can eventually be removed as well, e.g. `

[2020-04-27 09:07] akanshgulati opened #28045 "<amp-date-picker>: locale support converts numbers to Devanagari language"
## Currently locale support in amp-date-picker converts the date from English letters to Devanagari language which is yet not understandable by large users.

It should have a modular level locale system or more customisation to only convert "months" and "week days" as particular locale i.e. "hi" and do not change the numbers in that format.

## Additional context

Screenshot of Devanagari numbers

[2020-04-27 10:35] ejulcsi commented on #27880
So then does this mean that the search console’s validator doesn’t support multiple tracks for a video?
We also tried the track element without closing the tag, however [it threw the same error](https://search.google.com/test/amp?id=69r42S_fM0FvbGy_jT5U8A). (please ignore the error with the key attribute, that’s a mistake).
Which may lead to assume that there is no possibility to have multiple tra

[2020-04-27 12:08] newmuis commented on #28042
What happens for cases where extensions need ownership that's not based on viewport intersection?

[2020-04-27 12:09] gmajoulet commented on #27944
This change is for the open source web player only, the SRP web player does
not have a sandbox.

On Sat, Apr 25, 2020 at 12:03 PM Malte Ubl <notifications@github.com> wrote:

--
Gabriel Majoulet  | Software Engineer | gmajoulet@google.com

[2020-04-27 13:17] caroqliu commented on #28045
Thanks for filing the issue! I'm not sure I understand -- what are you setting as the `locale` attribute on the component? It appears as though the expected result is English but the result is the screenshot.

[2020-04-27 13:38] cramforce commented on #27944
Ha, I thought it did, but it doesn't.

[2020-04-27 14:38] #27981 closed

[2020-04-27 14:55] rcebulko commented on #27956
Thanks for fixing and preventing this y'all!

[2020-04-27 15:18] peraltaf commented on #27548
@zhouyx Any suggestions?

[2020-04-27 15:20] choumx commented on #28042
Hm, can you share details of these?

/cc @ampproject/wg-runtime

[2020-04-27 15:48] osielccenviaflores commented on #17909
some update?

[2020-04-27 15:53] gmajoulet opened #28048 "Update story visibilityState to visible on user interaction"
If the player <> story messaging fails, the story could potentially be visible with `visibilityState=prerender`.
We should update the `visibilityState` to `visible` on user interaction (ie: tap), layout the story and navigate as expected, to mitigate the impact of a messaging initialization error.

This change is pending an internal privacy review.

cc @ampproject/wg-stories

[2020-04-27 15:57] jmooring opened #28049 "amp-imgur "imgur.com refused to connect""
## What's the issue?

The amp-imgur component fails (no content) when setting data-imgur-id to the ID displayed on imgur.com.

## How do we reproduce the issue?

[code]

## What browsers are affected?

* Google Chrome Version 81.0.4044.122 (Official Build) (64-bit)
* Probably all

## Which AMP version is affected?

`Powered by AMP ⚡ HTML – Version 2004172112280`

## How to fix the issue (note the

[2020-04-27 15:59] ampprojectbot opened #28050 "🚨 Error: Attempting to access a non-existant slide %s / %s NaN 7"
Details
---
**Error report:** [link](http://go/ampe/COutsdO_pqm6gQE)
**First seen:** Apr 8, 2020
**Frequency:** ~ 61,503/day

Stacktrace
---
[code]

Notes
---
`@rsimha` modified `src/log.js:308-311` in #21212 (May 16, 2019)
`@erwinmombay` modified `src/log.js:323-324` in #6581 (Dec 20, 2016)
`@rsimha` modified `extensions/amp-carousel/0.1/slidescroll.js:702-707` in #21212 (May 16, 2019)
`@choumx`

[2020-04-27 16:06] caroqliu commented on #28050
cc @jridgewell who made relevant changes recently and @alanorozco who is familiar with `amp-carousel`

[2020-04-27 16:13] #27588 closed

[2020-04-27 16:36] alanorozco commented on #27950
Hi @mahnunchik

I'm not sure I follow. What do you mean by making a vendor service "AMP-ready"?

For iframe resizing, [the link](https://amp.dev/documentation/components/amp-iframe/#iframe-resizing) you shared contains instructions on how to send the resize message. What instructions are missing?

[2020-04-27 16:42] Gregable commented on #27880
You need to correctly close your `track` elements. So in caroline's example, the correct version would be:

[code]

Note the closing `</track>` elements.

[2020-04-27 16:51] #26279 closed

[2020-04-27 17:02] morsssss commented on #26511
Yes! I think #27834 covers this well :)

[2020-04-27 17:02] #26511 closed

[2020-04-27 17:19] mahnunchik commented on #27950
Hi @alanorozco

Yep that instruction above shows us technical details of implementation.

I mean some kind of motivation for `iframe` owners:

1. Existing iframe may be embedded to AMP pages too.
2. Audience growth.
3. It is easy to implement.

It may be part of documentation https://amp.dev/documentation/components/amp-iframe/#iframe-resizing or even post in blog https://blog.amp.dev/

[2020-04-27 17:23] alanorozco commented on #27950
I see. I guess that would be similar to the [third-party vendors section](https://amp.dev/documentation/components/amp-video-iframe/#third-party-video-vendors) for `amp-video-iframe`.

@CrystalOnScript: Do you think we have an overarching story for 3rd party embeds here? Should we include a similar section on `amp-iframe` or would we like to consolidate somehow?

[2020-04-27 17:38] #26425 closed

[2020-04-27 17:39] mahnunchik commented on #27950
@alanorozco yep, similar enough. Maybe a bit more details about the benefits for vendor.

My use case: I'm website owner and I'm using 3rd party iframe on my website.

I'm writing to iframe vendor: Hi, could you please make your iframe to be AMP ready? Benefits for you and instruction here: [link]

[2020-04-27 17:42] westonruter commented on #21705
What's the status on v1.0 being made stable and not needing experiment opt-in? Is there a planned date for it being made stable? An issue arose with the WordPress AMP plugin (https://github.com/ampproject/amp-wp/issues/4628) in which v1.0 was automatically being used since it is the highest version in the validator spec, but the version is not stable so it shouldn't be used yet.

[2020-04-27 17:50] jeffjose commented on #21705
I dont currently have an ETA to provide. We're still working through the details, but things are moving slower than expected. For now, please continue using the experiment opt-ins.

[2020-04-27 18:15] #27109 closed

[2020-04-27 18:27] micajuine-ho commented on #28034
Hi @walling, `TIMEZONE_CODE` was removed from the platform variables and now is only available through amp-analytics (#26896). It looks like the documentation was not updated to reflect this change; sorry about that.

[2020-04-27 18:27] #28034 closed

[2020-04-27 18:28] #26091 closed

[2020-04-27 19:27] jridgewell commented on #27546
A few technical points:

I agree with @Gregable, we should actually prioritize the `<meta charset="utf-8">` as the first child with runtime/geo being directly after. I believe certain browsers will only scan the first few kb for this meta, before giving up.

We can loosen this to just "before the first `<script>`" tag, though. I actually like this approach, giving CMS the most flexibility.

I thin

[2020-04-27 19:28] newmuis commented on #28042
I think we might (or, perhaps, should) have both:

(a) Elements that _are_ on the screen but we want to artificially delay their layout (e.g. to mitigate race conditions between components)
(b) Elements that are _not_ on the screen but we want to force into their lifecycle early (e.g. to do custom preloading that is not managed by the runtime)

It's good for us to have semantic control over this r

[2020-04-27 19:58] samouri commented on #26873
So then:
- `layout=container` never allows content jumping, even with user interaction.
- `changeToLayoutContainer()`: allows for content jumping, but this action only works at all with a user interaction.

Would it make sense to relax the `layout=container` restrictions further so that it allows for content jumping if there were a user gesture? If we did that, then it could fully replace the use-

[2020-04-27 20:19] ampprojectbot opened #28056 "🚨 Error: Object.assign requires that input parameter not be null or undefined"
Details
---
**Error report:** [link](http://go/ampe/CN-f--C91a_heg)
**First seen:** Apr 21, 2020
**Frequency:** ~ 153/day

Stacktrace
---
[code]

Notes
---
`@choumx` modified `src/experiments.js:162-162` in #22796 (Jul 10, 2019)

**Possible assignees:** `@choumx`

[2020-04-27 20:24] ampprojectbot opened #28057 "🚨 Error: Cannot read property 'location' of null"
Details
---
**Error report:** [link](http://go/ampe/CO3-89SaqOK9dA)
**First seen:** Apr 21, 2020
**Frequency:** ~ 175/day

Stacktrace
---
[code]

Notes
---
`@jonathantyng-amp` modified `extensions/amp-analytics/0.1/config.js:75-110` in #23362 (Aug 5, 2019)
`@jonathantyng-amp` modified `extensions/amp-analytics/0.1/config.js:75-110` in #23362 (Aug 5, 2019)
`@jonathantyng-amp` modified `extensions/a

[2020-04-27 20:24] caroqliu commented on #28057
cc @zhouyx

[2020-04-27 20:27] ampprojectbot opened #28058 "🚨 Error: Cannot read property 'set' of undefined"
Details
---
**Error report:** [link](http://go/ampe/COnI47Pt2ovyowE)
**First seen:** Apr 8, 2020
**Frequency:** ~ 2,464/day

Stacktrace
---
[code]

Notes
---
`@jridgewell` modified `src/polyfills/custom-elements.js:687-687` in #17205 (Aug 3, 2018)
`@jridgewell` modified `src/polyfills/custom-elements.js:516-519` in #19305 (Nov 15, 2018)
`@jridgewell` modified `src/polyfills/custom-elements.js:332-

[2020-04-27 20:27] caroqliu commented on #28058
cc @jridgewell

[2020-04-27 20:52] mdmower commented on #27546
I'm wary of this suggestion because it leaves `urls.cdn` at its default value, which other scripts could then interpret to mean resources (additional css for example) should come from `cdn.ampproject.org` instead of `example.com`. I think this needs to be done in `config.js`, not just in `extension-location.js` for extension URLs generation.

[2020-04-27 21:15] gmajoulet opened #28060 "Explore using amp-state to compute a score from several quiz answers"
Quizzes are standalone components: you can create a 10 quizzes story and users answer each one of them individually, but can't get a "score" like "You got 8 questions right!".

We should explore using `amp-state` so publishers can compute a score from several quiz answers.

cc @ampproject/wg-stories @mszylkowski

[2020-04-27 21:24] caroqliu commented on #26873
@samouri Yes that's right: The ability to force resize on user gesture is a reasonable addition to `layout=container` and could functionally replace the `is-layout-container` and `changeToLayoutContainer` features. Still, it likely would not lead to their deprecation in `amp-list:0.1` due to their high usage today. In a future version of amp-list we could do away with these APIs entirely.

[Here's

[2020-04-27 21:26] ampprojectbot opened #28061 "🚨 Error: Cannot read property 'getBoundingClientRect' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CJ7W6suMl9HdcQ)
**First seen:** Apr 8, 2020
**Frequency:** ~ 2,622/day

Stacktrace
---
[code]

Notes
---
`@rsimha` modified `extensions/amp-base-carousel/0.1/dimensions.js:58-58` in #21212 (May 16, 2019)
`@powerivq` modified `src/service/mutator-impl.js:231-233` in #26638 (Feb 12, 2020)
`@jridgewell` modified `src/service/vsync-impl.js:470-471` i

[2020-04-27 21:27] ampprojectbot opened #28062 "🚨 Error: Cannot read property 'replace' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CIjnwp2ur9uU4gE)
**First seen:** Oct 4, 2019
**Frequency:** ~ 2,739/day

Stacktrace
---
[code]

[2020-04-27 21:29] jridgewell commented on #28056
Well this is strange, and kind of impossible. The `input` param (the first param to `Object.assign`) is `window[TOGGLES_WINDOW_PROPERTY]`, which is initialized to `Object.create(null)`.

[2020-04-27 21:29] ampprojectbot opened #28063 "🚨 Error: Cannot read property 'forEach' of null"
Details
---
**Error report:** [link](http://go/ampe/CL7ezYC38ZeoYQ)
**First seen:** Apr 8, 2020
**Frequency:** ~ 1,195/day

Stacktrace
---
[code]

Notes
---
`@renovate-bot` modified `extensions/amp-animation/0.1/runners/native-web-animation-runner.js:121-121` in #27350 (Mar 30, 2020)
`@Enriqe` modified `extensions/amp-story/1.0/animation.js:278-284` in #20847 (Feb 28, 2019)
`@renovate-bot` modifie

[2020-04-27 21:30] caroqliu commented on #28063
cc @ampproject/wg-stories

[2020-04-27 21:35] gmajoulet commented on #28063
@alanorozco can you look into this?

[2020-04-27 22:12] #28010 closed

[2020-04-27 22:28] ampprojectbot opened #28066 "🚨 Error: Cannot read property 'replace' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CIjnwp2ur9uU4gE)
**First seen:** Oct 4, 2019
**Frequency:** ~ 2,750/day

Stacktrace
---
[code]

[2020-04-27 22:28] rcebulko commented on #28066
Dupe; closing

[2020-04-27 22:28] #28066 closed

[2020-04-27 22:32] ampprojectbot opened #28068 "🚨 Error: Cannot read property 'replace' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CIjnwp2ur9uU4gE)
**First seen:** Oct 4, 2019
**Frequency:** ~ 2,744/day

Stacktrace
---
[code]

[2020-04-27 22:33] rcebulko commented on #28068
Dupe; closing

[2020-04-27 22:33] #28068 closed

[2020-04-27 22:36] rcebulko commented on #28061
/cc @powerivq

[2020-04-27 23:29] CrystalOnScript commented on #27950
I think there's definitely room for this type of documentation, or at least a space to link out to it. Do we have current instructions or vendors? How different would it be from whats on `amp-video-iframe`?

[2020-04-27 23:56] jridgewell commented on #28058
Looking at this, it's happening a lot with YaBrowser and YandexSearch (both Yandex browser in Russia). In fact, I'm reasonably certain all of the iOS UAs are being spoofed, because the error stack format is Chrome's (not Safari's). I don't have a Ya browser to test on, and I'm unwilling to install it.

[2020-04-28 03:15] cramforce commented on #25641
I deleted this code

[2020-04-28 03:15] #25641 closed

[2020-04-28 05:29] vishalvanpariya opened #28071 "amp-script: Support size-change requests from worker JS"
Hello,

I am using amp-script I define a width as auto and height=1000 but after user interaction, I want to change the height of the amp-script tag but not able to change it dynamically.

Please help me with this.

Thanks

Vishal

[2020-04-28 10:01] vishalvanpariya opened #28075 "scrollIntoView() is not working in AMP"
Hello,

I am using amp-script but some functions are not working.
i tried so many times and so many different ways for scrollIntoView() function but it's not working.

CODE:
[code]

UI as per above Code:
![Capture](https://user-images.githubusercontent.com/27823328/80474005-95babe80-8964-11ea-871f-9d51100b29a7.PNG)
![Capture1](https://user-images.githubusercontent.com/27823328/80474017-981d1880-89

[2020-04-28 11:53] tla-sirdata commented on #26229
Hi I'm testing a TCF v2 integration and have the following error when I give consent :

Here is the consent string sent to AMP : `COykPRuOykPRuBcABBENAjCsAP_AAH_AAAqIF5EX2S5OI2tjI2YdF5BEYYwfJxyigMgChgQIsS4NwIeFbBoGL2AAHBG4JCQAGBAEEACBAQIkHGBcCQAAgIgBiRCMQEmMCzNKBJJAggEbM0FACCVmHkHSmZCY7064O__TAvIgkwVJwCRIUAgBIsQIhDABAOIAABgCUEAAECFhoACAjYFAR6gAAAIDAACAAAAEEAAAIABAAAgIgAAAEBACACIBAAAAEaAhAABIEAEAJE

[2020-04-28 12:42] newmuis commented on #28060
Note that we could also implement this as a quiz-specofic component if we wanted.

There are other potentially interesting stateful things we could do with amp-state, but maybe they require more thinking.  I think we should explore both, but just wanted to call out that we have the option of just doing something wuiz- or reaction-specific.

[2020-04-28 13:21] caroqliu commented on #28075
`scrollIntoView` is [not yet supported](https://github.com/ampproject/worker-dom/blob/master/web_compat_table.md) as an [allowed API](https://amp.dev/documentation/components/amp-script/#allowed-apis) of `amp-script`. Marking this as a FR instead of a bug. cc @choumx @kristoferbaxter

[2020-04-28 13:44] caroqliu opened #28076 "scrollToTop after Find-in-Page expands amp-accordion section"
## What's the issue?

Note: This issue is filed regarding an experimental feature.

The first time an `amp-accordion > section` expands on `rendersubtreeactivation` event activation, the page scrolls the user position to the top of the page. The second time that the user will `Cmd/Ctrl+F` back to it, they get scrolled to the appropriate section where the text is located in the newly-expanded secti

[2020-04-28 15:12] mszylkowski commented on #28060
Definitely, if we wanted to do it on the frontend side, it would require an important setup but wouldn't be impossible with the current quiz/poll implementation. I could draft a "results" component without much thought and revise it. But we might want to lock page advancement until the quiz is responded for example, or not show the results page until all quizzes are answered.

Also, a "results" pa

[2020-04-28 15:52] wassgha commented on #27602
Would love it if @cramforce presented #27781 in relation to #27776

[2020-04-28 15:57] rcebulko commented on #21116
@calebcordry I can confirm that `dev().error()` reports an error, while `devAssert` gets removed. Is this a user error in configuration, ie. the publisher is trying to use the element the wrong way? If so, we can make this a `user().error()`. Otherwise, would the suggestion above be a reasonable fix? If you can confirm, I'll throw a PR together with either resolution

[2020-04-28 16:02] ampprojectbot opened #28077 "🚨 Error: Unexpected identifier"
Details
---
**Error report:** [link](http://go/ampe/CLex_MCZz6CMPA)
**First seen:** Jun 13, 2018
**Frequency:** ~ 4,495/day

Stacktrace
---
[code]

[2020-04-28 16:03] rcebulko commented on #28077
This error appears to only occur on "special" user-agents, like Facebook/Instagram web-views and some "optimized" browser apps. I'm guessing they try to do some optimization or script injection, which can cause this error for some pages. We're not able to get any additional debug info, and it's extremely unlikely this is an AMP problem, so I'm muting this in Error Reporting.

[2020-04-28 16:03] #28077 closed

[2020-04-28 16:04] ampprojectbot opened #28078 "🚨 Error: null is not an object (evaluating 'a.removeAttribute')"
Details
---
**Error report:** [link](http://go/ampe/CKOp8Naq8bbw7AE)
**First seen:** Apr 8, 2020
**Frequency:** ~ 508/day

Stacktrace
---
[code]

Notes
---
`@jridgewell` modified `src/style.js:241-246` in #17988 (Sep 19, 2018)
`@powerivq` modified `src/service/mutator-impl.js:231-233` in #26638 (Feb 12, 2020)
`@jridgewell` modified `src/service/vsync-impl.js:470-471` in #20836 (Feb 14, 2019)

**Po

[2020-04-28 16:08] tannerbaum commented on #24326
I'm also stuck at this point (on top of the cache not respecting the max-age header). I suppose the other issues suggest that the problem could be that the public key isn't robotable, but I definitely made an effort to make sure that's not the case.

@morsssss did you ever find an issue in your investigation?

[2020-04-28 16:08] caroqliu commented on #27779
Error appears to still occur: go/ampe/CM_kydGTz6i3FA

[2020-04-28 16:13] rsimha commented on #27046
Initial attempts at implementing this were blocked by Chrome's built-in security features that prevent things like programmatically launching the debugger or clicking on `chrome://` links.

The remaining pieces (e.g. launching a new chrome window) were not considered valuable enough to automate, so I'm closing out this issue.

[2020-04-28 16:13] #27046 closed

[2020-04-28 16:29] choumx commented on #28071
Can you share the amp-script code snippet you're using?

[2020-04-28 16:38] #27881 closed

[2020-04-28 16:42] mdmower commented on #27546
@Gregable @jridgewell @sebastianbenz  I don't think changes are necessary to our current self-hosting pattern (meta tags before scripts) and I suggest we tone-down the change request for the validator.

The validator is concerned with making sure AMP pages are ready to be cached. Since the validator could expect that the AMP cache transformer would perform certain cleanup, fewer adjustments to val

[2020-04-28 17:17] #28011 closed

[2020-04-28 17:25] gmajoulet commented on #27779
Thanks Caroline!
I can't repro manually, I'll keep monitoring this over the next 24h.

[2020-04-28 17:35] wassgha commented on #28041
/cc @westonruter

[2020-04-28 17:37] choumx commented on #28042
I think a configuration API to tweak the eagerness/laziness of resource loading could make sense. Please share any concrete use cases you have in mind.

[2020-04-28 17:56] gmajoulet commented on #28042
Most of our use cases would be fixed by the new intersection observer methods (nested scrollboxes).
There is one cause where we use the owners system to pause an AMP component as we navigate to the next page. We could apply a `display: none;` and wait for the runtime to automatically pause it, but having a way to control this programmatically makes more sense.

This falls into the same category th

[2020-04-28 17:57] caroqliu opened #28081 "🚄 Release tracking issue for release 2004252135000"
# Release tracking issue

This issue tracks release [`2004252135000`](https://github.com/ampproject/amphtml/releases/tag/2004252135000)

- [x] Release `2004252135000` promoted to Experimental and Beta (opt-in) channels (1:57 PM, Apr 28, 2020 UTC-4)
- [x] Release `2004252135000` promoted to Experimental and Beta (1% traffic) channels (1:15 PM, Apr 29, 2020 UTC-4)
- [x] Release `2004252135000` promo

[2020-04-28 18:22] #28030 closed

[2020-04-28 18:53] #27190 closed

[2020-04-28 19:01] westonruter commented on #28041
The “Muted” toggle is part of the WordPress core block editor (Gutenberg) and is distinct from the “Autoplay” toggle:

It's not clear to me how the AMP plugin should convert such videos into `amp-video`, since the block editor allows for non-muted autoplayed videos. I understand that `amp-video` always makes autoplayed videos muted, so is the idea that the “Muted” toggle should he removed when “Au

[2020-04-28 19:05] micajuine-ho commented on #27927
Closing this now, feel free to reopen with any questions or concerns :)

[2020-04-28 19:05] #27927 closed

[2020-04-28 19:29] akanshgulati commented on #28045
@caroqliu We are setting **"hi"** as locale attribute value. So my concern it that the letters coming with the "hi" locale is in Devanagari language, i.e. `१` coming for digit `1` as in English. I want to request that in `amp-date-display` digits should come as English digit instead because currently Devanagari, १ letters are not understandable by much of the crowd even after using `hi` locale val

[2020-04-28 19:46] #28063 closed

[2020-04-28 19:47] caroqliu commented on #28045
Thanks for describing the issue further. Unfortunately the `amp-date-picker` relies on [moment.js](https://momentjs.com/) for locale support and we cannot special case this value at the component layer. It looks the [moment.js implementation](https://github.com/moment/moment/issues/383#issuecomment-7764248) describes these numerals to be working as intended in Devanagari.

Closing the issue now, t

[2020-04-28 19:47] #28045 closed

[2020-04-28 19:51] rcebulko commented on #18210
Similar to https://github.com/ampproject/amphtml/issues/28077 . All the referrers for this error seem to be NSFW websites. We're not able to get any additional debug info, and it's extremely unlikely this is an AMP problem, so I'm muting this in Error Reporting.

[2020-04-28 19:51] #18210 closed

[2020-04-28 19:58] jmooring opened #28087 "amp-facebook: Cannot play videos in fullscreen mode"
## What's the issue?

The fullscreen button in the video controls does not work.

## How do we reproduce the issue?

Fail:

[code]

Fail:

[code]

Pass (copy + paste of embed code from facebook.com):

[code]

## What browsers are affected?

* Google Chrome Version 81.0.4044.122 (Official Build) (64-bit)
* Perhaps all

## Which AMP version is affected?

`Powered by AMP ⚡ HTML – Version 200417211228

[2020-04-28 20:00] jpettitt commented on #27754
How about we add an `alwayAuthFreeContent` flag to the config and if it's present treat `isAccessibleForFree` as false.  That's lets us preserve the structured data semantics and still get the auth data.  It would then let the page render optional content to non-contributors (eg calls to action).  Setting this flag and the `alwaysGrant` flag at the same time should log a warningr and `alwaysGrant`

[2020-04-28 20:10] amanintech commented on #28009
Awesome,
I wonder if we can offer a parameter property like `scroll=true` that lets the user decide what they want to do with the scroll. Other way around is to detect the presence of scrollY and desirable the Tap suggestion.
Let me know if I can contribute in any way

[2020-04-28 20:14] mykhailohoy commented on #24583
Is there a workaround?

[2020-04-28 20:29] joshm33333 commented on #28041
Original poster here
Just an idea, why not just strip the muted tag if the user turns on both autoplay and muted? No need to confuse the user with more rules to remember

[2020-04-28 20:35] westonruter commented on #28041
@wassgha is this the correct understanding of `amp-video` and `muted`? Does `autoplay` indeed imply `muted`? If so, then we could indeed omit the `muted` attribute when the `autoplay` toggle is on. The only problem then is what to do in the case of a video having `autoplay` _on_ and `muted` _off_. Should we force `muted` to be enabled in the UI (if we can't hide the toggle or disable it altogether

[2020-04-28 20:41] choumx commented on #28042
I actually think pause/resume is unaffected by owners (there's just an extra API for it in owners-interface.js), so we should be ok.

First-class support for "pausing videos beyond viewport distance X" would be possible with IntersectionObserver and seems better than status quo. :)

[2020-04-28 21:43] ChrisAntaki commented on #27754
Sounds good to me! What do you think, @juanmadurand ?

[2020-04-28 21:48] caroqliu commented on #22162
Fixed by #27461

[2020-04-28 21:48] #22162 closed

[2020-04-28 21:51] micajuine-ho commented on #27329
Closed via #26819

[2020-04-28 21:51] #27329 closed

[2020-04-28 21:53] caroqliu commented on #13897
Closing this issue as there is a workaround.

[2020-04-28 21:53] #13897 closed

[2020-04-28 21:53] caroqliu commented on #12315
Handing over to @alanorozco who has more context

[2020-04-28 22:14] wassgha commented on #28041
@alanorozco  do you have the context for why we deprectated `muted`?

[2020-04-28 22:31] zhouyx commented on #28057
Interesting, the error comes from
https://github.com/ampproject/amphtml/blob/6ba354b5096f6c86aa700ebfcbde530c9e28db7b/extensions/amp-analytics/0.1/config.js#L81-L85

Don't know why `this.win_` is `null`

[2020-04-28 22:40] chiqui3d commented on #25790
I haven't done it yet, the client hasn't asked me about it in a while and I haven't done it.

[2020-04-28 23:36] rsimha commented on #27722
@choumx still seeing a double save?

Did you check your local VSCode settings as described in https://github.com/ampproject/amphtml/pull/27738#issuecomment-613606564?

[2020-04-29 01:06] zhouyx commented on #26229
Thanks for raising the issue. Yes, there's plan to expand the storage limit. We are still determining the desired storage space.
More context on the AMP localstorage policy can be found [here](https://github.com/ampproject/amphtml/blob/master/spec/amp-localstorage.md#storage-policy).

[2020-04-29 01:38] choumx commented on #27722
Yea, I actually deleted my local `settings.json`. I think @samouri was seeing this too.

[2020-04-29 02:20] rsimha commented on #27722
Can y’all post details for which IDE you’re using, what your local settings look like, what build steps you’re running, and what the `gulp` logs look like? I’m certain this is due to a double-save , but am at a loss for why your workflow results in one.

[2020-04-29 02:42] mrjoro commented on #27602
@cramforce are you up for presenting? :)

[2020-04-29 02:54] cramforce commented on #27602
Sure. But it should be short.

On Tue, Apr 28, 2020 at 7:42 PM Joey Rozier <notifications@github.com>
wrote:

[2020-04-29 04:24] vishalvanpariya commented on #28075
@caroqliu thank you
is there any other way which will work?

[2020-04-29 05:27] velikov16 commented on #19133
I am using PayPal in my AMP website - use a simple ahref line and include the email paypal button. You can't use dropdown feature or writing text.

[2020-04-29 06:11] aurbanczik commented on #19133
Thank you - what's the website ?

[2020-04-29 06:19] vishalvanpariya commented on #28071
Hi, choumx,

Here I am adding my whole code.

[code]

as per the above code, I have added 2 buttons which add some p tag in amp-script.

![Capture1](https://user-images.githubusercontent.com/27823328/80565514-44670980-8a0e-11ea-8e1b-914473f6c4cd.PNG)
![Capture2](https://user-images.githubusercontent.com/27823328/80565517-4630cd00-8a0e-11ea-8466-1df12896af94.PNG)
![Capture](https://user-images.gith

[2020-04-29 06:21] velikov16 commented on #19133
https://bgwines.eu/product-listing-redwine.html

I make a paypal button Add to cart, after that I take the email type of the button and put it inside my a href:

<div class="ampstart-btn ampstart-btn-secondary caps md-ml4">
 <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RQMN6GT7Y3SVE" target="_blank">Add to basket</a>
 </div>

You can do and a Check the basket butto

[2020-04-29 06:23] aurbanczik commented on #19133
Thank you !

[2020-04-29 06:25] cathyxz commented on #26873
To this day, I still think there should be a separate rendering component (yes layout container, yes binding source, blah blah blah) and list component (and build infinite scroll on top of it w/o this container stuff)...

One point of subtlety though. I think the initial idea of guarding against content jumping was about the case where the user was looking at something *below* the list / load-more

[2020-04-29 08:35] joshfg opened #28095 "I2I: Permutive component for dynamic ad targeting"
## Summary

Permutive is a Data Management Platform (DMP) for publishers. We have a strong focus on privacy and first-party data: enabling publishers to use their data to power advertising and personalization in real-time, across every device, browser and environment, while respecting user privacy.

One of the essential capabilities we provide publishers is the ability to dynamically target their

[2020-04-29 08:40] smatoox opened #28097 "amp-next-page - max-pages and recommendation-box"
## What's the issue?

I see strange behaviors with recommandation box for amp-next-page :

### **1. List of entries and max-pages attribute**
For example i'm using a json with 4 entries and I have an attribute `max-pages="2"`.
Render displays correctly my 2 entries.
But I have not the `recommandation box` displayed for 2 last entries.

Is it normal ? Should we display rest of list in `recommandati

[2020-04-29 09:51] rares-mihai-preda commented on #26593
l2l closed. Details: Design Review 2020-04-08 20:00 UTC (Connatix Story Player, AMP testing & release quality, wg-performance) #27599

[2020-04-29 09:51] #26593 closed

[2020-04-29 10:04] abelerdesz commented on #27880
@Gregable

If you paste your example into https://validator.w3.org/nu/#textarea, you'll see that it marks the closing `</track>`s with a "stray end tag" error.

This is consistent with W3's examples:

https://www.w3.org/TR/2011/WD-html5-author-20110809/the-track-element.html

[2020-04-29 11:52] Malvoz commented on #12209
@aghassemi

The W3C [Maps For HTML Community Group](https://www.w3.org/community/maps4html/) is iterating over use cases and requirements for standardizing maps on the web - while not complete - the draft report lists [capabilities](https://maps4html.org/HTML-Map-Element-UseCases-Requirements/#map-viewers) (of a potential native map viewer) required for [the use cases](https://maps4html.org/HTML-M

[2020-04-29 12:27] Inaru52 opened #28099 "Text selection not working"
## What's the issue?

While browsing pages with AMP on mobile I was unable to select the text and open activity button (Copy, Paste, Web Search, Translate).
I did it successfully as the first time after opening the page. When trying for the second time, the gestures 'were not read' by the page. No text was selected/highlighted. The text did not react for the gestures. When I cleared out the AMP pa

[2020-04-29 13:21] Enriqe commented on #27722
IDE: VSCode

Local settings:
[code]

Build steps:

1. Running gulp
2. Visiting local sample which includes exensions
3. Extensions are lazily-built
Error log:
[code]

A workaround that I've found for this is running gulp, then visiting `localhost:8000`, waiting for amp to finish building, and THEN visit sample page that causes extensions to be lazily-built.

This only works for some time, though.

[2020-04-29 13:24] #27886 closed

[2020-04-29 13:46] chasefinch commented on #26873
@cathyxz I'd think that most size-changing user gestures wouldn't trigger network loads at all, but would be more like expanding elements, where the content is already loaded and the jump was instant. What kind of list-content interactions would cause a delayed load?

[2020-04-29 14:16] gmajoulet commented on #27779
I'm not 100% sure how to read this but it looks like the errors come from old 1p releases. It doesn't look like it happens in stable today, and I double checked that the faulty PR was correctly reverted.

[2020-04-29 14:52] caroqliu commented on #25790
Is it possible to nest with this structure:
[code]

[2020-04-29 14:58] caroqliu commented on #23029
Somewhat related: In #26152 we supported `Ctrl + Enter` form submission on `<textarea>` elements. I don't see why we can't extend this to `<input>` elements to allow submission via keystroke to avoid the blur that occurs by clicking a button.

A workaround for your case today could be to convert your `<input>` elements to `<textarea>` to get the feature now, otherwise to implement the original fea

[2020-04-29 15:10] paulrutter commented on #27930
@micajuine-ho The PR has been pushed.

[2020-04-29 15:10] caroqliu commented on #22353
[code]

[2020-04-29 16:03] choumx commented on #27722
I deleted everything in my local `settings.json` and still intermittently get `Uncaught SyntaxError: Unexpected token ']'` after save/rebuild.

[2020-04-29 16:09] westonruter opened #28103 "amp-form: Presence of verify-xhr breaks forms on pages served by AMP Cache"
## What's the issue?

Given the `amp-form` example: https://preview.amp.dev/documentation/examples/components/amp-form#verification-username

There is this “Form Verification: as-you-go” example:

Normally if I type “error” then the result is:

But putting something something else in the field and pressing “Check” results in:

![image](https://user-images.githubusercontent.com/134745/80618434-3b6b

[2020-04-29 16:14] westonruter commented on #28103
cc @ampproject/wg-caching

[2020-04-29 17:07] sharkcrayon commented on #22297
I'm coming across the same issue when trying to use `position: fixed` within an AMP email for a different purpose (a sticky header, and always-visible-within-the-email success and error messaging).

I think this comes down to what "fixed" means conceptually within an email, as well as what the "viewport" conceptually means in this context.

On a webpage, the viewport is the inside of the browser w

[2020-04-29 17:32] alanorozco commented on #28041
`autoplay` indeed implies `muted`. Explicit `muted` [was deprecated](https://amp.dev/documentation/components/amp-video/#attributes) because we wish to enforce for all autoplay videos (and avoid unmuted ones!).

If you set `muted` on an `amp-video` it will have no effect. The Wordpress UI should handle this if possible in some of the ways @westonruter mentioned.

We can additionally trigger a user

[2020-04-29 17:41] westonruter commented on #28041
Where is the current `muted` deprecation warning from GSC coming from? I don't see it in the validator anywhere.

[2020-04-29 17:52] westonruter commented on #28041
I've filed an issue for the plugin to better handle the Autoplay and Muted toggles: https://github.com/ampproject/amp-wp/issues/4635

[2020-04-29 18:07] westonruter commented on #18634
A new Image Compare block in the popular Jetpack plugin for WordPress has an option for vertical orientation which is currently blocked on AMP pages because the `amp-image-slider` component only supports horizontal. See https://github.com/Automattic/jetpack/pull/15598.

[2020-04-29 18:33] sharkcrayon commented on #22297
This is also how I'd expect `amp-sidebar` to behave: That it would always be visible, with its top anchored to either the top of the email or the top of the viewport (if the top of the email was scrolled out of visibility), and its bottom anchored to the bottom of the email or the bottom of the viewport (if the bottom of the email was scrolled out of visibility). Within that area, it would be inte

[2020-04-29 18:38] #28058 closed

[2020-04-29 19:03] westonruter commented on #28103
cc @ampproject/wg-ui-and-a11y

[2020-04-29 19:14] alanorozco commented on #28041
@westonruter I'm also unsure about the origin of the GSC warnings. If I understand correctly, they should go away as long as the Wordpress plugin removes `muted` from all `<amp-video>` tags?

[2020-04-29 19:17] rsimha commented on #27722
Thanks for the additional info, folks. Here's my analysis of the situation.

With #27738, I'm certain we've eliminated double builds due to hitting `Ctrl+S` more than once, via the debounce logic.

In @Enriqe's logs (https://github.com/ampproject/amphtml/issues/27722#issuecomment-621200908), I noticed that the local example page is being fetched _**before**_ `amp.js` is pre-built during server sta

[2020-04-29 19:21] caroqliu commented on #27844
@ampproject/wg-ads-reviewers Thoughts? Y'all would get many more PR review requests for your enabled components.

[2020-04-29 19:31] calebcordry commented on #27844
Sorry I don't fully understand, we would get notified for every change to a component that might be used in amphtml ads?

[2020-04-29 19:41] powerivq commented on #27844
That seems like too many PRs for ads-wg to be able to handle, so I do not know how much it would actually help. Maybe we should have a new Github group and look them up once a week. That could be the right balance. @calebcordry ?

[2020-04-29 19:50] caroqliu commented on #27844
@calebcordry Yes that's right, the idea is that while UI changes to components have a high threshold for quality web experiences, we cannot exhaustively account for quality integrations. i.e. If one format relies on `amp-foo` to do something implicitly, UI does not necessarily know to keep track of this, much less that we should uphold this guarantee.

It does sound like you prefer `notify` to `re

[2020-04-29 19:52] calebcordry commented on #27844
Yeah that sounds like a reasonable tradeoff to me. I could see this being basically every PR.

[2020-04-29 19:59] #28041 closed

[2020-04-29 20:15] gremz opened #28107 "iOS Safari v13.4 amp-access-iframe ITP issue"
## What's the issue?

Safari introduced further changes to ITP (Intelligent Tracking Prevention) implementation, at this point fully blocking Third-Party cookies on iOS Safari starting with v13.4. https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/

The issue introduces issues to these newer version of Safari when using the `amp-access-iframe-api`. The iframe is now unable to

[2020-04-29 20:21] #12078 closed

[2020-04-29 20:27] mrjoro commented on #27602
**font-timeouts**
- if you don't explicitly specify the font-display, we're going to default to the fallback if it takes a long time; should we do this behavior for everything?  no, because not everything has a fallback
- do we need to document this fallback on amp.dev?  probably not, it's more of an implementation detail
- is 2500 too long?  we can updated it as needed
- should we bail out from g

[2020-04-29 20:27] #27602 closed

[2020-04-29 20:29] mrjoro commented on #27600
@vderosa can you add notes from the design review here when you get a chance?

[2020-04-29 20:29] #27601 closed

[2020-04-29 20:32] Gregable commented on #27880
Ah, you are correct. I forgot that `<track>` was a [void element](https://html.spec.whatwg.org/multipage/syntax.html#elements-2).

The trailing `/` in the track tags is still unnecessary, but the closing `</track>` tags are also invalid.

It doesn't look like the Search Console validator is aware that `<track>` has been added to the list of void elements, which is the main issue, so re-opening.

I

[2020-04-29 20:34] Gregable commented on #27880
Tracked internally with Google as #134501117

[2020-04-29 20:39] cathyxz commented on #26873
amp-bind can trigger a change in [src], right? It's actually not uncommon to use this (a button that triggers a src rebind) for server side filtering (e.g. ali express search). I think amp-list (currently) also has a reload feature that's either an action or a bindable attribute (don't remember specifics).

[2020-04-29 20:41] mrjoro opened #28108 "Design Review 2020-05-20 20:00 UTC (additional ads creatives support, amp-consent UI for TCFv2, wg-access-subscriptions update)"
Time: [2020-05-20 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=05&day=20&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200520T200000Z/20200520T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-04-29 20:41] mrjoro opened #28109 "Design Review 2020-05-28 00:00 UTC (cancelled)"
Time: [2020-05-28 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=05&day=28&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200528T000000Z/20200528T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-04-29 20:41] mrjoro opened #28110 "Design Review 2020-06-03 15:30 UTC (Africa/Europe/western Asia)"
Time: [2020-06-03 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2020&month=06&day=03&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20200603T153000Z/20200603T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2020-04-29 20:47] mrjoro commented on #28108
The Access & Subscriptions Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-access-subscriptions @jpettitt

[2020-04-29 20:48] mrjoro commented on #28109
The Ads Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-ads @lannka

[2020-04-29 20:49] mrjoro commented on #28110
The AMP4Email Working Group will be presenting their [periodic update](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-amp4email @choumx

[2020-04-29 21:09] zhouyx opened #28112 "Consent: Allow vendors to listen to user consent update"
Users can resurface the consent dialog and change their choices. AMP supports this via the `postPromptUI` or the `prompt` action.

AMP Consent also needs to provide callback to vendors to access any update.

[2020-04-29 21:22] rsimha commented on #24487
Reopening this due to a higher than normal incidence of stalled builds on Travis:

![image](https://user-images.githubusercontent.com/26553114/80648013-6e83f000-8a3d-11ea-9473-3e6af8a70350.png)

There are documented instances of concurrency problems with our custom closure compiler `runner.jar`. Actually solving this problem needs us to eliminate `AmpPass.java` (#24047), which is currently blocked

[2020-04-29 21:28] rsimha commented on #23960
@jridgewell @erwinmombay Can we prioritize this fix and unblock #24047? Our inability to remove `AmpPass.java` is resulting in cascading build problems, because (as discovered by @kristoferbaxter), `runner.jar` does not reliably run in a concurrent fashion due to the code in `AmpPass.java`.

[2020-04-29 21:52] rcebulko opened #28116 "amp-slider interactions tests flaking on Travis"
Sample builds: https://travis-ci.org/github/ampproject/amphtml/jobs/681051172 , https://travis-ci.org/github/ampproject/amphtml/jobs/681006253

The exact test varies, but this family of tests seems to be semi-regularly encountering timeout issues. The flakes appear across Single Pass Tests, Remote Tests, and End To End Tests.

/cc @ampproject/wg-ui-and-a11y since I don't see any recent meaningful

[2020-04-29 21:57] rcebulko commented on #28116
Test skipped in https://github.com/ampproject/amphtml/pull/28113#event-3286591004

[2020-04-29 22:01] newmuis opened #28117 "Reintroduce <amp-story-cover>"
Practically speaking, we want different behavior for the first page of stories, for a number of reasons:

1. The first actual page of the story should be a "cover page" containing information about the story, such as it's title, publisher, publication date, etc.
2. The first page of a story that the user views (which is not necessarily the first page of the story, since people can deep link to oth

[2020-04-29 22:02] kristoferbaxter commented on #23960
I’m out on paternity leave, but started work on a refactor of the Babel transforms necessary to complete this transition.

Note, once complete you can use the async pool implementation (used internally in filesize and open sourced separately) and remove nailgun. Those combined improve compilation times for everyone significantly.

All together on a sample machine it was a 12x reduction in build ti

[2020-04-29 22:05] rcebulko commented on #28116
@wassgha edited recently, do you know who the owner of this component is?

[2020-04-29 22:08] wassgha commented on #28116
This was an intern project, the two interns who worked on it are no longer actively contributing unfortunately

[2020-04-29 22:38] choumx commented on #27844
IIUC, I don't think the proposal is tenable at scale. The same problem would apply to `wg-amp4email` for components used in AMP4EMAIL.

I'm also wary of extrapolating a new bureaucratic process from a single data point.

One practice I'd recommend (which I think would've been possible in the amp-social-share bug) is for API authors to survey for internal usages via code search. Creating UI compone

[2020-04-29 22:49] rsimha commented on #28116
Reopening because the skip PR did not actually fix this issue.

Logs for posterity, since the original Travis builds may have been restarted:

[code]

[2020-04-29 23:02] #27722 closed

[2020-04-29 23:05] rsimha commented on #24487
5 out of 5 invocations of `gulp dist` on `master` were green after closure concurrency was reduced by #28114.

https://travis-ci.org/github/ampproject/amphtml/jobs/681230265
https://travis-ci.org/github/ampproject/amphtml/jobs/681236023
https://travis-ci.org/github/ampproject/amphtml/jobs/681236195
https://travis-ci.org/github/ampproject/amphtml/jobs/681237191
https://travis-ci.org/github/ampproje

[2020-04-29 23:06] AndrewKGuan opened #28120 "Google OneTap support for AMP"
[OneTap](https://developers.google.com/identity/one-tap/web) enables super quick login flow for users.  It would be nice to have it also available on AMP as well.

[2020-04-29 23:11] rsimha commented on #27722
@choumx @Enriqe I was able to reproduce the problem (loading the example page before pre-build was triggering an additional lazy-build). This is now fixed via #28106.

[2020-04-29 23:12] zhouyx commented on #27548
Apology for the late response.

Linker
That's expected, AMP doesn't append the raw user id to the query param, instead the value is encoded. Please refer to the doc [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/linker-id-receiving.md) to decode it on the receiving side.

data-amp-addparams
A variable need to be specifically allowed to be passed as params. Please

[2020-04-29 23:16] choumx commented on #27722
Thanks for looking into this again! I suspect there may be other triggers since I've noticed this after only a few save/rebuilds, but I'll reopen with more details if I come across it again.

[2020-04-30 00:11] rsimha commented on #27786
**Update:** With recent changes, we've arrived at a state where the java validator tests are not guaranteed to pass all the time on `master`.

With this in mind, here is what remains to be done:

- [ ] Fix #27939
- [ ] Use an means other than `amphtml` Travis builds to deploy the java validator (https://github.com/ampproject/amphtml/issues/27786#issuecomment-614264183)

Both these items are under

[2020-04-30 00:12] rsimha commented on #27093
**Update:** With recent changes, we've arrived at a state where the java validator tests are not guaranteed to pass all the time on `master`.

With this in mind, here is what remains to be done:

- [ ] Fix #27939
- [ ] Find a means other than `amphtml` Travis builds to deploy the java validator (https://github.com/ampproject/amphtml/issues/27786#issuecomment-614264183)

Both these items are under

[2020-04-30 00:21] GeorgeLuo commented on #27093
ack. thank you @rsimha. This works, actively working, this engine change is sizable and I need to be mindful of prioritizing it.

[2020-04-30 00:26] rsimha commented on #27703
Co-assigning to Erwin, in case this needs accompanying changes to the ESM code (e.g. the proposed `--module` and `--nomodule` flags for `gulp dist`).

[2020-04-30 00:30] rsimha commented on #27566
Bumping this issue since it currently makes E2E logs difficult to read, especially when there are other failures. Let us Infra folks know if we can help 😃

![image](https://user-images.githubusercontent.com/26553114/80659892-3f2eac80-8a58-11ea-8c6c-1cddeeb56b6b.png)

[2020-04-30 00:38] vderosa commented on #27600
Notes:
  - Deferred flow design seemed OK, there were some open questions on the changes to `pingback` described in the design.
  - After offline discussion, the design has been changed to directly call the flow without relying on pingback.

[2020-04-30 00:46] rsimha commented on #26852
I think the current entanglement comes from printing the per-browser start and finish events inline, instead of saving them for the end. (The reason this was done earlier was to help debug stalled builds, since it was otherwise hard to know which browsers were in the process of running tests during a stall.)

With the sleuthing done by @rcebulko in identifying the cause of our stalled Sauce Labs r

[2020-04-30 00:52] rsimha commented on #24550
What we have in place today is an alerting mechanism at the top of `amphtml` for any security vulnerabilities in one of our dependencies:

![image](https://user-images.githubusercontent.com/26553114/80660868-f0364680-8a5a-11ea-823a-e1c8b7b32330.png)

These alerts are typically dealt via [renovate upgrades](https://github.com/ampproject/amphtml/pulls?q=is%3Apr+author%3Arenovate-bot+is%3Aclosed), or

[2020-04-30 01:06] rsimha commented on #27048
Some work has been done to fix our integration test infrastructure on IE11 (#27796) and add more tests (#27785). However, this is just a start, and needs more work from WGs for whom IE 11 support is important. The good news is that it's is very easy to enable existing integration tests on IE 11.

Meanwhile, getting E2E tests to run on IE11 requires significantly more work, like:
- Adding E2E suppo

[2020-04-30 01:13] rsimha commented on #27066
With #27447 and related PRs, we are now generating sourcemaps during pre-babel transforms. (See lines 374-375.)

https://github.com/ampproject/amphtml/blob/929dfd9e53254a601331ec96869aa4fe0e35f711/build-system/compile/compile.js#L372-L401

With #27795, we now have a test to make sure sourcemaps are structurally correct.

[2020-04-30 01:13] #27066 closed

[2020-04-30 04:30] kushal commented on #27068
Hi! We'd love some ideas here!

On Tue, Mar 3, 2020 at 9:53 PM Dima Voytenko <notifications@github.com>
wrote:

[2020-04-30 07:00] rsimha commented on #23960
Reopening due to non-trivial diffs in extension code, leading to test failures: https://github.com/ampproject/amphtml/pull/24047#issuecomment-621643069

[2020-04-30 07:15] wassgha commented on #28097
I belive most of these issues have been fixed by https://github.com/ampproject/amphtml/pull/27764 which has not reached the production build but can be tested in canary. Could you please try it and update the issue with any remaining bugs?

[2020-04-30 07:15] cpauwels commented on #28117
I think this is a good idea for editorial stories, but it's also limiting and opinionating stories to be editorial only. We're seeing demand for marketing stories, and customers want to have a CTA on the first page.

I think the other way around the issue of spammyness could be to require at least two amp-story-pages for stories to be AMP valid.

[2020-04-30 07:46] smatoox commented on #28097
Indeed all errors and strange behaviors are gone.
Thanks @wassgha

[2020-04-30 07:47] wassgha commented on #28097
Glad to hear that!

[2020-04-30 07:47] #28097 closed

[2020-04-30 07:58] stephengardner opened #28130 "AMP fx-collection Parallax doesn't return to the proper position in simple example"
Full Stackblitz example and explanation: https://stackblitz.com/edit/amp-fx-parallax-bug?file=index.html

When using parallax, and scrolling back up to the top, the **parallaxed item doesn't return to the proper starting position**.

It's as if the scroll event listener is polling only at a certain interval (like 100-200ms), and therefore when scrolling back up you have an unlikely chance of havin

[2020-04-30 08:32] rsimha commented on #27718
Reopening this because `find-imports-forked` is.... forked! It implicitly depends on a ton `@babel` packages and frequently breaks when the monorepo is upgraded.

Lates errors ([Travis logs](https://travis-ci.org/github/ampproject/amphtml/jobs/681344304#L2506-L2537)):

[code]

[2020-04-30 08:34] cpauwels commented on #27358
Any updates on this? Older Edge browsers are still quite prevalent, especially on company devices that aren't updated very often 😅

[2020-04-30 09:30] abelerdesz commented on #27880
@Gregable Thank you!

[2020-04-30 11:00] chasefinch commented on #26873
Ok, yeah, [src] is bindable. Is it possible to allow resize only for gestures that don't make a network request?

[2020-04-30 13:25] caroqliu commented on #27566
These are the notes from the TODO linked prior:

Let me take another look at the tests today to see if there might be alternatives such as the one you described.

[2020-04-30 14:03] MaximePlancke opened #28133 "Incorrect height of amp-consent when navigation bar is displayed"
## What's the issue?

`amp-consent` is loading an Iframe which takes 100vh when the full screen mode is activated. This 100vh includes the navigation bars on iOS devices and some Android which doesn't let the user scroll down to the bottom of the Iframe. It is a problem for us as we have our action buttons inaccessible. Instead of using 100vh, could you make sure the Iframe takes 100% of the visib

[2020-04-30 14:36] rcebulko commented on #26852
I think this would be a good move for the short term, to improve log readability. It looks like it's not just the start and finish bits getting logged and mixed around, but also the progress bubbles. Ex.

![image](https://user-images.githubusercontent.com/6694512/80722666-9de23d80-8acd-11ea-9ef7-be4c29928843.png)

It's not obvious which set of bubbles even corresponds to which set of bubbles. This

[2020-04-30 15:46] MaximePlancke opened #28135 "amp-consent max initial height on consent-ui / action ready"
## Describe the new feature or change to an existing feature you'd like to see

`amp-consent` allows to pass an initial height via postMessage from 10vh to 60vh. The height of our CMP banner vary a lot depending on the devices, orientations, texts... which can create either big empty margins on big screens or scroll behavior on small screens.

This would help us a lot on making our CMP looks bette

[2020-04-30 15:54] gmajoulet opened #28136 "Cached video sources should always take precedence."
Cached video sources should always take precedence.

From [this cached document](https://www-refinery29-com.cdn.ampproject.org/v/s/www.refinery29.com/stories/amp/how-to-be-an-influencer-eugenie-grey/?amp_js_v=0.1&usqp=mq331AQFKAGwASA%3D#origin=https%3A%2F%2Fwww.google.com&prerenderSize=1&visibilityState=prerender&paddingTop=0&p2r=0&horizontalScrolling=0&csi=1&aoh=15882617234705&viewerUrl=https%3A%

[2020-04-30 15:57] cramforce commented on #28136
+1. I think this should be implemented as a sort function on the client side when moving sources from the custom element to the video element. This would also be the right hook to later implement bandwidth-selection.

[2020-04-30 16:20] erwinmombay commented on #28095
/cc @ampproject/wg-approvers @ampproject/wg-ads

[2020-04-30 16:49] ampprojectbot opened #28140 "🚨 Error: Null promise in layoutCallback"
Details
---
**Error report:** [link](http://go/ampe/CPXIzt28ltqvQA)
**First seen:** Apr 8, 2020
**Frequency:** ~ 3,986,683/day

Stacktrace
---
[code]

Notes
---
`@rsimha` modified `src/log.js:308-311` in #21212 (May 16, 2019)
`@erwinmombay` modified `src/log.js:323-324` in #6581 (Dec 20, 2016)
`@keithwrightbos` modified `extensions/amp-a4a/0.1/amp-a4a.js:1089-1091` in #9039 (Apr 29, 2017)
`@glevit

[2020-04-30 16:49] rcebulko commented on #28140
Resurfacing of https://github.com/ampproject/amphtml/issues/21116; closing as a dupe, but linking to add stacktrace/blame context

[2020-04-30 16:49] #28140 closed

[2020-04-30 16:57] alanorozco commented on #28103
It seems like the cache should transform `verify-xhr` into an absolute origin URL like it does for `action-xhr`.

[2020-04-30 17:00] rcebulko commented on #21116
@calebcordry @powerivq Until recently, this was occurring a bit over 100k times per day. As of the 4/24 release to Beta/Experimental (2004240001480), this error exploded to ~4 million per day, but only on the Experimental channel, and logs suggest predominantly on Android user-agents. See the metrics below:

![image](https://user-images.githubusercontent.com/6694512/80737849-1bb04400-8ae2-11ea-982

[2020-04-30 17:01] rcebulko commented on #21116
By device:
![image](https://user-images.githubusercontent.com/6694512/80738291-c4f73a00-8ae2-11ea-94d3-3c0b3a9566ea.png)

[2020-04-30 17:13] calebcordry commented on #21116
@rcebulko sorry this slipped through the cracks. As far as the spike I think this is real known error fixed by https://github.com/ampproject/amphtml/pull/28070 so this is probably good it showed up in our logs.

Yeah I was wrong about `dev().error` I am looking more now to determine what is happening to cause this when the bug does not exist.

[2020-04-30 17:14] #24550 closed

[2020-04-30 17:48] rsimha commented on #26852
Bubbles are for following instantaneous progress, so the only way to have them be useful during concurrent runs is to have them be interspersed. We could stop printing them during sauce runs, but that’ll lead to long periods of radio silence.

My vote is to compromise and remove the inline total summaries but leave the bubbles alone. SGTY?

[2020-04-30 18:35] choumx commented on #27048
I think we still need some definition of "minimal support" for IE11 and other technically unsupported browsers (e.g. a high-volume runtime error on Yandex browser came up recently). I'll file a discussion issue with a proposal.

[2020-04-30 18:48] stephengardner opened #28145 "AMP Sidebar is hidden due to Safari bottom navigation"
This issue appears to have been fixed by older issues, but has resurfaced.

Stackblitz example: https://stackblitz.com/edit/amp-sidebar-bug?file=index.html

View this page on an iphone: https://amp-sidebar-bug.stackblitz.io

See this result:
![amp sidebar bug example](https://user-images.githubusercontent.com/7368566/80747400-67b6b500-8af1-11ea-82f5-1d8a98e42675.png)

Related issue: https://github

[2020-04-30 19:10] nainar opened #28149 "Support customizing the behaviour of amp-youtube component based on user control"
YouTube PfP (Player for Publishers) partners use the ⁠amp-youtube component to embed their YouTube videos in their AMP pages and traffic their own ads against the video inventory that is generated.

When embedding their YouTube videos, partners are able instruct the player to request personalized or non-personalized ads using existing player configuration options. On AMP pages partners are unable

[2020-04-30 19:13] #27094 closed

[2020-04-30 19:27] rrjanbiah commented on #23029
@caroqliu I'm not sure if you misunderstood the issue. Please read my description in the original issue description. Someone changed the summary and that seems to be confusing.

Problem is that both `action-xhr` and `verify-xhr` are getting called at the same time--if you use mouse alone to submit the form. IMHO, this is a critical issue when there is a single input with a submit button--where mos

[2020-04-30 19:33] caroqliu commented on #23029
@rrjanbiah Thanks for clarifying, apologies for the misunderstanding.

[2020-04-30 19:36] jacquelynwax-nytimes commented on #14916
I see this work has long been completed and closed. We load a remote configuration in our `<amp-analytics>` element. We want to get consent state to the service that returns the tracking config to AMP, so that it can omit certain trackers from the returned config based on consent status. It's unclear to me whether the feature discussed here is meant to enable us to do that? If so, is there any doc

[2020-04-30 19:44] cathyxz commented on #26873
I think the challenge there is how to figure out if the action makes a network request. I'm not sure if the runtime categorises bind vs. actions that do or do not make a network request.

There's also [src] of elements inside amp-list (e.g. amp-img, amp-video, amp-ad) and the refresh action to consider: https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/0.1/amp-list.js#L177.

Bu

[2020-04-30 19:52] danielrozenberg commented on #25560
Pretty sure this is done. @rcebulko wanna do the honours?

[2020-04-30 19:53] danielrozenberg commented on #25616
Nightly builds are a thing!

[2020-04-30 19:53] #25616 closed

[2020-04-30 19:54] #25560 closed

[2020-04-30 19:56] danielrozenberg commented on #26861
@rcebulko where are we on this? :)

[2020-04-30 20:00] rcebulko commented on #26861
I may have mistakenly assumed that you were the deciding vote on this/would be the one to implement, since you are so familiar with `experiments.html`. It seems you may have had a similar impression toward me :sweat_smile:

![image](https://user-images.githubusercontent.com/6694512/80753637-96d22400-8afb-11ea-9381-8c9d2d247947.png)

I can put this in my queue :+1:

[2020-04-30 20:04] zhouyx commented on #14916
Could you try embed the `CONSENT_STATE` macro in the remote url. For example
`<amp-analytics config="https://yourendpoint.com?analytics&consent=CONSENT_STATE">`

[2020-04-30 20:10] danielrozenberg commented on #26861
I meant to ask where are we with respect of whether we are intending to make this happen at all

[2020-04-30 20:16] nainar commented on #24933
There isn't an FR - to pick up on @choumx's question earlier:

what level of customization are you looking for in a PWA install prompt?

[2020-04-30 20:38] gui-poa commented on #24933
The main two things INMHO are: frequency (display control) and text/buttons.

I was thinking something related to [user-notification](https://amp.dev/documentation/examples/components/amp-user-notification/) with the option to display text and two buttons, like: Install / Not Now and track them.

The "not now" could work exactly the same way as the "dismiss" in the user-notification

[2020-04-30 20:40] #27718 closed

[2020-04-30 20:48] choumx opened #28152 "Minimum support for browsers like IE11"
From [AMP supported browsers](https://amp.dev/support/faq/supported-browsers/):

Let's get consensus on what "it might not be perfect but isn't broken" actually means.

Also, we can update our special-case version support e.g. `iOS 8` only has 0.23% market share today.

Some data:
- [Browser market share](https://gs.statcounter.com/browser-market-share)
  - Also see [version share](https://gs.stat

[2020-04-30 20:48] choumx commented on #27048
#28152

[2020-04-30 20:58] choumx commented on #22414
Reopening because I think banning sync service getters is proving to be a pain and confusing (#27260, #27990). Also, this may be solved when `buildCallback` is deferred to not happen immediately after element upgrade.

/cc @jridgewell

[2020-04-30 21:42] alanorozco commented on #28152
This makes sense to me. I would like to see an addendum for completeness related to support inside embedded third party services, e.g. we can't guarantee that `amp-youtube` will work if its embedded document doesn't support the same minimum surface.

[2020-04-30 21:53] twifkak commented on #28152
Ideally, I would like to see a second tier for the next most popular components, with a lower bar. Goes towards "user can read an AMP news article". Something like:
 - doesn't break the rest of the page
 - if its children elements commonly contain "main content" [1], then they're still displayed
 - interactive/dynamic stuff may break

Then after that would be tier 3 components for which no guarant

[2020-04-30 21:54] rcebulko commented on #26861
I think we're at a "would be nice to have, but not high priority". Bumped down to P3

[2020-04-30 21:57] jridgewell commented on #28152
Nit:
- iOS 9 is the last supported version for 4S, iPad 2, iPad 3, and iPad Mini 1.
- iOS 10 is the last for iPhone 5/C and iPad 4.
- iOS 12 is the last for iPhone 5S, iPhone 6, iPad Mini 2, iPad Mini 3, and iPad Air 1.

[2020-04-30 22:23] AndrewKGuan commented on #27910
Hi,
in an AMP-only setup (no canonical), these hidden dynamic contents are crucial for crawling / indexing.  Developers will hesitate to use this AMP-only setup because of fear of losing out in search traffic due to this incapability.
For non-AMP pages, fetching dynamic contents can be controlled by developers and done post-rendering.  It is not doable with amp-list because they don't have control

[2020-04-30 22:29] dvoytenko commented on #27068
/cc @calebcordry @jpettitt As a starter, can we arrive at the conclusion whether this case fits well? IMHO, this is a very clear convergence here. Auto-ads fits very well with amp-access/subscription concepts. We just need to see how this can be configured and implemented. What are your thoughts?

[2020-04-30 22:47] rsimha commented on #19544
@alanorozco is this issue still relevant?

[2020-04-30 22:50] rsimha commented on #15574
Today, we have a good bit of TS code in our repo, and a means to [transform](https://github.com/ampproject/amphtml/tree/master/build-system/server/new-server/transforms) that code to JS before passing it through the JS compilation toolchain.

In addition, there is [`transpileTs`](https://github.com/ampproject/amphtml/blob/79b463476ec9b7e588bde89c060433bbac54620b/build-system/compile/typescript.js#

[2020-04-30 22:50] #15574 closed

[2020-04-30 22:52] rsimha commented on #19997
@alanorozco @erwinmombay Is this still relevant?

[2020-04-30 22:52] rsimha commented on #19899
@alanorozco Bumping another old issue to ask if it's still relevant.

[2020-04-30 22:55] rsimha commented on #20197
Seems like all three items in the issue description are done:

Anything left to do here? Close out?

[2020-04-30 22:56] jpettitt commented on #27068
Had a quick chat with Dima and Caleb.  What we came up with is:

Add something like `<amp-auto-ads [access expression?]>` (and an equivalent for `amp-subscriptions`.   We expose a service from access and subscriptions and have have `amp-access-auto-ads` call it with the expression.  The service promise will resolve with the result of the expression once the access/subscriptions entitlement calls r

[2020-04-30 22:58] rsimha commented on #17846
Since this was filed, [TESTING.md](https://github.com/ampproject/amphtml/blob/master/contributing/TESTING.md) has been substantially improved. However, some of the high-level items in the issue description still remain.

[2020-04-30 23:09] rsimha commented on #21254
Just tried adding this conformance config rule to `build-system/test-configs/conformance-config.textproto` and ended up with [~1500 errors](https://gist.github.com/rsimha/85c3c819858dd54ff6453a547203fd51).

[code]

Am I right in understanding that the AMP code needs a substantial number of changes before this rule can be put in place? (Is there anything in recent versions of closure that provides

[2020-04-30 23:12] rsimha commented on #21646
@alanorozco Is this still relevant? (The `List root directory` link can lead to `test/manual`. Is that sufficient?)

[2020-04-30 23:14] rsimha commented on #9164
Unfortunately, Infra hasn't had the bandwidth to take this on thus far. Soliciting opinions from @ampproject/wg-runtime for whether a) this effort is still worthwhile and b) if one of y'all has better context for this and the cycles to implement it.

[2020-04-30 23:15] rsimha commented on #12463
Closing as stale. Please reopen if the suggestion above doesn't work.

[2020-04-30 23:15] #12463 closed

[2020-04-30 23:15] rsimha commented on #14683
Closing as stale. Please reopen if there's anything left to do.

[2020-04-30 23:15] #14683 closed

[2020-04-30 23:18] rsimha commented on #19767
Hah! The list has grown.

_Wistfully remembering the days when it was easy to fly to MTV for fix-it week_

[code]

[2020-04-30 23:20] rsimha commented on #18230
Closing this in favor of #23960, which tracks the last remaining steps before we can remove `AmpPass.java` (#24047).

[2020-04-30 23:20] #18230 closed

[2020-04-30 23:21] rsimha commented on #20882
Closing this as stale.

[2020-04-30 23:21] #20882 closed

[2020-04-30 23:22] rsimha commented on #17120
This issue is still blocked by #23960, and can be closed once #24047 is merged.

[2020-04-30 23:25] rsimha commented on #18446
@jridgewell Is this issue still relevant?

- Do the real-world visual tests alleviate this problem?
- Does the ability to manually run `gulp visual-diff --config canary` help?

[2020-04-30 23:27] rsimha commented on #16847
Moving this over to @ampproject/wg-performance for triage and prioritization.

[2020-04-30 23:28] dvoytenko commented on #27068
I'll see what @calebcordry has to say. But I think this makes a lot of sense. I believe `amp-access` and `subscription-display` already resolve to boolean, so that fits as well.

[2020-04-30 23:29] calebcordry commented on #27068
SGTM. We can either block the config request or the ad creation on the result of the service promise. If we block on creation, ads-enabled users would see the creatives more quickly (more revenue etc) but the ad networks might not want to calculate the placements for the population of users that will never see ads.  I can run it by our partner ad networks and see what they think. They may already

[2020-04-30 23:29] rsimha commented on #7822
It's unlikely that this will happen in the foreseeable future. Closing as stale.

Meanwhile, we have purchased several real devices for the team, for both feature development and performance testing.

[2020-04-30 23:29] #7822 closed

[2020-04-30 23:30] rsimha commented on #22682
This has come up during recent conversations about improving release quality and enforcing a minimum code coverage bar. Bumping this to P2.

[2020-04-30 23:31] dvoytenko commented on #27068
Thanks @calebcordry. Good point about placement-vs-creation latency. Let's confirm with the providers and see what they think. But I think generally everyone expects that the placements might not actually always take place. But, certainly, let's confirm.

[2020-04-30 23:35] choumx commented on #9164
I think this is satisfied by an integration test with `runtimeOn: true`. My guess is a lot of early A4A tests were written as unit tests and manual invocation of lifecycle callbacks.

[2020-04-30 23:36] rsimha commented on #14360
Since this was filed, several things have been done to improve test flakiness (see PRs linked above). However, more remains to be done in the areas of improving transitions during tests (#9164), fixing incorrect use of test assertions (#28128), and preventing external network requests (#26756). Keeping this uber-issue around until they are done.

[2020-04-30 23:39] rsimha commented on #19155
Infra hasn't had the bandwidth or the context to take this on. Moving to WG-runtime for triage / prioritization in light of https://github.com/ampproject/amphtml/issues/19155#issuecomment-438044207.

[2020-04-30 23:39] rsimha commented on #19765
Another effort that falls under the umbrella of #14360.

[2020-04-30 23:42] rsimha commented on #19766
From recent conversations about improving our release quality, we've talked about resurrecting the `gulp todos*` task to help reduce the number of `TODO`s in our codebase. Skipped tests typically have an accompanying `TODO`, so this is probably worth thinking of in conjunction with that larger effort.

[2020-04-30 23:43] kushal commented on #27068
This plan sounds awesome, thanks! Let us know if we can help.

[2020-04-30 23:43] rsimha commented on #23838
I see the word "ban", and I automatically think of friendly neighborhood @jridgewell. Is this something that can be implemented as a custom lint rule, and if so, would you be willing to do it when time permits?

[2020-04-30 23:46] rsimha commented on #23837
Recently fixed O(thousand) tests that were using a global sandbox (#25587).

The rest of this effort can be carried out as part of #14360.

[2020-04-30 23:52] rsimha commented on #23839
In https://github.com/ampproject/amphtml/issues/23839#issuecomment-521411580, I took a stab at changing the way extensions are initialized (to make importing a `.js` file side-effect free), but the effort didn't yield much fruit.

Meanwhile, in #24090, a rule was added to forbid top-level `describe` blocks. However, there are ~150 legacy tests that are yet to be migrated:

https://github.com/amppr

[2020-04-30 23:57] rsimha commented on #12741
Since this issue was originally filed, `gulp serve` has been reimplemented as an in-process server and supports a user-specified port. In addition, the workflow described in the issue title is not something we usually do as part of developing / testing AMP. Closing out this issue as stale. Please reopen if this continues to block active development.

[2020-04-30 23:57] #12741 closed

[2020-04-30 23:58] rsimha commented on #24144
Bumping this issue because we still have ~150 legacy `describe` tests that haven't been migrated to `describes`:

https://github.com/ampproject/amphtml/blob/5d94316dd702748ec4aa3c16eca060f6deaa04bd/build-system/tasks/presubmit-checks.js#L756-L894

[2020-05-01 00:02] rsimha commented on #24076
This is definitely a worthwhile effort, but I don't see a way in which wg-infra can update 10,000+ unit tests and hundreds of integration tests.

I'm tagging the other working groups so they can triage / prioritize.

[2020-05-01 00:05] rsimha commented on #24124
Bumping this since #24129 is still active.

[2020-05-01 00:08] rsimha commented on #24077
@wassgha Is this still relevant? Can you comment on the nature of the changes that are required? (I only see a single use of `installYieldIt(it)` in `_init_tests.js`. Is it as simple as removing it?)

[2020-05-01 00:10] rsimha commented on #23567
@erwinmombay Looks like #24453 has been closed as stale without merging it. Is this still a worthwhile undertaking?

[2020-05-01 00:11] rsimha commented on #22499
Assigning to @danielrozenberg for triage / prioritization.

[2020-05-01 00:14] rsimha commented on #24234
Clearing assignees since I don't think Erwin is actively working on this.

Do I understand correctly that we do not include `amp-inabox-host.js` in `gulp check-types`?

I'll let the folks tagged in the issue description comment on what needs to happen here.

[2020-05-01 00:17] rsimha commented on #7613
Unassigning because I don't believe Erwin is actively working on this.

If this is still relevant, is it possible to do this via a custom eslint rule? I'll defer to @jridgewell / wg-runtime for further action.

[2020-05-01 00:19] rsimha commented on #25492
I've noticed this several times in the recent past, and agree that it's a relatively easy fix that can improve the usability of our test statuses. Bumping to P2.

[2020-05-01 00:27] rsimha commented on #24784
For the time being, I think we can selectively enable updates for `@ampproject*` in `dependencies`. Bumping to P2.

[2020-05-01 00:33] rsimha commented on #24901
From reading Canny's [GitHub integration docs](https://canny.io/integrations/github), it looks like the workflow involves a) paying for an external service, and b) doing all the popularity tracking via an external dashboard, and not via GitHub's native UI. At this point, I'm not sure what additional value we'll gain by installing this app.

Closing as wontfix. Please reopen if you disagree, or if

[2020-05-01 00:33] #24901 closed

[2020-05-01 00:36] rsimha commented on #25725
Resetting assignees since our projects have changed since this was filed. However, I think this is a good area to investigate, since the potential gains can be very high. Bumping to P2.

[2020-05-01 00:39] rsimha commented on #20252
This is another worthwhile effort that fits under the umbrella of #14360.

[2020-05-01 00:42] rsimha commented on #26516
The closure bug is still open. Reassigning this to @jridgewell for triage / prioritization.

[2020-05-01 00:45] rsimha commented on #25720
Update: I did change the behavior of `gulp dist` to add `AMP_CONFIG` by default (#26554), but have not yet normalized the experiment values during `--fortesting`. Keeping this open.

[2020-05-01 00:46] rsimha commented on #25419
Given recent discussions around this, I think it makes more sense to migrate existing integration tests that need shadow coverage to the E2E framework. Closing out this issue. (Reopen if you disagree.)

[2020-05-01 00:46] #25419 closed

[2020-05-01 00:48] rsimha commented on #9164
Makes sense. Thanks for the context. Closing this out in favor of migrating existing unit tests to the correct test type: integration or E2E.

[2020-05-01 00:48] #9164 closed

[2020-05-01 02:29] rsimha commented on #12747
Dusting off this old issue. If you’d like to use CDN URLs instead of local URLs, you can use the `—cdn` flag for `gulp serve`. Would that work here?

[2020-05-01 03:54] choumx commented on #27910
Another workaround is to use an amp-list to render structured data (JSON+LD) outside of an amp-sidebar.

[2020-05-01 13:03] sebastianbenz opened #28158 "JS Validator: move hashbang into different file"
It seem like the hashbang `#!/usr/bin/env node` at the top of the [node validator implementation](https://github.com/ampproject/amphtml/blob/master/validator/nodejs/index.js#L1) causes [problems](https://github.com/zeit/next.js/issues/12369) when importing the file via require in Node 14.

To avoid this, we should move it into a separate file that imports the main validator file.

//cc @Gregable @

[2020-05-01 13:07] rrjanbiah commented on #23029
@caroqliu Sorry, looks like I'm not clear enough. Perhaps the `blur` part is confusing here.

### Issue ###

Both `action-xhr` and `verify-xhr` are getting called at the same time, when you click submit button through mouse.

Desired behavior is that, first `verify-xhr` getting called and _then_ based on the result, `action-xhr` is getting called.

### Steps to reproduce ###

1. Visit https://amp.

[2020-05-01 13:26] #20197 closed

[2020-05-01 15:56] jacquelynwax-nytimes commented on #14916
Hi @zhouyx. Many thanks for the response. We've tried embedding the `CONSENT_STATE` macro into the remote url, but it doesn't resolve. My read of documentation on `<amp-analytics>` was that `CONSENT_STATE` was available only in requests configured to fire in the in the config object (which in our case is fetched via the remote url), as you illustrated in your example here https://github.com/zhouyx

[2020-05-01 17:26] jmooring opened #28161 "Documentation: amp-bind-recaptcha is not an AMP component"
## What's the issue?

Documentation and examples refer to "amp-bind-recaptcha" as if it were an AMP component. It is not.

## How do we reproduce the issue?

See <https://amp.dev/documentation/examples/components/amp-bind-recaptcha/>

![image](https://user-images.githubusercontent.com/335669/80825532-9a72b300-8bae-11ea-8ff6-ea401cbb6497.png)

Also see: <https://amp.dev/documentation/components/amp

[2020-05-01 17:40] AndrewKGuan commented on #27910
Would an amp-list attribute for non-performance blocking post-load rendering feasible?
For example:
<amp-list **_eagerRender=true_**>
to give developers a bit more control?

[2020-05-01 17:40] newmuis opened #28162 "Trim answer-choice-bounce scale values to save bytes"
The `answer-choice-bounce` animations for `amp-story-quiz` use percentage scales that are too granular.  On a 1080x1920 screen, the smallest percentage that could make at least a 1px difference would be 1/1920, which is ~0.0005.  Any granularity beyond that seems like a waste of bytes to me.

Can we trim all of these percentages to 4 decimal places?

/cc @ampproject/wg-stories

[2020-05-01 18:04] mszylkowski commented on #28162
Agree, will work on it! Probably even 3/4 points could be enough for the animation to feel the same.

[2020-05-01 18:06] micajuine-ho commented on #28133
Hi @MaximePlancke  I am unable to reproduce the error with the website you linked. Would you be able to make a gif of the error and post it here?

[2020-05-01 20:06] danielrozenberg opened #28168 "Implement a `gulp release` task to build a complete AMP release"
Currently Google is the only body that has the complete picture on how AMP releases are created. As a result, it is not easy for open-source contributors to execute the exact same set of commands and processes without foreknowledge (@mdmower is working on improving the documentation around this, see #27100)

Google has a shell script that performs various other gulp tasks, file moves, and other ma

[2020-05-01 20:22] erwinmombay commented on #19997
im not 100% sure, i can see the benefit of it i just don't know if we've circumvented/fixed the issue with all the server changes along the way

[2020-05-01 21:26] choumx commented on #27910
I'm not a fan personally. Part of AMP's usefulness is that it can make decisions like "how far from viewport should we render elements" on behalf of the user.

[2020-05-01 21:44] morsssss commented on #24326
@tannerbaum , this thread ended up spanning a number of cache-related questions. We should really close it so that new reports like yours can get noticed! (I'm sorry it didn't.) Usually these come down to various complexities in making the request with the right URL, making sure servers are available to serve fresh content when it's needed, etc.

I can only ask if @Gregable spots any issue here.

[2020-05-01 21:45] #17120 closed

[2020-05-01 21:45] #23960 closed

[2020-05-01 22:30] Gregable commented on #27440
@rcebulko @caroqliu : this seems done, anything left before we close this issue?

[2020-05-01 22:31] Gregable commented on #27507
This has been improved by pointing the line/col at the start of the tag instead of trying to offset inside the CSS.

[2020-05-01 22:32] #27507 closed

[2020-05-01 22:33] jridgewell opened #28171 "Story affiliate links always fire analytics events"
Re: https://github.com/ampproject/amphtml/pull/28128#discussion_r418746016

These tests always fail. It seems the analytics service is capturing the click and triggering the request before the affiliate link service calls stopPropagation. So, the analytics event always fires.

/cc @ampproject/wg-stories @estherkim

[2020-05-01 22:48] Gregable commented on #24359
This has been fixed for some time, I forgot to close the issue.

[2020-05-01 22:48] #24359 closed

[2020-05-01 22:50] #27440 closed

[2020-05-01 22:50] rcebulko commented on #27440
Nope!

[2020-05-01 22:50] Gregable commented on #20270
I can't reproduce. If this is still an issue, please reopen.

[2020-05-01 22:50] #20270 closed

[2020-05-01 23:01] rsimha opened #28172 "Remove `AmpCodingConvention.java`"
Today, the file determines whether an identifier must be exported based on its name and a few special-case rules:

https://github.com/ampproject/amphtml/blob/bf486f67546a2775ad110c3e3b0416eb8b9f38f1/build-system/runner/src/org/ampproject/AmpCodingConvention.java#L46-L81

In order to remove this file, we'd have to do a combination of changing our codebase to no longer use the special identifiers (l

[2020-05-01 23:05] rsimha opened #28173 "Remove `AmpCommandLineRunner.java`"
Today, the file overrides closure compiler's `CommandLineRunner` and passes in special options that are neither available as flags nor included in the default `compilation_level` settings of `SIMPLE_OPTIMIZATIONS` or `ADVANCED`.

https://github.com/ampproject/amphtml/blob/bf486f67546a2775ad110c3e3b0416eb8b9f38f1/build-system/runner/src/org/ampproject/AmpCommandLineRunner.java#L44-L65

In order to

[2020-05-01 23:17] rsimha commented on #28172
Here's a preliminary diff of all the changes to `v0.js` when this file is removed.

**Build command:**
[code]

**Diff:** [link](https://gist.github.com/rsimha/b9e45ba8def7e9f5abf193c2058e4682)

[2020-05-01 23:27] rsimha commented on #28173
Here's a preliminary diff of all the changes to `v0.js` caused by removing the custom options in `AmpCommandLineRunner.java`.

**Build command:**
[code]

**Diff:** [link](https://gist.github.com/rsimha/7ec219de5a3125fe7290ace1013ab82c)

[2020-05-02 08:38] moe6969 opened #28175 "Mr"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2020-05-02 16:07] ProH4Ck commented on #20951
Any news on this?

[2020-05-02 23:02] #28175 closed

[2020-05-02 23:24] choumx opened #28177 "Reduce cost of reparenting"
Had this written in a text file so preserving it as an issue. :)

Many AMP components reparent children and some layout types require it. Reparenting an element triggers `[dis]connectedCallback`, which forces its `Resource` to be re-instantiated (unless it's built and `reconstructWhenReparented` is false).

This is multiplied when components are nested, e.g. there's a popular AMP site that had a s

[2020-05-03 13:06] amanintech commented on #28145
This similar issue also occurs in android chrome when you have a full-height content

https://mobile-web.dev

![image](https://user-images.githubusercontent.com/28403318/80914996-e2d7cf80-8d6c-11ea-80e9-686868113458.png)

[2020-05-04 02:48] roopakv commented on #25346
@kristoferbaxter has there been any movement on this? would love to figure out
- how we can get AMP to trust transfer size instead of actual size. We use brotli and our compressed asset is around 88.3 KB, however prior to compression our asset is ~389Kb.
- Happy to work on finding a better limit that works. But personally i think it is safer to to trust transfer size than a higher limit since some

[2020-05-04 10:05] tannerbaum commented on #24326
@morsssss ha I definitely see what you are saying about this issue. I didn't want to make another issue for you guys at the risk of adding to the noise, but maybe I will go ahead and try to lay out everything I can in a new issue, including writing the actual url being generated. Thanks for your response!

[2020-05-04 13:28] MaximePlancke commented on #28133
Hi @micajuine-ho ,

Sure, here it is
![ezgif-5-1a853778fc0b](https://user-images.githubusercontent.com/5814860/80970640-7b139a00-8de9-11ea-8ede-c1d57d287abb.gif)

Don't hesitate if you need more information.
Thank you!

[2020-05-04 14:39] akira28 commented on #25344
I would need to add `amp-ad` dinamically

[2020-05-04 14:43] samouri commented on #25346
@roopakv, not all browsers support brotli. Relying on transfer size would make validity of the script [browser dependent](https://caniuse.com/#feat=brotli).

I was also under the impression that uncompressed size has an impact on performance aspects (e.g. parse time).

[2020-05-04 14:49] samouri commented on #23838
Which kind of tests is this relevant for (unit, integ, or e2e)? I.e. which suites ensure a unique `document` for each test

[2020-05-04 15:42] rickbairstow opened #28180 "`amp-inline-gallery` throws an error if used within an `amp-list`"
## What's the issue?
When trying to use `amp-inline-gallery` and `amp-base-carousel` within an `amp-list` template, an error is thrown for `getImpl is not a function`. This invalidates amp and doesn't render the thumbs, however it does still render the main carousel.

I'm raising this as an issue as our current solution uses `amp-carousel` within an `amp-list` without invalidating or any other iss

[2020-05-04 15:46] caroqliu commented on #25790
I'm going to close the issue for now, please feel free to re-open if you run into additional challenges in your implementation.

[2020-05-04 15:46] #25790 closed

[2020-05-04 15:48] schlessera commented on #22253
If `event.preventDefault()` is not properly supported right now, I think the [compatibility table](https://github.com/ampproject/worker-dom/blob/0c9eeb362201b9401f8d4c1959205801358dc345/web_compat_table.md) should be adapted.

It currently states that `event.preventDefault()` is supported, and even though that might be technically true as it doesn't throw errors, it also doesn't do what it is supp

[2020-05-04 15:55] gmajoulet commented on #27331
As discussed last week, this API to interact looks good to me. We should also add some events for publishers to know about the player's state, and know when to interact with it. A few events I have in mind: new story is focused and its index, how many stories are remaining, audio got muted/unmuted, etc...

[2020-05-04 16:46] AndrewKGuan commented on #27910
Not even post-hydration when the page is ready? =). amp-script is allowed to do that.

[2020-05-04 17:32] caroqliu commented on #28076
To fix on the AMP side: Modify the `rendersubtreeactivation` event handler to include scrolling to the target section after expand.

[2020-05-04 18:14] mdvb1001 commented on #26818
@wassgha We are having the same issue. Would be great to see a fix for this. Let me know if there's anything I can do to help.

[2020-05-04 18:29] rsimha commented on #23838
From skimming through the [search results](https://github.com/ampproject/amphtml/search?q=%22document.body.appendChild%22&unscoped_q=%22document.body.appendChild%22) for that usage, it looks like most of them are unit tests.

[2020-05-04 18:36] zhouyx commented on #14916
Hello @jacquelynwax-nytimes
Thanks for reporting this, it helped us locate an issue with the remote url. Some macros are not resolved correctly in the remote url, and it has been fixed by #28174.
You should be able to see the fix and pass the resolved `CONSENT_STATE` value in two weeks. Thanks

[2020-05-04 18:50] jacquelynwax-nytimes commented on #14916
@zhouyx That's wonderful news! Many thanks.

[2020-05-04 19:02] Enriqe commented on #27358
Hey @cpauwels do you have numbers on how many of your users are using this specific version of Edge, so I can prioritize accordingly?

[statcounter](https://gs.statcounter.com/browser-market-share) shows 2.19% of market share for Edge legacy, for a point of reference.

[2020-05-04 19:10] choumx commented on #22253
Thanks for flagging the documentation bug!

[2020-05-04 19:11] #27540 closed

[2020-05-04 19:17] caroqliu commented on #21754
Can you help us better understand why/when you want to stop scrolling?

[2020-05-04 19:29] caroqliu commented on #14188
@nainar Any sense if this is distinct from [`type=system`? ](https://amp.dev/documentation/components/amp-social-share/#pre-configured-providers)

Otherwise this should be reasonable to close.

[2020-05-04 19:41] caroqliu commented on #6602
Closing as hover to toggle is against accessibility best practice. Related resources:

- https://www.w3.org/TR/wai-aria-practices/#accordion
- https://www.accessibility-developer-guide.com/examples/widgets/accordion/
- https://www.accessibility-developer-guide.com/examples/widgets/tablists/

[2020-05-04 19:41] #6602 closed

[2020-05-04 19:43] cramforce commented on #23838
I think using a MutationObserver on the main document might be better than static analysis. Downside is that that mechanism would have trouble allow-listing existing violations.

[2020-05-04 20:26] popovvb commented on #21754
I needed a smooth scroll, with the ability to stop and up/slow, for the site of songs with chords. In the regular version, it is implemented, for example: https://uchords.net/en/song/tones_and_i_dance_monkey/2877.html I did not implement it in the AMP version, so i abandoned the AMP pages.

[2020-05-04 21:16] cpauwels commented on #27358
@Enriqe Unfortunately for our users it's still quite common, as it's often the only browser available on work laptops for users who don't have the rights to update to the latest Chromium-based Edge or install Chrome or Firefox.

Here are some statcounter numbers closer to home.

US: 3.7%
BE: 4.76%
UK: 4.33%

These are not insignificant IMO. Especially when considering desktop traffic, where the `a

[2020-05-04 21:40] ampprojectbot opened #28184 "🚨 Error: Error"
Details
---
**Error report:** [link](http://go/ampe/COKX1e2CrojQ7AE)
**First seen:** Sep 19, 2019
**Frequency:** ~ 2,373/day

Stacktrace
---
[code]

[2020-05-04 22:58] #4555 closed

[2020-05-05 03:30] alankent opened #28189 "AMP Story desktop mode error playing video if reload icon is clicked"
## What's the issue?

The video on page one and two of the story https://www.usatoday.com/web-stories/10-tips-perfect-burger/ frequently fails to play in desktop view after clicking reload button at end of story.

## How do we reproduce the issue?

I was experimenting with https://www.usatoday.com/web-stories/10-tips-perfect-burger/ on my desktop and was clicking very fast through (fast as I could

[2020-05-05 10:31] tannerbaum opened #28193 "Amp Caching: Numerous stale versions of the same article appearing in search"
## What's the issue?

There are essentially three different issues at play here with caching that may all be interconnected in some way. These are all big problems for us in recent times as we have upped our live-blog style articles during the Corona pandemic. On the advice of @morsssss, I decided to write a new issue here.

**1. Article content refreshes inconsistently, often stale**
Despite a ma

[2020-05-05 11:10] denmark-admin opened #28194 "Please pass pageopen time to Ibeat vendor in amp-analytics"
## Describe the new feature or change to an existing feature you'd like to see

Request you to please provide a mechanism to pass pageopen time to Ibeat vendor in <amp-analytics>. We receive multiple calls for a page through time based trigger. We need all of these request to also have the pageopen time. This is the time when page first became visible. Didn't find such a variable to be passed to o

[2020-05-05 13:12] morsssss commented on #28193
@tannerbaum , wow! Thanks for taking the time to create this fantastically detailed report. I'm hoping it will help us cut through the ambiguity often found in cache situations.

@sebastianbenz @Gregable @CrystalOnScript FYI

[2020-05-05 13:41] caroqliu commented on #21754
Thank you for clarifying.

[2020-05-05 15:06] nllorca opened #28195 "amp-experiment console error"
Hi, i am trying to use amp-experiment and i get tu following console error in chrome

[OriginExperiments] Crypto is unavailable
[amp-experiment] Experiment amp-experiment-1.0 is not enabled

any idea?

thanks

[2020-05-05 15:12] catherinehoule commented on #27114
@nainar I filled this 2 months ago. As you wrote this [article](https://blog.amp.dev/2020/05/04/creating-accessible-sites-with-amp/) yesterday, would be nice to continue the work on accessibility here ;)

[2020-05-05 16:02] rcebulko opened #28198 "Catch errors in publisher amp-script code"
It seems that in cases (example: https://github.com/ampproject/amphtml/issues/27904) where custom amp-script code from publishers causes errors, those errors bubble up into an unhandled promise rejection, and are reported to AMP Error Reporting. This adds noise to error reporting, as the underlying issue is one with publisher code, not with AMP code. These errors should be caught and reported as u

[2020-05-05 16:36] gmajoulet opened #28199 "Story video elements position property should not be overridable"
Story video elements position property should not be overridable.
Publishers can write CSS like `video {position: relative;}`, which adds the video back in the layout flow and can push the video out of the screen.

We should enforce the `position: absolute;` when needed.

cc @ampproject/wg-stories

[2020-05-05 16:39] samouri opened #28200 "Fixit: e2e viewer tests should only launch a single url"
**summary**
As described in https://github.com/ampproject/amphtml/pull/28138#discussion_r420224078,  each e2e tests loads 6 hard coded viewer/url instances on top of the actually requested one. This is because a html file meant for manual testing was repurposed to also be used for the e2e tests.

We should have a `viewer-demo.html` file that only loads the requested url. It will simplify the e2e a

[2020-05-05 16:47] ampprojectbot opened #28201 "🚨 Error: failed to execute a task:: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'https://sendtest.email' and URL 'about:srcdoc'."
Details
---
**Error report:** [link](http://go/ampe/CK-cu6ChjemW7wE)
**First seen:** Apr 10, 2020
**Frequency:** ~ 3,219/day

Stacktrace
---
[code]

Notes
---
`@rsimha` modified `src/service/history-impl.js:561-565` in #21212 (May 16, 2019)
`@josh313` modified `src/service/history-impl.js:552-555` in #15436 (Jun 12, 2018)
`@rsimha` modified `src/service/history-impl.js:133-133` in #21212 (May 16,

[2020-05-05 16:49] rcebulko commented on #28201
Looks like all occurrences of this error happened during a brief interval, and on the domain `https://navbharattimes-indiatimes-com.cdn.ampproject.org`. Looks like a publisher testing something or pushing, and then reverting, an error on their end. Closing.

[2020-05-05 16:49] #28201 closed

[2020-05-05 17:47] #28162 closed

[2020-05-05 18:22] jridgewell commented on #28198
Assigning to @samouri

[2020-05-05 18:30] micajuine-ho commented on #28195
Hi, amp-experiment-1.0 has not been fully released and is only available through experiments/origin trials.

To enable amp-experiment-1.0 as an experiment add this to your HTML:
[code]

[2020-05-05 18:30] #28195 closed

[2020-05-05 18:54] rsimha opened #28206 "`amp-sidebar` tests are flaky (potential bug?)"
Probably related to #28145.

Multiple failing runs over the past few days have this signature:

[code]

[2020-05-05 18:55] rsimha commented on #28206
@ampproject/wg-ui-and-a11y for triage

/cc @ampproject/build-cop

[2020-05-05 18:56] rsimha commented on #28145
@ampproject/wg-ui-and-a11y for triage

[2020-05-05 19:24] rsimha commented on #24487
Reopening yet again because this is still rearing its head:

![image](https://user-images.githubusercontent.com/26553114/81106984-6ff16480-8ee4-11ea-82af-19fcf8c68e0c.png)

A long-term fix for this is to move to the native closure compiler. Currently blocked by #28173 and #28172.

[2020-05-05 19:26] rsimha opened #28208 "Use native closure compiler instead of java `runner.jar`"
This will help speed up concurrent compilation on fast machines, and eliminate issues like #24487.

Currently blocked by #28173 and #28172.

[2020-05-05 20:17] rcebulko opened #28212 "Codecov reporting total-repo coverage"
## What's the issue?

Codecov is reporting the wrong coverage change, and is red on PRs. The current [coverage over the entire repository](https://amp-project-metrics.appspot.com/) is 76.9%. Every PR that runs the Codecov check fails that check, saying 77% is below the 80% threshold. The coverage threshold should apply to the changed files/lines, not the total repo coverage.

## How do we reproduc

[2020-05-05 20:20] micajuine-ho commented on #28194
Hi @denmark-admin, we do not explicitly provide a `pageopen` metric, through our substitution vars, however we offer a wide variety of metrics/timers [substitutions available](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#variables). Please take a look at this document and let me know if any of these can satisfy your requirement or let me know if you have any ques

[2020-05-05 20:24] rsimha commented on #28212
It turns out that the `base: auto` automatic baseline selection for codecov causes it to select the baseline commit for a PR, which is the branch point. This is inaccurate since there could've been several new commits to `master`, which Travis includes in its build.

See https://github.com/ampproject/amphtml/pull/28185#issuecomment-624285176 for more details.

E.g.: https://travis-ci.org/github/am

[2020-05-05 20:37] #28158 closed

[2020-05-05 20:39] micajuine-ho commented on #28133
Hi @MaximePlancke,

I have tried to reproduce with safari and an iphone 8 to no avail. Do you notice anything wrong with this?
![image](https://user-images.githubusercontent.com/30711678/81113808-a5db1c80-8ed5-11ea-9b09-06f234490069.png)

[2020-05-05 21:15] ampprojectbot opened #28220 "🚨 Error: ShadowRoot is not defined"
Details
---
**Error report:** [link](http://go/ampe/CNz4-OG0lYDW_wE)
**First seen:** Apr 30, 2020
**Frequency:** ~ 248/day

Stacktrace
---
[code]

Notes
---
`@lannka` modified `extensions/amp-analytics/0.1/linker-manager.js:161-161` in #18029 (Sep 13, 2018)
`@rsimha` modified `extensions/amp-analytics/0.1/linker-manager.js:93-95` in #21212 (May 16, 2019)
`@zhouyx` modified `extensions/amp-analytic

[2020-05-05 21:18] ampprojectbot opened #28222 "🚨 Error: Cannot read property 'then' of null"
Details
---
**Error report:** [link](http://go/ampe/CJew0NOO1pPDTw)
**First seen:** Apr 24, 2020
**Frequency:** ~ 429/day

Stacktrace
---
[code]

Notes
---
`@zhouyx` modified `src/custom-element.js:1150-1151` in #15410 (May 18, 2018)
`@jridgewell` modified `src/utils/promise.js:75-78` in #15143 (May 8, 2018)
`@zhouyx` modified `src/custom-element.js:1150-1151` in #15410 (May 18, 2018)
`@jridgewell

[2020-05-05 21:26] rcebulko commented on #28222
This appears to be a dupe of https://github.com/ampproject/amphtml/issues/21116 with a stacktrace that has slightly changed since. Closing.

[2020-05-05 21:26] #28222 closed

[2020-05-05 21:49] calebcordry opened #28223 "🚄 Release tracking issue for release 2005050322000"
# Release tracking issue

This issue tracks release [`2005050322000`](https://github.com/ampproject/amphtml/releases/tag/2005050322000)

- [x] Release `2005050322000` promoted to Experimental and Beta (opt-in) channels (May 5, 2020, 3:16:10 PM GMT-7)
- [x] Release `2005050322000` promoted to Experimental and Beta (1% traffic) channels (May 6, 2020, 10:03:38 AM GMT-7)
- [x] Release [2005050322001](

[2020-05-05 21:53] rsimha commented on #28212
Seems like explicitly selecting the baseline commit is an open FR for `codecov`: https://github.com/codecov/codecov-bash/issues/83#issuecomment-606674059

Unfortunately, this means that coverage numbers for older PR branches can be affected by newer commits to `master`. Investigating alternatives / workarounds.

[2020-05-05 21:53] #28081 closed

[2020-05-05 21:58] gmajoulet opened #28225 "Story Player should set parent origin if current window origin is null"
Story Player fails to set up the communication with its Story when in a `<iframe srcdoc="<playerhtml>">` context.
The `location.href` that the player gets in this context is `about:srcdoc`, and sets the `#origin=...` parameter to an invalid `about:srcdoc` value.

If we detect that the `window.location.origin` is `null`, we should fallback to something else. Maybe `window.parent.location.origin`? I

[2020-05-05 22:09] cramforce commented on #28225
You can use the parent origin but this needs to be guarded by being able to access it. The iframe could also be sandboxed without `allow-same-origin` which would also create a null origin, but would allow reading the parent origin.

The question here is whether checking the origin is actually desired? A check like `event.source == parent` to accept messages only from the parent frame might be enou

[2020-05-05 22:18] gmajoulet commented on #28225
I'm not very familiar with this part of the AMP codebase, we're trying to work with the `amp-viewer-integration`.
It actually looks like it is designed to handle this case, and expects `#origin=null`.
cf:
https://github.com/ampproject/amphtml/blob/fd862633a0ef91681beb57906c60f16edc4f18d3/extensions/amp-viewer-integration/0.1/messaging/messaging.js#L88-L96

The issue comes from how the Story player

[2020-05-05 22:25] #28184 closed

[2020-05-05 22:42] gmajoulet opened #28227 "Make Stories more resilient to viewer communication initialization errors."
If a Viewer <> Story communication initialization fails, the Viewer can't switch the Story `visibilitystate` from `prerender` to `visible` after it is made visible, leaving users stuck on a completely unresponsive story.

We should improve this worst case scenario by making a trusted user gesture (tap/click) on a prerendered user story switch its `visibilitystate` to `visible` and proceed with the

[2020-05-05 23:09] cramforce commented on #28225
Relevant: `location.ancestorOrigins` helps with this in modern browsers.

Which line of code is the one that is failing today?

[2020-05-05 23:24] MaximePlancke commented on #28133
Hi @micajuine-ho ,

The Safari responsive mode doesn't properly simulate a real device and the behavior is not 100% accurate. (Example: no navigation bar here). You need to test with Xcode using a simulator or with a real device to be able to see the issue.

[2020-05-05 23:49] cramforce commented on #28227
Activating on interaction is a good idea.

[2020-05-06 00:19] chunyahua commented on #28225
Thank you Gabriel for helping on our issue.
The line which is failing is at:
this.target_./*OK*/ postMessage(data, targetOrigin);
The error is "Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'Window': Invalid target origin 'about:srcdoc' in a call to 'postMessage'."

I also want to mention that in our use case, window.parent.location.origin is also null, so not sure if fall

[2020-05-06 00:25] choumx opened #28229 "AMP experimentation manual"
There are at least four different experimentation APIs: `{canary|prod}-config.json`, `experiment{A|B|C}`, origin experiments, DoubleClick/Adsense experiments. Not sure if document meta opt-in counts for half. 🙂

Example edge case: `experiment{A|B|C}` isn't tested on Travis PR builds and needs local testing.

[2020-05-06 00:45] #28198 closed

[2020-05-06 01:17] gmajoulet commented on #28225
Always passing `location.origin` will either pass the origin or `null`, but the `amp-viewer-integration.js` script will fallback to `'*'` if it sees `null` to work around the issue Chunya found, which will work.

[2020-05-06 01:34] cramforce commented on #28225
OK, this is really quite edge-casey. I missed that it is the parent here who doesn't have a proper origin.

Looks like this line needs an do add `|| this.origin_ == 'about:srcdoc'` https://github.com/ampproject/amphtml/blob/master/extensions/amp-viewer-integration/0.1/messaging/messaging.js#L93

[2020-05-06 06:00] massa1240 commented on #26274
after a long discussion, we decided that this is not the best approach to deal with this issue. I will be writing a new I2C that would solve the same problem in a proper way using `amp-ad`

[2020-05-06 06:00] #26274 closed

[2020-05-06 06:23] massa1240 opened #28231 "I2I: Add CLIENT_ID to amp-ad[rtc-config]"
## Summary

Enable CLIENT_ID macro to be used on amp-ad RTC.

## Design document

## Motivation

We are moving our in-house ads server to Google Ad Manager and I have to integrate creative information that is generated on-the-fly by Google with an in-house tracker that requires some set of specific requirements to track those ad impressions. Because AMP pages are the source of most of our traffic,

[2020-05-06 12:17] tannerbaum commented on #28193
Worth noting that the one thing I haven't tried yet is <amp-live-list>. I am not sure if that will solve the problem though; it isn't like there is a ton of content coming in every second its just that old versions of the article are getting served or the data in the amp cache itself isn't getting updated.

[2020-05-06 12:40] smatoox opened #28233 "amp-next-page - Add data to json for recommendation-box & separator"
## Describe the new feature or change to an existing feature you'd like to see

Recommended box provided by amp-next-page is limited with 3 infos from json :

1. url
2. title
3. image

Usable in template mustache.

## Describe alternatives you've considered

What do you think to add extra keys avaible in templates like:

[code]
And use entries like this :

[code]

## Additional context

With extra

[2020-05-06 13:45] cpauwels opened #28235 "amp-story-player keyboard navigation"
## Describe the new feature or change to an existing feature you'd like to see

Right now pressing the left or right keys on a keyboard only advances the story if the story has been clicked and has focus. Also, when there are multiple stories added to the player, after finishing the first story, right and left keys advance not page by page but story by story.

## Describe alternatives you've consi

[2020-05-06 14:10] webzunft opened #28236 "AdSense Matched Content attributes not working"
## What's the issue?

In https://github.com/ampproject/amphtml/pull/15590/commits/d9f32c9673f9f76e944851514c3a47aa7a197d5f the following parameters were added to `amp-ad` for use with Matched Content AdSense ad units:

- `data-matched-content-ui-type`
- `data-matched-content-rows-num`
- `data-matched-content-columns-num`

I have used them in an ad unit code where they work in the non-AMP version.

[2020-05-06 14:30] rcebulko commented on #28220
/cc @zhouyx

[2020-05-06 14:32] ampprojectbot opened #28237 "🚨 Error: null is not an object (evaluating 'a.Z.contentWindow')"
Details
---
**Error report:** [link](http://go/ampe/CLzy2M2WlNqqKQ)
**First seen:** Jan 14, 2020
**Frequency:** ~ 6,311/day

Stacktrace
---
[code]

Notes
---
`@rsimha` modified `extensions/amp-ad-network-doubleclick-impl/0.1/safeframe-host.js:777-778` in #21212 (May 16, 2019)
`@bradfrizzell` modified `extensions/amp-ad-network-doubleclick-impl/0.1/safeframe-host.js:737-748` in #13594 (Feb 22, 2018

[2020-05-06 14:36] rcebulko commented on #28237
This error saw a sudden surge as of May 5, but most referrers appear to be from `refinery-29.com`. I suspect this may be a publisher/configuration error, but may be worth monitoring

[2020-05-06 14:39] gmajoulet commented on #28237
This domain has been publishing stories, so there's a chance it might be a story specific bug rather than publisher/configuration error.

cc @calebcordry can you help us look into this one?
cc @ampproject/wg-stories