[2016-01-30 18:06] rudygalfi commented on #1688
@alexiirj1 Thanks for your interest in AMP!

You can go with either path you mentioned; AMP supports both. Please check out this page for detailed instructions: https://www.ampproject.org/docs/guides/discovery.html.

`<img>` is not allowed in AMP but has a replacement: `<amp-img>`. See this for more: https://www.ampproject.org/docs/reference/amp-img.html.

[2016-01-30 18:06] #1688 closed

[2016-01-30 18:08] rudygalfi commented on #1673
I think this is related to: https://github.com/ampproject/docs/issues/25, which says a fix should be available soon.

[2016-01-30 18:08] rudygalfi commented on #1673
@avimehta Are changes to AMP required to address this? If so, I recommend attaching this issue to those changes. Otherwise, let's close this out.

[2016-01-30 18:13] rudygalfi commented on #1662
@bcko If you haven't already done so, please get in touch with the support team at Cloudflare to let them know your issue.

[2016-01-30 18:13] #1662 closed

[2016-01-30 18:14] rudygalfi commented on #1660
Closing this in deference to Automattic/amp-wp#151 resolving this.

[2016-01-30 18:14] #1660 closed

[2016-01-30 18:19] rudygalfi commented on #1639
Closing since we've captured mandatory placeholder in https://github.com/ampproject/amphtml/issues/1356

[2016-01-30 18:19] #1639 closed

[2016-01-30 18:30] bcko commented on #1662
Hello @rudygalfi,
What would be the best way to address my issue to the support team? If they don't insert their script to the page, they would not be able to offer their service.
Is there anyway for the AMPhtml to put Cloudflare script to validation rule.

[2016-01-30 18:34] #1544 closed

[2016-01-30 18:40] rudygalfi commented on #77
Added "Stale?" label. @dvoytenko Please advise on timeframe.

[2016-01-30 18:44] rudygalfi commented on #356
@erwinmombay Do you think you can reproduce this, or should we close this out?

[2016-01-30 18:48] rudygalfi commented on #294
Do we want to call this discussion closed, or keep this around for post-M1 discussion?

[2016-01-30 18:50] rudygalfi opened #1689 "Incorporate pinch to zoom into lightbox"
Builds on #304

[2016-01-30 18:50] rudygalfi commented on #304
#1689 will track lightbox work.

[2016-01-30 18:50] #304 closed

[2016-01-30 18:53] rudygalfi commented on #895
Targeted to M2. Please unmark "Stale?" label if still needed; else close.

[2016-01-30 18:54] rudygalfi commented on #738
Targeted to M1. Would be great to get some ideas flowing on which known issues we can cite.

[2016-01-30 18:55] rudygalfi commented on #829
@jmadler Can you give an update on the status of this?

[2016-01-30 18:59] rudygalfi commented on #335
I think we've decided we're comma danglers around here. :) Closing this.

[2016-01-30 19:00] rudygalfi commented on #569
Targeted to M2. Please unmark "Stale?" label if still needed; else close.

[2016-01-30 19:01] rudygalfi commented on #665
Targeted to M2. Please unmark "Stale?" label if still needed; else close.

[2016-01-30 19:09] rudygalfi commented on #638
If the data shared in this issue is sufficient, let's keep this closed. Else we can re-open for further investigation.

[2016-01-30 19:10] rudygalfi commented on #1677
@ericfs How urgent is this?

[2016-01-30 19:11] rudygalfi commented on #1659
cc @Meggin

[2016-01-30 19:11] rudygalfi commented on #1641
cc @kashyapnitin

[2016-01-30 19:24] rudygalfi commented on #1662
Please explain the issue to them and you can make reference to this discussion.

Running the Cloudflare script on the AMP page directly is not an option. There may be alternatives if they are willing to engage here to explore them.

[2016-01-30 20:39] cramforce commented on #1641
@kashyapnitin Could you prepare some use case driven docs? Right now we only talk about the capabilities, but users have to transfer that themselves.

@paulredmond While we can improve the docs it is best to get guidance from your existing vendors how to integrate with AMP. Only a small part of the AdTech ecosystem needs "1st class" support in AMP. Most can just give you info how to make their off

[2016-01-30 20:41] cramforce commented on #638
I'd like to keep this open. @jaboc83's data is awesome, but I'd like to complete that with data from various mobile devices.

[2016-01-30 20:42] cramforce commented on #569
We want to do this. @dvoytenko wanna add your super MVP to travis?

[2016-01-30 20:43] cramforce commented on #335
@rudygalfi Great PM work :shipit:

[2016-01-30 20:49] rudygalfi commented on #1020
@erwinmombay Can you take a fresh look?

[2016-01-30 21:03] erwinmombay commented on #1020
@rudygalfi looking.

[2016-01-30 21:04] ericfs commented on #1677
It's nice to have but not critical. Whenever it's ready we can make use of it, but it's not blocking.

[2016-01-30 21:15] rudygalfi commented on #323
Closing this assuming #998 covers it and necessary validator changes have happened. Reopen if still needed.

[2016-01-30 21:23] rudygalfi commented on #1027
@erwinmombay Still blocked?

[2016-01-30 22:09] erwinmombay commented on #1027
shouldn't be anymore, found a workaround but haven't finished the work yet. will try to wrap it up soon

[2016-01-30 22:49] cramforce opened #1692 "Turn saucelabs tests in Chrome 37 back on"
They have a few failures right now.

[2016-01-31 05:26] 88kbbq opened #1693 "Set cookieDomain in amp-analytics"
Possible?

[2016-01-31 05:28] 88kbbq commented on #1693
Ah, found another issue #1449

[2016-01-31 05:28] #1693 closed

[2016-01-31 09:35] carlosabalde commented on #1632
Thanks @dvoytenko, the information about RID-SID binding also in client mode has been very useful.

[2016-01-31 09:35] #1632 closed

[2016-01-31 15:07] jattsaini opened #1694 "Webmaster tools showing 3 types of errors on Amp pages"
I am using the AMP plugin for my blog timesnews.co.uk and now the google webmaster tools has started showing AMP pages results in the Google WHT.

First how to add a logo to the amp pages?

37 pages indexed and 10 have errors

**Following errors are developed:**

**Error in schema.org NewsArticle:** http://www.timesnews.co.uk/3695-best-cough-syrups/amp/

**Prohibited attribute error:**
http://www.

[2016-01-31 16:03] Jimmaki opened #1695 "AMP HTML file can't render because https://cdn.ampproject.org/robots.txt set to disallow"
Fetch and render my AMP HTML files and all, one by one, having the same issue.

The report from Search Console states "Googlebot couldn't get all resources for this page. Here's a list:"

URL: https://cdn.ampproject.org/v0.js<br>
Type: Script<br>
Reason: Blocked<br>
Severity: High<br>
https://cdn.ampproject.org/v0.js/robots.txt

Is there any way to render those?

[2016-01-31 16:15] cramforce commented on #1695
Good catch. Will fix.

[2016-01-31 16:17] cramforce commented on #1695
Tracked at Google as b/26889091

[2016-01-31 17:02] #1695 closed

[2016-01-31 17:02] cramforce commented on #1695
This is fixed.

[2016-01-31 17:04] Jimmaki commented on #1695
Thanx!

[2016-01-31 20:54] #1449 closed

[2016-01-31 20:55] cramforce commented on #1693
We implement the ability to set on the highest available domain. Let me know whether you were looking for anything else.

[2016-02-01 04:33] rudygalfi commented on #1619
Just want to make sure I'm following this correctly. The client ID is intended to be unique per origin and per analytics endpoint, but NOT per viewer:

- (A) Pub P1, Endpoint E1, Viewer V1 ==> Client id CID1
- (B) Pub P1, Endpoint E2, Viewer V1 ==> Client id CID2
- (C) Pub P2, Endpoint E1, No viewer ==> Client id CID2
- (D) Pub P2, Endpoint E1, Viewer V1 ==> Client id CID2
- (E) Pub P2, Endpoint E

[2016-02-01 04:40] rudygalfi commented on #1382
#1385 seems to indicate this is still open for analytics. Can anyone speak to status of this issue?

[2016-02-01 05:01] 88kbbq commented on #1693
I searched for documentation about this but couldn't find anything. How do we set cookie domain for amp google analytics

[2016-02-01 05:03] rudygalfi commented on #886
@asap Since you volunteered first, why don't you go for implementing this? If you don't think you'll have time soon, then just let us know and perhaps @kesla can take this one?

[2016-02-01 11:20] dotandads opened #1698 "New amp-ad types integration"
Do you have any ideas on the timeline of new amp-ad types integration?
We submitted the PR #1583 but we have had no response in the last 5 days.

Are there any other actions we have to do to be merged or is other ads integration in standby?

Thank you

[2016-02-01 15:31] cramforce commented on #1698
Reviews can some time take a few days. Especially with weekends in between. Feel free to just ping the review thread next time.

[2016-02-01 15:31] #1698 closed

[2016-02-01 15:40] cramforce commented on #1693
There is currently no way to do it. What would you like to set it to?

[2016-02-01 15:42] cramforce commented on #1619
@rudygalfi your example is correct.

[2016-02-01 15:55] #1172 closed

[2016-02-01 16:02] asap commented on #886
@rudygalfi I already implemented, just going through the code review process.

[2016-02-01 16:15] britice opened #1701 "Provide ability to conditionally append key-value pair in amp-analytics"
In some analytics platforms, when a parameter is empty the expected behavior is to not include that parameter in the request. For example, if there was an optional user-defined `authors` variable and the user left the value undefined, the request would not contain an `authors` parameter.

[2016-02-01 16:30] hugronaphor opened #1703 "Validator reports as error the '_self' value of 'target' attribute"
The error:
`The attribute 'target' in tag 'a' is set to the invalid value '_self'.`

The markup:
`<a href="http://www.theweek.co.uk/election-2015" target="_self">UK general election</a>`

This attribute value should be allowed even if this is a defualt value for 'target' attribute.

[2016-02-01 17:01] rudygalfi commented on #886
Ah, I missed #1584. Thanks for the update.

[2016-02-01 17:06] cramforce commented on #1703
The issue is that `_self` may be wrong in some embedding scenarios. This is why AMP pages should never rely on the default actually meaning `_self`. Allowing it would mean that embedders would have to explicitly do something else than the page is stating, which seems problematic.

[2016-02-01 17:34] hugronaphor commented on #1703
Ok, in this case we really need to push on Issue #994 as it's hard to validate the markup.

[2016-02-01 17:34] #1703 closed

[2016-02-01 17:49] powdercloud commented on #1687
@ewebxml thus far we have the #development=1 facility - see here:
https://www.ampproject.org/docs/get_started/create/preview_and_validate.html
Also, the validator that's in there is open source, so if you prefer a command line tool you can build it.
https://github.com/ampproject/amphtml/tree/master/validator
We don't have an interface like validator.w3.org yet. It wouldn't be too hard to do this,

[2016-02-01 18:25] cramforce opened #1708 "Lock amp-ad, amp-embed into supported types in 3p-iframe."
- pass tag name into frame
- map type to tag name

[2016-02-01 18:34] dvoytenko commented on #1694
@powdercloud , I looked at couple of the pages with `#development=1` and I see no errors there. Could you please take a look?

[2016-02-01 18:35] dvoytenko commented on #294
Let's close until it comes up with the specific request.

[2016-02-01 18:35] #294 closed

[2016-02-01 18:40] erwinmombay commented on #1680
@jito1989 do you have a page i can look at? or a reproduction of it in a gist/jsfiddle(etc)? would appreciate it

[2016-02-01 18:57] Gregable commented on #1694
schema.org errors don't appear in AMP Validation as they are a Google specific markup, not AMP related.

I looked at some of the prohibitied attr errors and see them on javascript:
[first](http://www.timesnews.co.uk/6426-zte-blade-l6-listed-by-fcc-images-and-specifications-leaked/amp/#development=1): 245:0 The attribute 'content_max_width' may not appear in tag 'amp-carousel'.
[second](http://www.

[2016-02-01 19:29] Meggin opened #1711 "Validation for video src must be HTTPS"
Hey,

As far as I can tell, the validator doesn't enforce that the video src must be HTTPS.

In the amp-video spec, however, it states that it must be.

Also, there might already be an issue for this. I searched for one, but couldn't find it, so creating a new one. Remove if it's a duplicate.

[2016-02-01 20:02] asap commented on #886
@rudygalfi. I pushed my code up earlier today and saw that the build keeps failing, but I don't think it's for anything that I'm doing. Any advice?

[2016-02-01 20:08] drobertsacbj opened #1714 "How to hide empty space that results from undelivered ad?"
If an ad does not deliver via GPT (aka Doubleclick) it creates a hole the size of the expected ad. Normally I'd use the "collapse empty divs" functionality to deal with it. How would this work in amp?

[2016-02-01 20:20] rudygalfi commented on #886
@cramforce Any advice here?

[2016-02-01 20:23] erwinmombay commented on #886
the issue was probably part of the `gulp lint` errors. looking into this with @asap in slack

[2016-02-01 20:29] Gregable commented on #1711
This is being worked on, but I don't think there was a github issue so far.

[2016-02-01 20:30] Gregable commented on #1711
\cc @honeybadgerdontcare

[2016-02-01 21:06] uncompiled opened #1716 "PAGE_LOAD_TIME URL replacement not working"
URL replacements are not working for all documented variables.

In the [AMP Variable Substitutions](https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#page_load_time) documentation, it lists PAGE_LOAD_TIME as being available.  The URL replacement [appears to be implemented](https://github.com/ampproject/amphtml/blob/master/src/url-replacements.js#L185), however, the va

[2016-02-01 21:27] erwinmombay commented on #808
obsolete due to switch to closure compiler and loose babel mode. we should allow detructuring again though i think

[2016-02-01 21:32] asap commented on #886
@cramforce I'm ready for inspection!

[2016-02-01 22:02] dvoytenko commented on #1714
@sriramkrish85 what are the options here?

[2016-02-01 22:08] rudygalfi commented on #1716
@avimehta Can you take a look?

Also, updated the title to be more narrowly scoped to the value known not to work. If there are others, please let us know!

[2016-02-01 22:08] rudygalfi commented on #1714
cc @kashyapnitin who may know this

[2016-02-01 22:40] mkhatib commented on #1656
@cramforce what do you mean by "if only the poster frame was added"? Do we expect the users to manually add `amp-img` for the `amp-youtube` or do we automatically add that for them?

I've just sent #1718 PR for addressing #1657 - If I am to follow the same logic there I'd probably check if we're in `prerender` mode and insert an image (or an amp-img) and return from layoutCallback before inserting

[2016-02-01 22:55] dvoytenko commented on #1656
I'd assume we can just add one ourselves - no need for "poster" attribute or "amp-img" tag set manually.

[2016-02-01 23:14] mkhatib opened #1722 "Validation to include 'preload' attribute on amp-video"
As discussed in the comments on #1657

Attribute is optional.

[2016-02-01 23:18] dvoytenko commented on #1716
It's in canary, but hasn't been released yet. I believe the release is later today. But if you'd like to try it out sooner - you can opt-in into dev-channel here: https://cdn.ampproject.org/experiments.html

[2016-02-01 23:22] dvoytenko commented on #1711
Yeah, I don't see an issue. Let's use this one, @Gregable

[2016-02-01 23:39] rudygalfi commented on #1716
Good catch. @uncompiled Let us know if that fixes it and we can close this. Thanks!

[2016-02-01 23:43] cramforce opened #1725 "Immediate side effect of listenParent in environment.js causes errors"

[2016-02-02 00:50] dvoytenko commented on #569
I'd like to. However, the challenge is to be able to upload images somewhere in case of failure. Otherwise, this makes it impossible to debug. Any suggestions? Given Travis' limitations with secret keys this is difficult.

[2016-02-02 00:59] #1574 closed

[2016-02-02 01:02] Meggin opened #1727 "Add layout validation for amp-install-serviceworker"
Only NODISPLAY layout is supported for amp-install-serviceworker.

Update https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii to properly include this validation.

[2016-02-02 01:18] montmanu commented on #1574
thanks @dvoytenko!

[2016-02-02 02:11] cramforce commented on #1656
@mkhatib Yes, the logic is the same. The main difference is that we can compute the URL ourselves, so there is no need for an additional attribute.

[2016-02-02 02:49] ElenaOrel opened #1730 "Are Accelerated Mobile Pages only for news?"
Google requires schema.org NewsArticle metadata

[2016-02-02 02:49] #1186 closed

[2016-02-02 03:00] cramforce commented on #1730
@ElenaOrel that is a bug that should be fixed soon. We don't actually required NewsArticle. In any case that is Google's thing. AMP itself has no schema.org requirement at all.

[2016-02-02 03:00] #1730 closed

[2016-02-02 03:03] mkhatib opened #1732 "Support amp-vimeo, amp-dailymotion amp-soundcloud in validator"
- amp-vimeo
- amp-dailymotion
- amp-soundcloud

Blocks #1471

[2016-02-02 03:05] mkhatib commented on #1471
I sent out a PR to add `amp-vimeo`. However I haven't addressed passing all the options listed in the documentation. Mainly because I have an open PR to pass `data-param-*` to the `amp-iframe.src`. I am wondering if we should be implementing `amp-vimeo` extra options similarly.

What do you folks think?

[2016-02-02 03:07] cramforce commented on #1471
@mkhatib For the 1st class components we use `data-`. `data-param-` is a thing for generic iframes.

[2016-02-02 03:17] jattsaini commented on #1694
What to do now then to fix these errors?
Any how to add the site logo to amp pages header?

[2016-02-02 03:21] mkhatib commented on #1471
Sounds good. Let me know if I should update the pull request with that.

[2016-02-02 09:59] lec-sdiallo commented on #1562
Asked to SMART what's going on, they replied that they're working on it (see https://github.com/ampproject/amphtml/pull/1704) and they'll communicate to their customer estimated time of delivery

[2016-02-02 12:09] nuxodin opened #1735 "The attribute 'rel' in tag 'link rel=' is set to the invalid value 'manifest'"
Is it not useful to make web apps containing amp-documents?

[2016-02-02 15:24] 88kbbq commented on #1693
I'm looking to set the www as the cookie domain and have cookie-free domain for static content. Does the AMP cache add cookies to static resources? If so, I suppose this is a moot point.

[2016-02-02 15:43] cramforce commented on #1693
Separate domains for resources are somewhat of a mixed bag in the times of HTTP 2 and SPDY.

AMP, when loaded from your own domain, can add cookies if requested by amp-analytics. By default it will set it on `example.com` instead of `www.example.com`.

For a cookie-free domain it is is better to use a different 1st or 2nd level domain like `example-static.com`

[2016-02-02 16:27] jridgewell commented on #335
We still need the ESLint rule...

[2016-02-02 17:04] Gregable commented on #1694
You can see the documentation for the `<amp-carousel>` tag [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-carousel/amp-carousel.md). Specifically, you'll need to remove the attribute `content_max_width` from those tags.

If you aren't adding these yourself (you mentioned an AMP plugin), you may want to contact the developer of the plugin and share these errors (or this thr

[2016-02-02 17:09] erwinmombay commented on #335
haha honestly i held off on making this change because of how huge the delta on the code base was going to be! lol

[2016-02-02 17:12] erwinmombay commented on #1020
@dvoytenko so that code looks like its in core-js which we can probably get rid of when we use @jridgewell Promise polyfill.

[2016-02-02 17:18] cramforce commented on #1735
@nuxodin We generally do not allow link tags with significant side effects as AMP files are designed to be embedded into various contexts. There is, however, `amp-install-serviceworker` as a modern equivalent to manifests. ServiceWorkers make more sense as they can upgrade the AMP to your full app, which you can't do with manifests.

[2016-02-02 17:18] #1735 closed

[2016-02-02 17:33] erwinmombay opened #1737 "migrate from chai to expectjs"

[2016-02-02 17:35] cramforce commented on #1737
We should make this a monthly thing where me migrate back and forth! :100: :)

[2016-02-02 17:37] erwinmombay commented on #1737
@cramforce i thought that was already the case :joy_cat:

[2016-02-02 17:39] jridgewell commented on #335
PR: https://github.com/ampproject/amphtml/pull/1738. Adding a `fixer` to the ESLint plugin made this surprisingly easy.

[2016-02-02 17:47] jridgewell commented on #1020
We'll still need some feature detecting in my polyfill, but we can probably get away with:

[code]

[2016-02-02 17:53] jridgewell commented on #1449
Closed by https://github.com/ampproject/amphtml/pull/1459.

[2016-02-02 18:33] dawnieando commented on #1673
Any idea when this is expected to be fixed?

[2016-02-02 18:40] avimehta commented on #1673
https://github.com/ampproject/amphtml/pull/1627 fixed this and the new script is live.

[2016-02-02 18:43] #1673 closed

[2016-02-02 18:43] #1622 closed

[2016-02-02 18:44] rudygalfi commented on #1673
Fixed via #1627.

[2016-02-02 19:43] johnnyshankman opened #1741 "Update List of Extensions Documentation (Missing Entries)"
The list in the documentation found here

https://github.com/ampproject/amphtml/tree/master/extensions

is for example missing `<amp-facebook>`.

[2016-02-02 19:58] #1471 closed

[2016-02-02 20:23] ryanlombardo opened #1742 "Overwriting ampdocUrl in Google Analytics/amp-analytics not working"
Setting a custom value for `ampdocUrl` does not override the default value being sent to in the Google Analytics request.

By default, Google Analytics sends the AMP url and we want to change it to the canonical url.

Here's our config:

[code]

And here's the request sent to GA showing the default value still being used. (Look for the `dl` parameter.)

`https://www.google-analytics.com/r/collect?

[2016-02-02 20:39] rudygalfi commented on #1742
@ryanlombardo I believe you said this was working for you last week?

[2016-02-02 20:40] ryanlombardo commented on #1742
Yes, we tested it on Friday and I'm fairly certain that it was working.

Ryan Lombardo | BuzzFeed | Lead Software Engineer | @rlombardo

200 Fifth Ave, 8th Fl, New York, NY 10010

On Tue, Feb 2, 2016 at 3:39 PM, Rudy Galfi <notifications@github.com> wrote:
@ryanlombardo [https://github.com/ryanlombardo] I believe you said this was working for you last week?

—
Reply to this email directly or view

[2016-02-02 20:44] Polylike opened #1744 "Event Tracking Google Analytics/amp-analytics not working"
Hey,

Event Tracking doenst work. Trying Example AMP Page from https://developers.google.com/analytics/devguides/collection/amp-analytics/. Page tracking works fine.

Best regards,
Daniel

[2016-02-02 20:47] avimehta commented on #1742
Please override `documentLocation` variable and set it to `CANONICAL_URL`.  We had to make the change because setting ampdocUrl to canonical Url did not make sense semantically.

[2016-02-02 21:29] dvoytenko opened #1747 "Access analytics: ensure that access to authdata is properly protected"

[2016-02-02 21:30] rudygalfi commented on #1744
@Polylike Can you be more specific on what you tried and what you've observed?

[2016-02-02 21:32] avimehta commented on #1744
Also, a link or html config for the page that is not working?

[2016-02-02 21:37] rudygalfi commented on #1742
@ryanlombardo Hopefully @avimehta's suggestion helps resolve this. Please re-open if not.

[2016-02-02 21:37] #1742 closed

[2016-02-02 21:49] Polylike commented on #1744
Hey,  i have created a Example AMP Page like https://developers.google.com/analytics/devguides/collection/amp-analytics/  "The following is an example AMP page with Google Analytics pageview and event tracking."  The pageview tracking works fine, but when i click on the section:  <span id="event-test" class="box">
    Click here to generate an event
  </span>

not event is tracked via realtime rep

[2016-02-02 22:14] jridgewell commented on #323
@sriramkrish85, @cramfore: I believe this can be closed now?

[2016-02-02 22:15] #323 closed

[2016-02-02 22:17] uncompiled commented on #1716
This works in the dev-channel, so this issue can be closed.

[2016-02-02 22:17] #1716 closed

[2016-02-02 22:26] avimehta commented on #1744
It looks like there is a bug in the documentation. We'll get that fixed. The values for variables have to be in double quotes.

[code]

Let me know if this fixes the issue. We'll fix the documentation soon.

[2016-02-02 22:46] ryanlombardo commented on #1742
It works! Thanks.

[2016-02-02 22:53] rudygalfi commented on #1744
Closing this here. Google Analytics is tracking the documentation update internally.

[2016-02-02 22:53] #1744 closed

[2016-02-03 01:27] rudygalfi commented on #1744
Documentation seems to be updated now.

[2016-02-03 01:38] 88kbbq commented on #1693
In my case, I already have EV SSL certificates for my domain and subdomains. Buying another domain and cert is uneconomical.

[2016-02-03 07:40] Polylike opened #1756 "AMP Analytics - Unhandled promise rejection Enable experiment amp-storage"
Hey, when i open the console on https://www.ampproject.org/ i getting the error Unhandled promise rejection Enable experiment amp-storage. es6.promise.js:112

(anonymous function)	@	es6.promise.js:112

Same problem for my site but when i remove AMP Analytics the message getting away.

Best regards,
Daniel

[2016-02-03 08:00] Polylike commented on #1744
Hey, it looks like there are a other problem. The problems comes with the tricker. I'm trying this:`"link-trigger":{"on": "click", "selector": "a", "request": "event", "vars":{"eventCategory": "Link", "eventAction": "clicked-link"}},`

Works fine and every click gets tracked correct.

Trying this:
`"span-trigger":{"on": "click", "selector": "#span-intern", "request": "event", "vars":{"eventCategor

[2016-02-03 08:07] dvoytenko commented on #1756
Thanks for the report, @Polylike . This has been fixed just today or yesterday. Should be all good in next canary. The error itself is benign - it just reports an error incorrect - it doesn't prevent anything from working.

[2016-02-03 08:07] #1756 closed

[2016-02-03 11:05] Nicola1976 opened #1757 "Appnexus Adv - single position ad call"
Hi guys!

I am trying unsuccessfully to make a AMP-AD with call to a single position to show an AppNexus adverstising AppNexus . Specifically a frame1 300x250 .

Appnexus is currently NOT supported ad server.

I have to use "Running ads from a custom domain" implementing remote.html?
Which is the correct syntax to make adserver custom?

This is the ad call. I need to pass to it 2 parameter: sitepa

[2016-02-03 15:24] cramforce commented on #1757
@Nicola1976 Please get us in touch with App Nexus and we can build first class support for them. This should be quick and easy.

How do you add the "sitepage" and "random number"?

[2016-02-03 17:15] Nicola1976 commented on #1757
Hi,
I found this temporary (orrible) solution (waiting for custom OAS adaptor):

*amp-iframe* > *iframe (another) *> *custom script *(to set random number)

I dont know how get the sitepage from parent page (it is a javascript
variable in page) because, as you know, in AMP page it is not allowed to
use custom javascript.

I am in contact with the OAS that he announced that they are developing an
a

[2016-02-03 17:16] drummerboof opened #1759 "amp-ad doubleclick shared correlator for ads on single AMP page"
Hi all!

We have been looking into implementing ads on our AMP pages and are planning to use the custom domain solution so that we can add some additional parameters to the DFP request. Currently, each ad request uses a different correlator parameter meaning that they ad server considers each request a new page view.

Would it be possible to share the same correlator parameter across ad requests f

[2016-02-03 17:38] Meggin commented on #1109
+1 to making default FIXED.

[2016-02-03 18:03] bobcassels commented on #1759
There is now context['pageViewId']. It is low entropy, currently Math.floor(win.Math.random() * 10000). Is that good enough? Or should we just make that bigger, rather than make a new correlator?

[2016-02-03 18:03] dvoytenko commented on #1109
I actually think that we'd err on the side of making default `nodisplay`.

[2016-02-03 18:20] Gregable commented on #1109
Would it be worth having different defaults for different elements? `<amp-pixel>` could default to `nodisplay` while `<amp-img>` could default to `fixed`, for example.

[2016-02-03 18:22] dvoytenko commented on #1109
It's marginally possible, but it is possible. The issue is that the layout has to be fully constructed even if, say, `amp-analytics` script has not downloaded yet. So this would mean that we'd have to map all default layouts in core.

[2016-02-03 18:28] rudygalfi opened #1761 "span selector not working in amp-analytics"
From @Polylike:

`"span-trigger":{"on": "click", "selector": "#span-intern", "request": "event", "vars":{"eventCategory": "Span", "eventAction": "clicked-span"}}, `

    Click here to generate an event
  </span>`

[2016-02-03 18:29] rudygalfi commented on #1744
I spun off the new issue into #1761.

[2016-02-03 18:31] powdercloud commented on #1109
Another choice is to make the default UNKNOWN / UNSUPPORTED etc. Then perhaps the error can say "either specify some layout or width/height/etc so we can infer it". This is very close to the status quo, except that our error message currently says "you're trying to use the implied container layout which isn't supported by this tag" (no tag actually supports it). We'd basically rename CONTAINER int

[2016-02-03 19:05] cramforce opened #1762 "Send AMP-Origin header with fetch requests"
Recipients need to check this as well as the standard origin header.

[2016-02-03 19:12] #1546 closed

[2016-02-03 19:17] erwinmombay commented on #1313
@cramforce do we also need this for `amp-ad`?

[2016-02-03 19:48] Polylike opened #1763 "Google Cookie Choices - EU Cookie Law - AMP"
Hey,

is there any AMP Solution for the European Cookie laws?

"European laws require that digital publishers give visitors to their sites and apps information about their use of cookies and other forms of local storage."

https://www.cookiechoices.org/

All Solutions work with JS/jQuerry

Thanks,
Daniel

[2016-02-03 20:01] erwinmombay commented on #1763
here is an example https://github.com/ampproject/amphtml/blob/master/examples/analytics-notification.amp.html
which unfortunately currently requires a server endpoint.

We have some code in our canary branch that get rids of that requirement
and would be a straight forward "copy-pastable" example.

[2016-02-03 20:19] sriramkrish85 commented on #1714
you can use
`window.context.noContentAvailable`

documented here.
https://github.com/ampproject/amphtml/blob/master/ads/README.md#methods-available-to-the-ad

[2016-02-03 20:23] rudygalfi commented on #1763
Yes, what @erwinmombay said.

They key is to use the [amp-user-notification](https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/amp-user-notification.md) feature to present the notice. You can track an acceptance of the notice and persist it server-side if you want to do things like avoid showing it on subsequent visits.

[2016-02-03 20:23] #1763 closed

[2016-02-03 20:56] cramforce commented on #1759
`context.pageViewId` is, indeed the way to go. as of today it is being transmitted to DFP, although I have no idea whether it is used for this purpose. Note, that `url` + `context.clientId` + `context.pageViewId` is meant to be "very likely unique" together.

[2016-02-03 21:34] dvoytenko opened #1764 "Make origin required in Viewer.setMessageDeliverer"
This can be done after all existing viewers catch up with this requirement.

[2016-02-03 21:56] cramforce commented on #1313
I already did.

[2016-02-03 21:56] #1313 closed

[2016-02-03 22:00] bobcassels opened #1766 "Need initial visibility info in context"
When sending out an ad request, an important piece of information for the auction is whether the slot is visible.

The only current way to get visibility information is via the "intersection observer". But that is not immediately available. Intersection observer will schedule an evaluation at the time the observe method is called. So you don't get visibility info synchronously, but it will show up

[2016-02-03 22:18] avimehta commented on #1299
@rudygalfi please assign this to @cory-work

[2016-02-03 22:21] AltanAdacay opened #1768 "The mandatory text (CDATA) inside tag 'boilerplate (js enabled) - old variant' is missing or incorrect"
Hi, I have big problem! I cant fixed this error can you help me please.
This is console log error:
**The mandatory text (CDATA) inside tag 'boilerplate (js enabled) - old variant' is missing or incorrect se..**

And olso you can test and control here is news site:
http://www.habersert.com/amp/magazin/ivana-sert-e-nur-yerlitas-in-aldigi-maas-sorulunca--155

Thank you

[2016-02-03 22:21] rudygalfi commented on #1299
I can't make assignments outside the org (I think?) but I cleared the assignee.

[2016-02-03 22:28] rudygalfi opened #1769 "Support for Piano Analytics"
Initial support for Piano (http://piano.io) AI analytics.

PR #1652

[2016-02-03 22:32] sriramkrish85 commented on #1768
@AltanAdacay  - thanks for reaching out - I think it is the validator that failed- you can fix this by using our new boilerplate code in the head.

Follow the example - here
https://github.com/ampproject/amphtml/blob/master/docs/create_page.md

You will need to delete this code in your head
`<style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>`

and replace it with

[2016-02-03 22:33] cramforce commented on #1768
But, the old code should still validate, no?

[2016-02-03 22:34] sriramkrish85 commented on #1768
Yes on existing pages - (Not on new pages i guess)

@powdercloud can confirm.

[2016-02-03 22:48] Gregable commented on #1768
This looks like a validator parsing bug. @powdercloud and I are looking into it. It has to do somehow with the multibyte characters in the body, but what's going on is still a puzzle.

[2016-02-03 22:57] cramforce commented on #1768
@AltanAdacay For you: Don't worry about it. Our server side validator validates your page and the JS validator you are using will soon as well. Thanks for posting the bug!

[2016-02-03 23:04] AltanAdacay commented on #1768
Thanks all, I can not fixed  from since morning 09.30

I'm was delete this code : <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>

and I'm append to under amp-custom styles: https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md

not fixed this error... thank you again.

[2016-02-04 00:12] powdercloud commented on #1768
AltanAdacay Merhaba, bu problem bizim kodumuzdaki bir bug'dan dolayi kaynaklaniyor. Sizin sayfaniz da herhangi bir problem yok. Su an sorunu cozmek icin gerekli kodu hazirliyoruz. (translated by a friendly colleague)

[2016-02-04 03:45] powdercloud commented on #1768
http://www.habersert.com/amp/magazin/ivana-sert-e-nur-yerlitas-in-aldigi-maas-sorulunca--155#development=1 works now.

[2016-02-04 06:21] #1768 closed

[2016-02-04 06:55] avimehta commented on #1761
@polylike, I created https://jsfiddle.net/1ke6kvdd/embedded/result/ and the code snippet you gave seems to be working. Can you help me reproduce the issue? thanks

[2016-02-04 06:57] avimehta commented on #1744
I just commented on #1761. Not sure if @Polylike is subscribed to that issue. Can you take a look? I tried to reproduce the issue but couldn't. Feel free to update https://jsfiddle.net/1ke6kvdd/1/ with the example that doesn't work and I'll address it.

[2016-02-04 06:58] rudygalfi commented on #1761
Yes, works for me at the jsfiddle link.

[2016-02-04 07:13] Polylike commented on #1761
Okay, here are my Analytics config https://www.wunschtreppenlift.de/include/analytics-config.json

`<amp-analytics type="googleanalytics" id="analytics" config="https://www.wunschtreppenlift.de/include/analytics-config.json"></amp-analytics>`

The Spans are included here https://www.wunschtreppenlift.de e.g. `<span id="pflegede">`

No Events get tracked ("selector": "a" works) and im getting crazy

[2016-02-04 07:22] avimehta commented on #1761
So the issue seems to be that the clicks happening on `<a>` tag and the
`id` is on `span` tag. I edited your html and added "treppenlift-zentrum"
id to the `a` tag instead of the parent span tag and the analytics hits
started getting sent.

After the edits, the html snippet looks like this:

[code]

Hope this resolves the issue. If a lot of publishers are encountering this
issue, we might want to

[2016-02-04 07:24] avimehta commented on #1761
So the issue seems to be that the clicks happening on `a` tag and the
`id` is on `span` tag. I edited your html and added "treppenlift-zentrum"
id to the `a` tag instead of the parent span tag and the analytics hits
started getting sent.

After the edits, the html snippet looks like this:

[code]

Hope this resolves the issue. If a lot of publishers are encountering this
issue, we might want to fi

[2016-02-04 07:26] Polylike commented on #1761
Wow thanks! Working fine!

[2016-02-04 07:45] Polylike commented on #1761
Sorry, last question: What about the iframe: Can a track the clicks? Span doesnt work and when i include the id in the amp-iframe   ```
<amp-iframe height=1060
          sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-popups-to-escape-sandbox"
          layout="fixed-height"
          frameborder="0"
          id="iframe-intern"
          scrolling="no"
          src="https

[2016-02-04 07:47] avimehta commented on #1761
I think clicks inside iframes are not visible to the parent document. This
unfortunately is a limitation of html and can't be fixed in AMP :/

On Wed, Feb 3, 2016 at 11:45 PM, Polylike <notifications@github.com> wrote:

[2016-02-04 07:49] Polylike commented on #1761
Okay, thanks!

[2016-02-04 11:16] adactio commented on #323
The docs are still out of date:

https://www.ampproject.org/docs/get_started/create/basic_markup.html

Can we re-open this until the docs are updated?

[2016-02-04 11:43] AltanAdacay commented on #1768
Thanks for everything... Yes work now perfectly

[2016-02-04 14:07] bobcassels commented on #1766
BTW, I'm happy to do the work here. But I see that the visibility code uses getBoundingClientRect, which is otherwise proscribed. So we should have some agreement that this is okay. Or a decision that it's not, in which case we'll need to figure out what other information we can provide to help in the auction.

[2016-02-04 14:45] blakie opened #1776 "amp-pixel user agent"
Hi all,

I want to track with amp-pixel also the user agent, is there a way to do it? Why not implement a USER_AGENT variable?

Thanks,
P.

[2016-02-04 14:48] #1776 closed

[2016-02-04 14:59] cramforce commented on #1776
Just clarifying: The reason is that the request itself contains the user agent as a HTTP header and thus including it in the URL would be redundant.

[2016-02-04 14:59] bobcassels opened #1777 "context.canonicalUrl seems not useful in building an amp-ad"
I'm working on ads/adsense.js, the thing that makes an Adsense ad request. When I run an example, the value I get for context.canonicalUrl seems useless:

global.context.canonicalUrl: http://nonblocking.io/
global.context.location.href: http://localhost:8000/examples.build/adsense.amp.max.html

So I'm using global.context.location.href for now. Is that right? Or is context.canonicalUrl wrong?

[2016-02-04 15:02] cramforce commented on #1766
@bobcassels For my clarification: Do you want to use this for the implementation of a new or existing ad type that hardcodes sending this info? Or would you like to include the info with ad requests of, say DFP, that would not always include the info?

I think in the former case it would be reasonable to just immediately ask for a change record. You will always receive one immediately just after y

[2016-02-04 15:05] juliantoledo opened #1778 ""title" var in amp-analytics is not recognize and that it shows empty in GA."
Two publishers have reported that "title" var in amp-analytics is not recognize and that it shows empty in GA.

Examples of the code used:
[code]

[2016-02-04 15:11] blakie commented on #1776
exactly, silly question :)

[2016-02-04 15:13] cramforce commented on #1778
@juliantoledo I edited your post for markdown syntax. Would you mind posting a sample request?

Assigning to @avimehta

[2016-02-04 15:29] cramforce commented on #1777
Canonical URL should be whatever the `<link rel=canonical href="THIS VALUE">` of the embedding doc is.

[2016-02-04 15:29] bobcassels commented on #1766
@cramforce I am re-implementing the existing adsense ad handler, and I always wants to include this info. I was wanting to do it more immediately, but if you think using the existing mechanism is the right thing, I will try it and complain if it seems too slow.

[2016-02-04 15:31] cramforce commented on #1777
The thing about `location.href` is that it will vary based on embedding context, which means you would treat a doc served through the AMP cache differently from a doc that is not.

[2016-02-04 15:36] cramforce commented on #1766
@bobcassels yeah, let us know if it seems slow.

[2016-02-04 15:38] avimehta opened #1779 "Add tests for amp-analytics/0.1/vendors.js"

[2016-02-04 15:50] #1778 closed

[2016-02-04 16:29] bdchin opened #1782 "Built-in Google Analytics configuration not recording page title correctly"
The built-in Google Analytics configuration in https://cdn.ampproject.org/v0/amp-analytics-0.1.js is missing an ampersand before the "dt" parameter:

`basePrefix: "v=1&_v=a0&aip=true&_s=${requestCount}dt=${title} ...`

This causes the title to be sent as part of the _s value instead.

[2016-02-04 17:10] rudygalfi commented on #1782
This is a duplicate of #1778

cc @avimehta

[2016-02-04 17:10] #1782 closed

[2016-02-04 17:13] drummerboof commented on #1759
Hi - thanks for the response!

It's great that we have the unique identifiers available but it is my understanding that there is no way to assign those values as the correlator in the request that DFP makes. I don't actually do the ad scheduling but am informed that to arrange exclusions and companions/buy outs, the correlator parameter is used and it has to be that parameter, not a custom paramet

[2016-02-04 17:14] #1714 closed

[2016-02-04 17:15] rudygalfi commented on #1701
Is this blocking for your integration?

[2016-02-04 17:17] cramforce commented on #1759
This is definitely one of the things you could do with a custom iframe. I wonder if this should go directly into the GPT integration.

[2016-02-04 17:18] rudygalfi commented on #1564
Looks like we need to move this into the main validator rules as a warning.

[2016-02-04 17:24] rudygalfi commented on #1463
@sriramkrish85 Can you test back button scenarios in top window and iframe? Close this out if no further action is needed.

The rest covered here will be addressed by menu work.

[2016-02-04 17:24] cramforce commented on #1759
I just learned that doubleclick will fix this on their side for the DFP integration. Closing, but feel free to reopen.

[2016-02-04 17:24] #1759 closed

[2016-02-04 17:25] #1393 closed

[2016-02-04 17:26] #1376 closed

[2016-02-04 17:27] rudygalfi commented on #1370
This should be fixed now.

[2016-02-04 17:27] #1370 closed

[2016-02-04 17:28] rudygalfi commented on #1353
cc @jmadler

[2016-02-04 17:32] rudygalfi commented on #1307
@Gregable Can you confirm if this was taken care of?

[2016-02-04 17:34] #1301 closed

[2016-02-04 17:35] rudygalfi commented on #1285
@erwinmombay Can you update on this and push to M1/2 if needed?

[2016-02-04 17:37] rudygalfi commented on #1769
@avimehta Assigning to you since you're handling the review.

[2016-02-04 17:41] erwinmombay commented on #1285
@rudygalfi marking as M2

[2016-02-04 17:41] #1708 closed

[2016-02-04 17:44] rudygalfi commented on #1630
This should work as of Monday, 2/8.

[2016-02-04 17:47] rudygalfi commented on #1618
@Gregable Any update on this?

[2016-02-04 17:47] rudygalfi commented on #1616
@powdercloud Is this all done?

/cc @dvoytenko

[2016-02-04 17:51] jridgewell commented on #1725
Re: https://github.com/ampproject/amphtml/pull/1753

[2016-02-04 17:54] #1382 closed

[2016-02-04 17:56] rudygalfi commented on #1332
Need UX here.

/cc @ericlindley-g

[2016-02-04 18:59] Gregable commented on #1564
Yes, but it should be an error.

[2016-02-04 19:09] Gregable commented on #1307
@rudygalfi confirmed

[2016-02-04 19:11] Gregable commented on #1618
This has not been fixed.

[2016-02-04 19:13] Gregable commented on #1616
Not quite. It's available in the javascript messages, but has not rolled out to search carousel selection yet.

[2016-02-04 19:50] bobcassels commented on #1777
Oops. My example page was copied from another example. I didn't notice the <link rel=...>

Never mind.

[2016-02-04 19:50] #1777 closed

[2016-02-04 19:55] dvoytenko opened #1792 "Enforce CORS security protocol in Access"

[2016-02-04 19:58] #1634 closed

[2016-02-04 20:26] rudygalfi commented on #1307
Thanks, closing the issue.

[2016-02-04 20:26] #1307 closed

[2016-02-04 20:32] jesse opened #1793 "Brightcove player attribute"
The doc says to pass in a `data-player` attribute ([here](https://github.com/ampproject/amphtml/blob/175db5eb01123443ea4c726a6d9392d6ad67ec29/extensions/amp-brightcove/amp-brightcove.md#attributes)), but code looks for `data-player-id` ([here](https://github.com/ampproject/amphtml/blob/175db5eb01123443ea4c726a6d9392d6ad67ec29/extensions/amp-brightcove/0.1/amp-brightcove.js#L41))

Docs need updatin

[2016-02-04 20:41] dvoytenko commented on #1318
@davidreghay Here are couple of ideas how to combine images and text in the carousel:

http://jsbin.com/mucifob/edit?html,css,output

I'll close this bug for now, but please reopen if you have any issues.

[2016-02-04 20:41] #1318 closed

[2016-02-04 20:42] #1793 closed

[2016-02-04 21:12] samthurman commented on #827
+1
We show share button menus with an initial tap, this feature would allow us to do that. Very much wanted!

[2016-02-04 21:54] cramforce opened #1796 "Error handling for amp-list"
Right now on error we just show the loading indicator. That isn't very awesome.

[2016-02-04 23:07] dvoytenko commented on #1564
Should be. But it'd definitely be hard to enforce it now...

[2016-02-04 23:11] rudygalfi opened #1797 "amp-analytics scroll - provide a sampled series of scroll positions over time (batched)"
cc @cramforce

[2016-02-04 23:16] rudygalfi opened #1798 "Support POSTing JSON with amp-analytics"
Raised in #1292

[2016-02-04 23:17] rudygalfi commented on #1292
FYI: I spun off the request for supporting POST for JSON to #1798.

[2016-02-04 23:42] dpup commented on #1797
Per email conversation there are two parts of this request.

1. Scroll position sampled based on distance moved and/or time since last sample (i.e. debounce).
2. Reporting rate, which would often mean multiple samples get reported in a single batch.

Sampling would allow for detection of moving up and down through the document, so not threshold based.

[2016-02-04 23:49] dvoytenko commented on #1761
FYI: I think in some cases we are able to determine the clicks on the iframe in general (not inside, but the fact that iframe itself is clicked). However, it's rather flaky and probably not stable enough for analytics. I do have some info how to do this if you are interested.

[2016-02-04 23:55] dvoytenko commented on #1761
Not so fast. @avimehta it looks like you are only matching selectors against the target. I think we need to look into ancestors as well. Consider this:

[code]

If I read the code correctly, a click on "#match-me" will match, but a click on one of the `<a>` inside will not. I don't think this is intentional and we need to fix.

/cc @btownsend

[2016-02-04 23:58] avimehta commented on #1761
ack. I marked it as working-as-intended. I am open to revisiting this if there are people who would like to get this fixed. see https://github.com/ampproject/amphtml/issues/1761#issuecomment-179686612 last para.

[2016-02-05 00:00] dvoytenko commented on #1761
I believe we should.

[2016-02-05 00:06] rudygalfi commented on #1761
Could this lead to undesired behavior where you wouldn't want it to account for ancestors?

I guess if we document it plainly enough ("click on the selector or one if its children") then it's expected behavior. Plus, if you want to scope more narrowly you just need to use a different selector.

I think in the spirit of this feature, it makes sense to capture what's happening to children in outer e

[2016-02-05 00:09] avimehta commented on #1761
sounds good. will work on this then.

[2016-02-05 00:40] aprigogin opened #1802 "Propagate whenViewed_ to postMessage"
Propagate whenViewed_ to postMessage so that viewers can receive that event. Current suggestion for the name of the message is "confirmed_view".

[2016-02-05 00:45] dvoytenko commented on #1802
@rudygalfi could you please triage?

[2016-02-05 01:07] cramforce commented on #1802
I think we decided to not do this and instead deliver enough basic metrics to viewers that they can calculate themselves what they consider a view.

@aprigogin How would you feel when we suddenly decide to change the metric? E.g. only send the event after 15 seconds of reading?

[2016-02-05 01:27] Gregable commented on #1564
We've been emitting these errors for some time, so my guess is that most documents are already compliant. I've asked @honeybadgerdontcare to prototype this and run a regression tests to see how many documents it breaks. Assuming not many, let's make it a real error. If it's significant, we can decide what to do then.

[2016-02-05 01:31] #1762 closed

[2016-02-05 02:42] rudygalfi commented on #1296
Hey @msukmanowsky -- any updates on this?

[2016-02-05 02:44] rudygalfi commented on #1296
Whoops -- disregard. Meant for that comment to go on your pending PR.

[2016-02-05 03:21] cramforce commented on #1296
Just for my understanding: If I'm reading an article I spend most time reading (especially on a tablet with a larger screen) and a little bit of time scrolling. Do you only count the time around the scrolling as actively engaged?

I'm not really invested in making any of these calculations client side or server side, but I'd like a solution that has a little "opinion" about whether something count

[2016-02-05 12:46] #1766 closed

[2016-02-05 13:51] olaes commented on #858
This actually needs to happen.  John Mueller has stated that using the AMP format should be a simple process much like adding an RSS feed or loading a 3rd party plugin for conventional CMS platforms.  If an AMP conversion tool isn't available, many enterprise-sized websites consisting of hundreds of thousands of pages cannot simply convert all of their pages into this new AMP format.

[2016-02-05 15:03] veganjosh commented on #1296
On the client vs server side counting question: I believe that every company that tracks engaged time currently does it on the client side, so I think it's most useful if it's done in the client — otherwise everyone has to make their own significant server-side changes. Definitions are also pretty much uniform, so I think that we're all happy using a single methodology. If we want to allow for ser

[2016-02-05 15:46] ericfs opened #1806 "Listen for an unload event from the viewer"
The viewer will send an "unload" event to notify the doc that it is about to be unloaded.

This should cause a visibility state change so that analytics can flush itself.

Eventually this should also return saved state that can be used to restore the doc as described in:
https://github.com/ampproject/amphtml/issues/1677

The response can be {'savedState': <savedStateBlob>}.

[2016-02-05 16:19] britice commented on #1701
No. We've tested our systems with empty query params and everything is working as expected. At this time, this issue is not a high priority from Chartbeat's perspective.

[2016-02-05 16:45] 88kbbq commented on #1463
Tested a bit, so far so good. Closing the amp-lightbox problem, but hopefully a menu option will be available soon.

[2016-02-05 17:06] alvin-milton opened #1809 "amp-instagram layout issues"
CSS related:

This style declaration:
[code]
causes the amp-instagram tag to have unnecessary padding.

![image](https://cloud.githubusercontent.com/assets/13681857/12853138/72d69f0e-cc00-11e5-86b0-666cc9bd7f69.png)

Also the rendered child iframe has a class `.-amp-fill-content` that cuts off the content for me where if I remove it via dev tools, it renders properly.

![image](https://cloud.githu

[2016-02-05 17:50] cramforce commented on #1809
Could you paste your markup? Ideally on jsbin.com or similar.

[2016-02-05 17:51] #1792 closed

[2016-02-05 17:57] cramforce commented on #1446
Totally never saw this :)

Why not `amp-render`?

[2016-02-05 17:57] cramforce commented on #1446
Otherwise LGTM

[2016-02-05 17:58] #1266 closed

[2016-02-05 19:23] jasti commented on #1524
@cramforce  Can @jdelhommeau use the option to check if the current the current adslot is the master - something similar to https://github.com/ampproject/amphtml/blob/master/3p/twitter.js#L30 ?

I can put out an ads example if it is easier.

[2016-02-05 19:50] britice commented on #1296
I've started a branch to explore addressing this issue. I have a service "skeleton" which will be used by [url-replacements.js](https://github.com/ampproject/amphtml/blob/master/src/url-replacements.js) to provide a replacement for `'TOTAL_ENGAGED_TIME'`.

In the interest of getting feedback, I'll likely put out a PR for this as soon as I have tests created for just passing a hard coded engaged ti

[2016-02-05 20:39] alvin-milton commented on #1809
Not sure what happened but this is resolved.
Will open this back if I see the issue resurface.

[2016-02-05 20:39] #1809 closed

[2016-02-05 21:02] asap opened #1814 "amp-instagram does not support captions"
Is there a plan to ever implement captions?

https://github.com/ampproject/amphtml/blob/master/extensions/amp-instagram/0.1/amp-instagram.js#L19

[2016-02-05 21:13] cramforce commented on #1524
@jasti I made you #1815, to make the examples much, much simpler. Would be great to get an ads example!

[2016-02-05 21:16] cramforce commented on #1814
I'd rather not, because it makes the embed size unpredictable.

But if people want it enough we could.

[2016-02-05 21:23] powdercloud commented on #323
@adactio I filed https://github.com/ampproject/docs/issues/32.

[2016-02-05 21:31] asap opened #1816 "amp-pinterest sizing has a hard coded size instead of being responsive"
When trying to embed this Pinterest embed:

https://www.pinterest.com/pin/246572148327527311/

Image is scaled down

[code]

Image is scaled down to 237px wide, but the embed's area is 396px wide, creating a lot of white space.

[2016-02-05 21:47] cramforce commented on #323
Next docs push will fix. Should happen any day.

On Fri, Feb 5, 2016 at 1:23 PM, Johannes Henkel <notifications@github.com>
wrote:

[2016-02-05 22:00] rudygalfi commented on #1436
Closed by #1712

[2016-02-05 22:00] #1436 closed

[2016-02-05 22:00] rudygalfi commented on #1489
Closed by #1702

[2016-02-05 22:00] #1489 closed

[2016-02-05 22:22] erwinmombay commented on #323
confirming with @Meggin if we can do a release

[2016-02-05 22:43] Meggin commented on #323
Need to make a few changes to validation doc. Can you give me an hour?
On Feb 5, 2016 2:23 PM, "erwin mombay" <notifications@github.com> wrote:

[2016-02-05 22:54] avimehta opened #1819 "Analytics: Fix disabled test"
it.skip('fills cid for proxy host' [...]

cc @cramforce

[2016-02-05 23:13] ericfs commented on #1806
The message name we are using is "willUnload"

[2016-02-05 23:15] erwinmombay commented on #323
docs pages should be updated w/in the hour

[2016-02-05 23:23] rudygalfi commented on #1819
@avimehta Are you taking this one?

[2016-02-05 23:26] rudygalfi commented on #1806
@ericfs Please advise on priority.

[2016-02-05 23:28] rudygalfi commented on #1802
Dupe or near-dupe of #1540.

[2016-02-05 23:30] ericfs commented on #1806
Higher than https://github.com/ampproject/amphtml/issues/1677
Discussed and agreed with @malteubl
I think it would be very nice to have for overall stability.

[2016-02-05 23:30] ericfs commented on #1806
I mean @cramforce

[2016-02-05 23:34] Oblium opened #1821 "Viewability not firing if ad is visible on page load"
I'm trying to implement viewability for ads and I've noticed two different behaviours depending on ad position on page load.

If the ad is outside the viewport and then I scroll to bring it inside of it, observeIntersection fires correctly on each scroll.
If the ad is partially or totally in the viewport and then I scroll, observeIntersection fires only on page load, I have to bring the ad outside

[2016-02-05 23:47] ericlindley-g commented on #1280
@dvoytenko is this M1 or M2?

[2016-02-05 23:48] ericlindley-g commented on #1278
@jmadler , is this resolved with #1190—if not, FYI assigning to M2

[2016-02-05 23:58] ericlindley-g commented on #1229
@erwinmombay Just checking—is there any update on this, or did we just punt on it for now?

[2016-02-06 00:00] #1490 closed

[2016-02-06 00:01] ericlindley-g commented on #1225
@erwinmombay can you say what user-facing benefit this provides?

[2016-02-06 00:02] avimehta commented on #1819
I can if @cramforce doesn't get to this first. Although I caused this, he
is more familiar with this.

On Fri, Feb 5, 2016 at 3:24 PM, Rudy Galfi <notifications@github.com> wrote:

[2016-02-06 00:03] ericlindley-g commented on #1209
@mkhatib Any updates on this?

[2016-02-06 00:06] ericlindley-g commented on #1205
Putting in M2—let me know if this needs more urgent attention

[2016-02-06 00:06] mkhatib commented on #1209
The pull request is ready to be merged. Any notes on the PR? #1537

[2016-02-06 00:07] cramforce commented on #1821
Was able to reproduce. Will fix.

[2016-02-06 00:10] rudygalfi commented on #1196
It looks like #1537 is ready to merge. If you'd prefer to squash, bring it up on #1537 before someone merges. Else, separate PR.

[2016-02-06 00:12] erwinmombay commented on #1229
@ericlindley-g punting for now, *unlikely* to have more than 1, but should definitely be fixed somewhere down the line imo.

[2016-02-06 00:12] rudygalfi commented on #1280
Putting in M1 just in case, but please advise.

[2016-02-06 00:15] ericlindley-g commented on #1109
Putting this in M2, but flag if you think it should be resolved sooner

[2016-02-06 00:20] rudygalfi commented on #1066
https://www.ampproject.org/docs/reference/experimental.html addresses this

/cc  @Meggin

[2016-02-06 00:20] #1066 closed

[2016-02-06 00:29] ericlindley-g commented on #937
@pietergreyling — are there any additional items left, or does #1554 cover this issue?

[2016-02-06 00:30] ericlindley-g commented on #902
@erwinmombay — can this be closed?

[2016-02-06 00:33] ericlindley-g commented on #812
amp-iframe documentation doesn't seem to indicate resize must only increase height—can you clarify if this restriction is still in place? (may need to update docs, cc @Meggin)

[2016-02-06 00:33] erwinmombay commented on #902
@ericlindley-g i think we should be good here since we have issues for the follow ups. anyone feel free to reopen otherwise.

[2016-02-06 00:33] #902 closed

[2016-02-06 00:37] ericlindley-g commented on #532
Can someone speak to whether this can be closed?

[2016-02-06 00:40] ericlindley-g commented on #461
@jmadler  Did #390 address this? Can it be closed?

[2016-02-06 00:41] ericlindley-g commented on #412
FYI @erwinmombay , I moved this into the Feb 13 milestone

[2016-02-06 00:43] powdercloud commented on #532
Just to clarify, the status quo is that amp-custom is still required, even though we do have the new boilerplate supported at this point.
The dependencies on amp-custom are these two:
- In the validator, the presence of this attribute makes it easier to identify the intended autor stylesheet. So, slightly better error messages especially while both the old and the new boilerplate are allowed.
- In

[2016-02-06 00:44] ericlindley-g commented on #335
FYI, @jridgewell , I bumped this to Feb 13

[2016-02-06 00:46] ericlindley-g commented on #213
@erwinmombay Ping?

[2016-02-06 00:46] ericlindley-g commented on #77
@dvoytenko Ping?

[2016-02-06 01:01] matcarey commented on #937
Looks like it does, I'll have a play to be sure.  I'll close this one on the assumption it's all good and I'll comment elsewhere if I think something's missing.

[2016-02-06 01:01] #937 closed

[2016-02-06 01:35] cramforce opened #1822 "Redo viewability tests"
- Stops relying on manual firing of observer
- No longer manually create intersection observer (should instead entirely simulate postMessage including putting the iframe/ad into the right state which is currently not tested.
- The intersection height tests in amp-iframe seem broken

CC @sriramkrish85

[2016-02-06 01:46] #1821 closed

[2016-02-06 03:02] theroot79 opened #1825 "Too many errors 404 related to ads and 2 more about amp-list included js and mustache"
Test area: [http://mob.frognews.bg/#development=1](http://mob.frognews.bg/#development=1)

`<amp-ad type="adsense" ... ` causes a lot of

 errors ,
and also:

which is absolutely strange.

[2016-02-06 03:28] cramforce commented on #1825
Switch
`<script src="https://cdn.ampproject.org/v0/amp-list-latest.js" custom-template="amp-list" async></script>`
to
`<script src="https://cdn.ampproject.org/v0/amp-list-latest.js" custom-element="amp-list" async></script>`

and it validates.

I'm assuming you are seeing the errors in Safari? Those are due to a polyfill for `<link rel=preconnect>` that we developed. It greatly improves load time

[2016-02-06 03:28] #1825 closed

[2016-02-06 11:35] theroot79 commented on #1825
Yes, thank you all , all AMP-LIST errors are gone now.
I see all 404 errors on Chrome browser / Windows 10 x64

[2016-02-06 11:57] dkolba commented on #827
What's the ETA of Milestone M2?

[2016-02-06 14:48] cramforce opened #1826 "Check that swiping away a document is reflected in viewability"

[2016-02-06 15:06] jasti commented on #1524
Awesome! Waiting on merge.

[2016-02-06 18:53] cramforce commented on #1825
Please attach a screenshot.

[2016-02-06 18:57] theroot79 commented on #1825
[http://imgur.com/EGaI6tr](http://imgur.com/EGaI6tr)

[2016-02-06 19:06] cramforce commented on #1825
Ah, that is because you set the user agent to an iPhone. We sadly cannot detect whether this is needed by anything else but looking at the user agent.

Someone else was suggesting to change the URL to something like `/preconnect_polyfill_dont_worry_about_404.html` :)
Maybe we should do that. Would that have helped you?

[2016-02-06 19:17] theroot79 commented on #1825
Yes, once I switched the browser back to Desktop mode all errors are gone, thank you for the fast response.

[2016-02-07 20:51] MadaraUchiha opened #1829 "Introduce a visual indicator that there's content to be lazy loaded"
In the case of `<amp-ad>` and `<amp-embed>`, (and probably most other lazy-loaded elements) it's not possible to provide some sort of visual indication that there's something that's supposed to go into the space.

In the case of bad data connectivity or signal, ads, embeds, images, etc can take a longer time to load, and since they're loaded lazily (and rightly so), it could make the perceived per

[2016-02-07 20:52] MadaraUchiha commented on #1829
cc @nitzanvolman @effie You May Like.

[2016-02-07 21:27] Effie commented on #1829
Dor,

You know amp-embed can contain

 <div placeholder>Have a great day!</div>

 <div fallback>Have a great day!</div>

On Sun, Feb 7, 2016 at 10:53 PM, Madara Uchiha <notifications@github.com>
wrote:

--

“Weeks of coding can save you hours of planning.”
______________
*Effie Nadiv*
UI Ingenjör
Taboola
Kontor: +972-3-6966966
Mobil: +972 52 253167
effie.n@taboola.com

[2016-02-08 11:35] giovanni-lovece-dm opened #1838 "amp-ad viewability should be 0 with window not in focus"
We are implementing viewability but we actually need that the ad has been in view for a certain amount of seconds (2 or 3 seconds).

If I get a change in the intersection stating that the height is, for example, the 80% of the ad I start a timeout and after _n_ seconds i register the viewability. At the moment if the user closes browser or changes tab, I'm not aware that my ad is not visible anymo

[2016-02-08 11:40] spagu opened #1839 "amp-list and parsing json"
I am getting json short text formated with &amp;pound; charaters inside.
Once placed to amp-list they do not get parsed and browser show &amp;pound; not £ .
how to solve?

[2016-02-08 14:05] ericfs commented on #1806
Name was changed to "willLikelyUnload" as there is a small chance the unload won't happen.

[2016-02-08 15:30] cramforce commented on #1838
There is no way to know whether a window is focused on desktop (e.g. a different app could be in the foreground), but there is a way to find out whether a different tab has focus. You should definitely use this https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

We will likely still reduce the height to 0 in this case, but I'd use the above as well.

[2016-02-08 16:05] giovanni-lovece-dm commented on #1838
If there's an intent to implement the 0 height for this case, I think we will use that.

After all is not that big loss of viewability but it would be fine if there will be a mechanism to check that.

Thank you

[2016-02-08 16:07] cramforce commented on #1838
Thought some more and 0 height is bad because some people use that for animations.

We will expose the visibility state similar to the page visibility API. I was actually working on that over the weekend.

[2016-02-08 16:48] aikt opened #1840 "Valid analytics types implementation"
I would like to know if different types of analytics (Chartbeat for example) already has some way of  valid implementation in AMP projects (such as using the "amp-analytics" tag), like in this example:

"amp-analytics type="chartbeat"
script type="application/json"
{
  "vars": {
    "uid": "12345",
    "domain": "my-site.com",
    "sections": "section 1, section 2"
  }
}
/script
/amp-analytics"

I

[2016-02-08 16:49] aprigogin commented on #1802
@cramforce In the context of News, we feel that it would be best to be aligned with logic coming from AMP runtime for reporting view/clicks to publishers.

[2016-02-08 17:00] erwinmombay commented on #213
unlikely, but will have to reconfirm with @dvoytenko to make sure.

[2016-02-08 17:47] yieldmo-rao opened #1842 "Intent To Implement: Yieldmo ad network for amp-ads"
# Overview

Support for the [Yieldmo](https://yieldmo.com) ad-network will be added to `<amp-ad>` elements.

### Comments

Yieldmo will be submitting a PR via the `yieldmo/amphtml` fork from the `feature/yieldmo` branch.

[2016-02-08 17:48] maxhartshorn opened #1843 "Facebook embeds not working"
When I try and run the `facebook.amp.html` example I only see blank boxes where the `<amp-facebook>` embeds should be.

Some documentation for `<amp-facebook>` would be very helpful as well.

[2016-02-08 17:49] jmadler opened #1844 "Document opt-out in Analytics"

[2016-02-08 20:01] LendsMan opened #1846 "Stop slide's autoplay when user starts swiping"
It seems messy when you start swiping slide and suddenly autoplay timeout comes to an end.

* If you try to swipe to the right (backward) and hold (or just swipe at the right time)  you get half of the image you were trying to swipe on top of the next image.
Left half of image is frozen and it disappears from the screen only when the same image comes to the screen.
![Example](http://s22.postimg.or

[2016-02-08 20:06] wordpressnewbie opened #1847 "AMP pages with invalid attribute values"
Google crawled my site finally and found the new AMP plugin, Yayyyyy!!! :)

It did send me an error, here is a link to the page, is it because the image is to large?

http://www.canadianprocessserving.com/the-advocates-society-tricks-of-the-trade-2016-seminar/amp/

[2016-02-08 20:08] cramforce commented on #1844
The only thing we can document is: "Please analytics vendor, email us."

[2016-02-08 21:19] mhattersley commented on #826
We also have a use case whereby we geo block articles (redirect - 302) from a user from a given GEO (Country) from viewing an article. This lookup occurs if we insert ESI code processed by our CDN before serving a page to an end user which if matches the condition will redirect user to an unavailable page.

The other use case is the ability to vary content (articles) on the same URL between GEO's

[2016-02-08 21:23] Gregable commented on #1847
Nice work! If you want to see the actual error, you can visit
http://www.canadianprocessserving.com/the-advocates-society-tricks-of-the-trade-2016-seminar/amp/#development=1 and open the javascript developer console (Cntrl+Shift+J in chrome).

The errors I see are:
[code]

237:58 and 238:58 are line:column numbers referring to:

[code]

And at issue are the attributes like `rel="attachment wp-att-

[2016-02-08 21:57] cramforce commented on #1843
@mkhatib Could you take a look?

[2016-02-08 22:00] wordpressnewbie commented on #1847
Greg thanks for this!

AS my handle says I am a newbie big time, so another question if I may.

Do I have to physically change the pictures then that I will be using for amp pages?

If so how?

Also my developer tools does not show Javascript!?

Help!

[2016-02-08 22:38] cramforce commented on #534
I think for AMP's primary JS files this cannot be used as AMP changes over time and those changes cannot require changing documents.

I think the security benefits of not letting docs lock themselves into insecure versions of AMP outweigh the risk of insecure versions of AMP.

[2016-02-08 22:39] cramforce commented on #1842
LGTM

[2016-02-08 22:40] cramforce commented on #1846
+1

[2016-02-08 23:01] rudygalfi commented on #1840
You can see how to use `type` with a Google Analytics integration here: https://devsite.googleplex.com/analytics/devguides/collection/amp-analytics/

If you're curious specifically about Chartbeat, I believe they said last week that they'd be making documentation available soon.

[2016-02-08 23:24] cramforce commented on #1847
@Gregable Should we just allow `attachment` and `wp-*` for `rel`? This has come up before and seems benign enough.

[2016-02-08 23:26] #1826 closed

[2016-02-08 23:26] #1838 closed

[2016-02-08 23:49] kashyapnitin commented on #1641
Dear Paul,
we are preparing a more complete ads user guide and tips however in the mean time

a) you can look at some usecase driven ads related examples here: https://dfp-amp-testing-1185.appspot.com/

b) from a vendors supported perspective the summary is as follows:
* Supported Ad servers - with their own custom type in <amp-ad>
  / DFP, A9, Dot&Ads, SMART, AdForm
* Supported SSPs & AdExchanges

[2016-02-08 23:58] cramforce commented on #1630
@dmitrymotorin Could you report back on your metrics?

[2016-02-09 00:08] paulredmond commented on #1641
Thanks for the wealth of information! I'll internalize it and provide follow up feedback :+1:

[2016-02-09 00:26] peternofelt commented on #1597
@rudygalfi any official update/status on this? I saw that it to M but curious to know if its a priority.

The upside of m3u8 is that its a fairly responsive streaming protocol without much overhead on the server side, the client gets the streaming options and is able to delegate from there.

JWPlayer has strong m3u8 support, if you're looking for a comparison.

[2016-02-09 00:30] rudygalfi commented on #1844
Can we incorporate this as an item in #1791? For instance, "Consider if your integration requires opt-out support and be sure to clearly raise this requirement in your intent to implement so that we can discuss a solution."

[2016-02-09 00:35] mkhatib commented on #1843
@maxhartshorn, are you running the examples with `gulp` command? Are you seeing any errors in the browser console? I've just tried running the example and it seems to be working.

[2016-02-09 00:59] Gregable commented on #1847
@cramforce I don't see any problem with that one. It's apparently a base wordpress thingy, so common across wordpress installations.

@wordpressnewbie It sounds like you've enabled the AMP wordpress plugin. Unfortunately, that plugin is still a work in progress and does create some errors. The good news is that these errors don't get you any worse off than you are before. These pages won't appear

[2016-02-09 01:00] rudygalfi commented on #827
@dkolba Roughly March/April. We have a lot in M2 currently, though, so some stuff may get further pushed out.

[2016-02-09 01:09] cramforce commented on #1844
That SGTM.

On Mon, Feb 8, 2016 at 4:30 PM, Rudy Galfi <notifications@github.com> wrote:

[2016-02-09 09:15] mohitmayank opened #1861 "Fallback for UCWeb mini or any browser without web component support?"
http://caniuse.com/#feat=custom-elements

[2016-02-09 14:06] dmitrymotorin commented on #1630
@cramforce Page: http://womanitely.com/things-say-men/amp-list/
3 adsense ads on the page.
Inline Top content: 32.93%
Inline Middle content: 51.30%
Page Bottom: 80.05%

[2016-02-09 14:11] dmitrymotorin opened #1863 "Add support to Teads.tv ads"
Hi guys,
Is that support in your plans? http://teads.tv/

[2016-02-09 15:26] cramforce opened #1864 "Load amp-analytics independent of page position"
People seem to get this wrong, so it seems better to do the thing they intended to do for more correct metrics.

CC @rudygalfi

[2016-02-09 16:00] cramforce opened #1865 "Document Access-Control-Allow-Credentials in CORS docs"

[2016-02-09 16:07] cramforce commented on #1847
@Gregable Assigning to you for those extra rel values.

[2016-02-09 16:18] mjangda commented on #1847
FYI, the next version of the WordPress plugin will actually strip out the `wp-` rel attributes (`attachment` was a valid value when I checked) but might make sense to just have the validator ignore them.

[2016-02-09 16:38] sebastianbenz opened #1866 "Feature request: lightbox mode for amp-carousel"
Let's provide a lightbox mode for `amp-carousel` to cope with carousel slides of varying sizes.

`amp-carousel` works great for image galleries - if images and captions have a uniform size. If image sizes vary (e.g. mixed portrait and landscape photos) with images having long and short caption texts, it becomes difficult to provide a good amp integration.

There are some good [workarounds](https:/

[2016-02-09 17:07] jugglingcats opened #1867 "Support timeout settings on amp access endpoints"
It would be useful to be able to specify the maxium time an authorization request should take before aborting, in case that the authorization endpoint is running slowly for whatever reason. Many publishers would prefer to serve the content (fail open) than wait for a long timeout in this scenario.

This timeout might be different for a pre-fetch (longer), which makes this difficult to control on t

[2016-02-09 17:12] cramforce commented on #1847
Great! We should still allow them, for people who might roll their own with
WordPress. We use a whitelist for security reasons, not because we want to
police HTML :)

On Tue, Feb 9, 2016 at 8:18 AM, Mohammad Jangda <notifications@github.com>
wrote:

[2016-02-09 17:25] dvoytenko commented on #1866
@sebastianbenz this is definitely a good idea. We've been trying to come up with something here: either allow all elements to implement their own lightbox mode or to build a very smart lightbox that can understand groups of content. I think at this point we are pretty close to either option. One thing to note - for this to work, we will need a semantic way to define image vs caption tags. Please t

[2016-02-09 17:58] renebaudisch opened #1871 "AdResizing gives strange values"
I tried to change the dimensions of an iframe by using this methods:
https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing

I'm sending a request for 320x50 to resize to 300x250.
After this i see the amp-ad container having a height attribute of 50200, while cssText still has "width: 320px; height: 50px;"

I then tried to sniff the code by break on nodes attribute changes and have been

[2016-02-09 17:58] rudygalfi commented on #1866
cc @ericlindley-g

[2016-02-09 18:24] #1840 closed

[2016-02-09 18:25] rudygalfi commented on #1842
Closing because #1850 was merged. Let me know if this needs to stay open.

[2016-02-09 18:25] #1842 closed

[2016-02-09 18:29] cramforce commented on #1871
@sriramkrish85 please take a look.

[2016-02-09 19:02] sebastianbenz commented on #1866
@dvoytenko why do we need a semantic way to define image vs caption tags? Couldn't this work exactly like the current carousel and allow arbitrary content?

As far as I understand `amp-image-lightbox`, the semantic refs avoid duplicating image and caption in content and lightbox. For the carousel we could do it the other way around by showing the element marked as placeholder in the content and in

[2016-02-09 19:03] mkhatib commented on #1843
As for documentation, we've [this document to explain the attributes](https://github.com/ampproject/amphtml/blob/master/extensions/amp-facebook/amp-facebook.md) for `amp-facebook` if anything is missing on the usage happy to add some more docs.

[2016-02-09 19:07] #1864 closed

[2016-02-09 19:12] dvoytenko commented on #1866
It depends on what we want to enable in the lightbox. Consider some of the current features in the lightbox:
 1. We have pan/zoom gestures (I think is likely desired for carousel as well)
 2. Caption is positioned at the bottom and can be hidden on tap, e.g. when a user wants to get a better view.

[2016-02-09 19:22] #1865 closed

[2016-02-09 19:34] dvoytenko commented on #1839
@spagu could you please direct me to a sample page? And in the meantime, are you saying you actually pass `&pound;` directly or do you do `\u00A3`? The later is the correct way to encode pound character in JSON...

[2016-02-09 19:50] jasti opened #1875 "Expose 'computeInMasterFrame', so custom JS in remote.html can leverage it."
Publisher or 3rd parties want the ability to do work only once in the master iframe instead of across all ads. e..g Ability to update Krux data when a user is visiting the site for the first time.    #1815 allows to do this within a component but need the ability to do so for 3rd party code in remote.html

[2016-02-09 20:09] sebastianbenz commented on #1866
I understand - these are definitely nice to have.

We could start with a generic lightbox carousel and gradually add image gallery specific features. For example, if the root element in a slide is a `figure` with `figcaption`, we could automatically add zooming + caption hiding.

[2016-02-09 20:45] maxhartshorn commented on #1843
Thanks @mkhatib it was an issue on my local. I am able to see the embeds now. Thanks for the documentation. I had been looking here (https://github.com/ampproject/amphtml/blob/master/extensions/README.md) for documentation updates but I'll look in amphtml/extensions from now on.

[2016-02-09 20:46] jpettitt opened #1876 "Validator complaining about invalid viewport when <meta name="somthingelse" is present"
If I have a page with

[code]

The validator throws

`validator.js:274 http://localhost:8000/templates/amptemplate.html:11:4 The attribute 'name' in tag 'meta name=viewport' is set to the invalid value 'anything'. (see https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#vprt)`

` <meta name="twitter:card" content="summary">` is however accepted.

Bug or are you blocking some

[2016-02-09 20:57] jpettitt opened #1877 "Validator error if extremely long boilerplate line is not byte perfect"
I just updated to the latest boilerplate and it's breaking validation.

`http://localhost:8000/templates/amptemplate.html:8:4 The mandatory text (CDATA) inside tag 'boilerplate (js enabled)' is missing or incorrect. (see https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#boilerplate)`

I tracked it to the fact that I broke the lines in the `<style>` on ; to make the page eas

[2016-02-09 21:13] Gregable commented on #1876
I think the validator is doing the right thing here, but the error messages being produced aren't that great.

The validator allows meta tags of the form:
[code]
But not:
[code]
which, I don't _think_ is very standard, though please correct me if I'm mistaken. Note the difference in the 2nd attribute `content` vs. `value`.

There is a caveat here that there are a few `name` attribute values the va

[2016-02-09 21:19] Gregable commented on #1876
If you would like to take a look at these, you can see the[ spec the validator is using](https://github.com/ampproject/amphtml/blob/master/validator/validator.protoascii) for this tag. Search for the string "meta name= and content=" to find the relevant spec. Currently line 432, but it could move around.

[2016-02-09 21:19] #1876 closed

[2016-02-09 21:22] jpettitt commented on #1876
Yep that's it - I'll have to go find where they got the value= in the original page source I'm converting - we were just preserving all meta tags apart from the blacklisted ones but I guess I'll have to be more aggressive.

[2016-02-09 21:25] Gregable commented on #1877
Thanks for the report.

We've been working on a full CSS parser in javascript to allow for pretty much any formulation of this boilerplate, but it's not quite there yet.  For now we only have a fairly fragile regular expression that _tries_ to account for whitespace.

I couldn't find a separate github issue for this, so leaving this open to track progress.

[2016-02-09 21:51] rudygalfi commented on #1843
@maxhartshorn If you think this is resolved, please close. Thanks!

[2016-02-09 22:08] alvin-milton commented on #871
Will this support custom dimensions for Google Analytics?

[2016-02-09 22:16] rudygalfi commented on #871
@alvin-milton The Google Analytics support does include custom dimensions, according to https://developers.google.com/analytics/devguides/collection/amp-analytics/#extending_googleanalytics

[2016-02-09 22:24] dvoytenko commented on #1829
There's a spinner, but it's disabled for `amp-embed`. I'll enable it. However, `amp-ad` is disabled and I don't think we had any plans to enable it.

[2016-02-09 22:29] jmadler opened #1881 "Add customVars option for Analytics to provide pass-through of query string parameters"
- Add a customVars option for amp-analytics to provide pass-through of query string parameters
- Add a customVarsKeysReplace option for amp-analytics that is an ordered list of arguments to String.replace() to pre-process keys in customVars.

For example:

{
 customVars: {
   's.evar1': 1,
   's.evar2': 2,
 },
 customVarsKeysReplace: [
  ['s.evar', 'v'],
 ]
}

becomes v1=1&v2=2

[2016-02-09 22:38] #1843 closed

[2016-02-09 22:39] rudygalfi opened #1883 "Intent to Implement: Add vendor configuration for Quantcast Measure"
For PR #1882:

Add Quantcast Measure configuration to the built in vendors.

[2016-02-09 22:41] Gregable commented on #1711
This is fixed in github and will be live on cdn.ampproject.org within an hour or so.

[2016-02-09 22:41] #1711 closed

[2016-02-09 22:41] Gregable commented on #1847
This is fixed in github and will be live on cdn.ampproject.org within an hour or so.

[2016-02-09 22:41] #1847 closed

[2016-02-09 22:44] cramforce commented on #1881
Why not let people just do

[code]

[2016-02-09 22:48] jmadler commented on #1881
To allow for flexibility for analytics providers.  Happy to spin off into a separate ITI if that's better.

[2016-02-09 22:50] cramforce opened #1884 "Measure impact of visibility change on startup"
With the new boilerplate we are animating and then setting visibility.

According to @esprehn this may be expensive

@sriramkrish85 Did we evaluate the performance of this? I'd like to minimize performance impact including and up to rolling back the change.

[2016-02-09 22:51] cramforce commented on #1884
CC @dvoytenko

[2016-02-09 22:52] fletc3her opened #1885 "Schema.org microdata failing validation"
I have some Schema.org microdata style markup which is failing the AMP validator.

`<div itemscope itemtype="http://schema.org/Photograph" itemid="http://www.example.com/Pomeranian.html">`
`<link itemprop="mainEntityOfPage" href="http://www.example.com/Pomeranian.html">`
`<meta itemprop="headline" content="Pomeranian">`
`<meta itemprop="datePublished" content="2016-02-08">`
`...`
`</div>`

The cod

[2016-02-09 22:56] cramforce commented on #1881
Let me understand:

[code]

Goes into user config.

[code]

Goes into vendor config. Is that the idea?

[2016-02-09 23:03] dvoytenko commented on #1280
I think this is a M2.

[2016-02-09 23:05] jmadler commented on #1881
Yes

[2016-02-09 23:05] cramforce commented on #1881
:shipit:

[2016-02-09 23:05] dvoytenko commented on #812
All fixed already. Closing.

[2016-02-09 23:05] #812 closed

[2016-02-09 23:05] SmithKevin opened #1886 "Add Array support for amp-analytic vars"
As it is now each "vars" are encoded as a single string element.   We would like to be able to pass multiple values into a single var as an array, but at the same time all elements are uri encoded separately and the comma is preserved unencoded.

Example for two separate labels:
  "vars": {
    "labels": ["Config 1", "Config, The Barbarian"]
  }
is encoded as "Config%201%2CConfig%2C%20The Barbaria

[2016-02-09 23:06] dvoytenko commented on #532
Ideally, eventually, some time in the future, in a galaxy... I'd like `amp-custom` to be gone.

[2016-02-09 23:07] dvoytenko commented on #77
A dupe of #1438.

[2016-02-09 23:07] #77 closed

[2016-02-09 23:08] sriramkrish85 commented on #1871
looking now!

[2016-02-09 23:08] rudygalfi commented on #1886
cc @avimehta Do you think this would work?
@SmithKevin If you have the PR ready, please post it.

[2016-02-09 23:15] esprehn commented on #1884
Changing the visibility on the body causes us to recalc the style of the entire page since visibility is "internally inherited" even though the CSS property itself is not. Looking at an example page like https://www.ampproject.org/docs/get_started/about-amp.html this takes about 2ms.

I do see a 2ms style recalc during page load for that page, but I can't get the source map to tell me what line in

[2016-02-09 23:21] dvoytenko commented on #1884
We definitely looked into performance of visibility vs opacity. @sriramkrish85 do you still have your docs on this?

[2016-02-09 23:21] #1829 closed

[2016-02-09 23:30] rudygalfi commented on #1881
This seems reasonable to me. Note #1886, which is proposing supporting values being arrays, but I don't think that should preclude doing this.

Would `customVarsKeysReplace` only be able to be specified in a vendor config? If there is not `customVarsKeysReplace` defined for a `customVars` key, does it get ignored, or passed through as a normal `vars`?

`customVars` as a name bugs me as it doesn't

[2016-02-09 23:30] SmithKevin commented on #1886
Ok.  Let me clean it up really quick and I will post it.

[2016-02-09 23:48] cramforce commented on #1881
`customVarsKeysReplace` should also take a map. Arrays are awkward for this.

[2016-02-09 23:57] dvoytenko commented on #213
I think we are all good here. We protected against the most obvious mistakes with inherited properties. With all others - the authors have to be careful with modifying paddings and borders and that's allowed.

[2016-02-09 23:57] #213 closed

[2016-02-10 00:26] jridgewell commented on #1524
Closed by #1815.

[2016-02-10 00:26] #1524 closed

[2016-02-10 00:46] wordpressnewbie commented on #1847
Wow, I dont know what this all means, but thanks :)

[2016-02-10 00:50] Gregable commented on #1847
@wordpressnewbie In short, these errors that you've spotted will go away. We've made them non-errors on the AMP side going forward, so that you and other folks using WordPress won't have to bother with them.

[2016-02-10 00:56] Gregable commented on #1885
Thanks for the report. This is definitely something we should fix up.

[2016-02-10 01:00] wordpressnewbie commented on #1847
Cue the fireworks, thanks everyone!!!

[2016-02-10 01:08] kzap commented on #871
@alvin-milton @rudygalfi not exactly, since theres no optional parameter support, any custom dimensions you want to include have to be explicitly defined in your own request like the example given by rudy. So yes you can define whatever parameters you want for GA as long as you add the query string for it in the request object

[2016-02-10 01:24] devnullzero opened #1892 "ampproject.org/docs/: Menu not working under BlackBerry 10 browser"
Docs section of ampproject.org:
1) Menu is displayed by default and can't be hidden (see screenshot).
2) Hamburger icon does nothing.

Tested using:
BlackBerry 10 (10.3.2.2474)
Hardware: Z10
WebKit: 10.3.2.43
Browser Version: 10.3.2.36

Screenshot of https://www.ampproject.org/docs/get_started/about-amp.html
![blackberry-z10-navigator](https://cloud.githubusercontent.com/assets/17152796/12936158/9

[2016-02-10 01:30] sriramkrish85 commented on #1884
@esprehn , @cramforce , @dvoytenko
I just ran some tests on our

/examples.build/article.amp.html (and created another duplicate file on my localhost /examples.build/article-old.amp.html)

and made the files larger (by copy-pasting the <article> 14 times) and compared the `Recalculate Style` timings

Looks the the one animating visibilitiy  (NEW) is better than the OLD boilerplate( <style>body {op

[2016-02-10 03:06] fahmi182 opened #1895 "Validity style and script needs protocols?"
Hi all,

i want to asking, validity in AMP needs protocols? if our site load script or style with:

    src=//cdn.ampproject.org/v0.js

not valid?

    Fix invalid tag attribute values. AMP pages with invalid attribute values may appear in Google Search results without AMP-specific display features.

we must using protocols to get valid?

[2016-02-10 07:14] Gregable commented on #1895
Yes, for the ampproject.org files, you must specify a full, non-relative URL. `https://cdn.ampproject.org/v0.js` in this case.

[2016-02-10 08:44] richardaucock opened #1898 "Content width in /amp 1px wide"
My content is appearing 1px wide and, despite investigation, I can't work out how to alter. Any tips appreciated!

See: http://www.motoringresearch.com/car-reviews/2016-toyota-prius-review-first-drive/amp

On Webmaster search console, it advises this: Prohibited attributes: content_max_width, type...

... which seems to be a clue. Any experts out there who can help?

[2016-02-10 10:30] StephanGuenther opened #1899 "Set cookie duration with clientId"
After our data privacy we can only set cookies with a maximum duration of 6 months, but amp sets currently 1 year.

[2016-02-10 10:54] StephanGuenther opened #1900 "Add new analytics var – new visitor"
## newVisitor
Provides the status, whether the cookie ID was just generated and set new or already existed.

Example value: 1 or 0

[code]

[2016-02-10 11:11] neveldo opened #1901 "How can the cache from AMP CDN be controlled ?"
Hello,

Sorry if it have been already answered, but I have not found relevant information on this topic within the documentation. I'm wondering how can the cache from the AMP CDN be controlled in order to invalidate a page that has been updated for instance ? Is the HTTP header cache-control taken into account by the CDN ?

Thanks in advance for your explanation !

[2016-02-10 11:13] okeul opened #1902 "amp-add with smartadserver doesn't work"
Hello,

I'm trying to use smartadserver with `<amp-add>` but nothing appears and there is an error in the console :
![capture d ecran 2016-02-10 a 12 06 20 pm](https://cloud.githubusercontent.com/assets/6248074/12945636/24214038-cfef-11e5-95c5-f90b5c016afb.png)

Example :
http://output.jsbin.com/qaviwahala/1#development=1

Is it still in progress ?

[2016-02-10 11:14] Polylike opened #1903 "AmpAnalytics analytics Error loading"
Hey,

since yesterday i get this error:

cdn.ampproject.org/v0/amp-analytics-0.1.js:144 AmpAnalytics analytics Error loading remote config:  https://www.myurl.de/include/analytics-config.json Error: Response must contain the AMP-Access-Control-Allow-Source-Origin header(…)(anonymous function) @ cdn.ampproject.org/v0/amp-analytics-0.1.js:144

What to do? Working well before yesterday.

I have chang

[2016-02-10 11:16] fahmi182 commented on #1895
if we used wordpress with cloudflare and ssl content fixer (plugin), all protocols will removed, and i think validity needs to improve to accept non-protocols. :)

[2016-02-10 13:09] julien51 opened #1905 "Discovery clarification"
Based on my understanding of the docs, discovery of an AMP ressource is done thru a `<link>` element in the `<head>` section of the HTML document...  This means that a User-Agent which supports AMP will have to fetch the HTML doc to know that there's indeed an AMP document. This surely wastes at least one expensive HTTP request and some processing to parse at least this part of the HTML.

Is there

[2016-02-10 13:24] jugglingcats commented on #1633
Is there a reason nested objects are not allowed, eg.
[code]
Sometimes an access decision can contain quite complex information needed to message the user, and flattening this into name value pairs is restrictive.

[2016-02-10 13:37] jugglingcats opened #1906 "Error handling on the authorization request"
My understanding is that if the authorization request results in an error response (4xx or 5xx), the page will render without any AMP Access expression processing.

First it would be good to state this in the documentation, and make it clear that expressions will simply not be evaluated (assuming that is the behaviour), so in the example below the section would be hidden on error.

[code]

Second,

[2016-02-10 14:14] Polylike commented on #1903
Okay i have changed some .htaccess entry to this: `RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ $1 [E=WWW_HOST:www.]

RewriteRule ^(.*)_(.*)\.php$ https://%{ENV:WWW_HOST}%{HTTP_HOST}/$1-$2/ [L,QSA,R=301]
RewriteRule ^(.*)\.php$ https://%{ENV:WWW_HOST}%{HTTP_HOST}/$1/ [L,QSA,R=301]
RewriteRule ^(.*)_(.*)/$ https://%{ENV:WWW_HOST}%{HTTP_HOST}/$1-$2/ [L,QSA,R=301]

RewriteCon

[2016-02-10 14:28] rmaddox opened #1907 "Why is Google tracking inside of: https://cdn.ampproject.org/v0.js ?"
I was just thinking to update my CMS, to produce AMP pages for each page, to speed up the user experience, then I discovered that Google tracking, adsense stuff and doubleclick is in the default Javascript https://cdn.ampproject.org/v0.js

Of course we all want Google to index pages, but this kind of tracking is not chosen by webmasters. We refuse Google Adsense and any kind of tracking by Google.

[2016-02-10 14:49] Polylike commented on #1903
Hello,

okay i have adding this to the .htaccess
`Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
Header add AMP-Access-Control-Allow-Source-Origin "https://www.myurl.de"`

Its working but is it all necessary and correct?

Thanks!

[2016-02-10 14:51] jugglingcats commented on #1901
My limited understanding is that standard cache control headers will be respected, but it would be interesting to know if it's possible to programmatically de-cache a page or subset of pages.

[2016-02-10 15:24] cramforce commented on #1907
The open source code is here https://github.com/ampproject/amphtml/blob/master/ads/_config.js#L25
This will **only** run when you actually actively integrate the respective ad types into your page. You can easily verify this by looking at the requests that are being made through your browser's devtools.

This is specifically a preloading list which is why it has to be included into the JS before i

[2016-02-10 15:24] #1907 closed

[2016-02-10 15:30] cramforce commented on #1901
We're currently working on a programmatic solution for invalidation. We respect max-age headers for deciding when to refetch a page, but will keep serving the last known version until we have done so.

[2016-02-10 15:33] cramforce commented on #1905
@julien51 The general idea is that platforms supporting links would crawl the link they have anyway and then discover there is also an AMP version. Content negotiation would be great for an "I prefer AMP" browsing mode, but that would require actual browser support.

[2016-02-10 15:33] jugglingcats commented on #1901
Thanks @cramforce is there an issue we can follow for this feature?

[2016-02-10 15:36] cramforce commented on #1901
@jugglingcats we are not currently tracking it in our open source repo, because the cache itself is not open source. Lets just keep this issue open :)

[2016-02-10 15:38] cramforce commented on #1895
@fahmi182 It would be wrong. We do not serve cdn.ampproject.org on http. Please file a bug with cloudflare.

See also why protocol relative URLs should no longer be used http://www.paulirish.com/2010/the-protocol-relative-url/
TL;dr is that they've been used for spying and DOS attacks.

[2016-02-10 15:39] noahrs commented on #1866
Good idea :) We'd need this functionality as well, as we currently have these on the Daily Mail mobile web experience.

On tap on an inline image, launch light-box with left/right carousel capabilities. If you tap on image 3, you should be able to swipe left to get to image 2 or swipe right to image 4. On swipe right of last image, you're returned back to the article.

Other requirements:
- abilit

[2016-02-10 15:40] cramforce commented on #1902
Would you mind contacting the SmartAdServer support team? They are serving HTTP resources to a HTTPS page which doesn't work.
CC @sebastienferry who contributed the code.

[2016-02-10 15:40] #1902 closed

[2016-02-10 15:40] julien51 commented on #1905
Thanks for the answer!
Well, that's not just browsers... there are User-Agents (such as search engine crawlers!) which may not need to fetch the HTML first.
Also, from the SERPs on mobile, you'll surely be linking to the AMP version, right? If so, then, do you "cache" the fact that there's an AMP for a given HTML doc so you link to the right doc (AMP on mobile, HTML on desktop)?

[2016-02-10 15:42] cramforce commented on #1905
In general AMP is not a mobile-only technology, it works great for desktop.
Google initially will only use AMP for mobile users, though.

On Wed, Feb 10, 2016 at 7:41 AM, Julien Genestoux <notifications@github.com>
wrote:

[2016-02-10 15:49] cramforce commented on #1903
You are missing `Access-Control-Expose-Headers: AMP-Access-Control-Allow-Source-Origin`
it is not recommended to set `Access-Control-Allow-Origin` to `*`

Details here:
https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md

[2016-02-10 16:06] neveldo commented on #1901
Thanks @cramforce for your answer. So it's possible to prevent the AMP CDN from caching the pages by setting `must-revalidate, max-age=0` for the Cache-Control HTTP header ?

[2016-02-10 16:08] Polylike commented on #1903
`Header add Access-Control-Allow-Origin "https://cdn.ampproject.org"
Header add AMP-Access-Control-Allow-Source-Origin "https://www.myurl.de"
Header add Access-Control-Expose-Headers "AMP-Access-Control-Allow-Source-Origin"
`
Right?

Thanks a lot!

[2016-02-10 16:11] cramforce commented on #1903
Right, for Access-Control-Allow-Origin you may also sometimes wan to
respond https://www.myurl.de if the request comes from your own site,
though.

On Wed, Feb 10, 2016 at 8:08 AM, Daniel <notifications@github.com> wrote:

[2016-02-10 16:28] rmaddox commented on #1907
One could then ask if the preloading is making mobile pages faster, why not pre-load also other advertising networks? I understand you work for Google and that is why you think the matter shall be closed.

[2016-02-10 16:47] cramforce commented on #1907
As the link above shows this is not only used by Google networks (2
Google, all others are non-Google), but rather all networks that have sent
pull requests.
On Feb 10, 2016 8:28 AM, "Rosario Maddox" <notifications@github.com> wrote:

[2016-02-10 16:50] rmaddox commented on #1907
So Javascript gets pre-loaded.  How does that contribute to philosophy of making something fast?

And how many new pre-loaded scripts by other companies are yet to come?

I thought Internet technology shall be free.

[2016-02-10 16:59] cramforce commented on #1907
It is only preloaded if it will then later be used. If your page has no
ads, nothing will be preloaded. If it only has Amazon A9 ads, only those
will be loaded, etc. This is only to flatten request waterfalls which
greatly improves performance.

On Wed, Feb 10, 2016 at 8:50 AM, Rosario Maddox <notifications@github.com>
wrote:

[2016-02-10 17:01] cramforce commented on #1901
No, the cache always caches and revalidates in the background. There is no
way around that.

On Wed, Feb 10, 2016 at 8:06 AM, Vincent Brouté <notifications@github.com>
wrote:

[2016-02-10 18:07] rmaddox commented on #1907
Thank you for your nice answer, if it is really like that, and I did not check it out, it is not a big deal. But simple existence of those links in the .JS for the onlooker is suspicious. That shall be put in documentation and not to be discovered by accident, as in that way, it looks like a conspiracy.

I will certainly try to implement it in my CMS.

I only need to understand how to use pandoc o

[2016-02-10 18:35] richardaucock commented on #1898
Here's a screengrab...
![screen shot 2016-02-10 at 18 34 53](https://cloud.githubusercontent.com/assets/12961614/12957545/0f638c56-d025-11e5-833f-fdc39c38bd21.png)

[2016-02-10 18:37] rudygalfi commented on #1898
It looks like you're using the AMP WordPress plugin. You may want to follow-up in that community: https://github.com/Automattic/amp-wp

[2016-02-10 18:46] richardaucock commented on #1898
Many thanks Rudy, I shall do that. Appreciate your input!

[2016-02-10 18:54] rudygalfi commented on #1899
Quick question regarding your requirement: The AMP cookie renews the 1-year expiry each time it's accessed. Would you need 6 months without renewal or is renewal OK but in 6 month intervals?

[2016-02-10 18:55] #1898 closed

[2016-02-10 19:10] dvoytenko commented on #1900
/cc @avimehta

[2016-02-10 19:13] dvoytenko commented on #1633
No strong reason, no. Mostly it's meant to insist on simpler structures given that the authorization response is free-form and designed specifically for the needs of access. And we'd definitely like to limit the depth, e.g. to only the depth of 1 (object.field). Do you see it really needed? Could you share an example or two?

[2016-02-10 19:27] dvoytenko commented on #1906
@jugglingcats couple things that we can do.

1. We currently set `amp-access-error` top-level CSS class when authorization endpoint fails. It can already be used for something like you are requesting. (E.g. `.amp-access-error #important-id {display: anyway}`
2. We can definitely evaluate authorization, but instead with a predefined `{error: true}` data so that expression can include things like `a

[2016-02-10 19:28] jugglingcats commented on #1633
Thanks for reply. A metering response might look like this:
[code]

In some cases complex messaging would be left to the login page, but you can imagine using amp-mustache directly to render a message like:

[code]

Obviously the data can be flattened but this is not very scalable.

[2016-02-10 20:01] gordon225 opened #1915 "Cannot play video after refocusing on document"
I noticed that if videos in amp-youtube were not playing when you leave the browser tab, you won't be able to play them after returning to the tab. The player controls are greyed out, and only thing you can tap is the playlist. Tested on Nexus 6p and iPhone 6, using both Chrome and Safari.

[2016-02-10 20:47] cramforce commented on #1915
@mkhatib Could you take a look?

[2016-02-10 21:05] carlosabalde opened #1917 "Proxy-based paywalls"
I think AMP Access is focused on scenarios where the access control logic is embedded in the CMS of the publisher. However, there is another popular scenario where the **paywalling logic is embedded in a proxy (e.g. Varnish Cache, Nginx+LUA, etc.) deployed in front of the CMS of the publisher. In this case the CMS does not known anything about paywalling. It simple delivers contents and delegates

[2016-02-10 22:35] dvoytenko opened #1919 "Access: allow single level nav expressions"
E.g. in this example:
[code]

An expression would be `exceededMeter.max`.

[2016-02-10 22:36] dvoytenko commented on #1633
Sounds good. I moved the request to https://github.com/ampproject/amphtml/issues/1919

[2016-02-10 22:36] Noacyl opened #1920 "AMP HTML click-to-call button"
I was given the task to experiment, and later on implement, the AMP HTML project. Going fine, but I have this issue with the _click-to-call_ button. Normally I would put it in a **anchor tag** with the **href="+18006839847"**. However, AMP doesn't want to validate it. Is there another way to make a mobile _"click-to-call"_ ?

The code is written as such. **a href="tel:+1-800-683-9847" media="handh

[2016-02-10 22:38] rudygalfi commented on #1920
What error do you see?

cc @Gregable Is "tel:" prefix supported in the validator?

[2016-02-10 22:39] Noacyl commented on #1920
http://www.freereferral.com/devin_index_amp.html:157:4 Invalid URL protocol 'tel:' for attribute 'href' in tag 'a'.

[2016-02-10 22:40] #1905 closed

[2016-02-10 22:41] #1903 closed

[2016-02-10 22:42] #1895 closed

[2016-02-10 22:42] Gregable commented on #1920
Yes, we added tel: today, but it hasn't rolled out yet. So, @Noacyl, continue as though tel:<number> works and it will work very soon.

[2016-02-10 22:43] Gregable commented on #1920
We also are adding sms: if that's useful to you.

[2016-02-10 22:44] Noacyl commented on #1920
That will be when I get to that page. Thanks @Gregable.

[2016-02-11 00:11] avimehta commented on #1900
I think we can do this if we know whether the client id that was generated is new or not. This leads us to a situation where AMP keeps more state about the user. Not sure how @cramforce and @dvoytenko  feel about this.

It is doable though. Once we do this, I think keeping the session start time also comes back on table since it is related.

[2016-02-11 00:59] #1844 closed

[2016-02-11 01:05] dvoytenko commented on #1900
It's somewhat difficult to do in all cases since we can't use storage in all platforms/environments. E.g. private mode on iOS sort of thing where local storage quota is 0.

[2016-02-11 01:09] dvoytenko opened #1927 "Cleanup access experiment"

[2016-02-11 01:14] rudygalfi commented on #1500
Closed via #1595.

[2016-02-11 01:14] #1500 closed

[2016-02-11 01:16] avimehta commented on #1900
In that case, we should close this issue as won't fix.
On Feb 10, 2016 5:05 PM, "Dima Voytenko" <notifications@github.com> wrote:

[2016-02-11 01:25] rudygalfi commented on #1900
@dvoytenko @avimehta Just want to confirm: It sounds like there's actually an error condition here and we need to account for that. To support this, we'd need to determine a value for that error condition.

I think this raises the issue that this proposal is also asking AMP to have an opinion about the interpretation of some data (whether there is a new visitor) and there's the possibility that it

[2016-02-11 01:34] jmadler commented on #1881
Maps in JSON/JS aren't ordered.  So if we'd ever allow for multiple customVarsKeysReplace aliases to apply to the same key, we should probably go the array of arrays route.  Otherwise, map makes the most sense.

Let me know your thoughts but I'll proceed on the AoA path for now.

[2016-02-11 01:46] fahmi182 commented on #1895
I think you missunderstand, i mean.. I have a website using wordpress, cloudflare, ssl, and i fixed all source (ssl content fixed) from non-https to "//" and now all link become "//"

Example :

//cdn.ampproject.org

With no http or https

[2016-02-11 02:03] cramforce commented on #1881
Definitely go with maps.

On Wed, Feb 10, 2016 at 5:34 PM, Jordan M. Adler <notifications@github.com>
wrote:

[2016-02-11 02:05] jmadler commented on #1881
Will do.

As for naming, I think customVars makes more sense as the vars aren't necessarily vendor provided.  Consider for example an id of a particular bucket to store analytics hits into.

There's no planned enforcement of customVarsKeysReplace being located anywhere specifically.

Malte - thoughts on customVarsKeysReplace or customVarsMap?

[2016-02-11 02:08] rudygalfi commented on #1881
I can live with customVars and would suggest customVarsMap.

Have you confirmed that #1886 won't mess things up?

[2016-02-11 02:09] cramforce commented on #1881
`customVars` is better than `customVarsMap`. Since `customVarsKeysReplace`
will have exactly one user I don't care how we call it.

On Wed, Feb 10, 2016 at 6:05 PM, Jordan M. Adler <notifications@github.com>
wrote:

[2016-02-11 02:13] rudygalfi commented on #1881
Sorry, should have been clearer. I agree with `customVars` for the user-facing name. I'm suggesting `customVarsMap` for the thing that's a map vs. `customVarsKeysReplace`.

[2016-02-11 02:48] sriramkrish85 commented on #1871
@renebaudisch do you have a link that i can see?

[2016-02-11 04:28] #1657 closed

[2016-02-11 08:00] StephanGuenther commented on #1899
Renewal is ok.

[2016-02-11 08:55] sebastienferry commented on #1902
Could you add your customer domain in the tag ?
Or if you are not a customer, add https://diff.smartadserver.com
I will open a new PR to have it by default.
Thanks.

`
  <amp-ad width=320 height=50
      type="smartadserver"
      data-domain="https://diff.smartadserver.com"
      data-call="std"
      data-site="94612"
      data-page="629154"
      data-format="38952"
      data-target="foo=bar"

[2016-02-11 09:20] jugglingcats commented on #1917
@carlosabalde I think you raise some good points. From my reading of the spec, in client mode the flow is quite clear. The CMS delivers the teaser AND the full content in all cases but the full content is in amp-access-hide section. This response is fully cacheable. The AMP client then hits the authorization end point to get a decision. The JSON response from this endpoint can contain data which i

[2016-02-11 09:47] jugglingcats commented on #1906
Didn't notice amp-access-error CSS class. That's definitely useful.

I'm not worried about the fallback JSON being exposed. It is simple enough for a tech user to sniff the real response to see what's in it, and there are many other ways to hack the content in client mode.

For developers who are worried, they could just bake in {error: true} and revert to solution 2. So for me it gives people opt

[2016-02-11 10:05] jugglingcats opened #1936 "Handling of AMP Access pages by robots"
It would be good to understand if there is expected to be any special handling of AMP Access enabled pages by robots. For example, are robots expected to call the authorization and pingback urls and evaluate AMP Access expressions, only indexing visible parts of the content? If so, should robots send their regular user-agent strings to these endpoints?

Any special considerations for server mode s

[2016-02-11 11:18] sebastienferry commented on #1902
@okeul : your customer domain is www6.smartadserver.com.
I've updated you jsbin : http://jsbin.com/maruboliha/edit?html,output

Hope this helps

[2016-02-11 12:13] okeul commented on #1902
@sebastienferry : It works well, thank you ! :-)

[2016-02-11 14:50] steffenweber commented on #827
Just a few thoughts: In HTML5 there is a [`hidden` attribute](http://caniuse.com/#feat=hidden) that can be applied to any element. AMP should toggle (add/remove) this attribute to hide/show content.

Hidden state:
[code]

Expanded state:
[code]

[2016-02-11 15:38] codecreative opened #1939 "amp-img handling unknown sizes"
I've been displaying images from a feed where the size is not currently known. From the docs, it states that width and height are required.

To avoid validation errors the only solution I can think of is a fixed container that scales responsively and contains the image. Is there any official documentation on proposals for handling unknown sized images? Or is there a better solution than this?

Exa

[2016-02-11 15:50] R-O-P opened #1940 "Allow publishers to set Google Analytics cid for the AMP GA tag"
This will allow publishers to track known visitors (Once we have IDs for) with the same ID as we do on our site.
@rudygalfi

[2016-02-11 16:06] cramforce commented on #1939
The right thing to do is to download the images and get their size.

[2016-02-11 16:10] cramforce commented on #1936
Note that the AMP cache robots.txt blocks direct robots access (with a
documented rule how to treat cache URLs like origin URLs). That basically
reduces the problem to how you want to handle robots on your own site.

On Thu, Feb 11, 2016 at 2:05 AM, jugglingcats <notifications@github.com>
wrote:

[2016-02-11 16:55] alvin-milton opened #1941 "Create amp-vevo player"
The amp-iframe tag is not rendering Vevo content.

Here is some output of the tag with vevo content:
https://gist.github.com/alvin-milton/d3959eaab4753a993041

[2016-02-11 17:16] jugglingcats commented on #1936
I think that makes sense. Are you saying that search engines will always index the canonical URL, but may then send the user to the amp version of the page using the link information, eg. link rel="amphtml" href="/path/to/amp.html".

Apologies if this is obvious and already discussed at length. I read #498 which provided some further insight.

Thanks

[2016-02-11 17:18] dvoytenko opened #1942 "Cleanup amp-storage experiment"

[2016-02-11 18:00] cramforce commented on #1941
We should create `amp-vevo`

[2016-02-11 18:02] dvoytenko commented on #1900
@rudygalfi could you please clarify what you mean by error state? On the surface I don't quite see error state here. We will have a problem consistently being able to tell new vs old user given that (a) AMP doesn't by itself track the system user age; (b) We can't reliably save a flag "new" or "old". In reality, we normally do not create a cookie for CLIENT_ID - we just derive it from a previously

[2016-02-11 18:07] dvoytenko commented on #1906
Thanks, @jugglingcats. A very good point that fallback of `{error: true}` essentially covers both solutions.

[2016-02-11 18:19] dvoytenko commented on #1939
If this is a flickr feed, I believe there's a way to return the image's dimensions in the feed.

[2016-02-11 18:25] jmadler commented on #1701
@cramforce @avimehta LMK if this works:

I intend to implement this as a new boolean config option, `skipEmptyUrlParams`, which, when true, will omit "vars" and "extraUrlParams" if the value is anything other than a non-empty string.

[2016-02-11 18:31] avimehta commented on #1701
vars can't be omitted like that. For example, lets say this is my config:

[code]

[2016-02-11 18:32] nitzanvolman commented on #1829
thanks @dvoytenko !

[2016-02-11 18:48] avimehta commented on #1900
+1 to what @dvoytenko said.

[2016-02-11 19:46] bobcassels opened #1949 "Ads need to know y-position relative to the page"
I don't see a way for an ad to know its y position relative to the page. I can get the position relative to the viewport, using the Intersection Observer, but nothing relative to the page.

Can that info be made available? Maybe also x-position?

Page-relative position is useful for ad selection / targeting.

[2016-02-11 20:07] bobcassels commented on #1949
Oh, never mind. The viewport has the scroll position, so I know where it is relative to the page.

[2016-02-11 20:07] #1949 closed

[2016-02-11 21:01] mkhatib commented on #1915
This seems to be due the `pause` command being executed before the player even play. Working on a to check if the player is already playing and only then send the pause command.

[2016-02-11 21:17] codecreative commented on #1939
Thanks for the responses.
The flickr images were just for a demo. The real images I'm dealing with are coming from a feed that we are getting out of AEM. I have a srcset, but that doesn't really give me any good information for height. We can do a server-side lookup per image to find the dimensions, before rendering the amp page, but it seems like that would add quite a bit of overhead and be work

[2016-02-11 21:29] dvoytenko commented on #1939
I think the best course of action is to request the origin (e.g. AEM) to provide it. This is very much expected today from image feeds.

[2016-02-11 23:57] flaviori commented on #1353
Just checking, was there any progress on this that hasn't been documented here yet?

[2016-02-12 01:26] dvoytenko commented on #1917
@carlosabalde, @jugglingcats

I can see a few options here:
 1. Auth proxy implements AMP Access spec itself and sends the document back with `type = other`.
 2. Auth proxy does its own access logic to create the target document content and AMP runtime is not aware of any of it.
 3. The differences between 1 and 2 are rather trivial and one could have a compromise between them.
 4. We extend AMP A

[2016-02-12 01:44] Gregable commented on #1600
done

[2016-02-12 01:44] #1600 closed

[2016-02-12 01:50] #1919 closed

[2016-02-12 02:23] dvoytenko commented on #1659
Closed via #1910.

[2016-02-12 02:23] #1659 closed

[2016-02-12 02:25] dvoytenko commented on #1556
Partial implementation in #1890.

[2016-02-12 05:53] tori3 opened #1963 "Add page indicator to amp-carousel"
Other carousel js library (such as bootstrap) viewing the page indicator to carousel.
http://getbootstrap.com/javascript/#carousel
 I think it's thought to be preferred as a UX.

e.g

[code]

[2016-02-12 09:28] dandv opened #1967 "JavaScript validation API - get validation result"
Is there a way to get the result of the validation when the page is loaded with `#development=1`?

I've poked around the `amp` object but all properties and functions seem to be or return null. Even this:

    var x = amp.validator.validateUrlAndLog(window.location.href)

returns `null` when run at http://carnaval.uol.com.br/2016/album/2016/02/05/bloco-das-carmelitas-desfila-pelas-ruas-de-santa-te

[2016-02-12 09:38] jugglingcats commented on #1917
@dvoytenko your option 1 is how I vaguely imagined type="server" would be handled. Are you in a position to comment on this?

All your options essentially break caching. The AMP Cache would need to hit the publisher CMS (or CDN) for each request. It wouldn't be possible for the AMP Cache to pre-populate any content because it would need to pass the user context (cookies) in all requests. If the AM

[2016-02-12 09:43] dandv opened #1968 "Provide a programmatic validation API"
Could https://cdn.ampproject.org/v0/validator.js be used to provide programmatic validation?

If all the validation logic is there, it would make things (#937, #1967), a lot easier if we could call an endpoint like

    https://cdn.ampproject.org/validate?url=...&callback=...

Automating the validation of lists of URLs would become a lot easier from anywhere that can make an HTTP request, such as

[2016-02-12 10:23] davidfb commented on #1917
Hi, a @carlosabalde colleague, here.

@jugglingcats Totally agree with you. Although @dvoytenko suggestions on doing all filtering on the proxy seem theoretically possible, there are implications on caching that should better be avoided and the strengths of Varnish don't cover well this scenario, so that's a path that can't be followed. It would be very helpful indeed understanding if AMP Cache in

[2016-02-12 13:05] adewale commented on #1968
@dandv please sketch out the API you'd like to see. What would be the output of this endpoint?

[2016-02-12 15:23] cramforce opened #1974 "Make error reporting listen for unhandled promise rejections."
Should be a simple addition to `src/error.js`

[2016-02-12 15:24] cramforce commented on #1967
@Gregable Are you comfortable with declaring the existing API public or should we expose something from AMP?

[2016-02-12 15:40] lordnerf opened #1975 "Validator failing with new amp-user-notification specifications"
AMP Validator (**Version 1455227594932** - windows - chrome 48.0.2564.109 m) generates errors with new specifications of amp-user-notifications:

[2016-02-12 16:02] steffenweber opened #1976 "JSON-LD: Allow <script type="application/ld+json"> in <body>"
For performance reasons I would like to place `<script type="application/ld+json">` elements with Rich Snippets data at the very bottom of my HTML code. Unfortunately, the AMP validator does not allow this:

[code]

Would it make sense to relax this rule?

[2016-02-12 16:11] cramforce commented on #1976
+1

@Gregable

[2016-02-12 17:15] dvoytenko commented on #1975
@lordnerf It sounds like it's just the rollout/cache latency. Do you have an example page? Could you please also take a look at what your version prints in the DevTools console. There should be a line "Powered by AMP ⚡ HTML – Version: ????"

@erwinmombay Could you please confirm that #1943 is in PROD now?

[2016-02-12 17:38] powdercloud commented on #1976
@steffenweber Have you measured a performance difference?
I think this complicates the rules, making it harder for a humans and machines to find this information, since arguably meta data belongs into the head, that's what it's for. It would also take an exception compared to other things that are required to be in the head. If someone wanted to store only the head of the document e.g. for renderi

[2016-02-12 17:40] erwinmombay commented on #1975
@dvoytenko tested 1455227594932 on our examples and got rid of `data-show-if-href` and not getting validation errors. (have to clear my local storage to see the notification again)

[2016-02-12 17:44] sethyates opened #1979 "Support for Krux Analytics"
Implement ability to collect and send analytics data to Krux

[2016-02-12 17:44] erwinmombay commented on #1975
the amp-user-notification-0.1.js file might still be cached?

[2016-02-12 17:47] sethyates opened #1980 "Support for Krux adding additional targeting to Ads"

[2016-02-12 17:49] erwinmombay commented on #1975
oh no wait,https://github.com/ampproject/amphtml/pull/1943 is in canary but not in prod yet.

[2016-02-12 17:54] erwinmombay commented on #1975
@lordnerf we'll move amp-access from canary to prod today. and those errors should go away. appreciate the report!

[2016-02-12 17:55] steffenweber commented on #1976
Thank you for the answer. I have not done performance measurements. I think you'd have to be on a _very_ slow connection for these few bytes to make a difference (although sometimes there can be multiple `VideoObject` objects on a page in addition to the `NewsArticle` objects, so in some cases we may be talking about a few KB).

In principle I still like the idea of putting the JSON-LD at the bott

[2016-02-12 17:56] cramforce commented on #1976
The main difference comes from when you can flush the head to the socket. This is definitely a valid concern.

[2016-02-12 18:00] #1942 closed

[2016-02-12 18:00] #1927 closed

[2016-02-12 18:44] Gregable commented on #1967
Yes. I commented on this here: https://github.com/ampproject/amphtml/issues/999#issuecomment-171787638
We should clean this up some and make some documentation on it.

You can also build the validator from github. There are already instructions here: https://github.com/ampproject/amphtml/tree/master/validator

[2016-02-12 18:45] jpettitt commented on #1968
+1 for wanting an API.

I'd like to see it accept both the URL of an AMP page, or the AMP html in a post body.

[code]
Result - something like

[code]
Nice to have: jsonp support,  optional html output.

[2016-02-12 18:55] Gregable commented on #1968
I think this might be a good idea, but nothing like that exists at the moment.

For now, it is possible to run the javascript validator in other contexts. I left a comment here:
https://github.com/ampproject/amphtml/issues/999#issuecomment-171787638 with an example.

You can also build it from source. There are instructions here:
https://github.com/ampproject/amphtml/tree/master/validator

[2016-02-12 19:01] dvoytenko commented on #1917
One thing I should have mentioned and what should have been the option 0 in my list above: auth proxy can simply add `amp-access` config with `type=client` and markup to a document and serve it directly (as well as via AMP Cache). Basically the same version for everything. This allows complete caching. AMP Access would work the same way either the document is accessed directly or through Cache. Th

[2016-02-12 19:45] erwinmombay opened #1982 "add a way to turn off instrumentation completely"
the viewer should set a query param named "csi" with either a 1 or 0. (true/false). by default it will be off.

[2016-02-12 19:53] andyhills opened #1983 "Intent to Implement: Flite ad serving for amp-ads"
Adding [Flite](http://flite.com/) ads to the <amp-ad> elements.

Flite will submit a pull request via the flite/amphtml fork and the ads-flite branch.

[2016-02-12 20:42] breauxc opened #1985 "Update Chartbeat vendor configuration"
Chartbeat would like to update its vendor configuration from #1436 to include engaged time (see #1296) along with a few other keys we need to enable proper display within our products.

[2016-02-12 21:33] erwinmombay opened #1988 "failed images should reject loadPromise with better information"

[2016-02-12 21:57] rudygalfi commented on #1871
@renebaudisch Can you provide a link that reproduces this issue?

[2016-02-12 22:24] avimehta commented on #1883
@rudygalfi this can be closed. Thanks!

[2016-02-12 22:24] avimehta commented on #1881
I believe this can be closed as well. @rudygalfi

[2016-02-12 22:27] #1867 closed

[2016-02-12 22:28] britice opened #1989 "In `Viewer` constructor, call `documentStateFor` with `win` param"
Expected behavior would have the `Viewer` get the `DocumentState` from the window object passed as a parameter to the constructor rather that the global window object. Using the expected behavior would potentially allow for more flexibility in testing by mocking the `DocumentState` on the window object passed to the `Viewer`.

See the `Viewer` constructor in [viewer-impl.js](https://github.com/amp

[2016-02-12 22:31] rudygalfi commented on #1741
@Meggin Can you post the new PR where you're tracking this?

[2016-02-12 22:39] rudygalfi opened #1991 "Add examples of usage of extraUrlParams and extraUrlParamsReplaceMap"
This issue is tracking adding an example to show usage of `extraUrlParams` and `extraUrlParamsReplaceMap` in https://github.com/ampproject/amphtml/blob/master/examples/analytics.amp.html

[2016-02-12 22:40] rudygalfi commented on #1881
Yes. I noted there were no examples, so spun up #1991 to track adding some. (cc @jmadler)

[2016-02-12 22:40] #1881 closed

[2016-02-12 22:43] jmadler opened #1992 "Add additional elements for adobeanalytics config for amp-analytics"
Add elements missing from #1990 including docs, samples, etc.

[2016-02-12 23:04] erwinmombay opened #1995 "`amp-mode-mouse` class is added to body when clicking play on a amp-video on mobile"
able to replicate on nexus 5 (chrome port forwarding) as well as chrome emulation.
tested http://output.jsbin.com/binamezotu (scroll up to last slide which is an amp-video and click play, you will then see an arrow on the right)

on nexus 5 chrome and nexus 5 x(bug occurred on actual device) but didn't seem to be an issue on ios safari and ios chrome (layout was slightly off so might have just bee

[2016-02-12 23:20] cramforce opened #1996 "Problem with instagram dimensions"
As per the amp-instagram spec:

"Many instagrams are square. When you set layout="responsive" any value where width and height are the same will work. If the instagram is not square you will need to enter the actual dimensions of the image."

These instructions seem straight forward and I've specified the height and width as square dimensions on the component, however the iframe is scrollable and

[2016-02-12 23:32] rudygalfi commented on #1883
@avimehta Indeed it can. Thanks!

Closed via #1882.

[2016-02-12 23:32] #1883 closed

[2016-02-12 23:53] avimehta commented on #1619
Looking at this again, I understood the implementation differently. @cramforce can you correct me where I am wrong?

(A) Pub P1, Endpoint E1, Viewer V1 ==> Client id CID1
(B) Pub P1, Endpoint E2, Viewer V1 ==> Client id CID2
(C) Pub P2, Endpoint E1, No viewer ==> Client id CID3
(D) Pub P2, Endpoint E1, Viewer V1 ==> Client id CID3 or CID4
(E) Pub P2, Endpoint E1, Viewer V2 ==> Client id CID3 or CI

[2016-02-12 23:55] sriramkrish85 commented on #1871
![Here is what i see](https://cloud.githubusercontent.com/assets/1037311/13023781/01e0eb14-d1a1-11e5-9b4c-3d0be7b0da88.png)

[2016-02-12 23:56] sriramkrish85 commented on #1884
Ping @esprehn

[2016-02-13 00:16] rudygalfi commented on #1900
After some further review of this topic, I'm not convinced that AMP can build a good newVisitor variable for the reasons that @dvoytenko and @avimehta stated. Unlike my previous understanding that there's an error case to cover, it sounds like there are certain times of failure that we cannot be aware of.

I agree that the analytics providers which consume the CLIENT_ID are in the best position to

[2016-02-13 00:16] #1900 closed

[2016-02-13 00:21] avimehta commented on #1940
@rudygalfi please assign this to me.

@cramforce I am planning to move the client id into its own var for GA so that publishers can set it to whatever they want. One wrinkle in this solution is that the client id that is shared with doubleclick and adsense is hardcoded to use a cookie name. Can you think of any way to solve that?

One solution I can think of is to add an API to amp-analytics that

[2016-02-13 00:24] rudygalfi commented on #1899
@cramforce @avimehta Just thinking about how we expose this. We could do:

clientId takes an argument:
[code]

Unfortunately the above conflicts with the user notification stuff.

We could just have a config k-v pair:
[code]
This is a bit strange, though, because I don't see any reason why this configuration is at the amp-analytics level while user notification is inlined with the use of the clien

[2016-02-13 00:29] jridgewell commented on #1886
Closed by #1891.

[2016-02-13 00:29] #1886 closed

[2016-02-13 00:43] cramforce commented on #1940
We could map ad tags to vendor configs.

On Fri, Feb 12, 2016 at 4:21 PM, Avi Mehta <notifications@github.com> wrote:

[2016-02-13 00:46] avimehta commented on #1940
but in this case, the publisher config will define the client id. Are you suggesting that we look at the first amp-analytics tag of a given type and use vars defined in that?

@R-O-P is from nyt btw. I asked him to open the issue so that we can track it on github.

[2016-02-13 00:48] rudygalfi commented on #1979
cc @cramforce @avimehta

[2016-02-13 00:50] rudygalfi commented on #1980
@sethyates Can you add more detail to link to a PR?

Is this an intent to implement?

[2016-02-13 00:50] rudygalfi commented on #1980
cc @kashyapnitin @cramforce

[2016-02-13 01:11] Meggin commented on #1741
Here's the README. It's ready for next review and hopefully push.

On Fri, Feb 12, 2016 at 2:31 PM, Rudy Galfi <notifications@github.com>
wrote:

[2016-02-13 01:17] sethyates commented on #1980
@rudygalfi yes this is an Intent to Implement. We might actually not need an amp-ads extension and rather just code for remote.html but are still reviewing.

[2016-02-13 01:22] cramforce commented on #1979
Ship it! LGTM

[2016-02-13 03:16] #1979 closed

[2016-02-13 12:28] steffenweber commented on #1976
We currently don't flush the head early because some components may still have to add CSP directives. But in principle your argument sounds valid.

By the way, `amp-analytics` uses a `<script type="application/ld+json">` tag in the document body which validates. One could argue that this is metadata, too. Furthermore, the JSON-LD alternative "Microdata" lives in the body, too.

[2016-02-13 17:12] jugglingcats opened #2004 "Timing and invalidation of authorization requests"
Apologies if this is already covered in the documentation. I couldn't find it.

It would be useful to know if the authorization endpoint is intended to be called prior to the user following an AMP document link. For example, will the client request authorization for some/all links in a search results page? If so this has a few implications:

- Potentially significant increased load placed on the a

[2016-02-13 21:14] e2corporation opened #2007 "Travis CI Build Fails on validateSrcPrefix()"
Method **validateSrcPrefix()** in src/3p.js fails when performing a check for any matched elements when the prefix list is passed as an array as opposed to string. Please see the build log below for output.

Example
`
validateSrcPrefix(['https:', 'http:'], 'https://example.org');
`

Failed Build 3853
https://travis-ci.org/ampproject/amphtml/builds/109045803

<img width="1094" alt="screen shot 2016

[2016-02-13 21:39] e2corporation opened #2008 "Development mode in 3p Iframes"
Would be nice to have flexible hostnames during local development for 3p Iframes. getMode() should be optimized to allow development across various domain names. Remove coupling to "**ads.locahost**".

This will reduce the amount of manual edits required to stage the codebase across environments.

[2016-02-14 02:13] e2corporation opened #2009 "ExpectationError: Unexpected call: getScrollHeight()"
After clearing up syntax errors raised by Travis CI, build still failing as of No. 3860.
https://travis-ci.org/ampproject/amphtml/builds/109097694

<img width="1080" alt="screen shot 2016-02-13 at 9 09 57 pm" src="https://cloud.githubusercontent.com/assets/1742233/13031287/5777e94c-d296-11e5-964e-a39e3aad8805.png">

[2016-02-14 04:12] cramforce commented on #1871
I figured out what is going on. Should have read the full bug report.

You need to send the sizes as numbers instead of strings. Yeah, type coercion.

`window.context.requestResize(300, 250)` works just fine.

I'm inclined to not make us robust against this mistake. That would just bloat the binary size.

[2016-02-14 04:12] #1871 closed

[2016-02-14 04:20] cramforce commented on #1996
Absolutely. Here is the image:

https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e35/12545437_849103108534089_272342786_n.jpg?se=7

And here is the instagram post:
https://www.instagram.com/p/BBauOFSEYPM/embed/?v=4

[2016-02-14 04:29] cramforce commented on #1996
Tried to repro. Works fine http://output.jsbin.com/codabev/quiet

[2016-02-14 04:40] cramforce commented on #2009
This is because your PR changes `test/functional/test-resources.js`

[2016-02-14 04:40] #2009 closed

[2016-02-14 04:44] e2corporation commented on #2009
So our local code on this branch is causing this test-resources to fail?

[2016-02-14 05:04] cramforce commented on #2009
It is definitely causing the error in that travis build.

[2016-02-14 05:15] e2corporation commented on #2009
Thanks, this could have been caused by being outdated from master, I merged in latest changes reverted test-resources.js and I’m getting a passing build starting with 5e726a6

On Feb 14, 2016, at 12:05 AM, Malte Ubl <notifications@github.com> wrote:

[2016-02-14 05:19] e2corporation commented on #2007
@cramforce counting loop implemented with #2003 Please review as necessary.

[2016-02-14 13:31] tori3 commented on #1963
When only set as type="slides" and add "indicator" attribute, shown like sample img.

<img width="406" alt="2016-02-14 22 26 12" src="https://cloud.githubusercontent.com/assets/1157530/13033913/4359dcc0-d36a-11e5-8252-8a7a685ae545.png">

[2016-02-14 17:37] e2corporation opened #2012 "Travis CI Build No. 3875 Failing"
Travis CI build failing due to indentation errors on a javascript file. See build log below for 3875
https://travis-ci.org/ampproject/amphtml/builds/109186415

<img width="1054" alt="screen shot 2016-02-14 at 12 34 58 pm" src="https://cloud.githubusercontent.com/assets/1742233/13035194/d925d270-d317-11e5-826c-8f2630dd00d6.png">

[2016-02-14 20:14] bazzadp commented on #1245
Know this issue is closed, but in case anyone else stumbles on this later:

Looks like noscript now **is** allowed in amp documents meaning you can implement fall backs for media items (img, video and audio) for non-javascript browsers. See this issue for more information: https://github.com/ampproject/amphtml/issues/1279. This makes me a little happier now :-)

[2016-02-14 22:10] #2012 closed

[2016-02-14 22:26] #886 closed

[2016-02-15 03:56] cramforce commented on #886
Note, that #1732 needs to be fixed before this can be used.

[2016-02-15 03:56] cramforce commented on #1732
CC @honeybadgerdontcare

[2016-02-15 03:57] #1630 closed

[2016-02-15 03:57] cramforce commented on #1619
Closing as WAI

[2016-02-15 03:57] #1619 closed

[2016-02-15 03:58] cramforce commented on #1196
Decided that we will not do this.

[2016-02-15 03:58] #1196 closed

[2016-02-15 04:47] cramforce commented on #1982
Rather a fragment param. Cool. Lets turn off framerate measurement when this is set.

[2016-02-15 09:23] renebaudisch commented on #1871
Both didn't work for me at the beginning, but since [this comment](https://github.com/ampproject/amphtml/issues/1871#issuecomment-182127349)
I also couldn't reproduce so everything's fine for me now.

[2016-02-15 11:24] markfinst opened #2019 "Use native overflow-x:scroll for carousel"
Native scroller created with `overflow-x:scroll` for horizontal carousel feels much more natural and fast, than trying to imitate all the physics via js and touch events api.

Also, currently carousel doesn't work in IE, as it supports only Pointer events, not Touch events, this change would fix that.

[2016-02-15 14:05] RonanDrouglazet opened #2021 "Teads for AMP"
Hi,

As discussed earlier with your team, we would like to add Teads into your ad network list. Please find the one pager describing the expected Teads user experience : http://mobile.teads.tv/amp/inReadbyTeads.pdf

Next step would be opening a pull request linked to this issue. Can we proceed in this way ?

Best,
Ronan

[2016-02-15 14:25] e2corporation commented on #2007
I was also thinking that a Url/Src **Prefixer** as opposed to a _Validator_ maybe be a better replacement for this function. That way we are not trying to verify what the protocol is, just stripping whatever protocol it has enforcing it to either https or http for example.

[2016-02-15 16:59] cramforce commented on #2021
Sounds good. See https://github.com/ampproject/amphtml/pull/2022 for a recent sample PR for network inclusion.

If there are any features you are missing, it would be great if you could express them as a delta against AMP's current feature set.

[2016-02-15 17:32] rudygalfi commented on #2004
cc @dvoytenko

[2016-02-15 17:44] ericfs opened #2023 "localStorage may fail to loadStore"
If the loadStore request is sent to the viewer before the messageDileverer is set, then the response is ignored:
https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L756

cc/ @dvoytenko

[2016-02-15 17:48] rudygalfi commented on #1299
Note that #1746 covers the query params in the original request (?...)
Fragment part of URL is still open (#...)

[2016-02-15 18:38] carlosabalde commented on #1917
Thanks for the feedback. Let me **try to summarize in order to check that we're all in the same page**:

1. Several options are possible when using **client mode**, but the simplest and most performant one is **delivering identical AMP documents (i.e. ``type=client``, ``amp-access`` stuff & authorization, pingback and login URLs)** to the AMP Cache, to Google Bot and to any client accessing direct

[2016-02-15 18:47] dvoytenko commented on #2019
@markfinst Overall I'd like to do this. We'd have to retest this. From what I understand Edge fully supports WebKit's touch event model, even if IE might not. It'd probably be relatively easy to enable IE today. The last time we did a round of tests we determined that the `overflow-x:scroll` had a number issues on different devices including timeliness of events and being able to cancel event prop

[2016-02-15 19:06] #1529 closed

[2016-02-15 19:06] #1974 closed

[2016-02-15 19:06] #1988 closed

[2016-02-15 19:47] #1556 closed

[2016-02-15 19:47] #1747 closed

[2016-02-15 20:06] dvoytenko commented on #2004
@jugglingcats Thanks for the questions. Here are my responses:

The authorization endpoint is called as soon as possible, but it's called by runtime and thus never by any other system itself. I.e. it'd not be automatically called for search result links - only when the document is either navigated or prerendered. This is no different from, say, what sometime ago was envisioned by the [Page Visibil

[2016-02-15 21:10] kul3r4 opened #2024 "Impossible to override position of amp-user-notitifcation"
The file: extensions/amp-user-notification/0.1/amp-user-notification.css specifies the position of the element as fixed using `!important` like this:

`amp-user-notification {
      position: fixed !important;`

Given in AMP is not possible to use `!important`, it is then impossible to override the position of this component.

[2016-02-15 21:13] EnigmaSolved commented on #1885
Can the Validator also be updated to allow `rel="canonical"`, a la the following tweak to the original example (I'm assuming in this case that the AMP url of the page this is displayed on would be something like `http://www.example.com/Pomeranian.html/amp/`):
[code]

Currently the above throws the following AMP error:
`The attribute 'rel' in tag 'link rel=' is set to the invalid value 'canonical'.

[2016-02-15 21:32] EnigmaSolved opened #2025 "Request: Allow Legend elements"
I totally understand why forms are prohibited. But the fieldset & legend combo is very useful for display purposes, thus it would be nice if it could be allowed. For example, the WordPress plugin *Organize Series* (https://wordpress.org/plugins/organize-series/) defaults to using fieldset/legend in several places (eg, to display the list of posts in the series).

Thanks for your consideration!

[2016-02-15 21:42] cramforce commented on #2025
+1

CC @honeybadgerdontcare

[2016-02-15 21:43] cramforce commented on #1732
Also added amp-dailymotion to this list.

[2016-02-15 22:01] EnigmaSolved commented on #2025
Excellent, thanks! :)

[2016-02-15 22:11] #1906 closed

[2016-02-15 22:16] dvoytenko commented on #2024
/cc @erwinmombay

[2016-02-15 22:20] cramforce commented on #2024
It is not possible. This is because whether the component is shown depends on HTTP requests and so this can only be used with positions that are invariant to other page layout, to avoid impact on page flow when notification is shown.

You can e.g. put it at the bottom or some other place on the page.

[2016-02-15 22:44] brusco77 opened #2027 "Documentation issue with amp-video"
Hi, here
https://www.ampproject.org/docs/reference/amp-video.html

https is required for src, but on console log I see "https:// or // is required"

using //, everything works fine and it is validated. is https really necessary?

[2016-02-15 22:49] cramforce commented on #2027
The video must be served from HTTPS.

[2016-02-15 22:58] brusco77 commented on #2027
ok thanks but... why does it work (and validates) this test here:
http://www.nicolabrusco.com/test.html#development=1
? (the video at the bottom)

[2016-02-15 23:19] cramforce commented on #2027
Probably a bug.

On Mon, Feb 15, 2016 at 2:58 PM, brusco77 <notifications@github.com> wrote:

[2016-02-15 23:24] dvoytenko commented on #1917
@carlosabalde First 1st point about `type=client` is correct. However, other options, as you note, are indeed progressively more complicated. My question is, before digging deeper into possible additions to the protocol, could you please explain the following? If you would still want to support `type=client` for AMP Cache, why would you want to do it any differently for direct access? Or did I mis

[2016-02-15 23:46] erwinmombay commented on #2024
@kul3r4 this was a conscious decision. you can still manipulate top/left/right/bottom. i know we did say we were open to loosening the restriction but we'd need to hear a good argument for it.

[2016-02-15 23:48] carlosabalde commented on #1917
@dvoytenko,  we're interested both in ``type=client`` and ``type=server``. At the moment we're working on a integration with AMP Access using ``type=client``, which I think it's the only realistic option at the moment. However, we're also interested in ``type=server`` because we're specialized in paywalling proxies based on Varnish Cache. We would like to be ready if some of our customers is inter

[2016-02-16 00:18] dvoytenko commented on #2023
Fixed via #2026.

[2016-02-16 00:18] #2023 closed

[2016-02-16 00:27] dvoytenko commented on #1917
Thanks, @carlosabalde! And one more question. I'm not sure if I understood yet fully, but you are considering, at least in some cases, to directly request documents from CMS for different versions of the document? E.g. full document vs restricted document? The reason I'm asking is that in my research most of paywall systems do use some form of content markup where all sections are included in the

[2016-02-16 00:29] rudygalfi opened #2031 "Add a way to indicate the boundary that caused a scroll trigger to fire"
This issue proposes adding a way to determine which boundary caused a scroll trigger to fire.

One way to do this would be to introduce two variables that are specifically scoped to a `scroll` trigger. The variables are called `verticalBoundary` and `horizontalBoundary`. A definition including this vars might look something like this:

[code]

[2016-02-16 00:31] rudygalfi commented on #2031
cc @avimehta

[2016-02-16 01:08] carlosabalde commented on #1917
I know some paywalling products out there work that way, but that's not how paywalls build on top of Varnish Cache (VC) usually work. Main reason for that is that VC is not really a paywalling product per se. VC is a high performance caching proxy with a flexible configuration language (VCL) and extensible using modules (VMODs).

VCL and VMODs provide a lot of flexibility to implement the access c

[2016-02-16 04:17] erwinmombay commented on #1982
@alf7 you ok with fragment param instead?

[2016-02-16 04:32] alf7 commented on #1982
Yup, fragment is perfect.

[2016-02-16 05:29] #2008 closed

[2016-02-16 05:29] #2007 closed

[2016-02-16 05:49] #221 closed

[2016-02-16 08:41] zeno commented on #1585
See #2017.

[2016-02-16 08:45] zeno commented on #1588
See https://github.com/ampproject/amphtml/pull/2017.

[2016-02-16 09:02] avimehta commented on #2031
wouldn't [scrollTop](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#scrolltop) and [scrollLeft](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#scrollleft) work here? You can calculate the exact % using those variables and the scrollHeight and scrollWidth values.

[2016-02-16 10:33] vaso123 opened #2034 "required by 'amp-fit-text'"
Hi!

When this AMP project was heralding, I made the AMP pages for all our products. I validated theme, and everything was good.

Now I have several errors, one of this is:

The 'amp-fit-text extension .js script' tag is missing or incorrect, but required by 'amp-fit-text'.

Why is it?

You can check it here:

http://vaso.hu/other/amp/amp-text.html#development=1

[2016-02-16 10:47] vaso123 opened #2035 "AMP analitycs"
Hi!

I've copied the code from here to an empty html page:

https://developers.google.com/analytics/devguides/collection/amp-analytics/

This is exactly the same code, I've just add a valid UA- for the code.

You can test it here:

http://vaso.hu/other/amp/amp-analitycs.html#development=1

I am getting this:

`AmpAnalytics analytics1 Analytics config could not be parsed. Is it in a valid JSON form

[2016-02-16 11:22] okeul opened #2036 "amp-vimeo & validator"
Hi !

amp-vimeo works well but there is an error in validation :
![capture d ecran 2016-02-16 a 12 17 47 pm](https://cloud.githubusercontent.com/assets/6248074/13074828/57342d2a-d4a7-11e5-8480-39883b222826.png)

Example :
http://output.jsbin.com/ducudajule#development=1

Do you have any idea ?

[2016-02-16 12:54] jugglingcats commented on #2004
Thanks @dvoytenko I appreciate your taking the time to respond - everything makes sense. We will wait and see what happens to the authorization endpoint load ;-)

[2016-02-16 13:11] brusco77 commented on #2027
thank you! sorry for the dumb question: can I use a https domain which is different from the http domain of the amp page?

[2016-02-16 13:49] cramforce commented on #2027
No dumb question! Thanks for spotting the bug!
On Feb 16, 2016 8:11 AM, "brusco77" <notifications@github.com> wrote:

[2016-02-16 14:48] devdazed commented on #2031
Not in all cases.  Given the case where the page loads and, when scrolled to the top, is already 75% through the page, the event will fire 3 times on load with all the same variable information, and it is impossible to tell which boundary each event is designated.  Unless some sort of complex method of maintaining state is implemented server-side it is impossible to accurately keep track of what s

[2016-02-16 15:08] cramforce commented on #1996
User had dimensions wrong.

[2016-02-16 15:08] #1996 closed

[2016-02-16 15:13] cramforce commented on #2036
The validator does not recognize it yet. Should land shortly. Tracked in #1732

[2016-02-16 15:13] #2036 closed

[2016-02-16 15:15] devdazed opened #2038 "AMP-Analytics: Array Encoding Multiple Times"
When passing arrays in the "vars" configuration for amp-analytics, the array is first not encoded enough, then encoded too much.

## Example:
[code]

### First beacon (visible):
[code]

You can see in the first call, the comma in the last value is not properly encoded which means this will decode as 4 values rather than 3.

### Second beacon:
[code]

This is properly encoded and will decode to thr

[2016-02-16 15:25] nahuelange opened #2039 "amp-img doesn't suppot unknown sizes"
Hello,

We are implementing amp view for a national daily newspaper. We have a lot of articles, so many images.
In some cases, we don't have all the sizes (width or height), even the aspect ratio. We can't prefetch content before rendenring amphtml, because of too many needed http requests all the time.
Does it exist a lazy layout for amp-img tags? Do you plan to provide one?
Even if the newest ar

[2016-02-16 15:34] cramforce opened #2040 "JS/C++ validator discrepancy"
Having `<amp-pixel>` inside of `<head>` fails validation on the cache, but passes JS validation. The cache is correct.

Example URL
http://output.jsbin.com/ruguqu/quiet
https://cdn.ampproject.org/c/output.jsbin.com/ruguqu/quiet?2

[2016-02-16 16:08] cramforce commented on #2039
We absolutely do not intend to allow not specifying sizes. This just pushes the work you'd need to do, to the client – on every single page view.

You'd need to fetch the images in your CMS and get the sizes from them, just like the client would.

[2016-02-16 16:08] #2039 closed

[2016-02-16 16:18] jridgewell commented on #2038
This is a wonderfully humorous bug report. Thanks!

[2016-02-16 16:18] cramforce opened #2042 "For some elements don't render them if they aren't actually visible"
E.g. for iframes this is wasteful.

Not visible:

- visibility: hidden
- opacity: 0
- left or right of viewport.

[2016-02-16 16:26] devdazed commented on #2038
Thank you for being so on top of it.

[2016-02-16 16:36] jridgewell commented on #2035
Hi @vaso123: In your linked example, you have:

[code]

Notice the `  // Replace with your property ID.` comment. That is invalid in JSON, thus causing the error. Removing the comment fixes the issue.

[2016-02-16 16:36] #2035 closed

[2016-02-16 16:40] jridgewell commented on #2034
You'll need to include the AMP Fit Text component's script file inside the `<HEAD>` element:

[code]

[2016-02-16 16:40] #2034 closed

[2016-02-16 16:46] jridgewell commented on #1588
Closed by #2017.

[2016-02-16 16:46] #1588 closed

[2016-02-16 16:49] jridgewell commented on #1585
Closed by #2017, pending #1732 to pass validation.

[2016-02-16 16:49] #1585 closed

[2016-02-16 17:06] egianco73 opened #2043 "Flicker in Scroll Event in Safari"
Hi,

I've a problem with AMP pages delivered over Google's CDN
with Safari and iPhone (5, 6 and 6 Plus).

When a <div> container has the following class:

.fixed-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

and:

div {
    display: block;
}

scrolling the page, the fixed-bar-container flickers.
Without AMP optimization, the fixed-bar-contai

[2016-02-16 17:07] jridgewell commented on #1974
I don't currently have `unhandledrejection` events in our Promise polyfill. Should this be added?

[2016-02-16 17:09] jasti commented on #1875
LGTM, thank you!

[2016-02-16 17:31] dvoytenko commented on #2004
Thanks @jugglingcats! I'll close this bug for now, but please re-open with any other questions.

[2016-02-16 17:31] #2004 closed

[2016-02-16 17:32] georgecrawford opened #2046 "amp-analytics: get details of clicked link"
Using:
[code]
How can I add the `href` of a clicked link to the analytics call?

[2016-02-16 17:44] #2038 closed

[2016-02-16 17:44] #1875 closed

[2016-02-16 17:51] Gregable commented on #2027
We also have this as an outstanding bug for the valiator, but too many documents are using relative URLs at the moment, so we need to roll out carefully.

[2016-02-16 17:52] cramforce commented on #1974
If you just throw it also works. A benefit of the event would be that non-Chrome browsers don't give the actual error object to window.onerror, so the event would have better exception info.

[2016-02-16 18:03] dvoytenko commented on #2043
@egianco73 Do you have a sample page with this markup for us to test on?

Also, what do you mean by "Without AMP optimization"? We don't really touch any part of the markup/CSS so I'm not sure at which point they could conflict.

[2016-02-16 18:04] Gregable commented on #1885
@EnigmaSolved, I think @honeybadgerdontcare 's change already addresses this. I created a document which looks like:

[code]

And it validates just fine. Is it possible that your error is already fixed? Alternatively, perhaps there is more than one `<link rel=canonical ...>` tag on the page, of which we allow only one?

If neither of these theories pan out, can you send a more complete document wh

[2016-02-16 18:04] #1885 closed

[2016-02-16 18:15] jridgewell commented on #1725
Closed by #1753.

[2016-02-16 18:15] #1725 closed

[2016-02-16 18:17] #1761 closed

[2016-02-16 18:19] #2027 closed

[2016-02-16 18:28] dvoytenko commented on #1761
The ancestor selectors have been supported now. So, the original example should work as soon as it's deployed (likely tomorrow).

[2016-02-16 18:52] dvoytenko commented on #1839
@spagu will close this for now. Please re-open if you have more questions about this.

[2016-02-16 18:52] #1839 closed

[2016-02-16 19:08] jpettitt opened #2047 "Allow link rel="mask-icon" in validator"
mask-icon is used by apple for pinned tabs, it should probably be allowed by the validator.

https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html

[2016-02-16 19:13] noahrs commented on #1866
Any update on this request? Can we expect any of this for launch?

[2016-02-16 19:13] #1493 closed

[2016-02-16 19:27] jpettitt opened #2049 "CDN not correctly converting rel="icon" links to https via CDN - mixed content warning."
It looks like the CDN is not converting icons to https links via when loading the page. Instead it's just turning them into fully qualified links to the original site. This causes mixed content warnings

`Mixed Content: The page at 'https://cdn.ampproject.org/c/www.relaymedia.com/home.html' was loaded over HTTPS, but requested an insecure favicon 'http://www.relaymedia.com/favicon-32x32.png'. This

[2016-02-16 19:35] mkhatib opened #2050 "Use YouTube onReady message for layout promise"
This allows us to hide the placeholder element and show the player at the right time.

[2016-02-16 19:55] cramforce commented on #2049
Tracked at google as b/27198493

[2016-02-16 21:25] #1995 closed

[2016-02-16 21:26] sebastianbenz opened #2054 "amp-user-notification cannot be dismissed on iOS"
As the title says: dismissing an amp-user-notification doesn't work on Safari on iOS (tested with an IPhone and this [page](http://amp-by-example.appspot.com/amp-user-notification.html)).

[2016-02-16 21:31] dvoytenko commented on #2054
/cc @erwinmombay sounds pretty bad.

[2016-02-16 22:11] dvoytenko commented on #1866
@noahrs It's marked for M2, so likely not going to be ready for lunch, but most likely shortly after.

[2016-02-16 23:29] noahrs commented on #1866
Thanks @dvoytenko - I assume you meant launch, not lunch. But now I'm hungry :)

This is both a source of pageviews and monetization (interstitial ads), not to mention a superior user experience for those who wish to navigate our articles via a photo gallery experience since we provide rich and contextual captions to help tell the story. We find a large % of users prefer this.

[2016-02-17 01:09] rudygalfi opened #2061 "Add info table for amp-accordion"
https://github.com/ampproject/amphtml/blob/master/extensions/amp-accordion/amp-accordion.md needs a table listing basic information and validator errors, which would align it with the presentation of the other extension .md files.

cc @Meggin @Gregable (to advise on validation errors to call out)

[2016-02-17 01:16] Meggin opened #2062 "Fix bugs in intro tables"
It was tricky to test the intro and validation tables to get them exactly right across the docs. Now that they are live, I'm seeing bugs, and I should fix these. Really, it requires an end-to-end test, and sweep.

Three main intro table bugs I want to sweep in a PR:

- The intro to the validation tables is missing an end parenthesis across the tags.
- The links to validation errors are relative ba

[2016-02-17 01:20] rudygalfi commented on #2062
FYI, filed #2061 for amp-accordion.

[2016-02-17 01:22] Meggin commented on #2062
Thanks!

On Tue, Feb 16, 2016 at 5:20 PM, Rudy Galfi <notifications@github.com>
wrote:

[2016-02-17 01:31] rudygalfi opened #2063 "Clicking on a link on an Outbrain item navigates the main AMP page"
Expected behavior: Open a new tab.

[2016-02-17 01:48] Noacyl commented on #1286
The site I am working on also requires the use of Forms.

+1

[2016-02-17 01:57] Noacyl opened #2065 "Getting form Information without forms?"
The site I am working on  requires the use of Forms; input, textarea, options are all needed. I looked at the source code for [https://www.ampproject.org/contact/](url) and I followed the idea of using the amp-iframe to include forms, but then I get an error about not using XML (which I have no clue how to do). I also noticed that the previously linked page gets an error for using just the iframe

[2016-02-17 02:01] cramforce commented on #2063
We generally allow this. If we want to not encourage this in in general we need to contact them.

[2016-02-17 02:13] ericlindley-g commented on #2061
Working on this PR at #2064 — following up with Sriram to a table of validation errors as well

[2016-02-17 02:16] rudygalfi commented on #2063
Thanks for clarifying. Following up.

[2016-02-17 02:16] #2063 closed

[2016-02-17 02:40] dandv commented on #999
@Gregable: I see different results between the `AMP validation successful.` message and the gist of that JSFiddle, `amp.validator.validateString(document.head.innerHTML + document.body.innerHTML).status` (FAIL). For example, these URLs display `AMP validation successful.` in the console, but `amp.validator.validateString(document.head.innerHTML + document.body.innerHTML)` shows a failure with 50+

[2016-02-17 02:45] dandv commented on #1967
@Gregable: thanks for the fiddle in #999. So to validate the current document, one would inject this:

[code]

The problem is I see vastly different results between the console message and the result of the code above. For example, these URLs display `AMP validation successful.` in the console, but `amp.validator.validateString(document.head.innerHTML + document.body.innerHTML)` shows a `FAIL` sta

[2016-02-17 03:15] Gregable commented on #1967
If you are using:

[code]

On a document like:
[code]

Then the string being evaluated will be roughly:
[code]

Which is missing significant parts of the document, so the validator will emit more errors.

[2016-02-17 03:19] cramforce commented on #1967
I'd recommend doing an XHR to the doc (and get the direct string) to
validate it.

On Tue, Feb 16, 2016 at 10:15 PM, Greg Grothaus <notifications@github.com>
wrote:

[2016-02-17 03:21] dvoytenko commented on #1286
@Noacyl are you using forms directly? Or do you rely on some service, e.g. mailchimp? If directly:
 1. What's a typical behavior when form is submitted? Redirect or some inline display?
 2. What's a typical behavior on form submission failure?

[2016-02-17 08:50] okeul opened #2067 "amp-analytic & at internet"
Hello !

AMP Analytic doesn't work with AT Internet. There is an error in the validator :
![error_analytic](https://cloud.githubusercontent.com/assets/6248074/13104106/73898b14-d55b-11e5-9eff-56b8c3010300.png)

It's weird because the [documentation of AT internet](http://developers.atinternet-solutions.com/javascript-en/advanced-features-javascript-en/accelerated-mobile-pages-amp-javascript-en/#fu

[2016-02-17 09:44] steffenweber opened #2068 "<ins> and <del>: allow "datetime" attribute"
The HTML elements `ins` and `del` have an optional `datetime` attribute (see [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins)).

[code]

However, the AMP validator does not like this attribute:

Could you please allow the `datetime` attribute on `ins` and `del` elements?

[2016-02-17 09:53] steffenweber commented on #2047
:+1:

Would allow me to remove one AMP-specific condition in our header template.

Example markup:
[code]

[2016-02-17 11:49] jdelhommeau opened #2071 "ad not displaying anymore"
I have been working on an ad adaptor for the AppNexus adserver over past weeks.
Everything was working fine, I pull lastest change from upstream and now the ads don't display anymore.

I troobleshooted the issue. Everything works fine, I have no errors, ads are actually loaded on the page, however, I can see that amp adds a "visibility: hidden" to the main iframe, making the ad invisible. Any idea

[2016-02-17 14:41] cramforce commented on #2071
Do you want to upload the change somewhere? The ad is hidden until handshake with the ad iframe has been established which must have failed for some reason. The most likely reason is that there was some JS error during load.

[2016-02-17 14:44] cramforce commented on #2068
Funky :)

Will add.

[2016-02-17 14:47] cramforce commented on #2067
Please contact AT internet support.

CC @BenDz

[2016-02-17 14:59] BenDz commented on #2067
Hi @okeul !
I do not have this issue, on your JSBin, the hit is correctly sent on my side:
![2016-02-17_15h57_14](https://cloud.githubusercontent.com/assets/3985936/13113422/4945c866-d58f-11e5-9ee8-dea9322e285b.png)

Perhaps your amp-analytics js file is not up to date?

[2016-02-17 15:49] ctbarna opened #2072 "Improve documentation for specific vendor analytics configurations"
In implementing Chartbeat and Omniture, I found it impossible to find docs from the individual vendors on the provided support links ([Chartbeat's link](http://support.chartbeat.com/docs/), [Adobe's link](https://helpx.adobe.com/marketing-cloud/analytics.html)). The docs might be on the support sites but I couldn't find them.

However, looking at [vendor.js](https://github.com/ampproject/amphtml/b

[2016-02-17 16:52] jesse opened #2076 "amp-instagram resizing"
Any plans to update `amp-instagram` embeds so they resize themselves based on the embed content, similar to the [`amp-twitter` behavior](https://github.com/ampproject/amphtml/blob/9bca86ebaaf754f720a086b47f15f41fd5df38d7/extensions/amp-twitter/0.1/amp-twitter.js#L47)?

[2016-02-17 17:03] okeul commented on #2067
It seems to works now. I don't see a blank pixel in the generated url, is it normal ?

[2016-02-17 17:08] okeul commented on #2067
Nevermind, I just saw your PR https://github.com/ampproject/amphtml/pull/2073/files :-)

[2016-02-17 17:49] EnigmaSolved commented on #1885
@Gregable, yeah, I think we can leave things as-is. What I was doing was something along the lines of:
[code]

The reason I got to exploring all of this is that the method Google illustrates for including `mainEntityOfPage` within `BlogPosting` (https://developers.google.com/structured-data/rich-snippets/articles) is the following, which no longer validates in the AMP Validator (it throws two erro

[2016-02-17 17:55] mkendall07 commented on #2071
Here are the steps to reproduce:

1) Checkout a clean copy of master and run `gulp`
2) Copy /examples/ads.amp.html into a webserver (not localhost)
3) Install the chrome extension `local-amp-chrome-extension` and enable
4) Navigate to ads.amp.html page

I just did above and uploaded to this page:
http://client-test.devnxs.net/ads.amp.html

All the ad iframes are set to hidden.

[2016-02-17 18:44] egianco73 commented on #2043
Hi,

as follows a sample URL:

http://www.repubblica.it/spettacoli/musica/2016/02/17/news/app_musicali-132950338/amp

You can see on AMP the article as follows:
1. open the URL with iPhone and Safari;
http://g.c/ampdemo/it

2. type "repubblica";
3. tap the article
4. scroll the page

You'll see a flicker for the shaebar.

Regards

[2016-02-17 18:45] ctbarna opened #2078 "CSS comments with !important fail validation."
The following code will fail validation with "The text (CDATA) inside tag 'author stylesheet' matches 'CSS !important', which is disallowed."

[code]

[2016-02-17 19:23] cramforce opened #2081 "Support protocol relative URLs in assertHttpsUrl"
by converting them to be always https URLs.

[2016-02-17 19:58] cramforce commented on #2076
It isn't really needed, except for caption-support.

[2016-02-17 20:02] cramforce commented on #2071
Could you instead test with a local change. I suspect that the postMessage communication is broken when using the chrome extension.

[2016-02-17 20:05] montmanu opened #2083 "Decouple amp-user-notification from external services"
Currently, the `amp-user-notification` component depends on the `data-show-if-href` and `data-dismiss-href`. Ideally, the `amp-user-notification` component could be implemented without supporting external services. For example, when used in combination with the `amp-access` component, the `authorization` endpoint could serve as the `data-show-if-href` and the `amp-access` expressions could control

[2016-02-17 20:09] jdelhommeau commented on #2071
thank you @cramforce .
Not sure how to test with the local change, since the amp.js has other dependencies which point to the cdn.
We followed the instruction on: https://github.com/ampproject/amphtml/blob/master/DEVELOPING.md
Did those changed? It used to work fine with previous version of amp.

[2016-02-17 20:11] dvoytenko commented on #2083
@montmanu According to https://github.com/ampproject/amphtml/blob/master/extensions/amp-user-notification/amp-user-notification.md both `data-show-if-href` and `data-dismiss-href` are optional. For instance, see this example: http://output.jsbin.com/vexiti

[2016-02-17 20:11] #2083 closed

[2016-02-17 20:35] montmanu opened #2085 "Prevent amp-user-notification from initializing when amp-access expressions are false"
Currently, the `amp-user-notification` component initializes regardless of whether or not it is displayed. For example, `amp-user-notification` components nested within a component hidden with `amp-access-hide` initialize even if the amp-access expression is false. This creates an issue when attempting to conditionally show one of several possible notifications - the first is initialized, but not

[2016-02-17 21:07] erwinmombay commented on #2085
/cc @dvoytenko

[2016-02-17 21:07] #2054 closed

[2016-02-17 21:21] cramforce commented on #2071
Load the file from examples.build/ instead of examples/
There are .max. files of the otherwise same name in there that point to the
local built.
On Feb 17, 2016 3:09 PM, "jdelhommeau" <notifications@github.com> wrote:

[2016-02-17 21:32] dvoytenko opened #2086 "TBD: Unhandled promises: report "originating" stack"
Currently, the unhandled promises are very hard to debug. What could help is to store a "originating" tracking error when promise is created and then use it for reporting later - it's stack will point to the problem much faster then any other debugging option. To reduce the performance impact, we can consider only doing this in a special mode, e.g. `#log=1`.

[2016-02-17 21:39] Gregable commented on #2047
This is a `<link rel` only attribute right? In other words, it doesn't apply to `<a rel` in any way?

[2016-02-17 21:42] dvoytenko commented on #2085
@montmanu It seems like my previous advise on this didn't reach you. Apologies. At this point `amp-access` and `amp-user-notification` don't mesh very well for the purposes of "growl". Quite simply, `amp-user-notification` is intended to be an independent notification component driven by separate signals. It's also a show-one-time component. It's main raison d'etre is "analytics uses cookies" type

[2016-02-17 21:43] Gregable commented on #2068
I'll also add the `cite` attribute from that doc while at it. Thanks for the report.

[2016-02-17 21:58] Gregable commented on #1885
Glad it worked out in the end. One of the other issues here is that the error messages we are producing are a bit misleading, for instance the `The mandatory attribute 'charset' is missing in tag 'meta charset=utf-8'.` when the tag you are trying to setup is not the `<meta charset>`. This is still a work in progress too.

[2016-02-17 22:01] steffenweber commented on #2047
Yes, it is a proprietary attribute value that is only used by Safari (afaik Desktop-only, so the use-case for AMP may currently be non-existent).

Something that just occurred to me: maybe this markup initiates an immediate download in Safari. This would be something that AMP tries to avoid, correct?

[2016-02-17 22:01] Gregable commented on #2078
Good catch, Thanks for reporting! Our CSS validation rules right now are written with some overzealous regular expressions. We're getting close to a full CSS parsing routine that will solve this and a few other bugs.

The solution to this is the same as in https://github.com/ampproject/amphtml/issues/1877, so I'm going to close this one out as a duplicate.

[2016-02-17 22:01] #2078 closed

[2016-02-17 22:09] mjangda commented on #2039
@cramforce In the worst case scenario where we can't determine the size for a hotlinked image (let's say the request to fetch the image failed for some reason), would it be better to a) omit the size, b) force a specific size, or c) just omit the image completely?

[2016-02-17 22:11] EnigmaSolved commented on #1885
Yeah, I understand regarding that (the error messages). I figured out pretty quickly that it was just that it didn't like the `<meta>` tag (or that particular version of one) in that place.  There's going to be so many edge cases it'll be hard to anticipate and create accurate errors for them all.

You know, it might work better (or be more manageable) to make the errors less specific (just refere

[2016-02-17 22:28] dvoytenko commented on #2039
@mjangda the choice of (b) or (c) one of those options is up to you - depending on your need either could be valid. (a) is not supported at all. One interesting option is to do option (b) and then style image via CSS with `object-fit` property (https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit). Usually this is not recommended since it can display image in a imperfect layout. But in your

[2016-02-17 22:34] gandmexpress commented on #827
Hi there, I'm brand new here and to AMP-html... actually I just founded today... but I just can't understand (after hours of looking into amp-html) why there would be no menu/nav options.. can someone please shed some light on this? Thank you

[2016-02-17 22:39] Gregable commented on #2047
It would be something we'd want to avoid. Do you have an easy way to test this? I don't have an apple machine handy. If not, I'm happy to add it as it won't hurt anything and may make it easier for some folks to convert documents.

[2016-02-17 22:41] Gregable commented on #1885
It's a good idea. We will probably have to do that in some cases. I suppose it's ironic that more specific messages end up worse in this case.

Right now, we're doing a few iterations to see if we can improve the context of these error messages. In this case, it shouldn't be too tough. The logic should be something like "if your meta tag doesn't have a charset attribute, don't generate errors rela

[2016-02-17 22:48] dvoytenko commented on #2085
@montmanu I also noticed that you have somewhat repetitive templates, so I wanted to bring this up. You can show "growl" at different `v` counts in two ways: via `OR` expression or by returning a `showGrowl: true` property from the authorization endpoint.

An example for `OR-v`:
[code]
An example for `showGrowl: true`, assuming you return this property in your authorization response:
[code]

Musta

[2016-02-17 22:52] dvoytenko commented on #2085
Also, a combination of `amp-access` expressions and mustache templates can be helpful:

[code]

[2016-02-17 23:06] dandv commented on #1967
@Gregable: Duh, silly me.

@cramforce: I think this is faster and as complete:

[code]

[2016-02-17 23:15] dvoytenko commented on #1917
Thanks, @carlosabalde . I think I got a pretty good grasp on it now. Let me check with our privacy/security to see if anyone has any problems with allowing authorization response to be transferred in the content. We do already provide `authorizationFallbackResponse` so we can, in theory, just build on this.

[2016-02-17 23:21] cramforce commented on #2047
The immediate download is fine. But this needs to go onto the AMP-cache-rewrite list.

[2016-02-17 23:23] cramforce commented on #1967
@dandv The problem is that the mechanism doesn't catch stuff like

[code]

which is invalid AMP but might pass your validator.

[2016-02-17 23:41] jridgewell commented on #1989
Closed by #2080.

[2016-02-17 23:41] #1989 closed

[2016-02-18 07:43] steffenweber commented on #2047
I've run a test with Safari 9 on OS X El Capitan using BrowserStack: the "mask-icon" is not requested on page-load. It is only fetched when I pin the tab. So it should be safe to whitelist the proposed markup.

[2016-02-18 07:52] steffenweber opened #2108 "amp-pixel substitutions: add VIEWPORT_WIDTH and VIEWPORT_HEIGHT"
Currently, "amp-pixel" supports the substitutions `AVAILABLE_SCREEN_WIDTH` and `AVAILABLE_SCREEN_HEIGHT`. Knowing the screen size can be interesting but what's really useful for web development is knowing the viewport size (which takes window size and zooming into account). Only the viewport width tells you which layout your users see in a responsive design.

It would therefore be great if two new

[2016-02-18 08:38] Nemo64 commented on #827
@gandmexpress I'm not an amp dev but i think the reason is simple. Amp is still in its imfancy. A month ago it wasn't even possible to include analytics on a page.

[2016-02-18 10:26] molnarg opened #2111 "Remove eval and setTimeout(string) from environment.js"
The AMP CDN has a strict Content Security Policy that doesn't allow eval and setTimeout with string parameter, so it doesn't make sense to support setTimeout with string parameter in the setTimeout instrumentation code.

https://github.com/ampproject/amphtml/blob/master/3p/environment.js#L192

[2016-02-18 11:48] cramforce commented on #2111
@molnarg This runs inside of ad iframes served on `3p.ampproject.net` or the publisher's chosen host which does not have a CSP and which unfortunately does run code that is actually using setTimeout(String) :(

[2016-02-18 12:05] molnarg commented on #2111
Oh, I see, I'll close this ticket then and sorry for the noise.

[2016-02-18 12:05] #2111 closed

[2016-02-18 15:03] gandmexpress commented on #827
@Nemo64 makes sense... thank you.

[2016-02-18 17:05] montmanu commented on #2085
yeah, this is essentially where left off using the templates to prevent the user-notification component from initializing. Will look into the `tap:#id.hide` action for building out a growl-like component instead of using the amp-user-notification component. thanks!

[2016-02-18 17:07] #2085 closed

[2016-02-18 17:10] egianco73 opened #2114 "Video placeholder issue with Safari on iPhone"
Hi,

we have a problem with video embed into AMP pages delivered by Google CDN with iPhone.
At the first loading of the page, the video placeholder isn't showed (as attached a related screencapture).
When the user tap on the placeholder, the video player is loaded
and the video can play fine.

You can see the page as follows:
1) open with Safari on iPhone the URL: http://g.co/ampdemo/it
2) serach

[2016-02-18 17:17] egianco73 commented on #2114
Hi,

here you are a new example of amp-iframe used to deliver videos:

              <div class="video-container">
                <amp-iframe height=360 width=640
                  layout="responsive"
                  sandbox="allow-scripts allow-same-origin"
                  src="https://video.repubblica.it/embed/dossier/parigi-sotto-attacco/anonymous-dichiara-guerra-all-is-vi-daremo-la-caccia

[2016-02-18 17:20] montmanu opened #2115 "Support multiple URL properties in amp-access"
Currently, only a `login` URL is supported by the component. Ideally, multiple (arbitrary) URLs would be supported. One example use case would be to support distinct `login` and `subscribe` URLs. Otherwise, the "return" URL must be hardcoded into the HTML response and will not support returning the user to the AMP viewer. Here is an example configuration:

[code]

And example usage:

[code]

[2016-02-18 17:22] dvoytenko commented on #2114
@sriramkrish85 please take a look. This seems related to our recent changes to iframe's placeholders.

[2016-02-18 17:24] dvoytenko commented on #2115
@montmanu I have #2082 opened for discussion. It implements an `login` configuration that allows a flexible map of URLs. PTAL.

[2016-02-18 17:35] cramforce opened #2116 "Clean up dynamic-css-classes experiment?"
Should it still be here?
https://cdn.ampproject.org/experiments.html

[2016-02-18 17:57] Gregable commented on #2047
@cramforce . I have a change for validating this ready to go out, should I hold off until we have rewriting sorted? I'm not sure I understand the requirement.

[2016-02-18 18:05] cramforce commented on #2047
Ship it. Hoping to get rewriting soon enough.

[2016-02-18 18:18] cramforce opened #2118 "Make transient amp-user-notification"
My understanding is that right now, without URLs, we always save state to local storage.

I think we should allow opt-in that the notification just always shows and dismissal is just for closing it.

CC @rudygalfi

[2016-02-18 18:35] dvoytenko commented on #2043
It's definitely an iOS issue. I filed the bug: https://bugs.webkit.org/show_bug.cgi?id=154399

Looking for ways to work it around...

[2016-02-18 18:58] #1884 closed

[2016-02-18 19:29] glosee opened #2120 "`onResizeSuccess` and `onResizeDenied` do not fire in ad context"
Working on a third-party integration for the `amp-ad` element, I noticed that the resize callbacks are not working as laid out in [the docs](https://github.com/ampproject/amphtml/tree/master/ads#ad-resizing). I am unable to get any result from `onResizeSuccess` or `onResizeDenied`.

I dove into the AMP code a bit and found what may be causing the issue. PR #1596 implemented these two callback func

[2016-02-18 19:29] erwinmombay commented on #2118
seems straightforward, what should be the default though? should saving to local storage be the default? (that seems to be implied in your opt in statement).

[2016-02-18 19:37] rudygalfi commented on #2118
We could have alternatives for the `data-show-if-href` and `data-dismiss-href`:

Instead of `data-show-if-href` --> `show-always` to opt-in to always showing
Instead of `data-dismiss-href` --> `forget-dismissal` to opt-in to not storing the dismissal

[2016-02-18 19:39] rudygalfi commented on #2118
Or maybe there's just `show-always`? If `forget-dismissal` were set then the result of `show-always` is determined unless the configuration for the notification itself has changed (it was previously possible for the dismissal to be stored but now the policy is to always show).

[2016-02-18 19:49] rudygalfi commented on #827
Yes, as @Nemo64 said, AMP is still quite young. We've come a long way and we've built features in priority order based on feedback from publishers and content providers. (We also appreciate contributions to starting with an intent to implement and design overview to help solve the problems you're most interested in.) Menus are on our near-term roadmap. Another factor playing into the prioritizatio

[2016-02-18 19:53] glosee commented on #2120
I should add that the `resizeRequest` call actually works - the frame is resizing as expected. It's just that the callbacks are never called.

[2016-02-18 20:11] dvoytenko commented on #2118
I like `show-always` - it's pretty straightforward and understandable and lets the rest of the system to work w/o changes.

[2016-02-18 20:15] gandmexpress commented on #827
@rudygalfi Rudy, thank you. I appreciate you taking the time to reply. I will look into alternatives mentioned in the mean time. I really like the idea/concept of what AMP is and will continue to bring the internet (specifically mobile). Thx again

[2016-02-18 20:17] rudygalfi commented on #2118
By the way, `always-show` might be the better way to word it.

[2016-02-18 20:33] cramforce commented on #2118
Use case are notifications like: You have 8 articles left in this months.
Which you can't really perma-dismiss :)

On Thu, Feb 18, 2016 at 3:17 PM, Rudy Galfi <notifications@github.com>
wrote:

[2016-02-18 20:46] #2071 closed

[2016-02-18 20:53] Meggin opened #2124 "Document variables and server-side data"
Would be good to have an advanced topic doc showing developers techniques on how to use variables and populate them with server-side data.

Especially handy for things like remote configs in analytics.

[2016-02-18 21:00] johnluther opened #2125 "Intent to Implement: JW Player cloud-hosted video embed"
JW Player proposes an `<amp-jwplayer>` component to enable video playback in AMP pages using our cloud-hosted video player. To use the component, a JW Player account would be required (free accounts are available at [jwplayer.com/signup](http://jwplayer.com/signup).

A cloud-hosted JW Player loads the player as well as the video content, thumbnails, captions, etc. from a single HTTP location on th

[2016-02-18 21:07] cramforce commented on #2125
LGTM.

Love the `width="16" height="9"`

[2016-02-18 21:46] sriramkrish85 commented on #2114
cc @dvoytenko
@egianco73 I was looking into this issue -

The reason the placeholder is not being shown is the iframe onload gets triggered way before it can actually show something useful, AMP-IFRAME cleans up the placeholder after the iframe's onload event is fired.

I also see that the video plays fine after a few seconds (may be a min after the iframe loaded), sometimes it helps if i keep tapp

[2016-02-18 21:48] cramforce commented on #2114
To fix this, please update the iframe to do all relevant work immediately,
so that onload only fires at a meaningful time.

On Thu, Feb 18, 2016 at 4:46 PM, Sriram Krishnan <notifications@github.com>
wrote:

[2016-02-18 23:12] johnluther commented on #2125
Thanks, Malte, @pablos1 will create the PR after we polish up a few things.

JL

[2016-02-18 23:20] pablos1 commented on #2125
`responsive` FTW :+1:

[2016-02-19 00:03] dvoytenko commented on #2118
Yeah. That case we currently serve via `position:fixed` element right now and it's ok, I think. There are other things that make them a bit incompatible. So, I'm not yet 100% sold that this should be a `amp-user-notification`. And also, sometimes the metering "notification" is shown inline, not as an alert.

[2016-02-19 00:57] szach opened #2129 "Intent To Implement: TripleLift ad network for amp-ads"
# Overview

Support for the [TripleLift](http://triplelift.com) ad-network will be added to `<amp-ad>` elements.

### Comments

TripleLift will be submitting a PR via the `triplelift/amphtml` fork from the `feature/triplelift` branch.

[2016-02-19 01:03] rudygalfi commented on #2125
:+1: By the way, in your doc you had a "?" for the "Availability". This would immediately go to stable, so you can specify "Stable" there.

[2016-02-19 01:07] pablos1 commented on #2125
Done.

[2016-02-19 01:12] cramforce commented on #2129
LGTM. Ship it!

[2016-02-19 01:31] #1511 closed

[2016-02-19 02:04] mjangda commented on #2039
Thanks, that's a good idea.

[2016-02-19 02:39] #2120 closed

[2016-02-19 04:32] jpettitt opened #2131 "layout="responsive" does not constrain amp-img width correctly when parent height is constrained by max-height"
Width continues to grow even though height has been limited.

See example http://jsbin.com/zucimuxogu/edit?html,output - vary the browser width to see the effect - the image should be square.

[2016-02-19 06:53] #2050 closed

[2016-02-19 06:57] #1656 closed

[2016-02-19 06:57] #1915 closed

[2016-02-19 10:46] georgecrawford commented on #1556
This issue is now closed - is there any update for the docs at https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access-analytics.md, which refer to this issue?

[2016-02-19 14:22] egianco73 commented on #2114
Hi,

we have tried also as follows:

https://video.repubblica.it/static/amp_example.php

************* SOURCE ******************
<!doctype html>
<body style="background-color: red">
	iframe - Click to play
	<script>
	parent./*OK*/postMessage({
	  sentinel: 'amp',
	  type: 'embed-ready'
	}, '*');
	document.addEventListener("DOMContentLoaded", function(event) {
	});
	// Add a few elements below to s

[2016-02-19 15:07] egianco73 commented on #2114
Hi,

I'll repeat the URLs where we have done the clicktoplay test.

- AMP page where we have the placeholder issue on iPhone with Safari:
https://www.repstatic.it/cless-mobile/main/amp/2016-v1/test/anonymous_guerra_isis-127487066_amp.html

- the provided AMP page loads the following clicktoplay iframe:
https://video.repubblica.it/static/amp_example.php

Regards

[2016-02-19 16:55] cramforce commented on #2114
Just tried on Chrome and iOS and they look the same to me.

[2016-02-19 17:01] EnigmaSolved commented on #1885
Sounds good, and I'm glad I could be helpful!

[2016-02-19 17:12] michaelwmcnamara opened #2135 ""&amp" is not rendering as "&" symbol"
original issue:
https://github.com/guardian/frontend/issues/12040

&Amp is being displayed literally, instead of being interpreted as "&"

![image](https://cloud.githubusercontent.com/assets/7239344/13182793/642c4842-d72b-11e5-9f4b-d8ed280d5356.png)

If this is intentional, we can filter these from our end. Please let us know.

[2016-02-19 17:17] cramforce commented on #2135
@dvoytenko I think this is working as intended. Strings are meant to be just strings. HTML encoding happens at template rendering time.

[2016-02-19 17:18] nbeloglazov opened #2136 "Validator doesn't accept valid svg"
Hi

Current validator doesn't accept svg with "version" attribute and <stop> tag:
[code]
From here: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/linearGradient

Validation errors: http://output.jsbin.com/bagukobaco#development=1 I believe this svg is valid and safe from security/performance point of view (though I'm not svg expert).

[2016-02-19 17:19] avimehta commented on #1985
lgtm. @rudygalfi please merge.

[2016-02-19 17:25] avimehta commented on #1082
@cramforce I think you fixed this. no?

[2016-02-19 17:26] cramforce commented on #2136
CC @Gregable @powdercloud @honeybadgerdontcare

[2016-02-19 17:27] kul3r4 commented on #2114
I noticed this happens when visualizing inside the carousel on Safari on iPhone and not when opening the page directly with Safari on iPhone. @cramforce could you try that as well and see if you get the same behaviour?

[2016-02-19 17:28] avimehta commented on #1299
Since there are is no fragment support in the pipeline for now, do you wanna close this and/or change priority to not be high and milestone to be M2+?

[2016-02-19 17:28] cramforce commented on #2114
@sriramkrish85 Could you try that? Thanks!

[2016-02-19 17:40] justforfun commented on #2114
Hi, I'm a @egianco73 colleague and I confirm that the problem  happens when visualizing inside the carousel on Safari on iPhone and not when opening the page directly with Safari on iPhone

[2016-02-19 17:43] dvoytenko commented on #2135
@cramforce @michaelwmcnamara Correct. Strings in JSON are meant to be strings. These strings are escaped when output into HTML. There's a limited option to use `{{{value}}}` (triple-mustache) that can be used to disable escaping as well.

[2016-02-19 17:43] #2135 closed

[2016-02-19 17:49] rudygalfi commented on #1985
Closed via #1986

[2016-02-19 17:49] #1985 closed

[2016-02-19 17:51] rudygalfi opened #2139 "Support for exposing fragment parameters in amp-analytics"
Offshoot from #1299, where we added support for query params but didn't cover fragment params.

This would cover the case where in a page URL like foo.com/section/page.html#b=3, you could use a variable substitution like FRAGMENT_PARAM(b) and it would get replaced by "3"

[2016-02-19 17:51] rudygalfi commented on #1299
Support for fragment params has been moved to #2139. Closing this.

[2016-02-19 17:51] #1299 closed

[2016-02-19 17:53] rudygalfi commented on #1769
FYI: Now being tracked in PR #2075

[2016-02-19 17:54] jridgewell commented on #2135
Yup, what you're seeing is actually it rendering `&amp;amp;` (the ampersand you're seeing is actually the HTML entity).

[2016-02-19 17:55] rudygalfi commented on #356
@erwinmombay Is this WIP, or should we bump from the Feb 19 milestone?

[2016-02-19 17:57] rudygalfi commented on #1473
Closed via #2048

[2016-02-19 17:57] #1473 closed

[2016-02-19 17:58] rudygalfi commented on #1741
Resolved via #2052

[2016-02-19 17:58] #1741 closed

[2016-02-19 17:58] erwinmombay commented on #356
@rudygalfi definitely bump this out. i wasn't able to reproduce the last time i checked.

[2016-02-19 18:06] sriramkrish85 commented on #2114
@egianco73 , does the iframe fire it's onload before the video is loaded ?

[2016-02-19 18:54] jridgewell commented on #1082
I [don't think](https://github.com/ampproject/amphtml/blob/dee430c3d0e0a95a16192f70dfadecdd74e3809e/extensions/amp-analytics/0.1/amp-analytics.js#L42-L44) so.

[2016-02-19 18:55] justforfun commented on #2114
Hi the problem happens even if the iframe code contains the code suggested here:
https://github.com/ampproject/amphtml/blob/c0c9f8889d6aea0cba4301d24a2ab4b97e59d9c7/test/fixtures/served/iframe-clicktoplay.html
You can find this iframe as the last one of the amp page
https://www.repstatic.it/cless-mobile/main/amp/2016-v1/test/anonymous_guerra_isis-127487066_amp.html

[2016-02-19 19:00] cramforce commented on #1082
What I did is make sure that it would never actually be visible.

[2016-02-19 19:02] erwinmombay opened #2143 "add tests for resize events"
reference https://github.com/ampproject/amphtml/pull/2130/files

[2016-02-19 19:11] erwinmombay commented on #412
consistently failing on chrome 48 locally. (not on remote 46?) opening again.

[2016-02-19 20:02] sriramkrish85 commented on #2114
@justforfun  so the code suggested is being used for unit testing.

Immediately after you send the `embed-ready` message the `amp-iframe` thinks that the iframe contents are ready for display and hence it deletes the placeholder.

So you should only be sending that message when you are sure that the contents of the iframe are ready for display (or just defer to the iframe's `onload`).

[2016-02-19 20:08] dvoytenko opened #2147 "Move all UI classes from BODY to documentElement."

[2016-02-19 20:21] cramforce opened #2148 "Linter does not enforce single quoted strings."

[2016-02-19 20:26] rudygalfi commented on #1556
The documentation was updated here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access-analytics.md#access-analytics-variables

[2016-02-19 20:34] mkhatib commented on #2118
Is anybody working on this? Happy to take a look.

[2016-02-19 20:42] #1293 closed

[2016-02-19 20:42] #1334 closed

[2016-02-19 20:47] erwinmombay commented on #2118
@mkhatib feel free

[2016-02-19 20:49] #2148 closed

[2016-02-19 21:03] charlesdavis opened #2152 "AMP Access Login: RETURN_URL parameter is wrapped in braces, which breaks redirect back to AMP page."
**AMP Access**

The RETURN_URL parameter passed to the publisher login page is wrapped in curly braces. For example:
[code]
When the login page attempts to redirect the user back to the return URL (i.e. the AMP page), the braces cause the browser to treat the URL as relative. This results in the browser prefixing the href with the login page origin, for example:
[code]

[2016-02-19 21:36] rudygalfi opened #2153 "amp-instagram rendering just a frame, but no content"
http://nypost.com/2016/02/19/ronda-rousey-embarrassed-by-two-photos-for-opposite-reasons/amp/

<img width="400" alt="screen shot 2016-02-19 at 1 35 35 pm" src="https://cloud.githubusercontent.com/assets/3888212/13189688/b3c581f2-d70d-11e5-9479-f985a67f6396.png">

[2016-02-19 21:36] rudygalfi commented on #2153
@mkhatib Can you take a look?

[2016-02-19 21:39] cramforce commented on #2153
I'll take this.

[2016-02-19 21:40] cramforce commented on #2153
This is because the photo doesn't exist and instagram's error page doesn't allow for display inside of iframes: https://www.instagram.com/p/BB5Iy55hEbm%2F/embed/?v=4

[2016-02-19 21:40] #2153 closed

[2016-02-19 21:42] erwinmombay commented on #1369
should be fixed through #1360 let us know if you still see the issue and feel free to reopen.

[2016-02-19 21:42] #1369 closed

[2016-02-19 22:05] justforfun commented on #2114
Perhaps there's a misunderstanding.
What's happening to us  is that the image inside the iframe isn't being displayed after the amp-iframe's placeholder has been deleted.
This happens only on iOS and only if the amp page has been loaded via the search carousel.
Moreover the image loaded inside the iframe is not displayed even after a minute, so it isn't a matter of delayed visualization but of mis

[2016-02-19 22:24] gad2103 opened #2157 "analytics config url substitutions not properly delayed"
our amp analytics tag:
[code]
it seemed that #2093 was meant to solve this use case, but as far as i can tell it is not working. the requests for config and for the auth call seem to go out at about the same time which indicates that the AUTHDATA url replacement is not waiting for that parameter to resolve before sending the xhr request.

however, all the other parameters are being replaced proper

[2016-02-19 22:24] erwinmombay commented on #2147
@dvoytenko just to clarify, are we talking about just classes attached by core-dev, or both core-dev and pub-dev ?

[2016-02-19 22:33] erwinmombay opened #2158 "`amp-user-notification` is hidden by the viewers chrome"
`amp-user-notification` should be a sibling of body to solve `position: fixed` issues as well as to avoid being hidden by the viewers chrome if padding top is set.

reference https://github.com/ampproject/amphtml/pull/2128

[2016-02-19 22:35] cramforce commented on #2158
@erwinmombay Right, you can ask the viewer for what should be your minimum `top` value and enforce that to be set if the top is 0

[2016-02-19 22:36] cramforce commented on #2157
@gad2103 Do you have a URL where we can debug this?

[2016-02-19 22:43] cramforce opened #2159 "Closing a lightbox should stop videos, etc."

[2016-02-19 23:05] sriramkrish85 commented on #2114
@justforfun
I am not sure - what do you mean by `inside the iframe` ?
I see this in your code
[code]
Here the placeholder is

[code]
And yes we remove this after receiving `embed-ready` or `onload`.

AMP does not have any control over the contents of the iframe.

The reason you are not seeing the `<amp-img src='...' placeholder>` is because you are firing `embed-ready` too soon.

My suggestion for

[2016-02-19 23:22] cramforce commented on #2157
Also CC @dvoytenko

[2016-02-19 23:41] cramforce commented on #2157
Ah, yes. So, this does definitely depend on the `amp-access-analytics` being turned on, but it also doesn't wait.

@dvoytenko Do you think it is fine to make `AUTHDATA` wait for `access.firstAuthorizationPromise_`?

[2016-02-19 23:43] dvoytenko commented on #2157
Not sure. Generally waiting is doable easily. But I don't know if this is what's always desired. My goal was to ensure that all Access events specifically wait for it. If misused, many analytics events could be reported with a significantly wrong timestamp drift.

[2016-02-19 23:44] cramforce commented on #2157
We could document it.

On Fri, Feb 19, 2016 at 6:43 PM, Dima Voytenko <notifications@github.com>
wrote:

[2016-02-20 00:15] cramforce commented on #2157
Created #2161

I think that in general our public APIs (And `AUTHDATA` is as public as it gets) should be race free as we don't have a mechanism for coordination.

[2016-02-20 00:31] #2157 closed

[2016-02-20 00:37] #2159 closed

[2016-02-20 01:40] Gregable commented on #2136
This is fixed. Should be rolled out to javascript in an hour or so.

[2016-02-20 01:40] #2136 closed

[2016-02-20 01:40] Gregable commented on #2068
This is fixed. Should be rolled out to javascript in an hour or so.

[2016-02-20 01:40] #2068 closed

[2016-02-20 01:40] Gregable commented on #2047
This is fixed. Should be rolled out to javascript in an hour or so.

[2016-02-20 01:41] Gregable commented on #1732
These are fixed. Should be rolled out to javascript in an hour or so.

[2016-02-20 01:41] #1732 closed

[2016-02-20 01:46] cramforce commented on #1588
Validator support is pushing to prod as we speak.

[2016-02-20 01:52] camelburrito opened #2165 "Pause video/audio when user starts playing another video/audio"
scenario

play audio
then start a video on the same page - you can hear the audio playing and also the video.

[2016-02-20 01:54] cramforce commented on #2165
Please add a little jsbin or other repro case.

[2016-02-20 01:58] sriramkrish85 commented on #2165
@cramforce - we can repro in examples/everything.amp.html

[2016-02-20 02:22] dvoytenko commented on #2152
Apologies. The example in the documentation was wrong, the declaration should be done without `{}` simply as
[code]

I've updated the documentation.

[2016-02-20 02:22] #2152 closed

[2016-02-20 02:23] dvoytenko commented on #2152
Closing the issue, but please reopen if there are any other comments.

[2016-02-20 02:25] erwinmombay commented on #2165
can you update the header to "Pause video/audio **when** user starts playing another video/audio"*

when i read it at first i thought a play in one component triggers another component to play.