[2016-07-18 21:56] cramforce commented on #3945
I filed #4113 and we will start working on it soon. I hope that it will both act as a proof of concept for this design and then help more implementations with example code.

[2016-07-18 22:26] Gregable commented on #3949
Implemented in https://github.com/ampproject/amphtml/pull/3973

[2016-07-18 22:26] #3949 closed

[2016-07-18 23:27] #3890 closed

[2016-07-18 23:28] cramforce commented on #3743
@indianburger could you take a look at this?

[2016-07-18 23:29] #3668 closed

[2016-07-18 23:32] cramforce opened #4119 "Implement extensive tests for amp-ad/amp-iframe resizing/IntersectionObserver"
We should significantly improve test coverage for iframe resizing and `IntersectionObserver` in `amp-iframe`  and `amp-ad`.

These tests should make a real iframe and then make sure the right messages are being passed around.

CC @sriramkrish85

[2016-07-18 23:40] rudygalfi commented on #4114
Will #1298 address what you're looking for here?

[2016-07-18 23:44] Gregable commented on #3348
This has now been deployed everywhere.

[2016-07-19 01:17] zhua1989 commented on #4114
Hi Rudy,

I think it would be on the right track however the content with the links
is being pulled in from an api (it's a news site and this is on an article
page)  I wouldn't be able to manually write in these data attributes on the
markup.  I think ideally if these variables substitutes just got the href
attribute of the element and the html of the element that would work.

If i'm not understan

[2016-07-19 02:33] #4027 closed

[2016-07-19 02:35] erwinmombay opened #4121 "July 18, 2016 Meeting Notes"
2016-07-18

@cramforce
- Wrote blog post due to be posted tomorrow.
- Added retries to tests running on saucelabs.
- Made master selection of 3p iframes lazy.
- Exposed caching of parsed URLs across compilation units.

@ericlindley-g
- Drafted blog post to publish later this week
- Live blog outreach

@erwinmombay
- Open PR optimizing some code paths for production
- Fix visibility bug for Safari

[2016-07-19 02:54] cramforce opened #4122 "Do not allow ad-shaped iframes in fixed position"
If `amp-iframe` instances match the existing code: https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/0.1/amp-iframe.js#L479 and also fulfill the conditions of https://github.com/ampproject/amphtml/blob/74f25ee3225229426a9d7c8ecbdec3e69acc00e4/extensions/amp-ad/0.1/amp-ad-3p-impl.js#L112 then do not render the iframe and emit an error to the console to use `amp-sticky-ad` plus

[2016-07-19 03:16] aletorrado opened #4123 "404 status code while getting an image from CDN"
Hi, I'm getting a 404 status code on the images loaded through the ampproject's CDN, don't know exactly why.

Test URL: [http://www.diarioregistrado.com/amp/politica/milagro-sala-desde-la-carcel-tras-la-detencion-de-su-esposo---ya-somos-11-los-presos-politicos-_a578d1b20cfe4c87c72d791f4](http://www.diarioregistrado.com/amp/politica/milagro-sala-desde-la-carcel-tras-la-detencion-de-su-esposo---ya-s

[2016-07-19 03:19] erwinmombay commented on #4123
@aletorrado can you specify what platform/device/version? quick glance at chrome web and i don't see any 404 errors on the network

[2016-07-19 03:24] aletorrado commented on #4123
The issue happens on the AMP Project's CDN: [link](https://cdn.ampproject.org/v/www.diarioregistrado.com/amp/deporte-registrado/la-seleccion-de-basquet-cayo-en-un-amistoso-ante-un-rival-de-los-juegos-olimpicos_a578d8901cfe4c87c72d79323?amp_js_v=5#origin=https%3A%2F%2Fwww.google.com.ar&channelid=0&cid=1&dialog=0&prerenderSize=1&viewportType=natural&visibilityState=hidden&paddingTop=54&history=1&p2r

[2016-07-19 03:32] erwinmombay commented on #4123
i see the 404 now

[2016-07-19 03:38] erwinmombay commented on #4123
@cramforce is this just a content-type issue when the cdn tries to cache the image? their server responds with Content-Type:application/octet-stream for their image assets

[2016-07-19 03:50] cramforce commented on #4123
Most likely. @aletorrado Could you switch to a correct mime type for images (something starting with `image/`?

@jmadler Did we ever discuss allowing octet-stream for images?

[2016-07-19 04:26] zhouyx commented on #4022
#4124

[2016-07-19 13:18] jaygray0919 commented on #3554
@dvoytenko and @cramforce

`#2` is good and helpful. `#2` will enable us to parse CORS/JSON files where the Publisher selects the term for the array root. An example is JSON files published by US NIH PubChem.

We see problems with `#3`.

A brief aside on nomenclature. "Simple JSON-LD" means that `@Type` is used only once in an array. "Complex JSON-LD" means `@Type` is used 2+ times. Examples: `@id

[2016-07-19 17:15] lisamayo opened #4125 "need a way to collapse ads inside viewport [related to #3182]"
This question is related to issue [#3182](https://github.com/ampproject/amphtml/issues/3182) -- if the ad is inside the viewport, what suggestions do you have to collapse it?  We need some way to hide the empty 300x250 (or whatever size) amp-ad element that remains when no creative is returned.  I understand there's concern over a flash/shifting of content but then how do we compensate for the spa

[2016-07-19 17:24] cramforce commented on #4125
Provide a `<div fallback>` element inside the `amp-ad`

[2016-07-19 17:30] jasti commented on #4125
Deets: https://github.com/ampproject/amphtml/blob/master/builtins/amp-ad.md#no-ad-available

[2016-07-19 17:37] lisamayo commented on #4125
I tried that, along with sending noContentAvailable and requestResize when the ad receives a postMessage of 'no-content'.  The inline style of the amp-div does not get reset to height: 0 or display:none.  [https://www.evernote.com/l/AZU7zyJRvFZCRI3XGRJ9jUBaf3w-Cg-qUhQ](url)
I'm testing this locally using code that I pulled from the amp repo this morning (EST).

[2016-07-19 18:32] cramforce commented on #4111
A slightly longer answer than you might have expected 😄
https://medium.com/@cramforce/but-what-about-the-ads-bfe5025b6606#.uymgdsph5

We do not currently have plans to optimize ads beyond this.

[2016-07-19 19:14] indianburger commented on #3743
Speaking as a Twitter engineer here but I'm guessing AMP's stance on this will be similar as it's a framework and will not make editorial decisions.

Deleted tweets:
Twitter's javascript, which AMP pulls in here, will never render a deleted to respect the author's wish. However the common approach that publishers employ is to take on the editorial responsibility of whether to show the deleted twee

[2016-07-19 19:21] cramforce commented on #3743
Can we signal to the parent that the tweet wasn't found? I think that is the main thing missing here. AMP would then switch to the fallback which is recommended like this:

[code]

[2016-07-19 19:46] rudygalfi commented on #4071
OK, I think I was reasoning through this incorrectly. Disregard my previous comment "Search results pages themselves are out of scope for AMP because they are fundamentally not cacheable experiences" and replace with:

Search results pages should work in AMP. Something to be mindful of is supporting GET behavior on the in-progress `form` support so that you get from searchbox to loading a new page

[2016-07-19 20:16] jasti commented on #4038
@ampproject/ads Adserver folks, looking for some input here.  Do you hear this feature request from publishers you support? Do publishers want to auto-refresh a slot on a page? if so, priority?

[2016-07-19 20:20] jasti commented on #3272
ping ping @parisholley. Any progress?

[2016-07-19 20:22] parisholley commented on #3272
@jasti no, i haven't been able to write a line of code in weeks. someone feel free to pick this up, otherwise have to wait till I get in the mood again :x

[2016-07-19 20:42] #4086 closed

[2016-07-19 20:43] Rooke commented on #4038
The demand for this among publishers exists. Sortable had enough of these requests that we allowed the `data-ad-refresh="user 30s event 30s time 30s"` property to give publishers the ability to specify how they wanted to refresh ads. e.g. If the `data-ad-refresh` is set to a time (say 30s), the unit will automatically refresh after 30s in the viewport. I wouldn't call this a high priority issue th

[2016-07-19 20:45] patrickcbrady opened #4128 "Doubleclick Amp Ad wraps creative in friendly iframe; behavior not documented"
## Issue Description

While testing with an AMP ads tag using Doubleclick with the 'useSameDomainRenderingUntilDeprecated' set to 1, the creative that the adserver returned was wrapped inside of an IAB-compliant friendly iframe. This prevents the ad from accessing the Amp Ads "window.context" variable to retrieve information without first navigating up through the hierarchy of parent windows to fi

[2016-07-19 20:46] ericlindley-g commented on #4068
@pbakaus Marking as closed, but please re-open if this resurfaces after the change is rolled out

[2016-07-19 20:46] #4068 closed

[2016-07-19 21:01] ericlindley-g commented on #4074
Putting this in the "Pending Triage" milestone — please update with a more specific milestone (current, next, backlog) when the plan is more concrete. Thanks!

[2016-07-19 21:07] ericlindley-g commented on #4102
Copied to https://github.com/ampproject/docs/issues/142

[2016-07-19 21:07] #4102 closed

[2016-07-19 21:08] jasti commented on #3272
ok, un-assigning you for now but do let us know if you get in the mood again :)

[2016-07-19 21:12] yieldmo-rao commented on #4038
Hello all,

From our end, we actually haven't had any requests for auto ad refreshes on
AMP pages. Just as an FYI, we have a couple publishers on regular mobile
web (that are on DFP) that use the DFP auto refresh feature, but even those
pubs are few, and haven't requested the same on AMP.

Best,

Rahul

On Tue, Jul 19, 2016 at 4:43 PM, Michael Rooke <notifications@github.com>
wrote:

[2016-07-19 21:24] ericlindley-g commented on #4073
This looks like it goes in the backlog, but @aghassemi please correct if you plan on work in either "current" or "next" timeframe

[2016-07-19 21:26] aghassemi commented on #4073
:+1:  for backlog

[2016-07-19 21:27] ericlindley-g commented on #4075
Based on discussion in #3983, it sounds like this should be in "Next", but I'm passing to @lannka to correct/update as needed.

[2016-07-19 21:29] ericlindley-g commented on #4077
Sounds like this goes in "Backlog" from the discussion, but @lannka, please update/correct as needed—thanks!

[2016-07-19 21:31] ericlindley-g commented on #4087
@dvoytenko  Sounds like this goes into "Backlog", but please update/correct as needed

[2016-07-19 21:36] ericlindley-g commented on #4094
@honeybadgerdontcare I've temporarily put this into "pending triage", but please update with a more specific milestone when you have a sense of target. Thanks!

[2016-07-19 21:41] ericlindley-g commented on #4095
Passing to @dvoytenko to slot in the right milestone

[2016-07-19 21:45] ericlindley-g commented on #4113
From #3945 it sounds like "Next" is the right milestone for this, but please feel free to correct/update

[2016-07-19 22:09] cramforce commented on #4077
Lets do it, since the fix should be super trivial and exception hygiene is important.

[2016-07-20 00:10] lannka commented on #4077
@cramforce should we just check if `UA == chrome && scheme == https` ?
I don't see a native API to test a secure origin.

[2016-07-20 00:16] Gregable commented on #4094
Closing, but will be a little while longer before it's released.

[2016-07-20 00:16] #4094 closed

[2016-07-20 00:16] Gregable commented on #3749
Closing, but will be a little while longer before it's released.

[2016-07-20 00:23] cramforce commented on #3749
I assume we still need to make the CSP change, right?

Sending you a CL.

[2016-07-20 00:29] cramforce commented on #4077
Has nothing to do with Chrome. Secure origin is basically: `scheme ==
'https' || hostname == 'localhost'`. Can be added to `url.js`

On Tue, Jul 19, 2016 at 5:10 PM, Hongfei Ding <notifications@github.com>
wrote:

[2016-07-20 00:31] lannka commented on #4077
Currently seems only Chrome enforces this. Tried on FF it works fine.

[2016-07-20 01:21] cramforce commented on #3749
New CSP

`content-security-policy:default-src * data:; script-src https://cdn.ampproject.org/rtv/ https://cdn.ampproject.org/v0.js https://cdn.ampproject.org/v0/ https://cdn.ampproject.org/viewer/; object-src 'none'; style-src 'unsafe-inline' https://cloud.typography.com https://fast.fonts.net https://fonts.googleapis.com https://maxcdn.bootstrapcdn.com; report-uri https://csp-collector.appspot.co

[2016-07-20 01:21] #3749 closed

[2016-07-20 04:01] lannka commented on #4077
@dvoytenko @jridgewell Not sure if you are aware that this restriction also applies to ServiceWorker:
http://www.html5rocks.com/en/tutorials/service-worker/introduction/#toc-before

[2016-07-20 10:49] xaxiclouddev opened #4134 "st"
Please walk through the following steps for reporting an issue about AMP:

- Please ask general questions about AMP over on stackoverflow under the AMP HTML tag: http://stackoverflow.com/questions/tagged/amp-html
- Please ask/post questions/problems related to Google Search in Google's AMP forum: https://goo.gl/utQ1KZ

## Short description of your issue:

Start by deleting everything above this in

[2016-07-20 15:14] johnfmorton commented on #3133
Hello all. Regarding the "HTTP API to the validation service will be open to all users" in the **Proposed Design** section above, that's of interest to me. I'm not sure the best way to help with this project but I'm interested in being involved. I maintain the [Yeoman _Build A Banner_ workflow](https://www.npmjs.com/package/generator-buildabanner).

[2016-07-20 15:51] cramforce commented on #3133
@johnfmorton A4A will have stricter rules than AMP itself and might even have a different document marker to signify being an ad instead of a doc. For now passing https://www.npmjs.com/package/amp-validator would be a great start. We will definitely add support for A4A validation to that module when it becomes more final.

[2016-07-20 15:54] johnfmorton commented on #3133
@cramforce Thanks for the quick reply. I'll look into that.

[2016-07-20 16:27] dvoytenko commented on #4077
Correct. I've run into this in PWA as well.

[2016-07-20 17:15] lannka commented on #4077
As @cramforce suggested, I'll introduce a util method in `url.js` to test secure origin, so it can be reused.

For Crypto API, I will put the secure origin limitation on Chrome only, so other browsers can still be fully benefited with native API? Sounds good?

[2016-07-20 18:11] Gregable commented on #2025
Should be live on cdn.ammproject.org.

[2016-07-20 18:11] Gregable commented on #596
Should be live on cdn.ammproject.org.

[2016-07-20 18:14] cramforce commented on #4077
I think the secure origin limitation is in the spec. For most crypto
operation doing them on a non-secure origin inherently doesn't make any
sense at all.

On Wed, Jul 20, 2016 at 10:15 AM, Hongfei Ding <notifications@github.com>
wrote:

[2016-07-20 18:23] aghassemi commented on #4104
Based on the discussion here: https://groups.google.com/forum/#!topic/v8-users/maH60gh_a8s https://codereview.chromium.org/1996373002 is likely to ship. So we should be able to test and remove this in a month or two.

[2016-07-20 19:08] avimehta commented on #2487
Hi,

I'll be starting work on this with hopefully a PR to show before end of the month. Everything will be behind a flag so that we can do tests in production by turning on the flags. I'll be using `viewer.onVisibilityChanged` as discussed previously in this thread. Note that the 'hidden' state means that the viewer hid the page from screen. It could still be in the background and a user can swipe

[2016-07-20 19:11] peleyal commented on #4029
The use case is as follow:

1) The runtime sends a cid message to get the base cid from the viewer
2) In case the viewer's storage has the cid it returns it
--- That's exactly how it works today. However,
3) Otherwise (no cid in storage), the viewer returns an empty cid
3.1) When the runtime gets an empty cid, it knows that it has to generate it itself
3.2) The runtime has to send a new message (S

[2016-07-20 19:17] avimehta commented on #2564
@uniquelygeneric would https://github.com/ampproject/amphtml/issues/2487#issuecomment-234050096 solve this, if yes, I'll close this bug.

[2016-07-20 19:48] rudygalfi commented on #2487
Thanks @avimehta!

The Method 2 (`on = 'visible'`) semantics seem a bit weird to me because the trigger is defined as `visible` but in terms of timing for the document it's happening on unload. I wonder if we could introduce `visibilitySpec` to `hidden`?

Also, what's the use case for "ad has been visible for no more than 2 seconds by the time page unloaded". Presumably you could collect this info

[2016-07-20 20:03] erwinmombay opened #4138 "remove all instances of `this.win_` and replace it with `this.win`"
follow up to https://github.com/ampproject/amphtml/pull/4115

[2016-07-20 21:29] jasti commented on #4038
Thanks @Rooke and @yieldmo-rao! We'll slot this into backlog unless any other adserver objects and work on higher priority things.

[2016-07-20 21:35] ericlindley-g commented on #3719
I'm seeing an issue I think is related to this in prod — @dvoytenko @cramforce , is there a good person to look at this in the short term?

<img width="642" alt="screen shot 2016-07-20 at 2 34 39 pm" src="https://cloud.githubusercontent.com/assets/16807766/17003925/230911be-4e87-11e6-8b0f-ece372b5cf52.png">

[2016-07-20 21:47] jasti commented on #4128
@patrickcbrady thanks for raising this.
@michaelkleber do you know if 'useSameDomainRenderingUntilDeprecated' has regressed?

[2016-07-20 21:53] jasti commented on #4125
@lisamayo Here is a super simple test page that works when the adserver is DFP. Can you link a live test page?
@zhouyx Sounds like our fallback looks for a select event from the ad server to replace with fallback content. Can you please confirm?

[2016-07-20 22:14] jasti opened #4140 "Add warning in validator about the deprecation of using amp-ad without loading the extension"
Is <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script> required for running ads? I didn't think so because ads just work without it? e.g. http://dfp-amp-testing-1185.appspot.com/amp_tests/dfp-image-layouts-fixed-demo.html

If not, should we update the documentation here ? https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad/amp-ad.md#-am

[2016-07-20 22:21] zhouyx commented on #4125
when the amp-ad receive `no-content` message it will try to replace with fallback content ( if there's is one).
If there's no fallback content, amp-ad will try to collapse itself, but the attempt to change height to 0 may fail when the ad is in viewport.

[2016-07-20 22:25] jasti commented on #4125
@lisamayo does adtech adserver respond back with a 'no-content' when there is no ad?

[2016-07-20 22:25] zhouyx commented on #4140
It's not really required, but like all other extensions it would be good to include script to the page.
I think we deliberately add that require for script line to the documentation to encourage users including script in future. @cramforce

[2016-07-20 22:27] jasti commented on #4140
Thanks @zhouyx! I think it was throwing off some folks as to how ads were working without the ads script :)  I'll send a tiny PR to clarify here.

[2016-07-20 22:27] cramforce commented on #4035
@zhouyx I think the smaller race here is still around, but lower priority
https://github.com/ampproject/amphtml/blob/master/src/intersection-observer.js#L214

Basically we need to check in the callback whether the iframe still exists.

[2016-07-20 22:29] Gregable commented on #4140
Initially the ad code was part of the main runtime, but was moved to a separate include. Ideally documents would add the include directly, which would speed up loading, however we don't want to break everyone.

Maybe we can leave this issue open as a TODO for the validator to emit warnings for pages that use `<amp-ad>`, but do not include `amp-ad-0.1.js`

[2016-07-20 22:31] cramforce commented on #3719
Maybe @paul-matthews could.

[2016-07-20 22:47] jasti commented on #4140
Cool! I've clarified in a PR for doc. Assigning to you.

[2016-07-20 22:52] aghassemi commented on #3909
@cramforce Fortunately this is not a bug with our `<amp-youtube>`. The first example in `youtube.amp.max.html` is using a custom `<amp-img>` as placeholder for the cover that points to `https://i.ytimg.com/vi/mGENRKrdoGY/hqdefault.jpg`. Now, the built-in cover image in `<amp-youtube>` uses `object-fit: cover` (same as youtube itself) for the cover image but the custom `<amp-img>` used in the examp

[2016-07-20 23:23] zhouyx opened #4145 "one test in test-resources description misleading"
https://github.com/ampproject/amphtml/blob/master/test/functional/test-resources.js#L1015

I found here height diff is 0, but the description is

What is the purpose of this test case?
@sriramkrish85  @dvoytenko

[2016-07-21 00:04] aghassemi opened #4146 "Internationalization framework"
This is just a placeholder/discussion issue for internationalization work we need to do.

As we create more complex components, there is more default text that we need to include (e.g. labels and titles, whether visible or for screen readers). Allowing page authors to change these defaults (whether to translate them or simply to change them) is currently done through custom attributes on the eleme

[2016-07-21 00:07] #3909 closed

[2016-07-21 00:10] lannka opened #4147 "[Refactoring] Move all service factory code into one file"
This will significantly reduce the number of files under `src/` and make code navigation easier.
Listing all available services in one file is also good for learning the code base.

[2016-07-21 01:21] michaelkleber commented on #4128
@patrickcbrady As the documentation for `ads` says, "Depending on the ad server / provider some methods of rendering ads involve a second iframe inside the AMP iframe. In these cases, the iframe sandbox methods and information will be unavailable to the ad. We are working on a creative level API that will enable this information to be accessible in such iframed cases and this README will be update

[2016-07-21 04:21] lannka commented on #4077
After discussion in another thread, we agree to not check secure origin ourselves. Instead, we'll just check the error message, and mute it if it contains pattern like "secure origin", since it's an expected fallback.

@cramforce pls correct me if I have misunderstanding.

[2016-07-21 14:38] cramforce commented on #4077
Sounds good.

[2016-07-21 15:16] lisamayo commented on #4125
@jasti : yes, adtech responds back with 'no-content' when there's no ad.  But what @zhouyx mentions is what I'm seeing -- when the ad is in viewport it doesn't collapse (the height change to 0 doesn't happen) even with the 'no-content' message.  If the ad is below the viewport then yes, it does collapse as expected.

In the meantime I spoke to our product team to find out if we could resolve this

[2016-07-21 15:19] jasti commented on #4125
@lisamayo I'm confused. @zhouyx said that when there's no fallback content. Thought you were trying this *with* fallback content. If no, we are all good here!

[2016-07-21 15:24] aghassemi opened #4152 "[Punch List] - Lightbox 2.0"
This is a _tracker_ issue for related work planned for lightbox enhancements in AMP.
- [x] Define a JavaScript interface for `lightboxable`. Any AMP or DOM element implementing this interface will become lightboxable and a candidate for discovery for auto-lightboxing. This contact defines exactly what properties and functionality elements need to provide to be lightboxable. (e.g. thumbnail, descri

[2016-07-21 15:27] lisamayo commented on #4125
Nope, I was trying it _without_ fallback content...sorry for any confusion.   All good now. :)

[2016-07-21 15:37] jasti commented on #4125
Awesome.

[2016-07-21 15:37] #4125 closed

[2016-07-21 15:58] cramforce commented on #3743
I think the real bug here is:

We should keep showing the placeholder not until we render the iframe, but until we have an affirmative that tweet rendering succeeded.
@zhouyx is working on something similar for ads.

@indianburger Is there something like `twttr.events.bind('resize', …` we can listen to, to know when tweet render is complete and what the result was?

[2016-07-21 16:05] aghassemi opened #4154 "[Punch List] - Video in AMP"
This is a _tracker_ issue for related work planned for video enhancements in AMP.
- [x] Define the AMP JavaScript interface for the shared video interface as defined in #3945
- [x] Implement the above interface for `amp-video`
- [x] Implement the above interface for `amp-youtube`
- [x] Implement an AMP video manager that can discover what elements are videos, knows which one is currently playing,

[2016-07-21 16:07] aghassemi commented on #4154
@cramforce @rudygalfi @ericlindley-g Here is a rough punch list for video related work we need to do. Feel free to edit. I will spin off more Github issues as time comes for each task.

[2016-07-21 16:14] cramforce opened #4155 "Make AMP validator NPM module interface more idiomatic"
I think we could still iterate on the JS API a bit to make it more idiomatic. Something like

[code]
- For promise chainability it makes sense to use rejection for all the bad cases and only resolve on the good ones.
- I think we should avoid exposing magic strings like 'PASS' and instead use booleans.

Also: I'd like to avoid using ES6 in the examples as long as that is not common practice on NPM

[2016-07-21 16:25] aghassemi commented on #4152
@dvoytenko @ericlindley-g Rough punch list for lightbox 2.0 work. Feel free to edit.

[2016-07-21 16:51] dvoytenko commented on #4145
It is confusing. From the looks of it - it doesn't call `changeSize` because the height actually doesn't change. In either case, even if the height decreases it should be allowed below the viewport.

[2016-07-21 17:04] jridgewell opened #4156 "AMP Validator module engines constraint"
We're [saying](https://github.com/ampproject/amphtml/blob/1c4e81d/validator/nodejs/package.json#L6) we only work on node versions `>=0.10.25 <0.11.0`.

[2016-07-21 17:08] jridgewell commented on #4155
👍. I suggested this as well.

Everything in the example is supported by the latest stable node.

[2016-07-21 18:17] pietergreyling commented on #4155
Wrt "I'd like to avoid using ES6 in the examples as long as that is not common practice on NPM."

Can we ensure that we couple compatibility to that of Google App Engine Node.js Flexible env docker image:
https://cloud.google.com/appengine/docs/flexible/nodejs/
https://cloud.google.com/appengine/docs/flexible/nodejs/release-notes
https://github.com/GoogleCloudPlatform/nodejs-docker

I have had to

[2016-07-21 18:29] zhouyx commented on #4145
Yes. What about we change the description to should NOT change size when the height doesn't change, since we already have one test about "should change size when below the viewport"

[2016-07-21 18:33] zhouyx commented on #4145
Also it would be super clear if we could make the test here match the 7 conditions we have for `attemptChangeSize` request in `resources-impl.js`

[2016-07-21 19:27] avimehta commented on #2487
Talked to @rudygalfi offline. Here is what he proposed and I think it makes sense:

### `on = 'hidden'`

[code]

This case is opposite of of `on = "visible"` without any `visibilitySpec`. It is a simple way of firing a hit when a page is about to be hidden.

### `on = 'hidden'`

[code]

This method allows you to use hidden along with other visibility triggers.

Usecase: Advertisers may want to kee

[2016-07-21 19:57] powdercloud commented on #4155
Perhaps to explain these eyesores a bit, the point of the promise is to hide that we are fetching the validator script (from cdn.ampproject.org by default). If the promise fails, then there was something wrong with that. Regardless of the language used, you would probably not want to lump this in with a validation failure. I could see something that is synchronous and static and hides the getInsta

[2016-07-21 20:36] powdercloud commented on #4156
I must have copy/pasted the ^ from somewhere, sorry. Should have read up on semver before. :-)

[2016-07-21 21:19] poscar commented on #3854
Any updates for this one?

We are specifying the secret token in the data-track-id attribute until the data-secret-token attribute actually works...

[2016-07-21 22:00] Gregable commented on #3854
I implemented validation of this new token (your doc validates), I think we still need to implement this in the `<amp-soundcloud>` runtime. Reassigning to @mkhatib

[2016-07-21 22:07] jridgewell commented on #3854
Took it from @mkhatib.

[2016-07-22 00:24] cramforce commented on #4155
@powdercloud I get all your points, but developer experience trumps stuff that is nice with some proto :)

Totally agree that all of this is just a wrapper around your API (can go into index.js or not). Basically just another layer of abstraction on top. I agree with the sentiment of having a low level base, but a lot of people will use this, so we should make it nice.

You also totally don't have

[2016-07-22 00:27] cramforce commented on #2540
Reopening this. Will be out to second half of paternity the next 5 weeks. Yipppeee :)

[2016-07-22 11:26] yask123 opened #4167 "support to show only one item at a time in the carousal."
## How do we reproduce the issue?

To get this view I have defined width/height to the carousal element.  But this doesn't give users much touch area space to swipe and change the image.

Please post a public URL and ideally post a reduced test case. E.g. on jsbin.com that exhibits only your issue and nothing else.

Here is the demo url
[URL](https://peaceful-peak-42190.herokuapp.com/apple-iphone-

[2016-07-22 13:32] kul3r4 opened #4168 "amp-font not working on Safari"
amp-font not working on Safari

## How do we reproduce the issue?

Use Chrome
Go to: [ampbyexample](https://ampbyexample.com/components/amp-font/)
First and third sentences on the example (left of the page) are red

Use Safari
Go to: [ampbyexample](https://ampbyexample.com/components/amp-font/)
First and third sentences on the example (left of the page) are black

## What browsers are affected?

S

[2016-07-22 14:58] cramforce opened #4169 "Add assertions to "ExistingService" functions"
We should retest if the assertions block inlining. At the very least they likely need to be written as a single statement with the `return`.

[2016-07-22 16:30] aghassemi opened #4171 "remove `amp-viz-vega` experiment"
Spec: https://github.com/ampproject/amphtml/issues/3824
- [ ] remove entry from `tools/experiments.js`
- [ ] remove `isExperimentOn` and related code in `amp-viz-vega.js`
- [ ] remove `Experimental` from the MD file `amp-viz-vega.md`
- [ ] remove Toggle Experiment button in `examples/viz-vega.amp.html`

[2016-07-22 17:28] jridgewell commented on #4167
Have you tried the [`type="slides"`](https://ampbyexample.com/components/amp-carousel/#example8) yet?

[2016-07-22 17:31] aghassemi commented on #4152
cc @muxin

[2016-07-22 17:46] #4096 closed

[2016-07-22 17:46] #4093 closed

[2016-07-22 17:50] #4077 closed

[2016-07-22 21:49] powdercloud commented on #4155
@cramforce Thank you! I'm very happy for someone to make a wrapper, especially if it's an optional thing that doesn't complicate index.js. :-)

As for the benefits of the .proto (https://github.com/ampproject/amphtml/blob/master/validator/validator.proto) - I believe the consistency between different languages / formats is useful to anyone, even Javascript developers. E.g. the command line tool su

[2016-07-22 22:00] #3854 closed

[2016-07-22 22:03] jridgewell commented on #3854
@poscar: The fix didn't make the canary this week, so it'll be two weeks before it's released into production. In the meantime, your original example is working (using `data-trackid="252220898?secret_token=s-CYqsZ"`) as a temporary hack. I can't guarantee it'll continue working, though.

[2016-07-22 22:41] poscar commented on #3854
@jridgewell Great, thank you!

[2016-07-23 00:26] cramforce opened #4181 "Reduce image size in sample"
E.g. https://chunkyamp.herokuapp.com/examples.build/img/hero@1x.jpg is wayyy too big. This harms performance profiling as traces tend to be dominated by image decoding.

[2016-07-23 01:05] lannka opened #4183 "<amp-ad> prints console error: No messaging channel: timeout​​​"
To reproduce:
Open [this](https://storage.googleapis.com/cfuertes/Joystick/Joystick.html) and wait about 20s, then check the console.

[2016-07-23 01:07] cramforce commented on #4183
@dvoytenko Do we have a way how we can avoid checking whether there is a viewer? I imagine that should be easy.

[2016-07-23 04:25] dvoytenko commented on #4183
I see. It's an Ad that is an AMP page in a iframe. Currently we assume that any iframed AMP could have a messaging bus. I believe all iframing viewers right now also include `#origin` hash parameter. We can use its presence to determine whether or not we try to establish the messaging channel.

[2016-07-23 04:43] cramforce commented on #4183
Didn't find `origin`, but lets find one that is always present and run with that.

[2016-07-23 04:45] dvoytenko commented on #4183
Yeah, it's not documented since the channel establishment is currently outside of AMP itself. But it's necessary for the handshake.

[2016-07-23 22:02] mdziekon opened #4184 "<amp-sidebar> is scrolling back to the page top on local navigation"
Consider the following Sidebar code:

[code]

As you can see, I'm trying to create a simple "local" page nagivation that would jump between three sections using element ID.
The problem is, that when the sidebar is closed, page returns to the page top (and it clears the browser's URL, by stripping the `#section1` part completely).

I think it's not a behavior that one would expect from this kind of

[2016-07-24 02:17] dvoytenko commented on #4184
@mdziekon This is pretty interesting case. I see why it'd not work right now. `amp-sidebar` pops the history when it's canceled so the navigation is canceled. It's indeed important to pop the history stack to keep it tidy. What we need to figure out is how to defer the navigation after the stack is popped (or the other way around).

/to @sriramkrish85 - I believe this is an important case. Let's d

[2016-07-24 04:46] shimonenator commented on #4080
Please see my comments on #4081 since this broke preloader for horizontal scrolling elements.

[2016-07-24 06:11] antnativo opened #4185 "Trigger window.context.noContentAvailable from external ad script"
Is it possible to trigger the window.context.noContentAvailable() from the external script loaded via loadScript() instead of adding it to the amp-ad code?  If there are not ads served, we would like to trigger this event on our script instead of updating the amp-ad js code.

[2016-07-24 06:53] antnativo commented on #4185
@cramforce Could you answer this?

[2016-07-24 17:32] yask123 commented on #4167
@jridgewell Yes, I have.. But that is not what we want.  We are trying to build AMP pages for Flipkart, thus it should mimic the appearance of the current Flipkart mobile website. Eg:  [iPhone product page url ](https://www.flipkart.com/apple-iphone-6-silver-16-gb/p/itme8dvfeuxxbm4r?pid=MOBEYHZ2NUZGCHKN&lid=LSTMOBEYHZ2NUZGCHKNUJYDRK) (Open in mobile)

[2016-07-24 17:56] dvoytenko commented on #4167
@yask123 Could you please clarify? That page looks like a good fit for `type=slides` carousel: it shows one image at a time and swipes between them.

[2016-07-24 18:20] yask123 commented on #4167
@dvoytenko  Yes thats true. The only difference is that when you swipe image in carousal, the previous image moves sideways  and in slides the next image appears on top of the current image.
Although the difference is minor, it'd be great if we could provide the same experience in AMP page and in our mobile website page.

[2016-07-24 22:49] aghassemi commented on #1377
Currently having author defined scrollable subviews (using overflow) results in buggy behaviour as this is not something the runtime code handles properly but that does not stop page authors to do it ( for example see https://github.com/ampproject/amphtml/pull/4081#issuecomment-234655415 ). IMO, we should get this in the validator soon to avoid setting the wrong expectations.

[2016-07-24 23:42] shimonenator commented on #1377
I've pointed it out in the aforementioned comments on #4081, but would like to elaborate that unlike a nested vertical scrolling container, horizontal scrolling is not a bad user experience. This is to contrast to the original scope of this issue as @rudygalfi has defined it.

Buggy layout for custom elements on horizontal scrolling can be fixed with minimal effort and without performance tolls.

[2016-07-25 00:21] aghassemi commented on #1377
Good point @shimonenator. If we decide to only disable vertical scrollables and allow horizontal (which seems reasonable) we have some work to do to bring layout scheduling to arbitrary sub-layers (such as finding all scrollable areas and attaching scroll handlers to detect user actions, etc..) or introduce wrappers such as `<amp-scrollable>`. https://github.com/ampproject/amphtml/issues/3434 woul

[2016-07-25 07:09] yask123 commented on #4167
Also,  in `type="slides"` , the images inside the` <amp-carousel >` takes the dimension of the amp-carousal.
We wanted carousal to have full width (irrespective of the width of the image), so that the user gets more touch space to swipe the image to view the next one.

[2016-07-25 13:04] cramforce commented on #4185
Yes, it is possible. I think when I reviewed your code originally I
recommended moving as much as possible into your late loaded package, so
you can avoid needing to make changes in the AMP repo.

On Jul 24, 2016 8:53 AM, "Anthony Crawford" <notifications@github.com>
wrote:

[2016-07-25 13:05] cramforce commented on #4183
Ah, right. We should really move that code :)

On Jul 23, 2016 6:45 AM, "Dima Voytenko" <notifications@github.com> wrote:

[2016-07-25 14:52] tdrl opened #4187 "A4A can splice arbitrary code into shadow DOM"
There's a hole in the plumbing of the current A4A implementation that can potentially result in arbitrary code being spliced into the shadow DOM and executed under host page permissions.

Details:

When validating an ad creative, A4A calls `#extractCreativeAndSignature()` [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/amp-a4a.js#L471) to transform the wire-format a

[2016-07-25 16:51] jridgewell commented on #4185
Assigning this to @lannka since @cramforce is supposed (😛) to be on holiday.

[2016-07-25 16:52] dvoytenko opened #4189 "Presubmit task that checks that private vars follow closure styleguide"
Unfortunately, we are following Closure styleguide for private vars. Unless/until we switch, we need an easy presubmit check that we are NOT using `_var` style.

(Eventually, I'd like to switch the whole repo to do this style, pending discussion)

[2016-07-25 16:52] dvoytenko commented on #4189
/to @erwinmombay
/cc @aghassemi

[2016-07-25 17:01] shimonenator commented on #1377
@aghassemi, that sounds reasonable. But may be then entirely disabling horizontal axis in $4081 should not be rushed out the door?

[2016-07-25 17:11] lannka opened #4190 "Refactor and clean up amp-ad examples."
The goal is to simplify contributors' life for adding support for new ad networks.

Plan to:

- Merge `ads.amp.html` and `ads.with.script.html` into one file, as we already fully launched "load amp-ad as extension". So only one file needs to be touched to add examples.
- Sort all the examples in alphabetic order of the ad network name.
- Introduce links to each ad network at the top of the example

[2016-07-25 17:40] antnativo commented on #4185
@cramforce  Thanks. I do remember you indicated that to me and I know our script is appended. But I just wanted to double. Thanks for you help while on Holiday.

[2016-07-25 17:41] antnativo commented on #4185
@jridgewell No need to reassign. Question was answered. You can close it

[2016-07-25 17:43] #4185 closed

[2016-07-25 17:50] aghassemi commented on #1377
@shimonenator #4081 makes the lack of support for nested scrollables more obvious but the behaviour without it is also bad and against AMP principles. Without #4081, **all** resources inside a horizontally scrollable area will start loading after page load **regardless** of whether these resources are in the view or about to come to the view. There was no resource scheduling or pre-loading happeni

[2016-07-25 17:50] dvoytenko commented on #4167
@yask123 The top-level elements in the carousel do not have to be images themselves. You can certainly just stick in a DIV and then place an image inside and layout it as you need. Or, you can use `object-fit` CSS to customize the image sizing.

[2016-07-25 17:52] lannka commented on #1411
All work done.

[2016-07-25 17:52] #1411 closed

[2016-07-25 17:57] Gregable commented on #4078
I'd caution to be careful about being too generic, since `href` attributes are one of the few places in the doc that can be used to run arbitrary javascript via `javascript:` URLs and the like. I think typically as long as you don't allow replacements in the protocol, no problem, but it's unclear if there might be ways to abuse the error handling of various user agent's URL parsing.

[2016-07-25 18:06] shimonenator commented on #1377
@aghassemi, I've actually thought that it was normal that after a delay (to allow clear path for highest priority content), 6-10 would load. The only part of it that I considered as a bug in my work was the fact that when you start scrolling, 6 and 7 don't preload in time before they get in the view.

You guys obviously have a better view into the usage of AMP across different publishers, whereas

[2016-07-25 18:11] shimonenator commented on #1377
In addition, I see that disabling horizontal scrolling was originally slated for v1, as per #1356

[2016-07-25 18:28] sriramkrish85 commented on #4145
@zhouyx yes that would be great, we should also make sure there are tests for edgecases. Assigning this to you!

[2016-07-25 19:35] erwinmombay opened #4191 "amp-fresh"
The cache operates on a stale-while-revalidate model. This means that a document when viewed by a user on the client could be stale as revalidation only happens in the background and effects subsequent page views. While this is acceptable for most content, some sections of a page are critical or sensitive enough that it warrants always having the latest piece of information such as item pricing an

[2016-07-25 20:12] jasti opened #4192 "Add documentation for whitelisting AMP extension usage in amp-ad"
Not all AMP extensions should be allowed in AMP documents that are ads. (for A4A). Create docs to
a) highlight which ones are currently allowed
b) Methodolody behind why an extension is allowed/ denied
c) whitelisting process

[2016-07-25 20:32] #3934 closed

[2016-07-25 20:38] zhouyx opened #4193 "create a scheduleUnlayout method"
It would be nice to call `unLayoutCallback` for owned child element to release resources.

[2016-07-25 20:39] ericlindley-g commented on #4184
+1 on this being an important case to support

[2016-07-25 20:51] aghassemi opened #4195 "pause and resume callbacks should be called after layout finished."
Currently both `pauseCallback()` and `resumeCallback()` can be called anytime after `buildCallback()`, we should change that so they are only invoked after layout is complete. See [PR 4137](https://github.com/ampproject/amphtml/pull/4137/files/34544961928edc20595861ce08d4e9240b25e01a#r72133405)

This involves:
- [ ] `resource.js`: `pause()` and `resume()` should check `ResourceState.LAYOUT_COMPLET

[2016-07-25 23:09] jridgewell opened #4203 "Forbid Array Destructuring in Params"
We forbid assignments, but allow params. That's just as bad.

[2016-07-25 23:16] erwinmombay commented on #4203
yep, was going to mention it lol. thanks for filing

[2016-07-26 00:15] #4095 closed

[2016-07-26 01:00] dvoytenko commented on #4195
It'd be more complicated. Basically, a `pause` should most likely:
 - Ignore if not built
 - Ignore if not laid out and no layout is currently in progress
 - Wait for layout to complete if in progress and then call pause. Alternatively, it could interrupt layout and just go straight to pause state. The interruptions, though, pretty hard to do generically to avoid broken/unexpected state.

[2016-07-26 04:09] shimonenator commented on #4167
@dvoytenko, this could be another example where a `<amp-scrollable>` paired with css snap points is a more flexible choice.

[2016-07-26 04:30] ymotongpoo opened #4207 "Aspact ratios in amp-carousel are breaking on Safari 7.0"
## Short description of your issue:

On Safari 7.0 on iOS 7, amp-carousel doesn't respect the aspect ratios of images in it. Even if amp-img is specifying attributes for sizes, it is expanded to fit the size of the frame of amp-carousel. Though technically Safari 7.0 is not supported as of today, just raising this issue for information.
## How do we reproduce the issue?
1. Access [sample of amp-ca

[2016-07-26 05:59] #3169 closed

[2016-07-26 06:47] amoad-amoe opened #4208 "add support for AMoAd NativeAd to amp-ad"
Our ad support has just been added to amp-ad. https://github.com/ampproject/amphtml/pull/4084

We have also "native ad" service, so we'd like to enable it. So update the document and implementation is needed.

[2016-07-26 14:53] keithwrightbos opened #4212 "A4A 3p iframe stuck with visibility hidden when invalid/missing signature"
## Short description of your issue:

A4A requested, non-AMP verified creatives potentially never reset visibility hidden set via AmpAdApiHandler#startUp.  Visibility is reset when render-start postMessage is received however currently this is done from within 3p code for all but doubleclick requests.  Presumably the idea is that we want iframe to be hidden until after the network specific, draw3p

[2016-07-26 14:56] julien51 commented on #1797
Sorry for the delay,
The problem with scroll based events is that they become "too rare" when the document is large enough and we will "miss data".

We need to have a TTR event pushed to us every 30 seconds if there has been any scroll in that time frame, otherwise we consider the user inactive. If reading the document takes more than 10 minutes, at least one 5% increment will be triggered more th

[2016-07-26 16:15] jridgewell commented on #4207
@dvoytenko: I remember you worked with aspect ratios in `<amp-carousel>` before, right?

[2016-07-26 16:45] #4190 closed

[2016-07-26 17:03] lannka commented on #4208
@amoad-amoe feel free to open another PR for "native ad" support. Let me know if you see things missing in AMP to support that.

[2016-07-26 17:22] hashikell commented on #4208
Sure. Thanks!

[2016-07-26 17:24] Gregable opened #4216 "Allow <button formtarget="_blank/_top">"
We allow `target=_blank/_top` on the enclosing `<form>` tag, so we should allow `formtarget on enclosed buttons as well.

[2016-07-26 17:27] amoad-amoe commented on #4208
Thanks, @hashikell!

[2016-07-26 17:28] jridgewell commented on #4212
This'll show the iframe before it's ready though. Why aren't these calling `draw3p`?

[2016-07-26 18:24] dvoytenko commented on #4207
No, haven't seen this case. Generally we only support Safari 8 and 9 (and 10). Do we have Safari 7 handy somewhere to test?

[2016-07-26 18:26] keithwrightbos commented on #4212
The A4A flow handles non-AMP creatives (or those whose signature was not valid or those) and AMP creatives where browser does not support shadow DOM (e.g. Safari) by rendering within an iframe where the src equals the ad url (response has short cache lifetime).  It never calls the draw3p path as the ad url is constructed via JS within the extensions.  So, when we attach the iframe the creative is

[2016-07-26 19:03] zhouyx commented on #3831
with the `render-start` event from ad-server, it is possible to add a loading animation for ad when loading. What's our plan for this feature?  two main concerns:

1. we would still need to deal with the issue

2. Not all ads support the `render-start` event, which makes the behavior differs on different ad type.

[2016-07-26 20:16] #4128 closed

[2016-07-26 20:29] mkhatib opened #4218 "YouTube messages sometimes sends parsed data"
`event.data.indexOf` is throwing error in canary because `event.data` seems to be already parsed into an object.

cc/ @sriramkrish85

[2016-07-26 21:11] jasti opened #4220 "Publisher/ Advertiser feedback for AMP Landing Pages"
This is a place holder issue to consolidate all feedback about AMP Landing Pages.

[2016-07-26 21:34] sriramkrish85 commented on #4218
CC @erwinmombay

[2016-07-26 21:52] lannka opened #4221 "Some improvements to the gulp build configuration"
**Speed**
As we're continuously adding more extensions, the gulp build speed becomes slower and slower. As of today, it spends ~30 seconds to compile the core and all the extensions.

Solution: We can adopt things like [gulp-newer](https://www.npmjs.com/package/gulp-newer) to only re-compile modified files.

[code]

**Examples.build**
Currently we process all example HTMLs (under `examples/`) into

[2016-07-26 21:55] erwinmombay commented on #4221
@lannka haven't tried it but would be awesome if it works!

[2016-07-26 21:58] erwinmombay commented on #4221
second one sounds like it should work too and should be pretty easy to implement. will have to check how much faster it is

[2016-07-26 22:03] lannka commented on #4221
The 2nd one doesn't improve a lot on speed.
It is simple string replacement so it's pretty fast already. But it does simplify the gulpfile a lot, and it avoids the need to touch gulpfile for every new example we introduce on the way.

[2016-07-26 22:12] mkhatib commented on #4218
This error was happening because YouTube sometimes seem to be sending objects and some other times sending strings. Possibly hitting a YT Player experiment. Updated the code and test case to handle both cases.

[2016-07-26 22:45] #4218 closed

[2016-07-26 23:05] erwinmombay opened #4225 "move getModeObject to getMode"
currently the AmpPass DCE for getMode explicitly check that it is `mode.getMode`, the qualified name when invoked inside the mode module itself is different so it does not get optimized

[2016-07-26 23:49] dvoytenko opened #4226 "Cleanup `amp-access-signin` experiment"

[2016-07-26 23:51] dvoytenko opened #4227 "Intent to implement: signin protocol for AMP Access"
A sign-in protocol is the protocol that will allow a viewer to potentially participate in sign-in operations for AMP Access login endpoint. This is a strictly user opt-in feature where a user may elect to use their viewer login to access AMP content.

[2016-07-27 00:00] #4121 closed

[2016-07-27 00:01] erwinmombay opened #4229 "July 25, 2016 Meeting Notes"
2016-07-25

@ericlindley-g
- Bootstrap work/UX

@erwinmombay
- Prepend-global task fixes
- Worked on fixing type issues in xhr code

@sriramkrish85
- Fixed prod bug, triaging issues
- Autoplay feature for carousel

@jridgewell
- Waiting for a green build to merge Service Worker #4037
- Submitting indexed-db-as-promised for open source code review

@lannka
- Merged final PR for amp-experiment work

[2016-07-27 01:20] muxin opened #4231 "Create scrollable carousel that use a scrollable pane"
- Create an experiment `amp-scrollable-carousel`, if the experiment is on, normal `amp-carousel` will be a scrollable pane
- Listen on scroll events instead of touch events

related: #3602 #2019

[2016-07-27 01:25] muxin opened #4232 "remove `amp-scrollable-carousel` experiment"
Remove `amp-scrollable-carousel` experiment and guard

[2016-07-27 04:11] lannka commented on #4029
Instead of sending the new Base CID in a second message, we can also send it as the payload of the first message. This way:
- saves one round trip of window.sendMessage in case viewer doesn't have base CID yet
- as an exchange, adds the cost of generating random base64 to every getBaseCid() call, even when viewer has base CID.
- simplifies code (no nested promises)

@peleyal how does this sound?

[2016-07-27 13:18] peleyal commented on #4029
SGTM.
I like that it saves a round-trip of window.sendMessage.
I don't like that we will generate it anyway... how expensive is it?

How many times we expect the runtime to ask for a clientid?
If I understand correctly it will happen only once, which is why sending and generating it anyway is a good idea.

Let me know.

[2016-07-27 16:02] yieldmo-rao opened #4238 "Request: window.context is accessible from within a DFP iframe context"
Our formats rely on the APIs provided by `window.context`, such as the intersection observer API, to do some internal processing. Without access to the APIs provided by `window.context`, we cannot serve our formats on a page.

Currently, when we are served through DFP, `window.context` does not exist within the context of DFPs iframe. Accessing `window.parent.context` results in a security excepti

[2016-07-27 16:10] dvoytenko commented on #4238
/to @lannka

[2016-07-27 16:12] yieldmo-rao commented on #4238
@ampproject/ads any chance you folks came across use cases wherein you needed access to `window.context` when serving through DFP?

Also, in the event that a network works as a mediation partner (and this might be a topic for a separate thread/issue), would standardizing passing around the `window.context` reference make sense?

[2016-07-27 16:16] jasti commented on #4238
@yieldmo-rao #3019 is being actively worked on to solve this issue. Let us know if that satisfies your usecase?

[2016-07-27 16:32] yieldmo-rao commented on #4238
@jasti #3019 looks like it covers most use cases (assuming that `intersectionObserver` emulation is information apropos the top level document, and not one of the sub-documents. However, I see that `isMaster` will not be supported. We currently don't use it, but were planning to add support for it (to help with optimization and other data sharing amongst our formats).

So from my understanding:

I

[2016-07-27 17:16] #4187 closed

[2016-07-27 18:11] lannka commented on #4029
Good question. My originally thought was that we cache base CID at our side once retrieved from viewer.

However, after taking a close look, I found something confusing. ([code](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/cid-impl.js#L252)).

Assume a user visited several amp pages served from cache, the code implies the following behavior.

**1st visit:**
User v

[2016-07-27 18:19] jasti commented on #4238
Dicussed with @lannka  and were wondering if AMP could provide a single postMessage API for all creatives. @nekodo thoughts please?

[2016-07-27 19:02] pbakaus opened #4242 "Validator: Support "skype:" and other custom protocols"
[code]

Is a link appearing on many pages (including mine), and the validator doesn't like it.

[2016-07-27 19:51] Gregable commented on #4242
Dupe of https://github.com/ampproject/amphtml/issues/4094 . The fix is in but not yet made it to release.

[2016-07-27 19:51] #4242 closed

[2016-07-27 20:42] pbakaus commented on #4242
Ah great thanks!

[2016-07-27 20:54] #3976 closed

[2016-07-27 21:12] #4014 closed

[2016-07-27 21:26] #4203 closed

[2016-07-27 21:40] uncompiled opened #4246 "amphtml-validator CLI fails on Mac OS X"
When running amphtml-validator from the command line on Mac OS X, the following error occurs:

[code]

## How do we reproduce the issue?

1. On a Mac, run `npm install -g amphtml-validator`
2. Run `amphtml-validator https://www.ampproject.org/`

readlink behaves differently on a Mac, so [index.sh](https://github.com/ampproject/amphtml/blob/master/validator/nodejs/index.sh#L11) fails.

A workaround

[2016-07-27 21:46] dvoytenko commented on #4246
/to @powdercloud

[2016-07-27 23:08] lannka commented on #4029
Talked to @dvoytenko. It's working as intended.
- In frame embed mode (in a viewer), AMP runtime have limited local storage access (iframe limitation), so it has to let viewer to do it.
- In non-embed mode, AMP runtime will create a different ID. This ID will be used for all later visits, even in a viewer, because it is considered more universal (available in different viewers).

@dvoytenko correc

[2016-07-27 23:20] dvoytenko commented on #4029
@lannka Yes. Correct.

RE:reducing number of post messages

My initial sense is that generating base CID for each impression would be more expensive than a post-message roundtrip. Also, we need to look at how likely the second roundtrip would actually be needed. It sounds like it's only needed very rarely.

[2016-07-27 23:25] lannka commented on #4029
To answer @peleyal's question:
- unfortunately in viewer mode, it will ask for base CID for every page view.
- Speed wise, I don't have the number yet. Basically it runs through 2 functions, `crypto.getRandomValues()` and `window.atob()`. They're both browser native function, so I assume it's pretty fast. Anyone has experience on it?

The 2 round-trip solution has some other things we need to cons

[2016-07-27 23:38] dvoytenko commented on #4029
That's ok. But there's something we can do about it. Since we now always generate CID, we can always try to store it. It won't always work - but when it does - we win on a roundtrip to viewer.

At least `getRandomValues` works on a separate thread, so we are doing context switching anyway.

I think our behavior should be the same. If for any reason we couldn't get Base CID from viewer, we need to

[2016-07-27 23:52] lannka commented on #4029
I've created a snippet for `getRandomValues + btoa`, run it [here](https://jsfiddle.net/b649kaf7/3/).
On my desktop, it's `15ms` for `1000` sequential runs. `avg = 0.015ms`.
On my nexus 6, it's `72ms` for `1000` sequential runs. `avg = 0.072ms`.

I think it should not be a concern.

[2016-07-28 06:42] cramforce opened #4253 "Polish: Propagate controls to amp-video in pre-rendering"
Currently we set only the poster image during pre-rendering, but no other attributes on the video element. We should consider switching to also propagating the `controls`. That way the initial display of the element is closer to the final display.

The current behavior is kind of disruptive. It can be seen on any pre-rendered AMP file from CNN.

CC @mkhatib @rudygalfi

[2016-07-28 09:57] nekodo commented on #4238
That is what #3019 is about. I have already added a postMessage API for IntersectionObserver and page visibility and have PRs outstanding for resize and remaining context metadata (e.g. URLs). There is, by necessity, a little work required from the ad provider to pass some data to the creative, we already did that work for Glade for DFP. Basically, the postMessages are accepted by the AMP runtime

[2016-07-28 11:07] rowan-m opened #4255 "<amp-list> renders content in wrong location"
## Short description of your issue:

Using `<amp-list>` to insert `<tr>` inside a `<table>` will actually result in the `<amp-list>` rendering before the `<table>` tag. It should either render within the table or provide an error.

[code]
## How do we reproduce the issue?

https://merewood.org/amp-list-transform.html#development=1
## What browsers are affected?

Chrome, Samsung browser, probably a

[2016-07-28 15:15] yieldmo-rao commented on #4238
Thanks for that explanation, @nekodo . I think I might still have a gap in my understanding. From what I've got till now (and also by reading #3019), the logic flow will look something like this (subject to change based on how the #3019 proposal shapes):

if `window.context && window.context.amp3pSentinel`, we are top level, code on page (not served via some other ad server), and we use the postMe

[2016-07-28 15:27] nekodo commented on #4238
Roughly yes, with the following exceptions:

- ampContext (the new JS API) will need to be loaded using a separate script included by the creative.
- All the functionality of ampContext will also be accessible through sending postMessages to AMP runtime directly without a need to load extra scripts.  This is already supported for IntersectionObserver and page visibility, and will be coming soon fo

[2016-07-28 15:31] yieldmo-rao commented on #4238
Ha! Fair enough. Thank you very much, @nekodo, for the explanation! Thank you other folks as well - I'm happy to close this ticket if y'all are okay with it, since #3019 is tracking this.

[2016-07-28 15:40] jridgewell opened #4256 "Test resize postMessage is sent to ad"
We have a bug in our resize implementation for ads. When the ad requests a resize, it will attempt to resize but never send a `#postMessage` back to the ad telling it whether the resize succeeded or failed.

The bug will be fixed with #4236, but we need a test.

Re: https://github.com/ampproject/amphtml/pull/4236#discussion_r72488228
Re: https://github.com/ampproject/amphtml/commit/31ebe77de14f501

[2016-07-28 15:42] ericlindley-g commented on #4255
@dvoytenko passing to you for triage, as I think you've done the most work on amp-list

[2016-07-28 15:42] ericlindley-g commented on #4226
@dvoytenko Putting into "pending triage" for now, but please update if there's a clear picture of what milestone this goes into

[2016-07-28 15:47] ericlindley-g commented on #4193
@zhouyx can this be closed, or are there outstanding tasks?

[2016-07-28 15:48] ericlindley-g commented on #4169
@dvoytenko Slotting into "Pending Triage" for now — please update when you have a sense of what concrete milestone it belongs in

[2016-07-28 15:50] ericlindley-g commented on #4119
@muxin  — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 15:50] jridgewell commented on #4029
And how fast would a second `#postMessage`  be if it were needed? I think this is going to be faster than generating a throw-away cid for the normal case.

Definitely on the same thread.

We could just have the viewer send a message back and have it wait for the response before sending back the original?

[2016-07-28 15:53] ericlindley-g commented on #4156
@powdercloud  — can this be closed?

[2016-07-28 15:53] ericlindley-g commented on #4171
@aghassemi   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 15:54] ericlindley-g commented on #4168
@sriramkrish85   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start on a fix. Thanks!

[2016-07-28 15:58] ericlindley-g commented on #4183
@dvoytenko   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start (or pass to the person doing the work, to update :)   Thanks!

[2016-07-28 15:59] ericlindley-g commented on #4189
@erwinmombay   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 15:59] ericlindley-g commented on #4147
@lannka   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:04] ericlindley-g commented on #4146
Excited about this one—will mean less trepidation around features that could use i18n :)

@aghassemi, I'm slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:04] ericlindley-g commented on #4145
@zhouyx   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:05] ericlindley-g commented on #4191
@erwinmombay   — Calling this "Current", but please update if that's not quite right. Thanks!

[2016-07-28 16:06] lannka commented on #4029
Didn't quite understand this part. Could you expand?

The point I wanted to make is: having 2 round-trips complicates the APIs and logic at both sides (viewer and runtime). And I think `< 0.1ms` is a neglect-able cost to pay for it.

[2016-07-28 16:06] ericlindley-g commented on #4184
@sriramkrish85   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:07] ericlindley-g commented on #4195
@aghassemi   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:08] ericlindley-g commented on #4216
@Gregable   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:09] ericlindley-g commented on #4192
@lannka   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:11] ericlindley-g commented on #4220
@jasti Putting this in the Backlog to indicate that it's been triaged, which I think makes sense, since this gathers future work that isn't yet scheduled for the near term. Let me know if there's a better place for it :)

[2016-07-28 16:13] ericlindley-g commented on #4221
@lannka Looks like this is in progress, so moving to "Current", but please update if that's not quite right. Thanks!

[2016-07-28 16:14] ericlindley-g commented on #4225
@erwinmombay   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:16] ericlindley-g commented on #4231
@muxin  This looks like it belongs in "Current", but please update if that's not quite right. Thanks!

[2016-07-28 16:17] ericlindley-g commented on #4232
@muxin  — Seems like this goes in "Next", but please update if that's not quite right. Thanks!

[2016-07-28 16:19] ericlindley-g commented on #4246
@powdercloud   — Slotting in "pending triage" for now. please update the milestone when you have a sense of when work will start. Thanks!

[2016-07-28 16:32] jasti commented on #3817
@zhouyx in light of your new PR, here is a lo-fi version of how was thinking this should work overall. I'll make a better version tomorrow, but wanted to get this out for your feedback.
![img_0470](https://cloud.githubusercontent.com/assets/2366341/17220893/5ada5c9a-54bf-11e6-8459-fcf39fdade8f.JPG)

@lannka @jridgewell FYI.

[2016-07-28 16:41] jpettitt commented on #4111
@cramforce I love A4A, however we don't have any expectation that A4A creative will be around in volume any time soon.  In the mean time all of our pubs have a slow, above the fold, 320x50 ad unit.  you can see the problem on other sites too: nbcnews.com, independent.co.uk, businessinsider.com, telegraph.co.uk all have the same issue.  Allowing us to request that one ad be prioritized still won't

[2016-07-28 16:42] #4253 closed

[2016-07-28 16:50] #4156 closed

[2016-07-28 17:23] tdrl commented on #3817
In the wake of Dima's PRs to make A4A upgrade-compliant and Keith's
followup, A4A *should* implement the same fallback behavior as 3p-impl at
this point, at least for ads rendered via the iframe fallback path.  I
think we'll need to examine behavior for the shadow DOM rendering path.

On Thu, Jul 28, 2016 at 12:33 PM, Vamsee Jasti <notifications@github.com>
wrote:

--
Terran Lane   email: tdrl@goo

[2016-07-28 17:32] Gregable commented on #4094
This is now live everywhere.

[2016-07-28 17:32] Gregable commented on #3749
This is now live everywhere.

[2016-07-28 17:46] jridgewell commented on #4029
The `getBaseCid` waits for a response from the viewer. If the viewer doesn't want to generate the cid, it can send `generateBaseCid` to AMP. AMP will then respond with `generatedBaseCid` back to the viewer. Viewer then uses the response from `generateBaseCid` to respond to `getBaseCid`. (Naming all up for debate here)

Why ask for a cid if AMP will just generate it in the request? It just seems wr

[2016-07-28 18:07] lannka commented on #4029
That is exactly what I called "complicated protocol and logic".

I don't see anything wrong here. It's a very common protocol: `getOrCreate()`
If you have doubt, we used in everywhere in AMP, the `getService(serviceId, factory|object)`. Though you can argue in most cases we passed a factory which is lazy called.

[2016-07-28 18:20] #3589 closed

[2016-07-28 18:21] jridgewell commented on #4029
Also, don't we sha384 the cid, not `btoa`? https://jsfiddle.net/b649kaf7/5/

[2016-07-28 18:24] dvoytenko commented on #4029
@jridgewell Good point. It's indeed sha384.

[2016-07-28 18:32] lannka commented on #4029
Didn't notice that. But why do we take a random number and then hash it? According to the documentation, `getRandomValues()` is a good enough source for randomness.

[2016-07-28 18:41] zhouyx commented on #4256
I am trying to understand the message flow here. Please correct me.

1.  AmpAd calls `attemptChangeSize`
2. Resources determines to resize or not
3. If resize, AmpAd size changes, AmpAd.iframe size also changes and it will send `embed-size' data to AmpAd
4. AmpAd listen to `embed-size` and call `updateSize_` to `postMessage` to AmpAd window.

[2016-07-28 18:51] zhouyx commented on #4193
#4233

[2016-07-28 19:02] muxin commented on #4119
OK

[2016-07-28 19:12] jridgewell commented on #4256
Hm?

`<amp-ad>`'s `<iframe>` should send `embed-size`. The iframe will then resize, and wait for the amp-ad to resize. Once the amp-ad resizes (or refuses), it sends an `embed-size-changed` or `embed-size-denied` to the iframe.

[2016-07-28 19:47] zhouyx commented on #4256
Much clear now. The test we want to add is see if amp-ad really sends the `embed-size-changed` or `embed-size-denied` message back to iframe after `updateSize_` is called

[2016-07-28 19:49] jridgewell commented on #4256
Yup.

[2016-07-28 20:12] #4193 closed

[2016-07-28 21:30] Gregable commented on #4216
Work is already done and will be in the next validator roll-up.

[2016-07-28 21:52] #4035 closed

[2016-07-28 22:09] powdercloud commented on #4246
Thanks much for saying hi and reporting this. Sorry I've never used a Mac, that's why this happened.

We should to make this portable. Two ideas:
- Use this recipe to implement a readlink -f substitute shell function: http://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac
- Use the Node.js interpreter since it comes with a nice fs package, so it ought to

[2016-07-28 22:46] lannka commented on #3815
Discussed with @jasti, just as how we normally pass `amp-ad` attributes into the 3P iframe via URL fragment, we can just pass this particular piece of data in the same way.

For example: `data-amp-container-element="amp-sticky-ad"`

We can maintain a list of ad container elements, so that only elements in the list will be passed through.

Once this data is available in the iframe, it's the 3P JS's

[2016-07-28 23:09] lannka commented on #3953
Seems the work is done.

[2016-07-28 23:09] #3953 closed

[2016-07-28 23:13] lannka commented on #4022
Seems work is done.
For the follow up work that to make use of this event, we can open new issue to track.

[2016-07-28 23:24] lannka commented on #4109
Did the fix work? Is it time to close this issue?

[2016-07-28 23:36] lannka commented on #4238
Good discussion :-). I learned as well.
Closing it for now, since I don't see any further action item in this thread now.

[2016-07-28 23:36] #4238 closed

[2016-07-28 23:40] lannka commented on #4122
Would that affect existing users?

[2016-07-28 23:49] amphtml-team commented on #4109
Yes
On Thu, Jul 28, 2016 at 4:25 PM Hongfei Ding <notifications@github.com>
wrote:

[2016-07-29 00:27] tdrl opened #4264 "Intent to Implement: Format Specification and Validation Rules for A4A Ad Documents"
# Motivation

[A4A](https://github.com/ampproject/amphtml/issues/3133) (AMP Ads for AMPHTML Pages) is a mechanism for rendering fast, performant ads in AMP pages. To ensure that A4A ad documents ("A4A creatives") can be rendered quickly and smoothly in the browser and do not degrade user experience, A4A creatives must obey a set of validation rules. Similar in spirit to the AMP format rules, A4A c

[2016-07-29 00:45] muxin commented on #4122
Yeah. The idea is to let people use sticky-ad and amp-ad instead.

[2016-07-29 01:32] michaelkleber commented on #3815
That sounds great in a 3p world.  In an a4a world (#3133), the ad request is constructed by contributed code and it would need access to the same information, but I presume that whatever utility function you use to populate the value of the `data-amp-container-element` property would be available for us to call in a4a JS.

The use case is that an ad network might want to adjust what ads it serves

[2016-07-29 08:06] RonanDrouglazet commented on #4109
Yes it works perfectly !! Thanks a lot

[2016-07-29 09:52] powdercloud commented on #4246
I posted a PR which uses the second approach. Thanks in advance for any feedback. The action item that remains is to verify this fix works on a Mac.

https://github.com/ampproject/amphtml/pull/4269

[2016-07-29 11:53] sebastianbenz opened #4272 "amp-form: Submit Form on Input Change"
Currently forms require a separate submit button, would be great if it'd be possible to omit the submit button if the form contains a single checkbox. Each click on the checkbox would then trigger an XHR request.

This would enable implementing favorite/bookmark actions directly in AMPs with amp-form.

Example:
[code]

//cc @mkhatib

[2016-07-29 16:08] keepitsimple opened #4273 "Document that 'amp-social-share' may appear as a descendant of tag 'amp-sidebar'."
Subj

[2016-07-29 16:08] aghassemi opened #4274 "[amp-lightbox]: Enable scrollable lightbox"
Enable lightbox content to be optionally scrollable  `<amp-lightbox scrollable>`

[2016-07-29 16:13] dvoytenko commented on #4274
This is a dupe, I believe. /cc @sriramkrish85

Previously I decided not to pursue the fix for this because it was way to expensive. Would be great if we find a good solution. But heads up for now.

[2016-07-29 16:16] dvoytenko commented on #4273
/cc @sriramkrish85 @mkhatib @powdercloud @Gregable

Indeed. This seems like a very clear case to include social-share in a sidebar. Is this just a a change that needs to be done to validator?

[2016-07-29 16:19] sriramkrish85 commented on #4273
@Gregable @powdercloud This already existed. This was broken at some point due to a bad merge from validator.

@mkhatib - can you followup on this.

[2016-07-29 16:57] lannka commented on #4029
The thread is quite long now, let me try to summarize.

In the case viewer doesn't have a CID yet, we are choosing among the following protocols:
1. runtime sends `get-cid` to viewer. viewer returns `null`. runtime send `store-cid` with a newly generated cid. viewer returns the stored cid
2. runtime sends `get-cid` to viewer. viewer sends `generate-cid` to runtime. runtime generates CID and return

[2016-07-29 16:58] rudygalfi commented on #1992
Seems like this is stale and can be closed out.

[2016-07-29 16:58] #1992 closed

[2016-07-29 17:07] ericfs commented on #4029
We have 2-way communication [sendMessage()](https://github.com/ampproject/amphtml/blob/master/src/service/viewer-impl.js#L940) can return a Promise which will contain the response from the viewer.

[2016-07-29 17:09] ericfs commented on #4029
From the Viewer side, either a 1 step or 2 step protocol is fine. The handlers will be simple in either case. The one step approach just means there's one less message to document.

[2016-07-29 17:10] Gregable commented on #4273
Sure, it's an easy validator change. The diffs are a little confusing when trying to sort through the archaeology as to why this happened. On the plus side, we've beefed up our tooling for validator merges and this should be less likely in the future. Will get it fixed and add an explicit test to avoid regressing again.

[2016-07-29 17:23] redSlug commented on #4029
lannka, do you mean the runtime sends a post message to the viewer with 'cid' as the message name? I'm not if you are suggesting that 'get-cid' should be sent. From the perspective of an AMP Lite viewer I believe it would make sense to keep the strings as short and concise as possible to reduce bytes.

With regards to the protocols, from an AMP Lite perspective I would prefer option 3) because it

[2016-07-29 17:29] lannka commented on #4029
I meant `cid`, `get-cid` was to present the meaning.

[2016-07-29 17:39] powdercloud commented on #4246
Thanks for your help @uncompiled.
version 1.0.10 with the fix pushed to npmjs.com.

[2016-07-29 17:39] #4246 closed

[2016-07-29 17:40] powdercloud commented on #2498
The Node.js API and command line tool for the validator is published here:
https://www.npmjs.com/package/amphtml-validator

[2016-07-29 17:40] #2498 closed

[2016-07-29 17:43] powdercloud commented on #1694
Both the webmaster console error reports for AMP and the open source validator have improved quite a bit since this bug was opened. So I'll take the liberty and close it and please come back and file a new issue where specific problems remain. Thanks in advance.

[2016-07-29 17:43] #1694 closed

[2016-07-29 17:47] jridgewell commented on #4029
In the end, we're talking about the difference between:

[code]

[2016-07-29 17:49] #4109 closed

[2016-07-29 18:20] dvoytenko commented on #4029
@lannka The 0.1ms will change however if we (a) we continue to use sha384 and (b) we late-load it as we plan to do in the future, right?

[2016-07-29 18:24] alf7 commented on #4029
Just my $0.02: From the viewer perspective, I'm not a fan of (2) sending a request back to get fulfil another request. Either (1) or (3) seem fine and keep the API calls much simpler.

[2016-07-29 18:35] lannka commented on #4029
@alf7 (2) has problems like I listed before:

That's to say, if for any reason viewer failed to retrieve a base CID, runtime will call `storeBaseCid()`. Then viewer will blindly override the previous base CID?

@dvoytenko you're right, it will be pretty bad for us to late load sha384 lib for every page view on legacy browsers. However, I had this question before, why do we use sha384 on a good ran

[2016-07-29 18:42] jridgewell commented on #4029
That's (1), right?

We probably don't need to sha384 values from `Crypto#getRandomValues`.

I left it out for both options, since it'd be the exact same.

[2016-07-29 18:48] dvoytenko commented on #4255
/cc @Gregable

This is an interesting case. Basically, as we operate on the constructed DOM, there's no way for `amp-list` to determine that it's inside the `<table>` tag as the element itself is outside of it. I think as a first step we need to recognize this fact by disallowing `amp-list` to be directly inside `<table>` and `<tr>` elements.

[2016-07-29 18:55] jonnyasmar opened #4277 "amp-social-share Displaying incorrect SVG icons on iOS8"
When using the amp-social-share extension, every button is rendered exactly as the first defined amp-social-share element on the page (in my case, they all appear to be a facebook button).

Making any sort of change to the amp-social-share element using Safari's inspector, causes it to re-render with the correct image and background color.

This appears to be only affecting iOS 8 devices on both S

[2016-07-29 18:56] tdrl opened #4278 "Dynamic extension insertion end-runs around gulp server rewrite rules"
The `gulp` server offers a [document proxy mode], in which a local dev copy of the JS source is served for the AMP resource requests for a third-party page.  Unfortunately, it appears that dynamically-loaded extensions (such as `amp-ad`) are not covered by this mode, making it more difficult to debug them.

## How do we reproduce the issue?

- Open debug console.
- Load http://localhost:8000/max/d

[2016-07-29 19:23] Gregable commented on #4255
We don't have a disallowed_parent mechanism at the moment, so I'm trying to figure out how to quickly test how much breakage this would cause.

How would this work in the given example? Presumably the tag would need to be inside the `<table>` in order to repeat the rows, no?

[2016-07-29 19:38] rudygalfi opened #4279 "amp-analytics `click` not picking up amp-video player controls"
## Short description of your issue:

We are using the “adobeanalytics” template and setup to track the clicking of <amp-video> id=testvideo.
But the click tracking is not working the way we want.  The view screen (green area) click is tracked with our setup, but the view screen click doesn’t start the video.  We want to track the video control bar (red area) click, but we could not find a way to c

[2016-07-29 19:40] rudygalfi commented on #4279
/to @avimehta

Is this caused by video controls being in shadow DOM? If so, can we get at click events in spite of that?

[2016-07-29 19:40] Gregable commented on #4255
I see, you would modify this to be something like:

[code]

In practical terms, the validator can detect this currently, but it's only able to do so because our html parser has a bug that doesn't cause it to serialize the tag stream the same way the browser does in this case.

I am a little hesitant to add a validation constraint that requires the validator to parse HTML incorrectly. We may later

[2016-07-29 19:54] dvoytenko opened #4281 "Common Base64 encode/decode"
We need a single reusable set of a APIs for dealing with base64 in AMP. All uses of `btoa` and `atob` should migrate this API, as well as a bunch of other self-made base64 routines.

The API:
 1. Should contain two methods to encode and decode base64 content.
 2. Support two char modes: classic and url-safe.
 3. Support two padding modes: padding and no-padding. I believe any self-respecting base6

[2016-07-29 19:55] rudygalfi commented on #1082
Just combing through old issues and was wondering about addressing this?

It seems low priority but let me know if anyone disagrees.

[2016-07-29 19:56] mkhatib commented on #4272
Thanks for filing. I can see how this is useful. Will look more into this and see how we can introduce this.

I can see this might be also done by having two submit buttons and toggling visibility of each to favorite or remove from favorite. Any idea if a `checkbox` is what publishers are already using to implement a similar functionality?

[2016-07-29 19:58] rudygalfi commented on #3269
Closing this out as a duplicate of #1298, which is being worked on currently. Please take a look and let us know if that won't address the issue raised here.

[2016-07-29 19:58] #3269 closed

[2016-07-29 20:09] jasti commented on #4122
I doubt if many people use it already. @muxin are we throwing some sort of console message to ask users to use amp-sticky + amp-ad instead?

[2016-07-29 20:12] ericfs commented on #4029
Will the runtime will be checking and updating the last accessed time like it does here:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/cid-impl.js#L245

If it does, then I think we need two steps since it will need to check the timestamp and then update it.
The viewer could also be responsible for this in which case.

It depends how we define the API, we could allo

[2016-07-29 20:32] tdrl commented on #4281
Just a heads-up that we have some base64 code in A4A.  It needs to be URL-safe, but we only have to handle a couple hundred bytes at a go (for crypto signatures).

[2016-07-29 20:41] dvoytenko commented on #4029
@lannka I believe sha384 was used for legacy browsers without `Crypto.getRandomValues()` it does things like
[code]

I agree that when `getRandomValues()` is available - we can bypass sha384 and just use base64, which is, of course, a lot faster.

So, the bottom line is how fast can we make the legacy case? And how exactly the latency of late-loading sha384 will hurt us here.

[2016-07-29 21:15] lannka commented on #4029
@ericfs That does resolve my concerns if you agree to refactor the current viewer side implementation to reject the promise on failures.

@dvoytenko `crypto.getRandomValues()` has [much wider browser support](http://caniuse.com/#feat=getrandomvalues) than `crypto.subtle`. In case it's not available, I think we can just use the `Math.random()` multiple times to provide enough entropy. No sha384 nee

[2016-07-29 21:15] zhouyx opened #4283 "sticky-ad: use of ad `render-start` promise"
Follow up work for #4022

[2016-07-29 21:56] dvoytenko commented on #1082
They've been in `nolayout` for some time. I'm afraid we can't change them back now.

[2016-07-29 22:16] dvoytenko commented on #4277
/to @mkhatib

[2016-07-29 22:18] dvoytenko commented on #4255
Putting `<table>` inside `amp-list` kind of defies its purpose. Basically, currently `amp-list` doesn't work with `<table>`. We are considering a separate `<amp-render>` element that would just allow the author to do their own iteration inside which would allow all this.

And, yes, I totally see your point. This is really an annoying part of html parsing.

How about this instead: can we ban `<tr>`

[2016-07-29 22:19] dvoytenko commented on #4255
I mean direct children, not deep inside `<template>`.

[2016-07-29 22:27] lannka commented on #4029
I know we already had 3 options. But I still think it's worth to add another one from @dvoytenko :

API will be the same as option 3, which accepts an optional `idToStore` in the payload.
Runtime first calls the API with `idToStore=null`. If it returns `null`, then calls the same API second time with `idToStore=xxxx`.

It keeps the API simple, meanwhile saved the cost for generating the randoms.

[2016-07-29 22:47] Gregable commented on #4255
children, not descendants. That's definitely doable. I imagine we'd want the same constraint for `<tbody>`, `<thead>`, `<tfoot>`, `<th>`?

[2016-07-29 22:50] jasti commented on #3831
@zhouyx  Does it make sense to experiment with loading with an animation with a set timeout, so we don't incur the cost of the animation if there is no fill? (start with 2 seconds maybe and we can experiment?)
Is there literally no way to "paint" over the animation with the ad response from the ad server? This way, the max amount of time the animation will ever run is about 2 seconds.
@lannka FYI

[2016-07-29 23:04] zhouyx commented on #4256
Will work on this after #4236 is in

[2016-07-29 23:21] lannka commented on #3831
A non-related question: do you think it will be a better UX if the placeholder indicates that this is a place for ad? As a user, quite often I found myself waiting on a blank area for seconds and expect to see an image, but it ends up with an ad. @jasti

Back to this thread, I would prefer we keep the "default" simple and fast. To me, it's probably not that important to show a GIF animation for a

[2016-07-29 23:34] lannka commented on #3815
Probably the simplest way is to add this `data-amp-container-element="amp-sticky-ad"` to `amp-ad` element as a new attribute. So the current logic in both 3p and a4a just start to flow.

[2016-07-29 23:44] zhouyx commented on #3831
@lannka LOL. I saw a lot publishers put something like 'this is an ad, continue reading' above an ad though.

You mean we provide them with an attribute or let them customize through CSS? (hmm Not a big fan of making everything customizable)

[2016-07-30 00:13] lannka commented on #3831
I think we already do. Pub can customize an loading indicator using `placeholder`:

[code]

[2016-07-30 00:27] zhouyx commented on #4283
Moving the discussion here.
1. If the ad server doesn't respond, it won't send the `no-content` either. Which means we won't call `noContentHandler` for ad, and we won't show fallback.
2. the behavior something appears and suddenly disappears is in our production code now. as if an ad receives a `no-content` message, it will try to collapse itself.  And the attempt to collapse will succeed if user

[2016-07-30 00:44] dvoytenko commented on #4255
Correct.

[2016-07-30 01:03] dvoytenko commented on #3831
Not sure if that'd help, but AMP already provides a standard loading animation for some of it's elements, e.g. images. You can try it with a bigger image or a low-bandwidth simulation to see it. We could possibly extend it to ads as well. So far, however, our thinking was that we only show animations for things that actually part of content - e.g. a part of content that the reader needs to wait to

[2016-07-30 02:44] michaelkleber commented on #3815
SGTM!

[2016-07-30 17:00] jasti commented on #3831
@dvoytenko that's exactly what we are behind actually. The current state is that ads are just blank, which leaves the user guessing -> bad experience. We should apply the same animation as currently for images/ other elements on the page.
The problem is, we don't know how long it takes to load an ad. onload event is not reliable - triggers too fast.

[2016-07-30 18:05] miguelcolomer opened #4287 "Can i use AMPHTML with Blogger Templates?"
i get a lot of errors in the console when i try to use AMPHTML with Blogger. Can i use AMPHTML with Blogger templates?

[2016-07-31 00:45] adewale commented on #4287
Blogger's templates don't currently support AMP.
In future please ask this kind of question on Stack Overflow: http://stackoverflow.com/questions/tagged/amp-html

[2016-07-31 03:45] dvoytenko commented on #3831
I'd sum it up as we have two problems:

1. UX to show while ad is loading.
2. Recognize when the ad is loaded enough to actually show something.

I'd still argue that showing animation on ad loading is not a right approach - it's not part of main content and should not distract the reader. I'd rather look into a canonical and easily customizable background color. Also, background color partially s

[2016-07-31 12:54] jasti commented on #3831
I see your point. However, by treating ads differently than rest of the content, we train users to gloss over whatever loads in that different colored box (causing lower viewability). If you asked publishers, I suspect they'd want to treat loading all elements of the page the same way because loading resources differently could be considered distracting to the user. Although popular opinion- Ads s

[2016-08-01 05:39] muxin commented on #4122
Yes, we are going to show error console message asking people to use amp-sticky-ad + amp-ad instead.

[2016-08-01 08:34] manishupadhyay commented on #1768
Hi All,

I am facing the similar problem.
I have tried all the guide lines mentioned above.
Message is also not intuitive like what is the exact issue.
"Error Msg" : "The mandatory text (CDATA) inside tag 'head > style[amp-boilerplate] - old variant' is missing or incorrect"

[2016-08-01 09:08] weeblr opened #4290 "Structured Data test tool thows error if no dateModified is set"
## Short description of your issue:

An otherwise valid AMP page with a missing or empty dateModified field is flagged as having an error by the Google Structured data validator. This may make many pages fails validation, while being valid.

## How do we reproduce the issue?

Generate an AMP page with the _datePublished_ json+ld field missing or empty. Pass it through data tester. Result is an err

[2016-08-01 10:05] mrsufgi commented on #3233
Hey all :)
we submitted a PR for <amp-apester-media>
https://github.com/ampproject/amphtml/pull/4291

@cramforce @benbakhar @OksanaSemenov  👍

[2016-08-01 10:09] eike-hass opened #4292 "amp-carousel: tracking events"
We would like to track interactions with an amp-carousel. Specifically we would like to track a user-triggered navigation with the amp-analytics component using the "IVW"-provider.

Currently it would probably be possible to achieve this using the json event-tracking notation to track clicks on the `amp-carousel-button-next`-element. This would ignore swipe gestures on mobile though.

Would it ins

[2016-08-01 12:01] cramforce commented on #4122
This is obviously a non-backward compatible change, but we are willing to
take the breakage. I'm not aware of anyone actually doing this, though.

On Sun, Jul 31, 2016 at 10:39 PM, Yuxi Chen <notifications@github.com>
wrote:

[2016-08-01 12:04] cramforce commented on #4111
A4A will actually also make the legacy case faster due to cacheable ad
requests (renders at the same time as before, but the request is made
earlier and likely already done) and all simple doubleclick ads (just
images or text) will be automatically migrated.

On Thu, Jul 28, 2016 at 9:41 AM, John Pettitt <notifications@github.com>
wrote:

[2016-08-01 12:09] adewale commented on #4064
@triblondon please also take a look at: https://ampbyexample.com/components/amp-install-serviceworker/ and https://ampbyexample.com/sw.js

Are those closer to achieving what you want?

/cc @sebastianbenz

[2016-08-01 12:57] sebastianbenz commented on #4272
I don't know any examples (haven't searched though) - but checkbox seems semantically to be the best element.

How would you toggle the visibility of two submit buttons?

[2016-08-01 13:58] keepitsimple commented on #4273
@dvoytenko It also looks very good in narrow right sidebar :)

[2016-08-01 14:46] stephanfowler commented on #1493
Has there been progress - here or elsewhere - towards being able to identify `viewer` / `runtime_id` / similar? (Even if limited to Google apps such as Newsstand etc.)

[2016-08-01 15:52] dknecht opened #4293 "Fix remaining hardcoded ampproject.net URLs in build"
There are two remaining files that have hardcoded ampproject.net added during the production build process.
- frame.html
- amp-login-done-0.1.html

Related to #3934

[2016-08-01 15:53] dknecht commented on #4293
FYI @jrf0110 @erwinmombay @cramforce

[2016-08-01 16:00] ericlindley-g commented on #4292
This is something we've been thinking about—cc'ing some folks working on the carousel and analytics to think through how this might be done (I'm not sure if the new approach using native scroll would change the approach)

CC @sriramkrish85 @rudygalfi @avimehta

[2016-08-01 16:13] dvoytenko commented on #4292
It's totally reasonable to add `forward/back` or `prev/next` events events to carousel for analytics, it's also very easy to do.

The event definition in analytics should be able to supply `selector` to match different carousels, which would allow customization of analytics events.

[2016-08-01 16:14] dvoytenko commented on #4292
/cc @avimehta, can we supply `selector` for custom events?

[2016-08-01 16:22] dvoytenko commented on #4272
What do we think about `on="change:form.submit"` action?

[2016-08-01 16:32] sebastianbenz commented on #4272
sgtm. Should this work for other input types as well?
On Mon, 1 Aug 2016 at 17:22, Dima Voytenko <notifications@github.com> wrote:

[2016-08-01 16:51] dvoytenko commented on #4272
I believe, yes, we can make it work on all other inputs. I'm personally always very confused about events that inputs sent, but, I think, `onchange` has become the most predictable one.

@mkhatib, do you know?

[2016-08-01 17:46] #4055 closed

[2016-08-01 17:54] lannka commented on #4029
After a meeting with most people on the thread, we agreed on
- Skip sha384 hashing while the random value is generated via crypto.getRandomValues.
- Use single API for read and write.
- Viewer will operate like a dumb storage, all logic (including checking expiration time) will be moved to runtime. This will potentially increase the risk of race condition (multiple AMP page write CID at same time)

[2016-08-01 17:55] mkhatib commented on #4272
I like this approach. Thanks for the suggestion 👍

Agreed that `change` probably the most predictable (need to do some testing there and make sure it works well), we might want to expose other events or debounce `change` events for elements that would fire it consequently like text inputs (to avoid rapid unnecessary submissions to the form).

[2016-08-01 17:57] Gregable commented on #1768
Please use the exact string found here:
https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md

If you have that exact string you should be fine.

[2016-08-01 17:59] dvoytenko commented on #4272
This is another thing I always get confused with text inputs. But text inputs do provide their own "auto submit" approach. Right?

[2016-08-01 17:59] jasti commented on #4111
@jpettitt If you are using DoubleClick, all ads will be requested early (earlier than they are today) when DFP's A4A implementation (https://github.com/ampproject/amphtml/blob/master/extensions/amp-ad-network-doubleclick-impl/0.1/doubleclick-a4a-config.js) goes live, which is expected by end of Aug. Essentially, getting what you asked for as part of this request.
@michaelkleber to correct me, if I

[2016-08-01 18:05] jridgewell commented on #4029
Why did we settle on that? Wouldn't a `get-cid` and `save-cid` (both sent by runtime to the viewer) be better here?

[2016-08-01 18:09] #4287 closed

[2016-08-01 18:20] Gregable commented on #4273
@honeybadgerdontcare noticed that we'll need to update docs as well:

https://www.ampproject.org/docs/reference/extended/amp-sidebar.html
Specifically:
`The may not contain any AMP Elements except for amp-accordion, amp-img and amp-fit-text.`

[2016-08-01 18:35] michaelkleber commented on #4111
As @cramforce and @jasti say, the A4A work will lead to ad _requests_ being issued much sooner, no matter what kind of ad gets returned.  But @jpettitt is quite right that, unless the response is an AMP creative, there will still be a deliberate delay before the ad gets _rendered_.

I don't think that's going to change.  Once a classical HTML+JS ad gets rendered, the AMP runtime loses the ability

[2016-08-01 19:29] jrf0110 commented on #4293
Ideally, we'd want the gulpfile to be able to read from `src/config.js`. That means making it a commonJS module. It would also be ideal if the `src/config.js` module were configurable via environment variables. Depending on the environment (node or the browser) we could read initial configuration values from `window.AMP_CONFIG` or `process.env.AMP_CONFIG`

[2016-08-01 19:33] Gregable commented on #4273
Merged a change that will fix this, but it will take a couple weeks to roll out. Changing the subject line to reference that we still need to update docs.

[2016-08-01 20:01] mkhatib opened #4299 "Consider allowing extensions to provide their own Loader animation"
Currently there doesn't seem to be a way for extensions to provide their own loader animation. So [extensions like Apster](https://github.com/ampproject/amphtml/pull/4291/files#diff-b8f9686fbe618a8a1767815ebf2ae443R120) are (mis)using `createPlaceholderCallback` to provide their own gif animated image as a branded loader.

Maybe we can consider making the `-amp-loader` related CSS classes not priv

[2016-08-01 20:21] jasti commented on #4111
Clarifying @michaelkleber's point further -  because the request is being sent out early (and therefore introducing parallelization of things like the ad auction) - in relative terms, even for a non-A4A response (accounting for deliberate delays in both cases), the ad will render faster than present day.

[2016-08-01 20:46] zhouyx commented on #3815
Question I have about getting the container name for a given ad.
Directly approach would be getting the closest parent element that is an ad container. Would we introduce more ad containers in future? If yes do we have a guideline for them. asking because I want the approach to work for all future ad container.

[2016-08-01 20:52] #4273 closed

[2016-08-01 20:53] jasti commented on #3815
Is it easy to detect all parents? If so, I don't see any harm in passing an array/string of all parents.

[2016-08-01 21:19] mkhatib opened #4303 "Brid Player defeaultSnapshot image doesn't exist"
The image placehlolder `amp-brid-player` is [falling back to](https://github.com/ampproject/amphtml/blob/master/extensions/amp-brid-player/0.1/amp-brid-player.js#L136) `https://services.brid.tv/ugc/default/defaultSnapshot.png`  doesn't actually exist.

@DarXector Any idea what is the correct URL for default snapshot?

[2016-08-01 21:23] zhouyx commented on #3815
It's easy, and we are doing that in `isPositionFixed` function now.  but if we only support an ad in single ad container (I think it's the case for for `amp-sticky-ad` and `amp-fx-flying-carpet`), would it be a waste to detect all parents then?

[2016-08-01 21:31] avimehta commented on #4292
@dvoytenko Yes, that should be possible. You can define the variables you want to add support for. (`carouselId` and `carouselAction` makes sense to me) and then pass those values back to the listener [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/instrumentation.js#L174). [Visibility listener](https://github.com/ampproject/amphtml/blob/master/extensions/amp-

[2016-08-01 21:33] jasti commented on #3815
That's the status right now, but may have multiple containers in the future. I don't have a strong preference for how we approach it right now.

[2016-08-01 23:16] lannka commented on #3815
OK, I would say let's keep it simple for now (assuming one direct parent container for less computational cost). We can always extend later if necessary.

[2016-08-01 23:27] mkhatib opened #4305 "Add a form-level blur and keyup handlers instead of input-level ones"
In `amp-form`.`reportInputValidity(input)` drop the `add/removeEventListener` calls and just install a form-level handlers for keyup and blur events.

See [discussion on this PR](https://github.com/ampproject/amphtml/pull/3823#discussion_r70005303).

[2016-08-02 00:05] lannka commented on #3176
The work is a composite of: (1) making a multi-size ad request. (2) resize or pad ad slot while ad is loaded

For (1), it seems to be very ad network specific. I don't feel the need for a common setting.
For example, DFP has this [Flexible Sizes] (https://support.google.com/adxseller/answer/6231257?hl=en) support, it let you define ranges but not exact sizes. We should let 3P code to deal with the

[2016-08-02 00:48] michaelkleber commented on #3176
@lannka Not right now, no.  You're talking about every ad in the world exposing a new API, right?  When AMP wanted empty slots to collapse, we only needed to add a postMessage to the thing that's returned when there is no ad.  That's much easier than adding a postMessage to _every_ ad!

It's certainly possible to do in the future, but would require work on the ad serving side (from every ad networ

[2016-08-02 01:33] jasti commented on #3176
Hey @ampproject/ads team. Any ad servers that are willing to support multi-size requests, please chime in.
DFP is beginning to work on a feature to pass creative width and height on creatives returned.

[2016-08-02 05:34] pdufour opened #4313 "Error loading Comscore pixel"
## Short description of your issue:

When I turn on AMP validation I noticed an error with the Comscore tracker. I think it's because it's returning a 204 but I'm not sure.

## How do we reproduce the issue?

1. Visit https://rawgit.com/ampproject/amphtml/master/examples/analytics.amp.html#development=1 which is a demo of the examples page from the amp repo.
1. See  "[amp-analytics.Transport]" "Fa

[2016-08-02 05:46] rudygalfi commented on #4313
/to @avimehta

[2016-08-02 07:00] amoad-amoe opened #4314 "add support for AMoAd responsive layout to amp-ad"
Our ad supports responsive layout. Setting your layout attribute to responsive like below, we can scale the ad.

[code]

Some additional code will be needed. I'd like to implement after https://github.com/ampproject/amphtml/issues/4208 is merged.

under the AMoAd CLA.

[2016-08-02 13:01] gagadada11 commented on #1768
Dear  manishupadhyay

For AMP page with error issue, I have some experience want to share with you
To fix it:

Step 1: Install this plugin on your wordpress **https://wordpress.org/plugins/amp/**
Step 2: Install this plugin on your wordpress **https://wordpress.org/plugins/glue-for-yoast-seo-amp/**
--> Follow the step here " https://yoast.com/setting-up-wordpress-for-amp-accelerated-mobile-pages/

[2016-08-02 14:57] jridgewell commented on #4305
Re: https://github.com/ampproject/amphtml/pull/3823#discussion_r70011152, also.

[2016-08-02 16:26] dvoytenko commented on #4292
@avimehta cool!

@ericlindley-g please prioritize accordingly.

[2016-08-02 17:05] dvoytenko commented on #4314
SGTM

[2016-08-02 17:28] uniquelygeneric commented on #2487
Thanks, @avimehta and @rudygalfi.

This looks like it should work for our duration analytics. Is there a way I can test out a pre-release implementation to see it's behavior at runtime?

[2016-08-02 17:29] uniquelygeneric commented on #2564
@avimehta I would like to test out the implementation before giving a final word, but yes, it looks like #2487 will likely be sufficient.

[2016-08-02 17:59] dvoytenko commented on #3831
@jasti Gray space around an ad can indeed happen - but the ad is always able to do something about it because we give the ad the full control of the space. It comes down to whether or not the ad sets its background color on its `<body>`. I think most of time this will work well. So, there's no reason for us not to try this out - under an experiment, of course.

Overall, I believe we need to work o

[2016-08-02 18:00] dvoytenko commented on #3831
@jasti It does apply to our standard loader as well for ads. We can enable it under the experiment.

[2016-08-02 18:02] rudygalfi commented on #2487
@uniquelygeneric Thanks for the feedback! Once @avimehta gets the PR merged, it will be incorporated as part of a canary build during the next Thursday. If you opt into the [dev channel](https://github.com/ampproject/amphtml#amp-dev-channel) you should be able to try it out early.

[2016-08-02 18:02] mkhatib opened #4317 "Discussion on Fieldset User Validity"
The [current PR to introduce](https://github.com/ampproject/amphtml/pull/3823) `.user-valid` and `.user-invalid` to `input`s, `fieldset`and `form` make the following assumptions that we'd like to discuss and try to loop in people that know what's might be the future of the `:user-invalid` spec behavior.

[Demo of current behavior can be found here](https://amp-mk-1.herokuapp.com/examples.build/for

[2016-08-02 18:06] dvoytenko commented on #4290
/cc @Gregable

[2016-08-02 18:07] dvoytenko commented on #4290
Assigning to @Gregable . But from what I understand, AMP does not require or impose any rules on JSON+LD manifest. This part is independent of AMP, and, likely, required by some other system.

/cc @rudygalfi

[2016-08-02 18:10] dvoytenko commented on #1493
@stephanfowler Yes. `VIEWER` var from https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#viewer should do that job.

[2016-08-02 18:15] Gregable commented on #4290
I'll flag this for the SDTT folks, but it's not something the AMP validator can address.

Note that this does not prevent the page from being indexed as AMP or placed in the AMP cache. It may (unsure) prevent the page from appearing in Google's news carousel.

[2016-08-02 18:21] weeblr commented on #4290
Hi

Thanks for looking into this.

Well, if AMP pages are not indexed and displayed by Google in their (yours) search results, that's a major drawback for most users, or to put otherwise, there is no point in adding AMP to a site if AMP pages don't show in search results. As per [today's announcement](https://webmasters.googleblog.com/2016/08/amp-your-content-preview-of-amped.html), showing up in

[2016-08-02 18:22] weeblr commented on #4290
As a side note, maybe you want to fix the AMP sample document I linked to in my OP (add a dateModified field), so that at least the official documentation for AMP HTML offers a sample document that validates?

Rgds

[2016-08-02 18:24] gustavopaes opened #4319 "AMP invalidation minified css boilerplate"
AMP validation is invalidating our CSS Boilerplate because my server minify the css, transforming "0s" in just "0".

So, this [CSS Boilerplate](https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md):

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8

[2016-08-02 18:24] avimehta commented on #2564
cool. Let me close this bug and take the discussion to the other bug then. Feel free to comment on the PR. If you would like to test it before it is checked in, you can also patch the PR into a local client and then try it out.

[2016-08-02 18:24] #2564 closed

[2016-08-02 18:25] weeblr commented on #4290
Hi again,

I just checked again, and this has been fixed. The message now shows as a warning, as it should. Case closed I think.

[2016-08-02 18:26] erwinmombay commented on #4319
/to @powdercloud @Gregable

[2016-08-02 18:33] chibzu opened #4320 "Intent to implement: Ooyala Player Embed"
The goal is to implement a simple Ooyala element to allow embedding of videos from the Ooyala platform. It would follow an approach like:

[code]

[2016-08-02 19:10] jridgewell commented on #4320
LGTM.

[2016-08-02 19:11] #4290 closed

[2016-08-02 19:55] yieldmo-rao commented on #3176
From what I understood after reading this thread:

1. There will be some data point exposed within the DFP window context, that let's us read the height and width information
1. We send out a request to our ad server with that height and width information
1. Ad server either returns an ad with that width and height or returns an ad of a different height
1. In the case it returns an ad of a differe

[2016-08-02 20:42] kbnaik opened #4326 "Request to add page_URL as one of the supported parameter for DFP"
The request is precisely for AMP to be able to pass pageURL parameter in the query going to DFP for Doubleclick ad.
(https://developers.google.com/doubleclick-gpt/adsense_attributes)

[2016-08-02 20:56] lannka opened #4328 "Code/logic sharing between 3p-ad and a4a"
"Don't forget a4a." We start to see this more and more often when we're making new features on 3p-ad, such as #4283 #3815. I'm wondering if "a common base class" would mitigate this problem and make code/logic sharing easier.

Right now, a4a imports some functions from 3p-ad as utils. This is not enough when we want to, for example, share some logic that involves internal states.

@bobcassels @tdr

[2016-08-02 21:27] erwinmombay commented on #4293
testing the switch to commonjs (https://github.com/ampproject/amphtml/pull/4327) .
The latter might be slightly harder since we can do the process.env replace using babel/browserify but might be harder with closure compiler (not impossible but not as straight forward). currently `process.env` in the closure compiler build is actually [hardcoded](https://github.com/ampproject/amphtml/blob/master/bu

[2016-08-02 21:28] pbakaus commented on #3991
Can't wait to see this happen. I have a semi-working version of an amp-iframe variant at https://www.ampproject.org/metrics/ but it doesn't work due to the viewport limitation :(

[2016-08-02 21:36] powdercloud commented on #4319
So I wondered why it wasn't dropping the 's' from '8s'. Then I realized that it's optimizing the special case, the '0something'. Cute. But then I tried to figure out whether that's allowed or not. Could this be relevant?

https://developer.mozilla.org/en-US/docs/Web/CSS/time

Even if all units represent the same time for the value 0, the unit may not be omitted in that case as it isn't a <length>:

[2016-08-02 21:40] jridgewell opened #4329 "Separate Timer code from Timer Installation"
Post #4261, we should split up the `Timer` code from the service installation, like we do with the other services. This will reduce our extension file sizes, since only the Runtime will install so only it needs the code.

We can also do this for `Platform`, maybe a few others. But, definitely `Timer` and `Platform`.

Re: https://github.com/ampproject/amphtml/pull/4261#issuecomment-236223083

[2016-08-02 21:58] lannka commented on #4293
Do we consider [move gulp to ES6](https://markgoodyear.com/2015/06/using-es6-with-gulp/)?

[2016-08-02 22:00] erwinmombay commented on #4293
@lannka yes,we'd need to either do the transpilation or move to a higher node engine. we currently support 4>=

[2016-08-02 22:00] gustavopaes commented on #4319
Ok, can be wrong remove "0something" in this case, but the default "sass" output is:

[code]

Maybe I can figure out here, but can be normal this question here again. Maybe some new message on AMP validator or just one NOTICE instead of WARN that invalidate all AMP page.

[2016-08-02 22:05] booc0mtaco opened #4330 "AMP uses native app-like scroll inertia instead of UIWebView's default scroll inertia"
When viewing an AMP document on iOS/MobileSafari, the scroll inertia matches the native scroll inertia, and not the scroll inertia of normal web pages. For native apps, there's a lot less "friction" so the scroll proceeds at a faster pace, and for longer, while MobileSafari pages are 1/3 the speed, roughly.

## How do we reproduce the issue?

Please post a public URL and ideally post a reduced tes

[2016-08-02 22:24] ericlindley-g opened #4332 "Fix <amp-live-list> update/scrolling bug"
Currently there is a bug where:
1. User is looking at a post that will exceed max-items-per-page with the next update
2. User taps notification that triggers updating the page
3. Scroll automatically begins to take user to the top of <amp-live-list>
4. Calculation is made to determine which <amp-live-list> items exceeding max-items-per-page based are below current viewport position
5. Items identi

[2016-08-02 22:42] chibzu commented on #4320
I've created https://github.com/ampproject/amphtml/pull/4333 for the PR.

[2016-08-02 22:54] Gregable commented on #4290
FYI: The [announcement](https://googleblog.blogspot.com/2015/10/introducing-accelerated-mobile-pages.html) today of AMP results showing up on regular search results does not require structured data on the page at all, only AMP validity. The SD data is only necessary to get the associated metadata needed to render a news carousel item.

Glad it's working as intended now though!

[2016-08-03 00:36] rudygalfi commented on #4292
It's a bit of a different trigger definition that we've been discussing, but I wonder if you can use `visibilitySpec` to do this (https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/amp-analytics.md#page-visible-trigger-on-visible). For instance, if you have a carousel of `amp-img`s then you could configure amp-analytics to watch the IDs within the carousel and fire hits whe

[2016-08-03 03:19] pbakaus opened #4339 "Allow ampproject.* in <amp-iframe>"
As irony has it, @cramforce can't have nice things because he [disallows](https://github.com/ampproject/amphtml/blame/master/extensions/amp-iframe/0.1/amp-iframe.js#L66) the ampproject.org origin categorically in all <amp-iframes>.

Otherwise, of course, he'd see this fancy metrics page when he navigated to https://ampproject.org/metrics:

![screen shot 2016-08-02 at 8 18 04 pm](https://cloud.gith

[2016-08-03 03:28] dvoytenko commented on #4326
/to @rudygalfi for initial triage

[2016-08-03 03:38] rudygalfi commented on #4326
Actually, this is for @jasti.

[2016-08-03 07:05] weeblr commented on #4290
Hi Greg,

Indeed and thanks for making this clearer. It makes sense if the AMP page is just an alternate version of the regular HTML one, it shouldn't require more metadata than the original. The AMP doc actually states the very same, that SD are not needed for AMP.
But as the carrousel/top stories were up until now the only way to have your AMP pages viewed, it was sort of a requirement anyway.
S

[2016-08-03 07:59] renebaudisch commented on #3176
When yieldmo-rao is right, then this is already possible using `window.context.requestResize(width, height)`, see [readme.ms](https://github.com/ampproject/amphtml/blob/d084e1a589201f518020968c70ed80f1fce84167/ads/README.md#ad-resizing)

[2016-08-03 08:59] i049382 commented on #4184
I too am struggling with this behaviour

[2016-08-03 12:20] DarXector commented on #4303
Hi,

there were some changes to Brid servers. I will update the repo with the latest URL as soon as possible.

-----Original Message-----
From: "Mohammad Khatib" <notifications@github.com>
Sent: ‎8/‎2/‎2016 0:20
To: "ampproject/amphtml" <amphtml@noreply.github.com>
Cc: "MR" <marko.reestic@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: [ampproject/amphtml] Brid Player defeaultSnapshot

[2016-08-03 13:21] kozlice commented on #4013
It would be nice to have configurable timeout. In dev environment I have to use auth service which located on the other side of planet, accessible only via VPN. Pings and round trip timings are huge and response time is _never_ under 3s.

@cramforce Is there any workaround for such cases?

[2016-08-03 14:12] bobcassels commented on #4281
PR #4340 is a step in this direction. So far, we only need base64url (without padding). (We were using regular base64 for signatures, but this PR changes that.)

[2016-08-03 15:17] tigt opened #4343 "Allow nested `<svg>` elements"
It's unintuitive, but `<svg>` is both a root and container element. Its use as container element is essential for positioning and sizing graphics elements via percentages, since `<g>` can't take dimensional attributes and `transform`s can't use anything but coordinate-space units.

Example:

[code]

This snippet anchors a `<path>` off the right side of the SVG viewport, then shimmies it back into

[2016-08-03 15:23] kozlice opened #4344 "Intent to implement: custom access authorization endpoint timeout"
There was [a discussion](https://github.com/ampproject/amphtml/issues/4013) about possibility to extend access authorization endpoint timeout. Since it's hardcoded to 3s, I'm not able to use this feature in my dev environment. Due to networking problems the best I can get is 5s, so basically auth **never works**.

Configuring timeout could be useful not only in dev/test environments, but for produ

[2016-08-03 16:13] ericlindley-g opened #4346 "Support Dynamic CSS Classes for live-updating content"
Currently, dynamic css classes are set on load, and not revisited for live-updating content like amp-live-list (or amp-fresh) when it is received on the client

This is a bug to update Dynamic CSS Classes so it works well with amp-live-list (and when available, amp-fresh), applying the right classes to content as it comes in

Passing to @jridgewell , as I believe you first implemented Dynamic CSS

[2016-08-03 16:18] tdrl commented on #4328
Agreed -- we need a better plan for code sharing.

Adding @a4a-cam (new team name -- we'll see if it actually notifies all of us).

[2016-08-03 16:22] tdrl commented on #4328
The challenge, as I see it, is that we want UI-level behaviors to be the same (delay times, fallback and collapsing behaviors, etc.) but there are some significant differences in A4A vs 3p architectures (URL building w/in A4A network impl vs via delegated JS code; early fetch vs delayed fetch; etc.)  There are a lot of thorny interactions.  Conceptually, a "base class" makes sense, but I'm not sur

[2016-08-03 17:24] jridgewell commented on #4346
I'm confused, Dynamic CSS classes just set a class name on the body. Why wouldn't that apply to the live list?

[2016-08-03 17:35] jridgewell commented on #4339
@dvoytenko, do you know why we have this restriction?

[2016-08-03 17:53] erwinmombay opened #4347 "update AmpCodingConvention `getAssertionFunctions`"
will need to update to work with `dev().assert()` etc

[2016-08-03 17:55] ericlindley-g commented on #4346
Gotcha—in that case, I'm closing this for now. Thanks!

[2016-08-03 17:55] #4346 closed

[2016-08-03 17:59] tigt commented on #3578
The `fill`/`stroke` attributes (among others) [can take external files](https://twitter.com/AmeliasBrain/status/760878586442059777), but using their relative-fragment form is the only way to apply patterns and gradients.

[code]

...is equivalent to:

[code]

[2016-08-03 18:44] dvoytenko commented on #4343
/to @Gregable

[2016-08-03 18:48] AmeliaBR commented on #3578
If the concern is not having cross-links to HTTP URLs, disallowing the `style` attribute does not have any benefit.  As @tigt notes, most of the SVG-specific style properties can also be specified as attributes, and many of these take URLs.  Namely:

- filter
- mask
- clip-path
- fill
- stroke
- cursor
- marker and its longhands

That said, support for cross-file URLs in these properties (vs targe

[2016-08-03 18:51] ericlindley-g commented on #4277
@mkhatib Put into "pending triage", but please update when you have a sense of when you can work on this. Thanks!

[2016-08-03 18:56] ericlindley-g commented on #4319
@gustavopaes  Looks like this can be closed — feel free to re-open if there are any unresolved questions/needs

[2016-08-03 18:56] #4319 closed

[2016-08-03 19:01] lannka commented on #3176
@yieldmo-rao you're right that the resize can be initiated by the creative, however, right now it doesn't work if the creative is in nested iframes. It's an [ongoing effort](https://github.com/ampproject/amphtml/issues/3019) to make it work though. To my understanding, iframe needs to load a JS to be able to use the API.

I was thinking of having runtime to initiate the resize. It can be triggered

[2016-08-03 19:26] Gregable commented on #4343
Unfortunately it requires a little more work than just changing that rule, but that only means it'll take a little longer. I'll work on it

Long explanation: The AMP Cache reserializes HTML to make sure that the result is uniform for all browser's quirks parsing engines. We have special code for handling `<svg>` sections, because tag parsing follows different rules inside an `<svg>` section. Speci

[2016-08-03 19:35] #4212 closed

[2016-08-03 19:43] dvoytenko commented on #4339
I suppose it'd have been sufficient to always require `sandbox` w/o `same-origin` for these iframes. But generally, `ampproject.org` is a proxy and thus embedding self-proxied would open us to essentially circumvent our own AMP rules since they are on the same origin. And `sandbox` attribute is not yet supported everywhere we need.

[2016-08-03 19:44] dvoytenko commented on #4184
Ping @sriramkrish85

[2016-08-03 19:44] rudygalfi opened #4350 "amp-experiment md file doesn't convert into docs format well"
Take a look at https://www.ampproject.org/docs/reference/extended/amp-experiment.html.

There's a couple of issues I spotted:
- The table describing configuration squeezes the initial two columns. (photo below)
- There are validation issues, but the underlying problem is that it seems like the [sourcecode] block being used isn't properly getting escaped, which would cause a real amp-experiment to

[2016-08-03 19:48] pbakaus commented on #4339
Is there any workaround you can think of for our actual homepage? Maybe we can change the regex to explicitly catch cdn.ampproject.org instead?

[2016-08-03 19:55] rudygalfi commented on #4339
Would it make sense to host embedded resources like this off of ampproject.net?

[2016-08-03 19:55] jridgewell commented on #2892
Closed due to https://github.com/ampproject/amphtml/issues/3461.

[2016-08-03 19:55] #2892 closed

[2016-08-03 19:58] jridgewell commented on #4347
Assigning this to high, this prevents us from checking types.

[2016-08-03 20:18] pbakaus commented on #4339
I guess we could, but would need another deploy target, firebase app etc. Needlessly complicated imho.. I'd prefer the fix suggested.

[2016-08-03 20:37] tdrl opened #4352 "Extension loading behavior differs for `.min` and `.max` versions of files."
When running in localhost dev mode, accessing `.max` examples causes extensions to be loaded from localhost, but `.min` examples still load extensions from `cdn.ampproject.org`.

## How do we reproduce the issue?

- Check out master
- `gulp clean`, `gulp build`, `gulp dist`, and `gulp`.
- Load http://localhost:8000/examples/a4a.amp.max.html?a4a=2
  - Note that `amp-ad-0.1.js` is loaded from `local

[2016-08-03 20:42] daniel-obadia opened #4353 "amp-ad not showing fallback for doubleclick"
I'm including an amp-ad element to my page and would like the height of the ad to collapse to 0 in order to remove the whitespace where the ad would normally be loaded.

From the documentation, I see a fallback element exists. However, when trying this out and when an ad is not available, the fallback HTML element is not rendered and the original ad height is kept.

Here's the code example I'm usi

[2016-08-03 20:57] jridgewell opened #4354 "Crypto: Subtle Digest Alg not an Object"
[code]

The [WebCrypto API](https://www.w3.org/TR/WebCryptoAPI/#dfn-AlgorithmIdentifier) says the argument can be either a `DOMString` or an object `{ name: DOMString }`. Let's try using the object format, and see if anything doesn't support it.

[2016-08-03 21:03] koshka opened #4355 "Intent-to-implement: Gfycat embed"
A Gfycat embed is a silent looping video with specified width and height, through a fixed size or responsive iframe.
A Gfycat URL consists of a base url and a GfyID:
https://gfycat.com/UncommonUncommonHapuku

In the example above, the Gfycat identifier is UncommonUncommonHapuku. A Gfycat identifier is required to display the content.

Width/height ratio is expected to be arbitrary.

![screen shot

[2016-08-03 21:11] jridgewell commented on #4355
LGTM. @rudygalfi, what is our image naming pattern?

[2016-08-03 21:15] lannka commented on #4354
For a record, most errors are from those 2 user agents.

[2016-08-03 21:20] lannka commented on #4350
hmmm.. Is there a tool I can test it locally?

[2016-08-03 21:29] jasti commented on #4326
@michaelkleber, it looks like we don't support https://developers.google.com/doubleclick-gpt/reference#googletag.PubAdsService_set and instead just infer the canonical URL (https://github.com/ampproject/amphtml/blob/master/ads/google/doubleclick.js#L93). Is it worth updating dclk implementation to broadly allow any of these https://developers.google.com/doubleclick-gpt/adsense_attributes to be opt

[2016-08-03 21:34] jridgewell opened #4358 "Amp Sidebar: Skipped Platform tests"
Part of #4261 [disabled](https://github.com/ampproject/amphtml/pull/4261/files#diff-31629dcb2c6aaf33f0f7f52a128e13d9R17) the platform (specifically, iOS) tests for `<amp-sidebar>`. This is because you can't mock platform code anymore, since they do not share the same reference. Platform will instead come from the iframe's context, not the test runner's context.

[2016-08-03 21:34] jridgewell opened #4359 "History: Skipped tests"
Part of #4261 [disabled](https://github.com/ampproject/amphtml/pull/4261/files#diff-3c019753bd44f1b04bf59505f15de227R45) the tests for `History`. I don't really understand what the tests are doing, let alone why they're failing.

[2016-08-03 21:34] jridgewell opened #4360 "Double Click Ad Integration Test"
Part of #4261 [disabled](https://github.com/ampproject/amphtml/pull/4261/files#diff-c06f1811f3a8d8a540fda229bbf8b73eR52) our crazy Double Click Ad integration test. It works when testing locally, but fails Travis. Ugh.

[2016-08-03 21:34] jridgewell opened #4361 "Analytics Visibility: Skipped Test"
Part of #4261 [disabled](https://github.com/ampproject/amphtml/pull/4261/files#diff-0136206f8c4de64d6fec0d8e6a2f8bcaR262) the `backgrounded_` tests.

[2016-08-03 21:41] pbakaus commented on #4350
Sure! Just follow the README here: https://github.com/ampproject/docs

[2016-08-03 21:41] sriramkrish85 commented on #4184
Looks like the historyAPI is stripping off the breadcrumb.

I debugged that something is wron with this line of code, but not sure why pop would strip the `#id` from the url
[code]

https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/0.1/amp-sidebar.js#L185

[2016-08-03 21:45] dvoytenko commented on #4184
@sriramkrish85 Correct. I described the actual flow above.

[2016-08-03 22:35] muxin commented on #4122
@cramforce I just want to clarify things a little bit. We are using https://github.com/ampproject/amphtml/blob/74f25ee3225229426a9d7c8ecbdec3e69acc00e4/extensions/amp-ad/0.1/amp-ad-3p-impl.js#L112 because we don't want the amp-iframe to be ad-like and its ancestor to be position: fixed, right? How about `amp-iframe` inside `amp-sticky-ad`, `amp-light-box` and `amp-fx-flying-carpet`? If the `amp-if

[2016-08-03 22:37] dvoytenko commented on #4122
I believe this is correct: if we think the iframe is ad-shaped - we want to apply the same restrictions to it as to an amp-ad.

[2016-08-03 22:37] dvoytenko commented on #4353
/cc @kashyapnitin @lannka

[2016-08-03 22:38] dvoytenko commented on #4353
/cc @jasti

[2016-08-03 22:48] lannka commented on #4353
It works for me. Did you try the example at:
[code]

![screenshot from 2016-08-03 15 46 31](https://cloud.githubusercontent.com/assets/8496897/17384494/81be60fa-5991-11e6-85b8-e30ed869f06f.png)

[2016-08-03 22:49] #4354 closed

[2016-08-03 23:15] aghassemi opened #4363 "Viewer swipe does not pause videos on subsequent plays"
Similar to https://github.com/ampproject/amphtml/issues/3169 but for the viewer.

To reproduce:

- play video in a document in the viewer
- swipe to next document
- come back to first document, notice video is paused (good)
- play the video again
- swipe forward and back again
- notice video did not pause this time (bad)

This is because document swipe calls `pause()` but never calls `resume()` pu

[2016-08-03 23:24] muxin opened #4364 "amp-video in carousel slides shows blurred circle even though the video is not shown"
## How do we reproduce the issue?

1. Open a page with `<amp-carousel type=slides>` that has `<amp-img>` and `<amp-video controls>` inside.
2. When staying at the image slide, we see a blurred circle in the center of the carousel slide which is caused by the amp-video

## What browsers are affected?

safari, chrome

## Solution
We might need to set `opacity: 0` on `amp-video` if it's not visible i

[2016-08-03 23:36] dvoytenko commented on #4364
/fyi @sriramkrish85

This should be fixed with the new scrollable slides

[2016-08-03 23:39] dvoytenko commented on #4339
I'd wait on the @cramforce to decide. There might be other reasons as well.

[2016-08-03 23:53] muxin commented on #4122
I see, thanks @dvoytenko

[2016-08-04 00:27] aghassemi opened #4367 "Either allow urls as videoid or expose `src` for for amp-(youtube|twitter|instagram)"
We should either allow Url values for `data-videoid` on `amp-youtube` and or expose and document a `src` attribute as well.

Originally a feature request in https://github.com/ampproject/amphtml/issues/361

We have also seen misconfigurations like
`<amp-youtube data-videoid="https://youtu.be/UDGKqWyzuRs"`
in the wild.

Also currently `src` passes validation for `amp-youtube` but does not do anythi

[2016-08-04 00:29] erwinmombay commented on #4367
how about stricter validation instead?

[2016-08-04 00:31] aghassemi commented on #4367
I am okay with that too.

[2016-08-04 00:45] Gregable commented on #4367
Sure, stricter validation is fine.

I just checked and the validation rules allow using `src` instead of `data-videoid` (one or other required), though it seems the documentation doesn't mention src, and the runtime doesn't seem to understand it either. I suppose we should remove the src option as well?

[2016-08-04 01:16] powdercloud commented on #4367
Interestingly the video id's for YouTube may not have a specified format.
http://webapps.stackexchange.com/questions/54443/format-for-id-of-youtube-video

[2016-08-04 01:16] zhouyx commented on #4352
I tested. it seems for .min example, `getMode().localDev` is false. while this value is true for .max example

[2016-08-04 01:35] shimonenator commented on #4367
There's a very valuable reason to keep src and document it: when CMS uses oEmbed to resolve embed data, YouTube does not provide video id. By allowing full embed URL to be passed, theres no need to keep custom business logic to strip out id out of the URL, which means less errors due to URL variations.

[2016-08-04 02:04] rudygalfi commented on #4355
`gfycat-anim`?

[2016-08-04 03:13] peternofelt commented on #1597
@rudygalfi I assume this is still backlogged?

[2016-08-04 04:31] koshka commented on #4355
Hi @rudygalfi, we'd like no name this component 'amp-gfycat' following the pattern 'amp-vine', 'amp-vimeo' and others.
Is it possible?

[2016-08-04 14:55] erwinmombay opened #4370 "this.baseElement_.getViewport is not a function"
<img width="945" alt="screen shot 2016-08-04 at 7 54 26 am" src="https://cloud.githubusercontent.com/assets/354746/17406547/b60220f4-5a18-11e6-8642-bba67f405b41.png">

[2016-08-04 15:42] jridgewell commented on #4370
Likely my changes. [1](https://github.com/ampproject/amphtml/pull/4261/files#diff-a6732048fba913700105cee586022c71L264), [2](https://github.com/ampproject/amphtml/pull/4261/files#diff-3c4bf787a28d6df5598c0b9db2a35a48L80).

[2016-08-04 15:44] daniel-obadia commented on #4353
Thanks @lannka in your screenshot, there still seems to be the space being taken up but the styles in the amp-ad. While using the exact example, I can in fact reproduce your screenshot where the fallback is shown. I see a class added "amp-notsupported" would this be the proper class to target a CSS 0px height?

Also, could the fact that my data-slot is for ex : "/1234/12test/AMP" (as an example) b

[2016-08-04 16:29] ericlindley-g opened #4371 "Hide scrollbar for native scrolling amp-carousel implementation"
Discussed in person, but putting a bug on here for the record:

Before releasing to prod on Firefox, Chrome, and Safari, let's hide the scrollbar to avoid flicker on swipe

If we can't fix it on each browser, let's figure out how to mitigate (make the scrollbar white? surface tools for developers to change scrollbar color?), and file a bug for the browsers to give us the tools to fix ( @sriramkris

[2016-08-04 16:31] #3969 closed

[2016-08-04 16:34] lannka commented on #4029
@jridgewell Regardless of the fact that it is essentially a window.postMessage, the API is like`viewer.cid(opt_cid)`. Semantically, it's a typical get or set method. You can find it anywhere in Javascript world (for example: [JQuery](https://api.jquery.com/data/).

It's not just about less code, as you can see in PR #4366, it made the code to handle backward compatibility much simpler as well (no

[2016-08-04 16:42] jridgewell commented on #4029
And I still hate that API.

We already have the opposite in our [viewer messages](https://github.com/ampproject/amphtml/blob/fe63400cb62cd132ae279357e6d546fbd9d0010c/extensions/amp-analytics/0.1/storage-impl.js#L348-L358): `LOADSTORE` and `SAVESTORE`.

There's no need to check for `store-cid` message, it's a save with no necessary result. And the backwards compatibility code will be exactly the sa

[2016-08-04 16:50] Gregable commented on #4367
@shimonenator , I'd be OK with that as well, but what we have now is the worst of both worlds. We validate `src`, but the runtime doesn't support it and it doesn't work.

[2016-08-04 16:51] ericlindley-g commented on #2366
Heads up to everyone waiting on a fix that this is ready to be dogfooded via an experiment!

If you want to see a new carousel ("slides" version) implementation that supports swiping over iframes (including videos, social embeds, and other iframed content), you can opt into the experiment, and immediately see the updated version for any `amp-carousel` of `type="slides"`

Two ways to try it out:

•

[2016-08-04 16:54] rudygalfi commented on #2564
@avimehta I don't think I'm following how the `hidden` support in your PR covers `focus` and `blur`. Can you explain?

[2016-08-04 16:59] aghassemi commented on #4367
It is possible that the publisher who misconfigured the tag as `amp-youtube data-videoid="https://youtu.be/UDGKqWyzuRs"` used oEmbed and didn't bother parsing the Id out of the URL.

Despite 'src' passing the validation, it currenly does not work as @Gregable  mentioned.
Two different approaches here:

**Option 1**
- Don't expose `src` and remove the rule from the validator.
- Allow and document t

[2016-08-04 17:00] dvoytenko commented on #4367
@aghassemi Please see if this issue needs to be deduped with #361. On the surface, I think an `src` attribute would be better, but would be open to re-parsing `videoid` as well.

[2016-08-04 17:07] aghassemi commented on #361
Closing as dup in favour of https://github.com/ampproject/amphtml/issues/4367 (since it has more comments in the discussion)

[2016-08-04 17:07] #361 closed

[2016-08-04 17:13] avimehta commented on #2564
@rudygalfi I think the motivation for the request was to calculate total time on page. `hidden` lets you calculate the end of time on page thus letting you calculate the duration.

There is also the use case of firing `visible`, and `hidden` triggers every time the page comes and goes out of view. This use case is not supported by my PR. If there is interest in that, please reopen the bug and I'll

[2016-08-04 17:51] avimehta commented on #4018
I added basic support for this in #4368. I couldn't think of what `closest=false` would do. So I skipped implementing the logic for `closest` completely. Here's my thinking:

We should make searching for `closest` element implicit. In future, if we want to expand the way searching for element is done, we can add something like `searchMethod` with possible values `closest`, `first`, and `topmost`.

[2016-08-04 17:53] powdercloud commented on #4367
@shimonenator to clarify, 'src' currently doesn't work as @Gregable mentioned. On extracting the id from a URL, I think even though the id format isn't specified, using the preceding '/' makes this easy, e.g. `'https://youtu.be/UDGKqWyzuRs'.split('/').pop()` in Javascript.

So I think stricter validation is useful, it reduces frustration with pages that validate but won't work. So maybe this?
- Fo

[2016-08-04 17:56] erwinmombay opened #4372 "Cannot read property 'destroy' of null"
[code]

[2016-08-04 17:57] powdercloud commented on #4367
Oh sorry - I didn't reload the page before commenting, so I was blind to the other comments. I think it's cool to have src if someone implements it for the runtime.

[2016-08-04 18:05] jridgewell commented on #4372
This is related to either https://github.com/ampproject/amphtml/pull/4159 or https://github.com/ampproject/amphtml/pull/4233.

[2016-08-04 18:07] dvoytenko commented on #4344
@kozlice One option we can do: we can double the timeout time for development mode, `#development=1`. This way you can debug with a bigger timeout. But we can't reduce it for PROD cases or customize, since we give a promise to applications that embed AMP that the authorization decisions will be made quickly.

[2016-08-04 18:10] zhouyx commented on #4372
looks like me

[2016-08-04 18:11] jridgewell commented on #4352
This is an issue with https://github.com/ampproject/amphtml/pull/4252/files#diff-dfb00ab52d06ff7a2c0193dc57ca92c5R321 replacing `.max` with `''`, making our detection think we're using production JS files.

[2016-08-04 18:18] kozlice commented on #4344
I got your point. As of production, I meant that somebody might want to make limit _even lower_, e.g. 1s. Anyway, here's how I've patched & built it on my machine just to have an ability to do something in dev mode:

https://github.com/ampproject/amphtml/compare/master...kozlice:access-authorization-timeout

Default is still 3s, might be worth to give people capability to configure it with a discl

[2016-08-04 18:20] aghassemi opened #4374 "[testing]: `SkipSafari()` is also skipping chrome"
`SkipSafari()` is also skipping Chrome (because Chrome UA has Safari in it)
This means `visibility-states` integration tests haven't been running in Chrome.

[2016-08-04 18:21] zhouyx commented on #4372
#4375

[2016-08-04 18:22] lannka commented on #4352
@tdrl It does sound like my PR is suspicious. But I couldn't really reproduce the issue.
See what I got:

![screenshot from 2016-08-04 11 21 25](https://cloud.githubusercontent.com/assets/8496897/17413333/a307cfcc-5a35-11e6-8dab-ffa4a5181db6.png)

[2016-08-04 18:23] tdrl commented on #4352
Wait, @jridgewell  -- the issue is with `.min`, not `.max`.  Would the change you're talking about affect `.min` stuff as well?

[2016-08-04 18:25] tdrl commented on #4352
@lannka Ugh.  I hate non-reproducible errors.  :-P

I'll try again.  What branch are you sync'd to?

[2016-08-04 18:30] lannka commented on #4352
I'm at `master`.

That logic was copied over from `gulpfile.js` in that PR. I agree it's a bit hard to read, but I'm sure it's doing the right thing. I wanted to refactor a little bit, but gave up.

[2016-08-04 18:32] lannka commented on #4374
That's ... my fault ...
Thanks for volunteering.

[2016-08-04 18:35] daniel-obadia commented on #4353
This works, no need to set the amp-notsupported CSS class to height 0px. The issue seems to be related to the data-slot that I was using (not a real one). With the real value, it seems to return that the ad is not available, thus hiding the entire component.

Thanks for your help!

[2016-08-04 18:38] jridgewell commented on #4352
Should that say `amp-ad-01.min.js`?

[2016-08-04 18:44] dvoytenko commented on #3712
To be done only when `#webview=1`.

[2016-08-04 18:48] #4353 closed

[2016-08-04 18:54] pbakaus opened #4377 "width="NaN" in generated code for fixed height amp-iframe"
So this is just odd, and doesn't seem to cause visible issues atm, but thought I'd be good to report nonetheless:

On a page like https://paulbakaus.com/tutorials/css/flexbox-freebie-auto-growing-list-for-amp-roadmap/ that has iframes with fixed height, like so:

[code]

the generated code (after AMP runs) looks like this:

[code]

Notice the width="NaN" in the actual `<iframe>`?

I freak out when

[2016-08-04 18:54] dvoytenko commented on #4344
@kozlice Thanks. You can use this diff as a base for a PR and send it to me, but I will ask a number of changes. Such as:

1. The configured timeout can only be higher than the default one in development mode (`getMode().development`). E.g. in prod mode it'd be the `min(default, specified)`.
2. Update the amp-access.md

[2016-08-04 18:59] #4231 closed

[2016-08-04 19:08] lannka commented on #4352
No really.

[code]

[2016-08-04 20:40] powdercloud commented on #4367
On the other hand 'src' is easy to remove so I made a PR for doing that.
https://github.com/ampproject/amphtml/pull/4381

[2016-08-04 20:41] kozlice commented on #4344
Thanks, @dvoytenko. I've created a PR, but there is a small problem with test coverage for production mode behavior.

[2016-08-04 20:42] #4370 closed

[2016-08-04 21:33] michaelkleber commented on #4326
The URL used for doubleclick ad targeting is the one provided in the document's `<link rel="canonical">`.  @kbnaik Do you have a use case where you want the ad targeting URL and the AMP canonical URL to be different?

[2016-08-04 21:34] powdercloud commented on #4367
Upon looking at extracting the video id, I don't think we should pursue this in the runtime because it doesn't seem stable. E.g., there are already these variations: https://youtu.be/UDGKqWyzuRs, https://www.youtube.com/watch?v=UDGKqWyzuRs&feature=youtu.be, https://www.youtube.com/watch?v=UDGKqWyzuRs. We'd be going down a path of encoding a bunch of heuristics, which makes the runtime slower and h

[2016-08-04 21:55] powdercloud commented on #4367
I made a PR https://github.com/ampproject/amphtml/pull/4383 for discussion.
This would invalidate a few pages but it would reduce user confusion down the road, probably.
If you want to support the URLs in the runtime instead, fine with me as well (consider the example URLs I provided).

[2016-08-04 22:06] #4374 closed

[2016-08-05 00:57] erwinmombay commented on #4372
looks like this is fixed

[2016-08-05 00:57] #4372 closed

[2016-08-05 05:00] jpettitt opened #4392 "Video iframe in amp-carousel remains visible behind image slides"
This is a weird one.  It happens on Safari and Chrome on an iphone as well as in the Facebook app web window.  It does not happen in chrome desktop emulating either of those.

The page an an `amp-carousel` element containing one video `amp-iframe` and several `figure` elements with `amp-image` children.  When I tap next to get to the image slides the video slide shows through in the space surround

[2016-08-05 16:25] #4281 closed

[2016-08-05 17:26] tdrl commented on #4352
Yes, this reproduces for me, following precisely the steps in the original report.  Here's a screenshot.  Note that the page is served from `localhost:8000` and includes at `.min`, but the request URL for `amp-ad-0.1.js` is to `cdn.ampproject.org`.  (Not shown in this screenshot: request URL for `v0.js` is to localhost:8000.)

![screenshot from 2016-08-05 13 22 58](https://cloud.githubusercontent.

[2016-08-05 17:50] shimonenator commented on #4367
Just as @dvoytenko, I would choose option 2 from proposed by @aghassemi. To solve the problem of which attribute takes precedence, may be it possible to prohibit having 2 attributes at the same time?

@powdercloud, it is not hard to extract ID with a moderate regex. Shouldn't make things slower since you're already running a regex validation for the attribute anyway. The reason to expose support f

[2016-08-05 17:57] ericlindley-g opened #4393 "Show # of new items available in [update] button for amp-live-list"
Tracking a request we've gotten to show the # of updates available in the [update] button for `amp-live-list`

Putting into "Next" milestone for now, but we'd love feedback from the community here on how important this is to you — thanks!

[2016-08-05 18:13] yieldmo-rao commented on #3176
@lannka Thanks for that! So you're saying that we listen to render-start and return a size as the return payload for that event? We have some formats wherein it resizes after the 1st resize pass - e.g. initial ad loads, causes a resize. User then starts interacting with the ad and it resizes again. So for such use cases, we will be using a combination of render-start + regular resize?

[2016-08-05 18:44] lannka commented on #4352
@tdrl could you help check if it also happened to `v0.js`?

[2016-08-05 18:46] lannka commented on #3176
@yieldmo-rao for those creatives, yes, creatives have to use the resize API.

[2016-08-05 18:56] tdrl commented on #4352
`v0.js` was loaded from `localhost:8000`, if that's what you're asking?

[2016-08-05 19:20] Gregable commented on #1411
Validator rules are live in the AMP Cache and Google Search. They will be live in the developer tools in an hour or two.

[2016-08-05 19:23] rudygalfi commented on #1411
Woot! Thanks for the update @Gregable.

[2016-08-05 19:35] rudygalfi commented on #4392
/to @ericlindley-g

[2016-08-05 19:44] ericlindley-g commented on #4392
Passing to Sriram — I believe this will be covered by the new carousel work, but we'll want to confirm. Also, if we don't release the new scrolling fix on all browsers, this could be something to fix as a one-off

[2016-08-05 21:00] kbnaik commented on #4326
I will update the same. This is a request from one of our publishers.

[2016-08-05 21:01] Gregable commented on #4074
The first one of these bullet points, which is typically the worst one, is now being addressed by a validator warning. It will soon become a validator error as pages with these issues can be broken visually on the cache, but not the origin.

[2016-08-05 21:22] #4363 closed

[2016-08-05 21:46] rudygalfi commented on #4279
Ping @avimehta. Have you had a chance to look at this?

cc @dvoytenko as he might have some ideas.

[2016-08-05 22:30] lannka opened #4397 "buildCallback invoked when hasNextNodeInDocumentOrder is false"
![screenshot from 2016-08-05 15 23 27](https://cloud.githubusercontent.com/assets/8496897/17452068/bc137426-5b20-11e6-827f-72ea7547b0b1.png)

It's a bit hard to reproduce but as you can see in the screenshot, the `buildCallback` of `<amp-experiment>` is invoked when the `children=[]`. `hasNextNodeInDocumentOrder` also returns `false`. A snapshot of the DOM is printed in the console. We can see at

[2016-08-05 22:44] rudygalfi commented on #4397
@lannka thanks for the update!

[2016-08-05 22:46] lannka commented on #4397
The call stack (on the top right corner of the screenshot) shows the `build` was triggered via

[code]

[2016-08-05 22:54] lannka commented on #4397
To reproduce this locally, please patch the diff: #4399

You can set the same break point as me, and refresh the page a couple times. Normally you see it less than 10 refreshes.

[2016-08-05 23:16] #4168 closed

[2016-08-05 23:16] lannka opened #4401 "Merge buildins/amp-ad.md into ads/README.md"
This is a clean up after making `amp-ad` an extension.

Need to remove `amp-ad` & `amp-embed` from buildin/README.md as well.

We should probably can also rename `ads/README.md` to `ads/_README.md` to float it to the top.

[2016-08-05 23:21] avimehta commented on #4279
It looks like the click events on the video controls do not get sent to `amp-analytics`. Click events on the video itself do surface.

I think the best way to track video clicks would be to add support to amp-video element to send  appropriate events to amp-analytics. @rudygalfi we had a discussion some time back about video analytics support and this is exactly what I was talking about. This is o

[2016-08-06 00:53] #3503 closed

[2016-08-06 01:03] devongovett commented on #2762
Is it possible to have an `amp-live-list` poll a different url than the page url? We provide liveblogging software to many third parties (e.g. CNN, Fox News, etc.), and they want to support amp. Since we are providing the content, our customers will not have the content directly on their amp pages, so we need a way to have amp update using content from our servers rather than the customers. We can

[2016-08-06 02:55] powdercloud commented on #4367
@shimonenator It's possible to have mutually exclusive attributes. This feature is already in use for the data-videoid and video-id and src.
Regarding runtime cost, not that I'm too worried about a regex, but note that the validation is done offline, but id extraction would be online.
I'm more worried about complexity and having something that works well. So, +1 to having services specify what the

[2016-08-06 03:16] ericlindley-g commented on #2762
That's a promising idea. In thinking through the advantage of this approach I see it as a way to have the simple markup of `amp-iframe`  with the UI flexibility of `amp-live-list`.

I imagine we would have to make sure that the target url for polling is also valid AMP, to make sure the page doesn't break or introduce any security risks on updates.

Another factor to consider is that, in this model

[2016-08-06 03:16] ericlindley-g commented on #2762
FYI to all the folks on this thread—we posted recently about [the beta release of `amp-live-list`](https://amphtml.wordpress.com/2016/07/26/live-updating-amps/) on the AMP Project blog. Please give it a try in development and let us know what you think! (this is the best time for feedback, before we push it to production)

And to walk through the options available today, for developers thinking ab

[2016-08-06 07:10] sebastianbenz opened #4405 "Support dynamic content for amp-carousel"
amp-carousel currently does not support dynamic content, e.g. varying the number of slides for different viewers. This limits the possibilities of personalizing the content of a carousel.

Originally, I planned to use amp-list for this and I was surprised to learn that it doesn't work with amp-carousel (then I realized there is a reason why it's called amp-**list**). I was trying something like:

[2016-08-06 17:01] ericlindley-g commented on #4405
@sriramkrish85 @dvoytenko  — is this possible, or would we need to build another mechanism to populate `amp-carousel` with content returned from an additional server call?

[2016-08-06 18:46] sriramkrish85 commented on #4405
carousel expects each of its child to  be one slide. So we might have to do some extra building on runtime to accomodate this and also update the carousel in runtime (ie keep rebuilding for each new response and stay at the right slide.) This is hard but not impossible. I think we could build a poll for new slides feature rather than accommodating amp-list and have the poll url passed in as conf!

[2016-08-06 18:50] ericlindley-g commented on #4405
Nice — and just to clarify, I think the intent would only be for one call on load, to populate personalized results (by locale, by CID, by some other parameter or combination of parameters collected by the server), and not multiple polls, like `amp-live-list`

[2016-08-07 09:10] cramforce commented on #4339
While not strictly necessary (can be circumvented with things like a URL shortener) I'd really like to avoid allowing this. Resources on our own origins should only be included through more direct mechanism, because we put special trust in them.
Don't we have the synthetic firebase domain (which we used during testing) we can use for this?

[2016-08-07 18:59] shimonenator commented on #4367
@powdercloud I am certainly not disputing clean up part.

I don't think that the link you shared is representative of the URL formats. Rather it's more relevant to validation of videoid itself.
As for the src and URL the problem is not as much validating it, but however extracting the videoid from the URL. We're not discussing supporting the entire Internet but only a handful of very popular embed

[2016-08-08 01:09] triblondon commented on #4064
Thanks @adewale.

I hadn't considered the idea of the Serviceworker modifying the AMP page so that it's no longer AMP compliant, but that would achieve what I'm looking for, assuming that the browser viewing my AMP page supported serviceworker.  So this would enable pages to be fully AMP compliant when displayed on third party platforms like Google search carousel, and still use AMP components whe

[2016-08-08 04:01] gkteck opened #4408 "Page-level ads"
How to add a Page-level ads using the amp-ad tag ?

<amp-ad width=300 height=250
 type="adsense"
data-ad-client="ca-pub-xxx"
data-ad-slot="???">

</amp-ad>

[2016-08-08 04:26] lannka commented on #4408
@gkteck have you tried [this](https://github.com/ampproject/amphtml/blob/master/ads/google/adsense.md)?

[2016-08-08 12:24] emirhan87 opened #4410 "amp-analytics does not send data if there is a space in UA ID"
amp-analytics does not send data when there is a space before/after UA ID.

This works fine:
"account": "UA-9876543-21"

These do not work:
"account": "UA-9876543-21 "
"account": " UA-9876543-21"
"account": " UA-9876543-21 "
1. Add a space before or after your UA ID in amp-analytics code.

Tried on amp-analytics ver 0.1

[2016-08-08 15:55] rudygalfi commented on #4410
Thanks for the report! cc @avimehta

I'm wondering if there are any opportunities to validate the ID and/or make the GA ingestion more forgiving. This is GA-specific and in the non-validated JSON blob, so it makes it a bit hard to figure out where to catch this error.

[2016-08-08 16:00] jasti commented on #4408
@gkteck Page Level tags are not supported in AMP at the moment. Can you show an example of a page where you have configured page-level adsense ads?

[2016-08-08 16:33] dvoytenko commented on #4405
@sebastianbenz @ericlindley-g For background. So far, we've generally been cautious with something like this to avoid a situation where people start to simply use AMP as a rendering engine. `amp-list` has a number of restrictions to ensure that this is not the case. We believe that where the main content is concerned, server-side rendering is for the primary performance benefit and improves embed-

[2016-08-08 16:38] dvoytenko commented on #4279
It's very possible that a play button in a video doesn't propagate click event in some platforms. That would need some research to see whether or not propagation happens and how to infer it. Another option, of course, is to support video's play/pause events directly in AMP Analytics.

[2016-08-08 16:41] dvoytenko commented on #4397
@lannka No idea yet. But could you please replace `<script>` with a `div` and see if this still happens?

[2016-08-08 16:47] #4344 closed

[2016-08-08 17:52] pbakaus commented on #4339
Didn't even think about the Firebase trick, sure, I'll use that. Whatever works :)

[2016-08-08 17:52] #4339 closed

[2016-08-08 17:52] BenDavidow commented on #4313
I'd be interested to see what you guys find. We're facing the same issue. It looks like the analytics image is failing to decode though not sure.

[2016-08-08 18:24] devongovett commented on #2762
Option 1a: The publisher could do a server side include in their amp page, wrapping content returned from our API in an `amp-live-list`. The problem with this approach is that the cache ttl on the amp page might be too long, and the publisher may use server side caching layers as well. With realtime updates, a ttl of even 5 minutes is too long.

Option 2. You mentioned several drawbacks to the `am

[2016-08-08 18:25] manishupadhyay commented on #1768
Thank you all.

I got problem resolved.
Actually i was using more than 1 style tag and some of the inline styling.
once i removed all of them, i got above problem resolved.

Thanks
-Manish

[2016-08-08 19:21] avimehta commented on #4410
Trimming all variable substitution is an option but not sure if all the vendors would like that. We can have a config level trimming setting or a variable level trimming setting. variable level trimming is discussed in #2476 but it has not gotten much love so far.

[2016-08-08 19:23] avimehta commented on #2476
Things we would like to add:

- [ ] Not (negation)
- [ ] Trim
- [ ] JSON.stringify
- [ ] Base 64
- [ ] Default Value

Feel free to edit this comment to add more or comment below and I'll collect them all here.

[2016-08-08 19:24] #4181 closed

[2016-08-08 19:26] avimehta commented on #4279
I would really like to support first class video events in amp-analytics. Then we can have events like "saw this video for 60 seconds" "saw the video to the end", "pressed play/pause", "saw the ad" (if supported) and so on. Then we can also have video related variables that are available for use. This is the kind of thing I wanted to do this quarter. Once I can put the visibility stuff behind me,

[2016-08-08 19:51] avimehta commented on #4313
@pdufour is correct about the 204 response. The data is being correctly sent but the response is empty. Since the data is getting correctly sent/collected, I think this is a low pri bug. I'll try and see if I can remove the console warning for known 204 cases. Note that this only shows up when you set #development=1

[2016-08-08 20:30] sriramkrish85 commented on #4392
this will be fixed in the new carousel. Do we want to hold off till dogfood?

[2016-08-08 21:02] nbeloglazov commented on #3578
Any update on this bug?

[2016-08-08 22:27] lannka commented on #4352
I reproduced the issue after running `gulp dist` (my mistake).

As @zhouyx has pointed out, the issue should be in [calculateExtensionScriptUrl](https://github.com/ampproject/amphtml/blob/master/src/service/extensions-impl.js#L464). `getMode().localDev` is false.

The minified JS somehow is different from the original one.

[2016-08-08 22:31] #2487 closed

[2016-08-08 23:00] dknecht commented on #4293
Can we just change how these files gets the URLs and use the parent window AMP_CONFIG?  As a follow on to https://github.com/ampproject/amphtml/pull/4376

[2016-08-08 23:05] lannka commented on #4397
@dvoytenko I don't think it's because the DOM parsing has skipped the children. Rather, the `build()` was invoked in another code path, which bypassed the `hasNextNode()` check (as you can see, the function call to `hasNextNode()` does return `false` as we expected).

Do you think we should also check `hasNextNode()` here:
https://github.com/ampproject/amphtml/blob/master/src/service/resources-imp

[2016-08-09 00:46] dvoytenko commented on #4397
/to @mkhatib

Nope. `discoverWork_` should not blankly call `build`. This is just a codepath that didn't get cleaned up the last time around. Needs to be fixed asap. I think just removing it there will be fine. We need to make sure, of course, the rest of the code doesn't get broken in that method.

[2016-08-09 00:55] #3377 closed

[2016-08-09 01:08] muxin commented on #1822
@cramforce I don't understand the issue. Mind elaborating it?

[2016-08-09 01:12] sriramkrish85 commented on #1822
@muxin i can explain tomorrow. (in case malte does not respond)

[2016-08-09 13:45] mikemaccana opened #4421 "style tags without amp-custom triggering unrelated error message in validator"
(updated)

Many users are receiving:

When boilerplate code is correct and current. A `style` tag without `amp-custom` will trigger it, even though it has nothing to do with boilerplate.

[2016-08-09 13:50] mikemaccana commented on #4421
Actually boilerplate code is new, error is misleading. A `style` tag without `amp-custom` will trigger it, even though it has nothing to do with boilerplate.

[2016-08-09 16:13] dvoytenko commented on #4421
@Gregable I also find it always confusing. I understand that it's probably some sort of "first rule that's broken reports its error". But maybe we can change priority here?

[2016-08-09 16:17] dvoytenko commented on #3578
I'll assign it to the next milestone. @Gregable ping me directly if we need to discuss it more.

[2016-08-09 16:18] dvoytenko commented on #4313
@avimehta @pdufour Unfortunately, the error cannot be removed - it's printed deep somewhere in Chrome. We typically just advise to return a tiny gif. I think the minimal possible gif size is around 30 bytes or so.

[2016-08-09 17:03] lannka commented on #4029
I'm not sure what's the current behavior of viewer receiving an unsupported message, maybe @peleyal can chime in here. But in worst case, it can ignore the message without a response, then it just doesn't work.

In case viewer rejects unsupported message, we'll have more complicated code with one more round-trip. Viewer can also returns null for unsupported message, then we'll have another differe

[2016-08-09 17:23] ericfs commented on #4029
The viewer will respond with a "no handler" error. This will be translated into a rejection with the error given as the reason.

[2016-08-09 17:50] avimehta commented on #4313
@dvoytenko I think @pdufour is talking about https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/transport.js#L65. I am not sure if exact error can be detected but if it can be detected, I was planning to suppress the warning. Do you think that will work?

[2016-08-09 18:02] lannka commented on #4029
Thanks @ericfs

Worth to mention one more advantage of the single API approach:
No deprecation process needed at viewer side. Once AMP runtime change gets rolled out, viewer can just change the implementation without introducing new API and removing old API at a later time.

[2016-08-09 18:19] Gregable commented on #4421
Agreed. We are planning to retire the old boilerplate warning fairly soon (make it a full-fledged error). As a result, this rule will go away. The rule that will catch these kinds of things at this point will be the one regarding amp-custom, so you'll get an error reporting something about a missing amp-custom attribute, which will be _much_ better.

[2016-08-09 18:22] erwinmombay commented on #4352
@lannka did you run `gulp dist --fortesting`

[2016-08-09 18:32] tldr commented on #4352
Too late @erwinmombay, you already summoned me. How may I be of service?;)
By the way: interesting project. Thanks for mentioning me unintentionally.

[2016-08-09 18:34] erwinmombay commented on #4352
@tldr my apologies! 😅

[2016-08-09 19:04] koshka commented on #4355
Initial implementation is done, please send me feedback

[2016-08-09 20:01] lannka commented on #4352
@erwinmombay yep, `gulp dist --fortesting` was the trick. And I think I also found the reason why getMode() is different in the two cases: https://github.com/ampproject/amphtml/pull/3772/files#diff-f18967811153a13559c8de21a977db03R69

@tdrl please give it a try and see if it works for you. meanwhile, I think you should in anyway explicitly add the amp-ad extension script in the header.

[2016-08-09 20:09] erwinmombay commented on #4352
correct we turn some of the getMode().property calls into booleans so that they can be DCE'd for the production build.

[2016-08-09 20:11] erwinmombay commented on #4352
apologies for not seeing this issue earlier, could have saved some peoples time. if we can improve on the docs on this (and where), let me know.

[2016-08-09 20:23] pdufour commented on #4313
@avimehta that's the one.

[2016-08-09 20:37] lannka commented on #4352
@erwinmombay it will be good to add some description to the `getMode()` function, to indicate the items that eventually got overridden and build time.

[2016-08-09 20:46] mkhatib commented on #4397
I'll look at other places where `build` is invoked and see if that can be removed or need to do a `ready` check before building. Looking quickly in `resoruces` another place that we call `resource.build()` is in `upgraded` which might cause similar problems.

@dvoytenko as you mentioned this can probably be removed. I just wanna understand the order of events that lead to the bug and why we didn't

[2016-08-09 21:13] pbakaus commented on #2851
I'm not sure this is a good idea. There are plenty of CSS boilerplates on the web that are probably all AMP compatible. Why would we reinvent the weel? Or is there anything special to AMP?

[2016-08-09 21:36] sriramkrish85 commented on #2851
@pbakaus - we would also be bootstrapping extensions. This would be more like a guideline and would help us present visually attractive samples.

@cramforce - should be able to explain why we are doing this better than i did :).

[2016-08-09 22:38] ericlindley-g opened #4423 "Images with responsive layout don't appear in <amp-carousel layout='responsive'> (canary / slidescroll experiment)"
To repro:

Toggle dev channel and amp-slidescroll on the [experiments page](https://cdn.ampproject.org/experiments.html)

Look at the carousels on the following pages:
[example 1] (https://cdn.ampproject.org/c/amp.usatoday.com/story/87534472/)
[example 2] (https://cdn.ampproject.org/c/www.ansa.it/amp/sito/notizie/tecnologia/internet_social/2016/08/05/facebook-guerra-ai-titoli-esca_21fa9d64-a600-44

[2016-08-09 22:39] ericlindley-g commented on #4423
Passing to @sriramkrish85  as part of the carousel enhancement work

[2016-08-09 23:14] mkhatib commented on #4397
Thanks for the descriptive issue, patch and initial debugging. Sent out a fix, please take a look.

[2016-08-09 23:52] dandv commented on #3343
@HerbertL: [experimental forms support](https://github.com/ampproject/amphtml/blob/master/extensions/amp-form/amp-form.md) has been available since June.

[2016-08-10 00:21] tdrl commented on #4352
Thanks for the diagnosis, everybody!  I think a note about requiring `gulp dist --fortesting` in the `DEVELOPING.md` file, where it talks about the document proxy, would be a big help.

[2016-08-10 00:43] avimehta commented on #4313
I don't think it is possible to detect what kind of error occurred. I did not want to remove the warning altogether because there might be legitimate reasons for image request to fail. Therefore, I changed the wording and made the warning show up only in dev builds.

[2016-08-10 01:00] powdercloud commented on #4367
Yeah you have a point. Perhaps the best compromise on the src attributes is to specify the allowed values relatively precisely with a regexp in the validator. E.g., for YouTube we'd allow rougly `https://www.youtube.com/watch?v=[^&]+`, but not any of the shortened URLs (youtu.be) or stuff with additional parameters, etc. Then the runtime / amp-youtube extension can assume that the src attribute co

[2016-08-10 01:47] shimonenator commented on #4367
@powdercloud requiring a certain format of a URL is not a good idea: each publisher gets their urls in a different way: some copy URL from the address bar, some click share button and copy share URL, some use oEmbed or similar tech to get more info about the embed. Each form brings its own URL format, and requiring specific URL structure is then going to be even more burden as well as more error p

[2016-08-10 02:14] rudygalfi commented on #4367
I think there's a reasonable middle ground we can reach here, but I do want to call out the slippery slope.

There are a number of other instances in designing AMP features where if we can save the client from needing to do work that can reasonably happen elsewhere, we do that. I think having a well-documented API around how a video ID should be passed as an input is a reasonable place to have the

[2016-08-10 02:52] rudygalfi commented on #1597
Yes, haven't been able to prioritize this yet. Pull requests welcome. :)

[2016-08-10 05:45] erwinmombay commented on #4189
@dvoytenko sorry didnt see this. should be easy to implement. could you point me to the style guide you are wanting to follow?

[2016-08-10 08:19] erwinmombay commented on #3870
fixed through https://github.com/ampproject/amphtml/pull/4174

[2016-08-10 08:19] #3870 closed

[2016-08-10 08:20] erwinmombay commented on #3673
closed through https://github.com/ampproject/amphtml/pull/3683

[2016-08-10 08:20] #3673 closed

[2016-08-10 08:21] erwinmombay commented on #3714
@zhouyx can you add amp-sticky-ad in https://github.com/ampproject/amphtml/blob/master/extensions/README.md

think that is the only one left missing

[2016-08-10 08:22] erwinmombay commented on #3714
although in saying that we have newer extensions that probably arent on there again. will review

[2016-08-10 08:22] erwinmombay commented on #3451
this should be obsolete because of the large redesign.

[2016-08-10 08:22] #3451 closed

[2016-08-10 08:24] erwinmombay commented on #1737
closing this as expectjs is not really that maintained anymore.

[2016-08-10 08:24] #1737 closed

[2016-08-10 09:11] adewale commented on #1050
See: https://github.com/ampproject/amphtml/issues/3742 and https://github.com/ampproject/amphtml/blob/master/examples/viewer.html

[2016-08-10 16:16] sebastianbenz opened #4437 "amp-form: support for input=image"
I was surprised to see that amp-form supports input=image:

[code]

Is this intended? Won't this lead to potential viewport jumps?

//cc @kul3r4

[2016-08-10 16:21] shaneleonard121 opened #4438 "Pointing of desktop version to our AMP version or Google's CDN?"
Hi TeamAmp,

We've created AMP pages for every stock in the world, e.g. https://amp-api.stockflare.com/stock?ric=googl.o but are wondering where to we set the meta tags in our desktop version to point to.

Do we link the version to our AMP pages or to the CDN?

- i.e. to https://amp-api.stockflare.com/stock?ric=googl.o
- or https://cdn.ampproject.org/c/s/amp-api.stockflare.com/stock?ric=googl.o

M

[2016-08-10 16:22] dvoytenko commented on #4438
/cc @rudygalfi

[2016-08-10 16:27] rudygalfi commented on #4438
Can you check out this page and let me know if it's helpful?

https://www.ampproject.org/docs/guides/discovery.html

[2016-08-10 16:28] rudygalfi commented on #4438
Ah, just read more closely: You wouldn't point at the CDN explicitly, so it would be the first link.

[2016-08-10 16:29] shaneleonard121 commented on #4438
Ah, thanks a million @rudygalfi we went through it but concluded that we should point at the CDN :( Thanks for the pointer. Shane cc: @stratmm

[2016-08-10 16:29] #4438 closed

[2016-08-10 16:35] dvoytenko commented on #4189
See here: https://google.github.io/styleguide/javascriptguide.xml#Naming

"Private properties and methods should be named with a trailing underscore."

As much as I'd prefer the other way around, this is the common style right now in our repo. If we change it - we'll just do a global replace. As it stands, however, I believe we are using trailing underscore as an indication that the name can be ob

[2016-08-10 16:42] dvoytenko commented on #4313
@avimehta Detecting error is possible. Suppressing it is not. That's just how browsers log image errors - we can catch it but no way to hide it. Definitely feel free to check around and see if you can come up with something to suppress it, though - that'd be nice.

[2016-08-10 16:44] shaneleonard121 opened #4439 "No (lightening bolt) amp icon for amp content in search results"
Hi TeamAMP,

When I search for our amp content on Mobile Safari it says "mobile friendly" but there is no (lightening bolt) amp icon.

See screenshots here: http://imgur.com/a/lIku3

Are those icons for the Top Carousel only?

Thanks again for the insight.

Shane cc:@stratmm

[2016-08-10 17:18] dvoytenko commented on #4439
/cc @rudygalfi

[2016-08-10 17:25] rudygalfi commented on #4439
This will be a better place to surface issues to Google product teams: https://productforums.google.com/forum/#!topicsearchin/webmasters/category$3Aaccelerated-mobile-pages-amp%7Csort:relevance%7Cspell:false.

One quick thing that comes to mind: Are you using the special developer preview link that Google announced? Google's search results don't currently show AMPs by default but you can check out

[2016-08-10 17:25] #4439 closed

[2016-08-10 17:30] ericlindley-g opened #4440 "Bug: lightbox with light scrim (instead of totally black layer) reveals pages jump on entry when in AMP viewer context"
To repro:

On mobile device or mobile emulator: go to a site that implements a modal rather than full-page lightbox, displayed in an AMP viewer: [example](https://www.google.com/amp/m.ebay.com/sch/amp/Electronic-Components/182412/bn_2311295/i.html)

Tap info button in header for carousel at the top of the page—you can see that the pages jumps to adjust for the header on the AMP viewer

Not sure wh

[2016-08-10 17:31] erwinmombay commented on #4352
@lannka will keep open till i fix docs

[2016-08-10 17:32] lannka commented on #4352
Oh, that will be great. Thanks!

[2016-08-10 17:33] shaneleonard121 commented on #4439
@rudygalfi @dvoytenko thanks a million for the help. Much appreciated.

[2016-08-10 17:49] ericlindley-g opened #4441 "Bug: Slidescroll carousel in lightbox sometimes gets stuck (swipe gesture has no effect)"
Tap on hero image in [example page](https://cdn.ampproject.org/c/www.dailymail.co.uk/news/article-3727174/amp/French-gymnast-breaks-leg-horrific-snap-echoed-arena-stretchered-standing-ovation.html)

Swipe around—if I do this enough times, at some point the image jumps unexpectedly, and touch no longer seems to register on the image, so swipe stops navigating the carousel

[2016-08-10 17:54] ericlindley-g opened #4442 "Support ad-refresh in amp-carousel"
Feature request to support ad-refresh in amp-carousel. That is:
1. User swipes to ad in carousel, which displays as normal
2. User swipes away from ad
3. When the ad is no longer visible via the carousel, the ad gets a message that it is no longer visible, at which point it can choose to do nothing, or to refresh with a different ad
4. When the user swipes back to the same slide that held the ad i

[2016-08-10 18:05] ericlindley-g opened #4443 "Bug: slidescroll <amp-carousel> does not wrap captions in the same way as previous <amp-carousel>"
To repro: Open lightbox by tapping on the top image at [the example](https://cdn.ampproject.org/c/www.dailymail.co.uk/news/article-3727174/amp/French-gymnast-breaks-leg-horrific-snap-echoed-arena-stretchered-standing-ovation.html)

Observe that the captions overflow when you are opted into amp-slidescroll experiment

[2016-08-10 18:14] jonbuckley33 opened #4444 "Amp-fit-text Overflows Containing Box"
In certain scenarios, amp-fit-text makes its contained text too large: the text overflows the amp-fit-text's containing box in the horizontal direction. The scenarios that I've seen this happen in is "tall" containing boxes. Eg., 50px by 100px boxes.

You can see an example of this issue on this [JSBin page](http://jsbin.com/gevasesaka/edit?html,output).

Issue occurs in Chrome. AMP version 147034

[2016-08-10 18:38] dvoytenko commented on #4437
Hmm. Good point.

/cc @rudygalfi @ericlindley-g @mkhatib

[2016-08-10 18:45] #4169 closed

[2016-08-10 19:11] dvoytenko commented on #4018
I agree with `searchMethod = scope|closest` or `closest: true`. These will map very clearly to the standard `Element.querySelector` and `Element.closest` APIs.

[2016-08-10 19:13] sriramkrish85 commented on #4441
fixed by #4424

[2016-08-10 19:13] #4441 closed

[2016-08-10 19:14] sriramkrish85 commented on #4423
Fixed

[2016-08-10 19:14] #4423 closed

[2016-08-10 19:14] sriramkrish85 commented on #4443
fixed by #4424

[2016-08-10 19:14] #4443 closed

[2016-08-10 19:40] #4352 closed

[2016-08-10 19:40] #3970 closed

[2016-08-10 20:14] dvoytenko commented on #4367
I'd be in favor of supporting an embed-like common `src` attribute. For inspiration, see here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/embed

I believe, what to do when both `src` and `data-videoid` is specified is a small-ish detail we can support fairly easily. And we need only a very mild validation on `src` URL itself.

[2016-08-10 20:14] dvoytenko commented on #4367
/cc @ericlindley-g

[2016-08-10 20:41] Gregable commented on #4367
This is a good discussion. A few thoughts:

@shimonenator, I tried timing your regexp on a simple youtube.com URL and it looks like parsing + running the regexp takes around 100ms in Chrome on my desktop with beefy CPUs. Probably slower on a phone. I think you believe that validation is happening anyway, which isn't correct. Validation never runs on the client side for a document unless `#developm

[2016-08-10 20:42] sebastianbenz commented on #4437
I don't get any validator errors on our sample (this might have other
reasons).

It's also not mentioned in the docs:

https://github.com/ampproject/amphtml/pull/4448

On Wed, Aug 10, 2016 at 9:32 PM Mohammad Khatib <notifications@github.com>
wrote:

[2016-08-10 20:43] rudygalfi commented on #4377
/to @dvoytenko

[2016-08-10 20:53] rudygalfi opened #4449 "Allow amp-analytics visibilitySpec to tracking elements other than amp-*"
The current amp-analytics visibilitySpec implementation requires elements to be AMP custom elements like amp-img or amp-youtube. For use cases like tracking a feature block on the page (e.g. related articles section), this is insufficient and may inspire hacky beahviors like (mis)using amp elements as visibility trackers.

The proposal to figure out some way to extend the visibilitySpec to non-amp

[2016-08-10 20:55] Gregable commented on #4437
Cannot reproduce. I get validation errors for this. Try https://validator.ampproject.org/, I used the following doc:
[code]

And get back the error:
`The attribute 'type' in tag 'input' is set to the invalid value 'image'.`

[2016-08-10 20:55] rudygalfi commented on #1297
FYI: I opened #4449 to track visibilitySpec supporting non-`amp-*` elems, which was originally brought up in https://github.com/ampproject/amphtml/issues/1297#issuecomment-213005777.

[2016-08-10 20:58] mkhatib opened #4450 "Consider refactoring some short variables in resources for better debugging"
In Resources we use the short variable `r` for `resources` sometimes makes it difficult to debug or do a proper code search.

[2016-08-10 21:17] mkhatib opened #4451 "Cleanup Experiment for ios-overflow-x"
Followup to #4382, this is to track the removal of the experiment after testing on canary.

[2016-08-10 21:24] avimehta commented on #4449
iirc, we decided that using a dummy element at the end of featured article is okay. Lets keep this open though to collect more usecases.

[2016-08-10 21:27] lannka opened #4452 "Remove the "/base" prefix in the file serving path of Karma tests"
Right now, one difference between our test environment and local dev environment is the file serving path. Karma by default put a `/base` prefix to all the files.

For example, in test env:
[code]

In local dev env:
[code]

This discrepancy costs us some extra logic to handle the path. For example [here](https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L209).

This can be eliminat

[2016-08-10 21:48] shimonenator commented on #4367
@rudygalfi one of the problems with video id is that there's no vendor documentation on the extraction of the ID. By saying it's too much burden to support the extracting, you're essentially asking publishers to do the guessing and carry the burden. Which is understandable but very error prone.

@Gregable 100ms is quite concerning, since you're not processing megabytes of data... There's certainly

[2016-08-10 21:54] jonbuckley33 opened #4454 "Amp-analytics Visibility Spec Doesn't Properly Track Amp-Lightboxes"
The amp-analytics component supports the ability to set up triggers that fire when an amp-component has been visible on screen for a defined amount of time. However, this feature is buggy when the trigger is set up on an amp-lightbox.

When a visibility trigger is set up with the "selector" property pointing to an amp-lightbox, the trigger will correctly deduce when the lightbox becomes visible (w

[2016-08-10 21:55] Gregable commented on #4367
@shimonenator, if it helps here is the doc I used. It's a pretty quick and dirty test:

[code]

I suspect most of the time is spent constructing the regexp object initially and that putting the test() in a loop would be fast for later calls.

[2016-08-10 22:16] ericlindley-g opened #4455 "Deactivate <amp-live-list> if display:none"
This fixes the case where <amp-live-list> is hidden by an A/B experiment, by stopping unused instances of the component from issuing polls

[2016-08-10 22:18] avimehta commented on #4313
discussed this with @dvoytenko and he explained how using `dev().warn()` is not desirable. The gist of the discussion is that it is okay to have false positive if the alternative is that the errors never get surfaced. An easy way to solve this would be for the vendor to serve a small gif image or start using sendBeacon.

[2016-08-10 22:20] #4145 closed

[2016-08-10 22:42] shimonenator commented on #4367
@Gregable compare to http://jsbin.com/husuwiqoki/edit?js,console

[2016-08-10 22:46] powdercloud commented on #4367
I think doing something elaborate - such as attempting to parse all possible YouTube URLs, including playlists, shortened URLs, stuff with parameters, etc ...
... increases complexity, thereby introducing bugs, undocumented behavior, length of documentation, etc. This makes it harder for developers to use this stuff.
... decreases performance offline and online
... makes it more difficult for othe

[2016-08-10 22:48] lannka opened #4457 "Let viewer tell runtime if it has capability for "cid" storage"
When iframed, right now the runtime blindly assume the viewer can persist cid for it, which might not be true. Ideally, runtime should communicate with viewer via the [hasCapability API](https://github.com/ampproject/amphtml/blob/fe63400cb62cd132ae279357e6d546fbd9d0010c/src/service/viewer-impl.js#L417), which requires viewer to write the URL fragment accordingly.

@dvoytenko

[2016-08-10 22:54] Gregable commented on #4367
@shimonenator , I'm not an expert, but I think that v8 pre-builds the regexp when it first parses it or lazily on each pass through the loop. I doubt you are paying the setup cost on all runs through that loop, only the actual matching cost. It may even be caching the operation result or observing that the result is not used and has no side-effects and optimizing it away (this is why I added the `

[2016-08-10 22:55] shimonenator commented on #4367
@powdercloud if you go with either `src` only or `data-` attributes, you won't be running against complexity. Again, assuming we're only talking about high profile names, such as YouTube, there's always going to be numerous eyes and hands to provide an update to the regex quickly, if such a need arises.
Testing is going to be done by unit tests, so hardly any overhead either.
I do not think docume

[2016-08-10 23:13] rudygalfi commented on #4454
/to @ericlindley-g

[2016-08-10 23:14] powdercloud commented on #4367
@shimonenator The data- attributes are always allowed except for those that are explicity mutually exclusive. E.g., I can say it's either src or data-videoid but not both, but I cannot say that if it's src, then no data- parameter can be specified. Note also that the data attributes interact with other amp features, e.g., an amp-youtube tag could be an item in an amp-live-list, and then there'd be

[2016-08-10 23:14] rudygalfi commented on #4444
/to @dvoytenko

[2016-08-10 23:20] rudygalfi commented on #4330
Thanks -- Closing this out here since I suspect this isn't related to the AMP JS library (which is what issues in this repo track), but I have passed along to some folks who may be able to look at this. We'll reopen if it does turn out there's an AMP library fix to make.

[2016-08-10 23:20] #4330 closed

[2016-08-10 23:21] shimonenator commented on #4367
@Gregable I was worried about pre-compilation which is why I've added 2 tests in there. Here's an updated test with some additional operations. Note, the slowdown is between 2 and 3 times: http://jsbin.com/giginotena/1/edit?js,console

[2016-08-10 23:27] ericlindley-g commented on #4292
Putting into "next", as this would be nice to make some progress on soon

[2016-08-10 23:31] ericlindley-g commented on #4343
@Gregable Given the blocking tasks before being able to tackle this, it sounds like "backlog" is the right spot, but please update the milestone if work is planned in the short term

[2016-08-10 23:32] rudygalfi commented on #4457
@lannka Can you drop this into a milestone? "Current" (working on now), "Next" (soon), or "Backlog" (future)

[2016-08-10 23:33] ericlindley-g commented on #4347
@erwinmombay, can you set a more firm milestone when you have a sense of when you'll work on this? Thanks

[2016-08-10 23:33] rudygalfi commented on #4452
Putting in Current milestone as it looks like there's ongoing work. Please confirm or correct.

[2016-08-10 23:33] ericlindley-g commented on #4358
@sriramkrish85, can you set a more firm milestone when you have a sense of when you'll work on this? Thanks

[2016-08-10 23:34] rudygalfi commented on #4421
Is this coming soon enough that I can add Current milestone for tracking? If not, please reclassify to Next or Backlog.

[2016-08-10 23:34] ericlindley-g commented on #4361
@avimehta  Is this fixed?

[2016-08-10 23:35] rudygalfi commented on #4361
Fixed with #4265? @avimehta or @jridgewell Can you confirm?

[2016-08-10 23:37] #4361 closed

[2016-08-10 23:43] ericlindley-g commented on #4359
@jridgewell Do you have a good sense of who should own this? I see that @sriramkrish85 unassigned

[2016-08-10 23:50] booc0mtaco commented on #4330
@rudygalfi thanks! I didn't see any special handlers for inertial scroll after perusing the code here, so it's probably within the AMP "engine" itself (whatever loads the AMP content after clicking the lightning bolt). Thanks for following up.

[2016-08-11 00:11] Gregable commented on #4343
Will do. I do want to implement this, but there are some more urgent things to tackle first.

[2016-08-11 00:15] dvoytenko commented on #4444
Thanks for filing!

Assigning /to @zhouyx

[2016-08-11 00:25] rudygalfi commented on #4397
@lannka Does this need to roll out before we should release amp-experiment?

[2016-08-11 00:31] lannka commented on #4397
@rudygalfi, yes let's wait. Otherwise page will break.

[2016-08-11 00:38] shimonenator commented on #4367
@Gregable I've optimized my original regex a little, to make it better structured and easier to read and extend in the future, here's an ![updated regex]:(https://www.debuggex.com/i/h0Db9KgYjoHg8gA3.png)

[Debuggex Demo](https://www.debuggex.com/r/h0Db9KgYjoHg8gA3)

It runs at about the same speed — even in the worst case scenario we're talking about ~0.1ms: http://jsbin.com/vumeziyegi/1/edit?js,c

[2016-08-11 01:43] #3712 closed

[2016-08-11 02:17] lannka commented on #4029
FYI, the PR is merged. It should be backward compatible. Search viewer can start development now, but please deploy to production only when the runtime change is fully live (so that you don't need to handle backward compatibility at your side).

[2016-08-11 02:17] #4029 closed

[2016-08-11 05:36] aghassemi commented on #4440
👍 For the general lightbox 2.0 case which can lightbox anything in the page, it would be hard to hide changes to the page in the background (the obvious work-around is a solid background). In this case (or generally lightboxes that are just modal dialogs) however we should be able to eliminate any page jumps.

[2016-08-11 08:19] sebastianbenz commented on #4437
Missing validation errors was our fault. I've created a PR for updating the docs: #4448. Closing this issue as WAI.

[2016-08-11 08:19] #4437 closed

[2016-08-11 10:37] rifler opened #4463 "Intent-to-implement: Yandex.Metrica and amp-analytics integration"
Add new block to vendors.js, examples and readme.
Add new event with `timeout` type to fire request once after a specified number of seconds.

[2016-08-11 12:24] ericfs commented on #4029
Do you have a link to the PR?

[2016-08-11 12:58] FabienU opened #4464 "Adsense google_ad_channel supporting"
It is possible to add supporting of google_ad_channel property by amp-ad with type adsense?

[2016-08-11 16:02] eike-hass opened #4465 "amp-accordion: Tracking open events"
Similar to Issue #4292 we need to track interactions with the amp-accordion. Getting an interaction event (click/tab) would be ideal. Wold a common solution be possible?

[2016-08-11 16:14] lannka commented on #4029
Yes, it is in the thread. But I can link it again: #4366

[2016-08-11 16:20] skylinemarketing commented on #4029
Did it work?

[2016-08-11 16:22] eike-hass commented on #4465
I just noticed this could be easily achieved using the default click tracking. I guess this can be closed.

[2016-08-11 16:23] lannka commented on #4029
@skylinemarketing will work until viewer implement their part. But as I said, the change is backward compatible, so it works with current viewer as well.

[2016-08-11 18:19] jridgewell commented on #1093
Closed by #4411.

[2016-08-11 18:19] #1093 closed

[2016-08-11 18:29] rudygalfi commented on #4465
Yes, the `click` trigger in amp-analytics should work.

[2016-08-11 18:29] #4465 closed

[2016-08-11 18:32] dbspringer opened #4471 "Intent To Implement: Pubmine ad network for amp-ads"
Support for [WordAds/AdControl](https://wordads.co/) ad network hosted at pubmine to `amp-ad` elements.

**Comments**
Automattic will be submitting a PR via the `Automattic/amphtml` fork from the `add/ad-pubmine` branch. See: https://github.com/Automattic/amphtml/tree/add/ad-pubmine (work in progress)

Original thread: https://github.com/Automattic/amp-wp/issues/217

[2016-08-11 18:45] jridgewell commented on #4359
Oh, I thought @sriramkrish85 did the coding for History. @dvoytenko would be next in line, since @cramforce is out.

[2016-08-11 18:46] aghassemi opened #4472 "Consider using 3p iframe for <amp-viz-vega>"
Related to https://github.com/ampproject/amphtml/issues/3991 and https://github.com/ampproject/amphtml/pull/4461

Two reasons:
1. d3 and vega scripts have side-effects (they add global vars and who knows what else they do.)
2. The giant 500kb third-party script for vega and d3 can be parallel parsed when in an iframe instead of blocking the main thread.

@dvoytenko @erwinmombay

[2016-08-11 19:05] Gregable commented on #1064
Since the runtime and validator have different release cycles due to the environments they run in, this wouldn't really work the way you'd like it to. We could have a version that is at github head, but it wouldn't match up to the runtime features and would probably cause more confusion than it's worth.

Thoughts? OK to close as not feasible?

[2016-08-11 19:08] Gregable commented on #1967
I think the solutions here are probably sufficient. We now also have http://npmjs.org/amphtml-validator and https://validator.ampproject.org/ which are probably what most people will use.

[2016-08-11 19:08] #1967 closed

[2016-08-11 19:18] Gregable commented on #1968
Following up, @dandv @jpettitt . What is the use case in mind here? It seems like using either the nodejs library (https://www.npmjs.com/package/amphtml-validator) or using validator.js directly are going to be faster in all cases than shipping an HTML document over the wire to cdn.ampproject.org and waiting for a response.

[2016-08-11 19:21] Gregable commented on #4074
@powdercloud, do we have specific examples of the second or third case causing any real harm? An unclosed `<amp-img>` tag shouldn't break anything in terms of rendering. I'd hate to invalidate a bunch of pages that have no visible issues at this point.

I'd like to clarify what else we intend to do here beyond the manufactured `<body>` changes already in progress.

[2016-08-11 19:54] rudygalfi commented on #1064
Yeah, OK to close. It's been awhile since I've heard any feedback related to this.

[2016-08-11 19:54] #1064 closed

[2016-08-11 20:01] Gregable commented on #4216
This will be live in an hour or so in amp validator.

[2016-08-11 20:01] #4216 closed

[2016-08-11 20:08] Gregable commented on #3083
This will be live in an hour or so in amp validator.

[2016-08-11 20:08] #3083 closed

[2016-08-11 20:25] sriramkrish85 commented on #3465
Since this is now experimental `amp-slidescroll`, ill mark this as fixed!

[2016-08-11 20:25] #3465 closed

[2016-08-11 21:10] mkhatib commented on #4397
Unfortunately that fix broke a test, I reverted so now investigating and trying to fix it asap.

[2016-08-11 21:47] erwinmombay commented on #4347
this is fixed

[2016-08-11 21:48] erwinmombay commented on #4347
closed by https://github.com/ampproject/amphtml/pull/4470

[2016-08-11 21:48] #4347 closed

[2016-08-11 21:51] powdercloud commented on #4074
[code]

I think in this example, the attributes on the second image look as if they did something - e.g., cause some item to be updated, etc., but because they're not direct children of the div items they don't mean anything; e.g., they may not update or the amp-img may not appear as a seperate item in some control, etc. It still validates because both id and data- attrs are allowed globally. Simi

[2016-08-11 21:56] rudygalfi commented on #4463
cc @avimehta

[2016-08-11 22:17] pbakaus commented on #3501
@dvoytenko (because we just talked about this in some other context)

[2016-08-11 22:17] Gregable opened #4477 "Missing </amp-img> tags"
When replacing `<img>` tags with `<amp-img>` tags is fraught with a specific type of mistake. `<img>` tags are void tags in HTML5, meaning that they are self-closing. `<amp-img>` cannot be made to be self-closing without changing a browser's HTML parser.

Changing `<img ...>` to `<amp-img ...>` is a mistake.
Changing `<img ...>` to `<amp-img ...></amp-img ...>` is correct.

The mistake may not cau

[2016-08-11 22:19] Gregable commented on #4074
I've split out the `</amp-img>` issue into a separate issue here: https://github.com/ampproject/amphtml/issues/4477

I think the other problems have warnings in place now and will get stricter over time, so I'm closing this.

[2016-08-11 22:19] #4074 closed

[2016-08-11 22:25] fletc3her opened #4478 "Whitelist <optgroup> Tags In AMP-Form"
The `<optgroup>` HTML tag should be whitelisted in AMP-Form support. It has been part of the HTML spec since 4.01 and caniuse confirms that it is among the HTML tags which have universal support among both desktop and mobile browsers.

This URL http://www.fletc3her.com/optgroup.html reproduces the issue and full code is reproduced below. The following code should be a valid form with the extended

[2016-08-11 22:25] rudygalfi commented on #4478
/to @mkhatib

[2016-08-11 22:28] pbakaus opened #4479 "Allow page to react on SW activate when using <amp-install-serviceworker>"
In order to improve the PWA+AMP story, an AMP page needs the ability to show a paragraph, banner or toaster of some sorts to notify the user when a Service Worker has been installed and activated, something like:
### Option 1: on="activate:..."

[code]

Unfortunately, the method above, while elegant, can be exploited: The above would allow somebody to abuse SW to simply show an full screen lightbo

[2016-08-11 22:32] pbakaus commented on #4479
FYI, here's an example of how to query for the active state (for whoever takes on the implementation): https://github.com/GoogleChrome/Propel/blob/second-rev/src/client/push-client.js#L28

[2016-08-11 23:03] Gregable commented on #4478
This is a simple validator fix. If it's ok with you @mkhatib, I'll go ahead and implement.

[2016-08-11 23:21] dvoytenko commented on #4478
@Gregable Yes. Let's do.

[2016-08-11 23:26] dvoytenko commented on #4477
Can we just do it in validator? We can certainly do some of the warnings in development mode for `amp-img`, but it seems like validator can do them as easily?

We certainly cannot do that.

[2016-08-11 23:30] rudygalfi opened #4482 "amp-analytics e-commerce features"
amp-analytics needs to support a way for an e-commerce site to be able to track events and capture any relevant information concerning the content on the page, such as product information.

Design is still TBD.

cc @avimehta @borisf

[2016-08-11 23:37] Gregable commented on #4477
Too many pages will break to do this in validation at this point. If we make it a warning, we'll probably never be able to promote it to an error. We really want to avoid having permanent warnings in validation because it'll teach folks to ignore them. As a result, I think there are no good validation routes available.

Why not? This is **exactly** what would happen if the </amp-img> tag were in p

[2016-08-11 23:42] dvoytenko commented on #4477
The time when we normally operate, there might not be even siblings parsed yet.

[2016-08-11 23:45] dvoytenko commented on #4472
Yes. We can certainly do that. There are some negatives with iframes of course.

[2016-08-11 23:46] #4313 closed

[2016-08-11 23:47] avimehta commented on #4313
Note that the warning in console is not going to go away. Just the text has been changed to indicate that the response was unparseable and wasn't an image.

[2016-08-11 23:50] dvoytenko commented on #4359
Hmm. Would seem very odd that history test would have to be skipped b/c of this. Any indication at all what was an issue?

[2016-08-11 23:50] Gregable commented on #4477
Maybe just restrict the scope of this issue to a runtime error plus some added documentation then.

[2016-08-11 23:50] dvoytenko commented on #4471
/cc @rudygalfi @avimehta

[2016-08-12 00:03] dvoytenko commented on #4457
/cc @ericfs Could you please confirm you currently include `#cid=1` in viewer params?

[2016-08-12 00:05] dvoytenko commented on #4377
Yep. Just needs to be fixed. /to @muxin

[2016-08-12 00:14] rudygalfi commented on #4471
cc @jasti @tomremo

[2016-08-12 02:48] zhouyx commented on #4377
Is this related? @dvoytenko #3968

[2016-08-12 04:28] #4452 closed

[2016-08-12 05:17] #4397 closed

[2016-08-12 09:27] erwinmombay opened #4487 "Too many errors"
we are just reporting too many errors right now to our reporting server. We need to stop sending out duplicate errors for a single page. for example a single page can fire over 10 "pause() called on an already paused resource" error for every time a page goes in active.

options:
- do sampling on go server code or in js
- add lookup table in js code to not report error's its reported for a page be

[2016-08-12 12:23] ericfs commented on #4457
Yes, we always set `#cid=1`. We do not set a `cap` param.