[2017-10-26 15:33] prateekbh commented on #11640
couple of questions:
a.) I don't see dev logo/button/share/3dots implemented in system-layer.js, are they yet to be implemented?

b.) why do i always get mobile view on desktop as well? do i need to do to enable desktop?
<img width="1431" alt="screen shot 2017-10-26 at 9 02 57 pm" src="https://user-images.githubusercontent.com/5960497/32062104-1f0d92ca-ba91-11e7-8254-d8482728158f.png">

[2017-10-26 15:55] aliaghdam commented on #10957
+1

[2017-10-26 16:05] rudygalfi commented on #6415
I think #10891 is still pending, but the feature is usable. The [documentation](https://www.ampproject.org/docs/reference/components/amp-analytics#error-trigger) calls out a known issue. @zhouyx Can you confirm?

[2017-10-26 16:06] rudygalfi commented on #10891
@zhouyx I think we should schedule this soon. Do you have an estimate on the size of effort required?

[2017-10-26 16:11] #11642 closed

[2017-10-26 16:43] aghassemi commented on #11817
@airarm Your build needs to use a tool (e.g. Grow) to process and inline the css first to output valid AMP as output before validating.

[2017-10-26 16:43] #11817 closed

[2017-10-26 17:13] newmuis commented on #11640
(a) Looks like this may have regressed; I'll file an issue to investigate, but the nice thing about the CSS grid implementation is that it should be easy to add things to this later.
(b) Yes, you'll need to enable the `amp-story-desktop` experiment.

[2017-10-26 17:19] rsimha-amp commented on #6039
Note to self: Opera is popular in Indonesia

[2017-10-26 17:26] miquelferrandiz opened #11818 "Intent to Implement: Behavioral Patterns"
## Background

Units such as advertisements or email modals can unintentionally provide a poor user experience if displayed among page content while the user is actively consuming content. This can be especially true with the increased prevalence of rich-media ads alongside static content, which are often distracting and intrusive.

At BounceX, we’ve found that waiting to display these until after

[2017-10-26 17:45] mianuddin commented on #10826
@aghassemi Quick clarification, what data type does the `opt_expand` parameter for the `toggle_` method accept and what is it's purpose?

[2017-10-26 19:02] jamesshannon commented on #10230
Any updates here?

This is a blocker for launching a top site. SImilar to https://github.com/ampproject/amphtml/issues/10230#issuecomment-318026363 they're an ecommerce company and the sidebar is showing categories. Categories show subcategories on click. And when those are shown the sidebar is stuck on overflow: none;

Like the issue that was dupped 3 weeks ago (https://github.com/ampproject/amph

[2017-10-26 19:53] aghassemi commented on #10826
@mianuddin it's a boolean. Works similar to Web's `toggle` on `classList`. Maybe `opt_force` would have been a better name. Essentially if `true`, it means `expand` and if `false` it means `collapse` if not provided it means opposite of current state.

[2017-10-26 21:39] prateekbh commented on #11640
okay m kinda using css-grid for first time so excuse my noob questions. But as far as I get it if I declare columns they'll be thr irrespective of content is present or not.

e.g. in your image, if fullscreen and 3 dots are not present Sharing button will still be present 80px away from right and will not auto shift to right end. right?
is that what we want?

sample image:
<img width="416" alt="sc

[2017-10-26 21:39] #8681 closed

[2017-10-26 21:44] newmuis commented on #11640
Good point.  We can make them larger cells (similar to the `i-amphtml-story-ui-left` and `i-amphtml-story-ui-right` that we already have) and put multiple icons in the same cell.  Then use CSS to define how the icons flow within the cell.

[2017-10-26 21:52] #9625 closed

[2017-10-26 21:58] prateekbh commented on #11640
but wouldn't the problem of reparenting in case of desktop/mobile still exist?

[2017-10-26 22:20] newmuis commented on #11640
Yes, but it's entirely handled in CSS, by simply overriding the `grid-area` attribute.  The simplest way to imagine it (in my head, anyway) is having "trays" of icons like we have in the existing implementation.

Say mobile has `left` and `right`; then desktop could have `top-left`, `top-center`, `top-right`, `bottom-left`, `bottom-center`, `bottom-right`.  We already have separate CSS for our two

[2017-10-27 05:40] zhang-90 commented on #11542
Although the business requirements for the first occurrence of elements in `amp-carousel` were temporarily implemented by using the` visible` event, but relative to the number of elements in `amp-carousel`, I had to The current expectation is that there is an event that supports `amp-carousel` for the first time, or the` visible` event supports the group selector at the same time to get the elemen

[2017-10-27 05:49] camelburrito commented on #11542
the only events that get fired on repeated slide changes are `amp-carousel-change`, `amp-carousel-next`, `amp-carousel-prev`

[2017-10-27 08:53] AbdulSamadKt opened #11824 "Invalid URL protocol 'fb:' for attribute 'href' in tag 'a'."
I got an html tag error on Google webmaster tools when I link to my Facebook page using this structure "fb://page/id" on my amp based website.

The error shows **Invalid URL protocol 'fb:' for attribute 'href' in tag 'a'**. Please help me to solve the issue. Can you whitelist Facebook links which using the structure "fb://page/id"?

The advantage of using <a href="fb://page/my-id">Facebook</a> is

[2017-10-27 10:13] Integralist commented on #2376
Hi, I'm seeing this `amp_preconnect_polyfill_404_or_other_error_expected` in our logs and I've no idea what triggers it (I know very little about the amp project btw). Any one with any info? Much appreciated :-)

[2017-10-27 14:14] prateekbh commented on #11640
oh i tried this with the assumption that multiple icons can be put in same tray using same `grid-area` values but apparently that's not how it works. All the icons sharing same grid-area stack on top of each other.

Thats what you were suggesting right? Or did I mis understood?

[2017-10-27 14:54] keithwrightbos opened #11825 "Ad Fast Fetch: move safeframe render to doubleclick impl"
Recently nameframe render (3p/nameframe.max.html) has been made the default implementation for non-AMP creative xdomain render from Fast Fetch removing the dependency on Safeframe.  Code cleanup task requires moving all safeframe specific logic from AmpA4A to AmpAdNetworkDoubleclickImpl reducing code/complexity from base class.  Design should allow for implementation to specify unique xdomain rend

[2017-10-27 17:21] Gregable commented on #11824
Is there a facebook public document somewhere describing what the fb://
protocol URLs are for?

I tried to find one just now, but only see references to it being an
internal API for the facebook app itself.

On Fri, Oct 27, 2017 at 1:53 AM, Samad <notifications@github.com> wrote:

[2017-10-27 17:25] rsimha-amp commented on #6039
@aghassemi Several unit tests fail on Chrome 45. See https://travis-ci.org/ampproject/amphtml/jobs/293770286#L1373

I'm still experimenting with the browsers on which the unit tests run. See #11827

[2017-10-27 17:31] rsimha-amp commented on #7822
Sauce labs supports some real devices: https://saucelabs.com/devices

[2017-10-27 17:48] sarahgriffis opened #11829 "Amp Viewer Does Not Display Text and Overlaps Content"
## What's the issue?
The amp-viewer incorrectly overlaps content and does not display fonts.  This is only present on certain iOS / browser versions (see table below).

## How do we reproduce the issue?
*Via search:*
1. Google `not rays pizza brooklyn`
2. Click on the AMP result.

*Directly:*
1. https://www.google.com/amp/s/www.notrayspizza.com/

Notice the buttons `View Full Menu` and `Order Now

[2017-10-27 18:13] #10539 closed

[2017-10-27 18:16] #10778 closed

[2017-10-27 19:28] javiergarzac commented on #8214
Had the same issue. A work around I used was converting the `svg` to `base64` and assign it as background to my icon class using the good old `background: url('data: ...')`. Not ideal as I need to keep the css below 50kb, but its a workaround for now.

[2017-10-27 19:34] prateekbh commented on #11645
cc: @alanorozco @newmuis @choumx

As far as i can tell, all in `amp-story.css` should be important right?

[2017-10-27 20:04] rudygalfi commented on #11804
Any updates here?

[2017-10-27 20:08] rudygalfi commented on #11540
Bumping this to H2 October milestone. Has there been any further update? If this issue isn't being actively worked out, we should shift the milestone to Backlog Bugs.

[2017-10-27 20:08] rudygalfi commented on #11385
I rolled this forward to the H2 milestone. Any updates?

[2017-10-27 20:09] rudygalfi commented on #11311
Setting back to Backlog Bugs. We need to determine new milestone @aghassemi @ericlindley-g

[2017-10-27 20:10] rudygalfi commented on #11217
Setting milestone to Backlog Bugs since the milestone is stale.

[2017-10-27 20:10] rudygalfi commented on #10623
Rolling forward to H2 October milestone. Please correct if needed.

[2017-10-27 20:11] #11790 closed

[2017-10-27 20:55] bradfrizzell opened #11834 "[Master Feature] Intent to Implement: Deprecation of Delayed Fetch for DoubleClick"
# Intent to Implement: Deprecation of Delayed Fetch for DoubleClick

## Objective

Make Fast Fetch the only means of requesting/rendering ads on AMP Pages using DoubleClick <amp-ad> tags. Fully deprecate the Delayed Fetch request/rendering path for DoubleClick <amp-ad> tags.

## Background

AMP pages originally used Delayed Fetch for all ad requests, in which a standard ad tag (e.g. GPT or GPT Lig

[2017-10-27 21:18] rsimha-amp commented on #11385
This is currently blocked by the open issues in the percy repo.

[2017-10-27 21:22] sarahgriffis opened #11835 "data-amp-replace and data-amp-addparams do not work in 1508794187431"
## What's the issue?

data-amp-replace and data-amp-addparams do not work in AMP version 1508794187431

## How do we reproduce the issue?

1. Go to https://www.notrayspizza.com/
2. Click the `Order Now on Slice` button

Notice amp-id is not populated in the next page url.
<img width="1291" alt="screen shot 2017-10-27 at 5 01 19 pm" src="https://user-images.githubusercontent.com/8161401/32125350-80

[2017-10-27 22:00] rudygalfi commented on #11818
cc @ericlindley-g @aghassemi @jasti

[2017-10-27 23:13] rudygalfi opened #11836 "amp-analytics should be allowed as a sibling of amp-story"
We should update the validator so that amp-analytics can still be used as a child of <body> when the document is a standalone amp-story.

[2017-10-27 23:14] jasti commented on #11818
@miquelferrandiz thanks for the ITI.
What are all the possible iframes UXs? (e.g. showing an interstitial, shifting content down to accommodate new content, etc) Some examples from non-AMP pages would be really helpful.

[2017-10-27 23:34] jasti commented on #11834
💯 CC  @ampproject/ads Please read carefully, this is **IMPORTANT**.

[2017-10-28 00:23] dvoytenko commented on #11804
Seemingly we use ABE providers which are not used for many other purposes. What other approach would we do instead? I suppose we can move these endpoints inside amphtml repo?

[2017-10-28 03:41] dvoytenko commented on #11351
In the end, I decided to introduce `num()` extension. See #11838.

[2017-10-28 23:56] jamesshannon commented on #1156
There's a TODO where SVG tags are blacklisted in sanitizer.js that points to this bug:
  https://github.com/ampproject/amphtml/blob/70c23c642e24b673e7d852572327aac0cd9ec3f3/src/sanitizer.js#L55-L57

There are other issues (like #8214) which also point to this issue in an attempt get SVG working.

However, it's not clear to me why SVG was explicitly blocked in the first place, and if it wouldn't be

[2017-10-29 21:48] #11338 closed

[2017-10-29 21:49] #11801 closed

[2017-10-30 01:52] zhang-90 commented on #11542
I know, but what we need is that the elements in `amp-carousel` send the analysis data only at the first occurrence

[2017-10-30 05:10] camelburrito commented on #11542
@zhang-90 which events(names) are you referring to?

[2017-10-30 08:43] zhang-90 commented on #11542
`amp-carousel-change`, `amp-carousel-next`, `amp-carousel-prev`Will continue to send analysis of data, so desperately selected the `visible` event

[2017-10-30 10:40] nrjames opened #11841 "Amp Live List Update Issue"
I've discovered that a particular example of amp-live-list doesn't seem to work as it should within the amp example library. The example uses football scores which change when the scores change in the origin document. If I visit the amp page directly, the live list works. But if I visit the amp cached page on a mobile device through a google search or by emulating a mobile device in the chrome bro

[2017-10-30 12:53] ankur0890 opened #11842 "Required Validation for Checkbox and Radio"
How to put default required validation for checkboxes and radio in amp form.

Default validation of `value missing` works on id of the element but in case of set of the checkboxes, multiple id will be present as we cannot give same id to the multiple elements. I tried giving 'required'  to only first element but its not working (Always wants the first element to get checked).

[code]

Same for the

[2017-10-30 13:11] newmuis opened #11843 "amp-story not working in prerender mode"
When viewing an `amp-story` component in prerender mode, it appears that although the component's constructor is called, the `buildCallback` never gets invoked, so the UI is not shown.

[2017-10-30 13:12] newmuis opened #11844 "Handle screen orientation changes for amp-story"
`amp-story` is best viewed in portrait mode, for mobile form factor devices.  We should show a placeholder screen in landscape orientation on mobile devices:

![mock of placeholder screen](https://user-images.githubusercontent.com/1651960/32172575-79d25236-bd52-11e7-81fb-43c754ba0f15.png)

[2017-10-30 13:13] newmuis commented on #11844
Note that this should only be done for `amp-story` components that have the `standalone` attribute.

[2017-10-30 13:15] newmuis opened #11845 "Lock screen orientation to portrait on mobile devices for amp-story standalone"
For `amp-story` components with the `standalone` attribute, we should lock the screen orientation to portrait on browsers that support it.  See https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Managing_screen_orientation

[2017-10-30 13:29] newmuis opened #11846 "amp-story bookend-config-src should match amp-list src requirements"
Currently `bookend-config-src` requires the `Access-Control-Allow-Origin` header, which `amp-list src` does not.  We should reuse whatever mechanism that `amp-list` is using for `amp-story` as well.

[2017-10-30 13:40] newmuis opened #11847 "Create a responsive desktop version of the amp-story bookend"
A responsive desktop UI for `amp-story` was introduced in #11714; we should also convert the bookend to a desktop UI.

Mocks TBD

[2017-10-30 13:57] newmuis opened #11848 "Polish amp-story-desktop experiment"
- [x]  Pages should be vertically centered (currently have a `112px` top/bottom margin, which is not necessarily vertically centered.
- [x] Share button should have `background-color: rgba(255, 255, 255, 0.2)` instead of `background-color: rgba(255, 255, 255, 0.25)`
- [x] Share button should have `color: #fff` (currently inherits black color)
- [x] Share button should have `font-size: 12px` instea

[2017-10-30 14:00] newmuis opened #11849 "amp-story-desktop does not enforce that inactive pages are shown offscreen"
We normally push pages offscreen for prerendering, but `amp-story-desktop` allows some of these pages to actually be onscreen, as we translate them by a fixed amount to push them offscreen.  As a result, the user can see a pile of inactive pages at the right of their screen, if their window is big enough or their resolution is high enough:

![screen shot 2017-10-17 at 10 42 35 am](https://user-ima

[2017-10-30 14:03] prateekbh commented on #11650
i found this thing `value_regex` https://github.com/ampproject/amphtml/blob/e2f0f4c9126bac89a98e65722c8eede1a11b8285/extensions/amp-web-push/validator-amp-web-push.protoascii#L42

will this suffice our need here?

cc: @alanorozco @newmuis @choumx

[2017-10-30 14:05] newmuis commented on #11614
That's what I understood from the original report.

This will be slightly tricky as it may cause us to always fade between pages, which I'm not sure was the original intention.  For example, on iOS Safari where requestFullscreen is a no-op, how will we tell when to do this and when not to do this?

[2017-10-30 14:07] newmuis commented on #11650
Yeah, we could come up with a regex that we deem valid for page IDs.  I'm not sure if there's a standard for what `querySelector` supports?  Or if this is a browser quirk that some browsers disallow `querySelector` for IDs starting with numbers?

[2017-10-30 14:09] newmuis commented on #11714
This is all complete except for #11847, so I am closing this.

[2017-10-30 14:09] #11714 closed

[2017-10-30 14:13] newmuis commented on #11645
Styles in both `amp-story.css` and `amp-story-desktop.css` are affected, but it's not *all* styles in those files.  Some of these styles are allowed to be overridden, so there will need to be some amount of care taken not to break any existing stories with this change.  But, I think we can take a careful look during review to ensure this.

[2017-10-30 14:17] prateekbh commented on #11645
how do i know which ones are allowed to be changed? is there a doc or design docs which tells what a user can change

[2017-10-30 14:20] commadelimited commented on #6230
Hey @avimehta checking in on this functionality. You indicated on [Nov 17, 2016](https://github.com/ampproject/amphtml/issues/6230#issuecomment-261391475) that `allowLinker` would be functional when the `amp-fresh` experiment was live. But in #4715 the ff was removed by @erwinmombay. Could you offer an update on the status of the allowLinker functionality for amp-analytics? Eventbrite has a number

[2017-10-30 14:23] #10060 closed

[2017-10-30 14:24] newmuis commented on #11645
No :(

I just commented on #11832 with which ones are currently allowed to be changed, as well as a proposal for a practice that will let us determine which ones are allowed to be changed in the future.

[2017-10-30 14:29] prateekbh commented on #11645
@newmuis yes yes, the proposal sounds fantastic. It makes everything super clear and easy to understand for future enhancement as well. I'll make the necessary changes

[2017-10-30 14:29] glevitzky commented on #8635
I think this is safe to close.

[2017-10-30 14:29] #8635 closed

[2017-10-30 14:31] #11198 closed

[2017-10-30 14:48] newmuis opened #11851 "Whitelist additional attributes on amp-story-grid-layer direct children"
#11753 adds new attributes that can appear on direct children of `amp-story-grid-layer`.  In the validator, these attributes should be treated the same way as the existing `grid-area` attribute.  The new attributes are:

- align-content
- align-items
- align-self
- justify-content
- justify-items
- justify-self

[2017-10-30 14:53] ViolettaKal commented on #10957
Hi all

Thanks for your feedback. Indeed Native In-feed has not been prioritized. We are currently focusing on 1) responsive and 2) on adding Native In-article to the amp auto lab.

[2017-10-30 15:07] rsimha-amp commented on #8008
@lannka, to conclude, I ended up going with a modified version of solution A and we now apply the prod (or canary) config after `gulp dist --fortesting` and `gulp build`, and before `gulp test`. We ended up having to restore the `localhost` logic in `src/mode.js` to allow for local development.

[2017-10-30 15:07] newmuis opened #11853 "Add a screen that indicates that the user's browser is unsupported by amp-story"
`amp-story` does not yet support all browsers that AMP generally supports.  Until we achieve parity, we should add a screen that tells a user if they are using an unsupported browser by checking the features we need with [@supports](https://developer.mozilla.org/en-US/docs/Web/CSS/@supports) or [CSS.supports](https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports) or the appropriate checks

[2017-10-30 15:41] choumx commented on #11650
Why not use `Document#getElementById` instead of `scopedQuerySelector`? Validation won't cover whitespace transformation: https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector#Notes

[2017-10-30 15:45] choumx commented on #11853
Which browsers are not supported and which features are they lacking? We should publicly document this in `amp-story.md`.

[2017-10-30 15:53] newmuis commented on #11640
You understood correctly, but I was just wrong about how multiple items in the same `grid-area` works 😞

I don't have a quick fix off the top of my head; maybe we can deprioritize this for now since it's internal-facing only

[2017-10-30 15:56] newmuis commented on #11853
We don't have this list, but `amp-story` does use some fairly cutting edge features:

- [CSS Grid](https://caniuse.com/css-grid)
- [Web Audio API](caniuse.com/audio-api)

[2017-10-30 16:12] choumx commented on #11843
/cc @prateekbh @alanorozco @choumx

[2017-10-30 16:30] newmuis opened #11854 "Support enabling AMP experiments for visual diff tests"
Enabling AMP experiments in the JS of the bootstrapped test does not seem to be working, and the test also does not seem to return true for `getMode().test`, so the experiment check cannot be bypassed this way in code.  These issues are blocking #11682.

Is there a framework-supported way to enable an AMP experiment before executing a visual diff test?

[2017-10-30 16:39] newmuis opened #11855 "Blacklist `on` attribute for <amp-story standalone>"
The AMP actions/events system would allow developers to override performance and usability constraints that are baked into AMP story (e.g. playing offscreen videos, navigating to external URLs, submitting form data, etc.)

I think we should consider preventing this entirely; a naive way of doing so would be to blacklist the `on` attribute in validation.

Open to thoughts; /cc @choumx @dvoytenko @a

[2017-10-30 16:43] newmuis opened #11856 "Media playback is not always tied to user gesture"
When automatically advancing (e.g. after a fixed amount of time) between two `amp-story-page` components that both contain media, the media does not always play on the second page, depending on the browser.

My guess is that this is because there is no gesture tied to the advancement, so the browser does not consider the media `play()` invocation to have been caused by a user gesture.  Perhaps the

[2017-10-30 16:47] newmuis opened #11857 "Show equalizer icon on amp-story videos containing sound"
The audio icon *is* sometimes displayed even though the page *does not* have audio, and the audio icon is sometimes *not* displayed even though the page *does* have audio.

The definition we're using for whether the page has audio is found in [page-element.js](https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/page-element.js#L300) (copied below):

[code]

This is not foolp

[2017-10-30 17:09] aghassemi commented on #11856
Reusing an existing "blessed" tag is a workaround that YouTube uses. Would only work for `amp-video`, amp-audio` and there will be implications on dynamically changing `src` regarding reploading.

Another option might be on the first user-interaction `play` is called on ALL media in all pages but immediately paused. This should bless them for a subsequent `play` call. One issue with this is that i

[2017-10-30 17:45] choumx commented on #11855
Disallowing `on` attribute SGTM.

[2017-10-30 17:55] dvoytenko opened #11859 "Validator: allow "fr" attribute for radialGradient SVG tag"
See https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/fr

[2017-10-30 18:42] #11859 closed

[2017-10-30 19:22] newmuis commented on #11856
Thanks @aghassemi!  Only working for `amp-audio` and `amp-video` should be fine.

Can you elaborate on the implications?  Are you saying once we've "blessed" a media element by playing it, changing its source will "unbless" it?

Playing (and subsequently pausing) all videos also sounds like it could work, although I'm not sure how iOS implements its cap.  e.g. if we have 10 pages (each with 1 vide

[2017-10-30 19:25] #11641 closed

[2017-10-30 19:30] aghassemi commented on #11856
@newmuis yes changing source of an already bless tag won't unless it and it can keep playing content without new user interaction required. Big drawback of this approach is not being able to do preloading.

Not sure how iOS behaves when it reaches the max, I assume it would unload based on a first-played-first-evicte approach but definitely worth testing.

[2017-10-30 19:32] newmuis opened #11862 "Update amp-story experiment screen to toggle experiment(s) and reload"
Currently, the amp-story experiment disabled screen (implemented in #11578) links to https://cdn.ampproject.org/experiments.html.  This sets a cookie only for cdn.ampproject.org, and not for the publisher's own origin.  We should change this link to invoke:

[code]

This should work on CDN URLs, publisher origin, and local development.

[2017-10-30 19:59] #11362 closed

[2017-10-30 20:05] dereklewis commented on #9113
It seems as though the client-side sorting component, which I have nearly completed, is stuck in stage 2 due to this issue; so I will be claiming this component for that reason. If anyone is interested in collaborating, feel free to ping me on Slack. :)

[2017-10-30 20:39] erwinmombay commented on #11174
@ampprojectbot i hate u

[2017-10-30 21:01] #11351 closed

[2017-10-30 21:05] newmuis commented on #11855
@chenshay Is it possible for us to blacklist this for the entire document if the document contains an `<amp-story standalone>` element?  In other words, not just for descendants of `amp-story`, but even if publishers put it on `<body>`, it should be invalid if there is an `<amp-story standalone>` in the document?

If that's not possible (or if that is difficult), we can also just do this for direc

[2017-10-30 21:12] Gregable commented on #11543
This actually went live about a week ago:
https://github.com/ampproject/amphtml/blob/cfb9c2a66b24ecfb4d9310ad2e8088c790de979d/validator/CHANGELOG.md#730-pm-october-23-2017-utc

The issue didn't get updated.

[2017-10-30 21:12] #11543 closed

[2017-10-30 21:15] newmuis opened #11865 "Add an analytics trigger for when the amp-story bookend is shown"
Currently, we fire an analytics trigger on every navigation to a new amp-story page.  We should also fire a trigger when the bookend is displayed, which may be used to constitute "completion" or the "end" of a story.

/cc @rudygalfi

[2017-10-30 21:16] ericlindley-g commented on #10587
Done:
√ 2 sidebars on a page
√ broader set of children allowed

/to @camelburrito

Double-checking: are the following two also done?

- Removing max-width 80vw restriction
- Allow removing background scrim

[2017-10-30 21:23] ericlindley-g commented on #10702
/cc @lswang1618 for visibility, and deduping this issue with the [date-picker issue](https://github.com/ampproject/amphtml/issues/6469) (I recommend checking that component out when it's available and determining if any new features are needed from there)

[2017-10-30 21:23] #10702 closed

[2017-10-30 21:23] camelburrito commented on #10587
no :(

[2017-10-30 21:45] rudygalfi commented on #11836
cc @newmuis

[2017-10-30 21:48] rudygalfi commented on #11836
@alanorozco Can you confirm that things work OK if amp-analytics is nested inside of amp-story?

We can decide to leave things as-is and possibly relax later for multi-story cases (because this definitely doesn't make sense for multi-story).

[2017-10-30 22:14] newmuis opened #11866 "Remove dependency on schema.org JSON"
schema.org JSON is not the best fit for pulling the metadata for the story; this metadata is document-level, whereas the data we need is story-level (with the `standalone` attribute, story-level and document-level are the same, but this may not always hold true).  It's also difficult to validate for metadata that is required.

We should instead specify this data in other ways.  This issue tracks a

[2017-10-30 22:23] FadySamirSadek commented on #10661
@wassgha  @mrjoro  I would like to claim this issue as i reviewed it and i feel i can do it.

[2017-10-30 22:29] FadySamirSadek opened #11867 "Add getSelectedText to amp-bind"
## What's the issue?
There is currently no way to  get the text highlighted by the user in anyway currently in amp

[2017-10-30 22:32] wassgha commented on #10661
Great !

[2017-10-30 22:42] #8961 closed

[2017-10-30 22:45] newmuis opened #11868 "Allow prerendering videos in the runtime"
## Prerender mode
Runtime currently does not load any `<amp-video>` sources on prerender. This needs to change.

1- `amp-video` to append src or any `<source>` that point to a cache URL to the <video> tag during prerender.
We’ll check the presence of amp-orig-src to check if the video is cached
This is already invalid, so that’s good.
Poster is already rewritten.

2- `amp-video` to set preload att

[2017-10-30 22:46] dereklewis commented on #8691
The rest of the code is on my drive in my apartment out of state. I will be returning in December, at which point I will be making the PR. My apologies for the delay; thanks for your patience!

[2017-10-30 23:08] Cauchon opened #11869 "amp-reddit embeds don't resize correctly"
## What's the issue?

amp-reddit embeds isn't resizing the height of the Reddit embed correctly, causing the bottom of the Reddit embed to get cut off

## How do we reproduce the issue?

If this is a bug please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else.  Then provide step-by-step instructions for reproducing the issue:

[2017-10-30 23:14] newmuis opened #11870 "amp-story should require at least one amp-story-page"
`<amp-story>` currently requires one child; its allowed children are currently `<amp-story-page>`, `<amp-analytics>`, and `<amp-pixel>`.  Since we don't validate the type of the child, technically this is a valid story:

[code]

If it's reasonable, we should enforce that `<amp-story>` has at least one `<amp-story-page>` as a child.

[2017-10-30 23:21] newmuis opened #11871 "FOUC when loading amp-story standalone document"
There is a flash of unstyled content before the initial load of an AMP document containing an `<amp-story standalone>` tag.

[2017-10-31 02:41] mrjoro opened #11872 "Design Review 2017-11-01"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-10-31 02:43] mrjoro opened #11873 "Design Review 2017-11-08"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-10-31 02:43] mrjoro opened #11874 "Design Review 2017-11-15"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-10-31 02:44] mrjoro opened #11875 "Design Review 2017-11-22"
The AMP Project holds weekly engineering [design reviews](https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md).  **We encourage everyone in the community to participate in these design reviews.**

Time: Wednesdays @ [1pm Pacific](https://www.google.com/search?q=1pm+pacific+in+local+time)
Location: [Video conference via Google Hangouts](https://hangouts.google.com/hango

[2017-10-31 02:47] mrjoro opened #11876 "Weekly Status 2017-10-30"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-10-31 02:47] #11781 closed

[2017-10-31 03:23] camelburrito commented on #11876
AMP Start
- Template reviews (racing towards the end)
- AMP Start Home page animations
- Some tooling discussion/meetings

[2017-10-31 04:27] AndrewKGuan commented on #11358
Another request from a client, they want to have the same implementation as the very bottom of this page (in mobile mode):
https://www.us.kohler.com/us/
And if you click around the accordion on the bottom (the black background section), you'd notice the sliding and the collapsing other items happening at the same time.

[2017-10-31 04:30] choumx commented on #11876
- Refactor and complete origin experiments (#11767)

[2017-10-31 07:27] dereklewis commented on #11872
I'd like to present my design for a collection of AMP extension development tools called AXX Toolbox, short for [A]MP E[X]tension E[X]perience, which streamlines the AMP extension development workflow and vastly improves the development experience. I already have a very rudimentary working concept, as well as 12 slides, which explain the need for it as well as how it works. It would be great If so

[2017-10-31 07:52] Haroenv commented on #10568
This should probably be `Category: User Input` @dvoytenko

[2017-10-31 10:22] geberele commented on #11735
@aghassemi I was trying to achieve exactly that in AMP, a sticky banner on top of the page that stops to be sticky when finds another banner in the page.
Thanks for your help.

[2017-10-31 11:01] #11533 closed

[2017-10-31 13:04] pratikvc opened #11877 "ISSUE : Amp validator shows input type="file" as invalid. any alternate method to use type="file" ?"
1) If we add <input type="date" ...> in form for choose file button as u can see below.

![img_31102017_184127_0](https://user-images.githubusercontent.com/28097130/32225524-7f5da290-be6b-11e7-8243-037395e639d7.png)

2 ) In AMP validator plugin it shows below error. As type = "file" is stating as invalid value.

![img_31102017_143119_0](https://user-images.githubusercontent.com/28097130/32225217-5

[2017-10-31 13:33] pratikvc opened #11879 "can we customize datepicker calendar design in amp (Google AMP) ?"
In different android versions, different browser, the design of Datepicker calendar seems to be different.

**To be more specific : can we have same design of Datepicker calendar in all browser and all android versions.**

Please check screenshots below:

![92f66b72cb5e9c5819c0ddc6604ecec0a56bcf859012e9520a pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/28097130/32226162-cb9e3be

[2017-10-31 13:52] djavet commented on #5950
Any idea when the RTL without autoplay in carousel will be solved and ready to be used on prod?

[2017-10-31 15:18] dtwmixpanel commented on #2198
Any update after you discussed this issue last week?

[2017-10-31 15:42] prateekbh commented on #11848
Can you plz explain this?

currently it looks like this
<img width="380" alt="screen shot 2017-10-31 at 9 00 41 pm" src="https://user-images.githubusercontent.com/5960497/32232673-955738d2-be7e-11e7-849d-0b1278fd4c77.png">

[2017-10-31 16:50] dvoytenko opened #11881 "Intent to implement: partially drop restriction on `style` attributes"
Some restrictions have to be preserved, but most can be dropped at this time, I believe.

Some considerations:

1. `!important` should be prohibited as with stylesheets (should be done already for SVG).
2. `url()` values (e.g. for `background-image`, etc) should be rewritable by cache (should be done already for SVG).
3. The only allowed values of `position` are `static`, `relative` (and `absolute

[2017-10-31 16:50] prateekbh commented on #11848
plz mark 2,3,4 as done

[2017-10-31 16:51] dvoytenko commented on #11872
I'd like to discuss dropping `style` attribute restrictions. See #11881.

[2017-10-31 16:59] newmuis commented on #11848
@prateekbh Can you mention which PR fixes 2, 3, and 4?

[2017-10-31 17:00] prateekbh commented on #11848
#11863 fixes it

[2017-10-31 17:03] newmuis commented on #11848
@prateekbh This means that both `i-amphtml-story-page-progress-bar` and `i-amphtml-story-page-progress-value` should have the correct `border-radius` (and `i-amphtml-story-page-progress-bar` should probably also have `overflow: hidden`)

[2017-10-31 17:07] Gregable commented on #11870
We can implement, but can you give some more context?

Even if implemented, this would still be valid:

[code]

I don't think that the validator can successfully catch all versions of an empty document.

[2017-10-31 17:09] kul3r4 opened #11882 "amp-bind does not support splice with objects"
[Documentation](https://www.ampproject.org/docs/reference/components/amp-bind) says that `amp-bind` support `splice ` for arrays.
At the moment, it only supports `splice` with primitives, but not with objects, for example:
[code]
is not supported. I reproduced the problem [here](https://github.com/ampproject/amp-by-example/blob/dynamic-data-tools/src/40_Dynamic_AMP/Update_List_Data_With_Amp-bind.h

[2017-10-31 17:20] jpettitt commented on #11881
Even with the `position` and `top/bottom/etc` restriction I think this is well worth doing.  It significantly reduces the complexity of converting existing content, particularly article bodies with journalist authored html.

[2017-10-31 18:01] newmuis commented on #11870
Yep, that's fine.  To me, what you've posted is an empty story.  The original report is an invalid story.  It's analogous to a physical magazine or book with no pages (not even a cover), vs. a magazine that just has blank pages in it.

[2017-10-31 18:04] jridgewell commented on #11876
- AMP Layers initial PR https://github.com/ampproject/amphtml/pull/11830

[2017-10-31 18:05] Gregable commented on #11881
What will we do with mustache templates and amp-bind attributes here? Would we want to run a CSS parser in javascript runtime?

[2017-10-31 18:12] Gregable commented on #11881
I also suggest that we count the bytes in these style attributes toward the amp-custom byte limit, otherwise we'll see folks making things worse by stuffing style attributes full of rules to avoid the byte size limit.

[2017-10-31 18:28] jridgewell commented on #1199
SW is dead due to CURLS and lack of Foreign Fetch in browsers.

[2017-10-31 18:28] #1199 closed

[2017-10-31 18:34] dvoytenko commented on #10568
Also added Dynamic Content.

[2017-10-31 18:38] dvoytenko commented on #11881
Templates are fine. `amp-bind` probably not at first, but could consider separately.

Byte size, however, is not relevant here. The reason why we want limit on CSS style up top is to ensure that we start rendering body faster. This is because, all CSS styles parsed, even those that are never used or used at the very bottom of the document, blocks rendering of the whole document. Style attributes a

[2017-10-31 19:02] newmuis commented on #11871
This is due to lack of the [AMP boilerplate](https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md).

[2017-10-31 19:02] #11871 closed

[2017-10-31 20:48] dvoytenko opened #11887 "InOb polyfill throws "sort is not a function""
See https://pantheon.corp.google.com/errors/8199952591715153852?service=default-cdn-1p-canary&time=P1D&filter&project=amp-error-reporting

[code]

Please triage and lower priority (or close the bug) if not a critical issue.

[2017-10-31 20:53] dvoytenko opened #11888 "Error: Request cid failed: document is not visible"
https://pantheon.corp.google.com/errors/13023421735792682607?service=default-cdn-1p-canary&time=P1D&filter&project=amp-error-reporting

[code]

This appears to have 1M+ error volume.

Feel free to lower priority if found non-critical.

(All related PRs: #11631 #11969 #12035)

[2017-10-31 21:00] zhouyx commented on #11888
Duplicate of https://github.com/ampproject/amphtml/issues/11628
Drop priority to p1

[2017-10-31 21:04] prateekbh commented on #11848
@newmuis for this point, does our this solution suffice?
https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/amp-story.js#L171

[2017-10-31 21:07] newmuis commented on #11848
I believe so, yes.

[2017-10-31 21:09] prateekbh commented on #11848
Can you please mark 1, 5, 7, 8, 9, 10 as marked bu the PR #11886

[2017-10-31 22:28] zhouyx commented on #11887
https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/0.1/refresh-manager.js#L228
Threshold should be an array instead of a string here.

Talked to @glevitzky offline, he'll turn off experiment to unblock canary and fix the issue later.

[2017-11-01 00:27] zhouyx commented on #11887
Actually! Just tested the native InOb behavior. `thresholds` can be either a number or an array of numbers. I'll fix the issue on inOb polyfill side instead.

[2017-11-01 09:37] devvercer opened #11892 "Allow autofocus on input in amp-form"
In an amp-form, an input element with the autofocus attribute does not gain focus.

See an example here:

https://codepen.io/vercer/pen/MOwdVB

I expect the first input to be focused when the page loads but it is not.  Here is an example of the expected behaviour:

https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_autofocus

[2017-11-01 15:24] molnarg commented on #1156
Unfortunately no. SVG has many ways to execute JS and we will have to
filter out all of them.

James Shannon <notifications@github.com> ezt írta (időpont: 2017. okt. 29.,
V, 1:56):

[2017-11-01 15:55] newmuis commented on #11862
Fixed by #11864

[2017-11-01 15:55] #11862 closed

[2017-11-01 16:40] rsimha-amp commented on #11876
- Use prod config for local dev / test (#11768)
- In progress: Run unit tests on Safari via Sauce Labs (#11827)

[2017-11-01 16:42] newmuis commented on #11876
For amp-story:
- Allow toggling the `amp-story` experiment through the UI
- Implement progress animation for the current `amp-story-page`
- File [issues](https://github.com/ampproject/amphtml/issues?q=is%3Aopen+is%3Aissue+label%3A%22Category%3A+AMP+Story%22) for amp-story component

[2017-11-01 16:45] aghassemi commented on #11876
- `amp-animation` no longer restricted to `<body>` if trigger is **not** visibility. https://github.com/ampproject/amphtml/pull/11826
- `amp-position-observer` to be allowed in A4A format https://github.com/ampproject/amphtml/pull/11821
- Fixed an autoplay edge bug with videos inside carousel when navigated from the right. https://github.com/ampproject/amphtml/pull/11787
- Initial discussions for

[2017-11-01 17:54] honeybadgerdontcare commented on #11877
This feature has been requested before. See #9791 closing this as dupe of that issue.

[2017-11-01 17:54] #11877 closed

[2017-11-01 18:40] bpaduch opened #11898 "Share buttons do not wrap if beyond viewport width"
In amp-story, when there are more share buttons than viewport width, the buttons do not wrap, and either are cut off or do not display on the screen.

Example: 6th button beyond screen width

![amp-story-share-buttons](https://user-images.githubusercontent.com/1012254/32290999-2938f9c6-bf12-11e7-9087-209c7b053cb3.png)

Example: Narrow screen, button cut off
![amp-story-share-buttons-narrow-screen]

[2017-11-01 20:15] dvoytenko commented on #11881
Actually, template sanitizer needs to be updated to remove `!important` and other rules.

[2017-11-01 20:25] aghassemi commented on #11628
Closing in favor of new https://github.com/ampproject/amphtml/issues/11888

[2017-11-01 20:25] #11628 closed

[2017-11-01 20:49] #11887 closed

[2017-11-01 21:30] aghassemi commented on #11872
@dereklewis Thanks for presenting, I like the overall idea, what I personally like to see as entry point to the tool is something along these lines:

[code]

[2017-11-01 21:43] coryphwang opened #11899 "Update list of AMP integration platforms (short-term and long-term goals)"
## What's the issue?
In our FAQ section, the supported platforms, vendors, and partners list is a bit out-dated, and we want to make sure we include some recent additions. This is a short-term goal and immediate fix that we can do right now.

For long-term goal, we want to ensure that platforms, vendors and partners feel empowered to take the initiative to ask for inclusion on this list. We also w

[2017-11-01 21:47] dvoytenko commented on #11824
Aren't http protocol works just the same? Also, what's the fallback when native app is not there?

/cc @cvializ

[2017-11-01 21:48] dvoytenko commented on #11825
@keithwrightbos would you mind assigning this issue a milestone?

[2017-11-01 21:48] dvoytenko commented on #11843
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:48] dvoytenko commented on #11844
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:49] dvoytenko commented on #11845
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:49] dvoytenko commented on #11846
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:49] dvoytenko commented on #11847
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:49] dvoytenko commented on #11848
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:50] dvoytenko commented on #11849
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:50] dvoytenko commented on #11851
@newmuis would you mind assigning this issue a milestone?

[2017-11-01 21:50] dvoytenko commented on #11853
@newmuis @choumx  would you mind assigning this issue a milestone?

[2017-11-01 21:50] dvoytenko commented on #11854
@newmuis would you mind assigning this issue a milestone?

[2017-11-01 21:50] dvoytenko commented on #11855
@newmuis @chenshay would you mind assigning this issue a milestone?

[2017-11-01 21:51] dvoytenko commented on #11856
@newmuis @aghassemi would you mind assigning this issue a milestone?

[2017-11-01 21:51] dvoytenko commented on #11857
@newmuis would you mind assigning this issue a milestone?

[2017-11-01 21:52] dvoytenko commented on #11888
@zhouyx would you mind assigning this issue a milestone? preferably this milestone :)

[2017-11-01 21:53] dvoytenko commented on #11898
@newmuis @choumx would you mind assigning this issue a milestone?

[2017-11-01 21:53] dvoytenko commented on #11892
/to @cvializ

[2017-11-01 21:54] dvoytenko commented on #11879
/to @cvializ

[2017-11-01 21:55] dvoytenko commented on #11869
/to @jridgewell ptal

[2017-11-01 21:55] dvoytenko commented on #11867
/to @choumx ptal

[2017-11-01 21:56] dvoytenko commented on #11842
/to @cvializ ptal

[2017-11-01 21:56] dvoytenko commented on #11841
@erwinmombay ptal

[2017-11-01 21:57] dvoytenko commented on #11835
@cvializ @ericlindley-g ptal

[2017-11-01 21:58] dvoytenko commented on #11829
/to @ericfs @jridgewell ptal

[2017-11-01 21:59] choumx commented on #11867
@FadySamirSadek Thanks for filing this issue. What's the use case you're looking to support with this?

[2017-11-01 22:13] ericfs commented on #11829
Thanks for the detailed browser analysis.

This only happens in the viewer?

It looks like the page is no longer shown in the viewer because it is not valid.
https://www-notrayspizza-com.cdn.ampproject.org/c/s/www.notrayspizza.com/
https://search.google.com/test/amp?utm_source=gws&utm_medium=onebox&utm_campaign=suit&id=bkGJAbvaL1Ydd1llPkco0A

[2017-11-01 22:43] zhouyx commented on #11888
Added the current milestone, potentially move to next one : )

[2017-11-01 23:02] jridgewell opened #11900 "iOS 11 No Longer Requires Scroll Hacks"
https://output.jsbin.com/bulacap

This is a light "viewer" iframe, wrapping a standard document. The only styles needed are:

[code]

Additionally, fixed-positions are **much** better than iOS 10. There is some very minor jitter. We might be able to remove the fixed-position transfer.

[2017-11-01 23:21] aghassemi commented on #11835
I think this is for @zhouyx @rudygalfi

[2017-11-01 23:32] 1987yama3 commented on #11689
@aghassemi @rudygalfi I noticed that the description disappeared from the help page. When was it launched?

[2017-11-01 23:33] 1987yama3 commented on #10864
@lannka How? Have you overlooked?

[2017-11-02 00:14] FadySamirSadek commented on #11867
I wanted to implement a tooltip feature like what is in medium where users can highlight a piece of text then they will have the option to share it , bookmark it or do anything with it . But currently there is no way to do that in amp and i think this will enhance the user experience so much on a lot of websites.

[2017-11-02 00:41] jamesshannon opened #11901 "amp-bind: Number and date formatting"
With amp-bind there's a clear need for formatting of strings. amp-bind supports string concatenation natively and some number formatting (e.g., round()) but nothing advanced.

One obvious use case is formatting numbers. 250 * 1000.25 should be displayable as 250,062.50. There are some tricks, like round(num * 100) / 100 to round to decimal places, and toPrecision(), but it can get complicated quic

[2017-11-02 00:47] zhouyx commented on #11835
Yeah, looks like the CLIENT_ID() resolves to empty. I'll take a look tomorrow.

[2017-11-02 00:49] zhouyx commented on #10864
@1987yama3, @lannka is OOO. I can take a look at this later.

[2017-11-02 02:06] newmuis commented on #11898
This is actually intentional; the region is scrollable.  We should make that more apparent in the UI though.  @alanorozco can you follow up?

[2017-11-02 11:30] nickdima commented on #10388
The fact is that DFP reports ampproject.org as not covered by adx.txt
Should we just ignore this?

<img width="718" alt="screen shot 2017-11-02 at 12 28 10" src="https://user-images.githubusercontent.com/614468/32323797-7e1dc324-bfc9-11e7-8642-0056d4968cef.png">

[2017-11-02 14:20] #11899 closed

[2017-11-02 14:38] mauricionr opened #11904 "[Question] Why limit data structure for amp-list?"
Why limit data structure for amp-list? why every response should start with:

[code]
i'm consuming 3d party service and the response from this service is
[code]

if i cannot use `amp-list`, it's possible to use `amp-state` + `amp-mustache` + `amp-carousel`?
or
if i cannot use `amp-list`, it's possible to use `amp-state` + `amp-mustache` + `amp-list`?

*i don't have acess to create an endpoint in t

[2017-11-02 16:24] jasti commented on #10388
I wonder if there is a flow where DFP ad requests are getting the cache URL domain instead of publisher canonical domain. @ampproject/a4a @keithwrightbos WDYT?

[2017-11-02 16:33] prateekbh commented on #11849
how do i reproduce this on my mac?

[2017-11-02 16:37] newmuis commented on #11849
I'm thinking zooming out in the browser might do it?  Or use/emulate a higher resolution screen, perhaps?

[2017-11-02 17:21] #11463 closed

[2017-11-02 17:24] cvializ opened #11905 "form-verifiers doesn't correctly clear errors from checkboxes in a group"
... more details coming soon

[2017-11-02 17:24] cvializ commented on #11842
Unfortunately the HTML5 validation spec does not provide a way to require a value in at least one checkbox in a set of checkboxes. You will need to add some server-side validation to display an error message.

Live demo: https://ampb.in/#-KxxZzhQE6fx5yubnfyU
`express` version of server code: https://glitch.com/edit/#!/jazzy-psychiatrist?path=server.js

[code]

I would recommend using the `form-ver

[2017-11-02 17:26] cvializ commented on #11879
Great question, and thank you for your feature request! We already have issue #6469 tracking our custom date picker effort, so I will close this issue as a duplicate.

[2017-11-02 17:26] #11879 closed

[2017-11-02 17:43] cvializ commented on #11892
It looks like the `amp-boilerplate` css is the culprit here. The browser doesn't want to autofocus the input when it is not visible on page load. The amp-boilerplate makes the body of the document invisible on page load using the CSS `visibility` property, which prevents the `autofocus` attribute from assigning focus.

We could probably fix this with JavaScript, or by changing the boilerplate. If

[2017-11-02 17:45] zhouyx commented on #11835
Here's what I found. When we try to handle outgoing links with `data-amp-addparams`, we resolve url replacement sync. That say we only try to see if clientId has be requested before, if so get its value. This is not a new issue, I tried with version 1507083985898 and could still reproduce the error.

@sarahgriffis Did you recently remove a pageview analytics or pixel trigger ? That could be a reas

[2017-11-02 17:53] cvializ commented on #7028
@aghassemi do you know if the custom controls that Wassim mentioned are implemented and we can remove the `Blocked` tag?

[2017-11-02 17:53] aghassemi commented on #11892
@cvializ I think we should handle it ourselves in `amp-form.js` something along the lines of

[code]
should do.

[2017-11-02 17:54] aghassemi commented on #7028
not yet

[2017-11-02 17:57] cvializ commented on #7028
Cool, looks like that is tracked by #10457

[2017-11-02 18:05] cvializ commented on #11892
That seems like a good approach to me

[2017-11-02 18:09] prateekbh commented on #11849
I wasn't able to see the stacked cards but I see we translateY to achieve something similar.

https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/0.1/amp-story.css#L190

is this what we are looking to change also, will a simple change to 100vh suffice to fix this bug?

[2017-11-02 18:26] jridgewell commented on #11869
There doesn't appear to be any communication between the embed's inner iframe and the embed. I'm not sure how we can support this.

/cc @samiamorwas, who wrote the amp-reddit extension.

[2017-11-02 18:32] samiamorwas commented on #11869
I believe I ran into this issue myself, and couldn't find any way to support it at the time.

[2017-11-02 18:59] cvializ commented on #10599
No updates at this time

[2017-11-02 19:20] newmuis commented on #11849
I think the `translateY` works because it's only used in the non-desktop (mobile) UI, where 100% of the parent is equal to 100vh.

I'm not sure where we do the x-axis positioning in the desktop UI; @cvializ do you know?

[2017-11-02 19:52] choumx commented on #11867
One way to do this would be add a new AMP event that fires when highlighted text changes:

[code]

In this use case, would the tooltip also need the current mouse position?

[2017-11-02 20:23] ithinkihaveacat opened #11910 "validator: template attribute required for <amp-story-grid-layer>?"
There's a contradiction between how the validator processes the `<amp-story-grid-layer>` component, and the docs:

- the validator [requires the `template` attribute](https://github.com/ampproject/amphtml/blob/0f543a6dbc049f043498956555a98513994b61b0/extensions/amp-story/validator-amp-story.protoascii#L89)
- the docs [say it is optional](https://github.com/ampproject/amphtml/blob/master/extensions

[2017-11-02 20:24] choumx commented on #11910
/to @alanorozco @chenshay

[2017-11-02 20:44] rsimha-amp commented on #11854
@newmuis We run `gulp build` and `gulp serve` before running the visual tests for PRs, while we run `gulp dist --fortesting` and `gulp serve` before running them on `master`.

I just took a look at `src/mode.js` and noticed that `test` relies on `IS_DEV`, which might be set to `false` when we merely do `gulp build`. This could be why you're not seeing the right mode in your test page.

Could you t

[2017-11-02 21:17] #11892 closed

[2017-11-02 21:24] cvializ commented on #11849
I think for the non-zoomed case it didn't need vertical repositioning, so I didn't add anything special for that. It would be in the `amp-story-desktop.css`.

To hide the stack after the next card, you should be able to add `opacity: 0` to the rule:
[code]

[2017-11-02 23:50] mattwomple opened #11914 "SVG symbols do not display in amp-shadow on webkit"
## What's the issue?

SVG symbols do not display in iOS browsers when an AMP page is displayed using `AMP.attachShadowDoc()`. The symbols display fine in Chrome on Android.

## How do we reproduce the issue?

I've created a minimal example of an AMP page that displays an SVG symbol: [svg-in-amp.html](https://android.cmphys.com/temp/svg-in-amp.html). This page displays correctly in Chrome 61 on bot

[2017-11-03 00:06] #8849 closed

[2017-11-03 00:18] zhouyx commented on #10864
Yes I think the idea here is correct. We may put some restrictions though, for example allowing this only for `href` or `src`, or only allow this for anchor element.

Especially I do not know what "by server" represents.

As you also mention filter would the general solution here. One can use filter to get host from click url on client side.
Another option would be AMP sending out the entire click

[2017-11-03 01:07] jasti opened #11916 "Provide amp-ima-video option to request ad on interaction instead of on page load"
The default behavior of the amp-ima-video component is to request an ad on the AMP page load which has a negative effect of being counted as 'code served' even if there is no impression.
We should build an non-default option to request the ad only after the user has interacted with the AMP page.
An interaction is counted as:
a) If the user begins to scroll the page
b) If the user stays on the page

[2017-11-03 06:24] dereklewis commented on #11872
@aghassemi Thanks for all the great feedback. As for packaging, I've been thinking about using the language's one. As for live deploys, I haven't begun considering targets other than GH Pages yet, but if you know more about how Firebase works, I'd be glad to see options available. I'll be sure to get in touch again once there. Right now, focused on a clean scaffolding design... :)

[2017-11-03 10:08] acorretti commented on #11754
Right, so adding a bit of background here in regards to analytics we'll be measuring story-pages as regular page views, as it's traditionally been done for pieces changing substantial portions of screen content in response to user actions.

As an analytics vendor, we'll now just ignore the first story-page view event if it's too close to the page `visible` view event.

It would be very interesting

[2017-11-03 13:35] bradfrizzell opened #11917 "AmpProject.org AMP Ad documentation 404s"
The following link on the AMP docs 404s: https://www.ampproject.org/docs/guides/ads/ads_getting_started

To reproduce:
1. Go to [Serving Ads on Amp](https://www.ampproject.org/docs/guides/ads_on_amp)
2. Click on "getting started"

[2017-11-03 15:12] erwinmombay commented on #11917
probly an issue for https://github.com/ampproject/docs/issues instead?

[2017-11-03 16:09] shawnbuso commented on #11916
Seems reasonable. Does AMP currently provide something that tells me if the user interacted with the page (according to the requirements you listed)?

[2017-11-03 16:37] choumx opened #11921 "amp-story: Progress bar broken in dev channel"
Progress bar always empty when navigating between pages.

Reproducible on canary (1509573857630). Not reproducible on prod (1508896929494).

/to @alanorozco @prateekbh

[2017-11-03 16:39] prateekbh commented on #11921
can you pull and check on master? this was fixed in yesterday's PR

[2017-11-03 16:41] choumx commented on #11921
@prateekbh Which PR?

[2017-11-03 16:43] prateekbh commented on #11921
https://github.com/ampproject/amphtml/pull/11897/files

[2017-11-03 17:15] jasti commented on #11916
@zhouyx implemented the same thing for stick ads. Could you help please?

[2017-11-03 17:46] acorretti opened #11924 "amp-story analytics variables in vendor-requests.json"
Are `amp-story` variables _pageId_ and _pageIndex_ available as variables in the `vendor-requests.json` test file, in amp-analytics?

If so, under which handles? One would expect them to be `_page_id_` and `_page_index_`.

[2017-11-03 18:16] raul782 opened #11925 "[Flying Carpet] Fallback not working as expected"
## What's the issue?

Using the fallback option for this extension `amp-fx-flying-carpet` doesn't work as expected.
I'd expect that if the ad is not loaded, the fallback option is displayed which doesn't happen.
Additionally if this gets fixed, I'd expect the fallback doesn't inherit the behavior of the above extension (the scrolling animation effect) and is rendered according to height of the fal

[2017-11-03 18:30] erwinmombay commented on #11804
@keithwrightbos this was the one i had seen, not sure if its the same timeout issues you're seeing in integration

[2017-11-03 18:45] choumx commented on #11924
Thanks for reporting this Alfonso. Analytics support is currently planned to be a fast follow after dev preview. Stay tuned!

[2017-11-03 18:47] choumx commented on #11917
/to @bpaduch

[2017-11-03 18:48] choumx commented on #11914
/to @cvializ

[2017-11-03 18:49] choumx commented on #11904
Thanks for your question Mauricio. `amp-list` supports an optional `items` attribute which you can use to specify which sub-state of the JSON response to render with.

Another option is to use `amp-state` to fetch JSON and `amp-list` to render it (with a `[src]` binding) as you mention.

[2017-11-03 18:49] #11904 closed

[2017-11-03 18:52] choumx commented on #11901
Thanks for the filing this issue James. Do you have a concrete use case in mind so we can scope this FR appropriately?

Related: #7978

[2017-11-03 18:58] choumx opened #11927 "amp-story: Migrate task tracking to GitHub"
Now that `amp-story` is public, we should start using standard GitHub workflows for roadmap/milestone/sprint/task tracking. This will increase transparency and help answer questions like "when is analytics support coming? (#11924)".

Currently, all related tasks are labeled as `AMP Story` in the "Active Non-Sprint Tracked" milestone.

/cc @rudygalfi @newmuis @adelinamart @mrjoro

[2017-11-03 19:00] mauricionr commented on #11904
could you provide an example @choumx ?

[2017-11-03 19:18] choumx commented on #11904
Docs for `items` attribute: https://www.ampproject.org/docs/reference/components/amp-list#items-(optional)

Example that has `[src]` binding with `amp-list`: https://github.com/ampproject/amphtml/blob/master/examples/bind/list.amp.html

[2017-11-03 19:27] jridgewell commented on #11925
Hm, so right now, the flying carpet has no concept of a fallback because the carpet itself always "loads". I could easily see this extended to the collapsing behavior (carpets collapse when the ad fails to load) and making it display the fallback instead of collapsing.

This is a pretty simple change, would you like to make the PR?

[2017-11-03 19:33] bpaduch commented on #11917
Looking into it and rerunning build; suspecting it's related to Grow - https://github.com/grow/grow/issues/629.

[2017-11-03 19:36] choumx commented on #11924
Correction: basic analytics support for `amp-story` is already available. Use `STORY_PAGE_ID` and `STORY_PAGE_INDEX` (#11528).

Looks like we don't have public documentation for these yet. /cc @alanorozco

[2017-11-03 19:36] #11924 closed

[2017-11-03 19:36] ericfs commented on #11829
Seems like a Safari rendering bug of some sort, but not sure exactly what. Poking the styles in the doc temporarily fixes the issue. I don't see a viewer side fix here.

[2017-11-03 19:44] dvoytenko commented on #11900
Correct. We were able to remove most of jitter (thanks to Igalia work). But would still be nice to test on a wider range of docs.

[2017-11-03 20:05] jridgewell commented on #11829
Can you get the page to load? It's still invalid for me.

[2017-11-03 20:25] jridgewell commented on #11829
Oooo, you hit a really cool compositing GPU bug. I'm not able to reduce it to an easy to see base case yet, but it's definitely due to our iOS scroll hacks and the `border-radius` style you have on the buttons.

I'm calling in @dvoytenko. Maybe you can figure out a solution?

[2017-11-03 20:28] bpaduch commented on #11917
Thanks for reporting this!
Fixed for now; built with Grow 3.9.

[2017-11-03 20:28] #11917 closed

[2017-11-03 21:03] jridgewell commented on #11829
Actually, it's the `display: flex` on the `<amp-carousel>`! Mind blowing.

[2017-11-03 21:05] dvoytenko commented on #11829
Wow! @jridgewell do you still have a repro case? I want to run it by Igalia folk and see if we can file a WebKit bug.

[2017-11-03 21:10] choumx commented on #11921
Verified this was fixed by #11897. Need to cherry-pick this into current canary.

[2017-11-03 21:10] #11921 closed

[2017-11-03 21:17] jridgewell commented on #11829
https://output.jsbin.com/veficav/quiet

It's a really fun bug. The first button ("Order Now on Slice") reliably renders first for me. If we scroll down to the two buttons below the menu, they're reliably broken.

Select the span of one of the two buttons, toggle the `color` style. Both buttons will fix. But now the top button is broken. Scroll up, and toggle the same color style on the same button

[2017-11-03 21:20] rojasmi1 opened #11928 "Facebook embedded element is not working on Google Chrome"
## What's the issue?

Since a week ago facebook elements embedded using embedly stopped working, we switched to a new approach using an iFrame to display the elements, this approach does not work for Google Chrome nor Firefox.

## How do we reproduce the issue?

https://codepen.io/anon/pen/pdgwjK

1. Generate and embedly URL from a facebook video/image/post
2. Add an AMP IFrame and set the previou

[2017-11-03 21:24] aghassemi commented on #11928
@rojasmi1 Any particular reason for not using `amp-facebook` component?
 https://ampbyexample.com/components/amp-facebook/

If FB is disallowing iframe-based embeds, I am not sure if much we can do about it. Besides a dedicated facebook component that we already have.

[2017-11-03 21:36] dvoytenko commented on #11829
Ok. I'll pass it along. What could be a fix though? I believe `display:flex` is pretty important on carousels.

/cc @camelburrito

[2017-11-03 21:40] camelburrito commented on #11829
yeah carousel would lose functionality (looping) without flex

[2017-11-03 21:41] dvoytenko commented on #11829
@jridgewell Does this fail in iOS11?

[2017-11-03 21:44] newmuis commented on #11849
It's worth checking out whether the core runtime actually fetches resources for things that have no opacity or visibility.  If not, then we'll need to stick to translation offscreen.

[2017-11-03 21:47] newmuis commented on #11754
The `standalone` attribute on an `amp-story` tag indicated that it is the only content within the document (aka the "main content").

[2017-11-03 21:51] acorretti commented on #11754
Can that be read by `amp-analytics` vendors? It would be wonderful.

[2017-11-03 21:56] dvoytenko commented on #11603
@eshwarenm Could you direct me to some links to docs for Firebase that are most relevant to this request? And/or can you elaborate in a bit more detail how you see this working?

[2017-11-03 21:58] jridgewell commented on #11829
@camelburrito: We need to figure out a CSS fix quickly, there's nothing about these buttons that makes them abnormal to other elements. It's **very** likely others publishers are hitting this bug on common elements and not even knowing it.

[2017-11-03 21:59] dvoytenko commented on #11403
/to @sebastianbenz do you have an advice on something like this?

[2017-11-03 22:00] brandondiamond opened #11929 "amp-carousel causing document height to fluctuate / be too large"
## What's the issue?

We are attempting to measure the document height and scroll position to compute a scroll depth percentage. At the moment, we're using the maximum height of the document over the course of a session.

Unfortunately, it seems that for many documents containing an amp-carousel component, the height can be very large. It can also be somewhat varied.

To mitigate, we could avoid u

[2017-11-03 22:14] sebastianbenz commented on #11403
I'd recommend handling this server-side by changing the json content for the amp-list based on the user's cookies.

BTW I recently created a [favorite button sample](https://ampbyexample.com/advanced/favorite_button/) would be interested to hear your feedback @meistudioli .

[2017-11-03 22:55] choumx opened #11930 "amp-story: "thirds" grid template broken on Safari"
Looks like `fr` unit support is buggy.

[code]

Yields this on Safari:

![image](https://user-images.githubusercontent.com/20525523/32398898-6dc89490-c0c8-11e7-9c09-71d952567542.png)

[2017-11-04 01:22] mauricionr commented on #11904
Thanks @choumx !!

[2017-11-04 01:32] raul782 commented on #11925
Hi @jridgewell,

Yes please that would be great.

[2017-11-04 12:54] sarahgriffis commented on #11835
@zhouyx No, we actually added some trigger events.

[2017-11-04 12:57] sarahgriffis commented on #11829
@jridgewell We purposefully broken our AMP pages to be invalid until we're able to solve this and  [issue](https://github.com/ampproject/amphtml/issues/11835). Our CEO was on iOS 10.2 (14C92) and getting this bug, so it does seem to be present in iOS 10 as well.

Let me know if we can help!  Thanks for looking into this!

[2017-11-04 19:49] jamesshannon commented on #11901
My specific use case for this is that I tried to make a calculator in AMP, specifically a mortgage calculator. This is a use case for financial service providers (e.g., [lending tree](https://www.lendingtree.com/quotes/mortgage-calculator.html)).

I built a [proof of concept in AMP](http://jsbin.com/qacufov/edit?html) but the number output formatting isn't great:

<img width="311" alt="js_bin_-_co

[2017-11-05 01:36] rudygalfi opened #11932 "Add documentation for Facebook Pixel"
Facebook pixel support was added in #9449. We need to also include documentation here: https://github.com/ampproject/docs/blob/master/content/docs/guides/analytics_amp/analytics-vendors.md

cc @eduardogoncalves, who authored the pull request cited above.

[2017-11-05 09:54] ptrpov opened #11934 "http://ptrpov.com"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-11-05 14:56] #11934 closed

[2017-11-05 16:48] maxime-michel opened #11937 "amp-iframe allow="microphone""
## What's the issue?

There is no `allow="microphone"` option for `amp-iframe`, yet it is going to be a necessary argument to the `iframe` itself soon:

## How do we reproduce the issue?

1. access www.accordersaguitare.com with Chrome
2. open the Console and see the message

## What browsers are affected?

Firefox doesn't warn about this. Safari doesn't even support `iframe allow="microphone"` ye

[2017-11-05 20:45] mrjoro opened #11938 "Weekly Status 2017-11-06"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-11-05 20:46] #11876 closed

[2017-11-06 10:49] rowangray opened #11939 "amp-sticky-ad displays incorrectly inside shadowDom that have transformation styling added"
Issue:
When a shadowDom is inside a div that has a css transform added the sticky ad displays at the bottom of the shadowDom, not at the bottom of the rootDom.

use case:
We are using swiper http://idangero.us/swiper, to add mobile swiping for our app, inside each slide the Amp Shadow loads an amp document with a sticky ad, Shadow Doc are initiated/deactivated on transition end so that the Amp con

[2017-11-06 11:04] rentot opened #11940 "amp-video muted icon show/hide based on attribute"
Currently `apm-video` with `autoplay` attribute has muted icon which is misleading in cases where video/animation has no audio track. This leads to poor user experience.

Would be great to have an attribute `noaudio` or similar to remove this icon.

[2017-11-06 11:06] sebastianbenz commented on #11940
//cc @aghassemi

[2017-11-06 11:46] newmuis commented on #11940
This is specific to `amp-video` within `amp-story`, so I don't think @aghassemi is the right person here.

I think this is a duplicate of #11857; the audio icon is not shown because of the `muted` attribute, but rather because the detection of whether the video has audio content is broken.

/cc @choumx

[2017-11-06 12:01] ithinkihaveacat opened #11941 "amphtml-validator cannot validate URLs"
Feature request: support validation of URLs via the NodeJS API.

The included command-line script [can validate URLs](https://github.com/ampproject/amphtml/blob/371a072ed4986410b3671469f603e88721890bad/validator/nodejs/index.js#L447), but the API will only validate strings. (The only method exposed is [`validateString()`](https://github.com/ampproject/amphtml/blob/371a072ed4986410b3671469f603e8872

[2017-11-06 12:50] sebastianbenz commented on #11940
I'm not sure this is specific to amp-story. Imo I'd make sense for amp-video as well.

[2017-11-06 12:57] selvin007 opened #11942 "issue with rendering header & nav tag ios/andriod"
when below html is rendered

[code]

it renders differently on ios/andriod

On Iphone 6

[code]

On Andriod
[code]

[2017-11-06 13:37] rojasmi1 commented on #11928
@aghassemi We are currently moving to use the `amp-facebook` component, but I was asked to open a issue by one of the developers in Slack. The thing is that it perfectly works on Safari,  which is kind of confusing. If you think this issue can just be ignored I'm fine with closing it, from our side we are already working on the solution.

[2017-11-06 14:33] prateekbh commented on #11848
#11909 fixed number 6. please mark it

[2017-11-06 15:11] #11616 closed

[2017-11-06 16:36] aghassemi commented on #11940
@newmuis Let's keep this open as runtime version of https://github.com/ampproject/amphtml/issues/11857. It would be nice if  `amp-video` does similar audio track detection that `amp-story` does.

@rentot is your case about `amp-story`? If not and what you are referring to is the "equalizer" animation that shows up with `<amp-video autoplay>` there are two current workarounds for it:
1- Not setting

[2017-11-06 16:36] ericlindley-g commented on #10230
@choumx , for the on-load case, where the user hasn't interacted with the page, what do you think about just queuing the resize and executing it when it can be done with good UX? (i.e. If the user isn't scrolling: if the bottom of amp-list is in the viewport, wait until it isn't anymore, then resize and correct scroll if the viewport is below amp-list. If the bottom of amp-list is not in the viewp

[2017-11-06 16:43] choumx commented on #10230
That should work and is probably how resize requests ought to work in the first place.

OOC, is that a valuable use case? I.e. users scrolling past an amp-list and then scrolling back up to it.

[2017-11-06 16:55] ericlindley-g commented on #10230
Excellent—excited to have a solution for the on-load case! (Though I should double-check: could this conditional resize work with container layout (or a similar notion), so amp-list effectively has container layout, as long as it ensures the good resizing UX described above?)

To answer your question, I'm not aware of cases where users are scrolling past amp-list and then scrolling back up to it—I

[2017-11-06 16:57] ivanliu8 commented on #11434
Definitely need to increase the limit. I'm creating a page with personalised products. Customer have options to choose designs, colours, pictures, fonts and enter custom text. We are using amp-bind to build up a preview link. 50 operands are definitely not enough. Alternatively, is there any ways I can encode the state json object and pass to the server as an parameter?

[2017-11-06 16:58] aghassemi commented on #11928
@rojasmi1 I looks like the embed is trying to set `document.domain` which is not allowed in sandboxed iframes (AMP always sandboxes iframes). Safari may no be enforcing this or the code may not be trying to set it in the Safari case. None of the sandbox attributes (even `allow-top-navigation`) seem to relax this restriction.

I haven't managed to make that embed your work with a non-AMP `iframe` t

[2017-11-06 17:03] choumx commented on #10230
The resize logic is part of the runtime and used by other extensions too: `amp-ad`, `amp-facebook-like`, `amp-imgur`, etc. The logic is quite complex -- I'll have to take a closer look.

Would you mind filing another issue for this? Something like "More flexible height-change requests."

[2017-11-06 17:13] choumx commented on #11434
@ivanliu8 Can you share a sample page with expressions that exceed this limit?

[2017-11-06 17:21] ericlindley-g opened #11945 "FR: More flexible height-change requests"
When an AMP component makes a resize request:

- Queue for resize
- If the user isn't scrolling:
--   And if the bottom of amp-list is in the viewport:
---     wait until it isn't anymore, then resize and correct scroll accordingly (e.g. if the viewport is below amp-list)
--   If the bottom of amp-list is not in the viewport: just resize at will

Primary use case to support is a container-like lay

[2017-11-06 17:42] dvoytenko commented on #11942
@selvin007 Can you post a sample document?

[2017-11-06 17:42] dvoytenko commented on #11941
@Gregable pls triage

[2017-11-06 17:43] dvoytenko commented on #11939
@cvializ ptal.

/cc @zhouyx

[2017-11-06 17:44] dvoytenko commented on #11937
/to @aghassemi ptal

[2017-11-06 17:44] dvoytenko commented on #11932
@rudygalfi pls triage

[2017-11-06 17:45] dvoytenko commented on #11929
/to @camelburrito pls triage

[2017-11-06 17:45] dvoytenko commented on #11905
@cvializ pls triage

[2017-11-06 17:54] jaygray0919 opened #11947 "amp validator rejects [tooltip]"
amp validator rejects [tooltip] with the following message:
  `The attribute 'tooltip' may not appear in tag 'span'.`
The CSS is applied as follows:

[code]

[code]

Is there a problem with this structure? Am I missing the documentation that warns against this use?

If not, would you white-list this CSS structure on AMP Validator?

/jay gray

[2017-11-06 17:54] choumx commented on #11938
- Fixed broken "thirds" template in `amp-story` for Safari

[2017-11-06 18:05] choumx commented on #11947
The issue is that `tooltip` is not a valid HTML or AMP attribute for `<span>`. Try replacing this with a CSS class instead. If you need to use custom attributes, prefix them with [`data-`](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes#attr-dataset).

[2017-11-06 18:05] #11947 closed

[2017-11-06 18:26] jamesshannon commented on #10230
Since a relatively simple issue (#11535) was dup'ed into this more involved one, is there a way to handle the overflow use case without all the complexity?

Specifically, AMP sets `overflow: hidden !important` on the list. While this prevents resizing, so would overflow: scroll. Could there be an option to opt in to overflow scroll in rather than overflow hidden?

[2017-11-06 18:48] camelburrito commented on #11938
- Unblocking AMP Start Agencies and Wrapping up template reviews
- Exploring animations on AMP Start Home page
- Debugging Safari Rendering bug

[2017-11-06 19:01] camelburrito commented on #11929
@jridgewell can you give me  more context

[2017-11-06 19:02] choumx commented on #10230
@ericlindley-g might be able to give more context, but I believe scrollbars are not allowed since generally they're pretty bad UX:

https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#properties

Have you tried using an [overflow button](https://www.ampproject.org/docs/reference/components/amp-list#specifying-an-overflow) for your use case?

[2017-11-06 19:07] choumx opened #11949 "amp-story: Bookend triggers prematurely"
Appears that bookend is triggering with 3 story pages left. Ping me for the sample document.

/to @alanorozco

[2017-11-06 19:08] ericlindley-g commented on #10230
Thanks for thinking through this with us, @jamesshannon—+1 to @choumx's note on the scrollbar being a bad UX practice, and recommending the overflow button in the short term.

Hopefully the fix we're discussing should address the root cause of the problem, so for most cases we won't need some of the partial fixes like the overflow button

[2017-11-06 19:31] jamesshannon commented on #10230
I wasn't aware of the no-scrollbar spec. Makes sense (for 95% of use cases, I guess).

See [this video](https://www.useloom.com/share/fdf9bf16939f4a53855df114941751e5) for my partner's use case. As you can see the nav's size is fixed and the overflow:hidden prevents it from being usable until I remove that. Seems really similar to @WalliSmith's [original issue](https://github.com/ampproject/amphtm

[2017-11-06 19:38] choumx commented on #10230
Thanks for the sample page. I think a reasonable resize policy should also work for this case since the amp-list is very close to the "bottom" of the sidebar (which uses the fixed layer). Resize logic for fixed layer elements might be lacking. I'll add this note to the FR Eric just created.

[2017-11-06 19:38] choumx commented on #11945
Also we should make sure resize requests in fixed layer work reasonably: https://github.com/ampproject/amphtml/issues/10230#issuecomment-342259777

[2017-11-06 19:56] jridgewell commented on #11829
This has been forwarded to Apple. https://bugs.webkit.org/show_bug.cgi?id=179315

It looks like this is a serious regression, affecting both iframed pages and non-iframed (normal) pages.

[2017-11-06 20:49] choumx commented on #11949
/cc @christianbersch

[2017-11-06 20:55] jridgewell commented on #11929
This isn't actually an issue with `<amp-carousel>`, but with `layout="responsive"` and multiple large content inside (ie, the same bug as https://github.com/ampproject/amphtml/issues/9397).

The issue is actually with the layout CSS (so, framework stuff). It's readily apparent when preloading pages such as the Forbes article on https://www.google.com/search?q=site%3Aforbes.com+most-annoying-busine

[2017-11-06 21:20] Gregable commented on #11941
Johannes mentioned that this may already be present. @powdercloud for details.

[2017-11-06 21:22] camelburrito commented on #11942
@selvin007 - this seems to be related to browser rendering. Can you give a little more insight into what you are trying to do and may be post a sample document?

[2017-11-06 21:32] bradfrizzell commented on #11321
finished implementation here: https://github.com/ampproject/amphtml/pull/11377

[2017-11-06 21:32] #11321 closed

[2017-11-06 21:42] camelburrito commented on #11927
@choumx - can you add an assignee?

[2017-11-06 22:43] powdercloud commented on #11941
@Gregable @ithinkihaveacat I think I was wrong there, I thought the API supports passing URLs for identifying AMP documents to be validated but it's true - it does not.
I also think perhaps it should not, reason being, fetching content based on a url isn't something that's specific to AMP, and getting it right is slightly complex due to redirects, concurrency in Javascript, etc, and once we start

[2017-11-06 23:31] aghassemi commented on #11938
* Prototyping a responsive "image reveal" UX in AMP: https://s.codepen.io/aghassemi/debug/LOGzJv
* `amp-video` pre-rendering design #11868

[2017-11-07 00:47] aghassemi commented on #11937
related https://github.com/ampproject/amphtml/issues/11541

[2017-11-07 00:59] dvoytenko commented on #8926
Still very common error.

[2017-11-07 01:00] dvoytenko commented on #8995
Appears to be fixed.

[2017-11-07 01:00] #8995 closed

[2017-11-07 01:08] dvoytenko commented on #11929
@jridgewell Do you mean we add the following to amp.css?

[code]

or such?

(This assumes we introduce `i-amphtml-built` class)

[2017-11-07 02:07] jridgewell commented on #11929
That could work, too.

[2017-11-07 04:50] raul782 commented on #11925
Hi @jridgewell,
If you have time please let me know how can I help by creating a PR

Thanks!

[2017-11-07 05:09] choumx commented on #11927
Fine. 😄

[2017-11-07 06:07] ashishdots opened #11954 "AMP Pages UCBrowser GA PageViews not tracking"
We are running a eCommerce aggregator portal on WEB and WAP both. Recently we have migrated whole WAP pages to AMP. After migration, the GA sessions for UC Browser has been decreased by almost 95%. We have figured out some of the devices which are not sending the pageview event however the website is working fine in all other browsers. Any help to debug UC Browser for pageview event for AMP would

[2017-11-07 06:51] selvin007 commented on #11942
We are trying to use a sticky header which works well on andriod

Issue is with rendering on iphone as "<header>" has a z-index of 10000 an "<nav>" is inside the header tag its clickable on andriod devices
whereas as on iphone nav is rendered header making it impossible to click on nav links

![amp_google_iphone](https://user-images.githubusercontent.com/7314081/32480531-46ff384c-c3b5-11e7-94ee-f8

[2017-11-07 06:55] selvin007 commented on #11942
We are trying to use a sticky header which works well on andriod

Issue is with rendering on iphone as header tag has a z-index of 10000 an nav tag is inside the header tag its clickable on andriod devices
whereas as on iphone nav is rendered header making it impossible to click on nav links

![amp_on_iphone](https://user-images.githubusercontent.com/7314081/32480807-9484bc76-c3b6-11e7-9ed4-a03bb9

[2017-11-07 07:10] meistudioli opened #11955 "Confuse about link[rel="amphtml"]"
To whom it may concern:

I have already done my AMP page stuff and try to publish it.

According the following document
[Prepare for discovery](https://www.ampproject.org/docs/tutorials/create/prepare_for_discovery)

I should add **link[rel="amphtml"]** to my non-AMP page and add **link[rel="canonical"]** to my AMP page.

Here comes my question, what if I have different web address to server mobil

[2017-11-07 08:01] camelburrito commented on #11942
Is this because you have a missing > after the nav tag?

[2017-11-07 08:26] oewaoffice commented on #11471
Hi,

- Thats correct

- We are currently updating some of our systems and therefore need a second version (only some clients are allowed to use the new one). My suggestion for the vendor config name would be "oewa v2" if possible.

- We require to run the custom script for correct identification of clients.

[2017-11-07 09:17] reznord commented on #11816
Hi, I would like to take on this issue if no one is working on this issue.

[2017-11-07 09:25] selvin007 commented on #11942
@camelburrito just a typo i have posted details with screenshot of issue

[2017-11-07 12:56] bjalford commented on #11904
@choumx any way of access the sharecount in this format?

https://graph.facebook.com/?id=https://www.standard.co.uk/news/london/man-vs-food-london-restaurant-which-boasts-of-making-diners-vomit-at-their-table-angers-neighbours-a3678091.html

{
   "share": {
      "comment_count": 0,
      "share_count": 61
   },

[2017-11-07 13:18] saitho opened #11956 "amp-youtube: "No cookie" option"
## What's the issue?

In some cases it might be necessary to embed a YouTube video without cookies (legal reasons et cetera). There is a way to embed the YouTube player without cookies with a special embed URL – you just have to add "-nocookie" between youtube and .com.
E.g. https://www.youtube-nocookie.com/embed/jpyHTTtddUo?enablejsapi=1

## Implementation proposal

- Add a new property "credenti

[2017-11-07 15:00] 123michi19 opened #11958 "No preview picture in NewsArticle with AMP"
Hi,

No picture available in the news article. The logo as a picture is working fine. URL for the main picture is alright. It's an valid amp document (tested by the amp validator).

<img width="253" alt="ampstructureddata" src="https://user-images.githubusercontent.com/33457773/32499872-10972fa2-c3d4-11e7-934a-5d135866a775.png">

That's the used code for the news article / structured data:

`   <s

[2017-11-07 15:27] dldl53 opened #11960 "amp-iframe how to aling center"
does someone know how to align an amp-iframe in the middle of the page?
If I add it to a div with { text-align: center; } in the style in the header of my  amp-html page , it doesn't work

[2017-11-07 15:29] honeybadgerdontcare commented on #11958
@123michi19 could you share the amp document url?

[2017-11-07 15:40] 123michi19 commented on #11958
@honeybadgerdontcare  Yes of course.

http://www.sky.de/web/redaktion/static/amp/film-news-the-walking-dead-staffel-8-daryl-wuerde-jeden-toeten-151557.html

[2017-11-07 17:50] aghassemi commented on #11955
@meistudioli Please see https://productforums.google.com/forum/#!topic/webmasters/fFQJC2m0OHs for a detailed answer to your question.

Also the same Webmaster forum is the best place to ask questions regarding Google search integration with AMP.

Closing the issue, please feel free to reopen if your question is not fully answered.

[2017-11-07 17:50] #11955 closed

[2017-11-07 17:54] aghassemi commented on #11956
@saitho Thanks, good feature to add. Would you be interested in contributing this feature by sending a PR? AMP is fairly streamlined for quick external contributions. If you are interested, checkout https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md to get started.

[2017-11-07 18:07] aghassemi commented on #11960
@dldl53 Since AMP is HTML, you can use various available approaches on the web to do layouts.
For instance, you can use `margin: auto` to center a `div` and put the `amp-iframe` inside that div.
See https://codepen.io/aghassemi/pen/ZapVpq?editors=1001 for a sample.

[2017-11-07 18:07] aghassemi commented on #11960
Closing the issue as it is not AMP-related and hopefully the code snippet above can guide you.

[2017-11-07 18:07] #11960 closed

[2017-11-07 18:36] saitho commented on #11956
I already thought about that. :)

[2017-11-07 18:36] choumx commented on #11904
Have you tried the `items` attribute I mentioned above?

[code]

[2017-11-07 18:53] tycho01 commented on #2851
Update: Pure is now one `!important` (in `.hidden`) away from compatibility, documented [here](https://purecss.io/customize/#using-pure-with-google-amp). Getting that `.hidden` to trump the other rules without `!important` is [doable](https://github.com/yahoo/pure/issues/675#issuecomment-342499675) as well. So both Surface and Pure seem viable now!

[2017-11-07 18:57] camelburrito commented on #2851
https://www.npmjs.com/package/replace-important
https://www.npmjs.com/package/gulp-replace-important

There are these NPM packages we had launched, and they would help replace the rules with !important without breaking functionality. You will need to run the script on your entire CSS (Not just your framework). So you can work on the framework just like you would and then run this script when every

[2017-11-07 19:10] tycho01 commented on #2851
@camelburrito: That should render both Surface and Pure compliant. Thanks for posting!

I fear for Pure at least this part may be more nuanced unfortunately. In their case (see https://github.com/yahoo/pure/issues/675), the `!important` used in their `.hidden` class turned out needed to trump some of their other `display` rules with higher specificity. That's why my PoC to render them compatible w

[2017-11-07 19:11] honeybadgerdontcare commented on #11958
@aghassemi This isn't cache related but carousel related. All images are fine in [cache version](https://www-sky-de.cdn.ampproject.org/c/s/www.sky.de/web/redaktion/static/amp/film-news-the-walking-dead-staffel-8-daryl-wuerde-jeden-toeten-151557.html).

[2017-11-07 19:14] #11930 closed

[2017-11-07 19:14] camelburrito commented on #2851
ill also post a detailed CSS frameworks/toolkit comparison i did before we chose basscss for ampstart. That should also be helpful in this thread.

[2017-11-07 19:20] liangnanwu opened #11966 "Intent To Implement: Adding Alexa Internet config to amp-analytics"
I'll follow up with a PR that follows the steps outlined in the [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md#adding-your-configuration-to-the-amp-html-runtime).

[2017-11-07 19:22] choumx commented on #11816
Awesome, go for it @reznord! 😄

[2017-11-07 19:59] jridgewell commented on #11925
Sorry about that:

1. We need to update [`#visibileChildren_`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-fx-flying-carpet/0.1/amp-fx-flying-carpet.js#L181-L195) to exclude Elements with a `fallback` attribute from the count (`return false` for them).
2. We need to update [`#collapsedCallback`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-fx-flying-carpet/

[2017-11-07 20:10] jridgewell commented on #8157
Closing for https://github.com/ampproject/amphtml/issues/3434.

[2017-11-07 20:10] #8157 closed

[2017-11-07 20:12] jridgewell commented on #3434
https://github.com/ampproject/amphtml/pull/11830.

[2017-11-07 20:47] bradfrizzell opened #11970 "Add warning to validator for use of useSameDomainRenderingUntilDeprecated and remote.html with DoubleClick"
Delayed fetch is being deprecated for DoubleClick on March 29 2018. See https://github.com/ampproject/amphtml/pull/11918 and https://github.com/ampproject/amphtml/issues/11834

We'd like to add 2 warning outputs to the AMP validator:

1. The AMP validator should warn that the attribute useSameDomainRenderingUntilDeprecated will no longer be supported on doubleclick amp-ad tags as of March 29 2018.

[2017-11-07 20:49] aghassemi commented on #11958
@123michi19 You see seeing this image in preview part of https://search.google.com/test/amp ? If so, that preview always says "Your Image" and not the actual image.

[2017-11-07 21:32] zhouyx commented on #11873
@jonkeller and I want to talk about new visible trigger design for amp-analytics

[2017-11-07 22:50] sucharithav opened #11973 "Adwords version of amp-call-tracking"
Would be nice to have an adwords-specific version of amp-call-tracking (https://support.google.com/adwords/answer/6095883) that abstracts away call tracking URL generation. This is an option:

<amp-call-tracking type="googleadwords">
  <script type="application/json">
      "vars": {
          "googleConversionId": <conversion id>,
          "googleConversionLabel": <conversion label>,
          "

[2017-11-07 22:52] sucharithav commented on #11973
cc @jasti

[2017-11-07 23:57] choumx opened #11974 "amp-story: Make auto fullscreen opt-in"
Early feedback shows that auto fullscreen experience is jarring. Consensus is to flag with new `amp-story-auto-fullscreen` experiment (disabled by default) while alternatives are explored.

/cc @newmuis @christianbersch @flaviori

[2017-11-07 23:58] choumx opened #11975 "Clean up `amp-story-auto-fullscreen` experiment"
Related: #11974

[2017-11-08 00:03] Gregable commented on #11970
Quick thoughts.

This isn't typically the type of message we would consider using the validator for. It's not a "will soon become an error" type of warning, as we probably will not want to invalidate a document for incorrectly configured ads.

We don't currently have any validator rules that work similarly to what you are proposing. We don't parse json in the validator, for example. Both of these

[2017-11-08 00:34] tea3 opened #11977 "Yarn error while installing dependency plugin"
Hi there , Thank you for wonderful plugin.

I'm developing [hexo-generator-amp](https://github.com/tea3/hexo-generator-amp). hexo-generator-amp is depending on [amphtml-validator for node.js](https://www.npmjs.com/package/amphtml-validator). Please tell me how to solve installation error of yarn. When install hexo-generator-amp , the following error occur.

hexo-generator-amp | Cannot use yarn to

[2017-11-08 00:38] #11974 closed

[2017-11-08 01:17] meistudioli commented on #11955
Hi, @aghassemi:

Thanks for helping.

Paul

[2017-11-08 01:20] zhouyx opened #11978 "Make presubmit check on cookie smarter"
See https://github.com/ampproject/amphtml/pull/11968#issuecomment-342676012

[2017-11-08 02:02] streamgao opened #11979 "new posts in live list containes new amp modules"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?
AMP-LIVE-LIST
The issue happens when the new posts contain any new modules.
For example,  the current posts on the page does not contain amp-twitter module,  during the update (click the update button) the new posts been loaded & put on to the page.  If new posts contain amp-twitter module,  the page head will be able t

[2017-11-08 03:12] streamgao opened #11980 "amp instagram with external links"
**Please only file bugs/feature requests for AMP here.**

## What's the issue?
hash tag in the amp instagram content are created with relative links, not the absolute links.
so the hashtags are not clickable.

## How do we reproduce the issue?
for any amp-instagram content

## What browsers are affected?
All browsers

[2017-11-08 06:45] AndrewKGuan commented on #9785
Looking forward to this new component.  There are many companies waiting for its launch.

[2017-11-08 08:24] lannka commented on #9966
I believe @sebastianbenz is leading this. @sebastianbenz any updates? please let me and @zhouyx know when we should get involved for the AMP runtime changes.

[2017-11-08 11:57] sebastianbenz commented on #9966
Sorry for being so quiet. Swamped with other things. UI is almost ready, saving and sharing needs a bit more work.

I thought the runtime changes were independent of the Playground?

[2017-11-08 12:18] meistudioli opened #11981 "AMP Cache remove JSON-LD data"
To whom it may concern:

I use ping update to make AMP cache do update stuff and I found my HTML content about **JSON-LD**  will be trimmed in AMP cache.

Here comes my *ampUrl* & *cdnAmpUrl*
* [ampUrl](https://blog.lalacube.com/item/100347591196)
* [cdnAmpUrl](https://blog-lalacube-com.cdn.ampproject.org/c/s/blog.lalacube.com/item/100347591196)

I wonder is this an issue ot not ?

And what  if I

[2017-11-08 13:34] htrex commented on #9461
I'm seeing the same problem and yes, I'm using AMP components in the PWA shell page while trying to use AMP shadow to load AMP document fragments in the page.
Hope this limitation can be removed.

[2017-11-08 14:54] bradfrizzell commented on #11970
That's fine, we can skip adding this. Thanks for the quick response.

[2017-11-08 14:54] #11970 closed

[2017-11-08 15:03] andreban commented on #10932
I'm wondering if it makes sense to compare something like this as well: https://gist.github.com/andreban/ad5e41723e0532598b5add7145d974ba

The concept is to add the AMP content inside a template tag, and use the content of the tag as the ampDoc that will be loaded using amp-shadow. In terms of performance, this should be analog to H2 Pushing the AMP doc

[2017-11-08 15:55] ericlindley-g commented on #9785
Thanks for checking in—that's good to know!

To set expectations: we're working through a backlog of features that aren't possible in AMP yet, so packaging this feature into a component when it's already possible hasn't been slated for the short term. However, I'd be curious to hear if there are folks who aren't able to implement with the current tools, to see if there's anything we can do in the

[2017-11-08 17:09] dvoytenko commented on #10932
@andreban In this case, I'd rather measure against H2/Link first. `<template>` is also interesting. But the big problem there (unless I'm mistaken) is that it can't have nested templates inside, in case AMP uses them too. E.g. this will be broken:

[code]

[2017-11-08 18:00] p2er opened #11983 "AMP shadow does not initialize components without user scrolling after visibilityState change from prerender to visible"
## What's the issue?

If multiple amp shadow documents are used underneath each other and should be set form visibilityState "prerender" to "visible" as the document is scrolled into view, the visibilityState change won't trigger AMP image and other components to load an render.

## How do we reproduce the issue?

1. Open https://p2er.github.io/amp-articleslider/ampshadow-visibillityState
2. Make

[2017-11-08 18:26] AndrewKGuan commented on #9785
Hey Eric,
yeah, with the current amp-bind (input debounce) it is sort of doable but lack some of the things:

- Publisher can't define the minimal number of characters to trigger the xhr fetch

- Suggestion div cannot be collapsed/hide when the user erases his input

[2017-11-08 18:38] ericlindley-g commented on #9785
Thanks! /cc @choumx , @cvializ , and @aghassemi w/ this feedback

[2017-11-08 18:55] #11872 closed

[2017-11-08 19:00] jeffjose opened #11985 "Ability to customize Google Maps"
## What's the issue?
Google Maps allows customization via CSS styles (https://developers.google.com/maps/documentation/javascript/styling) Currently there's no way to customize Google Maps on AMP pages.

## How do we reproduce the issue?
Embed google maps via an iframe as described in the docs here - https://www.ampproject.org/docs/guides/iframes

Notice how the style applied is the default one wi

[2017-11-08 19:12] zhouyx opened #11986 "Analytics: visibilitySpec to config percentage thresholds"
### Overview ###
Amp Analytics support visible trigger. And enable a user to config the visible event via `visibilitySpec`.
`visibilitySpec` looks like. Note: all attributes are optional
[code]
This visibleSpec is limited to single visible event trigger. And there can be an easier way to multiple config visibility events without duplicating the spec several times.
People want a way to easily confi

[2017-11-08 19:13] zhouyx opened #11987 "Analytics: visible event reset"
## Overview ##
Amp Analytics support visible trigger. Amp analytics will trigger visible event once and only once during the first time `visibilitySpec` is met. People want more visibility events from the page
`visibilitySpec` looks like. Note: all attributes are optional
[code]

## Requirement ##
### Reset visible event ###
People want a way to reset visibility state and send identical visible ev

[2017-11-08 20:14] choumx opened #11989 "amp-story: Story-level metadata"
- Metadata is used for showing previews of AMP stories on various surfaces
- Metadata format should be extensible
- A *subset* of metadata will be enforced to encourage good UX (for now, by AMP Validator)

### Option 0: Use current markup with no changes

Page-level schema.org JSON+LD.

[code]

### Option 1: Attribute Soup

No new config or elements, just attributes.

[code]

### Option 2: Configu

[2017-11-08 20:14] choumx commented on #11873
I'd like to discuss options for story-level metadata for `amp-story`: #11989

[2017-11-08 21:04] dvoytenko commented on #11873
I'd like to follow up on `style` restrictions. See #11881.

[2017-11-08 21:37] zhouyx commented on #11986
Maybe something like the native InOb threshold is better
For example threshold [0, 10, 20, 30]

[2017-11-08 21:38] zhouyx commented on #11987
We don't really need this

Make make `reset` an interval value so it's more clear

[2017-11-08 21:45] alanorozco commented on #11645
This is not necessary as AMP validates `.i-amphtml-...` out of author styles.

Reopening as to revert later.

[2017-11-08 21:52] Gregable commented on #7846
Validator changes are live.

[2017-11-08 21:53] Gregable commented on #11541
Validator changes are live.

[2017-11-08 21:58] jpettitt commented on #11989
Useful reference https://json-ld.org/spec/latest/json-ld-api-best-practices/

[2017-11-08 21:59] dvoytenko commented on #11874
SVG in templates: https://github.com/ampproject/amphtml/issues/1156

[2017-11-08 21:59] mrjoro commented on #11873
visible trigger
- this is already possible today?  yes, but we just want to make things easier
- if we have an array, why have min/max?
  - the proposed syntax looks too much like ranges
  - better to have a single representation--either use min/max or use an array of tuples, similar to Python ranges
- the closer this is to intersection observer the better; we can point people to the intersection

[2017-11-08 22:00] mrjoro commented on #11873
visibility reset
- would it reset if it goes off screen and comes back on the screen
  - it would fire again
- the word "reset" is a little confusing; maybe "fireMultipleEvents" or "reenable"
- Dima: sounds solid overall; feels like we're moving closer and closer to intersectionobserver
- ads spam detection can use this data; the current visible trigger doesn't provide enough information
- maybe i

[2017-11-08 22:00] mrjoro commented on #11873
amp-stories config
- why aren't these attributes?
  - it's an option, but as we add more metadata it gets hard to read/understand
- instead of an amp-story-config, maybe it should just be a script with JSON
- we've talked about config multiple times for different parts of AMP, and in the end people seem to prefer JSON, e.g. amp-access
- feels like JSON is easier for others to parse, since this is

[2017-11-08 22:01] mrjoro commented on #11873
style restrictions update (from earlier design review)
- most people thought it was a good idea
- sanitizer needs to be fixed
- server-side-rendering needs to be checked
- disallow binding; it's whitelist based so that's already done

[2017-11-08 22:01] mrjoro commented on #11873
bonus discussion on supporting YouTube's cookieless URLs:
- instead of using a "nocookie" attribute on amp-youtube there's a cross-origin=anonymous attribute; can we re-use that or the CORS spec, or amp-list credentials attribute (include/omit)?  Ali will look into it

[2017-11-08 22:02] #11873 closed

[2017-11-08 22:31] aghassemi commented on #11956
@sahirsait for the attribute, let's use `credentials` with values of `omit` and `include` instead of `nocookie`.(with default of `include`). This will align better with `amp-list` which already has such a mode.

[2017-11-08 22:32] #11966 closed

[2017-11-08 22:36] aghassemi commented on #11979
@streamgao we are aware of the issue ( https://github.com/ampproject/amphtml/issues/7231 ) and working on a solution right now ( PR# https://github.com/ampproject/amphtml/pull/9302 ).

For the time-being, you need to include all the extensions you expect to be used in the main page until this issue is resolved soon.

Closing as duplicate of #7231, please subscribe to that issue for updates.

[2017-11-08 22:36] #11979 closed

[2017-11-08 22:42] aghassemi commented on #11980
@streamgao Do you have a url to an example? The ones I have tried does seem to have an issue with hash tag links: e.g. https://s.codepen.io/aghassemi/debug/KyNLxO

[2017-11-08 22:48] aghassemi commented on #11981
@meistudioli has always removed metadata. It should not be impacting you.

For sharing, please either share Canonical Url or the AmpUrl. never CdnAmpUrl

[2017-11-08 22:48] #11981 closed

[2017-11-08 22:50] aghassemi commented on #11983
/to @cvializ
/cc @dvdyakonov

setting to P1.

[2017-11-08 22:57] aghassemi commented on #11985
@jeffjose doesn't look like the `iframe` based version of Google maps has options for styling. We would need to build an `amp-google-maps` components to use their JS API to provide this fearure.

/cc @ericlindley-g

[2017-11-08 22:57] liangnanwu commented on #6608
Alexa supports AMP now, and it has been merged at [ampproject/amphtml/issues/11966](https://github.com/ampproject/amphtml/issues/11966).

[2017-11-08 22:58] liangnanwu commented on #6608
@rudygalfi sorry, I didn't find this issue before starting the work.

[2017-11-08 23:17] ericlindley-g opened #11992 "Refactor to prevent incorrect DOM APIs in shadow context"
Different parts of AMP reference the document and window objects. Usually in the single doc context (e.g. standalone amp document) any reference to the document object will be the correct one. However, in shadowdom contexts, using the incorrect document or window reference can cause bugs that are difficult to track down.

This issue tracks effort to refactor and forbid the use of non-ampdoc APIs f

[2017-11-08 23:33] aghassemi opened #11993 "Investigate scroll jank of bmw.com on older phones"
I have tested on a 3-year old iPad and Pixel 1 and there is no jank with those phones but on a Samsung J3, there is noticeable scroll jank.

Turning on data-saver (which disables autoplay) makes things much much better so chances are this is related to many videos that autoplay on bmw.com. Not sure if issue is with AMP code or due to S/W decoding of many videos happening on the main thread?

/cc @

[2017-11-08 23:44] aghassemi commented on #11993
more info: scrolling performance is pretty bad on Chrome on Mac as well. Safari seems much better. Chrome on Linux has been find ( but it is a beefed up machine )

[2017-11-09 00:36] aghassemi commented on #11868
@choumx unlikely I get to this this week. moving to next sprint. If there is a big urgency, please let me know.

[2017-11-09 00:36] streamgao commented on #11979
thanks!

[2017-11-09 00:44] aghassemi commented on #8730
changing to P2 since there has not been an external reports for this bug. feature likely under-used.

[2017-11-09 00:45] aghassemi commented on #4154
it's a tracker

[2017-11-09 01:03] sucharithav commented on #11973
The example should look like: (had to escape the amp-call-tracking tag)

&lt; amp-call-tracking type="googleadwords"&gt;
  <script type="application/json">
      "vars": {
          "googleConversionId": <conversion id>,
          "googleConversionLabel": <conversion label>,
          "fallbackNumber": <fallback number>
       }
  </script>
  &lt;a href="tel:123456789">+1 (23) 456-789&lt;/a>
&lt;/

[2017-11-09 01:08] meistudioli commented on #11981
ok. thanks.

[2017-11-09 01:21] Gregable commented on #5295
As per no response, closing.

Of note, I think we're also going to remove the warnings for the grandfathered unused extensions, but leave the errors for all new unused extensions.

[2017-11-09 01:21] #5295 closed

[2017-11-09 01:27] Gregable commented on #9135
There is nothing to actually do here, is there? Publishers can optionally add this header if they want, and useragents can optionally consume it if they want.

[2017-11-09 01:27] #9135 closed

[2017-11-09 01:28] Gregable commented on #8415
Closing. We are going to drop the warnings for missing tags, and the errors are clear enough.

[2017-11-09 01:28] #8415 closed

[2017-11-09 01:30] #11941 closed

[2017-11-09 02:13] AndrewKGuan opened #11994 "amp-list xhr not triggered when nested inside select tags"
I'm trying to use amp-list to ajax in some json data for populating a dropdown and found that there's no way to do it with amp-list:
`<select><amp-list><template><option value="{{value}}>{{name}}</option></template></amp-list></select>"`
This will not trigger amp-list to fire the xhr/ajax.
But if I do
`<amp-list><select><template><option value="{{value}}>{{name}}</option></template></select></amp-

[2017-11-09 04:52] newmuis commented on #11645
It forbids using those selectors, but not styling those elements.  For example:

[code]

Even if the runtime specifies `.i-amphtml-example { color: black; }`, the publisher can still override with by setting the `color` for `div`, or `body`, or....

[2017-11-09 06:58] abazeed commented on #7357
Hello @aghassemi, I'm trying to use the static live streaming URL of our youtube channel with amp-youtube, but it is not working.
I've tried to use it with the following formats, but none has worked:

* youtube.com/live_stream?channel=UCqFCFEIqqh35HXvkl58CERw
* live_stream?channel=UCqFCFEIqqh35HXvkl58CERw
* alaantube/live

I know that I can use the video id, but it keeps changing from time to time

[2017-11-09 07:45] abazeed commented on #7357
One more note that could help:

When I set the video id to `live_stream?channel=UCqFCFEIqqh35HXvkl58CERw`, the generated iframe URL inside the amp-youtube tag was:

`https://www.youtube.com/embed/live_stream%3Fchannel%3DUCqFCFEIqqh35HXvkl58CERw?enablejsapi=1&playsinline=1&iv_load_policy=3`

There are 2 problems with this URL:
* Escaping the unsafe characters of `?` and `=` to be `%3F` and `%3D`
*

[2017-11-09 08:17] saitho commented on #11956
That makes sense. I changed the name in the issue text.

[2017-11-09 10:28] jamescridland opened #11995 "amp-auto-ads fails with "Unexpected end of JSON input""
## What's the issue?

When implementing amp-auto-ads according to the specifications, the module fails with an error in the console, saying: **url.js:345 amp-auto-ads config xhr failed: SyntaxError: Unexpected end of JSON input​​​** and no ads are visible in the browser or requested.

On examining the network traffic, a call is made to a configuration file, at a URL looking similar to: *https://pa

[2017-11-09 11:07] rowangray commented on #11939
We have a demo of this on a test server here: https://article-swipe-sticky.standard.co.uk
n.b. you must be previewing with a viewport of < 970px wide, simulating mobile view on chrome is fine.
After loading the service working from the homepage click any article link, once the article has loaded swipe right (or click arrow) (we only load sticky ads after the first slide).
If you scroll here the st

[2017-11-09 11:25] lintal commented on #11389
Hi All

Given this ticket was dropped out of the October H2 sprint when it ended, is there any way to know when this can get picked back up?
How can we assist to progress this ticket forward and/or to include this in another sprint?
Do tickets not roll-forward into the next sprint if they aren't completed?

Thanks
Alex

[2017-11-09 14:06] JulienPalard commented on #10854
Can reproduce using 1.0.21 with npm 5.5.1 on Debian 9.1, this is due to npm dropping privileges before running scripts.

[2017-11-09 15:15] niutech commented on #9135
@Gregable I think your closing this issue is premature, as there is one thing to do, which is adding to the AMP spec that user agents should support referencing AMP HTML using the `Link: <....>; rel="amphtml"` response header too, not only using the `<link rel="amphtml" href="...">` tag.

[2017-11-09 15:59] sebastianbenz opened #11998 "[amp-bind] amp-list evaluation does not wait for amp-state's src request to be resolved"
Bindings are evaluated when an amp-list template is rendered. However, these bindings don't wait until an amp-state's remote src has been resolved (which they should to ensure an deterministic behavior).

**Example:**

An amp-state element using a JSON endpoint:
[code]

The amp-list binds an element to the amp-state:
[code]

This results in a race-condition, where the text is either `null` or `123

[2017-11-09 16:50] pubexchange commented on #11771
Do you know if the Pull Request is being delayed based on something I need to do?
https://github.com/ampproject/amphtml/pull/11823

[2017-11-09 17:00] jasti commented on #11771
@zhouyx  could you please take a look? thx.

[2017-11-09 17:27] mauricionr opened #11999 "[Question"

[2017-11-09 17:27] #11999 closed

[2017-11-09 17:33] mauricionr opened #12000 "[Question]Why sometimes amp page open inside installed pwa and sometimes not?"
I have an pwa in my android and sometimes amp page open inside the pwa, and sometimes not?

What is the correct behavior?

Thanks!

[2017-11-09 17:42] aghassemi commented on #11994
@AndrewKGuan First option will not work since `amp-list` is a block element and not valid child of `select`. Second option should work, I think you are missing a `type="amp-mustache"` on the `template` tag.

Please see https://ampbyexample.com/advanced/linked_dropdowns/ for good samples of using `select` and `amp-list` together.

[2017-11-09 17:43] aghassemi commented on #11994
Closing the issue, please feel free to reopen if still not resolved.

[2017-11-09 17:43] #11994 closed

[2017-11-09 17:44] aghassemi commented on #11995
/to @jasti @zhouyx

[2017-11-09 17:45] aghassemi commented on #11995
@jasti Assigning to you for now given it seems related to Google AdSense more than AMP based on assessment by  @jamescridland

[2017-11-09 17:46] mauricionr commented on #10641
#12000 i guess this is related

[2017-11-09 17:51] aghassemi commented on #12000
@mauricionr do you have a sample Url for us to test?
/cc @dvoytenko
/to @cvializ

[2017-11-09 18:05] aghassemi commented on #7357
@abazeed you are right livestream channels is not supported yet. Reopening the issue.

regarding autoplay with `iframe`, YT does not support it natively yet on mobile, only AMP does.

[2017-11-09 18:29] jasti commented on #11995
@jamescridland sorry about the hassle with AdSense product forum. Adding @tlong2 who is the TL for auto ads in Adsense, who can probably help take a look at this. Will also escalate internally to review support channels. Thanks for the report.

[2017-11-09 19:23] ericlindley-g opened #12002 "amp-list: use client-side data for render at page load"
Strawman syntax:

[code]

[2017-11-09 19:48] gmac opened #12003 "Bookend Schema documentation is incorrect"
@choumx Bookend schema documentation (found here: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/amp-story.md#bookend-json-endpoint) is incorrect. The schema should be:

[code]

This is an important piece of documentation for third-party developers.

[2017-11-09 19:52] choumx commented on #12003
Thanks for following up on this. We actually already have a fix out in #11984. Will be merged soon.

[2017-11-09 20:03] choumx commented on #11998
Good eye. 😄  This is an interesting one. The fundamental tension is the fact that both `amp-state` and `amp-list` elements are fetching the same data. Maybe we can add the ability for `amp-list` to explicitly reference an `amp-state` element by `id` as its data source.

[2017-11-09 20:16] #12003 closed

[2017-11-09 20:34] sebastianbenz commented on #11998
If they’re fetching the exact same data it works due to request caching.
Only when they’re different it may result in a race condition.

Being able to reference state from amp-list without having to provide a src
would be a lot cleaner. We’d still need to delay amp-list rendering until
amp-state has been resolved though.

On Thu, 9 Nov 2017 at 20:04, William Chou <notifications@github.com> wrote:

[2017-11-09 21:08] jridgewell commented on #11389
We reprioritize every sprint, so it might not be added to the new spring. If you're interested in working on this yourself, it should be a simple change.

[2017-11-09 22:30] AndrewKGuan commented on #11994
Hi Ali
the second option won't work either, I omitted the `type="amp-mustache"` to shorting my previous post but it is there in my code, so the actual code is:
`<amp-list src="https://my_domain/json.php" [src]="'https://my_domain/json.php?program='+program">
              <template type="amp-mustache">
                <option value="{{value}}">{{program}}</option>`
The way in which the ampbyexampl

[2017-11-09 22:33] heather162 opened #12004 "An AMP4ADS document using style[amp-keyframes] doesn't validate"
## What's the issue?

An AMP4ADS document using style[amp-keyframes] doesn't validate.

The error is
"The parent tag of tag 'style amp-custom (AMP4ADS)' is 'body', but it can only be 'head'."

## How do we reproduce the issue?

Add <style amp-keyframes></style> as the last tag in the document body on the default ad at https://validator.ampproject.org/#htmlFormat=AMP4ADS

## What browsers are affec

[2017-11-09 22:39] aghassemi commented on #11994
@AndrewKGuan , you would need the `select` to be inside the `template`.  Created a simple example, hopefully it will help you: https://codepen.io/aghassemi/pen/MOJxQe

[2017-11-09 22:51] AndrewKGuan commented on #11994
This is awesome, thanks Ali!  I really appreciate your help.

On Thu, Nov 9, 2017 at 2:39 PM, Ali Ghassemi <notifications@github.com>
wrote:

--

*  •  **Andrew Kean Guan*
*  •  *Mobile Solutions Consultant
*  •  *Google, Inc.
*  •  *keanguan@google.com
  •  +1(650)253-5567 <++1(650)253-5567>

[2017-11-10 00:33] mauricionr commented on #12000
i will send to you guys an recorded demo, and provide the url if needed! Thanks

[2017-11-10 00:36] honeybadgerdontcare commented on #12004
Currently <style amp-keyframes> is only available on AMP documents and not AMP4ADS documents.

/to @chenshay @jasti

[2017-11-10 00:51] mauricionr commented on #12000
sent!

[2017-11-10 01:26] cvializ commented on #9785
@AndrewKGuan Thanks for the feedback and interest in this issue! Just to clarify, the [current autosuggest demo](https://ampbyexample.com/advanced/autosuggest/) does hide the suggestions when the user erases their input. But a minimum number of characters before sending the XHR is a good feature request.

[2017-11-10 01:27] aghassemi commented on #10641
same issue as #12000 closing this one.

[2017-11-10 01:27] #10641 closed

[2017-11-10 09:30] JulienPalard commented on #10854
This is due to the postinstall script:
[code]
Which is failing to create the postinstall.DELETEME to redirect stderror, so `/bin/sh -c \"exit 0\" 2> postinstall.DELETEME` is failing, leading to `node postinstall-windows.js` being executed, see:

[code]

This `Permission denied` is due to NPM 5 executing scripts with dropped rights, so `npm install --insecure` may work as a temporary workaround.

I

[2017-11-10 10:15] TheodorGosden opened #12009 "AMP carousel custom prev/next buttons"
I would like to have a way to make a custom prev/next button in AMP. This is because I would like the prev/next buttons below the carousel (before and after the dots). Currently, I can style it all I want as long as I don't overflow the carousel.

Then I thought, I could just make the buttons my self, and then make a tap:#my-carousel.goToNextSlide. But that, unfortunately, doesn't exist.
![screen

[2017-11-10 10:23] Sejiro-Hiko commented on #4408
Hi @konakk , @jasti

Is there any update on this?

[2017-11-10 10:56] tlong2 commented on #11995
@jamescridland, AdSense currently only returns a configuration for amp-auto-ads when the request is from a mobile user agent. When I emulate a mobile browser on the page you link to, I see a config returned (although it appears that it doesn't insert any ads on that particular URL).

Sorry the error message is not very helpful, I'll look into improving that.

[2017-11-10 12:13] rudygalfi commented on #7765
Where is the sample tracking happening? We got a request for this during AMP Roadshow Europe.

[2017-11-10 12:26] rudygalfi commented on #11958
There was an internal issue. This should work now if you try again.

[2017-11-10 12:26] #11958 closed

[2017-11-10 12:49] jamescridland commented on #11995
OK. That needs documenting. I use AMP for all desktop web as well as mobile, and since all other AdSense calls work on desktop, it was a reasonable expectation that this one would. I'm quite disappointed about this.

I have tried to use amp-auto-ads on a high traffic website with 90% AdSense fill rate. It didn't work there either (on mobile either) so not sure what's going on.

OK, I'll cut my los

[2017-11-10 13:24] jamesshannon opened #12010 "<amp-analytics> amp-form-submit not firing"
I'm trying to track outbound clicks (click-tracking) and also outbound form redirects and having issues with amp-form-submit(-success).

[Test page][1] with [<amp-analytics> code][2] copied from both ampbyexample forms page, the analytics page, and also the [amp-form#analytics-triggers page][3].

I'm seeing the pageview ping, plus my click event on the select button, but no amp-form-submit ping. N

[2017-11-10 14:18] p2er opened #12011 "Videos flicker in AMP shadow document"
## What's the issue?

Videos occasionally enter a flickering state where until scrolled out of viewport and back into the viewport again. Can not be reproduced every time.

## How do we reproduce the issue?

Can not be reproduced every time. Error occurd on this page while filming it:
https://www.bmw.com/de/automotive-life/autofahren-mit-hunden.pwa.html

See video for details:
https://drive.google

[2017-11-10 15:59] rojasmi1 commented on #11928
That was the first thing I did, but it looks like they can't do much about it. It might be worth bringing this up to Facebook as well then.

I'm closing the issue. Thanks for the quick replies!

[2017-11-10 15:59] #11928 closed

[2017-11-10 16:45] ericlindley-g commented on #7765
Here's the sample-tracking project: https://github.com/ampproject/amp-by-example/projects/1 — I've added a note to the specific request

/cc @lswang1618 for visibility

[2017-11-10 16:52] aghassemi commented on #12009
@TheodorGosden You can build this using `amp-bind`, please see https://ampbyexample.com/advanced/image_galleries_with_amp-carousel/#linking-carousels-with-amp-bind for an example that ties `amp-caoursel` with a `thumbnail selector`. Your case is a bit different but the fundamentals are the same.

[2017-11-10 16:52] aghassemi commented on #12009
Closing this issue, feel free to reopen if you run into bugs while building this with `amp-bind`.

[2017-11-10 16:52] #12009 closed

[2017-11-10 16:53] aghassemi commented on #12010
/to @cvializ

[2017-11-10 16:56] aghassemi commented on #12011
@p2er can you give aghassemi '@' ampproject.org access to the doc?

Chrome desktop I assume?

[2017-11-10 17:12] isphillips commented on #9791
Any idea if/when this will be prioritized? We are extremely looking forward to having AMP enabled on our site but have forms for users to upload resumes when applying for jobs.

[2017-11-10 17:24] ericlindley-g commented on #9791
Thanks for the feedback, @isphillips — knowing your need here definitely helps in the prioritization process.

@cvializ , @aghassemi : how much effort do you think it would be to make a change like this? Half a sprint, or more involved? Is this something that an external developer could onramp easily onto to contribute?

[2017-11-10 17:29] #11175 closed

[2017-11-10 18:38] p2er commented on #12011
The content partial AMP document can be accessed via: https://www.bmw.com/de/automotive-life/autofahren-mit-hunden.shadowcontent.html
The stage partial AMP document can be accessed via: https://www.bmw.com/de/automotive-life/autofahren-mit-hunden.shadowstage.html
The combined AMP document can accessed via: https://www.bmw.com/de/automotive-life/autofahren-mit-hunden.amp.html

[2017-11-10 18:45] bradfrizzell commented on #10549
No longer relevant, RTC 2.0 rolled out

[2017-11-10 18:45] #10549 closed

[2017-11-10 18:47] bradfrizzell commented on #10448
Now that we have babel 6, will Rocha work?

[2017-11-10 19:18] camelburrito opened #12014 "Error: Signing service error for google: Failed to import key"
Error: Signing service error for google: Failed to import key ({"alg":"RS256","e":"AQAB","ext":true,"kid":"1","kty":"RSA","n":"z43rjaJ9PLk1FHMEL31_ILXGtUTN03rxJ9amD9y3BRDpbTA-GkUKiQM07xAd8OXPUZRqcjvXQfc7b1RCEtwrcfx9oBRdF78QMA4tLLCqSHP0tSuqYF0fA7-GyTFWDcYzey90jRFNNWxjzKrvSazacE0TvJ8S_AVP4EV67VdbByCC1tpBzLhhy7RFHp2cXGTpWYUqZUAVUdJoeBuCho_zQz2au7c6sDaLiF-uYL9Td9MrZ6tSLo3MeMIZia4WgWqjTDICR0h-zlbHUd0K9

[2017-11-10 19:42] isphillips commented on #9791
@ericlindley-g Awesome, appreciate the prompt reply! Will definitely be watching this ticket.

[2017-11-10 20:30] Gregable commented on #12004
I'm pretty sure this is an oversight and not intended.

Created https://github.com/ampproject/amphtml/pull/12015 to fix, but will confirm with @dvoytenko before mergint.

[2017-11-10 21:11] jridgewell commented on #6676
In our first success for [POST error reports](https://github.com/ampproject/amphtml/pull/11913), this was unmasked. The GET requests chopped the stack from the report because of too many experiments hogging up the URL.

[2017-11-10 21:11] jridgewell commented on #12014
Dupe of https://github.com/ampproject/amphtml/issues/6676.

[2017-11-10 21:11] taymonbeal commented on #12014
Duplicate of #6676. We thought this was a new error in the latest canary, but it turned out to have been going on all along and simply masked in our server-side logging by the GET length limit.

[2017-11-10 21:42] keithwrightbos opened #12017 "Add i-amphtml-ssr as allowed attribute for amp-pixel"
As part of #11911, SSR support for inabox creatives allows for directly writing the img tag into amp-pixel/amp-img tags so that they can be fetched in parallel with the AMP runtime fetch/initialization.  Given amp-pixel allows for client-side macro expansion of the url, inclusion of i-amphtml-ssr indicates the pixel is safe to inline the image however it currently fails validation.  Add i-amphtml-

[2017-11-10 21:57] jamesshannon opened #12019 "Chrome Extension: Extension stays broken if validator.js not loaded"
The extension wasn't working for me. Went through a bunch of debugging and made it to the background.js page, which was saying that the amp object is undefined (line 248: `const validationResult = amp.validator.validateString(doc);`). Network tab showed that when trying to download this there was an ERR_CONNECTION_REFUSED. I've been doing a lot of traveling recently, so I guess that I some point t

[2017-11-10 22:08] jpettitt opened #12020 "amp-img - add a new layout mode "intrinsic""
Currently `amp-img` !== `img` in several key respects.

`amp-img` has no intrinsic size so a responsive `amp-img` in a floated div will be 0x0.  A regular html `img` will inflate to it's intrinsic size or it meets a constraint like `max-width` or `max-height`.  This can't be fixed with `min-width` because it has a higher priority than `max-width`.

Additionally it's currently impossible to make `a

[2017-11-10 22:35] jridgewell commented on #12020
How is this different from a responsive amp-img?

[2017-11-10 22:41] aghassemi commented on #7357
/cc @cathyxz let's add a new attribute `data-live-channelid` that can be specified instead of `data-videoid`. We would need to change the validation rules so that either of `data-videoid` , `data-live-channelid` become required now. The placeholder poster image logic may need to chaneg as well. Not sure if YT provides default poster for live channels or not.

[2017-11-10 22:43] jpettitt commented on #12020
A responsive `amp-img `will render 0x0 in a float requiring additional css glue to fix, of then this require a manual fix as it's next to impossible to auto convert.  The new mode will behave like a regular image, rendering as large as possible up to it's actual size or any css imposed constraints. This will make auto converting existing themes much easier.

[2017-11-10 22:48] jridgewell commented on #12020
Wow, I should have read better. Sorry.

[2017-11-10 23:53] powdercloud commented on #10854
@JulienPalard Many thanks for looking into it!
I've commented on the PR, I think unfortunately it may break usage on systems that call the node interpreter nodejs, not node. When making this package, I was careful to make it work regardless.
Maybe it's indeed time to revisit that decision, and stop supporting systems where it's called nodejs. I think in that case we can probably simplify further.

[2017-11-10 23:53] heather162 opened #12022 "Documentation/validator mismatch for amp-ad-exit"
## What's the issue?

The documentation for amp-ad-exit says that all layouts are supported because the extension is hidden but the validation spec for amp-ad-exit does not allow the layout attribute to be present with any value.

## How do we reproduce the issue?

Add an amp-ad-exit tag with a layout attribute to an A4A document and then try to validate the document.

## What browsers are affecte

[2017-11-11 00:14] aghassemi opened #12023 "amp-mustache removes `application/json` script tags"
Template sanitizer currently removes `<script type="application/json">` which means that components that rely on JSON configurations (`amp-animation`, `amp-ima-video`) can not be be used inside `amp-list`

/cc @dvoytenko  @choumx

[2017-11-11 00:15] aghassemi commented on #11874
JSON scripts in `template` https://github.com/ampproject/amphtml/issues/12023

[2017-11-11 00:32] cathyxz commented on #11214
@spacedino do you know what icons are appropriate to use?

[2017-11-11 10:57] 123michi19 commented on #11958
Thanks for your help, it works fine now :)

[2017-11-11 14:38] 1987yama3 commented on #10864
@zhouyx Thanks for your reply.
I think that it is not necessary to limit the attribute. I think that it is more convenient to get the id/class attribute and general data attribute, etc.
Why should you restrict attributes?

I think it is difficult to extract CLICK_HOST on the server side. Because it is the vendor side of each tool needs to deal with it and it can not be implement by the user of the

[2017-11-11 19:22] ericlindley-g commented on #11818
Chiming in a bit late with a couple thoughts:

If I understand correctly, this is a request to collect data (full list in "supported behaviors" aboive), in order to determine a level of "disengagement" sufficient enough to display ads that disrupt the experience of engaged readers, like blocking modals.

+1 to Vamsee's ask to catalog the behaviors that are on the table to be deemed acceptable (I w

[2017-11-11 22:07] JulienPalard commented on #10854
Hi @powdercloud, thanks for taking the time to review this, and it looks obvious you're right: by calling "node" each time instead of only on windows, I'm breaking the platforms where it's called "nodejs".

The [npmjs documentation](https://docs.npmjs.com/misc/scripts#examples) gives an interesting example:

[code]

I didn't checked the underlying implementation:

If they are just expecting the OS

[2017-11-11 22:37] JulienPalard commented on #10854
Found `npm_node_execpath` and `NODE` in the environment are containing the path of the node executable, so using it may fix the node vs nodejs problem. I almost arbitrarily picked $NODE instead of $npm_node_execpath as I was unable to find their definition. Picked the "nice looking one"...

[2017-11-12 02:00] jasti commented on #11916
ping @zhouyx

[2017-11-12 11:59] jaygray0919 opened #12024 "Attribute 'href' may not appear in tag 'span'"
Similar to: https://github.com/ampproject/amphtml/issues/8928

getting an error on these types of statements:
[code]
HEAD looks like this:
[code]
the above is standard schema.org declarations and valid on Google Structure Data Testing Tool.

/jay gray

[2017-11-12 13:18] nazaninbinesh opened #12025 "All AMP examples in the site are false"
Hello
As I checked www.ampproject.org, all the main case studies which are introduced for using AMP technology in mobile version are false , there was no AMP version .
would you please give me some information about what is going on? Is the information in the site is fake?
Best Regards
Nazanin Binesh

[2017-11-12 14:38] #11938 closed

[2017-11-12 14:38] mrjoro opened #12026 "Weekly Status 2017-11-13"
Please add a comment to this issue with your weekly status update for the AMP Project, such as:

- your accomplishments over the last week
- what you're currently working on
- things you're blocked on
- anything else you think the entire community should know

We encourage updates from everyone who is actively participating in the AMP Project.

[2017-11-12 16:46] joshuastobaugh57 opened #12027 "Research and development"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-11-12 16:47] joshuastobaugh57 commented on #12027
Looking in to global issues

[2017-11-13 01:38] scott-rothman opened #12028 "amp-bind: Spurious verify warnings for [height]"
## What's the issue?

Development mode throws the following error `amp-bind: Default value for [height] does not match first expression result (550). This can result in unexpected behavior after the next state change.` even though the default value is in fact the same as the first expression result

## How do we reproduce the issue?

1. Set an amp-carousel to have a dynamic height via `[height]`
2

[2017-11-13 01:40] scott-rothman commented on #12028
Addendum:  I discussed this in the amphtml slack channel and was requested to file an issue

[2017-11-13 16:49] #11849 closed

[2017-11-13 17:38] jridgewell commented on #12026
- Updating Layers PR
- Safari GPU bugs suck

[2017-11-13 17:40] jpettitt commented on #11874
Intrinsic sized image layout #12020

[2017-11-13 18:05] QES opened #12036 "FR: Displaying Local Time - possible addition to time ago."
## What's the issue?

When displaying a time you see the time you display, however users in different time zones see your local time and not a time local for them.

So if I have a time displayed on my site of:

3pm Saturday 11th November 2017 (UTC)

Someone in Europe still sees that time but I'd like to show them

4pm (CET)

or in New York

10am (EST)

etc

This could be an addition to TIMEAGO or

[2017-11-13 18:07] cvializ commented on #9791
@ericlindley-g By my estimate, I think that it would be about half a sprint. Possibly more if any unexpected security concerns arise.

[2017-11-13 18:16] cathyxz commented on #12026
Last sprint:
- Onboarded =)
This sprint:
- Lightbox 2.0
- Happy to pick up any small bugs or annoyances from anyone to familiarize myself with the code base.

[2017-11-13 18:17] rudygalfi commented on #11829
It looks like the webkit bug https://bugs.webkit.org/show_bug.cgi?id=179315 has had a patch submitted. I'm going to go ahead and close this out. I'm unsure of the Safari release schedule, but please re-open if the problem persists.

[2017-11-13 18:17] #11829 closed

[2017-11-13 18:17] cvializ commented on #12010
I am able to reproduce. Will investigate.

[2017-11-13 18:22] cvializ commented on #12026
- Opened Date Picker PR (#12016)
- PWA Bugs (internal, b/69107593, #11939, #11914, #11540)

[2017-11-13 18:22] rudygalfi commented on #11835
As @zhouyx said in her last update, the CLIENT_ID substitution will only work if CLIENT_ID has been previously requested, see: https://github.com/ampproject/amphtml/blob/master/spec/amp-var-substitutions.md#substitution-timing.

Is there an example of the before and after configurations? Strictly adding some trigger events doesn't seem like something that would cause this.

[2017-11-13 18:29] Gregable commented on #12004
https://github.com/ampproject/amphtml/pull/12015 fixes this, but it'll be a couple weeks before this makes it out to production.

[2017-11-13 18:29] #12004 closed

[2017-11-13 18:31] Gregable commented on #12024
@jaygray0919 Do you have any pointers to references on this? I'd like to understand which tags it should be supported on and what it is for.

Re: 8928, that was an SVG parsing question, so I don't think this is an extension of that request exactly.

[2017-11-13 18:42] rudygalfi commented on #12010
Should we include in H2 Nov sprint?

[2017-11-13 18:46] zhangsu commented on #11287
Uhh okay. That threat model makes sense actually. Thanks for the explanation, closing this as what this FR is asking is not applicable to the current thread model.

[2017-11-13 18:46] #11287 closed

[2017-11-13 19:07] rudygalfi commented on #11954
Taking this off the 3P Ads & Analytics project. We should investigate to see if it's an issue on AMP side or UC Browser side.

[2017-11-13 19:14] AndrewGibson27 opened #12039 "DoubleClick iframes raise error: `script tag for amp-analytics is likely included twice in the page`"
## What's the issue?
The error... `amp-analytics is already registered. The script tag for amp-analytics is likely included twice in the page` ... is shown in the browser console of AMP page that includes DoubleClick ad units. If you look at the ad iframe page source, you can see that it also includes the `amp-analytics` script, thus causing this error if the AMP page itself also includes that scr

[2017-11-13 19:17] rudygalfi commented on #11932
Submitted PR cc @bpaduch @zhouyx @jasti

[2017-11-13 19:21] zhouyx commented on #11916
Hey @shawnbuso
Yes runtime provides few functions that you can use.

Viewport [onScroll]
(https://github.com/ampproject/amphtml/blob/master/src/service/viewport/viewport-impl.js#L517), can help detecting if user scroll the page.

To understand it better. @jasti What's the definition for AMP page finished loading? As every AMP component has been loaded, or runtime scheduling being idle for 3 second

[2017-11-13 19:23] rudygalfi commented on #11590
Any updates on this or a design sketch?

[2017-11-13 19:30] rudygalfi commented on #11380
Can anyone provide an update on status for this?

[2017-11-13 19:33] bpaduch opened #12040 "Success message is incongruent with icon in Story Runtime checks"
Related to https://github.com/ampproject/amphtml/pull/11627#issuecomment-343974929

The "successful" messages in the Developer Logs for AMP stories provides mixed signals between the green check icon and the language of the message.
- Green = good
- Language of message = "Don't do this"

![amp-story-log-message-confusion](https://user-images.githubusercontent.com/1012254/32744872-efae7f70-c87e-11e

[2017-11-13 19:42] #11932 closed

[2017-11-13 19:55] bpaduch opened #12041 "Cannot close Developer Logs in Dev Mode (AMP Story)"
When you have development mode enabled for an AMP story, the developer log displays on the screen but you cannot close it with the specified close (X) icon.

![amp-story-cant-close-log](https://user-images.githubusercontent.com/1012254/32746022-76b33a58-c882-11e7-8734-1b30fc760a4f.png)

No action occurs when you click the icon.

Expected: Log to close or be minimized.

[2017-11-13 20:35] sebastianbenz opened #12042 "amp-list: add resizable flag"
When amp-list content (or `src`) get's updated via amp-bind, the updated content might no longer fit into the available space (either too large or too small). It'd be great to have a `resizable` flag for amp-list that would resize the amp-list to fit it's content, when it's content is updated via amp-bind.  Effectively changing the layout from whatever was initially defined to a container layout.

[2017-11-13 21:22] newmuis commented on #11848
@prateekbh fixed the last one with #11951

[2017-11-13 21:22] #11848 closed

[2017-11-13 21:36] rudygalfi commented on #11262
Closed by #11472

[2017-11-13 21:36] #11262 closed

[2017-11-13 21:36] cvializ commented on #12010
Potentially

[2017-11-13 21:37] rudygalfi commented on #11194
Can anyone say the status of this?

[2017-11-13 21:39] rudygalfi commented on #11096
Any updates on this?

[2017-11-13 21:40] rudygalfi commented on #11095
Any updates on this?

[2017-11-13 21:41] rudygalfi commented on #11023
Did we figure out if the SDK gives a postMessage confirmation of the like event?

[2017-11-13 21:42] zhouyx opened #12043 "Error: Cannot read property '237x' of undefined"
Error: Cannot read property '237x' of undefined
at (https://raw.githubusercontent.com/ampproject/amphtml/1510180045130/extensions/amp-pinterest/0.1/pin-widget.js:89)

[2017-11-13 21:43] rudygalfi commented on #10991
Internal issue has been marked fixed. Confirming if this can be closed...

[2017-11-13 21:54] rudygalfi commented on #10855
@zhouyx Can you investigate this? Per the [documentation](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vars.md#variables-as-data-attribute), it should work.

I wonder if the problem is that the variables `"eventCategory": "${trackCategory}"` are being defined within the trigger rather than the requests?

cc @avimehta again as well

[2017-11-13 21:58] rsimha-amp commented on #10448
Unfortunately, after some testing post-babel-6, `rocha` is looking like a dead end too, given how different its API is from mocha, and due to the fact that we use `karma-mocha-runner` to run our tests.

Until https://github.com/mochajs/mocha/issues/902 is fixed, I'm afraid this issue is a won't fix.

[2017-11-13 21:58] #10448 closed

[2017-11-13 21:59] rudygalfi commented on #10722
@grantkemp Is this issue still valid? Also, have you checked out https://support.google.com/analytics/answer/7486764?

[2017-11-13 22:04] rsimha-amp commented on #11977
There's nothing in yarn that should block `hexo-generator-amp` from being installed. This works for me with the following command. Can you check if this works on your set up?

[code]

[2017-11-13 22:07] rsimha-amp commented on #11977
@tea3, another thing to note is that we recommend the use of node v6 for amphtml development. Can you updated your node version and see if the error persists?

[2017-11-13 22:16] rudygalfi commented on #10624
Internal issue resolved. Closing this.

[2017-11-13 22:16] #10624 closed

[2017-11-13 22:20] pomeroyr commented on #11194
This has been abandoned in favor of changes to timer vars in #11290. This can be closed.

[2017-11-13 22:28] rudygalfi commented on #11194
@pomeroyr - thanks.

[2017-11-13 22:28] #11194 closed

[2017-11-13 22:43] jamesshannon commented on #12010
In the meantime, can you think of any workarounds offhand?

Attaching a change event to the select didn't do any good (for analytics), and neither did amp-form-submit. Though I didn't try amp-form-submit-success. I assume that's not working, either?

[2017-11-14 00:29] tea3 commented on #11977
@rsimha-amp
Thank you for your suggestion. Because I'm not using Yarn and Windows 10 (see https://github.com/tea3/hexo-generator-amp/issues/33) , I can't  check this suggestion. But this advice think to be helpful.

[2017-11-14 00:29] cvializ commented on #12010
I notice that your `"trackFormSubmit"` block is not inside the `"triggers"`. The event does fire if I move that into the `"triggers"` block.

[2017-11-14 01:03] jamesshannon commented on #12010
Good catch. But you were able to reproduce this morning, right? Or did you just catch this yourself?

I did a preliminary test and it seems to be working.

[2017-11-14 01:34] cvializ commented on #12010
I repro'd on your example, and discovered the above when trying a local repro. Sorry for any confusion

[2017-11-14 05:46] rudygalfi commented on #11317
How severe is this (how frequently does it happen)? Setting priority of P2 for now.

[2017-11-14 06:03] AkashHC13 opened #12045 "AMP cache is not invalidated."
## What's the issue?

https://www-thequint-com.cdn.ampproject.org/i/s/www.thequint.com/images/thequint_amp.png
gives a 404.

However
https://www-thequint-com.cdn.ampproject.org/i/s/www.thequint.com/images/thequint_amp.png?foo=bar
gets me the image.

Original logo url is https://www.thequint.com/images/thequint_amp.png

[2017-11-14 07:51] rudygalfi commented on #10991
@lannka Please check b/64766800 and close if satisfied.

[2017-11-14 10:57] jaygray0919 commented on #12024
@Gregable have a look here:

[Source](https://ontomatica.io/amp/amp_schema_test/
)

[GSDTT](https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fontomatica.io%2Famp%2Famp_schema_test%2F)

[AMP validator](https://validator.ampproject.org/#url=https%3A%2F%2Fontomatica.io%2Famp%2Famp_schema_test%2F)

/jay

[2017-11-14 11:08] jaygray0919 commented on #12042
We have exactly this problem with a number of `amp-list` `amp-mustache` instances where the `src` document is updated daily.

the "source" of `src` data is a client-side `ajax` `JSONP` script that reads HTTPS/CORS data from different servers. We then have to save that output to an `amp-list`. New data overwrites existing data so we don't have to change the AMP document. But the size of the data ch

[2017-11-14 12:00] weeblr opened #12046 "Does an AMP+PWA site will be considered invalid by Google Bot?"
Hi

I discussed this with @rudygalfi during the Paris AMP roadshow, and he suggested I open an issue here to validate his reply. The question is as follow:

- assume I have a site implement AMP, whether as a canonical AMP or a classical standard HTML + AMP version
- I am adding a PWA to the AMP pages. The SW will inject some javascript into the AMP pages, to perform additional features not normall

[2017-11-14 13:44] keithwrightbos commented on #12039
Hello, this is due to an AMP creative being returned by Doubleclick which does have the amp-analytics script included twice.  This will be addressed in two ways going forward:

1.  We are launching Fast Fetch canonical AMP within in the next couple of weeks and your page is eligible (no usage of remote HTML or useSameDomainUntilDeprecated).  This should result in a revenue and viewability increase

[2017-11-14 13:44] #12039 closed

[2017-11-14 14:17] choumx commented on #12042
Good idea. We're already planning to do this in #10230. Closing as dupe.

Any opinion on whether this should be the new default behavior or opt-in?

[2017-11-14 14:17] #12042 closed

[2017-11-14 14:30] sebastianbenz commented on #12042
Thanks, I didn't see the other issue. I think it needs to be opt-in.
Otherwise you might break existing implementations that rely on the current
behavior.

On Tue, Nov 14, 2017 at 2:18 PM William Chou <notifications@github.com>
wrote:

[2017-11-14 14:31] p2er commented on #12011
@aghassemi Chrome desktop is correct.

[2017-11-14 15:06] choumx commented on #12042
I agree. 👍

[2017-11-14 17:33] aghassemi commented on #12019
@jamesshannon  assigning to you since we are not actively working on the extension.
/cc @honeybadgerdontcare

[2017-11-14 17:40] adelinamart commented on #11986
@zhouyx to break this in 3 and assign accordingly

[2017-11-14 17:41] aghassemi commented on #12022
/to @zhouyx
/cc @jasti

[2017-11-14 17:47] aghassemi commented on #12026
* Published Basics of scrollbound effects tutorial on AmpByExample.com. Covers "Scrollbound Animations", "Fade & Slide Transitions", "Parallax Image Window" and "Carousel Transition": https://ampbyexample.com/visual_effects/basics_of_scrollbound_effects/
* Published a sample for "Shrinking header" visual effect on codepen: https://codepen.io/aghassemi/pen/GOEWEz
* Removed validation rule that enfo

[2017-11-14 18:05] aghassemi commented on #12025
/to @rudygalfi to clarify

[2017-11-14 18:06] #12027 closed

[2017-11-14 18:17] aghassemi commented on #12028
/to @choumx Issues seems to be with `verifyBinding_` which other than `text` and `class` seems to assume everything else is a boolean attribute. The bug does not impact actual behaviour, just wrong logging in development mode.

[2017-11-14 18:23] aghassemi commented on #12036
Closing as duplicate of https://github.com/ampproject/amphtml/issues/10837

@QES for now until this feature is in you may want to use the workaround specified in https://github.com/ampproject/amp-by-example/issues/719

[2017-11-14 18:23] #12036 closed

[2017-11-14 18:23] aghassemi commented on #10837
another feature request for this: https://github.com/ampproject/amphtml/issues/12036

[2017-11-14 18:44] cvializ commented on #12000
Where was this sent to?

[2017-11-14 18:45] #12010 closed

[2017-11-14 18:45] aghassemi commented on #12043
@zhouyx I will take it, just needs some null checks.

[2017-11-14 18:51] aghassemi commented on #12045
@Gregable @honeybadgerdontcare thoughts on why this happens?

[2017-11-14 18:54] outoftime opened #12052 "amp-sticky-ad is covered by home bar on iPhone X Safari"
## What's the issue?

When viewing a page with an `<amp-sticky-ad>` on iPhone X Safari, the “Home Bar” overlays the ad creative

## How do we reproduce the issue?

Visit https://ampbyexample.com/components/amp-sticky-ad/ on an iPhone X.

Note that this is not an issue when the page is loaded in the Google AMP viewer. It only appears to affect AMP pages accessed directly.

## What browsers are affe

[2017-11-14 18:56] aghassemi commented on #12052
/to @zhouyx

[2017-11-14 19:04] cvializ commented on #11983
Able to reproduce as described. Will investigate

[2017-11-14 19:15] aghassemi commented on #12000
Closing the issue since discussed on Slack

[2017-11-14 19:15] #12000 closed

[2017-11-14 19:28] zhouyx commented on #12043
Thanks @aghassemi !

[2017-11-14 19:58] bradfrizzell opened #12054 "Running local server on non-localhost causes breakages"
Steps to reproduce:
[code]
navigate to hostname:8000/examples/ads.amp.html
Select doubleclick for ad network.
Notice how all the ads 404

The issue is that non-localhost is not being identified as localDev in mode.js, which is instead hardcoding localhost in its check for localdev mode.

[2017-11-14 19:59] erwinmombay commented on #12054
looking

[2017-11-14 20:00] rsimha-amp commented on #12054
I believe this is stemming from the hardcoded check for `localhost` here: https://github.com/ampproject/amphtml/blob/master/src/mode.js#L79

[2017-11-14 20:02] rsimha-amp commented on #12054
Another option is to force `localDev` via the mechanism here: https://github.com/ampproject/amphtml/blob/master/src/mode.js#L75 (Not sure where in `gulp watch` or `gulp serve` this can be inserted, though.)

[2017-11-14 20:15] bradfrizzell commented on #12054
this also complicates it: https://github.com/ampproject/amphtml/blob/master/src/3p-frame.js#L235

[2017-11-14 20:28] robinpokorny commented on #10837
<img width="392" alt="screenshot 2017-11-14 21 23 54" src="https://user-images.githubusercontent.com/68341/32802932-29102422-c982-11e7-99fd-0ee1f2107f97.png">

---

@aghassemi, this is the screenshot of the code I have.

What is missing:
- [ ] validator-amp-date-display.protoascii (all)
- [ ] amp-date-display.md (all)
- [ ] test/test-amp-date-display.js (all)

[2017-11-14 20:41] aghassemi opened #12056 "amp-selector: `[selected]` attribute with `amp-bind` conflicts with manual selection"
If `selected` attribute of `amp-selector` is changed view bind, and then manually via tap, the binding stops working.

I believe this is because the manual tap does not update the `selected` attribute so `bind` on the next updates does not believe it is actually changing the value and therefore does not mutate.

/cc @camelburrito

[2017-11-14 21:00] djavet commented on #12056
Full sample code here: https://codepen.io/aghassemi/pen/jaLrjR

[2017-11-14 21:04] Gregable commented on #12024
Sorry I was unclear. I'm looking for a reference on the `href` attribute as used in a `<span>` tag, not an example. A document stating what this means and on which tags it's supported. Does it include only `<span>` for example

The SDTT not complaining doesn't mean much. It also doesn't complain about a literal `<foo>` tag.

[2017-11-14 21:07] Gregable commented on #11855
Why would we not want to have the runtime handle this instead (or in addition)? The `on` attribute has no meaning in HTML, only to the runtime.

[2017-11-14 21:10] newmuis commented on #11855
The only reason is to give publishers a heads up that what they're doing is illegal, rather than silently failing.  We can call this out in development mode, but it seems less likely that such an error would be seen.

[2017-11-14 21:18] jaygray0919 commented on #12024
Here is @Person defines by schema.org.
http://schema.org/Person
See RDFa examples at the bottom, example #2.
Is that what you meant?
/jay

[2017-11-14 21:50] aghassemi opened #12058 "amp-bind: Need a way to invalidate "previousValue" for a boundProperty."
Some components like `amp-selector` may have other ways of changing the value of a property (e.g. a manual tap changes the `selected` attribute). The issue is `amp-bind` relied on previously calculated value to decide whether something has changed or not before mutating, so we need a way for a component to purge the `previousValue`.

Example:

[code]

Here the button mutates `[selected]` attribute

[2017-11-14 21:50] aghassemi commented on #12056
closing in favour of https://github.com/ampproject/amphtml/issues/12058, root cause is deeper than `amp-selector`

[2017-11-14 21:50] #12056 closed

[2017-11-14 21:50] aghassemi commented on #12056
worked around added to  https://codepen.io/aghassemi/pen/jaLrjR

[2017-11-14 23:04] cvializ commented on #11983
It looks like this line is misbehaving: https://github.com/ampproject/amphtml/blob/feature/date-picker/src/service/resources-impl.js#L1430
[code]

Sometimes the `visibleRect` value appears to be negative, way above the top of the document, so `r.overlaps(visibleRect)` evaluated to `false`, so `r.setInViewport` is called with `false` when the ampdoc transitions from `prerender` to `visible`

[2017-11-14 23:20] cvializ commented on #11983
@jridgewell / @choumx any insight into why this might happen in a shadowdoc? Do you think it could have something to do with clicking a `href="#internal"` link to get to the document? I don't understand how the `visibleRect` could be above the top of the document. Unless I'm misunderstanding the values.

<img width="653" alt="screen shot 2017-11-14 at 3 18 46 pm" src="https://user-images.githubuse

[2017-11-15 00:00] zhouyx opened #12061 "Error: Failed to execute 'assign' on 'Location'"
Error: Failed to execute 'assign' on 'Location': Blocked a frame with origin "https://www-wattpad-com.cdn.ampproject.org" from accessing a cross-origin frame.
at assign (https://raw.githubusercontent.com/ampproject/amphtml/1510180045130/extensions/amp-app-banner/0.1/amp-app-banner.js:402)
at (https://raw.githubusercontent.com/ampproject/amphtml/1510180045130/src/service/resources-impl.js:1521)

[2017-11-15 00:03] zhouyx opened #12062 "Error: null is not an object (evaluating 'a.element.parentElement.tagName')"
Error: null is not an object (evaluating 'a.element.parentElement.tagName')
at tagName (https://raw.githubusercontent.com/ampproject/amphtml/1510180045130/extensions/amp-analytics/0.1/amp-analytics.js:289)

[2017-11-15 00:07] cvializ commented on #11824
Yeah the official documentation on this is either non-existent or difficult to find, for fb and whatsapp. And the official docs from iOS and Android that I can find seem to indicate that plain HTTP links should deep link if the app is installed. I vote to close as WAI

[2017-11-15 00:07] zhouyx opened #12063 "AMP-YOUTUBE: Error: Cannot read property 'contentWindow' of null"
Error: Cannot read property 'contentWindow' of null
at contentWindow (https://raw.githubusercontent.com/ampproject/amphtml/1510180045130/extensions/amp-youtube/0.1/amp-youtube.js:334)

[2017-11-15 00:23] #11977 closed

[2017-11-15 00:34] cvializ commented on #11939
I can reproduce on the provided site. Investigating.

[2017-11-15 01:30] aghassemi commented on #12061
we need to ask viewer to navigate, similar to iOS. This does not happen with our viewer but I can see why it may happen with other viewers.

[2017-11-15 04:38] jasti commented on #12022
@clawr @Gregable Could you PTAL? Thanks.

[2017-11-15 05:13] choumx commented on #12058
Thanks for filing this issue. You're right that amp-bind only has visibility over bindings and adding a `select` event trigger would work. I'm not sure that automatically changing bind variables without an event/action is the right solution though since I think implicit behavior can be very confusing.

Let's use this issue to track other instances of this as they pop up.

[2017-11-15 05:15] choumx commented on #12028
Thanks for filing this issue. This message is actually just a warning, though it has been confusing for many others too. We'll fix this and clarify the messaging.

[2017-11-15 06:35] kenrick95 opened #12065 "<amp-img> is not loading on Firefox 58"
Images on `<amp-img>` is not being loaded on Firefox 58

## What's the issue?

![screen shot 2017-11-15 at 2 31 44 pm](https://user-images.githubusercontent.com/3090380/32822074-bc18a26e-ca11-11e7-9717-9cc99ce14cbb.png)
![screen shot 2017-11-15 at 2 37 42 pm](https://user-images.githubusercontent.com/3090380/32822237-7d81421c-ca12-11e7-9c51-bc825ded193b.png)

## How do we reproduce the issue?

Ope

[2017-11-15 09:08] QES opened #12066 "Opera 49 Desktop (Mac) ad blocking blocks ALL AMP JS widgets"
## What's the issue?

When using Opera 49 on desktop the default is to use its add blocker, that stops any AMP JS elements loading and pages are not loaded.

I'm not sure this is something that the amphtml project can solve but it is something that should communicated to the Opera team in as many ways as possible.  I have also submitted a bug report to Opera.

## How do we reproduce the issue?

Us

[2017-11-15 09:26] QES commented on #10837
Hi,

This looks very interesting and I was asking about this kind of thing in https://github.com/ampproject/amphtml/issues/12036 and pointed to https://github.com/ampproject/amp-by-example/issues/719 as a workaround for the short term.

Obviously this solution being proposed would be a better way to solve the problem I have is there anything I can do to help?

My issue is just to be able to take a

[2017-11-15 10:22] mitchellkrogza commented on #2745
I stumbled across this after just activating AMP on one of my sites today. Unfortunately one of my most popular posts which uses a table does not display the images in the AMP version of the page. Can anyone assist me in rectifying this? The non AMP page is: https://www.environment.co.za/weeds-invaders-alien-vegetation/alien-invasive-plants-list-for-south-africa.html and I use a plugin called Tabl

[2017-11-15 11:50] QES commented on #12065
Just had a thought have you checked there is no ad blocking solution running by default.  In the last I have seen ad blocking solutions remove all the images on amp sites.  I saw a similar but worse problem on the desktop version of Opera this morning.

[2017-11-15 13:24] alanorozco commented on #11898
This is WAI. Will follow-up with UXD.

[2017-11-15 13:32] #11845 closed

[2017-11-15 14:22] grantkemp commented on #2586
HI @Liron-Gigya we have a customer who is looking at this- did you manage to progress.

[2017-11-15 15:01] salcan commented on #2745
@mitchellkrogza Sounds like you might have a TablePress problem, not an AMP problem? I checked out [the page](https://www.environment.co.za/weeds-invaders-alien-vegetation/alien-invasive-plants-list-for-south-africa.html/amp) and it looks ok, just doesn't scale too well.

I have a test carousel table setup here on this [Coffee Scale](https://coffee-scale.com/index.amp.html) page. Might be worth a

[2017-11-15 15:11] mitchellkrogza commented on #2745
Thanks @salcan I’ll check that out in the morning :+1:

[2017-11-15 15:32] newmuis commented on #11856
I created https://jsfiddle.net/avx2te23/4/ to test having pausing the video element initially, then subsequently playing it after a delay (which is analogous to what happens in the auto-advance case in the `amp-story` extension).

Tested Mac OS Chrome 61.0.3163.100 and Android Chrome 62.0.3202.73 and it looks so far like `muted autoplay` is enough to bless the video.  I will continue to test other

[2017-11-15 16:11] newmuis commented on #11856
Additionally works on iOS Safari 10.0.3 and Android Firefox 56.0

[2017-11-15 16:25] newmuis commented on #11856
Oddly, `<video>` tags don't show up for me at all on UC Browser 11.0.0.1016 Android pf139 or Samsung Internet Browser Beta (version 6.2.01.7)

[2017-11-15 16:34] newmuis opened #12067 "Require media element descendants of amp-story to be autoplay and disallow controls"
All `amp-video` and `amp-audio` elements that are descendants of the `amp-story` element should specify the `autoplay` attribute, to help resolve #11856.

Additionally, `amp-video` and `amp-audio` elements that are descendants of the `amp-story` element must NOT specify the `controls` attribute.

[2017-11-15 16:35] newmuis commented on #11856
Let's try this as an approach.  For the time being, since user interaction is not possible within `<amp-story-page>` elements, we can actually validate that all `<amp-audio>`and `<amp-video>` elements have the `autoplay` attribute specified (filed #12067 for the validator change).  We can also change the runtime to only attempt to play `autoplay` media (this issue will track the change to the `amp

[2017-11-15 18:29] Gregable commented on #9625
This validator change is now live everywhere.

[2017-11-15 18:50] honeybadgerdontcare commented on #12045
Could be that when the url without the query params was requested in the cache the image was a 404 and the cache hasn't updated it yet due to various potential reasons.

@AkashHC13 can you share the url this image is linked to? Are those pages not showing the image?

[2017-11-15 19:12] brandondiamond commented on #11929
Hey all! Just finishing up our data analysis doc and wanted to follow up. Is there a fix being prepared for this? Thanks!

[2017-11-15 19:15] christianbersch opened #12071 "Nav interaction sometimes locks briefly on slow connections (tapping doesn't do anything)"
Nav interaction sometimes locks briefly (tapping doesn't do anything).  Seems to happen on pages with video only

Reproducable on iPhone and Android Chrome on 3G connection.

@newmuis

[2017-11-15 19:19] rsimha-amp commented on #8020
@taymonbeal Can this be closed now that #11001 has been merged?

[2017-11-15 19:26] christianbersch opened #12072 "Video poster image appears but video never plays."
Video poster image appears but video never plays.
- in some cases it never plays even going through the story, so it may just have never loaded
- in some rare cases video seemed to instantl plays when going back to that page - this may be coincidence, but happened a few times.

[2017-11-15 19:29] rudygalfi commented on #11536
@aghassemi It sounds like you're dismissing option 1, but that's only if there isn't any intelligence/auto-insertion of characters, right? The one case we saw of distant dates being worse on AMP and better on non-AMP put a slash automatically with a hint to fill in "MM/DD/YYYY". This seems like a reasonable path. The main question is how to make it generic. I think an important consideration is ke

[2017-11-15 19:29] taymonbeal commented on #8020
Yes. Closing as duplicate of #10477.

[2017-11-15 19:29] #8020 closed

[2017-11-15 19:37] newmuis commented on #11856
Okay, as a quick update: The `autoplay` attribute helps because `amp-video` will use that to mute the underlying `video` by default.  This, however, does not help in the case of unmuted videos.

Per @aghassemi's suggestion, we can call `play()` on all videos when the user taps the unmute icon, and subsequently `pause()` any videos that shouldn't be playing.  This will bless them for future automat

[2017-11-15 19:40] rudygalfi commented on #12046
Thanks for posting the question here.

Preliminarily, I would say that the validation aspect is checked once the page is crawled, so any further update due to JavaScript would not make the page be considered as invalid. However, it would be good to check things. Do you have a example of such a page you could post a link to here?

[2017-11-15 19:48] zhouyx opened #12074 "Support ${IntersectRect} and ${intersectRatio} substitution"
decided to divide #11987 to two issues.

Request to more information from the visible event. `${intersectionRect}` `${intersectionRatio}`

We can add ${intersectionRect} and ${intersectionRatio} info from each visible event. Note that only the info from last InOb entry will be stored and substituted.

The `${IntersectionRect}` and `${intersectionRatio}` variable come from latest intersectEntry and

[2017-11-15 19:53] zhouyx commented on #11986
https://github.com/ampproject/amphtml/issues/11873#issuecomment-342974876

[2017-11-15 20:03] rsimha-amp commented on #11662
I just tried to repro this by setting my chrome dev console settings to the default logging level, and then inserting some calls to `user().warn` into the runtime. I'm seeing the logs I inserted in the console. Based on this, I take it there's nothing more to do here.

![screenshot from 2017-11-15 15 00 19](https://user-images.githubusercontent.com/26553114/32857499-07f3f766-ca16-11e7-8e61-ebfc557

[2017-11-15 21:11] cvializ commented on #11874
- JSON Scripts in `template`
  - Cannot use certain AMP components that take configuration `<scripts>` inside a `<template`>
  - Any technical concerns with santizer?
    - Justin: Doesn't seem to be too much effort to check the attribute in the sanitizer code
  - Any security concerns?
      - Carlos: issues with executing code rendered into the template JSON script?
      - Justin: no, that woul

[2017-11-15 21:26] rsimha-amp commented on #11854
@erwinmombay I think we need to expose a way to make `IS_DEV` true with `gulp build`, either via a flag, or by default. Can you think of any reason for not doing so?

[2017-11-15 21:38] jridgewell commented on #11929
I have a fix in #12077. Using the page from https://github.com/ampproject/amphtml/issues/11929#issuecomment-342283528, I'm able to confirm the carousel images no longer cause 37k heights to be sent.

[2017-11-15 21:43] rsimha-amp commented on #11854
Scratch the above. There is already a supported way of setting `localDev` to `true` via `gulp build --fortesting`. Updating documentation and `pr-check.js` should do the trick.

@newmuis I assume `localDev == true` is a sufficient trigger to enable your experiment, correct?

[2017-11-15 22:00] hongwei1990 commented on #11898
Hey guys, I already emailed Alan. Please reference my screenshot here for the design solution. The last icon was designed to cut off and only shows 16px. Based on our recent user testing, users did scroll to see more options. We will run user testing for the new bookend design; I will follow up here if we need to treat the UI differently.
<img width="1632" alt="screen shot 2017-11-15 at 1 58 57 pm

[2017-11-15 22:25] newmuis commented on #11854
The more I think about it, I think we really should have support for the experiments themselves, rather than relying on mode.  Ideally, we could even set up visual diff tests for the experiment-disabled behavior and the experiment-enabled behavior separately.  For `amp-story`, these both have UIs that we would want to keep from regressing.

[2017-11-15 22:32] cvializ commented on #11222
Shouldn't be too difficult to enable with bind. We already allow amp-list URLs to be bound with `[src]`.

[2017-11-15 22:47] jridgewell commented on #11662
Reopening. @rsimha-amp, you're testing in a local build of AMP, which logs differently than production versions.

Going to https://ampbyexample.com/, and doing `log.user.warn('test', 'test')` should warn.

[2017-11-15 22:59] jridgewell commented on #12065
I'm unable to reproduce in v58. Do you have an adblocker installed? If so, which? That way we can fix the damn thing.

[2017-11-15 23:02] jridgewell commented on #12066
Whoo EasyList. Maybe related to https://github.com/ampproject/amphtml/issues/12065? /cc @kenrick95

[2017-11-15 23:02] aghassemi commented on #10837
@QES this component will be at least a few months out. The workaround with with `amp-list` does batching, so if multiple `amp-lists` with the same `src` get fired at once, only a single call happens. This means you can create a single endpoint and pass `TIMEZONE` to it and have it return a JSON with all the 20 so dates converted. Each `amp-list` then can target a specific key in that JSON result t

[2017-11-15 23:16] cvializ commented on #11914
This is a Safari bug which applies to SVGs using the `<use>` tag, like your example.
https://bugs.webkit.org/show_bug.cgi?id=174977

I was able to get the SVG to render by using the SVG markup directly without using `<use>`. It's not ideal but it will work until the Safari bug is resolved.

[2017-11-15 23:24] newmuis opened #12078 "Implement "halves" template for amp-story-grid-layer"
A FR has come in for a `halves` template that splits the screen into two equal sections, stacked vertically.  This is akin to the `thirds` template, but with two sections instead of three.

Not sure if there's a better name for this; perhaps one that implies the vertical orientation of the sections.

[2017-11-15 23:24] cvializ commented on #11914
Closing since this issue ended up not being a problem with AMP and cannot be resolved by AMP

[2017-11-15 23:24] #11914 closed

[2017-11-15 23:30] aghassemi opened #12079 "amp-form: Support auto formatting"
Many form inputs use JS to auto format fields such as dates, credit card numbers and phone numbers as user types (e.g. auto insert separators, stop accepting input after x charters, etc..)

For a few examples see jQuery Mask Plugin: https://igorescobar.github.io/jQuery-Mask-Plugin/

We should support such use-cases in AMP, if we somehow manage to make it super generic and use the RegEx specified i

[2017-11-15 23:45] clawr commented on #12022
I guess the right thing to do is allow "nodisplay". Not specifying should still be ok too. I'll make the change.

[2017-11-15 23:47] cvializ commented on #12079
This has been on my mind too, I think it is a great idea to prioritize this for e-commerce.

[2017-11-16 00:00] aghassemi commented on #11536
#12079 for #1

[2017-11-16 00:06] jridgewell commented on #12066
It appears sportsmole ran afoul of EasyList:

[code]

So, AMP is being blocked, _all_ third party scripts from sportsmole are being blocked.

[2017-11-16 00:06] #12066 closed

[2017-11-16 00:36] rsimha-amp commented on #6039
With #11827, unit tests will be run on Safari latest via Sauce Labs for all PR and push builds.

[2017-11-16 00:50] cathyxz commented on #9977
FYI @spacedino, this is the demo URL I'm pushing to: https://amp-cathyxz.herokuapp.com/test/manual/amp-lightbox-viewer-optin.amp.html. It's a work in progress, but feel free to play around with it before our session tomorrow.

It may be stale but hopefully not broken. I've refactored the code slightly so that the Lightbox Gallery (aka `amp-lightbox-viewer`) has the zoom/pan functionality from `amp

[2017-11-16 01:06] cathyxz commented on #9977
So far we have WIP:
- double-tap zoom
- panning
These things need to get fixed:
- swiping doesn't work when swiping over the image, need to disable swiping while zoomed in and reenable swiping when zoomed out.
- code cleanup

TODO:
- pinch zoom
- vertical swipe to dismiss (refactor: this should probably be handled by the lightbox-viewer, and not the ImageViewer).

[2017-11-16 01:41] kenrick95 commented on #12065
This is indeed very strange, this only happens at Firefox 58 of my work laptop. I tried on Firefox 58 on my personal laptop and it is working fine. I tried to clear browser cache, disable all addons, disable "Tracking protection", tried in private mode, etc. without any success.

[2017-11-16 10:12] ftudlong opened #12082 "remove amp form validation"
## What's the issue?
i did not add amp form validation because we have our own validation but somehow its adding validation error  class on the form which prevent the form from submission.  Since we just added amp in our page it should not affecting our forms.

[2017-11-16 10:25] weeblrpress commented on #12046
Hi @rudygalfi

Sorry no, I don't have a public setup just yet, as this part of a larger development. I can arrange something, but not right away. Is your advice to create a public test website and just let it be indexed and see what happens?
Cheers

[2017-11-16 11:05] QES commented on #12066
Thanks now to get off that list, but why does an adblocker block AMP components?

[2017-11-16 11:08] asaptechnology opened #12083 "webgl"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2017-11-16 11:10] choumx commented on #12079
@lswang1618 was interested in this for credit card fields in amp-payment IIRC. /cc @cathyxz

[2017-11-16 11:59] jgsojo commented on #7848
Hi @alanorozco, this is the issue I told you about this monday at our meeting at Madrid.

PD: I'm the front-end developer from El Confidencial.

[2017-11-16 13:11] QES commented on #10837
@aghassemi thanks - will take a look at that.  It might be a possible work around.

[2017-11-16 13:20] rohanprasad commented on #2198
Hey guys, any update regarding this ?

[2017-11-16 14:29] mikeduarte commented on #7980
@cvializ @weeblr This issue just happened to me exactly as you described in the latest desktop Chrome with the following URL when trying to submit the form:

https://www-tollbrothers-com.cdn.ampproject.org/c/s/www.tollbrothers.com/contact/other-inquiries?amp=true

Console message:

I closed Chrome and reopened and reloaded the URL then it worked.

[2017-11-16 14:46] hindsc52 commented on #11023
@rudygalfi I've not had a chance to look into this yet.

[2017-11-16 15:09] sebastianbenz opened #12085 "AMP.goBack does not revert AMP.pushState(...)"
Given a pushState action:

[code]

Calling AMP.goBack does not revert the state:

[code]

Demo: https://amp-live-list-form.glitch.me/goback.html

//cc @choumx

[2017-11-16 15:21] newmuis commented on #11856
Put together this [JsFiddle](https://jsfiddle.net/4dv8a9cc/5/) to test out the maximum video limitation on iOS Safari.

Looks like the `.error` property gets set to `MEDIA_ERR_DECODE` for videos that are created beyond the limit.  It also looks like it is last-played first-evicted (i.e. on my device, where the limit is 16 videos, when the 17th video is added, it immediately fails, and so on, leavi

[2017-11-16 16:02] lswang1618 commented on #12079
+1! this was the library I looked at: https://github.com/RobinHerbots/Inputmask

it has some cool options like dynamically changing the masking w/ user input (i.e. changing a credit card pattern as the user types)

[2017-11-16 16:53] grantkemp commented on #8691
Hi we are working on a couple of retail sites - this is a blocker for us.  Currently we are doing a lot of engineering server side- would love this feature- as it means we can launch a lot quicker.

[2017-11-16 17:07] newmuis commented on #11843
We cap the number of prerendered AMP elements at 20 and parse the tree depth-first, so `amp-story` is rarely one of the prerendered elements, depending on the contents of the story.  This might actually be fine, though; the most important content to be prerendered are the media assets on the page, which are already leaves in the tree.

[2017-11-16 17:22] aghassemi commented on #8691
/cc @lswang1618

@dereklewis we need to prioritize this for e-commerce. Would you be able to send a PR with your work in progress?

[2017-11-16 17:40] bpaduch opened #12086 "Cannot navigate to bookend page"
With the [recent changes to bookend behavior](https://github.com/ampproject/amphtml/pull/12021), I cannot navigate to the bookend page, even though the progress indicator indicates a remaining page.

Example - https://bap-amp-001.appspot.com/

Might be a regression.

[2017-11-16 17:47] rsimha-amp commented on #11804
@keithwrightbos We're still seeing the occasional error due to this. Could you comment on whether this is familiar to you?

[2017-11-16 17:50] AkashHC13 commented on #12045
@honeybadgerdontcare Yes, those pages were not showing the image. However, looks like its working fine now. Any idea how?

[2017-11-16 17:52] honeybadgerdontcare commented on #12045
@AkashHC13 I did an update-ping request for that image and that instructs the cache to look for the file again. The better version of update-ping is [update-cache](https://developers.google.com/amp/cache/update-cache) but that can only be done by the domain hosting the content.

[2017-11-16 17:52] #12045 closed

[2017-11-16 18:03] rudygalfi commented on #12046
Yes, that's right. My previous update is basically saying that we think this should work OK. But if there's a site live that's doing it, we'd definitely be interested to take a look and verify.

[2017-11-16 18:07] #12083 closed

[2017-11-16 18:07] aghassemi commented on #12082
/to @cvializ to triage

[2017-11-16 18:11] craigscott29 commented on #9791
The company I work for could definitely use this feature as well. We are nearing completion of our AMP implementation, and apart from our store locator (which will probably never be AMP valid), the only other hiccup we are experiencing is the inability to add an uploader for resumes to our application forms. We will probably add it for now and let those pages go as AMP invalid until this feature i

[2017-11-16 18:15] cvializ commented on #12082
@ftudlong Can you share a link to the document with the incorrect behavior so I can try to reproduce and investigate?

[2017-11-16 18:24] dereklewis commented on #8691
Yes, I'll get that WIP PR in today. My apologies for the delay, unfortunately life showed up for me.

[2017-11-16 18:32] aghassemi commented on #11735
closing as by design (ads not allowed in fixed position elements)

[2017-11-16 18:32] #11735 closed

[2017-11-16 18:45] rojasmi1 opened #12088 "amp-facebook zooms-in videos when switching from landscape to portrait"
## What's the issue?

amp-facebook zooms-in videos when switching from landscape to portrait.

## How do we reproduce the issue?

Here is a [sample page](http://amp-facebook-video.surge.sh/)

1. Load the page in landscape mode
2. Once the page is load switch to portrait mode
3. The video in portrait now looks zoomed in and cut off.

## What browsers are affected?

Chrome mobile and desktop with em

[2017-11-16 18:52] rsimha-amp commented on #11854
Gotcha.

@newmuis Can you elaborate on which experiment you'd like to enable, what you already tried (that didn't work), and what kind of mechanism you're envisioning (that's independent of `mode`)?

@erwinmombay Do you know if there's a way to enable an AMP experiment today after running `gulp build`?

[2017-11-16 18:53] rsimha-amp commented on #12054
@erwinmombay Are you working on a fix? If not, I'm happy to pick this up.

[2017-11-16 19:03] rsimha-amp commented on #11662
I see what you're talking about. The logging doesn't show up for `user().warn`. PR coming up.

[2017-11-16 19:16] QES opened #12089 "Documentation no example amp-cors-requests.md"
## What's the issue?

https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md

In reading this documentation there isn't a full example and it is not fully clear what headers need to be implemented to ensure CORS compatibility consistently.

A full example of headers used would make this much more comprehensible.

for example looking in ampbyexample amp-list example looks like

[2017-11-16 19:42] jridgewell commented on #12066
It's not blocking the AMP components exactly. It's blocky any script that has a source that's not the same domain. So, you're loading v0.js from `cdn.ampproject.org`, which isn't `sportsmole.co.uk`, so blocked.

[2017-11-16 19:44] jridgewell commented on #12066
As kind of a cool workaround, all pages loaded from Google Search will work since they're being hosted by the CDN. So, https://www.google.com/amp/s/amp.sportsmole.co.uk/football/crystal-palace/news/hodgson-loftus-cheek-can-make-world-cup_312021.html doesn't have the same script blocking that `sportsmole.co.uk`'s origin domain does.

[2017-11-16 19:59] aghassemi commented on #9977
*UX Review Notes*
- Demo requirements @cathyxz to provide (will eventually move to ABE)
  - picsum.photos image assets
  - inline carousel
  - some with no desc, short desc, normal desc, some with ridiculously long descriptions
  - different image ratios (landscape and portrait) and one that fills the viewport.
  - a video
  - an ad
  - a tweet
- We may need to change the animation timing for `amp

[2017-11-16 20:49] newmuis commented on #11854
For enabling the experiment independently of `mode`, I tried:

- [Toggling the `amp-story` experiment in `<body>`](https://github.com/ampproject/amphtml/pull/11682/commits/3bd9ad343ce63fb68daf2ace64404f0b5f03d116)
- [Toggling the `amp-story` experiment in `<head>`](https://github.com/ampproject/amphtml/pull/11682/commits/960b99f33c9d2041ec8a8ac9d17d33018123ec1f)
- [Manually setting the value of th

[2017-11-16 21:10] aghassemi commented on #8691
back to P2 after chatting with @lswang1618

[2017-11-16 21:57] cvializ opened #12091 "Builtin PWA code to add offline CSS class to document?"
Issue to track investigating the effort involved in adding simple offline detection to an AMP document. Ideally just by including an extension.

[2017-11-16 22:06] honeybadgerdontcare commented on #11874
Server-side rendering handles new layouts by not applying the layout (it's unknown to SSR) and by not removing the boilerplate which allows the Runtime to apply the layout.

[SSR design](https://docs.google.com/document/d/1gViU1hxtGXwMSTNnum2zY_p9ZWvFwMKoachNdIRUgh0/edit#heading=h.sjwwl27b7ald):
Lastly, do not remove the boilerplate if an unknown layout is encountered. This is to allow the release

[2017-11-16 22:06] #11956 closed

[2017-11-16 22:49] aghassemi commented on #6469
**UX Design Review**

- [ ] Allow typing (new version of ReactDate does).
- [ ] @spacedino to come up with a base style for calendar (Decision is to have a "good" (instead of a "reset" that picks up browser default) base style)
- [ ] @cvializ to "reset" the `input` styles back to browser defaults.
- [ ] Modal for modal overlay for desktop.
- [ ] @cvializ publish Demo link for @spacedino to use for

[2017-11-16 23:38] aghassemi commented on #12088
Classifying as feature since fix involves detecting `data-embed-as` automatically in the component

[2017-11-16 23:40] aghassemi opened #12093 "amp-facebook: add data-align-center attribute"
### Motivation
Currently `amp-facebook` component does not provide a way to center align the content.

### The solution
 `amp-facebook` should expose a `data-align-center` attribute. If the attribute is added by the page author `text-align:center` should be added to the `<div id="c">`.

### Testing
Look at a sample in https://s.codepen.io/aghassemi/debug/zprmzV , note that the embed is not center

[2017-11-17 00:18] ericlindley-g commented on #9977
Excellent notes!  Do you have more context on the question of entry points for lightboxable items, or should we just sync in real-time when I'm back?

[2017-11-17 00:29] ericlindley-g commented on #8691
FYI got several requests for this and amp-filter at the AMP roadshow today, and a few folks who are also interested in helping out that may jump in on the thread.

[2017-11-17 00:40] Gregable commented on #12024
Right, but I don't see an example here using `<span href=...>`. I'm trying to understand if that's a valid schema.org markup or not. If so, what are the tags for which the `href` attribute has meaning in schema.org markup.

[2017-11-17 00:41] aghassemi commented on #9977
We can chat later in details. Context is whether AMP should overlay any UI on top of elements that can go into lightbox mode. For now decision was not having AMP overlay anything but have the action API for authors to do so.

[2017-11-17 00:50] ericlindley-g commented on #9977
Gotcha — sounds good to chat later. I lean toward a default UI that can be customized or opted out of, rather than having nothing by default, since I think there's a lot of value in providing an affordance to users (more likelihood of engagement; higher probability of *good* UI, assuming that we provide a "good" affordance:)

But I'm sure there was some good discussion about this, so looking forwa

[2017-11-17 01:02] Gregable commented on #12067
These tags are entirely controlled by the AMP runtime. It doesn't seem to me that validation is the right place for these constraints. For example, you can simply make all of these tags autoplay if they descend from `amp-story`.

[2017-11-17 01:29] jasti commented on #9546
@coreybyrnes think we can build something generic in AMP that kills the iframe when context.blankContent(), so that the delayed impression is fired. @zhouyx @keithwrightbos do you have any objections to this?

[2017-11-17 12:17] weeblrpress opened #12096 "Validator rejects aria-current="page" on a span. Correct?"
## What's the issue?

If an aria-current="page" is added to a span, as can now happen with WordPress + Yoast SEO, the AMP validator invalidates the page with a `The attribute 'aria-current' may not appear in tag 'span'` error message.

[EDIT]: I looked up https://github.com/ampproject/amphtml/blob/master/validator/validator-main.protoascii and it appears that aria-current is simply not whitelisted

[2017-11-17 12:18] cramforce commented on #11389
CORS is required to be able to read the response.
lets remove the AMP CORS requirement when no credential access is requested.

[2017-11-17 12:18] weeblrpress commented on #12046
Hi

OK, I'll try to work out something in the coming days, and will get back to you.

Cheers

[2017-11-17 12:22] cramforce commented on #2376
@Integralist Does this help https://github.com/ampproject/amphtml/blob/78b17216c8066818a528a76df27c2254eb69aea5/src/preconnect.js#L244

[2017-11-17 14:02] greghuet opened #12097 "Google Speed - AMP CSS Grid"
Hi,

Following the presentation from the AMP in Paris last week, we are working on a full responsive site in AMP using CSS and grid placement. Also this is all working well so far as you can see here on our test page:
[http://amp.mio-oroscopo-del-giorno.com/index_grid.php](url)

We are doing some tests using Google Speed to see the performances based on Google solution. Here is the direct link:
[h

[2017-11-17 14:49] kul3r4 opened #12098 "amp-font non supported by shadow dom"
When using amp-font in AMP pages embedded in a PWA (via shadow dom), the font is not loaded correctly.
For example: [amp-font sample](https://amp-by-example-staging.appspot.com/polymer/detail/components/amp-font/) shows the custom font while the [embedded](https://amp-by-example-staging.appspot.com/polymer/detail/components/amp-font/) version in Polymer pwa amp-font doesn't.

@cvializ FYI

[2017-11-17 15:16] shawnbuso commented on #11916
Thanks for the info!

@jasti re: onScroll, do we want to request ads when the users scrolls no matter where the video player is, or only once the video is scrolled into the frame? If the latter, can you point me to some code I can re-use for that? I imagine that exists since we use it for things like video autoplay.

Also, ping @jasti for @zhouyx's question above.

[2017-11-17 15:18] craigscott29 commented on #9791
Hurts.

![2a0ebbfa](https://user-images.githubusercontent.com/33098508/32954216-dbc442c6-cb88-11e7-9729-04fdc2e98912.PNG)

[2017-11-17 15:48] josepcasadomrf opened #12100 "Could we take width and height from the amp-img tag attributes instead of offsetHeight and offsetWidth in <amp-image-lightbox>"
I wonder if it could be possible to somehow take the width and height of the source image (namely `this.sourceWidth_` and `this.sourceHeight_`, @ amp-image-lightbox.js:237) from the `<amp-img>` element attributes `height` and `width` instead of from the `offsetheight` and `offsetwidth` attributes. It looks like if the images are cropped inside a smaller div, the `<amp-image-lightbox>` ends up show

[2017-11-17 16:29] aghassemi commented on #9977
@ericlindley-g, @spacedino also thought the same regarding the value a default affordance would add. It sounds good to me as well.

@spacedino could you create some mocks with the UI you have in mind for a few common cases (image, video, tweet, ad?) before we discuss this in details?

[2017-11-17 16:31] aghassemi commented on #9791
@craigscott29, we are planning to add support for this soon.

[2017-11-17 16:34] aghassemi commented on #12100
@cathyxz a bug to keep in mind for the rewrite (or potentially to fix before launching the rewrite)

[2017-11-17 16:54] aghassemi commented on #12096
@weeblrpress  fix sent. will be in production in about 3 weeks.

[2017-11-17 17:02] aghassemi commented on #12097
Hi,

I am not sure why pagespeed preview's are wrong. Migth be that they are using an older version of browser to render. Their support forum is here: https://groups.google.com/forum/#!forum/pagespeed-insights-discuss I suggest asking there.

As for AMP and CSS Grid: As long as the browser supports CSS Grid (not all do), there shouldn't be any issues using it in AMP.

[2017-11-17 17:03] #12097 closed

[2017-11-17 17:13] #12096 closed

[2017-11-17 18:03] rudygalfi commented on #11888
@zhouyx Can you add updates?

[2017-11-17 18:27] cvializ opened #12105 "Any AMP extension with a version other than 0.1 is broken in ShadowDOM"
The offending line: https://github.com/ampproject/amphtml/blob/master/src/service/extension-location.js#L42

When extensions are loaded from the shadow document, the version 0.1 is hard coded into the script URL.

/cc @dvoytenko

[2017-11-17 18:52] rojasmi1 commented on #12093
Setting the environment up to solve this @aghassemi. I'll update when PR is ready.

[2017-11-17 18:58] aghassemi commented on #12093
@rojasmi1 Awesome. Thanks!

[2017-11-17 20:27] flaviori commented on #11910
Just to clarify, template is a required attribute and there is no such thing such as template="custom" or similar, right? i.e., one has to necessarily pick one of the existing ones e.g., fill, vertical etc.

[2017-11-17 20:51] cvializ commented on #12098
Able to reproduce, looks like it's using the top-level document and not yet considering the shadow case. Is this blocking any partners?

[2017-11-17 21:01] newmuis commented on #12086
/to @alanorozco Can you take a look?

[2017-11-17 21:18] christianbersch opened #12107 "AMP-Stories: Progress bar is sometimes lagging behind"
## What's the issue?

Progress bar is not updating or sometimes has missing pieces in the middle on slow connection and when navigating quickly between pages.

## What browsers are affected?

Seen on iOS Chrome

[2017-11-17 21:29] newmuis commented on #12107
Here's a screenshot of the progress bar:
![progress bar with five full sections, followed by an empty section, followed by a partial section](https://user-images.githubusercontent.com/1651960/32969780-5b691a94-cbb4-11e7-9023-0e4fc15793a4.png)

[2017-11-17 21:54] rsimha-amp commented on #11804
Turns out this is due to `examples/visual-tests/article-access.amp/article-access.amp.html` setting a cookie that isn't being cleared for subsequent tests. Fix coming up.

[2017-11-17 21:58] rsimha-amp commented on #11854
Gotcha. Fix coming up via the functionality in https://github.com/teampoltergeist/poltergeist#manipulating-cookies.

[2017-11-17 23:14] spacedino commented on #10807
@aghassemi Can we prioritize this for the next sprint? Now that we are launching all of these templates, it's become obvious how hard the existing solution is to override it.

Ideally if someone adds a placeholder, we don't show the dots. Currently there are a LOT of palceholder + 3 dots that show up on TOP of the actual images once they have loaded.

/cc @ericlindley-g

[2017-11-17 23:28] #11929 closed

[2017-11-18 00:23] cathyxz opened #12112 "Lightbox 2.0: Create removeGestureRecognizer function in gestures.js class"
In order to resolve the conflicting gesture recognizers between `ImageViewer` and parents (e.g. `amp-lightbox-viewer`, `amp-image-lightbox`), we want to add / remove gestures based on whether or not the image is zoomed. This requires a function to remove GestureRecognizers. This should be assigned to me. =)

[2017-11-18 00:38] zhouyx commented on #11888
Findings from #12035
1. `Viewer.isVisible()` is false
2. `Viewer.hasBeenVisible` is true
3. I get three kinds of error stack

Error: CID trace for: Request cid failed: document is not visible EXTRA INFO: doc isVisible: false, doc hasBeenVisible true
    at (https://raw.githubusercontent.com/ampproject/amphtml/1510956201635/src/service/action-impl.js:459)
    at (https://raw.githubusercontent.com/a

[2017-11-18 00:47] jasti commented on #11916
Sorry for the delay.
@zhouyx I was suggesting it to be 'the earliest time we can, but not interfering the scheduler' - Closest is ' runtime scheduling being idle for 3 seconds'.
@shawnbuso The former. Just like sticky ads. Most video players are in the first viewport anyway.

[2017-11-18 01:34] aghassemi commented on #10807
@spacedino, is the problem you like to solve hiding the the three dots for elements that have a placeholder? or do you want to customize the look and feel of the three dots?

If the former, it should be a simple one of CSS. If the latter, @camelburrito has more context on how involved a full-fledged solution is.

[2017-11-18 08:52] alanorozco commented on #12086
@newmuis

Caused by a lack of foresight on my part when responding to PR review. In short, I need to remove an `important` clause. Sending fix soon.

[2017-11-18 09:20] QES commented on #12089
In the code for ampbyexample:

https://github.com/ampproject/amp-by-example/blob/master/backend/request.go#L42

[code]

There is some context which seems to clarify this.

I'm still not 100% certain how the Origin is defined here.

[2017-11-18 09:25] QES commented on #12066
Hi @jridgewell that is interesting so in the case of these kind of ad blockers they need to whitelist cdn.ampproject.org OR can one use a CNAME to map cdn.ampproject.org to (in this case to cdn.sportsmole.co.uk - not sure if that is valid).

Of course the one problem with the google cache that you link to is that it is a single page that works and all links break as they are back on the main site

[2017-11-18 11:19] choumx commented on #11816
@reznord Have you started working on this yet? Still interested?

[2017-11-18 11:30] jaygray0919 commented on #12024
From the above page, here is a "close match" using <link>
[code]

in our case, we set the vocab in `<html>` using `prefix='schema: https://schema.org'` rather than assigning a vocab to `<div>`.
the grammar then allows us to assign types and properties to `<html elements>`.
it's true that the example above uses `<link>`, but, in schema.org world and in RDFa world, we're allowed to apply types and p

[2017-11-18 11:39] alanorozco commented on #11754
I'm not completely sure that adding the `standalone` attribute to the event payload would be the best way to go.

As the standalone story lives in the same place as the analytics config, I believe one could simply encode this information as part of the endpoint URL payload.

@rudygalfi for input.

[2017-11-18 11:48] alanorozco commented on #7848
To add more context on this:

This issue describes two different features:

- configurable endpoint
- JSON endpoints

@jgsogo is interested in the latter.

The reason why the endpoint needs to deliver HTML is because it can then be cached. This relieves the origin server from a little bit of the load caused by polling.

In order to support JSON, we would ideally ping the server only when needed in

[2017-11-18 12:15] QES commented on #12091
This I think would be a great addition to AMP,  PWA is a great idea but what sets AMP apart is that it is a set of libraries that can be loaded with simple JSON elements to make changes and alterations to the way things work.  Having a similar set of tools for limited PWA elements - offline caching would be a great additon.