[2019-09-12 13:43] crisfran01 opened #24493 "amp-inputmask breaks when interacting with amp-state"
## What's the issue?
When we submit a form where their fields are filled with a state through amp-bind, mask fields stop working.

## How do we reproduce the issue?

1- Create a form with fields that use masks and their values are saved in a state.

2- Create an event in the submit-success of the form to clear these states.

`<form
    class='units-form container'
    action-xhr='ACTION'
    metho

[2019-09-12 20:04] archon810 opened #24499 "Blocking 3rd party cookies breaks www.google.com/amp/s/ but works on cdn.ampproject.org/c/s"
Hi all, I don't understand why 3rd-party cookie blocking
![image](https://user-images.githubusercontent.com/469543/64817009-b4974c80-d55d-11e9-820b-e1d443231ca7.png)

affects

https://www.google.com/amp/s/www.androidpolice.com/2019/09/10/opinion-the-apple-watch-series-5-embarrasses-wear-os-yet-again-its-time-for-changes/%3famp

but doesn't affect

https://www-androidpolice-com.cdn.ampproject.org/c

[2019-09-13 00:10] sparhami opened #24504 "🌸 Cherry-pick request for #24451 into #24254 (Approved)"
# Cherry-pick request
| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24393 | #24451 | **YES** | **NO** | #24254 |
| #24393 | #24451 | **NO** | **YES** | #24438 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contri

[2019-09-13 02:41] yuchiro22 opened #24507 "Title provider of "Get Link" component in share overlaps the icon in language "ja""
## What's the issue?
The provider of "Get Link" component in share overlaps the icon of it in language "ja".
![ampstory-ja](https://user-images.githubusercontent.com/25542444/64834020-25e90500-d61b-11e9-964d-b85f08fdaf0b.png)

## How do we reproduce the issue?
1. Change the language to "ja"
2. Tap the share button

## What browsers are affected?
All browsers and devices(pc/mobile/tablet)

## Which

[2019-09-13 07:11] alamKhan1807 commented on #24171
What's the issue? and how to solve

<img width="1438" alt="Screen Shot 2019-09-13 at 12 39 32 PM" src="https://user-images.githubusercontent.com/53565186/64843854-d0fdbc80-d623-11e9-9c26-f9fc028740ef.png">

[2019-09-13 08:23] #24407 closed

[2019-09-13 08:34] archon810 commented on #24407
Hang on, what about updating the JSON file https://cdn.ampproject.org/caches.json? We shouldn't close before doing so.

[2019-09-13 15:11] choumx commented on #24171
@alamKhan1807 That's just debug messaging. Can be ignored.

[2019-09-13 15:15] choumx commented on #22357
/cc @ampproject/wg-ui-and-a11y

[2019-09-13 16:00] cathyxz commented on #24457
This issue should stay open until the fix lands in production.

[2019-09-13 16:00] cramforce commented on #24483
Approved

[2019-09-13 16:56] coreyb-cbs commented on #24433
@lannka @jasti @aghassemi Any thoughts on this bug? If there is someone on the AMP team with GAM expertise can we get their eyes on it? Thanks!

[2019-09-13 17:32] #24462 closed

[2019-09-13 17:35] cathyxz opened #24512 "Add test to layout intrinsic asserting that natural size of image does not impact amp-img size"
Follow up to https://github.com/ampproject/amphtml/issues/24366. We should have a test explicitly defining the behavior of layout intrinsic and asserting that the size of the amp-img is governed by the height and width attributes passed to it, and not by the image's natural size. The test should pass height and width attributes to the image that are different from the image's natural size, and ass

[2019-09-13 18:02] cathyxz commented on #24470
Per discussion offline with @choumx @danielrozenberg, let's cherry pick https://github.com/ampproject/amphtml/pull/24513 to turn off the `custom-elements-v1` experiment until we have better test coverage. I am editing this cherry pick issue to refect that.

[2019-09-13 18:07] cathyxz commented on #24470
Approving this cherry pick to canary as a member of @ampproject/wg-approvers, but since I made this change, can a second member of @ampproject/wg-approvers also LGTM this?

Reference: https://github.com/ampproject/amphtml/blob/7ac6a2a627e76f03440aeb197bc268b11149d48f/contributing/release-schedule.md#cherry-pick-criteria

[2019-09-13 18:09] choumx commented on #24470
Approved :)

[2019-09-13 18:12] jasti commented on #24433
Hey @coreyb-cbs, the ad looks great!
I'm not sure user-defined templates are supported for AMPHTML ads but I'll let @tedherbstman from the Google Ad Manager team comment.

[2019-09-13 18:32] pstricker commented on #23428
Sorry for the delay in updates. In the coming weeks, I am looking at developing a mechanism to allow for a more granular release of features so we can get a small subset of pages released with the component re-enabled. I will let you know once we get something back into production to look at.

[2019-09-13 19:21] nainar opened #24516 "Visual diff tests should run in beta browser versions as well"
Currently our Visual Diff tests only test the current browser versions.

We should be one step ahead and running tests on beta/preview versions.

Canary is a step too far (too much noise.)

cc @ampproject/wg-infra @rsimha @estherkim

[2019-09-13 20:29] demianrenzulli opened #24520 "FR - Support for client-hints in AMP"
## Describe the new feature or change to an existing feature you'd like to see

[Client hints](https://developers.google.com/web/updates/2015/09/automating-resource-selection-with-client-hints) are a  way to implement adaptive loading in websites.

Before receiving them, a site needs to go through an initial negotiation step, by specifying which hints to receive in the `Accept-CH` and `Accept-CH-L

[2019-09-13 20:57] caroqliu opened #24521 "Add @caroqliu to Reviewers"
Merged [48 PRs](https://github.com/ampproject/amphtml/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Acaroqliu+is%3Aclosed+)

[2019-09-13 21:03] estherkim commented on #24521
+1 :blush:

[2019-09-13 21:23] nainar opened #24522 "[MASTER ISSUE] Add support for autocomplete to edit only certain text inline"
This issue tracks out work to help people autocomplete only a certain part of text inline.

Use cases we want to support:

- Website
  - Filter field: Being able to enter multiple items to filter on Example
    - This is just adding multiple search terms to a search field instead of one per input field.
- Ads
  - None currently
- Email
  - Google Docs mentions in an AMP Email
- Stories
  - None cu

[2019-09-13 21:52] #24163 closed

[2019-09-13 23:15] mrjoro commented on #24521
Done!

[2019-09-13 23:15] #24521 closed

[2019-09-14 02:24] cathyxz commented on #24457
Verified that the bug (https://jsbin.com/biyuniwawo/edit?html,output) no longer repros in production.

[2019-09-14 02:26] cathyxz commented on #24457
Verified that the bug no longer repros in RC.

[2019-09-14 02:26] #24457 closed

[2019-09-14 02:26] cathyxz commented on #24483
The fix has now landed in all applicable releases. Assigning back to myself for post-mortem.

[2019-09-14 02:27] cathyxz commented on #24504
Assigning back to @sparhami for verifying fix and post-mortem.

[2019-09-14 11:47] Exlord commented on #8022
how about windows??

when I run `gulp validator --update_tests` to build .out file
[code]

[2019-09-14 13:47] cramforce commented on #24499
CC @lannka For potential inabox impact.

Reopening until fix has landed in prod.

[2019-09-14 14:03] danielrozenberg opened #24530 "🌸 Cherry-pick request for #24529 into #24254 (Approved)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24499 | #24529 | **YES** | **NO** | #24254 |
| #24499 | #24529 | **NO** | **YES** | #24438 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contr

[2019-09-14 14:19] cramforce commented on #24530
Approved

[2019-09-14 16:35] archon810 commented on #24499
Thanks for what seems to be a fix in the works, but can someone knowledgeable please explain the issue and the fix?

Thank you.

[2019-09-14 16:42] honeybadgerdontcare commented on #8022
@Exlord 	as the script suggests, maybe you can update it to work for windows?

[2019-09-14 17:15] cramforce commented on #24499
It was a relatively complex chain of circumstances:

- an experiment was added to switch to a new custom element polyfill
- it being a polyfill the check whether to use the new or old has to happen
very early in program init
- the experiment code reads from localStorage to see if the experiment is on
- this read fails in 3p context if 3p cookies are disabled
- the failure is caught and an error is

[2019-09-14 17:16] cramforce commented on #24499
Thanks for the original report. It should now be fixed in production.

On Sat, Sep 14, 2019, 10:15 AM Malte Ubl <malte.ubl@gmail.com> wrote:

[2019-09-15 01:24] #24499 closed

[2019-09-15 01:27] cramforce commented on #24530
CC @rsimha @jridgewell

Some notes for the postmortem

- We have no test coverage for chrome set to reject 3p cookies.
- That our log code requires a function to be called before logging works is super brittle and needs to change.
- I'm somewhat surprised that `dev().warn()` stays in prod code.

[2019-09-15 04:59] Exlord commented on #8022
How? The script just says do it, does not say how?? And I don't know python!

[2019-09-15 10:34] 2shrestha22 opened #24531 "improving amp-image-lightbox for desktop"
## Describe the new feature or change to an existing feature you'd like to see

When AMP is used in desktop version the amp-image-lightbox effect cause small images to stretch. Images tends to fill the whole screen but in desktop this feature makes images ugly. Is there any way not to exceed width and height of images?

## Describe alternatives you've considered

Provide a clear and concise descri

[2019-09-15 10:44] Tam-ara commented on #19172
Hi evereybody, as the issue was cloesd: have the scenarios above been the only ones identified. We are experiencing similar problems, yet, aren't based in the UK nor have (a lot) of users based there.
Would be great to hear how you "solved" or worked around the issue. Thanks in advance!

[2019-09-15 11:13] 2shrestha22 commented on #24491
This in not any bug. AMP is targeted for mobile phones and Google AdSense gives ad code that uses 100vw. You are using AMP in desktop too so you are getting this problem. I had similar problem, however I solved it and wrote about this solution here - https://sangams.com.np/how-to-make-adsense-work-with-amp-desktop-version/

[2019-09-15 18:31] alamKhan1807 commented on #24171
thank you @choumx  👍

[2019-09-15 20:11] newmuis commented on #24492
Marking as a duplicate of #24414

[2019-09-15 22:01] Stefany93 commented on #24531
^^ I think the whole point of the lightbox is to provide a higher resolution image to the user on click. so you need to supply a higher resolution pic and if not, you don't need a lightbox.

I could be wrong tho.

[2019-09-15 22:06] Stefany93 opened #24532 "The extension 'amp-gist' was found on this page, but is unused. - Remove warning"
## Describe the new feature or change to an existing feature you'd like to see

Remove the warning that the AMP validator screams if `amp-gist` is un-used in a page.

## Describe alternatives you've considered

I am creating a Jekyll + AMP website and on my blog I am using `amp-gist` for code highlight. But if the user is on the, let's say _homepage_  the page is invalidated due to the warning.
Si

[2019-09-16 04:38] mattwomple opened #24533 "Allow form element default values to be set from URL parameters"
## Describe the new feature or change to an existing feature you'd like to see

When a user navigates to a search results URL like `/search?q=my+search`, it is typically expected that the search text input on the page is populated with the search term, in this case `my search`. It is already possible to populate an `<amp-list>` via query parameters thanks to AMP variable substitution with `QUERY_P

[2019-09-16 04:54] mattwomple opened #24534 "QUERY_PARAM should support + (plus) encoding"
## Describe the new feature or change to an existing feature you'd like to see

`+` and `%20` are both recognized as the space character in URL encoding \([MDN reference](https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding)\). `QUERY_PARAM` variable substitution recognizes `%20` and does not re-encode the `%` symbol on substitution, but it unfortunately encodes `+` as `%2B`. Below i

[2019-09-16 05:14] archon810 commented on #24499
Awesome, thank you. Please post the post-mortem if you're able to once it happens.

[2019-09-16 06:07] atishjain29100 opened #24536 "Amp Validation Error: The attribute 'animate' in tag 'amp-accordion' is set to the invalid value 'true'."
I have used 'animate' attribute on amp-accordion tag. It works fine but the amp validation is failing as it says:
The attribute 'animate' in tag 'amp-accordion' is set to the invalid value 'true'.

I am not able to identify why amp-validation error is arising. Please provide a fix for this

[2019-09-16 06:19] Avdhoot05 opened #24537 "Get link not working of bookend of story on chrome."
1. Open the story in chrome
2. Go at the end of story
3. In chrome,Get link not working

## What browsers are affected?
Chrome

![BookendJson](https://user-images.githubusercontent.com/46551690/64937261-3ac1d480-d877-11e9-95b8-cc4bea89d1be.PNG)

[2019-09-16 06:47] p2h5 opened #24538 "The 'Click-to-play overlay for amp-video' feature is not working on Firefox ESR."
## What's the issue?

The 'Click-to-play overlay for amp-video' feature is not working on Firefox ESR.
I have an amp-ima-video component in my code, which also uses the 'Click-to-play overlay for amp-video'. It works fine in all recent versions of Chrome and Edge and also on Firefox 69.0. The Problem is, that you cannot click and start an mp4.video, if you are using Firefox ESR (none of the versio

[2019-09-16 07:15] rrjanbiah opened #24539 "I2I: amp-story-player"
## Describe the new feature or change to an existing feature you'd like to see

Currently `amp-story` is standalone and can't use it in place of carousel or so.

[2019-09-16 07:41] 2shrestha22 commented on #24531
Yes it is. But the things is that **lightbox is enabled by default** in all images including featured image and small screenshots images that I use. Any way to avoid auto enabled lightbox?

[2019-09-16 07:46] pranjalk opened #24540 "<amp-selector>: GSC giving error while amp validator is passing"
## What's the issue?

**amp-selector** **_option_** / _**selected**_ attributes are giving error in google search console while ampproject validator is passing

## How do we reproduce the issue?

1. Open https://www.practo.com/tests/amp/hiv-western-blot-blood/p in AMP validator it passes
2. Open the same in search console it gives the following error

<img width="1280" alt="Screen Shot 2019-09-16

[2019-09-16 07:53] sirceljm-celtra opened #24541 "<amp-carousel> is animating cards while user is scrolling in iOS 13 beta (Safari, Chrome & Firefox)"
## What's the issue?

If user is scrolling on the AMP page which includes an `<amp-carousel>`, then the carousel will switch between cards while scrolling.

If "autoplay" is set on the carousel then the carousel will be animating indefinitely while scrolling. If "autoplay" is not set, then the carousel will animate back to the first card and stay there.

## How do we reproduce the issue?

Open the

[2019-09-16 08:41] AutadeJS commented on #24417
Thank you so much

[2019-09-16 09:02] andrejoblakceltra opened #24542 "<amp-analytics> "click" trigger not working for <amp-video>"
## What's the issue?
If you put `"click"` trigger on `<amp-video>` element in `<amp-analytics>`, this trigger never gets invoked, when you click on the video.

## How do we reproduce the issue?
https://jsbin.com/toneluqoda/edit?html,output
Observe the provided example. There are two elements inside: `<amp-video>` and `<button>`. `triggers` for both are set up basically identical. If you click on t

[2019-09-16 09:35] akashagrjsr opened #24543 "Ads Type Not Defined Error in Search Console"
I am getting Ads Type Not Defined Error in Search Console. I have added the ads type auto but then also it is showing me this error.

Screenshot: https://monosnap.com/file/BuQw9lfdYNwxViWtLQt8QuMw1WJQzM

I have used this code format:

<h2>A9 Recom Ads Async</h2>
<amp-ad width="300" height="250"
   type = "a9"
   data-amzn_assoc_ad_mode = "auto"
   data-divid = "amzn-assoc-ad-fe746097-f142-4f8d-8df

[2019-09-16 10:55] cloudb commented on #24489
The release over the weekend appears to have resolved this issue.

[2019-09-16 10:55] #24489 closed

[2019-09-16 11:11] igrigorik commented on #24520
* (2) is [WAI](https://github.com/yoavweiss/client-hints-infrastructure#opt-in-mechanism).
* AMP should definitely allow and support (3) to enable site owners to use `http-equiv` meta tag to opt-in to receive hints.

[2019-09-16 13:41] #23814 closed

[2019-09-16 14:13] Stefany93 commented on #24531
Are you sure you are not talking about `amp-image-gallery` ? With `amp-img-lightbox` you have to manually specify which images to be lightboxed.

[2019-09-16 15:08] 2shrestha22 commented on #24531
Yes it was not happening before. I was manually enabling lightbox effect while editing post. Here is my site - https://sangams.com.np/

[2019-09-16 16:23] diantekyrie commented on #24446
Adding photo of issue.

![Screen Shot 2019-09-16 at 9 22 00 AM](https://user-images.githubusercontent.com/48487406/64975318-94200880-d863-11e9-9217-83b4f206c1ee.png)

[2019-09-16 17:46] cathyxz commented on #24536
The `animate` attribute isn't supposed to take a value. It should just be used as:
[code]
Feel free to take a look at this example: https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-accordion%2F21&format=websites&_gl=1*10kg7to*_ga*YW1wLWdqU2tnd0ZPZFFEbERPUnQ0cUlONXc.

[2019-09-16 17:52] jeffjose commented on #4482
Hi Gilberto, Are there some actions/tags on Enhanced Ecommerce that you want us to prioritize?

[2019-09-16 17:53] sparhami commented on #21485
We should remove the old loaders code as well as the experiment checks. Since loaders has been out for a couple weeks, I think we should start moving forwards on this.

/cc @nainar

[2019-09-16 18:22] dvoytenko commented on #24367
@alanorozco Yes. Exactly. But that may conflict with our desired to deprecate `amp-img` in favor of the `img` with the loading strategy per #24233.

[2019-09-16 18:26] dvoytenko commented on #24233
@cramforce Do we have any concern that `loading=lazy` might break preloading guarantees if we ever allowed non-cache src for images on cache?

[2019-09-16 19:14] alanorozco commented on #24531
@2shrestha22

[You can disable auto lightbox](https://github.com/ampproject/amphtml/blob/master/spec/auto-lightbox.md) by setting the `data-amp-auto-lightbox-disable` on any element. Set it on `<body>` to disable for the whole document.

Additionally, if you include the `amp-lightbox-gallery` extension and use it explicitly, auto-lightbox won't apply.

[2019-09-16 20:11] jasti commented on #24433
Hi Corey, I heard back internally from the Ad manager team and that user-defined templates aren't supported at the moment.
They also requested that you reach out to the account manager in expressing interest and future Ad manager related requests to get the right support and right prioritization.
Thanks.

[2019-09-16 20:11] #24433 closed

[2019-09-16 20:17] coreyb-cbs commented on #24433
@jasti  Thanks for the response. That's the reply I feared given we couldn't get AMP Story ads working in user-defined templates either. Not being able to churn out amp creatives from user-defined templates in GAM really kills a lot of opportunities.

[2019-09-16 20:48] #24470 closed

[2019-09-16 21:09] cathyxz opened #24550 "Clarify processes or guidelines around introducing devDependencies"
While we have a pretty thorough process around security and license vetting for shipped dependencies, we don't currently hold our dev dependencies to the same standards and also assign Renovate PRs to the build cop (who might not have a whole lot of context on our dependencies) to auto-upgrade all of our dev dependencies.

One idea is that given the history of security incidents related to npm dev

[2019-09-16 21:09] caroqliu commented on #22133
Closing this issue because `value` and `disabled` are not compatible with arbitrary elements.

See [Errors that involve areas reserved for future expansion](https://html.spec.whatwg.org/multipage/introduction.html#restrictions-on-content-models-and-on-attribute-values)

[2019-09-16 21:09] #22133 closed

[2019-09-16 21:44] zhouyx opened #24554 "Allow analytics vendor to print out deprecation info"
Related to https://github.com/ampproject/amphtml/pull/24261#issuecomment-526770479

We get a few requests from analytics vendor to upgrade their solution and deprecate old ones.
To help vendors with the migration process, we could print out the deprecation info to developers whenever there's such usage.

Proposal: add an `deprecated` field to the analytics jSON config.

For example, `deprecated_ve

[2019-09-16 21:46] leafsy opened #24555 "scrollTo() does not move focus to the element being scrolled to"
## What's the issue?

Demo: https://codepen.io/leafsy/full/WNeypRE

In the example above, clicking on an anchor link would put focus on the element with corresponding id inside main content; however, clicking on an item with `scrollTo` action binding does not move focus to the element with corresponding id. For a11y best practice, the behaviors should be consistent.

## What browsers are affected?

[2019-09-16 22:04] nainar commented on #16536
Closing this since the component is available to the general public.

[2019-09-16 22:07] mzrahmani commented on #23919
Any update on this issue??
I am getting validation error when using auto ads :
The tag 'amp-story-auto-ads' requires including the 'amp-story-auto-ads' extension JavaScript.
According to documentation I should not add any specific extension and when I do add the extension I get also an error :
The extension 'amp-auto-ads' was found on this page, but is unused. Please remove this extension.

Check

[2019-09-16 22:10] nainar commented on #24265
This is a developer affordance we should definitely have to set them on the correct path. Marking it as a P1 as such.

[2019-09-16 22:11] calebcordry commented on #23919
@mzrahmani We worked through the original issue offline. Sorry should have updated here. Anyway your issue is slightly different. Looks like you are including the script for `amp-auto-ads` not `amp-story-auto-ads`  if you include this `<script async custom-element="amp-story-auto-ads" src="https://cdn.ampproject.org/v0/amp-story-auto-ads-0.1.js"></script>` I think your problem should sort itself o

[2019-09-16 22:22] kristoferbaxter opened #24558 "Remove `evil-dns` from dev dependencies"
Apply DNS resolution consistently across environments, so requests made via Node, CURL, directly by the browser, etc resolve to the same locations.

This could be achieved via a few approaches:
1. Validation of necessary DNS resolution changes during the startup of a node testing process with directions of how to modify `/etc/hosts` to accommodate the changes.
2. Fork the implementation of `evil-d

[2019-09-16 22:23] choumx commented on #24421
Looks like this is failing again on master under "Experiment B Tests". :(

[code]

https://travis-ci.org/ampproject/amphtml/jobs/585777965

[2019-09-16 22:27] kristoferbaxter opened #24560 "Set all UI Components OWNERs to `wg-ui-and-a11y`"
With our new OWNERs bot, we're seeing an increase in request for former owners of components to review changes.

Let's ensure the list is correct for UI components by using the working group alias instead of individual members we must remember to keep in sync.

[2019-09-16 22:42] zhouyx commented on #24464
Thank you @jawadst for reporting. This is a very solid request.
Can I ask about the 143 characters when encoding fully granular choices? Is that the maximum number that we can get today with tcf-v1 and the current vendor list? Thanks.

[2019-09-16 22:47] cramforce commented on #24233
We couldn't allow those,

On Mon, Sep 16, 2019 at 11:26 AM Dima Voytenko <notifications@github.com>
wrote:

[2019-09-16 22:49] lannka commented on #24421
woops, let me mute it.

[2019-09-16 22:53] choumx commented on #24520
/cc @ampproject/wg-performance @ampproject/wg-runtime

[2019-09-16 22:56] choumx commented on #24469
Looks like a duplicate of #24469 and should be fixed in the latest release.

[2019-09-16 22:56] #24469 closed

[2019-09-16 22:56] ThongSaltire commented on #24469
It looks like that it's related to the bug #24454

[2019-09-16 23:02] choumx commented on #24454
Should be fixed by #24468. @jridgewell to confirm.

[2019-09-16 23:16] AndrewKGuan commented on #18055
Hi all, any update on this ticket?

[2019-09-16 23:24] rcebulko commented on #24550
We've been having a parallel discussion about dependency ownership in the context of owners. Notably, if a package version needs to change, who should be required to give approval? Some thoughts [here](https://github.com/ampproject/amp-github-apps/issues/284) revolved around looking at what files depend on the package and who owned those files. It mostly addresses the general ownership, not the ne

[2019-09-16 23:27] newmuis commented on #24539
I'm working on an iframe-based way of embedding stories into other documents, starting with https://github.com/ampproject/amphtml/pull/23980.  I'm writing up a more fleshed-out proposal in a Google Doc, but can migrate that over to GitHub soon!

[2019-09-16 23:28] newmuis commented on #24537
@estherkim is this a duplicate?

[2019-09-17 00:21] #22410 closed

[2019-09-17 00:31] maranag commented on #24255
I should say 'locale' doesn't seem helpful in this regard (perhaps it should be?).

After much experimenting with binding and templates, the approach decided on is just to use the native date picker.

[2019-09-17 01:47] 2shrestha22 commented on #24531
@alanorozco

Thanks for the solution. Is it possible to makes image not fill the width and height instead show actual size of image.

[2019-09-17 04:30] rsimha opened #24575 "Integration tests taking > 10 mins on Chrome and Firefox beta"
This is causing the tests to error out on `Chrome 77.0.3865 (Windows 10.0.0)` and `Firefox 70.0.0 (Windows 10.0.0)` because we currently enforce a 10 minute timeout.

<img width="790" alt="" src="https://user-images.githubusercontent.com/26553114/65011644-41396600-d8e2-11e9-9e3a-6f38f282de36.png">

**Example:** Build [64183.8](https://travis-ci.org/ampproject/amphtml/jobs/585857218#L2152)

![image

[2019-09-17 06:58] VMBindraban opened #24577 "No messaging channel: initMessagingChannel​​​"
# What's the issue?

Suddenly this error showed up in my console multiple times.
I have no idea where this is coming from but they started when i began experimenting with `amp-app-banner`. I removed this component and the error still show up sometimes.

[code]

https://raw.githubusercontent.com/ampproject/amphtml/1909141411050/src/log.js
https://raw.githubusercontent.com/ampproject/amphtml/1909141

[2019-09-17 08:34] cpauwels commented on #24454
@choumx I can confirm it's working again with release `1909141409590`.

[2019-09-17 10:45] LNHarders opened #24580 "amp-iframe Safari browser back problem with amp-bind"
## What's the issue?

If there are two amp-iframes on one page and you click a link while one is hidden, the amp-iframes switch content when you go back to that page. The problem only occurs when amp-bind is used.

## How do we reproduce the issue?

[test.html.zip](https://github.com/ampproject/amphtml/files/3620740/test.html.zip)

1. open the attached file
2. follow the instruction on the page
3.

[2019-09-17 11:04] VMBindraban commented on #10380
I ended up using this:

[code]

I prefer not targeting the mask directly since it can be changed without notice.

[2019-09-17 12:12] Debuggingyourcode opened #24581 "How to integrate LeadPages embed script to AMP HTML"
II want to add leadpages embed script to amp HTML page, here my script

`<script src="https://static.leadpages.net/leadboxes/current/embed.js" async></script>`

Let me know how we add this script.

[2019-09-17 14:05] jaygray0919 commented on #23675
@cathyxz Am away until next week and will work your proposal then. @nainar Tooltips historically have used title="" and mouseover. Extensions build on that original idea. However, mouseover works poorly in mobile. @sebastianbenz recognized this and designed an amp-tooltip that was a selector. We added the amp-lightbox feature to add information. WaPo tooltip also is based on a selector and lightbo

[2019-09-17 14:22] estherkim commented on #24537
Yes it's a duplicate. The fix is in the RC and Dev channels, but not in production yet. The release that contains the fix is here - https://github.com/ampproject/amphtml/releases/tag/1909141409590

[2019-09-17 14:44] caroqliu opened #24582 "I2I: inline autocomplete"
## Summary
The [amp-autocomplete](https://amp.dev/documentation/components/amp-autocomplete/) extension replaces the entire input field with a selected value. AMP should provide an easy way for publishers to suggest and replace inline substrings that comprise a larger input value.

Example: +mention someone in an AMP Email

## Design document
[Link](https://docs.google.com/document/d/1iVJBQbNl2RTl

[2019-09-17 14:46] caroqliu commented on #24582
Related #24522, [b/113159533](b/113159533)

[2019-09-17 14:48] newmuis commented on #24537
Thanks!  Closing for now; feel free to reopen if this can still be  reproduced when `1909141409590` is in production, which should be in a week or less.

[2019-09-17 14:48] #24537 closed

[2019-09-17 15:04] miguelmayo commented on #14689
This is not possible as amp-list does not work in combination with amp-carousel

[2019-09-17 16:11] atishjain29100 commented on #24536
Hi,

I used the attribute in the same way in my code and it works as it is supposed to with smooth transition.

But the amp-validator fails on my page and it says "The attribute 'animate' in tag 'amp-accordion' is set to the invalid value 'true'". Not able to understand this behaviour. Please help regarding this.

[2019-09-17 16:17] silvertsca opened #24583 "Use amp-iframe as target for links"
## Describe the new feature or change to an existing feature you'd like to see

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

Provide a clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about the feature request here.

[2019-09-17 16:50] #23990 closed

[2019-09-17 16:57] mrjoro commented on #23991
@sparhami did we fully address your issue last week?

[2019-09-17 17:09] jridgewell commented on #10380
ping @ampproject/wg-ui-and-a11y

[2019-09-17 17:10] jridgewell commented on #24454
This is actually fixed by https://github.com/ampproject/amphtml/pull/24529, with the tracking bug at https://github.com/ampproject/amphtml/issues/24499.

[2019-09-17 17:10] #24454 closed

[2019-09-17 17:11] jridgewell commented on #18055
/cc @ampproject/performance

[2019-09-17 17:27] caroqliu commented on #24493
Hi, thank you for filing this bug! Quick update: I was able to reproduce the problem and am looking into what is causing this.

[2019-09-17 17:30] cathyxz commented on #10380
We're doing some work (polish + upgrade) on sidebar that will likely resolve this, the current target launch date is mid November. We're having a design review on the new version of sidebar tomorrow (links incoming).

/cc @nainar @leafsy

[2019-09-17 17:33] mrjoro opened #24588 "Design Review 2019-10-02 20:00 UTC (amp-mega-menu)"
Time: [2019-10-02 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=10&day=02&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20191002T200000Z/20191002T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-09-17 17:34] mrjoro opened #24589 "Design Review 2019-10-10 00:00 UTC (cancelled)"
Time: [2019-10-10 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=10&day=10&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20191010T000000Z/20191010T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-09-17 17:34] mrjoro opened #24590 "Design Review 2019-10-16 15:30 UTC (Africa/Europe/western Asia)"
Time: [2019-10-16 15:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=10&day=16&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20191016T153000Z/20191016T163000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-09-17 17:34] mrjoro commented on #24589
We are cancelling this design review since it conflicts with the AMP Contributor Summit 2019.

[2019-09-17 17:34] #24589 closed

[2019-09-17 17:35] mrjoro opened #24591 "Design Review 2019-10-23 20:00 UTC (Americas)"
Time: [2019-10-23 20:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=10&day=23&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20191023T200000Z/20191023T210000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-09-17 17:35] mrjoro opened #24592 "Design Review 2019-10-31 00:00 UTC (cancelled)"
Time: [2019-10-31 00:00 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=10&day=31&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20191031T000000Z/20191031T010000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-09-17 17:35] mrjoro opened #24593 "Design Review 2019-11-06 16:30 UTC (Africa/Europe/western Asia)"
Time: [2019-11-06 16:30 UTC](https://www.timeanddate.com/worldclock/meeting.html?year=2019&month=11&day=06&iv=0) ([add to Google Calendar](http://www.google.com/calendar/event?action=TEMPLATE&text=AMP%20Project%20Design%20Review&dates=20191106T163000Z/20191106T173000Z&details=https%3A%2F%2Fbit.ly%2Famp-dr))
Location: [Video conference via Google Meet](https://bit.ly/amp-dr)

The AMP community hold

[2019-09-17 17:48] lannka commented on #24446
this is expected logging introduced in #23239
@dvoytenko shall we remove that now?

[2019-09-17 17:54] zhouyx commented on #23356
@micajuine-ho I find this to be a good issue to dig into. Let's first test if it's the `playing` or the `seconds_played` here that's causing the freeze.

[2019-09-17 18:27] Joelsz opened #24594 "PWA: Navigating shadow docs causes Safari tab crash & reload"
## What's the issue?

We have set up our PWA to use AMP as a data source via AMP Shadow. While testing the implementation we discovered that AMP Shadow doesn't behave well when navigating through multiple AMP Shadow instances, that is when navigating from an AMP Shadow page to another one via the SPA shell the browser crashes and restarts itself with the following native message "A Problem has occ

[2019-09-17 19:57] danielrozenberg commented on #24516
Unfortunately Percy doesn't support beta browsers, so this is blocked until they do

[2019-09-17 20:00] rsimha commented on #24530
Here's the  `puppeteer` tracking issue for disabling 3p cookies: https://github.com/GoogleChrome/puppeteer/issues/3998. Doesn't seem straightforward, but it might be possible to do so from an E2E test.

@estherkim Was this something you looked into while working on `puppeteer` + E2E?

[2019-09-17 20:06] cramforce commented on #24530
Another option may be to monkey patch `localStorage.get/setItem` to throw. A real environment would be preferred, of course.

[2019-09-17 20:24] honeybadgerdontcare commented on #24536
Have you looked at the HTML that is being returned from your server? Perhaps some tooling is adding the `=true` instead of preserving the attribute as just `animate`.

[2019-09-17 21:14] rsimha commented on #24575
It turns out that 10 minutes is the maximum allowable time for a single sauce labs "command". In future, we might have to split our sauce tests across multiple runs.

Meanwhile, this issue is not as pervasive as I thought it was. Lowering priority.

[2019-09-17 21:35] rsimha commented on #24487
Here's an instance of a stalled `gulp dist` from today, reported by @estherkim: https://travis-ci.org/ampproject/amphtml/jobs/586175076#L516

Current plan: Split this `Promise.all()` into pieces to shed light on which step stalled.

https://github.com/ampproject/amphtml/blob/8b7ecde386bc702b4c429a0e8a11a77747d53ab8/build-system/tasks/dist.js#L135-L146

[2019-09-18 00:04] rsimha commented on #24575
Another failure today: https://travis-ci.org/ampproject/amphtml/jobs/586287983#L2156

Chatted offline with @estherkim, and the new working theory is that the different batches of integration tests are all counting towards the same maximum test duration. It might be worth trying to split off beta browsers into a separate execution.

[2019-09-18 00:06] indieisaconcept opened #24601 "Element level data-vars overrides for timer event triggers"
Click & visibility trigger events currently only have access to element level data-vars, timers however do not. Given timer events support a startSpec which can be related to an element via a selector I'd like to propose extending timers to support element vars.

The rational for this is to support more contextual timers. I see lots of `amp-analytics` providers which use timers to measure engageme

[2019-09-18 03:52] jridgewell commented on #24520
WAI.

This will only ever register the amp-list's endpoint for CH. Refreshing the page won't cause CH to be sent, only the amp-list's next fetch will trigger them.

We can add validation support for this, but it would need to be stripped from cache. /cc @Gregable.

If the registration is double keyed, there is no way to support the cache to origin transition. An iframe will created from `publisher

[2019-09-18 04:05] lannka commented on #24449
Done.

[2019-09-18 04:05] #24449 closed

[2019-09-18 05:38] philipwatson commented on #24328
It is only an issue if using the `--single_pass` flag when building the dist.

It also minifies the Doubleclick's fields on their custom RTC config macro object. So none of their macros, such as `CANONICAL_URL`, is substituted on the callout URL.

Only the macros that are common across all ad-networks are substituted (`TIMEOUT`, `CONSENT_STATE` and `CONSENT_STRING`) because of the way there are co

[2019-09-18 09:27] aferrandini commented on #24247
In our case, this problem was that metadata didn't contain `productID ` nor `isAccessibleForFree` information as shown in [amp-subscription documentation](https://amp.dev/documentation/components/amp-subscriptions/#microdata-markup)

You have to set both like:

[code]

[2019-09-18 13:05] newmuis commented on #24247
Then, it sounds like maybe this should be an expected error, if it's a publisher configuration thing?

@ampproject/wg-access-subscriptions to verify

[2019-09-18 15:42] rcebulko opened #24608 "Tracking Bug: OWNERS.yaml updates"
Currently, the OWNERS.yaml files across the repo are outdated and weren't really being used until recently. Most list individual owners, whereas they should list teams. Others are just missing contributors/teams that should be owners. This is a tracking issue to collect needed changes to owners files.

[2019-09-18 16:08] rsimha commented on #24487
First run on `master` looks good: https://travis-ci.org/ampproject/amphtml/jobs/586563191#L509

Will continue to look out for stalled builds.

[2019-09-18 16:16] newmuis opened #24609 "New loaders are shown in stories"
The new loader experiment causes the new loaders to show up in stories as well.

Stories hid the old loader like this:

https://github.com/ampproject/amphtml/blob/6695c980b71570a634f252235d87f73cd8c00b80/css/ampdoc.css#L302-L304

However, the loader only maintained the public API for modifying loaders:

https://github.com/ampproject/amphtml/blob/c0d163ac25ecf546be71e456826cc6a65d466c6b/extensions/

[2019-09-18 16:59] wassgha opened #24610 "Add `e2e` tests for `amp-next-page`"

[2019-09-18 17:00] archon810 opened #24611 "Easylist blocks Twitter embeds when used in AMP"
Follow-up to https://github.com/ampproject/amphtml/issues/24429 and https://github.com/ampproject/amphtml/issues/8311.

I found that Easylist blocks Twitter embeds when used in AMP.

Script being blocked: https://3p.ampproject.net/1909141409590/f.js.

Filter: ||ampproject.net^*/f.js

Filter list: EasyList

Example: https://www.androidpolice.com/2019/09/09/puma-michael-kors-armani-dieel-snapdragon-

[2019-09-18 17:00] archon810 commented on #24611
For you, @sebastianbenz?

[2019-09-18 17:28] wassgha commented on #24441
Will be closed by [https://github.com/ampproject/amp.dev/pull/2986](https://github.com/ampproject/amp.dev/pull/2986)

[2019-09-18 17:44] jaygray0919 commented on #14689
@miguelmayo we use amp-list with amp-carousel. What issues do you see?

[2019-09-18 17:45] rsimha opened #24612 "Error: undefined is not an object (evaluating 'b.color')"
This is the most common error seen in the RC build from the week of Sep 9-14:

[code]

[2019-09-18 17:47] rsimha commented on #24612
@sparhami, tagging you since you've updated `extensions/amp-loader/0.1/amp-loader.js` most often. Is this an issue that you're familiar with? Does it qualify as a release blocker?

[2019-09-18 18:02] rsimha commented on #24612
Here is a webpage on which this repros: https://www-stylecraze-com.cdn.ampproject.org/v/s/www.stylecraze.com/articles/how-to-choose-hair-color-for-brown-eyes/?amp=1&amp_js_v=0.1&usqp=mq331AQCKAE%3D

[2019-09-18 18:14] rsimha commented on #24612
Chatted with @sparhami and confirmed this isn't a release blocker.

[2019-09-18 18:26] #24441 closed

[2019-09-18 18:34] zhouyx commented on #24328
@philipwatson Thanks for reporting. Good thing is that we haven't shipped the single pass compilation yet.

I believe what you found is the exact cause for this issue, and your suggestion to fix it sounds right. It'd be great if you can contribute and submit a fix to the issue.

cc @erwinmombay @lannka

[2019-09-18 19:07] #24378 closed

[2019-09-18 19:10] sebastianbenz commented on #24611
Thanks for reporting @archon810! You've already done all the work :-). I'll leave this issue open until the report in the easy list forum has been resolved.

[2019-09-18 19:33] miguelmayo commented on #14689
@jaygray0919 Could you please send me a link to a working demo? Thanks!

[2019-09-18 19:58] erwinmombay commented on #24328
i believe i fixed this here https://github.com/ampproject/amphtml/pull/24453/files#diff-fe38850932308f7278208f632fed8d98R607

[2019-09-18 20:19] jvplopper opened #24617 "Description field for SHA exclusions"
## Describe the new feature or change to an existing feature you'd like to see

When adding a SHA exclusion in AMP, it would be awesome to have a description field where we can add comments regarding the SHA value mentioned.  I would use to mention the file name, how often the file might change, users in charge of said file, etc.

## Describe alternatives you've considered

A spreadsheet that main

[2019-09-18 20:27] choumx opened #24618 "Intent-to-Remove: Invalidate "amp-foo-latest.js" alias in AMP4EMAIL"
## Summary
Invalidate "amp-foo-latest.js" in extension scripts for the AMP4EMAIL spec.

For example, remove this line for `amp-list`: https://github.com/ampproject/amphtml/blob/185d4984314990b00e1af893b73d172261c2e1bc/extensions/amp-list/validator-amp-list.protoascii#L35

## Motivation
Requiring explicit version numbers in extension scripts allows the AMP4EMAIL validator spec to control when to al

[2019-09-18 20:29] choumx commented on #24618
/cc @honeybadgerdontcare

[2019-09-18 20:48] archon810 commented on #24611
Well, I wasn't sure if it's possible to resolve it another way on AMP's side like you've done in the other tickets - I'm not sure what other things f.js contains and if EasyList will choose to stop blocking it, for example. If they don't, we may need to split up whatever they consider tracking/advertising-related and things like Twitter embed support.

[2019-09-18 21:09] choumx commented on #23617
Looks like it could happen if the SSR template render succeeds but returns a non-element (e.g. text or comment node). We can handle this edge case.

[2019-09-18 21:10] choumx commented on #23617
Relevant line: https://github.com/ampproject/amphtml/blob/54f53de58ce04c35349b7202463e824241e791b1/extensions/amp-form/0.1/amp-form.js#L1159

[2019-09-18 21:21] choumx commented on #24617
Wrong project?

[2019-09-18 21:25] choumx commented on #24581
https://support.leadpages.net/hc/en-us/articles/115000463348-Publish-your-pop-ups

Looks like you can use [amp-iframe](https://amp.dev/documentation/components/amp-iframe/) to embed this UI widget. Please ask future questions on [StackOverflow](https://stackoverflow.com/questions/tagged/amp-html).

[2019-09-18 21:25] #24581 closed

[2019-09-18 21:26] choumx commented on #24577
Please provide a URL to a reproduction case.

[2019-09-18 21:26] #24577 closed

[2019-09-18 21:47] jvplopper commented on #24617
Oh yes, sorry.  I see this is HTML improvements.  Apologies.

On Wed, Sep 18, 2019 at 4:21 PM William Chou <notifications@github.com>
wrote:

[2019-09-18 22:12] jeffjose opened #24621 "Support App + Web properties on Google Analytics (gtag)"
[App + Web properties](blog.google/products/marketingplatform/analytics/new-way-unify-app-and-website-measurement-google-analytics/) is a new feature that Google Analytics that unifiies measurements on app and web properties.

Support this in gtag.js

cc/ @avimehta @zikas @zhouyx

[2019-09-18 23:00] cathyxz commented on #23991
@sparhami is out today. The last time we discussed https://github.com/ampproject/amphtml/issues/23990#issuecomment-529587077, we concluded that there was a larger discussion to be had on the deprecation path for `<amp-img>` in favor of regular `<img>` instead. This is a longer conversation that maybe we can revisit in next week's design review.

[2019-09-18 23:01] cathyxz commented on #23992
https://github.com/ampproject/amphtml/issues/23990#issuecomment-529587077, moving the follow up discussion here from previous design reviews. /cc @sparhami @dvoytenko

[2019-09-19 00:02] #24617 closed

[2019-09-19 01:00] cathyxz commented on #23991
# Notes
## amp-sidebar review
### Feature set
- Swipe to dismiss: [demo](https://amp-sidebar-swipe.firebaseapp.com/examples/playground.amp.html)
- Nested menus: [demo](https://amp-sidebar-nested.firebaseapp.com/)
- Animations: [demo](https://amp-sidebar-push.firebaseapp.com/)

### Discussion
@zhouyx:
- If you open a submenu and close the sidebar, what happens when you open it again?
- If you close

[2019-09-19 02:54] choumx commented on #24265
I think this is actually due to the `amp-script` element having a width/height of zero. Such elements are ignored by the resource scheduling system -- `layoutCallback()` won't be called which initializes the element.

Is there a use case you have in mind for a child-less `amp-script`? E.g. I can imagine using `amp-script` as a data layer (using AMP.setState in the JS), though you could just add `w

[2019-09-19 03:10] choumx opened #24625 "Don't display new loader over non-image placeholder?"
https://github.com/ampproject/amphtml/issues/20237#issuecomment-479038688

Should be a simple fix.

`b/141275200`

[2019-09-19 07:29] LNHarders opened #24627 "amp-carousel 0.2 responsive image bug"
## What's the issue?

When using layout="responsive" with amp-carousel 0.2 the images only get smaller in their width. The height stays the same which makes them look distorted.

## How do we reproduce the issue?

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fintroduction%2Fhello_world_email&format=email&_gl=1*xa1x0p*_ga*YW1wLU8tZGRBdk00aGdzZ1BwR3BuMXRD

[2019-09-19 07:35] jaygray0919 commented on #14689
Here is a sample: https://afdsi.org/test/amp_list_home_carousel/ this page is a draft - not a production page and will be removed in the future. also it does not include the image positioning solutions used in another page. but it does demonstrate the solution form @jpettitt

[2019-09-19 07:39] LNHarders opened #24628 "amp-carousel 0.2 Safari missing transition"
## What's the issue?

The transition animation for the sliding in an amp-carousel 0.2 is not working on Safari

## How do we reproduce the issue?

[Example in playground](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fcomponents%2Famp-carousel.example.2.html%3Fformat%3Dwebsites&format=websites&_gl=1*1ppqdk3*_ga*YW1wLXZaeVN1LTRtVlp0QXI5WjQ1bU83Mnc.)

1. open the lin

[2019-09-19 08:29] LNHarders commented on #24628
Maybe a related problem:
If you use the following carousel in Safari the slide buttons don't change their opacity and you can't go back in the carousel. The problem only appears when you use the buttons not when you scroll/slide.
When the carousel width is changed to something below 340 the problem with the back button still occurs after the first slide.

[code]

[2019-09-19 08:48] dijs opened #24631 "lightboxed carousel gets corrupted state in amp-list"
## What's the issue?

The lightbox component is keeping past images in the carousel, and corrupts AMP state after using the component a few times.

## How do we reproduce the issue?

Please visit this URL to see the bug in action

http://g.recordit.co/i1TV10QqIc.gif

As I am changing the product color, I am fetching and updating the carousel images. And the carousel is configured to show a lightbo

[2019-09-19 09:23] LNHarders opened #24632 "amp-carousel 0.2 autoplay transition bug"
## What's the issue?

amp-carousels 0.2 that use autoplay have jumpy transition animations and jump to the wrong slides when you click the slide buttons.

## How do we reproduce the issue?

[Example in playground](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-carousel&format=websites&_gl=1*lti3ek*_ga*YW1wLU8tZGRBdk00aGdzZ1BwR3BuMXRDeEE.

[2019-09-19 12:03] niritdabby commented on #20559
Hey @choumx,
Thanks for you feed back.
1. Can you please provide some more information. Why should the iframe be restored? we do build it in each buildCallback
2. This is an expected behavior, not related to AMP.
3. The bug is not reproducible, when opening the widget from iphone / android and the buttons are clickable.

[2019-09-19 14:02] jaygray0919 commented on #24632
Also see https://github.com/ampproject/amphtml/issues/24335

[2019-09-19 14:35] caroqliu commented on #23737
Thanks for posting this example! It would be ideal to avoid adding this kind of `toggle` action because taking away focus from an element poses accessibility challenges.

It's still possible to hide suggestions by adding a second button that gets toggled through amp-state. Here is an updated sample that I will update for the ComboBox example on amp.dev as well:

[code]

[2019-09-19 14:53] sebastianbenz commented on #23737
Thanks @caroqliu!

[2019-09-19 15:30] #23737 closed

[2019-09-19 15:42] choumx commented on #20559
1. An element may be laid out again after `unlayoutCallback` is called, e.g. switching to a different browser tab and then coming back. Details here: https://github.com/ampproject/amphtml/blob/master/contributing/building-an-amp-extension.md#destroying-heavyweight-resources
2. Users seeing cut-off text/images is WAI? Please elaborate.
3. The original reproduction page no longer exists but try test

[2019-09-19 16:33] miguelmayo commented on #14689
I see you make it work, it doesn't for me, JSON data is coming from WordPress API, you have a mustache loop inside the carousel that I can't make it work, thank you!

[2019-09-19 18:41] mrjoro commented on #23405
Friendly ping to @pbakaus for a link to the Outreach WG update. :)

[2019-09-19 18:41] #23991 closed

[2019-09-19 19:05] Enriqe opened #24639 "Re-enable flaky story analytics integration tests"
https://travis-ci.org/ampproject/amphtml/jobs/587116429
[code]

https://travis-ci.org/ampproject/amphtml/jobs/587121381
[code]

[2019-09-19 19:48] atishjain29100 commented on #24536
Thanks !! This helped. Passed the attribute as animate = "" and it works like a charm :)

[2019-09-19 19:48] #24536 closed

[2019-09-19 20:13] Joelsz commented on #12455
@aghassemi Here's a use case for this.

Basically we have a dynamic system for banners where it's an image and usually links to a set URL, however, if there are multiple links in one banner (buttons etc.) we create the links with area maps on top of the image.

In AMP we are not able to do this.

Think it's a good enough use case to add support?

[2019-09-19 20:14] zhouyx commented on #24534
Looks like a common use case in form to encode space to `+`. However I'm concerned to just change the generic behavior because it can break the existing use case. Would it be possible for decode %2B on server side?

to @ampproject/wg-ui-and-a11y, and @caroqliu for a form specific solution. (maybe a new attribute).

[2019-09-19 20:50] cathyxz commented on #24631
Do you have a live repro we could take a look at?

[2019-09-19 21:09] sparhami commented on #24627
This is due to `object-fit: contain` being missing for the imgs. This is caused by a bad selector in `amp-carousel` 0.2. #24324 fixes the issue, but I haven't had a chance to submit it yet. Will look into submitting it.

[2019-09-19 21:13] diantekyrie opened #24643 "Chrome Flags Samesite Cookies Enabled messes up AMP experiments"
## What's the issue?
When Samesite cookies flags are enabled, the cookie enabling to opt-in to canary or rc doesnt work.

Briefly describe the bug.
When these settings are enabled and you opt-in to canary or rc the version still displays production.

## How do we reproduce the issue?

1. Go to chrome://flags
2. Search for Samesite
3. Enable both flags
4. Relaunch Chrome
5. Opt-in Canary/RC
6. Navi

[2019-09-19 21:29] sparhami commented on #24643
I think in order to fix this, we need to add `SameSite=None` when setting the cookie for the canary version. However, per https://www.chromestatus.com/feature/5088147346030592, we should not set `SameSite=None` for Safari, as the behavior has a bug where it is treated as `Strict`.

[2019-09-19 21:45] choumx commented on #24625
On second thought, maybe it's better to defer to the page author. This avoids deviation from legacy behavior, and authors can easily add `noloading` attribute.

/cc @ampproject/wg-ui-and-a11y

[2019-09-19 21:45] rsimha commented on #24487
@estherkim just found a stalled build. This was the state after 5 minutes of waiting.

![image](https://user-images.githubusercontent.com/26553114/65283382-fd727680-db04-11e9-9122-020b7639546a.png)

Here's the code:

https://github.com/ampproject/amphtml/blob/6695c980b71570a634f252235d87f73cd8c00b80/build-system/tasks/dist.js#L143-L150

Seems like line 149 executed, but line 150 got stuck. I'm goi

[2019-09-19 22:01] sparhami commented on #24625
/cc @nainar

[2019-09-19 22:15] diantekyrie opened #24646 "Access to font has been blocked when looking at CNN"
## What's the issue?
`Access to font at 'https://www-i-cdn-cnn-com.cdn.ampproject.org/r/s/www.i.cdn.cnn.com/.a/fonts/cnn/3.9.0/cnnsans-light.woff2' from origin 'https://amp-cnn-com.cdn.ampproject.org' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
`

Briefly describe the bug.
When searching for CNN articles, lots of font errors are di

[2019-09-19 22:23] dvoytenko commented on #23991
After some reflection, I think this is not necessarily true. We could have a nice nesting concept here where a menu could nest into another menu or into an accordion or into a plain div element.

[2019-09-19 22:35] nainar commented on #24625
Currently we show the loaders regardless of the placeholder.
This has been the case even before the loaders switch.

If people want to switch to not having a loader they can add the `noloading` attr like you mentioned Will.

However, if we change to not having the loader when a placeholder is shown there is no opt in if a user wants to change that behaviour.

[2019-09-19 23:13] jridgewell commented on #24646
@Gregable

[2019-09-19 23:27] Gregable commented on #24646
Reported internally as b/141332166

[2019-09-19 23:37] dvoytenko commented on #24446
Yeah. I will remove.

[2019-09-20 00:13] jridgewell commented on #24646
Fix is live.

[2019-09-20 00:13] Gregable commented on #24646
Should be resolved now. Please reopen if you still see the issue after hard reloading.

[2019-09-20 00:36] archon810 commented on #24611
Easylist dev removed the offending filter.

Woo!

https://github.com/easylist/easylist/commit/bf4747b7f7c14eed3b1a2612b4ff04cca26db13a

[2019-09-20 00:42] archon810 commented on #24611
I'll close this once the filter update is pushed out to users. Right now it hasn't updated yet.

[2019-09-20 02:38] mattwomple commented on #24534
My original post could have been written better. Here's a more accurate depiction of the problem with AMP's implementation of `QUERY_PARAM` variable substitution.

`QUERY_PARAM` does not decode `+` as the space character. Instead, it treats it like a literal plus character. Consider a GET request to an AMP page: `https://amp.dev?q=a+b`. When `QUERY_PARAM` is used to forward parameters to another s

[2019-09-20 04:21] dijs commented on #24631
Yes,

https://react-storefront-boilerplate.moovweb.cloud/p/2.amp?c=2&s=1

On Thu, Sep 19, 2019 at 11:50 PM Cathy Zhu <notifications@github.com> wrote:

[2019-09-20 05:28] mattwomple commented on #24533
@ampproject/wg-ui-and-a11y I have some initial work for this feature request: https://github.com/mattwomple/amphtml/commit/e0252509d2e7919f2fd5694d258c04c758a1426b . This commit enables the feature requested, but obviously lacks documentation and tests. Before I venture further, I would appreciate feedback about whether this feature would be considered for inclusion.

[2019-09-20 10:23] lethnh commented on #20595
why i tried used to <amp-base-carousel> not working for me ?
can you help me ?

[2019-09-20 13:05] ratana opened #24650 "amp-subscriptions-google: option to skip carousel and go directly to pay screen when only 1 sku, when `subscribe` action fired"
## Describe the new feature or change to an existing feature you'd like to see

For amp-subscriptions-google, when only 1 sku is configured, create an option to skip the carousel [including the 'arrow' which may go to an O+O buy landing page] and go directly to the SwG pay screen, when `subscribe` action fired.

## Describe alternatives you've considered
N/A

## Additional context
N/A

[2019-09-20 13:09] ratana opened #24651 "I2I: Real Time config for amp-subscriptions-google"
Ability to assign different products to different SwG buttons / subscribe actions. For example, having one product attached to a paywall button and another attached to a dock button.

[2019-09-20 14:53] jpettitt commented on #24651
The main concern with this is that AMP documents can live in the cache for some time and we don't have a mechanism for marking sku's as no longer for sale.   What might be better would be to provide a remote config endpoint similar to the offered by amp-analytics.  This would allow a publisher to maintain a config file defining which sku to offer and even give them the option of making real time s

[2019-09-20 14:56] jpettitt commented on #24650
This is a complex question.  In some use cases it's preferable to show the extra step even if there is only one offer as it conveys more info than a naked buy button.  We'd need to make this optional / configurable.  We might make this moot if we offer real time config as suggested in #24651

[2019-09-20 15:26] #24625 closed

[2019-09-20 15:38] rafaguerrero opened #24653 "AMP4ADS in <AMP-AD> sets z-index breaking UI"
## What's the issue?

It seems that an AMP4ADS creative is setting an inline z-index: 30 style to the AMP-AD element, making the Ad appear over UI elements of the page

## How do we reproduce the issue?

URL : https://amp.larepublica.pe/politica/2019/09/05/martin-vizcarra-72-de-peruanos-rechaza-vacancia-presidencial-promovida-por-el-fujiaprismo-encuesta-datum-fuerza-popular-apra-congreso-de-la-rep

[2019-09-20 16:00] Pocamus51270 opened #24654 "Amp-carousel 2.0 not picking up SVG overrides for button"
## What's the issue?

Amp-carousel 2.0 not picking up SVG overrides for button classes

## How do we reproduce the issue?

Follow the documentation and override Slideshow buttons using the dedicated .amp-carousel-button classes. While SVG code is fully valid (Not complains from Chrome Editor on the format), it's not displayed and the box remains empty.

## What browsers are affected?

All

## Whic

[2019-09-20 16:14] archon810 commented on #24611
Updated the list again and now I see the Twitter embed. Hooray!

![Screenshot 2019-09-20 at 9 13 52 AM](https://user-images.githubusercontent.com/469543/65342177-099f1800-db87-11e9-92c6-2ad8934056b8.png)

[2019-09-20 16:14] #24611 closed

[2019-09-20 16:39] diantekyrie commented on #24646
@Gregable It seems to still display the error when you select a CNN article. Is the fix suppose to be all CNN or just on the results page?

[2019-09-20 16:51] dvoytenko commented on #24651
I agree. Either we could have a config, or we could return the list of SKUs in the entitlements response as offers. We have some tools to render them into buttons and such.

[2019-09-20 16:54] Gregable commented on #24646
I can't reproduce.

@diantekyrie Can you reproduce in an incognito window? I suspect you are seeing the effect of the browser cache.

[2019-09-20 17:07] diantekyrie commented on #24646
@Gregable I cannot reproduce whole in the incognito window.

[2019-09-20 17:09] Gregable commented on #24646
Closing as WAI. I'm not sure we can do much about clearing out the browser cache for these pages.

[2019-09-20 17:09] #24646 closed

[2019-09-20 17:46] alanorozco opened #24657 "Integration test `BTF within friendly frame or safe frame` flaking"
Timing out on failures:

[code]

Examples: [one](https://travis-ci.org/ampproject/amphtml/jobs/587220011#L2158), [two](https://travis-ci.org/ampproject/amphtml/jobs/587116429#L2111)

[2019-09-20 17:53] sebastianbenz commented on #24611
Yay! Thanks @archon810!

[2019-09-20 18:16] #21203 closed

[2019-09-20 18:28] jridgewell commented on #24534
Ok, it seems ok to follow the URL parsing spec here. Note though, that it has another quirk: You have to run `unescape(decodeURIComponent(str.replace(/\+/, ' ')))` to decode UTF-8 encoded sequences that are precent encoded. Craziness.

[2019-09-20 19:00] AndrewKGuan opened #24659 "amp-bind: Allow String.replace()"
Please allow the use of [String.replace](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace) in amp-bind, it's a very useful function.

[2019-09-20 19:49] estherkim commented on #22844
Hey @nainar, can someone from @ampproject/wg-ui-and-a11y pick this up? Happy to help if the e2e testing framework is missing API support.

[2019-09-20 19:59] westonruter opened #24661 "Validation error for mandatory_anyof constraint when using data-amp-bind-src on amp-list"
On blog.amp.dev we noticed a validation error starting to happen after https://github.com/ampproject/amp.dev/pull/2934:

The markup being introduced included:

[code]

As of https://github.com/ampproject/amp-wp/pull/2974, the AMP WordPress plugin normalizes the bracketed amp-bind attribute syntax to `data-amp-bind-*`, so the original `[src]` is being converted here to `data-amp-bind-src`. The AMP

[2019-09-20 20:05] rsimha commented on #24487
Turns out it wasn't nailgun after all, which means the call to `buildExtensions` did not return. Since it is highly parallel across cores, the next step is to temporarily reduce / eliminate closure concurrency on Travis and see if it makes a difference. Additional logging would be useful too.

[2019-09-20 20:19] sparhami commented on #24609
Using the loader's public API for styling seems like the right way to go. The main reason we have the private class names are to allow us to change structures and classes without worrying about breaking external users. while making sure we maintain the public class names as part of our API contract.

Unfortunately, our current ad-hoc class naming doesn't have a way of enforcing class naming or usa

[2019-09-20 20:21] nainar commented on #24195
Bumping the Priority down since the test is skipped and the component is experimental

[2019-09-20 20:22] nainar commented on #22845
Dupe of https://github.com/ampproject/amphtml/issues/24195

[2019-09-20 20:22] #22845 closed

[2019-09-20 20:27] nainar commented on #22950
@diantekyrie is this still an issue you have come across?

[2019-09-20 20:47] #24612 closed

[2019-09-20 20:53] rsimha commented on #24657
This is happening on other platrforms too. Edge, for example: https://travis-ci.org/ampproject/amphtml/jobs/587583287#L2151

[2019-09-20 21:33] mattwomple commented on #24534
Do you have an example? This appears to work as expected in Chrome 77:

    let enc = encodeURIComponent('✨');

Value of `enc`: `%E2%9C%A8`

    let dec = decodeURIComponent('%E2%9C%A8');

Value of `dec`: ✨

    decodeURIComponent(encodeURIComponent('✨')) === '✨'

`true`

Maybe browser-specific handling of sequences of percent encoded characters?

[2019-09-20 21:53] leafsy opened #24665 "Improve keyboard support for <amp-nested-menu>"
Investigate arrow key navigation of drilldown menus inside sidebar, per a11y guidelines.

This includes:
- Left arrow key to return to parent menu;
- Right arrow key to open sub-menu of currently focused menu item;
- Up arrow key to focus on previous menu item;
- Down arrow key to focus on next menu item;

We should also keep in mind RTL support.

[2019-09-20 22:07] jridgewell commented on #24534
Never mind, I misinterpreted the spec. Just a `decodeURIComponent` should be all that's necessary.

[2019-09-20 22:30] sparhami commented on #20595
amp-base-carousel is still experimental, but you can try it out by toggling the `amp-base-carousel` experiment. This can be done using the browser console, running `AMP.toggleExperiment('amp-base-carousel', true);`. This needs to be done once per domain that you want test on. There are currently a few issues with it, but you can try it out if you want. We are also working on two other components,

[2019-09-20 22:52] MkVII opened #24667 "AMP-Access dialog box redirect & close"
## What's the issue?
To log in using AMP-Access, a dialog window is opened.
After a successful login, the dialog window stays open and the redirect occurs within that window.
Instead what should happen is the dialog window is closed and the parent window is updated with the success=true hash parameter

## How do we reproduce the issue?
Please go to : https://caddy-development.firebaseapp.com/
You

[2019-09-20 23:01] leafsy opened #24668 "Add unit tests to sidebar menu"
Testing should include click handlers and any implemented keyboard functionalities.

[2019-09-20 23:32] sparhami commented on #24654
Do you have an example page where you are running into the issue?

[2019-09-21 03:08] lethnh commented on #20595
i want to create slide has 6 elements per row and slide

I want to create a slide has 6 elements per row and this slide scroll vertical and I tried used to amp-carousel but not working
Can you help me ?

[2019-09-21 09:43] mufaddal7 opened #24672 "<amp-beopinion>does not work in <amp-story-page-attachment>"
## What's the issue?
`<amp-beopinion>` does not work in `<amp-story-page-attachment> `

## How do we reproduce the issue?
[code]
Upload this code in a story

## Solution
@BeOpinion Needs to change the style of the iframe to `display:block` from `display:flex`

**Working in this image 1**
![image](https://user-images.githubusercontent.com/42934221/65371542-23715580-dc82-11e9-8029-60e9d8981402.png)

[2019-09-21 10:50] bloodyowl commented on #24672
@mufaddal7 thanks for the bug report! I opened a PR with a fix to your issue.

[2019-09-21 14:20] honeyrbhandari opened #24674 "AMP Stories not working in Wordpress. Please help!!!!"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-09-21 15:13] eduardogoncalves commented on #24674
Hi @honeyrbhandari, this issue is related to WordPress/WordPress' Plugin. Please open a new support request at https://wordpress.org/support/plugin/amp/ or https://github.com/ampproject/amp-wp/issues

[2019-09-21 18:53] mufaddal7 commented on #24672
There has been a temporary solution provided by the Beop team (Message by Beop team)
I have validated the issue and it seems to be solved currently, however it works very slow and is spoiling the user experience and the UI also seems to be poor for AMP Stories

[2019-09-22 05:24] #18076 closed

[2019-09-22 05:28] nainar commented on #23661
Fixed by #23940

[2019-09-22 05:28] #23661 closed

[2019-09-22 09:11] jaygray0919 commented on #14689
Post your example so we can see the differences. Otherwise the discussion is abstract.

[2019-09-22 10:18] honeyrbhandari commented on #24674
Sure, thanks a lot!

[2019-09-22 10:18] #24674 closed

[2019-09-22 13:40] yuvalight opened #24675 "Using Microsoft Azure tracking tags inside AMP pages"
Hi,

We are an online gambling company named Codere Apuestas.
We started working with AMP in the last year and we have some AMP pages.
In our general sites(not the AMP sites) we have a big JS file which has all the trackers that we use for tracking our users.
We would like to implement the JS file inside the AMP pages, but because of the limitation AMP has we need you to help us find a way to do t

[2019-09-22 20:45] bjalford opened #24678 "FR: Amp twitter follow button"
Similar to the Facebook like button but for Twitter.

Docs here: https://help.twitter.com/en/using-twitter/add-follow-button-to-website

[2019-09-23 07:51] iliran11 opened #24679 "Issues implementing "dirty AMP" while using next.js"
Hi,
I am using Next.js to build my AMP site using the feature that allows building [AMP hybrid](https://nextjs.org/docs#hybrid-amp-page) website.

I've been to google workshop and it was recommended to use "Dirty amp". Continue using amp components on non-AMP pages.

However, I can't use amp-components when using the hybrid feature on next.js, on the non-AMP page.

opened an issue on `next.js` but

[2019-09-23 11:09] sebastianbenz opened #24680 "📕 amp-script: Document how and when worker-doc releases are included"
Context: I'm waiting for this [worker-dom PR](https://github.com/ampproject/worker-dom/pull/629) to make it into amp-script. I don't know how to track the release.

It'd be great to have two things:

1. Add an FAQ entry in the amp-script documentation explaining how long it usually takes for a worker-doc feature to end in amp-script.
2. Document the currently used worker-dom version (ideally with

[2019-09-23 11:09] sebastianbenz commented on #24680
See also: https://github.com/ampproject/worker-dom/issues/658

[2019-09-23 11:43] itsmsc commented on #24541
The problem still exists in the iOS 13 - release version. In my opinion is this a serious UI - issue

[2019-09-23 11:49] fstanis commented on #24407
IIRC, https://cdn.ampproject.org/caches.json is pulled from https://github.com/ampproject/amphtml/blob/master/caches.json

[2019-09-23 11:58] lvberkum opened #24682 "amp-date-picker highlighted/blocked attributes do not work"
## What's the issue?

amp-date-picker highlighted and blocked attributes have no effect

## How do we reproduce the issue?

See https://amp.dev/documentation/examples/components/amp-date-picker/?format=websites#highlighted-and-blocked-attributes .

## What browsers are affected?

All browsers?

## Which AMP version is affected?

AMP version 1909141409590. Not sure if this is a new issue, haven't t

[2019-09-23 13:39] eduardogoncalves commented on #24675
Hi @yuvalight , have you tried [Google Tag Manager](https://support.google.com/tagmanager/answer/9205783?hl=en)?

[2019-09-23 13:48] yuvalight commented on #24675
@eduardogoncalves hi,
All of our trackers are on Azure that is why it is hard for us to move everything to Google Tag Manager...

[2019-09-23 13:56] eduardogoncalves commented on #24675
@yuvalight which [Azure Service](https://azure.microsoft.com/en-us/services/) are you using?

[2019-09-23 15:16] caroqliu opened #24684 "Invisible text in amp-autocomplete documentation"
When the amp-autocomplete documentation is imported to amp.dev, some text does not display. See [corresponding issue](https://github.com/ampproject/amp.dev/issues/3004). This requires a fix in this repo since the documentation gets imported to amp.dev.

[2019-09-23 15:25] rcebulko opened #24685 "Remove temporary ownership of OWNERS.yaml file"
In #24599 , @rcebulko is added as an owner of all `OWNERS.yaml` files in the repo.  The rule will be there only temporarily during the transition period while many owners files are being updated as contributors and teams notice which files are out of date. The `#` modifier means the owners bot will tag me on any PR that touches an owners file. This will allow me to verify syntax and semantics of a

[2019-09-23 16:06] caroqliu commented on #22844
I can look into this 👍

[2019-09-23 16:20] caroqliu opened #24687 "amp-autocomplete: Support prefetching remote data via an attribute to improve responsiveness for users"
Issue to track followup effort for [#23772 (comment)](https://github.com/ampproject/amphtml/issues/23772#issuecomment-519284625) and [#24645 (comment)](https://github.com/ampproject/amphtml/pull/24645#pullrequestreview-291321195)

Add an amp-autocomplete attribute to support prefetching remote data since the default is to fetch on `touchstart` or input `focus`, whichever occurs first.

[2019-09-23 16:37] diantekyrie commented on #22950
@nainar no I'm not able to reproduce. I'll close this and reopen it if required.

[2019-09-23 16:37] #22950 closed

[2019-09-23 16:53] cathyxz commented on #21403
I think we separately solved the `getMoreEndElement` issue in https://github.com/ampproject/amphtml/pull/21390 already by fixing the race condition on accessing the loadMoreEndElement before initializing it. Since the remaining issue here is cosmetic and not blocking functionality, I'm downgrading to P2.

[2019-09-23 17:42] rcebulko opened #24692 "amp-recaptcha-input tests failing"
**Please only file reports about bugs in AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issue he

[2019-09-23 17:43] rcebulko commented on #24692
@rsimha It looks like you've touched this file a bit, but mostly for prettier stuff. Aaron created them, but I'm not sure if he's still active on the project.

[2019-09-23 17:47] rcebulko commented on #24692
Relevant: http://imaginativethinking.ca/heck-test-async-code-mocha/

[2019-09-23 17:51] rcebulko commented on #24692
Failing build example: https://travis-ci.org/ampproject/amphtml/jobs/588546866
It looks like all the tests are actually returning the promise, so mocha should be waiting for them to complete. It looks like for some reason the test suite is still completing and disconnecting the browser before all test cases have run.

[2019-09-23 18:07] #24627 closed

[2019-09-23 18:12] #23772 closed

[2019-09-23 18:22] sparhami commented on #24643
So it looks like if you are running Chrome Beta, you will need to flip the samesite cookie flags (as of Chrome beta 78?). This is expected to land in Chrome 80, so we still have some time to make the change.

[2019-09-23 18:29] zhouyx commented on #24534
Thanks for the detailed explanation. I think this is fine as long as we are only changing the decoding behavior.

[2019-09-23 19:06] estherkim commented on #24487
Sanity check here - are we sure it's not nailgun? Per https://github.com/ampproject/amphtml/commit/f480db0d43b826b58e1e23515d6201cb64bff797, there should be something logging at the end of `stopNailgunServer()`, right? But this stalled build is missing that - https://travis-ci.org/ampproject/amphtml/jobs/588052454

[2019-09-23 19:18] rsimha commented on #24438
`1909141409590` went to production on Sep 18.

[2019-09-23 19:18] #24438 closed

[2019-09-23 19:19] rsimha opened #24694 "🚄 Release tracking issue for release 1909181902540"
# Release tracking issue

- [x] Release [1909181902540](https://github.com/ampproject/amphtml/releases/tag/1909181902540) is cut as a new canary release
- [x] Release 1909181902540 pushed to dev channel (6:29 PM, Sep 18, 2019 UTC-4)
- [x] Release 1909181902540 pushed to 1% (7:27 PM, Sep 19, 2019 UTC-4)
- [x] Release 1909181902540 pushed to production (11:04 AM, Sep 24, 2019 UTC-7)

See the [releas

[2019-09-23 19:21] rsimha commented on #24694
Assigning to @calebcordry to update once 1909181902540 is pushed to production.

[2019-09-23 19:26] rsimha commented on #24487
Here's why I believe it's not nailgun:
1. If `buildExtensions()` had exited cleanly, `stopNailgunServer()` would've run for at most 5 seconds before printing a success or a timeout message. (Neither message was printed.)
2. If OTOH, `buildExtensions()` was waiting on an unfinished promise, it would print all the `Minified so-and-so extension` messages and stall.

My suspicion is that 2 is true tod

[2019-09-23 19:29] estherkim commented on #24487
Ohhh `buildExtensions()` needs to return before `stopNailgunServer()` starts. Got it!

[2019-09-23 19:33] rsimha commented on #24487
Yeah :)

Unfortunately, my attempted changes in #24662 seem to be breaking single-pass. I meant to try and reduce the scope of the changes and check it in, but I won't get to it until next week. Feel free to take over or replace the PR if this becomes a blocker and you end up finding a better way to solve.

[2019-09-23 19:57] #24684 closed

[2019-09-23 20:38] diantekyrie opened #24696 "AliExpress back button is not functional"
## What's the issue?
AliExpress back button is not functional.

Briefly describe the bug.
When clicking on the back button it does not revert back to the previous page.

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing the issue:

1. Op

[2019-09-23 20:58] sparhami commented on #24696
Some other things I noticed:

- If you do not open devtools, the back button seems to work correctly for me for Chrome desktop.
- On Safari (and iOS), this does not seem to close the tab as it should (when not a viewer environment)
  * This is due to checking `window.opener` exists before allowing the close. The page does not have an `opener`. This looks to be due to a Safari intervention, treatin

[2019-09-23 22:52] sparhami commented on #22499
For #24504, it would additionally be useful to be able to set animations to a specific point in time before taking a screenshot. This can be done by setting a negative `animation-delay` value, taking into account any existing `animation-delay` that is present.

[2019-09-24 01:35] themeenanaresh opened #24699 "How to setup AMP LIVE List On AMP Version"
Please provide complete information for amp live list on amp Version. I am completely designed live Blog on non Amp version. Complete implement liveblogposting schema. But not show live icon on Google. Please provide details AMP LIVE List for AMP version

[2019-09-24 07:50] dzuendorf opened #24701 "amp-carousel 0.2 triggers amp-carousel-prev analytics event on page load"
amp-carousel 0.2 triggers amp-carousel-prev analytics event two times on page load, without any user interaction.

You can reproduce it here:
https://ampb.in/#oUkagY1kWqjsx6k9K3oI

Or in production:
https://www.chefkoch.de/amp/rezepte/745721177147257/Lasagne.html

[code]

Testet in Chrome and Firefox.

Current AMP Version is 1909141409590

[2019-09-24 09:21] fstanis opened #24702 "Infinite loop XHRs with amp-form"
## What's the issue?

By combining the `submit-success` and/or `submit-error` event and the `submit` action on forms, it's possible to create a form that makes infinite requests to an endpoint.

This can be useful for polling, but is also potentially dangerous, so it might be a good idea to add some limit, e.g. delay if an identical XHR is fired twice in a row.

## How do we reproduce the issue?

[2019-09-24 09:22] fstanis commented on #24702
CC @sebastianbenz

[2019-09-24 09:40] Binipro commented on #21783
Hi @andrewwatterson,

do you have any update?

Thank you

[2019-09-24 10:28] niritdabby commented on #20559
@choumx
Hey, thanks for your comments. I want to push a fix but I have no permissions.
Can you please give me access ?

[2019-09-24 13:19] SimonHogstromRonbol opened #24704 "AMP-List doesn't render in Firefox or Safari"
## What's the issue?

I have this amp-list that works perfectly fine in Edge and Chrome, but throws and "Unknown error" in Firefox and Safari, and doesn't render

## How do we reproduce the issue?

i have made a codepen of the amp-list in question:
https://codepen.io/sunturion/pen/bGbzxwj

you can see an even more minimal version of the amp-list where the error is still present.
https://codepen.io

[2019-09-24 13:26] meistudioli opened #24705 "Is Event slideChange no longer exist at amp-carousel[type="slides"] ver. 0.2 ?"
To whom it may concern:

I wonder is Event slideChange no longer exist at amp-carousel[type="slides"] ver. 0.2 ? Looks like I can't use it if I upgrade to  Version 0.2

- git doc: https://github.com/ampproject/amphtml/blob/master/spec/amp-actions-and-events.md#amp-carouseltypeslides

- amp.dev: https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/#amp-carousel[type=%22sl

[2019-09-24 13:34] meistudioli commented on #24541
I have some problem too.

demo: https://blog.lalacube.com/mei/yahoo_mall_fp_amp.php

![image](https://user-images.githubusercontent.com/10822546/65516129-02736380-df13-11e9-9f7d-4c05b6d50734.png)

[2019-09-24 15:00] dritter opened #24706 "[amp-carousel] "slideChange" is not allowed to invoke "AMP.setState"."
Hi!

We recently switched to `amp-carousel` v0.2 and in the console the error `"slideChange" is not allowed to invoke "AMP.setState"` pops up. In our case we use that feature to synchronize two sliders.
As far as I can see, we do not something special here, cause using slideChange to set a state is in the examples [here](https://amp.dev/documentation/examples/e-commerce/product_page/) and [here](h

[2019-09-24 15:35] Rajashree-sys opened #24708 "content not loading in amp-accordian if followed amp-list with amp-iframe"
## What's the issue?

An amp page with many amp-list's followed by amp-accordian holds many amp-list's. amp-iframe is there inbetween these two set. Because of that, amp-accordian is not getting loaded with content by default while opening it in browser, once user clicks on that it is getting loaded with data.
When we remove the amp-iframe section inbetween, it is solving the problem. Can we know

[2019-09-24 16:01] rcebulko commented on #24692
Update: doesn't look like this is the source; @zhouyx has been looking into it

[2019-09-24 17:17] jridgewell commented on #22961
Do you have a page that causes this error?

[2019-09-24 17:18] sparhami commented on #24696
Another thing I noticed is that if you:

1. Open https://m.aliexpress.com/wholesale/car%20sleep.html?channel=direct in Chrome
1. Open the tab
1. Open dev tools
1. Click the button
1. Try to close dev tools

I noticed that dev tools will not close, both when trying close via the "x" button or via the dev tools keyboard shortcut.

[2019-09-24 17:45] #24643 closed

[2019-09-24 17:46] jeffj6123 commented on #22961
@jridgewell to give as much context as possible. There was an issue raised by our users saying our page would lock and would not be able to scroll up and down. Primarily on mobile but a few times on desktop. One time when a user had the issue reported we were able to get them to open dev console and send a screenshot and that's how we traced to the ads causing the problem. We have since then remov

[2019-09-24 18:16] sebastianbenz opened #24710 "Validator does not recognize data-amp-bind-src for amp-list"
This fails validation:

[code]

with: `The tag 'amp-list' is missing a mandatory attribute - pick at least one of ['src','[src]'].`

Even though the following is valid AMP:

[code]

[2019-09-24 18:31] Gregable commented on #24710
This looks like a dupe of #24661 would you agree?

[2019-09-24 18:35] sebastianbenz commented on #24710
LOL - yes. I read the bug before (and even assigned you). Then forgot about it, and ran into the same problem in a different context 🤦‍♂️.

[2019-09-24 18:35] #24710 closed

[2019-09-24 18:41] #24694 closed

[2019-09-24 18:47] gmajoulet commented on #24672
Could you post more information about how to reproduce this issue? Was it on any specific browser, or with any specific CSS?

On a story with no CSS and on Chrome, your snippet seems to work:

![image](https://user-images.githubusercontent.com/1492044/65540840-30888180-deda-11e9-8faa-5c29514f3319.png)

[2019-09-24 19:29] nainar opened #24712 "[BUG] New loaders shouldn't show up in stories"
The new loaders shouldn't be AMP stories but they are. We should fix this.

cc @ampproject/wg-stories

[2019-09-24 19:36] calebcordry opened #24713 "🚄Release tracking issue for canary release 1909241711100 (Canary)"
# Release tracking issue

- [x] Release [`1909241711100`](https://github.com/ampproject/amphtml/releases/tag/1909241711100) is cut as a new canary release
- [x] Release `1909241711100` pushed to dev channel (4:35 PM, Sep 24, 2019 UTC-7)
- [x] Release `1909241711100` pushed to 1% (2:11 PM, Sep 25, 2019 UTC-7)
- [x] Release `1909241711100` pushed to production (<CL submit time>)
- [x] Release `19100

[2019-09-24 19:36] nainar commented on #24712
Dupe of https://github.com/ampproject/amphtml/issues/24609

[2019-09-24 19:36] #24712 closed

[2019-09-24 19:43] Frenchomatic commented on #2273
It is frustrating when something like recaptcha is offered for AMP pages but nobody seems to give an example or a clear explanation of what is needed. There is not much on the web that I can find which actually describes the crucial step of what code needs to go into the server side php file.

So in my case , in my amp page form I have this
[code]

I have the necessary scripts listed in the head a

[2019-09-24 19:59] lannka commented on #2273
@Frenchomatic did you find something useful on [reCaptcha's site](https://developers.google.com/recaptcha/docs/settings)? It should not be similar (if not the same) how you integrate reCaptcha on your non-AMP pages.

[2019-09-24 20:03] Frenchomatic commented on #2273
NO - that is the point - there is no explanation of what is needed in term of the php server side script. For example, there is a secret key but what do you do with it?

[2019-09-24 20:31] sparhami commented on #24696
So it looks like there are two separate issues here:

1. the `window.close()` call has strange behavior while the Chrome devtools are open (does not close the tab, but remove all event listeners, perhaps unload all the JS). This seems to be a Chrome devtools bug (filed https://bugs.chromium.org/p/chromium/issues/detail?id=1007407 for the issue).
1. We do not necessarily need to check `window.opene

[2019-09-24 20:48] #21485 closed

[2019-09-24 22:33] gmajoulet opened #24715 "Typo in story progress-bar method name."
Good first issue:

The method `assertVaildSegmentId_` has a typo, in https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/1.0/progress-bar.js#L473

[2019-09-24 22:44] sparhami commented on #24706
This occurs as `amp-carousel` 0.2 triggers `slideChange` on the initial render, but as a low trust event. We should consider just removing the firing of `slideChange` on the initial render (just ignore the first index change). While in theory, this could be useful for syncing two carousels together, carousel 0.1 never had this feature to begin with so it doesn't seem to be a big loss.

Note that i

[2019-09-24 23:13] wassgha opened #24718 "Cleanup "amp-story-parallax" experiment"
Cleanup "amp-story-parallax" experiment

[2019-09-24 23:25] powerivq commented on #24474
https://github.com/ampproject/amphtml/pull/24528

[2019-09-24 23:25] #24474 closed

[2019-09-24 23:31] sparhami commented on #24705
The event should still exist and work. It will not fire a high trust action for autoplay, so if you are trying to use it for autoplay and something like `setState`, that will not work in carousel 0.2.

Do you have an example page that you can share where you see issues with carousel 0.2?

[2019-09-24 23:44] sparhami commented on #24704
This appears to be because one of the list items is trying to set `"http://byaagaard.com, http://k-z.dk"` as an `href` in the template. This throws an error in the sanitizer as it is not a valid URL, which prevents the list from rendering properly.

This validation / sanitization of a valid `href` is done using the [`URL` constructor](https://developer.mozilla.org/en-US/docs/Web/API/URL/URL), whic

[2019-09-24 23:50] sparhami commented on #24696
One last complication is that we cannot just check `window.history.length`. If you do the following sequence:

1. Open a tab (e.g. via an anchor tag)
2. Call `history.pushState('blah');`
3. Call `history.back()`

You can call `window.close()`. However, if you do:

1. Open a tab (e.g. via an anchor tag)
2. Open another tab (via an anchor tag)
3. Go back

You cannot call `window.close()`. Note that

[2019-09-25 00:03] noodles opened #24720 "Documentation error - reference to "AMP By Example" on most component pages"
## What's the issue?

In the "Examples" row of the table that sits at the top of most Component pages, there is a reference to the now defunct "AMP By Example" site.

![Screen Shot 2019-09-25 at 10 01 56 AM](https://user-images.githubusercontent.com/183972/65558841-8b25ea00-df7b-11e9-8c7f-337b77b08bff.png)

## How do we reproduce the issue?

Look at various component documentation pages:

E.g.

1.

[2019-09-25 00:08] noodles commented on #24720
@CrystalOnScript does this sound OK to you? Let me know if you'd prefer it worded differently.

[2019-09-25 00:19] CrystalOnScript commented on #24720
Thanks for bringing this up @noodles! The "See AMP By Example" wording should definitely be dropped, but the proposed update won't work with components with multiple examples, such as [amp-carousel](https://amp.dev/documentation/components/amp-carousel/?format=websites). I think it might just be better just have it as a link for a single example, or a bulleted list for multiple.

Replace:

AMP By

[2019-09-25 00:23] noodles commented on #24720
That makes sense.

For pages with a single example:

This:

See AMP By Example's [annotated amp-facebook](https://amp.dev/documentation/examples/components/amp-facebook/?format=websites) example.

becomes:

[annotated amp-facebook example](https://amp.dev/documentation/examples/components/amp-facebook/?format=websites)

- No bullet
- The word example included in the hyperlink

[2019-09-25 00:38] meistudioli commented on #24705
Hi, @sparhami:

Thanks for reply. Yes, I trid to do some pagination through `setState`. Looks like I need to remove these if I upgrade to  .2 ?

[2019-09-25 00:41] MkVII commented on #24667
Sorry team, solved the issue.
I wasn't redirecting properly, should have sent a status 303 as well as the redirect URL

[2019-09-25 00:41] #24667 closed

[2019-09-25 01:04] redhae opened #24722 "amp-date-picker: allow retrieving values in latin numerals even when display is in another locale"
Is there a way to retrieve the values set by the `<amp-date-picker>` component in latin numerals even when the display (set by the `locale` attribute) is in a non-latin locale eg. `ar`.

I've found a (hacky) way to achieve this currently by adding an additional hidden `<amp-date-picker>` with `locale=en`. There might be other ways of converting the values (maybe via `<amp-script>` ?) but i've not

[2019-09-25 02:44] themeenanaresh opened #24724 "AMP Validation issues"
this message show ....
The tag 'url' is disallowed.

please help me

[2019-09-25 02:54] tanakayuki commented on #24541
I'm seeing the same symptoms
Occurs even when “autoplay” is not set in the amp-carousel
, can confirm this bug in iOS(+13)

[2019-09-25 04:30] choumx commented on #20559
Please create a pull request: https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md

[2019-09-25 04:35] mattwomple opened #24725 "Shadow v0 ignores self-hosted AMP runtime for AMP extensions"
## What's the issue?

When AMP pages that have been optimized using the [amp-toolbox transformer](https://github.com/ampproject/amp-toolbox/tree/master/packages/optimizer/lib/transformers) are loaded into a PWA using `shadow-v0.js`, any self-hosted AMP runtime URLs for AMP extensions are ignored and `cdn.ampproject.org` is used instead.

## How do we reproduce the issue?

Website is ugly. It is ju

[2019-09-25 04:35] mattwomple opened #24927 "amp-toolbox/optimizer should set AMP_CONFIG URLs when self-hosting AMP JS"
## What's the issue?

When AMP pages that have been optimized using the [amp-toolbox transformer](https://github.com/ampproject/amp-toolbox/tree/master/packages/optimizer/lib/transformers) are loaded into a PWA using `shadow-v0.js`, any self-hosted AMP runtime URLs for AMP extensions are ignored and `cdn.ampproject.org` is used instead.

## How do we reproduce the issue?

_Edited 2019-10-07 with m

[2019-09-25 04:40] choumx commented on #24702
/cc @ampproject/wg-ui-and-a11y @choumx

[2019-09-25 05:41] CW-prabhupuredla opened #24726 "Getting redirect notice when clicking on the amp URL in the search results."
We have implemented signed exchange to show our domain URL in the browser. When I clicked on amp URL in the google search results, redirect notice is being shown every time. Please refer to the image:
![bikewale redirect notice](https://user-images.githubusercontent.com/35324834/65572102-9df0ec80-df84-11e9-9774-ec4a773483f3.PNG)

I checked amp.dev website which is implemented using signed exchange

[2019-09-25 05:56] sebastianbenz commented on #24720
Thanks for reporting. We're currently working on removing this column and replacing it with an automatically generated list of samples using the component. See https://github.com/ampproject/amp.dev/issues/2971

[2019-09-25 05:56] #24720 closed

[2019-09-25 06:02] samouri commented on #23133
@choumx, are you currently working on this? If not, would you mind if I took a whack at it?

[2019-09-25 06:21] SimonHogstromRonbol commented on #24704
@sparhami good catch, however, i corrected the error in the data, and i still cant get the list to render on firefox and safari, i've updatede the data in the pens in my initial comment.

[2019-09-25 07:01] choumx commented on #23133
@samouri Go for it. :)

[2019-09-25 07:38] sebastianbenz opened #24728 "Clone documentation for amp-sidebar v2"
The current setup will break the amp.dev component doc importer as the readme.md will be associated with the latest version 1.0 resulting in the translations not being shown.

Please, copy the readme and mark the new version as experimental:

[code]

//cc @leafsy @sparhami

[2019-09-25 09:15] efiroz opened #24729 "Support Cooladata tracker"
We are behavioural analytics platform for online web and mobile applications, we would like our tracker to be supported.
link to our documentation -[ ](https://docs.cooladata.com/getting-started/)
link to our javascript tracker Initialization - [](https://docs.cooladata.com/javascript/)

[2019-09-25 10:46] efiroz commented on #24729
This are the links:
https://docs.cooladata.com/getting-started/
https://docs.cooladata.com/javascript/

[2019-09-25 11:52] veacks commented on #24490
For people looking for a temporary workaround in your PWA app, you can use an iframe: `<iframe src="<your-story-location.html>"/>`.

[2019-09-25 12:08] choumx commented on #24704
Something strange is happening in the codepen sample where extension `<script>` elements are being reparented to the document body. Your updated sample works when testing locally outside of codepen (I see the `<amp-selector>` element being rendered).

[2019-09-25 12:11] SimonHogstromRonbol commented on #24704
@choumx i have a real word example where the bug is present on Firefox and Safari if that helps: https://www.capidea.dk/virksomheder

[2019-09-25 15:01] dritter opened #24731 "[FR] Allow crossorigin="anonymous" on amp scripts in validator"
Hey all,

currently, we are using a ServiceWorker to cache the amp scripts. We are not using the `amp-sw` script, as we have some complex cache purging strategies (like purging the cache, when the user visit certain URLs, or after a timeout). Instead we use our own ServiceWorker that uses `Workbox`.

Eventually, we found out that due to [opaque](https://developers.google.com/web/tools/chrome-devto

[2019-09-25 15:36] gmajoulet commented on #23992
The Stories Working Group update is available here: https://github.com/ampproject/wg-stories/issues/17

[2019-09-25 16:24] conwaydev commented on #24705
We also have this issue as we toggle an active state on indicator buttons based off a carousel's state

[2019-09-25 17:04] sparhami commented on #24541
I created a demo page to reproduce the issue with amp-carousel 0.1:

https://output.jsbin.com/qujeqah/1

Swiping to the second or third slide, then swiping down causes the carousel to go back to the first slide. A page with amp-carousel 0.2 does not see the same issue:

https://output.jsbin.com/hudalit/1

[2019-09-25 17:07] sparhami commented on #24728
I don't think we want to have this become the primary documentation yet. This component still in development and I'm not sure that we should call it experimental yet since the API is still in flux.

[2019-09-25 17:08] #24706 closed

[2019-09-25 17:08] #24701 closed

[2019-09-25 17:14] sparhami commented on #24705
If you are using `autoplay` (which it looks like that page is), then yes, the `setState` will no longer work when the slide changes due to `autoplay`.

[2019-09-25 17:36] leafsy commented on #24728
Should I proceed with cloning the readme given the status described above? I was under the impression that keeping `latestVersion: '0.1'` in `bundles.config.js` would keep the latest version unaffected, but this is evidently not the case for documentation purposes.

[2019-09-25 17:45] conwaydev opened #24733 "AMP Carousel 0.2 (and 0.1) showing 1 pixel of previous slide in type=slides"
## What's the issue?

We're using amp-carousel and have been noticing that in some brower viewport sizes that a portion of the previous slide image is displaying within the visible slide container.

I created a GIF detailing the experience at https://cl.ly/8ee465be9fcb using the iOS simulator tool and our designer submitted a screenshot https://cl.ly/f845a564e11c.

## How do we reproduce the issue

[2019-09-25 17:46] conwaydev commented on #24733
For the time being we've found a hacky workaround by including

[code]

within our CSS, but you can see even in the top example of the provided prototype you see a portion of the previous slide being displayed.

[2019-09-25 18:24] itsmsc commented on #24541
You can see the problem on one of our pages: https://www.mdr.de/tv/index~amp.html
Both problems, described on the first entry; _If "autoplay" is set on the carousel then the carousel will be animating indefinitely while scrolling. If "autoplay" is not set, then the carousel will animate back to the first card and stay there._
Please fix this contemporary!

[2019-09-25 18:49] sebastianbenz commented on #24728
But isn't this the definition of experimental?

[2019-09-25 19:48] sparhami commented on #24728
I think for experimental, we want to at least have an API we think is ready, though there may be changes, rather than changing it wholesale.

[2019-09-25 20:09] jridgewell commented on #23992
Runtime WG status update is at https://github.com/ampproject/wg-runtime/issues/19

[2019-09-25 20:16] #23992 closed

[2019-09-25 20:20] mrjoro commented on #24588
The UI & Accessibility Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-ui-and-a11y @nainar

[2019-09-25 20:21] mrjoro commented on #24590
The Validation & caching Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-caching @Gregable

[2019-09-25 20:21] mrjoro commented on #24591
The Viewers Working Group will be presenting their [periodic updates](https://github.com/ampproject/meta/wiki/Working-Group-Updates) at this Design Review (10-15 minutes).

/cc @ampproject/wg-viewers @ericfs

[2019-09-25 21:48] sparhami commented on #24733
Taking a look in Safari's devtools and hovering over the carousel element, it thinks the carousel is the right size, but it seems to have a difference between the size that it thinks it is and the size that is actually painted.

This issue seems to have to do with fractional widths having some sort of off-by-one / rounding error in rendering compared to how `overflow: hidden` is calculated. This m

[2019-09-25 21:53] sparhami opened #24740 "Investigate amp-loader CSS in shadow docs"
It seems like the CSS from the new loaders (from `amp-loader`) may not being applied to shadow docs correctly (i.e. when using shadow-v0.js). We should investigate that the styling is working correctly, and if possible, create an e2e test.

[2019-09-25 23:10] sparhami commented on #24704
I still see some data containing `"http://byaagaard.com, http://k-z.dk"`. I think there might have been multiple locations originally, but I still see one location with `"hjemmeside": "http://byaagaard.com, http://k-z.dk",` in the data returned from the server.

[2019-09-25 23:33] joshcp commented on #24541
Two additional examples:

- https://amp.pga.com/events/pgachampionship/2019 (Carousel is near top of page)
- https://amp.zales.com/ (Carousel is near bottom of page)

[2019-09-25 23:47] sparhami commented on #24740
So after some initial investigation, it seems like the styles are installed correctly. There may still be a race condition somewhere. Need some more investigation to see if we can reproduce the issue.

[2019-09-26 01:01] meistudioli commented on #24705
I see. Thank you so much. I'll remove that indicator once I migrate to amp-carousel 0.2.

[2019-09-26 01:01] #24705 closed

[2019-09-26 03:51] Shagamii opened #24748 "In amp-story, amp-experiment is alerted by amp validator, but it work correctly."
## What's the issue?
In amp stories, amp-experiment component should be allowed to use,  but it is alerted by amp validator.

Related Link
- https://amp.dev/documentation/components/amp-experiment/?format=stories
- https://amp.dev/documentation/components/amp-story/#children

| contained in amp-story | contained in amp-story-grid-layer |
| :--- | :--- |
| <img width="784" alt="Tag 'amp-experiment'

[2019-09-26 05:14] VMBindraban opened #24749 "amp_source_origin multiple requests for same data endpoint"
**Please only file reports about bugs in AMP here.**

## What's the issue?

When calling `amp-list` twice on a page with the same url it makes 2 requests with different `amp_source_origin`. This didn't happen last week oddly enough.

![image](https://user-images.githubusercontent.com/2269400/65659689-c3d1cc00-e02c-11e9-8ccc-a2547a9a1d13.png)

## What browsers are affected?

All browsers?

## Which

[2019-09-26 06:09] meistudioli opened #24750 "amp-carousel 0.2 auto snap to start position when page scroll occured"
To whom it may concern:

I've already migrate amp-carousel to Version 0.2 and feel something strange about the action.

※ Reproduce step:
1. horizontal scroll one amp-carousel.
2. page scroll occured.
3. amp-carousel auto snap to the start position.

video: https://youtu.be/T39di7eVJQE

 ※ Expect:
Keep it alone. I don't want to bother user to scroll back again.

demo address: https://tw.bid.yahoo.

[2019-09-26 07:20] SimonHogstromRonbol commented on #24704
I've implemented a workaround on the live site (https://www.capidea.dk/virksomheder), by removing the protocols from the url, and then doing href="http://{{hjemmeside}}" instead

[2019-09-26 08:52] itsmsc commented on #24541
I can confirm that amp-carousel 0.2 does not see the same issue. I have migrate all pages to v 0.2 with some CSS - changes. This works for me. Thank you.

[2019-09-26 09:07] tanakayuki commented on #24541
I can confirm that the same issue has been fixed by changing to amp-carousel 0.2
(iOS 13 beta in browserstack)

Thank you!!

[2019-09-26 09:41] bloodyowl commented on #24672
@gmajoulet we (BeOp) added a temporary workaround on our side while #24673 is pending

[2019-09-26 10:50] berkedify commented on #20225
TODO
Meet Insider, the first integrated Growth Management Platform (GMP).
Growth Management Platform (GMP) helps digital marketers drive growth across the funnel, from Acquisition to Activation, Retention and Revenue. Leveraging real-time predictive segmentation powered by deep Artificial Intelligence and Machine Learning capabilities, Growth Management Platform empowers marketers to deliver perso

[2019-09-26 10:59] manishd-vc commented on #6058
hi

[2019-09-26 11:24] sebastianbenz commented on #19749
This original issue was about clearing an input field **without a form**. This is still not possible.

[2019-09-26 11:33] Enriqe commented on #24639
Closed by #24644

[2019-09-26 11:33] #24639 closed

[2019-09-26 11:34] Enriqe commented on #24310
Closed by  #24548

[2019-09-26 11:34] #24310 closed

[2019-09-26 11:47] Enriqe commented on #23479
Not able to repro anymore, closing for now.

[2019-09-26 11:47] #23479 closed

[2019-09-26 12:30] theRealBitcoinClub opened #24755 "The geolocation example is not showing anything"
## What's the issue?

The geolocation example is not showing anything

## How do we reproduce the issue?

Follow this link:

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fuser-consent%2Fgeolocation-based_consent_flow&format=websites&mode=Galaxy+S5

## What browsers are affected?

Firefox & Chrome on Linux Mint

## Which AMP version is affected?

As of t

[2019-09-26 12:36] VMBindraban commented on #24749
It's because of a 302.

[2019-09-26 12:36] #24749 closed

[2019-09-26 13:04] BurakDev commented on #24724
Can you provide more information about your issue ?

This error mean you are using an unexpected "<url>" tag somewhere.

[2019-09-26 13:26] nainar opened #24757 "Documentation on script tag allowances is inconsistent"
While [Github](https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md) states that script types can only be `application/ld+json` or `text/plain`, the [amp-access documentation](https://amp.dev/documentation/components/amp-access/) shows that application/json is permitted for the amp-access case.

My assumption is that the more pervasive view i.e. application/ld+json or text/pla

[2019-09-26 14:28] wille commented on #17943
Looking through the code and cannot find any runtime functions related to detecting if the document is at least tagged as a valid AMP document. Could you point me in the right direction?

[2019-09-26 15:00] cluebcke commented on #9455
One exact use case is accessibility for users with low vision (like myself). AMP breaks it. Hypotheticals shouldn't be used to justify not addressing a serious accessibility problem.

[2019-09-26 15:16] conwaydev commented on #24733
@sparhami so I don't think thats it as I'm also seeing it in chrome, as well as updating it to use pixels for padding (example updated at: https://cdpn.io/conwaydev/debug/1ead27c133f85bb192a2f3ab9a011f96#development=1 where the bottom example now uses pixels)

![Screen Shot 2019-09-26 at 10 14 56 AM](https://user-images.githubusercontent.com/1868805/65701273-a7db2400-e046-11e9-8484-dae07ebb44ed.pn

[2019-09-26 17:12] feryuk commented on #19066
Did anyone find a solution to this? We have about 400K full AMP pages indexed by Google, no we want to add the AdSense code, which means we'll get 400K errors in Search Console!!!! How can we get around this issue?

[2019-09-26 17:26] jpettitt commented on #24757
There area [lot of places ](https://github.com/ampproject/amphtml/search?q=application%2Fjson&unscoped_q=application%2Fjson)where application json is used for inline scripts.  Which makes me thing the master spec is out of date here.

[2019-09-26 17:30] gmajoulet opened #24762 "Layout attribute console error in test-amp-story."
Layout attribute console error in test-amp-story:

[code]

This error is triggered by the `amp-story consent` test cases.
It looks like the created `amp-consent` AMP component does not have a layout (see: [supported layouts](https://amp.dev/documentation/components/amp-consent/)).

[2019-09-26 17:56] sebastianbenz opened #24763 "amp-script: Interop with [on] actions"
# Overview

Bidirectional interoperation has two parts:

1. `amp-script` can define custom actions and other elements can call them.
2. `amp-script` can call actions on other elements.

## (1) Actions calling into `amp-script`

It'd be great if amp-script had the ability to define custom actions. The advantages are:

* less need to wrap everything with an amp-script element as components outside t

[2019-09-26 18:43] sparhami commented on #24733
I'm fairly certain this is the same issue as https://bugs.chromium.org/p/chromium/issues/detail?id=931455

which is really:

https://bugs.chromium.org/p/chromium/issues/detail?id=414283

The underlying code may predate the split off of Blink from Webkit, so I wouldn't be surprised that is why both Chrome and Safari see the issue. As in the case with this bug and the one I linked to, it does not oc

[2019-09-26 20:14] sparhami commented on #24733
The bug seems to happen on Chrome with fractional widths as well. In your above example, this is due to the following CSS rule"

[code]

If you change it to a whole value (e.g. 49 rem), you won't see the issue.

[2019-09-26 20:48] sparhami commented on #24733
After reading the bug again, it seems like this might be actually close to landing in Chrome. It seems like there was a performance regression that is blocking it however.

If I enable the flag for fractional offsets in Chrome Beta (currently Chrome 78), chrome://flags/#fractional-scroll-offsets, I do not see the issue no matter how I resize. With the flag disabled, I do see the issue.

Looking at

[2019-09-26 20:48] Frenchomatic commented on #2273
@ValentinBrclz If you are going to act like a clown then don't get upset when you are treated like one. The documentation is poor, spread out and incomplete. There is no clear procedure to explain how to implement recaptcha version 3 on an AMP page. Perhaps you may like to fill the gap with your knowledge or proof otherwise.

[2019-09-26 21:01] luisfranco commented on #2273
Hi @Frenchomatic

I see you just pasted an example of backend, what's the part you don't actually get, in v3 you choose what to do depending on the score value, if it meets your criteria, then, `// Verified - send email` accept the contact lead, else, treat it as spam ` // Not verified - show form error`.

[2019-09-26 21:06] Frenchomatic commented on #2273
Well a simple example of how it is used would be good. In other words here is a simple html form which is AMP compliant, here is the php form which sends back the response and forwards the email.

[2019-09-26 21:14] ValentinBrclz commented on #2273
@Frenchomatic : This is an issue, not a support group. I recognise that the documentation can be improved but spamming the issue with your *personal* problem is not going to solve that.

I disliked your comments because I got fed up of it and I'm not the only one. However, I would be happy to help if your personal problem was described *completely* somewhere where it is supposed to be (stackoverfl

[2019-09-26 21:32] Frenchomatic commented on #2273
Grow up young man - you obviously don't understand what the definition of spamming means but  at least you recognize there is a deficiency. You have an arrogance issue and that is very much a personal problem which you should attempt to solve first - customers relationships is obviously not your strong point.

Given GITHUB hosts the developers, they are in the best position to offer a blog post or

[2019-09-26 21:32] nainar commented on #2273
@Frenchomatic your comments above are violating AMP's [Code of Conduct](https://github.com/ampproject/meta/blob/master/CODE_OF_CONDUCT.md) which aim to promote civil discourse on all AMP channels.

Please ensure that all future comments follow the Code of Conduct. Technical critique of features is appreciated - however, personally attacking any of our other members is not.

Since this issue

[2019-09-26 21:34] Frenchomatic commented on #2273
Waste of time - just arrogance.

[2019-09-26 21:47] nainar commented on #2273
The above user has been blocked from posting on this project.

While the initial comments have been deleted, we nonetheless apologize to the others in this thread.

[2019-09-26 21:48] nickmoline commented on #2273
@Frenchomatic

I'm sorry you are frustrated, but this is not the reCAPTCHA project, documentation about the reCAPTCHA project is completely separate from the documentation on AMP.  What is documented on the AMP project is how to use the AMP Component, validation of reCAPTCHA is the same regardless if the post came from AMP or not, and unless someone from reCAPTCHA happens to be lurking on these is

[2019-09-26 22:34] #24672 closed

[2019-09-27 00:24] bokand commented on #9455
The bug here is that the document inside the AMP iframe has `touch-action: pan-y` which blocks pinch-zoom. Changing to `touch-action: pan-y pinch-zoom` fixes it for me locally.

Just FYI, there's a setting in Chrome>Settings>Accessibility to force enable zooming so that Chrome ignores zooming restrictions set by the page and always allows zooming (it works in this case).

[2019-09-27 01:01] leafsy opened #24772 "[a11y] single-item amp-list should not have list role"
## What's the issue?

`<amp-list>` currently sets `role="list"` on its container and `role="listitem"` on elements within the container. However, if the `single-item` attribute is present, those roles should not be added since they introduce an extra list level when read by screen reader.

## What's affected?

Using Voiceover on iOS.

[2019-09-27 02:42] wassgha commented on #21118
Don't see it in the logs anymore. Could you please confirm that this is gone?

[2019-09-27 03:43] Gregable commented on #24359
Good catch on the ordering thing, I know what's going on! The reason for this is the way the validator tries to handle error reporting.

When it encounters the first disallowed <style> tag, it tries to match it to the closest possible rule it can find. In this case, that is the rule for `<style amp-custom>`. It then emits the relevant error and treats the rest of the document as though the tag had

[2019-09-27 04:33] Gregable commented on #24661
I actually think the proposed fix is fine. The validator isn't really aware of the current `[foo]` syntax in any special case way, these are just allowed. All `data-` attrs are also allowed.

Is there any other example of an issue caused by the validator being not aware of the bind syntax?

[2019-09-27 04:38] Gregable commented on #24532
This has nothing to do with experimental vs. not. The validator errors on all unused extensions created since that feature was added to the validator (multiple years now). The issue is that loading the javascript for these extensions has a performance impact for the AMP page. This is an intentional validator feature.

Recommended solution is to have your static site generator inspect the page for

[2019-09-27 04:38] #24532 closed

[2019-09-27 11:00] 06romix opened #24774 "Amp form always show submit-success in Gmail"
## amp-form [submit-error] doesn't work correctly in Gmail

Form in witch `<div submit-success>` doesn't include tag `<template type="amp-mustache"></template>` always show success message whether submit-error include `<template type="amp-mustache">` or not.

[code]

## How do we reproduce the issue?

1. Send code above from https://amp.gmail.dev/playground/
2. Go to gmail
3. Fill form with "error

[2019-09-27 11:22] 06romix opened #24775 "Amp form always gets "amp-form-submit-success" css class in Gmail"
## amp-form doesn't work correctly in Gmail

After submitting form in Gmail and get code 400 from end point - form get css class "amp-form-submit-success" instead "amp-form-submit-error"

## How do we reproduce the issue?

[code]

1. Send code above from https://amp.gmail.dev/playground/
2. Go to gmail
3. Fill form with "error" string
4. Send form

## What browsers are affected?
On Ubuntu

Google

[2019-09-27 13:26] conwaydev commented on #24750
Also with autoplay it invokes a slide change as you scroll, planning on filing a separate bug once I make a isolated example but I can recreate by scrolling https://amp.dev/documentation/examples/components/amp-carousel/ on a mobile device and the autoplay example skips around.

[2019-09-27 14:08] Pocamus51270 commented on #24654
Here is a demo: https://test-amp-3558a.firebaseapp.com

I used the documentation provided here:
https://amp.dev/documentation/components/amp-carousel/#styling

For .amp-carousel-button-prev class I'm using the background-image from the
example
For .amp-carousel-button-next class I'm using my own SVG

I thought my SVG was the issue but Chrome Dev Tools seem ok with it and it
renders correctly in a

[2019-09-27 15:20] Stefany93 commented on #24532
@Gregable thank you!

[2019-09-27 15:44] conwaydev commented on #24541
Noticed this issue this morning with `type="slides"` and `autoplay`.

[2019-09-27 15:46] EverlastingBugstopper commented on #23296
Hey @slocka - Just came across this issue. Cloudflare is planning to deprecate this API and is not actively maintaining it.

If you are able to hook into `node`, this package may help you. https://www.npmjs.com/package/amphtml-validator

Sorry for the inconvenience!

[2019-09-27 15:59] sebastianbenz opened #24778 "amp-script: cannot clear the value of an input field"
Setting the value of a text input to an empty string doesn't work:

[code]

Setting the value to a non-empty string works.

[2019-09-27 16:30] lannka commented on #22916
closed by #24404

[2019-09-27 16:30] #22916 closed

[2019-09-27 16:40] lannka commented on #16555
I don't think we will no longer get into this, as our end goal is having more Fast fetch & AMPHTML ads

[2019-09-27 16:40] #16555 closed

[2019-09-27 16:41] lannka commented on #7748
obsolete. there is plan to introduce a new monitoring performance system

[2019-09-27 16:41] #7748 closed

[2019-09-27 17:02] wassgha commented on #17140
Can't reproduce this on Linux anymore, closing for now. If anyone can reproduce please reopen.

[2019-09-27 17:02] #17140 closed

[2019-09-27 17:22] sparhami commented on #24654
It looks like the documentation is incorrect here and this is not being treated as a valid data URL SVG. If you URL encode it, it works correctly, but that might be a bit overkill. For example, run in the browser console:

[code]

And take the result:

[code]

and set it as a background-image:

[code]

It seems like not all characters actually need to be encoded (e.g. you can leave space and quote

[2019-09-27 17:23] sparhami commented on #24654
One more note, the documentation is incorrect for both carousel 0.1 and 0.2.

[2019-09-27 17:26] #24541 closed

[2019-09-27 17:36] joshcp commented on #24541
Thanks @sparhami - will this fix go live Tuesday? Or, what's the timeline?

[2019-09-27 17:47] sebastianbenz commented on #24728
I'd disagree about the definition of experimental, but that's not really relevant for this issue.

We need a way to be able to match a documentation file to its version. The current algorithm is:

* if amp-component.ms is in the component root dir, assume it matches the latest version.
* if amp-component is in a versioned directory (e.g. `amp-sidebar/v0.1/amp-sidebar.md`), then use  use the direct

[2019-09-27 17:48] #23296 closed

[2019-09-27 18:05] sparhami commented on #24541
The normal release process would be that this will be in the next canary on Tuesday, which will go live one week after that. I will look into cherry-picking this into production however, since this does seem like it causes quite a few problems. Hopefully that can be done today or Monday.

[2019-09-27 18:47] gmajoulet commented on #24748
Thanks for the bug report.

We already allow `amp-experiment` without `amp-story-grid-layer`, but we should allow a `<script type="application/json">` as a direct descendant of `amp-experiment`.

cc @ampproject/wg-stories

[2019-09-27 20:04] kristoferbaxter opened #24784 "Enable `renovate` for @ampproject scoped dependencies"
## Describe the new feature or change to an existing feature you'd like to see

Enable Renovate updating for dependencies scoped under the `@ampproject` namespace – these are intended to update AMP when released.

## Describe alternatives you've considered

Alternatives:
1. Build a seperate automatic upgrade system to enable this feature set.
2. Manually update each `@ampproject` dependency on eac

[2019-09-27 20:23] zhouyx commented on #20225
Hello @berkedify. Great to hear from you. Yes it is possible to do analytics integration as well. The reporting part for v1 and v2 are the same. Please refer to the doc [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-experiment/amp-experiment.md#reporting).

As of today, v2 allows you to apply mutation to change textContent, element style attribute (with a whitelist though)

[2019-09-27 22:24] westonruter commented on #4555
This would be particularly useful for the WordPress plugin. The plugin extracts all inline `style` attributes into style rules which then target the elements with a class name using a hash of the attribute's value (e.g. `amp-wp-27ad0ad`). While AMP does allow inline styles, we are struggling to use them in a WordPress context because we have to deal with theme/plugin styles that often make use of

[2019-09-28 01:53] chvillanuevap opened #24787 "Copy data-* attributes from amp-img onto img"
I currently display a hidden image at the bottom of my website for users to pin by using this code:

[code]
The `src` attribute is a 1x1 blank image, and the `data-pin-media` attribute is the one that holds the actual pinnable image.

I have the Pinterest extension installed on Google Chrome. When I click on the Pinterest logo next to the URL bar in Chrome, Pinterest pulls the 1Remy_Hawaii.jpg ima

[2019-09-28 06:16] Pocamus51270 commented on #24654
Thanks for checking, I'll use manual process like you did.
Would be good to update the documentation!

Le ven. 27 sept. 2019 à 19:23, Sepand Parhami <notifications@github.com> a
écrit :

--
Pierre-Olivier Camus
(+33) 7 66 67 49 96

[2019-09-28 10:00] nainar commented on #24588
@Gregable are you still open to swap the @ampproject/wg-caching's update and provide it at this time slot?

[2019-09-28 13:51] yajiv185 opened #24789 "AMP version of page doesn't appear on Google Image Search"
## What's the issue?

AMP product page not being displayed on 'swipe to visit' for some websites. The amp page is displayed in a google search result but it is not getting displayed in "swipe to visit".
We have already asked on google support and StackExchange but did not get the answer.
- StackExchange:- https://webmasters.stackexchange.com/questions/125023/amp-product-page-not-being-displayed-on

[2019-09-29 11:34] #14088 closed

[2019-09-29 12:55] jaygray0919 commented on #23675
@cathyxz Cathy we've studied your suggestion.
IOHO it is equivalent, effectively, to using `amp-mustache` selections (i.e. # and /) to harvest a value from an `amp-list`.

Here is our configuration:
We have a REST server with multiple items.
Our REST server is modeled on PubChem (https://pubchemdocs.ncbi.nlm.nih.gov/pug-rest).
Here is an AMP query that harvests PubChem data (https://afdsi.org/test

[2019-09-29 14:22] timesalert commented on #24726
I have also faced same issue after updating latest version amp on My site [https://timesalert.com](timesalert). I have roll backed with old version now issue is resolved

[2019-09-29 20:18] #23133 closed

[2019-09-29 20:42] choumx commented on #24784
IIRC, the impetus behind #23008 was a react/moment upgrade that broke part of `amp-date-picker`. Maybe we can reinstate the selective ignore? It'd be nice to have auto-upgrades for `dompurify` too.

[2019-09-30 02:46] lethnh commented on #20595
@sparhami
you can tell me when feature amp-base-carousel releasing
I want to create a slide has 6 elements per row and this slide scroll vertical and I tried used to amp-carousel but not working
Can you help me ?

[2019-09-30 05:14] westonruter commented on #24661
I believe that the `mandatory_anyof` constraint in `amp-list` is the only instance. I've opened #24793 to implement that change.

[2019-09-30 06:55] cheluskin opened #24794 "Expose file metadata in <input type=file>"
## What's the issue?

When selecting a file in input, information about the selected file is not available. Name, size. The variable files is undefined. Also, you cannot get information from the change event.

[2019-09-30 11:14] mattwomple commented on #24533
Deeper searching reveals this is a duplicate feature request: #7600 and #13823

Still, there is some additional information in this thread, including a (clumsy) workaround and a proof-of-concept commit #24671.

CC @caroqliu since I see you were recently assigned to #13823.

[2019-09-30 13:02] caroqliu commented on #24533
Hi there! Thank you for taking the time to investigate this issue and develop a workaround. I will take a look at this today.

[2019-09-30 13:34] ericselin commented on #20559
These are indeed very serious bugs. I'm experiencing all three as well. Hope the PR will fix these.

[2019-09-30 14:22] ericfs commented on #9455
The previously mentioned internal tracking bug (b/38496044) is no longer an issue.

I did notice and file: https://crbug.com/1009232 but my understanding is that would not impact most users.

@kristoferbaxter should this be assigned to someone else?

[2019-09-30 14:31] choumx opened #24798 "Discourage on="tap:AMP.navigateTo" vs. <a>"
Add some documentation and maybe a runtime warning to discourage `on="tap:AMP.navigateTo(...)"` in favor of `<a>` tags. The former has no crawler support.

[2019-09-30 14:49] dritter commented on #24555
Your example was not valid AMP code.

This should work:
[code]

The main difference is that I had to define what should happen on click on the list item. I changed it to close the sidebar, scroll to the element and focus that element: `on="tap:sidebar.close(), a1.scrollTo(), a1.focus()"`. This is indeed a bit verbose.

Other changes to your code:
- The `nav` element in the `amp-sidebar` should onl

[2019-09-30 14:58] newmuis opened #24799 "Consider adding a "reader mode" for AMP stories"
A "reader mode" could help low-vision users better consume stories.  From the amp-story extension, we could provide a way to:

- Increase font sizes
- Increase contrast
- Disable automatic advancement
- Disable visual effects (e.g. 3D parallax)

This would make it easier to consume the text on each page.  This would be a feature that users could opt into.

/cc @hongwei1990 @jasti @gmajoulet

[2019-09-30 15:00] newmuis opened #24800 "Automatically caption videos in stories"
We could use an API like Cloud's speech-to-text to automatically provide captions for videos in stories, a la YouTube.  We would, of course, default to publisher-specified captions if any are provided.

[2019-09-30 15:04] newmuis opened #24801 "Automatically provide alt text for images using OCR/computer vision"
Not sure what the best service to use for this would be, but in theory we could use OCR to extract text from images and/or computer vision to describe objects in the image, then provide this as alt text to the image.  This would help improve accessibility in cases where there is no publisher-defined alternative text.

[2019-09-30 15:06] dritter commented on #24798
This would break our workaround for #23896 and #23891 ...

[2019-09-30 15:10] newmuis opened #24802 "Missing labels for stories system layer buttons"
System layer buttons (share, speaker, (i) icon, sidebar icon, spinner) are all missing labels, so they are verbalized as "button" when read out by screen readers.

[2019-09-30 15:15] newmuis opened #24805 "Toast is not read out through screen readers"
When toasts are shown (e.g. after copying a link in to the clipboard in a story), the text is not read out through screen readers.

[2019-09-30 15:17] diantekyrie opened #24806 "Images skip when swiping in amp-carousel"
## What's the issue?
When swiping from left to right, or right to left, the images will skip if user didn't complete a full swipe.

Briefly describe the bug.
Images are skipping when swiping in amp-carousel.

## How do we reproduce the issue?

1. Opt-in to Canary/RC
2. Go to [link1](https://m.aliexpress.com/item/4000020845688.html?pid=808_0000_0101&spm=a2g0n.search-amp.list.4000020845688&aff_trace

[2019-09-30 15:18] newmuis opened #24807 "Story speaker icon state is not read out through screen readers"
Upon muting/unmuting a story, one of three messages is shown to users next to where the speaker icon is displayed:

- Sound on
- Sound off
- This page has no sound

This message is not read out through screen readers, to confirm that action has been taken.

[2019-09-30 15:23] newmuis opened #24808 "Page attachment close tap target is below minimum recommended size"
Currently, the page attachment close button is 24x24.  This is quite likely too small; for example [the Material spec recommends 48x48](https://material.io/design/usability/accessibility.html#layout-typography).

We can gain another 16px (making a total of 40x40) just by converting the margin to padding; apart from that, we'll need to actually make the button bigger.

/cc @hongwei1990

[2019-09-30 16:35] #19326 closed

[2019-09-30 16:35] #24400 closed

[2019-09-30 17:41] #24419 closed

[2019-09-30 17:41] #24654 closed

[2019-09-30 17:45] sparhami commented on #24806
This is fixed by #24771 (on both iOS and Chrome), which should either be in the next canary or cherry-picked soon.

[2019-09-30 17:45] #24806 closed

[2019-09-30 18:41] sparhami commented on #24733
Looking at Webkit's Element definition, it looks like `scrollLeft` is currently not a floating point value: https://trac.webkit.org/browser/webkit/trunk/Source/WebCore/dom/Element.idl?rev=244582#L82. The code references the following tracking bug: https://bugs.webkit.org/show_bug.cgi?id=188045.

However, the `scrollTo` and `scrollBy` methods seem to take a double: https://trac.webkit.org/browser/w

[2019-09-30 18:47] leafsy opened #24814 "I2I: amp-mega-menu"
## Summary
The `amp-mega-menu` extension provides a menu component suitable for desktop/tablet use that appears as a top navigation bar (presumably inside the header element); it contains menu items that, when clicked, opens a dropdown container that holds additional menu content.

## Design document
https://docs.google.com/document/d/1z2Bq8fia7vAUWn8Enpbj0beX-DqUC-mzTRnuX3rjLjk/edit?usp=sharing

[2019-09-30 19:03] choumx opened #24817 "gulp dist doesn't prepend experiments by default"
`gulp dist` doesn't call the `prepend-globals` task by default, which means all prod experiments are disabled on local compiled builds. This was surprising to me.

Currently workaround is to run `gulp prepend-global --target=dist/v0.js --prod` manually after dist.

/to @ampproject/wg-infra

[2019-09-30 19:05] choumx commented on #24798
We won't remove this functionality so it won't break anything in the wild. Having a complete sitemap also helps the crawler issue.

[2019-09-30 19:56] gmajoulet opened #24821 "Respect prefers-reduced-motion for story animations."
We should consider respecting the user `prefers-reduced-motion` setting for amp-story documents, and disable all enter animations like fly-in, rotate-in, ... to show the page directly in its final state.

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

[2019-09-30 20:10] #24715 closed

[2019-09-30 20:27] choumx commented on #24533
Sounds reasonable though latency could be annoying and it may only work on publisher origin (non-cache) AMP pages. It sounds like that's your intended use case though, right?

Let's also de-dupe to have a single conversation thread.

[2019-09-30 21:37] #24762 closed

[2019-09-30 21:57] leafsy opened #24827 "Make <amp-sidebar> mask element compatible with Story"
Currently, `amp-sidebar` appends its mask directly under body; this does not work for AMP Story since sidebar is a child of `<amp-story>` and the default mask would appear above sidebar.

Investigate a way to make the mask element work in this context. We should also ensure that sidebar swipe-to-dismiss works when swiping from the mask inside an AMP story.

/cc @newmuis @gmajoulet

[2019-09-30 22:15] calebcordry opened #24829 "Story Ads: allow custom placement of `amp-story-visible` attr."
When an ad becomes visible in an amp story `amp-story-auto-ads` currently sets an attribute (`amp-story-visible`) on the creative's body element.

This is helpful for animations as advertisers can write simple CSS selectors for this attribute that will start animations at the correct time e.g.( `[amp-story-visible] .animation-class { /* fire animation */ }`

Some ad network partners will transform

[2019-09-30 22:41] mattwomple opened #24832 "Apply query parameter value to class or data attribute on page load"
## Describe the new feature you'd like to see

It would be great if `QUERY_PARAM()` could be used to apply a value to `class` and/or `data-` attributes on page load.

Some of WompMobile's clients have AMP pages that differ based on the `?region=` parameter (or similar). It is possible to apply these differences immediately in a PWA, but bare AMP pages require less than optimal workarounds like pas

[2019-09-30 22:52] #24309 closed

[2019-09-30 23:06] sparhami commented on #24733
After some testing, I have not had any luck with using `scrollTo` or `scrollBy` on Safari with floating point values.

[2019-09-30 23:20] cathyxz commented on #24531
@2shrestha22 I think that's probably a better use case for `amp-lightbox` than for `amp-image-lightbox` or `amp-lightbox-gallery`. Would styling your image for `amp-lightbox` work in this case?

[2019-09-30 23:59] sparhami commented on #24750
Looking at the linked page, it seems like it no longer uses `amp-carousel` for the section outlined in the video.

I tried creating a jsbin (http://output.jsbin.com/mazajac) to reproduce the issue, but I don't seem to be able to reproduce on iOS 13.1.

Do you still have a page available where this issue occurs?

[2019-10-01 00:10] Gregable commented on #4555
The 2nd instance of CSS you provide is 300 bytes (!) to make a single text block green, bold, and overlined whereas the input is 70 bytes. I question if this what we desire to support with the "allow used CSS" rule?

For example, my understanding is that the "no !important" rule is there to prevent author CSS from clobbering AMP runtime CSS. I don't think AMP runtime CSS cares aboutthe `color` att

[2019-10-01 00:14] Gregable commented on #24588
I just saw this. I'd prefer to delay to another week if that's possible.

[2019-10-01 00:39] conwaydev commented on #24750
@sparhami I’m still seeing the behavior at https://amp.dev/documentation/examples/components/amp-carousel/

[2019-10-01 01:08] uskay opened #24834 "Update CORS documentation for fonts"
As we are fixing how AMP cache treats CORS for fonts, I suggest we should be updating the [CORS document](https://github.com/ampproject/amphtml/blob/master/spec/amp-cors-requests.md) for this so that the publishers will have a clear guidance around what they should care about.

**What is this change about?**
Google AMP Cache caches AMP HTML documents, images and fonts to optimize the speed of the

[2019-10-01 03:45] westonruter commented on #4555
I agree the size increase to hack around the restriction on `!important` is not ideal. If the restriction on `!important` could be limited to the specific properties that AMP needs to override, that would be better!

[2019-10-01 05:40] nainar commented on #24682
Verified that this is broken at least on amp.dev

[2019-10-01 05:43] nainar commented on #24699
Hi!

Thank you for reaching out - please read this: https://amp.dev/documentation/examples/components/amp-live-list/ to understand how to use `<amp-live-list>`.

[2019-10-01 05:43] #24699 closed

[2019-10-01 05:49] nainar commented on #24708
Dupe of https://github.com/ampproject/amphtml/issues/23449

[2019-10-01 05:49] #24708 closed

[2019-10-01 05:50] nainar commented on #24726
cc @Gregable

[2019-10-01 05:54] nainar commented on #24755
cc @zhouyx

[2019-10-01 05:59] nainar commented on #24794
Could you elaborate on the issue here?
What file are you attempting to select?

[2019-10-01 06:12] themeenanaresh commented on #24699
This link is good but guide is not available on AMP.

[2019-10-01 08:30] cheluskin commented on #24794
Absolutely any file on tag input. <input type="file">
There is no way to get its size in bytes. Even using <amp-script>

[2019-10-01 11:26] sebastianbenz commented on #24679
Thanks for raising this @iliran11! I'll reply to your question in the next.js issue.

[2019-10-01 11:26] #24679 closed

[2019-10-01 13:10] cramforce commented on #4555
I don't think much can be done about !important until we've moved
components to use shadow dom.

On Mon, Sep 30, 2019 at 8:45 PM Weston Ruter <notifications@github.com>
wrote:

[2019-10-01 14:11] rsimha commented on #24817
This is the intentional for `gulp dist`, since experiments are enabled by the release scripts while copying the minified code across different RTV flavors.

For local development, the preferred invocation is `gulp dist --fortesting`, which does enable all prod experiments in addition to setting `localDev` to `true`.

[2019-10-01 14:14] rsimha commented on #24784
Good idea, definitely possible.

[2019-10-01 14:26] choumx commented on #24817
My workflow was using a proxy to run prod pages against a local build. In that case, we don't want "test" or "localDev" modes enabled. Also IMO this is not very intuitive because it's inconsistent with its sister task `gulp build`.

A simple fix is to add an option that the release scripts can use e.g. `--noexperiments`. In any case, it's not urgent hence P3. :)

[2019-10-01 14:27] rsimha commented on #24817
Gotcha. Can do!

[2019-10-01 14:34] alabiaga commented on #19495
Cleanup PR: #24810

[2019-10-01 14:55] Binipro commented on #22409
@alanorozco ,
do you have any update?

Thank you

[2019-10-01 15:03] gmajoulet commented on #24827
Awesome! Please let us know if you need help testing anything, or removing the custom AMP Story mask.

[2019-10-01 16:58] newmuis commented on #24827
Just to verify: this will be done to sidebar 0.2 only?  Or both 0.1 and 0.2?

[2019-10-01 17:19] leafsy commented on #24827
@newmuis 0.2 only (updated issue title), since it involves DOM changes that could break user-defined CSS selectors.

[2019-10-01 17:23] dvoytenko commented on #4555
We could feasibly allow `!important` for a few whitelisted properties that are guaranteed to not override layout. I could see `background` and `color` to be among such whitelisted properties. But certainly not something like `top` or `all`.

[2019-10-01 17:24] dvoytenko commented on #4555
It is a whole thing entirely whether we could make such rules clear and predictable to make it part of public API.

[2019-10-01 18:23] erwinmombay commented on #24787
@nainar seems like a good candidate for the code jam? let me know what you think!

[2019-10-01 19:01] AutadeJS commented on #24417
Hi Enriqe

As per the latest update on analytics regarding AMP Stories, we had updated the google analytics code which you check on https://vacayholics.com/big-ben-facts,
but we are not receiving any data, not even the page view. What I found that in DevTool> Network > Header > Query String Parameters > tid :
it is blank there is no Google Analytics Tracking Id. This is the code what we implemente

[2019-10-01 19:12] mrjoro commented on #24588
We can do both of these at the next design review (October 16).

[2019-10-01 19:36] sparhami commented on #24750
That page is using `amp-carousel` 0.1, (we should update it to 0.2), but the issue above is about 0.2 specifically. The issue for 0.1 will be fixed when #24771 goes live.

[2019-10-01 19:38] sparhami commented on #20595
If you want to do vertical slides, you will want to use `amp-base-carousel`, but we still need to do a bit more work on it. I don't have a firm timeline, but we are currently working on putting out `amp-stream-gallery` (#24388) and will shortly follow up with `amp-inline-gallery`. Once those are both out, we will loop back and finish up and release `amp-base-carousel`.

[2019-10-01 20:34] lannka opened #24841 "AMP sticky ads are covered by the new Google News "Coverage bar"."
https://twitter.com/andreapernici/status/1177933152242806784?s=19

[2019-10-01 20:40] nainar commented on #24588
Works for me! Thank you!

[2019-10-01 20:42] nainar commented on #24787
I agree!

[2019-10-01 20:49] calebcordry commented on #24841
Working on repo, seems like an android specific issue as I only see the "coverage bar" on android not iOS.

[2019-10-01 20:51] lannka commented on #24841
@calebcordry it will be helpful if you can show a screenshot.

/cc @zhouyx who has the most knowledge about amp-sticky-ad

[2019-10-01 20:53] Gregable commented on #24726
[code]

Your site does not appear to respond with a signed exchange when provided with appropriate request headers.

The redirect notice doesn't appear to come from the AMP Cache, but I'd need more information on how to reproduce to debug further.

[2019-10-01 20:54] Gregable commented on #24726
@timesalert If you could provide more information, I'd also be happy to debug further.

[2019-10-01 21:08] calebcordry commented on #24841
![image](https://user-images.githubusercontent.com/16087874/66000627-af3e6b00-e454-11e9-8101-e66ee79061f7.png)
![image](https://user-images.githubusercontent.com/16087874/66000720-e7de4480-e454-11e9-9d4b-d74697af293a.png)

[2019-10-01 21:09] calebcordry commented on #24841
Found a couple examples 👆from different pubs where everything seems to be working as expected, and you can see the "Full Coverage" bar. Still working finding a broken case.

[2019-10-01 21:51] #24805 closed

[2019-10-01 22:49] charlessyms opened #24843 "Single Input for date ranges in amp-date-picker"
## Describe the new feature or change to an existing feature you'd like to see

It would be nice if we could use a single input for a date range so that we can output dates in booking forms, rather than having to use 2 boxes to show 2 different dates.

## Describe alternatives you've considered

I've tried using Bind and Mustache to replicate the above with no success.

[2019-10-01 23:14] rafaelgodinho-wunderman opened #24844 "Bug in amp-carousel"
**## What’s the issue?**
We found a bug in the amp-carousel. After a short investigation, I think it could be the same bug founded in the site itself https://amp.dev/.

**## How do we reproduce the issue?**
Using the same steps evidenced on amp site itself in the pages bellow:
http://hml.vivo4g.clientes.ananke.com.br/videos/erro-carousel-iphone.webm
http://hml.vivo4g.clientes.ananke.com.br/videos/

[2019-10-02 07:55] archon810 commented on #21177
Any updates here please?

[2019-10-02 08:04] archon810 opened #24848 "amp-addthis: transitive URL references are 404'ing due to overly long cache age of external document"
Example url: https://www.androidpolice.com/2019/10/01/youtube-new-share-ui/?amp, but none of our AMP urls, whether served directly or through Google Cache, load the AMP Addthis widgets.

However, the widgets work on my PC. And my Pixel 3. But on my OnePlus 7 Pro, in Chrome and Chrome beta, nothing, but in Chrome Dev and Canary, addthis shows up.

The reason seems to be 404s to some Addthis scripts

[2019-10-02 08:06] archon810 commented on #24848
Also submitted a report here https://www.addthis.com/support/.

[2019-10-02 08:42] iwoak commented on #18563
@aghassemi i'm sorry, but I still have the issue.
You can reproduce with the step described in first issue description.

Enable dev tools and device toolbar

- Choose IPhone 6/7/8 Plus item
- Visit this page https://www.repstatic.it/cless/main/rep21/2017-v1/poc/video-iframe-blocked.html
- Click on audio icon on the bottom left corner

And I still have amp-iframe blocked because amp runtime recogni

[2019-10-02 09:38] nainar opened #24849 "AMP Validator Console/Search Console passes a failing page"
Here is an invalid AMP page: https://tribune.com.pk/story/2068372/1-imrans-mediation-offer-slim-chance-success/?amp=1#development=1

The Chrome extension fails it correctly.

Console validator passes it. They use an old version of Wordpress and the AMP plugin.

Anyone know why this is happening?

[2019-10-02 09:46] gilbertococchi commented on #18563
@jeffjose

Hi Ivan, confirmed that the issue still happens, I guess that's because the amp-iframe sits within a div#detail-audio_container container with position:fixed and AMP currently allows iFrames for Sticky Ads only.

Can we check whether the limit is too strict here as it's not Advertising and the amp-iframe contains the placeholder attribute?

[2019-10-02 11:28] senyat commented on #20559
@choumx we tried pushing to branch and got rejected (with user niritdabby), please assist

[2019-10-02 13:13] scottisatwork opened #24851 "prebid user sync analytics iframe error"
**Please only file bugs/feature requests for AMP here.**

- If you have questions about how to use AMP or other general questions about AMP please ask them on Stack Overflow under the AMP HTML tag instead of filing an issue here: http://stackoverflow.com/questions/tagged/amp-html
- If you have questions/issues related to Google Search please ask them in Google's AMP forum instead of filing an issu

[2019-10-02 13:14] #24851 closed

[2019-10-02 14:42] honeybadgerdontcare commented on #24849
It appears the server sometimes requires a captcha to see the content. So it could be that an AMP cache, or whatever validation method being used, gets the actual valid document or gets the captcha page which is invalid AMP.
![Screenshot 2019-10-02 at 7 38 57 AM](https://user-images.githubusercontent.com/1340565/66053821-d72ade80-e4e7-11e9-9a9b-311e26fa07cb.png)

[2019-10-02 14:43] honeybadgerdontcare commented on #24849
Further, if a page was valid and then becomes invalid, we will still serve the previous valid page from the cache.

[2019-10-02 14:47] choumx commented on #20559
We don't allow pushing branches to amphtml. You have to fork it and create a pull request against your fork.

https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-10-02 16:25] #24807 closed

[2019-10-02 16:27] wassgha commented on #20034
Closed by #24823 and #24606

[2019-10-02 16:27] #20034 closed

[2019-10-02 16:52] mrjoro commented on #24588
We are cancelling this week's design review since there are no topics.

[2019-10-02 17:05] abhiz10 commented on #24417
Hey, @Enriqe
@AutadeJS had added the above concern, Can you once check the code where the implementation is according to the latest update?

[2019-10-02 17:37] calebcordry commented on #24841
Still having trouble reproducing. I sent an email to the original reporter to get more details.

[2019-10-02 17:37] leafsy commented on #24588
Sorry for the late notice; I'd like to discuss the design for a new `<amp-mega-menu>` component.

[2019-10-02 19:26] alanorozco opened #24862 "amp-script: Treat AMP.setState as "high trust" from user gesture"
With the following script handler:

[code]

[Error case here.](https://amp-script-state-list.glitch.me) `amp-bind` updates propagate into the list (with state added per script), but `amp-script` changing the state won't cause the list to re-render.

[2019-10-02 19:28] aurbanczik commented on #16026
Is there a possibility to randomise the image order in amp-carousel ?
Thank you !

[2019-10-02 19:31] choumx commented on #24862
This is because `AMP.setState` in worker JS is currently treated as a "low trust" action. However, we probably can hook into amp-script's gesture detection mechanism to support this.

[2019-10-02 19:36] sparhami commented on #24844
Duplicate of #24541

[2019-10-02 19:36] #24844 closed

[2019-10-02 20:09] choumx commented on #24862
Addendum: If the `AMP.setState` is not from a user gesture, allow mutation of `amp-script`'s subtree if it allows arbitrary mutation (fixed-layout and < 300px height).

[2019-10-02 20:33] zhouyx commented on #24755
Track the issue in the amp.dev repo instead
https://github.com/ampproject/amp.dev/issues/3063

[2019-10-02 20:33] #24755 closed

[2019-10-02 21:19] cathyxz commented on #24588
Steven introduces design doc and demo (both linked above:
@alanorozco : Can it nest up to a third level or more or is it just two levels?
Whether you can open a second menu from the first menu? Are we considering such a use case?

@cramforce : Is there any reason why you couldn’t just compose a toggle section component into the mega menu? E.g. you can put an accordion in your mega-menu item.

@ala

[2019-10-02 21:56] mattwomple commented on #24534
Bump. I haven't seen further push-back on either PR #24626 or this issue report. Please let me know if anything more is needed from me.

[2019-10-02 21:59] rsimha opened #24869 "Upgrade `@percy/puppeteer` to v1.x"
The version currently in use ([0.4.0](https://github.com/percy/percy-puppeteer/releases/tag/v0.4.0)) is more than a year old, and has a few dependencies with security vulnerabilities.

https://github.com/ampproject/amphtml/blob/6f0465b998d62c302d0126b547e987539f2e75d9/build-system/tasks/visual-diff/package.json#L6-L9

![image](https://user-images.githubusercontent.com/26553114/66085048-23a10900-e5

[2019-10-02 22:30] honeybadgerdontcare opened #24872 "amp-owners-bot not running again after approval?"
@rcebulko

In PR #24864, only one file is being changed. A validator `.protoascii` file. @Gregable approved this change yet the owners bot is showing a [failure](https://github.com/ampproject/amphtml/pull/24864/checks?check_run_id=245393653). Does this file need an additional approver despite a member of @ampproject/wg-caching approving it or is the bot not checking again after an approval? I do n

[2019-10-02 22:31] jyn15 opened #24873 "AMP ad is not visible until switching tabs back and forth"
## What's the issue?

inabox AMP content is invisible initially and becomes visible after I switch tabs back and forth several times.

## How do we reproduce the issue?

I am not able to provide a reduced test case. I uploaded an AMPHTML ad in [Goolge Ads](https://ads.google.com) under a Display Campaign, and tried to preview the ad. The ad is rendered with AMP inabox.

Sometimes (not every time)

[2019-10-02 22:34] jyn15 commented on #24873
@calebcordry @lannka

[2019-10-03 00:22] dvoytenko commented on #24590
I'd like to present the use case of [Display Locking API](https://github.com/WICG/display-locking) in AMP.

/cc @chrishtr

[2019-10-03 01:31] themeenanaresh opened #24874 "Can i use WP custom post for AMP Live List (Live blog )"
i am created live blog on my wp site. i am insert live entry by wp custom post . but this not show on google live red icon lable. liveblogposting schema is good working. only not implement amp live list rules.

please can you help me ..... amp-live-list makeing

<?php

/**
 * liveblog_article_meta_view
 * @param type $post
 */
function liveblog_article_meta_view($post) {
    $post_id = $post->ID;

[2019-10-03 05:46] archon810 commented on #21559
Any updates here?

[2019-10-03 05:47] archon810 commented on #22608
Any updates here?

[2019-10-03 06:27] nainar commented on #24874
Please use slack for questions regarding use AMP components: https://bit.ly/amp-slack-signup

Documentation on how to use amp-live-list: https://amp.dev/documentation/components/amp-live-list/

[2019-10-03 06:30] nainar commented on #24848
cc @ampproject/wg-ui-and-a11y

[2019-10-03 06:33] nainar commented on #24843
https://amp.dev/documentation/examples/components/amp-date-picker/?format=websites#date-range-picker has an example on how to do this.

Please also use Slack (sign up here: https://bit.ly/amp-slack-signup) for questions regarding using AMP.

[2019-10-03 06:33] #24843 closed

[2019-10-03 06:33] mattwomple opened #24876 "I2I: amp-form: Initialize form from URL"
## Summary
Introduce `amp-form` attribute `initialize-from-url` to populate form inputs
on page load from URL query parameter values.

Feature request (#24533) and work-in-progress pull request (#24671) already exist, but it was suggested this is significant enough of a change to warrant an I2I.

## Design document
(none)

## Motivation
When a user navigates to a search results URL like `/search?q

[2019-10-03 07:24] charlessyms commented on #24843
I've read that list 50 times over. There is not a way to display both dates from a date range in the same box. Maybe I didn't word my feature request clearly enough.

[2019-10-03 09:43] Gradk opened #24878 "Error AMP"
Hello, there was a plugin on my site earlier. Website virilismed.ru

Now we have traffic from a page which does not exist:

http://virilismed-ru.cdn.ampproject.org/c/s/virilismed.ru/services-ozdorovitelnoprofilakticheskiy_kompleks-grudnichkovoe_plavanie/amp/

This traffic is not live, it's some kind of bots, how to remove it? It spoils company statistics

[2019-10-03 10:12] tla-sirdata opened #24879 "I2I: Sirdata CMP integration with <amp-consent>"
## Summary
Sirdata CMP is a solution based on the IAB Europe Transparency & Consent Framework.

The purpose is to provide an AMP support with the `<amp-consent>` component by registering in "Supported Consent Management Platforms".

## Motivation
We work with our publishers to help them in meeting requirements of GDPR related to the choice of the users with regards to the processing of their perso

[2019-10-03 10:21] thinkdifferent opened #24880 "Support fallback on amp-sticky-ad component"
I'm trying to use fallback on amp-sticky-ad in the case of no fill
This is my code:

[code]

The problem is that the amp-sticky-ad component collapses in case of no fill, and never shows my fallback img.

[2019-10-03 10:28] tla-sirdata commented on #17742
Hi @zhouyx

We have a CMP and would like to integrate AMP. Here is the related I2I issue : https://github.com/ampproject/amphtml/issues/24879

We started the development and everything works well so far but after having been through all the discussions and documentation, I still have some questions.

- As the consent prompt is not shown again when there is an existant consent state, how long the c

[2019-10-03 11:18] CW-prabhupuredla commented on #24726
@Gregable It is happening in only few specific devices. I have seen the redirect notice in `Pixel 2 XL`. We have reverted amp signed exchange since we don't how many users are being shown the redirect notice.

[2019-10-03 12:23] Sitanderkumar opened #24881 "AMP4Email: Support autocomplete"
I am trying to create a search widget in AMP email, below is the code.
but i am getting in promise error in the console when clicking on the submit button.

@and is there any way to use autosuggest for from and to the field.

[code]
@nainar @cvializ

[2019-10-03 12:46] cramforce commented on #24876
Does applying the URL values trigger change events on the inputs that can be reacted to via amp-bind/amp-script?

[2019-10-03 14:49] rsimha commented on #21275
Reverted in #24882

[2019-10-03 15:19] #24872 closed

[2019-10-03 15:44] mattwomple commented on #24876
@cramforce Yes. See PR #24671 . If any form input is updated the following event is fired:
[code]
One of the TODO items on that PR is "Verify it is sufficient to fire one amp form update event at the end of form initialization instead of one per input updated".

I'm still not sure that this change is significant enough to warrant a full design document, but I'm at least familiarizing myself with t

[2019-10-03 16:07] choumx commented on #24832
Other alternatives (some discussed on Slack):
1. Add state-level geolocation to `amp-geo`.
2. Publish a separate AMP page for each variant.
3. Add rendering with local data to `amp-list`, and somehow merge `QUERY_PARAM(...)` into that local data.

/cc @ampproject/wg-ui-and-a11y

[2019-10-03 16:33] cramforce commented on #24876
I'm worried that this leads to jumping on page load.
CC @choumx @dvoytenko

[2019-10-03 16:58] mcmd commented on #7607
Hi, just ran into this today. Any updates on prioritization? Thanks!

[2019-10-03 16:59] mpaw commented on #21658
Where does this currently stand? Last update was in May

[2019-10-03 17:19] choumx commented on #24876
Yea, changing input values is ok as long as they don't affect size or position. But anything that can cause content jumping must not be allowed.

This is also probably the wrong usage of `FORM_VALUE_CHANGE`, which is currently used to indicate form "dirtiness" AKA modified by user. A dynamic default value is not dirty.

Re: the `amp-list` alternative, we can avoid the network call if we support re

[2019-10-03 17:24] choumx commented on #24876
Just saw your PR. A targeted, form-specific feature seems simpler and reasonable too.

[2019-10-03 17:26] mattwomple commented on #24876
Thanks for your input @choumx .

Interesting, I intentionally used `FORM_VALUE_CHANGE` because I do consider the form dirty once inputs are modified from their default values if no ?params are passed.

I appreciate the idea in your `<amp-list>` workaround, but it's probably still not optimal. You cannot include a `placeholder` with inputs of the same `name`, so you will certainly see missing conte

[2019-10-03 18:06] #24504 closed

[2019-10-03 18:14] jasti commented on #19066
@jeffjose, could you please follow up with the AdSense team?

[2019-10-03 19:34] #24808 closed

[2019-10-03 20:58] calebcordry commented on #24841
Received more details. This is a problem that happens from `-1` screen Discover on android, when user clicks an article from their feed.
![image](https://user-images.githubusercontent.com/16087874/66163707-cc567380-e5e5-11e9-993d-2920b965ceb7.png)

[2019-10-03 21:34] jpettitt commented on #24651
Preliminary Design Doc
[AMP-Subscriptions-Google RTC.pdf](https://github.com/ampproject/amphtml/files/3688164/AMP-Subscriptions-Google.RTC.pdf)

[2019-10-03 21:37] jpettitt commented on #24650
Addressed in #24651

[2019-10-03 21:37] #24650 closed

[2019-10-03 21:42] caroqliu commented on #21120
Unassigning myself for now in case anyone wants to pick up as a GFI

[2019-10-03 21:45] caroqliu commented on #19095
Unassigning myself for now in case someone wants to work on this as a GFI

[2019-10-03 22:07] #24802 closed

[2019-10-03 22:08] choumx opened #24894 "Intent-to-Deprecate: Recursive form submissions"
### Problem

[code]

See #24702 for details.

### Proposal

Add a third `ActionTrust` tier and have trust degrade by one level across form submit.

- High-intent user gestures are still "high trust".
- Existing actions that require "high trust" now require "default trust".

For example, a form submission that's triggered by a ("high trust") button press will emit a "default trust" event.

This "de

[2019-10-03 22:09] gmajoulet commented on #24748
The implementation can look like what we have for the `script` tag within `amp-story-consent`: https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/validator-amp-story.protoascii#L396-L418

[2019-10-03 23:17] leafsy opened #24897 "Request to add @leafsy as reviewer"
Request to be added to the reviewers group (and get those sweet merge permissions).

[Reviewer requirements ](https://github.com/ampproject/amphtml/blob/master/contributing/contributing-code.md#reviewers) & [Relevant PR's](https://github.com/ampproject/amphtml/pulls?q=is%3Apr+author%3Aleafsy)

/cc @cathyxz

[2019-10-03 23:33] cathyxz commented on #24897
Hi @mrjoro! Since @leafsy does meet the reviewer requirements referenced above, do you think you could add him to the reviewers github group? https://github.com/orgs/ampproject/teams/reviewers-amphtml/members.

[2019-10-03 23:35] micajuine-ho commented on #23356
Update: The issue was actually a race condition caused by our `ima-player-data` implementation, where `analyticsEvent()` would continuously get called by our `percentage_played` tracker.

Going to merge the fix as soon as I check all of the other video players and confirm that the analytics are working as intended.

[2019-10-03 23:40] philkrie commented on #7607
+1, at the very least the documentation should be updated ASAP to specify that 1. not all form attributes are supported, and 2. enctype specifically is not configurable. This will save a lot of headache

[2019-10-04 00:30] archon810 commented on #20951
We're looking to do this as well, plus give the user a choice of auto / dark / normal, and save the preference in a cookie or localstorage.

What needs to happen to make these work?

[2019-10-04 00:32] westonruter commented on #20951
I think there also needs to be support for a user to set some persistent preference to indicate whether they want dark mode or light mode. This preference could then be applied in the page, for example, by [`amp-dynamic-css-classes`](https://amp.dev/documentation/components/amp-dynamic-css-classes/). But maybe this can be done at the framework level.

cc @tomayac

[2019-10-04 00:33] leafsy opened #24898 "Clean up amp-mega-menu experiment"
related to #24814

[2019-10-04 00:36] cathyxz commented on #24008
Related: https://github.com/ampproject/amphtml/issues/23222.

[2019-10-04 00:37] westonruter commented on #20951
It would be great if the dark mode preference could persist with the user as they navigate between arbitrary AMP pages across multiple origins, though this has some privacy implications.

[2019-10-04 00:44] #24728 closed

[2019-10-04 02:05] wassgha opened #24901 "Consider tracking feature requests popularity"
Services like [Canny.io](https://canny.io) have a great advantage of ranking feature requests by popularity (up/down votes) which helps a lot with prioritization. We should consider them as an alternative to GitHub reactions.

Example project: https://expo.canny.io/feature-requests

[2019-10-04 04:04] nainar commented on #24881
Hi, for autocomplete we suggest using amp-autocomplete: https://amp.dev/documentation/examples/components/amp-autocomplete/

[2019-10-04 04:19] nainar commented on #24876
cc @ampproject/wg-ui-and-a11y and @caroqliu

[2019-10-04 04:20] #24874 closed

[2019-10-04 06:09] tomayac commented on #20951
The requirements you mentioned are all covered by my [`<dark-mode-toggle>`](https://github.com/googlechromelabs/dark-mode-toggle). In an AMP context you would use it with a class that you can toggle on and off, which is called [method ②](https://github.com/GoogleChromeLabs/dark-mode-toggle/blob/master/README.md#-using-a-css-class-that-you-toggle) in the documentation. I’m not sure what it would ta

[2019-10-04 06:20] cw-ashutoshsharma commented on #24726
@Gregable I am working with @CW-prabhupuredla on this.
We have reverted amp signed exchange for our amp pages cause of the steep decline in crawled pages from google (We checked the crawl stats on google search console, there were no crawl errors reported.).  The number of crawled pages went down to 120k from 500k per day. It came back to normal after reverting.

We were using amppackager to serve

[2019-10-04 06:37] cw-ashutoshsharma commented on #24726
Thanks @Gregable
I am working with @CW-prabhupuredla on this.
We have reverted amp signed exchange for our amp pages cause of the steep decline in crawled pages from google (We checked the crawl stats on google search console, there were no crawl errors reported.). The number of crawled pages went down to 120k from 500k per day. It came back to normal after reverting.

We were using amppackager to

[2019-10-04 06:37] nainar commented on #24582
Just putting in the requirements here:

Requirements

- AMP for Websites
  - The ability to only replace part of the input field based on some kind of pattern matching, maybe a regex, as opposed to replacing the whole input field.
- AMP for Ads
  - None currently
- AMP for Email
  - The ability to only replace part of the input field based on some kind of pattern matching, maybe a regex, as oppose

[2019-10-04 10:47] Sitanderkumar commented on #24881
Thanks Nainar,

but this auto-suggest not acceptable by amp4emai.

[2019-10-04 10:48] Rajashree-sys commented on #24708
I checked #23449. I feel it is not the same issue. We have difference like, in this scenario accordian is not getting loaded because of the iframe sitting above that accordian section. But when we click on the accordian content is getting loaded.
I have attached files to replicate my scenario.
Also attaching the screen shot to differentiate(accordian not loading, and accordian loading on click)

<

[2019-10-04 10:54] Sitanderkumar commented on #24881
a part for  it, as i already mentioned above that form that i am trying  to create in email is giving me error when click on submit button. (find code above)

![image](https://user-images.githubusercontent.com/36926473/66202344-1d886500-e6c3-11e9-9f75-46cc559782eb.png)

[2019-10-04 14:53] #24704 closed

[2019-10-04 14:54] #24724 closed

[2019-10-04 14:59] choumx commented on #24725
Hm, do we suggest self-hosting AMP JS anywhere e.g. in documentation? This may be uncharted territory.

This can technically be done by prepending a custom `self.AMP_CONFIG = {...}` into the self-hosted binaries. This is what other AMP Caches do to change `cdn.ampproject.org` references in runtime code, for example. See https://github.com/ampproject/amphtml/blob/master/src/config.js.

[2019-10-04 15:00] choumx commented on #24653
/cc @ampproject/wg-ads

[2019-10-04 15:01] choumx commented on #24729
@efiroz Is this something your team can contribute to amphtml? :)

https://github.com/ampproject/amphtml/blob/master/CONTRIBUTING.md

[2019-10-04 15:03] choumx commented on #24594
@Joelsz Do you have a sharable URL that reproduces this bug?

[2019-10-04 15:05] choumx commented on #24878
We don't have control over crawlers. Have you considered blocking traffic by referrer?

[2019-10-04 15:05] #24878 closed

[2019-10-04 15:10] mattwomple commented on #24725
The amp-toolbox `optimizer` explains the basics of self-hosting here: https://github.com/ampproject/amp-toolbox/tree/master/packages/optimizer#self-hosted-amp-components

Setting `ampUrlPrefix` works well for AMP pages. It's only when the AMP page is viewed in a PWA that the URLs in the AMP document to AMP components are not respected. I consider this a bug.

[2019-10-04 15:24] choumx commented on #24725
Thanks. Sounds like the optimizer should be prepending `AMP_CONFIG` when `ampUrlPrefix` is provided. I'll transfer this bug to the amp-toolbox repository.

/cc @sebastianbenz

[2019-10-04 15:25] choumx commented on #24725
Or @sebastianbenz can do it because I don't have access. :)

[2019-10-04 15:29] choumx commented on #24794
We need more information on your use case. What are you trying to do with the file metadata?

[2019-10-04 15:37] choumx commented on #24789
Have you followed the steps here? https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/discovery/

I don't see a `link[rel=amphtml]` on your non-AMP page, for example.

[2019-10-04 15:40] choumx commented on #24757
Should be a quick PR. :)

[2019-10-04 15:48] yajiv185 commented on #24789
It is present:-
Desktop:- view-source:https://www.bikewale.com/royalenfield-bikes/classic-350/
Mobile:- view-source:https://www.bikewale.com/m/royalenfield-bikes/classic-350/

That's why AMP page is shown in google search result(and also opening correctly), but when go through image search AMP page is not opening.

[2019-10-04 15:54] choumx commented on #22995
The progressive blocking that Jake proposes in the article is not relevant to AMP because there is no blocking to begin with (no external CSS). :)

[2019-10-04 15:54] #22995 closed

[2019-10-04 15:55] choumx commented on #22959
Which version of Chrome was that? This issue may be obsolete now that it's been awhile.

[2019-10-04 16:43] mrjoro commented on #24897
Done!  Congrats on becoming a Reviewer @leafsy!

[2019-10-04 16:43] #24897 closed

[2019-10-04 17:03] micajuine-ho opened #24903 "Amp-mowplayer using wrong version of mowplayer"
The `amp-mowplayer` does not load the media due to using the wrong version of the mowplayer.
The problem can be viewed in test/manual/amp-video.amp.html under the `amp-mowplayer` dropdown  in the console.

[2019-10-04 17:14] #24534 closed

[2019-10-04 17:16] micajuine-ho opened #24904 "Amp-analytics report when not firing event"
In examples/analytics-reportWhen.amp.html does not fire/show the analytics event in the console as expected.

[2019-10-04 17:25] micajuine-ho opened #24905 "Display a description in analytics-notification example"
In examples/analytics-notifications.amp.html, let's add a description to let the reader know what is happening behind the scenes and what to expect in the developer console.

[2019-10-04 17:29] mrjoro commented on #24901
This is an interesting idea.  Are you thinking we'd use this globally across AMP or maybe each project can use it?

It looks like they don't currently support GitHub integration, which might make it harder to integrate it into our current processes for prioritization--though they are looking into it:  https://feedback.canny.io/integrations/p/github

[2019-10-04 17:32] alanorozco opened #24906 "🌸 Cherry-pick request for #24846 into #24694 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24778 | #24846 | **YES** | **YES** | #24694 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick-criteri

[2019-10-04 17:32] wassgha commented on #24901
I was thinking globally but I agree, GitHub integration would be great.

On Fri, Oct 4, 2019 at 10:29 AM Joey Rozier <notifications@github.com>
wrote:

--
--
Wassim Gharbi,
Portfolio <http://gharbi.me/> - LinkedIn
<https://linkedin.com/in/wassimgharbi/> - Youtube
<https://www.youtube.com/user/wassgha/videos>

Software Engineer @ Google, Inc.

[2019-10-04 17:38] westonruter commented on #24862
But setting state inherently can affect elements _outside_ the `amp-script` subtree, no? Consider the case of adding a dark mode toggle in #20951. At page load should `amp-script` be able to access `localStorage` to obtain the user preference and then call `AMP.setState({"mode":"dark"})` which then can then mutate some element outside the `amp-script` subtree, like mutating a class on the `body`:

[2019-10-04 17:38] westonruter commented on #20951
The only way to do this in AMP currently as I can tell is use `amp-script` to get/set the user preference for dark/light mode in `localStorage`. Since `amp-script` only allows mutations to children elements, it would not be able to change a class name on the `body`. In order to do this, `amp-script` would need to call `AMP.setState()` to modify the page state as a whole to set some flag which is t

[2019-10-04 17:45] cramforce commented on #24906
Is this a cherry-pick into the current prod or into the currently blocked new prod release?

[2019-10-04 17:47] jidanni commented on #22959
So that's the version, the one of Jun 21.

I don't have my phone handy to test the current version.

[2019-10-04 17:49] amanjaggaPracto opened #24907 ""selected" and "option" attributes are stripped on amp-selector childs"
## What's the issue?

AMP_Allowed_Tags_Generated does not allow the "selected" and "option" attribute in divs.
In AMP examples the "selected" attribute is used inside <div> elements and using it is mandatory for it to work.

## How do we reproduce the issue?
1. Code - https://ampbyexample.com/advanced/tab_panels_with_amp-selector/
2. Demo - https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp

[2019-10-04 17:57] alanorozco commented on #24906
@cramforce Both. Duplicate issue or include here?

[2019-10-04 18:01] cramforce commented on #24906
1 issue, clearly documented.

I think this is a fine cherry-pick. I'd like a second opinion.

[2019-10-04 18:01] jackbsteinberg commented on #24748
It's not exactly clear on the documentation, but <amp-experiment> is only allowed in stories as a child of the <amp-story-grid-layer> element. #24909 fixes <amp-experiment> under <amp-story-grid-layer> elements, but <amp-experiment> as a direct child of <amp-story> is disallowed.

[2019-10-04 18:54] archon810 commented on #24848
The problem is still there for me.

[2019-10-04 19:14] darobin opened #24910 "Support for CCPA opt-outs"
## Describe the new feature or change to an existing feature you'd like to see

On January 1st, 2020 the CCPA comes into effect. One of the provisions of the law is that residents of California must be granted the ability to opt out of their data being sold. It is not immediately clear how to implement such functionality in AMP. Having looked at various approaches, at least the following items are

[2019-10-04 20:02] AutadeJS commented on #24417
Hi @Enriqe
As per the latest update on analytics regarding AMP Stories,
we had updated the google analytics code which you check on https://vacayholics.com/big-ben-facts,
we have also created the Dashboard as per the guidelines are given on https://blog.amp.dev/2019/08/28/analytics-for-your-amp-stories/
but we are not getting any data except PageView Data as we have added this code {"storyPageVisi

[2019-10-04 20:44] zhouyx opened #24914 "Analytics requests break in AGSA"
pageView request is not sent out in google search app

[2019-10-04 20:46] zhouyx opened #24915 "🌸 Cherry-pick request for #24914 into 1909241711100 (Pending)"
# Cherry-pick request

| Issue | PR  | Production? | RC? | [Release issue](https://github.com/ampproject/amphtml/labels/Type%3A%20Release) |
| :---: | :-: | :---------: | :-: | :-----------: |
| #24914  | #24913 | **No** | **Yes** | #1909241711100 |

## Why does this issue meet the [cherry-pick criteria](https://github.com/ampproject/amphtml/blob/master/contributing/release-schedule.md#cherry-pick

[2019-10-04 20:50] gmajoulet commented on #24915
More context: this week's prod release has been rollbacked, and we will rollforward with this fix + cherry-pick canary

[2019-10-04 20:57] cramforce commented on #24915
Approved

[2019-10-04 20:58] cramforce commented on #24915
I'd like to understand in the postmortem why these errors didn't get reported to our error reporting service.

[2019-10-04 20:59] dvoytenko commented on #24915
Ditto. @zhouyx could you pls check the error reporting in this environment?

[2019-10-04 21:00] zhouyx commented on #24915
Good point! Will do

[2019-10-04 21:19] AndrewKGuan commented on #18073
Hi,
can this also be used inside an amp-analytics json tag such as this:
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/deep_dive_analytics/?format=websites

[2019-10-04 21:28] choumx commented on #22959
Per [version history](https://omahaproxy.appspot.com/), it was earlier than `android,canary,77.0.3843.2,2019-07-04 21:39:04.266007`.

Current stable is `77.0.3865.92` and we haven't heard other reports of this, so I think it might've been a red herring or a canary-only feature.

[2019-10-04 21:28] #22959 closed

[2019-10-04 21:30] choumx commented on #24862
Yea, the idea is to only mutate the DOM of the `amp-script` element. `amp-list` does something similar on render -- only evaluates bindings in children.

[2019-10-04 21:31] #24914 closed

[2019-10-04 21:32] zhouyx commented on #24915
to @gmajoulet for cherrypick

[2019-10-04 21:44] #23926 closed

[2019-10-04 21:45] #24446 closed

[2019-10-04 21:45] dvoytenko commented on #24446
Closed via #24860.

[2019-10-04 22:01] choumx commented on #24731
Seems reasonable. You'd only need ~16 cached AMP JS files to exceed quota if each opaque response is 7MB. The one issue I can see is that [dev channel](https://cdn.ampproject.org/experiments.html) won't work since cookies won't be sent in anonymous mode.

@ampproject/wg-caching thoughts?

[2019-10-04 22:11] gmajoulet commented on #24906
What's the update on this cherry-pick? I'm starting the process for https://github.com/ampproject/amphtml/issues/24915

[2019-10-04 22:15] westonruter commented on #20951
OK, this approach using `amp-script` will not work. Using `amp-script` to update state would only update bindings _inside_ the subtree,  so this could not be used to update the class on the `body`. See https://github.com/ampproject/amphtml/issues/24862#issuecomment-538566499.

[2019-10-04 22:15] mattwomple commented on #24725
Thank you for the tip @choumx . Could you point me to an AMP page that has `AMP_CONFIG` defined in its HTML? I may be able to work on this bugfix in `amp-toolbox` if I know where `AMP_CONFIG` is expected to live.

[2019-10-04 22:16] dvoytenko commented on #24906
Should be all ready

On Fri, Oct 4, 2019, 3:11 PM Gabriel Majoulet <notifications@github.com>
wrote:

[2019-10-04 22:22] dvoytenko commented on #24906
Sorry, was responding to the wrong bug. No idea the status of this one.

[2019-10-04 22:23] dvoytenko commented on #23379
Launched at 5%.

[2019-10-04 22:24] dvoytenko commented on #22220
Fixed with #23379.

[2019-10-04 22:24] #22220 closed

[2019-10-04 22:56] twifkak commented on #24731
I don't know why it doesn't occur for amp.dev; perhaps it's due to a difference in amp.dev's SW? FWIW: `assetCachingOptions: [{regexp: /\.(png|jpg|woff2|woff|css|js)/, cachingStrategy: 'CACHE_FIRST'}]`

I can't think of a reason to disallow this in AMP pages on origin. Before allowing it, we could update the cache transforms to remove the attribute when serving (unsigned) on cache -- would that mi

[2019-10-05 01:31] zhouyx commented on #18073
@AndrewKGuan, `AMP_STATE` or `${ampState}` should work as any variable.

[2019-10-05 01:36] zhouyx commented on #24915
Still investigating why the error reporting doesn't work.

A few findings:
1. I couldn't find any error related to `getFirstVisibleTime()` in the report.
2. I did find some (not a lot) `initMessagingChannel` error in the report.

I still can't explain why the error from agsa viewer script is not reported. @erwinmombay @jridgewell could you help with this.

For the "initMessagingChannel timeout" er

[2019-10-05 05:07] westonruter commented on #12747
@rsimha I think I'm seeing the same thing here. I've got the latest from `master` pulled down. I'm running the generic `gulp --https` on my machine, and I've got the Local AMP Proxy extension running with `https://localhost:8000` applied. When attempting to access my AMP-first site at https://weston.ruter.net/ I am seeing in the console:

![image](https://user-images.githubusercontent.com/134745/6

[2019-10-05 05:44] cheluskin commented on #24794
I need to know the exact file size and upload it via xhr to a remote server. It is not possible to do this by submitting a form, because I need to have authorization headers in the request

[2019-10-05 06:27] westonruter commented on #22714
@dvoytenko Finally opened a PR: #24917.

[2019-10-05 09:33] mattwomple commented on #24725
I haven't solved this puzzle yet. It looks to me like `AMP_CONFIG` is set by `shadow-v0.js` first thing, overwriting anything that already exists in `window.AMP_CONFIG`. Modifications to `AMP_CONFIG.cdnUrl` and `AMP_CONFIG.cdnProxyRegex` before or after `shadow-v0.js` runs are ignored. I'm not making the connection to `amp-toolbox`'s responsibility in all this either.

The example AMP & PWA in my

[2019-10-06 01:48] wassgha commented on #21118
Closing for now. If this resurfaces again please reopen.

[2019-10-06 01:48] #21118 closed

[2019-10-06 06:09] mattwomple commented on #24740
@sparhami I figured out how to reproduce this issue. It only appears after page navigation in a PWA, not on first page load. I created a minimal example that only uses `<amp-img>` and no other AMP components.

 - [img-loader-test-pwa.html](https://android.cmphys.com/temp/img-loader-test-pwa.html) - PWA, loads `-amp1.html` below on page load, intercepts anchor clicks
 - [img-loader-test-amp1.html](

[2019-10-06 13:09] charlessyms opened #24921 "iPhone not displaying amp-img images"
**Please only file reports about bugs in AMP here.**

## What's the issue?

I'm building an AMP website and during testing on both Android and iPhone devices I realised that amp-img images aren't displaying on iOS devices on Safari, Chrome and Firefox, however it is working on UC Browser... I keep getting the console error "Failed to load: image - v0.js:127". I have tried `<amp-img fallback>` to t

[2019-10-06 16:53] mattwomple opened #24923 "PWA: Close network connections when safe & possible on page transition"
## Describe the change to an existing feature you'd like to see

In a PWA, when you tell the AMP runtime to [close an AMP document](https://amp.dev/documentation/guides-and-tutorials/integrate/amp-in-pwa/#clean-up-after-yourself), usually in preparation for opening another, it would be a good idea to close certain network requests that haven't completed. For example, an `<img>` under an `<amp-img>

[2019-10-06 16:57] mattwomple commented on #24921
It looks like there are many `<amp-img>` tags with `src` set to images with extension `.webp`. WEBP images are not supported by Safari or iOS Firefox (which must use webkit on iOS).

[2019-10-06 18:29] charlessyms commented on #24921
Sorry but that is not the issue. If you had read through, I have used fallback with png images, I've also removed the fallback and used only png images... the result is always the same: error v0.js:127. Regardless of the image type, if I'm on an iOS device using any browser other than UC Browser, the images will not show.

[2019-10-06 19:01] mattwomple commented on #24921
Sorry, when I didn't see webp mentioned anywhere in your title or post, I jumped to conclusion. Still, when I fetch `https://redfoxluxurycarhire.com/test/assets/img/upload/car_images/1569501218.png` and analyze the image, it does not appear to be a PNG:

[code]

Compare to an actual PNG:

[code]

Similarly, when I load the PNG into GIMP, here are the image properties that are returned:

![image](h

[2019-10-06 19:34] charlessyms commented on #24921
That's really strange. I'll check those images and reupload the png to make sure that isn't the issue, then get back to you. Regardless, why would Chrome on Android be able to see those images as png and not Chrome on iOS?

[2019-10-06 19:51] charlessyms commented on #24921
You've nailed it. I've just re-uploaded that same image .png and it is now showing. I must have somewhere along the line mis-converted those png files. You're a life saver!

[2019-10-06 19:51] #24921 closed

[2019-10-06 19:52] mattwomple commented on #24921
It's not that Chrome on Android sees those as PNGs, it's that file extensions (if any) are ignored. The browser detects the image encoding independent any extension to determine if it can be decoded. Chrome on Android uses the blink rendering engine (has webp support). Chrome on iOS uses webkit (does not have webp support). See here: https://stackoverflow.com/questions/11259152/chrome-ios-is-it-ju

[2019-10-07 00:52] anuragphadke opened #24925 "AMP validator vs Google Search AMP validator"
## What's the issue?

We have a page that is completely valid as per AMP search validator, however, Google Search AMP validator marks the page as invalid.

## How do we reproduce the issue?

Please provide a public URL and ideally a reduced test case (e.g. on jsbin.com) that exhibits only your issue and nothing else. Provide step-by-step instructions for reproducing the issue:

For URL: https://am

[2019-10-07 01:19] #24925 closed

[2019-10-07 01:20] anuragphadke commented on #24925
invalid issue on my end, had a bad cached copy.

[2019-10-07 06:11] erwinmombay commented on #24787
@nainar do you see any downsides propagating all `data-*` attributes on to amp-img?

[2019-10-07 07:38] sebastianbenz commented on #24927
Thanks for filing this Matt! This will also become relevant once we will officially support self-hosting the runtime. It'd be nice to have a way to do this that doesn't require rewriting the runtime bundles. Maybe `<meta name="runtime-host" content="example.com">`? We could ensure via the validator that this is only allowed if `<html transformed="XXXXX">` is set.

//cc @honeybadgerdontcare

P.S. S

[2019-10-07 08:51] dcombe commented on #19134
Any update on this ?

[2019-10-07 10:51] vigneshcamar commented on #23166
@choumx @lannka
Hi Guys,

We are preparing a design document for the Javascript component.
Can you let us know when you guys will be free for a design review for the same?

Regards,
Vignesh

[2019-10-07 11:32] nainar commented on #24787
No, in fact we should have done this before. Like making Instagram and pinterest embeds work well.

[2019-10-07 12:41] jaygray0919 commented on #24704
saw something similar in user source that may cause a problem:  `\">her</a>`

[2019-10-07 12:54] skyzanellap commented on #24246
Hi, I have the same error. Can you help me to solve it?
In console I noticed this error:
`
Uncaught (in promise) TypeError: Cannot read property 'promise' of null
    at nb (amp-video-iframe.js:389)
    at Z (amp-video-iframe.js:376)
    at W.push.f.g.pause (amp-video-iframe.js:411)
    at W.push.f.g.pauseCallback (amp-video-iframe.js:406)
    at HTMLElement.Ej.b.pauseCallback (custom-element.js:1

[2019-10-07 13:10] p2er opened #24929 "amp-img side scroller does not load offscreen images"
## What's the issue?

The amp travel demo shows a teaser slider with images. Once in mobile viewport native scrolling is used instead of the usual amp-carousel for slidable content. That allows for different content dimensions due to flowing text on mobile compared to desktop. Unfortunately the images at least one viewport width sidewards in the scrollable container are no longer loaded. This did

[2019-10-07 13:15] iamschulz opened #24930 "Can't use <section> within amp-accordion"
## What's the issue?
Using `<section>` nested within the content of `<amp-accordion>` causes the validator to throw an error:
```The parent tag of tag 'amp-accordion > section' is 'div', but it can only be 'amp-accordion'.```
The page renders and functions just fine in all browsers, I just get the error from the validator.
I expect to be able to use semantic html5 tags, such as section, within an

[2019-10-07 13:30] 7110 commented on #24541
@sparhami
I think this `amp-carousel` bug https://github.com/ampproject/amphtml/issues/24844 which  is not been cured yet by https://github.com/ampproject/amphtml/pull/24771 .
`amp-carousel` will go next even when scrolling in the X-axis direction.

http://hml.vivo4g.clientes.ananke.com.br/videos/erro-carousel-iphone2.webm

iOS 13.1.2 Safari (iPhone7, iPhoneX, etc...)

Please check this bug 🙇🙇🙇

[2019-10-07 13:31] robertveramrf opened #24931 "Top stories carousel in Google search results page"
## What's the issue?

Top stories carousel in google serp is not showing the logo, only a fallback text.

Structured data validation tool is validating the structured data as correct and showing the logo in the preview.

## How do we reproduce the issue?

Make a search for **01net** in France location and french language. No logo in the carousel.

## What browsers are affected?

All browsers.

##

[2019-10-07 13:58] 7110 commented on #24541
@sparhami
I think this `amp-carousel` bug https://github.com/ampproject/amphtml/issues/24844 which  is not been cured yet by https://github.com/ampproject/amphtml/pull/24771 .
`amp-carousel` will go next even when scrolling in the X-axis direction.

http://hml.vivo4g.clientes.ananke.com.br/videos/erro-carousel-iphone2.webm

iOS 13.1.2 Safari (iPhone7, iPhoneX, etc...)
(used `dist/v0/amp-carousel-0

[2019-10-07 14:03] caroqliu commented on #24848
Thank you for filing this issue! I will take a look at this.

[2019-10-07 14:10] newmuis commented on #19134
This is not being actively implemented at the moment. I don't think we'll have an update here for a few months, but it's something we're still exploring on the UX side.

[2019-10-07 14:37] honeybadgerdontcare commented on #24930
This is working as intended. The element `section` must be a child of `amp-accordion`.  In this case the parent of `section` is `div`. One could put the `div` as a child of `section` instead.

Note the [documentation](https://amp.dev/documentation/components/amp-accordion/) explicitly states:
[code]

[2019-10-07 14:37] #24930 closed

[2019-10-07 14:42] choumx commented on #23166
See schedule here: https://github.com/ampproject/amphtml/blob/master/contributing/design-reviews.md

[2019-10-07 14:52] Enriqe commented on #24417
@jeffjose can you take a look at their configuration and see if they're missing something? They are using the default configuration specified in the blog post using Global Site Tag, which I'm not familiar with. Their config:

[code]

[2019-10-07 14:52] wassgha commented on #24848
I can't reproduce this anymore. Looks like it was fixed on AddThis' side. Closing for now, if this is still reproducible please reopen the issue.

[2019-10-07 15:02] wassgha opened #24932 "Add e2e tests for `amp-addthis`"
Add tests to prevent issues like #24848 in the future.

/cc @taojing10 @dmvjs @pjcunnin @matthinegardner

[2019-10-07 15:27] gilbertococchi opened #24933 "Configurable timing for "add to home screen" e.g. beforeinstallprompt"
Hi all, I've tried to prevent the Chrome PWA Mini-Info bar showing by intercepting the beforeInstallPrompt event via Amp-Script in this [demo](https://developers.google.com/web/fundamentals/app-install-banners) but it doesn't seem to work.

https://amp-beforeinstallpropmpt.glitch.me

Can we support this event into the AMP-Script Worker DOM if possible to be able to control the showing of the [PWA

[2019-10-07 15:35] cramforce commented on #24915
Could it be that something in that script is catching and not reporting the errors? Our global error handler should otherwise report them.

[2019-10-07 15:38] vigneshcamar commented on #24592
Hi Team,

Can we use this slot for getting the design reviewed for the below mentioned issue?
https://github.com/ampproject/amphtml/issues/23166#issuecomment-539045751

Regards,
Vignesh

[2019-10-07 16:08] jburgyan commented on #24372
Is there any new on this? As for now it renders the https://amp.dev/documentation/examples/components/amp-recaptcha-input component unusable...

[2019-10-07 16:27] rcebulko opened #24936 "Update Prettier config to format OWNERS files"
https://github.com/ampproject/amphtml/pull/24934 migrates all OWNERS.yaml files to the new JSON5 format, but there's the risk of contributors breaking the new syntax or the preferred style/format. Per this comment (https://github.com/ampproject/amphtml/pull/24934#discussion_r332106377), we should be able to apply standard styles to these files.

/cc @rsimha

[2019-10-07 16:37] mattwomple commented on #24740
Just playing around here a bit. I notice that when `getLoaderServicePromise()` is called in `loader.js` when the second page loads, global variable `loaderServicePromise` is still defined. If I set it to null before the `if (!loaderServicePromise)` check, then the image loader works fine on the second page. Does this indicate that loader is not being properly disposed in `shadowDoc.close()`?

[2019-10-07 16:52] Guzzler commented on #24757
Hey I would like to claim this issue and create a PR. A newcomer to contributing to open source but from what i understand is the change just to update the amp-access documentation to include both the types of scripts?

[2019-10-07 16:58] archon810 commented on #24848
@caroqliu I'm still able to reproduce it as per the original ticket.

[2019-10-07 17:01] archon810 commented on #24848
I absolutely don't understand why though, as it happens to even the newest articles, like https://www.androidpolice.com/2019/10/07/samsung-pay-beta-adds-international-money-transfers-and-prepaid-samsung-pay-cash-card-apk-download/?amp, but only on my main phone (OnePlus 7 Pro).

How can there be such a long persistent addthis cache that would reference old 404 scripts even in new posts, and only o

[2019-10-07 17:02] archon810 commented on #24848
Please reopen.

[2019-10-07 17:19] sparhami commented on #24929
If it worked before, I would guess that it was due to the `layers` experiment (which was at 100% on canary for a while), which was never launched. AMP has never really handled horizontal scrolling containers for loading amp elements.

One restriction for `amp-carousel` is that the height of the carousel must be known up front, which is enforced by the layouts it supports. I think that could be rel

[2019-10-07 17:22] wassgha commented on #24848
Have you tried incognito mode, clearing cache, etc?

[2019-10-07 17:27] gmajoulet opened #24940 "Auto advance after with similar video ID"
From @newmuis

Example:
https://server.makestories.io/preview/-LoQGKHPmkyBjU25e5XP

[2019-10-07 17:28] sparhami commented on #24907
Both https://validator.ampproject.org/ and https://search.google.com/test/amp think the AMP markup in https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fstyle-layout%2Ftab_panels_with_amp-selector&format=websites is valid. The amp-selector validator file seems to specifically allow children to have the `option` and `selected` attributes.

A quick search for

[2019-10-07 17:36] jridgewell commented on #24929
We plan to fix Resources to detect scrolling and invalidate the position-coordinates of the scrolled elements. When the elements are remeasured, we'll be able to load them.

[2019-10-07 17:39] sparhami commented on #24881
The `amp-autocomplete` is not yet valid in the email format. I know @caroqliu is working on some autocomplete functionality for emails. t I think for the basic component, it is only a matter of the email format working group being comfortable with allowing the component in the current state.

[2019-10-07 18:17] p2er commented on #24929
For now it might be a good idea to update the example templates. We used to focus on `amp-carousel` in our team until the templates where introduced with the new amp.dev at amp conf. Sparked a lot of discussion on how to solve flexible teaser content without restricting the authors in text length. Happy to hear that @jridgewell keeps this option alive. Any idea on when this option might work again

[2019-10-07 18:17] gmajoulet commented on #16626
Borders are still visible on some stories.

[2019-10-07 18:21] jridgewell commented on #24929
It's low priority for me since this is the behavior it's had for years. Maybe before the new year?

[2019-10-07 18:22] jridgewell commented on #24929
What templates are you talking about?

[2019-10-07 18:25] p2er commented on #24929
The example templates: https://amp.dev/documentation/templates/
Especially travel, which we looked at for our own implementation before noticing that the behaviour no longer works.

[2019-10-07 18:30] jridgewell commented on #24929
Ah, these are using SVGs to get around the amp-img loading requirements.

[2019-10-07 18:33] p2er commented on #24929
The problem is further down at the Top Adventures near you section, where actual images are used in the teasers.

[2019-10-07 18:40] jridgewell commented on #24929
@choumx: Should we prioritize the Resources fix?

[2019-10-07 19:14] caroqliu commented on #24590
I'd like to discuss the new inline autocomplete feature described in #24582

[2019-10-07 19:32] archon810 commented on #24848
In Incognito, it does work, but there should be no technical reason why this issue should persist for so long without having to clear cache. As I mentioned, I loaded newly posted posts, and the issue was present there, so it's not something that can be cleared by refreshing the page or loading a new one. Things like this should not happen. What could this be?

[2019-10-07 20:00] rsimha opened #24942 "Don't run all PR checks for `OWNERS`-only changes"
Today, changes to `OWNERS` files fall under the build target corresponding to the directory in which the file is located (`RUNTIME`, `VALIDATOR`, etc.). Let's make it so that `OWNERS` files have their own build target category.

This could be done in two parts:
1. Stop running unnecessary checks (like unit tests, etc.) for OWNERS files
2. Start running `OWNERS` parsing checks (once the owners bot

[2019-10-07 21:02] #24618 closed

[2019-10-07 21:08] jridgewell commented on #24929
Maybe a week to make sure tests pass and I don't break amp-carousel.

[2019-10-08 00:42] MehdiSv commented on #19463
Hi @avimehta ! Your previous comment worked perfectly!

Unfortunately, since the version 0.9.98.13 it stopped working.

Is there a new format that needs to be used now?

Thanks!

[2019-10-08 01:21] micajuine-ho commented on #23356
To shed a little more light onto the problem, here's what was happening:

The `video-manager` would receive the VideoEvents.LOADED signal from the ima-video to say that the video was ready to be played. However, it was not guaranteed that the actual `duration` of the ima-video had been updated.
So when we throttled the network, the LOADED event would fire, but the duration  would be `NaN`.
The `Na